[2017-06-14 03:41] glennw commented on #17308
cc @jdm

[2017-06-14 03:51] glennw commented on #17308
The demo creates 320 elements for the moving physics bodies, and 3 static elements for the walls in the demo. Apart from that and the FPS counter, that should be all the elements that exist in the scene. Every element uses absolute positioning.

[2017-06-14 04:16] glennw opened #17309 "Slow performance in webrender-demos/spheres.html"
Test case: https://github.com/pcwalton/webrender-demos/blob/master/spheres.html

The frame rate in the spheres demo is much lower than it used to be.

After some profiling, it seems that the rendering performance is not the bottleneck:

![perf](https://user-images.githubusercontent.com/2350882/27115054-6c2906ec-510b-11e7-8862-7ee94e0bfd4d.png)

Resizing the window to be very small has no effect on

[2017-06-14 04:16] glennw commented on #17309
cc @metajack

[2017-06-14 04:26] sadmansk commented on #17290
@paulrouget Yeap, it crashes for me.

[2017-06-14 04:39] sadmansk commented on #17290
Issue is not isolated to windows, the nightly build for linux also crashes for me with the same error.

[2017-06-14 05:26] sadmansk commented on #17290
I'm having a hard time reproducing the error when building from source, but I think the culprit is this, in file `components/config/opts.rs:647:`:
[code]
In case the parsing fails, it issues a warning and then tries to call `ok()` on `Err(error)`. In that case, should I replace `Err(error)` with `Ok("")` or `Ok("about:blank")`?

[2017-06-14 05:32] paulrouget commented on #17290
Which is fine. It will return `None`, which is what we expect.

[2017-06-14 05:39] paulrouget commented on #17290
@sadmansk:

on Linux, do this: `export RUST_BACKTRACE=1`. This will give you more details about the crash.

[2017-06-14 05:41] sadmansk commented on #17290
@paulrouget This is the output:
[code]

[2017-06-14 05:49] joshumax commented on #17290
Here's my backtrace -- looks the same but I haven't diffed it with the one above:

[code]

[2017-06-14 05:49] paulrouget commented on #17290
In main.rs:

[code]

`PREFS.get("shell.homepage").as_string()` might return something, but not a valid a url?

[2017-06-14 05:50] paulrouget commented on #17290
"shell.homepage" is a local file.  It needs to go through `parse_url_or_filename` to become a valid url.

That's why it's crashing.

[2017-06-14 05:53] sadmansk commented on #17290
@paulrouget just so it's clear, it should become:
[code]
?

[2017-06-14 06:05] paulrouget commented on #17290
I think this should do it:

[code]

I haven't tried.

But the unwrapping soup is confusing. Maybe you can simplify this with more steps:

[code]

[2017-06-14 06:08] paulrouget commented on #17290
(I've updated the code in my latest comment)

[2017-06-14 07:59] imiuka commented on #10045
i'm quite sure the root cause for this issue is https://github.com/servo/servo/issues/17267

[2017-06-14 08:57] LifeIsStrange commented on #12130
@meecoffee you could Help instead of flaming. They obviously know that android is a priority because nowadays people surf more on the Web with smartphones/tablets than on PC.
But they have legitimate others priorities, firstly servo isn't ready, it's a pre alpha.
Secondly they are busy working on stylo and webrender (the new css engine and gpu renderer) which will impact real world people because

[2017-06-14 09:37] zarazek opened #17314 "document.close() invocation causes double close and assertion fail."
Page [wpolityce.pl](http://wpolityce.pl) contains script with "document.close()", which causes double close and assertion fail in script::dom::DocumentLoader::finish_load. First invocation (through script):
#0  script::document_loader::DocumentLoader::finish_load (self=0x7fffcfadb380, load=0x7fffdfdf1dc0) at /home/osboxes/servo/servo/components/script/document_loader.rs:144
#1  0x000055555724dd94

[2017-06-14 09:42] emilio commented on #17314
cc @nox

[2017-06-14 12:30] duckinator opened #17319 "loading image asynchronously before page load causes failed assertion"
Loading an image asynchronously (e.g. `setTimeout` or the load event of an XMLHttpRequest),  before `window.onload` is triggered causes a failed assertion in `script/document_loader.rs`.

Loading it synchronously(?) (e.g. just calling the function directly) or in `window.onload` makes it work fine.

---

This is the error I get (stack trace removed; see below):

[code]

And sometimes this error re

[2017-06-14 12:56] MortimerGoro opened #17320 "Over-alignment assert crash on Android (using ThinArc in Selector)"
After https://github.com/servo/servo/commit/27568de567b4e16cc6f570715f6d65d812100e32 landed Servo crashes with this assert failure on Android:

[code]

Info of involved types:
`mem::align_of::<selectors::parser::Component<servo::selector_parser::SelectorImpl>() = 8`
`mem::align_of::<usize>() = 4`

[2017-06-14 12:57] MortimerGoro commented on #17320
cc @bholley

[2017-06-14 13:18] duckinator opened #17321 "sans-serif font makes list item bullet render incorrectly"
List item fonts show up as font fallback box glyphs if you set the font family to sans-serif.

![screenshot_2017-06-14_09-06-18](https://user-images.githubusercontent.com/39698/27133692-1547a07e-50e1-11e7-9341-809f97d6a3b9.png)

[code]

Changing to `font-family: sans-serif, serif;` makes it work.

![screenshot_2017-06-14_09-17-24](https://user-images.githubusercontent.com/39698/27134046-52fff834-5

[2017-06-14 13:21] duckinator commented on #17321
Possibly related to #17267 and #10045, but I'm not sure.

`fc-match` output, since it seems potentially-relevant:

[code]

[2017-06-14 13:23] jdm commented on #17243
This is not a permanent fail now, just a frequent intermittent failure.

[2017-06-14 14:01] vatula opened #17322 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:

### Servo Version:
Servo 0.0.1-849bdc958c
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-14 14:05] jdm commented on #17322
Do you now what page you were looking at?

[2017-06-14 14:08] highfive commented on #17319
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-14 14:08] jdm commented on #17319
We should be calling `terminate()` on any existing load blocker before reassigning it in https://dxr.mozilla.org/servo/rev/c6da6ba06057ec488521edb19f33592f4e98c3d4/components/script/dom/htmlimageelement.rs#496 .

[2017-06-14 14:08] jdm commented on #17319
e.g. https://dxr.mozilla.org/servo/rev/c6da6ba06057ec488521edb19f33592f4e98c3d4/components/script/dom/htmlimageelement.rs#286

[2017-06-14 15:23] duckinator commented on #17319
Okay, so I [have it working](https://github.com/duckinator/servo/commit/2ff6fe3208226380495bfca7fbebccf726616ddf) (tested manually), but I'm not sure where the test should go.

[2017-06-14 15:48] duckinator commented on #17319
I managed to [get it working](https://github.com/duckinator/servo/commit/2ff6fe3208226380495bfca7fbebccf726616ddf) (tested manually), but I have absolutely no idea where to start with adding a test for this.

[2017-06-14 16:53] bholley commented on #17320
Hm, that's weird. Is this a 64-bit platform which allows half-aligned words, or is there something in Component that's causing it to be over-aligned?

[2017-06-14 17:06] MortimerGoro commented on #17320
It's a 32 bit compilation (armv7): usize is 4 bytes. Component seems to use 8 byte alignment so they don't match.

Is it possible to use u64 instead of usize in ThinArc? That would fix the issue.

Another alignment issue I fixed some time ago: https://github.com/servo/servo/pull/16833

[2017-06-14 17:09] jdm commented on #11775
hyper 0.11 has been released with async support, and 0.10.x will be the last release that supports sync i/o.

[2017-06-14 17:14] bholley commented on #17320
It's really not great to over-allocate on 32-bit, which could cause us to spill into the next jemalloc bin. It seems like we should just branch when computing |buffer| depending on whether T is over-aligned. The branch should compile away in optimized builds.

Also, this isn't related to ThinArc AFAICT. It's about Arc<HeaderSlice<H, [T]>>.

[2017-06-14 17:17] jdm commented on #17319
https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests describes how to add new test files; this one would be a non-reference test and belongs in tests/wpt/mozilla/tests/mozilla, since it's not testing any particular property of the HTML specification. Making an [async test](http://web-platform-tests.org/writing-tests/testharness-api.html) that completes when the image's

[2017-06-14 19:00] brainlessdeveloper commented on #17300
@highfive: assign me

[2017-06-14 19:00] highfive commented on #17300
Hey @brainlessdeveloper! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-14 21:36] hgallagher1993 commented on #16825
Cool, I'll have a look into setting up that environment, I'll try and get some code going first though (which I'll most likely have questions on in the next day or 2)

[2017-06-14 22:49] jonathandturner opened #17327 "Text highlighting doesn't respect scrolling below the fold"
This seems similar to the issue with had with click areas not respecting scrolling (https://github.com/servo/servo/issues/16504 and https://github.com/servo/servo/issues/16405).  If you scroll down the page and try to highlight some text, it will ignore that you've scrolls and highlight text as if you were still above the fold.

Here's an example of me scrolling down the page and highlighting star

[2017-06-14 23:19] jonathandturner opened #17329 "Slowness in EmberPerf"
I did a comparison of EmberPerf's performance between Servo and the most recent stable Firefox, Safari, and Chrome.

You can see that generally Servo is the slowest of the bunch, though there are a couple places that Servo does decently.

![screen shot 2017-06-12 at 14 02 14](https://user-images.githubusercontent.com/547158/27158677-46ba6750-51bc-11e7-8ff9-ad97a5b2a7a0.png)

[2017-06-14 23:22] emilio commented on #17329
JSC people are gross.

[2017-06-14 23:22] emilio commented on #17329
JSC people are gross.

[2017-06-14 23:22] emilio commented on #17329
Getting profiles for this could be useful. For example, @glennw filed #17308 this morning, and we already found a bunch of dumb stuff going on (#17315)

[2017-06-14 23:23] emilio commented on #17308
@glennw is stuff better here after #17315? I can look into this more if you want.

[2017-06-14 23:24] jonathandturner commented on #17329
@emilio - I'd be happy to help.  What's the best way to get a profile?

[2017-06-14 23:24] jonathandturner commented on #17329
@emilio - I don't understand why you're calling people gross.

[2017-06-14 23:28] glennw commented on #17308
@emilio I'll profile again and post results here, thanks!

[2017-06-14 23:41] emilio commented on #17329
Sorry, my fault, not a native english speaker and got it wrong. Meant it in the sense that they're awesome JIT compiler writers, thanks for the correction. I've edited the comment.

[2017-06-14 23:45] emilio commented on #17329
`perf record` works fine on Linux, we have a `-p` option to set a profile interval, but I think @glennw has reported before it may be lying some times? So perf (or instruments on OSX, maybe?) may be good tools.

I can also take a look if you tell me a good way to get STR... Though I guess it's just loading and running http://emberperf.eviltrout.com/... I can get some profiles.

[2017-06-14 23:48] jonathandturner commented on #17329
Yeah, to get it working I just tried running http://emberperf.eviltrout.com/ through all the default tests.  Sometimes it takes a couple tries since you might get an error that something isn't defined sometimes.

[2017-06-14 23:48] jonathandturner commented on #17329
I'll look into instruments on macOS and see what I can see

[2017-06-15 00:11] emilio commented on #17329
From a quick look with `perf record`, it's relatively hard to get some clear numbers on what's slow, apart from the JS engine. The fact that we're using a really old SpiderMonkey doesn't help either... :(

I've seen `Stylist::set_device` and `RuleIterator::next` appear in the profile, going to take a look at them. The fact that the style locks still appear around doesn't make me super happy (cc @S

[2017-06-15 04:30] imiuka commented on #17321
hey there @duckinator! how does this snippet render?

[code]

i assume this is on linux?

[2017-06-15 07:05] mantaroh opened #17335 "The reftest will be timeout with unfinished css-animations."
In #17288, I faced that the reftest will be timeout with unfinished animation. Even if we use `reftest-wait`, servo will not stop the reftest.

For example, if we run following example reftest, reftest can't stop since animation is unfinished.(animation is paused)

[code]

[2017-06-15 07:27] imiuka commented on #16476
yeah. to further illustrate, the current code returns these font metrics for segoe ui at 40px. if you look closely, the current algorithm for windows reports a line gap of 21px for a 40px font size, which obviously cannot be correct.

![uh oh](https://user-images.githubusercontent.com/975570/27169925-589f0452-51ef-11e7-89c4-3e093675350e.png)

[code]

(this is windows specific)

[2017-06-15 09:21] pyfisch commented on #15684
Can't this be a [system time](https://doc.rust-lang.org/std/time/struct.SystemTime.html)?

[2017-06-15 09:50] nox commented on #15684
No, these are too opaque for our needs AFAIK.

[2017-06-15 11:03] jacksonkyle opened #17336 "assertion failed: self.attached_counter.get() == 0"
assertion failed: self.attached_counter.get() == 0
### URL:

### Servo Version:
Servo 0.0.1-2209566
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-15 12:19] NiLSPACE commented on #12089
@notriddle this is fixed for me.

[2017-06-15 13:19] jdm commented on #17335
The compositor will not output a screenshot if any document contains non-expired animations: https://dxr.mozilla.org/servo/rev/b0392dbf39d36f19cd16ec06e29b6aca6e6135e2/components/compositing/compositor.rs#1390-1397

[2017-06-15 13:20] jdm commented on #17336
Do you know what page you were looking at?

[2017-06-15 16:17] jdm commented on #16556
ws-rs does not appear to be using serde: https://github.com/housleyjk/ws-rs/blob/master/Cargo.toml

[2017-06-15 17:17] pyfisch commented on #17327
Note: Text highlighting with mouse is not supported in servo yet. (At least it does not work for me.) The code example uses the [Ace editor](https://ace.c9.io/) which somehow (probably servo sends wrong position) highlights the wrong text sections.

[2017-06-15 18:08] duckinator commented on #17319
Rebased again. Going to try adding a test, now. 👍

[2017-06-15 18:21] codec-abc commented on #16476
What you can do is dump the values of the struct returned by the DirectWrite API. As we already summing three fields in the struct to compute the baseline I would be suprised if we need to add more. Maybe it is a problem of sign in the line of the linegap value or a unit problem.

[2017-06-15 18:43] jdm commented on #17327
It would be worth checking if this is reproducible using a regular textbox.

[2017-06-15 18:49] pyfisch commented on #17327
Since regular textboxes do not support highlighting yet: No it isn't. See issue #10083

There are weird things going on with positions and scrolling but they also happen with regular divs.

[2017-06-15 19:08] pyfisch opened #17342 "Scroll offset change for both document.body and document.documentElement"
Take this [document](https://gist.github.com/pyfisch/eb624bffa9d21177519099ebd065a040). It tells you where in the blue rect the cursor is placed when you click it. It also prints out some debug information to the console. If you scroll it to the bottom:

* in Chrome: `document.body.scrollTop` is changed
* in Firefox: `document.documentElement.scrollTop` is changed
* in Servo: both are changed by t

[2017-06-15 19:17] emilio commented on #17342
The scrollTop behavior in Blink is a known Blink bug btw, and they're trying to interop, but it happens to be hard :)

https://bugs.chromium.org/p/chromium/issues/detail?id=157855

[2017-06-15 19:35] jdm opened #17344 "Event handlers on closed pipelines can trigger panics"
This turns out to be a generalization of #16057 which I realized when thinking about whether #17323 was testable.
[code]

[2017-06-15 19:38] jdm commented on #17344
When I run this test in Firefox, adding a console.log to the handler demonstrates that Firefox happily invokes the event handler. We may need to change how we implement `Window::clear_js_runtime` and the DOM APIs that query layout if they need to be able to work after a document no longer exists.

[2017-06-15 19:41] jdm commented on #17327
Highlighting is supported by the keyboard, not the mouse.

[2017-06-15 19:52] pyfisch commented on #17342
This seems to be the relevant function: https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1709

For me it looks like it correctly switches between quirks mode  with `document.body.scrollTop` and standards mode with `document.documentElement.scrollTop`. But it somehow triggers both paths.

[2017-06-15 20:36] pyfisch commented on #17342
I have a patch that may fix it.

[2017-06-15 21:15] duckinator commented on #17319
Added a test and opened a PR.

[2017-06-15 22:37] hinaria commented on #16476
should be fixed in #17340! :D

---
@codec-abc of course, that's is the obvious first step. in any case, it's fixed already!

[code]

[2017-06-15 22:46] atouchet commented on #16057
Should this be marked as fixed now with #17323 merged?

[2017-06-15 23:19] jdm commented on #16057
Yep!

[2017-06-15 23:19] #16057 closed

[2017-06-15 23:23] duckinator commented on #17321
Here's a screenshot of that snippet:

![screenshot_2017-06-15_19-22-26](https://user-images.githubusercontent.com/39698/27205652-10851826-5200-11e7-8b13-f952b908c4e1.png)

[2017-06-15 23:24] duckinator commented on #17321
And yes, this is on Linux (specifically Manjaro Linux, which is based on ArchLinux).

[2017-06-16 01:02] #17319 closed

[2017-06-16 01:05] #16476 closed

[2017-06-16 04:59] soapdog commented on #17290
Setting RUST_BACKTRACE to 1 on Windows 10 doesn't give me a backtrace as can be seen on the shot below. Is there another way? Is a backtrace from Win 10 wanted?

![select windows powershell 2017-06-16 01 58 14](https://user-images.githubusercontent.com/23247/27212571-4a0e045e-5237-11e7-9ee8-7a0c64b35097.png)

[2017-06-16 05:51] #17194 closed

[2017-06-16 06:55] jonaspm commented on #7379
I definitely would love this!

[2017-06-16 06:57] KiChjang commented on #17131
@neunenak Are you still working on this?

[2017-06-16 09:26] aribl opened #17354 "Build fails on OSX 10.12.5"
Versions:
cargo 0.19.0
rustc 1.18.0

Building with `./mach build --release  ` fails with log:

[code]

[2017-06-16 09:50] zuwow commented on #17280
I was able to remove the option and refactor everything such that RuleNode is now 88 bytes and passing the unit tests. Though I don't know what to do for ptr_equals in the case where they're both None since there's no reference to check. Have it return true, leave it as is and have it be false, or have it panic?

For free_count though I'm a little confused. First, I'm not sure what your proposed f

[2017-06-16 12:53] jdm commented on #17290
It should not be necessary; we have backtrace in a previous comment already.

[2017-06-16 12:57] jdm commented on #17354
If you followed https://github.com/servo/servo/blob/master/README.md#on-os-x-homebrew then you should have yasm installed already.

[2017-06-16 13:31] jdm opened #17357 "Intermittent fail in /css-animations-1_dev/html/css-filters-animation-contrast.htm, /css-animations-1_dev/html/css-filters-animation-combined-001.htm"
[code]

[2017-06-16 13:31] jdm opened #17358 "Intermittent pass in /filters-1_dev/html/css-filters-animation-drop-shadow.htm, /filters-1_dev/html/css-filters-animation-blur.htm, /css-animations-1_dev/html/css-filters-animation-drop-shadow.htm"
[code]

[2017-06-16 13:39] jdm opened #17359 "Replace deprecated Range::step_by() with Iterator::step_by()"
https://doc.servo.org/core/ops/struct.Range.html#method.step_by
https://doc.servo.org/core/iter/trait.Iterator.html#method.step_by

[code]

This will require replacing the existing `#[feature(step_by)]` with `#[feature(iterator_step_by)]` at the very least.

[2017-06-16 13:39] highfive commented on #17359
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-16 14:13] aribl commented on #17354
Ah, sorry. Must've missed yasm when copying the brew install.

[2017-06-16 15:58] metajack commented on #16820
I don't think we are planning 32bit Windows, no. While I'm not opposed in principle if the technical requirements to support it are not large, it would require substantial expansion of our testing budget to keep it working.

[2017-06-16 15:58] #16820 closed

[2017-06-16 16:05] jdm opened #17363 "Make send_profile_data take profiler_chan argument by reference"
This will allow us to pass borrowed channel arguments to it, rather than unnecessarily cloning them.

Code: `components/profile_traits/time.rs`

[2017-06-16 16:05] highfive commented on #17363
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-16 16:32] bholley commented on #17280
It should panic, and the callers should check for None.

Wow, nice find! That basically means we'll never GC the rule tree until the document is torn down, which is really bad. I'll fix that, and handle the sibling-pointer-reuse thing while I'm at it. So just focus on the StyleSource thing.

[2017-06-16 16:36] bholley commented on #17280
Filed [1] on the free count thing.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1373725

[2017-06-16 17:06] #16387 closed

[2017-06-16 17:39] jdm commented on #16636
This change was made.

[2017-06-16 17:39] #16636 closed

[2017-06-16 17:43] ibmandura commented on #15219
I would like to tackle this one

[2017-06-16 17:47] jdm commented on #14553
We have fixed all know instances of the original issue that was reported, and I believe the mixer.com one was due to #17120. I'm going to go ahead and close this.

[2017-06-16 17:47] #14553 closed

[2017-06-16 17:49] jdm commented on #14072
I can't reproduce a panic here any more.

[2017-06-16 17:49] #14072 closed

[2017-06-16 17:49] jdm commented on #13984
Closing due to lack of feedback.

[2017-06-16 17:49] #13984 closed

[2017-06-16 17:53] jdm commented on #12150
I have not been able to reproduce this failure any more.

[2017-06-16 17:53] #12150 closed

[2017-06-16 17:55] jdm opened #17365 "Crash during GC when destroying a runtime"
http://ward.bay.wiki.org/welcome-visitors.html

I spent a bunch of time on that page and then closed the browser. I got this crash:
[code]

[2017-06-16 18:12] cbrewster opened #17366 "Panic: "Atom not found" when setting attribute node"
Test case:
[code]

[2017-06-16 18:14] cbrewster commented on #17366
<details>

[code]
</details>

[2017-06-16 18:55] #17283 closed

[2017-06-16 21:31] asajeffrey opened #17369 "Paint worklets: cache previous results"
At the moment, paint worklets are called every time the display list is built. We should change this to use a (one-place?) cache of previous results.

[2017-06-16 21:32] asajeffrey opened #17370 "Paint worklets: timeout"
We should timeout invoking a paint worklet (e.g. after 10ms).

[2017-06-16 21:35] asajeffrey opened #17371 "Paint worklets: canvas only providing CanvasData rather than an Image"
When we get the `CanvasData` back from a `PaintRenderingContext2D` it just has the `CanvasData` with the image key, rather than the `Image` with (e.g. width, height, and pixel format).

[2017-06-16 21:37] asajeffrey opened #17372 "Paint worklet: recycling paint contexts"
The spec requires a fresh `PaintRenderingContext2D` each invocation, we are recycling them.

[2017-06-16 21:39] asajeffrey opened #17373 "Paint worklets: wait until all threads have finished registering before invoking"
At the moment, the first thread to register a paint worklet causes the paint to be invoked. We should really wait until every thread has finished registration.

[2017-06-16 21:43] asajeffrey opened #17374 "Paint worklets: nondeterministic worklet scripts?"
Worklet scripts might find some source of entropy to become nondeterministic, even if (e.g.) we seed `Math.random` identically in all the worklet threads. I'm not sure what to do if registration is nondeterministic, e.g. if one thread registers `alpha: false` and another `alpha: true` for the same worklet?

[2017-06-16 21:48] asajeffrey opened #17375 "Atoms: hash table lookup without creating an Atom?"
If we have a `HashMap<Atom, Foo>` it would be nice if we could look up a string without first converting it to an `Atom`. The best way to do this would be to implement `Borrow<str>` for `Atom`, but this requires the hash functions for `Atom` and `&str`to agree.

[2017-06-16 21:51] asajeffrey commented on #17375
cc: @SimonSapin

[2017-06-16 21:58] asajeffrey opened #17376 "Paint worklets: "concrete object size""
The spec for "draw a paint image" (https://drafts.css-houdini.org/css-paint-api/#draw-a-paint-image) is defined in terms of the "concrete object size" (https://drafts.csswg.org/css-images-3/#concrete-object-size). We should make sure a) we're doing the right thing, and b) we're doing the same as Chrome, hopefully both.

[2017-06-16 21:59] SimonSapin commented on #17375
The `Hash` impls for `Atom` and `&str` are *not* compatible. In string-cache the former hashes the `u64` representation of Atom, which might be a pointer, an index in a static set, or inline data. In Stylo a `u32` (which is already the result of a C++ hashing function) is hashed.

With Stylo we could add FFI bindings to the hashing function (though taking `&[u16]`, not `&str), but string-cache’s c

[2017-06-16 22:06] asajeffrey opened #17377 "Paint worklets: prepopulate the paint instance when registering a worklet?"
The paint worklet spec for `registerPaint` (https://drafts.css-houdini.org/css-paint-api/#dom-paintworkletglobalscope-registerpaint) doesn't create a paint instance, instead that happens the first time the paint worklet is invoked (https://drafts.css-houdini.org/css-paint-api/#invoke-a-paint-callback).

In our implementation, this means that the primary worklet thread is creating the paint instanc

[2017-06-16 22:12] asajeffrey opened #17378 "Paint worklets: property shorthands"
The spec for registering a new paint worklet (https://drafts.css-houdini.org/css-paint-api/#dom-paintworkletglobalscope-registerpaint) has a note "Note: The list of CSS properties may contain shorthands." We are not currently supporting this.

[2017-06-16 22:14] asajeffrey opened #17379 "Paint worklets: cssText"
We are supporting the non-standard `cssText` property, which is used by houdini-samples. This should preferably be removed, and at least hidden behind a pref.

[2017-06-16 22:15] asajeffrey commented on #17379
The matching houdin-samples issue: https://github.com/GoogleChrome/houdini-samples/issues/16.

[2017-06-16 22:26] asajeffrey commented on #17375
Is there any way to get them to agree? e.g. by storing the hash value in with the string content, and returning that as the hash? (This does mean an extra pointer indirection when hashing atoms, so may not be worth it.)

If we can't get `Atom` to implement `Borrow<str>` can we at least get it to do the lookup without allocating in the case that the atom doesn't exist? A primitive something like `A

[2017-06-17 01:20] bholley commented on #17280
Landed the fix for the other stuff in #17368.

[2017-06-17 01:36] #12797 closed

[2017-06-17 02:34] #17290 closed

[2017-06-17 03:36] SimonSapin commented on #17375
Sorry, my previous answer was outdated. In the case of static and dynamic atoms we do store a hash based on the string’s bytes since https://github.com/servo/string-cache/pull/183. However for inline atoms there is by definition no data structure on the side where we could store it.

As to `if_exists`, we can make it not insert in the process-global hash table of dynamic atoms, but for `length <=

[2017-06-17 03:36] #17320 closed

[2017-06-17 09:38] emilio commented on #17366
This is because `parse_attribute` ensures that id's are `Atom`s, but of course this doesn't go through that path.

[2017-06-17 10:20] jklepatch commented on #17359
@highfive: assign me

[2017-06-17 10:20] highfive commented on #17359
Hey @jklepatch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-17 10:42] o0Ignition0o commented on #17363
@highfive assign me

[2017-06-17 10:42] highfive commented on #17363
Hey @o0Ignition0o! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-17 11:18] jklepatch commented on #17363
@highfive: assign me

[2017-06-17 11:18] highfive commented on #17363
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-06-17 11:20] jklepatch commented on #17363
oops, I sent an "assign me" message while the page wasnt refreshed, so didnt see it had already been assigned. Please ignore my message and leave the original assignee, its fine :)

[2017-06-17 11:22] o0Ignition0o commented on #17363
Hey, no problem, it has also happened to me lately :)

[2017-06-17 12:53] o0Ignition0o commented on #17363
I wonder if I should also refactor the ` pub fn profile<T, F>(category: ProfilerCategory,
                     meta: Option<TimerMetadata>,
                     profiler_chan: ProfilerChan,
                     callback: F)
                  -> T
    where F: FnOnce() -> T ` method, but I don't feel confident enough to make the call, since I don't really understand what it would imply.

[2017-06-17 14:12] jklepatch commented on #17359
I did a first try but didnt succeed. I posted a related question on the Rust issue tracker:
https://github.com/rust-lang/rust/issues/27741

[2017-06-17 14:14] WardCunningham commented on #12150
nightly build works fine on my laptop too. thanks.

[2017-06-17 18:24] cyplo commented on #6480
Does this still reproduce ? (does not have Mac to see)

[2017-06-17 20:57] sadmansk commented on #17273
@paulrouget Hey, just had a quick inquiry. `CefWrap::to_rust(*const cef_string_t)` returns an `&[u16]` value, I have been searching around but I couldn't find a way to convert that to `&str`, what I found was how to convert from utf16 to `std::String`. Since `ServoUrl::parse` takes in a `&str`, that conversion is necessary. Any pointers on how to get from the original `const cef_string_t` to an `&

[2017-06-17 22:04] jdm commented on #17359
You may need to use something like `.iter().step_by(..)` now.

[2017-06-17 22:13] asajeffrey commented on #17375
Ah, if static and dynamic atoms are already storing the hash, then we could just hash inline atoms based on their string content and get the Atom hash to agree with the &str hash? This would allow Atom to implement `Borrow<str>`.

[2017-06-17 22:13] asajeffrey commented on #17375
Yes, gecko atoms might be another story :(

[2017-06-17 22:29] SimonSapin commented on #17375
Given that the hasher is a type parameter of the `hash` method, I don’t know if it’s possible to implement `Hash` with a pre-computed hash (which is necessarily for a given hasher) and have something compatible with `<str as Hash>::hash`.

Also, the exact behavior of `<str as Hash>::hash` has changed several times in the history of Rust. (It’s now hashing the UTF-8 bytes, then 0xFF. At some point

[2017-06-17 22:38] asajeffrey commented on #17375
Oh good point, there are multiple hash functions. We'd have to implement hashing an Atom by hashing its string content, which isn't very efficient.

Not sure what to name the function which returns an Atom. Perhaps `Atom::maybe_from(&str)`? Or `Atom:: from_without_alloc(&str)`?

[2017-06-17 22:42] jdm commented on #17273
CEF strings are UTF-16, while Rust strings are UTF-8. You will need to convert it into a String then obtain the &str from that.

[2017-06-18 03:14] sadmansk commented on #17273
@jdm That's what I was going for. Thanks for the confirmation!

[2017-06-18 03:44] atouchet opened #17387 "Button gradient doesn't match button size on GitHub"
GitHub button in Servo:

![Button in Servo](https://i.imgur.com/B67aEtJ.png)

GitHub button in Firefox:

![Button in Firefox](https://i.imgur.com/pkwp6jT.png)

Tested in Windows 10.

[2017-06-18 04:27] atouchet opened #17388 "Website titles don't show up in sidebar"
I'm not sure if this is a Servo or Browser.html issue but I don't recall running into this earlier.

![Website titles missing](https://i.imgur.com/t97Mou2.png)

Tested in Windows 10.

[2017-06-18 06:23] jklepatch commented on #17359
* In `lib.rs`, I have replaced `#![feature(step_by)]` with `#![feature(iterator_step_by)]`
* in `layout/inline.rs`, I have added `use std::iter::Iterator;` at the top

## Successful attempt:
[code]
I followed this example: https://github.com/servo/servo/blob/master/components/net_traits/image/base.rs#LC53

Although it compiles, It's still not correct because iterating over a range defined with the

[2017-06-18 16:09] jdm commented on #17359
I agree, I don't think that step_by adds anything useful here. Calling rev() will result in more readable code.

[2017-06-18 17:00] ibmandura commented on #15219
@jdm Here are few questions to see if I understood everything:

- Type of `scheduler_chan` should be `Option<Sender<TimerSchedulerMsg>>` instead of `TimerEventRequest`?
- `scheduler_chan` field should be removed from the `WorkerGlobalScopeInit` since it needs to derive `Serialize` and `Deserialize` traits and I don't see a good way to implement `Serialize` for `Sender<TimerSchedulerMsg>`?
I sugges

[2017-06-18 18:21] atouchet opened #17391 "Pin icon in sidebar truncated"
Similarly to #17388 I'm not 100% sure if this is a Servo or Browser.html issue. When opening the sidebar the left side of the pin icon is cut off. I recall that it didn't have this issue in earlier builds.

![Truncated pin](https://i.imgur.com/t97Mou2.png)

Tested in Windows 10.

[2017-06-18 18:48] jdm commented on #15219
* The type of the channel has changed since I first filed this; now `Sender<TimerEventRequest>` is appropriate.
* Yes, you can remove it from `WorkerGlobalScopeInit`. We should be able to use an existing value in every place that tries to get it from that structure instead.
* I recommend running `./mach test-wpt tests/wpt/web-platform-tests/html/webappapis/timers`. If those pass then you can go ah

[2017-06-18 19:08] camlorn opened #17392 "Running tests doesn't work on Windows 10 64-bit"
I get the following error for `mach.bat test --all`:

[code]

And this from `mach.bat test-wpt`:

[code]

I've also tried these in a regular command shell.  My default Python is a 64-bit 2.7 from Anaconda, but I've also tried it against a 32-bit regular install with identical results.

[2017-06-18 21:36] atouchet opened #17396 "Issues with rounded search box corners on DuckDuckGo"
Page: https://duckduckgo.com/html

The corners of the search box on DuckDuckGo appear to noticeably less round in Servo than in other browsers and have some pixel artifact issues when examined closely.

The search box in Servo:

![Servo search box](https://i.imgur.com/VxNnuiz.png)

The search box in Firefox:

![Firefox search box](https://i.imgur.com/OKJtnoM.png)

Zoomed comparison (Servo on the l

[2017-06-19 04:17] atouchet commented on #17114
I'm not able to reproduce this in the latest nightly build.

[2017-06-19 04:17] #17114 closed

[2017-06-19 04:21] glennw opened #17399 "Performance issue in CSSStyleDeclaration::set_property"
I'm profiling the Multiply test in the MotionMark benchmark suite - the major bottleneck in this test is the rAF call.

In this test, most of the time is spent in the (many) calls to ```set_backgroundColor``` and ```set_Transform```.

![s1](https://user-images.githubusercontent.com/2350882/27269387-d41c9b46-54f9-11e7-825e-cde6ade0ac05.png)

If we zoom in on these calls, we seem to spend a lot of t

[2017-06-19 04:21] glennw commented on #17399
cc @emilio @jdm @bholley @SimonSapin since I'm not sure who knows this stuff best.

[2017-06-19 04:27] glennw commented on #17399
Hmmm, I wonder if there is a (relatively) easy way I could hack out the ToCss usage in setProperty, for testing the potential improvement locally?

[2017-06-19 04:32] atouchet commented on #17396
Well now I'm getting different results in the latest nightly. The corners still don't match up 100% to Firefox but the errant pixel colours are gone.

New results:

![Servo search box](https://i.imgur.com/hKNmcsr.png)

Zoomed comparison (initial Servo result on the left, new Servo result on the right):

![Servo search box](https://i.imgur.com/f0WosEZ.png)

I'm closing this for now as I don't think

[2017-06-19 04:32] #17396 closed

[2017-06-19 05:34] atouchet commented on #14820
I'm able to load the page although it does have a number of visible issues.

[2017-06-19 05:41] glennw commented on #17399
Applying the follow diff as a hack changes the frame rate on my machine from 39 to 52 fps in this test.

[code]

[2017-06-19 06:12] KiChjang commented on #17220
I personally use https://public.etherpad-mozilla.org/p/servo-dom-missing-pieces for reference. That is more accurately updated, but it only marks remaining work that needs to be done on the DOM/script side.

[2017-06-19 07:07] SimonSapin commented on #17399
`ToCss` here is used to update the string backing `Element.getAttribute("style")` and selectors like `[style^=font]`. It looks like this is done eagerly whenever a setter of `Element.style.something` is used. Instead we should have a "dirty bit" and only serialize lazily when we need the actual string. This is tricky in particular for the selector case because we do selector matching on multiple t

[2017-06-19 07:11] paulrouget opened #17401 "Constellation: there should be one focused pipeline by top level browsing context id"
At the moment, there is one global focused pipeline.

The actual focused pipeline being the focused pipeline under the last top level browsing context sent to the compositor.

[2017-06-19 08:58] emilio commented on #17399
I think the right fix for this, in particular for the style attribute is not storing the serialized string anywhere. This also applies for other attribute values, fwiw...

[2017-06-19 10:11] #17354 closed

[2017-06-19 12:14] plexigras opened #17403 "build error due to python3 being default version"
[code]

[code]

[2017-06-19 13:20] SimonSapin commented on #17399
Gecko serializes and caches the string on demand, but does not cache when in a servo restyling traversal (i.e. when off-main-thread).

[`case eCSSDeclaration` in `void nsAttrValue::ToString(nsAString& aResult) const`](http://searchfox.org/mozilla-central/rev/7cc377ce3f0a569c5c9b362d589705cd4fecc0ac/dom/base/nsAttrValue.cpp#643-661)

[2017-06-19 13:21] staktrace commented on #6480
If I follow the STR now I get slightly different results. The window opens with some garbage but then the webpage gets painted. The console output shows a bunch of backtraces, but servo itself doesn't crash.. until I start scrolling. As soon as I scroll, the window closes and servo exits with return value 101. Here's the full output from the run, from servo cset e41b7d06b473544755902be2c1334a7622c

[2017-06-19 14:00] zuwow commented on #17280
Created pull request #17404 for this.

I ended up creating `is_some()` instead of `is_none()` since that made the code that calls it more clear (no need to do `! is_none()`).

[2017-06-19 14:25] atouchet commented on #16507
@mangecoeur are you still experiencing this issue on macOS?

[2017-06-19 16:49] jdm commented on #17230
Still happening, with a slightly different backtrace:
[code]

[2017-06-19 17:25] jdm opened #17407 "Intermittent failure in /_mozilla/css/iframe/frameborder_a.html"
[code]

[2017-06-19 17:44] Eijebong commented on #15724
I'll do it unless anyone else is already doing it

[2017-06-19 17:53] jdm commented on #17407
<img width="818" alt="screen shot 2017-06-19 at 1 52 59 pm" src="https://user-images.githubusercontent.com/27658/27298446-a4cbdc06-54f6-11e7-89ac-5c91c1e1a5b1.png">

Same problem as other iframe tests, but the iframe contents are missing in the reference page this time.

[2017-06-19 18:05] Eijebong commented on #15724
Copying the list since I can't edit your issue :)

[ ] clang-sys
[ ] clap
[ ] cocoa
[ ] openssl
[ ] png
[ ] syntex_syntax
[ ] webrender
[ ] websocket
[ ] xml-rs

[2017-06-19 18:15] camlorn commented on #17392
Appveyor runs only `test-unit`.  This works locally.

[2017-06-19 18:19] asajeffrey opened #17408 "Nested requestAnimationFrame not being fired if reftest-wait is set"
A minimal example:
[code]
produces:
[code]

[2017-06-19 18:20] asajeffrey commented on #17408
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=19+Jun+2017&e=19+Jun+2017#c701330

[2017-06-19 18:42] camlorn commented on #17392
I've looked into this some more.  It's actually a bunch of small issues:

Some mach commands such as `mach test` fail because of Python errors.  Others rely on bash scripts or Linux commands, which can't ever work on windows.

I was hoping it'd be an easy and quick fix.

[2017-06-19 19:13] notriddle commented on #15724
Opened <https://github.com/google/pulldown-cmark/pull/70>, since I have a Google account.

[2017-06-19 19:24] Eijebong commented on #16556
I think this can be closed now

[2017-06-19 19:31] #16556 closed

[2017-06-19 19:35] jdm commented on #17392
https://github.com/servo/servo/pull/14039 means that @metajack got test-wpt working late last year. Apparently something regressed since then, but maybe there is useful inspiration to be found?

[2017-06-19 19:41] metajack commented on #17392
According to http://build.servo.org/builders/windows-msvc-dev/builds/3134 we aren't running wpt tests in automation. I thought we were.

That error is similar to one that I was sure we fixed. This looks like the one I'm thinking of: https://github.com/w3c/wpt-tools/issues/163

[2017-06-19 19:42] metajack commented on #17392
Here's the patch I made back then: https://github.com/w3c/wpt-tools/pull/139

[2017-06-19 19:53] aweinstock314 commented on #17271
I've merged https://github.com/aweinstock314/rust-clipboard/pull/42.

[2017-06-19 19:59] jonathandturner commented on #16720
I filed a follow-up bug around the EmberPerf performance numbers here: https://github.com/servo/servo/issues/17329

[2017-06-19 21:22] camlorn commented on #17392
It looks like we're maintaining a local copy.  Is this correct?  Is the goal here to have a PR both against us and them?

The repository for WPT has moved if it matters and anyone here didn't know.

[2017-06-19 21:29] jdm commented on #17392
A PR against Servo is fine. It will be easier to figure out if/how it needs to be upstreamed once it's working locally; it's a complicated situation right now.

[2017-06-19 21:41] #17408 closed

[2017-06-19 22:32] est31 commented on #17271
I've filed #17413, but not tested it. @atouchet if you can compile servo, could you test it?

[2017-06-19 22:33] est31 commented on #16459
I've filed #17413 to fix all clipboard issues on windows. I couldn't test it. If any of you can build servo, could you test it? Replies please in the PR thread.

[2017-06-19 22:39] jdm commented on #11868
To elaborate - we could create a trait in https://github.com/servo/rust-mozjs/blob/master/src/rust.rs and implement that trait for `*mut T`. We could then add that trait to the bounds for [RootedGuard::get](https://github.com/servo/rust-mozjs/blob/3de4ff3d52361a47a17e3b4fcb02c779b99d93d4/src/rust.rs#L431-L433), [Handle::get](https://github.com/servo/rust-mozjs/blob/3de4ff3d52361a47a17e3b4fcb02c779

[2017-06-19 22:40] avadacatavra commented on #11868
It looks like this causes an issue for xows, so if no one else takes it, I probably will

[2017-06-19 23:43] jdm opened #17417 "Intermittent pass in /_mozilla/css/transition_calc_implicit.html"
[code]

[2017-06-20 00:21] #17280 closed

[2017-06-20 00:53] camlorn commented on #8313
I'm looking into this because of #17392.

Per an IRC discussion with @retep998, It appears that ANSI can be made to work in Windows 10 well enough for what we're doing.  I've hard-coded the line width.

Python terminal support for earlier versions of Windows is an epic train wreck.  I don't think there's a cross-platform Python package for it, but haven't researched it heavily.

[2017-06-20 00:56] camlorn commented on #17392
Is all of WPT supposed to pass?  Given what it is, I'm thinking not.

If this is indeed the case, I've got a hacky workaround fix for this part of it.

[2017-06-20 01:02] metajack commented on #17392
If we've never run test-wpt in automation, I expect the normal test expectations aren't sufficient to pass on Windows. When I was working on this last year, I was focused on running specific tests related to the feature I was implementing.

The next step after getting tests to run would be to try and get expectations set correctly, bugs filed for things that are failing and shouldn't (ie, non-plat

[2017-06-20 01:03] metajack commented on #17392
Those are obviously follow up bugs to this one, just to be clear.

[2017-06-20 02:18] jonathandturner commented on #17327
@jdm - if that's true, sounds like we'd want to disable the mouse highlight until it's working

[2017-06-20 02:26] #16459 closed

[2017-06-20 02:26] #17271 closed

[2017-06-20 03:15] cbrewster commented on #14690
We have done a bit of renaming already, are there any other things left to rename?

[2017-06-20 04:50] jdm commented on #17327
You cannot highlight things with the mouse, so I'm not sure what you're suggesting.

[2017-06-20 05:15] jdm opened #17423 "Make layout operations for requestAnimationFrame always occur"
#17398 works around a problem where our short-circuiting layout behaviour gets in the way of our animation callbacks. When layout does not run, it does not generate a frame for the compositor, so the compositor code does not have a chance schedule further animation callbacks. The solution in that PR is to force a real layout to occur in this case, which is self-contained but not great. I see two p

[2017-06-20 14:24] asajeffrey commented on #14690
In my braver moments, I have thought that `PipelineId` should really be `DocumentId` or `WindowId`. But I think we're probably not going to do that.

[2017-06-20 17:28] jklepatch commented on #17359
I tried the below solution, but it didnt work because the 2 branches of the `if` statement return a different type:
[code]
I tried to call `into_iter()` in the second branch, but it still returns a `Range`.

I was thinking of 2 other solutions:
1. Creating an Enum `ReversableRange` that can have the iterator returned by `rev()` or a `Range`. Not sure it would work in the `for` statement.
2. Move e

[2017-06-20 17:38] asajeffrey opened #17432 "Paint worklets: Converting a URL to a CanvasImageSource?"
[code]
Paint worklets do not have access to HTML elements, so it's not obvious how to convert a URL to an argument to `drawImage`.

Spec issue: https://github.com/w3c/css-houdini-drafts/issues/416

[2017-06-20 17:41] cbrewster opened #17433 "Implement Custom Element Reactions"
spec: https://html.spec.whatwg.org/multipage/#custom-element-reactions

[2017-06-20 18:06] asajeffrey opened #17435 "Paint worklets: implement input arguments"
Spec: https://drafts.css-houdini.org/css-paint-api/#document-paint-definition-input-argument-syntaxes and https://drafts.css-houdini.org/css-paint-api/#ref-for-document-paint-definition-input-argument-syntaxes-3

Causing a couple of WPT reftest failures:
[code]

[2017-06-20 18:07] jdm commented on #17359
Good points! I think the enum would be the best way forward; if you implement the Iterator trait for it by invoking the next() method on each contained iterator type, I think it should work fine.

[2017-06-20 19:27] creativcoder opened #17438 "deny_public_fields proc macro prints misleading field name of structs"
In the new proc macro `deny_public_fields` to replace `#[privatise]`, our diagnostics isn't clear.

On introducing `pub` on `name` field of `File` struct in `components/script/dom/file.rs`
[code]
and compiling we get:

[code]

Instead the help message should be something like:

= help: message: Field `name` should not be public

Code that needs changes: `components/deny_public_fields/lib.rs`

Hey

[2017-06-20 20:16] jdm commented on #17438
I suspect this would be fixed by trying to use `binding.field.ident` first, and falling back to `binding.ident` otherwise.

[2017-06-20 20:16] highfive commented on #17438
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-20 20:17] jdm commented on #17438
We should be able to create an automated test for this too by making https://dxr.mozilla.org/servo/source/tests/compiletest/plugin/compile-fail/privatize.rs#11 a more specific error message.

[2017-06-20 20:20] jdm commented on #16840
@zombiefungus Did you make any progress on this? Are you still working on it?

[2017-06-20 20:23] jdm commented on #17238
@brainlessdeveloper Have you made progress on this?

[2017-06-20 20:23] highfive commented on #17238
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-20 20:32] asajeffrey opened #17442 "Paint worklets: space leak when pipeline is closed"
We should make sure that paint worklets don't space leak. For example, when a browsing context is discarded, we should remove any worklet global scopes it created from the thread pool.

[2017-06-20 21:00] metajack commented on #17307
cc @mbrubeck in case he wants to look

[2017-06-20 21:02] metajack commented on #17399
@emilio are you working on this? If so, do you have a rough timeline? We're hoping to get this fixed for demos at all hands, but we can use the hack to disable serialization as a stop gap for next week if needed.

[2017-06-20 21:27] brainlessdeveloper commented on #17238
I've been quite busy recently, I wouldn't mind if you unassign me. I have to complete #16508 too.

[2017-06-20 21:30] bholley commented on #17399
I think this may be marginally more up @SimonSapin's alley, given that he's looking into parsing/serialization performance on stylo right now. But it's probably more a question of who has cycles to look at it.

[2017-06-20 21:43] SimonSapin commented on #17399
@pcwalton, you said on IRC you’d try to remove `Deref<Target=str> for AttrValue`. How did that go?

[2017-06-20 22:23] pcwalton commented on #17399
I started but stopped working on it because @emilio said that he was working on it.

[2017-06-20 23:10] pcwalton commented on #17399
I was using khuey's `lazy-init` crate. @emilio, can you explain how you wanted to solve it?

[2017-06-21 02:21] atouchet commented on #17271
@est31 I just tested the latest nightly build that includes your change and it does appear to have fixed this issue. Thanks!

[2017-06-21 02:37] atouchet commented on #16459
I tested this out and now I am able to copy and paste URLs into Servo again. However I am still getting that duplicate URL issue I mentioned in my original post. If I try to load the duplicate URL site Servo seems to still work regardless. I am not sure what is happening there.

I also tied copying text from https://www.rust-lang.org/en-US/ and pasting it into the Servo address bar which resulted

[2017-06-21 03:36] DoumanAsh commented on #16459
@atouchet Do you by any chance has logs from servo? It is rather strange i would say.

[2017-06-21 04:04] frewsxcv opened #17445 "Associated constants lifetime error that only seems to trigger with Servo"
[code]

Given the code above, it seems to compile on [the playpen](https://is.gd/nGbxy7).

But if I add that same code to the 'script' crate in Servo (as you can see in [this branch](https://github.com/servo/servo/compare/master...frewsxcv:frewsxcv-associated-constants-lifetimes?expand=1)), I get this error:

[code]

At the time of writing, Servo is on nightly-2017-06-09, and the code compiles fin

[2017-06-21 04:05] frewsxcv commented on #17445
Meant to open this on rust-lang/rust

[2017-06-21 04:05] #17445 closed

[2017-06-21 04:54] atouchet commented on #16459
@DoumanAsh Sorry, I don't have any logs.

[2017-06-21 08:42] emilio commented on #17399
My idea was to remove the `Deref<Target=str>` in all the attributes, as well as the `String`s in all of them, and passing the read-only lock to the users of `serialize()`, that are left only in DOM APIs.

Current WIP is https://github.com/emilio/servo/tree/attrs. That requires implementing `parse_plain_attribute` for a few attributes, mainly:

[code]

Using `lazy-init` is, I guess, a slightly easi

[2017-06-21 09:01] DoumanAsh commented on #16459
np, I'll try to build servo myself and see if there is any issue with my clipboard library or something else.

[2017-06-21 09:32] #17366 closed

[2017-06-21 13:11] jdm opened #17448 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/functions/functions_105_to_112.html"
[code]

[2017-06-21 13:36] jdm opened #17450 "manifest_changed.sh intermittently returns 1 but reports no actual changes"
[code]

[2017-06-21 14:48] #17387 closed

[2017-06-21 15:17] asajeffrey opened #17451 "Paint worklets: support paint in border-image"
At the moment (https://github.com/servo/servo/blob/7a80192a820848f5ac04b9f4ffe2e860476579ba/components/layout/display_list_builder.rs#L1489):
[code]

[2017-06-21 16:05] jdm opened #17453 "Build a report of the tests that take longest to run"
This would help us make smart choices when figuring out how to reduce test times.

[2017-06-21 16:09] asajeffrey opened #17454 "Paint worklets: scaling artefacts with zoom"
If you zoom in on a paint worklet, you get scaling artefacts. Chrome doesn't display these.

![screenshot from 2017-06-21 11-07-48](https://user-images.githubusercontent.com/403333/27394510-107d044e-5672-11e7-94b7-4f896fd15c8c.png)

[2017-06-21 19:09] jdm commented on #6414
For future reference, https://github.com/servo/html5ever/commit/79ed3e3207cf8578e9410b4310d67ea5bb06d990 and https://github.com/servo/servo/pull/16989 are related work that has happened. It would be good to figure out what work still remains to hook this up.

[2017-06-21 19:21] asajeffrey commented on #17376
Spec issue: https://github.com/w3c/css-houdini-drafts/issues/417

[2017-06-21 19:33] camlorn commented on #16696
I might want to have a go at this one.  What's the status?

Can someone tell me how to integrate the original example into a runnable test?

[2017-06-21 20:04] jdm commented on #16696
Sure! The status is that #16749 was closed by the author after a few iterations of code review. An automated test for this would use the [testharness.js](http://web-platform-tests.org/writing-tests/testharness-api.html) test harness and verify that the result of outerHTML matches an expected string. New tests can be created as [described in our documentation](https://github.com/servo/servo/blob/ma

[2017-06-21 20:27] #14775 closed

[2017-06-21 21:51] canaltinova commented on #15346
@luisbg Hi! Have you made any progress here? Is there anything that we can help?

[2017-06-21 21:56] luisbg commented on #15346
@canaltinova Hi! I got very busy at work. But I think I will have time this weekend to play with this code and figure out a solution.

Apologies for the delay. Give me a few more days and if not somebody else can take it :smile:

Thanks for offering to help

[2017-06-21 22:00] canaltinova commented on #15346
@luisbg No problem, thanks for letting us know. You can ping me or probably other team members on IRC if you need to ask anything!

[2017-06-21 22:47] HarveyHunt commented on #17438
@highfive: assign me

[2017-06-21 22:47] highfive commented on #17438
Hey @HarveyHunt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-21 23:15] emilio opened #17460 "Intermittent OK (expected ERROR) in /workers/Worker_ErrorEvent_error.htm"
Seen in #17444 and #17443.

cc @asajeffrey

[2017-06-22 00:08] jdm commented on #17438
Oh, and to run the test you use `./mach test-compiletest` if I'm not mistaken.

[2017-06-22 00:53] moonlightdrive commented on #17238
@highfive: assign me

I have a PR waiting for review, but would like to take a look at this in the meantime.. if that's alright?

[2017-06-22 00:53] highfive commented on #17238
Hey @moonlightdrive! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-22 01:10] jdm commented on #17238
Yes, please do. I'm going to be dealing with that PR soon; sorry for the delay.

[2017-06-22 03:02] atouchet commented on #14176
Looking at the current numbers the Windows build is now down to 27 MB. The Linux build has increased slightly to 85 MB however.

[2017-06-22 03:16] atouchet opened #17464 "GitHub homepage paragraph text wrong colour"
The text is supposed to show up grey but in Servo it is white.

Servo:

![Servo text](https://i.imgur.com/F81D8dV.png)

Firefox:

![Firefox text](https://i.imgur.com/saDNKkx.png)

Tested in Windows 10.

[2017-06-22 03:26] highfive commented on #15850
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-22 03:26] jdm commented on #15850
The code change is straightforward, and then there are a bunch of test results that need to be updated as discussed in #16341.

[2017-06-22 03:30] jdm commented on #17464
Specifically, the CSS contains `color: rgb(255, 255, 255, 0.6)`, so we're apparently not treating the alpha correctly.

[2017-06-22 03:33] jdm commented on #17464
[code]
Firefox:
<img width="241" alt="screen shot 2017-06-21 at 11 32 47 pm" src="https://user-images.githubusercontent.com/27658/27416213-f4d948fc-56d9-11e7-898a-e2bdee311e93.png">
Servo:
<img width="227" alt="screen shot 2017-06-21 at 11 33 05 pm" src="https://user-images.githubusercontent.com/27658/27416222-fef07cd4-56d9-11e7-9b5d-2573516c58c3.png">

[2017-06-22 03:38] atouchet opened #17465 "Low quality "Build on GitHub" icons"
From the "Build on GitHub" section of the GitHub homepage. The icons look noticeably worse in Servo than in other browsers. Also strangely they appear to be slightly off-centre as well. Possibly the same issue as #11960.

Image of the issue (Firefox top, Servo bottom):

![Icon comparison](https://i.imgur.com/eK89tMM.png)

Tested in Windows 10.

[2017-06-22 03:39] jdm commented on #17465
@glennw Could this be an issue in WR?

[2017-06-22 03:50] atouchet commented on #17465
There is a second example of this issue on https://github.com/features as well.

[2017-06-22 03:52] moonlightdrive commented on #17238
@jdm no worries!

How should I verify that my changes work? Is there a particular test I should run?

[2017-06-22 04:18] jdm commented on #17238
If you make the API return Option and use expect() in every existing case, there will be no functional change.

[2017-06-22 04:48] atouchet opened #17466 "Exiting Servo in Windows often doesn't end Servo process"
When exiting Servo in Windows 10 often the Servo process still continues running and using resources until it is manually killed.

[2017-06-22 07:15] #17392 closed

[2017-06-22 09:33] sviter opened #17468 "Forgot password link on Github on the wrong place"
On Github sign in page Forgot password link is placed lower with Servo then in Firefox on Windows 10.
Servo:
![servo-github](https://user-images.githubusercontent.com/6523067/27427022-26042534-5746-11e7-94fc-58cad13f2970.png)
Firefox:
![firefox-github](https://user-images.githubusercontent.com/6523067/27427033-344b8df8-5746-11e7-9915-92c177661857.png)

Note also there no Github logo with Servo.

[2017-06-22 09:38] emilio commented on #17468
The logo is expected because it uses `<svg>`, which servo doesn't yet support. The link position is a dupe of https://github.com/servo/servo/issues/13683.

Thanks for reporting it though! Closing this as already tracked by #12973 and #13683.

[2017-06-22 09:38] #17468 closed

[2017-06-22 10:57] SimonSapin commented on #17399
Not URL?

[2017-06-22 11:15] emilio commented on #17399
It gets resolved when appropriate. At least that's how the code works as of right now, and `element.href` returns a string, not an `url`, I think.

[2017-06-22 11:22] emilio commented on #17464
I've verified that the text arrives with the correct color to the display, list.

Furthermore, I've verified that the color is still correct in WR's TextRunPrimitiveCpu::write_gpu_blocks.

And, if I apply the following diff in WR, which i'd expect to show a bunch of squares with the text color and the correct alpha:

[code]

I indeed see the squares, but I still see no alpha.

@glennw, this seems

[2017-06-22 11:26] SimonSapin commented on #17399
Oh, `<base href>` might change :/

[2017-06-22 11:42] rigelk commented on #15850
I'll take it if nobody is already on it :)
@highfive: assign me

[2017-06-22 11:42] highfive commented on #15850
Hey @rigelk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-22 14:21] atouchet commented on #9915
#12097 could be added to this as well.

[2017-06-22 14:23] atouchet commented on #9916
#10233 can be marked as fixed.

[2017-06-22 14:41] asajeffrey commented on #17460
Hmm, this is intermittent isn't it?

I think this may be a problem with the test (or possibly with the test harness). The test includes:
[code]
The problem is that `worker.onerror` doesn't call `e.preventDefault()`, so the event propagates up to the main script thread (this is correct by the spec https://html.spec.whatwg.org/multipage/workers.html#runtime-script-errors-2). This causes the test to

[2017-06-22 14:54] #15400 closed

[2017-06-22 16:09] #17376 closed

[2017-06-22 17:06] SimonSapin commented on #17399
I don’t think we can remove `String` in most variants and preserve the behavior of `Element.setAttribute`. I’m opened https://github.com/servo/servo/pull/17476 that only removes `String` in the `AttrValue::Declaration` variant.

[2017-06-22 17:34] jyc commented on #17182
I think this issue is not actually closed, those two commits were just parts of the fix. Going to add the new PRs now.

[2017-06-22 19:54] asajeffrey commented on #10879
Problem seems to have sorted itself out!

[2017-06-22 19:54] #10879 closed

[2017-06-22 19:57] asajeffrey commented on #11415
Fixed by #16997, which replaced the uses of pipeline ids by top-level browsing context ids.

[2017-06-22 19:57] #11415 closed

[2017-06-22 20:02] asajeffrey commented on #11714
Fixed in #11791.

[2017-06-22 20:20] asajeffrey commented on #15196
Re-ran the test. Good news, it no longer panics! Bad news, it FAILs instead :/

[2017-06-22 20:20] glennw commented on #17464
My guess (unconfirmed) is that it's related to having alpha on sub-pixel enabled text. We need to do a bit more work on sub-pixel text support to handle this case.

[2017-06-22 20:22] asajeffrey opened #17479 "iframe-append-to-child-document.html fails"
[code]

[2017-06-22 21:07] #15397 closed

[2017-06-22 21:20] asajeffrey commented on #17454
IRC chat with @glennw: http://logs.glob.uno/?c=mozilla%23servo&s=22+Jun+2017&e=22+Jun+2017#c704238

TL;DR: In the short run, we can just scale by the global zoom and hidpi, which will at least fix the simple cases. In the long run, we should use the WR blob API, which allows us to call a callback from within WR once the scaling factors are all known. This will be a complete rewrite of the canvas c

[2017-06-22 21:42] Aloso opened #17482 "Panic during layout when encountering an iframe with no parent node and no browsing context"
called `Option::unwrap()` on a `None` value
### URL: https://arstechnica.com/

### Servo Version:
Servo 0.0.1-ed5485e
### Backtrace:
[code]

This error repeatedly occurred on my Windows 7 machine, but only when opening the arstechnica website.

[2017-06-22 22:06] jdm commented on #17482
Confusingly, we are apparently trying to lay out an iframe that does not have a browsing context.
[code]

[2017-06-22 22:13] jdm commented on #17482
This iframe has no parent node, either.

[2017-06-22 22:14] jdm commented on #17482
@asajeffrey This may intrigue you.

[2017-06-22 22:25] asajeffrey commented on #17482
Weird!

[2017-06-23 00:43] asajeffrey opened #17485 "Get 60fps for paint worklets ripple demo"
Currently, we are not always getting 60fps. We should, this is quite a simple demo.

![out](https://user-images.githubusercontent.com/403333/27461985-105fbd82-5783-11e7-927d-6beb5bd45e13.gif)

[2017-06-23 00:48] asajeffrey opened #17486 "Paint worklets: speculatively draw a paint image"
During styling, we know the computed values for properties, so we can speculatively draw the paint image, assuming that the size hasn't changed.

[2017-06-23 00:48] asajeffrey commented on #17485
I suspect that speculatively pre-computing the image would help (#17486).

[2017-06-23 03:16] stshine commented on #17464
I think we should close this after the webrender fix landed in servo.

[2017-06-23 05:49] atouchet commented on #9915
#11928 can be marked as fixed.

[2017-06-23 06:04] #17238 closed

[2017-06-23 06:10] atouchet opened #17489 "Issues with text animations on github.com/features"
The text animations on github.com/features are supposed to happen when the page is first loaded but in Servo they also occur whenever the text is moused over. The quality of the text when animated also looks worse in Servo. Finally there is a weird issue where other text on the page will sometimes appear along with the text that is supposed to be there during the animation.

Image of the final iss

[2017-06-23 06:17] atouchet opened #17490 "Black smudge under "New to GitHub?" text on github.com/features"
In Servo:

![Servo text](https://i.imgur.com/sLbbDlj.png)

In Firefox:

![Firefox text](https://i.imgur.com/DAxl78L.png)

Tested in Windows 10.

[2017-06-23 06:20] atouchet commented on #17490
This issue also occurs on https://github.com/features/code-review/ with the "see what's possible" text.

[2017-06-23 09:45] #17342 closed

[2017-06-23 10:51] #15668 closed

[2017-06-23 10:54] emilio commented on #17460
Fixed by #17475

[2017-06-23 10:54] #17460 closed

[2017-06-23 14:34] jdm opened #17495 "Brainstorm ways to redesign CSS parse error hierarchy"
There are a few constraints that resulted in the current design of:
* cssparser::ParseError
* selectors::SelectorParseError
* style_traits::StyleParseError
where each type has a type parameter and is used to encapsulate the error types from crates further down the crate hierarchy.

I'm going to use this issue to brainstorm ways the result could be improved.

[2017-06-23 14:36] jdm commented on #17495
Idea: have StyleParseError contains fewer variants that encapsulate potential errors from distinct parts of the parsing process. This would give us a ValueParseError enum that could be returned by Parse::parse, for example; however, this would likely interact very poorly with trying to use cssparser::Parser methods which would still return the types for the full possible set of CSS parser errors.

[2017-06-23 15:02] SimonSapin commented on #17495
For https://bugzilla.mozilla.org/show_bug.cgi?id=1347408 and https://bugzilla.mozilla.org/show_bug.cgi?id=1344131#c12 I’d like to eventually remove "rewinding the tokenizer" (the `Parser::try` method) from cssparser.

The way this would work is that the parser/tokenizer would hold a "current token" that could be borrowed (as opposed to having `.next()` give away ownership of a token). There would

[2017-06-23 16:39] #15196 closed

[2017-06-23 17:19] nox commented on #17495
Whichever way we go, it would be preferable if the code can be derived.

[2017-06-23 17:57] jdm commented on #17495
What code are you referring to?

[2017-06-23 18:00] nox commented on #17495
Implementations of `Parse`.

[2017-06-23 19:04] asajeffrey opened #17496 "Paint worklets: drawing offset by border when zoomed?"
It looks like when you zoom a paint worklet drawing the background of an element with a border, it is not quite drawn in the right place:

![screenshot from 2017-06-23 14-01-38](https://user-images.githubusercontent.com/403333/27496687-ac66ac38-581c-11e7-9ac5-0a436e55dbe0.png)

This may apply to background images in general, since I just reused the code in that case.

[2017-06-23 19:05] asajeffrey commented on #17496
cc @glennw

[2017-06-23 19:52] asajeffrey opened #17497 "Use the webrender blob API for canvases"
At the moment, canvases generate an image without knowing which CSS transforms will be applied to them, so can generate scaling artefacts similar to #17454 for paint worklets. We should be using the WR blob API to delay rendering canvases.

This is quite a major rewrite, and will probably get rid of canvas threads, and add a mechanism for serializing canvas draw commands to WR.

[2017-06-23 19:52] asajeffrey commented on #17497
IRC chat with @glennw: http://logs.glob.uno/?c=mozilla%23servo&s=22+Jun+2017&e=22+Jun+2017#c704238

[2017-06-23 19:53] asajeffrey commented on #17454
Split off #17497 for the long-term plan of using the WR blob API.

[2017-06-23 20:15] asajeffrey opened #17498 "Run reftests with zoom"
At the moment, we don't run any reftests with zoom, which may result in issues such as #17496.

[2017-06-23 20:16] asajeffrey commented on #17498
cc @glennw @jgraham

[2017-06-23 20:23] bholley commented on #17300
This is a bit more subtle now that #17481 landed, so I'm going to steal this.

@highfive: assign me

[2017-06-23 20:24] highfive commented on #17300
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-06-23 20:58] bholley commented on #17300
Patches up for review in https://bugzilla.mozilla.org/show_bug.cgi?id=1371049

[2017-06-23 22:32] jyc opened #17502 "Locked::write_with taking &mut 'a SharedRwLockWriteGuard vs &'a SharedRwLockWriteGuard"
*Reposting from an email to @SimonSapin for the record! He will post his reply afterwards.*

I have some code that needs to write to the PropertyDeclarationBlock on a StyleRule inside of a CSSStyleRule. Because the CSSStyleRule.stylerule and StyleRule.block are both Arc<Locked<...>>, it seems like I need to use a write guard to first read the CSSStyleRule.style and then write to the StyleRule.bloc

[2017-06-23 23:27] HarveyHunt commented on #17438
I've implemented using ```binding.field.ident``` before falling back to ```binding.ident```, as can be seen [here](https://github.com/HarveyHunt/servo/commit/390d3850655a81d52eeb715f8ede1dbf3c2ffcc9).

However, I'm not sure what is meant about creating an automated test. I've messed around with the ```ERROR``` in privatize.rs, so I now realise that the comment is matched to the compiler's output.

[2017-06-24 00:58] jdm commented on #17438
I believe the string in the comment is a subset match, so it should be possible to make it more specific than it currently is.

[2017-06-24 04:09] #17300 closed

[2017-06-24 05:15] #17191 closed

[2017-06-24 06:28] SimonSapin commented on #17502
`read_with_write_guard` as you first wrote it looks safe, but as you realized it doesn’t help you.

Your other proposal is not safe. Even on a single thread (so regardless of `!Sync`), multiple `&mut` references (or `&mut` and `&`) to the same object can cause memory-safety issues. See  https://manishearth.github.io/blog/2015/05/17/the-problem-with-shared-mutability/

This is why `write_with` take

[2017-06-24 09:29] charlesvdv commented on #8342
Hi!

Since I finished my exams, I'm looking to contribute again to servo. Can I try to tackle this issue? 😄

[2017-06-24 09:58] brainlessdeveloper commented on #17300
That's fine, sorry I was eager to take a new task and then figured out I didn't have the time.

[2017-06-24 12:27] r105m opened #17509 "libssl troubles in fedora 26"
running servo from nightly builds on fedora 26
$ ./servo
./servo: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory

------
it looks like i have poenssl 1.1:
$ openssl version
OpenSSL 1.1.0f-fips  25 May 2017

[2017-06-24 12:40] est31 commented on #17509
Known bug: #12015

[2017-06-24 12:53] jdm commented on #8342
https://dxr.mozilla.org/servo/rev/a29261dec196ab5c887655e479e503ca6cbb9229/components/layout_thread/lib.rs#390-418 is the code that kicks off the font loads right now. It uses https://dxr.mozilla.org/servo/rev/a29261dec196ab5c887655e479e503ca6cbb9229/components/style/stylesheets/stylesheet.rs#337 to iterate over all of the effective rules in the stylesheet (which I'm pretty sure only means "rules

[2017-06-24 12:54] jdm commented on #17509
Closing since we're tracking this in the existing issue.

[2017-06-24 12:54] #17509 closed

[2017-06-24 13:27] charlesvdv commented on #8342
Thanks @jdm I will look into that !

[2017-06-24 15:43] atouchet opened #17510 "Servo doesn't properly render img border-radius"
Example on: https://github.com/business

The face pictures are supposed to be circles but in Servo they are squares.

Image (Servo on top, Firefox on bottom):

![border-radius](https://i.imgur.com/Vgx0ayl.png)

The offending line appears to be: `<img src="https://assets-cdn.github.com/images/modules/site/avatars/hubspot-quote.jpg" alt="" style="border-radius:25px;" width="50" height="50">`

Tested

[2017-06-24 15:56] atouchet opened #17511 "Issue with button rounded corners on github.com/business"
In Servo these button corners are not displayed properly. Also when both browsers are in fullscreen the buttons are 10 pixels wider in Servo than in Firefox.

Image (Servo on top, Firefox on bottom):

![Button corners](https://i.imgur.com/WowoFuK.png)

Tested in Windows 10.

[2017-06-24 16:22] emilio commented on #17511
cc @glennw

[2017-06-24 16:23] emilio commented on #17511
(The 10px extra is probably a layout issue with `::before` and `::after`.

[2017-06-24 17:27] jdm commented on #17510
All of our tests for border-radius appear to use background-image, rather than image elements.

[2017-06-24 18:41] atouchet opened #17512 ""Search:" text misaligned on Hacker News"
In Servo:

![Servo text](https://i.imgur.com/H3f6PN8.png)

In Firefox:

![Firefox text](https://i.imgur.com/M7ON5Ep.png)

Tested in Windows 10.

[2017-06-24 19:11] atouchet opened #17513 "Top bar on Hacker News too large"
The top orange bar on Hacker News is longer in Servo than in other browsers. Servo has it as 33 pixels tall while in other browsers it is 24 pixels. There is also additional space around the Hacker News icon in Servo (2 additional pixels on the top and left, 5 on the bottom). Finally in Servo the Hacker News icon is shown as being 20 x 20 rather than 18 x 18.

In Servo:

![Servo bar](https://i.img

[2017-06-24 19:13] atouchet commented on #9916
#17512 and #17513 are Hacker News issues.

[2017-06-24 19:59] bd339 commented on #16696
@camlorn will you be taking this, or can I?

[2017-06-24 20:07] camlorn commented on #16696
I see how to do it, and was planning to this evening or tomorrow.

[2017-06-25 01:40] camlorn commented on #16696
I have an implementation that passes all current domparsing tests and need only to convert the original example into a test.  Where should it live, alongside the other domparsing tests?

I will do the test tomorrow and get a PR up.

[2017-06-25 01:43] camlorn commented on #16696
And yes, mine accounts for `<template>`.  Technically it will crash if we nest `<template>` enough because the easiest way was to keep it recursive in this specific case.  If going far enough to have no recursion at all whatsoever is needed, I'll do that, but it seems reasonable enough to me to do what I have.

[2017-06-25 05:00] bholley commented on #17300
No worries! Feel free to grab another issue when you have time.

[2017-06-25 05:14] jdm commented on #16696
I would say add it to tests/wpt/mozilla/tests/Mozilla, since it's testing a property of our implementation rather than the specification.

[2017-06-25 15:35] EdorianDark opened #17518 "Add Javascript Rust interopt to libservo"
In the  Chromium Embedded Framework it is possible to call Javascript function from outside and expose objects and functions to Javascript. For example in CefSharp it is [quit simple](https://github.com/cefsharp/CefSharp/wiki/Frequently-asked-questions).

With this functionallity it would be possible to use libservo as a replacement for a gui toolkit.

[2017-06-25 16:10] emilio commented on #17513
I believe this is https://github.com/servo/servo/issues/14947

[2017-06-25 16:22] jdm commented on #17513
That comment thread leads us to https://github.com/servo/servo/issues/11704#issuecomment-230722674 as the real culprit.

[2017-06-25 17:12] #17363 closed

[2017-06-25 17:26] cynicaldevil opened #17519 "Rename ParseNodeID type alias to conform with camelcase naming convention"
code: `components/script/dom/servoparser/async_html.rs`
The `ParseNodeID` type alias defined in the file is named incorrectly, and must be refactored to conform with camelcase naming convention, wherever it appears.

@jdm This is a very small issue, and can be tagged E-easy, I think.

[2017-06-25 17:46] highfive commented on #17519
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-25 18:49] #17438 closed

[2017-06-26 04:37] jdm commented on #15410
This happened.

[2017-06-26 04:37] #15410 closed

[2017-06-26 06:45] 1masyc commented on #16820
Gracias...lo tomare en cuenta...lamentablemente no dispongo de una maquina con esas caracteristicas de 64bit no podre trabajar en ello, muchas gracias por responder

[2017-06-26 12:05] streichgeorg commented on #17519
@highfive: assign me

[2017-06-26 12:05] highfive commented on #17519
Hey @streichgeorg! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-26 15:24] tschneidereit commented on #15635
@metajack let's talk about what to do here this week.

[2017-06-26 15:28] tschneidereit commented on #15634
rust-lang-nursery/rustup.rs#460 is resolved, so that should only leave the Cargo.lock issue to deal with. @paulrouget Can you confirm that we can now do the rustc override in a useful manner?

[2017-06-27 06:46] #17519 closed

[2017-06-27 08:36] nox commented on #15807
I'm working on things that are similar to this.

I think we should go for:

[code]

This is smaller than `SmallVec` because we don't need to care about any space wasted for the vector capacity or the number of inlined items.

[2017-06-27 12:09] nox commented on #15807
In the opposite direction, I just made [this](https://github.com/servo/servo/pull/17530/commits/2645b5a369a305f6e2173da82c8dc636a0dcbdac) for properties that can be empty and have an empty initial value.

[2017-06-27 15:35] jdm opened #17531 "Report unhandled Promise rejections"
In Firefox this is implemented by [this code](https://dxr.mozilla.org/mozilla-central/rev/6b98953213350d847f2d1c8165922af47b96eee4/xpcom/base/CycleCollectedJSContext.cpp#247-265) and eventually ends up in [this code](https://dxr.mozilla.org/mozilla-central/rev/6b98953213350d847f2d1c8165922af47b96eee4/dom/promise/PromiseDebugging.cpp#249) which does the real work. Firefox does not implement the `on

[2017-06-27 16:17] emilio commented on #16825
Hi @hgallagher1993, any update on this?

I opened #17525, which introduces the set of flags that are needed to fix this.

[2017-06-27 16:26] #17282 closed

[2017-06-27 19:13] charlesvdv commented on #8342
@jdm I just finished the parts where the font is downloaded when we call the ```find_font_in_web_family``` but I struggle a bit on how I could notify the layout to rebuild itself?

[2017-06-27 19:19] jdm commented on #8342
@charlesvdv https://dxr.mozilla.org/servo/rev/4e8cf678bf12c1fa3400454905ae33dabff45bb5/components/layout_thread/lib.rs#634-640 is the code that handles that right now. The layout thread sends `font_cache_sender` the the font cache, and the font cache sends a message using that sender which the layout thread observes.

[2017-06-27 19:24] asajeffrey opened #17533 "Canvas thread doesn't clear its state on recreation"
When we set the bitmap dimensions on a Canvas 2d rendering context, it clears the state, which it should. Unfortunately, the canvas thread doesn't clear its state (https://github.com/servo/servo/blob/12ff92592fb2c81d6688975f7243cd9c391acefc/components/canvas/canvas_paint_thread.rs#L545):
[code]
This creates a new `drawtarget` but not a new `state` or `saved_states`.

[2017-06-27 20:44] asajeffrey opened #17534 "Canvas: deleting an image key that is in use"
A lovely webrender panic:
[code]
The cause is https://github.com/servo/servo/blob/2843eb5ddf0c8170854eb420774bd5a34bc6710d/components/canvas/canvas_paint_thread.rs#L549:
[code]
The key is being deleted immediately, but it might still be in use by the display list builder. Really, we should flag the key for being deleted in the next epoch, not the current epoch.

[2017-06-27 20:44] asajeffrey commented on #17534
cc @glennw

[2017-06-27 23:01] heycam commented on #17127
This reproduces on my P50 (i7-6820HQ @ 2.70GHz) on Linux Mint 18 with the performance governor.

[2017-06-27 23:19] shinglyu opened #17540 "Implement the old -webkit-linear-gradient behavior"
https://www.w3.org/TR/2011/WD-css3-images-20110217/#ltlinear-gradient

The old -webkit-linear-gradient supports the deprecated `left`, `bottom`, `right`, or `top` keyword (without a `to`), also the degree definition is different from modern `linear-gradient`:

Our CSS parser supports the no-"to" keyword, so we should support the old behavior as well.

Gecko also use the old coordinate when it sees

[2017-06-27 23:20] shinglyu commented on #17540
(This is a followup for #17428)

[2017-06-28 08:43] AlekseyShi commented on #8033
Program received signal SIGILL /lib/arm-linux-gnueabihf/libcrypto.so.1.0.0
You can tell gdb to not stop on signals.
(gdb) handle SIGILL nostop noprint
will allow your program to continue, gdb will just tell you that the signal was received.

[2017-06-28 10:00] #17479 closed

[2017-06-28 10:23] streichgeorg commented on #17510
I looked a bit into this and found that at the moment the clipping region only gets adjusted in ```build_display_list_for_background_if_applicable```, when I copy the code from there to ```build_fragment_type_specific_display_items```, the the test gets rendered correctly.

[2017-06-28 14:41] jdm commented on #17510
Sounds like a reasonable solution to me (possibly sharing the code in a `clip_for_border_radius` function).

[2017-06-28 15:35] jprusakova commented on #16921
I believe you need to run mach.bat on Windows.

Here is what I get under Cygwin on Windows 10:
$ ./mach build -d
Python virtualenv failed to execute properly:
Output: The path /usr/bin/python2.7 (from --python=/usr/bin/python2.7) does not exist

Error:

It finds python and otherwise builds if kicked off using mach.bat:

$ ./mach.bat build -d
    Finished dev [unoptimized + debuginfo] target(s)

[2017-06-28 16:14] jyc commented on #17512
Could this just be a difference in the UA stylesheets? Checking.

[2017-06-28 16:16] streichgeorg commented on #17510
Should the ```border-radius``` property also affect tags like ```canvas```and ```iframe```, or only ```img``` ones?

[2017-06-28 16:45] jdm commented on #17510
Yes, it should affect every element.

[2017-06-28 22:51] jyc opened #17555 "Setting `overflow-y: visible` doesn't affect the the value in the OM"
In the following testcase,

[code]

`visible` is output in Firefox, Chrome, and Safari, but Servo outputs `auto`.

[2017-06-28 22:52] jyc commented on #17512
This seems to be the result of us setting `overflow: hidden` on inputs in UA styles. Commit c25dd2adf6f849f074af959a6ef81d6868d22e91 notes that CSS 2.1 § 10.8.1 requires that we use the margin box for vertical positioning of `inline-block` fragments if `overflow` is not `visible`, and justifies setting `overflow: hidden` by other browsers hardcoding hidden-like behavior. The result of using the ma

[2017-06-28 23:26] jdm commented on #9847
This works now.

[2017-06-28 23:26] #9847 closed

[2017-06-28 23:27] jdm commented on #7739
We support import rules now.

[2017-06-28 23:27] #7739 closed

[2017-06-28 23:29] jdm commented on #5975
This works now.

[2017-06-28 23:29] #5975 closed

[2017-06-29 00:34] SimonSapin commented on #5286
I think the list above was created / is maintained by grepping this repository, so I also had a look at dependencies.

**TL;DR**: there’s stuff that’s being removed, stuff we can disable, and a couple things in `rust-mozjs`.

----

To do so, I ran `cargo +stable build -j200` repeatedly in the `ports/servo` directory. The tries to build servo with a stable compile which quickly fails, but makes Car

[2017-06-29 01:17] atouchet commented on #16507
Closing this as I can no longer reproduce the issue and aren't getting any confirmation that it's still a problem in other operating systems.

[2017-06-29 01:17] #16507 closed

[2017-06-29 02:15] medvednikov opened #17557 "web.skype.com doesn't work: it's impossible to log in to your Skype account"
In the latest build trying to log in via web.skype.com results in an empty page.

[2017-06-29 03:07] atouchet opened #17559 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-62f99de
### Backtrace:
[code]

[2017-06-29 03:08] atouchet commented on #17559
Error encountered when trying to load https://www.reddit.com/

[2017-06-29 03:43] atouchet commented on #10243
Can this be closed?

[2017-06-29 04:24] jdm commented on #10243
Yep.

[2017-06-29 04:24] #10243 closed

[2017-06-29 04:33] jdm commented on #17559
[code]

[2017-06-29 04:34] jdm commented on #17559
Duplicate of #17176.

[2017-06-29 04:34] #17559 closed

[2017-06-29 07:36] SimonSapin commented on #5286
For `const_fn` in rust-mozjs we could in theory expose a macro instead of a `const fn`, but as far as I can tell these `new_bitfield_*` constructors are generated by rust-bindgen. For `nonzero` we could have a Cargo feature flag like Tendril to use a no-op wrapper struct instead of `NonZero` when disabled, but this may not be worth the bother.

[2017-06-29 14:27] streichgeorg commented on #17510
I have another one last question. How should I test this PR, and where do I put the tests?

[2017-06-29 16:33] jdm commented on #17510
I recommend adding a [reference test](http://web-platform-tests.org/writing-tests/reftests.html). You can create a new one in tests/wpt/mozilla/css/ as described in [the documentation](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests).

[2017-06-29 16:49] asajeffrey commented on #17534
Looking at the code for html images, it looks like the reason why we're not hitting the problem there is that we're just never removing images from the image cache: #12881.

[2017-06-29 16:55] asajeffrey commented on #17497
Conversation with @pcwalton: it seems like the longer-term plan is for canvas to play ball with https://github.com/pcwalton/pathfinder and convert Canvas draw commands into pathfinder beziers.

[2017-06-29 17:31] mbrubeck commented on #17307
Here's a reduced test case:

[code]

[2017-06-29 18:46] DominoTree commented on #17540
I'd like to take care of this one if it's up for - I've worked on the linear-gradient stuff previously.

[2017-06-29 20:29] dralley commented on #12015
What is the progress on this?

[2017-06-29 21:16] jdm commented on #12015
No progress.

[2017-06-29 23:22] mrobinson commented on #16576
[code]

[code]

Note that we have two different types of clipping here, the clip to make overflow:hidden work, and the clip from the css 'clip' property. These work differently. The overflow clip doesn't apply to the out of flow frame, but the css one does.

To handle this in Gecko, we build and store two clips as we descend into the frame tree: GetClipChainForContainingBlockDescendants (for overf

[2017-06-30 04:15] atouchet opened #17572 "Images become squished when browser window is resized"
Issue observed on: https://github.com/business

When resizing the Servo window from fullscreen to half the screen the "Trusted by more than 100,000 organizations" images become distorted and squished.

Example images:

Servo fullscreen:

![Servo fullscreen](https://i.imgur.com/DrTYEUs.png)

Servo narrow window:

![Servo narrow](https://i.imgur.com/A57N75i.png)

Firefox fullscreen:

![Firefox fulls

[2017-06-30 04:28] atouchet commented on #17572
This issue also occurs on https://github.com/business/customers without the window having to be resized. The images are squished when the browser is fullscreen as well.

[2017-06-30 05:57] stshine commented on #17572
Looks like a flexbox issue :(

[2017-06-30 08:58] NiLSPACE commented on #12089
cc @jdm. It seems @notriddle is inactive.

[2017-06-30 09:04] #12089 closed

[2017-06-30 17:29] mrobinson commented on #16576
I have a fix for this at https://github.com/mrobinson/servo/commit/f190445f64921f744946345827bfe9472157ae25. It's just waiting on the WebRender update.

[2017-06-30 20:36] upsuper commented on #16825
Hi @hgallagher1993, are you still working on this?

[2017-06-30 20:41] asajeffrey opened #17579 "Implement StylePropertyMap.getProperties()"
It's causing a couple of test failures with https://github.com/w3c/web-platform-tests/pull/6439:
[code]

[2017-06-30 20:51] jdm commented on #16825
I think it's safe to assume that someone else can look into this.

[2017-06-30 21:17] hgallagher1993 commented on #16825
Sorry about this, something came up with my final year college project that I've been sorting out for the last week or 2. I was actually in the middle of this but I don't know when I'd get a chance to finish it so it was aswell un-asign me.

[2017-06-30 21:18] upsuper commented on #16825
Ok, I'll take this. Thanks for your contribution.

[2017-06-30 21:55] upsuper commented on #16825
I guess we want to somehow copy the logic from here: https://dxr.mozilla.org/mozilla-central/rev/d9a144b7b6d994fc9a497c53b13f51a2a654d85e/layout/style/GeckoStyleContext.cpp#452-513

[2017-06-30 22:31] metajack opened #17582 "-Z show-parallel-layout implementation accidentally deleted"
It appears at some point the code that built an altered display list when -Z show-parallel-layout was given got deleted, and we should bring it back.

[2017-06-30 22:33] metajack commented on #17582
cc @mihajlija

[2017-06-30 22:44] qezz opened #17583 "Build fail (macOS 10.12.5)"
Every dependency (https://github.com/servo/servo#os-x) is satisfied

[code]

Error (uncut at: https://gist.github.com/qezz/5da5a778ff7c572a35ef5957e9e673fb):

[code]

__upd:__
backtrace from another build with `RUST_BACKTRACE=1`

[code]

[2017-06-30 23:38] asajeffrey opened #17584 "Paint worklets: Mark nondeterministic registration as invalid"
https://github.com/w3c/css-houdini-drafts/issues/423

[2017-07-01 06:17] #17307 closed

[2017-07-01 07:55] jdm commented on #17583
It's not clear to me if the actual error in SkAdvancedTypefaceMetrics.cpp is present in the parts of the log that are included here. Could you include the log without the last snip?

[2017-07-01 20:09] mcepl opened #17586 "No mouse interaction (RHEL-7, build from git master)"
I don't know why but when I run ``./mach run --release https://www.duckduckgo.com`` and search for something, I get the list of results just fine, but I cannot click on any link. The same goes for any other page I open. Everything shows just fine, but no clicking.

Running self-build servo from commit 39da6d4674 on RHEL-7.4/x86_64.

[2017-07-01 21:37] atouchet commented on #17586
Have you tried https://duckduckgo.com/html? There are some known issues with https://www.duckduckgo.com (see: https://github.com/servo/servo/issues/10309).

[2017-07-02 02:55] scottmcm commented on #17359
Another option would be a "conditional reverse" adapter, as described here: https://github.com/rust-lang/rust/issues/27741#issuecomment-306025457

[2017-07-02 14:09] mcepl commented on #17586
OK, ``/html`` page works, but immediately I get hit by something (the same issue? Another one?) on http://harrypotter.wikia.com/wiki/Remus_Lupin

[2017-07-02 18:49] KiChjang commented on #15569
This is done in #15903.

[2017-07-03 15:04] jdm opened #17594 "TravisCI fails while building script_tests"
[code]
I assume this is running out of disk space or RAM again.

[2017-07-03 15:04] highfive commented on #17594
cc @aneeshusa

[2017-07-03 16:51] DemiMarie commented on #7888
@avadacatavra What about ring-tls?

[2017-07-03 16:52] DemiMarie commented on #14169
Any updates :smile: ?

[2017-07-03 16:54] DemiMarie commented on #12456
Ping?

[2017-07-03 17:02] jdm commented on #12456
Nobody has investigated this.

[2017-07-03 17:02] DemiMarie commented on #13177
What about using a ZST that acts as a token saying, “You can access this safely now?”  The script thread methods take `&mut T`, while the style thread methods take `&T`.

@SimonSapin Also, if we are able to be the initial launched process (and not a shared library), then accessing a thread-local is very fast.  But we can only do that if we can ensure at compile time that we *won’t* be part of a sh

[2017-07-03 17:03] jdm commented on #14169
I don't think it's worth keeping this open until we have firm criteria for what "daily practical use" means.

[2017-07-03 17:03] #14169 closed

[2017-07-03 17:05] DemiMarie commented on #14903
Ping?

[2017-07-03 17:07] jdm commented on #14903
@DemiMarie Comments like "ping" are not useful. If you have a question, please ask that. Assume that no activity in an issue means that nobody has put effort into it.

[2017-07-03 17:08] DemiMarie commented on #14903
@jdm Sorry, and thanks for the explanation.  I apologize.

[2017-07-03 20:26] larsbergstrom commented on #15385
We've traditionally found that trying to build against a specific and older version of GLIBC has required us to run our tests on machines that are not the same configuration used by the core development team, meaning that e.g., they don't know how to edit the machine scripts to add new dependencies or test an OS-specific failure (though in this case, it'd "just" be the nightly build machine).

Acc

[2017-07-03 20:35] asajeffrey opened #17595 "Paint worklets: tests requiring particular error image"
Some of the css-paint-api tests are failing for us because they require a transparent image to be generated when there's an error, which isn't required by the spec.

An example: https://github.com/w3c/web-platform-tests/blob/master/css-paint-api/invalid-image-constructor-error.html

[2017-07-03 20:44] alex opened #17596 "Restrict sysctl access in macOS sandbox"
The current servo macOS sandbox policy allows the process to read/write arbitrary `sysctl` values: https://github.com/servo/servo/blob/master/etc/servo.sb#L24-L25

These can be restricted by name or by regex like so:

[code]

[2017-07-03 20:48] alex commented on #17596
Oops, forgot to mention that the `sysctl-name` predicate is only available in macOS 10.10 and up.

[2017-07-03 21:18] asajeffrey opened #17597 "Canvas: implement Path2D"

[2017-07-03 21:26] asajeffrey opened #17598 "Canvas: implement ellipse"

[2017-07-04 01:30] paulrouget commented on #17388
I confirm. Wondering if `mozbrowsertitlechange` is properly triggered.

[2017-07-04 02:51] paulrouget commented on #11361
Now that https://github.com/rust-lang-nursery/rustup.rs/issues/460 has landed, can we reconsider this issue?

[2017-07-04 02:52] paulrouget commented on #15634
Not yet. The override uses rustup. But afaik, servo doesn't use rustup or local cargo.

See https://github.com/servo/servo/issues/11361#issuecomment-312768145

[2017-07-04 03:29] #17273 closed

[2017-07-04 04:55] paulrouget commented on #17388
`mozbrowsertitlechange` is correctly triggered (proof is that the titlebar is being updated).

Not sure yet what's going on. Might be a rendering issue.

[2017-07-04 11:36] o0Ignition0o commented on #17555
Hey @jdm , I would like to try to tackle this, if someone could mentor me :)
I don't know yet how I'm gonna handle this though.
@highfive assign me

[2017-07-04 11:36] highfive commented on #17555
Hey @o0Ignition0o! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-04 14:47] paulrouget commented on #17097
Actually thinking of moving package stuff under `support/`, test files under `test/resources` and keep the rest in `resources/`

[2017-07-04 22:37] jonathandturner commented on #14541
@jdm - I can repro a very similar error this way:

* In bhtml mode, click on the url bar and go to "polygon.com"
* Scroll down until you see three reviews on the left.
* Wait 5 seconds
* Click the "All Reviews" button

[2017-07-04 23:42] jonathandturner commented on #11960
Now that I have my laptop back, I can repro this.  Seems like it's particular to certain video cards/resolutions.

![screen shot 2017-07-05 at 11 41 33 am](https://user-images.githubusercontent.com/547158/27844523-f562b4aa-6176-11e7-97e4-4e86dd1be4ee.png)

[2017-07-05 00:11] jdm commented on #14541
Me too:
[code]
followed by
[code]

[2017-07-05 14:10] asajeffrey commented on #17595
Oops, should have read the spec more carefully: https://drafts.csswg.org/css-images-4/#invalid-image requires a transparent image.

[2017-07-05 14:10] #17595 closed

[2017-07-05 14:45] SimonSapin commented on #17359
Fixed in #17605.

[2017-07-05 14:45] #17359 closed

[2017-07-05 16:33] CAfromCA commented on #16771
Updates to various files have caused the line numbers to change slightly over time, so here's an updated dump of the errors from a compile I did a few minutes ago.

Normal run command:
[code]
Command with -z to disable graphical output:
[code]

[2017-07-05 17:28] jyc commented on #17555
Hi @o0Ignition0o -- I'm very sorry, was just talking with @dholbert and it turns out I was wrong about the expected behavior, so I don't think this is actually a bug as-is.

So the UA style for `input` elements sets `overflow: hidden` (https://github.com/servo/servo/blob/master/resources/servo.css#L129). This isn't what the other browsers I tested do in their user-agent styles, which explains why

[2017-07-05 18:02] o0Ignition0o commented on #17555
Oh, ok sure, no problem then :) Thanks for letting me know ! I guess a contributor will close this issue :)

[2017-07-05 18:04] jyc commented on #17555
Very sorry again :( Thanks! I will try closing the issue.

[2017-07-05 18:04] #17555 closed

[2017-07-05 18:07] jdm opened #17607 "Intermittent failure in /fetch/api/cors/cors-filtering.html and /fetch/api/cors/cors-filtering-worker.html"
https://github.com/servo/servo/pull/16508#issuecomment-312970974 and https://github.com/servo/servo/pull/16508#issuecomment-312979555 explain the issue. https://github.com/w3c/web-platform-tests/issues/6471 is filed to address the problem.

[2017-07-05 19:40] qezz commented on #17583
Sorry for the delay

here is full output https://gist.github.com/qezz/d9d006480ef4189bf4affb8c2537d30b

I noticed that there is also `mozjs_sys` build fail, probably similar to !17354 (i'm not sure)

[2017-07-05 19:41] highfive commented on #15832
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-05 19:41] jdm commented on #15832
Available for anybody.

[2017-07-05 19:42] highfive commented on #15834
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-05 19:42] jdm commented on #15834
Available for anybody.

[2017-07-05 19:43] jdm commented on #16479
@WholeGrainGoats Are you still working on this?

[2017-07-05 20:17] jdm commented on #17583
I believe both problems are caused by using gcc instead of clang.

[2017-07-05 20:38] jdm opened #17611 "Store Rc<Box<[Heap<JSVal>]>> instead of vector in FunctionTimerCallback"
Right now we store `Rc<Vec<Heap<JSVal>>>` in that enum variant, but it would be more clear to store a [boxed slice](https://doc.servo.org/collections/vec/struct.Vec.html#method.into_boxed_slice) instead. This would make it impossible for the vector to be modified, which is unsafe when it is storing Heap values.

Code: https://dxr.mozilla.org/servo/rev/296a215e5404eb0fd0c0a34cc1283cd0b84aaea9/compo

[2017-07-05 20:38] highfive commented on #17611
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-05 21:52] glennw commented on #13842
I've been trying to test this bug against current WR for a couple of weeks, but I just get a gateway timeout. Is it possible to host this test case somewhere else?

[2017-07-05 21:52] glennw commented on #13819
I've been trying to test this bug against current WR for a couple of weeks, but I just get a gateway timeout. Is it possible to host this test case somewhere else?

[2017-07-05 22:57] paulrouget commented on #11361
@metajack what do you think?

[2017-07-06 00:58] jonathandturner commented on #17045
Is this still broken or have the PRs fixed it? (if the latter, we should probably close it)

[2017-07-06 01:02] jonathandturner opened #17618 "HiDPI linux not showing gallery"
Running a recent Servo on a HiDPI display with a Intel® Kabylake GT3 graphics card on GNOME Ubuntu 17.04, I get the following:

![screenshot from 2017-07-06 12-56-10](https://user-images.githubusercontent.com/547158/27891048-3c3c7ec2-624b-11e7-9675-c2664690e3d2.png)

I am still able to type locations into the URL bar and go to them, so the rest of the functionality seems okay.

[2017-07-06 01:10] edunham commented on #17045
This is fixed. Thanks for the reminder to triage!

[2017-07-06 01:10] #17045 closed

[2017-07-06 02:02] WholeGrainGoats commented on #16479
Yes, I started debugging this Monday. Sorry for taking so long. I do have a question, though. Is this `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/forms/the-form-element/` enough to test fully or should I add some more test cases to it? I say that because I ran it at the beginning before I uncommented the corresponding WebIDL and had written the code but the tests all succeeded.

[2017-07-06 02:22] jdm commented on #16479
Yes, since we have lists of expected results like https://dxr.mozilla.org/servo/source/tests/wpt/metadata/html/semantics/forms/the-form-element/form-nameditem.html.ini which currently expect failures for all tests related to the named getter. Those should end up showing "PASS expected FAIL" once your changes take effect.

[2017-07-06 02:23] jdm commented on #11361
As long as we can get the -alt builds via rustup, this seems like it would be a useful improvement. I'm not sure how it will handle a nightly override for Servo as well as a stable override for Stylo, however.

[2017-07-06 05:39] Manishearth commented on #17131
bbd85ccbda2ced5994205a4362cca92b7e4837ab

[2017-07-06 05:39] #17131 closed

[2017-07-06 07:36] omakk commented on #15834
@highfive: assign me

[2017-07-06 07:36] highfive commented on #15834
Hey @omakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-06 12:42] #15834 closed

[2017-07-06 12:43] metajack commented on #11361
I guess one way would be to let rustup manage servo and mach manage stylo. Or put a rust-toolchain config in the libgecko dir?

[2017-07-06 15:10] MortimerGoro opened #17621 "Broken images on Android after rayon 0.8 update"
Hi, html images are broken on Android (either cropped, invalid rect shown or upside down). This didn't happen in a fork I did about a month ago. I did a git bisec and it blames rayon update: https://github.com/servo/servo/pull/17332. Example:

Before:
![screenshot_20170706-165650](https://user-images.githubusercontent.com/1070794/27917942-c68d73e8-626d-11e7-8bc2-35f92b06ec2b.png)
After:
![screensh

[2017-07-06 16:40] mrobinson commented on #17072
Okay. It took me longer to get to this than I expected. I was able to make a fix, but not to reduced test case. I'm still entirely sure why blocks are children of inline elements (without being inline blocks or inline absolutes).

[2017-07-06 16:43] mrobinson commented on #17072
Perhaps one of you would be willing to confirm that the change fixes the issue for you? I believe that it does for me, but I'm also seeing a strange deadlock on reddit.

[2017-07-06 17:10] asajeffrey opened #17623 "Codegen: use type name of union types"
If there is a union type:
[code]
we should generate a type alias:
[code]
This is particularly useful for very long union types, which otherwise break test-tidy.

[2017-07-06 17:12] asajeffrey commented on #17623
IRC chat with @Manishearth http://logs.glob.uno/?c=mozilla%23servo&s=6+Jul+2017&e=6+Jul+2017#c709107

[2017-07-06 17:26] jonathandturner commented on #17072
@mrobinson - checking

[2017-07-06 17:45] omakk commented on #15832
@highfive: assign me

[2017-07-06 17:45] highfive commented on #15832
Hey @omakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-06 17:46] jonathandturner commented on #17072
@mrobinson - still repros for me using your branch

[2017-07-06 19:30] asajeffrey opened #17625 "Style computed value of a URL is returning the relative URL"
If you call `style.computed_value_to_string(some-url-valued-property)` then you get the original, possibly relative, URL rather than the computed absolute URL. The culprit is https://github.com/servo/servo/blob/f18782fb0e10e150f44719d9899a62b84ecb7adc/components/style/servo/url.rs#L113-L121, which prioritizes the original URL, together with the fact that we share code between specified and compute

[2017-07-06 19:31] asajeffrey commented on #17625
IRC conversation with @nox http://logs.glob.uno/?c=mozilla%23servo&s=6+Jul+2017&e=6+Jul+2017#c709184

[2017-07-06 20:42] edunham commented on #10290
Added a "check the repo's permissions" section to https://github.com/servo/servo/wiki/Adding-a-repo-to-Homu documenting a guess at the correct perms to hand out when setting up new stuff, based on how Servo/Servo is.

[2017-07-06 20:50] edunham opened #17626 "Repo permissions audit"
- [ ] obtain list of all repos in the org (api)
- [ ] determine which repos Homu is trying to manage
  - [ ] determine which of those Homu is working correctly on
    - [ ] enable branch protection on those
  - [ ] Tracking issues to fix Homu where it's broken
- [ ] Document which if any repos Homu is not supposed to run on
  - [ ] Identify and remove any abandoned or no longer needed repos

[2017-07-06 20:50] highfive commented on #17626
cc @aneeshusa

[2017-07-06 20:52] edunham commented on #10290
The last remaining thing is "set up branch protection". Branch protecting every repo in the org is not feasible right now because Homu is not working on all repos. Additionally, it's unclear whether we want to add Homu to every repo that's ever been forked to the org. Superseding this with https://github.com/servo/servo/issues/17626 for next steps.

Please re-open if there's additional tasks here

[2017-07-06 20:52] #10290 closed

[2017-07-06 22:26] sadmansk commented on #17611
I can take a look at this

[2017-07-06 22:43] KiChjang commented on #17611
Go for it!

[2017-07-06 23:36] behnam opened #17629 "Enable AppVeyor for servo/unicode-bidi"
Can we enable AppVeyor for `servo/unicode-bidi` in regards to service bandwidth? If so, would be great to have it!

We have added `.appveyor.yml` to the master already (https://github.com/servo/unicode-bidi/pull/42):

Thanks!

[2017-07-06 23:36] highfive commented on #17629
cc @aneeshusa

[2017-07-06 23:42] jdm commented on #17629
cc @edunham

[2017-07-06 23:46] edunham commented on #17629
https://ci.appveyor.com/project/servo/unicode-bidi

It's now enabled.

[2017-07-06 23:46] #17629 closed

[2017-07-07 07:21] SharksevenRo opened #17631 "assertion failed: self.is_double()"
assertion failed: self.is_double()
### URL:

### Servo Version:
Servo 0.0.1-f11a922
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-07-07 08:18] KiChjang commented on #17631
Do you know which website triggered this error?

[2017-07-07 09:26] mrobinson commented on #17072
@jonathandturner I'm wondering if this is two different bugs then. I'm not able to reproduce the issue with `create_base_display_item` after my change.

[2017-07-07 13:44] jdm commented on #17582
This is supposed to happen through build_display_items_for_debugging_tint which is called from build_display_list_for_block and build_display_list_for_inline. I am confused why this is not working, since we set the option in from_cmdline_args.

[2017-07-07 14:28] jdm commented on #17582
The display list is definitely altered when I use `-Z show-parallel-layout`, but there's no tinting, just borders that are all the same colours for all elements.

[2017-07-07 18:56] jdm commented on #13035
I wonder if the problems you're seeing are related to https://github.com/servo/servo/pull/17606?

[2017-07-07 18:57] jdm commented on #15994
Unreserved after checking with Manish.

[2017-07-07 18:58] jdm commented on #12675
@shinglyu Did you look at the json output? Is this ready for a PR?

[2017-07-07 19:02] jrvidal commented on #13035
Probably! I'll test that branch.

[2017-07-07 19:11] edunham commented on #12596
The mac pro is out of rotation now and we haven't seen the isseu in awhile, so closing. Please reopen if this is still actionable.

[2017-07-07 19:11] #12596 closed

[2017-07-07 19:17] #15832 closed

[2017-07-07 19:32] asajeffrey commented on #17623
Ah, I was looking in the wrong file! The named type is defined in `*Bindings/*Binding.rs` not `UnionTypes.rs`.

[2017-07-07 19:32] #17623 closed

[2017-07-07 20:08] #15385 closed

[2017-07-07 20:45] NiLSPACE opened #17635 "Bad performance on Maze Solver"
Url: https://testdrive-archive.azurewebsites.net/Performance/MazeSolver/Default.html

When trying Maze Solver on Servo I get extremely bad performance. Servo takes 220 seconds to finish a 30x30 maze while Firefox Nightly takes 40 seconds and Firefox Nightly with webrender and Stylo enabled is done in 5 seconds.

It also seems Servo is rendering the path incorrectly with all the dots being in the t

[2017-07-08 03:37] atouchet opened #17637 "duckduckgo.com/html search bar overly short in Servo"
When looking at a search page at https://duckduckgo.com/html the search bar is noticeably shorter in Servo than in other browsers.

Example images:

In Servo:

![Servo example](https://i.imgur.com/1AO5XN1.png)

In Firefox:

![Firefox example](https://i.imgur.com/Li4X3Gd.png)

Tested in Windows 10.

[2017-07-08 03:42] atouchet commented on #11960
I tried re-testing this with a Nvidia GeForce GTX 1050 Ti and I am still getting the same issue. For what it's worth I am also using a 1080p monitor.

[2017-07-09 07:54] jaredwy commented on #16840
@jdm does this mean this issue is up for grabs?

[2017-07-09 09:40] pyfisch opened #17642 "Servo fails with stacktrace for every website"
Building servo after `./mach clean` succeeds (although with a few warnings) but on startup servo fails for every website with a stacktrace. I built and ran servo before but these errors are new for me.

How to run servo again, is there some extra clean command?

I am running Ubuntu 16.04.

Version:
[code]

Build output:
[code]

Stacktrace:
[code]

[2017-07-09 09:51] Himujjal opened #17643 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-104e0b4
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-07-09 10:31] pyfisch commented on #17643
Do you know which website you were using?

[2017-07-09 11:52] emilio commented on #17642
This is a known nightly issue, that should be fixed in the next nightly, though I can't look the right issue right now (on my phone). You can grep for stackprobe in rust-lang/rust.

[2017-07-09 12:39] Himujjal commented on #17643
One of the demo websites on Servo. My CPU configuration : 5th Gen Intel is processor, 12 GB of RAM, Windows 10 Creators Update , 2 GB ATI Radeon  embedded graphics.

[2017-07-09 12:40] Himujjal commented on #17643
Plus the demo websites with SVG are running better in my other browsers.

[2017-07-09 12:53] emilio commented on #16840
Yes, it is :)

[2017-07-09 12:53] emilio commented on #17642
Err, the change hasn't merged yet. But this is https://github.com/rust-lang/rust/issues/43102.

[2017-07-09 18:01] lilianmoraru opened #17645 "Servo crashes reliably on refresh"
I downloaded `servo` from: https://download.servo.org
`servo --version`: `Servo 0.0.1-104e0b4`

Steps to reproduce the crash:
1. Go to a website, example "github.com", wait for it to load
2. Press "F5"
3. It should crash

Here are logs attached where I did this:
1. Go to `github.com`
2. Go to `feedly.com`(I initially thought that it was related to feedly, it crashed there even without a refresh, b

[2017-07-09 18:19] lilianmoraru commented on #17645
Here are shorter logs that remove some of the spammy logs.
This was run like this: `RUST_BACKTRACE=full RUST_LOG=trace,webrender::clip_scroll_node=error,script::dom::window=warn ./servo`

[shorter_logs.zip](https://github.com/servo/servo/files/1133953/shorter_logs.zip)

[2017-07-09 18:27] jonathandturner commented on #17072
@mrobinson - this is what I see with your patch (on macOS), following the repro steps for polygon.com:

[code]

[2017-07-09 18:34] jrvidal commented on #13035
Interestingly, the crash is less evident after https://github.com/servo/servo/commit/2fd925bac9, since a panic in the WebGL thread no longer causes Servot to navigate to `about:failure`. I can still reproduce by interacting with the window though.

I did some copy&pasta from https://github.com/servo/servo/pull/17606, to apply the same technique to `WebGLPaintThread` instead of `CanvasPaintThread`

[2017-07-10 04:25] paulrouget opened #17647 "Move Ctrl-F12 keybindings outside of libservo"
This code should be removed from here: https://github.com/servo/servo/blob/95a85a301f1d014c45448a4d5d4f5a8497904af6/components/compositing/compositor.rs#L1316

Catching the keybinding should be done here: https://github.com/servo/servo/blob/95a85a301f1d014c45448a4d5d4f5a8497904af6/ports/glutin/window.rs#L1293

And new WindowEvent should be created here: https://github.com/servo/servo/blob/95a85a30

[2017-07-10 04:25] highfive commented on #17647
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-10 05:00] stshine commented on #12455
This is fixed by #12230 and #13590.

[2017-07-10 05:00] #12455 closed

[2017-07-10 06:36] Tremoneck commented on #17647
@highfive: assign me

[2017-07-10 06:37] highfive commented on #17647
Hey @Tremoneck! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-10 13:43] jdm commented on #17645
I have not been able to reproduce this in a local debug build following those steps.

[2017-07-10 14:04] paulrouget commented on #17647
@Tremoneck Thanks! Let me know if there's anything I can do to help.

[2017-07-10 16:57] Tremoneck commented on #17647
@paulrouget After moving everything over and testing, it works, but it gives a warning about an usused import, should I just remove the import, or leave it in case someone else needs said import. The message ```warning: unused import: `CONTROL`
  --> D:\git\Servo\servo\components\compositing\compositor.rs:14:59
   |
14 | use msg::constellation_msg::{Key, KeyModifiers, KeyState, CONTROL};
   |

[2017-07-10 17:23] jdm commented on #17647
If your changes cause new warnings to appear, please make appropriate changes that make the warnings go away :)

[2017-07-10 20:33] jdm opened #17651 "navigationStart value is incorrect"
We currently initialize the value that is returned by PerformanceTiming.navigationStart during ScriptThread::load. This means that it represents the time at which we have already received the initial response from the network. This disagrees with the definition of https://www.w3.org/TR/navigation-timing/#dom-performancetiming-navigationstart.

[2017-07-11 05:32] atouchet opened #17659 "Italicized text on Ars Technica does not change colour on mouseover"
When moving the mouse over the article titles on Ars Technica the text colour should change from black to orange. However in Servo only the non-italicized text changes colour.

Example image:

![Text colour](https://i.imgur.com/mrXltw4.png)

(See: "Final Fantasy XII: The Zodiac Age review: Reinforced for reexamination")

Tested in Windows 10.

[2017-07-11 05:38] atouchet commented on #5854
Is this issue still valid? I just tried loading the site and it seemed to scroll fine.

[2017-07-11 07:12] omakk commented on #16840
Hey @jaredwy, are you still interested in this issue? I'd like to take a poke at this, but wanted to make sure before claiming.

[2017-07-11 07:23] jaredwy commented on #16840
@omakk still keen. Just have to get approval from work. Will ping you if that falls through.

[2017-07-11 07:23] jaredwy commented on #16840
@highfive: assign me

[2017-07-11 07:23] highfive commented on #16840
Hey @jaredwy! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-11 09:13] #17647 closed

[2017-07-11 13:33] jdm commented on #5854
Thanks for checking!

[2017-07-11 13:33] #5854 closed

[2017-07-11 13:40] jdm opened #17661 "Make CanvasPaintState::new accept an AntialiasMode enum argument instead of a boolean"
Since it ends up using AntialiasMode internally, let's make it take the same argument type. We should also change the type of argument that CanvasPaintThread::new accepts as well.

Code: `components/canvas/canvas_paint_thread.rs`

No need for automated tests; if it compiles, that's good enough for a PR.

[2017-07-11 13:40] highfive commented on #17661
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-11 14:14] zmike opened #17663 "embedding: shared library no longer linkable (again)"
undefined reference to libstd-$hash.so

cc @metajack @jdm

[2017-07-11 14:16] jdm opened #17664 "Window.postMessage runnable triggers panic for closed windows"
[code]
arstechnica.com triggers this panic. The easiest solution is to make it a cancellable runnable like the more modern DOM event source APIs.

[2017-07-11 14:25] atouchet commented on #16411
Is this issue still valid? Windows text input was supposed to have been fixed back in #16390.

[2017-07-11 14:36] SaschaNaz commented on #16411
I think this can be closed.

[2017-07-11 14:37] SaschaNaz commented on #14494
This issue does not repro on today's build.

[2017-07-11 14:40] jdm commented on #14494
Thanks!

[2017-07-11 14:40] #14494 closed

[2017-07-11 14:40] #16411 closed

[2017-07-11 14:44] jdm opened #17666 "Intermittent failure in /html/semantics/document-metadata/the-link-element/document-without-browsing-context.html"
[code]

[2017-07-11 14:50] jdm opened #17667 "Hover color transition does not work with incremental layout"
[code]
When run with `-i`, the color changes to red (with no intervening interpolated colors). Without `-i`, the text never changes color.

[2017-07-11 14:54] jdm commented on #17659
Reducing it to `<h2><a><em>Final Fantasy XII: The Zodiac Age</em> review: Reinforced for reexamination</a></h2>` did not reproduce the problem, so there's something more subtle going on.

[2017-07-11 14:56] asajeffrey opened #17668 "CanvasPaintState::new should take a AntialiasMode not a boolean"
At the moment, `CanvasPaintState::new` in `components/canvas/canvas_paint_thread.rs ` takes its anti-alias mode argument as a boolean. Really this should be an `AntiAliasMode`. See https://github.com/servo/servo/pull/17609#discussion_r126669932.

[2017-07-11 14:56] highfive commented on #17668
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-11 14:59] jdm opened #17669 "Hover color transition only affects direct text children"
[code]
Due to #17667, this testcase is completely broken unless non-incremental layout (`-i`) is enabled. Even with non-incremental layout, however, the text in the span does not change color when the mouse is over any part of the containing div.

[2017-07-11 15:00] jdm commented on #17659
I have created a minimal testcase demonstrating this problem in #17669.

[2017-07-11 15:01] jdm commented on #17668
Duplicate of #17661.

[2017-07-11 15:01] #17668 closed

[2017-07-11 15:31] jdm commented on #17594
We cleared the TravisCI cache, which was 1.2gb. Hopefully that fixed it!

[2017-07-11 15:31] #17594 closed

[2017-07-11 15:31] #17533 closed

[2017-07-11 15:58] asajeffrey commented on #17668
Ah, we both filed this!

[2017-07-11 17:18] samsymons opened #17670 "Build fails at fontsan (macOS 10.12.5)"
I am seeing a build failure with `fontsan` on macOS 10.12.5. This occurs both during a Servo build, and when building `fontsan` itself.

I can build `ots` itself perfectly fine [using the build instructions](https://github.com/khaledhosny/ots/blob/master/INSTALL), but building it via Servo or `fontsan` results in the follow errors:

* [Build log](https://gist.github.com/samsymons/246094aa2a7fe2aa1

[2017-07-11 17:20] emilio commented on #17670
Seems like you're using a super-old C++ compiler (that doesn't have support for `std::unique_ptr`?)

[2017-07-11 17:34] samsymons commented on #17670
@emilio I wondered about that myself, though I wrote a small test program which uses `std::unique_ptr` and that compiles without problems either. Looking at [this mapping](https://gist.github.com/epipping/ef8b02b0cfaec4a5ebf3a57092145a3f) of AppleClang versions to clang upstream versions, I should be on at least 3.9.

[2017-07-11 18:51] sadmansk commented on #17611
@highfive: assign me

[2017-07-11 18:51] highfive commented on #17611
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-07-11 20:25] hgallagher1993 opened #17671 "warning: unused import: `script_layout_interface::reporter::CSSErrorReporter`"
in components/layout_thread/lib.rs

[2017-07-11 20:27] hgallagher1993 commented on #17671
I can make the pull request for it soon enough, just thought I'd submit the issue for it first

[2017-07-11 20:41] #17664 closed

[2017-07-11 20:52] jdm commented on #17671
Sounds good!

[2017-07-11 21:39] asajeffrey opened #17674 "Paint worklets: geometry size"
Reftest /_mozilla/mozilla/css-paint-api/geometry-background-image-003.html failure caused by geometry size, possibly under hidpi?

[2017-07-11 21:44] asajeffrey opened #17676 "Paint worklets: drawing lines of the wrong width"
Reftest /_mozilla/mozilla/css-paint-api/geometry-background-image-tiled-*.html failure caused by line widths, possibly under hidpi?

[2017-07-11 22:00] asajeffrey opened #17677 "Implement CSS.registerProperty"
[code]

[2017-07-11 22:20] asajeffrey opened #17680 "Worklets: hide them behind a pref?"
IRC conversation with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=11+Jul+2017&e=11+Jul+2017#c711027

[2017-07-11 23:08] SimonSapin commented on #17680
Yes. If they (or part of them) have already landed without a pref, they shouldn’t have.

[2017-07-12 00:28] #16839 closed

[2017-07-12 02:40] gterzian commented on #17226
Somewhat unrelated to this issue, but I wasn't sure where else to post it. Came across this project which is an interesting embedding use case: https://github.com/scrapinghub/splash/

They're using PyQt5, which seems to offer a kind of windowing wrapper around Webkit.

The project has it's own "Tab" solution, implemented in Python, which wraps around a PyQt5.QWebview. It's worth taking a look to s

[2017-07-12 02:58] marti1125 commented on #17661
@highfive: assign me
see you on irc channel my nick is marti_

[2017-07-12 02:58] highfive commented on #17661
Hey @marti1125! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-12 03:10] #17611 closed

[2017-07-12 03:59] paulrouget commented on #17226
Thanks.

There are a lot of embedding projects we have been studying. For example:

- [Chromium Embedded Framework](https://bitbucket.org/chromiumembedded/cef/wiki/GeneralUsage)
- [Mozilla Browser API](https://developer.mozilla.org/en-US/docs/Mozilla/Gecko/Chrome/API/Browser_API)
- [Electron's webview](http://electron.atom.io/docs/api/web-contents/)
- [Android's webview](https://developer.android.

[2017-07-12 04:02] paulrouget commented on #17226
When it comes to the way the embedder and servo communicate, #15645 is a good place to discuss. Also, see #15934.

[2017-07-12 04:07] #17671 closed

[2017-07-12 05:26] jyc commented on #17677
Hello! This looks like it's part of the Properties & Values API! I'm working on implementing this and hope to have it by the end of the summer (earlier would be better, but I think I'm bad at estimating how long things will take...).

Are you aiming here to implement a stub for this function, or to actually implement the full functionality?

[2017-07-12 08:32] omakk commented on #15994
Hey @jdm, I'd like a crack at this, if that's okay. I had quick look and will probably come back with a few questions after I've looked some more :)

[2017-07-12 08:39] jaredwy commented on #16840
Work approved! So will take a crack at this this weekend. Sorry @omakk!

[2017-07-12 08:46] omakk commented on #16840
No worries @jaredwy! Good luck and enjoy :)

[2017-07-12 10:45] mrobinson commented on #17642
@emilio This is causing redness on the bots, so perhaps we should revert the previous rustup?

[2017-07-12 11:09] mrobinson commented on #17643
@Himujjal Do you know which website in particular?

[2017-07-12 11:22] Himujjal commented on #17643
I think it was Demo: Spheres

[2017-07-12 14:43] asajeffrey commented on #17677
Cool, glad someone is working on this! I think we just need a stub to pass the wpt tests, but it would be nice to have more than that.

[2017-07-12 14:45] jdm commented on #15994
Sounds good!

[2017-07-12 18:34] brainlessdeveloper commented on #14504
#16508

[2017-07-12 18:47] NiLSPACE commented on #17088
I noticed this also happens on Firefox with Webrender enabled and `gfx.webrender.layers-free` set to true.

[2017-07-12 18:56] kpp commented on #13963
Hello, it's me
I was wondering if after all these years you'd like to meet

[2017-07-12 19:23] jyc commented on #17182
Issue not really closed, still depends on three more PRs in the series.

[2017-07-12 19:52] jyc commented on #17677
Oh neat, makes sense! Would you like me to write some sort of stub? (but I'm guessing you might have a better idea about what you need for the Paint tests)

[2017-07-12 21:00] asajeffrey commented on #17677
If you want to write a stub, the would be great! Hopefully that will get the css-paint-api test to pass.

[2017-07-12 21:22] jyc commented on #17677
Awesome, thanks! To confirm, is this the test file in question: https://github.com/asajeffrey/servo/blob/wpt-update-css-paint-api/tests/wpt/mozilla/tests/mozilla/css-paint-api/registered-properties-in-custom-paint.html

[2017-07-12 21:26] jyc commented on #17677
Actually, looking at that test file, it looks like we actually need Typed OM too (for `styleMap.getProperties().sort()`), and for Properties & Values to actually be implemented (in order for the serialized strings to get those representations with types that are being compared [here](https://github.com/asajeffrey/servo/blob/wpt-update-css-paint-api/tests/wpt/mozilla/tests/mozilla/css-paint-api/reg

[2017-07-12 21:48] jyc opened #17695 "Should restyle when text changed affects matching `:empty`"
#17501 fixes restyling when text is changed in some cases, but @emilo observed that we should also restyle when setting the data of a text node affects matching `:empty`. We don't seem to currently, which means that we fail [layout/reftests/bugs/534804-1.html](http://searchfox.org/mozilla-central/source/layout/reftests/bugs/534804-1.html).

[2017-07-12 22:08] emilio opened #17697 "Cleanup downcasting that only check whether it's result is `Some` or `None`."
We have one occurrence of this in `components/script/webdriver_handlers.rs`:

[code]

This should just be:

[code]

#17501 is introducing another similar use, we should clean that up too.

[2017-07-12 22:08] highfive commented on #17697
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-12 22:13] bholley opened #17698 "Upgrade parking_lot"
Our version is kind of old. We should upgrade to 0.4.4 (or higher), which will also bump the dependent version of owning_ref, which will allow us to stop pulling in two versions of that crate (which I'm doing now).

[2017-07-12 22:13] highfive commented on #17698
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-12 22:15] emilio opened #17699 "cleanup `orientation_of_angle` once #17696 lands."
#17696 is introducing a style that is unheard-of in Servo's codebase:

[code]

Instead of this, we should probably use a more rusty style, either early-return in multiple lines:

[code]

Or in one line (not a fan, but in this case it can be argued that it looks nicer):

[code]

[2017-07-12 22:15] highfive commented on #17699
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-12 22:18] emilio opened #17700 "tidy: Detect keywords with more than one space afterwards"
In `document.rs`:

[code]

(note the double space after the `if`).

We should write a tidy lint that catches this (and presumably also with other keywords, like `else`, `unsafe`, ... (any other?), and makes `./mach test-tidy` fail if that's the case.

@wafflespeanut, would you be able to mentor this? (I can too, though it'd take me a bit more time I presume)

[2017-07-12 22:18] highfive commented on #17700
cc @wafflespeanut

[2017-07-12 22:18] highfive commented on #17700
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-12 22:25] jyc commented on #17699
Makes sense I suppose, would just like to note that personally I think this sort of horizontal alignment looks pretty nice and makes things clearer to read (it is used in a lot of OCaml code). It also happens to be the code style used in Gecko's implementation of the same function. But changing it to conform to the rest of the code definitely makes sense!

[2017-07-12 22:25] emilio commented on #17700
[code]

[2017-07-12 22:31] bholley commented on #17698
(I'm adding the second dep of owning_ref in #17701).

[2017-07-12 22:33] wafflespeanut commented on #17700
A lot of keywords don't necessarily have braces/paren next to them (which include `if`, `let`, `mut`, `type`, `extern`, `as`, etc. - the entire keyword list is listed here - https://doc.rust-lang.org/book/second-edition/appendix-01-keywords.html).

Let's focus on adding a generic function inside `check_rust` function in `python/tidy/servo_tidy/tidy.py` which scans lines for such keywords and yield

[2017-07-12 22:41] emilio commented on #17699
Yeah, it's a matter of following rust conventions in general... I'd love if eventually Servo could be [rustfmt](https://github.com/rust-lang-nursery/rustfmt)'d...

[2017-07-12 23:38] bholley commented on #17698
I decided to just do this in #17701.

[2017-07-12 23:38] #17698 closed

[2017-07-13 02:29] glennw opened #17708 "Running WPT is much slower than it used to be."
Using the follow subset of WPT:

```./mach test-wpt --release --processes=8 tests/wpt/mozilla/tests/css/```

Previously (perhaps 2 months ago?) this would complete in ~70 seconds on my machine. With current master, this is now taking ~175 seconds, nearly 2.5x *slower* than it used to be.

The attached image shows what the CPU usage looks like during execution of the command. Previously, all CPUs w

[2017-07-13 02:29] glennw commented on #17708
Anyone have any ideas what may have caused this regression? @jdm @emilio @metajack  ?

[2017-07-13 03:11] #17642 closed

[2017-07-13 08:53] mrobinson commented on #16547
I'm fairly certain this was fixed by https://github.com/servo/servo/pull/16463, just three days before this bug was filed. 😄

I verified that the test appears to be passing, but if I'm mistaken please re-open.

[2017-07-13 08:53] #16547 closed

[2017-07-13 09:18] mrobinson commented on #11019
Pretty sure this isn't an issue any longer, so I'm going to close this one. If you still see it, feel free to reopen the bug.

[2017-07-13 09:18] #11019 closed

[2017-07-13 09:20] mrobinson commented on #13053
I'm not seeing this issue any longer. Feel free to reopen if it's still a problem.

[2017-07-13 09:20] #13053 closed

[2017-07-13 09:22] mrobinson commented on #13819
Here is the test case:
[code]

[2017-07-13 09:23] mrobinson commented on #13819
I still see this issue even with all the recent improvements to ClipScrollNode footprint calculation.

[2017-07-13 10:31] DavidLarsson commented on #16703
I'm new to the project (and to Rust), so I thought I'd start softly with reproducing this bug. It crashes on my Dell XPS:

with Ubuntu 16.04 and the following kernel configuration:

Repeated twice with the same origin in thread RenderBackend texture_cache.rs:820, dissimilar from @jonathandturner . But similarly, the crash happens right after the first test finishes.

My backtrace seems to be much

[2017-07-13 12:36] SimonSapin commented on #11019
(Or comment, @-mentioning someone to ask to reopen, since if I remember correctly only people with write access to the repository can reopen closed issues.)

[2017-07-13 13:07] mrobinson commented on #11019
@SimonSapin Oh! That's good to know. Yes Just @ me and I'll be happy to reopen this one.

[2017-07-13 13:49] Gankro opened #17715 "Implement text-emphasis handling"
https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis

* stylo already handles it (because gecko does)
* webrender doesn't need anything to handle it

The layout code just needs to grab the info from stylo, figure out the positioning of the glyphs, and emit a TextDisplayItem into its DisplayList.

I have marked off where text-emphasis marks should (potentially) be emitted in this PR: http

[2017-07-13 13:58] jdm commented on #17708
Ironically, I see the opposite - using master on my 2015 macbook pro, it takes 70 seconds to run 560 tests in that directory. Using 121662aa570f9e4005deec6d502acba7ab56c076 from May 9, it takes 139 seconds to run 557 tests.

[2017-07-13 14:49] mrobinson opened #17718 "overflow:hidden areas should be scrollabe via script"
These are currently handled like CSS clipping which means that they cannot be scrolled. We should create them as scrollable areas, but also expose an option in WebRender for creating scroll frames that are not responsive to input scroll events.

[2017-07-13 14:55] Gankro commented on #17715
I guess one subtlety is that text-emphasis marks require space so you may need to adjust the whole text's baseline(?) to make room.

[2017-07-13 15:02] samsymons commented on #17670
The issue was that CMake was not picking the right `CMAKE_OSX_SYSROOT` value when building `fontsan`. Here is the before and after of the CMake cache, where the `MACOSX_DEPLOYMENT_TARGET` environment variable was set between runs:

<img width="974" alt="deployment-target" src="https://user-images.githubusercontent.com/183774/28172763-5dd6976a-67a1-11e7-9343-28cc5cc1f1cd.png">

Using `export MACOSX

[2017-07-13 15:02] #17670 closed

[2017-07-13 17:59] dajester2013 opened #17719 "Dev preview crashes on Windows 10 x64"
I am getting this error when trying to run the dev preview on Windows 10 x64, 1703 build 15063.296:

[code]

[2017-07-13 19:57] #16576 closed

[2017-07-13 20:14] Gozala commented on #13842
@glennw sorry for that, here is that example file as a gist https://gist.github.com/Gozala/d30e4417292499c518ae1b2d07633731

[2017-07-13 20:17] jdm commented on #13842
<details>

[code]

</details>

[2017-07-13 21:04] sadmansk commented on #17645
@lilianmoraru Which platform is this crashing on?

[2017-07-13 21:08] sadmansk commented on #17643
if no one is working on this, I can take a look

[2017-07-13 21:10] sadmansk commented on #17697
I could take a go at this. @highfive: assign me.

[2017-07-13 21:10] highfive commented on #17697
Hey @sadmansk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-13 21:16] SergeevPavel commented on #17699
I could take it. @highfive: assign me

[2017-07-13 21:16] highfive commented on #17699
Hey @SergeevPavel! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-13 21:40] mrobinson commented on #17643
@sadmansk Sure. I don't think anyone is looking at this.

[2017-07-14 00:59] mbrubeck opened #17723 "Underline thickness is inconsistent (due to rounding or pixel snapping?)"
When rendering https://limpet.net/mbrubeck/ with `--device-pixel-ratio 2`, some of the underlines are 2 device pixels tall, and some are only one device pixel tall.  This happens both with and without the `--webrender` option.

In the display list, the underlines are each 0.7px tall.

![screenshot from 2017-07-13 17-52-06](https://user-images.githubusercontent.com/5920/28193777-46667f20-67f4-11e7-

[2017-07-14 01:54] atouchet commented on #17464
This is fixed in Servo as of #17694. Thanks!

[2017-07-14 01:54] #17464 closed

[2017-07-14 02:08] atouchet opened #17725 "Visual artifacts on duckduckgo.com/html Next button"
When performing a search on https://duckduckgo.com/html/ the Next button occasionally will have noticeable visual artifacts. The "Next" text also appears blurrier in Servo.

Example images:

In Servo:

![Servo emaple](https://i.imgur.com/CO592GR.png)

In Firefox:

![Firefox emaple](https://i.imgur.com/uN9WLde.png)

Tested in Windows 10.

[2017-07-14 02:14] atouchet commented on #11489
DuckDuckGo now loads. Should this be closed?

[2017-07-14 03:16] atouchet commented on #12892
Possibly related to #15687.

[2017-07-14 04:15] metajack commented on #11489
It does seem to work just fine now.

[2017-07-14 04:15] #11489 closed

[2017-07-14 05:40] atouchet commented on #9915
#17637 and #17725 are DuckDuckGo issues. #11489 can be marked as fixed.

[2017-07-14 09:03] lilianmoraru commented on #17645
Linux Ubuntu 16.04 LTS(KDE neon).

[2017-07-14 09:59] NiLSPACE commented on #17170
It seems this is fixed now. The websites loads quick and feels really smooth.

[2017-07-14 10:04] NiLSPACE commented on #17635
I've noticed that the performance (or at least the speed in which the second counter updates) drops dramatically when you start moving the cursor on the page.

[2017-07-14 10:29] sciguyryan opened #17730 "Servo Cannot Run html5test.com Test"
Hi guys.

When attempting to run [html5test.com](http://html5test.com) Servo appears to stall and is unable to run any of the tests. This appears to be a regression as I was able to run this test before. The last time I had tested this was on the nightly from the 31st of May 2017.

This was tested on Windows 10 x64.

[2017-07-14 14:12] jdm commented on #17170
Thanks for checking!

[2017-07-14 14:12] #17170 closed

[2017-07-14 15:39] atouchet commented on #4645
Are you still seeing this issue? I am unable to reproduce.

[2017-07-14 15:44] fabricedesre commented on #17730
I was able run the test on linux (Servo scored 259/555) so this looks like something OS specific.

[2017-07-14 15:47] sciguyryan commented on #17730
That's pretty interesting. I did attempt to get a simplified testcase written but no luck with that yet unfortunately.

[2017-07-14 15:49] atouchet commented on #17730
I just tested this in Windows 10 and got the same results as @fabricedesre. Doesn't seem to be due to the OS.

[2017-07-14 16:37] jdm commented on #17730
I got endless loading on macOS in a debug build.

[2017-07-14 16:39] jdm commented on #4645
I do not.

[2017-07-14 16:39] #4645 closed

[2017-07-14 16:40] sciguyryan commented on #17730
@jdm Yeah, that's what I got too but I'm no longer seeing that. Some intermittent issue perhaps?

[2017-07-14 16:42] edunham opened #17733 "Add tidy to support crates' CI"
Superseding https://github.com/servo/servo/issues/861

- [ ] set up CI to automatically deploy new tidy versions to pypi when the source is changed
- [ ] Update list of all support crates and add it here
- [ ] check whether tidy is run by their CI and add it if not

[2017-07-14 16:42] highfive commented on #17733
cc @aneeshusa

[2017-07-14 16:43] edunham commented on #17733
oops I already had this issue over in https://github.com/servo/servo/issues/10636. Duh.

[2017-07-14 16:43] #17733 closed

[2017-07-14 17:52] edunham commented on #11823
Closing as "almost certainly dxr's problem" and "probably went away or someone would have said something in the past year". If either of these assumptions is incorrect -- if there's an action you'd like a Servo infrastructure person to take on this issue -- please feel free to re-open.

[2017-07-14 17:52] #11823 closed

[2017-07-14 18:52] edunham commented on #12771
branch protection etc tracking issue is over at https://github.com/servo/servo/issues/17626

[2017-07-14 20:17] larsbergstrom commented on #5973
Now that cargo workspaces exist and we've moved to them, this is no longer relevant.

[2017-07-14 20:17] #5973 closed

[2017-07-14 20:21] edunham commented on #8464
All the android tooling has changed since we disabled it. When we ramp back up on Android, we'll re-evaluate the signing story.

[2017-07-14 20:21] #8464 closed

[2017-07-14 20:23] edunham commented on #9831
Infra changes will be required for metadata when this eventually rolls out. Untagging as infra till then because we have no idea what infra work is needed right now. Please re-tag when it's ready for infra assistance.

[2017-07-14 20:46] jdm opened #17736 "Don't report unrecognized vendor-prefixed properties as errors"
This will match the behaviour of [Gecko's parser](http://searchfox.org/mozilla-central/rev/cbd628b085ac809bf5a536109e6288aa91cbdff0/layout/style/nsCSSParser.cpp#7165-7169) and help us not regress performance on sites like dailymotion, per https://bugzilla.mozilla.org/show_bug.cgi?id=1381045.

[2017-07-14 20:46] highfive commented on #17736
cc @emilio

[2017-07-14 21:34] rhelmer commented on #9831
BTW I've started sketching out and prototyping a standalone Rust app for downloading + verifying data, which can run either as a child process or an OS service and message-pass with the app: https://github.com/rhelmer/update-client

I had Firefox in mind for it and am still fleshing it out, but could be useful for Servo. The update protocol is inspired by Omaha, and it'd be good to consider buildi

[2017-07-15 04:29] atouchet commented on #17391
This appears to be fixed now.

[2017-07-15 04:29] #17391 closed

[2017-07-15 04:43] atouchet commented on #17659
I just tested this on the latest nightly build and now the results appear to be more inconsistent than before. Sometimes the text changes colour and sometimes it doesn't.

[2017-07-15 05:15] atouchet commented on #9831
If this goes ahead it would be nice to have some kind of indicator of the version number/build date of the version currently being used in Browser.html (maybe an About window or something like that).

[2017-07-15 06:02] jdm commented on #17659
I don't think anything has changed; I was seeing inconsistent results in my previous testing.

[2017-07-15 11:01] sciguyryan opened #17742 "Hitting Tab Key Does Not Switch Element Focus"
Hi guys.

I noticed this while testing something relating to element focus styles. I noticed that clicking tab on a focused element does not switch focus from the currently focused element.

The following is a simple testcase to demonstrate this:

[code]

The page will show two buttons, one automatically focused on document load. Hitting tab and clicking enter should display an alert box with "2"

[2017-07-15 11:10] paulrouget commented on #17742
dupe of #3982 ?

[2017-07-15 11:12] paulrouget commented on #15507
Related: #17401

[2017-07-15 12:33] sciguyryan commented on #17742
Yes, seems that way. Sorry about that. I had searched for "tab" and "focus" but I didn't find that issue listed.

[2017-07-15 12:33] #17742 closed

[2017-07-15 16:07] SergeevPavel commented on #17700
@highfive: assign me

[2017-07-15 16:07] highfive commented on #17700
Hey @SergeevPavel! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-15 21:57] atouchet opened #17748 "Issue with right side of rounded corner highlights in sidebar"
Issue pictured here in red:

![Servo](https://i.imgur.com/8jJycnY.png)

Next to where the website titles are supposed to be in the sidebar are some light grey pixels next to the grey selection indicator. I am not 100% sure if this is a Servo or Browser.html problem.

Possibly related to #17511 which appears to be a similar issue regarding rounded corners.

Tested in Windows 10.

[2017-07-15 22:08] #17699 closed

[2017-07-16 14:11] ripieces opened #17750 "Windows compile for 32 bit target issues"
Hello, I am thinking about using Servo as GUI and for scripting for some private project, however it would have to be in a 32 bit target process.

But I am not sure if the servo team plans to support 32 bit target process compiles (since Windows XP and Vista are for example probably also not supported).

I am on a 64bit machine with Windows 10 and Visual Studio Community 2017:
[code]

To compile f

[2017-07-16 14:39] atouchet commented on #17750
https://github.com/servo/servo/issues/16820#issuecomment-300923537

[2017-07-16 14:44] ripieces commented on #17750
Thanks for your reply.
I guess that means not supported :(

[2017-07-16 14:44] #17750 closed

[2017-07-16 15:27] ageazrael opened #17752 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-17f99e2
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-07-16 21:38] haburibe opened #17753 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-17f99e2
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-07-17 00:44] KiChjang commented on #17752
Do you happen to know which website you were browsing?

[2017-07-17 00:46] KiChjang commented on #17753
Do you happen to know which website you were browsing?

[2017-07-17 07:00] paulrouget commented on #17742
@sciguyryan Thanks for reporting this! It's always useful to get more reports, especially with step to reproduce and tests.

[2017-07-17 09:42] SergeevPavel commented on #15994
Good day. I rewrote this code with `ascii_case_insensitive_phf_map`. Build passed without errors. But I don't know how to run relevant tests. Can anybody help me with it?

[2017-07-17 11:05] Manishearth commented on #15994
Push up a pull request; this probably will be fine as long as it builds. I'll run the pull request on the full test suite when you do.

`./mach test-unit -p style` is one way to run a relevant subset of the tests locally if you want to

[2017-07-17 13:22] SimonSapin opened #17755 "Intermittent crash in /css-flexbox-1_dev/html/flexbox_item-bottom-float.htm"
[code]

[2017-07-17 14:02] jdm commented on #17755
This is #13480.

[2017-07-17 14:02] #17755 closed

[2017-07-17 15:17] #17736 closed

[2017-07-17 16:18] #15247 closed

[2017-07-17 16:22] edunham commented on #4602
Hey @steveklabnik, what would you recommend as the best practices for this situation?

[2017-07-17 16:27] steveklabnik commented on #4602
There basically are none.

@onur might be able to share what they do with `docs.rs`, but that's the only person I know of who's doing this kind of thing.

New Rustdoc seeks to make this the default, but that's not coming for a while.

[2017-07-17 16:47] edunham commented on #4602
Also from our chat in `#rust-docs`, one example of this being done is https://doc.rust-lang.org/libc

[2017-07-17 17:03] onur commented on #4602
Docs.rs is basically doing `cargo doc --target={ARCH}`. You need to install required rust-std component for the target architecture and if your library have a system dependency (openssl for example) you need to build this library for all target architectures.

[2017-07-17 17:42] jdm opened #17756 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/context/context-eviction-with-garbage-collection.html"
[code]

[2017-07-17 18:13] #16696 closed

[2017-07-17 19:23] asajeffrey commented on #13035
I updated #17606 to fix WebGL as well as Canvas. I don't have a Mac, so I'm flying on instruments, did this fix the issue?

[2017-07-17 21:07] yellowfour commented on #12130
I'd prefer prioritize Android because there is still no great page rendering engine since Presto has been retired by Opera. I don't get why Gecko and WebKit/Blink still has no clue how to properly auto zoom pages and get the right font sizes. Will Servo on Android be able to offer better, ergonomic, optimal text and page widths?

[2017-07-17 21:10] jonathandturner opened #17759 "Reddit fails with "Unexpected scheme""
If you open reddit with a recent nightly, leave it open for a few seconds, you see the screen disappear and this message:

<img width="373" alt="screen shot 2017-07-18 at 9 08 37 am" src="https://user-images.githubusercontent.com/547158/28289981-cc120818-6b98-11e7-91c4-ee86b507bdbb.png">

Backtrace:
[code]

[2017-07-17 21:12] asajeffrey commented on #17677
That would be #17579 :) There's already an implementation of `CSSStyleValue`, but not its subclasses. You'e right though, that test only passes if the constructor names are right, grr.

[2017-07-17 21:21] glennw opened #17760 "Consider sending smaller viewports of display lists to WR."
Right now, Servo serializes and sends the entire display list for a page to WR.

This is not ideal, because the cost of serializing, deserializing, parsing and transferring the DL makes up a large portion of the total CPU time for many pages.

Gecko is already providing DLs to WR with a display port.

If we switch Servo to use a similar model, we could potentially make some optimizations / changes

[2017-07-17 21:22] glennw commented on #17760
Also cc @jrmuizel @staktrace

[2017-07-17 21:26] #17534 closed

[2017-07-17 22:50] jdm commented on #17759
When I do it in a debug build, I still see #17176.

[2017-07-17 22:51] jdm commented on #17759
Which is, in fact, a debug_assert. This is another duplicate, in that case.

[2017-07-17 22:52] jonathandturner commented on #17759
@jdm -
Interesting.  Reddit had been working reliably for weeks, so this is either a regression or a change on the reddit site.

[2017-07-18 01:29] aneeshusa opened #17766 "Enable GitHub OAuth App Access Restrictions"
We should enable OAuth App Access Restrictions on the servo org so that we can approve/deny requests for OAuth app access.

At my work we have applications that authenticate through GitHub OAuth, and the authorization screen automatically selects all organizations I am in, including the servo org, without any ability to opt out. Even though it is read-only, I would prefer to only grant access to t

[2017-07-18 02:15] metajack commented on #17766
I'm fine with this, however it will nuke all SSH keys (including user and deploy keys) created prior to 2014. I cannot seem to find a list of these, nor is it clear if I will be presented with a list of keys after pressing the green button.

I'd rather not lock people out of the repo with no notice, so I suggest we either figure out how much this will affect or plan to do this on a quiet Friday wi

[2017-07-18 03:23] atouchet commented on #17725
The Previous button looks even worse when it shows up. I think it is displaying other blurred text behind "Previous" for some reason.

Image:

![Previous button](https://i.imgur.com/VCxb5I7.png)

[2017-07-18 05:20] Manishearth opened #17768 "Remove `stylearc` import alias"
Currently in the style crate we do a [`pub use servo_arc as stylearc`](https://github.com/servo/servo/blob/d746abaa9e69e6cf0ad187d2b46be661bbe03a9f/components/style/lib.rs#L142-L144).

This isn't necessary, we can simply rename all imports of `stylearc` in the style crate to use `servo_arc`. We should do that.

Ensure both `./mach build-geckolib` and `./mach build -d -p style` pass. This is a pure

[2017-07-18 05:20] highfive commented on #17768
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-18 07:04] #17433 closed

[2017-07-18 07:17] michael-p commented on #17768
I would like to try this, sounds like a good thing to get started! :)
@highfive: assign me

[2017-07-18 07:17] highfive commented on #17768
Hey @michael-p! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-18 14:48] michael-p commented on #17768
@Manishearth I guess I should also rename all imports in other components and hence completely eliminate `stylearc` (as [this](https://github.com/servo/servo/blob/d746abaa9e69e6cf0ad187d2b46be661bbe03a9f/components/style/lib.rs#L142-L144) comment implies)? Or just rename it inside style crate, keep the `pub use servo_arc as stylearc;` there and leave all other components unchanged? I would prefer

[2017-07-18 15:09] cbrewster opened #17772 "Implement custom element upgrades"
Part of #9372

---
spec: https://html.spec.whatwg.org/multipage/#upgrades

[2017-07-18 15:09] Manishearth commented on #17768
Yes, rename it everywhere.

[2017-07-18 16:06] michael-p commented on #17768
Thanks!
Another question: it seems I have to re-generate `components/style/gecko/generated/structs_{debug|release}.rs`. It looks like `components/style/build_gecko.rs` does that but how do I run it properly?

[2017-07-18 16:11] #17680 closed

[2017-07-18 16:15] Manishearth commented on #17768
Oh, right, that's not straightforward.

How about you leave the alias in place for the style crate, and refactor all other uses of `stylearc` except for those files? I'll do that part, it needs modifying firefox-side code.

[2017-07-18 18:14] highfive commented on #15714
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-18 18:27] #17651 closed

[2017-07-18 19:05] SimonSapin opened #17777 "Review usage of .to_lowercase()"
It does Unicode case mapping, whereas some parts of the web platform that are case-insensitive are only so in the ASCII range. Where appropriate, switch to `.to_ascii_lowercase()` instead (with `use std::ascii::AsciiExt;`).

[2017-07-18 21:32] KiChjang commented on #15714
@cbrewster Is this an issue for removing it from our code base?

[2017-07-18 21:41] jdm commented on #15714
Yes.

[2017-07-18 23:35] stshine commented on #15144
This looks more complicated than it seems, because we still need the layout the text-overflow value to get its length during layout. (I guess this is the reason that all other engines do not support string values.)

[2017-07-19 00:12] gaby2300 commented on #16393
Hello, I'm still having this issue with the newest build. Is it going to be fixed any  time soon?

[2017-07-19 00:13] gaby2300 commented on #16771
Hello, I'm still having this issue with the newest build and Windows 7  64 bit. Is it going to be fixed any  time soon? Thanks!

[2017-07-19 01:00] jonathandturner commented on #16393
Ping @glennw - any idea what the fix for this might be?

[2017-07-19 01:11] glennw commented on #16393
For the ```wglCreateContextAttribsARB``` error, I wonder if the GPU in question doesn't support OpenGL 3.2? I know that some of the 2011 range Intel GPUs only support 3.1 on Windows, but anything newer than that should be fine (and we plan to support 3.1 in the future anyway).

It would be worth opening up the Intel GPU driver control panel, and pasting the output of the OpenGL version information

[2017-07-19 01:26] upsuper commented on #15482
This isn't completely fixed. The unbalanced cases are still failing in test_css_supports.html. Specifically, Gecko returns false for `not ({ something @with (unbalanced brackets })` and `(color: green) or an-extension(that is [unbalanced)` while stylo returns true.

This is related to w3c/csswg-drafts#1016, but per @SimonSapin's comment there, we probably should follow Gecko's behavior on this.

[2017-07-19 01:42] aneeshusa commented on #17766
Deploy keys are per repo and should be visible in the repo settings, or you can write a small script to hit the API and check for them on all repos in the org. I don't think we should have any, though.

I don't think there's an easy way to view SSH keys, so I think a pre-announcement and making the change on the weekend would be prudent.

[2017-07-19 02:27] atouchet commented on #17510
This is fixed now.

[2017-07-19 02:27] #17510 closed

[2017-07-19 02:48] atouchet commented on #17490
In the latest nightly build the black smudge is now almost gone but there is still a faint grey smudge under the text.

![New example 1](https://i.imgur.com/ii7qRuJ.png)

![New example 2](https://i.imgur.com/vmKAAsA.png)

[2017-07-19 02:49] atouchet commented on #17725
This appears to have been fixed.

[2017-07-19 02:49] #17725 closed

[2017-07-19 02:55] atouchet commented on #9915
I believe #17725 is now fixed.

[2017-07-19 03:57] atouchet commented on #10022
Are you still experiencing this issue? I haven't been able to reproduce this.

[2017-07-19 05:01] atouchet commented on #13274
I ran into a similar error message on Reddit with the latest nightly build.

called `Result::unwrap()` on an `Err` value: RecvError
### URL:
https://www.reddit.com/
### Servo Version:
Servo 0.0.1-d403f40
### Backtrace:
[code]

[2017-07-19 07:19] robinst commented on #17322
Just had the same problem with 0.0.1-d403f40438, it was with https://bitbucket.org/

[2017-07-19 07:22] vatula commented on #17322
Mine was on reddit, I think

[2017-07-19 07:23] vatula commented on #17322
Should I report an issue that servo reporter doesn't report URL?

[2017-07-19 11:23] jdm commented on #17322
I think so. Leaving it out was an intentional choice for privacy reasons, but I'm not convinced that it's a good reason in this case.

[2017-07-19 11:49] omakk commented on #15714
@highfive: assign me

[2017-07-19 11:49] highfive commented on #15714
Hey @omakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-19 11:57] #17182 closed

[2017-07-19 14:09] jrmuizel opened #17786 "Servo is a lot slower than Chrome on simple moving balls benchmark"
https://jrmuizel.github.io/perf-tests/moving-balls.html

Chrome handles this reasonably well, Servo really struggles.

[2017-07-19 14:12] #17768 closed

[2017-07-19 14:14] jrmuizel commented on #17786
50% of the time is in WebRender so I filed https://github.com/servo/webrender/issues/1501

[2017-07-19 16:24] #15714 closed

[2017-07-19 19:15] CAfromCA commented on #16393
Several people who commented on #16771 (and I) all seem to have Sandy Bridge-era Intel HD Graphics 3000 iGPUs. Per Wikipedia, at least, Intel only supports up to OpenGL 3.1 on Windows but supports OpenGL 3.3 on Linux and OS X.

https://en.wikipedia.org/wiki/List_of_Intel_graphics_processing_units#Sixth_generation

I wasn't able to find a primary source on Intel's site to confirm this, but I instal

[2017-07-19 19:35] gaby2300 commented on #16393
I think it's my case too. Does this mean I won't be able to run these
nightlies till I get a newer PC?  Thanks for your help!

On 19 July 2017 at 16:15, CAfromCA <notifications@github.com> wrote:

[2017-07-19 19:36] gaby2300 commented on #16393
I think it's my case too. Does this mean I won't be able to run these
nightlies till I get a newer PC?  Thanks for your help!

On 19 July 2017 at 16:15, CAfromCA <notifications@github.com> wrote:

[2017-07-19 21:41] CAfromCA commented on #16393
I missed the "It would be worth opening up the Intel GPU driver control panel..." bit earlier, but I just opened mine and I don't see anything in there about OpenGL support.

I'm either looking in the wrong place, or else that's a newer feature that Intel didn't include in their final (and now 2 year-old) set of Sandy Bridge drivers.

Since that appears to be a bust, [here's the report generated b

[2017-07-19 23:04] #15994 closed

[2017-07-19 23:59] #17700 closed

[2017-07-20 03:03] jonathandturner commented on #16393
@gaby2300 @CAfromCA - unfortunately this is a limitation of the current system.  We do plan to add support for that hardware, but to do so will be to move our OpenGL work over to ANGLE(https://github.com/google/angle).  This work is still a ways out.

[2017-07-20 04:31] heycam opened #17795 "style: stopping passing an Arc into RestyleDamage::compute_style_difference"
We used to need to pass in an `&Arc<ComputedValues>` to `RestyleDamage::compute_style_difference` so that Gecko could work with it.  Since the recent `ComputedValues` refactorings, this is no longer the case, and we could change `compute_style_difference` and various other functions leading up to it to just pass a `&ComputedValues` instead.

This can only happen once https://bugzilla.mozilla.org/s

[2017-07-20 04:31] highfive commented on #17795
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-20 05:06] gaby2300 commented on #16393
@jonathandturner Many thanks for letting me know about this! You saved me from trying and failing again and again! By still a ways out do you mean it will take a long time?

[2017-07-20 06:39] michael-p commented on #17768
This should probably be re-opened until the changes to the generated code as mentioned above by @Manishearth are done.

[2017-07-20 06:53] Manishearth commented on #17768
Nah, it's fine, those changes are landing as part of a different bug.

[2017-07-20 09:44] mrobinson commented on #9983
This should be fixed by #17771.

[2017-07-20 09:44] #9983 closed

[2017-07-20 17:49] asajeffrey opened #17805 "Paint worklets: add a reftest to check that hidpi is working"
We should really have a reftest to make sure we don't regress #17499.

IRC chat with @glennw http://logs.glob.uno/?c=mozilla%23servo&s=19+Jul+2017&e=19+Jul+2017#c716537

[2017-07-20 20:54] jdm opened #17807 "Remove immeta dependency from net_traits"
The Cargo.toml file for components/net_traits declares a dependency on immeta, but we don't have a corresponding `extern crate` for it in the `lib.rs`. This means it is unused and can be removed.

Code: `components/net_traits/Cargo.toml`

No need to run any tests; if it builds, it's good enough for a PR.

[2017-07-20 20:54] highfive commented on #17807
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-20 21:21] #15482 closed

[2017-07-20 22:17] brainlessdeveloper commented on #17807
@highfive assign me

[2017-07-20 22:17] highfive commented on #17807
Hey @brainlessdeveloper! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-20 23:15] jonathandturner commented on #16393
@gaby2300 - I can only speculate on when the support will be available, unfortunately.

[2017-07-20 23:22] CAfromCA commented on #16393
@jonathandturner Given the cause seems to have been identified (Sandy Bridge doesn't support OpenGL 3.2 on Windows) and it sounds like there is a clear fix identified and planned (migrate Windows to use ANGLE), is it safe for me to update and close #16771?

[2017-07-20 23:32] gaby2300 commented on #16393
@jonathandturner I understand! Thanks anyway!

[2017-07-21 01:20] #17454 closed

[2017-07-21 05:25] atouchet commented on #10024
Is this issue still valid? I am not able to reproduce it.

[2017-07-21 07:59] #17807 closed

[2017-07-21 17:45] edunham commented on #13398
It's enabled.

[2017-07-21 17:45] #13398 closed

[2017-07-21 17:50] edunham commented on #12988
@shinglyu when you say "close to fixing this" do you mean that this entire issue will be resolved once https://github.com/servo/servo/issues/13430 is completed?

[2017-07-21 20:41] edunham commented on #16138
Also we need to make sure this doesn't interfere with automatic sheriff backouts.

[2017-07-21 21:43] Manishearth commented on #17768
https://github.com/servo/servo/pull/17818 and https://bugzilla.mozilla.org/show_bug.cgi?id=1382017 removed the Gecko use cases

https://github.com/servo/servo/pull/17822 removes the actual reexport. Thanks for your help!

[2017-07-21 22:48] #17432 closed

[2017-07-22 20:57] shivanth commented on #17795
@highfive: assign me
I'm pretty new, You'll get loads of questions on IRC via titankiller

[2017-07-22 20:58] highfive commented on #17795
Hey @shivanth! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-22 23:43] KiChjang commented on #16736
Did some initial digging on this one, the problematic function here is `populate_collapsed_border_spacing` under `layout/table_rowgroup.rs`. Commenting out the function body seems to produce the desired result.

[2017-07-23 00:56] KiChjang commented on #16736
... and the widths are calculated in `perform_border_collapse_for_row`, under `layout/table.rs`.

[2017-07-23 10:44] KiChjang commented on #16736
Okay, that's the wrong direction; the border widths are doing OK, what is not fine is the `TableRowGroup` width... without border-collapse, it is 488px, but with it it's 500px, so clearly the width is not being calculated correctly.

[2017-07-23 19:07] atouchet commented on #17489
The animations are still playing when they are not supposed to but the additional text issue appears to be fixed now.

[2017-07-23 20:57] atouchet commented on #17637
This bug only appears to be an issue with the https://duckduckgo.com/html version of the site. The default DuckDuckGo search page does not have this problem.

[2017-07-24 02:43] atouchet commented on #17659
I have also run into scenarios where the inverse happens and only the italicized text changes colour.

[2017-07-24 03:09] atouchet opened #17830 "GitHub header text shifts when mouse is moved over"
When moving the cursor over the header categories on GitHub the text itself shifts a bit instead of just changing colour. The text kerning and clearness appear noticeably different in each case. This is possibly some side effect of #17190 I am guessing.

Example image (alternates between mouse over and no mouse over):

![Text change](https://i.imgur.com/YEhN0Aa.gif)

Tested in Windows 10.

[2017-07-24 03:34] allonhadaya commented on #15162
Hello,

I'd love to get involved, and make some contributions. I would appreciate working on issues that could guide coming to an understanding of the organization of the code base. That being said, I'd be happy to be helpful in any way.

My background includes Java, C#, JavaScript/HTML/CSS, Golang, Elixir, Python, Shell. I'm looking forward to learning Rust, and have spent quite a bit of time wit

[2017-07-24 03:54] atouchet commented on #9914
#17465, #17489, #17490, #17511, and #17830 are github.com issues.

[2017-07-24 06:13] gyroninja opened #17833 "Float Causes Table Display Bounding Box to be Offset by the Float's Width"
When a display is set to table after a float, the text (and the table_row?) after that float's width is chopped off by the same amount of pixels as the width of the float (at least approximately).
This bug is very detrimental when browsing https://4chan.org as the first few posts are mostly chopped off.
Here is a simplified document which exhibits the behavior.
[code]
Example Servo
![](https://i.g

[2017-07-24 06:26] upsuper commented on #17205
OK, I have a working patch to fix this... It may need some more test coverage since it's nontrivial and I'm not confident enough on myself for this kind of change...

[2017-07-24 09:54] KiChjang commented on #16736
Root cause: under `table.rs` and during assignment of inline sizes, the padding and borders of the table element, and the horizontal spacing are all calculated to be 0.

[2017-07-24 11:33] amarsahinovic opened #17838 "Servo crashes while opening https://www.klix.ba"
`Manjaro Linux 64bit, kernel version 4.4.77-1`
`Servo 0.0.1-104c79d`

Page loads partially, after which the page disappears and the following message is shown on a white background:

`Could not load the requested page: Unexpected scheme`

Console output:
[code]

[2017-07-24 13:11] alex-min opened #17840 "NextINpact panics due to missing webrender image resource"
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:
https://www.nextinpact.com/news/104822-adrienne-charmet-quitte-quadrature-net-et-rejoint-anssi.htm

### Servo Version:
Servo 0.0.1-104c79d
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

Full console errors added by myself (I've also added the url which was blank).

[code]

[2017-07-24 15:29] jdm commented on #17840
I have not been able to reproduce this in a local debug build yet. Are you able to reproduce it by following some particular steps?

[2017-07-24 15:32] jdm commented on #17838
Odd. I have no issues loading the page in my local debug build.

[2017-07-24 16:01] alex-min commented on #17840
I'm on Linux personally, I've downloaded Servo from https://download.servo.org/nightly/linux/servo-latest.tar.gz.

- I search for "nextinpact" in the search bar
- click on nextinpact (top one) from Duck Duck Go result page
- the site then loads fine
- I click on some article link (the biggest visible one) and it crashes directly (it's doing it 100% of the time for me)

[2017-07-24 16:04] jdm commented on #17840
Following those steps, I get the following panic while the main nextinpact site is loading:
[code]

[2017-07-24 16:04] jdm commented on #17840
cc @glennw since there's a webrender panic happening

[2017-07-24 17:43] jdm opened #17843 "Intermittent failure in /_mozilla/css/text_transform_uppercase_a.html"
Non-reference:
<img width="673" alt="screen shot 2017-07-24 at 1 42 15 pm" src="https://user-images.githubusercontent.com/27658/28536544-f302e9ec-7075-11e7-903b-f239389c3a8f.png">
Reference:
<img width="681" alt="screen shot 2017-07-24 at 1 42 42 pm" src="https://user-images.githubusercontent.com/27658/28536559-fc0cf956-7075-11e7-9210-2552fc015c2d.png">

Something went very screwy with the text re

[2017-07-24 21:01] asajeffrey commented on #17674
Looks like this is failing because of `document.body.style.zoom = "200%"` at https://github.com/w3c/web-platform-tests/blob/272b557a60b6e99d9-4c0353b23973b792ab13b55/css-paint-api/geometry-background-image-003.html#L31, which looks like it's using a nonstandard CSS property https://developer.mozilla.org/en-US/docs/Web/CSS/zoom. This also affects paint2d-zoom.html and geometry-border-image-005.html

[2017-07-24 21:13] asajeffrey commented on #17674
web-platform-tests issue https://github.com/w3c/web-platform-tests/issues/6610

[2017-07-24 22:35] asajeffrey commented on #17676
This is caused by an incorrect calculation of the size of a paint worklet, which should use background-size,

[2017-07-25 04:32] atouchet opened #17847 "Trying to load github.com/features crashes Servo"
When attempting to load https://github.com/features in Servo it will consistently crash the browser. This behaviour did not happen a day or two ago.

Tested in Windows 10.

[2017-07-25 04:33] atouchet commented on #17847
The same behaviour occurs when trying to load https://github.com/business as well.

[2017-07-25 04:42] atouchet opened #17848 "Clicking Browser.html site shortcuts occasionally crashes Servo"
Steps to reproduce:

1. Launch Servo with Browser.html.
2. Click on a site shortcut on the homepage.
3. Repeat until one of these clicks crashes the browser.

I believe this is a recent regression as I had not seen this issue as of a day or two ago.

Tested in Windows 10.

[2017-07-25 04:44] atouchet commented on #17848
This may not just be limited to the homepage shortcut links. Other links in Servo seem to sometimes behave similarly.

[2017-07-25 13:47] MortimerGoro opened #17851 "Text rendering is broken on Android"
Hello,

Text rendering is broken on Android. It worked in a fork I created some time ago. I did a git bisect and after some long compilation steps it blames a WR update:  https://github.com/servo/servo/pull/17352 `Update WR (CPU text optimizations, image format renames)`

Some images attached:

After WR update:
![screenshot_20170725-142452](https://user-images.githubusercontent.com/1070794/2857424

[2017-07-25 16:15] amarsahinovic commented on #17838
I just downloaded the latest version and it still crashes, but the output is different this time:

[code]

I still have the previous version downloaded and it still crashes the same.

[2017-07-25 17:34] asajeffrey opened #17852 "Implement paint worklet argument types"
At the moment, we're ignoring Step 11 of https://drafts.css-houdini.org/css-paint-api-1/#dom-paintworkletglobalscope-registerpaint,. which implements typed arguments to paint functions. Implementing it probably involves implementing typed CSSOM.

[2017-07-25 20:32] asajeffrey opened #17854 "Failing to apply style to pseudo-elements"
Examples where CSS styling is applied to psuedo-elements don't render as expected. For example https://developer.mozilla.org/en-US/docs/Web/CSS/::before#Decorative_example
[code]
renders as:
![screenshot from 2017-07-25 15-24-49](https://user-images.githubusercontent.com/403333/28592339-49e35994-714e-11e7-950c-ccbccd292363.png)
with not many orange boxes.

[2017-07-25 20:34] asajeffrey commented on #17579
Slightly annoyingly, these tests also fail because of #17854.

[2017-07-25 20:55] asajeffrey commented on #17378
This requires a notion of computed value and normalization for CSS shorthand properties, which should be based on typed CSSOM. The spec issue is https://github.com/w3c/css-houdini-drafts/issues/161

[2017-07-25 21:29] jonathandturner opened #17857 "Webrender panic when rendering reddit"
Opening reddit this morning, I'm seeing a panic on opening the page, with this backtrace:

[code]

[2017-07-25 21:39] jonathandturner commented on #17857
You can also see this error by opening Ars Technica from the gallery and leaving it open for ~10 secs

[2017-07-25 22:43] jdm commented on #17857
This looks like the same panic that I saw in #17840.

[2017-07-25 22:43] jdm commented on #17857
cc @glennw

[2017-07-25 23:38] asajeffrey opened #17860 "Support border-image-outset for paint worklets"
The WPT tests `css-paint-api/geometry-border-image-00*.html` use border-image-outset,

[2017-07-26 00:11] asajeffrey opened #17861 "Support border-image-slice for paint worklets"
The WPT test `css-paint-api/geometry-border-image-001.html` uses border-image-slice.

[2017-07-26 00:29] behpn opened #17864 "servo crashes on android devices"
I could build and install servo on android (Nexus 6p) but when I run simple webpage like google, it crashes immediately. @rzambre had an issue with shader on same device #15019 . Although installing servo after Android life cycle Improvements and Gradle integration for android packaging ( #15773 ) seems has fixed the previous error, I still get another error related to over-aligned types. Here is

[2017-07-26 09:00] shinglyu commented on #11361
(@paulrouget asked me to help with this)

So just to make sure, the current plan is to
* Add a override file in servo directory
* Detect if `rustup` is present in the current system
  * Yes => use rustup + override file to download `rustc` and `cargo` and use them
  * No => use the old mach download mechanism (?)
* For stylo, keep the mach behavior until we agree to switch to rustup (?)

[2017-07-26 09:00] shinglyu commented on #11361
^ @metajack ?

[2017-07-26 09:05] shinglyu commented on #15634
So what are our alternatives for the Cargo.lock issue?

* Extend cargo to "inherit" Cargo.lock in sub-directories?
* Create a script/tool in servo to setup the building environment for a project using it, copying the Cargo.lock and make sure rustup is using same rustc version?

Anything else?

[2017-07-26 09:31] mrobinson commented on #8672
Closing this as this code is long gone now.

[2017-07-26 09:31] #8672 closed

[2017-07-26 10:41] MortimerGoro commented on #17864
Hi behpn

I fixed that over-aligment crash some time ago:  See https://github.com/servo/servo/pull/17380
¿Are you trying the latest upstream?

There are currently other issues on Android (https://github.com/servo/servo/issues/17851) but that crash should be gone (I tried on: Google Pixel, Galaxy S7 and Nexus 4)

[2017-07-26 11:17] eclipseo opened #17869 "Servo style doesn't seem to compile in Nightly with external nspr"
Build log: https://copr-be.cloud.fedoraproject.org/results/eclipseo/firefox-nightly/fedora-rawhide-x86_64/00583654-firefox-nightly/build.log.gz

The build fails when servo style fails to compile because it doesn't find nspr files: /objdir/dist/include/nsISupportsImpl.h:17:10: fatal error: 'prthread.h' file not found

i am using --with-system-nspr and it seems to me that it's similar to that older

[2017-07-26 12:06] mrobinson opened #17870 "Stacking context parent causes mispositioning of fixed position child"
[code]

This fixed position child here should take up the entire viewport, but instead I see this output.
![screenshot from 2017-07-26 13-58-49](https://user-images.githubusercontent.com/13536/28619876-d854aef0-720a-11e7-80e9-5d1b70e31bd8.png)

[2017-07-26 12:59] jdm opened #17873 "servo-mac9 and servo-mac5 take 14 minutes longer to compile than other mac builders"
They both consistently report 37 minutes for ./mach build, while other macs like servo-mac3 report 23 minutes. This tends to push our end-to-end built times to >1 hour when these machines are selected. I sshed in and didn't see any renegade processes that have caused similar slowdowns in the past.

[2017-07-26 12:59] highfive commented on #17873
cc @aneeshusa

[2017-07-26 12:59] jdm commented on #17873
cc @edunham

[2017-07-26 13:27] rzambre commented on #17864
Which Android version were you able to successfully test on @MortimerGoro?

[2017-07-26 13:35] luser opened #17874 "Add support for using sccache for Rust compiles"
Now that sccache has Rust support, it would be nice to allow configuring it in servobuild. Functionally all this needs to do is set `RUSTC_WRAPPER=sccache` when invoking cargo. sccache can function as ccache as well, so perhaps if you have `[build] sccache = 'sccache'` the build system could treat that as `ccache = 'ccache'` as well.

[2017-07-26 14:01] eclipseo commented on #17869
I manually added `PathBuf::from("/usr/include/nspr4"),` to `SEARCH_PATHS` https://github.com/servo/servo/blob/master/components/style/build_gecko.rs#L121
and then style compiled successfully. So it's indeed this bug I was facing.

`build_gecko.rs` should probably fetch that path from `env::var("NSPR_CFLAGS")`? I know nothing about Rust, si just guessing here.

[2017-07-26 14:23] highfive commented on #17869
cc @emilio

[2017-07-26 14:23] metajack commented on #15634
At the All Hands, @wycats and @aturon seemed willing to add something to Cargo to help with this. I believe the core idea was to extend `cargo update` with a `--lockfile` argument.

[2017-07-26 14:30] emilio commented on #17869
Hmm... Yeah, I wonder if we could have a more reliable way to get the include paths from Gecko... Maybe @froydnj or @rillian know a better way to do this stuff :-)

[2017-07-26 14:31] metajack commented on #11361
That sounds fine to start. I would  eventually like to end up with just the rustup bootstrapping, but we need some clever way to deal with stylo.

The ideal end goal is that if someone does `cargo build` instead of `./mach build` it would just work aside from the weird cases like Android. In other words, we'd need no bootstrapping for basic build and run.

[2017-07-26 15:03] rillian commented on #17869
Try setting `BINDGEN_CFLAGS=-I/usr/include/nspr4` at configure time. That's munged into `$objdir/layout/style/bindgen.toml` which `build_gecko.rs` [reads](https://github.com/mozilla/gecko-dev/blob/master/servo/components/style/build_gecko.rs#L95).

[2017-07-26 15:32] #10142 closed

[2017-07-26 17:18] eclipseo commented on #17869
@rillian I've just added `ac_add_options BINDGEN_CFLAGS=$(pkg-config nspr --cflags)` to mozconfig and servo style built correctly. It worked as you said, `-I/usr/include/nspr4` was added to `$objdir/layout/style/bindgen.toml` and it was picked up by `build_gecko.rs`

Thank you for your help.

[2017-07-26 17:37] rillian commented on #17869
Thanks for confirming. I [filed a gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1384659) about propagating the cflags automatically.

[2017-07-26 18:09] eclipseo commented on #17869
@rillian I don't know if it's linked to this change but now I have an error, **exclusively on arch i386**. x86_64 compiles fine.

`error: failed to run custom build command for `style v0.0.1 (file:///builddir/build/BUILD/gecko-dev-65bbd0525acd0a981c3811b11e23cb057a06373d/servo/components/style)`
process didn't exit successfully: `/builddir/build/BUILD/gecko-dev-65bbd0525acd0a981c3811b11e23cb057a06

[2017-07-26 21:38] rillian commented on #17869
Which llvm are you building with? We've had some trouble with libclang < 4.0.1 crashing on the bindgen input. Can you rebuild with `RUST_BACKTRACE=1` or otherwise get a stack trace?

[2017-07-26 23:55] emilio opened #17882 "Remove rendering_threads option in the CEF port."
https://github.com/servo/servo/pull/17872 is removing its only user. Once it lands we can remove it without problems.

The field is in `ports/cef/types.rs`, I don't think this would require more changes than removing the field and related documentation.

[2017-07-26 23:55] highfive commented on #17882
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-07-27 00:44] jdm commented on #17882
Use `./mach build-cef` to build that code and avoid any compile errors.

[2017-07-27 00:46] jdm opened #17885 "Intermittent failure in /css-backgrounds-3_dev/html4/attachment-local-clipping-image-1.htm, css-backgrounds-3_dev/html4/attachment-local-clipping-image-2.htm, /css-backgrounds-3_dev/html4/attachment-local-clipping-image-4.htm, /css-backgrounds-3_dev/html4/attachment-local-positioning-5.htm, /css-backgrounds-3_dev/html4/attachment-local-clipping-image-3.htm, /css-backgrounds-3_dev/html4/attachment-local-clipping-image-5.htm, /css-backgrounds-3_dev/html4/attachment-local-positioning-2.htm, /css-backgrounds-3_dev/html4/attachment-local-clipping-image-6.htm"
[code]

[2017-07-27 00:55] jdm commented on #17885
Actual:
<img width="334" alt="screen shot 2017-07-26 at 8 54 04 pm" src="https://user-images.githubusercontent.com/27658/28649685-9a39c3be-7244-11e7-9d6a-5d24743f19a2.png">

Reference:
<img width="335" alt="screen shot 2017-07-26 at 8 54 29 pm" src="https://user-images.githubusercontent.com/27658/28649691-a3f652be-7244-11e7-8dee-501f8d95d32c.png">

The text moved down a line-height from the refere

[2017-07-27 03:05] shinglyu commented on #11361
Sounds good, I'll start working on this.

[2017-07-27 04:10] glennw opened #17887 "Implement text decorations"
WebRender supports text decorations now - solid, dotted, dashed and wavy.

Servo only currently creates display items with the solid decoration type.

[2017-07-27 04:41] atouchet commented on #9914
#17847 is a github.com issue.

[2017-07-27 08:01] eclipseo commented on #17869
I'm sorry but despite running with export RUST_BACKTRACE=1, it didn't output anything else. I don't really know how to proceed to get a detailed stack trace.

I was building in 3 platforms:

 - Fedora 25 i386 with clang-libs 3.9.1
 - Fedora 26 i386 with clang-libs 4.0.0
 - Fedora rawhhide i386 with clang-libs 4.0.1

Even with clang-libs 4.0.1, it fails.

[2017-07-27 08:29] shinglyu commented on #11361
Should we still keep the `system-rust` and `system-cargo` option? They seem redundant to me if we choose rustup by default?

[2017-07-27 08:49] shinglyu commented on #13080
Maybe we should simply `unset mozconfig` & `unset MOZCONFIG` in mach?

[2017-07-27 09:32] abahmed commented on #17882
@highfive : assign me

[2017-07-27 09:32] highfive commented on #17882
Hey @abahmed! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-07-27 11:17] mrobinson commented on #17718
This was fixed by https://github.com/servo/servo/pull/17863.

[2017-07-27 11:17] #17718 closed

[2017-07-27 11:22] mrobinson commented on #9154
I'm pretty sure this is no longer an issue after https://github.com/servo/servo/pull/17694. For the non-LocalClip case this isn't as easy to fix in Servo, because the rounded clips are stored in the ClipScrollTree. In any case, this optimization should probably be done in WebRender, so it can be shared by all types of items.

[2017-07-27 11:22] #9154 closed

[2017-07-27 11:24] mrobinson commented on #17072
The bug here seems to be in the way that the flows are generated based on @stshine's comment on my now-abandoned PR:

[2017-07-27 11:30] mrobinson commented on #14951
This seems to be working properly for me, but perhaps I'm missing the failure. Is it subtle?

[2017-07-27 16:29] rillian commented on #17869
Ok, might be a different bug then. I never tracked down the cause of the crashes, just upgraded and the problem went away.

If RUST_BACKTRACE=1 didn't work, I'd build with `./mach build --verbose` (I think that turns into V=1 on the make command line) to get the full `build-script-build` invocation, and then run the same command manually under gdb.

[2017-07-27 19:42] hgallagher1993 opened #17893 "called `Option::unwrap()` on a `None` value"
Not really sure what the title should be tbh, anyway, the site I was on was http://www.wearetherangersboys.com/forum/forumdisplay.php?11-QPR-FANS&s=2ea197f7de9df20323ed348bf1bc170a then I clicked on the thread 'Feel it in the water' and then it loaded a bit and crashed. Opening that thread directly with `./mach run -r http://www.wearetherangersboys.com/forum/showthread.php?196555-Feel-it-in-the-wa

[2017-07-27 19:48] jdm commented on #17893
This is another instance of #17840, so let's track it there. Thanks for reporting it!

[2017-07-27 19:48] #17893 closed

[2017-07-27 19:49] jdm commented on #17840
Apparently http://www.wearetherangersboys.com/forum/showthread.php?196555-Feel-it-in-the-water is another instance.

[2017-07-27 19:50] hgallagher1993 commented on #17893
👍

[2017-07-27 23:46] upsuper commented on #16825
This has been fixed for a while. Closing.

[2017-07-27 23:46] #16825 closed

[2017-07-28 03:22] jdm opened #17900 "Intermittent failure in /webgl/conformance-1.0.3/conformance/canvas/buffer-offscreen-test.html"
[code]

[2017-07-28 07:02] photex commented on #15162
Howdy!

I've predominantly been a c++ developer in my career and done a lot of desktop app development with Qt.
I've been using Rust for a little while now (small command line tools, a service and rpc implementation) and would love to contribute.

[2017-07-28 07:04] NiLSPACE opened #17904 "Crash on http://html5test.com"
When going to http://html5test.com I get the following stacktrace:
<details>
<summary>Stacktrace</summary>

[code]

</details>

### Specs:
CPU: I7 6500U @ 2.5GHz,
RAM: 16.0GB Dual-Channel,
GPU: Intel HD Graphics 520
OS: Windows 10 PRO 1607

EDIT:
I noticed that the score does get send to the server, so it does finish all the tests before crashing.

[2017-07-28 09:20] hgallagher1993 commented on #17904
Crashed for me as well

[code]

[2017-07-28 09:40] rthomas commented on #15162
Hey,

I've done a couple of PRs for `servo/core-foundation-rs`, `servo/core-graphics-rs` and `servo/core-text-rs` and I'm looking for something more to work on outside of my personal projects.

[2017-07-28 12:05] NiLSPACE commented on #17904
Strange, perhaps you're on a different OS?

[2017-07-28 14:29] hgallagher1993 commented on #17904
I actually am, Linux Mint 18.1.

[2017-07-28 14:45] SimonSapin commented on #17205
This is specific to percentages. We divide the value of percentage tokens by 100.0 in the parser, and multiply it by 100.0 in the serializer. `(15_f32 / 100.) * 100.` does not equal `15_f32`. Maybe we could move this division later in the pipeline?

[2017-07-28 14:51] metajack commented on #11361
Yes, we neem system-x options so that custom rust builds will work if someone is testing specific things.

[2017-07-28 15:08] jdm commented on #17904
I suspect the original stacktrace reported might be another instance of #17840.

[2017-07-28 15:09] jdm commented on #17904
@hgallagher1993 Please file a new issue for your crash; that's in fontconfig and is specific to linux.

[2017-07-28 15:10] #17900 closed

[2017-07-28 16:21] jdm commented on #17885
The same text positioning issue was observed in /css-backgrounds-3_dev/html4/attachment-local-positioning-5.htm in #17903.

[2017-07-28 16:58] bzbarsky commented on #17205
The basic question is what the thing is that we want to preserve.

The current behavior assumes that the floating point value is the thing we care about and that serializing should preserve it with as much fidelity as possible.  But from the point of view of a web author the internal floating-point representation is not something they care about.  Furthermore, it's commonly lossy from the web deve

[2017-07-28 20:26] asajeffrey opened #17907 "Style (even for gecko) depending on webrender"
Change https://github.com/servo/servo/commit/8c588e8c36fc79c9d8b2ae6957026403692b8f0f#diff-8236d137a70dfe32ad31a2a1ad70ef60R25 made style_traits depend on webrender_api, even for gecko builds. Should that be an optional servo-only dependency? @kvark?

[2017-07-28 20:26] highfive commented on #17907
cc @emilio

[2017-07-28 20:27] asajeffrey commented on #17907
IRC conversation with @bzbarsky http://logs.glob.uno/?c=mozilla%23servo&s=28+Jul+2017&e=28+Jul+2017#c722375

[2017-07-29 09:32] eclipseo commented on #17869
I hope this is the right stuff because I'm not super-duper familiar with debugging and gdb:

[code]

[2017-07-29 10:39] hgallagher1993 opened #17917 "Crash when loading http://html5test.com"
Running on Linux Mint 18.1, and this happens almost every time I run `./mach run -r http://html5test.com`

<details>
 <summary>Stacktrace</summary>

[code]

[2017-07-29 10:39] hgallagher1993 commented on #17904
@jdm #17917

[2017-07-29 12:04] DarkDrek commented on #17661
Sorry @marti1125 since there haven't been any progress here I shamelessly did a PR for this issue.

[2017-07-29 12:19] emilio commented on #17869
Looks like that's failing to find an environment variable, so I think
it's not the crash you're hunting down. Instead, I suspect you need to
pass the few variables mentioned in components/style/build_gecko.rs
appropriately.

On 07/29/2017 11:32 AM, eclipseo wrote:

[2017-07-29 13:34] marti1125 commented on #17661
Hello @DarkDrek  I can not contact with the person who can help with issue =/ so you can take this please

[2017-07-29 14:01] #17907 closed

[2017-07-29 14:09] zspitzer commented on #16417
just went to check, dell.com now crashes the nightly build

[2017-07-29 14:13] eclipseo commented on #17869
I have my environment set up:

```env   RUSTFLAGS=' -C debuginfo=2 '  CARGO_TARGET_DIR=/builddir/build/BUILD/gecko-dev-65bbd0525acd0a981c3811b11e23cb057a06373d/objdir/toolkit/library RUSTC=/usr/bin/rustc MOZ_SRC=/builddir/build/BUILD/gecko-dev-65bbd0525acd0a981c3811b11e23cb057a06373d MOZ_DIST=/builddir/build/BUILD/gecko-dev-65bbd0525acd0a981c3811b11e23cb057a06373d/objdir/dist LIBCLANG_PATH="/usr/l

[2017-07-29 15:08] #17661 closed

[2017-07-29 15:30] rillian commented on #17869
I don't think the python failure is the actual error. It's this line:
[code]
That's the subprocess you want to trace under gdb. I don't know how to get to it through the cargo invocation either (set a conditional breakpoint of in the cargo code where it spawns job processes, I guess). But you should be able to launch the build command itself under gdb.
[code]
The environment may not be exactly rig

[2017-07-29 15:48] eclipseo commented on #17869
@rillian That's what I did initially at comment https://github.com/servo/servo/issues/17869#issuecomment-318816827

[2017-07-29 21:41] #17435 closed

[2017-07-29 23:58] DarkDrek commented on #17697
Are you still working on this issue @sadmansk?

[2017-07-30 19:22] atouchet commented on #17388
This appears to be fixed now.

[2017-07-30 19:22] #17388 closed

[2017-07-30 19:24] atouchet commented on #17847
This is working now.

[2017-07-30 19:24] #17847 closed

[2017-07-30 19:28] atouchet commented on #17490
This appears to be fixed now.

[2017-07-30 19:28] #17490 closed

[2017-07-30 19:38] atouchet commented on #17848
I was able to open every shortcut multiple times without crashes in the latest nightly build. It doesn't appear that this is still an issue.

[2017-07-30 19:38] #17848 closed

[2017-07-30 19:41] atouchet commented on #9914
#17490, #17830, and #17847 can be marked as fixed.

[2017-07-30 19:46] atouchet commented on #17190
This issue appears to be noticeably improved in the latest nightly build.

[2017-07-31 02:28] shinglyu commented on #15634
Sound good, is there a meta bug for that? Or should we open one?

[2017-07-31 02:37] gterzian commented on #12972
I've been sort of dreaming of taking on this one... 😄

What's the current status? I'm assuming this is a large project, yet a fairly standalone one, that wouldn't have too many opportunities to block on other issues, is that correct?

[2017-07-31 03:25] KiChjang commented on #12972
I was planning on taking this, but I have a couple of pull requests that I have to follow before I can work on it. Feel free to work on this!

[2017-07-31 03:48] atouchet opened #17921 "Browser.html sidebar shadow has one pixel wide overly light column"
The shadow cast by the Browser.html sidebar has a one pixel wide column that is lighter than the rest of the shadow. This does not appear when the Browser.html interface is loaded in Firefox.

Example images:

The column in Servo highlighted in red (view in full size to see it more clearly):

![Servo](https://i.imgur.com/2TlFy2x.png)

The Browser.html interface in Firefox without the shadow issue:

[2017-07-31 03:54] atouchet commented on #16326
I should maybe also note that the issue in the original post is in regards to the installer version of Servo. The standalone ZIP version does not load the icon at all.

[2017-07-31 04:19] hinaria commented on #17190
I'm not sure if it has - take a look at the example below (taken from today's nightly build, 2017-07-30).

![example](https://user-images.githubusercontent.com/975570/28762562-e839d388-75fa-11e7-945c-50c170af8779.png)

We fixed the incorrect line height issue in #17340 last month, but the glyph layout and rendering does not feel like it's changed for me.

[2017-07-31 04:31] atouchet commented on #17190
It's still not great for sure but I do see a really noticeable difference on some sites. For example the Browser.html homescreen.

Here's a screencap from today's build:

![Browser.html homescreen](https://i.imgur.com/SLbroF9.png)

That looks much better to me than the example in your original post.

[2017-07-31 06:20] upsuper commented on #17885
Maybe http://build.servo.org/builders/linux-rel-css/builds/5244 appears in #17922 is the same reason as well?

[2017-07-31 07:03] hinaria commented on #17190
You're right, I stand corrected! Thank you.

There are still some issues with sub-pixel + aa, but it should not be too much work to make layout better.

I'll also experiment with a DirectWrite implementation for layout - I've been using it with WebRender in one of my projects and have had great results with it.

[2017-07-31 13:38] jdm commented on #17885
Yes.