[2020-06-19 20:25] atouchet commented on #26996
I am not able to reproduce this issue in the latest Servo nightly build on Windows.

[2020-06-19 20:26] atouchet commented on #26569
Did #26926 fix this?

[2020-06-19 20:33] jdm commented on #26569
Looks like it!

[2020-06-19 20:33] #26569 closed

[2020-06-19 20:36] jdm commented on #25713
This was fixed by #26902.

[2020-06-19 20:36] #25713 closed

[2020-06-19 20:49] jdm commented on #26996
@elasmojs What website were you browsing at the time?

[2020-06-20 05:08] gterzian commented on #22530
Closing as it was investigated(see last comment), and no solution was found. Unclear whether it is actionable at this point.

[2020-06-20 05:08] #22530 closed

[2020-06-20 05:21] gterzian commented on #22507
I think this issue could be closely related to other issues when communicating with layout fails, although I can't imagine they all hit this "there an active but not fully-active iframe" path, so I think there mush be other ways for a "dangling" pipeline with not layout thread to become possible.

This issue proposed some band-aid for the problem: https://github.com/servo/servo/issues/23053

Relat

[2020-06-20 05:27] gterzian commented on #22507
One thing I find notable is when this happens via the script-thread handling a message, such as `ScriptThread::handle_tick_all_animations`.

In these situations, the script-thread actually checks for the presence of the document in `Documents`, and if the layout-thread is shut-down(via `exit_pipeline`), then the document should be removed as well.

So maybe in such a case, the document still has a

[2020-06-20 10:19] MDeiml commented on #24910
Seems like this was solved by #25687.

[2020-06-20 12:39] jdm commented on #24910
Indeed!

[2020-06-20 12:39] #24910 closed

[2020-06-20 14:26] jdm opened #27002 "Intermittent failure in /css/cssom-view/elementFromPoint-float-in-table.html"
[code]

[2020-06-20 17:21] jdm commented on #26980
[code]

[2020-06-20 22:57] muodov commented on #23417
I'd like to try fixing this. I have experience with WPT, and we've recently implemented `requestSubmit()` in a JS sandbox at work, so I have some understanding of how it should work.
But I'm new to Servo and Rust, so it might take some time. The steps described by @jdm seem clear though.
I'll try to hack on this tomorrow.

[2020-06-20 23:30] jdm commented on #23417
Please ask questions if there are any surprises!

[2020-06-21 03:26] jdm opened #27009 "Intermittent crash in /css/css-flexbox/flex-aspect-ratio-img-row-005.html"
[code]
We end up with a NaN width despite the attempt in #26758 to avoid them. It's worth tracing backwards to see where it comes from.

[2020-06-21 03:54] jdm commented on #27009
https://github.com/servo/webrender/blob/f918028a729b18b2e2cfdb132efe39f63d159dcc/webrender/src/prim_store/mod.rs#L262-L276 is one place that might be worth investigating due to https://github.com/servo/webrender/blob/f918028a729b18b2e2cfdb132efe39f63d159dcc/webrender/src/prim_store/mod.rs#L301-L306. Also https://github.com/servo/webrender/blob/bf9e2103875012be97e4f56aa4af44aaec5165e0/webrender/src

[2020-06-21 08:52] gterzian opened #27010 "Iframes and dissimilar origin windows weird stuff - Layout thread panic related"
I think this might point towards a solution for https://github.com/servo/servo/issues/22507

I'm doing some debugging of the iframe navigation stuff, and I noted some potential weird stuff.

When adding an cross-site iframe to a  WPT test document(for example `<iframe src="https://github.com"></iframe>`), the following sequence seems to happen:

1. An "about:blank" iframe is created in the same sc

[2020-06-21 08:59] gterzian commented on #27010
So to recap, I think there are a few problems:

1. The parent can still access the "full" local window of the child, until at some point it becomes a remote "dissimilar origin" window. Actually I haven't figured out when or how the switch happen, but it appears intermittent and my guess the local window is available for a bit too long.
2. There seems to be a point, where the local layout thread of

[2020-06-21 09:24] gterzian commented on #27010
Correction: it seems the local window does switch to being a dissimilar origin proxy, however any references to dom elements of the origin pipeline can still attempt to communicate with a non-existent layout thread.

So this is actually the same as https://github.com/servo/servo/issues/23053, except that the iframe is not disconnected, it is rather navigated to a different origin so the local pipe

[2020-06-21 09:51] gterzian commented on #27010
Ok this is actually fixed by the fix proposed in https://github.com/servo/servo/issues/23053

[2020-06-21 09:51] #27010 closed

[2020-06-21 09:52] gterzian commented on #22507
Note this can also happen when an iframe is navigated across origin: https://github.com/servo/servo/issues/27010

[2020-06-21 09:58] gterzian commented on #23053
Ok I think it would be event better to make:

https://github.com/servo/servo/blob/fde47f89373726dbe63fcea2e717d139be7b389e/components/script/dom/window.rs#L2105

return `Option<&Sender<Msg>>`,

where `None` would be returned if `!self.is_alive()`

and make every use of the layout chan go through this function, including inside `window.rs`.

[2020-06-21 15:58] gterzian commented on #24231
It looks like in Gecko they have a per-document hashmap, which is populated during pre-fetch, and later checked by the script element before starting a fetch, https://searchfox.org/mozilla-central/source/dom/script/ScriptLoader.cpp#1951

So perhaps when doing a pre-fecth, we could actually have a fetch response listener, that would hold a ref to the document, and fill up some data in a `HashMap<Se

[2020-06-21 17:59] cadeyrn commented on #20736
No and I longer have the same machine and I've never set servo up on this machine.

[2020-06-21 22:47] Keno commented on #26353
Same problem with both a local build and the download from servo.org. Switching to nouveau drivers fixes the issue, but would be nice if it worked with the blob driver also.

[2020-06-22 01:34] jdm commented on #26353
It's interesting; this sounds very similar to the problem described in https://github.com/servo/surfman/issues/173 that was fixed by https://github.com/servo/surfman/pull/178, but we should already be using a revision of surfman that includes that change.

[2020-06-22 01:36] jdm commented on #26353
Possibly https://github.com/servo/surfman/pull/178#issuecomment-625558310 is the strategy we should be investigating instead.

[2020-06-22 01:51] Keno commented on #26353
FWIW, servo prints `libEGL warning: DRI2: failed to authenticate`, no idea if that's related, but from the issue you linked, it sounds like this symptom can be caused by OpenGL API problems, so I thought I'd mention.

[2020-06-22 01:59] Keno opened #27012 "HACKING_QUICKSTART out of date"
The "Working on a crate section" of https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md#working-on-a-crate appears to be out of date, with a `[patch]` section now needing to be used instead of a `[replace]` section.

[2020-06-22 03:01] TrevorFSmith opened #27013 "GStreamer plugin fails to get GL context"
I'm attempting to use the GStreamer plugin to record and stream Servo hosting a simple "hello world" page.

I successfully followed the [instructions](https://github.com/servo/servo/blob/master/ports/gstplugin/README.md) and ended up with a command like so:

[code]
The resulting output:
[code]
(the same behaviour occurs in wayland with a slightly different GLDisplay value, then hard crashes the di

[2020-06-22 06:53] #27012 closed

[2020-06-22 11:25] CYBAI commented on #25439
@kunalmohan @jdm sorry, I'm quite busy recently and don't have enough time to investigate the crash (https://github.com/servo/servo/issues/25439#issuecomment-646464320) yet.

But, I tried to fix some more tests for dynamic module yesterday but there are still some TIMEOUTs that I haven't investigated yet. I think I'm going to send a draft PR and bors will remind me to rebase if there's any conflic

[2020-06-22 11:29] CYBAI commented on #25439
Draft PR at #27026

[2020-06-22 11:44] gterzian opened #27027 "Use BHM to terminate hanging JS threads when closing window"
Follow-up on https://github.com/servo/servo/pull/27016

Since the constellation has a channel available to the BHM(s), when exiting a pipeline fails due to a hanging `ScriptThread` because of long-running JS, we could send a message to the BHM(there is either one, or one per content-process), so that it can terminate the thread(or even the whole process), perhaps after having sampled it.

I think

[2020-06-22 11:48] jdm commented on #27027
We could also use the slow script feature to avoid having to write per-platform code - there's an interrupt callback the JS engine can call which could check a thread-local value to stop running whatever script is currently executing.

[2020-06-22 13:24] #26977 closed

[2020-06-22 14:14] CYBAI opened #27029 "Nested imports while importing higher than 2 level modules will panic"
A different panic when running the live test-suite at http://gpuweb-cts-glsl.github.io/standalone/. The code rests in branch `glsl-dependent` at https://github.com/gpuweb/cts/tree/glsl-dependent. This one's intermittent though.
[code]
@jdm iirc, I reported a similar error while running my [test example](https://github.com/kunalmohan/glsl-to-spirv-test) initially. You fixed it on that occasion. I w

[2020-06-22 14:16] jdm opened #27030 "Update referrer computation"
https://github.com/w3c/webappsec-referrer-policy/pull/135 changed the way https://w3c.github.io/webappsec-referrer-policy/#determine-requests-referrer works to compare the origin of the referrer value against the origin of the request's current URL. This corresponds to [this code](https://github.com/servo/servo/blob/1dc41b327711bc7e267fd1212762ae0e15ee7401/components/net/http_loader.rs#L264-L297)

[2020-06-22 14:22] CYBAI commented on #27029
With doing some investigation, I can confirm this is a regression after #26395 merged.

So, the issue is

[code]

In #26395, we moved away from the recursive checking and checking if the dependencies are fetching or not by checking only 3 levels (in the above example, it will check `a, b and c`) and the circular dependency checking. However, in that way, when a descendant module is still under fet

[2020-06-22 14:24] CYBAI commented on #25439
@kunalmohan @jdm Because the issue is basically not related to dynamic import, I filed #27029 and summarized at https://github.com/servo/servo/issues/27029#issuecomment-647551019. I'm going to send a PR for it.

[2020-06-22 14:28] jdm opened #27031 "Webdriver servo async JS script breaks some wdspec tests"
In particular, tests/wpt/web-platform-tests/webdriver/tests/add_cookie/user_prompts.py uses:
[code]
which ends up yielding this error:
[code]
because dialog_type is a reference to the `webdriverCallback` method on Window instead of the a string like 'alert' or 'prompt'.

[2020-06-22 14:32] jdm opened #27033 "Hide webdriverCallback and webdriverTimeout methods behind a pref"
https://github.com/servo/servo/blob/de01770253f3e2e7ded583a86caff8c9bf0e8ab5/components/script/dom/webidls/Window.webidl#L144-L149

This pref can be set for all tests in https://github.com/web-platform-tests/wpt/blob/708893d8180931603d2e6b5e74c45fc2954c4b18/tools/wptrunner/wptrunner/executors/executorservo.py#L43.

[2020-06-22 14:43] jdm opened #27035 "Webdriver server ignores JS script arguments"
https://docs.rs/webdriver/0.40.2/webdriver/command/struct.JavascriptCommandParameters.html includes an `args` field that is ignored by both handle_execute_script and handle_async_execute_script.

[2020-06-22 15:02] jdm opened #27036 "Webdriver script execution doesn't report exceptions"
https://w3c.github.io/webdriver/#execute-async-script includes steps for reporting exceptions to the client, and we ignore them instead.

[2020-06-22 15:09] jdm commented on #27029
Reverting to a more-correct version sounds sensible to me.

[2020-06-22 15:09] CYBAI commented on #25439
With `cherry-pick`-ing the commit in #27034 to the dynamic module branch and running the http://gpuweb-cts-glsl.github.io/standalone/ page, I found I still can't see the test results.

Then, I saw we fail to compile the https://gpuweb-cts-glsl.github.io/out/webgpu/gpu_test.js script in Servo 🤔 It works fine in my Chrome Canary and Firefox Nightly (both with webgpu enabled).

[code]

Will try to in

[2020-06-22 15:13] TrevorFSmith commented on #27013
@asajeffrey Feel free to just tell me the setup that you're using and I can replicate that.

[2020-06-22 15:16] jdm opened #27037 "Calling DomObject::global without entering a realm can crash"
[code]

This makes me very nervous. We should probably bite the bullet and always enter a realm by default when running events in the script thread.

[2020-06-22 15:27] Manishearth commented on #27029
Yeah, this was kinda why I was concerned about the GC approach

[2020-06-22 15:45] gterzian commented on #27027
https://searchfox.org/mozilla-central/source/dom/ipc/ProcessHangMonitor.cpp#53

From Gecko:

[code]

We could do something similar, although I'm wondering how often the callback is triggered, in the case of trying to close a window it might still appear as a long hang.

[2020-06-22 15:48] CYBAI commented on #27029
Yeah! I can see the problem now >_< Hope I can fix #26903 soon...

[2020-06-22 15:49] CYBAI commented on #25439
[code]

cool, so the issue is the web page is using [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) which causes a syntax error for Servo now.

<img width="566" alt="image" src="https://user-images.githubusercontent.com/6782666/85307768-44a1f380-b4eb-11ea-98d8-2881d12cde83.png">

We might need a smup to support the syntax.

[2020-06-22 15:56] jdm commented on #25439
If possible, I would recommend submitting changes upstream to avoid using the latest bleeding edge JS features.

[2020-06-22 16:29] jdm opened #27038 "Intermittent crash in /_webgl/conformance2/rendering/clipping-wide-points.html"
[code]

Very similar to #26979.

[2020-06-22 16:31] jdm commented on #26726
[code]

[2020-06-22 17:34] jdm commented on #26898
This will probably require #26680 to be fixed for the keyboard to be useful, too.

[2020-06-22 17:34] jdm commented on #26898
The lack of this keyboard prevents testing any content that is hidden behind user/password access.

[2020-06-22 17:40] jdm commented on #26898
We might be able to use [InputPane.GetForCurrentView().TryShow()](https://docs.microsoft.com/en-us/uwp/api/windows.ui.viewmanagement.inputpane?view=winrt-19041). We may also need to rely on [CoreTextEditContext.InputPaneDisplayPolicy](https://docs.microsoft.com/en-us/uwp/api/windows.ui.text.core.coretexteditcontext.inputpanedisplaypolicy?view=winrt-19041#Windows_UI_Text_Core_CoreTextEditContext_In

[2020-06-22 17:42] jdm opened #27039 "Intermittent segfault in webrender build script (signal: 11, SIGSEGV: invalid memory reference)"
[code]

[2020-06-22 17:46] jdm opened #27040 "console.log is drawn in white text over white background"
A partner says that log messages are drawn in white text, but other message types are not.

cc @paulrouget

[2020-06-22 17:49] jdm commented on #26898
https://docs.microsoft.com/en-us/windows/uwp/design/input/respond-to-the-presence-of-the-touch-keyboard

Perhaps one option would be making the Servo control behave like a custom text input control.

[2020-06-22 17:52] jdm commented on #26898
https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/TouchKeyboard/cpp

[2020-06-22 18:11] jdm commented on #27033
One other subtlety - these will need to be accessible when running with `--webdriver`, so we should actually enable the pref automatically when the server is started.

[2020-06-22 18:41] asajeffrey commented on #27013
Oh that's annoying, I'll see if it's working at my end. Something might have regressed.

[2020-06-22 18:41] kunalmohan commented on #25439
We'll change this in the test-suite, so there won't be a need to support it yet.

[2020-06-22 20:34] asajeffrey commented on #27013
OK, I'm getting the same behaviour at my end, fore some reason there's no GL context being returned by gst_gl_query_local_gl_context when the downstream node is a `gldownload`. For me it works if there's a `glimagesink` downstream:
[code]
this works for me on wayland, does it work at your end?

[2020-06-22 21:16] asajeffrey commented on #27013
The relevant bit of the log looks like:
[code]

[2020-06-22 21:27] asajeffrey commented on #27013
As a workaround, if you pipe servo into both a `glimagesink` and a `gldownload` then it will succeed in finding a GL context. A command line to do this is:
[code]
Does this work for you?

[2020-06-22 22:47] KallynGowdy opened #27043 "Generic websocket error when connecting over WSS using UWP"
### Details

I've been having some issues making a secure websockets connection on the Hololens 2. In particular, this webpage (http://yeticgi.casualos.com/?story=test1&pagePortal=home) works fine over HTTP (and WS) but fails to work over HTTPS (and WSS).

All the HTTPS stuff seems to work fine - it's only initiating a connection over secure websockets that is failing. The error message is brief:

[2020-06-23 00:00] jdm commented on #27043
An interesting experiment is whether this can be reproduced in a desktop UWP app. That would suggest the error lies somewhere in OpenSSL, since the version on macOS and the version used in UWP builds are not necessarily the same.

[2020-06-23 00:11] jdm commented on #27040
I haven't been able to reproduce this yet.

[2020-06-23 00:20] KallynGowdy opened #27045 "Access violation when backtracing a JS error on the Hololens 2"
### Details

With [this patch](https://github.com/servo/servo/pull/27042) applied, it appears that there is some sort of crash that occurs on Windows ARM64 devices when an exception triggers the [`js_backtrace` build feature](https://github.com/servo/servo/wiki/Debugging-JS-web-compat-issues). (Hololens 2)

It happens as the result of attempting to get a JS stacktrace via [the `capture_stack` macr

[2020-06-23 00:25] jdm opened #27046 "Changing DEFAULT_URL doesn't override locally-stored preference"
DEFAULT_URL is only used if there's no shell.homepage preference present in the local preferences in [this code](https://github.com/servo/servo/blob/ed46f00497f4bab79717b0c6a1da08d068b5cfcf/support/hololens/ServoApp/ServoControl/Servo.cpp#L143-L145). This is really confusing when modifying DEFAULT_URL during development!

[2020-06-23 00:34] jdm commented on #27045
I have not been able to reproduce this in a desktop UWP build yet.

[2020-06-23 00:36] jdm commented on #27045
The next useful step here is probably to do a build with `--features debugmozjs` to get a non-optimized spidermonkey build.

[2020-06-23 00:37] jdm commented on #27043
I have reproduced these errors in desktop UWP. Strangely, enabling the debug logs for websockets doesn't show any new logging output.

[2020-06-23 00:44] jdm commented on #27043
[code]
After adding `--vslogger-level debug` to [this code](https://github.com/servo/servo/blob/ed46f00497f4bab79717b0c6a1da08d068b5cfcf/support/hololens/ServoApp/ServoControl/Servo.cpp#L189) I see more useful logging output that I expected.

[2020-06-23 00:48] TrevorFSmith commented on #27013
Adding the glimagesink did allow it to make progress in finding the GL context! Than you.

Now I'm getting greedy and attempting to swap out the wayland-specific code for x11. I'm stumbling a bit convincing multi::connection::Connection::Default(...) to expect an x11 Connection instead of the wayland one. I changed the glstreamer-gl-sys features to ["x11"] and can't find any other references to wa

[2020-06-23 01:07] asajeffrey commented on #27013
Glad to hear you got it working! Any chance you could submit a PR that updates the README?

Back when I wrote the plug-in, I could only get it to work with Wayland, but since then the x11 support in surfman has changed, so there's a better chance that it'll work.

I'm glad to see you getting it up and running, it would be great to see people outside the team using Servo with gstreamer!

[2020-06-23 01:58] TrevorFSmith commented on #27013
@asajeffrey I intend to use Servo+GStreamer as the backend renderer for livestreams coming out of the [Transmutable Soundstage](https://transmutablesoundstage.com/). The [main idea](https://twitter.com/TrevorFSmith/status/1134540768763305984) is that small crews of ~12 people working from home can use the virtual soundstage to produce live talk shows. The crew use web browsers on laptops and table

[2020-06-23 02:22] jdm commented on #26726
[code]
Suspicious.

[2020-06-23 02:24] CYBAI commented on #26726
Looks like `/css/css-flexbox/position-absolute-013.html` is going crazy recently 👀

[2020-06-23 02:27] jdm opened #27048 "Intermittent timeout in /css/css-flexbox/position-absolute-013.html"
[code]

[2020-06-23 02:58] elasmojs commented on #26996
Sorry for the delay, i was just running the example program, i will try to post a gif recording

[2020-06-23 03:12] #27029 closed

[2020-06-23 08:06] paulrouget opened #27049 "[UWP] print HTTP errors in console"
See https://github.com/servo/servo/blob/c76d1318f363ccd23090d68ec5c8b2f597102f40/support/hololens/ServoApp/Devtools/Client.cpp#L163

[2020-06-23 08:16] paulrouget commented on #27040
Happens when the Windows theme is set to dark. Fix incoming.

[2020-06-23 08:25] paulrouget opened #27058 "[UWP] support black theme"
When the Windows app theme is set to dark, UWP controls are black, making icons and color-hardcoded text unreadable.

[2020-06-23 08:26] paulrouget commented on #27058
Also #27059 introduces a hardcoded white background to work around this issue. This will need to be reverted.

[2020-06-23 09:33] gterzian commented on #27027
Ok so that callback isn't called by SM on it's own when a script is running for a long time, one needs to call `JS_RequestInterruptCallback(cx)` manually, which can be done from any thread.
[code]
https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs/js/src/vm/JSContext.h#L854

So we need to pass the `JsContext` to the hang monitor, which can then request a callback to

[2020-06-23 10:59] kunalmohan commented on #25439
@jdm @CYBAI really appreciate you both helping me so much in my project! Thank you!

I replaced the optional-chaining syntax and tested on my local system with the `dynamic-module` branch rebase over latest master. `gpu-test.js` compiles successfully. But there is a different panic now (which is unrelated to dynamic module)-
[code]
I also realised that we already have test-suite under `tests/wpt/w

[2020-06-23 12:33] jdm commented on #25439
Yes, FAIL means the test failed some assertions, while ERROR means that a JS exception was raised.

[2020-06-23 12:49] CYBAI commented on #25439
Interesting! The panic looks like it fails to parse the module specifier.

https://github.com/servo/servo/blob/c76d1318f363ccd23090d68ec5c8b2f597102f40/components/script/script_module.rs#L1094-L1097

Hmmm, if it's a valid URL, it should be parse-able 🤔 I'm curious does the tests work fine on Chrome and Firefox? and could you point me to the tests?

Also, if it works fine on Chrome and Firefox but

[2020-06-23 13:02] CYBAI opened #27061 "Module specifier parsing failed in webgpu wpt tests"
@jdm @CYBAI really appreciate you both helping me so much in my project! Thank you!

I replaced the optional-chaining syntax and tested on my local system with the `dynamic-module` branch rebase over latest master. `gpu-test.js` compiles successfully. But there is a different panic now (which is unrelated to dynamic module)-
[code]
I also realised that we already have test-suite under `tests/wpt/w

[2020-06-23 13:53] jdm commented on #25613
[code]

[2020-06-23 13:54] #25742 closed

[2020-06-23 13:55] jdm commented on #25613
Also observed in /cookies/prefix/document-cookie.non-secure.html  according to #25742.

[2020-06-23 14:23] jdm commented on #27061
@kunalmohan Do you have any examples of the URLs that end in *? I haven't found any yet.

[2020-06-23 14:28] CYBAI commented on #27061
I tried to reproduce this in my local and I found it's an intermittent panic

[code]

With running the test around 10 times, I only got the `url.is_ok()` once 🤔

[2020-06-23 14:50] jdm commented on #27045
I have reproduced this on device with a debugmozjs build.

[2020-06-23 14:51] kunalmohan commented on #27061
It panics for me everytime and for the same tests :(
Also (just realised),
[code]
works fine. So maybe it isn't related to `*`

Others URLs that panic-
[code]

Does the build profile make a difference? (ideally it should not)
I am running it on release build.

[2020-06-23 15:08] jdm commented on #27045
The backtrace I see ends up in the guts of the mozilla::Variant type, which is the underlying type of JS::StackCapture which is passed to JS::CaptureCurrentStack (called from https://github.com/servo/rust-mozjs/blob/28248e1d6658e92dd5ecb0866e53a97f043b9b38/src/rust.rs#L1337). Since the C++ API uses [move references](https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs

[2020-06-23 15:37] jdm commented on #27045
Confirmed - when I move the call to JS::CaptureCurrentStack into the C++ glue so we don't need to pass an rvalue reference from Rust code, the crash disappears.

[2020-06-23 15:48] KallynGowdy commented on #27043
Looks like there might be a related issue on the ws-rs github: https://github.com/housleyjk/ws-rs/issues/51

[2020-06-23 16:09] jdm commented on #27043
Good find! Also ominous that people keep encountering it except the people best positioned to fix it, apparently :(

[2020-06-23 16:10] CYBAI commented on #27061
Interesting! With adding some logs, I saw this while running the `tests/wpt/web-platform-tests/webgpu/cts.html?q=webgpu:api,validation,createPipelineLayout:*` test.

[code]

Also, I confirm this one is parsed by `latin1_to_string`.

[2020-06-23 16:23] jdm commented on #27045
Disassembly calling from c++:
<details>

[code]

</details>

disassembly calling from rust:

<details>
  1333:             None => JS_StackCapture_AllFrames(),
00007FF86A9F28C4  ldur        w8,[fp,#-0x80]
  1333:             None => JS_StackCapture_AllFrames(),
00007FF86A9F28C8  mov         w1,w8
00007FF86A9F28CC  stur        x0,[fp,#-0x90]
00007FF86A9F28D0  cbz         w1,mozjs::rust::CapturedJSS

[2020-06-23 16:25] jdm commented on #27045
Oh, JS_CaptureStack_AllFrames is already a C++ glue function, so here's that disassembly as well. That means that We're returning a mozilla::Variant by value to Rust code right now, then passing it by rvalue reference to C++:
[code]

[2020-06-23 16:31] asajeffrey commented on #27013
Filed https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/-/issues/781

[2020-06-23 17:00] jdm commented on #22106
Implementing Activatable is probably the right choice here. It would be nice to use this for the SSL cert error page.

[2020-06-23 18:51] jdm opened #27062 "Intermittent failure in /html/browsers/browsing-the-web/navigating-across-documents/005.html"
[code]

[2020-06-23 22:05] jdm commented on #26726
[code]

[2020-06-24 04:19] #27040 closed

[2020-06-24 05:35] KallynGowdy commented on #27043
So I've been able to create a standalone repro for this issue in [this repository](https://github.com/KallynGowdy/ws-rs-no-connection-repro).
It uses the [ws-rs](https://github.com/housleyjk/ws-rs) crate in a [similar manner](https://github.com/servo/servo/blob/433c154595f62d80210992cf889fdb8fd65848bc/components/net/websocket_loader.rs#L233) to servo and additionally confirms that it is an issue w

[2020-06-24 06:32] CYBAI commented on #26980
Also observed in layout-2020

[code]

[2020-06-24 08:13] SimonSapin commented on #26713
bincode 1.2 had (arguably) a bug where `serde::Deserialize` impls would be monomorphized four times where only one should be needed, perhaps with different `Deserializer` types. bincode 1.3 fixed this, and the `script` crate code size drops by ~11%: https://github.com/servo/servo/pull/27063

Results after:

[code]

[2020-06-24 12:55] paulrouget commented on #26898
I'm looking at this.

[2020-06-24 13:48] #22905 closed

[2020-06-24 14:00] jdm commented on #27043
The next step for minimizing that testcase would probably be to use the `vendored` feature of openssl-sys to build openssl without requiring servo to be involved with the build at all.

[2020-06-24 14:16] jdm opened #27072 "Set additional compilation options for executing scripts"
We should copy Gecko. We don't call setIntroductionInfoToCaller, setRunOnce, and setNoScriptRval in particular: https://searchfox.org/mozilla-central/rev/46e3b1ce2cc120a188f6940b5c6eab6b24530e4f/dom/script/ScriptLoader.cpp#2602

[2020-06-24 17:10] jdm commented on #27061
With the dynamic-module branch rebased against the latest upstream commit, when running `tests/wpt/web-platform-tests/webgpu/cts.html?q=webgpu:api,validation,createPipelineLayout:*` I still see:
[code]

[2020-06-24 17:11] jdm commented on #25439
With the dynamic-module branch from #27026 rebased against the latest upstream commit so #27034 is present, I see see the following panic when running `tests/wpt/web-platform-tests/webgpu/cts.html?q=webgpu:api,validation,createPipelineLayout:*`:
[code]

[2020-06-24 17:27] KallynGowdy commented on #27043
I just updated the repro to use vcpkg to install OpenSSL without servo.

[2020-06-24 19:10] jdm opened #27073 "Modules can finish while descendant modules are still fetching descendants"
I've tracked down the panic I'm seeing in the webgpu tests which is unrelated to #27061. One case seems to happen when:
* http://web-platform.test:8000/webgpu/common/runtime/wpt.js -> http://web-platform.test:8000/webgpu/common/framework/query/parseQuery.js
* http://web-platform.test:8000/webgpu/common/runtime/wpt.js -> http://web-platform.test:8000/webgpu/common/runtime/helper/test_worker.js
* ht

[2020-06-24 19:22] jdm commented on #27073
This was my mistake. I didn't rebase on the recorrect revision.

[2020-06-24 19:22] #27073 closed

[2020-06-24 19:47] jdm commented on #27061
I haven't been able to reproduce this problem when running `./mach test-wpt --pref=dom.webgpu.enabled "tests/wpt/web-platform-tests/webgpu/cts.html?q=webgpu:api,validation,createPipelineLayout:*"` on a rebased dynamic-module branch with the `?.` fixed.

[2020-06-24 19:58] jdm commented on #27061
When I use a debugmozjs build, I see:
[code]
I strongly suspect we're holding on to a pointer that gets moved or freed by the GC somewhere.

[2020-06-24 21:09] #14858 closed

[2020-06-24 21:19] jdm commented on #27061
I verified my theory by setting a breakpoint at the start of finish_dynamic_module and printing the module specifier data in the debugger (which showed expected values), setting a watchpoint on the string data in member and continuing. The watchpoint triggered in a GC that poisoned the string data which occurred while executing the module.

[2020-06-24 22:09] jdm commented on #27061
This will be fixed by updating to a version of mozjs that includes https://github.com/servo/mozjs/pull/254.

[2020-06-24 22:22] mrobinson commented on #26328
This is complete apart from the Web Animations API, which is quite a large task. I think it makes sense to close this bug in favor of #26626.

[2020-06-24 22:22] #26328 closed

[2020-06-24 22:40] jdm commented on #26328
Fantastic effort @mrobinson!

[2020-06-25 03:52] jdm commented on #27043
Fantastic write-up in the ws-rs issue. I suspect that mio 0.7 is currently incompatible with UWP, so we may need to switch to a different websocket client library in servo.

[2020-06-25 03:56] KallynGowdy commented on #27043
@jdm I was literally going to say the same thing! Any suggestions? This one [looks kinda cool](https://github.com/snapview/tungstenite-rs) but I'm not sure what OpenSSL support is required. I'm also assuming that it'd be fine to use the standard library [TCP stream](https://doc.rust-lang.org/std/net/struct.TcpStream.html) API.

[2020-06-25 08:42] gterzian opened #27082 "New HTTP Caching spec"
It's not completely different from the previous one we built the current cache one, however going forward we should probably look at the latest one: https://httpwg.org/http-core/draft-ietf-httpbis-cache-latest.html

[2020-06-25 11:13] mrobinson commented on #14949
I've found that part of the issue here is #23365, because the original test case uses the `attr(...)` function.

[2020-06-25 12:14] nox commented on #14791
Yes, but 2013 is still a thing for now.

[2020-06-25 12:15] nox commented on #7174
Nope.

[2020-06-25 12:15] #7174 closed

[2020-06-25 12:19] nox commented on #25949
@asajeffrey Homebrew is supposed to be installed with the account you normally use.

[2020-06-25 12:29] nox commented on #22790
AFAIK this is irrelevant now.

[2020-06-25 12:29] #22790 closed

[2020-06-25 12:40] jdm commented on #27043
https://github.com/snapview/tungstenite-rs/blob/fd7de42347f6b39428bcdb0e7d6a4bf65ccecedb/src/stream.rs#L3-L5 suggests that tungstenite is probably our best choice and should be able to integrate with our existing openssl support in servo.

[2020-06-25 12:51] CYBAI commented on #27061
@jdm thanks for the fix! Just one question, does that mean the assertion thrown by `debugmozjs` is a `debug_assert`-like thing? so I won't get it if I don't set the flag 👀?

[2020-06-25 12:57] jdm commented on #27061
That is correct.

[2020-06-25 15:00] jdm commented on #26976
https://gist.github.com/jdm/01da62182b9a5f8c3a850342bdac410f is the main lobby view.

firefox:
<img width="1552" alt="Screen Shot 2020-06-25 at 11 00 02 AM" src="https://user-images.githubusercontent.com/27658/85744659-10892700-b6d3-11ea-97de-b3570b5b60b2.png">

servo:
<img width="1136" alt="Screen Shot 2020-06-25 at 11 00 11 AM" src="https://user-images.githubusercontent.com/27658/85744694-154ddb

[2020-06-25 15:09] jdm opened #27085 "Hubs share button takes up whole page width"
Reduced testcase from https://gist.github.com/jdm/01da62182b9a5f8c3a850342bdac410f:
[code]

[2020-06-25 15:23] jdm opened #27086 "Hubs lobby dialog isn't aligned correctly"
Minimal testcase reduced from ...:
[code]

Firefox:
<img width="1552" alt="Screen Shot 2020-06-25 at 11 22 38 AM" src="https://user-images.githubusercontent.com/27658/85748612-319f4700-b6d6-11ea-8460-0d41c92cc223.png">

Servo:
<img width="1136" alt="Screen Shot 2020-06-25 at 11 22 41 AM" src="https://user-images.githubusercontent.com/27658/85748658-39f78200-b6d6-11ea-8c2b-bdccd7a515d5.png">

[2020-06-25 15:24] jdm commented on #26976
* [ ] #27085 - share button obscures other UI
* [ ] #27086 - dialog UI elements aren't positioned correctly

[2020-06-25 15:36] jdm opened #27087 "Intermittent timeout in /wasm/jsapi/functions/entry.html, /wasm/jsapi/functions/entry.html"
[code]

[2020-06-25 19:29] jdm commented on #27085
At [this code](https://github.com/servo/servo/blob/c862ffe3a1c4985f72b6b45ee1839b16c36c0c64/components/layout/flex.rs#L947) we end up computing an inline size that matches the flex flow's inline size.

[2020-06-25 20:33] jdm commented on #27085
If the button is surrounded by a regular block flow (eg. `<div>`) then this doesn't happen. Similarly, if the div isn't a flex flow, this doesn't happen.

[2020-06-25 21:38] jdm commented on #27085
The incorrect stretching does not occur in Layout 2020, but it's not aligned to the center.

[2020-06-25 21:40] asajeffrey opened #27089 "Rename master branch on all repos?"
We shouldn't have the main branch be called `master` in 2020.

[2020-06-25 21:43] asajeffrey commented on #27089
Unfortunately, this is probably a big job, especially for repos that may have downstream consumers, since https://github.com/rust-lang/cargo/pull/8364 only just landed. We'd also need to find all the places our docs and build scripts mention `master`.

[2020-06-25 22:16] asajeffrey commented on #27089
For example hyperlinks to the main branch are currently things like `https://github.com/servo/servo/blob/master/README.md` (https://github.com/servo/servo/blob/master/README.md) and it would be nice not to break those.

[2020-06-25 22:59] asajeffrey commented on #27089
OK, I went through and renamed all the main branches in my personal repos to `main`, which took a couple of minutes per repo. The recipe is:
[code]
Then set the default branch using the github UI https://help.github.com/en/github/administering-a-repository/setting-the-default-branch

[2020-06-26 00:55] Manishearth opened #27090 "Gstreamer deps fail to compile with bare ./mach check on systems with downloaded gstreamer"
If your system does not have gstreamer 1.16 and uses `./mach bootstrap-gstreamer`, `./mach build` will set up the PKG_CONFIG_PATH and LIB variables for the build.

However, `./mach check` will not. This means that `./mach check` will fail to build gstreamer sys dependencies (easily tested with `./mach check   -p gstreamer-video-sys` on a fresh clone). It works in general because often you will hav

[2020-06-26 03:04] jdm opened #27091 "Intermittent failure in /css/css-flexbox/hittest-anonymous-box.html"
[code]

[2020-06-26 06:19] thormme commented on #26820
I got the same thing with the windows exe. Extracted from the zip, June 24, 2020 nightly build.
Requires manually killing the task with task manager as in https://github.com/servo/servo/issues/26996#issuecomment-647877162

I have a GeForce 960M driver version 445.87
Potentially related to https://github.com/servo/servo/issues/26400

[2020-06-26 10:34] paulrouget commented on #27058
Turns out the new UI is dark by default, making this a lot more important. Will look at this soon.

[2020-06-26 11:50] paulrouget commented on #26898
This will be implemented in 2 steps.

1)

I'm going to initially land a simple text controller mechanism that implements key events and also sync our IME messages with the InputPane.

But the way Servo handles text inputs is too simplistic to implement correctly a text handler. We're missing pieces to get the proper behavior (like exposing selection range, caret position, etc, which is necessary t

[2020-06-26 11:53] paulrouget commented on #27046
(I have an upcoming fix, will be part of the text events PR)

[2020-06-26 11:56] paulrouget commented on #26898
On Desktop, no issue.

I think if we get to a point where can enter login and passwords on the device, it's a good enough first step.

[2020-06-26 14:21] jdm commented on #24786
[code]

[2020-06-26 15:01] jdm opened #27098 "CodegenRust.py doesn't import types from dictionary members"
https://github.com/servo/servo/pull/26607#issuecomment-649992233

[2020-06-26 23:24] #27045 closed

[2020-06-26 23:24] #27061 closed

[2020-06-27 13:42] philn commented on #27013
@TrevorFSmith cool project you got there! Maybe [GstWPE](https://base-art.net/Articles/html-overlays-with-gstwpe-the-demo/) could be an option as well ;)

[2020-06-27 13:52] philn commented on #22418
https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs/-/blob/master/video/dav1d/src/dav1ddec.rs :)

[2020-06-27 17:08] jdm opened #27103 "Intermittent failure in /css/css-text/hyphens/hyphens-none-013.html"
[code]

[2020-06-28 11:24] muodov commented on #23417
@highfive: assign me

[2020-06-28 11:24] highfive commented on #23417
Hey @muodov! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-06-29 13:39] Rufus31415 opened #27113 "Unable to remote debug on Hololens 2"
I followed these instructions: https://github.com/servo/servo/wiki/Devtools#running-firefox-reality-in-a-hololens-device-or-emulator

On my hololens (10.32.11.146) I allowed the debugger to connect.
On Firefox Desktop or Firefox Developer, I get the following error :
![debug error](https://user-images.githubusercontent.com/22075796/86012323-1b6af100-ba1e-11ea-997c-314f15a27329.png)

Firefox : 77.0

[2020-06-29 14:35] #27046 closed

[2020-06-29 15:35] #27058 closed

[2020-06-29 16:30] jdm opened #27115 "hstring2char is used in unsafe ways"
[hstring2char](https://github.com/servo/servo/blob/56e0e557a5c882af6f3860de5ab03fbed64e4bb5/support/hololens/ServoApp/ServoControl/Servo.cpp#L393-L400) returns a unique_ptr. This ensures that we don't end up leaking the value. However, we need to be careful about cases where we dereference it and return the inner pointer, which means we could end up deleting the pointer.

Scary:
* https://github.c

[2020-06-29 16:42] paulrouget commented on #26851
To consider: using the devtools protocol instead of using a low level API.

[2020-06-29 17:08] jdm commented on #27113
I'm going to try and reproduce this. In the short term, you can use a nightly build from download.servo.org/ - pressing the wrench icon will open an in-app JS console, which will give you most of the same benefits of using the remote devtools.

[2020-06-29 17:12] jdm commented on #27113
I can reproduce. I'll try and figure out why no tabs are being reported.

[2020-06-29 19:07] Rufus31415 opened #27116 "WebGLRenderingContext. isContextLost() is undefined"
The method WebGLRenderingContext. isContextLost() doesn't exist in Firefox Reality on Hololens 2.
Every Unity 3D WebGL build use this method.
I am using this workaround to make it work : https://github.com/Rufus31415/Simple-WebXR-Unity/blob/28331fc890e316e13401618a8e0da1e84bad7a39/Assets/SimpleWebXR.jspre#L6

[2020-06-29 21:47] jdm commented on #27043
I've started work to integrate tungstenite in https://github.com/jdm/servo/tree/tungstenite. When attempting to write the code that would support reading and writing independently, I realized that we're going need to add an async layer on top of tungstenite. Possibilties include:
* tokio-tungstenite - depends on an older version, hasn't been updated since January
* async-tungstenite - maintained b

[2020-06-29 21:52] jdm commented on #27043
Then again, https://github.com/alexcrichton/tokio-openssl looks like it might be an important missing piece?

[2020-06-30 05:13] paulrouget commented on #27115
We allocate strings in Rust and send them to C++. We allocate strings in C++ and send them to Rust.
We should have string containers on both sides, that send "deallocate" events to the other side when it's being dropped.

You suggested that in the past. I think this would address this issue.

[2020-06-30 05:29] gterzian opened #27117 "Plug Worklets into Hang interrupt/exit workflow"
This would be a follow-up on https://github.com/servo/servo/pull/27016/files#diff-59d233642d0ce6d687484bdd009e1017R2734

Where one would have to ensure worklets cannot run JS code after script-thread where they are running has started shutting-down, similar to what that PR does with other workers, and with the script-thread itself.

See `ScriptThread::worklet_thread_pool` as well as `dom/worket.rs

[2020-06-30 06:27] kunalmohan commented on #25439
Live test suite has been updated after removing optional chaining operator (https://gpuweb.github.io/cts/standalone/).
(Really sorry for the late update)

Good news is that the page loads successfully and the tests are visible and we can run and see the results as expected.

[2020-06-30 07:13] #27027 closed

[2020-06-30 07:13] #9672 closed

[2020-06-30 07:13] #26685 closed

[2020-06-30 07:13] #26996 closed

[2020-06-30 12:23] jdm commented on #27115
I think that issue might be independent? This one is strictly about how the underlying string buffers are stored in C++.

[2020-06-30 13:18] jdm opened #27128 "Intermittent timeout in /fetch/cross-origin-resource-policy/image-loads.html"
[code]

[2020-06-30 13:48] paulrouget commented on #27115
I understand. I'll take care of this.

[2020-06-30 13:53] jdm opened #27129 "Intermittent failure in /workers/Worker-timeout-decreasing-order.html"
[code]

[2020-06-30 14:03] jdm opened #27130 "Unity export doesn't load"
https://de-panther.github.io/unity-webxr-export/Build/

Possible cause:
[code]

[code]

[2020-06-30 18:55] #26212 closed

[2020-06-30 22:37] atouchet opened #27132 "UWP Windows build fails to install"
I tried installing the UWP build from https://servo.org/ and after running ServoApp_1.1.0.0_x64_arm64.msixbundle I get the error message: "Either a new certificate must be installed for this app package or you need a new app package with trusted certificates. Your system administrator or the app developer can help. A certificate chain was processed but terminated in a root certificate that isn't t

[2020-06-30 22:54] jdm commented on #27132
If you haven't side-loaded a UWP build before, you need to install the certificate in the zip file as a trusted root.

[2020-06-30 23:00] atouchet commented on #27132
I ran the ServoApp_1.1.0.0_x64_arm64 security certificate and followed the import instructions but I still get the same error. Is there something else I should be doing?

[2020-06-30 23:40] #27132 closed

[2020-07-01 02:08] gterzian opened #27133 "Improve spec compliance of validity check"
This line https://github.com/servo/servo/pull/27100/files#diff-db2031d1f23ecf1a921fc100cfed753dR677

appears incorrect, since the spec only says to fire events on the fields that are invalid, via step 6.1 of https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#statically-validate-the-constraints, which is called into by https://html.spec.whatwg.org/multipage/form-control-infrast

[2020-07-01 04:57] jdm opened #27134 "SSL error on websocket.org"
Visiting https://www.websocket.org/echo.html in my local macos build yields:
<img width="1136" alt="Screen Shot 2020-07-01 at 12 57 09 AM" src="https://user-images.githubusercontent.com/27658/86204558-cfab6b00-bb35-11ea-889f-2359d0e43e9d.png">

[2020-07-01 04:59] jdm opened #27135 "Panic on websocket.org"
Visiting http://www.websocket.org/echo.html I see the following panic in the layout thread:
[code]

[2020-07-01 05:04] jdm commented on #27134
There is very little to go on here:
[code]

[2020-07-01 07:15] sdroege commented on #27043
tokio-openssl is actively maintained it seems, so that seems like the best approach for the OpenSSL plumbing if you're using tokio in servo (and not async-std or your own futures runtime).

[2020-07-01 11:26] paulrouget opened #27140 "Send blur event and HideIME message on unload"
A page like: https://news.ycombinator.com/login

Typing the password and then pressing enter will not send a blur event.

[2020-07-01 13:58] paulrouget commented on #27140
jdm mentioned:

See paragraph 2 of https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#implicit-submission which would fire a click event

[2020-07-01 17:37] liumuqi commented on #23261
very nice man

[2020-07-01 19:00] asajeffrey commented on #27013
My attempt to fix this is https://github.com/asajeffrey/servo/tree/gstplugin-fallback-glcontext, which gets further but then fails to run a task on the GL thread.

[2020-07-01 21:13] asajeffrey commented on #27013
So it turns out the problem is that some GL sinks (e.g. gldownload) don't create their GL context until they're in the `PAUSED` state, so we were issuing the query too early. In https://github.com/asajeffrey/servo/blob/gstplugin-lazy-gl-init/ports/gstplugin/servowebsrc.rs I delay getting the GL state until we're producing GL frames, which seems to fix the issue.

[2020-07-01 21:32] atouchet commented on #18564
I am not able to reproduce this issue in the latest nightly build using Alt + left arrow to go back.

[2020-07-02 02:13] PhilParisot commented on #19183
Hey @emilio and @jdm, I'd like to try and attempt this issue if that's OK with you. I just finished reading the book.

I'll say hi on #servo on Matrix.

Let me know!

Thanks!

[2020-07-02 03:53] gterzian opened #27144 "Intermittent TIMEOUT /fetch/nosniff/importscripts.html"
[code]

Mac Os

See in https://github.com/servo/servo/pull/27100

[2020-07-02 04:01] PhilParisot opened #27145 ""sudo apt install python-virtualenv python-pip" and "./mach bootstrap" is oboslete on Pop!_OS and quite possibly any Ubuntu 20.04 based distro"
I believe I had to install virtualenv by running `sudo apt install virtualenv`.

I forget how I installed python3 and pip, they might've came with the distro.

`./mach bootstrap` also did not work but `python3 ./mach bootstrap` did.

I'm totally new so I spent a significant amount of time figuring this out. I think the README should be updated to reflect the changes for newcomers but I haven't tri

[2020-07-02 04:04] PhilParisot commented on #27145
Also, installing `virtualenv` using both pip3 and apt will throw and error when running `python3 ./mach bootstrap`. I suggest removing the pip version and sticking with the apt version.

[2020-07-02 04:04] gterzian opened #27146 "Panic on attempting to get BC info for dis-similar origin iframe"
This happens in of intermittents tests, and I think it's worth highlight separately.

Appears to be some race condition related to the "remote window proxies", aka dis-similar origin windows, where the iframe is in one script-thread, and the actual BC/Window "inside" the iframe is in another script-thread. In such a case the constellation is used sometimes to coordinate between the two script-thre

[2020-07-02 09:33] emilio commented on #19183
I think this was effectively done in https://bugzilla.mozilla.org/show_bug.cgi?id=1470695. @jdm do you have any other potential good first issue for @PhilParisot?

[2020-07-02 09:33] #19183 closed

[2020-07-02 12:49] jdm commented on #27145
In my experience, the pip version of virtualenv is the only one that is usable by mach.

[2020-07-02 14:49] atouchet commented on #19015
@emilio @Manishearth is this done now?

[2020-07-02 15:00] #23417 closed

[2020-07-02 16:33] alarsyo commented on #23053
@highfive: assign me

[2020-07-02 16:33] highfive commented on #23053
Hey @alarsyo! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-02 19:18] Manishearth opened #27153 "Servo master fails to run because gst_webrtc_data_channel_state_get_type cannot be found"
This is on Ubuntu 18.04, using bootstrap-gstreamer

[code]

Weirdly enough, WPT runs succeed

cc @ferjm @jdm

[2020-07-02 19:21] jdm commented on #27153
This was just fixed by #27151.

[2020-07-02 19:21] #27153 closed

[2020-07-02 21:40] atouchet opened #27155 "Minesweeper Online detects right clicks as left clicks"
URL: http://minesweeperonline.com/#

Steps to reproduce:

1. Load http://minesweeperonline.com/# and start playing a game of Minesweeper.
2. Right click on a square to flag it.
3. The game detects a left click instead and will press the square instead of flagging it.

Tested using the latest nightly build in Windows 10.

[2020-07-02 21:46] jdm commented on #27155
https://github.com/servo/servo/blob/c0a582471eb25555408d467d25dffc52d81d8f8c/components/script/dom/document.rs#L1159

Oops!

[2020-07-02 21:47] jdm commented on #27155
Similarly, [this code](https://github.com/servo/servo/blob/7eacfa4f0de57bd3312e9163681b11f6c6aa3c65/components/compositing/compositor.rs#L893-L899) looks really weird. It's not clear why we're passing a `buttons` argument that gets ignored and a hardcoded `MouseButton::Left` that is used.

[2020-07-02 21:48] highfive commented on #27155
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [Matrix](https://wiki.mozilla.org/Matrix).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-07-02 21:48] jdm commented on #27155
I think we should get rid of the second, hard-coded value and replace its use in [this code](https://github.com/servo/servo/blob/c0a582471eb25555408d467d25dffc52d81d8f8c/components/script/dom/document.rs#L1216) with the ignored `buttons` argument instead.

[2020-07-02 21:49] jdm commented on #27155
@PhilParisot Want to fix this one?

[2020-07-02 22:26] PhilParisot commented on #27155
For sure 100% down!

[2020-07-03 00:40] PhilParisot commented on #26353
Same is happening to me, on Pop!_OS 20.04 with Nvidia proprietary drivers :/

[2020-07-03 01:41] pshaughn commented on #27155
This relates to #25181, the "auxclick" event a right-click should actually be firing.

[2020-07-03 02:31] jdm opened #27156 "Enable stdout/stderr logging by default on UWP"
We currently disable logging in release builds unless the [FirefoxRealityLogStdout](https://github.com/servo/servo/blob/master/support/hololens/ServoApp/ServoControl/Servo.cpp#L226) environment variable is set. There's no good way to set such a variable on a HoloLens 2 without recompiling the app, which means it's effectively impossible to get logging out of an arbitrary user's build and they have

[2020-07-03 04:25] #27156 closed

[2020-07-03 05:23] #26898 closed

[2020-07-03 05:23] #26680 closed

[2020-07-03 07:33] paulrouget commented on #27113
Protocol has been updated.

We need to migrate to tab descriptors.

Valid (Firefox to Firefox) protocol dump:

[code]

[code]

[code]

[code]

[code]

[code]

[2020-07-03 13:45] jdm opened #27160 "wdspec test output doesn't include servo output"
This makes it difficult to notice when there are panics occurring in servo, like in https://github.com/servo/servo/pull/27104#issuecomment-652772422.

[2020-07-03 13:47] jdm opened #27161 "Intermittent crash in pulseaudio during media tests (ssertion '(v = fcntl(fd, F_GETFD, 0)) >= 0' failed at pulsecore/core-util.c:253, function pa_make_fd_cloexec(). Aborting.)"
[code]

[2020-07-03 14:50] jdm opened #27162 "Intermittent timeout in /fetch/redirect-navigate/preserve-fragment.html"
[code]

[2020-07-03 16:02] jdm commented on #26933
I have pushed a new branch of our fork of mio at https://github.com/servo/mio/tree/servo-mio-0.6.22.

[2020-07-03 16:37] #27030 closed

[2020-07-03 16:37] #14505 closed

[2020-07-03 18:20] jdm opened #27165 "Protocol launcher for UWP still loads default homepage"
When generating a QR code with a fxr:// protocol from https://www.qr-code-generator.com/, looking at the QR code in the HL2 pops up a dialog to confirm opening the URL in FxR. However, accepting it still causes servo.org/hl-home/ to be launched instead.

[2020-07-03 18:32] jdm opened #27166 "2d canvas font code panics on default system font on HL2"
From a log on a user's device:
[code]

[2020-07-03 18:34] jdm commented on #27166
We'll need to make [this](https://github.com/servo/servo/blob/8800452e347bc62d04b5678baadb39705d45503b/components/canvas/canvas_data.rs#L1429-L1435) optional and just ignore text operations when we can't find fonts to avoid panics like this; we should also figure out how to load the default fallback font on UWP as well.

[2020-07-03 18:43] jdm opened #27167 "Add tool for uploading FxR logs"
In cases where FxR encounters a panic, since we now log them by default since #27157 it would be really nice to make it easy for those logs to be uploaded to a place that FxR developers can see them. Here are some ideas I have:
* make the about:failure page contain a button that uploads stdout.txt and the current URL to somewhere
  * this requires #26523, and requires passing the extra data into t

[2020-07-03 19:05] DemiMarie commented on #19870
The only fix I know of is to use a macro at the declaration site, so that nobody actually has an owned `RootedVec<T>`.

[2020-07-03 22:40] nicbn commented on #26911
Sorry for the delay, tried it just now.
For good measure, I tried once more without doing anything, and error still present.
Then I touched `configure` and it seemingly solved that particular error.

[2020-07-03 23:18] nicbn commented on #26911
Oh well. After having a `python2.7 not found` which I solved with `Set-Alias`, I've got this again.

[code]

[2020-07-03 23:22] nicbn commented on #26911
I'm having a `python2.7: unknown command` being thrown now. (Should I create a new issue?)
`Set-Alias` won't help with it.

[code]

[2020-07-03 23:28] jdm commented on #26911
`ValueError: path is on drive C:, start on drive D:` is the actual error. We don't support building servo in a different drive than the cargo home directory resides. You will need to either move your servo working directory to C:\, or set CARGO_HOME to a directory in D:\ when building (https://doc.rust-lang.org/cargo/guide/cargo-home.html).

[2020-07-04 03:58] PhilParisot commented on #27155
@highfive: assign me

[2020-07-04 03:58] highfive commented on #27155
Hey @PhilParisot! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-04 05:41] #26429 closed

[2020-07-04 05:41] #26969 closed

[2020-07-04 05:41] #19092 closed

[2020-07-04 05:41] #21208 closed

[2020-07-04 05:41] #22559 closed

[2020-07-04 05:41] #22584 closed

[2020-07-04 05:41] #22652 closed

[2020-07-04 05:41] #23053 closed

[2020-07-04 13:35] Rufus31415 opened #27172 "Hololens : get hand points poses"
Is there a way to get all points of the hands user ? I searched the api but I couldn't find out how to do it.
I think it's possible, we can see an example at 00:35s : https://twitter.com/mozillareality/status/1263477345521995788

[2020-07-04 13:38] jdm commented on #27172
That's the experimental hand tracking API from https://github.com/immersive-web/webxr-hands-input. You might be able to play with it right now by opening the settings panel (button to the right of the URL bar), finding the [dom.webxr.hands.enabled](https://github.com/servo/servo/blob/8916a42180a9119bf5d8710a30694b1825b97414/resources/prefs.json#L40) preference and making it true.

[2020-07-04 14:15] CYBAI commented on #24066
[code]

[2020-07-04 14:39] Rufus31415 commented on #27172
Awesome

[2020-07-04 14:39] #27172 closed

[2020-07-04 14:47] muodov commented on #27133
@highfive assign me

[2020-07-04 14:47] highfive commented on #27133
Hey @muodov! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-04 16:52] nicbn commented on #26911
Oh, sorry for that. Moved servo into C: and clean built. Servo build has been at `mozangle` for a while now, but looks like no problems in regards to `mozjs_sys`.

[2020-07-04 21:34] muodov commented on #27133
Turns out, this is quite a recent change in HTML spec. The `invalid` event on the `<form>` element was removed.
So it seems like we can just remove that line in the form submission implementation.

Links:
- [HTML issue](https://github.com/whatwg/html/issues/4626) ([PR](https://github.com/whatwg/html/pull/5507))
- corresponding [WPT change](https://github.com/web-platform-tests/wpt/pull/23380)

The

[2020-07-05 04:31] gterzian commented on #27133
Ok, thanks for looking into this.

Re this, doesn't [`checkValidity`](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#dom-cva-checkvalidity) directly call into [the check validity steps](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#check-validity-steps) that fire this event?

[2020-07-05 09:44] muodov commented on #27133
@gterzian it took me some time to figure it out, but [checkValidity() in "The constraint validation API"](https://html.spec.whatwg.org/multipage/#dom-cva-checkvalidity) has nothing to do with the [checkValidity() of the form element](https://html.spec.whatwg.org/multipage/#dom-form-checkvalidity).
[The constraint validation API](https://html.spec.whatwg.org/multipage/#the-constraint-validation-api

[2020-07-05 09:53] gterzian commented on #27133
Ah ok, so those I was referring to are about form controls, not the form element, as you already had pointed out. Thanks!

[2020-07-05 09:53] #27133 closed

[2020-07-06 07:12] paulrouget commented on #27165
https://github.com/servo/servo/commit/2ef6ba25dc053a5ff381637c71b30748b943f869#diff-21a2278a1ca7a7ea108af7a3ca6ffa3fL309-L311

[2020-07-06 09:20] trinitronx commented on #27145
Usable as in: "only `pip` version of `virtualenv` works _with_ `mach` / _used by_ `mach`", or as in: "`apt` `virtualenv` / `python3-virtualenv` packages do not work _with_ `mach`" ?

The distinction being to try and elucidate whether `mach` requires something that only the `pip` version provides, or whether it uses whichever is on `PATH` first and takes precedence.  For example if both are install

[2020-07-06 09:38] trinitronx commented on #27145
Seems like my issue above may have something to do with the `nvidia` drivers diverting some libraries including `libEGL.so` and `libEGL.so.1`.  I'm not sure how the Rust compiler & runtime binary handles which to link against & load with, but it could have something to do with the `nvidia` binary drivers overriding those?

[code]

[2020-07-06 11:35] #27165 closed

[2020-07-06 14:25] jdm opened #27181 "Can't reopen on-screen keyboard after closing it when focused on text input"
Pressing the X on the on-screen keyboard closes it and leaves the text input in the focused state. This means that tapping the text input again doesn't cause the keyboard to reopen; instead the focus has to be directed somewhere else first. I can imagine two solutions to this problem:
* de-focus the focused input when the keyboard is closed
* make the code that sends the embedding message for text

[2020-07-06 14:41] jdm commented on #27166
Using https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Drawing_text, I see the "Hello world" text on desktop macOS and Windows nightlies, and a blank canvas in the UWP nightly. I'm going to try and fix that.

[2020-07-06 14:44] jdm opened #27182 "Panic loading fillText MDN page"
https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/fillText causes the about:failure page to load when I navigate to it in a desktop Windows build. This is likely related to #27166.

[2020-07-06 14:45] jdm commented on #27182
Reproduced a crash on macOS as well.

[2020-07-06 15:22] jdm commented on #19015
I'm going to go ahead and claim it's done. We can file specific issues for anything remaining.

[2020-07-06 15:22] #19015 closed

[2020-07-06 15:25] jdm commented on #27182
[code]

[2020-07-06 15:32] jdm commented on #27182
This comes from [this code](https://github.com/servo/servo/blob/cf30457776b84d772bf1dbe45788c58bf7219cd2/components/layout/inline.rs#L1097). Something doesn't add up - printing `self->fragments` in the get_mut stack frame shows:
[code]
And the index is 0, so everything seems like it should be fine. So why does the actual Vec code believe the length is 0?

[2020-07-06 16:11] jdm commented on #27166
Ok, so the path we follow gets us to https://github.com/servo/font-kit/blob/efb64bcd3fdaf21a46a0edb086a4f157264a54ea/src/source.rs#L146 before we encounter any errors. We have a FontHandle that corresponds to the `serif` generic font (which is Times New Roman on windows), and the corresponding path we have is C:\WINDOWS\FONTS\TIMES.TTF.

Font::from_handle takes us to https://github.com/servo/font-

[2020-07-06 16:26] jdm commented on #27166
Ok, not _super_ surprisingly, the underlying error is `Io(Os { code: 5, kind: PermissionDenied, message: "Access is denied." })`. It's interesting that we're allowed to open that file path but not not go from the file handle to the path.

[2020-07-06 16:48] jdm commented on #27166
#27184 will make the crash go away. I've submitted https://github.com/servo/font-kit/pull/156 to fix the underlying problem, which will allow the actual text to appear when we update to a version of font-kit that includes that change.

[2020-07-06 18:00] jdm commented on #27182
My gut was right - adding an if check in the get_mut made the problem disappear, and then removing it caused me to end up a couple frames deeper but with the fragment info displaying invalid memory. I'm pretty sure we have multiple threads mutating the same memory somehow.

[2020-07-06 18:14] jdm commented on #27039
Since this happens in [this code](https://github.com/servo/webrender/blob/8b663b2ced401fc16fa104177405b122997b91be/webrender/build.rs#L136-L202), I suspect that either glslopt is not threadsafe the way it's being used, or the [implementation](https://github.com/jrmuizel/build-parallel/blob/fc61f40243364689b093e7eea785f3f903e33115/src/lib.rs#L27) of build_parallel is not upholding the required Rust

[2020-07-06 18:16] jdm commented on #27039
https://github.com/aras-p/glsl-optimizer/issues/76 suggests that glsl-optimizer might be the culprit.

[2020-07-06 18:36] jdm commented on #27039
I'm going to switch us to https://github.com/servo/webrender/tree/crash-backtrace to get a better sense of what code is segfaulting.

[2020-07-06 18:42] jdm commented on #27043
I have verified that the page loads as expected with #27164 applied.

[2020-07-06 18:45] jdm opened #27185 "Many warnings about request stream confirmations when loading pages"
For pages that make a bunch of network requests, if you look at the output of RUST_LOG=net::http_loader or RUST_LOG=net, you end up seeing a bunch of `WARN - net::http_loader - Failed to receive confirmation request was streamed without error.` The fact that everything appears to be working fine suggests that this is not actually a case we need to warn about. @gterzian What can we do to reduce the

[2020-07-06 19:14] #27116 closed

[2020-07-06 21:33] jdm opened #27187 "resources/Servo.ico and resources/servo.ico collide on case-insensitive filesystems"
One of them should be renamed.

[2020-07-06 21:34] jdm commented on #27182
Humbug, I can't reproduce the problem when I save the page and run it from a local webserver.

[2020-07-06 21:46] atouchet commented on #27187
I thought I removed Servo.ico in #27118. Not sure what happened there. I think that file can be removed.

[2020-07-06 22:41] atouchet opened #27189 "Update Servo branding"
Servo now has a new logo but some resources are still using the old one. These should probably be updated.

Twitter account: https://twitter.com/servodev
bors-servo: https://github.com/bors-servo

[2020-07-06 23:11] #27187 closed

[2020-07-06 23:18] jdm opened #27190 "Support enabling sanitizers easily"
Based on https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html, I have successfully compiled Servo by adding `-Zsanitizer=address` to the `rustflags` field in my .servobuild, and using the following diff:
[code]
If this turns out to be useful, it might be nice to add .servobuild support for enabling a sanitizer.

[2020-07-06 23:42] jdm commented on #27182
Neither -Zsanitizer=address nor -Zsanitizer=thread based on #27190 report anything, which makes me sad.

[2020-07-07 01:27] CYBAI commented on #26726
[code]

[2020-07-07 02:36] jdm opened #27191 "Intermittent timeout in test_hang_monitoring_exit_signal"
[code]

[2020-07-07 03:01] gterzian commented on #27185
Thanks for catching this, it's actually an omission in the logic, which currently doesn't take into account a non-existent request body.

[2020-07-07 03:10] PhilParisot commented on #27155
@highfive unassign me

[2020-07-07 03:38] #27166 closed

[2020-07-07 03:38] jdm commented on #27155
Unassigning by request.

[2020-07-07 04:17] jdm commented on #27190
There's a subtlety that took me forever to discover - since the --target flag is required, the binary ends up in target/[target]/servo, so `./mach run` ends up running the wrong binary.

[2020-07-07 04:47] gterzian commented on #27191
I couldn't reproduce locally(although one time ALL test in the component ended-up hanging), yet I'm hoping the attached PR will ensure it doesn't come back...

[2020-07-07 05:28] jdm commented on #27161
[code]

[2020-07-07 05:44] #9274 closed

[2020-07-07 07:50] #27185 closed

[2020-07-07 13:03] jdm commented on #26726
[code]

[2020-07-07 14:40] jdm commented on #26621
Something that might be straightforward to prototype - could we apply a full-frame effect like dimming that intensifies the longer you perform the gesture? The main downside here would be if there's snapping effect if the gesture stops being recognized after 50% of the time; making the effect reverse in an accelerated fashion might be less jarring.

[2020-07-07 14:53] jdm commented on #26186
This was implemented, and we always log to stdout.txt in the local app settings now.

[2020-07-07 14:53] #26186 closed

[2020-07-07 15:06] Manishearth commented on #26621
A full frame effect would be easier, yes. We could also draw something on the hand.

[2020-07-07 15:45] #27191 closed

[2020-07-07 15:48] jdm commented on #26097
With the latest Servo revision we can see the room contents for https://hubs.mozilla.com/mB8Wn7L/talkative-simplistic-sphere, but the lobby dialog never appears. I've rebased https://github.com/servo/hubs/tree/checkpoint against upstream Hubs and the lobby dialog appears, so it seems like https://github.com/servo/hubs/commit/1e5f21c406648bed5dd2cbeaef06152044b68a39 may still be commenting out some

[2020-07-07 15:54] jdm commented on #26620
Fixed by https://github.com/servo/servo/pull/27143.

[2020-07-07 15:54] #26620 closed

[2020-07-07 17:37] jdm opened #27197 "Response body nulling for HEAD requests is leaky"
I wrote a unit test for fetch that relied on reading a response body from the server for a HEAD request. This test usually passed and sometimes timed out in code that was waiting for the response to complete. This led me to [this code](https://github.com/servo/servo/blob/e61628420bffbbf107237b31db20232b1b6a340b/components/net/fetch/methods.rs#L413-L427), which attempts to replace the body with an

[2020-07-07 18:15] jdm commented on #26097
I can run the local hubs server without any changes just fine. Debug logs show that loading hubs.mozilla.org is having trouble making a successful websocket connection, which is curious. The error is:
[code]
This comes from:
[code]

[2020-07-07 19:16] jdm opened #27199 "Some fetch requests are blocked on hubs.mozilla.org"
I've traced one of them down to being rejected by a CSP policy. I believe that https://github.com/servo/servo/blob/e61628420bffbbf107237b31db20232b1b6a340b/components/net/fetch/methods.rs#L166 is incorrect.

[2020-07-07 19:27] jdm commented on #27199
The relevant CSP directive is:
[code]
We're connecting to `https://lucid-ardent.reticulum.io:443/meta`, which should be valid.

[2020-07-07 19:33] jdm commented on #27199
This looks like a bug in the content-security-policy crate - the port comparison ends up comparing `:443` from the directive and `443` from the URL and decides they don't match.

[2020-07-07 19:46] jdm commented on #27199
Submitted https://github.com/rust-ammonia/rust-content-security-policy/pull/30/ upstream to correct it.

[2020-07-07 19:47] jdm opened #27200 "Expose CSP errors in console and devtools"
Tracking down https://github.com/servo/servo/issues/27199 was an annoying process. We should make it easier to recognize when a request is being blocked before it reaches the network.

[2020-07-07 20:16] jdm commented on #26097
With the latest Servo revision, the only user-agent script stub that's still required is MediaDevices.enumerateDevices. Additionally, with my latest [hubs-investigation](https://github.com/jdm/servo/tree/hubs-investigation) servo branch, I am able to enter rooms on hubs.mozilla.org, rather than requiring a hacked-up local server!

[2020-07-07 21:03] jdm opened #27202 "Intermittent error in /domparsing/DOMParser-parseFromString-url-base-pushstate.html"
[code]
This looks like we might be getting an about:blank load event that happens before /domparsing/resources/domparser-url-tests.js is loaded? It seems strange that that would be intermittent, however.

[2020-07-07 22:07] artificial-geoff commented on #27113
I noted today that on FF74 I have access to tabs, but on FF78 I do not have any any tab listed when connected to my hololens. Do you think this is related?

(My poor French interpretation skills of the error in the screen shot is that it needs to be a minimum of version 75.01?)

[2020-07-07 22:16] jdm commented on #27113
Yes. The protocol that Firefox uses to talk to the devtools server in Firefox Reality changed in more recent versions of Firefox.

[2020-07-07 22:17] jdm commented on #25522
[code]

[2020-07-07 22:18] jdm commented on #26895
[code]
Wow, honestly not what I was expecting to see at all.

[2020-07-07 23:27] jdm commented on #26895
That error looks like it comes from https://github.com/hyperium/hyper/blob/a115c30f1c869a0027dc73157f11adf66b113dbb/src/common/exec.rs#L74-L79.

[2020-07-08 01:01] #27013 closed

[2020-07-08 01:31] asajeffrey commented on #27013
@TrevorFSmith hopefully this fixed the problem!

[2020-07-08 07:42] duncandean commented on #27155
@highfive: assign me

[2020-07-08 07:42] highfive commented on #27155
Hey @duncandean! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-08 11:19] #24826 closed

[2020-07-08 18:17] jdm opened #27210 "Implement navigator.languages"
This is used by hubs in places like https://github.com/mozilla/hubs/blob/2c60de07a1cf7ed070f04f440637aa0e3b592e8f/src/utils/i18n.js#L4 and https://github.com/mozilla/hubs/blob/6defae0ef0163a835c551650acdc614bb86e5559/src/storage/media-search-store.js#L81, and breaks the avatar selection panel.

[2020-07-08 18:18] jdm commented on #27210
https://html.spec.whatwg.org/multipage/system-state.html#dom-navigator-languages

[2020-07-08 18:19] jdm commented on #27210
This should be a value that is controlled by the embedder as part of initializing the engine, in my opinion. This will allow us to return a meaningful value for non-english locales on the HoloLens 2, for example.

[2020-07-08 18:42] jdm opened #27211 "Selecting a Hubs avatar throws a Security error"
This comes from https://github.com/servo/servo/blob/26b5f09145c1c6b8db740f1039c164e7d2c0827f/components/script/dom/webglrenderingcontext.rs#L647.

[2020-07-08 18:55] jdm commented on #27211
I suspect that TexImage2D is being too strict - I believe it's acceptable to use CORS-unsafe image data as texture data, but we should taint the 3d canvas in that case and prevent readback from it.

[2020-07-08 18:57] jdm commented on #27211
Nevermind, that was incorrect: https://www.khronos.org/registry/webgl/specs/latest/1.0/#4.2

[2020-07-08 19:31] pcwalton commented on #25167
Spec questions/potential bugs/ambiguities discovered so far, from https://www.w3.org/TR/CSS2/visuren.html#float-position:

1. Rule 7 states "a left-floating box that has another left-floating box to its left may not have its right outer edge to the right of its containing block's right edge. (Loosely: a left float may not stick out at the right edge, unless it is already as far to the left as poss

[2020-07-08 19:32] jdm commented on #26621
https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/README_HandMenu.html

[2020-07-08 20:59] jdm opened #27212 "Implement console.table"
This is used by cables.gl content.

[2020-07-08 21:02] jdm opened #27213 "Google Maps content stops responding"
The UI is responsive, but shortly after loading a Maps page the actual map content stops updating for unknown reasons. stdout doesn't show anything.

[2020-07-08 21:50] #27043 closed

[2020-07-08 22:18] atouchet commented on #26933
net now depends on Tokio 0.1 and 0.2 as of #27164.

[2020-07-09 01:46] #27199 closed

[2020-07-09 03:26] jdm commented on #27211
Firefox request headers:
[code]
Response headers:
[code]

[2020-07-09 05:57] gterzian commented on #27213
Maybe https://github.com/servo/servo/issues/15266

[2020-07-09 11:47] jdm commented on #27213
I believe that was specifically about isContextLost(), which we now support.

[2020-07-09 12:07] CYBAI commented on #27213
Per previous comment, I just added `A-content/webgl` label 👀 If it's wrong, please help me change it 🙏

[2020-07-09 13:30] jdm opened #27223 "WPT sync is busted"
[code]
I suspect https://github.com/web-platform-tests/wpt/pull/23733.

[2020-07-09 17:53] jdm commented on #27211
The problem appears to ultimate come from [this code](https://github.com/mozilla/hubs/blob/7ca52e63085a8cb8f2234abac1f842a88d2a85ad/src/loaders/HubsTextureLoader.js#L32). Every indication in my testing shows that the texture loader should be passing "anonymous" there, but there somehow appears to be an instance of that loader that does not have [setCrossOrigin](https://github.com/mozilla/hubs/blob

[2020-07-09 17:56] jdm commented on #27211
In particular, debugging code has verified that for the images that are failing to load, `this.crossOrigin` is different than `HubsTextureLoader.crossOrigin`, despite the property being declared as `static`. I think the next step is to figure out if this is:
* a spidermonkey bug
* a transpiling bug
* something else?

The transpiling bug is a possibility given the code in question when running the

[2020-07-09 18:09] jdm commented on #27211
Ok, so more and more curious - the exact same behaviour occurs in Firefox (undefined vs. anonymous for this vs. HubsTextureLoader), but the effect is not a security error.

[2020-07-09 18:55] jdm commented on #27211
Aha! I can reproduce the same problem in Firefox by forcing HubsTextureLoader to use the ImageLoader instead of ImageBitmapLoader. The difference with the latter is that it uses the fetch() API instead of creating an image element.

[2020-07-09 19:12] jdm commented on #27211
Filed https://github.com/mozilla/hubs/issues/2616.

[2020-07-09 19:59] jdm opened #27225 "Intermittent timeout in /css/cssom-view/scroll-behavior-subframe-window.html"
[code]

[2020-07-09 20:50] jdm commented on #27167
Another possibility for the UX:
* on startup, move any existing stdout.txt to stdout-last.txt
* add a new tab to the developer tools panel with a button for uploading stdout-last.txt

[2020-07-09 21:01] jdm opened #27226 "Support enabling useful logging components from UWP app"
We should make it possible to enable RUST_LOG components at runtime. This is possible for the UWP app because the vslogger relies on [a lazy_static](https://github.com/servo/servo/blob/714acb942c8cc036eb9442401987d6fba6521a04/ports/libsimpleservo/capi/src/vslogger.rs#L17) that holds a mutex, so we can change it and start receiving logging data after startup.

I envision a new tab for the devtools

[2020-07-09 22:17] De-Panther commented on #27130
Hi,
for now I replaced
`
    for (let inputSource of inputSources) {
`
with
[code]

Before that I got an error "inputSources is not iterable".
![image](https://user-images.githubusercontent.com/4749703/87094795-38869780-c248-11ea-97fa-5d4097e33102.png)

Now I don't get an error, but it doesn't recognize the hands as controllers.

I uploaded the page with the error to this URL:
https://de-panther.g

[2020-07-09 22:28] jdm commented on #27130
Thanks for the testcase! We'll try and figure out what's going wrong.

[2020-07-09 23:33] De-Panther commented on #27130
One of my guesses is that there's one frame with no inputSources.

And I think that we can't see the "controllers" because that I check for gamepad.
https://github.com/De-Panther/unity-webxr-export/blob/master/Build/webxr.js#L264

It works on the Oculus Quest Browser with hands, as they emulate the controllers.
So I guess that I need to figure out what `XRInputSource.profiles` are being used in Ho

[2020-07-09 23:44] jdm commented on #27130
The problem is actually that [this line](https://github.com/servo/servo/blob/714acb942c8cc036eb9442401987d6fba6521a04/components/script/dom/webidls/XRInputSourceArray.webidl#L9) is silently ignored for XRInputSourceArray, so it is in fact not iterable. I've got some code changes that should fix that and an automated test that verifies it.

[2020-07-09 23:57] De-Panther commented on #27130
Thanks.

So after this fix the InputSources in the specific page will work?
Or they still won't show, as it try to get the `XRInputSource.gripSpace` and `XRInputSource.gamepad`?
Is there a place where I can find info about the inputSources used for Hololens? as there's no profile for that in https://github.com/immersive-web/webxr-input-profiles

[2020-07-10 00:26] jdm commented on #27130
@Manishearth please see the questions in the previous comment.

[2020-07-10 00:29] Manishearth commented on #27130
@De-Panther We do not expose a gamepad, as there are no buttons. You can use `onselect` to get a select event. The profile we use is "generic-hand", which is being discussed in https://github.com/immersive-web/webxr-input-profiles/issues/105

gripSpace and targetRaySpace will work.

[2020-07-10 01:00] De-Panther commented on #27130
Thanks, I'm currently reading that and other related issues.
Also found that one:
https://github.com/servo/servo/issues/26092

I do prefer the way that the Oculus Quest Browser works, with the emulated gamepad with one trigger.

I tried to avoid `onselect`, as I wanted to use it only for touchpad events (handheld AR or cardboard VR).

Is it right to assume that:
`onselect` - will work with any dev

[2020-07-10 01:00] jdm commented on #27223
`<jgraham> jdm: Can you try setting parallel=False on the manifest update and see f you get a useful error message that way`

[code]

[2020-07-10 01:06] jdm commented on #27223
@jgraham I'm finding it difficult to figure out what I can do next here, since this only seems to trigger when I do the sync from upstream, and the code that's causing problems is part of that upstream sync so I can't modify it to add helpful debugging prints.

[2020-07-10 01:21] Manishearth commented on #27130
onselect is spec-wise guaranteed to be emitted when the trigger button is pressed, but it can theoretically be emitted when other buttons are pressed, up to the UA choice (it is allowed to designate multiple select buttons). No device/UA does this as of now, and I don't expect that to change

Squeeze won't work for hands right now because for the hololens (and Quest iirc) there is overlap between

[2020-07-10 01:22] Manishearth commented on #27130
Remember, `.gamepads` is a separate module, browsers may decide to implement WebXR without implementing gamepads.

[2020-07-10 01:41] jdm commented on #27223
Ok, I discovered that I can comment out most of https://github.com/web-platform-tests/wpt/blob/ce7bfaec86b1c6c926bdb0f2150e33a3a1bf1f54/tools/wptrunner/wptrunner/update/sync.py#L150-L155 and still reproduce it without overwriting my local changes. So the sourcefile in question has a `tests_root` of `/` and a `rel_path` of `svg/historical.html`.

[2020-07-10 02:00] De-Panther commented on #27130
Thanks.

I think that I'll check `onselect`, and if in the `inputSource` it has `gamepad`, I'll check it's `button` value for cases of analog buttons.
That will help in a more generic approach:
If hands but not gamepad - it'll work.
If hands and gamepad - it might have analog value.
If no hands and no gamepad(e.g. cardboard) - It'll work.
If some generic controller - it'll work, and it'll have ana

[2020-07-10 07:09] L-as commented on #10468
FWIW that doesn't work for me on aarch64:
[code]

[2020-07-10 12:42] #27130 closed

[2020-07-10 13:41] #26877 closed

[2020-07-10 14:11] jgraham commented on #27223
[code]

in sync.py needs to be updated to pass in the tests_root as the first argument to the manifest.

[2020-07-10 15:13] KallynGowdy commented on #27043
I can also confirm that this fix works on the Hololens 2.

[2020-07-10 15:36] Manishearth commented on #27130
@De-Panther (re: your comment on the webxr issue) you misunderstand, the issue I linked is not about "some browsers do not implement the gamepad module". It's the _reason_ I haven't added the gamepad module to servo yet, because there's a chance it may be resolved in a way that affects how we do it.

The core issue issue is that for physical controllers "select" and "squeeze" are independent event

[2020-07-10 15:52] jdm opened #27231 "Keyboard input on networked aframe scene doesn't work"
https://naf-dynamic-room.glitch.me/?room=1234

[2020-07-10 15:58] De-Panther commented on #27130
The reason I commented it there, is that I thought that my question is relevant to that discussion.

"Why won't XRInputSource have trigger and squeeze state regardless of gamepad available or not?
Or if an XRInputSource does have trigger or squeeze events, it should have gamepad data, even if it's not an actual gamepad? (e.g. in the case of hands)"

The part that may not related, is the fact that

[2020-07-10 16:02] Manishearth commented on #27130
@De-Panther Neither of your questions make sense in the context of the WebXR specification, however. The WebXR specification does not mandate hands to not expose gamepads, that's a choice _we've_ made. The point of the select/squeeze events is precisely to expose trigger and squeeze state regardless of the availability of the gamepad, and if you want them in button form that's what the gamepad spe

[2020-07-10 16:26] De-Panther commented on #27130
IMO,
Straightforward:
Iterating each frame on and object and child objects to get Pose and input events states.

Usable:
Registering to input events,
Cache boolean states of those events,
Iterating each frame on and object and child objects to get Pose and compare with the cached input events states.

It's usable, and this is what I'll end up doing. But it's not straightforward.

Having the Hand i

[2020-07-10 16:49] Manishearth commented on #27130
Just cache on `inputSource.selected` and check that value instead of `inputSource.gamepads.button[0]`.

Not quite, that's the issue. We can do this for `select` , but doing this for `squeeze` will break content that expects the two to not overlap. What might end up happening is that `squeeze` will be exposed as a _different_ gamepad button via a `hands-overlappingsqueeze` profile.

Exposing select

[2020-07-10 16:59] De-Panther commented on #27130
But I do want to get the analog value of the trigger/squeeze buttons if there is one.

So developers would need to check both squeeze button and overlappingsqueeze button?
Or it's the same button, but with a profile named hands-overlappingsqueeze in the profiles list?

[2020-07-10 17:24] jdm opened #27233 "Hubs lobby doesn't finish loading when connecting to a room that has another client present"
We see:
[code]
then there's a long wait while the room contents are shown but the entry dialog never appears. Finally we see:
[code]

[2020-07-10 17:27] Manishearth commented on #27130
Right, read from gamepad if it exists, or read from selected if it doesn't. Hand input doesn't expose an analog value.

[2020-07-10 17:35] De-Panther commented on #27130
And this is why I think that it's not so straightforward.

Also, does the `onselect` event is called before the rAF iteration is called? If so, adding `inputSource.selected` will work, but if it may happen after, there may be some issues.

[2020-07-10 17:49] jdm opened #27234 "Hubs avatars don't appear"
Connecting to a Hubs room from Servo and Firefox simultaneously shows the Servo client in Firefox, but not the Firefox client in Servo. Some testing has revealed that the a-entity for the networked avatar has the correct position, and creating a separate entity with some primitive geometry and constantly updating its position to match the actual entity makes the geometry move around the scene as e

[2020-07-10 18:04] jdm commented on #27234
I managed to make the avatar show up by adding a user script that sets the `visible` property of the entity to true. Now to figure out why that's needed in Servo!

[2020-07-10 18:06] Manishearth commented on #27130
it's a couple  lines of code:

[code]

Ultimately it is not the goal of web specifications to do additional stuff that can be handled by frameworks. From the WebXR side, this is code that people can write, and ideally user agents implement the gamepad API, the problem is solved. Servo doesn't do the latter but you can still do the former.

It doesn't matter, if it happens after it will be exposed

[2020-07-10 19:28] De-Panther commented on #27130
Thanks :)

[2020-07-10 20:21] jdm opened #27236 "Media panic when another client joined a Hubs room"
[code]

[2020-07-10 20:23] #27223 closed

[2020-07-10 20:49] jdm commented on #27234
This doesn't even require another client to connect. If you look down at the ground in Firefox, you'll see the default avatar around the camera. If you do the same in Servo, there's no trace of it.

[2020-07-10 23:41] jdm commented on #26878
Hubs relies [specifically](https://github.com/mozilla/hubs/blob/master/src/utils/crypto.js) on:
* ECDH
* AES-CBC
* jwk
* P-256

[2020-07-10 23:52] jdm commented on #26878
I've started tinkering in https://github.com/jdm/servo/tree/subtle.

[2020-07-11 17:09] jdm opened #27238 "Intermittent timeout in /_webgl/conformance/textures/image_bitmap_from_canvas/tex-2d-luminance-luminance-unsigned_byte.html"
[code]

[2020-07-12 10:39] duncandean commented on #27155
Working on this today. I seem to be able to get it working as expected. Will ask questions on the #servo Matrix channel if stuck.

[2020-07-12 19:16] duncandean commented on #27155
Ah yeah, as @pshaughn mentioned, I checked and we're not receiving non-primary clicks because we don't have anything to handle [auxclick](https://w3c.github.io/uievents/#event-type-auxclick) events in the glutin port.

So it looks like this issue is blocked by #25181.

I'd be happy to take that on with any necessary guidance. 🙏

[2020-07-13 04:08] avr1254 opened #27240 "Compiler Error on macOS:linking with `cc` failed: exit code: 1"
I'm getting the error listed above, with a note listed at the end.` Undefined symbols for architecture x86_64:
            "_icudt65_dat", referenced from:
                openCommonData(char const*, int, UErrorCode*) in libmozjs_sys-13273380956a7fd9.rlib(udata.o)
          ld: symbol(s) not found for architecture x86_64
          clang: error: linker command failed with exit code 1 (use -v to see

[2020-07-13 04:46] jdm commented on #27240
I believe this occurs when the wrong assembler is used to build ICU (based on [this chat log](https://chat.mozilla.org/#/room/#servo:mozilla.org/$T5tuKb4MGz7JL1fWvQIfb8hjlMs-4xDQzNz3XJFv-TQ)). Make sure you have installed `yasm` from homebrew, and delete `target/debug/build/mozjs*` (or `target/release/build/mozjs*` if you're doing a release build).

[2020-07-13 14:21] #27113 closed

[2020-07-13 15:16] avr1254 commented on #27240
Thanks! Worked like a charm!

[2020-07-13 15:16] #27240 closed

[2020-07-13 15:31] jdm opened #27251 "Intermittent timeout in /fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.sub.html"
[code]

[2020-07-13 15:48] jdm opened #27252 "Implement HTMLFormElement.relList"
Spec:
* https://html.spec.whatwg.org/#the-form-element:dom-form-rellist
* https://html.spec.whatwg.org/#dom-form-rellist

This can be implemented by duplicating the implementation of [HTMLAnchorElement](https://github.com/servo/servo/blob/9fe92ecb4c35747fd58b13f6ae23eb0f31a14680/components/script/dom/htmlanchorelement.rs#L137-L141) as well as adding the missing IDL to `components/script/dom/webidl

[2020-07-13 15:49] highfive commented on #27252
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [Matrix](https://wiki.mozilla.org/Matrix).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-07-13 15:58] jdm commented on #24965
To represent the [validation steps](https://dom.spec.whatwg.org/#concept-domtokenlist-validation) when there is a static list of supported keywords, we should add a new optional argument to DOMTokenList::new (`&'static [&'static str]`). Whenever `DOMTokenList::new` is called for the following token lists, the caller should provide the list as an argument.

* HTMLAnchorElement.relList: keyword list

[2020-07-13 15:59] jdm commented on #24965
This should also fix https://github.com/servo/servo/issues/27251 and https://github.com/servo/servo/issues/25769.

[2020-07-13 15:59] #27181 closed

[2020-07-13 19:27] avr1254 commented on #27252
When I copy the implementation from HTMLAnchorElement, I get an error about self.rel_list being an unknown field. Sorry for the newb question, but should I add  a rel_list to the HTMLFromElement struct?

[2020-07-13 19:42] jdm opened #27253 "Implement "get element target" and "get element noopener" algorithms"
Spec:
* https://html.spec.whatwg.org/multipage/semantics.html#get-an-element's-target
* https://html.spec.whatwg.org/multipage/links.html#get-an-element's-noopener

We'll want to replace the places in the code that do these in an ad-hoc fashion, like [this](https://github.com/servo/servo/blob/f63b404e0cbf30380c4043700861110d06e548bb/components/script/dom/htmlanchorelement.rs#L605-L617) and [this](

[2020-07-13 19:43] jdm commented on #27252
Yes, add the rel_list to HTMLFormElement like the one [in HTMLAnchorElement](https://github.com/servo/servo/blob/f63b404e0cbf30380c4043700861110d06e548bb/components/script/dom/htmlanchorelement.rs#L39).

It also looks like we're missing HTMLFormElement.rel as well (https://html.spec.whatwg.org/multipage/forms.html#the-form-element:dom-form-rel). It should be possible to duplicate the implementatio

[2020-07-13 20:10] avr1254 commented on #27252
Thanks! I'll take a look.

[2020-07-13 20:21] jdm opened #27254 "ScriptOrigin::text duplicates the string contents"
Since these scripts can be large minified scripts, if there's a way to borrow the result instead that would be preferable.

[2020-07-13 20:34] jdm commented on #27155
WebDriverMouseButtonEvent is specific to the [WebDriver](https://w3c.github.io/webdriver/#element-click) automation API, so it's less important.

[2020-07-13 22:06] camelid commented on #27254
I don't know the context, but what about a `Cow`?

[2020-07-13 22:11] De-Panther commented on #27130
Managed to run it on the Hololens emulator using the version from the store.
The hands works now :)
Thanks again

[2020-07-13 22:27] jdm commented on #27254
I don't think we ever need to mutate the contents of the string, so a straight borrow is probably all that would be required.

[2020-07-13 22:29] camelid commented on #27254
So this would just entail updating all the usages so that it works with a reference instead of an owned value then?

[2020-07-14 02:06] jdm commented on #27254
Yes, this would require investigating whether it's possible to avoid using an owned value in the code that relies on this method.

[2020-07-14 12:56] MeFisto94 commented on #21720
"Bumping" as this is still the case. It's probably a simple change, but someone needs to point out what the Agreement should exactly be.

[2020-07-14 13:26] ferjm opened #27259 "Unable to set a MediaStream as HTMLMediaElement.srcObject"
A test like:

[code]

panics with:

[code]

This used to work.

[2020-07-14 13:59] CYBAI opened #27260 "Provide base url in a proper context for setTimeout to run dynamic import module"
For `setTimeout` triggered by string code, we currently failed at finding its correct execution context so it will fetch a wrong link.

Corresponding spec link: https://html.spec.whatwg.org/multipage/#timer-initialisation-steps

I haven't digged into it but I think we need to pass base url of the timer and we might need to save it in `JsTimerTask`.

I wonder if it's good to be a follow-up issue, i

[2020-07-14 14:01] CYBAI commented on #27260
@jdm also did some investigation at https://github.com/servo/servo/pull/27026#discussion_r453852223

[code]

[2020-07-14 14:02] CYBAI commented on #27260
Setting a private reference and then get a proper base url and script fetch options while invoking setTimeout sounds reasonable to me.

Might be worth trying this way.

[2020-07-14 14:09] CYBAI opened #27261 "Instantiation error for a module imported from different dynamic import or different script element should be different"
Followup of #27026

---

Currently, we will save module rethrow errors in a module tree; however, for errors like instantiation error or execution error, while they are run by different origins (script elements or dynamic imports), they should get different error objects instead of caching the errors and always using it.

This should also fix the `import() must reject with different error objects

[2020-07-14 14:14] CYBAI opened #27262 "Investigate why /html/webappapis/dynamic-markup-insertion/document-write/module-dynamic-import.html fails to pass"
Followup of #27026

---

After introducing dynamic import, we're able to run the test `/html/webappapis/dynamic-markup-insertion/document-write/module-dynamic-import.html` with OK status.

However, we currently fail on the test case.

While investigating it in the#27026 PR, I found we did update the content in the iframe and also if I put a breakpoint in the line of firing `load` event for `iframe

[2020-07-14 15:19] jdm commented on #26878
[ring](https://docs.rs/ring/0.16.15/ring/) may be a useful basis for this work. Gecko relies on NSS (eg. https://searchfox.org/mozilla-central/rev/82c04b9cad5b98bdf682bd477f2b1e3071b004ad/dom/crypto/WebCryptoTask.cpp#2727 for the ECDH implementation for deriveKey).

https://docs.rs/ring/0.16.15/ring/agreement/index.html has APIs involving ECDH, the [P256 curve](https://docs.rs/ring/0.16.15/ring/ag

[2020-07-14 15:36] jdm opened #27263 "Support non-english languages from Navigator.language"
This should be a value that is controlled by the embedder as part of initializing the engine, in my opinion. This will allow us to return a meaningful value for non-english locales on the HoloLens 2, for example.

_Originally posted by @jdm in https://github.com/servo/servo/issues/27210#issuecomment-655679249_

[2020-07-14 15:37] jdm commented on #10073
Closing in favour of #27210. We don't support frozen arrays in our codegen yet, but we can manually return a frozen array.

[2020-07-14 15:37] #10073 closed

[2020-07-14 16:34] ferjm commented on #27259
The last working nightly is the one from June 30th. So the issue was likely introduced by the servo-media update from #26752

[2020-07-14 17:53] #27252 closed

[2020-07-14 19:15] camelid commented on #27254
Is it okay to introduce a lifetime to [`ModuleTree`](https://doc.servo.org/script/script_module/struct.ModuleTree.html) so that the `text` field can be `DomRefCell<&'a DOMString>` instead of `DomRefCell<DOMString>`? Or is there a better way to do it that won't affect other code?

[2020-07-14 19:39] jdm opened #27267 "Support non-random devtools port"
A user reports that the randomized port makes the process of connecting from desktop Firefox more frustrating.

[2020-07-14 19:42] jdm commented on #27267
One possible solution:
* store the default debugger port as a preference
* if launching on that port fails, fall back to a random port
* update the preference when a new port is chosen

Another possible solution:
* store the debugger port in the UWP app settings
* when launching the embedding, if there's a port in the app settings pass the `--devtools [port]` argument

The second sounds easier.

[2020-07-14 19:44] jdm commented on #26490
We implement this.

[2020-07-14 19:44] #26490 closed

[2020-07-14 19:46] jdm commented on #25318
This doesn't happen any more.

[2020-07-14 19:46] #25318 closed

[2020-07-14 19:51] jdm opened #27268 "SecureContext restriction for WebXR is ignored"
WebXR is only supposed to be exposed to HTTPS contexts, but we don't enforce this. It would be nice to be able to opt-out of this restriction for local development, however, possibly via a pref that would be persisted.

[2020-07-14 19:55] #27210 closed

[2020-07-14 19:57] jdm opened #27269 "Accepting self-signed SSL certs doesn't persist between sessions"
When doing local development with a self-signed cert, every time the browser is restarted you need to accept the cert again.

One way of supporting this would be to send a message to the embedder with the cert information as part of [this handler](https://github.com/servo/servo/blob/c8d0548824357b18ad45013a388f284e7c58fb53/components/net/fetch/methods.rs#L627-L653). The embedder could persist it i

[2020-07-14 20:01] jdm opened #27270 "Exiting immersive mode programmatically can lock up the browser"
We had a report from a user that calling XrSession.end puts the browser into an unusable state after leaving immersive mode. We should try this out.

[2020-07-14 20:05] jdm opened #27271 "Clicking source links from JS console does nothing"
We have a report that in Firefox 74, the remote JS console gets entries that have a URL and line/column numbers, but clicking those links doesn't actually do anything.

This may be because we don't support the JS debugger panel yet, which I believe is where those links would usually open the source and focus the appropriate line/column.

[2020-07-14 20:10] jdm commented on #27254
One other option would be storing `Rc<DOMString>`. I suspect introducing a lifetime might be tricky.

[2020-07-14 20:34] jdm opened #27272 "Enable sessionavailable event when launching with fxr://"
The fxr:// handler puts FxR into a kiosk-mode kind of environment that doesn't have a URL bar. It would be good to support automatically entering immersive mode as part of that.

[2020-07-14 20:42] jdm opened #27273 "Use AddAssociatedMemory/RemoveAssociatedMemory"
https://hg.mozilla.org/releases/mozilla-esr78/file/98bc457deb77edd24ce283f3986eaae252b20b54/js/public/MemoryFunctions.h#l87-l88

These should allow us to tell the GC about the native Rust memory that's allocated for DOM object.

[2020-07-14 20:56] jdm opened #27274 "Can't open devtools panel from fxr:// kiosk mode"
Loading a URL with fxr:// hides the URL bar, which also hides the devtools button. We should add a separate protocol handler for kiosk mode, and allow one protocol to open the app directly to a target URL without otherwise changing the app's behaviour.

[2020-07-14 21:24] camelid commented on #27254
Yeah, that's kind of what I was thinking. I think I'll try that later today :)

[2020-07-14 21:27] De-Panther opened #27275 "WebXR Samples fails to enter XR session mode"
Some of the WebXR Samples ( https://immersive-web.github.io/webxr-samples/ ) fails to enter XR session on Hololens 2.
The Firefox Reality version is the current one in the store.

Got this video, it's not my device, so I don't have more data, but I can ask if needed.
https://www.youtube.com/watch?v=-Jg-H99bBnE

[2020-07-14 21:39] jdm opened #27276 "Exiting immersive session yields GL error"
https://immersive-web.github.io/webxr-samples/immersive-ar-session.html?usePolyfill=0

[2020-07-14 21:39] jdm opened #27277 "Immersive AR sample doesn't display anything"
https://immersive-web.github.io/webxr-samples/immersive-ar-session.html?usePolyfill=0

[2020-07-14 21:41] jdm commented on #27276
[code]

[2020-07-14 22:01] avr1254 commented on #27253
@highfive  I'll take this one.

[2020-07-15 00:35] avr1254 commented on #27253
A question about unpacking: how do I unwrap a Document from DomRoot<Document>? I'm pretty sure it's not unwrap(), but I couldn't find a suitable function in root.rs. This unwrap would be useful for step 2 of getting an element's target.

[2020-07-15 00:39] jdm opened #27278 "Support setting a custom home page"
Rather than always requiring an fxr:// QR code to efficiently load a page, we should make it possible for an FxR installation to set a custom home page.

[2020-07-15 00:55] jdm commented on #27253
`DomRoot<T>` automatically dereferences to `&T` when you use `*` or call a method on the underlying T type.

[2020-07-15 01:02] jdm opened #27280 "Browser sometimes locks up after exiting immersive mode"
[code]

[2020-07-15 01:12] avr1254 commented on #27253
Great, thanks!

[2020-07-15 01:16] jdm opened #27281 "Remote JS console responses aren't interleaved with console commands"
<img width="709" alt="Screen Shot 2020-07-14 at 9 16 08 PM" src="https://user-images.githubusercontent.com/27658/87491875-4016b980-c617-11ea-8614-fba23d9eb51f.png">

[2020-07-15 01:18] jdm commented on #27277
Every sample I try doesn't display anything. Also, `document.querySelector('canvas')` returns a null value, which suggests that that's the same underlying cause for #27275.

[2020-07-15 01:28] camelid commented on #27254
@jdm I changed `ScriptOrigin.text` to be an `Rc<DOMString>`, but I'm getting this (among other) errors:

[code]

What should I do?

[2020-07-15 01:42] CYBAI commented on #27254
In this case, I think you can add use `ignore_malloc_size_of`attribute to the `text` property so that compiler will ignore `MallocSizeOf` for it.

For example, the `external_underlying_source` property of `ReadableStream` 👇

https://github.com/servo/servo/blob/12d4c0d5eb029044b347765910a57236343641d7/components/script/dom/readablestream.rs#L49-L59

[2020-07-15 01:48] jdm commented on #27277
Nevermind, that's just because servo doesn't support inline-ar and therefore won't create the magic window.

[2020-07-15 02:44] camelid commented on #27254
Thanks! What reason should I put for the macro?

[2020-07-15 03:50] #26858 closed

[2020-07-15 07:03] paulrouget commented on #27278
I'm not sure to understand. At what point would we setup that custom home page?

[2020-07-15 07:05] paulrouget commented on #27274
ok - so we could allow a `fxr://?XXX` handler that would allow us to send commands to servo:

We could do 2 things:
- fxr://?toggleui - open the navigation bar
- fxr://?devtools - toggle the devtools.

toggleui is more generic.

[2020-07-15 07:11] paulrouget commented on #27267
Do you remember why and how often that would happen?

[2020-07-15 07:13] paulrouget commented on #27271
We can work with the Firefox devtools team to open a tab with the source code of that file, instead of opening the debugger, if the debugger is unavailable.

[2020-07-15 07:24] paulrouget commented on #27272
So we would set the pref `dom.webxr.sessionavailable` to true if the app is start from `fxr://`?

[2020-07-15 07:31] paulrouget commented on #27274
Also - what is important here, showing the console, or showing the devtools port address?

We could also enable voice command.

[2020-07-15 08:16] paulrouget commented on #27272
Can I have an example that would support sessionavailable to make sure this works as expected?

[2020-07-15 08:28] paulrouget commented on #27274
I'm leaning toward 2 options:

- voice command to show the navigation bar, or
- use 2 protocol handlers: `fxr://` and `fxrmin://`

[2020-07-15 13:39] jdm commented on #27274
I think two handlers makes sense.

[2020-07-15 14:38] ferjm commented on #27259
It seems that https://github.com/servo/media/pull/357 introduced the regression

[2020-07-15 18:14] avr1254 commented on #27253
Another question, how do I gain access to a specific button wrapped in the enum FormSubmitter? I'm trying to check whether or not the submit button has a formtarget attribute value.

[2020-07-16 02:30] pcwalton commented on #25167
@mrobinson I'm still a bit confused. Why can we not keep track of the position of the absolute/fixed containing block in addition to the position of the parent when traversing the tree for display list construction? Wouldn't we not need to hoist absolutely positioned objects at all then?

[2020-07-16 04:04] De-Panther opened #27286 "Hololens 2 rendering issues with Unity and WebXR - Regression?"
In the current Firefox Reality in the Microsoft Hololens store, AR session works and rendered as intended.
But the nightly build version ( 13/07 ServoApp_1.1.0.0_x64_arm64 ), has some rendering issues:

- Rendering order.

- Smearing on transparent background.

I took screenshots from the emulator, but as I understood from people with the device, it's the same.

This is how it looks on the store v

[2020-07-16 04:39] De-Panther commented on #27286
The demo can be found here:
https://de-panther.github.io/unity-webxr-export/Build/
The clear flags test can be found here:
https://de-panther.github.io/unity-webxr-export/Build/index_hololens_fbo.html

[2020-07-16 05:04] atouchet commented on #27259
This hasn't been updated in Servo yet.

[2020-07-16 10:36] paulrouget commented on #27267
I'm going for solution 1.

[2020-07-16 11:37] SimonSapin commented on #25167
Layout also needs hoisting. For example `position: absolute; top: 10px; bottom: 20px; height: auto` results in a used height based on that of the containing block, even if that containing block has `height: auto`.

[2020-07-16 12:07] mrobinson commented on #25167
@pcwalton Currently, I think we track the containing block like you suggest during `StackingContextTree` construction. Later, during `StackingContextTree` conversion to WebRender display list we only reorder `StackingContextFragment`s according to Appendix E without worrying about the containing block.

[2020-07-16 13:09] jdm commented on #27267
We added the random debugger port in response to a HoloLens OS update stealing port 6000 when we had that hardcoded, which caused FxR to panic during launch.

[2020-07-16 13:24] jdm commented on #27253
@avr1254 It's an enum:
[code]
You can match on it (or use `if let FormSubmitter::InputElement(input) = input`) and get access to the inner pointer to the DOM object.

[2020-07-16 13:28] jdm commented on #27272
https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/webxr/sessionavailable.html is the only content that exists right now - the `sessionavailable` event is fired at the navigator.xr object as part of the page load process, so you could modify any other content add a listener for that event and invoke navigator.xr.requestSession.

[2020-07-16 13:37] jdm commented on #27039
[code]

[2020-07-16 13:46] jdm commented on #27039
The various types are stored in static hashtables in https://github.com/jamienicol/glsl-optimizer/blob/a9bdfcc8d80050e45e40d9cf806f3e38f339afd0/src/compiler/glsl_types.h#L1170-L1186, which looks unlikely to be protected against multiple threads using them.

[2020-07-16 13:58] jdm commented on #27039
https://github.com/jamienicol/glsl-optimizer/commit/d6ec0aa7edfbe1c86861a4643b6b095a243d24ad added a mutex protecting those hashtables, but I think it's being undermined by https://github.com/aras-p/glsl-optimizer/blob/21b98a985423eec771600d2db0fbf6d340106af9/src/glsl/builtin_functions.cpp#L4628-L4632.

[2020-07-16 14:24] jdm opened #27293 "Nightly macOS can't initialize GStreamer"
[code]

[2020-07-16 14:25] jdm commented on #27293
[code]

[2020-07-16 14:26] jdm opened #27294 "Implement console.clear"
Spec: https://console.spec.whatwg.org/#clear
Code: `components/script/dom/console.rs`

We'll need some new devtools integration for this.

[2020-07-16 14:28] jdm commented on #27293
I believe the issue here is that the gstreamer shared libraries that are bundled in the nightly build come from the build machines which are still on gstreamer 1.16.2, and my local machine has gstreamer 1.16.3.

[2020-07-16 14:28] #27274 closed

[2020-07-16 14:29] jdm commented on #27293
We probably need to bundle more shared libraries from the build machines to avoid this situation.

[2020-07-16 15:31] jdm opened #27296 "Can't share screen"
Visit https://www.webrtc-experiment.com/screen-sharing/ in Firefox, then open the private link in Servo with `--pref dom.webrtc.enabled`. Press the Share Your Screen button in Servo, and the result on macOS is:
[code]

[2020-07-16 15:44] jdm opened #27297 "Can't receive screen share"
Visit https://www.webrtc-experiment.com/screen-sharing/ in Firefox, then open the private link in Servo. Press "Share Your Screen" in Firefox and the shared screen appears in Firefox, but not in Servo.

[2020-07-16 15:45] jdm commented on #27297
Actually, pressing the "View" button yields this:
[code]

[2020-07-16 15:48] jdm commented on #27297
A couple errors stick out:
[code]
And:
[code]

[2020-07-16 15:59] jdm commented on #27296
This was fixed by #27288. However, now when Firefox tries to view the shared screen, we get:
[code]

[2020-07-16 16:00] jdm opened #27298 "Crash finalizing a video element"
[code]
I got this when closing a window from https://www.webrtc-experiment.com/screen-sharing/ that was sharing my webcam.

[2020-07-16 16:08] pcwalton commented on #25167
@SimonSapin Oh, OK, that makes sense. I guess the other option would be to store a link from every absolutely-positioned element to its containing block (WebKit has a `containingBlock()` method for this). But this probably would end up very similar to the hoisting solution, just with an edge directly to the containing block instead of an edge to an immediate child of the containing block, so isn't

[2020-07-16 17:13] atouchet commented on #27259
#27288 updated servo-media.

[2020-07-16 17:13] #27259 closed

[2020-07-16 17:24] SimonSapin commented on #25167
Even with that link, we’d still need to delay laying out the abspos box until the height of its containing block is known which make require having finished laying out all of the in-flow content of that containing block. How does WebKit handle that?

[2020-07-16 17:52] jdm commented on #27278
I was imagining some way of setting a homepage while running the app, so that the next time the browser starts (or the Home button is pressed), the new homepage URL is loaded. This would make developers lives easier.

[2020-07-16 19:06] jdm commented on #27233
This appears to be another instance of https://github.com/mozilla/hubs/issues/2616.

[2020-07-16 21:31] jdm opened #27301 "Crash on mouse movement"
https://www.tutorialrepublic.com/codelab.php?topic=html5&file=audio-element

[code]

Either we're hovering over a node that is removed from the tree and GCed before the MouseMoveEvent reaches the script thread, or there's some more mysterious GC hazard that we're hitting.

It does seem dicey that we do a hit test in the compositor and send the node address to the script thread. It would be safer t

[2020-07-17 06:40] paulrouget commented on #22970
#27304 partly solves this. Preferences are updated in build.rs.

[2020-07-17 06:43] paulrouget commented on #27278
They can change the preference (shell.homepage) in the pref panel. Or we can have a custom UI.

[2020-07-17 13:18] CYBAI commented on #27260
As mentioned in https://github.com/servo/servo/pull/27026#discussion_r455974051, we should also use the fetch options from original scripts instead of always using the `default` one.

[2020-07-17 13:21] CYBAI opened #27308 "Use same fetch options in fetch_and_invoke_a_worklet_script for the evaluate_js in WorkletGlobalScope"
Follow-up of #27026

---

In the PR, I just used default fetch options to pass the type check; however, we should use the same fetch options like

https://github.com/servo/servo/blob/854cc793861c31c395387a1197c40e840bc95826/components/script/dom/worklet.rs#L627-L634

so that we can get correct fetch options if there's any dynamic modules used in worklet context.

[2020-07-17 14:21] jdm opened #27309 "Low FPS for unity webxr example"
https://de-panther.github.io/unity-webxr-export/Build/index_hololens_fbo.html

[2020-07-17 14:26] jdm commented on #27276
I get a different panic exiting https://de-panther.github.io/unity-webxr-export/Build/ by pressing the VR button when there's a VR window open:
[code]

[2020-07-17 14:26] jdm commented on #27286
I can reproduce the AR clearing issues on non-UWP builds in our glwindow backend as well.

[2020-07-17 14:34] jdm commented on #27286
This appears to be a regression from https://github.com/servo/servo/pull/26927, because the 6/27 nightly build does not show any of these issues. cc @asajeffrey

[2020-07-17 14:38] asajeffrey commented on #27286
This looks like our old friend depth/stencil. I'll investigate.

[2020-07-17 14:47] jdm commented on #27276
This is a regression from #26927.

[2020-07-17 14:51] #27254 closed

[2020-07-17 15:54] #27293 closed

[2020-07-17 16:36] asajeffrey commented on #27276
Hmm, that is probably caused by a frame being begun after the GL resources have been reclaimed, or the GL resources being reclaimed in the middle of an animation frame.

[2020-07-17 16:38] jdm commented on #27276
Full log output for the last complete frame and the broken frame:
[code]

[2020-07-17 16:45] asajeffrey commented on #27286
@jdm when you reproduced with glwindow, was that with a build after https://github.com/servo/servo/pull/27232 was merged? I'm failing to reproduce with glwindow. I'll try it on UWP.

[2020-07-17 16:51] jdm commented on #27286
I did not try with glwindow after #27232.

[2020-07-17 16:54] asajeffrey commented on #27286
OK, that means it's almost certainly depth/stencil. I'll apply a similar fix to the openxr layer manager that I did for the surfman layer manager.

[2020-07-17 17:12] asajeffrey commented on #27276
Ah, the problem is:
[code]
the `Quit` is arriving in the middle of the frame, causing `EndFrame` to be processed too early. If `Quit` arrives in the middle of a frame we should wait until the frame is ended before quitting.

[2020-07-17 17:27] jdm opened #27311 "Intermittent crash in ANGLE smoketest"
[code]

[2020-07-17 17:41] asajeffrey commented on #27286
I reproduced the issue on the HL2, let's see if I can fix it.

[2020-07-17 17:52] jdm opened #27312 "XRWebGLLayer IDL members don't match the specification"
Spec: https://immersive-web.github.io/webxr/#xrwebgllayer
[code]

XRWebGLLayer.webidl:
[code]
This is breaking WPT webxr tests, because they try to set the `context` property on the layer and it's readonly.

[2020-07-17 19:40] asajeffrey commented on #27286
OK, I think there's two things going on here. The easy-to-fix one is to add a depth/stencil texture to each XR layer, which is https://github.com/servo/webxr/pull/185. The harder-to-fix one is that there's GL errors being generated, which is what I think is causing the clear errors.

[2020-07-17 19:43] De-Panther commented on #27286
Is it something on the Unity WebGL side? I'm limited with how much I can manipulate it

[2020-07-17 19:54] asajeffrey commented on #27286
No, it's a problem at our end:
[code]
GL commands are not meant to fail like this!

[2020-07-17 20:19] asajeffrey commented on #27286
The tail end of the WebGL commands:
[code]

[2020-07-17 20:23] asajeffrey commented on #27286
I think what's going on is that when servo begins a frame, it calls `glBindTexture`, `glBindFramebuffer` and `glFramebufferTexture2D` to update the webxr framebuffer, but this interferes with any current bindings of the framebuffer and texture, which then causes `glTexSubImage2D` to fail.

[2020-07-17 20:25] asajeffrey commented on #27286
I even wrote a `TODO` for myself about this at https://github.com/servo/servo/blob/9cd22a01f78bf1b1e39609fb67ef7464a1ce3831/components/script/dom/xrwebgllayer.rs#L232

[2020-07-17 20:38] #27311 closed

[2020-07-17 21:32] camelid opened #27314 "meta: Can't open Riot/Element"
Is anyone else having trouble opening Riot/Element? I've visited https://riot.im, https://element.io, and https://chat.mozilla.org, but none of them are loading for me.

Likewise, https://mozilla.org and https://servo.org aren't loading.

All of these were working for me just a couple hours ago!

[2020-07-17 21:35] camelid commented on #27314
I tried a bunch of times and they finally loaded. That was bizarre.

[2020-07-17 21:35] #27314 closed

[2020-07-17 21:40] jdm opened #27315 "Intermittent crash in hang monitor tests"
[code]

[2020-07-17 23:06] asajeffrey commented on #27286
OK, I think #27316 should fix this.

[2020-07-17 23:15] De-Panther commented on #27286
You people are AWESOME

[2020-07-18 16:00] jdm opened #27318 "macOS nightly builds are missing gstreamer plugins"
[code]

[2020-07-18 16:06] jdm commented on #27318
Note to self: `copy_dependencies` in package_commands.py only includes the dylibs. Check if we need to do anything special to the .so files, or if we can just throw them in the set of files to be packaged.

[2020-07-18 16:20] avr1254 opened #27319 "Mach commands aren't functioning"
All of a sudden it appears that none of my mach commands are working. They all revert to a similar error message:
`$ ./mach check
error: failed to read `servo/tests/unit/.DS_Store/Cargo.toml`

Caused by:
  Not a directory (os error 20)`

[2020-07-18 16:27] jdm commented on #27319
Try removing `servo/tests/unit/.DS_Store`?

[2020-07-18 16:28] avr1254 commented on #27319
Worked like a charm. Thanks!

[2020-07-18 16:28] #27319 closed

[2020-07-19 03:17] Nicklas-Carpenter commented on #24965
I've looked into this issue a bit and would be willing pick it up.

[2020-07-19 13:31] #25439 closed

[2020-07-20 09:09] paulrouget commented on #27270
Calling `session.end()` crashes. At least with the emulator.

I uncommented this to test: https://github.com/servo/servo.org/blob/6c70d85ef880c7b25bbae406ee31d0d334bbe2f4/hl-home/webxr-ar.js#L112

https://github.com/servo/openxrs/blob/30d3bd0beddede0a7c958589b77f1125ffd23c92/openxr/src/space.rs#L116

[code]

[2020-07-20 09:44] paulrouget commented on #27270
@jdm can you reproduce with the device?

[2020-07-20 09:45] paulrouget commented on #27270
A crash doesn't lock up the browser, just restart it. So it looks like another type of issue.

[2020-07-20 13:59] jdm commented on #27270
I see exceptions on the device and then the script thread panics when trying to communicate with the webgl thread.

[2020-07-20 14:01] jdm commented on #27270
I do end up with a browser instance that is locked up, however.

[2020-07-20 15:48] Manishearth opened #27327 "Need libxcb-composite0-dev"
On Ubuntu 20.04, I got a linker error with

[code]

This was fixed by installing libxcb-composite0-dev

I'm not sure if this dependency is also necessary on 18.04.

[2020-07-20 15:55] jdm commented on #27270
We get a panic in the surfman Surface destructor:
[code]

[2020-07-20 16:09] jdm commented on #27327
Oh, yeah, these were added in https://github.com/servo/servo/pull/27209. We should update the bootstrap.

[2020-07-20 16:34] jdm commented on #25425
I believe this has been addressed in general. We can file issues for individual demos that need work.

[2020-07-20 16:34] #25425 closed

[2020-07-20 16:35] jdm commented on #26179
This was fixede.

[2020-07-20 16:35] #26179 closed

[2020-07-20 16:40] jdm commented on #27270
I submitted https://github.com/servo/webxr/pull/186 which allows me to use the browser as expected after calling `session.end()`.

[2020-07-20 17:46] jdm commented on #27276
Fixed by #27316.

[2020-07-20 17:46] #27276 closed

[2020-07-20 17:54] jdm opened #27330 "It's too easy to misuse Heap values"
One example from #26710:
[code]
This is subtly wrong, because we shouldn't set the Heap value until it is in a stable location (which is provided by the RootedTraceableBox constructor). It would be better if there were APIs we could at least mark as unsafe here to flag that this is dangerous.

[2020-07-20 17:58] jdm commented on #27330
Other ideas:
* don't expose `set` directly on `Heap`; instead have wrappers like `HeapUnrooted`, with a `into_rooted_heap` that's unsafe and returns `HeapRooted` that exposes `set.
* a lint that extends must_root to include Heap, and make convenience constructors like `RootedTraceableBox::heap()`.

[2020-07-20 18:00] jdm opened #27331 "Use UTF-8 versions of Compile/Execute for scripts"
This will avoid having to encode them as UTF-16 first.

[2020-07-20 18:18] jdm opened #27332 "Smoketest the macOS package"
After packaging when we have a DMG, we should mount that package and run Servo against a page that closes instantly and verify that it runs normally.

[code]
and look for both `success` and a return code of 0.

This would prevent bustage like #27318 in the future.

[2020-07-20 18:43] Manishearth commented on #27327
Ah, so this is global. Cool.

[2020-07-20 19:36] jdm opened #27336 "Use track_caller for DomRefCell"
We should apply the same fix as https://github.com/rust-lang/rust/pull/74526/ to our RefCell wrapper.

[2020-07-20 19:55] jdm opened #27337 "Intermittent timeout in /content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html, /content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html"
[code]

[code]

[2020-07-20 20:35] asajeffrey commented on #27286
@De-Panther this fix should be in the next nightly, let us know if this fixed things!

[2020-07-20 20:44] De-Panther commented on #27286
@asajeffrey sure!
I guess it would be on nightly build of 2020-07-21 and up? (not sure about the time zone there)
https://download.servo.org/

[2020-07-20 20:46] jdm commented on #27286
Correct.

[2020-07-20 22:45] #27270 closed

[2020-07-20 23:33] philip-lamb opened #27340 "Video playback crash on macOS"
Servo Nightly 2020-07-20, macOS

Loading https://tools.woolyss.com/html5-audio-video-tester/?u=upload.wikimedia.org/wikipedia/commons/transcoded/f/f1/Sintel_movie_4K.webm/Sintel_movie_4K.webm.720p.webm crashes Servo macOS. The video plays OK on Servo Nightly Windows win32.

Crash is in gstplayer thread:
[code]

Full crash attached.
[crashlog.txt](https://github.com/servo/servo/files/4950486/crashl

[2020-07-21 00:08] jdm commented on #27340
Interesting; I'm not seeing a crash occur in a debug build that I'm using. Did it happen instantly for you?

[2020-07-21 00:09] jdm opened #27341 "JS crash closing video"
I watched https://tools.woolyss.com/html5-audio-video-tester/?u=upload.wikimedia.org/wikipedia/commons/transcoded/f/f1/Sintel_movie_4K.webm/Sintel_movie_4K.webm.720p.webm for about 30 seconds in a debug build on macOS, then I closed Servo and hit this crash:
[code]

[2020-07-21 01:43] jdm commented on #27341
The Drop implementation of HTMLMediaElement calls `self.remove_controls()`, which gets the document for the element, unregisters the controls by id and then gets the shadow host and walks its tree. This is something which would become more clearly problematic with #26488 in place.

[2020-07-21 01:47] jdm opened #27342 "Intermittent TIMEOUT instead of ERROR in macOS WPT tests"
[code]
It's quite common to see tests that have an ERROR expectation time out these days, even while the log shows the expected error. I'm not sure what to make of this.

[2020-07-21 02:42] philip-lamb commented on #27340
The page partially renders before the crash. Since it's crashing in a log function, I investigated the system log for anything permissions-related, but nothing obviously connected to this.

[2020-07-21 04:09] philip-lamb commented on #27340
References:
g_log_structured_array: https://gitlab.gnome.org/GNOME/glib/-/blob/master/glib/gmessages.c#L1898
gst_player_main: https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/blob/master/gst-libs/gst/player/gstplayer.c#L2875
GST_TRACE_OBJECT docs: https://gstreamer.freedesktop.org/documentation/gstreamer/gstinfo.html?gi-language=c#GST_TRACE_OBJECT

[2020-07-21 05:43] paulrouget commented on #27167
Why is stdout empty in the case of the crash we found in #27270?

[2020-07-21 05:46] paulrouget commented on #27167
It's actually not empty. The app debugger needs to be stopped for the file to be written.

[2020-07-21 06:36] #27312 closed

[2020-07-21 06:54] paulrouget opened #27344 "Make it so that a webxr panic can be caught by the Servo/UWP panic handler"
The panic described here https://github.com/servo/servo/issues/27270 is not caught by our panic handler (at least in simpleservo).

Before #186, when `device` was dropped here https://github.com/servo/webxr/blob/b170a86c081f762d201d3e870febc6e900ad365b/webxr-api/session.rs#L519 a panic would happen, but our [`catch_any_panic`](https://github.com/servo/servo/blob/9bbe9c837a4ce9c877c350ae556dd873e6d

[2020-07-21 08:40] #22970 closed

[2020-07-21 08:40] #27267 closed

[2020-07-21 14:55] jdm commented on #27344
I think we need to call panic::set_hook like we do for the winit port: https://github.com/servo/servo/blob/fdbecc68cf45243980efa7fee3846bf29a1f9c25/ports/winit/main2.rs#L140

[2020-07-21 15:53] jdm opened #27349 "Off-thread compiled scripts don't have dynamic import integration"
When reading through the changes from https://github.com/servo/servo/pull/26710, I realized that only the scripts that are compiled as part of evaluation get the script private set on them. We should extend this to the off-thread compiled scripts as well.

[2020-07-21 15:56] jdm opened #27350 "Compile JS modules off thread"
https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs/js/public/OffThreadScriptCompilation.h#L84
https://searchfox.org/mozilla-central/rev/3b6958c26049c1e27b2790a43154caaba9f6dd4a/dom/script/ScriptLoader.cpp#2297

[2020-07-21 15:57] jdm commented on #27350
Followup to #26710.

[2020-07-21 16:02] jdm opened #27351 "Off thread compilation compiles the pre-unminified JS"
Follow up to #27349.

[2020-07-21 16:04] jdm commented on #27351
Likely the best choice here would be to move unminification to the network response handler.

[2020-07-21 17:18] De-Panther commented on #27286
The render order issue was fixed, but the smearing is still there
![image](https://user-images.githubusercontent.com/4749703/88085659-d5bdc600-cb8e-11ea-89ac-09e2747391a1.png)

When clearing the framebuffer at the start of the frame, there's no smearing, but Handheld and Video see through devices require to not clear the framebuffer, as they show the camera image at the background...

[2020-07-21 19:16] asajeffrey commented on #27286
OK, reopening the issue.

[2020-07-21 19:26] asajeffrey opened #27352 "Panic in webtc creation"
[code]

[2020-07-21 19:29] jdm opened #27353 "Intermittent failure in /html/semantics/scripting-1/the-script-element/execution-timing/097.html"
[code]

[2020-07-21 19:30] jdm commented on #27349
I've added a `dom.script.asynch` preference to #26710 to allow working around this in the short term, rather than delay that PR some more.

[2020-07-21 19:30] jdm commented on #27351
I've added a `dom.script.asynch` preference to #26710 to allow working around this in the short term, rather than delay that PR some more.

[2020-07-21 20:32] jdm commented on #27212
A really simple implementation that can go in a userscript:
[code]

[2020-07-21 21:15] AbhishekSharma102 commented on #27330
@jdm Can I take this up after the other one?

[2020-07-21 21:15] #27318 closed

[2020-07-21 21:15] #27332 closed

[2020-07-21 21:39] jdm commented on #27330
That would require making a decision about how to address it, and I don't think we've made one yet.

[2020-07-21 21:40] jdm commented on #27298
This is the same as #27341.

[2020-07-21 22:19] Darkspirit commented on #27134
https://www.ssllabs.com/ssltest/analyze.html?d=www.websocket.org&hideResults=on

That's ciphersuite [61](https://searchfox.org/mozilla-central/rev/3b6958c26049c1e27b2790a43154caaba9f6dd4a/security/manager/ssl/nsNSSCallbacks.cpp#991) in [SSL_CIPHER_SUITE_FULL](https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&end_date=2020-07-17&include_spill=0&keys=__none__!__none__!__none__&max_c

[2020-07-21 22:29] jdm commented on #27134
Thanks for that analysis!

[2020-07-21 22:47] #26571 closed

[2020-07-22 01:50] philip-lamb opened #27354 "Need a means to specify gstreamer plugin search path(s)"
At present, in https://github.com/servo/servo/blob/a24291362946f92bf155b390ea469b7be50a4c2d/components/servo/lib.rs#L180, for Win32 and macOS the path containing the current executable is selected as the only search location for gstreamer plugins. Unfortunately, sometimes this is a bad choice. E.g. if servo is embedded in a plugin being hosted by another executable, the plugins have to be copied t

[2020-07-22 02:10] jdm commented on #27354
Making it part of the embedding API would be nice - it could be an argument to Servo::new, which would be passed in from [the winit port](https://github.com/servo/servo/blob/a24291362946f92bf155b390ea469b7be50a4c2d/ports/winit/app.rs#L81) (using `std::env::current_exe().unwrap()`), and [libsimpleservo](https://github.com/servo/servo/blob/a24291362946f92bf155b390ea469b7be50a4c2d/ports/libsimpleserv

[2020-07-22 03:34] jdm opened #27355 "Non-null terminated strings are being passed to CompileOptionsWrapper::new"
https://github.com/servo/servo/blob/a24291362946f92bf155b390ea469b7be50a4c2d/components/script/dom/htmlscriptelement.rs#L428

We need to convert the rust string into a CString before passing the pointer to it.

[2020-07-22 03:46] jdm commented on #22796
Playing around with trying to implement this at https://github.com/jdm/servo/tree/depth-texture. texImage2D and framebufferTexture2D no longer trigger WebGL errors, but the actual pixel tests are still failing.

[2020-07-22 06:34] paulrouget commented on #27167
We could rely on the store crash reporter: https://docs.microsoft.com/en-us/appcenter/sdk/crashes/uwp

[2020-07-22 08:24] paulrouget commented on #27167
I have identified 5 places where we should catch exceptions/panics:

### Handler $1:

That's the only problematic case as the app crashes afterward "sometimes":

This will catch a panic as described in #27270:
[code]

… but I didn't find a way to keep the UWP alive.

### Handler $2:

We also have an embedder message `EmbedderMsg::Panic` that we don't handle at the moment. Comes from the constellat

[2020-07-22 11:11] XVilka commented on #20045
I should note that's supported everywhere now: https://caniuse.com/#feat=webp

[2020-07-22 15:15] asajeffrey opened #27363 "Missing Linux dependencies for gstreamer"
Our gstreamer requires particular versions of libraries, which are different from the Ubuntu ones.
[code]

[2020-07-22 15:18] asajeffrey commented on #27352
I filed https://github.com/servo/servo/issues/27363 for the missing library warnings.

[2020-07-22 15:18] jdm commented on #27363
We build on Ubuntu 19.10, and therefore depend on packages that are available in that release.

[2020-07-22 15:20] jdm commented on #27211
This has been fixed upstream.

[2020-07-22 15:20] #27211 closed

[2020-07-22 15:29] asajeffrey commented on #27352
With debug logging:
[code]

[2020-07-22 15:30] jdm commented on #27355
Filed https://github.com/servo/rust-mozjs/issues/518 about preventing this in the future.

[2020-07-22 15:54] jdm commented on #27352
According to https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/-/blob/3422868c59847dcbf6de4719d435a68d69314f01/ext/webrtc/gstwebrtcbin.c#L179, your gstreamer isn't able to find the `dtlsdec` feature, which is also part of gstreamer-plugins-bad, from the `dtls` plugin.

[2020-07-22 15:56] jdm opened #27364 "Intermittent error in bluetooth tests"
[code]

[2020-07-22 17:24] jdm opened #27366 "test-tidy cuts off whatwg URLs that include apostrophes"
https://html.spec.whatwg.org/multipage/semantics.html#get-an-element's-target
https://html.spec.whatwg.org/multipage/links.html#get-an-element's-noopener

[2020-07-22 17:25] jdm commented on #27366
https://github.com/servo/servo/blob/6a9aac3e654d4498c8c2605ebe8a24b609770e21/python/tidy/servo_tidy/tidy.py#L284 is the regex that needs to be expanded.

[2020-07-22 17:31] jdm opened #27367 "WACK regression: Module32FirstW and Module32NextW"
[code]

[2020-07-22 17:46] jdm commented on #24173
I was able to generate a meaningful WACK report locally with the following preparation:
[code]
Then from a terminal with administrator privileges:
[code]
https://gist.github.com/jdm/97674e9c83de6c8f1617a519996a379d is the resulting XML file. Here's an example of a failing result:
[code]

[2020-07-22 17:47] jdm commented on #24173
In this case we would want to ignore the __CxxFrameHandler errors, because they are a known issue with the cert kit (https://github.com/microsoft/microsoft-ui-xaml/issues/1446#issuecomment-608070886). The remaining messages are instances of #27136

[2020-07-22 18:31] jdm commented on #27367
Narrowing the regression range:
* 6/1 nightly - good
* 7/1 nightly - bad
* 7/22 nightly - bad

[2020-07-22 19:02] Manishearth commented on #27277
This sample works fine on linux+glwindow on fdbecc68cf45243980efa7fee3846bf29a1f9c25

[2020-07-22 19:08] jdm commented on #24173
Adding `-testid [38]` to the command line runs the Supported APIs test only, which is the one that is the most likely to regress, and it doesn't involve opening any windows. This may be a useful property for CI.

[2020-07-22 19:09] jdm commented on #27367
This is almost certainly a regression from https://github.com/servo/servo/commit/57f4f0a09fbb0d26448f63a3f61dc11fb4209f8f, given https://github.com/rust-lang/backtrace-rs/blob/d471d23ee0bcc78efd9e8b2040dfb29923b8e222/src/windows.rs#L428-L435.

[2020-07-22 19:50] jdm commented on #27367
This is fixed by https://github.com/rust-lang/backtrace-rs/pull/363, and I've pushed that change to https://github.com/servo/backtrace-rs/tree/uwp-fix as well so we aren't blocked on a new release.

[2020-07-22 20:09] jdm opened #27369 "Windows UWP packages include gstreamer DLLs in main zip"
This is likely a regression from https://github.com/servo/servo/pull/27302/, and it bloats the UWP downloads by a few ~15mb.

[2020-07-22 20:18] jdm opened #27370 "Particles demo sits at 40fps"

[2020-07-22 20:20] jdm opened #27371 "Ball shooter demo sits at 35fps"
When looking at just the wall grid it's a solid 60, but looking at the balls on the floor drops the framerate to 35fps.

[2020-07-22 20:22] jdm commented on #27280
I also reproduced this when testing a nightly build. Pressing the home button showed the button remained depressed, the webgl canvas stopped updating, and the navigation didn't seem to occur.

[2020-07-22 20:36] jdm commented on #27280
I've also seen this happen where I can press the back button successfully and am looking at the homepage, but while I can scroll, the page doesn't actually respond to mouse events. stdout.txt suggests that a document is flooding the app with fake animation frames, because there are 10s of thousands of lines of `RUST: WARN - script::dom::document - Scheduling fake animation frame. Animation frames

[2020-07-22 22:25] asajeffrey commented on #27286
So hopefully this is fixed by #27373. It looks fixed with the surfman layer manager, I'm building the HL2 one atm.

[2020-07-22 22:38] asajeffrey commented on #27352
I think this is caused by our gstreamer tarball linking against libraries that don't exist in Ubuntu 19.10.

[2020-07-22 23:09] #27367 closed

[2020-07-22 23:09] jdm opened #27375 "Intermittent failure in /content-security-policy/frame-src/frame-src-cross-origin-load.sub.html"
[code]

[2020-07-22 23:41] asajeffrey commented on #27363
Hopefully on 20.04 we'll be able to use the system gstreamer.

[2020-07-23 03:20] #27355 closed

[2020-07-23 03:20] #27349 closed

[2020-07-23 05:57] CYBAI opened #27378 "Intermittent failure in /content-security-policy/child-src/child-src-cross-origin-load.sub.html"
[code]

[2020-07-23 14:15] #27272 closed

[2020-07-23 15:08] SimonSapin opened #27383 "Implement `list-style-position: outside` in Layout 2020"
I’m looking into adding layout support for `display: list-item`. What to do for `list-style-position: outside` is not at all clear, https://drafts.csswg.org/css-lists/#list-style-position-property itself says

So I’m gonna skip it initially and always do as if `list-style-position: inside` was specified. This issue tracks adding support for `outside` later.

[2020-07-23 16:14] #27327 closed

[2020-07-23 17:08] paulrouget opened #27384 "constellation's handle_log_entry can be no-op"
We used to log the log entries: https://github.com/servo/servo/commit/44422744ff7f095998b07ded6af8fa0420417405#diff-55c92a6a5ba7654ce45fe6fc6c63740fR2292

But this code is gone now, making `handled_warnings` silent.

[2020-07-23 17:08] paulrouget commented on #27167
To fix later: https://github.com/servo/servo/issues/27384

[2020-07-23 18:47] asajeffrey commented on #27363
The system gstreamer works in Ubuntu 20.04, with the addition of the `gstreamer1.0-nice` and `gstreamer1.0-plugins-bad` packages.

[2020-07-23 18:48] asajeffrey commented on #27352
The system gstreamer works in Ubuntu 20.04, with the addition of the `gstreamer1.0-nice` and `gstreamer1.0-plugins-bad` packages.

[2020-07-23 19:02] asajeffrey commented on #27352
Should we try not to panic if we can't load the right gstreamer plugins?

[2020-07-23 20:34] #27286 closed

[2020-07-23 23:36] asajeffrey commented on #27286
The PR which hopefully fixes this has now landed, so the change should be in the next nightly build.

@De-Panther: let me know if it's actually fixed this time!

[2020-07-24 03:07] Manishearth opened #27387 "<position>: auto does not work"
[code]

Expected:
![image](https://user-images.githubusercontent.com/1617736/88357391-f49f9200-cd1f-11ea-895d-ad35c510da3f.png)

Actual:
![image](https://user-images.githubusercontent.com/1617736/88357397-fa957300-cd1f-11ea-9a18-15e4992f7686.png)

This is because we're resolving `auto` values for top/left/bottom/right to mean zero when we actually mean "where it was actually found"

cc @SimonSapin

[2020-07-24 03:07] Manishearth commented on #27387
This breaks all the tests for `clip: rect` because they use some text followed by an absolutely positioned div.

[2020-07-24 03:21] Manishearth commented on #27387
https://drafts.csswg.org/css-position-3/#staticpos-rect

This seems involved

[2020-07-24 03:24] Manishearth commented on #27387
Seems like auto is resolved in https://github.com/servo/servo/blob/453aafeea63a2292ac67b8ee0a9d60565eaf74d5/components/layout_2020/positioned.rs#L94-L112

[2020-07-24 04:46] Manishearth commented on #27387
This line is incorrect

https://github.com/servo/servo/blob/453aafeea63a2292ac67b8ee0a9d60565eaf74d5/components/layout_2020/flow/mod.rs#L355

However pulling in `positioning_state.current_block_direction_position` is not enough to fix the problem

[2020-07-24 05:04] Manishearth commented on #27387
Oh, this is gnarly

we lay out block children in parallel, and _then_ place them in order. Unfortunately these need to be adjusted later. We might need to collect these separately?

https://github.com/servo/servo/blob/453aafeea63a2292ac67b8ee0a9d60565eaf74d5/components/layout_2020/flow/mod.rs#L246-L263

[2020-07-24 05:12] Manishearth commented on #27387
What we could do is keep track of the fragment's auto-ness and perform the adjustment in `place_block_level_fragment`. Ew.

[2020-07-24 14:40] jdm commented on #24173
Doing this on CI may be difficult per #27374, but we should add two new mach commands to make this process easier to run regularly:
* `./mach test-wack [--release] [path/to/report.xml]` - verify that an msixbundle is present at the expected path from `./mach package --uwp`, then run the WACK, save the report at the given path, and parse the XML to report failures
* `./mach test-wack-nightly [path/

[2020-07-24 14:44] De-Panther commented on #27286
It works!
Thanks!

I just tested on the emulator
![image](https://user-images.githubusercontent.com/4749703/88403333-1444c200-cdd5-11ea-8cb2-92ef6ab0c066.png)

[2020-07-24 16:18] Rufus31415 opened #27392 "frame.getPose() returns undefined for 'local' space"
[code]

With this example, frame.getPose() return undefined for 'local' space. But, it works well for 'local-floor' space

[2020-07-24 16:22] jdm commented on #27392
cc @Manishearth
Is this related to #24194 or #24195?

[2020-07-24 16:32] mustafapc19 commented on #27294
Hi. I am new-comer to this. But I think I might be able to do this if I was given some additional resources and a little bit of help navigating the codebase.

[2020-07-24 17:05] Manishearth commented on #27392
This ... doesn't make sense, we don't support local-floor.

It's not related to either of those issues. The `local` space should definitely work, and if the threejs paint demo works it is working.

[2020-07-24 17:20] jdm opened #27394 "Can't use home button in development build"
If there is no app setting pref for the homepage, and there's no override URL provided, we get a null pointer in https://github.com/servo/servo/blob/6ca3c84d28b2b47c386d8c6bf047625a8d9ba2b1/support/hololens/ServoApp/ServoControl/Servo.cpp#L330. We need a fallback URL since we don't use package-prefs.json for normal UWP dev builds.

[2020-07-24 17:39] jdm commented on #27394
This appears to affect new installations of nightly builds as well. Install the app, then go to any demo, then press the home button. The app freezes.

[2020-07-24 17:57] #27366 closed

[2020-07-24 18:55] #27363 closed

[2020-07-24 19:03] jdm opened #27395 "Vendor WebGPU CTS"
Per https://github.com/web-platform-tests/wpt/issues/24699, it's recommended that we setup our own WebGPU CTS vendoring automation like we did for the WebGL conformance tests (https://github.com/servo/servo/tree/master/tests/wpt/webgl/tools).

cc @kunalmohan

[2020-07-24 19:12] kunalmohan commented on #27395
@jdm How would I go about adding/initializing logs in the metadata directory? Are there any steps that I could refer to?

[2020-07-24 19:27] jdm commented on #27395
@kunalmohan The steps for adding a new testsuite that is part of our web-platform-tests infrastructure go something like this:
* import a copy of the test files under wpt/webgpu/tests
* add a new webgpu manifest entry in https://github.com/servo/servo/blob/master/tests/wpt/config.ini
* perform any transformations to the test files that are necessary to have them be integrate with testharness.js
*

[2020-07-24 19:28] jdm commented on #27395
Making the import run automatically through a python script is best, but starting off by importing the unmodified files, making a commit, then modifying files by hand until the tests run makes it easier to turn the resulting diff into a script.

[2020-07-24 20:00] Manishearth commented on #27392
@Rufus31415 Does https://threejs.org/examples/?q=webxr#webxr_vr_paint work? If so there's likely a problem with your code.

[2020-07-24 20:06] jdm commented on #27280
So I think https://github.com/servo/servo/issues/27280#issuecomment-662676383 is just #27394. I haven't been able to replicate the back button issue that I described in https://github.com/servo/servo/issues/27280#issuecomment-662682823 yet.

[2020-07-24 20:58] jdm commented on #27280
I've removing this from the v1.2 milestone because I haven't been able to replicate the problem yet with #27280 applied, nor in a nightly build where I avoid the home button.

[2020-07-24 21:12] jdm opened #27398 "format in strutils.h uses the wrong delete"
[code]

[2020-07-24 22:34] #27253 closed

[2020-07-25 00:35] nicoabie commented on #25951
For future reference: servo needs pip and virtualenv in version 2.7 of python
Without them the following error will be displayed
**Python virtualenv is not installed. Please install it prior to running mach.**

To overcome this run use easy install to get pip in version 2.7 of python
`sudo easy_install pip`
Then
`pip install virtualenv`

[2020-07-25 01:18] #27394 closed

[2020-07-25 02:51] nicoabie opened #27400 "macOs Catalina build fails caused by jemalloc-sys 0.3.2"
Running `./mach build --dev` fails

This is the output of jemalloc's config.log
[code]
The command that is run is the following
[code]

I can provide more information if needed

[2020-07-25 03:24] gterzian commented on #27315
This might be a dupe of https://github.com/servo/servo/issues/23168

And specifically I think this relates to the stack walking somewhere at https://github.com/servo/servo/blob/9864e4ce6cb73b81f1c382af0ae20a24203e380f/components/background_hang_monitor/sampler_linux.rs#L225

[2020-07-25 12:48] kunalmohan commented on #27395
@jdm I have added the test suite [here](https://github.com/kunalmohan/servo/tree/webgpu-cts/tests/wpt/webgpu). The changes that I had to make after importing unmodified tests are in https://github.com/kunalmohan/servo/commit/c67f68d4a60675232ac7587b18c48a61fef09fea.
What do you think?

[2020-07-25 12:58] jdm commented on #27395
We should avoid depending on third-party code that is retrieved from the network while running tests. One possible solution is to vendor that module as well. Otherwise the changes look good!

[2020-07-25 12:59] jdm commented on #27395
You will also want a `__dir__.ini` in the root meta directory that enables the webgpu preference when running the tests.

[2020-07-25 13:40] Rufus31415 commented on #27392
Three.js uses 'local-floor', so the paint example works on Hololens 2, (see function ```WebXRManager()``` of Three.js)
The 'local' space works for ```frame.getViewerPose()``` but not for ```frame.getPose()```

[2020-07-25 14:19] Manishearth commented on #27392
Oh, wait, sorry, we do support local-floor spaces. Hmm

[2020-07-25 14:34] Manishearth commented on #27392
@Rufus31415 are you sure it's undefined and not null? Is `_arSession.localSpace` defined? Is it throwing any errors? Could you try local-floor and seeing what happens? It's _very_ weird for local-floor to work and not local, they essentially use the same codepaths.

[2020-07-25 18:05] nicoabie commented on #26348
![Screen Shot 2020-07-25 at 15 02 27](https://user-images.githubusercontent.com/2797992/88463274-f4baa180-ce87-11ea-9b56-d71827eebc7b.png)

Seems to be fixed now. Running build from master commit b83433fb142a54c4987d330acae3fbd8cbd7044e

[2020-07-25 18:42] camelid commented on #26348
Hmm, it does look better. Although the menu bar still looks weird.

[2020-07-25 20:29] avr1254 commented on #27331
@highfive:assignme

[2020-07-25 20:30] avr1254 commented on #27331
@jdm Maybe this would be an interesting challenge to take on!

[2020-07-25 20:47] nicoabie commented on #22284
![Screen Shot 2020-07-25 at 17 45 28](https://user-images.githubusercontent.com/2797992/88466033-afee3500-ce9e-11ea-9e55-79917e76951d.png)

Seems to be fixed now, building from master commit b83433fb142a54c4987d330acae3fbd8cbd7044e

[2020-07-25 20:54] #22284 closed

[2020-07-25 20:54] nicoabie commented on #26031
![Screen Shot 2020-07-25 at 17 52 57](https://user-images.githubusercontent.com/2797992/88466134-b335f080-ce9f-11ea-951c-1df5fdec6d29.png)

Now it seems to not panic but it throws the following error many times

`[2020-07-25T20:52:05Z ERROR script::dom::bindings::error] Error at :0:0 uncaught exception: unknown (can't convert to string)`

[2020-07-25 21:10] Rufus31415 commented on #27392
I'll have to double-check, but maybe it's null. No errors are trown, it's just null.
```_arSession.localSpace ``` seems to be defined because frame.getViewerPose() works.
I'll run some more tests

[2020-07-25 21:31] De-Panther commented on #27286
Can also confirm that it works on a device. Got a recording.

[2020-07-26 14:36] avr1254 commented on #27331
@jdm Can you tell me a little more about the issue? I'm assuming you don't mean going through every script and changing the encoding to UTF-8.

[2020-07-26 15:50] jdm commented on #27294
* the WebIDL in components/script/dom/webidls/Console.webidl
* the DOM implementation in components/script/dom/console.rs
* the script->devtools integration in components/devtools_traits
* the devtools server in components/devtools/actors/console.rs

We need our devtools server code in to [send a ConsoleAPI message](https://github.com/servo/servo/blob/916d9e0e3d8574a991b1ac301e68395a8795d0bf/compo

[2020-07-26 17:57] nicoabie commented on #26494
![Screen Shot 2020-07-26 at 14 55 45](https://user-images.githubusercontent.com/2797992/88485891-20a15a00-cf50-11ea-9df8-ec85d78a85c1.png)

Now it seems to render, but it is not possible to change to dark mode because the icon is svg and is not rendered

[2020-07-26 18:15] nicoabie commented on #25828
I get the following output
[code]

I think the overlapping issue is the height property on the section element.
It is `height: calc(100vh - 120px)`
Without that property the text is overlapped in firefox as well.

[2020-07-26 18:25] nicoabie commented on #24169
![Screen Shot 2020-07-26 at 15 21 25](https://user-images.githubusercontent.com/2797992/88486405-b5f21d80-cf53-11ea-8b64-a43095ca406a.png)

It is running far better now on macOS 10.15.6 built with b83433fb142a54c4987d330acae3fbd8cbd7044e
The only issue seems to be the nose

[2020-07-26 18:33] nicoabie commented on #23508
This is the console output which has some hints

[code]
macOS 10.15.6 built with b83433f

[2020-07-26 18:35] nicoabie commented on #22283
It is possible now!
macOS 10.15.6 built with b83433f

[2020-07-26 18:38] nicoabie commented on #20445
Not it does not render at all
[code]
macOS 10.15.6 built with b83433f

[2020-07-27 01:33] atouchet commented on #22283
I am able to scroll on this page now as well.

[2020-07-27 01:33] #22283 closed

[2020-07-27 01:36] atouchet commented on #20445
I am able to get the page to render in the latest nightly build but the menu on the left side does not appear.

![Screenshot](https://user-images.githubusercontent.com/26315797/88495465-d5e30a80-cf6e-11ea-846e-dc2c90763971.png)

[2020-07-27 02:01] nicoabie commented on #27400
I was able to create a release build. Then restarted the computer.
Ran a dev build it built successfully, ran a mach clean and again a dev build. Successful again!
Closing the issue, I can't replicate it anymore.

[2020-07-27 02:01] #27400 closed

[2020-07-27 02:10] nicoabie commented on #20445
On macOS latest nightly build displays an empty white page.

[2020-07-27 02:55] atouchet commented on #23508
I get an "unsupported browser" warning when I try to load the page. I [opened a PR](https://github.com/servo/servo/pull/27405) to update Servo's user agent string to see if that fixes that problem. If I skip the warning I get similar issues to the ones in the original post.

[2020-07-27 14:13] jdm commented on #26591
mixer.com doesn't exist any more.

[2020-07-27 14:13] #26591 closed

[2020-07-27 14:30] mustafapc19 commented on #27294
U can assign me for this. I'll ask questions if I find some roadblocks. And thanks for your imput :).

[2020-07-27 18:13] jdm opened #27414 "Intermittent failure in /css/cssom-view/elementFromPoint-ellipsis-in-inline-box.html"
[code]

[2020-07-27 18:40] jdm commented on #20445
The panic happens when we try to draw a glyph to the canvas that isn't present in the selected font: https://github.com/jrmuizel/raqote/blob/490bff22610a130ad75eb797b6bd6e3e361bbde5/src/draw_target.rs#L755

[2020-07-27 18:43] jdm commented on #20445
Filed https://github.com/jrmuizel/raqote/issues/150.

[2020-07-27 18:51] jdm commented on #27331
@avr1254 In https://github.com/servo/servo/blob/5a8023dae76a22e2a86be8db5667de309785db9b/components/script/dom/htmlscriptelement.rs#L451-L456 and https://github.com/servo/servo/blob/5a8023dae76a22e2a86be8db5667de309785db9b/components/script/dom/globalscope.rs#L2606-L2610, we pass UTF-16 bytes to the Compile1 and CompileOffThread spidermonkey APIs. The original bytes we receive from the network are

[2020-07-27 19:05] nicoabie commented on #20445
Excellent finding, it is very interesting that it only fails on macOS

[2020-07-27 19:12] jdm commented on #27352
Yes, not panicking would be good as long as we display some output that points out that it's not going to work correctly.

[2020-07-27 19:41] asajeffrey commented on #27352
Probably the best thing to do in this instance is have the `RtcPeerConnection` construction throw an exception, which seems to be allowed by step 1 of https://w3c.github.io/webrtc-pc/#dom-peerconnection

[2020-07-27 19:51] asajeffrey commented on #27352
So get https://github.com/servo/media/blob/cdf82da4cb59d1dae7bfb0b1396d5ebd53310540/webrtc/lib.rs#L85-L88 to return a `Result<Self::Controller,WebRtcError>`.

[2020-07-27 21:21] jdm commented on #26411
Watching someone do a livestream and try to develop, this is a huge productivity killer. We need to add this ASAP.

[2020-07-27 21:36] jdm opened #27416 "Support bookmarks"
As an alternative to #27278, we should make it easy to return to a URL that you care about without having to type it in or make a QR code.

[2020-07-27 22:10] Manishearth commented on #27392
I can't reproduce this, running on https://manishearth.net/sand/webgl-to-webvr/webxr-input.html i get a triangle floating around my right hand. I think this might be an issue with your code?

[2020-07-27 22:13] jdm commented on #26411
For the purposes of the next release, I think we should make the refresh button clear the cache.

[2020-07-27 22:54] jdm commented on #26443
Unfortunately, simply optimizing rayon and rayon-core during debug builds does not make the problem disappear.
[code]

[2020-07-27 23:01] #27387 closed

[2020-07-27 23:24] jdm commented on #26443
The crash goes away when the following diff is applied:
[code]

[2020-07-28 00:22] avr1254 commented on #27331
@jdm Isn't the second example already using UTF-8 instead of UTF-16?

[2020-07-28 00:27] jdm commented on #27331
You're right!

[2020-07-28 00:28] jdm commented on #27331
Aha, here's the other case that I was thinking of: https://github.com/servo/servo/blob/c7bdb1bcc0cd4985277579b7585d1abbbe489287/components/script/script_module.rs#L433-L437

[2020-07-28 01:45] Manishearth opened #27419 "Separate pref panel for select WebXR prefs"
It would be nice to have a separate pref panel for select WebXR prefs (or perhaps "prefs we wish users to use")

This would include `dom.webxr.hands.enabled`, `dom.webxr.layers.enabled`, `dom.webxr.sessionavailable`, and the proposed `dom.webxr.first_person_observer_view` from https://github.com/servo/servo/pull/27418 . These should have text labels and perhaps icons as opposed to pref string labe

[2020-07-28 01:45] Manishearth commented on #27419
We could simply have a "preferences" tab and "all config options" tab or something like that.

[2020-07-28 02:15] jdm commented on #27419
Yeah, I'd like to have a panel that highlights the ones that will be most likely to be useful.

[2020-07-28 05:34] gterzian commented on #27146
Marking the attached PR as "needing new owner", because I won't have time to debug it further in the near future, so if someone wants to pick things up, you're welcome.

[2020-07-28 14:17] #27331 closed

[2020-07-28 14:38] paulrouget commented on #27419
We will promote these prefs in a "Developer Preview Features" tab:

- dom.webxr.hands.enabled
- dom.webxr.layers.enabled
- dom.webxr.sessionavailable
- dom.webxr.first_person_observer_view
- dom.webgl2.enabled
- dom.webrtc.enabled
- dom.webrtc.transceiver.enabled

With descriptive labels.

I'll look into this.

[2020-07-28 15:27] nicoabie commented on #26488
@highfive: assign me

[2020-07-28 15:27] highfive commented on #26488
Hey @nicoabie! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-28 15:43] nicoabie commented on #26488
@jdm we could create another macro to add
[code]
to other *DroppableFields, what do you think?

[2020-07-28 15:43] Manishearth opened #27424 "Update to euclid 0.22"
https://crates.io/crates/euclid/0.21.0

This contains [a number of breaking changes](https://github.com/servo/euclid/pulls?q=is%3Apr+is%3Aclosed+label%3A%22breaking+change%22)

Most are minor, and I believe all of them pair behavior changes with method renames. The ones that will be the trickiest are:

 - [Move away from pre_transform/post_transform terminology](https://github.com/servo/euclid/pul

[2020-07-28 18:25] asajeffrey opened #27427 "Intermittent webxr GL errors caused by GC of WebGLTexture objects"
A panic caused by WebXR reusing textures, but WebGL deleting them when they get GC'd:
[code]
Texture 48 is reused, but the GCs are batched, so it gets deleted while it is being reused. This is caused by both WebGL and WebXR thinking they are in charge of the lifetime of the texture.

[2020-07-28 20:30] asajeffrey commented on #26097
So I can now get servo to enter a hubs room, with the magic incantation:L
[code]
The URL parameters are the key, they are:
- `no_force_webvr` which gets hubs to use WebXR rather than WebVR
- `vr_entry_type=2d_now` goes straight into the room, bypassing the avatar and audio dialogs.

There is also `vr_entry_type=vr_now` but at the moment that will cause a security error, since there was no user int

[2020-07-28 21:52] asajeffrey commented on #26097
#27429 adds a pref to indicate user intent, which allows entering a hubs room in webxr.

[2020-07-28 22:36] avr1254 commented on #27398
@jdm I guess we can close this issue now.  I must have typed it in incorrectly in the PR

[2020-07-28 22:38] #27398 closed

[2020-07-29 00:44] nicoabie commented on #26192
@jdm issue has been solved on rust, running test with rust backtrace does not segfault on latest master.

[2020-07-29 00:49] jdm commented on #26192
Good point!

[2020-07-29 00:49] #26192 closed

[2020-07-29 01:29] nicoabie commented on #24258
I can't reproduce this with the latest build from download.servo.org on macOS 10.15.6
@chenzww can you still reproduce this issue?

[2020-07-29 01:32] nicoabie commented on #23519
@jdm It does play media now on MacOS 10.15.6!

[2020-07-29 01:41] jdm commented on #23519
Glad to know my efforts to fix media in macOS nightlies have not been in vain!

[2020-07-29 01:41] #23519 closed

[2020-07-29 01:42] nicoabie commented on #22345
Upstream issue is closed but this is still happening on macOS 10.15.6

[2020-07-29 01:42] jdm commented on #24258
This is a graphics driver bug on certain classes of macOS drivers. It can be fixed by running the app with `--pref gfx.texture-swizzling.enabled=false`. Closing as a duplicate of #26224.

[2020-07-29 01:42] #24258 closed

[2020-07-29 01:44] jdm commented on #22345
It's possible that we still have not updated to a recent version of winit that includes the fix.

[2020-07-29 01:45] nicoabie commented on #21123
@marinintim can you check if this is solved now?

[2020-07-29 02:00] jdm commented on #21123
I'm going to go ahead and close this proactively, given the age.

[2020-07-29 02:00] #21123 closed

[2020-07-29 02:20] nicoabie commented on #20242
It doesn't seem to render the `<b></b>` tag properly

[2020-07-29 02:23] nicoabie commented on #19502
@jdm don't know if this is still relevant but this is the output of my macOS 10.15.6

[code]

[2020-07-29 02:25] nicoabie commented on #16832
@jdm old issue?

[2020-07-29 02:30] jdm commented on #16832
I'm inclined to close this and open a new one if someone comes across it.

[2020-07-29 02:30] #16832 closed

[2020-07-29 02:53] avr1254 commented on #27424
@highfive:assignme

[2020-07-29 02:54] avr1254 commented on #27424
@Manishearth Can you tell me where in the codebase I should start looking to find and update these changes?

[2020-07-29 02:58] Manishearth commented on #27424
It's actually all over multiple codebases: you'd need to figure out which dependencies use Euclid, update them, and apply fixes

[2020-07-29 03:03] CYBAI commented on #19502
Looks like this is related to OSMesa which is not supported now so I guess it should be fine to close this issue now.

I'm going to close this and please reopen it if I'm wrong 🙏

[2020-07-29 03:03] #19502 closed

[2020-07-29 03:22] avr1254 commented on #27424
@Manishearth  Sorry for the newb question, but does that include repositories outside of servo/servo?

[2020-07-29 03:24] Manishearth commented on #27424
I don't think so. But this needs to be done in a coordinated way,I would recommend going through Cargo.lock to see which deps use them, and then try to bump and patch

[2020-07-29 04:10] CYBAI commented on #27424
@avr1254 Let me provide some more information which might be helpful for you to understand this issue.

### Why we need to update packages for multiple codebases?

Servo is a large codebase and it has depended on a large amount of dependencies (as you can see in Cargo.lock). Thus, if it's possible, we'd like to avoid introducing duplicated version crates.

#### What does duplicated version crates

[2020-07-29 06:26] atouchet commented on #22345
That issue looks to have been fixed in winit 0.20 and Servo is still using 0.19.3.

[2020-07-29 10:23] paulrouget opened #27435 "UWP: Preference inconsistency"
There's a difference between the value retrieved via `GetPref` and `GetPrefs`.

STR:
- create a bool pref set to false
- open the UWP app, and check the pref
- restart app, pref is still false

But retrieving the pref via `GetPref` gets us the proper value.

[2020-07-29 10:42] batara666 opened #27437 "automation example"
hi awesome servo folks, i'm new in programming and i need servo automation example, my use case for :
access a web
click clack
disable image &> media load opt

[2020-07-29 12:04] jdm commented on #27437
@batara666 I recommend looking into the websriver protocol. Servo has a websriver server that you can start with the --webdriver=6000 argument.

[2020-07-29 12:10] jdm commented on #26394
I-cleanup seems fine to me.

[2020-07-29 13:18] nicoabie commented on #26394
@highfive: assign me

[2020-07-29 13:18] highfive commented on #26394
Hey @nicoabie! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-07-29 13:22] jdm opened #27439 "Prompt user for authentication when HTTP request needs it"
https://github.com/servo/servo/blob/08366323ef4ac77aa812d44499037bab4bc60eeb/components/net/http_loader.rs#L1571-L1578 and https://github.com/servo/servo/blob/08366323ef4ac77aa812d44499037bab4bc60eeb/components/net/http_loader.rs#L1606-L1612 require integration with the embedding layer in order to request user/password information from the browser UI.

We will need to store an [EmbedderProxy](http

[2020-07-29 14:06] jdm opened #27441 "Make C++ log function use stdout"
Right now https://github.com/servo/servo/blob/08366323ef4ac77aa812d44499037bab4bc60eeb/support/hololens/ServoApp/strutils.h#L21 uses OutputDebugString directly. Since we have stdout redirect to OutputDebugString (as well as log to a file) in [this code](https://github.com/servo/servo/blob/08366323ef4ac77aa812d44499037bab4bc60eeb/support/hololens/ServoApp/ServoControl/Servo.cpp#L100-L115), we shoul

[2020-07-29 14:08] avr1254 commented on #27424
@Manishearth I'm starting the update by looking at the Canvas component. When I update the Cargo.toml file to have euclid="0.21", I get several errors, presumably because the webrender_api crate also uses Euclid, but is not upgraded either. I don't have the source code, should I fork the repository or move on to other parts of the code?

[2020-07-29 14:46] #26440 closed

[2020-07-29 15:00] avr1254 commented on #27424
@CYBAI  Lovely write-up! I am having a bit of an issue, however. When I add "euclid" to the servo-tidy.toml file, the test-tidy doesn't complain. However, when I build the engine, it appears that the program sees conflicting versions of euclid. A common error I get is:
 `expected reference "&euclid::Point2D<f32, euclid::UnknownUnit>"
               found reference "&webrender_api::euclid::Point2D<

[2020-07-29 15:09] jdm commented on #27424
Since the version of webrender we depend upon is still using euclid 0.20, we must pass euclid 0.20 types to it. The only way I see to deal with that is to depend on both euclid 0.20 and euclid 0.21 in the same crate (like how [net depends on two versions of tokio](https://github.com/servo/servo/blob/6a3c3a4e18370d5604644d5491430b82d51c5be9/components/net/Cargo.toml#L60-L61)) and for any 0.21 value

[2020-07-29 15:17] Manishearth commented on #27424
@jdm I would propose updating WebRender as well, the breaking changes were made by the moz gfx team and I suspect they wish to update webrender too.

I would rather update everything at once, adding conversion between two kinds of incompatible euclid units sounds like a recipe for disaster.

[2020-07-29 15:17] CYBAI commented on #27424
Oops, maybe I didn't explain it properly. Adding the crate into `servo-tidy.toml` means you want to `ignore` it so it's correct that test-tidy won't complain. But, in this case, I think we want to update all related dependencies and don't want to add it into the ignore section in `servo-tidy.toml`.

[2020-07-29 15:22] jdm commented on #27424
@Manishearth According to https://github.com/servo/webrender/blob/ed6ed92ac1cdfa39118fb95b63df7ea804fbbbd1/webrender_api/Cargo.toml#L21, upstream webrender hasn't updated to euclid 0.21 yet either.

[2020-07-29 17:08] #27437 closed

[2020-07-29 17:11] #25910 closed

[2020-07-29 17:11] #25813 closed

[2020-07-29 17:11] #25419 closed

[2020-07-29 17:12] #23913 closed

[2020-07-29 17:12] #22757 closed

[2020-07-29 17:13] #18685 closed

[2020-07-29 17:14] #10385 closed

[2020-07-29 17:17] jdm commented on #16140
No longer relevant.

[2020-07-29 17:17] #16140 closed

[2020-07-29 17:18] #16138 closed

[2020-07-29 17:18] #11271 closed

[2020-07-29 17:19] jdm commented on #10636
This work isn't going to happen.

[2020-07-29 17:19] #10636 closed

[2020-07-29 17:20] #9904 closed

[2020-07-29 17:20] #4154 closed

[2020-07-29 17:21] #9970 closed

[2020-07-29 17:21] #26871 closed

[2020-07-29 18:44] avr1254 commented on #27424
@jdm I was trying to implement your idea two comments ago, but it seems like I can't use both versions of Euclid in the same file. Do you know if this is possible?

[2020-07-29 18:50] jdm commented on #27424
@avr1254 It should be. What's an example of code that isn't working for you?

[2020-07-29 18:51] Manishearth commented on #27424
@jdm yes, we should do that ourselves or wait for it to happen, which i imagine will be soon :smile:

[2020-07-29 19:00] jdm opened #27444 "Missing gstreamer plugins for UWP"
TRying to launch the UWP app since #27403 now shows:
[code]

[2020-07-29 19:03] jdm commented on #27444
There should really be a lint check that verifies that the DLLs listed in https://github.com/servo/servo/blob/6a3c3a4e18370d5604644d5491430b82d51c5be9/support/hololens/ServoApp/ServoApp.vcxproj#L152-L875 are a superset of the ones listed in https://github.com/servo/servo/blob/master/python/servo/gstreamer.py.

[2020-07-29 19:06] avr1254 commented on #27424
@jdm Well it looks like I found a way to incorporate both crates, but now I'm having an issue with the Serialize trait. Looking at Euclid's implementation for 0.21's Size2D, they implemented it, but I get errors like:
the trait bound `euclid::Size2D<u32, euclid::UnknownUnit>: serde::Deserialize<'_>` is not satisfied
  --> components/canvas_traits/webgl.rs:67:9
   |
67 |         Size2D<u32>,
   |

[2020-07-29 19:25] jdm opened #27446 "Create UWP gstreamer packaging lint"
There should really be a lint check that verifies that the DLLs listed in https://github.com/servo/servo/blob/6a3c3a4e18370d5604644d5491430b82d51c5be9/support/hololens/ServoApp/ServoApp.vcxproj#L152-L875 are a superset of the ones listed in https://github.com/servo/servo/blob/master/python/servo/gstreamer.py.

_Originally posted by @jdm in https://github.com/servo/servo/issues/27444#issuecomment-6

[2020-07-29 19:36] jdm commented on #27424
@avr1254 Did you enable the "serde" feature for euclid 0.21 package?

[2020-07-29 19:39] jdm commented on #27424
@avr1254 You will need to enable the optional serde dependency of euclid like https://github.com/servo/servo/blob/master/components/style_traits/Cargo.toml#L13.

[2020-07-29 21:24] #27294 closed

[2020-07-29 22:25] #27444 closed

[2020-07-29 22:39] avr1254 commented on #27424
@jdm I don't see a Display trait for Size2D in Euclid anymore. New change or just my bad?

[2020-07-29 22:58] chotchki commented on #25181
So looking at the code here: https://github.com/servo/servo/blob/85ad53c42b918ca836e1e97deb8582ae987b30e5/ports/glutin/headed_window.rs#L332

It looks like it gets either left or right buttons and just emits left only. Would more buttons matter like a middle mouse button?

[2020-07-29 23:07] jdm commented on #25181
Yes, we would want to capture any mouse button input.

[2020-07-30 00:22] #27427 closed

[2020-07-30 03:08] atouchet commented on #27424
euclid 0.22 is now out: https://crates.io/crates/euclid/0.22.0

[2020-07-30 03:18] atouchet commented on #26728
It looks like the IntelliJ Rust plugin did something similar to this. It might be worth looking at:

https://github.com/intellij-rust/intellij-rust/issues/5518
https://github.com/intellij-rust/intellij-rust/pull/5536

[2020-07-30 04:11] chotchki commented on #20218
I'm trying to narrow down and continue the research by nipunG314 but the stacktrace I'm getting isn't matching my experience in the debugger. I have the stacktrace below but when I step through and past "components\script\dom\servoparser\mod.rs:970" it doesn't actually panic there. I'm trying to trace it but I just wanted to check if I'm reading the stacktrace wrong?

[code]

[2020-07-30 04:27] nosark commented on #24659
I'd like to take this issue please!

[2020-07-30 13:20] jdm commented on #20218
@chotchki perhaps the parser moves through line 970 multiple times, and you are stepping through it one of the earlier, successful iterations?

[2020-07-30 13:24] jdm commented on #27424
https://bugzilla.mozilla.org/show_bug.cgi?id=1656236 has been filed to track the work in webrender , which is apparently almost complete but waiting on an upgrade to the plane-split crate.

[2020-07-30 17:14] #27039 closed

[2020-07-30 17:34] mustafapc19 commented on #27439
Can I try this? I might be able to do this. With your help ofcourse 🙂

[2020-07-30 18:10] jdm commented on #27439
Go for it! Please ask questions if anything is unclear!

[2020-07-30 18:36] asajeffrey commented on #26097
https://github.com/servo/servo/pull/27456 is the changes needed to enter hubs rooms in the gstreamer plugin.

[2020-07-30 19:54] SamRodri opened #27457 "Border width is inconsistent at device pixel ratio 1.5"
In Windows 10 with display scaling set to 150%, this HTML file renders different from Firefox:

[code]

<img width="439" alt="border_error" src="https://user-images.githubusercontent.com/449925/88966694-1ac6b400-d283-11ea-8de0-e529d7d86288.png">

This Webrender snippet also causes the problem:

[code]

[2020-07-30 20:37] nicoabie opened #27458 "Local android build fails"
[code]

Tested in macOS 10.15.6 both builds throw same error with GStreamer:
./mach build --dev --android
./mach build --release --android

[2020-07-30 20:50] jdm commented on #27458
Yes, we dropped support for Android builds several months ago but didn't rip out the plumbing. You might be able to get around this with with `--media-stack=dummy`, but I don't know if any of the rest of will still build.

[2020-07-30 20:59] nicoabie commented on #27458
Oh ok, I though Android was supported. Was about to start plumbing old issues to see if they were still valid. That would make no sense now. Feel free to close this issue if it is not relevant.

[2020-07-30 21:01] jdm commented on #27458
Android may be a platform that we want to support in the future given https://github.com/MozillaReality/servo-unity/, but until we commit to that I'm not going to bother keeping this issue open.

[2020-07-30 21:01] #27458 closed

[2020-07-30 21:31] avr1254 commented on #27424
Maybe I just cant find it, but does anybody know what the change in Rect::max_rect() is? I can't find the change on euclid's github history.

[2020-07-30 21:45] jdm commented on #27424
@avr1254 Rect::max_rect isn't a method in https://github.com/servo/euclid/blob/master/src/rect.rs. What problem are you trying to solve?

[2020-07-30 21:47] avr1254 commented on #27424
In components/layout/block.rs, it seems like there's a call to Rect::max_rect() on line 2337. I did some digging, and it looks like its a trait from the crate servo_geometry. Only issue is, I can't find that crate.

[2020-07-30 21:56] jdm commented on #27424
That's https://github.com/servo/servo/blob/a360b873becf2521c4b32706b678ce05f400c809/components/geometry/lib.rs#L40. You can trace that back by looking at https://github.com/servo/servo/blob/a360b873becf2521c4b32706b678ce05f400c809/components/layout/Cargo.toml#L45, which shows that the crate is in components/geometry.

[2020-07-31 01:20] mustafapc19 commented on #27439
Yeah. Assign me 👍

[2020-07-31 03:12] Manishearth opened #27459 "Implement table layout in 2020"
https://drafts.csswg.org/css-tables/

I'm planning on working on at least part of this.

[2020-07-31 03:15] Manishearth commented on #27459
cc @SimonSapin @pcwalton

So my rough plan is this:

 - Implement the HTML table construction algorithm (https://html.spec.whatwg.org/multipage/tables.html#forming-a-table)
 - Implement basic `table-layout: fixed` cell distribution, including row/colspans
 - Implement the full table cell width distribution algorithm
 - Border collapse
 - Table, group, row and colspan backgrounds

[2020-07-31 05:08] #25241 closed

[2020-07-31 06:09] paulrouget commented on #27439
I think it wouldn't be too hard to also introduce a `Prompt::Credential` here: https://github.com/servo/servo/blob/9b6b7935e66647846ce4b2feaa9089f6b46b42ab/components/embedder_traits/lib.rs#L116

[2020-07-31 07:13] paulrouget commented on #27435
[code]

lol

Simon said:

Great. We can't trust bools :)

[2020-07-31 08:34] SimonSapin commented on #27457
The key word is "pixel snapping".

I can also reproduce with device pixel ratio 1, if the specified border is `1.5px`. What matters is the border width not being an integer of *device pixels* after applying CSS transforms, user zoom, DPR, etc.

What happens is that when painting axis aligned lines for solid borders, we typically don’t want the blurry rendering that sub-pixel positioning with anti-

[2020-07-31 09:03] nical commented on #27457
Andrew Osmond rewrote the whole pixels snapping logic so I might be out of date but my understanding is that WebRender does some pixel snapping internally because there are a number of things that need to line up with the pixel grid to render properly. We couldn't simply snap scroll positions and item coordinates because of (potentially animated) transforms and I am sure a ton of other things. Whi

[2020-07-31 10:56] ifels opened #27465 "Complie error: Requested 'gstreamer-1.0 >= 1.16' but version of GStreamer is 1.14.3"
when building servo for android, I encountered a compilation error

./mach build --release --android

the output is:
------------------------
[code]

[2020-07-31 11:16] #26958 closed

[2020-07-31 11:38] jdm commented on #27465
Android is not currently a supported platform. See https://github.com/servo/servo/issues/27458.

[2020-07-31 11:38] #27465 closed

[2020-07-31 11:50] jdm commented on #27439
Agreed, but it will be easiest for a new contributor to use the existing messages rather than also introducing new ones.

[2020-07-31 13:58] mustafapc19 commented on #27439
I'll try to implement prompt:: Credentials and if I fail to. I'll do the sending twice thingy

[2020-07-31 14:39] jdm opened #27467 "Webrender panic in /css/css-paint-api/background-image-tiled.https.html"
[code]
This was introduced when updating webrender in #27207.

[2020-07-31 16:03] asajeffrey opened #27468 "WebXR Layers features needed to be spec-compliant"
This is a meta-issue to track which features we need to support to be spec-compliant with https://immersive-web.github.io/layers/

- [ ] Update the WebIDLs
- [ ] Projection layers
- [ ] Pref to enable layers
- [ ] Feature for `layers
- [ ] `XRMediaBinding`
- [ ] `XRLayerEvent`
- [ ] Textures generated for WebXR should be `TEXTURE_2D` not `TEXTURE_RECTANGLE` on MacOS
- [ ] Support for `TEXTURE_2D_A

[2020-07-31 16:12] jdm commented on #27467
This can show up as a TIMEOUT on macOS.

[2020-07-31 19:11] asajeffrey opened #27469 "Servo leaves Hubs rooms when objects are created"
[code]

[2020-07-31 20:08] jdm opened #27471 "Create a simple set of manual tests for verifying media functionality"
I always end up scouring the internet for simple examples of webaudio or video elements. We should just have a subdirectory in tests/html that I can use every time I'm tinkering with gstreamer plugin loading on for a given platform.

* [ ] `<audio>` element
  * mp3
  * wav
  * ogg
* [ ] `<video>` element
  * avi
  * mov
  * mp4
  * mkv
* [ ] `getUserMedia` piped through `<audio>`/`<video>`
  * aud

[2020-07-31 20:13] jdm commented on #27469
`Unknown error occurred while attempting to connect to networked scene.` looks like the operative issue here.

[2020-07-31 20:19] jdm opened #27472 "Updating webrender to 46791f3fd9188ab3178ab612de168ec554669be7 causes macOS jemalloc crashes"
https://github.com/servo/webrender/commit/46791f3fd9188ab3178ab612de168ec554669be7

https://github.com/servo/servo/pull/27454 shows that CI runs just fine when updating to https://github.com/servo/webrender/commit/1f810c77b27bf9b959b716fbc9bf4ab710ecccc0, and then starting with https://github.com/servo/webrender/commit/46791f3fd9188ab3178ab612de168ec554669be7 we see a (relatively) high volume of s

[2020-07-31 20:37] pcwalton commented on #27459
Looks good.

[2020-07-31 20:38] jdm commented on #27472
I'm going to see if running with ASAN enabled makes any difference (see #27190).

[2020-07-31 21:16] jdm opened #27473 "ASAN error during shutdown"
Based on work from #27190, I see the following when closing a servo window on macOS:
[code]

[2020-07-31 21:26] SimonSapin commented on #27471
This reminds me that Firefox has an allow-list of codecs and container formats that are exposed to the web, even if the underlying libraries support more. I think the AVI container might be excluded, for example. (Though I’m having trouble finding an authoritative and up-to-date list.)

Do we do something like that?

[2020-07-31 21:28] jdm commented on #27471
We limit our media support to some extent by which gstreamer plugins we load (https://github.com/servo/servo/blob/master/python/servo/gstreamer.py), but I don't believe anybody has sat down and listed the types we want to support and made sure we discard any content that doesn't match that.

[2020-08-01 10:46] CYBAI opened #27476 "Fail to get font handle in canvas fill_text"
While trying to access [this page from a Taiwanese magazine publisher](https://web.cw.com.tw/corporate-political-money-2020/index.html) for showing some data with D3, I can't see the page rendered correctly and will see following panic message.

<details>

<summary>Open to see full backtrace</summary>

[code]

</details>

| Firefox | Servo |
| --- | --- |
| <img width="1136" alt="image" src="https

[2020-08-01 12:49] jdm commented on #27476
Same issue as https://github.com/jrmuizel/raqote/issues/150 and #20445.

[2020-08-01 12:51] jdm commented on #27476
We will need to implement our own text drawing routines that do font fallback. We can start by copying the one from raqote and skipping characters that don't give us usable glyphs.

[2020-08-01 14:49] jdm opened #27477 "texImage2DBadArgs.htm aborts in ASAN builds"
The root cause here is https://github.com/servo/ipc-channel/issues/268. Found via #27474.

[2020-08-01 14:51] jdm commented on #27477
Also observed in gl-teximage.html:
[code]

[2020-08-01 17:46] camelid commented on #27441
So would this just entail changing all calls of `OutputDebugString(...)` to `cout << ...`?

[2020-08-01 19:14] jdm commented on #27441
In the function that I linked, yes.

[2020-08-02 01:29] jdm commented on #27472
This is a different stack trace from the same changeset:
[code]

[2020-08-02 01:30] jdm commented on #27472
ASAN in #27474 did not appear to expose any new output, sadly.

[2020-08-03 15:12] paulrouget commented on #27435
Ok - that was a lie.

These pointers were pointing to non boxed values.

Fix incoming.

[2020-08-03 17:32] camelid commented on #18479
triage: is this still an issue?

[2020-08-03 17:44] SamRodri commented on #27457
Thanks for the tip, I implemented pixel snapping in our layout pass and now everything renders correctly.

We apply this rounding algorithm to the widths and bounds of the border (and other layout values):

[code]

Because this changes the widget size and that affects other widgets, I don’t think the problem can be fully fixed in Webrender.  If the border display item was changed to handle misalig

[2020-08-03 17:52] SimonSapin commented on #27457
@SamRodri Who is "we" here? What is this code part of?

[2020-08-03 18:06] SamRodri commented on #27457
Me and my brother are developing a rust GUI framework in our spare time that we have not made public yet. We don't want to add another dead GUI project so we are waiting to see if it pans out first.

[2020-08-03 18:10] SimonSapin commented on #27457
Is this framework based on Servo, or just WebRender? If the latter, https://github.com/servo/webrender/issues or https://bugzilla.mozilla.org/ might be more relevant issue trackers.

[2020-08-03 18:16] SamRodri commented on #27457
Just WebRender, I recreated our bug in Servo because I was expecting it to work so I could copy your layout code 😉

I opened a WebRender issue also, but like I said I don't thing there is a bug in WebRender, if you give it properly aligned values it works.

[2020-08-04 07:53] paulrouget commented on #18479
Yes. Still relevant.

[2020-08-04 10:54] paulrouget commented on #27419
I transformed the regular pref panel into a white listed list of preferences, with a checkbox to switch back to a regular list.

It's fairly simple to add a pref to this. I added a XML file listing the white listed pref, with their respective descriptions:

[code]

<img width="1079" alt="Screen Shot 2020-08-04 at 12 50 40" src="https://user-images.githubusercontent.com/373579/89285756-3e0dac80-d65

[2020-08-04 12:58] jdm opened #27492 "Nightly FxR closes on startup"
Installing and launching the latest UWP nightly doesn't work, and the stdout.log doesn't show anything interesting.

[2020-08-04 13:22] jdm commented on #27492
Yikes.
[code]

[2020-08-04 13:23] jdm commented on #27492
I wonder if this is a regression from https://github.com/servo/servo/pull/27207?

[2020-08-04 15:41] jdm commented on #27492
In https://github.com/servo/ms-angle/blob/dd8ed21d1d992acdf1b0d4c4e098e7d5f387f035/src/libANGLE/renderer/d3d/d3d11/InputLayoutCache.cpp#L218, `attrib` is null because `currentAttributess` has two elements and the first is null. I'm bisecting webrender right now to track down the revision that introduced this.

[2020-08-04 15:56] asajeffrey commented on #27468
This is the minimal list, to provide an implementation of the XR Layers spec which does not support the `layers` feature (so doesn't support quad layers etc.).

[2020-08-04 16:03] asajeffrey opened #27493 "Support WebXR Layers other than projection layers"
The `layers` feature descriptor enables layer types other than projection layers. https://immersive-web.github.io/layers/#feature-descriptor-layers

[2020-08-04 16:03] jdm commented on #27492
This is a regression from https://github.com/servo/webrender/commit/f2d3286eef023370096abf04e943b16cf6dc6489.

[2020-08-04 16:04] asajeffrey commented on #27468
I filed a separate issue https://github.com/servo/servo/issues/27493 for the `layers` feature descriptor.

[2020-08-04 16:25] jdm commented on #26820
I observe this with the non-UWP windows builds as well. I don't have nvidia drivers, and this happens whether I pass `--angle` or not.

[2020-08-04 16:32] #27435 closed

[2020-08-04 17:08] Manishearth commented on #27419
Can you include the hand input pref?

[2020-08-04 19:12] #27395 closed

[2020-08-04 19:16] jdm opened #27496 "html2canvas doesn't work"
Here's a simple [codepen](https://codepen.io/art-jamesj/pen/gOrObqE) to show the issue. It works fine in chrome, but not in servo on macos or hololens.

Note, to make codepen draw ok on servo, Change View -> Full Page View. Perhaps this is another issue. :)

cc @artificial-jon

[2020-08-04 19:17] jdm commented on #27496
http://html2canvas.hertzen.com/documentation/

[2020-08-04 19:25] jdm commented on #27496
The output from my local build looks a lot like #27476.

[2020-08-04 19:31] jdm commented on #27472
I was able to reproduce the crash in a debug build by closing the window shortly after startup.

[2020-08-04 20:12] artificial-jon opened #27497 "threejs stats panel leaks much memory"
This [statistics panel is commonly used with threejs](https://github.com/mrdoob/stats.js/tree/master/src).

If I load a [simple threejs sample](https://threejs.org/examples/#webgl_geometry_colors) from their webpage that uses the stats panel (which is common), my servo memory use explodes.

[2020-08-04 20:41] jdm opened #27498 "Canvas text rendering baseline calculation is incorrect"
[code]
In firefox, this shows the text in the top left corner of the canvas. In servo, we subtract the font's ascent from the y coordinate and draw the glyphs outside of the canvas boundary.

[2020-08-04 20:52] jdm commented on #27498
I believe the issue might be that we're not converting the font's ascent ino CSS pixels?

[2020-08-04 20:56] jdm commented on #27498
Actually I think the issue is we get the metrics from font-kit in font units and treat them as pixels.

[2020-08-04 23:31] jdm opened #27501 "Integrate audio with gstreamer plugin"
I poked around a bit in the media crate to see what might be possible, so I'm writing down what I learned.

There are two sources of audio that we care about:
* `<media>` elements
* WebAudio

I believe they currently would need to be handled independently.

For media elements, it looks like we could make use of the same infrastructure that's used for MediaElementAudioSourceNode, which [sets the `a

[2020-08-05 09:36] paulrouget commented on #26523
Fixed by #27438.

[2020-08-05 09:36] #26523 closed

[2020-08-05 09:37] paulrouget commented on #27419
It's included. See all the included prefs here: https://github.com/servo/servo/pull/27491/files#diff-4d55fbfbb42ef6218f664827cd7c29d5R120

[2020-08-05 13:10] #27419 closed

[2020-08-05 14:06] paulrouget commented on #27344
Fixed by #27438

[2020-08-05 14:06] #27344 closed

[2020-08-05 14:09] paulrouget commented on #27278
Now that we only show a subset of the preferences, we could just add shell.homepage to the promoted preference list.

[2020-08-05 14:19] jdm commented on #27278
Exposing some kind of bookmarks UI might be a more effective way of addressing the UX issue (#27416). However, depending on the UI for the homepage preference, maybe that could be a useful stepping stone? As long as the user isn't required to type it in if they're already looking at it.

[2020-08-05 14:21] jdm commented on #27416
Here's one possible UX for this:
* add a new "bookmark this" button next to the URL bar
* add a "view bookmarks" button somewhere in the main button strip

When "view bookmarks" is pressed, pop up a scrollable list of stored bookmarks. Ideally, each entry should have a button to delete it as well.

[2020-08-05 14:46] jdm opened #27507 "Include app version number in crash report"
This will help us avoid getting confused by crashes in older app version later on.

[2020-08-05 15:00] jdm commented on #27492
Reopening this and removing it from the milestone because #27500 fixed the issue in nightlies. We won't reland the changes until there's a solution for the startup crash.

[2020-08-05 15:19] jdm opened #27508 "Create a script for updating WebGPU CTS"
https://github.com/servo/servo/pull/27402 included separate commits to import the testsuite. We should automate the steps that will need to be repeated in the future in a python script.

[2020-08-05 15:53] jdm opened #27509 "Panic after closing devtools panel"

[2020-08-05 15:57] jdm commented on #27509
Specifically, when I open the devtools panel, change a preference, close the panel, then refresh the page, I get a panic:
[code]

This is now picked up since the new crash reporter landed.

[2020-08-05 16:20] jdm commented on #27492
This is not fixed by upgrading ANGLE.

[2020-08-05 16:47] jdm commented on #27509
This looks like it would be fixed by the UWP devtools client sending a "detach" message; right now the browsing context actor holds on to streams and tries to send data on them forever. A good backup fix would be to use fewer unwraps in the code that sends data over the streams.

[2020-08-05 17:48] jdm opened #27510 "devtools preference actor returns fake values"
https://github.com/servo/servo/blob/90aa0a3d41bc0ff173d061f42911bd72e0dfca6a/components/devtools/actors/preference.rs#L33-L58

This should be using the preference API to retrieve the real values and sending them in the response messages.

[2020-08-05 18:41] jdm opened #27511 "Devtools don't report page errors for iframes"
http://webglsamples.org/WebGL2Samples/ has an iframe that contains the actual webgl content that can trigger page errors. None of these errors appear in the in-app devtools console.

[2020-08-05 22:43] femisco commented on #27510
I would like to work on this issue if you don't mind

[2020-08-05 22:52] atouchet opened #27514 "Universal support for macOS builds"
With ARM Macs coming later this year it would be nice to have Universal support for macOS builds to support them natively.

[2020-08-06 02:41] jdm opened #27515 "CanvasRenderingContext2D.fillText doesn't draw text in UWP"
Any attempt to draw text on a 2d canvas in Firefox Reality will run into problems loading fonts and silently discard the operation. This will be fixed by updating to reverting the commits in https://github.com/servo/servo/pull/27500, but that is blocked by fixing https://github.com/servo/servo/issues/27492.

[2020-08-06 02:42] jdm commented on #24647
So far the defaults appear to be working out ok.

[2020-08-06 02:42] #24647 closed

[2020-08-06 02:43] jdm commented on #24484
These were addressed.

[2020-08-06 02:43] #24484 closed

[2020-08-06 02:45] jdm commented on #26514
Duplicate of #27370.

[2020-08-06 02:45] #26514 closed

[2020-08-06 10:56] okias commented on #26208
rebuilding `media-libs/gst-plugins-base` with `X` use flag resolves issue on Gentoo.

Correct solution would be for Servo to detect on which protocol/server it does run and use appropriate **GstGLDisplayX11** or **GstGLDisplayWayland** (which isn't used currently on Wayland setups).

[2020-08-06 11:01] okias opened #27518 "4K issues with window content"
Laptop: XPS 9350, 4K 3200x1800, Intel GPU 620.
Software: Mutter + GNOME Shell 3.36.4
Servo: 2020-08-06 tarball Linux x64
Session: Wayland

Application first run:
![Screenshot from 2020-08-06 12-57-15](https://user-images.githubusercontent.com/2457435/89524313-9fb25000-d7e4-11ea-9b0f-6ba9150881a5.png)
Resize to half-screen:
![Screenshot from 2020-08-06 12-57-38](https://user-images.githubuserconten

[2020-08-06 11:05] okias commented on #23799
@azer can you retest? I just run Servo on GNOME-Shell & Wayland session and it works somehow #27518 (check screenshots)

[2020-08-06 13:51] jdm commented on #23705
I suspect the solution for point #1 is to send a pull request to glib that replaces the use of CSIDL_INTERNET_CACHE in https://gitlab.gnome.org/GNOME/glib/-/blob/d7e0fde3caba96a14ed7ef693f2d08f944ff1e5b/glib/gutils.c#L1823 with FOLDERID_InternetCache from https://docs.microsoft.com/en-us/windows/win32/shell/knownfolderid. There's a patch at https://github.com/dieterv/glib/commit/8f3f33c1cda14e25cc

[2020-08-06 14:11] jdm commented on #26208
Upgrading to a gstreamer version that incorporates https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/-/commit/dd5f7f1b might help. However that may still require choosing x11 or wayland support at build time.

[2020-08-06 14:57] jdm opened #27519 "Create a homepage for testing new FxR release candidates"
https://github.com/servo/servo/wiki/HoloLens-2-test-plan

This homepage should contains links to pages for each of the features we want to verify:
* link to https://servo.org/hl-home/ (for webgl/webxr validation, as well as page scrolling)
* page that has web console interactions
* page with media smoketests (like #27471)
* page with text form inputs
* link to badssl.com
* make a page with a fxr:/

[2020-08-06 15:57] jdm commented on #27519
I've put together a simple test of tests at https://www.joshmatthews.net/hl2-test/. After I verify they're behaving as expected, I'll turn it into a repository that lives in the servo org.

[2020-08-06 16:07] jdm opened #27520 "Self-signed cert options should be near the top of the page"
On the HL2, it's possible for the cert contents to be require scrolling, so the buttons to handle the error are not in view. This could be confusing for developers.

[2020-08-06 16:08] jdm opened #27521 "Fallback home button overrides override default url"

[2020-08-06 16:38] jdm opened #27523 "Backspace in a textarea at the beginning of a line deletes the contents of the previous line"
[code]
If you position the cursor on the second line and press backspace, the contents of the first line disappear.

[2020-08-06 16:41] jdm opened #27524 "Devtools don't report source information for uncaught exceptions"
`<script>new WebGLRenderingContext()</script>` shows a line and column number, but not a source file. `<script> throw "oh no"</script>` shows no source file, and line and file numbers of 0.

[2020-08-06 16:43] jdm opened #27525 "Navigating through session history doesn't update the devtools panel"
It should be treated like any other navigation and clear the contents of the console.

[2020-08-06 17:18] jdm opened #27526 "JS engine crash using media session play/pause button"
From https://www.joshmatthews.net/hl2-test/media.html when using the desktop UWP app and the media session button to control playback:
[code]

[2020-08-06 17:26] brainwane commented on #10611
Regarding pip's dependency resolver: please [try the beta of the new resolver in pip 20.2](https://pip.pypa.io/en/latest/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020) and see whether that helps?

[2020-08-06 17:56] jdm opened #27527 "Unpausing videos is slow"
If I play the video in https://www.joshmatthews.net/hl2-test/media.html, then pause it, then continue playing it, there's a multisecond lag before the video actually unpauses.

[2020-08-06 18:07] jdm opened #27528 "Warnings from remote devtools in Firefox are confusing"
It complains about app version numbers and service workers and shows missing string values, and when things go wrong developers start to look for anything that looks out of the ordinary. We should figure out how to make the warnings not appear if we can.

[2020-08-06 18:12] jdm opened #27529 "Video elements trigger a crash in FxR"
Visit https://www.joshmatthews.net/hl2-test/media.html and press "add video", watch the browser crash in the C embedding layer. There's a missing host callback method.

[2020-08-06 18:30] jdm opened #27531 "All media manual tests fail on HL2"
https://www.joshmatthews.net/hl2-test/media.html works fine in desktop UWP, but none of the tests produce any sound on a hololens 2.

[2020-08-06 18:36] jdm opened #27532 "Support outputting GST_DEBUG to a log file from UWP app"
Right now it gets piped through the integrated logging mechanism, but for release builds it would be useful to have it be independent.

[2020-08-06 18:41] jdm opened #27533 "Adding newlines to textareas from UWP keyboard requires two presses"
For a given `<textarea>` on a HoloLens 2, pressing the return key first adds a space character to the end of a line, then pressing it again moves the cursor to the next line. I suspect this might be a `\r\n` thing.

[2020-08-06 18:44] jdm commented on #27528
![warns](https://user-images.githubusercontent.com/27658/89569881-574e5e80-d7f3-11ea-999a-3eb026d89697.png)

[2020-08-06 18:46] #27509 closed

[2020-08-06 19:05] asajeffrey commented on #27468
Samples at https://cabanier.github.io/WebXRLayers-samples/index.html, source at https://github.com/cabanier/WebXRLayers-samples

[2020-08-06 19:41] jdm opened #27535 "Intermittent error in /webxr/render_state_update.https.html"
I've seen this on CI a couple times in mac WPT runs:
[code]

[2020-08-06 20:30] #24604 closed

[2020-08-06 20:34] jdm commented on #27510
@femisco Great! You should know a couple things:
* https://github.com/servo/servo/wiki/Devtools describes how to connect to the devtools server from Firefox
* the preference API that I mentioned lives in [prefs.rs](https://github.com/servo/servo/blob/0573e9c60d080ab93b232c15de3cd460af43e1b8/components/config/prefs.rs). In particular, you can use the [pref_map](https://github.com/servo/servo/blob/0

[2020-08-06 20:58] femisco commented on #27510
Thanks, I will have a look at it and get back to you asap.

On Thu, 6 Aug 2020, 21:34 Josh Matthews, <notifications@github.com> wrote:

[2020-08-06 21:27] #27529 closed

[2020-08-06 21:27] #27526 closed

[2020-08-06 21:40] jdm commented on #27531
I believe this was a regression from https://github.com/servo/servo/commit/1a8c5fed6f53b2a4b5ed120193acd10a4ffcb2c6. I just noticed that my builds are using the media-dummy feature. Adjusting the checks at https://github.com/servo/servo/blob/776b564db1ec9a97b3a2c5e453b2de8564aa5414/python/servo/command_base.py#L864-L866 to include uwp is making it use the correct feature instead.