[2017-02-15 20:20] #15560 closed

[2017-02-15 20:28] jdm commented on #15570
https://github.com/w3c/csswg-test/issues/1200 and https://github.com/w3c/csswg-test/issues/1201 are likely causes of instability.

[2017-02-15 20:41] jonathandturner opened #15574 "Font rendering has streaks"
I just pulled up the GitHub front page in the most recent Servo and noticed that the font renders with streaks/lines between some of the characters.  You can see in the image below.

![screen shot 2017-02-16 at 09 38 32](https://cloud.githubusercontent.com/assets/547158/22994517/15022dd0-f42c-11e6-84fe-9e23fd3716c3.png)

[2017-02-15 20:43] jdm commented on #15571
First problem:
[code]
yields a thin black line in servo, and a full black page in Firefox.

[2017-02-15 20:45] jdm commented on #15574
I do not see this on macOS:
<img width="254" alt="screen shot 2017-02-15 at 3 45 02 pm" src="https://cloud.githubusercontent.com/assets/27658/22994662/bb01a6a8-f395-11e6-8d4e-8724fd413b9f.png">

[2017-02-15 20:47] jonathandturner commented on #15574
I'm on macOS also.  Could be video card?

I'm a MacBook Pro (Retina, 13-inch, Early 2015)

[2017-02-15 20:50] jonathandturner commented on #15574
Ah, got the repro.  Open it the GitHub window, then resize the window by resizing the left or right side.  After a bit of resizing the issue will appear.

[2017-02-15 21:22] josephfu1994 commented on #15339
@jdm Yes, this works for me. Thanks.
I would like to take this issue if no one is on it.

[2017-02-15 21:48] jdm opened #15577 "Google Maps fails with a GL assertion"
`./mach run http://maps.google.com`
[code]

[2017-02-15 21:51] jdm commented on #15577
This is panicking at https://github.com/emilio/rust-offscreen-rendering-context/blob/b2c3fc73558d9ee8095439a49da3a7ccaad059df/src/draw_buffer.rs#L116.

[2017-02-15 21:52] jdm commented on #14680
This error comes from [here](https://github.com/emilio/rust-offscreen-rendering-context/blob/b2c3fc73558d9ee8095439a49da3a7ccaad059df/src/draw_buffer.rs#L92).

[2017-02-15 21:54] jdm commented on #6805
On https://schteppe.github.io/p2.js/demos/ragdoll.html I see the same error as https://github.com/servo/servo/issues/14680 now.

[2017-02-15 22:11] codec-abc commented on #15572
Could you confirm that the link to download the last Windows version for servo is :
https://download.servo.org/nightly/windows-msvc/servo-latest.msi

[2017-02-15 22:41] mstange opened #15578 "Transparent canvas renders too dark (premultiplied colors are interpreted as unpremultiplied)"
This testcase should be completely white, but servo renders the canvas as a gray square:

[code]

[2017-02-15 22:42] mstange commented on #15578
<img width="532" alt="screenshot 2017-02-15 17 42 13" src="https://cloud.githubusercontent.com/assets/961291/22998737/1cfc3d72-f3a6-11e6-881f-ea0c4b3ce6ed.png">

[2017-02-15 23:19] emilio commented on #15162
If any of you want to take https://github.com/servo/rust-bindgen/issues/519, I'm happy to mentor it :)

It's not going to be servo code per se, though that crate is used in Firefox in order to generate bindings to the C++ part of the engine. It might be interesting if you're into bit-mangling :)

[2017-02-15 23:24] cseale commented on #15162
@emilio I'd be happy to take it on

[2017-02-15 23:25] emilio commented on #15162
@cseale awesome! We'll need https://github.com/servo/rust-bindgen/issues/512 to land first, but I can mark it as assigned already.

Thanks! (And wow, that was fast!)

[2017-02-15 23:31] cseale commented on #15162
@emilio not sure how I'll do at the bit mangling but might be interesting ^_^

[2017-02-15 23:34] emilio commented on #15162
@cseale Sounds great, just let me know if you need anything! (Let's move this conversation out of this issue though, since it's not the purpose of it, and our comments will be deleted :P)

[2017-02-15 23:36] leeoniya commented on #15572
yes this is still an issue. i could not get any site on the start page to display at all. instead servo chews through RAM and has to be process-killed to fully exit.

[2017-02-15 23:42] samgiles commented on #15569
In the meantime, we can implement the `Header` trait from Hyper for `url::Origin`.

I can work on this.

[2017-02-16 00:36] samgiles commented on #13400
Pretty sure I found a fix for this. PR incoming!

[2017-02-16 01:06] asajeffrey commented on #15507
Indeed, this would be an improvement. Related to #14692.

[2017-02-16 02:22] stshine commented on #7753
This is fixed by #14490.

[2017-02-16 02:23] stshine commented on #10724
This is fixed by #14490.

[2017-02-16 03:49] upsuper commented on #15483
This seems to be a bindgen bug then. `node.owner_doc().mType` returns `eXUL` while C++ code returns `eHTML`.

[2017-02-16 04:47] #10724 closed

[2017-02-16 04:47] jdm commented on #10724
Thanks!

[2017-02-16 04:49] jdm commented on #7753
Thanks!

[2017-02-16 04:49] #7753 closed

[2017-02-16 04:50] upsuper commented on #15483
I don't know why but it seems bindgen generates a 80 bytes useless padding for msvc build...

[2017-02-16 05:21] emilio commented on #15483
This is fixed in https://github.com/servo/servo/pull/15216. We check for field offsets too so now we should be sure we're accessing what we think we're accessing.

[2017-02-16 05:34] upsuper commented on #15483
So it isn't really ever a Stylo bug then, since Stylo build never depends on the broken bindgen. Let's close this bug.

[2017-02-16 05:34] #15483 closed

[2017-02-16 05:41] dpyro opened #15581 "error: invalid character in pkgid `.DS_Store_tests`: `.` for MacOS"
If a `.DS_Store` directory exists in certain test paths on MacOS (Sierra 10.12.3), `$ ./mach test-unit` results in:
[code]

[code]

[2017-02-16 05:47] SimonSapin commented on #15581
Can we stop `.DS_Store*` from being created in the first place? If not, we should probably exclude it in this code:

https://github.com/servo/servo/blob/ab197de04f51f4bc2ed504b846e12a0abedf8f1f/python/servo/testing_commands.py#L235

[2017-02-16 08:06] Manishearth commented on #8219
This doesn't seem to handle inheritance of the lang attr?

Gecko implements some of the lang stuff as if it were a pres attr setting a secret internal inherit property.

[2017-02-16 08:12] nox opened #15583 "Intermittent failure in /css-animations-1_dev/html/vh-interpolate-pct.htm, /css-animations-1_dev/html/vh-interpolate-vh.htm, /css-values-3_dev/html/vh-interpolate-vh.htm, /css-values-3_dev/html/vh-interpolate-pct.htm, /css-animations-1_dev/html/vh-interpolate-px.htm, /css-values-3_dev/html/vh-interpolate-vh.htm, /css-values-3_dev/html/vh-interpolate-px.htm"
[code]

[2017-02-16 08:16] dpyro commented on #15581
I believe MacOS itself creates the directory if you browse it with Finder. Considering that’s a core part of using the OS, I think we should just work to exclude it.

[2017-02-16 09:54] jdm commented on #15583
This test will need support in the code that decides whether to take a screenshot to delay until all running animations are complete.

[2017-02-16 10:47] emilio commented on #15583
See also https://github.com/servo/servo/pull/14285, which tried to do this, and failed miserably.

[2017-02-16 11:00] rwakulszowa commented on #15558
@bholley Well, I can try. I may need some guidance, though. If I understood correctly, three things need to be done:
- get rid of [deduplicate_property_declarations](https://github.com/servo/servo/blob/master/components/style/properties/properties.mako.rs#L345) - this shouldn't break anything, since it's just an optimization
- the virtual call - seen check thingy - I guess I may need some hints he

[2017-02-16 11:28] Ms2ger opened #15586 "Add an `as_str()` method to WebIDL enums"
The Rust code for them is generated by `CGEnum` in `components/script/dom/bindings/codegen/CodegenRust.py`.

Right now, for an enum `Foo`, we generate a `FooValues` module with a `strings` static slice that can be used as

[code]

It would be nicer to be able to write
[code]
hiding the slice of strings from callers.

Fixing this issue requires adding this method to the generated code, and replacin

[2017-02-16 11:28] highfive commented on #15586
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-16 11:29] Ms2ger opened #15587 "Avoid mem::transmute when using find_enum_string_index"
Currently, we pass a slice of strings to `find_enum_string_index` and cast the index into the enum type we want. It would be safer to replace the slice of strings with a slice of pairs `(string, enum value)`, and make `find_enum_string_index` generic in its return type, returning the enum value rather than the index.

Alternatively, we can replace the string table by code like

[code]

and make LL

[2017-02-16 11:29] Ms2ger commented on #15587
CC @nox @jdm

[2017-02-16 14:47] SimonSapin commented on #15542
I edited @nox’s message above to reflect the current state with https://github.com/servo/servo/pull/15588.

[2017-02-16 14:48] nox commented on #15542
Thanks @SimonSapin!

[2017-02-16 14:50] gregkatz commented on #15586
Hi, I'd like to take a crack at this one. I think I understand what's required, but I'm not super github savvy.

@highfive: assign me

[2017-02-16 14:50] highfive commented on #15586
Hey @gregkatz! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-16 15:16] canaltinova commented on #15491
To fix this, we need to wrap the second `Side::parse(context, input)` with `input.try()` in the parse function.
This fails currently because of [this line](https://github.com/servo/servo/blob/0c102e2350a637869cee2bc479ea4665f95e0ddd/components/style/properties/longhand/text.mako.rs#L66). This match arm returns Err, but also the ident value(which is wrong one) is consumed by `input.expect_ident()`.

[2017-02-16 15:16] highfive commented on #15491
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-16 15:17] canaltinova commented on #15491
@abhiQmar would you like to work on this?

[2017-02-16 15:35] canaltinova commented on #15489
This is also very similar to #15491. We need to wrap [this match](https://github.com/servo/servo/blob/78afe2b8d1dd170dc0870608aa10160b07b77a06/components/style/properties/longhand/inherited_table.mako.rs#L116-L119) with `input.try`.
`parse_non_negative` function consumes a token but when it fails, it never gives back this token. With the usage of `input.try` we are forcing it to give this token ba

[2017-02-16 15:35] highfive commented on #15489
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-16 15:36] nox opened #15591 "Rewrite the ban-type lint in Python"

[2017-02-16 15:36] highfive commented on #15591
cc @wafflespeanut

[2017-02-16 15:36] canaltinova commented on #15489
@UnICorN21 would you like to work on that?

[2017-02-16 15:53] canaltinova opened #15592 "`document.elementsFromPoint` is causing a black screen."
`document.elementsFromPoint` is currently causing a black screen in servo and page is becoming not responding.
Simple test case:
[code]

[2017-02-16 16:23] jdm commented on #15592
Script thread:
[code]
Layout thread:
[code]
This sounds very similar to https://github.com/servo/servo/issues/11223#issuecomment-222582634 which was fixed by https://github.com/servo/servo/commit/f08971ec88291f0800a308ef806eac8c0633cbb2. I think the problem here might be that Document::nodes_from_point does not actually trigger a reflow, so we have no way of determining that the display list is no

[2017-02-16 16:23] jdm commented on #15592
That being said, I believe that nodes_from_point _should_ trigger a reflow and we can early-return instead of trying to query layout if it returns false.

[2017-02-16 16:31] jdm commented on #15591
The disadvantage is that we would no longer have integration with compile-fail tests verifying some level of workingness.

[2017-02-16 16:40] abhiQmar commented on #15491
@canaltinova Yes, sure. Thanks.
@highfive: assign me

[2017-02-16 16:40] highfive commented on #15491
Hey @abhiQmar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-16 17:04] jdm commented on #14637
I can no longer reproduce the original panic reported here. Instead I get this after refreshing ~7 times:
[code]

[2017-02-16 17:17] samgiles commented on #13400
Fix is upstream in `mozprocess` https://bugzilla.mozilla.org/show_bug.cgi?id=1329528.

Not sure how servo picks up those dependencies.

[2017-02-16 17:49] SimonSapin commented on #15591
Can we have equivalent tests in Python?

[2017-02-16 18:25] Pryx opened #15597 "Scrolling below page end"
If you open https://seznam.cz servo lets you scroll below the page end. Happens on other pages too - for example https://en.wikipedia.org/wiki/Servo_(layout_engine) - but not so noticeably

[2017-02-16 18:28] #15586 closed

[2017-02-16 18:44] SimonSapin commented on #8219
That’s what what I understand is going on…

`SelectorMatches()`, when encountering `CSSPseudoClassType::lang`, calls `aElement->GetLang()` which looks for a `lang` attribute and calls `GetParent` in a loop. As far as I can tell, there is no caching at all.

http://searchfox.org/mozilla-central/rev/cac6cb6a10afb8ebb2ecfbeeedaff7c66f57dd75/layout/style/nsCSSRuleProcessor.cpp#1803
http://searchfox.or

[2017-02-16 18:50] zploskey commented on #15036
I've written a test and enabled the commented out test for the font module that was already there, with a couple of changes. I think I've made the changes necessary to resolve this issue, but when I run `mach test-unit -p style` none of the code that is enabled for specific products in the mako template seems to be built or executed. I actually just put a panic in one of the product-specific parts

[2017-02-16 19:39] bholley commented on #15558
That's correct, though note that (1) is not entirely an optimization given (3).

The virtual call for (2) is at https://github.com/servo/servo/blame/master/components/style/properties/properties.mako.rs#L1945 .

[2017-02-16 19:53] jdm commented on #15036
@Manishearth Any idea what's going on?

[2017-02-16 19:58] Manishearth commented on #15036
The `% if product == "gecko":` will not work in testing mode. I don't think there's a way around this.

Properties defined for specific products are enabled in tests. The conditional ifs are not.

[2017-02-16 20:01] zploskey commented on #15036
I guess I need to come up with an appropriate way to check if a struct has a field or not. Open to suggestions. I had been using `% if product == "gecko"`, etc.

[2017-02-16 20:03] Manishearth commented on #15036
No, you should use if product == gecko. It just means that your tests won't be able to cover that code perfectly. We have tests in gecko for this (but they're harder to run right now)

[2017-02-16 20:05] zploskey commented on #15036
In that case, I'm not sure how to test this issue at all, but I'll go ahead and open a work-in-progress pull request and let you have a look.

[2017-02-16 20:06] Manishearth commented on #15036
Sure. I might try to make the shorthand code more testable later.

[2017-02-16 20:30] jdm commented on #15197
@singhkaran The actual code changes here will be [minimal](https://dxr.mozilla.org/servo/rev/4a0b730cafd09fbd6e5cbc00727caef9b3cae315/components/style/properties/longhand/ui.mako.rs#19), but adding a unit test to `tests/unit/style/parsing/` to verify that the new keywords parse correctly would be a nice introduction to Rust.

[2017-02-16 21:08] singhkaran commented on #15197
Sounds great, I'll take it.

[2017-02-16 21:40] jdm opened #15600 "Tool that makes upgrading cargo dependencies easier"
This is the tracking issue for the work necessary for [this NCSU project description](https://github.com/servo/servo/wiki/Cargo-upgrade-service-project).

[2017-02-16 21:42] jdm opened #15601 "Tool to report new contributors across Servo repository"
This is the tracking issue for the work necessary for [this NCSU project description](https://github.com/servo/servo/wiki/Report-new-contributors-project).

[2017-02-16 21:43] jdm opened #15602 "Tool to track intermittent failures over time"
This is the tracking issue for the work necessary for [this NCSU project description](https://github.com/servo/servo/wiki/Tracking-intermittent-failures-over-time-project).

[2017-02-16 22:05] prampey opened #15603 "Add test documentation link to wpt's README.md"
For the sake of convenience, the documentation for writing web platform tests can be provided in the `wpt` README file. (http://testthewebforward.org/docs/testharness-library.html)

[2017-02-16 22:37] samliu commented on #15162
I'd be interested in working on some bugs! I'm learning rust but am comfortable with a variety of other environments. My main constraint is time, ideally there is a starter bug that isn't particularly time sensitive.

[2017-02-16 23:14] jdm opened #15605 "Replace uses of JS_GetArrayBufferViewType with high-level API"
We have [code](https://dxr.mozilla.org/servo/search?q=js_getarraybuff&=servo) that invokes the JS_GetArrayBufferViewType API from SpiderMonkey. Once https://github.com/servo/rust-mozjs/pull/340 merges, we can update the version of the `js` crate (`./mach cargo-update -p js`) and replace them with the new API added to the `ArrayBufferView` type.

Tests: `./mach test-wpt tests/wpt/web-platform-tests

[2017-02-16 23:14] jdm commented on #15605
@samliu Does this sound interesting to you?

[2017-02-16 23:24] samliu commented on #15605
If I understand correctly, this is a cleanup task to replace `JS_GetArrayBufferViewType` usages with `ArrayBufferView`, which is an interface that reduces our dependency on this SpiderMonkey specific API.

That sounds like a great first task, please assign it to me.

[2017-02-16 23:28] dbaron commented on #15004
For what it's worth, Gecko has this check in [a single place](http://searchfox.org/mozilla-central/rev/ea31c4b64f34a29415a69fb768f8051495547315/layout/style/Declaration.cpp#642).

[2017-02-16 23:51] UnICorN21 commented on #15489
@canaltinova OK, thx.
@highfive: assign me

[2017-02-16 23:51] highfive commented on #15489
Hey @UnICorN21! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-16 23:57] mbrubeck commented on #15001
With the latest pull requests, all these properties are supported in Stylo but some are still not supported or only partially-supported in Servo.

In Stylo they are now representated by bitflags that are shared with Gecko.  If we want to use the same representation in Servo, we'll need to change the way these bitflags are implemented to not depend on Gecko bindings.

[2017-02-17 00:10] jdm opened #15607 "Remove use of serde from core-graphics-rs"
The only use of the serde crate in the [core-graphics-rs](https://github.com/servo/core-graphics-rs) crate is for [CGFont](https://github.com/servo/core-graphics-rs/blob/75753f05d19febc3d5ee8cc064560e0b5edb567c/src/font.rs#L34-L48). We should remove it and make a SerializableCGFont wrapper type in Servo's code that gets used anywhere where we want to store a CGFont that needs to be serialized. Red

[2017-02-17 00:10] highfive commented on #15607
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-17 00:11] jdm commented on #15607
@jbg Would you like to work on this?

[2017-02-17 00:51] SimonSapin commented on #15558
(I was wrong in saying it’s only an optimization since it affects serialization in CSSOM.)

[2017-02-17 02:16] #15180 closed

[2017-02-17 05:37] fabricedesre commented on #14568
fwiw, I currently get a black screen after the gray one, and can't get any site to display.

[2017-02-17 06:15] KiChjang opened #15610 "Move style::thread_state to constellation::thread_state"
`thread_state.rs` checks whether the current thread calling `get()` is the script thread or the layout thread. This should really be located in the constellation component, since the constellation manages all information pertaining to threads.

Code: `components/style/thread_state.rs`
No need for any tests; if it compiles, it's good for a PR.

cc @jdm @Ms2ger @emilio @asajeffrey

[2017-02-17 07:14] Varentsov commented on #15487
I would try

@highfive: assign me

[2017-02-17 07:14] highfive commented on #15487
Hey @Varentsov! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-17 07:31] SimonSapin commented on #15610
Hang on, this requires adding a dependency from `style` to `constellation`, which:

* Would add a whole bunch of new crates to `build-geckolib`. Is a vague "it should be located there" worth that?
* Doesn’t work anyway since `constellation` depends on `gfx` which depends on `style`, and we can’t have cycles in the crate dependency graph.

[2017-02-17 07:33] SimonSapin commented on #15610
Also keep in mind that `build-geckolib` (whose root crate is `ports/gecko`) needs to compile on stable Rust.

[2017-02-17 08:20] jbg commented on #15607
Sure!
@highfive: assign me

[2017-02-17 08:20] highfive commented on #15607
Hey @jbg! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-17 08:58] karan1276 commented on #15460
So i have written some code and i want to test it. I am running a VM with just 1 core and only 2 GB RAM (yes not the best machine). Building entire servo project takes a lot of time (+1 hr) Is there a faster way to test my code? What if i just want to run/compile some parts?

[2017-02-17 08:59] Ms2ger commented on #15610
What Simon said.

[2017-02-17 08:59] #15610 closed

[2017-02-17 09:27] Manishearth commented on #15460
In this case it's a refactor so you just need to build it. Servo does take more than an hour to compile the first time around, but is faster (minutes) for most changes after that)

Is there a reason why you need a VM? Servo compiles on Windows.

[2017-02-17 10:49] #15548 closed

[2017-02-17 12:23] mmatyas commented on #14568
I've just tested the latest nightly build from [here](https://github.com/szeged/servo-nightly/releases) (with the included `resources` dir) on Odroid XU3 and Samsung S5, works for me on both of them. Servo launches into a gray screen, which turns into white on input/touch. It went from gray to black only once, but then turned white after I've touched it again.

If the problem persist, could you te

[2017-02-17 12:45] samgiles commented on #13400
This has been published to PyPI,
Looks like the fix should be picked up automatically \o/.

[code]

[2017-02-17 13:19] jbg commented on #15607
Pull requests:
 * https://github.com/servo/servo/pull/15615
 * https://github.com/servo/webrender/pull/896
 * https://github.com/servo/core-graphics-rs/pull/75

[2017-02-17 15:25] scineram commented on #12125
I am getting this error on 10 Home on first run. Expected?

![servo](https://cloud.githubusercontent.com/assets/16246063/23071050/6857c4a2-f52d-11e6-9d00-cff203cd5831.jpg)

[2017-02-17 16:55] fabricedesre commented on #14568
I'm using a Nexus 5 and a Sony z3c for testing. Both have an Adreno 330 GPU. I get the same behavior with the nightly builds.

Here's the logcat, starting with loading https://people-mozilla.org/~fdesre/servo/
I'm no sure how bad the fontconfig error is...

[code]

[2017-02-17 21:27] dcci commented on #15554
Any hints on how to debug this one?

[2017-02-17 22:12] dcci commented on #15554
The issue here is that Strawberry perl provides a Perl module which gets exported to PATH, so when the python script tries to execute `pkg-config` it gets the "wrong" one:

[code]

For now I worked around this temporarily renaming `pkg-config` but ideally we should be able to emit a better diagnostic for this case (I'll open a bug upstream)

[2017-02-17 22:16] zimio commented on #15591
I know python and I would like to try fixing this. I don't know how to start though. Where is the current ban-type lint and are there examples of other lints in python within the project?

[2017-02-17 22:19] jdm commented on #15591
`python/tidy` is our existing set of python lints, which can be run with `./mach test-tidy`. https://github.com/servo/servo/blob/master/components/script_plugins/ban.rs is the banning lint that's written in Rust right now, and https://github.com/servo/servo/blob/master/tests/compiletest/plugin/compile-fail/ban.rs and https://github.com/servo/servo/blob/master/tests/compiletest/plugin/compile-fail/

[2017-02-17 22:21] dcci commented on #15554
There's a discussion here:  https://bugzilla.mozilla.org/show_bug.cgi?id=513617

[2017-02-17 22:54] #15297 closed

[2017-02-17 23:07] lnishan commented on #15293
It seems that there's a dependency (which use OpenSSL) that doesn't use `OPENSSL_INCLUDE_DIR` nor `OPENSSL_LIB_DIR` while building.

This issue can be resolved with:

[code]

[2017-02-17 23:08] jdm opened #15621 "Resize event is not fired when resizing window in headless mode"
Compare:
[code]
[code]
[code]

[2017-02-17 23:20] lnishan opened #15622 "Additional notes on building servo on macOS Sierra"
1. There seems to be a new dependency (which uses OpenSSL) that doesn't use the environment variables `OPENSSL_INCLUDE_DIR` and `OPENSSL_LIB_DIR`.
A perhaps not-so-good solution is this:
[code]

2. If you happen to have turned off System Integrity Protection and re-linked gcc & g++ with the "real" ones, you need to set these 3 environment variables like so:
[code]

3. The build instruction for Mac

[2017-02-17 23:42] dcci opened #15623 "`assertion failed: width > 0 && height > 0 at platform\windows\font.rs:90`"
[code]

[2017-02-17 23:43] dcci commented on #15623
Steps to reproduce:
`mach.bat build --dev`
`mach.bat run https://google.com`
type something in the search bar, click search.

Platform: Windows 7
servo git revision:
[code]

[2017-02-18 00:41] simon-whitehead commented on #15343
I will get to this in the next few days - I've just had a busy week transitioning between day jobs. Sorry for the delay!

[2017-02-18 01:26] dcci commented on #15449
Sorry if I'm missing something obvious, but what's the policy for PR timeouts? If nobody is actually working on this I'd like to try implementing it.

[2017-02-18 01:50] jdm commented on #15449
It is good form to ask the person directly before starting to work on somethng. @ioctaptceb have you made any progress?

[2017-02-18 02:45] upsuper opened #15626 "Make atom generating part of build time bindgen"
I didn't do this since atom change doesn't break things that frequently, and that script doesn't seem to be closely related to bindgen itself. But there is a recent bustage caused from this, and I guess there could potentially be more. Also the script doesn't seem to be very complicated, so we can integrate it into build_gecko.rs to make it work at build time.

I'll work on this next week.

[2017-02-18 06:02] dcci commented on #15345
@Lyjame Are you still working on this one?

[2017-02-18 08:02] zimio commented on #15591
Great! Can I have this one assigned to me?

[2017-02-18 09:09] SimonSapin commented on #15591
Done! By the way `./mach test-compiletest` runs tests for Rust lints, while `./mach test-tidy --self-test` runs tests for Python lints.

[2017-02-18 12:09] montrivo commented on #15162
Hello,
I'd like to work on a rust issue. Beginning with the language, no previous experience.

[2017-02-18 13:49] jdm opened #15631 "Intermittent failure in fetch/nosniff/parsing-nosniff.html"
[code]

[2017-02-18 13:54] jdm commented on #15224
@seanlee31 Have you made any progress here?

[2017-02-18 13:55] jdm commented on #14975
#15148 ran into some problems due to the master of html5ever being different from the version that Servo was using. This is now available for anybody to work on again.

[2017-02-18 13:57] jdm commented on #12675
The documentation for serde_json lives at http://doc.servo.org/serde_json/index.html, and there's [to_value](http://doc.servo.org/serde_json/value/fn.to_value.html) and [to_string](http://doc.servo.org/serde_json/ser/fn.to_string.html) methods.

[2017-02-18 17:37] zploskey commented on #15224
The only dependency on the list currently < 0.1 is clippy_lints. @Manishearth appears to own the source repository. Mind bumping the version to 0.1.0?

[2017-02-18 17:43] nox commented on #15325
dwrote has been forked to the Servo organisation, while waiting for a 0.2 version to be published.

[2017-02-18 18:11] SimonSapin commented on #15224
Moving to https://github.com/Manishearth/rust-clippy/issues/1555. Thanks all :)

[2017-02-18 18:11] #15224 closed

[2017-02-18 18:31] #15556 closed

[2017-02-18 21:27] #15325 closed

[2017-02-18 21:43] seanlee31 commented on #14975
Hi there! I would like to work on this bug. I'm new to bugzilla/servo and may need some additional help. I've looked into the code and am not sure if the main problem was caused by  [escape](https://github.com/servo/html5ever/blob/master/src/serialize/mod.rs#L200-L213) mentioned in the first comments.
Thanks!

[2017-02-18 22:29] seanlee31 commented on #14975
Also as mentioned in the second comment where the [write_text](https://github.com/servo/html5ever/blob/master/src/serialize/mod.rs#L187-L215) says the content of script should be escaped. However, I cannot see that write_text has been called in any serializing methods. Where is this method being called?

[2017-02-18 22:52] gregkatz commented on #15587
Hi Ms2ger,

I was thinking about about trying to fix this one, but I have a couple questions. Should find_enum_string_index still be called that if it no longer returns an index? If I take the slice of pairs approach, can I remove the slice of strings (adjusting the as_str and to_jsval to use the pairs)?

Also, I have no idea how to go about writing a test for this.

[2017-02-18 23:31] jdm commented on #14975
That is correct.

[2017-02-19 00:23] seanlee31 commented on #14975
I've read thru past comments from the previous developer but not sure where to begin with. Also, the problem was fixed and started to occur again due to the inconsistency in html5ever that were being used?

Thank you for your answer!

[2017-02-19 01:01] jdm commented on #14975
No, the problem mentioned was in trying to use a local clone of html5ever in Servo, which is required in order to modify it and see the changes in Servo.

[2017-02-19 01:02] jdm commented on #14975
First: add the test that demonstrates the problem. Second: get a local clone of html5ever working. Third: fix the problem in html5ever and make the test pass.

[2017-02-19 02:34] seanlee31 commented on #14975
Okay I'll add some testcases to my local servo clone just like @tormeh did. But I'm not sure how to interact the testcases in local servo clone with the local clone of html5ever you mentioned since they're two different repos?
Also, can you please assign me to this bug?
Thanks!

[2017-02-19 04:05] jdm commented on #14975
Oh, I thought I had described that earlier, but it turns out I didn't! You want a [cargo override](http://doc.crates.io/specifying-dependencies.html#overriding-with-local-dependencies).

[2017-02-19 04:26] paulrouget opened #15634 "Is there a way to re-use Servo's Cargo.lock and rustc version from a third party project?"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

Using libservo in another project requires copying Cargo.lock from Servo, and also make sure we use the same rustc version.

Is there a Cargo mechanism that would improve this?

[2017-02-19 04:26] paulrouget opened #15635 "Dependency on /resources/"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

Using libservo in another project requires copying the `/resources/` directory into the embedder source code. Would it be possible to "include" these files within the libservo library?

[2017-02-19 04:26] paulrouget opened #15636 "Pass the initial URL as an argument to Browser::new, not as a opts property"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

Starting Servo from a third party application requires setting the initial URL as an option:

[code]

I would expect to be able to do that instead:

[code]

[2017-02-19 04:26] paulrouget opened #15637 "Make headless=false the default"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

I expect Servo headless mode to not be the default mode.

Starting Servo from a third party application requires headless to be set to false:

[code]

[2017-02-19 04:26] paulrouget opened #15638 "The pref layout.threads should have a default sensible value"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

Starting Servo from a third party application requires setting the `layout.threads` pref, otherwise pipeline creation fails:

[code]

[2017-02-19 04:26] paulrouget opened #15639 "Can we get rid of this glutin dependency? (libservo only)"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

On Windows (and Windows only since https://github.com/servo/skia/pull/126), Azure requires skia which require glutin. Would it be possible to avoid this dependency?

[2017-02-19 04:26] paulrouget opened #15640 "using libservo should only require the servo crate"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

As of now, servo_geometry::ScreenPX, style_traits::cursor and webrender_traits::ScrollLocation are required too.

We have to use:

[code]

Where we'd like to be able to do:

[code]

[2017-02-19 04:26] paulrouget opened #15641 "load_error is never called by Servo"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/issues/1_

`WindowMethods::load_error` is never called by Servo. I think it's dead code.

[2017-02-19 04:26] paulrouget opened #15642 "We need a way to be notified when the URL changes"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

See also https://github.com/servo/servo/issues/15439

Maybe `set_page_url` should be called more often (on head_parsed and when the history state changes).

[2017-02-19 04:26] paulrouget opened #15643 "We need a history_changed method/event to update the back/forward buttons"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

The load_start and load_end WindowMethods come with the back/forward history state, but that's not enough. Maybe the history state changed without navigation.

Maybe a WindowMethods::history_changed method.

[2017-02-19 04:46] paulrouget opened #15645 "Improve libservo API (WindowMethods and WindowEvent)"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

As of now, the embedder must implement the `WindowMethods` trait.

I would split these methods in 4 groups:

- asking the embedder to perform an action
  - prepare_for_composite
  - create_compositor_channel
  - present
- asking the embedder about the geometry of the viewp

[2017-02-19 06:11] seanlee31 commented on #14975
I just read thru the tutorial but now I'm confused with the relationship between servo and html5ever..
I thought html5ever is just a cargo crate (my understanding is its like a dependency for node.js) and I cant find where the source file pf html5ever in servo source files if the browser have applied it.

Sorry for too many questions.. still trying to get along with this!

Thanks!

[2017-02-19 08:08] simon-whitehead commented on #15343
Just to clarify, should I be implementing `parse_non_negative` in the PR as well. If so, should it error on positive values? @jdm @upsuper

[2017-02-19 08:31] upsuper commented on #15343
I think you should implement `parse_non_negative` rather than altering `parse`, since there are properties which do accept negative time values (e.g. `transition-delay`).

[2017-02-19 08:36] simon-whitehead commented on #15343
Sure, but the `parse` method is implemented on the `transition-duration` "type" (still trying to wrap my head around what to call these types that are declared via the mako template). Changing the logic in the specific function you linked to in the original post shouldn't change anything other than `transition-duration`, should it?

[2017-02-19 08:41] upsuper commented on #15343
Oh, you mean that one. I thought you are talking about `Time::parse`. I think the better solution would be implement a `Time::parse_non_negative` and make `transition-duration`'s `parse` use it. There are other properties which may need to parse non-negative time as well, e.g. `animation-duration`.

[2017-02-19 08:42] simon-whitehead commented on #15343
Great. That sounda like a better idea. Thanks!

[2017-02-19 10:11] nox opened #15648 "Update web-platform-tests"
I want https://github.com/w3c/web-platform-tests/pull/4800

[2017-02-19 10:15] nox commented on #15622
What dependency?

[2017-02-19 10:37] lnishan commented on #15601
Can non-NCSU students take on this project?

I'm interested in getting this project started, but I wonder if this is a reserved project for NCSU students. At the moment, this project seems a lot more approachable to me compared to other ones listed in the Wiki.

[2017-02-19 10:40] lnishan commented on #15622
@nox

I'm not sure which one because I only looked at the error message.

It's reported in #15293 by @samuknet .

[2017-02-19 11:40] nox commented on #15622
There is something wrong on your system, because that's not reproducible here with macOS Sierra. I don't see @samuknet mentioning any other dependency in #15293.

I wonder if that is related to the fact that you seem to have a non-standard installation of everything with what you say about "real" gcc and g++ (whatever that is).

[2017-02-19 11:40] nox commented on #15622
At the very least, there is no way the README should mention `sudo ln -s` workaround.

[2017-02-19 13:11] #14967 closed

[2017-02-19 13:39] lnishan commented on #15622
@nox Agree on not mentioning that workaround. I do not think that's appropriate as well.

Well yes, I do have a non-standard installation.
Please correct me if I'm wrong as I do have very limited knowledge when it comes to these things.
`gcc` and `g++` were linked to `clang` `clang++` on a fresh macOS and XCode. This led to a lot of issues as I was compiling other projects from source. So I re-lin

[2017-02-19 13:56] #13266 closed

[2017-02-19 14:11] samuknet commented on #15293
That doesn't fix it for me unfortunately.  I think the problem is local to my machine, something to do with my virtual env config.

[2017-02-19 14:38] jdm commented on #14975
Yes, Servo uses html5ever in the code in components/script/dom/parser/.

[2017-02-19 14:39] jdm commented on #15601
Sorry, we will need to wait for those students to turn it down before anybody else can work on it.

[2017-02-19 15:18] lnishan commented on #15601
@jdm
No problem! I understand :)

Thanks for replying!

[2017-02-19 17:15] deror1869107 commented on #15622
@lnishan

Did you  do ```./mach clean``` after rebuilding servo with environment variables?

It was mentioned on README.md.

I can build servo successfully after ```./mach clean``` and setting the environment variables on macOS 10.12.3.

[2017-02-19 18:07] lnishan commented on #15622
@deror1869107

I think I did, but I'm not 100% sure.

[2017-02-19 18:12] niki-04 commented on #15203
Ok so @Wafflespeanut  I did all that and wrote the test case as follows
    mod effects {
        pub use super::*;
        pub use style::properties::longhands::box_shadow::SpecifiedValue as BoxShadow;
        pub use style::values::specified::Shadow;
        #[test]
        fn box_shadow_should_serialize_correctly() {
            let mut properties = Vec::new();
            let color = Some(CSSC

[2017-02-19 19:41] jdm commented on #15203
It sounds like you need to rebase your changes on top of a more recent master. The style system changed to include more box types last week.

[2017-02-19 19:41] jdm commented on #15203
Sorry, ignore that comment. I totally misread the error.

[2017-02-19 20:37] #15622 closed

[2017-02-19 21:47] zimio commented on #14887
I would like to pick this one up. Who is the mentor?

[2017-02-19 21:59] jonathandturner opened #15651 "Windows webrender exception"
Running a recent build, I'm seeing this when trying to open reddit.  I'm trying to track down why https://github.com/servo/servo/issues/15428 happens.

[code]

[2017-02-19 22:01] glennw commented on #15651
cc @vvuk and @changm

[2017-02-20 02:19] deror1869107 commented on #15636
I would like to work on this!

[2017-02-20 03:55] paulrouget commented on #15636
That would be great, but I'd like first to get the confirmation from someone else that this is a valid proposal.

@Ms2ger or @jdm any opinion on this?

Ideally, Servo could run with its default options.

[2017-02-20 05:13] #15551 closed

[2017-02-20 06:35] Wafflespeanut commented on #15203
@niki-04 Yes, so you need to use the imported `SpecifiedValue`. As you [may have seen](https://doc.servo.org/style/properties/longhands/box_shadow/struct.SpecifiedValue.html), the specified value is actually a struct wrapper around `Vec<Shadow>`.

So, you need to do something like,

[code]

and it should work :)

[2017-02-20 07:07] paulrouget opened #15655 "Ask the embedder the permission to navigate"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

We want the embedder to have the ability to prevent navigation. For example, if the embedder wants to open "http://reddit.com" link in a different browser, it needs to be able to cancel the navigation and handle the URL itself.

[code]

[2017-02-20 07:23] Rajkumar1106 commented on #5643
Can someone help me out?
I get the following Exception when running in Yocto...

pci id for fd 12: 80ee:beef, driver (null)

I guess its the problem that kernel unable to load the graphics driver..
Could someone give me suggestion to overcome the crash?
Thanks in advance..

[2017-02-20 09:55] #15312 closed

[2017-02-20 10:26] Ms2ger commented on #15587
Perhaps not. Maybe `find_enum_value`?

Yep, that was the idea.

No need to; if it compiles, that should be enough.

[2017-02-20 11:34] Ms2ger commented on #15636
I think the whole setup with `InitLoadUrl` is kinda weird, but I'd say the proposed change won't make anything worse, so let's go ahead and do it.

[2017-02-20 11:46] karan1276 commented on #15490
What should be the output of the test code? The specs says <length>{2,4}. So 3 lengths should give error right?

[2017-02-20 12:03] paulrouget commented on #15636
@deror1869107 It's yours :)

[2017-02-20 12:12] upsuper commented on #15490
`{2,4}` means at least 2 and at most 4. See [CSS Values spec](https://drafts.csswg.org/css-values-3/#component-multipliers).

You can put the test in https://github.com/servo/servo/tree/master/tests/unit/style/parsing there are parsing tests for many properties. Probably adding a test in `inherited_text.rs` for `text-shadow` would be enough.

[2017-02-20 12:12] #15640 closed

[2017-02-20 12:24] karan1276 commented on #15490
Cool, thanks.

I think you miss read :). I will add the test. But you gave a "test code" at the beginning of the issue:
[code]

When i run this test code what result should be alerted ?

[2017-02-20 12:34] upsuper commented on #15490
I included that one for manual test to confirm the bug. It isn't for being added to the test suite.

[2017-02-20 12:37] karan1276 commented on #15490
Okay, when i runt that test code i get `decl: -1px 0px 1px 1px` i am not sure if this is the correct serialization for the property. Can you confirm ?

[2017-02-20 12:39] upsuper commented on #15490
The test code should return empty in thie case, since the third value is negative, which is invalid.

[2017-02-20 12:42] karan1276 commented on #15490
Right, but it should get parsed for the "spread distance" value which comes after "blur radius"

[2017-02-20 12:44] upsuper commented on #15490
No. The third value is always blur radius. The third value should never be parsed as spread distance.

[2017-02-20 12:58] karan1276 commented on #15490
Okay thanks

[2017-02-20 13:53] rwakulszowa commented on #15320
I believe this issue can be closed - deduplication will be removed (#15558)

[2017-02-20 13:55] batisteo commented on #11128
For Fedora: `sudo dnf install dbus-devel`

[2017-02-20 14:20] deror1869107 commented on #15636
@paulrouget

Could I replace ```Servo::Browser::new``` with ```pub fn new(window: Rc<Window>, url: Option<ServoUrl>)```?

[2017-02-20 14:33] #15648 closed

[2017-02-20 15:15] Ms2ger opened #15660 "Remove support for Blob::{close, isClosed}."
See https://github.com/w3c/FileAPI/pull/68

Blocks #10778.

* Code: `components/script/dom/blob.rs`, `components/script/dom/webidls/Blob.webidl`.
* Test: `/FileAPI/historical.html`.

CC @asajeffrey

[2017-02-20 16:34] jdm commented on #15651
Looks identical to #15623.

[2017-02-20 16:36] bzbarsky opened #15661 "Relative positioning of block containing inline is not handled corrrectly"
Consider this testcase:

    <!DOCTYPE html>
    <span style="position: relative; left: 200px" onclick="this.style.left = '300px'">
      Click me; all the text should move 100px to the right.
      <div>Some more text</div>
    </span>

both the initial rendering and the rendering after the click are wrong.

[2017-02-20 16:41] jdm commented on #14887
@zimio We will continue to always call children_changed, but certain pieces of code can move the code that runs in response to children_changed into the new handler which is called less often.

[2017-02-20 16:56] paulrouget commented on #15636
I think so.

Does the ServoUrl need to be an `Option`? Is there any reason to support `url:None`?

[2017-02-20 17:15] deror1869107 commented on #15636
If url is None, it would use default url in opts::get()

[2017-02-20 18:57] Aaron-Tang commented on #15169
Um I have a few questions about the linked code; I'm new to rust and I'm trying to understand the code first:

- What does "fn to_css_declared<W>(&self, dest: &mut W) -> fmt::Result where W: fmt::Write" do?
- Do border_top_left_radius and the other ones have two fields (as in the example you gave above it seems that border_top_left_radius is equal to both 1px and 5px).
- If yes how would i access

[2017-02-20 19:12] #15088 closed

[2017-02-20 19:52] KiChjang commented on #14975
The repository for html5ever is in github.com/servo/html5ever.

[2017-02-20 20:54] jonathandturner commented on #15651
@jdm - could be.  I'm seeing this behaviour on all four of the 2nd row of the showcase (reddit, hacker news, servo site, rust site) as well as wikipedia.

[2017-02-20 21:24] Soletek commented on #15651
Seems this problem occurs when rendering text phrases containing spaces. DirectWrite's GetAlphaTextureBounds method returns zero-sized rectangle for the space glyph which gets caught in assertion at [servo-dwrote](https://github.com/servo/webrender/blob/master/webrender/src/platform/windows/font.rs#L90).

[2017-02-20 23:25] seanlee31 commented on #14975
Thanks for the info! I'm having a better idea on how Servo works now! So basically it does not include the actual package of the dependencies it uses but the link to their repo with current version?

[2017-02-20 23:39] jdm commented on #14975
If I understand your question correct, the answer is yes. Cargo.lock includes the precise information about where to find the html5ever package and what version to use, and part of the build process is obtaining a copy of that source code locally and linking it with Servo's code. The cargo override is an instruction to the build system to use that particular source code instead of the one specifie

[2017-02-21 03:32] upsuper commented on #15169
* `to_css_declared` serializes the longhand property and write the result into `dest`
* `border_top_left_radius` and others are defined in [longhand/border.mako.rs](https://github.com/servo/servo/blob/b85e1f5f0caad650efe16bfdbadaebff5dcf70fa/components/style/properties/longhand/border.mako.rs#L67-L73), and their type is [`BorderRadiusSize`](https://doc.servo.org/style/values/specified/struct.Borde

[2017-02-21 03:36] paulrouget commented on #15636
Any reason to keep url in opts?

[2017-02-21 03:45] cbrewster commented on #15636
@paulrouget we used the url in opts for browserhtml https://github.com/servo/servo/blob/master/resources/package-prefs.json#L5. This allows us to not need a script like the old `runservo` to provide the bhtml url to servo.

[2017-02-21 04:05] paulrouget commented on #15636
@cbrewster We can read the pref in main() instead. `shell.homepage` would be used if the url is not passed as an argument. I'm trying to decouple the "app" logic and the "web engine" logic. I think it's up to the app to set the initial URL, and I'm not sure the initial url should be part of opts.

So basically, I would suggest that we do:

1. remove Opts::url
2. move the logic of computing the ini

[2017-02-21 04:58] jdm opened #15668 "Intermittent OK in /workers/data-url.html"
[code]

[2017-02-21 05:42] cbrewster commented on #15636
@paulrouget sounds good!

[2017-02-21 10:20] #15489 closed

[2017-02-21 13:15] #15587 closed

[2017-02-21 13:29] nox opened #15671 "Implement ImageData constructors"
[`Constructor(unsigned long sw, unsigned long sh)`](https://html.spec.whatwg.org/multipage/#pixel-manipulation:dom-imagedata-3) and [`Constructor(Uint8ClampedArray data, unsigned long sw, optional unsigned long sh)`](https://html.spec.whatwg.org/multipage/#pixel-manipulation:dom-imagedata-4).

I wonder if `CanvasImageData.createImageData()` can be implemented at the same time.

Files:
 * component

[2017-02-21 14:46] highfive commented on #15671
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-21 14:50] jdm commented on #15671
Tests: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/the-canvas-element/historical.html` and `./mach test-wpt tests/wpt/web-platform-tests/webgl/conformance-1.0.3/conformance/textures/tex-image-with-format-and-type.html` (for `createImageData`). We should [write](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) some new tests verifyi

[2017-02-21 14:55] jdm opened #15673 "Make tidy check for merge commits"
Rather than always pointing them out in reviews, we can make our tools (and therefore travisCI) do this instead.

[2017-02-21 14:55] highfive commented on #15673
cc @wafflespeanut

[2017-02-21 14:55] highfive commented on #15673
cc @wafflespeanut

[2017-02-21 15:39] #15605 closed

[2017-02-21 18:58] MortimerGoro commented on #14568
Hello,

The MozVR team wants a full working Servo Android browser :) I have been debugging some of the issues on Android. This is the current status:

- I have implemented the missing WindowProxy on Android. Now input events are not required to see anything on screen or tu run requestAnimationFrame/timers. PR submitted to android-rs-glue upstream https://github.com/tomaka/android-rs-glue/pull/127

[2017-02-21 19:08] jersobh opened #15677 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-ccc1df2
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-02-21 19:18] changm commented on #15651
Thanks for finding this. Should be fixed with the PR.

[2017-02-21 20:18] jdm opened #15678 "Intermittent fail in /_mozilla/css/iframe/stacking_context_position_a.html"
[code]

[2017-02-21 20:25] jdm commented on #15677
@jersobh Do you know what page you were looking at when this happened?

[2017-02-21 20:44] emilio commented on #14568
Just wanted to say that this is awesome @MortimerGoro, thanks for looking into this :)

[2017-02-21 20:49] larsbergstrom commented on #14568
@fabricedesre I *thought* that we didn't have support in WR for those OpenGLES platforms on the Z3C, at least the last time I tested it. I'd look there first :-)

@MortimerGoro I think that upgrading the build system would be fantastic! One thing we've struggled with in the past is that Servo's use of glutin for handling windowing events has limited our ability to do android-specific stuff (intent

[2017-02-21 20:56] jdm commented on #15678
This is kind of unnerving.

Test:
<img width="317" alt="screen shot 2017-02-21 at 3 55 32 pm" src="https://cloud.githubusercontent.com/assets/27658/23184549/3b45feec-f84e-11e6-896c-4a1dd6d01b26.png">
Reference:
<img width="320" alt="screen shot 2017-02-21 at 3 55 42 pm" src="https://cloud.githubusercontent.com/assets/27658/23184555/404ffed8-f84e-11e6-86c4-b386bcf8edca.png">

[2017-02-21 20:56] jdm commented on #15678
(the reference should have the text showing too)

[2017-02-21 20:56] jdm commented on #15678
I wonder if the load event was triggered too soon...

[2017-02-21 21:37] MortimerGoro commented on #14568
@larsbergstrom Totally agree. While working on this issues I had the same feeling about the limited flexibility of doing android-specific stuff, too many different repos to work and submit PRs on. It slows the development. Just adding the required  combinations of cargo replaces in the cargo.toml  is a time consumer. We could even move @mmatyas repo to Servo port folder or android specific folder.

[2017-02-21 22:29] jdm commented on #14898
Go ahead and make a PR with those changes; they look good to me.

[2017-02-21 22:41] jdm commented on #15671
@montrivo Does this looks doable to you?

[2017-02-22 00:20] radhika2896 commented on #15486
Is the fix to be done in the highlighted code?

[2017-02-22 00:23] upsuper commented on #15486
Ah, there is no easy way to generate a permlink to a piece of code on GitHub :/

It should be https://github.com/servo/servo/blob/19978f2/components/style/values/specified/length.rs#L580-L592

[2017-02-22 00:33] radhika2896 commented on #15486
Hi just to clarify,
all these are possible errors right,

1) calc(2em- 2px)
2) calc(2em +2px)

[2017-02-22 00:37] upsuper commented on #15486
Yes, both of the two you listed are invalid and should be rejected.

[2017-02-22 00:41] radhika2896 commented on #15486
Actually, this applies to '*' and '/', so there should be a change in the '*' and '/' methods too right?

[2017-02-22 00:42] upsuper commented on #15486
No, it doesn't apply to `*` and `/`. These two can be used without whitespace around per spec.

[2017-02-22 00:54] jersobh commented on #15677
My own python webpage, http://dataforge.com.br:8080

[2017-02-22 01:09] radhika2896 commented on #15486
Should I be removing this requirement, such that there is no requirement for whitespace before and after of '+' and '-'?

[2017-02-22 01:12] upsuper commented on #15486
No, you should add the enforcement of the requirement in Servo's parsing code. Servo currently incorrectly accepts that kind of invalid expressions as valid. That is what should be fixed in this issue.

[2017-02-22 01:13] radhika2896 commented on #15486
Ok thanks, for clarifying.

[2017-02-22 01:17] avadacatavra commented on #15010
i've bumped locally to cookie 0.4 and hyper 0.10. the newest version of cookie is 0.6, but that's blocked on https://github.com/nox/hyper_serde/issues/16.

@jdm thoughts? should i do cookie 0.4/hyper 0.10 then follow up with another cookie bump?

[2017-02-22 01:18] nox commented on #15010
Let's fix this for cookie 0.6, especially now I already published hyper_serde with it.

[2017-02-22 03:26] jdm commented on #15677
Darn, I haven't been able to reproduce by visiting that page in the nightly build yet.

[2017-02-22 03:26] Lyjame commented on #15345
No I thought that this PR was closed? Looking for another issue now :)

[2017-02-22 03:34] upsuper commented on #15345
@Lyjame, the PR from @karan1276 was closed because we thought you may still be working on this. If you are not working on it, I'll release this issue so that other people can take and work on. Are you fine with that, or are you going to continue working on this one?

[2017-02-22 08:26] montrivo commented on #15671
Yes ! Thanks. @highfive: assign me

[2017-02-22 08:26] highfive commented on #15671
Hey @montrivo! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-22 08:26] SimonSapin commented on #15558
@bholley Given the serialization complication I think I’d rather go with #15531 (skipping deduplication when we know it’s a no-op, but not removing it entirely). I think it should get rid of most of the time spent on this. Does this sound good enough?

[2017-02-22 09:12] nox commented on #15010
@avadacatavra Not sure what we did yesterday evening but I can't reproduce your issue.

[2017-02-22 09:24] nox commented on #15010
Ok, can reproduce now.

[2017-02-22 09:25] nox commented on #15010
[code]

[2017-02-22 09:43] nox commented on #15010
I managed to fix the issue you add, but now I discovered that rustc-serialize has been absolutely broken in cookie.

I filed a couple of PRs to fix that problem:

 * https://github.com/rust-lang-deprecated/time/pull/144
 * https://github.com/alexcrichton/cookie-rs/pull/79

[2017-02-22 10:20] nox opened #15684 "Consider replacing time::Tm by chrono::DateTime in net::cookie::Cookie"
`Tm` has some fields which are completely irrelevant to cookies, such as the number of the day in the week.

[2017-02-22 10:52] nox commented on #15684
https://github.com/chronotope/chrono/issues/135

[2017-02-22 11:32] mmatyas commented on #14568
This is awesome @MortimerGoro! I'll try your patches on our devices as soon as I can!

Yes, `android-rs-injected-glue` is a copy of the `injected-glue` part of [android-rs-glue](https://github.com/tomaka/android-rs-glue/tree/master/cargo-apk); it was moved to a separate repository to avoid the dependency on `cargo-apk`, `android-rs-glue`'s custom build tool that can be used to inject the required

[2017-02-22 13:36] jdm opened #15687 "Spinning Spheres demo is no longer fluid"
`./mach run --release https://cdn.rawgit.com/servo/servo.org/gh-pages/bhtml-newtab/webrender-demos/spheres.html` no longer feels smooth in Servo.

[2017-02-22 13:58] jdm opened #15688 "Iframe's window size is not available synchronously in about:blank"
[code]
This prints 0, because the `NewLayoutInfo` in `HTMLIFrameElement::navigate_or_reload_child_browsing_context` provides a `None` value for `window_size`, which is what is stored in the new `Window` that is created and retrieved by `Window::GetInnerWidth`.

[2017-02-22 14:04] jdm opened #15689 "Transparent Rects demo is confined to top left corner"
If you run `./mach run --release -b` and click the transparent rects demo, all of the rects congregate in the top left corner. If you run `./mach run --release https://cdn.rawgit.com/servo/servo.org/gh-pages/bhtml-newtab/webrender-demos/transparent_rects.html` it works fine.

The constellation creates the new pipeline in `handle_script_loaded_url_in_iframe_msg` with a null window size, which gets

[2017-02-22 14:04] jdm commented on #15689
This also affects the spinning spheres demo.

[2017-02-22 14:43] SimonSapin commented on #13821
r? @Manishearth

[2017-02-22 15:07] #15581 closed

[2017-02-22 15:17] jdm commented on #8539
There are a few parts to this:
* create a Rust structure that holds all of the known preferences using native types
* create a new API to obtain this structure and replace each use of `PREFS.get` with it
* create an API that can get and set preferences via a string name and map those to the native values (this will be required by some code in components/style and components/webdriver_server)
* cre

[2017-02-22 15:22] prampey commented on #8539
@jdm This seems interesting. Can I work on this?

[2017-02-22 15:51] ameenross commented on #12015
Yup, I recently got rid of my Servo clone and started gettings the nightlies. Experiencing this error now.

[2017-02-22 15:53] #15603 closed

[2017-02-22 16:16] heftig commented on #12015
Seems that the problem is caused by the nightlies including a static, old, libfontconfig. There are valid caches of version 7 on my system but the nightly can't use them because it needs version 4. So it scans all fonts on startup to build the caches.

After the caches are built once (taking about 5 minutes) further starts are fast.

[2017-02-22 16:22] heftig commented on #12931
Seems that the problem is caused by the nightlies including a static, old, libfontconfig. There are valid caches of version 7 on my system but the nightly can't use them because it needs version 4. So it scans all fonts on startup to build the caches.

After the caches are built once (taking about 5 minutes) further starts are fast.

[2017-02-22 17:34] jdm opened #15693 "Support line number offsets for inline stylesheets"
The DOM-side work will be very similar to the work in https://github.com/servo/servo/pull/14963.

[2017-02-22 17:46] #15471 closed

[2017-02-22 17:56] karan1276 commented on #15169
.

[2017-02-22 18:32] #14892 closed

[2017-02-22 19:10] tschneidereit commented on #12975
@splav are you still going to work on this? I wasn't intending to work on it myself, but have a contributor who's potentially interested.

[2017-02-22 19:27] jdm opened #15694 "HTTP connection pooling occasionally terminates response bodies early"
With #14620 applied, when I run `./mach test-wpt tests/wpt/web-platform-tests/fetch/nosniff/parsing-nosniff.html`, I see two consistent test failures. When I apply the following patch:
[code]
the test failures consistently go away. The trace output from hyper shows the following the problematic case (when I comment out all but the two failing cases):
<details>

[code]

</details>

[2017-02-22 19:27] jdm commented on #15694
I propose disabling pooling for the time being and seeing if anything changes after upgrading hyper.

[2017-02-22 20:55] bholley commented on #15558
That still involves doing a fair amount of work in the case that there's a single duplicated property in a large declaration, right? Can't we just use the |seen| bitfield during serialization?

In general, the optimizations described in this bug (hoisting the |seen| check before the virtual call) are worth doing regardless of what we do about deduplication. Given that, I think it may be a signific

[2017-02-22 21:23] splav commented on #12975
@tschneidereit actially there is a preliminary implementation (https://github.com/splav/servo/tree/SVG_circle%2312975). The thing is, it depends on https://github.com/servo/webrender/issues/402 and should be tested together. And sad to say, right now I've almost no time to spend on servo and webrender at all. So if anyone would like to work on this stuff, please do.

[2017-02-22 21:23] glennw commented on #15687
I did a few tests and it doesn't appear to be rendering related. Of note:

* The render threads and GPU times are well under the 60 fps threshold (16.67ms).
* The frame rate is > 60 fps (with vsync disabled), but still a lot lower than the renderer is running at (perhaps limited by layout / style?).
* The jank itself seems unrelated to the framerate, since it *is* running above 60 fps.

![slow](ht

[2017-02-22 21:29] Manishearth commented on #15558
Yeah, I support making serialization slower if that speeds up the common case of parsing but not reserializing.

[2017-02-22 23:05] SimonSapin commented on #15558
I don’t know if it’s that easy. In case of duplication, the latter declaration wins. But the rest of the declarations should still be serialized in forward order.

So we can do dedup in serialization only, but it’s gonna be more expensive than "just use a bitfield". (Like two passes, the first one allocating a map of seen property IDs to last indices and a set of indices to skip in the second one.

[2017-02-22 23:37] bholley commented on #15558
Seems like we could do this cheaply with iterators:

vec.iter().rev().filter(...closure that filters with &mut seen).rev()

And then serialize from that.

[2017-02-22 23:51] KiChjang commented on #8539
@prampey Go ahead!

[2017-02-23 00:53] jonathandturner commented on #15428
This now appears to be fixed after https://github.com/servo/servo/pull/15681

[2017-02-23 00:53] #15428 closed

[2017-02-23 00:55] jonathandturner opened #15698 "Windows Servo renders reddit text squished"
As of https://github.com/servo/servo/pull/15681, the Windows build can now render reddit again (along with some other sites on the showcase that were failing).  Yay!

There seems to be an issue rendering reddit with the current master, which displays reddit text like this:

![reddit_with_patch](https://cloud.githubusercontent.com/assets/547158/23240018/a877835a-f9cf-11e6-8254-aefbbb49dce6.png)

[2017-02-23 02:42] #7708 closed

[2017-02-23 05:28] jdm opened #15701 "Make image cache per-document rather than global"
This would remove any issues related to multiple pages loading the same URL but using different request parameters, and would also avoid the need for synchronous IPC every time the image cache needs to be queried. Rather than a separate thread with an event loop, we'll want a threadsafe data structure that can be used from both the script and layout threads.

[2017-02-23 06:28] Lyjame commented on #15345
@upsuper You can release it. Next time I look for an issue I'll fix it on a day much closer to when I reserve it. Sorry about that.

[2017-02-23 06:52] jdm commented on #14095
@enizor Have you made any progress with this?

[2017-02-23 07:27] #14898 closed

[2017-02-23 07:39] SimonSapin commented on #15558
Oh, good idea. (You’d still need to allocate a Vec of references before doing the second `rev()`, to avoid reversing the evaluation order of the side-effectful closure in `filter`, but it still sounds better than what I had in mind.)

[2017-02-23 09:20] SimonSapin opened #15704 "HashMap (and therefore DOM nodes) grew by 8 bytes"
`HashMap` grew by 8 bytes in https://github.com/rust-lang/rust/pull/38368. `script::dom::event_target::EventTarget` contains:

[code]

and DOM nodes contain `EventTarget`, so they all grew by the same amount, and unit tests in `tests/unit/script/size_of.rs` fail when updating the compiler: https://github.com/servo/servo/pull/15565#issuecomment-281833437

@jdm @Ms2ger @nox What do you think? Should

[2017-02-23 10:27] enizor commented on #14095
I have a lot of trouble understanding the origin of the failed test pointed out in the PR.

I looked for other failed tests and found [Document-createElement.html](https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/dom/nodes/Document-createElement.html).

I changed the test as only HTML documents have the HTML namespace now.
[code]

All the tests results from Document-createEl

[2017-02-23 10:28] SimonSapin commented on #15704
Is the number of handlers for a given event target expected to be small? Could we get away with a `Vec` and linear scan instead of a `HashMap`?

I’m also looking at `BTreeMap` which is smaller (24 bytes), but in the current implementation even an empty map allocates an internal `LeafNode` with space for 11 key/value pairs, which in this case is 352 bytes. (For comparison, `HashMap` grew from 40 to

[2017-02-23 10:31] SimonSapin commented on #15704
Correction: 40/48 is with the default `RandomState` which takes 16 bytes. `BuildHasherDefault` is zero bytes, so the `HashMap` in `handlers` grew from 24 to 32 bytes.

[2017-02-23 10:40] nox commented on #15704
I don't care either way. One day we will optimise such things extensively, but today is not the day.

[2017-02-23 10:41] SimonSapin commented on #15704
Ok. Let’s increase expected sizes in unit tests next time we rustup.

[2017-02-23 13:39] nox opened #15705 "Unexpected timeout in /_mozilla/webgl/conformance-1.0.3/conformance/textures/texture-size.html"
[code]

[2017-02-23 15:28] SimonSapin commented on #15558
I’m working on this.

[2017-02-23 16:47] andersonn-roberto commented on #12125
Got running here without problems.

![image](https://cloud.githubusercontent.com/assets/6409097/23269233/a463b1fe-f9ce-11e6-9b60-319709deb2e1.png)

[2017-02-23 16:54] avinash-vijayaraghavan commented on #15162
im looking for something to work on in servo. im new to rust. i have experience with writing a compiler and a small os for an os class.
avinash

[2017-02-23 17:31] bzbarsky opened #15706 "Stylo needs will-change support"

[2017-02-23 17:35] jdm commented on #15693
The CSS parser work will require:
* adding a way to create a [Parser](http://doc.servo.org/cssparser/struct.Parser.html) with a given starting line number
* using that to create a [Tokenizer](https://github.com/servo/rust-cssparser/blob/f9282a068d27de42aad9744871eb24ac15971eb9/src/tokenizer.rs#L225) with the starting line (and resetting it [later](https://github.com/servo/rust-cssparser/blob/f9282

[2017-02-23 17:45] jdm commented on #15693
On the other hand, we could avoid touching the CSS parser at all and store the offset in [ParserContext](http://doc.servo.org/script/dom/servoparser/struct.ParserContext.html), and pass it as an argument to the [report_error](http://doc.servo.org/script/dom/servoparser/struct.ParserContext.html) API instead. That's an easier plan.

[2017-02-23 17:50] jdm opened #15708 "Make CSS error reporter give a URL"
This requires storing a URL in the [ParserContext](http://doc.servo.org/script/dom/servoparser/struct.ParserContext.html) structure, and passing it as an argument to the [report_error](http://doc.servo.org/script/dom/servoparser/struct.ParserContext.html) API, and printing it in the output.

This is marked as less easy because it will also require updating the code that creates `ParserContext` val

[2017-02-23 17:51] jdm commented on #15708
To see this in action, run `RUST_LOG=style::error_reporting ./mach run http://google.com`.

[2017-02-23 17:52] jdm commented on #15708
@avinash-vijayaraghavan does this sound interesting?

[2017-02-23 17:53] nox commented on #15693
Claiming this one for a contributor.

[2017-02-23 17:58] avinash-vijayaraghavan commented on #15708
i can work on it to learn about rust

[2017-02-23 18:02] jdm commented on #15708
Great! Please ask questions about anything that's unclear!

[2017-02-23 18:04] PratikDhanave commented on #15693
I am working on it.

[2017-02-23 18:24] notriddle opened #15709 "unknown completed load Image("https://avatars2.githubusercontent.com/u/1593513?v=3&s=60")"
I ran this command, then clicked "Authors 🔽".

[code]

[2017-02-23 18:29] wsy2220 commented on #15709
Same thing happend on https://www.nasa.gov/content/exoplanet-discoveries/
[code]

[2017-02-23 18:29] jdm commented on #15709
Looks like a likely regression from https://github.com/servo/servo/pull/14962.

[2017-02-23 19:18] jdm commented on #13402
[LazyCell](https://crates.io/crates/lazycell) basically encapsulates our current setup in a crate.

[2017-02-23 20:35] SimonSapin commented on #15320
Closing in favor of #15558. (See discussion there.)

[2017-02-23 20:35] #15320 closed

[2017-02-23 22:32] SimonSapin commented on #15708
For stylesheets, the URL is available in the `Stylesheet` struct.

[2017-02-23 22:54] SimonSapin commented on #15558
There’s a couple cases in `ports/gecko/glue.rs` where something iterates over the declarations of a block and I don’t know if deduplication is needed: `Servo_StyleSet_FillKeyframesForName`, `Servo_AnimationValues_Populate`

@Manishearth @heycam @upsuper, do you know?

[2017-02-23 22:57] upsuper commented on #15558
Probably @birtles @hiikezoe and @BorisChiou knows better about those two functions.

[2017-02-23 23:20] hiikezoe commented on #15558
I think we don't need deduplicate both of them for now.

As for Servo_StyleSet_FillKeyframesForName, the declaration block is in @keyframes.  I think @birtles tries to spec the rule which property  wins (or is merged?).  I don't remember the link now. But anyways, the declaration block comes from KeyframesAnimation::from_keyframes in servo, so it depends on the result of the function.

As for Serv

[2017-02-23 23:47] KiChjang opened #15713 "Intermittent failure of /fetch/api/policies/referrer-origin.html"
[code]

[2017-02-23 23:48] jdm commented on #15713
Nope, not intermittent.

[2017-02-23 23:48] #15713 closed

[2017-02-24 00:18] vwvww commented on #15673
Can I work on this issue..?

After some work on this issue, tidy will:
* return error(on travisCI) or warning(on local) when the number of commit that is not in github.com/servo/servo is more than one.

[2017-02-24 00:18] cbrewster opened #15714 "Pipeline title never used"
Pipeline has a `title` attribute that is unused.

code: `compontents/constellation/pipeline.rs`

[2017-02-24 01:38] nox opened #15716 "Intermittent crash in /css21_dev/html4/font-family-013.htm"
[code]

[2017-02-24 02:30] Iakis commented on #15345
Hello, I would like to work on this, I have limited experience with rust and itll be my first bug but would like to attempt to contribute

[2017-02-24 02:37] asajeffrey commented on #10992
IRC conversation about session histories with multiple instances of the same pipeline id: http://logs.glob.uno/?c=mozilla%23servo&s=24+Feb+2017&e=24+Feb+2017#c619161

TL;DR: If you have document A which pushStates to B then again to C, then their shared Document is discarded, then the history is traversed to B, what happens? Our read of the spec is that A, B and C should all be reloaded to the sam

[2017-02-24 02:51] #13457 closed

[2017-02-24 03:26] upsuper opened #15718 "Intermittent failure in /html/semantics/scripting-1/the-script-element/module/crossorigin.html"
[code]

[2017-02-24 03:28] upsuper opened #15719 "Intermittent timeout in /fetch/api/redirect/redirect-referrer-worker.html, /fetch/api/redirect/redirect-referrer.html, /fetch/api/basic/integrity.sub.any.html"
[code]

[2017-02-24 03:33] Wafflespeanut commented on #15345
Great!

[2017-02-24 03:43] jdm commented on #15716
Tracked in #13480.

[2017-02-24 03:43] #15716 closed

[2017-02-24 03:44] Wafflespeanut commented on #15673
Okay, feel free to ask any questions :)

[2017-02-24 04:30] jdm commented on #15709
I can reproduce the same failure with this testcase:
[code]

[2017-02-24 05:04] upsuper commented on #15398
Transition shorthand is not fixed yet.

[2017-02-24 06:35] SimonSapin commented on #15558
I think it’s clear in specs that when the same block contains two valid declarations for the same property, the one later in source order wins. The question is, now that we don’t deduplicate them in the parser, how do we keep other algorithms correct? For example, serialization (`cssText` getter in CSSOM) needs full deduplication. But code that works by finding the first match (like `getPropertyVa

[2017-02-24 06:54] cmr commented on #12054
On Wayland, you should listen to the wl_surface::enter/leave events (https://wayland.freedesktop.org/docs/html/apa.html#idp67102000), and take the scale from the wl_output::scale, and redraw with the new scale, using wl_surface::set_buffer_scale to match the output.

Note that this is only for crude scaling: you'd probably still want to set the device pixel ratio using the wl_output::geometry to g

[2017-02-24 07:54] barrotsteindev commented on #15162
Hello,
I am fairly new to rust and looking for an easy task to improve my skills and give back to the community.
I also have experience programming JavaScript, and would be more than happy to work on js.
Thanks in advance.

[2017-02-24 11:05] nox opened #15723 "Make `./mach update-manifest` work without a dev build"
[code]

[2017-02-24 11:12] nox opened #15724 "Update bitflags to 1.0"
<s>For some unknown reason bitflags was updated to 0.8 with a breaking bump for `i128` support, we don't need that, but I'm filing this issue anyway to remember that we will have to do that at some point if we still don't want dozens of dependency dupes.

Fortunately, given the 0.8 bump doesn't actually change *anything* in the interface of the generated items, these crates just need a minor bump

[2017-02-24 11:21] nox opened #15725 "Spurious .DS_Store entries when running ./mach update-manifest on macOS"
[code]

[2017-02-24 12:17] nox commented on #15724
Version 0.8 is broken four our usage. Cf. https://github.com/rust-lang-nursery/bitflags/issues/59#issuecomment-282277988.

[2017-02-24 12:38] mmatyas commented on #14568
Hmm, I've tried your patches (glue, webrender, offscreen) on Odroid XU3 and OnePlus2, but I still experience all the previous issues... Have I forgot to apply something? Do you have a Servo branch with your changes?

[2017-02-24 12:50] nox commented on #15724
Never mind, the PR introducing the breakage in 0.8 also fixes the breakage.

[2017-02-24 12:56] MortimerGoro commented on #14568
@mmatyas You need to apply this too https://github.com/MortimerGoro/glutin/commit/87d291efc8b0af09961315d57d8bf273309d31ad

And remove this lines in servo/ports/glutin/window.rs

[code]
I'll submit new PRs soon with the life cycle improvements and gradle integration.

[2017-02-24 13:21] charlesvdv commented on #15660
If nobody is working on that. I'm interrested in taking this issue.

[2017-02-24 13:35] mmatyas commented on #14568
Thanks! This indeed fixed the proxy-related issues. I still have the graphical glitches (white screen + scrollbar only) on regular webpages, and WebGL crashes (eg. on `get.webgl.org`); I'll check Servo's test files later too.

[2017-02-24 13:38] highfive commented on #15723
cc @wafflespeanut

[2017-02-24 13:51] MortimerGoro commented on #14568
One more thing for the WebGL crashes: ./mach cargo-update -p angle (The ESSL support you added is not merged yet in upstream servo)

For the glitches: Did you add the full fix? https://github.com/servo/webrender/pull/913 WebGL only uses that shader but regular webpages will use more shaders that are affected by the same sCache texture bug. I haven't tried the dummy texture fix with regular pages y

[2017-02-24 14:22] jdm commented on #15660
Please do!

[2017-02-24 14:47] #15704 closed

[2017-02-24 15:12] benwaffle commented on #12054
somehow weston gets overlapping multi-dpi monitors perfect

[2017-02-24 16:31] bzbarsky opened #15726 "-moz-alt-content parsing is wrong"
It's only allowed as a single value for the `content` property, like `none`.  This is causing stylo test failures on layout/style/test/test_property_syntax_errors.html:

TEST-UNEXPECTED-FAIL | layout/style/test/test_property_syntax_errors.html | invalid value '-moz-alt-content 'foo'' not accepted for 'content' property - got "-moz-alt-content \"foo\"", expected ""

etc.

@SimonSapin

[2017-02-24 16:40] jdm opened #15727 "about:blank iframe fires two load events"
[code]

[2017-02-24 18:07] bzbarsky opened #15728 "Property parsing for clip: rect(auto, stuff) is broken"
The _parser_ converts auto values of top/left to 0.  Per spec, that should happen at _used_ value time, not specified value time!  Simple testcase that's buggy:
[code]
This should log `rect(auto, auto, auto, auto)` but logs `rect(0px, auto, auto, 0px)`.

@canaltinova @Manishearth @SimonSapin

[2017-02-24 18:30] bzbarsky opened #15729 "Servo's CSS parser converts absolute-unit lengths to a fixed-point representation even for specified values"
Testcase:

    <div style="width: 0.33px"></div>
    <script>
      console.log(document.querySelector("div").style.width);
    </script>

In servo this logs "0.31666666px".  It should really preserve the original "0.33px" value.

In Gecko, specified values are stored as floating point plus unit, and not converted to 1/60 px integers until computed value time.

And even then, note that servo above

[2017-02-24 18:59] SimonSapin commented on #15729
Relevant code is in `components/style/values/specified/length.rs`. Changes to do:

* Replace `Au` with `f32` in specified value types. (They should already be in enum variants that indicate the unit. If/where they’re not, add newtypes that do.)
* Move the unit conversion from parsing code to `to_computed_value` methods
* In these conversions, do clamping and rounding. Something like:

[code]

[2017-02-24 19:11] bzbarsky commented on #15729
Fwiw, we're going to need more clamping than that going into Gecko code, but presumably that will be somewhere Gecko-specific?  For Gecko, the relevant clamping points are `1<<30` and `-(1<<30)`, at least when not NS_COORD_IS_FLOAT...  Please file a separate issue for that in the right place, whatever that is?

[2017-02-24 19:24] SimonSapin commented on #15729
I didn’t know that Gecko clamps to a smaller range. Is it to allow some amount of arithmetic on the results without overflow? That sounds like a good idea, let’s do that instead of `i32::MAX` / `i32::MIN` for Servo too.

What is `NS_COORD_IS_FLOAT`?

[2017-02-24 20:17] bzbarsky commented on #15729
I don't think so.  I don't recall offhand why we did that instead of i32::MAX and -i32::MAX (not i32::MIN, because we want symmetric behavior).

We used to have magic values of nscoord to represent "auto", I think, so maybe that's why?  @dbaron might recall offhand.

Compile-time switch to use floats for nscoord instead.  May or may not build nowadays...

[2017-02-24 21:40] simpslandyy commented on #15190
^ okay, sorry I'm not very familiar with Rust. This is my first GFB.
So this parsing function, checks if columns_width and columns_count is None, and sets them to a value if the condition evaluates to true.

So you said, "This parsing function should specify auto instead of None when the corresponding part doesn't present."

I'm not entirely sure what you mean by that. Because at the start of the

[2017-02-24 22:09] #15728 closed

[2017-02-24 22:41] boustrophedon commented on #15687
This demo appears to render the same for Servo and Chromium for me. The spheres are "wobbly" in both, though somewhat more in Servo for some reason. Firefox has an extremely low framerate for some reason.

I'd be interested in debugging this if someone can tell me what I'm looking for. Also, can I just do a git bisect inside the servo directory or do I have to do something more because of mach?

[2017-02-24 22:56] #13821 closed

[2017-02-24 22:58] PEmu1 commented on #12125
Issue #15428 was reported fixed in PR #15681. I can confirm that the latest Windows build is able to load pages without hanging. Stability seems questionable though. I have had it crash multiple times without warning.

[2017-02-25 00:09] jdm commented on #15687
A git bisect should work.

[2017-02-25 00:49] boustrophedon commented on #15687
Okay! So what am I looking for? Less wobbly spheres?

[2017-02-25 01:00] fkautz commented on #14954
@Manishearth @highfive feel free to take it, got caught up with way too much work. Sorry for the delay.

[2017-02-25 01:04] jdm commented on #15687
I'm not sure what you mean by wobbly, but in a release build last July the motion was very fluid.

[2017-02-25 01:07] jdm commented on #14954
@faineance: have you made any progress?

[2017-02-25 01:09] boustrophedon commented on #15687
I'll take a video of what I see on my computer, because it seems like we might be seeing different things.

[2017-02-25 02:02] fabricedesre commented on #10624
Closing as `env::set_var("RUST_LOG", "debug");` is now the default on android and logs are redirected to logcat properly.

[2017-02-25 02:02] #10624 closed

[2017-02-25 04:59] dcci commented on #15449
ping?

[2017-02-25 05:01] upsuper commented on #15449
It seems @ioctaptceb doesn't respond after a whole week... This issue is now yours, @dcci :)

[2017-02-25 07:03] ioctaptceb commented on #15449
@dcci please go ahead!

[2017-02-25 08:14] faineance commented on #14954
Yeah I just have probably mostly incorrect beginnings, I should have time this weekend to finish it off.
https://github.com/servo/servo/compare/master...faineance:master

[2017-02-25 11:30] paulrouget opened #15734 "Can we make it so the embedder doesn't need to call Browser::handle_event() when there's no event?"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

By embedder, I mean what lives in `/ports/`.

If I'm not mistaken, libservo wakes up the main thread every time `compositor_proxy.send` is called ([example](https://github.com/servo/servo/blob/26de7c6bc48affbc2087b32649850f0733e567f0/ports/glutin/window.rs#L1122)). This is

[2017-02-25 12:35] kubrickfr commented on #9776
Now crashes but for different reasons / different backtrace

[2017-02-25 12:35] #9776 closed

[2017-02-25 12:55] paulrouget commented on #15734
To illustrate this problem, apply this patch:

[code]

Servo won't render anything until the mouse (or any event get forwarded).

[2017-02-25 13:52] SimonSapin commented on #15726
For future implementations of `-moz-*` properties and values, is this kind of detail documented? Should we reverse-engineer Gecko’s code?

[2017-02-25 15:12] metajack commented on #15734
@asajeffrey Can you look into this?

[2017-02-25 18:25] asajeffrey commented on #15734
Will do.

[2017-02-25 19:40] minno726 opened #15737 "Malformed Cargo.toml in servo_tidy_tests prevents using servo as a git dependency"
[code]
Removing this file allows Cargo to find the correct directory and use it as a dependency.

[2017-02-25 20:36] kxra commented on #12102
@aneeshusa

This makes sense to me, but that won't be for a while since it isn't close to stable yet, right?

This makes less sense to me. Why wouldn't you want people to be able to use Flatpak to get nightly builds and keep them up to date?

[2017-02-25 20:47] emilio commented on #15558
So I was reviewing #15721, and I'm somewhat concerned about the complexity of it. I believe deduplicating them at parse time both makes more sense and is simpler, unless we have glaring evidence of the opposite.

My reasoning is the following:

 * Keeping an `is_deduplicated` member is needed (otherwise perf would suck everywhere), and it's more complex and can be less performant than just impleme

[2017-02-25 21:18] cyplo commented on #6368
Hi ! Does this still seem to be a problem ?

[2017-02-25 22:49] SimonSapin opened #15738 "Intermittent failure in /_mozilla/css/overflow_wrap_a.html"
[code]

[2017-02-26 01:54] bholley commented on #15558
@emilio and I just chatted on IRC. Here's my take:
* We have measured results that indicate that the current deduplication implementation is hot, and thus eliminating it in the common case is a win.
* I'm not really convinced by the strategy of only deduplicating if duplicates are detected, because that creates a performance cliff when somebody adds a single duplicate to a large declaration.
* Laz

[2017-02-26 02:45] jdhorwitz commented on #15162
I am also looking to get started as well.  I have extensive JS knowledge but I would prefer to contribute to Rust codebase and gain a deeper knowledge of Rust.

[2017-02-26 02:50] boustrophedon commented on #15687
[Here](https://drive.google.com/file/d/0B_gtDfBomM1YcUIyUW1TR0hQOWc/view?usp=sharing) is a video showing what I see with checkout at 5dac1f64c1, from the last bors commit I found in July.

[Here](https://drive.google.com/file/d/0B_gtDfBomM1YS2pPQTFJMnBfbFE/view?usp=sharing) is a video showing what I see with checkout at 26de7c6bc4, that I checked out yesterday.

Both were recorded with recordMyDes

[2017-02-26 03:55] bzbarsky commented on #15726
It... varies.  For Gecko-internal things that are only used from UA stylesheets there may not be much public documentation.  :(

Ideally, a try push of stylo with the modified servo would show if there are problems.  But I realize that's annoying.  I don't have great process suggestions here...

[2017-02-26 04:10] bzbarsky commented on #4364
Please note that Firefox is planning to NOT implement this API and to implement https://w3c.github.io/webauthn/ once that's ready instead.  See the intent to implement/ship threads for this stuff, where people pointed out that the FIDO specs range somewhere between "terrible" and "broken".

[2017-02-26 07:14] BorisChiou opened #15740 "Implement frames timing function"
I'm working on [Frames timing function [1]](https://www.w3.org/TR/css-timing-1/#frames-timing-functions) on Gecko ([Bug 1248340](https://bugzilla.mozilla.org/show_bug.cgi?id=1248340)), so I think it's better to implement it on Servo, too, so we can make sure there is no other problem on Stylo while running the test case for Frames timing function. I think this is an easy bug, so let me take it.

[

[2017-02-26 07:16] BorisChiou commented on #15740
@highfive: assign me

[2017-02-26 07:16] highfive commented on #15740
Hey @BorisChiou! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-26 08:44] Manishearth opened #15741 "Intermittent timeout in /css21_dev/html4/bottom-031.htm"
http://build.servo.org/builders/linux-rel-css/builds/2601/steps/test/logs/stdio

[2017-02-26 10:06] SimonSapin commented on #15738
I filed this as intermittent because I couldn’t reproduce locally at first, but it looks like this is a real bug in #15735. I must have messed up my initial testing.

[2017-02-26 10:06] #15738 closed

[2017-02-26 13:09] montrivo commented on #15671
By uncommenting the Constructor annotations in the webidl file, I'm getting the following error when building. This seems to be more complex than the mere constructors implementation.
[code]

A draft for the constructors:
[code]

[2017-02-26 14:50] jdhorwitz commented on #14887
Is anyone still working on this?  If not I would love to work on this with a Mentor.  Thanks!

[2017-02-26 15:54] nox commented on #15457
#14237

[2017-02-26 15:54] #15457 closed

[2017-02-26 16:31] nox commented on #15741
#14237

[2017-02-26 16:31] #15741 closed

[2017-02-26 18:18] #15591 closed

[2017-02-26 18:22] SimonSapin commented on #15558
Until we decide what to do about deduplication, I’ve split out the "hoisting" part into #15745. Dealing with logical properties before the virtual call has some runtime cost, see https://github.com/servo/servo/pull/15745#issuecomment-282574622.

[2017-02-26 19:17] jonathandturner commented on #15651
Fixed.

[2017-02-26 19:17] #15651 closed

[2017-02-26 19:24] jonathandturner commented on #12125
@scineram did you try to install the missing vc_redist files?

[2017-02-26 20:04] zimio commented on #14887
I'm looking into this, although it has taken me a while. Do we have a set deadline for this?

[2017-02-26 20:08] BladeMight commented on #12125
@scineram About your error code 2755, it must be you have problems with msi installer, could you try to install other msi, and say how it worked?
Also there is [topic on answers.microsoft](https://answers.microsoft.com/en-us/windows/forum/windows_vista-windows_programs/error-code-2755-windows-installer/c12ffb7a-9984-4daa-8cca-8af6ba30f777) which talks about that error 2755, it may be helpful.

[2017-02-26 20:12] KiChjang opened #15746 "Implement extended filtering for language matching"
#15464 added support for the lang pseudo-class, but it is using an equality comparison to check the language of the element with the languages specified in `:lang()`. We should instead use the algorithm specified [here](https://tools.ietf.org/html/rfc4647#section-3.3.2) for matching languages.

Spec: https://tools.ietf.org/html/rfc4647#section-3.3.2
Files: `components/script/dom/element.rs`, `comp

[2017-02-26 20:38] KiChjang commented on #14887
@zimio No, we don't have a deadline for any easy issues, although it's generally the practice to claim an issue that one would work on in the immediate future.
@jdhorwitz We can look for another issue for you instead, it looks like @zimio is still working on this one.

[2017-02-26 20:42] KiChjang commented on #12675
@Ilphrin Are you still working on this? If not, @jdhorwitz would you be interested in tackling this instead?

[2017-02-26 21:34] jdhorwitz commented on #15494
If someone could mentor my with this I would love to work on it, unless it is still being worked on.

[2017-02-26 21:58] Ilphrin commented on #12675
Sorry I am terribly busy with school :/ I could work on it but in about a month, so if someone else is interested in doing this it's ok I'll take an other bug later ;)

[2017-02-26 22:35] dcci commented on #15449
I was unsure how to test this one, so I asked on IRC.
Copying for the archives:
[code]

[2017-02-26 22:42] notriddle opened #15748 "The background on the Nelnet About page doesn't extend far enough down"
https://www.nelnet.com/your-student-loan-servicer

![nelnet](https://cloud.githubusercontent.com/assets/1593513/23344459/08ebde90-fc3a-11e6-8e3b-ab7610f8ac6c.png)

The white background, that's supposed to obscure the filler image, doesn't extend down like it should.

p.s. I have not tried to log in, and will not try to log in.

[2017-02-26 23:23] jdm commented on #15494
@jtran12 Have you made any progress here?

[2017-02-26 23:28] jdm commented on #15671
The constructor that accepts a Uint8ClampedArray won't work as written yet. Instead, use an `object` argument and use the typed array APIs to interact with it (e.g. https://dxr.mozilla.org/servo/rev/261df34ced0bdcb8126994c8653ac101d1172085/components/script/dom/textdecoder.rs#88 and https://dxr.mozilla.org/servo/rev/261df34ced0bdcb8126994c8653ac101d1172085/components/script/dom/imagedata.rs#63).

[2017-02-26 23:30] jtran12 commented on #15494
@jdm Sorry for the huge delay, I haven't made much progress due to being really busy the past few days however, I am currently trying to get my servo build up and running so I can work on the issue.

[2017-02-27 00:59] jtran12 commented on #15494
I noticed all the required functions utilize `parse_factor()` Should I simply just modify that function to not accept negative values? and return `Err(())`? Also for the tests I'm not sure how to particularly implement them

[2017-02-27 01:02] jdm commented on #15494
It looks like modifying parse_factor to reject negative values would be sensible, since it's only used in that module. As for tests, take a look at ones like [the animation ones](https://dxr.mozilla.org/servo/source/tests/unit/style/parsing/animation.rs#19-20).

[2017-02-27 01:16] jtran12 commented on #15494
Great thanks! I'll let you know if I run into any problems

[2017-02-27 01:38] upsuper commented on #15190
Probably the beginning of the parsing function should not be changed, because we need that to check whether the corresponding parts are specified in the shorthand. The function should return auto for a part only when it is absent from the value.

[2017-02-27 01:40] #15398 closed

[2017-02-27 02:40] #15487 closed

[2017-02-27 03:53] upsuper opened #15750 "parse_origin fails to parse `center left` and `center right`"
For `transform-origin` and `perspective-origin`, when the value consists of two keywords, the order of the values doesn't matter, and thus `center left` should just behave the same as `left center`.

Currently `parse_origin` always treat the first `center` as horizontal value if no horizontal value is parsed, thus it consider the second horizontal value to be invalid, which is wrong.

This bug is

[2017-02-27 03:56] upsuper commented on #15750
I suspect whether we really should fix `parse_origin`. I guess we really should have use `Position` for those properties given the spec. But that may need Gecko side change to follow the spec as well.

[2017-02-27 04:17] absoludity commented on #15200
Hi @multhazim123 . I'm not sure if you want a hand with this, or if you've still got time? If you do still want to look at it, here's a gist with a small diff for current master which gives you a failing test... the challenge then is just getting it to pass :)

https://gist.github.com/absoludity/f05f25e4be20541a3553e881fa6a304b

If you don't have time, just let me know and I can grab it - fine eit

[2017-02-27 09:16] avinash-vijayaraghavan commented on #15708
[patch.diff.txt](https://github.com/servo/servo/files/803066/patch.diff.txt)

hi josh/simon
i have attached a diff patch for you guys to take a look. my first stab at this.
what i have done is added an **Option<&ServoUrl>** to the report_error api for **ParseErrorReporter** in **StdoutErrorReporter** and then used it while error reporting based on a match as in

fn report_error(&self, input: &mut

[2017-02-27 09:39] KiChjang commented on #15708
@avinash-vijayaraghavan Can you submit a pull request instead?

[2017-02-27 10:08] avinash-vijayaraghavan commented on #15708
@KiChjang ok

[2017-02-27 11:00] codec-abc commented on #15572
Tested again today with latest nightly. Seems like the problem is gone.

[2017-02-27 11:00] absoludity commented on #15342
I just took a look at this, but currently the parse() function for (all?) properties do not have any reference to SharedStyleContext.QuirksMode. I'm not sure if the ParserContex should be updated to include that? (Or ParserContextExtraData - though that looks like it's only used for feature=gecko, but parsing with quirksmode would be needed with or without that, I assume).

Let me know if there's

[2017-02-27 11:19] upsuper commented on #15342
I think we need to add a field about quirks mode to `ParserContext`, so that parsing functions have access to that. I think that's the right direction. I don't have clear idea about what is the best way to write the parsing code, though.

I don't think it would be an easy one, but I guess it would probably be fine for you :) Thanks for taking look at this.

[2017-02-27 11:53] Wafflespeanut commented on #15082
@meetmangukiya Did you start working on this?

[2017-02-27 12:50] mmatyas commented on #14568
I've checked some of the HTML test files, but all of them had graphical problems on Odroid XU3. `test_webgl_triangle.html` for example segfaults, with the following warning:

[code]

I've double checked the repositories, I'm on commit `ba8ce0` ("Auto merge of 913") of Webrender, 0.6.1/`36feed` ("Bump version") of `offscreen_gl_context`, `3dd494` ("Auto merge of 17") of angle, `1995be` of android-r

[2017-02-27 13:22] nox commented on #15542
I removed the bullets for removing serde_codegen from the WR stack, given the current issues to manage dwrote.

[2017-02-27 13:33] #4364 closed

[2017-02-27 15:12] zmike commented on #10274
Sorry for the delay on this, I don't understand why I'm not getting mails anymore from github :/

https://github.com/servo/webrender/issues/933

[2017-02-27 15:15] jdm commented on #15401
@munyari Have you made any progress yet?

[2017-02-27 15:19] jdm commented on #15206
Unassigning due to lack of progress. If you have time to start actively working on it and this issue is unassigned, you're welcome to return to it!

[2017-02-27 15:20] jdm commented on #13035
Still making progress, @1Jamie?

[2017-02-27 15:59] ferjm commented on #15592
@highfive: assign me

[2017-02-27 15:59] highfive commented on #15592
Hey @ferjm! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-27 16:18] bzbarsky opened #15754 "writing mode needs to affect computed display"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1342739 and the following two testcases that stylo fails but gecko passes:

    <div>
      <span style="writing-mode: vertical-rl">Text</span>
    </div>
    <script>
      document.write(getComputedStyle(document.querySelector("span")).display);
    </script>

(should output "inline-block") and:

    <div>
      <span style="writing-mode: vertical

[2017-02-27 16:33] jdhorwitz commented on #14887
Thanks @KiChjang I'm up for anything.

[2017-02-27 16:38] emilio commented on #14568
Do you have a backtrace of that?

[2017-02-27 17:51] PEmu1 commented on #15572
I have not been able to reproduce this issue in the latest nightly builds either. Previously Servo would use up many GB of memory until it needed to be killed where now I find it stays under 1 GB with multiple tabs open.

[2017-02-27 17:57] PEmu1 opened #15755 "Page Loading Error"
unknown completed load Image("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAAXNSR0IArs4c6QAABERJREFUSA2tlltoXFUUhjOXRDOxoRAlBScUoRKs2ATxpRIfpBSVUs2NtIwQCdQG+pCiUh+kl/ECbZ/EPAhRK0JjmoYkE8EHhbZKlRZEREqlFmKhN8SH6ODUJs1MZvz+nbOGk+RMMilZsM5ee93+vfb1hCqWoYGBgcq6urqnw+Hws/ATuDbCDfC6QqFQq9BQKPQvTQa+CV/N5/NX4AtTU1O/9Pb2ZtEFUmixNpVKrSdpGwnF27DHFvuU2b9LnrNwijyptra2tD+uCDw6OvpMJBLZj1Mn

[2017-02-27 17:59] #15737 closed

[2017-02-27 17:59] PEmu1 commented on #15755
The first string was the title for the pre-filled issue report but it was too long to use. Please let me know if I need to provide any more information as I am not super familiar with the normal issue reporting process for Servo.

[2017-02-27 18:01] jdm commented on #15755
Looks like another instance of #15709. Thanks for reporting it! If there is a particular page you're loading that exhibits this error, it would be good to know as well.

[2017-02-27 18:01] #15755 closed

[2017-02-27 18:01] jdm commented on #15572
Seems like this can be closed, in that case. Thanks for checking!

[2017-02-27 18:02] MortimerGoro commented on #14568
Try to run cargo tests from https://github.com/emilio/rust-offscreen-rendering-context on that device

[2017-02-27 18:09] PEmu1 commented on #15709
I posted this in #15755 but I am running into a page loading error with the latest Windows nightly build of Servo. I tested this with the URL http://www.neogaf.com/forum/ which will consistently cause the error.

unknown completed load Image("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAAXNSR0IArs4c6QAABERJREFUSA2tlltoXFUUhjOXRDOxoRAlBScUoRKs2ATxpRIfpBSVUs2NtIwQCdQG+pCiUh+

[2017-02-27 18:28] jonathandturner commented on #15572
@jdm - this still repros.  With last night's nightly, if you click on the link to go to https://medium.com/@dourvaris/my-2015-macbook-pro-retina-exploded-119ea5ea9d1f#.pgd3f8jme from hacker news, you get the same high memory behaviour. It seems to not be as common now, though.

[2017-02-27 18:30] jdm opened #15756 "Replace manual host parsing code with parse-hosts crate"
https://crates.io/crates/parse-hosts
https://dxr.mozilla.org/servo/source/components/net_traits/hosts.rs

I haven't looked into the crate's API yet, but it could be a straightforward replacement.

@ferjm This might be a nice second issue to work on.

[2017-02-27 18:37] PEmu1 commented on #15572
I followed the steps in @jonathandturner's post and was able to reproduce the issue as well. Seems to not be fixed after all.

[2017-02-27 18:40] jonathandturner opened #15757 "Windows nightly - hacker news text off row"
I'm seeing Hacker News titles being rendered lower than the expected line.

<img width="500" alt="font_off_line" src="https://cloud.githubusercontent.com/assets/547158/23374399/fcbd5342-fd88-11e6-9c06-24ae568deb61.png">

(I'm having deja vu, so this may have been reported already, but I didn't see the issue when I looked)

[2017-02-27 18:41] jdm commented on #14519
@ferjm This is another network issue that you could work on.

[2017-02-27 18:49] jdm commented on #15184
Closing in favour of #15701.

[2017-02-27 18:49] #15184 closed

[2017-02-27 18:49] jdm commented on #15701
This would help #14993.

[2017-02-27 18:54] jdm commented on #11510
The display of the image pixels now looks correct. It's the rest of the page layout that is wrong now.

[2017-02-27 21:41] #15513 closed

[2017-02-27 22:32] codec-abc commented on #15572
My bad for the wrong reporting. I confirm that the issue is still here but is triggered quite less frequently than before.

[2017-02-27 23:37] multhazim123 commented on #15200
Hi. Thanks for that. Yeah, I'll be finishing this up this week.

[2017-02-28 00:09] emilio commented on #15746
Do you think this is an `E-Easy` or `E-less-easy` issue @KiChjang?

[2017-02-28 00:13] emilio commented on #15756
For the record: license of that crate is listed as "unstandard", but looking at the repo it seems "CC0", which I think it's fine.

[2017-02-28 00:44] projektir commented on #15206
I'd like to take a stab at this.

[2017-02-28 00:48] upsuper commented on #15190
I'm going to close this issue since I think #15380 would include a more fundamental fix to this issue.

[2017-02-28 00:48] #15190 closed

[2017-02-28 00:48] upsuper commented on #15206
I'm going to close this issue since I think #15380 would include a more fundamental fix to this issue.

[2017-02-28 00:48] #15206 closed

[2017-02-28 01:01] projektir commented on #15162
I'm looking for something to work on. I'm new to Rust and systems development and worked with JS quite a bit.

[2017-02-28 01:19] lnishan opened #15758 "Issues while Building servo for Android (on macOS Sierra)"
I followed the instructions on the Wiki, using NDK r12b with toolchain api version set to 18.

While compiling with `./mach build --release --android`,
I encountered the following error messages:

[code]

In the config.log,
I'm seeing some error messages like this:

[code]

Would be great if someone can shed some light on this issue.
Maybe I did something obviously wrong :/

[2017-02-28 01:30] KiChjang commented on #15746
Could be!

[2017-02-28 01:30] highfive commented on #15746
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-28 01:30] KiChjang commented on #15746
Please don't actually work on this yet, #15464 needs to be merged before anyone can work on this.

[2017-02-28 02:29] #8219 closed

[2017-02-28 02:52] michaelwheeler opened #15759 "libssl1.0-dev missing in Ubuntu 16.04"
Environment setup for Debian-based systems in the readme includes the `libssl1.0-dev` package, which isn't available on my Ubuntu 16.04 desktop. I installed `libssl-dev` instead and was able to build.

[2017-02-28 03:01] frewsxcv commented on #15759
Looks like it's also `libssl-dev` on Debian.

https://packages.debian.org/jessie/libssl-dev

I think we should be good to just update the instructions in the README to recommend that?

[2017-02-28 07:55] #15380 closed

[2017-02-28 09:37] SimonSapin commented on #15746
It is https://drafts.csswg.org/selectors/#the-lang-pseudo (currently at "Level 4") that specified complex BCP 47 matching.

An easy intermediate step is to implement Level 3 of the spec: https://drafts.csswg.org/selectors-3/#lang-pseudo

[2017-02-28 10:49] ferjm commented on #15709
I've seen this happening with https://docs.google.com as well.

[2017-02-28 11:25] mmatyas commented on #14568
@emilio Here's the full `logcat` output: http://pastebin.com/kitKNmdw, or the shorter backtrace:
[code]

@MortimerGoro I'm not sure what do you mean, how should I run the `rust-offscreen-rendering-context` tests on Android? If you can help with that I'm fine with testing anything :)

[2017-02-28 11:35] andreastt commented on #15759
[libssl-dev on Debian stretch (testing)](https://packages.debian.org/stretch/libssl-dev) is version 1.1.0, whereas it is the [deprecated 1.0.0 on Debian jessie (stable)](https://packages.debian.org/jessie/libssl-dev).

The Debian package instructions should probably use `libssl-dev` for now, with a note below saying that if you’re on Debian stretch/testing or newer, you should use `libssl1.0-dev`.

[2017-02-28 11:37] tetsuharuohzeki opened #15763 "Does not work "start!" button on http://www.filpizlo.com/~pizlo/splay-detail.html"
## Env

- revision: b8b23fda5f53397be30057cb406011bbdbdc3582
- OSX 10.11.6

## Step to Reproduce

1. `./mach run --dev http://www.filpizlo.com/~pizlo/splay-detail.html` which is linked from https://webkit.org/blog/7122/introducing-riptide-webkits-retreating-wavefront-concurrent-garbage-collector/
2. Click `start!` link

## Actual Result

- Servo emit `ERROR:script::dom::bindings::error: Error at :

[2017-02-28 12:03] MortimerGoro commented on #14568
@mmatyas @emilio The backtrace points to a crash when compiling the shader using Angle transpiler. I had a simular issue but after updgrading to https://github.com/servo/angle/commit/3dd4940bd79697ebe52c83e164b8ab1c5c577924 the problem was fixed.  mmatyas is using that commit already, weird crash if that's the case.

@mmatyas About running cargo tests on android there isn't much documentation, I d

[2017-02-28 12:29] pvinis opened #15765 "unknown completed load Image("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cD...)"
unknown completed load Image("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICA8c3R5bGU+CiAgICAuc3Qwe2ZpbGw6IzYwNWY2ODt9CiAgPC9zdHlsZT4KICA8ZyBpZD0iR3JvdXAiPgogICAgPHBhdGggaWQ9IkZpbGwtMTEiIGNsYXNzPSJzdDAiIGQ9Ik0zMi4xIDE1LjljMCAxLjgtLjMgMy41LS45IDUuMi0uMi0xLS42LTIuMi0xLjItMy41LTEuNC0zLjItNC41LTcuNS0xMS0xMC4x

[2017-02-28 12:46] saneyuki commented on #15147
Is https://github.com/servo/servo/issues/15763  related to this?

[2017-02-28 13:12] nox commented on #15147
Probably yes.

[2017-02-28 14:32] mmatyas commented on #14568
Thanks, but unfortunately `dinghy` fails with a `No such file or directory (os error 2)` error. It doesn't tell me what it tried to open even with the debug messages turned on. I guess I'll have to dig through the source...

By the way, we have just tested this build on a OnePlus2 too, and it crashes on launch: https://gist.github.com/dati91/c29cdedf7cc21f2c95ba1a35074a7f71

[2017-02-28 14:33] paulrouget commented on #15734
Also, I'd like to understand what's the role of the Present event?

I'm embedding Servo, and I'm under the impression that I need to:
- swap gl buffers every time the main thread is awaken
- call Servo::handle_event() every time the main thread is awaken
- do nothing special when the `WindowMethods::present` is called

I would have imagined that the embedder only task was to swap the buffers when

[2017-02-28 16:11] emilio commented on #14568
That looks like a shader compiler bug on android while compiling WR
shaders.

cc @glennw

On Tue, Feb 28, 2017 at 06:32:45AM -0800, Mátyás Mustoha wrote:

[2017-02-28 16:43] MortimerGoro commented on #14568
After rebasing upstream I get the same shader compilation crash, only on release builds.

[2017-02-28 17:42] ferjm commented on #15765
Looks like a dup of #15709. Thanks for reporting the issue!

[2017-02-28 17:42] #15765 closed

[2017-02-28 17:44] ferjm commented on #15765
[code]

[2017-02-28 18:33] charlesvdv commented on #15240
@jdm I'm trying to inspect a bit more this one. For the moment, if we don't have the virtual keycode, servo ignores the input which is bad. Should we introduce somethings like ```Key::Unknow``` over [here](https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L726) ? (and of course propagate the change in ```keyboardevent.rs```,...)

Or maybe we could use ```Key::Unidentified``` as pro

[2017-02-28 18:50] jdm commented on #15240
It's not clear to me what we would do with a Unknown or Unidentified variant that we can't already do with a None value. Could you elaborate?

[2017-02-28 18:52] jdm commented on #15701
@ferjm How does this sound as larger project to work on? It's a step on the way to implementing the HTML specification's model for loading images (#11517).

[2017-02-28 18:55] jdm commented on #15756
I would like @avadacatavra to review the future PR that fixes this.

[2017-02-28 18:55] jdm commented on #14519
I would like @avadacatavra to review the future PR that fixes this.

[2017-02-28 19:34] charlesvdv commented on #15240
I'm not sure why. I will use an ```Option<Key>``` for this then. Thanks!

[2017-02-28 20:02] Manishearth opened #15770 "border-image is too liberal in what it accepts"
After I added support for relative URIs to stylo, we got some test failures:

[code]

Basically, none of these shorthand values should be accepted.

cc @canaltinova

[2017-02-28 20:06] Manishearth opened #15772 "mask is too liberal in what it accepts"
`alpha padding-box url(404.png) border-box` should not be accepted for mask, but it is.

cc @canaltinova

[2017-02-28 21:06] MortimerGoro commented on #14568
@mmatyas @larsbergstrom PR with Gradle integration and life cycle improvements ready here: https://github.com/servo/servo/pull/15773

[2017-02-28 21:31] #14780 closed

[2017-03-01 01:13] asajeffrey commented on #15734
@paulrouget this issue is next on my queue after x-origin window.parent. Is that okay, or are you blocked on this?

[2017-03-01 03:18] paulrouget commented on #15734
It's ok. I'm not blocked on this.

[2017-03-01 03:56] shinglyu commented on #15758
@fabricedesre points out that we doesn't officially support macOS build yet. We can try to fix it but you may want to try Linux in the meantime.

[2017-03-01 04:09] shinglyu opened #15776 "Android browser MVP"
Our NCTU student team wants to work on and Android browser MVP.

The list of features include:
[ ] URL bar
[ ] Previous/Next page button
[ ] Stop button (?)
[ ] Android "Open With" integration

[2017-03-01 04:10] shinglyu commented on #15776
cc @jdm @fabricedesre

[2017-03-01 04:28] paulrouget opened #15777 "[meta] Improve Servo initialisation"
_This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2_

At the moment, starting multiple instances of Servo will have 3 major issues:
- they all have to share the same initial URL because the URL is set as an option which is a global object
- beside the latest instance, pages are not rendered (black screen)
- there are as const

[2017-03-01 04:30] glennw commented on #15777
These are some relevant WR issues:

* https://github.com/servo/webrender/issues/771 (this is being worked on).
* https://github.com/servo/webrender/issues/933

[2017-03-01 07:33] sotaroikeda opened #15781 "Update gleam to v0.4"
gleam version needs to be updated when webrender uses gleam v0.3. It is related to servo/webrender#771.

[2017-03-01 10:32] ferjm commented on #15701
Sounds very interesting. Happy to work on it. Thank you @jdm

[2017-03-01 15:00] canaltinova commented on #15770
I'm working on this.

[2017-03-01 15:48] highfive commented on #15770
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-01 15:48] canaltinova commented on #15770
Oh, I think we can mark this as an easy issue. The relevant code is [here.](https://dxr.mozilla.org/servo/rev/57ff19ec838bf1bbccd6d0dafe069c3351f5b1e5/components/style/properties/shorthand/border.mako.rs#213-226)

The problem is this `input.try` is always returning `Ok`. We need to check and return `Err(())` if `w` and `o` variables are none before `Ok((w, o))`.

[2017-03-01 16:02] canaltinova commented on #15770
And the reason we need to return `Err(())` here because we need to say to parser that [this](https://dxr.mozilla.org/servo/rev/57ff19ec838bf1bbccd6d0dafe069c3351f5b1e5/components/style/properties/shorthand/border.mako.rs#214) `/` should not parsed.  In that way, for example `url('border.png') 27 27 27 27 /` won't be parsed because `/` will remain unparsed.

[2017-03-01 16:24] sendilkumarn commented on #15746
I would like to give it a shot. This will be my first `rust` code

@highfive: assign me

[2017-03-01 16:24] highfive commented on #15746
Hey @sendilkumarn! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-01 17:00] ferjm commented on #15756
Thank you @emilio, I agree that [CC0](https://creativecommons.org/publicdomain/zero/1.0/deed.en) should be fine.

[2017-03-01 17:26] basic-bgnr commented on #15162
started using rust since 1 year, did few pet project and nothing else. I like the language and would like to contribute to its growth.

[2017-03-01 17:39] fitzgen commented on #15162
@basic-bgnr since you have some experience with the language, and want to contribute to its growth in particular, bindgen can be a good project to hack on. It's used lots by Servo as well as by other projects across the Rust ecosystem. Here is an issue that might be a good intro to bindgen for you: https://github.com/servo/rust-bindgen/issues/548

[2017-03-01 18:37] #15395 closed

[2017-03-01 19:31] jdm commented on #15770
@snehasi Take a look at this issue! @canaltinova and others should be able to answer any questions you might have.

I'm marking this as assigned optimistically, so that it doesn't disappear before @snehasi has a chance to see it.

[2017-03-01 20:16] canaltinova commented on #15772
It's not clear to me why mask-origin and mask-clip should come consecutively. Grammar of mask says they can come in any order but both firefox and chrome are not accepting it.

`<mask-layer> = <mask-reference> || <position> [ / <bg-size> ]? ||<repeat-style> || <geometry-box> || [ <geometry-box> | no-clip ] || <compositing-operator> || <masking-mode>`

First `<geometry-box>` is mask-origin and seco

[2017-03-01 20:25] upsuper commented on #14832
Also see w3c/csswg-drafts#1068.

[2017-03-01 20:29] upsuper commented on #14832
And see the simplification in serialization code we can do in #15779 after #15761.

[2017-03-01 22:17] Manishearth commented on #15772
@dbaron should this be a spec bug or a firefox/chrome bug?

[2017-03-01 23:48] fabricedesre opened #15786 "Support OpenGL ES 2.0"
We currently require OpenGL ES 3, and that blocks us from running on some boards like the Raspberry Pi family.

@glennw can you describe what would need to be done?

[2017-03-01 23:52] avadacatavra opened #15787 "bump to cookie 0.7"
some people just can't stop updating crates that i just updated...

blocked on #15775

[2017-03-02 00:03] avadacatavra opened #15788 "Clean up components/script/webdriver_handers.rs::handle_add_cookie function"
Per discussion in #15775

[2017-03-02 00:12] avadacatavra opened #15789 "fix case sensitivity in cookie domains"
In tests/unit/net/cookie_http_state.rs::test_domain0026, the test is run with the domain 'home.eXaMpLe.org.' After #15775, this test fails because of case sensitivity in components/net/cookie.rs::domain_match and components/net/cookie_storage.rs::reg_host.

* Determine if this test should pass or fail
* If it should pass, do it in a better way than some adhoc placement of "to_lowercase()"

[2017-03-02 02:03] upsuper commented on #15004
This has been fixed by #15779.

[2017-03-02 02:03] #15004 closed

[2017-03-02 02:06] upsuper opened #15790 "Don't serialize style in `text-decoration` shorthand if it has the initial value"
e.g. `text-decoration: underline solid` should be serialized to just `text-decoration: underline`.

The relevant code is https://github.com/servo/servo/blob/c87524c8888d9c4a1f1eaedb5e3a29886f627697/components/style/properties/shorthand/text.mako.rs#L49-L59

[2017-03-02 02:07] highfive commented on #15790
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-02 02:07] upsuper commented on #15790
Just take the `text_decoration_color` part as a reference. We should do something similar for `text_decoration_style` when it has the initial value `solid`.

[2017-03-02 02:52] emilio opened #15792 "Intermittent FAIL /compositing-1_dev/html/mix-blend-mode-transition.htm, /css/compositing/mix-blend-mode/mix-blend-mode-transition.html"
Yet another transition-related intermittent. Can't wait to rewrite them.

[2017-03-02 03:03] projektir commented on #15790
@highfive: assign me

[2017-03-02 03:03] highfive commented on #15790
Hey @projektir! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-02 04:58] Wafflespeanut commented on #15169
@Aaron-Tang ping?

[2017-03-02 05:22] lnishan commented on #15758
@shinglyu

I see. Thanks :)

[2017-03-02 06:54] snehasi commented on #15770
Yes, I'll start working on it.

[2017-03-02 07:01] snehasi commented on #15770
@riya16079

[2017-03-02 10:42] alanhoff commented on #15162
I have ~6 months exp with Rust and wrote a [simple K/V database](https://github.com/alanhoff/rackety) with it. I would appreciate some help for initiating my contributions to Servo.

[2017-03-02 11:37] ferjm commented on #14519
It seems that Servo is already passing the [WPTs proposed for this](https://github.com/w3c/web-platform-tests/pull/4102).
- [fetch/api/redirect/redirect-count-cross-origin.html](https://gyazo.com/9ec9a1b1d5aa62f9bc8afcec0cda2f3a)
- [fetch/api/redirect/redirect-count-cross-origin-worker.html](https://gyazo.com/0f18db8fa478d5d3d79e3b953f889b10)

@jdm should I just wait for the tests to land and pull

[2017-03-02 17:44] bzbarsky commented on #15772
Does the same thing happen for background-clip/background-origin?  Gecko seems to use the same parsing code for both...

The parsing code in Gecko has this comment:

        // The spec allows a second box value (for background-clip),
        // immediately following the first one (for background-origin).

(see CSSParserImpl::ParseImageLayersItem).

Did the spec quietly change at some point?  I'm

[2017-03-02 18:01] dbaron commented on #15772
The spec [changed in January 2014](https://hg.csswg.org/drafts/rev/7e4cec622a1c9d999a90c3ec4f091c7ebd10ff1e).  I vaguely recall a discussion, although it's not linked from that changeset.

Note that I also filed https://github.com/w3c/fxtf-drafts/issues/118

[2017-03-02 18:44] dbaron commented on #15772
(But if Firefox and Chrome both match the old spec, at this point we should probably consider changing the spec back.  Do they?)

[2017-03-02 19:15] KiChjang commented on #9785
Not sure if @GuillaumeGomez is still working on this.

[2017-03-02 19:22] asajeffrey commented on #14843
Fixed by #15120.

[2017-03-02 19:22] #14843 closed

[2017-03-02 19:47] asajeffrey commented on #15328
Going back over the IRC conversation, the conclusion is: http://logs.glob.uno/?c=mozilla%23servo&s=1+Feb+2017&e=1+Feb+2017#c603803

TL;DR: we need XOWs to make this work, which is issue #2382. cc @avadacatavra

[2017-03-02 19:47] asajeffrey commented on #15328
Closed in favour of #2382.

[2017-03-02 19:47] #15328 closed

[2017-03-02 20:00] asajeffrey commented on #15233
Will be closed when #15536 lands.

[2017-03-02 20:03] asajeffrey commented on #15232
The long-term version of how to do this is for wpt to have dissimilar-origin domains. For the moment I just added some dissimilar-origin tests (with the host hard-wired to be `127.0.0.1`) in `/mozilla`.

[2017-03-02 20:03] #15232 closed

[2017-03-02 20:18] asajeffrey commented on #11660
Will be fixed when #15799 lands.

[2017-03-02 20:30] #15592 closed

[2017-03-02 20:49] GuillaumeGomez commented on #9785
I am, more or less. Quite busy unfortunately.

[2017-03-02 20:56] vernans commented on #12675
Hey! It seems as if you need somebody to do this. I would really like to give it a try, otherwise I would have to do something else this weekend. Oh, and don't be suprised. I really just had no idea what to use github for until now, so my profile is quite empty.

[2017-03-02 21:05] KiChjang commented on #12675
I would give @jdhorwitz the right of refusal here.

[2017-03-02 21:30] crypto-universe commented on #15162
Hi! I'd like to get some easy task. I already have one contribution, so I know how to build servo.

[2017-03-02 21:59] glennw opened #15801 "Styling / layout bug when zooming."
Test case:

[code]

If you use the recently landed page zoom support (Ctrl, Shift, + and Ctrl, -) to zoom in and out of the page, it doesn't correctly calculate the size and position of the div. However, running it with ```-i``` to disable incremental layout makes it work correctly (it then matches Gecko).

It looks like maybe the % elements aren't being restyled / calculated? I confirmed that it'

[2017-03-02 21:59] glennw commented on #15801
cc @emilio @bholley @pcwalton

[2017-03-02 22:45] avadacatavra opened #15802 "investigate similar origin resource groups and cookies"
see discussion in #servo here: http://logs.glob.uno/?c=mozilla%23servo#c622930

cc: @asajeffrey

[2017-03-02 23:15] asajeffrey commented on #15734
OK, submitted my x-origin window.parent PR, move this to the front of the queue...

What behaviour would you prefer? Would you rather have the servo threads not block waiting for the app window? I can imagine that OpenGL puts restrictions that some gfx actions have to be performed by the main thread, so this might impact our ability to have the compositor perform actions independently.

@glennw am

[2017-03-02 23:18] emilio commented on #15801
Yeah, this is likely a layout bug (not a styling bug, given the computed styles don't change at all). We're supposed to handle it in layout_thread: https://github.com/servo/servo/blob/master/components/layout_thread/lib.rs#L1077

Either that `needs_reflow` logic is wrong, or `viewport_size_changed` is false? I can take a look tomorrow probably.

[2017-03-03 00:22] emilio opened #15806 "Add an API to change page zoom from tests."
Right now we have tests for viewport resizing, but those are done via iframes and end up being intermittents easily.

We should add an API to modify the page zoom factor to `TestBinding.webidl`, which can be done programatically easily.

When that's done, we can land the test from https://github.com/servo/servo/issues/15801, with something as follows:

[code]

(And an appropriate reftest).

For ex

[2017-03-03 00:24] emilio commented on #15162
If someone with some previous experience with Servo and/or a lot of willingness to learn wants to try to tacke https://github.com/servo/servo/issues/15806, I can happily mentor it :)

[2017-03-03 00:55] projektir commented on #15790
I started working on this issue and I could use some help. This is how far I got in writing a unit test: https://is.gd/eDsPET

The output I am getting is quite a bit off, seems like text-decoration (and possibly border style) is not being combined correctly: "text-decoration: overline; text-decoration-color: rgb(128, 0, 128); border-style: dotted;".

[2017-03-03 01:01] upsuper commented on #15790
`text-decoration` contains three longhands: `text-decoration-line`, `text-decoration-style` and `text-decoration-color`. All of the three needs to present to have `text-decoration` shorthand get serialized.

Hmm, Servo currently only has `text-decoration` longhand, while Stylo has `text-decoration` shorthand consists of `text-decoration-{line,style,color}` longhands, which could lead to some confu

[2017-03-03 01:03] projektir commented on #15790
Yeah, I found some setting that provides text-decoration-line for gecko, but for servo, it just becomes text-decoration? I was very confused by it, since the text.mako.rs does have text-decoration-line, but I am unable to "use" it.

I am also unclear on how to set text-decoration-style, as it doesn't seem to be a type, which is why I substituted border-style. Perhaps I didn't figure out something

[2017-03-03 01:29] shubDhond commented on #15806
@emilio I can take a go at this.

[2017-03-03 03:49] #15801 closed

[2017-03-03 03:59] upsuper opened #15807 "Avoid heap allocation for initial value of vector longhands which do not allow empty"
So far there are various vector longhands which have `allow_empty` being false. The initial value of those properties would always need a heap allocation for the only element in the vector. This should be fixed.

Gecko avoids this via having the first element stored inline. Servo can probably use this method as well.

cc @emilio @Manishearth

[2017-03-03 04:01] Manishearth commented on #15807
These should use `Option<Box<T>>` (or `Either<None, Box<T>>`) explicitly.

[2017-03-03 04:02] upsuper commented on #15807
That probably makes things more complicated. It should just be
[code]
and you can implement index trait on it.

[2017-03-03 06:06] absoludity commented on #15342
Hi @upsuper . I took a look at this last night and put together a small proof-of-concept for background-position-x:

https://github.com/absoludity/servo/commit/5c3beb622c9d244b677c20f6013da1126488da3e

As per the comment there, what I'm not yet sure about is who or what will trigger the ParserContext::QuirksMode to change, and when that happens. I'll take a closer look over the weekend, but let me

[2017-03-03 06:30] paulrouget commented on #15734
I need clarifications and maybe a cosmetic change.

Clarifications:

I need to understand when exactly to swap the gl buffers. When `WindowMethods::Present` is called? Every time the main thread is awakened? Both? Should I swap after or before `handle_event()` has been called? Do I need to call `handle_event()` every time the main thread is awakened or only when it is awakened by the CompositorPro

[2017-03-03 06:37] jdm commented on #14519
Huh, I guess so!

[2017-03-03 06:40] jdm commented on #15386
The changes in #15423 look good, but we need to [write](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) a new automated test that verifies that the fix works as expected.

[2017-03-03 06:48] upsuper commented on #15342
I think all constructors of `ParserContext` should have a new parameter `quirks_mode`, and that parameter should be recursively propagated into all the callers, until at some level the function is responsible to provide the quirks mode (which is a per-document thing).

For example:
* `ParserContext::new_with_extra_data` is called by
* `style::properties::parse_style_attribute`, which is called by

[2017-03-03 08:00] jdm commented on #15790
I bet @manishearth will have better answers for how/if this can be tested.

[2017-03-03 08:07] jdm commented on #15621
https://github.com/servo/servo/blob/aeb7ab867f6d0d0df049329ebb55231c1e092805/ports/glutin/window.rs#L832-L839 looks like a smoking gun to me!

@simpslandyy We'll need to modify that code to modify the context's size appropriately, and [add](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) an automated test verifying that it works.

[2017-03-03 08:09] Manishearth commented on #15790
(We already discussed this in IRC, for this to be testable we'd need to make servo's text-decoration a shorthand as well. Currently text-decoration is excluded from testing because it kinda clashes with a shorthand of the same name, even though the shorthand is gecko only)

[2017-03-03 08:09] jdm commented on #15621
Note - Window.resizeTo ends up sending [this message](https://github.com/servo/servo/blob/aeb7ab867f6d0d0df049329ebb55231c1e092805/components/constellation/constellation.rs#L1063) to the constellation. I haven't traced how that ends up triggering a resize message in the non-headless case.

[2017-03-03 08:52] n0max commented on #15386
I would like to work on this. Is [drawing-images-to-the-canvas](https://github.com/servo/servo/tree/17fe437fb72694763f0f7f1b4701127ebc2ef5aa/tests/wpt/web-platform-tests/offscreen-canvas/drawing-images-to-the-canvas) the correct position for the test?

@highfive: assign me

[2017-03-03 08:52] highfive commented on #15386
Hey @n0max! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-03 09:21] mrmiywj commented on #3847
@jdm, hi jdm, I'm going to use this idea as my GSoC 2017 project idea. Is there anyone working on this? I will try to explore the working flows about this idea recently. Is there any related suggested issue to work on?

[2017-03-03 09:43] ferjm commented on #15806
/me wants to learn :) I'll bug you on IRC as soon as I am blocked.

[2017-03-03 10:16] #13276 closed

[2017-03-03 10:23] nox commented on #15488
This does not change the serialization code, but I guess that doesn't matter?

[2017-03-03 10:27] jdm commented on #3847
I don't think there are any other issues related to this.

[2017-03-03 10:29] jdm commented on #15386
No, we don't support the OffscreenCanvas API yet. A test belongs in tests/wpt/web-platform-tests/2dcontext/drawing-images-to-the-canvas/ instead.

[2017-03-03 11:07] jdm commented on #14975
Have you made any progress, @seanlee31?

[2017-03-03 11:07] jdm commented on #14226
Closing in favour of #14975.

[2017-03-03 11:07] #14226 closed

[2017-03-03 11:28] #15660 closed

[2017-03-03 11:39] jdm commented on #6599
This works now.

[2017-03-03 11:39] #6599 closed

[2017-03-03 11:42] jdm commented on #6407
The error on the polymer example page now reads:
[code]

[2017-03-03 11:44] jdm commented on #5861
This works now.

[2017-03-03 11:44] #5861 closed

[2017-03-03 11:49] #976 closed

[2017-03-03 12:03] canaltinova commented on #15706
I'm working on this

[2017-03-03 14:30] gabisurita commented on #8570
If no one is working on that I'll like to give it I try :)

[2017-03-03 14:34] andreastt commented on #15759
openssl dependency in Servo will be bumped in less than a week, c.f. https://github.com/servo/servo/pull/15764#issuecomment-283966406.

[2017-03-03 14:37] nox commented on #15542
That is done.

[2017-03-03 14:37] #15542 closed

[2017-03-03 15:08] schuster commented on #8570
@pcwalton said in #13434 he already did this in #13870, so I think this issue should actually be closed.

[2017-03-03 15:31] sendilkumarn commented on #15684
is this issue up for grabs ?

[2017-03-03 15:49] asajeffrey commented on #15734
Clarifications: @glennw, you are better equipped than I am to talk about GL buffer swapping.

Cosmetic change: I'm not sure what the proposed API change is here, is the idea for the `Browser` to separate the method for queuing events from the one from performing updates?

[2017-03-03 16:17] #14521 closed

[2017-03-03 16:28] gpoesia commented on #15727
I'd like to investigate this.

[2017-03-03 17:15] #15197 closed

[2017-03-03 18:02] jdm commented on #15684
I suspect that it requires https://github.com/chronotope/chrono/issues/135 to be solved, first.

[2017-03-03 18:05] jdm commented on #15727
@gpoesia That would be really useful! I suspect it's caused by the special case in HTMLIFramEelement::process_the_iframe_attributes and ScriptThread::handle_frame_load_event, so we'll probably want to suppress the one invoked by the ScriptThread.

[2017-03-03 18:26] jdm commented on #8570
Ooh, ok. Sorry @gabisurita! We can look for something else for you to work on if you would like!

[2017-03-03 18:26] #8570 closed

[2017-03-03 19:03] jdm opened #15810 "Use if let in apply_declarations instead of match"
For the code that only runs for custom properties, we can use an `if let` instead of a `match` with a single `PropertyDeclaration::Custom` pattern.

Code: `components/style/properties/properties.mako.rs`

[2017-03-03 19:03] highfive commented on #15810
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-03 19:06] jdm opened #15811 "Use `if let` with as_element instead of is_element and unwrap"
We have code that looks like `if node.is_element() && node.as_element().unwrap().foo`, which we can write as:
[code]
This ends up being nicer to read and reason about, and contains fewer unwrap calls!

Code: `components/script/layout_wrapper.rs`

[2017-03-03 19:06] highfive commented on #15811
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-03 19:08] jdm opened #15812 "Use Option::or_else instead of transforming Some => Some"
We have code inside matches in ThreadSafeLayoutNodeChildrenIterator that looks like `Some(x) => Some(x)`. We can replace the `match foo` with `foo.or_else(|| ...)` where the ... is the code for the None branch. This is more idiomatic Rust code.

Code: `components/script/layout_wrapper.rs`

[2017-03-03 19:08] highfive commented on #15812
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-03 19:09] jdm commented on #15811
@barrotsteindev This is a straightforward change you could make!

[2017-03-03 19:09] jdm commented on #15812
@crypto-universe This is a straightfoward change that you could make!

[2017-03-03 19:14] crypto-universe commented on #15812
Perfect, I take it! Thanks, @jdm

[2017-03-03 19:15] jdm commented on #15810
I'm claiming this for a potential Outreachy candidate.

[2017-03-03 19:45] jdm commented on #15448
@alexfish8 Have you made any progress here?

[2017-03-03 20:24] c4khatta commented on #15811
@highfive: assign me Hi, can I work on this issue?

[2017-03-03 20:24] highfive commented on #15811
Hey @c4khatta! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-03 20:35] bzbarsky commented on #15706
Note corresponding https://bugzilla.mozilla.org/show_bug.cgi?id=1342139

[2017-03-03 20:57] crypto-universe commented on #15812
@jdm check the PR, please. First of all coding rules, because I'm not familiar with them. How to break long lines, for example?

[2017-03-03 22:23] #15812 closed

[2017-03-04 00:23] projektir commented on #15790
I'm still working on this, and hoping to spend more time on it this weekend. Renaming all instances of text-decoration to text-decoration-line is turning out to be quite the rabbit hole. The latest issues were with CSSStyleDeclaration.

The only thing: I was unable to figure out what to do with cascade_property_custom() in properties/longhand/text.mako.rs. After making servo use text-decoration-li

[2017-03-04 01:01] Manishearth commented on #15790
Could you push up your code and note the error it emits?

[2017-03-04 01:13] projektir commented on #15790
@Manishearth I pushed them out here: https://github.com/projektir/servo/pull/1

Errors I am getting: http://pastebin.com/kjuTAmFN

[2017-03-04 01:16] Manishearth commented on #15790
Yeah, the problem is that you removed the custom_cascade thing as well. Leave that untouched.

[2017-03-04 01:21] projektir commented on #15790
Ah, it was the comment from xidorn that confused me:

01:15 xidorn I think you can remove custom_cascade and disable_when_testing in the latter code then

I'll try unremoving it, thanks!

[2017-03-04 02:14] LifeIsStrange commented on #3847
@mrmiywj actually there is this
https://github.com/servo/html5ever/issues/25

[2017-03-04 04:14] jdm commented on #15621
@alanhoff Would you be interested in looking into this?

[2017-03-04 04:19] jdm commented on #15082
Unassigning due to inactivity.

[2017-03-04 04:20] jdm commented on #14954
@faineance How's it going?

[2017-03-04 04:23] jdm commented on #15345
@lakis Have you made any progress here?

[2017-03-04 04:26] jdm commented on #15460
Have you made progress on this, @karan1276? I know you've been working on another task.

[2017-03-04 04:28] alanhoff commented on #15621
@jdm yes I'm, where can I start?

[2017-03-04 04:36] jdm commented on #15621
1. Verify the testcase behaves as described.
2. Trace the execution from `Window::ResizeTo` in `components/script/dom/window.rs` to the code that I mentioned in previous comments to verify my guesses
3. Modify `ports/glutin/window.rs` as suggested and see if anything changes
4. Trace what happens in the non-headless case and how that causes a resize event to reach the script thread (probably via a

[2017-03-04 04:39] jdm commented on #14095
@Ms2ger You're more familiar with the namespace stuff; could you answer the previous comment?

[2017-03-04 04:52] alanhoff commented on #15621
Thanks for the instructions, I'm going to fix this problem this weekend.

[2017-03-04 07:08] Iakis commented on #15345
@jdm Hi sorry for the lack of updates, I currently have a solution im pretty confident in but Im having trouble setting up tests. Also, if i could just ask for clarification on what should be done when i "reject" the negative values.

[2017-03-04 07:10] Wafflespeanut commented on #15345
Negative values are supposed to return an `Err(())` just like any other CSS parse error anywhere.

[2017-03-04 11:30] charlesvdv opened #15819 "panic when deleting non-ascii character"
#### Step to reproduce

- ``` ./mach run -d test.html ```
*test.html:*
[code]
 - click on the middle of the strings.
    - The cursor move at the wrong place (first bug)
    - Example:
[code]

- delete one ```ç```. Get a panic:
[code]

Looks like unicode character are badly supported on HTMLInputElement.

[2017-03-04 11:44] nox commented on #6177
Closing.

[2017-03-04 11:44] #6177 closed

[2017-03-04 11:44] nox commented on #7480
We should find a contributor to do this.

[2017-03-04 11:45] nox commented on #9101
We now do this pretty consistently, no?

[2017-03-04 11:49] nox commented on #10401
Is anyone working on a smup?

[2017-03-04 11:50] nox commented on #11070
I think our current code is good enough.

[2017-03-04 11:50] #11070 closed

[2017-03-04 11:50] tschneidereit commented on #10401
Yes, @fitzgen is. He's very close to getting a usable mozjs using unmodified upstream, at which point he'll do the actual smup.

[2017-03-04 11:51] nox commented on #10401
Nice! Happy to hear that.

[2017-03-04 11:52] nox commented on #11271
Do we still care about this?

[2017-03-04 11:52] nox commented on #11500
This can probably be made into an E-Easy.

[2017-03-04 11:53] nox commented on #11507
What's suspicious about it?

[2017-03-04 11:54] nox commented on #11829
Closing this.

[2017-03-04 11:54] #11829 closed

[2017-03-04 11:57] nox commented on #12494
What's the status on this?

[2017-03-04 11:58] #15488 closed

[2017-03-04 12:00] nox commented on #13403
@jack My hands are full these days, but I think this should definitely be done ASAP.

[2017-03-04 12:00] nox commented on #13403
Cc @Ms2ger @jdm

[2017-03-04 12:01] nox commented on #13790
We now use `ServoUrl` which contains an `Arc`.

[2017-03-04 12:01] #13790 closed

[2017-03-04 12:01] nox commented on #14079
@emilio Is this still true?

[2017-03-04 12:20] canaltinova commented on #15772
I've tried only this certain example in Chrome earlier. After trying different cases, it looks like Chrome doesn't accept sub-properties apart from mask-reference.(this was previous spec behavior, I guess) I couldn't see any issue about the mask shorthand in Chrome issue tracker either.
(But in background shorthand, Chrome accepts non-consecutive background-origin and background-clip, Firefox does

[2017-03-04 12:24] canaltinova commented on #15819
I'm able to reproduce this. There is a FIXME [here](https://dxr.mozilla.org/servo/rev/b4d7ed7351068c4655a423b4ca835aab4e8f3c39/components/script/textinput.rs#379-380) which is probably related to this. The panicing line below this comment:
[code]

[2017-03-04 12:39] dudelson commented on #15082
@highfive: assign me

[2017-03-04 12:39] highfive commented on #15082
Hey @dudelson! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-04 12:41] dudelson commented on #3847
@jdm I'd also like to take a cursory look into this project, if you don't mind multiple people investigating it at once.

[2017-03-04 13:30] charlesvdv commented on #15819
I would be happy to tackle this one if you are not doing it @canaltinova 😄

[2017-03-04 13:56] canaltinova commented on #15819
Sure, go ahead! :)

[2017-03-04 14:17] sendilkumarn commented on #15316
Is this up for grab ?

[2017-03-04 15:16] sendilkumarn commented on #15162
I am also looking to get started as well.

[2017-03-04 15:18] vernans commented on #12675
For how long?

[2017-03-04 16:25] zimio commented on #14887
I still not understanding this completely. Who is mentoring this? Matthews?

My first question is, where are the unit tests for node.rs?

I already tried servo/tests/unit, but not luck there. (would seem like the most likely place)

Second question is regarding the problem here.

I'm thinking maybe that children_changed method calls too many handlers for the simple case of adding text to a node. S

[2017-03-04 17:47] KiChjang commented on #15316
Yes, do you want to work on this?

[2017-03-04 17:51] KiChjang commented on #12675
It seems like he is unresponsive, you can go ahead and work on this!

[2017-03-04 18:49] asajeffrey commented on #12494
@nox: I think my summary would be "might be nice to have, but low priority."

[2017-03-04 18:52] asajeffrey commented on #11271
Yes, but it's low priority. While we're at it, the naming of the *Msg types is a bit erratic.

[2017-03-04 21:19] Aaron-Tang commented on #15169
Sorry I'm still very confused on how to fix this bug. I understand that the issue now is that the to_css function gets both the height and width of the borderradius into the dest object, which is then written using write. I'm trying to figure out how to access the height and width attributes of BorderRadiusSize before this occurs so I can run checks to see if it can be shortened. I can't seem to f

[2017-03-04 22:06] absoludity commented on #15342
@upsuper: How can that particular example propagation path (up to attribute_mutated) be tested? Adding the quirks_mode through there is easy enough, but neither the unit tests or wpt tests (unitless-length.html) seem to have any test which is affected by that. I'll look for another propagation path to something for which I can test (currently checking `new_with_extra_data` -> `CSSRule::parse` -> .

[2017-03-04 22:12] jtran12 commented on #15494
I'm not quite sure how to test my modified `parse_factor` function in `style/properties/longhand/effects.mako.rs` in the test file `tests/unit/style/parsing/effects.rs` I assume the syntax for importing the function would look something like this:

`use style::properties::longhands::animation_iteration_count::single_value::computed_value::T as AnimationIterationCount;` ?

I've looked at the animat

[2017-03-04 23:29] emilio commented on #14079
It is, and we need to get it fixed sooner rather than later.

On Sat, Mar 04, 2017 at 04:02:02AM -0800, Anthony Ramine wrote:

[2017-03-05 00:11] sendilkumarn commented on #15316
Yeah

[2017-03-05 00:26] upsuper commented on #15342
I guess you can start with adding a branch to the [`parse_longhand` macro](https://github.com/servo/servo/blob/d8a8e3e42eda3704d8793d398b24f2e37bded4ec/tests/unit/style/parsing/mod.rs#L72-L78) to make it accept an optional quirks mode parameter, and then add some assertions to parsing tests of corresponding properties.

I think wpt test unitless-length.html depends on path via `Stylesheet::update_

[2017-03-05 00:32] upsuper commented on #15342
For testing `attribute_mutated`, the best way is probably having a quirks mode document which use `elem.setAttribute('style', sometestcode);`. Not sure where is the best place to put it... Probably new reftests in wpt or wpt/mozilla.

@jdm do you have any suggestion?

[2017-03-05 00:50] upsuper commented on #15494
I think the easiest way would be testing that `filter::parse` returns `Err` for filters with negative factor, but `Ok` for normal values. You need to add `filter` to `use style::properties::longhands::` and probably do something like `assert!(parse(filter::parse, "invalid value").is_err());`. in the test.

[2017-03-05 01:06] jdm commented on #3847
It's intended as a GSoC project, so it's probably best suited for people intending to apply for that.

[2017-03-05 01:26] absoludity commented on #15342
Yeah, unit tests of the properties themselves are straight forward (already in the branch for background-position-x, though that's a good idea for updating `parse_longhand` to accept quirks mode - I'll update to that), but I'd feel safer if I could test the integration also (where I'm pushing the quirks_mode arg up to `attribute_mutated` in this case). Thanks either way - I'll keep experimenting.

[2017-03-05 01:49] jdm commented on #15342
Until we can modify css-tests, integration tests belong in tests/wpt/mozilla/tests.

[2017-03-05 04:52] paulrouget commented on #15734
Yes. It doesn't change the final behaviour, it just to make it clear what's going on.

The embedder would call `Browser::perform_updates()`, and in `perform_updates()`, Servo would call `window.get_events() -> Vec<WindowEvent>`.

[2017-03-05 06:03] dudelson commented on #3847
Sorry for not being clear. I am also a prospective GSoC student.

[2017-03-05 06:17] abhiaecs commented on #15162
Hey,
I am  new to rust and looking for an easy task to improve my skills and get started in contributing to the project.

[2017-03-05 10:01] o0Ignition0o commented on #15162
Hey there,
I'm pretty new to rust too, have been working for about 3 years mainly dealing with Java, PHP, and Javascript. I'm practicing TDD as much as I can.
Would love to get involved !

[2017-03-05 10:16] karan1276 commented on #15460
@Manishearth Sorry for late reply, somehow i didn't read that. That issue is resolved now :)

@jdm Yeah i am really done with this, but some force push messed up my branch. Ill just clean that and commit it today

[2017-03-05 13:59] nox opened #15823 "Audit ImageData code"
Things such as `let len = width * height * 4;` without any explicit overflow checking scares me.

[2017-03-05 15:08] lucantrop commented on #15823
Hey, is it ok if I try to do this one? I'd have to ask you a few clarifying questions, but I think I can handle it, even though I'm a beginner in Rust.

[2017-03-05 16:14] nox opened #15824 "Audit how much a libc 1.0 release would impact our dependency graph"
### angle

Dependency on `libc` was [killed](https://github.com/servo/angle/pull/18), breaking change because of `libc::c_void`.

### azure

Depends on `core-foundation` and others. To audit.

### backtrace

Uses symbols from `libc`, but does not expose any of them, no breaking change.

### backtrace-sys

Exposes only `libc::uintptr_t`, which is guaranteed to be `usize`, so the dependency can be c

[2017-03-05 17:15] radhika2896 commented on #15486
How can I test, if my implementation for the fix works?

[2017-03-05 19:04] Wafflespeanut commented on #15169
You don't really need to worry about everything. Let's go through some stuff. We know that the [parsing code](https://dxr.mozilla.org/servo/rev/d8a8e3e42eda3704d8793d398b24f2e37bded4ec/components/style/properties/shorthand/border.mako.rs#189-194) which uses the existing [`BorderRadius`](http://doc.servo.org/style/values/specified/basic_shape/struct.BorderRadius.html) implementation works just fine

[2017-03-05 21:08] enizor commented on #14095
Nevermind my previous comment, I realised that I misunderstood the HTML namespace usage. No changes for Document-createElement are needed.

[2017-03-05 22:26] prampey commented on #8539
Sorry for the delay guys. Had my tests.
@jdm I did some digging and found the `serde_json` crate. Based on the requirements posed, I think it would be effective to use a `HashMap<String, Value>` data structure. A HashMap because well, it is dynamic in nature (grows to our requirements) and it has proper error checking, so with any false-key extraction, the compiler automatically blurts out the key

[2017-03-06 00:13] PhilHernandez commented on #15162
Hello,
I'm new to rust, and I'd love to contribute to servo. I'm looking for an easy task to gain experience with contributing to open source projects. I have experience with programming in Python, Java, and Javascript. Looking forward to working on something!

[2017-03-06 01:28] upsuper commented on #15486
I think you can add a new unit test in servo/tests/unit/style/parsing/ (probably create a new file length.rs) and test things like `assert!(parse(Length::parse, "calc(1px+ 2px)").is_err());`.

[2017-03-06 03:06] projektir commented on #15790
@Manishearth
text-decoration doesn't shorthand for me. I have an idea as to why that's happening. I checked to make sure, and I'm certain the incoming properties are correct:

[text-decoration-line: overline, text-decoration-style: dotted, text-decoration-color: rgb(128, 0, 128)]
But they shorthand only to:
text-decoration: overline, text-decoration-style: dotted, text-decoration-color: rgb(128, 0

[2017-03-06 03:28] Manishearth commented on #15790
During testing, `product` is still `"servo"`, _however_ longhands and shorthands will be included regardless of their product. So during testing the non-servo code won't be included, but the non-servo properties won't be marked as longhands for that shorthand anyway.

I'll try to build your branch locally to see what's wrong.

[2017-03-06 03:35] Manishearth commented on #15790
OH, I see the issue. This is behaving as expected. Yes, this can't be tested directly that way. What you can do is change all of the `product==servo` checks in the shorthand to be something like `product == "servo" or data.testing`.

[2017-03-06 03:37] jdm commented on #8539
@prampey We already store preferences inside of a HashMap; the goal of this work is to make it a compile-time failure to use a preference name that does not exist.

[2017-03-06 04:13] #15810 closed

[2017-03-06 04:26] projektir commented on #15790
Did you mean to say product != "servo" or data.testing? Because that worked.

[2017-03-06 04:27] Manishearth commented on #15790
yes, that 😄

[2017-03-06 05:49] glennw commented on #15734
```WindowMethods::present()``` is called by the compositor each time it has drawn a new frame to the backbuffer. So this callback is what should be used to swap the buffers.

[2017-03-06 05:56] lnishan commented on #15776
! 0.0

Wrong GitHub
I'm "L"nishan XD

[2017-03-06 06:05] paulrouget commented on #15734
Glenn helped me on IRC.

Yes.

No.

Before.

Still unknown. Experimenting.

[2017-03-06 07:05] jeremywangyuan commented on #15776
Hi
sorry I am late

[2017-03-06 07:21] shinglyu commented on #15776
We are keeping the notes here: https://hackmd.io/s/Hkju1t9Fg

[2017-03-06 07:26] fabricedesre commented on #15776
Cool! Just one nit: I'm not in Spain, but in Mountain View

[2017-03-06 07:27] shinglyu commented on #12931
So I guess we have some way to work around this:
1. Update libfontconfig to version most modern system use, so we can reuse the cache?
2. Do not block on font caching (is it possible?)
3. Don't change anything, just show a log/stdout message that we are blocking on font cache generation and may take a while

Thoughts? @heftig

[2017-03-06 07:30] shinglyu commented on #15776
@fabricedesre : Sorry my bad. updated.

[2017-03-06 07:44] shinglyu opened #15829 "Build a browser prototype with Vim-style control"
Got this idea while reading this [vimperator bug](https://github.com/vimperator/vimperator-labs/issues/705#issuecomment-282424689).

As a vim user, I really like to use vim style key bindings to control my browser. Instead of hacking on existing browsers using addons, we can probably build a super-light UI on top of servo, with a simple command bar like vim in the bottom. Then we control it with
*

[2017-03-06 08:33] avinash-vijayaraghavan commented on #7458
@jdm
this looks interesting. would like to try it out if it is a mentored project

[2017-03-06 08:36] #15309 closed

[2017-03-06 10:07] jdm commented on #7458
@avinash-vijayaraghavan There's no clear benefit to working on it at this point in time, so I don't think anyone will want to put in the time to mentor it.

[2017-03-06 10:20] jdm opened #15832 "Clean up un-idiomatic code in HTMLImageElement::handle_event"
We should make the following changes to `HTMLImageElement::handle_event` in order to make it easier to read:
* invert the condition that check's the event's type, and return if it does not match (this removes a level of indentation)
* rewrite patterns like:
[code]
to use a `match` statement instead (more compact)
* make `Area::hit_test` take the point argument by reference (htmlareaelement.rs)
* m

[2017-03-06 10:20] jdm commented on #15832
Assigned to @snehasi and @riya16079.

[2017-03-06 10:31] jdm opened #15834 "Clean up Area::parse"
There are some inefficient pieces of code in `Area::parse`:
* `ar_ref` looks like it's unnecessary; we should be able to use `array` directly instead
* let's use str::from_utf8 instead of String::from_utf8 (this allows us to avoid calling clone())
* get rid of the use of `unwrap()` by using `Result::and_then` instead

Code: `components/script/dom/htmlareaelement.rs`

No need for automated tests; i

[2017-03-06 10:31] jdm commented on #15834
Claiming this task for some potential Outreachy candidates.

[2017-03-06 10:35] jdm opened #15835 "Clean up HTMLImageElement::areas"
`HTMLImageElement::areas` contains some code that is longer than necessary:
* we can invert the has_attribute check and return immediately (this avoids the need for an `else`)
* we can rewrite both `match` statements as a single `if`

Code: `components/script/dom/htmlimageelement.rs`

No need for automated tests; if the code compiles, that's good enough for a PR.

[2017-03-06 10:35] highfive commented on #15835
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-06 10:45] BorisChiou commented on #15740
I almost finish this issue. After gecko patches landing, I will create a PR for reviewing.

[2017-03-06 11:14] brizental commented on #14947
I would like to work on this. Could you give me some pointers on how to start? @jdm

[2017-03-06 12:18] jdm opened #15838 "Div with display: table-cell containing h1 positions text oddly"
[code]
Firefox:
<img width="137" alt="screen shot 2017-03-06 at 5 47 44 pm" src="https://cloud.githubusercontent.com/assets/27658/23609660/10588c94-0295-11e7-9f86-7c037bc63061.png">
Servo:
<img width="138" alt="screen shot 2017-03-06 at 5 47 54 pm" src="https://cloud.githubusercontent.com/assets/27658/23609665/165f182e-0295-11e7-9f76-cd791c2c0bbf.png">

[2017-03-06 12:29] bunnybooboo commented on #15709
Reproduced on Wordpress.com blog when rendering https://s1.wp.com/i/logo/wpcom-gray-white.png

[2017-03-06 12:36] annevk commented on #14519
Does Servo fail http://web-platform.test:8000/cors/redirect-preflight.htm then? It's not entirely clear to me the referenced WPT tests above actually test this.

[2017-03-06 12:53] jdm commented on #14519
Yes, it does.

[2017-03-06 12:53] jdm commented on #14519
Whoops, I mean that Servo passes redirect-preflight.htm.

[2017-03-06 12:55] annevk commented on #14519
That means Servo has the same bug as browsers do today and does not allow redirects after a preflight (likely resulting in a new preflight). So this still needs changes to the networking code.

[2017-03-06 13:01] multhazim123 commented on #15200
Hi @KiChjang, I'm unable to check the relevant code. The link shows me some other line. Could you let me know which lines pls.

[2017-03-06 13:12] ak1t0 commented on #15835
I would like to work on this issue.
@highfive: assign me

[2017-03-06 13:12] highfive commented on #15835
Hey @ak1t0! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-06 13:19] hack3p commented on #15835
@highfive, @ak1t0  ops, i'm sorry, I did not make it in time..

[2017-03-06 13:25] upsuper commented on #15200
https://github.com/servo/servo/blob/c62973b77b6ac74c0daf11b1f4c18b9dd64ae400/components/style/properties/shorthand/background.mako.rs#L233-L237
https://github.com/servo/servo/blob/c62973b77b6ac74c0daf11b1f4c18b9dd64ae400/components/style/properties/shorthand/mask.mako.rs#L227-L230

[2017-03-06 13:42] Iakis commented on #15345
thanks for the reply! Im having trouble figuring out how to test it, ive read through the servo readme and quickstart guides, following the debugging instructions just opens visual studio but Im not too sure what to do,  is there another document i could refer to?

[2017-03-06 13:43] prampey commented on #8539
@jdm Okay, so we can either convert it into a struct which performs its own compile-time checking or we could use a _compiler plugin_ which traces through the data structure for our keyname and then reports a result. Right?

[2017-03-06 13:46] Wafflespeanut commented on #15345
We generally add unit tests for cases like this, and they all live in `tests/unit/style`. Please have a look at the existing parse tests, which will give you an idea about how they work. Finally, `./mach test-unit -p style` will make sure that the tests don't fail.

[2017-03-06 15:37] canaltinova opened #15840 "Make the second value of SpecifiedValue optional in border-spacing property"
In [border-spacing](https://dxr.mozilla.org/servo/rev/511b82eea3eb3a4fdbd7b5fac61a0e292c474d60/components/style/properties/longhand/inherited_table.mako.rs#23-139) property, SpecifiedValue struct is currently combined of a horizontal and a vertical value. It's indeed true but it's grammar is like this:
`<length> <length>?`
That means the second length is optional and if it's omitted, first value a

[2017-03-06 15:37] highfive commented on #15840
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-06 15:43] Wafflespeanut commented on #15840
I'll remove the easy tag, so that I can get someone from the other issue.

[2017-03-06 15:44] Wafflespeanut commented on #15162
#15840 is up for grabs. Anyone wanna take it?

[2017-03-06 15:47] chansuke commented on #15316
In my understanding, [this](https://github.com/servo/rust-mozjs/pull/328/commits/00956dfbfb3dc713c5a572dcad6937bd9e343657) makes allows interior mutability when we use Heap objects,so no need the part below.

[code]
Isn't it enough to delete the rest of `MutHeapJSVal`(e.g:"use dom::bindings::js::{JS, Root, MutHeapJSVal};") and replace it into `Heap<JSVal>`?

[2017-03-06 15:49] crypto-universe commented on #15840
It there a page, on which it is possible to check, if the fix was correct?

[2017-03-06 15:56] sendilkumarn commented on #15316
yeah. got it.

and to replace `MutHeapJSVal::new()` -> `Heap<JSVal>::default()`

[2017-03-06 15:58] #15708 closed

[2017-03-06 16:03] canaltinova commented on #15840
You can test this with a simple test case like this:
[code]

But I guess we should give some time to consider to people in the "Looking for something to work on?" issue first.  They are waiting for a quite some time. Sorry about that.

[2017-03-06 16:14] PhilHernandez commented on #15162
Hey @Wafflespeanut ,
I'd like to work on #15840 if it's still open, thanks.

[2017-03-06 16:15] PhilHernandez commented on #15840
Hello,
I'm interested on working on this for my first servo contribution/rust code.
@highfive: assign me

[2017-03-06 16:15] highfive commented on #15840
Hey @PhilHernandez! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-06 17:10] ferjm commented on #14519
Ah, I missed the [comments](https://github.com/w3c/web-platform-tests/pull/4102#issuecomment-281350530) about the redirect-preflight.htm test. Thanks for the pointer @annevk. I'll work on the fix.

[2017-03-06 17:26] Wafflespeanut opened #15842 "Add gecko glue for caret-color"
#15465 added parsing/serialization for `caret-color`. However, we still need to plug it into Stylo. Here's how we're gonna do it:

 - Move the `caret-color` definition from `components/style/properties/longhands/ui.mako.rs` to `pointing.mako.rs`
 - Change the `products` to `"gecko"` (so that we enable it for Stylo)
 - Now, we need to add `caret-color` to [this list](https://dxr.mozilla.org/servo/r

[2017-03-06 17:26] highfive commented on #15842
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-06 17:26] Wafflespeanut commented on #15162
#15842 is up for anyone interested.

[2017-03-06 17:30] sendilkumarn commented on #15842
@highfive: assign me

[2017-03-06 17:30] highfive commented on #15842
Hey @sendilkumarn! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-06 17:31] radhika2896 commented on #15486
Hi i would like to clarify something, what does this mean?
_ => return Err(())

[2017-03-06 17:35] Wafflespeanut commented on #15842
Hi @sendilkumarn! Sorry, but this issue is for some people who've been waiting for days to get into Servo (which is why I removed the easy tag). So, I'm going to unassign this for now. I'll wait for them for a day or two before giving it away to someone else. If they don't respond over the period, then it's all yours :)

[2017-03-06 17:44] Wafflespeanut commented on #15842
(I'd better cc them here to avoid future pings)

@barrotsteindev @jdhorwitz @abhiaecs @o0Ignition0o - one of you is welcome to tackle this :)

[2017-03-06 17:56] chmln commented on #15162
Looking to contribute to the Rust codebase.
Plenty of experience in JS, C/C++, Python, etc

[2017-03-06 18:15] vernans commented on #12675
Okay, I have a question. At the moment, the fmt::Debug trait for BaseFlow uses more data than Serde::ser::Serialize. Considering Debug, should I make Serialize use the remaining fields? It would change the output of trace-layout I guess.

[2017-03-06 20:13] jtran12 commented on #15494
After following the suggestion of adding `filter `to `use style::properties::longhands::` I've gotten `assert!(parse(filter::parse, "x").is_ok());` (which shows up as an error, so it's not the correct value for input) However, I'm struggling to figure out what values would be considered correct to replace `"x"`

I was looking at: `http://doc.servo.org/style/properties/longhands/filter/fn.parse.htm

[2017-03-06 20:19] totallybradical commented on #15600
Hi Josh,
An update and a question for you:
- We've gone ahead and created a [GitHub repo](https://github.com/chbrown13/servo-dependency-tool) for our development on this tool per your suggestion.
- As far as parsing the Cargo.lock, are we only concerned with the packages? (i.e. the information after each [[package]] heading). From what I've gathered, the dependency listings under [[root]] are thos

[2017-03-06 23:11] StefanoChiodino commented on #15162
I'd like to participate! Started rust recently, mostly c# web developer by the day

[2017-03-06 23:12] upsuper commented on #15494
`filter::parse` takes those parameters, but it is relatively redundant to provide all of those in tests, so there is [a helper function `parse`](https://github.com/servo/servo/blob/0dbee36915abd926e61ca8571e11abf1f97ec830/tests/unit/style/parsing/mod.rs#L12-L17) defined in tests/unit/style/parsing/mod.rs for easily testing it.

That helper function takes a parsing function (`filter::parse` in this

[2017-03-06 23:43] upsuper commented on #15486
It means in any case that doesn't match anything above it (`_` matches anything), return a value `Err(())`, which means an error happens during parsing.

[2017-03-07 02:02] jdm commented on #14947
I discovered that the display: table-cell isn't necessary, which is a nice simplification for the testcase. Using tools like the [layout tracer](https://github.com/servo/servo/tree/master/etc/layout_viewer), `RUST_LOG=layout`, and my debugger, I was able to determine that the h1's position gets set during `assign_block_size_block_base` in `block.rs` - specifically, it's the call to `margin_collaps

[2017-03-07 03:03] lnishan commented on #15829
Interesting idea! :)

[2017-03-07 03:24] #15746 closed

[2017-03-07 04:09] jdm commented on #8539
That sounds correct. A structure sounds less complicated than a compiler plugin to me.

[2017-03-07 04:26] Rakhisharma commented on #15834
@iamneha and @rakhisharma (me) are working on this issue. @jdm thanks!

[2017-03-07 06:10] jdm commented on #15600
This is a good question. It might make sense to ignore Cargo.lock to start with and only focus on the Cargo.toml files, since Cargo.lock includes dependencies of other dependencies, which cannot necessarily be updated in the same way as the direct dependencies specified in Servo's Cargo.toml files.

[2017-03-07 06:11] jdm commented on #15600
That being said, the versions of Servo's dependencies listed in Cargo.lock can be more specific than the ones in Servo's Cargo.toml files (ie. 0.5.3 vs. 0.5), so I guess we do need to parse Cargo.lock to obtain that.

[2017-03-07 06:21] paulrouget commented on #15829
If anyone wants to work on this, and plan to embed servo without using CEF, take a look at this list of embedding issues you might end up running into: https://github.com/paulrouget/servoshell/projects/2

[2017-03-07 09:52] jdm commented on #14951
This is still an issue.

[2017-03-07 09:56] jdm commented on #12491
This works now.

[2017-03-07 09:56] #12491 closed

[2017-03-07 10:20] #15316 closed

[2017-03-07 10:21] jdm commented on #14887
No, we do not have the ability to write unit tests for most code in component/script. Instead we write integration tests that are actual webpages. In this case, we would want to have a page that checks the value of `document.title` after updating the contents of the `<title>` element, since that would imply that our new notification has been called. I believe this is already covered by the tests i

[2017-03-07 10:23] jdm commented on #14887
A straightforward way to start would be to focus on the implementation of children_changed for HTMLTitleElement, and add logic that only invokes `document.title_changed()` if the observed mutation only involves text nodes. Once that's working (ie. the tests still pass), it will be easier to focus on extracting that logic and moving it into the callers of children_changed. Does that make sense?

[2017-03-07 10:36] jdm opened #15850 "Treat application/xml like text/xml in ParserContext::process_response"
We should be able to support loading documents with the application/xml MIME type, but currently we just show an error instead. This appears in `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/send-entity-body-document.htm`; we will get more meaningful errors if we make this change.

Code: `components/script/dom/servoparser/mod.rs`

Claiming this for some RGSoC applicants.

[2017-03-07 10:39] cynicaldevil commented on #15850
Related: #14912

[2017-03-07 10:40] sendilkumarn commented on #11091
Things like using `no-cache` by default were not implemented yet is it ? I would be more than happy to contribute things based on spec changes.

[2017-03-07 11:08] jdm commented on #11091
Some will be more relevant than others. The code that fetches scripts is very primitive at the moment.

[2017-03-07 11:16] sendilkumarn commented on #11091
agree to that. Let me know, if there is something similar that I can start with.

[2017-03-07 12:16] lnishan commented on #15776
I wrote some notes in regard to building servo for Android.
There were some minor issues with the build instructions on the Wiki.

https://lnishan.github.io/2017/building-servo-for-android/

[2017-03-07 15:23] nox opened #15853 "Consider removing ./mach cargo-update -a"
We should never try to update all the things.

[2017-03-07 15:31] Ms2ger commented on #15853
Fwiw, I've used this to find what packages could be updated.

[2017-03-07 15:31] nox opened #15854 "Move workspace Cargo.toml and Cargo.lock out of the root"
That would make `cargo update` not work from the top-level directory.

[2017-03-07 15:34] nox commented on #15853
@Ms2ger I thought that was what @avadacatavra ran, but instead she ran plain old `cargo update`, see #15854.

[2017-03-07 15:42] serprex commented on #15824
flate2: https://github.com/alexcrichton/flate2-rs/pull/63

[2017-03-07 16:27] totallybradical commented on #15600
That makes sense.

So with regards to the Cargo.toml files you're mentioning, this refers to all the Cargo.toml files within the "components" subdirectory, correct?

To re-word the initial description a bit based on my understanding it sounds like this tool should:

1. Parse the Cargo.lock for all packages and their versions
2. Compare these versions to the most up-to-date versions (crates.io loca

[2017-03-07 16:48] Ms2ger commented on #11507
IIRC, the code tries to initialize a 2d context on a canvas argument. I am skeptical that this is the correct behaviour for webgl / uninitialized canvases.

[2017-03-07 17:22] ferjm commented on #11500
It seems that the content blocker needs to be rewritten in #14307 (or maybe with a different approach as [suggested](https://github.com/servo/servo/pull/15841#issuecomment-284497417) by @fabricedesre). And until this is done, it makes no sense to add the iframe attribute.

[2017-03-07 17:31] radhika2896 commented on #15486
How do I run the test you have provided above?

[2017-03-07 19:25] SimonSapin commented on #15558
Opened #15856 dedup on insertion, with bitmap + linear scan. Not re-allocation at the end of parsing a block.

[2017-03-07 21:26] jtran12 commented on #15494
Thank you for the help! Your post is very informative and I've learned a lot. The tests seem to be passing now so I'm going to work on getting the pull request up 👍

[2017-03-07 22:04] upsuper commented on #15486
You can run `./mach test-unit -p style` to test after you add the corresponding test.

[2017-03-07 22:40] Kowasaki commented on #15162
Hello!

I'm a graduate student/researcher who is interested in contributing to Servo and using/learning more about Rust! I'm proficient in JS, Python, Java, C/C++ and a beginner in Rust.

[2017-03-07 23:18] tobbi opened #15858 "milliondollarhomepage.com crashes servo"
URL: http://milliondollarhomepage.com

I am trying the latest nightly build. This is the error message that I got:

`
$ ./servo http://milliondollarhomepage.com
`

`
ERROR:script::dom::bindings::error: Error at http://milliondollarhomepage.com/index_files/:3:9429 Invalid screen name
`

`
ERROR:script::dom::bindings::error: Error at http://milliondollarhomepage.com/index_files/info.json:1:5 __twttr

[2017-03-08 00:34] radhika2896 commented on #15486
What would the necessary imports be for this particular test case? Because I added the file in the respective location, but when I run the tests, it doesn't appear.

[2017-03-08 00:45] upsuper commented on #15486
If you are adding new file (as I suggested above), you would also need to add a new line in https://github.com/servo/servo/blob/master/tests/unit/style/parsing/mod.rs to allow compiler to find it.

[2017-03-08 00:49] radhika2896 commented on #15486
which library should I import for 'Length' to be recognized?

[2017-03-08 00:50] upsuper commented on #15486
Probably `use style::values::specified::length::Length;` or just `use style::values::specified::length::*;` in your new file since it is testing that mod.

[2017-03-08 00:54] radhika2896 commented on #15486
rather than running all the tests in style, is it possible to just run the test file length.rs?

[2017-03-08 00:56] upsuper commented on #15486
I guess not. But it doesn't seem to me running all tests in style takes too long.

[2017-03-08 00:58] radhika2896 commented on #15486
The problem is, each time I make a change to a file, I feel I need to build it again to save the new changes. So when i do ./mach build it takes 5-10 minutes

[2017-03-08 01:00] upsuper commented on #15486
You can just run `./mach test-unit -p style` without `./mach build`. Unit tests build fewer crates than a normal build.

[2017-03-08 01:02] upsuper commented on #15486
So from IRC:

It might be what you want.

[2017-03-08 01:04] radhika2896 commented on #15486
Ok. So far I have the implementation for the fix working, because i tested it by making a wpt test, that uses the calc function. It works there, but now I have to write the above test case.

[2017-03-08 01:10] radhika2896 commented on #15486
For the above test case, I get the following error:
error[E0425]: cannot find function `parse` in this scope
assert!(parse(Length::parse, "calc(1px+ 2px)").is_err());
             ^^^^^ not found in this scope

[2017-03-08 01:11] upsuper commented on #15486
Add `use parsing::parse;`...

[2017-03-08 01:12] radhika2896 commented on #15486
I tried that, but the error still persists. This time it tells me that there is no parse function that is associated with Length.

error: no associated item named `parse` found for type `style::values::specified::Length` in the current scope

[2017-03-08 01:15] upsuper commented on #15486
I think I said
[code]
not
[code]

[2017-03-08 01:16] KiChjang commented on #15486
@radhika2896 Can you open a PR for your WIP code? It's fine if it's not finished, it's just much easier for us to tell you where the problem is if there is some code for us to see.

[2017-03-08 01:38] radhika2896 commented on #15486
I am not exactly sure how to create a PR at this point, because I have just forked this repo on my local machine.

[2017-03-08 09:40] nox opened #15864 "Audit the angle crate"
* <strike>I'm not sure we correctly link to `libc` from it since https://github.com/servo/angle/pull/18.</strike>
* I'm not sure `hl::initialize` and `hl::finalize` are sound.
* <strike>It has not a single test.</strike>

[2017-03-08 09:40] nox commented on #15864
Cc @emilio.

[2017-03-08 09:47] emilio commented on #15864
It does have tests fwiw: https://github.com/servo/angle/blob/servo/src/lib.rs

[2017-03-08 09:48] emilio commented on #15864
Also, regarding libc, we link to `libc++` from `build.rs`. Not sure it's enough? What's the problems you think there could be right now?

[2017-03-08 09:49] nox commented on #15864
Oh right, that should be alright.

[2017-03-08 09:55] nox commented on #15853
@Ms2ger Seems like https://github.com/servo/servo/pull/15857 would cover your use case, right?

[2017-03-08 10:20] dudelson commented on #15082
Although I would like to work on this issue, I've become too busy to complete it at this time. Please unassign me.

[2017-03-08 10:33] Ms2ger commented on #15853
Probably, yes

[2017-03-08 11:52] #15558 closed

[2017-03-08 12:05] Iakis commented on #15345
Hello, I just opened up a pull request, I believe this should fix the problem. Thank you very much for helping me through my first bug

[2017-03-08 12:33] nox commented on #15671
[code]

The 2 `PASS` are good news, the `FAIL` isn't.

[2017-03-08 13:18] #15709 closed

[2017-03-08 13:25] prampey commented on #8539
@jdm This seems much more complicated than I thought it to be.
In order to compile-check the validity of a key, we first need access to the JSON string during compile time. This is only possible if we have the JSON hardcoded.
Secondly, `struct` poses some limitations. To start with, we cannot _set_ preferences to it due to a fixed number of fields.  Also, we need to dynamically generate the fields

[2017-03-08 14:01] radhika2896 commented on #15486
Is the problem fixed?

[2017-03-08 14:02] nox commented on #15486
@radhika2896 Yes the PR is currently pending in queue.

[2017-03-08 14:04] radhika2896 commented on #15486
What was the problem with the test case?

[2017-03-08 14:05] nox commented on #15486
Missing `parsing::parse` import, then I couldn't find `parse`, so I rewrote it without it. Then reviewing another PR I found `parsing::parse`, reused it in your test, but removed another import that was needed, thus failing to compile again. I'm bad. It's all fixed now.

[2017-03-08 14:09] radhika2896 commented on #15486
ok thanks! is my test case updated? like can i git pull?

[2017-03-08 14:13] #15494 closed

[2017-03-08 14:50] #15486 closed

[2017-03-08 15:47] asajeffrey commented on #15734
@paulrouget: Ah, so the entry point from the embedder to servo would be a heartbeat `perform_updates()` and the API for events would turn from a push API to a pull API. This seems sensible, especially if we're trying to move to a more streams-based API.

[2017-03-08 15:52] paulrouget commented on #15734
@asajeffrey exactly!

[2017-03-08 16:49] sendilkumarn commented on #15082
@highfive: assign me

[2017-03-08 16:49] highfive commented on #15082
Hey @sendilkumarn! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-08 16:58] Wafflespeanut commented on #15842
Since others haven't responded, @StefanoChiodino you wanna take a look at this?

[2017-03-08 16:59] StefanoChiodino commented on #15842
I'll try @Wafflespeanut ! Thanks!

[2017-03-08 17:01] Wafflespeanut commented on #15842
Awesome!

[2017-03-08 17:01] sendilkumarn commented on #15842
👍

[2017-03-08 17:48] asajeffrey commented on #1799
IRC conversation with @nox and @Wafflespeanut: http://logs.glob.uno/?c=mozilla%23servo&s=8+Mar+2017&e=8+Mar+2017#c626952\

TL;DR:

a) splitting script is speculative, it might or might not work,
b) it might all be rendered moot by rustc improving incremental computation,
c) it would be a truck load of work,
and d) we love having this debate.

[2017-03-08 18:20] koboltzz commented on #12125
I had high hopes in servo but month after month I don't see any real progress on windows version. Nearly everything is broken since 6 months.
Why is that?

[2017-03-08 18:37] retep998 commented on #12125
@koboltzz Because not enough developers out there seem to care about Windows. If you want to see progress on Windows support, maybe you could consider submitting some pull requests with improvements.

[2017-03-08 18:45] koboltzz commented on #12125
I thought servo=mozilla=wantexistence=takefocusonwidleyusedOS=windows ?

[2017-03-08 18:48] retep998 commented on #12125
Sure, but for many of them they only care out of necessity, and since Servo itself is not in Firefox, Mozilla isn't as concerned about how it works on Windows yet. They care more about the bits of Rust that are already in Firefox.

[2017-03-08 18:50] leeoniya commented on #12125
it *is* rather baffling that mozilla-paid devs dont "care enough" about an OS with 90% market share. telling people they should shut up or contribute doesn't really begin to explain the current disposition towards a half-decent windows experience.

[2017-03-08 19:14] jonathandturner commented on #12125
Servo is currently a tech demo, not-yet-alpha technology.  We're working to make sure the platform works on desktop platforms, and of course Windows is one of those platforms.  We're also working to ensure that it works on mobile as well.  We, in fact, just hired someone to focus on the Android port.  Ostensibly, I'm also tasked to help with the Windows work, but I'm still getting up to speed.

On

[2017-03-08 19:23] KiChjang commented on #12125
@koboltzz Can you describe what your problem is when running the current Windows nightly? Lately people have been running into varied success and failures with the Windows build.

@leeoniya AFAIK @retep998 is not a "mozilla-paid dev", and neither am I. Most of the work in Servo is done by volunteers like us, so it isn't too unreasonable to ask for contributions. I think you're exaggerating the ton

[2017-03-08 19:43] Jayflux opened #15876 "Servo not starting up on Windows 10"
On master branch im not getting Servo working, had a look for similar issues but couldn't find any. This did used to work (i installed the VS 2015 edition etc)

OS Name	Microsoft Windows 10 Pro
Version	10.0.14393 Build 14393

[code]

[2017-03-08 20:06] leeoniya commented on #12125
First, thank you for your work on Servo. As someone who does a lot of open source work and has contributed to Firefox in the past, I'm the last one to complain about anything not being done. However, your statement that "Most of the work in Servo is done by volunteers" doesnt quite pan out, at least not for the past month: https://github.com/servo/servo/pulse/monthly

[2017-03-08 20:16] metajack commented on #12125
Note that all of the Servo tech in Quantum is almost entirely focused on Windows deployment. The first versions of WebRender to ship in Firefox will be Windows-only I believe. All of those pieces work just fine in Windows and have for a long time.

Please don't assume that because the Servo Tech Demo doesn't work reliably on Windows yet means that the Servo team doesn't care or that Mozilla doesn'

[2017-03-08 20:28] KiChjang commented on #12125
@leeoniya Sure, paid contributors may individually have a higher commit count, but the aggregate of commits by volunteer contributors is at least comparable to the amount of the aggregate from Mozilla devs.

I do not wish to continue this conversation here. Should you have any more questions regarding this, please either find us on #servo at irc.mozilla.org or PM me directly.

[2017-03-08 20:32] codec-abc commented on #12125
@metajack I was not aware of the MSVC builds. Does that mean that we can compile and debug Servo and windows with only Visual Studio and Python as dependencies now ? About debugging, what are the options to debug on Windows?

[2017-03-08 21:00] Jayflux commented on #15876
OK false alarm, i ran ./mach clean then did a rebuild and its fine now

[2017-03-08 21:00] #15876 closed

[2017-03-08 22:30] antrik commented on #1799
@asajeffrey b) is not entirely true: while incremental compilation *might* help with the major pain point of long build times after small changes, initial build time is also somewhat relevant; and even more importantly, it won't help with the memory usage problem.

(Maybe other compiler improvements could help with the latter, though?...)

[2017-03-08 23:54] koboltzz commented on #12125
@KiChjang
Sure:
[https://abload.de/img/2017-03-09_00h42_49o9js2.jpg](url)

[2017-03-09 00:06] asajeffrey opened #15877 "Servo panics with session-history.max-length=1"
Running:
[code]
Then clicking on the `Rust` link, following the redirect, then going back produces panic:
[code]
Somehow we're firing a mouse event on a document which has no browsing context.

cc @cbrewster

[2017-03-09 00:48] asajeffrey commented on #15877
Yay, got this to happen on a wpt testcase:
[code]

[2017-03-09 00:51] asajeffrey commented on #15877
The interesting bit is:
[code]

[2017-03-09 01:05] asajeffrey commented on #1799
True, I was mainly thinking about speeding up recompiling when editing DOM .rs and .webidl files. You can tell which case hurts me!

[2017-03-09 02:38] jdm commented on #15600
Yes, that looks right. Note that there are TOML files in ports/ as well as in the root directory.

[2017-03-09 06:19] #15790 closed

[2017-03-09 09:39] tobbi commented on #15677
I got this error on milliondollarhomepage.com See #15858

[2017-03-09 10:05] unrealsolver opened #15881 "setuptools must be installed to install from a source distribution"
Hello. I've got following error when trying to build servo on my ubuntu14.04..
[code]
I have no idea what to do.

[2017-03-09 12:34] Ms2ger opened #15883 "Panic when usemap attribute is empty / starts with multibyte character"
[code]
panics with ```byte index 1 is out of bounds of `` ``` at the `split_at` call in `HTMLImageElement::areas`.

[code]
yields
[code]

I don't know if there's a great way to check that this code actually works, but I think we should still add web-platform-tests (see `tests/wpt/README.md`) to check that that panics are gone.

[2017-03-09 12:36] Ms2ger opened #15884 "HTMLImageElement::areas() doesn't seem very good at finding areas"
1. It only looks at *following siblings* of the `img` element to find a `map`
2. It panics if it doesn't find a `map`
3. It only looks at children (not descendants) of the `map` to find `area` elements

[2017-03-09 12:38] Ms2ger opened #15885 "HTMLImageElement::handle_event should use a for loop"
Code: `components/script/dom/htmlimageelement.rs`

It uses
[code]

I don't see any reason it can't use `for element in elements {}`

Doesn't need a test; if it compiles, that's good enough.

[2017-03-09 12:38] highfive commented on #15885
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-09 12:45] hgallagher1993 commented on #15885
I'll take this @highfive: assign me

[2017-03-09 12:45] highfive commented on #15885
Hey @hgallagher1993! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-09 12:46] sendilkumarn commented on #15409
since #14962 is closed.
we can now check against
[code]
I will give this a shot.

[2017-03-09 13:59] #15345 closed

[2017-03-09 15:41] sendilkumarn commented on #15884
I would like to work on this issue

Here are my few findings, correct me if I am wrong

It should look at its `descendants`.

return none if map is not present

again it should run through descendants to find area elements

[2017-03-09 15:54] Nikhila-B commented on #15601
We have two questions related to the initial steps:

1. **Code Base:** Is there any existing code base we are working on or sending a pull request to later? Or are we creating our own repository and creating this tool independently?

2.   **Language:**  Our plan is to use javascript to interact with the GitHub API when creating our tools. Will this be okay ? we are open to any expectations and/or

[2017-03-09 16:10] Ms2ger commented on #15409
Note, again, that the origin of an image element is not the origin of its URL.

[2017-03-09 16:14] Ms2ger commented on #15884
An `img` element is very unlikely to have descendants. I believe we should be looking at the descendants of its ["root"](https://dom.spec.whatwg.org/#concept-tree-root)

[2017-03-09 16:55] mchv commented on #15877
I am now seeing the following log when trying to reproduce the issue:
[code]
I will try to investigate
@highfive: assign me

[2017-03-09 16:55] highfive commented on #15877
Hey @mchv! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-09 17:05] sendilkumarn commented on #15884
yeah right. Let me work on that.

[2017-03-09 17:07] snehasi commented on #15885
@highfive assign me

[2017-03-09 17:07] highfive commented on #15885
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-03-09 17:16] sendilkumarn commented on #15409
I have a doubt, can we decide `same/cross-origin` via `config attribute` of an `image` ?

[2017-03-09 17:43] asajeffrey commented on #15877
Hi @mchv, thanks for looking at this. It might be quite tricky to track down, this is one of the hairiest bits of servo, so feel free to reach out!

[2017-03-09 19:05] totallybradical commented on #15600
Yeah I noticed those files when I was searching. I take it we should update those as well then.

Another question: Is there any criteria to be used when determining if a package should be upgraded?

For example, in the sample Cargo.lock ([here](https://github.com/killercup/cargo-edit/blob/master/Cargo.lock)) there's a dependency for "assert_cli". The version noted in the lock file is 0.2.2. The cu

[2017-03-09 21:00] glennw opened #15894 "Implement border gradient support."
Rendering support for this landed in a recent WR update. So this should mostly be connecting the style properties up in the display list builder.

[2017-03-09 23:36] Manishearth opened #15895 "Implement parsing and stylo glue support for legacy gradients"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1345204#c1

Gecko supports legacy gradients, we should be parsing these. The comment linked to above gives an idea of what needs to be supported.

They probably need to be stored as extra variants on our gradient enum, and when sending to gecko they need to set the legacy gradient flag.

cc @canaltinova

[2017-03-10 00:34] avadacatavra commented on #15668
also appeared in http://build.servo.org/builders/linux-rel-wpt/builds/2790

[2017-03-10 00:37] avadacatavra opened #15897 "unexpected crash in 2d.composite.uncovered.nocontext.copy.html"
{"status": "CRASH", "stack": null, "subtest": null, "action": "test_result", "test": "/2dcontext/compositing/2d.composite.uncovered.nocontext.copy.html", "line": 64503, "message": null, "expected": "OK"}

http://build.servo.org/builders/linux-rel-wpt/builds/2790

[2017-03-10 01:16] KiChjang opened #15898 "Intermittent crash of /2dcontext/compositing/2d.composite.uncovered.nocontext.copy.html"
[code]

[2017-03-10 01:57] #15756 closed

[2017-03-10 02:13] jdm commented on #15600
Starting with accepting major upgrades sounds fine to me.

[2017-03-10 02:16] jdm commented on #15601
There is no existing codebase. JavaScript should be fine for this, but I recommend using a library that wraps the github api for you.

[2017-03-10 02:21] jdm commented on #15897
Could you include the full output from the test here?

[2017-03-10 05:03] upsuper opened #15902 "Negative value on flex-basis should be rejected"
Relevant code: https://github.com/servo/servo/blob/8b8eb5e192295fb903db5855a8f7be85581461b7/components/style/properties/longhand/position.mako.rs#L200-L207

Should be an easy one although I cannot provide how to fix it without further investigation.

[2017-03-10 05:03] highfive commented on #15902
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-10 05:03] upsuper commented on #15902
cc @Manishearth

[2017-03-10 05:42] sendilkumarn commented on #15409
Addressed that issue. so now based on cors-origin type the check is made.

[2017-03-10 06:53] #14787 closed

[2017-03-10 07:43] Rakhisharma commented on #15834
@jdm hi, You pointed out three inefficient piece of code in Area::parse,  I am done with first two without any error or warning they both compiled. I am not able to understand the third one :/
Will you please help me out what needs to be done there? I gone through the docs of unwrap() and Result::and_then but still seems like I am confuse.

[2017-03-10 07:50] n0max commented on #15386
I have some problems to write a test that fails without the fix. The error is only visible on a image with height > width and crop_rect.origin.x > 0.
I tried to simulate this with the 2x2.png and reduced width, but the image retains its original resolution. When I use a canvas as source, the image_data is already croped and crop_image returns in each case the unchanged image_data.
The only solutio

[2017-03-10 07:51] KiChjang commented on #15897
Duplicate of #15898.

[2017-03-10 07:51] #15897 closed

[2017-03-10 09:28] canaltinova commented on #15902
This can be fixed by adding `"parse_non_negative"` and `needs_context=False` parameters to this `helpers.predefined_type` before the spec parameter. This will work fine in stylo build (can be built with `./mach build-geckolib`) But will break servo build because `LengthOrPercentageOrAutoOrContent` doesn't have a `parse_non_negative` method. We need to add this function to enum like [LengthOrPercen

[2017-03-10 09:45] canaltinova commented on #15902
Oh, scratch that. It looks like `LengthOrPercentageOrAutoOrContent`'s parse function is already rejecting negative values. Passing something like these parameters will solve the problem without changing parse implementations: `"parse_non_negative" if product == "gecko" else "parse"` `needs_context=False if product == "gecko" else True,`

[2017-03-10 09:58] Wafflespeanut commented on #15902
Instead of going for a lot of `if ... else` blocks inside the definition, let's have two definitions - one for each servo and gecko.

[2017-03-10 10:30] Wafflespeanut commented on #15834
I guess `and_then` is causing trouble because it finds two different error types (`String::from_utf8` seems to return `FromUtf8Error` whereas `parse::<f32>` returns `ParseFloatError`). You can convert the `Result` to an `Option` using `.ok()` (instead of `unwrap`), which will ignore the error, and now you can use `and_then` to pipe the value to `parse`. You might wanna call `ok` on the parse resul

[2017-03-10 10:46] mchv commented on #15877
Thanks @asajeffrey! I have opened a PR with a fix that solves the issue. It is probably not complete but with it I can't reproduce the problem anymore (I can navigate backward and forward without panic), so I would appreciate your feedback on the approach and the code.

[2017-03-10 12:14] mrkalling commented on #15902
Hi, I like to work on this @highfive: assign me

[2017-03-10 12:14] highfive commented on #15902
Hey @mrkalling! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-10 13:08] emilio opened #15907 "Some reftests rely on how style sharing works."
See the comment at https://bugzilla.mozilla.org/show_bug.cgi?id=1346062#c2.

Mainly we have some logic to merge consecutive fragments that were broken by line breaking in `components/layout/inline.rs`, which reads like this:

[code]

where `inline_contexts_are_equal` compares the **style** of the element by pointer. This causes unexpected results that depend on style sharing, like fragments breaki

[2017-03-10 13:23] lucantrop commented on #15823
I looked into it myself, but  I was wondering if there was a particular reason that `width` and `height` are `u32`, but `get_size` returns `Size2D<i32>`?

[2017-03-10 13:32] #10047 closed

[2017-03-10 14:35] chbrown13 commented on #15600
Hey Josh, one more quick question. Can we assume users will have the same operating system/version of python/etc.?

[2017-03-10 14:38] #15885 closed

[2017-03-10 16:42] jdm commented on #15386
A data URL would work as well, but there's nothing wrong with adding new image files.

[2017-03-10 16:46] jdm commented on #15600
The same as what?

[2017-03-10 16:53] chbrown13 commented on #15600
The same as everyone else using the servo dependency tool. For example will everyone have Python 3 or will all machines be using Windows 10?

[2017-03-10 16:54] asajeffrey commented on #15877
Thanks!

[2017-03-10 16:56] bd339 commented on #15754
I would like to look into this, if I can get some help on how to get started 🙂

[2017-03-10 17:05] jdm commented on #15600
You should be able to assume the same Python version, but that's all.

[2017-03-10 19:45] chbrown13 commented on #15600
Ok, thanks

[2017-03-10 22:41] dralley commented on #15677
Also occurs on https://www.arstechnica.com

Traceback: http://pastebin.com/wYn6gptG

[2017-03-10 23:17] Nefari0uss commented on #15162
Hello,
Long time Firefox user and am looking to some way to contribute. Entry level developer; have BS in CSE but little experience in web dev and 0 in Rust.

I feel comfortable learning new things but JS feels like it's impossible to figure out an entry point without jumping down a rabbit hole. Guidance would be much appreciated. This [Medium](https://hackernoon.com/how-it-feels-to-learn-javascri