[2016-06-03 18:35] jdm commented on #11547
Nevermind, the culprit is `handle_window_event` in ports/glutin/window.rs. It explicitly handles modifier keys differently.

[2016-06-03 18:41] jdm commented on #11547
All that being said, this code has not been touched in at least 1.5 years. I don't understand how this could have regressed.

[2016-06-03 18:54] Gozala commented on #11592
Home page

Typed on tiny keyboard

[2016-06-03 18:55] jdm commented on #11547
Case in point: #11594 should fix this issue, but the keycode mappings never existed. I suspect the actual issue in browser.html is that your keybindings became more strict or something.

[2016-06-03 19:55] Coder206 commented on #11450
@metajack I used compiled on Linux (Fedora 23) on a virtual machine and I noticed two things: 1. The code compiled 2. Fedora 23 (newest release downloaded yesterday) loads website with Servo (Fedora < 10 seconds; Windows < 5 mins). Please note:

Fedora had access to the same CPU as Windows (same computer).
This Linux distro had access to 3 of my 8 cores and Windows 10 had access to 8 of my 8.
For

[2016-06-03 19:59] Coder206 commented on #11592
@Gozala What OS are you using to twitter.com?

[2016-06-03 20:02] Coder206 commented on #11592
@jdm Do you know if Servo supports and unlimited number of classes?

[2016-06-03 20:04] jdm commented on #11592
@Coder206 I'm not sure what you're asking. Could you rephrase the question?

[2016-06-03 20:05] Coder206 commented on #11592
@jdm For the OS thing or CSS?

[2016-06-03 20:11] Coder206 commented on #11592
@jdm @Gozala
OS: @Gozala Which OS are you using when trying to get https://twitter.com?
CSS: I noticed there are two CSS classes that are being expressed on the Twitter page, but they are they have many characters. (from the webpage: class="typeahead-item typeahead-dm-conversation-item") So my question was is there a limit on CSS classes like a character length or number of classes?

[2016-06-03 20:24] rafaqtro commented on #11557
i'd like to do it

[2016-06-03 20:28] metajack commented on #11592
@Coder206 @SimonSapin would be able to answer your CSS question. Regardless of whether there is a limit in the spec and implementation, we still have to parse the thing. I suppose you could make one that is so large to run the parser out of memory. I don't think that would be causing the page to close down.

Probably the first thing to be done is view the profiler output in the HTML tool to see wh

[2016-06-03 20:29] Coder206 commented on #11592
@metajack That makes sense!

[2016-06-03 20:32] KiChjang commented on #11557
Certainly!

[2016-06-03 20:37] metajack commented on #11450
@Coder206 Sorry. Turns out that is a red herring. I just check my own mingw shell and I see windows paths as well.

Your build seems to be failing either when compiling main.rs or linking the final servo binary, and linking is usually the more likely cause. Try this:

`RUSTFLAGS="-Z print-link-args" ./mach build -r -v -j1`

You should see another line of output in the log with the linker invocatio

[2016-06-03 20:38] metajack commented on #11450
Please note that modifying RUSTFLAGS will cause a full recompile. You can also do this with a debug build instead (changing -r to -d) for a faster result.

[2016-06-03 21:20] rebstar6 commented on #10311
@paulrouget - I think? You can certainly ask, and if they want more, hopefully they'll say so (and looks like you have anyway).

To summarize, thus far we have implemented the meta-referrer delivery piece of this for Documents only (not workers), and using the policies in the w3c tests (and spec at the time the DuckDuckGo issue happened). The spec changed, so there is an issue to update the polici

[2016-06-03 21:38] Coder206 commented on #11450
@metajack This time there was no errors...

[2016-06-03 21:38] talklittle commented on #10883
I'll attempt a PR for this. I'm thinking to silently invoke the correct command by looking for the presence of paths in the command args, and if any paths are specified, re-dispatch the command through `mach test`, which is already smart enough to delegate to the correct test suite.

[2016-06-03 21:46] #11466 closed

[2016-06-03 21:58] nox opened #11596 "Properly implement the getElementsByTagName method on Document and Element"
These two methods don't pass the tests that use non-HTML elements.

See the two tests "Element in non-HTML namespace, prefix, uppercase name" and "Element in non-HTML namespace, prefix, lowercase name".

We should think about how to implement efficiently the step 2 of [the spec](https://dom.spec.whatwg.org/#concept-getelementsbytagname).

See methods `Document::GetElementsByTagName`, `Element::Get

[2016-06-03 22:04] nox opened #11597 "Throw in strict mode when trying to set readonly indexed properties"
See the test "Shouldn't be able to set unsigned properties on a HTMLCollection (strict mode)" and [bug 828137](https://bugzilla.mozilla.org/show_bug.cgi?id=828137) and [bug 1132522](https://bugzilla.mozilla.org/show_bug.cgi?id=1132522).

In strict mode doing `foo[0] = bar` on an interface without an indexed setter (e.g. `HTMLCollection`), a `TypeError` should be thrown. This is probably a missing

[2016-06-03 22:36] #4320 closed

[2016-06-03 22:42] Gozala commented on #11592
I'm on OSX

[2016-06-03 22:50] jdm commented on #10883
That seems sensible, but let's print a warning as well to help people learn from their mistakes.

[2016-06-03 23:00] GuillaumeGomez commented on #11581
I take it.

[2016-06-03 23:10] Coder206 commented on #11592
@Gozala Here is the view on my system, a VM running Fedora. Please note I am also receiving the errors you described above.

![servotwitter](https://cloud.githubusercontent.com/assets/7758155/15795346/bc3ee68a-29be-11e6-9e85-4e26ed5f6c44.png)

[2016-06-03 23:14] pcwalton commented on #9917
Is this fixed?

[2016-06-03 23:24] #11547 closed

[2016-06-03 23:39] Gozala commented on #11592
@Coder206 I get these number son my machine:

[code]

On safari it usually loads with in 2 to 3 seconds. I think that too much recursion is probably what makes it feel much worse as it takes most of my CPU and machine becomes unresponsive so 12 secs feel a lot longer.

[2016-06-03 23:51] Coder206 commented on #11592
@Gozala I know what you mean! I am getting feeling a similar duration on Windows 10.

[2016-06-03 23:55] asajeffrey commented on #10481
This should be fixed by #11585.

[2016-06-04 00:14] nox commented on #11596
The tests in tests/wpt/web-platform-tests/dom/nodes/case.html seem also related.

[2016-06-04 00:16] nox commented on #11583
The test in tests/wpt/web-platform-tests/dom/nodes/remove-unscopable.html is related.

[2016-06-04 00:23] nox opened #11598 "Fix the type of HTMLIFrameElement.sandbox"
It should be a `DOMTokenList` and not a `DOMString` according to [the spec](https://html.spec.whatwg.org/multipage/embedded-content.html#htmliframeelement).

[code]

In a first commit, the field `sandbox` on `HTMLIFrameElement` should be renamed to `sandbox_allowance`.

In a second commit, a new field `sandbox` of type `MutNullableHeap<JS<DOMTokenList>>` should be added and `HTMLIFrameElement::San

[2016-06-04 00:23] highfive commented on #11598
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-04 00:26] nox opened #11599 "Do not use u8 in HTMLIFrameElement::sandbox"
The field `sandbox` of `HTMLIFrameElement` should be changed to `Cell<Option<SandboxAllowance>>`.

[2016-06-04 00:26] highfive commented on #11599
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-04 00:41] KiChjang commented on #11581
This is a duplicate of #9785, and last I heard, there wasn't consensus on whether or not this is a good idea. cc @Ms2ger

[2016-06-04 00:42] #11581 closed

[2016-06-04 00:42] nox commented on #9785
Cc @imperio

[2016-06-04 00:42] nox commented on #9785
Ah, damn... Cc @GuillaumeGomez

[2016-06-04 00:44] nox opened #11600 "Throw when accessing IDL members on arbitrary objects with platform prototypes"
See the test tests/wpt/web-platform-tests/dom/collections/HTMLCollection-as-proto-length-get-throws.html.

We probably don't implement the various "if O is not a platform object that implements interface I, throw a TypeError" steps that [the WebIDL spec](http://heycam.github.io/webidl/#es-interfaces) defines.

[2016-06-04 01:10] nox opened #11601 "Properly implement the ignoreNamedProps steps from PlatformObjectGetOwnProperty"
[The spec](http://heycam.github.io/webidl/#getownproperty-guts) says that if the interface supports indexed properties and we got an array indexed property name, we should ignore named properties in case the lookup fails. We don't do this in CodegenRust.py and thus fail /dom/collections/HTMLCollection-supported-property-indices.html.

[2016-06-04 01:12] nox opened #11602 "Check that we don't look up named properties for unforgeable members"
[The spec](http://heycam.github.io/webidl/#dfn-named-property-visibility) says:

I'm not sure we do that.

[2016-06-04 01:35] jdm commented on #9785
The Gecko/chrome meeting from a month or two ago seemed to believe this was desirable.

[2016-06-04 02:06] Coder206 commented on #11599
@nox I am on this one.

[2016-06-04 04:12] #11546 closed

[2016-06-04 09:04] GuillaumeGomez commented on #9785
I take it?

[2016-06-04 10:10] nox commented on #9785
Sure.

[2016-06-04 10:11] nox commented on #11599
Ok.

[2016-06-04 10:11] #11579 closed

[2016-06-04 10:47] nox commented on #3311
Blocks #2185.

[2016-06-04 10:48] nox commented on #11578
Blocks #2185.

[2016-06-04 10:48] nox commented on #11583
Blocks #2185.

[2016-06-04 10:48] nox commented on #11596
Blocks #2185.

[2016-06-04 10:48] nox commented on #11597
Blocks #2185.

[2016-06-04 10:48] nox commented on #11598
Blocks #2185.

[2016-06-04 10:48] nox commented on #11600
Blocks #2185.

[2016-06-04 10:49] nox commented on #11601
Blocks #2185.

[2016-06-04 10:49] nox commented on #11602
Blocks #2185.

[2016-06-04 10:57] nox commented on #3311
@jdm I have some questions:

* Should `EventTarget` get a new flag for ["in error reporting mode"](https://html.spec.whatwg.org/multipage/#in-error-reporting-mode)?
* Should `ErrorEvent` get a new flag for ["handled"](https://html.spec.whatwg.org/multipage/#concept-error-handled)/["not handled"](https://html.spec.whatwg.org/multipage/#concept-error-nothandled)?
* How and where should we handle ["m

[2016-06-04 11:52] NiLSPACE opened #11608 "Servo isn't starting properly with --browserhtml"
When using `--browserhtml` servo simply starts as a white rectangle in the screen with nothing happening. As you can see in the screenshot it's also barely using any CPU or RAM.

These are the parameters I used to start servo: `./mach run --release --browserhtml`
The specs of my machine is:
[code]

![servobrowserhtml](https://cloud.githubusercontent.com/assets/1160867/15799333/617fe94c-2a59-11e6-8

[2016-06-04 13:43] nox opened #11609 "Track decision for test /dom/events/Event-dispatch-multiple-stopPropagation.html"
See https://github.com/w3c/web-platform-tests/issues/3084 and https://github.com/whatwg/dom/issues/219

[2016-06-04 13:44] nox commented on #11609
Blocks #2185.

[2016-06-04 13:58] emilio commented on #11566
I'm doing it right now, and the presence of some flags we use for testing, like `--user-agent-stylesheet`, seem to inhibit the deadlock.

Also, in the following wpt-test (being `localhost:5000` the node server in https://github.com/servo/servo/issues/11223#issuecomment-223037836), and running an affected servo build directly against `http://web-platform.test:8000/_mozilla/mozilla/iframe/iframe_que

[2016-06-04 14:07] nox opened #11611 "Rename SharedMouseAndKeyboardEventInit to EventModifierInit"
[The spec](https://w3c.github.io/uievents/#event-modifier-initializers) says that `KeyboardEventInit` and `MouseEventInit` should both inherit from `EventModifierInit`, not `SharedMouseAndKeyboardEventInit`.

The file components/script/dom/webidls/SharedMouseAndKeyboardEventInit.webidl should be renamed to components/script/dom/webidls/EventModifierInit.webidl and all references to `SharedMouseAnd

[2016-06-04 14:07] highfive commented on #11611
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-04 14:13] nox opened #11612 "Support dictionaries in unions"
We currently can't do `(FooInit or boolean)` where `FooInit` is a dictionary in a WebIDL interface.

[2016-06-04 14:14] nox commented on #9785
Blocked by #11612.

[2016-06-04 14:14] GuillaumeGomez commented on #9785
The [path](https://github.com/GuillaumeGomez/servo/tree/event_listener_options) awaits for the previous issue to be solved.

[2016-06-04 15:10] #11557 closed

[2016-06-04 15:54] jdm commented on #11608
I assume this will be fixed by #11543.

[2016-06-04 16:04] jdm commented on #11566
I do not believe there is a way to inhibit the stylesheet flag. I wonder if we should restrict it to only be added for reference tests? We could at least the theory by removing http://mxr.mozilla.org/servo/source/tests/wpt/harness/wptrunner/executors/executorservo.py#75 .

[2016-06-04 16:06] jdm opened #11613 "Intermittent crash in /dom/nodes/Document-URL.sub.html and /dom/nodes/Node-parentNode.html and /html/semantics/embedded-content/the-iframe-element/move_iframe_in_dom_03.html and /html/semantics/embedded-content/the-iframe-element/change_parentage.html"
[code]

[2016-06-04 17:04] KiChjang commented on #11612
Related to #10605.

[2016-06-04 17:46] canaltinova commented on #11598
I would like to work on this.

[2016-06-04 18:14] KiChjang commented on #11598
Sure thing!

[2016-06-04 18:22] larsbergstrom commented on #11167
@edunham Do you know how to make the servo-perf bucket publicly available? I tried logging in to our S3 page and can see the bucket and add new permission groups but can't figure out where I'm supposed to paste in the JSON that enables public access.

[2016-06-04 20:10] shuky19 commented on #11611
On it

[2016-06-04 21:28] nox commented on #571
Do we wish to fix that at all? Should we care? I think it's nice to have only one interface per WebIDL file.

[2016-06-04 21:53] #87 closed

[2016-06-04 22:36] jdm commented on #571
If we don't plan to fix it, we should report the error earlier.

[2016-06-04 23:33] ConnorGBrewster opened #11617 "Intermittent fail in /cssom-view/elementScroll.html"
[code]

[2016-06-04 23:34] ConnorGBrewster opened #11618 "Intermittent failure in /webgl/conformance-1.0.3/conformance/textures/default-texture.html"
[code]

[2016-06-05 08:36] KiChjang commented on #8756
@g-k Are you still working on this?

[2016-06-05 09:37] mrmiywj commented on #11130
@jdm
Yep, I've finished my finals and will go on work on servo.

[2016-06-05 10:53] nox commented on #11583
I wrote [something](https://github.com/servo/servo/compare/master...nox:unscopable) but I think I have some bad news: the C++ code in Gecko uses `SYMBOL_TO_JSID`, which we apparently don't bind. :/

[2016-06-05 10:56] nox commented on #11583
Oh I see, it's an inline symbol. I will reimplement it in rust-mozjs.

[2016-06-05 11:57] nox commented on #11583
Blocked on https://github.com/servo/rust-mozjs/pull/268.

[2016-06-05 12:56] mrmiywj commented on #11130
@paulrouget
I read through all your solutions, does it mean that I need to modify glutin's source code?

[2016-06-05 13:36] h4xr commented on #11386
Hello, I was trying to work on this issue and was able to figure out a fix.
If no one else is working on this, I will like to take up the issue.

[2016-06-05 14:55] nox opened #11622 "Implement Element.insertAdjacentHTML"
See [the spec](https://w3c.github.io/DOM-Parsing/#dom-element-insertadjacenthtml).

In a first commit, extract the matching of `where_` from `Element::insert_adjacent` and introduce a new enum `AdjacentPosition`. This enum should then be passed instead of `where_` to `Element::insert_adjacent`. This requires updating its two callers `InsertAdjacentElement` and `InsertAdjacentText`.

[code]

In a s

[2016-06-05 15:19] nox commented on #11622
Just noticed that `Element::insert_adjacent` also doesn't do a ASCII case-insensitive match, that is wrong and whoever implements this should fix that bug while at it.

[2016-06-05 15:47] kevgs commented on #11596
I'll take this one.

[2016-06-05 15:53] Wafflespeanut commented on #10683
I'm removing the easy label, since this can't be fixed straightaway (given the conclusion we've arrived at #11116). Maybe we should have a todo list in the issue mentioning which types need the `Iterator` trait for us to go about fixing this.

[2016-06-05 16:01] #11137 closed

[2016-06-05 18:04] GuillaumeGomez commented on #11622
I take it.

[2016-06-05 20:01] danlrobertson opened #11625 "Servo to compile on FreeBSD"
Get servo to compile and run on FreeBSD.

[2016-06-05 20:01] danlrobertson commented on #11625
This is my latest quest. I'll refer relevant PRs to this issue

[2016-06-05 21:29] KiChjang commented on #11596
Certainly! Ask questions here or on `#servo` at `irc.mozilla.org` if you're stuck.

[2016-06-05 22:44] talklittle commented on #11452
To risk stating the obvious, the fonts are the primary cause of slowness. When deleting the head CSS:

[code]

It runs about 3-5x faster with `--dev` and 1.5-3x faster with `--release`:

`--dev` with & without fonts:

[code]

`--release` with & without fonts:

[code]

[2016-06-05 22:46] larsbergstrom opened #11627 "Servo fails to cross-build for Android on OSX"
Looks like libz-sys is not picking up the cross-build libtool properly on OSX?

[code]

[2016-06-05 23:01] jdm commented on #11452
It's worrying that the fonts are an extra second even in a release build.

[2016-06-05 23:20] talklittle commented on #11452
The runtimes look better after I swapped out the 6.5 MB TTF for another Japanese font file, a single-weight 0.5 MB TTF file. Thankfully with an [unrestrictive license](http://mplus-fonts.osdn.jp/about-en.html#license).

Not sure if that change would be sufficient to close this issue for now, limited to testing scope, or if you suspect some underlying optimizations need to be made with respect to l

[2016-06-05 23:32] nox opened #11628 "Use the document base URL when setting the url of an HTMLAnchorElement"
In `HTMLAnchorElement::set_url`, the document's base URL (`document.base_url()`) should be used instead of the document's URL (`document.url()`).

The code should be fixed, and the expectations updated:

[code]

Files:
* components/script/dom/htmlanchorelement.rs
* tests/wpt/metadata/url/a-element.html.ini

[2016-06-05 23:32] highfive commented on #11628
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-05 23:38] nox opened #11629 "Implement URL.domainToUnicode"
The implementation of [URL.domainToUnicode](https://url.spec.whatwg.org/#dom-url-domaintounicode) can just use [url::quirks::domain_to_unicode](http://servo.github.io/rust-url/url/quirks/fn.domain_to_unicode.html).

The operation needs to be uncommented in components/script/dom/webidls/URL.webidl and a new static method `DomainToUnicode` needs to be implemented in components/script/dom/url.rs.

Th

[2016-06-05 23:38] highfive commented on #11629
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-05 23:38] nox commented on #11629
@SimonSapin Do we test this in rust-url?
@Ms2ger @jdm Do we want additional tests in WPT? Can't see one apart from the usual interfaces.html test.

[2016-06-06 01:46] jdm opened #11631 "Intermittent failure in /css-transforms-1_dev/html/transform3d-translatez-001.htm"
[code]

[2016-06-06 02:08] jdm commented on #11631
Non-reference:
<img width="96" alt="screen shot 2016-06-06 at 3 07 39 am" src="https://cloud.githubusercontent.com/assets/27658/15810165/dcaa9f32-2b93-11e6-888e-2e0c4b28301b.png">
Reference:
<img width="90" alt="screen shot 2016-06-06 at 3 08 01 am" src="https://cloud.githubusercontent.com/assets/27658/15810170/e80dde66-2b93-11e6-86ef-1e1a01461153.png">

[2016-06-06 03:38] achals commented on #11629
I'll work on this if no one else already is.

[2016-06-06 04:40] KiChjang commented on #11629
You got it!

[2016-06-06 07:30] dati91 opened #11633 "Android runtime error"
The [current](https://github.com/servo/servo/commit/1bc94c132e6820293c2178bf95991518b1e8a677) android release is failing with the following error:
`D/RustAndroidGlueStdouterr(18547): thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: MissingHomeVariable', ../src/libcore/result.rs:785`

[2016-06-06 07:30] dati91 commented on #11633
CC @larsbergstrom

[2016-06-06 07:35] dati91 commented on #11633
[This](https://github.com/whitequark/rust-xdg/blob/master/src/xdg.rs#L239) error seems to be related to this issue.

[2016-06-06 07:45] zakorgy opened #11634 "Textarea getElementById().value returns a space character if it's empty"
I don't know if this is a known issue, but I have not found any, related to this problem.
If I try to get the value of an empty `<textarea>` , it returns an empty space character, which is not the expected value I think. I used the following code to regenerate the issue on Linux platform.
[code]

[2016-06-06 07:50] #11634 closed

[2016-06-06 07:52] Ms2ger commented on #11600
This was fixed for Gecko in <https://bugzilla.mozilla.org/show_bug.cgi?id=785941>; the bug in Servo is probably similar.

[2016-06-06 07:53] zakorgy commented on #11634
Sorry I didn't noticed the space between the two `textarea` tag.

[2016-06-06 10:47] awestroke commented on #11628
I'd like to do this

[2016-06-06 10:58] jdm commented on #11628
@awestroke Please do! Ask questions about anything that's unclear.

[2016-06-06 12:05] nox commented on #11577
https://github.com/w3c/DOM-Parsing/issues/15

[2016-06-06 12:42] nox commented on #6503
This starts warning:

[code]

[2016-06-06 12:47] dati91 commented on #11633
https://github.com/servo/servo/blob/master/components/util/prefs.rs#L183
I think this call caused the error on android.
If i replace it with `let mut path = resources_dir_path();` it starts normally.

[2016-06-06 13:18] jdm commented on #11633
Yes, it's the xdg::BaseDirectories::with_profile being unwrapped in default_config_dir that's triggering the error you see. You could avoid it by setting $HOME to something, I assume.

[2016-06-06 14:14] bobthekingofegypt commented on #11444
If this is still free I'd like to take a look at it.

[2016-06-06 15:10] Ms2ger opened #11642 "Runaway memory usage on https://en.wikipedia.org/wiki/Horse_racing"
There seems to be an infinite loop too, maybe under `layout::flow::Flow::assign_block_size_for_inorder_child_if_necessary`

CC @mbrubeck

[2016-06-06 15:11] Ms2ger opened #11643 "https://en.wikipedia.org/wiki/Louisville,_Kentucky does not render right"
It doesn't seem to render any of the article content

[2016-06-06 15:36] talklittle commented on #3030
I'd like to try this issue. My attempt will be essentially to rebase #7634 to current master and ensure it builds for Android, since it appears that was the blocker last time.

I noticed the webfont loading became async since that previous PR, so I'll do the font sanitizing on that worker thread.

[2016-06-06 16:17] rebstar6 commented on #10311
Test change for header delivery: https://github.com/w3c/web-platform-tests/pull/3116
More broad test change for cross-origin (not crossorigin) https://github.com/w3c/web-platform-tests/pull/3115 (while I was in there..)

Not sure what review is like on w3c, but those are in there. Once the 1st is approved, work can start on referrer policy delivery via the Referrer-Policy header

[2016-06-06 16:53] jdm commented on #11444
@bobthekingofegypt It is!

[2016-06-06 16:54] jdm commented on #3030
@talklittle Seems like it's worth a shot!

[2016-06-06 17:42] #11628 closed

[2016-06-06 18:04] mbrubeck commented on #11633
Probably we should have Android-specific implement implementations of the functions in the `basedir` module, since Android does not use XDG:

https://github.com/servo/servo/blob/master/components/util/basedir.rs

[2016-06-06 18:58] edunham commented on #11167
@larsbergstrom I added a global read permission and made the one document in the bucket public, and now anyone can download http://servo-perf.s3.amazonaws.com/perf-1464145346.json.

If a help document showed you a piece of JSON for enabling public access, it probably wanted you to make it into a custom policy (https://console.aws.amazon.com/iam/home?region=us-west-2#policies) then add the bucket p

[2016-06-06 19:00] larsbergstrom commented on #11167
@edunham Awesome, thanks much! I think I was trying to do it on the s3 page instead of the policy page, which is where I went wrong :-)

[2016-06-06 19:04] edunham commented on #11167
Depending on exactly how the end users will be consuming these logs, we might also want to configure the bucket as a public website and generate an index document to list them. I believe that it's currently only possible to discover the URL of a given log through the API or console.

[2016-06-06 19:43] #11629 closed

[2016-06-06 20:33] timvandermeij commented on #11578
Fixed by #11606?

[2016-06-06 20:49] nox commented on #11578
Yes.

[2016-06-06 20:49] #11578 closed

[2016-06-07 01:41] g-k commented on #9673
shotgun?

[2016-06-07 03:03] cbrewster opened #11647 "Rendering issues on resize"
This only happens with browserhtml when resizing quickly.

<img width="1173" alt="screen shot 2016-06-06 at 9 00 45 pm" src="https://cloud.githubusercontent.com/assets/9086315/15844733/e25b2c44-2c29-11e6-97c0-51cdf665d6bc.png">

This may only affect OS X, I don't have a linux installation so I cannot test.

[2016-06-07 03:46] ConnorGBrewster opened #11648 "[hittest] Link hitboxes are not updated after scrolling on duckduckgo"
`./mach run -d -w https://duckduckgo.com/\?q\=rust+langauge`
Scroll down and hover over links. The link rectangles are not updated after the scroll.
This happens both inside and outside of browserhtml.
This only happens with webrender.

[2016-06-07 04:05] metajack commented on #11647
That's one for the scrap book! :)

[2016-06-07 04:07] paulrouget commented on #11130
@mrmiywj Yes. I think the proper way of doing it is what I described here: https://github.com/servo/servo/issues/11130#issuecomment-218705665 - that would partially address this issue.

[2016-06-07 04:09] paulrouget commented on #11648
Could is be a regression due to https://github.com/servo/servo/pull/11537 ?

[2016-06-07 04:44] #11369 closed

[2016-06-07 05:10] mrmiywj commented on #11130
@paulrouget
But, will the Glutin's maintainer approve our modification of its APIs?

[2016-06-07 05:25] paulrouget commented on #11130
This should not a be a problem.

[2016-06-07 05:32] #10561 closed

[2016-06-07 05:52] paulrouget opened #11650 "Iframe with 3D transform, content not clipped"
Even though both https://github.com/servo/servo/issues/11151 and https://github.com/servo/servo/issues/11358 are now fixed, we still have issues with iframe content not being properly clipped.

Both previous test case render correctly, so it's something new.

Working on a reduced test case now.

<img width="834" alt="screen shot 2016-06-07 at 07 51 46" src="https://cloud.githubusercontent.com/asse

[2016-06-07 06:06] paulrouget commented on #11650
It's 3D transform specific:

[code]

@pcwalton any ideas? If that's too hard to fix, I think we can simply move to 2D transforms in browserhtml.

[2016-06-07 08:09] paulrouget opened #11651 "Do not fire a blur event when calling .focus() on a focused element"
[code]

Output:

[code]

[2016-06-07 08:57] paulrouget opened #11653 "Cursor not correctly positioned in an empty input"
[code]
looks like this:
<img width="157" alt="screen shot 2016-06-07 at 10 56 18" src="https://cloud.githubusercontent.com/assets/373579/15851776/8922eea8-2c9e-11e6-95bd-1e9702ac8467.png">

when
[code]
looks like this:
<img width="182" alt="screen shot 2016-06-07 at 10 56 28" src="https://cloud.githubusercontent.com/assets/373579/15851785/94486d62-2c9e-11e6-87d6-a0a46452dca2.png">

[2016-06-07 09:22] highfive commented on #11651
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-07 09:22] nox commented on #11651
@paulrouget Yes, it seems like it's all that is needed. Marking as E-Easy.

[2016-06-07 09:24] nox commented on #11612
So the problem is that for a dictionary `Foo`, the generated `Foo::new` function do not let callers choose whether they want to report exceptions or not.

I think the `FromJSValConvertible` trait should be changed to return `Result<T, Cow<str>>`, where callers can use that string to raise a `TypeError` if needed.

[2016-06-07 09:36] davideGiovannini commented on #11651
I would like to work on this issue,

[2016-06-07 11:09] jdm commented on #11651
@davideGiovannini Please do!

[2016-06-07 11:11] davideGiovannini commented on #11651
I added the check in htmlelement.rs
[code]
and now when I start servo with a page containing the snippet provided by @paulrouget  the output is `just:
[code]
but if i click again on the input field when it is already focused I still get:
[code]
instead of getting nothing (since the item is already on focus).

It looks like in this case the focus is being activated from some other part of the code

[2016-06-07 11:20] dd0x68 commented on #11592
@metajack @Gozala I have a profiler trace [here](https://www.dropbox.com/s/y6hcer2ijjbxsdi/twitter.html?dl=0) on OSX

Total time: 12.104185 s

The main problem seems to be that the operations are very serial. There are also some single operations that are taking a lot of time:
-LayoutPerform task 1891.074787 ms
-ScriptParseHTML task 1891.635303 ms
-NetHTTPRequestResponse: 698.675547 ms (isn't the

[2016-06-07 12:10] davideGiovannini commented on #11651
I think I fixed it now.
I added the check:
[code]
to the method `dom::document::Document.commit_focus_transaction`.

[2016-06-07 12:12] nox commented on #11651
What does it print with that check? Double `focus`?

[2016-06-07 12:19] davideGiovannini commented on #11651
- it prints `focus` at the start
- nothing when clicking the input field when it already has focus
- blur when the input field loses focus (clicking outside)
- focus when  the input field regains focus (clicking inside the input field)

I'm currently running `./mach test-wpt` to see if everything is still ok

[2016-06-07 12:20] jdm commented on #9673
@g-k Go for it :)

[2016-06-07 12:30] jdm commented on #11613
[code]

[2016-06-07 12:45] jdm commented on #11592
Curious - every attempt at reproducing this so far has given me a fully loaded page in about 1s in a release build on master.

[2016-06-07 12:51] jdm commented on #9931
I still see the exact same issue on twitter, despite https://github.com/servo/webrender/pull/254.

[2016-06-07 12:51] jdm commented on #9931
Nevermind, different assertion now.

[2016-06-07 12:51] #9931 closed

[2016-06-07 12:51] jdm opened #11658 "Assertion visiting twitter login in webrender"
[code]

[2016-06-07 12:56] jdm opened #11659 "Performance of twitter login page is abysmal"
Trying to type my username into the input box is a multi-second affair, with the display not updating for long periods of time. A profile trace shows 2.3 seconds for a "Painting" operation, with "PaintingPerTitle" operations taking >1s.

`./mach run https://twitter.com/login`

http://www.joshmatthews.net/twitter-login-trace.html

[2016-06-07 13:13] #6207 closed

[2016-06-07 13:18] jdm commented on #7412
One idea from IRC: lowercase the lines before comparing them so `use something::a` vs `use something::A` isn't so confusing.

[2016-06-07 13:24] highfive commented on #7720
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-07 13:28] SimonSapin commented on #7720
The spec was changed in https://github.com/whatwg/html/pull/1370

[2016-06-07 13:28] Manishearth commented on #7720
The specification has been updated.

To solve this bug, you need to:

 - Undo https://github.com/servo/rust-selectors/pull/54, get a new version published
 - Add a `target_element` field to the document (https://html.spec.whatwg.org/multipage/browsers.html#target-element)
 - Set/reset it whenever the document scrolls to the indicated part of the document (https://html.spec.whatwg.org/multipage/bro

[2016-06-07 13:32] nox commented on #7412
@jdm First time I hear someone complain about this specific part. I'm more annoyed by how braces should come after not-braces.

[2016-06-07 13:58] metajack commented on #11659
cc @pcwalton

With those kind of timings, this may be diagnosable with Instruments.app.

[2016-06-07 13:58] asajeffrey opened #11660 "Get window.frameElement to return null"
#11644 adds `Window::is_top_level`, which should be used by `Window::GetFrameElement` to return `null` approporiately in a mozbrowser. cc @ConnorGBrewster

[2016-06-07 13:59] asajeffrey commented on #11660
There may also need to be some work around x-origin iframes.

[2016-06-07 14:19] jdm commented on #11659
Instruments reports 16.7% under PaintContext::draw_box_shadow (for 6 separate threads). Of that, 15.8% under PaintContext::blur_if_necessary, which ends up spending 12.2% under mozilla::gfx::AlphaBoxBlur::Blur, which is entirely spent in mozilla::gfx::AlphaBoxBlur::BoxBlur_SSE2.

[2016-06-07 14:20] jdm commented on #11659
I can't test with webrender due to #11658.

[2016-06-07 14:52] SimonSapin commented on #7720
That is not needed: since then, the handling of pseudo-classes other than "tree structural" ones has been made generic and left to users of rust-selectors to implement themselves. In Servo, that happens in `components/style/selector_impl.rs` where you’ll need to add a variant to the `NonTSPseudoClass` enum and parse it in `parse_non_ts_pseudo_class`.

[2016-06-07 14:56] metajack commented on #11653
I noticed this yesterday. It looks like it is translated down and we're seeing only the top of the bar.

[2016-06-07 14:57] Ms2ger commented on #11642
Reduced:
[code]

[2016-06-07 15:00] #11583 closed

[2016-06-07 15:20] Ms2ger commented on #11642
Line breaking in `InlineFlow::assign_block_size` seems to be involved

[2016-06-07 16:05] blacksvk opened #11661 "box-shadow is not rendered correctly via webrender"
[code]

Without webrender:
![b1](https://cloud.githubusercontent.com/assets/10187350/15865184/1bf56db0-2cda-11e6-9a92-f9217869fbc2.png)
With webrender:
![b2](https://cloud.githubusercontent.com/assets/10187350/15865194/21f2b650-2cda-11e6-9a9c-d98f2fd7afb8.png)

[2016-06-07 16:19] pcwalton commented on #11659
I don't think it would be a good use of time to fix the non-WR path. Let's fix the WR crash.

[2016-06-07 16:21] blacksvk opened #11662 "box-shadow is not rendered correctly within position: fixed div"
[code]
![sh](https://cloud.githubusercontent.com/assets/10187350/15865814/7debed3a-2cdc-11e6-9f6d-9c674c38a87a.png)

[2016-06-07 16:24] asajeffrey opened #11663 "Intermittent crash in /css21_dev/html4/border-conflict-element-001d.htm"
[code]

Note: no stack trace. http://build.servo.org/builders/mac-rel-css/builds/1472

[2016-06-07 16:32] asajeffrey commented on #11344
It looks like we can get away with just making the constellation and script threads aware of which frames are top-level browsing contexts, so we don't need a separate abstraction layer.

[2016-06-07 16:32] #11344 closed

[2016-06-07 16:46] Gozala commented on #11358
#11398 seems to fix specific example @paulrouget posted, but issue still remains if different css transforms are used. In browser.html we use `translate3d` that still seems to have this issue. I have update original code example to illustrate the issue:

[code]

I also published it to jsbin so it's easy to reproduce:

[code]

P.S. If you scroll iframe content it will escape top boundary as well.

[2016-06-07 16:53] Gozala commented on #11358
Never mind, it looks like we already have a bug #11650 on file the issue I posted above

[2016-06-07 17:06] metajack commented on #10110
Diane and I discussed this. I think the first step will be to implement the @rzambre's DOM-size metric first, which should be easy to calculate earlier in the pipeline.

[2016-06-07 18:03] Gozala opened #11664 "click event should not be dispatched if mouseforcewillbegin is prevented."
It is not documented clearly on https://developer.apple.com/library/mac/documentation/AppleApplications/Conceptual/SafariJSProgTopics/RespondingtoForceTouchEventsfromJavaScript.html, but with force touch API you can prevent click events from dispatching if you decide to handle force touch by calling `event.preventDefault()` at `mouseforcewillbegin`, which is pretty important otherwise user needs t

[2016-06-07 19:20] Nashenas88 commented on #11524
Can I take this one? It seems simple to pick up. (modify cargo makefile in angle if it's not already done and then update the submodule to point to the new commit).

[2016-06-07 20:15] metajack commented on #11524
@Nashenas88 Sounds great. Have at it!

[2016-06-08 04:07] ConnorGBrewster opened #11669 "Implement joint session history"
https://html.spec.whatwg.org/multipage/browsers.html#joint-session-history

The current idea here is to create a `HistoryIterator` that will lazily interleave `Frame` history depending on the `NavigartionDirection`. Each `Frame` entry will now also hold an `Instant` so the order of navigations can be determined.

cc @asajeffrey

[2016-06-08 04:07] ConnorGBrewster commented on #11669
IRC: http://logs.glob.uno/?c=mozilla%23servo&s=8+Jun+2016&e=8+Jun+2016#c450874

[2016-06-08 04:12] ConnorGBrewster commented on #11669
The section of code that will need to be fixed (issue is described in IRC link above): https://github.com/ConnorGBrewster/servo/commit/b9d7e3a710b45fe1c9a556d77a0c84e366cf1817#diff-55c92a6a5ba7654ce45fe6fc6c63740fR560

[2016-06-08 04:42] ConnorGBrewster commented on #11669
Possible solution: https://github.com/servo/servo/commit/bf3e4fa5696ea448b425753c966b27e0e2af1911

It is not the cleanest solution, any thoughts? @asajeffrey

[2016-06-08 07:25] kevgs commented on #11596
I have a question. As I understand this spec https://dom.spec.whatwg.org/#concept-getelementsbytagname this assertion is incorrect because element has prefix https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/dom/nodes/Document-Element-getElementsByTagName.js#L165

Am I right?

[2016-06-08 07:50] shinglyu commented on #11167
@edunham My test runner will add the link to the Treeherder dashboard. So people can find the link in a Treeherder job's description section.

[2016-06-08 08:36] kevgs commented on #11596
Also, what do you mean by 'implement efficiently', efficiently means performance?

[2016-06-08 09:48] nox commented on #11596
Yeah, I mean performance-wise.

I'll take a look for your other question.

[2016-06-08 09:55] nox commented on #11596
@kevgs You are right, spec is unclear and Safari and Firefox disagree with each other.

[2016-06-08 09:58] kevgs commented on #11596
Why it's unclear? Spec requires comparing qualified names. And qualified name 'is its local name if its namespace prefix is null, and its namespace prefix, followed by ":", followed by its local name, otherwise'.

[2016-06-08 09:59] kevgs commented on #11596
Current code ignores namespace prefix. I think we should take it into account.

[2016-06-08 10:00] nox commented on #11596
It's unclear because there is a split between UAs that follow the spec, and UAs that don't. This usually mean that the spec is not clear and should be changed.

[2016-06-08 10:02] kevgs commented on #11596
What is UA? :)

And should I change the code to check for namespace prefix too? And fix tests.

[2016-06-08 10:03] nox commented on #11596
Sorry. :) A UA is a User Agent. Firefox, Chrome, Safari... You shouldn't do anything until the spec makes it clear which behaviour we should follow. I will report our findings on whatwg/dom soon.

[2016-06-08 10:09] kevgs commented on #11596
So, there is nothing to do with this issue until the spec got fixed?

[2016-06-08 10:41] mskrzypkows commented on #11528
@jdm I can investigate the issue, could you give me some hint, in which area should I look for rendering label of input?

[2016-06-08 11:44] nox opened #11671 "Intermittent crash in /_mozilla/css/submit_focus_a.html"
[code]

[2016-06-08 12:09] jdm commented on #11671
Same panic seen in #11400.

[2016-06-08 12:13] jdm commented on #11528
The actual text content is derived from `ServoThreadSafeLayoutNode::text_content()` in `components/layout/wrapper.rs`. That's invoked from `FlowConstructor::create_fragments_for_node_text_content` in `components/layout/construct.rs`. There are rendering rules for text inputs in `resources/servo.css` that will apply here as well.

[2016-06-08 12:16] jdm commented on #11528
Also `resources/quirks-mode.css` has a rule that may apply depending on the testcase; I forget when quirks mode is applied.

[2016-06-08 12:26] nox commented on #11596
@kevgs After asking WHATWG, the spec is correct and the test is wrong. Feel free to fix the test then!

[2016-06-08 13:08] jdm commented on #9897
Fixed by the rust-cssparser changes.

[2016-06-08 13:08] #9897 closed

[2016-06-08 13:18] jdm commented on #9604
Also `evaluate_script_on_global_with_result` passes 0 as the line number argument to `CompileOptionsWrapper`.

[2016-06-08 13:25] jdm opened #11674 "GetCookiesForUrl handler should use a read lock instead of a write lock"
We call `cookie_jar.write()` when we only need to read values from it, which could reduce performance if there are a bunch of HTTP requests occurring simultaneously.

Code: `components/net/resource_thread.rs` (`ResourceChannelManager::start`)
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/dom/documents/resource-metadata-management/document-cookie.html` (just a sanity check to make sure t

[2016-06-08 13:25] highfive commented on #11674
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-08 14:17] #11622 closed

[2016-06-08 16:00] sjmelia commented on #11674
I'd like to pick this one up please

[2016-06-08 16:07] jdm commented on #11674
@sjmelia Go for it :) Please ask questions about anything that's unclear.

[2016-06-08 17:11] asajeffrey opened #11678 "Use error-chain?"
Our error reporting is currently a bit ad hoc, perhaps https://crates.io/crates/error-chain would help?

cc @brson

[2016-06-08 17:44] pcwalton opened #11679 "tidy warns about problems even in quoted strings inside attributes"
In particular, the quoted string `"__TEXT,__info_plist"` causes tidy to fail complaining about the lack of a space before the comma. This impacts #11646.

[2016-06-08 17:45] highfive commented on #11679
cc @wafflespeanut

[2016-06-08 17:46] jdm commented on #11679
I could swear that tidy has code to strip the contents out of strings. Is that inside of an attribute?

[2016-06-08 17:50] pcwalton commented on #11679
@jdm Yeah, it's inside an attribute. I'll update the title.

[2016-06-08 17:58] dd0x68 commented on #10110
I'm thinking that I'll stick a counter in the [ServoHTMLParser](https://github.com/servo/servo/blob/5d86b9b2ae801685cbae7a1d96587a25d993fdf6/components/script/dom/servohtmlparser.rs) and keep track when [create_element](https://github.com/servo/servo/blob/51d41c5161fe61ad28cd0db98632633967832823/components/script/parse/html.rs#L85) is called.

Is that reasonable? Or is there a better place to stic

[2016-06-08 18:45] KiChjang commented on #8982
Previoua attempt in #10828.

[2016-06-08 19:27] larsbergstrom commented on #10110
@dd0x68 That seems reasonable to me. @jdm, will that capture all of the DOM element creations and be available by the time we want to perform layout?

[2016-06-08 19:37] jdm commented on #10110
Yes and yes, depending on where the count is stored.

[2016-06-08 19:44] dd0x68 commented on #10110
@jdm That's what I'm trying to figure out now

[2016-06-08 19:47] metajack commented on #10110
Do we want to update the count on element removal as well? Or just assume that once we switch to parallel mode for a layout we stay in parallel mode?

@rzambre @larsbergstrom it occurs to me that relayout will be some subset of the flow tree. I assume your results were just for full layout passes? Maybe later we need to be smarter and make this based on dirty flow tree nodes.

[2016-06-08 19:58] dd0x68 commented on #10110
@metajack From what I see, the parallel/sequential determination is made when the LayoutThread is created. I guess to go to sequential we would just terminate the workers and set parallel_traversal to None. It seems like we would end up either losing state or redoing work in that case.

Currently, I'm just assuming that once we switch to parallel mode, we stay in parallel mode.

[2016-06-08 20:11] metajack commented on #10110
Yes, that is how it works now and I think we should constrain the first pass at this.

In the future, it may make sense to make this more dynamic. Baby steps :)

[2016-06-08 20:45] jdm commented on #10110
The LayoutThread is created before the page content is available, so the decision will need to be made later than that.

[2016-06-08 20:48] rzambre commented on #10110
@metajack Yes, the results are for the _total_ time taken in layout passes (sum of times in both the non-incremental one and the incremental ones). I agree we need to decide on serial or parallel mode for every reflow. Maybe not terminate the threads in serial mode but just use one since that would imply re-spawning overhead for next reflows that benefit from parallel mode. All near-future work :)

[2016-06-08 20:48] metajack commented on #10110
I guess this means we should create the threadpool unconditionally and then decide whether to use it later? Probably by setting self.parallel_traversal in layout_thread.rs at the layout entry points.

[2016-06-08 21:13] sjmelia commented on #11674
Great!

I think we need the write lock because each retrieved Cookie updates its last_access time when read, in order to fulfil RFC6265:

https://github.com/servo/servo/blob/c519739b7bcf408f2f671a89729aa30f39dd67a1/components/net/cookie_storage.rs#L101

Have I got the wrong end of the stick?

[2016-06-08 21:20] rzambre commented on #10110
Yes, I think Servo currently spawns (3/4)*(number of cores) by default if the -y option is not specified.

[2016-06-08 21:21] pcwalton commented on #11648
Minimal test case:

    <!DOCTYPE html>
    <html style="overflow: scroll"><body style="padding-top: 1200px"><a href="http://example.com">Mouse over me</a></body></html>

[2016-06-08 21:37] jdm commented on #11674
Oh, darn. You're totally right!

[2016-06-08 21:37] #11674 closed

[2016-06-09 01:52] Coder206 commented on #11599
@nox I am going to be a little busy this month and the beginning of the next, I will do my best to get this issue solved between all the other things I have going on. Just to confirm, the issue is at this file (at line 66): https://github.com/servo/servo/blob/master/components/script/dom/htmliframeelement.rs

[2016-06-09 05:15] KiChjang commented on #10861
Previous attempt at #10974.

[2016-06-09 08:16] nox commented on #11599
Yes exactly!

[2016-06-09 09:59] #11469 closed

[2016-06-09 12:27] sole opened #11681 "Implement CanvasRenderingContext2d.fillText"
Spec: https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-filltext
Code: `components/script/dom/canvasrenderingcontext2d.rs`, `components/script/dom/weibidls/CanvasRenderingContext2D.webidl`, `components/canvas/canvas_paint_thread.rs`

(I hope I identified correctly the code files - followed the style in #5411)

[2016-06-09 12:33] Wafflespeanut opened #11682 "Intermittent crash in /_mozilla/css/position_relative_top_percentage_a.html"
▶ CRASH [expected PASS] /_mozilla/css/position_relative_top_percentage_a.html
      │
      │ Shutting down the Constellation after generating an output file or exit flag specified
      │ Shutting down the Constellation after generating an output file or exit flag specified
      │ thread &#39;ScriptThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }&#39; panicked

[2016-06-09 13:03] emilio commented on #11566
I ran out of ideas on how to reproduce it... Below are the http headers for the three attempts.

The trickle one really differs, and the `chunked_layout_query.py` is done with the following python snippet:

[code]

[code]

When creating different iframes for each, only the node server deadlocks, and the others run fine...

My guess is there are some internal differences between how wpt python hand

[2016-06-09 14:22] asajeffrey opened #11685 "Uses of panic! in script_thread"
There are uses of panic! in script_thread.rs which have race conditions:

[code]

the pipeline might have been torn down before the message was sent. These should probably all be warn!

cc @Ms2ger

[2016-06-09 14:37] rebstar6 commented on #11384
https://github.com/w3c/web-platform-tests/pull/3153 should make this issue do-able.

[2016-06-09 14:46] jdm commented on #6909
https://github.com/servo/heapsize/blob/2163ab990795b4b9ae150b0cbb2c57b088f530e1/src/lib.rs#L241 exists.

[2016-06-09 15:44] broesamle commented on #10947
currently I am struggeling with my natural english of not and or:

how is the following phrase in [the spec](https://drafts.csswg.org/cssom-view/#potentially-scrollable) are meant?

a) both of them have to be `visible` in order to make this true

b) it is enough if one is `visible`
(in the sense of: EITHER `overflow-x` is not `visible` OR overflow-Y is not `visible`(OR both are not))

a) `overflow

[2016-06-09 15:45] jdm opened #11686 "Add a keyboard shortcut to reload the current page"
We would like Ctr+R/Apple+R to reload the current page (with a preference to disable this behaviour, too). We'll need to:

1. add a new `WindowEvent` variant
1. add a handler to `Window::handle_key` that enqueues the new event type (guarded by a preference check like the one for handling escape)
1. add a new `ConstellationMsg` variant
1. add a handler for the new window event in `Compositor::handl

[2016-06-09 15:52] jdm commented on #10947
The sentence is considered true if:
* the used value for `overflow-x` is not 'visible' OR
* the used value for `overflow-y` is not 'visible'

[2016-06-09 17:09] pcwalton commented on #11650
I think this is probably something related to DDG's specific use of stacking contexts, similar to #11648.

[2016-06-09 17:54] #11059 closed

[2016-06-09 17:54] #11400 closed

[2016-06-09 17:54] #11671 closed

[2016-06-09 17:54] #11682 closed

[2016-06-09 18:03] mrmiywj commented on #11686
I'll pick this up.

[2016-06-09 18:30] emilio opened #11689 "Use less repetitive enum names for Cursor"
Should be renamed to use less repetitive variants like `Cursor::Default` instead of `Cursor::DefaultCursor`.

 * Code: `components/style_traits/cursor.rs`

[2016-06-09 18:30] highfive commented on #11689
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-09 18:41] #11216 closed

[2016-06-09 20:09] broesamle commented on #10947
during adding the additional condition I find that `potentially_scrollable` always returns true on the example HTML file, which in Firefox provokes the two different behaviours defined in the specs for `scrollHeight`.

Since I now scrambled the logic gatters of my brain back and forth quite a few times I suggest making a PR for the test, review it and then continue on fixing the bug in the servo c

[2016-06-09 21:14] jdm commented on #10947
That sounds like a sensible choice :)

[2016-06-09 21:53] mbrubeck opened #11693 "Intermittent CRASH in /html/semantics/embedded-content/the-iframe-element/change_parentage.html"
This test was just added in #11677. CC @asajeffrey

      ▶ CRASH [expected OK] /html/semantics/embedded-content/the-iframe-element/change_parentage.html
      │
      │ Xlib:  extension &#34;XFree86-VidModeExtension&#34; missing on display &#34;:0&#34;.
      │ ERROR:constellation::constellation: Panic: ScriptThread: received an event message for a layout channel that is not associated with this

[2016-06-09 21:56] asajeffrey commented on #11693
Related to #11685?

[2016-06-09 22:35] aneeshusa opened #11694 "Remove SubpageId"
This will help me with #10808.

[2016-06-09 22:43] jdm commented on #11694
Heh, I just came across https://github.com/servo/servo/pull/7792 .

[2016-06-09 23:07] KiChjang commented on #11694
This is part of #5236.

[2016-06-09 23:14] #11633 closed

[2016-06-09 23:39] asajeffrey commented on #11678
One idea I had today is to buffer up any uses of warn! so that we can report them along with a panic backtrace as part of crash reporting.

[2016-06-10 01:38] brson commented on #11678
That would be sweet. One thing to note is that the advantages of error-chain come mostly when many crates are using it - that way they all know how to work together to propagate backtraces (or conceivably any other metadata you might want to carry along). I'd love for a bigger project to try it out, but it is basically a prototype, and I'd expect people to improve on the ideas it presents with exp

[2016-06-10 04:03] ConnorGBrewster commented on #11669
@asajeffrey I whipped together a quick proposal/overview over what I would like to do. https://github.com/ConnorGBrewster/ServoNavigation

It is probably in a rough shape and I would like to add some more complex scenarios. Let me know what you think and see if you can poke some holes in it.

[2016-06-10 04:13] mrmiywj commented on #11689
I've picked this up.

[2016-06-10 06:49] paulrouget commented on #11686
We don't want this to affect browserhtml. So maybe we should rename the preference `shell.quit-on-escape.enabled` to `shell.builtin-key-shortcuts.enabled`, and allow quit on escape and reload on ctrl-r only if that pref is enabled.

https://github.com/servo/servo/blob/2cfef1391f53723aadb3f5225e3eaf3d155002d4/resources/prefs.json#L61

[2016-06-10 08:00] jdm commented on #11686
@mrmiywj Go for it :)

[2016-06-10 11:11] jdm opened #11703 "Intermittent crash in /html/semantics/embedded-content/the-iframe-element/change_parentage.html (Option::unwrap on a None value)"
[code]

[2016-06-10 11:59] broesamle commented on #10947
just removed the typos.

[2016-06-10 12:18] sole opened #11704 "Implement line-height quirks"
My test at http://sole.github.io/test_cases/servo/gaps/ renders a seamless 'checkerboard' in Firefox, Safari and Chrome:
<img width="1064" alt="screen shot 2016-06-10 at 13 13 23" src="https://cloud.githubusercontent.com/assets/5609/15963913/6894ee0e-2f0d-11e6-86da-500596925589.png">

but it renders an unexpected gap under each row in Servo:
<img width="912" alt="screen shot 2016-06-10 at 13 08 53

[2016-06-10 12:39] Ms2ger commented on #11704
[code]

This is either https://quirks.spec.whatwg.org/#the-line-height-calculation-quirk or https://quirks.spec.whatwg.org/#the-blocks-ignore-line-height-quirk

[2016-06-10 13:03] #11008 closed

[2016-06-10 14:05] asajeffrey commented on #11678
Cool. I am vaguely thinking that we want to integrate logging with panicking, so we get a spectrum of how to deal with unexpected states:

* info! hey you might want to know about this.
* warn! this looks fishy, but I'm going to carry on and see if things work out.
* error! this is definitely an error, and should be reported.
* panic! this is definitely an error, and there's no way for the current

[2016-06-10 14:18] SimonSapin opened #11709 "Implement the quirks mode spec"
https://quirks.spec.whatwg.org/ documents how quirks mode affects CSS and Selectors in other browsers. (Some specs like HTML define this inline.) These behaviors are likely required for web-compatibility.

This is a meta issue for tracking the implementation of quirks defined there.

[2016-06-10 14:20] SimonSapin commented on #11704
## What’s going on

https://drafts.csswg.org/css2/visudet.html#propdef-line-height

`<div id="checkers">` is such a block container. Let’s assume that `font-size` is 16px, `line-height` is 1.2, and the first available font in `font-family` places the baseline 0.2em from the bottom of its EM box. The strut will be 19.2px high, of which 15.36px is above the baseline and 3.84px below.

Additionally,

[2016-06-10 15:53] #11613 closed

[2016-06-10 16:29] asajeffrey opened #11712 "Handle pipeline lookup failure in webdriver"
At the moment, `script/webdriver_handlers.rs` uses `get_browsing_context` to lookup the current pipeline id, which panics on failure. This is not ideal, we should return a webdriver error instead.

Related: #11695 and https://www.w3.org/Bugs/Public/show_bug.cgi?id=29691

cc: @jgraham

[2016-06-10 16:32] asajeffrey opened #11714 "Handle pipeline lookup failure in devtools"
At the moment, `script/devtools.rs` uses `get_browsing_context` to lookup the current pipeline id, which panics on failure. This is not ideal, we should return an error instead.

Related: #11695 and #11712.

[2016-06-10 16:32] highfive commented on #11714
cc @fitzgen

[2016-06-10 16:56] #10965 closed

[2016-06-10 17:58] farodin91 commented on #10102
I would look into this.

[2016-06-10 19:47] NiLSPACE commented on #11608
It's working now, thanks.

[2016-06-10 19:47] #11608 closed

[2016-06-10 20:29] larsbergstrom opened #11719 "Windows builder needs to taskkill all remaining processes"
We've had some failures on Windows when there is a runaway servo or unit test process. These will keep a lock on the directory and break either the git or compile steps on all subsequent builds until it's fixed. One idea is to create a taskkill step, similar to the pkill steps on the other machines.

[2016-06-10 20:29] highfive commented on #11719
cc @aneeshusa

[2016-06-10 23:47] Coder206 commented on #11450
@paulrouget I am able to make modifications to browserHTML but I have no Mac to test with...

[2016-06-11 01:26] aneeshusa commented on #11719
Dupe of servo/saltfs#351.

[2016-06-11 01:26] #11719 closed

[2016-06-11 01:47] cbrewster opened #11721 "Intermittent failure in /_mozilla/webgl/conformance-1.0.3/conformance/rendering/gl-scissor-canvas-dimensions.html"
[code]

[2016-06-11 02:53] ConnorGBrewster commented on #11703
Dupe of #11693.

[2016-06-11 04:21] KiChjang commented on #11302
@shinglyu Still holding up okay on this issue?

[2016-06-11 06:00] sjmelia commented on #7720
I'd like to pick this up, i've made some progress already but have a few questions, do I open a pull request?

[2016-06-11 06:18] Manishearth commented on #7720
Sure, feel free to open a pull request and ask any questions you have.

What flag?

[2016-06-11 07:21] sjmelia commented on #7720
Great! R.e. flag, sorry - I meant the "i-spec-unclear" label, I read your comment above as indicating that the spec was clarified and the selected element is not affected by dom changes.

[2016-06-11 07:30] Manishearth commented on #7720
oh, yeah, that label can be removed

[2016-06-11 07:42] Manishearth opened #11722 "Create a central repository of Origins that can be trusted"
Right now, net blindly trusts requests from a script pipeline which say they are from a certain origin. This is wrong from the process isolation perspective.

Instead, a map of pipeline IDs to allowed origins should be kept in the chrome process, and origins sent from script should be checked against this.

Additionally, we may want a different origin struct, one which:

 - has the ability to supp

[2016-06-11 07:46] aneeshusa commented on #11722
Does #10808 (making PipelineIds into unguessable UUIDs) help with this, or would we still need separate pipeline passwords?

[2016-06-11 07:47] Manishearth commented on #11722
Unguessable is enough. I had the mental model of a separate pipeline password, that's all.

[2016-06-11 07:53] izgzhen commented on #11722
"pipeline password" is something concrete or just a concept?

[2016-06-11 07:56] jdm commented on #11703
Different panic reason.

[2016-06-11 07:58] jdm commented on #11450
Browser.html works on any operating system; why is Mac a problem in particular?

[2016-06-11 08:04] Manishearth commented on #11722
Right now pipeline ids are incremented integers. So if manish.com's content process wishes to steal facebook.com data, it can just iterate through pipeline ids until it finds the one corresponding to facebook, and send that across.

There are two ways of fixing this. One way is to make pipeline ids unguessable; a uuid or something.

The other is to keep pipeline ids as is (for easy indexing, etc),

[2016-06-11 13:41] metajack commented on #11450
@jdm browser.html is currently busted on windows, which is what @Coder206 uses.

[2016-06-11 14:14] farodin91 commented on #10102
@jdm Any tipp to get rendering a single element?

[2016-06-11 14:22] ConnorGBrewster commented on #11703
@jdm ahh sorry, my bad

[2016-06-11 15:25] jdm commented on #10102
That's probably something that would require webrender integration. @glennw might know.

[2016-06-11 15:47] blacksvk opened #11723 "Image with height defined in % is not resized properly"
[code]
![img](https://cloud.githubusercontent.com/assets/10187350/15985926/22906600-2ffc-11e6-9467-3e9fdc5d7337.png)

[2016-06-11 16:10] mrmiywj commented on #11686
Hmm, `WindowEvent::Refresh` does not matched the event here?

[2016-06-11 16:12] metajack commented on #11723
This is probably E-Easy, but marking it less easy until some guidance gets posted.

It looks like the width isn't been locked to the original aspect ratio, and perhaps it should be?

[2016-06-11 20:06] #11648 closed

[2016-06-11 21:12] Coder206 commented on #11450
@jdm @metajack It is also giving errors on Fedora 23.

[2016-06-11 21:30] Coder206 commented on #11450
@jdm I apologize for the confusion. I was expecting an answer from @paulrouget, I think he would have better understood my comment.

[2016-06-11 23:19] frewsxcv commented on #11405
@catchmrbharath Have you already started on this? It looks like @mrmiywj accidentally worked on this in https://github.com/servo/servo/issues/11697.

[2016-06-11 23:49] jdm opened #11725 "Intermittent timeout of lots of websocket tests"
I only started seeing this today; not sure if it's a permanent mac builder problem or a new intermittent failure caused by #10382.
[code]

[2016-06-12 00:07] metajack commented on #11725
@larsbergstrom reported some dns issue that happens, and previously this has meant a repave of the slave. Is it always the same slave?

[2016-06-12 00:12] ConnorGBrewster commented on #11725
related to https://github.com/servo/servo/pull/11666#issuecomment-225369447?

[2016-06-12 00:30] #9984 closed

[2016-06-12 03:07] catchmrbharath commented on #11405
Thats ok. I had some basic code, but I was stuck on something.

[2016-06-12 09:23] Kelnozz opened #11728 "Double border appears on elements with display: table"
The following code:

[code]

Gives that result:

![2016-06-12-112248_661x388_scrot](https://cloud.githubusercontent.com/assets/8824364/15990328/09340f92-3090-11e6-82c1-bb627e2ae260.png)

[2016-06-12 09:29] Kelnozz commented on #11728
I need to correct myself, It's only a problem when `display: table` is used with `padding` and `border`.

[2016-06-12 09:52] jdm commented on #11723
Sorry, the easy and less-easy tags don't belong until someone's actually verified that's the case and provided helpful guidance.

[2016-06-12 11:47] #11598 closed

[2016-06-12 11:57] Manishearth opened #11729 "Hover in servo-starters moves the text below it"
Opening https://starters.servo.org/ in servo (webrender), and hovering on the red links in the open issues section causes an underline to appear (expected). This underline pushes the text below it down a few pixels (unexpected).

[2016-06-12 12:48] mrmiywj commented on #11130
@paulrouget
I've pushed a PR to glutin to fix this issue. Could you review it?

[2016-06-12 16:43] #11478 closed

[2016-06-12 21:22] #11689 closed

[2016-06-12 21:54] jdm opened #11732 "Replace RefCell in SCRIPT_THREAD_ROOT with Cell"
Since the value inside the RefCell is copyable (it's a raw pointer inside of an Option wrapper), we can use Cell instead of a RefCell (which only needs to be used for values that do not implement the `Copy` trait).

Code: `components/script/script_thread.rs`

No need to run tests; if `./mach build` reports no errors then the changes are good.

[2016-06-12 21:54] highfive commented on #11732
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-12 22:09] cbrewster opened #11733 "Assertion failure self.get_pending_parsing_blocking_script().is_none() || script.is_none()"
Run: `./mach run -d http://www.robinwieruch.de/the-soundcloud-client-in-react-redux/`

[code]

[2016-06-12 22:57] Ms2ger commented on #11733
I suspect this is a symptom of https://github.com/servo/html5ever/issues/198

[2016-06-12 23:15] jdm commented on #11733
The assertion is being triggered because we have a script element network load being completed, which invokes the parser, which encounters another script tag. Presumably the pending parsing blocking script hasn't been reset before we begin parsing.

[2016-06-12 23:16] jdm commented on #11733
Alternatively, perhaps the pending parser blocking script is a different one than the script that's being executed. I really want better documentation for what parts of the spec `Document::finish_load` is attempting to implement.

[2016-06-12 23:19] DarinM223 commented on #11732
Can I work on this? Thanks!

[2016-06-12 23:24] ConnorGBrewster commented on #11732
@DarinM223 go for it!

[2016-06-13 02:17] #11732 closed

[2016-06-13 08:49] jdm commented on #4283
This is my first attempt: https://github.com/servo/servo/compare/master...jdm:execution_stack

Known missing pieces:
* the checkpoint in the parser at `</script>`
* the checkpoint in the parser when creating an element
* the checkpoint in the `spin the event loop` algorithm
* unclear how checkpoints relate to script events that don't directly map to HTML5 task queues
* emptying the execution stack

[2016-06-13 17:23] perlun commented on #9939
@metajack - this is the issue I mentioned on IRC some day I ago. I get the same error, also on Windows 10:

[code]

This is in MSYS2, carefully-crafted like you suggest @larsbergstrom. A bunch of other crates did manage to compile correctly (or so I think), so would suspect that this is "something" that is missing on mine and @sorpaas machines.

What is `glslang` in the first place? Where does it

[2016-06-13 22:07] shinglyu commented on #11302
＠KiChjang ya, still working on it, just has a vacation and a workweek coming, so probably not much progress until next week.

[2016-06-14 11:22] pcwalton opened #11741 ""Send is too large for port" on single-page HTML spec"
[code]

[2016-06-14 22:28] mbrubeck commented on #11723
[`ReplacedImageFragmentInfo::calculate_replaced_inline_size`][1] calculates the wrong width (“inline size”), because the image width depends on the container’s height (“block size”), but this function doesn’t know the container height so it just passes [`None`][2].

The container height, if available, is stored in the `block_container_explicit_block_size` of the [Flow][3] that contains the image f

[2016-06-14 22:28] highfive commented on #11723
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-14 23:27] DarinM223 commented on #11723
Hi, can I work on this? Thanks!

[2016-06-14 23:41] mbrubeck commented on #11723
Sure!

[2016-06-15 01:18] samlh commented on #11741
See also https://github.com/servo/servo/issues/10390

[2016-06-15 08:13] asajeffrey opened #11747 "Thrashing if about:failure panics"
If about:failure panics, the constellation kills the pipeline and replaces it by, er, one displaying about:panic. This can cause thrashing, since each about:failure spawns three new threads.

cc: @glennw

[2016-06-15 08:38] #11405 closed

[2016-06-15 11:06] emilio commented on #11062
Yep, that's the case I think, webrender images allocated with WebRender's `alloc_image`/`update_image` are never removed from WebRender's resource cache.

@glennw: I can take the time for doing the image deallocation patches, is there anything special that could prevent that?

I can think of a few races that might happen, like webrender not having rendered yet the old frame before we deallocate th

[2016-06-15 11:08] sjmelia commented on #8719
This is referenced in PR #11726, the active state already exists for the selector.

So either the element itself or perhaps the "Activatable" trait could be extended to deal with the "formal activation state" and call element.set_active_state.

In document.handle_mouse_event; I could hook mousedown and mouseup (as done for a click, which hooks to element.authentic_click_activation) to trigger this

[2016-06-15 12:00] mbrubeck commented on #11728
Because the table's content is not inside `display: table-row` and `table-cell` elements, Servo creates anonymous rows and cell flows in [`generate_missing_child_flow`][1].  These anonymous flows each get a copy of the table’s CSS styles, which causes the duplicate border and padding in the test case.

I think there are a couple of bugs involved here.

First, according to [CSS2 § 17.6.1][2], borde

[2016-06-15 12:00] highfive commented on #11728
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-15 12:04] jdm commented on #8719
cc @Manishearth for the previous comment.

[2016-06-15 12:32] mbrubeck opened #11751 "Font issues in WebRender caused by pixel snapping"
This test case:
[code]

Renders like this on Linux with WebRender enabled (`./mach run -w`):

![illisible](https://cloud.githubusercontent.com/assets/5920/16079521/c72f86d2-32b8-11e6-8681-61835b3fed30.png)

This happens because the glyph positions are snapped to full pixels before rendering, which can change the letter spacing dramatically. @pcwalton mentioned that this could be fixed by instead r

[2016-06-15 13:07] #11747 closed

[2016-06-15 13:50] johannhof commented on #11728
I'll take it

[2016-06-15 14:11] est31 opened #11753 "https://slashdot.org yields blank page"
Running servo with commit 0cfae3a3e .

When visiting `https://slashdot.org`, the website starts building up, but then suddenly goes blank almost immediately before rendering completion.

The appearance is very similar to #11489 , dunno if its related.

It **only** is reproducible with release mode (-r flag on mach run), the debug mode doesn't show the bug.

I'm running mach run with the -w flag (w

[2016-06-15 14:12] est31 commented on #11753
I'm living in germany and therefore I get a "please accept that we store cookies" dialog. The screen goes blank before that dialog is rendered completely, but the same dialog is used on sourceforge.net and on that page the dialog fails to render as well, but the page does not go blank.

[2016-06-15 14:13] est31 commented on #11753
Also note that when the screen has went blank, servo can't be closed anymore; clicking the x button doesn't have any effect. Ctr-C works though.

[2016-06-15 14:16] est31 commented on #11753
Hrmm close doesn't work on debug mode either, will file it as separate bug.

[2016-06-15 15:55] bhearsum commented on #9831
If Servo wants to use the same update protocol as Gecko (regardless of whether or not you use MARs, or the Gecko app-update client), it could use Balrog as its server. We've had a lot of success in using Balrog for non-Firefox updates (like GMP plugins and System Addons), and I think it could help you all out as well.

[2016-06-15 23:57] craftytrickster commented on #11712
Is this assumption correct?

You want to change the return type of `get_browsing_context` from

[code]

to
[code]

And then when `get_browsing_context` is consumed by the webdriver_handler, if an error occurs, we can return a `WebDriverJSError`?

[2016-06-16 00:04] KiChjang commented on #10245
@saurvs Is this still being worked on?

[2016-06-16 03:43] saurvs commented on #10245
@KiChjang I was busy for a while. I'd like to finish it now.

[2016-06-16 04:34] ConnorGBrewster commented on #11753
I also have this issue when running `./mach run -d https://google.com` when a popup comes up asking to switch the default search engine to Google. The whole page goes blank except the popup.

[2016-06-16 06:02] asajeffrey commented on #11712
Something like that. Possibly `Result<Root<BrowsingContext>,ExcitingNewError>>` or `Option` rather than `Result`.

[2016-06-16 07:31] SimonSapin commented on #11019
This seems fixed now, possibly by https://github.com/servo/webrender/pull/282.

Leaving this open since we don’t have any regression test yet. A reftest could use script code like `document.documentElement.scrollTop = 100` to simulate scrolling.

[2016-06-16 09:44] #11723 closed

[2016-06-16 11:24] julienw commented on #10966
This is necessary for the tests in https://quirks.spec.whatwg.org/ (eg http://w3c-test.org/quirks-mode/blocks-ignore-line-height.html) to work.

[2016-06-16 13:13] paulrouget commented on #11130
@mrmiywj thanks for landing the first part. Now we need a glutin update in Servo with the changes I'm describing in the second part of https://github.com/servo/servo/issues/11130#issuecomment-218705665

[2016-06-16 13:37] #11679 closed

[2016-06-16 13:44] negge opened #11759 "Bug on spinning.html with webrender"
Using master servo with -w (webrender), the spinning.html drops some of the rectangles.  This can be seen with the commands:

without webrender:
`./mach run -r -- https://people.xiph.org/~negge/spinning.html`
https://people.xiph.org/~negge/servo_spinning_nowr.png

with webrender:
`./mach run -r -w -- https://people.xiph.org/~negge/spinning.html`
https://people.xiph.org/~negge/servo_spinning_wr_bug

[2016-06-16 13:53] jdm commented on #10966
This was fixed by #11214.

[2016-06-16 13:53] #10966 closed

[2016-06-16 14:47] nox opened #11760 "Remove unused XHR method"
[code]

[2016-06-16 14:47] highfive commented on #11760
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-16 18:33] Ms2ger commented on #8927
This is `GlobalRef`.

[2016-06-16 18:33] #8927 closed

[2016-06-16 18:36] Ms2ger commented on #6173
https://github.com/w3c/web-platform-tests/pull/2841

[2016-06-16 18:36] #6173 closed

[2016-06-16 18:41] Ms2ger opened #11762 "Blob::{new, new_inherited} should take String, not &str."
Right now these functions take `&str` and copy the string into the `typeString` field. It would be better to change the argument to be a `String`, so the callers can pass in an existing `String` if they have one. (`Blob::Constructor` does.)

* Code: `components/script/dom/blob.rs`.
* Test: if it compiles, that's enough

[2016-06-16 18:41] highfive commented on #11762
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-16 18:44] achals commented on #11762
I can work on this.

[2016-06-16 19:06] timvandermeij commented on #9566
Fixed by #10225?

[2016-06-16 19:21] jmr0 commented on #9751
@paulrouget @jdm We can probably close this and https://github.com/servo/servo/issues/9566, and possibly open a new related issue with the caveats and parts that weren't covered in https://github.com/servo/servo/pull/10225 (as per my PR comment) and include anything else you folks can think of. Happy to file that if you agree!

[2016-06-16 19:23] Ms2ger commented on #11762
Go for it!

[2016-06-16 19:36] Ms2ger opened #11763 "Implement indexed access on select elements"
This also includes the `length` attribute.

It is probably simpler not to involve the `select.options` collection for now, and just implement the getter directly.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-select-item>.
* Code: `components/script/dom/htmlselectelement.rs`, `components/script/dom/webidls/HTMLSelectElement.rs`.
* Test: `/html/semantics/forms/the-select-element/common-HTML

[2016-06-16 19:36] highfive commented on #11763
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-16 20:34] Coder206 commented on #11592
@Gozala Did you try re cloning the repository and try building and running again?

[2016-06-16 21:08] kevgs commented on #11763
I'll take this one.

[2016-06-16 21:31] ConnorGBrewster commented on #11763
@kevgs it's all yours!

[2016-06-16 22:05] jdm commented on #9751
That's reasonable. Please do!

[2016-06-16 22:05] #9751 closed

[2016-06-16 22:05] mrmiywj commented on #11760
I'll work on this.

[2016-06-16 22:05] jdm commented on #9566
Yep.

[2016-06-16 22:05] #9566 closed

[2016-06-16 22:06] jdm commented on #11760
We should leave this for someone else. You've got enough Servo experience to work on something less straightforward.

[2016-06-16 23:25] craftytrickster commented on #11712
If you want to return an Option on the below, it might be worth it to remove `get_browsing_context` completely, since the caller can easily just get an option by doing `context.find(pipeline_id)` by themselves.

If you want to keep the method, then I suggest returning a Result instead of an Option because it is something that really shouldn't be Optional, and if it is missing, then it is a clear e

[2016-06-16 23:35] ConnorGBrewster commented on #11712
I would think using `.find` would make more sense than keeping that function. Also I don't think a result type should be made when there aren't multiple errors that could occur. In this instance, either the `BrowsingContext` is found or it isn't so an `Option` would make more sense to me.

[2016-06-17 00:30] KiChjang commented on #11315
@perlun Are you still planning to work on this?

[2016-06-17 01:18] Coder206 commented on #11450
Please consult: #11765

[2016-06-17 02:06] Coder206 commented on #11599
@nox Please see this fix: #11765

It is a combination of your issue and @asajeffrey

[2016-06-17 03:16] KiChjang commented on #11450
@Coder206 Are you on #servo at `irc.mozilla.org`?

[2016-06-17 04:21] jmr0 opened #11767 "Implement Page Visibility API"
Spec: https://w3c.github.io/page-visibility/
MDN: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

The Page Visibility API provides a way to interact with document visibility changes. The more interesting parts require knowledge of whether the user agent is minimized, OS screen locked, etc. As per https://github.com/servo/servo/issues/9751, visibility changes to a document sho

[2016-06-17 05:30] achals commented on #11762
So I fixed up all the occurrences of this, but there's one that has me stumped:
[code]

I expected this to work since DOMString is a subclass of String; I tried coercing relativeContentType by using `as String` but that didn't seem to work either. Is there something obvious I'm missing here?

[2016-06-17 06:00] perlun commented on #11315
@KiChjang Unfortunately, my Windows development is a bit hampered by #9939; I could theoretically try to fix this issue but I have no way to build the code so... If anyone runs out of work and want to do it, feel free.

[2016-06-17 06:12] KiChjang commented on #11762
`DOMString` is not a subclass of `String`, it can be dereferenced to be a `String`. Try:
[code]
OR
[code]

[2016-06-17 06:22] splav commented on #11760
May I take this?

[2016-06-17 06:33] achals commented on #11762
@KiChjang Thanks, `.to_string()` worked instead.

[2016-06-17 07:11] Ms2ger commented on #11760
You may.

[2016-06-17 07:37] nickolay opened #11770 "mach interferes with CTRL+C running under debugger"
1. Run `./mach run -d --debug`
2. (Optional) run the process with `r<ENTER>`
3. Hit CTRL+C

Actual results:
* lldb exits
* "mach interrupted by signal or user action. Stopping."
* the console stops echoing input until `reset` (OS X 10.9.5, iTerm2)

Expected: break in lldb.

There was a similar bug fixed in Mozilla's mach: https://bugzilla.mozilla.org/show_bug.cgi?id=996823

I think a similar fix n

[2016-06-17 09:18] nox commented on #11599
Please do 2 separate PRs.

[2016-06-17 09:24] jdm commented on #11770
I encounter this problem all the time on OS X, I've just never done anything about it.

[2016-06-17 09:26] highfive commented on #11770
cc @wafflespeanut

[2016-06-17 09:53] jdm opened #11772 "Intermittent timeout in /css-text-3_dev/html/css3-text-line-break-opclns-006.htm"
This shows a layout worker is still running after shutdown has started, and tries to communicate with the font cache thread which has apparently been shut down. We should presumably leave the font thread alive until all layout threads are shutdown.

[code]

[2016-06-17 11:19] mrmiywj commented on #11760
@jdm
Sure!
I'm glad to hear that! Could you offer any suggestion for large project I can do for Servo?

[2016-06-17 11:32] KiChjang commented on #11444
@bobthekingofegypt Could we hear some feedback on how this is going so far? Any roadblocks that you've came across?

[2016-06-17 11:38] KiChjang commented on #11760
@mrmiywj Have you looked at the B-interesting-project tags? #5236 is also a good way to get more involved with the inner workings of Servo.

[2016-06-17 11:47] Coder206 commented on #11450
@KiChjang I am a little confused on getting my account setup with irc

[2016-06-17 11:49] Coder206 commented on #11599
@nox Ok, I had trouble getting GitHub Desktop to do that, it just wanted to add to the last PR...

[2016-06-17 12:24] KiChjang commented on #11450
AFAIK you do not need an account using IRC. Find us in #servo and we'll help you troubleshoot your problems.

[2016-06-17 12:25] nox commented on #11599
Just make a new branch with only the commit for that fix and make a PR out of it.

[2016-06-17 12:37] jdm opened #11773 "Improve network monitor integration"
https://github.com/servo/servo/pull/11593 made the network monitor appear when using the [Firefox developer tools](https://github.com/servo/servo/wiki/Devtools) with Servo. There are some known problems with the output that it shows, however:
* we do not report requests that are redirected (like visiting `https://reddit.com` and getting redirected to `https://www.reddit.com`)
* the response panel

[2016-06-17 12:37] highfive commented on #11773
cc @fitzgen

[2016-06-17 12:38] julienw commented on #10966
From http://w3c-test.org/quirks-mode/blocks-ignore-line-height.html I get this error with latest master:
[code]

Their code is
[code]
where "quirks" is an iframe.

So are you sure the specific bug here is fixed ?

[2016-06-17 12:40] mrmiywj commented on #11773
Thanks!
It looks attractive to me.

[2016-06-17 12:41] jdm opened #11774 "Integrate developer tools with fetch algorithm"
The code in `components/net/fetch/methods.rs` does not report any information about the requests and responses to the developer tools. Since XMLHttpRequest now relies on the fetch code instead of `components/net/http_loader.rs`, this means that they no longer appear in the developer tools output. The code in `methods.rs` should accept an optional sender to communicate with the devtools server like

[2016-06-17 12:41] highfive commented on #11774
cc @fitzgen

[2016-06-17 12:45] Ms2ger commented on #10966
Yes. This issue was purely about refactoring. There's another bug for your issue, but I can't find it right now.

[2016-06-17 12:45] Coder206 commented on #11599
@nox Ok perfect, will do momentarily

[2016-06-17 12:46] Coder206 commented on #11450
@KiChjang Thanks!

[2016-06-17 12:46] jdm commented on #10966
That's the issue where cross-origin iframes return null for contentWindow/contentDocument, but I'm having trouble finding the issue tracking that.

[2016-06-17 12:48] asajeffrey opened #11775 "Use async io"
We should look at what is involved with using the futures-based asynchronous I/O mechanisms.

cc: @aturon @alexcrichton

[2016-06-17 12:48] Coder206 commented on #11599
@nox I just re cloned the repo as there were many errors and two PRs to mess with, I am just compiling to make sure it is running error free on my end, then I am going to PR the fix for your issue.

[2016-06-17 12:52] asajeffrey opened #11776 "Include warnings in crash reports"
We should buffer up `warn!`, and send an error report on `error!` as well as panic. (We need to make sure that privacy-sensitive data doesn't end up in crash reports, possibly using types/traits to track privacy.)

cc @paulrouget

[2016-06-17 12:53] emilio commented on #9939
@perlun: it comes from servo/angle, can you build it standalone?

[2016-06-17 12:55] asajeffrey opened #11777 "Implement contextual identity?"
Firefox is getting contextual identity: https://wiki.mozilla.org/Security/Contextual_Identity_Project/Containers Implementing something like this in Servo should be straightforward, once we've got private browsing in place.

[2016-06-17 12:56] jdm commented on #11777
The difficulty with the "one channel per context" scheme that #11544 is implementing is that we can't select over a dynamic set of channels.

[2016-06-17 12:59] KiChjang commented on #11450
@Coder206 You can use https://kiwiirc.com/client instead of downloading an IRC client. Be sure to enter `irc.mozilla.org` as the server (the default is `irc.freenode.net`), then enter `/join #servo` on the chatbox at the bottom after you have successfully logged in.

[2016-06-17 13:01] asajeffrey commented on #11777
Isn't the idea that each producer/consumer only uses one of the channels? (e.g. a Work pipeline only uses the Work channel, which talks to the Work cookie store.)

[2016-06-17 13:04] jdm commented on #11775
https://github.com/hyperium/hyper/pull/778

[2016-06-17 13:05] jdm commented on #11777
Sure; that system works as long as there is a static set of contexts defined, rather than a dynamic set.

[2016-06-17 13:23] Coder206 commented on #11450
@KiChjang I see there are some review request for PR, is the irc a place to share bugs, ask for reviews and talk about the future of Servo?

[2016-06-17 13:47] asajeffrey commented on #11777
Hmm, isn't the point of the capability-based version of private browsing that a script thread at security level *L* only needs access to one channel, whose other end is the resource thread at security level *L*? There shouldn't be any threads which need both the high-security and low-security channels. Presumably, I am missing something!

[2016-06-17 13:49] asajeffrey commented on #11777
cc @avadacatavra

[2016-06-17 14:00] #11770 closed

[2016-06-17 14:01] jdm commented on #11777
@asajeffrey In the current model, context is determined by channel and there's a single thread that selects over the different channels and responds appropriately. An alternate model is that we have a separate thread per context (which would enable dynamic numbers of different contexts), but that seems like an inefficient use of resources to me.

[2016-06-17 14:22] dholbert opened #11779 "Implement CSS `radial-gradient`"
From code inspection, [it looks like servo supports CSS `linear-gradient`, but not CSS `radial-gradient`](https://github.com/servo/servo/blob/e23962c4045a6ff20126996fa8fd7aa26c22def8/components/style/values.rs#L1241). Filing this issue on adding support for it.

(See also #10263 on `repeating-radial-gradient`)

Several testcases available at https://developer.mozilla.org/en-US/docs/Web/CSS/radial-

[2016-06-17 15:22] asajeffrey commented on #11775
One part of this is hyper, the Futures API may touch a lot more code, pretty much anything with an event loop.

[2016-06-17 15:42] asajeffrey commented on #11777
@jdm: we would be using one thread per context, but I think this a reasonable penalty since a) there's not very many of them (I think the default is something like 6) and b) it's going to be a lot easier to security audit. For example, we could make the private browsing cookie jar in-memory, and then audit the code for "doesn't touch the file system".

[2016-06-17 16:28] #11762 closed

[2016-06-17 17:10] bobthekingofegypt commented on #11444
Hello @KiChjang

Not much to report yet, I had hoped to get some good progress when I was off at the end of last week but life got in the way.  Hopefully I'll have some time this weekend.

So far all I have really done is play around with whats was there and some ideas for how I want to lay things out.  Took me a bit of time to work out why I couldn't use the atom macro for minlength but I eventua

[2016-06-17 22:40] Coder206 commented on #11599
@nox I am very sorry for saying I was going to remake a PR "momentarily" and now here we are 10 hours later. There were a few unexpected events in my day. It is my goal to have it done for this weekend, hopefully tonight.

[2016-06-18 00:25] #11388 closed

[2016-06-18 04:42] notriddle commented on #11704
This is the same bug as #10726, only for inline-block elements instead of canvases (it also applies to images).

[2016-06-18 04:47] notriddle commented on #10726
Firefox matches Servo's current behavior when a `<!DOCTYPE html>` declaration is added.

That's why I couldn't find anything in the base CSS spec to justify the behavior; it's only applicable in Quirks Mode! That's also why I found tests that seemed to rely on the behavior that this issue reports as a bug; because the tests are running with DOCTYPEs!

:headdesk:

[2016-06-18 04:55] notriddle commented on #10726
[code]

![screenshot from 2016-06-17 21-54-15](https://cloud.githubusercontent.com/assets/1593513/16169080/1760d466-34d6-11e6-9bd0-981d294a1e1c.png)

![screenshot from 2016-06-17 21-55-03](https://cloud.githubusercontent.com/assets/1593513/16169081/2ae8fc8e-34d6-11e6-86d7-8ec2a7d72869.png)

[2016-06-18 05:09] notriddle commented on #11647
[Not able to reproduce on Linux.](https://drive.google.com/open?id=0B1b9bjDyA5tmT1RxNEd2NHV6U2M)

[2016-06-18 05:11] ConnorGBrewster commented on #11647
@notriddle hmm looks like it is still partly there in that video, it just corrects itself a bit faster. Are you running in release?

[2016-06-18 05:19] notriddle commented on #11777
I thought you could select over a dynamic set of channels. You have to rebuild the select structure if you want to change it, and the underlying API isn't safe, but [it can be done](https://github.com/AelitaBot/aelita/blob/master/src/main.rs#L141).

[2016-06-18 18:54] Coder206 commented on #11315
What is the Servo icon?

[2016-06-18 18:57] jdm commented on #11315
https://github.com/servo/servo/blob/master/resources/servo.png

[2016-06-18 18:59] Coder206 commented on #11315
@jdm Nice!!

[2016-06-18 19:31] notriddle commented on #11647
If you watch the video, the title bar is reacting the same way as the window is; slower, if anything.

[2016-06-18 23:56] Coder206 commented on #11315
@metajack I would like to work on this one, I am running Windows 10. I am not encountering the errors that @perlun has mentioned but I cannot see the icon for Servo.

[2016-06-18 23:57] Coder206 commented on #11315
@metajack Is the file below the one that is not working?
File: https://github.com/servo/servo/blob/b5115fc895bb40bce52d39de65a07160935b15fd/ports/glutin/window.rs#L135

[2016-06-19 00:00] Coder206 commented on #11599
@nox I just made the change you requested and I am getting errors on the same file, where you expecting some errors?

[2016-06-19 00:22] fabricedesre opened #11790 "Crash when loading https://www.washingtonpost.com/"
@pcwalton : looks like something gets out of sync between the list and the offsets.

[code]

[2016-06-19 01:06] craftytrickster commented on #11712
I made some changes that might address this issue, let me know if anything is missing please.

[2016-06-19 11:13] kevgs commented on #11763
I have some troubles. I guess I need to add one field to HTMLSelectElement struct. But I don't understand what type it should have.

[2016-06-19 13:11] Coder206 commented on #11790
I ran the code and initially I ran well, then afterwards the same issue arrived. This all happened after rendering the page flawlessly to what I could see. I did however encounter a style sheet error. As I tried to paste my output of MinGW64, it crashed... If I recall correctly, the errors that @fabricedesre pasted only showed up after closing Servo using the X on Windows 10.

[2016-06-19 13:13] Coder206 commented on #11790
This is the error I got when I tried to run again:

$ ./mach build -d https://www.washingtonpost.com/
error: Invalid arguments.

Usage:
    cargo build [options]
Build completed in 0:00:00

[2016-06-19 13:26] Coder206 commented on #11790
I noticed when running the release, it crashes immediately. The dev mode takes more time and shows more errors than above:

./mach run -d https://washingtonpost.com
load_immediately: timer started
load_immediately: 384ms
head.min.js: timer started
head.min.js: 60ms
global: timer started
global: 106ms
headjs: timer started
headjs: 40ms
head.js: timer started
head.js: 35ms
exec-ads-tests: timer star

[2016-06-19 19:15] perlun commented on #11315
@Coder206 - I'm fine with you taking over this if you can manage to get it done, not too much servo-time for me at the moment. 😢

So the problem is that the icon is not shown on Windows; the code for doing it is simply not implemented. The line you refer to _seems_ to be related to it, but I suspect it has to be added to the `WindowBuilder` implementation; I would guess that this is the class that

[2016-06-19 19:35] Coder206 commented on #11315
@perlun Thanks for the information! :) Means a lot to have something to start off with!

[2016-06-19 20:02] Coder206 commented on #11315
Where should the code go for this? In the main.rs?

[2016-06-19 20:21] farodin91 commented on #10102
@glennw I haven't an idea for a start point. Any Tipp?

[2016-06-20 08:14] Ms2ger commented on #11763
There should be no need to add any fields. You just need to uncomment the two lines in the WebIDL file and implement the Rust methods.

[2016-06-20 10:43] Coder206 commented on #11315
@perlun Did you manage to get the rust-windows project working on your system? Link: https://github.com/klutzy/rust-windows/tree/master/examples

[2016-06-20 11:02] nox commented on #10050
Didn't that get fixed?

[2016-06-20 11:56] #11653 closed

[2016-06-20 16:32] metajack commented on #11775
Is there anything that would prevent us from returning things which implement the Future trait in JS API implementations? Ie, when those get promises?

[2016-06-20 16:49] asajeffrey commented on #11775
@metajack I don't think so, but the devil will be in the details.

[2016-06-20 16:50] paulrouget commented on #10050
No. And there's no reason for it to be fixed afaik.

Maybe WR2 will help.

[2016-06-20 17:08] jdm opened #11802 "Include thread name in panic backtrace capture"
Our thread names are often meaningful information. That being said, we also sometimes include URLs in them, so that could be more revealing than users would prefer.
cc @asajeffrey

[2016-06-20 20:36] mbrubeck commented on #11320
There's no longer any natural way to format a list of imports from the same module, where just one of the imports needs to wrap to the next line:

[code]

Could we either revert this change, or change the alphabetization rule to ignore braces?

[2016-06-20 21:03] jdm commented on #11320
Ignoring braces will require reformatting the whole tree. Reverting this change will be less work.

[2016-06-20 21:04] Coder206 commented on #11315
@paulrouget Is the fix due in 10 days?

[2016-06-20 21:11] SimonSapin opened #11806 "Add a `./mach build-stable` sub-command"
For Stylo (and probably other things in the future) we want to be able to build some crates on stable Rust. To avoid regressing this, we need to test it on CI. mach could bootstrap a stable Rust compiler the same way it does nightly.

While I work on removing or making optional the use of unstable features, I’d like some help with the bootstrap. That is:

* Add an empty crate in `ports/stable-rust

[2016-06-20 21:11] highfive commented on #11806
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-20 21:11] highfive commented on #11806
cc @wafflespeanut

[2016-06-20 21:11] highfive commented on #11806
cc @wafflespeanut

[2016-06-20 21:22] metajack commented on #11806
Regarding which builder to use, we'll need one builder for each platform to run this. Those changes can be handled in the followup that adds build-stable to our buildbot setup in servo/saltfs.

[2016-06-20 21:48] SimonSapin commented on #11806
Given that all of the relevant code is already built and tested on multiple platforms with a nightly compiler, I only want to check that it builds with a stable compiler on one platform to make sure we don’t accidentally introduce more usage of unstable features. I don’t think it’s necessary to run `build-stable` on more than one platform.

[2016-06-20 22:14] emilio opened #11808 "Animations/transitions of transform: rotate don't work"
They don't work on current trunk as far as I know, unlike translate and scale.

Minimal test case:

[code]

Found while writing a minimal demo for animations. Haven't diagnosed it yet, but I'm filling this so we don't forget about it.

[2016-06-20 23:45] bgrins commented on #9147
I can `./mach build-cef` with success but I don't see any libcef.so or libembedding-*.so files in target (at least on OSX).   Also curious if CEF is working, and/or if docs need updating.

[2016-06-20 23:57] Coder206 commented on #11315
Thanks to WindowsBunnyTheAlmightyFloof and durkas, I was able to the example working in Servo. I will do my best to get the bug fixed for developer preview launch

[2016-06-21 00:00] zmike commented on #9147
I posted another ticket about this being broken 3-4 months ago. I haven't had time to test since, but I haven't had a functioning cef build since last year (pre-WR). I suspect that the WR merge is what broke it.

I'm unable to examine this further at the moment, and I'm not sure when I'll be able to, but I'll try to update the readme doc since it's currently unrelated to the process of running cef

[2016-06-21 00:21] g-k commented on #9673
I'm getting a 404 from the test page: http://people.mozilla.org/~nhirata/html_tp/wordbreak.html

But it's in the web archive at: https://web.archive.org/web/20150905231452/http://people.mozilla.org/~nhirata/html_tp/wordbreak.html

I started on this branch: https://github.com/servo/servo/compare/master...g-k:word-break-keep-all?expand=1 but still need to finish the iterator.

[2016-06-21 00:31] bgrins commented on #9147
@zmike Thanks for the info.  Any ideas what would need to be done to get it working?  Is it a process of doing the steps at https://github.com/zmike/cef-rebase#cef-binding-generator-for-servo?

[2016-06-21 00:40] zmike commented on #9147
No, something broke the gl render output. It's potentially a trivial fix, but it's in a nontrivial area.

[2016-06-21 01:57] #9371 closed

[2016-06-21 03:32] #11450 closed

[2016-06-21 07:59] shinglyu opened #11810 "Show buildbot result on Treeherder"
By submitting buildbot result to Treeherder, we can see the status of the tests and infrastructure at a glance, and it will be easier to spot intermittent failures.

But I don't know how long we'll be sticking to the buildbot setup, so probably not worth doing right now.

[2016-06-21 10:17] Coder206 commented on #11315
@perlun You were right, Windows wanted an ico! Below is a simple project (rust-windows) that shows it is possible to make an icon visible on Windows. Thanks again @perlun for the link!
@metajack I think it would make a better contrast if the logo was more lighter in color (avoid the color of the system taskbar).

![servo](https://cloud.githubusercontent.com/assets/7758155/16225977/5f7da8e8-3777-11

[2016-06-21 11:11] Manishearth opened #11811 "Use get_mut instead of get-remove-set in XHR send()"
In https://github.com/servo/servo/blob/b9b289c4be50402facddd38c2ce2db2f1a05519c/components/script/dom/xmlhttprequest.rs#L637-654, we `.get()` a header, mutate it, `.remove()` it, and then `.set()` the new value. This is due to https://github.com/hyperium/hyper/issues/821, which is now fixed.

The code should be changed to mutate in place, by calling `.get_mut()` and mutating the value directly. Th

[2016-06-21 11:11] highfive commented on #11811
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-21 11:26] Manishearth commented on #11811
This bug is blocked on hyper getting a version bump.

[2016-06-21 11:36] paulrouget commented on #11500
@nox  #11544 has landed.

[2016-06-21 12:04] jdm commented on #11315
That should be avoided by the updated version from https://github.com/servo/servo/pull/11473#issuecomment-223118097.

[2016-06-21 13:11] SimonSapin opened #11813 "Update to euclid 0.7"
We made a semver-breaking version bump of https://crates.io/crates/euclid for a change (requires `T: Clone` of serde impls) that is technically breaking but probably doesn’t affect any users. Therefore, updating likely only involves updating `Cargo.toml` files. I’ve made the changes in this repository at https://github.com/servo/servo/compare/euclidup, but to satisfy `./mach test-tidy` the depende

[2016-06-21 13:11] highfive commented on #11813
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-21 14:06] jdm commented on #4282
[code]
I'm going to start prototyping codegen integration.

[2016-06-21 14:10] SimonSapin commented on #11806
Edited the the original message to mention separate `CARGO_TARGET_DIR`, per Alex’s advice.

[2016-06-21 14:30] paulrouget commented on #9921
This is something we will need if we ever want to release a developer review of servo+bhtml.
Any update on this?

[2016-06-21 14:31] paulrouget commented on #9831
This is something we will need if we ever want to release a developer review of servo+bhtml.
Any update on this?

[2016-06-21 14:32] jdm commented on #9475
Fixed by #9890.

[2016-06-21 14:32] #9475 closed

[2016-06-21 14:34] paulrouget commented on #4144
If we ever want to release a developer review of servo+bhtml, we need to do something about this issue.
Getting IME and composition events to work will require a lot of time and is not something we can get done in time.

But there's probably a way to improve the situation, like using `ReceivedCharacter` with `KeyboardInput` to at least try to get the right mono-key characters.

P3 -> P1

[2016-06-21 14:36] paulrouget commented on #9918
P3 -> P1. We will need to that if we want to release a developer preview of Servo + bhtml.

[2016-06-21 14:56] rhelmer commented on #9831
@paulrouget I haven't done any additional work here, although I did chat recently with the owner of the Mozilla updater client (Rob Strong) and he would be happy if it was used by Servo, even better if it was re-written in Rust eventually (currently it is C++). This could potentially make its way back into Firefox/Gecko.

Per https://github.com/servo/servo/issues/9831#issuecomment-190953958 the on

[2016-06-21 15:21] metajack commented on #9831
@paulrouget Till and I discussed this a while back and decided the June tech demo would not have auto-updates. Are you referring to some future thing? I thought P1 was for things for the tech demo.

[2016-06-21 15:21] metajack commented on #9831
cc @tschneidereit

[2016-06-21 15:30] jdm commented on #9831
@rhelmer where is the relevant Mozilla updater code?

[2016-06-21 15:41] SimonSapin commented on #7038
There are still a couple instances of `#[ignore_heap_size_of = "#7038"]` in `components/style/properties/properties.mako.rs`. @jdm, can these be fixed now?

[2016-06-21 15:41] Croydon commented on #9831
Servo would not benefit directly from it, but a standalone updater would allow easier adoption for other projects and allow to share code between projects (which could be a benefit for Servo).

For instance, LibreOffice wants to reuse the Mozilla update code: https://bugs.documentfoundation.org/show_bug.cgi?id=74934 (see comment 8 and later and on the sites mentioned in these comments).

[2016-06-21 15:42] Coder206 commented on #11813
@SimonSapin I don't see the euclid 0.7 dependency in the Cargo.toml file at https://github.com/servo/app_units

Does it need to be added?

[2016-06-21 15:42] jdm commented on #7038
I would expect so.

[2016-06-21 15:44] jdm commented on #7038
It would be worth filing issues for any in particular that cannot be removed.

[2016-06-21 15:45] Coder206 commented on #11315
@jdm Has it been updated yet?

[2016-06-21 15:46] SimonSapin opened #11815 "Build geckolib with a stable Rust compiler"
Stylo wants to eventually switch to stable Rust. This is a meta-issue to track tasks needed.

* [x] https://github.com/servo/servo/issues/11806
  * [x] https://github.com/servo/servo/pull/11945
* [x] https://github.com/servo/servo/pull/11816
* [x] <s>https://github.com/rust-lang/rust/issues/24263</s> https://github.com/servo/servo/pull/11884
* [x] https://github.com/servo/servo/pull/11827
* [x] <s

[2016-06-21 15:55] jdm commented on #11813
https://github.com/servo/app_units/commit/e0252280dbd9b6c3c1053a299d0e6f126d6e39b0 removed it.

[2016-06-21 16:30] SimonSapin commented on #11815
@bholley @heycam @emilio With the `style` crate almost there, the nest step is `ports/geckolib/gecko_bindings` which uses:

[code]

then `ports/geckolib`:

[code]

[2016-06-21 16:44] jdm commented on #11611
@shuky19 Have you made any progress? Do you have any questions?

[2016-06-21 16:45] jdm commented on #11133
@saneyuki Are you still working on this? It might be nice to let someone else tackle it, otherwise.

[2016-06-21 16:49] jdm commented on #10104
@shinglyu Is this something you're still working on?

[2016-06-21 16:49] metajack commented on #11133
Is the idea here to get rid of our dual implementation of the traversal and just use a work queue with a single worker instead?

cc @pcwalton @avadacatavra

[2016-06-21 18:33] rhelmer commented on #9831
@jdm all of the client-side updater code is in https://dxr.mozilla.org/mozilla-central/source/toolkit/mozapps/update with code for the standalone C++ `updater` binary in the `./updater` directory.

The easiest way to build is with a mozilla-central/gecko-dev clone and:
`./mach build toolkit/mozapps/update/updater/`

This will build `${objdir}/dist/bin/updater{,.app,.exe}`

[2016-06-21 18:51] zmike commented on #8883
Broken again:

./libcef.so: undefined reference to `MemProfiler::SampleTenured(void*, unsigned int)'
./libcef.so: undefined reference to `JS::CallbackTracer::contextName() const'
./libcef.so: undefined reference to `JS::CompartmentCreationOptions::invisibleToDebugger() const'
./libcef.so: undefined reference to `JS::StringInfo::sizeOfLiveGCThings() const'
./libcef.so: undefined reference to `JSPro

[2016-06-21 19:11] Coder206 commented on #11813
@SimonSapin Are there any tests required before submitting code?

[2016-06-21 19:23] ConnorGBrewster commented on #11647
Also I have noticed that the window does not re-render during resize until I either move my mouse or let go of my mouse.

[2016-06-21 19:24] jdm commented on #11813
If it builds, that's good enough.

[2016-06-21 19:44] Coder206 commented on #11813
@jdm Cool.

[2016-06-21 20:45] Coder206 commented on #11599
@nox You mean the sandbox_allowance field (https://github.com/servo/servo/blob/master/components/script/dom/htmliframeelement.rs#L70)

[2016-06-21 20:46] Coder206 commented on #11315
Can we assign this one to me?

[2016-06-21 20:52] perlun commented on #11315
@Coder206 - it's unfortunately not possible to assign an issue to someone who's not registered as a contributor to the project at GitHub (i.e. people like you or me 😄). But consider it "implicitly assigned" to you for now.

(@jdm/someone - maybe it would be an idea to set up a GitHub team "without permissions" just to be able to handle stuff like that? I.e. people who are contributing but who don'

[2016-06-21 20:53] Coder206 commented on #11315
@perlun Sorry I am mean the tag "C-Assigned"

[2016-06-21 20:54] Coder206 commented on #11315
@perlun I like the idea of a "without permissions" setup.

[2016-06-21 20:54] Coder206 commented on #11315
@larsbergstrom Thanks :)

[2016-06-21 21:07] splav commented on #11662
I had some free time today and made an attempt find the bug. (I've committed only one trivial E-easy change for now). After two hours of investigation I've some minor results.
I would like to continue if it's not very urgent. The thing is the tiles have some margin for the blur being seamless and a) this margin should be filled by gradient and it's not (for seamless blur) b) the tile should be bli

[2016-06-21 21:09] jdm commented on #11315
@perlun We've discussed that idea in https://github.com/servo/highfive/issues/30 before.

[2016-06-21 21:10] jdm commented on #11599
Yes.

[2016-06-21 21:37] jdm commented on #11662
Thanks for looking into this! You're welcome to continue doing so; everyone else has their own things that they're working on. Perhaps @pcwalton has some ideas about the margin issue.

[2016-06-21 21:39] jdm commented on #11662
Note, the original screenshot is taken without webrender enabled. Running Servo with `-w` shows this:
<img width="801" alt="screen shot 2016-06-21 at 5 38 50 pm" src="https://cloud.githubusercontent.com/assets/27658/16247297/179d5978-37d7-11e6-98d6-c4ae9c7b3552.png">

[2016-06-21 21:44] avadacatavra opened #11818 "Sequential layout bug with (possibly) RTL direction"
When we use the sequential layout traversal, there's an error with overconstrained_block.html and div_align.html.

Discovered while testing #11713

[2016-06-21 22:12] SimonSapin commented on #11815
https://github.com/servo/servo/pull/11816 now brings the above down to `const_fn` and `as_unsafe_cell`. (In addition to `discriminant_value` in the `style` crate.)

[2016-06-21 22:26] highfive commented on #11811
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-21 22:27] Manishearth commented on #11811
Hyper has been published. Be sure to bump the hyper version using `./mach update-cargo -p hyper`

[2016-06-21 22:51] pcwalton commented on #11133
I'm not sure this is still valid.

[2016-06-21 22:52] DarinM223 commented on #11811
Can I pick this up? Thanks!

[2016-06-21 23:37] jdm commented on #4282
https://github.com/servo/servo/compare/master...jdm:promise-binding is what I've got so far. The rooting story for the JS promise values is not great yet, but it's probably no worse than how we deal with EventTarget and other callbacks?

[2016-06-22 02:40] saneyuki commented on #11133
@jdm sorry, I'm not working on this. I'll unassigned me.

[2016-06-22 03:16] KiChjang commented on #11811
It's yours!

[2016-06-22 03:50] paulrouget commented on #9831
Right. P3 it is.

Which happened. Now the priority is the dev preview release. I'll send an email to dev-servo.

[2016-06-22 06:54] shinglyu commented on #10104
Yes, sorry for the delay

[2016-06-22 07:47] shinglyu commented on #10104
I already have a rough picture of how to do it, but @Shiroy 's patch does not apply on the latest master, so I have to do it manually.

[2016-06-22 10:14] Ms2ger opened #11820 "Stop using util::str::char_is_whitespace for natural language text"
There's code in `components/gfx/text/text_run.rs`, `components/script/layout_wrapper.rs`, and `components/layout/fragment.rs` that uses `util::str::char_is_whitespace`, which is intended only for parsing HTML/CSS code, not actual natural language text.

[2016-06-22 12:46] nox opened #11821 "Render HN top bar correctly"
It is slightly too tall in Servo.

Reduced test-case:

[code]

[2016-06-22 13:26] metajack commented on #11821
TIL HN uses tables for layout.

This is probably going to be a bug in the assign_heights layout pass, probably in the tablecellflow code. This is a reasonably good layout bug for someone already familiar with our contribution process but wanting to learn that area.

[2016-06-22 13:58] SimonSapin commented on #11813
Since the euclid dependency was removed from app_units, there is nothing to do in that repository for this issue.

[2016-06-22 14:13] SimonSapin commented on #11813
Or rather, the only thing to do is update `app_units` in Servo to pick up that removal.

[2016-06-22 14:21] nox commented on #8883
@zmike On which commit was that?

[2016-06-22 14:40] nox commented on #8883
@emilio Just realised we never updated the Linux 64 bindings once I removed the inline symbols from bindgen. ^^'

[2016-06-22 14:43] #6462 closed

[2016-06-22 14:58] emilio commented on #8883
Ohh true, do you want me to do that?

[2016-06-22 14:59] nox commented on #8883
@emilio So @metajack is trying to regenerate them himself, so that would increase bus factor.

[2016-06-22 14:59] klibby opened #11823 "DXR Clang build fails on /usr/bin/ld: cannot find -load"
Attempting to build servo on Ubuntu 14.04.3 LTS, to get a searchable index under DXR (dxr.mozilla.org), and it's bombing out (full log is available at https://jenkins-dxr.mozilla.org/job/servo/7/console):

14:35:46 /bin/bash ./libtool  --tag=CC   --mode=link clang -Xclang -load -Xclang /builds/dxr-build-env/dxr/dxr/plugins/clang/libclang-index-plugin.so -Xclang -add-plugin -Xclang dxr-index -Xclan

[2016-06-22 15:02] jdm commented on #11823
@nrc does this mean anything to you?

[2016-06-22 15:03] jdm commented on #11823
This doesn't look like something that Servo controls, however.

[2016-06-22 15:44] avadacatavra commented on #11818
It seems like there are two main issues:

1. In the sequential code, RTL isn't set properly
  * boxes 2 and 4 should both be RTL, but only 2 is
  * if you set all 4 blocks to be RTL, only 1 and 2 are
2. Neither parallel or sequential match the Firefox reference
  * But parallel mode with a single thread does (y1 screenshot)

[Screenshots](https://www.dropbox.com/sh/j9g80z6q2exjr8s/AABbuA6YlK5ytS0W

[2016-06-22 18:58] jdm opened #11825 "Intermittent failure in /_mozilla/mozilla/mozbrowser/iframe_visibility.html"
[code]

[2016-06-22 18:59] nrc commented on #11823
Looks like it's on the Clang side rather than the Rust side. I never did get DXR to index Servo properly, although I didn't see this error (I managed to index the codebase, just couldn't get DXR to make sense of the index). That was quite a while ago though.

[2016-06-22 20:49] SimonSapin opened #11826 "Remove 'c"

[2016-06-22 20:49] #11826 closed

[2016-06-23 06:07] rzambre opened #11828 "Failure in building release version with debug symbols on"
Platform: Mac OSX 10.11

After commenting out [lines 30 and 31](https://github.com/servo/servo/blob/master/components/servo/Cargo.toml#L30-31) in the Cargo.toml under components/servo, `./mach build -r` compiles all the way until layout_thread but results in this failure:

https://pastebin.mozilla.org/8879047

The release version with the debug symbols on was building successfully yesterday (June

[2016-06-23 10:17] GuillaumeGomez opened #11829 "Script compilation failed with no reason"
![screenshot from 2016-06-23 12-16-13](https://cloud.githubusercontent.com/assets/3050060/16299793/609294fc-393c-11e6-94d1-2c3d5c4cb31c.png)

cc @nox

[2016-06-23 10:19] nox commented on #11829
@alexcrichton Any idea what could trigger that?

[2016-06-23 10:37] shinglyu commented on #10104
Status: I reused part of @Shiroy 's patch, and followed @SimonSapin 's suggestion to create a marker trait for `NoViewportPercentage`.

https://github.com/shinglyu/servo/commits/viewport-percent-recalc

I'll finish implementing the actual `HasViewportPercentage` trait for properties that may use viewport length, then I'll actually set them and use them in `recalc_style_at`

[2016-06-23 12:47] cynicaldevil commented on #11133
Can I take up this issue? I have coded a bit in Rust, but I haven't touched the multithreading part of this language yet. I can start work on this after I read the topic and get familiar with it (probably within 2-3 days).

[2016-06-23 12:47] splav commented on #11662
I think found the error in the create_draw_target_for_blur_if_necessary function in https://github.com/servo/servo/blob/master/components/gfx/paint_context.rs#L1571
[code]
The thing is page_rect and the box_bounds are in different coordinate systems. In particular case the box_bounds are Rect(1040px×280px at (-120px,-120px))
and page_rects are Rect(512×280 at (0,0)) and Rect(512×280 at (512,0)) fo

[2016-06-23 12:50] GuillaumeGomez commented on #11829
![screenshot from 2016-06-23 14-49-41](https://cloud.githubusercontent.com/assets/3050060/16303589/bb3b1df6-3951-11e6-9874-9a27d4b7a1f7.png)

Another weird error.

[2016-06-23 13:43] GuillaumeGomez commented on #11820
Working on it.

[2016-06-23 14:18] Ms2ger opened #11836 "Parallel handling of dom nodes in style/layout is a ball of unsafe spaghetti"
In particular, `borrow_data_unchecked` and friends scare me.

[2016-06-23 14:23] SimonSapin commented on #11836
@pcwalton, what makes `borrow_data_unchecked` and our usage of it not unsound?

[2016-06-23 14:44] jdm commented on #11828
When you say yesterday, were you required to download a new rustc version since then? This is an assertion in LLVM, which makes it a problem with rustc.

[2016-06-23 14:44] jdm commented on #11828
Oh, this could simply be an existing rustc bug that was exposed by #11804 I suppose.

[2016-06-23 14:47] jdm commented on #11133
@cynicaldevil I would say yes, but the past few comments suggest that it's not clear what we're trying to accomplish here yet.

[2016-06-23 14:47] metajack commented on #11836
There are several cases:

1. https://github.com/servo/servo/blob/0fb5d634a007f3d0424f95569ac3f83d500d054c/components/style/parallel.rs#L126

In this case, we are decrementing the children left count in the parent during a bottom up traversal. Because we are working on a child, the children left is at least one, therefor a job mutating the parent could not have been enqueued. The child that decreas

[2016-06-23 14:53] jdm commented on #11662
Do you know anything about the previous question, @mrobinson?

[2016-06-23 15:45] asajeffrey opened #11837 "Put the current pipeline id in TLS"
Once #11776 is fixed, we should include the current pipeline id in thread-local storage, so it can be included in log messages.

[2016-06-23 15:48] asajeffrey opened #11838 "Use logging mechanism for panic reporting"
Once #11776 and #11837 are fixed, we can make `panic!` produce an `error!`, then remove all our special panic code. This way, all panics are reported, not just ones from threads created with `spawn_named_with_send_on_panic`.

[2016-06-23 16:00] asajeffrey commented on #11837
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=23+Jun+2016&e=23+Jun+2016#c461054

TL;DR: "current pipeline" is None for non-content-process threads, and for script threads contains the id of the topmost pipeline that thread is responsible for.

[2016-06-23 16:06] asajeffrey commented on #11678
A conversation with @brson in London: error-chain makes most sense when servo is being used as a library, e.g. in embedding scenarios. We can push this off for the moment, but we may want to come back later.

[2016-06-23 16:06] #11678 closed

[2016-06-23 16:14] GuillaumeGomez commented on #11820
The `char_is_whitespace` function checks if the char isn't one of the following:

* `\n`
* `' '`
* `\r`
* `\t`
* `\f`

As discussed on IRC:

In conclusion, I prefer to let this issue to someone which knows better.

[2016-06-23 16:23] asajeffrey commented on #11838
This will also fix #11802 if we include thread names in logging.

[2016-06-23 16:28] cbrewster opened #11839 "Crash while moving mouse over loading iframe"
[code]

I am having trouble reproducing this, the easiest way is to get the latest version of b.html and run:

[code]

While it is loading up, move your cursor around on the window. You may have to try a few times to get the panic to happen.

[2016-06-23 16:49] #11686 closed

[2016-06-23 16:56] cbrewster opened #11840 "Code tags split by a new line cry when moving mouse"
![teardrops](https://cloud.githubusercontent.com/assets/9086315/16312253/1a18ba98-3931-11e6-9bf5-5936afa6c463.gif)
I have seen this on a few other sites with similar styling for inline code.

[2016-06-23 17:01] metajack commented on #11840
Tears of blood?

[2016-06-23 17:07] ConnorGBrewster commented on #11840
@metajack I guess so!

[2016-06-23 17:13] ConnorGBrewster commented on #11839
Apart of #11685

[2016-06-23 17:26] KiChjang commented on #11840
my god this is scary

Am I correct in saying that the "tears" only trickle down when you move the mouse?

[2016-06-23 17:30] ConnorGBrewster commented on #11840
@KiChjang yes, only when the mouse is moving

[2016-06-23 17:47] rzambre commented on #11828
Yeah, I'm thinking this is an existing bug that got exposed by some recent commits. The successful build was on a fresh clone of Servo and rustc version hasn't changed since 6/14/16. Should I open an issue in rust?

[2016-06-23 18:05] jdm commented on #11828
Yes please!

[2016-06-23 18:28] kaksmet commented on #11813
`jpeg-decoder` 0.1.5 removed it's dependency on euclid.

[2016-06-23 18:32] rzambre commented on #11828
Here: rust-lang/rust#34434

cc @larsbergstrom

[2016-06-23 20:58] alexcrichton commented on #11829
The first screenshot looks like it's missing the output of the `--verbose` run (a copy/paste should be fine as well as opposed to a screenshot). The second one looks like it may just be a standard ICE

[2016-06-23 21:04] GuillaumeGomez commented on #11829
Irestarted the first one with `--verbose` and it compiled fine.

[2016-06-23 21:08] splav commented on #11662
@jdm, BTW with webrender from master rendering is correct.

[2016-06-23 21:24] jdm commented on #11662
Oh, if that's the case then it's not worth spending time trying to fix this. Does master look different than my last screenshot?

[2016-06-23 21:40] jdm opened #11842 "Dromaeo test results page is mostly black"
This includes the text and the background, which makes it impossible to actually obtain your results: http://dromaeo.com/?dom

[2016-06-23 21:40] jdm commented on #11842
Blocks #5406.

[2016-06-23 22:05] jdm opened #11843 "test-dromaeo is broken"
Specifically, because window.location.search returns a value that has a `/` at the end of it, which breaks the code in webrunner.js that splits the search value by `&` and matches against it.

[2016-06-24 01:14] samlh commented on #11836
The remainder all occur when determining the style for some dom nodes after the parent style is determined. Because multiple threads will access a given parent style at once (readonly), the obvious answer is a RWLock. Alas, it is too slow, thus the current code.

[2016-06-24 01:30] highfive commented on #11823
cc @aneeshusa

[2016-06-24 02:02] Nashenas88 commented on #11524
I updated angle and it seems @metajack updated the reference in servo to angle in #11845.

[2016-06-24 02:45] jdm commented on #11524
Yep!

[2016-06-24 02:45] #11524 closed

[2016-06-24 03:56] cbrewster opened #11846 "Build issue with xcode 8.0 command line tools"
Linker errors: http://pastebin.com/BB0AHW3P

[2016-06-24 05:17] splav commented on #11662
./mach run -d -- -w ../box-shadow.html
with master webrender and webrender_traits:
![screenshot_20160624_081324](https://cloud.githubusercontent.com/assets/182050/16328522/23e2ec04-39ec-11e6-911d-603d2a3bbb30.png)

Are you saying that CPU render will be deprecated soon and there is no need to fix it and learn how it works?

[2016-06-24 05:18] heycam opened #11847 "Intermittent failure in /workers/constructors/Worker/terminate.html"
[code]

[2016-06-24 08:39] #11843 closed

[2016-06-24 11:47] jdm commented on #11662
That is what @pcwalton has implied in similar issues.

[2016-06-24 13:06] jdm commented on #11847
Seems to be caused by https://github.com/servo/mozjs/blob/8d9893a68775fdf7a61dbace330ce6276ee836b1/mozjs/js/src/asmjs/WasmSignalHandlers.cpp#L1381 .

[2016-06-24 13:53] splav commented on #11821
It is even taller with Firefox 47 (by one pixel), pixel perfect with Chromium 51.0.2704.103 what browser does render it properly or at least how should it be?
My rendering - both with webrender and without are the same.
![screenshot_20160624_165219](https://cloud.githubusercontent.com/assets/182050/16339555/693a457a-3a34-11e6-93f7-f124ad79935e.png)

[2016-06-24 14:01] KiChjang opened #11854 "Write a test for #11665"
#11665

[2016-06-24 14:02] jdm opened #11855 "DedicatedWorkerGlobalScope::run_worker_scope shouldn't use parent_sender for run_with_memory_profiling"
This will end up with the worker creator being profiled rather than the worker thread, so a page with 5 workers will report memory usage equal to 5 identical pages. This is clearly nonsense; we should be passing `self.script_chan()` instead.

This can be tested by creating a new page that [instantiates several workers](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_work

[2016-06-24 14:02] highfive commented on #11855
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-24 14:02] highfive commented on #11855
cc @fitzgen

[2016-06-24 14:28] fduraffourg commented on #11038
There is a preference on Firefox which is called `network.http.fast-fallback-to-IPv4`. With it enabled, it waits 250ms and then fallback to IPv4. When disabled, it waits much more longer.

A similar mechanism could be added to Servo. But I suppose hyper should be in charge of handling such fallback.

[2016-06-24 15:28] jdm commented on #11038
@seanmonstar What are your feelings about a non-IPv6 fallback API?

[2016-06-24 16:06] Coder206 commented on #11855
@jdm I would like to work on this one. I have some knowledge on this, I made a project with them this year.

[2016-06-24 16:10] jdm commented on #11855
Sure, go ahead.

[2016-06-24 16:28] notriddle commented on #11836
[Could an alternate implementation of RWLock be fast enough?](https://www.reddit.com/r/rust/comments/4kng0h/parking_lot_highly_optimized_synchronization/)

[2016-06-24 16:43] metajack commented on #11836
@notriddle Is a single compare exchange faster than the check that refcell does currently (which we've apparently already determined is not fast enough)? Or is the theory that we disabled the check because it's not threadsafe rather than because it is slow?

If we are using unchecked solely for the threadsafety issue, then maybe an RWLock with a fast path is a great plan. If we are doing unchecked

[2016-06-24 16:51] notriddle commented on #11704
The checkerboard test in the test comment should match this:

[code]

Note that I'm using floats, so servo-master will render it right.

[2016-06-24 17:18] seanmonstar commented on #11038
@jdm That'd be really neat. It's also not something that can done in `TcpStream::connect`. It may be possible to do some fancy things in a custom `NetworkConnector` for servo...

You'd need `hostname.to_socket_addrs()` method to get a list of IP addresses for the given host... It would then need `mio` (or `net2`?) to do a nonblocking `connect` call on the addresses you want, so you can cancel them

[2016-06-24 17:27] notriddle commented on #11836
No.

[2016-06-24 18:19] Gozala opened #11857 "Border-radius doesn't clip within a border-radius-clipped element."
In browser.html if you hover the title it gets a grey background behind it, which supposed to have rounded corners, but they aren't rounder in servo. I have created following test case to reproduce this issue easily:

https://jsbin.com/zuqete/edit?html,css,output

I see following result when using webrender, it seems that borders are in fact rounded but background isn't clipped properly.

<img wid

[2016-06-24 20:18] asajeffrey opened #11858 "Intermittent failure of openssl"
http://build.servo.org/builders/mac-rel-wpt/builds/1790/steps/test_1/logs/stdio
[code]

[2016-06-24 20:18] highfive commented on #11858
cc @aneeshusa

[2016-06-24 20:51] asajeffrey opened #11859 "Intermittent failure of etc/ci/manifest_changed.sh"
http://build.servo.org/builders/android/builds/1563
[code]

[2016-06-24 22:15] emilio commented on #11403
No longer blocking, since this is no longer in the spec, see #11461 and https://github.com/whatwg/html/pull/1459.

[2016-06-24 22:15] #11403 closed

[2016-06-24 23:07] #11693 closed

[2016-06-25 02:01] Coder206 commented on #11840
I tried looking for the ".rs" file for the code tag. I was expecting something like "code.rs" or "htmlcodeelement.rs", and I didn't find anything in "components/scripts/dom". Where does the code for the code tag reside? (I realize it may not be pertinent to the issue)

[2016-06-25 02:54] ConnorGBrewster commented on #11840
@Coder206 the `script/dom` directory is more for javascript interaction rather than the styling/layout. I am no expert on that styling/layout/rendering portion of Servo but it looks like this is more of a rendering issue than anything, possibly something that would need to be fixed in Webrender.

[2016-06-25 03:32] SimonSapin commented on #11836
@metajack My current theory is that `RWLock` would be too slow, and `RefCell` is not `Sync`/thread-safe: multiple threads calling the `borrow` method would race on incrementing/decrementing the borrow counter. If we can be "confident enough" that no thread is calling `borrow_mut` or holding a `RefMut` during that time, having multiple threads reading the data at the same time without touching the

[2016-06-25 05:26] #11651 closed

[2016-06-25 10:21] paulrouget commented on #11857
Border-radius doesn't clip within a border-radius-clipped element. Minimal test case:

[code]

[2016-06-25 10:28] rebstar6 opened #11860 "Implement referrer policy delivery via header"
See https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-header for details.

Reference https://github.com/servo/servo/issues/10311 for servo referrer policy implementation thus far; tests generated in https://github.com/w3c/web-platform-tests/pull/3118.

[2016-06-25 10:29] rebstar6 opened #11861 "Implement referrer policy delivery via referrer attribute"
See https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-delivery-referrer-attribute for details

Reference #10311 for servo referrer policy implementation thus far.

[2016-06-25 10:35] rebstar6 opened #11862 "Implement referrer policy delivery via noreferrer link relation"
See https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-delivery, https://html.spec.whatwg.org/multipage/semantics.html#link-type-noreferrer for details.

Reference #10311 for servo referrer policy implementation thus far. Note that new referrer policy tests may be required for this.

[2016-06-25 10:37] rebstar6 opened #11863 "Implement referrer policy for WorkerGlobalScope"
See spec at https://w3c.github.io/webappsec-referrer-policy/. All servo referrer policy implementation thus far is just for documents. See #10311 for reference.

[2016-06-25 10:38] paulrouget opened #11864 "(regression) iframe: hovering the iframe doesn't un-hover parent document nodes"
Previous issue: https://github.com/servo/servo/issues/7865

Hovering the div then moving mouse hover the iframe doesn't uncover the div.

[code]

[2016-06-25 10:48] rebstar6 commented on #10311
This set of more manageable issues should cover the remaining work (at least, as of today's spec):

- https://github.com/servo/servo/issues/11384 (maybe e-easy this one?)
- https://github.com/servo/servo/issues/11860
- https://github.com/servo/servo/issues/11861
- https://github.com/servo/servo/issues/11862
- https://github.com/servo/servo/issues/11863

There may also be some fetch work when the o

[2016-06-25 12:43] timvandermeij commented on #11685
Fixed by #11695?

[2016-06-25 13:57] paulrouget commented on #11864
We don't send the mousemove event to the previously hovered pipeline when using webrender.

See: https://github.com/servo/servo/blob/7d978e7b3d6b41b234f7c9b4051b746a1fbeddee/components/compositing/compositor.rs#L1468

[2016-06-25 14:05] splav commented on #11857
May I try this?

[2016-06-25 15:59] ConnorGBrewster commented on #11685
@timvandermeij not yet, there still some uses of `panic!` in the script thread.

[2016-06-25 16:27] jdm commented on #11836
The phantom types in question were something like `Node<Script>` vs. `Node<Layout>`, which allowed us to define only methods that were relevant to layout; it didn't provide any protection for multiple layout threads as far as I recal.

[2016-06-25 16:33] jdm commented on #11857
@splav Please do! Ask questions about anything that's unclear!

[2016-06-25 19:16] nox commented on #11813
https://github.com/emilio/rust-offscreen-rendering-context/pull/58

[2016-06-25 20:16] #11854 closed

[2016-06-25 21:00] splav commented on #11857
It looks like a TODO by gd, not a general bug (https://github.com/servo/webrender/blob/master/src/batch.rs#L225) . May be there are any thoughts on how to implement it?

[code]

For now, I'll continue trying to implement it.

[2016-06-25 21:35] notriddle commented on #11808
[Probably because it's just not implemented](https://github.com/servo/servo/blob/master/components/style/animation.rs#L828), as shown by @glennw's TODO note.

[2016-06-26 01:06] eddyb opened #11868 "MutableHandle<PropertyDescriptor> misused by mutating fields of .get() copies."
[Example in `script::dom::browsingcontext`](https://github.com/servo/servo/blob/8dcb12a019885d8333f35f43e43d3f2e0c56573a/components/script/dom/browsingcontext.rs#L269).
This looks bad, and `CodegenRust.py` generates a bunch more, but I have no idea what impact it has.
Also not sure what other types this happens with, I stumbled onto it during an unrelated refactoring.

The only solution I can thin

[2016-06-26 13:27] blacksvk opened #11870 "Underline color is not same as text color"
![aborder](https://cloud.githubusercontent.com/assets/10187350/16362565/468154ea-3bb2-11e6-93b1-5bf09ffbc966.png)
[code]

[2016-06-26 13:49] KiChjang commented on #11870
I can look at this.

[2016-06-26 14:43] ConnorGBrewster commented on #11864
It looks like, when using webrender, the `MouseMoveEvent` is always only sent to the root pipeline, how does this work?

[2016-06-26 16:10] metajack commented on #11836
We still use something similar. See https://github.com/servo/servo/blob/3de14d9ca0cf54e6a2ae4eac5ff47e38e724b77b/components/script_layout_interface/wrapper_traits.rs#L86

It's not a true phantom type, but the idea is the same. The code that operates on these cannot access ancestors or siblings via the trait, and I assume it always deals with Box<ThreadsafeLayoutNode>.

I thought there was a simila

[2016-06-26 20:02] splav commented on #11857
I don't have an ultimate solution yet, but for this case (and I think most of the cases) a fast path can be implemented - one clipping region is completely inside the other. So we can test if all the clipping regions are essentially equivalent to the most inner one and proceed with the internal one. I've a WIP implementation of the logic.

How to implement general case efficiently still remains un

[2016-06-26 20:28] cbrewster opened #11874 "Font rendering issue on button hover on app.getlaps.com"
`./mach run -d -w https://app.getlaps.com`
Before hovering over `CREATE ACCOUNT`:
<img width="912" alt="screen shot 2016-06-26 at 2 21 37 pm" src="https://cloud.githubusercontent.com/assets/9086315/16364669/15d13098-3baa-11e6-9541-88d6b7f4705c.png">
Hovering over `CREATE ACCOUNT`:
<img width="912" alt="screen shot 2016-06-26 at 2 21 39 pm" src="https://cloud.githubusercontent.com/assets/9086315/16

[2016-06-26 22:24] gpoesia commented on #11870
I took at look at it and simply removing the check in components/layout/display_list_builder.rs:build_display_list_for_text_fragment, "if shadow_blur_radius.is_some()", makes at least this test work (also with strikethrough and overline, which had the same issue). I couldn't see the reason for that code fragment not to always run. Is there any?

[2016-06-27 05:04] aneeshusa commented on #9921
If we want to use Travis for this, one option is using a service like https://nightli.es/. I'm not sure about how to securely provide S3 upload credentials, though.

Buildbot also has a builtin Nightly scheduler that we could use for this, similar to the existing (but currently busted) `android-nightly` builder; it should be straightforward to define a few additional nightly builders. This also me

[2016-06-27 05:07] aneeshusa opened #11876 "Bring back support/android/apk/project.properties"
See discussion at https://github.com/servo/servo/pull/11687#discussion-diff-66534511L37.

This file was removed in #11278, but the automated tooling will rewrite the other Android files to refer to it, so it should be brought back, ideally without duplicating the `android-18` value and instead reading it from the environment.

cc @larsbergstrom

[2016-06-27 07:28] mrmiywj commented on #11773
@jdm
Recently I'm working on this issue. But I still have some questions.
You said that

But actually, I found that [components/net/http_loader.rs L967](https://github.com/servo/servo/blob/master/components/net/http_loader.rs#L967) every time the browser sends out a request, it will also generate a (msg, response). What's the purpose of `creating a new request ID` you said? Just send them to the d

[2016-06-27 07:54] shinglyu commented on #10104
I have a patch now: https://github.com/servo/servo/compare/master...shinglyu:viewport-percent-recalc

I still need to do some testing and profiling to make sure it does improve the performance.

[2016-06-27 08:51] KiChjang commented on #11870
My initial thoughts were that this is caused by styling, not necessarily layout. The relevant style is `-servo-text-decorations-in-effect`, located in `components/style/properties/inherited_text.mako.rs`.

[2016-06-27 10:35] kilobtye commented on #11857
I think #11562 has the same cause.

[2016-06-27 10:39] kilobtye commented on #11751
Related to #11355.

[2016-06-27 13:21] larsbergstrom opened #11878 "manifest_changed.sh should try to print something when there is failure"
The `manifest_changed.sh` script checks whether any of the test manifest files have changed. Unfortunately, it does not print out the results of any such change, so the logs are empty!

This means that when it fails and people believe it is not a "true" failure (e.g., #11859), people just retry until it passes.

It would be very helpful for this script (https://github.com/servo/servo/blob/master/e

[2016-06-27 13:21] highfive commented on #11878
cc @wafflespeanut

[2016-06-27 13:21] highfive commented on #11878
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-27 13:21] highfive commented on #11878
cc @aneeshusa

[2016-06-27 13:50] Ms2ger commented on #11878
It does. For example:

[code]

[2016-06-27 14:44] jdm commented on #11773
@mrmiywj Note that we don't send the message to the devtools until https://github.com/servo/servo/blob/master/components/net/http_loader.rs#L1061 . In between there are several places where we restart the loop and never send the message. The purpose of creating a new request ID would be to ensure that each message the devtools receives for a separate request gets a separate ID.

[2016-06-27 14:47] jdm commented on #11863
This requires storing a `ReferrerPolicy` value in `WorkerGlobalScope`, hooking it up to the HTTP header (#11860), and adding an API to `GlobalRef` that retrieves the global's policy from either the window (via the document) or the worker (via a new public method on `WorkerGlobalScope`).

[2016-06-27 14:48] jdm commented on #11861
This will be very similar to the implementation of #11862.

[2016-06-27 14:48] jdm commented on #11862
This will be very similar to the implementation of #11861.

[2016-06-27 14:55] emilio opened #11881 "Implement std::fmt::Display for Gecko atoms."
It should be straight forward to do without allocations decoding UTF-16 units one at a time.

Filling this as a followup to #11766, but feel free to take it before it lands if you prefer.

 * Code: `ports/geckolib/string_cache/lib.rs`.

[2016-06-27 14:55] jdm commented on #11860
This entails checking for the header in `ScriptThread::load` and passing its value to the `Document` constructor, so that it can set the document's referrer policy to the desired value during at its construction.

[2016-06-27 15:30] larsbergstrom commented on #11878
Unclear if failures below are failing to print above or if there is some other failure path here. We need to add enough debugging info to understand why this script is failing, even if it's just an error code more verbose than `1`.

[code]

[2016-06-27 15:31] GuillaumeGomez opened #11882 "Handle video metadata"
An integration can be made [here](https://github.com/servo/servo/blob/5ec01d9dcafe81bfba3cd053015393baae5f3e37/components/script/dom/htmlmediaelement.rs#L89) with the [video-metadata-rs](https://github.com/GuillaumeGomez/video-metadata-rs) crate.

However, like said in the README, `video-metadata-rs` is using the version 3.x of FFMPEG libraries. So the libs have to be built and installed manually

[2016-06-27 15:33] ConnorGBrewster commented on #11878
Also something interesting:
Failure: http://build.servo.org/builders/arm64/builds/1676/steps/shell_2/logs/stdio
Pass: http://build.servo.org/builders/arm64/builds/1677/steps/shell_2/logs/stdio

The only difference between the two logs is one prints a new line and the other doesn't.

[2016-06-27 15:34] jdm commented on #11878
That implies to me that https://github.com/servo/servo/blob/master/etc/ci/manifest_changed.sh#L13 is returning a non-zero exit value so we don't run any further commands.

[2016-06-27 15:37] metajack commented on #11878
We probably don't want set -e here, or that particular line should trap and forward the error.

[2016-06-27 15:51] jdm commented on #11882
If they're available in standard package managers (apt, dnr, brew, and mingw) then it shouldn't be a problem. Otherwise, it's going to be more difficult, since at minimum there's the cross-platform automated builders to consider.

[2016-06-27 16:11] GuillaumeGomez commented on #11882
That was my point. Otherwise I'll create a 2.8 branch.

[2016-06-27 16:15] GuillaumeGomez commented on #11882
Ah great news, there are packages for [linux](http://ffmpeg.org/download.html#build-linux), [OSX](http://ffmpeg.org/download.html#build-mac) and [windows](http://ffmpeg.org/download.html#build-windows)!

[2016-06-27 17:39] mbrubeck commented on #11355
Marking as a duplicate of #11751. There is a fix in #11801.

[2016-06-27 17:39] #11355 closed

[2016-06-27 19:10] jdm commented on #11859
Looks like this is actually a duplicate of #11858, based on my on-builder debugging:
[code]

[2016-06-27 19:20] metajack commented on #11658
This seems to be the same error on Windows for browser.html. Changing to P1.

cc @pcwalton @glennw

[2016-06-27 19:24] asajeffrey commented on #11658
Related to #11309?

[2016-06-27 20:14] asajeffrey commented on #11859
@jdm: we did start seeing them both at the same time, so it wouldn't be too surprising if it's the same root cause.

[2016-06-27 20:15] jdm commented on #11858
The stdout of the failing openssl call:
[code]

[2016-06-27 20:18] jdm commented on #11858
Whereas the stdout of a non-failing openssl call looks like this:
[code]

[2016-06-27 20:26] jdm commented on #11858
The change to openssl.py https://github.com/servo/servo/commit/79b1e6c40cf7b668e006f8c4808f73521be654c2.diff looks really suspicious to me, but that only merged three days ago.

[2016-06-27 20:27] jdm commented on #11858
Which, granted, is when we started to see this problem absolutely explode.

[2016-06-27 21:35] jdm commented on #11878
One helpful thing in my investigations for #11885 was adding `--no-capture-stdio` to the invocation of `test-wpt` in `manifest_changed.sh`, as well as removing the `>/dev/null`. This allowed me to add print statements to the python code that gets invoked as a result of running that, such as printing out the `stdout` of the openssl process that's invoked.

[2016-06-27 22:15] #11858 closed

[2016-06-27 22:15] #11859 closed

[2016-06-27 23:53] kumikumi opened #11887 "Building Servo fails on OS X El capitan"
I'm having trouble building Servo on my installation of OS X 10.11 El Capitan.

I have installed the prerequisites listed on [this page](https://github.com/servo/servo#prerequisites), namely ran the commands

[code]
and
[code]

I have cloned the repository with git and tried to do a build with `./mach build --release`

Here's the output of the build command:
[servo-build-output.txt](https://github

[2016-06-27 23:58] larsbergstrom commented on #11887
Very interesting! Looks like `locale.Error: unsupported locale setting`, which makes it sound like either we have hardcoded `en_US` somewhere and it is not available on your system or we're picking up the default locale from your operating system but it's not available in python.

@jdm @ms2ger have you ever seen this in the SM build?

[code]

[2016-06-28 00:33] kumikumi commented on #11887
I can confirm that the issue is locale related. Someone on IRC figured out a workaround: running `export LC_ALL=C` before build fixes the issues and makes the build succeed.

If someone is still interested in fixing this issue, I'll be glad to assist by providing information and trying things out.

[2016-06-28 00:34] #11887 closed

[2016-06-28 02:28] gpoesia commented on #11806
I'd like to take this (it would be my first PR in servo, so I'd need some guidance). I think I mostly get how to do it, except for the CI-related part, for which I have no idea. Is there any documentation on how CI is set up in servo? Thanks!

[2016-06-28 02:56] Wafflespeanut commented on #11806
Good to know! Feel free to ping us here or at "servo" channel at IRC if you've got any questions. And, the CI changes would be the final step of the PR which might probably require submitting another PR to https://github.com/servo/saltfs/ for utilizing the newly implemented command in the buildbot (@aneeshusa knows better about this).

[2016-06-28 03:02] shinglyu opened #11888 "Use binary serach for public suffix search to save memory"
Based on Nathan and Jet's discussion, we might investigate using binary search instead of hash table to further reduce the memory usage for the public suffix search. In Gecko it results in a smaller memory footprint and comparable speed.

The original quote:

[2016-06-28 05:30] ConnorGBrewster commented on #9918
I am working on the mac app bundle packager.

[2016-06-28 05:48] metajack commented on #9918
Just a note. I have most of a `.msi` installer working. I'll put up a branch tomorrow, but currently stuck on what to do about the fontconfig configuration.

[2016-06-28 11:34] aneeshusa commented on #11806
@gpoesia Yup, the CI changes will come last. This will boil down to adding one new line to our `steps.yml` file that lists all of the build commands. We're in the middle of testing a move of this file from the `saltfs` repo to this repo, so ping me when you're done and I'll let you know the right place to add it.

[2016-06-28 12:19] jdm commented on #11887
My googling suggested that this was a thing that virtual enc was complaining about, rather than something that we have done in particular.

[2016-06-28 13:04] samuknet opened #11891 "Asynchronous changes to IFrame visibility property do not cause a change."
The visibility property can successfully be set on an IFrame, but it appears any asynchronous updates to the property do not cause a change.

The problem can be replicated by a simple example which toggles an IFrames visibility property from 'hidden' to 'visible' periodically, using setInterval. See: [https://samuknet.github.io/test_cases/iframePropertyToggle/index.html](https://samuknet.github.io

[2016-06-28 13:36] jdm opened #11894 "Implement JS fetch API"
This issue is tracking the implementation of the [JS fetch API](https://fetch.spec.whatwg.org/#fetch-api) following the [project plan](https://github.com/servo/servo/wiki/Summer-of-Code-2016:-Fetch-API). This is assigned to our RGSoC team, so please talk with me before starting to work on any part of it.

[2016-06-28 13:37] jdm opened #11895 "Implement the Request API"
Specification: https://fetch.spec.whatwg.org/#request-class
Documentation: http://doc.servo.org/servo/script/dom/index.html#adding-a-new-dom-interface

This is assigned to our RGSoC team, so please talk with me before starting to work on any part of it.

[2016-06-28 13:38] jdm opened #11896 "Implement the Response API"
Specification: https://fetch.spec.whatwg.org/#response-class
Documentation: http://doc.servo.org/servo/script/dom/index.html#adding-a-new-dom-interface

This is assigned to our RGSoC team, so please talk with me before starting to work on any part of it.

[2016-06-28 13:38] jdm opened #11897 "Implement the Headers API"
Specification: https://fetch.spec.whatwg.org/#headers-class
Documentation: http://doc.servo.org/servo/script/dom/index.html#adding-a-new-dom-interface

This is assigned to our RGSoC team, so please talk with me before starting to work on any part of it.

[2016-06-28 13:38] jdm commented on #11895
Blocks #11894.

[2016-06-28 13:39] jdm commented on #11896
Blocks #11894.

[2016-06-28 13:39] jdm commented on #11897
Blocks #11894.

[2016-06-28 13:39] jdm commented on #4282
Blocks #11894.

[2016-06-28 13:40] jdm opened #11898 "Implement the fetch method"
Specification: https://fetch.spec.whatwg.org/#fetch-method

This is assigned to our RGSoC team, so please talk with me before starting to work on any part of it.
Blocks #11894.

[2016-06-28 13:50] SimonSapin commented on #11806
It’s OK to submit multiple PRs separately for a related set of changes (as long as they each build and pass tests individually). In this case in particular the CI bits can be left for later.

[2016-06-28 14:48] cflewis commented on #11813
I think this can be closed, @nox seems to have got them.

[2016-06-28 14:49] nox commented on #11813
Yes.

[2016-06-28 14:49] #11813 closed

[2016-06-28 15:02] metajack commented on #9918
WIP posted here https://gist.github.com/metajack/78217183533dc4ebd965f46a45197a07

[2016-06-28 16:14] notriddle commented on #11891
It's not related to subsequent-ness. It's related to async-ness. If you remove the "initial" call to `toggleProperty()` in your test case, you'll notice that it doesn't blink at all.

[2016-06-28 17:06] ConnorGBrewster opened #11901 "Panic when deleting text on bhtml url bar"
Running from bhtml master with:
`./mach run -d -- -b -w --resolution=1024x720 --pref dom.mozbrowser.enabled --pref dom.forcetouch.enabled --pref dom.quit-on-escape.enabled=false http://localhost:6060`

1. Type text in the URL bar
2. Hover over suggestion
3. Hit delete until panic

[code]

[2016-06-28 18:39] asajeffrey commented on #11901
This is tricky to replicate, as it seems very sensitive to timing, but I can confirm it under Linux:
[code]

[2016-06-28 18:44] jbg commented on #11846
`CFLAGS=-stdlib=libstdc++ CXXFLAGS=-stdlib=libstdc++ LDFLAGS=-stdlib=libstdc++ ./mach build` worked for me.

[2016-06-28 19:08] ruuda opened #11902 "Math functions fail to link"
When I run `./mach build --release`, I get the following output:

    [... more errors than my console scrollback ...]
    /usr/bin/ld.gold: error: hidden symbol 'floorf' is not defined locally
    [... the same error repeated hundreds of time ...]
    /usr/bin/ld.gold: error: hidden symbol 'floorf' is not defined locally
    /usr/bin/ld.gold: error: hidden symbol 'floorf' is not defined locally

[2016-06-28 19:49] jonathandturner opened #11903 "Facebook blinks and is unusable"
In the last week or so, I noticed a regression where Facebook started to blink on the main page.  Each time it blinked, it took away your ability to input your login, rendering the page unusable (or practically unusable)

I have a video of this if anyone is interested.

I'm on OS X 10.11.5.

[2016-06-28 19:58] asajeffrey commented on #11901
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=28+Jun+2016&e=28+Jun+2016#c465332

TL;DR: I have a theory.

[2016-06-28 19:58] #11811 closed

[2016-06-28 20:18] jonathandturner opened #11905 "browser.html breaks on first page load"
In a recent build (starting in the last week or so), if I run servo with -b to get browser.html, and I navigate to a page, I get a spew of messages like this in the terminal:

[code]

This can go for pages for only a few dozen times depending on the page I load.  After this happens, the loading indicator appears to freeze and I can no longer click on the location box for browser.html.  I've tried

[2016-06-28 20:23] jdm commented on #11905
The JS errors are caused by browser.html and should be filed upstream.

[2016-06-28 20:31] jonathandturner commented on #11905
@jdm - this has potentially strong impact for Servo's upcoming tech demo.  At the very least it should have a tracking issue here.  I've gone ahead and filed a bug on the browser.html repo as well (https://github.com/browserhtml/browserhtml/issues/1106)

[2016-06-28 20:32] jonathandturner commented on #11905
(that is, of course, assuming it repros for other people and it's not just something funky with my setup)

[2016-06-28 20:59] asajeffrey commented on #11901
More IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=28+Jun+2016&e=28+Jun+2016#c465357

TL;DR: `debug_assert!` for fun and profit.

[2016-06-28 21:04] larsbergstrom commented on #11905
Load did not get stuck for me (OSX 10.11, servo as of 7b2080c5b7c933f74c0d92249a66f8602340ebbe), but I did see all those errors.

[2016-06-28 21:52] ConnorGBrewster opened #11907 "Mac packager doesn't relink dylibs properly"
The mac packager does not properly relink all the dylibs together with `install_name_tool`. This means Servo will not run on machines without non-standard libs installed, like harfbuzz.

[2016-06-28 21:52] highfive commented on #11907
cc @aneeshusa

[2016-06-28 21:52] tschneidereit opened #11908 "Scrolling on DDG's html results page and bing results page broken under browser.html"
With current servo and browser.html, [DuckDuckGo results pages that contain a Wikipedia header](https://duckduckgo.com/html/?q=mozilla) have broken scrolling. Instead of the page scrolling, the contents of the Wikipedia header jumps to the right and down.

The same thing happens on [bing.com result pages](http://www.bing.com/search?q=mozilla).

//CC @pcwalton.

[2016-06-28 22:03] jdm opened #11910 "External stylesheets still apply even if the Content-Type is incorrect"
`StylesheetContext::headers_available` fires an `error` event at the `<link>` element if the `Content-Type` header is incorrect, but when `StylesheetContext::response_complete` is executed, we go ahead and parse the contents as a stylesheet anyways. We should modify the `link-style-error-01.html` test to fail if the `load` event is received to catch this.

Code: `components/script/dom/htmllinkelem

[2016-06-28 22:03] highfive commented on #11910
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-28 22:29] jdm opened #11912 "Fire load event for external stylesheets"
https://github.com/servo/servo/commit/f3cdba6b8bbd51eedb05bdb4c21073f4fe41e9a8 made `<link>` elements receive a `load` event after the stylesheet was finished loading. https://github.com/servo/servo/commit/543703e3d8d7dde5efd280fb01e42061287c7002 regressed this, and the test added in https://github.com/servo/servo/commit/f3cdba6b8bbd51eedb05bdb4c21073f4fe41e9a8 didn't catch this because it uses `t

[2016-06-28 22:29] highfive commented on #11912
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-28 22:36] jdm commented on #11912
Note that if #11913 merges before this work begins, it's expected that the 404 test in `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/document-metadata/the-link-element/link-load-event.html` will start failing. This is because the existing failure is currently hidden by the missing load event.

[2016-06-28 22:36] jdm commented on #11910
The test change relies on #11912 being fixed first, or else the test won't have a `load` event to watch for.

[2016-06-28 22:46] jdm opened #11915 "Add a default link style"
[code]
looks like
<img width="72" alt="screen shot 2016-06-28 at 6 45 30 pm" src="https://cloud.githubusercontent.com/assets/27658/16434909/83226f88-3d60-11e6-88df-fc8df0e31ccc.png">
in master. We should style our links blue and underlined by default like other browsers.

Code: `resources/servo.css`

[2016-06-28 22:48] highfive commented on #11915
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-28 22:51] emilio opened #11916 "Pending work for transitions/animations"
Assuming #11766 lands, this would be the pending work left to do for animations and transitions. I'm planning in doing it, though if someone wants to help that would be appreciated.
Pending work for animations/transitions:
- [x] Support more animated properties: These are marked with a FIXME in
   `style/properties/longhands/`. These are easy, it's just a matter of
   following the transitions spe

[2016-06-28 22:53] emilio commented on #11916
cc @SimonSapin

[2016-06-28 23:00] notriddle commented on #11915
We do have default link styling. Look at this code:

[code]

![screenshot from 2016-06-28 15-58-46](https://cloud.githubusercontent.com/assets/1593513/16435223/42b3a186-3d49-11e6-93d0-fc4ec354f683.png)

The underline is black, which is a bug. That bug is #11870

[2016-06-28 23:02] notriddle commented on #11915
And the `<a>Hi there</a>` example that you gave looks identical in Chrome and Firefox.

[2016-06-28 23:02] #11915 closed

[2016-06-28 23:03] cbrewster opened #11917 "Text rendering issue on github"
It fixes itself after resizing the page to a small size and then back to the normal size.

<img width="1380" alt="screen shot 2016-06-28 at 5 03 20 pm" src="https://cloud.githubusercontent.com/assets/9086315/16435307/399d3c66-3d52-11e6-9808-4a0a82c2036e.png">

[2016-06-28 23:19] glennw commented on #11908
Looks like it is selecting the wrong layer to try and scroll. Now to work out where the layer selection is going wrong...

[2016-06-29 00:06] pcwalton commented on #11903
This is because Servo is spawning 2,000+ threads when opening that site

[2016-06-29 00:28] pcwalton commented on #11903
Facebook is opening an infinite loop of iframes to https://www.facebook.com/intern/common/referer_frame.php. This is causing Servo to exhaust resources.

[2016-06-29 00:31] crazymykl commented on #11912
I'd like to try my hand at this one.

[2016-06-29 00:35] fitzgen commented on #11894
cc myself

[2016-06-29 01:15] jdm commented on #11903
That would be fixed by https://github.com/servo/servo/pull/11321.

[2016-06-29 01:39] rzambre opened #11920 "Failure in cross-compiling for Android on OS X"
Host: OS X 10.11.5
Target: Nexus 6P (Android 6.0 has an API-level of 23)

I used the toolchain generated by this command:

`/path/to/my/android-ndk-r12/build/tools/make-standalone-toolchain.sh --platform="android-23" --toolchain=arm-linux-androideabi-4.9 --install-dir=./toolchain --ndk-dir=/path/to/my/ndk --arch=arm`

The above command is slightly different from the one on [Building for Android](h

[2016-06-29 01:44] aneeshusa commented on #11920
I suspect this may be related to #11876.

[2016-06-29 02:01] #11907 closed

[2016-06-29 02:28] glennw commented on #11908
I think there's probably two problems here. Logging the scroll layers that get created on that page shows:

Layer::new (0,0) 1024×700 PipelineId(0, 0) ServoStackingContextId(FragmentBody, 0)
Layer::new (0,0) 1024×700 PipelineId(0, 0) ServoStackingContextId(FragmentBody, 0)
Layer::new (0,27) 1024×4075.75 PipelineId(1, 0) ServoStackingContextId(FragmentBody, 0)
Layer::new (0,27) 1024×4075.75 Pipelin

[2016-06-29 03:00] crazymykl commented on #11910
Since I took the prereq, I may as well take this as well.

[2016-06-29 03:18] glennw commented on #11908
I think what might be happening is that there are several scroll layers being created (on the first few levels of the flow tree in the iframe) due to overflow: auto. But then, I think content gets added to the first of those scroll layers and the layer detection logic then picks the bottom most layer to scroll, which contains no actual render items.

@pcwalton I don't really understand what's goin

[2016-06-29 03:59] mbrubeck opened #11921 "Support new "armv7-android-linuxeabi" target triple"
rust-lang/rust#33278 added a new Android target, `armv7-android-linuxeabi`.

In the near future, the existing `arm-android-linuxeabi` target (which Servo uses by default when building for Android) will be changed to use the ARMv5TE instruction set instead of ARMv7.  We will need to switch to the new target if we want to continue generating ARMv7 code (and linking to standard libraries built for AR

[2016-06-29 05:38] emilio commented on #11881
This landed in #11766.

[2016-06-29 05:38] #11881 closed

[2016-06-29 06:19] #11905 closed

[2016-06-29 08:59] paulrouget opened #11926 "random-pipeline-closure-probability crashes Servo no matter what the probability is"
[code]

[2016-06-29 09:30] shinglyu commented on #11302
@mbrubeck I went through the code and got some rough idea on how to implement this. But I'm a little confused about how to use the various `Glyph*` structs. For instance, does the `starts_ligature` in `GlyphEntry` and the `ligature_start` in `GlyphData` useful for our case? And it not clear to me how the `GlyphStore` is constructed, so I"m not sure where I can set the flag?

[2016-06-29 09:59] irobert91 commented on #10016
I have the same issue on Ubuntu 14.04:
[code]

[2016-06-29 12:09] jdm commented on #11910
Great!

[2016-06-29 13:32] asajeffrey commented on #11926
OK, ran some tests, indeed with p=0.01, you get a pipeline killed at startup almost always. Running with logging:
[code]
since random number generator fired 4 times, it looks like browser.html fires off about 400 events at startup. Setting p=0.001 there's no pipelines killed.

It looks like the code is doing what it's meant to, the problem is it's killing the splash page pipeline. As a work-around

[2016-06-29 13:55] cbrewster opened #11927 "Cursor flutters between default and pointer when moving cursor over links"
![cursorflutter](https://cloud.githubusercontent.com/assets/9086315/16454662/ce8a9522-3dce-11e6-9e20-3792502e088c.gif)

[2016-06-29 14:16] paulrouget commented on #11926
I see - using about:blank instead of about:newtab makes things easier to debug.

[2016-06-29 14:25] asajeffrey commented on #11926
Are you okay with changing the splash page for the moment?

[2016-06-29 14:45] paulrouget commented on #11926
Yes.

[2016-06-29 14:46] asajeffrey commented on #11926
OK, we can close this for now, and re-open if you need more control over injected panics.

[2016-06-29 14:46] #11926 closed

[2016-06-29 14:50] metajack commented on #10016
The error here is that it can't find fontconfig. Do you have libfontconfig-dev installed?

[2016-06-29 14:52] jonathandturner opened #11928 "duckduckgo does not load"
I'm trying a Servo from the morning of 6/29/2016, and when I run `./mach run --release -b` I get a list of sites to try.  If I click on the first one, duckduckgo, I get a blank page.  Basically, this is all I see:

<img width="800" alt="screen shot 2016-06-29 at 10 51 23 am" src="https://cloud.githubusercontent.com/assets/547158/16456882/8838b9aa-3de7-11e6-8eb1-7efa78361859.png">

... and these me

[2016-06-29 14:56] metajack commented on #9915
Added #11928

[2016-06-29 14:58] sophiajt opened #11929 "Certificate errors on five of the twelve blessed links"
When I click on any of these:

<img width="796" alt="screen shot 2016-06-29 at 10 53 55 am" src="https://cloud.githubusercontent.com/assets/547158/16457098/47464dd0-3de8-11e6-8c74-077be6a15a44.png">

I get a certificate error:

<img width="508" alt="screen shot 2016-06-29 at 10 56 17 am" src="https://cloud.githubusercontent.com/assets/547158/16457105/4d538648-3de8-11e6-8989-477ceee01a75.png">

Inc

[2016-06-29 14:59] #11241 closed

[2016-06-29 15:07] metajack commented on #11929
This seems to be #10550

[2016-06-29 15:13] aneeshusa commented on #11921
cc me, need to see how this affects servo/saltfs#355 and ARM triple naming

[2016-06-29 15:15] metajack commented on #10309
What's the status here?

[2016-06-29 15:17] jdm commented on #10550
[code]

[2016-06-29 15:17] metajack commented on #11658
I'm not sure Windows was actually hitting this. I found other potential causes for what I was running into.

[2016-06-29 15:21] frewsxcv commented on #10550
As much as I love Zoidberg, it'd be great if the security error page printed the `Debug

[2016-06-29 15:23] metajack commented on #11929
@jonathandturner I don't disagree about the message, but it is poking fun at the site that fails not at the user. It's probably time to be slightly less flippant in our error messages considering it's not just us reading them now.

[2016-06-29 15:24] Manishearth commented on #10550
![](http://s2.quickmeme.com/img/06/0606dc9e03f7bd8f603e121d2d8f9bb36b98fb7a8a2540ff35757bd10a91d8c0.jpg)

[2016-06-29 15:26] jdm commented on #10550
I suspect that the version of openssl I have doesn't support sha256, which the servo.org certificate uses.

[2016-06-29 15:27] jdm commented on #10550
godot2:dev-servo jdm$ openssl version
OpenSSL 0.9.8zg 14 July 2015

[2016-06-29 15:28] jdm commented on #11929
@jonathandturner What is the output of `openssl --help` and `openssl version` for you?

[2016-06-29 15:33] irobert91 commented on #10016
@metajack Thanks, that fixed it!

[2016-06-29 15:54] asajeffrey commented on #11929
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=29+Jun+2016&e=29+Jun+2016#c466167

TL;DR: on a machine which doesn't have the problem:
[code]

[2016-06-29 16:08] est31 commented on #11753
Still reproducible with 5478e605aef93cc384b709688cc68e3ed854a68b . Any ways to debug it?

[2016-06-29 16:09] asajeffrey commented on #11928
I can confirm this.
[code]

[2016-06-29 16:10] avadacatavra commented on #11818
@mbrubeck

[2016-06-29 16:36] jonathandturner commented on #11929
@jdm

[code]
[code]

[2016-06-29 17:07] frewsxcv opened #11933 "Switch to Dropbox's crate for Brotli encoding/decoding"
https://github.com/servo/servo/search?utf8=%E2%9C%93&q=brotli

https://blogs.dropbox.com/tech/2016/06/lossless-compression-with-brotli/

https://github.com/dropbox/rust-brotli

I haven't done any benchmarks; I'm ignorantly assuming the Dropbox one has better performance. Though if someone felt compelled to, they could do benchmarks. [Relevant thread about brotli-rs performance](https://github.com/

[2016-06-29 17:11] jdm commented on #11929
@jonathandturner Could you run `openssl ciphers -v | grep -i sha256` to confirm the theory that your openssl doesn't support sha256?

[2016-06-29 17:12] jonathandturner commented on #11929
@jdm - I don't get anything when I run the command

[2016-06-29 17:13] asajeffrey commented on #11929
@jdm @jonathandturner it looks quite likely to be sha256 that's causing the problem.

[2016-06-29 17:19] frewsxcv commented on #11929
I get the Zoidberg error page and my OpenSSL has SHA256 stuffs:

[code]

On a side note, https://servo.org supports ciphersuites that use SHA1, not jsut SHA256:

TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA

[2016-06-29 17:20] asajeffrey commented on #11929
SHA256 compatibility: https://support.globalsign.com/customer/portal/articles/1499561-sha-256-compatibility

In particular, SHA256 is only supported in OS X 10.5 and above. @jonathandturner are you on
OS X by any chance?

[2016-06-29 17:22] asajeffrey commented on #11929
@frewsxcv your openssl may be picking up a different version of the library than servo :(

[2016-06-29 17:30] jonathandturner commented on #11929
@asajeffrey - I'm on OS X 10.11.5

[2016-06-29 17:36] #11535 closed

[2016-06-29 18:28] #11901 closed

[2016-06-29 19:07] jdm commented on #11929
#11932 proposes a more useful SSL error page; unfortunately as long as we use the stock system OpenSSL that's available, we may end up in cases like this one where OpenSSL 0.9.8 simply cannot connect to some sites (see the simulated handshake list at https://dev.ssllabs.com/ssltest/analyze.html?d=servo.org&s=104.31.74.227).

[2016-06-29 19:18] asajeffrey commented on #11928
Duplicate of #11489.

[2016-06-29 19:21] asajeffrey commented on #9915
At the moment, the search results page renders, but http://duckduckgo.com/ does not. Should we just replace the link from our front page to, e.g. https://duckduckgo.com/?q=servo

[2016-06-29 19:25] asajeffrey commented on #11928
A displaylist dump is at https://irccloud.mozilla.com/pastebin/X3i9ttCX

[2016-06-29 19:31] broesamle commented on #10947
It looks like `overflow_x_is_visible` and/or `overflow_y_is_visible` are not carrying the right values.

Any hints for logging the overflow properties are welcome.

1) I tried `./target/debug/servo -Z dump-flow-tree ...`

should I find something like `overflow=Visible` instead pf loads of `overflow=Overflow` here; or somewhere else?

2) When running `./target/debug/servo -Z dump-display-list ...`

[2016-06-29 20:02] ConnorGBrewster commented on #11927
So it looks like this is running a hittest for both the iframe and the parent page behind the iframe. The page behind the iframe sets the cursor to `Default` and then the hittest on the iframe sets the cursor to `Pointer`.

[2016-06-29 20:31] jdm opened #11935 "Replace infallible KeyModifiers::from_bits(0).expect() with KeyModifiers::empty()"
`glutin_mods_to_script_mods` creates a `KeyModifiers` value in a way that _could_ be fallible but isn't in practice. We can do better by using the infallible `empty()` method instead.

Code: `ports/glutin/window.rs`

No need for any tests; if it builds, it's good enough for a pull request.

[2016-06-29 20:31] highfive commented on #11935
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-29 20:31] this-jacob opened #11936 "Places render backwards on Duck Duck Go"
![screen shot 2016-06-29 at 2 28 05 pm](https://cloud.githubusercontent.com/assets/8703799/16467777/09c929f0-3e06-11e6-96d1-94db49224060.png)
![screen shot 2016-06-29 at 2 30 40 pm](https://cloud.githubusercontent.com/assets/8703799/16467788/144cb82e-3e06-11e6-9097-b371c1eefea2.png)

Place information on Duck Duck Go searches render mirrored

[2016-06-29 21:36] glennw commented on #11908
Relevant PR: https://github.com/servo/webrender/pull/300

[2016-06-29 21:46] tschneidereit opened #11937 "Quitting servo+browser.html doesn't always really quit"
This is a bit of a weird one: sometimes trying to quit the application causes all interactions to cease, while the window stays visible. Resizing it results in a black rectangle though.

STR:
1. click on any tile
2. cmd+t
3. click on another tile
4. ctrl+tab twice
5. click on the close button

[2016-06-29 23:58] asajeffrey commented on #9915
https://github.com/browserhtml/browserhtml/pull/1113 moves over to http://duckduckgo.com/html, which papers over this crack.

[2016-06-30 00:00] asajeffrey commented on #11928
Temporary fix at https://github.com/servo/servo/issues/9915.

[2016-06-30 00:03] asajeffrey commented on #11929
I think #11932 is about as good as we'll get right now, so I'll remove the P1 label.

[2016-06-30 00:15] cbrewster opened #11939 "Moire demo circles do not move around."
This is one of the demos linked on `about:newtab` in bhtml.
![moire_issue](https://cloud.githubusercontent.com/assets/9086315/16472884/70584178-3e25-11e6-82ca-4933a7a0f9b6.gif)

[2016-06-30 00:18] larsbergstrom commented on #11759
I saw this on some Android devices, too. Seemed to be tied to the border radius, as the problem went away on that device (Samsung Galaxy Tab 2) if I removed it:
https://github.com/larsbergstrom/webrender-demos/blob/use_raf/transparent_rects.html#L82

[2016-06-30 00:23] glennw commented on #11658
Is fixed by https://github.com/servo/webrender/pull/303

[2016-06-30 00:42] ConnorGBrewster commented on #11759
I set the rotation to a static `-24deg` and while resizing the window, it looks like the ones on the edge are being clipped prior to the rotation happening. It also looks like some of them get culled away before they are fully out of the view.
![spinning_clip_issue](https://cloud.githubusercontent.com/assets/9086315/16473302/0ed3748c-3e29-11e6-8ffe-e4c8e2268f6d.gif)

[2016-06-30 00:46] ConnorGBrewster commented on #11939
This can be temporarily be fixed by changing:
[code]
to
[code]

[2016-06-30 00:51] cbrewster opened #11941 "Menu demo: items are deleted when selected"
This is a demo on the `about:newtab` on bhtml.
The checkbox to the left of the item should be checked rather than the item being deleted.
![menu_items_disappear](https://cloud.githubusercontent.com/assets/9086315/16473440/5adc362e-3e2a-11e6-96f0-89ad7c30c119.gif)

[2016-06-30 00:54] ConnorGBrewster commented on #11941
Adding P1 as I assume we want all the linked demos on the newtab page to work properly. Feel free to change it if it shouldn't be P1.

[2016-06-30 00:55] ConnorGBrewster commented on #11939
Adding P1 as I assume we want all the linked demos on the newtab page to work properly. Feel free to change it if it shouldn't be P1.

[2016-06-30 00:55] ConnorGBrewster commented on #11759
Adding P1 as I assume we want all the linked demos on the newtab page to work properly. Feel free to change it if it shouldn't be P1.

[2016-06-30 01:00] izgzhen commented on #10947
@broesamle Do you mean `element::overflow_x_is_visible`? I experimented with it a bit and looks like it is truly problematic. Also, `doc.is_fully_active` in `element::scroll` is not working as I intended neither.

[2016-06-30 01:03] steveklabnik opened #11942 "--browserhtml and tiling window managers: doesn't scroll"
I use `i3` as my window manager, and scrolling doesn't work at all. If I use Gnome instead, works just fine.

[2016-06-30 01:15] ConnorGBrewster commented on #11928
Here is what is going on:
 * The `body` element has `height` set to `auto`
 * There is a wrapper div inside that that wraps the page contents and has `height` set to `100%`

The height of body is being calculated as `0px` instead of the full size of the viewport.

Test case:
[code]
<img width="968" alt="screen shot 2016-06-29 at 7 15 22 pm" src="https://cloud.githubusercontent.com/assets/9086315/1

[2016-06-30 01:31] asajeffrey commented on #11928
@ConnorGBrewster an impressive bit of detective work.

@SimonSapin how tricky would this be to fix?

[2016-06-30 01:32] emilio commented on #11916
@SimonSapin: The string part for the animation name seems to have been added lately, so it's just no-one else has implemented it yet :)

[2016-06-30 01:47] #10952 closed

[2016-06-30 01:53] frewsxcv commented on #11929
Something that's also interesting: I can only get the TLS errors when using release mode. The pages load fine for me in debug mode.

[2016-06-30 02:00] ConnorGBrewster opened #11944 "Package script for Linux/Windows puts runservo.sh in wrong location"
https://github.com/servo/servo/blob/master/python/servo/package_commands.py#L177

`'runservo.sh'` should be `'/runservo.sh'` otherwise the script ends up in `/target` instead of in the package.

[2016-06-30 02:00] highfive commented on #11944
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-30 02:00] highfive commented on #11944
cc @wafflespeanut

[2016-06-30 02:12] glennw commented on #11939
This seems to happen whether using webrender or not - some layout regression perhaps?

[2016-06-30 02:21] glennw commented on #11941
Unsurprisingly, but just to confirm - this occurs both with and without WR enabled.

[2016-06-30 02:53] jdm commented on #11935
Please do!

[2016-06-30 03:12] jdm commented on #11759
This doesn't feel like it impacts the demo in a meaningful way, so I'm dropping the "omg terrible user experience must fix" label :)

[2016-06-30 03:28] gpoesia commented on #11806
Thanks! @aneeshusa I've just submitted the first PR (without the CI part). Should we do the CI integration now, or would it be better to wait for the move (in case it's not landed yet)?

[2016-06-30 03:31] metajack commented on #11928
FYI @SimonSapin is on PTO tomorrow and Friday, so perhaps @mbrubeck can look at this?

[2016-06-30 03:33] metajack commented on #11942
I don't remember seeing this (I also use i3 on linux), so I wonder if it is a regression. I think @mbrubeck uses xmonad or some other tiling WM, so maybe he can try to reproduce. Alas, I didn't bring my Linux machine with me so I can't check until I get back home.

[2016-06-30 04:27] #11751 closed

[2016-06-30 04:30] frewsxcv commented on #11929
Using [this Servo patch](https://gist.github.com/frewsxcv/8c60bf853dcd6b3f60c74512051377f1), I was able to switch the [TLS backend for Hyper to be Security Framework](https://github.com/hyperium/hyper/pull/762) (ignore some of the changes in there about the `connection` field in that struct getting removed. This remedied the security issues I encountered above with OpenSSL.

[2016-06-30 04:42] SimonSapin commented on #11928
In these conditions, `100%` refers to an indefinite height and is therefore treated as `auto`: https://drafts.csswg.org/css2/visudet.html#the-height-property

*Unless* you’re in quirks mode in which case https://quirks.spec.whatwg.org/#the-html-element-fills-the-viewport-quirk and https://quirks.spec.whatwg.org/#the-body-element-fills-the-html-element-quirk apply.

I think this explains @ConnorGBr

[2016-06-30 04:49] ConnorGBrewster commented on #11928
@SimonSapin here is a test case that doesn't use quirks mode, but has the same issue as the image above.
[code]

[2016-06-30 05:17] ConnorGBrewster commented on #11928
@SimonSapin after messing around for a bit, I found something interesting. The DDG css has body both `height: 100%;` and `height: auto;`. After removing `height: auto;` from body, it renders fine.

[2016-06-30 05:19] SimonSapin commented on #11928
So… `min-height: 100%` is not applying correctly in Servo?

[2016-06-30 06:52] Manishearth opened #11947 "Twitter still doesn't work"
<img width="1282" alt="screen shot 2016-06-30 at 12 23 07 pm" src="https://cloud.githubusercontent.com/assets/1617736/16479326/32326750-3ebd-11e6-88bb-93f8057fcb5e.png">

I can open my notifications and settings and all, but I can't tweet or read tweets.

Perhaps we should link to mobile twitter in the demo newtab page instead?

cc @metajack

[2016-06-30 07:13] aravind-pg commented on #11384
I'd like to take this on. Looks like I essentially have to update the [ReferrerPolicy enum](https://github.com/servo/servo/blob/master/components/msg/constellation_msg.rs#L362), update the referrer logic [here](https://github.com/servo/servo/blob/master/components/net/http_loader.rs#L460-464), and finally update [these tests](https://github.com/servo/servo/blob/master/tests/unit/net/http_loader.rs

[2016-06-30 08:09] jdm commented on #11384
That is correct!

[2016-06-30 09:23] hgallagher1993 commented on #11944
Ya I'll take it

[2016-06-30 09:55] #11658 closed

[2016-06-30 09:59] paulrouget commented on #11928
Which URL do you use? Because we changed it to https://duckduckgo.com/html/

[2016-06-30 10:43] paulrouget commented on #11908
This works now.

[2016-06-30 10:43] #11908 closed

[2016-06-30 11:38] Ms2ger commented on #11927
This is due to the `SetCursor` message being sent in the `hit_test` function in `components/layout/query.rs`. (I've long thought that was poor design; happy to see it's actually a bug.)

[2016-06-30 12:11] #11935 closed

[2016-06-30 12:59] mmatyas commented on #11920
Meanwhile, a temporary fix is to run the build like this:
`ANDROID_NATIVE_API_LEVEL=android-18 ANDROID_PLATFORM=android-18 ./mach build --rel --android`
You might need to `./mach clean` first though.

[2016-06-30 13:04] ConnorGBrewster commented on #11928
@paulrouget https://duckduckgo.com/html/ renders correctly. Its just the regular homepage that doesn't.

[2016-06-30 13:04] ConnorGBrewster commented on #11944
@hgallagher1993 its all yours!

[2016-06-30 13:29] fabricedesre opened #11956 "Loading b.html on linux doesn't complete"
I'm running current master (87d08eb4e8282f591261250d6b1d061fbb0584b6) on Ubuntu 16.04

Running with ./mach run -r -b we fail to fully load. The progress bar stops at ~ 10%, and no icon show up in the grid (the labels are here though).

Loading pages directly (eg. ./mach run -r https://github.com/) works.

[2016-06-30 13:31] ConnorGBrewster opened #11957 "Iframe is not clipped in browserhtml"
<img width="834" alt="screen shot 2016-06-30 at 7 31 19 am" src="https://cloud.githubusercontent.com/assets/9086315/16489879/a5d804cc-3e94-11e6-9c71-e54b7aaa56d4.png">

[2016-06-30 14:40] Manishearth opened #11958 "Github's hamburger doesn't show"
When Github is opened in a window with a smaller width, the sign up/sign in buttons are stuffed into a hamburger menu. The icon for the menu doesn't show in Servo.

To repro:
- `./mach run -r -b -- --resolution 800x600`
- Open github
- 😢 when you can't log in

[2016-06-30 14:40] Manishearth commented on #11958
(I fixed this for the demo by setting the default resolution to 1024x740)

[2016-06-30 14:44] paulrouget commented on #11956
Do you mind re-testing? There was a browserhtml update right after that commit.

[2016-06-30 14:46] paulrouget commented on #11957
This is a regression.

related: #11151 #11358

[2016-06-30 14:53] fabricedesre commented on #11956
Tested again with 2ff6c3526313b9c0467e26f0236ae2578b7e57c5 but it's not better.

All events seems to be stuck. I can't close the main window cleanly.

[2016-06-30 14:58] metajack commented on #11958
Where did 740 come from?

[2016-06-30 15:05] Manishearth commented on #11958
It was a number that worked. IIRC 720 didn't.

I could bump it to 768 if you think that's better.

[2016-06-30 15:06] fduraffourg commented on #11942
I use i3 and I can scroll.

[2016-06-30 15:08] metajack commented on #11958
768 would be less odd, but there is not technical reason I can immediately think of for it to be any particular value :)

[2016-06-30 15:23] fduraffourg commented on #11942
I don't know what's the right way, but your MouseWheel event will land in servo from glutin here:
https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L276

You can try to use `println!` to see if the event is fired with your configuration. Then either investigate glutin and your i3 config if the event is not received, or follow the event inside servo to see why it is not handled.

[2016-06-30 16:16] mbrubeck commented on #11302
Here's a quick overview of the different types:

1. [Font::shape_text][1] creates an empty GlyphStore, then passes it to the [Shaper][2] which fills it in.
2. The Shaper creates GlyphData structs. These are temporary objects that are just used to as arguments to the `GlyphStore::add_glyph*` methods.
3. The GlyphStore takes each GlyphData from the shaper and translates it into a GlyphEntry. Some gl

[2016-06-30 16:18] asajeffrey commented on #11941
A minimal example which demonstrates this behaviour:
[code]

[2016-06-30 16:35] fabricedesre commented on #11956
I clobbered my build: a debug build works, while a release one gets stuck.

[2016-06-30 16:38] fabricedesre opened #11960 "Browser.html icons look pixelated"
See http://imgur.com/Bf7THC0 : screenshot from a linux debug build, on ubuntu 16.04.

[2016-06-30 16:47] asajeffrey commented on #11941
OK, this is just weird:
[code]
The bullet on the li ends up a different color than its text!

[2016-06-30 16:49] tschneidereit opened #11961 "Transparent Rects demo gets hidden when opening the browser.html sidebar"
Instead of continuing to play the demo or at least show a frozen version of the last frame, we only show the background color.

STR:
1. Open Servo with browser.html
2. Click on the "Demo: Transparent Rects" tile
3. Click on the hamburger menu in the top-right corner

[2016-06-30 16:50] mbrubeck commented on #11941
Definitely an incremental layout bug; can’t reproduce it when running with `--nonincremental-layout`.

[2016-06-30 16:53] asajeffrey commented on #11941
For me, the 2nd example is weird even with `--nonincremental-layout`.

[2016-06-30 17:05] asajeffrey opened #11962 "Invalid Rule style messages for pages with no CSS"
If test.html contains:

[code]

then running servo with logging produces a lot of messages:

[code]

[2016-06-30 17:08] jdm commented on #11962
Those are coming from the user-agent stylesheets.

[2016-06-30 17:12] asajeffrey opened #11963 "servo.css contains incorrect comment syntax"
https://github.com/servo/servo/blob/master/resources/servo.css#L135 uses `//` for commenting rather than `/*...*/`.

[2016-06-30 17:12] highfive commented on #11963
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-30 17:16] asajeffrey commented on #11963
Fixed by #11964.

[2016-06-30 17:17] asajeffrey commented on #11963
From #11962.

[2016-06-30 17:28] ConnorGBrewster commented on #11759
Better gif of the original issue:
![spinning_issue](https://cloud.githubusercontent.com/assets/9086315/16497737/bfd6b6a4-3eb5-11e6-985a-92e3ca8defb5.gif)

[2016-06-30 17:28] asajeffrey commented on #11941
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=30+Jun+2016&e=30+Jun+2016#c467566

TL;DR: @metajack says "can you rpelace it with spinner?".

[2016-06-30 17:29] asajeffrey commented on #11941
If this isn't on the splash page, fixing it isn't P1.

[2016-06-30 17:30] Coder206 commented on #11960
This is also true for Windows 10.

[2016-06-30 17:35] Gozala opened #11965 "Escape key on wikipedia.org quits servo"
Steps to reproduce:

1. Load browser.html
2. Click wikipedia tile
3. Hit escape key

[2016-06-30 17:36] Gozala commented on #11965
Or even simpler steps to reproduce will be:

[code]

And hit escape key

[2016-06-30 17:37] Coder206 commented on #11965
@Gozala I was not able to load Wikipedia from the icon, Servo seems to be in a loop with constellation.

[2016-06-30 17:45] asajeffrey commented on #11956
Confirmed, including with the current bhtml.

[2016-06-30 17:45] jdm commented on #11965
The simpler steps to reproduce are invalid; `servo -w --pref shell.builtin-key-shortcuts.enabled=false https://wikipedia.org` does not show the problem.

[2016-06-30 17:46] jdm commented on #11965
I also can't reproduce the problem described in the original steps.

[2016-06-30 17:49] jdm opened #11966 "Reduce duplication between package-prefs.json and prefs.json"
Ideally we should be able to have package-prefs.json only contain preferences that differ from the defaults in prefs.json.

[2016-06-30 17:51] paulrouget commented on #11960
non-hidpi display?

[2016-06-30 17:54] metajack commented on #11960
@Coder206 what do you mean? which icons? I definitely added high dpi support to Windows, and it hasn't regressed that I've seen.

[2016-06-30 17:54] paulrouget commented on #11965
@Gozala https://github.com/browserhtml/browserhtml/pull/1098/files

[2016-06-30 17:54] #11965 closed

[2016-06-30 17:56] Gozala commented on #11965
@paulrouget It's changed again to `shell.builtin-key-shortcuts.enabled`

[2016-06-30 17:56] asajeffrey commented on #11956
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=30+Jun+2016&e=30+Jun+2016#c467653

TL;DR: bisecting release builds, what fun. 90e970a6d2c0f3eebbff23edd2aa74f3a201e6d8 is the most likely candidate.

[2016-06-30 17:58] Coder206 commented on #11960
![bhtml_speeddial](https://cloud.githubusercontent.com/assets/7758155/16498653/bd6431de-3eca-11e6-86dd-58b144cb225a.PNG)

[2016-06-30 18:00] Gozala commented on #11965
This should fix it on browser.html side https://github.com/browserhtml/browserhtml/pull/1133

[2016-06-30 18:01] fabricedesre commented on #11960
Yep. Good old thinkpad 1366x768 pixels at 96dpi.

[2016-06-30 18:04] Coder206 commented on #11960
@metajack How can I tell that I have hidipi on Windows?

[2016-06-30 18:12] asajeffrey commented on #11956
Testing from 8052f5b80d812a3d266a03378ac610b5b544ef72 doesn't give the problem, so it looks like we have a culprit.

[2016-06-30 18:24] asajeffrey commented on #11956
Fixed by https://github.com/asajeffrey/servo/tree/revert-11949, which reverts #11949.

[2016-06-30 18:53] jdm commented on #11894
Things to be aware of when starting this project:
* I expect the vast majority of code changes to take place in `components/script/dom/` - this is the code that's responsible for implementing the APIs that websites make use of, as well as exposing them to the JS environment
* in particular, each new interface that needs to be implemented (Request, Response, and Headers) will need to follow the ste

[2016-06-30 20:01] asajeffrey commented on #11939
The demo works if you run it with `--nonincremental-layout`.

[2016-06-30 20:04] asajeffrey opened #11970 "Spinner demo: squares are missing"
Half the squares are missing in the spinning demo. This is now on the front page, so I'm marking this P1. cc @ConnorGBrewster

[2016-06-30 20:29] asajeffrey commented on #11970
Related to #11873? cc @notriddle

[2016-06-30 20:31] ConnorGBrewster commented on #11970
I tried running the demo with the changes in #11873, didn't have an effect.

[2016-06-30 20:33] asajeffrey commented on #11970
Oh well, I tried :(

[2016-06-30 20:35] ConnorGBrewster commented on #11970
![spinning_issue 6 49 05 pm](https://cloud.githubusercontent.com/assets/9086315/16503343/e1025d00-3ecf-11e6-987a-f5ff4c8bbfb8.gif)

[2016-06-30 20:36] asajeffrey commented on #11970
Duplicate of #11759

[2016-06-30 21:14] ConnorGBrewster commented on #11970
Removing P1 as this will not be on the newtab page browsterhtml/browserhtml#1139

[2016-06-30 21:43] asajeffrey commented on #11956
@glennw is bisecting webrender to see if we can find out which WR change caused this. We can always apply #11968, but it would be nice not to keep most of the WR changes that came with #11949.

[2016-06-30 22:01] Coder206 commented on #11855
@jdm I can't find the run_with_memory_profiling in components/script/dom/dedicatedworkerglobalscope.rs

[2016-06-30 22:02] asajeffrey commented on #11970
Fixed by #11873:

![screenshot from 2016-06-30 16-51-44](https://cloud.githubusercontent.com/assets/403333/16505813/70072b34-3ee4-11e6-98e8-22aaebb8244b.png)

[2016-06-30 22:03] jdm commented on #11855
My mistake, run_with_memory_reporting.

[2016-06-30 22:04] Coder206 commented on #11855
@jdm That makes sense!

[2016-06-30 22:44] jryans commented on #8982
@jdm can you assign this one to me? I'd like to give it a try.

[2016-06-30 22:52] glennw commented on #11956
Fixed by https://github.com/servo/webrender/pull/306

[2016-06-30 23:31] ConnorGBrewster commented on #11960
Is this on a debug or release build. I noticed the images looked blurry on debug, but fine on release.

[2016-06-30 23:37] jdm commented on #8982
It's already marked as assigned, and we can't set the assignee field to people who aren't part of the servo organization.

[2016-06-30 23:37] jdm commented on #8982
So yes, go ahead :)

[2016-07-01 00:19] Coder206 commented on #11960
@ConnorGBrewster For me (^): release.

[2016-07-01 00:35] ConnorGBrewster commented on #11944
@hgallagher1993 so sorry, but this is needed for the tech demo/preview today. I probably should've mentioned that in the description.

[2016-07-01 01:22] metajack commented on #11941
I wonder if this is the same error as on mozilla.org/en-US/. Mousing over any of the tiles removes them permanently.

[2016-07-01 01:28] asajeffrey commented on #11941
Could be, it's caused by css transitions not leaving things in the right state. I can believe mozilla.org is using transitions the same way.

[2016-07-01 02:00] shinglyu commented on #11302
Thanks! That's super helpful!

[2016-07-01 03:14] aneeshusa commented on #11806
For now, let's land the CI integration into saltfs; it'll get moved later. In the `buildbot/master/files/config/steps.yml` file, you need to add a command that invokes the new `build-stable` command. I believe `linux-dev` is still the fastest builder, so add it to that builder; I think a debug build should be fine.

[2016-07-01 03:19] #11944 closed

[2016-07-01 03:48] aneeshusa opened #11980 "Make builds fully reproducible"
This is a metabug, since this will require multiple PRs. Reproducible builds make it possible to independently verify the output of a particular build, strengthening the security of our release pipeline by enabling outside auditors. Since making builds reproducible also means controlling all of the inputs, this also makes it much easier to check out arbitrary revisions and successfully build them.

[2016-07-01 03:57] edunham commented on #11980
Another place that a new contributor could jump in on this bug is locally building the same checkout of Servo twice, noting the locations of any files that differ between the two builds. For extra credit, track down the areas of the source involved in producing the differing files and identify the specific code causing the non-determinism :)

[2016-07-01 03:58] aneeshusa opened #11981 "Create Linux .tar.gz package archive deterministically"
Follow-up from #11210. Part of #11980.

Our `./mach package` implementation currently creates a `.tar.gz` archive for Linux using the Python `tarfile` module. However, this module does not support the right options for deterministic tarball creation. To fix this, we should use the recommendations from https://reproducible-builds.org/docs/archives/ and shell out to a `tar` binary.

TODO: make this

[2016-07-01 04:00] aneeshusa commented on #11980
Note that I tried to do what @edunham suggests against two `target/` dirs with the [diffoscope](https://diffoscope.org/) tool, but diffoscope was unable to complete the comparision - I don't remember if I ran out of memory or it just never returned. You will likely need to compare bits and pieces at a time.

[2016-07-01 04:04] shinglyu commented on #11302
@mbrubeck : Should I follow the old convention and use a [negative flag](https://github.com/servo/servo/pull/7434/files#diff-9ebce067d5decc851bf71b4163f195ceL140)? Although I don't quite understand what "missing chars can be memset with zeros in one fell swoop" means.

[2016-07-01 04:22] aravind-pg commented on #11860
I'd like to try taking this on -- hopefully it's not too unsuitable for a beginner. Here's my understanding so far, to make things extremely concrete:
- I see that there's already a `Cell<Option<ReferrerPolicy>>` field in the `dom::Document` struct, currently set by default to `NoReferrer`. I need to modify the constructor(s) (both `new` and `new_inherited`, I think, from the way the code is organ

[2016-07-01 04:36] ConnorGBrewster opened #11983 "Create new folder when packaging on linux"
Right now we take the `target/[relase|debug]` and remove everything but servo and bhtml and when we copy resources and add the run script. We should instead create a new temporary folder, copy servo, bhtml, resources, runscript to the new directory and create the `tar.gz` from that. After the `tar.gz` is created, the temporary folder should be deleted. This is similar to how packaging is done on t

[2016-07-01 04:39] ConnorGBrewster opened #11984 "Remove colons from package file names"

[2016-07-01 04:39] highfive commented on #11984
cc @wafflespeanut

[2016-07-01 04:40] jdm commented on #11860
Looks like you've got a great handle on the work required here! You're welcome to add the header to hyper and use a [cargo override](http://doc.crates.io/guide.html#overriding-dependencies) to allow you to keep making progress in Servo while the changes aren't merged to hyper's master branch. Creating new headers are often marked as good first issues for new contributors in hyper; there are lots o

[2016-07-01 04:40] jdm commented on #11860
And yes, updating existing callers of the Document constructor is fine.

[2016-07-01 04:45] ConnorGBrewster opened #11985 "Cannot scroll after rubberband scrolling on mac with mouse"
Trackpad scrolling is fine, but if you scroll with an external mouse and reach the edge of the page, you can no longer scroll.

[2016-07-01 04:46] aravind-pg commented on #11860
That's great to hear! Thanks a lot :)

[2016-07-01 04:55] ConnorGBrewster opened #11986 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 05:18] larsbergstrom opened #11987 "The nightly upload script should also copy the newest binary to the name "servo-latest""
After uploading a nightly build with a specific date in its filename, we should also create a file named "servo-latest" (with the appropriate extension, e.g. `.tar.gz`) for easy linking. This change should be made here:
https://github.com/servo/servo/blob/master/etc/ci/upload_nightly.sh#L15

[2016-07-01 05:18] highfive commented on #11987
cc @wafflespeanut

[2016-07-01 05:18] highfive commented on #11987
cc @aneeshusa

[2016-07-01 05:21] highfive commented on #11987
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-01 05:31] aneeshusa opened #11988 "Move http://dl.servo.org contents into a git repo"
The site redirects to https://servo-builds.s3.amazonaws.com/index.html, which is a file in one of our S3 buckets. To enable community collaboration on this part of our website, we should move those contents into a git repo. We should also automatically push any new content up to the S3 bucket.

cc @edunham

[2016-07-01 05:38] johannhof commented on #11933
Sounds interesting, I can look into that.

@frewsxcv what kind of benchmarks did you have in mind? Simply comparing the two libraries or is there a good way to bench the respective Servo functions that use Brotli? From a quick glance it seems that Servo only runs high-level browser benchmarks.

[2016-07-01 06:03] aneeshusa commented on #11988
Fixed by https://github.com/servo/download.servo.org.

[2016-07-01 06:03] #11988 closed

[2016-07-01 06:03] ianh opened #11990 "Crash when navigating to reddit comments page"
I got the following error when navigating to [this reddit comments page](https://www.reddit.com/r/gaming/comments/4qoub9/i_guess_this_kind_of_stuff_does_happen_to_people/):

This was using the first developer preview on OS X.  I don't know how to get a backtrace.

[2016-07-01 06:11] dascritch opened #11991 "Keyboard keys AZERTY are badly mapped"
When i am on the start page, i want to put and URL, but I cannot, as keys are not correctly mapped.

OS : Kubuntu 14.04 LTS , arch 64 . Keyboard layout : AZERTY, 105 keys

Letters seems corrects, but symbols keys are bad :

numeric rank:
«²», «&» , «é», «"», «(», «è», «_», «ç», «à», «)» are not mapped

right side of the two upper letter ranks : none of them

On lower rank, after VBN letters :
hitt

[2016-07-01 06:17] Manishearth opened #11992 "Youtube causes a panic"
Not that youtube should be working anyway, but we shouldn't be panicking there

[code]

[2016-07-01 06:25] nt1m opened #11993 "wikipedia icon is not rendered properly"
<img width="165" alt="favicon-rendered-strange" src="https://cloud.githubusercontent.com/assets/1795135/16513479/65822cbe-3f65-11e6-87ff-8fbe85733a3b.png">

[2016-07-01 06:29] aravind-pg commented on #11860
A question: if the `referrer_value` field is `Cell::new(Some(ReferrerPolicy::NoReferrer))` by default, i.e. its default value is `NoReferrer`, then why have the `Option<ReferrerPolicy>` at all, instead of just `ReferrerPolicy`? Doesn't look like it's ever `None` right now. Alternatively maybe we should have `None` be the default instead of `Some(NoReferrer)`?

[2016-07-01 06:34] iampritishpatil opened #11994 "Servo deosn't load web pages on proxy."
On ubuntu 16.04 the nightly build from download.servo.org on 1st July 2016 doesn't take system proxy and fails to load any webpages.

[2016-07-01 06:45] daenney opened #11995 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.bigmarker.com/remote-meetup-go/Application-Development-Using-BoltDB?bmid=2f45f299c89f
### Backtrace:
[code]

[2016-07-01 06:46] alhafoudh opened #11996 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 06:49] Ms2ger commented on #11991
Thanks for filing; this should be fixed by #11950.