[2015-08-21 17:40] frewsxcv opened #7309 "'Overlong line' tidy mention should mention what the max length for a line is"
https://github.com/servo/servo/blob/9277c33b6374328252ea721f99a9485347e58ca0/python/tidy.py#L92-L94

Right now, we just say `(much) overlong line`. We should probably say something like `Line is longer than 120 characters`. Make 120 into a variable and use it in both places.

[2015-08-21 19:25] mdinger opened #7311 "Support <br clear="foo">"
[Testcase](https://mdinger.github.io/servo_7311/testcase.html):

[code]

causes:
![misalign](https://cloud.githubusercontent.com/assets/4156987/9417251/b1480992-4818-11e5-87bc-fe7296823a02.png)

[EDIT]
Problematic in http://www.dota2.com/hero/Earthshaker/ . These pages look pretty messy in general

[2015-08-21 19:29] mdinger commented on #7311
Updated OP with a linked testcase.

[2015-08-21 19:54] #7309 closed

[2015-08-21 19:55] frewsxcv commented on #7309
Thanks @OneKorg !

[2015-08-21 22:07] notriddle commented on #3893
Messing with the @VAS idea, with the Firefox logo layout and colors.

![servo](https://cloud.githubusercontent.com/assets/1593513/9419997/c245ccd2-4815-11e5-9b58-53b4bc86bc04.png)

[2015-08-21 22:14] pcwalton commented on #7298
Yeah, I looked briefly into this and it looks like a DOM problem.

[2015-08-21 23:36] pcwalton commented on #7311
Thanks for the test! Updated the title with the problem.

[2015-08-21 23:42] pcwalton commented on #7311
Unfortunately I don't see a spec for this attribute.

[2015-08-21 23:54] mdinger commented on #7311
Would it be [this](https://developer.mozilla.org/en-US/docs/Web/CSS/clear#Specifications)?

[2015-08-22 07:38] Ms2ger commented on #7311
https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3

[2015-08-22 11:48] cocof35 commented on #5643
Hi. I try to compile it on virtualbox 5.0.2 and it worked. well it might solved in virtualbox 5.

[2015-08-22 13:37] frewsxcv commented on #5037
Completed in #5166

[2015-08-22 13:37] #5037 closed

[2015-08-22 13:49] frewsxcv commented on #5875
Do you know of another example of this?

[2015-08-22 14:26] nox commented on #5875
@frewsxcv No.

[2015-08-22 14:46] Wafflespeanut commented on #7142
#7165 closes this.

[2015-08-22 14:48] frewsxcv commented on #7142
Yep. Thanks @g-k! :sparkles:

[2015-08-22 14:48] #7142 closed

[2015-08-22 14:56] Wafflespeanut commented on #6636
#7312 should close this (I guess).

[2015-08-22 15:31] #6636 closed

[2015-08-22 15:39] paulrouget commented on #7304
@zentner-kyle This test case crashes Servo:

[code]

[2015-08-22 15:48] paulrouget opened #7316 "Flexbox: thread 'LayoutWorker worker 3/3' panicked at 'attempted to divide by zero'"
[code]

[code]

[2015-08-22 15:49] paulrouget commented on #7304
Filed an issue: https://github.com/servo/servo/issues/7316

[2015-08-22 16:26] paulrouget commented on #7316
In `components/layout/flex.rs`, in `inline_mode_assign_inline_sizes`, I see:

[code]

Which I guess is the issue. Adding a child to the empty `div` doesn't crash.

[2015-08-22 16:29] paulrouget opened #7317 "Flexbox: Link to containing block not established; perhaps you forgot to call `set_absolute_descendants`"
[code]

[code]

Requires https://github.com/servo/servo/pull/7331.

[2015-08-22 16:31] paulrouget commented on #7317
Happens when `position:absolute/relative` is used inside a flex element.

[2015-08-22 16:39] paulrouget commented on #7304
I've worked around the 2 crashers (adding non-flex content in empty divs and removing `position:absolute` properties), I get this:

<img width="644" alt="screen shot 2015-08-22 at 18 36 13" src="https://cloud.githubusercontent.com/assets/373579/9424874/cba122b2-48fc-11e5-837a-a2877aeecb2e.png">

Looks messed up :) But apart the sizes, the ordering and the directions look valid.

I'm aware the firs

[2015-08-22 19:34] pcwalton commented on #7317
Should be fairly easy to fix; the fix is right in the error message :)

[2015-08-22 19:34] pcwalton commented on #7304
@paulrouget Yeah, flexbox doesn't actually flex yet :)

[2015-08-22 22:30] #7281 closed

[2015-08-22 23:24] jdm commented on #7298
Is there any interesting output from stdout/stderr?

[2015-08-22 23:28] jdm commented on #5331
@benschulz Absolutely!

[2015-08-22 23:48] jdm commented on #7296
I suspect http://mxr.mozilla.org/servo/source/components/compositing/headless.rs#98 vs http://mxr.mozilla.org/servo/source/components/compositing/compositor.rs#359

[2015-08-22 23:51] jdm commented on #7112
Thank you so much, @tafia!

[2015-08-22 23:52] jdm commented on #6739
@catchmrbharath Go for it!

[2015-08-23 00:27] jdm commented on #7286
cc @mrobinson , perhaps.

[2015-08-23 02:29] jdm commented on #7262
servoexperiments.com is hosted on nearlyfreespeech.net. From their FAQ, it looks like it's possible to obtain a Comodo Positive SSL DV certificate for ~$20/year with minimal hassle.

[2015-08-23 02:51] #6931 closed

[2015-08-23 03:04] jdm commented on #3924
Blocks #5236.

[2015-08-23 03:25] #7239 closed

[2015-08-23 03:25] #7268 closed

[2015-08-23 03:29] jdm opened #7319 "Cast to Element in PrivateCSSStyleDeclarationHelpers::get_declaration is useless"
The self value is already &Element, so ElementCast::from_ref is a no-op.

Code: components/script/dom/cssstyledeclaration.rs

[2015-08-23 03:37] jdm commented on #7270
I'm not sure that SpiderMonkey is the right level of abstraction here. Why not have the canvas image data in shmem and copy it from/into the typed array?

[2015-08-23 03:52] dzbarsky commented on #7270
I think that's what I tried (copy canvas image data to shmem, ship it back to script, and then copy that to the typed array) and it was 3x slower than bincode. It's quite possible that I did something stupid though and somehow my attempt didn't get saved in the branch =/

[2015-08-23 03:53] dzbarsky commented on #7270
It's possible that FF is doing some SIMD magic to make the rgba swap and alpha premultiplication faster

[2015-08-23 04:07] srh commented on #5643
I see the same problem with 5.0.2.  It works works with 3D acceleration disabled, but fails with a stack trace with 3D acceleration enabled.  However, now I've also tried running *without* Virtualbox Guest Additions installed (in the VM) -- and it works on both 4.3.26_Ubuntu and 5.0.2.  This is when running a Debian Jessie VM inside Ubuntu 15.04.

[2015-08-23 04:12] samfoo opened #7320 "Implement "maxlength" attribute for text input"
Pulling apart #7004 a bit.

This is a placeholder for an upcoming pull request.

[2015-08-23 04:23] dhananjay92 commented on #5810
@jdm, @pcwalton: Is this issue taken? I am free now. I can work on it during this semester.

[2015-08-23 04:34] dhananjay92 commented on #6670
Sorry, was busy with my internship. So couldn't reply!
I will try out @Manishearth's suggestion (passing `-Hrn --exclude`).

[2015-08-23 04:53] dzbarsky opened #7322 "Handle Calc for LengthOrPercentageOrNone"
Should be very similar to LengthOrPercentageOrAuto for the style code, not sure what changes will be needed to layout.

[2015-08-23 05:03] FreeFull commented on #7298
No interesting output, just a few javascript errors.

[2015-08-23 05:04] jdm commented on #5810
@dhananjay92 Absolutely!

[2015-08-23 05:06] jdm commented on #7298
The JS errors are the interesting part.

[2015-08-23 05:12] tafia commented on #7112
You're welcome!
On 23 Aug 2015 07:51, "Josh Matthews" <notifications@github.com> wrote:

[2015-08-23 05:37] FreeFull commented on #7298
I believe those were there back when the google results page was working, too.

[2015-08-23 07:17] cb88 opened #7324 "mach build-cef could not compile embedding"
I imagine this may just be a temporary problem but I can build servo itself but not ./mach build-cef.

This is on Gentoo amd64 I don't imagine that matters much as servo uses a snapshot of rust and not my natively installed version as far as I am aware.

[code]
[code]

[2015-08-23 08:44] Ms2ger opened #7326 "Test for #7251 got lost."
Because of the convoluted setup for css tests, we can't do a two-way sync, so we'll need to upstream this test manually.

CC @nox

[2015-08-23 08:48] Ms2ger commented on #7319
In fact, `PrivateCSSStyleDeclarationHelpers` can be removed entirely, and the calls to `get_inline_style_declaration` and `get_important_inline_style_declaration` can be inlined.

[2015-08-23 08:56] Ms2ger opened #7327 "build-cef ignores debug-mozjs in servobuild"

[2015-08-23 09:11] Ms2ger opened #7328 "Build broken due to heartbeats"
[code]

[2015-08-23 13:11] jxs commented on #7319
i can take this one

[2015-08-23 21:01] SirCmpwn commented on #332
:+1: easier to do this in servo than in Firefox.

[2015-08-23 22:06] vberger commented on #332
For reference, here are the features still missing from the wayland backend of glutin: https://github.com/tomaka/glutin/issues/577

It's not yet activated, I tend to think the absence of a 'close' button on the window decoration is a rather bad point that should be fixed before activation wayland by default.

But my work on my set of wayland libs and their integration on glutin is still done on my

[2015-08-23 23:53] nox commented on #7326
https://github.com/w3c/csswg-test/pull/828

[2015-08-24 00:23] #7319 closed

[2015-08-24 01:48] jdm commented on #7324
Huh, we stopped building CEF on our build machines at some point recently apparently.

[2015-08-24 01:50] jdm commented on #7324
No, that's not true:
http://build.servo.org/builders/linux2/builds/2873/steps/compile_1/logs/stdio is from the most recent automated build.

[2015-08-24 01:50] jdm commented on #7324
We just stopped recognizing failed builds for it :/

[2015-08-24 01:51] jdm commented on #7324
Same for android builds, which explains why @connorimes was seeing a build error recently.

[2015-08-24 01:52] cb88 commented on #7324
Ah well good thing I had a go at it manually and reported it then! I was hoping you did have automated builds for CEF... I was thinking of updating an FLTK CEF demo I found.

[2015-08-24 09:15] Ms2ger opened #7332 "Add a test for #7316."
CC @paulrouget

[2015-08-24 09:22] paulrouget commented on #7332
Where should such a test be located? in `tests/html`?

[2015-08-24 09:24] Ms2ger commented on #7332
No, those are manual tests. Either under `tests/wpt/mozilla/tests/css/`, or submitted directly to https://github.com/w3c/csswg-test

[2015-08-24 09:44] SimonSapin opened #7333 "Match :active for elements that are being activated."
#7258 adds an `IN_ACTIVE_STATE` flag (for `script::dom::node::Node::get_flag` and `set_flag`) and matches the `:active` pseudo-class selector based on it, but this flag is never set.

This flag should be set when an element is _being activated_ per https://html.spec.whatwg.org/multipage/#selector-active

[2015-08-24 10:25] nox commented on #4276
Restoring quirks-mode.css to the initial quirks table rules that @Ms2ger pasted fixes the problem on HN.

[2015-08-24 11:01] paulrouget opened #7335 "Make it possible to run tests with the experimental flag"
Some features are only available when Servo runs with the `-e` option.

[2015-08-24 11:01] paulrouget commented on #7332
Depends on #7335

[2015-08-24 11:54] #7316 closed

[2015-08-24 13:48] jdm commented on #7335
One option we have is to run all tests with `-e`: https://github.com/w3c/wptrunner/blob/master/wptrunner/executors/executorservo.py#L195 and https://github.com/w3c/wptrunner/blob/master/wptrunner/executors/executorservo.py#L65

[2015-08-24 13:58] catchmrbharath commented on #6739
I think I am stuck at the same place as @chotchki. I think we should having the quota as a separate field which counts both the limits together, rather than separating it out and making it part of the tuple. Which one would be better?

[2015-08-24 14:54] jdm opened #7336 "Move RegisterBindings::RegisterProxyHandlers call into script::init"
There's no reason that we should have to call RegisterProxyHandlers directly. It can go in the catch-all global initialization for the script crate, instead.

Code: components/script/lib.rs, components/servo/lib.rs

[2015-08-24 15:27] jdm commented on #6739
@catchmrbharath I think I still prefer having separate quotas for localStorage and sessionStorage, rather than a combined quota that needs to be stored separately.

[2015-08-24 15:44] jxs commented on #7336
i can take this one

[2015-08-24 17:28] benschulz commented on #5331
Beyond categorizing runnables, I've singled out SendEvent which – at least in debug builds – takes up a significant amount of time. Other than that I'm lumping events together by source (Constellation, Devtools, etc). Were you looking for any more categories than that? Or should I leave that up to whomever ends up profiling?

[2015-08-24 17:31] jdm commented on #7336
Great!

[2015-08-24 17:51] connorimes commented on #7328
This could be because the heartbeats-simple git submodule is not being init'd.  I'm not familiar enough with git to know why this works in some cases but not others.  Maybe different git versions behave differently w.r.t to checking out submodules when a repository is cloned?  I don't explicitly init submodules in the build script when attempting to compile the native dependency, but maybe I need

[2015-08-24 18:00] connorimes opened #7339 "Mismatched types error compiling for android: expected api::android::HeadlessContext, found api::egl::Context"
Some recent changes appear to have broken the android build:

<pre>
/local/servo/./.cargo/git/checkouts/glutin-266ef3a474e2d7ce/servo/src/api/android/mod.rs:260:12: 260:19 error: mismatched types:
 expected `api::android::HeadlessContext`,
    found `api::egl::Context`
(expected struct `api::android::HeadlessContext`,
    found struct `api::egl::Context`) [E0308]
/local/servo/./.cargo/git/checkout

[2015-08-24 18:11] jdm commented on #5331
That seems like a reasonable starting point!

[2015-08-24 18:37] #7336 closed

[2015-08-24 20:48] Hoverbear opened #7343 "Don't eagerly, serialially download fonts."
cc @mbrubeck

I was testing [hoverbear.org](http://hoverbear.org/) in Servo and noticed it loaded extremely slow (~17s). @mbrubeck and I did a bit of digging using `RUST_LOG=net` on the page and noticed that many web requests were being made to the server to download [KaTeX](https://khan.github.io/KaTeX/) fonts, which are fetched lazily in Firefox.

Firefox fetches zero KaTeX related fonts on the

[2015-08-24 21:25] jdm opened #7344 "Make reftest_directories a string instead of a list"
We only have one directory for reftests, yet `reftest_directories` is a list. This seems silly to me.

Code: python/tidy.py

[2015-08-24 21:38] frewsxcv commented on #3030
Although I haven't tested it, someone wrote an OpenType parser in Rust

https://github.com/bodoni/opentype

[2015-08-24 21:40] jdm opened #7345 "Make style nit check for space after a comma more thorough"
Right now it only flags a small number of things that follow a comma: http://mxr.mozilla.org/servo/source/python/tidy.py#206 . Instead, we should check for `,[^\s]`.

Code: python/tidy.py

[2015-08-24 22:03] #7328 closed

[2015-08-24 22:04] jdm opened #7347 "BinaryOrPlaintextClassifier::classify_impl does not need to return Option"
It always returns a Some value, so it can just return `(&'static str, &'static str)` instead.

Code: http://mxr.mozilla.org/servo/source/components/net/mime_classifier.rs

[2015-08-24 22:57] saratang commented on #7347
Hi, I'd like to work on this issue please!

[2015-08-24 23:13] jdm commented on #7347
Go for it!

[2015-08-25 03:33] jdm opened #7353 "Add a style_traits crate to improve crate separation"
There are cases where some crates (eg. `compositing` and `msg`) that rely on very few public types from the style crate (such as `viewport::ViewportConstraints`). We should be able to extract these into a separate `style_traits` crate and make `style` depend on that, to reduce the number of crates that need to be rebuilt when making changes to `style`.

[2015-08-25 03:34] jdm commented on #7353
See components/script_traits/ and components/devtools_traits for good examples of this.

[2015-08-25 05:09] wilmoz commented on #7345
I'll take this.

[2015-08-25 11:54] SimonSapin commented on #6856
Tests should allow either behavior: https://github.com/w3c/csswg-test/pull/831#issuecomment-134562768

[2015-08-25 12:57] jdm opened #7356 "Forbid multiline imports"
tidy.py already checks for `use` statements with an opening `{` but no `}` on the same line, but we miss ones like http://mxr.mozilla.org/servo/source/components/script/dom/webglrenderingcontext.rs#5 . Let's fix that by looking for `use` statements with no `;` instead.

Code: python/tidy.py

[2015-08-25 13:02] jdm opened #7357 "Make dom_struct derive HeapSizeOf"
Currently all of our DOM types have `#[dom_struct]` and `#[derive(HeapSizeOf)]`. We should make `#[dom_struct]` add that annotation automatically instead.

Code: `expand_dom_struct` in components/plugins/jstraceable.rs

[2015-08-25 13:02] jdm commented on #7345
@wilmoz: Unfortunately @nerith already submitted a PR in #7351.

[2015-08-25 13:10] jdm opened #7358 "Make handle_potential_webgl_error more ergonomic"
We have a macro called `handle_potential_webgl_error` which takes a return value as the third argument. In the case where a caller has a void return type, we use it like `handle_potential_webgl_error(a, b, ())` which I find ugly. We can extend the macro to have a second variant that only takes two arguments and passes the `()` argument internally, like http://mxr.mozilla.org/servo/source/component

[2015-08-25 13:27] jxs commented on #7357
i can take this one

[2015-08-25 13:45] jdm commented on #7357
Ok!

[2015-08-25 14:50] wilmoz commented on #7358
I take this :).

[2015-08-25 14:56] Ms2ger commented on #7328
That didn't help, but installing cmake did

[2015-08-25 14:58] jdm commented on #7358
Great!

[2015-08-25 15:16] wilmoz commented on #7358
When you pass None as the third argument do you not mean it's () ?

[2015-08-25 15:19] jdm commented on #7358
No, None is used for methods that return `Option<T>`. The () is used for methods that have no return type at all.

[2015-08-25 15:28] cb88 commented on #7324
I was able to build-cef. So looks like that is fixed although I'm not sure about the buildbot reporting failures...

[2015-08-25 15:31] wilmoz commented on #7356
I try this.

[2015-08-25 17:07] Ms2ger commented on #7324
Yes, sorry, forgot to update this issue. I fixed the build in #7359, and buildbot should report failures now (except for android, which I didn't know how to fix)

[2015-08-25 17:07] #7324 closed

[2015-08-25 17:10] jdm commented on #7356
Thanks!

[2015-08-25 18:24] boghison commented on #7357
Are you kidding me?

[2015-08-25 18:30] Adenilson commented on #5187
@shinglyu are you planning to continue working on this? If not, can I step in?

[2015-08-25 18:43] wilmoz opened #7363 "Servo crash after open an URL"
[code]

OS: debian
freeglut3-dev: 2.8.1-2
libfreetype6-dev: 2.5.2-4
libgl1-mesa-dri: 10.6.3.1
libglib2.0-dev: 2.44.1-1.1
xorg-dev: 2:1.17.2-1.1
libglu1-mesa-dev: 9.0.0-2
libosmesa6-dev: 10.6.3-1

[2015-08-25 19:07] lygstate commented on #500
Does this have been fixed?
It's seems that servo are using GLFW

[2015-08-25 19:10] mbrubeck commented on #500
Yes, this is fixed.

[2015-08-25 19:10] #500 closed

[2015-08-25 19:35] SimonSapin commented on #7363
Do you have an X server running? Is the `DISPLAY` environment variable set accordingly? What’s your graphics hardware? What drivers are you using for it?

[2015-08-25 19:44] jdm opened #7365 "Write tests for TextInput when clearing a selection"
#6854 originally changed the behaviour of the input caret when clearing a selection due to moving the caret, but no tests broke. We should write tests that ensure that when the selection is cleared, the caret position is either at the start of the previous selection when pressing left, or at the end of the previous selection when pressing right.

Code: tests/unit/script/textinput.rs

[2015-08-25 19:45] wilmoz commented on #7363
Yes, x server is running,
Hardware: VGA compatible controller [0300]: Intel Corporation Core Processor Integrated Graphics Controller [8086:0046]
Graphics driver: xserver-xorg-video-intel.
I don't know how to set DISPLAY environment

[2015-08-25 20:22] connorimes opened #7366 "Glutin errors using -g option - page does not render"
Trying to run with the -g option to use GPU rendering.  Glutin is spitting out some errors and I'm left with a white page.

Hardware is a Thinkpad X1 Carbon 3rd Gen running Ubuntu 15.04 with kernel `4.2.0-040200rc6-generic`.

<pre>
/local/servo$ ./mach run -r -g 'tests/html/perf-rainbow.html'
[glutin] x error code=87 major=0 minor=0!
[glutin] x error code=91 major=0 minor=0!
[glutin] x error code=

[2015-08-25 20:23] jdm opened #7367 "Intermittent failure starting mach"
Not really sure what to make of this.
[code]

[2015-08-25 21:03] #5376 closed

[2015-08-25 21:51] jdm commented on #7367
This was caused by a syntax error in MANIFEST.json.

[2015-08-25 21:51] #7367 closed

[2015-08-26 00:43] mrobinson commented on #2003
I think the block.rs comment might be invalid now, because we have a different scrolling model in the compositor now. The comment in script_task.rs looks valid, but I don't think it's necessarily related to this bug any longer.

[2015-08-26 01:55] dhananjay92 commented on #6670
I found a simpler way. See commit-[964cd3](https://github.com/dhananjay92/servo/commit/964cd3). It works only for git >= 1.9. Should I send a pull for it?

Do we want to exclude some other generated files too?

[2015-08-26 02:46] frewsxcv commented on #934
Visiting for triage: as of today, this is still not done

https://github.com/servo/servo/blob/a1cd27e6a3b961129fd4710513cc29e4f7c9cc67/components/script/dom/webidls/Document.webidl#L78

[2015-08-26 02:53] frewsxcv commented on #87
Update: #420 has been closed

[2015-08-26 03:15] shinglyu commented on #5187
@Adenilson I wish I can finish it, but I'm too occupied right now. I can hand over the half-done prototype to you. It's a little tricky because you need to modify `rust-azure` as well.

[2015-08-26 03:32] frewsxcv commented on #2074
These warnings no longer exist. Any reason to keep this around?

[2015-08-26 05:34] SimonSapin commented on #2074
Yes, this was done a while ago.

[2015-08-26 05:34] #2074 closed

[2015-08-26 06:13] Manishearth commented on #6670
Exclude minified JS, and everything in `tests/wpt` (perhaps all of `tests/`?) I guess.

[2015-08-26 07:03] paulrouget opened #7372 "relative inline-block div gets cut off if a position:fixed element is present"
[code]

Removing the `position:fixed` element fixes the problem.

<img width="521" alt="screen shot 2015-08-26 at 09 03 35" src="https://cloud.githubusercontent.com/assets/373579/9487381/5c211c30-4bd1-11e5-91ec-4c3e095cbfcb.png">

[2015-08-26 07:04] paulrouget commented on #7372
cc @pcwalton

[2015-08-26 07:25] paulrouget opened #7373 "element, in a position:relative + overflow:hidden element, is shifted"
[code]

In the `div`, if `top:X`, the `div` is shifted down by `X`. It's expected. But the `span` is also shifted down by `X` within the `div`.

<img width="663" alt="screen shot 2015-08-26 at 09 23 33" src="https://cloud.githubusercontent.com/assets/373579/9487665/24e3141e-4bd4-11e5-9aaa-a19c0a4d16d2.png">

[2015-08-26 07:26] paulrouget commented on #7373
cc @pcwalton

[2015-08-26 07:33] Ms2ger opened #7374 "Closing Servo manually no longer works"

[2015-08-26 07:44] paulrouget opened #7375 "pointer-events:all doesn't work on child of pointer-events:none"
[code]

![8edhtosohn](https://cloud.githubusercontent.com/assets/373579/9488004/e2272144-4bd6-11e5-8209-52217bbba926.gif)

[2015-08-26 08:51] paulrouget opened #7377 "Iframe content not painted at the right coordinate if the iframe is in a transformed element"
Related: https://github.com/servo/servo/issues/7282

[code]

<img width="468" alt="screen shot 2015-08-26 at 10 51 15" src="https://cloud.githubusercontent.com/assets/373579/9489302/65757c9a-4be0-11e5-9150-74302bdd4ed7.png">

[2015-08-26 08:52] paulrouget commented on #7377
cc @pcwalton

[2015-08-26 10:16] #1575 closed

[2015-08-26 10:41] paulrouget commented on #7083
See also: https://github.com/mozilla/browser.html/issues/639

[2015-08-26 11:48] jdm commented on #7374
This will be fixed by #7368.

[2015-08-26 11:49] paulrouget opened #7379 "Implement a Servo-based runtime"
(This bug is here mostly to get feedback)

We want to port browser.html to servo. So we need something like B2G/Graphene.

Beside making sure Servo [renders properly](https://github.com/mozilla/browser.html/issues/562) and implement all the necessary APIs (Settings API, Browser API), we also want the app to properly integrate with the operating system (multi-window management, app restart/updates,

[2015-08-26 12:09] paulrouget commented on #5394
To make Browser.html an actual app based on Servo, 3 tasks are needed:

1. make sure Servo can properly render Browser.html: https://github.com/mozilla/browser.html/issues/562
2. implement the Browser API or whatever we decide to use to build tabs: https://github.com/mozilla/browser.html/issues/639
3. build a servo runtime: https://github.com/servo/servo/issues/7379

[2015-08-26 12:23] jdm commented on #7379
I'm certainly in favour of experimenting with this model. https://github.com/meh/miserve/ looks like a good model of embedding without CEF.

[2015-08-26 12:26] jdm opened #7380 "Intermittent failure in css21_dev/html4/reference/margin-bottom-019-ref.htm"
[code]

[2015-08-26 12:26] jdm commented on #7380
@aweinstock314 This looks related to the recent clipboard integration.

[2015-08-26 12:28] jdm commented on #7375
I'm pretty sure this is simply because we don't parse the `all` keyword for `pointer-events`: http://mxr.mozilla.org/servo/source/components/style/properties.mako.rs#2490

[2015-08-26 12:51] jdm opened #7381 "Check for multiple import blocks separated by whitespace"
Following the recommendation in https://groups.google.com/forum/#!topic/mozilla.dev.servo/FoiIS5zWujE , we'd like to merge all of our import blocks together and report any unmerged ones as errors. This should be possible if we store a boolean values for "last line was a use statement", "encountered whitespace following a use statement", and when encountering a use statement we can report an error

[2015-08-26 13:13] jdm opened #7382 "Use descriptive enums instead of booleans for MIMEClassifier::classifer"
Enums are self-documenting in a way that true/false in function arguments are not.

Code: components/net/mime_classifier.rs

[2015-08-26 13:35] #3144 closed

[2015-08-26 13:37] jdm commented on #4212
For determining a Content-Type header, we could use https://github.com/cybergeek94/mime_guess .

[2015-08-26 13:41] jdm commented on #4183
We should add a `Context` enum and require it to be passed to the `LoadData` constructor. We can then use this in `start_sending_sniffed_opt` (pass it as an argument) and have special rules for each of the contexts described in the spec.

[2015-08-26 13:41] jdm commented on #4183
Code: components/net_traits/lib.rs

[2015-08-26 13:48] paulrouget commented on #7375
Oh, good catch. We will use `auto` in browser.html from now.

[2015-08-26 13:56] jdm commented on #4861
This was accomplished. Filing a new issue for the actual removal.

[2015-08-26 13:56] #4861 closed

[2015-08-26 13:57] jdm opened #7383 "Remove `get_unsound_ref_forever()`."
Nobody calls get_unsound_ref_forever any more. Let's remove it!

Code: components/script/dom/bindings/js.rs

[2015-08-26 13:59] #6105 closed

[2015-08-26 14:06] jdm commented on #6934
Still working on this, @JoshTheGoldfish?

[2015-08-26 15:18] paulrouget commented on #7335
So running all the test with `-e` won't work. See https://github.com/servo/servo/pull/7385#issuecomment-135057940 and following comment.

[2015-08-26 15:37] jdm opened #7390 "Ensure lists of modules are in alphabetical order"
For lists like
[code]
We should verify that they are sorted alphabetically by module name and report an error if not.

Code: python/tidy.py

[2015-08-26 15:38] jdm commented on #7390
See the code for checking sorted-ness of `use` statements for inspiration: http://mxr.mozilla.org/servo/source/python/tidy.py#246

[2015-08-26 15:59] JoshTheGoldfish commented on #6934
@jdm: Yes, though I have quite a few questions. What's the best way to get in touch with you? Here, or the IRC?

[2015-08-26 16:01] Ms2ger commented on #6934
Either will work, though IRC might be faster.

[2015-08-26 16:20] #7031 closed

[2015-08-26 16:24] dhananjay92 commented on #6670
I think in the original issue#[5838](https://github.com/servo/servo/issues/5838#issuecomment-96238528) we wanted to include everything in `tests` except `test/wpt`. Can you confirm that it has changed now? I am just making sure, I understand the requirements correctly. :smile:

[2015-08-26 16:44] pcwalton commented on #7372
Probably an overflow calculation problem for layers. Actually I just fixed one of those.

[2015-08-26 17:27] pcwalton commented on #7377
Iiiiiiinteresting. Would have thought that would be fixed by #7282.

[2015-08-26 17:50] Manishearth commented on #6670
Everything in `tests/` except for `wpt` and `jquery` sounds good  to me.

[2015-08-26 18:03] jdm opened #7393 "Fix spacing errors in MIME classifier for feeds"
The steps at https://mimesniff.spec.whatwg.org/#rules-for-distinguishing-if-a-resource-is-a-feed-or-html don't include spaces in strings like "rdf: RDF" and "http:// purl.org", whereas our implementation does. We should walk through it carefully and correct them. Adding comments indicating which step is being executed would also be valuable.

Code: components/net/mime_classifier.rs

[2015-08-26 18:04] jdm commented on #7393
We should also ensure that we have tests for these broken classifiers!

[2015-08-26 18:04] jdm commented on #7393
It looks like there are only basic tests for feeds in http://mxr.mozilla.org/servo/source/tests/unit/net/mime_classifier.rs#436

[2015-08-26 18:22] #7344 closed

[2015-08-26 20:04] frewsxcv opened #7396 "Implement document.all"
https://html.spec.whatwg.org/#dom-document-all

[2015-08-26 20:04] frewsxcv commented on #7396
I'm working on this

[2015-08-26 20:04] frewsxcv commented on #7396
Related to https://github.com/servo/servo/issues/3223

[2015-08-26 20:55] larsbergstrom commented on #7339
@metajack This also points to a builder issue - this build error is in master, but is reporting 'success' in the waterfall!
http://build.servo.org/builders/android/builds/2876/
http://build.servo.org/builders/android/builds/2876/steps/compile/logs/stdio

[2015-08-26 20:57] metajack commented on #7339
[code]

Looks like a compiler bug that it didn't exit with non-zero? Or did someone trap for non-zero exits in mach and ignore them?

[2015-08-26 22:09] frewsxcv commented on #7396
[The spec](https://html.spec.whatwg.org/multipage/obsolete.html#dom-document-all) makes a mention of "several unusual behaviours" that need to be implemented. @jdm informed me on IRC that there is no infrastructure in-place to support these unusual behaviors, so there's not much point in progressing `document.all` without it. Unassigning.

[2015-08-26 22:18] pcwalton opened #7398 "Don't renegotiate SSL sessions on every resource load"
Go to http://en.wikipedia.org/wiki/Servo and notice that SSL is dominating the CPU usage. We really need to reuse SSL sessions!

[2015-08-26 22:22] jdm commented on #7339
@Ms2ger fixed this yesterday, but we left a hack in for the android build so it didn't stop us landing other PRs.

[2015-08-26 22:22] jdm commented on #7339
And by _this_ I mean the silent builder errors.

[2015-08-26 22:23] jdm commented on #7339
https://github.com/servo/servo/pull/7359

[2015-08-26 22:24] jdm commented on #7339
See #7324 for the related problem.

[2015-08-26 22:42] jdm commented on #7398
Will connection pooling help here?

[2015-08-26 22:52] pcwalton commented on #7398
I'm not familiar enough with the internals of Hyper to answer that, unfortunately.

[2015-08-27 00:18] Manishearth opened #7402 "Intermittent crash on /webstorage/storage_session_setitem_quotaexceedederr.html"
[code]

https://github.com/servo/servo/pull/7395#issuecomment-135208098

http://build.servo.org/builders/linux2/builds/2913/steps/shell_1/logs/stdio

[2015-08-27 00:19] gordonbrander commented on #5394
We'll also need to implement the minimum footprint for getting [signed code](https://wiki.mozilla.org/FirefoxOS/New_security_model#Signing_-_bug_1153420) working.

[2015-08-27 00:21] jxs commented on #7383
can take this one also

[2015-08-27 01:20] #7383 closed

[2015-08-27 01:54] dzbarsky commented on #7402
Dupe of #7149  (which might be a dupe of #6734 )

[2015-08-27 02:15] dzbarsky opened #7404 "serialize_list should not append a space at the end of the list"
for example, element.style['border-width'] should return |0px 0px 0px 0px| not |0px 0px 0px 0px |
The code to blame is serialize_list in cssstyledeclaration.rs (http://mxr.mozilla.org/servo/source/components/script/dom/cssstyledeclaration.rs#54) and the problem is that it folds over the list and adds a space after every list element. Instead, it should join the declaration values with a space.

[2015-08-27 02:22] frewsxcv commented on #7404
We should utilize [this utility function](https://github.com/servo/servo/blob/7a6d8a30d316fb65c2c846d3d6d0d5e33b29bc5c/components/util/str.rs#L331-L337)

[2015-08-27 02:27] frewsxcv commented on #7404
Though, that utility function might only work if the in the slice can `AsRef` to `str`, so it might not be appropriate in this case (unless the utility gets altered to take an `Iterator` instead of a slice)

[2015-08-27 02:56] #7402 closed

[2015-08-27 03:51] glennw commented on #7339
I've submitted https://github.com/tomaka/glutin/pull/584 upstream to fix the android build (although it may need some changes depending on how tomaka wants to handle android using static binding generators for egl). Once that is merged, I'll update our glutin.

[2015-08-27 06:31] Ms2ger commented on #7396
I have no intention of accepting a patch for document.all at this point.

[2015-08-27 06:38] dzbarsky commented on #7404
I think we may be able to just call vec.join(" ") (after mapping the declarations to the values)

[2015-08-27 07:21] Ms2ger commented on #7149
#6734

[2015-08-27 08:35] #2240 closed

[2015-08-27 09:18] #7357 closed

[2015-08-27 09:40] jxs commented on #7353
can i take this one?

[2015-08-27 09:53] Ms2ger commented on #7353
Go for it!

[2015-08-27 12:58] paulrouget commented on #7379
Ideally, this could follow the same architecture as nodejs/electron,

Here is a description of the minimal set of features we would need:

**Runtime**

- [rust-mozjs](https://github.com/servo/rust-mozjs)
- event loop
- some globals
- module building & loading mechanism (optional?)

**Globals**

Subset of http://nodejs.org/api/globals.html

[code]

**modules**

[http://nodejs.org/api/modules.html#m

[2015-08-27 13:08] paulrouget commented on #7379
I was thinking… maybe the top level JS file could be a [shared worker](https://developer.mozilla.org/en-US/docs/Web/API/SharedWorker), shared among the different BrowserWindows, with an extended life time (doesn't die even if there's no window anymore). Workers already have a message-passing system, so we could leverage that too. Just an idea…

[2015-08-27 13:11] paulrouget opened #7408 "Support setting the window dragging region with CSS"
Glutin allows [decoration-less windows](http://tomaka.github.io/glutin/glutin/struct.WindowBuilder.html#method.with_decorations). We can paint where the titlebar is supposed to be displayed by the OS, and then build our own titlebar (thinking of browser.html here).

But we need to be able to tell the OS what region of the UI is draggable.

The equivalent of `-webkit-app-region: drag` and `-moz-win

[2015-08-27 13:52] s142857 commented on #7365
could you please expand on the test, and what language should i use and how should i run it.(any tools)

[2015-08-27 14:05] jdm commented on #7365
@s142857 There are already similar tests that exist in tests/unit/script/textinput.rs . We want to add some more tests for the cursor behaviour when there is a selection present and an arrow key is pressed that causes the selection to be cleared. Does that make sense?

[2015-08-27 14:05] jdm commented on #7365
The tests can be run with `./mach test-unit -p script`.

[2015-08-27 14:12] timkuijsten opened #7409 "can servo be a clean and modern reference platform for developers?"
As a web developer I'm confronted with an ever increasing stack of portability hacks and complexity. The latest tool I heard of to workaround this issue is [cssnext.io](http://cssnext.io/) but many already exist. It would be nice to have some sort of minimal reference platform that only implements the latest standards but doesn't care as much about backwards compatibility as all current browsers d

[2015-08-27 14:41] s142857 commented on #7301
I wanna work on it, could you guide me @jdm

[2015-08-27 14:54] SimonSapin commented on #7409
The web is messed up, and many (most?) sites don’t get updated. As much as a pain this is, such is life. Even Presto Opera had to deal with it and implement quirks mode and all the other weird things that can’t be changed without breaking the web.

I think this is absolutely not true. For us Servo developers, this separation (if it’s even possible) sounds like a bunch of additional work with no be

[2015-08-27 14:54] #7409 closed

[2015-08-27 15:29] metajack commented on #7396
@Ms2ger Can you be more specific about why? I'm assuming this is getting deprecated? I saw mention on blink-dev that `if (document.all)` returns falsey, so I'm assuming it's old and crufty.

[2015-08-27 16:24] Ms2ger commented on #7396
I'm still hoping it can be removed from the platform eventually.

[2015-08-27 16:29] mdinger opened #7410 "Scrolling is slow"
Scrolling speed is slow again. It was previously fixed for https://github.com/servo/servo/issues/5660 but now isn't anymore.

[2015-08-27 16:31] Ms2ger commented on #7409
Those two things are diametrically opposed. Modern standards go to great lengths to specify handling of all input, and making sure that handling is compatible with existing browsers.

[2015-08-27 16:36] mdinger commented on #7311
Oh, this is problematic for a website like http://www.dota2.com/hero/Earthshaker/ which renders pretty badly in general.

[2015-08-27 16:42] timkuijsten commented on #7409
Interesting point. That does mean the system only expands and becomes more complex over time. Not sure if this will explode (or implode) some day.

[2015-08-27 16:44] jdm commented on #7410
Which platform do you see this on?

[2015-08-27 18:28] vbuell commented on #7410
I can confirm that the scrolling is 1px per mouse wheel rotation. Linux

[2015-08-27 18:40] jdm commented on #7410
I suspect this will be fixed by https://github.com/tomaka/glutin/pull/580.

[2015-08-27 18:42] nox opened #7412 "Import ordering tidy check confused by multiple use statements from same module"
[code]
[code]
<hr>
[code]
[code]

[2015-08-27 18:44] jdm opened #7413 "Make test-tidy check that braces have spaces before or after them"
We should be able to catch and report style violations like `Foo {a: 5, b: 6}` by finding `{[^s]` and `[^s]}`. Let's see how many violations that finds and whether we need to be more specific.

Code: python/tidy.py

[2015-08-27 18:45] jdm commented on #7412
Can this be fixed by reordering the `url::{` entries after the others? That would imply that `{` comes after `a-z` in alphabetical order.

[2015-08-27 18:47] nox commented on #7412
Well, that's why I opened the issue, I don't want to reorder it like this.

[2015-08-27 18:47] frewsxcv commented on #7413
Interesting, I've never met anyone who prefers `Foo { a: 5, b: 6 }` over `Foo {a: 5, b: 6}`, but so be it

[2015-08-27 18:48] nox commented on #7413
I prefer the former.

[2015-08-27 18:50] frewsxcv commented on #7413
Should this apply to functions as well? e.g. `add( 1, 2 )`

[I think it looks weird to me because I'm used to Python which specifically calls out this](https://www.python.org/dev/peps/pep-0008/#pet-peeves)

[2015-08-27 18:53] frewsxcv commented on #7413
Just checked rustfmt and it looks like it does what you suggest, so SGTM

https://github.com/nrc/rustfmt/blob/25650c2a8bc2873cd0eb13a4511aeee7e2f94f25/tests/target/struct_lits.rs#L7

[2015-08-27 18:54] nox commented on #7413
@frewsxcv It's also the usual style in OCaml, and probably other languages I am forgetting right now or just don't know about.

[2015-08-27 18:54] frewsxcv commented on #7413
(though not for imports)

https://github.com/nrc/rustfmt/blob/25650c2a8bc2873cd0eb13a4511aeee7e2f94f25/tests/target/imports.rs

[2015-08-27 19:00] jdm commented on #7413
We're definitely going to have to ignore lines with `::{` in them.

[2015-08-27 19:02] Ms2ger commented on #7413
I prefer `Foo {a: 5, b: 6}` spanned over four lines :)

[2015-08-27 20:03] dzbarsky commented on #7322
Will be fixed by #7400

[2015-08-27 20:03] dzbarsky commented on #7290
Will be fixed by #7400

[2015-08-27 22:16] nox commented on #3868
`JSRef<T>` is dead, I believe this can be closed.

[2015-08-27 22:16] #3868 closed

[2015-08-27 22:44] mdinger commented on #7410
Yeah, same for me. Ubuntu 14.04

[2015-08-28 00:08] nickdesaulniers commented on #7218
https://www.dropbox.com/s/l2oywvluzwjwy9o/demo.zip?dl=0

[2015-08-28 00:23] nox commented on #2770
d0e095a3e5fee47d65cd5cf08cc9644223c2b64b

[2015-08-28 00:23] #2770 closed

[2015-08-28 00:24] jdm opened #7419 "canvas.getContext('webgl') from the web console segfaults"
Run the devtools, and enter `document.createElement('canvas').getContext('webgl')` in the console.
[code]

[2015-08-28 00:25] jdm commented on #7218
[code]

[2015-08-28 00:29] jdm commented on #7218
Looks like we need to implement the preserveWrapperCallback API to allow our DOM objects to be stored in WeakMaps.

[2015-08-28 00:34] samfoo opened #7420 "Network responses aren't sent to devtools when the request fails"
If there's a CORS failure, an invalid redirect or any other kind of error after the request is sent, the corresponding response message never gets sent.

See:

components/net/http_loader.rs

Dependent on #7139 to merge.

[2015-08-28 00:37] jdm opened #7421 "Sync requests for cookies and HSTS upgrades aren't great"
We should find a more efficient way of getting the required information from the main resource manager to the relevant in-progress network request that doesn't rely on queuing a message and waiting on a channel.

Dependent on #7139 to merge.

[2015-08-28 00:58] jdm opened #7422 "Intermittent ipc-channel assertion in /html/semantics/embedded-content/the-canvas-element/size.attributes.setAttribute.hex.html and size.attributes.setAttribute.zero.html"
[code]

[2015-08-28 00:58] jdm commented on #7422
@pcwalton This is an assertion failure in ipc-channel.

[2015-08-28 02:26] pcwalton opened #7424 "Inlines should be able to create stacking contexts if not filtered, canvas, or iframe"
See the comment in `build_display_list_for_inline`. Related: #5812.

[2015-08-28 02:53] mdinger opened #7425 "testcase: input box improperly located"
This doesn't locate the input box properly. This is from a teardown of an [lol site](http://gameinfo.na.leagueoflegends.com/en/game-info/items/). Testcases:

* [testcase1](https://mdinger.github.io/servo_7425/testcase1.html) (the original)
* [testcase2](https://mdinger.github.io/servo_7425/testcase2.html)
* [testcase3](https://mdinger.github.io/servo_7425/testcase3.html)

[code]

A picture of it:

[2015-08-28 03:04] mdinger commented on #7425
Updated with linked testcase and a picture

[2015-08-28 03:10] mdinger commented on #7410
Is this testable? It seems like a good idea if it is.

[2015-08-28 05:49] Wafflespeanut opened #7427 "tidy should suggest how to sort the `use` statements"
As of #7265, tidy checks for alphabetical order of use statements. While that's a great idea, it doesn't give useful output. It just says something like,

    <filename> <line>: use statement is not in alphabetical order

While making a lot of changes, I often seem to forget how the `sorted` function in Python works, and so every time I make some *sporadic* change (which happens often during refac

[2015-08-28 06:45] tyoc213 commented on #6075
[code]

I got ```TypeError: qa.lb is not a function```

[code]

as for ```rust-pkix```is this the author? https://github.com/servo/servo/issues/4954#issuecomment-128057090

[2015-08-28 06:54] tyoc213 commented on #3510
Yeah, I just build it in release and I can't do https://github.com/servo/servo#keyboard-shortcuts ```Ctrl+L``` nor ```Cmd+L```on a page.

[2015-08-28 10:13] #7427 closed

[2015-08-28 10:54] benschulz commented on #3396
Are you still working on this, @pgonda? If not, I'd like to try my hand at it.

[2015-08-28 11:31] GyrosOfWar commented on #7404
I'd like to do this one.

[2015-08-28 12:26] larsbergstrom opened #7430 "Consider prioritizing iframes and content based on "essential-ness""
Chrome's push to pause non-essential Flash ads caused them to come up with some interesting heuristics for whether or not a piece of content on a page is "essential":
https://chromium.googlesource.com/chromium/src.git/+/master/content/renderer/pepper/plugin_instance_throttler_impl.cc
https://chromium.googlesource.com/chromium/src.git/+/master/content/renderer/pepper/plugin_power_saver_helper.cc

C

[2015-08-28 13:14] jdm commented on #3510
This disappeared as part of the switch from GLFW to Glutin, I believe. We have no handling for ctr/cmd+l present in http://mxr.mozilla.org/servo/source/ports/glutin/window.rs#640 .

[2015-08-28 13:17] jdm commented on #3510
Oh, looks like this was very intentional: https://github.com/servo/servo/commit/c39852a3f4829ac6e0fd4e303600ca8e880fa412

[2015-08-28 13:21] jdm commented on #3396
According to the conversation at the bottom of https://github.com/servo/servo/compare/master...pgonda:timeout-event-loop-thread you are welcome to tackle this, @benschulz. You should definitely at least look through the prior art there, if not steal it entirely :)

[2015-08-28 15:04] frewsxcv commented on #6670
Completed in #7394

[2015-08-28 15:04] #6670 closed

[2015-08-28 15:06] #7374 closed

[2015-08-28 15:15] metajack commented on #7430
This seems like a really interesting idea.

[2015-08-28 17:55] #7296 closed

[2015-08-28 19:55] wartman4404 commented on #7366
Ubuntu seems to have a nonstandard layout for XErrorEvent, which messes with Glutin's error handler.

From `man xerrorevent` (`x11-rs` is the same)

    typedef struct {
         int type;
         Display *display;   /* Display the event was read from */
         unsigned long serial;/* serial number of failed request */
         unsigned char error_code;/* error code of failed request */

[2015-08-28 20:15] jdm opened #7437 "Intermittent timeout in WPT reftests (`Result::unwrap()` on an `Err` value in http_loader)"
[code]

This is caused by an IPC channel creation failure in the HTTP loader. Also reported https://github.com/pcwalton/ipc-channel/issues/6 .

[2015-08-28 20:16] jdm commented on #7366
Thanks @wartman4404!

[2015-08-28 20:46] connorimes commented on #7366
Nice.  Any idea why Ubuntu is using the different layout?  If there's no reason, we may want to file a bug with Ubuntu on Launchpad.

[2015-08-29 07:21] Wafflespeanut commented on #7356
fixed by #7362

[2015-08-29 07:54] Ms2ger opened #7440 "Can't use --debugger=rust-lldb with test-wpt"
CC @jgraham

[2015-08-29 10:09] SimonSapin commented on #7408
Such CSS properties should be prefixed with `-servo-` (to avoid name collisions with possible future standard properties) and not exposed to content, possibly by checking `style::parser::ParserContext::stylesheet_origin` in the parsing code. Or perhaps we need another mechanism for "internal" properties.

[2015-08-29 10:12] SimonSapin commented on #7412
We could have a different sorting function, but I’m not sure that it’s worth it.

[2015-08-29 10:43] Mylainos commented on #7390
I'd like to work on this please. But if something like this happen :
[code]
we don't report an error because they are not sorted alphabetically, right ?

[2015-08-29 11:48] Wafflespeanut commented on #7390
@Mylainos Go ahead and take it! And, I guess we could just neglect inline modules for now :)

[2015-08-29 11:55] Wafflespeanut commented on #7413
Hah! My kind! :hand:

[2015-08-29 14:16] Mylainos commented on #7390
I think it's done but there is a problem with this line http://mxr.mozilla.org/servo/source/components/style/lib.rs#48. For me the lint should be at the upper line but what do you think ?

[2015-08-29 14:51] #7356 closed

[2015-08-29 14:58] simartin commented on #7393
Hi! I'd like to try this one.

[2015-08-29 15:17] Wafflespeanut commented on #7390
@Mylainos Yep, you're right. That's a bit ugly, put that `pub mod foo` in a new line :)

[2015-08-29 15:40] Ms2ger commented on #7393
Go for it!

[2015-08-29 15:41] Ms2ger commented on #7390
I think it's cleaner in this case to keep it all on one line.

[2015-08-29 16:07] notriddle commented on #7425
[code]

Actually, this shows up even without the `<input>`. It's actually a bug in table layout.

[2015-08-29 16:21] jdm commented on #7440
Specifically the debugger does not appear to get launched and the test proceeds without any interruption. This is different than what happens with --debugger=nonexistent, when there's a python backtrace and the mach command fails.

[2015-08-29 16:23] jdm commented on #7390
We should be able to strip any attributes that are used by using the same code as http://mxr.mozilla.org/servo/source/python/tidy.py#194 .

[2015-08-29 16:29] Wafflespeanut opened #7441 "Ensure `extern crate`s are in alphabetical order"
We should educate tidy to check for lines such as

[code]
which should be changed to,

[code]
The code lives at `python/tidy.py`. Also, take a look at #7390 for a similar approach (and #7265 for information about sorting).

[2015-08-29 18:14] Mylainos commented on #7390
The regex at http://mxr.mozilla.org/servo/source/python/tidy.py#195 delete the whole line. This regex `line = re.sub('//.*?$|/\*.*?$|^\*.*?$|^#!?\[.*?]\s', '', line)` delete just the attribute.
Now everything work except inline mod. Should I do a PR ?

[2015-08-29 18:37] Wafflespeanut commented on #7390
@Mylainos Yes, you should! (also, [add a keyword](https://help.github.com/articles/closing-issues-via-commit-messages/#keywords-for-closing-issues) like "fixes #7390")

[2015-08-29 18:37] Ms2ger opened #7444 "Document how to add a repo to homu"
CC @metajack @mbrubeck

[2015-08-29 18:38] Mylainos commented on #7441
What if the `#[macro_use]` is follow by another attribute ?

[2015-08-29 18:39] Ms2ger commented on #7441
Such as?

[2015-08-29 18:40] Ms2ger commented on #7444
Cover travis vs buildbot CI.

[2015-08-29 18:41] Wafflespeanut commented on #7441
probably

[code]

[2015-08-29 18:43] Mylainos commented on #7441
Yes or this one : http://mxr.mozilla.org/servo/source/components/layout/lib.rs#31
[code]

[2015-08-29 19:01] SimonSapin commented on #7390
This might be better as a compiler lint (which uses the existing parser that already knows how to deal with attributes) rather than hack it with string manipulation and regexes.

[2015-08-29 19:24] mbrubeck commented on #7444
Current docs are at https://github.com/servo/saltfs/wiki/Adding-a-repo-to-Homu

[2015-08-30 01:32] ddrmanxbxfr commented on #7382
I've attached a PR regarding the refactor.

Thanks for looking into it.

[2015-08-30 01:36] mdinger commented on #7425
Updated the op to include that testcase as testcase 2.

[2015-08-30 06:03] Wafflespeanut commented on #7441
@Mylainos I say just leave the double attributes and compare it with `servo_plugins`.

[2015-08-30 06:14] Wafflespeanut opened #7451 "Hand over the alphabetical checking to lints!"
If you have a look at #7441, #7390, and #7112, the alphabetical checking for `extern crate`, `use` and `mod` statements are done by tidy. @SimonSapin just told me that all those could be done better with Rust's lints. We already have some lints written by dear @Manishearth, but we need more!

The future code will live at `components/plugins/lints` along with the other lints.

[2015-08-30 06:19] SimonSapin commented on #7451
I’ve been arguing that it may be easier to let rustc’s parser deal with attributes and line breaks rather than do this with string parsing in Python.

[2015-08-30 08:08] nox commented on #7412
Whether or not it's worth it, I'm not sure a tidy check that is wrong is a good idea.

[2015-08-30 11:12] SimonSapin commented on #7412
Is it wrong?

[2015-08-30 11:45] Mylainos commented on #7365
@jdm for sumarize the job is to create a new test with something like that ?
[code]

[2015-08-30 12:14] nox commented on #7412
[code]

I don't see why `qux` should come before `{foo, bar}`, it makes no sense.

[2015-08-30 13:18] Ms2ger commented on #7444
We should probably decide where to centralize those docs. CC @edunham @larsbergstrom

[2015-08-30 13:27] jdm commented on #7365
Precisely!

[2015-08-30 13:37] #7078 closed

[2015-08-30 13:42] #5626 closed

[2015-08-30 14:06] benschulz commented on #5239
I'd like to work on this.

[2015-08-30 14:08] benschulz commented on #5331
Sorry, I forgot to use an issue closing commit message in #7341.

[2015-08-30 14:29] nox opened #7453 "Implement FromJSValConvertible for IDL enums"
We currently codegen this all over the place:
[code]

[2015-08-30 14:38] Mylainos commented on #7365
Ok I think it's done but how should I call the function ? I don't find good name...

[2015-08-30 14:59] jdm commented on #7365
cursor_position_correct_after_clearing_selection?

[2015-08-30 15:01] jdm commented on #5239
Please do :)

[2015-08-30 15:02] #5331 closed

[2015-08-30 15:27] nox commented on #7453
This is a follow-up of #7455, in which I conditionally put mem::transmute() in an unsafe block.

[2015-08-30 15:58] Jayflux commented on #6158
Maybe someone should update the readme?

[2015-08-30 17:03] jgraham commented on #7440
I suspect we need to teach mozdebug about it https://dxr.mozilla.org/mozilla-central/source/testing/mozbase/mozdebug/mozdebug/mozdebug.py#23

[2015-08-30 17:05] jdm opened #7457 "Implement channel messaging (MessageChannel and MessagePort)"
https://html.spec.whatwg.org/multipage/comms.html#channel-messaging

https://html.spec.whatwg.org/multipage/comms.html#messagechannel
https://html.spec.whatwg.org/multipage/comms.html#messageport

@mukilan has an old branch that does some of this and will link it here.

[2015-08-30 17:06] jdm opened #7458 "Implement SharedWorker"
https://html.spec.whatwg.org/multipage/workers.html#shared-workers-introduction

https://html.spec.whatwg.org/multipage/workers.html#shared-workers-and-the-sharedworkerglobalscope-interface
https://html.spec.whatwg.org/multipage/workers.html#shared-workers-and-the-sharedworker-interface

Depends on #7457.

[2015-08-30 17:15] Mylainos commented on #7365
I don't understand why there is three commits but the final is the good one.

[2015-08-30 18:34] Mylainos opened #7460 "Make test-tidy check that = have space after them"
I've found code like this `#[cfg(target_os ="linux")]`. It's a bit ugly and sometimes there is space after the =.

Code : python/tidy.py

[2015-08-30 18:37] SimonSapin commented on #7460
Should we try and go full [rustfmt](https://github.com/nrc/rustfmt) instead?

[2015-08-30 18:37] jdm commented on #7460
Ah, http://mxr.mozilla.org/servo/source/python/tidy.py#217 is not strict enough.

[2015-08-30 18:37] jdm commented on #7460
@SimonSapin Nope; there are outstanding blockers last I checked.

[2015-08-30 18:41] #395 closed

[2015-08-30 19:20] jdm opened #7461 "IDL attributes reflecting non-negative integer content attributes should throw IndexSizeError when set to a negative number"
An example is `document.createElement('input').size = -5`. Firefox throws an exception; Servo silently sets it to -1. https://html.spec.whatwg.org/multipage/infrastructure.html#limited-to-only-non-negative-numbers says that Firefox is right.

We need to modify `parse_plain_attribute` to return a `Result<AttrValue, Error>`, and take an argument indicating whether the attribute is being set by the p

[2015-08-30 19:22] #6145 closed

[2015-08-30 19:30] jdm commented on #7461
I was reading the code wrong. This is accomplished by make_limited_uint_getter.

[2015-08-30 19:33] jdm commented on #7461
Actually a real problem:
[code]
[code]

[2015-08-30 19:33] jdm commented on #7461
The first correctly fails silently and yields the default value. The second should throw an IndexSizeError exception.

[2015-08-30 20:07] nox opened #7462 "Implement ex and ch correctly from font metrics"
ex is currently defined as 0.5em, this is conformant but we could do better and properly get the height of the x in the current font. ch is supposed to be the width of 0, but the spec says that it can also be defined as 0.5em.

Blocks #445.

https://drafts.csswg.org/css-values-3/#font-relative-lengths

[2015-08-30 20:36] JoshTheGoldfish commented on #7460
Mind if take this one?

[2015-08-30 20:48] nox commented on #795
I believe this can be closed, right?

[2015-08-30 20:48] #795 closed

[2015-08-30 20:56] jdm commented on #7460
Go for it!

[2015-08-30 21:42] nox commented on #5807
Roots are movable now.

[2015-08-30 21:42] #5807 closed

[2015-08-30 21:49] nox commented on #7461
Your link is for `long` attributes:

HTMLInputElement.size is actually [`unsigned long`](https://html.spec.whatwg.org/multipage/infrastructure.html#limited-to-only-non-negative-numbers-greater-than-zero):

See #5923, https://github.com/w3c/web-platform-tests/pull/1802, AFAICT the attribute you mention is already covered in WPT, with all its associated edge cases.

[2015-08-30 21:55] jdm commented on #7461
And the testcase from above?

[2015-08-30 21:56] nox commented on #7461
This is the intended behaviour AFAIK. Let me try to reread the tests code and see where the hell that's actually tested.

[2015-08-30 21:56] jdm commented on #7461
Oh right, my mistake. Firefox behaves the same as Servo. This is more relevant for #7323.

[2015-08-30 21:56] #7461 closed

[2015-08-30 21:57] nox commented on #7461
https://github.com/servo/servo/blob/576aad5a1453c850f78c4cba8df9f0e0c6c8f13a/tests/wpt/web-platform-tests/html/dom/reflection.js#L422-L462 for the reference, and because I don't want to believe I looked around for that for nothing. :P

[2015-08-30 22:02] jdm opened #7467 "Implement a pass-through mark_as_root for FlexFlow"
Just like the [Flow impl for TableFlow](http://mxr.mozilla.org/servo/source/components/layout/table.rs#210), we should mark the contained BlockFlow as the root if `mark_as_root` is called on a FlexFlow.

Code: components/layout/flex.rs

Right now the only way to test this is to run `./mach run tests/wpt/css-tests/css-flexbox-1_dev/html/flexbox-root-node-001b.htm --pref layout.flex.enabled`. These

[2015-08-30 22:02] notriddle commented on #7425
More information on this bug: Servo will happily absolutely position a table (either a normal table element or another element with `display:table` on it) on the Y axis, but will not absolutely position it on the X axis. It always acts as if `left:0` was set on the element, no matter what `left` or `right` are set to. Try this test case, for example:

[code]

[2015-08-30 22:11] mdinger commented on #7425
updated op with testcase 3

[2015-08-30 22:22] nox commented on #7218
WeakMaps? Where are they? Do they do what I think they do? Can we use them from Rust for ranges and things like that?

[2015-08-30 22:23] nox commented on #7084
HeapSizeOf is implemented by all of them, isn't it?

[2015-08-30 22:24] jdm commented on #7218
They're SpiderMonkey things. I don't even know the situation for using them from C++, let alone Rust.

[2015-08-30 22:25] jdm commented on #7218
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap

[2015-08-30 22:27] JoshTheGoldfish commented on #7460
While it's true that the regex isn't accounting for a cases like  `#[cfg(target_os ="linux")]`, it looks like attributes in .rs files are being ignored anyway. See http://mxr.mozilla.org/servo/source/python/tidy.py#195.

[2015-08-30 22:28] jdm commented on #7084
Yes, but the JS engine memory measurement is all in C++.

[2015-08-30 22:35] jdm commented on #7460
The answer is "kinda". The attributes get in the way of some of the tidy checks, but it would be beneficial to perform some checks (like this one) on them.

[2015-08-30 23:21] Mylainos commented on #7390
The regex that I changed ```line = re.sub('//.*?$|/\*.*?$|^\*.*?$|^#!?\[.*?]\s', '', line)``` only report the attributes with whitespace after (due to the ```\s```). That was for http://mxr.mozilla.org/servo/source/components/style/lib.rs#48.

But now tidy report that ```./components/gfx/font.rs:104: missing space before =``` http://mxr.mozilla.org/servo/source/components/gfx/font.rs#104.

And thi

[2015-08-31 00:04] JoshTheGoldfish commented on #7460
Ok, my local code now checks to make sure attributes like the one above (or any attribute with an = character) get checked for a space before and after the =. Other attributes like `#[derive(Copy, Clone, PartialEq)]` will be ignored.

There are quite a few files that violate the rule. Should I change these now?

[2015-08-31 00:14] JoshTheGoldfish commented on #7460
Like @Mylainos warned in #7390, the code I wrote will conflict with his change for line http://mxr.mozilla.org/servo/source/python/tidy.py#195.

[code]

[2015-08-31 00:27] Jayflux commented on #5643
I am also getting this issue on VBox 4.3.30 (as 5 isn't compatible on windows 10 yet)

[2015-08-31 01:32] dhananjay92 commented on #5810
I changed the awfy's existing scripts (see [871cc2](https://github.com/dhananjay92/arewefastyet/commit/871cc2)). Now using `build.py`, we can pull and build servo.

But, since I have 32-bit linux, the build fails with Issue #3899 as the reason. I tried doing it on my 64bit Windows machine, but there also it fails at the same place. The exact error:
[code]

Is there any workaround to this? I can al

[2015-08-31 02:06] jdm commented on #5810
The workaround is for us to upload 32 bit linux snapshots like we're supposed to. I'll bring it up in the meeting tomorrow!

[2015-08-31 02:13] jdm commented on #7460
Yeah, I didn't think about things like `#[doc="foo"]`. I think I'm fine making it `#[doc = "foo"]` in service of the greater good.

[2015-08-31 02:14] dhananjay92 commented on #5810
Cool, Thanks.

[2015-08-31 02:28] jdm commented on #5810
FWIW I tried running that branch on OS X and got this:
[code]

[2015-08-31 02:32] jdm commented on #5810
The problem is the current working directory is incorrect for mach's needs; if I cd into `output` and run mach from there, we clone the submodule as necessary.

[2015-08-31 02:56] jdm opened #7469 "Intermittent timeout in /css21_dev/html4/after-content-display-010.htm"
[code]

[2015-08-31 03:55] dhananjay92 commented on #5810
So I need to cd into output first and then invoke `mach`. I didn't run into this one because I never reached that stage. Got the failures while downloading the rust snapshot itself. Once we have rust-snapshot solved, I will make all the necessary changes. Till that time, I am understanding all the parts of *awfy*.

BTW do we want to maintain repository for servo's benchmarking separately or should

[2015-08-31 04:26] jdm commented on #5810
If it works, it probably can't hurt to upstream. I don't know if there are ways to exclude certain builders, though, as I doubt we'll want to be tracking Servo publicly on AWFY immediately.

[2015-08-31 05:26] dhananjay92 commented on #5810
Then let's keep this one separate. When we think servo is ready to be compared against other browsers, we can merge the changes with main AWFY.

[2015-08-31 06:48] SimonSapin commented on #795
Yes, we’re probably missing some "subfeatures" (`rowspan`?) and still have some bugs, but at a high level the feature is there.

[2015-08-31 06:55] Ms2ger commented on #7453
Note that the conversion behaves differently when assigning to an enum attribute

[2015-08-31 06:56] Ms2ger commented on #7458
I believe just Gecko implements this now, so it's not entirely clear this is going to stay in the platform.

[2015-08-31 07:00] Ms2ger commented on #6158
That someone could be you :)

[2015-08-31 09:44] #5117 closed

[2015-08-31 09:46] Manishearth commented on #7451
Willing to mentor this; this just involves writing a [`check_mod`](http://manishearth.github.io/rust-internals-docs/rustc/lint/trait.LintPass.html#method.check_mod) and `check_crate` which checks that the list of `use` items  is in order, ignoring `pub use` and `#[macro_use]` items.

[2015-08-31 13:38] jdm commented on #7458
http://caniuse.com/#feat=sharedworkers says Chrome does too.

[2015-08-31 13:49] saneyuki commented on #7458
In my feeling as a client-side web content developer, `SharedWorker` is ignored in web development scene now. I don't know why its feature is ignored, I suspect these things Firefox have implemented it in [v29](https://developer.mozilla.org/ja/docs/Web/API/SharedWorker) and Safari drops it from v6.

I agree @Ms2ger 's thought. We can wait the result of Firefox's telemetry about `SharedWorker` http

[2015-08-31 14:05] Wafflespeanut commented on #7451
@Manishearth I'll go for it :)

[2015-08-31 14:22] jdm commented on #7380
This should no longer occur.

[2015-08-31 14:22] #7380 closed

[2015-08-31 15:39] wilmoz commented on #7413
I'd like to take this

[2015-08-31 16:13] wilmoz commented on #7413
this case should be ignored?
_ => {},

[2015-08-31 16:56] jdm commented on #7413
Yes; thanks for checking!

[2015-08-31 17:06] jdm opened #7473 "Write automated tests for devtools integration with network requests/responses"
We have code in `http_loader.rs` that sends notifications when a network request is sent as well as when a response is received. We now have the ability to write tests that check this since #7139 was merged. These should pass a real Sender value to `new_resource_task`, and compare the properties of the [NetworkEvent](http://mxr.mozilla.org/servo/source/components/devtools_traits/lib.rs#68) message

[2015-08-31 17:34] wilmoz commented on #7413
It's great to collaborate :)

[2015-08-31 17:42] edunham commented on #7444
@Ms2ger, where had you expected these docs to be available (or what did you search before concluding that we didn't have the docs)? I ask because I'd like to make sure there are links to the docs in those places to save others from the trouble you ran into :)

[2015-08-31 17:49] frewsxcv opened #7476 "Running WPT suite on master results in failures"
[code]

[code]
[code]

[2015-08-31 17:54] jdm commented on #7476
Unfortunately when you run a particular directory it ignores directories that would usually be excluded via includes.ini. https://github.com/w3c/wptrunner/issues/60

[2015-08-31 17:55] frewsxcv commented on #7476
Gotcha. Thanks

[2015-08-31 17:55] #7476 closed

[2015-08-31 18:02] mbrubeck opened #7477 "Android nightly build fails to upload to S3"
The Android nightly compile step was fixed on August 6, but since then the S3 upload step is failing:

[code]

http://build.servo.org/builders/android-nightly?numbuilds=60

[2015-08-31 18:08] Ms2ger commented on #7444
Same wiki as https://github.com/servo/servo/wiki/Buildbot-administration

[2015-08-31 18:21] edunham commented on #7444
You're right; having that page over on the saltfs wiki doesn't make much sense. I think I put the information there when I was quite new to the project and had some incorrect assumptions about how the wikis were used. Looking at it now, it makes much more sense to relocate the page over to the main wiki.

Closing since the docs now exist in a way that should enable people to find them: https://git

[2015-08-31 18:21] #7444 closed

[2015-08-31 18:39] metajack commented on #7444
Note that I've now expanded these docs and published a sanitized version of my helper scripts.

[2015-08-31 19:45] wilmoz commented on #7363
@SimonSapin i found that this commit the commit "Update glutin window port after glutin update" is the origin of my problem.
https://github.com/servo/servo/commit/0209bf11991a2d66a63019643674dea54c1ac992

[2015-08-31 21:05] SimonSapin commented on #7363
@glennw, any idea?

[2015-08-31 21:32] glennw commented on #7363
@wilmoz Could you paste the output of glxinfo here? I'm also planning to update glutin again today, so it would be worth testing again after that lands.

[2015-08-31 21:58] nox opened #7479 "Make AttrValue's tokens() and atom() return or panic"
There is no reason an AttrValue should change variant once set, so we should refactor the API accordingly. This allows us to have better consistent panic messages in such cases.

[2015-08-31 22:24] nox opened #7480 "Integrate tidy's output from Travis in GitHub's diff view"
Make @highfive or another bot comment on GitHub on the lines reported by Travis's run of `./mach test-tidy`.

[2015-08-31 22:25] jdm commented on #7480
I don't think this even needs reviewable integration; it can leave comments on the lines of code in the commit view, and reviewable integrates those automatically.

[2015-08-31 22:26] nox commented on #7480
@jdm Reworded.

[2015-08-31 22:29] jdm opened #7481 "Write a tool that extracts failures from WPT test logs"
This will be easy to integrate with https://github.com/jdm/highfive to automatically report test failures to the PR when they occur.

Relevant prior art for dissecting logs: https://dxr.mozilla.org/mozilla-central/source/testing/mozbase/mozlog/mozlog/scripts/unstable.py

[2015-08-31 22:31] pcwalton commented on #7363
@glennw I'm also seeing this on my VM. Here's my `glxinfo`: https://gist.github.com/anonymous/15d5b40e5d9f8c14ea5

[2015-08-31 23:02] glennw commented on #7363
@pcwalton Ah, glxinfo reports that the vbox driver only supports 2.1 - so it's probably failing as we try to create a 3.0 context on desktop.

[2015-08-31 23:43] nox commented on #7396
Even if removed, same behaviour is accessible from passing "*" to GetElementsByTagName().

[2015-08-31 23:53] glennw commented on #3789
This happened.

[2015-08-31 23:53] #3789 closed

[2015-08-31 23:55] glennw opened #7484 "Decouple gles2 backend in rust-layers from android."
There are a lot of potential benefits to being able to use the rust-layers gles2 backend on desktop Linux.

In particular:
 - Some desktop linux ARM SoC boards would be able to run Servo.
 - Supporting Wayland/Weston (with some of the ongoing glutin work) may become a lot simpler.

[2015-09-01 00:48] jdm opened #7485 "Unnecessary clones in HttpRequestFactory::create"
In `Request::with_connector`, we don't need to clone `url` and `method` as they are not used again.

Code: components/net/http_loader.rs

[2015-09-01 00:49] Wafflespeanut commented on #7413
fixed by #7475.

[2015-09-01 00:50] #7413 closed

[2015-09-01 00:54] wilmoz commented on #7363
@glennw Here the output of glxinfo:
https://pastebin.mozilla.org/8844625

[2015-09-01 01:02] glennw commented on #7363
@wilmoz Thanks. Looks like the same issue as @pcwalton has - the glxinfo reports that only GL 2.1 is supported, while we (currently) require a 3.0 context.

We don't really use any 3.0 specific features that are vital (yet), so it's probably possible to switch to creating a 2.1 context - but we'd have to try that and see what breaks, and what workarounds are possible.

[2015-09-01 01:45] #7467 closed

[2015-09-01 03:18] #7425 closed

[2015-09-01 03:28] psdh commented on #7479
Is this what you intend
[code]

[2015-09-01 03:28] JoshTheGoldfish commented on #7480
Seems like fun, I'll check this one out.

[2015-09-01 04:44] wartman4404 commented on #7366
It turns out Ubuntu didn't change it, and neither did Debian.  I'm starting to think the documentation is wrong: http://cgit.freedesktop.org/xorg/lib/libX11/tree/include/X11/Xlib.h#n924

[2015-09-01 07:39] psdh commented on #7473
Working on this!

[2015-09-01 13:00] jdm commented on #7480
There are a few components to this - given a [JSON notification](https://github.com/jdm/highfive/issues/16#issuecomment-129521608) that links to a Travis CI page, retrieve the [relevant content](https://travis-ci.org/servo/servo/builds/74856035) from the build, then use the [github API](https://developer.github.com/v3/pulls/comments/) to leave comments on the right lines.

[2015-09-01 13:00] jdm commented on #7480
You can find API inspiration at https://github.com/jdm/highfive/blob/master/newpr.py

[2015-09-01 13:06] jdm commented on #7473
Yay!

[2015-09-01 13:46] jdm opened #7491 "Add a mach command to upgrade wptrunner"
We should have a command to automate the steps at https://github.com/servo/servo/wiki/Upgrading-wptrunner . Additionally, it should skip the `git remote add` if it already exists (or just not abort if the command fails).

Code: python/servo/devenv_commands.py

[2015-09-01 14:30] jdm opened #7492 "Implement DOM selections"
I propose that we store the bounds of our selection in `Document` using a starting node, an ending node, a starting offset, and an ending offset. Additionally, we should store a vector of these to enable multiple simultaneous selections in the future, and send all of this data along with each script-initiated reflow request. When a node is part of a selection, it should have a flag set on it (c.f.

[2015-09-01 14:34] wilmoz commented on #7363
@glennw
1. maybe it would be better to create a wrapper to manage the 2 version of opengl, but i don't know if this is a big task.
2. how to easily switch to 2.1 context only for my development enviroment?

[2015-09-01 14:55] Ms2ger opened #7493 "Collect code coverage."
I tried with kcov, but hit <https://github.com/SimonKagstrom/kcov/issues/18>. No success with the workaround there.

[2015-09-01 15:02] wilmoz commented on #7491
I'd like to take this.

[2015-09-01 15:03] frewsxcv commented on #7480
Upon every push, should all the tidy comments be removed?

[2015-09-01 15:04] nox commented on #7480
New identical ones shouldn't be pushed again, but I don't think it's useful to remove the older ones, they disappear anyway from the diff.

[2015-09-01 15:08] nox commented on #7479
@psdh Yes.

[2015-09-01 15:08] nox commented on #7479
Actually no, without the Some(_). And with a message passed to panic!().

[2015-09-01 16:02] jdm commented on #7491
Ok!

[2015-09-01 16:39] nox opened #7495 "Forwarded events should be referenced as atoms in HTMLBodyElement::attribute_mutated()"
The attribute name should be matched against atoms, not against strings like the ones in FORWARDED_EVENTS. Follow-up of #7452.

[2015-09-01 17:29] metajack commented on #7379
@Ms2ger has agreed to take this on.

[2015-09-01 18:19] #7393 closed

[2015-09-01 18:21] dhananjay92 commented on #5810
Opened [Issue#1](https://github.com/dhananjay92/arewefastyet/issues/1) to track the progress on this. From now on, I will open issues in my repository to track the progress for each major task.

[2015-09-01 20:16] nox commented on #2409
HTMLIFrameElement doesn't have a size field anymore.

[2015-09-01 20:16] #2409 closed

[2015-09-01 20:23] nox commented on #7492
What if we use a DOM range for the selection boundaries?

[2015-09-01 20:30] farodin91 commented on #7004
Are there any Important attributes that aren't implemented if not will look into validations

[2015-09-01 20:42] jdm commented on #7492
Seems reasonable at first glance.

[2015-09-01 21:14] nox commented on #4001
JSRef is dead.

[2015-09-01 21:14] #4001 closed

[2015-09-01 21:15] connorimes opened #7501 "Remove unused time function in time module of profile crate"
The function `pub fn time<T, F>(msg: &str, callback: F) -> T` in the `time` module of the `profile` crate appears to be unused.  Perhaps left over from before there was a `profile` function in the `profile_traits` crate?
It should be removed to prevent confusion with the `profile` function.

[2015-09-01 21:15] nox commented on #3874
eventdispatcher.rs uses RootedVec.

[2015-09-01 21:15] #3874 closed

[2015-09-01 21:28] #7133 closed

[2015-09-01 21:56] glennw commented on #7484
Most of this work will involve changes to rust-layers (https://github.com/servo/rust-layers) which is a dependency of Servo, and https://github.com/servo/servo/tree/master/components/compositing (which is how Servo interacts with rust-layers).

Currently, we use #cfg() flags (these are somewhat similar to C preprocessor defines) to compile an OpenGL ES2 implementation of rust-layers for Android, a

[2015-09-01 21:58] mrobinson commented on #7484
I'm really excited about this and am willing to help out with reviews and refactoring.

[2015-09-01 21:59] mrobinson commented on #7484
This might also be useful for this work: https://github.com/waffle-gl/waffle

[2015-09-01 22:22] nox commented on #3576
Not all interfaces have a method trait.

[2015-09-01 22:23] nox commented on #3576
We could codegen a module that contains the cast, the constants module and the method trait, and then use * in that from a plugin.

[2015-09-01 22:42] nox commented on #3221
#3726 fixed this.

[2015-09-01 22:42] #3221 closed

[2015-09-01 22:44] nox commented on #3214
Not an issue anymore.

[2015-09-01 22:44] #3214 closed

[2015-09-01 22:45] nox commented on #3104
f7407ee43d314219c63615f5e81bb8eeb1781807

[2015-09-01 22:45] #3104 closed

[2015-09-01 22:47] nox commented on #3223
I'm pretty sure this doesn't happen anymore.

[2015-09-01 22:47] #3223 closed

[2015-09-01 22:48] nox commented on #2734
Fixed.

[2015-09-01 22:48] #2734 closed

[2015-09-01 22:49] nox commented on #2437
Closing, we have special cells for managed mutable fields now, and we might want to put something else than JS<_> in them for union types when we will handle them correctly.

[2015-09-01 22:49] #2437 closed

[2015-09-01 22:52] nox commented on #2122
Doesn't seem true anymore.

[2015-09-01 22:52] #2122 closed

[2015-09-01 22:54] nox commented on #2818
No panic, and:
[code]

[2015-09-01 23:01] mrobinson commented on #6849
An update on this one. I think the rust-layers PR fixes the bug, but I'm having a bit of trouble writing a non-flaky reference test for this issue. It is very sensitive to timing. :/

[2015-09-01 23:03] jdm commented on #2818
@nox did you use a build with debug-mozjs enabled?

[2015-09-01 23:04] nox commented on #2818
Oh. No.

[2015-09-02 01:00] mrobinson commented on #6849
@jdm @gw r?

[2015-09-02 01:52] ddrmanxbxfr commented on #7501
Good find !

Opening PR for it.

[2015-09-02 03:24] frewsxcv opened #7507 "Remove unused import"
[code]

Appeared after #7504 merged

[2015-09-02 03:31] frewsxcv commented on #7501
Completed in #7504

[2015-09-02 03:31] #7501 closed

[2015-09-02 03:39] xiaochuanyu commented on #6158
Added a PR (above) to update README.
It's actually just 1 commit. Sorry about the random Github references above, I was editing the commit message, messed up and did some rebase which confused github it seems.

[2015-09-02 05:03] #6849 closed

[2015-09-02 11:09] SimonSapin commented on #7507
Fixed in #7509.

[2015-09-02 11:09] #7507 closed

[2015-09-02 12:10] tafia commented on #7479
What is the reason to prefer `panic` over `Result` ?

[2015-09-02 12:21] tafia commented on #7412
It doesn't look that wrong to me.
I'd say simpler first for readability. And a `{...}` does look less simple than one element.
But I don't have any strong opinion on that matter.

[2015-09-02 12:54] jojo05 opened #7512 "Add wiki page for headless rendering with Xvfb"
In addtion to headless rendering instructions, it would be useful to document the params that can be passed to servo to e.g. save the rendering to a .jpg or .png file

[2015-09-02 14:36] SimonSapin commented on #7512
Re documenting the command-line parameters, isn’t that `--help`?

[2015-09-02 15:30] connorimes opened #7514 "Move script profiling to profile/profile_traits crates"
Profiling was recently added for `script` tasks.  To better understand how servo is behaving on the whole, this should probably be centralized with other profiling capabilities in the `profile`/`profile_traits` crates.

The `profile_event` function itself can probably be dropped as well and just use the `profile` function in `profile_traits`.  If you need to access total time for an event (as it d

[2015-09-02 15:40] nox commented on #7412
[code]

ProcessingInstructionCast is at an unexpected place.

[2015-09-02 15:41] jojo05 commented on #7512
# ./mach run --help
usage: mach [global arguments] run [command arguments]

Command Arguments:
...
  params               Command-line arguments to be passed through to Servo

I mean the params that can be passed through to Servo. I though one of these params would make the rendering to a jpg/png file, but it may not be available

[2015-09-02 15:42] #7404 closed

[2015-09-02 16:17] SimonSapin commented on #7512
I think that’s a mach bug. `./mach run --help` should call `./target/debug/servo --help`.

[2015-09-02 16:17] jdm commented on #7514
The original motivation of the script profiling was to get a sense of where script tasks in particular are spending their time during periods of slow script responsiveness. This also allows us quite a bit of granularity, so I have vague concerns about merging that in with the higher level profiling for all the rest of the code. Am I needlessly worried?

[2015-09-02 16:34] connorimes commented on #7514
Are you concerned about performance overhead or just separation of granularities?  Some of the categories currently in the profiler seem pretty fine-grained, e.g. `PaintingPerTile`.  Others seem to have very short runtimes, like `LayoutGeneratedContent` or `Compositing`, while others have long runtimes like `LayoutStyleRecalc`.

If we think a better structure and separation of categories is needed

[2015-09-02 16:36] jdm commented on #7514
It's the separation of granularities that matters to me.

[2015-09-02 18:02] jojo05 commented on #7512
Yes, thanks.

I can't get headless mode to work:

xvfb-run $SERVO -z -o $FILE $URL

Am I missing anything ?

thanks

[2015-09-02 18:30] nox commented on #7412
@tafia The lint is about alphabetic order of imports, not about simplicity first or whatever.

[2015-09-02 18:31] nox commented on #7412
qux is after foo and bar in alphabetic order, and thus should come after them, whether there are braces or not.

[2015-09-02 18:32] nox commented on #7412
Mmmmh… I can't order foo and bar apparently, good thing I find a real-world example.

[2015-09-02 18:32] jdm commented on #7512
Paging @glennw for X-related questions.

[2015-09-02 18:32] #7345 closed

[2015-09-02 19:27] pcwalton commented on #6093
Hey, sorry this slipped through the cracks--going through email. I think this is definitely a possibility. Let me know if you're still interested and we can chat more.

[2015-09-02 21:23] Manishearth opened #7517 "Use FromStr in canvas_traits"
canvas_traits/lib.rs contains a lot of `fn from_str(&str) -> Option<Self> {}`-like methods.

These should all implement [`FromStr`](http://doc.rust-lang.org/std/str/trait.FromStr.html)

In other words,

[code]

should become

[code]

Some code may need to be updated to make uses of this compile again with `Result`.

(An additional task you can do while here is making the implementation of `default

[2015-09-02 21:48] #7479 closed

[2015-09-02 21:49] vjeux commented on #6093
Absolutely! Let me know how you want to chat.

[2015-09-03 02:51] JoshTheGoldfish commented on #7460
Can this be closed?

[2015-09-03 03:04] jdm commented on #7460
Yep!

[2015-09-03 03:04] #7460 closed

[2015-09-03 05:56] Ms2ger opened #7529 "Implement drag-and-drop."
https://html.spec.whatwg.org/multipage/#dnd

[2015-09-03 14:47] geleto commented on #3893
![servo1](https://cloud.githubusercontent.com/assets/3138391/9661531/c75850b6-5263-11e5-8cc0-bf1827b7f6f1.png)
![servo2](https://cloud.githubusercontent.com/assets/3138391/9661534/c9d5a05a-5263-11e5-9086-11d01ab38465.png)

[2015-09-03 19:26] #7517 closed

[2015-09-03 21:50] nerith commented on #7381
I'd like to take this.

[2015-09-03 21:51] farodin91 commented on #7004
@jdm ?

[2015-09-03 22:16] jdm commented on #7381
@nerith Please do!

[2015-09-04 01:11] paulrouget opened #7535 "Servo crashes if the window JS object is stored in a WeakMap"
[code]

[code]

[2015-09-04 03:15] jdm commented on #7535
Duplicate of #7218.

[2015-09-04 03:15] #7535 closed

[2015-09-04 03:24] #1718 closed

[2015-09-04 04:10] mdinger opened #7537 "Small gap between two stacked pictures compared with firefox"
[testcase1](https://mdinger.github.io/servo_7537/testcase1.html)

[code]

![servo](https://cloud.githubusercontent.com/assets/4156987/9676389/d62618f0-5298-11e5-978c-ab4b70e8ccfb.png)

causes misalignment of borders in a page like http://www.dota2.com/items/

[2015-09-04 04:33] benschulz commented on #5235
In its current form this issue seems to contradict #5241.

As far as @KiChjang's question is concerned, my interpretation is as follows. The constellation manages a (bijective) mapping from `PipelineId` to `WindowId` by incrementing a counter for each new `PipelineId` it receives from `ScriptLoadedURLInIFrame` messages. Then it sends the generated `WindowId` as part of the `AttachLayout` message.

[2015-09-04 08:31] Ms2ger commented on #7537
Presumably https://quirks.spec.whatwg.org/#the-blocks-ignore-line-height-quirk

[2015-09-04 12:45] jdm opened #7541 "Move setting UserAgent header into http_loader::load"
Headers have no meaning for protocols other than HTTP/HTTPS. This will make it easier to implement the [fetch spec](https://fetch.spec.whatwg.org/#http-network-or-cache-fetch) in the future too, if we keep all of our HTTP-related code in one place.

Code: components/net/resource_task.rs, components/net/http_loader.rs

[2015-09-04 13:00] JoshTheGoldfish commented on #7480
@jdm, I noticed you wrote your tool in Python. However, I'd prefer to use Ruby, as Github and Travis-CI both provide Ruby bindings for their APIs. Is anyone opposed to this?

[2015-09-04 13:21] jxs commented on #7541
i can look into this one

[2015-09-04 13:35] #7353 closed

[2015-09-04 14:01] jdm commented on #7541
@jxs You can; I could also help you find something more challenging, if you'd like :)

[2015-09-04 14:03] Ms2ger commented on #7480
I don't think it would be a good idea for us to gain a dependency on Ruby.

[2015-09-04 14:06] nox commented on #7480
https://github.com/irqed/octokit.py
https://pypi.python.org/pypi/TravisPy/

[2015-09-04 15:06] JoshTheGoldfish commented on #7480
@Ms2ger, @nox, No problem, thanks for the info. I'll give it a shot in Python.

[2015-09-04 15:53] metajack opened #7542 "style_traits warnings"
[code]

[2015-09-04 15:53] Ms2ger commented on #7542
Seems like we're missing a dep?

[2015-09-04 18:29] jdm commented on #7422
@pcwalton This is starting to strike more often. It would be nice if you could spend some time investigating it.

[2015-09-04 23:12] jxs commented on #7542
sorry, forgot to ask about this one, when i cleared #7508 this warning came up, am i missing some dependency?

[2015-09-05 00:58] mdinger commented on #7410
Fixed by https://github.com/servo/servo/pull/7543

[2015-09-05 00:58] #7410 closed

[2015-09-05 01:30] pcwalton opened #7551 "Do a sequential traversal to perform the block formatting context speculation"
Unfortunately I think we'll need to do a special sequential traversal in order to correctly handle the speculation for block formatting contexts next to floats. The reason is that it's not enough to look at your immediate children to correctly figure out the widths of floats next to you, because of the way clear and float are inherently in-order. The lack of this causes the infobox on Google.com S

[2015-09-07 01:35] notriddle commented on #7372
Shouldn't this be tagged I-wrong?

[2015-09-07 08:14] paulrouget commented on #7373
Apparently, it's fixed now. Probably because of https://github.com/servo/servo/commit/2276d642fd1cd5c02bcb63e27c83c2cee5940371

[2015-09-07 08:14] #7373 closed

[2015-09-07 12:55] Manishearth opened #7553 "Add support for multipart/form-data"
This lets files be submitted via XHR or forms.

There's a parser [here](https://github.com/mikedilger/formdata), which we can use. I believe we already have enough Blob/File support for this, we just need to wire things up.

We should just mirror URLSearchParams and implement a [`serialize()`](https://github.com/servo/servo/blob/71b277d5675556e61a82ae9dbf3105449c3a8275/components/script/dom/urlsea

[2015-09-07 12:55] Manishearth commented on #7553
I'm willing to mentor anyone who wants to try their hand at this.

[2015-09-07 14:55] psdh commented on #7553
I can take a shot at this!

[2015-09-07 15:20] emilio opened #7554 "Inline elements with padding show unexpected height changes when they're near a line-break"
Reduced test-case:

[code]

When resizing near the second `<em>` (making the line break and going back again, sometimes a few resizes are needed) the background starts growing and I get an output similar to the following:

![servo-inline-padding](https://cloud.githubusercontent.com/assets/1323194/9719356/cce4cd0c-5583-11e5-828b-2a001cf9aad1.png)

This doesn't happen with `display: inline-block`, s

[2015-09-07 15:22] wilmoz commented on #7363
Thanks to @eefriedman (c82401f213c469f880433077401ebfefffdf3b39) this bug should be closed

[2015-09-07 15:24] #7363 closed

[2015-09-07 15:24] Ms2ger commented on #7553
By default, I don't trust libraries that don't say if they conform to any spec.

[2015-09-07 17:52] Jayflux commented on #1908
is there any low-hanging-fruit i can help with?

[2015-09-07 19:53] aopicier commented on #6375
I've tried to investigate a bit why the new root element does not get a proper flow construction result. The problem seems to be that the element is treated as an inline item by `construct.rs/process`, whereas Firefox and Chrome treat it is a block item.. This happens despite its display property being correctly set to `block` because `style.get_box()._servo_display_for_hypothetical_box` is never

[2015-09-07 20:10] jdm commented on #6375
@glennw Is this something you can provide input on?

[2015-09-07 21:01] glennw commented on #6375
@jdm I'll look into this today.

[2015-09-07 21:05] KiChjang commented on #5235
You can go ahead and work on this issue, I have plenty of other stuff on my plate right now.

[2015-09-07 21:08] Manishearth commented on #1908
Not that I know of, though @vvuk might have some tasks he can delegate

[2015-09-08 00:03] retep998 commented on #1908
Someone can always go write a Rust library around DirectWrite, especially since there are raw bindings to it.

[2015-09-08 01:24] glennw opened #7558 "Used display type of the root element is not correct."
See http://www.w3.org/TR/CSS2/visuren.html#dis-pos-flo

In particular:

"Otherwise, if the element is the root element, 'display' is set according to the table below, except that it is undefined in CSS 2.1 whether a specified value of 'list-item' becomes a computed value of 'block' or 'list-item'."

[2015-09-08 01:24] glennw commented on #6375
There is a PR up now that fixes the panic. I have opened https://github.com/servo/servo/issues/7558 to deal with the display type of the root element. Thanks @aopicier for looking into it.

[2015-09-08 02:15] vvuk commented on #1908
My current plan is to get things compiling, stubbing out as necessary along
the way even if the final result doesn't work. Then it will be much easier
to parallelize getting things to work, since people won't be fighting the
build the entire time. I hope to have things compiling in the next day or
two, then a day of submitting PRs and replicating the work from scratch.
On Sep 7, 2015 5:08 PM, "Man

[2015-09-08 03:25] waddlesplash commented on #1908
FWIW, I *really* do not like the way Chrome (at least) looks with DirectWrite turned on. Maybe that's Chrome's fault and not DirectWrite, but I prefer Firefox's font rendering on Windows by a lot. Ubuntu's default font rendering settings surpass it by a lot, though.

[2015-09-08 04:10] retep998 commented on #1908
Firefox also uses DirectWrite on Windows. There's a ton of tweaking you can do to adjust how cleartype renders text.

[2015-09-08 04:15] #7372 closed

[2015-09-08 11:37] nox commented on #7553
By default, I would rather fix things than reinvent the wheel. We should contact its authors and ask if they are interested working with us on spec-compliance, IMO.

[2015-09-08 14:17] connorimes commented on #7005
Something peculiar came up this morning - when loading github.com with the -x option, Servo only failed intermittently - sometimes it loaded, other times it didn't. This may be helpful in tracking down the issue.

[2015-09-08 14:27] tschneidereit opened #7562 "thread 'PaintWorker' panicked at 'Error line segment end.x > start.x!!'"
When running Shumway's [inspector devtools](http://people.mozilla.org/~tschneidereit/shumway-demos/servo-crash/examples/inspector/inspector.html), I get a failing assert in `PaintContext#intersect_ellipse_line`.

STR: Open Servo with [the inspector's URI](http://people.mozilla.org/~tschneidereit/shumway-demos/servo-crash/examples/inspector/inspector.html).

Backtrace:

[code]

[2015-09-08 14:50] jdm commented on #7004
I apologize for the long wait here. I was hoping to use form validation as a project for some students at NCSU this semester, but it's fine if you've already started working on it; I can find another.

[2015-09-08 14:53] farodin91 commented on #7004
Currently I working on other things. If you want use this as a student project, I can find other issues.

[2015-09-08 16:15] #7514 closed

[2015-09-08 17:46] akiss77 opened #7564 "The use of ld.gold may cause problems"
A not-that-old change in the build system checks whether ld.gold is available and makes use of it. However, there may be cases when one wants to opt out and not use ld.gold, even if it is present on the system. E.g., on my box something is obviously broken with ld.gold, since it causes build failures:

[code]

(I'm quite convinced that it is caused by ld.gold, since if I modify the build system no

[2015-09-08 17:59] mrobinson opened #7566 "StackingContexts on top of StackingContexts that have layered children should get layers"
In this situation:
[code]
Both A2 and B should get their own layer to ensure proper drawing order.

[2015-09-08 19:32] #7332 closed

[2015-09-08 21:02] jdm commented on #6312
This is a much better one to track this particular failure; reopening.

[2015-09-08 21:03] jdm commented on #5740
FTR, I don't think this is a good issue to use to track intermittent failures in various XHR tests. This isn't intermittent for the original reporter.

[2015-09-08 21:10] connorimes opened #7569 "Tidy script should ignore line length in lock files"
Adding a git dependency and specifying rev with a long hash resulted in:
<pre>
./components/servo/Cargo.lock:446: Line is longer than 120 characters
</pre>

[2015-09-08 21:15] jdm commented on #7569
Code: python/tidy.py

[2015-09-09 03:35] #6375 closed

[2015-09-09 04:57] #7564 closed

[2015-09-09 05:55] paulrouget opened #7571 "overflow:hidden + inline-block + position:relative: element not painted"
[code]

The `div` is not visible. Remove one of them: `overflow|display|position`, and the div shows up.

<img width="416" alt="screen shot 2015-09-09 at 07 52 12" src="https://cloud.githubusercontent.com/assets/373579/9754277/b7350f22-56c7-11e5-9079-2cbefc8f7031.png">

[2015-09-09 06:01] paulrouget commented on #7571
/cc @pcwalton

[2015-09-09 06:10] paulrouget opened #7572 "Servo panics exactly after 144 navigations"
Just create this simple document:

[code]

The page navigates 144 times (it's always 144 on my machine), and then:

[code]

[2015-09-09 07:23] paulrouget opened #7573 "Implement navigator.platform"
https://github.com/servo/servo/blob/master/components/script/dom/navigator.rs#L54

[2015-09-09 07:35] paulrouget commented on #6733
We also need keyboard events.

[2015-09-09 08:01] paulrouget opened #7574 "src/libcore/slice.rs: assertion failed: dst.len() >= len_src"
Sadly, I do not have any STR. But this crash keeps happening. Anything I can do to help understand what's going on?

[code]

[2015-09-09 08:19] paulrouget opened #7575 "border-radius doesn't clip content"
[code]

<img width="664" alt="screen shot 2015-09-09 at 10 17 02" src="https://cloud.githubusercontent.com/assets/373579/9756659/352087a4-56dc-11e5-869e-3a0211525e18.png">

[2015-09-09 08:28] frewsxcv commented on #7574
This is probably a duplicate of https://github.com/servo/servo/issues/6952

[2015-09-09 08:31] paulrouget commented on #7574
Most likely.

[2015-09-09 08:31] #7574 closed

[2015-09-09 09:31] mskrzypkows commented on #7023
I'd like to try this one.

As I understand, I have to change Rect to TypedRect for screen and page:
[code]
And then convert units. Am I right?

[2015-09-09 12:41] jdm commented on #7572
Probably something to do with resource exhaustion, since all of our old pipelines are never garbage collected.

[2015-09-09 12:42] jdm commented on #6733
@paulrouget Could you file a separate issue for that?

[2015-09-09 12:46] frewsxcv opened #7578 "rust-clipboard is GPL"
At the time of writing, rust-clipboard is licensed GPL, and servo depends on rust-clipboard.

/cc @meh @aweinstock314

[2015-09-09 12:47] paulrouget opened #7579 "keyboard events should be dispatched to the window object"
`keyup`, `keydown` and `keypress` events are not dispatched to the window object.

Related issue: https://github.com/servo/servo/issues/6733

[2015-09-09 12:49] paulrouget commented on #7573
The spec is not very verbose.

Here is a good overview of what other vendors do: http://stackoverflow.com/questions/19877924/what-is-the-list-of-possible-values-for-navigator-platform-as-of-today

[2015-09-09 12:55] jdm opened #7580 "Rewrite uses of map as `if let` in Document::dispatch_key_event"
`something.map(|value| some_function_with_side_effects(value));` is much less clear than
[code]

Code: components/script/document.rs

[2015-09-09 12:59] jdm commented on #7579
Ah, the code at http://mxr.mozilla.org/servo/source/components/script/dom/document.rs#744 defaults to dispatching the event at the body element if it exists and there is no focused element.

[2015-09-09 13:12] paulrouget commented on #7579
The problem I run into is that the event is not dispatched to the window during the capture or the bubbling phase.

This code is about the target, right?

[2015-09-09 13:13] paulrouget commented on #7579
[code]

I focus the text input. Type some text.

I see only "2" in the console, not "1".

[2015-09-09 13:28] jdm commented on #7579
Ah, my mistake. You're right that #6733 will solve this too.

[2015-09-09 13:28] #7579 closed

[2015-09-09 13:59] jxs commented on #7580
i can take this one

[2015-09-09 14:02] jdm commented on #7580
Ok!

[2015-09-09 14:02] Ms2ger commented on #1857
Content tests are dead.

[2015-09-09 14:02] #1857 closed

[2015-09-09 14:03] #5107 closed

[2015-09-09 15:13] metajack commented on #7578
Ack.

We'll have to remove it unless the license is changed I think. Servo dependencies must be MPL compatible. @aweinstock314 are you interested in changing the license?

[2015-09-09 15:21] meh commented on #7578
@metajack me and @aweinstock314 already talked about it, I'm going to rewrite the X11 side and improve the API a little, and change the license to MPL.

For the record it's GPL because the X11 code was basically taken out from xclip, while the code I have was written from scratch.

[2015-09-09 16:19] mbrubeck commented on #7023
Yes, that's correct.

[2015-09-09 16:54] jdm opened #7584 "Intermittent failure in /css21_dev/html4/position-relative-035.htm"
[code]

[2015-09-09 17:04] jdm opened #7585 "Strange CSSWG reftest comparing two -ref files"
/css21_dev/html4/reference/block-in-inline-insert-006-nosplit-ref.htm and /css21_dev/html4/reference/reference/block-in-inline-insert-006-ref.htm are compared, and the reftest harness can't find the second file. Very confusing. There's also an ini file for /css21_dev/html4/reference/reference/block-in-inline-insert-006-ref.htm in http://mxr.mozilla.org/servo/source/tests/wpt/metadata-css/css21_dev

[2015-09-09 17:04] jdm commented on #7584
Pretty sure this is not intermittent.

[2015-09-09 17:04] #7584 closed

[2015-09-09 17:07] meh opened #7586 "Improve the Rust embedding API"
I'd like to help out and improve the Rust embedding story, I've written [here](https://github.com/meh/miserve/blob/master/SERVO.md) some of the stuff I need from my embedder point of view.

I've been told on IRC to open an issue and ping @pcwalton, so here I am.

Has anything been thought out to extend the current API? Should things just be added to `WindowMethods`?

[2015-09-09 17:07] jdm commented on #7585
This is true for all of the `block-in-inline` tests that I can see. The reftest analyzer shows a bunch of failures for test files in the `/reference` subdirectory.

[2015-09-09 17:28] Ms2ger commented on #7585
CC @jgraham.

I believe the csswg uses a reference for a reference in case they want to check that a test matches two references.

[2015-09-09 20:01] #7184 closed

[2015-09-09 20:15] bjwbell opened #7589 "Failing css reftest css21_dev/html4/position-relative-035.htm"
PR https://github.com/servo/servo/pull/7161, "Snap rectangles...",  fixed issue https://github.com/servo/servo/issues/7152 and also changed CSS reftest position-relative-035 from fail to pass. But it caused regression https://github.com/servo/servo/issues/7184, "Rounding issue...borders not to be visible".

PR https://github.com/servo/servo/pull/7577, "Fix bug with...borders disappearing", fixed t

[2015-09-10 03:56] dzbarsky commented on #7284
@notriddle you can work on this now if you're still interested

[2015-09-10 03:56] dzbarsky commented on #6878
Fixed.

[2015-09-10 03:56] #6878 closed

[2015-09-10 04:30] notriddle commented on #7284
Yup, still interested.

On Wed, Sep 9, 2015 at 8:56 PM David Zbarsky <notifications@github.com>
wrote:

[2015-09-10 08:31] frewsxcv opened #7590 "Support for WebIDL stringifier attributes"
[Related Gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=824857)

[Spec link](https://heycam.github.io/webidl/#idl-stringifiers) - Starting with "The stringifier keyword can also be placed on an attribute."

[Example in URLUtils.webidl](https://github.com/servo/servo/blob/347e9b6ef45fb8b0e5a824944e4b1c7338d15554/components/script/dom/webidls/URLUtils.webidl#L9)

[2015-09-10 12:23] jdm commented on #7590
We support them already: http://mxr.mozilla.org/servo/source/components/script/dom/webidls/URLSearchParams.webidl#18 and http://mxr.mozilla.org/servo/source/components/script/dom/urlsearchparams.rs#121 are an example of existing usage. See #1986.

[2015-09-10 12:24] nox commented on #7590
We support stringifiers, not stringifier **attributes**.

[2015-09-10 18:36] notriddle commented on #7284
I added something that I think will work (manual testing bears this out), but how should I add it to the test suite?

[2015-09-10 22:36] frewsxcv commented on #6158
Completed in #7506

[2015-09-10 22:36] #6158 closed

[2015-09-11 00:11] nox opened #7597 "[SameObject] should imply [Constant]"
[WebIDL](http://heycam.github.io/webidl/#SameObject) says:

[Gecko](https://developer.mozilla.org/en-US/docs/Mozilla/WebIDL_bindings#Constant) says:

The former should thus imply the latter.

[2015-09-11 00:13] nox opened #7598 "Implement ParentNode's relative selectors' methods"
Blocks #2185.

* [ParentNode.query()](https://dom.spec.whatwg.org/#dom-parentnode-query)
* [ParentNode.queryAll()](https://dom.spec.whatwg.org/#dom-parentnode-queryall)

Something new in rust-selectors is probably needed for this and should be filed there as a blocker.

[2015-09-11 00:41] nox commented on #1717
Blocks #2185.

[2015-09-11 00:48] nox opened #7599 "[Constant] should be usable on methods"
[Gecko](https://developer.mozilla.org/en-US/docs/Mozilla/WebIDL_bindings#Constant) says:

[2015-09-11 00:55] nox commented on #7597
Never mind, it already does.

[2015-09-11 00:55] #7597 closed

[2015-09-11 09:53] #7569 closed

[2015-09-11 13:54] nodakai commented on #7262
http://rust-lang.org/ and http://www.rust-lang.org/ are redirected to https://www.rust-lang.org/ but https://rust-lang.org/ is inaccessible.

[2015-09-11 13:56] jdm commented on #7262
@nodakai Wrong repository?

[2015-09-11 17:20] #7298 closed

[2015-09-11 19:24] jdm opened #7604 "Write tests for cookie behaviour with HTTP redirects"
I am interested in tests that ensure that:
* when a redirect from a.com to b.com is processed, the request to b.com contains cookies for b.com
* when a redirect from a.com to a.com is processed, any cookies set in the redirected response are sent in the second request

The existing `test_load_sets_cookies_in_the_resource_manager_when_it_get_set_cookie_header_in_response` and `test_load_sets_reques

[2015-09-11 19:25] jdm commented on #7604
`test_load_follows_a_redirect` is one of many that demonstrates how to model redirects in automated tests.

Also, the tests can be run with `./mach test-unit -p net`, if I recall correctly.

[2015-09-11 23:57] nox opened #7607 "Update the DOM documentation in the wiki"
The [DOM documentation in the wiki](https://github.com/servo/servo/wiki/DOM-documentation) is massively outdated, Temporary and JSRef don't exist anymore.

[2015-09-12 00:05] Manishearth commented on #7607
We really should move it in-tree and run rustdoc on it to upload to doc.s.o

[2015-09-12 02:22] jdm opened #7608 "Enable Pattern variant of CanvasFillOrStrokeStyle"
There's a commented out variant for dealing with patterns as part of the canvas fill/stroke APIs. It was waiting on #6157, which is now complete. Completing this task likely involves looking at what the surrounding code does for each piece of code that deals with the CanvasFillOrStrokeStyle enum and making smart choices (or asking questions if stumped!).

Code: components/script/dom/canvasrenderin

[2015-09-12 09:33] saneyuki opened #7609 "fail to clone the repository on Windows"
`git clone https://github.com/servo/servo.git` in Windows, fail with following errors:

[code]

[2015-09-12 09:34] saneyuki commented on #7609
environment:

- Windows 10 x64
- git for windows v2.5.0

[2015-09-12 09:36] saneyuki commented on #7609
`/tests/ref/hello_a?foo#bar.html` is introduced by #3365

[2015-09-12 11:20] SimonSapin commented on #7609
I’ll remove this file and add a command-line parsing unit test instead.

[2015-09-12 12:19] SimonSapin commented on #7609
@saneyuki could you try this? `git fetch origin pull/7610/head` then `git checkout FETCH_HEAD`.

[2015-09-12 12:40] nox commented on #2285
That sounds quite outdated.

[2015-09-12 12:42] saneyuki commented on #7609
@SimonSapin `git checkout` is success by your proposed way.

[2015-09-12 15:49] #7609 closed

[2015-09-12 16:55] jdm commented on #4627
Fixed by #7610.

[2015-09-12 16:55] #4627 closed

[2015-09-13 00:01] samfoo commented on #7421
Picking this up.

[2015-09-13 13:49] askalski commented on #7604
I gave it a try, and I feel I have the first one:
https://github.com/askalski/servo/commit/a41e9375dfdc2786fc1c5ee54a9c6b67a1485a8e

If you this is any good, please assign me to this bug.

[2015-09-13 13:54] askalski commented on #7604
btw, I am a total noob in Rust, so if there are some semantical upgrades to make, please attach a link to tutorial/examples describing this language feature.

[2015-09-13 14:36] jdm commented on #7604
That looks great to me :)

[2015-09-13 14:46] frewsxcv commented on #6224
I'm pretty satisfied with the work that's been done towards this. There might be a few remaining but it's probably not worth it to keep this open

[2015-09-13 14:46] #6224 closed

[2015-09-13 14:53] nox commented on #7542
This doesn't happen anymore, there are no remaining types in viewport.rs that derive HeapSizeOf.

[2015-09-13 14:54] #7542 closed

[2015-09-13 14:56] askalski commented on #7604
submitted pull request:
https://github.com/servo/servo/pull/7617

[2015-09-13 15:53] #2285 closed

[2015-09-13 17:47] jdm opened #7618 "Make `mach test` work with Rust unit tests"
We should enable `./mach test tests/unit/net/http_loader.rs` to make it really easy for people to execute unit tests. This would be converted internally to `./mach test-unit -p net`; if there's some way to only execute the tests for the `http_loader` module, that would be even better.

Code: python/servo/testing_commands.rs

[2015-09-13 17:54] SimonSapin commented on #7618
Regarding the latter part, from `cargo test --help`:

filtering tests and generally providing options configuring how they run. For
example, this will run all tests with the name `foo` in their name:

In the default unit test harness, I believe "positional" arguments are interpreted as substring patterns that apply to test "names", which are paths from the crate root like `http_loader::test_load_s

[2015-09-13 19:23] askalski commented on #7618
well, I just called `./mach test-unit -p net http_loader::` and it seems like it gave me results filtered to "http_loader". So what you are asking is that we translate a filename to some "test-unit" suffix? If so, I have two questions:
1) are the prefixes unique to the file
2) where I can find docs about how these name get generated :)

[2015-09-13 20:56] jdm commented on #7618
The names match precisely with the filenames of the modules and crates, so `./mach test-unit -p style` will run the tests under the `style` crate, which lives in `tests/unit/style`.

[2015-09-13 20:57] jdm commented on #7618
The prefixes are not necessarily unique, as there could be a `mod http_loader` in some other file in net, but I think this is a good enough approximation to be useful.

[2015-09-14 00:54] #7365 closed

[2015-09-14 00:54] #7358 closed

[2015-09-14 00:55] #7347 closed

[2015-09-14 00:55] #6934 closed

[2015-09-14 00:58] jdm commented on #3277
This happened.

[2015-09-14 00:58] #3277 closed

[2015-09-14 03:40] jdramani commented on #6905
@pcwalton @jdm Hi, I would like to do this if it's okay. I am new to open source and finding ways to contribute to servo. What else would i need to make the spreadsheet other than https://www.chromestatus.com/metrics/feature/popularity ?

[2015-09-14 04:05] jdramani commented on #7529
@Ms2ger Hi, I am a beginner and would like to take it. May I know where the relevant code lives? It would be great if somebody can mentor?

[2015-09-14 04:23] Manishearth opened #7620 "Segfault on github"
Running `./mach run https://github.com/login --userscripts` with the following in `00.example.js`:

[code]

gives a segfault:

[code]

Seems like a `setTimeout()`-created function is causing a crash. I'm not familiar enough with SM to be able to trace the origin of this or make a MWE.

I suspect the `window.history` replacement causes this (the `filltext` replacement is just required so that it do

[2015-09-14 05:11] jdramani commented on #6888
@jdm I think i can write the necessary python script. But I will need some guidance to put pieces into right places as i am new to the codebase..

[2015-09-14 05:22] michaelwu commented on #7620
Could you rebuild with `--features script/debugmozjs` and get another stack?

[2015-09-14 06:48] Ms2ger commented on #7620
#7218

[2015-09-14 06:48] #7620 closed

[2015-09-14 08:15] Ms2ger opened #7621 "Enable incremental GC."
@michaelwu left

[code]

in `ScriptTask::new_rt_and_cx()` with no further explanation.

[2015-09-14 08:19] Ms2ger commented on #7218
This involves calling `js::jsapi::SetPreserveWrapperCallback` in `ScriptTask::new_rt_and_cx()` (`components/script/script_task.rs`). The argument should be a new `preserve_wrapper` function that unconditionally returns true.

[2015-09-14 08:20] Ms2ger commented on #7218
... as well as adding tests in window and worker contexts.

[2015-09-14 08:26] Ms2ger commented on #7529
This is marked as `E-hard` because I have no idea how this would work.

[2015-09-14 10:27] askalski commented on #7604
is it submitted correctly, or should I send a patch to some website like at Bugzilla?

[2015-09-14 13:28] jdm opened #7624 "Write unit tests for cookie isolation"
We are missing tests for the following functionality:
* when a cookie is set for domain a.com with CookieSource::NonHttp, it should not be included in a subsequent request for a.com
* when a cookie is received that is marked httpsOnly, it is ignored if the request was for an http connection (instead of https)
* when a cookie is set for a.com and is marked httpsOnly, it is not sent as part of reque

[2015-09-14 13:34] jdm commented on #6888
@jdramani Welcome :) I think adding it to `python/testing_commands.py` as a new command named `compare-dromaeo` would make sense.

[2015-09-14 13:41] jdm commented on #6905
The other data comes from Servo itself; presumably we would want to mark each feature as "not started", "started", "mostly complete", or "complete". An easy approximation of that would be to look at the appropriate files in `components/script/dom/webidls` and see how many things are currently commented out, since those correspond to missing pieces of that API.

[2015-09-14 13:45] jdm commented on #7218
#7620 has a great testcase for the window context that we can copy.

[2015-09-14 13:57] jdm commented on #7604
Nope, you did the right thing :)

[2015-09-14 14:32] jdm opened #7625 "Permanent failure in /css21_dev/html4/font-family-013.htm and /css21_dev/html4/fonts-013.htm"
These tests are both using unicode characters, and the run which contained a failure showed the characters appearing as boxes.

The test itself is interesting:

[code]

It looks like it's assuming that Ahem should not be present??

[2015-09-14 14:32] jdm commented on #7625
It's unclear to me why this would intermittently fail unless we haven't made Ahem available on all machines.

[2015-09-14 14:33] jdm commented on #7625
Or maybe this is testing glyph fallback behaviour, since presumably Ahem doesn't include those characters...

[2015-09-14 14:34] jdm commented on #7625
Oh, are we missing the msttcore fonts on some linux machines? @larsbergstrom @metajack @edunham

[2015-09-14 14:34] jdm commented on #7625
This was first seen on linux2, by by the way.

[2015-09-14 14:38] metajack commented on #6905
Note that creating half the spreadsheet is still useful, and contributors can work on filling in Servo support.

[2015-09-14 15:18] jdm commented on #7625
[code]

[2015-09-14 15:34] jdm opened #7626 "Implement pref-controlled interfaces/methods/attributes in WebIDL"
We want to be able to hid the MouseEvent::which attribute when `dom.mouseevent.which.enabled` pref is false, for example.

For prior art we can steal from Gecko, see PropertyDefiner.getControllingCondition and PropertyDefiner.generatePrefableArray, as well as any other code that uses `getExtendedAttribute("Pref")` in http://mxr.mozilla.org/mozilla-central/source/dom/bindings/Codegen.py .

Code: co

[2015-09-14 15:35] jdm commented on #7625
Seen on linux1, too. Did we make a change to saltfs and not actually update it until I did so earlier today?

[2015-09-14 15:39] metajack commented on #7625
So I added msttcorefonts to our salt configs a week or so ago. I tested it a few times and it seemed ok, but perhaps that is busted somehow.

See https://github.com/servo/saltfs/pull/111 and https://github.com/servo/saltfs/pull/112

[2015-09-14 15:51] jdm opened #7627 "Remove SslProvider wrapper"
This was needed back when we supported running Servo without SSL, but that is no longer supported. We can remove this whole type and just use the Openssl type directly.

Code: components/net/http_loader.rs

[2015-09-14 17:44] aidanhs commented on #7317
Can't reproduce with provided testcase, but http://maps.google.com in release mode does do it.
(UK gmaps crashes servo with a different error in dev mode).

[2015-09-14 18:30] jdm opened #7630 "Display a nicer error when virtualenv/pip aren't installed"
If you run a mach command and are missing the `virtualenv` package, the error looks like this:
[code]
We can do better if we catch the exception in mach_bootstrap.py when using `subprocess.check_call`.

Code: python/mach_bootstrap.py

[2015-09-14 19:47] metajack commented on #7625
@bors-servo retry

- spinning up builders to test possible fix

[2015-09-14 20:21] #7541 closed

[2015-09-14 23:13] #7627 closed

[2015-09-15 02:28] mdinger commented on #4876
This doesn't panic for me. Maybe it's fixed

[2015-09-15 02:31] mdinger opened #7635 "Duckduckgo starts cpu racing and doesn't finish"
Initial load kinda seems to work (doesn't look right though) but then resizing the window starts the CPU racing. It's been running for longer than 2 min so far with no progress.

[code]

[EDIT] Actually, it's not resizing that queues it. It just happens sometime after page load.

[2015-09-15 02:33] mdinger commented on #7635
If saved locally it loads quickly and resize works properly though the page doesn't look correct.

[2015-09-15 03:31] mdinger opened #7636 "Misalignment of comment number thing on deviantart"
[Testcase1](https://mdinger.github.io/servo_7636/testcase1.html):

[code]

Shows up on deviantart:
![servo](https://cloud.githubusercontent.com/assets/4156987/9867157/6c42cd40-5b38-11e5-974e-dcc034fb5b6e.png)

[2015-09-15 03:33] jdm commented on #7635
@mdinger is there any interesting output if you run with `-p 4` (ie. dump profiler output every four seconds)?

[2015-09-15 03:35] mdinger commented on #7636
Updated with linked testcase

[2015-09-15 03:37] jdm commented on #7636
Thanks for the testcase @mdinger!

[2015-09-15 03:40] mdinger commented on #7635
Sure. Let me know if you need more info. Killed it around 30 seconds in. You need a longer profile?

[code]

[2015-09-15 03:43] jdm commented on #7635
Interesting that there's zero profiling information from script. Sounds like that's our culprit for the CPU usage.

[2015-09-15 03:51] mdinger commented on #7635
Does that mean you need a more detailed profile from something like codeanalyst or that you have enough info here?

[2015-09-15 03:51] jdm commented on #7635
If you want to run Servo under something like `perf` or `Instruments`, that would be super useful.

[2015-09-15 04:08] #7580 closed

[2015-09-15 04:15] jxs commented on #7624
can i take this one?

[2015-09-15 04:52] Manishearth commented on #7218
Minimimized GitHub testcase:

[code]

[2015-09-15 04:58] Manishearth commented on #7218
@jdm Also, rust-mozjs expects [a function returning a u8](https://servo.github.io/doc.servo.org/js/jsapi/type.PreserveWrapperCallback.html), whereas actually [it is `-> bool`](https://dxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h#457). I'm not sure if that part is autogenerated, but should we fix that?

[2015-09-15 05:21] mdinger commented on #7635
Eh, I'm not sure what you're after here but I got a flamegraph. My first try was with a release build which didn't have symbols. I tried a debug but I still think I'm missing symbols (this was a 10 min profile). Is there a specific process to set it up for servo? I'm not sure if it's a build issue or something else. Firefox always provided symbols via some server of something I think.

![servo](ht

[2015-09-15 12:19] jdm commented on #7624
@jxs Sure!

[2015-09-15 12:43] jojo05 commented on #7512
Is there an alternative way to contact glennw?

[2015-09-15 12:48] jdm commented on #7218
I do not know anything about the implications of using bool/u8 in FFI, unfortunately.

[2015-09-15 12:50] jdm commented on #7635
Hmm, I don't really know what to make of that, especially the tower of `[unknown]`. I don't recall having problems seeing symbol names in debug builds in profilers before.

[2015-09-15 12:52] jdm commented on #7512
What happens when you run `xvfb-run $SERVO -z -o $FILE $URL`?

[2015-09-15 14:23] glennw commented on #7512
@jojo05 There are (confusingly) two meanings of headless for servo at the moment (this needs to be cleaned up). There is the -z mode (which uses a null compositor but still connects to X), and the compile time headless option, which uses OSMesa to render to a software frame buffer and removes any X dependencies. You can build the OSMesa version by setting the env var SERVO_HEADLESS=1 before buildi

[2015-09-15 14:49] metajack opened #7637 "Make SERVO_HEADLESS a command line option for `./mach build`"
Right now to get OSMesa and no X dependency on Linux we compile with the env var SERVO_HEADLESS set to 1. This really should be a command line option to `./mach build`.

See https://github.com/servo/servo/issues/7512#issuecomment-140409029 for reference.

[2015-09-15 14:51] glennw commented on #7637
@metajack I believe this can actually be changed now to be a runtime switch rather than compile time. Previously, glutin had to link against either libGL or libOSMesa at compile time. However, the lib is now loaded dynamically via dlopen(). That probably makes the task a bit more involved - but a much better result.

[2015-09-15 14:54] jdm opened #7638 "Canvas IPC is still too slow for debug WPT"
When we run the drawimage tests (like http://mxr.mozilla.org/servo/source/tests/wpt/mozilla/tests/mozilla/canvas/drawimage_html_image_1.html?force=1) on the build machines in debug builds, they all time out. @pcwalton thought that adding bincode to serde might have fixed this, but it appears not to be the case.

cc @erickt

[2015-09-15 14:56] jdm commented on #7637
This is going to need more information if the easy tag is going to remain.

[2015-09-15 14:56] jdm commented on #7637
If we proceed with just adding a flag right now, the code lives in `python/servo/build_commands.py`.

[2015-09-15 15:00] glennw commented on #7637
This would also involve changing the buildbot scripts in saltfs that currently set this env var.

[2015-09-15 15:03] erickt commented on #7638
By debug build do you mean without optimizations? If so I'm not terribly surprised :( serde produces a lot of genetic code and relies on the optimizer to inline it away.

[2015-09-15 15:11] aidanhs commented on #7638
Given this is about "Canvas IPC" I'm guessing it's not the cause of https://github.com/servo/servo/pull/7623#issuecomment-140366678 (iframe related) (also on https://github.com/servo/servo/pull/7605)?

[2015-09-15 15:14] metajack commented on #7638
Perhaps we need to switch to a more debuggable serialization library. Not being able to compile and run tests in debug mode seems like a non-starter.

[2015-09-15 15:16] larsbergstrom commented on #7638
A way to run the IPC library with "normal" channels and in-process only would be a possible easier first step. This would not only help with debug-mode performance issues, but the very platform-twiddly nature of this library slowed both myself and @vvuk with Servo ports to new platforms, and having a channel-based solution would have been a fantastic fallback for initial bootstrapping.

[2015-09-15 15:17] metajack commented on #7637
I assumed that the env var would be set by the build scripts, so saltfs changes don't need to gate this. But those changes would be super easy too.

@glennw Maybe file a new bug as E-less easy for your proposed flip to a runtime flag? I think this one is a reasonable first step even if the other solution is even better.

[2015-09-15 15:31] jdm commented on #7638
@aidanhs It's not entirely clear why debug builds cause those non-canvas tests to time out right now.

[2015-09-15 15:33] metajack commented on #7635
@jdm @mdinger This may help: https://github.com/servo/servo/blob/master/components/servo/Cargo.toml#L50-L56

[2015-09-15 15:41] erickt commented on #7638
I just ran my serialization benchmark suite without optimizations, and I'm not sure if there are really any good options here:

With optimizations:

[code]

Without optimizations:

[code]

Particularly telling is `goser::bench_clone`, which is just calling `.clone()` on the test structure, and that is still only able to do 19MB/s. Cap'n Proto is still the fastest, but it's still 10+ times slower t

[2015-09-15 15:45] metajack commented on #7638
What are our options then? Do all these suffer from the same issue that they make heavy use of generics? Is it possible to write one that doesn't?

If there are no alternatives, how can we use bincode in debug servo builds without making the browser untestable?

[2015-09-15 15:57] erickt commented on #7638
For completeness, here are the rest of the benchmarks that were run with `cargo test`, but with the test profile modified to `opt-level=1`. This also has the options `debug=true` and `debug-assertions=true`:

[code]

`opt-level=2`:

[code]

`opt-level=3`:

[code]

@metajack: @larsbergstrom's idea of a in-process channel could potentially do it, but it'd be a shame to not include testing the IPC fr

[2015-09-15 16:00] jxs commented on #7624
this should be 3 different tests right?

[2015-09-15 16:04] pcwalton commented on #7638
Maybe we can use shmem in a couple of places to mitigate this?

[2015-09-15 16:04] pcwalton commented on #7638
Another option would be to start batching canvas calls. We probably need to do this at some point anyway to reduce syscall overhead.

[2015-09-15 18:01] erickt commented on #7638
I did some investigation into optimizing the dependencies with `opt-level=3` but not optimizing the executable (which would require https://github.com/rust-lang/cargo/issues/1359 to be implemented in cargo), but it doesn't seem to help much:

[code]

The inverse however, where the executable is compiled with `opt-level=3` but not optimizing the dependencies is nearly as fast as optimizing everythi

[2015-09-15 18:09] jdm commented on #7624
Yes please!

[2015-09-15 18:22] mdinger commented on #7635
@metajack Thanks. I'll give it a shot.

[2015-09-15 18:25] Manishearth opened #7639 "Github closed status icon bleeds"
When opening https://github.com/servo/servo/issues/1 (on Linux):

![](https://cloud.githubusercontent.com/assets/1617736/9885683/260f9c14-5c04-11e5-9996-ce287421ac9d.png)

The element is a CSS circle via `border-radius` (the icon is from https://octicons.github.com/ and is basically a `:before` element containing U+F084 with a custom font)

[2015-09-15 18:29] pcwalton commented on #7586
Personally I'd like to start by looking at the CEF API, which is a tried-and-true API, and seeing how we could evolve the Rust API to look more like CEF. The current API wasn't really designed in any reasonable way.

[2015-09-15 19:46] jdm opened #7640 "Report usages of &Vec<T> in function arguments"
There's no reason for a function to accept a `&Vec<T>` argument instead of `&[T]`, since they allow the same operations and the first is an extra pointer dereference. We should check for the string `: &Vec<` in Rust source files and report any instances found.

Code: python/tidy.py

[2015-09-15 20:19] pcwalton commented on #7638
I'm having trouble reproducing this. In particular, `drawimage_html_image_1.html` seems to finish instantly. Do you have examples of the test failures?

[2015-09-15 20:38] jdm commented on #7638
Unforunately we lost all of the builder logs when we reverted https://github.com/servo/saltfs/pull/107 :/

[2015-09-15 20:38] jdm commented on #7638
What if you try reproducing on the builders?

[2015-09-15 21:12] mdinger commented on #7635
Same result. Actually, the last was from a debug build which I would think would have symbols too. I don't know how to fix this.

[2015-09-15 21:22] AnthonyBroadCrawford commented on #7630
If you guys don't mind.  I'm going to take a crack at this.  I don't see this in the guidelines, but is there a naming convention to branches you guys recommend?

[2015-09-15 21:28] jdm commented on #7635
I ran this under Instruments' Time Profiler on OS X and found all of the activity appears to be under rendering code.

[2015-09-15 21:31] jdm commented on #7635
13% under WorkerThread::optimize_and_paint_tile, 5% under WorkerThread::create_draw_target_for_layer, 5% under rendergl::render_scene, 3% under StackingContext::optimize_and_draw_into_context, and there are a ton of threads that are doing these operations and taking up cpu time.

cc @mrobinson

[2015-09-15 21:32] jdm commented on #7630
Branch names are entirely up to you, since they don't affect other developers at all.

[2015-09-15 21:50] jdramani commented on #7640
I think I can do it.

[2015-09-15 21:50] AnthonyBroadCrawford commented on #7630
Awesome.  Thank you.

[2015-09-15 21:57] jdm commented on #7640
Great!

[2015-09-15 21:58] metajack commented on #7635
@glennw and @pcwalton may be interested in this as well

[2015-09-15 22:23] mdinger commented on #7635
Thanks @jdm

[2015-09-15 23:23] bholley commented on #1942
Sorry for missing this, filter fail. See https://bugzilla.mozilla.org/show_bug.cgi?id=1114580#c23 .

[2015-09-15 23:35] pcwalton commented on #7636
cc-ing myself, @pcwalton

[2015-09-16 05:12] dzbarsky commented on #7284
I guess we don't have transitionend events yet but you could do a 0s-length transition and check that the final value matches a reference?  Might need to rAF to get it to paint the end state.

[2015-09-16 08:23] Ms2ger commented on #7218
Use `JSTrue` for now.

[2015-09-16 11:10] jojo05 commented on #7512
The program completes with no output file and no message (with top I see how cpu usage goes up to 2 cores out of 4 cores). The url I use is http://mozilla.org

[2015-09-16 12:31] #7495 closed

[2015-09-16 13:08] #6237 closed

[2015-09-16 13:10] jojo05 commented on #7512
I ran the above command at runlevel 3 (headless) and with xvfb-run -e error.file but it doesn't show any X errors so I assume it may be an issue in servo

[2015-09-16 14:00] SimonSapin commented on #7625
These tests assume that Ahem is installed, but rely on the next family in `font-family` being selected when Ahem has no glyph for a given character. For a while they passed because Ahem was not available. #7013 added Ahem, and these tests started failing because the fallback did not occur correctly. They started passing again when we installed msttcorefonts on the builders at some point.

If they

[2015-09-16 14:31] metajack commented on #7625
They are missing. The build automation is failing to install these correctly, and I'm still debugging.

[2015-09-16 15:50] jdm commented on #7624
My mistake; the property we care about for cookies is called `secure`, not `httpsOnly`: https://github.com/alexcrichton/cookie-rs/blob/master/src/lib.rs#L64 . The cookie string should look something like this: https://github.com/alexcrichton/cookie-rs/blob/master/src/lib.rs#L234

[2015-09-16 16:39] jdm opened #7647 "AssertRequestMustHaveHeaders doesn't work with empty headers"
Specifically, `AssertRequestMustHaveHeaders` is only asserting the presence of any headers passed in. It cannot be used to assert the absence of headers right now, which is confusing given the name. I suggest renaming `AssertRequestMustHaveHeaders` to `AssertRequestMustIncludeHeaders`, asserting that the provided headers are not empty, and adding a new `AssertRequestMustHaveHeaders` that checks th

[2015-09-16 20:13] jdm opened #7649 "Create a simplified issue list for E-easy/E-less-easy"
It's great to link people to https://github.com/servo/servo/labels/E-easy, but the resulting list is not always that useful. Specifically, we use the `C-assigned` label to mean that an issue has been claimed by someone and is being worked on, but this clutters the view for everyone else. I propose a webpage that uses the github API to display the following:
[code]

We can also show the issue label

[2015-09-16 22:21] jdm opened #7650 "SM assertion on reddit.com/programming when saved locally"
[code]

[2015-09-16 22:28] jdm commented on #7650
I can also reproduce this on a copy of ebay.com saved locally. This does not reproduce for the live copies on the web.

[2015-09-16 23:07] rvolgers commented on #7639
I'm investigating this a bit, even though it might be overambitious.

There is a general problem with bleed when two [anti-aliased shapes overlap](https://www.imperialviolet.org/2009/09/02/anti-aliased-clipping.html), but this looks a bit more severe to me.

It might be a result of the background being rendered using a clipping path generated by the simple `push_rounded_rect_clip` while the border

[2015-09-17 00:18] mcarifio opened #7652 "Can I open urls from the gui?"
There doesn't seem to be a window to type in urls. This is by design?

[2015-09-17 01:20] bjwbell commented on #7639
@rvolgers it could be related to https://github.com/servo/servo/pull/7577.

On Wed, Sep 16, 2015 at 4:07 PM, rvolgers <notifications@github.com> wrote:

--
-- Regards
Bryan

[2015-09-17 03:24] jdm commented on #7652
By default, yes. A GUI with a url bar can be used by running index.html from https://github.com/glennw/servo-shell instead of another URL at program launch.

[2015-09-17 03:24] SimonSapin commented on #7652
At the moment, Servo is a rendering engine rather than an "entire" browser.

There has been a couple experiments to add a UI on top of it (https://github.com/glennw/miniservo-gtk, https://github.com/pcwalton/miniservo-mac, https://github.com/glennw/servo-shell, possibly others) but I believe our current plan is to port https://github.com/mozilla/browser.html. See https://github.com/servo/servo/iss

[2015-09-17 04:11] samfoo commented on #7652
[The README] says on Mac `Ctrl-L` will spawn a dialog that allows browsing to a new URL, but this doesn't seem to work for me. Removing this might result in less confusion?

[2015-09-17 04:13] jdm commented on #7652
#7655. Thanks!

[2015-09-17 04:18] samfoo commented on #7649
Love it. I'll pick this up.

[2015-09-17 04:25] jdm commented on #7649
Yay!

[2015-09-17 06:18] psdh commented on #7647
@jdm I'll work on this immediately after hyperium/hyper#656 lands.

[2015-09-17 06:27] jdm commented on #7647
Great!

[2015-09-17 07:57] #7571 closed

[2015-09-17 14:43] Manishearth commented on #7218
A naive `return JSTrue` impl of this seems to segfault a lot. Not E-Easy.

[2015-09-17 15:20] metajack commented on #7625
This is now fixed.

[2015-09-17 15:38] #2010 closed

[2015-09-17 16:16] glennw opened #7658 "Redirect to an error page when a local file or URL cannot be loaded."

[2015-09-17 16:17] glennw commented on #7658
It can be confusing that running with an incorrect file path results in a blank white screen, we should show some kind of error page.

[2015-09-17 16:18] paulrouget opened #7659 "Make it possible to draw the titlebar and clip the window in HTML"
For browser.html, we want to draw the titlebar ourselves.

On osx, we need to be able to draw a window with rounded corners. the browser.html HTML page would use `html {border-radius:6px}`. To support that, we need to:

- add an option to start servo with no titlebar
- ~~create the glutin window with `with_decorations(false).with_transparency(true)`;~~
- ~~in rust-layers, `render_scene` should use

[2015-09-17 16:18] jdm commented on #7658
Agreed. I'll write up how to fix this.

[2015-09-17 17:59] mbrubeck commented on #6501
@bors-servo r=pcwalton

[2015-09-17 18:55] mbrubeck commented on #6501
[code]

On both Mac and Linux.  I think the first commit exposed this bug, and it should be fixed by adding a few more properties to `compute_damage`.

[2015-09-17 19:10] LifeIsStrange opened #7660 "Make Yeppp ! Use for SIMD.js and others maths instructions."
Hello, I Just propose to you to make use of the Yeppp ! Maths library
See : http://www.yeppp.info/
It's actually the Faster maths library.
Sorry if I say Something of stupid ! I know nothing about the Firefox use of maths instructions and Processors extensions.

[2015-09-17 19:24] jdm commented on #7658
The most likely place to handle this is in ScriptTask::handle_page_fetch_complete; if we notice that the provided metadata's status is 404, we could probably go ahead and remove the pending load, but start another one for the same pipeline that requests a 404.html from the local resources instead.

[2015-09-17 19:30] rvolgers commented on #7639
The problem is that the background is rendered using a clip path that has anti-aliasing, while the border is rendered using a path fill with anti-aliasing disabled.

I'm not really sure why anti-aliasing is disabled (it looks ugly) but I'm sure there's good reason, since it's done explicitly for just about every draw call.

So I'm assuming anti-aliasing should remain disabled, and the clipping sho

[2015-09-17 21:11] samfoo commented on #7649
Took a first [swag at this](http://www.ifdown.net/servo-starters/) last night. It might make sense to transfer the [repository](https://github.com/samfoo/servo-starters) to be owned by the servo org? Otherwise, I'm happy to keep maintaining it.

A few things that could be improved/feature ideas:

* Design is pretty crap. Lots of noise with the labels. I don't have a great idea on this.
* Because i

[2015-09-17 21:17] jdm commented on #7649
We could ask people to log in to github and use https://github.com/HenrikJoreteg/github-secret-keeper to allow it to remain a simple static app.

[2015-09-17 21:18] jdm commented on #7649
No wait, those are two separate ideas... we could use the secret-keeper if we wanted to use a particular github account for every user without having them log in.

[2015-09-17 21:21] samfoo commented on #7649
Yeah, I think it would make more sense just to push it on a VPS/heroku with a single authenticated account (ala how you did bugsahoy). It's not that big of a deal I don't think, but this was certainly the easiest approach to do without hassling with deployment, domains, etc.

[2015-09-17 21:31] jdm commented on #7649
And yeah, we'd be happy to accept the repository. This is great!

[2015-09-17 21:41] #6727 closed

[2015-09-17 21:42] jdm commented on #7381
@nerith Still working on this?

[2015-09-17 22:13] bjwbell commented on #7639
@rvolgers What does Gecko do, i.e. AA for background & border or no-AA for both?
Gecko seems to usually antialias but not always ([nsCSSRenderingBorders.cpp#1622](http://mxr.mozilla.org/mozilla-central/source/layout/base/nsCSSRenderingBorders.cpp#1622)).

I'd avoid altering libazure, getting a patch accepted for all the backends and merged can't be trivial.

I'd do the following:
1. Try and enable

[2015-09-18 03:55] AnthonyBroadCrawford commented on #7630
Should have a PR sometime tomorrow.  Really enjoyed getting the lay of the land, albeit only in the small section I'm in.

[2015-09-18 05:25] glennw opened #7663 "Add support for @keyframe animation"
Most of the support for animation is in place (since transitions are supported). The majority of the work for this task is likely to be parsing the @keyframe information correctly.

[2015-09-18 05:33] SimonSapin commented on #7663
Would it be a good idea to implement [Web Animations](https://w3c.github.io/web-animations/) first, and then `@keyframes` on top of it?

[2015-09-18 05:56] paulrouget opened #7665 "border-width: 0.5px is painted as 1px border"
![0 5border](https://cloud.githubusercontent.com/assets/373579/9952837/b547a2aa-5dda-11e5-8455-ec8a14c5aa3e.png)

[2015-09-18 06:25] mbrubeck commented on #7665
This is caused by [this code](https://github.com/servo/servo/blob/83b364189c5c8f37d01cd3512d45d850f737800f/components/gfx/paint_context.rs#L1098) and many similar lines in this file that use the `to_nearest_azure_*` functions.  These incorrectly round to the nearest px.  They should instead round to the nearest device pixel.

[2015-09-18 07:48] paulrouget opened #7666 "Support .ico"
Servo can't display hackernews' favicon:

[code]

[2015-09-18 07:49] pcwalton commented on #7666
The problem is that we don't support `.ico`.

[2015-09-18 08:20] #6501 closed

[2015-09-18 08:57] mbrubeck commented on #7665
Note: I haven't tested this on an actual retina-style display, but I simulated it by zooming and by using `--device-pixel-ratio`.

Also, I forgot to add a test, which I'll do shortly.

[2015-09-18 09:12] rvolgers commented on #7639
Gecko anti-aliases everything. So does webkit. I'm not sure to what degree they perform pixel snapping of positions, sizes and radii before rendering (servo's `PaintContext` does it for just about everything at the moment).

Enabling anti-aliasing everywhere breaks 13 reftests, I haven't looked at the details. It's worth noting that servo already has switches to disable anti-aliasing for reftests

[2015-09-18 09:42] askalski commented on #7604
I think it's ready for review.

[2015-09-18 12:05] #7665 closed

[2015-09-18 12:07] jdm opened #7668 "Consider stealing gecko's `./mach power` command"
https://bugzilla.mozilla.org/show_bug.cgi?id=1204787

[2015-09-18 13:14] #7652 closed

[2015-09-18 13:18] jdm commented on #6481
Does this still occur?

[2015-09-18 13:18] #6475 closed

[2015-09-18 13:19] #6144 closed

[2015-09-18 13:21] #4436 closed

[2015-09-18 13:31] jdm opened #7670 "Implement Storage::SupportedPropertyNames"
This should return the list of all keys for this storage: https://html.spec.whatwg.org/multipage/webstorage.html#the-storage-interface:supported-property-names

[2015-09-18 13:31] jdm commented on #7670
Code: components/script/dom/storage.rs

[2015-09-18 13:34] jdm commented on #7670
This should make `sessionStorage['foo']` equivalent to `sessionStorage.foo`; I would expect the former to be undefined right now.

[2015-09-18 13:36] jdm commented on #7670
Note: this was filed proactively as a task for a particular contributor to work on, so please talk with me before working on it if I have not directly suggested you should work on it.

[2015-09-18 13:39] Ms2ger commented on #7670
This isn't correct; it should help with `Object.getOwnPropertyNames(storage)`, though.

[2015-09-18 15:10] paulrouget opened #7671 "Implement overscroll"
Safari and Chrome have an "elastic" overscroll effect. Both on desktop and mobile.

Is that something we could get with Servo?

[2015-09-18 15:10] jdm commented on #7422
Easily reproducible for me with `./mach test-wpt /2dcontext/fill-and-stroke-styles/2d.pattern.basic.zerocanvas.html --debugger=lldb` and breaking on `rust_panic`.

[2015-09-18 15:13] paulrouget opened #7672 "Implement scrollgrab"
When scrolling, we want to be able to give a parent layer the priority.

Relevant bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=912666

[2015-09-18 15:14] paulrouget opened #7673 "Implement CSS scroll snapping"
http://dev.w3.org/csswg/css-snappoints
https://wiki.mozilla.org/Gecko:CSSScrollSnapping
https://bugzilla.mozilla.org/show_bug.cgi?id=945584

[2015-09-18 15:25] paulrouget commented on #5398
Just want to mention that our React-based code runs properly in Servo.

[2015-09-18 15:52] jdm opened #7676 "Implement CustomAutoRooter/AutoGCRooter equivalent"
Potential vtable-based replica solution: https://gist.githubusercontent.com/michaelwu/a9525f07112a8224a540/raw/5d440e2f3b6cb4b1305bee2a8873a54e7c740aa4/jsapi.rs

https://dxr.mozilla.org/mozilla-central/source/js/src/jsapi.h?from=customautorooter#467
https://dxr.mozilla.org/mozilla-central/source/js/src/jspubtd.h#189

I'll push a branch I started and discuss some of the problems I encountered.

cc

[2015-09-18 16:00] jgraham opened #7677 "Crashes due to race conditions when navigating"
Currently there is a bunch of asynchronous state set up in the constellation and script task during load/paint that is implicitly assumed to be fully initialized by the time we come to navigate. This leads to race conditions that are relatively easy to lose by starting servo and immediately using webdriver to perform a navigation. For example #7675 covers the case of load then navigate calling `fr

[2015-09-18 16:21] metajack commented on #7668
Funny, I just sent an email about this this morning :)

[2015-09-18 16:59] AnthonyBroadCrawford commented on #7630
PR for this issue has been created (https://github.com/servo/servo/pull/7678).

Given this is my first Servo PR please provide any/all feedback, I'd appreciate it.

[2015-09-18 17:35] bjwbell commented on #7639
Fantastic writeup, thanks.
And I thought we were almost done with implementing the border code...

It's completely up to you how much you want to implement to close this
issue.
Is it alright if I add your writeup to the wiki? We'll be referring to it
for a long time.

For the failing reftests we'll have to look at each one and see if it's a
real issue or not.
For at least one the reftest will need

[2015-09-18 18:36] bjwbell commented on #4126
Implemented with PR https://github.com/servo/servo/pull/7502 "Add elliptical border radius" and PR https://github.com/servo/servo/pull/7642 "Add elliptical border-radius shorthand parsing".

[2015-09-18 18:37] #4126 closed

[2015-09-18 21:46] #7390 closed

[2015-09-18 21:51] aopicier commented on #7558
I've looked at this problem a bit. Here are two documents which currently do not behave correctly (both mentioned in #6375):

[code]
[code]
In both cases, the computed display type of the root element is actually correctly, namely `block`. But the flow construction uses the `-servo-display-for-hypothetical-box` property instead of the `display` property in both cases, which has the value `inline`.

[2015-09-18 22:54] notriddle opened #7681 "Inline border does not enclose inline-block"
[code]

![screenshot from 2015-09-18 15-53-31](https://cloud.githubusercontent.com/assets/1593513/9972778/76340a16-5e1d-11e5-9ca9-a6f7683ad033.png)

[2015-09-19 07:16] samfoo commented on #7649
Added a few things from the list above. Visible [here](http://www.ifdown.net/servo-starters/). I'll transfer the repo just now.

[2015-09-19 07:17] samfoo commented on #7649
D'oh! I can't transfer to servo unless I have admin rights. Silly github. Best approach is probably to clone/create a new repo, then I'll delete mine.

[2015-09-19 07:57] jdm commented on #7649
Forked!

[2015-09-19 08:00] jdm commented on #7649
Also that spinner is adorable.

[2015-09-19 15:41] #7660 closed

[2015-09-19 17:24] Mylainos commented on #7658
I would like to work on this issue !

How would it handle the status 404 if a page is return ? Like this one http://doc.servo.org/script/script_task/struct.InProgressLoad.htmlqsg

[2015-09-19 17:26] jdm commented on #7658
The `status` field of `Metadata` contains that information: http://doc.servo.org/hyper/http/struct.RawStatus.html

[2015-09-19 17:49] dzbarsky commented on #7663
I think the spec for how Animations are represented in terms of Web Animations hasn't settled down yet, but it's probably still worth doing

[2015-09-19 20:18] Mylainos commented on #7658
I know but how could I know if there is a page return by the server. We don't want to load the about:404 page if there is a special page return by the server.

[2015-09-19 20:36] jdm commented on #7658
Oh, I see what you mean. That's a good point; I'll need to think about it.

[2015-09-19 20:37] jdm commented on #7658
You could check if the body is empty, I suppose?

[2015-09-19 20:49] frewsxcv commented on #7670
Related to https://github.com/servo/servo/issues/7273

[2015-09-19 22:42] samfoo commented on #6813
I've taken a brief look at this, and I'm wondering why wouldn't we make `Window` and `Document` traits, and allow mocking them in tests? None of the struct fields on either are public, which at least means this should be possible.

There's clearly a lot of work to do this, but it seems to me like most of the things we would want to test when doing this shouldn't need a full `ScriptTask` itself. Ra

[2015-09-19 23:46] #7381 closed

[2015-09-20 00:18] Mylainos opened #7684 "Wrong http status when opening a file which doesn't exist"
When opening a file which doesn't exist, the 404 status is expected. Instead it's the 200 which is given.

[2015-09-20 00:19] Mylainos commented on #7658
I report this error #7684. I can't continue this one before it's fixed

[2015-09-20 00:23] Mylainos commented on #7684
If you want to test, add this at the 1402 line of `components/script/script_task.rs` :
[code]

[2015-09-20 01:06] wilfreddenton commented on #7640
I'm new to Rust so I just need some clarification. I thought that vectors allow for adding and removing elements whereas arrays do not. A function needing to manipulate a collection parameter's items would need the parameter to be a vector, no?

[2015-09-20 02:35] Mylainos commented on #7684
These attributes are not set when it's a local file:
[code]
Should I create a new issue ?

[2015-09-20 02:38] jdm commented on #7640
Those would need to be mutable, ie. &mut Vec. Immutable references provide no additional functionality over slices.

[2015-09-20 03:25] wilfreddenton commented on #7640
Oh right. thanks for the help!

[2015-09-20 05:32] Wafflespeanut opened #7686 "Tidy has an off-by-one error"
[This commit](https://github.com/servo/servo/commit/07cde59535b1148c149cc026529d608ad60ed8d7) has missed something. It doesn't actually check for 120 chars, but [119 chars](https://travis-ci.org/servo/servo/builds/81230487#L116) ([here's the line](https://github.com/Wafflespeanut/servo/blob/alpha_lints/components/plugins/lints/sorter.rs#L162) which breaks tidy, whose [length is 119](http://is.gd/0

[2015-09-20 07:10] #7284 closed

[2015-09-20 07:24] iostreamer-X opened #7687 "Updating git repository stuck on skia"
I have been trying to build servo since last night but it simply refuses to progress.
    Updating git repository `https://github.com/servo/skia`
is where the whole process stops. I have waited for approx 1 hour, deleted .cargo/git and restated but to no avail. Please help regarding this.

Thank you.

![screenshot from 2015-09-20 12 48 44](https://cloud.githubusercontent.com/assets/7972020/9979700

[2015-09-20 07:39] jdm commented on #7687
It's an extremely large repository, so this isn't particularly surprising depending on the speed of the internet connection in use.

[2015-09-20 08:01] iostreamer-X commented on #7687
Oh, I checked the speed and yes it was really low, 30KBps on average against usual 128KBps. Seems it is working fine in the background but any idea why such low speed?(Sorry of going off topic)

[2015-09-20 08:04] Manishearth commented on #7687
@jdm What are your thoughts on using a flattened (i.e., no git history) copy of Skia as a git dep? My Skia checkout is 1.1G, with 973M being the `.git` folder. The rest is large enough to not work on crates.io, but small enough to be cloneable without too much of a wait.

Cargo is basically never going to get shallow cloning capabilities since libgit2 is not planning on supporting it (something ab

[2015-09-20 08:41] jdm commented on #7687
I'm strongly in favour of anything that improves the cloning performance of skia.

[2015-09-20 10:30] iostreamer-X commented on #7687
Sorry for bugging, I think this was not even an issue.

[2015-09-20 10:30] #7687 closed

[2015-09-20 10:35] iostreamer-X opened #7688 "Build fail"
I was finally able to download all the resources but unfortunately the build was not a success. Here is the error I am getting.  Please advice.

Thank you

--- stderr
/home/iostreamer/servo/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/js/src/configure: 1: /home/iostreamer/servo/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/js/src/configure: /home/iostreamer/servo/.cargo/git/

[2015-09-20 15:35] Ms2ger commented on #6813
I'm generally not in favour of creating tests that can't be reused by other browsers.

[2015-09-20 16:21] #6359 closed

[2015-09-20 21:15] samfoo commented on #6813
I see the value of these tests as faster feedback for the component-level logic of the servo specific implementation.

Consider a (fictional) test like...

[code]

The main advantage being that this test runs in microseconds, rather than seconds like the WPT tests. If you're not convinced by the anchor tag, consider how code that requires user input (e.g. `maxLength` on `textarea` or `input`)? At

[2015-09-21 00:01] ddrmanxbxfr commented on #7686
Just opened a PR for it to raise error at over than 120.

Makes sense.

[2015-09-21 02:42] ddrmanxbxfr commented on #7670
I've opened a PR for it. Implemented and done some unit test on it like @frewsxcv did for htmlproperties.

If it looks ok, I'll keep on working implementing more :).

Thanks.

[2015-09-21 02:43] ddrmanxbxfr commented on #7670
Oh oops @jdm I didn't read the comment of warning you before. I saw the issue as unassigned. :\

Anyways, feel free to take my pr on it if you want.

[2015-09-21 02:44] jdm commented on #7670
Ack. :( I'll figure out what to do here.

[2015-09-21 02:45] ddrmanxbxfr commented on #7670
There's still plenty SupportedPropertyNames to implement from here, do you want me to open issues on those before working on them @jdm ?

[2015-09-21 02:53] jdm opened #7695 "Implement DOMStringMap::SupportedPropertyNames and NamedNodeMap::SupportedPropertyNames"
https://html.spec.whatwg.org/multipage/infrastructure.html#domstringmap
https://dom.spec.whatwg.org/#dom-namednodemap

See the text about "the supported property names" in those sections.

Code: components/script/dom/domstringmap.rs, components/script/dom/namednodemap.rs

[2015-09-21 02:53] jdm commented on #7670
I'll claim #7695 as a replacement.

[2015-09-21 03:10] ddrmanxbxfr commented on #7670
@jdm Ok not touching at those then :).

[2015-09-21 06:13] paulrouget commented on #7666
Browser.html needs this to show favicons.

What should be done here? Add support to stb-image or use another library?

[2015-09-21 07:26] pcwalton commented on #7666
Let's use another library. We're past due time to move off stb_image.

[2015-09-21 08:23] Manishearth commented on #2853
https://github.com/rust-lang/rust/issues/28559 blocks rustup

[2015-09-21 11:06] paulrouget commented on #7659
Started working on this.

Found a better way to properly draw decoration-less cocoa windows: https://github.com/tomaka/glutin/pull/606

[2015-09-21 12:28] paulrouget commented on #7408
Relevant gecko patches (haven't landed in m-c): https://bugzilla.mozilla.org/show_bug.cgi?id=1070710

[2015-09-21 14:27] mskrzypkows commented on #7301
I've found the root cause of floating left. Google uses ```<center>``` tag, inside there is ```<div>``` with ```align="left"``` attribute which causes logo to float left. Here is example html which shows the difference:
[code]

[2015-09-21 15:07] Wafflespeanut commented on #7451
Alright, after having some discussion with others, I've realized that this lint won't be very helpful for servo. So, let's close this (I did have fun time though)...

[2015-09-21 15:07] #7451 closed

[2015-09-21 16:19] Wafflespeanut opened #7699 "Integrate plugins into the remaining crates and check for `to_strings`..."
[We have a lint](https://github.com/servo/servo/blob/master/components/plugins/lints/str_to_string.rs) which forbids the usage of `to_string` (as it's less efficient compared to the `to_owned` alternative). The `plugins` crate has been integrated into most of the crates and the `to_string` methods lurking there have already been destroyed.

But, [compositing](https://mxr.mozilla.org/servo/source/c

[2015-09-21 16:39] tschneidereit opened #7700 "border-radius > 0 between horizontal border with width > 0 and vertical border with width == 0 causes panic in intersect_ellipse_linein combination with"
The following code causes the crash:

[code]

The issue is caused by `draw_corner` not dealing correctly with 0-width borders [here](https://github.com/servo/servo/blob/master/components/gfx/paint_context.rs#L675-L678).

Replacing the `if inner_border.x >= outer_border.x {` with the following conditions fixes the crash, but I'm not sure it's the right solution:

[code]

[2015-09-21 16:50] jdm commented on #7301
That's triggered by this CSS rule: http://mxr.mozilla.org/servo/source/resources/presentational-hints.css#14

[2015-09-21 16:51] jdm commented on #7301
Then again, it may also be interacting with http://mxr.mozilla.org/servo/source/resources/servo.css#27 ?

[2015-09-21 16:54] jdm commented on #7700
cc @bjwbell

[2015-09-21 17:58] bjwbell commented on #7700
@tschneidereit @jdm sorry! I should have been more thorough in my testing.

Looking at the code...

[2015-09-21 20:41] edunham commented on #7491
@wilmoz thank you for the PR! Can this issue be closed now?

[2015-09-21 20:41] edunham commented on #7382
@ddrmanxbxfr Thank you for the PR! Can this issue be closed now?

[2015-09-21 20:45] jdm commented on #7382
Yep!

[2015-09-21 20:45] #7382 closed

[2015-09-21 20:46] jdm commented on #7491
Yep!

[2015-09-21 20:46] #7491 closed

[2015-09-21 20:49] edunham commented on #7038
@notriddle Thank you for all the hard work on this PR!

Since the PR is merged, this issue can probably be closed now.

[2015-09-21 20:59] jdm commented on #7038
The PR mentioned was separate but related. The work here merely exists in a branch of notriddle/servo so far.

[2015-09-21 21:00] jdm commented on #7110
Thanks for fixing this @fabricedesre!

[2015-09-21 21:00] #7110 closed

[2015-09-21 21:07] jdm commented on #6888
How's it going, @jdramani? Any problems I can help resolve?

[2015-09-21 22:02] jdramani commented on #6888
@jdm I am sorry i got stuck in my work but i will  finish the script by tomorrow. I will give you an update regarding this.

[2015-09-21 22:17] jdm commented on #6888
No hurry! I just wanted to make sure that you weren't stuck on something :)

[2015-09-21 22:19] rvolgers commented on #7639
So far I've implemented two things:

1. Enable anti-aliasing for all border drawing. I was going to enable it for all draw operations but I'm not actually convinced that's needed, so I'd rather keep this change minimal.
2. Fixed the `background-clip: padding-box` implementation for rounded corners (basically switched the order of two code blocks that were the wrong way around).

And I'm working on

[2015-09-21 22:21] jdm opened #7701 "Layout panic when clicking on link to binary file"
eg. firefox.com's download button
[code]

[2015-09-21 22:21] jdm commented on #7701
`thread 'LayoutWorker worker 5/6' panicked at 'index 19431 and/or 19445 in `

[2015-09-21 22:42] bjwbell commented on #7639
One PR is fine, split into 3 commits. Similar to how https://github.com/servo/servo/pull/7577/commits is split into two commits (technically I should have flipped the order to prevent the build failing).

I'm looking forward to seeing your PR.

You might want to add an option/flag in `servo::util::opts::Opt` to enable/disable anti-aliasing.

[2015-09-21 23:14] mattnenterprise commented on #7608
I would like to do this

[2015-09-22 00:36] notriddle commented on #7636
I think this is #2261.

[2015-09-22 00:55] frewsxcv commented on #7630
Fixed in #7678 by @AnthonyBroadCrawford

Thanks again!

[2015-09-22 00:55] #7630 closed

[2015-09-22 02:35] jdramani opened #7704 "error on running ./mach test-dromaeo (ubuntu 14.04 32-bit)"
./mach test-dromaeo command gives the following error..

Already up-to-date.
make: Entering directory `/home/jaydeep/servo/tests/dromaeo/dromaeo'
make: `web' is up to date.
make: Leaving directory `/home/jaydeep/servo/tests/dromaeo/dromaeo'
Traceback (most recent call last):
  File "/home/jaydeep/servo/tests/dromaeo/run_dromaeo.py", line 60, in <module>
    server = BaseHTTPServer.HTTPServer(('',

[2015-09-22 03:01] jdm commented on #7704
Looks like you already have a web server running on port 80?

[2015-09-22 03:02] jdm commented on #7704
Sorry, port 8192 according to http://mxr.mozilla.org/servo/source/tests/dromaeo/run_dromaeo.py#17 .

[2015-09-22 03:10] jdm commented on #7608
@mattnenterprise I actually have a student that is intending to work on this; sorry. I appreciate that you asked first!

[2015-09-22 06:08] SimonSapin commented on #7701
I think we should do two things here:

* Not panic when random binary data is parsed as HTML and rendered through layout
* Check the `Content-Type` header to not even try to render binary resources as HTML. (Eventually, offer a download instead.)

[2015-09-22 06:19] saneyuki commented on #7040
fixed by #7611

[2015-09-22 06:19] #7040 closed

[2015-09-22 06:24] jdramani commented on #7704
I found out which pid is using this port by:
fuser 8192/tcp
I got pid: 7713
Then I checked which process is this by:
ls -l /proc/7713/exe
output: lrwxrwxrwx 1 jaydeep jaydeep 0 Sep 21 23:08 /proc/7713/exe -> /home/jaydeep/servo/python/_virtualenv/bin/python2

I do not understand this. I tried to kill this process by sudo kill 7713 but nothing happens.
Do you know anything about this?

[2015-09-22 07:51] paulrouget commented on #7408
This is what I tried to do:

- `window.setMovableByWindowBackground_(YES)`
- add `NSView`s where the window is not draggable
- these views are subclasses of `NSView` where `mouseDownCanMoveWindow` returns `NO`

But `mouseDownCanMoveWindow` is never called. I don't know why.

[2015-09-22 08:12] mskrzypkows commented on #7301
Here: http://mxr.mozilla.org/servo/source/components/layout/block.rs#2473 we have a check for ```<center>``` tag, if ```<div>``` has ```align="left"``` than ```input.text_align``` is not ```text_align::T::servo_center``` so there should be check for parent align or in other part, where ```input.text_align``` is set, there should be check for parent tag.
What do you think? Is it right direction?

[2015-09-22 08:22] paulrouget commented on #7408
Failing code: https://github.com/paulrouget/glutin/commit/5b922d1e19723c16b55a2eb9241c2cc69d60e4b1

[2015-09-22 08:51] paulrouget opened #7705 "Make it possible to set the coordinates of the window controls"
In Browser.html, the default position of the window controls (close,max,min buttons) is wrong:

<img width="382" alt="screen shot 2015-09-22 at 10 41 31" src="https://cloud.githubusercontent.com/assets/373579/10014190/e1f07bca-6117-11e5-830d-a0d66348787f.png">

We at least need a glutin method to set the window controls coordinates.

Then, maybe we can hardcode the position in Servo, or, like in G

[2015-09-22 11:02] mskrzypkows commented on #7699
I'd like to take this.

[2015-09-22 13:40] jdm commented on #7704
I don't, sorry :/ Maybe `sudo kill -9 7713` will work?

[2015-09-22 13:46] jdm opened #7706 "Don't interpret binary files as HTML"
We want to avoid interpreting streams of binary bytes as HTML, since that's silly and easily breaks our layout code that is unprepared for such things. In the code that receives the HTTP headers for a page (ParserContext::headers_available) we should check for the `Content-Type` header `application/octet-stream` and ignore the forthcoming response body if the header matches. We can replace it with

[2015-09-22 13:47] jdm commented on #7701
Filed #7706 for part 2.

[2015-09-22 13:48] jdm commented on #7301
That makes sense to me, but I will defer layout questions to people like @mbrubeck.

[2015-09-22 13:49] jdm commented on #7301
Perhaps we need a flag on nodes that are children of a `<center>` element, rather than a special text-align value.

[2015-09-22 14:13] jdm opened #7708 "Move HTTP requests out of image cache logic"
The cache should be a simple store for decoded pixels with a key that can distinguish between two image requests for the same URL that included different sets of cookies, for example. The (eventual) network cache should be in charge of caching the original response bytes to facilitate re-decoding if necessary.

This work will also enable much easier implementation of image elements blocking the do

[2015-09-22 14:15] SimonSapin commented on #7706
Rather than a black list with `application/octet-stream`, we might want a white list of supported MIME type (and possibly some [sniffing](https://mimesniff.spec.whatwg.org/). We know how to deal with `text/html`, `text/plain`, some image MIME type, etc, and everything unknown should be treated like `application/octet-stream`.

[2015-09-22 15:10] tschneidereit commented on #7562
This is a dupe of #7700.

[2015-09-22 15:10] #7562 closed

[2015-09-22 17:36] jdm commented on #7684
Yeah, this should be fixed along with #4212. Want to try fixing that one?

[2015-09-22 20:18] pcwalton commented on #7558
@aopicier Yes, that looks like a reasonable fix.

[2015-09-22 21:20] eefriedman commented on #7701
For the panic, I think the issue is here: https://github.com/servo/unicode-bidi/blob/b3813c271853333fe75b553796aec5fe94ecc807/src/lib.rs#L288 .  I think `i + 1` is supposed to be `i + c.len_utf8()`?  Presumably the issue never came up because real text never uses `U+0085` or `U+2029`.

[2015-09-22 22:13] artiom commented on #3360
1. Is this still relevant?
2. Let's say they are different, do you want to see the diff output or just a message saying that they are different?

I just checked and a difference between ```./components/servo/Cargo.lock``` and ```./ports/cef/Cargo.lock``` is quite large.

[2015-09-22 22:15] mattnenterprise commented on #6539
I would like to do this if it is still available.

[2015-09-22 22:16] metajack commented on #3360
I think this better fixed by checking that the lock files don't change before and after build, which @Manishearth is trying to do with https://github.com/servo/saltfs/pull/119

[2015-09-22 22:16] #3360 closed

[2015-09-22 22:26] jdm commented on #6539
@mattnenterprise Sorry to keep turning you down :( This is listed as a potential project for a group of students right now; I'll let you know once I hear back whether it's claimed or not.

[2015-09-22 23:05] Mylainos commented on #7684
Ok ! I lose here http://mxr.mozilla.org/servo/source/components/script/network_listener.rs#48 where Metadata come from and it's not modified before.

[2015-09-23 00:10] jdm commented on #7684
Look at ResponseAction in net_traits/lib.rs; that's where it is stored, and then you can find the code that creates the HeadersAvailable value in net/resource_task.rs if I recall correctly (apologies, I'm on a phone).

[2015-09-23 02:54] glennw opened #7714 "Memory usage grows continuously in http://andrew-hoyer.com/experiments/rain/ demo"
I haven't looked into the cause yet, but allocated memory seems to grow at about 1-2 MB/s even after the animations are complete.

[2015-09-23 04:26] nerith commented on #7637
I'm working on this.

[2015-09-23 07:11] SimonSapin commented on #7701
CC @mbrubeck re unicode-bidi

[2015-09-23 07:30] Manishearth opened #7715 "layout::wrapper::as_element allows the creation of unbounded lifetimes"
https://github.com/servo/servo/blob/master/components/layout/wrapper.rs#L369

[code]

If used in the wrong context, this might end up creating a `LayoutElement<'static>` or something else that has a lifetime longer than its actual lifetime.

I'm not really familiar with the invariants being maintained for the unsafe code here, but this function doesn't look right to me.

Perhaps it should be `unsa

[2015-09-23 07:43] Ms2ger commented on #7715
Yeah, probably. It's only called in two places, and those are both "safe". This entire file is a house of cards, though.

[2015-09-23 07:54] Manishearth commented on #7715
It seems like LayoutJS should have a lifetime, with unsafe methods for transmuting the lifetime when needed.

Still a house of cards, but at least stuff would be explicit.

[2015-09-23 08:07] Ms2ger commented on #7715
I've been thinking about that. Unfortunately we'd need to implement a similar unbounded cast in `LayoutJS::from_trusted_node_address`.

[2015-09-23 08:08] Manishearth commented on #7715
Sure, but that can be unsafe. It makes sense for that to be unsafe.

[2015-09-23 11:25] Wafflespeanut commented on #7686
fixed by #7692

[2015-09-23 11:25] #7686 closed

[2015-09-23 14:21] Ms2ger opened #7718 "Implement Document#charset."
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-document-charset>.
* Code: `components/script/dom/document.rs`, `components/script/dom/webidls/Document.webidl`.
* Test: `dom/interfaces.html`, `dom/nodes/DOMImplementation-createDocument.html`, `dom/nodes/DOMImplementation-createHTMLDocument.html`, `dom/nodes/Document-characterSet-normalization.html`, `dom/nodes/Document-constructor.html`,

[2015-09-23 16:11] mbrubeck commented on #7701
@eefriedman Good catch. Would you like to file a PR on unicode-bidi to fix that, or shall I?

[2015-09-23 18:10] Manishearth opened #7720 "Add support for :target pseudo-selector"
See https://github.com/servo/servo/issues/7720#issuecomment-224279985 for instructions on how to solve this.

Relevant spec: https://html.spec.whatwg.org/multipage/scripting.html#selector-target

[2015-09-23 18:25] Manishearth commented on #7720
For efficiency, _first_ check if the fragment matches the elements id or name, and then proceed with doing a document traversal.

@SimonSapin It occurs to me that pseudo-selectors that depend on a property of the _document_, rather than a direct property of the element (e.g. `:target`, `:current`, etc) are quite inefficient with `querySelector()`, since for each element, one must access the docume

[2015-09-23 18:58] mbrubeck commented on #7720
For what it's worth, Gecko and Blink do not seem to recalculate `:target` matching when the DOM changes, as seen in this test case:

[code]

[2015-09-23 19:00] jdramani commented on #6888
Currently, for color outputs (green: when time taken decreases and red: when time taken increases) I am making my own class. So if there already exists such class then can you point me to it so that i do not have to define again.
Secondly, the command will operate like this, right? : ./mach compare-dromaeo filepath1 filepath2
So we do not have to worry about where the both files are stored.
Thirdl

[2015-09-23 19:32] jdm commented on #6888
First: all colour code is manual right now; a class would probably allow us to improve the other code that modifies the terminal output right now.
Secondly: Correct.
Third: That looks great! Perhaps call the second column "First run" and the third "Second run" for clarity.

[2015-09-23 20:54] Wafflespeanut commented on #7699
fixed by #7707

[2015-09-23 20:54] #7699 closed

[2015-09-23 21:09] rvolgers commented on #7639
After reviewing the reftests it turns out enabling anti-aliasing causes a bunch of new bleed artifacts. In particular, `./tests/wpt/css-tests/css21_dev/html4/border-seams-001.htm` now fails with exactly the kind of ugly seam I'd been trying to avoid.

I'm probably going to submit a PR for the unrelated bugfix and fix some more semi-related issues (such as content not clipping to the rounded area w

[2015-09-23 21:17] SimonSapin commented on #7720
Yeah, we probably don’t want to traverse the document every time `:target` is matched on a given element. Could we maintain a "targeted" flag on every element? These flags would need to be updated (at least) when an element is inserted or removed, when an `id` or `name` attribute is added/removed/modified, or when the fragment identifier of the document’s URL changes.

[2015-09-23 21:29] glennw opened #7721 "After any transition, the compositor keeps redrawing continuously."
I haven't looked into why yet - I suspect the animation running flag never gets cleared or something like that.

[2015-09-23 22:41] mrobinson opened #7722 "Eyes don't always load in Acid2"
Currently `tests/html/acid2.html` looks like this for me:

![bug](https://cloud.githubusercontent.com/assets/13536/10060917/7c8c310a-6209-11e5-8051-36317f676fe8.png)

I have bisected the issue to https://github.com/servo/servo/commit/040c09fbc51ac282b7224799851d62cd3a60ee7f .

cc @mbrubeck

[2015-09-23 22:42] glennw commented on #7722
@mrobinson Does it become correct if you hover your mouse over the browser window?

[2015-09-23 22:56] mrobinson commented on #7722
@glennw Hovering and clicking don't seem to improve things.

[2015-09-23 23:22] jdm opened #7723 "Intermittent timeout in test-css"
[code]

[2015-09-24 00:29] bholley commented on #6942
I'm going to take a look at this, at least the smaller issue that @dbaron mentioned.

[2015-09-24 00:49] bjwbell commented on #2872
No longer occurs on latest master. Possibly fixed by https://github.com/servo/servo/pull/3806, https://github.com/servo/servo/pull/3714, & https://github.com/servo/servo/pull/3759.

[2015-09-24 00:49] #2872 closed

[2015-09-24 01:18] #7721 closed

[2015-09-24 04:54] notriddle commented on #7671
Spelling nit: s/Imlement/Implement/

[2015-09-24 06:14] Manishearth commented on #7720
Using NodeFlags? That sounds like a good idea. I don't like stuffing lots of flags into NodeFlags, but for now that seems okay.

This still requires a full dom traversal whenever a node is moved. We can improve it so that it first does a traversal of the moved node though.

[2015-09-24 06:16] Wafflespeanut commented on #7720
I'll gladly take it :)

[2015-09-24 06:22] eefriedman commented on #7701
https://github.com/servo/unicode-bidi/pull/17/

[2015-09-24 07:19] dhananjay92 opened #7725 "Servo keeps sending requests if Server doesn't respond!"
If the web server doesn't send any response, servo just keeps sending requests.
Steps to reproduce this scenario:
1. Start this [responseless server](https://gist.github.com/dhananjay92/2be236dfd77536835292)
2. Try to load this in servo (i.e. `servo http://127.0.0.1:8888/`)
3. You will see infinite many `do_GET()...` printed by server.

[2015-09-24 10:35] #7218 closed

[2015-09-24 12:53] jdm commented on #7725
This seems like the connection pooling code is hitting an edge case, @seanmonstar.

[2015-09-24 14:23] Manishearth opened #7726 "Add Form getter for all other form elements which we support"
There are [many elements](https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/semantics/forms/form-control-infrastructure/form.html.ini#L3) with the `form` getter which we support (label, object, textarea)

This needs a simple implementation of `FormControl`, like [so](https://github.com/servo/servo/blob/2623f58a4b2b302c354257632e3ff67d1dfa72d9/components/script/dom/htmlbuttonelemen

[2015-09-24 15:46] bjwbell commented on #7639
Sorry to hear, it's not an easy problem. I'm still working on fixing https://github.com/servo/servo/issues/7589.

[2015-09-24 19:17] jdm opened #7730 "Intermittent reftest failure in pixel_snapping_border_a.html"
[code]

[2015-09-24 19:34] mbrubeck commented on #7730
`(left: `1600`, right: `1280`)` means that one image was 1600 pixels wide, while the other was 1280 pixels wide. If both correctly used `--device-pixel-ratio 2` as set in the manifest for this test, this means that one was rendered with a viewport of 800px and the other 640px.

Servo's default window size is 800px as set in [util::opts::default_ops](https://github.com/servo/servo/blob/30ffd09eb3da

[2015-09-24 20:43] jdm opened #7731 "Intermittent Option::unwrap() panic in /dom/nodes/Document-createElement-namespace.html"
[code]

This comes from Window::get_cx:
[code]
We have an image load notification occurring which is trying to dispatch a DOM event after we've already torn down the JS runtime (or haven't created it, but that seems unlikely).

[2015-09-24 20:44] jdm commented on #7731
This particular issue would be fixed by making image load events block the document load event per the spec.

[2015-09-25 01:02] #7700 closed

[2015-09-25 02:32] waddlesplash commented on #7666
See also: #3368.

[2015-09-25 02:36] waddlesplash commented on #4274
Solved by #7644? Or only partially?

[2015-09-25 02:37] jdm commented on #4274
Good enough to be worth filing more specific issues, I think.

[2015-09-25 02:37] #4274 closed

[2015-09-25 02:40] jdm opened #7737 "Intermittent timeout in test-ref"
[code]

[2015-09-25 02:56] jdm commented on #7737
I compared the output here with the list of tests that should be run, and they appear to all be present. For some reason the test harness timed out after running all tests?

[2015-09-25 03:17] waddlesplash commented on #7705
Why does the URL bar say 'HTTP' not 'HTTPS' here? Is that a miscommunication between Servo and Browser.html?

[2015-09-25 03:19] jdm commented on #7705
Presumably we don't implement the appropriate events to inform the embedding about redirects.

[2015-09-25 03:20] jdm commented on #7317
@aidanhs: You likely need to run with `--pref layout.flex.enabled` to reproduce the crash.

[2015-09-25 05:51] sinistersnare commented on #7640
It seems clippy has [this lint](https://github.com/Manishearth/rust-clippy/wiki#ptr_arg)

[2015-09-25 10:40] s142857 commented on #7706
is it possible a n00b like me can fix it

[2015-09-25 12:24] Ms2ger opened #7739 "Implement @import"
See the TODO comment in `components/style/stylesheets.rs`.

I don't know what the status of our networking code is right now. @jdm, would it make sense to fix this now, or wait for upcoming networking changes?

[2015-09-25 13:56] jdm commented on #7706
@s142857 I think you should give it a shot :)

[2015-09-25 13:56] Manishearth opened #7740 "Evaluate need for ANGLES dependency"
Currently we depend on ANGLES for webgl shader validation.

[code]

I'm not sure if this is necessary -- we might be able to get the same effect by invoking certain OpenGL/GLES apis.

@ecoal95 thoughts?

[2015-09-25 14:13] ecoal95 commented on #7740
I think it's definitely needed, the WebGL spec specifies not only the GLES language to use, but also multiple constraints that can only be verified parsing and analyzing the shader before compiling:
* Reserved identifiers
* Max number of varyings and uniforms used
* Initial value for `gl_Position`
* Disallowing some constructs, like user-defined functions in global variable initializations, but al

[2015-09-25 14:40] jdm commented on #7739
I don't think there's any need to wait. As long as stylesheet network loads remain synchronous from the point of view of the layout task, this should be relatively straightforward. I suggest we
* add a `StylesheetFetcher` trait to `style_traits` with a method that initiates a request for an imported stylesheet URL
* add an instance of this trait to `ParserContext`
* define an implementation of thi

[2015-09-25 15:45] s142857 commented on #7706
could you guide me

[2015-09-25 15:46] Wafflespeanut commented on #7553
@psdh are you still working on this?

[2015-09-25 16:05] jdm commented on #7706
First step is to find the `headers_available` method of `ParserContext`. Next step is to get the `Content-Type` header from the headers in the metadata value. Final step is to check it's value and return a fake document if the content-type is not supported.

[2015-09-25 17:59] seanmonstar commented on #7725
le sadface

[2015-09-25 18:11] #7473 closed

[2015-09-25 20:59] #7701 closed

[2015-09-25 22:41] frewsxcv opened #7744 "HTMLSelectElement::add comments need to be updated"
https://github.com/servo/servo/blob/d39c8546b6bf03c69b1cde925c72722dfd61e588/components/script/dom/htmlselectelement.rs#L65

https://github.com/servo/servo/blob/d39c8546b6bf03c69b1cde925c72722dfd61e588/components/script/dom/webidls/HTMLSelectElement.webidl#L22

That test no longer exists. Not sure which test it is now; possibly [this one](https://github.com/servo/servo/blob/09f2977cc945850a35f7a5e

[2015-09-25 23:25] jdm commented on #7744
Yes, that's the one.

[2015-09-26 04:22] paulrouget commented on #7705
Oh, ignore the content of the screenshot. It's a prototype. The URL is hardcoded.

[2015-09-26 07:20] eefriedman commented on #6503
Some additional observations:

1. Calling `flow_ref::deref_mut` doesn't lead to undefined behavior unless the Arc in question is dereferenced again while the return value of `deref_mut` is still in scope.  `Arc::get_mut` dynamically proves the safety using the reference count, but you can use a different invariant if you're willing to write unsafe code.
2. The current implementation of reflow depe

[2015-09-26 16:18] nox opened #7749 "Consider radio button group names in a case-insensitive fashion"
We can use [@SimonSapin's rust-caseless](https://github.com/SimonSapin/rust-caseless) crate for this.

The relevant function is `in_same_group()` in htmlinputelement.rs.

[2015-09-27 04:18] mdinger opened #7753 "Icons are stretched in servo"
The people icons at the top on [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/padding) are stretched in servo.

[Testcase1](https://mdinger.github.io/servo_7753/testcase1.html):

[code]

---

![stretched_icon](https://cloud.githubusercontent.com/assets/4156987/10121171/1dedc720-64ad-11e5-9aa6-63eb332c0a40.png)

[2015-09-27 04:24] mdinger commented on #7753
Updated with linked testcase

[2015-09-27 12:46] jdm commented on #7753
Looks like our prioritisation of image content attributes vs. CSS properties is not working correctly.

[2015-09-27 13:08] #7744 closed

[2015-09-27 13:20] oesiman opened #7755 "SIGILL with --multiprocess"
[code]

[2015-09-27 13:30] jdm commented on #7755
Curious! I can't reproduce this on OS X in a debug build. What platform are you using? Do you see a backtrace from the first panic (`thread '<unnamed>' panicked at 'index out of bounds: the len is 64 but the index is 64', src/libcollections/vec.rs:1050`) if you run with `RUST_BACKTRACE=1`?

[2015-09-27 13:30] jdm commented on #7755
Alternatively, if you could run it under your favourite debugger, set a breakpoint on `rust_panic` and paste the backtrace from the firist panic, that would be very useful.

[2015-09-27 13:37] jdm opened #7756 "Only display text caret in text inputs"
`tests/html/test-inputs.html` shows text carets in `<input type="submit">` for example :) We should adjust the code added in [this PR that implemented the caret](https://github.com/servo/servo/pull/7644/files#diff-4d6c0efe7ab0163225d32cf90c47bc81R948) to handle this case, by making `get_insertion_point_for_layout` return an Option value.

Code: components/script/dom/htmlinputelement.rs

[2015-09-27 13:41] jdm opened #7757 "Only display text caret in focused inputs"
Right now the caret is always displayed, but we should build on #7756 to only return a caret position from `get_insertion_point_for_layout` when the node has focus (ie. check the IN_FOCUS_STATE flag).

Code: components/script/dom/htmlinputelement.rs

[2015-09-27 13:44] jdm opened #7758 "Display input caret for textarea"
Right now it only shows up for `<input>`, as can be seen in `tests/html/test-inputs.html` vs `tests/html/test_textarea_input.html`. We should improve `ThreadsafeLayoutNode::insertion_point` to handle `<textarea>` too, and duplicate the machinery from htmlinputelement.rs to support it.

Code: components/script/dom/htmlinputelement.rs, components/layout/wrapper.rs

[2015-09-27 13:58] oesiman commented on #7755
On Sun, Sep 27, 2015 at 06:31:05AM -0700, Josh Matthews wrote:

Breakpoint 1, 0x0000555556e17e70 in rust_panic ()
(gdb) #0  0x0000555556e17e70 in rust_panic ()
#1  0x0000555556e07ce1 in sys_common::unwind::begin_unwind_inner::h53d3786fcf9ca647ffs ()
#2  0x0000555556e083e9 in sys_common::unwind::begin_unwind_fmt::h0d5d504cc09c1d1ales ()
#3  0x0000555556e18002 in rust_begin_unwind ()
#4  0x000055555

[2015-09-27 14:47] jdm commented on #7755
cc @pcwalton @erickt

[2015-09-27 15:53] fiji-flo commented on #7758
I'd like to give this a try.

[2015-09-27 15:53] aopicier commented on #7726
I'd like to take a look at this.

[2015-09-27 17:38] aopicier commented on #7726
I have opened #7760 which deals with fieldset, label, object, output, select and
textarea elements.

keygen elements do not seem to be implemented yet, see https://github.com/servo/servo/issues/2782.

[2015-09-27 17:41] nox commented on #6888
#7759

[2015-09-27 17:57] mdinger commented on #7753
Oh, the servo build I used was version 4dc986bca3 so it's a few days old. The MDN docs also have quite a few things wrong with them.

[2015-09-27 18:52] #7704 closed

[2015-09-27 18:53] mdinger opened #7762 "Unicode icons don't appear in servo"
At [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/::after?redirectlocale=en-US&redirectslug=CSS%2F%3A%3Aafter), the icons don't appear properly.

![icons](https://cloud.githubusercontent.com/assets/4156987/10124619/1911c57e-6527-11e5-90ba-d75d3c63b3a1.png)

I can't get a testcase because as soon as I save the page, the icons stop loading in firefox too. I've even manually added the font fa

[2015-09-27 19:16] g-k commented on #7718
I can take a shot at this.

[2015-09-27 20:45] larsbergstrom opened #7763 "Unable to download rust snapshot"
If you do:
[code]
After a long time, it times out and fails. Additionally,
[code]

Seems to work about half the time.

@metajack @edunham, any ideas? Just random s3 wonkiness? It's been hitting people on #servo, too.

[2015-09-27 21:55] j3parker commented on #7756
I'll grab this

[2015-09-27 21:55] j3parker commented on #7757
I'll grab this one along with #7756 for now if that's cool

[2015-09-27 23:29] jdm commented on #7757
Makes sense!

[2015-09-27 23:45] jdm commented on #7718
Please do!

[2015-09-27 23:47] #7558 closed

[2015-09-28 03:30] ddrmanxbxfr commented on #7763
Seems indeed related to some s3 wonkiness.

Not sure if Cross Region Replication is enabled on this s3 bucket. If not it could help for times that routing is wonky for certain regions

[2015-09-28 14:51] nfallen commented on #7695
I'm slowly figuring this out and I wrote some WPT tests for the DOMStringMap part of the ticket. I just wanted to verify that these tests are testing for the correct behavior. If anyone has feedback let me know! Thanks.

[code]

[2015-09-28 15:22] jdm commented on #7695
Great detective work :) I'm not certain that the second test is verifying the expected behaviour, though; the spec for DOMStringMap's supported property names suggests to me that we should only ever return the custom data properties present on the associated element. Do you agree, @Ms2ger?

[2015-09-28 15:24] SimonSapin opened #7767 "EOF in CSS custom property declaration"
When the CSS input ends inside of a `{ … }`, `[ … ]`, `( … )` block, `f( … )` function, or quoted string in a custom property value, all open constructs are closed implicitly but the closing markers should be appended to the value. See failing tests in:

* `tests/wpt/mozilla/tests/css/test_variable_serialization_specified.html`
* `tests/wpt/mozilla/tests/css/test_variable_serialization_computed.ht

[2015-09-28 15:58] mbrubeck opened #7768 "Incorrect layout of RTL block with position:relative and z-index:0"
The following HTML (reduced from he.wikipedia.org) renders as a blank window, while it should render as right-aligned text.  Removing any one of the `direction`, `position`, or `z-index` styles fixes the rendering:

[code]

[2015-09-28 16:12] Ms2ger commented on #7695
`element.dataset.middleName = "mark";` will set an attribute, no?

[2015-09-28 16:15] jdm commented on #7695
Oh, right. In that case, why is there no "middleName"  property appearing in the third test?

[2015-09-28 16:25] nfallen commented on #7695
You're right, the third test should have the middleName property as well!

[2015-09-28 16:28] edunham commented on #7763
There have been some intermittent failures reported on large files served from another S3 bucket in Rust's account as well. I'm enabling logging on both affected buckets to give us some better insight into what's happening.

[2015-09-28 18:47] #7343 closed

[2015-09-28 18:55] jdm opened #7770 "Make `./mach test-css tests/wpt/mozilla/tests/css` work"

[2015-09-28 18:56] #7770 closed

[2015-09-28 19:00] jdm opened #7772 "Make `./mach test` recognize WPT tests under mozilla/"
We have tests under http://mxr.mozilla.org/servo/source/tests/wpt/mozilla/ that run in the WPT harness (ie. `./mach test-wpt`). The code to deal with `./mach test` doesn't know about this, however: http://mxr.mozilla.org/servo/source/python/servo/testing_commands.py#86 . We should allow developers to write `./mach test tests/wpt/mozilla/wpt/union.html` and it should Just Work.

Code: python/servo/

[2015-09-28 20:31] mikedilger commented on #7553
`formdata` is meant to comply with RFC 7578 and be backwards compatible with some of RFC 2388 but I can't guarantee that and in fact I haven't sat down and rigorously ensured anything at this point.

Also, `formdata` was written for server-side parsing of browser submitted forms, not client-side generation.  Some of the data structures could be shared, but at present I fail to see how to use it cl

[2015-09-28 20:38] KiChjang commented on #7749
I'll take a look at this, need some easy tasks to oil up my engines again.

[2015-09-28 22:44] frewsxcv opened #7774 "Implement 'ask for a reset' algorithm for <select> elements"
https://html.spec.whatwg.org/multipage/#ask-for-a-reset

[2015-09-28 22:50] frewsxcv commented on #7774
[Relevant FIXME](https://github.com/servo/servo/blob/8547d132f9a6f5499c437572ea5648c6baf2f621/components/script/dom/htmloptionelement.rs#L149) which was added in #7745

[2015-09-29 00:41] HarryLovesCode commented on #6534
Is something preventing us from forking `PistonDevelopers/freetype-rs` and modifying it to link against `servo/freetype-sys` (repository is named `servo/libfreetype2`)?

[2015-09-29 00:56] glennw commented on #6534
I *think* the Piston version isn't set up to build the native lib (which is required for our android build).

[2015-09-29 01:57] #7768 closed

[2015-09-29 02:23] samfoo commented on #6813
So I spent a bit of time spiking out what it would take to turn `Document` and `Window` into traits, and then have anything that contains them be generic over the implementation. This would have allowed mocking either `Document` or `Window`.

The biggest problem with this approach is that the codegen isn't architected and since we generate a ton of code for elements that must contain a document el

[2015-09-29 03:33] jdm commented on #6534
Oh, I missed when this was filed. There's a bunch of prior discussion in #3369 about how this is more complicated than it first appears.

[2015-09-29 03:33] #6534 closed

[2015-09-29 07:59] paulrouget opened #7779 "Stacking context issue with CSS transforms"
This code:

[code]

Servo vs. Firefox:

<img width="319" alt="screen shot 2015-09-29 at 09 56 57" src="https://cloud.githubusercontent.com/assets/373579/10158224/d31e439c-6690-11e5-99df-65b5a61a425e.png">

[2015-09-29 08:09] paulrouget opened #7780 "inline element with a transform property are not positioned correctly"
[code]

<img width="368" alt="screen shot 2015-09-29 at 10 07 53" src="https://cloud.githubusercontent.com/assets/373579/10158397/16992424-6692-11e5-9747-cb0628701b3f.png">

[2015-09-29 08:43] paulrouget commented on #7377
I will add to this that also the z-index is wrong:

[code]

<img width="674" alt="screen shot 2015-09-29 at 10 43 26" src="https://cloud.githubusercontent.com/assets/373579/10159157/ef438d74-6696-11e5-97da-f404df03ab89.png">

[2015-09-29 09:11] paulrouget opened #7781 "CSS transitions do not always work"
[code]

This code is supposed to show and hide a red panel by changing its `transform` attribute.

Running this code in Servo, the transition works from `translateX(400px)` to `translateX(0)`, but not in reverse. And after ~5 seconds, nothing is animated anymore, the screen stays blank.

[2015-09-29 09:28] paulrouget opened #7782 "requestAnimationFrame is called ~1500 times per second"
Which is a little bit too much :)

[code]

[2015-09-29 09:45] glennw commented on #7782
Yep - I ran across this yesterday. The callback is triggered whenever the compositor runs, which is as fast as possible when animations are running (which is also wrong). Instead, it should only trigger the callback after an entire paint completes for the relevant pipeline. This is a little bit tricky, since it needs to check the epoch for each layer that is painted for the pipeline in question.

[2015-09-29 09:52] paulrouget opened #7783 "CSS transitions of transforms are not smooth"
We are trying to build a sidebar that moves from the right of the window (offscreen) to cover the content, with a CSS transition, but it's very choppy.

Here is a slowed down screencast (had to use my camera, the screencast software doesn't show the progressive painting):

![enormouscircularkillifish](https://cloud.githubusercontent.com/assets/373579/10160797/1cab716a-66a0-11e5-9ebd-8b45d4b9f4d7.g

[2015-09-29 11:47] Yoric commented on #7782
@glennw I'd like to work on this, if you can give me a hand.

I am trying to understand to follow the chain that triggers the callback. As I understand, this goes through  `ConstellationControlMsg::TickAllAnimations`, which we want to send less often. In turn this goes through `LayoutControlMsg::TickAnimations`, `ConstellationControMsg::TickAnimations` and to [`change_running_animations_state`](ht

[2015-09-29 11:49] Yoric commented on #51
Is this bug still valid? If so, what needs to be done? Use `util::cache::LRU` in `ResourceTask`?

[2015-09-29 12:39] paulrouget commented on #7782
In my case, there was no animation.

What is wrong with keeping the same strategy (RFA when the compositor runs), but driving the compositor with vsync? Isn't that how it's supposed to work?

[2015-09-29 13:50] frewsxcv opened #7784 "Check for virtualenv-2.7 in path (in addition to virtualenv2 and virtualenv)"
https://github.com/servo/servo/blob/master/python/mach_bootstrap.py#L86

yoric on IRC informed me that Macports puts virtualenv-2.7 in the path and nothing else, so it wouldn't hurt to also check for that. I'll take care of it later today

[2015-09-29 14:20] jdm commented on #51
A generic cache in ResourceTask is not desirable right now. I have a branch that implements an HTTP cache; when that ends up merging, we can look into particular caching strategies for it.

[2015-09-29 15:07] Yoric commented on #2604
I can try to work on this. How can I test my code?

[2015-09-29 15:18] metajack opened #7785 "intermittent Mac test-ref failure in ol_japanese_iroha_a.html"

[2015-09-29 15:24] jdm commented on #2604
I believe #7524 is taking care of this.

[2015-09-29 15:31] ecoal95 commented on #5679
Awaking this since I think I'll have the time these weeks to work on it.

Now each canvas resides in it's own layer, and we have access to the canvas renderer from paint (https://github.com/servo/servo/pull/6083).

I thought that cloning the `NativeSurface` from the WebGL task would be enough (https://github.com/servo/rust-layers/pull/160, https://github.com/servo/servo/blob/a7208869f2903e36f9b2f5

[2015-09-29 15:49] Yoric commented on #4183
I can try to work on that. @jdm, do I understand correctly that the `Context` enum would be one of `Browsing`/`Image`/`AudioVideo`/`Plugin`/`Style`/`Script`/`Font`/`Text Track`/`Cache Manifest`?

[2015-09-29 17:17] paulrouget commented on #7783
Is this a regression or transition on transforms are not properly optimized yet?

[2015-09-29 18:08] jdm commented on #4183
That looks fine for a first pass. We'll probably end up mapping those to the values for initiator, type, and destination in [the fetch specification](https://fetch.spec.whatwg.org/#concept-request-initiator) at some point, but let's focus on the MIME sniffing spec for now.

[2015-09-29 18:08] pcwalton opened #7787 "Intermittent test-wpt timeout in 2dcontext/drawing-images-to-the-canvas/* and mozilla/canvas/*"
Seen in #7778.

[2015-09-29 18:09] mbrubeck commented on #7787
Two other drawimage tests also timed out in that run.

[code]

[2015-09-29 18:13] pcwalton commented on #7783
They should be working. We'll need to dive into what exactly the problem is here.

[2015-09-29 18:24] mbrubeck opened #7788 "Proper tab stops for preformatted text"
Currently we advance by eight spaces for each tab character ('\t', U+0009) in preformatted text: https://github.com/servo/servo/blob/master/components/gfx/text/shaping/harfbuzz.rs#L514

Instead, tabs should advance to the next multiple of the tab-stop width:

— http://www.w3.org/TR/CSS2/text.html#white-space-model

[2015-09-29 18:35] Yoric commented on #4183
I'll do that. Any suggestion how I can test it?

[2015-09-29 18:41] jdm commented on #4183
Using a local web server and running Servo with `--sniff-mime-types` will allow the snifing code to actually execute.

[2015-09-29 18:42] jdm commented on #4183
A straightforward testcase to use will be loading a URL which has a non-text/html MIME type but returns HTML content.

[2015-09-29 19:12] #7573 closed

[2015-09-29 21:02] notriddle commented on #7783
What's DLBI?

[2015-09-29 21:31] glennw commented on #7782
@paulrouget If we drive it with vsync we could get extra callbacks when the repainting is taking longer than a vsync period, and we should also support running in non-vsync mode correctly, I think.

@Yoric Great! I *think* what we want to do is throttle the callback in ```process_animations``` which is called each time the compositor draws a frame - in such a way that it only ticks animations if t

[2015-09-29 22:09] metajack commented on #7783
[Display List Based Invalidation](https://wiki.mozilla.org/Gecko:DisplayListBasedInvalidation)

[2015-09-29 22:36] frewsxcv commented on #7787
[code]

[2015-09-29 22:38] mbrubeck opened #7791 "Intermittent test-css failure in /css21_dev/html4/c62-percent-000.htm"
First seen in #7786.

[2015-09-29 22:41] mbrubeck opened #7793 "Intermittent test-css PASS in /css21_dev/html4/first-letter-dynamic-003a.htm"
First seen in #7786.

This test fails most of the time because CharacterData::SetData does not mark the node as dirty, so changes made through the `data` setter don't show up after incremental layout.

[2015-09-30 00:05] erickt commented on #7755
I dug a little into this, and I don't see an obvious bounds check in either serde_macros, the `Deserialize` impl for `DisplayItem`, nor bincode. I'll see if I can reproduce it.

[2015-09-30 00:06] paulrouget commented on #7659
Fixed by https://github.com/servo/servo/pull/7778 and https://github.com/tomaka/glutin/pull/606.

[2015-09-30 00:06] #7659 closed

[2015-09-30 00:34] erickt commented on #7755
I wasn't able to reproduce this on the master branch. @oesiman: could you see if it's still reproducible?

[2015-09-30 00:59] mbrubeck commented on #7787
[code]

[2015-09-30 01:56] jdm commented on #7787
I fear there's a recent regression behind this sudden spurt of new intermittent timeouts, if we haven't modified our build machine environments recently.

[2015-09-30 01:58] #7377 closed

[2015-09-30 02:26] #7772 closed

[2015-09-30 02:45] frewsxcv commented on #7785
[code]

[2015-09-30 03:53] #7784 closed

[2015-09-30 07:23] paulrouget opened #7796 "absolute iframe z-index is wrong"
[code]

<img width="679" alt="screen shot 2015-09-30 at 09 22 24" src="https://cloud.githubusercontent.com/assets/373579/10186912/e9ae5a7e-6754-11e5-856b-7b6514cb90b0.png">

[2015-09-30 08:04] paulrouget opened #7797 "3D transform: using `perspective` makes element disappear"
Not sure what's the status of 3D transforms, but using `perspective` makes inner elements disappear.

[code]

[2015-09-30 08:07] paulrouget commented on #7796
/cc @pcwalton

[2015-09-30 10:34] Yoric commented on #4183
Testing in progress. Do you think it would be possible to put something in the testsuite?

[2015-09-30 10:52] Yoric commented on #4183
So, I configured Apache to associate mp4 to `application/video` and I ran the following:

[code]
where my file is actually html content.

Servo renders it as html, regardless of `--sniff-mime-types`, I'm not sure how I should interpret the result.

[2015-09-30 12:48] jdm commented on #4183
Oh right, #7706 is about changing our HTML parser to actually care about the MIME type. If you use a type like `image/jpeg` instead, that should show a difference with `--sniff-mime-types`.

[2015-09-30 12:56] Yoric commented on #4183
How so? Won't Servo attempt to sniff it in a Browser context regardless of my patch?

[2015-09-30 12:58] jdm commented on #4183
http://mxr.mozilla.org/servo/source/components/script/dom/servohtmlparser.rs#115 looks at the computed mime type and creates an image document if we think we have an image. If we sniff the response first and discover HTML content, the result should be a non-image document with sniffing enabled.