[2015-11-04 08:30] mskrzypkows commented on #2572
Is the task still valid?
As I understand, I have to modify parsing of manifest files to get information about used resolution, and apply it to given test. Does resolution should be specified for every single test independently? Or once per manifest file?
@jdm is the command line now present here: http://mxr.mozilla.org/servo/source/components/util/opts.rs#479 ?

[2015-11-04 08:43] jdm commented on #2572
We're in the process of moving all of our reftests to the WPT harness, which does not support changing the resolution as far as I know (at least not on a per-test basis).

[2015-11-04 08:44] jdm commented on #2572
@mbrubeck Can you think of a way to do this in the brave new world?

[2015-11-04 09:11] jdm commented on #7787
The most recent log showed that we're calling `composite_if_necessary` early on and setting `composition_request` (presumably to `Headless`, but I forgot to print the value). I looked, and we call `composite_if_necessary` with the `Headless` argument in two locations, despite the code suggesting that there's only one. I suspect we're getting the `LoadComplete` message in the compositor and this is

[2015-11-04 09:48] paulrouget opened #8329 "CSS 3D transforms cut along the compositor borders"
![s](https://cloud.githubusercontent.com/assets/373579/10934663/82578668-82e1-11e5-890a-6f0168820509.gif)

[code]

[2015-11-04 13:35] Ms2ger commented on #8309
Which is pain to do in every test.

[2015-11-04 14:04] Ms2ger commented on #2572
My plan is to reimplement any missing features in wptrunner, fwiw.

[2015-11-04 15:36] SimonSapin commented on #2579
This seems to still be relevant. @pcwalton, do you have an opinion?

[code]

[2015-11-04 15:37] SimonSapin commented on #1786
Fixed some time ago.

[2015-11-04 15:37] #1786 closed

[2015-11-04 15:39] jdm commented on #2579
I'm of the opinion that chrome->content messages should be loosely checked (ie. `let _` is ok if there's no clear reason to signal failure to a caller, and `unwrap()` is strongly discouraged), while content->chrome messaging should be strongly checked (ie. `unwrap()` is encouraged). Intra-process messaging should follow the rule of thumb that if the target is expected to be long lived, `unwrap()`

[2015-11-04 16:30] mbrubeck commented on #2572
#7667 added the ability to set the resolution in Servo's custom reftest harness. We'll need to reimplement that in wptrunner in order to port `tests/ref/pixel_snapping_border_a.html` from the reftest harness to the WPT harness.

[2015-11-04 17:06] Ms2ger opened #8333 "Implement shadow_check_callback"
Our code is in `components/script/script_task.rs`; Gecko's equivalent is at https://mxr.mozilla.org/mozilla-central/source/dom/bindings/DOMJSProxyHandler.cpp?rev=a849e759a0f7#34.

Right now we always return `ShadowCheckFailed`; perhaps @bzbarsky knows if this is simply causing awful performance, or if it also causes detectable behaviour changes.

[2015-11-04 17:20] frewsxcv commented on #8324
Yes. Confirmed it last night

[2015-11-04 17:49] bzbarsky commented on #8333
I believe returning ShadowCheckFailed means "exception was thrown".  If you also set a pending exception, it will be thrown.  If not, you should get an uncatchable exception.

[2015-11-04 19:27] LifeIsStrange opened #8335 "[reflection] give the ability to Firefox to support gecko and servo simultaneously."
Firstly sorry for my bad english.
Maxthon is a browser that use three differents layout engines and can dynamically switch !
It use gecko, trident and webkit !
See:https://en.m.wikipedia.org/wiki/Maxthon
So the idea is.. why not do this with Firefox ? Why not use by default gecko BUT use servo in Firefox Just for the websites well supported (via a blacklist) and give the ability to enable servo fo

[2015-11-04 19:31] mbrubeck commented on #8335
@pcwalton made an experimental build of Firefox that had an alternative to the `<xul:browser>` widget powered by Servo instead of Gecko.  This allowed for a Maxthon or IETab-like ability to switch browsers.  Making this useful for real-world use would probably require completing more of the `<xul:browser>` API and packaging the result as a Firefox add-on or integrating it into the Firefox build sy

[2015-11-04 20:23] eefriedman commented on #7863
Elements which still need work:

HTMLBodyElement
HTMLButtonElement
HTMLFontElement
HTMLHeadingElement
HTMLInputElement (size)
HTMLTableCellElement
HTMLTableElement
HTMLTableRowElement
HTMLTableSectionElement
HTMLTextAreaElement (rows, cols)

[2015-11-04 21:21] LifeIsStrange commented on #8335
Good news ! Getting servo working with gecko is a priority for the Firefox marketshare.

[2015-11-04 21:24] LifeIsStrange opened #8338 "Add servo-starters to the contributing.md"
http://servo.github.io/servo-starters/ should replace the https://github.com/servo/servo/labels/E-easy of contributing.md.
Thanks !

[2015-11-04 21:31] LifeIsStrange commented on #6905
It already exist :)
https://html5test.com/

And the github :https://github.com/NielsLeenheer/html5test

[2015-11-04 21:42] #8301 closed

[2015-11-04 21:51] larsbergstrom commented on #7158
Marking this as `E-Easy`, as we can skip the runtime determinination and figure out all of this statically from the compilation target architecture.

[2015-11-04 22:00] jdm opened #8339 "Intermittent failure in XMLHttpRequest/send-entity-body-document.htm"
[code]
This should be fixed by #6677.

[2015-11-04 22:01] jdm commented on #7158
See `default_user_agent_string` in `opts.rs`.

[2015-11-04 22:03] eefriedman opened #8340 "Bad parse with entity in innerHTML"
[code]

This should alert "&&"; in Servo, the second "&" gets dropped somehow.

[2015-11-04 22:17] eefriedman commented on #8339
Duplicate of #8157.

[2015-11-04 22:17] #8339 closed

[2015-11-05 00:19] eefriedman commented on #8340
Oh, wait, nevermind, this is a dup of #5828.

[2015-11-05 00:19] #8340 closed

[2015-11-05 01:34] #8209 closed

[2015-11-05 03:36] mrobinson commented on #2006
Fixed by https://github.com/servo/servo/pull/8334.

[2015-11-05 03:36] #2006 closed

[2015-11-05 04:30] bholley opened #8342 "Web fonts should only be loaded when content actually needs them"
See the thread here: https://groups.google.com/forum/#!topic/mozilla.dev.servo/q9QXq4974k0

cc @pcwalton @jdm

[2015-11-05 05:33] saneyuki commented on #8338
replace is nice :)

By the way, will https://github.com/servo/servo/labels/E-easy be removed?

[2015-11-05 05:34] #8213 closed

[2015-11-05 05:43] eefriedman commented on #8338
Probably not worth keeping both around.

[2015-11-05 05:43] eefriedman commented on #8338
(I mean the links; obviously the label itself will still exist.)

[2015-11-05 08:45] wenderen commented on #8333
Can I take this?

[2015-11-05 11:07] Ms2ger commented on #8333
Sure, go for it!

[2015-11-05 11:11] Ms2ger opened #8345 "Rename WebSocket::Send_Impl."
Rust style would be `send_impl`. Code is in `components/script/dom/websocket.rs`.

[2015-11-05 11:13] nox commented on #8345
IMO, this should just be `send`.

[2015-11-05 11:36] paulrouget opened #8347 "Support mozbrowsericonchange event (Browser API)"

[2015-11-05 11:46] paulrouget commented on #8347
I'm giving it a try: https://github.com/paulrouget/servo/commit/97cee8b8157134384afdb2d39132be2ee6b4ce87

At the moment, we are limited by the `event.detail` property. It only supports strings (see https://github.com/servo/servo/blob/master/components/script/dom/htmliframeelement.rs#L133).

@glennw what would you recommend here? `MozBrowserEvent::detail()` returns a string. Maybe it should return

[2015-11-05 13:46] larsbergstrom opened #8348 "Reduce duplication of the "android-18" property in the Android build"
If you look at:
https://github.com/servo/servo/search?utf8=%E2%9C%93&q=android-18

You'll see that we have copies of the string "android-18" in a project properties file, a .mk file, and some Rust code. This can probably be broken out into an environment variable set in the Mach/python driver that is expanded in the appropriate ways for the .mk file and Rust code, and gets generated into the prope

[2015-11-05 13:50] larsbergstrom opened #8349 "Determine binary path also taking into account --target flag"
In the function `get_binary_path` (https://github.com/servo/servo/blob/master/python/servo/command_base.py#L147), it is assumed that the binary is either in the debug or release subfolders of the target folder. In the case where there is a `--target` argument provided to mach (or where it is implicit, because of `--android`), however, the file will be in a folder similar to `target/arm-linux-andro

[2015-11-05 14:13] Ms2ger opened #8350 "Update to libc 0.2."
We're busy pinning libc to 0.1 right now; we should update all our dependencies to 0.2 at some point.

[2015-11-05 14:15] jdm commented on #8338
I'm in favour of giving people links to familiar things, too.

[2015-11-05 14:26] jdm commented on #8347
We have two JSON representations ([first](http://doc.servo.org/serde_json/value/enum.Value.html), [second](http://doc.servo.org/rustc_serialize/json/enum.Json.html)), but I propose making `detail()` take a `MutHandleValue` argument and directly converting the values rather than having a rust-typed common return.

[2015-11-05 14:34] larsbergstrom opened #8351 "Ensure that there are no unexpected undefined symbols in the Android binary"
Unlike on our other platforms, on Android, the loader ensures that all symbols can be loaded immediately at load-time. Unfortunately, this feature causes the Android build to frequently break when people add a reference to a symbol that might never be called (e.g., a stub with a mistyped binding in a -sys package).

This task is to add some code to the Android package build rules (https://github.c

[2015-11-05 14:38] jdm opened #8352 "Dispatch mozbrowsershowmodalprompt event for alert()"
When [browser.html](https://github.com/mozilla/browser.html/) is using servo, it wants to intercept calls like `window.alert('foo')` and show its own prompt, instead of relying on Servo's default behaviour. We need to implement the [part of the Browsing API](https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowsershowmodalprompt) related to this, by creating a `CustomEvent` that matches the

[2015-11-05 14:44] jdm commented on #8352
Actually, my initial suggestion for solving this isn't what we're looking for. We should add any required information to the `ShowModalPrompt` enum variant in `constellation_msg.rs`, then use the `trigger_mozbrowser_event` API on `Document` to ensure we dispatch the DOM event at the right place.

[2015-11-05 14:53] frewsxcv commented on #8350
Relevant: https://github.com/tomaka/glutin/issues/650

[2015-11-05 15:12] wenderen commented on #8333
Looking at the Firefox code, I think the mutable pointer to `c_void` returned by `js::glue::GetProxyHandler` needs to be typecast to `BaseProxyHandler`, on which the `hasOwn` method will be called. But the rust binding for `BaseProxyHandler` is just an [empty enum](https://github.com/servo/rust-mozjs/blob/e2458c40432119693456c73ac0710ff182cfc6d2/src/jsapi_linux_64.rs#L2105). Am I missing something

[2015-11-05 15:34] jdm commented on #7787
According to the log in http://build.servo.org/builders/mac-rel-wpt/builds/281/steps/shell_2/logs/stdio the constellation never processes the query from the compositor. Fascinating.

[2015-11-05 15:35] jdm commented on #8333
Our equivalent code uses the APIs in [glue.rs](https://github.com/servo/rust-mozjs/blob/master/src/glue.rs#L170) and [jsglue.cpp](https://github.com/servo/rust-mozjs/blob/master/src/jsglue.cpp#L419).

[2015-11-05 15:37] asajeffrey commented on #8351
We hit this issue over at https://github.com/servo/mozjs/pull/60#issuecomment-153894198 - it would be nice if the CI could catch this!

[2015-11-05 15:44] SimonSapin commented on #8219
To avoid walking up the tree during selector matching we’ll want to cache the element’s language on every element’s DOM node, and update it on DOM tree changes.

[2015-11-05 16:09] jdm commented on #7787
Most intriguingly, `chan.send(ConstellationMsg::IsReadyToSaveImage(pipeline_epochs)).unwrap();` doesn't return an error value, so apparently the constellation gets into a mode where it just stops pumping its event loop.

[2015-11-05 16:25] jdm opened #8356 "Split global constellation receiver into two (script and compositor)"
There are a couple parts to this:
* replace the single receiver with two separate ones
  * make the constellation event loop (`Constellation::run`) select over the two receivers (see `layout_task.rs` for a similar model)
  * provide the appropriate sender when creating new script tasks (probably requires returning a second sender from `Constellation::start`)
* split the `constellation_msg::Msg` en

[2015-11-05 16:26] jdm commented on #8356
After this change it will be easier to tell if there are risks of deadlocks between the constellation and the script tasks.

[2015-11-05 17:13] Ms2ger opened #8358 "Missing return_rw_data calls in LayoutTask?"
Some RPC queries (in particular, `hit_test`/`get_nodes_under_mouse`) are made from script without requesting a reflow first. In order to prevent these queries finishing before the first reflow, we lock the `LayoutTaskData` in `LayoutTask::start`.

We still want to allow layout code to update the `LayoutTaskData` before the first reflow, so we allow it to call `LayoutTask::lock_rw_data` to take the

[2015-11-05 17:14] Ms2ger commented on #8358
CC @pcwalton

[2015-11-05 18:59] eefriedman opened #8360 "Investigate reducing the size of Node::unique_id"
The size of `Node::unique_id` is currently four pointers (256 bits); that seems a bit excessive for a unique ID.

[2015-11-05 19:01] jdm commented on #8360
Note that they're intended to be globally-unique values, not just within a page.

[2015-11-05 19:06] eefriedman opened #8362 "Investigate reducing the size of Node::layout_data"
Node::layout_data is currently 3 pointers of data (192 bits); it probably only needs to be one pointer of data.

[2015-11-05 19:14] frewsxcv opened #8363 "Check if lock files change after build on Travis"
Use this script: https://github.com/servo/servo/pull/8361

[2015-11-05 19:53] Manishearth commented on #8363
https://github.com/servo/servo/pull/8361/files#diff-354f30a63fb0907d4ad57269548329e3R12 ?

[2015-11-05 19:54] frewsxcv commented on #8363
Yep. Was going to close this once that merges

[2015-11-05 20:26] edunham opened #8365 "Create landing page for servo.org"
https://github.com/servo/servo.org should contain a web page rather than just a redirect. Requirements:

* Summarize Servo project's purpose (modern, performant browser engine appropriate for applications including embedded use)
* Link to GitHub org
* Link to blog.servo.org
* Link to http://servo.github.io/servo-starters/
* Look nice (could start with the CSS from https://github.com/rust-lang/rust

[2015-11-05 21:25] frewsxcv commented on #8363
Fixes in #8361

[2015-11-05 21:25] #8363 closed

[2015-11-05 21:48] mrobinson commented on #7035
I attempted to fix this bug last year in https://github.com/mrobinson/servo/tree/margin-collapse, but couldn't manage to do it without introducing other regressions. Perhaps my half-done work will be useful for fixing this.

[2015-11-05 21:50] mrobinson commented on #7035
I think this describes the bug:

[code]

[2015-11-05 22:35] eefriedman commented on #7035
Yes, that looks right.

[2015-11-05 23:17] nerith commented on #8365
I'd like to work on this.

[2015-11-05 23:22] edunham commented on #8365
@nerith thank you! It's probably best to enable github pages on a personal fork of https://github.com/servo/servo.org to test changes, then make a PR once you're happy with the page.

[2015-11-05 23:42] jdm opened #8368 "Intermittent timeout in WPT testsuite"
Very little information here, unfortunately.

[code]

[2015-11-05 23:43] mrobinson commented on #8368
I wonder if https://github.com/servo/servo/issues/7723 is also related somehow.

[2015-11-06 01:35] #7865 closed

[2015-11-06 02:52] lucywyman commented on #8365
Staging landing page at http://lucywyman.github.com/servo.org

PR #4

[2015-11-06 03:45] metajack commented on #8365
Wow! Nice work!

[2015-11-06 04:49] nerith commented on #8365
My prototype of the landing page is at http://nerith.github.io/servo.org
The page is able to be rendered with Servo as well.

[2015-11-06 06:40] paulrouget commented on #8347
@jdm I'm trying to use `to_jsval` in `msg/constellation_msg.rs`, so I guess I need `use script::dom::bindings::conversions::{ToJSValConvertible};` which requires the `script` crate. Adding the script dependency in msg end up with a cyclic package dependency:

[code]

What's the right approach in this case?

[2015-11-06 07:04] eefriedman commented on #8347
Don't do that.  You shouldn't be handling a JSContext outside of the script crate/thread.

[2015-11-06 07:06] jdm commented on #8347
The right approach is to make 'detail' a method of a trait that's defined in the script crate.

[2015-11-06 10:41] SimonSapin opened #8371 "Handle generic font-family names"
https://drafts.csswg.org/css-fonts/#propdef-font-family
https://drafts.csswg.org/css-fonts/#generic-font-families

In the `font-family` property, the `serif`, `sans-serif`, `cursive`, `fantasy`, and `monospace` keywords represent generic families when they’re not in quotes.
- Uncomment [this code](https://github.com/servo/servo/blob/9fea6d2e46dd917f16a5f1ec0f6484e8164c7a3a/components/style/propert

[2015-11-06 10:45] SimonSapin commented on #8371
See also occurrences of "generic" in `components/gfx/font_cache_task`. Since there is a fixed set of generic families, maybe the hash map in `FontCache::generic_fonts` should be replaced with a `match` expression on the style crate’s `FontFamily` enum.

[2015-11-06 10:47] SimonSapin commented on #8371
CC @Ms2ger @pcwalton @glennw for winning the `git shortlog -sn components/gfx/font*` lottery.

[2015-11-06 13:20] skeuomorf opened #8373 "github.com doesn't fill up the browser window"
OS: Arch Linux
Kernel: GNU/Linux 4.2.5-1 x86_64
Window Manager: Awesome

![servo](https://cloud.githubusercontent.com/assets/1059260/10997894/943ef122-8499-11e5-8657-a0841dd6da41.png)

[2015-11-06 14:49] nox commented on #8090
That was done in #8097.

[2015-11-06 14:49] #8090 closed

[2015-11-06 14:50] nox commented on #8130
That was done in #8221.

[2015-11-06 14:50] #8130 closed

[2015-11-06 17:12] R00ney commented on #7484
Hello, this is Neal from the GLE_ES2 refactor team. We have some clarification questions we would like to ask.

Whether waffle-gl is to be imported, or simply used as example for base functionality?

Where  platform/android/surface.rs  implements ES2 vs GL (ie, what is the dividing line between a GL graphics implementation, and an ES2 graphics implementation).?

Would be possible to acquire a vide

[2015-11-06 17:33] jdm commented on #7787
http://build.servo.org/builders/mac-rel-wpt/builds/304/steps/shell_2/logs/stdio shows zero output from constellation even with RUST_LOG=compositing::constellation ostensibly turned on, which is extremely confusing.

[2015-11-06 18:19] notriddle commented on #8373
Well, it isn't the window manager that did it:

![image](https://cloud.githubusercontent.com/assets/1593513/11004920/2069a902-8478-11e5-94ad-aadf242abfcc.png)

[2015-11-06 18:20] jdm commented on #7787
Running the appropriate tests locally does show the `DEBUG compositing::constellation` output in the full WPT log (which is not present in the full log on the builder), which either suggests that somehow RUST_LOG is present in the execution environment (which doesn't not appear to be the case according to saltfs) or the constellation doesn't even finish starting when these tests time out :<

[2015-11-06 18:30] edunham commented on #8365
@lucywyman Has your prototype been tested in Servo?

[2015-11-06 18:33] lucywyman commented on #8365
@edunham Yeah -- I built the latest release version from github:

![selection_007](https://cloud.githubusercontent.com/assets/5055819/11005307/d8804926-8471-11e5-8a7c-088bb97fde15.png)

[2015-11-06 18:35] mrobinson commented on #7484
@R00ney, I think that waffle-gl could be used either as a dependency or as inspiration for how to do this in Rust. I'm not very familiar with it, only knowing that it does something similar.

For C/C++, the difference between OpenGL and OpenGL ES is in the particular library and header that you use. This also varies based upon the particular platform you are on. The situation is a little complicat

[2015-11-06 18:53] #7731 closed

[2015-11-06 20:13] jdm opened #8379 "Arrow keys in a focused text box scroll the page"
We need to call `preventDefault` on the event that we process in `handle_event` for both `HTMLTextAreaElement` and `HTMLInputElement` (but only in the cases that we redraw the selection or dispatch input). If the default action for the event isn't prevented, we end up telling the compositor that the key wasn't handled so it can perform its default actions (like scrolling the page).

Testcase: http

[2015-11-06 20:23] skeuomorf commented on #8373
@notriddle Hmm, it appears so, that's gnome, right?

[2015-11-06 20:39] notriddle commented on #8373
Right.

On Fri, Nov 6, 2015, 13:24 Mohammed Attia <notifications@github.com> wrote:

[2015-11-06 21:20] muattiyah opened #8380 "about.twitter.com panic"
https://gist.github.com/skeuomorf/035d76b3162d5248bc80

[2015-11-06 21:33] jdm commented on #8380
[code]

[2015-11-06 21:33] skeuomorf commented on #8380
Running with RUST_BACKTRACE=1 https://gist.github.com/skeuomorf/6b9745611f503c29b092

[2015-11-06 23:07] frewsxcv opened #8384 "'loop { match { .. }}' could be turned into 'while let { .. }'"
https://github.com/servo/servo/blob/a0221b91268307b1c2690241a4d24816471c915e/components/compositing/compositor.rs#L2130-L2139

https://github.com/servo/servo/blob/faf2f34772fe06396a7b8542b00f0566832bc7ef/components/compositing/scrolling.rs#L57-L67

[2015-11-07 00:01] frewsxcv opened #8386 "CompositorReceiver implementation should use Result::ok"
https://github.com/servo/servo/blob/a0221b91268307b1c2690241a4d24816471c915e/components/compositing/compositor_task.rs#L51-L54

https://doc.rust-lang.org/nightly/std/result/enum.Result.html#method.ok

[2015-11-07 01:32] #7767 closed

[2015-11-07 03:42] frewsxcv commented on #3426
Still working on this @gilles-leblanc ?

[2015-11-07 06:18] #8386 closed

[2015-11-07 09:02] schumannd opened #8390 "Spaces in path break virtualenv creation"
`./mach build --dev` fails with `Pip failed to execute properly.` which comes from l.135 in `python/mach_bootstrap.py`

This is due to:
`subprocess.check_call([pip, "install", "-q", "-r", req_path])`
where `pip` contains the path to pip in the newly created virtual environment, but without escaped spaces.

To reproduce just try to set up rust in a folder which contains a space in its name.

[2015-11-07 09:14] #8164 closed

[2015-11-07 09:46] catrope opened #8391 "Do not attempt to execute JS from 404 responses"
Load the following file in Servo:
[code]
and you'll get
[code]
The 404 response contains HTML, and servo attempts to execute this HTML as JS.

In both Firefox and Chrome, 404 responses are not executed, and instead the error event is emitted, as specified by http://www.w3.org/TR/html5/scripting-1.html#execute-the-script-block . In these browsers, three alerts (fail, fail2 and success) are shown.

[2015-11-07 11:56] Ms2ger commented on #2604
I tried to just wrap it into `Arc`/`Mutex` on top of #8378; to my surprise it managed to load github: <https://github.com/servo/servo/compare/servo:master...Ms2ger:arc-stylist?expand=1>.

[2015-11-07 12:15] gilles-leblanc commented on #3426
@frewsxcv No. Someone else can take it. Good find.

[2015-11-07 14:50] LifeIsStrange opened #8392 "Add support for the new, free and fast FLIF image format."
See: http://flif.info/
The github : https://github.com/FLIF-hub/FLIF

[2015-11-07 15:00] #8180 closed

[2015-11-07 15:11] rnestler commented on #8384
I tried to fix this issue in PR #8393 is that what you had in mind? I haven't tested it yet though.

[2015-11-07 15:13] frewsxcv commented on #8384
@rnestler Looks great! Can you also take care of the other case in the description above? Should be very similar

[2015-11-07 15:14] rnestler commented on #8384
@frewsxcv Thanks for the fast feedback :smiley: I'll also look at the other case.

[2015-11-07 15:47] jdm commented on #8392
This is probably better filed against https://github.com/PistonDevelopers/image, which is the image decoding library that we use.

[2015-11-07 16:06] LifeIsStrange commented on #8392
Oh sorry this issue already exist on image !
https://github.com/PistonDevelopers/image/issues/469

[2015-11-07 16:06] #8392 closed

[2015-11-07 16:16] #8156 closed

[2015-11-07 16:16] #7421 closed

[2015-11-07 16:22] jdm commented on #8391
Good find @catrope! The code that requires modifications lives in `components/script/dom/htmlscriptelement.rs` in the `headers_available` method - we should check the `status_code` field of the metadata received and ignore further notifications if it's not a success code.

[2015-11-07 16:24] jdm commented on #8391
I guess we'll also need to modify how `response_complete` deals with the situations as well, since we need to store an `Err` value to get the error event dispatch like the second entry in the testcase.

[2015-11-07 16:35] jdm opened #8395 "WPT log formatter doesn't work on OS X"
Instead of the nice always-updating behaviour, I get this output under iTerm2:
[code]

[2015-11-07 16:35] jdm commented on #8395
cc @mrobinson

[2015-11-07 16:50] larsbergstrom commented on #2854
Closing and merging with #2853. There were two separate issues back pre-1.0, but that is no longer needed now.

[2015-11-07 16:50] #2854 closed

[2015-11-07 17:44] catrope commented on #8391
Thanks for pointing me to the code. I'm busy today but I'll try to write a
patch later.

And yes, ignoring notifications isn't enough, because the error event needs
to be fired.
On Nov 7, 2015 08:25, "Josh Matthews" <notifications@github.com> wrote:

[2015-11-07 18:59] eefriedman commented on #2604
Sure, you can wrap it in a Mutex... but what does that do to the performance?  (That's what sent me down the path of borrowing it.)

[2015-11-07 19:13] ben0x539 commented on #6090
This is pretty noticable for me even on reasonable resize operations, on any page. Resizing a window once at "normal" speed makes it so I can watch the window contents catch up to the new dimensions after letting go of the mouse over the next second or two. Made me think I must have been using a debug build by accident.

[2015-11-07 19:58] Manishearth opened #8396 "Nvidia on linux panics at `glx_bind_tex_image`"
This was a release build, on a machine using `bumblebee` for Optimus.

[code]

[2015-11-07 20:02] Ms2ger opened #8397 "Implement the blobParts argument to the Blob constructor correctly."
Depends on #544.
Code: `components/script/dom/webidls/Blob.webidl`, `components/script/dom/blob.rs`.
Spec: https://w3c.github.io/FileAPI/#constructorBlob

[2015-11-07 20:21] Manishearth commented on #5499
This is still happening, apparently.

[2015-11-07 20:28] Manishearth commented on #6090
https://github.com/servo/servo/issues/5499

[2015-11-07 20:28] #6090 closed

[2015-11-07 20:44] #8384 closed

[2015-11-07 21:37] #8338 closed

[2015-11-08 00:30] #8390 closed

[2015-11-08 00:39] larsbergstrom commented on #7688
We've seen this on our gonk builder once now, too:
http://build.servo.org/builders/gonk/builds/321/steps/compile/logs/stdio

[2015-11-08 05:40] jdm opened #8402 "Replace load_whole_resource in image cache with reading from a file"
We call `load_whole_resource` in `image_cache_task.rs`, but all we're actually doing is reading from a `file://` URL. We can do this more clearly by opening the file using the [regular APIs](http://rustbyexample.com/std_misc/file/open.html) and reading the contents instead. This will get us closer to being able to remove the `load_whole_resource` API in the future.

Code: `components/net/image_cac

[2015-11-08 12:50] Ms2ger opened #8406 "Limit our supported image formats."
Prompted by #8392. We should not allow websites to use just any image format that piston happens to support. Support for any image format is a web compatibility decision that should be made as such.

[2015-11-08 12:57] Ms2ger commented on #2604
Alternatively, we could try to move the `Stylist` out of the `LayoutTask` entirely; then we could borrow it while there's a mutable borrow of the `LayoutTask`.

[2015-11-08 13:16] Ms2ger commented on #8379
No test?

[2015-11-08 13:22] Ms2ger commented on #544
We have http://doc.servo.org/js/jsapi/struct.ForOfIterator.html now.

@wenderen, want to try your hand at this?

[2015-11-08 13:35] jdm commented on #8379
What sort of automated test are you thinking of?

[2015-11-08 13:38] simartin opened #8407 "Misleading error upon "./mach create-wpt" when no editor is specified"
Hi,

When I used this command for the first time, I had neither EDITOR nor VISUAL set in my environment, and the command showed the following, hinting at a bug, while in fact I was doing things wrong...
[...]
This should never occur and is likely a bug in the implementation of that
command. Consider filing a bug for this issue.
[...]
UnboundLocalError: local variable 'proc' referenced before assig

[2015-11-08 13:45] SimonSapin commented on #2604
Move it tot the document node, similar to https://github.com/servo/servo/pull/8039 ?

[2015-11-08 13:47] wenderen commented on #544
sure!

[2015-11-08 13:50] Ms2ger opened #8409 "Should Document::invalidate_stylesheets really call get_html_element?"
It means we won't mark the document element dirty if it's not an `html` element.

[2015-11-08 14:44] Ms2ger commented on #2604
I don't follow.

[2015-11-08 15:28] ecoal95 commented on #544
I could implement return values (sorry, I saw the issue in my email and remembered about it, didn't see it was assigned).
I won't have the time to implement sequence arguments though.

I can close the PR if you want, maybe you find it useful @wenderen.
Sorry again :/

[2015-11-08 15:30] jdm opened #8413 "Run webgl tests in web-platform-tests"
http://mxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/webgl/ exists, but it's skipped because it's not explicitly enabled in http://mxr.mozilla.org/servo/source/tests/wpt/include.ini . We should enable it and [update the expectations](http://mxr.mozilla.org/servo/source/tests/wpt/README.md#80).

[2015-11-08 15:44] wenderen commented on #544
no problem! I think you should continue with the PR. I can implement sequence arguments if you won't have the time.

[2015-11-08 16:37] craftytrickster commented on #8371
If possible, I would like to attempt this.

[2015-11-08 17:26] frewsxcv opened #8414 "'ValueError: Unrecognised status PASS' when running update-wpt"
[code]

[2015-11-08 17:34] frewsxcv commented on #8414
/cc @jgraham

[2015-11-08 17:36] jgraham commented on #8414
Got anywhere to put the failing input?

[2015-11-08 17:41] frewsxcv commented on #8414
http://froosky.rwell.org/present-for-jgraham/servo.log

Log generated via `./mach test-wpt --log-raw=/tmp/servo.log --release` with [this branch](https://github.com/frewsxcv/servo/tree/html-hr-element-color-attribute)

[2015-11-08 18:20] eefriedman commented on #8371
Okay; feel free to ask if you have any questions.

[2015-11-08 18:43] eefriedman opened #8416 "Intermittent failure on gonk builder: "execvp: ./host_jskwgen: Permission denied""
Seen in #8408, #8394.

[code]

Not sure what's going on; my first guess would be a parallel build gone wrong, but that's just a blind guess.

[2015-11-08 19:07] eefriedman opened #8417 "Add Dimension member to AttrValue, and fix related attribute parsing"
Misc places call `str::parse_length` on the value of an attribute; we should store the parsed result in Attr.

Relevant properties: https://html.spec.whatwg.org/multipage/#dimRendering , and everything else in the rendering section marked "maps to the dimension property" or "maps to the dimension property (ignoring zero)".  Probably everything needs to be reviewed so it actually matches the spec;

[2015-11-08 19:21] #8345 closed

[2015-11-08 19:32] frewsxcv opened #8418 "Using create-wpt causes UnboundLocalError"
[code]

[2015-11-08 19:35] frewsxcv commented on #8418
Duplicate of  #8407

[2015-11-08 19:35] #8418 closed

[2015-11-08 20:21] #8407 closed

[2015-11-08 20:38] SimonSapin commented on #2604
You mention moving `Stylist` out of `LayoutTask`. To where? One option could be to have it owned by the document node. There is sort of a precedent in that PR, which moves ownership of stylesheets from `Stylist` to respective DOM nodes.

[2015-11-08 20:52] eefriedman commented on #2604
If we intentionally want to dynamically check the borrowing of Stylist, I think we can just stuff it into an Arc, and use `get_mut().unwrap()` when we want to mutate it.  Granted, it's stylistically terrible, but it's probably better than a raw pointer.

I don't see how changing the ownership of the Stylist helps.

[2015-11-08 20:57] SimonSapin commented on #2604
I don’t think we need dynamic checks at all if `Stylist` is in the DOM. Like the rest of DOM data, access is exclusive from the script task, and shared but read-only in the "early" phase (until flow tree construction) of layout.

[2015-11-08 20:58] jdm commented on #8414
Probably http://mxr.mozilla.org/servo/source/tests/wpt/metadata-css/css21_dev/html4/block-in-inline-remove-002.htm.ini#3 and http://mxr.mozilla.org/servo/source/tests/wpt/metadata-css/css21_dev/html4/block-in-inline-remove-000.htm.ini#3 .

[2015-11-08 21:10] eefriedman commented on #2604
Oh, right... if Stylist is in the DOM, we don't need to mutate it from layout.  Makes sense.

[2015-11-08 23:20] glennw commented on #7484
I haven't looked at waffle in depth, but I think it's probably better to look at that as a possible reference, rather than use it as a dependency.

Right now, the android implementation (android/surface.rs) is ES2 only, and the Linux implementation is GL only, so I guess that is the dividing line.

Feel free to ping me on irc (gw) or reply here for any further questions!

[2015-11-09 01:18] craftytrickster commented on #8371
@eefriedman Thank you.
@SimonSapin Thank you for the explanation of the issue. I have made some preliminary changes which I will put in a pull request.

As for handling the variants in `components/gfx/font_context.rs`, I am not sure anything needs to be done there, since it is not directly interacting with the FontFamily enum.

As for the modifying `components/gfx/font_cache_task`, I did replace t

[2015-11-09 02:03] bholley opened #8421 "Changing the position of <span> to doesn't correctly reflow later siblings"
In #8381, I'm making our dirty-marking more conservative with attribute restyle hints. This uncovered a bug whereby we don't properly fix up the content following a span when its |position| property changes. This caused the following tests to fail:

css21_dev/html4/run-in-abspos-between-003.htm
css21_dev/html4/run-in-fixedpos-between-003.htm
css21_dev/html4/run-in-float-between-003.htm

In the fir

[2015-11-09 02:11] bholley commented on #7890
#8381 fixes this test failure, but not sure about the underlying cause.

[2015-11-09 03:17] frewsxcv opened #8423 "str::util::parse_length implementation is wrong"
The HTML spec defines two ways for parsing dimension values:

* 2.4.4.4: https://html.spec.whatwg.org/multipage/#rules-for-parsing-dimension-values
* 2.4.4.5: https://html.spec.whatwg.org/multipage/#rules-for-parsing-non-zero-dimension-values

As per [this comment](https://github.com/servo/servo/blob/3780fb7fe02ed66bd391421a0c5506b5635279dd/components/util/str.rs#L183) we claim to implement 2.4.4.

[2015-11-09 03:21] frewsxcv commented on #8417
I just implemented this without even noticing this issue. I'll take this.

[2015-11-09 07:31] paulrouget commented on #8347
moving `detail` into the script crate works, but I'm having difficulties building the JS object.

- Should I build the object manually with `RootedObject::new` and `JS_DefineProperty` (or `define_properties`)?
- Should I build the object via `to_jsval`? This might require adding a new conversion method `conversions.rs`
- Would creating a `BrowserIconChangeEventDetail` interface in `BrowserElement.

[2015-11-09 10:21] ajnirp opened #8425 "refactor util::str::parse_length to return Result<LengthOrPercentage, &str>"
Follow up to #8423, depends on #8424

Code: `components/util/str.rs`
Test: `tests/unit/util/str.rs`

Currently, we return `LengthOrPercentageOrAuto::Auto` in places where we should be returning an `Err`.

[2015-11-09 11:44] paulrouget commented on #7816
Well, I think this is beyond what I can do. Things are getting hairy when trying to cancel the animation on a property that is being modified in cascade_node. Maybe someone else can take over. Summary of what (I think) should be done:

1. save a list of finished animation, then, at the next cascade, the property value can be updated (at `progress=1.0`) (see a quick & dirty implementation here: htt

[2015-11-09 13:36] jdm commented on #8347
Creating a `BrowserIconChangeEventDetail` dictionary is probably the way to go, rather than an interface. That should allow us to fill out the properties of the corresponding Rust object and then calling `to_jsval`.

[2015-11-09 15:47] Ms2ger opened #8426 "Figure out what freezing means."
#8175

[2015-11-09 15:51] jdm opened #8427 "create-wpt doesn't wait for the editor to close before running the test"
EDITOR=nano in my environment, if that makes a difference.

cc @jgraham

[2015-11-09 15:57] Ms2ger commented on #8427
At least in Gecko, I believe that's expected, because you can refresh.

[2015-11-09 16:04] #8402 closed

[2015-11-09 16:15] gsnedders opened #8429 "font-size: 0 not working on Linux"
See, for example, `tests/wpt/css-tests/css-fonts-3_dev/html/font-size-101.htm`. There should be no red, as the pass condition says—instead on Linux we have a small 1px box of red. (On OS X, this passes.)

This need be run with `--user-stylesheet resources/ahem.css` (for now) and once #8374 lands `--user-stylesheet resources/css-test-fonts.css`.

[2015-11-09 16:30] paulrouget commented on #8347
feedback? https://github.com/paulrouget/servo/commit/2f5fa1be560ae8f022975d58fb2c7492f5ffc448

Does this look like the right approach?

Still need to do some clean-up, address the fixme, and write some tests

[2015-11-09 16:38] jdm commented on #8347
It does!

[2015-11-09 18:10] simartin commented on #8352
I'd like to give it a try; I guess I should use JSObject to represent the "detail" property, correct?

[2015-11-09 18:22] jdm commented on #8352
For that, we should build on the changes in #8347.

[2015-11-09 18:32] gsnedders commented on #8429
@jdm wrong label: this is P-linux (it works on OS X!)

[2015-11-09 18:33] gsnedders commented on #8429
Looking again, this is actually just a dupe of #7081.

[2015-11-09 18:33] #8429 closed

[2015-11-09 18:36] gsnedders commented on #7081
#8374 adds to that:

[code]

Some of these tests are duplicates of the 2.1 ones.

[2015-11-09 19:37] frewsxcv commented on #8427
Why does `create-wpt` run the test in the first place?

[2015-11-09 21:34] KiChjang commented on #8356
We might want to add an additional `constellation_msg::NetworkMsg` for all the flavors of fetch as described by #4576. I'll take a look at this over the weekend and see what I can do.

[2015-11-09 22:42] jgraham commented on #8427
Because you are supposed to check that the test you write gives the result you expect. Also because it's needed to do a metadata update which is required and often forgotten.

[2015-11-09 22:59] frewsxcv opened #8433 "HTMLHRElement 'color' setter should use macro"
[This code](https://github.com/servo/servo/blob/f39faaf99471f5419710e1a3d434e5d5fab0d221/components/script/dom/htmlhrelement.rs#L43-L47) should use [this macro](https://github.com/servo/servo/blob/f39faaf99471f5419710e1a3d434e5d5fab0d221/components/script/dom/macros.rs#L218-L231)

[2015-11-09 23:05] frewsxcv commented on #8433
[an example](https://github.com/servo/servo/blob/f39faaf99471f5419710e1a3d434e5d5fab0d221/components/script/dom/htmlbodyelement.rs#L61)

[2015-11-09 23:12] frewsxcv commented on #8425
I'd have to look at the spec again, but maybe we should reconsider renaming this enum from `LengthOrPercentageOrAuto`/`LengthOrPercentage` into `Dimension`?

[2015-11-09 23:33] frewsxcv commented on #8417
I agree some of these implementations are definitely wrong, but I want to wait for #8424 to merge before addressing that

[2015-11-10 00:18] edunham commented on #8365
@nerith, @lucywyman Thank you both for the site prototypes! We just talked about them in the Servo meeting and the team's consensus is that we love the content completeness and GitHub, blog, and contributing icons of @lucywyman's prototype, yet feel that the visual style of @nerith's is more consistent with Rust's themes and portrays the more serious, researchy (as opposed to playful, start-up-lik

[2015-11-10 00:49] mrobinson commented on #8395
So it seems like carriage return is not processed properly in iTerm2. The long-term fix for this is likely to switch to using blessings to position things properly. In the short term, I think that for the build bots and for iTerm2 (detected at runtime), I will replace the fancy display with something that is still easy to read, but less fancy.

[2015-11-10 01:06] lucywyman commented on #8365
Sounds good :)

[2015-11-10 01:17] eefriedman opened #8435 "Intermittent failure on /_mozilla/css/hide_after_create.html"
Seen in #8378.

I'm looking at this; my preliminary assessment is that it's possible to end up in a situation where the constellation takes a screenshot while there's a pending reflow... although I could be wrong.

[2015-11-10 01:22] nerith commented on #8365
@edunham Sounds good.

[2015-11-10 01:24] bholley opened #8436 "Tracking bug for style system optimization parity with Gecko"
This issue tracks all of the known style system optimizations present in Gecko and not in Servo.

Currently incomplete, please add any issues you're aware of.
- [x] #6942 basic restyle hints
- [ ] #8437 advanced restyle hints (RESTYLE_SOME_DESCENDANTS)
- [ ] #8438 Stop making RESTYLE_SELF imply RESTYLE_DESCENDANTS
- https://bugzilla.mozilla.org/show_bug.cgi?id=1248509

[2015-11-10 01:27] bholley opened #8437 "Implement advanced restyle hints (RESTYLE_SOME_DESCENDANTS)"
@heycam describes this in detail in https://github.com/servo/servo/issues/6942#issuecomment-127445408

[2015-11-10 01:29] bholley commented on #8436
CC @heycam @pcwalton @larsbergstrom @metajack @jdm @Manishearth @SimonSapin

[2015-11-10 01:38] edunham commented on #8365
Thank you both again for all the hard work!

[2015-11-10 01:38] #8365 closed

[2015-11-10 01:39] bholley opened #8438 "RESTYLE_SELF needs to generate new style structs for descendants"
When the restyle hint infrastructure reports RESTYLE_SELF (without also reporting RESTYLE_DESCENDANTS), that means that no descendant elements have selectors that will begin or cease to match when the given change is applied. However, descendants elements (and non-element nodes) still inherit non-reset style structs from the element whose style is changed, and those need to be regenerated.

Accord

[2015-11-10 01:45] frewsxcv opened #8439 "Remove unused import"
[code]

[2015-11-10 01:53] bholley commented on #8421
This seems to be fixed by the conservative workaround change in #8438. We'll see if it resurfaces again when that issue is fixed.

[2015-11-10 01:53] #8421 closed

[2015-11-10 02:00] eefriedman commented on #8435
My investigation unfortunately didn't turn up anything relevant... although it did reveal some unnecessary reflow messages from script to layout.

[2015-11-10 02:01] rilut commented on #8439
@frewsxcv Can I take this? Thanks.

[2015-11-10 02:01] frewsxcv commented on #8439
@rilut Go for it!

[2015-11-10 02:05] rilut commented on #8433
@frewsxcv Can I take this too? Thanks.

[2015-11-10 02:06] frewsxcv commented on #8433
Sure!

[2015-11-10 02:24] frewsxcv opened #8443 "Resizing browser window doesn't redraw webpage with new viewport bounds"
I can reproduce this with https://news.ycombinator.com and https://wikipedia.org

![](https://cloud.githubusercontent.com/assets/416575/11052607/8bca03c0-8727-11e5-99d6-e6c948747db9.gif)

I did a `git bisect` and traced the issue back to this commit: https://github.com/servo/servo/commit/f1b6c7cc99d0804daa52753d02368927176b6c05

[2015-11-10 03:14] #8417 closed

[2015-11-10 03:34] frewsxcv opened #8445 "Dimension properties being parsed incorrectly"
Continued from [this issue](https://github.com/servo/servo/issues/8417),

For example, [this section in the spec](https://html.spec.whatwg.org/multipage/rendering.html#tables-2:the-table-element-6) says that the height attribute be parsed as a **non-zero** dimension property. We are currently parsing using `util::str::parse_length`, which allows zero values. We should create a new function like `u

[2015-11-10 03:34] frewsxcv commented on #8445
/cc @eefriedman

[2015-11-10 03:35] frewsxcv commented on #8445
Also, regression WPT tests would be great

[2015-11-10 06:33] runvnc opened #8448 "Web assembly support"
Just wondering if servo supports web assembly in any way or if there is an effort ongoing related to that.

[2015-11-10 07:24] #8433 closed

[2015-11-10 09:09] Ms2ger commented on #8448
This is mostly going to happen in SpiderMonkey, so we'll pick it up when Firefox gets it.

Metabug: https://bugzilla.mozilla.org/show_bug.cgi?id=1188259

[2015-11-10 09:12] Ms2ger opened #8450 "Document layout dirtiness flags, restyle hints, etc."
All this code seems amazingly complex and brittle. We should clearly document the exact constraints and invariants, and how we ensure they hold.

CC @pcwalton @bholley

[2015-11-10 13:18] larsbergstrom commented on #8416
seen in the wild here, too - https://github.com/servo/servo/issues/7688

[2015-11-10 14:42] frewsxcv opened #8455 "'for' loop should be converted into a 'while let' loop"
https://github.com/servo/servo/blob/6772461002637cf4ae174a1c49d4418487f48cb9/components/script/dom/element.rs#L777-L800

[2015-11-10 14:44] Ms2ger commented on #8455
Why? Maybe it would be better to add `filter_map(Node::downcast::<Element>)`.

[2015-11-10 14:46] frewsxcv commented on #8455
I'll just take care of it right now

[2015-11-10 14:46] #8455 closed

[2015-11-10 16:33] frewsxcv commented on #8395
Here's what it looks like for me with iTerm2

![untitled](https://cloud.githubusercontent.com/assets/416575/11068326/ccb8881c-879e-11e5-8090-4f3fbcace2b3.gif)

[2015-11-10 16:35] frewsxcv commented on #8395
.....and without tmxu

![untitled](https://cloud.githubusercontent.com/assets/416575/11068418/2a372476-879f-11e5-98d8-44f500a08558.gif)

[2015-11-10 17:36] #8368 closed

[2015-11-10 17:36] #8395 closed

[2015-11-10 18:44] bholley commented on #8450
Restyle hints are pretty well-documented (see the comments in restyle_hints.rs).

The |dirty| flag is not well-documented, possibly because its semantics are somewhat ill-defined and need improvement. At the moment, |dirty| is basically a union indicating that at least one of the following is true:
* If element-valued, we need to re-run selector matching on it.
* We need to regenerate style struct

[2015-11-10 20:28] #6942 closed

[2015-11-10 20:46] LifeIsStrange commented on #8436
And why not tracks also all of the known style system optimisations present in blink and not in servo ? :)

[2015-11-10 20:53] LifeIsStrange commented on #8448
And what about shumway support ? =)

[2015-11-10 21:07] metajack commented on #8448
@tschneidereit Can give you more info on what is needed for Shumway as he did some investigation of that several months back.

[2015-11-10 21:27] karyon commented on #8324
i saw a similar crash (it also contained `thread 'ScriptTask PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }' panicked at 'assertion failed: self.suspended_since.get().is_none()',`), although it happened when merely visiting a site, and updating to current master fixed it.

[2015-11-10 21:28] jdm commented on #8324
Great :)

[2015-11-10 21:28] #8324 closed

[2015-11-10 21:56] sylvesterwillis commented on #8445
Would it be okay if an error is returned for `util::str::parse_length` based upon https://html.spec.whatwg.org/multipage/infrastructure.html#rules-for-parsing-non-zero-dimension-values if the value is empty or is zero?

[2015-11-10 22:22] eefriedman commented on #8445
Marked as assigned, so we don't duplicate work.  (Watch out for #8424, which has some relevant changes.)

Making parse_length return an error on zero doesn't make sense; it's not an error.

It might be possible to add a Zero member to LengthOrPercentageOrAuto... but I don't think that's the right approach; all of the other users of parse_length don't really care about zero vs. non-zero.

It's prob

[2015-11-10 22:26] notriddle commented on #8380
I can't reproduce. Do you not have any of the fallback fonts?

[2015-11-10 22:30] simartin commented on #8413
@jdm I propose to take it

[2015-11-10 22:31] eefriedman commented on #8413
Sure!  Please ask if you have any questions.

[2015-11-10 22:32] edunham opened #8457 "Website: Improve header styling"
https://github.com/servo/servo.org

There's not currently a clear visual difference between `<h2>`, `<h3>`, and `<h4>`. There should be. It probably just takes a little CSS. Feel free to make other aesthetic tweaks, like better delineation between sections, in the PR that fixes this.

[2015-11-10 22:34] edunham opened #8458 "Website: Add navigation menu"
We need a navigation menu with links to the major sections of the page. Please test the menu with narrow window sizes or on a phone/tablet to make sure it still looks ok. Please test the menu using Servo to make sure it can still render the page correctly.

[2015-11-10 23:22] metajack commented on #7816
@pcwalton agreed to take this

[2015-11-11 00:30] #8439 closed

[2015-11-11 00:38] #8240 closed

[2015-11-11 00:45] simartin commented on #8413
I'm getting "is not a function" errors for gl.bufferSubData and gl.compressedTexSubImage2D that I don't manage to catch. I had a quick look and it seems to me we would need to amend (at least) CanvasWebGLMsg and WebGLRenderingContextMethods.
Does it make sense, at least on the diagnosis part?
I don't believe we have mechanisms to catch and PASS such "is not a function" errors, do we?

[2015-11-11 00:47] frewsxcv opened #8461 "Navigating back and forth leads to a panic"
Similar to #8324

1. `./mach run -d http://news.ycombinator.com`
2. Click a link
3. `<backspace>`
4. Click a link
5. :boom:

[log](https://gist.githubusercontent.com/frewsxcv/2cbfa3e118bcaf568bbd/raw/85312cc36c77365baf00663b9bcf57ef6e6c8b20/gistfile1.txt)

[2015-11-11 00:47] frewsxcv commented on #8324
New issue similar to this: 8461

[2015-11-11 01:03] jdm commented on #8413
First and foremost we should enable the tests and mark the ones that currently fail (via the "update the expectations" link earlier). If you'd like to try to implement those WebGL operations in subsequent commits (or separate PRs), you're welcome to do so!

[2015-11-11 01:24] asajeffrey commented on #8450
I probably didn't help, by highjacking dirtiness for DOM versioning and cache invalidation of HTMLCollection objects. A tidy up would help.

[2015-11-11 01:25] #3396 closed

[2015-11-11 01:57] bholley commented on #8436
I certainly wouldn't object to somebody filing issues for them and noting them here. Realistically, Servo has high-bandwidth communication with Gecko layout developers (see https://github.com/servo/servo/issues/6942#issuecomment-127445408 ), and so it's much more realistic that we will be able to build a full understanding of the parity issues with Gecko than is the case for Blink.

But again, if

[2015-11-11 04:05] nerith commented on #8457
@edunham I'd like to work on this.

[2015-11-11 04:18] rilut commented on #8458
I'd like to work on this

[2015-11-11 05:44] rilut commented on #8458
@edunham Is Wikipedia-like Table of Contents ok? https://en.wikipedia.org/wiki/Aegean_cat#toc

[2015-11-11 07:59] simartin opened #8462 "Disabled webgl tests in web-platform-tests due to unimplemented APIs"
Fixing https://github.com/servo/servo/issues/8413 highlighted that the following APIs are missing in our WebGL implementation: compressedTexImage2D, compressedTexSubImage2D and bufferSubData. A good basis for adding them can be found in https://github.com/servo/servo/pull/5820

I'm willing to work on this

[2015-11-11 11:05] craftytrickster commented on #8406
This may be an oversimplification, but could this possibly be handled in the following way?
Adding a `format_not_supported` method that checks the buffer against a whitelist of supported formats like:

In `components/net_traits/image/base.rs` , within `pub fn load_from_memory`
[code]

[2015-11-11 11:35] Ms2ger opened #8464 "Re-enable zipalign"
Disabled in #8460

CC @larsbergstrom @mbrubeck

[2015-11-11 11:38] LifeIsStrange commented on #8436
Yes I know this and I doubt very much that Google developers are helping their biggest threat (servo)
But I was thinking that you servo devs can inspect the the most innovative parts of Blink

For exemple for servo webrender  I have added this wiki page "ressources for developers"  which as currently a link of the blink implementation like webrender (sorry for my bad english) see here : https://gi

[2015-11-11 12:19] #8413 closed

[2015-11-11 13:00] frewsxcv opened #8465 "Node::remove algorithm doesn't match spec"
https://dom.spec.whatwg.org/#concept-node-remove

https://github.com/servo/servo/blob/aa105d89b4031d98376ac804e31e287f3bf21bb8/components/script/dom/node.rs#L1574-L1591

For example, our 'step 6' comment corresponds with 'step 7' of the spec

[2015-11-11 13:07] frewsxcv commented on #8465
Also, the spec has 11 steps, the Servo algorithm has 9

[2015-11-11 13:10] nox commented on #8465
I rewrote it in my range branch, I could make a separate PR I guess.

[2015-11-11 13:25] jdm commented on #8406
That sounds like the right way to do it!

[2015-11-11 13:28] jdm commented on #8462
cc @ecoal95 to make sure that you're not already working on these ones.

[2015-11-11 13:34] jdm opened #8467 "WPT output on build machines makes it hard to find failing tests"
See http://build.servo.org/builders/linux-rel/builds/408/steps/shell_1/logs/stdio . A summary at the bottom of the test filenames that failed would help.

cc @mrobinson

[2015-11-11 13:34] ecoal95 commented on #8462
No, I'm not, take it please!

Feel free to ask me for any info you might need @simartin :)

[2015-11-11 13:35] jdm opened #8468 "Intermittent failure in XMLHttpRequest/event-timeout.html"
[code]

cc @benschulz

[2015-11-11 14:43] Ms2ger opened #8470 "Move some LayoutTask methods to query.rs."
We started this in #6836.

Move the `LayoutTask` methods `process_node_geometry_request`, `process_resolved_style_request`, and `process_offset_parent_query` from `components/layout/layout_task.rs` to `components/layout/query.rs`.

In the process, the `&self` argument should be removed.

[2015-11-11 14:45] craftytrickster commented on #8406
Do you mind if I take a stab at this (hopefully later today)?

[2015-11-11 14:49] #8159 closed

[2015-11-11 14:52] Ms2ger opened #8471 "Make all LayoutTask fields private."
Code: `components/layout/layout_task.rs`.

This will require inlining `tick_all_animations` from `components/layout/animation.rs` into its caller in `components/layout/layout_task.rs` first.

[2015-11-11 15:02] jdm commented on #8406
Please do!

[2015-11-11 16:36] Ms2ger opened #8473 "Rename conversion routines, again."
In b290a3161d8ac85c7bcc3f9d7c0ae5a6fa379607, @nox renamed a bunch of conversion routines in a way that is almost diametrically opposed to [the standard terminology we use](http://doc.servo.org/servo/script/dom/index.html#a-dom-object-and-its-reflector). In particular, an object that implements `Reflectable` is a "DOM object", and a `JSObject` for a DOM object is its "reflector". We should correct

[2015-11-11 18:08] jdm opened #8474 "Setting an attribute value should never be rejected internally"
The special cases in #7323 and resulting investigation across browsers leads me to believe that we're handling the spec cases with limited-value attributes wrong. In particular, [setAttribute](https://dom.spec.whatwg.org/#dom-element-setattribute) and [getAttribute](https://dom.spec.whatwg.org/#dom-element-getattribute) perform no processing of the value provided or fetched, and other browsers hap

[2015-11-11 18:10] jdm commented on #8474
That analysis may be premature; I just read AttrValue::from_u32 which stores the original string.

[2015-11-11 18:11] #8474 closed

[2015-11-11 18:19] edunham commented on #8458
@rilut Yeah, I think with a style that's visually consistent with the rest of the page, that type of TOC would be fine. Thank you for working on this!

[2015-11-11 18:35] bholley commented on #8436
Again, I'd love it if somebody wants to go dig into style system optimizations in Blink. I just have my hands full right now, which is why I'm not doing it. In particular, I'm investigating what it would take to plug Servo's style system into Gecko, and so gecko parity is more interesting to me at present.

If somebody wants to make a parity-blink meta-issue, and make that issue and this parity-ge

[2015-11-11 20:22] benschulz commented on #8468
I will look into it shortly.

[2015-11-11 21:25] jdm commented on #8019
Addressed by #8031.

[2015-11-11 21:25] #8019 closed

[2015-11-11 22:02] hfaulds commented on #8471
I'd be happy to give this a go!

[2015-11-11 22:58] jdm commented on #8471
Please do!

[2015-11-11 23:38] nox commented on #8473
So why would "reflector" refer to JSObject, when we have an actual Rust structure called Reflector and nothing named Object anywhere? We should probably rename again everything, but we need a new term somewhere.

[2015-11-11 23:39] #8468 closed

[2015-11-11 23:40] nox commented on #8473
In the documentation you point out, I would rename **DOM object** to **DOM structure**, and **reflector** to **object**.

[2015-11-12 00:52] skeuomorf commented on #8380
Nope, here's the output of `fc-list` https://gist.github.com/skeuomorf/fba596884ee5686b64ec and here's my font configuration https://gist.github.com/skeuomorf/485c3f40a8b4d8e2e39b

[2015-11-12 01:04] notriddle commented on #8380
Well, there's the problem. Servo's set of fallback fonts are hardcoded at "Fira Sans", "DejaVu Sans", and "Arial". I can't find any of them in your `fc-list`.

[2015-11-12 01:16] yanirs commented on #8349
Hey, I'm new to the project and thought this might be a good place to start :)

Looking at the code, I was thinking that the way to go may be making `get_binary_path()` consider whether it's an Android build (by looking at `config["build"]["android"]` or accepting a boolean `android` argument). Then, `package()` can set `config["build"]["android"]` to `True` (or call `get_binary_path()` with `andr

[2015-11-12 02:48] rilut commented on #8470
Can I try this?

[2015-11-12 03:56] jdm commented on #8470
Yes!

[2015-11-12 06:38] glennw commented on #8329
This only seems to occur when device-pixel-ratio=2 (which is set automatically when running on a retina screen on mac) so hopefully it's something fairly simple - I'll look into it further tomorrow. This test also runs correctly on the webrender branch with a much better frame rate too :)

[2015-11-12 07:40] #5812 closed

[2015-11-12 07:40] #7424 closed

[2015-11-12 08:06] farodin91 commented on #6963
Any update to pushing in my repo?

[2015-11-12 08:27] glennw opened #8484 "OOM scrolling on wikipedia"
Open https://en.wikipedia.org/wiki/Rust.

This is in a release build on Linux, with resolution=1280x1024.

Scroll quickly up and down for some time (30 seconds is usually enough), or even just leave the window open idle.

SIGILL crash occurs. OOM is reported but total system memory usage is 2.5 GB / 16 GB at the time of the crash.

Virtual process size is ~4.6 GB, but actual process allocated memo

[2015-11-12 08:50] glennw commented on #8484
Is this SM sending a signal that is being misinterpreted as oom, I guess?

[2015-11-12 09:32] Ms2ger commented on #8473
CC @bholley

[2015-11-12 13:11] jdm commented on #8484
I'd be curious what the actual line in WindowBinding::setTimeout is in frame 1.

[2015-11-12 13:15] LifeIsStrange commented on #8335
Now that I think Firefox for iOS (which is released in stable release since today) use webkit instead of gecko. It will be interesting to see the work done by Firefox for iOS developers for using another layout engine (webkit) and if we can use this work for using servo on Firefox.
See their github :  https://github.com/mozilla/firefox-ios

[2015-11-12 13:24] jdm opened #8486 "WebGL tests intermittently fail with nothing visible"
Each of these tests shows a blank screen in the log analyzer:
[code]

[2015-11-12 13:31] jdm opened #8487 "Intermittent failure in /css21_dev/html4/background-root-101.htm"
<img width="809" alt="screen shot 2015-11-12 at 8 28 25 am" src="https://cloud.githubusercontent.com/assets/27658/11119417/75b67018-8917-11e5-8390-ea674b9649cd.png">

[2015-11-12 13:57] #4974 closed

[2015-11-12 14:18] jdm opened #8488 "Use atom!("sizes") instead of Atom::from_slice("sizes")"
After #8449 merges, we can update the `string-cache` crate to 0.1.17 (using `./mach cargo-update -p string-cache`) and replace the instances of `Atom::from_slice("sizes")` with `atom!("sizes")` instead, since it's more efficient.

Code: components/script/

[2015-11-12 14:35] jdm opened #8489 "Stop eagerly compiling raw uncompiled event handlers"
Stuff like `<body onload="foo()">` is eagerly compiled right now, and the spec says it should not be until we get the value of the event handler (either through `body.onload` or using it for an event target chain).

I have patches that correct this.

[2015-11-12 14:48] jdm opened #8490 "Use the return value of invoking event handlers to cancel the value"
Specifically, we are missing step 4 in the [event handler processing algorithm](https://html.spec.whatwg.org/multipage/webappapis.html#the-event-handler-processing-algorithm) in `EventListenerType::call_or_handle_event`.

Code: components/script/dom/eventtarget.rs

[2015-11-12 14:49] jdm commented on #8490
Note that cancelling the event per the spec means calling `PreventDefault` on the event.

[2015-11-12 15:54] #7624 closed

[2015-11-12 16:07] larsbergstrom commented on #8349
@yanirs

That sounds like a good approach! I was mainly hoping to reduce the number of places where we are separately determining and assembling the binary path.

Now that I'm looking at the code a second time, we might also be able to store the `--target` argument into a build configuration space (it's set for Android to the appropriate triple) and use that. Then, the binary path code would also

[2015-11-12 16:26] SimonSapin commented on #8443
I’ve reduced the (manual) test case to:

[code]

On to messing with iframes.

[2015-11-12 17:22] notriddle commented on #8443
@SimonSapin Didn't realize you were working on this; once you've got a test case built, do you have a fixed version of Servo also or should I make a pull request of b46f641.

[2015-11-12 17:33] bholley commented on #8473
"Object Reflection" is the standard term that I'm aware of for mirroring objects across language runtimes. Of those two words, the "reflect" part is much less ambiguous than the "object" part, which is why "reflector" is a better name than "object".

It is unfortunate that Rust has also recently introduced a trait called "Reflect". However, I still think that in there are, in total, several orders

[2015-11-12 17:35] jdm commented on #8486
I suspect we're either not marking things dirty so layout gets in the wrong state, or there's a race to actually complete the webgl operations before the compositor ends up taking a screenshot of the page output.

[2015-11-12 17:35] jdm commented on #8486
cc @ecoal95

[2015-11-12 17:37] jdm commented on #8473
Rust introduced a Reflect trait?

[2015-11-12 17:37] metajack commented on #8473
This was news to me too:
https://doc.rust-lang.org/stable/std/marker/trait.Reflect.html

[2015-11-12 17:40] bholley commented on #8473
FWIW the naming of "Reflectable" rather than "Reflect" was my fault, since I was a rust n00b at the time (several years ago). I sorta figured it would get fixed at some point.

[2015-11-12 17:52] pcwalton commented on #8486
Or there could be IOSurface synchronization issues.

[2015-11-12 17:55] ecoal95 commented on #8486
It hasn't happened before so I guess *maybe* it could also be due to https://github.com/servo/servo/pull/8376 (notice that canvases are inline by default).

I'll investigate a bit around this.

[2015-11-12 18:01] jdm opened #8495 "Allow cancelling an HTTP request earlier than the final body"
Right now there could be a series of redirects before we reach the code that checks for cancellation. It would be nice to check for that earlier in the process.

cc @Wafflespeanut

[2015-11-12 18:35] SimonSapin commented on #8443
Oh, nice! I just finished the test case but haven’t started looking into the fix yet.

tests/wpt/mozilla/tests/css/meta_viewport_resize_iframe.html
[code]

tests/wpt/mozilla/tests/css/meta_viewport_resize.html
[code]

This passes in Firefox and Chromium, but in addition to the bug I was looking to reproduce (the width is unchanged in the second assert) there’s an other bug: `<meta name="viewport"

[2015-11-12 18:37] SimonSapin commented on #8443
@notriddle Do you want to make a PR with that test? Do you have an idea about the 800px bug?

[2015-11-12 18:55] romankl commented on #8488
Could I take a look at this one?

[2015-11-12 19:02] eefriedman commented on #8488
Okay; marked assigned.

[2015-11-12 19:06] notriddle commented on #8443
The test passes in my branch, anyway, so I went ahead and opened the PR. I suspect the reason it was doing 800px was that it was starting out with the device's size set to initial_window_size (which has an 800px width) and, since it was never changing the device's size, it was never changing, even with the initial resize event that is carefully sent before the script could observe it.

[2015-11-12 20:04] rilut commented on #8470
@jdm What to do if I'm stuck in "checking mergeability"?

[2015-11-12 20:06] eefriedman commented on #8470
"checking mergeability"... on the GitHub pull request page? Try reloading the page.

[2015-11-12 20:11] rilut commented on #8470
@eefriedman my bad, hard reload fixes this. Thanks.

[2015-11-12 21:14] jdm commented on #8082
cc @pcwalton

[2015-11-12 21:33] yanirs commented on #8349
@larsbergstrom Thanks!

I'm not sure what you mean by storing the `--target` argument into a build configuration space. I was actually wondering about that flag because it's set twice in the `build()` command (https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L195 and https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L201). Do you mean adding a `--ta

[2015-11-12 22:33] larsbergstrom commented on #5917
The resolution for this issue is: upgrade python.

[2015-11-12 22:33] #5917 closed

[2015-11-12 23:15] suhr opened #8501 "Servo crashes with “Compositor layer has an unknown pipeline”"
How to reproduce:

1. Run `./mach run --release -- -g  http://2ch.hk/fl/`
2. Scroll down with Page Down key until it crashes

Console output:

[code]

Additional bugs:

* The page is not rendered properly
* Some elements disappear after scrolling down
* High CPU usage on scrolling

OS: Linux x86_64

[2015-11-12 23:16] jdm commented on #8501
Is there any difference without `-g`? That's an argument I'm not used to seeing.

[2015-11-12 23:25] suhr commented on #8501
Nope, it crashes the same way without `-g`.

[2015-11-13 00:05] nox opened #8502 "Investigate weird WPT suite timeout"
https://github.com/servo/servo/pull/8147#issuecomment-156189674

[2015-11-13 00:21] #8235 closed

[2015-11-13 00:35] glennw commented on #8484
@jdm Ah, I managed to reproduce it in a debug build and got a much more useful output:

thread 'ScriptTask PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }' panicked at 'arithmetic operation overflowed', /home/code/work/servo_gfx/servo/target/debug/build/script-528de97795abb832/out/Bindings/WindowBinding.rs:2624

fatal runtime error: Could not unwind stack, error = 5[1]

[2015-11-13 00:37] glennw commented on #8484
And looking at that line of code looks like it could easily cause the overflow if argc == 1, if I'm reading it correctly..

[2015-11-13 00:44] larsbergstrom commented on #8416
OK, think I found this - it's a known intermittent, fixed upstream:
https://bugzilla.mozilla.org/show_bug.cgi?id=1146738
https://hg.mozilla.org/mozilla-central/rev/734e468e8274

An SMup should fix this.

[2015-11-13 01:32] eefriedman commented on #8416
Can we cherry-pick the fix?  This has gotten to be really annoying, and upgrading SpiderMonkey isn't something we do frequently.

[2015-11-13 02:03] larsbergstrom commented on #8416
@eefriedman I'd be fine with that, especially since it's super-trivial.

@jdm @michaelwu Would it be OK with you for us to cherry-pick this configure change to hopefully avoid the build race?

[2015-11-13 03:04] jxs commented on #8490
can i take this one?

[2015-11-13 03:28] michaelwu commented on #8416
I'm ok with it.

[2015-11-13 04:07] jdm commented on #8416
Yes yes yes.

[2015-11-13 04:17] jdm commented on #8490
@jxs Please do!

[2015-11-13 04:19] jdm commented on #8484
This was fixed by #8498.

[2015-11-13 04:19] #8484 closed

[2015-11-13 04:39] frewsxcv commented on #8490
@jxs Go for it!

[2015-11-13 05:39] frewsxcv commented on #8414
I removed those files and still get the same errors

[2015-11-13 08:57] jgraham commented on #8414
Oops, sorry I rather dropped this. I don't think that should be the issue; from the backtrace it looks like you're getting a PASS for something where that isn't possible i.e. in the test_end of a testharness.js test. I suspect some .ini file has `type: testharness` rather than `type: reftest`. If you go up one level in the stack and look at `test.name` I think that will tell you the filename of th

[2015-11-13 10:51] tschneidereit commented on #8448
Shumway support is blocked by many small things, not any major missing
feature. Instead of hacking Shumway to get it working *somehow*, I'm slowly
working through the blockers as I encounter them. Right now, that means
some small CSSOM stuff. #7979 and #8039 were results of that, and I'm
making good progress on building on those to actually support some CSSOM
APIs.

Then there's the issue of `SVGM

[2015-11-13 12:40] mmatyas opened #8507 "Wikipedia crashes on Android"
On my Odroid XU3, running Android 4.4.4, Servo (f078f8fdf4157b4e57cef35eba00419c9c15464d) crashes on http://en.wikipedia.org/wiki/Rust

Here's the log:

[code]

[2015-11-13 12:57] mmatyas opened #8508 "Mouse input fails on Android"
On Android, mouse input doesn't work: there are no hover effects and clicking only causes log messages to appear, for example:

[code]

Tested on Odroid XU3, running Android 4.4.4, using f078f8f.

[2015-11-13 13:49] Ms2ger commented on #6097
@tschneidereit is running point here.

From #8448:

[2015-11-13 13:49] Ms2ger commented on #8448
Shumway is #6097, for future reference

[2015-11-13 14:03] Ms2ger opened #8509 "Implement DOMMatrix."
Blocks #6097, #8822.

- Spec: https://drafts.fxtf.org/geometry/#DOMMatrix
- Code would be in new files (`components/script/dom/dommatrix.rs`, `components/script/dom/webidls/DOMMatrix.webidl`) and a `mod dommatrix;` in `components/script/dom/mod.rs`.
- Test: `./tests/wpt/css-tests/geometry-1_dev/html/DOMMatrix-001.htm` (metadata: `./tests/wpt/metadata-css/geometry-1_dev/html/DOMMatrix-001.htm.ini`;

[2015-11-13 14:21] nox opened #8511 "Update our implementation of DOMTokenList and DOMSettableTokenList"
The specification changed:

https://github.com/whatwg/dom/issues/28
https://github.com/whatwg/dom/issues/91
https://github.com/whatwg/dom/issues/105

[2015-11-13 14:23] nox commented on #8511
https://github.com/whatwg/dom/commit/63a030265fc3dac400a99f729fd5874490ae335c

[2015-11-13 14:24] Ms2ger opened #8512 "Avoid the term "task"."
We use it in about a thousand places, but it would be better to use "thread" instead.

(Don't try to do this all at once.)

[2015-11-13 14:26] Ms2ger commented on #8511
This might involve writing or updating tests.

[2015-11-13 14:46] frewsxcv commented on #8511
Relevant: https://github.com/w3c/web-platform-tests/issues/2323

[2015-11-13 14:53] jdm commented on #8507
`D/RustAndroidGlueStdouterr( 5164): thread 'ScriptTask PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }' panicked at 'arithmetic operation overflowed', /home/mmatyas/Mozilla/servo-android/servo/target/arm-linux-androideabi/debug/build/script-49036527ec234d45/out/Bindings/WindowBinding.rs:2624` is interesting. I wonder if this is another problem from `setTimeout`...

[2015-11-13 14:53] jdm commented on #8507
@mmatyas could you check the failing line, please?

[2015-11-13 14:53] jdm commented on #8508
cc @mbrubeck

[2015-11-13 16:50] mbrubeck commented on #8508
The `android_glue` crate doesn't distinguish between mouse, pen, or touch input, and it doesn't listen for "hover" events from mice or hover-enabled pens.  I'm not sure why clicking isn't working, though.

The "unknown action_code" messages are from [this code in `android_glue`][1] and the correspond to these actions:

* ACTION_HOVER_ENTER
* ACTION_HOVER_EXIT
* ACTION_HOVER_MOVE

The ENTER/EXIT ac

[2015-11-13 18:00] LifeIsStrange commented on #8448
Ok sorry and thanks !

[2015-11-13 18:27] larsbergstrom commented on #8416
This should have been closed by https://github.com/servo/mozjs/pull/63 and #8510

[2015-11-13 18:27] #8416 closed

[2015-11-13 20:37] notriddle commented on #7780
This was fixed in d572f1ca05ca4ae96ca0a7955ab6c05521b5d6d5 (yay `git bisect`!)

Should we add this test case to the test suite, or is it already being tested?

[2015-11-13 20:45] jdm commented on #7780
cc @mrobinson for the previous question.

[2015-11-13 20:47] notriddle commented on #7780
`tests/wpt/mozilla/tests/css/inline_stacking_context.html` looks pretty much the same as this issue's test case, except it uses images instead of text.

[2015-11-13 20:48] mrobinson commented on #7780
@notriddle I don't think we test this behavior explicitly, so it may be worth adding it to https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/css/inline_stacking_context.html.

[2015-11-13 21:05] notriddle commented on #8325
This can be reproduced without actually using an `iframe`

![image](https://cloud.githubusercontent.com/assets/1593513/11157571/6979c3ec-8a0f-11e5-8b92-502acc769f11.png)

[code]

[2015-11-13 21:15] eefriedman commented on #8507
Isn't this the same bug as #8484?  Should be fixed on master.

[2015-11-13 21:23] jdm commented on #8507
f078f8f is more recent than d4ce25d (ie. #8498) as far as I can tell.

[2015-11-13 21:33] eefriedman commented on #8507
Sure... but what the likelihood that someone found a new crash in exactly the same place on exactly the same page a few hours after the fix was committed?

[2015-11-13 22:29] mmatyas commented on #8507
Tried again with latest master, now it works correctly. I've probably forgot running `mach package`, sorry for the false alarm.

[2015-11-13 22:29] #8507 closed

[2015-11-13 22:34] mmatyas commented on #6537
I think all of these problems have been fixed, so I'm closing this issue as well.

[2015-11-13 22:34] #6537 closed

[2015-11-14 05:00] KiChjang commented on #8356
Quick question: will I run into type incompatibilities if I split `constellation_msg::Msg` into `constellation_msg::ScriptMsg` and `constellation_msg::CompositorMsg` while I am receiving messages from the channel? We currently now have the following:
[code]
and receiver_from_script has the type of `Receiver<ScriptMsg>` and receiver_from_compositor has the type of `Receiver<CompositorMsg>`.

[2015-11-14 13:37] jdm commented on #8356
Yep! This is why we we stuff like http://mxr.mozilla.org/servo/source/components/layout/layout_task.rs#482 in other places.

[2015-11-14 14:24] #8495 closed

[2015-11-14 14:56] #8347 closed

[2015-11-14 15:06] paulrouget commented on #8488
#8449 has merged.

[2015-11-14 15:54] frewsxcv commented on #8427
Why does a file need to be edited before the manifest can be updated?

[2015-11-14 15:59] frewsxcv commented on #8427
Oh, I guess you need to specify a name for the associated file if `-ref` isn't passed.

[2015-11-14 16:13] frewsxcv commented on #8270
Can confirm that this is still an issue

[2015-11-14 17:13] wenderen commented on #8509
can i work on this?

[2015-11-14 17:43] #8325 closed

[2015-11-14 19:04] wenderen opened #8528 "replace TypeMismatchError with TypeError in domexception.rs"
Encountered while looking into #8509. The spec says to throw a [`TypeError`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypeError) in [certain situations](https://drafts.fxtf.org/geometry/#dommatrix-create), but this error does not exist in [`domexception.rs`](https://github.com/servo/servo/blob/master/components/script/dom/domexception.rs) as of now. Instead,

[2015-11-14 19:47] Ms2ger commented on #8528
`TypeMismatchError` is still used: <https://dvcs.w3.org/hg/webcrypto-api/raw-file/f514a4a6ffca/spec/Overview.html#Crypto-method-getRandomValues>.

`TypeError` is not a `DOMException` at all; it is represented by `dom::bindings::error::Error::Type`.

[2015-11-14 19:47] #8528 closed

[2015-11-14 20:47] eefriedman commented on #8487
This test is broken: it does stuff after onload without setting reftest-wait.  (I'm surprised it works at all.)

[2015-11-14 22:08] jdm commented on #8509
Yep!

[2015-11-14 22:52] frewsxcv commented on #8445
#8526 has merged (the successor to #8242)

[2015-11-15 00:14] KiChjang commented on #8128
If I read this correctly, this means that the new functions should be located in a new file `components/script_trait/inline.rs`?

[2015-11-15 05:33] notriddle commented on #8373
This is a regression introduced by d0ace58452c704a3888b3a32a8242a5217b44274.

[2015-11-15 13:43] #8488 closed

[2015-11-15 14:05] frewsxcv commented on #8414
[code]
[code]
[code]

[2015-11-15 16:02] frewsxcv opened #8535 "Basic use of create-wpt causes huge manifest changes"
[code]
[code]

[2015-11-15 16:19] jgraham commented on #8414
If you look at the metadata file. `tests/wpt/mozilla/meta/mozilla/webgl/tex_image_2d_canvas_no_context.html.ini` claims to be `type: testharness` whereas in fact the corresponding test file is clearly a reftest. You just need to fix the ini file to be right.

[2015-11-15 16:20] frewsxcv commented on #8414
8fff34e2e78137b5117ab0db86f9aadd56cc50e5

[2015-11-15 16:25] frewsxcv commented on #8414
I feel like this should cause the test to fail if it's not set to the right type

[2015-11-15 16:29] jgraham commented on #8414
Yeah it could either check this when loading the tests (easy to fix) or not require this in the ini file at all (harder to fix).

[2015-11-15 16:55] #8467 closed

[2015-11-15 21:00] frewsxcv commented on #8270
Fixed in #8532

[2015-11-15 22:31] notriddle commented on #8373
A test case:

[code]

![screenshot](https://cloud.githubusercontent.com/assets/1593513/11171439/c9ab4b9c-8bad-11e5-8950-b6b9411aebe8.png)

[2015-11-16 04:23] frewsxcv opened #8539 "Replace preferences backend with static data structures instead of hashmap"
Instead of having a dedicated [prefs.json](https://github.com/servo/servo/blob/master/resources/prefs.json) file with [this kind of logic](https://github.com/notriddle/servo/blob/987c9e63aa281dc913252ce54fdca162f4febecd/components/script/dom/htmlmetaelement.rs#L63), it'd be great if we didn't have to duplicate key names all over the place. What if we made the json into some Rust data structure to

[2015-11-16 04:58] frewsxcv opened #8540 "WPT tests with incorrect test type should either fail or have better error message"
To prevent #8414 from happening

[2015-11-16 04:59] frewsxcv commented on #8414
This was fixed in #8537.

Opened a new issue for this: #8540

[2015-11-16 04:59] #8414 closed

[2015-11-16 06:03] paulrouget opened #8541 "Implement CSS animations/keyframes"
https://drafts.csswg.org/css-animations/

[2015-11-16 07:40] paulrouget commented on #7826
Maybe it's related to https://github.com/servo/servo/issues/8081

[2015-11-16 08:45] dzbarsky commented on #8541
It would be nice to do this on top of WebAnimations because retrofitting transition and animations later will be a lot of work

[2015-11-16 09:08] staabm commented on #8471
@jdm should be closed as #8485 was merged.

[2015-11-16 09:30] Ms2ger commented on #4212
For future reference, jdm's test uses a test harness that no longer exists. Since the replacement (`tests/wpt`) runs from a http server, it's not trivial to translate the test.

An alternative could be a unit test (`tests/unit/net/`); I'm not sure what that would look like, though.

[2015-11-16 10:35] mmatyas commented on #6418
Looks like this was fixed, or at least doesn't happen to me. Anyone else still experiencing this bug?

[2015-11-16 10:35] paulrouget opened #8543 "text input: draw caret even if there's no text"
I think caret is only drawn if there's a text fragment.

[2015-11-16 10:51] paulrouget opened #8544 "Browser API: expose SSL info (securitychange event)"
`mozbrowsersecuritychange` properties: https://github.com/paulrouget/mozBrowserAPI/blob/master/BrowserAPI.md#the-mozbrowsersecuritychange-event

Could someone describe what needs to be done to expose SSL information (no ssl, non valid cert, valid cert, mixed content, …)? At least, we'd like to start with basic info: ssl or no ssl.

[2015-11-16 12:05] Ms2ger commented on #8487
Good call. https://github.com/w3c/csswg-test/pull/945

[2015-11-16 12:17] #8471 closed

[2015-11-16 14:43] frewsxcv opened #8546 "Refactor away unnecessary mutable Vec"
Use immutable vec with reports inside macro instead of mutable vec with pushing

https://github.com/servo/servo/blob/0293aa2e522c9c400dc7deed4ab4595ff8bb3123/components/compositing/compositor.rs#L618-L632

https://doc.rust-lang.org/nightly/std/macro.vec!.html

[2015-11-16 14:48] jdm commented on #8544
I would add an enum to the Metadata struct, and store this as a field in Document. This would allow it to be updated for mixed content that is added subsequently, and trigger these events. The field of the enum would be set around http://mxr.mozilla.org/servo/source/components/net/http_loader.rs#711 .

[2015-11-16 14:51] paulrouget opened #8547 "Browser API: implement iframe.zoom()"
So I believe the right way to implement that is, from the iframe, send a constellation message with the subpage id, from constellation, get the scrip chan, send a zoom message, and in script_task.rs, handle the zoom message.

Then, I'm not sure when to perform the actual zooming. Should we append an event to the window and handle it `ScriptTask::handle_msgs`?

If so, could we imagine instead using

[2015-11-16 14:56] paulrouget commented on #8547
https://github.com/paulrouget/mozBrowserAPI/blob/master/BrowserAPI.md#the-zoom-method

[2015-11-16 14:57] jdm commented on #8539
We could deserialize the JSON into the struct, although I'm not certain what that code does with fields present in the JSON that aren't in the Rust structure.

[2015-11-16 15:00] jdm commented on #8540
This might belong in https://github.com/w3c/wptrunner instead.

[2015-11-16 15:00] jdm commented on #8540
cc @jgraham

[2015-11-16 19:01] #8546 closed

[2015-11-16 19:48] #8373 closed

[2015-11-16 20:01] saneyuki opened #8553 "Format our code with rustfmt"
I think we should do this.

[2015-11-16 20:01] saneyuki commented on #8553
cc: @Manishearth ?

[2015-11-16 21:02] jdm commented on #8333
Sorry, InvokeGetOwnPropertyDescriptor was intended as an example of how we do the casting you mentioned in our glue code. I imagine we would create a similar InvokeHasOwn function for the purposes of this issue.

[2015-11-16 21:25] notriddle commented on #7780
Close this, please.

[2015-11-16 21:26] #7780 closed

[2015-11-16 21:35] glennw commented on #5235
This is handled a different way now - iframes are able to generate their own PipelineId.

[2015-11-16 21:35] #5235 closed

[2015-11-16 21:43] Manishearth commented on #8553
It's not ready yet. I periodically try running it on Servo.

[2015-11-16 21:45] jdm commented on #5241
We want to get rid of SubpageId values.

[2015-11-16 21:45] #5241 closed

[2015-11-16 22:44] KiChjang commented on #5242
Does this mean that a page should have ways of getting child script tasks? Or is it the other way around - we eliminate child script tasks and only refer to the parent page's script task?

[2015-11-16 22:48] simartin commented on #8462
Grrr, it looks like I should not have referenced this issue in my patch to gleam... Is there any way to reopen this issue (it's not finished) or do I need to open a separate one?

[2015-11-16 22:59] glennw commented on #8462
@simartin Reopened :)

[2015-11-16 23:08] frewsxcv opened #8554 "Make Node::remove_child more idiomatic"
https://github.com/servo/servo/blob/db94fda10e3351c96a0df61099d2fdfa481cc62b/components/script/dom/node.rs#L302-L310

Instead of writing:

[code]

it could probably be written something like

[code]

which reduces a little bit of the duplicated `set` logic.

This could also be applied to the following `match` block

[2015-11-16 23:11] frewsxcv opened #8555 "Make Node::is_parent_of more idiomatic"
https://github.com/servo/servo/blob/db94fda10e3351c96a0df61099d2fdfa481cc62b/components/script/dom/node.rs#L601-L606

Could use `Option::map_or`

https://doc.rust-lang.org/nightly/core/option/enum.Option.html#method.map_or

[2015-11-16 23:36] frewsxcv commented on #8555
Same thing here

https://github.com/servo/servo/blob/20d26853e145e275695463662b6cee334cd27085/components/style/stylesheets.rs#L150

[2015-11-17 00:40] heycam opened #8556 "the text-shadow property shouldn't be in the Effects struct"
The Effects style struct contains non-inherited properties, except for text-shadow, which is inherited. I guess it should move somewhere else.

[2015-11-17 03:39] nerith commented on #8555
I'd like to work on this.

[2015-11-17 03:40] frewsxcv commented on #8555
Go for it!

[2015-11-17 04:39] jdm commented on #8502
[code]

[2015-11-17 04:45] glennw commented on #8329
It seems that the device pixel ratio is a red herring - it happens to make it work in this case, but only by chance. The main issue appears to be how the DL optimizer handles intersecting tiles with transformed stacking contexts. Still looking into it.

[2015-11-17 05:30] paulrouget commented on #8544
Understood.

I'd like to start by implementing `event.details.state`, with these 2 possible values:

* "insecure" indicates that the data corresponding to the request was received over an insecure channel.
* "secure" indicates that the data corresponding to the request was received over a secure channel.

Is it enough to just use: `hsts_list.read().unwrap().is_host_secure(domain)` ?

[2015-11-17 05:34] jdm commented on #8544
No, since that only corresponds to domains included in the HSTS preload list and any domains that have included the Strict-Transport-Settings header in a previous response. It should be enough to check that the scheme of the final request URL is https if there's a successful response received, I believe, since we deal with certificate errors before that.

[2015-11-17 06:55] paulrouget commented on #8544
ok. I think the event should be dispatched once the document and its resources are all loaded, not only once the document page request has loaded, since we will eventually add mixed content information to the event.

So probably along the `mozbrowserloadend` event.

[2015-11-17 07:08] wenderen commented on #8556
[image-rendering](https://developer.mozilla.org/en/docs/Web/CSS/image-rendering) is also inherited

[2015-11-17 08:59] Ms2ger commented on #8554
I doubt this will work; you'd at least need `&self.first_child` and `&prev_sibling.next_sibling`.

[2015-11-17 10:36] Ms2ger commented on #8487
Should be fixed in #8561.

[2015-11-17 10:36] #8487 closed

[2015-11-17 13:38] jdm commented on #8544
What about if mixed content is added after the document's load event occurs? Does a new event get dispatched in that case?

[2015-11-17 14:18] jdm commented on #8238
Fixed by #8290.

[2015-11-17 14:18] #8238 closed

[2015-11-17 14:21] jdm commented on #6539
To the best of my knowledge there are students working on this right now.

[2015-11-17 14:24] jdm commented on #1754
I'm not convinced that this is a good issue to leave open. The work is valuable, but without more specific guidance I don't think this is going to go anywhere.

[2015-11-17 14:24] #1754 closed

[2015-11-17 14:27] jdm commented on #7906
Fixed by #7949.

[2015-11-17 14:27] #7906 closed

[2015-11-17 14:28] jdm commented on #7706
Fixed by #7956.

[2015-11-17 14:28] #7706 closed

[2015-11-17 14:30] jdm commented on #7852
@martiansideofthemoon Are you still working on this, or did you want to leave it for somebody else to help them get started?

[2015-11-17 14:31] jdm commented on #8194
@nxnfufunezn Any progress?

[2015-11-17 14:37] frewsxcv commented on #8554
In retrospect, I think you're right

[2015-11-17 14:37] #8554 closed

[2015-11-17 15:04] frewsxcv opened #8566 "Add HTMLFormControlsCollection interface"
Tracking issue for https://github.com/servo/servo/pull/7845

Depends on the outcome of: https://github.com/whatwg/html/issues/200

[2015-11-17 15:50] larsbergstrom opened #8568 "Move OpenSSL Android build to the target directory"
Right now, OpenSSL is downloaded and built for Android in the support/android directory instead of in the target/arm-linux-androideabi/FLAVOR directory. See:
https://github.com/servo/servo/blob/master/support/android/openssl.makefile

This task would involve having our python code that calls the makefile set or pass in the proper target directory location:
https://github.com/servo/servo/blob/d16ba

[2015-11-17 16:03] martiansideofthemoon commented on #7852
Well I'm sorry, I didn't know I'd been assigned. I won't be able to do the bug this week definitely, so in case someone else is interested he can get started with this one :smile: In case not, I'll work on it from Sunday

[2015-11-17 16:47] mbrubeck commented on #8547
This will also need new code in the compositor to set the zoom of an iframe.  Currently it only knows how to zoom the top-level window.

[2015-11-17 19:08] pcwalton opened #8570 "Consider using fake pseudo-elements for anonymous box styling instead of modify_style_for_foo functions"
In Gecko, the equivalent of our `modify_style_for_foo` is accomplished via rules in the UA stylesheet with magic pseudo-elements that target anonymous boxes. This would be a cleaner way to handle anonymous box styling than what we do currently.

[2015-11-17 19:32] jdm commented on #8570
This is kind of sparse on any kind of background information or useful reading.

[2015-11-17 20:29] jdm opened #8571 "Servo panics in Storage::SetItem on android"
This looks like the panics I've seen from `ipcchannel::channel().unwrap()` in the past.

[code]

[2015-11-17 21:25] jdm commented on #8225
This is available for anybody :)

[2015-11-17 23:28] notriddle opened #8573 "Null compositor does not assign sizes for subpages"
The non-headless compositor is assigning the size based on the size of the iframe's corresponding layer, which the headless one never creates.

Why isn't layout doing this job? After all, it always exists.

[2015-11-17 23:32] jdm commented on #8573
@glennw do you know the answer to this question?

[2015-11-17 23:35] glennw commented on #8573
This is probably more a question for @pcwalton - I can't quite recall the details (although I can probably dig into the code and find out if pcwalton doesn't know). On a tangent - what purpose does the null compositor actually serve these days? Since we're able to run the normal compositor in headless mode without any X dependencies, do we need to keep the null compositor?

[2015-11-17 23:38] notriddle commented on #8573
The null compositor is used when nothing needs to be drawn, like with
script tests.

On Tue, Nov 17, 2015, 16:36 Glenn Watson <notifications@github.com> wrote:

[2015-11-17 23:43] glennw commented on #8573
Sure, but given that it adds an extra maintenance burden, perhaps it's simpler just to run the script tests with the normal compositor running in headless mode?

[2015-11-17 23:57] #8555 closed

[2015-11-18 02:20] k-cross commented on #8225
Maybe I'll give it a shot.

[2015-11-18 03:47] glennw opened #8574 "Allow different test expectations in wpt based on rendering backend."
cc @jgraham

(We only briefly discussed this - so I'm just entering this so we have a place to discuss implementation details).

[2015-11-18 04:26] Wafflespeanut commented on #8160
I guess #8169 closes this?

[2015-11-18 04:31] Wafflespeanut commented on #8014
#8036 closes this?

[2015-11-18 04:32] frewsxcv commented on #8014
Can close it and if @jdm is still dissatisfied, they can reopen

[2015-11-18 04:32] #8014 closed

[2015-11-18 04:34] frewsxcv commented on #8553
Anyone know how Go projects incorporate gofmt (or Rust w/ rustfmt) into project workflows? Require that it get used pre-commit and checked via CI? Have the build system automatically format upon check-in (which sounds scary)? Something else?

[2015-11-18 04:35] Wafflespeanut commented on #7996
@His-name-is-Joof any news on progress?

[2015-11-18 04:39] Wafflespeanut commented on #7861
@jimberlage any news on progress?

[2015-11-18 05:05] Wafflespeanut commented on #7441
@stratact Any news on progress?

[2015-11-18 05:19] rilut commented on #8458
@edunham so, now http://servo.org/ is tidy and concise, do you think it still need the TOC?

[2015-11-18 05:22] saneyuki commented on #8553
I think it would be better to check in CI the commited files as tidy which we're running. It's not enough?

[2015-11-18 06:21] Manishearth commented on #8553
Checked via CI I think. Similar to how clippy checks update_lints or how servo checks lockfile_changed.

I'd rather not gate CI on rustfmt though. I'm slightly more okay with it if we use circleci or something for tidy+fmt to get separate and immediate status icons from the long build.

[2015-11-18 06:48] His-name-is-Joof commented on #7996
it should be done, but awaiting merge. Upstream changes made it unmergable
today.

On Tue, Nov 17, 2015 at 9:35 PM, Waffles Crazy Peanut <
notifications@github.com> wrote:

[2015-11-18 07:12] paulrouget opened #8575 "Browser API: implement iframe.reload()"
https://github.com/paulrouget/mozBrowserAPI/blob/master/BrowserAPI.md#the-reload-method

[2015-11-18 07:25] paulrouget commented on #8544
With gecko, `securitychange` is dispatched right after load starts, and is dispatched again as content gets added to the document. Which I guess makes sense.

[2015-11-18 07:32] Wafflespeanut commented on #7996
@His-name-is-Joof Yeah, sorry, I didn't check your PR at first :)

[2015-11-18 08:15] eefriedman commented on #7996
(For reference, this is #8006.)

[2015-11-18 09:22] jgraham commented on #8574
This is a wptrunner bug rather than a servo bug, but I think I can just implement this either way; all the machinery already exists but I want to make a small refactor so that servo-only options don't apply to gecko and so on.

[2015-11-18 10:08] Ms2ger opened #8576 "Remove the `wrap_fn` argument from `reflect_dom_object`."
It should be possible to derive it from the type. Maybe `FooBinding::Wrap` should be `<Foo as ConcreteDOMObject>::wrap`? (Name of the trait up for bikeshedding.)

[2015-11-18 10:18] Ms2ger opened #8577 "`Touch::new` should maybe take some kind of `Point2D` arguments."
Or `TypedPoint2D`?

[2015-11-18 10:28] paulrouget commented on #8544
I'm trying to bring the load status to `document.rs`.

it looks like that: https://gist.github.com/paulrouget/852cd69e2830d381f3d3

Does that look right? I could use the metadata field instead, it holds a status value as well (`RawStatus` though), but I had trouble with moved values issues (but I believe I can work around that, I haven't try hard).

The patch above doesn't work though.
`status` is

[2015-11-18 11:09] schumannd commented on #7493
What command did you execute to generate kcov coverage?

[2015-11-18 12:00] mskrzypkows commented on #8570
Could you explain something more about the task? Where ```modify_style_for_foo``` is used?

[2015-11-18 12:38] mskrzypkows commented on #8568
I'd like to take this task.

[2015-11-18 12:58] larsbergstrom commented on #8568
Fantastic, @mskrzypkows! If you have any questions, please feel free to ask here or on irc.mozilla.org in the #servo channel.

[2015-11-18 13:00] alex opened #8579 "servo does not validate that an X.509 certificate belongs to the host that is being accessed"
See for example https://wrong.host.badssl.com/, this should be disallowed, but servo allows it.

[2015-11-18 13:01] alex opened #8580 "Add HSTS pinning"
Pages such as https://subdomain.preloaded-hsts.badssl.com/ should be disallowed from loading.

[2015-11-18 13:03] alex opened #8581 "TLS connections should disallow handshakes which use small DH groups"
See for example:
- https://dh480.badssl.com/
- https://dh512.badssl.com/

which should be blocked. (https://dh1024.badssl.com/ should also be blocked eventually IMO, but is not yet in many major browsers)

[2015-11-18 13:04] alex opened #8582 "Active mixed content should be blocked"
Right now on secure origins, servo will execute JS and other media from insecure origins. Examples:
- https://mixed.badssl.com/mixed/script/
- https://mixed.badssl.com/mixed/css/
- https://mixed.badssl.com/mixed/iframe/
- https://mixed.badssl.com/mixed/font/

[2015-11-18 13:16] mskrzypkows opened #8583 "Servo panics ActiveTimers::schedule_internal_callback"
```./mach run -d http://google.com```
click on "Advertising" then:

[code]

[2015-11-18 13:33] alex opened #8584 "Servo renders page incorrectly"
Go to https://badssl.com/ and press the "More..." button. Comparison between Servo and Chrome:

![screen shot 2015-11-18 at 8 33 04 am](https://cloud.githubusercontent.com/assets/772/11242335/103b3112-8dcf-11e5-951c-a064d5f034c0.png)
![screen shot 2015-11-18 at 8 33 16 am](https://cloud.githubusercontent.com/assets/772/11242336/103f8488-8dcf-11e5-9431-a8e9b260a4bc.png)

[2015-11-18 13:36] Ms2ger commented on #8573
If that works just as well, I guess that would be fine.

[2015-11-18 13:37] #8160 closed

[2015-11-18 13:38] jdm commented on #8225
Great!

[2015-11-18 13:42] Ms2ger commented on #7493
I don't recall.

[2015-11-18 13:43] jdm commented on #8583
cc @benschulz

[2015-11-18 13:44] jdm commented on #8573
This is not the first time we've been bitten by different behaviour between the compositor implementations. We should kill it if we can.

[2015-11-18 13:44] larsbergstrom opened #8585 "servo.org should be https-only"
As mentioned by @jruderman (https://twitter.com/jruderman/status/666954504366067712), since it has commands to type into a terminal and soon links to nightly builds, we should be serving it only over https.

@edunham, do you know how to set that up?

[2015-11-18 13:47] jimberlage commented on #7861
Sorry, I've been neglecting this.  If someone else is interested in taking this on, that's fine; otherwise, I'll try to get to it this week.

[2015-11-18 13:49] Manishearth commented on #8585
Github pages can't handle HTTPS+custom domains.

We will need to proxy it through nginx or move it off GH-hosted GH pages entirely.

[2015-11-18 13:55] frewsxcv commented on #8585
Relevant issue: #7262

[Yes it can](https://github.com/servo/servo/issues/7262#issuecomment-132436142)

[2015-11-18 13:56] Manishearth commented on #8585
Ooooo nice

[2015-11-18 13:56] Ms2ger opened #8586 "Parts of border collapsing may be missing."
In particular, the `FromTableRow`, `FromTableRowGroup`, `FromTableColumn`, `FromTableColumnGroup` variants of `CollapsedBorderProvenance` are reportedly unused.

[2015-11-18 13:58] larsbergstrom commented on #8585
@frewsxcv That is fantastic news - thanks for passing that info on!

[2015-11-18 15:09] jdm commented on #8379
Fixed by #8400.

[2015-11-18 15:09] #8379 closed

[2015-11-18 15:11] #8297 closed

[2015-11-18 15:14] jdm opened #8587 "Check that regenerating the test manifest does not change it"
We have a check that runs on TravisCI that ensures that our Cargo.lock files do not change as part of the build: https://github.com/servo/servo/blob/master/etc/ci/lockfile_changed.sh
We should run a similar check that `./mach test-wpt --manifest-update` does not change either of the `MANIFEST.json` files under `tests/wpt`. This requires adding a script to this repository, then adding it to the [li

[2015-11-18 15:15] jdm commented on #8297
Filed #8587 for that suggestion.

[2015-11-18 15:17] jdm commented on #5038
Unclear value here.

[2015-11-18 15:17] #5038 closed

[2015-11-18 15:27] larsbergstrom commented on #8349
@yanirs Sorry for the delay!

I was wondering if it would be possible to store it into the hashmap like many of the other settings (e.g., as `self.config["build"]["target"] = "arm-linux-androideabi"` instead of checking in a more ad-hock manner (or requiring the `--android` flag). Does that make sense? Sorry if I'm using poor terminology - your python is likely better than mine, as I'm pretty new

[2015-11-18 16:36] Ms2ger opened #8588 "Prototype JSClasses may not need the slot they reserve."
CC @jdm @nox.

[code]

while I don't think we use that slot for anything. <https://mxr.mozilla.org/mozilla-central/source/dom/bindings/JSSlots.h#32> suggests one may be used for something to do with unforgeable.

[2015-11-18 17:03] pcwalton commented on #8570
It's used to apply styles to anonymous boxes as generated by the CSS spec. Styles for those are by default inherited from the parent, but sometimes they need to have different styles from the parent in various ways. Right now the flow constructor notices this and calls functions with names beginning with `modify_style_for_` in order to apply the style changes. This is kind of a hard-coded UA style

[2015-11-18 17:04] jdm commented on #8588
What about the use of DOM_PROTO_INSTANCE_CLASS_SLOT in do_create_interface_objects?

[2015-11-18 17:07] jdm commented on #8570
Looks like `generate_anonymous_table_flows_if_necessary` is an example of this.

[2015-11-18 17:16] Ms2ger commented on #8588
Aha. That should be documented somewhere, and we should use readable constants.

[2015-11-18 17:24] jdm commented on #8588
That being said, it's not clear to me that we ever read the value from that slot.

[2015-11-18 17:53] vegayours commented on #8360
I have done a little investigation into this question.
I'm not very experienced in rust, correct me if I wrong.

Currently Node::unique_id is DomRefCell\<String>, which is lazily initialized to string value of Uuid on first access to get_unique_id.
Empty string costs 8 bytes * 3 as Vec<u8> (size, data ptr, capacity)  + 8 bytes for RefCell overhead = 32 bytes.
When uuid is initialized it costs  32

[2015-11-18 18:00] jdm commented on #8360
That sounds like a good choice to me!

[2015-11-18 21:00] #8583 closed

[2015-11-18 22:49] KiChjang opened #8592 "Split ScriptMsg messages only sent from paint tasks into a separate PaintMsg enum"
#8530  introduced different message types that the constellation can receive. Currently there are two message types: `CompositorMsg` and `ScriptMsg`. We would like to add a new message type called `PaintMsg`, which will be used exclusively for paint messages sent by `paint_task.rs`.

Code: `components/msg/constellation_msg.rs`, `components/compositing/constellation.rs`, `components/gfx/paint_task.

[2015-11-18 23:03] frewsxcv opened #8593 "'loop..match' should be 'while let'"
[This](https://github.com/servo/servo/blob/d11442bdcccf4002cdb84e85fe726130047a2b07/components/style/values.rs#L527-L540) should become something like `while let Ok(token) = input.next() { .. }`

[2015-11-18 23:37] #8356 closed

[2015-11-18 23:54] alex opened #8594 "servo should negotiate more modern secure ciphersuites"
Right now servo appears to use OpenSSL's defaults, which are very bad. It should use a modern ciphersuite string such as https://github.com/python/cpython/blob/master/Lib/ssl.py#L168-L172

You can see the list it's sending at https://howsmyssl.com

[2015-11-19 00:50] r0e commented on #8593
I'd like to give this a go.

[2015-11-19 01:11] frewsxcv commented on #8593
Go for it!

[2015-11-19 01:42] #8194 closed

[2015-11-19 03:52] yanirs commented on #8349
@larsbergstrom No worries :)

I added `arm-linux-androideabi` as the default value of `self.config["android"]["target"]` because it's an Android-specific target. I don't think it's possible to get rid of flags completely because the pattern seems to be that the flags override the `self.config` dictionary (which is desirable when building in different modes for multiple platforms). It may make sens

[2015-11-19 05:07] Wafflespeanut commented on #8593
We could also utilize clippy here. One of its lints detect such `while let` rewritable `loop ... match`es :)

[2015-11-19 05:12] jdm commented on #8593
See also `./mach clippy`.

[2015-11-19 08:03] Ms2ger commented on #7888
CC @alex

[2015-11-19 08:56] mfeckie commented on #8587
@jdm I'm keen to try this one

[2015-11-19 09:14] jdm commented on #8587
Please do!

[2015-11-19 09:25] mfeckie commented on #8587
So, just ran the tests for the first time and they changed the manifest :disappointed:

Looking at it the first one may be insignificant / related to my system.  The second change looks like it might be legitimate, but am unfamiliar.  @jdm or delegate, could you advise?

[code]

[2015-11-19 09:30] jdm commented on #8587
The first is unimportant like you say, but is likely caused by someone's editor while they hand-edited it for some mysterious reason. The second looks like a legitimate problem that this script is designed to catch :)

[2015-11-19 09:30] jdm commented on #8587
That is, I suspect that test was added by hand incorrectly and we should fix it.

[2015-11-19 10:04] KiChjang commented on #4212
I'll take this one.

[2015-11-19 10:55] nox commented on #8588
Will look into it in my Unforgeable branch.

[2015-11-19 13:52] paulrouget opened #8602 "inline-block element pushed down if a absolute+inline element is present"
[code]

<img width="402" alt="screen shot 2015-11-19 at 14 48 53" src="https://cloud.githubusercontent.com/assets/373579/11272433/2bd46db8-8ecd-11e5-9d9c-d9ea2208aac0.png">

[2015-11-19 16:33] mmatyas opened #8607 "iframe not rendered without initial `src` attribute"
The contents of an iframe are not rendered if its `src` attribute has no initial value, even if it's set later by JavaScript code. The page itself loads "correctly", eg. JS code on the iframe'd page does run, but nothing shows up on the container site.

Here's a small example, first the main page:

[code]

and the iframe:

[code]

Opening the main page in eg. Firefox does load the second page too,

[2015-11-19 16:36] jdm commented on #8607
Thanks for filing this! It looks like a duplicate of #7826 to me.

[2015-11-19 16:36] #8607 closed

[2015-11-19 16:37] jdm commented on #8607
The fact that we don't support `<iframe><iframe>` right now is a separate issue, however. Please file that independently?

[2015-11-19 16:58] r0e commented on #8593
For clarification, you'd like me to use `./mach clippy` to find all instances of the above issue and submit them as a single patch?

[2015-11-19 17:00] jdm commented on #8593
@r0e If you're up for it, sure :)

[2015-11-19 17:39] r0e commented on #8593
I'm down. :)

[2015-11-19 17:52] Wafflespeanut commented on #7658
I'll take this.

[2015-11-19 17:53] SimonSapin opened #8608 "Update libc to 0.2"
<s>This</s> Some of this blocks the rust upgrade #8446. See https://github.com/rust-lang/rust/issues/29867.

When possible, use `std::os::raw` instead.

Dependencies likely need to be updated as well:

* [x] angle (Should switch from `*` deps) https://github.com/ecoal95/angle
* [x] azure https://github.com/servo/rust-azure https://github.com/servo/rust-azure/pull/206
* [x] block https://github.com

[2015-11-19 17:55] SimonSapin commented on #8608
CC @larsbergstrom @mbrubeck @Manishearth

[2015-11-19 18:50] #8470 closed

[2015-11-19 21:01] KiChjang commented on #4212
I've gotten to the part where I've set `content_type` for `metadata`, yet `metadata` is still missing an appropriate `Header`. What should be included in a `Header`?

[2015-11-19 21:22] jdm commented on #4212
Plausibly we don't actually want a headers object, since that's very HTTP specific. If we just make the content_type value available, that should be enough.

[2015-11-19 21:35] eefriedman commented on #4212
We need to fake up some actual headers for XMLHTTPRequest... see https://fetch.spec.whatwg.org/#concept-basic-fetch .  Granted, it would be reasonable to argue that we don't need to do that in the network layer, and we should construct the fake headers in `script/` where necessary.

For reference, the HTTP unit-tests manipulate Header objects in various ways: https://github.com/servo/servo/blob/ma

[2015-11-19 22:45] R00ney commented on #7484
Hello,
will either of you gentlemen have time to be on irc (either servo or gw) this weekend?

I believe we are still having some issues understanding how the current code calls/includes  GL or GL_ES2, and thus are struggling with clarity of this refactor task.
For example, a code compare of the two surface.rs files for the android and linux folders quickly show a large number of implementation di

[2015-11-19 23:02] glennw commented on #7484
Hi, I'll be available for some portion of the weekend (although probably in a different time zone to you). My IRC client is always connected though, so any messages you send to me there will get answered eventually :)

[2015-11-19 23:14] #8457 closed

[2015-11-19 23:45] mrobinson commented on #7484
@R00ney My IRC client is similar to @glennw's so I can also answer question asynchronously, which I'd be more than happy to do.

[2015-11-20 00:49] KiChjang opened #8610 "Servo panics when going back in history and clicking another link"
STR:
1. Run `./mach run -r http://en.wikipedia.org`
2. Click on any link
3. Hit the backspace key to go back one page in history
4. Click another link

Error log:
[code]

[2015-11-20 01:28] alex commented on #8579
Oops, this is a dupe of #4954.

[2015-11-20 01:28] #8579 closed

[2015-11-20 04:25] frewsxcv commented on #8610
Duplicate of #8461

[2015-11-20 04:25] #8610 closed

[2015-11-20 05:22] paulrouget opened #8613 "Implement "input" event for <input> elements"
https://html.spec.whatwg.org/multipage/forms.html#event-input-input

[2015-11-20 05:30] jdm opened #8614 "Intermittent Result::unwrap panic in /dom/nodes/Document-createElement-namespace.html"
This is a regression from the e10s changes; I've seen panics like this as a result of `ipc::channel().unwrap()` before.

[code]

[2015-11-20 05:37] jdm commented on #8613
We actually have code that is supposed to do this already in HTMLInputElement::handle_event. Do you have a testcase showing that this doesn't work?

[2015-11-20 05:40] Manishearth commented on #8613
So we already sort of support them, though `.onsubmit` won't work (attaching event handlers will work).

https://github.com/servo/servo/blob/master/components/script/dom/htmlinputelement.rs#L797

We don't support them for text boxes because text boxes don't seem to have activation behavior (?). I can't find where in the spec we're supposed to catch changes to text boxes, will look deeper in a bit.

[2015-11-20 05:49] Manishearth commented on #8613
It was right there :confounded:

[2015-11-20 05:56] paulrouget commented on #8613
Oh, I might have done something wrong.

I'll investigate.

Here is the code I've been using:

[code]

[2015-11-20 06:26] paulrouget commented on #8613
fwiw, in browser.html, we will use the `keyup` event as a workaround until this get resolved.

[2015-11-20 10:17] Ms2ger opened #8616 "Intermittent Option::unwrap panic in mozbrowsericonchange_event.html."
[code]

[2015-11-20 10:52] mmatyas commented on #8607
Hm, but iframes do seem to work for me.

[2015-11-20 12:57] Ms2ger opened #8620 "Make the structs, enums, and fields in query.rs private."
Code is in `components/layout/query.rs`. There's a number of public structs, enums, and fields that are implementation details for the functions that are used in `layout_task.rs`. Everything that isn't used outside the file should be made private, by removing the `pub` keywords.

[2015-11-20 14:53] jdm commented on #8613
Awkward! I was reading htmltextareaelement.rs somehow. We should do the exact same thing we do in HTMLTextAreaElement::handle_event - check for a trusted event and queue a runnable that causes the "input" event to be dispatched at the element.

Code: components/script/dom/htmlinputelement.rs

[2015-11-20 14:58] jdm commented on #8616
I assume this is
[code]
from ActiveTimers::fire_timer.

[2015-11-20 15:30] jmr0 commented on #8620
I'd be happy to take on this one

[2015-11-20 15:40] Ms2ger opened #8623 "Implement all webdriver commands."

[2015-11-20 15:40] jdm commented on #8544
I'm not convinced that `Result<StatusCode/RawStatus, String>` is really the right thing to do here, since we're duplicating information between the `Metadata` structure that's received in `headers_available`, and the final result is an indication that the response was received in its entirety. I think storing the status code separately in consumers that require it makes the most sense to me.

[2015-11-20 15:42] jdm commented on #8620
Go for it!

[2015-11-20 16:17] Ms2ger opened #8625 "Call SetDOMProxyInformation() just once."
We're calling it in `ScriptTask::new_rt_and_cx()` right now; it would be better to call it from `init()` in `components/script/lib.rs`.

[2015-11-20 16:36] rilut commented on #8625
@Ms2ger may I?

[2015-11-20 16:43] Ms2ger commented on #8623
- [ ] `AcceptAlert`
- [ ] `AddCookie(AddCookieParameters)`
- [ ] `Close`
- [ ] `DeleteCookies`
- [ ] `DeleteCookie(String)`
- [ ] `DeleteSession`
- [ ] `DismissAlert`
- [ ] `ElementClear(WebElement)`
- [ ] `ElementClick(WebElement)`
- [ ] `ElementTap(WebElement)`
- [ ] `FindElementElements(WebElement, LocatorParameters)`
- [ ] `FindElementElement(WebElement, LocatorParameters)`
- [ ] `GetAlertText

[2015-11-20 17:02] Ms2ger commented on #8625
Sure!

@wenderen note that this might bitrot you.

[2015-11-20 17:23] mskrzypkows commented on #8568
Please check above draft and tell if it's good direction.

[2015-11-20 17:29] frewsxcv commented on #4954
Since it hasn't been explicitly stated in here, here's a relevant project: https://github.com/briansmith/webpki

[2015-11-20 18:24] R00ney commented on #7484
Maybe I'm using IRC wrong then,  I go to mibbit (https://client01.chat.mibbit.com/) and  select channel  #servo or #gw    and so far haven't seen anyone.   Am I using the wrong settings? Thanks you.

[2015-11-20 18:56] glennw commented on #7484
My irc nick is gw, we're in the #servo channel - did you join the mozilla irc server (you need to select this from the server dropdown on the mibbit page)?

[2015-11-20 20:32] mdinger opened #8629 "Bunch of problems with arewecompressedyet.com"
[arewecompressedyet.com](https://arewecompressedyet.com/) has many issues:
- xiph toolbar at the top right should be horizontal, not vertical
- the tabs at the top have sluggish performance
- experimental runs on the home tab don't appear
- on the images tab:
  - the bits per pixel boxes have inconsistent styling applied
  - runs don't have a scrollbar
- video set at the top left isn't switchable

[2015-11-20 21:11] jdm opened #8630 "Intermittent timeout in legacy reftest harness"
No idea what's up here.
[code]

[2015-11-20 21:12] jdm commented on #8630
Looks like one specific test timed out.

[2015-11-20 21:19] jdm commented on #8630
Not sure this is intermittent. Closing until more evidence appears.

[2015-11-20 21:19] #8630 closed

[2015-11-20 21:43] jdm commented on #7484
Note that if you're using a client that is not permanently connected to IRC like @glennw's, you can see logs of public messages in the channel at http://logs.glob.uno/?c=mozilla%23servo .

[2015-11-20 22:23] #8329 closed

[2015-11-20 23:20] frewsxcv opened #8631 "Remove 'Node::is_anchor_element'"
https://github.com/servo/servo/blob/c19b01c2f4acdccf140e65145c8915acc6fbe59c/components/script/dom/node.rs#L437-L440

[2015-11-20 23:20] frewsxcv commented on #8631
Could callers of this just use `node.is::<HTMLAnchorElement>()` instead? If so, we can remove the question mark in the title and mark as E-Easy

[2015-11-20 23:56] eefriedman commented on #8631
In the context where it's used, I think we want to handle anything which is semantically an anchor... which probably includes HTML `<area>` and SVG `<a>`.  That said, we can just ignore that for now; the abstraction isn't helping at the moment.

[2015-11-21 03:33] rilut commented on #8631
@eefriedman so, is this issue open?

[2015-11-21 03:57] eefriedman commented on #8631
Yes.

[2015-11-21 03:58] rilut commented on #8631
@eefriedman thanks!

[2015-11-21 05:21] metajack commented on #8081
@pcwalton @glennw It's a month later now. Can you both discuss and figure out who can tackle this?

[2015-11-21 08:55] k-cross commented on #8225
just committed in a PR, i hope it's everything that's needed.

[2015-11-21 11:05] #8631 closed

[2015-11-21 12:27] nox commented on #8625
#8627

[2015-11-21 12:27] #8625 closed

[2015-11-21 13:03] jdm commented on #8000
@KMBrothern let me know privately that they're no longer working on this.

[2015-11-21 15:40] #8594 closed

[2015-11-21 16:25] frewsxcv commented on #8350
Closing in favor of #8608

[2015-11-21 16:25] #8350 closed

[2015-11-21 18:34] alex opened #8640 "Connection load errors (including TLS handshake) result in a blank page"
There should be an error page, at least for forefront loads, which indicates the type of failure.

[2015-11-21 18:42] frewsxcv commented on #8608
https://crates.io/crates/shared_library/reverse_dependencies

[2015-11-21 19:46] frewsxcv commented on #8608
https://github.com/tomaka/shared_library

[2015-11-21 21:08] KiChjang commented on #7818
I think I'll dive into this one once I get some of my other stuff done. In the meantime, if anyone is interested in this issue, go ahead ;)

[2015-11-22 03:44] wldcordeiro commented on #8592
I'd be interested in trying to tackle this issue.

[2015-11-22 03:52] KiChjang commented on #8592
Sorry, but a PR has been submitted by @g-k.

[2015-11-22 04:01] wldcordeiro commented on #8613
I'd like to try taking this issue.

[2015-11-22 04:05] dumindu opened #8643 "Moderninzing the default UI/UX - Enhancement"
Hi,
From time to time, we saw revolutionary UI designs on IT world

2006
Looking Glass : https://www.youtube.com/watch?v=SIaNKB_eakM
2007
iPhone : https://www.youtube.com/watch?v=c_m2F_ph_uU
2008
Aurora Concept Browser : https://www.youtube.com/watch?v=FZ-zvx1QCcA
2010
Rockmelt : https://www.youtube.com/watch?v=pCpLn12rQsA
Firefox Panorama : https://www.youtube.com/watch?v=5r0TQJ-gGi0
2011
Windows

[2015-11-22 04:06] Manishearth commented on #8613
Sure! Let us know if you need help!

[2015-11-22 04:22] wldcordeiro commented on #8613
Could I just get a run down of what parts of the source I'm most interested in for this and resources about how the input event should work? (That html spec link I assume is good to start with)

[2015-11-22 04:44] Manishearth commented on #8613
@wldcordeiro htmltextareaelement.rs and htmlinputelement.rs, basically

https://github.com/servo/servo/blob/master/components/script/dom/htmltextareaelement.rs#L336

You'll need to add a similar `value_changed` field if we don't have one already, and in the key handler dispatch a change event.

Might be worthwhile to move ChangeEventRunnable into htmlinputelement.rs somewhere and make it take an E

[2015-11-22 10:26] Ms2ger opened #8646 "Re-enable disabled tests."
- [ ] `tests/wpt/metadata-css/css21_dev/html4/absolute-replaced-height-007.htm.ini:  disabled: unstable`
- [ ] `tests/wpt/metadata-css/css21_dev/html4/absolute-replaced-height-014.htm.ini:  disabled: Issue 6342`
- [ ] `tests/wpt/metadata-css/css21_dev/html4/absolute-replaced-height-021.htm.ini:  disabled: unstable`
- [ ] `tests/wpt/metadata-css/css21_dev/html4/absolute-replaced-height-028.htm.ini:

[2015-11-22 10:31] Ms2ger opened #8647 "Re-enable background-root-102.xht and background-root-103.xht."
Once https://github.com/w3c/csswg-test/pull/951 lands here.

[2015-11-22 10:32] Manishearth commented on #8643
Servo isn't a browser, it's a browser engine -- UI is out of scope at the moment.

[2015-11-22 11:36] #8620 closed

[2015-11-22 13:32] SimonSapin commented on #2853
https://github.com/rust-lang-nursery/libc/pull/70 blocks https://github.com/servo/servo/pull/8446 (probably)

[2015-11-22 15:14] #8643 closed

[2015-11-22 17:05] craftytrickster commented on #8623
Is it safe to say that `servo/components/webdriver_traits/lib.rs` should be deleted since it seems to be a duplicate of `servo/components/msg/webdriver_msg.rs` and I do not see any usages of it?

[2015-11-22 17:31] jdm commented on #8623
Yep!

[2015-11-22 20:04] prashantgupta24 commented on #7484
Hello all, we have a couple of questions concerning the code changes we wish to make.

We have a local flag  in  render_gl.rs   (https://github.com/prashantgupta24/rust-layers/blob/GLES2/src/rendergl.rs, line 499) that is our command line enum variable selecting the GL or  GL_ES2  graphics options.
What is the best method for making this variable accessible to  surface.rs ?
Some sort of global var

[2015-11-22 20:46] glennw commented on #8081
@pcwalton said he'll look into it this week :)

[2015-11-22 21:31] glennw commented on #7484
Hi,

I think it might be best to add a parameter to the NativeSurface constructor, which specifies which graphics API to use (GL or ES2). This could then be passed from the servo calling code in create_layer_buffer, based on the selected graphics API from the command line. @mrobinson knows this specific code much better - so let's check with him if that makes sense, or he would suggest a different

[2015-11-22 21:36] jdm commented on #7484
Given that the only use of NativeSurface's constructor is WorkerThread::create_layer_buffer in components/gfx/paint_task.rs, that makes the command-line flag stuff more straightforward than I originally anticipated. Specifically, I think my original suggestion to add an option to RenderContext::new is unnecessary, since there doesn't appear to be code in rust-layers that invokes the NativeSurface

[2015-11-22 21:47] frewsxcv commented on #8502
This is preventing #8648 from landing

[2015-11-22 21:51] jdm commented on #8502
We should investigate precisely what about #8648 tickles this to make it a permanent timeout for that PR.

[2015-11-22 21:53] craftytrickster commented on #8623
I would like to try the following four:
[code]
However, if possible, I do have a few questions:
Getting a reference to the web element seems easy enough, I can copy what is being done in `webdriver_handlers.rs`, for example in the `handle_get_name` function. However, once I have it, do I have to check `get_enabled_state` for isEnabled and `get_focus_state` for isSelected? What would the check for

[2015-11-22 21:56] jdm commented on #8623
https://w3c.github.io/webdriver/webdriver-spec.html#h-element-displayedness seems relevant for the first question.

[2015-11-22 21:57] jdm commented on #8623
As for selected, https://w3c.github.io/webdriver/webdriver-spec.html#is-element-selected .

[2015-11-22 21:57] jdm commented on #8623
And the window size response should be constructed according to https://w3c.github.io/webdriver/webdriver-spec.html#dfn-get-window-size .

[2015-11-22 22:58] craftytrickster commented on #8623
@jdm thanks!

[2015-11-23 03:32] frewsxcv commented on #8593
Fixed in #8597

[2015-11-23 03:33] #8593 closed

[2015-11-23 13:23] GuillaumeGomez commented on #8000
If there is no one on this issue anymore, I'd like to give it a try.

[2015-11-23 13:24] jdm commented on #7158
Fixed by #8353.

[2015-11-23 13:24] #7158 closed

[2015-11-23 13:26] jdm commented on #1714
These were implemented at some point.

[2015-11-23 13:26] #1714 closed

[2015-11-23 13:44] frewsxcv opened #8654 "Add regression test for Servo presentation"
From IRC:

[code]

[2015-11-23 13:49] jdm commented on #8654
Relevant library is https://github.com/kmcallister/sliderust.git.

[2015-11-23 14:13] SimonSapin commented on #8614
This one seems particularly bad. (It fails more often than not.) Should we disable it?

[2015-11-23 14:14] jdm commented on #8614
We did in #8636.

[2015-11-23 14:15] SimonSapin commented on #8614
Should this be closed, or is it also used to track fixing the underlying issue?

[2015-11-23 14:40] jdm commented on #8614
I prefer to leave these open when the failing test is merely disabled.

[2015-11-23 16:40] tschneidereit opened #8657 "Servo presentation doesn't render webfonts anymore"
Specifically, [this presentation](https://c508726212d59fb7e25519c4c09d78a43ecae845.googledrive.com/secure/AH8CU7HG3Gzrfs8mfwA9x7x6RSLD225KZTwAFjPZaWcJR2TDXpBlF55oxw_epr6h_g0lJDwPfl3K6KODirrUp9V73e5r0hqMeRY3FZ5pMyZRuTch8U6XCRKojP575o8MkbnIvXv9-dvcCh982B4Y6m8dSZTZNxBHKlTsguCyp0vBX4TXlZM327L-fxqFU7x7soAb1UkWC-el-mwQl-Zy9EHC-GBArTJF6kSeysxKFKcMSG3KSVKy7KOjSBYEvcwtJ4hI8LqIekJpN0g5K8-gkZz2k7m8U9QRxR_WyV

[2015-11-23 16:51] tschneidereit commented on #8657
The link worked for a moment, but now I get a 404. I [uploaded the presentation to my people.mozilla.org account](http://people.mozilla.org/~tschneidereit/servo/talk-lca2015/) for the time being.

[2015-11-23 16:53] tschneidereit commented on #8657
/cc @nick-thompson

[2015-11-23 17:27] tschneidereit commented on #8657
Oh, one further note: reverting #6815 makes things better, but not quite right: it does show text, but not reliably in all tiles. These two screenshots are examples of rendering caused by mouse moves: http://imgur.com/a/jwajd.

[2015-11-23 19:09] #8128 closed

[2015-11-24 10:13] jgraham commented on #8623
Yeah, don't implement IsDisplayed. There isn't a correct way to do that at the moment (or possibly ever), and so we are pushing the application-specific approximation into the client for now.

[2015-11-24 10:51] Ms2ger opened #8664 "Delay updating the iframe element's stored subpage ID ."
Per #8662.

[2015-11-24 12:02] Ms2ger commented on #8502
@larsbergstrom @metajack this seems to happen only on `linux1`, not the EC2 slaves. Maybe it can't handle the 24-way parallelization?

[2015-11-24 13:14] larsbergstrom commented on #8502
@Ms2ger I just checked #8651 and #8542 and they both happened on `linux1`, which is one of the two EC2 slaves. `servo-linux1` is the linode slave.

[2015-11-24 15:40] #8647 closed

[2015-11-24 15:57] Ms2ger opened #8666 "Implement Document#{elementFromPoint,elementsFromPoint}."
Spec: <https://drafts.csswg.org/cssom-view/#dom-document-elementsfrompoint>.
Test: `tests/wpt/web-platform-tests/cssom-view/elementFromPoint.html`, `tests/wpt/web-platform-tests/cssom-view/elementsFromPoint.html`.
Code: `components/script/dom/document.rs`, `components/script/dom/webidls/Document.webidl`.

This will probably need to call `hit_test` or `get_nodes_under_mouse`. It's likely those func

[2015-11-24 16:23] rilut commented on #8666
I would like to try this, but can I ask you during the development?

[2015-11-24 16:25] rilut commented on #8666
By the way, where is the code/variable for getting viewport height?

[2015-11-24 16:52] Ms2ger commented on #8666
I'm afraid this is not code I know well, but feel free to join the IRC channel and we can try to help you out.

[2015-11-24 18:58] fitzgen commented on #6906
Here is a profile of `setAttribute` calls in a loop after #8645. I'm still pretty unfamiliar with Servo, but I've added my analysis as well.

<img width="1199" alt="screen shot 2015-11-24 at 10 34 33 am" src="https://cloud.githubusercontent.com/assets/74571/11376691/fdd721bc-9296-11e5-88e4-d99ea9e8a655.png">

* Heaviest function is spending 10.3% of time doing some kind of string manipulation whic

[2015-11-24 19:25] bzbarsky commented on #6906
This is basically the "make a copy of the string the JS engine gave us" bit that's more or less required nowadays because we can't trust the JS engine's strings to stay put...  The important thing to check here is that we're not allocating, just copying onto the stack, for short strings.

[2015-11-24 19:31] fitzgen commented on #6906
It seems a bit more invasive of a change, but: why not properly root + trace strings from SM rather than copy? Was this a fundamental architectural decision or something that just happened?

[2015-11-24 19:34] bzbarsky commented on #6906
That could be done as long as all downstream consumers can deal with both (for the sake of simplicity let's assume both) SM string representations.  That means branching everything that manipulates the strings in any way on one-byte vs two-byte, right?

[2015-11-24 19:40] jdm commented on #6906
I'm 99% sure we allocate for all strings.

[2015-11-24 19:41] asajeffrey commented on #6906
I'm playing around with string representations at the moment. This is interesting data!

Part of the problem with JSStrings is they're UCS2-encoded or Latin1-encoded by SpiderMonkey, whereas Servo uses UTF-8. There has to be some re-encoding, but we may be able to save on some round-trips. In particular, I'd like to avoid a lot of the DOMString to/from Atom conversion.

[2015-11-24 19:48] eefriedman commented on #6906
Potential stupid trick: if there's an existing attribute with the given name, it must be valid.  Not sure how useful that would be in practice.

[2015-11-24 19:52] bzbarsky commented on #6906
For benchmarks, pretty useful, probably.

[2015-11-24 19:53] fitzgen commented on #6906
Trying this out.

[2015-11-24 20:01] bzbarsky commented on #6906
By the way, it's not obvious that this is true.  Last I checked, the set of names `setAttribute` considers valid per spec is not the same as the set of names of attributes the HTML parser can create.  There was some call for aligning the two, but not sure whether it happened.  @annevk, do you recall offhand?

[2015-11-24 20:07] eefriedman commented on #6906
It's probably possible to speed some of this up... attribute_mutated checks the attribute name in a way which looks pretty inefficient.

See #8227 for some context on DOM versioning.

[2015-11-24 20:11] asajeffrey commented on #6906
The problem is that we need some way to invalidate the caches for live HTMLCollections. Rather annoyingly, in most cases this is wasted effort, but any way of detecting when work is being wasted is likely to take longer than updating the version numbers.

[2015-11-24 20:17] bzbarsky commented on #6906
That only needs to happen if the value actually changed, right?

[2015-11-24 20:35] asajeffrey commented on #6906
Yes, we don't need to dirty the node if the old and new values are the same. (I don't know how much this check would buy us though.)

[2015-11-24 20:59] #4212 closed

[2015-11-24 23:14] pcwalton commented on #7816
I have a fix for this locally. Testing performance now.

[2015-11-25 01:52] pcwalton commented on #8602
I wonder if the hypothetical box is taking up space.

[2015-11-25 01:56] pcwalton commented on #8602
[code]

[2015-11-25 03:24] #7816 closed

[2015-11-25 06:55] paulrouget opened #8672 "layer offset is incorrect for fixed-position layers in find_topmost_layer_at_point_for_layer"
See components/compositing/compositor.rs#find_topmost_layer_at_point_for_layer

[2015-11-25 06:56] paulrouget commented on #8672
/cc @mbrubeck

[2015-11-25 06:56] paulrouget commented on #8672
Depends on https://github.com/servo/servo/pull/8671

[2015-11-25 08:02] paulrouget opened #8673 "After navigating to a new page in an iframe, previous page is not destroyed/frozen"
I believe this happens only with documents in iframes.

index.html:
[code]

a.html:
[code]

b.html:
[code]

Running `index.html`, logs are printed in the console. Then navigating to `b.html`, `a.html` is not displayed anymore, but its JS code is still running.

[2015-11-25 08:11] Ms2ger commented on #8673
#8426

[2015-11-25 08:29] annevk commented on #6906
@bzbarsky I think https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/YyqxpIPU-0E is the latest. Perhaps @foolip or @domenic know more about Chromium internal efforts to align `createElement`/`setAttribute` et al with the HTML parser.

[2015-11-25 08:40] mskrzypkows commented on #8568
@larsbergstrom One question: when I want to build openssl in servo/target/arm-linux-androideabi/debug I have to move there openssl.makefile and openssl.sh files. I don't know if we'll build debug or release. Should I create two copy of these files or copy them while building from servo/support/android to proper directory (debug or release)?

[2015-11-25 08:55] foolip commented on #6906
I didn't investigate any further after that thread ended. If I remember correctly, the last idea on the table was to remove all restrictions on what characters can appear in an attribute or element name, and if necessary to do some kind of coercion when serializing instead.

If that's something that seems worth doing, maybe open a DOM spec bug and I can add telemetry to see how often the existing

[2015-11-25 09:25] paulrouget opened #8674 "iframe.goBack() panics if called too early"
[code]

[code]

[2015-11-25 10:55] paulrouget commented on #8674
Panics here: https://github.com/servo/servo/blob/e3eee5a/components/compositing/constellation.rs#L899

[2015-11-25 13:25] jdm opened #8676 "Intermittent timeout in /css-flexbox-1_dev/html/flexbox-basic-iframe-vert-001.htm and /css-flexbox-1_dev/html/flexbox-basic-iframe-horiz-001.htm"

[2015-11-25 13:33] Ms2ger opened #8677 "Consider using the parentRuntime argument to JS_NewRuntime."
Per https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/JSAPI_Reference/JS_NewRuntime, this should reduce memory bloat.

[2015-11-25 13:42] tschneidereit commented on #8677
We should definitely do this: there aren't any downsides, and it reduces memory usage and initialization time. The latter because the self-hosting compartment is shared instead of initialized for each thread, so it avoids parsing and executing 170k of JS.

[2015-11-25 14:18] GuillaumeGomez commented on #7441
I'll take this one over too.

[2015-11-25 14:20] Wafflespeanut commented on #7441
Please, go ahead! This has been around for a long time :)

[2015-11-25 14:42] paulrouget commented on #8674
subpage_map:

[code]

pipeline_to_frame_map:
[code]

Here we have a pipeline (`namespace_id: PipelineNamespaceId(1), index: PipelineIndex(1)`) with no associated frame, and it happens to be the one use in `handle_navigate_msg`.

We would expect `add_or_replace_pipeline_in_frame_tree` to be called before it's possible to call `goBack`.

I guess it's just enough to bail if there's no associated fram

[2015-11-25 15:06] larsbergstrom commented on #8568
@mskrzypkows I think that the easiest path is to copy the openssl.makefile and openssl.sh files in the Python code. So, before the `make` call here:
https://github.com/servo/servo/blob/d16ba51b4722a84f69976ca8679af672495248c8/python/servo/build_commands.py#L223

Instead:
1) If the file does not already exist in the target location or is different, copy the two files from support/android to a folde

[2015-11-25 15:23] paulrouget commented on #8674
Not enough. More panics follow.

[2015-11-25 15:30] jdm opened #8678 "Move error handling out of the network loader"
There are a couple steps here:
* replace the free-form string in the `Result` that network listeners receive with the LoadError type from `http_loader.rs`
* propagate the errors from `load_for_consumer` to the network receiver instead of sending a string
* convert the other network loaders to use the LoadError values
* move the SSL validation error handling into the HTML parser network listener (`

[2015-11-25 15:32] jdm commented on #8678
This will both fix problems like `<script src="http://some_invalid_ssl.com">` causing our error page to be interpreted as JS, and allow us to handle DNS failure properly in the HTML parser network listener (while other consumers will just see an early error).

[2015-11-25 15:42] Wafflespeanut commented on #8678
I'll take this :)

[2015-11-25 15:52] jdm commented on #8674
Note that there was actually a earlier panic reported than the constellation one in the original log.

[2015-11-25 15:54] Wafflespeanut commented on #7684
As of #8650, the metadata won't reach `script_task`, and so I guess this can be closed :)

[2015-11-25 15:55] larsbergstrom commented on #8502
This appears to be caused by a huge backlog of the following message:
[code]

The process has long since exited and the python driver is just trying to deal with writing a bazillion of those output messages to the test-wpt.log file.

[2015-11-25 16:38] paulrouget commented on #8674
Hm, I don't get always the same panic first.

Either:

- https://github.com/servo/servo/blob/e7b1924/components/script/script_task.rs#L1369
- which calls `self.timers.resume()`
- thread 'ScriptTask PipelineId { namespace_id: PipelineNamespaceId(1), index: PipelineIndex(0) }' panicked at 'assertion failed: self.suspended_since.get().is_some()', /Users/paul/git/servo/components/script/timers.rs:349

[2015-11-25 17:05] jmr0 commented on #8570
Would this require support from `selectors` if we took a similar approach? I took a quick glance and noticed `PseudoElement` only comes in after/before flavors

[2015-11-25 17:13] tmatth opened #8680 "Build fails on Debian unstable"
Since SSLv3_\* has been removed in Debian:
`/home/tristan/servo/.cargo/registry/src/github.com-0a35038f75765ae4/openssl-0.6.7/src/ssl/mod.rs:153: error: undefined reference to 'SSLv3_method'`
`collect2: error: ld returned 1 exit status`
`error: aborting due to previous error`
`Could not compile servo.`

This might need to be fixed upstream.
Also see https://bugs.debian.org/cgi-bin/bugreport.cgi?bu

[2015-11-25 18:21] jdm opened #8681 "Warn on the presence of &String"
Like we warn on code like `: &Vec<`, we should also warn for `: &String`, since it has no benefit over using `&str`. This can be tested using `./mach test-tidy`.

Code: python/tidy.py

[2015-11-25 18:28] frewsxcv commented on #8681
Why not use rust-clippy for things like this?

[2015-11-25 18:47] frewsxcv commented on #8680
As of https://github.com/servo/servo/pull/8637, we have SSLv2 and SSLv3 disabled.

[It looks like there are cargo features on rust-openssl](https://github.com/sfackler/rust-openssl/blob/6bb3d8f1b5827ff27216d4219e08467b2461c071/openssl/src/ssl/mod.rs#L137-L140) that would allow us to stop relying on these methods. Maybe we should disable those features?

/cc @alex

[2015-11-25 18:49] alex commented on #8680
Disabling the `sslv3` in `openssl-sys` by default seems reasonable to me.

[2015-11-25 18:58] jdm commented on #8681
Because we can catch this easily in travis.

[2015-11-25 19:08] #7684 closed

[2015-11-25 19:29] jmr0 commented on #8681
I can give this a shot, if that's alright. Should we refactor any existing instances of &String as well?

[2015-11-25 19:34] jdm commented on #8681
Yes please!

[2015-11-25 19:38] #8080 closed

[2015-11-26 02:42] iqualfragile opened #8683 "crash"
commit 5e7306bf1965988551cafe6a27baab13eb927bbe
url https://i.imgur.com/snbejvV.gifv

What i did
call servo http://google.de
enter reddit\n
click first result (reddit)
click most trending post
enter a backspace, thereby returning to reddit
click the same post again

what i expected:
either servo showing the website with embedded webm or an error about not supporting webm, possibly with some layout

[2015-11-26 02:44] frewsxcv opened #8684 "non-inline block resets underline property"
[code]

-------

expected:

<img width="25" alt="screen shot 2015-11-25 at 9 41 52 pm" src="https://cloud.githubusercontent.com/assets/416575/11413966/8ebfbfc8-93bd-11e5-9b3e-73ff88daeca6.png">

-------

actual:

<img width="25" alt="screen shot 2015-11-25 at 9 42 02 pm" src="https://cloud.githubusercontent.com/assets/416575/11413967/92754502-93bd-11e5-960c-68371c259176.png">

---------

`tests/wp

[2015-11-26 02:53] frewsxcv commented on #8683
Might be a duplicate of #8461

[2015-11-26 03:03] frewsxcv commented on #7857
The spec changed for `URLUtils`: https://github.com/whatwg/html/pull/219

[2015-11-26 03:54] yanirs commented on #8158
Hey, having a look at this one. Is it simply a matter of adding an `else` clause on https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L455? It seems to fix the issue.

Also, are there constants defined for these codes somewhere? Setting the code to 1005 doesn't feel right, but this seems to be the convention elsewhere in the file, e.g., on https://github.com/servo/servo

[2015-11-26 04:02] iqualfragile commented on #8683
#8461 has a better backtrace and is the same issue, closing.

[2015-11-26 04:02] #8683 closed

[2015-11-26 15:08] jdm commented on #8158
It wouldn't hurt to define some named constants for the values in https://tools.ietf.org/html/rfc6455#section-7.4.1 . And yes, an else block or changing it to use unwrap_or would make sense.

[2015-11-26 15:42] alex commented on #8584
This appears to have been fixed in the past week :+1:

[2015-11-26 15:42] #8584 closed

[2015-11-26 16:18] Wafflespeanut commented on #8349
#8596 closes this.

[2015-11-26 16:18] #8349 closed

[2015-11-26 17:12] Mylainos commented on #3278
It look like `features` is implemented now.

[2015-11-26 17:26] frewsxcv commented on #3278
This is possibly related to #5973

[2015-11-26 17:52] #7658 closed

[2015-11-26 19:12] jdm opened #8691 "tidy.py check for cargo versions doesn't report multiple byteorder packages"
Noticed in review for #8446.

[2015-11-26 20:52] jdm commented on #7437
[code]

[2015-11-26 20:52] jdm commented on #7437
Specifically, "recursive IPC channel use during serialization". Interesting.

[2015-11-26 22:26] #8502 closed

[2015-11-26 23:48] yanirs commented on #8158
Thanks! What's the idiomatic way of defining such constants in Rust?
I tried an `enum` as in [net_traits/net_error_list.rs](https://github.com/servo/servo/blob/master/components/net_traits/net_error_list.rs), but this yields an error when comparing to `u16`. Defining global `u16` constants yields dead code warnings for the ones that aren't used, so I figured they could be put in their own module w

[2015-11-27 00:06] #8681 closed

[2015-11-27 04:15] eefriedman commented on #8158
Use u16 (or whatever is appropriate) constants.  If you're going to copy the complete list of constants from the standard, use `#[allow(dead_code)]`.

[2015-11-27 06:48] Wafflespeanut commented on #8691
Ah! `check_lock` only compares the versions of dependencies with that of the base packages it has collected along the way. Since both "byteorder" packages [exist as base packages](https://github.com/servo/servo/blob/dc0e467945e7fb8eaf93f9e40e7ebcb2d5f52b0c/components/servo/Cargo.lock#L142-L150), the old one's being replaced. This could be an easy issue :)

Code: `python/tidy.py`

[2015-11-27 08:16] KiChjang opened #8694 "Remove warnings on using deprecated std::thread::sleep_ms"
When building servo now, there is a lot of warning messages in the following form:
[code]
We'll have to update our definitions to use the new `std::thread::sleep`, which takes a `Duration` struct instead of a `u32`.

Code: `components/profile/mem.rs`, `components/profile/time.rs`, `components/webdriver_server/lib.rs`, `components/devtools/actors/timeline.rs`, `components/compositing/scrolling.rs`,

[2015-11-27 08:28] KiChjang opened #8695 "Remove warnings on using deprecated std::slice::ref_slice"
Recent versions of Rust have moved the `std::slice` module out of the standard library and instead put them into a new crate called [`ref_slice`](https://crates.io/crates/ref_slice). As a consequence, when building servo now, we get a lot of warning messages of the following form:
[code]

Code: `components/script/dom/node.rs`, `components/script/dom/websocket.rs`
Documentation/crate-to-use: https:

[2015-11-27 10:32] #7695 closed

[2015-11-27 12:05] paulrouget commented on #8674
If `add_or_replace_pipeline_in_frame_tree` is call before `handle_navigate_msg`, the iframe is found, but then it panics in `pipeline.thaw()` in the same function.

If it's not, then it panics because unwrapping `iframe_id` which is `None`.

[2015-11-27 16:16] Jayflux commented on #8695
@KiChjang I will try and take this

[2015-11-27 16:18] jdm commented on #8695
Great!

[2015-11-27 16:19] paulrouget commented on #8674
If I understand correctly:

`goBack()` panics because `self.subpage_map` and `self.pipeline_to_frame_map` contains conflicting information.

`handle_navigate_msg` ask for `subpage(0)`, which is associated to `PipelineId {namespace_id:1, index:0}`, which is associated to no iframe.

The iframe is associated to `PipelineId { namespace_id:0, index:0}`, which is *not* inside the iframe, but its parent

[2015-11-27 16:41] Ms2ger opened #8699 "Remove `#[allow(raw_pointer_derive)]` attributes."
They are unused.

[2015-11-27 16:42] Ms2ger commented on #8699
[code]

[2015-11-27 16:52] jdm commented on #8674
I wonder if we could fix this by removing all traces of subpages from code. I believe they're unnecessary since we introduced pipeline namespaces.

[2015-11-27 16:53] jdm commented on #8674
Also if this is to do with handle_painter_ready_msg, #8612 may affect this.

[2015-11-27 17:13] jdm opened #8700 "Investigate first party cookies, cookie prefix, and insecure modification of secure cookies"
https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/2PK3q_VE1rg

https://tools.ietf.org/html/draft-west-first-party-cookies-04
https://tools.ietf.org/html/draft-west-cookie-prefixes-04
https://tools.ietf.org/html/draft-west-leave-secure-cookies-alone-04

[2015-11-27 18:40] Wafflespeanut commented on #8269
This just involves writing another function (`check_manifest`) that checks those `MANIFEST.json` files. I'm thinking of something like this (though I'm happy with a better idea):

- travel through the file contents and parse the stuff in "items" - have separate lists for "manual", "reftest", "stub", etc.
- sort all those lists with respect to their "path" (or "url"), and include the indexes (we ne

[2015-11-27 18:47] GuillaumeGomez commented on #8269
If no one's on it, I'll take it.

[2015-11-27 19:00] eefriedman commented on #8269
This was fixed in #8601, I think?

[2015-11-27 19:14] Wafflespeanut commented on #8269
@eefriedman Ah, whoops! In that case, checking stuff in tidy is probably useless :/

[2015-11-27 19:16] Wafflespeanut commented on #8587
fixed by #8601

[2015-11-27 19:16] #8587 closed

[2015-11-27 19:25] Wafflespeanut commented on #8269
Closing this issue...

@GuillaumeGomez Sorry I didn't notice this at first :/

[2015-11-27 19:25] #8269 closed

[2015-11-27 20:21] jmr0 commented on #8285
I started looking at this issue and noticed that running `./lint` under our repo resulted in 3000 or so errors. It seems like the lint tool determines what files to check by running `git ls-tree`, and in our repo's case this command recursively expands wpt submodules `tools` and `resources`, producing these errors. These submodule directories are ignored when the same command is run under w3c/wpt'

[2015-11-27 21:39] jdm commented on #8676
This is super weird - the time frame in which this should have regressed (given how frequently we're hitting it) suggests no earlier than 7b799497d1e5cdd4c4914559fbb0792f935b72ca, but there's nothing in that range that sticks out as affecting this test.

[2015-11-27 23:39] #8000 closed

[2015-11-27 23:43] GuillaumeGomez commented on #8694
I'll take this one.

[2015-11-27 23:53] eefriedman commented on #8676
The test does contain 12 iframes... so any iframe-related fixes could be relevant.

[2015-11-28 00:08] jsanders commented on #8694
@GuillaumeGomez: D'oh, must have started this right before you commented – was just coming here to comment after taking a look. I have a PR almost ready to submit.

[2015-11-28 00:11] GuillaumeGomez commented on #8694
Arf. Well, then, it's all yours. Next time please comment before starting.

[2015-11-28 00:15] jsanders commented on #8694
Yeah, real sorry about that, just thought I'd look into it a bit, and got carried away before coming back.

[2015-11-28 00:19] KiChjang opened #8704 "Remove warnings on using deprecated std::thread::park_timeout_ms"
We still have compiler warnings about using a deprecated feature. The new `std::thread::park_timeout` function receives a `Duration` struct instead of `u32`.

Code: `components/compositing/timer_scheduler.rs`
Documentation: https://doc.rust-lang.org/nightly/std/thread/fn.park_timeout.html, https://doc.rust-lang.org/nightly/std/time/struct.Duration.html

cc @GuillaumeGomez if you're interested in t

[2015-11-28 00:20] GuillaumeGomez commented on #8704
Absolutely. Thanks ! :)

[2015-11-28 01:17] KiChjang opened #8706 "Remove compiler warnings on attributes gating stable features"
When building servo using the latest rust version, we have compiler warnings about unnecessary `#![feature]` attributes because they have since been stabilized in rust 1.6.

Code: `components/profile/lib.rs` (slice_splits), `components/net/lib.rs` (path_ext)

[2015-11-28 01:18] GuillaumeGomez commented on #8706
I take this one !

[2015-11-28 01:25] KiChjang commented on #8704
#8705 seems to have fixed this issue, closing.

[2015-11-28 01:25] #8704 closed

[2015-11-28 01:36] jsanders commented on #8704
@KiChjang / @GuillaumeGomez: Sorry, came across this deprecation while working on #8705 and thought it was similar enough to wrap into the same PR.

[2015-11-28 01:56] #8699 closed

[2015-11-28 03:27] KiChjang commented on #3648
Just so everyone knows, I'm currently looking into this, or #3649, whichever is easier to implement first.

[2015-11-28 05:17] Wafflespeanut commented on #8706
@GuillaumeGomez Let this be here for newcomers. Why don't you go for #8691, if that's okay? :)

[2015-11-28 06:04] #8592 closed

[2015-11-28 06:35] Wafflespeanut commented on #8592
fixed by #8598

[2015-11-28 10:05] Ms2ger opened #8709 ""unused attribute" warnings from Serialize/Deserialize derivation."

[2015-11-28 11:24] l0kod commented on #268
Closed with #8599

[2015-11-28 11:27] GuillaumeGomez commented on #8691
Then I'll take this one. ;)

[2015-11-28 12:39] #268 closed

[2015-11-28 12:55] jdm opened #8710 "Make OnErrorEventHandlerNonNull return `any` instead of `boolean`"
I think the specification must have changed since this was first added to Servo: https://html.spec.whatwg.org/multipage/webappapis.html#onerroreventhandler

Code: components/script/dom/webidls/EventHandler.webidl

[2015-11-28 13:56] nox opened #8711 "Don't generate modules for purely-consequential interfaces"
Things like `ParentNodeBinding` are completely useless empty modules.

[2015-11-28 14:44] GuillaumeGomez commented on #8709
I take this one too.

[2015-11-28 14:50] Ms2ger commented on #8709
Do you know how to fix them correctly? I don't.

[2015-11-28 15:01] GuillaumeGomez commented on #8709
The only issue here is because rustc considers these attributes as unused. So we can just add a macro which derive them to make rustc happy. But if you have something else in mind...

[2015-11-28 15:08] Ms2ger commented on #8709
I'm pretty sure they actually are used, or at least part of the public APIs of these libraries, so the warning is probably caused by a bug in serde.

[2015-11-28 15:12] #7441 closed

[2015-11-28 15:21] Ms2ger commented on #8285
Thanks for looking into it! I'll leave the final decision to @jgraham, but I think it would be fine to add the submodules to `lint.whitelist`.

[2015-11-28 17:03] frewsxcv opened #8715 "Implement 'link' attribute on '<body>'"
https://html.spec.whatwg.org/multipage/obsolete.html#dom-document-linkcolor

https://html.spec.whatwg.org/multipage/obsolete.html#dom-body-link

https://html.spec.whatwg.org/multipage/rendering.html#the-page:the-body-element-21

https://github.com/servo/servo/blob/eadaf30af396857535ad15b269bcba4f58e1ff9a/components/script/dom/webidls/Document.webidl#L145

https://github.com/servo/servo/blob/eadaf3

[2015-11-28 17:06] frewsxcv opened #8716 "Implement 'vLink' attribute on '<body>'"
https://html.spec.whatwg.org/multipage/obsolete.html#dom-document-vlinkcolor

https://html.spec.whatwg.org/multipage/obsolete.html#dom-body-vlink

https://html.spec.whatwg.org/multipage/rendering.html#the-page:the-body-element-22

https://github.com/servo/servo/blob/eadaf30af396857535ad15b269bcba4f58e1ff9a/components/script/dom/webidls/Document.webidl#L146

https://github.com/servo/servo/blob/eada

[2015-11-28 17:08] frewsxcv opened #8717 "Implement 'aLink' attribute on '<body>'"
https://html.spec.whatwg.org/multipage/obsolete.html#dom-document-alinkcolor

https://html.spec.whatwg.org/multipage/obsolete.html#dom-body-alink

https://html.spec.whatwg.org/multipage/rendering.html#the-page:the-body-element-23

https://github.com/servo/servo/blob/eadaf30af396857535ad15b269bcba4f58e1ff9a/components/script/dom/webidls/Document.webidl#L147

https://github.com/servo/servo/blob/eada

[2015-11-28 17:16] frewsxcv opened #8718 "Support for CSS :visited"

[2015-11-28 17:16] frewsxcv commented on #8716
Depends on https://github.com/servo/servo/issues/8718

[2015-11-28 17:29] frewsxcv opened #8719 "Support for CSS :active selector"
https://html.spec.whatwg.org/multipage/#concept-selector-active

https://drafts.csswg.org/selectors/#the-active-pseudo

[2015-11-28 17:30] frewsxcv commented on #8717
Depends on https://github.com/servo/servo/issues/8719

[2015-11-28 17:30] frewsxcv opened #8720 "Support for CSS :link selector"
https://html.spec.whatwg.org/multipage/#selector-link

https://drafts.csswg.org/selectors/#link

[2015-11-28 17:31] frewsxcv commented on #8720
Depends on #8715

[2015-11-28 17:31] frewsxcv commented on #8715
Depends on #8715

[2015-11-28 17:37] SimonSapin commented on #8718
We “support” `:visited` in the sense that we recognize it in the parser. (Not supporting it would have it make an entire selector list invalid at parse time.) In the current implementation it never matches, for two reasons:

* We don’t track browsing history yet
* If implemented naively, it can be used by malicious websites to extract browsing history.

http://dbaron.org/mozilla/visited-privacy
ht

[2015-11-28 17:49] #8706 closed

[2015-11-28 18:46] djain2405 commented on #7484
So following up on your previous suggestions, we are trying to merge the code from the android platform surface.rs into the linux platform surface.rs. But we are facing a lot of conflict issues when we are trying to merge the code from the android to the linux one. So we have a couple of questions regarding that:

1. Do we need to copy the implementation of the EGLImageNativeSurface from the andro

[2015-11-28 18:50] R00ney commented on #7484
@glennw ,   would it possible to  chat with you on #servo (or anywhere,really)  around 1pm EST  on Sunday about the issue posted ?

[2015-11-28 19:26] Ms2ger opened #8721 "Inconsistent rendering with rtl, overconstrained width"
We render
[code]
as
[code]
while Gecko and Chrome render it as
[code]

Not sure if there's a spec for this. We should make sure there is one and it agrees with Gecko and Chrome before fixing.

[2015-11-28 19:39] mbrubeck commented on #8721
I believe this is fully specified by CSS 2.1 § 10.3.3, and Servo simply has a bug.  This may be a duplicate of issue #2510.  See also [this failing reftest](https://github.com/servo/servo/blob/d48d8b3ea172018d50ea5dc0e0350cdc5307ea37/tests/ref/basic.list#L20-L21).

[2015-11-28 20:11] glennw commented on #7484
@R00ney Sorry, that was 4am for me and I missed it. It looks like you got some answers to your questions on irc - but I'll try to be around on irc a bit for the next few hours if you have more questions.

[2015-11-28 22:02] jgraham commented on #8285
Yeah that's fine.

[2015-11-28 22:05] jdm commented on #8360
Fixed by #8589.

[2015-11-28 22:05] #8360 closed

[2015-11-28 22:09] jdm commented on #8135
Fixed in #8315.

[2015-11-28 22:09] #8135 closed

[2015-11-28 22:10] rastus-vernon commented on #8674
I was able to reproduce these panic messages with the following steps:

1. Run `./mach run --release https://github.com/servo/servo`.
2. Click on the link to servo.org.
3. Press Backspace to go back in the history.
4. Press Shift+Backspace to go forward in the history.

[2015-11-28 22:15] jdm commented on #8177
@jmr0 is going to work on this.

[2015-11-28 22:26] frewsxcv commented on #8674
Could be related to https://github.com/servo/servo/issues/8461

[2015-11-28 22:44] R00ney commented on #7484
@glennw  For the moment, we just have the questions listed above. However, when we work on it tomorrow, I'm sure we'll have more questions.  Do you have a best time you're available Sunday afternoon?

[2015-11-28 22:51] jdm commented on #7484
For context for everyone - @glennw is in UTC +10; @R00ney is in UTC -5.

[2015-11-28 23:49] glennw commented on #7484
@R00ney

https://www.timeanddate.com/worldclock/meetingtime.html?year=2015&month=11&day=29&p1=377&p2=47

I'm generally available from around 5am on Monday, which would be 2pm on your Sunday - so we could try to chat then if that works for you.

I'll be in and out today, but I'll get some answers to your questions written up before then. @mrobinson is also very interested in this work and is in a s

[2015-11-29 00:16] eefriedman opened #8726 "Intermittent failure on /_mozilla/css/text_transform_capitalize_a.html"
[code]

First seen in #8722.

[2015-11-29 01:32] KiChjang commented on #7649
@jdm can this be considered done?

[2015-11-29 01:45] KiChjang commented on #7045
Fixed by #7242.

[2015-11-29 01:45] #7045 closed

[2015-11-29 01:52] KiChjang commented on #6928
Fixed by #6880.

[2015-11-29 01:52] #6928 closed

[2015-11-29 01:57] KiChjang commented on #6901
Fixed by #8227.

[2015-11-29 01:57] #6901 closed

[2015-11-29 01:57] KiChjang commented on #3381
Fixed by #8227.

[2015-11-29 01:57] #3381 closed

[2015-11-29 01:58] KiChjang commented on #1916
Fixed by #8227.

[2015-11-29 01:58] #1916 closed

[2015-11-29 02:04] KiChjang commented on #6638
Fixed by #8303.

[2015-11-29 02:21] jdm commented on #6638
Nope, that was only one part of it.

[2015-11-29 02:22] jdm commented on #7649
Yep!

[2015-11-29 02:22] #7649 closed

[2015-11-29 02:47] jdm commented on #8726
<img width="692" alt="screen shot 2015-11-28 at 9 46 59 pm" src="https://cloud.githubusercontent.com/assets/27658/11455097/9b1dc3f6-9619-11e5-86f9-da65c4ae97c2.png">

[2015-11-29 03:19] glennw commented on #7484
In terms of the egl_image_target_texture2d_oes function - I had a quick look in gleam and that's the only function that is linked on android, but not Linux.

So a good first step would be to change the definition of that function in gleam from:

[code]

to

[code]

If you do that, bump the version number in the Cargo.toml for gleam and open a PR, we can get that merged - then that function will be

[2015-11-29 05:01] frewsxcv opened #8730 "Can't build Servo on OSX"
Just did a `git pull` and now I get

[code]

I haven't done any investigation into this. Just liberally opening this issue before I go to sleep.

[2015-11-29 06:47] drbo commented on #5927
Why is this I-safety? It seems that the SpiderMonkey bindings should be designed so that this can't cause memory unsafety.

[2015-11-29 07:00] DemiMarie opened #8732 "Write fully safe Rust bindings to SpiderMonkey"
The Rust bindings to SpiderMonkey are not really safe, even with the plugins.  Layout must use unsafe accessors, asserts to prevent undefined behavior are not present in release builds, and the compiler plugins do not prevent all errors involving purely safe code.

One solution to this is to provide fully safe Rust bindings to SpiderMonkey.  This seems (to me) to involve:
- Using the type system t

[2015-11-29 07:40] Manishearth commented on #5927
That's not possible without severely impacting usability. Spidermonkey's API was not designed with Rust safety in mind, and it's really hard to create bindings which are 100% sound. We use lints and other things to fill up the gap.

[2015-11-29 07:50] Wafflespeanut opened #8733 "Cleanup the repeated code in tidy!"
I'm specifically interested in cleaning up the regex matching lines in `check_rust` function. For example, [these lines](https://github.com/servo/servo/blob/6e7de62b38a04e614c60e864c8d100bf3e72304f/python/tidy.py#L301-L313) are doing the same thing. Only the regex expression, the yielding message and the condition varies. So, if we make use of some inner functions for the job, we'd have a series o

[2015-11-29 07:54] Wafflespeanut opened #8734 "Ensure that tidy follows the same procedure for sorting"
#8692 introduced a new way to sort the `crate` declarations (thanks to @GuillaumeGomez). The current procedure for sorting `mod` and `use` declarations [makes use of the `sorted` function](https://github.com/servo/servo/blob/6e7de62b38a04e614c60e864c8d100bf3e72304f/python/tidy.py#L345). This means that every time tidy encounters a declaration, it's appended to the collected list of declarations an

[2015-11-29 07:55] echochamber commented on #8710
@jdm Mind if I give this one a shot?

[2015-11-29 07:57] Wafflespeanut commented on #8710
@echochamber Go ahead! :)

[2015-11-29 08:28] echochamber commented on #8726
Its possible I will be out of my depth, but I'd like to give this one a shot.

[2015-11-29 08:29] KiChjang commented on #8726
It's yours!

[2015-11-29 10:01] #8710 closed

[2015-11-29 10:39] GuillaumeGomez commented on #8734
We already talked about it, so I'll take it of course ! :)

[2015-11-29 11:56] Ms2ger commented on #8732
While this would be nice, it is not a priority for us.

[2015-11-29 15:24] jdm opened #8737 "Range code uses Vec<Root<T>>"
This certainly used to be something that wasn't allowed back in the stack-scanning days because the vector elements weren't on the stack. Is this now valid with the new design for `Root`, or should we lint more strongly for this and rewrite the code?

http://mxr.mozilla.org/servo/search?string=vec%3Croot

cc @michaelwu @nox @Ms2ger

[2015-11-29 15:25] nox commented on #8737
This can probably return a RootedVec through `RootedVec::with_destination_address`.

[2015-11-29 15:27] jdm commented on #8737
If this turns out to be unsafe, we need to update the bindings generation to disallow `sequence<Interface>` return types until we have a solution.

[2015-11-29 15:27] nox commented on #8737
Err no it can't. We could pass a `&mut RootedVec`. Using Root here seems to be safe, but not very efficient, I guess.

[2015-11-29 15:37] jdm commented on #5927
This isn't something that our SpiderMonkey bindings can enforce. This is a hole in our implementation of inheritance, which is orthogonal.

[2015-11-29 18:19] drbo commented on #8732
I think I understand &ndash; in a web browser there is more to security than just memory safety.

[2015-11-29 18:59] g-k commented on #8730
https://github.com/servo/servo/commit/b737e4e0fa10d3afc87f5217852caee1bfda4f5e builds for me on Yosemite with `rustc 1.6.0-nightly (1805bba39 2015-11-26)`.

[2015-11-29 20:55] Mylainos commented on #8733
I would like to take this one !

[2015-11-29 21:20] yurydelendik commented on #6098
You don't have to block this by `window.history` or `localStorage` API -- those are not essential APIs for PDF.js library. The viewer for Servo might look different or not use the same DOM APIs.

The main part of the library is canvas support specifically context 2d. See `ctx.xxxx` function usages in the https://github.com/mozilla/pdf.js/blob/master/src/display/canvas.js. (And probably @font-face

[2015-11-29 21:59] farodin91 commented on #6963
@nox Any updates?
It is also possible to use LevelDB with lib https://github.com/skade/leveldb.

[2015-11-29 22:19] dzbarsky commented on #8737
That code should probably return an iterator instead of calling collect, but I didn't know how to make the lifetimes compile when I wrote it.

[2015-11-29 23:03] Mylainos commented on #8015
`same-origin data-URL flag` isn't here https://mxr.mozilla.org/servo/source/components/net/fetch/request.rs#52 ?

[2015-11-29 23:38] ecoal95 opened #8738 "Check offset and size in WebGL's `BufferSubData`"
As per https://www.khronos.org/opengles/sdk/docs/man/xhtml/glBufferSubData.xml:

We'll need to track the current bound buffer, and also the size allocated for that buffer (if any) via `BufferData`.

That could be a good moment to also keep track of the currently bound textures and similar stuff.

[2015-11-30 01:11] dzbarsky opened #8741 "Panic loading WebGL demo (under gl_context::init_offscreen)"
Loading https://developer.mozilla.org/en-US/demos/detail/escher-puzzle/launch gives

[code]

[2015-11-30 02:37] Wafflespeanut commented on #8733
Great! :)

[2015-11-30 03:07] jsanders commented on #7860
@anthgur / @Wafflespeanut / @jdm: Am I understanding the removal of C-assigned correctly, as meaning that this is no longer being worked on? If so, I'd like to take a crack at this.

[2015-11-30 03:19] KiChjang commented on #7860
@jsanders Yes that is correct, this issue is up for grabs. I'll mark this as assigned.

[2015-11-30 04:05] michaelwu commented on #8737
An iterator seems more appropriate here, for performance/memory reasons.

[2015-11-30 04:07] dzbarsky commented on #8462
Well that's annoying.

[2015-11-30 04:38] #8694 closed

[2015-11-30 04:54] glennw commented on #7931
@jdm @ecoal95 The webgl reftests might be fixed by https://github.com/ecoal95/rust-offscreen-rendering-context/pull/43.

[2015-11-30 12:43] Ms2ger opened #8749 "attr-meta-http-equiv-refresh/parsing.html uses too many iframes"
And that's not something we seem to handle well.

[2015-11-30 13:10] Manishearth commented on #8100
happening on HTTPS too

[2015-11-30 13:18] Manishearth commented on #8100
I think the same error is happening for Facebook and Wikipedia. I guess our cookies broke?

[2015-11-30 13:19] frewsxcv commented on #8730
Just removed .cargo and .servo and was able to build again successfully. Not sure...

[2015-11-30 13:19] #8730 closed

[2015-11-30 14:00] jdm commented on #8015
No. The spec concept linked to by the comment above it is different.

[2015-11-30 14:45] #8588 closed

[2015-11-30 15:21] jdm commented on #8741
cc @ecoal95

[2015-11-30 16:46] emilio opened #8753 "Mimic other browser vendors when passing unexpected null values to WebGL methods"
Other browser engines generate an `INVALID_VALUE` error when, for example, a `null` shader argument is passed to `getShaderInfoLog`. Similar calls are `getProgramParameter`, `getParameter`, ...

[2015-11-30 16:57] mbrubeck commented on #8602
Interestingly, after forcing a reflow (e.g. by resizing the window), the test case is laid out correctly.

[2015-11-30 17:15] ecoal95 commented on #8741
@dzbarsky what platform are you on? I couldn't replicate on linux, I get the following output with current HEAD:

[code]

[2015-11-30 19:57] gordonbrander opened #8754 "vh and vw units are not recalculated after window resize"
`vh` and `vw` units are not recalculated after a window resize. Here's a [minimal test case](https://gordonbrander.github.io/servo-testcases/resize-vw-vh/).

<img width="1099" alt="screen shot 2015-11-30 at 11 49 40" src="https://cloud.githubusercontent.com/assets/58421/11482649/d96b6600-9758-11e5-9578-2f7e6edece5a.png">

- This issue is present in both normal and "browser.html" modes.
- This issu

[2015-11-30 20:13] Manishearth opened #8756 "Add extensive cookie tests to wpt"
Our cookie code was rather broken. https://github.com/servo/servo/pull/8752 fixed it and added some unit tests, but there should be wpt tests for cookie setting behavior as well.

I'm envisioning something which uses a custom python server (see XMLHttpRequest/resources or cors/resources in wpt for examples of these) that sets various cookies based on its parameters, and write tests around that.

T

[2015-11-30 20:41] gordonbrander commented on #8754
As might be expected, this is also affecting the positioning of child elements ([testcase](https://gordonbrander.github.io/servo-testcases/resize-vw-vh/centered-child.html)).

<img width="656" alt="screen shot 2015-11-30 at 12 40 23" src="https://cloud.githubusercontent.com/assets/58421/11483831/97e0c2d2-975f-11e5-883b-21988d60a449.png">

[2015-11-30 20:56] jdm commented on #5242
Basically, yes. This ties in a bit with the changes in #8658 which add a concept of local vs. remote windows/documents. It's not yet totally clear to me how this should interact with the tree of Page objects. It's possible that Page should become nothing more than a wrapper around a `BrowsingContext` object.

[2015-11-30 22:14] Mylainos commented on #8733
I think add a fonction which return the error and then yield this error if it's not None isn't efficient for clean up the code.
[code]
Any suggestion ? I don't know how to do it differently.

[2015-11-30 23:07] pcwalton commented on #8570
Yes, `selectors` would need to add support for these new pseudo-pseudo-elements. But I'm not sure they should actually be added to all the enums that contain before/after, because these pseudo-elements would not function as generated content.

[2015-11-30 23:34] #6672 closed

[2015-11-30 23:53] paulrouget opened #8758 "Tiling panic"
No STR:

[code]

[2015-12-01 01:26] KiChjang commented on #1716
@kball what's the status of this?

[2015-12-01 01:26] mbrubeck commented on #8754
Currently [Stylist::set_device][1] sets its `is_device_dirty` flag on resize if any stylesheet contains an `@media` query that is affected by the resize.  We could fix this by also checking  if any stylesheet contains a rule with a `vh` or `vw` value, and setting the same dirty flag.

This `is_device_dirty` flag causes all stylesheets to be re-added to the document and all nodes to be dirtied by t

[2015-12-01 01:30] KiChjang commented on #3598
@benschulz what's the status of this?

[2015-12-01 01:35] echochamber commented on #8726
I think I am out of my depth here. I built servo with --dev, and have run that specific test 1000 times to see if I could get it to fail but so far it keeps passing. After digging around a little I think there are too many pieces I don't understand to tackle this bug. I'll give another one a shot. @KiChjang can you remove the assigned tag from this? Thanks!

[2015-12-01 01:39] srinivasreddy commented on #8733
I think you can use this regex with out going for another function.
[code]

[2015-12-01 02:45] paulrouget opened #8759 "hit test issue: 2 absolute divs create an opaque region for mouse events"
[code]

![screenflow](https://cloud.githubusercontent.com/assets/373579/11490979/e1ce8d88-97dd-11e5-93b6-ffbb1199f880.gif)

[2015-12-01 02:46] paulrouget commented on #8759
/cc @mbrubeck

[2015-12-01 03:04] frewsxcv opened #8760 "'./mach update-hsts-preload' fails"
[code]

[2015-12-01 03:50] kball commented on #1716
@KiChjang Afraid life came and hit me with a club, I haven't made progress.  Feel free to grab it

[2015-12-01 07:20] drbo commented on #8700
Is this a dup of #7962 ?

[2015-12-01 08:10] dzbarsky commented on #8741
OSX Yosemite,
MacBook Pro (15-inch, Late 2011)
Graphics: AMD Radeon HD 6770M 1024 MB

[2015-12-01 09:23] benschulz commented on #3598
Sorry, I didn't properly link this issue with PR #7267.

[2015-12-01 10:15] mmatyas opened #8762 "IPC files on Android"
I'm testing canvas performance on Android, and noticed some problems with IPC ([servo/ipc-channel](https://github.com/servo/ipc-channel)) there. Servo seems to be creating IPC 'shared memory' files on every canvas redraw, on the sdcard, and they remain there until you manually delete them. With a big animated canvas, this means megabytes every second, and if there's no more space, pages simply sto

[2015-12-01 10:24] Ms2ger commented on #8756
Relevant: https://github.com/w3c/web-platform-tests/pull/2385

[2015-12-01 13:11] Wafflespeanut commented on #8733
Alright, let's drop the idea of having functions, and change the plan (because some cleanup's already going on at #8750).

So, we've got unwanted nested `if`s, like...
[code]

which could be grouped into,
[code]

Simlarly, there are some unwanted variable bindings, like `match`. It does something like,

[code]
In this case, we don't need this binding at all! It could just check the search and yiel

[2015-12-01 15:56] jdm commented on #8700
Unclear! It's good to link them together as you have, however.

[2015-12-01 17:18] mbrubeck commented on #8759
The two positioned divs are layerized into the same layer, so `IOCompositor::find_topmost_layer_at_point` correctly returns this layer.  However, we don't actually want the topmost layer; we want the topmost element. If the point is in a region of the layer that contains no element, the hit test should fail.  I'm not sure yet how to implement this without a round trip to the script task...  cc @pc

[2015-12-01 17:22] #8285 closed

[2015-12-01 17:36] mbrubeck commented on #8759
Note that this is only a problem when the layer is on top of an iframe, because that causes the compositor to send the mouse event message to the wrong document.  Perhaps if this happens, the script task could detect it and forward the message to the child document.

[2015-12-01 19:27] gsnedders opened #8764 "Some CSS transitions test intermittently fail/crash"
These will be disabled even after #8565.

[code]

I believe all subtests for these randomly fail at varying frequencies, occasionally crashing the browser.

[2015-12-01 19:45] jmr0 commented on #8177
Hey @jdm, I'm going over this now and wanted to make sure I captured the flow right:

* `establish_a_websocket_connection` should set the protocol header on the request object
* `ConnectionEstablishedTask::handler` will check the "protocol in use" response from the server's handshake  (that we would've stored from `establish_a_websocket_connection`?) and verify against the client-provided list, th

[2015-12-01 20:07] LifeIsStrange commented on #8156
Maybe this demo can be useful for you ?

http://replete.github.io/brotli-experiments/

[2015-12-01 20:14] metajack opened #8765 "browser.html takes 100% cpu"
Follow instructions here:
https://github.com/mozilla/browser.html/tree/perspective-ui#running-in-servo

I tested on OS X, but I'm not sure if this is platform specific or not. You don't need to do anything bug load the blank ui. It consumes all the cycles as soon as servo starts and seems to never stop.

[2015-12-01 20:14] metajack commented on #8765
cc @glennw @paulrouget

[2015-12-01 20:16] gsnedders opened #8766 "WebGL-invoking CSS transform tests intermittently timeout"
These are `tests/wpt/css-tests/css-transforms-1_dev/html/canvas3d-001.htm` and `tests/wpt/css-tests/css-transforms-1_dev/html/canvas3d-002.htm`. Both intermittently timeout on both Linux (w. proprietary NVidia drivers) & OS X, at least locally!

[2015-12-01 21:04] vvuk commented on #8762
shmem should not be hitting the disk/flash at all.. the filesystem name should just be a name.  If stuff is actually being written (especially living until they're deleted), it likely means that something about android's IPC/shmem isn't what servo is expecting.

[2015-12-01 21:14] Gozala opened #8767 "Keyboard events & input elements ignore OS keyboard layout"
I use Dvorak keyboard layout on OSX 10.11.2 and typing into input element seems to type as if I was typing in QUERTY. Also all keyboard events seem to ignore keyboard layout.

[2015-12-01 21:15] metajack commented on #8767
That's odd. You'd think the OS would translate the events before sending them. Maybe this is a bug in Glutin?

[2015-12-01 21:17] larsbergstrom commented on #8762
Thanks for finding this, @mmatyas!

The current code just works around a bunch of bionic bugs with shmem. I'd welcome any changes! If you *do* have to write anything to the app directory, we do have to be careful to get it from the application at startup, as AFAIK it's not actually constant and the app will actually only have write access to the "real" one (e.g. `/data/data/org.mozilla.servo1`).

[2015-12-01 21:22] jdm commented on #8767
Duplicate of #4144.

[2015-12-01 21:22] #8767 closed

[2015-12-01 21:30] jdm commented on #8177
Yes, that looks correct to me!

[2015-12-01 21:30] #3510 closed

[2015-12-01 21:32] jdm commented on #332
I don't think there's any reason to track this in Servo's tracker, since the work seems to be happening at the level of the libraries we rely on for windowing-related code.

[2015-12-01 21:32] #332 closed

[2015-12-01 21:36] metajack commented on #4144
@glennw Now that glutin is default, perhaps the time has come to at least document here what we should be doing.

[2015-12-01 21:38] jdm opened #8769 "Intermittent timeout in /_mozilla/css/iframe/hide_layers2.html (Constellation panic)"
[code]

[2015-12-01 23:35] craftytrickster commented on #8623
Do the alert items such as GetAlertText only deal with alerts or do they also deal confirm/prompt alerts as well? I ask because I only see (Alert)[https://servo.github.io/doc.servo.org/script/dom/bindings/codegen/Bindings/WindowBinding/trait.WindowMethods.html#tymethod.Alert] on the window methods, I do not see any mention of confirm/prompt. Should confirm/prompt be ignored for now?

[2015-12-01 23:48] glennw opened #8770 "Intermittent ipc channel crash on android"
Occurs when loading about-mozilla.html on android with the webrender branch.

Reported error is "recursive io"

[2015-12-01 23:49] glennw opened #8771 "ipc-channel issues metabug"
- [ ] IPC files left written to sdcard on android #8762
- [ ] IPC channel intermittent "recursive io" failure on android #8770

[2015-12-01 23:56] pcwalton commented on #8762
Ugh. This is exactly the reason why `memfd` exists, but it's too new for us to rely on it.

[2015-12-02 00:17] frewsxcv commented on #8543
Just encountered this. Gif of the interaction:

![](https://cloud.githubusercontent.com/assets/416575/11518527/31148514-9860-11e5-8d38-74d8b8273316.gif)

[2015-12-02 00:45] frewsxcv opened #8772 "Multiple spaces don't get rendered in input fields"
Caret issue:  #8543

Steps to reproduce:

1. go to a text field
2. press space five times
3. press a letter
4. notice that *visually* it looks like only one space was pressed

![untitled](https://cloud.githubusercontent.com/assets/416575/11518999/4d3ed70e-9864-11e5-85de-cac6cae20d3e.gif)

[2015-12-02 00:51] vvuk commented on #8762
Hmm, why? Servo is forward looking, it should use forward looking tech.. especially on mobile :)

[2015-12-02 00:53] frewsxcv commented on #8772
test case:

[code]

[code]

[2015-12-02 01:02] frewsxcv commented on #1906
This could probably be closed in favor of #7004? I don't really see the point in keeping either of them open really

[2015-12-02 01:05] KiChjang commented on #1906
My preference is to keep issues and PRs small; so instead we may make #7004 a metabug to track all missing DOM class implementations.

[2015-12-02 01:06] larsbergstrom commented on #8762
I've been a little reluctant to move our minimum Android platform up so that we could try to share components with Gecko (so, WinXP, OSX 10.6, older Android, etc.). But maybe we could do that on a more component-level basis and use newer features in either components that either will stay Servo-only or have multiple codepaths for different targets.

[2015-12-02 01:09] frewsxcv opened #8773 "<input> with no specified value or size has incorrect width"
[code]

Chrome (and Firefox):

![screen shot 2015-12-01 at 8 07 30 pm](https://cloud.githubusercontent.com/assets/416575/11519333/56b1992c-9867-11e5-8afe-790955025f3d.png)

Servo:

<img width="635" alt="screen shot 2015-12-01 at 8 07 36 pm" src="https://cloud.githubusercontent.com/assets/416575/11519335/5e6efeca-9867-11e5-81a8-848a85996926.png">

[Relevant section of spec](https://html.spec.whatwg

[2015-12-02 01:15] frewsxcv commented on #8773
On a similar note:

[code]

Chrome (and Firefox):

![screen shot 2015-12-01 at 8 14 18 pm](https://cloud.githubusercontent.com/assets/416575/11519439/36e2e3ac-9868-11e5-95d1-bbe4fa547dcd.png)

Servo:

<img width="642" alt="screen shot 2015-12-01 at 8 14 01 pm" src="https://cloud.githubusercontent.com/assets/416575/11519442/3a18fb24-9868-11e5-924e-035ade75c04c.png">

[2015-12-02 01:15] frewsxcv commented on #8773
Possibly related to  #4378

[2015-12-02 01:44] fitzgen commented on #6906
See also https://groups.google.com/forum/#!topic/mozilla.dev.servo/iY7JRKwfCIM

std::string::String but with inline storage for small strings to avoid heap
allocation. It also provides a StringExt trait to abstract string
operations over both InlinableString and std::string::String. I'm planning
on implementing this trait for DOMString as well, making the codegen emit
bindings code that uses Inlin

[2015-12-02 01:52] fitzgen commented on #6906
@asajeffrey, somehow I missed the comment that you were playing with string representations :-/

 What are you trying out? Can you comment on how it compares to https://github.com/servo/servo/issues/6906#issuecomment-161152810? Any initial findings?

[2015-12-02 02:03] asajeffrey commented on #6906
My code is at https://github.com/asajeffrey/servo/tree/string_representation_experiments, though it's not the cleanest. I'll have a look at your work tomorrow!

[2015-12-02 02:34] jdm commented on #8772
I bet this is the layout code doing its whitespace collapsing on the generated text.

[2015-12-02 03:04] jdm commented on #1906
Yeah, this doesn't really hold much value in its present state.

[2015-12-02 03:04] #1906 closed

[2015-12-02 03:19] metajack commented on #8765
After some investigation from @glennw this doesn't seem to happen on linux nor does it seem related to requestionAnimationFrame.

I suspect Mac OS X event handling :(

[2015-12-02 05:13] metajack commented on #8765
Handing this to @pcwalton since he's on a mac.

[2015-12-02 05:38] samfoo commented on #8580
"HSTS pinning" doesn't make any sense to me. I just checked and when servo navigates to...

[**http**://subdomain.preloaded-hsts.badssl.com/](http://subdomain.preloaded-hsts.badssl.com/)

...it correctly sees that the subdomain requires secure loading and upgrades the connection to [**https**://subdomain.preloaded-hsts.badssl.com/](https://subdomain.preloaded-hsts.badssl.com/)

The current HSTS pr

[2015-12-02 06:51] nfallen commented on #6638
In my current design, when the websocket connection is being established in the resource task, the DOM websocket code is sent an IpcReceiver that accepts an enum specifying an event that occurred on the network side. This allows the DOM code to queue the tasks to give feedback from the protocol.

My question is: how should the DOM code wait for these events without blocking the DOM process? Should

[2015-12-02 07:19] paulrouget commented on #8765
No issue here. Tested with and without webrender.

[2015-12-02 07:21] jdm commented on #6638
With respect to the question of performance, I'm in favour of doing the straightforward implementation and measuring before trying to optimize it.

As to your other question, that's a good one, and I feel silly for not considering it before. I'm in favour of creating a thread that receives the event notifications and enqueues a runnable that dispatches the DOM event (ie. just adapting the existing

[2015-12-02 07:24] KiChjang opened #8777 "Refactor event firing in submit method of HTMLFormElement"
I left a comment in the code [here](https://github.com/KiChjang/servo/commit/2d263f6a117cd8f9f548b5bd8c49ef3739f12f40#diff-db2031d1f23ecf1a921fc100cfed753dR174) describing how the code is repeated for firing an event to the form element itself. We should extract this duplicated functionality into a proper method.

Code: `components/script/dom/htmlformelement.rs`

NB: Wait for #8747 to land before

[2015-12-02 08:39] mskrzypkows commented on #8568
Updated. I copy openssl.makefile and openssl.sh to target/arm-linux-androideabi/FLAVOR/native/openssl. Is it OK? I assumed that it's better to use existing 'native' directory.

[2015-12-02 08:43] Ms2ger commented on #8623
`confirm`/`prompt` aren't implemented, and probably won't be for quite a while, so do ignore them.

[2015-12-02 09:19] Ms2ger opened #8778 "Alleged deadlock with canvas2d"
Per @glennw, https://github.com/servo/servo/blob/a8cbc2864367da09fb31fb5f984a7b2d31b90b93/components/script/dom/canvasrenderingcontext2d.rs#L124 can cause deadlocks.

[2015-12-02 10:21] Ms2ger opened #8779 "Remove the cx/sender arguments to Trusted::new()?"
It seems like we could get those from the reflector with `global_root_from_reflector`.

[2015-12-02 11:41] nox commented on #8473
What about global_root_from_reflectable, instead of global_root_from_reflector?

[2015-12-02 12:39] Ms2ger commented on #8473
I think I'd prefer renaming `Reflectable` to `DOMObject`.

[2015-12-02 12:56] Ms2ger opened #8780 "overflow_position_abs_inside_normal_a.html fails"
It passes in Gecko and Chrome.

[2015-12-02 13:07] paulrouget commented on #8765
How did you rule out RAF? Could it be related to https://github.com/servo/servo/issues/7782 ?

[2015-12-02 13:42] larsbergstrom opened #8782 "build.servo.org DNS entry missing"
@edunham Can you please add back a DNS entry for build.servo.org to 96.126.125.232?

Right now, we have to get homu / the waterfall / etc. from manual IP hacking :-)
http://96.126.125.232/homu/queue/servo

Thanks!

[2015-12-02 14:45] Ms2ger opened #8783 "text_decoration_propagation_a.html fails"
Disabled in a7fcbd9d6035bfab183a0dabc38b053c2a080abf

[2015-12-02 15:29] jdm commented on #8779
If we can do this, we should. Creating Trusted values is higher-effort than I'd prefer right now.

[2015-12-02 15:33] metajack commented on #8765
I added logging (a suggestion from @glennw) to tick_animations_for_pipeline and ti was only called 5 times on the initial load and never again while I let it sit idle eating my CPU.

[2015-12-02 16:39] fitzgen commented on #6906
I see you modified the `DOMString` type directly, not just the stack allocated strings in emitted binding code (which was my plan). Although not optimal because it increases the memory footprint of `DOMString`, that's a lot easier to implement, and I was able to mimic the approach. I have a branch that makes `DOMString` use `InlinableString` rather than `std::string::String` now: https://github.co

[2015-12-02 16:58] bholley commented on #8473
That sounds reasonable to me.

[2015-12-02 17:03] Ms2ger commented on #8779
Turns out @michaelwu already removed the dependency on the `JSContext` during the smup. (Would have been nice if we'd filed a followup about it then…)

Anyway, this involves removing the `_cx` and `script_chan` arguments from `Trusted::new()` in `components/script/dom/bindings/refcounted.rs`. The `script_chan.clone()` can be replaced by `global_root_from_reflector(ptr).script_chan()`.

[2015-12-02 18:12] edunham commented on #8782
Added A record. Sorry about that!

[2015-12-02 18:13] edunham commented on #8782
And build.servo.org now resolves.

[2015-12-02 18:13] #8782 closed

[2015-12-02 18:20] nfallen commented on #6638
Sounds good! Since the websocket_loader code in the resource task will have to listen for both outgoing messages from the DOM and incoming messages from the socket, I was thinking of creating a thread for each of those tasks as well. Does that make sense?

[2015-12-02 18:54] jdm commented on #6638
Yep!

[2015-12-02 18:55] #8760 closed

[2015-12-02 19:22] asajeffrey commented on #6906
Yes, welcome to my world of implementing different string representations and seeing no benefit :)

I think what's causing this is that the source of memory allocation for DOMStrings is in clone() and converting to/from JSString. I instrumented these methods, and saw that there's almost no use of clone(), but lots of conversions of tiny strings. Looking at the conversion code:

https://github.com/

[2015-12-02 19:26] asajeffrey commented on #6906
Looking at your branch, I can see you fixed the buffer in str.rs, but not in rust-mozjs/src/conversions.rs. Since many strings are latin-1, this may explain what's going on.

[2015-12-02 19:41] asajeffrey commented on #6906
I'm currently experimenting with removing the buffering for converting
short strings to/from JS. We shall see if this improves matters...

On Wed, Dec 2, 2015 at 10:40 AM, Nick Fitzgerald <notifications@github.com>
wrote:

[2015-12-02 20:42] SimonSapin commented on #7202
When changing the ignored pattern from ports/cef/* to ports/cef/interfaces/*, mach test-tidy currently gives 365 lines of output. Most of it is about whitespace. An extract:

[code]

[2015-12-02 21:08] asajeffrey commented on #6906
My attempt at removing buffering: https://github.com/asajeffrey/servo/commit/1533238eb8ffff22688572a04d5bd6eb8ac88297, which got me no measurable benefit.

[2015-12-02 22:28] simartin commented on #6791
I propose to take it; it looks to me one should "just" change a call to JS_GetFloat32ArrayData into one to JS_GetUint8ArrayData, correct?

[2015-12-02 22:37] edunham commented on #8585
servo.org now redirects to https://servo.org/, as does www.servo.org.

blog.servo.org does not have HTTPS yet because it doesn't display right on https://servo.github.io/blog.servo.org (https://github.com/servo/blog.servo.org/issues/45). Distributing the site over HTTP from github to cloudflare then HTTPS from cloudflare to the user would be deceptive.

[2015-12-02 22:37] #8585 closed

[2015-12-02 22:59] pcwalton commented on #8765
Can't reproduce this.

[2015-12-02 22:59] jdm commented on #6791
Sounds good! This is BufferData in `canvas_traits/lib.rs`.

[2015-12-02 23:06] simartin commented on #6400
I think it might have been fixed (by https://github.com/servo/servo/pull/8558 ?)

lyton:servo simon$ target/debug/servo --cpu --hard-fail --webdriver 4444 about:blank &
[1] 4493
lyton:servo simon$ curl -X POST http://127.0.0.1:4444/session -d "{}"
{"sessionId":"8dbe5739-8531-43da-b0aa-0dcc1fd2c8b1","value":{"acceptSslCerts":false,"browserName":"servo","browserVersion":"0.0.1","takeElementScreensho

[2015-12-02 23:09] frewsxcv commented on #8585
:confetti_ball:

[2015-12-02 23:12] KiChjang commented on #8779
I was confused why `Trusted::new()` needed a `JSContext` argument since `_cx` was never used within the function itself.

[2015-12-02 23:46] edunham commented on #7262
https://github.com/servo/blog.servo.org/issues/45 is blocking end-to-end SSL on the blog.

@jdm could you either set up the servoexperiments.com SSL or add the nearlyfreespeech.net login creds to the secrets doc so I can set it up?

[2015-12-03 00:35] mbrubeck commented on #8754
Alternately we could change the types like computed::LengthOrPercentageOrAuto preserve the viewport units, so they can be converted to an absolute length at layout time (like percentages are) rather than at cascade time (like they are currently).

[2015-12-03 02:09] DemiMarie opened #8789 "Use the type system to ensure that methods are not called on the wrong threads"
Servo currently uses `debug_assert!` in many places where the thread must be in a certain state, but dynamic checking would be too slow.  This should be avoided by passing a zero-sized type around as compile-time proof that the code is in the correct state.

[2015-12-03 03:29] SimonSapin commented on #8754
I’d rather not do that. It would add significant complexity everywhere in the layout code: when accessing any length from the style system, any piece of layout code would need to also have access to the viewport size and call something to resolve to an absolute length.

[2015-12-03 04:17] KiChjang commented on #7553
@psdh any progress on this?

[2015-12-03 05:12] frewsxcv opened #8791 "Replace util::geometry::rect_contains_point in favor of Rect::contains"
Remove https://github.com/servo/servo/blob/2be60be062e14c937af601faed78a6aceccdb062/components/util/geometry.rs#L89-L97

Replace usages with http://doc.servo.org/euclid/rect/struct.Rect.html#method.contains

[2015-12-03 05:30] frewsxcv opened #8792 "Replace ZERO_RECT with Rect::zero and ZERO_POINT with Point2D::zero"
http://doc.servo.org/servo/util/geometry/static.ZERO_RECT.html

⬇️

http://doc.servo.org/servo/euclid/struct.Rect.html#method.zero

--------

http://doc.servo.org/servo/util/geometry/static.ZERO_POINT.html

⬇️

http://doc.servo.org/euclid/point/struct.Point2D.html#method.zero

[2015-12-03 05:39] mbrubeck commented on #8754
Layout code can access the viewport size pretty easily because it's part of the LayoutContext, which we already thread through all of the layout traversals.

We need to do this anyway because of percentage lengths.

[2015-12-03 06:57] #8158 closed

[2015-12-03 07:41] psdh commented on #7553
@KiChjang I had started out with going through the mikedilger/formdata, adding links to the spec. I'll be able to devote time to only after the 14th (exams till then). I don't want to block it. Take it up if you want to!

[2015-12-03 10:41] SimonSapin commented on #8754
Not every `<length>` can be a `<percentage>` (for example border width) but every length can have viewport units.

This also deviates from the spec, and although I haven’t managed to come up with a case where the difference is observable I don’t know if they don’t exist. (The computed value is what’s inherited, and any property can take the value `inherit`).

[2015-12-03 11:12] #8695 closed

[2015-12-03 12:29] rilut commented on #8792
May I?

[2015-12-03 15:22] Manishearth opened #8798 "Make Rect::contains() and friends take a copy instead of a reference"
[`Rect::contains()`](https://github.com/servo/euclid/blob/master/src/rect.rs#L101) should take `Point2D<T>` instead of `&Point2D<T>` since Point2D is always a small, `Copy` type (so references are unnecessary)

The same goes for  the other functions taking `&Rect`, `&Point2D`, or `&Size2D` in that file

This bug has multiple steps:

 - Make the fix in euclid, bump the cargo version, make a PR
 - W

[2015-12-03 15:36] Manishearth commented on #8798
This is actually a lot more work to do cross-repo since this is a breaking change, and not really worth it since LLVM should be inlining these anyway

[2015-12-03 15:36] #8798 closed

[2015-12-03 15:42] SimonSapin opened #8799 "Don’t download Rust stdlib for arm-linux-androideabi until necessary"
Downloading this only when required would save some downloads for people who don’t cross-compile servo to Android or Gonk.

Relevant files include `python/servo/bootstrap_commands.py` and `python/servo/build_commands.py`

[2015-12-03 16:07] jdm opened #8801 "Make Blob store an Arc<Vec<u8>>"
The point of Blob values is that they're immutable buffers, and sometimes they're even slices of immutable buffers, and they're often used as sources of data that will be sent between threads internally. We should support this properly by making the underlying buffer threadsafe, allowing us to pass around references to it rather than cloning it. This will allow us to:
* remove the `read_out_buffer

[2015-12-03 16:26] jdm opened #8802 "Intermittent crash in /webstorage/storage_functions_not_overwritten.html"
Note: this only ends up crashing because of #6462. This looks like another issue caused by unwrapping `ipc::channel()`, so blocking #8771.
[code]

[2015-12-03 16:29] jdm commented on #7553
Let us know if/when you start working on it again, in that case :)

[2015-12-03 16:50] Ms2ger opened #8804 "PartialEq for DOM objects"
There's a number of places that do things like
[code]

It would be nice to have that handled centrally.

[2015-12-03 18:26] #8113 closed

[2015-12-03 19:43] jdm opened #8806 "Intermittent timeout in /css21_dev/html4/abspos-replaced-width-margin-000.htm"
[code]

[2015-12-03 20:13] #8462 closed

[2015-12-03 20:46] jmr0 commented on #8177
I ended up breaking the `Create-valid-url-array-protocols` and `Create-Secure-valid-url-array-protocols` tests by adding protocol support but don't see an easy way of fixing them, since we don't seem to support IDL array arguments.

Protocol arrays are currently passed as a comma-separated string, so it wasn't immediately obvious how one would differentiate between a proper comma-separated list of

[2015-12-03 21:59] #8759 closed

[2015-12-04 00:07] #8791 closed

[2015-12-04 00:33] mbrubeck opened #8811 "Incorrect hit-testing for touch events in iframe behind positioned content layer"
#8759 describes a situation where the compositor's layer hit test is incorrect. #8785 fixed this, but the fix applies only to mouse events. We either need a similar fix for touch events, or a more general fix for the underlying hit test issue.

[2015-12-04 00:40] #8709 closed

[2015-12-04 01:03] frewsxcv opened #8813 "Treat 'undefined' passed to an optional argument as "missing""
* [Failing test](https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/dom/documents/dom-tree-accessors/document.title-07.html.ini)
* https://people.mozilla.org/~jorendorff/es6-draft.html#sec-tostring
* https://dom.spec.whatwg.org/#dom-domimplementation-createhtmldocument

Servo:

[code]

Firefox:

[code]

Chrome:

[code]

Is this a spec issue?

[2015-12-04 01:19] frewsxcv commented on #8813
/cc @Ms2ger

[2015-12-04 01:25] eefriedman commented on #8813
The spec is perfectly clear; the interface is "[NewObject] Document createHTMLDocument(optional DOMString title);", and the Web IDL spec says that if `undefined` is specified as an argument, it gets converted to the string `"undefined"`.  Servo's behavior matches the spec.

It's possible the spec needs to be changed to reflect reality.

[2015-12-04 01:45] frewsxcv commented on #8813
https://github.com/whatwg/dom/issues/124

[2015-12-04 04:41] jdm opened #8815 "Intermittent Result::unwrap() panic in WPT reftest ("Connection reset by peer" or "Couldn't receive FontCacheThread")"
[code]
This looks like a case of the layout/script threads already having shut down and the constellation racing to communicate with them.

[2015-12-04 04:48] jdm opened #8816 "Intermittent reftest failure in /_mozilla/css/iframe/positioning_margin.html"
The result for the non-reference page is all white. More iframe fun!

[2015-12-04 04:57] jdm commented on #8177
Oh yeah, #544 :( I'm ok with breaking those tests, and I don't think it's worth implementing pseudo-support for the protocols by splitting on "," or anything like that right now. When we fix #544 then the tests should start passing again. That commit looks like it's on the right track; nice work!

[2015-12-04 05:01] jdm opened #8817 "Image cache updates race with script thread destruction"
[code]

[2015-12-04 05:07] #7637 closed

[2015-12-04 05:19] alex opened #8819 "Loaded events trigger on failed HTTP requests"
I'm not quite sure which APIs cause this issue, but here is the symptom:
- Browser to https://www.ssllabs.com/ssltest/viewMyClient.html
- See that it claims that SSLv2 and SSLv3 are supported, even though they are not.

This is because some browser API is reporting a success, even though the HTTPS request failed (correctly).

[2015-12-04 05:40] jdm commented on #8819
I suspect this is caused by the problems that #8678 is intended to fix. That is, presumably the connections are blocked but the resulting error page is treated as a valid network response by the listeners.