[2017-07-31 13:41] jdm commented on #12972
@gterzian Working on something like this seems like it would be right up your alley in terms of complexity and standalone-ness :)

[2017-07-31 13:44] jdm commented on #17921
It would be great to find a minimal reproduction for this by extracting the layout from the browser.html interface.

[2017-07-31 13:47] jdm commented on #16417
That's another instance of the panic from #17840.

[2017-07-31 13:47] jdm commented on #17840
Also reproduces on dell.com. @glennw This is severely impacting basic web browsing in Servo; could we get someone familiar with WR to prioritize investigating it?

[2017-07-31 13:58] #16417 closed

[2017-07-31 18:23] aneeshusa commented on #17766
@edunham has enabled this, thanks!

[2017-07-31 18:23] #17766 closed

[2017-07-31 19:12] #17486 closed

[2017-08-01 09:27] sviter opened #17930 "404 page after sign in github"
With Servo Nightly after login on github I see 404 page.

[2017-08-01 09:31] sviter commented on #17930
Also after clicking "submit new issue" button I've got:
![oh no](https://user-images.githubusercontent.com/6523067/28818926-3d00c59c-76b5-11e7-904f-1e9f102d8f5c.png)

[2017-08-01 09:54] sviter opened #17931 "githubuniverse.com multiple problems"
There is multiple rendering problems on https://githubuniverse.com/
- [ ] line after UNIVERSE title
![universe line](https://user-images.githubusercontent.com/6523067/28819148-f29d21a2-76b5-11e7-9ee3-7a6e4361f776.png)

- [ ] No footer

- [ ] Stars did not end before program section

- [ ] No video in program section

- [ ] animation over speakers and FAQ section
![animation over speakers](https://

[2017-08-01 10:26] sviter opened #17932 "System freeze after trying to load techcrunch.com"
trying to load https://techcrunch.com on Windows 10 lead to massive memory usage and then system become unresponsive.

[2017-08-01 14:20] MortimerGoro commented on #17864
Android 7 (Pixel, S7) and Android 5.1 (Nexus 4)

[2017-08-01 20:29] behpn commented on #17864
Thanks. I applied last patches and changed android API-level so I was able to run it Nexus 6P but it crashes for most of pages (like facebook) and for some pages like google.com or twitter.com I have the issue #17851. However for my S5 it crashes for all webpages.

[2017-08-02 04:04] atouchet opened #17941 "Issues with duckduckgo.com/feeeback"
Page tested: https://duckduckgo.com/feedback

The guide boxes on the page have an excessive amount of white space on the left side which isn't supposed to be there and this causes the text to often be bumped to two lines. When moving the mouse over the text a shadow is also rendered inside the box. Also the icons and arrows are supposed to change colour when the mouse is moved over the box but thi

[2017-08-02 04:04] atouchet commented on #9915
#17941 is a DuckDuckGo issue.

[2017-08-02 04:06] atouchet commented on #9914
#17572 is a github.com issue.

[2017-08-02 04:34] atouchet opened #17942 "Black boxes behind DuckDuckGo sidebar text"
Page tested: https://duckduckgo.com/

Open the sidebar with the hamburger button and the text that appears is surrounded by black boxes.

Example image (Servo on the left, Firefox on the right):

![DuckDuckGo sidebar](https://i.imgur.com/IF29Kjh.png)

Tested in Windows 10.

[2017-08-02 07:27] metajack commented on #9914
Updated

[2017-08-02 07:27] metajack commented on #9915
Updated

[2017-08-02 08:10] metajack commented on #15634
@shinglyu I don't think there is a bug yet. I'll file one.

[2017-08-02 10:16] gterzian commented on #12972
awesome, thanks! I'll start looking more into this...

[2017-08-02 14:58] atouchet commented on #11753
I tried testing this and the issue I ran into is that as soon as Slashdot loads it redirects to https://trc.taboola.com/slashdot/log/3/available?ri=... which results in a blank page.

[2017-08-02 18:45] jdm commented on #17942
Nothing happens in a local macOS build when I click the hamburger menu button.

[2017-08-02 20:04] metajack commented on #9915
@atouchet I have invited you to the Developers group which will give you access to edit and label bugs. We cannot separate editing a bug from committing to the repo, so please don't do that :)

[2017-08-02 20:13] atouchet commented on #9915
@metajack Alright, sounds good.

[2017-08-02 23:55] jdm opened #17954 "Intermittent pass in /html/semantics/embedded-content/media-elements/networkState_during_progress.html"
[code]

[2017-08-03 01:54] jdm opened #17956 "Intermittent error building skia"
[code]

[2017-08-03 03:07] #17697 closed

[2017-08-03 11:02] sviter commented on #14242
It's work now for me

[2017-08-03 11:08] sviter opened #17962 "Google sign in page is rendering incorectly"
![google sign in](https://user-images.githubusercontent.com/6523067/28919238-48a418a8-7855-11e7-96e4-af73d8b53c60.png)

[2017-08-03 11:27] sviter commented on #14804
I can load this page with latest servo

[2017-08-03 11:30] sviter commented on #14806
I can load this page with latest servo

[2017-08-03 12:04] sviter commented on #6918
I can load paypal.com with latest servo nightly

[2017-08-03 12:16] #14242 closed

[2017-08-03 12:44] jdm commented on #6918
Thanks!

[2017-08-03 12:44] #6918 closed

[2017-08-03 13:06] jdm commented on #14804
Thanks!

[2017-08-03 13:06] #14804 closed

[2017-08-03 13:10] jdm opened #17963 "Happy face is missing"
https://qsurvey.mozilla.com/s3/FirefoxInput/#sad

[2017-08-03 13:14] jdm commented on #17963
This may be an effect of this error from the terminal:
`ERROR:script::dom::bindings::error: Error at https://www.surveygizmo.com/2017.08.02.01/runtimejs/dist/survey/js/survey.js:114:4069 e.fillText is not a function`

[2017-08-03 13:14] sviter commented on #11990
No crashes in both pages with nightly servo for me

[2017-08-03 13:17] sviter commented on #12116
No crash for me on latest servo

[2017-08-03 13:29] #12116 closed

[2017-08-03 13:30] jdm commented on #11990
Thanks!

[2017-08-03 13:30] #11990 closed

[2017-08-03 14:21] sviter commented on #6805
Can't see error on https://schteppe.github.io/p2.js/demos/ragdoll.html

[2017-08-03 14:24] sviter commented on #14578
Seems it's no lock up now

[2017-08-03 14:51] #14578 closed

[2017-08-03 14:55] jdm commented on #14680
This no longer fails.

[2017-08-03 14:55] #14680 closed

[2017-08-03 14:56] #6805 closed

[2017-08-03 19:57] sadmansk commented on #17697
@DarkDrek Thanks for taking care of this! Sorry for the late reply, but I hadnt done any work on this issue so it's all good 👍

[2017-08-04 11:16] sviter commented on #17932
hi! I don't know much about working with servo, but I was able to build it. After it I open servo.exe in visual studio. After opening https://techcrunch.com/ I've got an exception `thing+1->group_.value was nullptr.` in Marking.cpp in line 783. Is it something useful?

[2017-08-04 11:45] #15346 closed

[2017-08-04 13:02] jdm commented on #17932
Sounds like there's something going wrong in our JS engine integration.

[2017-08-04 13:14] jdm commented on #17932
[code]

[code]

So zone() is returning a null pointer here.

[2017-08-04 15:06] edunham commented on #10071
Nothing in our infrastructure configs or the Servo repo presently  wgets from openssl.org. All SSL stuff appears to come in from crates that we import (hyper-openssl and openssl), plus having the openssl and openssl-devel system packages installed by Salt. The only wgets in Servo's codebase are from hg.mozilla.org and in the test suite.

[2017-08-04 15:06] #10071 closed

[2017-08-04 15:33] jdm commented on #15430
Without anybody investigating and without any link to reproduce, I don't think there's a reason to leave this open.

[2017-08-04 15:33] #15430 closed

[2017-08-04 18:12] jdm opened #17975 "Removing an iframe with an associated ongoing XHR leaks the XHR"
a.html:
[code]
b.html:
[code]
In my local testing (using `file:///tmp/a.html` so the pages are cross-origin to each other), I would expect that all of the DOM objects associated with the iframe that gets removed would be GCed as part of that second thread shutting down when the iframe is removed. Instead, the XHR's finalizer is never invoked, even when Servo is shutdown.

[2017-08-04 18:16] jdm commented on #15318
[code]

Calling this before the Runtime value is dropped avoids this problem in this minimal testcase:
[code]
[code]

[2017-08-04 18:17] jdm commented on #15318
Nevermind, that's an instance of a different problem.

[2017-08-04 18:19] jdm opened #17976 "Shutting down a script thread with off-thread promise values alive triggers a crash"
When the LIVE_REFERENCES TLS is destroyed, the Promise values that it contains cause crashes when their destructors run.

[code]

Calling this before the Runtime value is dropped avoids this problem in this minimal testcase:
[code]
[code]

[2017-08-04 18:19] jdm commented on #15318
Filed #17976 to track that problem.

[2017-08-04 18:52] jdm commented on #17932
https://github.com/jdm/servo/commit/359bd75b06cdaae80a4078c9f2892aa6867c89f8 fixes this issue for me, but I'm having trouble writing an automated test that demonstrates the issue.

[2017-08-04 19:10] jdm opened #17977 "Dedicated worker is not closed when associated document is destroyed"
[code]
[code]
[code]
This shows an empty page (since the iframe is removed), but the worker continues logging to stdout.

[2017-08-04 21:47] gterzian commented on #12972
Ok so couple of questions...

When I look at @jdm previous work, it seems that, when it was available(which was in all cases but [`CacheOperationResult::Uncacheable`](https://github.com/jdm/servo/blob/f3074f5719d916a0c6cce88690de100c816c75fb/components/net/http_cache.rs#L127)), the cache was positioned to be the 'consumer facing' source of response data, by which I mean that even in the case of a

[2017-08-04 22:15] gterzian commented on #12972
Actually I can also think of the case where there is a second fetch for a resource, while a first one is still finishing loading, in which case the cache could return a response with a body of type `ResponseBody::Receiving`, to be updated as the fetch worker thread updates the cache as data comes in. I guess this would require the cache to also have access to the `net::fetch::methods::DoneChannel`

[2017-08-04 23:11] KiChjang commented on #12972
I think it makes sense for now; my original plan when reading through all the specs and jdm's branch was to forget about partial response for now, and implement a cache that only stores complete responses.

If I understand correctly, you are planning to key the cache using net_traits::Metadata, correct? I am not sure if that is sufficient - the URL initially passed to fetch may not necessarily be

[2017-08-04 23:58] lauryndbrown commented on #15162
Hi! I'd love to help. I'm fluent in Python, Css, and HTML. I don't know Rust yet, but I'm happy to learn. I'm partial to UI-esq issues (I initially checked out browser.html, but I'm not certain it's still being used?). I'd just enjoy helping though.

[2017-08-05 02:19] atouchet opened #17978 "Minimizing and then restoring Servo window scrolls back to top of page"
Steps to reproduce.

1. Load web page that has vertical scrolling.
2. Scroll to bottom of page.
3. Minimize Servo window.
4. Restore Servo window.
5. Servo is now back at the top of the page.

Tested in Windows 10.

[2017-08-05 09:19] gterzian commented on #12972
@KiChjang I was indeed thinking of using `net_traits::Metadata`, as the previous code was using the now gone `resource_task::Metadata`. Thanks for the pointer, I'll make sure to look further into the URL issue you point out.

By the way, after a good night's sleep I woke up realizing I was conflating two concepts above, while in fact I think there are two:
1. The concept of a storing an [incomplet

[2017-08-05 09:33] KiChjang commented on #5238
Should this be closed then?

[2017-08-05 09:52] KiChjang commented on #12972
Ah, I remembered why I didn't pick this up when I had the chance - it's because I have an outstanding PR that updates our existing networking code to follow the more recent Fetch Standard (#17521). You may want to wait for that to land first before editing the various fetch methods.

[2017-08-05 11:15] gterzian commented on #12972
Ok I see, I'll just work on the cache internals in the meantime and keep an eye out on that PR, thanks for the heads-up!

[2017-08-05 12:55] #14456 closed

[2017-08-05 14:57] SimonSapin opened #17983 "Remove style/testing Cargo feature"
https://github.com/servo/servo/pull/17974 leaves the `testing` Cargo feature of the `style` crate unused, so it should be removed. In addition to `cfg` attributes, I think there’s also some Python and Mako code involved. CC @froydnj

[2017-08-05 15:03] atouchet commented on #12097
On the main DuckDuckGo page the magnifying glass icon is off-centre along with the search text. This issue doesn't happen with the HTML version of the page.

![DuckDuckGo icon](https://i.imgur.com/M3LmndW.png)

[2017-08-05 20:10] BrunoBernardino commented on #17962
I can confirm the [latest master](https://github.com/servo/servo/commit/a6369149dc5344b2b80a12fca1c43cf99c94fdc9) still has this issue, even on macOS 10.12.6 (16G29) and not on FirefoxNightly 57.0a1 (2017-08-04) (I'm not sure if it's running servo already).

<img width="1136" alt="screen shot 2017-08-05 at 21 07 28" src="https://user-images.githubusercontent.com/1239616/28998417-6bf16fb2-7a22-11e7

[2017-08-05 21:51] BrunoBernardino commented on #17942
I can confirm the [latest `master`](https://github.com/servo/servo/commit/a6369149dc5344b2b80a12fca1c43cf99c94fdc9) still has this issue (of not opening the sidebar), even on macOS 10.12.6 (16G29) and not on FirefoxNightly 57.0a1 (2017-08-04) (I'm not sure if it's running servo already).

This is the result for `./mach run https://duckduckgo.com/`:

![duckduckgo-servo](https://user-images.githubus

[2017-08-05 22:05] BrunoBernardino commented on #17941
I can confirm the [latest `master`](https://github.com/servo/servo/commit/a6369149dc5344b2b80a12fca1c43cf99c94fdc9) still has this issue, even on macOS 10.12.6 (16G29) and not on FirefoxNightly 57.0a1 (2017-08-04) (I'm not sure if it's running servo already).

This is the result for `./mach run https://duckduckgo.com/feedback`:

![duckduckgo-feedback-servo](https://user-images.githubusercontent.co

[2017-08-05 22:12] BrunoBernardino commented on #17931
I can confirm the [latest `master`](https://github.com/servo/servo/commit/a6369149dc5344b2b80a12fca1c43cf99c94fdc9) still has this issue, on macOS 10.12.6 (16G29) and not on FirefoxNightly 57.0a1 (2017-08-04) (I'm not sure if it's running servo already).

This is the result for `./mach run https://githubuniverse.com/`:

![duckduckgo-feedback-servo](https://user-images.githubusercontent.com/1239616

[2017-08-05 22:34] BrunoBernardino commented on #17963
I've confirmed that is coming from this line: https://github.com/Valve/fingerprintjs/blob/master/fingerprint.js#L283 so this is related to the `canvas` implementation in servo, I believe. I'm still investigating further, but it's the first time I'm looking at servo's source code, so if someone has thoughts or pointers, it'll probably help 😄

[2017-08-06 03:18] jdm commented on #17963
Servo does not implement the canvas text APIs yet: #11681.

[2017-08-06 03:20] jdm commented on #5238
I guess so!

[2017-08-06 03:20] #5238 closed

[2017-08-06 03:24] jdm commented on #17942
There is no such debugger, unfortunately.

[2017-08-06 22:30] zachlute commented on #17978
I was not able to reproduce this with latest on Windows 10.

[2017-08-07 00:17] aneeshusa commented on #10071
For future reference, we currently download a copy of OpenSSL from Rust's S3 mirror ([link](https://github.com/servo/servo/blob/16704bbaaa9ec324972788f1a455639d4bbef0fd/support/android/openssl.makefile#L12-L14)) for Android builds, which should be much more reliable. This was changed in #17079.

[2017-08-07 04:00] atouchet commented on #17978
I just re-tested this in the latest nightly build and was able to reproduce the issue. I should maybe also note that I'm using Servo with Browser.html if that makes a difference.

[2017-08-07 08:21] nemonweb opened #17989 "unknown completed load PageSource("about:blank")"
unknown completed load PageSource("about:blank")
### URL:
http://www.vesti.ru/
### Servo Version:
Servo 0.0.1-16704bb
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-08-07 14:45] jdm commented on #17989
Why did you close this?

[2017-08-07 15:02] jdm commented on #17989
[code]

[2017-08-07 15:21] hgallagher1993 opened #17996 "Multiple differences between Firefox and Servo on the homepage of http://www.luzern.co/"
1) Block of Text is top left instead of center left and overwrites the name Luzern. [Firefox](https://i.imgur.com/jZDNsMg.png). . .[Servo](https://i.imgur.com/bS3Y1pp.png)

2) Scrolling doesn't work. When you scroll the mouse wheel down one it should bring you down 1 page. The 4 little circles to the right of the screen are the different pages and to go through them you have to manually click them

[2017-08-07 15:51] askalski commented on #17715
Don't assign me yet, but I plan to give it a look.

[2017-08-07 15:56] jdm commented on #17996
It would be really helpful to reduce each of this problems into an isolated, minimal testcase that demonstrates the issue!

[2017-08-07 16:12] jdm opened #17997 "Implement Time to Interactive metric"
As [discussed](https://groups.google.com/d/msg/mozilla.dev.servo/q-7oO7lW4g0/dvoc1pbuDAAJ) on dev-servo. Additionally, we should review https://docs.google.com/document/d/1GGiI9-7KeY3TPqS3YT271upUVimo-XiL5mwWorDUD4c/edit#heading=h.k1h25blerz3i which splits that metric into First Interactive and Consistently Interactive, and was written since my original proposal.

cc @avadacatavra

[2017-08-07 16:12] highfive commented on #17997
cc @fitzgen

[2017-08-07 18:21] #17579 closed

[2017-08-07 20:02] jdm commented on #12972
I agree with all of your conclusions. Having any cache at all seems like a bigger improvement than ensuring that we can return in-progress cache entries instead of making separate requests.

[2017-08-07 21:04] canaltinova opened #18001 "Move `Percentage` value structs to mod.rs"
Currently `Percentage` structs are in `components/style/values/{specified,computed}/length.rs`. They have been put to this file probably because many length values are using it. But they are not related to length by themselves. We should move them to `components/style/values/{specified,computed}/mod.rs` instead and make sure all `./mach build -d`, `./mach build-geckolib` and `./mach test-unit -p s

[2017-08-07 21:04] highfive commented on #18001
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-07 22:44] DarkDrek commented on #18001
I would like to do that so @highfive: assign me

[2017-08-07 22:44] highfive commented on #18001
Hey @DarkDrek! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-07 23:02] #17676 closed

[2017-08-08 00:38] nnethercote commented on #6908
This issue is now blocking https://bugzilla.mozilla.org/show_bug.cgi?id=1387958. Stylo has some significant HashMaps which I want to measure the size of. I can estimate the size, but (a) it might be inaccurate (i.e. it won't measure slop), and (b) DMD doesn't get told that the block has been reported.

It would be nice if HashMap had a function exposing the pointer to the storage. (That's assuming

[2017-08-08 02:25] paulrouget opened #18006 "Make it possible to destroy a browsing context from the embedder"
The same way we have `NewBrowser`, we need `DestroyBrowser`. Follow-up of #17425.

[2017-08-08 03:13] sendilkumarn commented on #13402
Is this still required, since we have removed or_init almost everywhere ?

Note: sorry was slightly held up in between

[2017-08-08 08:32] KiChjang commented on #13402
Yes, this still does not exist yet.

[2017-08-08 08:37] sendilkumarn commented on #13402
What needs to be done now?

[2017-08-08 09:00] KiChjang commented on #13402
Was there a PR that changes all existing usages of MutNullableJS<T> to something akin to a LazyCell<T>?

[2017-08-08 09:56] sendilkumarn commented on #13402
no I guess not.
something like `MutNullableJS <OnceCell <T>>` is it?
if we are using mitochondria

[2017-08-08 09:57] nox commented on #13402
`OnceCell<JS<T>>`, but yeah.

[2017-08-08 10:24] nox opened #18010 "Consider using linked_hash_map for custom properties in style"
This would be a follow-up of #17973.

Cc @emilio @ferjm

https://docs.rs/linked-hash-map/

This map contains unsafe code though, so we should review it a bit first.

[2017-08-08 10:44] sendilkumarn commented on #13402
Okay then I will start to work on this. `OnceCell<JS<T>>`

[2017-08-08 18:01] brainlessdeveloper opened #18015 "Style computed value of a URL is returning the relative URL for listStyle and listStyleImage properties"
This is a followup of [Style computed value of a URL is returning the relative URL](https://github.com/servo/servo/issues/17625).

See relevant discussion [here](https://github.com/servo/servo/pull/17812#issuecomment-318905247).

Faulty code is [in list.mako.rs](https://github.com/servo/servo/blob/10c3e2f3ac781905b43b3529253ba1bc9926d9e8/components/style/properties/longhand/list.mako.rs#L102). The

[2017-08-08 19:04] #18001 closed

[2017-08-09 01:45] nnethercote commented on #6908
Cloning (forking) HashMap turns out to be difficult, because it uses various unstable Rust features and we are using stable Rust only for Firefox.

[2017-08-09 06:32] atouchet commented on #17369
Was this fixed in #17810?

[2017-08-09 08:41] SimonSapin commented on #6908
We could consider an alternative hash map like https://crates.io/crates/ordermap. Adding memory tracking might be easier there.

[2017-08-09 15:17] jdm commented on #15162
I feel bad about this; we had a really good run of responding and helping people between January and April, but since then we have been really bad about following up with people who have replied in this issue. Most of the team is focused on the integration work we're doing with Firefox right now, unfortunately. I'm going to close this so we don't keep advertising opportunities that don't really ex

[2017-08-09 15:17] #15162 closed

[2017-08-09 16:30] jdm opened #18023 "Add browsing context check to CustomElementRegistry::lookup_definition"
https://html.spec.whatwg.org/multipage/custom-elements.html#look-up-a-custom-element-definition has a step 2 that checks for a browsing context, but the implementation in customelementregistry.rs does not have it.

cc @cbrewster

[2017-08-09 16:30] jdm commented on #18023
Nevermind, that's in Document::lookup_custom_element_definition.

[2017-08-09 16:30] #18023 closed

[2017-08-09 18:01] budleigh opened #18027 "Issue building on Windows"
[code]

All previous steps followed - Win10 64-bit.

[2017-08-09 18:55] asajeffrey commented on #17369
Good point, yes it was fixed in #17810.

[2017-08-09 18:55] #17369 closed

[2017-08-09 19:47] sendilkumarn commented on #13402
`MutNullableJS`  set methods can mutate the value. Do you guys think moving to  moving to `MoveCell` rather than `OnceCell` makes sense.

I started with node,  Implemented a new `MoveCell<Option<JS <T>>>` , so far I havent faced any issues. But with `OnceCell`  we have problems with mutating since it can be set only once.

[2017-08-09 19:49] nox commented on #13402
`Lazy<T>` (what this issue is about) is specifically about initialising once instead of needing something similar to `MutNullableJS`. That's why `OnceCell<JS<T>>` should be used here.

[2017-08-09 19:51] nox commented on #13402
In my opinion it should be actually named `OnceJS<T>` or something similar rather than `Lazy<T>`, because with "lazy" structures, you don't usually need to pass the closure you want to be executed in case it wasn't initialised when you want to access it.

[2017-08-10 02:34] #17625 closed

[2017-08-10 02:43] sendilkumarn commented on #13402
That means it is not a complete replacement of `MutNullableJS` right ? Then I can send the first level of PR with only `OnceCellJS` implemented.

But how to find out, places where they are lazily initialised 🤔

As far as the name is concerned, yes I agree and I named it as `OnceCellJs<T>`

[2017-08-10 07:17] nox commented on #13402
Yes. This idiom currently uses `MutNullableJS` because that's the only thing we currently have, that's all. :)

[2017-08-10 07:21] upsuper commented on #17885
Suspect the same failure in http://build.servo.org/builders/linux-rel-css/builds/5368 for #18033.

[2017-08-10 08:32] paulrouget commented on #15634
Things are moving toward the right direction. We will get to a point where libservo can share its lock file and libservo can require a rustup toolchain.

Question: when a third party project wants to use the rustc version of libservo, how do we tell cargo to use libservo's rust toolchain? Would that work automatically? As in, when cargo is called, it will check the dependencies, find the libservo'

[2017-08-10 08:34] paulrouget commented on #15634
Dependencies so far:

- [ ] rust-lang-nursery/rustup.rs/issues/1218
- [ ] servo/servo/issues/11361
- [ ] rust-lang/cargo/issues/4353

[2017-08-10 08:57] nox opened #18034 "Remove use of euclid types in some CSS values"
We have `Size2D<LengthOrPercentage>` and other subpar similar values in the style component. That's not really useful given `LoP` isn't always `Copy` and because that forces us to implement some things by hand.

[2017-08-10 15:29] atouchet opened #18039 "DuckDuckGo magnifying glass icon does not change colour when mouse is moved over"
Page tested: https://duckduckgo.com/

When moving the cursor over the magnifying glass icon it should change from grey to white. However this does not happen in Servo. It does change colour when the button is clicked however. I have also run into instances where after changing colour when being clicked that it doesn't change back to grey.

This issue also only occurs with the main DuckDuckGo site

[2017-08-10 15:50] jdm commented on #17181
The patch in #17203 looks good, but it needs to remove some expected test failures that now pass.

[2017-08-10 20:04] jonathandturner commented on #17012
Woohoo!  Looks like we are finished with this batch (the last issue looks like it's no longer needed in that form)

[2017-08-10 20:30] SimonSapin commented on #17012
https://github.com/rust-lang/rust/pull/43167 fixed the "alternative" compiler builds that have LLVM assertions disabled (they broke cross-compilation at some point), but Nightly still has these slow assertions. https://internals.rust-lang.org/t/disabling-llvm-assertions-in-nightly-builds/5388 did not come to a conclusion, as far as I can tell.

[2017-08-10 20:59] jonathandturner commented on #17012
@SimonSapin - I thought the issue now was around rustup support for the no-assertions build.  The original issue of Servo not having a no-assertions build to use is fixed, I thought.

[2017-08-11 08:15] DarkDrek commented on #17882
This was already done in #17905 so this issue can be closed. @jdm @emilio

[2017-08-11 13:00] #17882 closed

[2017-08-11 13:10] mrobinson commented on #7023
Closing this since PaintContext was removed in fdf9312f2b49272307d082eec84653fedc0881b9.

[2017-08-11 13:10] #7023 closed

[2017-08-11 13:14] mrobinson commented on #12411
Hit testing takes into account transforms, but only in the x and y dimension, which is why I think this test is failing.

[2017-08-11 14:16] SimonSapin opened #18044 "Unfork rust-xcb"
At the moment, upgrading Rust in Servo is blocked on https://github.com/rtbo/rust-xcb/issues/40 because the compiler started rejected code that is used to accept (though I arguably shouldn’t have accepted it in the first place): https://github.com/rust-lang/rust/issues/43567. However, the maintainer seems unresponsive at the moment. To unblock I’m going to fork this crate and use it with [`[patch]

[2017-08-11 14:19] SimonSapin commented on #18044
https://github.com/rtbo/rust-xcb/pull/41 has the start of a fix but is incomplete. I fiddled with the code generation script a bit but didn’t manage to get it to generate something that compiles on Nightly.

[2017-08-11 15:00] Boscop opened #18045 "assertion failed: self.reflow(ReflowGoal::ForScriptQuery, ReflowQueryType::NodeOverflowQuery(node), ReflowReason::Query)"
assertion failed: self.reflow(ReflowGoal::ForScriptQuery,
            ReflowQueryType::NodeOverflowQuery(node), ReflowReason::Query)
### URL:
![](https://i.imgur.com/GtkNAyK.png)

### Servo Version:
Servo 0.0.1-31582a4
### Backtrace:
[code]

[2017-08-11 15:11] SimonSapin commented on #18044
The fork is at https://github.com/servo/rust-xcb/compare/v0.7.6...servo_issue18044_do_not_remove

[2017-08-11 15:14] Boscop opened #18047 "Glitches on windows"
dropdown:
![](https://i.imgur.com/sZterXM.png)
content below dropdown:
![](https://i.imgur.com/dIhENaR.png)
TIL overlap:
![](https://i.imgur.com/hkwOS1s.png)
sign in button:
![](https://i.imgur.com/A2Fozep.png)
text over image
![](https://i.imgur.com/t6Hp6oZ.png)
text over other divs
![](https://i.imgur.com/BwTNOa2.png)

The glyph rendering looks eye irritating too (red and green subpixels):
![](h

[2017-08-11 15:23] jdm commented on #18047
Thanks for letting us know about these! It would be most useful to file each screenshot of a glitch as a separate issue, since they will each require separate investigations and fixes to address them.

[2017-08-11 16:00] SimonSapin commented on #17012
Alternative compiler builds were first added with https://github.com/rust-lang/rust/pull/39754 in February, in order to make it possible at all to use unstable features without LLVM assertions.

They were broken for cross-compilation for a while in July: https://github.com/rust-lang/rust/issues/42967, then fixed with https://github.com/rust-lang/rust/pull/43167.

This issue is about neither of the

[2017-08-11 18:19] frewsxcv opened #18049 "Support the 'mailto' scheme"
If I click on a `mailto` link, it should take me to my email client. I don't know if there's a spec for this, but most browsers handle this.

Example: click on https://rwell.org/ and click on 'email'

[2017-08-11 18:34] frewsxcv commented on #18049
I'm going to guess the main work here is finding out the default mail client for all platforms. At least on mac, I think that's via:

* https://developer.apple.com/documentation/coreservices/1448824-lscopydefaultapplicationurlforur?language=objc

Might be nice if there was a small crate that handled this across all platforms. e.g. something like:

[code]

[2017-08-11 18:38] MortimerGoro opened #18050 "Servo full recompilation when switching between desktop and mobile compilation targets"
It seems that Servo does a full compilation when switching between mobile and desktop compilation targets.

Example after a finished android compilation:
`./mach build --release --android` : No need to compile anything
`./mach build --release`:  Recompiles desktop.
`./mach build --release --android`: Recompiles everything again even if I force stop the previous command

Is there any way to avoid t

[2017-08-11 18:50] badboy commented on #18049
There's [open](https://crates.io/crates/open).

[2017-08-12 10:59] BojanKogoj commented on #17978
I can confirm this is happening, latest build on Windows 10

![mealyinfinitedunlin-small](https://user-images.githubusercontent.com/634075/29240061-faec9f8a-7f5d-11e7-8ed3-bae5c805217b.gif)

[2017-08-12 11:19] Jayflux opened #18055 "Install/build on Windows 10 not working"
Hi all i've just reformated my machine.
I followed the instructions on the readme, (including installing Visual Studio 2017)
and now i get
[code]
any idea why?

[2017-08-12 13:41] jdm commented on #18055
Is no longer detecting it as an msvc environment for some reason (`rustc-nightly-x86_64-unknown.tar.gz`).

[2017-08-12 17:31] Jayflux commented on #18055
Deleted Visual Studio and then reinstalled it,
The only difference this time was i started it up before installing, its working now

[2017-08-12 17:45] Jayflux commented on #18055
Now im getting "linking with 'link.exe' failed: exit code: 1181
[code]

[2017-08-12 18:19] jdm commented on #18055
Maybe https://users.rust-lang.org/t/problems-with-installing-rust-on-windows/9349/9 has some suggestions?

[2017-08-12 18:48] atouchet opened #18057 "GitHub detects Servo as outdated version of Firefox"
GitHub when loaded with Servo has recently started showing warnings that it detects it as an outdated version of Firefox. Also as far as I can tell they are starting to limit site functionality for old browsers where certain things such as being able to sort PRs and issues no longer works.

![GitHub](https://i.imgur.com/XBUXuAJ.png)

Tested in Windows 10.

[2017-08-12 18:48] atouchet commented on #18057
I tried making a potential fix for this in #18040.

[2017-08-13 12:02] Jayflux commented on #18055
Just tried the solutions mentioned in there, its gone back to not knowing the architecture again :(

[2017-08-13 12:08] Jayflux commented on #18055
When i print out the host_triple() i get `x86_64-unknown`

[2017-08-13 15:14] BojanKogoj opened #18062 "Screen width and height are undefined"
There is an issue with screen width and height, first noticed on [whoishostingthis.com/tools/user-agent/](http://www.whoishostingthis.com/tools/user-agent/), screenshot (left Servo, right Firefox 55):

![screen-size-issue2](https://user-images.githubusercontent.com/634075/29250823-af51cf7c-8049-11e7-97b9-90addab756e0.PNG)

I tried to reproduce using a test script and got the following result (left

[2017-08-13 16:31] atouchet opened #18063 "Website page elements can appear on top of browser interface"
Page with issue: https://github.com/

Certain page elements appear above the browser interface.

![GitHub](https://i.imgur.com/NmKmIKm.png)

See the "or" highlighted in red in "Sign in or Sign up". You may need to zoom in to see the problem more clearly.

Tested in Windows 10.

[2017-08-13 20:17] NeverHappened commented on #17715
Hi! Can you assign me? I'm not a contributor yet though

[2017-08-13 20:20] KiChjang commented on #18057
I made a comment on the PR [here](https://github.com/servo/servo/pull/18040#issuecomment-322064929) stating that this does not look like a Servo bug, but rather a bug at GH's user agent detection algorithm.

[2017-08-13 20:28] KiChjang commented on #17715
@askalski Have you begun working on this issue? Would it be OK for @NeverHappened to start working on it?

[2017-08-13 21:11] emilio commented on #18057
Well, if we choose to go around with FF's user agent (which I think it's a reasonable choice), then I don't know how they could ever guess we're Servo.

[2017-08-13 21:12] emilio commented on #18057
So this is our problem, I agree with @jdm there :)

[2017-08-13 21:28] nox opened #18064 "Audit bogus impls of ComputeSquaredDistance"
Some CSS values implementing `ComputeSquaredDistance` do so by just returning `Err(())`, they should be audited to see if they should return an actual value.

This is a follow-up issue of https://github.com/servo/servo/pull/18058.

Cc @BorisChiou @hiikezoe

[2017-08-13 23:02] Jayflux commented on #18055
Ok in the end i selected `Desktop Development with C++` option and it works now

[2017-08-14 09:53] brainlessdeveloper opened #18071 "getComputedStyles with pseudo-element argument returns empty object"
[code]

Both `:before` and `:after` log an empty `CSSStyleDeclaration` which stringifies to `{}`.

Expected computed styles, if I haven't done anything wrong, should be similar to the ones specified in the `style` tag.

Also, only the styles for `:before` are rendered, so I'm referencing #17854

[2017-08-14 12:51] SimonSapin commented on #17181
Fixed in #17538.

[2017-08-14 12:51] #17181 closed

[2017-08-14 12:52] SimonSapin commented on #17181
Thanks to @rlustin for catching this.

[2017-08-15 02:36] keiyakins commented on #16820
I'd like to object to this decision. I have no expectations it'll change anyone's minds, of course. I just want to have my objection recorded.

Win32 should be supported for at least as long as Microsoft has mainstream support for a 32-bit version of Windows, which is 2020 at the soonest, since they still have 32-bit versions of Windows 10. Servo is likely to be quite usable by then. Sure, it's no

[2017-08-15 03:13] adamncasey commented on #12609
Picked this up again recently. Current WIP handles the example above correctly. https://github.com/adamncasey/servo/tree/feature/cellpadding

It turned out that cellspacing is somewhat different to cellpadding since cellpadding is actually applied to the cells in the table, not the table itself.

The current implementation looks up the table's cellspacing value when `synthesize_presentational_hint

[2017-08-15 03:14] adamncasey commented on #17513
#12609 will also help out here

[2017-08-15 03:57] hiikezoe opened #18080 "Intermittent crash in /webgl/conformance-1.0.3/conformance/glsl/constructors/glsl-construct-bvec2.html"

[2017-08-15 04:28] atouchet commented on #17513
This is probably a duplicate of #11821.

[2017-08-15 04:28] #17513 closed

[2017-08-15 04:47] atouchet commented on #11821
For posterity's sake I think it would be beneficial to use full website names in issue reports rather than abbreviations so that they are more likely to show up in search results.

[2017-08-15 05:31] jeffparsons opened #18082 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://stileeducation.com/
### Servo Version:
Servo 0.0.1-b50cf33
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-08-15 08:28] #17226 closed

[2017-08-15 10:20] paulrouget commented on #17201
Fixed by #17425

[2017-08-15 10:20] #17201 closed

[2017-08-15 10:21] paulrouget commented on #17200
Fixed by #17425

[2017-08-15 10:21] #17200 closed

[2017-08-15 10:22] paulrouget commented on #17226
Fixed by #17425

[2017-08-15 14:45] metajack commented on #11821
@atouchet Thanks for the suggestion. I've changed the title here.

[2017-08-15 16:31] mrobinson opened #18091 "Elements with transformations are not considered containing blocks for absolute position elements"
Consider the following test case:
[code]

The transformed div should be the containing block for the innermost absolutely positioned element, but it isn't. This leads to a mispositioning of the green div -8 pixels on the x axis. The -8 pixels is the amount that would normally move the div relative to the viewport, but instead it should be relative to the transformed div and have no offset at all o

[2017-08-15 16:36] mrobinson commented on #18091
cc @pcwalton @kvark

[2017-08-15 20:57] glennw commented on #17840
@jdm Yep, I'm looking into it now.

[2017-08-15 23:04] glennw commented on #17857
I have been unable to reproduce locally, but I believe it should be fixed when https://github.com/servo/webrender/pull/1576 lands in WR and Servo.

[2017-08-16 02:10] atouchet commented on #18057
This was fixed in #18040.

[2017-08-16 02:10] #18057 closed

[2017-08-16 02:21] atouchet opened #18098 "Clicking Browser.html interface buttons after loading a website causes Servo to become unresponsive"
Steps to reproduce:

1. Load a website in Servo using Browser.html.
2. Press the new site or sidebar button.
3. Servo becomes unresponsive and clicking on anything else no longer works. Scrolling still appears to work however.

This is a new regression as I did not have this problem in previous nightly builds. Tested in Windows 10.

[2017-08-16 02:25] atouchet commented on #18063
Is there a way to scroll to a precise location in Servo? Now that the outdated Firefox warning is gone I can no longer scroll to the same vertical position on the page that shows the issue.

[2017-08-16 03:55] atouchet opened #18101 "Link hitboxes do not move when scrolling page"
Steps to reproduce:

1. Load web page that scrolls vertically and has clickable links near the bottom of the page.
2. Scroll down the page.
3. Try to click a link.
4. The link doesn't work properly.

I believe this is a recent regression as I do not recall running into this issue previously. Tested in Windows 10.

[2017-08-16 06:47] hiikezoe opened #18105 "Intermittent crash in /webgl/conformance-1.0.3/conformance/glsl/misc/shader-with-function-scoped-struct.html"
{"status": "CRASH", "group": "default", "message": null, "stack": null, "subtest": null, "test": "/webgl/conformance-1.0.3/conformance/glsl/misc/shader-with-function-scoped-struct.html", "line": 295819, "action": "test_result", "expected": "OK"}

[2017-08-16 09:03] NiLSPACE opened #18106 "Visual Glitches on HTML5 single page spec"
Servo scrolls fine but there are visual glitches everywhere.

Command used:
`servo https://www.w3.org/TR/html5/single-page.html`

Specs:
CPU: I7 6500U @ 2.5GHz,
RAM: 16.0GB Dual-Channel,
GPU: Intel HD Graphics 520
OS: Windows 10 PRO 1607

![image](https://user-images.githubusercontent.com/1160867/29355682-419b2408-8272-11e7-9926-b030a6a25868.png)

[2017-08-16 12:58] ferjm opened #18108 "Add `buffered` flag to PerformanceObserverInit dictionary"
The [PerformanceObserver.observe](https://w3c.github.io/performance-timeline/#dom-performanceobserver-observe()) method gets a [PerformanceObserverInit](https://w3c.github.io/performance-timeline/#dom-performanceobserverinit) parameter that should include a [flag](https://w3c.github.io/performance-timeline/#dom-performanceobserverinit-buffered) indicating if the observer should consume previously

[2017-08-16 12:58] highfive commented on #18108
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-16 13:01] ferjm opened #18109 "Implement User Timing API"
https://w3c.github.io/user-timing/

[2017-08-16 13:10] ferjm opened #18110 "Make performance timeline task queue a low priority queue"
The [spec](https://w3c.github.io/performance-timeline/#queue-a-performanceentry) says that the performance timeline task source should be a low priority task and it should be processed during idle periods. #18028 implements this task queue as a normal priority queue.

[2017-08-16 13:12] ferjm opened #18111 "Add paint metrics to Performance Timeline API"
WIP at https://github.com/ferjm/servo/commit/2042941a3edf0cabc22aee4add1049e61e892563

[2017-08-16 14:07] jdm commented on #18063
If you run Servo with the devtools server enabled, you could use JS scrolling APIs from the JS console.

[2017-08-16 15:55] jdm commented on #18108
Code: `components/script/dom/webidls/PerformanceObserver.webidl`

[2017-08-16 16:17] jdm commented on #18105
This is #13480.

[2017-08-16 16:17] #18105 closed

[2017-08-16 16:17] jdm commented on #18105
[code]

[2017-08-16 16:18] jdm commented on #18080
This is #17168.

[2017-08-16 16:18] #18080 closed

[2017-08-16 16:38] mrobinson commented on #7722
Acid2 is now broken for me in a different, but the eyes are loading. I'm going to close this bug since it's likely that the current issues are unrelated to the original one.

[2017-08-16 16:38] #7722 closed

[2017-08-16 16:41] mrobinson commented on #8313
@camlorn Just looking through some of my old bugs and wanted to check in with you about this: Can we close this bug now since it seems that your changes allow the WPT UI to run on Windows? If not, what's a good description for this bug to encapsulate the current work remaining to do?

[2017-08-16 20:54] jdm opened #18116 "Android builder runs out of memory"
The first time this was observed was while trying to merge #17891 on 8/15 at 7:39am PDT. This looks like:
[code]
or
[code]
or
[code]

[2017-08-16 20:54] highfive commented on #18116
cc @aneeshusa

[2017-08-16 20:57] jdm commented on #18116
I suspect this is a regression from the most recent Rust upgrade (https://github.com/servo/servo/pull/18046) which finished merging at 7:38am PDT on 8/15.

[2017-08-16 20:57] larsbergstrom commented on #18116
8GB was already cutting it close - we should probably upgrade regardless:
https://github.com/servo/saltfs/issues/711

But there's likely a rust bug there too.

[2017-08-16 20:59] jdm commented on #18116
This gives us a rustc regression range between https://github.com/rust-lang/rust/commit/599be0d18f4c6ddf36366d2a5a2ca6dc65886896 and https://github.com/rust-lang/rust/commit/13d94d5fa8129a34f5c77a1bcd76983f5aed2434.

[2017-08-16 21:13] larsbergstrom commented on #18116
cc @jonathandturner

[2017-08-16 21:15] jdm commented on #18116
[code]

[2017-08-16 21:19] jdm commented on #18116
Two possibilities to test this theory - we could remove the default codegen-units=4 from Cargo.toml, or we could switch the android builder to use `--release`. Either of these should allow us to determine if the codegen-units are making the memory usage significantly worse for us.

[2017-08-16 21:41] glennw commented on #18116
@jdm I know that @kvark was recently experiencing severe memory usage issues compiling Servo locally, and I believe these were resolved by disabling codegen units...

[2017-08-17 02:37] jdm commented on #18101
I can reproduce this with `./mach run -b` and visiting http://news.ycombinator.org. I cannot reproduce it with `./mach run http://news.ycombinator.org`, so it's specifically related to hit testing inside of an iframe.

[2017-08-17 02:45] jdm commented on #18062
Yes, those attributes are missing from our implementation of the Screen interface:
Code: https://dxr.mozilla.org/servo/rev/4d10d39e8fe841c5fe2ac58da2daaa13c10c140e/components/script/dom/webidls/Screen.webidl#8-11
Specification: https://drafts.csswg.org/cssom-view/#dom-screen-availwidth

[2017-08-17 02:46] jdm commented on #18044
It is no longer in use.

[2017-08-17 02:46] #18044 closed

[2017-08-17 05:32] jdm commented on #18101
This is a regression from #17425. cc @paulrouget

[2017-08-17 05:52] SimonSapin commented on #18044
Oops, I forgot to close this. Thanks.

@ rtbo responded with a proper fix to https://github.com/rtbo/rust-xcb/issues/40 and published version 0.7.7 before #18046 landed, so we ended up never landing the use of this fork.

[2017-08-17 09:37] mrobinson opened #18122 "Fixed position elements can only have the viewport as the containing block"
Currently Servo assumes that fixed position elements will only have the viewport as the containing block. The spec describes other situations where this may be the case though:
 - A transform or perspective value other than none
 - A will-change value of transform or perspective
 - A filter value other than none or a will-change value of filter (only works on Firefox).

This probably means that Fl

[2017-08-17 09:38] mrobinson commented on #18091
I split out the issue with fixed position elements to https://github.com/servo/servo/issues/18122, because it will require a more extensive and completely different fix than for absolute blocks.

[2017-08-17 11:33] tigercosmos commented on #18055
I have done previous steps and I get the same problem :(
[code]

[2017-08-17 13:17] SimonSapin commented on #18116
@larsbergstrom suggested looking at each builder from http://build.servo.org/buildslaves . Indeed, servo-linux-cross1 was consistently the one failing in recent builds. It had a `salt-minion` process consuming ~100% CPU and 1.7 GB RAM. I rebooted it, let’s see if that helps.

[2017-08-17 14:00] paulrouget commented on #18101
If it's because of #17425, I would bet on a Browser API breakage.

I'll look at it.

[2017-08-17 14:19] paulrouget commented on #18101
Really looks like a hittest issue though…

[2017-08-17 14:58] atouchet commented on #18101
@paulrouget do you have any idea if your PR could have also caused #18098? That issue appeared right around the same time.

[2017-08-17 15:05] SimonSapin commented on #18116
#18073 has landed, so I think this is solved. Feel free to reopen if appropriate.

[2017-08-17 15:05] #18116 closed

[2017-08-17 16:30] Jayflux commented on #18055
@tigercosmos select the windows 10 SDK in the individual components, and try again

[2017-08-17 16:51] Arthur-Kamau opened #18129 "servo Installation fail in ubuntu 16.04."
Failed to create window.: OsError("GL context creation failed") (thread main, at /checkout/src/libcore/result.rs:860)
What went what wrong ?

[2017-08-17 16:54] jdm commented on #18129
See #12053 and #9585.

[2017-08-17 16:54] #18129 closed

[2017-08-17 17:47] paulrouget commented on #18101
@atouchet I don't know. I'll investigate later.

[2017-08-17 17:57] Ygg01 opened #18130 "Issue with Double paste on Windows 10"
Steps to reproduce:
* Copy link e.g. `https://www.mozilla.org/`
* Paste in Servo search bar
---
Expected: https://www.mozilla.org/
Got: https://www.mozilla.org/https://www.mozilla.org/
[Link to image](https://i.imgur.com/1RHOsyQ.png)

Environment: Windows 10, browser was from https://download.servo.org with today's date. Unsure if bug exists on other platforms.

NOTE: Also Ctrl-z leaves a token in

[2017-08-17 18:46] mdboom commented on #10103
Having looked at the code through `python-modernize`, this doesn't look like too much of a large project.  Though as noted above, a number of the dependencies are also not Python 3.x compatible.  Would this still be welcome as a pull request?  I'm looking for an easy first project.

I'd suggest converting to cross-compatible 2 and 3 code first rather than leaping straight to 3 only, even though te

[2017-08-17 18:54] tigercosmos commented on #18055
I have installed windows 10 SDK, and try two version SDK. Still not work. I think the problem is not SDK.

[2017-08-17 19:38] atouchet commented on #18130
I have also run into this problem. I wrote a bit about it here: https://github.com/servo/servo/issues/16459#issuecomment-305673907. #17413 solved some of my issues with copying and pasting in Servo but it did not solve the double pasting URL problem. I am also using Windows 10.

[2017-08-17 19:41] atouchet commented on #18130
#17146 may be related to this as well.

[2017-08-17 22:57] rtbo commented on #18108
@highfive: assign me

[2017-08-17 22:57] highfive commented on #18108
Hey @rtbo! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-17 23:58] SimonSapin commented on #10103
I opened this issue in order to have a somewhere to discuss and to point people to, but I don’t think it’s worth spending much time on this, at least until all dependencies support Python 3 themselves.

[2017-08-18 02:00] #18091 closed

[2017-08-18 05:47] jdm opened #18140 "Intermittent timeout in /_mozilla/mozilla/css-paint-api/paint2d-paths.html"
cc @asajeffrey

[code]

[2017-08-18 07:03] paulrouget commented on #18101
The hittest issue only happens with mozbrowser ifames.

[2017-08-18 08:33] tigercosmos opened #18141 "nightly build button issue"
I have tried official nightly build on windows 10, ubuntu 17.04 and MacOS10.12. And find button issues.
On Windows,  press new tab button after entering a page, and then the app crash. Some times button even not work at the beginning.
On Ubuntu, press new tab button after entering a page, and then the app crash, too.
On MacOS, buttons do not work anyway.

[2017-08-18 11:05] paulrouget commented on #18101
In these tests:
-
 https://github.com/servo/servo/blob/92176d1152257e57e81dcd9204d59348ce9ff519/components/constellation/constellation.rs#L2311
- https://github.com/servo/servo/blob/92176d1152257e57e81dcd9204d59348ce9ff519/components/constellation/constellation.rs#L2473

we need to resolve the actual top level browsing context.

[2017-08-18 13:37] SimonSapin commented on #17205
Reopening since this has yet to land in Servo.

[2017-08-18 14:34] atouchet commented on #18141
Is this the same problem as #18098?

[2017-08-18 15:11] Jayflux commented on #18055
@tigercosmos I think ill take a screenshot of what i have installed, when im back on my windows machine, and we can go through the differences

[2017-08-18 15:26] tigercosmos commented on #18141
@atouchet  Yes, almost the same, and not only on Windows 10.

[2017-08-18 15:31] #18141 closed

[2017-08-18 15:37] tigercosmos commented on #18055
@Jayflux  I have intalled Visual C++ 2015 Build Tools at the beginning.

The issue:
[code]
This problem can fixed by modify function `host_triple()` and ` host_platform()` in `\python\servo\util.py` as:

[code]

Then, it can find `rustc`  file correctly. But there are some build error while compiling other files. Still debug..

[2017-08-18 16:13] atouchet commented on #18098
As stated in #18141 this issue apparently occurs in other operating systems as well.

[2017-08-18 16:13] Jayflux commented on #18055
@tigercosmos  i had this problem, i had to set PLATFORM: x64 in my environment variables.
Im not sure why it needs this env

[2017-08-18 16:18] tigercosmos commented on #18055
@Jayflux  I think the `pc-windows-msvc` check in the script is the problem. Maybe it should be removed.

[2017-08-18 17:05] tigercosmos commented on #18055
When I pass  `rustc` download issue. There's a problem at:
https://github.com/servo/servo/blob/master/python/servo/bootstrap.py#L224
[code]

[2017-08-18 17:41] jdm commented on #18062
The important part here is getting the screen dimensions. Glutin has a [MonitorId type](http://doc.servo.org/glutin/struct.MonitorId.html) that has a `get_dimensions` method; we can use the `Window::client_window` method as a model here (components/script/dom/window.rs) - we need to send a message to the constellation, which will forward the message to the compositor, which can call [glutin::get_p

[2017-08-18 18:17] joone commented on #17598
It seems that we need to add a new API to rust-azure for ellipse?

[2017-08-18 19:46] tamird commented on #16720
Is it time to close this? This issue appears to be about just getting it to run, which @jonathandturner seems to have done.

This issue still appears on [ServoStarters](https://starters.servo.org/).

[2017-08-18 20:02] jdm commented on #16840
Unassigning due to lack of activity.

[2017-08-18 20:03] jdm commented on #17795
This is no longer blocked; have you made any progress on this, @shivanth?

[2017-08-18 20:26] omakk commented on #16840
@highfive: assign me

[2017-08-18 20:26] highfive commented on #16840
Hey @omakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-18 23:38] KiChjang opened #18147 "Correctly use request's origin when determining same origin requests"
In #17521, under the http_redirect_fetch step 7, we are still using the request's current URL's origin when making a comparison with the location URL's origin. This is incorrect, but when using the following (correct) code of comparing the origins:
[code]
we encountered some WPT failures due to the code having an origin that is not what the WPT expects.

[2017-08-19 01:58] frewsxcv commented on #18049
I'm not entirely opposed to that crate for this sort of thing, but (and maybe I'm overly paranoid) but [this logic](https://github.com/Byron/open-rs/blob/master/src/lib.rs) seems like some sort of injection security vulnerability waiting to happen.

[2017-08-19 05:31] shivanth commented on #17795
Looks like I am late 😈

[2017-08-19 06:16] paulrouget commented on #18098
I can reproduce.

Not the same issue as #18101, but could still be cause by #17425.

[2017-08-19 07:27] jdm opened #18150 "Address form-associated spec changes"
https://github.com/whatwg/html/pull/2874

[2017-08-19 07:28] jdm opened #18151 "Address fragment scrolling spec changes"
https://github.com/whatwg/html/pull/2901

[2017-08-19 07:58] KiChjang commented on #16117
#17521 is another attempt at resolving this, but ran into the same issue that #14515 encountered - if we do not accept `file:` and `about:` URLs anymore, our CSS Ahem test infrastructure would fail.

[2017-08-19 11:09] upsuper opened #18152 "Support computed-value time currentcolor keyword in shadow"
Servo originally supports computed-value time `currentcolor` keyword in shadow, but in #18136 we are regressing it back to the behavior that the keyword is resolved in computed value, because Gecko hasn't yet supported that in shadow, and using the types which support computed-value time `currentcolor` would regress Gecko's behavior when animating between `currentcolor` and numeric color.

I don't

[2017-08-19 12:44] shinglyu commented on #18055
As @tigercosmos points out to me: our AppVeyor CI seems to use VS 2015? https://github.com/servo/servo/blob/master/appveyor.yml#L23 , maybe we should update the README accordingly?

[2017-08-19 15:00] #17795 closed

[2017-08-19 16:08] VidushiVashishth commented on #9939
@zeusintuivo : I followed your documentation on issue #12356. Got the following error:
[code]
I m using windows 10.

[2017-08-19 16:47] tamird commented on #15270
011ff28aee34f59eb1e788de2666062c7b6dbff4 merged:

[code]
into
[code]

which leaves:
[code]
Also, looking at #15503, it seems that there's some difficulty in seeding the new parameterized iterators because the root type may not be the same as the item type. Perhaps the current pattern of `traversal_method.filter_map(Root::downcast)` is good enough, or perhaps better and clearer?

[2017-08-19 16:53] DominoTree commented on #15270
Hmm, I may take another fresh whack at this

[2017-08-19 17:05] larsbergstrom opened #18154 "Apple iOS support"
This is a meta-issue for adding support for compiling Servo to target iOS. To work on this, just clone Servo as normal but build with: `./mach build -d --target aarch64-apple-ios`

Add `-j 1` to turn this into more of a linear process.

Next tasks:

- [ ] Fix sandboxing/gaol build break by running in a single process and open issue in gaol to consider iOS sandboxing later.

[2017-08-19 17:06] larsbergstrom commented on #6372
Perhaps revisit later, after https://github.com/servo/servo/issues/18154 lands.

[2017-08-19 17:06] #6372 closed

[2017-08-19 17:06] larsbergstrom commented on #18154
cc @MortimerGoro @blairmacintyre @trevorfsmith

[2017-08-19 18:03] jfernandezcorral commented on #17870
In chrome it,s OK
The next is rendered ok too, with an stacking context paralell an z-index greater

`<style>
#stackingcontext {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 2;
  width: 200px;
  height: 200px;
}
#otrostackingcontext {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 3;
  width: 200px;
  height: 200px;
}
#fixed {
  background: green;
  position: fixed;

[2017-08-19 23:24] adamncasey commented on #16771
Looks like headless mode isn't implemented on Windows. I just hit this attempting to run the wpt/ref tests.
https://github.com/servo/servo/blob/c1b196b7cb7e5efd3cd4de0c9562dcca5da34564/ports/glutin/window.rs#L168

Running with `-z` will crash on Windows. Unrelated to the crash being encoutered without `-z`

[2017-08-20 08:46] VidushiVashishth commented on #12356
@jdm I was facing the same problem as Dinika when I tried to build servo. It was throwing the following error:
[code]
So I unpacked the tar.gz file like you suggested and now am getting the following error:

[code]
I m new to this and would appreciate some help. I m compiling this in a miniconda environment(named servoyay) since I already had python 2 and 3 on  my PC.

[2017-08-20 11:13] tigercosmos commented on #9468
Got a problem.
[code]

[2017-08-20 11:13] Serkan-devel opened #18160 "servo build error"
I can't figure out how to build servo.

[code]

[2017-08-20 11:28] emilio commented on #18160
You need to install `cmake`, it's in the build dependencies section in the `README`. Does that fix the error?

[2017-08-20 11:51] Serkan-devel commented on #18160
Still not but I think it got further after installing it
[code]

[2017-08-20 11:57] emilio commented on #18160
Sure, you need all the dependencies in https://github.com/servo/servo#on-debian-based-linuxes. That includes libdbus.

[2017-08-20 12:53] Serkan-devel commented on #18160
it now works but how do I get the browser.html UI?

[2017-08-20 13:06] blacksvk commented on #11297
@jdm It seems it is not working again in today's windows build.

[2017-08-20 13:37] Serkan-devel commented on #18160
found it

[2017-08-20 13:37] #18160 closed

[2017-08-20 19:54] atouchet opened #18162 "GitHub search bar appears too light in Servo"
Image (Servo top, Firefox bottom):

![GitHub search bar](https://i.imgur.com/HdXUUce.png)

The text is also too light as well.

Tested in Windows 10.

[2017-08-20 19:56] tigercosmos opened #18163 "servo use google search error"
First I command:
[code]
then log:
[code]
but it still load the page, and then I enter something then press enter key to search
then the app crash with with "white screen" said `Could not load the request page: Unexpected sheme`

Full Error log:
[code]

[2017-08-20 21:03] mateon1 commented on #18163
I think this is a duplicate of #14813 (same assertion, but that one is about gmail)

[2017-08-20 21:36] jonathandturner commented on #16720
@tamird - I mention in my runs that I was getting errors with some runs and not others.  I'll check and report back whether the intermittent error is still occurring.

[2017-08-20 22:45] jonathandturner commented on #16720
@tamird - I can confirm we're still seeing the "ERROR:script::dom::bindings::error: Error at http://emberperf.eviltrout.com/assets/test-client.js:341:5 Ember is not defined" on some runs (and not others).

@jdm - I don't know how we want to handle intermittent failures.

[2017-08-20 23:10] jonathandturner opened #18164 "Hovering links in wikipedia underlines wrong area"
In the screenshot below I hovered over the "Lundomys molitor" link in the feature article section and instead of underlining that link the underline was put at a different location on the screen (here it's showing above the "Main page" link on the left):

![screen shot 2017-08-21 at 11 07 34 am](https://user-images.githubusercontent.com/547158/29499249-4ce50c46-8661-11e7-91be-eb904bb9f633.png)

[2017-08-21 03:05] shinglyu commented on #17379
So this is just to pref-off cssText property? Can I give it a try?

[2017-08-21 04:28] #18163 closed

[2017-08-21 04:28] jdm commented on #14813
Also reproducible by searching for something from google.com.

[2017-08-21 06:30] shinglyu opened #18166 "Can't use local webrender"
The top level `Cargo.toml` file used to have a `[replace]` section, but it's now replaced by `[patch.crates-io]`. Now I can't use my local checkout of webrender using the old syntax. Here are the error messages:

Case 1:
[code]
=> `patch for https://github.com/servo/webrender in https://github.com/rust-lang/crates.io-index did not resolve to any crates`

Case 2:
[code]
=> The override had no effec

[2017-08-21 06:48] SimonSapin commented on #18166
Case 2 has correct syntax. It makes a new or other version of webrender available, but as you can see with `patch.unused` it’s not being used. You need to either change the version number in `../webrender/webrender` to the version used in `Cargo.lock` (currently 0.49.0), or run `cargo update -p webrender --precise 0.47.0` (with 47 being the one you have in your local copy of webrender). The `--pre

[2017-08-21 06:58] shinglyu commented on #18062
I guess I can give this a go while I wait my other bugs to be unblocked.

Do we have to worry about other embedders? Is there a good point to abstract away glutin?

[2017-08-21 07:00] paulrouget commented on #18062
@shinglyu using a `WindowMethod` plus a glutin specific implementation in `ports` is totally fine.

[2017-08-21 07:09] shinglyu commented on #18062
@paulrouget Ah I see, so the `IOCompositor.window` can have different implementation of `WindowMethods`.

[2017-08-21 07:39] paulrouget commented on #18062
@shinglyu yep. All located in `/ports/`.

[2017-08-21 08:43] shinglyu commented on #18062
I wrote a working prototype for `screen.width` and `height` using `glutin::get_primary_monitor().get_dimensions()`. But I'm not sure how to get the `availHeight/availWidth`. Is there API for getting the available height/width? Or maybe we just implement `screen.height/width` for now?

[2017-08-21 09:07] #18101 closed

[2017-08-21 09:07] paulrouget commented on #18062
As far as I know, winit/glutin doesn't provide the info for availableHeight/Width.
Maybe fallback to the values of height/width for now?

[2017-08-21 09:13] paulrouget commented on #18006
@cbrewster @asajeffrey beside calling `Constellation::close_browsing_context`, what else do we need to do? What about pending changes?

[2017-08-21 10:48] paulrouget commented on #15777
I'm going to close this as most of it is done now. Only multi-window support requires initialization related work. See #13993.

[2017-08-21 10:48] #15777 closed

[2017-08-21 12:31] SimonSapin commented on #18164
Maybe related to https://github.com/servo/servo/issues/12105 ?

[2017-08-21 15:44] jdm opened #18172 "Automatically verify that derive() lists are alphabetically ordered"
Rust code that looks like `#[derive(Copy,Debug, ComputeSquaredDistance)]` should be reported as a style violation. The correct ordering is `#[derive(ComputeSquaredDistance, Copy, Debug)]`.

Code: `python/tidy/servo_tidy/tidy.py`
Tests: `python/tidy/servo_tidy_tests/rust_tidy.rs`, `python/tidy/servo_tidy_tests/test_tidy.rs`. Run the tests with `./mach test-tidy --self`.

[2017-08-21 15:44] highfive commented on #18172
cc @wafflespeanut

[2017-08-21 15:44] highfive commented on #18172
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-21 18:21] cbrewster commented on #18006
AFAIK that's all you would need to do. `Constellation::close_browsing_context` will clean up any pending changes for that browsing context.

[2017-08-21 21:02] davidcl commented on #18172
@highfive: assign me (yet another new contributor)

[2017-08-21 21:02] highfive commented on #18172
Hey @davidcl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-21 21:03] KiChjang commented on #12972
#17521 has just landed; @gterzian you may now work on it unhindered!

[2017-08-21 21:11] MortimerGoro opened #18178 "Canvas2D rendering context requires redesign"
Canvas2D rendering has two main problems now:

- A new thread and IPC-channel is created for each canvas with a Canvas2D context (`canvas.getContext("2d")`)
- Pixels vectors are used to composite the canvas2D contexts with WebRender, which is extremely slow.

[2017-08-21 21:15] MortimerGoro commented on #18178
cc @jdm Could this task work for a student team project proposal? I read that some of them will start contributing in October. They could use the webgl_thread.rs as an example solution for the same problem.

[2017-08-21 21:17] MortimerGoro commented on #18178
Also cc to @asajeffrey who wants to implement a Canvas2D.fillText back-end based on webrender + pathfinder.

[2017-08-21 21:30] jdm commented on #18178
I have mentioned this to the team that will be contributing to Servo starting in October.

[2017-08-21 22:58] JJayet commented on #18154
I'm interested in this if it's a good first PR :)

[2017-08-21 23:31] jdm commented on #18154
@JJayet It's not clear what work will be required. If you want to give it a try, you are welcome to!

[2017-08-21 23:57] JJayet commented on #18154
@jdm I'm actually looking at the problem right now.
I've tried to replicate the Windows configuration since it seems to not use Gaol as well.

[code]
or
[code]

doesn't seem to work (in `servo/Cargo.toml` and `constellation/Cargo.toml) as it still tries to compile the library.

Any idea ?

[2017-08-22 00:32] jdm commented on #18154
You need to modify the existing cfg to use `cfg(not(or(..., ...)))` instead of adding a separate target.

[2017-08-22 02:15] zspitzer opened #18180 "Could not load the requested page: other os error (DNS lookup failed)"
try opening http://thisdoesntexists.com/

The DNS lookup failed error message is very vague

`Could not load the requested page: other os error`

![image](https://user-images.githubusercontent.com/426404/29545729-4fd375b4-8733-11e7-8fd8-fd5f009934db.png)

Win10 Nightly

also you can't select/copy the error message

[2017-08-22 04:55] paulrouget opened #18182 "Write tests for embedding API"
As of now, the WindowMethods and WindowEvent handling are not covered much by tests.

And as we are adding more Event and WindowMethods, we should really start testing all of these.

For example, how would one test tab handling (`WindowEvent::NewBrowser`, `WindowEvent::CloseBrowser` and `WindowEvent::SelectBrowser`)?

[2017-08-22 07:10] shinglyu commented on #18062
One thing that confuses me is that there are tests like `/cssom-view-1_dev/xhtml1/window-screen-height-mutation-throws.xht` asserting that mutating `window.screen.height` should throw an exception. But I can't reproduce that on Chrome and Firefox. Is that an outdated test?

[2017-08-22 09:40] tigercosmos opened #18185 "Servo on Windows in VMware player gets 'NoAvailablePixelFormat' value 101"
It seems like #9468 , but return value is different.
[code]

[2017-08-22 10:21] gterzian commented on #12972
awesome, thanks for letting me know and congrats on landing that one!

[2017-08-22 10:33] paulrouget commented on #18049
Can't that be handled directly by the embedder via `WindowMethod::allow_navigation`?

Basically, in `ports/glutin/window.rs`, in `fn allow_navigation`, we should test if the scheme is `mailto:`, and if so, use `open` (already used in components/script) to let the OS handle the URL.

[2017-08-22 11:31] ferjm opened #18186 "Use `Filter buffer by name and type` algorithm implementation for all performance entry list getters"
#18176 introduces the implementation of the [Filter buffer by name and type](https://w3c.github.io/performance-timeline/#filter-buffer-by-name-and-type) algorithm. According to the [spec](https://w3c.github.io/performance-timeline), this algorithm should be use for:
* [Performance.getEntries](https://w3c.github.io/performance-timeline/#getentries()-method)
* [Performance.getEntriesByType](https://

[2017-08-22 11:31] highfive commented on #18186
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-22 13:16] rlustin commented on #18186
@highfive: assign me

[2017-08-22 13:16] highfive commented on #18186
Hey @rlustin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-22 14:11] JJayet commented on #18154
@jdm so... this seems to do the trick :

`[target.'cfg(all(not(target_os = "windows"), not(target_arch = "aarch64")))'.dependencies]`
(don't know if `target_arch = "aarch64"`is not too broad though, nut nothing else seems to work)

Thanks for the help :)

I'm know facing multiple errors from other packages (`expat-sys`, `servo-freetype-sys`, `fontsan`, `heartbeats-simple-sys`, `mozjs_sys`).

I wil

[2017-08-22 14:14] larsbergstrom commented on #18154
@JJayet Nice work!

Does this work with:
[code]
? If so, that would be ideal.

If it works and gets to the next set of errors, please feel free to open a PR with just that change! Then we can edit this issue to have errors from the other packages and handle them in separate PRs. It's fine for this to take 50 PRs to incrementally land the whole support!

[2017-08-22 14:16] jdm commented on #18185
The return value doesn't make a difference. Thanks for reporting!

[2017-08-22 14:16] #18185 closed

[2017-08-22 14:20] JJayet commented on #18154
@larsbergstrom Yes indeed it works!
I tried before but due to me not understanding cfg, it was not working properly.

You're right, I'll try to PR with just that.
Thanks :)

[2017-08-22 14:22] larsbergstrom commented on #18154
@JJayet Thank you for joining in to work on this bug when I hadn't even properly tagged it!

[2017-08-22 15:16] camlorn commented on #8313
@mrobinson
It does run, but the UI might be awful.  I had to hack around assumptions that we'd be in a Linux terminal.  There weren't good Python libs for Windows.

It's been too long for me to remember specifics, but I'd suggest closing this and waiting for someone to open another ticket if there's still a problem.

[2017-08-22 18:02] NeverHappened commented on #17715
I've done some work on this issue and have questions. Where can I ask them? In IRC? Who should I talk to?

[2017-08-22 18:57] jdm commented on #17715
IRC or here are fine choices, especially if you don't end up receiving a response on IRC.

[2017-08-22 23:13] atouchet opened #18194 "Servo user agent should list user's actual operating system"
Currently the Windows and macOS versions listed in Servo's user agent are hardcoded to Windows NT 6.1 and Intel Mac OS X 10.10 respectively. Presumably this should be changed at some point to list the user's actual OS version instead.

[2017-08-22 23:17] SimonSapin commented on #18194
Why should it? Wouldn’t that only help fingerprinting?

[2017-08-23 00:11] atouchet commented on #18194
To some degree it probably would but I don't see that making a major difference. Firefox lists the user's correct OS so I don't see why Servo shouldn't. I believe this was discussed when the user agent strings were first added: https://github.com/servo/servo/pull/7143#issuecomment-129859641

[2017-08-23 07:06] Akkowicz opened #18199 "ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug."
I've visited https://www.purepc.pl/ after visiting wikipedia

ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug.
### URL:

### Servo Version:
Servo 0.0.1-85e6f6f
### Backtrace:
[code]

[2017-08-23 10:04] #18006 closed

[2017-08-23 12:06] shinglyu commented on #6414
Looks like most previous work were on html5ever parsing. Are there related bugs in the font rendering module as well?

[2017-08-23 12:19] SimonSapin commented on #6414
This issue is about character encodings: converting bytes from the network to Unicode code points. I believe we also have font rendering issues but they’re independent from this and I don’t know if they’re filed.

[2017-08-23 12:31] shinglyu commented on #6414
I see. I did a quick search and found that there are several bugs here and there. Let me open a meta bug to collect them.

[2017-08-23 13:26] shinglyu opened #18202 "CJK support"
This is a meta bug for CJK support.

We need to be able to:
- [ ] Correctly handle encoding in HTML parsing (https://github.com/servo/servo/issues/6414)
- [ ] Display Unicode CJK text correctly (fail on MacOS https://github.com/servo/servo/issues/10045)
- [ ] Display Non-Unicode CJK text correctly (https://github.com/servo/servo/issues/6167, also Big5 encoding text are not rendered correctly)
- [

[2017-08-23 13:27] shinglyu commented on #18202
@tigercosmos you might be interested in this?

[2017-08-23 13:28] shinglyu commented on #18202
Might be related: https://github.com/servo/servo/issues/4901

[2017-08-23 13:45] tigercosmos commented on #18202
@shinglyu Yep. As an Asian user, these issues mean a lot.  :D

[2017-08-23 14:29] SimonSapin commented on #18202
The rendering pipeline is fundamentally based on Unicode. Big5 and gb2312 are both character encodings that we map to Unicode during parsing, and so they fall under #6414. I assume by "non-Unicode" you mean "non-UTF encodings"?

[2017-08-23 15:01] #17205 closed

[2017-08-23 15:17] jdm opened #18203 "Intermittent error in /_mozilla/css/animations/mixed-units.html"
[code]

[2017-08-23 16:03] JJayet commented on #18154
@larsbergstrom @jdm As I'm working on getting each part to compile, I stumble upon the (lack of) User Agent.

Right now, I've added this :

[code]

There are two things that bother me :
- Lack of distinction between [iPhone, iPod and iPad](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox#Firefox_for_iOS)
- Lack of distinction between [tablet and mobile](https://develope

[2017-08-23 16:19] Akkowicz commented on #18199
Just homepage, I was refreshing it very fast and then loaded purepc, I can't reproduce it now too, sorry :/

[2017-08-23 17:12] jkvargas commented on #7379
What is the status of this feature nowadays?
Thank you.

[2017-08-23 17:16] jdm commented on #18154
That seems fine as an initial sensible UA.

[2017-08-23 17:46] NeverHappened commented on #17715
1. Why do we need this feature? As I understand, only Firefox has it :)
2. As I understand, the text emphasis should be at the top and be 50% of the size of the base text. But I can't find any code that is able to scale/clone the TextDisplayItem, or easily generate new one? Does this require a lot of new code?

[2017-08-23 18:31] jdm commented on #17715
1. It's a CSS standard, and supported by Safari according to http://caniuse.com/#feat=text-emphasis .
2. @mrobinson is this a question you can answer?

[2017-08-23 19:41] cbrewster commented on #17772
Implemented in #17935

[2017-08-23 19:41] #17772 closed

[2017-08-23 21:05] #18111 closed

[2017-08-23 22:46] atouchet commented on #18194
This probably applies to iOS now as well as a user agent string was added for that OS in #18205.

[2017-08-23 22:47] atouchet commented on #18154
Was this supposed to be closed?

[2017-08-23 23:25] #18172 closed

[2017-08-24 02:21] shinglyu commented on #18202
@SimonSapin Thanks for the correction. I've update the original description.

[2017-08-24 06:01] paulrouget opened #18211 "Add a "TransitionType" to either LoadData or AllowNavigation"
From the embedder perspective, we need to know the reason why servo is navigating to a new page.

Something like that: https://github.com/paulrouget/servo-embedding-api/blob/d5168a3e6e4a09224d7bca8761e08850fe733f15/servo_traits/browser/load_data.rs#L12

… either attached to LoadData or as another argument to the AllowNavigation message.

[2017-08-24 06:57] NiLSPACE commented on #17904
Html5test doesn't crash Servo for me anymore. This seems to be fixed.

[2017-08-24 08:36] sviter commented on #6564
Got that error after login in Slack:

Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:

### Servo Version:
Servo 0.0.1-10779f0
### Backtrace:
[code]

[2017-08-24 08:44] mrobinson commented on #17715
@NeverHappened Any reason you need to clone the `TextDisplayItem` rather than just creating a new one with the properties calculated for the emphasis?

[2017-08-24 10:22] NiLSPACE opened #18216 "Microsoft OAuth2 doesn't work and crashes once address bar is pressed"
While trying to login to a web application of the company I work for I got redirected to the login page of Microsoft due to OAuth2. Once I got redirected back however Servo gave the error `The resource you are looking for has been removed, had its name changed, or is temporarily unavailable`. Once I pressed the address bar Servo crashed with the following stacktrace:

<details>
<summary>Stacktrace

[2017-08-24 13:06] #17904 closed

[2017-08-24 13:26] notriddle commented on #6564
Is it any team, or a particular team? For those not in the know, Slack is a multitenant program; naturally, every "team" (read: "tenant") has a lot of configuration that they can change.

If it's a particular team, then can a Servo dev join it? We're trying to answer the question of how Servo needs to handle the ill-formed UTF-16 to work.

[2017-08-24 13:28] nox commented on #6564
We have no immediate plan to support lone surrogates any time soon. Meanwhile, that Servo crashes on that on Slack means there is a bug on Slack somewhere.

[2017-08-24 13:37] sendilkumarn commented on #18071
I would like to take a shot on this issue

[2017-08-24 14:12] cosmo0920 opened #18217 "mach should detect aarch64 cpu type"
Currently, mach does not detect aarch64 cpu_type.
I'm servo newbie, so I have no idea about this is an real servo build tool issue.

### Environment

* Hardware: Jetson TX2
* OS: Ubuntu 16.04.3 LTS  aarch64

### CPU Type in Python

[code]

### Current implementation

Does not handle aarch64 cpu_type:
https://github.com/servo/servo/blob/master/python/servo/util.py#L31

### Proposed fix

https://git

[2017-08-24 15:37] jdm opened #18218 "Prevent reentrancy in TreeWalker::accept_node and NodeIterator::accept_node"
accept_node implements the [filter](https://dom.spec.whatwg.org/#concept-node-filter) algorithm from the specification, but that algorithm has been updated since it was first written. We need to add an [active flag](https://dom.spec.whatwg.org/#concept-traversal-active) to both TreeWalker and NodeIterator and update it appropriately according to the specification.

Code: `components/script/dom/nod

[2017-08-24 15:37] highfive commented on #18218
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-24 15:38] NeverHappened commented on #17715
No, no reason. I have issues because the code for generating display item is in the building display list phase, but the calculating text properties is done long before that.

[2017-08-24 15:41] jdm commented on #18217
Huh, I guess we have always done cross-compiles for aarch64 before. That seems like a fine change to me, if it works for you.

[2017-08-24 15:43] jdm opened #18219 "Intermittent timeout in /_mozilla/mozilla/paint_timing.html"
[code]
cc @ferjm

[2017-08-24 15:48] jdm commented on #18211
That looks sensible to me.

[2017-08-24 15:56] cosmo0920 commented on #18217
Yeah, above patch works for me.
But this is one of work to build servo on aarch64.

[2017-08-24 16:38] ferjm commented on #18219
Ugh...I'll investigate why it's timing out.

[2017-08-24 17:26] CYBAI commented on #18218
@highfive: assign me

[2017-08-24 17:26] highfive commented on #18218
Hey @CYBAI! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-24 18:55] moonlightdrive commented on #17667
Hi @jdm I'd like to take a look at this one. Do you have any advice on where to start?

[2017-08-24 19:33] edunham commented on #17626
The Servo org has [127 repos including those which are forks](https://gist.github.com/a1b54e261b9a3827032730526af91e29), and [86 excluding forks](https://gist.github.com/b2f4c0f25631473cf647c2cf10deea56).

[52 repos](https://gist.github.com/89ddfb9bc71910aca3e529a4bd61a15a) are configured for Travis operation [in Homu](https://github.com/servo/saltfs/blob/master/homu/files/cfg.toml#L79), and only

[2017-08-24 19:36] edunham commented on #17626
Here is my checklist of all repos in the org that Homu should be working on. I will check the boxes as I check each repo's perms and Homu functionality.

- [ ] angle
- [ ] app_units
- [ ] cgl-rs
- [ ] cocoa-rs
- [ ] core-foundation-rs
- [ ] core-graphics-rs
- [ ] core-text-rs
- [ ] devices
- [ ] download.servo.org
- [ ] euclid
- [ ] fontsan
- [ ] futf
- [ ] gaol
- [ ] gleam
- [ ] glutin
- [ ] heap

[2017-08-24 21:04] atouchet commented on #18217
Should this be closed now with #18220 merged?

[2017-08-24 21:11] #18217 closed

[2017-08-24 22:01] mateon1 opened #18224 "Division by zero in flex layout"
When visiting [`http://test.csswg.org/suites/css-align-3_dev/nightly-unstable/html/flex-abspos-staticpos-align-content-001.htm`](http://test.csswg.org/suites/css-align-3_dev/nightly-unstable/html/flex-abspos-staticpos-align-content-001.htm), a division by zero is triggered.

[code]

[2017-08-24 22:18] mateon1 commented on #18224
Here is a minimal crashing testcase:

[code]

[2017-08-25 01:59] cosmo0920 opened #18227 "Rust compiler download error on AArch64 Linux"
Currently, mach cannot download rust compiler for aarch64 Linux.

### Environment

* Hardware: Jetson TX2
* OS: Ubuntu 16.04.3 LTS  aarch64

### Current problem

[code]
### Expected

Rust compiler should be downloaded with mach on AArch64 Linux system.

[2017-08-25 02:15] jdm opened #18228 "servo-mac7 is constantly having git errors"
I've been seeing a bunch recently, and I'm pretty sure they're all caused by the same machine:
[code]

[2017-08-25 02:15] highfive commented on #18228
cc @aneeshusa

[2017-08-25 02:17] jdm commented on #18228
Yes, the history of http://build.servo.org/builders/mac-rel-wpt3?numbuilds=45 is full of git exceptions that only occur on servo-mac7.

[2017-08-25 02:18] jdm commented on #18228
http://build.servo.org/builders/mac-rel-wpt2?numbuilds=45 shows one similar failure on servo-mac9.

[2017-08-25 02:20] jdm commented on #18228
cc @edunham

[2017-08-25 02:24] jdm commented on #18227
[This code](https://github.com/servo/servo/blob/d7f7d550ab2f0f0edbcc36dab510701f21a25f7a/python/servo/command_base.py#L263-L266) tried to decide if the build is happening on a platform which has a rustc binary provided that does not include llvm assertions (`-alt`). The check needs to include non x86_64 architectures as well now, I guess.

[2017-08-25 03:20] atouchet commented on #17921
I think this demonstrates the issue:

`<!DOCTYPE html>
<html>
<head>
<style>
div {
	background-color: rgb(39, 40, 34);
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 320px;
	box-sizing: border-box;
	z-index: 2;
	overflow: hidden;
	transform: translateX(0px);
	box-shadow: -50px 0px 80px rgba(0, 0, 0, 0.5);
	padding-left: 16px;
	padding-right: 16px;
}
</style>
</head>
<body>

<d

[2017-08-25 07:16] SimonSapin commented on #18227
I think that code always had this problem. It should check full "triples".

@cosmo0920 In the meantime, you can copy `servobuild.example` to `.servobuild` and change in the latter `#llvm-assertions = false` to `llvm-assertions = true`

[2017-08-25 07:32] cosmo0920 commented on #18227
Thanks for your suggestion.
I'll try this later.

[2017-08-25 07:43] cosmo0920 commented on #18227
I've confirmed that downloading Rust compiler works when `llvm-assertions = true` is specified in `.servobuild`.

[2017-08-25 09:05] Hywan commented on #7379
This project might be interesting, https://github.com/paulrouget/servoshell.

[2017-08-25 10:49] paulrouget opened #18236 "When closing a top level browsing context, clean up rendering if the context was active"
If a browsing context was active (as in, sent to WR) when being closed, we should set `active_browser_id` to None and reset WR (render white rectangle?).

Follow-up of #18181.

[2017-08-25 11:09] paulrouget commented on #18236
Or, we could forbid closing the active browsing context.

[2017-08-25 11:21] paulrouget commented on #18236
@glennw If I were to want to tell WR to not render anything but a white rectangle, what would it take? Just send `DeleteDocument`?

[2017-08-25 16:10] tigercosmos commented on #18055
Error again..
Windows10 V1607 + VS2017(Install almost every components) in VM
[code]

[2017-08-25 19:18] DominoTree commented on #18224
@highfive: assign me

[2017-08-25 19:18] highfive commented on #18224
Hey @DominoTree! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-26 02:22] stshine commented on #18224
The problem lies at https://github.com/servo/servo/blob/2136dd2bb7fc9d78f796de4a49e01339bbbd2d31/components/layout/flex.rs#L723.

You should make it work when the number of flex items is zero.

[2017-08-26 02:30] kpp opened #18249 "Blinking octocat"
Run `./servo http://github.com/404`, move mouse arrow over the octocat scene and you will see how it is badly rendered:

![servo](https://user-images.githubusercontent.com/467709/29737901-6b53e992-8a1f-11e7-969a-e69fb8fd3932.png)
![servo2](https://user-images.githubusercontent.com/467709/29737902-6b55427e-8a1f-11e7-96c0-618803e6b604.png)
![servo3](https://user-images.githubusercontent.com/467709/2

[2017-08-26 02:45] kpp commented on #13963
@kvark your case is fixed

[2017-08-26 02:47] kpp commented on #13963
My case is fixed too

[2017-08-26 02:47] #13963 closed

[2017-08-26 02:49] kpp opened #18250 "DuckDuckGo for all cases"
I launch `./servo`, enter `https://github.com/servo/servo/` in the search line, click `enter`, and DuckDuckGo main page appears

[2017-08-26 03:09] atouchet commented on #17942
This is fixed for me now, although it appears the theme selection icons are now busted.

[2017-08-26 03:09] #17942 closed

[2017-08-26 04:28] bholley opened #18251 "Intermittent failure on css-backgrounds-3_dev/html4/attachment-local-clipping-image-5.htm"
I've hit this on two different PRs. #18248 and #18246.

[2017-08-26 06:14] KiChjang commented on #16736
#17836 tries to fix the issue by setting the border width to be zero only on rows, cells and columns AND when the `collapse` CSS value is specified on `table-collapse`, but that caused other test failures, namely `tests/wpt/mozilla/tests/css/border_collapse_simple_a.html`, which shows a table with additional margins when compared with the reference.

[2017-08-26 10:47] NiLSPACE commented on #17088
When I [dock](http://www.nurgo-software.com/images/AquaSnap/Docking.gif) servo to the side I am able to scroll down.

[2017-08-26 12:48] nox opened #18253 "Audit the remaining manual implementations of ToAnimatedZero"
The following types unconditionally return an error in their `ToAnimatedZero` impl:

* `properties::longhands::border_spacing::computed_value::T`
* `properties::longhands::font_stretch::computed_value::T`
* `properties::longhands::font_size_adjust::computed_value::T`
* `properties::longhands::vertical_align::computed_value::T`
* `properties::longhands::visibility::computed_value::T`
* `values::ani

[2017-08-26 12:48] highfive commented on #18253
cc @emilio

[2017-08-26 18:04] mateon1 opened #18254 "assertion fail: Tried to access scroll root id on Flow before assignment"
Originally found on reddit.com, but below is the minimal crashing testcase.

[code]

*EDIT*: Updated the backtrace with the current master build, as recently the affected layout code was changed.

[code]

[2017-08-26 18:57] emilio commented on #18254
Lovely testcase, thanks!

cc @mrobinson, this may be of your interest.

[2017-08-26 19:07] DominoTree commented on #18082
Seems to load without issue on 0.0.1-1e0ebf1c1a under OSX

[2017-08-26 20:21] tigercosmos opened #18256 "An alternative solution to build on Windows"
As #18055 happens, I am still not able to build followed by README. Although @larsbergstrom tested it works as #18157, but I always test failed. I try to debug, but no progress.

I find an alternative solution to build on windows, and it works. I think it is worth to share, and let other developers who encountering problems while building have a new way.

Here's the steps:

1.  Download and instal

[2017-08-27 05:05] tigercosmos commented on #18256
If get error about `rustc` by `unknown`, #18145 can fix.

[2017-08-27 05:39] paulrouget commented on #13993
@gterzian now that #15934, do you want to work on this? I'll be happy to take care of this if you're busy with some other things.

[2017-08-27 05:50] paulrouget commented on #13993
Multiple WR instances works correctly now.

It might be a bit tedious to have a hashmap instead of a direct link to the compositor as we will have to send events to the relevant compositor. Many events, like `Scroll` for example, don't have a `TopLevelBrowsingContextId` yet.

I'm also wondering how the API to create and destroy a compositor will look like.

Also, the `SelectBrowser` message and `T

[2017-08-27 06:49] jdm commented on #18251
Tracked in #17885.

[2017-08-27 06:49] #18251 closed

[2017-08-27 07:07] jdm commented on #18055
That looks like your shell can't find git.

[2017-08-27 07:09] jdm commented on #18250
This probably needs to be filed in https://github.com/browserhtml/browserhtml/issues instead.

[2017-08-27 07:47] tigercosmos commented on #18055
@jdm  No, the error is caused by vs shell. After launch VS shell by `mach.bat`, I found it `cd` to other folder, so it cannot find files.  I don't know why.

[2017-08-27 08:36] BojanKogoj opened #18258 "Code tag height changes with mouse move/window resize"
On github, for example [The Rust compiler](https://github.com/servo/servo#the-rust-compiler) if you have `<code>` that breaks line and has padding its height will expand when you move your mouse or resize a window.

![image](https://user-images.githubusercontent.com/634075/29747891-d9653c44-8b08-11e7-9941-acfe8c179f33.png)

I was able to reproduce this with a small test case, but only expands heig

[2017-08-27 10:44] gterzian commented on #13993
Ok, I can leave this one to you @paulrouget, as I was planning on first taking a first pass at the http cache. Happy to pick up some subset of this issue later on, and off course continue working on other issues with implementing `window.open` in mind...

[2017-08-27 10:54] gterzian opened #18259 "Maybe move Servo -> Compositor communication to a channel"
Currently compositor methods are being called directly by servo, in response to `WindowEvent` as in https://github.com/gterzian/servo/blob/066e71ece5df3aad0813dad413112bf1b6403ce0/components/servo/lib.rs#L256, instead a channel similar to [`constellation_chan`](https://github.com/servo/servo/pull/17269/files#diff-da41bfaea1380168143603c085efe1c3R306) could be used to communicate with the composito

[2017-08-27 10:56] KiChjang commented on #18224
Test case for the fix is still missing.

[2017-08-27 11:01] gterzian opened #18260 "Experiment with using events instead of calling WindowMethod, in Servo -> embedder communication"
When Servo receives [`EmbedderMsg`](https://github.com/gterzian/servo/blob/066e71ece5df3aad0813dad413112bf1b6403ce0/components/compositing/compositor_thread.rs#L120), it often calls [`WindowMethod`](https://github.com/gterzian/servo/blob/066e71ece5df3aad0813dad413112bf1b6403ce0/components/compositing/windowing.rs#L124) of the embedder/window in response.

Instead, an event loop could be used. See

[2017-08-27 12:21] DominoTree commented on #18224
Do we need a new test since this was triggered by an existing test?

[2017-08-27 13:08] BojanKogoj commented on #18258
This is happening on `span `and `strong `as well as other inline elements I've tried. Updated test case

[code]

[2017-08-27 15:51] CAfromCA commented on #16771
I never updated this bug, but in #16393 @jonathandturner confirmed that Servo needs OpenGL 3.2 support, which Intel does not provide for Sandy Bridge on Windows (and never will).

The solution is apparently to update Servo to use ANGLE on Windows, which is on the roadmap, so I feel like I should probably close this ticket. I was just waiting on an actual Servo developer to give a thumbs up or down

[2017-08-27 17:26] sviter commented on #18082
Got on the same site with latest nightly servo for wondows build

assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-08b9588
### Backtrace:
[code]

[2017-08-27 17:35] sviter commented on #8380
Can't reproduce with Servo 0.0.1-08b9588 on Win10

[2017-08-27 17:47] sviter commented on #9068
Can't reproduse this issue with Servo 0.0.1-08b9588 on Win10

[2017-08-27 17:54] sviter commented on #8989
Can't reproduse with Servo 0.0.1-08b9588 on win10

[2017-08-27 19:45] sviter opened #18263 "Servo crash when loading articles on http://journals.plos.org/plosone/"
Load any article (http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181301 for exemle). Wait a bit. Servo will crash.

[2017-08-28 01:20] jdm commented on #18263
[code]

[2017-08-28 02:41] shinglyu commented on #18256
So the main difference you are proposing is step 3 to 5? If so (and if it's not possible to fix the vs shell anytime soon) I think it's worth adding a troubleshooting sub-section under the window build section in the README. Nice job finding an workaround.

[2017-08-28 02:42] shinglyu commented on #18055
Which exact folder did the vs shell `cd`'d to? Is it some kind of default directory? Can we force execute a `cd` to `servo` using absolute path after we start the vs shell?

[2017-08-28 03:44] shinglyu commented on #12988
I don't think people are focusing on this right now. Enabling this will require extra man power to monitor and maintain the CI (and AWS budget), so I'd suggest we delay this until we really need to focus on performance tuning for servo itself.

[2017-08-28 03:48] shinglyu commented on #12675
@murarisumit The JSON output looks nice. Feel free to open a PR.

[2017-08-28 05:23] tigercosmos commented on #18256
@shinglyu  Step 1 is also different. Instead of installing VS 2017 IDE, I install VS 2017 tool only.

[2017-08-28 05:31] tigercosmos commented on #18055
It will enter `C://..../source`. Let me check later.
It's possible to force `cd` to `servo` in `mach.bat`, just add `cd path/to/servo` at the end.

[2017-08-28 06:38] emilio commented on #12675
cc @mihajlija, which was looking into something like this.

[2017-08-28 08:51] BorisChiou commented on #18253
cc @hiikezoe

[2017-08-28 08:53] #18108 closed

[2017-08-28 08:54] hiikezoe commented on #18253
Basically we need ToAnimatedZero for properies in nsSMILCSSProperty::IsPropertyAnimatable().
https://hg.mozilla.org/mozilla-central/file/d10c97627b51/dom/smil/nsSMILCSSProperty.cpp#l172

[2017-08-28 09:08] murarisumit commented on #12675
hi @shinglyu, there are many changes since my last commit. My forked repo is around 3000 commit behind the master, and there are changes in master repo that I'm not aware of it.

I've merge it with the current master repo, let me know what next should I do next with it ?

[2017-08-28 09:34] birtles commented on #18253
We only need it to not error for additive property types. Specifically float, percent, coord, and color.
http://searchfox.org/mozilla-central/rev/18c16ebf818abb86805ce08a6e537e4cd826f044/dom/smil/nsSMILCSSValueType.cpp#90

[2017-08-28 09:38] nox commented on #18253
That doesn't explain a lot to me. Why is it a trait at all if only 4 things are supposed to support it? Don't types that transitively use float, percent, coord, and color (whatever these are) also need to support that?

[2017-08-28 09:39] nox commented on #18253
It also doesn't tell me *what kind* of values they should return. Are they presented to the users? For example, would it be more convenient for the animated zero of a filter list to be an empty filter list, or a list of the animated zeros of each filter?

[2017-08-28 10:11] mateon1 opened #18270 "Panic with profiler option: Data must be sorted"
When running servo with the `-p` flag, for example `./mach run -d -p 15` (but this happens more reliably in release mode with debug set in Cargo.toml)

[code]

[2017-08-28 13:08] mrobinson opened #18273 "Intermittent failure in /_mozilla/css/css-position-3/position-sticky-margins.html, /_mozilla/css/css-position-3/position-sticky-left.html, /_mozilla/css/css-position-3/position-sticky-right.html, /_mozilla/css/css-position-3/position-sticky-top.html, /_mozilla/css/css-position-3/position-sticky-bottom.html, /_mozilla/css/css-position-3/position-sticky-table-thead-top.html, /_mozilla/css/css-position-3/position-sticky-flexbox.html; /_mozilla/css/css-position-3/position-sticky-table-th-bottom.html, /_mozilla/css/css-position-3/position-sticky-table-tr-bottom.html, /_mozilla/css/css-position-3/position-sticky-table-th-top.html, /_mozilla/css/css-position-3/position-sticky-table-tfoot-bottom.html, /_mozilla/css/css-position-3/position-sticky-table-tr-top.html, /_mozilla/css/css-position-3/position-sticky-table-th-right.html"

[2017-08-28 15:18] cbrewster opened #18277 "Incorrect Document can be used when creating elements during parsing"
Step 1 of https://html.spec.whatwg.org/multipage/#create-an-element-for-the-token states that the intended parent's node document should be used when creating a new element during parsing.

We currently use the document that is associated with the parser. (line 795)
https://github.com/servo/servo/blob/96b4e064a1f0b0fc1ee2811d0c1b528f85a718c6/components/script/dom/servoparser/mod.rs#L787-L804

This

[2017-08-28 16:53] tigercosmos commented on #17267
It seems the issue is still not fixed. I would like to try.
![](https://raw.githubusercontent.com/tigercosmos/webImg/master/servo-1.PNG)

[2017-08-28 17:00] jdm commented on #9068
Me either.

[2017-08-28 17:00] #9068 closed

[2017-08-28 17:06] jdm opened #18278 "Merge fetch request type and destination"
Per https://github.com/whatwg/fetch/issues/581 and https://github.com/whatwg/fetch/pull/582, we will want to update our implementation to match the specification text.

[2017-08-28 17:14] highfive commented on #18270
cc @fitzgen

[2017-08-28 17:17] jdm commented on #8989
Thanks for checking!

[2017-08-28 17:17] #8989 closed

[2017-08-28 17:29] #18186 closed

[2017-08-28 17:40] mbrubeck commented on #17667
For bugs in incremental layout, my first step is to check that the correct "restyle damage" is inserted when an element's style changes.  For CSS transitions, the style change happens in [update_style_for_animation][1].  I notice this method's doc comment talks about a `damage` parameter that no longer exists since https://github.com/servo/servo/commit/6d67525172811f203220f02defa7b4635e6414c8, whi

[2017-08-28 19:08] jdm commented on #15506
https://www.reddit.com/r/rust_gamedev/comments/6wbgt4/announcing_the_gltf_crate/

[2017-08-28 20:02] ferjm opened #18284 "An observer disconnected after a mark must receive the mark"
The following test from [web-platform-tests/performance-timeline](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/performance-timeline/po-disconnect.any.js) is failing:

[code]

We should probably not remove the observer from the list while the [pending_notification_observers_task flag](https://github.com/servo/servo/blob/master/components/script/dom/performance.rs#L170) is

[2017-08-28 20:03] highfive commented on #18284
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-28 20:12] ferjm opened #18285 "Performance observer must replace observer if it's already present"
It seems that we are not implementing [step 3](https://w3c.github.io/performance-timeline/#dom-performanceobserver-observe()) from the `PerformanceObserver.observe()` method spec properly.

Test: [web-platform-tests/performance-timeline/po-observe.any.js](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/performance-timeline/po-observe.any.js#L35).

[2017-08-28 20:12] highfive commented on #18285
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-28 20:17] ferjm opened #18286 "Make PerformanceObserver work in workers"
We are crashing at [PerformanceObserver.observe()](https://github.com/servo/servo/blob/master/components/script/dom/performanceobserver.rs#L113) and [PerformanceObserver.disconnect()](https://github.com/servo/servo/blob/master/components/script/dom/performanceobserver.rs#L121) because we assume the global object is always a Window, which might not always be true.

[2017-08-28 20:20] ferjm commented on #18286
Tests: https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/performance-timeline

[2017-08-28 20:49] nimtiazm opened #18288 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-5ddc446a64
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-08-28 21:08] jdm commented on #18284
Run the test with `./mach test-wpt tests/wpt/web-platform-tests/performance-timeline/po-disconnect.html`

[2017-08-28 21:09] jdm commented on #18288
What page were you looking at?

[2017-08-28 21:23] nimtiazm commented on #18288
I just clicked on Reddit from servo startup.

[2017-08-28 21:25] nimtiazm commented on #18288
I'm using macOS Sierra on Mid 2015 MBP.

[2017-08-28 22:11] birtles commented on #18253
What's the purpose of this issue?

[2017-08-28 22:31] nox commented on #18253
@birtles Am trying to check the correctness of the few impls listed in the issue. @hiikezoe mentions a list of properties from Gecko's code and I see `font-stretch` in it, but our implementation of `ToAnimatedZero` just returns `Err(())`, so surely that's not correct, right?

If that is indeed wrong, I'll just check according to the list and do the necessary fixes.

[2017-08-28 22:39] birtles commented on #18253
Yes, that sounds wrong since `font-stretch` should be additive per [SVG](https://www.w3.org/TR/SVG11/text.html#FontStretchProperty).

It looks like Gecko is buggy here. On the one had [it makes it additive](http://searchfox.org/mozilla-central/rev/cd82cacec2cf734768827ff85ba2dba90a534c5e/layout/style/StyleAnimationValue.cpp#2921) but it doesn't suppose a zero value for enumerated types so this pro

[2017-08-28 22:45] birtles commented on #18253
Basically, `ToAnimatedZero` should be supported for any properties that are _both_ (a) animatable by SMIL and (b) additive, where (b) is obviously a subset of (a). Clearly Gecko has some gaps in this, however.

Also (and I think we have a comment about this somewhere), its only purpose is to support SMIL's _by-animation_ where we say "animate from the underlying value by _x_ amount". Internally th

[2017-08-28 22:50] nox commented on #18253
@birtles Thanks for the explanations, I'll go through the list and use your links to try to find out what is done in Gecko.

[2017-08-28 23:17] jdm opened #18289 "Intermittent pass in /html/semantics/embedded-content/media-elements/event_order_loadstart_progress.html"
[code]

[2017-08-28 23:17] atouchet commented on #18098
@jdm is there any process for bisecting which PR caused a regression in Servo or do you just build each version and test them all manually? Are there downloads for individual PR builds available anywhere aside from the nightly builds?

[2017-08-28 23:58] jdm commented on #18098
There are no historical nightly downloads available as far as I am aware.

[2017-08-29 03:52] atouchet commented on #17963
Was this supposed to have been fixed in #18020? I am still able to reproduce the issue.

[2017-08-29 06:49] ferjm commented on #18219
It seems that this is still an issue https://github.com/servo/servo/pull/18280#issuecomment-325539612

[2017-08-29 07:18] NiLSPACE commented on #18216
The crash seems to be fixed, but I still don't get forwarded properly.

[2017-08-29 09:07] CYBAI commented on #11091
Hi @jdm

I'm curious that if there's any features not implemented yet related to `ServiceWorker`.
There're still some checkbox not checked in the description in this issue but I saw there're some PRs related to `ServiceWorker` merged from @creativcoder 's repo for [gsoc16](https://github.com/creativcoder/gsoc16).
If there's any, I'd like to contribute for it 😄

Thanks!

[2017-08-29 09:57] creativcoder commented on #11091
Hi @CYBAI There is a lot left :) The last part which i was working on is the [Update](https://w3c.github.io/ServiceWorker/#update-algorithm) algorithm. You can start [there](https://github.com/servo/servo/blob/master/components/script/serviceworkerjob.rs#L285) if you want, (though i still have it on my local and plan on updating it)

But before we implement it i think;
The parts that you can start

[2017-08-29 10:10] Boscop commented on #9147
Can servo be embedded as a CEF compatible lib right now (on windows)?

[2017-08-29 11:43] BrunoBernardino commented on #17963
It was not @atouchet , it's only not throwing a JS exception anymore with that.

[2017-08-29 11:46] CYBAI commented on #11091
Hi @creativcoder

Thanks for you reply!
I'm very interested in whole `ServiceWorker` structs. If I can, I'd like to check the current structs related to `ServiceWorker` in Servo, and update them with new spec.
I'm looking forward to hearing @jdm 's and your advices 😄
Thanks!

[2017-08-29 12:38] mrobinson commented on #18273
Adding a few more tests to the list here.

[2017-08-29 12:40] mrobinson commented on #18273
It doesn't seem like the intermittent tracker is using the most recent title. @jdm, is this just a matter of waiting for it to refresh?

http://build.servo.org/intermittent-tracker/query.py?name=sticky

[2017-08-29 14:43] jdm commented on #18273
Fixed. Closing and reopening an issue refreshes its title in the database.

[2017-08-29 14:45] jdm commented on #9147
Fundamentally there is no reason that should not work, but since we rarely try the actual embedding it's probably broken at the moment.

[2017-08-29 14:50] Boscop commented on #9147
But it's part of the tests, so it should build, right?

[2017-08-29 14:53] jdm commented on #9147
The library builds as part of CI. There is no automated test that it works correctly.

[2017-08-29 14:59] atouchet commented on #17978
This appears to be fixed now.

[2017-08-29 15:19] atouchet opened #18294 "Servo interface doesn't respond to window resize"
Steps to reproduce:

1. Load Servo.
2. Resize the Servo window.
3. The Servo interface and current web page do not change to match the new window size.

Tested in Windows 10. I believe this is a recent regression as I did not run into this issue previously.

Images:

Initial Servo window:

![Servo window small](https://i.imgur.com/8EbigZ9.png)

Servo window resized to fullscreen:

![Servo window b

[2017-08-29 16:05] BojanKogoj opened #18296 "High memory usage"
**Url**: https://en.wikipedia.org/wiki/Portal:Contents

![image](https://user-images.githubusercontent.com/634075/29831002-1c008b58-8ce4-11e7-9ef8-13caca499443.png)

With Servo Nightly, happens on Windows 10 and Linux

In the end it crashes.

[2017-08-29 18:48] jdm opened #18297 "Tweetdeck sign in panics"
Visit https://tweetdeck.twitter.com, press the log in button. This panics for me on macOS nightly.
[code]

[2017-08-29 18:50] jdm opened #18298 "Twitter overflows render backend stack"
I opened https://twitter.com in a debug build and scrolled around looking for the login button. After a bunch of scrolling, I found:
[code]

[2017-08-29 18:53] jdm opened #18299 "Login button missing on twitter.com"
Firefox:
<img width="1552" alt="screen shot 2017-08-29 at 11 53 38 am" src="https://user-images.githubusercontent.com/27658/29838676-b7471dfe-8cb0-11e7-8c4c-0e7122d72515.png">

Servo:
<img width="1058" alt="screen shot 2017-08-29 at 11 53 01 am" src="https://user-images.githubusercontent.com/27658/29838649-a1272bfe-8cb0-11e7-83e5-84f123619a78.png">

[2017-08-29 19:10] #15934 closed

[2017-08-29 20:14] jdm commented on #18299
Minimal reproduction:
[code]

[2017-08-29 20:16] jdm commented on #18299
It's the combination of a relative sibling of an absolute block that hits us here. This might be related to #16462 or #16410.

[2017-08-29 20:18] jdm commented on #18297
cc @glennw

[2017-08-30 00:16] mbrubeck commented on #18228
Here's one from servo-mac2 http://build.servo.org/builders/mac-dev-unit/builds/8972

[2017-08-30 02:08] #14813 closed

[2017-08-30 02:30] paulrouget commented on #15934
Thank you @gterzian

[2017-08-30 08:24] sviter commented on #2160
No crash for me on current servo

[2017-08-30 10:03] sviter opened #18307 "Crash on https://www.uber.com/en-AU/careers/ when attempt scrolling"
Go to https://www.uber.com/en-AU/careers/ and try to scroll. On Win10 servo close without any message

[2017-08-30 10:05] glennw commented on #17840
I believe this is resolved now. Please re-open if still occurring.

[2017-08-30 10:05] #17840 closed

[2017-08-30 10:05] glennw commented on #17857
I believe this is resolved now. Please re-open if still occurring.

[2017-08-30 10:05] #17857 closed

[2017-08-30 10:41] ferjm opened #18308 "The value of Performance.now() is incorrect in Workers"
The current implementation for [Performance.now()](https://github.com/servo/servo/blob/master/components/script/dom/performance.rs#L231) uses `Performance.timing` navigation start as the time origin to calculate the current time. But `Performance.timing` should not be exposed in Workers (although it currently is).

The spec for [Performance.now()](https://w3c.github.io/hr-time/#dom-performance-now

[2017-08-30 10:42] highfive commented on #18308
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-08-30 10:42] ferjm commented on #18308
This should probably wait until #18286 is done

[2017-08-30 11:02] ferjm commented on #18308
Actually... I'll fix it along with #18286. Sorry for the noise.

[2017-08-30 11:26] mateon1 commented on #6564
I hit this issue after following some links on Twitter. To reproduce, go to http://twitter.com/chrisledlin and scroll down a few screens worth.

[2017-08-30 12:29] mateon1 opened #18312 "JS garbage collector crash"
@emilio on IRC told me to post this issue here

While browsing through wikia.com, Servo crashed with the following stack trace, this crash is not (easily) reproducible.

[code]

/cc @jdm

[2017-08-30 13:31] mateon1 commented on #18312
I managed to get an rr trace of this crash, unfortunately I didn't know about --debug-mozjs. I'll try to reproduce it after rebuilding with that flag.
I am willing to debug this over IRC.
Here's the backtrace, it's a segmentation fault, and `print *objp` gives a shady `$1 = (JSObject *) 0x7ffffffffff2`
[code]

[2017-08-30 14:35] jdm commented on #2160
Actually, let's leave this open until someone tries it on linux.

[2017-08-30 16:01] pylbrecht commented on #18284
I'd like to get my hands dirty on this. As I'm completely new to Servo and contributing at all, are there any resources where I can read up on performance observers, like what they are and what they have to do with the DOM? I guess [this document](https://w3c.github.io/performance-timeline/) from [#18285](https://github.com/servo/servo/issues/18285) may be relevant?

[2017-08-30 16:12] jdm commented on #18284
That is the specification that defines the PerformanceObserver API, yes. https://developer.mozilla.org/en-US/docs/Web/API/Performance_Timeline may also be useful.

[2017-08-30 16:22] ferjm commented on #18284
Thank you for your interest on this task @pylbrecht :). You may want to work on top of #18283 as `Performance.mark` is required to test the fix for this issue.

[2017-08-30 17:31] jdm opened #18315 "Live GC cells at shutdown"
[code]
[code]

[2017-08-30 17:32] jdm commented on #18315
Original testcase loaded https://ipfs.io/ipfs/QmPiGRTKZLuHwxxCAjARy2MxW2ZQRY4QLMQFHRvbVQFLFh/index.html and the network I/O might be important to reproduce this.

[2017-08-30 18:35] mrobinson commented on #8313
Thanks!

[2017-08-30 18:35] #8313 closed

[2017-08-30 19:53] pylbrecht commented on #18284
Alright, let's do this. Thanks for the hints!
@highfive: assign me

[2017-08-30 19:53] highfive commented on #18284
Hey @pylbrecht! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-30 23:26] jdm opened #18318 "SM assertion failure"
With debug-mozjs, visiting danballwikia_afl.html from https://ipfs.io/ipfs/QmWzXFXeoBuMJaBD3sHny2TztawVetvybSNWNHJEJU566f/GC_crash.tgz yields:
[code]

[2017-08-30 23:28] jdm commented on #18318
It would probably be most efficient to catch this in rr and follow it backwards.

[2017-08-31 02:01] jonathandturner commented on #16771
@CAfromCA - sorry for the delay.  Yes, let's go ahead and close this and lean on the ANGLE work to fill our our device support.

Thanks again.

[2017-08-31 04:00] shinglyu commented on #12675
@murarisumit So are you having trouble rebasing (taking in the master changes) or creating a PR?
If you are having trouble rebasing, check out [my blog post](https://shinglyu.github.io/web/2016/11/08/servo-rebase-and-squash-guide.html).

Otherwise, push your code to your fork and go to servo/servo's Pull requests page, there is a button to create a pull request. We can then continue to review and

[2017-08-31 07:48] paulrouget opened #18323 "let the embedder cancel/redirect/resolve URLs"
At the moment, Servo ask the embedder if it can load a link via `AllowNavigation`.

We might also want to let the embedder rewrite the URL.

[code]

If the embedder wants to let Servo load the page, it would just send:

[code]

If the embedder doesn't want Servo to load the page and handle the link itself (for example, mailto:foo@bar.com) :
[code]

If the embedder wants to redirect a page, for exa

[2017-08-31 07:50] paulrouget commented on #18323
Also - if we agree on this, we could also move `resolve_chrome_url` from libservo to the embedder.

[2017-08-31 09:59] SimonSapin commented on #11361
https://github.com/servo/servo/pull/18325 does not fix this (I think rustup should completely replace our bootstrapping mechanism eventually), but it’s a step.

[2017-08-31 10:35] mateon1 opened #18326 "assertion failed: !descendant_link.has_reached_containing_block"
Found on apple.com and abs-cbn.com

Minimal crashing test:
[code]

[code]

[2017-08-31 12:05] asajeffrey commented on #18323
Should the embedder also  be allowed to provide the content itself?

This is starting to sound like Servo should be parameterized by the HTTP client library.

[2017-08-31 14:16] jdm commented on #18323
An enum for the various cases would make more sense to me.

[2017-08-31 14:34] tigercosmos commented on #18285
@highfive: assign me

[2017-08-31 14:34] highfive commented on #18285
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-08-31 16:36] jdm opened #18328 "Intermittent failure in /_mozilla/mozilla/getBoundingClientRect.html"
[code]

[2017-08-31 17:37] mateon1 opened #18329 "RTL layout: assertion failed: self.mode == other"
Minimal crashing testcase:
[code]

[code]

[2017-08-31 19:30] mateon1 opened #18331 "RTL layout: assertion failed: self.mode == other.mode"
While this is similar to #18329 - the assertion is just a few lines apart, the backtrace is different enough I believe it should be its own issue.

Minimal testcase:
[code]

[code]

[2017-08-31 20:19] BojanKogoj commented on #18307
Can confirm, but doesn't happen if I run it from Command Prompt like this
`servo.exe https://www.uber.com/en-AU/careers/`

[2017-08-31 20:22] BojanKogoj commented on #18294
It, however, works fine if you run in from CMD with website address, such as
`servo.exe https://en.wikipedia.org/wiki/Main_Page`

[2017-08-31 21:46] jdm commented on #18307
[code]

[2017-08-31 21:46] jdm commented on #18307
@mrobinson This might be up your alley.

[2017-08-31 21:54] atouchet opened #18333 "DuckDuckGo theme icons in sidebar no longer show up"
Website: https://duckduckgo.com/

When opening the DuckDuckGo sidebar on their homepage there should be four theme icons. These used to show up in Servo but are no longer visible in the most recent development builds aside from the outer selection indicator.

Image (Firefox on the left, Servo on the right):

![DuckDuckGo](https://i.imgur.com/vjzxvTv.png)

[2017-08-31 23:10] #16771 closed

[2017-09-01 02:22] #9372 closed

[2017-09-01 04:06] SimonSapin opened #18338 "Buildbot jobs fail intermittently with "exceptions.Exception: Actual commit (…) differs from requested commit (…)""
This is happening *a lot* lately. As in, every PR needs to be retried multiple times. CC @edunham @larsbergstrom @Manishearth

Example:

https://github.com/servo/servo/pull/18336#issuecomment-326481271

http://build.servo.org/builders/mac-rel-wpt1/builds/5713

![screenshot from 2017-09-01 06-03-21](https://user-images.githubusercontent.com/291359/29954865-4662f842-8edb-11e7-88e7-a7335355240e.png)

[2017-09-01 05:04] paulrouget commented on #18323
Gecko can do that by providing a channel.
Maybe later.

[2017-09-01 08:40] tigercosmos commented on #18285
@ferjm,  Should I follow the [`po-observe.any.js.ini` ](https://github.com/ferjm/servo/blob/221aef9f23f27e028d3110028f5c0d8381fbcb4b/tests/wpt/metadata/performance-timeline/po-observe.any.js.ini) to write new tests?

[2017-09-01 09:14] ferjm commented on #18285
@tigercosmos you can extend [po-observe.any.js](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/performance-timeline/po-observe.any.js) directly if you consider that new tests are needed. It seems that this case is already covered by the existing tests though.

If any change is made to the existing tests you have to [update the WPT manifest](https://github.com/servo/servo/t

[2017-09-01 11:54] nox commented on #18338
New messages

[2017-09-01 12:58] paulrouget opened #18343 "Move mach into a submodule?"
For 3rd party projects embedding Servo, on Linux and Mac, `cargo build` is enough to build servo, but mach is necessary on Windows. First to download the necessary dependencies, and then to set the proper env variables.

At the moment, we copy `mach`, `mach.bat` and `/python/` in the embedder code.

From the embedder perspective, it's not great to have to copy and tweak the python scripts.

Would

[2017-09-01 13:22] SimonSapin commented on #18343
How feasible is to make mach unnecessary in the first place? What are these dependencies and environment variables? Could they be handled by Cargo build scripts?

[2017-09-01 15:20] pylbrecht commented on #18284
Unfortunately I'm somehow unable to run the test.
I ran a debug build and executed the following commands (on top of [#18283](https://github.com/servo/servo/pull/18283)):

[`./mach test-wpt tests/wpt/web-platform-tests/performance-timeline/po-disconnect.html`](https://pastebin.com/7CjJ4Ft1)
This command confused me, because there is no `po-disconnect.html` file in that directory. But maybe I'm jus

[2017-09-01 15:35] larsbergstrom commented on #18338
There are two issues here:

1) the first step `git update` should not be green - there is this line in there:
[code]

I'm assuming this is the result of a `force` or otherwise cancelled build that needs to be cleaned up better.

2) It can be fixed manually with something like I did in:
https://github.com/servo/saltfs/issues/680#issuecomment-304304608

at the risk of "wow, that seems dangerous" I b

[2017-09-01 15:38] larsbergstrom commented on #18338
@aneeshusa @edunham Any reason you can think of for this behavior? Can't `cmd.run` right now:
[code]

[2017-09-01 15:43] aneeshusa commented on #18338
Works for me right now:
[code]

[2017-09-01 15:45] aneeshusa commented on #18338
Depending on how long moving to Taskcluster takes (e.g. #17580, servo/saltfs#559 and co), we may want to fork Buildbot and write/backport a better git plugin that's less prone to these issues.

[2017-09-01 15:57] aneeshusa commented on #18338
Also, I think a slightly safter version of your command would be
[code]
followed by
[code]

You didn't pass a `-name` or `-path` before, so that might just delete everything...

[2017-09-01 16:06] larsbergstrom commented on #18338
Aha, nice tweaks - I had noticed the `-name` thing before running it, luckily :-)

I just did:
[code]

For now, which is less than awesome. I didn't know about the `-delete` arg - that's fantastic!

[2017-09-01 16:42] jdm opened #18345 "Remove integrity check for no-cors requests"
The Fetch specification has been updated to allow non-empty integrity strings for requests that are marked as no-cors: https://github.com/whatwg/fetch/pull/584

We should remove the corresponding check in our implementation:
https://dxr.mozilla.org/servo/rev/3dceb111587178cdff60041d76a2544f275e6371/components/script/dom/request.rs#326-329

Unfortunately, there's no automated test available for thi

[2017-09-01 16:42] highfive commented on #18345
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-01 16:46] jdm opened #18346 "manifest_changed.sh returns 1 with empty output on travisci"
This started happening recently in a bunch of PRs that do not include any changes that should affect the WPT manifest. The lack of output suggests that it does not actually think that the manifest differs, so something else is going wrong.

[2017-09-01 16:46] highfive commented on #18346
cc @aneeshusa

[2017-09-01 16:58] TheDan64 commented on #18345
@highfive: assign me

I'd be interested in taking this on. Is this just a matter of removing that is_empty check or is there more to it?

[2017-09-01 16:58] highfive commented on #18345
Hey @TheDan64! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-01 20:55] pylbrecht commented on #18284
Just to be clear: the test is expected to PASS after resolving this issue and is just expected to TIMEOUT right now, because the required module(s) are not fully implemented yet (i.e. test driven approach)?

[2017-09-01 21:10] #18270 closed

[2017-09-01 21:29] jdm commented on #18284
Correct. The tests are shared between all multiple web browsers, so other browsers end up writing tests for features that aren't yet implemented in Servo.

[2017-09-02 02:42] #17598 closed

[2017-09-02 14:41] larsbergstrom commented on #18256
The work that @UK992 should have made it so that we work with the VS tools only and do not need Developer Command Prompt for VS 2017. @UK992 Do you have any opinions / ideas on this?

[2017-09-02 15:09] tigercosmos commented on #18256
But if I only install VS tool 2017, use `cmd` run `mach.bat` get
[code]
I think `mach.bat` should be modified.

[2017-09-02 16:42] jdm opened #18354 "Replace manual implementations of Runnable::name with automatic type name"
We have a [Runnable](https://doc.servo.org/script/script_thread/trait.Runnable.html) trait with a name method. This method is used to improve profiling output so we can tell at runtime which concrete runnable is being executed, so we have to duplicate the name of the type every time we create a new type that implements Runnable. We can remove all of that if we use this code for Runnable::name inst

[2017-09-02 16:42] highfive commented on #18354
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-02 17:23] toidiu commented on #18354
@highfive assign me

[2017-09-02 17:23] highfive commented on #18354
Hey @toidiu! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-03 02:50] jtracey commented on #18294
Same behavior on Linux (Xubuntu 16.04). The workaround of supplying an address as a terminal argument is effective in the sense that resize works properly, but also seems to make Browser.html not appear (i.e. no address bar, hamburger menu, etc.), I don't know if it's a related issue.

[2017-09-03 07:58] sviter commented on #12055
Can't reproduce this also on Win10

[2017-09-03 08:30] sviter opened #18356 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
http://en.wikipedia.org/wiki/Coyote
### Servo Version:
Servo 0.0.1-7cb47f1
### Backtrace:
[code]

[2017-09-03 08:45] sviter commented on #3873
I'v got memory leak on http://www.caltrain.com/schedules/weekdaytimetable.html

[2017-09-03 11:26] mateon1 opened #18357 "Tokens not found panic with JS-constructed <link> element"
Possibly related to #12799?

Minimal testcase:
[code]

Looking at this with a debugger shows that the `DOMTokenList` contains an `AttrValue` enum of kind `String`, rather than `TokenList`. Oddly, the string seems to be `"stylesheet"`, rather than the value of href.

[code]

[2017-09-03 12:31] nox commented on #18357
That's because the panic is about the `rel` attribute, not the `href` one.

[code]

[2017-09-03 12:41] nox commented on #18357
This is https://github.com/servo/servo/issues/17366 all over again, fixing it in a better way.

[2017-09-03 13:02] nox commented on #18357
Fix is https://github.com/servo/servo/pull/18358, thanks for the report @mateon1!

[2017-09-03 19:04] #18357 closed

[2017-09-03 22:41] #18354 closed

[2017-09-04 02:02] paulrouget commented on #18343
I believe so. And that would be awesome.

This is mostly needed for Windows.

What is necessary (but probably not enough, still investigating), is:
- downloading the dependencies (mach bootstrap)
- set env variables

A build script in the embedder can not set the variable for dependencies, so that annoying.

[2017-09-04 06:30] SimonSapin commented on #18343
Rather than trying to solve "set arbitrary env variables from the top-level build system", could we look at what individual variables are currently needed and what we can do about each? Presumably crates that don’t Just Work probably compile code in some non-Rust language with their own build script, which could be controlled by Cargo "features" and be responsible for setting env variables for use

[2017-09-04 21:09] emilio opened #18371 "`color` attribute changes on the `<font>` element aren't respected."
## Testcase

[code]

Servo doesn't honor the attribute change at all, and keeps the text red.

## Task

The task is basically adding the necessary infrastructure to properly handles dynamic changes to mapped attributes.

Mapped attributes are attributes that change the style of a given element (like the `color` attribute of the `<font>` HTML element).

For reference (no need to understand that cod

[2017-09-04 21:10] emilio commented on #18371
@pylbrecht is going to work on this.

Feel free to ask any question you may have!

[2017-09-04 21:49] #18256 closed

[2017-09-05 04:49] chenpighead opened #18374 "Perma build error for servo-mac6, causes mac-* test failures"
So far, the servo-mac6 build slave consistently reports "cargo[63125:490151272] Metadata.framework [Error]: couldn't get the client port" on all builds, which leads to failures like [mac-dev-unit](http://build.servo.org/builders/mac-dev-unit/builds/9085) in #18365 and [mac-rel-wpt3](http://build.servo.org/builders/mac-rel-wpt3/builds/1568) in #18373

[2017-09-05 05:50] iamneha commented on #11416
#18313

[2017-09-05 06:04] chenpighead commented on #18374
@larsbergstrom @edunham could you help handle this issue?

[2017-09-05 06:48] mrobinson opened #18377 "Nested position:tests are failing"

[2017-09-05 06:50] mrobinson opened #18378 "The bounds of position:sticky items are not reported properly in script"

[2017-09-05 06:52] mrobinson opened #18379 "Some position:sticky tests are still failing"
Some tests are failing that are not covered by other bugs. These tests include:
 * _mozilla/css/css-position-3/position-sticky-writing-modes.html

[2017-09-05 06:55] NiLSPACE commented on #17635
I also noticed that the CPU usage stays really high after the maze has been completed.

[2017-09-05 07:34] paulrouget commented on #18343
Yes, we could do that.

The python scripts do a lot more than just setting the variables. But I don't see why we couldn't migrate all the features, step by step, into build scripts.

[2017-09-05 13:54] JJayet commented on #18154
Hello everyone,

Here are the errors that pop-in:

- `mozjs-sys`:

[code]

- `harfbuzz-sys`:

[code]

- `servo-freetype-sys`:

[code]

I'm wondering if some of the errors could come from my Mac not having the right setup or if those libs do not have an iOS target.

[2017-09-05 14:26] MortimerGoro commented on #18154
@JJayet It seems that you are using mac frameworks to link iphone builds ("warning: using sysroot for 'MacOSX' but targeting 'iPhone").

All those 3 project use cmake/make based dependencies which may require setting some CXX or sysroot variables. I had to do many fixes for Android armv7/arm64 builds. See https://github.com/servo/servo/issues/11921

[2017-09-05 14:27] JJayet commented on #18154
@MortimerGoro Good to know, I'll look into it, thanks !

[2017-09-05 14:40] jdm commented on #16479
@WholeGrainGoats Are you still working on this?

[2017-09-05 15:03] larsbergstrom commented on #18374
I killed the buildbot process, so at least it should be gone for a little while. Sorry about this!

[2017-09-05 22:25] nox commented on #18371
What is `attribute_is_mapped` supposed to mean?

[2017-09-05 23:36] #18286 closed

[2017-09-06 06:41] Manishearth opened #18388 "Intermittent fail in /_mozilla/css/css-position-3/position-sticky-table-th-left.html , /_mozilla/css/css-position-3/position-sticky-table-tr-bottom.html, /_mozilla/css/css-position-3/position-sticky-table-tfoot-bottom.html"
https://github.com/servo/servo/pull/18385#issuecomment-327370347

[code]

[2017-09-06 06:42] Manishearth commented on #18379
See also: #18388

[2017-09-06 08:20] emilio commented on #18371
Whether an attribute is a mapped attribute? I don't think there's a spec term for that, the closest spec term would be something like "an attribute that generates a presentational hint on a given element".

[2017-09-06 11:36] ferjm commented on #18308
Fixed by  #18324

[2017-09-06 11:36] #18308 closed

[2017-09-06 12:47] nox opened #18392 "Consider using trait objects for micro tasks"
I understand that the rationale for using enums to represent queued micro tasks is that there is a way smaller set of micro tasks than there are tasks. On the other hand, using enums means that implementations of `MicrotaskRunnable` are far far away from the code that queues them, and that hurts code comprehension IMO.

Cc @jdm

[2017-09-07 06:54] sviter opened #18403 "Scroll doesn't work on https://blogs.dropbox.com/dropbox/"
Go to https://blogs.dropbox.com/dropbox/
You cant scroll down on this page

[2017-09-07 15:41] TheDan64 commented on #18345
Well, I guess someone decided to complete the issue while I was working on it.

[2017-09-07 16:41] #18371 closed

[2017-09-07 17:53] jdm commented on #15448
#16228 was going in the right direction but the author stopped responding.

[2017-09-07 18:53] #18109 closed

[2017-09-08 08:40] NiLSPACE commented on #18403
Perhaps related to #17088.

[2017-09-08 08:43] NiLSPACE commented on #18403
When I increase the size of Servo I am able to scroll down.

[2017-09-08 09:05] samal84 commented on #12051
Closing this as I see you made a whole new build system for Windows since I made this issue.

[2017-09-08 09:05] #12051 closed

[2017-09-08 09:46] nox opened #18419 "100% CPU on http://rocket.rs"
I suspect the background animation through JS to be the culprit.

[2017-09-08 09:47] SergioBenitez commented on #18419
http_s_

[2017-09-08 10:15] SimonSapin commented on #18419
FWIW this page also consumes unreasonable amounts of CPU in Firefox: https://github.com/SergioBenitez/Rocket/issues/26

[2017-09-08 14:39] jrasanen commented on #15448
So add tests for #15394 and extend wpt/web-platform-tests/dom/nodes/selectors.js for #15335 ?

[2017-09-08 19:06] #18284 closed

[2017-09-08 23:13] jdm opened #18424 "Intermittent timeout in /_mozilla/css/animations/basic-linear-width.html"
[code]

[2017-09-09 00:03] mateon1 opened #18425 "Image's origin is missing"
When visiting `https://www.servoexperiments.com/experiments/tiles`, a panic is sometimes triggered.
The panic happens about 1/4th to 1/5th of the time, and seems to be very sensitive to timing.

I could only reproduce this on 2719e6570574f2f911a9bf2cc085deeadd4a9ac2, built in release mode with no debug assertions. Any change in build configuration stops this from happening.

[code]
[code]

[2017-09-09 00:56] jdm opened #18427 "Intermittent pass in /html/semantics/embedded-content/media-elements/event_progress.html"
[code]

[2017-09-09 10:37] #15147 closed

[2017-09-09 10:53] gterzian commented on #12972
Sorry for the delay in getting started, I was busy with other things last couple of weeks, still committed to this one though, I'll try to take a first stab asap...

[2017-09-09 16:54] mateon1 opened #18432 "memory profiler: Attempt to subtract with overflow"
To reproduce: `./mach run -rz -m 1 about:blank`
This happens consistently in release mode with debug assertions, but it seems rare in debug mode.

Here's a debug mode stack trace I managed to get:

[code]

This line seems to be at fault: https://github.com/servo/servo/blob/master/components/profile/mem.rs#L184
which means `system_heap_allocated_size < system_heap_reported_size`.
In rr, the values

[2017-09-09 17:12] KiChjang commented on #16718
Fixed in #17083.

[2017-09-09 17:12] #16718 closed

[2017-09-09 21:19] highfive commented on #18432
cc @fitzgen

[2017-09-10 08:17] nox opened #18433 "Refactor the entire bluetooth stack"
I've just realised that how various bluetooth backends are represented in our stack is quite [misguided](https://github.com/servo/devices/blob/master/src/bluetooth.rs). There is no crate that contains common types to all backends, and instead the `devices` crate (which should just be a bluetooth crate but that's another story) has various enums where all variants are conditionally-included dependi

[2017-09-10 09:44] jrasanen commented on #13035
Can not reproduce the bug on macos sierra 10.12.6 and the latest master.

[2017-09-10 14:41] jdm commented on #13035
Yes, https://github.com/servo/servo/issues/13035#issuecomment-249486366 established that shadertoy does not cause Servo to panic any more. However, the underlying problem still exists.

[2017-09-10 15:42] mateon1 opened #18435 "assertion failed: first.offset <= last.offset"
Found by throwing Servo at homepages of top alexa sites.
Some affected sites:
[code]

Stack trace (from thebalance.com):
[code]

[2017-09-10 16:00] mateon1 commented on #17631
I found this on the following sites:
[code]

Here's a more useful stack trace (unfortunately in release mode)
[code]

[2017-09-10 16:10] mateon1 opened #18436 "called `Result::unwrap()` on an `Err` value: HierarchyRequest"
Found when throwing Servo at top alexa sites
Affected URLs:
[code]

Debug stack trace (radikal.ru):
[code]

[2017-09-10 16:14] rtbo commented on #6710
@nox, @padenot as briefly discussed in this [cult PR](https://github.com/padenot/cult/pull/2), I'd like to contribute to web audio implementation.
Has there been some code written on the topic since [master...dmarcos:webaudio-kickoff](https://github.com/servo/servo/compare/master...dmarcos:webaudio-kickoff)? Is it available somewhere on github?

[2017-09-10 16:26] mateon1 opened #18437 "Float position error"
This might be a duplicate of #11424, but I don't think so as this assertion can be hit without resizing (or any user interaction)

Affects http://streamcloud.eu and http://besoccer.com

Stack trace (streamcloud.eu):
[code]

[2017-09-10 16:31] mateon1 commented on #18297
Also affects `http://cibercuba.com`, `http://bab.la`, `http://joq.al`, `http://worldofwarcraft.com`, with no user interaction.

[2017-09-10 16:43] mateon1 opened #18438 "Option::unwrap() on None in WindowBinding::get_location"
Found on http://baskino.co, could not reproduce this a second time.

Stack trace (release mode):
[code]

[2017-09-10 16:46] mateon1 commented on #17100
Stumbled upon this while trying to reproduce #18438 (on baskino.co)

<details>

[code]

</details>

[2017-09-10 17:04] mateon1 opened #18439 "assertion failed: self.load.is_none()"
While trying to reproduce #18438 (http://baskino.co), I hit this assertion instead. I could not reproduce it a second time (but that URL is a gold mine).

Note: This panic happened **after** the `Shutting down the Constellation after generating an output file or exit flag specified` message was printed.

stack trace:
[code]

[2017-09-10 17:39] mateon1 opened #18440 "no current element and `assertion failed: self.reflow(ReflowGoal::ForScriptQuery, ...` on movieweb.com"
Found visiting `http://movieweb.com`. Neither panic could be reproduced a second time. (I believe they were caused by ads)

There are two panics here, the first - `no current element`, the second, in another pipeline - `assertion failed: self.reflow(ReflowGoal::ForScriptQuery, ReflowQueryType::NodeOverflowQuery(node), ReflowReason::Query)`

[code]

[code]

[2017-09-10 17:54] mateon1 opened #18441 "WebRender: assertion failed: !self.nodes.contains_key(&id)"
100% reproducible when visiting http://eztv.ag

[code]

[2017-09-10 19:06] jdm commented on #18441
@mrobinson Looks like this might be related to position: sticky.

[2017-09-10 19:07] jdm commented on #18440
@cynicaldevil Interesting parser assertion failure in case you want to check it out.

[2017-09-10 19:08] jdm commented on #6710
No, but @ferjm has spent a bunch of time looking into how to implement this in servo and may be able to provide input before he goes on parental leave :)

[2017-09-10 19:09] jdm commented on #18435
cc @glennw

[2017-09-10 19:11] jdm commented on #18439
This is a symptom of the more general problem we have that quitting Servo while a load is in progress triggers a panic.

[2017-09-10 20:50] jonathandturner opened #18442 "Speedometer 2.0 fails at backbone test"
If you run the [Speedometer 2.0 test on AWFY](https://mozilla.github.io/arewefastyet-speedometer/2.0/), with the latest Servo you can get through the 20 or so tests but then it will stop on the Backbone test at `BackboneJS-TodoMVC(22 / 480)`:

<img width="918" alt="screen shot 2017-09-11 at 8 47 02 am" src="https://user-images.githubusercontent.com/547158/30252865-f7de1792-96cd-11e7-9c04-0da9d315a

[2017-09-10 20:53] cynicaldevil commented on #18440
Cool, I'll look into it.

[2017-09-10 21:13] jonathandturner commented on #18442
I'm having deja vu about this one.  Is this related to needing to bump the mozjs/sm version?

[2017-09-10 21:51] KiChjang commented on #15270
I'm not sure if this is still desired. Can anybody weigh in on this?

[2017-09-10 21:53] DominoTree commented on #15270
Sounds like it's more effort to use a parameterized version than to leave it as is

On Sun, Sep 10, 2017 at 17:52, Keith Yeung <notifications@github.com> wrote:

[2017-09-10 22:11] KiChjang commented on #18442
Here's the surrounding context of the error:
[code]
Here, I'm suspecting that [`querySelectorAll`](https://www.w3.org/TR/selectors-api/#interface-definitions) here was not able to select any elements, causing the [indexed getter](https://dom.spec.whatwg.org/#dom-nodelist-item) to return undefined.

[2017-09-11 11:32] #18285 closed

[2017-09-11 12:09] ferjm commented on #6710
The implementation of WebAudio in Servo is now part of a bigger plan for bringing Gecko's media capabilities to Servo. The plan is a bit different to what @dmarcos started with https://github.com/servo/servo/compare/master...dmarcos:webaudio-kickoff. The basic idea is to make use of as much of Gecko's media stack as possible in a way that "only" the DOM facing code and its corresponding bindings w

[2017-09-11 22:00] rtbo commented on #6710
Does that mean that there is no more plan to use `rust-media` in servo?
Although Web audio is a though task to implement, I'd thought native rust implementation would have been preferred over bindings. (not mentionning so much coding and debugging fun will be missed!)

[2017-09-11 22:26] jdm commented on #6710
Correct; rust-media was an experiment that was never actually used. It makes more sense to rely on battle-hardened libraries in this case.

[2017-09-12 03:16] peterbb commented on #18164
After downloading a page from Wikipedia and removing most of the code, I've come up with a minimal example which seems to produce the error:

    <!DOCTYPE html>
    <html>
        <head>
            <style>
                .mw-body-content {
                    position: relative;
                    z-index: 0
                }
            </style>
        </head>
        <body>
            <div

[2017-09-12 09:39] paulrouget commented on #15734
Ideally, every time the compositor proxy wakes up the event loop, servo would call Servo::handle_events automatically, and pull the WindowEvents from somewhere. Then the embedder doesn't need to handle the special case of when there's no events to send to servo.

[2017-09-12 13:41] #18224 closed

[2017-09-12 16:24] MortimerGoro opened #18464 "texelFetchOffset wrong value on Android?"
Hello,

I'm researching some Android problems (https://github.com/servo/servo/issues/17621 and https://github.com/servo/servo/issues/17851). I found that both problems happen on some Android devices (Google Pixel and Nexus 6) but work ok in Samsung Galaxy 7.

I have created a small test with just a  262x372 image in a html and the image is upside down on Google Pixel but ok in S7.

Doing some test

[2017-09-12 16:41] MortimerGoro commented on #18464
ups, I wanted to create this on Webrender repo, not in Servo. Moved to https://github.com/servo/webrender/issues/1694

[2017-09-12 16:41] #18464 closed

[2017-09-12 18:07] danielj41 commented on #15763
The original error was fixed by https://github.com/servo/servo/pull/17083. Now there are two new errors:

[code]

where `i` is a `CanvasRenderingContext2D`.

I can get the same behavior in Firefox by running `delete CanvasRenderingContext2D.prototype.measureText` before clicking "Start!"

[2017-09-12 19:32] mateon1 opened #18467 "entered unreachable code at script/dom/globalscope.rs:505"
Found on http://idokep.hu, but not reproduced

Stack trace (release mode):
[code]

[2017-09-12 19:42] jdm commented on #15763
That's tracked in https://github.com/servo/servo/issues/5411.

[2017-09-12 19:45] asajeffrey commented on #18467
IRC  chat at http://logs.glob.uno/?c=mozilla%23servo&s=12+Sep+2017&e=12+Sep+2017#c751150

TL;DR: there are still some switches on globals that aren't exhaustive.

[2017-09-12 19:47] mateon1 opened #18468 "assertion failed: RUST_JSID_IS_STRING(id)"
Found on 101xp.com, 100% reproducible (currently reducing a testcase).

[code]

[2017-09-12 19:49] asajeffrey opened #18469 "Statically ensure that switches on globals are exhaustive"
We have some `unreachable()!` code that depends on switches on globals being exhaustive, which is easy to get wrong, e.g. https://github.com/servo/servo/blob/72f0fda836ff97d33169cd1fc0d23d2d07ad74c6/components/script/dom/globalscope.rs#L495L506

This is most likely the root cause of #18467.

[2017-09-12 19:50] asajeffrey commented on #18469
IRC chat at http://logs.glob.uno/?c=mozilla%23servo&s=12+Sep+2017&e=12+Sep+2017#c751150

[2017-09-12 19:50] jdm commented on #18468
This triggers the assertion:
[code]

[2017-09-12 19:53] jdm commented on #18468
Given that the failing function is called `string_jsid_to_string`, it looks like the generated code is making a faulty assumption here that the key will already be a string.

[2017-09-12 20:16] mateon1 commented on #18441
Reduced testcase:
[code]

[2017-09-12 20:35] mauricioc commented on #18442
Can I take this bug? It seems like the test is creating the checkboxes by simulating typing and pressing Enter on an input element. Servo is not handling the Enter keypress correctly for some reason (the event does not reach jQuery, and so it also doesn't reach the TodoMVC JS code), and I would like to investigate a bit.

[2017-09-12 21:01] jdm commented on #18442
Ooh, please do! Glad to hear you have a theory.

[2017-09-12 21:24] KiChjang commented on #18442
You may want to look at .https://github.com/servo/servo/blob/master/components/script/textinput.rs

[2017-09-12 21:38] mauricioc commented on #18442
So, https://github.com/servo/servo/blob/master/components/script/dom/document.rs#L1393 also seems relevant. It seems we only trigger keypress events when they correspond to a printable key, which (naively) we would only get keyup and keydown events for pressing Enter, but never keypress. Does this seem plausible, or is it the kind of thing which would manifest itself in popular websites?

[2017-09-12 22:14] jonathandturner opened #18471 "Reddit fails during layout"
Opening reddit on the latest nightly, I see:

[code]

[2017-09-12 22:21] jdm commented on #18442
Easy test:
[code]
I only see output when pressing keys like 'a', 'f', '5'. Enter does not trigger it.

[2017-09-12 22:22] mateon1 commented on #18471
I think this might be a duplicate of #17176. The panic message is different, but the panic happens in the same function, `build_display_list_for_background_if_applicable`.

[2017-09-12 22:25] jdm commented on #18442
I believe the `is_printable()` check is attempting to address this text from the specification:
[code]
(https://w3c.github.io/uievents/#event-type-keypress)
I suspect that enter is supposed to be treated as a \n [character value](https://w3c.github.io/uievents/#character-value) in this case, so perhaps printable is the wrong concept to be using.

[2017-09-12 22:47] mateon1 opened #18472 "outdated png crate: various panics"
The png crate (and the image crate) needs to be updated. I have found a few images that crash servo:

1. `Subtract with overflow` in outdated `inflate-0.1.1` crate (required by `png-0.6.2`, current is `png-0.9.0`
I believe this one may be fixed in a newer version of inflate
Image that causes the bug: http://en.blitzortung.org/Flags/eu.png

2. `index _ out of range for slice` in outdated `png` crat

[2017-09-12 22:47] highfive commented on #18472
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-12 22:48] jdm commented on #18472
This requires updating the appropriate Cargo.toml files (components/net, for one) to use the more recent image crate.

[2017-09-12 23:33] nox opened #18473 "Some MallocSizeOfOps methods should be unsafe"
Specifically, `malloc_size_of` and `malloc_enclosing_size_of`.

Cc @nnethercote

[2017-09-13 00:50] toidiu commented on #18468
@jdm I can take a look at this.

[2017-09-13 01:36] tigercosmos commented on #18472
I can't see ` http://st1.skybet.com/static/bet/img/cross-sell/sky-poker.png`
[code]

[2017-09-13 01:48] jdm commented on #18468
Great! The code in question is generated from CodegenRust.py. please ask questions if anything is unclear!

[2017-09-13 04:17] mauricioc commented on #18442
Apologies, I made a mistake! There are two issues related to TodoMVC:

1) When running the Backbone.js version of TodoMVC from [0], the Enter key does not work. This is because the glutin frontend sees that Enter is a control character [1] and handles it differently, making the `is_printable()` check mentioned by @jdm return false. This does not match Firefox or Chrome, so I will file a separate b

[2017-09-13 04:38] jdm commented on #18442
Oh, that will be fixed by https://github.com/servo/servo/pull/17896. However, we need to release a new version of html5ever before that can merge.

[2017-09-13 04:50] mauricioc commented on #18442
Good to know, thanks! So I guess the bug @jonathandturner found is already fixed :) I'll look at the other one (item 1) as soon as possible.

[2017-09-13 05:51] mateon1 commented on #18472
@tigercosmos
Here's a mirror: https://ipfs.io/ipfs/QmaZWR9AGS5Ydvd2WHeL3W6igNv2t5j1BXjSTWTiVgRaEy/sky-poker.png

[2017-09-13 06:17] paulrouget opened #18475 "Too many `use` when using libservo"
When using libservo in a third party project, all these paths expose some internal informations we don't need to know about:

[code]

I'm not sure we want to expose all these intermediate path, like `msg::constellation_msg`, `webrender_api`, `compositing::windowing`, …

[2017-09-13 08:04] mateon1 opened #18477 "Option::unwrap() on None in script::dom::node::iframe_browsing_context_id"
Found on http://lyricsfreak.com - reproducible

[code]

[2017-09-13 08:07] nox commented on #18467
I am on this, I will just store the microtask queue in `GlobalScope`.

[2017-09-13 08:08] mateon1 opened #18478 "Option::unwrap() on None in script::dom::document::ElementFromPoint"
Found on http://sta.sh

[code]

[2017-09-13 08:19] nox commented on #18467
Ugh, this cannot be done because of `DissimilarOriginWindow`. ://

[2017-09-13 08:21] tigercosmos commented on #18472
@highfive: assign me

[2017-09-13 08:21] highfive commented on #18472
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-13 08:34] #17621 closed

[2017-09-13 08:34] paulrouget opened #18479 "Better Embedding API proposal"
These are just cosmetic changes, but that would make it easier from the perspective of the embedder to use libservo.

* `WindowEvent` should be functions. For example, `servo.reload(id)` instead of `servo.handle_event(vec![WindowEvent::Reload(id)])`.
* make it easier to include modules. See #18475
* remove all the window layout related WindowMethods (scale_factor/framebuffer_size/size/client_windo

[2017-09-13 08:47] nox commented on #18467
Actually it can be done, it's just one more garbage field in `DissimilarOriginWindow`, which doesn't matter.

[2017-09-13 12:22] jdm commented on #18478
Looks like the window is missing a window size at the point when we execute JS.

[2017-09-13 12:22] jdm commented on #18477
This looks like the same issue as #17482.

[2017-09-13 12:23] jdm commented on #17482
Also reproduces on http://lyricsfreak.com/.

[2017-09-13 13:47] mateon1 opened #18483 "assertion failed: self.fragment.style.get_inheritedtable().border_collapse == border_collapse::T::separate || block_direction_spacing == Au(0)"
Found on 13 different websites:
<details>
Ripgrep for this assertion:

[code]
</details>

---

Stack trace (for 24smi.org):
[code]

I swear I've reported this before, but I can't find an existing issue for this.

[2017-09-13 13:59] jdm opened #18485 "Describe where to find implementations in bindings.conf"
We should add for the properties that aren't described, too.

[2017-09-13 14:18] #18473 closed

[2017-09-13 14:50] asajeffrey commented on #17482
Hmm, somehow the iframe is being rendered before its browsing context is constructed?

[2017-09-13 15:23] froydnj opened #18487 "bindgen should exit with an error when struct layout differences are detected"
rust-lang-nursery/rust-bindgen#983 describes a case where bindgen produces an incorrect layout for generated structs.  Manually invoking the `bindgen` tool actually prints an error message about this:

[code]

It would be excellent if invoking bindgen through Stylo's build process detected the same error and exited with an error so that the problem could be detected during the build, rather than d

[2017-09-13 15:51] #18467 closed

[2017-09-13 16:25] jrmuizel opened #18488 "line-height not implemented"
See: https://jrmuizel.github.io/implementation-tests/frame-merging.html

[2017-09-13 17:23] tigercosmos commented on #18472
I  update Cargo.toml files (components/net_traits) with `image = "0.15.0"`, but this still lead to crash.  So I try to update all `.toml` which have `image`. Also not work ...

[code]

[2017-09-13 17:43] tigercosmos commented on #18472
For more specific, after update image crate. Case 1 and case 2 both two are still not fixed.

[2017-09-13 18:00] mauricioc commented on #18441
This comment [0] in `setup_scroll_root_for_overflow` seems relevant:
[code]
There is no corresponding check in `setup_scroll_root_for_position`, and adding a similar check (right after [1]) makes the assertion disappear. Can anyone confirm this makes sense? I am just cargo-culting here.

[0] https://github.com/servo/servo/blob/master/components/layout/display_list_builder.rs#L2633
[1] https://gith

[2017-09-13 18:06] jdm commented on #18441
@mrobinson probably knows most about that.

[2017-09-13 18:08] jdm commented on #18472
What does the diff of Cargo.lock look like after your changes?

[2017-09-13 18:12] tigercosmos commented on #18472
@jdm
![image](https://user-images.githubusercontent.com/18013815/30393192-e2bf3424-98f1-11e7-8917-a2d41ecdddad.png)
![image](https://user-images.githubusercontent.com/18013815/30393207-ef99380c-98f1-11e7-9181-a755667b92b8.png)
![image](https://user-images.githubusercontent.com/18013815/30393219-f7f6d504-98f1-11e7-9c5f-924f27a48a5b.png)
![image](https://user-images.githubusercontent.com/18013815/30

[2017-09-13 18:25] jdm commented on #18472
In future I recommend copying the output of `git diff` from your terminal and pasting it as a comment :)

[2017-09-13 18:26] jdm commented on #18472
I guess we need to file issues with the upstream projects, in that case.

[2017-09-13 19:12] tigercosmos commented on #18472
@mateon1 Can you help report to upstream, thanks :)

[2017-09-13 19:20] jdm commented on #18346
Fixed by clearing the travis cache.

[2017-09-13 19:20] #18346 closed

[2017-09-13 19:21] jdm commented on #18472
The repositories are https://github.com/PistonDevelopers/image-png/ and https://github.com/PistonDevelopers/inflate.

[2017-09-13 22:58] asajeffrey commented on #17482
Gosh, this is tricky to debug... I think what's going on is that in the revamp to remove the special top-level browsing context we ended up with https://github.com/servo/servo/blob/1aa8be392b0ab8e7a8426f525361b40b69d70b4f/components/constellation/constellation.rs#L1533-L1561

In particular, the browsing context is created without the usual initial about:blank, instead it's initialized with a pipel

[2017-09-13 23:00] asajeffrey commented on #17482
Oh and cc @cbrewster too!

[2017-09-13 23:00] quarxdmz opened #18493 "Empty Window"
OS: Xubuntu 17.04

When ./servo is executed, it was fast to open an empty window.

[2017-09-14 06:23] paulrouget commented on #17482
Can you explain that?

[2017-09-14 06:31] paulrouget commented on #17482
Is it a regression from #17425?

[2017-09-14 10:31] mrobinson commented on #18441
I'm working on a PR now that includes the commit from #18490 plus another commit that includes a test and a more comprehensive fix.

[2017-09-14 10:34] paulrouget opened #18500 "Angle (?) symbol missing when compiling libservo in a dylib"
This only happens when I compile a library as a dylib:

Summary log:
[code]

Full log:

[code]

[2017-09-14 11:31] paulrouget commented on #18500
I initially mentionned it was a ssl issue. Just realized it's linking with angle.

[2017-09-14 11:37] paulrouget commented on #18500
STR:

On MacOS:

- clone https://github.com/paulrouget/libsimpleservo
- cargo build

[2017-09-14 12:03] paulrouget commented on #18500
Using `crate-type = ["cdylib"]` instead of `crate-type = ["dylib"]` appears to solve the issue… but I don't know why.

[2017-09-14 14:24] mrobinson opened #18507 "filter should be defined to establish a containing block for fixed and absolutely positioned elements"
See w3c/fxtf-drafts#11. Currently we only do this for stacking contexts with transformations and iframes. It might be a good idea to move all of this functionality to Servo though, as I'm not sure that Gecko needs it.

This used to be https://github.com/servo/webrender/issues/1101 and that issue has some more context.

[2017-09-14 16:23] mrobinson commented on #18254
@mateon1 Great test case! This turns out to be the same bug as https://github.com/servo/servo/issues/17072 and thanks to your test case, this is an easy fix.

[2017-09-14 16:50] asajeffrey commented on #17482
@paulrouget oh, on digging further you're right, this can't be the issue here, the pipeline's document has a browsing context id even before it matures. So this is dubious for other reasons, but can't be causing this panic.

[2017-09-14 16:54] asajeffrey commented on #17482
AFAICT the only thing that can cause an attached document to fail to have a browsing context id is if its window gets discarded: https://github.com/servo/servo/blob/1aa8be392b0ab8e7a8426f525361b40b69d70b4f/components/script/dom/window.rs#L360-L367

Is it possible there's a race condition where the window is discarded, but webrender still thinks its part of the frame tree?

[2017-09-14 17:39] asajeffrey commented on #17482
Debug log for the constellation, and a stacktrace from lyricsfreak.com:
[code]

[2017-09-14 17:50] asajeffrey commented on #17482
And including the debug output from htmliframeelement:
[code]

[2017-09-14 17:56] asajeffrey commented on #17482
In particular. note that browsing context (1,15) is discarded, but then we get:
[code]
so it looks like the synchronization between the DOM tree and the frame tree isn't perfect.

Possible fixes: a) try to improve the synchronization so we don't end up calling layout on detached nodes, or b) live with imperfect synchronization and just accept that sometimes we'll end up laying out iframes that don

[2017-09-14 18:27] asajeffrey commented on #17482
We discard browsing contexts here: https://github.com/servo/servo/blob/1aa8be392b0ab8e7a8426f525361b40b69d70b4f/components/script/script_thread.rs#L1784

We do that before shutting down layout! Oops: https://github.com/servo/servo/blob/1aa8be392b0ab8e7a8426f525361b40b69d70b4f/components/script/script_thread.rs#L1792-L1796

IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=14+Sep+2017&e=14+Sep+20

[2017-09-14 20:41] pcwalton opened #18513 "Pathfinder demo fails due to old version of SpiderMonkey"
I get:

    Error at http://localhost:8000/js/pathfinder/text-demo.js:1431:19 missing = in const declaration

cc @tschneidereit @fitzgen

[2017-09-15 04:08] toidiu commented on #18468
hi @jdm i am a bit lost and need guidance 😕 the code base if massive.

- what is the source that is generating 'js::glue::RUST_JSID_IS_STRING' and 'js::jsapi::HandleId'

also is there something that gives an overview of how the repo is organized and what its doing(purpose of codegen, why python, other relevant stuff for this issue)

[2017-09-15 08:05] nox opened #18518 "Plan path to switch to mime 0.3"

[2017-09-15 13:30] Eijebong commented on #18518
@highfive: assign me

[2017-09-15 13:30] highfive commented on #18518
Hey @Eijebong! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-15 13:43] xhallix commented on #18164
For me, all the links are swapped in the same way , so I guess this is a duplicate of https://github.com/servo/servo/issues/12105 as @SimonSapin already pointed out

[2017-09-15 18:35] asajeffrey opened #18528 "Implement microdata"
WHATWG HTML spec for microdata: https://html.spec.whatwg.org/multipage/microdata.html

[2017-09-15 18:38] asajeffrey opened #18529 "Mutation testing for Servo"
Implement mutation testing (https://en.wikipedia.org/wiki/Mutation_testing) for Servo, based on the WPT test suite.

[2017-09-15 18:38] asajeffrey commented on #18529
cc @edunham @jdm

[2017-09-15 18:38] asajeffrey commented on #18528
cc @jdm

[2017-09-15 19:52] edunham commented on #18529
This came up in a conversation with Lonnen about a similar project on Firefox, so he can also be a resource if someone or a team embarks on this.

[2017-09-15 20:14] #15758 closed

[2017-09-16 01:21] #17072 closed

[2017-09-16 01:21] #18254 closed

[2017-09-16 03:14] atouchet commented on #17978
And now it's a problem again.

[2017-09-16 04:30] toidiu commented on #18468
@jdm
Took a closer look at the stack trace and see that most of the things are cpp libraries. The only rust code seems to be **StorageBinding.rs:990** so only concerning myself with that mainly.

I am still not sure what the desired behavior should be.
- check if string
- call a different function if not string (which function)
- what are the other possible values? (u32?)

[2017-09-16 04:38] jdm commented on #18468
This is the code that is generating the `string_jsid_to_string` call that is failing: https://dxr.mozilla.org/servo/rev/f1da967ef707bbc77f023daf28093201e96e19c5/components/script/dom/bindings/codegen/CodegenRust.py#4753
We have a [jsid_to_string](https://dxr.mozilla.org/servo/rev/f1da967ef707bbc77f023daf28093201e96e19c5/components/script/dom/bindings/conversions.rs#149) function that we should cal

[2017-09-16 04:39] jdm commented on #18468
I recommend matching on the result of that and returning false if it's None.

[2017-09-16 11:50] Eijebong commented on #18518
This is blocked by https://github.com/cyderize/rust-websocket/issues/132 which seems to be blocked on some other hyper bug.

[2017-09-16 15:34] mateon1 opened #18535 "Mishandled JS exceptions?"
Emilio told me on IRC to report these.

This behavior, aka JS halting happens even with --debug-mozjs and --with-debug-assertions.

To demonstrate this:
[code]
Note that only "before" is printed. The execution stops, not even an exception was thrown.

In place of the commented line you can also try any of:
[code]

[2017-09-17 03:24] emilio commented on #18535
Let me try to track this down this real quick...

[2017-09-17 05:06] emilio commented on #18535
Err, got distracted, and I can't run rr from servo from where I am apparently... will investigate though

[2017-09-17 05:26] emilio commented on #18535
So, in the first case, the generated code for `Storage::defineProperty` looks like:

[code]

Return false is used to signal when an exception has been thrown, otherwise aborts the execution of the script. So we need to throw something there or otherwise the execution stops. I suspect there are similar errors in the other examples, if not the same. Looking for those

[2017-09-17 06:04] emilio commented on #18535
https://github.com/servo/servo/pull/18539

[2017-09-17 14:28] mhaessig commented on #15448
@highfive: assign me

[2017-09-17 14:28] highfive commented on #15448
Hey @mhaessig! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-17 15:38] atouchet commented on #17113
@mrobinson does #18510 fix this?

[2017-09-17 18:03] #18535 closed

[2017-09-17 18:45] mhaessig commented on #12410
I'd like to give this a try to get around different areas of the codebase.

[2017-09-17 19:35] mrobinson commented on #17113
@atouchet It's hard to tell without the full stack. Are you able to reproduce the original issue now?

[2017-09-17 20:57] mateon1 opened #18544 "assertion failed: FlowRef::get_mut(&mut this).is_some()"
Found on http://citilink.ru, reproducible

[code]

[2017-09-17 21:00] mateon1 opened #18545 "assertion failed: self.font_size.map_or(true, |f| f == font_size)"
Found on http://meteofrance.com

[code]

[2017-09-17 21:44] mateon1 commented on #18545
Crashing testcase:
[code]

[2017-09-17 22:13] emilio commented on #18545
Should be fixed in #18538, please shout out if not and I'll reopen it. Thanks!

[2017-09-17 22:13] #18545 closed

[2017-09-17 22:34] #15448 closed

[2017-09-18 03:15] atouchet commented on #17113
I am not able to reproduce it.

[2017-09-18 04:27] atouchet commented on #9914
Removed [meta] from the title as that is now covered by the label.

[2017-09-18 06:50] mrobinson commented on #17113
@atouchet Thanks for the confirmation. I'll close this for now and we can open a new bug if it reappears.

[2017-09-18 06:50] #17113 closed

[2017-09-18 10:02] nox commented on #18513
You should probably just not use fancy new JS features in the demo for now.

[2017-09-18 10:06] nox commented on #18469
Killing `DissimilarOriginWindow` would help.

[2017-09-18 10:23] #18441 closed

[2017-09-18 11:54] Eijebong commented on #18518
Let's make a list:

- [ ] https://github.com/nox/hyper_serde/pull/20
- [ ] https://github.com/cyderize/rust-websocket/issues/132
- [ ] https://hg.mozilla.org/mozilla-central/file/tip/testing/webdriver

[2017-09-18 12:31] pcwalton commented on #18513
I'm just going to run it in Firefox. Servo can't remain stuck on an old JS version forever.

[2017-09-18 12:54] #10686 closed

[2017-09-18 15:02] wafflespeanut opened #18551 "Tidy should ignore some checks in multiline strings"
Right now, tidy throws errors for

[code]

(because there's a hyphen, which tidy believes as a "minus" in Rust code)

Instead, it should be ignoring the contents of multi-line strings completely. We should probably track the opening and closing of double quotes across lines.

Code: `python/tidy/servo_tidy/tidy.py`

[2017-09-18 15:02] highfive commented on #18551
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-18 15:23] tschneidereit commented on #18513
It won't. The smup is only blocked by Windows build system things that seem very much surmountable.

[2017-09-18 15:57] nox commented on #18513
@tschneidereit Any ETA for a smup?

[2017-09-18 18:42] mdboom commented on #18551
@highfive: assign me

[2017-09-18 18:42] highfive commented on #18551
Hey @mdboom! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-18 19:56] KiChjang commented on #18551
I think it should just ignore hyphens in strings completely.

[2017-09-18 23:00] #17451 closed

[2017-09-19 12:59] wafflespeanut commented on #18551
No, because this could then throw error on something else (like missing/extra space before/after char - stuff like that). This should ignore the contents entirely (not just hyphens).

[2017-09-19 13:43] mateon1 opened #18560 "MOZ_CRASH in mozalloc_abort after running out of memory"
Found on shopclues.com, the exact servo invocation looks like:
[code]

---

stdout:
<details>

[code]
</details>

---

stderr:
[code]

[2017-09-19 15:02] AlexeiScherbakov opened #18562 "Embedding in C++ app like Xulrunner/Gecko?"
When this feature will be available? (Or experimental support)

[2017-09-19 16:17] metajack opened #18563 "crash on metajack.im"
STR:

1. Visit https://metajack.im
2. Click the LCA talk link (this pages contains a Youtube embed)
3. Click back three times (returns to original home page)
4. Click any link which will cause Servo to crash

<details>

[code]

</details>

[2017-09-19 16:17] metajack commented on #18563
cc @paulrouget

Found this with Paul's servoshell.

[2017-09-19 16:19] metajack opened #18564 "need to navigate back three times to return back one page"
STR:

1. Visit https://metajack.im
2. Click the link to the LCA talk
3. Attempt to go back to original page. It currently takes me 3 clicks of the back button. The first click does nothing, the second removes the image preview for the embed, and the third finally returns to the home page.

[2017-09-19 16:19] metajack commented on #18564
cc @asajeffrey

[2017-09-19 16:20] metajack commented on #18564
This was found in servoshell, not sure if it's specific to that.

[2017-09-19 16:26] mateon1 commented on #18544
Test case reproducing this bug:

[code]

[2017-09-19 16:31] asajeffrey commented on #18564
Interesting. This might actually be doing the Spec Compatible Thing depending on how the youtube iframe is behaving: if it's navigating itself without enabling replacement, then it's meant to add a session history entry each time. Of course this isn't what the user (or content author) might be expecting :/

[2017-09-19 16:35] mateon1 opened #18565 "called mark_as_root() on an unhandled flow"
When running the following testcase (accidentally found while reducing #18544), a panic is hit:
[code]

[code]

[2017-09-19 16:41] metajack commented on #18564
Firefox and Chrome both do the thing I expect (immediate navigation to home page), but they also support the video, so maybe this is just an issue in the fallback path. However, the next navigation after I get back always crashes Servo. See #18563

[2017-09-19 16:46] asajeffrey commented on #18564
Yes, this looks like a bug with how we're handling the session history, there should only be one entry created, since there's just the iframe's initial about:blank then the embedded video.

cc @cbrewster

[2017-09-19 16:50] asajeffrey commented on #18563
This looks like an issue with the session history being maintained by the constellation,

Way too much information:
[code]

[2017-09-19 16:54] asajeffrey commented on #18563
The stack trace is for a crash in the JS GC when the pipeline is exiting (so the script thread is shutting down). In particular:
[code]
cc @nox @fitzgen

[2017-09-19 17:06] asajeffrey commented on #18564
TMI:
[code]

[2017-09-19 17:19] asajeffrey commented on #18564
Hmm I see three `DEBUG:script::dom::htmliframeelement: iframe bound to browsing context.` where I'd expect that there's just one. The second one is created right after:

[code]

It could be that youtube's JS has a fallback path where it creates extra iframes, which is causing the excess session history entries?

[2017-09-19 17:21] metajack commented on #18564
@cpearce Is there a way to disable gecko's media stack so that YouTube embeds would behave more like current Servo to test the fallback path?

[2017-09-19 17:44] asajeffrey commented on #18564
Looking at the JS in FF's debugger, there are some suspicious `document.createElement("IFRAME")` in https://www.youtube.com/yts/jsbin/www-embed-player-vfl-uq_Tp/www-embed-player.js. In particular:
[code]

In Servo's impl of iframes this may well create more session history entries than FF does, since the iframe is being attached with `src=""`. Since the `src` is set, https://html.spec.whatwg.org/m

[2017-09-19 17:46] asajeffrey commented on #18564
@jdm: this may be more concrete evidence of web content providers (in this case youtube!) relying on a particular semantics of initial about:blank handling.

[2017-09-19 19:01] paulrouget commented on #18562
If your application can load libraries dynamically, and provides a OpenGl buffer, it's possible today.

I put together a version basic example that loads Servo in a C app: https://github.com/paulrouget/libsimpleservo

[2017-09-19 23:33] mateon1 commented on #18478
Testcase (requires two files):

index.html
[code]

aux.html
[code]

[2017-09-20 04:53] cbrewster commented on #18564
I believe this is #14720

[2017-09-20 05:29] tqtifnypmb opened #18570 "Build error Mac os 10.12.6; Xcode 9.0"
first error: zlib (>= 1.2.8) required, ZLIB not found.
fixed it by brew install zlib
then Undefined symbols: "_deflate" "_deflateEnd" "_deflateInit_" "_inflate" "_inflateEnd" "_inflateInit_"

[2017-09-20 06:22] mateon1 commented on #18045
Here's a manual testcase for this assertion.

index.html:
[code]

aux.html:
[code]

[2017-09-20 06:24] BorisChiou commented on #13267
In order to resolve this issue, we have to finish the implementation of converting InterpolateMatrix and AccumulateMatrix into a transform matrix [1].

[1] https://github.com/servo/servo/blob/2a97b2cd7cb7e2e52ea48f857d1687b8dcee6604/components/style/values/computed/transform.rs#L121-L128

[2017-09-20 06:39] tqtifnypmb commented on #18570
Build successfully after reboot the system, maybe It was Xcode's cache

[2017-09-20 06:39] #18570 closed

[2017-09-20 11:42] sviter commented on #18403
May be the same issue on https://fourweekmba.com/duckduckgo-vs-google/

[2017-09-20 15:06] mateon1 commented on #18437
Reduced testcase from besoccer:
[code]

[2017-09-20 15:49] cbrewster commented on #18564
@asajeffrey in your snippet from the embedded player, the `src` is set prior to the `iframe` being appended to the document.

The iframe will have `about:blank` in the history (as will all iframes right now, that is due to #14720). I am not certain why there are two more entries rather than just one; however, I don't think that is due to `a.src="";`.

[2017-09-20 17:29] asajeffrey commented on #18564
@cbrewster the reason why the src attribute matters is that if it wasn't set then the clause from https://html.spec.whatwg.org/multipage/iframe-embed-object.html#process-the-iframe-attributes would apply:

[2017-09-20 17:34] asajeffrey commented on #18564
Hmm: https://github.com/servo/servo/blob/eefd59e9332ea054908548eaba63ac12ff4bf46c/components/script/dom/htmliframeelement.rs#L259

Shouldn't that be:
[code]

[2017-09-20 17:48] asajeffrey commented on #18564
Ah, replacing `false` by `true` in that line fixes the problem. I wonder if it breaks anything?

[2017-09-20 18:44] asajeffrey commented on #18438
This is caused by: https://github.com/servo/servo/blob/eefd59e9332ea054908548eaba63ac12ff4bf46c/components/script/dom/window.rs#L570-L572

To be more spec-compliant, the location should be owned by the window, not by the document. The spec requires that `window.location` never return null, whereas `document.location` returns null if the document has no browsing context (https://html.spec.whatwg.or

[2017-09-20 20:44] #18438 closed

[2017-09-20 21:44] asajeffrey commented on #18564
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=20+Sep+2017&e=20+Sep+2017#c755990

TL;DR: we should be OK doing: https://github.com/asajeffrey/servo/commit/5fa2dfe14ce80ef9e0607217807f8a57121a169e:
[code]

[2017-09-21 02:20] atouchet commented on #17190
The kerning issues appear to be largely fixed with #18567.

[2017-09-21 02:27] atouchet commented on #17489
The text now appears blurry when animated.

Example image:

![Blurry text](https://i.imgur.com/91DULxt.png)

The blur should say "Code review".

[2017-09-21 04:13] #14235 closed

[2017-09-21 19:55] #13402 closed

[2017-09-21 22:21] asajeffrey opened #18594 "Unnecessarily allocating an error string"
In: https://github.com/servo/servo/blob/29517d553e6c2fddc7e3cf0c0abef58c6d0f34aa/components/script/document_loader.rs#L133

there's a line:
[code]

This allocates the error string even if the `idx` exists.

This should be replaced by `idx.unwrap_or_else(|| panic!(...))`.

[2017-09-21 22:21] highfive commented on #18594
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-09-22 00:44] herronjo opened #18596 ""BUG: target_kind() called on invalidated task" on reddit"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-2b73735
### Backtrace:
[code]

[2017-09-22 01:58] tigercosmos commented on #18594
@highfive: assign me

[2017-09-22 01:58] highfive commented on #18594
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-22 02:40] paulrouget opened #18597 "Make libservo renderer agnostic. Expose Display Lists to embedder."
As of now, booting servo requires OpenGL, which, internally, will be used by WebRender.

It would be great to make Servo renderer agnostic. Maybe the embedder wants to implements its own way of rendering the page.

Ideally, nothing under `/components/` would need WebRender and OpenGL, just use a shared API (webrender_api?) to communicate with the renderer.

Instantiating WebRender would happen und

[2017-09-22 03:03] paulrouget commented on #18597
/cc @glennw @metajack @tschneidereit

WebRender is used directly in components/canvas/ components/compositing/ and omponents/servo/.

I don't see anything that would make this too hard.

[2017-09-22 04:01] KiChjang commented on #18596
Do you know which website you were browsing?

[2017-09-22 06:45] #18551 closed

[2017-09-22 08:24] paulrouget opened #18599 "WindowMethods::set_cursor is called constantly"
On any mousemove, `WindowMethods::set_cursor` is called even if the cursor hasn't changed.

[2017-09-22 11:12] mrobinson commented on #18307
I've opened up https://github.com/servo/webrender/pull/1745 for this issue.

[2017-09-22 13:23] tigercosmos commented on #18594
How do I test to know the result?

[2017-09-22 13:30] asajeffrey commented on #18594
This change is a refactoring, there shouldn't be any testable difference! If it compiles, that's good enough evidence of correctness for me to review it!

[2017-09-22 15:48] #17482 closed

[2017-09-23 02:45] herronjo commented on #18596
Just the Reddit homepage.

[2017-09-23 14:39] steffengy opened #18605 "nvoglv64.dll: access violation on windows for http://bab.la"
Running `mach run --debug http://bab.la` on **windows** results in the following crash:
 (after waiting for a seconds)

An **access violation** is caught for
[code]

<details><summary>Detailed Thread Stack Traces</summary><p>

[code]

</p></details>

The used **NVIDIA driver** is the newest available as of now (385.69/22.21.13.8569, a few days old [16.09.2017])

[2017-09-23 15:32] tigercosmos commented on #18605
What I encounter is:
![image](https://user-images.githubusercontent.com/18013815/30774584-6a86aec4-a0b7-11e7-8e8b-dd66223b7671.png)

[2017-09-23 15:34] steffengy commented on #18605
That's strange, with VS2017 that doesn't happen for me.
I removed the `--debug` since it's sufficient to trigger the bug.

[2017-09-23 15:44] tigercosmos commented on #18605
`mach.bat  run http://bab.la -d`

[code]

[2017-09-23 15:47] steffengy commented on #18605
Yeah thats #18297, but not what I'm seeing with my nvidia GPU.

[2017-09-23 15:51] tigercosmos commented on #18605
How can I reproduce the result with the Intel graphics?

[2017-09-23 16:00] steffengy commented on #18605
You'll likely need an Nvidia GPU to reproduce.
It's gonna bei either something wrong on the servo/webrender side (wrong init, passed buffers, ...)
which is ignored by more "tolerant" openGL implementations
or even a bug in nvidias openGL implementation.

[2017-09-23 17:35] kanaka opened #18606 "Headless testing (webdriver) fails to fully render on 4th page load"
After loading 3 pages successfully with headless/webdriver servo, the 4th page loads renders the background color of the page but no other content.

I'm running servo (built in release mode from 5a6b90b14f) like this:

[code]

I have the follow simple test case web page:

[code]

I then create a webdriver session:

[code]

Then I load the test page and screenshot it like this:

[code]

The first t

[2017-09-23 18:23] kanaka commented on #16134
This is still true as of 5a6b90b14ff (Sep 22).

I have seen this behavior on two different systems: Ubuntu 16.04 desktop with Radeon HD 7770 and a Ubuntu 16.10 laptop with Intel HD 530.

[2017-09-23 19:35] fschutt commented on #18597
Especially for customized and specialized renderers, this would be nice. For example, I'm developing a GIS / geospatial application using Vulkan as the rendering backend, where I transform points of the GPU and render them directly to the screen, which is very fast. But webrender is currently OpenGL-only, which makes integration in the existing code impossible. This would allow me to draw my stuff

[2017-09-23 19:43] Ralith commented on #18597
It might be more immediately useful for webrender to support vulkan than for webrender itself to be optional, since reimplementing all of webrender's functionality is undoubtedly no small task.

Sharing textures between OpenGL and Vulkan is possible using extensions, but native support is of course preferable, especially since using Vulkan might enable higher performance in general.

[2017-09-23 21:31] sviter opened #18608 "Test Servo with domato"
Is it make sense to test Servo with [domato](https://github.com/google/domato)?

[2017-09-23 23:08] #18594 closed

[2017-09-24 01:56] tigercosmos commented on #18345
@TheDan64 I think you can finish this, because it is you to be assigned.

[2017-09-24 07:00] sviter commented on #5702
Is it still valid issue?

[2017-09-24 09:48] mateon1 commented on #18608
I'm currently doing exactly that.
So far, I've only gotten unpaired surrogates and an error (not panic) `Isolation conflict detected on StackingContextIndex(3): Full` in `webrender::frame_builder`. (Issue coming soon, currently reducing)

[2017-09-24 10:17] mateon1 opened #18610 "ERROR:webrender::frame_builder: Isolation conflict detected on StackingContextIndex(3): Full"
Found by fuzzing servo with domato.

Testcase:
[code]

This is what's output on stdout
[code]

It seems that timing has to do with this, as the message is printed tens of times with a debug build, using the same testcase.

[2017-09-24 13:33] nox commented on #11315
Latest attempt at this was in #11969.

[2017-09-24 13:33] nox commented on #11315
I think there are various issues with winres which means this shouldn't be E-Easy.

[2017-09-24 15:25] mateon1 opened #18613 "assertion failed: self.edit_point.index <= self.lines[self.edit_point.line].len()"
Found by fuzzing with domato.

[code]

[code]

[2017-09-24 15:45] mateon1 commented on #18565
Additional, simpler testcase. Found with domato.
[code]

[2017-09-24 16:29] mateon1 opened #18614 "assertion failed: !self.range.is_empty()"
Found by fuzzing with domato.
Note: The linebreak after `</th>` is necessary

[code]

[code]

[2017-09-24 19:33] nox commented on #796
We support these now.

[2017-09-24 19:33] #796 closed

[2017-09-24 19:37] nox commented on #1041
These were reenabled a long time ago.

[2017-09-24 19:37] #1041 closed

[2017-09-24 19:38] nox commented on #1056
@jdm We have a history now, don't we?

[2017-09-24 19:39] nox commented on #1155
@pcwalton Is this issue still relevant?

[2017-09-24 19:40] nox commented on #1200
This was done.

[2017-09-24 19:40] #1200 closed

[2017-09-24 20:38] KiChjang commented on #1056
I'm very certain that we have a history nowadays, @asajeffrey and @cbrewster has been doing excellent work on that direction.

[2017-09-24 20:38] #1056 closed

[2017-09-24 21:15] mateon1 opened #18615 "attempt to subtract with overflow at webrender/src/frame_builder.rs:718"
Found by fuzzing with domato.

This particular testcase seems related to an invalid GIF file used as a border image. There are other examples, but they aren't easy to reduce.

[code]

[code]

[2017-09-24 21:26] mateon1 commented on #18615
To be more precise, the affected area is https://github.com/servo/webrender/blob/68e2e7cd0e39d216bb6c35dfb353dc0700bb6948/webrender/src/frame_builder.rs#L715L724

I have a crasher for both subtraction operations on lines :718 as well as :723

[2017-09-24 22:17] jonathandturner opened #18616 "Text layout is broken in recent builds"
Looks like something got messed up with text layout in recent builds.

![screen shot 2017-09-25 at 11 15 42 am](https://user-images.githubusercontent.com/547158/30787361-0760cf6e-a1e3-11e7-90ec-642343a210e1.png)
![screen shot 2017-09-25 at 11 15 17 am](https://user-images.githubusercontent.com/547158/30787359-07583804-a1e3-11e7-8223-4a685c2748b8.png)
![screen shot 2017-09-25 at 11 14 30 am](https:

[2017-09-24 22:17] jonathandturner commented on #18616
Going to see if I can bisect to find the offending PR

[2017-09-24 22:29] glennw commented on #18616
I suspect this will be resolved by the most recent WR update that landed. We encountered a mac driver bug in the shader compiler, which caused glyphs to be fetched incorrectly. The latest WR update includes a workaround for this bug.

[2017-09-24 23:32] jonathandturner commented on #18616
@glennw - that was fast!  Yeah looks fixed with your update.

[2017-09-24 23:32] #18616 closed

[2017-09-24 23:49] jonathandturner opened #18618 "Ember Perf fails nondeterministically"
Trying to track down why the Ember perf suite isn't working for #16720.  The current behaviour is that it will fail non-deterministically at different parts in the run.  For example, here are the last four times I ran it:

[code]

It's possible it's the same root cause, since each one is about the same JS variable not being defined.

[2017-09-25 04:34] atouchet commented on #17511
This is fixed now.

[2017-09-25 04:34] #17511 closed

[2017-09-25 04:35] atouchet commented on #17748
This appears to be fixed now.

[2017-09-25 04:35] #17748 closed

[2017-09-25 09:48] #18608 closed

[2017-09-25 09:55] paulrouget opened #18625 "android: why is the binary that large (200Mb and 600Mb)"
[code]

[2017-09-25 10:16] emilio commented on #18625
I guess the easiest would be to check it with bloaty or other tool like that to see what the size ends up being.

[2017-09-25 10:41] paulrouget commented on #18625
Hmm, apparently, bloaty doesn't work on a ELF binary from a MacOS.

[2017-09-25 10:44] paulrouget commented on #18625
My bad. It's working.

[2017-09-25 10:45] paulrouget commented on #18625
[code]

[2017-09-25 13:04] SimonSapin commented on #18625
Looks like a large part of this is debug info. @paulrouget Is this in release mode?

[2017-09-25 13:25] froydnj commented on #18625
@paulrouget's numbers from bloaty and the numbers cited in the initial report for release-mode match up, so I'd say yes.

What does `bloaty -d symbols -n 100 libservo.so` say?  That would at least help identify the largest functions/objects.  36M+ of `.text` is almost as much as Firefox for Android's `libxul.so`...  Nearly 10M of `.data` also seems a bit outlandish.

[2017-09-25 13:47] SimonSapin commented on #18625
This isn’t specific to Android, I get similar results for `target/release/servo` on Linux x64.

It looks like more than half the size is debug info, but I don’t understand why that’s included. http://doc.crates.io/manifest.html#the-profile-sections says that the default value for `profile.release.debug` is `false`, and I don’t see anything that changes it. We also have a `debug-mozjs` config that

[2017-09-25 15:59] atouchet commented on #18477
Was this fixed in #18514?

[2017-09-25 16:15] asajeffrey commented on #18477
Yes.

[2017-09-25 16:15] #18477 closed

[2017-09-25 17:00] paulrouget commented on #18625
[code]

[2017-09-25 18:57] mateon1 opened #18628 "scroll_root_id is not correctly fetched"
Found accidentally while reducing a domato crash.

[code]

[code]

[2017-09-25 19:06] jdm commented on #18615
cc @glennw @mrobinson

[2017-09-25 19:08] jdm commented on #18605
cc @glennw

[2017-09-25 19:14] jdm commented on #18487
I guess this is specifically referring to the use of bindgen as part of stylo's build: https://github.com/servo/servo/blob/bbb5c8436edb89235fe030e8dc965b9bef43c071/components/style/build_gecko.rs#L567

[2017-09-25 19:14] highfive commented on #18487
cc @emilio

[2017-09-25 19:19] mrobinson commented on #18307
A fix for this has landed in WebRender and should be available in Servo after the next WebRender update.

[2017-09-25 20:04] mateon1 opened #18630 "Option::unwrap() in window impl ::overflow_query"
Found with domato.

[code]

[code]

[2017-09-25 20:21] mateon1 opened #18631 "assertion failed: !self.contains(&sheet)"
Found with domato.
[code]

[code]

[2017-09-25 20:45] emilio commented on #18631
This seems to be double-adding the UA sheets in the layout thread.

[2017-09-25 20:57] mateon1 opened #18632 "Option::unwrap() in layout::flow::generated_containing_block_size"
Found with domato.
[code]

[code]

[2017-09-25 21:24] mateon1 opened #18633 "assertion failed: sub_rect.uv1.x >= sub_rect.uv0.x"
Found with domato
[code]

[code]

[2017-09-25 22:13] #16952 closed

[2017-09-25 22:53] mateon1 opened #18634 "Shouldn't see table column fragments here"
Found with domato.
[code]
[code]
[code]

[2017-09-26 01:25] #18345 closed

[2017-09-26 05:40] paulrouget commented on #18625
This makes developing on Android especially difficult. Pushing 200M every time is slow.

[2017-09-26 07:02] mrobinson commented on #18307
Closing this since https://github.com/servo/servo/pull/18636 has landed.

[2017-09-26 07:02] #18307 closed

[2017-09-26 12:41] paulrouget opened #18639 "android: Make it possible to build for a x86 target"
I don't have a phone. I have to use an emulator. A arm emulator is a lot slower than a x86 emulator.

Can we make it so it's possible to build servo for i686-linux-android or x86_64-linux-android ?

[2017-09-27 00:04] kilobyte commented on #12143
Current nightly build doesn't crash for me, but I guess it's not because of this bug having been fixed, but because most codepoints fail to render, showing a replacement symbol instead (I have fonts for everything but Tangut, Sutton, and plane 2 CJK installed, and Firefox renders them correctly).  In particular, the region around U+3A00 that used to crash doesn't render.

[2017-09-27 01:57] mateon1 opened #18646 "assertion failed: fontgroup.fonts.len() > 0"
Found with domato, by accident because I don't have Ahem installed.

[code]

[code]

[2017-09-27 02:41] atouchet opened #18647 "Black box behind DuckDuckGo close icon"
Website: https://duckduckgo.com/

When opening the DuckDuckGo sidebar on their homepage there is a black box behind the close icon. There used to be the same issue with the text as well (#17942) but the fix for that did not also fix the close icon.

Image (Firefox on the left, Servo on the right):

![DuckDuckGo](https://i.imgur.com/vjzxvTv.png)

Tested in Windows 10.

[2017-09-27 02:41] sgrif opened #18648 "download.servo.org serves an empty dmg for macOS"
I assumed there'd be a browser in there

[2017-09-27 03:23] ScottAbbey commented on #18648
I downloaded the file at [this link](https://download.servo.org/nightly/mac/servo-latest.dmg) 32 minutes after your message and ended up with the file `servo-latest.dmg`, size 35621878 bytes.  The About Servo window says this is `Servo 0.0.1-0160aaeeea`.

[2017-09-27 07:12] mateon1 opened #18651 "assertion failed (!global.is_null()) during Promise destructor after navigation"
Found with domato.

[code]

Note: It is nondeterministic how many times the crash is hit, 5 crashes is the lowest I found, while sometimes the crash was hit 15+ times before Servo died.
[code]

[2017-09-27 12:47] SimonSapin commented on #18639
https://forge.rust-lang.org/platform-support.html lists support for `i686-linux-android`. Looks like the place to start is adding corresponding toolchain config in `handle_android_target` in `python/servo/command_base.py`.

[2017-09-27 13:06] sgrif commented on #18648
It appears to be working now.

[2017-09-27 13:06] #18648 closed

[2017-09-27 15:22] mateon1 opened #18654 "assertion failed: self.as_node().node.get_flag(IS_IN_DOC)"
Found with domato.

[code]

[code]

[2017-09-27 16:10] mateon1 opened #18655 "attempt to multiply with overflow in webrender::texture_allocator.rs:55"
Found with domato.
[code]

[code]

[2017-09-27 16:31] jdm commented on #18655
cc @glennw

[2017-09-27 20:52] glennw commented on #18297
@jdm There were some recent changes made in WR incidentally that should fix this case. I'm not able to reproduce it here. Could you confirm that it no longer occurs on your machine?

[2017-09-28 05:05] toidiu commented on #18468
@jdm @emilio I am a bit stalled on this one and in need of some direction. From what I can tell the crash happens in a cpp lib?

Discussion of the current status is here: https://github.com/servo/servo/pull/18546

[2017-09-28 12:09] mateon1 opened #18662 "Link to containing block not estabilished; perhaps you forgot to call `set_absolute_descendants`?"
Found with domato
[code]

[code]

[2017-09-28 18:22] KiChjang commented on #15270
Removing the less easy label until we can figure out the best way to implement this (or not at all).

[2017-09-28 19:03] robertkosten commented on #18493
Try `./servo http://servo.org` (it doesn't have any kind of UI yet, as it is a bare rendering engine)

[2017-09-29 00:39] #18655 closed

[2017-09-29 01:46] #18615 closed

[2017-09-29 01:46] #18633 closed

[2017-09-29 04:40] paulrouget commented on #18625
@MortimerGoro: http://logs.glob.uno/?c=mozilla%23servo&s=25+Sep+2017&e=28+Sep+2017&b=1#c758679

[2017-09-29 06:17] mhaessig commented on #12410
@highfive: assign me

[2017-09-29 06:17] highfive commented on #12410
Hey @mhaessig! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-09-29 07:01] nox opened #18671 "Implement fetch abortion"
There is currently no way to cancel an ongoing fetch operation. That's fine for small images and favicons, but that will not scale for media.

[2017-09-29 07:05] nox commented on #448
@nical Ain't that not true anymore?

[2017-09-29 07:11] paulrouget commented on #18625
Using NDK's `strip`, it gets reduces to 23Mb.

[2017-09-29 07:30] SimonSapin commented on #18625
I just checked, `-g` is *not* passed to rustc in release mode. So I suspect this debug info is from C/C++ code like SpiderMonkey. We’ll need to dig into respective build systems and `build.rs` scripts to configure that.

[2017-09-29 07:45] BruceDai opened #18673 "Servo failed to access external website, while it's able to access local site under proxy environment."
Our test environment is using proxy.  When I tested servo of release version, I found that Servo failed to access external website, while it's able to access local site.
Does servo support proxy? Or would you please show me the way how to set proxy?  Thanks.

[2017-09-29 08:12] jdm commented on #18673
Servo does not support using system proxies yet.

[2017-09-29 08:18] nox commented on #11882
The crate `audio-video-metadata` currently returns informations about a single track in the passed media, it should return informations about all of them.

[2017-09-29 08:19] nox commented on #3406
Didn't we implement this already?

[2017-09-29 08:20] BruceDai commented on #18673
It would be a new feature, what's your opinion?

[2017-09-29 08:20] jdm commented on #18671
We supported this for the non-fetch network stack, so we could look at reusing that code.

[2017-09-29 08:21] nox commented on #198
This has been done as part of Stylo.

[2017-09-29 08:21] #198 closed

[2017-09-29 08:22] nox commented on #975
This doesn't seem true to me anymore.

[2017-09-29 08:22] #975 closed

[2017-09-29 08:23] nox commented on #1009
@cynicaldevil is working on speculative parsing, and this issue isn't very much actionable. Closing.

[2017-09-29 08:23] #1009 closed

[2017-09-29 08:24] nox commented on #861
I'm pretty sure this has been down by now, or that other issues superseded this one.

[2017-09-29 08:24] #861 closed

[2017-09-29 08:25] jdm commented on #3406
We don't have a single unified mechanism, I don't think. We have individual messages for processing animations and rAF, and this is handled separately from styling and layout.

[2017-09-29 08:26] nox commented on #445
@SimonSapin Can this be closed?

[2017-09-29 08:28] nox commented on #391
This issue isn't really actionable, closing.

[2017-09-29 08:28] #391 closed

[2017-09-29 08:29] nox commented on #443
@jdm Still? :)

[2017-09-29 08:30] nox commented on #283
This issue is too vague and too old to be actionable, closing.

[2017-09-29 08:30] #283 closed

[2017-09-29 08:32] nox commented on #1719
All of these have been implemented.

[2017-09-29 08:32] #1719 closed

[2017-09-29 08:33] nox commented on #1312
This can be closed, many things changed since 2013 and most importantly since Stylo is a thing.

[2017-09-29 08:33] #1312 closed

[2017-09-29 08:34] nical commented on #448
These days the image display items refer to an `ImageKey` which is just an Id. There needs to be at least a placeholder image available to webrender by the time the display list is submitted, but the image can then be updated with new content (and new size if need be). I think that servo now does decode images in parallel but I could be wrong. For the media use case there is another system called