[2016-09-23 14:23] aochagavia commented on #13196
Also, would `EventStatus` be a good name for the new enum?

[2016-09-23 14:33] aochagavia commented on #12125
The blank screen is caused by https://github.com/servo/servo/issues/13371. @larsbergstrom do you think we should add this issue to the checklist?

[2016-09-23 14:37] jdm commented on #13391
Duplicate of #12799. Should be fixed in tomorrow's nightly; thanks for reporting!

[2016-09-23 14:37] #13391 closed

[2016-09-23 14:37] jdm commented on #13343
This should be fixed in tomorrow's nightly. Thanks for reporting it!

[2016-09-23 14:37] #13343 closed

[2016-09-23 14:41] jdm commented on #13196
Yes, the method defined in `EventTarget.webidl` and generated in `EventTargetMethods` cannot be modified to return an enum, so we will need to convert the enum value to a boolean at that point.

[2016-09-23 14:42] jdm commented on #13196
I'm marking this assigned under the assumption that you're working on fixing this :)

[2016-09-23 15:02] jdm commented on #13353
If key focus is inside P2, P1 will never see the key event in the current code because it is sent directly to P2. Is the idea that the constellation would check whether the focused pipeline has a mozbrowser ancestor and send the key event to P1 instead?

[2016-09-23 15:22] retep998 commented on #13371
Other browsers, such as Firefox Chrome IE Edge are all using DirectWrite to render text. It is possible to use freetype, but it's not recommended.

[2016-09-23 16:04] aochagavia commented on #13196
@jdm I have put up a PR on https://github.com/servo/servo/pull/13397

[2016-09-23 17:05] camd opened #13398 "Please enable taskcluster-github web hook"
This will report your pushes to Treeherder so you don't have to use the API anymore.  Instructions are here: https://github.com/taskcluster/taskcluster-github/blob/master/docs/usage.md

Thanks!!

[2016-09-23 17:07] highfive commented on #13398
cc @aneeshusa

[2016-09-23 17:48] yoasif opened #13399 "called `Result::unwrap()` on an `Err` value: ()"
called `Result::unwrap()` on an `Err` value: ()
### URL: http://security.stackexchange.com/questions/137418/how-does-google-know-where-i-am
### Servo Version:

Servo 0.0.1-ca30ad7
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-23 18:07] jdm commented on #13399
I have not been able to reproduce any problem by visiting that URL and scrolling around.

[2016-09-23 18:38] jdm opened #13400 "Intermittent "Operation not permitted" when killing servo process during test-wpt"
[code]

[2016-09-23 19:30] #13340 closed

[2016-09-23 21:10] jdm opened #13402 "Investigate a Lazy<T> DOM member type instead of MutNullableHeap<T>"
We have a pattern of lazy initialization of lots of DOM members. It would be nice if there were some way to make this pattern clearer for people reading DOM code.

[2016-09-23 21:11] jdm commented on #13402
This refers to our use of `.or_init()` for performing said lazy initialization.

[2016-09-23 21:15] KiChjang commented on #13402
It's not just that. Consider our existing implementation of `HTMLFormElement#elements`:
[code]
where `self.elements` has the type `MutNullableHeap<JS<HTMLFormControlsCollection>>`. We wouldn't be able to use `form.elements` directly in the Rust code, but instead we must already remember to use the WebIDL interface function `form.Elements()` instead.

[2016-09-23 21:19] jdm commented on #13402
From an ergonomic perspective, I agree that it would be nice to be able to use `self.elements` in a low-effort way. From a safety perspective, the type system helps here because `self.elements.get()` returns an optional value, so it's at least more work to do the wrong thing (ie. unwrapping).

[2016-09-23 21:42] larsbergstrom commented on #13369
I agree with @retep998, but I think the problem here is more that the code is not yet implemented than that we are failing to load them. I believe that we're failing to even attempt it in this path! :-) So I think we should revisit this once we have a real font loading story in place on MSVC.

[2016-09-23 22:41] KiChjang opened #13403 "Review usage of UnsafeNode"
`UnsafeNode` is essentially a 2-tuple of usize representing pointer addresses. It can be properly transmuted into a proper `LayoutJS<Node>`, which is wildly unsafe.

[2016-09-24 00:57] #12913 closed

[2016-09-24 04:44] #13350 closed

[2016-09-24 10:17] #13020 closed

[2016-09-24 10:59] flacerdk commented on #9673
I've done a lot more digging and now I have a better idea of what's going on.

Initially I was trying to write a slice iterator whose slices can span more than one glyph run. This was to overcome the fact that text runs contain glyph runs that are produced by `break_and_shape` in `text_run.rs`. This function outputs glyph runs that correspond to _natural words_, which is too liberal for `word-brea

[2016-09-24 11:58] Mylainos commented on #13377
I have some problems with tidy, I will fix this and send a pull request tomorrow.

[2016-09-24 12:13] gterzian commented on #13375
I would like to give it a go

[2016-09-24 14:38] jdm commented on #13375
@gterzian Please do! Ask questions here if anything is unclear.

[2016-09-24 14:39] jdm commented on #13375
To run the media tests, use `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements`.

[2016-09-24 14:43] jdm commented on #9673
I don't know anything about the code or the work involved, and I also can't can't if you have any specific questions yet. If you do, please holler and I'll be sure to poke people who can answer them!

[2016-09-24 14:47] jdm opened #13408 "Replace instances of old ServiceWorker specification URL with new one"
The old specification URL is https://slightlyoff.github.io/ServiceWorker/spec/service_worker/ and there are various places in `components/script` that use it. We should rewrite all of these instances to use the new specification instead: https://w3c.github.io/ServiceWorker/ . We can also remove the specification exception in https://dxr.mozilla.org/servo/source/python/tidy/servo_tidy/tidy.py#72 .

[2016-09-24 14:47] highfive commented on #13408
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-24 14:50] jdm opened #13409 "Make ServiceWorkerContainer::register return a Promise"
Specification: https://w3c.github.io/ServiceWorker/#service-worker-container and https://w3c.github.io/ServiceWorker/#service-worker-container-register-method
Code: `components/script/dom/webidls/ServiceWorkerContainer.webidl`, `components/script/dom/serviceworkercontainer.rs`

The implementation of `ServiceWorkerContainer::Register` was written before #12830, which added support for Promise value

[2016-09-24 14:50] highfive commented on #13409
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-24 14:51] jdm commented on #13409
Use `./mach run tests/html/service-worker/index.html` to verify the changes (the test will require updating to use Promises appropriately).

[2016-09-24 14:52] Coder206 commented on #13409
@jdm May I?

[2016-09-24 14:56] jdm commented on #13409
@Coder206 Sure, go ahead.

[2016-09-24 15:05] JanZerebecki commented on #11424
I translated the above test case into code (see the above commit). When translate() is called between adding floats their state may get inconsistent with each other as the offset/ceiling is not updated. I don't know enough of the servo design yet. Is it better to solve this by keeping enough state (it is currently not keep in add_float()) in the Floats struct to recompute the placement of all floa

[2016-09-24 15:15] gterzian commented on #13375
@jdm ok, thanks! I'll ask away if there is anything...

[2016-09-24 15:31] jdm commented on #11424
Paging @notriddle for layout question.

[2016-09-24 19:04] vigneshsarma commented on #13408
I would like to give it a go.

[2016-09-24 19:08] jdm commented on #13408
Great! Please ask questions if anything is unclear :)

[2016-09-24 19:38] jdm commented on #13379
http://isjavascriptenabled.com/ relies on document.write, which is tracked in #3704.

[2016-09-24 19:40] jdm commented on #13379
The Kangax site also relies on document.write.

[2016-09-25 08:42] gterzian commented on #13375
@jdm When you say that some tests need updating, do you have any particular test in mind? I checked `tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements` and couldn't find one that tested the meta data...

[2016-09-25 08:45] KiChjang opened #13413 "Implement Location.replace"
This would allow us to click links on Google search.

Should be a straightfoward implementation - refer to the implementation of `fn Assign` if it's not clear.

Spec: https://html.spec.whatwg.org/multipage/browsers.html#dom-location-replace
Files: `components/script/dom/webidls/Location.webidl`, `components/script/dom/location.rs`
Test: `tests/wpt/web-platform-tests/html/browsers/history/the-locat

[2016-09-25 08:45] highfive commented on #13413
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-25 10:04] gterzian commented on #13375
@jdm unrelated to this particular issue, but, what would be the quickest way to get feedback on some code change? `./mach build --dev` takes pretty long on my machine :)

[2016-09-25 12:04] stshine commented on #13413
I'd like to have a try.

[2016-09-25 13:27] jdm commented on #13413
Please do!

[2016-09-25 13:35] jdm commented on #13375
I am not aware of a quicker mechanism, unfortunately.

[2016-09-25 14:18] vigneshsarma commented on #13408
Before I submit the PR,

1. Why is it that it is ok to remove the line https://dxr.mozilla.org/servo/source/python/tidy/servo_tidy/tidy.py#72? I don't really understand what's going on here.

2. I also found references to this url in `tests/wpt/web-platform-tests/service-workers/stub-*`, `tests/wpt/web-platform-tests/service-workers/cache-storage/` and some other files in `tests`. Should I update

[2016-09-25 14:42] jdm commented on #13408
1. That's the list of URLs hostnames that point to known specifications, which tidy.py uses to validate that certain files and methods contain comments linking to a specification that they're implementing. Since no specification exists at slightlyoff.github.io/ServiceWorker/ any more, we don't want people accidentally adding links to it after this point.
2. Yes, that would be helpful! The whole we

[2016-09-25 14:49] jdm commented on #12939
@Permutatrix Did you make any progress here?

[2016-09-25 15:02] paulrouget commented on #13353
The constellation would check if the root pipeline is a mozbrowser pipeline (we don't want to handle the case where there's a non-root mozbrowser pipeline, it's not supported, and I don't believe it will ever be).

If it is a mozbrowser pipeline, it sends the event to the mozbrowser pipeline.

Then to the focused pipeline.

2 things to note:

1. if in the mozbrowser pipeline, `event.stopPropagatio

[2016-09-25 15:16] jdm commented on #13353
Ok, that scheme sounds workable. In the current code, if the event is canceled by the focused pipeline then the script thread just doesn't tell the compositor about the event at all; we may need to change that.

[2016-09-25 15:21] jdm commented on #12354
My servo time is now ~0.6. Progress!

[2016-09-25 18:05] fiji-flo commented on #10083
I started working on this (https://github.com/fiji-flo/servo/commit/6e037872d380fbd58abdc273591f206b43f2923a).

I got a first working version to see if I'm on the right path. I guess the only proper way here is to use a new RPC to talk to layout. I'll continue to work on this and post updates.

Here is how it looks like:
https://static.fiji-flo.de/servo-inputelement.webm

[2016-09-25 18:19] #13408 closed

[2016-09-25 18:31] jdm commented on #10083
Great work! One other case to test is whether that query works correctly after scrolling the page away from the origin, both for a text input that was originally in view and for one that scrolls into view.

[2016-09-25 19:06] nox commented on #12354
What changed?

[2016-09-25 22:26] Permutatrix commented on #12939
@jdm [Some.](https://github.com/Permutatrix/servo/commits/258b1c700912b2372e652e0186931d888f56a7df) I found after taking it that fixing this bug would actually require implementing the offset properties for inline elements from scratch, so I looked into what that would entail, and Firefox and Chrome's implementations are inconsistent with each other. They behave very strangely when it comes to rep

[2016-09-25 23:20] Coder206 commented on #13409
@jdm I apologize for the delay, I am having trouble building Servo on all my instances.

I noticed there are steps in the code (`components/script/dom/serviceworkercontainer.rs`). However, some steps are missing, do you want me to add them based on `https://w3c.github.io/ServiceWorker/#service-worker-container-register-method`?

Also, should the command above for verifying be failing when running?

[2016-09-26 01:11] KiChjang commented on #13409
@Coder206 No, the issue here is sufficiently scoped to only modifying `ServiceWorkerContainer::register`. All other functions that are not relevant to the issue should not be touched.

[2016-09-26 01:19] KiChjang commented on #13409
After reading the new spec, it looks like the majority of the function body of `register` needs to be rewritten, and extracted into a new method called `start_register`.

[2016-09-26 02:03] jdm commented on #12354
The various changes to rustc linked from https://github.com/rust-lang/rust/issues/34727.

[2016-09-26 02:10] jdm commented on #13409
I disagree. I don't think it's worth changing the goal posts here to adjust to the new specification changes; the goal of this issue to to change the implementation of Register to return a `Promise<ServiceWorker>` value instead of `Fallible<Root<ServiceWorker>>`.

[2016-09-26 02:30] jdm opened #13420 "Make Location::Assign throw an error if URL parsing fails"
Step 2 of https://html.spec.whatwg.org/multipage/browsers.html#dom-location-assign says we should [throw an exception](http://doc.servo.org/script/dom/bindings/index.html#throwing-exceptions), but the current implementation does not do that.

Code: `components/script/dom/location.rs`, `components/script/dom/webidls/Location.webidl` (add a `[Throws]` annotation)
Test: `./mach test-wpt tests/wpt/web

[2016-09-26 02:30] highfive commented on #13420
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-26 04:00] SecurityInsanity commented on #13420
I think I'll take a whack at this.

[2016-09-26 04:21] jdm commented on #13420
Great! Please ask questions here if anything is unclear!

[2016-09-26 04:41] jeffparsons opened #13421 "index out of bounds: the len is 70141 but the index is 70141"
index out of bounds: the len is 70141 but the index is 70141
### URL:

### Servo Version:
Servo 0.0.1-d00639c
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-09-26 04:42] jeffparsons commented on #13421
Saw this clicking through from https://blog.servo.org/2016/09/19/twis-78/ from https://blog.servo.org/ a couple of minutes ago.

I may have been scrolling at the time. No idea if that's relevant.

[2016-09-26 05:35] fiji-flo commented on #10083
Thanks for the first input. Positioning after scrolling seems to be working like it should. I might run into problems when the input is in a different stacking context. But I'll figure it out.

current issues:
- performace
- revisit/check flow
- track and apply transforms
- stacking context

[2016-09-26 06:06] vigneshsarma commented on #13035
I would like to try to fix this, but:

I tried to replicate this using `./mach run http://shadertoy.com`, but not able to reproduce it. I tried both `release` and `dev` builds. I see that the code is still there as mentioned in the bug.

Any ideas?

[2016-09-26 07:41] birtles opened #13423 "Create a way of getting a serialized single value out of a declaration block"
See discussion in [bugzilla bug 1302949](https://bugzilla.mozilla.org/show_bug.cgi?id=1302949#c17).

We are using Servo to parse animation values into a declaration block. However, the Web Animations API provides a means of inspecting those values so we need to serialize them back again. In [bug 1302949](https://bugzilla.mozilla.org/show_bug.cgi?id=1302949) we just rely on the string having a cert

[2016-09-26 07:59] creativcoder opened #13424 "Implement abstraction of a Job queue for ServiceWorkerRegistration"
**Note**: This is assigned to myself.

With the arrival of Promises from #12830 , it would be nice to flesh out an abstraction of a [Job](https://w3c.github.io/ServiceWorker/#dfn-job) as described in the spec for various lifecycle methods on ServiceWorkerRegistration.

This will help us to be more aligned to the spec's description of various lifecycle methods; for example the `register` method (cu

[2016-09-26 08:50] metajack commented on #13376
I am looking into this.

[2016-09-26 09:10] Manishearth opened #13427 "Have tidy ensure that the there are no extra files in the webidls folder"
We should probably lint that `components/script/dom/webidls` contains only `*.webidl` files.

Code: https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py

[2016-09-26 09:11] highfive commented on #13427
cc @wafflespeanut

[2016-09-26 09:11] highfive commented on #13427
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-26 09:25] #13038 closed

[2016-09-26 10:08] shinglyu opened #13429 "Flexbox breaks scrolling"
Run

[code]

(The prefs are from wpt test config for flexbox)

The page can't be scrolled.

A reduced test case is like this:

[code]

This doesn't scroll either.

[2016-09-26 10:15] shinglyu opened #13430 "Push build time to perfherder"
Push servo's build time data to perfherder so we can track.

Incremental build time for big crates like style, layout might also be interesting, but that wastes the build machine time just to get the build time data.

[2016-09-26 10:15] highfive commented on #13430
cc @aneeshusa

[2016-09-26 10:17] shinglyu commented on #13430
We can modify this script to do it: https://github.com/servo/servo/blob/master/etc/ci/performance/submit_to_perfherder.py

[2016-09-26 10:18] shinglyu commented on #13430
This is a easy task, but you need perfherder access right to test it or you need to setup your local perfherder server, so I'm not sure if we want to mark it as E-easy or not.

[2016-09-26 10:39] gterzian commented on #13427
@Manishearth could this be already implemented through https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py#L570 ?

[2016-09-26 10:43] Wafflespeanut commented on #13427
@gterzian No, that checks the contents of the `webidl` file. We probably need a new check.

[2016-09-26 10:52] gterzian commented on #13427
@Wafflespeanut ok thanks for clarifying. Allright I'll give this one a try

[2016-09-26 10:53] Wafflespeanut commented on #13427
Glad to hear :)

[2016-09-26 11:02] gterzian commented on #13427
@Wafflespeanut @Manishearth

A question:

do we want to check for any type of  file inside `components/script/dom/webidls` or limit ourselves to the subset of `FILE_PATTERNS_TO_CHECK` see https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py#L44

I'm mainly asking because if the former, I can just plug into the existing 'file checking' generator pipeline from https://github.com

[2016-09-26 11:03] #12792 closed

[2016-09-26 11:07] Manishearth commented on #13427
@gterzian We want to ensure that this folder has only `*.webidl` files. webidl files elsewhere in the tree are okay (usually meaningless). Since the webidl files in that folder are read by the bindings generator, any other kind of file there is probably a mistake.

This is a different kind of check from the rest, let it stay completely separate.

[2016-09-26 11:09] gterzian commented on #13427
@Manishearth ok, thanks for the extra background info, that's all I need to get started :)

so I'll just add another step, akin to the config error check, that is unrelated to the generator pipeline that checks all files individually.

[2016-09-26 11:26] Manishearth commented on #13373
MotionMark has JS errors in Firefox and Chrome. It also seems to have JS errors in Safari, which doesn't really make sense.

[2016-09-26 11:46] Manishearth commented on #13373
Oh, this is because the windows weren't active. Chrome/Safari work. TEsting firefox

[2016-09-26 11:52] Manishearth commented on #13373
Okay, works in firefox too. But firefox has some differences in the animations.

[2016-09-26 13:24] jdm commented on #13035
Yeah, I guess our WebGL implementation has improved enough that it doesn't trigger any more. I recommend:
* add a `void panic();` to `WebGLRenderingContext.webidl`
* modify one of the webgl tests in `tests/html` to call it
* add a `Panic` variant to `WebGLCommand` and send it from the new method in `WebGLRenderingContext` (will require cloning and editing https://github.com/servo/webrender/ and us

[2016-09-26 14:24] jdm commented on #13421
I tried to reproduce this but ran into issues with outdated OpenSSL. If you happen across this same error on another site, that would be useful.

[2016-09-26 14:25] shinglyu opened #13436 "Make FlexFlow work with trace-layout"
For trace-layout to work on FlexFlow, we have to derive `RustcEncodable` on it. But since `RustcEncodable` is deprecated in favor of `serde`, we would probably want to migrate the trace_layout`stuff to`serde` then implement the JSON encoding for FlexFlow.

[2016-09-26 16:55] jdm opened #13437 "Navigating to the same URL with a fragment needs to interact with session history"
Currently, `ScriptThread::handle_navigate` short-circuits if the pre-fragment URL is the same. It scrolls to the chosen fragment then returns without performing any actual load. This means that the session history in the constellation doesn't know anything about the navigation.

cc @ConnorGBrewster for suggestions

[2016-09-26 17:06] ConnorGBrewster commented on #13437
The plan is to add a field to `FrameState` that would store info for this. When navigating to a fragment it will add a new entry to the `Frame` without causing a new load.

[2016-09-26 17:07] fflorent commented on #11485
May I take this one? I am currently learning Rust and I made my first PR to servo lately.
Or should I leave it to someone who has never contributed to Servo? (something I can easily understand)

Florent

[2016-09-26 17:12] KiChjang commented on #11485
@fflorent Nope, go right ahead!

[2016-09-26 17:23] jdm opened #13438 "Implement indexed getter on Window"
Spec: https://html.spec.whatwg.org/multipage/browsers.html#accessing-other-browsing-contexts
It currently always returns `None`.

[2016-09-26 18:14] mbrubeck commented on #13088
Thai line breaking require language-specific dictionaries or text analysis. [UAX#14][1] says:

Thai line breaking is implemented by libraries like [libthai][2]. To support this in Servo, we would need either a Rust binding to an existing library, or a Rust implementation of the algorithm. Then we would need to call it from [`TextRun::break_and_shape`][3] when shaping text using the Thai script.

[

[2016-09-26 18:23] JanZerebecki commented on #13421
I could reproduce this by just waiting for a while (more than a minute, during which the page becomes incrementally more styled). No interaction required.
[code]

[2016-09-26 18:37] #13196 closed

[2016-09-26 18:46] jdm commented on #13421
Thanks for the steps to reproduce! I am unable to do so because my OpenSSL is too old to load servo.org's certificates, unfortunately.

[2016-09-26 18:48] jdm commented on #13421
However, the backtrace shows that this is an error in @est31's mp3-metadata lib.

[2016-09-26 18:48] veer66 commented on #13088
Is this approach from 2007 still preferred https://bugzilla.mozilla.org/show_bug.cgi?id=336959 ?

[2016-09-26 18:51] jdm commented on #13421
Sorry, mp3-metadata is the work of @GuillaumeGomez instead.

[2016-09-26 18:52] JanZerebecki commented on #13421
The video triggers it:
[code]
The backtrace references this line:
https://github.com/GuillaumeGomez/mp3-metadata/blob/4c0304eab9d01caaddbe8d9c5cad57fa9ef3db36/src/metadata.rs#L36

[2016-09-26 19:06] GuillaumeGomez commented on #13421
Ah my bad. Working on a fix!

[2016-09-26 19:13] mbrubeck commented on #13088
Yes, that's similar to what I suggested in my previous comment. It looks like Gecko currently uses Pango on GTK platforms, Uniscribe on Windows, system APIs on macOS, and its own [rule-based line breaker](https://hg.mozilla.org/mozilla-central/file/29beaebdfaccbdaeb4c1ee5a43a9795ab015ef49/intl/lwbrk/rulebrk.c) on other platforms.

[2016-09-26 20:17] farodin91 commented on #10102
I'll start soon to work on it.

[2016-09-26 20:48] jdm opened #13441 "Tests in /fetch/api/cors/ and /fetch/api/redirect/ intermittently time out"
This is tracking the work to investigate why and fix the problem.

[2016-09-26 20:49] xianwenchen commented on #12125
Is it possible to provide a zip archive of the Windows build? Thank you!

[2016-09-26 21:56] #13129 closed

[2016-09-27 01:22] #13262 closed

[2016-09-27 04:33] #13231 closed

[2016-09-27 05:11] Permutatrix commented on #12939
[Alright, I made something that seems to know what it's doing if you don't grill it too hard.](https://github.com/Permutatrix/servo/commit/85da4a9ddf87536111231bdc93c7cee42adffa8e) (It notably doesn't yet work on absolutely positioned inline elements.) But then it occurred to me that this `FragmentBorderBoxIterator` system as it is now has no way of addressing a few cases involving inline elements

[2016-09-27 06:38] Ms2ger commented on #12964
[code]

[2016-09-27 06:39] Ms2ger commented on #12964
CC @Manishearth

[2016-09-27 07:33] #13420 closed

[2016-09-27 08:30] stshine commented on #13429
Hmm... The whole web page is wrapped in a column flexbox, which has not been properly implemented.

[2016-09-27 10:04] Manishearth commented on #12964
[code]

[2016-09-27 10:14] aochagavia commented on #13371
After investigating a little bit, I think I don't have enough time to implement this in the short term. The main problem I see is that I would need to get familiar with font rendering in the first place, which seems to be a very complex topic.

For anyone trying to implement this, maybe the [directwrite](https://crates.io/crates/directwrite) crate can be a starting point.

[2016-09-27 11:06] metajack opened #13451 "ERROR:script::dom::bindings::error: Error at http://browserbench.org/MotionMark/resources/extensions.js:626:9 callbackfn(...) is not a function"
While testing the fix for #13376 , MotionMark runs but stops after a few seconds with the error:
`ERROR:script::dom::bindings::error: Error at http://browserbench.org/MotionMark/resources/extensions.js:626:9 callbackfn(...) is not a function`

Blocks #13373

[2016-09-27 12:33] jdm opened #13457 "Make Request throw less often"
https://github.com/whatwg/fetch/pull/377

[2016-09-27 12:44] jdm opened #13458 "Intermittent timeout in /fetch/api/request/request-cache.html"
[code]

The test expects a crash already, but WPT doesn't figure out that this is a crash for some reason.

[2016-09-27 12:45] metajack commented on #12125
@aochagavia I think it was blank for some people before that change, but yes. I'll add it.

[2016-09-27 12:54] JanZerebecki commented on #2601
It seems this was fixed in the mean time. At least I can't reproduce it anymore (`$ RUST_LOG=layout ./target/debug/servo tests/html/about-mozilla.html`).

[2016-09-27 13:25] jdm commented on #2601
Thanks for checking!

[2016-09-27 13:25] #2601 closed

[2016-09-27 13:50] nox commented on #6909
https://github.com/servo/servo/blob/1ed3521dcfdf573dd68afe18148e785a8af2389a/components/script/dom/window.rs#L194

[2016-09-27 13:50] highfive commented on #6909
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-27 14:08] paulrouget commented on #13353
The problem with this approach is that the top pipeline script thread is blocked until the focused pipeline consumes the event. See what gecko does here: https://github.com/browserhtml/browserhtml/issues/317#issuecomment-94056689

I'm not very happy about that… maybe we should not use DOM events for this.

[2016-09-27 14:43] jdm commented on #6909
Specifically, we need to get rid of that line that was linked in the previous comment, because that member is not being measured right now.

[2016-09-27 14:48] jdm commented on #12415
I unmarked the WebGL interfaces since that work was never performed.

[2016-09-27 15:16] Ms2ger opened #13462 "Use the fetch stack for stylesheets"
I'm looking into this.

[2016-09-27 15:23] jdm opened #13463 "Intermittent timeout in /css-flexbox-1_dev/html/flexbox-basic-iframe-vert-001.htm"
[code]
@asajeffrey This points the finger at a panic while locking the the mutex in the logging machinery :(

[2016-09-27 15:39] asajeffrey commented on #13463
Oh pox, remutex is causing a `_sigtramp`?

[2016-09-27 15:55] jdm commented on #13451
I took a look at this in a debugger, and it's very confusing. We end up in the self-hosted Array.forEach implementation as one would expect, and the code there invokes IsCallable on the argument. That eventually takes us into the the SM interpreter (InternalCallOrConstruct), and eventually into this block:
[code]
`args.callee()`'s class is the `Array` class, so we end up reporting that the callee

[2016-09-27 15:56] jdm commented on #13451
Oh, and for context the code being executed is:
[code]
where this.data is an Array, typeof iterationFunction is "function" :/

[2016-09-27 15:57] jdm commented on #13451
cc @Manishearth who was poking at this.

[2016-09-27 16:01] Manishearth commented on #13451
Have a private repo with most of the motionmark code downloaded locally at https://github.com/Manishearth/motionmark-local/, ping me if you need access.

(Motionmark loads a lot of scripts dynamically, so just saving the page doesn't work. )

[2016-09-27 16:12] tschneidereit commented on #13451
@jdm that doesn't really make sense, no :( Does a debug+opt build also not reproduce this? That should suffice to get a better analysis, at least.

It seems strange for `iterationFunction` to be `Array`, and that's not what I see in Chromium or Firefox, either. I find it hard to believe that we'd somehow miscompile the JS here, but who knows. @metajack you say this happens "after a few seconds". I

[2016-09-27 16:28] jdm commented on #13451
Callstack:
[code]

[2016-09-27 16:29] jdm commented on #13451
The extensions.js number is a bit off because of local modifications, but it's the `this.data.forEach(iterationFunction);` line.

[2016-09-27 16:36] tschneidereit commented on #13451
@jdm I assume the `main.js` numbers are also off by 4 and frame 2 would be `main.js:562`?

[2016-09-27 16:38] #13377 closed

[2016-09-27 16:45] jdm commented on #13451
Debug mozjs:
`Assertion failure: sourceFun->nargs() == targetFun->nargs(), at /Users/jdm/.cargo/git/checkouts/mozjs-fa11ffc7d4f1cc2d/master/mozjs/js/src/vm/SelfHosting.cpp:3110`

[2016-09-27 16:46] jdm commented on #13451
[code]

[2016-09-27 17:39] asajeffrey commented on #13463
Yay, at least I managed to replicate the crash locally!
[code]

[2016-09-27 17:59] jeenalee opened #13464 "Properly rethrow any exceptions from parsing JSON in Body mixin's `Json()`"
The [Fetch spec](https://fetch.spec.whatwg.org/#body) requires the `Json()` method in Body mixin to rethrow any exceptions from parsing the JSON object.

Currently, #13345 clears pending exception instead of rethrowing exception from `js::jsapi::JS_ParseJSON()`.

[2016-09-27 18:13] malisas opened #13465 "trait `js::conversions::ToJSValConvertible: core::marker::Sized` not satisfied"
The compiler produces the following error:

[code]

when I try to compile this code:

[code]

[2016-09-27 18:16] jdm commented on #13465
The problem is that resolve_native takes a generic value bounded by `ToJSValConvertible`, and instead of passing a concrete type to it we're trying to pass a trait object. I'm not sure if there's a way to get the ergonomic code we want (eg. the snippet) in the previous comment without creating a new method on `Promise` that accepts an `&ToJSValConvertible` argument instead.

[2016-09-27 18:16] veer66 commented on #13088
Since obtaining offsetWidth of span does not work yet #12939, I suppose that word break tests do not work as expected.

[2016-09-27 18:31] canaltinova opened #13466 "Fix origin/clip behavior in mask and background shorthands in style"
In both specs, if one <geometry-box> value is present then it sets both mask-origin and mask-clip to that value. If two <geometry-box> values are present, then the first sets mask-origin and the second mask-clip. But in both parsing process,  we are setting just origin if one <geometry-box> value is present. This effects just parsing functions, serialization functions' behaviors are correct.
Files

[2016-09-27 18:35] scotttrinh commented on #12415
Sorry if that was on me! I went to go do them, and I saw they were all checked! I'll be happy to hop back on that since it wasn't finished.

[2016-09-27 18:58] asajeffrey commented on #13463
A crash with a slightly more useful error report:
[code]
This is indicating that the ownership field is wrong, that the lock is claiming to be un-owned even though a thread is unlocking it. Not good.

[2016-09-27 20:28] #13375 closed

[2016-09-27 20:33] jdm commented on #12415
@scotttrinh Ah, I guess we crossed wires. I checked them to ensure that nobody else tried to do the work at the same time :P Please do!

[2016-09-27 20:38] larsbergstrom commented on #12125
@xianwenchen Do you mean a ZIP archive that packages up the files, or that compresses the MSI? We might be able to make one, but I'd prefer to point people at real installers instead of tarballs, except on platforms where installers require more work than we are currently willing to do (e.g., supporting a variety of linux distros).

[2016-09-27 20:40] BladeMight commented on #12125
I think, he meant zip all files, e.g. portable.

[2016-09-27 20:53] glennw commented on #13298
@mrobinson is working on this now :)

[2016-09-28 00:28] tschneidereit commented on #13451
Whatever exactly is causing this, it's triggered by running script after blocking on a stylesheet load. Or something like that.

Here's a reduced test case that hits the failing assert in mozjs @jdm mentioned above:

[code]

[2016-09-28 02:32] pcwalton opened #13471 "Baselines of inline absolute hypothetical boxes not properly aligned"
Test case:

    <!DOCTYPE html>
    <html>
    <meta charset="utf-8">
    <div style="border-bottom: solid black 1px;">A<span style="position: absolute; right: 0;">B</span></div>

This results in the "src" link being placed in the wrong place in Rust documentation. Oddly, sometimes it works and sometimes it doesn't in rustdoc (probably due to incremental reflow as style sheets/images are loaded),

[2016-09-28 02:46] #10580 closed

[2016-09-28 03:22] vvuk commented on #12125
I hope we can provide both - zip versions are much easier for developers/testers to work with, without needing to do an install.  They make it possible to have parallel versions available, do bisects, etc.

[2016-09-28 03:24] asajeffrey commented on #13463
Argh, I have a half-baked theory. The problem could be caused by the logging inside remutex itself. Logging in servo is locked using a reentrant mutex, so if we log in the middle of lock operations, this can cause havoc. I made sure that we had released the lock before calling `assert!` which seems to have fixed the problem (at least it didn't show up in 75 runs).

[2016-09-28 08:39] metajack commented on #13451
@tschneidereit Yes, I probably meant half a minute :)

[2016-09-28 09:19] tschneidereit commented on #13451
Ok, just wanted to make sure you're not hitting some other situation. But the reduced test case is probably all we need for investigating this.

[2016-09-28 09:35] avadacatavra commented on #2382
Pretty sure this is blocked on the various promises PRs

[2016-09-28 09:39] Ms2ger commented on #13438
https://github.com/servo/servo/issues/4589

[2016-09-28 09:39] #13438 closed

[2016-09-28 10:28] Wafflespeanut commented on #13344
@uber1geek Any updates on this?

[2016-09-28 11:32] scotttrinh commented on #12415
Looks like everything in `WebGL*` was is exposed correctly according to the equivalent Firefox webidl. I couldn't find a reference IDL for `WebGLObject` in Firefox's webidl definitions, but I'm assuming it should be exposed to both.

Having said that I just checked the specs at https://www.khronos.org/registry/webgl/specs/latest/1.0/webgl.idl, I didn't see *any* of the WebGL interfaces exposed, bu

[2016-09-28 11:42] Ms2ger commented on #12415
If there's no `[Exposed]`, that means the same as `[Exposed=Window]`.

[2016-09-28 11:58] metajack commented on #13403
It shouldn't appear outside parallel.rs right? transmute is unsafe, and all of layout except parallel.rs is `deny(unsafe)` I thought.

[2016-09-28 11:59] asajeffrey commented on #5322
Dupe of #633? I think we want eTLD+1, not eTLD.

[2016-09-28 12:12] mmatyas commented on #10310
After the recent developments, WebRender now works correctly on ARM, and it's very fast!

A minor problem: the `wr-stats` has some display issues again, as you can see on the screenshot at servo/webrender#408.

[2016-09-28 12:33] dumindu commented on #12015
This is still happening :(

[2016-09-28 12:41] metajack opened #13479 "intermittent crash ("Connection reset by peer" from RenderApi::get_scroll_node_state) in /_mozilla/css/pseudo_content_with_layers.html, and /2dcontext/compositing/2d.composite.solid.destination-over.html, /css/CSS2/colors/color-137.xht"
[code]

[2016-09-28 12:42] metajack opened #13480 "intermittent crash ("Connection reset by peer" from create_api) in /html/semantics/embedded-content/the-canvas-element/2d.getcontext.shared.html, /html/semantics/scripting-1/the-template-element/template-element/node-document-changes.html, /dom/traversal/TreeWalker-walking-outside-a-tree.html, /XMLHttpRequest/responseText-status.html, /_mozilla/css/line_break_nowrap.html"
[code]

[2016-09-28 12:46] metajack commented on #13480
This may be related to the WR switch in automation done in #13382

[2016-09-28 12:46] metajack commented on #13479
This may be new since the WR switch in automation in #13382

[2016-09-28 12:54] scotttrinh commented on #12415
@Ms2ger I would assume that the spec should trump Firefox's implementation, but I don't want to assume that. Any guidance? Firefox says everything is available to the `Worker`, but the spec has no exposed (therefore `[Exposed=Window]` as you mentioned).

[2016-09-28 13:13] metajack commented on #13373
With latest WR update (#13474 which hasn't yet landed) the test seems to run as expected, and all objects appear to be there at least until the error caused by #13451.

[2016-09-28 13:19] Ms2ger commented on #12415
Let's keep WebGL limited to Window, at least for now.

[2016-09-28 13:28] jdm opened #13481 "Dispatch XHR readystatechange events more often"
https://github.com/whatwg/xhr/commit/8efe6aad48b2824dbd7cb79836946f94d674ad4d

[2016-09-28 13:28] jdm commented on #13481
Also https://github.com/w3c/web-platform-tests/issues/3834.

[2016-09-28 14:43] asajeffrey commented on #633
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=28+Sep+2016&e=28+Sep+2016#c531104

Summary: sandboxes should be treated like tabs.

[2016-09-28 14:57] jdm commented on #2382
Promises are working; anything that is not should be filed with a testcase.

[2016-09-28 15:04] jdm opened #13482 "Intermittent timeout in /html/the-xhtml-syntax/parsing-xhtml-documents/xhtml-mathml-dtd-entity-support.htm"
[code]

[2016-09-28 15:22] asajeffrey commented on #633
More IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=28+Sep+2016&e=28+Sep+2016#c531137

Summary: it looks like the spec at https://html.spec.whatwg.org/multipage/browsers.html#concept-origin says that if you have documents A, B and C, all from example.com, with A containing a sandboxed iframe B, and B containing an unsandboxed iframe C, then A and C have origin example.com, and B has

[2016-09-28 18:21] KiChjang commented on #13482
Disabled in #13483.

[2016-09-28 18:23] KiChjang commented on #13341
Disabled in #13482.

[2016-09-28 19:01] jeenalee commented on #11894
**Updated summary of failing tests**
- **`fetch/api/basic/`**
  - not summarized yet!

- **`fetch/api/cors/`**
  - currently disabled
  - intermittently fails

- **`fetch/api/credentials/`**
  - authorization should be managed properly
 	- `authentication-basic-worker.html`
	- `authentication-basic.html`
  - cookies should be managed properly
    - `cookies-worker.html`
    - `cookies.html`

- **`

[2016-09-28 19:32] canaltinova commented on #13466
I'm going to work on that issue after mask pr lands.

[2016-09-28 20:33] larsbergstrom opened #13487 "In dev (aka debug) builds, do not change the subsystem to Windows"
By default, Rust binaries on Windows use the `console` subsystem. This is great because we get output to stdout/stderr for rust logging, but terrible for the user experience because a console window pops up if you run the application.

Today, we switch the subsystem to `windows` unconditionally here:
https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L262

In this work, if w

[2016-09-28 20:33] highfive commented on #13487
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-28 20:33] highfive commented on #13487
cc @wafflespeanut

[2016-09-28 20:55] larsbergstrom commented on #13487
This has been taken in #13488.

[2016-09-28 22:17] JanZerebecki commented on #1228
Works now. No panic and servo displays an error as a page instead.

[2016-09-28 22:27] gil0mendes opened #13491 "Build fails on macOS Sierra"
The build fails on macOS Sierra when I execute the `./mach build --dev` command.

[code]

[2016-09-28 22:40] highfive commented on #13491
cc @wafflespeanut

[2016-09-28 22:40] jdm commented on #13491
Is there any difference if you run `rm -rf python/_virtualenv/`?

[2016-09-28 22:52] jdm commented on #1228
Thanks for checking!

[2016-09-28 22:52] #1228 closed

[2016-09-29 00:25] jdm opened #13492 "Intermittent timeout (Connection reset by peer in FontCacheThread::font_template) in /2dcontext/drawing-paths-to-the-canvas/drawFocusIfNeeded_005.html"
[code]

Same symptom as #12987.

[2016-09-29 01:42] pcwalton opened #13494 "Flexbox bug: "Cards" are too wide on nbc.com"
On nbc.com the boxes that contain information about each show ("cards") are too wide—their width incorrectly spans the whole page.

This looks like a flexbox bug: we need to support the `flex-basis: 33.33%` rule.

[2016-09-29 01:45] pcwalton opened #13495 "Navigation items at the top of nbc.com overlap one another horizontally"
The text is all smushed together—layout considers the floats to have the wrong widths. Each item seems to have `float: left` and the elements inside form stacking contexts in various ways.

[2016-09-29 01:47] pcwalton opened #13496 "Content vanishes on Blogspot blogs"
On http://chethamslibrary.blogspot.com/2012/06/is-cheese-rational.html the page appears for a second and then vanishes. I suspect either iframe or opacity issues in WR.

[2016-09-29 01:49] pcwalton opened #13497 "Panic in MP3 metadata reading on YouTube"
Go to https://www.youtube.com/watch?v=x0YfEzWWJhs and navigate over a few links. You get a crash. Stack trace:

[code]

[2016-09-29 01:52] frewsxcv commented on #13497
cc @GuillaumeGomez

[2016-09-29 01:56] pcwalton commented on #13496
This is non-WR only.

[2016-09-29 02:30] stshine commented on #13494
I can't see the website because of network issue, but the flexbox related properties are still marked as experimental. To test flexbox you need to add following to prefs.json or specify them in command line:
[code]

[2016-09-29 03:21] alex opened #13499 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL: https://washingtonpost.com
### Servo Version:

Servo 0.0.1-13c4393
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-29 04:49] stshine commented on #13494
Yeah, with these prefs enabled the card widths are normal.

[2016-09-29 05:31] wafflespeanut opened #13500 "Welcome the new highfive?"
About 2 weeks back, I [rewrote](http://github.com/servo-automation/highfive) the handlers of highfive for more control on how we handle Github webhook payloads. I have some ideas about how we should start moving stuff to the new highfive.
- It supports per-repo, per-handler and per-event configuration, and it could be easily setup on heroku (even the free dyno hours will serve us fine). We should

[2016-09-29 05:50] aneeshusa commented on #13500
I'm not sure adding yet-another-infra-provider (Heroku) is necessarily a good idea; we may want to run this with our other infra. Especially with multiple bots, we'll want configuration management to keep them in sync, so we may as well add it to saltfs.

[2016-09-29 06:05] Manishearth opened #13501 "Intermittent pass in /html/webappapis/scripting/event-loops/microtask_after_raf.html"
[code]

[2016-09-29 06:21] aneeshusa commented on #13500
@Wafflespeanut, I appreciate the work you've done on this new highfive and there are some cool new features, but I personally have a few concerns about putting this into production at the moment:
- I'd rather not write/deploy new Python code that is Python2 only; IMO we should use Python3 for new code.
- The usage of git submodules for referencing handlers is worrying; in my experience git submodu

[2016-09-29 06:48] Wafflespeanut commented on #13500
Thanks for the comments.

 - Of course! We can easily port it to python3
-  I've no idea why I'd decided to go for submodules in the first place. I remember talking to @jdm about it when I began this. I got carried away with it, and now, I'm not sure. I think we should just maintain a repo for this, instead of an organization (I admit, the workflow was relatively painful).
- Yeah, integration is d

[2016-09-29 07:55] GuillaumeGomez commented on #13497
Is it with the last version of the crate?

[2016-09-29 08:02] Ms2ger opened #13503 "Too many referrer policy tests are timing out"
My back-of-an-envelope calculation says they add more than ten minutes to out turnaround time. I'm going to disable a bunch of them.

CC @jdm

[2016-09-29 08:24] #13235 closed

[2016-09-29 08:35] Ms2ger commented on #13497
#13421? #13444 should fix.

[2016-09-29 09:01] djc opened #13505 "Transition between HiDPI and normal resolution screen fails"
When dragging the Servo window (latest Nightly build) from my HiDPI (mid-2014 rMBP) laptop screen to a normal-density screen, the content appears to be oversized (probably by 4x?).

This is on macOS Sierra.

[2016-09-29 09:12] GuillaumeGomez commented on #13497
So it isn't.

@pcwalton: Please retry once merged.

[2016-09-29 09:34] #13491 closed

[2016-09-29 10:26] emilio commented on #13451
For the record, I traced this down and It's a codegen bug. Pretty crazy.

The `forEach` function gets initialized in the test case from the `DOMTokenlist` interface that gets initialized while parsing the `rel` attribute of the `<link>` tag.

But the codegen for that `JSFunctionSpec` is wrong, and we have:

[code]

(Notice the `nargs: 0`, that should be `nargs: 1`).

[2016-09-29 10:28] emilio commented on #13451
Backtrace of the function initialization:
<details>
[code]
</details>

Btw, this would have been 1000 times harder to track without `rr`, cc @rocallahan.

[2016-09-29 10:38] Ms2ger commented on #12964
[code]

CC @aneeshusa @larsbergstrom @metajack ?

[2016-09-29 10:51] larsbergstrom commented on #12964
Welp, dunno what's causing the failure, but clearly we're leaking that token and I need to revoke it asap :-/

cc @edunham

[2016-09-29 10:56] larsbergstrom commented on #12964
@edunham @SimonSapin @metajack How was this set up? This token does not appear to be owned by bors-servo or myself, so I can't revoke it :-/

[2016-09-29 11:07] jdm commented on #13451
Yipes. Nice detective work!

[2016-09-29 11:33] aneeshusa commented on #12964
I made #13507 to prevent this from happening again, although we should investigate a better way to pass the token to git.

[2016-09-29 12:43] SimonSapin commented on #12964
I was notified a few weeks ago that some rust-url builds on Travis had leaked a token, so I revoked it and switch to docs.rs instead of github pages (same for cssparser, which shared the token). I then realized that `upload_docs.sh` had the same issue (leaking tokens on network errors) and also revoked that token. The build had been failing for a while anyway.

The token was owned by https://githu

[2016-09-29 14:11] jdm opened #13509 "Intermittent crash in /css21_dev/html4/padding-left-071.htm, /css-text-3_dev/html/css3-text-line-break-opclns-206.htm, and /html/dom/elements/global-attributes/dir_auto-textarea-N-EN.html ("Connection reset by peer" in FontCacheThread::last_resort_font_template)"
[code]

Same symptom as #12872.

[2016-09-29 15:21] rumatoest opened #13510 "ScriptThread: received fire timer msg for a pipeline ID not associated with this script thread. This is a bug."
ScriptThread: received fire timer msg for a
            pipeline ID not associated with this script thread. This is a bug.
### URL:
### Servo Version:

Servo 0.0.1-13c4393
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-29 16:25] CAfromCA commented on #13257
Should this be closed as a duplicate of #13371, since the lack of font rendering on Windows seems to be the underlying cause for the reports of blank Servo windows?

[2016-09-29 19:28] #13223 closed

[2016-09-29 19:28] #13284 closed

[2016-09-29 19:34] nivekuil commented on #13344
I'd like to claim this. Added a PR.

[2016-09-29 20:29] #11898 closed

[2016-09-29 20:43] jdm opened #13515 "Use software rendering for headless mode"
Using Ubuntu 14.04 in a VMWare instance, when I try to run using `./mach run tests/html/about-mozilla.html -z` I get this:

[code]

cc @glennw

[2016-09-29 20:57] glennw commented on #13515
@jdm Could you paste the cmd line you are using?

[2016-09-29 21:06] jdm commented on #13515
`./mach run tests/html/about-mozilla.html`

[2016-09-29 21:12] glennw commented on #13515
This code sets the LD_LIBRARY_PATH to enable finding OSMesa when running WPT - https://github.com/servo/servo/blob/master/python/servo/testing_commands.py#L435. We should expand the run command to also set that path, which will allow using -z (headless) mode when using the run command.

[2016-09-29 21:33] jdm commented on #13515
[code]

[2016-09-29 21:36] jdm commented on #11139
I also get this error when using a VM now:
[code]
[code]

[2016-09-29 21:38] glennw commented on #13515
@jdm OK, this is a different error - it's trying to create a hardware / native GL context, which your VM doesn't appear to support. You could report the results of glxinfo here, but it's likely the VM doesn't support GL3+. In which case, to get output from a VM in software mode, you need to use the headless mode mentioned above.

[2016-09-29 21:38] glennw commented on #13515
(We should make the error message better, and explain what I said above, though)

[2016-09-29 21:46] jdm commented on #13515
@glennw I deleted the different error and moved it to #11139.

[2016-09-29 21:55] jdm opened #13516 "Non-reftest WPT tests do not complete when run headlessly"
`./mach test-wpt tests/wpt/web-platform-tests/WebCryptoAPI/test_getRandomValues.html --binary-arg=-z` will never finish. It spits out results quickly if you look at the raw log, but we apparently never exit the event loop.

[2016-09-29 22:02] jdm commented on #13516
I'm silly - if you use `--no-pause-after-test` as part of the test-wpt command it works exactly as expected.

[2016-09-29 22:02] #13516 closed

[2016-09-29 22:50] jdm commented on #13479
@glennw FYI this is a new intermittent failure with webrender that appears in random tests, so we can't just disable our way to freedom.

[2016-09-29 23:15] asajeffrey commented on #633
Oh yes, and the security vulnerability isn't one, because sandboxing is inherited. In the example. A sandboxed B, so C inherits the sandboxing, so C is sandboxed from both A and B.

[2016-09-29 23:31] glennw commented on #13479
@jdm Yea I think what might be happening is that it tries to request something of WR after it has been shutdown or something like that. I'll see if I can repro it here today at all.

[2016-09-29 23:55] wldcordeiro commented on #6909
I'm interested in trying to get this issue. :hand:

[2016-09-30 00:40] KiChjang commented on #6909
Awesome!

[2016-09-30 00:57] larsbergstrom commented on #13154
I've uploaded some initial changes to use the different stdlib here:
https://github.com/servo/servo/tree/android_libstd

[2016-09-30 01:21] #9673 closed

[2016-09-30 01:23] pcwalton commented on #13494
Ah, OK, so not a bug.

[2016-09-30 01:23] #13494 closed

[2016-09-30 02:15] Wafflespeanut commented on #13480
Similar to #13479

[2016-09-30 02:17] Wafflespeanut commented on #13492
▶ CRASH [expected PASS] /css21_dev/html4/text-transform-applies-to-009.htm
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │ failed to receive response to font request: IoError(Error { repr: Os { code: 104, message: "Connection reset by peer" } }) (thread LayoutWorker worker 2/12, at ../src/libcore/result.rs:799)
    │ stack backtrace:
    │    0:

[2016-09-30 03:24] #13451 closed

[2016-09-30 08:28] Wafflespeanut opened #13523 "Intermittent crash in /css-flexbox-1_dev/html/flexbox_direction-column.htm"
[code]

[2016-09-30 09:13] Ms2ger opened #13524 "https://download.servo.org/ has an expired cert"
CC @edunham @metajack @larsbergstrom

[2016-09-30 12:45] nox opened #13526 "Make ./mach cargo-update update cargo if outdated"
If Cargo is bumped in Servo but one's build artifacts predates that bump, running `./mach cargo-update` will use the previous version of Cargo without emitting any warning or info message. This can results in an incomplete crate bump like in #13444. The command `./mach cargo-update` should first check whether Cargo is up-to-date and update it if needed, like what `./mach build` does.

[2016-09-30 12:45] highfive commented on #13526
cc @wafflespeanut

[2016-09-30 12:46] #13310 closed

[2016-09-30 12:47] GuillaumeGomez commented on #13526
I take it.

[2016-09-30 13:20] aneeshusa commented on #13524
Dupe of https://github.com/servo/saltfs/issues/423, but leaving this open for visibility.

[2016-09-30 13:41] GuillaumeGomez commented on #13497
It has been merged. Can you test again please?

[2016-09-30 14:21] Manishearth commented on #13423
Is it okay if you have to explicitly specify the property when serializing? Or would you prefer it get figured out automatically?

i.e. do you want `(declarationblock, propertyname) -> String` or just `(declarationblock) -> String`

[2016-09-30 14:33] birtles commented on #13423
Passing in the property name should be fine.

2016/09/30 23:21 "Manish Goregaokar" <notifications@github.com>:

[2016-09-30 15:20] gsnedders commented on #12973
SVG 2 is now at CR, so is in principle now done. It makes a fair bit of stuff in SVG 1.1 optional, which also seems useful for this use-case. :)

[2016-09-30 15:32] #12823 closed

[2016-09-30 15:53] aochagavia commented on #13371
Today I investigated a little bit more and implemented some functionality on top of the directwrite crate (you can check out the [diff](let (mut index, mut exists) = (0u32, 0);)). This seems to be the way to go. Take a look at the examples directory to see the new code in action.

So far, two big blockers are:

1. I have never used the Windows API before
1. I have never used COM objects before

Th

[2016-09-30 16:04] Boddlnagg commented on #13371
@aochagavia  The link you provided seems to be wrong ...

[2016-09-30 16:08] wldcordeiro commented on #6909
To confirm the only thing that needs to be done is a line deletion? I'm not sure the description made it entirely clear.

[2016-09-30 17:35] aochagavia commented on #13371
@Boddlnagg Thanks for the heads up! I just fixed the link.

[2016-09-30 17:36] jdm commented on #6909
Correct.

[2016-09-30 17:44] wldcordeiro commented on #6909
👍 Doing so now and running a build and test suite. PR incoming shortly.

[2016-09-30 19:15] glennw commented on #13479
@jdm I didn't manage to reproduce this yesterday - I'll keep looking into it next week. If anyone finds a semi-reliable way to reproduce it, please let me know!

[2016-09-30 19:24] mstange opened #13529 "Should be able to interleave scroll frame contents with unscrolled elements from outside the scroll frame"
This will probably be addressed by @mrobinson's "scroll frames shouldn't build stacking contexts" work, but I made a testcase so I may as well file a bug for it.

In this testcase, during scrolling, the blue element should be underneath the yellow circle, but the green element should be on top of the yellow circle: https://jsfiddle.net/mstange/e52gpo6j/1/

[code]

[2016-09-30 19:30] mstange opened #13530 "Scroll frames should not be containing blocks for position:absolute descendants"
In this testcase, the cyan circle should not scroll with the scroll frame contents: https://jsfiddle.net/mstange/r96r1pqh/1/

Additionally, it should not be clipped by the scroll frame. And it should be composited in the same opacity group as the scrolled contents.

[code]

[2016-09-30 19:36] jdm commented on #13096
Thanks to help from @jonco3 I did some more investigation and have a theory as to the cause. [add_to_root_stack](https://github.com/servo/rust-mozjs/blob/fc380e0e7700f3179a86e8261eafe0828532bbfe/src/rust.rs#L293) takes a `JSContext` pointer, casts it to `ContextFriendFields` and manipulates the stack root list found inside that type. However, Rooted has a [number of methods](https://github.com/ser

[2016-09-30 19:40] jdm commented on #13096
Interestingly, the `rootlist` methods on [mozilla-central master](https://dxr.mozilla.org/mozilla-central/rev/9baec74b3db1bf005c66ae2f50bafbdb02c3be38/js/public/RootingAPI.h#677-688) treat this differently, and possibly in a way that would make this crash go away (see the difference between [out MarkExactStackRoots](https://github.com/servo/mozjs/blob/34c3e075138bb7eff2ed8b5924ccb9067dcd017e/mozjs

[2016-09-30 19:45] canaltinova commented on #13466
@Manishearth Hi!
It is trickier than I expected. Determining if "one value present" is the easy part, but in that case, you can not assign clip directly like `clip = origin;` because they are different `SpecifiedValue` enums.
So a few options came to my mind to solve this issue,
I can create parsed value by hand(but you didn't recommend me this before) or I can create a parser and parse it as `mas

[2016-09-30 20:36] jdm commented on #13096
To support this theory, the following diff makes the crash disappear:
[code]

[2016-09-30 20:39] #10310 closed

[2016-10-01 00:47] #11983 closed

[2016-10-01 01:58] pcwalton opened #13532 "Hang related to Adobe SiteCatalyst's use of cookies on washingtonpost.com"
A script on https://www.washingtonpost.com/opinions/trumps-rise-reflects-american-conservatisms-decay/2016/09/28/e9244732-84cf-11e6-a3ef-f35afb41797f_story.html causes Servo to hang after a bit.

It has to do with this function:

[code]

The page makes a cookie larger and larger without end, eventually hanging Servo. The cookies look like:

[code]

Googling for `getPercentPageViewed` brings up som

[2016-10-01 01:59] pcwalton commented on #13532
cc @jdm

[2016-10-01 02:29] notriddle opened #13533 "Crash at GitHub"
### How to reproduce

Visit https://github.com/servo/servo/pulls

### Output

[code]

[2016-10-01 02:31] notriddle commented on #13533
I just realized it might be worth doing a fresh build. I ran `git clean -dfx`, so now I'll see if it's just leftover bits-n-pieces of MozJS or something.

[2016-10-01 03:30] #13533 closed

[2016-10-01 03:30] notriddle commented on #13533
Sorry for the noise. It's just an unclean build.

[2016-10-01 03:35] wafflespeanut opened #13535 "Intermittent failure in /websockets/constructor/013.html"
[code]

[2016-10-01 04:53] #13344 closed

[2016-10-01 08:53] jonco3 commented on #13096
It looks like the changes in bug https://bugzilla.mozilla.org/show_bug.cgi?id=1266887 may have precipitated this.

I think you should use the root list of the zone associated with the context if possible as the C++ version does, as we should be able to skip marking roots associated with uncollected zones in the future.

[2016-10-01 11:18] Manishearth commented on #13466
They can't use the same enum in the mask case, since `mask-clip` can be `no-clip` but not `mask-origin`. Having a `From` impl and converting is okay with me.

[2016-10-01 11:19] #13362 closed

[2016-10-01 11:23] jorrete opened #13536 "Build sometimes fails because of non-C locale"
Building fails in mozjs_sys compilation.

[code]

Thanks.

[2016-10-01 13:19] jdm commented on #13536
Given output like `gmake: *** No se especificó ningún objetivo y no se encontró ningún makefile.  Alto.`, I suspect the build might work if you temporarily switch your language to english.

[2016-10-01 15:17] jorrete commented on #13536
You were right.
export LANG=EN before ./mach build fixed it.
Thanks!

[2016-10-01 17:39] Wafflespeanut opened #13540 "Cannot generate style bindings on Ubuntu 14.04"
I have `llvm-3.8`, but when I tried to generate the bindings, I got this long error!

    [BINDGEN] bindings::None in "/media/Ubuntu/stylo/obj-x86_64-pc-linux-gnu/"... FAIL
          Running `rust-bindgen/target/debug/bindgen ...`
    /media/Ubuntu/stylo/obj-x86_64-pc-linux-gnu//dist/include/mozilla/mozalloc.h:190:1: warning: replacement function 'operator new' cannot be declared 'inline' [-Winlin

[2016-10-01 17:40] Manishearth commented on #13540
Probably should be filed on servo/rust-bindgen

[2016-10-01 17:41] Wafflespeanut commented on #13540
Thought about filing there, but I didn't know whether it was due to bindgen itself, or improper usage of it in the script.

[2016-10-01 17:45] Wafflespeanut commented on #13540
Also, this isn't the actual log. It's a `uniq` version of it (because the actual log was ~9 MB, and it had a lot of repeating lines).

[2016-10-01 18:30] #6909 closed

[2016-10-01 19:10] KiChjang commented on #13421
Should be fixed by #13444.

[2016-10-01 19:10] #13421 closed

[2016-10-01 19:23] KiChjang commented on #7708
I'm looking for something to kill some time, and this looks like a good thing to do so

[2016-10-01 20:15] #13526 closed

[2016-10-01 21:48] jdm commented on #7708
We should chat about the problems I ran up against.

[2016-10-01 21:51] aneeshusa commented on #13524
Looks like we have a new cert as of yesterday.

[2016-10-01 21:51] #13524 closed

[2016-10-01 22:43] KiChjang commented on #7708
There's at least a rebased version of #11453 located [here](https://github.com/KiChjang/servo/tree/image-loading).

[2016-10-02 00:49] thuibr opened #13542 "Can't build in OpenSUSE: need glu-devel to compile"
This package is not found in YAST, however. I am running a fresh install of OpenSUSE Leap 42.1. Without it, I receive a fatal error:

`fatal error: GL/glu.h: No such file or directory
 #include <GL/glu.h>
`

The package can be found here:
https://software.opensuse.org/package/glu-devel

[2016-10-02 00:58] KiChjang opened #13543 "Use hyper::method::Method in dom/request.rs"
I believe only hyper was imported because of the many different types that are named methods in the file. We can instead rename the import by doing `use hyper::method::Method as HttpMethod;` and update the paths in the file accordingly.

File: `components/script/dom/request.rs`
No need for any tests; if it compiles, it's good enough for a PR.

[2016-10-02 00:58] highfive commented on #13543
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-02 01:00] thuibr commented on #13543
Hello. I'd like to claim this ticket.

[2016-10-02 01:07] KiChjang commented on #13543
Sure thing!

[2016-10-02 03:01] #13543 closed

[2016-10-02 04:14] j-koreth commented on #13542
My apoligies for the discrepancy I have opened a pull request to fix it

[2016-10-02 04:14] Manishearth opened #13546 "Handle currentColor interpolation"
One can animate between a `rgb(..)` and `currentColor` color value, in which case the interpolation is a mixing of the original value and the `color` at that interpolation point. So at time `t` (between 0 and 1), this interpolation would be `rgb*(1-t) + <value of color>*t`. For this, `currentcolor` needs to be stored as a ratio alongside a color, instead of an enum value . Gecko does this with [`S

[2016-10-02 04:18] Manishearth opened #13547 "Figure out what to do for complex colors that aren't represented as such on the Gecko side"
See https://github.com/servo/servo/pull/13539#discussion_r81461072

Some color values like `background-color` and `flood-color` allow `currentColor` (and we parse them as such), but they are not represented as `StyleComplexColor` on the Gecko side. We should figure out why (perhaps fixing Gecko, or parsing them differently on our side), and map the currentcolor value suitably. We currently just us

[2016-10-02 09:49] #13542 closed

[2016-10-02 11:20] gterzian commented on #13249
Could I give this one a try?

[2016-10-02 14:35] emilio commented on #13540
It's due to the system headers, that contain a `CXType_Vector`. I can add a stub for that in bindgen, since that can't be represented in rust off-hand.

Notice the last part of the log:

[code]

[2016-10-02 15:06] #13540 closed

[2016-10-02 15:30] jdm commented on #7708
So as not to leave you hanging, these were the Hard Problems that I realized:
* https://groups.google.com/d/msg/mozilla.dev.servo/kxgpmsuDw_s/_BtBVW7bPAAJ
* for images that are loaded based on CSS (eg. background-image), it is much more difficult (and more code-duplication-y) to respect things like the document's referrer policy since we're in the layout thread. It would be so nice if we could som

[2016-10-02 15:55] canaltinova opened #13548 "Write tests for parsing of background shorthand in style"
Writing parse tests for background shorthand is very similar to mask shorthand tests since parsing implementation is pretty much same. We wrote unit tests for mask shorthand in #13336.
To write this, we need to add file to `tests/unit/style/parsing/background.rs`, then we can simply copy and paste tests from `tests/unit/style/parsing/mask.rs` and change mask longhands to background longhands to co

[2016-10-02 16:09] Manishearth opened #13549 "Implement all gradients"
We currently only support nonrepeating linear gradients. There are actually two kinds of gradients (linear, radial), and each can be both repeating or non repeating.

https://drafts.csswg.org/css-images/#gradients

We should be able to parse these, and implement them for stylo.

Step 1 is to just parse them, and maybe add some parse unit tests.

[Code for parsing](https://github.com/servo/servo/bl

[2016-10-02 16:10] highfive commented on #13548
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-02 16:13] G4udy commented on #12125
I've been trying open Servo on Windows7, but close after hundredth seconds. Any idea?

[2016-10-02 16:17] jdm commented on #13249
@mrobinson Would you be able to provide any pointers here?

[2016-10-02 17:34] flacerdk commented on #4901
@Yoric: Are you currently working on this? Or is anyone else? I've been looking into how to improve font selection on Linux (see e.g. #12944), but I figured an ideal solution would likely involve something like this. I'd volunteer myself, but testing on Windows and OS X would be very time-consuming for me. I'd be willing to look into handling Fontconfig, though.

[2016-10-02 17:43] b-lambert commented on #13548
I would be interested in taking this on!

[2016-10-02 17:46] jdm commented on #13548
Please do! Ask questions here about anything that is unclear.

[2016-10-02 17:49] Yoric commented on #4901
Sorry about that, I've been asked to work on other stuff and I forgot to mention it. So, anyone, feel free to pick this up.

[2016-10-02 17:54] b-lambert commented on #13548
Cool, feel free to assign me to it.

[2016-10-02 18:02] #13427 closed

[2016-10-02 20:34] #13466 closed

[2016-10-02 22:23] KiChjang commented on #13403
Pinging @nox since he was the one to want a review of UnsafeNode.

[2016-10-02 23:29] BladeMight opened #13550 "failed to run custom build command for `mozjs_sys v0.0.0 (https://github.com/servo/mozjs#34c3e075)`"
I was trying to compile servo from source on Windows with MSYS2 folowing the [guide in readme.md](https://github.com/servo/servo#on-windows). And then it stucks on mozjs cutom build, the output:

[code]
Whats wrong with mozjs?

[2016-10-03 00:24] aneeshusa opened #13551 "Create packages (.tar.gz) under debug/release as appropriate"
Currently, some of our packagers create the generated package (.tar.gz file) in the `target/` directory. We should have all packages be created under `target/release/` or `target/debug/`, depending on how servo was built.

Files:
- python/servo/package_commands.py
- etc/ci/upload_nightly.sh

No need to a write a test, but this should be manually tested by running `./mach package`, ensuring that th

[2016-10-03 00:24] highfive commented on #13551
cc @wafflespeanut

[2016-10-03 00:24] highfive commented on #13551
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-03 00:51] Coder206 commented on #13551
I would like to continue the quest ;)

[2016-10-03 01:07] BladeMight commented on #13550
Removing python 3 from path, solved the problem. Output:
[code]

[2016-10-03 01:07] #13550 closed

[2016-10-03 02:54] birryree commented on #13551
I'm new to the Servo project but have a lot of Python and build tooling experience, so I'd be happy with giving this a crack.

[2016-10-03 03:01] aneeshusa commented on #13551
@birryree It's yours! Let us know if you have any questions.

[2016-10-03 03:42] gterzian commented on #13249
the culprit seems to be right here https://github.com/servo/servo/blob/master/components/compositing/compositor_layer.rs#L356
😄

[2016-10-03 03:48] Wafflespeanut commented on #13540
@emilio Thanks for fixing this ASAP! This will be of great help :)

[2016-10-03 05:51] yodalee commented on #13236
I'm trying to implement this.
Do I need to modify `webidls/TextDecoder.webidl` and remove this line:
[code]
and uncomment this one?
[code]
Since the former is not in the interface spec: https://encoding.spec.whatwg.org/#interface-textdecoder

[2016-10-03 06:04] shinglyu opened #13552 "Servo nightly package has the wrong path for browserhtml"
The package I download just now (`./servo -v == Servo 0.0.1-7da20f2
`) has the wrong path for browserhtml package.

The `runservo.sh` says `./build/browserhtml-5c846c4e388d17ec/out/index.html`, but the unzipped folder looks like:

[code]

I can't reproduce this locally, so I'd appreciate if someone can check the CI environment.

[2016-10-03 06:17] paulrouget commented on #13249
scroll events lands in compositor.rs here: https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L1617 then WebRender performs scrolling here: https://github.com/servo/webrender/blob/master/webrender/src/frame.rs#L284 … there, a layer is picked (see `get_scroll_layer`). I guess the wrong layer is picked (if any). It probably has to do with the ScrollEventPhase.

[2016-10-03 06:57] paulrouget commented on #13552
(Looks ok on osx)

[2016-10-03 06:57] jdm commented on #13236
BufferSource is defined in the [WebIDL spec](https://heycam.github.io/webidl/#BufferSource), but our codegen can't handle the the ArrayBufferView or ArrayBuffer types yet. The first argument will need to stay as `optional object input` until we do.

[2016-10-03 07:23] gterzian commented on #13249
@paulrouget thanks

[2016-10-03 08:13] gterzian commented on #13249
removed my comment above which refered to older scroll code...

[2016-10-03 11:06] nox opened #13555 "Intermittent timeout in /html/dom/documents/dom-tree-accessors/nameditem-02.html"
[code]

[2016-10-03 12:54] annevk opened #13557 "Review CSS Houdini"
I'd like folks familiar with Servo's architecture to review the CSS Houdini work (exposing more of CSS to JavaScript). To ensure the architecture put forward by those drafts doesn't invalidate (planned) architecture in Servo and shifts envisioned by Servo (such as from immediate mode to retained mode driving of the GPU) can be accommodated.

Drafts of interest:

* [CSS Painting API](https://drafts

[2016-10-03 12:54] aneeshusa commented on #13552
Likely a bug in #12850, I'll take a look.

[2016-10-03 13:01] Manishearth commented on #13557
cc @SimonSapin who IIRC has been following this closely

[2016-10-03 13:18] yodalee commented on #13234
I wanna make sure that my thought is correct. To implement the streaming support, I think we need to add a `RawDecoder`, which is provided by `encoding`, to the `TextDecoder`
Currently, the `decode` method will process the input buffer to the end by calling `encoding.decode()`, thus we are unable to do incremental decoding. To allow stream decode, we need to add a `RawDecoder` and use `raw_feed` m

[2016-10-03 13:32] SimonSapin commented on #13557
CC https://github.com/w3c/css-houdini-drafts/issues/308

Regarding GPU driving, CSS Painting API currently relies on 2D canvas which is already part of the platform.

[2016-10-03 13:58] emilio commented on #13540
No problem! Let me know if there's any other problem with bindgen, happy
to help :)

On Sun, Oct 02, 2016 at 08:48:52PM -0700, Ravi Shankar wrote:

[2016-10-03 14:48] metajack commented on #13371
You might be interested in this: https://gist.github.com/metajack/e75da24fa22d7bbbc6d454513161f8c5

I wrote this quite a while ago, but shows how to use COM from Rust (including implementing your own objects) and implements some of the functionality needed by webrender.

[2016-10-03 14:48] F1NYA opened #13559 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-7da20f2
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-03 15:58] jdm commented on #13234
That looks right to me.

[2016-10-03 16:21] jdm commented on #13559
This looks like a duplicate of #13463. Thanks for reporting it!

[2016-10-03 16:21] #13559 closed

[2016-10-03 16:57] jdm opened #13563 "test-stylo can't find gecko_pseudo_element_helper.rs"
[code]
cc @Manishearth

[2016-10-03 19:15] #13563 closed

[2016-10-03 21:13] glennw commented on #13529
@mrobinson We're considering whether to remove the non-WR backend. Would doing that simplify your scroll root / stacking context work?

[2016-10-04 03:03] #13199 closed

[2016-10-04 06:35] mrobinson commented on #13529
@glennw Yes, most of the complication is turning the scrolling root annotations into layers, so removing the legacy path would probably mean half the work.

[2016-10-04 06:45] Wafflespeanut commented on #12974
@splav Any news on this?

[2016-10-04 08:26] vmx commented on #13154
A new failure got introduced. You'll hit it as first one, before the "libfontconfig error" one.

[code]

It got introduced by commit https://github.com/servo/gaol/commit/039661b3cdf756648a8cc755b61d39c4d89501ca.

Going back to commit https://github.com/servo/gaol/commit/8c789101c0fb13d1613781d2c7cbe65076b5b924 works and the build advances to the libconfig error.

[2016-10-04 13:11] Manishearth opened #13573 "Intermittent failure in /_mozilla/mozilla/iframe/resize_after_load.html"
http://build.servo.org/builders/mac-rel-wpt2/builds/64/steps/test/logs/stdio

[code]

[2016-10-04 14:12] jdm commented on #11596
Most recent attempt in #12844.

[2016-10-04 14:29] jdm opened #13576 "Enable flexbox layout by default"
When the first prototype flexbox code was merged, we hid it behind a bunch of preferences that defaulted to disabled. Now that we have a more complete implementation, it's time to enable it by default and remove all of the configurability.

There are a few parts to this:
- find the flexbox-related properties in `properties/shorthand/position.mako.rs`, `
  components/style/properties/longhand/posit

[2016-10-04 14:29] highfive commented on #13576
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-04 15:06] splav commented on #12974
@Wafflespeanut the fragment creation is the only thing left. I think I'll finish it today or tomorrow.

[2016-10-04 15:07] cynicaldevil commented on #12555
I created a new method to convert the objects of type `StringOrObject` into `FileReaderResult` [here](https://github.com/cynicaldevil/servo/commit/6ac32ec3f30bcbe840d06d4d42254899b9fcb92b#diff-86a64de2e20a4f0e05816b3c9256087eR205). But then I realised that I need to convert the object back to `StringOrObject` type [here](https://github.com/cynicaldevil/servo/commit/6ac32ec3f30bcbe840d06d4d42254899

[2016-10-04 15:07] aneeshusa commented on #12964
OK, looks like we aren't leaking the old token anymore (compare http://build.servo.org/builders/doc/builds/1525/steps/shell/logs/stdio with http://build.servo.org/builders/doc/builds/1526/steps/shell/logs/stdio), but it looks like we still need to get a new token and deploy it.

[2016-10-04 15:20] jrmuizel opened #13578 "Transformed clips don't work"
http://people.mozilla.org/~jmuizelaar/servo/clipped-rotate-clipped-rotate.html renders incorrectly.

@pcwalton

[2016-10-04 15:20] asajeffrey commented on #2382
Some IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=4+Oct+2016&e=4+Oct+2016#c534539

TL;DR: we may have issues with XOWs in the case that the window is off in another process; this will probably require implementing a WindowProxy in Servo that tracks a pipeline id, so can implement Parent, Top, etc. but for most methods checks to see if the pipeline id is local, and throws a SecuityError if n

[2016-10-04 16:04] Wafflespeanut commented on #12974
Glad to hear :)

[2016-10-04 16:11] #13481 closed

[2016-10-04 16:17] jdm commented on #12555
Yes, in order to store the js value it needs to live in a Heap object, but that's not something we should return to the bindings. The one main problem I see in the current code is that convertToFileReaderResult isn't safe - Heap values need to be created with a default value, then initialized with the real JS value afterwards, like https://dxr.mozilla.org/servo/source/components/script/dom/binding

[2016-10-04 16:58] Haggus commented on #13576
I will work on this issue :)

[2016-10-04 17:25] notriddle opened #13581 "Remove duplicate `#![feature(plugin)]`"
See

* https://github.com/servo/servo/blob/master/components/compositing/lib.rs#L8
* https://github.com/servo/servo/blob/master/components/constellation/lib.rs#L9

[2016-10-04 17:25] highfive commented on #13581
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-04 17:56] jdm commented on #13576
@Haggus Please do! Ask questions if anything is unclear!

[2016-10-04 18:06] shubheksha commented on #13581
I'd like to work on this!

[2016-10-04 18:23] jrmuizel commented on #13578
FWIW, this is blocking our current WebRenderLayerManager/Gecko integration work

[2016-10-04 18:25] Manishearth commented on #13581
go ahead! let us know if you have questions!

[2016-10-04 18:32] Manishearth opened #13583 "Intermittent crash in /css21_dev/html4/border-bottom-width-003.htm"
http://build.servo.org/builders/linux-rel-css/builds/21/steps/test/logs/stdio

`Result::unwrap()` in `RenderApi::add_raw_font`

<details>

[code]

</details>

[2016-10-04 18:34] Manishearth commented on #13583
cc @glennw

[2016-10-04 18:50] Haggus commented on #13576
@jdm I do have few questions. Inside `components/style/properties/longhand/position.mako.rs`, I see properties like `justify-content`, `align-items`, `align-content`, and `align-self`

1. Are those part of flexbox props?
2. Also, for future reference, how could I find out

[2016-10-04 19:17] mbrubeck commented on #13257
Closing as duplicate.

[2016-10-04 19:17] #13257 closed

[2016-10-04 19:21] Manishearth opened #13584 "Split length values into their own file"
[`components/style/values/computed/mod.rs`](https://github.com/servo/servo/blob/aea9545e16fd6ea4a6b1234d1b969457313a5fa7/components/style/values/computed/mod.rs) and [`components/style/values/specified/mod.rs`](https://github.com/servo/servo/blob/aea9545e16fd6ea4a6b1234d1b969457313a5fa7/components/style/values/specified/mod.rs) are huge. Those modules have submodules (`position` and `basic_shape`)

[2016-10-04 19:21] highfive commented on #13584
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-04 19:24] shubheksha commented on #13584
I'll take this up!

[2016-10-04 19:54] jdm commented on #1799
Splitting the script crate in a linear fashion may be more feasible. If we were able to move all of the generated bindings into a crate that script depends upon, that would mean that bindings and layout could build in parallel, and would reduce the working memory required to compile the rest of script. It would also speed up making changes to non-codegen parts of script.

[2016-10-04 20:12] jdm opened #13586 "Invert conditional and return early for AddEventListener/RemoveEventListener"
The code in `EventTarget::AddEventListener` and `EventTarget::RemoveEventListener` currently looks like:
[code]
That is, it does nothing if the value is null. We can improve the readability of the code by doing this transformation:
[code]
Since that allows the rest of the code to be de-indented one level.

Code: `components/script/dom/eventtarget.rs`

No need to run any tests; if the code compiles

[2016-10-04 20:12] highfive commented on #13586
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-04 20:17] antrik commented on #1799
I'd like to point out that this issue is more serious nowadays, as not only does the `script` crate totally dominate partial rebuild time (it takes several minutes for a non-optimised build now), but also the memory usage has gotten so large that it actually makes debug builds exceed the `3 GiB` virtual memory available on 32 bit systems, as reported in https://github.com/servo/servo/issues/13045

[2016-10-04 21:02] jdm commented on #13576
Those are properties listed in https://drafts.csswg.org/css-flexbox/ so they count. Looks like my initial suggestion of looking in the shorthand and longhand `column.mako.rs` files was incorrect; those properties are related to CSS multicolumn layout, which is separate from flexbox.

[2016-10-04 21:10] jdm opened #13587 "Run CSS Multicolumn tests automatically"
We have some support for CSS properties from the [Multi-column specification](https://drafts.csswg.org/css-multicol-1/) but we don't run the tests. We should fix that!

1. Add new entries to `tests/wpt/include_css.ini` for the `css-multicol-1_dev` folder under `tests/wpt/css-tests`
2. Add a new `tests/wpt/metadata-css/css-multicol-1_dev/__dir__.ini` file that enables the appropriate preferences (`

[2016-10-04 21:10] highfive commented on #13587
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-04 21:51] glennw opened #13588 "MSVC Release build fails to start"
Failed to create window.: OsError("CreateWindowEx function failed: Invalid access to memory location. (os error 998)") (thread main, at ../src/libcore\result.rs:799)

[2016-10-04 21:51] glennw commented on #13588
cc @larsbergstrom @vvuk

[2016-10-04 22:19] #13463 closed

[2016-10-04 22:46] stshine commented on #13576
Column flexbox is still not implemented, but that's maybe not be a big deal, whatever. Remeber to have SimonSpain to review the tricky `display: flex` part.

[2016-10-05 00:04] #13462 closed

[2016-10-05 01:04] larsbergstrom opened #13591 "Regression in CEF build time"
As of http://build.servo.org/builders/linux-rel-css/builds/23, the CEF build now rebuilds the entire tree. This is due to:
https://github.com/servo/servo/commit/19a5a30113c3b58d69b6010c79db35b9bd8978c9#diff-4b02cf15724590179b4a5025f1a81a0dR223

With that line, I believe that the default release build and the CEF build have different `-C` flags. There are a few options here:
1) Move the CEF build t

[2016-10-05 01:12] stshine commented on #13576
#13590

[2016-10-05 02:28] jdm commented on #13576
Sorry @Haggus, another team member submitted #13590 without seeing this issue first :(

[2016-10-05 02:57] #13471 closed

[2016-10-05 03:11] shinglyu commented on #12453
During the [Web Engines Hackfest], someone suggested us to run the [Chromium flexbox test](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/css3/flexbox/) alongside the incomplete wpt flexbox test.

[2016-10-05 04:05] Manishearth opened #13593 "Intermittent failure in /css21_dev/html4/pseudo-elements-001.htm"
http://build.servo.org/builders/linux-rel-css/builds/24

<details>

[code]

</details>

[2016-10-05 04:11] jdm opened #13594 "Intermittent failure in /_mozilla/css/text_transform_none_a.html"
[code]

[2016-10-05 04:14] jdm commented on #13594
<img width="558" alt="screen shot 2016-10-05 at 12 14 14 am" src="https://cloud.githubusercontent.com/assets/27658/19100873/b26a047c-8a90-11e6-9a40-3541b5581b5f.png">

[2016-10-05 04:17] jdm commented on #13573
<img width="113" alt="screen shot 2016-10-05 at 12 17 23 am" src="https://cloud.githubusercontent.com/assets/27658/19100916/242ddbd8-8a91-11e6-8d42-e7de68df7b48.png">

[2016-10-05 04:18] jdm commented on #13384
I think we can call this fixed by #13385.

[2016-10-05 04:18] #13384 closed

[2016-10-05 04:31] Manishearth opened #13595 "Have test-stylo run style crate tests too"
Currently, `./mach test-stylo` runs tests from `tests/unit/stylo`.

There are some more stylo-specific tests in [the structs files](https://github.com/emilio/servo/blob/c7e1a575a5225ccfb00a38fb50e052d986c0a78d/components/style/gecko_bindings/structs_debug.rs). These tests [are run when generating bindings](https://github.com/emilio/servo/blob/c7e1a575a5225ccfb00a38fb50e052d986c0a78d/components/sty

[2016-10-05 04:32] highfive commented on #13595
cc @wafflespeanut

[2016-10-05 04:32] highfive commented on #13595
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-05 04:32] highfive commented on #13595
cc @wafflespeanut

[2016-10-05 06:00] #13423 closed

[2016-10-05 06:07] Haggus commented on #13576
@jdm No problem, I'll work on another one.

[2016-10-05 06:26] slester commented on #13587
I'd like to give this a whirl!

[2016-10-05 06:37] Ms2ger commented on #13587
Go for it! Note that you should use update-css, not update-wpt in step 4.

[2016-10-05 06:49] Ms2ger commented on #1799
I don't see how that would work. The generated bindings need to be able to inline the method definitions on the concrete type, and the concrete type depends fundamentally on the wrap function, and the class / JSNative definitions with it.

[2016-10-05 08:41] #13581 closed

[2016-10-05 11:54] mskrzypkows commented on #11596
I can try this task if it's not urgent :-)

[2016-10-05 11:55] nox commented on #11596
It isn't, feel free!

[2016-10-05 13:50] Manishearth opened #13598 "Write a python script to generate type assertions for Servo_* functions"
This is the first step towards fixing #12992

https://github.com/emilio/servo/blob/c7e1a575a5225ccfb00a38fb50e052d986c0a78d/components/style/gecko_bindings/bindings.rs#L802 contains a bunch of `Servo_*` function declarations. These functions are defined in `ports/geckolib/glue.rs`.

We need a way of testing that the functions have the same signatures. This can be done by writing code that will not

[2016-10-05 13:50] highfive commented on #13598
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-05 13:50] highfive commented on #13598
cc @wafflespeanut

[2016-10-05 14:16] larsbergstrom commented on #13591
Oh, duh, #1 won't work because we set this flag in both linux-rel builders :-)

[2016-10-05 14:20] asajeffrey commented on #633
The XOW issue: #2382.

[2016-10-05 14:28] slester commented on #13586
I would like to work on this one as well!

[2016-10-05 14:50] TheKK commented on #11861
It's kind of shame, I found that my test for HTMLAnchorElement in #12493 was totally wrong. Before sending PR, should I open issue for it first?

[2016-10-05 15:12] jdm commented on #11861
No need for an issue if you've got a fix ready!

[2016-10-05 15:19] asajeffrey commented on #633
IRC chat with @avadacatavra, @jdm and @Ms2ger: http://logs.glob.uno/?c=mozilla%23servo&s=5+Oct+2016&e=5+Oct+2016#c535703

TL;DR: Window objects are per-pipeline, but WindowProxy/BrowsingContext objects have to be shared among Window objects in the same script thread. Also: #5238.

[2016-10-05 16:10] #13591 closed

[2016-10-05 17:49] #13586 closed

[2016-10-05 18:59] Rafagd commented on #13598
Is this what you want? https://github.com/servo/servo/pull/13603

[2016-10-05 19:00] Wafflespeanut commented on #13598
In the future, please claim the relevant issue before working on it, so that we can reduce duplicate efforts :)

[2016-10-05 19:08] Rafagd commented on #13598
I'll do it.

[2016-10-05 19:17] emilio commented on #13591
Thanks for taking care of this Lars! I meant to get to this today but I
couldn't finally :/

On Wed, Oct 05, 2016 at 09:10:36AM -0700, bors-servo wrote:

[2016-10-05 19:39] larsbergstrom commented on #13588
This is... interesting. Visual Studio gets an invalid binary error. Windbg can launch it, but the process immediately crashes with the following callstack:
[code]

Hrm.

[2016-10-05 19:45] larsbergstrom commented on #13591
np! It was so easy that even I could do it :-)

[2016-10-05 20:23] larsbergstrom commented on #13588
Also, the errors when attempting to open in Visual Studio are:
[code]

and then:
[code]

Which err.exe tells me is:
[code]

[2016-10-05 20:26] glennw commented on #13588
@larsbergstrom I was able to get that panic by applying the editbin console subsystem hack - does that make a difference for you?

[2016-10-05 20:29] larsbergstrom commented on #13588
@glennw I get the panic with the editbin hack, too. I get the VS & WinDbg errors either way ;-) I was just hoping I could get a debugger in place! Though it occurs to me that I could inject a `DebugBreak` before the `CreateWindowEx` call and maybe I'll get lucky and be able to attach to the process instead...

[2016-10-05 21:03] asajeffrey commented on #633
More IRC, this time on jsapi: http://logs.glob.uno/?c=mozilla%23jsapi&s=5+Oct+2016&e=5+Oct+2016#c799430

TL;DR: http://searchfox.org/mozilla-central/source/js/src/jsapi.cpp#822 JS_TransplantObject is in our future.

[2016-10-05 21:38] glennw commented on #13588
The cause is https://github.com/servo/glutin/blob/servo/src/api/wgl/mod.rs#L705 - this constant is not a wide string.

[2016-10-05 21:40] jdm opened #13605 "Intermittent timeout in /css21_dev/html4/abspos-replaced-width-margin-000.htm"
[code]

[2016-10-05 21:44] retep998 commented on #13588
@glennw That is a known issue which I even pointed out fairly explicitly https://github.com/tomaka/glutin/issues/756#issuecomment-250542808

[2016-10-05 21:48] galvesribeiro opened #13606 "Build for ARM"
Hello,

Is it possible to build Servo for ARMv6l without VFP and targeting Linux Framebuffer (like /dev/fb) ?

Thanks!

[2016-10-05 22:18] jdm opened #13607 "Make manifest_changed.sh check the CSS tests as well"
Right now the script invokes the `test-wpt` command, which verifies that the MANIFEST.json file for the WPT tests is valid. We should run the same set of commands for `test-css`, which would verify that the CSS tests' MANIFEST.json is valid too. This would have caught the syntax error seen in #13599.

Code: `etc/ci/manifest_changed.sh`

[2016-10-05 22:18] highfive commented on #13607
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-05 22:37] jdm commented on #13607
I lied; this wouldn't have caught the problem in #13599. It's still better than not doing it, however!

[2016-10-05 22:41] jgraham commented on #13607
The problem there might be caught by running the harness with `--list-test-groups`, although it's kind of only by accident that will work.

[2016-10-05 23:11] asajeffrey commented on #633
Epic IRC with @bholley: http://logs.glob.uno/?c=mozilla%23servo&s=5+Oct+2016&e=5+Oct+2016#c536033

Not entirely sure there is a TL;DR for this one.

[2016-10-06 00:09] #13587 closed

[2016-10-06 00:26] asajeffrey opened #13608 "Transplant WindowProxy objects"
As part of #633 we should use `JS_TransplantObject` to transplant window proxy objects when an iframe navigates. At the moment, if a same-origin iframe stores its window in its parent, then same-origin navigates, the window object in the new document is different from the old one.

[2016-10-06 00:26] asajeffrey commented on #13608
cc @jdm @bholley

[2016-10-06 00:27] asajeffrey commented on #13608
This may have an impact on XOWs, so cc @avadacatavra

[2016-10-06 10:18] nox opened #13613 "Intermittent TIMEOUT in /css-multicol-1_dev/html4/multicol-br-inside-avoidcolumn-001.htm and /css-multicol-1_dev/html4/multicol-fill-auto-block-children-001.htm on OS X"
Actually I can't seem to reproduce the CRASH locally.

[code]

[2016-10-06 13:17] shubheksha commented on #13607
I'd like to work on this.

[2016-10-06 13:43] jdm commented on #13607
Please do!

[2016-10-06 15:43] jorrete opened #13618 "Not rendering well on Fedora"
Hi,
Not sure if it's servo or browserhtml issue but the initial page it's not rendering well on fedora 24.

![captura de pantalla de 2016-10-06 17-23-06](https://cloud.githubusercontent.com/assets/1777042/19158822/78fb8674-8bea-11e6-8dc8-a43466a34e4c.png)

It seems that its not rendering some parts of input boxes (rounded corners?).

Also regarding to the "Demo sites":
- Evil Ad, Only shows the ad

[2016-10-06 15:43] larsbergstrom commented on #12964
Fixed: http://build.servo.org/builders/doc/builds/1546

[2016-10-06 15:43] #12964 closed

[2016-10-06 16:04] Manishearth commented on #12992
#13617 gets us the script, and https://bugzilla.mozilla.org/show_bug.cgi?id=1308234 fixes the type issues it found.

However, it doesn't work just yet. The problem is that `glue.rs` has _safe_ extern C functions, and the functions in geckolib are extern C declarations (which are unsafe even if not explicitly specified).

I made all the `Servo_` functions unsafe to find all the mismatched signature

[2016-10-06 16:19] emilio commented on #13618
Also happens in Arch for me, probably is not system-dependent, but an issue with webrender. I've seen quite a lot of backgrounds not rendered, but the CPU back-end seems to work well. cc @glennw

Thanks for reporting this!

[2016-10-06 16:20] Manishearth commented on #12992
Interestingly, bindgen picks up the definition of `Servo_Node_ClearNodeData` from nsINode.h (where it is forward-declared) instead of ServoBindingList.h. @emilio, is this a bug?

[2016-10-06 16:32] emilio opened #13619 "Assertion failure (!obj.is_null()) when visiting github on Promise construction."
While trying to see if #13618 reproduced on, e.g. github I got:

<details>
[code]
</details>

[2016-10-06 16:32] emilio commented on #13619
That was a release build. Debug:

[code]

[2016-10-06 16:34] emilio commented on #13619
cc @jdm

[2016-10-06 16:41] emilio commented on #12992
It's not, is the same function with the same signature. We only generate the first function we see.

[2016-10-06 16:48] notriddle commented on #13557
Regarding layout:

The CSS Layout API uses a single-pass layout scheme centered around a `doLayout()` function. This function yields promises, so it is possible for a JavaScript-based layout to call `doLayout()` on all its children, then yield them all at once. If the browser runs the actual work in separate threads, this will allow parallel layout.

The Houdini team has created a parallel layout

[2016-10-06 17:03] Manishearth commented on #12992
The signatures diverge after https://bugzilla.mozilla.org/show_bug.cgi?id=1308234 . Making them the same requires me to forward-declare the borrowed type too, which I can do (I instead moved it to the cpp file)

Ok, if that's expected behavior that's fine.

[2016-10-06 17:06] jdm commented on #13619
What happens if you remove the build folder for mozjs-sys and rebuild?

[2016-10-06 17:23] emilio commented on #13618
It seems Linux and Intel-driver specific after a few people that tested it over IRC.

[2016-10-06 17:35] emilio commented on #13619
Testing now, but given with a fresh debugmozjs build I wasn't able to reproduce, I guess it's likely to not happen.

[2016-10-06 17:40] emilio commented on #12992
But they differ just in the typedefs right?

[2016-10-06 17:46] emilio commented on #13619
Yep, not happening, thanks Josh!

[2016-10-06 17:46] #13619 closed

[2016-10-06 18:09] Manishearth commented on #12992
Yes. But we ask bindgen to generate bindigns for ServoBindingList.h, and it picks up the signature from the other file. The typedef matters because we rewrite types.

[2016-10-06 18:40] anholt commented on #13618
General best approach for failure like this is to capture using apitrace, replay against a software rasterizer or a working driver to ensure that the trace works correctly there, and file a bug with the trace attached at https://bugs.freedesktop.org/enter_bug.cgi?product=Mesa

[2016-10-06 18:52] glennw commented on #13618
Interesting, since I develop on Linux + Intel and have never seen this! If anyone can send an apitrace with the problem to me, I can test it on my machine to see if it's a likely mesa issue, as @anholt mentioned above. Thanks!

[2016-10-06 18:53] splav commented on #13618
On AMD using Mesa driver the round corners are fine, Evil ad is fine, Spheres - fine. Moire hangs, sometimes showing only one circles series sometimes two series. Transparent - hangs.

[2016-10-06 19:12] glennw commented on #13618
I was wrong - I'm seeing the same browser.html issue on my system this morning too (must have regressed recently). I'll look into it today (I don't see it on any other websites - probably a transform issue which browser.html makes use of).

[2016-10-06 19:51] notriddle opened #13622 "Broken layout on Waffle's page"
![screenie](https://cloud.githubusercontent.com/assets/1593513/19168094/5e51d8ae-8bc3-11e6-9f88-997940b97950.png)

https://wafflespeanut.github.io/blog/2016/10/05/and-i-thought-it-was-easy-dot-dot-dot/

This looks like an incremental restyle bug, because it doesn't show up until the page finishes loading, and it flakes back and forth when you mouse over it.

[2016-10-06 20:04] emilio commented on #13618
I've seen that also in https://twitter.com if that helps.

[2016-10-06 21:47] glennw opened #13625 "Infinite reflow on https://en.wikipedia.org/wiki/Rust"
After initial page load, Servo gets into a loop where it reflows infinitely (happens even if the mouse cursor is outside the window).

[2016-10-06 22:30] jdm opened #13626 "Appveyor MSVC build is broken"
[code]

[2016-10-06 22:46] glennw commented on #13618
I minimized the border case and created an issue here: https://github.com/servo/webrender/issues/434

[2016-10-06 23:00] #13206 closed

[2016-10-06 23:08] stshine commented on #13495
Here is a minimal test case:
[code]

[2016-10-07 00:50] pcwalton opened #13630 "Jumpiness involving floats on Wikipedia and elsewhere"
Go to http://en.wikipedia.org/wiki/Pine_marten with `--resolution=1280x800`. Notice that "Habitat" is incorrectly drawn on top of the float. Note also that mousing over "Habitat" fixes the rendering briefly before it returns to its incorrect state.

Possibly related: Go to http://google.com/ and mouse over the top bar. Observe jumpiness there too.

Making a minimal test case would be very valuable

[2016-10-07 00:52] pcwalton opened #13631 "Incorrect horizontal table sizing for some floated tables on Wikipedia"
Go to http://en.wikipedia.org/wiki/Arkanoid_Controller and notice that there is space between the left of the floated image and its table, but not on the right. Also notice that the caption underneath "NES (US/Europe) version Vaus." is not centered.

[2016-10-07 00:54] pcwalton commented on #13630
Based on some other suspicious cases I think we shouldn't rule out restyling going wrong either.

[2016-10-07 00:55] stshine commented on #13495
What's interesting most here is that this only happens when <ul> are wrapped in a inline element. Looks like a bug in the interaction of out-of-flow block and inline-block split.

[2016-10-07 01:40] stshine commented on #13495
I'd like to work on this.

[2016-10-07 01:46] pcwalton commented on #13630
Complete guess in the dark: It may be that floats-in/floats-out data is not properly preserved across incremental reflows.

[2016-10-07 01:46] pcwalton commented on #13622
I bet this is related to #13630

[2016-10-07 03:46] Manishearth opened #13632 "Intermittent timeout in /html/browsers/browsing-the-web/navigating-across-documents/015.html"
http://build.servo.org/builders/mac-rel-wpt1/builds/118/steps/test_1/logs/stdio

[code]

[2016-10-07 05:21] #13598 closed

[2016-10-07 13:01] SimonSapin commented on #13626
Possible fix in https://github.com/servo/servo/pull/13634. Now waiting for results from Appveyor.

[2016-10-07 14:27] #12028 closed

[2016-10-07 14:48] jhugman opened #13635 "Multiple DOM finalizers can panick during the same GC and trigger an assertion"
assertion failed: result.borrow().is_none()
### URL:
### Servo Version:

Servo 0.0.1-710bd7e
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-07 15:54] jdm commented on #13635
I guess this means that another finalizer caught a panic, and we kept on running finalizers since there's no way to indicate to SpiderMonkey that something's wrong.

[2016-10-07 16:10] #13626 closed

[2016-10-07 16:15] pcwalton commented on #13495
Go for it! I suspect it's inline hypothetical box related.

[2016-10-07 16:18] Manishearth opened #13638 "Stylo: Implement -moz-text-align-last"
Please go through [the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) if you wish to hack on stylo.

[`text-align-last`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-align-last) is a keyword property ([implementation guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide#implementing-a-simple-keyword-property)) with the set of possible values being `auto | start |

[2016-10-07 16:56] anholt opened #13639 "webgl: Add support for framebuffer objects"
I've been working on a [series](https://github.com/anholt/servo/tree/webgl-fbo) for FBO support in webgl:

Known issues:

1) Need to clear RBs on allocation (renderbuffer-initialization.html will be an intermittent)
2) Need to invalidate the FBO when its attachments are reallocated
3) Need to check that attachments are not deleted for completeness check
4) `object-deletion-behavior.html` is now a

[2016-10-07 16:57] anholt commented on #10209
I've opened #13639 for tracking FBO support.  Want to add that to framebufferRenderbuffer/framebufferTexture2D?

[2016-10-07 17:31] #13022 closed

[2016-10-07 18:59] Manishearth opened #13643 "Intermittent crash in /css21_dev/html4/width-060.htm"
http://build.servo.org/builders/linux-rel-css/builds/84/steps/test/logs/stdio
<details>

[code]

</details>

[2016-10-07 18:59] Manishearth commented on #13643
looks like it's in WR cc @glennw

[2016-10-07 20:15] metajack opened #13644 "mach should fail and warn if it detects mingw64 python"
If you fail to follow the instructions and rename `/mingw64/bin/python2.7.exe` and `/mingw64/bin/python2.exe` (or if you upgrade mingw64 and they reappear) then mysterious errors will occur.

We should change the `mach` script and `mach_bootstrap.py` so that they detect this case and fail and print an error. The logic will be slightly different in each case since in the `mach` script we'll already

[2016-10-07 20:15] highfive commented on #13644
cc @wafflespeanut

[2016-10-07 20:15] highfive commented on #13644
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-07 20:19] awesomeaniruddh commented on #13638
I'd like to take a stab at this!

[2016-10-07 20:58] jdm commented on #13638
Great! Please ask questions about anything that's unclear in the description or the guide!

[2016-10-07 21:44] jdm opened #13645 "Intermittent timeout in /FileAPI/blob/Blob-XHR-revoke.html"
[code]

This is another instance of the general problem that wptrunner has with recognizing crashes on Mac. Sometimes it doesn't see that the process is dead by the time the timeout is hit.

[2016-10-07 23:33] #12974 closed

[2016-10-07 23:45] Coder206 opened #13648 "Wiki of Bots: Gh-Pages Owner Link Update"
The wiki of `Bots` (https://github.com/servo/servo/wiki/Bots) has a link for the `gh-pages` that gives a 404.

This is the link with no endpoint:

![page-shot-2016-10-7 servo servo](https://cloud.githubusercontent.com/assets/7758155/19208289/9f3cf8b8-8cc6-11e6-9967-9afdf5cd112e.png)

Tags I think are appropriate please: A-Documentation

[2016-10-08 13:48] gterzian commented on #13249
Hi everyone, I'm trying to build Servo with my local fork of webrender, seeing this erro:
`error: Package `webrender_traits v0.6.0 (file:///Users/gregory/Projects/servo/../webrender)` does not have these features: `serde_macros`

[2016-10-08 14:01] splav commented on #12975
To continue main SVG line I'm taking this one.

[2016-10-08 15:01] Manishearth commented on #12283
@Blanen @santagada Are you still working on this?

[2016-10-08 15:04] aneeshusa commented on #12283
Looks like @santagada filed a PR that I still need to review, oops.

[2016-10-08 15:54] paulrouget commented on #13249
It's because of: https://github.com/servo/webrender/pull/430

@nox what needs to done on Servo's side?

[2016-10-08 18:53] jdm commented on #12975
Great!

[2016-10-08 19:07] nox commented on #13249
@gterzian For now you can base your work on the `rustup` branch of this repository. It will get merged tomorrow.

[2016-10-08 22:46] jessstrap opened #13653 "Automatic fallback to llvmpipe"
If the systems OpenGL driver doesn't fulfil the needs of webrender fall back to using llvmpipe/osmesa instead of panicking.

See these [log](http://logs.glob.uno/?c=mozilla%23servo&s=8+Oct+2016&e=8+Oct+2016#c538516) [entries](http://logs.glob.uno/?c=mozilla%23servo&s=8+Oct+2016&e=8+Oct+2016#c538552) for a starting place. Getting this to work on linux and mac should be pretty easy. Getting this to

[2016-10-08 22:48] jessstrap commented on #13653
I'd like to take this one.

It may also be a good candidate for an E-Easy tag.

[2016-10-09 00:05] larsbergstrom commented on #13653
Thanks for doing this! It will be quite helpful not just for old drivers but also for some virtual machines (e.g., VirtualBox) whose graphics drivers have historically not supported the full set of features we need for WR via normal OpenGL.

[2016-10-09 00:09] tobbi opened #13654 "100% CPU usage on specific chip.de site"
The site I am experiencing high CPU usage on is http://www.chip.de/news/So-wird-Firefox-besser-Diese-Erweiterung-wird-empfohlen_101035214.html

I download the HTML of the page and attached it to this issue so that we have a test case.
[So wird Firefox noch besser_ Diese Erweiterung empfiehlt Mozilla - CHIP.html.zip](https://github.com/servo/servo/files/518011/So.wird.Firefox.noch.besser_.Diese.Erw

[2016-10-09 00:38] tobbi commented on #13487
Since #13488 is closed, this can be closed as well, can't it?

[2016-10-09 00:41] larsbergstrom commented on #13487
Great catch, thanks!

[2016-10-09 00:41] #13487 closed

[2016-10-09 07:18] gterzian commented on #13249
@nox thanks, builds fine now 👍

[2016-10-09 08:59] Manishearth commented on #13480
Same crash happened with another test too http://build.servo.org/builders/linux-rel-css/builds/102/steps/test/logs/stdio

[2016-10-09 09:00] Manishearth commented on #13480
Looks like this is another webrender crash @glennw

[2016-10-09 10:00] #12992 closed

[2016-10-09 10:31] gterzian commented on #13249
Quick proof of concept here: https://github.com/servo/webrender/pull/436

It 'works', however not sure if it's right way to approach the problem. For example, if we had more levels of nesting, the scrolling would 'jump' to scrolling the root layer, as opposed to going up the chain of child layers...

[2016-10-09 11:55] paulrouget commented on #13249
/cc @glennw @pcwalton

[2016-10-09 13:34] frewsxcv commented on #8717
Considering the "rendering" desccription here, I think this also depends on https://github.com/servo/servo/issues/8718

[2016-10-09 15:06] Manishearth opened #13657 "Use `.set` instead of manual `.set_value()` in gecko.mako.rs"
For [word-spacing and letter-spacing](https://github.com/servo/servo/blob/804317c8858a096eb99e1ff0baf860dbdfcbb04d/components/style/properties/gecko.mako.rs#L1531), we explicitly call `coord.set_value()` after matching on the type.

However, `nsStyleCoord` can have the method `.set()` called on it directly with `LengthOrPercentage` and `Au`.

Instead of [matching on the `lop` in `set_word_spacing`

[2016-10-09 15:06] highfive commented on #13657
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-09 16:01] awesomeaniruddh commented on #13638
I added the following code to `inherited_text.mako.rs`:
[code]

and I'm getting a build error on stylo. What am I doing wrong?

[2016-10-09 16:04] Manishearth commented on #13638
What is the build error?

[2016-10-09 16:47] shubheksha commented on #13657
I'd like to work on this!

[2016-10-09 16:48] Manishearth commented on #13657
go ahead!

[2016-10-09 17:22] anholt commented on #13035
grepping for a CRASH in `tests/wpt/metadata/webgl/` should also be a fast way to find current things to `./mach run -r` that will produce assertion failures.

[2016-10-09 17:25] awesomeaniruddh commented on #13638
[code]

[2016-10-09 17:27] Manishearth commented on #13638
Are you getting a build error without your changes?

[2016-10-09 17:30] Manishearth commented on #13638
Did you run `./mach bootstrap`? This might be an outdated dependency.

[2016-10-09 17:32] awesomeaniruddh commented on #13638
I did run `./mach bootstrap`. I am getting the error even without my changes even though I wasn't previously.

[2016-10-09 17:39] Manishearth commented on #13638
Hmm. Could you post the contents of the `mozconfig` file here? It may have changed.

Also, try `./mach clobber && ./mach bootstrap && ./mach build -j3`

[2016-10-09 17:39] Wafflespeanut commented on #13638
It should simply be `"text-align-last"` instead of `"-moz-text-align-last"`, but that error isn't related to your code. This is from gecko's `mach`. What's your OS? What's in your `mozconfig` file? And, I presume you just ran `./mach build`?

[2016-10-09 17:41] Manishearth commented on #13638
Incorrect; Gecko only supports the prefixed version. I plan to overhaul this code later so that you have better control over prefixes, but for now we must directly specify it with the prefix.

[2016-10-09 17:56] Wafflespeanut commented on #13638
We should be having another argument pointing to the right struct field, `gecko_ffi_name='mTextAlignLast'`

[2016-10-09 17:59] awesomeaniruddh commented on #13638
My mozconfig:
[code]

[2016-10-09 18:10] Manishearth commented on #13638
Not sure if artifact builds work with stylo. Could you remove the last option?

[2016-10-09 18:11] awesomeaniruddh commented on #13638
I ran `./mach clobber && ./mach bootstrap && ./mach build -j3` and got this:
[code]

[2016-10-09 18:19] Manishearth commented on #13638
Remove the warnings-as-errors line as well I guess.

[2016-10-09 18:48] UK992 commented on #13644
I would like to work on it.

[2016-10-09 18:50] Wafflespeanut commented on #13638
This is what I have in my `mozconfig`

    mk_add_options AUTOCLOBBER=1
    ac_add_options --enable-stylo
    ac_add_options --enable-debug
    ac_add_options --disable-optimize
    ac_add_options --enable-warnings-as-errors
    ac_add_options --enable-rust

What happens if you use this?

[2016-10-09 18:50] Wafflespeanut commented on #13644
Cool!

[2016-10-09 19:10] awesomeaniruddh commented on #13638
I ran the build for 48 minutes and it failed with this message:
[code]

Gonna run it with your mozconfig now.

[2016-10-09 19:13] Manishearth commented on #13638
Could you scroll up and find the actual error? Or pastebin as much of the output as you can.

[2016-10-09 19:42] nox opened #13662 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/more/glsl/uniformOutOfBounds.html"
[code]

[2016-10-09 19:51] canaltinova opened #13664 "Fix radial gradient's <size>/<ending-shape> parsing"
Spec: https://drafts.csswg.org/css-images/#radial-gradient-syntax
Normally size can come before shape keywords but currently parsing fails if size comes before shape keyword. We need to parse them regardless of sequence.
current parsing behavior:
`radial-gradient(circle closest-corner at 50px 30px, red, yellow);`
but it can be like this:
`radial-gradient(closest-corner circle at 50px 30px, red, ye

[2016-10-09 19:55] awesomeaniruddh commented on #13638
It actually built successfully with your mozconfig!

[2016-10-09 20:02] Manishearth commented on #13638
cool, now try with those changes 😄

You may need `gecko_ffi_name="mTextAlignLast"` if it says it can't find the field.

[2016-10-09 20:05] Manishearth commented on #13664
They should also parse when it's just `radial-gradient(red, yellow)`

We probably should add some parse tests for this. Not necessarily testing the whole structure, just testing that parse passes.

[2016-10-09 20:13] Manishearth commented on #13664
Regarding the ordering, I suggest parsing like so:

 - Try parsing just the at position
 - OR Try parsing two LoPs
   - Try parsing the `ellipse` keyword, no problem if it doesn't exist
   - THEN try parsing at position, default if it doesn't exist
 - OR Try parsing one length
  - Try parsing the `circle` keyword
   - Try parsing at position, default if it doesn't exist
 - OR Try parsing one keywo

[2016-10-09 21:55] awesomeaniruddh commented on #13638
The terminals spits this out when running `./mach build -d`:
https://gist.github.com/awesomeaniruddh/d88e7e67df727ce8f0d4098b58b61906

[2016-10-09 23:12] #13549 closed

[2016-10-09 23:25] anholt commented on #13639
Patched up object-deletion-behaviour.  Successfully ran [a demo](http://math.hws.edu/graphicsbook/source/webgl/render-to-texture.html) when combined with `uniformMatrix*fv` support.

[2016-10-10 00:56] notriddle commented on #13622
According to `git bisect`, this is a regression introduced by #13401.

[2016-10-10 02:51] Wafflespeanut commented on #13638
We don't have to build servo here (though, if you want, you need to install the dependencies specified in the readme). Please make your changes to servo inside stylo, build stylo and make sure you don't get an error :)

[2016-10-10 03:08] #13657 closed

[2016-10-10 03:10] Manishearth commented on #13638
Right, you should be building stylo-flat, with `./mach build`.

However, it looks like a package is missing -- could you scroll up and pastebin as much of the output as you can? The actual build error is above.

[2016-10-10 03:41] Wafflespeanut opened #13667 "Stylo: Implement font-kerning"
Please go through the [guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) before working on this issue.

[`font-kerning`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-kerning) is a keyword property which takes one of the following values: `auto | normal | none`. The default value is `auto`. The linked MDN has more information about this.

The constant prefix you should be usi

[2016-10-10 03:41] highfive commented on #13667
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-10 03:46] Wafflespeanut opened #13668 "Stylo: Implement font-variant-caps"
Please go through the [guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) before working on this issue.

[`font-variant-caps`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-caps) is a keyword property which takes one of the following values: `normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | titling-caps`. The default value is `normal`. T

[2016-10-10 03:47] highfive commented on #13668
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-10 03:51] Wafflespeanut opened #13669 "Stylo: Implement font-variant-position"
Please go through the [guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) before working on this issue.

[`font-variant-position`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-position) is a keyword property which takes one of the following values: `normal | sub | super`. The default value is `normal`. The linked MDN has more information about this.

The constant pref

[2016-10-10 03:51] highfive commented on #13669
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-10 06:57] Manishearth commented on #13607
This is more nuanced than we originally thought. Closing.

[2016-10-10 06:57] #13607 closed

[2016-10-10 07:06] Ms2ger opened #13670 "Implement support for equality constraints in media queries"
For example, the `width` query: <https://drafts.csswg.org/mediaqueries/#width>. There's a test in `tests/wpt/mozilla/tests/css/matchMedia.html` (added in #13453) that should pass with that fixed.

Code is in `components/style/media_queries.rs`.

[2016-10-10 08:27] NamsooCho commented on #13669
I have intend to work on this issue.
It seems like an intro. to Servo.

[2016-10-10 08:37] santagada commented on #12283
yep

[2016-10-10 10:05] Wafflespeanut commented on #13669
Great! Please let us know if you're stuck somewhere :)

[2016-10-10 10:27] yodalee commented on #13234
I cannot get it to work in the end. Here is the branch I tried so far.
https://github.com/servo/servo/compare/master...yodalee:add-streaming-support-for-textdecoder
I add the `stream` options, `Box<RawDecoder>`, do not flush flag and BOMseen flags.
However I cannot get this work, since `Decode` method take `&self` instead of `&mut self` as arguments. So I cannot modify any flag or RawDecoder in `T

[2016-10-10 10:35] Blanen commented on #12283
@Manishearth
Yea, it's done, mostly, need to make the test now.

Question though, I now have it check the key order by 1<A<B<a is this like you want it, or would you rather want it to do 1<A<a<B ?

[2016-10-10 10:41] larsbergstrom commented on #13588
Fixed in https://github.com/servo/servo/pull/13623

[2016-10-10 10:41] #13588 closed

[2016-10-10 15:23] jdm commented on #13234
@yodalee You need to store mutable fields inside `Cell` or `DOMRefCell` in order to mutate them. Does that help?

[2016-10-10 16:00] Manishearth commented on #13667
Make sure the MDN example has visible kerning. You may need to tweak the font to get this to work.

[2016-10-10 16:06] gterzian commented on #13670
can I try this one?

[2016-10-10 19:58] #13644 closed

[2016-10-10 20:56] pcwalton commented on #13630
Minimal test case:

    <!DOCTYPE html>
    <html>
    <body>
    <div style="width: 1px; height: 100px"></div>
    <div style="float: left;">
        <img alt="" height="234" width="350" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAADqAQMAAADQyb+OAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoKFDYakMwqRAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAABlBMVEV0dHSLi4uSpmiVAAAArklEQ

[2016-10-10 23:10] stshine opened #13683 "Floats fails to interact with inline elements in the simplest case"
Minimal test case:

[code]

The `Foo` item does not float upside in servo.

[2016-10-10 23:11] stshine commented on #13683
cc @pcwalton

[2016-10-10 23:25] pcwalton commented on #13683
Wow, how do we not have a reftest for this?

[2016-10-10 23:32] stshine commented on #13683
That also surprised me.

[2016-10-10 23:32] stshine commented on #13683
That also surprised me.

[2016-10-11 00:01] KiChjang opened #13684 "Intermittent failure of /_mozilla/mozilla/promise.html"
[code]

[2016-10-11 03:45] notriddle opened #13687 "Mac intermittent checker is going off"
http://build.servo.org/builders/mac-rel-intermittent

According to the logs:

[code]

[2016-10-11 04:19] glennw commented on #13249
Probably best to get @pcwalton to look at this - he did the overscroll implementation and is able to test on mac (overscroll is not implemented for linux yet).

[2016-10-11 04:43] awesomeaniruddh commented on #13638
Stylo builds successfully. I ran that command because the PR template told me to make sure that command didn't result in any errors. This is the full log:
https://gist.github.com/awesomeaniruddh/7a52e1eaa45cfc506f77c281fdebaa87

[2016-10-11 05:33] Manishearth commented on #13638
Oh, sorry. Ignore the PR template, this is for stylo.

Yeah, openssl headers need to be installed. See https://github.com/servo/servo/#on-os-x--1011-el-capitan-you-also-have-to-install-openssl

But that's only necessary for a pure-servo build. Stylo doesn't need openssl.

Alright, since you have this working, does the testcase run with your changes?

[2016-10-11 07:03] #13630 closed

[2016-10-11 07:13] shinglyu opened #13689 "Reftest crash when using NVidia driver with webrender"
I'm using Dell XPS 15 with a standalone NVidia graphics card. I'm running Ubuntu 16.04 64bit with NVidia driver version 367.27.

When I run `./mach test-css`, I got the following crash from all the tests:

[code]

But when I run `./mach run`, it works fine.

If I switch to the built-in Intel graphics driver with `sudo prime-select intel`,

the `./mach test-css` runs correctly. But `./mach run` giv

[2016-10-11 07:17] shinglyu commented on #13689
ping @glennw ?

[2016-10-11 09:13] nox opened #13690 "Make ServoParser store a VecDeque for its pending input"
One should wait for https://github.com/servo/servo/pull/13675 to land first.

The field `ServoParser::pending_input` should be a `DOMRefCell<VeqDeque<String>>`, this lets us use `VecDeque::pop_front` instead of `Vec::remove` in `ServoParser::take_next_input_chunk`.

Files:
 * components/script/dom/servoparser/mod.rs

[2016-10-11 09:13] highfive commented on #13690
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-11 11:04] gterzian commented on #13690
Ok I'd like to take a pass :)

[2016-10-11 14:20] nox commented on #13690
Sure! Be sure to wait for #13675 or at least to base your work on top of it.

[2016-10-11 14:22] gterzian commented on #13690
@nox cheers 👍

[2016-10-11 14:24] gterzian commented on #13670
I'll do some 'easy' ones first to get a bit more acquainted with the rust syntax... would be interested in this one later on, in the meantime anyone else wants it, it's yours...

[2016-10-11 15:06] awesomeaniruddh commented on #13638
Yep.

[2016-10-11 15:14] nox opened #13699 "Implement Node.getRootNode"
`Node.rootNode` should be removed as per https://github.com/whatwg/dom/commit/42a45eb0d1af13e510620b6b29696997f0c7aa3d and replaced by [`Node.getRootNode`](https://dom.spec.whatwg.org/#dom-node-getrootnode) as per https://github.com/whatwg/dom/commit/579ef079ded65daa981cac974648621790839072.

Files:
* components/script/dom/node.rs
* components/script/dom/webidls/Node.webidl
* tests/wpt/metadata/do

[2016-10-11 15:14] highfive commented on #13699
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-11 16:25] Rafagd commented on #13699
Can I give this a try?

[2016-10-11 16:46] notriddle commented on #13622
Fixed by #13685

[2016-10-11 16:46] #13622 closed

[2016-10-11 16:47] nox commented on #13699
Sure! :)

[2016-10-11 16:56] Manishearth opened #13702 "Implement all of text-overflow in Servo"
https://github.com/servo/servo/pull/13701 adds code for parsing the full set of `text-overflow` values, but only uses it for Stylo. We currently only allow for single-value clip/ellipses text-overflow in Servo. Adding support for string values should be pretty straightforward, but supporting the two-value form might be trickier.

Not sure if this can be made into an easy bug.

[2016-10-11 19:20] Rafagd commented on #13699
Could you show me how should I test this?

[2016-10-11 19:40] vgvenkat commented on #13668
Hello people! I would like to take this on.
I am guessing adding ```gecko_constant_prefix="NS_FONT_VARIANT_CAPS"``` at [line repo=stylo-flat] (https://github.com/Manishearth/stylo-flat/blob/master/servo/components/style/properties/longhand/font.mako.rs#L128 should do the trick?) Is there anything else that needs done?

Also should i submit PR to the stylo-flat repo as I am starting out?

[2016-10-11 19:45] mstange commented on #13249
Once we have overscroll in Firefox on macOS, we're going to enable it for all scrollable elements. If a new scroll gesture starts while you're already scrolled all the way to the edge of the scrollable element under the mouse, then the scroll will be handed off to the next outer scrollable element which is actually scrollable in that direction. We don't do handoff in the middle of a scroll gesture

[2016-10-11 19:53] Rafagd commented on #13699
What is the difference between `NodeMethods::ancestors(&self)` and `NodeMethods::inclusive_ancestors(&self)`?

I'm assuming the latter refers to this '[shadow-including-root](https://dom.spec.whatwg.org/#concept-shadow-including-root)`.

If so I'm assuming that I should return `NodeMethods::inclusive_ancestors(&self)` if `options.composed` is `true`, and `NodeMethods::ancestors(&self)` if it is fa

[2016-10-11 21:17] pcwalton opened #13704 "Jumpiness involving floated empty inline-block"
This breaks google.com.

Minimal test case (mouse over the gray square):

    <!DOCTYPE html>
    <style>
    .float {
        float: right;
    }
    .bad {
        display: inline-block;
        background-color: gray;
        height: 30px;
        width: 30px;
    }
    .bad:hover {
        opacity: .85;
    }
    </style>
    <div class=float>
        <a class="bad"></a>
    </div>

[2016-10-11 21:24] notriddle commented on #13702
I'd just do the single-value form.

[2016-10-12 00:37] KiChjang commented on #9490
Most recent attempt at #10604.

[2016-10-12 01:09] jdm commented on #13699
Inclusive_ancdstors includes the node itself. That's the only difference.

[2016-10-12 01:30] paulrouget commented on #13249
As per design? Or not implement yet?

[2016-10-12 01:38] mstange commented on #13249
By design. The element you scroll is selected at the start of the scroll gesture, and if you decide that you want to scroll a different element after reaching the end of the current element, you can just lift your fingers and start a new scroll gesture.
If you scroll using a traditional mouse wheel, you need to move your mouse or wait for a short time to start a new wheel transaction.

I don't hav

[2016-10-12 02:07] stshine commented on #13683
This happens because during in-order traversal the parent block calls into child `InlineFlow`'s `assign_block_size_for_inorder_child_if_necessary()` method, which is default method of `Flow` trait that only recalculate height when there is speculated floats. Need to understand in-order traversal and floating better to give out a proper fix.
IMO the name 'assign_block_size_for_inorder_child_if_nece

[2016-10-12 02:26] pcwalton opened #13707 "Explicit inline-block height causes vertical misalignment"
Breaks Google SERPs.

Minimal test case:

    <!DOCTYPE html>
    <div style="height: 35px; display: inline-block; background: lightgray">All</div>
    <div style="display: inline-block; background: lightgray">Videos</div>

[2016-10-12 02:28] frewsxcv opened #13708 "Incorrect calculation when using offsetTop/offsetLeft"
[code]

Expected: `8`, `8`

Actual: `0`, `0`

[2016-10-12 02:55] Manishearth commented on #13668
Actually, this one is trickier. It needs  to be manually implemented.

So the change will be more like https://github.com/servo/servo/pull/13570/files

It is preferable if you submit the pull request to Servo. You can submit to stylo-flat if you think that's easier.

[2016-10-12 02:56] Manishearth commented on #13668
You'll also need to expand the list of possible values, right now it only takes two of the ones listed in the issue above. `gecko_constant_prefix` is only necessary if you're not manually implementing the gecko glue.

[2016-10-12 03:51] Manishearth opened #13709 "Implement string-valued text-overflow in Servo"
Part of #13702

In #13701, we added support for parsing the full range of values that `text-overflow` supports. However, [this is disabled in Servo mode](https://github.com/Manishearth/servo/blob/ea765688cbc7a7f5e223cf060f2bf1341dfa0ae5/components/style/properties/longhand/text.mako.rs#L15)

While supporting the two-value form of text-overflow (e.g. `text-overflow: "..." clip`) is cumbersome, it s

[2016-10-12 03:52] Manishearth commented on #13709
@notriddle @jdm does this look like E-easy material? I tried to break it into steps to make it easier to work on.

[2016-10-12 04:39] anholt opened #13710 "webgl: uninitialized data leak from renderbufferStorage()"
The FBO support I'm going to propose to merge won't do zero-initialization of renderbuffers initially.  This will certainly leak other graphics content from the process, but may also leak general user memory contents, depending on the driver implementation.  Since renderbuffers don't take in initial data like we do for textures, it's not easy to fix.  I came up with three possible solutions:
### Z

[2016-10-12 04:56] glennw commented on #13710
Relevant reference in gecko code - https://dxr.mozilla.org/mozilla-central/source/dom/canvas/WebGLTypes.h#36

[2016-10-12 05:03] anholt commented on #13710
After a few reference follows, found https://dxr.mozilla.org/mozilla-central/source/dom/canvas/WebGLFramebuffer.cpp#1149 -- looks like the "Zero Initialize at first bind" option.

[2016-10-12 06:12] glennw commented on #13689
@shinglyu Usually when a shader compile fails, the output log includes the error message from the shader compiler. Is there anything in the output logs from the nvidia shader compiler (I have seen drivers that sometimes fail to report a specific error, so there may not be anything). If not, you might need to comment out various parts of the shader mentioned in the log file to narrow down what the

[2016-10-12 06:25] Wafflespeanut commented on #13668
No, this is a little bit trickier than the others, but it can still be implemented using the `single_keyword` method.

@vgvenkat You're right about the `gecko_constant_prefix`. Along with that, we'll be needing the `gecko_ffi_name` (which, in this case would be `"mFont.variantCaps"`).

Also, the constants used in gecko are a bit weird. So, we have to remove some hyphens and adjust some of the valu

[2016-10-12 06:50] Paxa opened #13712 "StackingContext::hit_test calls unwrap on an option that can be None"
called `Result::unwrap()` on an `Err` value: RecvError
### URL: https://veritrans.co.id
### Servo Version:

Servo 0.0.1-cf2a647
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-12 07:46] gterzian commented on #13249
@mstange Thanks for the background info. So this sounds like there is no issue at this point? Please confirm and if so I can close my PR and we can close this issue as well 😄

[2016-10-12 08:18] paulrouget commented on #13249
@gterzian if B is inside A, and the mouse is hovering B, and B can't scroll anymore, when the user starts scrolling, A should scroll. This is not working today, and it needs to be fixed.

What @mstange talks about not doing "handoff" during the gesture, it means that while the user is scroll, if B reaches the end, we should not scroll A.

Pick A only if B can't scroll anymore, and if the user star

[2016-10-12 08:33] #10245 closed

[2016-10-12 09:24] shinglyu commented on #13689
@glennw I haven't seen logs from the nvidia shader compiler, probably it was consumed by the wpt test runner? I assume the wpt test use llvmpipe for headless rendering? Is there any way I can run servo with that configuration? Then I might be able to get the log.

[2016-10-12 10:22] JimPanic opened #13716 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:
### Servo Version:

Servo 0.0.1-cf2a647
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-12 10:43] Rafagd commented on #13699
Ok, so from what I gather now, a node can categorized as Root, Shadow Root and Normal.

What was implemented before is how to reach the Root node. What I need to do when `composed = true` is to check every ancestor node and stop on the first one that is a `shadow-root`.

But how do I detect if the node is a `shadow-root'?

[2016-10-12 10:46] Ms2ger opened #13717 "Remove ResponseAction"
It seems to be mostly, if not entirely, redundant with `FetchResponseMsg`.

[2016-10-12 10:53] Ms2ger opened #13718 "CORS support for all fetches"
I believe we'll need to fix at least

- [ ] the link element
- [ ] the script element
- [ ] the image cache thread
- [ ] the font cache thread
- [ ] top-level document / iframe loading?
- [ ] workers / `importScripts`

... and write tests, of course.

[2016-10-12 11:12] Manishearth commented on #13669
https://github.com/Manishearth/stylo-flat/pull/1/files

[2016-10-12 11:31] KiChjang commented on #13082
Is this fixed?

[2016-10-12 11:43] KiChjang commented on #11896
Is this done?

[2016-10-12 12:02] johansigfrids opened #13719 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }
### URL:
http://eng.localytics.com/exploring-cli-best-practices/
### Servo Version:
Servo 0.0.1-fe6fac4
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-12 12:33] jdm commented on #13719
[code]
This is another instance of #13054. Thanks for reporting it!

[2016-10-12 12:33] #13719 closed

[2016-10-12 12:34] jdm commented on #13054
Reproduces on http://eng.localytics.com/exploring-cli-best-practices/ as well.

[2016-10-12 12:53] jdm commented on #13716
A window was thawed without being previously frozen, apparently.

[2016-10-12 12:54] jdm commented on #13716
Possibly `WARNING: <Constellation>: invalid traversal delta` is related.

[2016-10-12 12:56] jdm opened #13721 "Geckolib unit tests are busted"
It's not clear to me why this is broken on Travis and isn't showing up on builders.
[code]

[2016-10-12 12:56] highfive commented on #13721
cc @aneeshusa

[2016-10-12 12:59] Manishearth commented on #13721
@bholley turned on `#[deny(warnings)]` in another PR, that might have caused this? Perhaps we should `#[allow(warnings)]` there?

[2016-10-12 13:00] Manishearth commented on #13721
Oh, wait, that's in a macro and that doesn't work. Right.

[2016-10-12 13:04] jdm commented on #11896
Yes; we can file individual issues for specific missing/broken things.

[2016-10-12 13:04] #11896 closed

[2016-10-12 13:05] jdm commented on #13082
I don't recall see any PR get opened for this work.

[2016-10-12 13:10] jdm commented on #13689
@shinglyu https://github.com/servo/servo/issues/13515#issuecomment-250592787

[2016-10-12 13:19] jdm commented on #13712
Original panic that triggered this one is:
[code]

[2016-10-12 13:20] Manishearth commented on #13721
This happens because `test-geckolib` wrongly runs in a Servo build env, using the servo nightly and the servo target dir, instead of the geckolib stable + geckolib target dir. The latest compiler is whinier about the warnings (see comment in style/lib.rs), hence the error.

test-geckolib doesn't do anything anymore -- it's obsolete now that the crates have been merged. Removed in #13722

[2016-10-12 13:23] jdm commented on #13712
This is probably https://dxr.mozilla.org/servo/rev/5a14d09baba6a56af5daa44b80c90d777181c9cc/components/gfx/display_list/mod.rs#723 which means this is the same problem as #13266.

[2016-10-12 13:59] jdm commented on #13709
I would call it E-less easy.

[2016-10-12 14:15] Ms2ger commented on #13699
I suggest you ignore everything related to shadow roots; just implement the no-argument form of `getRootNode()`, using the same implementation as the `rootNode` attribute we have right now.

[2016-10-12 15:09] Rafagd commented on #13699
I've sent this pull request: https://github.com/servo/servo/pull/13703, which already implements the `getRootNode()` method but ignores whatever it has received as argument and returns what the old `rootNode` property was returning before.

[2016-10-12 15:20] lygstate commented on #13371
Is this the sole blocker for msvc?

[2016-10-12 15:30] gterzian commented on #13249
@paulrouget Ok, thanks for the explanation, let me take a look at it!

[2016-10-12 16:40] cynicaldevil commented on #13709
I'll take a look at this one.

[2016-10-12 16:42] Manishearth commented on #13709
Cool! Let us know if you need help!

[2016-10-12 17:13] KiChjang opened #13725 "Use atoms for transition events"
In #13056, I've added support for transition events. We'd also like to have it use atoms to represent various property names, but I was not able to do so since the string_cache for stylo does not contain some atoms for the property names that are animatable.

[2016-10-12 17:14] ConnorGBrewster commented on #13716
Is there a specific URL or test case where this can be reproduced?

[2016-10-12 17:14] KiChjang opened #13726 "Support pseudo elements for transition events"
In #13056, I've added support for transition events. We'd also like to target the pseudo element correctly when the event fires.

[2016-10-12 18:35] jdm opened #13730 "Intermittent crash ("Broken pipe" from RenderApi::add_raw_font/RenderApi::update_resources) in /css-transforms-1_dev/html/transform-iframe-001.htm , /selectors-3_dev/xhtml1print/grid-first-letter-003.xht"
[code]

[2016-10-12 18:35] asajeffrey commented on #13161
One of the sources of error is pipeline lookup failure, as seen in #13728.

[2016-10-12 18:37] KiChjang commented on #13082
Unassigning this, since there's nobody working on it.

[2016-10-12 18:38] KiChjang commented on #12092
Unassigning due to inactivity for over 3 months.

[2016-10-12 19:00] jdm commented on #13161
This particular issue was focused on reporting JS errors to the devtools console, rather than implementation errors.

[2016-10-12 19:01] jdm opened #13731 "Interminttent failure in /_mozilla/css/dirty_viewport.html"
[code]

[2016-10-12 19:09] asajeffrey commented on #13161
@jdm: not sure this is an implementation error, you can get it (e.g) by trying to debug a closed tab.

[2016-10-12 19:15] jdm commented on #13731
<img width="122" alt="screen shot 2016-10-12 at 3 03 59 pm" src="https://cloud.githubusercontent.com/assets/27658/19323951/2a212a7a-908d-11e6-9c62-58b806874a87.png">

[2016-10-12 19:16] jdm commented on #13161
Right, but that's different than an error originating in web content.

[2016-10-12 21:00] #13638 closed

[2016-10-12 21:14] scotttrinh commented on #12415
Taking `CanvasGradient`, `CanvasPattern`, `CanvasRenderContext2D`, if someone can check those boxes.

[2016-10-12 21:53] glennw opened #13734 "Remove image_data field from CanvasPixelData"
This can be done once the removal of the old render system lands.

[2016-10-12 21:53] glennw opened #13735 "Remove / fix CollectMemoryReports from compositor"
These don't report anything useful one the rust-layers removal lands. Fix it to report something useful or remove it.

[2016-10-12 21:54] #13704 closed

[2016-10-12 21:56] glennw opened #13736 "Support scrolling to fragment point with webrender."

[2016-10-12 22:53] scotttrinh commented on #12415
Turns out I [should take `HTMLCanvasElement`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/HTMLCanvasElement.webidl#L15)! Check the box for that one for me, too.

[2016-10-12 22:54] KiChjang commented on #11855
Is this still being actively worked on?

[2016-10-12 23:14] Coder206 commented on #11855
@jdm @KiChjang Perhaps it would be best to get a new set of eyes on it. I tried many OSes (Fedora, Ubuntu, OSX and Windows) and none of them have been successful in fixing the system.

[2016-10-13 00:09] notriddle commented on #13683
That's only part of the problem. I tried hard-wiring `might_have_floats_in` to `true`, and it made no difference. In the block placement pass (which is also responsible for float placement, because float placement depends on block placement and block placement also depends on float placement), the block position of a floating box is assigned to `cur_b`, and `cur_b` is always assigned to the bottom

[2016-10-13 01:22] larsbergstrom commented on #13736
Gonna need this for the all-important *actual* ACID2 pass (http://acid2.acidtests.org/#top ), which I think was why @june0cho originally prioritized the work on it in the old renderer. Probably not a huge deal, unless we need to report ACID2 status again for some reason :-)

[2016-10-13 01:52] shinglyu commented on #12988
Looks like the test has been busted on my server for a few day. And since the ./mach test-perf command is ready, I might take some time to move that to CI.

[2016-10-13 02:23] #13669 closed

[2016-10-13 02:32] pcwalton commented on #13683
As I mentioned on IRC, we need a new type of inline fragment that represents the float ceiling for an inline float (say, `InlineFloatCeiling`). It'd be similar to `InlineAbsoluteHypothetical`. When the LineBreaker goes to lay out this fake fragment, it'd trigger `place_float` for the appropriate float.

[2016-10-13 02:41] notriddle commented on #13683
Does construct need to place floats sometimes inline sometimes block? Or can it always place floats in an inline flow?

[2016-10-13 02:43] pcwalton commented on #13683
I think it's fine to place floats as block flows unless they're actually in the middle of an inline. But it may be simpler to handle the case in this bug as though it were such a float in the middle of an inline.

[2016-10-13 02:44] pcwalton commented on #13683
In other words, there should never be a need to create a brand new inline flow *just* to place a float.

[2016-10-13 03:25] frewsxcv commented on #4250
Is there anything else actionable here? I think this interface is gone https://github.com/whatwg/url/issues/62

[2016-10-13 03:50] jdm commented on #4250
Yeah, we now have HTMLHyperlinkUtils instead, iirc. Nothing to be done here.

[2016-10-13 03:50] #4250 closed

[2016-10-13 07:43] #13721 closed

[2016-10-13 12:38] jdm commented on #13363
There was an attempt to fix this in #13365, but it got stuck after we came up a way to test the changes: https://github.com/servo/servo/pull/13365#issuecomment-248823338

[2016-10-13 13:06] jdm opened #13745 "libsignpost breaks the build on less recent macOS"
[code]

[2016-10-13 13:27] jdm commented on #13745
I've worked around this locally by overriding signpost with a clone that doesn't use those methods. It would be nice to get a real fix for this somehow; quick googling didn't give me any clue if this is something that should be linked explicitly or whether kdebug_trace simply doesn't exist on older versions like 10.9.5.

[2016-10-13 13:28] mmatyas commented on #13154
After some hacks, I've managed to build it; I'll clean my patches up a bit and post additional PRs soon. I have some problems with creating the APK currently, but I'll test it on a device as soon as I can.

[2016-10-13 13:29] jdm opened #13746 "Invert conditional and return early for report_pending_exception"
We check if an exception is pending and do nothing if it is not. We can remove a level of indentation if we invert the check and return immediately.

Code: `components/script/dom/bindings/error.rs`

No need to run any tests; if it builds, that's good enough for a PR.

[2016-10-13 13:29] highfive commented on #13746
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-13 13:43] jdm opened #13748 "Exceptions from testharness.js don't get reported well from setTimeout"
Apply this diff, then run `./mach test-wpt tests/wpt/mozilla/tests/mozilla/DOMParser.html --log-mach -`.
[code]

This yields:
[code]
testharness.js [throws](https://dxr.mozilla.org/servo/rev/d9bb663421efe7ce9446476fc0d4b82ceb11355f/tests/wpt/web-platform-tests/resources/testharness.js#2435) an `AssertionError` object which contains properties like `message` and `stack`, but `report_pending_excepti

[2016-10-13 13:45] Ms2ger commented on #13748
Because doing anything else would be content-detectable; I'm not sure we want to go there, though perhaps we do. Should check with Gecko.

[2016-10-13 14:14] aneeshusa commented on #12283
@Blanen it looks like all our existing json files use only lowercase letters for keys, so IMO it doesn't matter; use whatever takes the smallest amount of code (likely whatever `<` does by default). Also, feel free to open a WIP PR even if you're not done!

[2016-10-13 14:32] mskrzypkows commented on #11596
What is a difference between `HTMLCollection::by_tag_name` and `HTMLCollection::by_qual_tag_name`? Maybe we should modify the second method?

[2016-10-13 14:38] jdm opened #13749 "Switch to mozilla-ca-certs crate instead of manually extracting certs from mozilla-central"
This was created by @jld and looks like it might be a nice improvement if we can integrate it with openssl: https://crates.io/crates/mozilla-ca-certs

[2016-10-13 14:55] #4723 closed

[2016-10-13 14:56] kaksmet commented on #13745
From what I can gather `kdebug_trace` was introduced in `xnu-2782.10.72`, which corresponds to OS X 10.10.2.

[2016-10-13 16:56] pcwalton commented on #13745
I think it was introduced in Yosemite. Argh, sorry about that.

[2016-10-13 17:13] pcwalton commented on #13745
acrichto says you can't cfg it off based on versions. I guess the best thing to do is to check at runtime and dynamically import.

[2016-10-13 17:35] Rafagd commented on #13699
Does the official spec expects the argument to be mandatory?
Seems like a odd design choice for a function that only has one option anyway.
I suppose I should make these Expect: FAIL for now, right?

[2016-10-13 17:51] #13707 closed

[2016-10-13 17:52] KiChjang commented on #13699
I'm not sure why you're getting these errors. The build results are completely contrary to what you're describing here (http://build.servo.org/builders/mac-rel-wpt1/builds/273/steps/test_1/logs/stdio).

[2016-10-13 17:58] jdm commented on #11894
I think filing specific issues for anything that isn't working will be more useful at this point.

[2016-10-13 17:58] #11894 closed

[2016-10-13 17:58] jrmuizel opened #13752 "Servo can't scroll this page at 60fps"
With a large window I see about 15fps on a rMBP while Servo is using 200% CPU

http://people.mozilla.org/~jmuizelaar/webrender/synthetic/spans-animated.html

@pcwalton

[2016-10-13 18:14] Rafagd commented on #13699
The build errors have surfaced after I've updated the tests expectations:
- `tests/wpt/metadata/dom/historical.html.ini`
- `tests/wpt/metadata/dom/nodes/rootNode.html.ini`
- `tests/wpt/metadata/dom/interfaces.ini`

They happen because I've changed the expectations to be something that wasn't supposed to be.
I'm just asking out of curiosity.

[2016-10-13 18:18] edunham commented on #12988
My opinion is that maximum consistency between builds would be achieved by a box sitting under someone's desk in a Moz office. I wouldn't mind sticking a desktop on my desk in PDX, as long as the occasional downtime is tolerable (which it should be for this use case). A dedicated AWS instance might be just as good; but I'd like to verify that before committing to it (see below)

SGTM; the backend

[2016-10-13 18:19] KiChjang commented on #13699
You haven't pushed your code changes to your PR branch and we haven't ran a try run yet, how are you getting these results?

[2016-10-13 18:21] Rafagd commented on #13699
./mach test-wpt dom

[2016-10-13 18:24] pcwalton opened #13753 "overflow:hidden incorrectly clips relatively positioned descendants"
Minimal test case:

    <!DOCTYPE html>
    <style>
    #a {
        overflow: hidden;
    }
    #b {
        background: lightgray;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    </style>
    <div id=a><div id=b>X</div></div>

This breaks Etsy.

[2016-10-13 18:26] KiChjang commented on #13699
AFAIK, changing test expectations do not, and should never cause any behavioral changes. I suspect that there's a difference in the WPT test environment on your local machine vs. buildbot. Could you push your code changes to your PR branch and we'll run a try run and see whether the problem still persists?

[2016-10-13 18:35] Rafagd commented on #13699
Well, it was mostly my fault.

I just blindly changed every test on `getRootNode(GetRootNodeOptions)` to `PASS`.

Both of them happen because attributes are not inheriting the method `getRootNode`, I assume.
I don't think they are supposed to, so I've asked just to make sure my assumptions are correct and changed both cases to expect `FAIL`.

There are also some tests implying that the argument on

[2016-10-13 21:08] scotttrinh commented on #12415
Once #13747 is finished, I'll take:

- BluetoothAdvertisingData.webidl
- BluetoothCharacteristicProperties.webidl
- BluetoothDevice.webidl
- BluetoothRemoteGATTCharacteristic.webidl
- BluetoothRemoteGATTDescriptor.webidl
- BluetoothRemoteGATTServer.webidl
- BluetoothRemoteGATTService.webidl
- BluetoothUUID.webidl
- Bluetooth.webidl

[2016-10-13 21:20] fhartwig commented on #13746
I would like to do this.

[2016-10-13 21:23] KiChjang commented on #13746
Great! Ask questions here or on `#servo` at `irc.mozilla.org` if you're unsure of what to do.

[2016-10-13 22:20] chriscamacho opened #13757 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL: acid 3 test - first thing I thought of...

### Servo Version:
Servo 0.0.1-4034bd6
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-13 22:25] #13746 closed

[2016-10-13 22:42] jeenalee opened #13758 "`Request`'s `Headers` fails to be constructed with an array or an object"
From `tests/wpt/web-platform-tests/fetch/api/request/request-headers.html`, following test fails:

[code]

`request1` is constructed with the expected headers. `request2` and `request3` get constructed, but the headers remain empty. This is (probably) somewhat related to the other failing test in the same file:

[code]

[2016-10-13 23:05] pcwalton opened #13760 "Percentages in vertical relative positioning are relative to width in Servo, not height as they should be"
Minimal test case:

    <!DOCTYPE html>
    <style>
    #a {
        height: 200px;
        width: 600px;
        background: gold;
    }
    #b {
        position: relative;
        top: 50%;
    }
    </style>
    <div id=a><div id=b>X

Breaks etsy.com.

[2016-10-13 23:18] glennw opened #13761 "Remove -w flag from cmd line options, and CI infrastructure that passes it."
This can be done once the old renderer removal lands.

[2016-10-13 23:20] KiChjang commented on #7708
Both problems sound like they can be solved with [futures-rs](https://github.com/alexcrichton/futures-rs), though that crate only provides a trait for Futures, and we'll need to work on the implementation on how exactly futures get resolved by the script thread.

[2016-10-13 23:59] craftytrickster commented on #13546
My work schedule is pretty harsh right now, but I might be able to find some time to pick this up at some point.

Looks like the cssparser crate needs to be updated [here](https://github.com/servo/rust-cssparser/blob/b7786978c62320bdc26aeb080d6b867b2b3e3563/src/color.rs#L74) to change CurrentColor to CurrentColor(f32).

Afterwards, it doesn't look like CurrentColor is used in too many places in th

[2016-10-14 01:51] scotttrinh commented on #12415
Oof. `Bluetooth*` seems to be one of those threads that is pulling a bunch of other things into it: `Navigator`, `Document`, `Element`, `Comment`, etc. etc. etc.

Should I let someone else handle this or are you guys cool with a big PR that fixes a few dozen things all in one?

[2016-10-14 02:09] frewsxcv commented on #3251
It no longer looks like this test is disabled

https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/semantics/grouping-content/the-ol-element/grouping-ol.html.ini

[2016-10-14 02:09] #3251 closed

[2016-10-14 02:09] frewsxcv commented on #3250
It no longer looks like this test is disabled

https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/semantics/grouping-content/the-ol-element/grouping-ol.html.ini

[2016-10-14 02:09] #3250 closed

[2016-10-14 02:11] shinglyu commented on #11139
This happens to me when I use my integrated intel graphics card. Here is the `glxinfo` output:

[code]

(see also #13689)

[2016-10-14 02:12] shinglyu commented on #13515
I suspect this is the reason for the recent performance test bustage, I run the performance test in a Virtualbox (Ubunut) VM with Xvfb. (see #12988. )

[2016-10-14 03:41] frewsxcv opened #13763 "Implement "list of options" concept on HTMLSelectElement"
https://html.spec.whatwg.org/#concept-select-option-list

Add a new `list_of_options` (or maybe just `options`) function on [`HTMLSelectElement`](https://github.com/servo/servo/blob/master/components/script/dom/htmlselectelement.rs) and use it everywhere appropriate in that file [instead of doing things like this](https://github.com/servo/servo/blob/a80abf6c1dd0f14b40499d55129a53d397c3a3cd/compone

[2016-10-14 03:41] highfive commented on #13763
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-14 03:43] Manishearth commented on #13763
Also, we currently do `node.traverse_preorder()....`

We should be looking for direct children (and direct children of direct `optgroup` children) only.

[2016-10-14 03:44] Manishearth commented on #13763
This might need you to construct a custom iterator type. Not sure if it's really easy.

[2016-10-14 04:12] Manishearth commented on #13668
Any updates?

[2016-10-14 04:51] Manishearth opened #13764 "Stylo: Implement column-fill"
Please go through [the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) if you wish to hack on stylo.

[`column-fill`](https://developer.mozilla.org/en-US/docs/Web/CSS/column-fill) is a keyword property ([implementation guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide#implementing-a-simple-keyword-property)) with the set of possible values being `auto | balance`. `auto

[2016-10-14 04:51] highfive commented on #13764
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-14 09:03] Ms2ger opened #13766 "fetch() doesn't set Response::type correctly"
For a good reason: the type is not passed to `FetchResponseListener::process_response`.

Tests: `fetch/api/basic/scheme-blob.html`, `fetch/api/basic/scheme-blob-worker.html` and probably more.

[2016-10-14 09:03] Ms2ger opened #13767 "Hold a reference to the blob with XMLHttpRequest::open(... blob url ...)"
Test: `/FileAPI/blob/Blob-XHR-revoke.html`.

[2016-10-14 12:18] jdm commented on #12415
Another fix you can do is add an Exposed annotation on the properties that return/accept interfaces that are conditionally exposed (like matchMedia in Window). That may avoid the need for a large PR right now. However, those will need to be done sometime, so I wouldn't mind it happening now.

[2016-10-14 12:50] scotttrinh commented on #12415
I'm all for not kicking the can down the road, so I'll scoop up a bunch of interfaces into this PR.

[2016-10-14 13:18] willempienaar commented on #13764
I'd like to work on this issue please.

[2016-10-14 13:32] Manishearth commented on #13764
Cool! Let us know if you need help.

[2016-10-14 14:09] bzbarsky opened #13768 "location.replace is not implemented"
Ran into a page which didn't work because `location.replace` doesn't exist.

[2016-10-14 14:10] jdm commented on #13768
https://github.com/servo/servo/pull/13418/

[2016-10-14 14:10] jdm commented on #13768
Duplicate of #13413. Thanks for filing!

[2016-10-14 14:10] #13768 closed

[2016-10-14 14:13] bzbarsky commented on #13768
For what it's worth, I did search issues for location.replace before filing....  The title of the other one is not very discoverable.

[2016-10-14 14:16] Manishearth opened #13769 "Implement parsing/serialization for text-combine-upright property"
See: https://developer.mozilla.org/en-US/docs/Web/CSS/text-combine-upright

It has a grammar `none | all | [ digits <integer>? ]`

This property is similar to [`z-index`](https://github.com/servo/servo/blob/master/components/style/properties/longhand/position.mako.rs#L15); it will be an `enum {None, All, Digits(u32)}`. You can copy the longhand block for z-index as a starting point, though the `nu

[2016-10-14 14:40] bzbarsky opened #13770 "Better heuristics for build parallelism"
Doing a `./mach build -r` on current tip I'm seeing:

I see a number of rustc processes and clang processes all running at once (8 or so of each) for part of the compile while SpiderMonkey is being built.  But even when there are no clang processes and only 4-5 rustc processes the load average is still in the 20s.  Presumably each rustc is using multiple threads.

This is a 4-core machine, so the

[2016-10-14 14:50] #13667 closed

[2016-10-14 14:51] metajack commented on #13770
As a workaround you can do -j1 or -j4 or whatever to control the max parallelism. Unfortunately there is no way currently to have cargo and gcc/clang share the same process pool, so even with -j4 you could end up with 4 invocations of a crate compile each compiling C code with -j4.

I believe the default parallelism value is set to $num_cores, but if you are hyperthreaded it may be double that.

I

[2016-10-14 15:05] bzbarsky opened #13771 "Starting/stopping servo interacts weirdly with XQuartz and Spaces"
STEPS TO REPRODUCE:

1. Have multiple spaces (in the MacOS sense) open, with XQuartz windows on various spaces.
2. Start servo ("mach run -r") from an xterm on the first space.
3. Stop servo (click the "x" in the titlebar).

EXPECTED RESULTS: No weird space-switching.

ACTUAL RESULTS:

* In step 2 there is a quick switch to the highest-number space that has an XQuartz window open, then a switch ba

[2016-10-14 15:14] metajack commented on #13771
Does this happen even if you run servo directly via `target/release/servo`? I'm wondering if having X stuff available makes mach try to use the notifier stuff somehow. I haven't heard any reports of this from others, and many on the team use OS X as their daily driver, but I don't know anyone using XQuartz.

[2016-10-14 15:32] bzbarsky commented on #13771
Yes.

[2016-10-14 16:02] Ms2ger commented on #13757
Thanks for the report; we already know about acid3.

[2016-10-14 16:02] #13757 closed

[2016-10-14 18:24] pharaone opened #13773 ".snap version for Ubuntu and other Linux distribution"
Why you don't create a snap of servo?

[2016-10-14 18:40] jdm commented on #13773
The reason is that we're not putting much effort into making Servo available beyond download.servo.org at the moment. That being said, we have accepted PRs to add other distribution methods like homebrew if other people agree to maintain them.

[2016-10-14 19:48] KiChjang opened #13775 "Intermittent crash of /css21_dev/html4/background-color-110.htm"
[code]

[2016-10-14 20:23] jwilm commented on #12147
Was this on X11?

[2016-10-14 20:46] #13699 closed

[2016-10-14 21:29] jdm opened #13776 "Intermittent failure in /hr-time/test_cross_frame_start.html"
[code]

[2016-10-14 22:11] nagisa commented on #12147
Yes.

[2016-10-14 22:20] jwilm commented on #12147
Might be related to https://github.com/tomaka/glutin/pull/818 in which case upgrading Glutin would fix it. Patch hasn't landed yet.

[2016-10-15 03:35] jrmuizel opened #13778 "css background image parsing takes a very long time/hangs"
http://people.mozilla.org/~jmuizelaar/webrender/sites/instagram.html causes servo to spend a very long time in                               style::properties::longhands::background_image::parse_declared

@bholley

[2016-10-15 05:40] #13760 closed

[2016-10-15 07:40] vgvenkat commented on #13668
Yes, currently working on a PR with changes similar to https://github.com/servo/servo/pull/13570/files. I will need some more help to check after submission.

[2016-10-15 09:06] gterzian commented on #13690
By the way I am still working on this one https://github.com/servo/servo/issues/13249#issuecomment-253247742, so if anything wants to take this one, please just let me know...

[2016-10-15 09:52] gterzian commented on #13249
@paulrouget @mstange

Here is a problem I am encountering:

Currently, when you reach the end of the child layer B, you get the 'overscroll' behavior. At that point, which means that you can't scroll further down. So the behavior of the child layer is akin to 'getting to the bottom of the page'.

At that point, if the user starts a new scroll gesture, we should start scrolling the parent layer A,

[2016-10-15 10:09] gterzian commented on #13249
To give a bit more context, I've pushed my debug code: https://github.com/servo/webrender/pull/436/files

and I also attach a screenshot of the corresponding debug statements.

![screen shot 2016-10-15 at 6 08 32 pm](https://cloud.githubusercontent.com/assets/2792687/19409243/774ad4f0-9302-11e6-9a99-cdf56045544f.png)

[2016-10-15 18:43] bholley commented on #13778
Thanks for the report!

@Manishearth Do you think this is good piranha food?

[2016-10-15 18:50] Manishearth commented on #13778
I don't think so ... this is pretty curious and I don't see any immediately obvious reason behind it, so it might not be best for new contributors.

@Wafflespeanut or @canaltinova might be interested in poking at this (otherwise I'll have a look)

[2016-10-15 19:02] Manishearth commented on #13778
Looks like it uses data URIs, and perhaps we're very slow at parsing those? @SimonSapin

[2016-10-15 19:09] Manishearth commented on #13778
Oh, there are a bunch of CSS `background-image`s too

[2016-10-15 19:12] emilio commented on #13778
I doubt we're parsing image `src` attributes with the CSS parser, seems like those would use the url parser directly?

[2016-10-15 19:13] Manishearth commented on #13778
Yes, like I said. But there are other background-images in the inline CSS.

[2016-10-15 19:13] emilio commented on #13778
And also the font-face rules.

[2016-10-15 19:14] emilio commented on #13778
Actually I bet most of the time there is spent parsing the font-face rules. I might take a deeper look today if I find the time.

[2016-10-15 19:15] canaltinova commented on #13778
This webpage is also hanging on my Firefox 51 and Chrome 53(MacOS 10.12). Are we sure it is servo related?

[2016-10-15 19:15] Manishearth commented on #13778
Yeah, but those aren't in the path mentioned in the issue above. Still building, but will run with instruments to see if url parsing is the real culprit.

Looks like rust-url treats data URIs as any other kind of URI? I wonder if we can optimize this case since there's no transformation (punycode or otherwise) to be done here and we just need to verify that it belongs to a set of characters. There

[2016-10-15 19:18] emilio commented on #13778
@Manishearth: Are you sure `parse_declared` uses `rust-url`? I don't think that's true.

[2016-10-15 19:18] Manishearth commented on #13778
@canaltinova could be. Works fine for me on Firefox Dev.  But I have a rather fast laptop so it might still be a hang-y page

[2016-10-15 19:20] Manishearth commented on #13778
@emilio The exact path might not be correct due to inlining. It also depends on whether or not @jrmuizel drilled down further in the perf tool he used. `parse_declared` calls `parse` which tries to parse it as a `url()` function, and if so feeds it to rust-url.

[2016-10-15 19:21] emilio commented on #13778
@Manishearth: it goes to `components::style::values::specified::Image::parse`, that in turn goes to `cssparser::ParserContext::parse_url` which does *not* use rust-url, because you can specify all sorts of declared urls that don't need to be valid.

[2016-10-15 19:24] Manishearth commented on #13778
My profile says otherwise 😄

<img width="935" alt="screen shot 2016-10-16 at 12 52 27 am" src="https://cloud.githubusercontent.com/assets/1617736/19412794/ebff089c-933a-11e6-98e1-bab792f0939d.png">

`parse_url` calls `base_url.join(input)`, which parses the URL.

Of course it has to use rust-url at some stage -- it's stored as a `url::Url`, it must have gotten there somehow 😄

[2016-10-15 19:25] emilio commented on #13778
Hm... You're right, I'm sleepy apparently :-)

[2016-10-15 19:38] emilio commented on #13778
Heh, I was looking at how did we deal with invalid URIs (because it's a valid declared value to do something like `url("foo invalid url")`, and apparently we just use `about:invalid`. We probably need to preserve the original URL, I'll open another bug about it.

[2016-10-15 19:40] emilio opened #13779 "We don't preserve the original declared value of `Image` if it's not a valid URI."
See #13778. Right now we try to parse it as a `rust-url` `Url`, but if we fail we replace the url with `about:invalid`, which is wrong. We should preserve it, specially taking into account stylo and its integration with the developer tools.

cc @bholley @Manishearth @SimonSapin

[2016-10-15 19:51] emilio commented on #13778
FWIW, my profile looks way different than yours, taking ~30% of the time in `cssparser::tokenizer::consume_ident_like`. We have `consume_unquoted_url` inside that always traverses and makes a copy of the string.

[2016-10-15 19:52] Manishearth commented on #13778
Yes, mine also has that fucntion in it

[2016-10-15 19:53] Manishearth commented on #13778
Fully expanded at heavy bits:

<img width="1228" alt="screen shot 2016-10-16 at 12 55 41 am" src="https://cloud.githubusercontent.com/assets/1617736/19412813/4cf298bc-933b-11e6-9df2-609fd27d1a37.png">

It seems to be taking lots of time with tokenizing on the style side. As @emilio said `consume_unquoted_url` does a clone, which is probably getting to us.

On the URL side, it seems to be very worr

[2016-10-15 19:59] Manishearth commented on #13778
Hm, the clone only happens when there's a backslash char though. These are base64 URIs, they probably won't have those.

[2016-10-15 20:08] emilio commented on #13778
[code]

[2016-10-15 20:55] emilio commented on #13778
The patch over https://github.com/servo/rust-cssparser/pull/110 should make a decent difference on this test case.

[2016-10-15 21:12] emilio commented on #13778
That patch applied locally moves `cssparser::tokenizer::consume_ident_like` to the second place in the profile, and now `url::parser::Parser::parse_cannot_be_a_base_path` is the biggest offender.

[2016-10-15 21:14] russellsayshi opened #13780 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-697e197
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-15 22:12] #13753 closed

[2016-10-16 00:17] pcwalton opened #13782 "Elements with `display: table-cell` don't respect explicit widths"
Minimal test case:

    <!DOCTYPE html>
    <div style="width: 100%; display: table-cell">Hello world

This breaks Etsy.

[2016-10-16 00:18] lucasloisp commented on #12415
I'll take

- HTMLLinkElement.webidl
- HTMLMapElement.webidl
- HTMLMediaElement.webidl
- HTMLMetaElement.webidl
- HTMLMeterElement.webidl
- HTMLModElement.webidl
- HTMLObjectElement.webidl
- HTMLOListElement.webidl
- HTMLOptGroupElement.webidl
- HTMLOptionElement.webidl
- HTMLOutputElement.webidl

[2016-10-16 02:31] TooManyBees commented on #13363
I'd like to pick this up.

[2016-10-16 03:30] KiChjang commented on #13363
Sure thing!

[2016-10-16 03:44] Manishearth commented on #13778
Oh, because we're just copying non-ascii chars anyway, and we already know that the string is valid utf8. Good catch.

[2016-10-16 08:55] SimonSapin commented on #13778
We might want to bypass rust-url entirely for `data:` URLs. Maybe have a type like `enum ServoUrl { Data { content_type: …, body: Vec<u8> }, Other(Url) }`?

[2016-10-16 09:37] Manishearth commented on #13778
Still need to check if its valid. Though the tokenizer does that already for unquoted uris

[2016-10-16 10:37] gterzian commented on #13690
@nox https://github.com/servo/servo/pull/13785 😄

[2016-10-16 11:41] #13690 closed

[2016-10-16 12:00] emilio commented on #13780
Hi, thanks for reporting this, do you know in which url were you? Otherwise it's going to be really hard to duplicate.

[2016-10-16 13:10] scotttrinh commented on #12415
@lucasloisp
Those are all on the list of interfaces I would need to remove in the aforementioned "bunch of interfaces", so thanks for taking them. I'll keep an eye out for your PR to be merged and then I'll finish up mine with whatever is left. 🙌🏽

[2016-10-16 13:19] emilio commented on #13778
I have local patches to fix https://github.com/servo/servo/issues/13779 and share the result of url resolution. That makes the tokenizer the higher in the profile again, and now servo crashes due to an assertion on IPC-channel due to a too large font loaded in memory and passed via IPC I think.

I'll try to clean them up a bit and submit them today.

[2016-10-16 13:40] lucasloisp commented on #12415
Should be done with it later today if nothing in unexpected comes up. I'll mention you in my PR so you know it's done

[2016-10-16 14:39] gterzian commented on #13082
@samuknet How is it going with this issue? Let me know if you are still working on it, otherwise I might try to give it a shot 😄

[2016-10-16 15:34] #8756 closed

[2016-10-16 16:18] samuknet commented on #13082
Hey @gterzian :)

I got a working version of it which seems to work pretty well - see:
https://github.com/samuknet/servo/tree/home-end-key-scroll
https://github.com/samuknet/webrender/tree/home-end-key-scroll

I got to the stage where I wanted to neaten up a few of the loose ends and simplify some of the new match arms and various other things - so in short, it is functionally working but not enti

[2016-10-16 16:26] gterzian commented on #13082
@samuknet Sounds like a lot of good work. 👍

Have you considered opening a PR with your work, even if it's still a work in progress? That way others can give you feedback in a more structured way (they can comment on specific diffs for example).

I personally think it's never too early to open up a PR. 😄

[2016-10-16 16:29] samuknet commented on #13082
Cheers - sure, will go over again and PR in the next few days or so.

[2016-10-16 16:42] Manishearth commented on #13778
actually, no, since the tokenizer allows for multiple colons in the URI but I don't think parsing does.

[2016-10-16 19:11] apptimise opened #13788 "localeCompare() doesn't return the expected value"
Minimal example:

var b = "aZ";
var a= "ab"
var ret = b.localeCompare(a); **// returns -8 on Samsung Internet for Android 4.0**

[2016-10-16 19:27] emilio opened #13790 "Consider refcounting the document Url."
We clone it a zillion times, which is probably not a problem in most cases, but can become a bottleneck when the document URL is a data-uri.

We should also look into doing the same for the base url, etc.

What do you think about this @jdm, @Ms2ger, @nox? Seems like an easy work.

[2016-10-16 19:29] emilio commented on #13788
Hi, thanks for reporting this :)

[2016-10-16 19:38] emilio commented on #13788
We never call `JS_SetLocaleCallbacks`, so they should use the default. I'll try with a debug build.

[2016-10-16 20:07] lucasloisp commented on #12415
@woshilapin If you could update your list it would be great. I just updated a few Interfaces (list above)

@jdm this issue should be reopened. It was closed automatically by bors-servo. Just letting you know, as you reopened it last time

[2016-10-16 20:32] craftytrickster commented on #13790
I think @jdm would agree with you :)

https://github.com/servo/servo/issues/9782

[2016-10-17 02:44] shinglyu commented on #13689
Just updated by intel graphics driver and it worked. Also updated the nvidia driver but it's still broken. Keeping this issue open because the nvidia issue is still not fixed.

[2016-10-17 02:56] paulrouget commented on #13249
I'm not sure, but during a scroll gesture, can different layers scroll? If the answer is no, on `phase==start`, maybe you can pick a layer and store its id (I don't know where), and for next events, pick that layer?

[2016-10-17 03:49] RejectingTheBad opened #13794 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

file:///home/mll/%E4%B8%8B%E8%BD%BD/servo/resources/failure.html
### Servo Version:

Servo 0.0.1-4af21e3
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-17 04:27] Manishearth opened #13796 "Intermittent crash in /2dcontext/drawing-paths-to-the-canvas/drawFocusIfNeeded_005.html (Connection reset by peer in FontCacheThread::find_font_template)"
[code]

[2016-10-17 06:28] fiji-flo commented on #10083
Small status update. I found some time yesterday and continued working on this. I changed a lot and it should work with transforms and stacking contexts. I took care of some performance issues and found some bugs.

Here's the current diff:
[https://github.com/servo/servo/compare/master...fiji-flo:text-input-select](https://github.com/servo/servo/compare/master...fiji-flo:text-input-select)

And he

[2016-10-17 06:53] vgvenkat commented on #13668
I will need to contact some one in the IRC, doing `./mach build --release` or `./mach build --dev` gives out `Build failed, waiting for other jobs to finish...`.
If some one else is willing to work on this, I can delegate as well, else I will need some help with building the repo. Completed Mac OSx homebrew setup.

[2016-10-17 07:08] Manishearth commented on #13668
It's `./mach build-geckolib` for this. Also, you're building the Servo repo, you should be building stylo-flat (see the guide)

[2016-10-17 07:59] paulrouget opened #13799 "Compilation warning and error with .cargo/config"
I can't compile Servo with a local copy of WebRender.

What's the proper way to use a local copy of a dependency now?

[code]

[2016-10-17 08:21] JimPanic commented on #13716
Sorry for the late reply.

This happened in the following stream of events IIRC:

- open browser
- enter some URL
- enter different (internal) URL because I'm behind a corporate proxy and there's no proxy support :)
- hit back
-> error

[2016-10-17 08:33] khaledhosny commented on #13088
I don’t think Gecko uses Pango or Uniscribe for anything right now. ICU provides line breaking support that covers Thai and other languages, and I think Gecko is moving to replace its line breaker with ICU’s.

[2016-10-17 10:12] gterzian commented on #13249
@paulrouget thanks, let me give this a try.

 Also, FYI, when `phase==start` it actually does switch layer, however, when the scroll starts moving, it goes back to the child layer, I guess because the scroll location still is on the child layer? So the switch only last for one event, when the phase is start.

[2016-10-17 11:20] jdm commented on #13796
Added to #13492.

[2016-10-17 11:20] #13796 closed

[2016-10-17 11:24] jdm commented on #13799
What if you override webrender_traits, too?

[2016-10-17 12:45] paulrouget commented on #13799
webrender_traits is in the same directory. I tried `paths = ["../webrender/webrender/", "../webrender/webrender_traits/"]`, but it doesn't change anything.

I'm wondering if I'm the only one to have this issue.

[2016-10-17 13:47] mmatyas commented on #13154
Here are the remaining patches -- I didn't send PRs for them because some of them are hacks (fontsan, libfontconfig), some may be Servo-specific (libheartbeats), and the backtrace build fix may not work on real device. These patches work with @larsbergstrom's patch, using NDK v12 (because v13 doesn't build at all, probably due to GCC/Clang changes).

https://gist.github.com/mmatyas/cb9eac611b6ce35

[2016-10-17 13:57] mmatyas commented on #13154
An interesting thing is that while `--sysroot` and related paths is set by Lars' python code, it doesn't work for libfontconfig and fontsan. Also, I've used `gnu-libstdc++` for fontsan, because using  `llvm-libc++`, I got `undefined _Exit` errors.

[2016-10-17 14:02] jdm commented on #13799
No, many other people have had this problem since we upgraded to the most recent Cargo. It appears that adding `[replace]` to the TOML instead of using a local override works.

[2016-10-17 14:17] mmatyas opened #13800 "`mach clean` should remove generated Android files"
The `support/android/apk` directory contains generated Android files (Java classes, Android libs, ... see the `.gitignore` there), which are created by `mach package`, and are not cleaned by `mach clean`. This can be a slightly annoying during Android-related development.

[2016-10-17 14:19] mmatyas commented on #13800
CC @larsbergstrom, @dati91

[2016-10-17 14:35] highfive commented on #13800
cc @wafflespeanut

[2016-10-17 16:01] scotttrinh commented on #12415
I'm working on `XMLHttpRequest.webidl` and I'm running into a syntax error:

[code]

Anyone know how to correctly annotate this attribute with the `Exposed` extended attribute? It's written like that in the spec, and it's commented out in the original just like that...

[2016-10-17 17:37] jdm commented on #12415
The WebIDL parser is complaining about multiple independent annotations: `[Throws] [Exposed=Window]`. They should be merged into one annotation instead.

[2016-10-17 17:43] Manishearth commented on #13709
@cynicaldevil Any updates? I got a ping from you yesterday but you weren't around when I came back online. Feel free to ask any questions here.

[2016-10-17 19:36] cynicaldevil commented on #13709
@Manishearth I get a `Could not find Side in style::computed_values::text_overflow` error for both match arms. I don't know what's wrong, because the `text-overflow` module *does* contain a `Side` enum, according to `mako.rs`.

[2016-10-17 21:05] pcwalton opened #13806 "Adjacent elements with "display: table-cell" don't become part of the same table"
Minimal test case:

[code]

This breaks the column layout on nytimes.com.

[2016-10-17 21:07] KiChjang commented on #10473
Huh, this doesn't look like it's disabled...

[2016-10-17 21:20] Vednier opened #13807 "Float position error"
Float position error
### URL: http://www.panoramio.com/user/2687067
### Servo Version: Servo 0.0.1-4af21e3
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-17 22:11] jdm commented on #13807
https://dxr.mozilla.org/servo/rev/887507b6f86bf4e763f49f12b48ee94029fc9e13/components/layout/floats.rs#246

[2016-10-17 22:12] jdm commented on #13807
I have not been able to reproduce the problem by visiting that URL yet.

[2016-10-18 03:04] Manishearth commented on #13709
`style::properties::text_overflow` contains it. The computed value module does not.

[2016-10-18 05:56] paulrouget commented on #13799
Something like that?

[code]

[2016-10-18 08:22] Ms2ger commented on #13800
Should the generated code be moved to the objdir instead? Theoretically it should be possible to build with the source in a read-only filesystem.

[2016-10-18 08:41] Ms2ger commented on #13788
Assigned to @emilio for investigation

[2016-10-18 08:43] Ms2ger commented on #13790
I'd probably be fine with that, depending on how exactly it ends up looking.

[2016-10-18 10:47] mmatyas commented on #13154
I've found the bug in `fontsan` and `libfontconfig`, the C/CXX flags were not captured properly.

[2016-10-18 12:37] cynicaldevil commented on #13709
Negative on that as well.

[2016-10-18 12:45] Manishearth commented on #13709
Could you put your code somewhere and pastebin the error?

[2016-10-18 12:45] Manishearth commented on #13709
Also, did you remove the conditional as was mentioned in the first point above?

[2016-10-18 12:46] Manishearth commented on #13709
https://github.com/Manishearth/servo/blob/ea765688cbc7a7f5e223cf060f2bf1341dfa0ae5/components/style/properties/longhand/text.mako.rs#L15 should not be there anymore, you need to change it to unconditionally use the `helpers:longhand` version

[2016-10-18 12:59] cynicaldevil commented on #13709
Yes, I'd removed the conditional statement.

[2016-10-18 13:09] cynicaldevil commented on #13709
`https://github.com/cynicaldevil/servo/commit/74c89e61eece0df4d19ba76996de4ce0238e08bc`
Error:
[code]

[2016-10-18 13:10] Manishearth commented on #13709
It's `properties::longhands::text_overflow`, sorry.

[2016-10-18 13:31] metajack commented on #13800
@ms2ger Since `target` is put in the src dir, I don't think we can make that claim, but definitely we should put all generated files in `target`. There have been a few cases in the past where this was not possible due to some technical reason, but it seems like that shouldn't be an issue here and we can just run ant from the right place pointed to the right build files.

[2016-10-18 14:03] jdm commented on #13799
I believe so. Does it work?

[2016-10-18 14:50] emilio commented on #13788
This is not a bug, SpiderMonkey by default (in `js::str_localecompare` returns the difference between the first two different characters, which in this case is -8.

From the ECMA spec this is completely valid:

So I'm closing this, feel free to reopen if anyone disagrees with this diagnostic :)

[2016-10-18 16:13] Manishearth opened #13817 "Make CSSErrorReporterTest panic on unexpected errors"
It currently sinkholes errors. It should fail tests when they encounter errors, unless the errors are one of a set of expected errors passed in during initialization.

[2016-10-18 17:22] chajath commented on #12967
Any takers of this issue yet? If not I'd like to have it as my starter task

[2016-10-18 17:37] Gozala opened #13819 "translateZ transform applied incorrectly on the content of overflowing container"
Here is how you can reproduce the issue:

[code]

In other engines you see:

<img width="390" alt="screen shot 2016-10-18 at 10 35 15 am" src="https://cloud.githubusercontent.com/assets/21236/19489124/bc66bd1a-951e-11e6-9313-4f78c1724099.png">

In servo you see:

<img width="485" alt="screen shot 2016-10-18 at 10 35 47 am" src="https://cloud.githubusercontent.com/assets/21236/19489133/c5729da2-951

[2016-10-18 17:38] Gozala commented on #13819
And here is the source of that page https://jsbin.com/divohak/edit?html,css,output

[2016-10-18 17:43] Manishearth commented on #13819
cc @pcwalton

probably a WR bug? There were some recent clipping changes.

[2016-10-18 17:50] Manishearth opened #13821 "Support keyword values for min- and max-width"
min-width, max-width, min-block-size, min-inline-height, (and their max- variants) support [a bunch of keyword values](https://developer.mozilla.org/en-US/docs/Web/CSS/min-width#Formal_syntax).

We should handle these in style, layout, and add stylo glue. At the very least we should have feature-parity with Gecko (which implements these keywords prefixed, but implements them nevertheless)

[2016-10-18 17:54] jdm commented on #12967
@chajath Go for it! Please ask questions if anything is unclear!

[2016-10-18 18:05] Gozala opened #13822 "transform with translateZ & rotateY is rendered incorrectly"
Here is an example https://jsbin.com/qokayi/edit?html,css,js,output you can try out by running

[code]

Values of the input is applied as `translateZ`. As you decrease the number rendering becomes increasingly incorrect. With a number like `-3000` no blue box is rendered at all.

[2016-10-18 18:05] Gozala commented on #13822
#13819

[2016-10-18 19:15] nerith opened #13823 "Unable to render websites"
On my Debian 8 machine, running a Servo release build on http://www.wikipedia.org renders a blank screen, although elements such as links and text input boxes seem to be there (hovering the mouse over where the elements would be causes the mouse cursor to change). This also occurs on other websites, such as Google.

This machine has an NVIDIA GTX 650 video card.
`VGA compatible controller: NVIDIA

[2016-10-18 19:18] adrm commented on #13790
I would like to contribute to servo and learn rust. Could I take this issue?

[2016-10-18 20:04] apptimise commented on #13788
I don't agree. The result of the comparison should be in the range {-1, 0, +1} http://www.w3schools.com/jsref/jsref_localecompare.asp
Even if the return value is "implementation-defined", it should return a positive number. "aZ" is definitely larger than "ab". The problem is the inconsistency. All other browsers return "+1". It should be okay to return "+8" or a positive number, but not "-8"! It c

[2016-10-18 20:42] nwjsmith opened #13824 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-48dd0d4
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-18 20:44] jdm commented on #13824
Duplicate of #13780. Thanks for reporting it!

[2016-10-18 20:44] #13824 closed

[2016-10-18 20:45] Coder206 commented on #13824
@nwjsmith What was the web address of the webpage before the panic?

[2016-10-18 20:46] nwjsmith commented on #13824
@Coder206 http://www.bloomberg.com/news/articles/2016-10-18/outspending-wall-street-2-to-1-silicon-valley-takes-washington

[2016-10-18 21:15] jdm commented on #13780
http://www.bloomberg.com/news/articles/2016-10-18/outspending-wall-street-2-to-1-silicon-valley-takes-washington was one URL from #13824.

[2016-10-18 21:24] jdm commented on #13548
@b-lambert Have you made any progress? Do you have any questions?

[2016-10-18 21:26] jdm commented on #13551
@birryree Have you made any progress on this? Any questions?

[2016-10-18 21:26] b-lambert commented on #13548
Negative, had to put this on back-burner. If someone else wants to take it on, feel free. :)

[2016-10-18 21:28] jdm commented on #11302
I'm removing the assigned and less easy tags because it seems like this was abandoned, and it also turned out to be more complicated than anticipated.

[2016-10-18 21:28] jdm commented on #11485
@fflorent Have you made any progress on this issue?

[2016-10-18 21:29] birryree commented on #13551
@jdm - Sorry, had been sick for part of the last couple weeks. I just got around to creating an environment for building servo on Linux and I know where my changes should go in.

I do have a question though - do we want similar changes to apply to non-Linux systems? I mainly work on macos and the resulting `dmg` is packaged under `/target` as well. I can also probably make changes for Windows-base

[2016-10-18 21:30] jdm commented on #13548
I'll mark this as unassigned, in that case. If you do pick it up again, please let us know :)

[2016-10-18 21:34] ofekd commented on #13152
@Ms2ger I've spent some time learning the events code, but I still miss the double borrows, and how it's all specific to `body onerror`.

[2016-10-18 21:49] kanaka opened #13825 "-b/--no-native-titlebar option silently disables -z/--headless option"
With both the -b option and the -z option, the -z option is ignored. It seems like the behavior should be that -b is ignored if -z is present or perhaps the argument parsing should simply error out indicating the flags are mutually exclusive.

[2016-10-18 22:06] emilio commented on #13788
Hmm... Ok, so this is spec compliant (because the spec only requires to define a total order), and the current behavior is the same of `strcoll`, which is sort of the expected thing.

That being said, since nobody else does this, I guess it makes sense to switch.

Seems like the easiest way to get this working is calling compiling SM with `EXPOSE_INTL_API`, so we get the self-hosted `localeCompare

[2016-10-18 22:14] kanaka opened #13826 "Webdriver screenshot command timeout"
I'm running servo nightly 20161013 on Ubuntu 14.04.5.

I start servo like this:
[code]

Then I make the following webdriver calls:

[code]

The second call successfully loads github.com, but the third call to take a screenshot times out after 49 seconds with `HTTP/1.1 408 Request Timeout` and the output (caputure in the file) is:
[code]

I.e. I believe it is hitting [this](https://github.com/servo

[2016-10-18 22:45] cynicaldevil commented on #13709
Copied from IRC:
 I tried to do something like this; but the `ref string` is forcing a borrow of `fragment` which is not being returned. I don't get why this is happening.
[code]

[2016-10-18 23:17] jdm commented on #13826
I can reproduce this by running `./servo http://joshmatthews.net --webdriver 7000`, getting the session ID and then taking a screenshot. Very interesting.

[2016-10-18 23:18] jdm commented on #13826
Nevermind, the screenshot took longer than I expected to finish, but it did. I definitely waited for >1.5 minutes doing the same operation on github, however.

[2016-10-18 23:20] jdm commented on #13826
No, actually the "screenshot" I received was the request timeout JSON.

[2016-10-18 23:29] jdm commented on #13788
Seems reasonable.

[2016-10-18 23:42] jdm commented on #13826
Aha - the constellation believes the document has not finished loading, because the code in Window::reflow that sends the idle message is never reached, since it's guarded by code that assumes we only care about taking screenshots in certain situations that are used when running automated tests.

[2016-10-18 23:55] jdm commented on #13551
@birryree It would be great to fix those at the same time!

[2016-10-18 23:57] jdm commented on #13152
@ofekd I believe the problem is that if we dispatch an error event when compilation fails, it triggers a double borrow error. Because of this, we do not dispatch an error event right now. I haven't verified this, however.

[2016-10-18 23:58] emilio commented on #13790
Sure, let us know if you need any help! :)

[2016-10-18 23:58] jdm commented on #13709
What's the error message that you get?

[2016-10-19 00:05] cynicaldevil commented on #13709
[code]

[2016-10-19 00:26] jdm commented on #13709
Can you scope passed_str so that it is dropped before line 704?

[2016-10-19 00:34] cynicaldevil commented on #13709
I can't do that, because I have to pass it to a function call which occurs after line 704.

[2016-10-19 01:27] jdm commented on #13709
In that case it's not possible to hold on to a pointer derived from `fragment` after it gets moved.

[2016-10-19 01:38] kanaka commented on #13826
@jdm Awesome! I would verify this right now but at some point after b8874ff7d197af8e0c7c23c6aced4d8a8fce1648 (Aug 28), `./servo -z ...` started throwing `Could not open dynamic library \`OsMesa\`` and I'm in the process of bisecting that at the moment.

[2016-10-19 01:56] Manishearth commented on #13709
There's no need to try and borrow it in this case, just store an `Option<String>`.  The function it gets passed to calls `.to_owned()` on it anyway.

[2016-10-19 02:32] jmr0 commented on #13264
Had a million things vying for my attention but I'm finally getting this started. @paulrouget what would source and destination correspond to in this case?

[2016-10-19 02:37] jdm commented on #13826
Sounds like you're hitting #13515, which can be worked around with https://github.com/servo/servo/issues/13515#issuecomment-250592787 .

[2016-10-19 02:54] sarahsharp opened #13828 "servo doesn't render plotly-generated html graphs"
I'm trying to use servo to view some html graphs generated by [plotly](https://plot.ly/python/). Servo fails to render anything, throwing the following errors (same with a both a release and a development build):

[code]

[One graph](
https://drive.google.com/file/d/0B4pCuB-2HPuKREhYUFFEZEZlVUk/view?usp=sharing
) will display using webgl, and [the other](https://drive.google.com/file/d/0B4pCuB-2HP

[2016-10-19 03:02] awesomeaniruddh commented on #13595
I'd like to tackle this!

[2016-10-19 03:05] Manishearth commented on #13595
I'm sorry, I fixed this in https://github.com/servo/servo/commit/3d7c997a4f9e0960180075c1334fccd575bf221b since I needed it for a different PR, and forgot to close this issue.

[2016-10-19 03:05] #13595 closed

[2016-10-19 03:07] awesomeaniruddh commented on #13548
I'd like to tackle this!

[2016-10-19 03:30] shinglyu commented on #11302
Sorry I was distracted by other tasks. I had a partial implementation [here](https://github.com/shinglyu/servo/tree/ligature), which is able to select part of the ligature, but the rendering is not 100% correct. ANyone interested can pick it up.

[2016-10-19 04:34] paulrouget commented on #13799
It does.

I added these lines in components/compositing/Cargo.toml and components/servo/Cargo.toml, which eventually changes components/servo/Cargo.lock.

It's not very handy because it's changing files tracked by git.

Both
https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md and https://github.com/servo/webrender/blob/master/README.md will need an updated.

[2016-10-19 05:10] paulrouget commented on #13264
@jmr0 source is a rect (origin + size), the region that needs to be captured in the age. Dest is a size (in the first comment, I say it's a rect, which doesn't really make sense). If dest is different than source's size, the bitmap will be stretched. Similar to: https://developer.mozilla.org/en/docs/Web/API/CanvasRenderingContext2D/drawImage

Maybe you can use DOMRect: https://github.com/servo/ser

[2016-10-19 05:19] paulrouget commented on #13799
Apparently, just updating components/servo/Cargo.toml is enough.

[2016-10-19 07:22] Revertron commented on #12125
Just tried Servo (from https://download.servo.org/nightly/windows/servo-latest.msi) on Windows 7 - it works almost flawlessly. Just the font rendering is weird - some russian letters become 2 squares :)

[2016-10-19 11:18] scotttrinh commented on #12415
I'll take `DOM*`.

[2016-10-19 11:44] jdm commented on #13548
Please do!

[2016-10-19 12:00] jdm commented on #13828
Plotly's JS appears to rely on CSSOM features like dynamically adding rules to stylesheet objects. That's tracked in #11420. Thanks for reporting this!

[2016-10-19 12:17] nox opened #13835 "Remove URL.domainToASCII and URL.domainToUnicode"
They were removed from the spec.

https://twitter.com/urlstandard/status/788712433934270464

Files:
 * components/script/dom/url.rs
 * components/script/dom/webidls/URL.webidl

[2016-10-19 12:17] highfive commented on #13835
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-19 12:38] Ms2ger commented on #13835
We should ensure there is a test that these methods are not supported. `url/historical.html` and `url/historical.worker.js` are perfect.

[2016-10-19 12:57] aethanyc commented on #10532
The screenshot in https://github.com/servo/servo/issues/10532#issuecomment-218216432 seems like a bug in old version of firefox.

I open `tests/wpt/mozilla/tests/css/input_line_height.html` in Firefox 49, Chome, and Safari, and they all rendered like servo. We should close this bug.

[2016-10-19 13:11] jdm commented on #10532
Hooray!

[2016-10-19 13:15] aethanyc commented on #10532
I want to correct my previous comment, it's not the old Firefox bug. If the html does not specify `<!DOCTYPE html>`, the `line-height` will be ignore just like https://github.com/servo/servo/issues/10532#issuecomment-218216432 shown.  Both Chrome and Webkit do the same.  I guess this is for web-compat.  I guess servo does not worry about web-compat for now :)

[2016-10-19 13:22] jdm commented on #10532
Ah, that's a different matter, in that case. We do actually care about web compatibility!

[2016-10-19 13:43] mmatyas commented on #13154
Current status:

[code]

[2016-10-19 13:46] Ms2ger commented on #12125
That may be a known issue with HTML parsing rather than font rendering

[2016-10-19 15:00] #13664 closed

[2016-10-19 15:33] Ms2ger commented on #13152
Say we have
[code]

When `dispatchEvent` is called, we will borrow the body element's `handlers` field (mutably), try to compile the `onclick` attribute's value, and fail. Then we'll try to dispatch an `error` event, which will try to borrow the same `handlers` field, and this panics.

I don't have a clear idea of how to fix this, but I do think the specification requires us to compile the just be

[2016-10-19 16:51] canaltinova opened #13837 "Write parse tests for linear gradients"
We have parse tests for radial gradients' parsing. Linear gradients are simpler than radial ones and probably require lesser tests.
To add parse tests, you can add a new test function to `tests/unit/style/parsing/image.rs` and with `assert_roundtrip_with_context!` macro, compare the left gradient with right parsed ones. Implementation is pretty much same with radials except examples.

Linear gradi

[2016-10-19 16:52] highfive commented on #13837
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-19 17:25] aneeshusa opened #13838 "Tidy check for etc/ci/buildbot_steps.yml"
Now that we are reading Buildbot steps from the main servo/servo repo, we should have a tidy check to ensure the steps file is well formed. (If it is not, the build will fail cleanly, but this makes it easier to catch quick typos locally or on Travis.)

Well-formedness includes:
- file is a valid YAML file
- the file is a map from builder names to list of strings (where each string represents a bu

[2016-10-19 17:25] highfive commented on #13838
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-19 17:25] highfive commented on #13838
cc @wafflespeanut

[2016-10-19 17:54] #13826 closed

[2016-10-19 20:36] larsbergstrom commented on #13800
I'm a little worried that we might have to copy the entire directory over to the build output dir and build there. The apk build tools that we use from the NDK are pretty sloppy about assuming they can create stuff like a "project.properties" file right next to the makefiles that they are building.

Of course, the right answer here might be to switch to either gradle or whatever the other even-new

[2016-10-19 20:36] KiChjang commented on #13584
@shubheksha Is this still being worked on?

[2016-10-19 22:02] Gozala opened #13842 "transforms with in the transform renders incorrectly"
Here is a simplified example of the grid that we are trying to render in browser.html to give the overview of tabs: https://output.jsbin.com/noyucu

If you render it with servo by running:

[code]

You'll see following:

<img width="912" alt="screen shot 2016-10-19 at 2 59 14 pm" src="https://cloud.githubusercontent.com/assets/21236/19539137/a3010454-960c-11e6-8144-d8435b476e1b.png">

While in oth