[2016-08-24 15:13] bzbarsky commented on #13011
Again, do whatever you do if the JS_NewGlobalObject or the various property-definition stuff fails.

[2016-08-24 15:36] jdm opened #13019 "Make DOMTokenList iterable"
Blocked on #12819. We're missing `iterable<DOMString?>;` from `DOMTokenList.webidl`. I believe that adding it _should_ be all that's necessary to make iteration over DOMTokenList values like the `classList` attribute of `Element` work.

Code: `components/script/dom/webidls/DOMTokenList.webidl`, `components/script/dom/domtokenlist.rs`
Test: [create a test](https://github.com/servo/servo/blob/master

[2016-08-24 15:44] jdm opened #13020 "Make FormData iterable"
Blocked on #12819. We're missing `iterable<USVString, FormDataEntryValue>;` from `FormData.webidl`, which will require implementing the `Iterable` trait for `FormData`. See #12998 for an example of doing this.

Code: `components/script/dom/webidls/FormData.webidl`, `components/script/dom/formdata.rs`
Test: [create a test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-t

[2016-08-24 15:51] jdm opened #13021 "Make NodeList iterable"
Blocked on #12819. We're missing `iterable<Node?>;` from `NodeList.webidl`. I believe that adding it _should_ be all that's necessary to make iteration over NodeList values like the result of `document.querySelectorAll`.

Code: `components/script/dom/webidls/NodeList.webidl`, `components/script/dom/nodelist.rs`
Test: [create a test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#wr

[2016-08-24 15:53] jdm opened #13022 "Make URLSearchParams iterable"
Blocked on #12819. We're missing `iterable<USVString, USVString>;` from `URLSearchParams.webidl`, which will require implementing the `Iterable` trait for `URLSearchParams`. See #12998 for an example of doing this.

Code: `components/script/dom/webidls/URLSearchParams.webidl`, `components/script/dom/urlsearchparams.rs`
Test: [create a test](https://github.com/servo/servo/blob/master/tests/wpt/READ

[2016-08-24 16:04] metajack commented on #13018
I believe this used to work pre-WR as we had people doing display on windows X servers from linux dev machines.

I think we should fix bugs in our use of libGL if possible, but we should probably not go out of our way to make networked display work. The linux world seems headed quickly for Wayland now, and I'd rather us put effort there.

[2016-08-24 17:15] rzambre commented on #13007
Trying ```ant clean``` under support/android/apk didn't help either.

[2016-08-24 18:36] rzambre commented on #13007
It seems like ```ant``` keeps a temp directory somewhere and after multiple attempts at packaging the file names become too long making them "invalid." After re-cloning the git repo, building and packaging worked successfully :)

[2016-08-24 18:36] #13007 closed

[2016-08-24 19:04] bholley commented on #12992
Can we just fix the rust compiler to complain if there are conflicting definitions of an extern "C" function in the same crate?

[2016-08-24 19:04] bholley commented on #12992
(Though I guess the bindings are a different crate - but we could use * them somewhere)

[2016-08-24 19:17] #571 closed

[2016-08-24 19:17] #12628 closed

[2016-08-24 19:33] jdm opened #13023 "Call JS_SetImmutablePrototype for global objects"
Gecko does this, and we don't.

[2016-08-24 19:42] jdm opened #13024 "Integrate mp4parse"
The goal of this issue is to replicate the work of #12186, using a library that won't have the same distribution problems that ffmpeg does.

https://crates.io/crates/mp4parse

[2016-08-24 19:42] jdm commented on #13024
@splav Is this something you would be interested in?

[2016-08-24 19:56] KiChjang commented on #12379
@Andy-Bell Are you still working on this?

[2016-08-24 19:57] KiChjang commented on #12767
@samuknet Need any help? Any questions?

[2016-08-24 20:22] jdm opened #13025 "New request in cors_preflight_fetch uses incorrect boolean argument"
Every other argument to `Request::new` in step 1 is based off the corresponding value from `request`, but we pass `false` for `is_service_worker_global_scope`. We should use the same value from the original request instead.

Code: `components/net/fetch/methods.rs`

No need for a test; we don't have any code that can observe this yet. If it builds, it's good for a PR.

[2016-08-24 20:29] jdm opened #13026 "Wrong referrer policy used in cors_preflight_request"
The specification for [step 1](https://fetch.spec.whatwg.org/#cors-preflight-fetch) says we should use `request`'s referrer policy. There's an obvious copy/paste typo that uses the default request policy for the new `preflight` variable instead.

Code: `components/net/fetch/methods.rs`
Test: modify `test_cors_preflight_fetch` in `tests/unit/net/fetch.rs` by setting the original referrer policy use

[2016-08-24 20:51] samuknet commented on #12767
@KiChjang think I am nearing completion - I've implemented 'double click' and the behavior mirrors other browsers when testing on a page.  The double click timeout and distnace  threshold constants are pulled in from prefs.json.

 Could you take a quick look? This is the bulk of it really https://github.com/samuknet/servo/blob/dblclick/components/script/dom/document.rs#L791-L833

[2016-08-24 21:12] splav commented on #13024
Taking this one.

[2016-08-24 22:36] glennw commented on #13015
I'm unable to reproduce this issue - the test displays the same for me with or without webrender enabled. @jdm Is it possible this was tested before https://github.com/servo/servo/pull/13002 landed (which may have inadvertently fixed this problem)?

[2016-08-24 22:37] jdm commented on #13015
Probably! I'll verify when I'm in front of a computer.

[2016-08-24 22:54] KiChjang commented on #12907
@Coder206 I wasn't clear enough when I said that it's not a README.md problem perhaps. It means that all mobile browsers do not scroll to fragments after clicking on the link. If you're still wondering whether you can fix it just by using the `<a>` element, it isn't possible and I have a branch here that changed the OSX link to the `<a>` tag https://github.com/KiChjang/servo/tree/readme.

In short

[2016-08-25 00:21] glennw commented on #13013
I can't reproduce #13015 with webrender - it seems to work correctly. But this bug seems to occur the same both with/without webrender enabled for me. I'll look into it today.

[2016-08-25 01:37] Coder206 commented on #12907
@KiChjang Thanks for clarifying this and for testing with your branch. Shall we close the issue then?

[2016-08-25 01:40] #12907 closed

[2016-08-25 01:59] glennw commented on #13013
Will be fixed in WR when https://github.com/servo/webrender/pull/368 lands in master.

[2016-08-25 02:39] Manishearth commented on #12992
I .... don't know.

The "different crate" is a hurdle. Though like I said yesterday, almost all of geckolib (and all of gecko_bindings) could be rolled into style as a single crate.

Its also that we probably aren't using extern decls for their purpose here. You use them to declare functions you plan on linking to, so that you can call them from servo. You don't use them as a "header file"-esque t

[2016-08-25 04:00] jdm commented on #13015
Verified.

[2016-08-25 04:00] #13015 closed

[2016-08-25 11:45] nox opened #13031 "Make DOMJSClass use JSClass instead of Class"

[2016-08-25 11:45] nox opened #13032 "Get rid of the unforgeable holder for global interfaces"
https://bugzilla.mozilla.org/show_bug.cgi?id=1297717

[2016-08-25 12:27] nox opened #13033 "Implement [Replaceable]"
http://heycam.github.io/webidl/#Replaceable

[2016-08-25 12:40] nox commented on #12979
#4593 is taken care of in pending #13030.

[2016-08-25 12:45] #12357 closed

[2016-08-25 12:58] Wafflespeanut commented on #12823
Yo @KiChjang, any news on this?

It's not urgent, but this staying open kinda bugs me :stuck_out_tongue:

[2016-08-25 13:32] nox commented on #13011
I took care of that in #13030.

[2016-08-25 13:36] jdm commented on #9097
Fixed by #10224.

[2016-08-25 13:36] #9097 closed

[2016-08-25 13:40] Permutatrix commented on #12939
The other offset properties are wrong, too:

[code]

This seems to be because the iteration initiated [here](https://github.com/servo/servo/blob/78344754826e938c004a83a21c898552a8e77b17/components/layout/query.rs#L779) doesn't actually find the node it's looking for if said node is set to `display: inline`. There's no assertion or anything there, so it just keeps going with its invalid state and p

[2016-08-25 13:42] ofekd commented on #10209
Can anyone point to an E-Easy(ish) implementation I can work on? Thanks :)

[2016-08-25 13:42] jdm commented on #12320
Shadertoy now panics:
[code]

[2016-08-25 13:43] jdm opened #13035 "Shadertoy brings down the constellation"
[code]

[2016-08-25 13:43] #4593 closed

[2016-08-25 13:43] #13023 closed

[2016-08-25 13:45] jdm commented on #13035
Specifically, WebGLPaintThread::start contains `result_port.recv().unwrap().map(|limits| (sender, limits))`, which isn't good - we should propagate a `recv()` failure instead of pretending that it can't happen (since it obviously can).

[2016-08-25 14:08] jdm commented on #10209
@ofekd `isEnabled` might be a good choice, since `enable` and `disable` are already implemented!

[2016-08-25 14:10] jdm commented on #12939
Fantastic; thanks!

[2016-08-25 14:23] jdm opened #13036 "Convert imports in generate_imports into one per line"
Right now there's a long list in `CodegenRust.py` like:
[code]
These are in alphabetical order, which is great. However, adding new imports to this list is a pain, because we need to re-wrap all the subsequent lines that become too long. We should convert it to a list of one import per line, so it's easy to add new ones and they remain in alphabetical order.

[2016-08-25 14:41] #12352 closed

[2016-08-25 15:38] mskrzypkows commented on #11763
I need to add children nodes in SetLength method. Please give me some hint, how to create new node which I can add by parent's AppendChild method in htmlselectelement.rs.

[2016-08-25 15:57] wafflespeanut opened #13037 "Intermittent timeout in /css-flexbox-1_dev/html/flexbox-basic-iframe-horiz-001.htm and /css-flexbox-1_dev/html/flexbox-basic-iframe-vert-001.htm"
[code]

This is as spooky as #12701 - no unwraps, no panics, no nothing! just the `"XFree86-VidModeExtension"` horror...

[2016-08-25 16:18] jdm commented on #11763
`HTMLOptionElement::new` constructs a new HTMLOptionElement. You can call `parent.AppendChild(element.upcast())` to append it.

[2016-08-25 16:19] jdm commented on #13037
That message is always present. We have other reftests that time out when involving iframes too.

[2016-08-25 16:22] ofekd commented on #10209
@jdm I'll take it

[2016-08-25 16:37] jonathandturner commented on #10199
I'm also seeing this.  When the browserhtml startup screen is resized, you can lose the expected anti-aliasing on the fonts.

At some sizes (closer to expected):
![screen shot 2016-08-25 at 9 34 29 am](https://cloud.githubusercontent.com/assets/547158/17977632/54469724-6aa7-11e6-848f-210f36826e59.png)

At other sizes (notices how font rendering loses aliasing/parts of the font render):
![screen sh

[2016-08-25 16:46] Manishearth opened #13038 "Merge most of gecko_bindings and geckolib into style"
When working on #12991 I kept stumbling against coherence and dependency issues.

The Servo types corresponding to the FFI types are not defined in gecko_bindings, so I can't refer to them there. This leads to awkwardness like `fn into_arc<U>(self) -> Arc<U> where U: HasArcFFI<FFIType = T>` (it's also awkward to call, you often have to use turbofish notation to explicitly specify the type `U`)

I

[2016-08-25 17:16] jonathandturner opened #13039 "browserhtml starting link images clickable areas wrong"
Currently, if you open browserhtml on a recent build and try to click the:

![screen shot 2016-08-25 at 9 41 05 am](https://cloud.githubusercontent.com/assets/547158/17978736/48b7db02-6aac-11e6-9d65-487a517e3ea7.png)

Logo a few things might happen:

* In some areas, you aren't allowed to click at all.
* In other areas, if you click, it loads Demo: Moire

In playing around with this it seems like

[2016-08-25 17:36] KiChjang commented on #13039
I _think_ this is a duplicate of an issue opened before, but I'm not sure.

cc @emilio

[2016-08-25 17:43] KiChjang commented on #13039
Looks like #12841 fixes the issue, but was never landed for some strange reason...

[2016-08-25 17:48] #11600 closed

[2016-08-25 17:53] KiChjang commented on #12823
@Wafflespeanut I'm still dealing with transition events. If you want to work on it, do it before I submit a PR for transition event, because this will be next up in my plate.

[2016-08-25 18:02] KiChjang commented on #13036
This is located in `components/script/dom/bindings/codegen/CodegenRust.py`, under the `CGBindingsRoot` class.

[2016-08-25 18:07] KiChjang opened #13040 "Implement WebGLRenderingContext::isEnabled"
Part of #10209.

Assigned to @ofekd.

[2016-08-25 18:10] emilio commented on #12758
@Manishearth apparently we were wrong: https://drafts.csswg.org/css-values/#calc-serialize

[2016-08-25 18:14] Manishearth commented on #12758
huh. looks like basic-shape is special. blegh.

[2016-08-25 18:37] emilio commented on #13039
Yes, that's fixed by #12841, sorry for not landing it before, it silently bitrotted without any message from the bots.

Closing as a dupe of #12833, but thanks for reporting it! The PR fixing it should land relatively soon :-)

[2016-08-25 18:37] #13039 closed

[2016-08-25 18:44] #12966 closed

[2016-08-25 19:42] #12833 closed

[2016-08-25 21:25] crypto-universe commented on #12958
Hi! I'd like to do this task! It is more or less clear what to do. How to verify result? Just compile stage1 compiler?

[2016-08-25 21:32] KiChjang commented on #12958
@crypto-universe If `./mach build -d` doesn't throw any errors and that you can find the generated .rs files from .mako.rs (e.g. properties.rs exists, which is built from properties.mako.rs) under `target/` then it's working.

[2016-08-26 01:07] antrik opened #13045 "Building `script` in debug mode fails on 32 Bit GNU/Linux"
The 3 GiB virtual address space available on 32 Bit systems is no longer sufficient for a debug build of Servo on x86:

[code]

In release mode, virtual memory usage is around 2600 MiB, so that's still fine for now...

[2016-08-26 01:15] Coder206 commented on #13045
How much storage do you have on the VM?

[2016-08-26 01:18] antrik commented on #13045
It's not a VM, and there is plenty of swap space and disk space available. The machine has 8 GiB of RAM. But none of this really matters, as this is about address space exhaustion...

[2016-08-26 01:21] Coder206 commented on #13045
@antrik Sorry about that, the error above is similar to one that I got when I ran out of disk space.

[2016-08-26 01:26] antrik commented on #13045
@Coder206 I see. I checked the memory usage though, and it is indeed approaching 3 GiB before it fails.

[2016-08-26 01:34] fyee opened #13046 "shut_down_layout can panic when shutting down a layout thread that no longer exists"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:

### Servo Version:
Servo 0.0.1-9b4713f
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-08-26 02:31] shinglyu opened #13047 "Migrate to treeherder-client-3.0.0"
Update the treeherder-client used in `etc/ci/performance`.
Patch: https://github.com/shinglyu/servo-perf/pull/26

P.S. This bug is reserved for Taiwan Code Sprint contributors

[2016-08-26 02:44] DemiMarie commented on #12778
At least per the Arch bug the problem is that there are a lot of local privilege escalation bugs in Linux that are enabled by allowing unprivileged user namespaces.  Servo may need to ship a setuid root binary to deal with the problem.

[2016-08-26 02:48] DemiMarie commented on #12769
Note that OpenH264 allows for anyone to do H264 decoding, IF we were willing to use Cisco's precompiled binaries (Cisco has said that it will pay the licensing fees in that case).  If OpenH264 has deterministic builds, we might be able to check that these binaries are the same as ones built from source.

[2016-08-26 04:07] ashrko619 commented on #12972
@KiChjang @jdm  I went over the code and the specifications. It looks a bit more complicated than what I thought. I will work on the easy and less-easy issues for now :). I ll keep an eye on this issue and see if I can contribute something to it down the line :)

[2016-08-26 04:16] ashrko619 commented on #13036
Do you mean like this?
[code]

[2016-08-26 05:05] metajack commented on #12769
I suspect we will eventually use OpenH264 probably by using the same sandbox solution that Firefox uses and downloading at runtime.

[2016-08-26 05:43] bholley commented on #13038
The original reason that gecko_bindings became a separate crate was because we needed to use it from our [replace]-ed string_cache (and also, at some points, from style/). IIRC @SimonSapin did some stuff to remove that requirement.

One thing that might be a problem is that the bindings are eventually going to be generated at gecko build time in mozilla-central - that is to say, they won't be chec

[2016-08-26 06:32] Manishearth commented on #13038
Ugh, I forgot about this. One thing I was hoping for servo-in-m-c would be that we'd be able to centrally generate a single set of bindings. Though that proposal has its own issues -- there may be cyclic dependencies introduced by it. So I'm not sure if I should be worried about that.

We don't need to check them in in servo/servo either, we can just use the same script with a different out direct

[2016-08-26 06:33] fyee opened #13048 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:

### Servo Version:
Servo 0.0.1-9b4713f
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-08-26 10:06] zeusintuivo commented on #13045
I made some research on the best approach to install servo form scratch. You might want to take a look at this thread https://github.com/servo/servo/issues/12356

[2016-08-26 10:16] samuknet opened #13053 "DIV with translateY in container with overflow hidden and set height gets clipped"
The problem occurs when there is an element with a translateY set in a container with CSS `overflow: hidden` and after the containers set `height` property exceeds a certain amount.

Depending on the positioning of the element and the height of the container, the element gets clipped from the top down.  The clipping rect increases in height as the `height` of the container increases.

It seems for

[2016-08-26 10:26] #13033 closed

[2016-08-26 11:27] SimonSapin commented on #13038
I’m slightly worried about build times. Incremental compilation is not here yet, so merging crates means they always have to be rebuilt when anything changes.

[2016-08-26 13:23] est31 commented on #12769
OpenH264 is mostly useful for webrtc like things, but not for youtube etc: https://github.com/cisco/openh264/issues/1407

Firefox still uses gstreamer on linux and OS provided decoders on windows and mac for youtube use cases.

[2016-08-26 13:47] est31 commented on #13024
Same could be done with my `ogg_metadata` crate: https://crates.io/crates/ogg-metadata

@jdm does that sound reasonable and is wanted by servo?

It may not be from mozilla, it may not be included into firefox, it may not be as well tested (running on millions of computers), and it may not be as much famous as mp4parse, but it was designed to do the same things, just for the ogg format.

There has

[2016-08-26 14:01] KostaCitrix opened #13054 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }"
Occured while trying to load http://mars.nasa.gov/bin/NASA-Mars-Posters/P05-Teach-On-Mars-NASA-Recruitment-Poster.jpg

called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }
### URL:
### Servo Version:

Servo 0.0.1-9b4713f
### Backtrace:

[code]

This report was generated by the browser.html issue reporter

[2016-08-26 14:02] jdm commented on #13024
@est31 Absolutely!

[2016-08-26 14:04] Manishearth commented on #13038
Agreed. I'm super happy with the current build-geckolib build times.

[2016-08-26 14:06] jdm commented on #13036
@ashrko619 Sorry, this is reserved for the Taiwan Code Sprint.

[2016-08-26 14:29] SimonSapin commented on #13038
Ok, given that:

* `gecko_bindings` is relatively quick to build (a dozen seconds on my laptop)
* `geckolib` depends on `style`, so it needs to be rebuilt anyway when `style` changes

This specific merge is probably OK.

Still, I’d like whoever does it to check that the `style` build times for Servo doesn’t increase too much. (That is, does rustc spend time parsing/checking modules disabled with `

[2016-08-26 14:45] jdm commented on #13054
@KostaCitrix Was this OS X or Linux?

[2016-08-26 14:46] KostaCitrix commented on #13054
Mac OS 10.11.6

[2016-08-26 14:46] jdm commented on #13054
If OS X, this is probably the same issue as #11741 and #10390.

[2016-08-26 14:47] KostaCitrix commented on #13054
#11741 seems similar, but I can't judge that :)

[2016-08-26 14:48] UK992 commented on #10636
@edunham not that tidy's license validation logic and config file landed, it is possible to update ``servo_tidy`` on pip?

[2016-08-26 14:52] jdm commented on #13048
Closing as a duplicate of #13046, which shows the same problem.

[2016-08-26 14:52] #13048 closed

[2016-08-26 14:53] jdm commented on #13048
Thanks for reporting it!

[2016-08-26 14:54] jdm commented on #13046
There's a straightforward fix for this - `shut_down_layout` in `script_thread.rs` should not use `unwrap()` on the result of `response_port.recv()`. We don't even care about the value received, so we can just use `let _ =` instead.

[2016-08-26 14:54] jdm commented on #13046
I don't know of a way to reproduce this situation, unfortunately. If the change builds, that should be good enough.

[2016-08-26 14:54] highfive commented on #13046
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-26 14:57] SimonSapin commented on #7223
Fixed in #12945.

[2016-08-26 14:57] #7223 closed

[2016-08-26 15:23] metajack commented on #12769
@est31 That is certainly true now, but there has been a lot of talk about high profile getting added eventually which would make it work for YouTube.

Unfortunately, none of this solves the problem of AAC audio, which has no similar workaround.

[2016-08-26 16:05] KiChjang commented on #12823
Oops, too late: #13056.

[2016-08-26 16:56] Manishearth commented on #13038
Rust parsing is super fast. Shouldn't be an issue.

[2016-08-26 18:54] bholley commented on #8769
No panic in #12911 either.

[2016-08-26 20:00] jdm commented on #8769
Let's file a new issue for the non-panicking failure and close this one, since we removed the code that panics.

[2016-08-26 20:01] jdm opened #13059 "Intermittent timeout in /_mozilla/css/iframe/hide_layers2.html"
[code]

[2016-08-26 20:01] jdm commented on #8769
Filed #13059.

[2016-08-26 20:01] #8769 closed

[2016-08-26 22:23] ashrko619 commented on #13046
I'd like to work on this. :)

[2016-08-26 22:36] KiChjang commented on #13046
@ashrko619 It's all yours!

[2016-08-26 22:47] #13011 closed

[2016-08-26 22:59] mskrzypkows commented on #11763
Thanks @jdm !

[2016-08-27 01:39] #13031 closed

[2016-08-27 02:01] zack1030 commented on #13047
I wanna try

[2016-08-27 02:06] wdv4758h commented on #13026
I'll take this :smile:

[2016-08-27 02:40] shinglyu commented on #12405
Duplicate #12792

[2016-08-27 02:40] #12405 closed

[2016-08-27 02:42] shinglyu commented on #12792
From #12405 :

This is a followup for #11107 . There are a few things that needs to be done:
- [ ] Create a script to download tp5.zip and put it in the correct folder
- [ ] Create a `test-perf` command in `test_commands.py` to bootstrap the test env and run.
- [ ] Pretty print the test result for human to read (currently a json) (Some of the work is done in #12946)
- [ ] Figure out what kind of l

[2016-08-27 02:57] hsinewu commented on #13025
I would like to work on this, thank you!

[2016-08-27 03:06] jdm commented on #13025
Go for it! Ask questions if anything is unclear!

[2016-08-27 03:07] jdm commented on #13036
It's yours!

[2016-08-27 03:07] jdm commented on #13026
Go for it! Ask questions if anything is unclear!

[2016-08-27 03:08] jdm commented on #13047
Great! Ask questions if anything is unclear!

[2016-08-27 03:14] shinglyu commented on #13026
@jdm: So by setting the policy as `origin`, a Referrer URL `foo.com/a.html` will become `foo.com` in the header, right?

[2016-08-27 03:17] hsinewu commented on #13025
Thank you, I'm still studying the code but
looks like I'll have to unwrap Rc<request> somehow

If you can point out some similar code snippet that I can refer to, it will definitely be helpful to me, and make the code more consistent.
I'll have to read some more documents for now.

[2016-08-27 03:32] yoyo930021 commented on #13022
I try it.

[2016-08-27 03:33] jdm commented on #13022
Great! Ask questions if anything is unclear!

[2016-08-27 03:33] hsinewu commented on #13025
Ok, I'm a bit confused, what is the right way to access request parameter, is it just request or &request?
Looking at http_network_fetch at line:964, it uses &request.
But in the body of cors_preflight_fetch it uses just request.

I have no idea which is the right way, but maybe either way would be fine I guess?
I'll try it without & for now.

[2016-08-27 03:33] jdm commented on #13026
@shinglyu: Exactly.

[2016-08-27 03:36] KiChjang commented on #13025
@hsinewu Unwrapping `Rc<T>` to `T` is unnecessary, because `Rc<T>` automatically derefs into `&T` (i.e. you can simply treat it as a `&T`). So you can simply just use `request.is_service_worker_global_scope`.

[2016-08-27 03:39] hsinewu commented on #13025
@KiChjang  Sounds very straightforward, thanks for your comment!

[2016-08-27 03:58] #13046 closed

[2016-08-27 05:06] #13025 closed

[2016-08-27 06:15] zack1030 commented on #12792
I am trying.

[2016-08-27 06:21] hsinewu commented on #13021
I would like to work on this.

[2016-08-27 06:40] wdv4758h commented on #12999
I'm trying :)

[2016-08-27 06:41] jdm commented on #12792
Great!

[2016-08-27 06:41] KiChjang commented on #13021
Sure thing! Here are a couple of key things to look out for: `dom::bindings::iterable::Iterable` and its trait methods, `get_iterable_length`, `get_value_at_index` and `get_key_at_index`.

[2016-08-27 06:42] jdm commented on #13021
No, those are only used for pair iterables; the value iteratables like this one are less complex.

[2016-08-27 07:07] wdv4758h commented on #13000
I'll try it out.

[2016-08-27 07:16] #13047 closed

[2016-08-27 07:23] hsinewu commented on #13021
No idea what webidl is doing there Orz

What does the question mark mean? nullable?
Looks like I could just uncomment that line (iterable\<Node\>), as it matches the spec definition.
But @jdm refer to it as iterable\<Node?\>, what's the difference?

The feeling of reading specs...

[2016-08-27 07:29] jdm commented on #13021
The ? does mean nullable, yes. I copied the line from Firefox's WebIDL, but we could see if the non-nullable one works.

[2016-08-27 08:10] emilio commented on #12320
Hmm.. they should've changed their code, so now webgl seems supported (before they used preserveDrawingBuffer: true, which we rejected.

[2016-08-27 08:48] emilio commented on #12320
It crashes because they're trying to create a zero-width context, sight... I guess that's what assertions are for.

[2016-08-27 09:09] hsinewu commented on #13021
Got
`WebIDL.WebIDLError: error: Iterable type does not match indexed getter type`
when using `iterable<Node>`,
while using `iterable<Node?>` can compile.

No idea what's going on, just do some recording.

[2016-08-27 09:13] wdv4758h commented on #13020
I'll try this one :smile_cat:

[2016-08-27 09:17] hsinewu commented on #13021
How can I prove nodes to be iterable? for-loop? Any specific dom function to test out?
I don't know what is not working before this change.

[2016-08-27 09:27] hsinewu commented on #13021
Oh, querySelectorAll

[2016-08-27 10:08] aethanyc opened #13080 "Build error in mozjs_sys crate on Mac OS"
I'm using Mac OS X 10.11.6 with build environment installed by homebrew.

Steps to reproduce:
1. ./mach clean
2. ./mach build -d

The error message:
[code]

[2016-08-27 10:09] aethanyc commented on #13080
@shinglyu Any idea?

[2016-08-27 10:42] yoyo930021 commented on #12402
I try it!
what is test-wpt-failure doing?
test-wpt diff?

[2016-08-27 10:55] izgzhen commented on #13080
I will try to clone down another fresh source

[2016-08-27 11:32] #13026 closed

[2016-08-27 12:01] izgzhen commented on #13021
You may take https://github.com/servo/servo/pull/12998/ as a reference

[2016-08-27 12:03] izgzhen commented on #13021
And continue my last advice, the tests/wpt/metadata/fetch/api/headers/headers-structure.html might be a good example of testing iterable

[2016-08-27 12:42] StringEpsilon opened #13082 ""Home" and "End" keys don't scroll to top/bottom of page"
Like the title says.

Steps to reproduce:
- Open reddit.com
- scroll down a bit
- Press "home"
- Press "end"

Expectation:
You are now at the bottom of the page.

Actual:
You are still where you manually scrolled to.

OS:
Arch Linux, 64 bit.

Servo version: Latest nightly build as of 08/27/2016 @ 12:41pm (UTC)

[2016-08-27 13:25] #13036 closed

[2016-08-27 13:54] hsinewu commented on #13021
@izgzhen I found no html files in that commit, it's some rust and .html.ini files, or do you mean those impl are the feature needed to be tested, and can served as hints to do corresponding test in javascript?

Also, I can't find `headers-structure.html` file you refer to, or is it buried in some other branch?

[2016-08-27 14:10] izgzhen commented on #13021
This one https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/fetch/api/headers/headers-structure.html

[2016-08-27 14:19] jdm commented on #12402
`test-wpt-failure` runs a very small test harness that verifies that failures in tests are reported correctly. `test-wpt` is the regular test suite.

[2016-08-27 15:21] #13000 closed

[2016-08-27 20:14] canaltinova opened #13083 "Fix basic shape's position serialization"
After #13042, circle and ellipse's position serialization affected and not working properly. We need to fix this and uncomment the tests in this file: `tests/unit/style/parsing/basic_shape.rs`

Note: The pr didn't land yet. It need to be fixed after #13042 lands.

[2016-08-27 21:01] askmatey commented on #7379
@mykmelez One of the problems I have with Positron is that it aims to be a counterpart to Electron. And let's cut with the chase: You can't simply replace libchromiumcontent. No. You need to write a lot of new code. A LOT of code, on many levels. And you know it.

So this made me really skeptical. And I am not sure if it is a good idea to take over the entire Electron API too. To be honest, the El

[2016-08-27 21:20] #12999 closed

[2016-08-28 00:30] SaschaNaz opened #13084 "called `Option::unwrap()` on a `None` value"
![image](https://cloud.githubusercontent.com/assets/3396686/18030829/e3809ac8-6d01-11e6-8034-62c5567b0ee7.png)

Clicking report button does not really 'prefill' the issue and Servo does not let me copy-paste, so I'm just attaching the screenshot.

Repro was able on this page: http://comic.naver.com/webtoon/list.nhn?titleId=670152&weekday=sun

[2016-08-28 01:50] yoyo930021 commented on #12402
test-css                  Run the css tests
test-wpt                 Run the web platform tests that the regular test suite
test-wpt-failure     Run the small test harness that verifies that failures
                                in tests are reported correctly
update-css            Update the css tests
update-wpt            Update the web platform tests

is ok?

[2016-08-28 02:11] hsinewu commented on #13021
Oh, I was looking for it under metadata folder, it was my wrong :/

[2016-08-28 03:56] hsinewu commented on #13035
Do you mean that it should catch up possible exceptions result from invoking `recv()`?

[2016-08-28 04:31] hsinewu commented on #13035
I want to work on this, but I have to google for rust error handling first...

[channel](https://doc.rust-lang.org/std/sync/mpsc/)

[2016-08-28 05:40] shinglyu commented on #13080
@aethanyc Not quite sure, maybe manually remove your target folder and try again?

[2016-08-28 06:33] Wafflespeanut commented on #12402
Can you please open a PR with your changes so that we can make our comments there? :)

[2016-08-28 06:40] yoyo930021 commented on #12402
@Wafflespeanut Thank
I PR.

[2016-08-28 06:48] veer66 opened #13088 "Servo does not break Thai text line properly."
I use Servo a0f45c6850b6 on Ubuntu 16.04. The text "การบ้านการบ้านการบ้าน" is supposed to be split but it isn't.

![servo_break1](https://cloud.githubusercontent.com/assets/370688/18032123/6e82e87a-6d2e-11e6-9b4f-eca71e9d2c9f.png)

But it is supposed to look like this:

![ffbreak1](https://cloud.githubusercontent.com/assets/370688/18032125/73c892da-6d2e-11e6-88bf-5e8e68dff51b.png)

The page for te

[2016-08-28 06:49] Manishearth commented on #13088
cc @glennw

[2016-08-28 07:02] emilio opened #13089 "Remove unneeded clone in the style system cache"
Was added in #12912, but we don't need to `clone().unwrap()` the vector. Using `as_ref()` should be enough.

Code:
 * [`components/style/matching.rs`](https://github.com/servo/servo/blob/master/components/style/matching.rs#L391).

Tests:
 * No need for adding new tests, if it passes review and existing tests is fine.

[2016-08-28 07:03] highfive commented on #13089
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-28 07:07] emilio commented on #13084
Thanks for reporting!

Full backtrace:

[code]

[2016-08-28 07:12] emilio commented on #13084
Seems like this `upgrade()` call is what is failing. Scary. Probably a consequence of some of the incremental restyle changes... Sigh.

https://github.com/servo/servo/blob/master/components/layout/flow.rs#L1560

[2016-08-28 08:19] tp6vup54 commented on #13035
I propagated `recv()` just as followed:
[code]

And got the following message:
[code]
Seems like there are two problems here.
One is this:
`ERROR:servo: assertion failed: gl::CheckFramebufferStatus(gl::FRAMEBUFFER) == gl::FRAMEBUFFER_COMPLETE`
`offscreen_gl_context::draw_buffer::DrawBuffer::new` contains:
[code]
 Maybe this should be placed in another issue?

Another is:
`ERROR:script::dom::webglr

[2016-08-28 08:23] KiChjang commented on #13035
This looks correct, the idea is that whenever something panics, it should not affect the thread that runs the constellation (thread isolation).

[2016-08-28 08:25] emilio commented on #13084
Nope, I confirmed this wasn't due to my style system changes, by using a build from May 26th (2bb109b14f6dd372b8a3da94787a9c7b1a84559a).

cc @pcwalton

[2016-08-28 08:37] shinglyu commented on #13035
In other words we don't want the thread to panic and crash everything, but let the constellation handle the error?

[2016-08-28 09:36] yoyo930021 commented on #13019
I try it.

[2016-08-28 09:50] ashrko619 commented on #13089
I'd like to fix this. I worked on #12912, did not know about ```as_ref()``` :)

[2016-08-28 09:55] yoyo930021 commented on #13019
I have a question.
header is key-value,
but DOMString is only have a String.

`get_value_at_index` `get_key_at_index` function how to write?

[2016-08-28 10:04] saurvs commented on #12967
When I run ```./mach test-wpt tests/wpt/web-platform-tests/html/semantics/text-level-semantics/the-time-element/001.html``` I get the following error. I'm not sure what's wrong?

[code]

[2016-08-28 10:12] emilio commented on #13089
Sure, it's yours! :)

[2016-08-28 10:23] KiChjang commented on #12967
Did you have any server running while you're trying to `./mach test-wpt`?

[2016-08-28 10:29] aethanyc commented on #13080
I've tried to build on a fresh cloned servo source, and it still fail to build build mozjs with this log.
https://pastebin.mozilla.org/8905552

It looks like some header files are missing, but I should have Xcode command line tools installed.
[code]

[2016-08-28 10:32] KiChjang commented on #13080
It says `malloc.h` is not found, have you not installed jemalloc perhaps? Or that your PATH environment variable is not pointing to the correct location?

[2016-08-28 10:50] izgzhen commented on #13021
@jdm As far as I find, we don't codegen anything for value iterator? But looks like `values` and `entries` interfaces are specified in spec?

[2016-08-28 10:53] izgzhen commented on #13019
Not currently. Looks like they are only required for pair iterator now. But you may want to track the following threads for related discussions:

- https://github.com/servo/servo/issues/13021
- https://github.com/servo/servo/pull/13081

[2016-08-28 12:23] #13089 closed

[2016-08-28 13:14] jdm commented on #13021
They are generated, but they're self-hosted JS code so no changes are necessary in the rust implementation.

[2016-08-28 14:48] #12402 closed

[2016-08-28 14:58] jdm opened #13096 "Segfault using gczeal on master"
[code]

[code]

[2016-08-28 14:58] jdm commented on #13096
I'm also using debugmozjs, if that makes a difference.

[2016-08-28 15:27] jdm commented on #13096
This is not present in 36974f0746261b971c93ed7dfb9bd726675ccf69. I'm working on narrowing the range.

[2016-08-28 15:29] saurvs commented on #12967
Well I `Ctrl-D`-ed to terminate a running wpt test. It's fixed now.

Although I'm having trouble getting the two of the tests to pass. Apparently `datetime` should be reflected by `dateTime` and I'm not sure how to do that.

[2016-08-28 21:32] KiChjang commented on #12967
@saurvs The `make_getter!` and `make_setter!` macros defined in macros.rs should help you with that.

[2016-08-28 23:50] jdm commented on #13096
This was introduced in 89efccc4267706eec8d1cd32043bb25d7f37f9b2. Lovely!

[2016-08-28 23:52] glennw commented on #13053
This occurs without webrender too - it's probably a layout bug to do with calculating the overflow rect for a div that contains transformed children.

[2016-08-29 00:18] Coder206 commented on #11855
@jdm It seems that the overflow error strikes again.

[2016-08-29 00:21] glennw commented on #13013
Fixed as part of https://github.com/servo/servo/pull/13099

[2016-08-29 00:21] #13013 closed

[2016-08-29 00:29] jdm commented on #13096
I have narrowed this down to the call to `NewObject` in `js::NewObjectWithClassProtoCommon`, which is called from `JS::NewFunctionFromSpec` (via `NewNativeFunction`), from `js::NewFunctionWithProto`, ultimately from `DefineFunctionFromSpec`. Before the `NewObject` call, the obj handle from `DefineFunctionFromSpec` is valid (specifically, the pointer returned from `JS_NewObjectWithUniqueType` in `c

[2016-08-29 01:03] shinglyu opened #13103 "Make Servo's profile compatiable with Gecko profiler UI"
Gecko has a useful Profiler visualizer: https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Profiling_with_the_Built-in_Profiler

It might be interesting to make servo's profiler format work with Gecko's, so we can reuse all their goodies.

It's just a vague idea, comments are welcome!

cc @yoyo930021

[2016-08-29 01:06] highfive commented on #13103
cc @fitzgen

[2016-08-29 01:10] #12802 closed

[2016-08-29 05:45] aethanyc commented on #13080
Finally, I found the solution. I have set the environment variable `MOZCONFIG` in my `.bashrc`, which might confuse the build script of `mozjs`. `unset MOZCONFIG` fixed the build failure for me. It's strange that it didn't happen to me the last time I built servo (perhaps a month ago). Thank you all guys for the suggestion.

[2016-08-29 06:18] paulrouget commented on #13082
This should not be too hard to implement. See `fn handle_key()` in `ports/glutin/window.rs`.

[2016-08-29 06:18] highfive commented on #13082
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-29 07:02] anholt commented on #10209
@ofekd isEnabled might be tricky as a new contributor, because you need to change things across modules.  Some of the testcases in `webgl-specific.html`, like the blending func or stencil func ones, should be really good starting points. `invalid-passed-params.html` likely also has good easy tasks.

[2016-08-29 07:49] Ms2ger commented on #13080
We should perhaps make our build system more robust in that case.

[2016-08-29 08:37] jdm commented on #13082
This isn't appropriate for E-easy unless we also explain how to do the relevant scrolling as well.

[2016-08-29 09:05] nox opened #13105 "FormData shouldn't store datums in a HashMap"
The [spec](https://xhr.spec.whatwg.org/#concept-formdata-entry) says:

So we can't use a data type that doesn't preserve order. Instead we should just use a `Vec<(Atom, FormDatum)>`.

[2016-08-29 09:13] paulrouget commented on #13082
You're right. I thought that'd be an easy one, but it doesn't appear to be that straight forward.

webrender [expects a delta](https://github.com/servo/webrender_traits/blob/4d5036748208733dbdad43b7faec27ccccbce9a6/src/api.rs#L180) (`Point2D<f32>`). Do we want to change that to:

[code]

Does it make sense?

Or do we want to pass `f32::INFINITY` and `f32::NEG_INFINITY` ?

[2016-08-29 09:44] zeusintuivo commented on #6158
For better instructions on how to compile in Ubuntu 14.04.04 32 and 64 bits as well as Widows 7 32 and 64 bits see https://github.com/servo/servo/issues/12356

[2016-08-29 14:07] wdv4758h commented on #12281
I try it with master (9e726b4d83fc169c38f176b9958cfb1b66363e8f), built in release mode.
I can see the largest image (1504x1880) most of the time (sometime the page don't jump to the image).

running commands:
* `./servo "https://commons.wikimedia.org/wiki/File:Tyto_alba_-British_Wildlife_Centre,_Surrey,_England-8a_(1).jpg"`
* `./servo -w "https://commons.wikimedia.org/wiki/File:Tyto_alba_-British_

[2016-08-29 14:46] #12690 closed

[2016-08-29 17:33] fitzgen commented on #13103
Right now, we only have tracing data, no sampling, so call trees aren't really an option.

We do have https://github.com/servo/servo/wiki/Profiling#generating-timelines, FWIW.

[2016-08-29 18:11] #12320 closed

[2016-08-29 20:21] mstange opened #13109 "overflow:hidden clip should only be applied to containing block descendants"
On https://bug1174512.bmoattachments.org/attachment.cgi?id=8622646 the text should not be clipped to the grey box. The position:fixed element should not be subject to the overflow:hidden clip because the element that has overflow:hidden is not a containing block of the position:fixed element.

cc @pcwalton @jrmuizel

[2016-08-29 20:57] KiChjang opened #13111 "Implement HTMLOptionElement#form"
Spec: https://html.spec.whatwg.org/multipage/forms.html#dom-option-form
Files: `components/script/dom/htmloptionelement.rs`, `components/script/dom/webidls/HTMLOptionElement.webidl`
Test: None yet; will need to write one located in `tests/wpt/web-platform-tests/html/semantics/forms/the-option-element/`

[2016-08-29 20:57] highfive commented on #13111
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-29 20:58] splav commented on #13111
May I take this?

[2016-08-29 21:05] KiChjang commented on #13111
Yes, definitely!

[2016-08-29 21:59] gaby2300 commented on #12125
@metajack Please disregard the last part of my earlier post! There is a Sevo Tech Demo folder. It contains the servo.exe file and the browserhtml folder which has a index.html file, and 2 folders components and css
BTW, I run servo.exe again. This time I got a light grey window for a few seconds, then it displayed a white one with a lot of Servo related info and links for a few seconds, then it we

[2016-08-29 22:44] edunham commented on #10636
@UK992 thanks for the reminder! Pushed new version to PyPI and wrote down how to do it this time, https://github.com/servo/servo/wiki/Infrastructure#tidy-on-pypi

[2016-08-30 01:53] shinglyu commented on #13103
Thanks for the info!

[2016-08-30 04:10] wdv4758h opened #13117 ""./mach clippy" doesn't work"
I'm finding commands to run [rust-clippy](https://github.com/Manishearth/rust-clippy), and I find out it is already integrated with `mach` (`./mach clippy`).
But when I'm trying to run it, it fails :cry:

error message :

[code]

![servo-clippy](https://cloud.githubusercontent.com/assets/2716047/18075779/9681dda4-6eaa-11e6-9701-9eb0d326dc76.png)

[2016-08-30 04:16] Manishearth commented on #13117
Huh, that seems like a breaking change in cargo

[2016-08-30 04:17] Manishearth commented on #13117
Does it work with `--features=plugins/clippy` instead of `--features=script/plugins/clippy` in devenv_commands.py?

[2016-08-30 04:31] wdv4758h opened #13118 "Add a "mach" option to only run Rust code checking"
Some people will use something like [cargo-check](https://github.com/rsolomo/cargo-check) to run correctness checking without the code translation. If one just want to make sure the Rust code won't make compiler angry, it should run faster.

To do this, we just need to pass `-Zno-trans` to rustc. So, I think we can add a `mach` option like `./mach build --check` to do this.

[2016-08-30 04:34] wdv4758h commented on #13117
Nope, another error:
[code]

[2016-08-30 04:52] glennw opened #13119 "Negative sized fonts propagate through to the renderer."
They should probably be discarded / handled much earlier than in the renderer.

[2016-08-30 04:52] glennw commented on #13119
cc @emilio

[2016-08-30 05:30] shinglyu commented on #12824
The containing block's block size failed to include an empty, cleared child block after a float child block. The height stopped growing at the float box's top border, thus breaking the `margin-collapse-027.htm`.

[2016-08-30 05:40] emilio commented on #13119
After a quick look it seems that the values harming were zero, but I found a bug in how we handle `calc()` that could legitimately cause this. Fixed in #13121

[2016-08-30 05:59] paulrouget commented on #13082
/cc @glennw

[2016-08-30 06:08] Manishearth commented on #13117
Filed https://github.com/rust-lang/cargo/issues/3058

This can be fixed by just making servo depend on plugins too; but I'd rather avoid that.

[2016-08-30 06:13] Manishearth commented on #13118
You'll also need to specify the package; `./mach build --check -p script` or whatever. `-Zno-trans` only works on the last crate in the tree.

[2016-08-30 07:51] zeusintuivo commented on #12674
If you don't I have an idea on making a bash-like script and put all the dev instructions on that script, or series of scripts. It should even get its own name. "servo bootstrap" perhaps ? or "servo prepare development environment" script ?

[2016-08-30 08:06] Wafflespeanut commented on #12674
Oh, don't mind me. I got side-tracked into something else. Feel free to work on this :)
And, I don't quite get what you have in mind. Can you explain a bit more?

[2016-08-30 08:15] zeusintuivo commented on #12674
Well, something where you can hit download the clone, then write:
"servo_prepare_development_enviroment.sh," wing wing, perhaps.  Then this will run all the apt-gets or dnfs or downloads necessary to prepare the computer, by identifying each system, roughly. Then, it could have another folder where recipes could be added a folder called a recipe, similar to brew, called what it, whatever. What doe

[2016-08-30 10:21] paulrouget opened #13123 "reloading a page should not create a new pipeline"
If I'm not mistaken, reloading a page creates a new pipeline, and I don't think it should.
I'm not sure. But at least it should not create a new history entry when `reload()` is called.

Today it's possible to load a page, reload it, a do `iframe.goBack()`.

So either re-use the pipeline or drop the old pipeline.

[2016-08-30 10:27] Manishearth opened #13124 "Implement Navigator.cookieEnabled"
You'll need to copy the NavigatorCookies implementation from https://html.spec.whatwg.org/multipage/webappapis.html#navigator and interface from https://html.spec.whatwg.org/multipage/webappapis.html#navigatorcookies

I think this should return the result of running `is_cookie_averse` on the associated document object, but I'm not 100% sure.

 - spec: https://html.spec.whatwg.org/multipage/webappa

[2016-08-30 10:27] highfive commented on #13124
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-30 11:53] nox commented on #13096
@jdm How can it be caused by missing write barriers when we don't do incremental GC?

[2016-08-30 12:15] nox commented on #12979
@bzbarsky Did #13030 fix some slowness?

[2016-08-30 12:20] paulrouget commented on #13123
/cc @ConnorGBrewster

[2016-08-30 13:18] nox commented on #12979
[code]

:(

[2016-08-30 13:23] ofekd commented on #10209
@anholt As long as it's not significantly complicated I don't mind having to work some more. I didn't start working on this yet, but it looks like I need to change:

[code]
Unless it somehow hinders other efforts, I would continue working on `isEnabled`

[2016-08-30 13:33] highfive commented on #13118
cc @wafflespeanut

[2016-08-30 13:39] jdm commented on #13096
Pre write barriers are used for incremental GC, post write barriers are used for generational GC.

[2016-08-30 13:40] bzbarsky commented on #12979
It did fix some slowness, yes.  if you edit tests/html/bindings_perf.html to do a single "console" get sometime before `firstChild_getter` is called the first time, then everything is happy: we get about 0.3ns times every click.

With the "console" get happening for the first time at the end of the method, we still get a shape change on the global at that point due to `window.Console` getting defi

[2016-08-30 14:17] bzbarsky opened #13125 "We do a lot of testing of ineffective dependencies"
STEPS TO REPRODUCE with revision 8695552052074b0aacd764c28d2183f283e7b4fd:

1. `./mach build -d --debug-mozjs` (this last part may not be needed)
2. `./mach run -d tests/html/bindings_perf.html`

EXPECTED RESULTS: Load the page.

ACTUAL RESULTS: Load the page, then assert about "Testing a completely ineffective dependency?", then the content process crashes and the browser is in an unusable state.

[2016-08-30 14:19] bzbarsky commented on #13125
Note that I get this same assertion on the wikipedia front page too.

[2016-08-30 15:00] bzbarsky commented on #12979
OK, I looked at the latter issue at least.  The difference between Gecko and servo there is in fact console being a namespace.  This means that getting it does not seem to involve a shape guard or something (why, I dunno!).  So we do reshape the window, but don't end up with shape guard failures as a result, so don't trigger <https://bugzilla.mozilla.org/show_bug.cgi?id=1297604>.

If I modify IonB

[2016-08-30 15:14] metajack commented on #13123
@ms2ger do you have time to look at this?

[2016-08-30 15:27] ashrko619 commented on #13124
I'd like to work on this  :)

[2016-08-30 15:46] emilio opened #13127 "Run tests on automation with debug assertions enabled."
Or at least a subset of them

[2016-08-30 15:46] emilio commented on #13125
Stupid assertion added by me yesterday.

[2016-08-30 15:46] emilio commented on #13125
s/Stupid/too strict/

[2016-08-30 15:59] piaoger commented on #8968
thanks @campaul , I can build servo on my mac successfully by using your solution.

[2016-08-30 16:08] emilio commented on #13127
cc @larsbergstrom @aneeshusa, could this be possible?

[2016-08-30 17:33] Manishearth commented on #13117
Alright, turns out that functionality wasn't supposed to work.

In that case, we should add plugins as a dependency to `servo`, and give it a `clippy` feature that turns on `plugins/clippy`

[2016-08-30 18:03] KiChjang opened #13129 "Implement HTMLOptionsCollection"
In order to test for this new behaviour, HTMLSelectElement#{options, length} may be implemented at the same time, to ensure that we are getting a valid HTMLOptionsCollection.

Spec: https://html.spec.whatwg.org/multipage/infrastructure.html#htmloptionscollection
Files: `components/script/dom/htmloptionscollection.rs` (new), `components/script/dom/webidls/HTMLOptionsCollection.webidl` (new), `compo

[2016-08-30 18:04] highfive commented on #13129
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-30 18:18] #13125 closed

[2016-08-30 18:35] bholley commented on #12992
Sounds like we're rolling up the crates, so that hurdle is gone.

Even if it's not the intended purpose, it seems reasonable that the rust compiler should check for two conflicting definitions of the same external function in the same crate (and I believe it does so implicitly right now, via the LLVM assert). We should verify that this assert still triggers, and get the rust folks to turn that int

[2016-08-30 19:07] splav commented on #13129
Ok, taking this.

[2016-08-30 19:14] #13111 closed

[2016-08-30 21:02] emilio opened #13131 "A reflow for script query will sometimes supress needed for display reflows."
Reduced test case:

[code]

If you remove `container.firstChild.offsetTop`, then it'd work as expected.

I'm looking into this, though unfortunately doesn't seem easy to fix quickly, so I don't know how much time I can spend looking into this.

[2016-08-30 21:28] emilio commented on #13131
Actually it was easy to fix, I have a fix.

[2016-08-30 22:46] nox commented on #13096
Could it be that we don't have a post barrier after https://github.com/servo/servo/blob/1fcc447941b23fb54963f9590219387695e73cb6/components/script/dom/bindings/interface.rs#L242-L244?

[2016-08-30 22:59] glennw commented on #13082
Having an enum sounds good. The Start/End types should probably allow you to specify x and/or y direction though?

So perhaps something like:

[code]

and then:

[code]

Or something like that?

[2016-08-30 23:51] pcwalton commented on #13131
Just to be clear, the failure here is that the page is not painted.

[2016-08-30 23:58] emilio commented on #13131
Yeah, for the record, the page is not painted because the `Query` reflow suppressed the painting, and the next `ForDisplay` reflow was suppressed by script.

[2016-08-31 00:31] emilio opened #13133 "(Too many open files) Intermittent crash of /websockets/constructor/013.html"
First seen in https://github.com/servo/servo/pull/13113

[code]

[2016-08-31 02:56] #13131 closed

[2016-08-31 10:11] Ms2ger commented on #13124
I think this should just return true.

[2016-08-31 10:15] cynicaldevil commented on #12555
Sorry for the long delay in replying, I was facing some issues with my laptop.
@jdm I looked up the docs [here](http://doc.servo.org/script/dom/bindings/codegen/UnionTypes/index.html), `DOMStringOrObject`  doesn't exist. Wouldn't it be better to add support for `BlobOrString` by implementing the reqd. traits?

[2016-08-31 10:56] Ms2ger commented on #12555
The union type will be generated automatically when you use it in IDL.

[2016-08-31 12:15] jsnajdr opened #13137 "Console message packets should have a '_type' attribute"
**STR:**
1. Start Servo with the `--devtools` option - starts the devtools protocol server
2. Connect to Servo from Firefox WebIDE
3. After connecting, open Devtools for the listed tab
4. Open the Console tab

**Expected result:**
The console actor sends two testing messages in response to `getCachedMessages` packet. They should be both displayed in the console.

**Actual result:**
The messages ar

[2016-08-31 13:00] ashrko619 commented on #13124
Here-https://w3c.github.io/webappsec-suborigins/#cookies, cookie-averse does not necessarily mean cookies are disabled. So I too think that it should just return true.

[2016-08-31 13:37] ashrko619 commented on #13124
@Manishearth What should be done in the tests?
For now I have added the interface in the interfaces.html and have also removed the corresponding expected FAIL lines from interfaces.html.ini.

[2016-08-31 13:40] Manishearth commented on #13124
You shouldn't have to add the interface to interfaces.html (because it is NoInterfaceObject), just run it and remove the FAIL lines.

[2016-08-31 14:29] #13137 closed

[2016-08-31 14:39] samuknet opened #13139 "'transitionend' event"
Was wondering if this is currently implemented in Servo?

For example:

[code]

[2016-08-31 14:41] nox commented on #13139
https://github.com/servo/servo/pull/13056

[2016-08-31 14:43] samuknet commented on #13139
Oops! Duplicate #10245

[2016-08-31 14:43] #13139 closed

[2016-08-31 17:22] jrmuizel opened #13140 "Implement scrollbars"
Webrender in Gecko is going to need them so we should probably get them in Servo soonish.

[2016-08-31 17:24] #11527 closed

[2016-08-31 17:48] Yoric opened #13141 "OSError: [Errno 13] Permission denied: '/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/mach'"
After a few months away, I just pulled and now, I get the following when attempting to build

[code]

For some reason, `pip` seems to want to install (or use) mach in my `/opt/local`, which looks... weird.

I'm using MacOS X 10.11.6 + MacPorts.

[2016-08-31 18:05] emilio commented on #13140
I don't actually know the difficulty of this. If I recall correctly, from the layout side scrollbars in Gecko are a kind of anonymous content created by a wrapper frame, that then use the native toolkit (GTK, etc) for painting, right?

I don't think Servo has any infra for doing something similar right now, so my intuition is that the amount of work this is going to require is huge.

[2016-08-31 18:09] metajack commented on #13140
Scrollbars aren't stylable are they? The plan for this was to do overlay scrollbars like OS X/iOS so that scrollbars dont' affect content width. Those could just be drawn in the compositor.

[2016-08-31 18:27] highfive commented on #13133
cc @aneeshusa

[2016-08-31 18:53] Coder206 commented on #12886
@emilio So just fixing #12758?

[2016-08-31 20:24] Permutatrix opened #13142 "An element with display: inline-block will cause a containing span's border to be cut off."
While trying to decipher the CSS specification with regard to #12939, I created a document that looked something like this to see how Firefox and Chromium would interpret it:

[code]

...which is rendered by Firefox like this:
![Firefox's correct rendering](https://cloud.githubusercontent.com/assets/13004953/18144923/fc5baf96-6f7d-11e6-9b12-8108fb7c969b.png)

...by Chromium like this:
![Chromium's

[2016-08-31 20:26] lemmabit opened #13143 "Text inside of an element with display: inline-block should flow with text outside of it."
[code]

Firefox:
![Firefox's correct rendering](https://cloud.githubusercontent.com/assets/13004953/18143884/e9c35f46-6f78-11e6-8bdc-0b2b6b887dde.png)

Chromium:
![Chromium's correct rendering](https://cloud.githubusercontent.com/assets/13004953/18143918/0cf9e30e-6f79-11e6-9ec8-3fac9bdee273.png)

Servo:
![Servo's incorrect rendering](https://cloud.githubusercontent.com/assets/13004953/18143922/12b

[2016-08-31 20:44] ConnorGBrewster commented on #13123
It looks like we just need a method to replace the `Frame`'s current entry with the new `Pipeline` after the page is loaded again. https://html.spec.whatwg.org/multipage/browsers.html#entry-update

@Ms2ger I could take this one if needed

[2016-08-31 21:18] jeenalee opened #13144 "Implement OpenEndedDictionary"
A good portion of web platform tests for `dom::headers`, `dom::request`, and `dom::response` are failing due to missing OpenEndedDictionary implementation.

These failing tests throw the message, `(some) dict is not iterable`.

OpenEndedDictionary is a future IDL construct, and there is an ongoing discussion about it [here](https://github.com/whatwg/fetch/issues/164).

[2016-08-31 23:56] emilio commented on #13140
@metajack: Well, in servo they surely are, you have this appeareance thing and yes, you can style them. I don't know if we want to move that way though.

[2016-09-01 00:53] aneeshusa commented on #13133
Hmm, we have been configuring increased limits for system-wide/per-process fds since https://github.com/servo/saltfs/commit/51fba645935c284b28b3ef72e797992b53914492 in the [`sysctl.conf`](https://github.com/servo/saltfs/blob/654e20615a1b7220ab3983bdda2035663976a220/osx/files/sysctl.conf) file, which currently has:
[code]
And [we currently set the ulimit](https://github.com/servo/saltfs/blob/654e20

[2016-09-01 02:47] hsinewu commented on #13021
@jdm I don't understand what you mean by 'self-hosted', would you clarify it for me?

I assume, by iterable it means it has forEach, vlalues, entries, keys methods, but there were not in my experiment, which means either

1. Have to `use dom::bindings::iterable::Iterable;` and impls.
2. Missing some `use dom::bindings::codegen::Bindings::`

Is this the right way to do it?

Also, would you take a l

[2016-09-01 04:26] glennw opened #13149 "Frame tree contains iframes that are hidden / not visible."
This is not necessarily a bug - I'm opening this to discuss a solution to the problem below:

**The symptom:**
Several iframe reftests are intermittently failing. When testing against webrender, these _always_ fail.

**The problem:**
When running reftests, the compositor asks WR "what is the last epoch you rendered on screen for this pipeline id"? If that matches the epoch of the pipeline in the c

[2016-09-01 04:28] glennw commented on #13149
cc @asajeffrey  @larsbergstrom @jdm @metajack @Ms2ger

[2016-09-01 04:38] glennw commented on #13149
Hmmm, this is tricky. I can imagine a situation where an iframe is created, and hidden immediately by script. In this case, even if I do maintain a "last painted epoch" it's possible that the iframe will never actually get drawn, but it will exist in the frame tree.

I wonder if there is a way to safely detect that the output of an iframe would have been irrelevant to the final image (without mis-

[2016-09-01 08:34] Yoric commented on #13141
After some digging, replacing

[code]

with

[code]

seems to help.

I have pip 8.1.2.

[2016-09-01 08:45] est31 commented on #6711
Finally I could release my pure vorbis decoder: https://github.com/est31/lewton

[2016-09-01 09:00] RazvanRotari commented on #6711
Are there any plans to restart developing work on rust-media?

[2016-09-01 09:48] Wafflespeanut commented on #13141
While bootstrapping, we're currently [following an order](https://github.com/servo/servo/blob/3bc2a5632a48282154102ec115afeb339a1e3ff1/python/mach_bootstrap.py#L95-L98) to find the executables, and we break once we find a path. This is wrong, because if the first executable is found in other paths in the system, then we'll be using it, instead of the one that comes with `virtualenv`. In @Yoric's c

[2016-09-01 09:51] paulrouget opened #13150 "How will in page links be handled by joint_session?"
I'm talking about: `<a href="#foo"> … <h1 id="foo">`

As for now, each history entry has its own pipeline. But when we will support anchors, the previous history entry might be the same document. Pressing back will not switch to the previous pipeline, but keep the same pipeline and scroll.

I'd just like to know, more or less, what will change at the constellation level. Will we just keep the `Fra

[2016-09-01 11:22] #13124 closed

[2016-09-01 12:50] #13141 closed

[2016-09-01 13:04] Ms2ger opened #13152 "Dispatch error events when event handler attributes fail to compile."
I'm not currently doing that because of double borrows in `html/webappapis/scripting/processing-model-2/runtime-error-in-body-onerror.html`.

We should also make sure to pass `tests/wpt/web-platform-tests/html/webappapis/scripting/events/invalid-uncompiled-raw-handler-compiled-late.html`; I believe that we'll need to change the timing of compilation for that.

[2016-09-01 13:06] jdm commented on #13021
Here, 'self-hosted' means that a custom implementation of `forEach`, `values`, etc. for `NodeList` isn't necessary and we delegate to SpiderMonkey's default instead: https://github.com/servo/mozjs/blob/master/mozjs/js/src/builtin/Array.js#L228

[2016-09-01 13:06] Ms2ger commented on #13152
Should also write tests that add/remove event listeners from the error event handler.

[2016-09-01 13:18] jdm commented on #13021
@hsinewu I added the `iterable<Node?>` line to `NodeList.webidl`, recompiled, then loaded this HTML file:
[code]
Every line printed `true` for me, so I'm not sure why your NodeList isn't working...

[2016-09-01 13:44] Ms2ger opened #13153 "JsTimerTask::invoke should pass the file name to the JS engine"
This causes the file name to be the empty string when reporting any errors from compiling timeout/interval string arguments.

[2016-09-01 13:47] dati91 opened #13154 "Android build fails"
The current android build is failing with the following issues:
- [x] libfontconfig error
- [x] android_start! macro
- [x] backtrace
- [x] linker error 1
- [x] linker error 2

_The libfontconfig error_

[code]

This will be solved with `servo-fontconfig-sys-4.0.2`. Fixed with [this](https://github.com/servo/libfontconfig/commit/6beaba4d6bafaef09a350af84a7c3dd9b7b82fff).

_The `android_start!` macr

[2016-09-01 13:48] Ms2ger opened #13155 "Review if we should report compilation failures from setInterval more than once"
[code]
currently reports the error every ten ms.

Review what the spec says and what browsers do, and write tests.

[2016-09-01 14:07] cynicaldevil commented on #12555
I am getting an assertion error in implementing the `DOMString or object` type. The error occurs [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L4006) according to the backtrace.

[2016-09-01 16:00] Ms2ger commented on #12555
That just means "not yet implemented". You could try to implement it; otherwise I'll try to look at it next week.

[2016-09-01 16:01] Ms2ger opened #13158 "Implement error reporting for workers"

[2016-09-01 16:40] cynicaldevil commented on #12555
@Ms2ger I want to try it. Could you give me some advice/tips to help me?

[2016-09-01 17:04] paulrouget commented on #13150
Same question about the [History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API).

[2016-09-01 17:17] ConnorGBrewster commented on #13150
Yes, the `FrameState` will hold information about the `scroll_position` or the fragment it should scroll to. It will also store some information about the state for the entry in the `BrowsingContext`; however, that is a bit more complex as the `state` has to be stored in its script thread, but as far as the constellation is concerned, we will just add fields to `FrameState` to track fragments/stat

[2016-09-01 19:23] jeenalee commented on #11894
So far, the Headers and Request APIs have been mostly implemented. Some web platform tests for these APIs fail:
- `fetch/api/headers`:
    - `FAIL`: 15 subtests
      * [ ] 13 are related to missing OpenEndedDictionary (#13144)
      * [ ] 2 are blocked by external (#13004)
    - `TIMEOUT`: 1 test
      * [ ] `fetch/api/headers/headers-idl.html`

- `fetch/api/request`:
    - `FAIL`: 11 subtests

[2016-09-01 20:03] #13083 closed

[2016-09-01 20:52] brion commented on #6711
I would be interested in helping out with rust-media and Servo but will have to onboard myself grokking rust. I've done a partial reimplementation of HTMLVideoElement in JS https://github.com/brion/ogv.js so why not one more in a more low level language. :)

Linking to C codec libraries should work fine and -- though I'd love native rust implementations too those can be a lot of work to make and d

[2016-09-01 20:59] metajack commented on #13149
It seems like the only reason to want invisible frames in the compositor frame tree is so minimize mutation when visibility is being toggled often. Or is there some other use case I'm missing?

It seems slightly weird to me that the compositor would need any knowledge of invisible content. So I think I'd prefer your alternative solution, but without understanding the issues better it's hard to hav

[2016-09-01 22:38] #12958 closed

[2016-09-01 23:00] jdm commented on #13144
Gecko's solution to this is the `MozMap` type (https://dxr.mozilla.org/mozilla-central/source/dom/webidl/Headers.webidl?q=path%3Aheaders.webidl&redirect_type=single#11).

[2016-09-02 02:21] hsinewu commented on #13021
@jdm Fail to reproduce the problem, I might have been messed up with the build.
It looks well now, thanks for your help :)

[2016-09-02 04:06] pcwalton commented on #13149
Could layout just notify the compositor of iframe visibility state?

[2016-09-02 07:23] Ms2ger opened #13161 "Report errors to devtools"

[2016-09-02 07:23] highfive commented on #13161
cc @fitzgen

[2016-09-02 07:53] Ms2ger commented on #12555
Start out by removing the assertion you hit, and add the `type.isObject()` case to the if-else chain right above that. `name` should be `Object` and `typeName` should be `*mut JSObject`. With a bit of luck, we'll generate (mostly) working code with that change.

[2016-09-02 08:33] Ms2ger commented on #12964
@vvuk helloooooooooooooooo anybody there?

[2016-09-02 12:17] canaltinova opened #13162 "Add support for parsing and serialization of <single-transition>"
Specs: https://drafts.csswg.org/css-transitions/#transition-shorthand-property
MDN page: https://developer.mozilla.org/en-US/docs/Web/CSS/transition
The transition CSS property is a shorthand property for transition-property, transition-duration, transition-timing-function, and transition-delay.
As specified at the specs, we need to parse and serialize transition property. To do this, we should cr

[2016-09-02 12:30] Manishearth commented on #13162
You can move intermediate types out of the longhands code into `values/*/transition.rs` if you need. That's what values/ is _for_, intermediate types.

That's the transition property, which is a vector of single-transitions. We're not implementing that, because if we were to implement that we'd have to handle the stylo glue or the servo layout code.

Right now we'll only add single-transition to t

[2016-09-02 12:31] samuknet opened #13164 "Image not loading"
Servo can't load [this image](https://samuknet.github.io/test_cases/imageNotLoading/brokenImage.jpeg).  When included in a webpage, the image does not display and the error event is being fired on the 'img' element.

What is it about this image that means Servo can't load it? It works in FF/Chrome.

This [test page](https://samuknet.github.io/test_cases/imageNotLoading/) shows this image not loadi

[2016-09-02 12:38] Manishearth commented on #13162
Btw, spec is at https://drafts.csswg.org/css-transitions/#transition-shorthand-property, the MDN page is just developer documentation. The spec may be more nuanced regarding serialization.

[2016-09-02 12:43] Manishearth commented on #13162
Uh, I was wrong, for some reason I thought that `transition` was a longhand. It's a shorthand, and we already implement it.

Do you want to try `mask` instead?

[2016-09-02 12:43] #13162 closed

[2016-09-02 12:44] canaltinova commented on #13162
Sure, I can try :)

[2016-09-02 13:02] kaksmet commented on #13164
That jpeg is using a chroma subsampling ratio currently not supported by the jpeg-decoder crate (which servo uses to decode jpegs). I filed an [issue](https://github.com/kaksmet/jpeg-decoder/issues/48) for this in jpeg-decoder.

[2016-09-02 13:24] codec-abc commented on #12125
Hi I tried to run the installer on Windows 10. The installer stop without any message. At this stage, is the installer expected to install servo correctly on Windows 10 (even it the program may have some problems at runtime). By the way is it possible to have a zip version ?

And, is it too soon to update the servo web page to include a link to the windows installer ?

[2016-09-02 13:35] metajack commented on #12125
As far as I can tell that is how MSI installation works. It installs and then disappears. You should check your start menu and see if it is in there. It should be Mozilla Research->Servo Tech Demo.

@larsbergstrom is there something I'm missing in the installer setup that would cause it to inform people that it finished successfully? Maybe I'm just not used to windows, but I also found this behavi

[2016-09-02 13:40] larsbergstrom commented on #12125
@metajack I think we need to add exitdlg.wxs to our `candle.exe` invocation, as here:
https://github.com/torakiki/pdfsam/blob/735703794d1b6274896620f1623cfdfb96ae3651/pdfsam-msi-installer/src/Build.cmd#L13

IIRC individual dialog [steps](http://wixtoolset.org/documentation/manual/v3/wixui/dialog_reference/wixui_dialogs.html) are only added to the steps if they are included in the build steps. I ca

[2016-09-02 13:54] codec-abc commented on #12125
@metajack @larsbergstrom  Usually the installer let you select the directory where you want to install the software. And generally, they have a checkbox at the end of the installation process to know if you want to run the software right ahead.

[2016-09-02 14:03] aneeshusa commented on #13154
Thanks for the detective work! I think we can get rid of `$LDFLAGS` entirely but I'm not sure, see #12562.

[2016-09-02 15:11] gpoesia commented on #12748
I could reproduce it and will take a look.

[2016-09-02 18:28] mykmelez commented on #7379
Although I'm not sure how you know that I know that, it is indeed true that the more I've dug into the task, the more I realize that while there are parts of Electron that are portable, there are other parts that need significant modification to work well with Gecko.

In particular, the &lt;webview> implementation assumes the Chromium process model, which is quite different from the Gecko one. I'v

[2016-09-02 21:29] emilio opened #13165 "Intermittent failure of /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/build/build_001_to_008.html and /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/build/build_009_to_016.html"
First seen in #13159.

[2016-09-03 01:11] notriddle commented on #13140
I wonder how many layouts would break if the width of the scrollbars changed?

[2016-09-03 03:23] samlh opened #13166 "Github issue & pull request lists are squashed to the left"
![image](https://cloud.githubusercontent.com/assets/118173/18222378/fbfae5ca-714a-11e6-89ee-4b852f57364c.png)

[2016-09-03 03:47] jdm commented on #13165
[code]

[2016-09-03 06:19] aethanyc commented on #13080
Specifically, `mk_add_options MOZ_OBJDIR=@TOPSRCDIR@/obj-firefox` in the my MOZCONFIG file causes the build failure.

[2016-09-03 07:52] paulrouget commented on #10162
Things changed quite a lot since.

[2016-09-03 07:52] #10162 closed

[2016-09-03 14:50] SaschaNaz opened #13168 "Bad font display on Windows"
![image](https://cloud.githubusercontent.com/assets/3396686/18225577/d6c367d2-7230-11e6-8cf4-a52baf4fdcff.png)

Korean characters are 'encrypted' on Windows. The page in this screenshot is [Daum](http://daum.net/).

[2016-09-03 15:49] BladeMight commented on #12125
Just [downloaded](https://download.servo.org/nightly/windows/servo-latest.msi) and installed. Running *servo.exe* starts http://servo.org page, so in cmd i do so:
[code]
to run browser.html
First what i noticed:

1. HIGH CPU usage, never been less than ~60%.
2. Memory: Startup(browser.html): [180 MB], any oppened page: [+120-220 MB] => ~300-500 in total.
3. My video driver crashed(i had to shutdow

[2016-09-03 17:22] sdaugherty opened #13169 "assertion failed: self.get_pending_parsing_blocking_script().is_none() || script.is_none()"
Error while attempting to load www.youtube.com on a freshly installed servo nightly.

[2016-09-04 01:06] gaby2300 commented on #12125
I tried running servo.exe again today, I got the same kind of windows as before.

Then I tried via cmd and I got a html browser. It didn't' work very well. It was extremely slow, even typing,  sometimes the sites disappeared when I minimize it, others they didn't.
Site's links didn't work: I tried www.lanacion.com. When clicking on a link nothing happened, nor the pointer turned in to the usual ha

[2016-09-04 01:41] gaby2300 commented on #12125
I finally managed to browse to one of the above's site link. I couldn't scroll up/down though because there were no scroll bars in the window.

[2016-09-04 05:02] notriddle commented on #13142
Duplicate of #7681?

[2016-09-04 05:54] Permutatrix commented on #13142
@notriddle That seems likely. I didn't check for duplicates because I wasn't sure how and figured someone else would catch it, like you just did. I hope that was proper etiquette.

[2016-09-04 06:01] Wafflespeanut commented on #13165
Also,

    ▶ ERROR [expected OK] /webgl/conformance-1.0.3/conformance/ogles/GL/build/build_009_to_016.html
    └   → gl.getProgramInfoLog is not a function

[2016-09-04 06:04] Permutatrix commented on #13142
@notriddle I removed the `is_primary_fragment` condition you mentioned in [this comment](https://github.com/servo/servo/issues/7681#issuecomment-205511149) on that issue. It now renders the right half of the border, but it's much too large and disconnected from the left half:
![sr](https://cloud.githubusercontent.com/assets/13004953/18229340/ad0e1a14-722a-11e6-8a9a-5a9c95bcf809.png)

This seems to

[2016-09-04 20:05] highfive commented on #13117
cc @wafflespeanut

[2016-09-05 00:27] notriddle commented on #13166
Minimal test case:

[code]

![firefox-with-minimal-case](https://cloud.githubusercontent.com/assets/1593513/18234806/d3356f40-72c4-11e6-9b95-0aa440259074.png)
![servo-with-minimal-case](https://cloud.githubusercontent.com/assets/1593513/18234807/d79e101e-72c4-11e6-977f-0a3c1d68204d.png)

[2016-09-05 11:21] NekR commented on #7458
Sometime ago I heard that SharedWorkers are deprecated. Right ServiceWorker spec team considers using SharedWorkers inside ServiceWorker for heavy tasks / shared memory.

So you may still need SharedWorkers again some day.

[2016-09-05 15:42] #13021 closed

[2016-09-05 21:14] cynicaldevil commented on #12555
I have run into a little hurdle in the codegen part. I have to import `JSObject` in `Uniontypes.rs` to use it for the `Object` type, and I know that the `Uniontypes.rs` file is generated from [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L6905), but I cannot figure out how to add the `use` statement for `JSObject` to it.

[2016-09-05 21:34] jdm commented on #12555
Add an entry to the `imports` list inside the `UnionTypes` method.

[2016-09-05 21:42] cynicaldevil commented on #12555
@jdm That's what I thought first, but then I opened the auto-generated `UnionTypes.rs` file and saw that it contained many other imports too, so I thought it had something to do with the `getDescriptors()` or `getDictionaries()` method.

[2016-09-05 21:42] gaby2300 commented on #12125
Yesterday I tried running servo.exe again. I got the same as before.

Then I tried via cmd and I got an html browser. It was extremely slow even for typing. I could just browse  one site at a time, there was no way to open 2 or more tabs. The site's links didn't work, I couldn't scroll them up/down because there were no scroll bars.

[2016-09-06 03:57] emilio commented on #13127
This is becoming an increasing priority as we implement parts of CSSOM, like https://github.com/servo/servo/pull/13176, where we **need** to check that the property declarations are accessed from where we think they're accessed, but that check can't be a release assertion (since it'd be basically a TLS lookup in extremely hot paths).

cc @SimonSapin @bholley

[2016-09-06 04:57] SimonSapin opened #13177 "DOMRefCell is not Sync, but accessible from multiple threads"
`DOMRefCell` wraps a `RefCell` whose `borrow` and `borrow_mut` methods rely on a fly/counter which is accessed and modified without synchronization. As a result, `RefCell` is not `Sync`: it is not thread-safe to have `&RefCell<T>` references to the same refcell from multiple threads.

Yet, in Servo’s DOM, we do have references accessible from multiple threads during styling and flow construction.

[2016-09-06 05:29] paulrouget commented on #13150
Thanks. That's all I wanted to know.

[2016-09-06 05:29] #13150 closed

[2016-09-06 06:36] SimonSapin commented on #13127
#13177 discusses some of these `debug_assert!`

[2016-09-06 15:05] larsbergstrom commented on #12964
So the lines that are failing are here:
https://github.com/servo/servo/blob/master/etc/ci/upload_docs.sh#L23-L25

Do you want those lines removed from the upload_docs stuff? Or is the idea that you want us to bring back the makefile.cargo (https://github.com/servo/servo/blob/fc7053e030999ed118c9cf2cac0835286d6dde06/components/script/makefile.cargo ) with just the `doc` target?If the

[2016-09-06 15:34] Ms2ger commented on #12964
I have no idea what that code is trying to do.

[2016-09-06 15:50] emilio commented on #13165
All these `gl.whatever` is not a function make me think that this might be related to the latest changes in object prototypes that have been introduced. The WebGL tests use `eval()` exhaustively, and I'm wondering if something like https://github.com/servo/servo/pull/13017 could be the root cause.

cc @nox

[2016-09-06 18:17] larsbergstrom commented on #12964
git blame says that it was originally written by @jdm : https://github.com/servo/servo/commit/3c2435a172b1b11335b34a9071e6530514aaca46

[2016-09-06 20:58] jdm commented on #12964
Porting that make target to python would be the most sensible choice.

[2016-09-06 21:37] Gozala commented on #6226
For browser.html and more specifically browserhtml/browserhtml#842 we need swipe events as we drive animation by physical input. Although I think it knowing what kind of gesture is used for swiping between pages would be really helpful.

I also remember @gordonbender pitching idea of providing [pointer events](https://www.w3.org/TR/pointerevents/#pointerevent-interface) for touchpads which I think

[2016-09-07 04:49] paulrouget opened #13191 "The pipeline visibility logic is wrong"
By visibility, I'm talking about `pipeline.visible`, introduced in #10225.

The way it works today is:
- if iframe.setVisibility() is called, all the inner *current* pipelines are updated
- if a new inner pipeline is created, its visible property is inherited from its parent

This is wrong. This breaks if current pipeline is updated. It should work that way:
- if iframe.setVisibility() is called,

[2016-09-07 04:54] paulrouget commented on #13191
/cc @jmr0

[2016-09-07 04:56] paulrouget commented on #13191
STR:

- load a page
- rAF runs
- call `iframe.setVisiblity(false)`
- rAF frozen (good)
- click on a link
- rAF runs (wrong)

[2016-09-07 09:10] samuknet commented on #13082
Once we have decided these `ScrollRequest` details, would this be something I could potentially work on?  Thanks!

[2016-09-07 09:14] Ms2ger opened #13195 "Implement muted errors"
https://html.spec.whatwg.org/multipage/#muted-errors

[2016-09-07 09:16] Ms2ger opened #13196 "Return an enum instead of a boolean from dispatch_event"
Perhaps `enum { Canceled, NotCanceled }`.

[2016-09-07 11:44] jmr0 commented on #13191
This makes sense - basically we want pages to behave according to the visibility of the iframe when we navigate to them? Happy to take a look at this.

[2016-09-07 12:00] paulrouget commented on #13191
Yes.

Thank you! Let me know if you need any help.

[2016-09-07 13:04] samuknet opened #13197 "HTML Image Map"
Image maps with the `<map>` and `<area>` tags are not currently implemented - this is something listed in the remaining work wiki doc.

Online test case [here](https://samuknet.github.io/test_cases/imageMap/).

[2016-09-07 15:30] aneeshusa commented on #12283
The previous PR (#12347) stalled, so this is again open to contributors.

[2016-09-07 16:20] jdm commented on #12654
@Ms2ger You mentioned on IRC once that you had talked to JSAPI people about this; could you add the results of those discussions here?

[2016-09-07 16:31] emilio commented on #13165
Gah, turns out I shouldn't look at these issues by night, and those are actually unimplemented functions... I'll investigate more when I have the time.

[2016-09-07 19:42] MortimerGoro commented on #10209
I'll be working on implementing validateProgram and getProgramInfoLog

[2016-09-07 20:06] gpoesia commented on #12748
I've reduced the Wikipedia page to this small fragment, which shows the same bug:

[code]

<img src="https://dl.dropboxusercontent.com/u/10962672/Screenshots%20Servo/table_margin_overflow.png"/>

It seems that the table's margin is not actually constraining its inline size based on its parent's inline size. I'll return to this issue soon.

[2016-09-07 20:30] KiChjang opened #13199 "Implement WebGLRenderingContext::{validateProgram, getProgramInfoLog}"
Part of #10209.

Assigned to @MortimerGoro.

[2016-09-07 21:31] larsbergstrom commented on #13127
The only real issues that I see with running another configuration are:
1) cost (not a huge deal)
2) increased intermittents (a huge deal)

That said, I'm definitely open to it! If we did this, I'd also like to turn on integer overflow checking by default, too. That's something I'd love to see us *shipping*, and this would be a nice way to start it.

cc @edunham, too

[2016-09-07 23:41] jdm commented on #13019
@yoyo930021 Are you still working on this?

[2016-09-08 03:20] paulrouget commented on #13082
We should do what Glenn is suggesting.

Go for it. Thank you!

I'm not sure how much I can help here, but feel free to ask questions.

[2016-09-08 04:06] aneeshusa commented on #13127
The `linux-dev` builder is already running [some tests](https://github.com/servo/saltfs/blob/654e20615a1b7220ab3983bdda2035663976a220/buildbot/master/files/config/steps.yml#L40); which tests specifically need to be added? Feel free to submit a PR to that file in saltfs.

If we're worried about intermittents, we may want to try it not-gating at first and see how bad it is before gating.

[2016-09-08 04:22] vvuk commented on #12917
No need to use msvc branch -- it should be deleted.  The master branch has support for msvc.  You need an environment set up; this will soon be bootstrapped, but in the meantime the bat file and zip files in http://people.mozilla.org/~vladimir/misc/servo/ will provide some hints (call the bat file with "call", since it needs to modify your environment).  Better instructions are forthcoming.

[2016-09-08 06:55] yoyo930021 commented on #13019
I dont know how to do this.
for only one value.

[2016-09-08 07:17] glennw commented on #13140
Proof of concept here - https://github.com/servo/webrender/pull/397

[2016-09-08 08:17] ferdypruis commented on #10580
Is there a patch available for the bug itself?

[2016-09-08 12:02] Ms2ger commented on #12654
[code]

I don't think anybody looked any deeper than that.

[2016-09-08 13:51] larsbergstrom commented on #13154
I am working on this.

[2016-09-08 14:06] jdm commented on #13019
@yoyo930021 Did the original instructions I presented not work?

[2016-09-08 14:08] jdm commented on #10580
Most recent attempt to solve this in #11219, which had some comments that needed addressing in https://github.com/servo/servo/pull/11219#issuecomment-223318881.

[2016-09-08 14:19] samuknet commented on #13082
Ok this sounds good.  Should the `ScrollRequest` struct also contain a `phase` field of type `TouchEventType`? From what I can see from the code, this would make sense.

I was wondering where is the code that calls WebRenders [`fn scroll`](https://github.com/servo/webrender_traits/blob/4d5036748208733dbdad43b7faec27ccccbce9a6/src/api.rs#L180)?  My thinking is that  `fn scroll_window()` in `ports/g

[2016-09-08 14:52] jdm commented on #13096
[code]

[2016-09-08 19:25] Coder206 opened #13206 "Adding Documentation for MSVC"
In the light of #12916's completion, it's important to let the contributors know how to setup their Windows environments for Servo.

Files to modify: Anything with documentation (ie, README.md)

cc @larsbergstrom

[2016-09-08 19:53] #12914 closed

[2016-09-08 19:53] telotortium opened #13207 "Freeze when scrolling on Hacker News"
I downloaded the Linux Servo nightly today (Servo 0.0.1-5b0a199) and discovered a freeze when testing Hacker News. Specifically, I ran

[code]

to get the test home page, went to Hacker News, and then navigated to https://news.ycombinator.com/item?id=12454634, which was on the front page at the time. I then scrolled up and down the page for a while, clicking and trying (and failing, by the way) to

[2016-09-08 21:10] larsbergstrom commented on #13206
Thanks! I'm trying this out right now, and here's what I've got for some initial steps. I've only tried it on one non-clean Virtual Machine so far, though...

# Windows MSVC pre-setup
- Install Git for Windows (https://git-scm.com/download/win)
DO allow it to add git.exe to the PATH (default settings for the installer are fine)
- Install Visual Studio 2015 Community Edition (https://www.visualstud

[2016-09-08 21:30] frewsxcv opened #13209 "Crash when running Servo"
Seburo on IRC just tried to run Servo, but encountered this crash:

[code]

[2016-09-08 21:32] frewsxcv commented on #13209
This was their first time running Servo.

[2016-09-08 21:33] frewsxcv commented on #13209
From IRC:

[2016-09-08 22:15] genodeftest commented on #12726
Since #12729 states that FFmpeg is not going to be included, this bug can be closed.

[2016-09-08 22:37] #12726 closed

[2016-09-08 23:22] jdm commented on #13209
A crash under `CallSetup::new` via `GetGlobalForObjectCrossCompartment` is super weird. Maybe we're missing a compartment somewhere?

[2016-09-08 23:58] #12824 closed

[2016-09-09 04:17] #7412 closed

[2016-09-09 04:17] rjgoldsborough commented on #10580
I'll take a crack at this one, please

[2016-09-09 05:12] jdm commented on #10580
Please do! Ask questions about anything that's unclear!

[2016-09-09 07:00] #13166 closed

[2016-09-09 07:50] paulrouget commented on #13082
I think it makes sense.

Looks about right.

I'm not sure. Where ever there's an easy access to the page size. Which might be in WebRender.

@glennw ?

[2016-09-09 08:28] Boddlnagg commented on #13206
I'm trying this right now, but it's failing to compile `mozjs_sys`:
[code]

[2016-09-09 08:57] anisse commented on #12015
Why not simply bundle libssl ? This is a nightly, and software you shouldn't be running longer than a day without updating. Or am I missing something ?

[2016-09-09 09:03] retep998 commented on #13206
Note that it is not enough to simply have `python.exe` in my `PATH`, I also had to make sure the `scripts` folder was in my `PATH` so I could run pip to install virtualenv and for mach to see virtualenv.

Also I am disappointed that there is no `mach.ps`.

[2016-09-09 09:44] Boddlnagg commented on #13206
Selecting the "Add to PATH" option in the Python installer added both the Python installation's root directory and the `scripts` directory. I just needed to logoff and log in to Windows again for these changes to take effect.

[2016-09-09 09:45] #3311 closed

[2016-09-09 09:45] #13158 closed

[2016-09-09 10:19] retep998 commented on #13206
`Finished debug [unoptimized + debuginfo] target(s) in 2395.9 secs`

I guess it worked.

[2016-09-09 10:44] retep998 commented on #13206
Okay, after commenting out my `.cargo/config`, servo now actually runs, and then is totally useless. Loading any page does get the title, but the page itself is totally blank.
![](http://i.imgur.com/CfX6xPr.png)
Furthermore, it sits around eating up 2 CPU cores while doing absolutely nothing.
![](http://i.imgur.com/78WOIcp.png)
If I close servo, the process continues to run and starts eating up _a

[2016-09-09 10:46] Coder206 commented on #13206
@retep998 You need to specify a URL.

[2016-09-09 10:46] retep998 commented on #13206
@Coder206 I did `cmd /c mach.bat run -d http://www.purple.com`. Is that not enough?

[2016-09-09 10:47] Coder206 commented on #13206
@retep998 That should do it. I stand corrected mine is expecting like yours. Win 10?

[2016-09-09 10:48] UK992 commented on #13206
@retep998 I suspect this is because of dummy font settings in gfx.

[2016-09-09 10:50] retep998 commented on #13206
[code]
AMD Radeon R9 380 with up to date drivers with full OpenGL 4.5 support.

[2016-09-09 10:52] Coder206 commented on #13206
@retep998 Thanks, this seems to be a general Windows or perhaps just Windows 10 issue.

[2016-09-09 12:04] Boddlnagg commented on #13206
By looking at `makefile.cargo:98` in `mosjs-sys` I found the line
[code]
which is unfortunately never shown when building, because it ends up in stdout instead of stderr, so it won't be forwarded by cargo.

Setting `NATIVE_WIN32_PYTHON` then actually fixed the issue :smiley:
Now I'm also at the point where running servo shows an empty white window with the correct title, but nothing else. I'm runn

[2016-09-09 12:28] cynicaldevil commented on #12555
@jdm I looked at the UnionTypes method again; it is a bit different from the other ones as it has a recursive call, and I can't figure out how it works.

[2016-09-09 12:46] jdm commented on #12015
@anisse There's been a lot of discussion on that topic at https://groups.google.com/forum/#!topic/mozilla.dev.servo/3mfkRehXAo4 .

[2016-09-09 12:51] Diggsey commented on #12892
On windows, it does get capped at 60fps, but it feels more like ~15fps, and the movement is very jumpy.

[2016-09-09 12:59] Diggsey opened #13217 "Moire demo makes browser.html unresponsive"
Loading the moire demo from browser.html make the page completely unresponsive. No clicks or any other events are processed, and servo must be restarted.

I'm running windows 10, on a surface pro 4.

[2016-09-09 13:02] jdm commented on #12555
@cynicaldevil There's the static method which calls the non-static function called the same thing in the same file.

[2016-09-09 13:04] jdm commented on #8944
This hasn't been seen in months.

[2016-09-09 13:04] #8944 closed

[2016-09-09 13:04] jdm commented on #10300
This hasn't been seen in months.

[2016-09-09 13:04] #10300 closed

[2016-09-09 13:06] jdm commented on #10536
Hasn't been seen in month, not disabled => close.

[2016-09-09 13:06] #10536 closed

[2016-09-09 13:09] jdm commented on #10846
Haven't seen it for months, not disabled.

[2016-09-09 13:09] #10846 closed

[2016-09-09 13:10] jdm commented on #11212
Haven't seen for months, not disabled.

[2016-09-09 13:10] #11212 closed

[2016-09-09 13:39] jdm opened #13218 "Can't sign in to Slack"
https://irccloud.mozilla.com/file/6B4oF3ny/Screen+Shot+2016-09-09+at+09.57.55.png

It says "Unable to set cookie".

[2016-09-09 14:45] jdm commented on #13218
Relevant output from network:
* the initial 302 response contains a https://slack.com/checkcookie?redir=https%3A%2F%2Frgsoc-jam.slack.com%2F and a Set-Cookie with a `.slack.com` domain
* that cookie is included in the request to checkcookie

[2016-09-09 14:55] jdm commented on #13218
We're including the pre-request body in the redirected request, which is different than Firefox. However, I'm suspicious that the cookie value seen in Set-Cookie in Servo appears to be percent-encoded, while I don't see that happening in Firefox's network tool.

[2016-09-09 14:56] jdm commented on #13218
This may be related to https://github.com/alexcrichton/cookie-rs/issues/40.

[2016-09-09 15:58] jdm commented on #13218
Indeed, applying @retep998's patch to cookie-rs to remove all percent-decoding makes the Slack sign in work:
[code]
cc @paulrouget

[2016-09-09 16:59] larsbergstrom commented on #13206
Thanks, everybody! It looks like the instructions are correct (though need a fix for @Boddlnagg's issue, potentially) enough to put on the website.

That said, as @retep998 and @Coder206 have noticed and I can confirm, the MSVC build currently does not complete loading and is blank. We'll have to look into that :-)

[2016-09-09 17:38] jdm opened #13219 "Intermittent timeout in wpt harness"
[code]

[2016-09-09 19:18] Coder206 commented on #13206
@larsbergstrom I think I had issues with storage space on my VM. What are your thoughts (or anyone's) about adding a recommended disk space?

[2016-09-09 20:49] retep998 commented on #13206
With regards to disk space... for a simple dev build, with no tests, and no release build, and not counting space taken up in the cargo cache...
![](http://i.imgur.com/0rF0vc6.png)

[2016-09-09 21:06] Coder206 commented on #13206
@retep998 Thanks for doing this. I think this is why I had issues compiling (ie compiling "script" failed)

[2016-09-09 21:18] splav commented on #13129
Hello, sorry for this taking so much time. The beginning of September was very crazy for me, so I basically had no free to time for working on Servo at all. Now it's getting normal and I'm back on track.

[2016-09-09 21:38] larsbergstrom commented on #13206
Yeah, I think that a "low disk space warning" (as a separate issue) might be worthwhile. Right now, when we run out of space, the script build fails in a way that is both opaque and non-trivial to recover from - you typically have to do a clean build.

[2016-09-09 23:38] Blanen commented on #12283
I might actually be interested in this.

Question though, this issue is labeled python, but the PR you just mentioned changed rust parts. Also, you mention in that PR that you want error handling in certain Rust functions. Is this issue thus mislabeled as python? At the moment I'm only familiar with Python and not with Rust( Although interested in learning it)

[2016-09-10 00:58] #10605 closed

[2016-09-10 09:11] KiChjang commented on #12738
The nightly that we use currently has the new error format on by default. Should we close this?

[2016-09-10 12:04] rwakulszowa commented on #12125
Hello.

I've been testing Servo on Windows10 a few times, and here's what I saw:
- there seems to be a huge problem with handling mouse pointer - just moving the mouse consumes lots of CPU. Same goes with clicking the mouse. It happens every time, and - surprisingly - even on blank parts of the New Tab page, where there's literally nothing under the pointer.
_To reproduce: just touch your mouse._

[2016-09-10 13:46] #13010 closed

[2016-09-10 14:10] jdm commented on #12738
Yep.

[2016-09-10 14:10] #12738 closed

[2016-09-10 14:49] aneeshusa commented on #12283
@Blanen there are both Python and Rust parts to this issue. What's left to do:

- Python: check that json files have their keys in sorted order in `def check_json` in `python/tidy/servo_tidy/tidy.py`, and add a test for this as well
- Rust: check for duplicates (but not sorting) in `pub fn read_prefs_from_file` in `components/utils/prefs.rs`, with a new test as well

You're welcome to work on a PR

[2016-09-10 14:52] #12767 closed

[2016-09-10 15:00] nox commented on #12979
With console being a namespace:

[code]

Should we close this? :)

[2016-09-10 15:14] jdm commented on #12979
Seems like it!

[2016-09-10 15:14] #12979 closed

[2016-09-10 15:19] jdm commented on #10991
This is specifically referring to https://github.com/servo/servo/pull/10756/files#diff-60d01595cff328c165842fea9e4ccbc2R3211 - the TODO for using an `eliminatable` value that is passed in, rather than assuming false. `mayBeEliminatable` from Gecko's Codegen.py is relevant.

[2016-09-10 16:01] saneyuki opened #13222 "double click event should be handled natively in platform abstraction layer"
Follow up #13130

Handling "double click" by user input should be handled in glutin or other platform abstraction layers natively, and script crate should dispatch `dblclick` event directly from it.

[2016-09-10 19:15] KiChjang commented on #10671
Previous work (#11065) has stalled, this is open for anyone else to claim.

[2016-09-10 20:14] samlh opened #13223 "Github block quotes are too narrow"
![image](https://cloud.githubusercontent.com/assets/118173/18413117/23af246e-7754-11e6-887b-8d9f466d366f.png)

https://github.com/servo/servo/pull/12989#issuecomment-244847425

Interestingly, the blocks get narrower the further down the page they are.

[2016-09-11 06:17] carnoxen commented on #12125
hi, I tried to run servo Linux build by windows bash, but something is wrong...
`Failed to create window.: NoBackendAvailable(XOpenDisplayFailed) (thread main, at ../src/libcore/result.rs:783)`

[2016-09-11 06:25] SaschaNaz commented on #12125
@carnoxen Maybe you should have posted a new issue for that, but you may try this guide: http://windowsreport.com/linux-gui-windows-10-bash/

[2016-09-11 09:50] gitmansagu commented on #12125
Design is relly good. A lot of cpu usage. Slow startup. Do not eat a lot of ram.
Good work for now. I read that servo is made for 500 fps, but fps is low.
When using servo it automaticly close every 1 min.

[2016-09-11 12:17] Andy-Bell commented on #12379
@KiChjang Sorry, life has been a bit of a nightmare recently, and I keep running into issues with this now refusing to compile that I cannot currently work out. I think I definitely bit off more than I could chew when I accepted this, sorry for delaying it so much

[2016-09-11 17:49] Coder206 commented on #13206
@larsbergstrom Success on clean Windows 10 machine

[2016-09-11 18:42] Blanen commented on #12283
@aneeshusa Hey, thanks for the respone. I can probably do the python stuff next week some time. Then I'll just quietly start on the Rust stuff after that( so don't assign me to that yet).

Also, I looked into testing but it didn't mention this. What are the testing criteria or guidelines or standards?

[2016-09-11 19:04] KiChjang commented on #12095
Unassigning due to inactivity. This issue is open for grabs!

[2016-09-11 19:05] KiChjang commented on #9673
@g-k Are you still working on this?

[2016-09-11 19:08] KiChjang commented on #12799
@cynicaldevil Any problems so far? Any blockers, questions?

[2016-09-11 19:09] KiChjang commented on #12879
Closing due to https://github.com/servo/servo/pull/12882#issuecomment-242140190.

[2016-09-11 19:09] #12879 closed

[2016-09-11 19:09] KiChjang commented on #12913
@pathway27 Are you still working on this?

[2016-09-11 19:13] cynicaldevil commented on #12799
@KiChjang I'm sorry I completely forgot about this, I will take a look and get back if I have any questions in a day or two :)

[2016-09-11 19:30] g-k commented on #9673
No, I haven't looked at it in awhile.  Someone else can pick it up.

On Sun, Sep 11, 2016 at 3:05 PM, Keith Yeung <notifications@github.com>
wrote:

[2016-09-11 21:58] Coder206 commented on #12886
@emilio Could you please remove the C-Assigned tag to let someone else work on this. I am getting caught up in issues.

[2016-09-11 22:03] santagada commented on #12379
I was looking at this issue, and the problem appears to be that the names are reflecting the names in webidl files, shouldn't this stays as is to keep the mapping 1 to 1 to the webidl (and probably some web spec)?

[2016-09-11 22:11] santagada commented on #12283
This seems to be mislabeled, the missing part is the Rust duplicate checker and test. @Blanen if you are not taking this because it is rust can I take it?

[2016-09-11 22:11] KiChjang commented on #12379
In the case of reflecting names in WebIDL attributes, those should be kept as-is. But not all camel cased identifiers are because of WebIDL reflection. Those are the ones that require fixing.

[2016-09-11 22:13] izgzhen commented on #12379
Quite true, also, some WebIDL naming convention might *leak* to the other places, like what `typeString` does. That might be confusing in some cases.

[2016-09-11 22:35] santagada commented on #12379
Ok I can review the ones reported up (and what command should I use to get that list?) with the idl files and report the ones that really need change here for further review and then send PR's while I go around fixing them.

[2016-09-11 22:57] Coder206 commented on #12730
This seems to be corrected when running with MSVC

[2016-09-12 02:09] pathway27 commented on #12913
Sorry, some other obligations came up, please un-assign me.

[2016-09-12 07:38] Blanen commented on #12283
@santagada You can take the rust part. There's a little left in Python as @aneeshusa said.

[2016-09-12 07:56] glennw commented on #13082
Yes, I'd pass that through all the way to WR I think (which means declaring the type in webrender_traits).

[2016-09-12 08:39] Ms2ger opened #13231 "Remove support for UTF-16 in TextEncoder"
Blocks #5601.

The specification was changed. This should allow us to remove the `encoder` field of the `TextEncoder` struct.

* Spec: <https://encoding.spec.whatwg.org/#textencoder>.
* Code: `components/script/dom/textencoder.rs`, `components/script/dom/webidls/TextEncoder.webidl`.
* Test: `/encoding/textencoder-constructor-non-utf.html`, (possibly) `/encoding/idlharness.html`.

[2016-09-12 08:39] highfive commented on #13231
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-12 08:48] #12874 closed

[2016-09-12 09:02] Ms2ger opened #13232 "Missing support for ms932, koi8-ru encoding labels"
Blocks #5601.
- Spec: https://encoding.spec.whatwg.org/#names-and-labels.
- Test: `/encoding/textdecoder-labels.html`.

This was fixed in https://github.com/lifthrasiir/rust-encoding/commit/40717f559ee43466ed98f3cf700e194333743b45 for v0.3 (which is unfinished). Not sure if it's worth fixing in the 0.2 branch or if we should just wait for 0.3 to be finished.

CC @SimonSapin @lifthrasiir

[2016-09-12 09:14] Ms2ger opened #13233 "BOM should not be present in TextDecoder output"
Blocks #5601.

* Spec: <https://encoding.spec.whatwg.org/#concept-td-serialize>.
* Code: (probably) `components/script/dom/textdecoder.rs`.
* Test: `/encoding/textdecoder-byte-order-marks.html`.

[2016-09-12 09:15] Ms2ger opened #13234 "Implement streaming support for TextDecoder"
Blocks #5601.
- Spec: https://encoding.spec.whatwg.org/#dom-textdecoder-decode.
- Code: `components/script/dom/textdecoder.rs`, `components/script/dom/webidls/TextDecoder.webidl`.
- Test: `/encoding/textdecoder-fatal-streaming.html`, `/encoding/textdecoder-streaming.html`.

[2016-09-12 09:58] Manishearth opened #13235 "Implement parsing for mask shorthand"
I implemented all of the mask longhands in https://github.com/servo/servo/pull/13213. This means that we can parse things like `mask-image: url(foo)` or `mask-repeat: no-repeat`.

However, I deliberately left out the `mask` shorthand; so `mask: url(foo) no-repeat` doesn't work yet.

To make this work, we need to create a file `shorthands/mask.mako.rs` similar to https://github.com/servo/servo/blob

[2016-09-12 09:59] Manishearth commented on #13235
cc @canaltinova

when you're done with the transform one.

If someone else is interested in picking this up, please ask beforehand.

[2016-09-12 10:00] Ms2ger opened #13236 "Implement ArrayBuffer overload of TextDecoder::decode."
Blocks #5601.

* Spec: <https://encoding.spec.whatwg.org/#dom-textdecoder-decode>.
* Code: `components/script/dom/textdecoder.rs`.
* Test: `/encoding/api-basics.html`.

[2016-09-12 10:01] ashrko619 commented on #13231
I'd like to take this :)

[2016-09-12 10:54] Ms2ger opened #13238 "Use the URL encoding override"
Blocks #5601.

Whereever https://html.spec.whatwg.org/multipage/#parse-a-url is used.

* Test: `/encoding/iso-2022-jp-encoder.html`, `/encoding/big5-encoder.html`, `/encoding/gb18030-encoder.html`, `/encoding/gbk-encoder.html`.

[2016-09-12 10:59] Ms2ger opened #13239 "Bugs in the iso-2022-jp decoder?"
Blocks #5601.

Test: `/encoding/iso-2022-jp-decoder.html`.

I can't assess the correctness of the test, but it seems likely the underlying bug, if any, is in rust-encoding,

CC @SimonSapin @lifthrasiir

[2016-09-12 12:42] Ms2ger opened #13241 "Implement Window::open."
Blocks #2968.
- Spec: https://html.spec.whatwg.org/multipage/#dom-open.
- Code: `components/script/dom/window.rs`, `components/script/dom/webidls/Window.webidl`, and more.
- Test: various.

[2016-09-12 13:12] Ms2ger opened #13242 "Implement AddEventListenerOptions: once"
Blocks #2185.
- Spec: https://dom.spec.whatwg.org/#dom-addeventlisteneroptions-once.
- Code: `components/script/dom/eventdispatcher.rs`, `components/script/dom/webidls/EventTarget.webidl`.
- Test: `/dom/events/AddEventListenerOptions-once.html`.

Depends on #11612.

[2016-09-12 13:13] Ms2ger opened #13243 "Implement AddEventListenerOptions: passive"
Blocks #2185.
- Spec: https://dom.spec.whatwg.org/#dom-addeventlisteneroptions-passive.
- Code: `components/script/dom/eventdispatcher.rs`, `components/script/dom/webidls/EventTarget.webidl`.
- Test: `/dom/events/AddEventListenerOptions-passive.html`.

Depends on #11612.

[2016-09-12 14:29] samuknet opened #13246 "Retrieve dblclick settings from system rather than prefs.json"
The 'double click timeout' and 'double click distance threshold' are currently set manually in `prefs.json`.  These should be loaded from the system, if available.

https://github.com/servo/servo/blob/master/components/script/dom/document.rs#L796-L798

[2016-09-12 14:59] Jayflux commented on #13206
You don't need Visual Studio.
You can get Visual C++ as stand alone from here:
http://landinghub.visualstudio.com/visual-cpp-build-tools
Choose default install options

[2016-09-12 15:07] Coder206 commented on #13206
@Jayflux I like that much better, it saves lots of space

[2016-09-12 15:19] #3247 closed

[2016-09-12 15:19] Ms2ger commented on #3247
Seems fixed.

[2016-09-12 15:28] Ms2ger opened #13247 "Decode UTF-8 with replacement in DedicatedWorkerGlobalScope::run_worker_scope."
Blocks #2968.

`String::from_utf8(bytes).unwrap()` will panic if the input is not well-formed UTF-8. We should use `String::from_utf8_lossy()` instead. (It should not be necessary to copy the string, though we may need to reorganize the code a little bit.)

* Spec: <https://html.spec.whatwg.org/multipage/#fetch-a-classic-worker-script>.
* Code: `components/script/dom/dedicatedworkerglobalscope.rs`

[2016-09-12 15:28] highfive commented on #13247
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-12 15:32] samuknet opened #13249 "Scrolling to end of element should start scrolling the parent element."
In other browsers, if you carry on scrolling an element past the end then its parent element will begin to scroll, if possible.

In Servo, the parent element does not begin to scroll once the inner element has been scrolled all the way down.

Expected behaviour as shown in FF (identical in Chrome):
![expected](https://cloud.githubusercontent.com/assets/9294710/18441679/cd088246-7905-11e6-9650-8260

[2016-09-12 16:07] flacerdk commented on #9673
Hi, I would like to give this a try.

[2016-09-12 16:13] Jenselme commented on #13247
I'll gladly have a look at this.

[2016-09-12 16:38] jdm commented on #13247
@Jenselme Please do! Ask questions if anything is unclear.

[2016-09-12 18:32] Jayflux commented on #13206
Failing for me
https://pastebin.mozilla.org/8909561

[2016-09-12 18:51] lifthrasiir commented on #13239
I believe this hit [WHATWG rewrite](https://www.w3.org/Bugs/Public/show_bug.cgi?id=27256) (Encoding is not yet very up to date in that regard). Specifically `1B 24` (a lone escape sequence) should be an error in the rewritten algorithm but Encoding happily passes that.

[2016-09-12 19:26] aneeshusa commented on #12283
Some of the Python part has been done (checking for duplicates), but we still need a check + test(s) for sorting; @Blanen, you can work on this. @santagada, you can work on the Rust duplicate checker + test(s).

Thanks for being willing to share.

Testing:
  - For Python, we are changing tidy so add/change test file(s) under `python/tidy/servo_tidy_tests/`, and edit `python/tidy/servo_tidy_tests/t

[2016-09-12 20:45] larsbergstrom commented on #13206
Can you do `set PATH` and paste the results in here? I'm worried that there is another, more evil, python that is first in your `PATH`. Mine looks like:
[code]

[2016-09-12 20:47] Jayflux commented on #13206
[code]

[2016-09-12 20:52] samuknet commented on #13082
One thing I have noticed is that other browsers' implementation of Home/End scrolling operates on the element which currently has focus as opposed to the element which the mouse is currently over.

If we were to implement this in the same way that Page Up/Page Down key scrolling is implemented, the behavior would not quite be identical to other existing implementations.  Is this an acceptable way

[2016-09-12 21:01] Jayflux commented on #13206
```NATIVE_WIN32_PYTHON```  hasn't worked for me

[2016-09-12 22:19] dns2utf8 opened #13253 "Strange error from fontsan"
I had this strange error when building servo:

[code]

It did not go away after

[code]

But it went after this:

[code]

Do you have any clues why this happend?

[2016-09-12 22:54] stshine commented on #13253
This happened because submodules in fontsan didn't get cloned.

[2016-09-13 00:45] TYoung86 commented on #12125
@carnoxen  linux on windows does not have a display component, unless you wire up an x server on windows to host it (there are guides) you probably don't want to play with it. it's not linux on windows _yet_. they've got a ways to go when it comes to exposing linux kernel functionality.

[2016-09-13 02:47] cbrewster opened #13254 "Incorrect URLs after navigating in bhtml"
<img width="1344" alt="screen shot 2016-09-12 at 9 45 50 pm" src="https://cloud.githubusercontent.com/assets/9086315/18459818/566c6b20-7932-11e6-9cb4-17d74323b309.png">
Steps to reproduce:
- Click on Github on the newtab page
- Click on the Business link at the top
- Click on the URL bar and the wrong URL is displayed.

[2016-09-13 02:50] saneyuki commented on #13246
duplicate with #13222 ?

[2016-09-13 03:03] #13246 closed

[2016-09-13 03:19] paulrouget commented on #13082
As far as I understand the current code, Key::up, Key::down, Key::pageup and Key::pagedown, all send a scroll event, with the current position of the mouse. Moving the mouse hover a scrollable area (without clicking) and pressing Key::down will scroll the scrollable area.

I would recommend to follow this (wrong) behavior for now, and file a follow-up issue to scroll the focused element with a scr

[2016-09-13 04:16] paulrouget commented on #13254
I see `about:blank`.

/cc @Gozala

[2016-09-13 07:39] Ms2ger commented on #6601
Seems fixed.

[2016-09-13 07:39] #6601 closed

[2016-09-13 08:06] Jenselme commented on #13247
I think I have a working solution [here](https://github.com/Jenselme/servo/commit/44afd3030e220581f754a88b7de88fb14b7150ca) However, I rely on `Cow::into_owned` which according to [the documentation](https://doc.rust-lang.org/std/borrow/enum.Cow.html#method.into_owned) *Clones the data if it is not already owned.* From what I understand, the data is already owned so it won't copy. Am I correct or

[2016-09-13 08:59] aochagavia commented on #13206
The instructions worked for me as well.

@Coder206 Is there an open issue for the problem of seeing a white screen instead of the contents of the website? I am experiencing the same problem on Windows 10 Educational (Version 10.0.10586) with an Intel HD Graphics 4000.

[2016-09-13 09:17] aochagavia opened #13255 "mach test doesn't work correctly on Windows (MSVC)"
Note: I followed [these instructions](https://github.com/servo/servo/issues/13206#issuecomment-245742164) to build servo.

Tests affected:
- css
- wpt

Both commands trigger the following error:

[code]

[2016-09-13 10:05] Coder206 commented on #13206
@aochagavia No there is no issue for it

[2016-09-13 10:13] aochagavia commented on #13233
This is caused by the `encoding` crate, which includes BOM in the output string if BOM has been seen in the input. I am not acquainted enough with the whatwg spec to know whether this is intended behavior. In other words: are all whatwg strings expected to be decoded without the BOM? Or only when using `TextDecoder`? @Ms2ger could you give me a hand?

Depending on the answers on previous questions

[2016-09-13 10:20] aochagavia commented on #13206
Should I create a new one?

[2016-09-13 10:34] aochagavia commented on #13233
cc @lifthrasiir

[2016-09-13 11:13] Coder206 commented on #13206
I would think it would be a good idea. Thanks for doing this @aochagavia!

[2016-09-13 12:48] highfive commented on #13255
cc @wafflespeanut

[2016-09-13 13:30] aochagavia opened #13257 "Blank white screen at launch on Windows 10"
# Cause

**EDIT**: This is caused by https://github.com/servo/servo/issues/13371 (font rendering is not implemented for the MSVC toolchain on Windows)

# Reproducing

Run `mach.bat run -d https://www.mozilla.org/en-US/`

# Screenshot

![Screenshot](https://cloud.githubusercontent.com/assets/5196584/18475493/e621b3e4-79c6-11e6-93ee-06ddeee2e9c5.png)

[2016-09-13 13:31] aochagavia commented on #12125
Just opened #13257 for the blank white screen on Windows 10. Maybe it could be added to the checklist.

[2016-09-13 13:47] codec-abc commented on #12125
@aochagavia How much time did you wait before taking the screenshot ? I noticed that sometimes the rendering is quite slow to start.

[2016-09-13 13:55] aochagavia commented on #12125
@codec-abc I just tried again and waited for one or two minutes. Still, everything is white.

[2016-09-13 16:35] aneeshusa opened #13259 "Run tidy on code snippets in documentation"
For example, #13225 adds new shell code in a `sh` code fence markdown block. The review comment I made would have been caught by tidy in a regular shell file.

Note that there will probably need to be slight differences in tidy behavior, for example license headers are not required for snippets, shell snippets need not start with `set -euo pipefail` options, etc.

[2016-09-13 16:35] highfive commented on #13259
cc @wafflespeanut

[2016-09-13 16:46] vvuk commented on #13206
in mozjs makefile.cargo, there's a line: ```SRC_DIR = $(shell pwd)```  I wonder if for you, pwd is giving c:\......, and for me, it's giving c:/....

For me ```%MOZTOOLS_PATH%\pwd``` gives ```/c/proj/r```; but that's with a local MOZTOOLS_PATH.  You should see whatever mach does to set up $PATH/$MOZTOOLS_PATH and what pwd it finds.

[2016-09-13 19:59] aochagavia commented on #13233
I just stumbled upon https://github.com/servo/servo/issues/13231

Is it correct to conclude that the `encoding` crate is no longer needed? Should we then just use `String::from_utf8`? I just tested it and it doesn't ignore BOM in the output.
`

[2016-09-13 20:12] aochagavia commented on #12917
See https://github.com/servo/servo/issues/13206 for current instructions on building with MSVC and https://github.com/servo/servo/issues/13257 for the white screen issue.

[2016-09-13 20:22] jdm commented on #5876
Note: relevant Gecko code is now https://dxr.mozilla.org/mozilla-central/rev/b1156b0eb96fcb49966b20e5fcf6a01f634ea2ee/dom/bindings/Codegen.py#11045

[2016-09-13 20:27] jdm commented on #5876
Since that code delegates to CGProxyNamedPresenceChecker, which in turn delegates to CGProxyNamedGetter, it looks like we're almost doing the right thing. We just need to return the right value instead of `succeed()`.

[2016-09-13 22:43] KiChjang commented on #12967
@saurvs Are you still working on this?

[2016-09-13 22:55] Jayflux commented on #13206
@vlad are there any steps to working out what pwd is giving me?
These commands don't run in the console

[2016-09-13 23:04] gaby2300 commented on #12125
Today I downloaded from the same site as before. Running servo.exe resulted in the same as before.

Then I tried running index.html inside the Servo Tech Demo folder and I got a browser.html tab:
file:///C:/Program%20Files/Mozilla%20Research/Servo%20Tech%20Demo/browserhtml/index.html. It looked just as a Nightly borwser.

While this time all worked as expected (I could open as many new tabs as I l

[2016-09-13 23:25] jdm commented on #12125
Opening index.html will open it in your default browser, not Servo.

[2016-09-13 23:35] gaby2300 commented on #12125
Many thanks for answering me so quickly @jdm!

Is the window titled Servo, the parallel browser engine I get when running servo.exe the actual servo one then? It loads a white window containing Servo related links in blue for a few seconds. Then is goes blank. No way to open new tabs. Is this the expected? Thanks!

[2016-09-13 23:55] jdm commented on #12125
Not expected, no, but seems to be a common problem that other windows testers are experiencing.

[2016-09-14 00:51] schuster commented on #8570
I started with the styling for anonymous table rows, but after some debugging, it seems even the original modify_style_for* functions on these don't affect anything. I added a bit of println debugging and changed the function to instead set the pseudo-element's display style to `none` in this branch: https://github.com/schuster/servo/tree/anonymous-tables-debug

If I run that version of Servo on h

[2016-09-14 02:43] jdm opened #13262 "Add a unit test verifying that SpecificFragmentInfo is at most one word in size"
It has a comment that reads `/// Keep this enum small. As in, no more than one word. Or pcwalton will yell at you.`. We should enforce this with a unit test that will prevent any mistakes from occurring.

[2016-09-14 03:50] saurvs commented on #12967
@KiChjang Yes. Tests are going on in my college. I should submit a PR by the end of this week.

[2016-09-14 05:14] stshine commented on #8570
Confirm that generate_anonymous_table_flows_if_necessary() doesn't take effect. But even if it works it won't work properly because it does not take siblings into account.
On the other hand, servo deal with `display: none` by not generate flow at all, while you have already generated the anonymous flows, so they will get displayed whatever.

[2016-09-14 05:46] lifthrasiir commented on #13233
Encoding does not directly implement that part of specification (after all, it does not implement the full `TextDecoder` interface anyway). I'm not sure if this should be implemented from Encoding in verbatim.

[2016-09-14 06:54] aochagavia commented on #13233
I am afraid I don't understand this sentence (probably because I am not a native speaker). What do you mean exactly? You don't thing this belongs to the `encoding` crate?

[2016-09-14 07:18] Ms2ger commented on #13247
I'm thinking

[code]

[2016-09-14 07:19] Ms2ger commented on #13255
Can you check if `./mach test-wpt` works?

[2016-09-14 07:37] aochagavia commented on #13255
No luck... I get the same error

[2016-09-14 07:42] #11694 closed

[2016-09-14 10:14] paulrouget commented on #6226
About swipe gestures:

See Gecko's gestures: https://dxr.mozilla.org/mozilla-central/source/dom/interfaces/events/nsIDOMSimpleGestureEvent.idl#10

On osx, `[NSResponder swipeWithEvent:]` is called on swipe (using as many fingers as the user defined in the trackpad preferences). In Chrome, see `src/chrome/browser/ui/cocoa/browser_window_controller.mm`.

So the idea here would be to get lower level

[2016-09-14 10:33] paulrouget opened #13263 "We need a way to execute third party script in a pipeline"
I'm not exactly sure what this should look like.

For browserHTML, and later Web Extension support, we need a way to load script in a pipeline.

2 requirements:

* We need to be able to get a response back from the script (and I don't know how that would work, maybe the script can send back JSON objects)
* we also want the ability to "isolate" the script from content script's global while still of

[2016-09-14 10:45] paulrouget opened #13264 "[Browser API] Implement iframe.capturePage()"
Something like: Promise<Blob> capturePage(DOMRectInit source, DOMRectInit destination)

We can use a `WindowAndPng` compositor target.

[2016-09-14 11:56] Manishearth opened #13265 "Normalize rotations in computed transforms"
While the spec doesn't explicitly say this, it seems like the `rotate3d()` and `rotate()` primitives should be stored in normalized form.

https://drafts.csswg.org/css-transforms/#funcdef-rotate3d

It refers to them as "direction vectors" which are by definition normalized. Current servo behavior is that `rotate3d(0.707,0.707,0,45deg);` and `rotate3d(1,1,0,45deg);` are different, which doesn't mat

[2016-09-14 13:51] metalim opened #13266 "Unwrap called on fallible matrix inverse when translating point into stacking-context transform"
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

https://www.unibet.com/softgames
### Servo Version:

Servo 0.0.1-bb53da6
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-14 14:09] jdm commented on #13266
I reproduced this by loading the URL and scrolling around.

[2016-09-14 14:11] jdm commented on #13266
[code]

[2016-09-14 14:12] jdm commented on #13266
Specifically:
[code]

[2016-09-14 14:25] Manishearth opened #13267 "Figure out how to handle lengths and percentages in transform animations with translations"
We currently just implement `Interpolate` on transforms. Most of the transform functions just operate on floats, and the one which doesn't (`translate`) is simple to interpolate sicne you can just interpolate the contained calcs.

However, the spec allows you to interpolate between different transform functions. It does this via a set of steps being implementing in #﻿13188, which decompose the fro

[2016-09-14 14:30] jdm commented on #13263
The second requirement sounds like Xray wrappers in Gecko. I can't wait!

[2016-09-14 14:40] gilbertw1 commented on #12095
Seems pretty straight forward, I'd like to tackle this issue and get my feet wet with this code base.

[2016-09-14 14:49] jdm commented on #12095
@gilbertw1 Please do! Ask questions if anything is unclear.

[2016-09-14 15:25] lifthrasiir commented on #13233
@aochagavia Probably. The `TextDecoder` interface is clearly JavaScript-oriented and not a good thing to implement in Rust. Encoding does implement several [specification hooks](https://encoding.spec.whatwg.org/#specification-hooks) (mostly notably [decoding with a fallback encoding](https://encoding.spec.whatwg.org/#decode)), but only because it allows a better handling of those algorithms in Rus

[2016-09-14 15:50] Manishearth commented on #13267
Not entirely sure how gecko handles this, seems like it synthesizes a fake "interpolatematrix" transform function and passes it on to layout which interpolates it with the ref box.

[2016-09-14 18:28] crazymykl commented on #11846
@jbg's steps are not sufficient for me. (Also, 8.0 is no longer beta, so the issue title could use an update.)

[2016-09-14 20:20] jdm opened #13268 "Attach state snapshots to times in profiles"
To get a sense of what other parts of the system are doing at any given time, it could be useful to attach snapshots of data to points in time in timeline profiles. An example would be if we could determine the depth of the script thread event queue each time we return to it, we could send this information to the profiler and see data in the profile showing the number of queued events over time.

[2016-09-14 20:20] highfive commented on #13268
cc @fitzgen

[2016-09-14 21:32] gilbertw1 commented on #12095
@jdm: I've got this a fix for this issue completed, and I've tested + verified it against a remove server I setup running nginx. However, I am having a tough time figuring out where to get started on creating the reference test and the corresponding python handler. Could you point me to an existing test that uses a python handler (along with the handler location)?

Thanks!

[2016-09-14 21:52] Jayflux commented on #13206
Followed @larsbergstrom's walkthrough on a windows 10 VM from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

Build doesn't happen, i get this:
![servo error win](https://cloud.githubusercontent.com/assets/936006/18531372/ec2ffdce-7acd-11e6-9f70-318a2c0b770f.jpg)

[2016-09-14 21:55] Jayflux commented on #13206
@vvuk
cmder:
[code]

CMD
[code]

[2016-09-14 21:56] jdm commented on #12095
The python handlers are invoked by any URL that references them, like in [this test](https://dxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/XMLHttpRequest/getallresponseheaders-status.htm#33). That corresponds to [this handler](https://dxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/XMLHttpRequest/resources/headers.py).

[2016-09-14 22:24] santagada commented on #12379
I have bitten more than I can chew on another ticket here, please un assign me for now. If no one takes this I can take a look again later. Sorry.

[2016-09-14 22:28] zbraniecki commented on #9558
any progress on that @vberger ?

[2016-09-14 22:32] Jayflux commented on #13206
which is unfortunately never shown when building, because it ends up in stdout instead of stderr, so it won't be forwarded by cargo.

Now I'm also at the point where running servo shows an empty white window with the correct title, but nothing else. I'm running Windows 10 Home.

@Boddlnagg I did the same thing but its still failling for me  :sob: :sob:
Looks like its hardcoded to c:\python27 which

[2016-09-14 22:41] Jayflux opened #13272 "Cargo crashes on build (Windows 10)"
Following instructions from:
https://github.com/servo/servo/issues/13206#issuecomment-245742164

And using a clean windows VM, the build starts, then when it gets to 'cargo ready', it crashes
The only difference is i use http://landinghub.visualstudio.com/visual-cpp-build-tools instead of the full Visual Studio download

![cargo crash](https://cloud.githubusercontent.com/assets/936006/18532531/888

[2016-09-14 22:42] Coder206 commented on #13272
@Jayflux I am going to fire up my VM and my local Win10 build to see if I can reproduce.

[2016-09-14 22:48] izgzhen commented on #12379
okay

[2016-09-14 22:52] vberger commented on #9558
I'm currently mostly busy with a large re-design of my wayland libs, so I didn't progress on that, and have still a lot to do before I could.

Also, I kinda heard that servo more or less planned to stop using glutin, so I didn't really keep an high focus on that.

[2016-09-14 22:55] jdm commented on #9558
I'm pretty sure the rumours of glutin's demise in Servo have been exaggerated. I'm not aware of any effort to replace it at this point in time.

[2016-09-14 23:11] Coder206 commented on #13272
@Jayflux I am getting a successful build on my native repository.

[2016-09-15 00:37] emilio commented on #13267
Hmm... How are we supposed to have the reference box from code like, let's say, animations?

[2016-09-15 00:55] emilio commented on #13267
Hmmm... I wonder if we could have a computed value which means "interpolated list of matri

[2016-09-15 01:23] emilio commented on #13267
So the magic in Gecko happens on display list construction, when you already have the frame laid out (and hence the full reference box). In the style system they're stored as a list of `nsCSSValue`s...

searchfox.org/mozilla-central/source/layout/base/nsDisplayList.cpp#5755

[2016-09-15 01:26] Coder206 commented on #13257
@aochagavia Another fact I noticed is that you can reproduce simply with `mach.bat run -d`

[2016-09-15 02:01] emilio commented on #13267
Sorry, I meant to link to `AddAnimationsForProperty`, that gets the animations for the compositor.

But yeah, it seems that they store the computed value of a transform as a list of `nsCSSValue` arrays (which would be equivalent to our `TransformOperation`s, that in the case of `interpolatematrix` contains two transform lists, that they read separately, then interpolate.

In Servo, the relevant co

[2016-09-15 03:30] Nebopolis opened #13274 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL: http://fivethirtyeight.com/

![screen shot 2016-09-14 at 10 28 23 pm](https://cloud.githubusercontent.com/assets/59228/18537388/c229fa82-7aca-11e6-8369-f552e3f4fa01.png)
### Servo Version:

Servo 0.0.1-1f1e92a
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-15 04:05] jdm commented on #13274
I have not been able to reproduce this yet.

[2016-09-15 06:12] vberger commented on #9558
Okay. My timeline for now is anyway: first finish my redesign and publish wayland-client 0.7, then integrate it into glutin/winit, and then I'll work from that.

[2016-09-15 07:07] Boddlnagg commented on #13206
@Jayflux Did you set it to the path containing `python.exe` or actually to point to `python.exe` itself? It must be the latter.

[2016-09-15 08:22] notriddle commented on #13223
It's float prediction:

[code]

@pcwalton Weren't you working on a fix for the whole "floats' heights affect the layout of their siblings" problem?

[2016-09-15 08:34] notriddle commented on #13223
More specifically, is this a duplicate of #7551?

[2016-09-15 08:45] tizianasellitto commented on #13019
@jdm  I don't know if @yoyo930021 is still working on this but I tried a solution [here](https://github.com/tizianasellitto/servo/commit/69d9777efb54956fc1f75457b8114a456f50a499). Please, just ignore this if he wants to keep working on it.

I'm not sure for-of loop test is what you need.

[2016-09-15 08:49] yoyo930021 commented on #13019
@tizianasellitto
give you to do.
Thanks.

[2016-09-15 08:57] flacerdk commented on #9673
I have been reading the code and I have some ideas on how this could go. But right now I'm a bit confused about how fragments work.

`reflow_fragment` in `layout/inline.rs` tries to push fragments until it runs out of space, then it tries to split the line. However it looks like fragments don't necessarily end on a word boundary (at least for non-ASCII; for ASCII, they always seem to end on words)

[2016-09-15 09:09] Jayflux commented on #13206
@Boddlnagg  i pointed directly to the python.exe itself and i still get the same error
Ok didn't know about the case insensitivity, good to know

[2016-09-15 09:15] Jayflux commented on #13272
@Coder206 could you try downloading the same VM? and using http://landinghub.visualstudio.com/visual-cpp-build-tools ?

I've noticed everyone else seems to be on Windows 10 home, and I'm using Windows 10 Pro/Enterprise

[2016-09-15 09:19] Manishearth commented on #13267
The only time the refbox is required is when you're interpolating between lists of different functions where at least one of the lists contains a translate.

Think we should add the interpolatematrix function only for that case, or just move all decomposition animation to the display list?

[2016-09-15 10:35] Coder206 commented on #13272
I was able to reproduce @Jayflux's error when I removed Visual Studio 2015 Community and replaced it with Visual C++ Build Tools on the default settings.

[2016-09-15 10:53] Coder206 commented on #13272
Windows 10 Home with Visual C++ Default:

`C:\Users\Patrick\Documents\mozilla\servo\servo>mach.bat build -d
   Compiling mozjs_sys v0.0.0 (https://github.com/servo/mozjs#87c47526)
   Compiling servo v0.0.1 (file:///C:/Users/Patrick/Documents/mozilla/servo/servo/components/servo)
   Compiling rand v0.3.14
   Compiling num_cpus v0.2.13
   Compiling freetype v0.1.0 (https://github.com/servo/rust-free

[2016-09-15 10:57] Jayflux commented on #13272
@vvuk @larsbergstrom

[2016-09-15 11:02] Jayflux commented on #13206
I'm going to try doing this again, uninstalling the Visual C++ build tools and instead using the Visual Studio full install, to see if that has anything to do with it

[2016-09-15 13:08] Ms2ger commented on #13144
I'm looking into this.

[2016-09-15 13:30] jdm commented on #13019
@tizianasellitto That looks great! However, that's a regular for loop, not a for of loop. You'll want to use `for (var class of elementClasses)` instead; I recommend pushing each element found into a second array, then using `assert_array_equals`.

[2016-09-15 14:02] jdm opened #13276 "Implement XHR progress event changes"
https://github.com/whatwg/xhr/pull/90

[2016-09-15 14:02] jdm commented on #13276
Also https://github.com/w3c/web-platform-tests/issues/3729 .

[2016-09-15 15:12] emilio commented on #13267
I think it makes sense for all the interpolation code to be together.

[2016-09-15 16:38] #12773 closed

[2016-09-15 17:37] #13265 closed

[2016-09-15 18:12] gilbertw1 commented on #12095
Just submitted a PR for this issue, may have err'ed a little on the side of over explaining. Thanks for your help!

[2016-09-15 19:15] jdm opened #13282 "Support cloning steps for textarea/input"
https://github.com/whatwg/html/pull/1784

[2016-09-15 19:42] jdm opened #13283 "Support more wildcards in CORS headers"
https://github.com/whatwg/fetch/pull/298

[2016-09-15 20:18] pcwalton commented on #7551
This is already done.

[2016-09-15 20:18] #7551 closed

[2016-09-15 20:29] pcwalton commented on #13223
It's not—we need to implement the fallback when the speculation fails.

[2016-09-15 20:33] notriddle commented on #13223
Is there already an issue for that?

[2016-09-15 20:41] pcwalton opened #13284 "Implement fallback when the float width speculation fails"
During block size assignment, we need to place block formatting contexts next to floats and if the resulting inline size is different from the speculated inline size, then we need to call `assign_inline_sizes()` and `assign_block_sizes()` sequentially again.

[2016-09-15 20:42] notriddle commented on #13223
#13284

[2016-09-15 20:42] pcwalton commented on #13284
See #13223 for a test case

[2016-09-15 22:05] mylainos opened #13285 "Use the CII Best Practices badge"
The **Core Infrastructure Initiative (CII) Best Practices badge** is a way for Free/Libre and Open Source Software (FLOSS) projects to show that they follow best practices. Projects can voluntarily self-certify, at no cost, by using this [web application](https://bestpractices.coreinfrastructure.org/) to explain how they follow each best practice.

 These best practices have been created to:
1. en

[2016-09-15 22:44] jdm opened #13286 "Replace almost all uses of `referer` with `referrer`"
There is only valid misspelling of `referrer` that belongs in our code, and that is the historically-misspelled HTTP `Referer` header. Any other places in the code that misspell it should be corrected, such as the `referer_url` in the `RequestInit` structure.

[2016-09-15 22:44] highfive commented on #13286
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-15 22:45] jdm commented on #13286
[code]

[2016-09-15 22:45] jdm commented on #13286
[code]

[2016-09-15 22:47] jdm commented on #13286
I've excluded uses of the `Referer` header type that's defined in the hyper crate, because that represents the actual HTTP header which is intentionally misspelled.

[2016-09-15 23:11] jdm opened #13287 "Investigate webgl performance tests"
I came across a reference to http://hg.mozilla.org/users/bjacob_mozilla.com/webgl-perf-tests/raw-file/3729e8afac99/uniform-int-taking-typed-array.html in a bugzilla bug about typed arrays. Might be worth investigating what else is in that directory to get comparison numbers to Gecko!

[2016-09-15 23:36] KiChjang commented on #11485
Previous attempt was stalled in #11595.

[2016-09-16 00:52] #13019 closed

[2016-09-16 03:55] 6112 commented on #13286
@jdm

I'd like to work on this.

After making the changes to the files mentioned, and updating some unit tests, I still found some other occurrences of "referrer" in unit tests, mostly for variable & function names. Should I correct those too?

I didn't the string at `components/script/dom/headers.rs:320`, since it seems to identify the `Referer` HTTP header.

[code]

[2016-09-16 04:33] 6112 commented on #13235
I'd like to pick this up. Also, how can I add tests for this?

[2016-09-16 07:02] Manishearth commented on #13235
This is a bit involved and may require prior parser experience -- have you contributed to servo before? If not, you might want to go for an easier issue first (https://github.com/servo/servo/issues?q=is%3Aissue+is%3Aopen+label%3AE-easy)

Also @canaltinova is finished with the transform stuff, so I think they'll be working on this next -- I'd opened this bug for them to work on 😄

If they plan to d

[2016-09-16 07:46] Manishearth opened #13289 "Transition flickers with 3d transform and transparency"
If you have a 3d transform, that has a transparent thingy cutting through it, it flickers.

[code]

![flicker](https://cloud.githubusercontent.com/assets/1617736/18578786/88fb8fc8-7c0f-11e6-9cbb-08d68bee9364.gif)

cc @glennw

[2016-09-16 08:27] zakorgy commented on #12614
@KiChjang would you please reopen this issue? #13184 only fixes the requestDevice part.

[2016-09-16 10:02] Manishearth commented on #13235
Looks like @canaltinova is already working on this.

[2016-09-16 10:05] Manishearth commented on #12913
@6112 would you like to work on this?

[2016-09-16 12:36] Manishearth commented on #13289
This doesn't flicker on WebRender, but it disappears right before flipping.

Looks like we're running backface culling on this? We shouldn't be. Not sure where this is happening.

[2016-09-16 13:58] jdm commented on #13286
Yes, updating the unit tests too would be great!

[2016-09-16 14:15] samuknet opened #13290 "Scrolling page with arrow keys immediately after WR scroll bounce does not work"
The problem occurs immediately after the bounce effect that occurs when scrolling beyond top/bottom of a page.  After the bounce, the page cannot be scrolled using keyboard input (up, down arrow keys) until the mouse has been used for a scroll.

To replicate:
- Load a page with a scroll - [this one](https://samuknet.github.io/test_cases/anchorInPage/index.html) works well:

`./mach run -d -w https

[2016-09-16 14:27] samuknet opened #13291 "Overscrolling and 'bouncing' the page with arrow keys causes rendering glitch."
When scrolling beyond the top or bottom of a page with the up/down arrow keys, holding down the arrow key causes a graphical glitch to occur when the page does the bounce effect.

To replicate, just load a page with a scroll like [this one](https://samuknet.github.io/test_cases/anchorInPage/index.html) and hold down the up arrow key to scroll beyond the top edge of the page.

![scrollarrowkeys](ht

[2016-09-16 15:32] jdm opened #13293 "Remove method restricting on fetches of data URLs"
https://github.com/whatwg/fetch/commit/c4cb4f4a5fa90a72f1000449495aec04f6c8c96b

[2016-09-16 15:33] jdm commented on #13293
Also https://github.com/w3c/web-platform-tests/issues/3738.

[2016-09-16 15:48] metajack commented on #9558
@jdm is correct. There's no plan to stop using glutin, and even if we had one, I suspect we'd use a custom fork. I'm not aware of any real alternatives.

[2016-09-16 16:18] 6112 commented on #12913
Sure, I can work on this.

[2016-09-16 16:23] Manishearth commented on #12913
Cool. Feel free to ask @emilio any questions you may have!

[2016-09-16 17:04] #12095 closed

[2016-09-16 17:21] jrmuizel opened #13295 "Copy & Paste does not work on OS X"
Apparently it used to work. Not having copy & paste makes it a pain to test urls in the url bar.

[2016-09-16 17:24] jdm commented on #13295
We removed support for the clipboard in #12507 for legal reasons. Closing as a duplicate of #12805.

[2016-09-16 17:24] #13295 closed

[2016-09-16 17:41] jdm opened #13296 "Investigate gecko's use of generations for dom objects"
[code]
That sounds like it could be important!

[2016-09-16 17:56] jdm commented on #13296
Subsequent conversation revealed that it's only necessary for OverrideBuiltins support, which is #12978.

[2016-09-16 17:56] #13296 closed

[2016-09-16 18:03] jdm opened #13297 "Verify that tests fail if the shadow check lies"
Specifically, there should be a test in WPT for proxy shadowing behaviour. Also, this testcase should log true twice if the implementation is correct:
[code]

[2016-09-16 18:11] mstange opened #13298 "overflow:auto changes z order"
If you have a position:absolute element without a z-index, that element should be on top of a non-positioned scrollable element.

This testcase should be green, not red: http://jsbin.com/zofidasibu/1

[code]

cc @pcwalton

[2016-09-16 18:39] fvsch opened #13299 "Wrong block width when using negative margins and overflow"
The width of a `display: block` element with styles such as:

[code]

will be wrong in Servo. It will be 40px narrower than the same block with `overflow: visible`. This problem happens with all `overflow` values other than `visible`.

Here’s a reduced test case:
http://fvsch.com/code/bugs/servo-negative-margins-width/

- Expected behavior: in each section, all blue blocks should have the same wid

[2016-09-16 18:58] emilio commented on #13127
@aneehusa: Sorry, I missed that comment.

Yeah, I know we run unit tests and such in debug, but this is not comparable with wpt or similar.

Running WPT in debug mode was too slow IIRC, we should ideally make the release builder run with debug assertions.

[2016-09-16 19:04] jdm commented on #12568
This was disabled.

[2016-09-16 19:05] avadacatavra opened #13301 "Null iframe in XOW test"
CC @asajeffrey (and I forgot who else to cc...)

Test is in https://github.com/avadacatavra/servo/tree/xow-spec/tests/wpt/web-platform-tests/origin

ERROR:script::dom::bindings::error: Error at http://web-platform.test:8000/origin/cross-origin-objects.sub.html:12:1 B is null

<img width="1015" alt="screenshot 2016-09-06 19 42 44" src="https://cloud.githubusercontent.com/assets/11877868/18597950/47

[2016-09-16 19:05] jdm commented on #11663
Nothing seen in several months, and it's not disabled. Closing.

[2016-09-16 19:06] jdm commented on #11721
Same symptom as #11618.

[2016-09-16 19:07] jdm commented on #11541
Not seen in several months and the tests are disabled. Closing.

[2016-09-16 19:07] #11541 closed

[2016-09-16 19:09] jdm commented on #11563
Similar symptom to #12872.

[2016-09-16 19:10] ConnorGBrewster commented on #13301
cc @ConnorGBrewster

[2016-09-16 19:11] jdm commented on #13301
This is caused by #3924, and will be fixed by #8600.

[2016-09-16 19:12] jdm commented on #13301
It can be worked around by waiting for the load event for the iframes in question.

[2016-09-16 19:13] jdm commented on #10950
Hasn't been seen in months, and we would get better output if it showed up again. Closing.

[2016-09-16 19:13] #10950 closed

[2016-09-16 19:14] jdm commented on #10549
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:15] jdm commented on #10480
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:15] #10480 closed

[2016-09-16 19:16] jdm commented on #10454
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:16] #10454 closed

[2016-09-16 19:16] jdm commented on #10398
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:16] #10398 closed

[2016-09-16 19:16] jdm commented on #10380
Hasn't been seen in months. Closing.

[2016-09-16 19:16] #10380 closed

[2016-09-16 19:17] jdm commented on #10364
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:17] #10364 closed

[2016-09-16 19:18] jdm commented on #9626
Hasn't been seen for months; not disabled. Closing.

[2016-09-16 19:18] #9626 closed

[2016-09-16 19:18] jdm commented on #9619
Hasn't been seen in months; isn't disabled. Closing.

[2016-09-16 19:18] #9619 closed

[2016-09-16 19:19] jdm commented on #9432
Hasn't been seen in months; not disabled. Closing.

[2016-09-16 19:19] #9432 closed

[2016-09-16 19:19] jdm commented on #9197
Hasn't been seen in months. Isn't disabled. Closing.

[2016-09-16 19:19] #9197 closed

[2016-09-16 19:21] jdm commented on #9009
Hasn't been seen in months; not disabled. Closing.

[2016-09-16 19:21] #9009 closed

[2016-09-16 19:21] jdm commented on #8924
Hasn't been seen in months; not disabled. Closing.

[2016-09-16 19:21] #8924 closed

[2016-09-16 19:22] jdm commented on #8816
Hasn't been seen in months; not disalbed. Closing.

[2016-09-16 19:22] #8816 closed

[2016-09-16 19:22] jdm commented on #8726
Hasn't been seen in months. Closing.

[2016-09-16 19:22] #8726 closed

[2016-09-16 19:23] jdm commented on #8486
We're running webgl tests, so this stopped happening at some point.

[2016-09-16 19:23] #8486 closed

[2016-09-16 19:24] jdm commented on #7910
Hasn't been seen in months. Closing.

[2016-09-16 19:24] #7910 closed

[2016-09-16 19:29] aneeshusa commented on #13127
In that case, I think the easiest thing to do is change `mach` to add `-C debug-assertions=true` if an env var is set to `"1"` (say `SERVO_DEBUG_ASSERTIONS`), and set that environment variables to our [saltfs build environment](https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/environments.py) (probably in `build_linux` for now). We can land the env var change first (it won'

[2016-09-16 19:45] #8509 closed

[2016-09-16 19:51] pcwalton commented on #13299
Probably an issue with block formatting context size speculation.

[2016-09-16 20:19] aneeshusa commented on #13127
The first PR to add the env var to saltfs is servo/saltfs#480.

[2016-09-16 20:28] aneeshusa commented on #13127
We'll need to wait for those changes to be rolled out (likely next week since today is a Read-Only Friday) before we can test the second PR changing `mach`.

[2016-09-16 21:23] gaby2300 commented on #13257
I have a similar issue. I get a white blank window that includes blue related to servo links for a few seconds and then goes white again. The title is Servo, the parallel browser engine

[2016-09-16 21:48] #13286 closed

[2016-09-16 22:00] pcwalton commented on #783
I think we should close this in favor of more specific bugs.

[2016-09-16 22:00] #783 closed

[2016-09-16 22:00] pcwalton commented on #124
We've had {ib} splits for a long time. Closing.

[2016-09-16 22:00] #124 closed

[2016-09-16 22:03] pcwalton commented on #264
Right now we have no plans to use native controls. Closing this.

[2016-09-16 22:03] #264 closed

[2016-09-16 22:03] pcwalton commented on #665
We have a `REFLOW` flag for this.

[2016-09-16 22:03] #665 closed

[2016-09-16 22:03] pcwalton commented on #782
Let's close this in favor of specific bugs.

[2016-09-16 22:03] #782 closed

[2016-09-16 22:04] pcwalton commented on #1364
We don't do this anymore. Yay!

[2016-09-16 22:04] #1364 closed

[2016-09-16 22:04] pcwalton commented on #1412
I don't think it makes a lot of sense to do this anymore.

[2016-09-16 22:04] #1412 closed

[2016-09-16 22:05] pcwalton commented on #1676
We're not COWing anymore. I don't think this is relevant any longer.

[2016-09-16 22:05] #1676 closed

[2016-09-16 22:06] pcwalton commented on #1708
This is basically working. Let's close this in favor of more specific bugs.

[2016-09-16 22:06] #1708 closed

[2016-09-16 22:08] pcwalton commented on #7722
Renamed to be more specific.

[2016-09-17 03:24] jdm opened #13303 "Intermittent timeout in /html/syntax/parsing/html5lib_innerHTML_tests4.html"
[code]

[2016-09-17 04:14] #12343 closed

[2016-09-17 04:25] bubbles231 commented on #12379
I can take a look at this and hopefully get a PR together. What command should I use to check for
the offending files?

[2016-09-17 18:55] anholt commented on #10671
I'm testing a branch for this now.

[2016-09-17 20:14] webmaven commented on #7379
A direction I'd be interested in exploring would be a Servo + Python (instead of JS) runtime, along the lines of http://www.gnu.org/software/pythonwebkit/

Related: https://developer.mozilla.org/en-US/docs/PyDOM

[2016-09-17 20:55] anholt commented on #10671
Unmergeable branch at https://github.com/anholt/servo/commit/35f49c0e31f94fe71132b92c93f01d0de2c96b34

[2016-09-18 08:51] Jenselme commented on #13247
@Ms2ger that was it. Thanks for you response. PR opened: #13306

[2016-09-18 09:24] emilio opened #13308 "WebIDL: Represent optional objects as `Option<NonZero<*mut JSObject>>` in function arguments."
It's done the same way in return types, but for some reason for arguments we're still passing `*mut JSObject`, and passing the raw `null` pointer.

cc @nox

[2016-09-18 09:45] #12837 closed

[2016-09-18 15:32] 6112 commented on #12913
@emilio
Should we also exit the loop if there's a parent mismatch at https://github.com/servo/servo/blob/master/components/style/matching.rs#L752 ? Or should we still keep running through the loop, and only clear the cache after we're done iterating?

[2016-09-18 15:45] anholt opened #13310 "HACKING_QUICKSTART: document how to prepare PRs for cargo dependency bumps"
I suspect there's some easy path for doing this, so hopefully it could get documented:

I have some change to webrender (adding to an enum) that requires a corresponding change to servo.  The docs about updating cargo deps assume that you're going to update to upstream master of that dep.  However, my webrender change won't get pulled until I have a corresponding PR for servo ready.  How should I

[2016-09-18 19:37] emilio commented on #12913
Yes, in general, if we've flushed the cache the last parent mismatch and
we've had another one, we should be pretty confident we're not matching
anyway, so I think breaking early is fine :)

On Sep 18, 2016 8:33 AM, "Nicolas Ouellet-Payeur" <notifications@github.com>
wrote:

[2016-09-18 21:09] glennw commented on #13298
@pcwalton @mrobinson I guess this is due to the way servo creates stacking contexts for overflow regions? We should fix this properly, in terms of WR API and servo display list generation.

[2016-09-18 23:20] gpoesia commented on #12748
I've investigated this further, and have some findings. If someone can help me understand what's happening (I see @pcwalton and @Ms2ger have touched the seemingly relevant code).

This is a fragment of the table flow dump for the example above:

[code]

If my interpretation is correct, the first manifestation of the bug is that in the inline direction, TableWrapperFlow has the same size as its par

[2016-09-19 02:23] jdm commented on #13231
@ashrko619 Did you make progress on this? Any questions?

[2016-09-19 02:25] jdm commented on #11980
I'm removing the `E-less easy` tag since it's not clear that the earlier descriptions are really enough for someone to start working on this.

[2016-09-19 02:26] jdm commented on #12886
Removing the `E-easy` tag until there's more description of what's required here.

[2016-09-19 02:34] jdm opened #13313 "Implement minlength attribute for text inputs"
Spec: https://html.spec.whatwg.org/multipage/forms.html#attr-fe-minlength

This applies to both `HTMLInputElement` and `HTMLTextAreaElement`.

Code: `components/script/dom/htmltextareaelement.rs`, `components/script/dom/htmlinputelement.rs`, `components/script/dom/webidls/HTMLTextAreaElement.webidl`, `components/script/dom/webidls/HTMLInputElement.webidl`
Tests: we'll need to [write](https://githu

[2016-09-19 02:35] Phrohdoh commented on #13313
I'm going to give this a shot!

[2016-09-19 02:35] KiChjang commented on #13313
Great!

[2016-09-19 03:58] #13191 closed

[2016-09-19 04:06] Manishearth commented on #13235
@canaltinova regarding your question in IRC, this happens because `mask-position` and `mask-size` are reexports of `background-*`.

https://github.com/servo/servo/compare/master...Manishearth:mask-fixes fixes it up so that you can import them as `mask_size::single_value::...`, etc, which will probably be useful for keeping the codegen simple. Feel free to roll in that patch.

(Otherwise, you can j

[2016-09-19 05:44] #12379 closed

[2016-09-19 05:53] Manishearth opened #13316 "Intermittent timeout in /css21_dev/html4/height-072.htm"
https://github.com/servo/servo/pull/13307

[2016-09-19 06:57] matprec opened #13317 "Support TrueType font files that contain multiple fonts"
Hello,

i'd like to know how servo handles truetype font files with multiple fonts, since webrender always (hardcoded) chooses [the first font](https://github.com/servo/webrender/blob/master/webrender/src/platform/linux/font.rs#L62) in the font data given to it.
Is it some kind of preprocessing where the font data is manually split up?

Thanks in advance!

[2016-09-19 07:19] canaltinova commented on #13235
Thanks for the help! It solved single_value problem. But although `SpecifiedValue` is defined in both property, I was still get this error for both:
[code]
So I changed `pub type SpecifiedValue = background_size::SpecifiedValue;` to
`﻿pub use ::properties::longhands::background_size::SpecifiedValue;`
And it worked. But I have no idea why the first one didn't work 😃

[2016-09-19 07:26] Manishearth commented on #13235
Oh, that's because typedefs don't import the constructor. `SpecifiedValue(...)` is basically a struct constructor, which is imported in function space (and you get both with a pub use), but with a typedef you don't get the constructor. It's silly but I'm not sure if it can be fixed.

[2016-09-19 07:35] canaltinova commented on #13235
Oh, now I get it. Thanks! I think it should be solved but I don't know, maybe intended?

[2016-09-19 07:37] Manishearth commented on #13235
Yeah, I'll ask around. The whole "value space type space" stuff has always annoyed me.

[2016-09-19 08:26] anholt commented on #11618
I've tested a fix for this, will be sending PR soon.

[2016-09-19 08:40] Manishearth opened #13318 "Rotation transformations segmented in webrender"
[code]

looks like

<img width="336" src="https://cloud.githubusercontent.com/assets/1617736/18626437/b07d6174-7e72-11e6-93bc-8ee9780f5979.png">

It works fine in non-webrender mode (though animations are slower)

[2016-09-19 10:11] #13247 closed

[2016-09-19 11:26] emilio commented on #12886
Fair enough, sorry for not being able to provide more details in this bug. I'll try to take the time today while at the airport to do it.

Also, there's a WPT test that needs an update, I'll split that into a separate issue.

[2016-09-19 12:14] jdm commented on #13317
@glennw Do you know the answer? Do we just do the wrong thing?

[2016-09-19 12:16] jdm commented on #13316
[code]

[2016-09-19 12:18] jdm commented on #13316
Similar to #11563, #12540, #12987.

[2016-09-19 12:20] jdm commented on #12540
The majority of intermittent failures that I've observed are due to `GetFontTemplate`, rather than `GetLastResortFontTemplate`, based on the `expect` messages.

[2016-09-19 13:19] jdm commented on #13313
Related: https://github.com/whatwg/html/issues/1796

[2016-09-19 15:04] mrobinson commented on #4733
@Adenilson I cannot seem to reproduce this issue any longer. Can you confirm that it is still an issue? It may have been fixed in the layerization rework from last year.

[2016-09-19 15:05] mrobinson commented on #13298
Yep, the issue here is that overflow:scroll should not create a stacking context. Instead, it should just create a scrolling layer. This issue is on my long-term todo list.

[2016-09-19 16:38] jdm opened #13321 "MSVC build for appveyor is broken"
[code]

[2016-09-19 16:39] jdm commented on #13321
This is a regression from #12076.

[2016-09-19 17:21] anholt commented on #11721
Unrelated to that bug, but I think I know how to fix it.

[2016-09-19 17:51] Jayflux commented on #13206
Turns out the issue was me using http://landinghub.visualstudio.com/visual-cpp-build-tools instead of installing Visual Studio

[2016-09-19 17:53] anholt commented on #11721
So, we need to be clearing our offscreen_gl_context's renderbuffer and texture when they're first created.  However, we also aren't handling preserveDrawingContext, which is sort of related.  I'm going to punt on this until after FBOs, I think.

[2016-09-19 17:59] Jayflux opened #13325 "Servo does not build with Visual C++ Build Tools"
**Description**
Microsoft have released Visual C++ as stand alone, so you don't need to install the whole of Visual Studio if you need just the C Compiler.
It would be good if we can have servo build on this for the MVSC builds, however they seem to fail.
It does build fine after installing Visual Studio (with the Visual C++ option), but not when you swap it out for visual-cpp-build-tools

**What

[2016-09-19 18:01] vvuk commented on #13272
Is this a 32-bit or a 64-bit VM?

[2016-09-19 18:02] vvuk commented on #13325
The host machine failure is weird -- it's basically because the directory path is being printed with backslashes, which are then not quoted.  But that shouldn't be happening.. that's coming from a "pwd -W", which should print as c:/foo/bar.  In this case though it's showing up as c:\\foo\\bar.

[2016-09-19 18:02] Jayflux commented on #13272
@vvuk 64-bit VM

[2016-09-19 18:05] Jayflux commented on #13325
@vvuk do you know how http://landinghub.visualstudio.com/visual-cpp-build-tools would have any affect on that? I've narrowed it down to that but not sure what's in it that would affect the backslashes problem

[2016-09-19 18:06] vvuk commented on #13325
I take that back -- the issue isn't from pwd.   In the mozjs makefile.cargo, there's a few places where it attempts to move OUT_DIR into a /-delimited path.  One of these either isn't being hit, or isn't running properly.

Note that you can just clone mozjs-sys and try a cargo build in there from a VS command prompt, after making sure the mozilla-build tools are in the PATH.  You can poke at the O

[2016-09-19 18:57] Adenilson commented on #4733
@mrobinson sure thing, let me try to build it.

[2016-09-19 19:16] Adenilson commented on #4733
Yep, it seems to be fixed (closing the issue).

[2016-09-19 19:16] #4733 closed

[2016-09-19 19:44] glennw commented on #13317
My guess is we just do the wrong thing and other fonts are not supported yet - @pcwalton ?

[2016-09-19 19:47] glennw commented on #13298
@mrobinson Do you have a sense of how much work is involved to fix this behaviour? Do you think we could bump up the priority on this? I'd like to get it resolved soon, since it is going to affect the public webrender APIs.

[2016-09-19 20:37] #13123 closed

[2016-09-19 20:40] pcwalton opened #13326 "Never-ending display list building loop on cnn.com"
Go to http://cnn.com/. After taking a long time to load, Servo spins in `build_display_list()` using 100% CPU and the page is unusable.

[2016-09-19 21:30] splav opened #13327 "JS engine crash while implementing IndexedSetter."
I'm working on https://github.com/servo/servo/issues/13129
The WIP branch is https://github.com/splav/servo/tree/HTMLOptionsCollection%2313129
How to reproduce:
`./mach test-wpt tests/wpt/web-platform-tests/html/semantics/forms/the-select-element/common-HTMLOptionsCollection.html`

Crash log with debug info:

[crash_debug.txt](https://github.com/servo/servo/files/481164/crash_debug.txt)

[2016-09-19 21:32] splav commented on #13327
There are two lines doing almost the same thing with comments in the failing test - first leads to crash, second works fine.

[2016-09-19 21:40] jdm commented on #13327
Somehow we have an ObjectOpResult that gets used that hasn't been initialized. However, https://github.com/splav/servo/commit/264d027b40a6c35dbdc23172235592221031209a#diff-60d01595cff328c165842fea9e4ccbc2R4856 calls the `failNoNamedSetter` method, which is [supposed to initialize it](https://dxr.mozilla.org/mozilla-central/rev/f0f15b7c6aa77a0c5750918aa0a1cb3dc82185bc/js/public/Class.h#164), so the

[2016-09-19 21:41] #13321 closed

[2016-09-19 23:02] #11618 closed

[2016-09-20 01:21] #13299 closed

[2016-09-20 01:22] AndrewPardoe commented on #13325
Let me find someone to investigate. This week is kind of busy at CppCon so my search may have noticeable latency.

[2016-09-20 03:51] jdm commented on #11444
This is intended to be worked on by a group of students this term. Please talk to me before anybody starts to work on it!

[2016-09-20 05:02] #12124 closed

[2016-09-20 07:18] glennw commented on #13140
This merged and simple overlay scrollbars are enabled on the main frame. I'll enable them on other scroll roots and iframes soon.

[2016-09-20 08:47] ashrko619 commented on #13231
@jdm I did not know whether to work on this without being assigned 🙈
So here the methods ```Encode``` and ```Encoding``` use encoder.
What should we do here ?

[2016-09-20 08:49] ofekd commented on #13040
I have the code written but I can't verify the tests are passing, because of this:

[code]

Tried running `update-manifest`. Anyone knows how to fix it?

[2016-09-20 09:34] KiChjang commented on #13040
Check if the test is enabled?

[2016-09-20 10:26] MortimerGoro commented on #10209
I'll be working at uniformMatrix2fv, uniformMatrix3fv, uniformMatrix4fv and framebufferRenderbuffer, framebufferTexture2D, renderbufferStorage.

I'm going to run more demanding webgl demos and measure perf on servo and I need those functions ;)

[2016-09-20 10:32] ofekd commented on #13040
@KiChjang I've read the documentation but probably missed it, where are tests enabled/disabled?

[2016-09-20 11:01] splav commented on #13327
The thing is that the diff part is for NamedSetter. And the error is in
IndexedSetter. I'm not at computer now, and can't check, but it could be an
error in IndexedSetter binding generator part, that I havn't changed.

20 сент. 2016 г. 12:41 AM пользователь "Josh Matthews" <
notifications@github.com> написал:

[2016-09-20 12:38] jdm commented on #13231
The encoding specification [changed](https://github.com/whatwg/encoding/commit/8360f775c8df145f649047c7d59c5ff733ade112) so that TextEncoder only ever uses UTF-8 now. That means that we don't need an encoder variable in our implementation any more; we can use the UTF-8 encoder directly everywhere instead.

[2016-09-20 13:27] jdm commented on #13040
If you're on linux, I bet it's caused by https://dxr.mozilla.org/servo/source/tests/wpt/metadata/webgl/conformance-1.0.3/__dir__.ini#2

[2016-09-20 16:51] ofekd commented on #13040
thanks @jdm, submitted PR #13337

[2016-09-20 16:52] jrmuizel opened #13338 "Support multiple windows"
We'll need at least Webrender support for this for Webrender in Gecko.

[2016-09-20 17:37] jdm opened #13339 "http_network_fetch doesn't return a network error if obtain_response returns an error"
In particular, https://fetch.spec.whatwg.org/#http-network-fetch step 4 says we should be returning a network error for SSL errors, but instead we only set a termination reason. This seems to be a confusion about the earlier text which says "If fetch is being terminated, then set response's termination reason to reason.", which refers to external termination (like a timeout or explicit cancellatio

[2016-09-20 18:34] pcwalton commented on #13317
I doubt we do the right thing here.

[2016-09-20 18:35] jdm opened #13340 "Appveyor gnu build is broken"
Every build shows the following:
[code]

[2016-09-20 19:21] MSleepyPanda commented on #13317
I could create a patch for WR, but i'm not _that_ familiar with the servo/gfx code to update the font handling.
Actually i'd like to contribute, but it would take some time.

[2016-09-20 22:02] jdm opened #13341 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/textures/origin-clean-conformance.html"
[code]

[2016-09-20 22:38] notriddle commented on #13284
Working out an approach to how to do this (mentioning possibilities that I need to handle):

* When a float speculation failure is detected, by making an `available_rect` call on the float object, a flag is added to the block flow in question.

* During block assignment on the parent (unless I'm misunderstanding the code, this is also the point when inline flows are moved around to avoid floats),

[2016-09-21 00:19] #11862 closed

[2016-09-21 02:08] glennw commented on #13338
I haven't thought about this too deeply... but it seems like the best way to implement this would be to create a new webrender instance for each window.

This would guarantee that rendering performance of one window would be unaffected by any rendering occurring in other windows (apart from OS / GPU driver scheduling that is outside our control anyway).

This would complicate migrating tabs betwee

[2016-09-21 02:37] jdm opened #13342 "Intermittent crash in /html/dom/reflection-misc.html"
Least useful crash stack:

[code]

[2016-09-21 03:13] Macmee opened #13343 "Tokens not found"
Tokens not found
### URL:
http://reddit6.com
### Servo Version:
Servo 0.0.1-7c0dfd0
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-09-21 03:18] Wafflespeanut opened #13344 "Return the error codes instead of implicitly returning None"
Some of the methods in `testing_commands.py` have a returning pattern like,

[code]

Instead of doing that check and implicitly returning `None`, we could just return the result, since `0` and `None` have the same boolean evaluation in python.

Code: `python/servo/testing_commands.py`

[2016-09-21 03:18] highfive commented on #13344
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 05:14] bubbles231 commented on #13344
I would like to take this issue.

[2016-09-21 05:15] Wafflespeanut commented on #13344
Great!

[2016-09-21 05:32] uber1geek commented on #13344
I wanted to work on this issue as well :)

[2016-09-21 05:37] Wafflespeanut commented on #13344
Sorry, @bubbles231 claimed this first. Feel free to poke other unclaimed easy issues, or comment here (or ping us at the `#servo` channel in the IRC) if you want help :)

[2016-09-21 05:42] bubbles231 commented on #13344
So maybe I am confused here but 0 != None.

[2016-09-21 05:43] bubbles231 commented on #13344
Sorry if you fell that I am not smart enough to contribute. I won't touch the code again.

[2016-09-21 05:48] Wafflespeanut commented on #13344
I meant that they both have similar boolean evaluation (i.e) how the `__nonzero__` magic method is implemented. In other words,

[code]

Hence, there's no great reason to prefer `None` instead of `0` :)

[2016-09-21 06:27] bubbles231 commented on #13344
un assign me please

[2016-09-21 06:31] uber1geek commented on #13344
I am still interested in taking up this issue :)

[2016-09-21 06:36] Wafflespeanut commented on #13344
@bubbles231 Thanks for letting us know!

@uber1geek It's yours then! :)

[2016-09-21 07:47] uber1geek commented on #13344
@Wafflespeanut Return result seems good, I was thinking if we just make it an empty value. it will evaluate to false and that solves the issue imo.

[2016-09-21 08:04] KiChjang commented on #13344
I'm not sure what you're trying to get at here. This is what I think is being proposed:
[code]

[2016-09-21 08:52] mikkorantalainen opened #13347 "Tokens not found (while running with "strace -f ./runservo.sh" and loading "peda.net")"
Tokens not found
### URL:

### Servo Version:
Servo 0.0.1-8a78e75
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-09-21 09:27] saneyuki opened #13348 "Build failure with macOS Sierra"
## env
- https://github.com/servo/servo/commit/821797d6f7728b512ffd8f59053f9040744e2c53
- macOS Sierra (OSX 10.12)
## Steps to reproduce

`./mach clean && ./mach build --dev`
## Actual Result
### linking errors

tracking in https://github.com/servo/servo/issues/11846
### compiling mozjs-sys is failed

<details>

[code]

</details>

[2016-09-21 09:29] saneyuki commented on #13348
This should be fixed by https://github.com/servo/mozjs/pull/103

[2016-09-21 11:23] saneyuki commented on #11846
(Of course, we need to face to this issue...)

if you cannot wait fix this, and you still have a old xcode (~7.3) in your machine's `/Library/Developer/CommandLineTools/`, you can avoid this with`xcode-select --switch /Library/Developer/CommandLineTools/`.

[2016-09-21 11:59] jdm commented on #13343
@Macmee Do you have any steps to reproduce this? I pushed some random buttons on reddit6.com but didn't come across anything suspicious.

[2016-09-21 12:01] jdm commented on #13343
That being said, the panic message suggests that this is a duplicate of #12799 and will be fixed by #13311.

[2016-09-21 12:18] jdm commented on #13347
This is a duplicate of #12799. Thanks for reporting it!

[2016-09-21 12:18] #13347 closed

[2016-09-21 13:24] paulrouget commented on #13338
If there are 2 windows, how many main::Browser, Constellation, WR and Compositor instances will be needed?

[2016-09-21 13:28] jdm opened #13350 "Report tidy error for space after ("
We want to automatically report code like `some_function( argument)` as a style guide violation. This can be added to our list of regexes (`regex_rules`) that we perform on every Rust source file.

Code: `python/tidy/servo_tidy/tidy.py`
Test: modify `python/tidy/servo_tidy_tests/rust_tidy.rs` to add the error, and update `test_rust` in `python/tidy/servo_tidy_tests/test_tidy.py`. Run the test with

[2016-09-21 13:28] highfive commented on #13350
cc @wafflespeanut

[2016-09-21 13:28] highfive commented on #13350
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 13:57] saneyuki opened #13352 "servo/angle binding repo should go the same way with SpiderMonkey"
https://github.com/servo/angle is still in chaos, and to follow an upstream is a bit hard way.

SpiderMonkey is managed in 2 repository, https://github.com/servo/mozjs and https://github.com/servo/rust-mozjs to upgrade continuously. So we should follow its way.

[2016-09-21 13:57] paulrouget opened #13353 "If mozbrowser, give a chance to the top level pipeline to interrupt key events"
Key events are sent straight to the focused pipeline. Which makes sense.

But in the case of browserhtml, we want to be able to catch the event before it goes to the focused pipeline, and maybe cancel its propagation, and once the key event is consumed by the focused pipeline, we also want it to bubble back to the top level pipeline and check the value of event.preventDefault.

For example, if the

[2016-09-21 14:16] jdm commented on #13353
I guess this is about duplicating the logic that exists for the compositor, which gets all of the non-prevented key events after the focused pipeline has finished with them.

[2016-09-21 15:10] #13313 closed

[2016-09-21 15:37] asajeffrey commented on #633
Just discovered this very old issue! I think it should be eTLD+1 rather than eTLD, but otherwise yes.

[2016-09-21 15:41] asajeffrey commented on #5239
See #633.

[2016-09-21 15:47] asajeffrey commented on #633
IRC chat at http://logs.glob.uno/?c=mozilla%23servo&s=21+Sep+2016&e=21+Sep+2016#c526896

[2016-09-21 16:13] #13144 closed

[2016-09-21 16:20] jdm opened #13355 "Make it possible to obtain the type of a DOM node from the debugger"
[code]

[2016-09-21 16:23] paulrouget commented on #13353
I'd like to work on that.

[2016-09-21 16:24] jdm commented on #13355
This is a result of #7873, since before that change we could look at the members of the DOM node and see what type is was.

[2016-09-21 16:34] asajeffrey commented on #633
In that IRC chat, Ms2ger pointed out that you can use `window.open` to enable communication between same-origin documents in different tabs. For example:
[code]
If you open that document twice in two separate tabs, after they've both loaded, they share a `new_win` object, and can communicate, e.g. with `new_win.document.body.setAttribute()` and `...getAttribute()`. This behaviour exists in FF.

Th

[2016-09-21 16:41] asajeffrey commented on #633
The easiest way to do this would be to include a hash map in the constellation which maps eTLD+1 to script channels. When a new pipeline is created, we should look up the eTLD+1 in the hash map, and use that to decide whether or not to recycle a script thread.

This does mean we need to think about how to freeze/thaw pipelines, since a script thread may contain some pipelines that are frozen, and

[2016-09-21 16:43] metajack commented on #633
Doesn't this mean that the case where I have N google docs tabs open means they all share the same script thread? That seems bad.

[2016-09-21 16:44] TheKK commented on #11861
I'd like to work on this one, Could you assign it to me :)

[2016-09-21 16:44] Ms2ger commented on #13355
Can we get a gdb pretty printer? @Manishearth

[2016-09-21 16:47] asajeffrey commented on #633
@metajack indeed it does, and yes this is bad. The only way round this I can see is to make DOM objects shareable between threads, which also seems bad.

[2016-09-21 16:53] metajack commented on #633
Another option is to deal with that stuff via message passing, and take the performance penalty. It may be worth trading poor performance in this (assumedly rare) setup than trading away baseline performance for multiple tabs.

Do e10s Firefox and Chromium make sure all eTLD+1 tabs are in the same content process?

[2016-09-21 17:02] anholt commented on #10209
@MortimerGoro I've been working on FBO support (see a couple of recent merges, and https://github.com/anholt/servo/tree/webgl-fbo).  I also put together https://github.com/anholt/servo/tree/webgl-uniform-matrix-v for uniformmatrix, but the testing needs to get debugged.

[2016-09-21 17:15] jdm commented on #13353
Great!

[2016-09-21 17:17] jdm commented on #11861
Please do!

[2016-09-21 17:18] paulrouget commented on #13253
Happens here as well.

[2016-09-21 17:22] MortimerGoro commented on #10209
@anholt awesome! do you need any help with the uniformmatrix testing?

[2016-09-21 17:25] jdm commented on #633
I am concerned about the complexity of transparent, synchronous, cross-thread DOM objects. We already need something like that for XOWs, but that was at least going to be a very limited set of operations that would need to be proxied.

[2016-09-21 17:31] tomaka commented on #9558
For the record, the function itself has been deprecated but a replacement has been added in a trait named `WindowExt` that is only available on Linux.
This was done to mimic the way the stdlib handles platform-specific stuff.

[2016-09-21 17:31] pcwalton commented on #13338
Yeah, what Glenn said seems right. There should only be one constellation and possibly multiple compositors (as I believe events are generally per-window in most toolkits).

[2016-09-21 18:43] tschneidereit opened #13357 "--profiler-trace-path doesn't emit proper labels"
Instead of proper labels the html, it contains numbers:
https://rawgit.com/tschneidereit/7cd9226a80ffce933b498c478012f229/raw/5adab5e697e337fba904f45c320430a09106d7a7/test.html

[2016-09-21 19:03] asajeffrey commented on #633
OK, here are two ideas:

1. Script thread merging: make sure script threads for the same eTLD+1 are at least in the same process, but not the same thread. If we ever discover sharing happening, we merge the two script threads. I'm not sure if SM allows this, though, since this probably requires heap merging, which the SM GC may not be too happy about.

2. Lock merging: give each script thread a lo

[2016-09-21 19:11] metajack commented on #633
I asked @tschneidereit if SpiderMonkey could migrate compartments, and he says this isn't possible currently and is probably not something the SM team would want to do.

[2016-09-21 19:16] emilio opened #13359 "Intermittent timeout of /_mozilla/webgl/conformance-1.0.3/conformance/attribs/gl-matrix-attributes.html"
[code]

(And so on)

[2016-09-21 19:45] tschneidereit commented on #633
I just talked to billm and he says that the Gecko team decided to break this functionality for multi-content process FF. He didn't know what other browsers are doing here.

[2016-09-21 19:50] asajeffrey commented on #633
Unsurprisingly, script thread migration is out, but lock migration should still be okay shouldn't it? Does SM use thread affinity (e.g TLS) for anything?

[2016-09-21 19:51] metajack commented on #633
If Firefox broke this, we certainly can :) But let's figure out what Chrome does before we decide.

[2016-09-21 19:57] saneyuki commented on #13352
I created a new repository to re-organize the binding for angle: https://github.com/saneyuki/rust-angle

[2016-09-21 20:15] saneyuki commented on #13352
- Motivation
  1. servo/angle 's commit history is chaos, and it mixes upstream patches and our patches. it was hard to find our base revision of google's upstream.
  2. To do the same style with rust-mozjs/mozjs, I cherry-picked patches from servo/angle by hand.
- The current status of this repository is:
  - re-apply patches to make it same degree with https://github.com/servo/angle/commit/832ff

[2016-09-21 20:15] asajeffrey commented on #633
OK, tried in under Chrome. Calling window.open("same_target") from two different tabs opens two new tabs. So Chrome has switched off this back channel too. So if we wanted to, we could use the same interpretation of the spec, and go back to the original idea of sharing script threads per tab-and-eTLD+1.

[2016-09-21 20:24] Mylainos commented on #13350
I would like to work on this one !

[2016-09-21 20:28] metajack commented on #633
That sounds like the right plan then. Thanks for testing this.

[2016-09-21 20:37] CAfromCA commented on #13257
Some of these may be issues rendering the servo.org home page, which I am also seeing. The page renders for a split second, then appears to go white.

If I scroll far enough, though, the "Contributing" section appears as does the rest of the page below that. I can also move my mouse around in the blank area until the pointer changes to find and click on invisible links like the download button.

@

[2016-09-21 20:48] jdm commented on #13350
Please do!

[2016-09-21 21:25] emilio opened #13360 "Intermittent failure of /_mozilla/css/inline_block_opacity_change.html"
[code]

[2016-09-21 21:30] ofekd commented on #11444
@jdm Can I join the effort?

[2016-09-21 21:33] jdm commented on #13360
Non-reference:
<img width="28" alt="screen shot 2016-09-21 at 5 32 44 pm" src="https://cloud.githubusercontent.com/assets/27658/18729851/84cd223e-8021-11e6-9f7a-29eda8efb4d2.png">
Reference:
<img width="31" alt="screen shot 2016-09-21 at 5 32 49 pm" src="https://cloud.githubusercontent.com/assets/27658/18729860/8c0b2e38-8021-11e6-8805-0f007f395d65.png">

[2016-09-21 22:27] KiChjang commented on #8079
What should be done specifically here? Should we write tests that ensure JSValues/JSObjects aren't GC'd when they are needed, and write another set that intentionally fails to prove that the SM GC is functioning correctly?

[2016-09-21 22:30] gaby2300 commented on #13257
@CAfromCA I get the same results as you. Clicking the Start Contributing button leads me to a Servo Starters site and a list of open issues. Clicking an invisible link at the top where the pointer changes to a hand lead me to a screenshot titled "browser.html - Servo". "Servo, the parallel browser" and a blue download button to for a Servo nightly build inside are part of the screenshot's content.

[2016-09-21 22:56] jdm commented on #11444
@ofekd Sorry, I think that would make evaluating their work for academic credit too complicated.

[2016-09-21 22:56] jdm commented on #11444
I can CC you on other issues you might be interested in, however!

[2016-09-21 23:05] jdm commented on #13355
Is it possible to call functions from non-master gdb/lldb? We could make a standalone helper for this purpose.

[2016-09-21 23:09] jdm opened #13362 "Remove same-origin-data-url flag from fetch implementation"
https://github.com/whatwg/fetch/pull/387

[2016-09-21 23:11] jdm commented on #13264
@jmr0 Does this look interesting to you?

[2016-09-21 23:11] highfive commented on #13262
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 23:12] jdm commented on #13262
We can add this to `tests/unit/layout/size_of.rs`.

[2016-09-21 23:13] jdm commented on #13242
@ofekd Does this look interesting?

[2016-09-21 23:15] KiChjang commented on #13242
@jdm Is this not blocked on #11612?

[2016-09-21 23:16] highfive commented on #13196
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 23:17] jdm commented on #13196
Code: `components/script/dom/eventtarget.rs`, `components/script/dom/eventdispatcher.rs`

[2016-09-21 23:18] jdm commented on #13197
This is intended as a project for a group of students at NCSU this term. Please don't work on it without talking with me first!

[2016-09-21 23:18] jdm commented on #13242
Whoops, I missed that. Sorry!

[2016-09-21 23:20] jdm commented on #13169
Duplicate of #11733. Thanks for reporting it!

[2016-09-21 23:20] #13169 closed

[2016-09-21 23:24] jdm commented on #13152
@ofekd Does this look interesting? This is in the code in `components/script/dom/eventtarget.rs`.

[2016-09-21 23:29] jdm opened #13363 "Check whether the document has scripting enabled when compiling event handlers"
There's a TODO about checking whether scripting is enabled. We can now do that using `document.is_scripting_enabled()`, so we should.

Code: `components/script/dom/eventtarget.rs` (`get_compiled_event_handler`)

I haven't thought of a way to test this, so no need to spend time figuring that out.

[2016-09-21 23:29] highfive commented on #13363
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 23:29] KiChjang commented on #12967
@saurvs The end of the week never came...

[2016-09-21 23:30] jdm commented on #13363
Oh, and the full text of 1.2 is `If document does not have a browsing context, or if scripting is disabled for document's browsing context, then return null.`, so we can check the presence of a browsing context via a method on Document as well.

[2016-09-21 23:33] highfive commented on #13035
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-21 23:35] jdm commented on #13024
We're using mp4parse now.

[2016-09-21 23:35] #13024 closed

[2016-09-21 23:40] AlexSnet opened #13364 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }
### URL:
### Servo Version:

Servo 0.0.1-7c0dfd0
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-09-21 23:53] emilio commented on #13364
Hi, thanks for reporting this, do you have any URL for where this happened? Or it was just browsing normally using browser.html?

[2016-09-21 23:54] jdm commented on #13364
Looks like a duplicate of #13054 . Which operating system was this on?

[2016-09-21 23:59] Phrohdoh commented on #13363
I'll take this on if someone else hasn't claimed it already.

[2016-09-22 00:03] KiChjang commented on #13363
It's yours!

[2016-09-22 00:12] KiChjang commented on #13363
Relevant spec: https://html.spec.whatwg.org/multipage/webappapis.html#getting-the-current-value-of-the-event-handler

[2016-09-22 00:17] jmr0 commented on #13264
@jdm Yep! Happy to hear more about it.

[2016-09-22 00:26] larsbergstrom commented on #13257
The problem is that, with the MSVC  toolchain, we are by default currently not able to find the fonts:
[code]

In order to get errors in the console, of course, after doing a build you need to do `editbin /SUBSYSTEM:CONSOLE target\debug\servo.exe`

cc @metajack

[2016-09-22 00:59] #9186 closed

[2016-09-22 02:19] jdm commented on #13264
It's going to require:
* Adding an API to BrowserElement.webidl
* Communicating with the compositor to initiate a WindowAndPng composite
* Sending the image data to the iframe that initiated it (probably by including a pipeline in the original request, then sending the response via the constellation to the parent of that pipeline)
* Possibly creating an ImageData value with the result, or somethin

[2016-09-22 03:21] Manishearth commented on #13355
I don't think the Rust support is in any release right now.

[2016-09-22 03:28] Manishearth commented on #13355
gdb also lets you define python functions, so you can do something like `p $getClass(object)` in gdb

https://github.com/Manishearth/gdb/commit/e904850adcaf587d06d203f7b0c7953b63fbb53e is an example (ignore the doc comment, missed fixing it when copy pasting a different function)

[2016-09-22 04:48] tyoc213 opened #13366 "windows nightly build cant type password correctly"
Hi there, I have downloaded nightly build maybe 1 or at most 2 days, when I enter to github and try to join with this user and password I have this behaviour
- If I type a uppercasse letter, I need to hit the key for a second time for a dot in the password to show
- Even that I carefully see that the count of dots of my password match, on submit I cant log in.

Yes my password uses uppercase, lowe

[2016-09-22 05:01] jdm commented on #12769
ffmpeg is gone.

[2016-09-22 05:01] #12769 closed

[2016-09-22 06:09] anholt commented on #10209
@MortimerGoro just figuring out what's going on with the unreliable results.

[2016-09-22 06:34] niksmac opened #13368 "Tokens not found"
Tokens not found
### URL:

### Servo Version:
Servo 0.0.1-ecb44e7
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-09-22 06:38] Ms2ger commented on #8079
Tests can only prove the presence of bugs, not their absence. The "prove" in the title refers to software formalization.

[2016-09-22 06:42] fflorent commented on #13262
I'd like to take this one if you don't mind :).

Florent

[2016-09-22 06:45] Wafflespeanut commented on #13368
similar to #13343

[2016-09-22 07:40] aochagavia opened #13369 "Fail gracefully when no fonts are found"
As noted by @larsbergstrom on https://github.com/servo/servo/issues/13257#issuecomment-248780914, Servo displays a white screen on Windows (when built with MSVC) because it can't find any fonts (see https://github.com/servo/servo/issues/13257 for context).

IMO failing to load fonts should trigger some kind of error instead of displaying an uninformative blank screen. Some alternatives come to min

[2016-09-22 07:46] #13327 closed

[2016-09-22 07:49] emilio commented on #5876
I assume this can be closed now #13333 has landed?

[2016-09-22 08:26] aochagavia commented on #13257
The problem is in `components/gfx/platform/mod.rs`

[code]

[2016-09-22 08:33] niksmac commented on #13368
similar to #13343

[2016-09-22 08:33] #13368 closed

[2016-09-22 08:47] aochagavia opened #13371 "Implement font rendering on Windows (MSVC)"
The dummy implementation in `components/gfx/platform/mod.rs` should be replaced by a real one:

[code]

Currently, the lack of a proper implementation causes Servo to show a blank screen upon being launched (see https://github.com/servo/servo/issues/13257).

[2016-09-22 10:28] paulrouget commented on #13353
Let's call mozbrowser's pipeline script thread P1, and focused nested iframe pipeline script thread P2.

Constellation can get a KeyEvent message from both the compositor and the script thread, and the event comes with a response channel.

The path of the key event in this case would be:

- ports' window,
- compositor
- constellation
- P1
  - DOM event capture phase, reaching the iframe node
  - D

[2016-09-22 10:42] splav commented on #5876
I will grep for the links to this bug in the code. If there is nothing left, this can be closed. I'll clean up the remaining comments in the next PR in order to save another useless CI round.

[2016-09-22 10:45] jgraham opened #13373 "MotionMark benchmark doesn't run"
It would be nice to see how Servo does in [MotionMark](https://webkit.org/blog/6943/motionmark-a-new-graphics-benchmark/). However this seems to not work, probably for a variety of reasons.

The first error I see is:

    ERROR:script::dom::bindings::error: Error at http://browserbench.org/MotionMark/resources/runner/animometer.js:443:21 window.matchMedia is not a function

[2016-09-22 10:53] ofekd commented on #13152
@jdm Yeah I can do this one. Though take into account I'm still not fast solving things in Servo

[2016-09-22 13:38] jdm commented on #13152
That's fine! Please ask questions if anything's unclear.

[2016-09-22 13:44] jdm commented on #13262
Please do!

[2016-09-22 13:49] jdm opened #13375 "Media element network response processing code should invoke failure steps if there's no metadata"
#12671 made this change but wasn't finished, and a bunch of test results needed [updating](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations). It would be great to resurrect that work!

[2016-09-22 13:49] highfive commented on #13375
Please make a comment here if you intend to work on this issue. Thank you!

[2016-09-22 13:52] jdm opened #13376 "Implement window.matchMedia and MediaQueryList"
Spec: https://drafts.csswg.org/cssom-view/#dom-window-matchmedia , https://drafts.csswg.org/cssom-view/#mediaquerylist

Part of this work is already complete because we support CSS media queries.

[2016-09-22 13:53] jdm commented on #13373
Filed #13376 for matchMedia. Turning this into a metabug.

[2016-09-22 14:06] Nebopolis commented on #13274
I am able to reproduce this in the latest mac0S build by typing in fivethirtyeight.com in the url bar from a fresh session. there does appear to be some additional information in the current backtrace:

### Servo Version:
Servo 0.0.1-ecb44e7
### Backtrace:
[code]

[2016-09-22 15:09] jdm opened #13377 "Extract panic-catching for JS engine callbacks into a separate function"
All of our generated code contains inline code like this:
[code]
This comes from CodegenRust.py. We should extract this pattern into a useful function in `utils.rs` that accepts two argument, and has two generic types: the first argument is a type that implements the Fn trait, and the second argument is the generic return type for the function (either `()` or `false`). This will turn our generated

[2016-09-22 15:10] jdm commented on #13377
To see the generated output, take a look at any source file in `target/debug/build/script-[hash]/out/Bindings`.

[2016-09-22 15:19] tyoc213 commented on #13366
Well in fact write in almost all text inputs cause some trouble... maybe a lag? or a double typing of the same word, also I some times write a s, then hit s again because I dont see it and I end up with 3 s like "sss" instead of 1 or 2 (which was the strokes I made).

Windows 10 home, core i7-4710HQ

[2016-09-22 16:29] retep998 opened #13378 "Account for sRGB"
Currently Servo, like all other major browsers, does not account for the non-linear nature of sRGB. This means that any sort of blending or resizing operation is inherently flawed and incorrect.

The solution to this will likely involve webrender, making sure images are loaded as srgb textures so the GPU will convert to linear when sampling from them, and setting the output framebuffer to be srgb

[2016-09-22 16:36] retep998 commented on #13369
If no fonts are found on a Windows system, then you're in deeply screwed territory, so I'm in favor of the first option.

[2016-09-22 16:55] SaschaNaz opened #13379 "JS testers does not work on Servo Windows build"
[Kangax ES5 test](http://kangax.github.io/compat-table/es5/) does not load properly and [a simple JS detector](http://isjavascriptenabled.com/) does not work.

![image](https://cloud.githubusercontent.com/assets/3396686/18757873/ac314f3e-8130-11e6-9017-e8089ad37252.png)

![image](https://cloud.githubusercontent.com/assets/3396686/18757878/b1d6b65e-8130-11e6-9276-6eddf307432f.png)

[2016-09-22 17:10] #13040 closed

[2016-09-22 18:07] splav commented on #5876
I've found only one link and it was fixed by linked PR. So this can be closed. I'll remove the link in my next PR. (Should have done it in that PR...)

[2016-09-22 18:08] #5876 closed

[2016-09-22 19:18] #11763 closed

[2016-09-22 19:35] glennw commented on #13378
Agreed, we should do this! It's not a huge amount of work (basically the steps outlined above), but it's quite fiddly to get the entire pipeline correct and ensure everything is in the correct space at the right time.

[2016-09-22 19:54] Mylainos commented on #13377
Do you mean `components/script/dom/bindings/utils.rs` and `components/script/dom/bindings/codegen/CodegenRust.py` ?

[2016-09-22 20:06] jdm commented on #13377
Exactly.

[2016-09-22 20:07] splav commented on #12974
I would like to take this one.

[2016-09-22 20:12] Mylainos commented on #13377
Can I try this one ?

[2016-09-22 20:24] jdm commented on #12974
Great! Please ask questions about anything that's unclear.

[2016-09-22 20:25] jdm commented on #13377
Please do!

[2016-09-22 20:36] jdm opened #13381 "Make --no-pause-after-test the default for test-wpt/test-css"
The console shows the relevant output better than the summary page that appears in the browser. Making the window close immediately after the test finishes seems sensible to me; special behaviour that needs it to remain open can use the `--pause-after-test` flag instead.

[2016-09-22 20:50] KiChjang commented on #13381
cc @Wafflespeanut

[2016-09-22 21:38] #4282 closed

[2016-09-23 01:37] notriddle commented on #13378
Am I the only one who's worried about making some webpages look crappy because the authors already tried to compensate and we end up compensating a second time?

[2016-09-23 02:27] retep998 commented on #13378
@notriddle Until someone can find an example of an actual website in the wild that compensates for the lack of sRGB compliance in modern browsers, I wouldn't be too worried about that.

[2016-09-23 04:20] jdm opened #13384 "Intermittent failure in /_mozilla/mozilla/promise.html"
[code]

[2016-09-23 04:37] jdm commented on #13384
This is the `assert_true(end - start > 100);` assertion failing. I'm surprised, since the resolution isn't supposed to occur for 100ms, and it uses the same mechanism internally as regular web timers.

[2016-09-23 04:47] jdm commented on #13274
I can reproduce this in the nightly. Trying to do the same in a local debug build now.

[2016-09-23 05:49] jdm commented on #13274
Huh, there are 2072 threads active when I get a panic message saying that a new thread can't be spawned.

[2016-09-23 07:43] aochagavia commented on #13369
I discovered that the font loading issue was actually caused by https://github.com/servo/servo/issues/13371 (font-related functionality is not implemented for Windows + MSVC). At this point I feel more inclined to just close this issue and do nothing, since I cannot think of any real-world scenario where fonts are unavailable (feel free to reopen, though, in case there is one).

[2016-09-23 07:43] #13369 closed

[2016-09-23 08:06] aochagavia commented on #13371
I wold like to help with this but have no idea where to begin. Would it be possible to use FreeType on (Windows, MSVC)? What are other browsers out there doing?

[2016-09-23 09:17] paulrouget commented on #13353
@jdm does it sound like the right approach? I'm not 100% sure it's necessary to use a response channel. I imagine it's also possible to just use another message.

[2016-09-23 09:42] johansigfrids opened #13391 "Tokens not found"
Tokens not found
### URL:

### Servo Version:
Servo 0.0.1-ca30ad7
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-09-23 09:42] johansigfrids commented on #13391
This was when loading http://spf13.com/post/joining-go-team-at-google

[2016-09-23 09:44] Ms2ger opened #13392 "Intermittent timeout in mozbrowsersecuritychange_event.html"
https://github.com/servo/servo/pull/13385

[2016-09-23 11:09] #11897 closed

[2016-09-23 13:48] jdm commented on #12654
[code]

[2016-09-23 13:48] emilio opened #13395 "Intermittent timeout of /WebCryptoAPI/import_export/rsa_importKey.worker"
[code]

[2016-09-23 13:49] jdm commented on #13395
Dupe of #send-usp.

[2016-09-23 13:49] #13395 closed

[2016-09-23 13:50] #12799 closed

[2016-09-23 14:18] aochagavia commented on #13196
This change requires editing (EventTargetMethods)[https://doc.servo.org/script/dom/bindings/codegen/Bindings/EventTargetBinding/trait.EventTargetMethods.html], which is a generated binding. Where should one make the changes so they are reflected in the generated code?