[2016-02-17 02:00] nhirata commented on #6414
Chinese and Japanese characters are double byte and use UTF-16.

[2016-02-17 02:02] nhirata opened #9670 "xml:lang="ja" is not supported."
./mach run http://people.mozilla.org/~nhirata/html_tp/utf16j-find.html
Should show :
あ
い
う
え
お

あ
い
う
え
お

あ
い
う
え
お

あ
い
う
え
お

Actual:
<img width="770" alt="screen shot 2016-02-16 at 6 01 38 pm" src="https://cloud.githubusercontent.com/assets/1091409/13097609/607105c2-d4d7-11e5-9a0d-0163c1ebca2c.png">

[2016-02-17 02:03] frewsxcv commented on #9670
Possibly a duplicate of https://github.com/servo/servo/issues/6414

[2016-02-17 02:12] nhirata opened #9671 "Jump tag seems to have a performance when you click on one jump tag to another."
1) ./mach run http://people.mozilla.org/~nhirata/html_tp/jumptag.html
2) click on "Go to Bottom"
3) immediately click "Go to Top"
Expected: you will scroll to the top immediately
Actual: doesn't respond.

[2016-02-17 02:26] nhirata commented on #6092
Not sure if this deserves a separate bug or not, the date is incorrect as well (something from bug 459035; https://bugzilla.mozilla.org/show_bug.cgi?id=459035 )

Firefox doesn't get it right either, and we're not consistent:
I compared servo to firefox :
1) ./mach run http://people.mozilla.org/~nhirata/html_tp/bug459035.html
<img width="536" alt="screen shot 2016-02-16 at 6 23 24 pm" src="https://

[2016-02-17 02:34] nhirata opened #9672 "Infinite loop in Javascript will cause the servo to hang when trying to close it."
1) ./mach run http://people.mozilla.org/~nhirata/html_tp/OOMCrash.html
2) click the button
3) close servo

Expected: servo will close
Actual: servo process will hang

[2016-02-17 02:49] nhirata opened #9673 "Implement `word-break: keep-all'"
1.  ./mach run http://people.mozilla.org/~nhirata/html_tp/wordbreak.html
2. adjust the window

- Expected: last line doesn't break
- Actual: last line breaks

[2016-02-17 02:55] nhirata commented on #4409
Please consider selection Test page of combo boxes made by mfinkle : http://people.mozilla.org/~nhirata/html_tp/select_test.html for whoever ends up implementing this.

[2016-02-17 03:03] connorimes opened #9674 "Mach does not build/install new Android apk after initial install"
Doing an incremental android build after making some changes does not appear to build/deploy a new apk when running:

[code]

if you've already installed android without deleting the android target directory and rebuilding everything.

[2016-02-17 03:04] danlrobertson commented on #9666
After looking at `./mach update-wpt --help` I found

[code]

`tests/wpt/harness/wptrunner/commandline.py` defines the argument in `create_parser_update` as

[code]

so theoretically we could change this to `--patch`, swap every usage of `no_patch` to `patch`, and `not` every conditional it is used in, but i could be wrong.

[code]

[2016-02-17 03:26] jdm commented on #9671
Interestingly it works immediately if you scroll the page.

[2016-02-17 03:27] jdm commented on #9669
This is coming from an iframe that hasn't loaded yet being GCed, apparently.

[2016-02-17 03:29] jdm commented on #9620
Looks like #7820, which is probably a duplicate of #6952. @pcwalton is this something you could look into?

[2016-02-17 03:31] jdm commented on #9666
Since wptrunner is actually https://github.com/w3c/wptrunner we could theoretically just reverse the argument for our mach invoker, too.

[2016-02-17 05:21] SimonSapin commented on #9670
The important part is not `xml:lang="ja"`, it’s that the file starts with bytes FF FE which is the Byte Order Mark for UTF-16-LE.

Since https://github.com/servo/html5ever/commit/2f4f64bbba1dfa4d5bd410260b90de0ffe7846a3 / https://github.com/servo/html5ever/pull/188 there is support for this in html5ever, but we still need to change Servo to use that new bytes-based API.

[2016-02-17 08:22] Ms2ger commented on #9670
Dupe

[2016-02-17 08:22] #9670 closed

[2016-02-17 09:39] SimonSapin commented on #6414
@nhirata Many encodings other than UTF-16 support Chinese and Japanese characters, and “double byte character” is a term typically used in the context of the Shift-JIS encoding. This issue is about supporting both of them and more (https://encoding.spec.whatwg.org/#names-and-labels) through https://github.com/lifthrasiir/rust-encoding

There is already some support in html5ever (https://github.com

[2016-02-17 09:53] #9637 closed

[2016-02-17 12:24] #1716 closed

[2016-02-17 12:28] farseerfc commented on #8146
Confirmed that this has been fixed in https://github.com/servo/glutin/commit/d78affcb5e45de46338f8f8082c1ed6a4a71d46c and https://github.com/servo/servo/commit/c075092fe067292b58a781169da937d1f047b62e .
I will close this issue.

[2016-02-17 12:28] #8146 closed

[2016-02-17 13:21] #9654 closed

[2016-02-17 14:31] larsbergstrom commented on #9674
Did you do `./mach package --release` after the incremental build but before doing `install` again?

[2016-02-17 14:51] connorimes commented on #9674
Ah, I seemed to have missed that step in the instructions.  Running the install target appears to have done this automatically the first time so I never knew I missed it.  It would have been nice to see a warning message or some indication from mach that a new build wasn't being installed.

[2016-02-17 15:35] KiChjang commented on #9511
@Tycheon claimed in IRC.

[2016-02-17 16:06] danlrobertson commented on #9655
I'll take a crack at this!

[2016-02-17 16:07] KiChjang commented on #9655
Sure thing!

[2016-02-17 16:28] KiChjang opened #9680 "Intermittent failure of /_mozilla/css/jumpiness_a.html"
[code]

[2016-02-17 16:28] nox commented on #9680
#8127

[2016-02-17 16:28] #9680 closed

[2016-02-17 17:48] KiChjang opened #9681 "Add is_empty for DOMString"
Code: `components/util/str.rs`

[2016-02-17 18:31] nox commented on #9681
http://doc.servo.org/servo/util/str/struct.DOMString.html?search=#method.is_empty

[2016-02-17 18:31] #9681 closed

[2016-02-17 20:40] #7320 closed

[2016-02-17 20:44] rebstar6 commented on #6542
dibs!

[2016-02-17 20:46] jdm commented on #6542
This is the `Click` method in `components/script/dom/htmlelement.rs`. We should extract the implementation of `synthetic_click_activation` from the `Activatable` trait in `components/script/dom/activation.rs`, and have it obtain an optional `Activatable` value when invoking the appropriate steps from https://html.spec.whatwg.org/multipage/interaction.html#run-synthetic-click-activation-steps (rath

[2016-02-17 20:48] Manishearth commented on #6542
Actually, it should just take an `Element`, and when it reaches step 3 "Run pre-click activation steps on the element.", it should then do `elem.as_maybe_activatable().pre_click_activation()`. Ditto for the other steps.

[2016-02-17 20:48] jdm commented on #6542
@Manishearth Yes, that's what I tried to imply in my description.

[2016-02-17 21:43] danlrobertson commented on #9666
@jdm even better :smile: I'll submit a PR in a few

[2016-02-17 22:02] #9540 closed

[2016-02-18 04:22] #7981 closed

[2016-02-18 04:23] KiChjang commented on #9561
Fixed in #9683.

[2016-02-18 04:23] #9561 closed

[2016-02-18 08:10] paulrouget opened #9687 "inline + absolute element wrongly positioned"
[code]

<img width="226" alt="screen shot 2016-02-18 at 09 08 12" src="https://cloud.githubusercontent.com/assets/373579/13137128/2acde22a-d61f-11e5-8150-8c4b26a8eb48.png">

If `top` is specified, there's no issue.

[2016-02-18 12:18] #9531 closed

[2016-02-18 14:34] jdm commented on #6733
This is now self-contained in the DOM spec:
* https://dom.spec.whatwg.org/#get-the-parent
* https://dom.spec.whatwg.org/#concept-event-dispatch step 4

[2016-02-18 15:36] Tycheon commented on #9511
I've been looking over the relevant code (components/script/dom/webidls/XMLHttpRequest.webidl, and components/script/dom/bindings/codegen and the associated commit: https://github.com/servo/servo/commit/d6df844ae532b45905ed616118d0d70903c0b84d )

If I'm reading your issue ( https://github.com/rust-lang/rust/issues/31355 ), and the .webidl correctly, it looks like the issue is that typedef'ing an e

[2016-02-18 15:50] saurvs commented on #9617
I'd like to give this a try.

[2016-02-18 15:56] jdm commented on #9511
Yes, that sounds like what we're looking for.

[2016-02-18 16:00] jdm commented on #9617
@saurvs Go for it!

[2016-02-18 16:02] Tycheon commented on #9511
For all such cases? Or just this specific one? And I'm assuming through the CodeGenRust.py file, and not just a second entry in the .rs file for the blocked PR (xmlhttprequest.rs)?

[2016-02-18 16:07] jdm commented on #9511
Right, we want this to happen automatically for every union type defined in WebIDL files.

[2016-02-18 16:49] KiChjang opened #9690 "Test coverage for HTMLFormElement planned navigation"
#8952 introduced planned navigation for submitting forms, but lacked the appropriate web platform tests for it.

Tests should live under `tests/wpt/web-platform-tests/html/semantics/forms/form-submission-0`.
Spec: https://html.spec.whatwg.org/multipage/#planned-navigation

[2016-02-18 17:52] #3648 closed

[2016-02-18 20:43] liviuba commented on #5970
I can give this a try

[2016-02-18 20:55] jdm commented on #5970
Sorry, this is currently claimed by a group of students from NCSU this term. I'll update this issue if they stop working on it.

[2016-02-18 22:14] nox opened #9692 "Remove util::split_off_head"
A combination of [`LinkedList::pop_front`](http://doc.rust-lang.org/nightly/std/collections/linked_list/struct.LinkedList.html#method.pop_front) and [`LinkedList::push_back`](http://doc.rust-lang.org/nightly/std/collections/linked_list/struct.LinkedList.html#method.push_back) can be used to replace all call sites of `util::split_off_head`.

Instead of:

[code]

Do:

[code]

Files:
 * components/la

[2016-02-18 22:19] GuillaumeGomez commented on #9692
I take it.

[2016-02-18 22:28] frewsxcv commented on #9692
Did you check how the performance compares?

[2016-02-18 22:35] nox commented on #9692
Mmmh, right. I forgot that split_off_head reuses the front linked list cell indeed. I'm closing this, sorry @GuillaumeGomez.

[2016-02-18 23:17] #9692 closed

[2016-02-19 00:39] nox opened #9694 "Move util::persistent_list to layout"
Files:
 * components/layout/floats.rs
 * components/layout/lib.rs
 * components/util/lib.rs
 * components/util/persistent_list.rs

[2016-02-19 00:44] nox opened #9695 "Move util::range to gfx"
Files:
 * components/gfx/display_list/mod.rs
 * components/gfx/paint_context.rs
 * components/gfx/lib.rs
 * components/gfx/text/glyph.rs
 * components/gfx/text/shaping/harfbuzz.rs
 * components/gfx/text/text_run.rs
 * components/layout/display_list_builder.rs
 * components/layout/fragment.rs
 * components/layout/inline.rs
 * components/layout/lib.rs
 * components/layout/text.rs
 * components/util/

[2016-02-19 00:56] nox opened #9696 "Remove util::vec::Comparator"
This fixes the following FIXME from @pcwalton:

[code]

Unboxed closures landed a long time ago, so we can just use [`Vec::binary_search`](http://doc.rust-lang.org/std/vec/struct.Vec.html#method.binary_search) and [`Vec::binary_search_by`](http://doc.rust-lang.org/std/vec/struct.Vec.html#method.binary_search_by).

The following items need to go away from the module:
 * `Comparator`
 * `BinarySearc

[2016-02-19 01:32] nhirata commented on #9620
to note : If he can, I can show him how I reproduce the bug in person at the SF office.

[2016-02-19 02:06] paulrouget commented on #9582
In the meantime, our builds disable cross-origin checks.

[2016-02-19 03:37] frewsxcv commented on #8053
As per #9697, the switch to generic fonts fails on Linux, but passes on OSX

[2016-02-19 03:46] frewsxcv commented on #8053
Nevermind, I guess it fails on OSX on the builders too, despite passing locally on my OSX machine.

[2016-02-19 07:42] KiChjang opened #9698 "Change most instances of `let foo(bar) = *self;` into self.0"
`git grep "let \S\+(.\+) = \*self;"` tells me a few locations:
* `components/compositing/surface_map.rs` (ignore this one; the `self.0` syntax doesn't add readability)
* `components/gfx_traits/lib.rs`
* `components/layout/block.rs`
* `components/layout/opaque_node.rs`
* `components/net/fetch/cors_cache.rs`
* `components/profile_traits/mem.rs`
* `components/profile_traits/time.rs`
* `components/scr

[2016-02-19 08:31] KiChjang opened #9699 "Intermittent failure of /_mozilla/css/nth_last_child_pseudo_a.html"
[code]

[2016-02-19 10:18] KiChjang commented on #8769
Disabled in #9219

[2016-02-19 10:59] #9553 closed

[2016-02-19 11:58] paulrouget opened #9702 "onclick called twice (webrender)"
[code]

`console.log` is called twice.

[2016-02-19 13:46] nox commented on #8191
With this in `last_of_type_pseudo_a.html`:

[code]

We get:

![capture d ecran 2016-02-19 a 14 45 37](https://cloud.githubusercontent.com/assets/123095/13177126/762c348a-d717-11e5-9387-0f38945655e0.png)

Seems like layout is done when the document isn't complete and these nodes aren't styled again when the rest is finally parsed and handled.

[2016-02-19 13:53] nox commented on #8191
[code]

[2016-02-19 14:19] #9655 closed

[2016-02-19 15:22] schuster commented on #8465
Should this issue be closed now that the PR is merged, or does more work need to be done for steps 6 and 11?

[2016-02-19 15:23] nox commented on #8465
Seems like this can be closed.

[2016-02-19 15:23] #8465 closed

[2016-02-19 15:28] GuillaumeGomez commented on #9696
I take it.

[2016-02-19 15:29] larsbergstrom opened #9704 "Webrender breaks the documentation build"
See: http://build.servo.org/builders/doc/builds/804

[code]

cc @glennw @pcwalton

[2016-02-19 15:32] SimonSapin commented on #9704
A code block in a doc-comment probably needs ```` ```notrust ```` or something.

[2016-02-19 15:40] nox commented on #9281
#9633 landed.

[2016-02-19 15:40] #9281 closed

[2016-02-19 15:41] nox commented on #9280
@vwvww Are you still working on this?

[2016-02-19 15:47] jdm commented on #8191
That last testcase works with `-i` (ie. incremental reflow disabled).

[2016-02-19 16:19] paulrouget commented on #9702
https://github.com/servo/servo/blob/267630779316d2291b10ed8e60d0f9f5f2100ab1/components/compositing/compositor.rs#L1294

@glennw can you explain why this is required?

When this line is commented out, the listener is called only once.

[2016-02-19 18:32] mbrubeck commented on #9699
May have a similar cause to #8191 (pseudo-class styles not being recalculated correctly on tree changes).

[2016-02-19 18:43] jdm commented on #9699
Maybe #9063 too!

[2016-02-19 19:52] glennw commented on #9702
That looks like a bug that slipped through when tidying up the WR branch - it should have a return straight after that linked line.

If you want to make a PR for that I'll r+ it, otherwise I'll fix it up when I can.

[2016-02-19 19:57] glennw commented on #9704
It's caused by the artwork by @pcwalton here - https://github.com/glennw/webrender/blob/master/src/batch_builder.rs#L1171

What should I change in the code to make the doc build not panic? (Or is it just a straight bug in the doc tool?).

[2016-02-19 19:58] #9617 closed

[2016-02-19 19:59] larsbergstrom commented on #9704
Ha! That's awesome.

@alexcrichton @brson Who owns rustdoc and could help us determine if the use of an interesting unicode character in a comment is a compiler/tool bug or not?

[2016-02-19 20:10] SimonSapin commented on #9704
@glennw @larsbergstrom It’s not a bug, and no Unicode character is more "interesting" than another :) Things indented by 4 spaces or more are code blocks in Markdown, and code blocks in rustdoc default to being doctests that are compiled as rust programs.

This doc-comment need to be changed to use the triple-backtick syntax with a language specifier that is present but not `rust`, like https://gi

[2016-02-19 20:20] glennw commented on #9704
@SimonSapin Thanks for the info, I'll add those specifiers. It seems like a bug / missing feature that it causes a panic inside libsyntax without a nice error message detailing where the parse failure occurred though?

[2016-02-19 20:28] SimonSapin commented on #9704
Fair enough, the error message could be better :)

[2016-02-19 20:59] alexcrichton commented on #9704
@SimonSapin's diagnostic is correct, and the issue for the error message is https://github.com/rust-lang/rust/issues/12834

[2016-02-19 21:39] danlrobertson commented on #8623
I'd like to take a crack at this! If it is okay with everyone, I have an idea as to where to start with `GetElementRect`, so I'd like to start with it.

Let me know at `dlr` on `#servo` if you have any tips or if you have an aversion to me trying this (I'm 100% okay with doing something different if so). If not, I'll probably have my first attempt at a PR sometime this evening.

[2016-02-19 22:47] sp3d opened #9705 "a:hover doesn't catch hovers of <label> element inside <a>"
The following (fairly simple) web page differs in behavior in Servo vs. all the other browsers I tried:
[code]
Specifically, hovering any part of the link turns it red in Gecko and WebKit, while in Servo hovering the outer parts of the link turn it red, but hovering the text "(label)" leaves the link blue.

[2016-02-19 22:56] jdm commented on #8623
Please do! You can test this by running servo with `--webdriver [port_number]` and playing with the python webdriver client in `tests/wpt/harness/wptrunner/executors/webdriver.py`.

[2016-02-19 23:49] nox commented on #9205
![capture d ecran 2016-02-20 a 00 49 06](https://cloud.githubusercontent.com/assets/123095/13192405/c7175f10-d76b-11e5-9f94-5a231f28c3bf.png)

[2016-02-19 23:49] nox commented on #9205
The non-reference file is just blank.

[2016-02-19 23:50] nox commented on #9205
Oh sorry, I guess I should go to sleep…

[2016-02-20 00:26] KiChjang opened #9707 "Implement document response correctly for XHR"
Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#document-response
Test: `tests/wpt/web-platform-tests/XMLHttpRequest/responsexml-*.htm`

cc @liviuba

[2016-02-20 02:38] danlrobertson opened #9709 "WebDriver handle_is* function should search by element_id"
The functions [`handle_is_enabled`](https://github.com/servo/servo/blob/master/components/script/webdriver_handlers.rs#L258-L271) for [Element Is Enabled](https://w3c.github.io/webdriver/webdriver-spec.html#is-element-selected) and [`handle_is_selected`](https://github.com/servo/servo/blob/master/components/script/webdriver_handlers.rs#L273-L294) for [Element Is Selected](https://w3c.github.io/web

[2016-02-20 02:39] danlrobertson commented on #9709
I confirmed this by using [`find_element_by_element_id`](https://github.com/danlrobertson/servo/blob/i8623/components/script/webdriver_handlers.rs#L52-L60), in which case the expected result is returned.

[2016-02-20 04:17] KiChjang commented on #8084
@MonsieurLanza Are you still working on this?

[2016-02-20 06:55] #9702 closed

[2016-02-20 09:13] liviuba commented on #9707
I'd really like to take this one

[2016-02-20 09:26] Ms2ger commented on #9707
It's not clear to me there's anything to be done here that we can do right now.

[2016-02-20 10:34] MonsieurLanza commented on #8084
Yes, but i won't have time to get back on it until monday.
--
Damien BRUN

[2016-02-20 10:55] KiChjang commented on #9707
@Ms2ger, @liviuba in his pull request for extracting `document_response` into its own function said that he would like to work on making step 6 match the spec.

[2016-02-20 10:56] Ms2ger commented on #9707
Do we have infra for prescanning?

[2016-02-20 10:57] KiChjang commented on #9707
Can we use parsell or tendril for this?

[2016-02-20 13:58] armistace opened #9711 "failed build on arch linux due to miniz-sys"
don't know if this belongs here or at miniz-sys but I can't compile servo on arch as the default build.rs for miniz-sys seems to fail with the default gcc::compile_library options.

Please see [pastebin](http://pastebin.com/JHNTGthJ) for terminal error message

[2016-02-20 14:43] timvandermeij commented on #9694
I would like to work on this.

[2016-02-20 14:44] nox commented on #9694
Sure, go ahead!

[2016-02-20 15:45] timvandermeij opened #9712 "Panic when using back button"
Steps to reproduce (100% of the time for me on Arch Linux x64):

1. Build Servo in release mode: `./mach build --release`
2. Visit the Leiden University homepage: `./mach run --release -- http://www.universiteitleiden.nl`
3. Click the "Over ons" link in the blue menu (any other link will work too)
4. Press the back button (backspace) on your keyboard
5. Notice Servo crashing with the following sta

[2016-02-20 16:32] rebstar6 commented on #6542
Hmm, so for a 1st step I'd want to make the test that needs to be added. Can one of you point me to where this should go?

[2016-02-20 17:06] Manishearth commented on #6542
In /html/editing/activation/. There already is a click.html test there that; but the editing folder seems to be disabled?

[2016-02-20 18:47] ecoal95 commented on #9705
Thanks for reporting this!

It seems that the hover state isn't propagated to the parent elements.

I'm giving this a shot, even though I'm not know the code involved in that very well.

[2016-02-20 18:55] danlrobertson commented on #9709
I think the argument names got the best of me :smile: I actually may be wrong... See [Step 3](https://w3c.github.io/webdriver/webdriver-spec.html#is-element-enabled).

[2016-02-20 19:55] #9694 closed

[2016-02-20 20:06] schuster commented on #9695
I'd like to work on this if no one else is.

[2016-02-20 22:12] schuster commented on #3278
A brief glance through some of the Cargo files suggests the problem was already fixed by making various dependencies target-specific. Is there anything left to do?

[2016-02-20 22:23] jdm commented on #9695
Go for it!

[2016-02-20 22:36] SimonSapin commented on #9695
I’d rather move it to a new separate crate instead, so that it can be compiled in parallel with other crates, and not rebuilt when touching unrelated code.

[2016-02-21 00:37] schuster commented on #9695
@SimonSapin So, just a separate crate called "range", then?

[2016-02-21 00:41] peterjoel commented on #8509
@jdm Is it a problem that euclid matrices use `f32`, while the webidl generated traits use `f64`?

[2016-02-21 09:44] Ms2ger commented on #9695
Yep, that would work.

[2016-02-21 09:46] KiChjang commented on #9695
Do we want to make it as a separate library instead? Is it useful enough for other projects?

[2016-02-21 09:54] SimonSapin commented on #9695
Let’s not unless someone asks for it. And even then, it might be better replaced with `std::ops::Range`. Our `Range` pre-dates it, and might pre-date `std::iter::Iterator` as well.

[2016-02-21 10:02] paulrouget commented on #9711
[code]

[2016-02-21 15:34] frewsxcv commented on #9698
How is this an improvement?

[2016-02-21 15:35] nox commented on #9698
Less verbose.

[2016-02-21 15:38] frewsxcv commented on #9698
I don't think we have any issues with verbosity in these scenarios though, but that's just my opinion.

A slightly nuanced example, but if a `struct` changes from `struct A(b: u32)` to `struct A(a: u32, b: u32)`, using `.0` as a getter could cause subtle bugs to occur, whereas the current syntax will result in a compile error.

[2016-02-21 16:11] KiChjang commented on #9698
We do have issues in verbosity in fact. Consider the following taken from `window.rs`:
[code]
There really isn't any need to destructure `self.script_chan` just to get the inner sender in this case. `self.script_chan.0` would be sufficient.

[2016-02-21 16:15] jdm commented on #8509
Probably!

[2016-02-21 17:48] peterjoel commented on #8509
Perhaps it would be better to make generic versions of the euclid objects and then make the existing ones aliases for those?

[2016-02-21 18:29] jdm commented on #8509
Seems reasonable to me!

[2016-02-21 19:01] bobthekingofegypt commented on #8100
Can I have a go at fixing this?

As far as I can see it's being caused by the hsts functionality changing the request url to https but not sending the updated url to the cookies_for_url function, so secure cookies are not being sent.

[2016-02-21 19:25] Manishearth commented on #8100
Sure! Is this a spec issue (i.e. where we don't implement the spec correctly)?

Let me know if you need help. I understand what HSTS is, but I don't know the internals of that or secure cookies (could read up if necessary), so I can't help you there, though.

[2016-02-21 20:11] jdm commented on #8100
@bobthekingofegypt: good catch!

[2016-02-21 20:12] bobthekingofegypt commented on #8100
I don't think it's a spec issue, I think it's just an issue with the value that is passed to the cookie code.  Each part individually seems to be correct, HSTS and the cookie store, just the values being sent from the http_loader to the cookie store are wrong.

The code is correctly identifying that github should be on https (because it is in the HSTS list) and it is changing the url over, and mak

[2016-02-21 23:20] armistace commented on #9711
I believe I fixed this by clearing my system level CFLAGS with export CFLAGS="", but should we be able to compile without -Werror?

[2016-02-22 07:18] mskrzypkows commented on #9152
Sorry for the delay. My son born recently :-) and that took me some time to adopt to new situation. I've created one commit: https://github.com/mskrzypkows/servo/commit/17f84b8f48b851767dd06e957fb870977232e43a I still work on it. I want to finish and upload more changes.

[2016-02-22 12:16] paulrouget opened #9719 "Unexpected overflow"
It should not be possible to scroll this page, but in Servo, it's possible to scroll vertically and horizontally.

[code]

![x6xyrrvxok](https://cloud.githubusercontent.com/assets/373579/13217925/5eaddac4-d966-11e5-916f-54bb973e235c.gif)

This makes it impossible to scroll webcontent in browser.html.

[2016-02-22 12:39] KiChjang commented on #7791
Disabled in #9716

[2016-02-22 12:39] KiChjang commented on #8127
Disabled in #9716

[2016-02-22 12:39] KiChjang commented on #8191
Disabled in #9716

[2016-02-22 12:40] KiChjang commented on #9063
Disabled in #9716

[2016-02-22 12:40] KiChjang commented on #9120
Disabled in #9716

[2016-02-22 13:14] Wafflespeanut commented on #9152
Oh, no worries, that's good to know :)

[2016-02-22 16:02] larsbergstrom commented on #9609
We've seen this on the automation servers when we're creating WAY too many OS handles. I've hacked the macstadium servers to work around it, since we're running servo in a weird way there (lots of concurrent instances):
https://github.com/servo/servo/issues/6350#issuecomment-122274368

[2016-02-22 16:12] paulrouget opened #9720 "FPS down to 40 while loading a page in browser.html"
I'm still trying to figure out what's going on, but our progressbar is very slow while a page is loading.
In Firefox, it's perfectly smooth.

Here is a video showing what's going on: https://streamable.com/p7ts (video is slowed down to 5 FPS).

This is build from the output of `apitrace`, so we can see the GL FPS running at 60FPS.
The number in the red square is a FPS counter that uses rAF, which

[2016-02-22 22:28] mbrubeck commented on #3278
No, I think this is done.

[2016-02-22 22:28] #3278 closed

[2016-02-23 00:42] rebstar6 commented on #6542
Hmm, yeah - and if I un-disable, pretty much everything fails:
Ran 17 tests finished in 21.0 seconds.
  • 1 ran as expected. 0 tests skipped.
  • 1 tests timed out unexpectedly
  • 16 tests had unexpected subtest results

[2016-02-23 01:53] rebstar6 commented on #6542
Also, can one of you verify this is right. Listing out the spec items, want to make sure I have straight what things should occur for all elements vs just some:

1. If the element's click in progress flag is set to true, then abort these steps. -- DO FOR ALL --
2. Set the click in progress flag on the element to true. -- DO FOR ALL --
3. Run pre-click activation steps on the element. -- ONLY IF AC

[2016-02-23 01:55] g-k commented on #9535
Not sure if a couple of the links are broken for anyone else, but these work for me:

https://github.com/Manishearth/servo/blob/master/tests/wpt/web-platform-tests/websockets/opening-handshake/003.html

https://github.com/Manishearth/servo/blob/master/tests/wpt/web-platform-tests/websockets/Send-data.worker.js

[2016-02-23 02:43] Manishearth commented on #9535
Yeah, so the former is an example of a test which tests the websocket's origin, the latter is an example of a .worker.js test which runs from a worker (but doesn't test the origin). This issue is asking for a test that does both -- runs a websocket in a worker scope and checks that the origin is correctly set.

[2016-02-23 03:05] Manishearth commented on #6542
It is. The three activation steps [here](https://html.spec.whatwg.org/multipage/interaction.html#run-pre-click-activation-steps) are the only ones that are selectively invoked.

Yep. Straightforward to fix, add another parameter to `synthetic_click_activation` and use it.

[2016-02-23 08:50] nox opened #9723 "Intermittent timeout in /html/semantics/scripting-1/the-template-element/definitions/template-contents-owner-test-002.html"
[code]

[2016-02-23 08:51] nox opened #9724 "Intermittent timeout in /old-tests/submission/Opera/script_scheduling/040.html"
[code]

[2016-02-23 11:02] nox opened #9725 "Implement DOMTokenList.value"
https://dom.spec.whatwg.org/#interface-domtokenlist
https://dom.spec.whatwg.org/#dom-domtokenlist-value

This allows us to put `PutForwards=value` on `DOMTokenList` interface properties like `Element.classList` and pass the last failing test in `tests/wpt/web-platform-tests/dom/nodes/Element-classlist.html`.

Files:
 * components/script/dom/domtokenlist.rs
 * components/script/dom/webidls/DOMToken

[2016-02-23 12:48] nox opened #9726 "Remove HTMLCollection::get_length and get_item"
These methods should just be inlined in their corresponding `HTMLCollectionMethods` methods (`Length` and `Item`).

This removes the infuriating comment `// Call validate_cache before calling this method!`.

Files:
 * components/script/dom/htmlcollection.rs

[2016-02-23 15:22] paulrouget commented on #9720
Digging more, this looks like a browser.html issue. Some rendering take between 20ms and 40ms.

Fixing https://github.com/glennw/webrender/issues/179 would help a lot.

[2016-02-23 15:23] jdm commented on #6414
Incomplete attempt to solve this: #9677

[2016-02-23 16:33] #9548 closed

[2016-02-23 16:49] SimonSapin commented on #6414
With #9677 there would be two remaining pieces:

* In Servo, get the transport’s encoding information (`charset` in `Content-Type`) and communicate it to html5ever. (See [Kuchiki’s `from_hyper`](https://github.com/SimonSapin/kuchiki/blob/2e6d261cb39e555afad54d5cccdc9170df747cf9/src/parser.rs#L71-L75) for how to get this from an `hyper::client::Response`.)
* In html5ever, implement the rest of the

[2016-02-23 19:18] Zirro opened #9732 "Incorrect rendering of display: table"
<img width="703" alt="display-table-testcase" src="https://cloud.githubusercontent.com/assets/3169418/13263207/e9fd4166-da68-11e5-8a43-91121f5ee70f.png">

Comparison between Servo and Firefox on OS X 10.11. Chrome and Safari produce the same result as Firefox.

Testcase:

[code]

[2016-02-23 19:37] rebstar6 commented on #6542
OK, progress so far in https://github.com/rebstar6/servo/commit/8f8617f894de56e55b5ad18ce75b6f25d27aeaa4.
A few things I wanna confirm before move ahead with the isTrusted piece:
- I added a fromClick bool parameter to the synthetic_click_activation method. Setting to false for all callers but the click method in htmlelement. This will be used for setting isTrusted (?)
- Other callers (htmllabelel

[2016-02-23 20:15] jdm commented on #6542
Good questions!
* Instead of a boolean, I would recommend a two-state enum type instead, since this ends up being much more self-describing when reading the code later than true/false.
* I think your changes are correct and the other callers should always invoke the synthetic activation.
* `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/forms/` will get a bunch of ones that invoke `cl

[2016-02-23 20:40] Manishearth commented on #6542
Yeah, there should be a `GetControl()` in there

Yep. From the spec:

[2016-02-23 20:49] jdm commented on #6542
@Manishearth Which part of the spec is that quote from?

[2016-02-23 20:50] Manishearth commented on #6542
@jdm https://html.spec.whatwg.org/multipage/forms.html#implicit-submission

[2016-02-24 02:24] frewsxcv opened #9736 "FAIL [expected PASS] /_mozilla/css/list_item_overflow.html"
[code]

[2016-02-24 02:46] jdm commented on #9736
Duplicate of #9278.

[2016-02-24 02:46] #9736 closed

[2016-02-24 03:05] g-k commented on #9535
Gotcha, I can pick this up if no one else is working on it.

[2016-02-24 12:06] saurvs commented on #9726
I'd like to fix this.

[2016-02-24 12:07] nox commented on #9726
Sure!

[2016-02-24 13:25] #9726 closed

[2016-02-24 14:19] #8191 closed

[2016-02-24 14:19] #9063 closed

[2016-02-24 14:19] #9303 closed

[2016-02-24 14:19] #9448 closed

[2016-02-24 16:30] #9704 closed

[2016-02-24 18:36] mbrubeck commented on #9120
Probably the same underlying issue as #9106.  (Both have text incorrectly clipped in an absolute/fixed element.)

[2016-02-24 20:09] #3598 closed

[2016-02-24 21:09] ecoal95 opened #9745 "Add a lint to mach to check the MANIFEST.json files are valid JSON"
We have a few `MANIFEST.json` files in `tests/wpt` that could be checked, in order to detect format errors in travis instead of spinning up all the CI infrastructure.

[2016-02-24 21:22] Wafflespeanut commented on #9745
So, let's parse the JSON files whenever we encounter one, and check whether it's a valid JSON. The new method will live in `python/tidy.py`, and it should be one of those `checking_functions`

[2016-02-25 01:22] Demurgos commented on #7379
This issue was mentioned recently in [a discussion about an embedding API for Gecko](http://chrislord.net/index.php/2016/02/24/the-case-for-an-embeddable-gecko/#comment-394939). I agree with this blog post and the comments bellow: Servo might be a good opportunity for Mozilla to publish an embeddable web rendering engine.

[2016-02-25 01:27] mbrubeck opened #9746 "Intermittent timeout in /css21_dev/html4/bottom-applies-to-004.htm"
https://github.com/servo/servo/pull/9679#issuecomment-188530769

[code]

[2016-02-25 03:09] #9539 closed

[2016-02-25 05:23] g-k commented on #4431
I can give this a shot if no one else is working on it.

[2016-02-25 10:39] Ms2ger opened #9748 "Doc build still broken"
Even with https://github.com/servo/webrender/commit/c23d3cfebecfc377438a233e3eb5d92cc8130c6c, we get

[code]

[2016-02-25 11:26] #9382 closed

[2016-02-25 12:11] nox commented on #4593
#8954 fixed this.

[2016-02-25 12:30] paulrouget opened #9749 "Support Safari's content blocker JSON format"
We want to be able to block ads. I'd suggest to support Safari's JSON format.

Relevant doc:
- https://webkit.org/blog/3476/content-blockers-first-look/
- https://developer.apple.com/library/ios/documentation/Extensions/Conceptual/ContentBlockingRules/CreatingRules/CreatingRules.html

[2016-02-25 13:20] larsbergstrom commented on #9749
@metajack and I have discussed this in the past and agree that this is a good way forward. We probably should start with separate bugs for adding support to each of the different components where filtering will need to occur (network stack, style system, etc.).

[2016-02-25 13:38] magni- commented on #9745
I'll claim this, just one question: are there tests for `tidy.py` ? Not finding any at first glance

[2016-02-25 14:20] jdm commented on #9745
There are none. That is #9152.

[2016-02-25 14:38] magni- commented on #9745
Ahh gotcha. Searched the code, docs, and wiki, but not the issues :+1:

[2016-02-25 14:39] jdm commented on #4431
Go for it! Please ask questions about anything that's unclear :)

[2016-02-25 14:42] jdm commented on #4431
At least one test you can run is `./mach test-css tests/wpt/css-tests/cssom-1_dev/html/cssom-cssText-serialize.htm`. Another is `./mach test-css tests/wpt/css-tests/cssom-1_dev/html/index-001.htm`. Looks like `./mach test-css tests/wpt/css-tests/cssom-1_dev/html/` may be useful in general.

[2016-02-25 14:55] paulrouget opened #9751 "Implement visibility API and the notion of non-visible pipeline"
Spec: https://w3c.github.io/page-visibility/
MDN: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

When a document is not visible (usually a background tab), the document is in "slow mode". `setTimeout` and `setInterval` are called less often, `requestAnimationFrame` is not called and there's probably a lot more things that can slowed down, or stopped.

We can't just use `pipe

[2016-02-25 14:55] paulrouget commented on #9566
That's too aggressive. We need a notion of non visible pipeline: https://github.com/servo/servo/issues/9751

[2016-02-25 15:00] paulrouget commented on #8547
@mbrubeck any update on this?

[2016-02-25 17:01] mbrubeck commented on #8547
No, sorry. Unassigning myself for now, but I'll try to get back to this soon if someone else doesn't fix it in the meantime.

[2016-02-25 17:06] #6419 closed

[2016-02-25 18:28] Wafflespeanut commented on #8969
#8977, #9088 and #9649 have improved tidy in many ways. Now, tidy's slow only because of the WPT lint (I guess) - do we still need this issue?

[2016-02-25 18:57] mbrubeck commented on #9550
In https://github.com/servo/servo/pull/9743#issuecomment-188806399 the failure was opposite:

[code]

In some cases the test file renders all white; in other cases the reference file renders all white.

This started right after #9503 landed, which affects opacity, though that should only affect text nodes. It seems more likely this is related to image loading. Maybe #9208 which also landed around

[2016-02-25 18:59] jdm commented on #8969
Doesn't seem like it.

[2016-02-25 18:59] #8969 closed

[2016-02-25 19:24] paulrouget opened #9752 "persistent storage"
IndexedDB, localStorage, File API, whatever, … we need something to store settings and sessions in Browser.html.

Apparently, localStorage is implemented, but it's not persistent across sessions.

Maybe it's easier to make it persistent than implement other APIs.

[2016-02-25 19:30] mbrubeck commented on #9699
Should be fixed by #9722.

[2016-02-25 19:30] #9699 closed

[2016-02-25 19:30] jdm commented on #9752
This is a student project this quarter: https://github.com/servo/servo/wiki/Persistent-sessions-student-project

[2016-02-25 19:39] #9666 closed

[2016-02-25 23:15] #9550 closed

[2016-02-25 23:29] thekidfrankensteinthrewinapond opened #9758 "Slow with browser.html"
I created a release build as instructed here: https://github.com/servo/servo#normal-build

Then I ran with browser.html as instructed here: https://github.com/browserhtml/browserhtml#running-in-servo

It is very slow. Here are my specs:

[code]

Tried a few sights, duckduckgo.com, espn.com, cnn.com, all very slow.  Actually made my entire computer slow if that helps.

[2016-02-25 23:32] thekidfrankensteinthrewinapond commented on #9758
I should add that I added the `-w` flag. So I ran:

[code]

[2016-02-26 01:59] dlrobertson opened #9759 "Add codegen support for object types in unions"
When compiling a webidl with an object type in a union such as the following

[code]

The following error will be thrown ([full traceback](https://gist.github.com/danlrobertson/9332080a9d81b5ac0eea))

[code]

cc @KiChjang

[2016-02-26 04:26] sydbarrett74 opened #9760 "Error building Servo using MINGW64 on Win10 fast-ring build 14271"
I get the below error using MINGW64 on Windows 10 Insider fast-ring build 14271. (NB: I ran the MINGW64 console using Administrator privileges.)
-------------------------------------------------------------------------------------------------------------------------
$ ./mach build --release
Downloading Cargo nightly...
Downloading Cargo nightly: 100.0%
Extracting Cargo nightly...
Error running mac

[2016-02-26 04:33] sydbarrett74 commented on #9760
Preliminary investigation reveals that the problem might be my having installed MINGW directly off the root of my C: drive. So of course it's going to be a write-permissions issue. The greater mystery is why MINGW's installer still has a default setting of installing under the root of the main Windows drive. In the post-Vista world, this is a security no-no.

[2016-02-26 05:53] eternaleye commented on #6564
As suggested by Servo when it crashed on real web content, reporting here:

Accessing https://vector.im (and bypassing the "Your browser is not supported" message, due to Servo failing its tests for flexbox and objectfit), Servo crashes with the following text:

[code]

[2016-02-26 05:56] sydbarrett74 commented on #9760
Installing MINGW under my Windows user profile fixes this problem. I'm closing this issue.

[2016-02-26 05:56] #9760 closed

[2016-02-26 06:01] sydbarrett74 opened #9761 "Build script doesn't allow downloading of Rust compiler"
At the stage in the build script where the Rust compiler should be downloaded, I get this error:
----------------------------------------
Downloading Rust compiler...
Download failed (403): Forbidden - https://static-rust-lang-org.s3.amazonaws.com/dist/2016-02-22/rustc-nightly-x86_64-unknown.tar.gz

[2016-02-26 06:09] jdm commented on #9761
cc @larsbergstrom

[2016-02-26 06:15] Manishearth commented on #9761
Could you open a python shell and try

[code]

?

[2016-02-26 06:55] #9695 closed

[2016-02-26 07:42] sydbarrett74 commented on #9761
'windows' and 'amd64', respectively

[2016-02-26 08:44] paulrouget commented on #9758
That won't work. The `-w` option is for servo, not mach.

You want to run it that way:

[2016-02-26 08:46] paulrouget commented on #9758
@thekidfrankensteinthrewinapond Using WebRender should fix it. I'm closing this issue. Please let me know if it's still slow after using `-w`.

[2016-02-26 09:26] Ms2ger commented on #9759
This is going to be hard... We'll need to find some way to root these, possibly with `CustomAutoRooter`.

CC @nox, @jdm

[2016-02-26 09:37] #7861 closed

[2016-02-26 13:13] larsbergstrom commented on #9761
This usually happens when the shell window is not a MINGW64 environment window. You can check by doing `echo $MSYSTEM`, which should say `MINGW64`. We should probably add some hardening to mach for this, but honestly we've been hoping we could just get the build working in more build environments (at least `MSYS`).

[2016-02-26 13:26] thekidfrankensteinthrewinapond commented on #9758
That didn't help as far as I can tell, still very slow.  I had also run `npm run servo` in the browserhtml project which uses the `-w` and same result.  Some sites, like duckduckgo.com don't show up at all.

[2016-02-26 13:37] saneyuki commented on #9749
As my memory, this is WebKit's implementation dir: https://github.com/WebKit/webkit/tree/master/Source/WebCore/contentextensions

[2016-02-26 14:07] paulrouget commented on #9758
What is slow?

Known, but this is unrelated.

[2016-02-26 14:12] thekidfrankensteinthrewinapond commented on #9758
Scrolling. Going to a couple of sites; cnn.com and sciencedaily.com and scrolling, there is quite a daily between scrolling on the touchpad and the browser scrolling. It's also very choppy. Some times it causes my fan to turn on.

[2016-02-26 14:33] paulrouget commented on #9758
Can you try without the `-b` option?

[2016-02-26 14:44] thekidfrankensteinthrewinapond commented on #9758
That feels a lot better. Not as good as Firefox but I don't know if that is to be expected at this point or not. Is there a site where I can run benchmarks?

[2016-02-26 14:47] jdm commented on #8015
#8807 stalled for reasons unrelated to the actual change. Any further attempt to solve this should build on the changes in that PR and address the most recent comments there.

[2016-02-26 14:49] paulrouget commented on #9758
Ok. So that's a known issue then.

[2016-02-26 14:49] #9758 closed

[2016-02-26 14:50] paulrouget commented on #9758
This should get better once https://github.com/servo/glutin/pull/68 lands.

[2016-02-26 14:52] paulrouget commented on #7705
I've been trying to use `button.setFrame` and `button.setFrameOrigin`, but for some reason, I can only change the size of the buttons, not their position.

[2016-02-26 15:22] jdm commented on #3030
Latest attempt in #7634.

[2016-02-26 15:30] jdm commented on #9511
This is being solved in #9691.

[2016-02-26 15:33] jdm commented on #8333
#8563 was proposed to fix this but was missing tests as well as some further integration with SpiderMonkey's proxy code.

[2016-02-26 15:34] jdm commented on #3553
#6613 was proposed to solve this. There were a bunch of review comments that needed to be addressed.

[2016-02-26 15:36] jdm commented on #5670
#7520 was proposed to implement this. It got stuck on the requirement to write tests; I'm not comfortable leaving this marked as E-easy until we come up with suggestions for how to write tests for it.

[2016-02-26 15:38] nox commented on #6564
There are various Unicode-related bugs in the project that are getting fixed:

https://github.com/matrix-org/matrix-react-sdk/pull/177
https://github.com/vector-im/vector-web/issues/990
https://github.com/vector-im/vector-web/issues/976

The last one seems to be the culprit here, given it happens when loading the list of rooms etc.

[2016-02-26 15:39] jdm commented on #8348
#8519 was proposed to solve this issue. It requires further investigation to figure out precisely why it doesn't work on the build machines. There are comments explaining how to reproduce the issue locally.

[2016-02-26 15:42] jdm commented on #7857
Latest attempt was in #9292 which was a work-in-progress. Further efforts should be based on that.

[2016-02-26 15:50] frewsxcv opened #9767 "Incorporate Windows-based CI (AppVeyor et al)"
Previous attempt https://github.com/servo/servo/pull/9406

[2016-02-26 15:53] larsbergstrom commented on #9767
I've been working on this more here:
https://github.com/larsbergstrom/servo/tree/appveyor

[2016-02-26 15:56] jdm commented on #8003
#9355 was an attempt to address this but encountered a bunch of test failures. Any further attempt should investigate what those test failures mean by looking at each test and determining whether they're making use of features we expect to work correctly or not.

[2016-02-26 16:05] thekidfrankensteinthrewinapond commented on #9758
Great, thanks! Is there a site where I can run benchmarks?

[2016-02-26 16:09] jdm opened #9769 "Implement HTML table section attributes"
A previous attempt was #8745.
Spec: https://html.spec.whatwg.org/multipage/tables.html#dom-table-thead

[2016-02-26 16:09] jdm commented on #9769
Any further work should build on the previous effort by addressing review comments and adding tests.

[2016-02-26 16:46] jdm opened #9770 "Font cache panic"
This is blocking #8374. More details pending.

[2016-02-26 17:31] mbrubeck opened #9771 "FOUC (flash of unstyled content) on pages with external stylesheets"
When I open https://servo.org/ in Servo, I initially see the content without any author styles applied. Then about a second later the page is re-rendered with all the styles.

[2016-02-26 18:06] KiChjang commented on #8003
The [reftest analyzer](http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml) should be used when attempting to debug the test failures in #9355

[2016-02-26 18:16] nox opened #9772 "Intermittent pass in /websockets/cookies/005.html"
[code]

[2016-02-26 18:19] #9431 closed

[2016-02-26 18:57] malayaleecoder commented on #9698
@KiChjang : I would like to take this as my first issue in Servo.

[2016-02-26 18:59] frewsxcv commented on #9698
Go for it @malayaleecoder!

[2016-02-26 18:59] frewsxcv commented on #9698
Let us know if you need any help

[2016-02-26 20:50] nox commented on #6906
Could this be checked again now that we have `impl From<String> for Atom` and we use it in `Element::SetAttribute`?

[2016-02-26 22:40] gkbrk commented on #9771
This happens to me on other websites as well.

[2016-02-27 00:01] #9455 closed

[2016-02-27 01:40] #9745 closed

[2016-02-27 02:46] nox commented on #8120
Cc @mbrubeck

This is again an incremental layout bug.

Layout is first done with only the first and second rows, resulting in a bottom border of 4px. The other rows are then parsed and laid out, but the bottom border of the second row isn't updated to 2px.

[2016-02-27 03:27] officer opened #9775 "Failed building servo on windows 7 64-bit"
Building is failed with [E0463] on windows 7 64-bit.
Here is the verbose error message.

Of course, I installed freetype for mingw.

[2016-02-27 05:01] #8490 closed

[2016-02-27 11:13] kubrickfr opened #9776 "Crash when visiting http://www.free.fr"
here is the backtrace:

[code]

[2016-02-27 11:26] kubrickfr commented on #7722
Linux x86_64, GeForce GTX 960, scrolling up and down screencast:

https://drive.google.com/file/d/0ByPjAhK7ObclS29ucE91RVRZM28/view?usp=sharing

[2016-02-27 13:58] jdm opened #9777 "Intermittent timeout in /websockets/opening-handshake/003.html"
[code]

[2016-02-27 14:16] KiChjang opened #9778 "./mach test-tidy --faster shouldn't display anything when the file list is empty"
[code]

[2016-02-27 14:17] jdm commented on #9778
Code: `python/tidy.py`

[2016-02-27 14:18] Ms2ger commented on #9778
Why?

[2016-02-27 14:19] KiChjang commented on #9778
Because it is not run at all when using the --faster option.

[2016-02-27 15:50] Wafflespeanut commented on #9778
Damn, I forgot that! On the brighter side, it's a good first issue :)

[2016-02-27 15:54] Ms2ger commented on #9778
That was fixed in #9394

[2016-02-27 16:01] KiChjang commented on #9778
I just did a git pull from master and I still see the following:
[code]

[2016-02-27 16:02] jdm opened #9782 "Use reference-counted URLs more often"
We clone URLs all over the place. We store URLs in pipelines, and DOM objects, send them to the network thread and clone them for each cookie that is received. We could get a lot of mileage out of using `Rc<Url>` and `Arc<Url>` as appropriate, which can make a big difference in memory usage for large data URLs in particular.

[2016-02-27 16:04] jdm opened #9783 "Audit usage of doc_url in http_loader.rs"
`doc_url` is the original HTTP request that was initiated. There are very few times when we actually want to use this value besides the `Host` header, since it isn't affected by redirections, HSTS upgrades, etc. #9780 is an example of a problem that this can cause.

[2016-02-27 16:07] jdm commented on #9778
@Ms2ger means that the WPT lint was made to run when --faster is used in #9394, so the message is actually correct.

[2016-02-27 16:07] Wafflespeanut commented on #9778
@Ms2ger If there are no changes to the WPT files in the diff, then no files are generated, and so the lint doesn't run.

[2016-02-27 16:14] KiChjang commented on #9778
In which case, we should instead change the --help message, it says the following for me:
[code]

[2016-02-27 16:15] Wafflespeanut commented on #9778
No, if there are changes to the WPT files in the diff, then tidy does pass it to the lint.

[2016-02-27 16:40] Wafflespeanut commented on #9778
Mmm, nope - a better title would be...

[2016-02-27 18:45] sydbarrett74 commented on #9761
I entered the above command and verified that my environment is indeed MINGW64.

[2016-02-27 18:59] KiChjang opened #9785 "Implement EventListenerOptions for EventTarget"
The WebIDL file that we have currently reflects an older version of the DOM spec. We should update this to use `EventListenerOptions` accordingly.

Code: `components/script/dom/webidls/EventTarget.webidl`, `components/script/dom/eventtarget.rs`
Spec: https://dom.spec.whatwg.org/#interface-eventtarget

[2016-02-27 20:12] #6733 closed

[2016-02-27 20:31] Ms2ger commented on #9785
I'm not sure there's consensus on this feature yet, so I'd hold off on implementing for now.

[2016-02-28 11:23] AgentFries commented on #9775
I have found the exact same issue on windows 10 and windows 8.1

[2016-02-28 13:48] GuillaumeGomez opened #9791 "Servo doesn't build on first try"
Since I rebuild servo around once a month, I think it might come from this. However, every time I rebuild servo, the first try fails. This time it was because of the `x11-dl` crate. There is no error output.

When I relaunch the build (always with `./mach build`), it builds just fine.

[2016-02-28 14:46] larsbergstrom commented on #9791
The next time this happens, can you please provide an output log, including the crate updates *and* error message, and information about your platform?

My suspicion is that a huge number of crates have changed and there's something wrong about the incremental build when they get updated. We definitely have a few places with our native builds where I'm not sure if the rules we have in place are su

[2016-02-28 15:15] nox commented on #9280
Unassigning because I got no answer.

[2016-02-28 15:15] GuillaumeGomez commented on #9280
I take it then. :)

[2016-02-28 15:29] matiasinsaurralde commented on #9791
I'm not able to build it, OSX 10.11.3. I installed Rust through ```brew```.
This is the error, commit is ```39502d6bed76343930b9d6409203e9c2e9ff09fc```:
[code]

[2016-02-28 16:18] larsbergstrom opened #9794 "Spurious script rebuilds with shared target directory with build-cef"
As seen in: http://build.servo.org/builders/mac-rel-wpt/builds/1966, despite sharing a target directory, runing `./mach build-cef -r` after a `./mach build -r`, it still takes 14 minutes and 43 seconds. This time is because the script crate believes that it has been changed and needs to re-run the build. Here's a sample fingerprint output:

[code]

Does not seem to be the same as #7936.

I'm not r

[2016-02-28 16:22] larsbergstrom commented on #9794
This happens on linux, too: http://build.servo.org/builders/linux-rel/builds/2126

[2016-02-28 16:23] larsbergstrom commented on #9791
@matiasinsaurralde Unfortunately, you *must* use the version of Rust installed by the mach tools. Servo not only uses a nightly build of Rust, but also has many dependencies that are very sensitive to the exact date of the nightly. Sorry!

[2016-02-28 16:26] larsbergstrom commented on #9794
Interesting, in another run (I've been switching between a normal and CEF build), this time from normal -> CEF, I got:
[code]

[2016-02-28 16:59] larsbergstrom commented on #9794
And here' s a run of `./mach build -r` with fingerprinting just after a `./mach build-cef -r`:
[code]

[2016-02-28 17:09] matiasinsaurralde commented on #9791
@larsbergstrom Thanks!

[2016-02-28 17:14] larsbergstrom commented on #9794
Maybe related to https://github.com/rust-lang/cargo/issues/2383 ?

[2016-02-28 17:58] jmr0 commented on #9751
I could probably take a stab at this with a little guidance. Let me know if you have any other thoughts I could use as a starting point or any places in the codebase off the top of your head where you'd expect to see some major changes.

[2016-02-28 18:25] jdm commented on #9751
This has several parts:
* adding the APIs to the Document interface per the specification (Document.webidl, document.rs)
* adding the notion of visibility to Pipeline (pipeline.rs)
* making the Document APIs communicate with the constellation to update the pipeline visibility
* using the pipeline visibility to inhibit animation callbacks (compositor.rs?)
* changing the behaviour of timers based on

[2016-02-28 18:52] paulrouget commented on #9751
And I'll add:
- add iframe visibility-related methods and events: https://github.com/servo/servo/issues/9566

This is needed to make a pipeline non visible.

[2016-02-28 18:59] paulrouget commented on #9751
Re starting point:

I built a fake `setVisible` method that freeze the pipeline: https://github.com/paulrouget/servo/commit/fe29671519c19aaf2ab5b587bd854f209616bc4a

This is wrong because it uses `thaw/freeze` which is too aggressive, but it gives you an idea how to expose an iframe method that would call a pipeline method.

You need to start Servo with `--pref dom.mozbrowser.enabled` and use a `<

[2016-02-28 19:27] jmr0 commented on #9751
Thanks guys -- I'll start looking at adapting the pipeline and preparing the Document API changes and circle back with any questions. Feel free to assign.

[2016-02-28 21:25] paulrouget commented on #7379
I put together this graphic earlier. Thought I should share it here as well.

![page_page_0 0 1](https://cloud.githubusercontent.com/assets/373579/13381981/12531dde-de6a-11e5-8d32-0fd6884c6c7c.png)

[2016-02-28 22:47] schuster commented on #7857
I can try to wrap this up if no one else is working on it.

[2016-02-28 22:52] frewsxcv commented on #7857
Go for it @schuster !

[2016-02-29 02:55] paulrouget opened #9801 "With --no-native-titlebar, no round borders on Mac"
See https://github.com/servo/glutin/pull/68#issuecomment-179634243

[2016-02-29 03:05] pcwalton commented on #9801
I'm guessing we just need to create an RGBA framebuffer somehow and then our alpha masking should take care of it. As long as we're clearing to transparent :)

[2016-02-29 15:00] ketanpawar opened #9802 "clear previous stored values onClick"
i want to clear the previous stored values. it gives me the list of already entered values onClick.
so i want to use this code in pqgrid:
" readonly onfocus="$(this).removeAttr('readonly');"  "
how to use this line in pqgrid while adding and editing
kindly help me.

[2016-02-29 15:14] jdm commented on #9802
@ketanpawar I think this is filed in the wrong repository. This doesn't appear to be a bug related to Servo.

[2016-02-29 15:14] #9802 closed

[2016-02-29 15:15] jdm commented on #9802
That being said, if this is a website issue you have encountered while using Servo, please provide more information to help us understand it (such as the website in question and the steps to reproduce the problem).

[2016-02-29 16:03] nox opened #9803 "Intermittent timeout in /websockets/cookies/006.html"
[code]

[2016-02-29 16:19] #6418 closed

[2016-02-29 16:41] Manishearth commented on #9803
This is a fun one. `document.cookie` works by sending a `SetCookiesForUrl` message to the resource task. This will be at some point handled by an event loop which will dump the cookies to the cookie jar.

On the other hand, websockets do not participate in this event loop, and read from the cookie jar directly. The cookie jar is behind a mutex so this is still safe.

The existence of the two synch

[2016-02-29 16:44] jdm commented on #9803
The fix for this and #9772 is to undo the cookie-related parts of #7654 (HSTS is fine because only the network stack interacts with it).

[2016-02-29 16:47] jdm commented on #9803
Actually, I'm not sure why we still don't have happens-before if `document.cookie` is set before creating the WebSocket. The resource thread is in charge of processing both the `SetCookiesForUrl` and `WebscketConnect` messages, so the cookies would be updated before the connection is initiated...

[2016-02-29 16:49] Manishearth commented on #9803
Huh, right.

[2016-02-29 18:54] rilut opened #9805 "Reenable the `CaretPosition-001.htm` css-test"
css-test against `cssom-view-1_dev/html/CaretPosition-001.htm`  causes an intermittent error in https://github.com/servo/servo/pull/8932#issuecomment-190291224 while doing homu `mac-rel-css` test, thus should be disabled.

[2016-02-29 19:07] KiChjang commented on #9805
This should be done in your PR.

[2016-02-29 19:07] alexcrichton commented on #9794
This is probably related to how Cargo stores the "package id" for path dependencies. Right now it incorrectly changes the package id depending on which path dependency is the root package being built. That explains the differences in paths you're seeing here.

I've reopened https://github.com/rust-lang/cargo/issues/497 which I believe is the underlying issue here.

[2016-02-29 19:11] jdm commented on #9805
Once https://github.com/w3c/csswg-test/pull/1058/ is merged and we have updated our local copy of csswg-test, we should reenable the test.

[2016-02-29 19:12] rilut commented on #9805
@KiChjang of course, but... https://github.com/servo/servo/pull/8932#issuecomment-190291224

[2016-02-29 19:15] KiChjang commented on #9805
@rilut See #9804 for reference.

[2016-02-29 20:02] #9178 closed

[2016-02-29 20:21] psdh opened #9806 "tidy checks must be different for quoted text"
As of now tidy will report a problem in `a = "foo=bar";` as well due to the missing spaces around `=`

[2016-02-29 20:46] peterjoel opened #9807 "Refactor CSS transform parsing so it can be reused for DOMMatrix"
The [w3c Geometry specification](https://drafts.fxtf.org/geometry) specifies a constructor for DOMMatrix and DOMMatrixReadOnly as well as the method [`setMatrixValue`](https://drafts.fxtf.org/geometry/#dom-dommatrix-setmatrixvalue) which use the same syntax as [CSS transforms](https://www.w3.org/TR/css-transforms-1/#svg-syntax), which is also used for SVG.

In its current form, this code cannot be

[2016-02-29 21:02] jdm commented on #9807
Is it not usable if you create a ParserContext value and Parser object, then invoke transform::parse directly?

[2016-02-29 21:05] jdm commented on #9807
See `parse_color` in `canvasrenderingcontext2d.rs` for an example. The code in properties.rs could even be delegated to a parse function that doesn't need a ParserContext argument, since it's unused.

[2016-02-29 21:05] peterjoel commented on #9807
@jdm Thanks. I'll take a look

[2016-02-29 21:13] larsbergstrom commented on #9794
Thanks for looking into it, @alexcrichton! This would save a *ton* of time on our build machines.

I'm also open to restructuring our various Cargo.toml files, if that's the "correct" fix (or the one that puts us on a better path to only-one-Cargo-toml).

[2016-02-29 21:17] alexcrichton commented on #9794
One way you *may* be able to get around this is to always have the same "root" package and then use `cargo test -p` or `cargo build -p` to build only selective portions of the graph.

[2016-02-29 22:07] peterjoel commented on #8509
I get an error when implementing a method that uses a Float32Array or Float64Array: "Can't handle SpiderMonkey interface arguments yet".  This is coming from [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L787).

Is it something I can fix easily, or should I just skip these for now?

[2016-02-29 22:32] KiChjang commented on #8509
We currently don't support any sort of `ArrayBuffer`s with our codegen. Tracking issue is #5014. Skip those for now.

[2016-02-29 22:41] paulrouget commented on #9720
Confirmed that it's a browser.html issue. We apparently skip some frame in our rAF loop.

[2016-02-29 22:49] paulrouget opened #9812 "Invalidate window drop shadow on window move"
With https://github.com/servo/servo/pull/9809, window drop shadow are not updated after window resize/move.

See: https://developer.apple.com/library/mac/samplecode/RoundTransparentWindow/Listings/Classes_CustomView_m.html#//apple_ref/doc/uid/DTS10000401-Classes_CustomView_m-DontLinkElementID_6

[2016-02-29 23:48] pcwalton commented on #7663
I think there's not going to be a bad interaction with WebRender animations as long as we keep everything nice and unified under the current setup.

[2016-03-01 00:17] larsbergstrom commented on #8541
I believe that's the approach @birtles recommended based on his experiences in gecko (https://github.com/servo/servo/wiki/Meeting-2015-05-11#animations).

[2016-03-01 00:47] alexcrichton commented on #9794
@larsbergstrom it looks like the first error is legit:

[code]

Namely, `parser.out` appears to be [set here](https://github.com/servo/servo/blob/802abf4247b7553a2ab0599e5d3a8ab053f59c54/components/script/dom/bindings/codegen/ply/ply/yacc.py#L74) which is later [turned into a logger](https://github.com/servo/servo/blob/802abf4247b7553a2ab0599e5d3a8ab053f59c54/components/script/dom/bindings/codegen

[2016-03-01 02:16] krstoff commented on #9443
This has been left idle for about a month and I would like to try fixing it. Any objections?

[2016-03-01 02:56] KiChjang commented on #9443
Since @J2R5M3 doesn't seem to be active lately, I think you can go ahead and work on this issue @krstoff.

[2016-03-01 03:01] gmalecha commented on #9443
I believe that I already have an implementation of it (though it is about a month old now). I can update it to the latest code and see if it still works.

[2016-03-01 03:57] #9725 closed

[2016-03-01 03:59] aneeshusa commented on #8894
I was going to work on this, but it looks like it happened in #9532, so this can be closed.

[2016-03-01 04:18] #8894 closed

[2016-03-01 04:45] krstoff commented on #9443
Okay, never mind then. :) Let me know if anything changes @gmalecha

[2016-03-01 05:08] alexcrichton commented on #9794
Aha, found it! I couldn't reproduce because it turns out this was a regression introduced by https://github.com/rust-lang/cargo/pull/2279. This also confirms to me that my suspected fix is indeed the route I would like to take to fix it. Time to clean up the commit and send a PR. Thanks for the cc @larsbergstrom!

[2016-03-01 05:12] krstoff commented on #9551
There hasn't been any activity on this. May I take over?

[2016-03-01 06:14] Wafflespeanut commented on #9806
Code: `python/tidy.py`

[2016-03-01 06:26] KiChjang commented on #9443
@gmalecha Are you planning to make a PR for this issue? If not, then @krstoff can go ahead and work on this.

[2016-03-01 08:51] Ms2ger commented on #9794
Got rid of `parser.out` in https://github.com/servo/servo/pull/9817

[2016-03-01 09:31] apopiak commented on #9551
Yes, I've had issues with the tooling and then it dropped off my awareness.

[2016-03-01 12:08] nox opened #9818 "Unexpected timeout in /websockets/constructor/009.html"
[code]

[2016-03-01 13:05] spillevink opened #9819 ""--no-ssl" not ignoring SSL validation errors"
I'm getting the bad certificate image when running:
`./mach run --release https://127.0.0.1:3000 --no-ssl`

[2016-03-01 14:05] nox opened #9820 "Remove the constructor of XMLDocument"
There is no constructor on XMLDocument in the spec.

Files:
 * components/script/dom/xmldocument.rs
 * components/script/dom/webidls/XMLDocument.webidl

[2016-03-01 14:06] larsbergstrom commented on #9794
@alexcrichton Awesome, thanks a ton for looking into this! It'll really help decrease our CI cycle times.

[2016-03-01 14:06] Ms2ger commented on #9820
Also remove `tests/wpt/metadata/dom/nodes/XMLDocument-constructor.html.ini`

[2016-03-01 14:34] #9696 closed

[2016-03-01 14:56] nox commented on #9794
Do you mean the part where we only build specific parts of the graph? Because that's an ugly work-around, I don't see why geckolib and Servo should be driven by the same top-level Cargo.toml file. :(

[2016-03-01 14:58] larsbergstrom commented on #9794
@nox I was assuming Alex meant it was:

[2016-03-01 14:58] nox commented on #9794
Oh, disregard me then.

[2016-03-01 15:18] Ms2ger opened #9821 "Re-enable text-transform tests"

[2016-03-01 15:31] KiChjang commented on #9820
@creativcoder claimed in IRC.

[2016-03-01 15:42] jdm commented on #9806
I'm not certain that the solution here is clear, given the intricacies of the tidy rules.

[2016-03-01 15:44] jdm commented on #9551
Go ahead!

[2016-03-01 16:19] mbrubeck commented on #8120
Part of the issue is that inserting a row into a table dynamically can lead to a flow tree like this:

[code]

The border-collapse code in Servo has a bug that prevents it from traversing this flow tree correctly.  Fixing that bug fixes the border width.  I haven't submitted that fix yet because some other bug that's causing the *position* of the border to be off by 1px in my test case.  Investiga

[2016-03-01 16:43] nox commented on #8120
@mbrubeck Oh nice!

[2016-03-01 16:44] Wafflespeanut commented on #9806
Yeah, I now realize that modifying the regex stuff is probably a bad idea. Maybe we can explicitly check for (single or double) quotes, split the line, and [pass the stuff](https://github.com/servo/servo/blob/a9c8f592a9521376678187c6917449e3dd48c373/python/tidy.py#L345) surrounding the quotes for regex matching.

[2016-03-01 16:49] matiasinsaurralde commented on #9791
@larsbergstrom I'm now using the nightly build and everything is going fine so far, thank you and keep up the good work!

[2016-03-01 16:50] larsbergstrom commented on #9791
@matiasinsaurralde Great, thanks for the update! Please don't hesitate to open a new issue or reach out to us on IRC if you run into any problems.

[2016-03-01 17:11] UK992 commented on #9593
Is this commit good enough as temporary solution to pass building?
https://github.com/UK992/servo/commit/a4264dbb66d76104a4d539ded1e6c10bd60fda2f

[2016-03-01 17:39] KiChjang commented on #9820
#9825

[2016-03-01 18:10] metajack opened #9828 "servo panic on shutdown"
[code]

Steps to reproduce (on linux):

1. `./mach run --release -- -i -w --resolution 1280x1024 https://github.com`
2. Hit escape to exit one logging stops
3. Repeat steps 1 and 2 until panic. Takes 3-4 times on average for me.

[2016-03-01 18:10] metajack commented on #9828
cc @glennw @pcwalton

[2016-03-01 18:23] zakorgy commented on #9778
I would like to try this

[2016-03-01 18:41] paulrouget opened #9829 "form + HTTP post doesn't work (or at least doesn't redirect)"
Affects: **github.com** (can't log in).

Test case:
[code]

Clicking on the button should load b.html. It doesn't.

[2016-03-01 18:42] paulrouget commented on #9829
This prevents logging in Github.

[2016-03-01 18:43] paulrouget commented on #9829
Using GET instead appears to work.
It also works if I use `file://` instead of `http://`.

[2016-03-01 18:49] mbrubeck opened #9830 "Incorrect layout and jumpiness with white-space: nowrap"
The following test case is laid out incorrectly (some lines wrap too soon, others too late) and jumps around when the mouse moves from one element to another.  The jumpiness happens even with incremental layout disabled, though it behaves slightly differently than when it's enabled.

[code]

[2016-03-01 19:08] KiChjang commented on #9778
Go for it!

[2016-03-01 19:15] KiChjang commented on #9829
This is because [submit body](https://html.spec.whatwg.org/multipage/forms.html#submit-body) for [planned navigation](https://html.spec.whatwg.org/multipage/forms.html#planned-navigation) hasn't been implemented yet. I think it's dependent on the encoding for multipart/form-data.

@psdh are you currently working on this? Or is it ok for someone else to work on it?

[2016-03-01 19:25] #9805 closed

[2016-03-01 20:19] #8406 closed

[2016-03-01 20:39] rhelmer opened #9831 "automatic updates for Servo nightly builds"
When Servo starts producing nightly builds, I think it's important to get automatic updates up and running ASAP. Not only does it give people the best possible impression of the current status of the project, it helps to ensure that bugs are being filed for the latest version.

I've spoke to a few people about this like @paulrouget and @metajack who suggested I file an issue here.

There are sever

[2016-03-01 20:49] KiChjang commented on #9829
The relevant PR for encoding is #9198. I can fix the navigation problem after it lands.

[2016-03-01 21:19] paulrouget commented on #9829
That would be great!

[2016-03-01 21:33] tomkel commented on #7379
Hey, this would be really cool.

[2016-03-01 22:20] jdm opened #9833 "Intermittent timeout in /websockets/cookies/001.html"
[code]

[2016-03-01 22:36] larsbergstrom commented on #9831
Thanks for filing this, @rhelmer!

Do you know if it's fundamental to the Mozilla updater that it requires user confirmation & explicit action to update? The Mozilla updater also seems to (maybe 1 time in 4?) leave me with a differently-named binary running on restart, so I end up with a separate running icon in the dock than the one that was pinned until I restart an extra time.

[2016-03-01 22:45] rhelmer commented on #9831
@larsbergstrom the user confirmation and action is done by Firefox, the updater binary is just a command-line tool that can:

1) apply binary updates
2) wait for PID to stop before applying
3) run an application when it's finished

I haven't seen the problem you're describing with the differently-named binary, probably worth filing a bug - https://bugzilla.mozilla.org/enter_bug.cgi?product=Toolkit

[2016-03-01 22:47] nox commented on #7396
https://github.com/whatwg/html/issues/775

Seems like there is consensus now.

[2016-03-01 23:02] #8120 closed

[2016-03-01 23:05] rhelmer commented on #9831
It's also worth considering existing open-source projects, some that I have looked at before are:

* Omaha - https://github.com/google/omaha
** used by Chrome
** Windows-only
*** not 100% sure what they use on other platforms, found references to https://code.google.com/archive/p/update-engine/
** Client only, no open-source server AFAICT

* Sparkle project - https://sparkle-project.org/
** Mac-on

[2016-03-01 23:13] peterjoel commented on #9807
@jdm There are different matrix implementations floating around there though, which could be unified using euclid.

[2016-03-01 23:56] #9443 closed

[2016-03-02 00:11] paulrouget opened #9834 "Concurrent rAF loops are not deterministic"
[code]

Chrome and Firefox:
[code]

Servo:

[code]

[2016-03-02 01:22] paulrouget commented on #9831
For the record, Servo is about 17Mb, so we probably don't need binary diff.

[2016-03-02 01:38] mbrubeck commented on #8077
See also #4410 and #4409.

[2016-03-02 13:05] zakorgy commented on #9778
I got a little confused, with the --faster should the tidy-test skip the WPT lint in tidy and display nothing if the file list is empty, or just skip the WPT lint in tidy as in the --help message?

[2016-03-02 13:08] nox commented on #9834
We use a HashMap, that doesn't preserve order. I'm switching it to a BTreeMap.

[2016-03-02 13:22] nox commented on #9834
@paulrouget Do you think we have intermittent failures due to this?

[2016-03-02 16:02] nox commented on #9812
@paulrouget Is that only on OS X?

[2016-03-02 17:22] #9834 closed

[2016-03-02 17:25] paulrouget commented on #9812
Yes.

[2016-03-02 17:46] paulrouget commented on #9834
I don't know, but it was causing some weird issues in browserhtml.

[2016-03-02 18:51] paulrouget commented on #9720
This might have fixed it: https://github.com/servo/servo/issues/9834

I'll do some more testing soon.

[2016-03-02 18:51] UK992 commented on #9767
I've been playing around Appveyor lately again and it work now.
Took 1 hour and 10 minutes to build, about half of this time only mozjs stuff.

https://ci.appveyor.com/project/UK992/servo-hga0y/build/1.0.130
https://github.com/UK992/servo/commit/1cb6952b350120d5ba39b020a932dc5c62cbf991

[2016-03-02 18:56] larsbergstrom commented on #9767
@UK992 OMG, that's awesome! Fantastic work :-)

The nice thing about mozjs is that we should have `CCACHE` support, so we may be able to have that be a one-time (or once per-upgrade per-machine) deal.

[2016-03-02 19:07] glennw opened #9842 "Add ability to pause JS execution"
It would be really handy for gfx debugging if we could pause JS execution during demos to be able to profile a particular frame (perhaps a special key combination?).

[2016-03-02 19:16] paulrouget commented on #9842
/cc @jimblandy

[2016-03-02 20:31] paulrouget opened #9844 "High CPU usage during a RAF loop"
Something as simple at that:

[code]

… shows a 30% to 50% CPU usage on my macbook.

[2016-03-02 20:33] paulrouget opened #9845 "Panic: Tried to hit test without a DisplayList"
[code]

[2016-03-02 20:35] paulrouget opened #9846 "Webrender panic: entered unreachable code"
[code]

[2016-03-02 20:46] paulrouget commented on #9846
[code]

[2016-03-02 20:48] metajack commented on #9845
cc @mrobinson @pcwalton

[2016-03-02 20:49] paulrouget commented on #9845
STR: `servo -w http://firefox.com`, while it's loading, move mouse.

[2016-03-02 20:54] paulrouget commented on #9720
#9834 + bhtml changes solve this issue. We still have some jank, but I blame the progressbar progression algorithm + https://github.com/servo/servo/issues/9844

[2016-03-02 20:54] #9720 closed

[2016-03-02 21:23] #9719 closed

[2016-03-02 22:03] paulrouget commented on #9845
I was using this PR too: https://github.com/servo/servo/pull/9832
That might be the cause of this issue.

[2016-03-02 22:12] jimblandy commented on #9842
Glenn and I discussed this over lunch today. The underlying facility Firefox's debugger is using are the `suppressEventHandling` and `suspendTimeouts` methods of the [`nsIDOMWindowUtils`][1] interface.

But the important point here is that it's not SpiderMonkey that does the pausing; it's the platform that decides not to call SpiderMonkey. The correct way to handle a paused debuggee depends on wha

[2016-03-02 23:41] pygy opened #9847 "CSS: `transform: rotate(-45deg)` is broken."
No idea what happens but [this simple page](http://pygy.github.io/servo-rendering-bugs/rotated-text.html) should not look like this (webrender):
![screen shot 2016-03-03 at 00 33 25](https://cloud.githubusercontent.com/assets/54515/13479546/fb50b842-e0d7-11e5-825e-a3ec2987d9a1.png)

nor like this (no webrender):
![screen shot 2016-03-03 at 00 33 41](https://cloud.githubusercontent.com/assets/54515

[2016-03-02 23:46] paulrouget commented on #9847
(For the record)

[code]

[2016-03-02 23:46] pygy opened #9848 "Text pixel snapping issues on low DPI display."
Hello again, as discussed on IRC, Servo shares with Firefox issues when rendering text on low DPI displays (1:1 ratio).

They are most likely related so I grouped them all in the same issue. If my assumption turns out to be false, I'll split it if necessary.

---

The first issue is an the fact that `text-shadow` offsets are inconsistent. I used 8 shadows to simulate `text-stroke`. The effect does

[2016-03-02 23:51] pygy commented on #9847
That repo is here to stay ;-)

[2016-03-02 23:57] pygy opened #9849 "http://j2c.py.gy looks bad and behaves even worse"
The site of my CSS in JS project is completely broken in Servo. [Here's a snapshot of its current incarnation because it is bound to evolve](http://pygy.github.io/servo-rendering-bugs/j2c/j2c/index.html)...

The fact that the CSS is generated in JS turned into a string then inserted with (paraphrasing slightly)

[code]

...may or may not be a red herring. I'll investigate further in the upcoming d

[2016-03-03 00:10] danlrobertson commented on #9357
I'll take a crack at this

[2016-03-03 00:25] pygy commented on #9849
So the CSS in JS thing is irrelevant. Here's a no JS version, it is broken as well in the same way. Be sure to move the cursor around the logo and the Github ribbon, and to resize the window for maixmum effect...

It is more broken with webrender, but still quite messed up without it...

http://pygy.github.io/servo-rendering-bugs/j2c/j2c/indexNoJS.html

[2016-03-03 00:59] pygy commented on #9848
Oh, yes, I forgot, and it may not make much sense unless you looked at the source or tried to interact with the last example: the GitHub ribbon is not an image, it's made with HTML+CSS.

[2016-03-03 01:55] paulrouget opened #9854 "Deserializating display list take a long time"

[2016-03-03 02:11] paulrouget commented on #4144
Apparently, this is a osx-specific issue.

[2016-03-03 02:40] #9846 closed

[2016-03-03 02:46] KiChjang commented on #9357
That'd be super nice!

[2016-03-03 02:56] Wafflespeanut commented on #9778
@zakorgy the former - don't display the messages when the file list is empty. For example, if the WPT lint gets an empty list, then we shouldn't show "Checking WPT..." message

[2016-03-03 07:37] adrianheine commented on #4144
It was for me on January, 2nd.

[2016-03-03 13:18] larsbergstrom commented on #9767
Hrm, it looks like heapsize is still failing with:
[code]

cc @Jayflux

[2016-03-03 13:19] nox commented on #9767
You need to update that.

[2016-03-03 13:26] UK992 commented on #9767
And also need this patch https://github.com/UK992/servo/commit/bf43c1c1ed010a3cc2fbc00e0f6090f386bcebf8 to solve alloc_jemalloc crate problem

[2016-03-03 16:42] nox commented on #7396
Consensus? Ah ah, no.

[2016-03-03 16:48] KiChjang commented on #9472
Fixed in #9667.

[2016-03-03 16:48] #9472 closed

[2016-03-03 16:50] KiChjang commented on #8666
Fixed by #8932.

[2016-03-03 16:50] #8666 closed

[2016-03-03 16:51] KiChjang commented on #8458
What's the status of this?

[2016-03-03 16:53] KiChjang commented on #8391
@mattkuo What's the status?

[2016-03-03 16:55] KiChjang commented on #7604
Fixed by #9039.

[2016-03-03 16:55] #7604 closed

[2016-03-03 16:55] KiChjang commented on #7038
Is this being worked on by @notriddle or is it actually open to other contributors?

[2016-03-03 16:57] notriddle commented on #7038
I'm not working on it right now.

On Thu, Mar 3, 2016, 09:56 Keith Yeung <notifications@github.com> wrote:

[2016-03-03 17:27] paulrouget commented on #4144
Oh, I thought @mbrubeck could type with dvorak on Linux.

[2016-03-03 17:32] paulrouget opened #9855 "Infinite reflow"
Some website never stop reflowing.

I don't have example or STR just yet, but I want this to be tracked.

[2016-03-03 17:37] paulrouget commented on #9855
It happens with http://robert.ocallahan.org/

[2016-03-03 17:48] mbrubeck commented on #4144
Yes, everything seems fine on my Linux laptop using X11 with a Dvorak keymap.

[2016-03-03 17:52] izgzhen commented on #9650
I am interested to take this issue. But I am a new comer and wonder if it would be relatively easy to work out.

[2016-03-03 18:04] paulrouget opened #9856 "Can't drag titlebar-less windows (osx)"
This started with https://github.com/servo/glutin/pull/68

Related: https://github.com/servo/servo/issues/7408

[2016-03-03 18:11] rilut commented on #8458
@KiChjang should we close this? I was thinking that TOC is no longer relevant anymore since Servo website is tidy and concise as per Nov 18, 2015. (It was even more concise than today). Or no? I'm happy to help if it still needed.

[2016-03-03 18:22] #9705 closed

[2016-03-03 18:32] rilut commented on #8458
*mistaken* @KiChjang I'll contact you on IRC

[2016-03-03 18:46] jdm commented on #8666
We should file a new issue for elementsFromPoint, since it's now possible to implement safely.

[2016-03-03 20:29] rilut opened #9859 "Implement Document#elementsFromPoint"
Spec: https://drafts.csswg.org/cssom-view/#dom-document-elementsfrompoint.
Test: `tests/wpt/web-platform-tests/cssom-view/elementsFromPoint.html`.
Code: `components/script/dom/document.rs`, `components/script/dom/webidls/Document.webidl`.

This will probably need to call `hit_test` or `get_nodes_under_mouse`. It's likely those functions are not quite correct; fixing that is out of scope for this i

[2016-03-03 20:38] rilut commented on #9859
I'm planning to work on this since I've worked for #8666. I hope that my past experience will help me.

[2016-03-03 20:40] peterjoel commented on #8509
I have a query about the existing test:
https://github.com/servo/servo/blob/master/tests/wpt/css-tests/geometry-1_dev/html/DOMMatrix-001.htm#L138

The test is failing because I don't throw a TypeError here. But this looks to be correct according to the spec. A 6 element sequence as the argument should represent a 2D array, and there is no mention of throwing errors based on the values themselves:

[2016-03-03 20:50] gaganjyot commented on #1141
@pcwalton where is this in the code base? I'd like to work on this

[2016-03-03 21:00] pcwalton opened #9860 "Introduce a fast path for restyling when the style attribute is changed"
The only things that can override the `<style>` attribute are user and author `!important` rules, I believe. Let's introduce a fast path that checks to see whether `!important` rules apply to rules that changed and skip the cascade, just as we do for CSS transitions.

Note that I believe our CSS transitions are not spec compliant because we need to perform that check also.

[2016-03-03 21:13] paulrouget opened #9862 "Implement input.setSelectionRange"

[2016-03-03 22:01] paulrouget commented on #9844
This is a lot better since https://github.com/servo/servo/pull/9858

[2016-03-03 22:47] UK992 commented on #9767
And just for information, if building took more than 1 hour will hit build timeout, in that case, contact Appveyor support team for extend build timeout to 2 hours. I did this too.

[2016-03-03 22:52] KiChjang commented on #9862
Spec: https://html.spec.whatwg.org/multipage/forms.html#dom-textarea/input-setselectionrange
Code: `components/script/dom/htmlinputelement.rs`, `components/script/dom/webidls/HTMLInputElement.webidl`

[2016-03-03 23:01] KiChjang opened #9864 "Disable tidy length check for single import statements"
If we have something like the following:
[code]

./mach test-tidy currently will fail because the line is longer than 120 characters. We should instead check whether the line is a use statement, and if so, only do a length check when there are braces detected in the use statement (otherwise don't perform any checks at all).

Code: `python/tidy.py`

[2016-03-03 23:41] paulrouget opened #9865 "shadow prevents clicks"
Clicking on the green div under the shadow doesn't print `42`.

[code]

[2016-03-03 23:47] paulrouget commented on #9865
This has been fixed before: https://github.com/servo/servo/pull/9428

[2016-03-04 00:20] paulrouget opened #9867 "When 2 iframes are overlapping, wrong iframe scrolls"
[code]

[2016-03-04 00:20] paulrouget commented on #9867
Related issue: https://github.com/servo/servo/issues/9416

[2016-03-04 00:48] paulrouget opened #9868 "display:none -> display:inline doesn't work"
[code]

"foo" never shows up.

[2016-03-04 00:49] paulrouget commented on #9868
/cc @pcwalton

[2016-03-04 01:00] larsbergstrom commented on #9767
@UK992 I went ahead and contacted them, too, and they let me try the premium/2CPU machines. They took the build down to 52 minutes. I'm looking into possibly getting a premium contract for the Servo GH org :-)

[2016-03-04 01:03] pcwalton opened #9869 "Twitter is jumpy, probably due to inline incremental reflow bugs"
Mouse over Twitter and see the jumpiness.

[2016-03-04 01:03] pcwalton commented on #9869
IIRC Twitter uses inline layout to put the sidebars next to each other.

[2016-03-04 01:04] pcwalton opened #9870 "Can't click on Twitter links"
Hit tests aren't making it to the links.

[2016-03-04 01:46] saurvs commented on #9862
I'd like to work on this.

[2016-03-04 03:06] #9767 closed

[2016-03-04 04:01] #9865 closed

[2016-03-04 05:31] KiChjang commented on #9862
Sure thing!

[2016-03-04 07:50] Ms2ger commented on #8509
It seems to test that you can't construct a DOMMatrixReadOnly at all, which seems wrong. Feel free to ignore those tests.

[2016-03-04 10:13] creativcoder commented on #9864
I'm working on it.

[2016-03-04 12:30] peterjoel commented on #9650
@izgzhen I looked into it a bit when I logged the issue. It can be done by only writing Rust (the bindings to JS are already in place). I suspect there won't be much code to write, most likely the difficulty will be in finding how to access the data you need.

[2016-03-04 12:42] izgzhen commented on #9650
@peterjoel Thanks. So should I simply copy & paste your stub code into my master branch servo or work on your forked branch? I favor the former one since it is simpler, but I am not sure about your idea.

[2016-03-04 13:43] SimonSapin commented on #4409
@nhirata That test page is about the `<select>` element, right? This issue is about text selection with click + drag:

![screenshot from 2016-03-04 14-42-04](https://cloud.githubusercontent.com/assets/291359/13528604/697ca444-e217-11e5-9050-928675990db6.png)

Or do the two interact?

[2016-03-04 14:52] SimonSapin commented on #9864
I don’t think it’s necessary to change tidy here. Whitespace is ignored between tokens so this line can be broken into multiple lines smaller than 120 chars each:

[code]

[2016-03-04 14:53] nox commented on #9864
@SimonSapin You end up with "use statement spans multiple lines".

[2016-03-04 14:54] SimonSapin commented on #9864
I think we should relax *that* instead of the line length limit.

[2016-03-04 15:39] #9486 closed

[2016-03-04 17:10] SimonSapin commented on #9650
Note that these API can make elements with `overflow: hidden` scroll. Test case:

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3962
[code]

[2016-03-04 17:38] peterjoel commented on #9650
@izgzhen Create your own branch from master. Any related changes from my fork are already merged. (Unless I forgot something and you're talking about something specific?)

[2016-03-04 17:40] izgzhen commented on #9650
@peterjoel I mean this https://github.com/peterjoel/servo/commit/17b4253fe9fd59c8785469dda66c51d8145bd6bb change. It is not in master branch.

[2016-03-04 17:54] peterjoel commented on #9650
@izgzhen Ah, yes I forgot I did that. Yes, either copy it or pull from my fork into yours. Copying sounds easiest.

[2016-03-04 18:23] larsbergstrom opened #9874 "Enable CCACHE for AppVeyor Windows builds"
Appveyor now builds Servo. See: https://ci.appveyor.com/project/servo/servo/build/1.0.17

We could speed it up significantly by caching the SpiderMonkey build artifacts. Here, we'd set the `CCACHE` environment variable, as done similarly for Travis here:
https://github.com/larsbergstrom/servo/commit/5c5acc02498ebd14003f086fdb38f56bd5c4e070

And then add it to the list of cached directories between

[2016-03-04 18:45] pcwalton commented on #9854
Fixed by https://github.com/servo/servo/pull/9861.

[2016-03-04 18:45] #9854 closed

[2016-03-04 19:41] paulrouget opened #9877 "With --no-native-titlebar, texture are not blended properly (osx)"
Browserhtml is half transparent

[2016-03-04 19:42] paulrouget commented on #9877
/cc @pcwalton

[2016-03-04 20:18] #9477 closed

[2016-03-04 20:49] paulrouget opened #9878 "With --no-native-titlebar, can't resize window (osx)"

[2016-03-04 21:24] paulrouget opened #9879 "Doesn't scroll at 60 FPS"
`servo -w https://www.rust-lang.org/documentation.html`

Got fullscreen. It probably scrolls at ~40 FPS.

[2016-03-04 21:25] paulrouget commented on #9879
(osx, retina display)

[2016-03-04 21:30] pcwalton commented on #9879
Probably overdraw, testing now.

[2016-03-04 22:06] pcwalton commented on #9879
May not be overdraw related. I get 2-3 ms for a draw.

[2016-03-04 22:10] mbrubeck commented on #9771
Now that #9832 has loaded, this should work as soon as `<link rel="stylesheet">` elements delay the load event (part of #1416).

[2016-03-04 23:29] glennw opened #9881 "Event queue debugging"
It would be really useful to have some infrastructure to be able to debug event loop timing issues.

Could we log the timestamps of when messages are created, and when they are handled?

Perhaps we could also profile how many messages are being sent / received to each thread per second?

It might be useful to be able to filter on certain message types / threads as well?

[2016-03-05 00:15] pcwalton commented on #9879
A debug build feels better than a release build (!)

[2016-03-05 04:03] jdm commented on #9881
The best way to facilitate this is to stop exposing raw Sender/Receivers for the event queues we want to be able to instrument.

[2016-03-05 04:10] glennw commented on #9879
I'll profile this when I can. If it's overdraw, there are a few simple optimizations we can make that should sort that out. There's also several easy wins to be had in the current vertex shader complexity. However, it's possible that it's more related to event queue spamming or something similar if a release build feels worse than debug!

[2016-03-05 04:46] glennw commented on #9879
@pcwalton I'm fairly certain there is a resource leak occurring somewhere. On this page, and on many other demos, I see the CPU compositor time increasing linearly with every frame that gets rendered. That might explain the issue reported here.

[2016-03-05 05:17] pix64 opened #9882 "Panic when running with webrender"
Ubuntu 15.10
Nvidia Geforce 960 (nvidia-352-updates)

    ./mach run -d -w tests/html/about-mozilla.html
    thread 'LayoutThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }' panicked at 'assertion failed: thread::panicking() || result == 0', /home/q/servo/.cargo/git/checkouts/ipc-channel-3840821e54ea11a6/master/platform/linux/mod.rs:552
    stack backtrace:

[2016-03-05 05:18] glennw commented on #9882
There was a bug in ipc-channel on Linux which is exposed by WR - it has been fixed here https://github.com/servo/ipc-channel/commit/32a4ee4a3076c25a43c20bf650bee04d8fa0e428 - but needs a PR to servo to update ipc-channel.

[2016-03-05 06:31] #9882 closed

[2016-03-05 08:12] #9794 closed

[2016-03-05 11:57] rilut commented on #9859
Since `mouse_over` and `get_nodes_under_mouse` was removed, I'm not sure how to do it correctly. Would you take a look at my attempt? https://github.com/rilut/servo/commit/803be18b1429707103b8e6f6811629510edb8600

[2016-03-05 17:41] schuster commented on #7857
I saw in [1] that the URL API might change. Does it make sense to hold off on submitting any changes until that's done, or should I submit something and then it can get updated with everything else later?

[1] https://github.com/servo/rust-url/pull/176

[2016-03-05 17:43] pcwalton commented on #9879
After a lot of investigation, my current theory is that it's a scroll event issue on Mac. We batch up all scroll events on each frame that occurred during the composite. If the composite is running too fast it might be that the scroll event bucketing becomes unbalanced: frame 1 processes a small number of scroll events, frame 2 processes a bunch, frame 3 processes a small number, frame 4 processes

[2016-03-05 21:25] cengizIO commented on #8351
Hello. I'm new to Rust and Servo.

I'm comfortable with cross compiling, tooling etc.

I'd like to take this issue if nobody else is claiming it.

[2016-03-05 21:27] larsbergstrom commented on #8351
@cengizIO Great! Please feel free to ask any questions here if you need any clarifications.

[2016-03-05 23:02] SimonSapin commented on #7857
If you’re implementing anything from https://url.spec.whatwg.org/#api yes, since servo/rust-url#176 does as well.

[2016-03-06 02:28] AgostonSzepessy commented on #9475
I'd like to try this one.

[2016-03-06 08:12] paulrouget commented on #9879
I'm not sure this is true. Any idea where this would be happening in Gecko?

[2016-03-06 09:33] nox commented on #9475
Go ahead!

[2016-03-06 12:13] Jayflux commented on #9761
@sydbarrett74  That's odd, this issue got fixed and merged into master from https://github.com/servo/servo/pull/9624

[2016-03-06 18:10] frewsxcv commented on #331
Is this still necessary with all the new WebRender stuff?

[2016-03-06 18:42] metajack commented on #331
This happened long ago. This is what -g does :)

[2016-03-06 18:42] #331 closed

[2016-03-06 23:33] MichaelRFairhurst commented on #9806
See PR

it actually already tries to strip strings first, it just couldn't handle escapes. The correct repro steps are

    a = "\"foo=bar"

but no longer an issue!

[2016-03-07 00:04] ckimes89 commented on #9131
@frewsxcv @nox It looks like [Element Send Keys](https://github.com/danlrobertson/servo/blob/master/components/webdriver_server/lib.rs#L654) from WebDriver is already implemented which I think is the only thing needed to test the input event. However, I'm not sure how to use WebDriver in the test suite, are there any examples for this?.

[2016-03-07 01:56] jdm commented on #9131
Unfortunately not. That is part of an [ongoing project](https://github.com/servo/servo/wiki/Webdriver-tests-student-project) that will hopefully yield useful results to build on.

[2016-03-07 08:35] sorpaas commented on #9874
I would like to work on this. @larsbergstrom

[2016-03-07 09:08] magni- commented on #9599
I'd like to claim this one if it's still free

[2016-03-07 13:17] larsbergstrom commented on #9874
@sorpaas That sounds great - thanks! Please let us know if you have any problems with it. I know that the MSYS/MINGW environment can be pretty tricky.

[2016-03-07 13:50] ecoal95 opened #9893 "Tidy doesn't scan `support/android/build-apk/src/main.rs`"
In #9891, a lot of trailing white-space was removed, that wasn't caught by tidy.

It should be easy to make it scan that file too.

cc: @Wafflespeanut

[2016-03-07 14:02] jdm commented on #9893
Code: `python/tidy.py`

[2016-03-07 14:02] jdm commented on #9599
Go for it!

[2016-03-07 14:20] nox opened #9895 "Print paths for errors occurring in the servo crate"
[code]

Our `mach` tool should print `components/servo/lib.rs` instead of `lib.rs`.

[2016-03-07 15:29] jdm opened #9897 "Loading http://twitter.com yields a white screen and a maxed-out CPU in a debug build"
And this is the only terminal output:
[code]

[2016-03-07 15:46] jdm commented on #9897
Instruments.app claims that lots of the execution time is spent under `Parser::source_location` which is called from `parser::log_css_error` via `CSSErrorReporter::report_error`.

[2016-03-07 15:47] jdm commented on #9897
[code]

[2016-03-07 15:48] jdm commented on #9897
When I let Servo run for multiple minutes, I eventually get actual page content!

[2016-03-07 16:01] jdm commented on #9897
Note: optimized builds perform significantly better (ie. seconds instead of minutes).

[2016-03-07 16:13] jdm commented on #6542
Any further issues encountered, @rebstar6?

[2016-03-07 16:18] Wafflespeanut commented on #9864
rustfmt does the latter (I guess). Maybe we can allow tidy to ignore multiple line `use` statements if it doesn't have curly braces (i.e., multiple imports),

[2016-03-07 16:34] paulrouget opened #9900 "Make it possible to programmatically close, minimize and maximise the window"
For close, we can reuse `window.close`.
Not sure yet what this should look like for minimize and maximise.

[2016-03-07 16:42] rebstar6 commented on #6542
Nope, sorry, just was super busy last week with some other stuff - will be getting back to it this week.

[2016-03-07 16:56] jdm opened #9902 "Intermittent timeout in /websockets/constructor/010.html"
[code]

[2016-03-07 17:02] AgostonSzepessy commented on #7481
I'd like to try this one. If I start working on this, where should I put the code in the source tree?

[2016-03-07 17:13] Wafflespeanut commented on #7481
Let's put it inside `python/` :)

[2016-03-07 17:38] paulrouget commented on #9900
Ideally, this should be done by the runtime (see https://github.com/servo/servo/issues/7379), not from browserhtml.

But in the meantime, we probably just want to add prefixed `maximise` and `minimize` methods to the window (probably behind a pref, and only if top level window).

[2016-03-07 17:57] MichaelRFairhurst commented on #9599
Is there an existing performance benchmark to compare results, or should I create one?

[2016-03-07 18:39] SimonSapin opened #9904 "Intermediate optimization level?"
Release builds take forever to make, and debug build take forever to run. Browser.html in particular is almost unusable (at least for me) in debug mode: wait multiple seconds or so between hitting the keyboard and a letter showing up in the URL bar, multiple seconds to bring up the "tab" list with only one intermediate frame of the animation showing up…

Can we do something in-between? Maybe `-O1`

[2016-03-07 21:05] #9864 closed

[2016-03-07 21:26] pcwalton commented on #1141
It's something like `advance_for_char_range` now.

[2016-03-07 21:48] SimonSapin commented on #8219
Now that https://github.com/servo/rust-selectors/pull/75 has landed, the parsing support for `:lang` can be implemented in `components/style/selector_impl.rs` by adding a `parse_non_ts_functional_pseudo_class` method like in tests for https://github.com/servo/rust-selectors/pull/75

[2016-03-08 00:12] larsbergstrom commented on #8351
@cengizIO Sorry I missed you on IRC! Can you ask any questions that you have here?

[2016-03-08 00:30] UK992 commented on #9893
I would like to take this.

[2016-03-08 00:32] ecoal95 commented on #9893
It's yours then! :)

[2016-03-08 00:41] UK992 commented on #9893
it will be ok to scan entire directory ``support/android/build-apk/`` ?

[2016-03-08 04:15] Wafflespeanut opened #9909 "Intermittent timeout in /html/rendering/replaced-elements/svg-embedded-sizing/svg-in-img-auto.html"
Tests with unexpected results:
      ▶ TIMEOUT [expected OK] /html/rendering/replaced-elements/svg-embedded-sizing/svg-in-img-auto.html
      │
      │ thread 'LayoutWorker worker 1/12' panicked at 'called `Result::unwrap()` on an `Err` value: IoError(Error { repr: Os { code: 104, message: "Connection reset by peer" } })', ../src/libcore/result.rs:746
      │ stack backtrace:
      │    1:     0x7

[2016-03-08 04:29] jdm commented on #9909
Could be a duplicate of #8815.

[2016-03-08 05:34] jdm commented on #9870
This looks like a regression caused by #9755, since the first listener encountered while bubbling is the Document, and it returns false, thus cancelling the event and preventing the default action from being invoked.

[2016-03-08 06:19] pix64 commented on #9465
Starting the executable directly from the MinGW64 shell also works fine. This is a problem with mach.

Removing the **kwargs arguments from this check_call call: http://mxr.mozilla.org/servo/source/python/servo/command_base.py#108 allows mach to run Servo.

If mach is ran with debug flag, it works fine. Mach is running [u'/mingw64/bin/gdb', '-q', '--args', '/e/code/servo/target/release/servo'] rat

[2016-03-08 06:42] g-k commented on #4431
OK I rebased Glenn's branch (https://github.com/servo/servo/pull/5597 doesn't look related) and got started here: https://github.com/servo/servo/compare/master...g-k:csstext?expand=1

I think the CSS property name shortening is more or less correct for normal CSSStyleDeclarations though I need to clean the code up.

I'm seeing test failures for `color: RED;` vs. color: red;`, `font-size: 10pt` vs.

[2016-03-08 07:50] #9893 closed

[2016-03-08 09:29] Ms2ger opened #9912 "Remove unused cell_extras feature gates."
Look for
[code]

They should all be unused now, and can be removed.

[2016-03-08 10:10] nical opened #9913 "LayoutThread panicked at 'no entry found for key',"
I get this crash after a few seconds on a clean build from today's master branch with & without webrender and with & without browser.html.
I don't imply that this is a recent regression, I hadn't built servo for a while.

cc @SimonSapin  @glennw

[code]

[2016-03-08 10:45] paulrouget opened #9914 "[meta] github.com bugs"
We want to properly support github.com. It needs to be rendered properly (homepage and issue pages) and make sure it behave properly. We want to be able to sign in and file issues.

See https://github.com/servo/servo/wiki/WebCompatBug

----

* https://github.com/servo/servo/issues/9829

[2016-03-08 10:48] paulrouget opened #9915 "DuckDuckGo bugs"
We want to properly support duckduckgo.com. It needs to behave and be rendered properly (homepage and search result page).

See https://github.com/servo/servo/wiki/WebCompatBug

---
- [x] https://github.com/servo/servo/issues/7635
- [x] https://github.com/servo/servo/issues/10309
- [x] https://github.com/servo/servo/issues/11150
- [x] https://github.com/servo/servo/issues/11151
- [x] https://githu

[2016-03-08 10:50] paulrouget opened #9916 "Hacker News bugs"
We want to properly support https://news.ycombinator.com. It needs to behave and be rendered properly (frontpage, comments, login).

See https://github.com/servo/servo/wiki/WebCompatBug

---
- [x] https://github.com/servo/servo/issues/10022
- [x] https://github.com/servo/servo/issues/10233
- [x] https://github.com/servo/servo/issues/10234
- [x] https://github.com/servo/servo/issues/11821
- [ ] htt

[2016-03-08 10:51] paulrouget opened #9917 "[meta] reddit bugs"
We want to properly support reddit.com. It needs to behave and be rendered properly (frontpage, comments, login).

See https://github.com/servo/servo/wiki/WebCompatBug

---

- [x] #10012
- [x] https://github.com/servo/servo/issues/10027
- [x] #12094

[2016-03-08 10:59] paulrouget opened #9918 "./mach package"
We want to build a `.app` or a `.dmg` file on Mac. And zip files for Linux and Windows.

They will include the Servo binary, the `resources` folder, and a copy of browserhtml.

I think Jack is working on that.

[2016-03-08 11:00] paulrouget commented on #9831
Is that something we could get by mid-may?

[2016-03-08 11:02] paulrouget opened #9919 "iframe.goBack() doesn't paint the previous pipeline"
STR:
- load test case (see "foo")
- click on "go to next page" (see "bar")
- click on goBack

"foo" should show up.

[code]

[2016-03-08 11:22] paulrouget commented on #9879
Talked to Nikal. We do have scroll events interpolation code.

Relevant blog posts: http://www.masonchang.com/blog/2014/8/11/smooth-scrolling-frame-uniformity-touch-interpolation-and-touch-responsiveness , http://www.masonchang.com/blog/2014/8/25/androids-touch-resampling-algorithm

[2016-03-08 11:38] nox commented on #4431
Staaahp. Isn't that the same thing as #9410? :/

Cc @craftytrickster.

[2016-03-08 12:00] Ms2ger commented on #7846
@mbrubeck want to debug this one?

[2016-03-08 12:48] #9912 closed

[2016-03-08 13:02] nox commented on #7846
Interestingly, disabling incremental layout produces a blank page.

[2016-03-08 13:09] larsbergstrom opened #9921 "Servo needs nightly builds"
We need nightly builds for Servo. Initial work is going on here: https://github.com/servo/servo-nightly/

[2016-03-08 13:10] larsbergstrom commented on #9831
@paulrouget We haven't done our Q2 planning yet, but I'm not otherwise committed at this point, and could probably look at it.

[2016-03-08 13:14] Wafflespeanut commented on #9913
What's the URL, btw?

[2016-03-08 13:17] nical commented on #9913
It was github that particular time but it happens with every url I have tried so far.

[2016-03-08 14:13] larsbergstrom opened #9922 "CEF still rebuilding too much stuff on Linux, due to the headless feature"
On our Linux CI builds, we set `SERVO_HEADLESS=1` and thus pass `--feature=headless` to the main build and unit tests. Unfortunately, when we do `build-cef`, we do NOT pass that feature in. Therefore, as seen in the fingerprint log below, we are forced to rebuild the whole thing. There are a few options here:

1) Hurry up and help #8641 get landed
2) On CI, go ahead and build CEF with the headless

[2016-03-08 15:40] larsbergstrom commented on #9922
Hrm, even if I pass the same features, I still get these errors.

@alexcrichton Should the fingerprint path matching work if there are optional features enabled? I might be doing something wrong here, but even if I try to match them all up, we still get a LOT of rebuilding.

[2016-03-08 15:42] larsbergstrom commented on #9922
Oh, I might also not be fully threading all features properly through the full tree of our dependencies. I'll give that another try...

[2016-03-08 16:14] alexcrichton commented on #9922
@larsbergstrom if you set the headless features, what's the output of the `RUST_LOG` annotation? It looks like from the logs above it's not only the `headless` features sometimes being activated or not but it's also the `webdriver` feature for at least the servo crate

[2016-03-08 16:16] metajack commented on #9922
Must headless be a feature? This used to work with an env var, which was not the best, but it seems reasonable to want to build servo for dev but run tests headless if you are on Linux.

[2016-03-08 16:19] larsbergstrom commented on #9922
@metajack There is a PR I mentioned above (#8641) that would remove the headless feature.

----------

@alexcrichton I think you're right, looking into it more! I do need to add the other features to the rest of the dependency tree. I'll try that out.

[2016-03-08 16:36] metajack commented on #9918
I had a working prototype of this, which mainly involves creating a .app directory and moving stuff into the right places. If anyone else wants to work on this before I get back to it, I can post the Info.plist and steps I took.

[2016-03-08 17:11] pix64 commented on #9468
Same error occurs when attempting to run servo through RDP (from a mac anyways)

[2016-03-08 17:12] jdm commented on #9870
The handler preventing clicks is this one:
[code]

[2016-03-08 18:20] jdm opened #9924 "Ban DOMRefCell until proven safe"
#We ban `Cell<JS<T>>` and require the use of `MutHeap<JS<T>>` instead. We should extend the ban to `DOMRefCell` as well.

Code: `components/plugins/lints/ban.rs`, `tests/compiletest/plugin/compile-fail/ban.rs`

[2016-03-08 20:00] matthiaskrgr opened #9927 "crash with -p <url>"
If the interval to the -p argument is forgotten, servo crashes.
[code]
However
[code]
works just fine.

Perhaps an error message could be printed instead of crashing?

@ ebe7d9ebfb28d484ff0cce4e70cb8809f5867af5

[2016-03-08 20:12] rebstar6 opened #9928 "HTMLLabelElement activation behavior should call on descendants"
See https://html.spec.whatwg.org/multipage/forms.html#the-label-element

Right now, the activation_behavior implementation in HTMLLabelElement calls synthetic click activation steps on the current element, which in turn calls activation_behavior (recursive mess!). This should be called on the descendants of the element.

A HTMLLabelElement click test should also be added.

[2016-03-08 20:13] jdm commented on #9928
I wrote an [interesting testcase](http://software.hixie.ch/utilities/js/live-dom-viewer/?%3C!DOCTYPE%20html%3E%0A%3Clabel%20id%3D%22first%22%3Ehi%20%3Cinput%20type%3D%22checkbox%22%3E%3Cinput%20type%3D%22checkbox%22%3E%3C%2Flabel%3E%3Cbr%3E%0A%3Cscript%3Edocument.getElementById(%22first%22).click()%3C%2Fscript%3E%0A%0A%3Clabel%20id%3D%22second%22%3Ehi%20%3Cinput%20type%3D%22checkbox%22%20disabled%

[2016-03-08 20:15] rebstar6 commented on #9928
(awaiting https://github.com/servo/servo/issues/6542 completion/merge - will conflict)

[2016-03-08 20:16] jdm commented on #9927
To be fair, it did print an error: "Error parsing option: -p: ParseFloatError { kind: Invalid }" However, we could conceivably do better than just calling `expect` on such things: https://github.com/servo/servo/blob/ebe7d9ebfb28d484ff0cce4e70cb8809f5867af5/components/util/opts.rs#L608

[2016-03-08 21:12] RichardlL commented on #9897
Just notifying that I got this figured out, I'll do a write up shortly.

[2016-03-08 21:47] jdm commented on #9870
Whee, I figured it out. Twitter removes the event handler that's causing difficulties as a result of the `load` event being dispatched. However, we currently fail while executing the other JS that sets up this chain of events. Clicking things starts working for me with the following userscript present when running Servo:
[code]

[2016-03-08 21:49] jdm opened #9931 "Texture cache panic using webrender on twitter.com"
[code]
STR: `./mach run -r http://twitter.com -w`

[2016-03-08 21:53] larsbergstrom commented on #8351
We had a chat on IRC, and I confirmed that `unshare` (seen in the output below) should also be safe... since Servo is currently running just fine on Android :-)

[code]

[2016-03-08 21:53] krstoff commented on #9551
Okay, the code required was only a few lines, and I've got a test case written, but I'm a little bit confused by the way testing is done in Servo. This was a partially implemented feature so test cases for this request method already exist, so does that mean I need to change some expectations? Can someone give me a very brief walkthrough?

[2016-03-08 21:56] yoava333 commented on #9924
I'd like to give a try

[2016-03-08 21:57] jdm commented on #9924
@yoava333 Go for it!

[2016-03-08 22:04] larsbergstrom opened #9932 "Webrender shaders don't compile on Ubuntu with Skylake Intel Graphics"
We get an error using the out-of-box Intel drivers for the Skylake integrated graphics, as they only support GLSL 1.30, but WR requires 1.50.

[code]

[code]

cc @glennw in case I'm doing something stupid here, Linux-wise :-)

[2016-03-08 22:05] larsbergstrom commented on #9932
Some more system info:
[code]

[2016-03-08 23:01] ecoal95 commented on #9932
I don't know if the requisites have changed, but when I was adding WebGL support to WR I had an Ubuntu machine with the same max GLSL version (1.3), and just changing the version number in the shaders worked.

I think that change was reverted by @pcwalton though, but I can't recall why.

Some days later, playing around, I updated the intel driver using the daily graphics ppa, and I could compile 1

[2016-03-08 23:26] glennw commented on #9932
@larsbergstrom Could you try changing the gl_version() function in ports/glutin/window.rs to use 3,3 instead of 3,2 and/or could you try changing the shader version strings in the glsl files to 330 and see if one or both of those helps?

[2016-03-08 23:27] RichardlL commented on #9897
After looking over this for a few hours, I couldn't determine any major performance problems.

What is happening is that for every parsing error, `source_location()`takes the position, and counts the number of new lines `(\n, \r, \r\n)` , to give a row and column. It also keeps the last position and line number, so it doesn't lose count between errors.

Twitter has a few ~10k css files, and it dis

[2016-03-08 23:52] jdm commented on #9897
Note that the one in reporter.rs isn't accidental - it's unnecessary for the case when the developer tools aren't enabled (since ReportCSSError should be ignored in that case), but if running with devtools then we want to be able to store logged CSS errors, including position/column. Although this only _seriously_ affects debug builds, I'm hoping that we can find a way to not ruin the experience o

[2016-03-08 23:56] g-k commented on #4431
oh noes!  I suppose this built character or something.  : |

Once #9410 lands I guess I can just add bindings for the cssText getter and setter.

[2016-03-09 00:08] glennw opened #9933 "requestAnimationFrame doesn't work on Android"
It only seems to animate if you keep a touch event pressed down - I've only tested this with WR.

This _might_ be related to https://github.com/servo/glutin/blob/servo/src/api/android/mod.rs#L302 although I suspect there's at least one other issue before that - as the unimplemented!() macro panic is not occurring in my tests.

cc @larsbergstrom

[2016-03-09 00:22] jdm commented on #9897
When I make the following change to rust-cssparser, I no longer see any evidence of source_location in the profiles:
[code]
Instead, layout::matching::matches_compound_selector is hogging 77% of the profile. 75% is layout::matching::can_fast_reject, with 68% in Element::has_class.

[2016-03-09 00:22] jdm commented on #9897
cc @SimonSapin for thoughts on the previous diff.

[2016-03-09 00:24] jdm commented on #9897
Profile for the curious:
[code]

[2016-03-09 00:43] RichardlL commented on #9897
I meant accidental as in it was not under `if LogLevel::Info` s block

Does devtools set Loglevel::info, or should I check for another flag?

[2016-03-09 00:43] larsbergstrom commented on #9932
I'm going to close this, as it's no longer repro'ing on debug or release after I did another pull from master, clean rebuild, and reboot of my machine. I'm still getting the same output from all of the linux tools above, so I don't really know how it's able to compile shader versions it claims it doesn't support, but I can no longer reproduce this failure :-/

[2016-03-09 00:44] #9932 closed

[2016-03-09 00:48] RichardlL commented on #9897
I looked up that error code earlier, its from spidermonkey, The furthest I got was finding out it was for when the start of a range was greater than the end of it.

[2016-03-09 01:00] jdm commented on #9897
@RichardlL How would the source location be contained under the `if LogLevel::Info`? We send the column and line number as part of the ReportCSSError message. As for detecting if devtools are in use, that's the `devtools_port` field of the `Opts` struct in `utils/opts.rs`.

With regards to the JS error from the first comment, it's a red herring. The JS that's being parsed when it occurs won't exec

[2016-03-09 01:04] jdm commented on #9551
Yes, the [web-platform-tests](https://github.com/w3c/web-platform-tests/) testsuite (which we have a local clone for) is shared between browsers and supports running with expected output that can include fail, crash, timeout, etc. You can learn about updating expectations from the [readme](http://mxr.mozilla.org/servo/source/tests/wpt/README.md#80) for our test harness. Please ask questions if any

[2016-03-09 01:05] jdm commented on #9551
The easiest way to check is to run `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/` and see if any tests now report different results. It may make sense to add your test as well, if it doesn't duplicate an existing one!

[2016-03-09 01:06] Zarathustra30 opened #9935 "Bare CRs in doc-comment on Windows 10 x86-64"
Servo fails to compile on Windows 10 x86-64 due to 79 `bare CR not allowed in doc-comment` errors.

[Here is a gist of all of the errors.](https://gist.github.com/Zarathustra30/e54a6fe0fbf8893b2c62)

[2016-03-09 01:56] youraerials opened #9936 "Transforms and transitions not applied"
When transforming DIV elements to create a cube and adding a hover stat to animate their container, Servo+WebRender doesn't apply rotation transforms correctly and doesn't render the transition.

Check out the attached example in Aurora (which appears to ignore the perspective) and Chrome (which renders as expected).  To test, I'm running

`servo -Z wr-stats -w --resolution=1024x768 transforms-bug

[2016-03-09 03:47] dagnir commented on #8015
I'd like to work on this if that's okay.

[2016-03-09 04:22] sorpaas opened #9938 "XOpenIM Failed"
I have a VirtualBox running with `LANG=en_HK.UTF-8`. Attempting to run Servo results in the following error. It is resolved by setting `LANG=en_US.UTF-8`.

[code]

On a VirtualBox running Ubuntu 15.10.

[2016-03-09 06:09] KiChjang commented on #8015
Definitely!

[2016-03-09 07:52] SimonSapin commented on #9897
@jdm Very interesting! I think your diff above causes the method to return incorrect results, but it illustrates the problem: between calls, only the position (and line number) of the last line break is saved, so calling the method for many positions within a single very long line can take O(n²) time overall. A proper fix is to save the entire result of the last call, with a column number as well

[2016-03-09 08:23] SimonSapin commented on #9897
https://github.com/servo/rust-cssparser/pull/102 should fix the performance of `Tokenizer::source_location` on long lines.

[2016-03-09 08:36] Ms2ger commented on #9870
Somewhat relevant: https://eev.ee/blog/2016/03/06/maybe-we-could-tone-down-the-javascript/

[2016-03-09 09:36] sorpaas opened #9939 "Failing to build on Windows 10"
I'm having trouble building servo on Windows 10. It complains missing `glslang` for `angle`.

[code]

[2016-03-09 10:37] #8100 closed

[2016-03-09 10:43] suhr commented on #9461
Looks like it's fixed now.

[2016-03-09 10:43] #9461 closed

[2016-03-09 10:46] suhr commented on #9457
Still not fixed on ebe7d9e.

[2016-03-09 13:44] larsbergstrom commented on #9939
Is this from within the cygwin environment instead of using the carefully-crafted MSYS2 environment as described in the readme? I would not expect Servo to build in any environment that is not identical to the setup described in those steps, unfortunately.

[2016-03-09 15:56] UK992 commented on #9935
I have the same problem, its caused by Github Desktop app, which change line endings to CRLF, i solved it with this tip: http://stackoverflow.com/a/13154031 to force use of LF endings.

[2016-03-09 16:48] vvuk commented on #9468
A VM host (or RDP) is unlikely to provide OpenGL, or the necessary level of OpenGL under Windows.  You can confirm this by downloading something like OpenGL Extensions Viewer from http://www.realtech-vr.com/glview/ and looking at what info it gives for OpenGL renderers.

If the VM provides D3D9+ support, we can build ANGLE and have it provide EGL/GLESv2.  If we need pure software rendering, depend

[2016-03-09 17:15] Jayflux commented on #9468
@vvuk I should note that I worked in a VM because Servo didn't work on Windows.
Now that it does work on the Windows Platform, having it work within a VM is no longer as much a priority for me personally.

Jason

[2016-03-09 18:44] leoschwarz commented on #7688
@boghison I think it's really that. I wasn't able to compile servo because "compiling mozjs_sys" kept failing. I have 4GB RAM on my machine, after adding 3GB swap (I know I'm saving my bits in the wrong place) it's working fine now.

Maybe minimal build requirements should be stated somewhere?

[2016-03-09 19:16] jdm opened #9944 "Run unit tests on appveyor"
#9942 is adding windows-only unit tests, but I have no way to run them right now. We should do that as part of appveyor.

[2016-03-09 20:46] jdm opened #9945 "./mach test-compiletest breaks when there are multiple versions of libplugins present in the build directory"
As far as I can tell, this is due to the way the compiletest helper invokes rustc in `tests/compiletest/helper/lib.rs`:

[code]

I assume Cargo passes references to specific versions of the libraries and therefore avoids this?

[code]

[2016-03-09 21:00] jdm commented on #9945
For example, `./mach test-unit -p net --verbose` shows this in the output when building `net_tests`: `--extern plugins=/Users/jdm/src/dev-servo/target/debug/deps/libplugins-ca2d28dc2c872d09.dylib`

[2016-03-09 21:01] jdm commented on #9945
I expect this can be worked around by removing all the `libplugins` and running `./mach build` as usual before continuing with `./mach test-compiletest`, but this will bite developers locally every time we change the plugins crate or upgrade rustc.

[2016-03-10 00:39] #9924 closed

[2016-03-10 03:32] sorpaas commented on #9939
@larsbergstrom This is in MSYS2.

[2016-03-10 03:38] paulrouget commented on #9582
Ideally, such XHR should be done outside of browserhtml, in privileged code ([runtime](https://github.com/servo/servo/issues/7379)]), but that's not going to happen soon.

2 options:
- we could rely on duckduckgo allowing any origins CORS, but that makes us depend on 3rd party.
- we could implement the Chrome option `disable-web-security`. We would start Servo like this: `servo --pref websecurity.

[2016-03-10 04:17] mstange commented on #9879
On OS X we process all scroll events immediately as they come in. They change the scroll offset on the scroll frame and trigger a composite, and that composite will make use of the most recent scroll position that has been set.
We do have a velocity queue that is limited to 5, which is only used for averaging the velocity of the most recent scroll events. The velocity is used for adjusting the dis

[2016-03-10 09:58] hallvors commented on #9582
Presumably there needs to be a mechanism to only allow this for privileged code anyway? Just adding mozSystem:true support without limitations would give Servo a rather big security hole..?

If you already have that concept of privileged threads, perhaps you could just allow cross-origin usage from such threads?

[2016-03-10 10:16] jnachtigall commented on #7379
@Demurgos

As a follow-up there's a "lessons-learnt" from another Mozillian about the history on how and why  Gecko becoming a "monoculture" and how it could be avoided in the future: https://dutherenverseauborddelatable.wordpress.com/2016/03/07/the-gecko-monoculture/

**tl;dr:**

[2016-03-10 10:32] paulrouget commented on #9582
We don't. The [runtime](https://github.com/servo/servo/issues/7379) is where privilege code will lie. But we don't have it yet.

[2016-03-10 10:38] paulrouget commented on #9749
https://www.opera.com/blogs/desktop/2016/03/native-ad-blocking-feature-opera-for-computers/

[2016-03-10 12:31] Ms2ger opened #9949 "Update WebSocket blocked ports to match the spec."
Spec: https://fetch.spec.whatwg.org/#port-blocking
File: `components/script/dom/websocket.rs`
Test: to be written

[2016-03-10 12:33] annevk commented on #9949
Note that this is not restricted to WebSocket. E.g., this applies to `<a href="https://example.com:21/">test</a>` too.

[2016-03-10 12:39] Ms2ger opened #9950 "Generalize ports restrictions from WebSocket"
Spec: https://fetch.spec.whatwg.org/#port-blocking

[2016-03-10 12:39] Ms2ger commented on #9949
Filed https://github.com/servo/servo/issues/9950 for that.

[2016-03-10 14:23] hallvors commented on #9582
So as of right now, the request "implement mozSystem:true for XHR" is pretty much equivalent to the request "disable web security"? Ahem..
Early days yet, I suppose.

[2016-03-10 14:27] Manishearth opened #9952 "Implement some or all of HTMLHyperlinkElementUtils"
There's a mixin called [HTMLHyperlinkElementUtils](https://html.spec.whatwg.org/multipage/semantics.html#htmlhyperlinkelementutils) which applies to `a` elements among other things.

Here, we will implement the `href` attribute for `<a>`. This is done by:

 - Uncommenting the [interface definition as well as the line for `href`](https://github.com/servo/servo/blob/95883dcbcfe10104c7a78ac532cb9aeb4

[2016-03-10 14:28] Manishearth commented on #9952
@ogeagla is working on this

[2016-03-10 14:56] genodeftest commented on #9585
Same issue here. Intel iGPU on Fedora 23 Linux with X server 1.18.1 running.

tomaka/glutin#314 might be related, there are thoughts/plans to unfork glutin from servo.

[2016-03-10 15:05] jdm commented on #9582
It's possible to restrict it to frames that have the mozbrowser attribute present.

[2016-03-10 15:06] jdm commented on #9952
@Manishearth isn't this #9887?

[2016-03-10 15:53] Manishearth commented on #9952
Yeah. Didn't notice the PR.

@ogeagla You can work on trait-ifying that PR when it lands. I'll also look for something else to work on

[2016-03-10 16:19] ogeagla commented on #9952
@Manishearth sounds good, thanks

[2016-03-10 17:41] larsbergstrom opened #9953 "Disable builds on the master branch for AppVeyor"
Currently, AppVeyor builds the master branch every time that something is merged into it (see: https://ci.appveyor.com/project/servo/servo/history). However, that's not entirely useful, since it has already built exactly that commit on the `auto` branch in order to land it!

We'd like to either disable or no-op the builds on master... but hopefully without breaking AppVeyor builds on PR branches.

[2016-03-10 18:56] yoava333 commented on #9769
I'd like to give it a try

[2016-03-10 19:12] jdm opened #9954 "Avoid calling layout_font_group_for_style when there's a more direct way to get a fragment's font metrics"
The PR in #9196 had a 31% layout time improvement on https://drafts.csswg.org/css-backgrounds-3/, but it also had a test failure:
[code]

[2016-03-10 19:12] KiChjang commented on #9274
#9276 is an unfinished attempt at this issue.

[2016-03-10 19:14] jdm opened #9955 "Use the whitespace flag in each glyph instead of going to the string for whitespace stripping"
The PR in #8994 was designed to fix "str::slice_chars was O(n) and #2 in the profile." but it had test failures:
[code]

[2016-03-10 19:23] jdm opened #9957 "Implement flexbox reordering"
#9117 was an implementation that had some review comments that needed addressing, and is missing some tests as well. It would also be valuable to see what tests in `tests/wpt/css-tests/css-flexbox-1_dev/` pass with the changes applied as well.

[2016-03-10 19:28] jdm opened #9958 "Calling *VertexAttrib* with invalid vertices causes panics"
#9102 was a PR to address this, but there were unaddressed review comments and the author stopped responding.

[2016-03-10 19:31] jdm commented on #6414
Latest attempt was #9730, but there were test failures that need further investigation.

[2016-03-10 19:36] jdm commented on #2604
Latest attempt at #7524.

[2016-03-10 19:37] jdm opened #9959 "Remove type parameters from WorkQueue"
#9050 was an attempt to do this and clean up the code, but it appears to cause extra allocations which would be bad for performance.

[2016-03-10 19:39] jdm commented on #9769
Please do!

[2016-03-10 20:44] SimonSapin opened #9960 "Show a URL rather than "untitled" in the title bar"
![screenshot from 2016-03-10 21-39-30](https://cloud.githubusercontent.com/assets/291359/13683734/9dc84ece-e708-11e5-900a-a70cb50df82a.png)

Currently the "title" of a Servo window is `{} - Servo`, where `{}` is (I think) the contents of the `<title>` element, or `untitled` if that is missing or empty.

Using the document’s URL would be a more useful default than `untitled`.

[2016-03-10 23:38] jdm opened #9963 "Implement sending a Document via XMLHttpRequest"
Specification: https://xhr.spec.whatwg.org/#interface-xmlhttprequest and https://xhr.spec.whatwg.org/#dom-xmlhttprequest-send
Code: `components/script/dom/webidls/XMLHttpRequest.webidl`, `components/script/dom/xmlhttprequest.rs` (see `Send` method)
Tests: `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/`
Minimal testcase:
[code]
And run that from an http server like [this minimal pyth

[2016-03-10 23:39] jdm commented on #9963
Note: this is reserved for a potential RGSoC applicant, so please talk with me before starting to work on this!

[2016-03-10 23:58] jdm opened #9965 "Run the tests from the cookie compatibility testsuite"
http://inikulin.github.io/cookie-compat/ is a great resource. We can use this to improve our confidence in our cookie code.

[2016-03-11 00:40] #9806 closed

[2016-03-11 01:07] mbrubeck commented on #7846
Servo lays out this test correctly in its initial layout, but then messes it up in any relayout (whether it's an incremental or full layout).

The problem is that the ResolveGeneratedContent traversal is not safe to run more than once on the same flow.  It mutates some GeneratedContent fragments into ScannedText fragments. The next time it runs, any remaining GeneratedContent fragments are process

[2016-03-11 02:04] #9862 closed

[2016-03-11 06:47] aneeshusa commented on #9921
Can we just add a cron job to the Salt states to kick off a build every night, or will this be more involved? Is there a reason to do it on Travis instead?

[2016-03-11 08:22] F3real commented on #9960
I am interested in trying to do this.

[2016-03-11 08:43] jdm commented on #9960
Go ahead!

[2016-03-11 14:20] larsbergstrom commented on #9921
I was thinking of having a cron job from Salt that creates a tag and would cause a build to kick off every night.

We could also do the builds on our buildbot buildslaves, but we would need to have special buildbot steps to package up the outputs and S3 or GitHub release API tokens to push the builds out to the shares.

The main reason I like doing some of this stuff on Travis is that other people

[2016-03-11 17:36] frewsxcv commented on #7273
At the time of writing, there is one `impl` remaining to be implemented:

https://github.com/servo/servo/blob/53aca4b80eef2890c43dd2d0e905b25588651191/components/script/dom/document.rs#L2529-L2533

[2016-03-11 18:05] LifeIsStrange opened #9970 "Make use of the new polaris algorithm ?"
For Faster load
https://www.csail.mit.edu/node/2720

[2016-03-11 18:09] frewsxcv commented on #9970
Media coverage about this: http://www.zdnet.com/article/mits-answer-to-cutting-webpage-load-times-its-the-polaris-compression-trumping-browser-framework/

[2016-03-11 18:24] larsbergstrom commented on #9970
Link to the paper here: http://web.mit.edu/ravinet/www/polaris_nsdi16.pdf

Certainly, I'd be open to seeing a research group evaluate the results within Servo! Some interesting questions to me are:
- Now that HTTP/2 has rolled out more significantly since the analysis was done, how does Polaris compare to HTTP/2?
- What is the impact on power consumption? Browser network load is optimized both for

[2016-03-11 18:49] #9830 closed

[2016-03-11 21:02] timvandermeij commented on #6542
Fixed by #9930?

[2016-03-11 21:15] jdm commented on #6542
Yep!

[2016-03-11 21:15] #6542 closed

[2016-03-11 22:39] #7846 closed

[2016-03-11 23:55] KiChjang opened #9973 "Make html/semantics/forms/form-submission-0/getactionurl.html pass"
#9735 added a test for [get action URL](https://html.spec.whatwg.org/multipage/#submit-get-action), but the test fails because we do not have the origin concept defined for data URI schemes.

[2016-03-12 00:19] nox commented on #8397
That PR landed a while ago.

[2016-03-12 01:02] sydbarrett74 commented on #9761
I grabbed the latest nightly build, and no longer have the problem. Closing this bug.

[2016-03-12 01:02] #9761 closed

[2016-03-12 01:03] larsbergstrom commented on #9761
@sydbarrett74 Thanks for following up - much appreciated!

[2016-03-12 01:11] sydbarrett74 opened #9974 "OSError: [Errno 13] Permission denied"
I pulled down the latest nightly and attempted to build Servo. I get the below error using MINGW64 on Windows 10 Insider fast-ring build 14271. (NB: I ran the MINGW64 console using Administrator privileges.) As to why I'm getting a permission error, I have no idea. All of this is occurring under my Windows profile, so my user account should have full write permission to nested directories.

[code]

[2016-03-12 01:12] aneeshusa commented on #9921
Creating a new tag every night doesn't sound scalable, but I understand wanting to use Travis; can we just force-push to a certain branch instead like homu does with `auto`?

I'm +1 on a cron job to kick off these builds. I still think it would be nice to converge the saltfs repo with the nightly builds, so the nightly builds on Travis use a subset of the Salt configurations to get all the pre-req

[2016-03-12 01:21] larsbergstrom commented on #9921
Oooh, I like the force-push to a `nightly` branch idea way better. And definitely doing that as a cron job, managed by saltfs, makes me happy. As much as I like all of the random external services we use, our nightly builds of Servo should be something we have a little more directly control over.

[2016-03-12 05:23] AgostonSzepessy commented on #7481
I have a question: am I supposed to extract the failures from the raw log files generated by this command: `./mach test-wpt --log-raw=/path/to/some/logfile`? If not, then which log file am I supposed to extract the failures from?

[2016-03-12 05:40] Wafflespeanut commented on #7481
Yep, that's the one. If we don't pass `--log-raw`, then `./mach test-wpt` command automatically outputs something like

    ▶ TEST-RESULT [expected RESULT]
    // traceback

whenever it encounters a mismatch in the results<sup>[1]</sup>. The argument makes `mach` write it to the log file. So, we have two choices. We could either generate the log file and let the tool analyze it, or (more easily) j

[2016-03-12 05:42] Wafflespeanut commented on #7481
No, we should probably go for analyzing the generated log file - piping doesn't make any sense here.

[2016-03-12 06:03] danlrobertson commented on #8003
Is there a good way to get the logs from the PRs tests? I looked at all the links and they either had no logs or yielded 404s. I'll try running them on my local machine

[2016-03-12 08:46] KiChjang commented on #9490
@fhahn Are you still working on this?

[2016-03-12 09:13] #9690 closed

[2016-03-12 09:28] jdm commented on #8003
Unfortunately we have started deleting them automatically after a few days. If you open a rebased version of the PR temporarily we can get a new log for you. For running locally you could look for any testcase using inline-table and use `./mach test-css`.

[2016-03-12 09:33] jdm commented on #7481
I think we should parse the default stdout output, since the raw logs are 50-100mb and will be slow to transfer.

[2016-03-12 09:34] jdm commented on #7481
And specifically I'm thinking of the `stdio` links from buildbot results in PRs.

[2016-03-12 09:40] jdm commented on #9490
If you forgot about it, may I ask that it remain forgotten? I filed #9963 yesterday without realizing it was a duplicate and I'm hoping some students will start working on it soon.

[2016-03-12 10:43] saurvs commented on #9949
I'd like to work on this.

[2016-03-12 12:53] bobthekingofegypt commented on #9803
Is it ok if I try to take a look at these intermittent websocket issues?

There seems to be a few,  I think are probably all related.

[2016-03-12 13:26] Ms2ger commented on #8003
I don't think this is an appropriate project for anyone who does not have significant experience with table layout.

[2016-03-12 13:36] craftytrickster opened #9978 "CSS: parse_non_custom_with_var does not consume leading whitespace"
A css property may look like the following:
`color: green; display: inline;`

When the css parser parses the above statement, it understands the the color is "green" not " green" with a leading space. However, when dealing with var properties, such as `display: var(--a) 1px;`, it does not understand that the leading space should be ignored. This appears to be causing the test failures on https://g

[2016-03-12 13:41] Manishearth commented on #9803
Go ahead!

[2016-03-12 15:05] stspyder commented on #8397
Well, sorry it took me a while to come back on this. But most of my work is complete already. I'll submit a PR shortly. Don't want someone to duplicate efforts here.

[2016-03-12 15:59] #9709 closed

[2016-03-12 16:03] jdm commented on #8397
@stspyder See also #9977 that has already been opened :/

[2016-03-12 16:18] danlrobertson commented on #8003
I do not have significant experience with table layout, but I'm not afraid of digging into some docs, so I'm happy to dig into this issue or move on to another... whatever you all would prefer works for me

[2016-03-12 16:20] stspyder commented on #8397
@jdm, yes noticed it. #9977 requires changes in tests for the wpt tests to pass which are available in #9979. I'll close #9979 if those changes can be done in #9977.

[2016-03-12 18:14] bobbwhy commented on #7303
I installed openssl with brew and tried a variation of the above export command but with reference changed to point to the update brew listed directory
**still no luck.**

`brew list openssl`
`/usr/local/Cellar/openssl/1.0.2g/bin/c_rehash
/usr/local/Cellar/openssl/1.0.2g/bin/openssl
/usr/local/Cellar/openssl/1.0.2g/include/openssl/ (75 files)
/usr/local/Cellar/openssl/1.0.2g/lib/libcrypto.1.0.0.dy

[2016-03-12 18:46] bobbwhy commented on #7303
ok scratch that ... `brew link --force openssl` as suggested in the thread link helpfully provided by frewsxcv ...   test ran .. thanks!

[2016-03-14 03:58] paulrouget opened #9982 "Get overscroll right"
https://github.com/servo/servo/pull/9851 implements overscroll on Mac.

We want to tweak the algorithm to match cocoa's behavior.

/cc @gordonbrander

[2016-03-14 05:19] paulrouget opened #9983 "iframes not clipped by border radius"
Affects browserhtml

`border-radius` on a iframe and its parents doesn't clip the content of the iframe.

Happens both with and without webrender.

[code]

<img width="566" alt="screen shot 2016-03-14 at 06 17 13" src="https://cloud.githubusercontent.com/assets/373579/13735664/9d9202e6-e9ac-11e5-9156-d8bb60c52a33.png">

[2016-03-14 06:20] paulrouget commented on #9856
We have 2 options here:

1. just set an arbitrary region of 28 css pixels that is draggable from within Glutin. This might be good enough for the June release;
2. expose a Glutin API to set the region programmatically. From Servo, this could be bound to a CSS property (see https://github.com/servo/servo/issues/7408)

[2016-03-14 06:38] paulrouget commented on #9855
I'm under the impression this is not happening anymore.

@pcwalton can you confirm?

[2016-03-14 07:09] paulrouget commented on #8077
@SimonSapin - can you confirm you're working on this issue?

[2016-03-14 07:10] paulrouget commented on #9566
This will most likely be fixed within https://github.com/servo/servo/issues/9751

[2016-03-14 07:16] paulrouget commented on #9582
Not really. The content of these frames do not require any special privilege. Only their parent document do.

[2016-03-14 07:19] paulrouget commented on #9812
Requires: https://github.com/servo/glutin/pull/75

[2016-03-14 07:27] victoredwardocallaghan opened #9984 "assertion failed: base_time >= self.timers.borrow().last().unwrap().scheduled_for"
Hi,

This is my first Rust/Servo bug report so forgive me if there is missing details:
Built from servo git hash 'a862384841cb6e8ff43f627a59b67c4f5189b81b' on a Fedora 23/x64bit machine. See rather large backtrace below:

[code]

Kind Regards,
Edward.

[2016-03-14 08:06] victoredwardocallaghan opened #9985 "panicked at 'called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 24, message: "Too many open files" } }', ../src/libcore/result.rs:746"
Another backtrace, this one pretaining to an exception on too many open file descriptors?

Built from servo git hash 'a862384841cb6e8ff43f627a59b67c4f5189b81b' on a Fedora 23/x64bit machine. See rather large backtrace below:

[code]

[2016-03-14 10:03] Ms2ger commented on #9921
Does that mean we would not archive nightly builds at all? I'm not at all convinced I'll be able to build today's nightly this time next year, and having the nightlies archived would be very useful for bisecting regressions.

[2016-03-14 10:06] victoredwardocallaghan opened #9986 "testsuite: TypeError: test_ref() got an unexpected keyword argument 'kind'"
Hi,

The test suite failed on me today :| servo was built from `commit a862384841cb6e8ff43f627a59b67c4f5189b81b`.

[code]

[2016-03-14 10:13] Ms2ger commented on #9949
Go for it!

[2016-03-14 10:36] Ms2ger commented on #8003
The problem is that there's barely any documentation.

[2016-03-14 11:03] Ms2ger commented on #9986
The
[code]
bit should be removed from `python/servo/testing_commands.py`. Do you want to submit a pull request to fix that?

[2016-03-14 12:19] larsbergstrom commented on #9921
@Ms2ger No, we'd definitely still archive nightlies (unlike what we do for Android, which is just a hack I threw together). I think the big question is:
1) Do we put them in an S3 bucket
2) Do we create a 'git release' and put them up on GitHub every night
3) {Something else}

It's something we are scheduled to solve in Q2, but we could certainly do some of it now :-)

CC @edunham

[2016-03-14 12:30] danlrobertson commented on #8003
Ah! That is a problem... I'll look around for another issue then

[2016-03-14 14:20] #9535 closed

[2016-03-14 14:30] jdm commented on #9985
What actions were taken prior to seeing this panic? Was it on the first page loaded in Servo, or after browsing several?

[2016-03-14 14:36] jdm commented on #9984
Were you interacting with the page when this occurred? Did it happen early during pageload?

[2016-03-14 14:37] jdm commented on #9751
@jmr0 Any progress? Any questions?

[2016-03-14 15:26] Zarathustra30 commented on #9935
So, I was able to build after re-cloning without ever touching it with the desktop app. The build still seems a bit fragile on Windows, but it's not exactly an issue with Servo itself. Closed.

[2016-03-14 15:26] #9935 closed

[2016-03-14 17:30] bobthekingofegypt commented on #9803
I had some time to have a look at this one yesterday, might not get a chance again till later in the week.

I had a question about the test itself; this test appears to have the code branches for when the SCHEME_DOMAIN_PORT is set to 'wss' and also when it's not.  As it's testing that secure cookies are sent on wss and not on ws.  Looking at the other tests they usually have a separate test for ea

[2016-03-14 17:30] Jayflux opened #9989 "Failed build on Windows (extraneous text after 'else' directive)"
[code]

Full output here, on master branch, pulled today using Mingw like the steps say and I'm getting this output.
https://pastebin.mozilla.org/8863612

@larsbergstrom @vvuk

[2016-03-14 17:38] edunham commented on #9921
Why do we need to keep every nightly from this stage of development? If we expect to only need a given nightly for weeks or months and nobody else's systems are gating on their availability, I'd be comfortable with publishing them as releases. If we expect to need them years from now, S3 will give us better options for moving old artifacts to cheaper but slower-to-retrieve storage. Also, if we kno

[2016-03-14 18:15] nox opened #9990 "Properly use [PutForwards] like we should in WebIDL interfaces"
See #9350.

[2016-03-14 18:28] jdm commented on #9990
Specifically, the PR looks good but is missing tests that the attributes using PutForwards do what they're supposed to.

[2016-03-14 18:34] malayaleecoder commented on #9986
I would like to work on this. Almost done, just the testing left :)

[2016-03-14 18:53] jdm opened #9991 "Implement stub for NavigatorPlugins"
Servo has no support for traditional browser plugins, so the actual implementation should be fairly straightforward (ie. returning None/0/false, etc.).

Spec: https://html.spec.whatwg.org/multipage/webappapis.html#plugins-2 (and add `Navigator implements NavigatorPlugins;`)
Code:
* in `components/script/dom/webidls/`:
  * `Navigator.webidl`, `PluginArray.webidl`, `Plugin.webidl`, `MimeTypeArray.we

[2016-03-14 18:56] jdm opened #9992 "Implement NavigatorLanguage"
Spec: https://html.spec.whatwg.org/multipage/webappapis.html#navigatorlanguage (and add `Navigator implements NavigatorLanguage;`)
Code: `components/script/dom/webidls/Navigator.webidl`, `components/script/dom/navigator.rs`
Tests:
* `./mach test-wpt tests/wpt/html/dom/interfaces.html`
* `./mach test-wpt tests/wpt/web-platform-tests/html/webappapis/system-state-and-capabilities/the-navigator-object

[2016-03-14 19:08] SimonSapin opened #9993 "Highlight text selection"
We already support keyboard text selection (with Shift + arrows) in `<input>`, but it’s invisible. This issue is about changing the text color and background color of selected text, like other browsers do. Colors can be hard-coded at first, #8077 is about adding a `::selection` pseudo-element to change them with CSS.

I don’t know if we’re better off splitting text fragments in layout at selection

[2016-03-14 19:13] SimonSapin commented on #8077
@paulrouget As we’ve discussed in person I think #9993 can be separated from styling support. I haven’t started on this yet as I’d like to wrap up https://github.com/servo/rust-url/pull/176 and its fallout first.

With a recent change to rust-selectors, parsing a new pseudo-element can be done in `components/style/selector_impl.rs` without changing rust-selectors.

[2016-03-14 19:23] jdm commented on #9993
See also #4410.

[2016-03-14 19:24] creativcoder commented on #9992
I'll take that, will help me get familiar with dom parts.

[2016-03-14 19:32] jdm commented on #9992
Great!

[2016-03-14 19:33] jdm commented on #9991
Claiming this temporarily for potential RGSoC applicants. Please contact me before starting to work on this.

[2016-03-14 19:41] jdm opened #9994 "Implement HTMLTextArea.setSelectionRange"
Spec: https://html.spec.whatwg.org/multipage/forms.html#textFieldSelection
Code: `components/script/dom/htmtextareaelement.rs`, `components/script/dom/webidls/HTMLTextAreaElement.webidl`
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/forms/textfieldselection/textfieldselection-setSelectionRange.html`

This will be very similar to #9905 which implemented this API for `<input>` e

[2016-03-14 19:52] pcwalton commented on #9855
I'm pretty sure I still see this a lot.

[2016-03-14 20:14] pcwalton commented on #9993
The right thing is to split fragments but not text runs, I believe. That's because anything you can style as one unit in CSS needs to be a fragment, but anything ligatures work across needs to be one text run.

[2016-03-14 20:47] michaelwu commented on #9599
Renamed this because unpremultiplying for GetImageData is a harder problem.

[2016-03-14 22:05] veddan commented on #9555
Apparently you can get that error with `msg_controllen > INT_MAX`.

[2016-03-14 22:09] 0X1A commented on #9994
@jdm I'm up for grabbing this one

[2016-03-14 22:13] jdm commented on #9994
Great!

[2016-03-14 22:35] paulrouget opened #9996 "Only show native window once the document has fully loaded"
Or provide an option to do so.

[2016-03-14 22:39] cmr commented on #5499
Can still repro: https://files.octayn.net/servo-resize.ogv

[2016-03-14 23:03] jmr0 commented on #9751
Hey @jdm, I caught up with Paul over on IRC yesterday and decided I'd focus on the iframe part, since it seems we currently don't support the events necessary to hook to the Document API (e.g. OS lock screen, screen minimized). Ongoing work is here https://github.com/jmr0/servo/commits/visibility_api -- hope to have something deliverable over the weekend. Thanks!

[2016-03-14 23:41] pcwalton commented on #7722
That's not a bug. Or, rather, if it is, the bug is that Acid2 is scrollable. If you were to hack Acid2 to be scrollable on other browsers, you'd see the same thing.

[2016-03-14 23:45] cmr commented on #7722
@pcwalton loading the servo acid2.html in firefox does not have the red strip demonstrated.

(The issue isn't the blocks when scrolling)

[2016-03-14 23:46] cmr commented on #7722
![2016-03-15-104627_803x754_scrot](https://cloud.githubusercontent.com/assets/704250/13763573/33cb116e-ea9b-11e5-83a5-d3e6eb5c246b.png)

[2016-03-14 23:46] pcwalton commented on #7722
In that case it's that the image didn't load.

[2016-03-15 00:36] Wafflespeanut commented on #9986
(easy part of #9544)

[2016-03-15 00:36] tbu- commented on #9990
I'd like to try this.

[2016-03-15 00:36] aneeshusa commented on #9921
Somewhat off-topic: how important is being able to checkout any commit and reliably build that version/nightly? [Nix](https://nixos.org/nix/) is a great build tool that I'm a huge fan of which makes this possible. Its Windows support is a bit spotty due to lack of developers, and it isn't going to supplant Mach/Cargo any time soon for Servo, but if reliable historical builds are important to you i

[2016-03-15 00:59] victoredwardocallaghan commented on #9986
We can probably close this now with fixed in 4b9ee25 right?

[2016-03-15 01:01] Wafflespeanut commented on #9986
It will be closed once the PR gets merged :)

[2016-03-15 01:04] danlrobertson commented on #9957
I checked out the spec and previous PR and it seems interesting. If no one else is working on this I'd like to take a crack at it!

[2016-03-15 03:36] paulrouget commented on #9919
So first, I think we revoke paint permission of the wrong pipeline:

https://github.com/servo/servo/blob/5b28a416eb567fb25b8ffa4bdf5aeb6eca5c72b1/components/compositing/constellation.rs#L1614

Here we traverse the frame tree, but the top level frame of that tree should not use `pipeline(frame.current)` but `pipeline(pipeline_id)`. Or, `revoke_paint_permission` should be called before the new pipel

[2016-03-15 03:38] jdm commented on #9957
It's yours!

[2016-03-15 03:49] jdm commented on #9996
I wonder if this could be implemented as a form of prerendering in a headless browser or something. Otherwise it's a bit of an odd special case.

[2016-03-15 03:50] jdm commented on #9919
cc @glennw

[2016-03-15 03:56] jdm commented on #9990
@tbu- Please do! Ask questions here if anything's unclear :)

[2016-03-15 03:58] glennw commented on #9919
@paulrouget I'm not sure I understand what's wrong with that code. On the first iteration through that loop, pipeline_id should be equal to frame.current - is it not? From there it should loop through any iframes in the free tree from that root. The iframe goBack() code certainly used to work and I don't *think* that part has changed for quite some time, so I suspect a regression elsewhere.

[2016-03-15 04:20] paulrouget commented on #9919
If I understand correctly how this works, it is not.

`frame.current` is set to `next` (which is correct), and then we call `revoke_paint_permission(prev)` (which is correct), but within `revoke_paint_permission`, we use `frame.current`.

[2016-03-15 04:54] creativcoder commented on #9992
I am getting an error from the `CodegenRust.py`for the `languages` attribute, which returns a StringArray.
Maybe CodegenRust.py does not have type declarations for `DOMString[]` types:
Here's some stack trace:
`  File "/home/creativcoder/Desktop/github/servo/components/script/dom/bindings/codegen/CodegenRust.py", line 1310, in getRetvalDeclarationForType
    returnType)
TypeError: Don't know how t

[2016-03-15 05:50] 0X1A commented on #9994
@jdm I've written the methods required for `setSelectionRange` and edited the `webidl`. When I run the tests they all pass but the output reads
[code]
Is this expected?

[2016-03-15 05:59] paulrouget commented on #9994
It means that one test was expected to NOT pass, and now it passes.

See tests/wpt/metadata/html/semantics/forms/textfieldselection/textfieldselection-setSelectionRange.html.ini

You want to update the test expectations: https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations

[2016-03-15 06:21] paulrouget commented on #9919
regression: c72d0c2ed04f6c5f9fa22a3f576e1df5878f941d

[2016-03-15 06:36] paulrouget commented on #9919
@pcwalton any idea what might have gone wrong with c72d0c2?

Also - related (fixed) issue: https://github.com/servo/servo/issues/8081

[2016-03-15 07:18] #9986 closed

[2016-03-15 07:37] matthiaskrgr opened #9998 "Support SVG content and images"
It seems inline svg ( <svg> <path/> </svg> ) is not rendered at the moment causing the github ( #9914 ) logo in the top left corner to be missing.

Code samples can be found here http://www.w3schools.com/svg/svg_path.asp
![logo](https://cloud.githubusercontent.com/assets/476013/13770676/08b2d6ae-ea89-11e5-8f95-c71bedab9911.png)

[2016-03-15 07:47] #7671 closed

[2016-03-15 07:48] #9801 closed

[2016-03-15 08:38] Manishearth commented on #9829
@KiChjang you implemented planned navigation recently. Is this done, or is there still work left?

Also, I guess this bug is why github's comment button doesn't work?

[2016-03-15 08:48] paulrouget opened #9999 "high CPU usage while moving mouse (~125% CPU)"
At least on OSX.

STR:
- ./mach run -r -- http://example.com
- move mouse hover the window

125% CPU usage without webrender. 55% with webrender.

[2016-03-15 08:50] paulrouget opened #10000 "Investigate high CPU usage while loading a page"
OSX.

STR:
- open browser.html
- load firefox.com
- while the page is loading, CPU usage goes up to 120%

[2016-03-15 08:53] paulrouget commented on #10000
I'll try to reduce this to a simple test case.

Not sure yet if it's because of the page loading itself, or because of the progressbar.

[2016-03-15 09:16] AlaricCalmette opened #10001 "Unable to build on OSX 10.11"
Hi!

I was unable to build servo on mac OSX 10.11 using ./mach build --release

Here is the error stack :

<pre>CalledProcessError: Command '[u'git', u'submodule', u'status']' returned non-zero exit status 128

File` "/Users/acalmette/Downloads/servo-master/python/servo/build_commands.py", line 210, in build
    self.ensure_bootstrapped(targets=targets)
  File "./python/servo/command_base.py", lin

[2016-03-15 09:18] Ms2ger commented on #9921
If Servo still exists in ten years from now, I definitely expect us to want to bisect years into the past; I believe @bzbarsky ends up doing that somewhat regularly with Gecko.

I believe it's important that we can keep building old versions, but it doesn't take much to break that, so I also want the binaries backed up.

[2016-03-15 09:23] Ms2ger commented on #9992
Start with just `language` for now; we can do `languages` later when https://github.com/whatwg/html/pull/863 is fixed and we support `FrozenArray`.

[2016-03-15 09:44] qaxi opened #10002 "./mach do not support paths with Unicode characters"
[code]

When moved it works well

[code]

[2016-03-15 09:44] pygy commented on #9917
You may want to limit the scope of this bug to the default subreddits, because comments sections can have custom (moderator-mrovided) CSS.

If you don't, I know of at least one sneaky bastard who might be tempted to turn his own broken page into a subreddit to bump the priority of his issues ;-)

[2016-03-15 09:52] AlaricCalmette commented on #10001
Okay looks like downloading the zip messes things up. I git cloned the repo and was able to build without problem.

[2016-03-15 09:52] #10001 closed

[2016-03-15 10:59] Ms2ger opened #10004 "Resilience against content threads/processes crashing"
@pcwalton and @larsbergstrom were talking about this earlier. We should track what needs to be done.

[2016-03-15 11:35] matthiaskrgr opened #10005 "browserhtml: crashes entering "q" into address bar of new tab."
(**Edit:** test case in https://github.com/servo/servo/issues/10005#issuecomment-196846275)

Start browser html:
[code]

in the current tab, go to www.example.com

[code]

now open a new tab ('+' symbol) and enter "q":
[code]

[2016-03-15 11:40] laurentj opened #10006 "Azerty keyboards: many keys do nothing"
Servo build: commit 075ce980a24d1e31ad704915681ef3f7edd03ccb , release build, on linux Kubuntu 15.04 64bits, fr_FR with an azerty keyboards

On input elements, many keys do nothing. So I can't type ":", "/", "!", "&", "*", "µ", "$", "£", "<", ">" and so on. I cannot type numbers, and most of signs that are on the first line of the keyboard. It seems I can type some of these characters but there ar

[2016-03-15 13:04] paulrouget commented on #10005
I can reproduce.

[2016-03-15 13:07] paulrouget commented on #10006
Virtual key codes are fun. See https://github.com/servo/servo/issues/4144

[2016-03-15 13:07] #10006 closed

[2016-03-15 13:28] frewsxcv commented on #10002
It might be sufficient to just do:

`if u' ' in topdir:` instead of `if ' ' in topdir:` on line 154 in 'python/mach_bootstrap.py'

[2016-03-15 13:36] jdm commented on #9998
I strongly suspect we won't implement inline SVG before the June release.

[2016-03-15 13:37] jdm commented on #9829
See the comment two before yours.

[2016-03-15 14:01] 0X1A commented on #9994
@paulrouget Thank you, these are all expected to run as PASS given the correct `setSelectionRange` implementation?

[2016-03-15 14:10] lambda commented on #10005
Also ran into this.

A little bit of debug printing in `replace_selection`:

[code]

Gives me the following results:

[code]

So it looks like `end.index` wasn't reset when the text field was otherwise cleared out. I haven't yet traced any further to find what causes this.

[2016-03-15 14:11] paulrouget commented on #9994
This test apparently tests `selectionStart`, `selectionEnd` and `setSelectionRange`.
So if all of these are properly implemented, I would expect all of these tests to pass.

[2016-03-15 14:22] paulrouget commented on #10005
So it's probably a regression due to https://github.com/servo/servo/commit/a3d77790a600021c95608d1fd54522ef5c72e1f4

/cc @saurvs

[2016-03-15 14:31] paulrouget commented on #10005
Reduced test case:

[code]

Once the page has loaded, just press a key.

[2016-03-15 14:56] paulrouget commented on #10005
I think it's just a matter of clearing the selection in `set_content`.

[2016-03-15 15:08] saurvs commented on #10005
I'll PR a fix for this.

[2016-03-15 15:15] metajack commented on #10001
@larsbergstrom Do we still use submodules? Maybe we can just nuke this submodule status command.

[2016-03-15 15:24] larsbergstrom commented on #10001
That's correct - there should no longer be any git submodules (and I'm up for a fight if anybody tries to add one back, exactly because of dealing with them in mach).

[2016-03-15 15:27] larsbergstrom opened #10010 "Remove submodule update from mach bootstrap"
Since the upgrade to Android landed, we no longer have any git submodules in the tree (and do not plan to add any!). Further, even the no-op version can cause build breaks, as in #10001.

In this task, just remove the call to `update-submodules` in the bootstrapping code:
https://github.com/servo/servo/blob/master/python/servo/command_base.py#L404

[2016-03-15 15:33] gsnedders commented on #9970
I wonder if basing this upon HTTP caching headers makes sense, and using the notion of shared caches? Obviously one would need to consider cache headers for the entire graph, which presumably increases the probability of one resource not being cachable.

[2016-03-15 15:42] jdm commented on #10005
Great!

[2016-03-15 15:59] matthiaskrgr opened #10011 "form / input text: text cursor not visible in empty field"
Code samples can be found here:
http://www.w3schools.com/html/html_forms.asp

When there is a simple ```` <form> <input> </form>````  text-field and I click on it, no cursor is shown, which is quite irritating.
The text cursor is shown as soon as I start typing however and vanishes again after deleting the typed text, so it's not THAT bad.

I initially noticed this on google.com

[2016-03-15 16:00] paulrouget opened #10012 "reddit.com: console is flooded with "WARNING: insert rect Rect(…) outside bounds, dropped." messages"
If reddit.com is loaded without browserhtml, we get it ~20 times, and the page load normally.

If loaded within browserhtml, the page never ends up loading completely, and the the warning is printed many times per seconds. Also, the reflow counter keeps going up.

[2016-03-15 16:04] paulrouget commented on #10011
Funny. What does that work with browser.html?

Related issue: https://github.com/servo/servo/issues/8543

[2016-03-15 16:05] paulrouget commented on #10011
Because browerhtml has a placeholder.

[2016-03-15 16:05] paulrouget commented on #9917
Depends on: https://github.com/servo/servo/issues/10012

[2016-03-15 16:07] matthiaskrgr commented on #10011
I can reproduce with browserhtml as well.

[2016-03-15 16:09] metajack commented on #10012
cc @pcwalton @glennw

Let's just remove these. I believe they were just for debugging.

[2016-03-15 16:56] paulrouget commented on #10011
I meant the URL bar in browserhtml.

[2016-03-15 16:56] jdm commented on #10011
This is odd, since ThreadSafeLayoutNode::insertion_point should return an index if HTMLInputElement::get_insertion_point_index_for_layout does, and that method does if the element has focus and is a text input. This suggests that the caller of `insertion_point` is doing something incorrect.

[2016-03-15 16:57] jdm commented on #10011
`create_fragments_for_node_text_content` has a fast path for empty text fragments, which I bet is short-circuiting this.

[2016-03-15 16:59] paulrouget commented on #10000
Issue #10000 \o/

[2016-03-15 17:00] ignacio-ca commented on #9465
Hello, I'm having the same results on windows.

A) ` $./mach run www.github.com   Servo exited with return value 127 `

B) `$ ./mach run --dev --debug http://www.github.com`
Shows something of the page. With www.google.com or www.duckduckgo.com nothing is rendered.

C) `$ target/debug/servo.exe https://www.github.com`
Same result than B

[2016-03-15 17:03] adamncasey commented on #9989
What does your target/{debug|release}/build/mozjs_sys-*/out/config.log file say?

I had the same problem when mozjs wasn't building with C:\Python27. configure failed on a "Python is malfunctioning: sys.executable path incorrect" test

[2016-03-15 19:16] sbuller opened #10016 "'failed to run custom build command for `servo-skia v0.20130412.6`' on Fedora"
Cherry picking the output of './mach build --release' on Fedora 22,

[code]

What really throws me for a loop here, is the 'ApplicationServices.h', which a quick google seems to indicate is a COCOA thing, not something I would ever expect to find on Fedora. Linux. The date in that servo-skia version number also looks suspiciously old, but what do I know.

[2016-03-15 19:17] Manishearth opened #10017 "Browser.html causes a panic cascade in constellation"
On 075ce980a24d1e31ad704915681ef3f7edd03ccb on Linux, running `./mach run -r -w -b` gives me [this long panic](https://manishearth.pastebin.mozilla.org/8863769)

The initial panic seems to be:

[code]

cc @mbrubeck

[2016-03-15 19:22] jdm commented on #10017
A debug build would be most useful here.

[2016-03-15 19:26] asajeffrey commented on #10017
I can confirm seeing similar panics. I'm rebuilding in debug mode at the moment.

[2016-03-15 19:30] acdha commented on #9931
I was just about to report the same problem on a different site:

[code]

Scrolling down causes display corruption shortly before crashing:

![screenshot 2016-03-15 15 27 52](https://cloud.githubusercontent.com/assets/46565/13791309/d596e3fc-eac2-11e5-93cf-23b2b0006385.png)

[2016-03-15 19:45] acdha opened #10018 "Incorrect layout on RTL"
Out of curiosity, I was testing https://www.wdl.org in Servo and noticed that the Arabic version actually fails to render entirely in Servo:

![screenshot 2016-03-15 15 32 51](https://cloud.githubusercontent.com/assets/46565/13791400/526cba82-eac3-11e5-9ec3-1ca1aaed9c40.png)

If you resize the window down to very narrow widths, it appears that the grid positioning (using Bootstrap) is incorrectly

[2016-03-15 19:48] jdm commented on #10018
@mbrubeck Where would you start looking if you were looking into this?

[2016-03-15 19:53] acdha commented on #10018
I should note that I'm more than willing to run some tests but very much an outsider to the Servo codebase.

[2016-03-15 19:58] rebstar6 commented on #9928
Viewing the testcase - I assume what we want is the same as how this opens in firefox, yes?
<img width="130" alt="firefox version of test case" src="https://cloud.githubusercontent.com/assets/4467125/13792131/c437625e-eac6-11e5-86c2-5641cc433bb3.png">

[2016-03-15 20:24] asajeffrey commented on #10017
And of course now I can't recreate it :( @Manishearth can you reliably create the panic? Does it still occur with 4607ed2f9541576875b8cfdcefabb4c2a9374a14?

[2016-03-15 20:24] mbrubeck commented on #10018
My first step would be to build a reduced test case, by saving a static copy of the page and then cutting out as much content and CSS as possible while still demonstrating the issue.  Then we can figure out whether it's one of the [known RTL layout bugs](https://github.com/servo/servo/issues?q=is:open+is:issue+rtl) or a separate issue.

[2016-03-15 20:29] jdm commented on #9931
cc @glennw @pcwalton

[2016-03-15 20:30] Manishearth commented on #10017
Debug trace: https://manishearth.pastebin.mozilla.org/8863777

[code]

[2016-03-15 20:31] Manishearth commented on #10017
...that's not the same crash, though.

[2016-03-15 20:32] rebstar6 commented on #9928
Actually, never mind, I think that makes sense:

In [labeled control](https://html.spec.whatwg.org/multipage/forms.html#labeled-control): "If the for attribute is not specified, but the label element has a labelable element descendant, then the first such descendant in tree order is the label element's labeled control." The labeled control element seems to be what receives the label click action.

[2016-03-15 20:34] #10010 closed

[2016-03-15 20:35] jdm commented on #9928
Good catch! Yes, matching Firefox here makes sense, and implementing the text you quote is what we should do here. We could add support for the `for` attribute as part of this change, too.

[2016-03-15 20:37] rebstar6 commented on #9928
There is something going on in GetControl() identifying the 'for' item (or 1st labelable) as @Manishearth noted in the previous issue. I'll look into it.

[2016-03-15 20:44] jdm commented on #10017
Yeah, that's #10005.

[2016-03-15 20:44] jdm commented on #10017
If you apply #10015 locally you should be able to see your original panic.

[2016-03-15 21:16] rebstar6 commented on #9928
Yeah, logic was in there. Small change - see PR at https://github.com/servo/servo/pull/10019

[2016-03-15 22:23] pcwalton commented on #9999
Profiler suggests it's because we're rebuilding the display list when we don't need to. I'll take this one.

[2016-03-15 22:27] pygy opened #10020 "webrender: rendered glyphs corruption (possibly `text-shadow`-related)"
Here's a first reduced text case for #9849. Specs: Mac OS X 10.10.5, Intel HD Graphics 4000. Servo last updated seconds ago (thus pulled ~30 min earlier).

This is webrender-only.

Capture:

![screen shot 2016-03-15 at 21 43 41](https://cloud.githubusercontent.com/assets/54515/13794097/80fbf7e6-eafa-11e5-9cdb-60ba41a7ff61.png)

Live: http://pygy.github.io/servo-rendering-bugs/j2c/j2c/glyphs.html
S

[2016-03-15 22:32] jdm commented on #10020
cc @glennw @pcwalton

[2016-03-15 23:19] pygy commented on #10020
Alternatively, these could be bad reads: the bad `<code>` glyphs may erroneoulsy be reading  the `<h6>` memory...

[2016-03-15 23:39] jruderman opened #10022 "Some hackernews threads have the left side chopped off"
./mach run -r -- -w https://news.ycombinator.com/item?id=11288302

With the default window size, I can't see the beginning of comments -- they begin before the left edge of the page.

Also, the comments aren't wrapped to window width. I'm guessing this is related.

[HN metabug is #9916]

[2016-03-15 23:41] pcwalton commented on #10020
I suspect undefined behavior, possibly because a texture unit is bound to the current FBO render target.

[2016-03-15 23:51] jruderman opened #10023 "Long wikipedia articles are cut off after a few screenfuls"
[code]

After I scroll down through a few sections, I get to a sudden area that's just white.

[Meta for wikipedia is #2554]

[2016-03-16 00:33] pygy commented on #10020
The full site in #9849 (and its [noJS counterpart](http://pygy.github.io/servo-rendering-bugs/j2c/j2c/indexNoJS.html)) change `text-shadow` on mouseover (Logo and GitHub ribbon).

Hovering these parts of the page cause the glyph glitches to change.

[2016-03-16 00:39] pygy commented on #10020
Oddly enough, the latter only occurs when loading the page from my hard disk using `file:///`...

[2016-03-16 02:11] matthiaskrgr opened #10024 "servo.org blank"
Trying to display servo.org shows a bit of text for a very short moment but then the servo window goes completely blank, no text is shown.

Rendering succeeds however when launching servo with -w until I scroll down the page a bit and then servo crashes (crash looks like #9931 )

[2016-03-16 05:13] pcwalton commented on #9983
We actually don't support clipping iframes *at all*. The appropriate clip region isn't being communicated to WebRender, and WebRender isn't using it. Working on a fix.

[2016-03-16 05:25] #9868 closed

[2016-03-16 05:38] paulrouget opened #10027 "Reddit.com doesn't load completely within browser.html"
If loaded within browserhtml, the page never ends up loading completely, and the reflow counter keeps going up.

[2016-03-16 05:38] paulrouget commented on #10012
Filing a follow-up for the loading issue: https://github.com/servo/servo/issues/10027

[2016-03-16 05:38] #10012 closed

[2016-03-16 05:39] paulrouget commented on #10027
I'll investigate and reduce this to a simpler test case.

[2016-03-16 06:43] #9867 closed

[2016-03-16 06:47] Hywan commented on #9820
Should be closed since #9825 has been merged.

[2016-03-16 06:52] paulrouget commented on #9820
Yes. Thanks.

[2016-03-16 06:52] #9820 closed

[2016-03-16 07:36] paulrouget opened #10028 "Update to servo-glutin 0.4.11"
This is apparently not trivial.

core-graphics has been updated to 0.3. Which requires serde 0.7. But then webrender doesn't compile anymore:

[code]

@nox what do you recommend?

[2016-03-16 07:46] paulrouget opened #10029 "Memory consumption keeps growing for no good reason (osx)"
OSX.

Just moving the mouse hover the window makes the memory consumption grow.

Most likely this: https://github.com/tomaka/glutin/pull/733

[2016-03-16 08:15] UtherII opened #10030 "Layout is anormaly slow to update on screen resize"
When I resize the servo window, It take approximatively 10 seconds for the layout to adjust to the new size.

Tested on Ubuntu 15.10, with nVidia proprietary drivers

[2016-03-16 08:20] paulrouget commented on #10030
Does it happen with any page?

[2016-03-16 08:20] paulrouget commented on #10030
Do you use webrender?

[2016-03-16 08:44] Ms2ger commented on #9950
We should probably not fix this issue until everything (or at the very least WebSocket) uses the new fetch infrastructure.

[2016-03-16 08:46] kaksmet commented on #10029
This only happens with webrender for me.

[2016-03-16 09:07] kaksmet opened #10031 "./mach run -b doesn't work on OS X 10.9"
[code]

NSWindow's [titleVisibility](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSWindow_Class/#//apple_ref/occ/instp/NSWindow/titleVisibility) property is "Available in OS X v10.10 and later."

[2016-03-16 09:27] qaxi commented on #10002
No, it does not work either. The same exception.

[2016-03-16 10:05] KiChjang commented on #9551
@krstoff Are you still working on this?

[2016-03-16 10:07] KiChjang commented on #8084
@MonsieurLanza Still working?

[2016-03-16 11:36] UtherII commented on #10030
Yes

With Webrender the resize is smooth but still very slow.

[2016-03-16 12:03] paulrouget commented on #10000
I setup a local HTTP server. `localhost:8081` takes 30 seconds to reply. The reply is an empty HTML page.

* with *localhost:8081*, a simple iframe loading: CPU ~3%
* with *localhost:8081*, browserhtml without the progressbar being rendered: 40%
* with *localhost:8081*, browserhtml with the progressbar being rendered: 80%
* with *reddit.com*, browserhtml without the progressbar being rendered: up

[2016-03-16 12:19] sandlerr opened #10032 "Unable to successfully run the jQuery tests"
Running this test ends in either of two unfavourable outcomes as per [this gist](https://gist.github.com/sandlerr/922d8d38ef91263d6cb3).

The command run is `RUST_BACKTRACE=1 ./mach test-jquery` based off ad47c093ad897ef6e9ab93df5ea90c5a6e2ef3b3.

Any advice on how to pin this down would be appreciated.

[2016-03-16 13:50] Ms2ger commented on #10032
Fixed most of this in #10033; the panic might be #9202.

[2016-03-16 14:02] jdm commented on #10031
cc @pcwalton
I'm running 10.9.5 so I can test things too.

[2016-03-16 15:00] nox commented on #10028
Bumping core-graphics requires bumping Serde. My [Serde bump](https://github.com/nox/servo/compare/serde) is almost ready, just blocked by https://github.com/cybergeek94/mime_guess.

[2016-03-16 17:13] hfiguiere commented on #10016
It definitely tries to build Objective-C / Cocoa code. Doesn't sound right. (#import<> is Objective-C)

[2016-03-16 17:16] nightwalkerkg commented on #9989
I have the same error : `--- stderr
makefile.cargo:58: extraneous text after 'else' directive
/home/Test/servo/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/js/src/configure: line 3772: test: (GNU: integer expression expected
Traceback (most recent call last):
  File "/home/Test/servo/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/python/mozbuild/mozbuild/virtualenv.py", line

[2016-03-16 17:17] jdm opened #10036 "Intermittent timeout in /websockets/opening-handshake/003-sets-origin.worker"
[code]

[2016-03-16 17:29] pcwalton commented on #9856
Blocked on https://github.com/servo/glutin/pull/79.

[2016-03-16 17:29] pcwalton commented on #9878
Blocked on https://github.com/servo/glutin/pull/79.

[2016-03-16 18:26] asajeffrey commented on #10017
@Manishearth on IRC gives the recipe for replicating the panic: "type some webpage, hit enter, click plus, start typing."

[2016-03-16 18:26] jdm commented on #8815
[code]

[2016-03-16 18:28] asajeffrey commented on #10017
#10015 is now #10035, and is in the merge queue.

[2016-03-16 18:50] lygstate opened #10038 "Filename issue on win32. unable to create file tests/ref/hello_a?foo#bar.html (Invalid argument)"
error: unable to create file tests/ref/hello_a?foo#bar.html (Invalid argument)

[2016-03-16 18:52] sbuller commented on #10016
Is there anything I can provide to facilitate tracking this down? I really have no idea what's relevant here.

[2016-03-16 18:58] jdm commented on #10038
Interesting. We got rid of this file a long time ago; are you trying to use an older revision of Servo on Windows?

[2016-03-16 19:00] asajeffrey commented on #10017
Applying #10035 causes the panic not to happen at my end. Perhaps this was the underlying cause, and the constellation panic was just masking it?

[2016-03-16 19:15] #9996 closed

[2016-03-16 19:18] lygstate commented on #10038
You are right.

[2016-03-16 19:18] #10038 closed

[2016-03-16 19:28] hfiguiere commented on #10016
I couldn't reproduce on Fedora 23 either. Maybe the full build output would reveal something else.

[2016-03-16 19:37] hfiguiere commented on #10016
and the content of ````servo/target/release/build/servo-skia-ce2aa611dee38954/output```` that contain the build output for that module...

[2016-03-16 19:52] sbuller commented on #10016
https://gist.github.com/sbuller/840c2a5e2058648c4d2a  contains the build output. The contents of
servo/target/release/build/servo-skia-ce2aa611dee38954/ are:

./build-script-build - an ELF SO
./out/src/core/Sk*.o
./out/src/ports/Sk*.h
./out/src/skia-c.o

and nothing else.

[2016-03-16 19:55] hfiguiere commented on #10016
I have much more things that that, but given it failed :-/

And the output of ````./mach build --release```` ?

[2016-03-16 19:55] sbuller commented on #10016
Sorry, that's the content of the gist I linked.

[2016-03-16 19:56] hfiguiere commented on #10016
Yeah sorry I did miss this. Looking at it now.

[2016-03-16 20:14] hfiguiere commented on #10016
From reading the source it seems that ````SK_BUILD_FOR_MAC```` is defined. Not sure where this happens :-(

[2016-03-16 20:49] yoava333 opened #10040 "HTMLInputElement - not handling Command+[Delete/Left/Right...]"
I've only tried this on OSX, but I think it's the same on other OS.
If you type into a input element and use to use Command+Delete to remove all the text in the selection it doesn't work. same for Command left/right which is supposed to behave like home/end.

[2016-03-16 20:49] #10005 closed

[2016-03-16 20:59] lygstate opened #10041 "Getting rust compiler download to be more stable, or could be able manual download."
[code]

[2016-03-16 21:00] frewsxcv commented on #10041
It looks like the download interrupted. Did you try running the command again?

[2016-03-16 22:00] jdm commented on #10040
These behaviours live in `textinput.rs`.

[2016-03-16 22:00] yoava333 commented on #10040
I've looked a bit further.
it's also missing handling for shift+end/home.
textarea - there's a wrong handling for deletion of selection a on end of line - if you delete a full line the cursor moves one line up and not stays on the same line.
I'd like to work on this if that's possible

[2016-03-16 22:04] jdm commented on #10040
Go for it!

[2016-03-16 22:14] asajeffrey commented on #10017
Now that #10035 has landed, we can reproduce this in debug mode in master.

To reproduce, `./mach run -d -w http://google.com/` then resize the window a few times. Note: no browser.html needed.

[code]

[2016-03-16 22:23] timvandermeij commented on #10002
Fixed by #10003?

[2016-03-16 22:24] hfiguiere opened #10042 "Gray window when starting servo"
I get a gray window when starting servo. I start servo with:

[code]

The window title changes to something that match the page. The mouse cursor changes depending on where it hover the window.

System:
-Fedora 23 x86_64 running on bare plastic (not a VM)
-servo build from commit 909ff44
-Xorg
-GPU: Intel® Ivybridge Mobile (Thinkpad 230 for the hardware)

Here is how it looks:
![screenshot from 20

[2016-03-16 22:25] hfiguiere commented on #10042
It reacts to events since I seem to have navigated to a different page now... clicking / pressing enter.

[2016-03-16 22:37] UtherII commented on #10030
A screen capture if it can help : http://spaceman.23.free.fr/resize.mp4

[2016-03-16 22:52] jdm commented on #10002
I think it's worth leaving this open, since #10003 just tells users not to use paths containing non-ascii :)

[2016-03-16 23:03] frewsxcv commented on #10002
I'll look into this.

[2016-03-16 23:04] asajeffrey commented on #10017
@jdm pointed out on IRC that this may be the same root cause as #8769, so fixing this might fix one of our intermittents.

[2016-03-16 23:38] frewsxcv commented on #10002
Looked into this. Changing our code to support it is pretty trivial:

[code]

A bigger problem is that virtualenv itself [doesn't support](https://github.com/pypa/virtualenv/issues/457) unicode paths:

[code]

Also, for the record, mach doesn't support unicode paths either.

[2016-03-16 23:40] asajeffrey commented on #10017
The IRC conversation with @jdm is at http://logs.glob.uno/?c=mozilla%23servo#c386447. Summarizing...

To reproduce the problem, go to google.com and resize the window a few times. No browser.html needed, but it doesn't appear to happen on vanilla web pages (more on this later).

A stack trace in debug mode:
[code]

Our theory by us: a `DOMLoad` event is being generated by script, but is arriving a

[2016-03-16 23:44] #9878 closed

[2016-03-16 23:46] #9856 closed

[2016-03-16 23:46] pcwalton commented on #9856
#10037 should fix this

[2016-03-17 00:12] burdges opened #10043 "Tor access to servo.org"
It's impossible to access servo.org from Tor browser because the site used CloudFlare as a CDN, which gives Tor users an unsolvable CAPTCHA.

I think CloudFlare has configuration options that remove the CAPTCHA problem for Tor users, but not sure the details.  Apparently CloudFlare is the only CDN that creates these issues for Tor users.  In particular, their competitors like Akamai do not find To

[2016-03-17 00:20] jdm commented on #10043
If this is a site configuration issue (rather than a limitation of Servo the browser engine), please file it at https://github.com/servo/servo.org/issues.

[2016-03-17 00:21] Jayflux commented on #9989
@adamncasey I don't have a config.log only a config.status file

[2016-03-17 00:22] burdges commented on #10043
Done : https://github.com/servo/servo.org/issues/20

[2016-03-17 00:26] samlh commented on #10017
Makes sense to me - though I do wonder if something could be done with cancellation tokens or the like. Are there any other events that we know may still be triggered after iframe close?

[2016-03-17 00:29] #10043 closed

[2016-03-17 00:31] #9877 closed

[2016-03-17 00:39] asajeffrey commented on #10017
@samlh I think anything we try to do to stop this behaviour is radically going to change the constellation API (not that I'm against that, but I'd like to see this bug fixed pretty soon). The constellation API should be robust against events arriving in any order, i suspect anything else will result in subtle race conditions of the kind that are already causing problems with intermittents,

[2016-03-17 02:06] paulrouget commented on #10028
Addressed: https://github.com/servo/glutin/pull/79

[2016-03-17 02:06] #10028 closed

[2016-03-17 02:27] paulrouget commented on #10000
Loading an empty page (~90% CPU):

<img width="1160" alt="screen shot 2016-03-17 at 03 26 56" src="https://cloud.githubusercontent.com/assets/373579/13834538/23e07bb2-ebf0-11e5-9f05-7a8e90ecc6e6.png">

[2016-03-17 02:46] paulrouget commented on #10000
I setup a local HTTP server. `localhost:8081` takes 30 seconds to reply. The reply is an empty HTML page.

* with *localhost:8081*, state not being updated: ~0%
* with *localhost:8081*, state being updated, but progressbar not rendered: ~40%
* with *localhost:8081*, state being updated and progressbar rendered (normal run): ~80%
* with *reddit.com*, state not being updated: 9% ~ 15%
* with *reddit

[2016-03-17 02:51] paulrouget commented on #10000
Just the overhead of having a RFA loop is 20% CPU. See https://github.com/servo/servo/issues/9844

[2016-03-17 03:21] paulrouget commented on #10000
Now with Gecko, under the same conditions:

* with *localhost:8081*, state not being updated: ~0%
* with *localhost:8081*, state being updated, but progressbar not rendered: ~20%
* with *localhost:8081*, state being updated and progressbar rendered (normal run): ~50%

Difference with Servo is probably due to the RAF loop overhead.

But at the end, we have the same huge CPU consumption increase due

[2016-03-17 03:25] paulrouget commented on #10000
For the record, to disable state update, I used this:

[code]

to diable progressbar rendering:

[code]

[2016-03-17 03:34] paulrouget commented on #9844
Still around ~15% here. Compared to Gecko: ~3%.

[2016-03-17 03:49] paulrouget commented on #10000
I'll come back to this once we made some progress with:
- https://github.com/browserhtml/browserhtml/issues/935
- https://github.com/servo/servo/issues/9844

[2016-03-17 03:57] lygstate opened #10044 "Building failed on Mingw64"
[code]

[2016-03-17 04:03] hfiguiere commented on #10042
Is there a way I could make stuff more verbose to debug this?

[2016-03-17 04:05] paulrouget commented on #10042
Same result without webrender?

[2016-03-17 04:07] hfiguiere commented on #10042
yep

[2016-03-17 04:14] bobchao opened #10045 "On OSX servo shows CJK chars as squares"
![2016-03-17 12 12 45](https://cloud.githubusercontent.com/assets/168931/13836178/98c08b9a-ec39-11e5-8818-7b479f1c44b7.png)

[code]

[2016-03-17 04:15] nodje commented on #10044
I'm having a similar problem on OSX10.11 ``error: can't find crate for `std` [E0463]``
See details at https://gist.github.com/nodje/e9d25991f649ff87efa2

[2016-03-17 04:16] bobchao commented on #10045
On Linux it works well (humm, not that "well" on the layout part but at least it shows the chars correctly)

![photo186463213883336655](https://cloud.githubusercontent.com/assets/168931/13836220/fdb3c558-ec39-11e5-9dbe-7d1a0c67b010.jpg)

[2016-03-17 04:24] lygstate commented on #10044
It's seems just because servo doesn't use the download rustc by default (When the system have already installed a version of rustc)

[2016-03-17 04:47] frewsxcv commented on #10045
Possibly related to https://github.com/servo/servo/issues/7762

[2016-03-17 04:53] lygstate commented on #10044
[code]
It's because of rustc & rust-std should both be downloaded.

[2016-03-17 04:53] #10044 closed

[2016-03-17 04:56] samlh commented on #10017
Fair enough - my concern was things like timer events holding onto stuff after the tab was closed, but as I think the existing code at least prevents the js stuff from being held onto, so I'm not fussed. Thanks for the reply!

[2016-03-17 05:25] lygstate opened #10046 "mozjs could not be able build under win32, cause it can not find which"
[code]

[2016-03-17 05:35] lygstate commented on #10046
[code]

According to this, it's using the system default python by default, and that cause problems

[2016-03-17 06:15] lygstate commented on #10041
If I download it manually, then it works.

[2016-03-17 06:18] #10046 closed

[2016-03-17 06:18] lygstate opened #10047 "The style on win32 can not be build."
[code]

[2016-03-17 06:21] lygstate commented on #10047
If I convert the line-ending of C:/CI-Cor/servo/target\debug\build\style-dc3743f70fa61c91\out/properties.rs to CRLF, then it works.

[2016-03-17 06:31] lygstate opened #10048 "Build on win32 finished, but can not run"
[code]

[2016-03-17 06:53] paulrouget opened #10050 "High CPU usage while calling div.style.transform in a rAF loop"
This example takes around ~60% of the CPU on my macbook.
There's a known rAF overhead (https://github.com/servo/servo/issues/9844). Switching to `setTimeout` instead brings us to 30% CPU.

With webkit nightly, I get ~13% CPU.

[code]

[2016-03-17 07:13] paulrouget commented on #10050
@pcwalton Do you think https://github.com/servo/servo/issues/9860 could help here?

[2016-03-17 07:13] paulrouget commented on #10000
To that, I'll add https://github.com/servo/servo/issues/10050

Closing.

[2016-03-17 07:13] #10000 closed

[2016-03-17 07:47] lygstate commented on #10048
`
lygstate@lygstate-PC MINGW64 /c/CI-Cor/servo
$ servo /c/CI-Cor/servo/tests/html/about-mozilla.html
Error opening preferences: Error { repr: Os { code: 3, message: "The system cannot find the path specified." } }.
ERROR:style::selector_matching: Failed to load UA stylesheet user-agent.css!

lygstate@lygstate-PC MINGW64 /c/CI-Cor/servo
$ /c/CI-Cor/servo/target/release/servo /c/CI-Cor/servo/tests/h

[2016-03-17 07:56] paulrouget commented on #10027
For some reason, disabling the `transform:translateX` CSS property of the progressbar let the iframe load completely.

I haven't managed to get a reduced test case yet.

[2016-03-17 09:25] Ms2ger commented on #10047
Do you have autocrlf turned on?

[2016-03-17 09:51] lygstate commented on #10047
@Ms2ger I didn't.

[2016-03-17 10:21] veirus commented on #10048
Looks like this #9465

[2016-03-17 10:27] KiChjang commented on #8684
I think it's time for me to work on the layout crate and stop making up excuses saying that I don't know layout and refusing to review other people's code. I'll take on this issue.

[2016-03-17 11:21] nenadg opened #10051 "Failed to unpack package `unicase v1.0.1`"
Caused by:
      corrupt gzip stream does not have a matching checksum

mach output is as follow:

    nenadg@camacho:~/Documents/code/servo> ./mach build --dev --verbose
    cargo build -v
     Downloading websocket v0.15.0
     Downloading net2 v0.2.19
     unable to get packages from source

    Caused by:
     failed to unpack package `unicase v1.0.1`

    Caused by:
      corrupt gzip stream

[2016-03-17 11:22] MonsieurLanza commented on #8084
I m'm sorry I cannot free enough time to work efficiently on servo ATM (about 1h/week). So geek free to re-assign this, if you cannot wait.

--
Damien BRUN

[2016-03-17 11:26] sandlerr commented on #10032
Thanks @Ms2ger that certainly fixed the 50/4 issue.
I'm leaving this bug open since there are two others outstanding - the consistent failure of the `selector` test as well as the panic that looks similar to #9202 .

[2016-03-17 11:41] veirus opened #10052 "Panic with -w parameter"
OS: Windows 8.1 x64
Running Servo with -w parameter produce window that doesn't draw anything except white rectangle and eventually it crashes.

Examples:
  1. http://pastebin.com/DAihMSXs
  2. http://pastebin.com/pEXzhhRA
  3. http://pastebin.com/SQuLvaV6

[2016-03-17 11:48] KiChjang commented on #8084
No worries! If you have time to work on Servo again, ferl free to drop me a message and I'll look for an easy issue for you :)

[2016-03-17 11:51] yoava333 opened #10053 "textarea text overflow"
when rendering this page this is what I get in servo compared to chrome/firefox
![textarea problem](https://cloud.githubusercontent.com/assets/1495026/13845214/1f70f65e-ec47-11e5-90cc-ad8be7e7578e.png)

code to reproduce this issue:
[code]

I'm using release build of e273517fe06720afe0ef74815cce5e007df7dc3d

[2016-03-17 11:56] Manishearth commented on #10052
I don't think webrender is supposed to work on windows yet. @glennw ?

[2016-03-17 12:19] yoava333 commented on #10053
Another issue which is similar in nature. tell me if it's supposed to be a different issue
if the textarea overflows in rows, there's also no scrolling.

![textarea problem2](https://cloud.githubusercontent.com/assets/1495026/13845770/ca85a0be-ec4a-11e5-84e5-7521c893afbc.png)

code to reproduce:

[code]

[2016-03-17 12:49] atk opened #10054 "Support for background-position-x / background-position-y"
https://drafts.csswg.org/css-backgrounds-4/#propdef-background-position-x

[2016-03-17 13:28] Wafflespeanut commented on #10048
@lygstate What's the version of your Windows?

[2016-03-17 13:48] lygstate commented on #10048
@Wafflespeanut I am using Windows 7 x64

[2016-03-17 13:50] paulrouget commented on #10053
Can you file a different issue for that?

[2016-03-17 15:03] larsbergstrom opened #10056 "What is our popup story?"
@dati91 is currently working on step #2 in http://webbluetoothcg.github.io/web-bluetooth/#requestDevice-secure-context, which can require a popup.

For now, we can clearly just assume that popups are never allowed, but I noticed that we don't currently have any issues on:
1) Implementation of https://html.spec.whatwg.org/multipage/browsers.html#allowed-to-show-a-popup
2) What should servo _do_ for

[2016-03-17 15:04] alicoding opened #10057 "Crash after visiting twitter.com"
OS: Mac 10.11.3
Using Brew to install and followed the instructions

[code]

[2016-03-17 15:05] yoava333 opened #10058 "textarea - no scrolling on rows overflow"
if the textarea overflows in rows, there's also no scrolling.

![textarea problem2](https://cloud.githubusercontent.com/assets/1495026/13845770/ca85a0be-ec4a-11e5-84e5-7521c893afbc.png)

code to reproduce:

[code]

[2016-03-17 15:05] yoava333 commented on #10053
@paulrouget done

[2016-03-17 15:27] Ms2ger commented on #10056
I don't understand why the bluetooth api looks at that.

As for popups themselves: can we open new tabs from within Servo yet? We'll need to figure out a design for that, but that's more constellation than script.

[2016-03-17 15:32] paulrouget commented on #10056
When that makes sense, we should delegate that to app itself, maybe via the browser api (when iframe are used):
- https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowsershowmodalprompt
- https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowserusernameandpasswordrequired
- https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowseropentab
- https://developer.mozilla.org/en-US/docs/W

[2016-03-17 15:36] matthiaskrgr opened #10059 "weird indentation of dl / dd"
The code is (probably poorly) reduced from archlinux.org , but it shows the indentation issue.

[code]

screenshot attached.
![servo_vs_chrome](https://cloud.githubusercontent.com/assets/476013/13851404/4ab0c7ec-ec5e-11e5-92c0-50ab2bd2d605.jpg)

[2016-03-17 15:58] Ms2ger commented on #10056
As long as we don't end up with anything resembling the horror show that's Gecko window opening, I'm happy.

[2016-03-17 16:02] adamncasey commented on #9989
Do you have Python 2.7 installed to C:\Python27?

When I uninstall python 2.7 on my machine, I get the same error as @nightwalkerkg.

[code]

Does this help @nightwalkerkg ?

[2016-03-17 16:48] yoava333 commented on #9985
I'm using release build from 7a9dc57 and encountered the same error on OSX.
I have a link that constantly reproduces the problem.
[code]

the stack trace is 160kb, i've put it on pastebin - http://pastebin.com/y62Pwidc

[2016-03-17 17:02] nightwalkerkg commented on #9989
@adamncasey no, mine was in Program Files, i reinstalled it into C: and i'll try to build again.

[2016-03-17 18:33] jdm commented on #9985
I can't reproduce that on 10.9.5, unfortunately.

[2016-03-17 19:01] slayerjain commented on #9994
What does the C-assigned tag mean?  Does it mean it's assigned to someone and i can't do it?

[2016-03-17 19:12] jdm commented on #9994
@slayerjain Yes, that is what it means.

[2016-03-17 19:18] slayerjain commented on #9994
I guess have to look elsewhere for my first contribution, @jdm any suggestions?

[2016-03-17 19:22] sm-Fifteen commented on #10024
Same issue here, although scrolling a bit reveals that some of page does render, but the page has about two windows worth of leading blank space at any given size and the visible part starts at "Contributing".

[2016-03-17 19:50] EGhiorzi opened #10060 "Support for B2G OS (community effort) and long term plans"
As well known, Mozilla has discontinued Firefox OS development for smartphones. A community effort to keep B2G alive is moving its first steps. Still some long-term planning may be in place.

B2G is powered by Gecko, and it seems Gecko will be replaced by Servo in the long run. Previously, as far as I know, Servo was supporting a Gonk porting, but recent events may have changed that. What is Servo

[2016-03-17 19:53] pcwalton commented on #10060
(1) I think this is better discussed on the mailing list.

(2) When this is discussed on the mailing list, I think we shouldn't start from the premise that "it seems Gecko will be replaced by Servo in the long run", as this is not the case.

[2016-03-17 19:57] jdm commented on #10060
I agree with Patrick on both counts. Please send a message to [the mailing list](https://www.mozilla.org/en-US/about/forums/#dev-servo).

[2016-03-17 19:57] #10060 closed

[2016-03-17 21:03] matthiaskrgr opened #10062 "can't zoom in (ctrl-=) on German QWERTZ keyboard"
I'm using a german qwertz keyboard.
using ctrl-- zooms out properly but ctrl-= only resets zoom to 0 and does not allow me to further zoom in as suggested here https://github.com/servo/servo#keyboard-shortcuts

Holding ctrl and using the mousewheel  only scrolls the page up and down as if ctrl was ignored (didn't this work some time ago?).

[2016-03-17 21:13] jdm commented on #10062
This sounds like it might be caused by #4144.

[2016-03-17 21:24] matthiaskrgr opened #10063 "shadow artefacts"
[code]

Servo displays some odd artefacts
![servo_artifacts](https://cloud.githubusercontent.com/assets/476013/13861685/f3cb48ea-ec8e-11e5-9a7d-823223098f84.png)
 which were not reproducible with chrome or firefox.

[2016-03-17 21:33] matthiaskrgr opened #10065 "webrender fails to display shadows properly"
[code]

above is the normal version, below the webrender one.
![webrender_bug](https://cloud.githubusercontent.com/assets/476013/13861883/10cd4410-ec90-11e5-9a66-500e8d9d0c59.png)

servo output with webrender:
[code]

glxinfo attached, in case it's needed.
[glxinfo.txt](https://github.com/servo/servo/files/178730/glxinfo.txt)

[2016-03-17 21:42] frewsxcv commented on #10065
Not suggesting this should be closed, but there are currently a bunch of box-shadow issues open in the webrender repository:

https://github.com/servo/webrender/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+box+shadow+

I haven't done any investigating to see if any of them are specifically related to your issue

[2016-03-17 21:45] matthiaskrgr commented on #10065
Ok, I only searched https://github.com/servo/servo/issues so I didn't find tickets that appeared to be directly related.

[2016-03-17 21:59] matthiaskrgr opened #10067 "fonts blurry after scrolling/zooming"
Fonts are often blurry after scrolling which is quite annoying in my opinion.

[2016-03-18 01:48] asajeffrey commented on #10017
I created a commit which removes any panicking uses of `pipeline(id)` or `frame(id)` (https://github.com/asajeffrey/servo/commit/723107ca4503fc8e9f01b1c75f480e99c66c99bf). The patched version passes wpt-tests, and running it as `./mach run -r -w http://google.com/` it fixes the panic, hooray!

Not so hooray is that under not-web-render, it causes a different panic:
[code]
The problem is the `unwra

[2016-03-18 02:03] paulrouget commented on #10067
Can you take a screenshot before / after scrolling?
Does it happen only with webrender?

[2016-03-18 02:10] matthiaskrgr commented on #10067
It seems to be fine with webrender enabled however the default (no -w) seems to blur.
![scroll_cmp](https://cloud.githubusercontent.com/assets/476013/13866562/fb5695c4-ecb6-11e5-921e-f24baf3bdcac.png)

[2016-03-18 03:01] jdm commented on #10017
Seeing that I can reproduce the same failure on master, we can definitely declare that a different issue.

[2016-03-18 04:16] sydbarrett74 commented on #9974
Any ideas on this?

[2016-03-18 06:24] andrewguertin commented on #9555
[code]
It doesn't appear that `msg_controllen > INT_MAX` is the problem here, unfortunately.

(It took a while to get it right, but I did confirm this is the right `sendmsg` call)

[2016-03-18 07:36] hiroshiyui commented on #10045
I can reproduce such square (or so-called "tofu") font issue on my system, which runs:

* Arch Linux x86-64, Linux kernel 4.4.5
* KDE Plasma 5.5.5
* Servo (built from latest source code on Git)

Just found that if I change my fonts fallback order in Fontconfig, to set the first candidate font from "Noto Sans" to "Noto Sans CJK TC", almost all CJK characters are shown as expected.

[2016-03-18 08:03] andrewguertin commented on #9555
A bit more debugging has shown I was wrong in my original message: It's actually the `sendmsg()` call at https://github.com/servo/ipc-channel/blob/master/platform/linux/mod.rs#L258 that fails, and the `Err` gets returned a few lines later at https://github.com/servo/ipc-channel/blob/master/platform/linux/mod.rs#L269