[2017-09-29 08:35] nox commented on #448
Closing is good. Thanks for the quick reply @nical.

[2017-09-29 08:35] #448 closed

[2017-09-29 08:36] GuillaumeGomez commented on #11882
I'm gonna need to take a look (it should return all tracks).

[2017-09-29 08:40] nox commented on #1799
I don't think this is useful to keep this issue open. We know that splitting the script crate is something we can consider, but this will be done so far in the future (if ever) that I am hoping by then incremental compilation will make the crate size a non-issue.

[2017-09-29 08:51] paulrouget commented on #18673
@BruceDai Yes. This needs to be implemented.

In https://github.com/servo/servo/issues/11994 it says that you can use https://github.com/rofl0r/proxychains-ng to work around the issue.

[2017-09-29 09:08] BruceDai commented on #18673
@paulrouget That's great! I will try this work around method on Ubuntu.
As to Windows OS, is there some similar method? Thanks.

[2017-09-29 09:18] #17954 closed

[2017-09-29 09:18] #18289 closed

[2017-09-29 09:18] #18427 closed

[2017-09-29 09:54] mateon1 opened #18674 "CSS transitions rapidly leak memory"
Found reducible testcases with domato, but this behavior was seen previously on many sites, including google.com.

I managed to reduce the first 5 test cases that ran out of memory (out of 239 found), and all of them involved CSS transitions.

Here are the test cases:
[code]

[code]

[non-deterministic tests below]
[code]

[code]

[code]

For the record, here's an excerpt from the file where I tra

[2017-09-29 10:10] jdm commented on #443
Yes.

[2017-09-29 10:26] SimonSapin commented on #445
Yes.

[2017-09-29 10:26] #445 closed

[2017-09-29 13:17] nox commented on #43
Everything changed multiple times since back then, and images are done in a more asynchronous fashion now. Closing.

[2017-09-29 13:17] #43 closed

[2017-09-29 13:21] nox commented on #64
There is no `unsafe` code in any `text` module anymore.

[2017-09-29 13:21] #64 closed

[2017-09-29 13:26] est31 commented on #11882
@GuillaumeGomez my ogg metadata crate should return all tracks it can find. If that doesn't work or its not enough, please say so!

[2017-09-29 14:39] antrik commented on #1799
@nox I want to point out, again, that incremental compilation will *not* make the memory footprint during build a non-issue.

[2017-09-29 19:17] GuillaumeGomez commented on #11882
I think the error comes from `audio-video-metadata`. I'll need to investigate!

[2017-09-29 20:44] asajeffrey commented on #1799
The problem is still a real one, even if we don't have a clear vision of how to solve it, so I'd like to keep this issue open. If incremental computation makes this a non-issue, we can close the issue then.

[2017-09-29 20:49] SimonSapin commented on #1799
Hahaha, the good old times

[2017-09-30 00:00] nox commented on #2392
This doesn't seem to be true anymore, running `./mach run http://www.google.cz`.

[2017-09-30 00:00] #2392 closed

[2017-09-30 00:01] nox commented on #2385
This was done.

[2017-09-30 00:01] #2385 closed

[2017-09-30 00:02] nox commented on #2314
I see `libuv` stuff from rust itself in these stacktraces, that doesn't seem to be relevant at all anymore.

[2017-09-30 00:02] #2314 closed

[2017-09-30 00:03] nox commented on #2267
There is no `FragmentMap` type nor `fixup` method anymore.

[2017-09-30 00:03] #2267 closed

[2017-09-30 00:04] nox commented on #2262
There is no `left_offset` method anymore.

[2017-09-30 00:04] #2262 closed

[2017-09-30 00:05] nox commented on #2261
There is no `style_specified_intrinsic_width` method anymore.

[2017-09-30 00:05] #2261 closed

[2017-09-30 00:07] nox commented on #2264
Is this still true?

[2017-09-30 00:19] nox commented on #2625
This was done with `Option<T>`.

[2017-09-30 00:19] #2625 closed

[2017-09-30 00:21] nox commented on #3010
This doesn't seem to be true anymore.

[2017-09-30 00:21] #3010 closed

[2017-09-30 00:24] nox commented on #2673
This doesn't exist anymore AFAIK.

[2017-09-30 00:24] #2673 closed

[2017-09-30 00:27] nox commented on #3007
There is no such file anymore.

[2017-09-30 00:27] #3007 closed

[2017-09-30 00:28] nox commented on #2623
@pcwalton We more or less know what must be small now, right?

[2017-09-30 00:28] #2623 closed

[2017-09-30 00:32] nox commented on #2492
Closing for inactivity.

[2017-09-30 00:32] #2492 closed

[2017-09-30 00:40] nox commented on #3303
This doesn't seem reproducible anymore.

[2017-09-30 00:40] #3303 closed

[2017-09-30 00:41] nox commented on #3383
`JSRef<T>` is long dead.

[2017-09-30 00:41] #3383 closed

[2017-09-30 00:43] nox commented on #3484
It complains about `Vec<JS<T>>` and friends now.

[2017-09-30 00:43] #3484 closed

[2017-09-30 00:46] nox commented on #3519
@jdm Ain't that done correctly now?

[2017-09-30 00:48] nox commented on #3660
This was done.

[2017-09-30 00:48] #3660 closed

[2017-09-30 00:49] nox commented on #3701
We now merge properly and following the spec wording as long as it's not a perf issue in real world is nice. Closing.

[2017-09-30 00:49] #3701 closed

[2017-09-30 00:51] nox commented on #3553
This was ultimately done in #15938.

[2017-09-30 00:51] #3553 closed

[2017-09-30 00:54] nox commented on #3847
Cc @cynicaldevil

[2017-09-30 00:56] nox commented on #3786
That doesn't seem to be true anymore.

[2017-09-30 00:56] #3786 closed

[2017-09-30 01:01] nox commented on #4109
I'm pretty sure @jdm is right here, closing for inactivity.

[2017-09-30 01:01] #4109 closed

[2017-09-30 01:04] nox commented on #4088
This hasn't been true for a long time, AFAIK.

[2017-09-30 01:04] #4088 closed

[2017-09-30 01:05] nox commented on #4043
This was fixed, right?

[2017-09-30 01:05] #4043 closed

[2017-09-30 01:06] nox commented on #3950
This was done through `[Abstract]`.

[2017-09-30 01:06] #3950 closed

[2017-09-30 01:07] nox commented on #3928
This is not true anymore, right?

[2017-09-30 01:14] nox commented on #3876
`unrooted_must_root` is documented and the other plugins are all dead.

[2017-09-30 01:14] #3876 closed

[2017-09-30 01:15] nox commented on #4500
I went the complete opposite way with my recent changes.

[2017-09-30 01:15] #4500 closed

[2017-09-30 01:17] nox commented on #4336
Both `Rooted<T>` and `Temporary<T>` are dead.

[2017-09-30 01:17] #4336 closed

[2017-09-30 01:22] nox commented on #4201
This was done in #6028.

[2017-09-30 01:22] #4201 closed

[2017-09-30 01:29] nox commented on #5264
Wasn't this done?

[2017-09-30 08:05] nox commented on #5537
We fixed many of these on a per-assertion basis whenever double panics were found in practice, and no one is tracking this. Closing.

[2017-09-30 08:05] #5537 closed

[2017-09-30 08:06] nox commented on #5533
@pcwalton Wasn't this fixed?

[2017-09-30 08:06] nox commented on #5638
@jdm Ping?

[2017-09-30 08:08] nox commented on #5751
Can't we just dump all our tests in a subdirectory of WPT, like the `Opera` tests?

[2017-09-30 08:09] nox commented on #5726
I cannot reproduce this anymore.

[2017-09-30 08:09] #5726 closed

[2017-09-30 08:12] nox commented on #5740
Closing for inactivity. The XHR stack was improved a lot since back then.

[2017-09-30 08:12] #5740 closed

[2017-09-30 08:14] nox commented on #5499
This doesn't seem to be true anymore.

[2017-09-30 08:14] #5499 closed

[2017-09-30 08:14] nox commented on #5463
Everything related to parsing changed multiple times since then.

[2017-09-30 08:14] #5463 closed

[2017-09-30 08:15] nox commented on #5756
Can't we just dump all our tests in a subdirectory of WPT, like the Opera tests?

[2017-09-30 08:15] nox commented on #5756
Cc @jgraham

[2017-09-30 08:16] nox commented on #5702
No it's not, the generated union types now use `Root<T>` internally.

[2017-09-30 08:16] #5702 closed

[2017-09-30 08:19] nox commented on #5853
`Root<T>` can move now.

[2017-09-30 08:19] #5853 closed

[2017-09-30 08:20] nox commented on #5830
IMO this is a bad idea, closing.

[2017-09-30 08:20] #5830 closed

[2017-09-30 08:21] nox commented on #6060
There is still a ton of failing tests, notably since we disabled support of `wss`.

[2017-09-30 08:22] nox commented on #6072
This doesn't seem true anymore.

[2017-09-30 08:22] #6072 closed

[2017-09-30 08:22] nox commented on #6071
I can't reproduce this anymore.

[2017-09-30 08:22] #6071 closed

[2017-09-30 08:23] nox commented on #5974
This is still not done, right?

[2017-09-30 08:23] nox commented on #5948
Seems like this can be closed.

[2017-09-30 08:23] #5948 closed

[2017-09-30 08:25] nox commented on #5907
@jdm Don't we clear that TLS table now?

[2017-09-30 08:25] nox commented on #5922
Is this still true?

[2017-09-30 08:26] nox commented on #5893
This was done.

[2017-09-30 08:26] #5893 closed

[2017-09-30 08:27] nox commented on #5892
Does this still happen?

[2017-09-30 08:28] nox commented on #5828
This was done.

[2017-09-30 08:28] #5828 closed

[2017-09-30 08:29] nox commented on #5833
Links seem to be followed now.

[2017-09-30 08:29] #5833 closed

[2017-09-30 08:30] nox commented on #6298
`as_vec` is gone, and `heap_size_of` stuff has been marked unsafe anyway.

[2017-09-30 08:30] #6298 closed

[2017-09-30 08:30] nox commented on #6307
Cc @asajeffrey, because linjs would make this issue obsolete.

[2017-09-30 08:31] nox commented on #6250
@glennw Is this still true?

[2017-09-30 08:31] nox commented on #6211
@asajeffrey Is this still true?

[2017-09-30 08:32] nox commented on #6167
<img width="1136" alt="capture d ecran 2017-09-30 a 10 32 29" src="https://user-images.githubusercontent.com/123095/31044179-af1e8f9e-a5ca-11e7-8437-366372ea49a2.png">

[2017-09-30 08:32] #6167 closed

[2017-09-30 08:33] nox commented on #6128
Is this still true?

[2017-09-30 08:34] nox commented on #6093
Closing for inactivity.

[2017-09-30 08:34] #6093 closed

[2017-09-30 08:35] nox commented on #6095
[code]

[2017-09-30 08:35] #6095 closed

[2017-09-30 08:37] nox commented on #6391
There are various ways to make the output of `CodegenRust.py` better, but these ways don't need to follow exactly what Gecko does, nor do we need to file an issue for each one of its idiosyncrasies. Closing.

[2017-09-30 08:37] #6391 closed

[2017-09-30 08:39] nox commented on #6383
I don't understand what this issue is about. Doesn't `LayoutDom<T>` store a stable address that doesn't move under GC anyway?

[2017-09-30 08:40] nox commented on #6428
Drop flags are no more.

[2017-09-30 08:40] #6428 closed

[2017-09-30 08:41] nox commented on #6400
Wasn't this fix, @jdm? When you improved initial loading of `about:blank` etc.

[2017-09-30 08:41] nox commented on #6382
We have `rooted!` now.

[2017-09-30 08:41] #6382 closed

[2017-09-30 08:42] nox commented on #6481
Let's say it doesn't, it's been 2 years.

[2017-09-30 08:42] #6481 closed

[2017-09-30 08:43] jgraham commented on #5756
They get upstreamed every time there's a downstream sync. There is a separate issue that that got too hard.

[2017-09-30 08:43] #5756 closed

[2017-09-30 08:44] nox commented on #6228
I can't reproduce this anymore.

[2017-09-30 08:44] #6228 closed

[2017-09-30 09:52] nox commented on #7639
This doesn't bleed anymore.

[2017-09-30 09:52] #7639 closed

[2017-09-30 09:54] nox commented on #7585
@jgraham Can you confirm that there is no actual issue here?

[2017-09-30 09:55] nox commented on #7688
Closing for inactivity.

[2017-09-30 09:55] #7688 closed

[2017-09-30 09:58] nox commented on #7818
This seems to still be relevant.

[2017-09-30 09:59] nox commented on #7723
We can probably close this uninformative intermittent issue.

[2017-09-30 09:59] #7723 closed

[2017-09-30 10:00] nox commented on #7762
I can't reproduce this locally.

[2017-09-30 10:01] nox commented on #7715
That method is dead.

[2017-09-30 10:01] #7715 closed

[2017-09-30 10:01] nox commented on #7681
This is still true.

[2017-09-30 10:06] nox commented on #7677
@asajeffrey Did the situation improve enough that we can close this issue?

[2017-09-30 10:06] jgraham commented on #7585
Yeah, this is an actual thing.

[2017-09-30 10:06] #7585 closed

[2017-09-30 10:07] nox commented on #8079
Cc @asajeffrey

[2017-09-30 10:07] nox commented on #8072
This is still true.

[2017-09-30 10:08] nox commented on #8067
AFAIK, this was fixed.

[2017-09-30 10:08] #8067 closed

[2017-09-30 10:10] nox commented on #7930
Pretty sure this can be fixed.

[2017-09-30 10:10] #7930 closed

[2017-09-30 10:11] nox commented on #7820
I can't reproduce this anymore.

[2017-09-30 10:11] #7820 closed

[2017-09-30 10:12] nox commented on #7863
There are still some such fields remaining.

[2017-09-30 10:12] nox commented on #7853
Was this fixed?

[2017-09-30 10:14] nox commented on #7826
Both iframes load now.

[2017-09-30 10:14] #7826 closed

[2017-09-30 10:15] nox commented on #7839
Was this ultimately done?

[2017-09-30 10:16] nox commented on #8076
` --debug paint-flashing` isn't a thing anymore.

[2017-09-30 10:16] #8076 closed

[2017-09-30 10:16] nox commented on #7890
Seems like this can be closed.

[2017-09-30 10:16] #7890 closed

[2017-09-30 10:17] nox commented on #8380
I can't reproduce this.

[2017-09-30 10:17] #8380 closed

[2017-09-30 10:19] nox commented on #8362
Closing because that stuff changed since 2015.

[2017-09-30 10:19] #8362 closed

[2017-09-30 10:19] nox commented on #8307
Is this still a thing?

[2017-09-30 10:20] nox commented on #8271
We use image now.

[2017-09-30 10:20] #8271 closed

[2017-09-30 10:21] nox commented on #8270
Is this still an issue?

[2017-09-30 10:22] nox commented on #8117
Not true anymore.

[2017-09-30 10:22] #8117 closed

[2017-09-30 10:24] nox commented on #8335
Closing for inactivity and lack of interest.

[2017-09-30 10:24] #8335 closed

[2017-09-30 10:26] nox commented on #8259
AFAIK, yes.

[2017-09-30 10:26] #8259 closed

[2017-09-30 10:27] nox commented on #8116
Both show text now.

[2017-09-30 10:27] #8116 closed

[2017-09-30 10:28] nox commented on #8085
This is still true.

[2017-09-30 10:28] nox commented on #8082
Is this still true?

[2017-09-30 10:29] nox commented on #8127
Is there any patch that landed since then that could have fixed that?

[2017-09-30 10:29] nox commented on #8220
This is still true.

[2017-09-30 10:30] nox commented on #8034
Closing for inactivity.

[2017-09-30 10:30] #8034 closed

[2017-09-30 10:32] nox commented on #8577
That sounds gratuitous, let's just keep the fields separate like they are specified.

[2017-09-30 10:32] #8577 closed

[2017-09-30 10:32] nox commented on #8556
Is this still true?

[2017-09-30 10:33] nox commented on #8556
Nope, it's in `inherited_text` now. Closing.

[2017-09-30 10:33] #8556 closed

[2017-09-30 10:34] nox commented on #8425
It seems ok to me to continue to return a `LengthOrPercentageOrAuto`. The `AttrValue` variant is now named `Dimension`.

[2017-09-30 10:34] #8425 closed

[2017-09-30 10:35] nox commented on #8450
These are documented now, AFAICT.

[2017-09-30 10:35] #8450 closed

[2017-09-30 10:36] nox commented on #8426
Was that done?

[2017-09-30 10:36] nox commented on #8436
Given Stylo is now a thing, I'm *pretty* sure this can be closed.

[2017-09-30 10:36] #8436 closed

[2017-09-30 10:38] nox commented on #8847
I'm pretty sure all C++ references are gone by now.

[2017-09-30 10:38] #8847 closed

[2017-09-30 10:39] nox commented on #8819
This was fixed, AFAIK.

[2017-09-30 10:40] nox commented on #8789
The only way to make these assertions fail is by sending things like `Trusted<T>` to a different thread and converting that back to `Root<T>` on the wrong thread. The proof token would need to be sent too so it wouldn't change anything. Closing.

[2017-09-30 10:40] #8789 closed

[2017-09-30 10:42] nox commented on #8732
Cc @asajeffrey

[2017-09-30 10:43] nox commented on #8864
This is dead.

[2017-09-30 10:43] #8864 closed

[2017-09-30 12:36] MortimerGoro commented on #18625
I added this NDK step to servo in order to strip the size of the so and include the correct c++_shared library for the selected android architecture https://github.com/servo/servo/tree/master/support/android/apk/jni

[2017-09-30 12:42] dkotrada opened #18682 "Setup environment for Ubuntu 16.04 package dependency (no package libpng-dev)"
When I follow instructions for setup environment on Ubuntu 16.04 I get this message:

libfreetype6-dev : Depends on: libpng-dev

Official repositoriy doesn't have this package: libpng-dev

So I can not instal libpng-dev. So what should I do now?

[2017-09-30 12:46] MortimerGoro commented on #18639
I worked on adding Android armv7 and aarch64 architectures. Some required steps:

- Add the required x86 linker flags: https://github.com/servo/servo/blob/master/ports/servo/.cargo/config
- Add x86 configuration to https://github.com/servo/servo/blob/81044e001941ee3b4eef598125c327c73e993b5d/python/servo/command_base.py#L554 as @SimonSapin mentioned
- Adapt problematic cmake/makefiledependencies. E

[2017-09-30 12:49] nox commented on #2109
DOM pointers in layout don't move and won't move any time soon.

[2017-09-30 12:49] #2109 closed

[2017-09-30 12:49] #4742 closed

[2017-09-30 12:50] #4732 closed

[2017-09-30 12:50] dkotrada opened #18683 "Can not install xorg-dev and libfreetype6-dev on Ubuntu 16.04"
Got dependencies problems with this packages. Can I omit it while I setup my environment for servo?

[2017-09-30 12:51] paulrouget commented on #18625
I'm not sure to under where stripping happens there.

[2017-09-30 12:52] nox commented on #4749
AFAIK we don't leak them anymore given we use a `CString` value on the stack and call `as_ptr` on them.

[2017-09-30 12:52] #4749 closed

[2017-09-30 12:52] nox commented on #4786
I think this can be closed, we shouldn't merge the fancy colour types from style with other ones that are more lower-level.

[2017-09-30 12:53] #4786 closed

[2017-09-30 12:53] nox commented on #4727
Where is that?

[2017-09-30 12:53] nox commented on #4673
PropertyBitField doesn't exist anymore.

[2017-09-30 12:53] #4673 closed

[2017-09-30 12:55] nox commented on #4730
I'm pretty sure this can be closed.

[2017-09-30 12:55] #4730 closed

[2017-09-30 12:58] nox commented on #4897
Is this still true?

[2017-09-30 13:00] MortimerGoro commented on #18625
`I'm not sure to understand where stripping happens there.`
ndk-build automatically strips debug symbols when it copies .so from obj to lib folder.

It also works to use NDK's `strip`, as you mentioned.

[2017-09-30 13:03] nox commented on #5223
This was fixed.

[2017-09-30 13:03] #5223 closed

[2017-09-30 13:03] nox commented on #5237
Cc @asajeffrey

[2017-09-30 13:04] nox commented on #5236
Can this be closed?

[2017-09-30 13:05] nox commented on #5191
This was fixed.

[2017-09-30 13:05] #5191 closed

[2017-09-30 13:07] nox commented on #5151
Way not as busted anymore.

[2017-09-30 13:07] #5151 closed

[2017-09-30 13:08] paulrouget commented on #18625
Understood. I don't use ndk-build (I don't use Servo's APK). That's why I'm having an issue.

Would it make sense to strip from our build system?

[2017-09-30 13:08] nox commented on #5149
Is this still true?

[2017-09-30 13:08] nox commented on #5076
Is this still true?

[2017-09-30 13:09] nox commented on #4876
Closing for inactivity.

[2017-09-30 13:09] #4876 closed

[2017-09-30 13:10] nox commented on #4926
Cc @asajeffrey

[2017-09-30 13:10] nox commented on #5093
Is this still true? Can we close this?

[2017-09-30 13:11] nox commented on #5242
@asajeffrey What's missing?

[2017-09-30 13:12] nox commented on #5008
Is this still true?

[2017-09-30 13:13] nox commented on #5260
Is this still something we want to do? Couldn't we reuse webrender's own stuff to specify display lists in written form?

[2017-09-30 13:13] nox commented on #5279
Is this still true?

[2017-09-30 13:15] nox commented on #5368
This doesn't happen anymore.

[2017-09-30 13:15] #5368 closed

[2017-09-30 13:17] nox commented on #6087
[code]

[2017-09-30 13:19] nox commented on #5886
It should be noted that Safari and Chrome both display a black square with the sample from the issue description.

[2017-09-30 13:20] nox commented on #6476
Is this still something we want to do?

[2017-09-30 13:21] nox commented on #6813
@jdm Do we still want this? I personally would want to see *less* unit tests in general.

[2017-09-30 13:21] nox commented on #6816
This now works correctly.

[2017-09-30 13:21] #6816 closed

[2017-09-30 13:23] nox commented on #6578
This is still much broken.

[2017-09-30 13:24] nox commented on #6480
This doesn't crash anymore for me.

[2017-09-30 13:24] #6480 closed

[2017-09-30 13:26] nox commented on #6486
I don't see corrupted frames anymore.

[2017-09-30 13:26] #6486 closed

[2017-09-30 13:26] nox commented on #6569
`SharedLayoutContext` is dead.

[2017-09-30 13:26] #6569 closed

[2017-09-30 13:27] nox commented on #6856
These tests don't seem disabled to me anymore.

[2017-09-30 13:27] #6856 closed

[2017-09-30 13:28] nox commented on #6612
I get a security error now.

[2017-09-30 13:28] #6612 closed

[2017-09-30 13:29] nox commented on #6422
We do that now.

[2017-09-30 14:33] antoyo opened #18685 "OpenGL configuration"
Hello.
As you can see [here](https://github.com/paulrouget/servo-embedding-example/issues/1), I started to work on integrating `servo` with `gtk-rs`.
I had one rendering issue that was caused by the fact that the depth buffer was not enable in the OpenGL configuration.
So, I wonder what is the configuration that is necessary in order to make servo works correctly.
For instance, do I also need to e

[2017-09-30 15:22] SimonSapin commented on #6476
`selectors` is now elements all the way.

[2017-09-30 15:22] #6476 closed

[2017-09-30 16:14] tigercosmos commented on #18682
I use Ubuntu 16.04 with VMware player
[code]
But I did not encounter error.

Maybe use a clean environment to try again?

[2017-09-30 16:16] tigercosmos commented on #18683
Relative to #18682

[2017-09-30 16:25] alex commented on #8819
@nox I don't think so, https://badssl.com/dashboard/ shows every single result as connected - no error events fired.

[2017-09-30 16:26] nox commented on #8819
Oh, misread it. Thanks for the quick reaction.

[2017-09-30 16:29] nox commented on #6870
Pretty sure this was fixed when we rewrote the `heapsize` derive thing with procedural macros.

[2017-09-30 16:29] #6870 closed

[2017-09-30 17:01] dkotrada commented on #18683
You are rightl. It is my problem only... :(

It seems a have some corrupted pakages on my system ... Just can't find where and what...

[2017-09-30 17:01] #18683 closed

[2017-09-30 17:02] dkotrada commented on #18682
problem withmy system...

[2017-09-30 17:02] #18682 closed

[2017-09-30 18:35] dkotrada commented on #18683
Here is how I solved my issue. https://askubuntu.com/questions/720361/cant-install-libpng-dev

[2017-09-30 18:50] nox commented on #6982
Is this still true?

[2017-09-30 18:52] nox commented on #6967
This test is still disabled.

[2017-09-30 18:53] nox commented on #6953
Is this still true? The URL doesn't work.

[2017-09-30 18:53] nox commented on #6916
Is this still something we need to do?

[2017-09-30 18:55] nox commented on #6915
Is this still something we need a test for, @glennw?

[2017-09-30 18:56] nox commented on #6905
Was this done?

[2017-09-30 18:58] nox commented on #6859
I can now scroll.

[2017-09-30 18:58] #6859 closed

[2017-09-30 18:58] nox commented on #6862
Pretty sure this works now.

[2017-09-30 18:58] #6862 closed

[2017-09-30 19:01] nox commented on #6891
A lot of stuff changed since then with regard to initial loads and script execution, closing.

[2017-09-30 19:01] #6891 closed

[2017-09-30 19:05] nox commented on #7174
Did we ever decide whether that should be done or not?

[2017-09-30 19:06] nox commented on #7138
I'm *pretty* sure we can close this.

[2017-09-30 19:08] larsbergstrom commented on #7138
Done.

[2017-09-30 19:08] #7138 closed

[2017-09-30 19:08] nox commented on #7004
Most attributes are implemented now.

[2017-09-30 19:08] #7004 closed

[2017-09-30 19:09] nox commented on #7035
This was fixed.

[2017-09-30 19:09] #7035 closed

[2017-09-30 19:10] nox commented on #7058
Is this still true?

[2017-09-30 19:11] nox commented on #7005
Closing for inactivity.

[2017-09-30 19:11] #7005 closed

[2017-09-30 19:11] tigercosmos commented on #18683
Nice :)

[2017-09-30 19:12] nox commented on #7134
I think mid-August 2015 is pretty far back in the past now.

[2017-09-30 19:12] #7134 closed

[2017-09-30 19:14] nox commented on #7173
@metajack Do we still need this?

[2017-09-30 19:15] nox commented on #6967
Sorry, I meant failing.

[2017-09-30 19:15] #7791 closed

[2017-09-30 19:17] nox commented on #7462
Closing as duplicate of #14079.

[2017-09-30 19:17] #7462 closed

[2017-09-30 19:19] nox commented on #7440
This is still not supported, I think.

[2017-09-30 19:20] nox commented on #7306
Pretty sure this was done given Stylo.

[2017-09-30 19:20] #7306 closed

[2017-09-30 19:22] nox commented on #7295
This looks almost perfect now.

[2017-09-30 19:22] nox commented on #7286
Servo doesn't clip on navigation anymore.

[2017-09-30 19:22] #7286 closed

[2017-09-30 19:23] nox commented on #7339
Pretty sure this ultimately landed in Servo.

[2017-09-30 19:23] #7339 closed

[2017-09-30 19:28] nox commented on #7035
The latter.

[2017-09-30 19:29] nox commented on #9032
This is not actionable and no one cares.

[2017-09-30 19:29] #9032 closed

[2017-09-30 20:22] jdm commented on #7440
No, I use it all the time.

[2017-09-30 20:23] jdm commented on #7440
Whoops, misread the title. Nevermind.

[2017-09-30 20:26] jdm commented on #7058
According to this testcase, no:
[code]

[2017-09-30 20:26] #7058 closed

[2017-09-30 20:28] jdm commented on #6982
Yes.

[2017-09-30 20:29] jdm commented on #18685
@glennw Can you answer this question?

[2017-09-30 20:37] jdm opened #18686 "Anchor with javascript: URL containing escaped newline isn't followed"
In Firefox this shows `2` after the link is clicked. This does not happen in Servo.
[code]

[2017-09-30 20:41] jdm commented on #8270
Haven't seen this for a long time.

[2017-09-30 20:41] #8270 closed

[2017-09-30 20:45] jdm commented on #6813
Yeah, I don't see this exploration going anywhere useful.

[2017-09-30 20:45] #6813 closed

[2017-09-30 20:47] jdm commented on #5279
Nope.

[2017-09-30 20:47] #5279 closed

[2017-09-30 20:53] jdm commented on #5008
Yes. Consider:
[code]
vs.
[code]
from https://github.com/servo/servo/pull/1638/commits/f3d5c3da46384533834c64e07dd1eba4e2c2dadd.
![foo](https://user-images.githubusercontent.com/27658/31049376-2adb1bfe-a632-11e7-82e3-18247bc3dbce.png)
![foo2](https://user-images.githubusercontent.com/27658/31049378-2da3e460-a632-11e7-8941-f8685028384b.png)

[2017-09-30 20:54] jdm commented on #5242
Actual communication with the cross-origin script threads.

[2017-09-30 20:55] jdm commented on #5236
Yep.

[2017-09-30 20:55] #5236 closed

[2017-09-30 20:59] jdm commented on #4727
Gone.

[2017-09-30 20:59] #4727 closed

[2017-09-30 21:03] jdm commented on #7853
Yes:
[code]

[2017-09-30 21:03] #7853 closed

[2017-09-30 21:06] jdm commented on #7839
`./mach test` with a wpt file and `./mach test-wpt` appear to behave consistently by not rebuilding.

[2017-09-30 21:06] #7839 closed

[2017-09-30 21:13] jdm commented on #6400
We overcompensated and made `<iframe src="about:blank">` fire two load events instead.

[2017-09-30 21:13] #6400 closed

[2017-09-30 21:14] jdm commented on #6383
This is talking about the JS reflectors, not the associated native objects.

[2017-09-30 21:20] jdm opened #18687 "Assertion failure in webrender gpu cache"
`./mach run http://www.naver.com` then I scrolled to the bottom of the page and hit this assertion while scrolling back up to the top:
[code]

[2017-09-30 21:20] jdm commented on #18687
cc @glennw

[2017-09-30 21:21] jdm commented on #5892
Memory usage looks fine on Mac like https://github.com/servo/servo/issues/5892#issuecomment-97313184; someone should check what it is on Linux.

[2017-09-30 21:23] jdm commented on #5907
No.

[2017-09-30 21:25] jdm commented on #5974
No, I think stylesheet_loader.rs handles this correctly.

[2017-09-30 21:25] #5974 closed

[2017-09-30 21:33] nox commented on #6383
@jdm Where are these addresses verified?

[2017-09-30 21:38] nox commented on #9604
We support this now, no?

[2017-09-30 21:38] nox commented on #9594
@jdm Do we still want to do that?

[2017-09-30 21:39] jdm commented on #3928
Correct.

[2017-09-30 21:39] #3928 closed

[2017-09-30 21:41] nox commented on #9587
@SimonSapin Is this something we really need to do? `rust-url` normalises URLs anyway, right?

[2017-09-30 21:41] jdm commented on #5264
Yes.

[2017-09-30 21:41] #5264 closed

[2017-09-30 21:41] nox commented on #9585
@pcwalton @glennw Can we do something about that? Or is this still fixed?

[2017-09-30 21:42] nox commented on #9579
@larsbergstrom Is this still a thing?

[2017-09-30 21:42] jdm commented on #5533
I do not believe we have any code that stops animations from progressing if script performs a layout query.

[2017-09-30 21:42] nox commented on #9578
@glennw So was this done in WR? Or is there something to do here?

[2017-09-30 21:42] jdm commented on #5638
I haven't seen any similar notifications in years.

[2017-09-30 21:42] #5638 closed

[2017-09-30 21:44] jdm commented on #6383
https://github.com/servo/servo/blob/master/components/script/dom/node.rs#L986-L989 is the code under discussion.

[2017-09-30 21:45] jdm commented on #3519
We do this by marking nodes as dirty now.

[2017-09-30 21:45] #3519 closed

[2017-09-30 21:46] nox commented on #6383
Maybe I'm being stupid, but aren't we just sending around the address of the Node itself, just as with `Trusted<T>`?

[2017-09-30 21:46] jdm commented on #9594
I don't even know what it means. I defer to @emilio.

[2017-09-30 21:47] nox commented on #9392
NEWS AT 11: WAS DONE MONTHS AGO YAY

[2017-09-30 21:47] #9392 closed

[2017-09-30 21:47] jdm commented on #9604
Yes.

[2017-09-30 21:47] #9604 closed

[2017-09-30 21:48] nox commented on #9474
Wasn't this implemented?

[2017-09-30 21:49] jdm commented on #12585
No need to track this any more.

[2017-09-30 21:49] #12585 closed

[2017-09-30 21:50] jdm commented on #6383
No, we send the JS reflector, hence why we cast the uint to a *mut JSObject in the code that I just linked.

[2017-09-30 21:50] nox commented on #9462
Our `FormDatum` type isn't even similar anymore to the mentioned union type. Closing.

[2017-09-30 21:50] #9462 closed

[2017-09-30 21:53] jdm commented on #9474
https://dxr.mozilla.org/servo/rev/81044e001941ee3b4eef598125c327c73e993b5d/components/script/dom/document.rs#691 looks like yes.

[2017-09-30 21:53] #9474 closed

[2017-09-30 21:54] nox commented on #9387
Closing for inactivity. @asajeffrey fixed a lot of double panics in this area.

[2017-09-30 21:54] #9387 closed

[2017-09-30 21:54] nox commented on #9331
These were enabled, right @emilio?

[2017-09-30 21:55] nox commented on #9323
This has probably been fixed since then.

[2017-09-30 21:55] #9323 closed

[2017-09-30 21:56] nox commented on #9320
This seems like the kind of issues that we fixed over time. Closing.

[2017-09-30 21:56] #9320 closed

[2017-09-30 21:57] nox commented on #9310
This doesn't seem to time out anymore.

[2017-09-30 21:57] #9310 closed

[2017-09-30 21:58] nox commented on #9259
The current output seems ok to me.

[2017-09-30 21:58] #9259 closed

[2017-09-30 21:58] nox commented on #9290
@emilio @frewsxcv Was this fixed in the end?

[2017-09-30 22:00] nox commented on #9288
Closing because the issue isn't much actionable. We are aware of pretty serious perf deficiencies in debug mode right now but we don't have the bandwidth to fix them at the moment.

[2017-09-30 22:00] #9288 closed

[2017-09-30 22:00] nox commented on #9203
Parameter `-x` works for me.

[2017-09-30 22:00] #9203 closed

[2017-09-30 22:03] nox commented on #9785
Superseded by #13242 and #13243.

[2017-09-30 22:03] #9785 closed

[2017-09-30 22:06] nox commented on #9791
This hasn't been reported again in a long time, closing for inactivity.

[2017-09-30 22:06] #9791 closed

[2017-09-30 22:06] nox commented on #9782
`ServoUrl` is used almost everywhere now.

[2017-09-30 22:06] #9782 closed

[2017-09-30 22:07] nox commented on #9775
I don't think we have this particular kind of build error anymore.

[2017-09-30 22:07] #9775 closed

[2017-09-30 22:07] nox commented on #9770
@jdm So where are the pending details? :)

[2017-09-30 22:08] nox commented on #9732
This is still wrong.

[2017-09-30 22:09] nox commented on #9711
I assume this can be closed now, given the lack of new reports.

[2017-09-30 22:09] #9711 closed

[2017-09-30 22:10] nox commented on #9674
Seems like this can be closed.

[2017-09-30 22:10] #9674 closed

[2017-09-30 22:12] nox commented on #9593
This was fix eons ago, IIRC.

[2017-09-30 22:12] #9593 closed

[2017-09-30 22:15] jdm commented on #9331
Yes.

[2017-09-30 22:15] #9331 closed

[2017-09-30 22:17] nox commented on #9938
Is this still an issue?

[2017-09-30 22:18] jdm commented on #9770
Shrug. #15275.

[2017-09-30 22:18] #9770 closed

[2017-09-30 22:20] nox commented on #9936
Can confirm.

[2017-09-30 22:21] jdm commented on #9938
I would expect it to panic on https://github.com/servo/servo/blob/65d9b345bb2a588f41b0d6cdca1aaca2c3c69205/ports/glutin/window.rs#L271 still.

[2017-09-30 22:22] jdm commented on #9938
Presumably related to https://github.com/servo/glutin/blob/be125189adc8d72ec49622b7d2eadab76543fd37/src/api/x11/window.rs#L497-L506.

[2017-09-30 22:22] nox commented on #9913
@nical Does this still happen?

[2017-09-30 22:23] nox commented on #9904
@SimonSapin Did we ever take a decision on this?

[2017-09-30 22:24] jdm commented on #9938
I wonder if https://www.mail-archive.com/fltk-bugs@easysw.com/msg01159.html might help?

[2017-09-30 22:27] nox commented on #9855
Let's close this.

[2017-09-30 22:27] #9855 closed

[2017-09-30 22:28] nox commented on #9849
Servo now panics immediately opening the link in comment.

[2017-09-30 22:29] nox commented on #9848
Not true anymor.

[2017-09-30 22:29] #9848 closed

[2017-09-30 22:30] metajack commented on #7173
Nah

[2017-09-30 22:30] #7173 closed

[2017-09-30 22:31] jdm commented on #9290
I don't believe so: https://github.com/servo/rust-mozjs/blob/3de4ff3d52361a47a17e3b4fcb02c779b99d93d4/src/conversions.rs#L611-L625 vs. https://heycam.github.io/webidl/#es-sequence

[2017-09-30 22:32] nox commented on #10063
The artefacts are gone.

[2017-09-30 22:32] #10063 closed

[2017-09-30 22:33] nox commented on #10045
The characters are displayed correctly on macOS.

[2017-09-30 22:35] jdm opened #18688 "Render task's target rect is missing"
Load http://pygy.github.io/servo-rendering-bugs/j2c/j2c/index.html and get this assertion immediately:
[code]

cc @glennw

[2017-09-30 22:35] jdm commented on #9849
Filed #18688 for that.

[2017-09-30 23:22] jdm commented on #8072
[code]
It's the Menlo font in particular that seems to make this appear.

[2017-09-30 23:26] jdm commented on #18297
Agreed.

[2017-09-30 23:26] #18297 closed

[2017-09-30 23:29] jdm commented on #18596
Got this while scrolling down the reddit homepage:
[code]
cc @glennw

[2017-09-30 23:32] jdm commented on #18435
The debugger shows me:
[code]

[2017-09-30 23:43] jdm commented on #18435
Input to convert_gradient_stops:
[code]
Output:
[code]

[2017-09-30 23:56] notriddle commented on #6953
Unfortunately, I don't have that file any more. Forgot it was there.

The HTML for it looked like this:

[code]

The image has to finish loading after the initial layout, which is why I didn't just paste it in here originally. Next time, I'll try to copy relevant info.

[2017-10-01 00:09] nox commented on #10067
Is this still true?

[2017-10-01 00:09] nox commented on #10059
This is still true.

[2017-10-01 00:10] nox commented on #10042
@hfiguiere Is this still happening?

[2017-10-01 00:11] nox commented on #10030
Closing for inactivity and I closed other similar issues.

[2017-10-01 00:12] nox commented on #10024
I can't reproduce it either. Closing.

[2017-10-01 00:12] #10024 closed

[2017-10-01 00:13] nox commented on #10023
I can't reproduce this anymore.

[2017-10-01 00:13] #10023 closed

[2017-10-01 00:15] nox commented on #10020
I can't reproduce this anymore.

[2017-10-01 00:15] #10020 closed

[2017-10-01 00:16] nox commented on #10016
skia had multiple updates since back then and the issue was just a missing dependency anyway.

[2017-10-01 00:16] #10016 closed

[2017-10-01 00:17] nox commented on #10004
Cc @asajeffrey

[2017-10-01 00:18] nox commented on #9990
This still hasn't been done.

[2017-10-01 00:20] hfiguiere commented on #10042
no idea. I moved on, contributing to other things instead. And the system on which I had the issue has been returned.

[2017-10-01 00:20] nox commented on #10254
I don't get a panic anymore.

[2017-10-01 00:20] #10254 closed

[2017-10-01 00:21] nox commented on #10042
Ok! Closing this then. Thanks for the report anyway.

[2017-10-01 00:21] #10042 closed

[2017-10-01 00:35] jdm commented on #18435
[code]

[2017-10-01 00:37] jdm commented on #18435
https://dxr.mozilla.org/servo/rev/65d9b345bb2a588f41b0d6cdca1aaca2c3c69205/components/layout/display_list_builder.rs#3123-3126 does not work when total_length is 0, since the output is NaN.

[2017-10-01 04:09] paulrouget commented on #10067
Now we only use WebRender.

[2017-10-01 04:09] #10067 closed

[2017-10-01 06:24] SimonSapin commented on #9587
I don’t fully understand what this issue is about. @nikkisquared @asajeffrey, could you clarify? If it is indeed proposing to implement both of two alternative behaviors because a combination of specs seems ambiguous, that’s probably not the right approach.

FWIW `Url::domain` gives an ASCII string that can be Punycode-encoded but never percent-encoded.

[2017-10-01 06:47] paulrouget commented on #18685
Same goes for OpenGL ES. What is the minimum version required?

[2017-10-01 10:23] nox commented on #10228
I can't reproduce this anymore.

[2017-10-01 10:23] #10228 closed

[2017-10-01 10:27] nox opened #18689 "RenderBackend panics with "index out of bounds: the len is 21 but the index is 22""
When loading the file in https://gist.github.com/Shiroy/d2ddfbe46d9bfcfd9d5b, from #10207, Servo panics:

<details><summary>Expand to see the backtrace of the panic.</summary>

[code]
</details>
<br>
Cc @pcwalton @glennw

[2017-10-01 10:27] nox commented on #10207
The text is ok now, but I encountered #18689. Closing this issue.

[2017-10-01 10:27] #10207 closed

[2017-10-01 10:38] nox commented on #10209
Only 5 missing APIs now.

[2017-10-01 10:38] nox commented on #10206
I can still reproduce this.

[2017-10-01 10:39] nox commented on #10230
We still don't use `IpcSharedMemory` or anything like that for fonts, but we do for images.

[2017-10-01 10:40] nox commented on #10259
I cannot reproduce this anymore.

[2017-10-01 10:40] #10259 closed

[2017-10-01 10:41] nox commented on #10201
I cannot reproduce this.

[2017-10-01 10:41] #10201 closed

[2017-10-01 10:42] nox commented on #10199
I cannot reproduce this anymore.

[2017-10-01 10:42] #10199 closed

[2017-10-01 10:42] nox commented on #10192
Cc @asajeffrey

[2017-10-01 10:43] nox commented on #10180
This is still an interesting thing to do.

@nnethercote Maybe this issue would interest you. Or not.

[2017-10-01 10:44] nox commented on #10172
Not really actionable. We already do that, and this issue isn't going to make us remember it if we forget.

[2017-10-01 10:44] #10172 closed

[2017-10-01 10:45] nox commented on #10153
I can't reproduce this anymore.

[2017-10-01 10:45] #10153 closed

[2017-10-01 10:46] pygy commented on #10020
I can't either with my current machine (a more recent MacBook Air), and I don't have the old one anymore (turns out that driving over a computer is semi-fatal for the poor thing).

[2017-10-01 10:47] nox commented on #10020
I knew doing issue triage would be worth *something*, thanks for the good laugh.

[2017-10-01 10:52] nox opened #18690 "RenderBackend panics with "handle not requested or allocated!""
When loading https://archiveofourown.org/media/Books%20*a*%20Literature/fandoms, after a while Servo panics:

<details><summary>Expand to see the backtrace of the panic.</summary>

[code]
</details>
<br>
Cc @pcwalton @glennw

[2017-10-01 10:53] pygy commented on #18688
The playground global variable is created on line 763 by an HTML id: `<div id="playground">Loading the docs...</div>`.

[2017-10-01 10:53] nox commented on #10149
I don't see the extreme memory usage anymore, but I see #18690.

[2017-10-01 10:53] #10149 closed

[2017-10-01 10:54] nox commented on #10144
Is this still something we want?

[2017-10-01 10:54] nox commented on #10129
Cc @mateon1 who is doing a lot of fuzzing and shrinking.

[2017-10-01 10:55] nox commented on #10129
Never mind, I can't read.

[2017-10-01 10:55] nox commented on #10129
This was more or less done, with @jdm's intermittent stuff. Closing.

[2017-10-01 10:55] #10129 closed

[2017-10-01 10:55] nox commented on #10126
This is still true, right?

[2017-10-01 10:56] nox commented on #10118
Does this still happen?

[2017-10-01 10:56] nox commented on #10117
This is still true.

[2017-10-01 10:57] nox commented on #10103
@SimonSapin Is there anything to do here?

[2017-10-01 10:57] nox commented on #10101
Do we still need to support ES2?

[2017-10-01 10:57] nox commented on #10101
Cc @nical

[2017-10-01 10:59] nox commented on #10091
Still blocked on `window.frames`.

[2017-10-01 10:59] nox commented on #10083
Was this done in the end?

[2017-10-01 11:00] nox commented on #10073
This has yet to be implemented.

[2017-10-01 11:00] nox commented on #10073
And it's blocked by #10072.

[2017-10-01 11:01] nox commented on #10065
This is still true.

[2017-10-01 11:01] nox commented on #10460
Was this done in the end?

[2017-10-01 11:02] nox commented on #10457
AFAIK this test isn't disabled nor failing anymore.

[2017-10-01 11:02] #10457 closed

[2017-10-01 11:03] nox commented on #10439
This was resolved.

[2017-10-01 11:03] #10439 closed

[2017-10-01 11:04] nox commented on #10427
AFAICT this issue is wrong, given `sequence<T>` shouldn't be used for attributes.

[2017-10-01 11:05] nox commented on #10418
@jdm Is this still something we want to do?

[2017-10-01 11:05] raphaelcohn opened #18691 "Possible bug in parsing and serialization of ::lang pseudo-class"
Hi,

Whilst looking into `style/servo/selector_parser.rs`, I spotted this code (starting at line 437):-

[code]

The only thing is, I understood that the `::lang` psuedo-class accepts "accepts a comma-separated list of one or more language ranges as its argument" - see <https://drafts.csswg.org/selectors/#lang-pseudo>. This code only accepts one. That said, the function `extended_filtering()` in t

[2017-10-01 11:07] nox commented on #10412
The progress bar is still badly rendered.

[2017-10-01 11:07] nox commented on #10408
I think we can say this has been done.

[2017-10-01 11:07] #10408 closed

[2017-10-01 11:07] nox commented on #10401
Any news on this..?

[2017-10-01 11:08] nox commented on #10395
Does this still happen?

[2017-10-01 11:09] nox commented on #10390
This still happens.

[2017-10-01 11:09] nox commented on #10389
Closing for inactivity.

[2017-10-01 11:09] #10389 closed

[2017-10-01 11:09] nox commented on #10386
Cc @asajeffrey

[2017-10-01 11:10] nox commented on #10385
Is this something we want to do? Cc @pcwalton @glennw

[2017-10-01 11:11] nox commented on #10384
I will look into this.

[2017-10-01 11:11] nox commented on #10383
This is kinda related to #10381.

[2017-10-01 11:12] nox commented on #10381
The solution is to not have one additional thread per canvas.

[2017-10-01 11:13] nox commented on #10352
This can probably be salvaged in an `E-Easy` issue.

[2017-10-01 11:13] nox commented on #10322
is still happen?Does th

[2017-10-01 11:15] nox commented on #10316
I have a blank page loading the sample from the issue description.

[2017-10-01 11:16] nox commented on #10314
I fixed the initial value of `transition-property`, it was `none` even though it was supposed to be `none`.

[2017-10-01 11:16] #10314 closed

[2017-10-01 11:16] nox commented on #10313
This is still true.

[2017-10-01 11:18] nox commented on #10311
We still need to fix #11861 and #11863.

[2017-10-01 11:18] nox commented on #10309
Ping on this?

[2017-10-01 11:19] nox commented on #10306
This still happens.

[2017-10-01 11:19] nox commented on #10274
This is still true.

[2017-10-01 11:25] nox commented on #10622
Cc @emilio

[2017-10-01 11:26] jdm commented on #10144
I still believe that it's a good idea.

[2017-10-01 11:28] jdm commented on #10460
I do not believe so.

[2017-10-01 11:28] jdm commented on #10418
It's still something that is worth considering.

[2017-10-01 11:31] nox commented on #10588
Closing for inactivity.

[2017-10-01 11:31] #10588 closed

[2017-10-01 11:32] nox commented on #10584
This still happens.

[2017-10-01 11:33] nox commented on #10549
Closing again, hah.

[2017-10-01 11:33] #10549 closed

[2017-10-01 11:35] nox commented on #10532
This looks ok now.

[2017-10-01 11:35] #10532 closed

[2017-10-01 11:37] nox commented on #10521
This is still not done.

[2017-10-01 11:37] nox commented on #10520
Still to be done.

[2017-10-01 11:38] emilio commented on #18691
We implement the selector from selectors level 3, which didn't specify commas. I don't know if there's a tracking issue to update it though.

That code doesn't assume it is a valid identifier, but it escapes the string as such. That does look a bit fishy, though, since we accept strings. Seems like the serialization code should be doing the same as Gecko's, which always serializes as a string.

[2017-10-01 11:39] nox commented on #10511
This is `GlobalScope::get_url` now.

[2017-10-01 11:40] nox commented on #10487
Still not done.

[2017-10-01 11:41] nox commented on #10473
This test is still disabled.

[2017-10-01 11:41] nox commented on #10473
Oops.

[2017-10-01 11:41] emilio commented on #10385
I don't think this is an easy task at all. I think we have an OSMesa back-end to allow for software rendering, and could be used to get a framebuffer provided you build osmesa-src.

[2017-10-01 11:41] nox commented on #10468
@eddyb So was this resolved? Can I close this issue? What remains to do?

[2017-10-01 11:44] nox commented on #10464
This still happens.

[2017-10-01 11:45] nox commented on #10859
This test succeeds now.

[2017-10-01 11:45] #10859 closed

[2017-10-01 11:51] nox commented on #10783
I can't reproduce this.

[2017-10-01 11:51] #10783 closed

[2017-10-01 12:40] SimonSapin commented on #18691
In serialization, what matters most is that parsing again produces the same selector. So in this case we can use either a string or an identifier.

Thanks for looking into this @raphaelcohn, closing as I think there is nothing to change here. (Until we decide to implement Selectors Level 4.)

[2017-10-01 12:40] #18691 closed

[2017-10-01 12:54] SimonSapin commented on #10103
Not really. The status quo for us is 2.7 (which is not going away, even in 2020), and I think we should not spent too much time worrying about Python 3.

[2017-10-01 12:54] #10103 closed

[2017-10-01 13:16] jdm commented on #10401
Updating spidermonkey is still in progress. What sort of news are you looking for?

[2017-10-01 13:17] nox commented on #10401
@jdm Some sort of ETA for the SM upgrade, more or less.

[2017-10-01 13:21] jdm commented on #10401
Keep an eye on https://github.com/servo/mozjs/pull/119 and https://github.com/servo/servo/pull/17143.

[2017-10-01 14:02] nox commented on #11336
Pretty sure this kind of stuff is supposed to follow DOM too. Closing.

[2017-10-01 14:02] #11336 closed

[2017-10-01 14:02] nox commented on #11328
So this can be closed, right?

[2017-10-01 14:02] #11328 closed

[2017-10-01 14:03] nox commented on #11322
This test is still failing.

[2017-10-01 14:04] nox commented on #11316
I can't reproduce this anymore.

[2017-10-01 14:04] #11316 closed

[2017-10-01 14:05] nox commented on #11309
We made constellation panic way less, and the general motto for constellation is to panic there. I think this can be closed now.

[2017-10-01 14:05] #11309 closed

[2017-10-01 14:07] nox commented on #11305
I can't reproduce this anymore.

[2017-10-01 14:07] #11305 closed

[2017-10-01 14:07] nox commented on #11304
This still happens.

[2017-10-01 14:09] nox commented on #11300
This was fixed!

[2017-10-01 14:09] #11300 closed

[2017-10-01 14:10] nox commented on #11296
This still happens.

@jdm With your sample, it got worse: the window is blank.

[2017-10-01 14:10] nox commented on #11295
This still happens.

[2017-10-01 14:12] nox commented on #11285
This doesn't seem to happen anymore.

[2017-10-01 14:12] #11285 closed

[2017-10-01 14:13] nox commented on #11284
This was implemented.

[2017-10-01 14:13] #11284 closed

[2017-10-01 14:14] nox commented on #11281
Was this done?

[2017-10-01 14:15] nox commented on #11271
The naming is starting to get on my nerves. ><

[2017-10-01 14:16] nox commented on #11227
That was fixed a long time ago.

[2017-10-01 14:16] #11227 closed

[2017-10-01 14:17] nox commented on #11226
Let's close this then.

[2017-10-01 14:17] #11226 closed

[2017-10-01 14:17] nox commented on #11224
These warnings are no more.

[2017-10-01 14:17] #11224 closed

[2017-10-01 14:17] nox commented on #11202
I guess we can safely close this.

[2017-10-01 14:17] #11202 closed

[2017-10-01 14:18] nox commented on #11153
So, shall we do this?

[2017-10-01 14:18] nox commented on #11139
@jdm Does it still happen for you?

[2017-10-01 14:18] nox commented on #11138
@emilio Can we close this now?

[2017-10-01 14:19] nox commented on #11133
That module is long dead.

[2017-10-01 14:19] #11133 closed

[2017-10-01 14:19] nox commented on #11131
These are not things specific to the File API, so I think we can close this meta issue.

[2017-10-01 14:19] #11131 closed

[2017-10-01 14:19] nox commented on #11124
Is this still an issue?

[2017-10-01 14:20] jdm commented on #11281
It was not done.

[2017-10-01 14:22] nox commented on #10683
We have some types that have an `iter` method but don't even implement `IntoIterator`. I think that's a job better left to Clippy. Closing.

[2017-10-01 14:22] #10683 closed

[2017-10-01 14:22] jdm commented on #11139
Yes.

[2017-10-01 14:22] jdm commented on #11138
I'm pretty sure we still don't use a fast path on macOS.

[2017-10-01 14:23] nox commented on #10675
There are no `Date` in the WebIDL spec. Closing.

[2017-10-01 14:23] #10675 closed

[2017-10-01 14:40] paulrouget commented on #18685
@antoyo Servo uses http://github.com/servo/glutin - so I usually look at the initialization code there to guess what is needed. But afaik, we don't have a proper descriptions of the API and extensions needed.

@glennw I'm having issues on Android where I can't get to compile the shaders. Likely because I don't use the right OpenGL ES version (1.4 apparently).

[2017-10-01 15:03] bbansalWolfPack commented on #11124
Last year, when I posted this issue, we were able to solve and proceed ahead. Not sure, what is the scenario at this moment.

Hope that helps.

[2017-10-01 16:14] antrik commented on #10230
@nox images are not typically loaded from files though, right? If we ignore efficient file mapping, the task becomes rather trivial...

[2017-10-01 16:14] nox commented on #11559
@nnethercote How is this going?

[2017-10-01 16:15] nox commented on #10230
@antrik Oh right.

[2017-10-01 16:16] nox commented on #11528
Looks better now but still no perfect:

<img width="1136" alt="capture d ecran 2017-10-01 a 18 15 50" src="https://user-images.githubusercontent.com/123095/31056614-96f3c622-a6d4-11e7-804d-4193dfb8849d.png">

[2017-10-01 16:17] nox commented on #11518
This is still true.

[2017-10-01 16:18] nox commented on #11510
It looks correct now.

[2017-10-01 16:18] #11510 closed

[2017-10-01 16:18] nox commented on #11507
@emilio Is this still true? Should we close this?

[2017-10-01 16:20] nox commented on #11482
Is this still true? I can't find steps to reproduce in any of the related issues.

[2017-10-01 16:21] nox commented on #11464
I can't reproduce this anymore.

[2017-10-01 16:21] #11464 closed

[2017-10-01 16:22] nox commented on #11452
Is this still an issue?

[2017-10-01 16:22] yingying83 opened #18694 "http://www.fsz666.cn/"

[2017-10-01 16:24] nox commented on #11424
Servo now hangs indefinitely when I try to open the reduced test case.

[2017-10-01 17:09] mateon1 commented on #18690
Minified testcase:
[code]

[2017-10-01 19:15] jdm commented on #11452
Yes.

[2017-10-01 20:13] mitchhentges commented on #11482
I'm not sure, it's been a "little" bit since I saw this last haha.
If memory serves correctly, this should reproduce the issue (you might need to fenaggle the positioning of the fixed element):
[code]

[2017-10-01 20:38] mateon1 opened #18697 "SIGSEGV on stack overflow in PreorderFlowTraversal::traverse_absolute_flows"
[code]

[code]

[2017-10-01 21:02] emilio commented on #18697
@mateon1 kindly confirmed this only happens with `display: flex` or `display: -webkit-flex`.

[2017-10-01 21:08] mmatyas commented on #10045
Still failing on Ubuntu 16.04 and also on Solus 3 as of 2017-10-01, using the 64bit Linux build from servo.org

![kepernyokep_2017-10-01_23-06-31](https://user-images.githubusercontent.com/4354863/31058973-45322d50-a6fd-11e7-9861-db803d370491.png)

[2017-10-01 21:56] mateon1 commented on #18688
Whoops, I duplicated some work trying to independently reduce this issue.
Here's a minimal test case:
[code]

<details>
<summary>Stack trace for this testcase</summary>

[code]

</details>

[2017-10-01 22:08] Artoria2e5 commented on #10045
Probably nox's working report is caused by ja.wp somehow making a Japanese font the first (and only, for now) option. Make some other test cases to reopen it I guess?

[2017-10-01 22:33] jdm commented on #10045
Yeah, some links to reproduce the problem would be great.

[2017-10-01 22:35] #18694 closed

[2017-10-01 22:39] jdm commented on #11507
Still true: https://dxr.mozilla.org/servo/rev/65d9b345bb2a588f41b0d6cdca1aaca2c3c69205/components/script/dom/canvasrenderingcontext2d.rs#368-376

[2017-10-02 03:39] nnethercote commented on #11559
I am not working on this.

[2017-10-02 03:52] fabricedesre commented on #18685
@paulrouget : that was a while ago, but on Android using:
[code]
in a GLSurfaceView worked for me.

[2017-10-02 04:19] atouchet opened #18701 "Error when navigating to github.com/features"
Steps to reproduce:

1. Load https://github.com/
2. Click on Features from the GitHub homepage to load https://github.com/features
3. Servo runs into an error and says "Could not load the requested page: Unexpected scheme". This error does not occur if attempting to load https://github.com/features directly

I believe this is a recent regression as I did not run into this behaviour previously.

Te

[2017-10-02 07:20] nical commented on #9913
No idea. Considering there's no activity, let's close this and reopen or file an new issue if the problem occurs again.

[2017-10-02 07:20] #9913 closed

[2017-10-02 07:20] nox commented on #11172
Still true.

[2017-10-02 07:22] nox commented on #11170
Closing as duplicate of #3551.

[2017-10-02 07:22] #11170 closed

[2017-10-02 07:22] nox commented on #11167
What's the status on this?

[2017-10-02 07:24] nox commented on #11356
@Manishearth Does this still happen?

[2017-10-02 07:25] nox commented on #11342
This hasn't been done yet.

@jdm Maybe it could be made into an E-Easy issue?

[2017-10-02 07:26] nox commented on #11759
Closing as duplicate of #11970.

[2017-10-02 07:26] #11759 closed

[2017-10-02 07:27] nox commented on #11970
This was fixed, right?

[2017-10-02 07:27] #11970 closed

[2017-10-02 07:28] nox commented on #11753
This doesn't seem to happen anymore.

[2017-10-02 07:28] #11753 closed

[2017-10-02 07:29] nox commented on #11741
This still happens, but probably for different reasons than #10390 given there is no intensive usage of canvas in the HTML spec.

[2017-10-02 07:30] nox commented on #11741
For people wondering, the page we are talking about is https://html.spec.whatwg.org/.

[2017-10-02 07:30] #11714 closed

[2017-10-02 07:32] nox commented on #11659
This doesn't seem to happen anymore.

[2017-10-02 07:32] #11659 closed

[2017-10-02 07:33] nox commented on #11643
This doesn't happen anymore. I see the article content.

[2017-10-02 07:33] #11643 closed

[2017-10-02 07:34] nox commented on #11642
I cannot reproduce this anymore, be it on Wikipedia or the reduced test case.

[2017-10-02 07:34] #11642 closed

[2017-10-02 07:35] nox commented on #11625
Is this still an issue, or can it now be compiled on this system?

[2017-10-02 07:36] nox commented on #11602
I'm still not sure we do that. :)

[2017-10-02 07:37] nox commented on #11592
Instantaneous for me now.

[2017-10-02 07:37] #11592 closed

[2017-10-02 07:38] nox commented on #11577
This still is a thing.

[2017-10-02 07:43] nox commented on #11927
I can't reproduce this anymore.

[2017-10-02 07:44] Manishearth commented on #11356
haven't noticed this in a while

[2017-10-02 07:44] #11356 closed

[2017-10-02 07:47] nox commented on #11903
Is this still true?

[2017-10-02 07:49] nox commented on #11891
This was fixed.

[2017-10-02 07:49] #11891 closed

[2017-10-02 07:50] nox commented on #11888
Where is the code that should be changed, for that issue?

[2017-10-02 07:52] nox commented on #11874
The cert expired. Closing.

[2017-10-02 07:52] #11874 closed

[2017-10-02 07:52] nox commented on #11864
I can still reproduce this.

[2017-10-02 07:54] nox commented on #11861
@TheKK Are you still working on this?

[2017-10-02 08:01] nox commented on #12031
@larsbergstrom Is this something we want to do? Or should we close this issue?

[2017-10-02 08:07] jdm commented on #11888
https://github.com/servo/servo/blob/28b8f8eba5c77ffe4175dc6da1c56c87e0ae44d7/components/net_traits/pub_domains.rs

[2017-10-02 08:09] jdm commented on #11927
This still happens.

[2017-10-02 08:10] nox commented on #11842
I can see the results now.

[2017-10-02 08:10] #11842 closed

[2017-10-02 08:10] nox commented on #12019
I can't reproduce this anymore.

[2017-10-02 08:10] #12019 closed

[2017-10-02 08:13] nox commented on #12016
I cannot reproduce this anymore.

[2017-10-02 08:13] #12016 closed

[2017-10-02 08:14] nox commented on #12015
Is this still an issue?

[2017-10-02 08:14] nox commented on #12010
Closing as duplicate of #12009.

[2017-10-02 08:14] #12010 closed

[2017-10-02 08:15] nox commented on #12002
This doesn't freeze anymore.

[2017-10-02 08:15] #12002 closed

[2017-10-02 08:16] nox commented on #12000
I could not reproduce this either.

[2017-10-02 08:16] #12000 closed

[2017-10-02 08:17] nox commented on #11994
Closing as duplicate of #18673.

[2017-10-02 08:17] #11994 closed

[2017-10-02 08:18] nox commented on #11980
Cc @metajack who is doing stuff in this area.

[2017-10-02 08:19] nox commented on #11962
This is a known issue and this particular ticket is a bit confusing, I think it can be safely closed.

[2017-10-02 08:19] #11962 closed

[2017-10-02 08:20] ojab commented on #12015
Yep, reproducible on Fedora-26 w/ all updates and latest servo nightly.

[2017-10-02 08:21] nox commented on #11958
I can't seem to reproduce this anymore.

[2017-10-02 08:21] #11958 closed

[2017-10-02 08:25] nox commented on #11947
<img width="1058" alt="capture d ecran 2017-10-02 a 10 24 48" src="https://user-images.githubusercontent.com/123095/31069249-f0315e66-a75b-11e7-9a49-35e726684b8d.png">

[2017-10-02 08:25] #11947 closed

[2017-10-02 09:02] nox commented on #18701
It apparently got worse, on navigating to the features page I now hit a panic:

[code]

[2017-10-02 09:03] nox commented on #18697
This still happens.

[2017-10-02 09:45] jbeich commented on #11625
Probably not yet.
[code]

[2017-10-02 11:09] ocerman opened #18705 "Absolute position do not work within inline element"
![servo-pos](https://user-images.githubusercontent.com/10187350/31074778-87a3a702-a772-11e7-8c80-2728321c408a.png)

[code]

[2017-10-02 11:42] blacksvk opened #18706 "Absolute positioned images with padding do not have correct size"
![servo-imgsz](https://user-images.githubusercontent.com/10187350/31075783-7c68ac48-a777-11e7-8011-ee1188c3c013.png)
[code]

[2017-10-02 12:51] blacksvk opened #18707 "Top margin is ignored for inline-block elements when vertical-align is set to top"
![servo-vatop](https://user-images.githubusercontent.com/10187350/31078008-d5085d2c-a780-11e7-8bf4-1b4f78004afd.png)
[code]

[2017-10-02 12:59] jdm commented on #11625
I have filed https://github.com/servo/gaol/issues/38 to track that.

[2017-10-02 13:54] gterzian opened #18708 "WPT tests runner Python error"
When I run `./mach test-wpt tests/wpt/web-platform-tests/fetch/http-cache`

I get
[code]

removing the call to `itervalues` at https://github.com/servo/servo/blob/e13f5a656af682add10cdc41fb8e625c04b60347/tests/wpt/grouping_formatter.py#L108 fixed it for me locally. Seems like the data is now a list, and not a dict?

Is this worth a PR or I am just getting something wrong in my local setup?

[2017-10-02 13:55] jdm commented on #18708
It is definitely worth a PR.

[2017-10-02 14:29] mrobinson opened #18709 "WebRender does not support smooth scrolling"
This means that the scroll behavior is ignored when scrolling from script.

[2017-10-02 14:30] mrobinson commented on #18709
cc @glennw @kvark

[2017-10-02 15:02] jonathandturner commented on #11903
@nox - hard to tell, Facebook doesn't seem to be working anymore in the latest nightly.

[2017-10-02 15:14] asajeffrey commented on #6211
@nox: don't know. @glennw?

[2017-10-02 15:16] asajeffrey commented on #7677
@nox: I doubt it, our constellation and content code still have lots of dubious synchronization assumptions, sigh. @jgraham?

[2017-10-02 15:21] asajeffrey commented on #8079
We now have a summer 2018 intern project for this!

[2017-10-02 15:25] asajeffrey commented on #8732
This is the goal of https://github.com/asajeffrey/linjs we shall see if it scales to something the size of servo!

[2017-10-02 15:32] asajeffrey commented on #5237
@jdm: I think we can close this now?

[2017-10-02 15:36] asajeffrey commented on #4926
@jdm: is this still an issue?

[2017-10-02 15:39] asajeffrey commented on #5242
@jdm: we have postMessage, is there other communication you had in mind?

[2017-10-02 15:47] asajeffrey commented on #10004
At this point I think we're about as resilient as we can be; the constellation is hardened and we have crash reporting.

[2017-10-02 15:47] #10004 closed

[2017-10-02 16:06] asajeffrey commented on #10386
@jdm is this still an issue now that we have document unloading?

[2017-10-02 16:31] sr229 commented on #3893
I got a suggestion, why not we base from the firefox logo, combine the above proposal then have a Shibe "hug" the logo

[2017-10-02 16:39] metajack commented on #3893
Firefox designers already did this as a spoof icon for Firefox. http://i.imgur.com/7Ih60Gu.png

We'd like to keep our branding (such as it is) separate from Firefox.

[2017-10-02 16:57] mateon1 opened #18711 "attempt to multiply with overflow in texture_allocator on filter:blur with large radius"
This should be gracefully handled. Either use saturating multiplication, or detect the issue early.

This is caused by the same line as #18655, but with a different root cause.

[code]

[code]

[2017-10-02 17:00] jdm commented on #5242
Whoops, I guess not.

[2017-10-02 17:00] #5242 closed

[2017-10-02 17:01] jdm commented on #5237
Yeah, there's nothing particularly specific here.

[2017-10-02 17:01] #5237 closed

[2017-10-02 17:02] jdm commented on #6211
Let's just go ahead and close this until we can find some kind of testcase for it.

[2017-10-02 17:02] #6211 closed

[2017-10-02 17:10] jdm commented on #18711
cc @glennw

[2017-10-02 17:20] jdm commented on #10386
I'm not sure if I was referring to a test or implementation issue, but I think what we have now makes sense.

[2017-10-02 17:20] #10386 closed

[2017-10-02 17:20] jdm commented on #4926
I think not.

[2017-10-02 17:20] #4926 closed

[2017-10-02 17:37] nox commented on #11068
@emilio Is this still an issue?

[2017-10-02 17:38] nox commented on #11038
Is this still an issue, given we bumped Hyper etc?

[2017-10-02 17:39] nox commented on #10994
Was this done in the end?

[2017-10-02 17:40] jdm commented on #11038
Yes.

[2017-10-02 17:40] nox commented on #11003
This is still an issue.

[2017-10-02 17:44] jdm commented on #10994
No.

[2017-10-02 17:45] KiChjang commented on #11741
Wait a minute, wasn't this due to ipc-channel having a limited message size?

[2017-10-02 18:01] mateon1 opened #18713 "assertion failed: self.depth == 0"
Found with domato.

Note: The html file needs to be incomplete.
[code]

[code]

[2017-10-02 18:01] jdm commented on #11741
Yes: https://github.com/servo/ipc-channel/issues/98

[2017-10-02 18:04] jdm commented on #18713
@avadacatavra Would you like to look into this one?

[2017-10-02 18:07] seanmonstar commented on #11038
Related: https://github.com/hyperium/hyper/issues/1316

[2017-10-02 18:35] jdm opened #18715 "Intermittent pass in /html/semantics/embedded-content/media-elements/event_order_loadstart_progress.html and /html/semantics/embedded-content/media-elements/event_progress_noautoplay.html and /html/semantics/embedded-content/media-elements/networkState_during_progress.html, /html/semantics/embedded-content/media-elements/event_progress.html"
[code]

[2017-10-02 20:00] mateon1 opened #18717 "Can't allocate > MAX_VERTEX_TEXTURE_WIDTH per resource!"
Found with domato.
Possibly related: #17230

[code]

[code]

[2017-10-02 20:02] jdm commented on #18717
cc @glennw

[2017-10-02 20:08] KiChjang commented on #6905
I don't think I ever saw a spreadsheet or a website that tracks missing HTML/DOM features of servo.

[2017-10-02 21:34] KiChjang commented on #8426
cc @asajeffrey

[2017-10-02 22:03] asajeffrey commented on #8426
I'm not sure we ever really sorted out what the semantics of freezing is meant to be.

[2017-10-02 23:05] mateon1 opened #18718 "Font metrics: Index out of bounds: len is 0"
Found with domato.

[code]

Interesting DEBUG lines (especially negative numbers for advance: `average_advance: -1328321.0666666667px`, but that might not be an issue):
[code]

[code]

[2017-10-03 05:13] paulrouget commented on #18685
@fabricedesre thank you!

@glennw ideally, when starting WebRender, there would be a sanity check that would help embedders know if they setup something wrong.

[2017-10-03 05:15] paulrouget commented on #10322
Yes.

[2017-10-03 05:15] paulrouget commented on #10322
STR: run browserhtml, see if you get a `Received Tick when progress was Idle` message in stdout.

[2017-10-03 07:11] paulrouget commented on #3893
FYI, we use this logo for [ServoShell](github.com/paulrouget/servoshell):

![128x128-x2](https://user-images.githubusercontent.com/373579/31113722-db08785c-a81a-11e7-866e-5d29f225e658.png)

[2017-10-03 09:43] jdm opened #18723 "Intermittent PASS in /dom/events/EventListener-invoke-legacy.html"
[code]

[2017-10-03 10:30] mrobinson commented on #18701
I managed to capture a trace with debugging symbols:

[code]

[2017-10-03 10:36] mrobinson commented on #18701
I should have a PR for this in a little bit.

[2017-10-03 10:46] nox commented on #18723
@jdm The title doesn't correspond to the failure snippet.

[2017-10-03 10:57] nox commented on #14183
Closing as duplicate of #12072.

[2017-10-03 10:57] #14183 closed

[2017-10-03 10:57] nox commented on #14544
Closing as duplicate of #12072.

[2017-10-03 10:57] #14544 closed

[2017-10-03 10:58] nox commented on #13209
Closing as duplicate of #12072.

[2017-10-03 10:58] #13209 closed

[2017-10-03 10:59] nox commented on #12072
I can't reproduce this anymore.

[2017-10-03 10:59] #12072 closed

[2017-10-03 11:00] nox commented on #18277
Cc @cynicaldevil

[2017-10-03 14:30] paulrouget commented on #18685
Filed an issue for OpenGL ES: https://github.com/servo/webrender/issues/1795

[2017-10-03 14:30] Nattle opened #18727 "Resource exhaustion on iframe-heavy page"
See attached html. For reference, Firefox also has trouble with this page, hanging for 2-3 seconds after the page loads.

[crash.html.txt](https://github.com/servo/servo/files/1352624/crash.html.txt)

called `Result::unwrap()` on an `Err` value: RecvError
### URL:

### Servo Version:
Servo 0.0.1-e13f5a656a
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-03 14:42] jdm commented on #18727
This testcase contains 362 iframes, explaining why it's causing Servo to spawn ~700 threads when I load it.

[2017-10-03 14:53] jdm commented on #18727
Why close this issue? It's exposing a legitimate problem in Servo.

[2017-10-03 15:13] jdm commented on #18727
That being said, I have not been able to reproduce the panic yet in a debug build.

[2017-10-03 15:15] jdm commented on #18727
However, a release build hits:
[code]
and my process monitor says that Servo has spawned 2046 threads by that point. Fun stress test!

[2017-10-03 15:46] antoyo opened #18730 "Segfault in openssl"
Hello.
I managed to get a segfault in servo in its use of OpenSSL.
I made a [small change](https://github.com/antoyo/servoshell/commit/569e3cdd64b5985b85c5baf0e21d9f30e4d36e8b) to my [gtk binding](https://github.com/antoyo/servoshell) and it now causes a segfault.
Here's the backtrace from gdb:

[code]

If you want to try, the code is in the `segfault` branch and you must compile it with:

[code]

[2017-10-03 16:09] jdm commented on #18730
Can you install the debug symbols for your openssl package?

[2017-10-03 16:23] paulrouget opened #18731 "SSL error on Android: the handshake failed"
For any https:// page, a white page with the text "the handshake failed" is rendered instead of the expected page.

My guess is that i run into this: https://github.com/sfackler/rust-openssl/blob/67b5fd1c9750d3434adca8d700e265a5238de3be/openssl/src/ssl/error.rs#L85

Any idea what could go wrong? Maybe failing to load certificates?

[2017-10-03 16:25] #18701 closed

[2017-10-03 19:21] #18631 closed

[2017-10-03 19:45] antoyo commented on #18730
I tried with a debug version of openssl, but I get many errors like:

[code]

Actually, I found out it might be caused by the loop stopping too early, meaning that there's no more an event loop, but I'm not sure.
The following code does not cause the issue:

[code]

Would it help you if I was able to reproduce the issue on the upstream repository (in the glution version)?

[2017-10-03 20:25] paulrouget commented on #18730
Do it happen when you quit the app?
What does your event loop look like?

[2017-10-03 20:48] antoyo commented on #18730
It doesn't happen when I quit the app.
[Here's how the event loop look like.](https://github.com/antoyo/servoshell/blob/master/src/platform/gtk/app.rs#L271-L279)

By the way, it is not idiomatic to do that in gtk:
if I were to write a binding, I'd probably use another approach like sharing an `Rc<RefCell<Servo>>` between all the gtk callbacks.

[2017-10-03 21:36] mateon1 commented on #18628
Whoops, accidentally reduced this a second time, but this version seems nicer.
[code]

[2017-10-03 21:46] myfreeweb commented on #11625
First: since we have some issues with Rust itself…

- https://github.com/rust-lang/rust/issues/42681
- https://github.com/rust-lang/rust/issues/44433

…here's a working nightly Rust toolchain for FreeBSD 12-CURRENT: [rustc](https://unrelentingtech.s3.dualstack.eu-west-1.amazonaws.com/rust4current/rustc-nightly-x86_64-unknown-freebsd.tar.xz) [std](https://unrelentingtech.s3.dualstack.eu-west-1.amaz

[2017-10-03 22:16] UtherII commented on #10030
I just compiled a fresh Servo from git (with --release) and the problem still happens to me.
What kind of information do you need to further investigate the bug.

[2017-10-03 22:41] myfreeweb commented on #11625
That's just `mozjs` and I [fixed that one](https://github.com/servo/mozjs/pull/122/files#diff-a7b0a2dee0126cddf994326e705a91eaR52) ;)

[2017-10-03 22:45] myfreeweb commented on #11625
OHH YEAHHHH

![screen_2017-10-04-01 43 19](https://user-images.githubusercontent.com/208340/31152603-9517a210-a8a5-11e7-9d75-26e7e4410567.png)

[2017-10-03 22:51] valpackett commented on #11625
Pushed my WIP changes to servo itself to [my fork](https://github.com/valpackett/servo). Sandboxing doesn't work yet (need to `openat` resources like the UA stylesheet from a pre-opened folder fd instead of straight up `open`) — I'll work on that next. (Nevermind the `-S` in the screenshot, that was with a build of Gaol that does not `cap_enter`, for a moment I forgot I can just leave out the flag

[2017-10-03 23:10] dlrobertson commented on #11625
That is beautiful!

[2017-10-03 23:59] myfreeweb commented on #17232
This isn't related to Servo, this is a duplicate of https://github.com/rust-lang/rust/issues/44433

Also, Servo on FreeBSD only works since an hour ago, with my changes https://github.com/servo/servo/issues/11625 :)

[2017-10-04 02:24] hiikezoe commented on #18427
Happened on #18719 .
https://github.com/servo/servo/pull/18719#issuecomment-333992627

[2017-10-04 02:45] paulrouget commented on #18730
I don't know GTK, but if you don't wrap this:

[code]

… into a loop, the app exits early, right? Freeing object too early.

What do you mean by that?

[2017-10-04 03:41] paulrouget commented on #18479
I will be working on this. But first, I'm experimenting with embedding Servo in an Android app, and I also need to understand the impact of multiprocess and sandboxing.

[2017-10-04 05:57] upsuper opened #18739 "servo-windows-1 seems to be broken"
There have been multiple pull requests blocked by windows-msvc-dev which raises generic exception in servo-windows-1.

It seems the buildslave is [thinking](http://build.servo.org/buildslaves/servo-windows1) it's still on #18732 which had been merged 9hrs ago.

[2017-10-04 07:17] mateon1 opened #18740 "assertion failed: begin.index <= self.lines[begin.line].len()"
Found with domato

[code]

[code]

[2017-10-04 07:28] nox commented on #18427
Added it to #18715, which is still open.

[2017-10-04 07:29] nox commented on #18715
If we make our code set `have_metadata` to `true` if we get a `Ok(audio_video_metadata::Metadata::Audio(_))`, this should fix all these intermittent failures for real.

[2017-10-04 07:40] nox commented on #12065
I think we can close it, it's not actionable and we have been replacing the most infuriating `unwrap` calls since it was filed, AFAIK.

[2017-10-04 07:40] #12065 closed

[2017-10-04 07:41] nox commented on #12056
<img width="1136" alt="capture d ecran 2017-10-04 a 09 41 27" src="https://user-images.githubusercontent.com/123095/31164620-382f0456-a8e8-11e7-9890-d99b5ff5c11e.png">

[2017-10-04 07:41] #12056 closed

[2017-10-04 07:45] nox commented on #12055
Servo doesn't crash anymore, but high CPU usage is still here. The flag `show-parallel-layout` shows that there the page's layout is constantly redone, which may be why the CPU is going crazy.

[2017-10-04 07:46] nox commented on #12054
Is this still an issue?

[2017-10-04 07:49] nox commented on #12053
How come it fail with the GL context creation error if one uses `LIBGL_ALWAYS_SOFTWARE=1`?

[2017-10-04 07:51] nox commented on #12041
This does not hang anymore.

[2017-10-04 07:51] #12041 closed

[2017-10-04 07:52] nox commented on #12018
This does not crash anymore.

[2017-10-04 07:52] #12018 closed

[2017-10-04 07:52] nox commented on #12017
We updated openssl since then.

[2017-10-04 07:52] #12017 closed

[2017-10-04 07:53] nox commented on #13505
Closing as duplicate of #12009.

[2017-10-04 07:53] #13505 closed

[2017-10-04 07:57] nox commented on #12143
I can't reproduce the crash anymore, closing this in favour of #17267 for the replacement character issues.

[2017-10-04 07:57] #12143 closed

[2017-10-04 07:57] nox commented on #12139
Closing for inactivity.

[2017-10-04 07:57] #12139 closed

[2017-10-04 07:58] nox commented on #12132
WAIT, I DID THIS

<img width="1136" alt="capture d ecran 2017-10-04 a 09 58 25" src="https://user-images.githubusercontent.com/123095/31165235-9bdbdcfc-a8ea-11e7-8ef0-10b762706d29.png">

[2017-10-04 07:58] #12132 closed

[2017-10-04 08:01] nox commented on #12126
I don't think that's the issue at hand, otherwise the actual article would also be printed somewhere, no?

[2017-10-04 08:01] nox commented on #12126
Browsing the blog still reproduces this issue, btw.

[2017-10-04 08:01] nox commented on #12123
Should we even do this?

Cc @jdm

[2017-10-04 08:02] nox commented on #12122
I cannot reproduce this either. Closing.

[2017-10-04 08:02] #12122 closed

[2017-10-04 08:02] nox commented on #12121
Probably same issue as #12122. Closing.

[2017-10-04 08:02] #12121 closed

[2017-10-04 08:03] nox commented on #11961
I don't remember where the demos are so I can't reproduce it.

[2017-10-04 08:05] nox commented on #11941
Test case from https://github.com/servo/servo/issues/11941#issuecomment-229717743 still behaves weirdly.

[2017-10-04 08:07] nox commented on #11936
I assume this doesn't happen anymore and something weird in DDG itself was going on. See https://github.com/duckduckgo/duckduckgo/issues/214.

[2017-10-04 08:07] #11936 closed

[2017-10-04 08:08] nox commented on #12107
@Eijebong Think you could do a PR for that?

[2017-10-04 08:11] Eijebong commented on #12107
I'd have to try it again but yeah, sure. I'll do it tomorrow unless someone else wants to do it :p

[2017-10-04 08:11] nox commented on #12102
So, should we do this or not?

[2017-10-04 08:13] nox commented on #18164
Closing as duplicate of #12105.

[2017-10-04 08:13] nox commented on #12105
See manual test case in https://github.com/servo/servo/issues/18164#issuecomment-328722355.

[2017-10-04 08:14] nox commented on #12104
I can still scroll when making the window too small.

[2017-10-04 08:14] #12104 closed

[2017-10-04 08:15] nox commented on #12097
This is still true.

[2017-10-04 08:16] nox commented on #12093
Looks better now but still not perfect.

<img width="1136" alt="capture d ecran 2017-10-04 a 10 15 44" src="https://user-images.githubusercontent.com/123095/31165883-00cb8a66-a8ed-11e7-89d2-01be549f2f38.png">

[2017-10-04 08:16] nox commented on #12091
<img width="263" alt="capture d ecran 2017-10-04 a 10 16 25" src="https://user-images.githubusercontent.com/123095/31165920-18db5370-a8ed-11e7-8955-9892e838889f.png">

[2017-10-04 08:16] #12091 closed

[2017-10-04 08:17] nox commented on #12085
[code]

[2017-10-04 08:19] nox commented on #12079
I hit https://github.com/servo/servo/issues/18298 after a while, but I can't reproduce that parser-related panic. Closing.

[2017-10-04 08:19] #12079 closed

[2017-10-04 08:21] nox commented on #12077
I can still reproduce this.

[2017-10-04 08:22] nox commented on #12075
I can't reproduce this on either website.

[2017-10-04 08:22] #12075 closed

[2017-10-04 08:38] jdm commented on #18164
I'm not convinced this is a duplicate yet.

[2017-10-04 08:41] jdm commented on #12102
I don't think it's something that we're going to invest time in creating. I imagine we would accept PRs that caused us to generate flatpaks, but I don't think we need to track that work in our issue tracker.

[2017-10-04 08:41] #12102 closed

[2017-10-04 08:45] jdm commented on #11961
https://cdn.rawgit.com/servo/servo.org/gh-pages/bhtml-newtab/newtab.html

[2017-10-04 08:46] jdm commented on #12121
#12122 is an error report for a particular site. This is an error report for the browser.html error reporter, which belongs in https://github.com/browserhtml/browserhtml/issues instead.

[2017-10-04 08:47] jdm commented on #12123
Probably!

[2017-10-04 08:47] jdm commented on #12126
I bet this would be fixed by #17896.

[2017-10-04 08:53] jdm commented on #12053
I guess if the version of OSMesa present is too old or something?

[2017-10-04 08:57] jdm commented on #12031
In general we're not going to invest time in producing non-tar package until we want to start supporting non-nightly releases.

[2017-10-04 08:57] #12031 closed

[2017-10-04 09:00] nox commented on #12280
Is this still an issue?

[2017-10-04 09:02] nox commented on #12273
Is this still an issue?

[2017-10-04 09:57] nox commented on #16257
I whitelisted `woff2` in `FontFace::effective_sources` and https://elixir-lang.org still didn't use the correct font it was supposed to use. I conclude we don't support woff2 fonts.

[2017-10-04 10:37] nox commented on #12306
Not true anymore.

[2017-10-04 10:37] #12306 closed

[2017-10-04 10:39] nox commented on #12281
I can't reproduce this anymore.

[2017-10-04 10:39] #12281 closed

[2017-10-04 10:39] nox commented on #12229
I can't reproduce this.

[2017-10-04 10:39] #12229 closed

[2017-10-04 10:42] nox commented on #12253
Still blocked on #3551.

[2017-10-04 10:43] nox commented on #12215
I can't reproduce this anymore.

[2017-10-04 10:43] #12215 closed

[2017-10-04 10:44] nox commented on #12207
This doesn't happen anymore.

[2017-10-04 10:44] #12207 closed

[2017-10-04 10:45] nox commented on #12206
I can't seem to reproduce this and the DEVDAY website changed anyway.

[2017-10-04 10:45] #12206 closed

[2017-10-04 10:45] nox commented on #12198
This still happens.

[2017-10-04 10:46] nox commented on #12633
Closing as duplicate of #12192.

[2017-10-04 10:46] #12633 closed

[2017-10-04 10:46] nox commented on #14700
Does this still happen?

[2017-10-04 10:48] nox commented on #12187
I can confirm that `cmd-+` on macOS makes things zoom, but then I can't dezoom, and the console says:

[code]

[2017-10-04 10:49] nox commented on #12182
This does not panic for me.

[2017-10-04 10:49] #12182 closed

[2017-10-04 10:51] nox commented on #12180
Not borked anymore, but sidebar doesn't appear and scrolling doesn't work:

<img width="1392" alt="capture d ecran 2017-10-04 a 12 50 45" src="https://user-images.githubusercontent.com/123095/31172142-af3ce814-a902-11e7-9cab-b12eb5b36093.png">

[2017-10-04 10:51] nox commented on #12179
Does this still happen, @lqd?

[2017-10-04 10:53] nox commented on #12166
This works fine now.

[2017-10-04 10:53] #12166 closed

[2017-10-04 10:54] nox commented on #12162
@ema-fox Anything more to do about this?

[2017-10-04 10:54] nox commented on #12162
Ugh, what the hell was that completely wrong mention… I meant @emilio…

[2017-10-04 10:56] nox commented on #12157
That website doesn't respond anymore, so this isn't actionable anymore. Closing.

[2017-10-04 10:56] #12157 closed

[2017-10-04 10:57] nox commented on #12148
Scrolling now works, but doesn't go past "UEFI boot and runtime ser­vices".

[2017-10-04 10:59] nox commented on #12146
@jdm @metajack Is this something we should be working on? Should we close the issue?

[2017-10-04 10:59] nox commented on #12131
This was fixed a while ago.

[2017-10-04 10:59] #12131 closed

[2017-10-04 11:00] nox commented on #12414
This was done, AFAIR.

[2017-10-04 11:00] #12414 closed

[2017-10-04 11:00] nox commented on #16653
This was done.

[2017-10-04 11:00] #16653 closed

[2017-10-04 11:01] nox commented on #12474
This is still true.

[2017-10-04 11:01] nox commented on #12474
Cc @asajeffrey who is working on this.

[2017-10-04 11:02] nox commented on #12460
@jdm Should we have some CI stuff that logs these somewhere?

[2017-10-04 11:02] nox commented on #12456
Does this still happen? Where is the demo?

[2017-10-04 11:03] nox commented on #12462
I can't find any of these function names anymore in the tree. Closing.

[2017-10-04 11:03] #12462 closed

[2017-10-04 11:03] nox commented on #12453
How fare are we on this?

[2017-10-04 11:04] nox commented on #12439
This is still still true.

[2017-10-04 11:05] nox commented on #12433
Do we really need this, now we have docs.rs?

[2017-10-04 11:05] nox commented on #12433
Let's close it.

[2017-10-04 11:05] #12433 closed

[2017-10-04 11:05] nox commented on #12417
@w-barath Does it still happen for you?

[2017-10-04 11:05] Eijebong commented on #15724
Apparently I never finished this, sorry...

bitflags 1.0 is out though so I'll try doing that instead

[2017-10-04 11:06] nox commented on #12399
Does this still happen?

[2017-10-04 11:07] nox commented on #12362
Layout is now correct, but scrolling does nothing.

[2017-10-04 11:08] nox commented on #12356
@VidushiVashishth Did you find a way to build it in the end?

[2017-10-04 11:12] nox commented on #12354
This still seems to be an issue.

[2017-10-04 11:13] nox commented on #12351
I can't reproduce this anymore.

[2017-10-04 11:13] #12351 closed

[2017-10-04 11:14] nox commented on #12337
@mrmiywj Does this still happen?

[2017-10-04 11:14] nox commented on #12337
In general, there is not much we can do for build errors due to lack of RAM, closing for now.

[2017-10-04 11:14] #12337 closed

[2017-10-04 11:15] nox commented on #12331
This does not happen anymore.

[2017-10-04 11:15] #12331 closed

[2017-10-04 11:15] nox commented on #12326
@jdm Is this still an issue?

[2017-10-04 11:16] nox commented on #12321
That was fixed, AFAICT.

[2017-10-04 11:16] #12321 closed

[2017-10-04 11:18] nox commented on #12609
#18161 is a PR for that.

[2017-10-04 11:18] nox commented on #15781
This was done.

[2017-10-04 11:18] nox commented on #15781
This was done.

[2017-10-04 11:18] #15781 closed

[2017-10-04 11:18] nox commented on #12600
@jdm Should we also close that one?

[2017-10-04 11:19] nox commented on #12591
@emilio What's the status on this?

[2017-10-04 11:20] nox commented on #12590
This still doesn't work.

[2017-10-04 11:21] nox commented on #12584
That doesn't seem like an actionable issue. Closing.

[2017-10-04 11:21] #12584 closed

[2017-10-04 11:22] nox commented on #12581
The situation on that regard could still be improved.

[2017-10-04 11:23] nox commented on #12532
Was any progress made with this?

[2017-10-04 11:23] nox commented on #12519
@sole Does it still happen?

[2017-10-04 11:25] nox commented on #12503
We have bindings for those now.

[2017-10-04 11:26] nox commented on #12489
@jdm We could use `write!`.

[2017-10-04 11:26] nox commented on #12486
I'm pretty sure this doesn't happen anymore.

[2017-10-04 11:26] #12486 closed

[2017-10-04 11:26] nox commented on #12485
Was this done?

[2017-10-04 11:27] nox commented on #12478
Both work now.

[2017-10-04 11:27] #12478 closed

[2017-10-04 11:28] nox commented on #12477
@doanga2007 What do you mean by "long times"?

[2017-10-04 11:37] lqd commented on #12179
Tried it again n the same computer/gpu, using the latest packaged nightly (Servo 0.0.1-82cc22f), but on osx 10.12.6 this time: neither of those 2 links crash anymore :)

[2017-10-04 11:38] nox commented on #12179
Nice! Closing.

[2017-10-04 11:38] #12179 closed

[2017-10-04 11:54] Eijebong commented on #15724
- [ ] https://github.com/asajeffrey/swapper once  https://github.com/budziq/rust-skeptic/issues/60 Once this is fixed (this will remove servo's dependency on pulldown-cmark, which right now still uses bitflags 0.5)

[2017-10-04 12:07] nox commented on #15724
@Eijebong https://github.com/asajeffrey/swapper/pull/3

[2017-10-04 12:17] kilobyte commented on #12143
It's likely the crash is not fixed, merely covered by the other bug.  But yeah, Servo's codebase has changed a lot since the report, if the problem is still there we can reopen then.

That test file is worth keeping, even if it doesn't include any combining character tests.

[2017-10-04 12:19] sviter opened #18744 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
https://support.google.com/
### Servo Version:
Servo 0.0.1-4d95e2c
### Backtrace:
[code]

[2017-10-04 12:35] jdm commented on #17267
https://angband.pl/doc/alluni.txt is another useful test.

[2017-10-04 12:40] jdm commented on #12532
No.

[2017-10-04 12:51] sviter commented on #18403
Also https://www.insp3ct.re/blog/blockchain-security-reference-guide/

[2017-10-04 13:05] jdm commented on #12600
Yeah, I don't see any reason to track this work.

[2017-10-04 13:05] #12600 closed

[2017-10-04 13:07] jdm commented on #12460
I don't think that would end up being useful.

[2017-10-04 13:41] jdm commented on #18744
I have not been able to reproduce this on macOS yet.

[2017-10-04 14:27] metajack commented on #12146
We need to rewrite the CEF bindings on top of libservo, if @paulrouget hasn't done that already. And then we'd ship a `.so` that implemented the CEF API.

[2017-10-04 15:38] jdm opened #18748 "Intermittent error in /html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/no-transferring.html"
[code]

[2017-10-04 15:48] jdm opened #18749 "Automate bidirectional syncing for web-platform-tests"
Syncing changes from upstream web-platform-tests to Servo:
* [x] https://github.com/servo/servo/pull/18726 (script to fetch all changes from upstream and open a PR)
* [x] https://github.com/servo/saltfs/pull/728 (scheduler to run the script every 24 hours)

Syncing changes from Servo to upstream web-platform-tests:
* [ ] review https://github.com/servo-automation/upstream-wpt-sync-webhook (webhook

[2017-10-04 15:48] highfive commented on #18749
cc @aneeshusa

[2017-10-04 17:11] nox commented on #12262
Was there any progress on that?

[2017-10-04 17:12] nox commented on #12192
Does this still happen?

[2017-10-04 17:13] nox commented on #12611
We have `./mach clean-nightlies` now.

[2017-10-04 17:13] #12611 closed

[2017-10-04 17:14] nox commented on #12604
This is still an issue.

[2017-10-04 17:16] nox commented on #12460
@jdm So should we close this maybe? I don't know if we even actually used that flag for Stylo, or if we just relied on profiling.

[2017-10-04 17:18] nox commented on #12710
The bugzilla ticket was closed, so I assume this was done.

[2017-10-04 17:18] #12710 closed

[2017-10-04 17:19] nox commented on #12709
We'll not forget that `font-rs` exists, but there is no one working on such a switch currently nor anytime soon. Closing for now.

[2017-10-04 17:19] #12709 closed

[2017-10-04 17:20] nox commented on #12698
Window corners are round now, right?

[2017-10-04 17:20] nox commented on #12697
Was this fixed?

[2017-10-04 17:21] nox commented on #12696
<img width="1136" alt="capture d ecran 2017-10-04 a 19 21 15" src="https://user-images.githubusercontent.com/123095/31189671-353a304e-a939-11e7-9e91-5e6286d57341.png">

[2017-10-04 17:22] nox commented on #12695
We still have many bunnies.

[2017-10-04 17:23] nox commented on #12693
@jdm This is still true right? Where is the code for that?

[2017-10-04 17:23] retep998 commented on #12695
🐇🐇🐇

[2017-10-04 17:23] nox commented on #12686
@eliasp Does this still fail?

[2017-10-04 17:24] nox commented on #12675
Was this done, in the end?

[2017-10-04 17:24] nox commented on #12675
Never mind… #18266.

[2017-10-04 17:26] nox commented on #12673
We regularly add missing requirements and steps when there are build failures filed here and we found out there was a missing dependency. This issue itself isn't very actionable because I don't know when it can be considered fixed. Closing it.

[2017-10-04 17:26] #12673 closed

[2017-10-04 17:28] nox commented on #12665
http://testthewebforward.org seems to have documentation now.

@jdm Can we close this?

[2017-10-04 17:29] nox commented on #12647
@larsbergstrom Was this done?

[2017-10-04 18:02] jrmuizel commented on #12697
Seems so.

[2017-10-04 18:02] #12697 closed

[2017-10-04 18:15] antoyo commented on #18730
Indeed, the event loop is stopped early.
But I believe it should not segfault because it is safe code.

I mean that we do not manage events like that in GTK.
For one, this causes 100% CPU utilization.
In GTK, events are handled through callback functions.

[2017-10-04 18:28] gsnedders commented on #12695
This should be resolved when #16175 is fixed (they're gone upstream).

[2017-10-04 20:39] notriddle commented on #4577
https://github.com/notriddle/rust-content-security-policy

[2017-10-04 22:21] nox commented on #12644
It doesn't seem to panic anymore but CPU goes 100% and nothing shows up.

[2017-10-04 22:22] nox commented on #12641
@asajeffrey This issue can probably be made into a E-Easy one.

[2017-10-04 22:23] nox commented on #12614
The two unchecked methods have step annotations now.

[2017-10-04 22:23] #12614 closed

[2017-10-04 22:26] nox commented on #12836
The sample is gone.

[2017-10-04 22:28] nox commented on #12808
What's missing here?

[2017-10-04 22:30] nox commented on #12746
It's used now.

[2017-10-04 22:30] #12746 closed

[2017-10-04 22:30] nox commented on #12771
This has been done after I pushed a rustup on master in a moment of complete confusion. Teehee.

[2017-10-04 22:30] #12771 closed

[2017-10-04 22:32] nox commented on #12758
@emilio Was this done?

[2017-10-04 22:33] nox commented on #12747
@emilio @SimonSapin Was this fixed?

[2017-10-04 22:33] nox commented on #12747
I'm dumb, there is a demo. It's fixed.

[2017-10-04 22:33] #12747 closed

[2017-10-04 22:34] nox commented on #12745
This is still not implemented.

[2017-10-04 22:34] nox commented on #12730
Seems like this is ok to close now.

[2017-10-04 22:34] #12730 closed

[2017-10-04 22:35] nox commented on #12727
@asajeffrey Any progress or idea on this?

[2017-10-04 22:36] nox commented on #12975
@stshine Are you still working on this?

[2017-10-04 22:37] nox commented on #12972
I think we are going to need this in some sort pretty soon for the media stack.

[2017-10-04 22:39] nox commented on #12923
This works now.

[2017-10-04 22:39] #12923 closed

[2017-10-04 22:40] KiChjang commented on #18749
When an open PR receives new changes, does the upstream-wpt-sync-webhook correctly handle force pushes, and do they count as changes?

[2017-10-04 22:40] nox commented on #12919
@artptr Is this fixed now?

[2017-10-04 22:41] nox commented on #12908
Is there any news on this?

[2017-10-04 22:42] jdm commented on #12972
Good thing that #18676 is chugging right along!

[2017-10-04 22:42] nox commented on #12894
The Rust issue was closed and @larsbergstrom sounded satisfied in it. Does Servo make use of the flag now?

[2017-10-04 22:44] nox commented on #12892
~20fps or so here.

[2017-10-04 22:45] nox commented on #12883
Sample is gone.

[2017-10-04 22:46] metajack commented on #12883
@jrmuizel Do you have an archive of the sample?

[2017-10-04 22:46] nox commented on #12876
Nothing even resizes anymore for me.

[2017-10-04 22:58] jdm commented on #12456
https://cdn.rawgit.com/servo/servo.org/gh-pages/bhtml-newtab/webrender-demos/evil_ad/physics/with-ad.html

[2017-10-04 22:58] nox commented on #13143
<img width="302" alt="capture d ecran 2017-10-05 a 00 58 20" src="https://user-images.githubusercontent.com/123095/31203640-4f0ea67e-a968-11e7-8db6-995b3ea052f7.png">

Better but still incorrect.

[2017-10-04 22:59] jdm commented on #12453
Lots more flexbox work required.

[2017-10-04 23:00] nox commented on #13142
Closing as duplicate of #7681.

[2017-10-04 23:00] #13142 closed

[2017-10-04 23:01] jdm commented on #12326
Yes. I plan to investigate it after #16175.

[2017-10-04 23:01] nox commented on #13140
What remains for this? Is this done? We do have scrollbars AFAIK now, but what is the scope of that issue?

[2017-10-04 23:01] nox commented on #13119
@emilio This is fixed thanks to the stylo effort, right?

[2017-10-04 23:01] nox commented on #13118
`./mach check` is a thing now.

[2017-10-04 23:01] #13118 closed

[2017-10-04 23:02] nox commented on #13105
This is still true.

[2017-10-04 23:02] jdm commented on #12474
I don't see any reason to leave this particular issue open. Specific testcases are more useful.

[2017-10-04 23:02] #12474 closed

[2017-10-04 23:03] nox commented on #13103
Should we be producing output that can be fed to perf.html instead now?

[2017-10-04 23:03] nox commented on #13088
Sample is gone.

[2017-10-04 23:04] nox commented on #13084
This still happens.

[2017-10-04 23:04] nox commented on #13080
Does this still happen?

[2017-10-04 23:05] jdm commented on #13103
Same problem about tracing vs. sampling, but yes.

[2017-10-04 23:10] nox commented on #12995
This is still true.

[2017-10-04 23:10] jdm commented on #12262
Only on mac. Nothing on other platforms or the website.

[2017-10-04 23:10] nox commented on #12988
How far are we from getting this?

[2017-10-04 23:12] nox commented on #13264
@jmr0 Are you still looking into this?

[2017-10-04 23:12] jdm commented on #12460
Yeah, let's close it.

[2017-10-04 23:12] #12460 closed

[2017-10-04 23:13] nox commented on #13253
Seems like this can be closed now.

[2017-10-04 23:13] #13253 closed

[2017-10-04 23:14] jdm commented on #18749
Yes.

[2017-10-04 23:15] jdm commented on #12698
They are.

[2017-10-04 23:15] #12698 closed

[2017-10-04 23:15] jdm commented on #12192
I can't reproduce it.

[2017-10-04 23:16] paulrouget commented on #18730
I don't know what the segfault is about. I agree that shutting down servo should not make libopenssl segfault.

I don't know GTK much. But isn't that because of your `if`?
`events_pending` is not blocking.
`main_iteration` is.
So it loops full speed.

Aren't you supposed to do:

[code]

… which, I imagine, is what `gtk::main()` does.

This callback system is based on an event loop.
That's true for

[2017-10-04 23:17] Permutatrix commented on #13143
That is a lot better. It seems the "XYZ" is shifted one pixel down.

When I change the border width, the vertical shift of the "XYZ" changes to match—removing the border eliminates the disparity.

[2017-10-04 23:17] nox commented on #13239
Is it the test or the spec or the code that should change?

[2017-10-04 23:18] nox commented on #12192
Closing it, then.

[2017-10-04 23:18] #12192 closed

[2017-10-04 23:18] jdm commented on #12693
https://github.com/servo/servo/blob/3f07cfec7c6e1b0398229cf308b752a060031ac3/components/constellation/constellation.rs#L2565-L2676

[2017-10-04 23:19] nox commented on #13236
We have codegen for `ArrayBuffer` now, right?

[2017-10-04 23:19] jdm commented on #13236
No codegen support yet.

[2017-10-04 23:20] nox commented on #13232
@SimonSapin Are we supposed to switch to `encoding_rs`?

[2017-10-04 23:21] jdm commented on #12665
I don't see the wpt-server documentation linked anywhere from testthewebforward.org, and our own documentation doesn't link to it either.

[2017-10-04 23:23] #12836 closed

[2017-10-04 23:25] jdm commented on #12808
Nothing.

[2017-10-04 23:25] #12808 closed

[2017-10-04 23:28] jdm commented on #12727
This could tie in with #10144.

[2017-10-04 23:38] paulrouget commented on #12146
CEF has been updated to comply to all the changes we made to libservo.
I haven't tested if it still works. It compiles though.

[2017-10-04 23:48] gzunino commented on #12146
I would be great if there is a servo .so for embedding as a drop in replacement for CEF (chromium). There are many projects out there using CEF which could start testing it. Me (https://github.com/maketechnology/cefswt) being one.

[2017-10-04 23:53] paulrouget commented on #12146
In theory, `./mach build-cef` does that.

[2017-10-05 01:04] ariasuni commented on #12399
This doesn’t happen anymore with the Servo nightly available at <https://download.servo.org/>.

[2017-10-05 01:14] paulrouget commented on #5394
We shipped the first alpha of browserhtml we are planning to move away from the Browser API. Closing.

[2017-10-05 01:14] #5394 closed

[2017-10-05 01:14] paulrouget commented on #8547
We shipped the first alpha of browserhtml we are planning to move away from the Browser API. Closing.

[2017-10-05 01:14] #8547 closed

[2017-10-05 01:14] paulrouget commented on #13264
We shipped the first alpha of browserhtml we are planning to move away from the Browser API. Closing.

[2017-10-05 01:14] #13264 closed

[2017-10-05 01:15] paulrouget commented on #13353
We shipped the first alpha of browserhtml we are planning to move away from the Browser API. Closing.

[2017-10-05 01:15] #13353 closed

[2017-10-05 02:57] #12399 closed

[2017-10-05 03:17] paulrouget commented on #12647
I can start Servo on Android here. Assuming it's fixed.

[2017-10-05 03:17] #12647 closed

[2017-10-05 04:28] jrmuizel commented on #12883
I still have a copy. I'll put it up tomorrow.

[2017-10-05 07:29] nox commented on #13219
I didn't see this in ages.

[2017-10-05 07:29] #13219 closed

[2017-10-05 07:31] nox opened #18757 "Cursor does not change when hovering a clickable area from an image map"
Cursor should indicate that the doge's nose is a link on https://samuknet.github.io/test_cases/imageMap/. Follow-up of #13197.

[2017-10-05 07:32] nox commented on #13197
Clicking works, but there remains #18757.

[2017-10-05 07:32] #13197 closed

[2017-10-05 07:32] nox commented on #13207
This doesn't freeze anymore.

[2017-10-05 07:32] #13207 closed

[2017-10-05 07:36] nox commented on #13152
`/html/webappapis/scripting/events/invalid-uncompiled-raw-handler-compiled-late.html` still fails.

[2017-10-05 07:38] nox commented on #13326
Still true, page can't even scroll.

[2017-10-05 07:38] nox commented on #13348
That mozjs PR landed, closing.

[2017-10-05 07:38] #13348 closed

[2017-10-05 07:39] nox commented on #13318
This doesn't happen anymore.

[2017-10-05 07:39] #13318 closed

[2017-10-05 07:40] nox commented on #13308
Still not done.

[2017-10-05 07:41] nox commented on #13297
What's the "shadow check"?

[2017-10-05 07:42] nox commented on #13291
I can't reproduce this.

[2017-10-05 07:42] #13291 closed

[2017-10-05 07:42] nox commented on #13290
This still happens.

[2017-10-05 07:43] nox commented on #13285
I don't think this is much useful, and it looks weird to me to self-award ourselves with an arbitrary badge. Closing.

[2017-10-05 07:43] #13285 closed

[2017-10-05 07:44] nox commented on #13283
The WHATWG issue settled, we can now do this.

[2017-10-05 07:44] nox commented on #13282
This can probably be made into an E-Easy issue given we already have the infrastructure for cloning steps.

[2017-10-05 07:45] nox commented on #13274
I can't reproduce this anymore.

[2017-10-05 07:45] #13274 closed

[2017-10-05 07:46] nox commented on #13272
Let's say it doesn't.

[2017-10-05 07:46] #13272 closed

[2017-10-05 07:46] lorenzhs commented on #12056
The checkbox labels are still a bit off but this is much better. Thank you! :)

[2017-10-05 07:47] nox commented on #13497
I can't reproduce this anymore.

[2017-10-05 07:47] #13497 closed

[2017-10-05 07:48] nox commented on #13496
Non-WR isn't a thing anymore.

[2017-10-05 07:48] #13496 closed

[2017-10-05 07:49] nox commented on #13495
This still happens.

[2017-10-05 07:51] nox commented on #13465
We can just make `ToJSValConvertible` be `?Sized` if we really want to be able to support trait objects, no?

[2017-10-05 07:51] nox commented on #13465
Should this issue be closed? Not sure how it's actionable.

[2017-10-05 07:52] nox commented on #13464
Still happens, see `run_json_data_algorithm`.

[2017-10-05 07:53] nox commented on #13436
#13740 landed so that can be done, and probably be salvaged as an E-Easy issue.

[2017-10-05 07:54] nox commented on #13430
Any progress on this?

[2017-10-05 07:54] nox commented on #13429
Still true.

[2017-10-05 07:54] nox commented on #13403
`UnsafeNode` is gone.

[2017-10-05 07:54] #13403 closed

[2017-10-05 07:55] nox commented on #13400
@jdm Did the change ultimately land in our repo?

[2017-10-05 07:55] nox commented on #13399
This does not happen anymore.

[2017-10-05 07:55] #13399 closed

[2017-10-05 07:56] nox commented on #13381
This is the default when running multiple tests at once now. Should this be closed? Are you satisfied @jdm?

[2017-10-05 07:58] nox commented on #13379
This seems to work now.

[2017-10-05 07:58] #13379 closed

[2017-10-05 08:01] jdm commented on #13381
I think the default for individual tests should be changed.

[2017-10-05 08:01] nox commented on #13352
@saneyuki How far are we on this?

[2017-10-05 08:39] SimonSapin commented on #13232
I want to do that eventually, yes. I just hasn’t been pressing so far.

[2017-10-05 09:36] nox commented on #13654
This still happens.

[2017-10-05 09:36] nox commented on #13653
Was this done?

[2017-10-05 09:37] nox commented on #13635
This issue is not actionable and it seems @jdm did some patch already, closing.

[2017-10-05 09:37] #13635 closed

[2017-10-05 09:38] nox commented on #13618
Given that WR PR landed, I think we can close this.

[2017-10-05 09:38] #13618 closed

[2017-10-05 09:38] nox commented on #13606
This issue is not actionable, closing it. But someone could indeed answer your question. Cc @larsbergstrom.

[2017-10-05 09:38] #13606 closed

[2017-10-05 09:39] nox commented on #13557
Is this issue worth keeping open? Should we move the "review" part to the mailing-list maybe? AFAIK all but layout worklets have a implementation now (though 'Properties & Values' didn't land yet).

[2017-10-05 09:40] nox commented on #13547
This was done for Stylo.

[2017-10-05 09:40] #13547 closed

[2017-10-05 09:40] nox commented on #13546
@Manishearth Could you reply to @craftytrickster's question?

[2017-10-05 09:41] nox commented on #13536
I've repurposed the ticket accordingly.

[2017-10-05 09:43] nox commented on #13532
AFAIK this doesn't happen anymore.

[2017-10-05 09:43] #13532 closed

[2017-10-05 09:43] nox commented on #13510
Closing as duplicdate of #13970.

[2017-10-05 09:43] #13510 closed

[2017-10-05 09:45] nox commented on #13778
The sample is gone and many parsing improvements were done as part of Stylo, closing this.

[2017-10-05 09:45] #13778 closed

[2017-10-05 09:47] nox commented on #13773
Closing this for the same reason we closed all similar tickets. Feel free to make your own snap package and add references to this in a PR to `README.md`.

[2017-10-05 09:47] #13773 closed

[2017-10-05 09:47] nox commented on #13771
@bzbarsky Does this still happen?

[2017-10-05 09:48] nox commented on #13771
And does it still happen if you put `notify-command = "true"` in the `[tools]` section of your `.servobuild` config file?

[2017-10-05 09:49] nox commented on #13770
We are all aware that building Servo is very expensive, no need keeping this open.

[2017-10-05 09:49] nox commented on #13767
I'll need to look at the Blob URL registry for MSE, so I'll keep this in mind.

[2017-10-05 09:50] nox commented on #13752
@jrmuizel Sample is gone.

[2017-10-05 09:50] nox commented on #13749
Cc @avadacatavra

[2017-10-05 09:52] nox commented on #13748
Do other browsers even get meaningful details in these circumstances? I know @bzbarsky made me revert changes where I put more code outside of testharness wrappers recently, exactly because of such problems.

Should we close this issue?

[2017-10-05 09:52] nox commented on #13745
Seems like this can be closed.

[2017-10-05 09:52] #13745 closed

[2017-10-05 09:53] nox commented on #13726
Was this done?

[2017-10-05 09:53] nox commented on #13725
Was this done?

[2017-10-05 09:54] nox commented on #13718
What's the status on this? Someone should go through the code and check the boxes, if any.

[2017-10-05 09:54] nox commented on #13712
#13266 is fixed and original website doesn't exist anymore. Closing.

[2017-10-05 09:54] #13712 closed

[2017-10-05 09:55] nox commented on #13710
What's the status on this? @anholt Did your changes land in the end?

[2017-10-05 09:56] nox commented on #13702
We should either implement all of it or compile out the things we don't support in the parsing code.

[2017-10-05 09:56] nox commented on #13689
@shinglyu Can you still reproduce this?

[2017-10-05 09:57] nox commented on #13687
@jdm Was that fixed? Is it even still relevant?

[2017-10-05 09:58] highfive commented on #13687
cc @wafflespeanut

[2017-10-05 09:58] nox commented on #13683
This still happens.

@pcwalton Are you still working on this..?

[2017-10-05 09:59] nox commented on #13670
Media queries for `width` landed, we should list in this issue which queries remain to implement.

[2017-10-05 10:00] nox commented on #13928
Was this done? Where is the code? What should be changed? Can this be made into an E-Easy issue?

[2017-10-05 10:00] nox commented on #13925
`mask-image` is still Gecko-only.

[2017-10-05 10:01] wafflespeanut commented on #13687
We used to get `Too many open files` error in the Mac builders quite often in the past. I think Lars fixed this a while back. I don't recall seeing this in the recent failures.

[2017-10-05 10:01] nox commented on #13916
No pointers where added, closing.

[2017-10-05 10:01] #13916 closed

[2017-10-05 10:01] nox commented on #13687
Ok, closing.

[2017-10-05 10:36] sviter commented on #2773
Is it still happend?

[2017-10-05 11:22] gsnedders commented on #12963
@nox I'm still not opposed to it where SVG isn't being tested, but I'd suggest doing this against upstream once #16175 is resolved.

[2017-10-05 11:23] gsnedders commented on #15057
Given @jdm's comment, the CSS side of this will be resolved when #16175 is fixed.

[2017-10-05 11:36] jdm commented on #13653
No, hence why there are issues about being unable to create a GL context.

[2017-10-05 11:38] jdm commented on #13748
It would be worth seeing what output other browsers provide when running the test in the original comment.

[2017-10-05 11:41] jdm commented on #13687
We still see the same problems if you look at the output from the link.

[2017-10-05 11:44] jdm commented on #13557
Nobody has looked at the typed OM afaik.

[2017-10-05 11:45] highfive commented on #13687
cc @aneeshusa

[2017-10-05 11:46] nox commented on #13748
Us:

[code]

Them:

[code]

The root issue still seems unrelated to WPT, but that our reporting of uncaught exceptions in general is bad.

[2017-10-05 11:56] jdm commented on #13465
Yeah, no pressing need to fix this.

[2017-10-05 11:56] #13465 closed

[2017-10-05 11:57] jdm commented on #13430
No.

[2017-10-05 12:01] nox opened #18762 "Intermittent timeout in /html/semantics/tabular-data/processing-model-1/span-limits.html"
[code]

[2017-10-05 12:49] nox commented on #13625
AFAIK this doesn't happen anymore.

[2017-10-05 12:49] #13625 closed

[2017-10-05 12:52] nox commented on #13631
<img width="1136" alt="capture d ecran 2017-10-05 a 14 51 46" src="https://user-images.githubusercontent.com/123095/31228155-baa7a6be-a9dc-11e7-8c9b-ef438f842468.png">

[2017-10-05 12:53] nox commented on #13631
The caption is actually centred now, but the image bleeds out of its box.

[2017-10-05 12:54] nox commented on #13932
This still happens.

[2017-10-05 12:54] nox commented on #13932
@pcwalton What's wrong with the commit mentioned in this issue?

[2017-10-05 12:54] nox commented on #13921
@asajeffrey Any news on this?

[2017-10-05 12:57] nox commented on #13881
This does not crash anymore.

[2017-10-05 12:57] #13881 closed

[2017-10-05 12:58] nox commented on #13865
Did this change with the Stylo effort?

[2017-10-05 12:59] nox commented on #13858
This does not crash anymore.

[2017-10-05 12:59] #13858 closed

[2017-10-05 13:01] nox commented on #13819
Still happening.

[2017-10-05 13:01] nox commented on #13817
What is this about, and did it change with Stylo?

[2017-10-05 13:01] nox commented on #13779
What is this about, and did it change with Stylo?

[2017-10-05 13:02] nox commented on #13807
Closing as duplicate of #11424.

[2017-10-05 13:02] #13807 closed

[2017-10-05 13:04] nox commented on #13799
@paulrouget fixed his issue and updated the override instructions in the docs, I think this can safely be closed now.

[2017-10-05 13:04] #13799 closed

[2017-10-05 13:13] jdm commented on #13817
It is about our CSS unit tests - by default unexpected CSS parsing errors do not cause the tests to fail.

[2017-10-05 13:14] galvesribeiro commented on #13606
Sad that there is no interest from the core team to get it working on those devices... :(

[2017-10-05 13:20] nox commented on #13606
I'm pretty sure we would be happy helping along anyone who want to tackle this, it's just that none of us have the time to do it for now. I'm sure this will be revisited in the future.

[2017-10-05 13:21] SimonSapin commented on #13779
This is fixed, we do preserve the original string in `SpecifiedUrl` now.

[2017-10-05 13:21] #13779 closed

[2017-10-05 14:12] asajeffrey commented on #13557
I think we may as well keep this as the meta-bug for Houdini, perhaps editing the title?

I think @jyc was looking at typed OM? There's #18167, which is still open.

[2017-10-05 14:14] aethanyc commented on #13080
Yes. I still need to do `MOZCONIFG="" ./mach build -d` each time I build servo.

[2017-10-05 14:18] bzbarsky commented on #13771
This still happens.

However, it looks like Servo is not the only thing that can cause this to happen; some websites, when loaded in Firefox, also make it happen, sometimes.

This is a dual-GPU system; is it possible that the mere act of starting servo forces on the discrete GPU?

I'll test the notify-command thing.  I assume you mean the file in my servo srcdir?  Does that change require a rebuil

[2017-10-05 14:20] bzbarsky commented on #13770
The problem is not "expensive".   Compiling Firefox is "expensive" but doesn't lock up the computer like this.

The problem here is that the servo build process starts way, way more threads than there are hardware execution threads, which is broken.

[2017-10-05 14:24] nox commented on #13770
Seems like what you want is a better, tuned-down -j flag passed automatically without you having to remember passing it.

[2017-10-05 14:24] SimonSapin commented on #13770
Cargo now implements a "jobserver" compatible with GNU make to limit overall parallelism. (See `NUB_JOBS` in http://doc.crates.io/environment-variables.html) Does SpiderMonkey’s build system not pick up the relevant environment variable?

[2017-10-05 14:26] asajeffrey commented on #13921
AFAIK the spec issues are still unresolved, which makes it tricky to know what to implement. We could write a test for this, but I suspect it would be intermittent in servo, so we'd just have to ignore the result, not sure how much value that is adding :/

[2017-10-05 14:28] bzbarsky commented on #13748
For what it's worth, the issue with code outside test() throwing not reporting things well is always a harness bug.  It's just that harness bugs exist.  For Firefox, last I checked, it will correctly handle such exceptions when you first run a test, but not if you reload.....  By "correctly" I mean "show the nice harness failure output in the window".

As you say, this issue is more about exceptio

[2017-10-05 14:38] nox commented on #13770
http://logs.glob.uno/?c=mozilla%23servo&s=5+Oct+2017&e=5+Oct+2017#c763401

[2017-10-05 14:44] bzbarsky commented on #13770
This is not just a SpiderMonkey issue.  See initial description: even the pure-rustc section had a load average of 20 back when I filed this.

I'm testing this now with a current tip, just in case.  I get load averages of around 60 (on a 4-core, hyperthreading machine).  There are ~6 rustc live at a time, plus ~20 clang invocations spread across spidermonkey and osmesa.

[2017-10-05 15:12] bzbarsky commented on #13771
Yes, if I add that it still happens.

Note that unlike the website thing (which kinda focuses random stuff on random desktops, sometimes) starting Servo makes this happen _very_ reliably.  The actual behavior on tip is a bit different from my initial description, though.  The new behavior is:

* In step 2 servo comes up on space 1 (where I'm running it), then Spaces switches to the highest-number

[2017-10-05 15:19] tigercosmos commented on #18472
`image` update to `0.16.0`
`png` update to `0.10.0`
[code]
Case 1 failed:
http://en.blitzortung.org/Flags/eu.png
log is as same as above

Case 2 work:
https://ipfs.io/ipfs/QmaZWR9AGS5Ydvd2WHeL3W6igNv2t5j1BXjSTWTiVgRaEy/sky-poker.png
![image](https://user-images.githubusercontent.com/18013815/31235199-7054ee22-aa23-11e7-93da-e5f18db06335.png)

[2017-10-05 15:20] nox commented on #13771
Sounds like an XQuartz bug. Maybe we should file a bug there too?

[2017-10-05 15:24] nox commented on #13771
May be related: https://bugs.freedesktop.org/show_bug.cgi?id=93621

[2017-10-05 15:35] pcwalton commented on #13771
The problem here is that Servo is using the discrete GPU. The solution is to use an app bundle and put `NSSupportsAutomaticGraphicsSwitching=YES` in there. Let's start using https://github.com/burtonageo/cargo-bundle.

[2017-10-05 15:35] bzbarsky commented on #13771
OK, using https://gfx.io/ we have now determined the following:

1. Starting servo forces a switch to the discrete GPU.
2. Forcing either the discrete or the integrated GPU to be used all the time makes the problem go away.  So it's the GPU switch that does focus weirdness.

[2017-10-05 16:37] potocpav commented on #18472
The case 1 is close to being fixed, https://github.com/PistonDevelopers/inflate/pull/31. So, probably wait.

[2017-10-05 16:39] pcwalton commented on #13683
I think this will be easier to resolve with the reflow revamp @mbrubeck is experimentally working on.

[2017-10-05 17:06] anholt commented on #13928
Not done, unless someone else happened to since I was working on webgl.  I think this could be E-Easy, since the first half (updating the binding on servo's side) should be a couple of lines of code and a testcase.

[2017-10-05 17:08] anholt commented on #13710
My FBO support landed, so this issue exists (unless someone else has fixed it since then).

[2017-10-05 17:16] yarwelp commented on #17232
Thanks @myfreeweb. I'll close this issue then.

[2017-10-05 17:16] #17232 closed

[2017-10-05 17:26] antoyo commented on #18730
Well, the problem with this way of doing the event loop is not really the 100% CPU utilization.
The real problem is the modularity of the application.
Yes, I could fix the CPU utilization, but that would require calling `MainContext::wakeup()` everywhere.
And, yes, this callback system is based on event loop, but it provides abstractions over it to get better modularity.
By the way, there's no `gt

[2017-10-05 17:32] KiChjang commented on #13725
cc @emilio

[2017-10-05 18:10] tigercosmos commented on #13689
Maybe related to #18605 ?

[2017-10-05 20:49] Manishearth commented on #13546
@craftytrickster pretty much, yeah. Or the style crate would have its own `Color` which we create from `cssparser::Color`

[2017-10-05 21:54] jessstrap commented on #13653
I have not made any progress on this issue in the last.... year. :man_facepalming: If anyone else wants to work it, have at. (I'm not sure if it was ever officially assigned to me in the first place.)

[2017-10-06 01:14] paulrouget commented on #18730
Yes. But then Servo is not multiplatform and widget agnostic.

Agreed. But we want to keep libservo flexible and multiplatform. So there's no other way.
libservo will stay as low level as possible.

Integration with toolkits will happen in 3rd party libraries, where the widget-specifc code will hide the eventloop wiring.

[2017-10-06 01:15] paulrouget commented on #18730
We're side tracking :)

I'd be happy to continue the discussion about the API design. Let's move the discussion to issue #18479.

[2017-10-06 03:40] veer66 commented on #13088
I put a new url.

[2017-10-06 04:01] atouchet commented on #17941
Scrolling on this page no longer works.

[2017-10-06 04:27] atouchet opened #18768 "Cursor doesn't change to indicate window is resizable"
When using Servo with Browser.html the window is resizable but when moving the cursor to the edges of the window it doesn't change to indicate this. This was tested in Windows 10.

[2017-10-06 04:46] VidushiVashishth commented on #12356
@nox No I did not. Was thinking of switching to Linux.

[2017-10-06 04:46] atouchet opened #18769 "Some sites won't scroll to bottom of page"
Pages I have found with this issue:

https://duckduckgo.com/feedback
https://duckduckgo.com/html/?q=Servo&b=&kl=us-en
https://www.reddit.com/
https://servo.org/

Try to scroll to the bottom of the page. It will stop before hitting the bottom. I believe this is a somewhat recent regression.

Tested in Windows 10 with Browser.html.

[2017-10-06 05:53] sviter commented on #15211
Is it still valid?

[2017-10-06 05:58] upsuper commented on #15211
This has been fixed by #17940.

[2017-10-06 05:58] #15211 closed

[2017-10-06 06:04] sviter commented on #12881
url is not longer available

[2017-10-06 07:00] paulrouget commented on #18731
Here is the full error: error:04091068:rsa routines:INT_RSA_VERIFY:bad signature

[2017-10-06 07:11] paulrouget commented on #18731
In theory, all I need to do is to make sure that `resources/cert` is correctly loaded, right? We don't rely on the local certificates?

[2017-10-06 07:28] paulrouget commented on #18731
By local I mean, Servo doesn't need the Android CA files, right?

[2017-10-06 10:44] jdm commented on #18731
Correct.

[2017-10-06 11:46] nox commented on #12881
@jrmuizel Do you still have that sample somewhere?

[2017-10-06 11:47] nox commented on #13653
@jessstrap Ok thanks for the follow-up anyway!

[2017-10-06 12:15] nox commented on #14032
@Coder206 Does this still happen?

[2017-10-06 12:15] nox commented on #14031
@AgostonSzepessy @Coder206 Does it still happen for you?

[2017-10-06 12:19] nox commented on #14011
I'm not sure I understand what this issue is about. Could someone give more details so it starts making sense?

[2017-10-06 12:20] nox commented on #13993
@paulrouget Are you still working on this?

[2017-10-06 12:21] nox commented on #13970
Someone should check whether running these tests again still trigger the message.

[2017-10-06 12:21] nox commented on #13933
@emilio Do we still care about that, now that Stylo is one of the most battle-tested parts of Servo?

[2017-10-06 12:27] paulrouget commented on #13993
Not at the moment, still on my todo list though.
It's ok if someone wants to work on it, I'd be happy to help.

[2017-10-06 12:31] nox commented on #13982
This still happens.

[2017-10-06 12:32] nox commented on #13981
This does not panic anymore.

[2017-10-06 12:32] #13981 closed

[2017-10-06 12:48] Coder206 commented on #14031
@nox I haven't looked into this since my last comment. I can set up a VM with Fedora 26 (or 24) to see whether this still occurs.

[2017-10-06 12:49] Coder206 commented on #14032
@nox Let me spin up a new VM for Windows 10 Education/Home and see if I reproduce.

[2017-10-06 13:08] jdm commented on #13970
The error message does not exist in the source code any more. We made things like that non-fatal a while ago.

[2017-10-06 13:08] #13970 closed

[2017-10-06 14:18] jyc commented on #13557
Hi @asajeffrey! Sorry for the delay, I did not expect it to be so long. Interviewing for jobs and doing coding tests is taking up all of my time... I don’t think I’d be able to get to implementing Typed OM soon. I’d like to finish up addressing review comments for Properties & Values, but I won’t have the contiguous time for a couple weeks for the refactors that were requested.

[2017-10-06 14:30] asajeffrey commented on #13557
@jyc np, thanks for keeping us in the loop. Good luck with the job hunt!

[2017-10-06 14:54] jdm commented on #14011
There's nothing actionable here.

[2017-10-06 14:54] #14011 closed

[2017-10-06 15:12] Coder206 commented on #14032
@nox I am unable to reproduce this with the latest Windows

[2017-10-06 15:16] lord-re commented on #17403
I got the same issue here on gentoo.

[2017-10-06 15:16] nox commented on #14032
Cool! Closing it then.

[2017-10-06 15:16] #14032 closed

[2017-10-06 15:41] Coder206 commented on #14031
@nox I compiled Servo on both F24 and F26, `mach` does not hang.

[2017-10-06 15:42] nox commented on #14031
Nice! Thanks for trying! Closing.

[2017-10-06 15:42] #14031 closed

[2017-10-06 16:38] mateon1 opened #18770 "Glutin/headless mode wastes 100% of a CPU core polling for events"
As the title says.
I noticed this while trying to reduce a bug.
`./mach run -r -z about:blank` uses 100% of a single CPU core, while `./mach run -r about:blank` uses 0% when nothing is happening.

[Here's a flamegraph](https://ipfs.io/ipfs/QmdHsb4B9ZJSU5BQTeZCy9FKV4jDh3hnp5jUcTxxJPaE4j/glutin.svg) (Captured in debug mode, so the stacks make sense, but the same happens in release mode)

[2017-10-06 16:43] jdm commented on #18770
Window::handle_events returns an empty vector immediately when in headless mode: https://github.com/servo/servo/blob/7188b348587b06d31f939be99dcf73392c7f3def/ports/glutin/window.rs#L667-L699

[2017-10-06 17:08] mateon1 opened #18771 "Servo uses a lot of CPU when moving the mouse"
Even on about:blank, Servo can use 70% CPU (100% = 1 core) while moving the mouse. The cause of slowness seems to be `swrast_dri.so`, not Servo itself, but it won't hurt to report this here.

[Release mode flamegraph](https://ipfs.io/ipfs/QmUwni3Q2F6ywNkRzQva91Fv8TuzJy3M9TnaDYkzs6xNFx/mouse.svg)
[Debug mode flamegraph](https://ipfs.io/ipfs/QmTqGytAEKumFBgA4YWe64vAVP2BzDiucNDZorqrTpNEgV/mouse-debug

[2017-10-06 17:09] paulrouget commented on #18731
/cc @avadacatavra @larsbergstrom
I've been told you might be able to help me.

I'm not sure how to investigate this issue.

[2017-10-06 17:26] paulrouget commented on #18771
Happened before: https://github.com/servo/servo/issues/9999

[2017-10-06 17:27] paulrouget commented on #18770
Would blocking `wait_events` for 15ms do the trick?

[2017-10-06 17:38] KiChjang commented on #18771
Is this on debug or release mode?

[2017-10-06 17:43] Permutatrix commented on #13982
I've still got that branch with a fix, but it's still breaking tests. I always mean to keep working on it. :P

Should I open a PR with [WIP], perhaps?

[2017-10-06 20:54] mateon1 commented on #18771
@KiChjang Sorry for the late reply, this happens in release mode as well as debug mode (both flamegraphs are linked in the original comment).
It seems that most (~80% on release mode) CPU time is spent in "swrast_dri.so", which seems to be a mesa OpenGL driver.

[2017-10-06 21:04] mateon1 commented on #18770
@paulrouget
I think so. As a temporary measure while fuzzing, I inserted a thread::sleep() for one millisecond in Servo's main loop. It reduced the CPU usage to 0.7-1.3 for about:blank.
I believe sleeping in the main loop when wait_events() returns an empty Vec is a nice solution.

[code]

The duration can be something else, of course.
Should I make a PR?

[2017-10-07 07:54] paulrouget commented on #18770
Yes please. But make this change only for headless mode, here I think: https://github.com/servo/servo/blob/7188b348587b06d31f939be99dcf73392c7f3def/ports/glutin/window.rs#L667

[2017-10-07 09:08] sviter commented on #1007
Is it still valid?

[2017-10-07 09:11] sviter commented on #4517
Is it still valid?

[2017-10-07 09:12] sviter commented on #2269
Is it still valid?

[2017-10-07 09:18] nox commented on #13982
@Permutatrix If you open a PR, people can help you fix the breaking tests. But it's up to you either way!

[2017-10-07 09:21] nox commented on #14299
There is not much we can do about this one, given there is no URL nor anything else actionable. Closing.

[2017-10-07 09:21] #14299 closed

[2017-10-07 09:22] nox commented on #14305
Cc @avadacatavra

[2017-10-07 09:27] nox commented on #14301
* `many-draw-calls.html` and `mozbrowserlocationchange_event.html` are marked as timeout.
 * `reload.html` is an intermittent crash (#15988).
 * `mozbrowserlocationchange_event.html` is an intermittent crash (#14338).

No reason to keep this issue open.

[2017-10-07 09:27] #14301 closed

[2017-10-07 09:28] nox commented on #14264
[code]

This assertion is entirely gone. Closing.

[2017-10-07 09:28] #14264 closed

[2017-10-07 09:29] nox commented on #14263
@creativcoder Are you still working on this?

[2017-10-07 09:29] nox commented on #14258
Was any progress done on that?

[2017-10-07 09:30] nox commented on #14257
I don't think this has been an issue in the end. Closing.

[2017-10-07 09:30] #14257 closed

[2017-10-07 09:30] nox commented on #14240
@jrmuizel The sample is gone, do you still have it somewhere?

[2017-10-07 09:31] nox commented on #18288
Closing as duplicate of #14239.

[2017-10-07 09:31] #18288 closed

[2017-10-07 09:32] nox commented on #16923
Closing as duplicate of #14239.

[2017-10-07 09:32] #16923 closed

[2017-10-07 09:32] nox commented on #18082
@sviter That's an unrelated issue, see #14239.

[2017-10-07 09:39] nox commented on #14236
Still true, see code in `ElementPerformFullscreenEnter::run_once`.

[2017-10-07 09:40] nox commented on #14231
@emilio Was this fixed, in the end?

[2017-10-07 09:41] nox commented on #14231
FWIW I can't reproduce the panic anymore.

[2017-10-07 09:42] nox commented on #14230
It rends correctly now and CPU doesn't go 100%. Closing.

[2017-10-07 09:42] #14230 closed

[2017-10-07 09:43] nox commented on #14213
Original page doesn't panic anymore, and #14278 is supposed to have fixed the problem. Closing this.

[2017-10-07 09:43] #14213 closed

[2017-10-07 09:47] nox commented on #14203
@avadacatavra What's the status on this?

[2017-10-07 09:48] nox commented on #14182
That assertion is gone. Closing.

[code]

[2017-10-07 09:48] #14182 closed

[2017-10-07 09:48] nox commented on #14180
So is there anything to do here, or can we close this?

[2017-10-07 09:49] nox commented on #14176
Is there anything to do in this issue? Should it be repurposed in an issue that says we should decrease the binary size in general?

Cc @metajack

[2017-10-07 09:50] sviter commented on #12363
Is it still valid?

[2017-10-07 09:50] nox commented on #14109
@emilio Think you could give more details? Could this become an E-Easy issue?

[2017-10-07 09:52] nox commented on #14369
IMO this wiki page should just be killed, given how outdated it got.

Cc @emilio @bholley.

[2017-10-07 09:53] mateon1 commented on #14239
Minimal crashing testcase, found with domato:

[code]

[2017-10-07 09:53] nox commented on #14368
@asajeffrey Are you still working on this?

[2017-10-07 09:53] nox commented on #14364
@asajeffrey Are you still working on this?

[2017-10-07 09:54] nox commented on #14343
@mipko Did you ever made the local build and checked?

[2017-10-07 09:56] nox commented on #14336
Scrolling seems ok now, or at least not in any way more broken than elsewhere, thanks to #18769. Closing.

[2017-10-07 09:56] #14336 closed

[2017-10-07 09:57] nox commented on #14322
This was https://github.com/servo/servo/issues/13253#issuecomment-268873584. Closing.

[2017-10-07 09:57] #14322 closed

[2017-10-07 10:00] nox commented on #14511
Likely still true.

[2017-10-07 10:00] nox commented on #14506
Cc @avadacatavra

[2017-10-07 10:00] nox commented on #14505
Cc @avadacatavra

[2017-10-07 10:00] nox commented on #14504
[code]

[2017-10-07 10:00] #14504 closed

[2017-10-07 10:01] nox commented on #14503
Did we take a decision for this?

[2017-10-07 10:01] nox commented on #14476
Would be nice to get some progress on this.

[2017-10-07 10:02] nox commented on #15079
Detecting closed pipeline sounds like we should ping @asajeffrey.

[2017-10-07 10:03] nox commented on #14545
Domain is gone and there is a dozen issue with this title. Closing this one.

[2017-10-07 10:03] #14545 closed

[2017-10-07 10:04] nox commented on #14463
Website doesn't seem to panic anymore, closing.

[2017-10-07 10:04] #14463 closed

[2017-10-07 10:06] nox commented on #17064
Closing as duplicate of #14958.

[2017-10-07 10:06] #17064 closed

[2017-10-07 10:07] nox commented on #17116
Closing as duplicate of #17064.

[2017-10-07 10:07] #17116 closed

[2017-10-07 10:07] nox commented on #18082
Closing as duplicate of #17064.

[2017-10-07 10:07] #18082 closed

[2017-10-07 10:07] nox commented on #18082
Closing as duplicate of #17064.

[2017-10-07 10:09] nox commented on #14434
@asajeffrey Any progress on this?

[2017-10-07 10:10] nox commented on #14431
Seems like we have a decision to take as to the meaning of `--resolution`.

Cc @pcwalton @glennw

[2017-10-07 10:11] nox commented on #14427
https://github.com/servo/servo/issues/13970#issuecomment-334749671

[2017-10-07 10:11] #14427 closed

[2017-10-07 10:12] nox commented on #14419
Is this still relevant? Given much stuff changed around animations since last year.

[2017-10-07 10:13] nox commented on #14417
Seems like this could be made into an interesting mentored project, if anyone is willing to do that.

[2017-10-07 10:13] nox commented on #14417
Cc @emilio @jdm @Manishearth

[2017-10-07 10:13] paulrouget commented on #14176
Related: https://github.com/servo/servo/issues/18625

[2017-10-07 10:14] nox commented on #14415
First one is still laggy, second one doesn't even display the doges anymore. 😢

[2017-10-07 10:15] nox commented on #14402
CPU is still very high on this website.

[2017-10-07 10:17] nox commented on #14621
Both WR PRs landed a while ago. Closing it.

[2017-10-07 10:17] #14621 closed

[2017-10-07 10:18] nox commented on #14617
This is still true, the tests are still failing.

[2017-10-07 10:19] nox commented on #14616
It's not reset after unbinding because the spec doesn't say it should be reset. I reviewed most of that when doing parser changes and `document.write`, and I'm 99.44% sure this should not be done. Closing this issue.

[2017-10-07 10:19] #14616 closed

[2017-10-07 10:19] nox commented on #14585
[code]

[2017-10-07 10:20] nox commented on #14579
Stylo landed, so I'm pretty sure this can be closed safely.

[2017-10-07 10:20] #14579 closed

[2017-10-07 10:21] nox commented on #14562
I don't see `Dom<T>` (formerly `JS<T>`) becoming `Copy` any type soon, and since this issue was failed we made even more libstd-dogfooding types illegal in tidy. Closing this issue.

[2017-10-07 10:21] #14562 closed

[2017-10-07 10:23] nox commented on #14573
Just got that on https://github.com/servo/servo/issues/14585#issuecomment-334925113.

[2017-10-07 10:24] nox commented on #14555
Still some remaining. Could be made into an E-Easy issue.

[2017-10-07 10:25] nox commented on #14554
@sunjay Is this still an issue?

[2017-10-07 10:25] nox commented on #14543
Closing because #14553 was fixed.

[2017-10-07 10:25] #14543 closed

[2017-10-07 10:26] nox commented on #14542
I can't seem to reproduce this anymore.

[2017-10-07 10:26] #14542 closed

[2017-10-07 10:28] nox commented on #14541
I can still reproduce this.

[2017-10-07 10:29] nox commented on #14525
Closing as duplicate of #12054.

[2017-10-07 10:29] #14525 closed

[2017-10-07 10:29] nox commented on #14524
Do other UAs implement them?

[2017-10-07 10:31] nox commented on #14522
I've patched stuff in this code, and to me it is correct and there is nothing else to be done with this issue. Closing.

[2017-10-07 10:31] #14522 closed

[2017-10-07 10:33] nox commented on #14791
I think this is still true.

[2017-10-07 10:42] nox commented on #14782
I get a bunch of

[code]

[2017-10-07 10:43] nox commented on #14779
This still happens.

[2017-10-07 10:44] nox commented on #14774
This happened once, last year. Closing.

[2017-10-07 10:44] nox commented on #14773
@emilio Wasn't this done?

[2017-10-07 10:44] highfive commented on #14773
cc @emilio

[2017-10-07 10:47] nox commented on #14700
@bobthekingofegypt I'm closing this, feel free to comment here if it still happens for you.

[2017-10-07 10:47] #14700 closed

[2017-10-07 10:51] nox commented on #14750
It got slightly better:

<img width="401" alt="capture d ecran 2017-10-07 a 12 51 26" src="https://user-images.githubusercontent.com/123095/31307159-44158038-ab5e-11e7-9b34-6b1a6390532c.png">

[2017-10-07 10:52] nox commented on #14750
@DominoTree Are you still working on this?

[2017-10-07 10:54] nox commented on #14705
This issue isn't actionable. Either put more details in it or please close it down.

[2017-10-07 10:58] nox commented on #14704
So what do you plan to do here? This issue doesn't sound actionable except replying "yes" or "no".

[2017-10-07 10:58] nox commented on #14694
What are the "logging types"? Seems like this could be an E-Easy issue, care to give more details?

[2017-10-07 10:59] nox commented on #14692
If you wrote some more details, this issue could probably be E-Easy or E-Mentored.

[2017-10-07 10:59] nox commented on #14690
Was this done? If you specified all the renames you want, this could be E-Easy.

[2017-10-07 11:00] nox commented on #14683
Was this done? This isn't very actionable. Please write more details (and maybe make it E-Easy) or close it down.

[2017-10-07 11:01] nox commented on #14659
This still doesn't work.

[2017-10-07 11:01] nox commented on #14639
I do this from times to times, no need to have an issue.

[2017-10-07 11:01] #14639 closed

[2017-10-07 11:02] nox commented on #14638
I cannot reproduce it either.

[2017-10-07 11:02] #14638 closed

[2017-10-07 11:15] jdm commented on #14417
This code already exists because pcwaltom wrote it

[2017-10-07 11:15] #14417 closed

[2017-10-07 11:19] nox commented on #14902
@nikomatsakis Think you could push what you did somewhere?

[2017-10-07 11:20] nox commented on #14900
@jdm Did you find some time to look at using `Root<T>` now that I refactored it?

[2017-10-07 11:21] nox commented on #14516
Superseded by #14897.

[2017-10-07 11:21] #14516 closed

[2017-10-07 11:24] nox commented on #14888
@asajeffrey Are you still working on this?
@cbrewster What additional data?

[2017-10-07 11:24] nox commented on #14885
@asajeffrey Are you actually still working on this?

[2017-10-07 11:24] nox commented on #14884
Cc @fitzgen

[2017-10-07 11:25] nox commented on #14880
Is this still happening?

[2017-10-07 11:26] nox commented on #14870
Experimenting was done, given we even have a flag to use it in `mach` now.

[2017-10-07 11:26] #14870 closed

[2017-10-07 11:26] nox commented on #14861
Issue not actionable. Closing.

[2017-10-07 11:26] #14861 closed

[2017-10-07 11:26] nox commented on #14858
@emilio Is this still relevant?

[2017-10-07 11:27] jdm commented on #14900
Nope.

[2017-10-07 11:27] nox commented on #14846
@flipflop97 Does it still happen?

[2017-10-07 11:28] nox commented on #14832
Given Stylo landed, I'm fairly sure this was taken care of some way or another. Closing.

[2017-10-07 11:28] #14832 closed

[2017-10-07 11:30] nox commented on #14820
I can't reproduce this anymore, but I do hit #14779 now. Closing this issue.

[2017-10-07 11:30] #14820 closed

[2017-10-07 11:31] jdm commented on #14476
The most recent progress is that I tried it out and was encountering a surprising number of test timeouts that did not make sense. The machine that contained all of my work had a complete hard drive failure in August, unfortunately.

[2017-10-07 11:31] nox commented on #14637
This doesn't happen anymore.

[2017-10-07 11:31] #14637 closed

[2017-10-07 11:32] nox commented on #14814
This doesn't happen anymore.

[2017-10-07 11:32] #14814 closed

[2017-10-07 11:33] nox opened #18775 "Document that in some circumstances, trashing ./python/_virtualenv helps with build issues"
See https://github.com/servo/servo/issues/14810#issuecomment-274354847, this is not the first time I hear of this.

[2017-10-07 11:33] nox commented on #14810
Superseded by #18775.

[2017-10-07 11:33] #14810 closed

[2017-10-07 11:34] jdm commented on #2269
This can be dealt with separately in the smallvec repository if it's still a real issue (which sounds implausible after this much time).

[2017-10-07 11:34] #2269 closed

[2017-10-07 11:34] nox commented on #14806
This does not happen anymore indeed.

[2017-10-07 11:34] #14806 closed

[2017-10-07 11:35] jdm commented on #14258
No, but this sounds useful.

[2017-10-07 11:35] antrik commented on #14704
I wonder whether this is a real issue? Since Linux only buffers one message, I would expect this to be pretty visible there if it is...

Anyway, to sum up the situation: yes, `ipc-channel` blocks the sender when there are too many pending messages -- which is as little as one on Linux. (And for large messages, also with the upcoming Windows back-end.)

`ipc-channel` is not meant as a buffering mec

[2017-10-07 11:35] nox commented on #14805
I'm pretty sure the old captcha is not available anymore to reproduce this issue. Closing.

[2017-10-07 11:35] #14805 closed

[2017-10-07 11:36] nox commented on #14803
Let's close this in favour of #7492.

[2017-10-07 11:36] #14803 closed

[2017-10-07 11:36] jdm commented on #1007
No; the code is too old for this to be meaningful.

[2017-10-07 11:36] #1007 closed

[2017-10-07 11:37] nox commented on #15052
The Rust issue was fixed, so debug symbols shouldn't be wrongly reported anymore. Closing this.

[2017-10-07 11:37] #15052 closed

[2017-10-07 11:37] jdm commented on #4517
No; all the graphics code was rewritten.

[2017-10-07 11:37] #4517 closed

[2017-10-07 11:47] jdm commented on #14180
It would require modifying https://github.com/w3c/wptrunner/blob/262a2a18c4036a064d70c1b133d66ac608b740bf/wptrunner/executors/executorservo.py#L138.

[2017-10-07 11:52] jdm commented on #12363
Yes.

[2017-10-07 11:56] flipflop97 commented on #14846
Nope, it seems to be fixed.

[2017-10-07 11:56] #14846 closed

[2017-10-07 12:03] jdm opened #18776 "Use XML fragment serialization for innerHTML in XML documents"
Per https://w3c.github.io/DOM-Parsing/#serializing and https://github.com/servo/servo/blob/8dece5e74e32223d968648080bb371f3be7fbd7c/components/script/dom/element.rs#L2050-L2054 we don't support this yet.

[2017-10-07 12:10] nox commented on #18625
If this is not Android-specific, maybe we could close this issue in favour of #14176?

[2017-10-07 12:29] valerauko commented on #18202
I'd be happy to help with any of these issues if someone was kind enough to help me get on board. Is there any work in progress related to these?

[2017-10-07 12:30] jdm commented on #18625
It is absolutely Android specific.

[2017-10-07 12:31] jdm commented on #18202
https://github.com/servo/servo/issues/6414 is the most recent work, so there is actually some prior art you can build off of.

[2017-10-07 12:32] nox commented on #15043
Promises currently work. @bzbarsky Do you have any example of JS code that would fail if we don't do this?

[2017-10-07 12:33] nox commented on #15034
`font-variant` is a shorthand now.

[2017-10-07 12:33] #15034 closed

[2017-10-07 12:35] nox commented on #15019
Does this still happen, surely the shader patches landed since January.

[2017-10-07 12:37] nox commented on #15012
This was implemented, AFAICT (`Headers.webidl` makes use of it).

[2017-10-07 12:38] nox commented on #15008
See also #12670.

[2017-10-07 12:40] nox commented on #14966
Pretty sure this can be closed.

[2017-10-07 12:40] #14966 closed

[2017-10-07 12:41] nox commented on #14965
https://github.com/servo/servo/pull/17390 happened, and this is good enough. Let's do the rest whenever we find some remaining `try!` uses.

[2017-10-07 12:41] #14965 closed

[2017-10-07 12:42] nox commented on #14958
I can't reproduce this anymore.

[2017-10-07 12:43] nox commented on #14951
Scrolling doesn't do anything anymore with the oneliner.

[2017-10-07 12:45] nox commented on #14949
Some effects (or should I say most) just don't work, but the others never trigger multiple times. Should we close or repurpose this issue, @jdm?

[2017-10-07 12:48] nox commented on #14934
I can't reproduce this either.

[2017-10-07 12:48] #14934 closed

[2017-10-07 12:48] nox commented on #14903
We wrote such tests.

[2017-10-07 12:48] #14903 closed

[2017-10-07 12:49] nox commented on #14901
I don't think this would reduce complexity but instead increase it. Nowadays `Root<T>` just contains a `T`, so it's not like it would even help.

[2017-10-07 12:49] #14901 closed

[2017-10-07 13:16] SimonSapin commented on #18775
Should we also make `./mach clean` do that as well?

[2017-10-07 13:26] jdm commented on #15012
No, that relies on the old mozmap implementation under the hood (and this is a reason I argued against this change!)

[2017-10-07 13:26] #14951 closed

[2017-10-07 13:29] jdm commented on #14949
Let's repurpose.

[2017-10-07 13:30] antoyo commented on #18479
I started to write [a crate for a gtk binding to servo](https://github.com/antoyo/servo-gtk) and there's one thing I'd like a better API.
Currently, we cannot create the `Servo` object before the view is shown, which made me used this [weird trick](https://github.com/antoyo/servo-gtk/blob/master/src/view.rs#L114-L116) to be able to provide a [nice API](https://github.com/antoyo/servo-gtk/blob/mast

[2017-10-07 13:30] jdm commented on #15043
The interaction of sync XHR and promises is the only one that is applicable to us at the moment.

[2017-10-07 14:55] nox commented on #15012
Oh I see.

[2017-10-07 14:56] nox commented on #18775
Maybe that would be for the best indeed. What do you think @jdm?

[2017-10-07 14:58] nox commented on #15061
@SimonSapin This can be considered done, right?

[2017-10-07 14:59] nox commented on #15185
Don't we have the better stacktraces now? I remember closing a similar bug.

[2017-10-07 15:02] nox commented on #15144
Is this still something we think is doable?

[2017-10-07 15:04] nox commented on #15121
We depend on `openssl-sys` 0.9 now so this issue has been obsoleted.

[2017-10-07 15:04] #15121 closed

[2017-10-07 15:05] nox commented on #15126
@jdm Do you think this is something we should do? I thought about it a bit and I think our current setup is ok, especially if we need to change everything again to use linjs afterwards.

[2017-10-07 15:06] nox commented on #15110
@mmatyas @MTRNord Does it still happen for any of you?

[2017-10-07 15:08] nox commented on #15109
Let's close this, it's not like we are going to forget that we can do something fun at this URL if we ever feel like it, but this should probably be something in a frontend app, not in Servo itself.

[2017-10-07 15:08] #15109 closed

[2017-10-07 15:10] nox commented on #15084
@nical Is this still an issue? Where should that be done?

[2017-10-07 15:16] nox commented on #15293
@samuknet Did you manage to build it in the end?

[2017-10-07 15:20] nox commented on #15251
I can't reproduce either on slimbook nor on HN. Closing.

[2017-10-07 15:20] #15251 closed

[2017-10-07 15:21] nox commented on #15250
I can't scroll at all anymore on the first link, but I can still reproduce the issue on the second one.

[2017-10-07 15:28] nox commented on #15248
Blank space is gone, it finishes loading, but clicks don't do anything.

[2017-10-07 15:30] nox commented on #15236
I found a way to do that when implementing `document.open`, and I filed #18671 for the more general issue of not being able to abort a fetch for real.

[2017-10-07 15:30] #15236 closed

[2017-10-07 15:48] nox commented on #15218
This is doable now.

[2017-10-07 15:48] nox commented on #15218
@emilio Could this be an E-Easy issue?

[2017-10-07 15:50] nox commented on #15497
This could be made into an E-Easy issue, I think.

[2017-10-07 15:52] nox commented on #15472
The people have spoken and they don't want this.

[2017-10-07 15:52] #15472 closed

[2017-10-07 15:52] MTRNord commented on #15110
@nox It seems to work now. Didn't crash and I was able to open Github

[2017-10-07 15:53] nox commented on #15110
Thanks for the answer! @mmatyas' issue on Android should be fixed by the linked gleam issue, so I'm closing this ticket.

[2017-10-07 15:53] #15110 closed

[2017-10-07 15:54] nox commented on #15473
There is technically no reason to actually keep track of where the blocking pending loads actually come from, but this is a crucial thing to do for debugging. If anyone tackles this ticket, they should keep that in mind.

[2017-10-07 15:55] nox commented on #15456
This kind of intermittent issue doesn't get filtered by your tool, right @jdm? So does that mean this never happened again? Should we close it?

[2017-10-07 15:57] nox commented on #15431
This particular arstechnica issue seems to be fixed.

<img width="1136" alt="capture d ecran 2017-10-07 a 17 57 09" src="https://user-images.githubusercontent.com/123095/31309602-f69a14d8-ab88-11e7-96d0-773d1f72291c.png">

[2017-10-07 15:57] #15431 closed

[2017-10-07 15:58] nox commented on #15407
Is this still something we need to do? I'm not sure what's the long term plan with Azure.

[2017-10-07 16:01] nox commented on #15392
@jdm I can't reproduce your issue anymore.

[2017-10-07 16:01] nox commented on #15391
Closing for inactivity.

[2017-10-07 16:01] #15391 closed

[2017-10-07 16:03] nox commented on #15626
@upsuper Was this done?

[2017-10-07 16:04] nox commented on #15623
Seems like #15651 was the same issue and it got fixed. Closing this one too.

[2017-10-07 16:04] #15623 closed

[2017-10-07 16:06] nox commented on #15597
This still happens and it's very noticeable on the Servo Wikipedia entry.

[2017-10-07 16:07] nox commented on #15578
This doesn't happen anymore.

[2017-10-07 16:07] #15578 closed

[2017-10-07 16:08] nox commented on #15574
I can't reproduce this anymore.

[2017-10-07 16:08] #15574 closed

[2017-10-07 16:10] nox commented on #15571
The page isn't all white anymore but it still doesn't work, and I can still reproduce the issue from https://github.com/servo/servo/issues/15571#issuecomment-280132823.

[2017-10-07 16:12] nox commented on #15541
@jdm What do you think?

[2017-10-07 16:16] emilio commented on #14231
yeah, this code has changed a lot since this was filed, I believe this is fixed.

[2017-10-07 16:16] #14231 closed

[2017-10-07 16:17] emilio commented on #14369
Agreed, just did that.

[2017-10-07 16:17] #14369 closed

[2017-10-07 16:19] nox commented on #15502
@jdm I can't seem to be able to make the page scroll horizontally anymore.

[2017-10-07 16:35] nical commented on #15084
I don't know if this is still an issue in servo. If it is, it should be addressed where the images are decoded I suppose, or somewhere else before the image is passed to WebRender.

[2017-10-07 17:40] mateon1 opened #18778 "Failed to reset input value to default.: InvalidState"
Found with domato.
I left it lying around for a long time, because I accidentally used the wrong file (sequence number off by ten) when checking if this is reproducible.

[code]

[code]

[2017-10-07 19:25] jdm commented on #15185
We do not.

[2017-10-07 19:25] jdm commented on #15126
Agreed.

[2017-10-07 19:25] #15126 closed

[2017-10-07 19:31] emilio commented on #14773
This is not done in servo, no.

[2017-10-07 19:42] jdm commented on #15407
For offscreen canvas it may be a necessity.

[2017-10-07 19:46] jdm commented on #18775
That seems wise.

[2017-10-07 20:31] SimonSapin commented on #15061
Yes. We do box some variants of this enum, and have a test to ensure we box exactly those above a certain (configurable) size.

[2017-10-07 20:31] #15061 closed

[2017-10-07 20:37] mateon1 commented on #10118
@nox
Yes, it still happens, can be shown with
[code]

The window doesn't actually resize, but Servo still crashes. I've seen two stack traces:

<details>
<summary>Failed to call XPeekEvent</summary>

[code]
</details>

<details>
<summary>Failed to call XSendEvent</summary>

[code]
</details>

[2017-10-07 21:36] deg4uss3r commented on #18049
I made some progress on this by editing `components/net/methods.rs` `mailto:` links appear to be working and opening in the default email client (on my Mac) using `open::that`

[2017-10-07 22:29] sunjay commented on #14554
@nox Since filing this issue, I have upgraded to a new computer with a new graphics card, etc. I just checked and I'm able to build successfully. I don't know if that counts as problem solved, but I can't reproduce it anymore on this new machine.

I guess we can close this until someone else also runs into something similar?

[2017-10-07 22:56] upsuper commented on #15626
Yes, by #16762.

[2017-10-07 22:56] #15626 closed

[2017-10-07 23:40] highfive commented on #14555
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-08 00:13] nox commented on #14554
Thanks for reporting back! Closing the issue then.

[2017-10-08 00:13] #14554 closed

[2017-10-08 03:48] KiChjang commented on #18049
@deg4uss3r Please hold off your attempt; I agree with @paulrouget, this issue does not sound like it is servo's responsibility but rather the embedder's.

[2017-10-08 03:50] KiChjang commented on #14555
[code]

[2017-10-08 07:30] nox commented on #15637
Seems like something that could be an E-Easy issue.

[2017-10-08 07:30] nox commented on #15635
@tschneidereit @paulrouget Did you ever decide what's the way to go for this?

[2017-10-08 07:32] nox commented on #15802
@avadacatavra @asajeffrey So what is this issue about?

[2017-10-08 07:36] nox commented on #15748
![capture d ecran 2017-10-08 a 09 36 21](https://user-images.githubusercontent.com/123095/31314894-26bfd9da-ac0c-11e7-8e94-5b179ae4af22.png)

[2017-10-08 07:36] #15748 closed

[2017-10-08 07:51] nox commented on #15641
@paulrouget Is it a bug and it should be called from somewhere, or can we remove the dead code?

[2017-10-08 09:28] paulrouget commented on #15641
It should be called for any non-HTTP error. Like, if the server can't be reached, but not on a 4xx or 5xx errors.

[2017-10-08 09:30] paulrouget commented on #15635
Yes. As soon as I have some time, I'll finish my PR #17769. The idea is first to only keep what's absolutely necessary (many stuff in /resources/ are useless at runtime), then bundle the files with the library (what Jack said).

[2017-10-08 09:30] paulrouget commented on #15637
This has been done.

[2017-10-08 09:30] #15637 closed

[2017-10-08 12:19] jdm commented on #15502
Ah, the MDN page design changed. Too bad.

[2017-10-08 12:19] #15502 closed

[2017-10-08 12:21] jdm commented on #15456
Correct.

[2017-10-08 12:21] #15456 closed

[2017-10-08 13:27] potocpav commented on #18472
Both panics fixed upstream

[2017-10-08 13:31] tigercosmos commented on #18472
Will PR when the updated version is released.

[2017-10-08 16:41] creativcoder commented on #14263
Hey @nox yeah, https://github.com/creativcoder/servo/commit/3e4b85c9912b41f88d1c0746b594bc7a1d41eb49 . I want to continue working on this. That commit is bit rotted so i'll update that. Let me know if you want to assign this to a new contributer.

[2017-10-08 18:15] KiChjang opened #18784 "Intermittent crash of /dom/nodes/ParentNode-querySelector-All.html"
[code]

[2017-10-08 20:23] potocpav commented on #18472
The version does not actually need to be updated. `image 0.16` can already use the fixed packages (`inflate 0.3.3` and `png 0.10.0`)

[2017-10-09 03:37] tigercosmos commented on #18472
Wait for [`image-png`](https://github.com/PistonDevelopers/image-png) changes dependencies to inflate = "0.3.3"

[2017-10-09 06:05] tigercosmos commented on #18472
Test in `inflate@0.3.3". Case 1 still not works.
[code]
It will only show white screen without any error.

![image](https://user-images.githubusercontent.com/18013815/31326523-c4bdece6-acfa-11e7-96b0-b16d4038af99.png)

[code]

[2017-10-09 06:31] mateon1 commented on #18472
I believe that's fine, the flag image is not actually valid - some image utilities display only half of the image, some display the entire image, and some error out.
It's possible to extract valid pixels out of that image, but as the file is malformed, the png crate would have to be redesigned to allow returning partially decoded images along with errors.

[2017-10-09 10:23] nox commented on #14390
See https://github.com/w3c/web-platform-tests/pull/5911

[2017-10-09 11:15] nox commented on #17374
Seems like this issue should be raised with the spec, not here.

[2017-10-09 11:16] nox commented on #17442
This issue is not actionable, we should close it.

[2017-10-09 11:17] nox commented on #17379
Where is the code for that? What exactly should be done?

[2017-10-09 11:18] nox commented on #17378
Typed CSSOM isn't implemented, right?

[2017-10-09 11:18] nox commented on #17375
@SimonSapin Is this still something we want to do?

[2017-10-09 11:19] nox commented on #17370
Where is the code for that? Can it be made into an E-Easy issue?

[2017-10-09 11:19] nox commented on #17372
Where?

[2017-10-09 11:20] nox commented on #17584
Where is the code where that should be done?

[2017-10-09 11:43] SimonSapin commented on #17375
I believe making hashing of `Atom` and `str` compatible is not possible without sacrificing other nice properties of `Atom`, so we’re likely not going to.

[2017-10-09 11:43] #17375 closed

[2017-10-09 11:45] SimonSapin commented on #17375
Somewhat relatedly, we also have `PrecomputedHashMap` that uses a specific `Hasher` to make hashing cheaper with `Atom` keys.

[2017-10-09 12:43] potocpav commented on #18472
@tigercosmos `image-png` does not need to change the version because of semver compatibility. http://doc.crates.io/specifying-dependencies.html

@mateon1 The flag image specifies a small buffer and then requests data out of bounds. It is possible to:
1. Ingore specified buffer size and always use 32k - the flag displays fine
2. Return the last item on the buffer - the bottom half of the flag is in

[2017-10-09 12:49] jdm commented on #18472
I think an error makes sense for now.

[2017-10-09 14:55] paulrouget opened #18796 "Rewrite the openssl for android build code in Rust, in the relevant build.rs"
When using Servo in a third party software, on Android, we have to copy some shell scripts and makefiles to compile servo as a dependency. See https://github.com/paulrouget/servofocus/blob/565eeea6ba7a7a74aa3fead29c77e3983c31f654/rust/android/build.sh#L34

Ideally, this would be done automatically in the openssl crate `build.rs`.

[2017-10-09 15:36] asajeffrey commented on #14368
Not actively. Sandboxing is still an outstanding issue though. cc @avadacatavra

[2017-10-09 15:37] asajeffrey commented on #14364
Not actively. cc @cbrewster

[2017-10-09 15:39] bzbarsky commented on #15043
I didn't say they wouldn't work.  I said they wouldn't work _right_, in some cases, assuming that the rest of the spec was implemented with complete fidelity.  Which is a big assumption.

Specifically:

1. Does servo run Promise callbacks off microtasks?
2. Does servo implement microtask checkpoints happening at the points when the spec says they should?

Keep in mind, for reference, that the answ

[2017-10-09 15:48] asajeffrey commented on #15079
Could just have script thread ignore transition events for pipelines that aren't fully active? Or we could check in script thread that the pipeline's not been closed.

[2017-10-09 15:52] asajeffrey commented on #14434
Still waiting for the spec issue to get sorted out.

[2017-10-09 15:53] jdm commented on #15079
Right, the point being that there is no pipeline present in the message from which to draw such a conclusion yet.

[2017-10-09 15:55] asajeffrey commented on #14885
Not actively. @emilio?

[2017-10-09 15:56] asajeffrey commented on #14573
cc @emilio

[2017-10-09 15:58] asajeffrey commented on #14705
I guess this is just general grumbling rather than an issue.

[2017-10-09 15:58] #14705 closed

[2017-10-09 16:02] asajeffrey commented on #14694
I doubt this is E-easy I'm afraid. Logging in servo is a bit of a mess :/

The "logging types" are `FromScriptLogger` (https://github.com/servo/servo/blob/64aadee62c1e0f100ad79ab50a56cd1f84285eeb/components/constellation/constellation.rs#L403) and `FromCompositorLogger` (https://github.com/servo/servo/blob/64aadee62c1e0f100ad79ab50a56cd1f84285eeb/components/constellation/constellation.rs#L440).

T

[2017-10-09 16:04] asajeffrey commented on #14692
Not sure about E-easy, this refactoring touches a lot of code. Might be doable as E-Mentored. cc @cbrewster

[2017-10-09 16:07] asajeffrey commented on #14690
We did most of the worst offenders. There's still `PipelineId` but I don't think we should touch this right now.

[2017-10-09 16:07] #14690 closed

[2017-10-09 16:10] asajeffrey commented on #14683
I guess this is just general complaining.

[2017-10-09 16:10] #14683 closed

[2017-10-09 16:17] asajeffrey commented on #14888
@nox: the additional data is what @bz mentioned. Much of this should be in `LoadData` rather than `SessionHistoryEntry`. This should be the same notion of load data as the embedding API uses (cc @paulrouget).

The one I don't understand is the form data, which requires some heuristics to map discarded-document form elements to reloaded-document form elements.

[2017-10-09 16:26] asajeffrey commented on #15079
@jdm the window is still alive though, so we can query it to see if it has been discarded, since it knows its own pipeline id and we could look that up in the `documents` collection.

[2017-10-09 16:26] asajeffrey commented on #14704
@antrik hmm, this is a bit of a problem: the constellation assumes sending on a channel is non-blocking. Could we add a `try_send` to ipc-channel?

[2017-10-09 16:35] asajeffrey commented on #15802
@nox: the question is can we add process affinity to similar-origin pipelines, so that we can guarantee that pipelines that share cookies are in the same process? If we can, then we can use a per-process cookie jar rather than a global cookie jar, and we can make cookies non-serializable, which gives better security guarantees.

All quite speculative, but it would be a security win if we can do it

[2017-10-09 16:37] asajeffrey commented on #15802
Might make a good summer internship if we get the right student.

[2017-10-09 16:38] antrik commented on #14704
I forgot to mention that for long messages, with some back-ends even a single send can block in the middle , while it waits for the receiver to get the previous packages. So no, we can't really do `try_send()`... Adding async sending would be more complex than that.

See https://github.com/servo/ipc-channel/pull/165 for some pretty relevant discussion.

[2017-10-09 16:55] jdm commented on #15802
Ask me how the attempt to avoid a global cookie jar in Firefox went. Hint: informal asynchronous distributed systems are very hard to reason about.

[2017-10-09 17:42] #14975 closed

[2017-10-09 18:53] paulrouget opened #18799 "headless mode: block the main thread"
From https://github.com/servo/servo/pull/18777#issuecomment-334995118:

- In Window::wait_event , for Headless, where non-headless do: window.poll_events(), we should block (park the main thread)
- in create_window_proxy, for Headless, implement a thread-safe object that will wake up the blocked thread

[2017-10-09 18:56] asajeffrey commented on #17374
This got resolved.

[2017-10-09 18:56] #17374 closed

[2017-10-09 19:00] asajeffrey commented on #17442
Renamed the issue to make it actionable. This might make a good E-Mentored issue.

[2017-10-09 19:03] highfive commented on #17379
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-09 19:04] asajeffrey commented on #17379
At this point, houdini-samples has removed cssText, so the task is just to remove the cssText property from `CSSStyleValue.webidl` and the matching `.rs`. A good E-Easy I think.

[2017-10-09 19:07] asajeffrey commented on #17378
Yes, but this is an issue even in the absence of typed CSSOM, e.g. a worklet can monitor "background" and expect to be notified about changes to all the `background-*` properties. It's quite a drastic change for servo, since it means the declared-values to computed-values transform is bidirectional.

[2017-10-09 19:13] asajeffrey commented on #17370
Not sure it's E-Easy, perhaps E-Less-Easy? I'm not sure that anything about concurrent communication is E-Easy :/

The code is at: https://github.com/servo/servo/blob/e3624e62a4b247d7af5e783fcd4205d2914b6aab/components/script/dom/paintworkletglobalscope.rs#L357

The change is to replace that `recv` by a receive-with-timeout. The less-easy part is working out how to test for this behaviour.

[2017-10-09 19:15] asajeffrey commented on #17372
Ah, this one is already fixed.

[2017-10-09 19:15] #17372 closed

[2017-10-09 19:25] asajeffrey commented on #17584
In the code https://github.com/servo/servo/blob/e3624e62a4b247d7af5e783fcd4205d2914b6aab/components/layout_thread/lib.rs#L748

Currently we just insert a new registered painter. Really we should check to see if there already is one, and if there is check to make sure it's attributes are the same. If they're not, remove the existing definition and replace it by a tombstone.

[2017-10-09 19:37] asajeffrey commented on #14704
Ouch. So ipc channels have no way to provide a non-blocking send?

The only workaround I can see involves providing the constellation with a thread pool that it can use to send messages to the script threads.

[2017-10-09 19:39] asajeffrey commented on #15802
@jdm: let me guess, it was straightforward and everybody went home happy and well-rested?

[2017-10-09 20:04] asajeffrey commented on #14704
Oh and just to make things more fun, we're using a lot of one-shot ipc-channels for getting results back from the constellation, and sending can block on those too, sigh. This is slightly less worrying because we're not executing arbitrary user JS code before the script thread calls recv, so the send is less likely to block and potentially cause deadlock. It's still not great though.

[2017-10-09 20:12] antrik commented on #14704
@asajeffrey wouldn't it be easier to have a dedicated thread per receiver (or per receiving process), to put the received messages in a queue, for the script thread to consume as it sees fit?

In fact, the queue should be trivial to implement, by simply forwarding the messages to the thread over an `mpsc` channel... Which happens to be precisely what the existing `Router` mechanism in `ipc-channel

[2017-10-09 20:21] antrik commented on #14704
@asajeffrey for the reply channels, it's only a problem if the messages can typically get larger than the fragment size -- which is usually `224 KiB` on Linux `x86_64`, for example.

(In fact the current Unix implementation only blocks once the message exceeds *twice* the fragment size...)

[2017-10-09 20:23] asajeffrey commented on #14704
Ah, good point there is already a router between the IPC channel and the script thread. Using an extra thread seems quite a lot of overhead, but it does solve the problem. It does mean that the deadlock-freedom of the constellation depends on routers guaranteeing that `send` is non-blocking, I guess the action here is to document that somewhere!

[2017-10-09 20:50] KiChjang commented on #17442
@asajeffrey Can we get a little bit more information about what we're trying to solve here? Files to edit, and function names to grep for would be a good starter.

[2017-10-09 20:53] KiChjang commented on #17370
Do we have anything similar to [Sinon fake timers](http://sinonjs.org/releases/v1.17.7/fake-timers/) in rustland? It would be great for testing this.

[2017-10-09 21:29] emilio commented on #14885
This would be nice, but requires singificant rework I'm not actively looking into.

[2017-10-09 21:46] #18472 closed

[2017-10-09 21:52] asajeffrey commented on #17442
OK, deep breath...

The problem is that when a `Worklet` is dropped, the `WorkletThreadPool` isn't informed. So the idea would be to impl `Drop` for `Worklet`, and have it go get the thread pool from the script thread, and call a `exit_worklet` method. The thread pool would build an `ExitWorklet` control message, which it would send to each of the worklet threads. Each worklet thread would then re

[2017-10-09 22:05] asajeffrey commented on #17370
I don't think we do, in general it would be really nice for testing if we could mock up channels, timers, etc., but I don't think there is such a thing :/

[2017-10-09 22:52] asajeffrey commented on #14704
OK, I added some documentation, I think I got the can-block-on relationship right :/ https://github.com/asajeffrey/servo/commit/dd1ec8f2f1b7c42cb929448dfe3dc286beb7cf3a

The one that always surprises me is that the constellation can block on layout, which is only true when taking the screenshots for reftests.

[2017-10-10 00:41] #18770 closed

[2017-10-10 01:59] KiChjang commented on #14897
Taking a lot at this. Gotta love removing code!

[2017-10-10 03:35] atouchet commented on #17489
The text animations on this page are now outright broken and not working at all.

[2017-10-10 04:11] atouchet opened #18801 "Rendering errors in Transparent Rects demo"
![Rects](https://i.imgur.com/oZbx8Fv.png)

The rects appear to have rendering issues which didn't occur previously (aside from the fact they are stuck in the top left corner which is tracked in #15689). You might need to look at the image in full size to see it clearly.

[2017-10-10 04:11] upsuper opened #18802 "Intermittent URLError: <urlopen error [Errno 60] Operation timed out>"
See for example http://build.servo.org/builders/mac-rel-wpt2/builds/6388

<details>

[code]

</details>

[2017-10-10 05:18] tigercosmos commented on #18027
I sometimes encounter error at this part when I use windows. But I cannot figure out why.
It seems it fails at "extract". I guess it is caused by the python script not really compatible to Windows.

Besides, you can follow the note under normal build for a workaround.

[2017-10-10 06:08] paulrouget commented on #18479
Yes. I'm planning to fix that once I introduce multi-window support. We would initiate Servo first, then attach compositors.

No, you won't need a second event loop. It's just a cosmetic change. Instead of having to implement the `WindowMethods`, the embedder would pull the available events from Servo and loop through them. The same way the [ServoShell does](https://github.com/paulrouget/servoshel

[2017-10-10 06:16] paulrouget commented on #14888
A few other things we might want to store:

- http_method (post or get)
- scroll_restoration_mode (auto / manual)
- transition_type (see https://github.com/servo/servo/issues/18211)

These will be necessary too, but can be saved at the embedder level:
- page title
- page favicon
- user_typed_value

[2017-10-10 06:20] paulrouget commented on #14694
Aren't this code only about crash reporting?

[2017-10-10 07:16] nox commented on #17378
What do you mean by the bidirectional part? What's 'declared-values'?

[2017-10-10 07:21] nox commented on #17370
I'm very much against mocking 'etc'.

[2017-10-10 07:22] emilio commented on #17378
What's the problem of just mapping `background` to all its longhands? How does this differ from the mapping we need to do for stuff like `transition`?

[2017-10-10 12:12] jdm opened #18805 "mac-rel-css2 takes twice as long as mac-rel-css1"
The test-css command run by mac-rel-css1 takes 5 minutes, and it shows this output:
[code]
On mac-rel-css2, it takes 24 minutes, and we see this:
[code]
The builders are using WPT's automatic chunking; we should investigate why the tests are being distributed so disproportionately.

[2017-10-10 12:12] highfive commented on #18805
cc @aneeshusa

[2017-10-10 12:22] SimonSapin commented on #18805
Random guess: maybe chunking happens before disabled tests are filtered out?

[2017-10-10 12:55] jdm commented on #18805
An interesting data point is that when servo-mac2 runs the mac-rel-css2, it takes 16 minutes. When servo-mac8 runs it, it takes 24 minutes.

[2017-10-10 14:00] doanga2007 commented on #12477
long times meaning to cannot input Thai language more than 5 seconds in address bar.

[2017-10-10 14:45] SimonSapin opened #18806 "Intermittent "error: Could not compile `script`." on buildbot with no other error message"
This is the second time I see this recently:

http://build.servo.org/builders/mac-rel-wpt3/builds/2119/steps/compile/logs/stdio
https://github.com/servo/servo/pull/18585#issuecomment-335495846

<details>

[code]

</details>

[2017-10-10 14:46] asajeffrey commented on #14888
Hmm, that transition_type seems very specific to the embedder, I wonder if there's a way to make it more generic? Something like giving the embedder an id they can use to associate state to a transition if they like? The pipeline id is already almost good enough, but I'm not sure we're exposing it in a way that's useful to the embedder.

[2017-10-10 14:49] asajeffrey commented on #14694
Crash reporting and logging in general. Anything WARNING or above gets included in crash reports.

[2017-10-10 14:50] SimonSapin commented on #18806
I believe this message if from Cargo. This means rustc existed suddenly with a non-zero exit code but without writing anything itself on stderr or stdout.

[2017-10-10 15:04] jdm commented on #18806
I suspect an OOM before linking starts, but I'm not really sure how to confirm that.

[2017-10-10 15:04] highfive commented on #18806
cc @aneeshusa

[2017-10-10 15:09] jdm commented on #18806
I logged into servo-mac6 and looked at top; this certainly looks suspicious:
[code]

[2017-10-10 15:13] asajeffrey commented on #17378
Step 7 of https://drafts.css-houdini.org/css-paint-api/#invoke-a-paint-callback says "Let styleMap be a new StylePropertyMapReadOnly populated with only the computed value’s for properties listed in inputProperties", which can include shorthands. So we need a way to provide a computed value for a shorthand.

@nox: I guess I was being sloppy, it's the shorthand to longhand map that is being made bi

[2017-10-10 15:55] asajeffrey commented on #17378
@emilio: hmm, appending the shorthands does seem to be what's suggested vy https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-getpropertyvalue. That serializes the array of shorthands using https://drafts.csswg.org/cssom/#serialize-a-css-value, where step 8 says:

I guess this is the bit I don't understand, and there's no hyperlink for me to follow! Do you know what's intended here?

[2017-10-10 17:31] jdm commented on #18806
Same error for the android builder now on servo-linux-cross1: http://build.servo.org/builders/android/builds/9285/steps/compile/logs/stdio

[2017-10-10 18:17] jdm opened #18811 "Twitter homepage tabs don't fill boxes"
Firefox:
<img width="348" alt="screen shot 2017-10-10 at 2 15 23 pm" src="https://user-images.githubusercontent.com/27658/31402927-871920b0-adc5-11e7-94d7-2a56a0e71e49.png">

Servo:
<img width="273" alt="screen shot 2017-10-10 at 2 16 30 pm" src="https://user-images.githubusercontent.com/27658/31402953-a5949f1a-adc5-11e7-932a-4c7a64420722.png">

[2017-10-10 18:18] jdm opened #18812 "Twitter homepage items escape boxes"
Firefox:
<img width="659" alt="screen shot 2017-10-10 at 2 17 29 pm" src="https://user-images.githubusercontent.com/27658/31402997-c6ee7e38-adc5-11e7-8ec0-91cfdb4f9a56.png">

Servo:
<img width="616" alt="screen shot 2017-10-10 at 2 17 56 pm" src="https://user-images.githubusercontent.com/27658/31403015-d5d71414-adc5-11e7-9fde-7d860f3a6426.png">

[2017-10-10 18:19] jdm opened #18813 "Twitter homepage images are the wrong scale"
Firefox:
<img width="318" alt="screen shot 2017-10-10 at 2 18 49 pm" src="https://user-images.githubusercontent.com/27658/31403048-f63a8074-adc5-11e7-82b0-1615a789f6f1.png">

Servo:
<img width="291" alt="screen shot 2017-10-10 at 2 19 07 pm" src="https://user-images.githubusercontent.com/27658/31403065-01f0637a-adc6-11e7-9c90-0c412f6a5ab4.png">

[2017-10-10 18:20] jdm opened #18814 "Some tabs don't respond on Twitter homepage"
Featured, Sports, News, and More highlight fine when I mouse over them. Music, Entertainment, and Lifestyle do not.

[2017-10-10 18:23] jdm opened #18815 "Image content shifted down on Twitter homepage featured tweets"
Firefox:
<img width="424" alt="screen shot 2017-10-10 at 2 22 49 pm" src="https://user-images.githubusercontent.com/27658/31403221-82d3a6b4-adc6-11e7-86a3-9d7bde8625df.png">

Servo:
<img width="380" alt="screen shot 2017-10-10 at 2 23 03 pm" src="https://user-images.githubusercontent.com/27658/31403233-8b610f74-adc6-11e7-9b46-0a12bba15d74.png">

[2017-10-10 18:25] jdm opened #18816 "Reply and Retweet icons don't highlight on hover"
On the Twitter homepage under Featured Tweets, if you hover over the Like button it highlights red. The retweet button should have a green highlight, and reply should be blue, but neither show a highlight at all.

[2017-10-10 18:28] jdm opened #18817 "Endless scrolling doesn't work on Twitter homepage"
Scroll down to the bottom of the Featured Tweets in Firefox and a new batch of tweets are loaded and added to the page. This does not occur in Servo.

[2017-10-10 18:28] jdm opened #18818 "Twitter compat issues"
Tracking issues that affect twitter.com in particular:
* [ ] https://github.com/servo/servo/issues/18299
* [ ] https://github.com/servo/servo/issues/18811
* [ ] https://github.com/servo/servo/issues/18812
* [ ] https://github.com/servo/servo/issues/18813
* [ ] https://github.com/servo/servo/issues/18814
* [ ] https://github.com/servo/servo/issues/18815
* [ ] https://github.com/servo/servo/issues/1

[2017-10-10 18:30] jdm opened #18819 "Twitter homepage titlebar does not adjust when scrolling the page"
Firefox:
<img width="1008" alt="screen shot 2017-10-10 at 2 29 44 pm" src="https://user-images.githubusercontent.com/27658/31403600-85c221e2-adc7-11e7-8667-7848c8ed3a1c.png">

Servo:
<img width="763" alt="screen shot 2017-10-10 at 2 30 20 pm" src="https://user-images.githubusercontent.com/27658/31403613-9374ac10-adc7-11e7-89e2-4fadf3948627.png">

[2017-10-10 19:31] jdm commented on #18811
Minimal testcase:
[code]

Firefox:
<img width="263" alt="screen shot 2017-10-10 at 3 30 42 pm" src="https://user-images.githubusercontent.com/27658/31406599-002aee34-add0-11e7-80a0-8438b10a2b66.png">

Servo:
<img width="219" alt="screen shot 2017-10-10 at 3 30 59 pm" src="https://user-images.githubusercontent.com/27658/31406609-09e9839a-add0-11e7-8c7b-1779be256929.png">

[2017-10-11 01:28] yawetse opened #18824 "Layout assertion on facebook ("Node was being treated as inline, but it has an associated fragment!")"
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-3c6e7b5
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-11 07:37] nox commented on #13242
Cc @deg4uss3r

[2017-10-11 12:47] KiChjang commented on #14897
Instead of trying to shoehorn `WebSocketConnect` into the `RequestMode` enum, I would like to propose adding a new enum called `FetchCommunicationChannel` which would look like
[code]
This enum will be sent as part of the arguments for `CoreResourceMsg::Fetch`:
[code]
That way we wouldn't run into issues when trying to derive Clone, Copy, Send or Sync for `RequestMode`, and we would not need to cr

[2017-10-11 12:53] jdm commented on #18824
Do you know what page you were looking at?

[2017-10-11 13:00] yawetse commented on #18824
facebook homepage

[2017-10-11 13:15] paulrouget commented on #13993
Just started to work on this.

[2017-10-11 16:17] SimonSapin commented on #13770
I’m pretty sure the jobserver was added after this bug was originally filed. @bzbarsky, could you try and see if this also happens with `./mach build-geckolib`? IIRC that only compiles Rust code, so we should be able to tell if the jobserver is buggy or if the issue is only with subprocesses started from build script (compiling C/C++ code).

[2017-10-11 16:34] bzbarsky commented on #13770
With `./mach build-geckolib` the load average is at about 3-4.  I typically see only one rustc process running, using "250-400%" CPU (so figure 2.5-4 cores).

It's also a _much_ shorter build than all of servo, of course; looks like about 2 mins for a debug build when I just tried.

[2017-10-11 17:23] SimonSapin commented on #13770
https://github.com/rust-lang/cargo/pull/4110

implemented. Most crates are run with a manual `make -jN` and this overrides the
jobserver in the environment, creating a new jobserver in the sub-make. If the
`-jN` argument is removed, however, then make will share Cargo's jobserver and
properly limit parallelism.

[2017-10-11 17:36] metajack commented on #13770
That sounds very easy to fix.

[2017-10-11 18:58] deg4uss3r commented on #13242
@nox Will try! I'll start famalizing myself with the probelm and the code bases
listed. Should have an update or many questions this weekend.

[2017-10-11 19:42] jdm opened #18830 ""Forgot account" text is clipped on facebook homepage"
Firefox:
<img width="334" alt="screen shot 2017-10-11 at 3 42 09 pm" src="https://user-images.githubusercontent.com/27658/31462436-c6b0464c-ae9a-11e7-88bb-af367378fea0.png">

Servo:
<img width="395" alt="screen shot 2017-10-11 at 3 42 00 pm" src="https://user-images.githubusercontent.com/27658/31462444-caac41a6-ae9a-11e7-9186-37d56c8b47b6.png">

[2017-10-11 19:51] jdm opened #18831 "Facebook homepage sign up inputs have extra padding"
Firefox:
<img width="413" alt="screen shot 2017-10-11 at 3 43 34 pm" src="https://user-images.githubusercontent.com/27658/31462836-fe5846f2-ae9b-11e7-8e6a-527a7a78be33.png">

Servo:
<img width="409" alt="screen shot 2017-10-11 at 3 43 21 pm" src="https://user-images.githubusercontent.com/27658/31462484-ee7e969c-ae9a-11e7-9531-93e28e5cc1e7.png">

[2017-10-11 19:54] jdm commented on #18824
I reproduced this after logging in.

[code]

[2017-10-11 19:56] jdm opened #18832 "Panic after logging into facebook"
We should see how #18704 affects this.
[code]

[2017-10-11 19:58] jdm opened #18833 "Error page after logging into facebook"
<img width="582" alt="screen shot 2017-10-11 at 3 57 14 pm" src="https://user-images.githubusercontent.com/27658/31463317-e64a10c6-ae9c-11e7-9b1a-c0237f123a5a.png">

Pressing the link takes me to the regular facebook homepage (and then I see #18824).

[2017-10-11 20:01] jdm opened #18834 "Facebook logo is blurry"
Firefox:
<img width="199" alt="screen shot 2017-10-11 at 3 59 10 pm" src="https://user-images.githubusercontent.com/27658/31463726-25919fa6-ae9d-11e7-80f6-e606cbb6e69f.png">

Servo:
<img width="193" alt="screen shot 2017-10-11 at 3 59 28 pm" src="https://user-images.githubusercontent.com/27658/31463739-2cd0cfda-ae9d-11e7-8992-67b3ab6b42a1.png">

[2017-10-11 20:02] jdm opened #18835 "Facebook issues"
Tracking issues related to Facebook:
* [ ] https://github.com/servo/servo/issues/18830
* [ ] https://github.com/servo/servo/issues/18831
* [ ] https://github.com/servo/servo/issues/18824
* [ ] https://github.com/servo/servo/issues/18832
* [ ] https://github.com/servo/servo/issues/18833

[2017-10-11 20:33] jdm opened #18837 "Flexbox content overruns containing box"
[code]

Firefox:
<img width="1065" alt="screen shot 2017-10-11 at 4 32 36 pm" src="https://user-images.githubusercontent.com/27658/31465394-d6ddcfc4-aea1-11e7-80c2-63edda84e742.png">

Servo:
<img width="973" alt="screen shot 2017-10-11 at 4 32 59 pm" src="https://user-images.githubusercontent.com/27658/31465416-e0bee4ce-aea1-11e7-8839-982ac4915642.png">

[2017-10-11 21:07] yawetse commented on #18824
you guys are really doing some impressive work, I'm jealous!

[2017-10-11 21:23] jdm commented on #18813
Minimized testcase:
[code]
Firefox:
<img width="1552" alt="screen shot 2017-10-11 at 5 22 51 pm" src="https://user-images.githubusercontent.com/27658/31467681-d454cc6a-aea8-11e7-9f05-dba712445b23.png">

Servo:
<img width="1136" alt="screen shot 2017-10-11 at 5 22 38 pm" src="https://user-images.githubusercontent.com/27658/31467671-cc3ca32c-aea8-11e7-892a-12ee6a9bde32.png">

[2017-10-11 21:24] jdm commented on #18812
#18837 has a testcase for this.

[2017-10-11 21:24] #18812 closed

[2017-10-11 23:03] MGageMorgan commented on #12015
Wow, missed my July 1st deadline XD

[2017-10-12 00:01] muellermartin commented on #16410
I still have the same issue with my website: http://martin-m.org

[2017-10-12 06:08] upsuper opened #18845 "Intermittent fail in /XMLHttpRequest/timeout-multiple-fetches.html"
* [#18843 (comment)](https://github.com/servo/servo/pull/18843#issuecomment-336029755)

[code]

[2017-10-12 10:35] mrobinson commented on #18832
I agree that it seems likely that #18704 should fix this completely.

[2017-10-12 12:09] jdm opened #18849 "Many layout issues on State of the Octiverse"
* The floating logo and github text does not appear and scroll with the page
* the grey earth does not appear
* the twinkly lights do not animate and are not positioned over where the moon should be
* the "Build/Work/Learn/Connect" has an inverse mask effect going on
* no section numbers appear by the "Build/Work/Learn/Connect" words
* the world map is missing the coloured overlay and doesn't resp

[2017-10-12 12:10] jdm commented on #18849
JS errors that probably are related to some of these:
[code]

[2017-10-12 12:10] jdm commented on #18849
https://octoverse.github.com/

[2017-10-12 14:54] jdm opened #18852 "Chaos monkey tests all fail quickly when layout thread is closed"
Any log for the tests run by chaos_monkey_test.py show the same output:
[code]
@asajeffrey Remind me what the purpose of these tests are again? https://github.com/servo/servo/blob/acd857fff9c97aeb06ba13ccb33051161db147a5/components/script/script_thread.rs#L186 now gives us a very early opportunity to fail, and I'm not sure how much value we're getting from the tests at the moment.

[2017-10-12 15:27] asajeffrey commented on #18852
It's checking that the constellation doesn't panic even if pipelines panic.

The reason for the script thread panic, I suspect, is that we're using `force_exit` to shut down the pipeline, rather than `exit`: https://github.com/servo/servo/blob/acd857fff9c97aeb06ba13ccb33051161db147a5/components/constellation/pipeline.rs#L365-L375

this shuts the layout thread down without informing the script thre

[2017-10-12 16:52] asajeffrey commented on #18852
A fix: https://github.com/asajeffrey/servo/commit/70ce4689e0c56d2ba377cd1cee2a7e4e51d1fda5

[2017-10-12 17:41] tigercosmos commented on #18776
I would like to work on it. @jdm could you help me?

[2017-10-12 18:00] yati-sagade commented on #17370
I would like to give this a shot. Let me see if I can add a timeout to the `recv()`, and then poke one of you for testing.

[2017-10-12 18:20] jdm commented on #18776
Sure! There's an implementation of XML serialization in [xml5ever](https://github.com/servo/html5ever/blob/master/xml5ever/src/serialize/mod.rs), so the goal here is to use that algorithm instead of the HTML one if the document associated with the element is not an [HTML document](https://doc.servo.org/script/dom/document/struct.Document.html#method.is_html_document).

[2017-10-12 18:26] asajeffrey commented on #17370
@yati-sagade Cool!

[2017-10-12 19:07] #18852 closed

[2017-10-12 20:27] gsnedders commented on #12326
OK, things I think need upstreamed (these are basically all the change except simple updates, tools changes, and whitespace only changes):

- [ ] 8d90aa0b88735ad597adc47ba3dbdd71cc598279
- [ ] 2d9d31ee04553446546763e88ff8fedd01aba63e
- [ ] bb3d3db333feedb03821e91a71ab4f5cafe115b3

[2017-10-12 20:48] gsnedders commented on #12326
So I think we can close this?

[2017-10-12 21:52] jdm commented on #12326
That is a delightful outcome. Thanks for checking!

[2017-10-12 21:52] #12326 closed

[2017-10-13 03:32] spectrofflz commented on #16840
@highfive assign me

[2017-10-13 03:32] highfive commented on #16840
Hey @spectrofflz! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-13 03:59] atouchet opened #18860 "Monkey sprites out of place in Evil Ad demo"
![Evil Ad](https://i.imgur.com/XpwR2wP.png)

I believe the monkey sprites are supposed to be contained within the ad box. Tested with latest nightly build in Windows 10.

[2017-10-13 13:31] jdm opened #18865 "Intermittent PASS in /css/css-transforms/css-transforms-3d-on-anonymous-block-001.html"
[code]

[2017-10-13 13:38] jdm opened #18866 "Intermittent PASS in /cssom-view/elementsFromPoint-iframes.html"
[code]

[2017-10-13 15:16] artptr commented on #12919
@nox Yes, thanks.

[2017-10-13 15:16] #12919 closed

[2017-10-13 15:32] kafji commented on #14555
@highfive: assign me

[2017-10-13 15:32] highfive commented on #14555
Hey @kafji! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-13 18:25] tigercosmos commented on #18776
So it would like this?
[code]

[2017-10-13 18:50] jdm commented on #18776
It probably belongs in the `serialize` method, but yes.

[2017-10-13 20:45] SimonSapin commented on #5286
With https://github.com/servo/servo/pull/18854 it’s now possible to disable the use of *some* unstable features with `./mach build --no-default-features --features default-except-unstable`

[2017-10-13 22:52] #14704 closed

[2017-10-14 03:16] kafji commented on #17584
Can I give this a try?

[2017-10-14 04:07] atouchet opened #18872 "Ars Technica crash"
URL: https://arstechnica.com/

![Ars Technica crash](https://i.imgur.com/rpzpZFr.png)

This page is consistently able to crash Servo. The Servo error reporter appears but the browser crashes before the report can be submitted.

[2017-10-14 05:13] asajeffrey commented on #17584
Go for it!

[2017-10-14 06:39] KiChjang commented on #18671
So, to sum up the two previous PRs, we have a `ResourceId` struct that uniquely identifies each "load message". We also have a `cancel_load_map`, which is essentially a map from `ResourceId` to a channel that can be used to cancel the ongoing fetch.

The whole flow of cancelling goes like this:
1. Resource thread receives a Load message containing an optional `id_sender`.
2. When processing the lo

[2017-10-14 11:11] nox opened #18874 "Merge ./mach bootstrap-rust and ./mach bootstrap-cargo"
They share the same version numbers now anyway.

[2017-10-14 11:13] nox commented on #18849
The `measureText` error is probably https://github.com/servo/servo/issues/5411.

[2017-10-14 13:14] #17379 closed

[2017-10-14 14:29] tigercosmos commented on #18776
Where is the test for `component/script/dom/element.js`?

[2017-10-14 15:11] jdm commented on #18776
The various xhtml tests in https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/domparsing should cover this change. Use `./mach test-wpt tests/wpt/web-platform-tests/domparsing` to run the tests in that directory.

[2017-10-14 18:26] #14555 closed

[2017-10-15 10:15] stjepang commented on #16120
Looks like Servo has upgraded to Rust 1.20, which means now we can use `sort_unstable` in place of `pdqsort`. Can we now label this with E-easy?

[2017-10-15 10:23] SimonSapin opened #18887 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/more/functions/texImage2DHTML.html,"
[code]

[2017-10-15 10:25] highfive commented on #16120
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-15 11:39] emilio commented on #16120
This is something that should probably be measured at least...

[2017-10-15 11:41] SimonSapin commented on #16120
If I remember correctly it’s the same algorithm. @stjepang, can you confirm?

[2017-10-15 11:47] emilio commented on #16120
If that's true then sure, this is totally fine :)

[2017-10-15 11:49] stjepang commented on #16120
Yeah, `sort_unstable` is literally just a copy-paste from `pdqsort` into `libcore`. :)

[2017-10-15 14:59] mateon1 commented on #18632
I found another test case that triggers this bug.
[code]

[2017-10-15 21:12] mhaessig commented on #12410
I have removed `rustc_serialize` from `style_tests` but realized that the code related to `webdriver_server` is too advanced for me at this time.

Here is a list of all the files that still use `rustc_serialize`:
- components/config/Cargo.toml
- components/config/lib.rs
- components/config/prefs.rs
- components/script_traits/Cargo.toml
- components/script_traits/lib.rs
- components/script_traits/w

[2017-10-16 04:03] savanu commented on #16120
Can I take a crack at this?

These are the changes I plan to do:
1. Change sort_by_key under the style component to use the Rust's sort_unstable method.
2. Remove the pdqsort crate dependency in Cargo.toml

Are there any tests related to this method? Or do I assume most things will break if the sort method does not work?

[2017-10-16 06:17] emilio commented on #16120
Please do!

Yes, that sounds about right. If it builds it's probably ok, we have tests that would break if the sorting was broken.

[2017-10-16 07:36] #18776 closed

[2017-10-16 14:01] jdm commented on #16701
The benchmark now works correct!

[2017-10-16 14:01] #16701 closed

[2017-10-16 14:12] jdm opened #18897 "Kraken benchmark does not show results"
I see this on master when the benchmark finishes:
<img width="1136" alt="screen shot 2017-10-16 at 10 04 04 am" src="https://user-images.githubusercontent.com/27658/31615980-5e9551e8-b259-11e7-8a2d-41c848af9319.png">

Firefox:
<img width="1003" alt="screen shot 2017-10-16 at 10 04 21 am" src="https://user-images.githubusercontent.com/27658/31615988-6635cbf8-b259-11e7-8c8b-f2de54f16d18.png">

[2017-10-16 14:17] savanu commented on #16120
@highfive: assign me

[2017-10-16 14:17] highfive commented on #16120
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-10-16 15:19] grabstepango opened #18901 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-086c482
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-16 15:39] jdm commented on #18901
@grabstepango What page were you looking at?

[2017-10-16 16:57] Eijebong commented on #13770
Here's a list of PRs to use the new cargo jobserver (cc @nox):
- [ ] https://github.com/servo/libfontconfig/pull/34
- [ ] https://github.com/servo/rust-harfbuzz/pull/81
- [ ] https://github.com/alexcrichton/backtrace-rs/pull/71
- [ ] https://github.com/alexcrichton/libz-sys/pull/26
- [ ] https://github.com/servo/osmesa-src/pull/21
- [ ] https://github.com/servo/mozjs/pull/123

[2017-10-16 17:36] edunham opened #18905 "RFC: "help wanted" and "good first issue" labels"
GitHub has added "help wanted" and "good first issue" to their default labels list (https://help.github.com/articles/about-labels/). The keynotes at GitHub Universe indicated that they intend to do a lot of future work using these default labels to surface appropriate issue for new contributors. It is probably a good idea for us to get in the habit of using these standard labels, to take full adva

[2017-10-16 17:44] KiChjang commented on #18905
Would GitHub support renaming default labels? I'd like to continue using our existing labels, since we've pretty much figured out ourselves how to curate issues using those.

[2017-10-16 17:57] jdm commented on #16259
Aha! servo-linux3 always succeeds, while servo-linux1 and servo-linux2 always fail.

[2017-10-16 17:57] jdm commented on #16259
Either `ghp-import` or the `git push` [here](https://github.com/servo/servo/blob/a9022be0c3e30249845ca5947ac0c0a6743c7991/etc/ci/upload_docs.sh#L36-L39) are failing on those machines. It seems like ghp-import is installed on servo-linux1:
[code]

[2017-10-16 18:52] KiChjang commented on #18905
My concern here is that we need to mentally remodel ourselves into how we curate issues when we're introduced with new labels. For example, we have a rule that if it's a straightforward bug, then it's an "E-Easy" issue, but that doesn't necessarily translate into a "good first bug", because some E-Easy issues require quite a bit of spec reading and diving into deep parts of the code, and I would n

[2017-10-16 19:49] dtrebbien commented on #16479
I attempted to find related test cases and Bugzilla reports for Firefox.

The only test case I could find is:  https://dxr.mozilla.org/comm-central/source/mozilla/dom/html/test/forms/test_form_named_getter_dynamic.html

I found three Bugzilla reports that are related:

 *  https://bugzilla.mozilla.org/show_bug.cgi?id=377413
 *  https://bugzilla.mozilla.org/show_bug.cgi?id=307415
 *  https://bugzil

[2017-10-16 19:50] jdm commented on #18905
I've always recommended treating E-Easy as "no decisions required" and E-mentored as "straightforward with some assistance". I have no problem renaming E-easy to "good first bug", especially since starters.servo.org already transparently does that.

[2017-10-16 19:52] jdm commented on #18905
Those definitions match https://github.com/servo/servo/wiki/Tag-label-names-and-definitions, too.

[2017-10-17 00:03] jdm opened #18908 "Intermittent fail in /css-transforms-1_dev/html/transform-abspos-006.htm"
[code]

[2017-10-17 00:03] jdm opened #18909 "Intermittent fail in /css-transforms-1_dev/html/transform-display-002.htm"
[code]

[2017-10-17 00:03] jdm opened #18910 "Intermittent failure in /css-transforms-1_dev/html/transform3d-perspective-008.htm"
[code]

[2017-10-17 00:05] #18908 closed

[2017-10-17 00:05] #18909 closed

[2017-10-17 00:05] #18910 closed

[2017-10-17 02:41] atouchet commented on #17921
This appears to be fixed now.

[2017-10-17 02:41] #17921 closed

[2017-10-17 03:15] atouchet opened #18912 "Servo interface errors after horizontal window resize"
Steps to reproduce:

1. Launch Servo.
2. Resize the Servo window horizontally to make it as thin as possible.
3. Resize the window horizontally again so that it is now close to the original size.
4. The Servo window now has graphical errors and link hitboxes are out of place.

![Servo window](https://i.imgur.com/u0aoUyX.png)

Tested in Windows 10 with Browser.html.

[2017-10-17 03:23] atouchet opened #18913 "Close icon doesn't show up in Servo error reporter"
Image:

![Servo window](https://i.imgur.com/rpzpZFr.png)

A black square appears instead of the close icon. Tested in Windows 10 with Browser.html.

[2017-10-17 03:53] #17489 closed

[2017-10-17 04:01] #16120 closed

[2017-10-17 04:21] atouchet commented on #11960
Looking at this more I am fairly sure that it's an image scaling issue with Servo. I noticed that the Moiré demo tile appears noticeably different in Servo and Firefox when they both load the Browser.html homepage. So I tried independently scaling the original 800 x 500 tile using bicubic, bilinear, and nearest neighbor scaling to 160 x 100 to match the Browser.html homescreen.

Results:

![Scalin

[2017-10-17 05:52] tigercosmos commented on #9939
@VidushiVashishth  `unknown` is solved by #18145

[2017-10-17 06:02] atouchet commented on #17175
Is this still an issue? I believe there have been some WebRender glyph positioning fixes since this report was opened.

[2017-10-17 06:10] atouchet commented on #17190
The Browser.html homescreen font rendering appears to be getting thicker again.

![Servo](https://i.imgur.com/nRvZhel.png)

[2017-10-17 07:00] SimonSapin commented on #11361
Update: https://github.com/rust-lang-nursery/rustup.rs/pull/1250 has landed in rustup master but is not in a release yet.

[2017-10-17 07:15] tigercosmos opened #18916 "unused import"
On `commit eecee32a0b139096e8fe268590536b2eb5ac911d`
[code]

[2017-10-17 07:30] SimonSapin commented on #18916
I believe this is fixed in 4c5d6fd8345f301be4aafe2dba71cdf2de0ab01e. Thanks for the report!

[2017-10-17 07:31] nox opened #18918 "Unfork glutin"
Latest attempt was #17311.

[2017-10-17 07:51] tigercosmos commented on #18916
@SimonSapin  Seems not?
https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L92