[2016-05-16 17:40] #11194 closed

[2016-05-16 18:51] canaltinova commented on #11198
I would like to take this.

[2016-05-16 19:01] pcwalton commented on #11151
More minimal test case:

    <style>
      iframe {
        display: block;
        width: 500px;
        height: 500px;
        border: 2px solid green;
      }
    </style>
    <iframe src="data:text/html,<body style='overflow: hidden; overflow-y: auto;'><div style='background: blue; height: 2000px'>"></iframe>

[2016-05-16 19:17] jdm commented on #11198
Please do!

[2016-05-16 19:30] evrimoztamur commented on #11197
Addressed by https://github.com/servo/servo/pull/11209.

[2016-05-16 20:17] ConnorGBrewster commented on #11061
Fixed

[2016-05-16 20:17] #11061 closed

[2016-05-16 20:45] jdm commented on #11181
The command is not actually running the tests with any zeal enabled; the `--pref foo` argument to `test-wpt` is ignored.

[2016-05-16 20:46] jdm commented on #11181
I'm pretty sure every test listed in that log is either known to contain unpaired surrogate characters that cause a panic or generate huge amounts of output that can trigger timeouts.

[2016-05-16 20:48] larsbergstrom commented on #11181
Ugh. Well, PRs welcome :-)

Thanks for the catch!

[2016-05-16 20:48] #11181 closed

[2016-05-16 21:28] nox opened #11212 "Intermittent timeout in /css-variables-1_dev/html/variable-external-supports-01.htm"
[code]

[2016-05-16 21:30] nox commented on #11181
See #11211.

[2016-05-16 23:16] rebstar6 commented on #10311
Alright, added the new tests - everything is here: https://github.com/rebstar6/servo/commits/refPol2
I'm still getting some errors after implementing your diff above. 1st error was no document.referrer method, so I added the shell for that back, and now it's complaining that parent.postMessage is not a function.
Is it possible the sourcing is messed up for the new tests at tests/wpt/mozilla/tests/

[2016-05-16 23:20] jdm opened #11216 "Write a mach command to generate the contents of pub_domains.rs"
It was committed as part of #4519 with no documentation as to how it was created. It should be documented, and have an easy way to regenerate it as the list of official TLDs gets updated in the future.

[2016-05-16 23:26] jdm commented on #10311
Oh, you'll need to implement the `referrer` attribute on Document like I did in my original postmessage branch. And yes, my diff was modifying the original files under `web-platform-tests/referrer-policy`; it should be applied to your duplicates under mozilla/ instead.

[2016-05-16 23:37] rebstar6 commented on #10311
I think that's what I did though -
This commit adds referrer: https://github.com/rebstar6/servo/commit/35454e8dec57a198d403fb5bfd952501d53cee1c
This commit adds the tests in mozilla/ with your changes:
https://github.com/rebstar6/servo/commit/e810e4148afcd451016f4e38ba8d8ebbf0dc1e77

With those, the error I'm getting is:
ERROR:js::rust: Error at http://www1.web-platform.test:8000/referrer-policy/g

[2016-05-17 00:50] KiChjang opened #11217 "Make test-tidy --faster be the default behaviour and add --all parameter"
`./mach test-tidy --faster` runs the WPT lint if there is a change to the WPT test files, and `./mach test-tidy` runs the WPT lint on **all WPT files** regardless of whether there's a change. We should instead make `./mach test-tidy --faster` the default behaviour and add an option to run the WPT lint on all WPT files.

Code: `python/tidy/servo_tidy/tidy.py`, `python/servo/testing_commands.py`

[2016-05-17 00:50] highfive commented on #11217
cc @aneeshusa

[2016-05-17 02:05] shinglyu commented on #10452
@wlach: Thanks. So did you check the signature by manual querying it in the SQL DB or is it shown on the UI?

[2016-05-17 02:06] #11198 closed

[2016-05-17 03:03] paulrouget commented on #9918
Note: Glutin might overwrite `CFBundleName`. See https://github.com/servo/glutin/pull/88

[2016-05-17 04:09] rzambre opened #11218 "Profiling Parsing"
Ideally we'd like to know how much time Servo spends in its pipeline stages. Currently we have profiling set up for Styling, Primary Layout Passes, Compositing, Painting and Image Saving. We'd like to get profiling numbers in stages like Parsing, Javascript and resource fetching (network). This issue is focusing only on profiling Parsing. Although some profiling code in script_thread.rs exists, it

[2016-05-17 04:26] jdm commented on #10311
Ugh. Every URL in those tests and scripts that refers to `/referrer-policy/` (note leading /) is resolving to the files in web-platform-tests/referrer-policy/, rather than mozilla/tests/mozilla/referrer-policy/. :(

[2016-05-17 04:27] jdm commented on #10311
It might be possible to run a find-and-replace operation on that directory to replace `"/referrer-policy` with `"/_mozilla/mozilla/referrer-policy`.

[2016-05-17 04:59] Mylainos commented on #10580
@jdm I've a problem with the iframe.

[2016-05-17 08:18] broesamle commented on #11172
Although I am not yet done with reading through relevant code I expect this one be related to #5910 .

[2016-05-17 08:25] paulrouget opened #11223 "Reddit.com doesn't load completely within browser.html"
Duplicate of https://github.com/browserhtml/browserhtml/issues/1037 as this is apparently a servo bug.

Often the mozbrowser iframe doesn't get the `loadend` event when loading reddit.com.

It appears to happen only with browserhtml.

This is what I managed to figure out so far:

- In document.rs, in `finish_load`, for the `reddit.com` pipeline, `DocumentLoadsComplete` is properly sent. Which mean

[2016-05-17 08:34] nox opened #11224 "Fix the 66 gecko-servo warnings"
These are the last warnings we have on our main builds on Buildbot. Fix them and our waterfall will be greener than Hulk.

[code]

Cc @emilio @bholley

[2016-05-17 08:49] paulrouget commented on #11223
Just to confirm, the loaders we are talking about in `finish_load` and in `handle_loads_complete` (which comes after), are both the same (same pipeline).

[2016-05-17 09:13] paulrouget commented on #11223
This script is added:

`https://engine.a.redditmedia.com/ados?t=1463476273520&request={%22Placements%22:[{%22A%22:5146,%22S%22:24950,%22D%22:%22main%22,%22AT%22:5,%22Properties%22:{}},{%22A%22:5146,%22S%22:24950,%22D%22:%22sponsorship%22,%22AT%22:8,%22Properties%22:{}}],%22Keywords%22:%22s.frontpage%2Cs.loggedout%2Cs.sfw%22,%22Referrer%22:%22undefined%22,%22IsAsync%22:true,%22WriteResults%22:true}

[2016-05-17 09:45] paulrouget commented on #11223
So we never get the headers for this script. So I guess it's a network issue.

[2016-05-17 09:55] paulrouget commented on #11223
I'm wondering if I'm hitting the ssl issue of https://github.com/servo/servo/issues/11008

I'm not getting headers (at least, `headers_available` is not called in `htmlscriptelement.rs`) but still, this script is added to the loader. Any idea what else I could look at?

[2016-05-17 11:05] Ms2ger commented on #10965
Note that this can't be a normal `interface`, because we don't want to generate bindings for it.

[2016-05-17 11:22] Ms2ger opened #11226 "Should http_loader talk to devtools?"
It seems like that's the wrong layer to handle this.

CC @jdm

[2016-05-17 11:22] highfive commented on #11226
cc @fitzgen

[2016-05-17 11:36] Ms2ger opened #11227 "ConnectionEstablishedTask needs updating"
The spec at https://html.spec.whatwg.org/multipage/#feedback-from-the-protocol no longer has our step 1 (protocols) and 5 (cookies). I believe those are now handled at https://fetch.spec.whatwg.org/#websocket-protocol. We should review how to update our code to match that.

Code: `components/script/dom/websocket.rs`.

[2016-05-17 11:39] Ms2ger opened #11228 "Should cookies be handled on the storage thread?"
This may be more logical than the resource thread.

[2016-05-17 12:47] tschneidereit commented on #11223
This seems to only happen on slower machines, or with fewer CPU cores: on a 2012 MBP with 4 (physical) cores, I can't reproduce at all, whereas on a 2015 Macbook with 2 cores, it happens reliably.

[2016-05-17 13:09] jdm commented on #11226
The developer tools need to know the exact bytes that go over the wire, so I don't really see what other layer is possible.

[2016-05-17 13:11] jdm commented on #11228
That would make it harder to ensure consistency when making network requests (ie. `document.cookie = "foo=bar"; xhr.send()`).

[2016-05-17 13:12] jdm commented on #11218
I have a branch which provides profiling information for HTML parsing, JS evaluation, and HTTP connections. I'll polish it up.

[2016-05-17 13:13] highfive commented on #11218
cc @fitzgen

[2016-05-17 13:20] KuoE0 commented on #10428
Hi, I intent to try on this three attributes:

- requestStart
- responseStart
- responseEnd

Did anyone already work on them?

[2016-05-17 13:36] jdm commented on #10428
Those should be fine to work on. The response properties can probably be set in the `ParserContext` methods in servohtmlparser.rs, and the request can be noted in ScriptThread::start_page_load.

[2016-05-17 14:41] rebstar6 commented on #10311
Still not working :/
New error message though! Unfortunately generic and hard to decipher.
129:130: syntax error: Expected end of line but found unknown token. (-2741)

[2016-05-17 14:49] jdm commented on #10311
I've seen that every time I've run the tests and it hasn't impacted the actual test results.

[2016-05-17 14:54] rebstar6 commented on #10311
For me it's not running them though - I get a timeout

On Tuesday, May 17, 2016, Josh Matthews <notifications@github.com> wrote:

[2016-05-17 15:12] jdm commented on #10311
Looks like a replacement was missed:
[code]

[2016-05-17 15:18] nox opened #11233 "Make --profiler-trace-path=~/trace.html not create a ~ repository in $PWD"

[2016-05-17 15:20] metajack commented on #11233
Shouldn't this be shell expanded before it gets to Servo? Or does it not get expanded because it's in the interior of a string?

[2016-05-17 15:21] nox commented on #11233
@metajack `echo --pref=~/foo` vs `echo --pref ~/foo`

[2016-05-17 15:24] metajack commented on #11233
TIL the `--` is significant:

[code]

[2016-05-17 15:25] fduraffourg commented on #11216
May I work on this?
If so, can you explain more specifically what you expect for the documentation: doc on the source code or somewhere else? And to explain just how to regenerate the list or something else?

[2016-05-17 15:34] fitzgen commented on #11218
See also #10908, which exists to explore ways to automate finding areas where we do not have profiling coverage.

[2016-05-17 15:35] jdm commented on #11216
@fduraffourg Part of the reason I filed this was that I'm not sure where it came from :) If you can find a reasonable source in https://github.com/mozilla/gecko-dev/ that might be a good start.

[2016-05-17 15:37] metajack commented on #11223
@tschneidereit have you tried rr's random scheduler?

@nox This might be a good bug to take.

[2016-05-17 15:37] nox commented on #11233
@metajack OMG that hurts my brain.

[2016-05-17 15:40] fduraffourg commented on #11216
I was thinking of https://publicsuffix.org/ which is maintained by Mozilla.
It's used by Firefox, Chrome, Opera and IE for "Restricting cookie setting" (https://publicsuffix.org/learn/), so I suppose it's appropriate.

[2016-05-17 15:43] nox opened #11234 "Intermittent crash in /workers/semantics/encodings/004.worker"
[code]

[2016-05-17 15:44] Ms2ger commented on #11234
Looking into it

[2016-05-17 16:01] nox commented on #11223
Will look into that.

[2016-05-17 16:39] jdm commented on #11216
That does seem sensible.

[2016-05-17 16:44] rebstar6 commented on #10311
Yep, got it. Though still giving me problems with that:

  ▶ TIMEOUT [expected OK] /_mozilla/mozilla/referrer-policy/no-referrer/meta-referrer/cross-origin/http-http/iframe-tag/generic.keep-origin-redirect.http.html
  │
  │ POLICY STR "no-referrer"
  │ ERROR:js::rust: Error at http://web-platform.test:8000/_mozilla/mozilla/referrer-policy/generic/common.js:116:29: JSON.parse: unexpected end of dat

[2016-05-17 16:58] rzambre commented on #11218
@jdm that's great, thanks :)

[2016-05-17 17:01] bholley commented on #11224
Any idea what the fix here is?

[2016-05-17 17:02] paulrouget commented on #11223
CPU usage hits ~100% while that happens.

I'll attempt to profile, that might help us understand if we get stuck somewhere.

[2016-05-17 17:02] nox commented on #11224
@bholley Sprinkle a bunch of `#[repr(C)]` arguments on the non-FFI types I guess?

[2016-05-17 17:03] paulrouget commented on #11223
Also - depending on time, reddit doesn't serve the same ads, so it might not happen all the time. At the moment, it sill happens, but with a different URL.

[2016-05-17 17:04] bholley commented on #11224
I guess that's something we'd need in bindgen. @emilio, can you add this to your non-urgent todo list?

[2016-05-17 18:36] paulrouget commented on #11223
Result of the profile *after* the loadend got blocked: http://people.mozilla.org/~prouget/bugs/issue11223.svg (csv version: http://people.mozilla.org/~prouget/bugs/issue11223.csv).

[2016-05-17 18:38] paulrouget commented on #11223
@till / @gozala can you guys check (or tell me how to check) why we have JS code running while the iframe is not sending event anymore?

PS: I'm disabling the progressbar like this, is that enough?

[code]

[2016-05-17 19:24] jdm commented on #10311
This fixes it for me. I traced the URL that was being generated by the redirection code in subresource.py and realized that the `id` query parameter wasn't being included in the final URL.
[code]

[2016-05-17 19:34] metajack commented on #10425
@jdm reports that speculative HTML parsing is not the top issue on any profile he's investigated, so I think we should focus our efforts elsewhere. It's not yet the lowest hanging fruit.

[2016-05-17 19:37] pcwalton commented on #11151
Regression started with `overflow: scroll` support: https://github.com/servo/servo/pull/10717

[2016-05-17 19:38] rebstar6 commented on #10311
Awesome! PR out - https://github.com/servo/servo/pull/11238

[2016-05-17 20:04] jdm commented on #8342
This in particular makes cnn.com's page load times abysmal, since we have no prioritization or pooling for our network threads, and it ends up launching 356 simultaneous web font requests right after the stylesheets are parsed.

[2016-05-17 20:07] pcwalton commented on #8342
Fascinating. Thanks for diving into this, @jdm!

[2016-05-17 21:57] blacksvk commented on #10153
I found more gifs relevant to this issue. They are rendered wrong in servo.
http://siemensmania.cz/images/phones/cfx65.gif
http://siemensmania.cz/images/phones/a65.gif
https://www.pcforum.sk/styles/white/imageset/sticky_read_locked.gif
https://www.pcforum.sk/styles/white/imageset/announce_read_locked.gif

[2016-05-18 00:24] #9965 closed

[2016-05-18 02:02] paulrouget commented on #11223
I think it's also necessary to remove `ProgressAction(Progress.Start(time))` from `startLoad` to not have an JS running.

[2016-05-18 02:22] paulrouget commented on #11223
Commenting out `ProgressAction(Progress.Start(time))` (code that updates the progressbar while the page is loading) in browserhtml makes the issue disappear.

Using `setTimeout(16)` instead of `requestAnimationFrame` also makes the issue disappear (we know that `rAF` has an overhead: https://github.com/servo/servo/issues/9844).

So basically, when CPU gets busy, a script might never be executed/do

[2016-05-18 05:26] daoshengmu commented on #3451
Is there any update for this? I am solving WPT for the WebGL function implementation. For some tests, I have no idea why is not pass. So, I need a debug method to help me. Previously, I use ```println!``` to print the debug log to help me. But just two days ago, it didn't work... I don't know why I can't see the log on my console. Any suggestion?

[2016-05-18 05:50] #10876 closed

[2016-05-18 06:35] paulrouget opened #11241 "implement servo --version , and include the compilation date"
In the browserhtml team, we use servo nightly builds, and it's always difficult to know which version of servo one is currently using.

Could we have a `--version` option, that would return something like:

[code]

[2016-05-18 07:00] paulrouget commented on #11108
I thought we could work around that, but it's messing up with the overlay code we use in browserhtml.

If this is too hard to solve, I can try harder to work around this.

/cc @pcwalton

[2016-05-18 08:11] s-baldrick commented on #11158
Hi, I've done a couple patches for this - https://github.com/s-baldrick/servo/tree/11158, and now I am trying to come up with some tests, although I am not sure what will be a sensible way of going about it since not all of these events will be triggered. I guess asserting if setting an event handler does not fail could be one way, but then they all get set in the same way, so testing for this mig

[2016-05-18 08:32] kaksmet commented on #10031
This was fixed by https://github.com/servo/glutin/pull/85

[2016-05-18 08:32] #10031 closed

[2016-05-18 09:33] KiChjang commented on #11158
You can actually open a PR right now, and I'll do a try run and see which tests it'll break. Some of our WPT tests are marked as FAILING, but after defining these events, I'd expect plenty of them to PASS.

[2016-05-18 09:57] nox commented on #11223
@paulrouget Could we somehow list the blocking loads stored in `DocumentLoader::blocking_loads`?

[2016-05-18 09:59] shinglyu commented on #10531
(Please ignore) @shinglyu ping myself so it shows on my dashboard

[2016-05-18 10:05] s-baldrick commented on #11158
Cool, I'll open it this evening, as I am at work right now.

[2016-05-18 10:43] nox commented on #11223
Do you think we can reproduce it by using `nice` on Servo?

[2016-05-18 11:09] Ms2ger opened #11246 "Handle panics for all pipeline-associated threads"
(Preliminary list)

* [x] script
* [x] web workers
* [ ] canvas2d
* [ ] webgl
* [ ] layout
* [ ] layout threadpool
* [ ] paint
* [ ] paint threadpool
* [ ] some networking threads?

[2016-05-18 11:09] Ms2ger commented on #11246
CC @asajeffrey

[2016-05-18 11:10] nox commented on #11233
I think `--profiler-trace-path` shouldn't create any new path, so in my case it wouldn't have created a `~` folder.

[2016-05-18 11:17] nox commented on #11223
Is the HTML sample in https://github.com/browserhtml/browserhtml/issues/1037 still relevant? Seems like it happens 100% of the time when I try locally with it.

[2016-05-18 11:21] nox commented on #11223
Oh, not 100% of the time, but I can reproduce it on my fancy laptop at least.

[2016-05-18 11:26] nox commented on #11223
Actually I had just missed the `end` message the first few times, so I didn't notice I wasn't reproducing the never-ending load. :(

[2016-05-18 12:16] #11234 closed

[2016-05-18 12:17] nox commented on #7326
That PR got merged, and it already landed in our tree. Closing.

[2016-05-18 12:17] #7326 closed

[2016-05-18 12:47] nox opened #11247 "Make the name attribute of HTMLMetaElement use an atom"
The implementation for VirtualMethods of HTMLMetaElement should override `parse_plain_attribute` similarly to what is done in `Element::parse_plain_attribute` for the `id` element.

Files:
* components/script/dom/htmlmetaelement.rs

[2016-05-18 13:07] paulrouget commented on #11223
Not sure to understand the question. You want to `println` them?

I haven't tried, but I guess if you nice-up the the process or somehow manage to limit the number of available cores, that might help.

To reproduce, something "heavy" needs to happen on the side. browserhtml happens to have an expensive `rAF` loop. Maybe we can have a reduced test case if we re-use the example from browserhtml/brow

[2016-05-18 13:08] jdm commented on #3451
`./mach test-wpt path/to/test.html --debugger=[lldb|gdb]` works fine. For seeing stdout from tests, you need to use `./mach test-wpt path/to/test.html --log-mach -`.

[2016-05-18 13:24] paulrouget commented on #11223
Just tried. Very expensive `rAF`. I can't reproduce outside of browserhtml.

[2016-05-18 13:53] #11218 closed

[2016-05-18 14:10] asajeffrey commented on #11246
IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=18+May+2016&e=18+May+2016#c432300

TL;DR: get all threads to use `spawn_named_with_send_on_panic`.

[2016-05-18 14:22] asajeffrey opened #11248 "Fire a mozbrowsererror event when a non-pipeline thread panics"
At the moment we're only firing a `mozbrowsererror` event when a pipeline thread panics.

Related issues: #10334 and #11246.

cc: @Ms2ger @paulrouget

[2016-05-18 14:58] #10897 closed

[2016-05-18 16:15] pcwalton commented on #11108
Grrrrrrrr. I think I'm going to put up a whiteboard next to my desk counting the number of times this has regressed.

[2016-05-18 16:18] paulrouget commented on #11108
I think it's also related to the overflow:scroll PR.

[2016-05-18 16:53] KiChjang commented on #6963
Spec link: https://www.w3.org/TR/IndexedDB/

[2016-05-18 16:58] metajack commented on #11108
Will @asajeffrey's new webdriver stuff allow us to make a test for this?

[2016-05-18 17:07] asajeffrey commented on #11108
At the moment, I'm afraid not, because the relevant bit of webdriver is https://www.w3.org/TR/webdriver/#actions, which is currently not implemented in https://github.com/jgraham/webdriver-rust/blob/master/src/command.rs#L52. @jgraham would know if there's a deep reason for this.

[2016-05-18 17:10] jgraham commented on #11108
The deep reason is "this stuff is hard and, for some odd reason, I have ended up writing the spec for it (which is not yet done) despite having very little relevant domain experience". Since there is no spec there is also no implementation yet (although I have a branch of the protocol library which matches the current spec pre-drafts, so one *could* start implementing the semantics in servo, if on

[2016-05-18 17:14] larsbergstrom commented on #2853
Most of the Servo-critical stuff here has been fixed.

Issues relevant to using Rust/Cargo in Gecko have been moved to a google doc:
https://docs.google.com/document/d/1uubYE7JXaVY10PoAY9BVx8A-T11ZxP1RYqNOrFJwdcU/edit#

[2016-05-18 17:14] #2853 closed

[2016-05-18 17:24] asajeffrey opened #11253 "Support webdriver sessions"
At the moment we don't support multiple webdriver sessions.

cc @jgraham

[2016-05-18 17:26] asajeffrey commented on #5970
There's now Servo webdriver support in wptrunner: https://github.com/w3c/wptrunner/pull/188. The main remaining issue is that Servo doesn't support multiple sessions: #11253.

[2016-05-18 17:31] asajeffrey opened #11254 "Support webdriver actions"
Currently there's no Servo support for webdriver actions (https://www.w3.org/TR/webdriver/#actions) e.g. mouse actions, and indeed the webdriver crate has them commented out (https://github.com/jgraham/webdriver-rust/blob/master/src/command.rs#L52).

cc: @jgraham

[2016-05-18 17:33] asajeffrey commented on #11108
I added an issue for adding webdriver action support: #11254. We can decide whether to push forward on this, or wait until the spec stabilizes.

[2016-05-18 17:35] asajeffrey commented on #8623
A couple of related issues: #11254 (support webdriver actions) and #11253 (support webdriver sessions).

[2016-05-18 18:58] angyalp commented on #9585
To run servo on machines with older graphics card, one can use llvmpipe (http://www.mesa3d.org/llvmpipe.html) as a software renderer. Llvmpipe uses the CPU for rendering, so the performance will be far from ideal, but even the new webrenderer will work (it requires Open GL 3.2) and you don't need to touch the source code of servo.
I have Kubuntu 15.10 installed with Mesa 11.0.2. To force software

[2016-05-18 19:28] asajeffrey opened #11256 "Support webdriver in ports/servo"
Webdriver currently doesn't really support browser.html. We should:
- Treat each browser.html tab as a top-level browsing context.
- Clear tabs associated with a session when it is deleted.

and possibly:
- Create a new tab when a new session is started.

cc: @paulrouget @jgraham

[2016-05-18 20:33] josephpd3 commented on #11247
Taking a look at this

[2016-05-18 22:34] andreastt commented on #11253
What does multiple WebDriver sessions entail? I don’t think other browsers support multiple (concurrent) sessions.

[2016-05-18 22:55] asajeffrey commented on #11253
I'm thinking multiple sequential sessions.

[2016-05-18 23:31] nox commented on #9844
@paulrouget That doesn't seem to be true anymore since #11205.

[2016-05-18 23:33] pcwalton commented on #11223
@nox Mind if I assign you here?

[2016-05-18 23:35] nox commented on #11223
@pcwalton Done.

[2016-05-19 01:53] #11247 closed

[2016-05-19 02:59] jdm opened #11259 "Add profile trace markers for JS callbacks"
When invoking compiled JS callbacks, we should wrap them in a `profile()` call with the `ScriptEvaluate` category. To make sure we don't miss any, we should add this to the generated bindings in `CallbackMethod`.

[2016-05-19 02:59] highfive commented on #11259
cc @fitzgen

[2016-05-19 03:33] paulrouget opened #11260 "requestAnimationFrame runs at 1 FPS"
… on my computer at least.

Most likely related to https://github.com/servo/servo/pull/11205

[2016-05-19 03:35] paulrouget commented on #11260
Actually… 0 FPS, unless I resize the window.

[2016-05-19 03:35] paulrouget commented on #9844
@nox: https://github.com/servo/servo/issues/11260

[2016-05-19 04:12] campaul commented on #11241
I'm interested in working on this.

[2016-05-19 04:15] paulrouget commented on #11241
@campaul Thanks! Command line options are defined here: https://github.com/servo/servo/blob/master/components/util/opts.rs

[2016-05-19 04:17] paulrouget opened #11261 "Servo crash in script::dom::htmlanchorelement::HTMLAnchorElement::update_href"
It's a very recent regression. Bisecting…

[code]

[2016-05-19 04:20] jdm commented on #11261
I suspect #11182.

[2016-05-19 04:27] jdm commented on #11241
The only idea I have for including the build date is to write it to a file in `build.rs` and use that file via the `include_str!` macro.

[2016-05-19 04:40] paulrouget commented on #11261
@jdm yes.

Reverting https://github.com/servo/servo/pull/11182 solves the crash.

[2016-05-19 04:43] campaul commented on #11241
I'm using `env!("CARGO_PKG_VERSION");` to get the version number, so I was thinking I could do something similar and have mach set an environment variable with the current date.

[2016-05-19 05:09] g-k commented on #8756
Should these be more like the [secure cookie tests](https://github.com/w3c/web-platform-tests/pull/2385) or only in python like the [functional cookie tests](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/wptserve/tests/functional/test_cookies.py)?

[2016-05-19 05:12] jdm commented on #11241
That might work too!

[2016-05-19 05:37] jdm commented on #8756
The secure cookie tests.

[2016-05-19 06:09] paulrouget commented on #11223
So for the script mentioned in my 2nd comment, headers are being downloaded.

I can tell because the script go through this: https://github.com/servo/servo/blob/dea610986dbf4a1e5898cbe6b57832784e786f3a/components/net/resource_thread.rs#L145 (`start_sending_opt`).

But I think the listener is not called. I added a `println` here https://github.com/servo/servo/blob/dea610986dbf4a1e5898cbe6b57832784e

[2016-05-19 06:16] paulrouget commented on #11260
`requestAnimationFrame` doesn't run on my macbook. But it does run on my macbook pro.

[2016-05-19 07:10] nox commented on #9844
Just want to make sure, you are using latest master right?

[2016-05-19 07:19] paulrouget commented on #9844
Yes.

[2016-05-19 07:31] KiChjang commented on #11261
How did our tests not catch this?

[2016-05-19 07:59] KiChjang commented on #11261
In any case, I'm currently working on this.

[2016-05-19 08:09] paulrouget commented on #11223
Ignore previous comment. I'm getting `response_complete`.

[2016-05-19 09:11] paulrouget commented on #11260
This is the code I use:

[code]

[2016-05-19 09:21] nox commented on #11260
@pcwalton With the change in #11205, when is `tick_animations_for_pipeline` called again for an animation frame requested by the animation callback itself?

In `run_the_animation_frame_callbacks`, `self.animation_frame_list.borrow().is_empty()` won't be true anymore, so `NoAnimationCallbacksPresent` isn't sent to the constellation.
https://github.com/servo/servo/blob/dea610986dbf4a1e5898cbe6b57832

[2016-05-19 09:42] KiChjang commented on #11261
#10903 should have a test that tests this, but it was passing in #11182.

[2016-05-19 09:49] KiChjang commented on #11261
Also, I can't seem to find any borrowing happening in `update_href` at the current tip of master; where does the the `.borrow()` call for `DOMRefCell` come from?

[2016-05-19 10:54] paulrouget commented on #11223
The script is being downloaded via `http_loader`. In [`ProgressSender::send`](https://github.com/servo/servo/blob/master/components/net/resource_thread.rs#L58)(*resource_thread.rs*) eventually get the complete response. Calls `invoke_with_listener` (*net_traits/lib.rs*), which calls [`sender.send(action)`](https://github.com/servo/servo/blob/dea610986dbf4a1e5898cbe6b57832784e786f3a/components/net_

[2016-05-19 12:50] nox opened #11266 "Intermittent crash in /html/dom/reflection-grouping.html"
[code]

[2016-05-19 13:34] mitchhentges commented on #11217
I think I've got this

[2016-05-19 14:08] nox commented on #11223
@paulrouget Managed to reproduce it on my MBP by limiting the number of cores in Instruments.app's preferences. I never see an 'end' message anymore, though it doesn't use 100% CPU.

[2016-05-19 14:22] emilio opened #11268 "Avoid creating a thread every single event we receive"
We're doing this right now, for some reason I can't understand. We spawn a single thread just to sleep, ensure we're not cancelled, and send an empty message.

If we're going to use threads, we should at least use a thread pool, but probably there's a smarter way to do this, like a single thread that sleeps just the necessary time to dispatch the next event, or something.

I plan to take a look at

[2016-05-19 14:25] #11197 closed

[2016-05-19 14:31] asajeffrey commented on #11268
I think I can see how to do this fairly easily: we have a dedicated thread for the event queue, which parks itself, then when it is unparked looks to see if the head of the queue is in the past, and if so pops and triggers it, then goes back to being parked. To schedule an event, we just add it to the event queue (in time order) and if we added to the front of the queue, unpark the queue thread.

[2016-05-19 14:48] aneeshusa commented on #11246
Does it also make sense to do this for other threads? Specifically, I was thinking of doing this for the time and memory profiling threads, which currently have a few panics in them. (I'd also like to remove those panics at some point...)

[2016-05-19 14:55] asajeffrey commented on #11246
@aneeshusa yes, we should get all threads using `spawn_named_with_send_on_panic` if possible (of course, this may not be possible for threads that are created by libraries out of our control).

[2016-05-19 15:09] izgzhen opened #11271 "Naming issue of the FooThread and alike"
This is a follow-up of discussion started from https://github.com/servo/servo/pull/11189.

The naming issues include:
- `Thread` is not `IpcSender`: we type-alias a lot like `FooThread = IpcSender<FooMsg>`. The "thread" here might not be indicating what we want
- `net_traits::IpcSend` is coupled with `Ipc` which might not be a good name (as suggested by @nox)
- `net_traits::CoreResourceMsg` and ot

[2016-05-19 15:40] KiChjang commented on #11271
Off the top of my head, we can rename it a `FooChannel` or `FooPipe`, since it is some sort of message passing system.

[2016-05-19 15:53] metajack commented on #11108
I suspect this is a case where our implementation would help push the spec forward, no? This is obviously not immediately critical, but we should get this done in Q3 if possible.

[2016-05-19 15:57] izgzhen commented on #11271
+1 for the FooChannel one

[2016-05-19 16:07] izgzhen commented on #11271
BTW we might use FooChan if the longer one is too verbose.

Also the irc paste for reference here:

10:46 PM <ajeffrey> in fact I prefer not introducing type synonyms for IpcSender<FooMsg> in general,
10:46 PM <nox> ajeffrey: That doesn't sound great.
10:46 PM <ajeffrey> as it makes it trickier to track down the FooMsg definition.

[2016-05-19 16:09] pcwalton commented on #11260
I'm pretty sure this is a race, which also causes frames to randomly drop on my machine.

[2016-05-19 16:32] nox commented on #11260
@pcwalton But is it related to what I described?

[2016-05-19 17:31] pcwalton commented on #11260
Give me a bit to think about it :)

[2016-05-19 17:41] nox opened #11276 "Intermittent timeout in /cors/redirect-origin.htm"
[code]

[2016-05-19 17:46] jdm commented on #11276
Same cause as #11100.

[2016-05-19 17:55] kilobtye commented on #11120
I met the same issue. And it's not just text.

After some debugging, I found the overflow size is not updated after window resize. I tried to add STORE_OVERFLOW to layout_thread::reflow_all_nodes and the issue is gone.

Don't know if it is a proper solution, since I'm new to servo.

[2016-05-19 17:57] jdm commented on #11120
@mbrubeck ^

[2016-05-19 18:42] mbrubeck commented on #11120
@kilobtye:

That sounds correct to me.  Could you submit a PR, please?

Thanks!

[2016-05-19 19:32] mitchhentges commented on #8348
I think I got this, fam

[2016-05-19 19:38] #11261 closed

[2016-05-19 19:57] jdm opened #11280 "Make update_href accept a &Url argument instead of DOMString"
This is a followup to the changes in #11264. This will allow removing some duplication in all of the callers of `update_href` in `htmlanchorelement.rs`. We can call it from inside the match, rather that storing an intermediary value before calling it.

Code: `components/script/dom/htmlanchorelement.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/text-level-semantics/the-a-e

[2016-05-19 19:59] jdm opened #11281 "Create a test for #11264"
It's not clear to me why it's difficult to test. We had a reproducible test case, and the code changes seem to be working around a particular situation that can occur. Why can't we reverse-engineer the conditions that make that code be executed?

cc @KiChjang

[2016-05-19 21:12] KiChjang commented on #11281
I'm really not sure why the logs show that there was a `.borrow()` call from `update_href` before. I double-scanned and triple-scanned `htmlanchorelement.rs` before #11264 was merged, and I still don't see any `borrow()` at all in `update_href`.

I wasn't able to reproduce it on my computer since I'm using Linux and I hit a `FontCache` panic.

[2016-05-19 21:15] KiChjang commented on #11280
I suspected that the crash in #11261 was precisely _because_ `update_href` was called from within the match, since `self.url` is borrowed mutably in the match expression, and subsequently borrowed again in `update_href`.

[2016-05-20 01:04] jdm commented on #11246
I'm not sure that it makes sense to report panics to the embedding that aren't the related to a particular pipeline.

[2016-05-20 01:49] asajeffrey commented on #11246
It would be nice to have some way to get crash reports for any thread panic, not just pipeline threads. I believe that is what @paulrouget is expecting.

[2016-05-20 02:41] mbrubeck commented on #4382
Fixed by #7786.

[2016-05-20 02:41] #4382 closed

[2016-05-20 02:46] mbrubeck commented on #582
These are both fixed, possibly by #10895.

[2016-05-20 02:46] #582 closed

[2016-05-20 02:47] mbrubeck commented on #215
This has been fixed for a while now.

[2016-05-20 02:47] #215 closed

[2016-05-20 02:53] mbrubeck commented on #4320
If someone wants to enable this on Mac OS, they can clone the servo/rust-harfbuzz repo and edit the [makefile.cargo](https://github.com/servo/rust-harfbuzz/blob/ed6531a7de68fd4b9d7d4fb285dd807bc30eab11/harfbuzz-sys/makefile.cargo) to add `--with-coretext` to the configure arguments if `$TARGET` contains `"apple-darwin"`.

(Cross-platform support is outside of the Servo scope; we'll just wait for i

[2016-05-20 03:08] highfive commented on #581
cc @fitzgen

[2016-05-20 03:09] highfive commented on #930
cc @fitzgen

[2016-05-20 03:09] mbrubeck commented on #930
This is fixed; the profiler currently tracks ongoing reflows, layouts, paints, etc.

[2016-05-20 03:09] #930 closed

[2016-05-20 03:13] mbrubeck commented on #1232
Basic support was implemented in #5067. More specific issues can be filed for any remaining features.

[2016-05-20 03:13] #1232 closed

[2016-05-20 03:14] mbrubeck commented on #1373
No longer an issues since green threading was removed.

[2016-05-20 03:14] #1373 closed

[2016-05-20 03:22] mbrubeck commented on #1471
If this is still something we want to fix, it would involve taking the logic from [Element::TagName][1] and performing it when the element is created (for example in `Element::new_inherited_with_state`) and storing the result in a new field of the Element struct.  Then `TagName` could just return the value of that field.

[1]: https://github.com/servo/servo/blob/bcea0ada27de694cd0c465d04fd35eba705

[2016-05-20 03:28] mbrubeck commented on #1516
These files have moved to these new locations:

* [tests/wpt/mozilla/tests/css/position_fixed_a.html](https://github.com/servo/servo/blob/bcea0ada27de694cd0c465d04fd35eba70503d62/tests/wpt/mozilla/tests/css/position_fixed_a.html)
* [tests/wpt/mozilla/tests/css/position_fixed_b.html](https://github.com/servo/servo/blob/bcea0ada27de694cd0c465d04fd35eba70503d62/tests/wpt/mozilla/tests/css/position_fi

[2016-05-20 03:34] mbrubeck commented on #1521
Servo should no longer be affected by this since it doesn't use glfw anymore.

[2016-05-20 03:34] #1521 closed

[2016-05-20 03:38] mbrubeck commented on #1628
I think this is fixed after a bunch of major changes to this code in recent months.

[2016-05-20 03:38] #1628 closed

[2016-05-20 03:39] mbrubeck commented on #1892
Let's move future contributions to the wiki and in-tree documentation.

[2016-05-20 03:39] #1892 closed

[2016-05-20 03:42] mbrubeck commented on #1972
I think this is fixed at least for the Servo build, by the switch from submodules to Cargo packages.

[2016-05-20 03:42] #1972 closed

[2016-05-20 03:42] mbrubeck commented on #2056
Let's call this done.

[2016-05-20 03:42] #2056 closed

[2016-05-20 03:45] highfive commented on #2139
cc @aneeshusa

[2016-05-20 03:49] #2247 closed

[2016-05-20 03:57] mbrubeck commented on #2306
This is still an issue.  `net::file_loader` loads `about:not-found` if the path is invalid, and then the headless build just sits there "displaying" the not-found page.  I'm not sure if this is necessary to fix; you can always pass `-x` if you want Servo to exit after (attempting) loading the page.  Some friendly console output might be useful, at least.

[2016-05-20 04:01] mbrubeck commented on #2524
This is fixed.

[2016-05-20 04:01] #2524 closed

[2016-05-20 04:02] #2539 closed

[2016-05-20 04:03] #2686 closed

[2016-05-20 04:04] mbrubeck commented on #2704
This should be fixed by #10895 or earlier work.

[2016-05-20 04:04] #2704 closed

[2016-05-20 04:05] mbrubeck commented on #2706
This should be fixed by #2819 or related work.

[2016-05-20 04:05] #2706 closed

[2016-05-20 04:07] mbrubeck commented on #2705
Fixed; we now have only one image cache thread per constellation.

[2016-05-20 04:07] #2705 closed

[2016-05-20 04:08] mbrubeck commented on #2718
Closing because we are not currently working on parallel painting, I believe.

[2016-05-20 04:08] #2718 closed

[2016-05-20 04:13] mbrubeck commented on #2895
We now panic instead of looping if failure.html is not found.

[2016-05-20 04:13] #2895 closed

[2016-05-20 04:17] mbrubeck commented on #2896
This now prints "URL parsing failed" and exits cleanly with error 1.

[2016-05-20 04:17] #2896 closed

[2016-05-20 04:19] aneeshusa commented on #11100
The FD limits were Salted in https://github.com/servo/saltfs/pull/227, so the configuration should be consistent everywhere. Note that OS X doesn't use `/etc/launchd.conf` anymore: http://stackoverflow.com/a/26311753.

[2016-05-20 04:23] mbrubeck commented on #3007
Is this still an issue?

[2016-05-20 04:23] #3033 closed

[2016-05-20 04:24] #3188 closed

[2016-05-20 04:28] mbrubeck commented on #3330
Servo no longer depends on glfw.  Is this still an issue?

[2016-05-20 04:29] mbrubeck commented on #3335
This appears to be fixed.

[2016-05-20 04:29] #3335 closed

[2016-05-20 04:35] mbrubeck commented on #3380
This seems to be fixed.

[2016-05-20 04:35] #3380 closed

[2016-05-20 04:36] mbrubeck commented on #3390
maybe duplicate of #5216?

[2016-05-20 04:36] #3390 closed

[2016-05-20 04:39] mbrubeck commented on #2750
Fixed by #6530?

[2016-05-20 04:39] #2750 closed

[2016-05-20 04:41] mbrubeck commented on #2894
Fixed, probably by #6501 and related work.

[2016-05-20 04:41] #2894 closed

[2016-05-20 04:42] mbrubeck commented on #3408
Fixed by servo/mozjs#20.

[2016-05-20 04:42] #3408 closed

[2016-05-20 04:44] jdm commented on #2306
Yeah, I'm not sure why I felt this was a particular problem.

[2016-05-20 04:44] #2306 closed

[2016-05-20 04:44] mbrubeck commented on #3534
Can't reproduce this in more recent builds. Maybe fixed by #7161 and related changes.

[2016-05-20 04:44] #3534 closed

[2016-05-20 04:46] mbrubeck commented on #3578
Works correctly in the latest master.

[2016-05-20 04:46] #3578 closed

[2016-05-20 04:48] mbrubeck commented on #3888
Servo no longer uses GLFW, though we're still working on improving resize performance on various platforms.  Closing this old issue; new issues can be filed for current resize bugs.

[2016-05-20 04:48] #3888 closed

[2016-05-20 04:49] mbrubeck commented on #3954
Fixed by #10208.

[2016-05-20 04:49] #3954 closed

[2016-05-20 05:28] dzbarsky opened #11284 "Implement VERTEX_ATTRIB_ARRAY_BUFFER_BINDING for WebGL GetVertexAttrib"

[2016-05-20 07:26] Gozala opened #11285 "medium.com loads and then disappears as soon as it's finished"
I keep running into this with browser.html mostly, but also happens by just running:

[code]

/cc @paulrouget

[2016-05-20 08:08] paulrouget commented on #11285
/cc @pcwalton @glennw

[2016-05-20 09:47] Ms2ger commented on #11271
-100 on "channel" or "chan". The thing you send on is a "sender"; a "channel" is something with two sides.

[2016-05-20 09:49] shinglyu commented on #10531
@danlrobertson @SimonSapin Looks like the reflow is triggered successfully. As @danlrobertson said, the `order` is in the `compute_damage` function. Do we still need the dirty flag?

Look at this test video: https://youtu.be/862EIcTPfPI

This is the test shown in the video:

[code]

[2016-05-20 09:54] KiChjang commented on #11271
How about `FooMsgSender`?

[2016-05-20 09:55] nox commented on #11271
`FooSender` seems ok to me, or just not introducing type synonyms at all as @asajeffrey seemed to prefer.

[2016-05-20 10:09] broesamle commented on #11172
Thank you for hinting me at these docs.

quick in-between report:
comparing a minimal example `<span>` vs `<div>`, only in the latter case an `opacity != 1` is ever returned in fragment::establishes_stacking_context.

First guess: that hints at dom/parsing...
...but let's see

[2016-05-20 10:13] Ms2ger opened #11291 "Handle panics for all global threads"
Ref #11246

[2016-05-20 10:13] Ms2ger commented on #11246
Filed #11291 for that.

[2016-05-20 10:16] Ms2ger commented on #1471
Note that the computed value needs to be updated if the owner document changes.

[2016-05-20 10:17] paulrouget opened #11292 "Implement window.openURLInDefaultBrowser()"
We want to be able to open links in the default browser. This will be used for the crash reporter in browserhtml (see https://github.com/servo/servo/pull/11286 and https://github.com/browserhtml/browserhtml/issues/1001 for context).

[2016-05-20 10:18] paulrouget commented on #11292
I was thinking of using this: https://crates.io/crates/webbrowser

[2016-05-20 10:20] paulrouget commented on #11292
We don't want this method to be available for normal content window. So we want to add it to the global only if 1) `dom.mozbrowser.enabled == true` 2) it's the top level window.

Would adding a method to `Window.webidl / window.rs` work? Not sure how to make the method available only for top level windows. Is it possible the dynamically add the method to the global?

[2016-05-20 10:27] Ms2ger commented on #11292
We need something like <https://developer.mozilla.org/en-US/docs/Mozilla/WebIDL_bindings#Func>; not sure if we have it yet.

[2016-05-20 10:28] paulrouget commented on #11292
If we do that, even content windows will have the method.

[2016-05-20 10:57] nox commented on #11223
It seems I can't reproduce it since #11274 landed. That included an SSL fix in Hyper.

[2016-05-20 10:59] nox commented on #11223
And that's probably unrelated, given @paulrouget can still reproduce it. :(

[2016-05-20 11:42] nox commented on #4701
I'm pretty sure this can be closed.

[2016-05-20 11:42] #4701 closed

[2016-05-20 11:55] nox commented on #11292
Taking this.

[2016-05-20 11:56] blacksvk opened #11295 "Text with <br> and text-align: justify is positioned wrong"
![justify](https://cloud.githubusercontent.com/assets/10187350/15426984/45e68c68-1e92-11e6-9743-8ca62c0dd207.png)

[code]

[2016-05-20 11:58] KiChjang opened #11296 "display: table-cell incorrectly places element on a new line"
Taken from https://en.wikipedia.org/wiki/Sesame_Workshop

[code]

Expected:
![expected](https://cloud.githubusercontent.com/assets/3248587/15427087/9a0d3b0c-1e60-11e6-8edb-fffa4da1f6be.png)
Actual:
![actual](https://cloud.githubusercontent.com/assets/3248587/15427093/9f31dc6e-1e60-11e6-993c-7d4bb2c35fbb.png)

[2016-05-20 12:15] blacksvk opened #11297 "rowspan is not working"
Cells with rowspan have same size like cells without rowspan.
![rspan](https://cloud.githubusercontent.com/assets/10187350/15427401/1ce09810-1e95-11e6-8a1d-44579fd77c5f.png)

[code]

[2016-05-20 12:16] MartyIX commented on #11128
(I installed `sudo apt install libdbus-glib-1-dev` to fix the issue on my Ubuntu 16.04)

[2016-05-20 12:43] blacksvk opened #11300 "Text within rotated div is displayed incorrectly"
![rotate](https://cloud.githubusercontent.com/assets/10187350/15427978/06355638-1e99-11e6-8f17-f9036b1f7176.png)

[code]

[2016-05-20 13:47] jdm commented on #11292
The support for Func at least partially exists due to #10081; I didn't intentionally strip out support for it when porting Gecko's relevant code.

[2016-05-20 13:50] jdm commented on #11172
`modify_style_for_text` might be interfering with the check, in that case.

[2016-05-20 14:01] jdm commented on #11059
After #11044 this looks like:
[code]

[2016-05-20 14:03] bzbarsky commented on #1471
Right.

I really do think the way Gecko does this (with a shared nodeinfo struct) is pretty good,  I don't know to what extent the sharing would be a problem for Servo...

[2016-05-20 15:51] mbrubeck opened #11302 "Selection or insertion point renders incorrectly when inside ligature"
If Servo renders this textbox with a font that has an `ffi` ligature (which includes the default fonts on most systems), and you use the arrow and/or shift keys to position the insertion point or selection boundary within the "ffi" string, then Servo draws the selection or insertion point at the wrong location (after the ligature instead of inside it):

[code]

We *could* fix this by re-running te

[2016-05-20 17:10] Gozala opened #11304 "CSS properties background-size & background-position don't seem to work."
Here is the an html file that can be used to reproduce the issue:

[code]

above page in servo renders as:

<img width="798" alt="screen shot 2016-05-20 at 9 54 22 am" src="https://cloud.githubusercontent.com/assets/21236/15435410/d822b0e2-1e70-11e6-87ad-f6c6030384fe.png">

In other engines it renders as:

<img width="851" alt="screen shot 2016-05-20 at 9 55 16 am" src="https://cloud.githubusercon

[2016-05-20 17:35] behdad commented on #4382
Yes.

[2016-05-20 17:36] behdad commented on #4320
sgtm

[2016-05-20 18:18] Gozala opened #11305 "qz.com causes rendering glitches in browser.html"
As you can see from attached picture part of the browser.html becomes transparent and you can see through a desktop background. Also note that window corners at the bottom are no longer rounded, that one is different issue that I see with almost every single page I load.

<img width="807" alt="screen shot 2016-05-20 at 11 13 07 am" src="https://cloud.githubusercontent.com/assets/21236/15437485/34b

[2016-05-20 18:18] #10547 closed

[2016-05-20 18:23] pcwalton commented on #11300
I think what's going on here is that the transform is being propagated down to both the div and the text fragment (or the outer div and the inner inline-block, or something like that). So it effectively double-counts.

See https://github.com/servo/servo/pull/9503 — the fix will likely be similar

[2016-05-20 18:24] vvuk commented on #11300
I'll take this

[2016-05-20 19:36] #11120 closed

[2016-05-20 20:51] #11268 closed

[2016-05-20 22:34] asajeffrey opened #11307 "Hot spinning on windows shutdown?"
After #10910, @metajack points out that we may be hot-spinning at shutdown on windows, caused by `window.wait_events().next()` returning `None`. The conversation starts at https://github.com/servo/servo/pull/10910#issuecomment-220718737.

[2016-05-20 23:01] asajeffrey opened #11309 "Constellation panic caused by assertions"
We allow `assert!` and `assert_eq!` in the constellation. If these assertions fail, they will cause the constellation to crash, without providing any way for the user to submit a crash report. See, e.g. #11298.

If we decide not to allow such assertions, we should add a check to etc/ci/check_no_unwrap.sh (@aneeshusa).

[2016-05-20 23:23] mbrubeck opened #11310 "Add GPOS and GSUB support to the Latin text shaping fast path"
#11273 added a fast path but it only supports the TrueType 'kern' table.  Add support for fonts that include basic kerning and ligation of Latin script using the OpenType GPOS and GSUB tables.

https://www.microsoft.com/typography/OTSPEC/GPOS.htm
https://www.microsoft.com/typography/OTSPEC/GSUB.htm

[2016-05-20 23:38] asajeffrey commented on #11309
The easiest thing to do would be to replace `assert` by `debug_assert`, anyone running a debug build can probably work out how to submit a crash report from a raw panic. This would just hide a failed assert though, should we try to throw a `mozbrowsererror` event instead? (@paulrouget)

[2016-05-21 01:10] metajack opened #11315 "Add icon to Servo on Windows"
Linux and OS X have icons, but we still don't have one for windows. This should be an easy fix for anyone familiar with Windows development.

[2016-05-21 02:04] pcwalton commented on #11108
So per your test case this doesn't seem to be a regression (although it may well have been exposed by some enhancement to WR)—rather, it's a design issue. The problem is that WebRender iterates through *scroll layer* trees to do hit testing, whereas it really should be iterating through *display items*. There are two ways to fix this: (a) move the display item-based hit testing code to WebRender;

[2016-05-21 04:03] vvuk commented on #11300
This is fixed by WIP commit 411ac54e6c0926a but there's a further, likely separate, issue with filters -- the following testpage:

[code]

Looks like this in Firefox and in Servo:
![servo-clip](https://cloud.githubusercontent.com/assets/194965/15446243/4fff980c-1ee7-11e6-8dec-ae1d60751870.png)

If I remove the filter div, the rest of the content shows up.  This happens both with and without my cha

[2016-05-21 05:13] #11158 closed

[2016-05-21 06:04] pcwalton commented on #11260
When I do the tab switch animation, I get a bunch of `DelayedCompositeTimeout` composites. This is probably what's causing the races/jank. There should be none of them.

[2016-05-21 08:25] paulrouget commented on #11305
The radius issue is https://github.com/servo/servo/issues/9983

[2016-05-21 08:36] paulrouget commented on #11305
Reduced test case (option `-b- is required to reproduce):

[code]

The green part is my desktop background:

<img width="658" alt="screen shot 2016-05-21 at 10 35 09" src="https://cloud.githubusercontent.com/assets/373579/15447349/c85209ae-1f3f-11e6-87da-b815fef1f590.png">

[2016-05-21 09:10] #10960 closed

[2016-05-21 10:55] blacksvk opened #11316 "LayoutWorker panic: RefCell<T> already mutably borrowed"
Servo will crash (tested on Windows 8.1 x64) on this page http://siemensmania.cz

This is how to reproduce the issue:
launch servo via `./mach run --release http://siemensmania.cz` and scroll page (like via PgDown/PgUp) - servo will crash (sooner or later) like this:
![panic](https://cloud.githubusercontent.com/assets/10187350/15447977/061c98d6-1f53-11e6-86cf-1c29ebc1099c.gif)

Output:

[code]

[2016-05-21 14:21] metajack commented on #11316
@larsbergstrom @pcwalton Any idea why these backtraces are so bad?

[2016-05-21 14:36] larsbergstrom commented on #11316
On windows compiled with the msys version of rust, we don't get symbol resolution. You'll have to open in gdb and use `info line`, as in https://github.com/servo/servo/issues/9468#issuecomment-178602879

[2016-05-21 14:44] danlrobertson commented on #8623
#10826 implements `AddCookie`, `GetCookie`, and `GetCookies` and has been rebased.

[2016-05-21 14:51] metajack commented on #11316
Does that mean if we compile for the msvc target we will get normal backtraces?

[2016-05-21 15:07] larsbergstrom commented on #11316
I believe that if we compile with msvc rust instead of the msys one, we will both get proper backtrace reporting and we'll work inside of the Visual Studio debugger :-)

cc @alexcrichton

[2016-05-21 16:10] mbrubeck commented on #4732
Should be fixed by servo/rust-harfbuzz#53.

[2016-05-21 16:11] #5036 closed

[2016-05-21 16:20] mbrubeck commented on #5224
Fixed by #5220

[2016-05-21 16:20] #5224 closed

[2016-05-21 17:08] lygstate opened #11319 "When Downloading Host rust library for target x86_64-pc-windows-gnu... interrupted, re-download would be failed"
Hope the download of rust library for target x86_64-pc-windows-gnu can be resume

[2016-05-21 17:08] mbrubeck commented on #6176
I think this was fixed by #9781.

[2016-05-21 17:08] #6176 closed

[2016-05-21 17:10] mbrubeck commented on #6262
This works for me. If this is still broken can you provide an HTML test case?

[2016-05-21 17:10] #6262 closed

[2016-05-21 17:12] alexcrichton commented on #11316
Yeah unfortunately the system APIs we use on Windows aren't compatible with the dwarf debug information that mingw generates. We *might* be able to use libbacktrace entirely to generate a backtrace (as it reads lots of dwarf info) but I've only seen very spotty results from time to time, and I've essentially never seen a good backtrace on Windows.

[2016-05-21 17:13] alexcrichton commented on #11316
Er, never seen a good backtrace on mingw

[2016-05-21 17:16] jdm opened #11320 "Report use statements that use {} with only one entry"
Our desired code style is:
[code]
not
[code]
Let's report these lines automatically as part of test-tidy.

Code: `python/tidy/servo_tidy/tidy.py`
Test: Add one to `test_rust` in `python/tidy/servo_tidy_tests/test_tidy.py`, which checks `python/tidy/servo_tidy_tests/rust_tidy.rs`. Run with `./mach test-tidy --self`.

[2016-05-21 17:17] jdm commented on #11319
@lygstate What's the error message received when the resume fails?

[2016-05-21 22:12] dlrobertson opened #11322 "webgl texture-npot test setup failing in initialisation"
`tests/wpt/web-platform-tests/webgl/conformance-1.0.3/conformance/textures/texture-npot.html` has been failing, but no failures are thrown as it is failing in the initialisation due to `copyTexImage2D` not yet being implemented. This changes after #11147. The following may be seen when running under `gdb` on `master`.

[code]

CC @emilio

[2016-05-22 01:20] mikedilger opened #11323 "Resize of github.com before rendering completes causes scrambled text, graphics"
Using current master, built fresh today, on a gentoo linux x86_64 system, running this:
[code]
seems to work fine if it is not resized until after the first render completes.
![screenshot_2016-05-22_13-13-57](https://cloud.githubusercontent.com/assets/1669069/15451606/c94c62d8-201f-11e6-900f-1f84dc917db0.png)

But if you resize it (I resize from bottom right corner) before rendering completes, the

[2016-05-22 01:43] metajack commented on #11323
I assume this is webrender specific. Have you tried without `-w`?

cc @glennw @pcwalton

[2016-05-22 03:06] pcwalton commented on #11260
A lot of the jank is https://github.com/browserhtml/browserhtml/issues/1042

[2016-05-22 05:13] lygstate commented on #11319
@jdm Network connection Error, it's because my network is very slow,  and very easy to shutdown.

[2016-05-22 05:16] lygstate commented on #10845
No problems now, it's can be treat as fixed.

[2016-05-22 05:18] lygstate commented on #10680
Now It's works now.

[2016-05-22 05:19] mikedilger commented on #11323
Without the -w I can't get it to happen, so yes probably webrender.

[2016-05-22 11:55] ojab opened #11327 "WebRender crashes 'thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value', ../src/libcore/option.rs:325'"
Crash almost always can be reproduced with:
1.  ./mach run -d -w https://www.stgraber.org/2016/03/11/lxd-2-0-blog-post-series-012/
2. Maximize window
3. Scroll to the bottom & to the top multiple times
4. Open `LXD 2.0: Introduction to LXD [1/12]` link
5. If there is no crash yet, go back and repeat from step 2
Backtrace is rather large, you can find it [here](https://gist.github.com/ojab/0064129b

[2016-05-22 11:58] ojab commented on #11327
Mac OS X 10.11 on retina macbook pro 15" here, servo built from master.

[2016-05-22 12:04] ojab commented on #11327
…and after multiple runs I've got [shorter backtrace](https://gist.github.com/ojab/e9ad5f0811041d338f34e933d5259edf).

[2016-05-22 14:29] metajack commented on #11327
cc @glennw @pcwalton

[2016-05-22 14:45] jdm opened #11328 "Add a test for recomputing overflow when viewport size changes"
I believe https://github.com/servo/servo/pull/11294 should be possible to test by using an iframe and changing its width. Would you like to give this a try, @kilobtye?

[2016-05-22 14:59] frewsxcv commented on #10845
Closing this for now, but we can reopen if it's still an issue

[2016-05-22 14:59] #10845 closed

[2016-05-22 15:33] #10680 closed

[2016-05-22 15:34] #10048 closed

[2016-05-22 18:20] mitchhentges commented on #1516
I've got this, probably

[2016-05-22 19:22] bobthekingofegypt commented on #11223
I can reproduce it, can't understand it yet though.

To reproduce it on linux (sorry don't use OSX if I can help it) I just make my computer really busy doing pointless stuff.

In one terminal I run a bash script
[code]

start it up with

[code]

Taskset will set the cpu affinity bonding you to only core 1, the script will just spin round using 100% cpu.

Then just start servo with taskset, and wh

[2016-05-22 20:11] perlun commented on #11315
What icon should we use - the same as for Linux and OS X, presumably?

[2016-05-22 20:12] metajack commented on #11315
Yes. It's a placeholder, but it will work for now.

[2016-05-22 20:45] metajack commented on #11130
@mrmiywj Have at it!

[2016-05-22 20:50] metajack commented on #11280
@jdm #11261 made the exact opposite change on purpose. Did we not want to make that change? Is there some other way to address the issue @KiChjang was concerned about?

[2016-05-23 04:14] Manishearth commented on #11327
I think I just got this crash (same backtrace) when trying to click the "log in" button on github. Updating my build and trying again..

[2016-05-23 04:32] Manishearth commented on #11019
[code]

[2016-05-23 04:42] Manishearth commented on #11327
Yep, same crash on github

[2016-05-23 05:00] paulrouget commented on #11223
@bobthekingofegypt thank you, that's useful. Do you reproduce with browserhtml or without?

[2016-05-23 06:24] Manishearth commented on #9914
https://github.com/servo/servo/pull/11333 fixes some github stuff

[2016-05-23 09:07] shinglyu opened #11336 "Flexbox `order` should change only visual order, not accessibility tool order"
The spec https://www.w3.org/TR/css-flexbox-1/#order-accessibility says

We actually sort the items array in https://github.com/servo/servo/blob/master/components/layout/flex.rs#L391 . I'm afraid that will make it hard for screen readers (do we have any?) to get the original DOM order.

[2016-05-23 09:28] paulrouget commented on #11260
I can't reproduce anymore. Not sure what happened.

[2016-05-23 09:34] paulrouget commented on #11260
Do we still want to investigate this potential race?
Otherwise, let's close this issue.

[2016-05-23 09:34] paulrouget commented on #9844
So now that https://github.com/servo/servo/issues/11260 appears to not be a problem anymore, here are the latest results on my macbook:

* with rAF, ~8.5% CPU, 60 FPS
* without, ~2% CPU, ~54 FPS

[2016-05-23 09:39] shinglyu commented on #11302
Can I give it a try?

[2016-05-23 09:44] Ms2ger opened #11339 "Remove CompositorEventListener trait?"
Only `IOCompositor` implements it now, and I doubt we'll reintroduce other implementations.

[2016-05-23 09:48] shinglyu commented on #11302
How do I create a `ffi` ligature? if I use your example code, does it become a ligature automatically? I also tried
[code]
The selection seems to be rendered correctly, but it is treated as a single character.

[2016-05-23 09:48] shinglyu commented on #11302
ping @mbrubeck

[2016-05-23 09:50] shinglyu commented on #10104
I'm interested in this.

[2016-05-23 11:04] #10467 closed

[2016-05-23 12:04] kilobtye commented on #11328
I find there is already a test that should test this issue.
[resize_after_load](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/iframe/resize_after_load.html)

Tried it with older servo version before my pr. It fails sometimes, and passes sometimes.

I think the reason maybe one more layout can happen after we change iframe width, and makes this test pass. I don't know w

[2016-05-23 12:10] kilobtye commented on #11323
I can confirm this issue. And I would like to look into this issue.

[2016-05-23 12:58] KiChjang commented on #10104
Have at it!

[2016-05-23 13:32] Ms2ger opened #11342 "Consolidate webrender_traits::PipelineId and msg::constellation_msg::PipelineId"
There really is no point to having them both.

[2016-05-23 14:09] jdm commented on #11336
We don't support them yet, but screen readers will interact with the DOM, not layout information.

[2016-05-23 14:14] mbrubeck commented on #11302
Yes, using the example code, "ffi" (three characters) should be rendered as a ligature automatically as long as the font supports it.  If the default font doesn't, you can try setting font-family to one that does. `"DejaVu Sans"` is one that works on my Linux machine.

[2016-05-23 14:46] asajeffrey opened #11344 "Introduce an abstraction between pipeline and constellation?"
At the moment, we have two levels of abstraction:

* `Pipeline` is per-browsing context
* `Constellation` is global

we do not have a level of abstraction between these, that is per-top-level-browsing-context. This causes issues in the context of browser.html, where there is more than one tlbc, e.g. #11220.

cc @Ms2ger @ConnorGBrewster @paulrouget

[2016-05-23 14:47] nox commented on #9844
@paulrouget Should we consider it fixed?

[2016-05-23 14:51] Ms2ger opened #11345 "ScriptToCompositorMsg messages should probably be sent to the constellation instead"
CC @pcwalton @glennw @larsbergstrom

This is assuming the compositor should be a global structure rather than per-top-level-browsing-context; correct me if that's wrong.

None of these seem like they should be global:

[code]

[2016-05-23 14:57] jdm commented on #11344
There is only one top-level browsing context in browser.html, which is the root page that contains the iframes for the tabs. Let us not confuse the issue further by claiming otherwise :)

[2016-05-23 15:10] ConnorGBrewster commented on #11344
IRC Conversation: http://logs.glob.uno/?c=mozilla%23servo#c436633

[2016-05-23 15:25] asajeffrey commented on #11344
@jdm: oh, do we have a naming issue here? The history API talks about top-level browsing contexts, and in the case of browser.html there'll be one those per tab, yes?

[2016-05-23 15:32] metajack commented on #11323
@kilobtye Feel free to investigate. It's likely caused by the texture caches getting misused in webrender I think. Ping gw (@glennw) and @pcwalton in IRC if you have specific questions.

[2016-05-23 15:39] asajeffrey commented on #11344
IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=23+May+2016&e=23+May+2016#c436814

[2016-05-23 15:45] jdm commented on #11344
@asajeffrey A top-level browsing context has a [strict definition](https://html.spec.whatwg.org/multipage/browsers.html#top-level-browsing-context). If we want to treat the browsing contexts that represent tabs browser.html in a special manner, we should use a different name for them.

[2016-05-23 16:02] ConnorGBrewster commented on #11344
@jdm since each tab is a mozbrowser iframe shouldn't each frame appear as a top-level browsing context https://developer.mozilla.org/en-US/docs/Web/API/Using_the_Browser_API

[2016-05-23 17:06] paulrouget commented on #9844
Good enough to run browserhtml. Divided by 2 the initial overhead.

I still don't understand why it takes more CPU than `setTimeout(16)`.

[2016-05-23 17:06] #9844 closed

[2016-05-23 17:06] pcwalton commented on #11260
Let's close it. The race I thought might have been there turned out not to be a race upon further inspection.

[2016-05-23 17:06] #11260 closed

[2016-05-23 17:07] nox commented on #9844
@paulrouget @pcwalton says that's the necessary cost to vsync.

[2016-05-23 17:22] pcwalton commented on #9844
@paulrouget I'll explain the issue. `setTimeout(16)` does not have to sync to the [vertical blanking interval](https://en.wikipedia.org/wiki/Vertical_blanking_interval) (VBLANK) of the display. However, `requestAnimationFrame()` does—or, at least, it should, as that is its intended use.

The ways to do that are limited. On the Mac and iOS, Apple recommends a class called [CVDisplayLink](https://de

[2016-05-23 18:01] asajeffrey commented on #11256
Related to #11344?

[2016-05-23 20:01] kaksmet commented on #11164
I won't be able to get this done any time soon.
So if someone else wants to fix this, please go ahead.

[2016-05-23 20:08] asajeffrey commented on #11307
The issue is that Servo's main event loop is (https://github.com/servo/servo/blob/master/components/servo/main.rs#L77):
[code]
Now, `browser.browser.handle_events` is non-blocking, and only returns `false` when shutdown is complete, so if `window.wait_events` doesn't block, then this is a hot loop.

The implementation of `window.wait_events` on Windows and MacOS is:
[code]
so if `window.wait_event

[2016-05-23 20:12] asajeffrey commented on #11307
Even if we got glutin to never return `None`, I don't see how to get this code to work though, since then `window.wait_events()` will just block indefinitely, so the main loop will never terminate, so Servo will never close.

[2016-05-23 20:36] metajack commented on #11307
So you're saying the hot loop already exists on the other platform.

As for it never closing, It does close because when the constellation is fully shut down, it sends the windowing code a wakeup event. Glutin sees this and passes it off to our event handler, which returns, then we see we're totally done and exit the loop, never calling wait_events again.

[2016-05-23 20:44] perlun commented on #11315
Alright. I'll give it a try, you can mark the issue as assigned if you like.

[2016-05-23 20:48] asajeffrey commented on #11307
@metajack the other platforms have the same issue under webrender. In non-WR there's a 60fps poll of events instead (https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L413).

The current implementation must be returning `None` from `window.wait_events()` even though there is a wakeup event in the future, which isn't exactly ideal.

[2016-05-23 21:00] asajeffrey commented on #11307
http://tomaka.github.io/glutin/glutin/struct.Window.html#method.wait_events claims the iterator never returns `None`. which is what's causing us grief. Do we at least know that if it does return `None` that there will never be any more events? If so, we can fix this either by returning a 3-valued flag (normal, close or done) rather than a boolean, or by keeping a flag for whether there will ever b

[2016-05-23 21:50] asajeffrey commented on #11307
A minimal attempt to fix this, but leave as much else alone as possible: https://github.com/asajeffrey/servo/tree/glutin-dont-hotloop-even-if-wait-events-returns-none

This is a bit of a hack, a better approach would be to rewrite the whole glutin interface to use channels to communicate events.

@metajack: submit a PR with the hack? or do a more thorough rewrite?

[2016-05-23 21:54] emilio opened #11348 "Intermittent crash of /css21_dev/html4/absolute-non-replaced-height-004.htm"
[code]

[2016-05-23 23:46] mbrubeck commented on #10077
Fixed by #11191.

[2016-05-23 23:46] #10077 closed

[2016-05-23 23:59] ConnorGBrewster opened #11351 "colspan does not add cell spacing to inline size"
<img width="401" alt="screen shot 2016-05-23 at 5 58 57 pm" src="https://cloud.githubusercontent.com/assets/9086315/15488099/0b691b98-2110-11e6-92f4-d4072e13c6d2.png">

[code]

[2016-05-24 00:12] mbrubeck commented on #7300
I can no longer reproduce this.

[2016-05-24 00:12] #7300 closed

[2016-05-24 00:26] mbrubeck commented on #7578
Fixed by https://github.com/aweinstock314/rust-clipboard/commit/241c3f0fc5843db861bc0b44d682bf501e651e9b

[2016-05-24 00:29] mbrubeck commented on #7589
Partially fixed by #9668.

[2016-05-24 00:30] mbrubeck commented on #7830
Closing as duplicate of #7412.

[2016-05-24 00:30] #7830 closed

[2016-05-24 00:41] highfive commented on #8464
cc @aneeshusa

[2016-05-24 01:08] frewsxcv commented on #7578
rust-clipboard is still GPLv2

https://github.com/aweinstock314/rust-clipboard#license

https://github.com/aweinstock314/rust-clipboard/blob/f4c5c1d3c1759f0a167091405d11af1f9584fb1f/Cargo.toml#L8

[2016-05-24 01:09] larsbergstrom commented on #5187
@glennw Can you provide @shinglyu any pointers to relevant WebRender code (or close this, if it's already implemented)? Thanks!

[2016-05-24 02:29] glennw commented on #11108
@pcwalton That suggestion sounds good to me. Long term, I think it makes sense to have it in WR and take advantage of the culling trees for performance reasons, but that's certainly something we could consider later - let's just get it working correctly for now.

[2016-05-24 02:30] pcwalton commented on #11108
OK, cool. I'll do it that way then.

[2016-05-24 02:33] shinglyu commented on #11336
Hmm, screen reader may be a bad example. The spec may be refering to `@media speech { ... }`. I'm not sure if that uses layout information.

[2016-05-24 05:13] Manishearth opened #11354 "Can't see text in github comment box"
![screenshot from 2016-05-24 10 38 42](https://cloud.githubusercontent.com/assets/1617736/15492699/b6afe5c8-219b-11e6-974f-312488389acc.png)

It's possible to write/submit comments on github in servo, but you can't see what you're typing.

[2016-05-24 05:15] Manishearth commented on #9914
Added https://github.com/servo/servo/issues/11354, didn't prioritize yet

[2016-05-24 05:23] Manishearth opened #11355 "Webrender consistently borks fonts"
![screenshot from 2016-05-24 10 46 18](https://cloud.githubusercontent.com/assets/1617736/15492873/74d3049e-219d-11e6-84dc-854394c6308f.png)

Note the missing characters, squished text, etc.

This happens on basically every website, but the degree of borking varies.

Possibly related: https://github.com/servo/servo/issues/10020 , https://github.com/servo/servo/issues/10233 , https://github.com/ser

[2016-05-24 05:27] Manishearth commented on #11355
[code]

The borkage only happens for me on intel

[2016-05-24 05:37] DDEFISHER commented on #10209
If it's okay I am going to work on
` Implement isFramebuffer
Implement isRenderBuffer`

[2016-05-24 05:42] ConnorGBrewster commented on #10209
@DDEFISHER go for it! Mind opening an issue for those so I can assign you there?

[2016-05-24 05:45] Manishearth commented on #11355
`sudo add-apt-repository ppa:oibaf/graphics-drivers` and a dist-upgrade fixed this.

[2016-05-24 05:48] Manishearth opened #11356 "Maximising a window breaks fonts"
This is similar to https://github.com/servo/servo/issues/11355, but seems to be more universal.

Regardless of the renderer/graphics card used, when maximising the window (on webrender) all the text breaks:

![](https://cloud.githubusercontent.com/assets/1617736/15493249/52a4a6a4-21a0-11e6-8015-e932d62fb221.png)

[2016-05-24 05:48] DDEFISHER opened #11357 "Implement WebGLRenderingContext.{isBuffer, isFramebuffer, isRenderbuffer}()"
cc #10209

[2016-05-24 06:18] #11327 closed

[2016-05-24 06:19] paulrouget commented on #11108
Again - if this is too much work, we can work around that in browserhtml.

[2016-05-24 06:21] paulrouget commented on #11344
In a mozbrowser iframe, `window == top.window`.

[2016-05-24 06:37] shinglyu commented on #11302
@shinglyu add to my dashboard

[2016-05-24 06:57] shinglyu commented on #11302
@mbrubeck Thanks! I was able to see the ligature using `DejaVu Sans`. The problem is that I can't select the `f` in the middle. the ligature is treated as a single character. See this screen record:

![output](https://cloud.githubusercontent.com/assets/3250983/15494873/646a96cc-21bf-11e6-945a-f6309be0eb55.gif)

I used keyboard, and I tried to use mouse to select the middle `f` but failed. The `ffi

[2016-05-24 07:07] shinglyu commented on #10104
(@shinglyu add to my dashboard)

[2016-05-24 07:08] paulrouget commented on #11151
This is now fixed. But in browser.html, the iframe is not clipped when zoomed out. I'll file a different issue.

[2016-05-24 07:08] #11151 closed

[2016-05-24 07:09] paulrouget commented on #11150
This is now fixed.

[2016-05-24 07:09] #11150 closed

[2016-05-24 07:21] paulrouget opened #11358 "content of transformed iframe is visible outside of the iframe"
follow up of https://github.com/servo/servo/issues/11151

[code]

<img width="531" alt="screen shot 2016-05-24 at 09 20 46" src="https://cloud.githubusercontent.com/assets/373579/15495527/d4d3dd76-2190-11e6-9ead-a47c380b514f.png">

[2016-05-24 07:21] paulrouget commented on #11151
Follow up: https://github.com/servo/servo/issues/11358

[2016-05-24 07:58] #11351 closed

[2016-05-24 08:19] izgzhen commented on #10539
Just about to file an issue and found this one :D. Can someone help me to label it as assigned?

And some other related info:

* Spec: https://w3c.github.io/FileAPI/#url
* GSoC project home: https://github.com/izgzhen/gsoc-file-support, issue #10778 and issue #11131
* Ping the mentor @Manishearth

[2016-05-24 08:59] mrmiywj opened #11361 "Use rustup to get nightly rust"
Since every time build servo will use nightly rust compiler, is it a good idea to use rustup and overload servo path to build servo with nightly rustc? I mean, since there is a rust version manager, why not just use it?

[2016-05-24 09:59] Ms2ger commented on #11344
There's two other concepts we have to take into account: the [unit of related browsing contexts](https://html.spec.whatwg.org/multipage/#unit-of-related-browsing-contexts) and the [unit of related similar-origin browsing contexts](https://html.spec.whatwg.org/multipage/#unit-of-related-similar-origin-browsing-contexts). I think the latter would correspond to a `ScriptThread`.

[2016-05-24 10:59] Manishearth opened #11362 "Input tags inherit text-transform"
![screenshot from 2016-05-24 16 25 21](https://cloud.githubusercontent.com/assets/1617736/15501645/3b0f4cde-21cc-11e6-987a-ee1e39851492.png)

These are the rust docs. The placeholder (and the text when you type it in) is all caps for some reason, even if you toggle caps lock.

This is due to a `text-transform: uppercase` on the `nav` class being inherited by the input. Regular browsers don't seem

[2016-05-24 11:09] Manishearth commented on #11362
Reduced testcase:

[code]
([jsbin](http://output.jsbin.com/wuzucezoho))

This shows a caps placeholder and input text in servo, but not in other browsers.

[2016-05-24 11:10] Manishearth commented on #11362
cc @SimonSapin

Not sure how CSS inheritance is supposed to work here

[2016-05-24 11:45] nox opened #11365 "Make Waterfall Green Again"
[code]

[2016-05-24 12:02] izgzhen commented on #11365
Ah my bad. I leave a `// FIXME: fix this after PR #11221 is landed` just before the line. But currently #11221 is still in pending.

[2016-05-24 12:20] nox commented on #11358
Interesting, on latest master on my computer it is less visible, just covering the border:
![capture d ecran 2016-05-24 a 14 20 42](https://cloud.githubusercontent.com/assets/123095/15503546/b601dd56-21ba-11e6-8448-dee45dc77a3c.png)

[2016-05-24 13:09] #11362 closed

[2016-05-24 13:56] asajeffrey commented on #11344
Oh, and there's [auxiliary browsing contexts too](https://html.spec.whatwg.org/multipage/browsers.html#auxiliary-browsing-context). What fun! At the moment, I don't think Servo has these, since it doesn't have tabs or windows.

Can we treat mozbrowser iframes as auxiliary browsing contexts? They are very similar, in that they create new top-level browsing contexts. This would give us one less thin

[2016-05-24 14:00] jdm opened #11369 "Add a mach command for updating the WPT manifest"
Telling people to run `./mach test-wpt --manifest-update SKIP_TESTS` when they want to have MANIFEST.json get regenerated automatically is annoying. Let's add a `update-manifest` command that does that instead. See the implementation of `cargo-update` vs `update-cargo` in `devenv_commands.py` for an example of delegating to an existing command.

Code: `python/servo/testing_commands.py`

[2016-05-24 14:03] jdm commented on #11365
For those not in the know: "waterfall" refers to http://build.servo.org/waterfall which shows orange jobs due to warnings; green ones would have no warnings. The goal of this issue is to fix the warning that is making it orange.

[2016-05-24 14:08] jdm commented on #11280
#11261 never established a cause and effect, since `update_href` clearly contains no borrow of`self.url`.

[2016-05-24 14:12] kilobtye commented on #11323
Thanks @metajack , it is about texture cache.
This issue is caused by text-shadow. Resize changes font-size and does text-shadow. Then
1. texture blur allocates textures but does not free.
2. texture becomes full and grows its size and messes up.
I will submit a PR to fix a bug in 2, that should fix this issue.

[2016-05-24 14:13] metajack commented on #11323
Excellent sleuthing!

[2016-05-24 14:15] KiChjang commented on #11280
But the logs in #11261 clearly does state that there's a call to `.borrow()` in `update_href`, and @paulrouget reported no problems after applying #11264 locally.

[2016-05-24 14:22] metajack commented on #11361
Right now the UX for a developer is they can install a few dependencies, and than `./mach build` and it just works. This would add a dependency that is not in any package manager, making your first build slightly more difficult.

Additionally we currently support having cargo and rust versions that are separate, but I'm not sure if that is a property we have ever relied on.

Previously, we sometim

[2016-05-24 14:35] larsbergstrom commented on #11361
IIRC @brson thought that we could eventually switch to using his `rustup` tool, but he's out for the rest of May, so we should probably sync up with him when he's back at work.

[2016-05-24 15:33] #10491 closed

[2016-05-24 16:39] bobthekingofegypt commented on #11223
@paulrouget I could reproduce it with and without.

If I have time, and it's still happening, I'm happy to have a look into it next week.

[2016-05-24 16:57] mbrubeck commented on #9673
Spec: https://drafts.csswg.org/css-text-3/#valdef-word-break-keep-all

Relevant code:
* [Fragment::calculate_split_position](https://github.com/servo/servo/blob/e4fe0db8fd5f0b5431ba3856b4931613a96e924e/components/layout/fragment.rs#L1556-L1576)
* [Existing iterators for word and character breaking](https://github.com/servo/servo/blob/e4fe0db8fd5f0b5431ba3856b4931613a96e924e/components/gfx/text/tex

[2016-05-24 17:03] mbrubeck commented on #8409
This could by fixed by changing [this code] to call `self.GetDocumentElement()` instead of `self.get_html_element()`.

It looks like there are several other calls to `get_html_element` that could also be changed in this way.

[1]: https://github.com/servo/servo/blob/e4fe0db8fd5f0b5431ba3856b4931613a96e924e/components/script/dom/document.rs#L1238-L1240

[2016-05-24 17:11] highfive commented on #8973
cc @fitzgen

[2016-05-24 17:14] mbrubeck commented on #9003
CC #233

[2016-05-24 17:21] #11323 closed

[2016-05-24 17:23] pcwalton commented on #11345
So ultimately I think that there should be multiple compositors, when we have multiple windows. But that's orthogonal to this proposal.

I think you're absolutely right; these should be constellation messages.

[2016-05-24 17:29] mbrubeck commented on #9283
Updated source code link:

https://github.com/servo/servo/blob/e4fe0db8fd5f0b5431ba3856b4931613a96e924e/components/style/properties/longhand/effects.mako.rs#L342-L372

Spec: https://www.w3.org/TR/CSS2/visufx.html#value-def-shape

Fixing this will require changing the parse function above to try parsing four whitespace-separated values, if four comma-separated values are not found.

[2016-05-24 17:31] mbrubeck commented on #9457
Fixed by #11109.  Thanks for the report!

[2016-05-24 17:31] #9457 closed

[2016-05-24 17:38] highfive commented on #9842
cc @fitzgen

[2016-05-24 17:42] pcwalton commented on #11339
Yeah, feel free to do this if it's feasible.

[2016-05-24 17:51] jdm commented on #11345
As in they should be sent to the constellation, then sent to the compositor? Why?

[2016-05-24 17:55] pcwalton commented on #11345
In case the page is in an iframe or in a background tab, etc, I would think.

[2016-05-24 17:57] kyleheadley commented on #11339
I can take this, I need to learn about the PR system anyway. It sounds like this is just to reorganize? I'll move the trait code into the struct impl and test.

cc @asajeffrey

[2016-05-24 18:00] pcwalton commented on #11300
Let's do it as a separate issue.

[2016-05-24 18:48] cbrewster opened #11380 "Intermittent crash in /html/browsers/windows/browsing-context-names/browsing-context-choose-self-1.html"
[code]

[2016-05-24 18:49] mbrubeck commented on #11302
That screencast shows the bug that I was trying to describe.  Servo always paints the entire ligature as selected, even if internally only part of it is selected.  (You can type another letter like "x" and only the "real" selection will be replaced.)

[2016-05-24 19:01] jdm commented on #11281
I have not been able to reproduce #11261 yet from 904e9ea17ce56976cd2e94a130dff916c6746b8f. The panic backtrace reported by @paulrouget doesn't make sense at all, any @KiChjang wasn't able to reproduce the failure so the fix was produced on faith. I would like to properly figure out the actual problem we solved; @paulrouget can you revert to the revision in which you observed the panic and get a p

[2016-05-24 19:15] ConnorGBrewster commented on #9828
Is this still an issue? I cannot reproduce.

[2016-05-24 19:19] vvuk commented on #11300
Okay -- that commit should be ready for r? @pcwalton .  I've got a commit in front for an annoying windows build issue, or I'd make a PR.  Also I didn't have any good ideas on how to make a test for perspective/clip.. perspective's probably doable, but clip would probably look the same regardless...

[2016-05-24 19:31] rebstar6 opened #11384 "Update referrer policy code to include new options"
**this issue should not be completed until the web platform tests are updated to include the new policies

See https://w3c.github.io/webappsec-referrer-policy/
Policy options in Servo currently are:
- No-Referrer
- No-Referrer-When-Downgrade
- Origin-Only
- Origin-When-Cross-Origin
- Unsafe-Url
- None (undefined)

(these are defined in components/msg/constellation_msg ReferrerPolicy enum)

These n

[2016-05-24 19:31] vvuk opened #11385 "CSS filters cause rest of content to be erased"
Using a CSS filter causes the rest of the page content to disappear, maybe as if the filtered content is being painted on the page without proper clipping.  Testcase:

[code]

[2016-05-24 19:32] rebstar6 commented on #11384
Test updates requested at:
https://github.com/w3c/webappsec-referrer-policy/pull/42#issuecomment-221373530
https://github.com/w3c/webappsec-referrer-policy/pull/19#issuecomment-221373347

[2016-05-24 19:42] rebstar6 opened #11386 "Have ./mach test-tidy consider ignored directories"
If a change is made to the ignored directories in python/tidy/servo_tidy/tidy.py and then run ./mach test-tidy, that change is not included (it still runs on the added ignored directory).

Example at https://github.com/servo/servo/pull/11238/commits/5b01814ddb0d465e653692856273f841e780f2d4 - on my local machine, the new tests are still tidy-checked even though I ignore the directory.

[2016-05-24 19:44] jdm commented on #11280
Removing the easy label until we resolve #11281.

[2016-05-24 19:50] jdm opened #11387 "--no-native-titlebar argument causes a segfault on OS X 10.9"
This means that `./mach run --browserhtml` mysteriously crashes, which is really annoying.

[2016-05-24 19:51] jdm opened #11388 "`./mach run --browserhtml --debug` doesn't run browser.html in the debugger"
If `./mach run --browserhtml` runs browser.html in the Servo instance that appears, I would expect the `--debug` argument to make that happen inside of a debugger. Instead, the resulting instance shows a certificate error page, with no sign of browser.html.

[2016-05-24 19:54] jdm commented on #11388
To be clear - the debugger runs; that's not the problem. browser.html does not show up, however.

[2016-05-24 20:36] nox opened #11389 "Investigate why cnn.com requests 356 different webfonts"
https://groups.google.com/forum/#!msg/mozilla.dev.servo/KmzdXoaKo9s/XQGwQ9BsCAAJ

[2016-05-24 20:39] kaksmet commented on #11387
This seems to be a duplicate of #10031? (which was fixed a week ago)

Just tested this on OS X 10.9.5 with latest master, and it works for me.

[2016-05-24 20:42] jdm commented on #11386
The problem is `get_file_list` in `tidy.py`. The `only_changed_files` branch (which corresponds to `--faster`) ignores the `exclude_dirs` argument. We should also fix the `elif exclude_dirs` branch to use `exclude_dirs` instead of `ignored_dirs`.

[2016-05-24 20:45] jdm commented on #11386
I reproduced the problem by adding an entry of `os.path.join(".", "components", "whee"),` to `ignored_dirs`, then running:
[code]

[2016-05-24 20:53] asajeffrey opened #11390 "Add a channel for glutin events"
Glutin provides its event stream as an iterator rather than on a channel, which means we can't select on it. This causes problems of merging the glutin event stream with the servo event stream, in particular for the shutdown event (see, e.g. #11307).

We'd like to move to a model where glutin is providing events over a channel, and as long as we're prepared to dedicate a thread to it, we can just

[2016-05-24 21:05] #8348 closed

[2016-05-24 21:08] pcwalton commented on #11300
@vvuk

You can submit the PR by doing:

    $ git checkout -b fix-rotated-div
    $ git rebase -i origin/master
    (delete line representing the commit that works around the windows issue)
    $ git push vvuk fix-rotated-div

That will make a new PR, while keeping your old setup around in the master branch. To get back to your old workspace just use `git checkout master`.

[2016-05-24 21:11] pcwalton commented on #11300
Commit looks good other than those nits.

[2016-05-24 21:18] asajeffrey commented on #9828
Fixed by #10082.

[2016-05-24 21:18] #9828 closed

[2016-05-24 21:19] asajeffrey commented on #8870
Fixed by #10082.

[2016-05-24 21:20] #8870 closed

[2016-05-24 21:21] asajeffrey commented on #9202
Fixed by #10082.

[2016-05-24 21:21] #9202 closed

[2016-05-24 21:24] metajack commented on #11390
@tomaka If Glutin provided a channel interfaces instead of only an iterator, then we could remove the need for wakeup events completely. This seems like a much better way to do things, and certainly more in tune with how rust normally works. What do you think?

[2016-05-24 21:34] mbrubeck commented on #114
This is now done using the various byte-range-to-glyph-slice mapping functions.

[2016-05-24 21:34] #114 closed

[2016-05-24 21:34] perlun commented on #114
Wow, that was an old one! 👏

[2016-05-24 21:37] mbrubeck commented on #191
We now have a shaped word cache, and #8990 added caching of advances at various levels.

[2016-05-24 21:37] #191 closed

[2016-05-24 21:40] jdm commented on #11389
This is #8342.

[2016-05-24 21:40] #11389 closed

[2016-05-24 21:41] jdm commented on #11387
Ah, whoops!

[2016-05-24 21:41] #11387 closed

[2016-05-24 21:44] mbrubeck commented on #195
This is done.

[2016-05-24 21:44] #195 closed

[2016-05-24 21:47] mbrubeck commented on #227
This is done.

[2016-05-24 21:47] #227 closed

[2016-05-24 21:49] mbrubeck commented on #228
This is done.

[2016-05-24 21:49] #228 closed

[2016-05-24 21:49] mbrubeck commented on #229
Servo now caches shaping results per word.

[2016-05-24 21:49] #229 closed

[2016-05-24 21:52] mbrubeck commented on #242
Servo now runs the W3C web-platform-tests and csswg test suites.

[2016-05-24 21:52] #242 closed

[2016-05-24 21:53] mbrubeck commented on #241
Servo now has various infrastructure for time and memory profiling.

[2016-05-24 21:53] #241 closed

[2016-05-24 22:00] mbrubeck commented on #543
Text scanning is now done only when flushing a non-empty set of inline fragments to a flow.

[2016-05-24 22:00] #543 closed

[2016-05-24 22:01] mbrubeck commented on #465
I don't think this is a thing anymore.

[2016-05-24 22:01] #465 closed

[2016-05-24 22:02] #105 closed

[2016-05-24 22:13] mbrubeck commented on #87
This number is currently stored in [Fragment::debug_id][1].  This could be fixed by changing this field's type from `u16` to a new custom type `struct DebugId`.  Then use [conditional compilation] to make this struct contain a single `u16` field when `cfg(debug_assertions)` is enabled, or no fields otherwise (so it will take up zero space).

The new type will need to implement the Display trait.

[2016-05-24 22:36] jdm commented on #7720
@Manishearth What's the specification status here? If this isn't ready for someone to work on it, we should remove the less easy tag.

[2016-05-24 22:56] mbrubeck commented on #860
This was fixed long ago but we forgot to close this issue.  Sorry!

[2016-05-24 22:56] #860 closed

[2016-05-24 23:07] mbrubeck commented on #895
I think this is fixed.

[2016-05-24 23:07] #895 closed

[2016-05-24 23:08] #725 closed

[2016-05-24 23:19] mbrubeck commented on #9845
I think this was fixed before #9832 landed.  Please re-open if this still happens.

[2016-05-24 23:19] #9845 closed

[2016-05-24 23:22] #10029 closed

[2016-05-24 23:23] jdm opened #11395 "Consider improving GC heuristics"
Since our reflectors are 1:1 with the actual underlying Rust object, we can provide better hinting to the JS VM about when we should be trying to GC to reclaim garbage memory. https://gist.github.com/jdm/1d2e71157887849c7ba2 was my last attempt to do so.

[2016-05-24 23:25] jdm commented on #10057
I'm pretty confident that this was the same issue as #10229.

[2016-05-24 23:25] #10057 closed

[2016-05-24 23:31] highfive commented on #10071
cc @aneeshusa

[2016-05-24 23:31] metajack commented on #11307
@asajeffrey and I discussed out of band that if the hotloop exists on all platforms, we should leave this as is until we do a proper fix (see below). If the hotloop is not consistent, it might make sense to deploy the hack for now.

The right solution appears to be to switch to channels instead of using wait_events(). We can do this on the Servo side by creating a thread which does this coversion.

[2016-05-24 23:43] mbrubeck commented on #10051
I think this is probably a bug in Cargo itself, or the Cargo repo—either that, or it's functioning correctly and caught a rare case of network corruption.  You can try removing the files from the `.cargo` directory to force it to download again.

[2016-05-24 23:43] #10051 closed

[2016-05-24 23:44] DDEFISHER commented on #10209
I am going to also work on `isBuffer` also since it is similar to the other 2

[2016-05-24 23:49] mbrubeck commented on #10089
I think this is caused by rust-lang/cargo#2516.

[2016-05-24 23:49] #10089 closed

[2016-05-24 23:50] mbrubeck commented on #10095
Is this fixed? I can no longer reproduce it at ideone.com but I don't know whether the site has changed.

[2016-05-24 23:53] jdm commented on #10095
This was fixed by #9942.

[2016-05-24 23:53] #10095 closed

[2016-05-24 23:54] #10780 closed

[2016-05-24 23:54] mbrubeck commented on #10164
This seems to be fixed on master.

[2016-05-24 23:54] #10164 closed

[2016-05-24 23:55] mbrubeck commented on #10261
CC #11339

[2016-05-24 23:59] mbrubeck commented on #10261
This code can be removed:  https://github.com/mbrubeck/servo/blob/master/components/compositing/compositor_thread.rs#L286-L296

and the [code that calls it][1] can call `IOCompositor::create` instead, and store an `IOCompositor` directly instead of as a boxed trait object.

[1]: https://github.com/mbrubeck/servo/blob/e0addae51c6ecacd474e501da06f647ca9d96dc0/components/servo/lib.rs#L171-L185

[2016-05-25 00:01] mbrubeck commented on #10263
https://drafts.csswg.org/css-images-3/#repeating-gradients

[2016-05-25 00:02] mbrubeck commented on #10264
Thanks for the note.  I'm closing this as it's not a Servo issue per se, but we'll be following the Houdini project.

[2016-05-25 00:02] #10264 closed

[2016-05-25 00:09] mbrubeck commented on #10305
Thanks! I reported this as a bug in our image decoding library: PistonDevelopers/image#534.

[2016-05-25 00:09] #10305 closed

[2016-05-25 00:10] highfive commented on #10452
cc @aneeshusa

[2016-05-25 00:10] highfive commented on #10452
cc @fitzgen

[2016-05-25 00:23] ConnorGBrewster opened #11396 "Intermittents with FAILED TO establish the default connection to the WindowServer"
Has occurred on #11267 and #10796

Many failures like:
[code]

[2016-05-25 00:24] mbrubeck commented on #10405
Fixed by #10407.

[2016-05-25 00:24] #10405 closed

[2016-05-25 00:26] mbrubeck commented on #10412
The progress bar uses `linear-gradient` and `background-size`.

[2016-05-25 00:28] highfive commented on #11167
cc @aneeshusa

[2016-05-25 00:32] mbrubeck commented on #797
I believe this is done.

[2016-05-25 00:32] #797 closed

[2016-05-25 00:33] #1650 closed

[2016-05-25 00:37] mbrubeck commented on #989
This code has been rewritten and we haven't seen this crash in the current code.

[2016-05-25 00:37] #989 closed

[2016-05-25 00:38] mbrubeck commented on #994
Closing; can reopen if we see this again.

[2016-05-25 00:38] #994 closed

[2016-05-25 00:43] mbrubeck commented on #1241
It looks like these are implemented now.

[2016-05-25 00:43] #1241 closed

[2016-05-25 00:44] mbrubeck commented on #1239
This is done.

[2016-05-25 00:44] #1239 closed

[2016-05-25 00:46] mbrubeck commented on #1236
#9795 and #9796 finished those last two items.

[2016-05-25 00:46] #1236 closed

[2016-05-25 00:47] #1290 closed

[2016-05-25 00:48] #1333 closed

[2016-05-25 00:48] #1334 closed

[2016-05-25 00:49] #1366 closed

[2016-05-25 00:50] #1332 closed

[2016-05-25 00:51] mbrubeck commented on #1351
The remaining items are done or no longer apply.

[2016-05-25 00:51] #1351 closed

[2016-05-25 00:53] mbrubeck commented on #1528
Fixed in #2441

[2016-05-25 00:53] #1528 closed

[2016-05-25 01:03] #1655 closed

[2016-05-25 01:03] #1660 closed

[2016-05-25 01:06] #1695 closed

[2016-05-25 01:08] #1698 closed

[2016-05-25 01:10] mbrubeck commented on #1719
"load" events are now implemented, but the others are not.

[2016-05-25 01:10] #1285 closed

[2016-05-25 01:11] mbrubeck commented on #2004
superseded by more specific bugs

[2016-05-25 01:11] #2004 closed

[2016-05-25 01:16] mbrubeck commented on #1803
Assuming this no longer applies since librt is gone.

[2016-05-25 01:16] #1803 closed

[2016-05-25 02:02] ConnorGBrewster opened #11400 "Intermittent crash in /_mozilla/css/style_is_in_doc.html"
[code]

[2016-05-25 02:23] ConnorGBrewster opened #11402 "Implement window.alert()"
We currently have support for `window.alert(DOMString message)` but we do not have `window.alert()` implemented. It should do the same thing as the former, except pass an empty string as the message.

Note: since both methods have the same name, `window.alert()` will be generated as `fn Alert_(&self)`.

---
Spec: https://html.spec.whatwg.org/multipage/webappapis.html#dom-alert (Step 4)
Code: `comp

[2016-05-25 02:29] shinglyu commented on #11302
Thanks! typing the "x" reveals the secret!

[2016-05-25 02:35] paulrouget commented on #11344
Looks about right. What about `window.opener` in this case?
What was the initial use case that a auxiliary browsing contexts was supposed to cover?

[2016-05-25 02:39] ConnorGBrewster opened #11403 "Implement HTMLCanvasElement.probablySupportsContext"
Blocks #2968.

This just checks if `HTMLCanvasElement.GetContext` would return `None`, if so `probablySupportsContext` should return false, otherwise it will return true.

---
Spec: https://html.spec.whatwg.org/multipage/scripting.html#dom-canvas-probablysupportscontext
Code: `components/script/dom/webidl/HTMLCanvasElement.webidl` `components/script/dom/webidl/htmlcanvaselement.rs`

[2016-05-25 03:00] ConnorGBrewster opened #11405 "Implement HTMLFormElement Element getter"
This is just a getter that returns the form element at the given index. `HTMLFormControlsCollection.IndexedGetter` should be used.

---
Spec: https://html.spec.whatwg.org/multipage/forms.html#dom-form-item
Code: `components/script/dom/webidl/HTMLFormElement.webidl` `components/script/dom/htmlformelement.rs` `components/script/dom/htmlformcontrolscollection.rs`

[2016-05-25 03:02] asajeffrey commented on #11344
Auxiliary browsing contexts were for things like tabs and maybe pop-ups I
think.

Window.opener is a tricky one... It should be the tab that did the
navigation, not browser.html. Not sure how to handle the case where b.html
does the navigation, e.g. opening a bookmark.

[2016-05-25 03:15] paulrouget commented on #11358
@nox I can't reproduce that. Can you still reproduce after the latest webrender updates?

[2016-05-25 03:21] paulrouget commented on #11358
@nox You probably didn't use webrender.

[2016-05-25 03:24] aneeshusa commented on #11217
This isn't finished yet; still need to land a saltfs PR to update our CI configuration and then another PR to actually change the default.

[2016-05-25 03:27] aneeshusa commented on #11195
servo/saltfs#290 landed and seems to have fixed the compile step: http://build.servo.org/builders/android-nightly/builds/57. Looking into the other failures now.

[2016-05-25 03:28] aneeshusa commented on #11195
Watch #10339 for updates.

[2016-05-25 03:28] #11195 closed

[2016-05-25 03:29] aneeshusa commented on #10339
servo/saltfs#290 landed and seems to have fixed the compile step: http://build.servo.org/builders/android-nightly/builds/57. Looking into the other failures now.

[2016-05-25 03:58] ConnorGBrewster commented on #9712
Dupe of #9984.
Other issue has more information.

[2016-05-25 03:58] #9712 closed

[2016-05-25 04:02] ConnorGBrewster commented on #8259
Fixed by #8359?

[2016-05-25 04:28] jdm commented on #11405
Interestingly, there are tests for the named getter (ie. `form.someElement`), but I don't see any for the indexed getter (ie. `form[3]`) in tests/wpt/web-platform-tests/html/semantics/forms/the-form-element/ . We should [write one](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) when implementing this feature.

[2016-05-25 04:30] jdm commented on #11403
We'll need to [update the test results](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations) for `./mach test-wpt tests/wpt/web-platform-tests/html/dom/interfaces.html`.

[2016-05-25 04:33] jdm commented on #11402
We'll need to [update the test results](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations) for `./mach test-wpt tests/wpt/web-platform-tests/html/dom/interfaces.html` after implementing this.

[2016-05-25 04:38] ConnorGBrewster commented on #11396
Seems like this was just an issue with servo-mac2 and should be fixed now. Is this ok to close @larsbergstrom?

[2016-05-25 04:41] jdm commented on #10309
@paulrouget To answer [your question](http://logs.glob.uno/?c=mozilla%23servo#c439080), #11238 implements a per-document referrer control that is obtained via child `<meta>` elements and is used in navigation, iframes, XHR, and scripts. I suspect DDG will also want support for referrer policies delivered via content attributes, which will happen in a separate PR.

[2016-05-25 04:47] ConnorGBrewster opened #11407 "Implement Window.status"
Blocks #2968.

Test expectations should be [updated](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations) for `./mach test-wpt tests/wpt/web-platform-tests/html/dom/interfaces.html`.

---
Spec: https://html.spec.whatwg.org/multipage/browsers.html#dom-window-status ([webidl](https://html.spec.whatwg.org/multipage/browsers.html#the-window-object:dom-window-statu

[2016-05-25 05:00] mbrubeck commented on #11365
Fixed by #11368

[2016-05-25 05:00] #11365 closed

[2016-05-25 05:30] tomaka commented on #11390
@metajack Does that mean glutin will need to spawn a background thread on Linux and OS X as well?
I don't know for OS X, but for Linux it's the fact that the user calls `poll_events` or `wait_events` that asks X11 for events. The events won't magically go in the channel.

[2016-05-25 06:00] metajack commented on #11390
@tomaka I believe so. The Windows code already does this, so it's pretty easy to make the callback stuff the event into a channel. Perhaps on Linux and OS X this could done lazily only if you call the function to get the receiver. That way you only pay for the extra thread if you actually use the channel interface.

[2016-05-25 08:15] nox commented on #11358
Indeed I didn't use webrender. Can reproduce now.

[2016-05-25 08:18] nox commented on #11358
#11398

[2016-05-25 08:46] #10338 closed

[2016-05-25 08:48] Ms2ger commented on #11339
Though I notice there's one advantage: it erases the `Window` type parameter.

[2016-05-25 08:50] mikezaby opened #11411 "Failing to compile dbus and x11"
I am trying to compile servo but it's failing in x11 and dbus packages.

The errors:
[code]
[code]

I am using Debian Stable and I think I have installed the required dev packages:
`libx11-dev`, `libdbus-1-dev`, `libdbus-glib-1-dev`

[2016-05-25 09:14] nox commented on #10309
So I read the JS code again, and I'm not sure how referrer policy is going to help here: doesn't DDG use referrer policy through an iframe, using `contentWindow`, too?

[2016-05-25 11:02] catchmrbharath commented on #11407
I would like to work on this.

[2016-05-25 11:10] #9307 closed

[2016-05-25 12:20] Ms2ger opened #11415 "Some webdriver_handlers functions ignore their pipeline id argument"
All these functions are called with the top-level browsing context and the pipeline id of the browsing context they care about. Some functions (and the `Parent` branch of `handle_get_frame_id`) just use the top-level browsing context instead.

Are we already able to write tests for these functions?

CC @jgraham @asajeffrey

[2016-05-25 12:22] jdm commented on #11407
@catchmrbharath Please do!

[2016-05-25 12:25] jdm commented on #11411
@mikezaby Can you verify that by running the appropriate apt-get command to install them?

[2016-05-25 12:28] nox commented on #9749
@metajack Is there any licensing issue if we version Focus' lists in the `resources` directory for now?

[2016-05-25 12:33] jdm commented on #11384
According to https://github.com/w3c/webappsec-referrer-policy/pull/42#issuecomment-221558477, the fact that the specification ever said `origin-only` was a mistake and the value should be `origin`.

[2016-05-25 12:35] jdm commented on #9749
@cpeterso it was suggested that you might know the answer to the previous question.

[2016-05-25 12:59] asajeffrey commented on #11415
We can test using the wdspec tests (https://github.com/w3c/web-platform-tests/tree/master/webdriver). The current wptrunner includes a servo wdspec test runner (don't think it's made its way to the servo copy though).

[2016-05-25 13:02] asajeffrey commented on #11415
The webdriver code probably needs rewritten to use FrameId rather than PipielineId. The selection of top-level browsing context makes a big difference in the context of browser.html: #11256.

[2016-05-25 13:25] jdm opened #11416 "Support responsive images"
This is a large piece of work that probably depends on making our image loading code better reflect the actual specification model. For more context on what responsive images are, see [the specification introduction](https://html.spec.whatwg.org/multipage/embedded-content.html#introduction-3).

Components:
- [x] [`<picture>`](https://html.spec.whatwg.org/multipage/embedded-content.html#the-picture

[2016-05-25 13:32] mikezaby commented on #11411
I said `I think` because i am not sure if there are any other dependency that I don't know.
The packages that I mentioned before are installed.
[code]

[2016-05-25 13:36] Manishearth commented on #7720
I plan to fix the spec issue, but detagged for now

[2016-05-25 13:38] #11345 closed

[2016-05-25 13:46] mrmiywj commented on #11402
I'd like to pick this up after my finals.

[2016-05-25 13:47] mrmiywj commented on #11403
I'll pick this up after my finals.

[2016-05-25 13:48] mrmiywj commented on #11405
I'll pick this up.

[2016-05-25 13:57] vvuk commented on #11385
If I set a `background: blue` on the body element, it looks like the filter is being applied to an entire tile (512x512).  The yellow outline bits that show up in the first "Servo" word are the result of inverting the antialised edges of black "Servo" rendered on top of blue.  (Without the blue background, the first Servo word does not show up at all.)

![servo-filter](https://cloud.githubusercont

[2016-05-25 14:05] metajack commented on #11100
@pcwalton This the too many fds intermittent we discussed.

[2016-05-25 14:06] mrmiywj commented on #11361
Hmm, could I participate in this work, since it maybe look like a medium level work for servo?
Do I need to track the IRC online communication?

[2016-05-25 14:22] metajack commented on #11361
@mrmiywj Sure, sounds good.

I investigated how this could work. Overrides appear to be stored in `~/.multirust/overrides`. So we can't just check one into the tree as I suggested before, unless rustup searches up the three until it finds `.multirust` like Cargo does.

An alternative implementation is to detect the presence of `rustup` on the system, and use that instead of our custom download log

[2016-05-25 14:31] paulrouget commented on #10309
The goal is to support enough of the referrer policy for ddg to allow using `window.location` and not go through the iframe/postMessage hack.

[2016-05-25 14:44] Ms2ger opened #11418 "ScriptThread::{page_fetch_complete, handle_page_fetch_complete} are poorly named"
They are called when we've received the headers, not the content.

@jdm suggested `page_headers_available`.

Code: `components/script/script_thread.rs`

[2016-05-25 14:45] tschneidereit commented on #9982
Moved to P3 because the behavior, while not perfect, is better now, and good enough for June.

[2016-05-25 14:58] jdm commented on #11402
I'm inclined to leave this available for other people at the moment. We can mark it assigned when you've got the time to work on it.

[2016-05-25 14:58] jdm commented on #11403
@mrmiywj We generally prefer people to focus on one or two issues at a time, rather than reserving several.

[2016-05-25 14:59] jdm commented on #11405
Same as other issues; we'll leave this one available for others so you can focus on one or two at a time.

[2016-05-25 15:25] KiChjang commented on #11100
Disabled in #11414.

[2016-05-25 15:31] jdm commented on #1300
We definitely keep Stylesheet objects around now, so this issue doesn't really make sense to leave open.

[2016-05-25 15:31] #1300 closed

[2016-05-25 15:32] jdm commented on #4431
#9410 merged (via #11377), so what's left to do here?

[2016-05-25 15:34] jdm commented on #8957
The only test in escape.htm that we don't pass right now is the surrogates one, so I think this is fixed.

[2016-05-25 15:34] #8957 closed

[2016-05-25 15:36] jdm commented on #10947
Now that #11377, is the output improved?

[2016-05-25 15:46] jdm commented on #5970
Fixed by the support for webdriver tests in wptrunner.

[2016-05-25 15:46] #5970 closed

[2016-05-25 15:47] jdm commented on #4071
This exists in components/plugins/lints/ban.rs.

[2016-05-25 15:47] #4071 closed

[2016-05-25 15:49] jdm commented on #6514
Much of the relevant code here is being or has been rewritten. I don't see much value in leaving this open.

[2016-05-25 15:49] #6514 closed

[2016-05-25 15:50] jdm commented on #8509
@peterjoel How's this progressing? Anything we can help with?

[2016-05-25 15:51] metajack commented on #11358
Pretty sure @pcwalton is on this.

[2016-05-25 15:58] jdm opened #11420 "Implement CSSOM APIs for hierarchical stylesheet investigation and manipulation"
For more information, see the [specification introduction](https://drafts.csswg.org/cssom/#css-object-model).

Components:
- [ ] [StyleSheet](https://drafts.csswg.org/cssom/#the-stylesheet-interface)/[CSSStyleSheet](https://drafts.csswg.org/cssom/#the-cssstylesheet-interface)
- [ ] [StyleSheetList](https://drafts.csswg.org/cssom/#the-stylesheetlist-interface)
- [ ] [CSSRuleList](https://drafts.css

[2016-05-25 16:13] KiChjang commented on #11402
I wonder if the WebIDL specifying window.alert() has the message parameter as optional?

[2016-05-25 16:40] #11396 closed

[2016-05-25 16:51] pcwalton commented on #11358
Yup, this was on my agenda for today.

[2016-05-25 16:59] jdm commented on #11402
It does not.

[2016-05-25 17:32] frewsxcv commented on #8927
Update: https://github.com/whatwg/html/issues/380 has been closed

I haven't read what their solution was, but it might be the case this can be closed.

[2016-05-25 18:08] rafaqtro commented on #11418
i'd like to work in this issue.

[2016-05-25 18:12] jdm commented on #11418
@rafaqtro Please do!

[2016-05-25 18:24] ab22 commented on #11402
Hi, I would like to work on this.

[2016-05-25 18:24] SimonSapin opened #11424 ""Float position error" panic in LayoutWorker on window resize"
With `./mach run -r http://en.wikipedia.org/wiki/Paris`, I got this in the terminal while playing with resizing the window:

[code]

After that I could scroll, but resizing the window further didn’t seem to affect layout.

I saw this once and didn’t manage to reproduce it again.

This is Servo e18bf819059e4439d276b02083a60f6353aaa359 (master on 2016-05-24), on Linux x64. I think without WebRender

[2016-05-25 18:26] #751 closed

[2016-05-25 18:29] mbrubeck commented on #934
Fixed by #8655.

[2016-05-25 18:30] ConnorGBrewster commented on #11402
@ab22 go for it!

[2016-05-25 18:31] mbrubeck commented on #997
I think this issue has been obsoleted by WebRender and other work.

[2016-05-25 18:31] #997 closed

[2016-05-25 18:35] mbrubeck commented on #1275
I think this is complete.

[2016-05-25 18:35] #1275 closed

[2016-05-25 18:36] mbrubeck commented on #1180
Reftests are now run in headless mode.

[2016-05-25 18:36] #1180 closed

[2016-05-25 18:48] vvuk commented on #11385
While a stacking context is created for the filtered element, a layer isn't -- so the filter ends up applying to the entire layer (since it's not otherwise constrained).  @pcwalton tells me it's not worth fixing layerization issues due to the impending switch to WebRender.  Indeed, with `-w`, this looks better, though text doesn't render properly:
![servo-filter](https://cloud.githubusercontent.co

[2016-05-25 18:55] samlh commented on #934
I think the document.domain setter is still missing.

[2016-05-25 19:01] mitchhentges opened #11425 "[OSX] FAIL [expected PASS] /_mozilla/css/position_fixed_a.html"
[code]

This occurs consistently on my OSX 10.11 machine, and will in CI as of #11330, which enables the test. The test has been disabled on `osx` in that PR, but it would be nice if it would pass instead.

Layout using `position: fixed`:
![fixed](https://cloud.githubusercontent.com/assets/7784737/15552660/bece9148-22bb-11e6-96d3-dd57fcbcc11d.png)

Layout using `float: left` and `margin` (the refe

[2016-05-25 19:35] broesamle commented on #10947
thats what i hope too, ill check tomorrow.

But I think it is more related to the test i have in mind. 

Martin Br:osamle     m-broe.de

-------- Ursprüngliche Nachricht --------
Von: Josh Matthews <notifications@github.com>
Datum: 25.05.2016  17:45  (GMT+01:00)
An: servo/servo <servo@noreply.github.com>
Cc: "Martin Br:osamle" <info@m-broe.de>,Comment <comment@noreply.github.com>
Betreff: Re: [ser

[2016-05-25 21:05] asajeffrey commented on #11344
Urgh, I realized a tricky case... @paulrouget, when a mozbrowser iframe completes loading, does it send a load event to its opener? Or should it send just a mozbrowserloadend event?

[2016-05-25 21:15] pierrechevalier83 commented on #9673
I would be interested to give it a try if no-one is on it (?)

[2016-05-25 21:20] KiChjang commented on #9673
Certainly! Please find us on `irc.mozilla.org` at `#servo` if you have any questions!

[2016-05-25 22:13] mbrubeck commented on #2064
Looks like the fix re-landed in servo/rust-layers#116

[2016-05-25 22:13] #2064 closed

[2016-05-25 22:37] mbrubeck commented on #2092
Fixed by #6289.

[2016-05-25 22:37] #2092 closed

[2016-05-25 22:47] mbrubeck commented on #2007
Implemented in #5134 and others.

[2016-05-25 22:47] #2007 closed

[2016-05-25 22:50] #2105 closed

[2016-05-25 23:03] #11217 closed

[2016-05-25 23:49] mbrubeck commented on #11411
If you run `pkg-config --cflags dbus-1` at the shell, does it print out anything?  Is the `$PKG_CONFIG_PATH` variable set in your environment?  Are you passing any

For some reason the pkg-config command is failing when run by these build scripts.

[2016-05-26 00:06] alex commented on #10254
FWIW, https://www.ssllabs.com/ssltest/viewMyClient.html also triggers this.

[2016-05-26 00:10] eddyb commented on #10254
@alex Wow, that's good news, more reproductions! The only thing I notice on that page is:
[code]
So maybe `async` scripts are just broken? How can we confirm this?

[2016-05-26 00:45] #1536 closed

[2016-05-26 00:55] pcwalton commented on #11358
Reopening since we need a wrup.

[2016-05-26 03:50] asajeffrey commented on #11344
#11430 is a first step towards this, making the constellation aware of which frames are mozbrowser iframes.

[2016-05-26 04:07] cpeterso commented on #9749
@nox and I spoke on IRC and I referred him to the right people. We definitely need to clear the lists with Product and Policy people before merging.

[2016-05-26 04:41] metajack commented on #9749
@cpeterso What do you mean "clear the lists"?

[2016-05-26 04:41] metajack commented on #9749
Oh, just making sure the license is such that it can be distributed?

[2016-05-26 04:51] cpeterso commented on #9749
The Tracking Protection and Focus lists, which are derived from Disconnect's lists, have been reviewed and approved for specific uses in specific products. If we're using these lists in a different context or product, we should get Mozilla Product and Policy people to sign off again. I shared the contacts with @nox, but let me know if you have any questions.

[2016-05-26 04:54] ab22 commented on #11402
Hey guys .. quick question. I'm gettning an error when running `./mach update-wpt /tmp/servo.log` so I decided to manually update the .ini file. Since I'm not familiar with mach, I'm not sure if [this](https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/dom/interfaces.html.ini#L5028-L5029) is the right file to edit.

I changed FAIL to PASS. Should that be enough?

[2016-05-26 04:56] mrmiywj commented on #11402
@ab22 Yes.
But just delete the passed tests item in that file, not change FAIL to PASS

[2016-05-26 07:20] catchmrbharath commented on #11407
@jdm I implemented window.status, but the test corresponding to the change is failing. I am not sure why! Can you take a look?

[2016-05-26 07:33] Gozala opened #11435 "wheel events don't get dispatched"
https://developer.mozilla.org/en-US/docs/Web/Events/wheel

/cc @paulrouget

[2016-05-26 08:13] paulrouget commented on #9749
Would it be hard to have a way to toggle content blocking for mozbrowser iframes?

Like - maybe via a DOM attribute on the mozbrowser iframe. And ideally, add a property to the `mozbrowserloadevent` to tell how many elements were blocked.

That would be hell of cool to have a "toggle-ad-blocking" button in browserhtml, that also shows the number of blocked elements.

[2016-05-26 08:16] paulrouget commented on #11344
I don't know how Gecko/Gaia works, but in browserhtml, we only rely on the `mozbrowserloadend` event.

[2016-05-26 10:04] mikezaby commented on #11411
This issue is reloved, I had installed brew in my user, that had installed and overide the system pkg-config. I removed the brew and now it compiles normaly.
Sorry for the false alarm :disappointed:

[2016-05-26 10:04] #11411 closed

[2016-05-26 10:56] jdm commented on #11407
Looks like you got your answer on IRC.

[2016-05-26 12:08] danlrobertson opened #11440 "Add log2 function that accepts a u32"
We currently cast a `u32` value to `f32` in order to use [`f32::log2`](https://doc.rust-lang.org/std/primitive.f32.html#method.log2) in  [`validate_common_tex_image_parameters`](https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L346) (See [lines 400 - 408](https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L400-L408)).

[2016-05-26 12:29] asajeffrey commented on #11344
OK, that's good, we can treat a mozbrowser iframe as an auxiliary browsing context for most things, I think it's just the `moz*` events that are special.

[2016-05-26 13:01] mitchhentges commented on #87
I bet I can take care of this

[2016-05-26 13:26] craftytrickster commented on #10933
This one is now unblocked.
@DDEFISHER are you still planning to work on this?

[2016-05-26 13:30] mitchhentges commented on #87
I'm not sure what we want to return from [`debug_id()`](https://github.com/servo/servo/blob/master/components/layout/fragment.rs#L848-L850) if it doesn't exist, so I'll opt for `-1`. This will affect [fmt::Debug for Fragment](https://github.com/servo/servo/blob/master/components/layout/fragment.rs#L2627) and [`Encodable for Fragment`](https://github.com/servo/servo/blob/master/components/layout/fr

[2016-05-26 14:02] djc commented on #8409
I would like to take this.

[2016-05-26 14:02] mbrubeck commented on #87
You could change debug_id() to return a DebugId instead of u16.

[2016-05-26 14:02] jdm commented on #8409
Please do!

[2016-05-26 14:14] mitchhentges commented on #87
Hmm, that will just defer the I'd resolution, but I think I've got some ideas. Memory address sounds good, too

[2016-05-26 14:41] kilobtye commented on #11355
I digged into this issue and it is deeper than I thought...

It's related to SnapToPixels() in shader code. GL3 version of SnapToPixels uses round(), and I looked up the GL doc:

So if the graphics driver implement round as round to even, point 3.5 and 6.5 will snap to 3 and 7, so the length will become 4 instead of 3. Unfortunately here texts have a lot of x.5 position :(

[2016-05-26 15:21] kevgs commented on #11440
I'll take this one.

[2016-05-26 15:23] emilio commented on #11440
Nice, add a comment here if you have any doubts! :)

[2016-05-26 15:37] Manishearth commented on #11355
cc @glennw could we write our shaders without snaptopixels?

[2016-05-26 15:52] izgzhen commented on #10539
I found a problem regarding the implementation: https://w3c.github.io/FileAPI/#requestResponseModel. Here it mentions the model of "request". However, first it sounds a pretty counterintuitive thing to think about how to handle request in a browser; second, as I observed, in current implementation we will somehow *intercept* the `LoadData` message in `resource_thread.rs`'s `CoreResourceManager::lo

[2016-05-26 16:45] Manishearth commented on #10539
Well, there's already a switch on a scheme in both http_loader and fetch, we just add an entry to that. It's possible to filter on GET, and I think XHR does this for us anyway.

[2016-05-26 17:24] sorpaas commented on #10468
Probably it is better to use system rust and cargo?

[2016-05-26 17:57] eddyb commented on #10468
@sorpaas Only if they match the exact nightly Servo needs.

[2016-05-26 18:31] jdm opened #11444 "Implement HTML5 form validation"
Specification: https://html.spec.whatwg.org/multipage/forms.html#constraints, https://html.spec.whatwg.org/multipage/forms.html#the-constraint-validation-api
#8747 laid the groundwork for this. #10843 is an attempt at implementing it that had a number of issues preventing it from being merged (see final comment).

Prerequisite for #10781.

[2016-05-26 18:40] aneeshusa commented on #11030
Fedora is done: #11438.

[2016-05-26 18:54] jdm opened #11446 "cors/redirect-origin.html repeatedly times out on OS X after enabling the referrer-policy testsuite"
It's possible that we end up running other resource-internsive tests at the same time, which could cause the "too many opened files" errors?
[code]

[2016-05-26 18:58] broesamle commented on #10947
With a freshly build version of this morning I still get the style attribute doubled, as before. :-/
This attribute issue looks like a separate thing. I did check for other 'suspisious' issues in this respect but did not find any. Shall I open one?

Fixing #10947 in itself should only need half a line of code change but its hard to come up with a test for it as long as setting/getting the style at

[2016-05-26 18:59] jdm commented on #10947
Yes, please do file a separate issue for the attribute one.

[2016-05-26 19:00] jdm commented on #11030
We're probably good here, then.

[2016-05-26 19:00] #11030 closed

[2016-05-26 19:19] broesamle opened #11448 "body.style.overflow set/get doubles attribute's value"
When setting `document.body.style.overflow = "hidden"`its value is doubled (`hidden hidden`) but should be a single `hidden`.

At first glance, it does, by contrast, not occur with `document.body.style.height`.

Minimal Example:
[code]
Output servo:
[code]
Output Firefox:
[code]

[2016-05-26 19:21] broesamle commented on #10947
here it is #11448

[2016-05-26 19:23] broesamle commented on #11448
I'd be happy to have a look at it (since #10947 somehow depends on it) but I think it would be good, if somebody else could confirm the issue.

[2016-05-26 19:55] asajeffrey opened #11450 "The mozbrowserlocationchanged event property should be url, not uri"
The documentation at https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowserlocationchange describes the details object has having property:

**url** The URL of the new location

but our implementation https://github.com/servo/servo/blob/master/components/script/dom/webidls/BrowserElement.webidl#L66 has a property **uri**.

[2016-05-26 19:57] Coder206 commented on #11450
I want to try and fix this

[2016-05-26 19:57] ConnorGBrewster commented on #11450
@Coder206 go for it :)

[2016-05-26 19:59] Coder206 commented on #11450
@asajeffrey I change the value DOMString uri; to DOMString url; Is this what you were looking for?

[2016-05-26 20:03] asajeffrey commented on #11450
@Coder206 try it and see :)

Once you've built with `./mach build -r` you'll want to run:
[code]

You'll probably get a failure, caused by https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/mozbrowser/mozbrowserlocationchange_event.html#L42, you should edit that test to also use url rather than uri.

[2016-05-26 20:04] asajeffrey commented on #11450
By the way, congratulations on being so quick on the draw!

[2016-05-26 20:05] Coder206 commented on #11450
@asajeffrey Thanks I was really eager to help out.

[2016-05-26 20:06] asajeffrey commented on #11450
@Coder206 let me know if you hit any problems.

There might be some other `uri`s that should be `url`s, feel free to fix those too :)

[2016-05-26 20:06] Coder206 commented on #11450
@asajeffrey So I should also change that second page line 42?

[2016-05-26 20:06] Coder206 commented on #11450
@asajeffrey Ok perfect! On it! Just compiling rust right now and trying it for a first time

[2016-05-26 20:07] asajeffrey commented on #11450
Try running the tests without changes, just to make sure they fail, then edit mozbrowserlocationchange_event.html and see if you can get the test to pass again.

[2016-05-26 20:07] Coder206 commented on #11450
@asajeffrey Sounds good

[2016-05-26 20:12] asajeffrey commented on #11450
Make sure you mention this issue (#11450) when you file your PR, so that I'll see it.

[2016-05-26 20:16] Coder206 commented on #11450
@asajeffrey Ok sounds good! Thanks for your help! I'll get it to you as soon as I can.

[2016-05-26 21:00] SimonSapin commented on #9283
I commented in https://github.com/servo/rust-cssparser/issues/105 about how to fix the parsing code for this.

[2016-05-26 21:07] jdm opened #11452 "ol_japanese_iroha_a.html takes >10s to run to completion"
Both the test file and the reference file take >10s each, so the total time for running that reftest regularly exceeds 23s when I run them locally.

[code]

[2016-05-26 21:30] #11402 closed

[2016-05-26 21:37] metajack commented on #11355
If we depend on specific rounding behavior, it sounds like we definitely should not be using that function.

[2016-05-26 21:50] mitchhentges commented on #9283
Perfect, thanks Simon. I think I can do this one, but no guarantees

[2016-05-26 22:10] danlrobertson commented on #10531
@shinglyu: looks great! Thanks for looking into that. I'm not enough of an expert to give you a definitive answer. @SimonSapin is this what you had in mind?

[2016-05-26 22:16] jdm commented on #11448
cc @SimonSapin for confirmation

[2016-05-26 22:36] peterjoel commented on #8509
@jdm I've been busy with my job. But the feature is mostly done. Outstanding is just tests and the CSS-style initialisers. There is a 3-day weekend coming up this weekend, and I should get the PR in.

[2016-05-27 01:48] craftytrickster commented on #11448
Just an educated guess, but I think this is due to the fact that https://github.com/servo/servo/issues/10933 hasn't been implemented yet.

Even though I do not see `overflow` on the list of [shorthands](https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties) at MDN, overflow does behave in a similar fashion, as it is a property that represents more than one value when set. (overflow

[2016-05-27 04:22] DDEFISHER commented on #11369
Can I take this?

[2016-05-27 05:08] DDEFISHER commented on #10933
@craftytrickster if you don't mind I would like to

[2016-05-27 06:10] lygstate commented on #10047
@yoava333  That's correct, now I can also build now, the most important thing is checkout with core.autocrlf disabled.

[2016-05-27 06:39] SimonSapin commented on #11448
@craftytrickster is correct: `hidden hidden` is the generic serialization of the `overflow` shorthand (which expands to `overflow-x` and `overflow-y`). The solution is to have serialization code that’s specific to each shorthand (similar to how parsing code is specific).

[2016-05-27 06:55] Manishearth opened #11457 "Segmentation fault while debugging"
I think this happens if you try to fetch a non-primitive javascript object across the console.

STR:

 - Open Servo, release mode, with devtools on mobile.twitter.com
 - Log in
 - Attach Firefox's remote debugger (Webide -> remote runtime)
 - Open the console, type `document.getElementById('container')` and hit enter
 - Watch as Servo crashes.

[code]

[2016-05-27 06:55] highfive commented on #11457
cc @fitzgen

[2016-05-27 07:29] Ms2ger opened #11459 "Remove Constellation::child_processes?"
It never seems to be read.

CC @pcwalton

[2016-05-27 07:43] broesamle commented on #11448
thank you for the clarification!

so this should fail
[code]

and this should pass:
[code]
(and firefox is acually wrong with my minimal console output example above.

[2016-05-27 09:41] catchmrbharath commented on #11405
I will work on this.

[2016-05-27 09:44] izgzhen commented on #10539
Some experimental code:

https://github.com/izgzhen/servo/tree/blob-loader and https://github.com/izgzhen/servo/tree/url-interface-mock (the latest commit)

Some problems:

1. Where to put Blob URL Store? Currently I prefer to manage it under `CoreResourceManager`, and accessible through message interface from script thread.
2. And the above question will determine how loader will communicate with

[2016-05-27 10:05] shinglyu commented on #11087
@larsbergstrom Are we actively fixing this problem? It is causing ~25/51 TP5 tests to fail intermittently.

[2016-05-27 10:20] paulrouget commented on #9752
This works now.

[2016-05-27 10:20] #9752 closed

[2016-05-27 11:07] craftytrickster commented on #10933
Sure, just letting you know you're unlocked now.

[2016-05-27 11:21] #11407 closed

[2016-05-27 11:36] SimonSapin commented on #11448
@broesamle That’s what happens currently in Servo, but it’s a bug. So it’s not what *should* happen. Fixing the bug means implementing shorthand-specific serialization code.

[2016-05-27 11:39] Manishearth opened #11464 "IPC-related panic on css-sans"
STR:
- open http://yusugomori.com/projects/css-sans/fonts
- scroll around, mouse over the CSS blocks (the letters should get highlighted)

Seems like `libc::close()` failed?

[code]

[2016-05-27 11:50] jdm commented on #11369
@DDEFISHER Yes, please!

[2016-05-27 11:57] jdm commented on #10047
I wonder if we should have mach check for that setting if it's building on windows, and warn the user if it's not set correctly?

[2016-05-27 12:04] jdm commented on #11405
Go ahead!

[2016-05-27 12:05] jdm commented on #10539
I think @Manishearth meant switching on the scheme in `resource_thread.rs`, not `http_loader.rs`.

[2016-05-27 12:07] jdm commented on #11087
Are those same pages available where other people can replicate the problem?

[2016-05-27 12:11] #8409 closed

[2016-05-27 12:30] broesamle commented on #11172
Again, a quick in-between report:
In both exapmles (`span` and `div`) I encounter `opacity=0.1` in `create_fragments_for_node_text_content` and `modify_style_for_text`.

Afterwards, it is no longer present for the `span`:
And, supporting your suspicion about a lack of stacking contexts, fewer callls to `fragment::establishes_stacking_context` happen for the span, and none of them has `opacity=0.1`

[2016-05-27 12:41] jdm commented on #11172
I presume that modify_style_for_text is overwriting it. We should see if #11421 addresses this to make sure we're not chasing the same issue.

[2016-05-27 12:59] Ms2ger opened #11466 "FileManager::idmap should not be a RefCell"
We should just store a plain `HashMap` and remove the `borrow()` / `borrow_mut()` calls.

* Code: `components/net/filemanager_thread.rs`

[2016-05-27 13:00] #11320 closed

[2016-05-27 13:04] broesamle commented on #11172
hmm, in my two examples, modify_style_for_text is called exactly once, respectively. in both cases,  it sets opacity to 1.0 again, which is not harmful in the span case.

I will wait for the avoid double apply transform has landed and then return to here.

[2016-05-27 13:08] Manishearth commented on #10539
Yeah, basically.

CRM seems fine for now. FileManager is also okay with me

Does script ever need to directly fetch a blob URI? I thought we'd only have to think about HTTP and XHR loads on blob: uris, and switching in resource_thread will fix that (for XHR, you can add a similar switch in fetch, this is already specced)

yep. _might_ need to be spawned in a temporary thread or loaded in the file

[2016-05-27 13:09] Manishearth commented on #10539
It depends which of these two you need. https://html.spec.whatwg.org/multipage/browsers.html#same-origin . "same origin-domain" is something you'd have to implement manually.

[2016-05-27 13:10] Manishearth commented on #10539
We should really start using typed origins everywhere

[2016-05-27 13:15] izgzhen commented on #10539
I think it would be convenient to implement the same-origin check inside `Origin`. Also, derive serialize/deserialize for it. (Oddly `url` doesn't derive it now, and does't use `#[derive(Ser...)]` feature either)

[2016-05-27 13:15] Ms2ger opened #11467 "Storage, resource threads race with shutdown to write out their data"
When receiving an `Exit` message, they try to write out their data to the config dir, but nothing guarantees that they manage to do that before the process exits.

[2016-05-27 13:18] Manishearth commented on #10539
the same-origin check is already inside Origin :smile:

[2016-05-27 13:18] Manishearth commented on #10539
Why are we using strings at all though? You can obtain typed origins from typed URLs, and we have typed URLs.

[2016-05-27 13:19] izgzhen commented on #10539
No, the communication between script thread and store the `creation` and `revocation` api.

[2016-05-27 13:19] Manishearth commented on #10539
Well, the file thread will handle creation. We only need a revocation message.

[2016-05-27 13:30] izgzhen commented on #10539
Check just by `urlA.origin() == urlB.origin()`?! It looks more like structural equivalence to me (though it looks like that the spec version "same-origin" is a structural one in a typed, or normalized context).

And for the "creation", it is to create a URL from existing `Blob`, so it looks like not really related to current file manager thread (although put the store under its management would le

[2016-05-27 13:32] Manishearth commented on #10539
same-origin _is_ structural :smile: .

Well, the existing blob is probably in the file manager thread anyway. But yeah, that depends on your caching strategy, and which in-memory data goes where. The file manager thread will be creating _some_ blob URIs at any rate.

[2016-05-27 13:46] jdm commented on #11466
No need to run any tests for this; if it compiles, it's good.

[2016-05-27 13:50] jdm commented on #11467
Oops. I guess the code that sends the Exit messages should wait for a response.

[2016-05-27 13:53] jdm commented on #11467
We'll want to make the `Exit` messages take a new `Sender<()>` value, and use that to send a reply after the files are finished being written. See how `CoreResourceMsg::Synchronize` is used by `resource_thread.rs` for an example.

Code: `components/constellation/constellation.rs` (`handle_exit`), `components/net_traits/lib.rs`, `components/net/resource_thread.rs`, `components/net_traits/storage_th

[2016-05-27 14:14] Ms2ger commented on #1073
Fixed in #9603.

[2016-05-27 14:14] Ms2ger commented on #4806
Fixed in #9603.

[2016-05-27 14:14] #4806 closed

[2016-05-27 14:14] #1073 closed

[2016-05-27 14:38] #11457 closed

[2016-05-27 15:11] jdm opened #11469 "Make Document::DefaultView return a null value when there's no browsing context"
This requires updating `Document.webidl` to indicate that a [nullable return value](http://heycam.github.io/webidl/#idl-nullable-type) is allowed, then modifying the implementation to check `self.browsing_context()` and return an appropriate value.

**Code**: `components/script/dom/webidls/Document.webidl`, `components/script/dom/document.rs`
**Test**: `./mach test-wpt tests/wpt/web-platform-tests

[2016-05-27 17:51] kevgs commented on #11469
I'll take this one.

[2016-05-27 17:52] KiChjang commented on #11440
Fixed by #11458.

[2016-05-27 17:52] #11440 closed

[2016-05-27 17:54] kyleheadley commented on #11339
I attempted to remove the trait object all together, but the cef port (at least) depends on the dynamic dispatch. I'm looking into altering cef, but that may be beyond the scope of this issue.

[2016-05-27 18:03] asajeffrey commented on #5236
IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=27+May+2016&e=27+May+2016#c442625

[2016-05-27 18:06] #11292 closed

[2016-05-27 18:09] jdm commented on #11469
Great! Please ask questions if anything is unclear.

[2016-05-27 21:25] nox opened #11475 "Use USVString for URLs and origins in IDL"
Properties `baseURI` on `Node` and `URL` and `documentURI` on `Document` should use `USVString` instead of `DOMString`. See https://github.com/whatwg/dom/pull/252.

Files:
 * components/script/dom/document.rs
 * components/script/dom/node.rs
 * components/script/dom/webidls/Document.webidl
 * components/script/dom/webidls/Node.webidl

[2016-05-27 21:29] nox opened #11477 "Make document.createEvent("touchevent") sometimes throw"
See https://github.com/whatwg/dom/pull/230.

[2016-05-27 21:31] asajeffrey opened #11478 "Add wpt tests for x-origin iframe parentage"
I added tests in #11476 for same-origin iframe parentage, we should do the same x-origin.

[2016-05-27 21:47] mbrubeck opened #11479 "Intermittent shutdown crash in css-flexbox-1_dev/html/flexbox-baseline-multi-item-vert-001.htm"
http://build.servo.org/builders/mac-rel-css/builds/1282

[code]

[2016-05-27 23:03] #8308 closed

[2016-05-27 23:47] FremyCompany commented on #9468
Just FWIW, I just hit this issue too. I wanted to poke around the layout capabilities of servo for html tables, and decided to create a VM to install servo dependencies without compromising my environment. Since it is now working on Windows too, I decided to go with that for the sake of trying it out. That didn't work out as expected due to this error though :-)

I should note I was using Windows

[2016-05-28 08:56] mitchhentges opened #11482 "Kerning is affected by whether an element is floating or not"
When testing with the text "xe", the two characters vary in distance depending on whether the element is floating or not, and if the previous sibling is floating.

This is making it challenging to fix #1516, because the test reference uses floating containers. If "float" affects kerning, then the reference example is different than the test example.
![2016-05-28-105423_800x600_scrot](https://cloud

[2016-05-28 10:19] nox opened #11485 "Make DOM methods taking a `*mut JSContext` unsafe"
For example, `HTMLCanvasElement::GetContext`.

Files:
- components/script/dom/bindings/codegen/CodegenRust.py

[2016-05-28 11:08] blacksvk opened #11486 "gradients within rectangles are rendered wrong"
Gradients within squares are OK, but gradients within rectagles are rendered wrong.
![gradient](https://cloud.githubusercontent.com/assets/10187350/15626954/b84ae54a-24d4-11e6-9214-efb1ad848cde.png)

[code]

[2016-05-28 11:48] emilio commented on #11486
Is that screenshot with WebRender (`-w` switch) or default servo? Does it happen with the other renderer?

[2016-05-28 11:53] blacksvk commented on #11486
^ That's the default one = without -w switch.

With -w switch:
![gradient2](https://cloud.githubusercontent.com/assets/10187350/15627152/6d37733c-24db-11e6-90ee-5aba69c47ab3.png)

[2016-05-28 12:09] blacksvk opened #11487 "Text inside <p> is overlaping floating image with max-width."
![floatimg](https://cloud.githubusercontent.com/assets/10187350/15627207/11fe458e-24dd-11e6-9c3a-cada5dc5f3cd.png)

[code]

When you remove `max-width` -> everything's OK.

[2016-05-28 13:55] blacksvk opened #11489 "duckduckgo.com is rendered like blank page"
Right menu appears for the moment, then disappears. Result is blank page.
![ddg](https://cloud.githubusercontent.com/assets/10187350/15627704/954468e2-24ec-11e6-9c23-5755d8a0cafe.gif)

[2016-05-28 14:41] metajack commented on #11489
Part of #9915.

[2016-05-28 14:49] larsbergstrom commented on #11087
@shinglyu I was looking in the perf bug (https://github.com/shinglyu/servo-perf/issues/1) at some of the listed sites. It appears we're continuing to do useful work the whole time (downloading more resources, etc.) so I suspect that there's something going on here inside of either Servo's network stack that's causing it to be really slow or where we re-do way too much work every time we load a new

[2016-05-28 14:51] metajack commented on #11087
cc @nox

I wonder if this is going to end up being similar to #8342.

[2016-05-28 14:52] metajack commented on #11087
@jdm I believe shing put them on bitbucket or somewhere else since he doesn't have access to the mozilla org. It's probably time to make private servo org repos and host our things there.

[2016-05-28 14:54] metajack commented on #11486
@blacksvk I just wanted to let you know that you are filing some great bugs. These are extremely helpful and very much appreciated.

[2016-05-28 14:58] metajack commented on #11485
The generated code should add "unsafe" to the function signature. This can be easily done by searching for `*mut JSContext` in function declarations and then modifying them. In some cases you may have to inspect the generated code for them, and then figure out how they are built up by the code generator in order to know where to inject "unsafe".

After that step, there will probably be a bunch of

[2016-05-28 15:00] metajack commented on #11482
Wow, nicely spotted.

cc @mbrubeck

[2016-05-28 15:27] emilio commented on #11486
Indeed!

I'm looking into this btw.

[2016-05-28 15:28] blacksvk commented on #11486
@metajack thx, np. I like the idea of Servo project, I'm just trying to be helpful

[2016-05-28 16:11] SimonSapin commented on #10531
@danlrobertson what is "this" referring to? Is there a PR?

[2016-05-28 16:16] danlrobertson commented on #10531
In #10178 you mentioned that a "dirty" flag should be created for `FlexItem`s

But after looking at the video that @shinglyu had a link to in his comment above, it looks like reflow is triggered correctly as is. I'm not enough of a layout expert to determine if this is good enough though.

[2016-05-28 20:15] timvandermeij commented on #7327
Fixed by #11378?

[2016-05-28 20:27] #11475 closed

[2016-05-28 20:48] broesamle commented on #10947
Having learned what shorthands are I could now avoid them in the testing.
Does it make sense to create a PR and review the test already?
https://github.com/broesamle/servo/commit/364f8084335805d3b1fd846e187cfe153f064f3c

[2016-05-28 22:08] #7327 closed

[2016-05-29 03:20] SimonSapin commented on #10531
This flag that I mentioned is not about correctness, it would be an optimization.

With #10178, `FlexFlow::bubble_inline_sizes` always re-creates and sorts an `Vec<FlexItem>`, even if that vector was already created in a previous layout but hasn’t changed. For example, if a reflow is is triggered because the `width` property of a flex item changed, or content was added to it (so that it’s intrinsi

[2016-05-29 06:58] ab22 commented on #11467
Sounds like fun but I'm worried I might get stuck with obvious stuff from Rust that I'm not used to yet. I'm willing to take this if it that's ok. :)

[2016-05-29 08:23] lygstate commented on #10047
@jdm It's would be rather hard, the first things should be inform the user to setting core.autocrlf to disabled in the README of servo.

[2016-05-29 13:38] blacksvk opened #11492 "Vertical-align is ignored in div with display: table-cell"
Vertical-align is ignored in div with display: table-cell within div with display:table
![cell](https://cloud.githubusercontent.com/assets/10187350/15633638/c1484258-25b2-11e6-9467-38f69d565860.png)
[code]
This issue affects github.com: that's why "This repository" tag within searchbox is not aligned correctly.
![gith](https://cloud.githubusercontent.com/assets/10187350/15633647/0bb917d6-25b3-11e6

[2016-05-29 14:14] Kelnozz opened #11493 "Can't build on Windows with unicode in the path"
I'm not sure, but maybe it's because my Windows installation uses Latin-1 and not UTF-8.

[2016-05-29 14:49] jdm commented on #11467
@ab22 Go ahead! Feel free to ask questions here.

[2016-05-29 14:59] jdm opened #11494 "Appveyor build is broken"
Every single build fails on mozjs:
[code]

I believe this could be avoided by forcing `-j1` for building mozjs on appveyor.

[2016-05-29 14:59] highfive commented on #11494
cc @aneeshusa

[2016-05-29 19:03] ab22 commented on #11467
I've got the code ready but .. How would I go to test it?

[2016-05-29 19:04] Ms2ger commented on #10047
We would probably accept a PR along those lines.

[2016-05-29 20:43] KiChjang commented on #11467
In this case, if the code compiles (i.e. `./mach build -d` does not report amy errors), then it is good enough.

[2016-05-30 01:54] #11357 closed

[2016-05-30 02:06] shinglyu commented on #10531
I see. We should probably do some profiling first to see if it's worth solving or not.

[2016-05-30 02:17] shinglyu commented on #11087
@jdm: You can download them here: http://people.mozilla.org/~jmaher/taloszips/zips/tp5n.zip These are the pages used in Gecko's talos test.

[2016-05-30 02:52] shinglyu commented on #11087
If you click on the "Job Details" tab in treeherder stage, you can see a list of timeout pages: https://treeherder.allizom.org/#/jobs?repo=servo&selectedJob=30
![](https://cloud.githubusercontent.com/assets/3250983/15569822/86947432-2365-11e6-8abd-9e68cdf716d5.png)

Here is a list of the test I run: https://github.com/shinglyu/servo-perf/blob/master/page_load_test/20160526.manifest

The one starts

[2016-05-30 04:08] jdm commented on #10789
Fixed by #10791.

[2016-05-30 04:08] #10789 closed

[2016-05-30 05:05] paulrouget opened #11498 "I don't understand how the new mozbrowser API privilege works"
Maybe I missed something in the recent changes in the mozbrowser API, and codegen (#11308 and #11465),  but:

The interface [`BrowserElementPrivileged`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/BrowserElement.webidl) describes special methods that should be only available if:

1. the `<iframe>` is in the top level document,
2. the `<iframe>` has a `mozbrowser` attri

[2016-05-30 05:12] paulrouget commented on #11498
Here is a test:

[code]

[code]

Without the pref, I see:

[code]

We should see:

[code]

With the pref I see:

[code]

We should see:

[code]

[2016-05-30 05:19] philipc commented on #10153
This requires interlace support for gifs, reported as https://github.com/PistonDevelopers/image-gif/issues/25

[2016-05-30 05:31] paulrouget opened #11499 "Panic on goBack: assertion failed: base_time >= self.timers.borrow().last().unwrap().scheduled_for"
STR:
- servo -w http://wikipedia.org
- click English
- wait a second or two
- go back

[code]

[2016-05-30 06:04] paulrouget opened #11500 "Add an attribute to iframe to toggle mozcontentblocker"
The same way we have `<iframe mozprivatebrowsing>`, we could have `<iframe mozcontentblocker>` to toggle the content blocker mechanism.

/cc @nox @jdm

[2016-05-30 07:28] Ms2ger opened #11501 "Review Piston copyright"
https://github.com/PistonDevelopers/piston/pull/1080 landed a rather curious copyright notice. We should make sure we still want to depend on piston projects with this in place.

[2016-05-30 07:32] Manishearth commented on #11501
That seems to apply only to license changes? There will still be a solid license, and if they decide to change it we can always fork, which was a danger even without that voting system.

[2016-05-30 08:10] Ms2ger opened #11505 "Implement more DOMParser::parseFromString arguments"
Blocks #2968.

We should add support for "application/xml" and "application/xhtml+xml"; we should probably leave "image/svg+xml" unsupported for now.

* Spec: <https://w3c.github.io/DOM-Parsing/#widl-DOMParser-parseFromString-Document-DOMString-str-SupportedType-type>.
* Code: `components/script/dom/domparser.rs`, `components/script/dom/webidls/DOMParser.webidl`.
* Test: `domparsing/DOMParser-pars

[2016-05-30 08:15] nox commented on #11501
They can't decide to change without rewriting all the code of contributors that don't want a license change. That particular 95% agreement scares the hell out of me.

[2016-05-30 09:00] nox commented on #11498
So I should restore some of the checks in `HTMLIFrameElement::Mozbrowser` and add `[Func]` in `BrowserElement.webidl`. I had done that in my initial PR but I fumbled a rebase after addressing one of @jdm's comments I think.

[2016-05-30 09:09] Ms2ger opened #11507 "get_or_init_2d_context in CanvasRenderingContext2D::draw_html_canvas_element looks suspicious"
The spec isn't really clear, though. Let's see what other browsers do to webgl / uninitialized canvases.

CC @emilio @nox

[2016-05-30 09:45] nox commented on #11499
Duplicate of #9984.

[2016-05-30 09:45] #11499 closed

[2016-05-30 10:32] nox commented on #9984
I think there is some place where we don't properly invalidate the expected event id.

[2016-05-30 10:40] #11498 closed

[2016-05-30 11:12] nox opened #11509 "Deduplicate LoadData structures"
We have two of them in `constellation` and `net_traits`, is that intended? Should we dedup them?

[2016-05-30 12:55] jdm commented on #11509
It certainly was intentional when they were each created; the information required by the constellation when script was initiating a navigation was different than the information required by the network thread when initiating a network request.

[2016-05-30 13:37] fduraffourg commented on #11216
The list is now 7900 items long. From the list specification it also contain wildcard domains (33 of them) and exceptions for wildcard domains (9 of them):
https://publicsuffix.org/list/

The current code iter over every list item to compare it with the domain to check. It can take up to a few ms to process (without taking care of wildcard and exceptions)!

By using a HashSet this lookup is reduce

[2016-05-30 13:53] cmr opened #11510 "The Million Dollar Homepage renders incorrectly"
Running `./mach run -r -- http://milliondollarhomepage.com/` on a recent build on Linux gives this:
![2016-05-30-231635_800x600_scrot](https://cloud.githubusercontent.com/assets/704250/15650527/92da6e40-26bc-11e6-8160-250c6e51a095.png)

It also dumps this on the console:

[code]

but I anticipate those aren't super relevant, as it _does_ partially render the page.

Seems like it's mostly an ungodl

[2016-05-30 13:54] fduraffourg commented on #11216
What a coincidence: when fetching the last code I ran on `components/net/content_blocker.rs` (2h old commit) which seems to hold the solution I wanted!

It seems that using `lazy_static!` would be a good solution to allow the use of HashSet without touching other structures or functions.

I will work on a PR with this.

[2016-05-30 14:02] rwakulszowa commented on #11466
Hey, I think I could try to fix this one, unless someone has already started working on it, obviously.

[2016-05-30 14:12] nox commented on #9749
So what is the actual scope of this if #11500 is only P2? I'm confused. Should we implement toggle right now or not?

[2016-05-30 14:21] Kelnozz commented on #11510
related with #10153?

[2016-05-30 14:21] metajack commented on #9749
@nox I think we can land this without a list included and without the ability to turn on and off except from the commandline and then land those other two things separately.

[2016-05-30 14:21] paulrouget commented on #9749
P2 means "good to have for the June demo". We can demo content blocker without the toggle. But it would require a restart.

[2016-05-30 14:22] nox commented on #9749
Perfect, consider this landed then. #11413.

[2016-05-30 14:22] #9749 closed

[2016-05-30 14:25] cmr commented on #11510
Well it's a png, so...

[2016-05-30 14:28] Kelnozz commented on #11510
![2016-05-30-162606_361x25_scrot](https://cloud.githubusercontent.com/assets/8824364/15651988/6715a57e-2683-11e6-848f-793d36e3baf4.png)
![2016-05-30-162747_251x57_scrot](https://cloud.githubusercontent.com/assets/8824364/15651996/7c3fa5ee-2683-11e6-8408-5fd1d20fe842.png)

[2016-05-30 14:35] Ms2ger opened #11512 "Check if the script thread outlives web worker threads"
This may be a problem now that we use the parent runtime support.

CC @tschneidereit @nox @jdm

[2016-05-30 14:40] tschneidereit commented on #11512
Hmm, maybe. I know too little about the lifetime of script threads vs workers to judge this. Ideally we'd have some script thread and JSRuntime whose lifetime is guaranteed to equal the process' lifetime, and make that be the parent for all other JSRuntimes in the process. Might be worth it to create a runtime not used for any actual content just for that. With low heap size and a compacting GC ru

[2016-05-30 15:45] Ms2ger commented on #11466
Go for it!

[2016-05-30 15:49] jdm commented on #11216
Sounds great!

[2016-05-30 16:03] jdm commented on #11512
For something like browser.html a long-lived runtime for the root page is easy and sensible. For non-browser.html it's much harder to conceptualize what a long-lived script thread would do. A small per-content process runtime that is unrelated to any script thread and usable as the parent for all other runtimes makes the most sense to me.

[2016-05-30 16:04] nox commented on #11512
I've started to write something in rust-mozjs to go that way.

[2016-05-30 16:11] nox commented on #11512
https://github.com/servo/rust-mozjs/pull/267

[2016-05-30 19:39] #9283 closed

[2016-05-30 20:44] bvssvni commented on #11501
The copyright notice has been removed. People got scared and thought this was weird.

[2016-05-30 20:56] jdm commented on #7708
Current effort exists in #11453.

[2016-05-30 21:01] jdm opened #11517 "Implement an image loading model that conforms to the specification"
The goal of this work is to implement the [update the image data](https://html.spec.whatwg.org/multipage/embedded-content.html#update-the-image-data) algorithm in its entirety. It's a big algorithm that doesn't necessarily break down into substeps very well, except for the bits that delegate to sub-algorithms that deal with responsive images (like `selecting an image source`).
1. [x] move all netw

[2016-05-30 21:44] bobthekingofegypt commented on #11223
I spent a bit of time this afternoon playing around with this issue, but I think I've reached the limit of my current knowledge of Servo code.  I could just be chasing ghosts but it might be useful.

So reddit's page is pretty complicated; it contains many iframes, that contain other iframes, it also has timers that load more scripts and change things in those iframes.
If I run the page on a heavi

[2016-05-30 21:58] jdm commented on #11223
That's a really good lead! The call to `listener.HandleEvent_` would end up in the `HandleEvent` method of `EventListener` in `EventListenerBinding.rs` under `target/debug/build/script-[hash]/out/Bindings/`. We could step into `JS_CallFunctionValue` from there and potentially figure out the JS code being executed by calling `js::DumpBacktrace(cx)` at some point.

[2016-05-30 22:01] jdm opened #11518 "maybe_dispatch_dom_content_loaded mixes async and sync code"
It enqueues a task to fire the DOMContentLoaded event, but proceeds to trigger a reflow with the DOMContentLoaded reason, then notes the current execution time as `dom_content_loaded_event_end` which is clearly incorrect.

[2016-05-30 22:09] jdm commented on #11223
Doing so leads me to https://www.redditstatic.com/ad-dependencies.5O7sMdAReBw.js but I don't know if I can trust anything about the line and column information, since Servo routinely fudges those.

[2016-05-30 22:15] nox commented on #11223
That file seems to be the only interesting one that adds a listener for `DOMContentLoad`.

[2016-05-30 22:20] jdm commented on #11223
My current theory is that we end up in an endless loop in JS, since we never return from JS::Interpret.

[2016-05-30 22:21] jdm opened #11519 "Store file and line information for event listeners"
This would make it much easier to debug what JS is being executed when working on issues like #11223.

[2016-05-30 22:28] jdm commented on #11223
Here's a backtrace of the thread that doesn't return from the JS interpreter after killing the process:
[code]

[2016-05-30 22:32] jdm commented on #11223
I did it a second time after waiting for a lot longer and saw the same backtrace. We appear to be stuck waiting on a layout mutex.

[2016-05-30 22:34] jdm commented on #11223
Meanwhile, the layout thread for that page doesn't appear to be doing anything interesting:
[code]

[2016-05-30 22:47] jdm commented on #11223
Interestingly, despite the script thread having returned from the `reflow` call (which is used to compute the query results), there does not appear to be any layout information stored in the layout data that's being locked. One theory being floated right now is that this is occurring before the first layout of the page, which causes the layout data to [blocked](https://github.com/nox/servo/blob/7b

[2016-05-30 22:55] jdm commented on #11223
The layout  thread does have `first_reflow` set to `true`, which means that it has not executed `perform_post_main_layout_passes`.

[2016-05-30 23:17] #11486 closed

[2016-05-30 23:52] Coder206 commented on #11450
@asajeffrey I hope you are doing well. I would like and appreciate a little assistance as I am just getting familiar with the workflow I modified the code as you requested and came upon this error. Please note in order to even build the code, I had to make a few modifications elsewhere, in the /htmliframeelement.rs file (line 345, 347 - change uri to url) and comment out line 5 in bluetoothremoteg

[2016-05-31 00:02] paulrouget commented on #9984
Not a bhtml P1, but being able to demo wikipedia without a crash would be great :)

[2016-05-31 00:03] paulrouget commented on #11315
Necessary for developer preview, not for June's demo. P1 -> P3.

[2016-05-31 00:10] ab22 commented on #11485
I'm up for this.

[2016-05-31 01:21] jdm commented on #11485
@ab22 Go for it :) Ask questions about anything that's unclear.

[2016-05-31 01:22] jdm commented on #11450
Oh, I recall seeing other people have difficulties running tests on Windows. @jgraham does ^ look familiar?

[2016-05-31 01:39] Coder206 commented on #11450
@jdm Thanks for the heads up!

[2016-05-31 01:40] Coder206 commented on #11450
@jdm I am looking forward to having Ubuntu shell in Windows, it will make life simpler (hopefully)...

[2016-05-31 02:42] jdm commented on #11223
The reflow doesn't happen because `Window::window_size` is None, so `force_reflow` bails early on and never sends a message to the layout thread.

[2016-05-31 03:03] emilio commented on #11223
Also, while trying to test this, I found out we deadlock in a very simple example:

[code]

(We never manage to remove the first frame, which is worrying)

[2016-05-31 03:23] emilio commented on #11223
@jdm: So it seems to reproduce the original error we need a chunked response or something like that, right?

[2016-05-31 03:34] jdm commented on #11223
Yeah, I assume there's a timing issue where small responses end up getting parsed too quickly or something? I've been having trouble figuring out how the window size messages would end up being delayed, though.

[2016-05-31 04:38] emilio commented on #11223
So the only moment when there can be no window_size is while there's an
incomplete load, or if for some reason when the event arrives the
browsing context isn't correctly set up and we can't find the correct
pipeline to deliver the event to...

Could it be the case that while the page is loading, a parent script is
trying to query the iframe contents via `contentDocument` or similar,
but the viewp

[2016-05-31 05:06] perlun commented on #11315
@paulrouget - thanks for the clarity. Do we have a timeline for a developer preview? Sounds like "much later"? 😄

[2016-05-31 06:16] paulrouget commented on #11315
Not much later. Hopefully, by the end of the month.

[2016-05-31 06:17] paulrouget commented on #11315
So yeah, if we can get that fixed soon, that'll make us happy :)

[2016-05-31 10:34] #11501 closed

[2016-05-31 12:52] jgraham commented on #11450
Yeah. If you don't need to test https things, you could try passing in `--ssl-type=none` when you start the tests. Otherwise you might need to install the shining light ssl server, as documented in the [wpt readme](https://github.com/w3c/web-platform-tests#windows-notes). However there may still be difficulties getting paths in the right format, in particular one vs two `\` in the config file path

[2016-05-31 13:55] asajeffrey commented on #11450
@Coder206 oh you may be hitting problems because the windows build path is quite a bit less explored than the linux or mac build path. As @jgraham suggested, you could try switching off ssl via:
[code]
I'd be keen to see your PR even if you can't run the wpt tests yourself, it will be run by the build servers anyway.

Ah computers :)

[2016-05-31 14:30] #11512 closed

[2016-05-31 15:03] metajack opened #11524 "add ccache support to angle"
We'd like the angle create to have its C/C++ files compiled with ccache support to make the build faster.

An example of such a conversion is here: https://github.com/servo/servo/pull/11143

[2016-05-31 15:04] metajack commented on #11524
The repo is here: https://github.com/emilio/angle

[2016-05-31 15:50] SimonSapin commented on #10561
Selectors 4 defines a `:placeholder-shown` pseudo class.

https://drafts.csswg.org/selectors/#placeholder
https://github.com/whatwg/html/pull/1354

Note that it applies to the entire `input` or `textarea` element (when a placeholder exists and is being shown), not just the placeholder, so you may want to use the `color` property rather than `opacity` (since the latter would also affect borders).

[2016-05-31 15:54] SimonSapin commented on #11019
I’m looking into this.

[2016-05-31 15:58] #1516 closed

[2016-05-31 16:49] SimonSapin commented on #11019
I’ve isolated the bug: content inside an element with `overflow: auto` (like code blocks on GitHub) does not scroll on WebRender. If a code block is initially outside the viewport it is invisible. Scrolling the page to make it come into view doesn’t move the content, which then stays invisible.

Test case (scroll this when running with `-w`):

[code]

[2016-05-31 17:54] brson commented on #11361
As you've seen there's no way yet to declare in a project what override rustup should use. If you want to integrate with rustup now it's probably best to do as jack describes and detect the existence of the rustup command, though that will leave you with two code paths for downloading the toolchain.

Another option might be to detect whether rustup exists, and if it doesn't *install rustup* to a p

[2016-05-31 18:04] SimonSapin commented on #11019
CC @pcwalton @glennw

[2016-05-31 18:28] Gozala opened #11526 "focus / blur events aren't dispatched on `window` and `document` objects"
Here is an example to reproduce it:

https://output.jsbin.com/picawu/3

This is either regression since `focus` / `blur` used to be dispatched on the `document`, or  it could be that @paulrouget had a patch for this that did not end up in upstream.

P.S.: Webkit dispatches focus / blur only on `window` while gecko dispatches them on both `window` and `document`.

[2016-05-31 18:31] jdm commented on #11526
@Gozala When do you expect these to be fired for browser.html?

[2016-05-31 18:33] jdm commented on #11130
@mrmiywj Have you made any progress on this?

[2016-05-31 18:33] jdm commented on #11133
@saneyuki Have you made any progress here? Any questions?

[2016-05-31 18:35] Gozala commented on #11526
I expect `blur` events to be dispatched when servo window looses a focus (say you switch to your editor window), then if you switch back to servo window I'd expect `focus` event should be dispatched.

[2016-05-31 18:37] jdm commented on #11526
This sounds like #9482, in that case.

[2016-05-31 18:37] #11526 closed

[2016-05-31 18:50] blacksvk opened #11527 "<tr> border is not displayed"
![tborder](https://cloud.githubusercontent.com/assets/10187350/15686529/17b447b2-2771-11e6-9021-d91ef227213b.png)
[code]

[2016-05-31 19:07] afluth commented on #11505
I would like to try taking this on.

[2016-05-31 19:25] KiChjang commented on #11505
Sure thing! Ask any questions if you're stuck :)

[2016-05-31 19:26] blacksvk opened #11528 "Text within input with box-sizing: border-box is not positioned correctly"
![itext](https://cloud.githubusercontent.com/assets/10187350/15687637/1291db28-2776-11e6-88e1-8711a815787c.png)
[code]

[2016-05-31 19:35] jdm commented on #11528
It's not yet clear to me whether this is another instance of our form-related CSS rules not overriding enough properties, or whether this is a bug in our layout implementation.

[2016-05-31 19:41] jdm commented on #9371
I wonder how well signal handlers work with Rust programs? I just stumbled across http://neugierig.org/software/blog/2012/06/backtraces.html and it might be enough to get us useful information without having to deal with the whole breakpad situation.

[2016-05-31 19:53] blacksvk commented on #11528
Ok, it seems like there are 2 issues:

1) text have different size, that's why box is smaller. When font-size is specified, box have correct size (compared to Firefox and another browsers.)

2) text within box is not positioned correctly

![fz](https://cloud.githubusercontent.com/assets/10187350/15688255/60695972-2779-11e6-964f-c7bd47e0a998.png)

I will rename this issue to original name - that's

[2016-05-31 20:05] jdm commented on #10452
Out of curiosity, what will it take to allow measuring non-master branches? Once the off-thread HTML parsing work is ready, it would be useful to be able to compare the before and after timing before the changes are actually merged.

[2016-05-31 20:23] jdm commented on #11528
Please do!

[2016-05-31 20:28] autrilla commented on #10452
@jdm I don't think it would be very complicated at all. As far as I know currently we're manually copying the servo binary to the performance test runner's directory, so it'd simply be a matter of adding the branch as a command line parameter to the runner, so that it gets sent as another treeherder project (or whatever they're called) and copying the servo binary from the other branch.

[2016-05-31 20:44] blacksvk opened #11529 "Default font-size in <input> is not correct."
Default font-size in Input like `<input type="text" value="123" style="font-family: Arial">` is smaller in Servo compared to Firefox and other browsers.
![fsize](https://cloud.githubusercontent.com/assets/10187350/15689836/1dd0caac-2781-11e6-966e-8fa66b11a491.png)

[2016-05-31 21:05] KiChjang commented on #11529
It looks to me that this can easily be fixed by changing `resources/user-agent.css` to use a bigger font on input elements, but I'm not 100% sure.

[2016-05-31 21:06] mbrubeck commented on #11529
We explicitly set the font size for inputs here:

https://github.com/servo/servo/blob/55b0bb027caba9ca4f3fb091c55a53c24380dccb/resources/servo.css#L11

The servo.css file contains "internal" styles for rendering things like form controls, since we don't have any support for native form widget.  I think these styles are arbitrary, not specified by any standard.

We currently use 0.7em for inputs, w

[2016-05-31 21:11] highfive commented on #11529
Please make a comment here if you intend to work on this issue. Thank you!

[2016-05-31 21:26] Coder206 commented on #11450
@jgraham @asajeffrey Thank you very much for this. However, it actually lead to more errors I think. (The text was flowing by quickly - couldn't read) I am now hunting those URIs...

[2016-05-31 21:32] jdm commented on #11450
Note that `./mach test-wpt --release --ssl-type=none` will run _all_ the WPT tests, which is overkill in this situation. It should be enough to run `./mach test-wpt --release --ssl-type=none tests/wpt/mozilla/tests/mozilla/mozbrowser/`.

[2016-05-31 21:36] Coder206 commented on #11450
@jdm Thanks!

[2016-05-31 22:23] emilio commented on #11524
@metajack: Talking about this, would you like to get the repo moved under the servo org? I'm happy to do that :-)

[2016-05-31 22:39] Coder206 commented on #11450
@jdm @asajeffrey Is the servo/test/wpt/css-tests/css21_dev/html4 folder full of miswritten CSS code on purpose for testing?

[2016-05-31 22:45] jgraham commented on #11450
Yes, that's the CSS 2.1 testsuite.

[2016-05-31 22:49] Coder206 commented on #11450
@jgraham Thanks, I had that in my editor, I thought: "How can this be right, people working on a web engine that have bad syntax.". I accidentally made some changes on some of them, I will restore them.

[2016-05-31 23:12] metajack commented on #11524
@emilio Yes please. :)

[2016-05-31 23:28] Coder206 commented on #11529
I would love to as soon as I complete #11450

[2016-05-31 23:31] Coder206 commented on #11517
@jdm I am interested in helping out for this issue

[2016-06-01 00:01] KiChjang commented on #11517
@Coder206 This requires a large amount of effort to get it right, and cannot be separated into independent pieces of chunks that can easily be fit into PRs. Are you still certain you are able to work on this?

[2016-06-01 00:18] Coder206 commented on #11517
@KiChjang Thanks for the heads up! It's actually a busy time for me, so that wouldn't have mixed too well. I will work on simpler code for the time being, to get the hang of it, I didn't realize how big of an endeavor it really was. I think it was a little too early for me to start an E-Hard...

[2016-06-01 00:24] Coder206 commented on #11450
@asajeffrey @jdm @jgraham Please close find my fix for this issue in the PR area

[2016-06-01 01:26] paulrouget commented on #11450
When this lands, please make sure to also fix browser.html: https://github.com/browserhtml/browserhtml/blob/f5b9eabeae6a2416f1049a8b6f76e9bdeb8decdc/src/browser/Navigators/Navigator/WebView/MozBrowserFrame.js#L188

[2016-06-01 01:48] Coder206 commented on #11450
@paulrouget Thanks for the tip :)

[2016-06-01 02:00] Coder206 commented on #11450
@paulrouget So I will do two PRs, one for Servo, and one for browser.html?

[2016-06-01 02:09] paulrouget commented on #11450
@Coder206 If you can, yes. Otherwise, I can take care of the one in browserhtml.

[2016-06-01 02:12] Coder206 commented on #11450
@paulrouget Sounds good. I will work on both browser.html and servo

[2016-06-01 02:14] jdm commented on #11529
We'll leave this unassigned until someone says they're ready to start working on it :)

[2016-06-01 04:48] jdm opened #11535 "CSS stylesheets that error out block the parser and the load event"
This is the cause of the 163.com testcase in tp5 failing to load. The early return in StylesheetContext::response_complete prevents us from removing the entry in the DocumentLoader's blocking loads list for a stylesheet that fails to load, and once that is corrected the parser refuses to unblock until the number of blocking stylesheets is also decreased. [This diff](https://gist.github.com/jdm/630

[2016-06-01 06:09] #11418 closed

[2016-06-01 06:25] pcwalton commented on #11358
Fixed by #11398.

[2016-06-01 06:25] #11358 closed

[2016-06-01 06:59] pierrechevalier83 commented on #9673
Hi guys,

It's been almost a week now since I've said I would take this one. I have started looking at it, but it turns out it's not as simple as I thought. I also don't have as much time as I thought I would to spend on this.

If someone else is itching to try this out, please don't let me block you.

[2016-06-01 07:47] #4431 closed

[2016-06-01 07:54] taravancil commented on #11529
I'll work on this! I'll let y'all know if I have questions along the way.

[2016-06-01 08:26] saneyuki commented on #11133
@jdm

I have not begun this yet (Sorry, I'm very busying now...)
I'll try in this week end.

[2016-06-01 09:04] paulrouget opened #11539 "Fire a basic mozbrowseropenwindow event for target=_blank rel="noopener noreferrer" links"
See https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowseropenwindow

Implementing `mozbrowseropenwindow` for `window.open` and `<a target=_blank>` is pretty complex (support for WindowProxy, setting the right owner and openers, creating the iframe in servo that would be passed to the event and attached to the DOM by browserhtml…).

For browserhtml, we don't need the whole mechanism just y

[2016-06-01 09:04] paulrouget commented on #11539
@asajeffrey is looking at this.

[2016-06-01 10:02] nox commented on #11384
Upstream PRs landed AFAICT, but given origin-only was wrong, is that ticket still relevant?

[2016-06-01 10:12] mskrzypkows commented on #11528
It's strange, in my FF (46.0.1v) on Ubuntu, text is displayed as in Servo. Is text position wrong here? Maybe it depends on used font.
![ff_ubuntu](https://cloud.githubusercontent.com/assets/10705549/15705894/63fd5048-27f1-11e6-8002-0f4ad2bd30f3.png)

[2016-06-01 10:24] nox commented on #11223
Does it even make sense to do queries for offsets and whatnot when there is no `window_size`? How wrong would it be to return `(None, Rect::zero())` in that case?

[2016-06-01 10:42] blacksvk commented on #11528
That's strange. I've tested that on multiple browsers in Windows (including FF 46.0.1) and they render that like on the first picture.
![win](https://cloud.githubusercontent.com/assets/10187350/15706397/a7c8058c-27f3-11e6-9dbf-8ee6537ed7be.png)

I don't think it's font-related, because it's rendered differently even when you specify font-family and font-size.

@mskrzypkows Can you try how FF on Ub

[2016-06-01 10:59] #10851 closed

[2016-06-01 11:58] jdm commented on #9673
Ok!

[2016-06-01 12:04] jdm commented on #11529
It's yours!

[2016-06-01 12:36] #11467 closed

[2016-06-01 13:08] Manishearth opened #11541 "Intermittent timeout in /css21_dev/html4/at-charset-074.htm , /css21_dev/html4/at-charset-072.htm"
https://github.com/servo/servo/pull/11221#issuecomment-222909412

[2016-06-01 13:44] mskrzypkows commented on #11528
You're right, it seem that text position is wrong. I suppose that in the first example, text is cut because of native Ubuntu control.
![ff_ubuntu](https://cloud.githubusercontent.com/assets/10705549/15711722/99357448-280f-11e6-9836-803f99840c54.png)

[2016-06-01 14:02] asajeffrey commented on #11539
I am indeed. My WIP is https://github.com/asajeffrey/servo/commit/82b5eee6ca8c62ffebb68a8a1771b99d05c96f41, hopefully that'll turn into a PR soon.

[2016-06-01 14:31] asajeffrey commented on #11539
IRC conversation http://logs.glob.uno/?c=mozilla%23servo&s=31+May+2016&e=31+May+2016&c444400#c444400

[2016-06-01 15:15] asajeffrey commented on #11539
Is the `details.name` field meant to be the browsing context name (that is the `target` attribute of the anchor)? If so, can we rename this to `details.target`? If not, I don't know what value to put here.

[2016-06-01 15:27] paulrouget commented on #11539
It's strWindowName as described here: https://developer.mozilla.org/en-US/docs/Web/API/Window/open so yes, it's target.

[2016-06-01 15:32] asajeffrey commented on #11539
Any chance we could rename `name` to `target`? `name` is very generic.

[2016-06-01 15:42] paulrouget commented on #11539
We don't support Gecko anymore, so I guess it's ok as long as MDN is updated.

[2016-06-01 15:44] asajeffrey commented on #11539
Thanks! Should `mozbrowseropentab` have a `details.target` field too?

[2016-06-01 15:52] emilio commented on #11223
So I was able to reproduce it consistently:

Take the following `test.html` file:

[code]

[2016-06-01 16:04] asajeffrey commented on #11539
PR submitted.

[2016-06-01 16:06] asajeffrey commented on #11539
BTW, we now have the machinery in Servo for browser.html to support named browsing contexts, it would need to keep track of a name-to-iframe mapping, and use that to decide whether to respond to a `mozbrowseropenwindow` event by opening a new tab or recycling an existing one.

[2016-06-01 17:51] emilio opened #11546 "Deadlock when removing iframe from document."
I think the fact that the iframe is not yet completely loaded might influence in the result, but not totally sure.

Testcase:

[code]

[2016-06-01 18:01] emilio commented on #11546
Some backtraces of affected threads:

## Constellation

Constellation is waiting on `Pipeline::exit()`.

[code]

## Iframe's ScriptThread

It seems to be blocking in `HTMLIFrameElement::unbind_from_tree()`, waiting for the constellation.

[code]

[2016-06-01 18:09] asajeffrey commented on #11546
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=1+Jun+2016&e=1+Jun+2016#c445507

[2016-06-01 18:10] emilio commented on #11546
cc @asajeffrey, which has worked lately with the constellation, and wanted to take a look at this

[2016-06-01 18:11] asajeffrey commented on #11546
The underlying problem is having the constellation block on anything other than the main event loop is a really bad idea, since it means a deadlocked pipeline can cause the whole constellation to deadlock.

[2016-06-01 18:45] asajeffrey commented on #11546
OK, looking through the constellation code, the uses of `recv` in constellation.rs are:

* The main event loop.
* The exit code (https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L819)
* The reftest screnshot code (https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L1731)
* Blocking on the compositor (https://github.com/servo/ser

[2016-06-01 18:58] asajeffrey commented on #11546
Over in pipeline.rs, the uses of `recv` are:

* The ones in `exit` which caused this deadlock (https://github.com/servo/servo/blob/master/components/constellation/pipeline.rs#L326)
* The `start_all` code (https://github.com/servo/servo/blob/master/components/constellation/pipeline.rs#L462) which is called in two places:
  * https://github.com/servo/servo/blob/master/components/constellation/pipeli

[2016-06-01 19:04] asajeffrey commented on #11546
And in compositor.rs, the uses of `recv` are:

* In `finish_shutting_down`, waiting for the profiler to shut down (https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L540)
* In `repaint_synchronously`, which (as the name suggests) is synchronous (https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L2574)

These are both dangerous, but it loo

[2016-06-01 19:06] #11223 closed

[2016-06-01 19:56] #11339 closed

[2016-06-01 20:47] asajeffrey commented on #11546
IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=1+Jun+2016&e=1+Jun+2016#c445562

@larsbergstrom points out that synchronous shutdown is needed b/c "the graphics stack and spidermonkey behave really badly if they aren't the 'last' things to shutdown, as they're hiding a bunch of native resources."

[2016-06-01 20:55] Gozala opened #11547 "keyup / keydown is not dispatched for modifier keys"
Here is a page to reproduce the issue:

https://output.jsbin.com/difoze

When `control` key pressed text `Control` should appear and when it's released `Control` text should disappear (same with other keys). In servo all keys will appear / disappear except for modifiers like control, meta, shift

[2016-06-01 23:05] emilio commented on #11546
Moar IRC: http://logs.glob.uno/?c=mozilla%23servo&s=1+Jun+2016&e=1+Jun+2016#c445687

[2016-06-02 03:20] ConnorGBrewster opened #11551 "Page cuts off after scrolling on long pages"
`./mach run -d -w https://en.wikipedia.org/wiki/mozilla`

Scroll down and eventually the page will cut off and be blank.

Seems to only be an issue with WR.

[2016-06-02 05:32] izgzhen commented on #11541
Okay these two failed tests... 🙈 I was really confused at that time because I didn't remember that these two were broken in building of PR 11221

[2016-06-02 05:52] shinglyu commented on #11535
I run the patched version on TP5 and got the this:

[code]

(The total tests count is a little bit off, because I also counted sub pages e.g. iframes)

[2016-06-02 05:59] shinglyu commented on #11535
Comparing to #11087 , this fixed 3 pages, breaks 1 page (`xunlei.com`). photobucket failed, but this behavior started a few weeks ago, so it's not caused by your patch.

This is the diff
[code]

[2016-06-02 06:50] paulrouget commented on #11223
Thank you all for figuring out what was going on! It now works perfectly.

[2016-06-02 06:51] paulrouget commented on #9984
It happens with reddit as well.

[2016-06-02 07:25] shinglyu commented on #11535
@jdm I also noticed that when servo got stuck, the server log usually says it serving a `gif` file. We could probably check if gif loading or rendering is slow.

[2016-06-02 07:33] paulrouget commented on #11539
Maybe that should be handled at the browserhtml level.

And there's also the issue of the referrer and the opener.

We could go for the gecko approach where `mozbrowseropenwindow` event comes with an iframe that is already initialized with all the proper stuff (url already set, right browsing context, loaded in the right process, …), and that browserhtml would append to the dom.

There's also the

[2016-06-02 08:46] paulrouget commented on #11539
For full support in browserhtml, we also need https://github.com/servo/servo/pull/11554

[2016-06-02 11:13] #11505 closed

[2016-06-02 11:20] Manishearth opened #11555 "Error while linking: unsupported reloc 42 against global symbol"
I rebased https://github.com/servo/servo/pull/11439 onto master and got a ton of "unsupported reloc 42 against global symbol" for all the symbols in servo while linking. This persisted with a clean target dir

Full log [here](http://manishearth.anapnea.net/tmp/servo-error-log.txt) (4MB)

cc @larsbergstrom

[2016-06-02 11:28] Manishearth commented on #11555
Ok, now I'm getting this error on the reverted thing too :/

[2016-06-02 11:44] Manishearth commented on #11555
Still fails after a target dir deletion

[2016-06-02 12:23] Ms2ger commented on #11424
I get the same on initial load of https://en.wikipedia.org/wiki/Red_rail (1da1b62128251c23bafd3eb8682986c9c0f3e796).

[2016-06-02 12:35] Manishearth commented on #11555
Fixed. This was my fault, I ran `make install` in gdb, and it decided to replace my binutils with its own broken ones. *shrug*

[2016-06-02 12:35] #11555 closed

[2016-06-02 12:57] nox commented on #11500
I'm waiting on #11544 to land before working on this, since I will leverage the same code paths from that PR.

[2016-06-02 13:25] jdm commented on #11535
Huh, 163.com didn't finish loading? That's the one that I was testing.

[2016-06-02 13:31] Ms2ger commented on #11424
[code]

triggers it consistently for me

[2016-06-02 13:34] nox commented on #10428
@KuoE0 Ping on this?

[2016-06-02 13:45] asajeffrey commented on #11539
The iframe might be tricky to supply, just because we need to do some inter-process communication go get it built in the browser.html process rather than the process containing the hyperlink. Serialising the url is no problem.

Similarly, referrer is probably easy to set because it's a url, but opener is tricky because it's a `WindowProxy`, which we currently don't support.

Anyway, we can now do

[2016-06-02 13:54] nox commented on #10425
I cannot reproduce this anymore.

[2016-06-02 13:57] nox commented on #10425
[code]

[code]

[2016-06-02 14:10] Ms2ger opened #11557 "SubmittedFrom, ResetFrom variants have repetitive names"
`components/script/dom/htmlformelement.rs` has
[code]

The suffixes are not particularly useful and should be removed.

[2016-06-02 14:11] highfive commented on #11557
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-02 14:15] paulrouget commented on #10425
Agreed. It's a lot better than before. Closing.

[2016-06-02 14:15] #10425 closed

[2016-06-02 14:15] paulrouget commented on #11539
Works for me.

[2016-06-02 14:19] Coder206 commented on #11557
@Ms2ger Do you just want to remove these enums?

[2016-06-02 14:21] Ms2ger commented on #11557
No, rename the variants, for example from `FromFormResetMethod` to just `FromForm`

[2016-06-02 14:37] KuoE0 commented on #10428
Hi, I'm stiil working on this. I want to implement the 3 attributes I mentioned above. If you are interesting on this, there are many attributes haven't be implemented!

2016年6月2日 21:35 於 Anthony Ramine <notifications@github.com> 寫道：

@KuoE0 Ping on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-02 15:23] Ms2ger opened #11559 "Lots of unclassified heap memory"
For example:

[code]

@froydnj @nnethercote do you know if we could get DMD set up for Servo?

[2016-06-02 15:33] #11539 closed

[2016-06-02 16:11] rebstar6 commented on #10311
FYI - once meta referrer is in, the tests definitely need more changes for the other delivery policies (more so than we thought...). Referrer-Policy header is the obvious next step, but the tests use Content-Security-Policy, which seems to have been the old way of things at some point.

Not sure how easy a switch this is - I may be able to just change referrer_policy/generic/tools/generate.py for

[2016-06-02 16:22] SimonSapin commented on #11019
This also happens with iframes. I suspect with anything that creates a `Layer` in WebRender. https://github.com/servo/webrender/issues/283

[2016-06-02 16:33] asajeffrey opened #11560 "Fire a mozbrowserclose event when a page calls window.close()"
At the moment we close the constellation when a page calls `window.close()`. In the mozbrowser case, we should fire a `mozbrowserclose` event.

cc @paulrouget (you may want to set a priority for this)

[2016-06-02 16:50] #11529 closed

[2016-06-02 16:51] jdm commented on #10311
That is likely the best way to do it, assuming that https://github.com/w3c/webappsec-referrer-policy/commit/fc55d917bee0d5636f52a19a5aefa65f8995c766#commitcomment-17717693 is correct. We should make changes like that in the upstream repository to make sure the right eyes see it.

[2016-06-02 18:31] jdm opened #11561 "Intermittent failure in css-transforms-1_dev/html/transform-abspos-002.htm and css-transforms-1_dev/html/transform-abspos-007.htm"
[code]

Non-reference:
<img width="301" alt="screen shot 2016-06-02 at 2 31 00 pm" src="https://cloud.githubusercontent.com/assets/27658/15756300/a6f49f40-28ce-11e6-9c7f-d026eaa418e7.png">
Reference:
<img width="322" alt="screen shot 2016-06-02 at 2 31 21 pm" src="https://cloud.githubusercontent.com/assets/27658/15756310/b0fb881e-28ce-11e6-874e-402d279404d4.png">

[2016-06-02 18:39] Gozala opened #11562 "Clipping issues in webrender"
Here is an example to reproduce the issue:

https://jsbin.com/fonumu

It renders as follows:

<img width="189" alt="screen shot 2016-06-02 at 11 37 22 am" src="https://cloud.githubusercontent.com/assets/21236/15756507/69fefab2-28b6-11e6-87ab-d7e0dd42b416.png">

Issue is that image is not clipped properly, I believe it's related to the exception case @pcwalton mentioned in his webrender talk at rus

[2016-06-02 18:40] asajeffrey opened #11563 "Intermittent timeout in /css-backgrounds-3_dev/html4/background-paint-order-001.htm"
In https://github.com/servo/servo/pull/11476#issuecomment-223380102:

[code]

[2016-06-02 20:00] Coder206 commented on #11450
@paulrouget Is browserhtml able to run on Windows 10?

[2016-06-02 20:02] metajack commented on #11450
It runs without `-b` so it looks like OS X, but it works well in my testing.

[2016-06-02 20:03] Coder206 commented on #11450
@metajack I am having lots of trouble getting things to work.

[2016-06-02 20:06] Coder206 commented on #11450
@metajack Where do I put this line of code: ./mach run -r -- -b -w --resolution=1024x720 --pref dom.mozbrowser.enabled --pref dom.forcetouch.enabled --pref dom.quit-on-escape.enabled=false http://localhost:6060
because npm build-server never ends...

[2016-06-02 20:14] metajack commented on #11450
You have to run npm build-server in another console. It starts a local webserver to serve the content for browserhtml. Then you run servo locaing from that local server.

Alternatively you can run npm run dist or whatever makes the static files and point servo at those. build-server is more useful if you are changing browser.html code since it auto-recompiles to serve the latest version.

[2016-06-02 20:17] asajeffrey commented on #11546
A possible fix: https://github.com/asajeffrey/servo/tree/constellation-avoid-deadlock-during-shutdown

[2016-06-02 20:38] Coder206 commented on #11450
I getting "Build failed, waiting for other jobs to finish..." around the time of "Compiling webdriver_server v0.0.1 + directory". This is for Servo.

[2016-06-02 20:44] KiChjang commented on #11450
Did you run `./mach build -r` before doing `./mach run -r`?

Also, I suggest focusing on getting your changes in servo merged before working on browser.html stuff. That would give you feedback on how to correctly rename `uri` into `url`. Thanks!

[2016-06-02 20:49] Coder206 commented on #11450
@KiChjang It will be hard to do changes on anything on Servo for me now. I am having lots of difficulty compiling and getting things working. It takes me 18 - 25 mins to compile.
This is only a fraction of the message I received from the compiler when typing ./mach build --release:
"  Compiling mozjs_sys v0.0.0 (https://github.com/servo/mozjs#2af5849a)
   Compiling devtools v0.0.1 (file:///E:/file

[2016-06-02 20:51] Coder206 commented on #11450
@KiChjang I deleted the repo on my HDD and cloned it again, the results above are the outcome of a recent clone of 30 mins ago

[2016-06-02 20:56] metajack commented on #11450
How much memory do you have? Have you tried ./mach build -r -j1?

[2016-06-02 20:57] Coder206 commented on #11450
I have a 16GB DDR3 memory, and Servo is on a 3Tb HDD

[2016-06-02 20:58] metajack commented on #11450
The output of `./mach build -r -v -j1` might help us track it down. You certainly have enough memory that it shouldn't be that.

[2016-06-02 21:03] Coder206 commented on #11450
@metajack I will get back to you with the result of the output.

[2016-06-02 21:15] jdm opened #11566 "Write a test for #11223"
We should be able to write a test based on https://github.com/servo/servo/issues/11223#issuecomment-223037836, since WPT supports delaying and chunking responses in well-defined ways: http://wptserve.readthedocs.io/en/latest/pipes.html#trickle

cc @emilio

[2016-06-02 21:28] emilio commented on #11566
I might get to do it this weekend, but if someone steps in I'd be glad to do it.

Thanks for writing this, didn't know wpt allowed that kind of things.

[2016-06-02 22:36] nnethercote commented on #11559
[code]
Something's clearly gone wrong there. Each tree's sub-trees are supposed to add up, and 17592186044408.38 MiB is clearly bogus.

I wanted to do DMD for Servo but never got around to it. The hard part was wrapping the heap allocator. I talked with @acrichton about the required machinery for this, which is theoretically in place, but I never tried it out in earnest. DMD also requires that you

[2016-06-02 22:47] jdm commented on #11559
We have the ability to grab backtraces while running Rust code: [Backtrace::new](http://doc.servo.org/backtrace/struct.Backtrace.html#method.new).

[2016-06-02 22:58] nnethercote commented on #11559
Oh, the other complication for DMD with Servo is that you have two malloc heaps -- the system heap, used by all the C/C++ libraries that Servo uses, and the jemalloc heap used by Rust. I never worked out how to deal with that. This problem doesn't occur in Firefox because all heap allocations in Firefox get routed through jemalloc.

[2016-06-02 23:00] nnethercote commented on #11559
Lovely! Looks like a nice design.

[2016-06-03 01:37] Coder206 commented on #11450
@metajack This is the summary of the failed Servo build.
"Caused by:
  Process didn't exit successfully: `rustc main.rs --crate-name servo --crate-type bin -C opt-level=3 --cfg feature="webdriver" --cfg feature="webdriver_server" --cfg feature="glutin_app" --cfg feature="max_log_level" --cfg feature="default" --cfg feature="log" --out-dir E:/files/dev/github/servo/target\release --emit=dep-info,li

[2016-06-03 02:15] talklittle commented on #10261
I will take a shot at this issue!

[2016-06-03 02:17] ConnorGBrewster commented on #10261
@talklittle have at it!

[2016-06-03 02:20] ConnorGBrewster commented on #10261
@talklittle also #11443 took care of removing the boxed trait object, so you do not need to worry about that.

[2016-06-03 02:39] #11108 closed

[2016-06-03 03:37] paulrouget commented on #10311
@rebstar6 @jdm once meta referrer PR (3) lands, is it enough to ask the duckduckgo folks to set servo as "trusted"? See what they say here: https://github.com/servo/servo/issues/10309#issuecomment-203929226

[2016-06-03 03:38] paulrouget commented on #11560
Not high priority as this is not a thing we use in browserhtml yet.

[2016-06-03 04:04] metajack commented on #11450
Ok, so first off, it appears you are not building in a mingw shell. Notice that your file paths are `E:\foo` instead if `/e/foo`.

Can you tell me what shell you are using and the steps you took to get here?

[2016-06-03 05:02] talklittle commented on #9544
I'd like to propose a quick fix (I have a PR ready) for `./mach test`, since the `faster` parameter passed to `test_tidy()` is not recognized and causes the same error as reported.

I also introduce `--all` to run all test suites. If `./mach test` is run without params, it prints out:

[code]

So nothing clever about suggesting which suite to run.

[2016-06-03 06:55] #9544 closed

[2016-06-03 08:06] paulrouget commented on #10309
@nilnilnil , can you comment on that:

I'd like to know if we implemented enough to add servo to the white list.

[2016-06-03 08:32] #10261 closed

[2016-06-03 11:40] Coder206 commented on #11450
@metajack I am using MINGW64. I search for it (only write "mi") and I find "MinGW-w64 Win64 Shell". I start this program, navigate to Servo's directory (e:files/dev/github/servo) and then I write commands for Servo like: "./mach build -r -v -j1". I remember chatting with @mbrubeck among others from Servo on IRC and I received instructions that opened conhost.exe along side with MINGW64. Please not

[2016-06-03 11:56] nox opened #11574 "Intermittent failure in /css-transforms-1_dev/html/transform-table-007.htm"
[code]

[2016-06-03 12:12] jdm commented on #11574
<img width="304" alt="screen shot 2016-06-03 at 8 12 16 am" src="https://cloud.githubusercontent.com/assets/27658/15778240/e7c8c746-2962-11e6-94d0-e6b3c63b4d76.png">

[2016-06-03 12:39] izgzhen opened #11575 "Intermittent failure in css-transforms-1_dev/html/transform-abspos-007.htm"
[code]

In PR #11534.

[2016-06-03 12:49] jdm commented on #11575
Same failure as #11561.

[2016-06-03 12:49] #11575 closed

[2016-06-03 13:15] #11111 closed

[2016-06-03 13:18] nox opened #11577 "Investigate the three remaining failures in createContextualFragment.html"
The two failing tests about namespaces are related to a [spec issue](https://github.com/whatwg/html/issues/1376), the one about `<script>` is related to step 4 of the `createContextualFragment` and requires more study of the problem.

[2016-06-03 13:25] nox commented on #1717
`DOMSettableTokenList` went on an adventure and will never come back.

[2016-06-03 13:25] #1717 closed

[2016-06-03 13:27] nox opened #11578 "Remove references to DOMSettableTokenList"
This interface doesn't exist anymore and was removed from the DOM spec.

Files:
* components/script/dom/webidls/HTMLAnchorElement.webidl
* components/script/dom/webidls/HTMLAreaElement.webidl
* components/script/dom/webidls/HTMLElement.webidl
* components/script/dom/webidls/HTMLIFrameElement.webidl
* components/script/dom/webidls/HTMLLinkElement.webidl
* components/script/dom/webidls/HTMLOutputEle

[2016-06-03 13:27] highfive commented on #11578
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-03 13:27] nox commented on #11578
This entails looking at the definitions of the WebIDL interfaces in the various specs and updating them to not reference `DOMSettableTokenList` anymore.

[2016-06-03 13:29] nox opened #11579 "Make DOMTokenList.contains not throw anymore"
See https://github.com/whatwg/dom/issues/202 and https://dom.spec.whatwg.org/#dom-domtokenlist-contains.

Files:
* components/script/dom/domtokenlist.rs
* components/script/dom/webidls/DOMTokenList.webidl

[2016-06-03 13:29] highfive commented on #11579
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-03 14:03] kevgs commented on #11578
I'll take this one.

[2016-06-03 14:14] nox opened #11581 "Properly implement options in EventListener methods"
According to [the spec](https://dom.spec.whatwg.org/#interface-eventtarget), the methods `addEventListener` and `removeEventListener` shouldn't take just a boolean, but also should accept some specific dictionaries.

Files:
* components/script/dom/eventtarget.rs
* components/script/dom/webidls/EventTarget.webidl

[2016-06-03 14:18] nox opened #11583 "Implement [Unscopable]"
Latest smup made that implementable.

http://heycam.github.io/webidl/#Unscopable

[2016-06-03 14:26] nox opened #11584 "Implement ElementCreationOptions"
This is used in [`Document.createElement`](https://dom.spec.whatwg.org/#dom-document-createelement) and [`Document.createElementNS`](https://dom.spec.whatwg.org/#dom-document-createelement).

Files:
* components/script/dom/document.rs
* components/script/dom/webidls/Document.webidl

[2016-06-03 14:26] highfive commented on #11584
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-03 14:46] Ms2ger commented on #11584
Part of #9372.

[2016-06-03 14:46] #11584 closed

[2016-06-03 14:47] GuillaumeGomez commented on #11579
I take it.

[2016-06-03 15:40] #3614 closed

[2016-06-03 15:40] #4683 closed

[2016-06-03 15:40] #7366 closed

[2016-06-03 15:44] jdm commented on #11561
The new intermittent failures were caused by #11035.

[2016-06-03 16:05] jdm commented on #4320
All that's left here is upgrading the version of harfbuzz that Servo uses: `./mach cargo-update -p harfbuzz-sys`

[2016-06-03 16:09] Gozala commented on #11547
It seems that behavior regressed further since my report, now we don't keydown evens for any of the modifiers keys either.

[2016-06-03 16:33] mbrubeck commented on #11574
Likely caused by #11035, along with #11561.

[2016-06-03 16:39] Gozala opened #11592 "twitter.com takes forever to load"
Loading https://twitter.com/ in servo takes forever, while in all other browsers it's almost spontaneous. Unlike #11223 it does finish load though. I also observe following errors in the output which may provide some clues to a problem:

[code]

P.S.: loading other links like https://twitter.com/rustlang does not seem to have same problem, so depending where you at you may or may not be able to re

[2016-06-03 16:47] mbrubeck commented on #4320
#11591 includes the harfbuzz-sys update.

[2016-06-03 18:01] jdm commented on #11592
Are you referring to the homepage, or the logged-in view?

[2016-06-03 18:08] jdm commented on #11547
LLDB confirms that the modified keys do not even reach `Document::dispatch_key_event`.

[2016-06-03 18:12] jdm commented on #11547
In fact, we are not even getting WindowEvent::KeyEvent messages for the modifier keys, so the problem lies in glutin.