[2016-07-30 14:37] notriddle commented on #11492
Can confirm that the test case and the "This Repository" pill on Github are fixed in master.

[2016-07-30 14:37] #11492 closed

[2016-07-30 19:46] izgzhen commented on #10778
Checklist:

+ fileReader.html:
    - [ ] FileReader States -- abort
    - [ ] FileReader States -- events
+ [ ] FileReaderSync.worker.js
+ idlharness.worker.js
    + [ ] URL interface: operation createFor(Blob)
    + FileReader interface
        - [ ] ArrayBuffer related ones
    + [ ] FileReaderSync interface
    + [ ] existence and properties of interface object:
        - Windows
        - Arra

[2016-07-30 19:49] timvandermeij commented on #11897
Fixed in #12634?

[2016-07-30 19:54] jdm commented on #11897
Almost, but it's still missing the iterable declaration.

[2016-07-30 22:43] notriddle commented on #2510
Is this bug still present? Because it looks like the 8221bfc3ef854d90ecb9a0df3aa490310cbe8469 fixed it.

[2016-07-30 22:57] izgzhen opened #12664 "Improve content-type checking in processing of navigation"
Spec: https://html.spec.whatwg.org/multipage/browsers.html#process-a-navigate-response

Implementation: [headers_available](https://github.com/servo/servo/blob/master/components/script/dom/servohtmlparser.rs#L83) in servohtmlparser.rs

Problem: we should add spec link to this function, and write `TODOs` for each content type specified by spec. One interesting thing spec says in step 7 is that:

So

[2016-07-30 23:00] izgzhen commented on #12664
I personally think that it will be helpful to dump the body content in a fallback encoding if we haven't implement corresponding handler yet (such as `application/json`), just for debugging purpose.

[2016-07-30 23:16] izgzhen opened #12665 "Improve documentation on writing wpt-server test"
[wpt-server](http://wptserve.readthedocs.io/en/latest/) is used to support more forms of testings, like testing the correctness of form-submission request.

There are some tests utilizing this feature such as [tests/wpt/web-platform-tests/html/semantics/forms/form-submission-0/submit-entity-body.html](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/html/semantics/forms/form

[2016-07-30 23:59] notriddle commented on #11818
When I force it to combine sequential restyle with parallel layout, I get both outputs depending on whether Satan manages to get into my computer before Hades blocks the entry off.

![screen_race_a](https://cloud.githubusercontent.com/assets/1593513/17273772/0d266760-5676-11e6-97ab-1f3858eeef3c.png)

![screen_race_b](https://cloud.githubusercontent.com/assets/1593513/17273775/1361c7dc-5676-11e6-8f

[2016-07-31 03:46] est31 commented on #11882
It supports reading metadata of all major codecs inside the Ogg container (opus, vorbis, theora): https://github.com/est31/ogg-metadata

[2016-07-31 15:56] nox opened #12670 "Make mach warn when running tests against an old build"
In https://github.com/servo/servo/pull/12186#issuecomment-235915528, @GuillaumeGomez ran `./mach test-wpt` (which uses the debug build) after compiling his tree with `./mach build -r` (which compiles the release build). `mach` could have avoided that papercut by printing a warning about his quite old `debug` build.

[2016-07-31 15:56] highfive commented on #12670
cc @wafflespeanut

[2016-07-31 16:31] Wafflespeanut commented on #12670
Maybe we can throw a warning by checking the date at which the binary was created (against the current date). It's gonna be pretty strict, so I'm not sure whether people will be annoyed by a warning that pops up often during their WPT test just because their build is older than a day.

[2016-07-31 18:56] emilio commented on #12670
I'd say that's not ideal. We should use the last modified file date, or something like that (last commit might be enough?)

[2016-07-31 23:24] clstl commented on #11882
Had issues compiling on OSX El Capitan today. Had to build ffmpeg from sources and soft link it, so that cargo sees it. The new Homebrew version puts everything in /usr/local (having it in PATH does not seem to help)

[2016-07-31 23:33] GuillaumeGomez commented on #11882
@clstl: Some people reported this issue [here](https://github.com/GuillaumeGomez/video-metadata-rs/issues/17).

[2016-07-31 23:59] bzbarsky opened #12672 "Unable to build on Mac because the build can't find libavformat/avformat.h"
I tried following the directions at https://github.com/servo/servo/blob/master/README.md to compile Servo on mac.  The build dies, like so:

     "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang" -cc1 -triple x86_64-apple-macosx10.10.0 -Wdeprecated-objc-isa-usage -Werror=deprecated-objc-isa-usage -emit-obj -mrelax-all -disable-free -disable-llvm-verifie

[2016-08-01 00:02] clstl commented on #12672
I had the same exact issue today. I have a "shady" workaround (works for now) , but not the solution
`ln -s /usr/local /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/local`

[2016-08-01 00:06] clstl commented on #11882
@GuillaumeGomez I cloned from master a few hours ago and the issue was present. Some more people have it as well on OS X.
[here](https://github.com/servo/servo/issues/12672)

[2016-08-01 00:18] GuillaumeGomez commented on #12672
Look [here](https://github.com/servo/servo/issues/11882#issuecomment-236463715).

[2016-08-01 00:32] larsbergstrom commented on #12672
Yes, when I've seen this (on our OSX builders), we fixed it by doing:
`xcode-select --install`

Which I got from: http://stackoverflow.com/a/26404710

[2016-08-01 01:32] bzbarsky commented on #12672
`xcode-select --install` does not work, of course, because that doesn't change anything about `/opt/local/bin`.  When I run it, it (unsurprisingly) says:

because I've run it before already, obviously (can't really build Firefox otherwise!).

[2016-08-01 04:26] m1c0l commented on #12672
I'm getting a similar error on Linux when I run the nightly download:
[code]

[2016-08-01 05:42] Wafflespeanut commented on #12670
Old binaries will be removed before a build, and so it won't make a difference anyway. As for the last commit, it could be anything (the working branch may not even be sync'ed with the remote).

[2016-08-01 06:08] birkoffe commented on #12672
In windows nighly builds same error with missing avformat-57.dll and avutil-55.dll on servo start.

[2016-08-01 06:09] emilio commented on #12670
I meant something like: warn if the binary's mtime is before the last
modified checked-in file in the repo (I'm pretty sure there must be a way
of grabbing that value efficiently via git). How does it relate to older
binaries?

On Jul 31, 2016 10:42 PM, "Ravi Shankar" <notifications@github.com> wrote:

[2016-08-01 06:31] Wafflespeanut commented on #12670
Oh, I thought "last modified file date" of the local binary :sweat_smile:
Warning based on the last remote commit is a good idea. Surprisingly enough, `git ls-remote` offers that.

[2016-08-01 06:54] jesusalc opened #12673 "Update README Install Documentation."
Just like it says. We need to update the Install docs, with more robust data.

[2016-08-01 06:55] jesusalc opened #12674 "Create automated Requirement Check Script"
Would that be nice. Have a script that recognizes the system and tells you what is missing.

[2016-08-01 07:09] KiChjang commented on #12673
Is there anything in particular that you think we should add?

[2016-08-01 07:16] jesusalc commented on #12673
If you look at https://github.com/servo/servo/issues/12356  You can see a very well documented Ubuntu 14.04.04 32bit and 64bit, Windows 7 32bit and 64bit documentation. Which looks very through to me. Also, there seem to be many tickets about "servo not building" or l related. Some of these issues could bring documentation to specific versions and situations. Which can make the documentation more

[2016-08-01 07:24] zakorgy commented on #12614
Cant his issue also contain the following WebBluetooth related files? ` bluetooth.rs`, `bluetoothremotegattdescriptor.rs`, `bluetoothremotegattserver.rs` `bluetoothremotegattservice.rs`.
These files includes the following list of functions, which has no annotations yet.
- [ ] requestDevice
- [ ] getDescriptor
- [ ] getDescriptors
- [ ] readValue (characteristic)
- [ ] writeValue (characteristic)
-

[2016-08-01 07:30] KiChjang commented on #12614
Yes, title is changed accordingly.

[2016-08-01 07:33] shinglyu opened #12675 "Pretty print the flow tree"
When running `./mach run -Z dump-flow-tree`, the output is not very human friendly:

[code]

We can try to wrap the lines like

[code]

I'm not sure if we should hack the `Debug::fmt` trait or create a post-processor. The problem with `Debug::fmt` is that it's hard to keep the indentation level. But doing a post process will require us to keep the `Debug::fmt` and the post postprocessor format in

[2016-08-01 08:13] shinglyu commented on #12675
Or maybe we should make `Debug::fmt` print a machine readable format, then we add some formatter in the `mach` to print it out in plain text. This would help if we want to create GUI debugging tools for layout in the future.

[2016-08-01 08:33] clstl commented on #12672
@larsbergstrom what version of OSX do you have there? I bet it is only El Capitan that does this. I had quite a few issues with paths over the past year.

[2016-08-01 09:12] shinglyu opened #12676 "Absolutely positioned block box are collaping margin with its previous sibling"
According to the [spec](https://drafts.csswg.org/css-position-3/#position-property), a block element with `position:absolute` and NO `top`, `bottom`, `left`, `right` defined should NOT collapse with any margin.

But the following test case shows that that red box is collapsing with the `#margin-box`'s bottom margin.

[code]
Screenshot: (left=servo, right=gecko)
![selection_015](https://cloud.githu

[2016-08-01 09:13] shinglyu commented on #12676
This blocks https://github.com/servo/servo/issues/12610 in some sense because all the `tests/wpt/css-tests/css-flexbox-1_dev/html/flex-minimum-width-flex-items-00*.html` tests is broken because of this.

[2016-08-01 09:32] Ms2ger commented on #12672
Should we turn ffmpeg off again?

[2016-08-01 09:50] KiChjang commented on #5239
I suspect that the heavy-lifting is going to be done in script_thread::handle_new_layout when adapting `AttachLayout` to this new design. I'm guessing that `handle_new_layout` would behave a bit differently depending on the nature of the navigation. What should this function's behaviour look like when 1) a new, same-origin iframe is being added 2) an existing iframe is being replaced with same-ori

[2016-08-01 10:32] bzbarsky commented on #12672
@clstl I have Yosemite.

[2016-08-01 10:56] larsbergstrom commented on #12672
That's really weird, because on my mac (10.11) and our builders (10.10), the files are in `/usr/local/include/libavformat`. The error that seems to generate this condition is that `/usr/local` gets set to no longer have read permission for the user (literally, goofball `d-wx--x--x`) permissions.

[2016-08-01 10:59] Prunar commented on #12125
Im getting 'avformat-57.dll not found' on startup (googling tells me this belongs to ffmpeg?). Im on Win10 Pro x64. Via latest msi link today.

[2016-08-01 11:16] staabm commented on #12125
Even after quitting the ui window servo consumes loads of memory (10GB+)

[2016-08-01 12:52] avadacatavra commented on #2382
I chatted with @bholley and @jdm--if it's ok, I'll start working on this.

Other relevant work:
- Test for cross origin behavior: https://github.com/w3c/web-platform-tests/tree/master/html/browsers/origin/cross-origin-objects
- Gecko implementation: http://searchfox.org/mozilla-central/source/js/xpconnect/wrappers/FilteringWrapper.h#64 (supports stuff that we don't need too)

[2016-08-01 14:22] ConnorGBrewster commented on #12672
I had this issue earlier, `xcode-select --install` fixed it for me.

[2016-08-01 14:53] izgzhen opened #12681 "Intermittent: stackwalk_stderr"
log: http://build.servo.org/builders/mac-rel-wpt/builds/2385/steps/test_1/logs/wpt-errorsummary.log:

[code]

Not clear what caused this. Looks like an intermittent error because last time I saw this a retry would work.

[2016-08-01 15:08] Ms2ger commented on #12681
https://github.com/servo/servo/issues/12592

[2016-08-01 15:08] #12681 closed

[2016-08-01 15:17] izgzhen commented on #12681
@Ms2ger What is the connection between them o_O? I mean, #12592 only talks about /html/semantics/embedded-content/the-iframe-element/iframe-allowfullscreen.html

[2016-08-01 15:18] Ms2ger commented on #12681
The only error in your summary is
[code]

You're not really expected to read that, though; the human readable log has

[code]

[2016-08-01 15:19] jdm commented on #12681
I don't know what the output in the errorsummary means, but the test that actually failed was the one reported in #12592.

[2016-08-01 15:21] izgzhen commented on #12681
Oh I see. the summrarylog is a bit messy. Thanks :)

[2016-08-01 15:27] larsbergstrom commented on #12125
Once we get https://github.com/servo/servo/pull/12661, we should have a fix for the missing DLLs in the MSI. I'll push out a new nightly early once that happens :-)

[2016-08-01 15:36] Coder206 commented on #12125
@larsbergstrom Looking forward to seeing the product of your hard work with @metajack :-)

[2016-08-01 16:18] bzbarsky commented on #12672
@larsbergstrom Presumably both your mac and your builders are using homebrew.  I'm using macports.  The headers end up in a different place there: `/opt/local/include/libavformat`.

[2016-08-01 16:46] larsbergstrom commented on #12672
@bzbarsky Thanks for the clarification and I apologize for my assumption! Due, in part, to most CI systems that support OSX having moved over to HomeBrew, I'd forgotten that macports was still being supported and used :-)

We may have to consider adding a macOS builder that only has macports stuff installed and no homebrew if we want to continue supporting this developer configuration. Added an is

[2016-08-01 16:55] izgzhen commented on #12675
+1 for post-processor. Or maybe render it into some HTML-formatted page? so we can let browser to handle indentation etc.

[2016-08-01 18:07] jbriggs-zvelo commented on #12672
I have a very similar problem on Fedora. My libavformat header files are installed in /usr/include/ffmpeg and so they aren't found by a simple include. They need -I/usr/include/ffmpeg set. The Rust build files  should be using pkg-config to locate these.

[2016-08-01 18:12] GuillaumeGomez commented on #12672
@jbriggs-zvelo: Look [here](https://github.com/servo/servo/issues/11882#issuecomment-236463715).

[2016-08-01 18:23] bzbarsky commented on #12672
Per irc discussion, using pkg-config would also work for macports, because then the right include path would get set.

[2016-08-01 18:36] KishanV commented on #12125
We are waiting for new nightly..

[2016-08-01 18:45] larsbergstrom commented on #12125
Ugh, now missing libmodplug-1.dll & librtmp-1.dll & libbluray-1.dll & avcodec-57.dll.... :-(

[2016-08-01 19:27] metajack commented on #11882
The issue is that while pkg-config is used to determine if the libraries are there, it only uses the linking information, not the include directories. We just need to add those. I'm working on a patch now.

[2016-08-01 19:30] #12542 closed

[2016-08-01 20:01] ConnorGBrewster commented on #12580
Possibly fixed by #12563.

[2016-08-01 20:02] ConnorGBrewster commented on #12568
Possibly fixed by #12563

[2016-08-01 20:18] clstl commented on #12352
@tallowen mind if I open a PR or are you willing to continue working?

[2016-08-01 22:55] KiChjang commented on #11763
@tomjakubowski Are you still working on this?

[2016-08-01 23:00] KiChjang commented on #11444
@bobthekingofegypt Is this still being worked on?

[2016-08-01 23:10] KiChjang commented on #10245
@saurvs What's the status of this?

[2016-08-01 23:51] craftytrickster commented on #12655
This happens to be the one shorthand I did not implement here https://github.com/servo/servo/pull/12572 given that I also could not determine a correct way to serialize it either.

After the above PR is merged, the place to implement it will be in the border.mako.rs file.

[2016-08-02 00:41] Manishearth commented on #12655
https://github.com/servo/servo/pull/12680 contains BorderRadius, with serialization, using the basic-shape definition.

The serialization isn't completely correct (it's supposed to print the minimum equivalent thing, currently it just prints everything), but I plan to fix it

[2016-08-02 00:48] eliasp opened #12686 "`mach build` fails as `mozjs` picks wrong Python version"
Running `mach build --dev` in a fresh clone (5dac1f6) fails, as for creating the virtualenv to build `mozjs` Python3 is used instead of Python2.7:

[code]

My $PATH contains system-wide installations of multiple Python versions (`2.7`, `3.4`, `3.5`) with `3.4.5` being the default version provided by `python` and `python2` pointing to `python2.7` and `python3` pointing to `python3.4`.

Full output

[2016-08-02 02:05] benwaffle opened #12687 "Linux: Nightly build doesn't run due to libav version mismatch."
Servo wants `libavformat.so.54` and `libavutil.so.52`, but arch has `libavformat.so.57` and `libavutil.so.55`

[2016-08-02 02:11] emilio commented on #12687
Hi, thanks for reporting this! It seems like a version conflict, could you check if building servo yourself works?

cc @larsbergstrom, do you how other browsers handle this? I assume firefox compiles libav themselves, but I don't know about others.

also, cc @GuillaumeGomez

[2016-08-02 06:08] raphlinus commented on #10199
There's definitely RGB subpixel rendering present in the Firefox screenshot. It also looks like there's anemic gamma in the Servo screenshot. (Many people consider adjusting gamma to be linear-intensity to be "correct" but I disagree with that). It doesn't _look_ like there's a problem with over-hinting, but it's hard to say for sure.

See btw https://www.freetype.org/freetype2/docs/text-rendering

[2016-08-02 06:45] notriddle commented on #10199
Note that I have grayscale AA turned on everywhere. Servo's doing something else wrong, my guess is it's doing anti-aliasing twice or it's simply grabbing an overly-thin font.

![antialiasing](https://cloud.githubusercontent.com/assets/1593513/17319340/df67ca94-5841-11e6-9a2d-51983505b822.png)

[2016-08-02 07:49] Manishearth opened #12690 "Handle 3- and 4- valued <position>s in style"
background-position can take values like `right 50% bottom 10px`. We currently only parse the two-valued form, which takes one value each for the horizontal and vertical position.

Relevant spec: https://drafts.csswg.org/css-backgrounds-3/#position

Probably can represent it something like:

[code]

`<position>` when serialized only serializes to its two/four value forms (not three-valued ones, so

[2016-08-02 07:55] Manishearth commented on #12690
The serialization is actually unspecced, https://github.com/w3c/csswg-drafts/issues/368

[2016-08-02 09:17] GuillaumeGomez commented on #12687
It should target `.so` files, not `.so.version`. This is really disturbing.

[2016-08-02 10:12] KiChjang commented on #12687
Can we see a full log of the error?

[2016-08-02 10:16] Manishearth commented on #12655
Ah, this is because `get_shorthand_appendable_value` doesn't use ToCss definitions in the first place, it just appends the shorthands together. Probably should make it use ToCss, and add ToCss impls for the shorthands, with an autogenerate option for this default.

[2016-08-02 10:17] Bedotech commented on #12687
It happen in ubuntu 16.04 too:
[code]

[2016-08-02 12:21] craftytrickster commented on #12655
ToCss only takes a self parameter and a writeable parameter - https://servo.github.io/rust-cssparser/cssparser/trait.ToCss.html.

The problem is that the Shorthand enum does not actually contain its Longhand values, which is why I did not use that approach.

[2016-08-02 15:01] Manishearth commented on #12655
I looked a bit more at the code.

Wherever the serialization methods are used (once in cssstyledeclaration.rs and once in the ToCss impl of the whole property declaration block), we call `shorthand.longhands()`, collect longhand values from there, and push it in, and treat it as an iterator in the serialize_shorthand methods.

Instead, serialize_shorthand_ should take just the shorthand, and the p

[2016-08-02 15:07] Manishearth commented on #12655
I'll work on this unless someone else wants to pick it up.

[2016-08-02 16:08] Manishearth commented on #12655
Oh, I didn't notice #12572 existed. Sorry!

After #12680 lands, the serialization of border-radius can be done by constructing a `values::computed::basic_shape::BorderRadius` from the longhands and running to_css on that.

[2016-08-02 16:35] metajack commented on #12672
@bzbarsky This should be fixed by #12683. I'll close once you confirm it's now working for you.

[2016-08-02 16:49] highfive commented on #12674
cc @wafflespeanut

[2016-08-02 16:50] jdm commented on #12674
I would like to move to a system like Gecko's `./mach bootstrap` that installs all necessary prerequisites. By doing so, we could even make mach refuse to build (or silently bootstrap) if a new dependency was added since the last build.

[2016-08-02 17:06] bobthekingofegypt commented on #11444
@KiChjang Sorry, I just haven't had the time to make any proper progress yet.  I should have probably stuck to smaller tasks, every time a week passes I have to just remind myself what I was doing instead of making progress.

Feel free to reassign it if someone else wants to pick it up.

[2016-08-02 17:14] jdm opened #12693 "Constellation should not use synchronous queries to layout/script when taking a screenshot"
#12685 adds a script->constellation synchronous query, which I'm sure is not the only one that currently exists or will ever exist. We should remove any chance of the constellation deadlocking if a reference test ends up using `history.length` by making the constellation's decision of when to take a screenshot more asynchronous.

[2016-08-02 17:30] Gozala opened #12694 "Keyboard events ignore keyboard layout when control / alt modifiers are pressed"
This is probably a leftover from #4144. In latest nightly if you try this page https://Gozala.jsbin.com/zipuya you'll be able to see the log of events when typing into input field

For example on `Dvorak` layout typing `control-n`, `control-p` logs following output:

<img width="1010" alt="screen shot 2016-08-02 at 10 28 15 am" src="https://cloud.githubusercontent.com/assets/21236/17338336/eb63d15

[2016-08-02 17:51] bzbarsky commented on #12672
Yep, confirmed that things build correctly now.  Thanks!

[2016-08-02 17:51] #12672 closed

[2016-08-02 18:07] larsbergstrom opened #12695 "Lots of copies of big-buck-bunny?"
@gsnedders Do we need so many copies of the big-buck-bunny movie file? Or is there some way to reduce the duplication a bit?

After some complaints from the Gecko side (passed on via @bholley) about a "lot of repeated binary files in the CSS tests takin' up a lot of disk space", I did a `find . -type f -size +1M | xargs du -k | sort -n` and definitely noticed that there are a few duplicated files

[2016-08-02 18:13] notriddle commented on #12695
I guess we can't use hardlinks?

[2016-08-02 18:14] pcwalton commented on #12286
Fascinating.

[2016-08-02 18:53] gsnedders commented on #12695
I'll check, but I'm not sure how easily we can get rid of this till the build system is gone. :\

There again, at least on the Servo side once we move to running tests directly from csswg-test we should avoid a fair bit of the duplication (simply because there aren't the multiple built formats!).

That said, they shouldn't be bloating the git repo by too much because they'll share object files. It

[2016-08-02 20:59] #9918 closed

[2016-08-02 21:51] jrmuizel opened #12696 "This table layout is broken"
http://people.mozilla.org/~acomminos/A_colorful_table_of_browser_engines.html

[2016-08-02 21:53] pcwalton opened #12697 "Web fonts don't work in browser.html on Mac OS X 10.9"
They appear as squares. This makes it hard to use browser.html :)

Found by @jrmuizel

[2016-08-02 21:55] pcwalton opened #12698 "Window corners are not round on Mac OS X 10.9"
I guess `-[NSCGSWindow setOpaqueShape:]` changed.

Found by @jrmuizel

[2016-08-02 22:05] splav opened #12699 "Borders of inline elements are wrong for broken lines"
Minimal test:
[code]
Servo:
![screenshot_20160803_010231](https://cloud.githubusercontent.com/assets/182050/17346998/963fef44-591e-11e6-8a98-129e7472886d.png)
Firefox:
![firefox](https://cloud.githubusercontent.com/assets/182050/17346999/9c60f260-591e-11e6-9a07-b1429ead5917.png)

[2016-08-02 22:43] splav commented on #12699
As it interferes with my PR https://github.com/servo/servo/pull/12669 I would like to take this, at least in the part of extra borders, not sure about the positioning logic for now.

[2016-08-02 22:50] craftytrickster commented on #12686
Mine is failing for a slightly different error, but I am also unable to build due to a "mozjs error"

[code]

[2016-08-02 22:55] KiChjang opened #12701 "Intermittent timeout of /css-flexbox-1_dev/html/flexbox-writing-mode-003.htm"
[code]

[2016-08-02 23:01] craftytrickster opened #12702 "mach build -d fails due to mozjs_sys error"
After getting the latest from master I am unable to build on Ubuntu LTS 160.4 due to the following error:

[code]

[2016-08-02 23:07] jdm commented on #12699
Go for it!

[2016-08-02 23:08] jdm commented on #12702
If you run `./mach clean` before building again this should disappear.

[2016-08-02 23:45] #12702 closed

[2016-08-02 23:45] craftytrickster commented on #12702
Well that was an easy fix! Thanks.

[2016-08-02 23:48] gaby2300 commented on #12125
@Coder206, @Jack, any news or new build to try? Thanks!!!

On 1 August 2016 at 15:45, Lars Bergstrom <notifications@github.com> wrote:

[2016-08-02 23:51] #12589 closed

[2016-08-03 01:04] Coder206 commented on #12125
@gaby2300 Hi! I hope you are doing well. I think you mean @metajack (Mr. Jack Moffitt). Looks like the download page that @larsbergstrom gave us a link to a build that is still throwing errors about missing DLLs, I hope the build will be updated soon.

[2016-08-03 01:48] paulrouget opened #12705 "Start browserhtml with multiprocess and sandboxing enabled"
At least on Linux and Mac.

[2016-08-03 02:01] gaby2300 commented on #12125
@Coder206, thanks for replying so quickly! Do you know if someone will post
here whenever the build is updated?

On 2 August 2016 at 22:04, Coder206 <notifications@github.com> wrote:

[2016-08-03 02:19] Coder206 commented on #12125
@gaby2300 Yes, actually, this issue should be closed when all is solved.

[2016-08-03 02:27] gaby2300 commented on #12125
@Coder206 Cool, many thanks!

On 2 Aug 2016 23:19, "Coder206" <notifications@github.com> wrote:

[2016-08-03 02:31] Coder206 commented on #12125
@gaby2300 😀

[2016-08-03 03:52] shinglyu opened #12706 "Can't run rr-record"
When I run `./mach rr-record about:blank`, I got this error message:

[code]

Old bugs suggest me to run servo headless, but the `SERVO_HEADLESS=1` build was removed (https://github.com/servo/servo/issues/8573)

So I tried to run with `xvfb-run` and `-z`, but got this:

[code]

[2016-08-03 04:03] emilio commented on #12706
Works for me as `./mach rr-record about:blank --headless -d`

[2016-08-03 04:15] paulrouget opened #12707 "Remove package-prefs.json"
As far as I can tell, `package-prefs.json` is used to replace `prefs.json` on Mac when Servo is packaged with browserhtml.

On Linux, a shell script is created with the prefs set via the command line.
I'm not sure about Windows.

It should either be used on the 3 platforms, or not used at all.

Also, I'm not sure to see the benefit of this file, especially because it duplicates preference location

[2016-08-03 04:19] shinglyu commented on #12706
OK, it's the crappy NVidia driver on my Ubuntu on Dell XPS 15
Workaround:
* Switch back to intel integrated GPU: `sudo prime-select intel`
* Start a Xvfb server:
[code]
* `export DISPLAY=:10` then `./mach rr-record about:blank`

[2016-08-03 04:56] leeoniya opened #12709 "font-rs?"
from a recent HN thread [1]

might be worth considering font-rs [2] for webrender integration?

[1] https://news.ycombinator.com/item?id=12209704
[2] https://github.com/google/font-rs

[2016-08-03 05:35] shinglyu commented on #12706
Is there anything we can fix from the servo side? If not, I'll close this as wontfix.

[2016-08-03 05:37] nicompte commented on #12687
If that helps, here is the log for a dev build on ubuntu 15.10:

[code]

[2016-08-03 06:31] Wafflespeanut commented on #12674
I'll look into it :)

[2016-08-03 07:46] emilio opened #12710 "stylo: Align restyle hints meaning between Servo and Gecko"
TL;DR:
- `RESTYLE_SELF` should not (always) run selector matching on descendants (that's `eRestyle_Subtree`, which currently is lacking on Servo). This is a known (hopefully soon-to-be-addressed issue). We treat both like the same right now.
- `RESTYLE_DESCENDANTS` and `eRestyle_SomeDescendants` share binary representations right now, but the meanings for Gecko and Servo are different (all vs. som

[2016-08-03 09:31] emilio commented on #12687
@nicompte: That build seems like it failed because you didn't have the dbus dependency, doesn't seem related, but if it persists after installing all the dependencies on the readme, please file another issue and mention me, thanks! :)

@larsbergstrom: what should we do here? I propose cfg'ing out the media support for Linux until we find a proper solution (which may involve compiling ourselves the

[2016-08-03 12:13] MartyIX commented on #12687
I've just noticed that *This week in Servo* mentions https://github.com/servo/servo/pull/12186/files. Maybe it's related, maybe it's not.

[2016-08-03 12:34] jdm commented on #12707
Sounds like another way of dealing with #11966.

[2016-08-03 12:42] GuillaumeGomez commented on #12687
@MartyIX: That's the origin yes.

[2016-08-03 12:54] marinintim commented on #12095
Sorry, didn't have the time to actually do something yet about this issue, and compiling is not an easy challenge on my underpowered machine. I hope to tackle it somewhere around this weekend.

[2016-08-03 13:04] jdm commented on #12095
Thanks for letting us know!

[2016-08-03 13:56] saurvs commented on #10245
@KiChjang Sorry, I'd couldn't figure out the surrounding code for sending the event, and can't make progress. I hope my code about the DOM of the transition event https://github.com/servo/servo/pull/10393 is useful.

[2016-08-03 14:55] jdm opened #12713 "Intermittent timeout in /css21_dev/html4/colors-005.htm and /css21_dev/html4/colors-006.htm"
[code]

[2016-08-03 15:26] metajack commented on #12687
What does Gecko do here? Do they just bundle ffmpeg?

[2016-08-03 15:34] jdm opened #12714 "Generate an `any_members_present` method for dictionary types"
This ensures that any specification (like the Request constructor from Fetch) that uses text like `If any of init's members are present, run these substeps:` will be maintainable as more members get added to the dictionary in question.

[2016-08-03 15:51] Ms2ger opened #12715 "Use incumbent settings object for Window::postMessage."
Depends on #10963.

[2016-08-03 15:54] Ms2ger opened #12717 "Implement transfer argument to Window::postMessage."

[2016-08-03 15:58] Ms2ger opened #12718 "Implement "posted message task source""

[2016-08-03 15:59] Ms2ger opened #12719 "Correctly set all the attributes of the message event dispatched in response to Window::postMessage."
Depends on #10963.

[2016-08-03 16:21] bholley commented on #12710
@emilio Per previous discussion I think we should track stylo on bugzilla. Can you file a corresponding bug and point to this issue?

[2016-08-03 16:24] notriddle commented on #11019
It's still present in WR2.

![screenshot from 2016-08-03 09-24-17](https://cloud.githubusercontent.com/assets/1593513/17373224/1dc2eb3c-595c-11e6-87f7-33d5aa1d67b4.png)

[2016-08-03 17:34] mrmiywj commented on #10963
Mind if I try this and the related issues?
Any reference resource?

[2016-08-03 17:51] emilio commented on #12710
Sure, filled https://bugzilla.mozilla.org/show_bug.cgi?id=1291786

[2016-08-03 17:58] tapper82 commented on #12125
Can't wait to test this when it gets a a11y layer.

[2016-08-03 18:02] emilio commented on #12687
@metajack: Gecko has libmozavformat, that in practice yes, is building libav themselves if I'm not wrong.

[2016-08-03 18:10] ElijahCaine opened #12721 "Fails to 'mach build --dev' and 'mach build --release' on Alpine Linux"
When building Servo on Alpine Linux the following output occurs when `mach build --dev` and `mach build --release` are run:
[code]

I would take a crack at this myself but there's not a ton of helpful output like which file/directory can't be found.

The following packages are installed before the above command is run: **curl, file, gnupg, sudo, git, python, virtualenv,** and **Rust Nightly** usin

[2016-08-03 18:33] KiChjang commented on #10963
FWIW:
https://html.spec.whatwg.org/multipage/webappapis.html#incumbent-settings-object
https://html.spec.whatwg.org/multipage/webappapis.html#current-settings-object
https://html.spec.whatwg.org/multipage/webappapis.html#entry-settings-object

[2016-08-03 18:42] jdm commented on #12125
@tapper82 Keep an eye on #4344 in that case.

[2016-08-03 18:45] jdm commented on #4344
Previous investigative work I did:
https://github.com/jdm/glutin/tree/a11y - branch of glutin that adds the necessary platform integration with OS X's accessibility services
https://github.com/jdm/accessible - crate designed to provide platform-independent accessible representations for Rust programs; OS X support present, very preliminary Linux work

I hear that Windows is even more complicated.

[2016-08-03 18:50] jdm commented on #10963
@mrmiywj This is not something I would feel comfortable having someone work on without dsicussing the necessary work and implementation plan first.

[2016-08-03 18:51] jdm commented on #12721
Line 244 is invoking `cargo build`; it's surprising that that's not working. Any change in the output if you use `./mach build -d -v`?

[2016-08-03 18:53] jdm commented on #10963
Also https://github.com/servo/servo/commit/e3873c2c43ab00896fa6e6aa8f1daa414f8ea2fe is a more recent implementation of the sort of thing we need here.

[2016-08-03 19:01] ElijahCaine commented on #12721
@jdm As my Magic-8-Ball says "Not looking good."

[code]

[2016-08-03 19:33] jdm commented on #12341
Sounds like we know the solution and it's not possible to implement it yet.

[2016-08-03 19:40] Wafflespeanut commented on #12624
@Coder206 Any news on this?

[2016-08-03 19:48] Coder206 commented on #12624
@Wafflespeanut Hi! I did start looking into this, I think I have a solution by adding "pub" to the "Vec" use line but I am waiting on #12687's fix to resume development as I cannot compile.

[2016-08-03 20:06] KiChjang commented on #12624
@Coder206 That issue should not affect you, since it's an error on the servo nightly binary and not the compilation of servo.

[2016-08-03 20:56] #7720 closed

[2016-08-03 21:04] jdm opened #12724 "Intermittent python exception in WPT tests"
[code]

[2016-08-03 21:04] jdm commented on #12724
[code]
[code]

[2016-08-03 21:15] SimonSapin commented on #12721
@ElijahCaine try `./mach env`. The `PATH=…` line should include one directory whose path ends in `cargo/2016-07-30/cargo/bin`. Does this directory contain a `cargo` executable? Can you run it, say with `…/cargo/2016-07-30/cargo/bin/cargo --version`?

Note that there is no need to install Rust yourself. By default mach will automatically download the appropriate Rust version.

[2016-08-03 21:24] ElijahCaine commented on #12721
@SimonSapin The PATH variable claimed to have an executable at `/tmp/servo/.servo/cargo/2016-07-30/cargo/bin`. When I checked there was one, but my Alpine (or something else in my environment) was having problems executing it:
[code]
This problem might go a bit deeper than I am equipped to dig, but let me know if this problem has come up before or any ideas on how to address it.

[2016-08-03 21:28] SimonSapin commented on #12721
If you have a working Cargo already in `$PATH`, try copying `servobuild.example` to `.servobuild` in your servo tree and changing `system-cargo` to `true` in `.servobuild`.

[2016-08-03 21:41] ElijahCaine commented on #12721
@SimonSapin I get the same error when using my system cargo and the following error when trying to run my system cargo:
[code]
I could have sworn it installed correctly, but I guess I was mistaken. Other binaries (like python) get run just fine.
I'm going to try starting from scratch and see if it's something weird that gets resolved when I "Turn it off and on again".

[2016-08-03 22:49] emilio commented on #12706
Closing this for now, since seems rather driver-specific.

[2016-08-03 22:49] #12706 closed

[2016-08-03 22:50] Coder206 opened #12726 "Fedora FFmpeg Dependency Exception"
Fedora does not include FFmpeg like the other Linux distros do. So the instructions need to be modified to get FFmpeg from RPMFusion.

I will be self assigning myself to this one.

Tags to add please: E-easy, C-assigned, P-Linux, I-panic

[2016-08-03 22:52] highfive commented on #12726
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-03 22:57] Coder206 commented on #12726
@KiChjang Thanks

[2016-08-03 23:11] Gozala opened #12727 "Impossible to test that non-pipeline thread panics are reported"
It is impossible to verify that browser.html handles non-pipeline thread panics browserhtml/browserhtml#1182 as there is no way that I know of to produce them

[2016-08-03 23:11] Gozala commented on #12727
CC @asajeffrey

[2016-08-03 23:17] ConnorGBrewster commented on #11650
This seems to be fixed with WR2 #12711

[2016-08-03 23:17] #11650 closed

[2016-08-03 23:52] #11912 closed

[2016-08-04 00:01] ElijahCaine commented on #12721
This seems to be an issue with Alpine and linking against musl which is outside the scope of servo, so I'm gonna close it. Thanks for the help @SimonSapin and @jdm :smile:

[2016-08-04 00:20] crazymykl commented on #11910
This can also be closed, I accidentally bungled the syntax to make it happen automatically.

[2016-08-04 00:31] KiChjang commented on #11910
Fixed in #11919.

[2016-08-04 00:31] #11910 closed

[2016-08-04 01:26] changm opened #12730 "Starting Servo on Windows takes a long time"
STR:
1) Compile a release version of servo
2) Start servo
3) Whistle while waiting.

It is significantly slower to start up than on OS X. Tested on the same machine via bootcamp.

[2016-08-04 02:35] paulrouget commented on #12730
How do you start Servo?

What is slow exactly? For the window to show up or loading the initial document?

[2016-08-04 05:38] shinglyu commented on #12676
I've already identify the problem, but my naive patch caused some regression. Need to Double check with the spec to fix the regression.

[2016-08-04 07:47] romanlevin commented on #12687
https://download.servo.org/ should be updated to save people the googling.

[2016-08-04 08:19] Ms2ger commented on #12724
Not intermittent; needed
[code]

[2016-08-04 08:19] #12724 closed

[2016-08-04 08:30] #1471 closed

[2016-08-04 10:25] mrmiywj commented on #10963
Thx! I will take a look on it.

On Thu, Aug 4, 2016 at 2:53 AM Josh Matthews <notifications@github.com>
wrote:

[2016-08-04 11:46] #12012 closed

[2016-08-04 12:11] #12721 closed

[2016-08-04 14:23] nox opened #12732 "Intermittent crash in /css-flexbox-1_dev/html/flexbox_computedstyle_min-width-auto.htm"
[code]

[2016-08-04 17:24] changm commented on #12730
I was starting servo with just ./mach run -w http://www.nytimes.com

Everything about Servo is slower than on mac. Waiting for the window to show up is slower. Loading the initial document is slower. It's much much slower.

[2016-08-04 18:14] SaschaNaz commented on #11124
Also is the blocker on Windows Subsystem for Linux.

[2016-08-04 18:32] #12158 closed

[2016-08-04 20:22] malisas opened #12737 "Update bindings generator to support default ByteString values in a dictionary"
The [Web IDL ByteString spec](http://heycam.github.io/webidl/#idl-ByteString) previously said:

But in response to [an issue](https://github.com/whatwg/fetch/issues/348) I filed, it has now been changed to say:

**Conclusion: Servo's bindings generator should be updated to support default ByteString values in a dictionary.**

More about string literals: [here](http://heycam.github.io/webidl/#strin

[2016-08-04 20:29] KiChjang commented on #12732
Not an intermittent, actual rust bug being addressed by rust-lang/rust#35300.

[2016-08-04 20:29] #12732 closed

[2016-08-04 22:15] #12705 closed

[2016-08-04 23:27] jdm opened #12738 "Enable new Rust error format by default"
I just helped debug a confusing borrowcheck error, and noticed that the error presented by play.rust-lang.org for the following program was _way_ more informative than the one presented by running `./mach rustc`:
[code]
The new error format makes it much more clear what's going on. I'd like to enable this mode by default in our build system.

[2016-08-04 23:27] highfive commented on #12738
cc @wafflespeanut

[2016-08-04 23:31] metajack commented on #12738
This will potentially break people compiling from Emacs (like myself). I believe there's a way to fix it, but we should probably send a note to dev-servo when this lands to make sure people are not surprised.

[2016-08-04 23:32] KiChjang commented on #12738
For reference, this is the old error format:
[code]
And this is the new error format:
[code]

[2016-08-04 23:47] jdm commented on #12738
@KiChjang The error that Servo's rustc shows for me is:
[code]

[2016-08-04 23:51] KiChjang commented on #12738
Oh, never mind me. The rustc version that I was using is 1.10.0 stable.

[2016-08-05 00:19] #11981 closed

[2016-08-05 00:39] larsbergstrom opened #12739 "TravisCI is currently not reporting status correctly back to to GitHub for `auto` pushes"
For one example, see:
https://github.com/servo/libexpat/pull/18

It still has status for the original PR when first opened:
https://travis-ci.org/servo/libexpat/builds/149873201

But when homu did a push to the 'auto' branch and travis ran
it, it saw the push, knows it was associated with the PR, but did
*not* appear to report it back to github:
https://travis-ci.org/servo/libexpat/builds/14988227

[2016-08-05 00:39] highfive commented on #12739
cc @aneeshusa

[2016-08-05 00:43] paulrouget commented on #12730
Could it be a glutin issue? Can you try running the window example of https://github.com/tomaka/glutin see if it's slow as well?

[2016-08-05 00:50] Coder206 commented on #12730
@paulrouget I noticed a similar experience as @changm. I tried the demo, works instantly.

[2016-08-05 00:58] paulrouget commented on #12730
You mean the glutin example?

[2016-08-05 01:07] paulrouget commented on #12012
Should be better now.

[2016-08-05 01:14] Coder206 commented on #12730
@paulrouget Yes, glutin example loaded instantly.

[2016-08-05 03:16] larsbergstrom commented on #12739
Travis have confirmed and provided proof that they are sending the web hooks and notifying GitHub correctly.

We have reached out to support@github for more information on what is going on here.

[2016-08-05 09:30] Ms2ger commented on #12737
@malisas: are you planning to work on this? Feel free to ping me or jdm if you need help.

[2016-08-05 10:26] UK992 commented on #12730
For slow window show up, could be problem with git. For some reason with mach run git starts working, sometimes it takes 100% disk usage and took few minutes to open window.

[2016-08-05 11:17] jdm commented on #12730
FYI, we use git to set up an environment variable with the current commit hash so Servo can make use of it.

[2016-08-05 11:28] Coder206 commented on #12730
Thanks @jdm and @UK992

[2016-08-05 11:35] flipflop97 opened #12743 "Outdated FFmpeg version"
OS: Arch Linux with latest updates including FFmpeg

when running the 5 Aug 2016 nightly I get the following error:
./servo: error while loading shared libraries: libavformat.so.54: cannot open shared object file: No such file or directory

The issue is fixed by installing the older (54) version of this FFmpeg library manually using the AUR package aur/ffmpeg-compat-54

Is it possible to use a mor

[2016-08-05 12:02] jdm commented on #12743
This is tracked in #12687. Thanks for reporting it!

[2016-08-05 12:02] #12743 closed

[2016-08-05 12:07] nox commented on #12687
What does `pkg-config --libs libavformat` say for people encountering that bug?

[2016-08-05 12:12] flipflop97 commented on #12687
@nox
[code]

[2016-08-05 12:14] nox commented on #12687
@flipflop97

No `-L` flag? Where is your libavformat? I suspect you have an out-of-date `libavformat.so` symlink pointing to a file that doesn't exist anymore.

[2016-08-05 12:30] flipflop97 commented on #12687
[code]

Everything seems to be ok to me, `libavformat.so` points to the right file.

[2016-08-05 12:41] Manishearth opened #12744 "Correctly set the line offset of inline scripts"
We currently [set the offset of a script as 0 when its loaded inline](https://github.com/servo/servo/blob/0fc0db67c64bf8ab4593d1f84b8d1be517fa1b74/components/script/dom/window.rs#L949).

This means that if an inline script errors, the line number is given relative to the start of the script, not the start of the html file it's in. This is less useful 😄

To fix this, we'll probably need to hook int

[2016-08-05 12:52] jdm commented on #11519
Duplicate of #9604.

[2016-08-05 12:52] #11519 closed

[2016-08-05 12:53] jdm commented on #12744
Duplicate of #11519.

[2016-08-05 12:53] #12744 closed

[2016-08-05 12:54] jdm commented on #9604
Elaborating on the last point, from #12744:
[code]

[2016-08-05 13:09] samuknet opened #12745 "Is CSS transition on font-size property implemented?"
Unsure if CSS  transitioning on the `font-size` property is implemented yet?

Applying the transition does not have any effect  - the below example 'toggles' between a large font size and back again.  In Servo, there is no transition but just a 'jump' between the two font sizes.

[code]

Online test case [here](https://samuknet.github.io/test_cases/fontSizeTransition/).

[2016-08-05 13:16] jdm opened #12746 "PropertyDeclaration::is_animatable is unused"
Not sure if this means we're missing a call to it somewhere, or whether we can just remove it.

[2016-08-05 14:03] Ms2ger commented on #9604
For relevant Gecko code, search for `eTreeOpSetScriptLineNumberAndFreeze`.

[2016-08-05 14:17] samuknet opened #12747 "CSS Transition with multiple properties with one invalid property does not work"
In Servo, when transitioning multiple properties, if there is one unrecognized property in the supplied list then none of the other transitions specified will be applied.

For example:

[code]

In this example,  there are no transitions on the `width` propertiey as the list of transitions has a single unrecognised property in, namely `non-existent-property.`

The location of the unrecognised prope

[2016-08-05 14:28] jdm commented on #12747
Presumably this is caused by `parse_one_transition` in `components/style/properties/shorthand/box.rs` returning an error if `transition_property` fails to parse, and the use of `try!` with `parse_comma_separated`. @SimonSapin what's the right way to continue parsing after a parsing error?

[2016-08-05 14:31] samuknet commented on #12747
thanks @jdm  - If you reckon this will be a good first contrib. after some more poking then I'd love to have a go (with some guidance!)

[2016-08-05 14:43] nox commented on #12687
Could anyone post the actual failure they get when building, pasting the whole build log of `./mach build`?

[2016-08-05 15:56] jdm commented on #12745
I believe the problem here is that animating any property that requires [reconstructing flows](https://dxr.mozilla.org/servo/rev/ef2bd42494c445dbfabe9acf3704299b340359f2/components/script_layout_interface/restyle_damage.rs#181) is broken, since the layout code that responds to the TickAnimation message [only performs style recalculation](https://dxr.mozilla.org/servo/rev/ef2bd42494c445dbfabe9acf37

[2016-08-05 16:08] kilobtye opened #12748 "Wikipedia page wrong layout"
https://en.wikipedia.org/wiki/Template:Multiple_issues
![screenshot](https://cloud.githubusercontent.com/assets/4321081/17442042/726c8fce-5b66-11e6-8bd9-bdfa47ce61ef.png)

[2016-08-05 16:16] malisas commented on #12737
Sure, I'll give it a shot!

[2016-08-05 16:33] jdm commented on #12737
There will be two parts to this - allowing default values for ByteStrings in the parser, and generating appropriate Rust code for Bytestring values with default values in the code generator. As a good testcase for this work, I suggest adding a ByteString dictionary member with a default value to `TestBinding.webidl`, as well as a method that accepts an optional ByteString argument with a default v

[2016-08-05 16:36] jdm commented on #12737
Relevant code in CodegenRust.py is in the `isDOMString()` and `isUSVString()` branches of `getJSToNativeConversionInfo`.

[2016-08-05 16:46] larsbergstrom commented on #12739
After working with GitHub and Travis, we suspect that Homu is not correctly validating the Travis status messages. That process is described here:
https://docs.travis-ci.com/user/notifications/#Authorization-for-Webhooks

And that code is in homu at:
https://github.com/servo/homu/blob/master/homu/server.py#L617-L627

[2016-08-05 17:22] beingalink commented on #12066
I started to test again today and I can't reproduce the issue anymore. Of course there are still lots of rendering issues and surfing arstechnica for a while destroys font rendering but the pages always display and I can scroll them (except when servo starts to freeze my Macbook but that's another issue I guess). Thanks for all the hard work!

[2016-08-05 17:43] benwaffle commented on #12687
no errors when building from source

[2016-08-05 19:45] Gozala opened #12749 "requestAnimationFrame seems to break CSS transitions"
I have created a following test case that you can try as `servo -w https://Gozala.jsbin.com/vujonov`

When "Request animation frames" is checked animation css transition is not performed, instead just last frame is drawn when transition is complete. If it is unchecked transitions are performed as expected. Checkbox just toggles `requestAnimationFrame` loop that seems to cause a bug in CSS transiti

[2016-08-05 19:45] Gozala commented on #12749
/cc @emilio

[2016-08-05 19:49] heftig commented on #12687
Gecko's `libmozav*` libraries contain a vp8/9 subset of ffmpeg. To load system ffmpeg for other codecs, they have a `FFmpegRuntimeLinker` which uses `dlopen` and can load a whole bunch of different versions.

[2016-08-05 20:09] heftig commented on #12017
I believe the symbol versioning in openssl is a debianism.

[2016-08-05 20:26] emilio commented on #12749
The problem is that the constellation doesn't send `TickAnimations` messages to layout if there's a `requestAnimationFrame` loop. I don't know how easy/hard to fix this is yet.

[2016-08-05 20:52] metajack commented on #12125
So I've run Servo in win7 and i definitely get browser.html's new tab page and can go to different pages. Unfortunately, I'm running it in VMware, and there are some graphics glitches (the screen turns black after a while, but servo is still working) and it's impossible to know whether that is due to the VM or not. If I turn off graphics acceleration in VMware, then servo refuses to run at all.

I

[2016-08-05 21:25] gaby2300 commented on #12125
I tried again today in Windows 7. Besides having Windows compatibility
problems (apparently solved by Windows helper but not quite), the program
can't open because the libbluray-1.dll is missing in my machine

​I would greatly appreciate some help!​

Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

On 5 August 2016 at 17:52, Jack Moffitt <notifications@github.com> wrote:

[2016-08-06 00:11] jonathandturner commented on #12550
I've noticed this is true for the view port also.

![screen shot 2016-08-05 at 5 11 05 pm](https://cloud.githubusercontent.com/assets/547158/17453346/a2d6c954-5b2f-11e6-919d-443ea794d455.png)

[2016-08-06 00:28] Coder206 commented on #11855
@jdm I was trying to get this to work with your suggestions, but I keep getting "ERROR:servo: attempted to subtract with overflow" when I run `./mach run page.html -m 3`. I tried switching the order of the subtraction on line 185 in mem.rs, still yielding the same error as above. To add, I tried various combinations of the previous (subtraction in mem.rs) with "global.script_chan()" and "scope.scr

[2016-08-06 00:48] larsbergstrom commented on #12739
The current status is that mail is out to Travis and we are waiting to hear back on what we need to do to fix up our usage of their Webhooks (or if something broke on their side). We will continue to manually verify build results and merge PRs until this is fixed.

[2016-08-06 08:40] doanga2007 opened #12753 "Servo not support in macOS version 10.12 Beta (16A270f)."
Servo not support in macOS version 10.12 Beta (16A270f).

Picture : https://s32.postimg.org/n2xc3bl4j/Screen_Shot_2559_08_06_at_3_38_17_PM.png

[2016-08-06 11:01] elahn commented on #12125
The program can't start because librtmp-1.dll is missing from your computer. Try reinstalling the program to fix the problem.

Windows 10 with Anniversary Update on real hardware

[2016-08-06 13:54] nox commented on #12753
What are we supposed to see on the screenshot exactly?

[2016-08-06 14:04] Coder206 commented on #12753
@nox Did you notice the Servo icon in the bottom right hand corner?

[2016-08-06 14:22] nox commented on #12753
Oh right! So no window actually show up?

[2016-08-06 14:46] gaby2300 commented on #12125
I am getting the same as Elahn in Window 7

On 6 Aug 2016 8:01 am, "Elahn Ientile" <notifications@github.com> wrote:

[2016-08-06 16:04] Coder206 commented on #12753
@nox I think that is it.

[2016-08-06 18:11] tungpham opened #12756 "Build error on OS X 10.11.6"
./march build --release

error: failed to run custom build command for `video-metadata v0.1.3 (https://github.com/GuillaumeGomez/video-metadata-rs#44c8d547)`
process didn't exit successfully: `/Users/XXXXXX/servo/target/release/build/video-metadata-c11275da9e1a70d4/build-script-build` (exit code: 101)
--- stderr
thread 'main' panicked at 'Couldn't find libavformat: `"pkg-config" "--libs" "--cflags

[2016-08-06 19:16] metajack commented on #12756
Did you use brew to install ffmpeg?

[2016-08-06 19:59] tungpham commented on #12756
yes i use brew to install ffmpeg after seeing the error. But the error still persist

[2016-08-06 20:29] tungpham commented on #12756
i had to set the PKG_CONFIG_PATH to /usr/local/lib/pkgconfig

[2016-08-06 20:29] #12756 closed

[2016-08-06 23:11] emilio opened #12758 "tests/wpt/mozilla/tests/mozilla/calc.html is bogus."
Running the test in other browsers seems like they don't resolve `calc()` at all at the time of serializing it, so most of the tests fail with things like:

[2016-08-07 00:54] Coder206 opened #12759 "Add Link to DXR in IRC"
I wasn't sure where to place this issue so I decided in the projects main repository but it's subject is the Internet Relay Chat #servo. Not sure what tags could fit here either.

I was clicking the links in #servo and noticed the link http://mxr.mozilla.org/servo/ is outdated and should be replaced with https://dxr.mozilla.org/servo/

I learned this because there was a redirect when I visited MXR

[2016-08-07 03:08] highfive commented on #12759
cc @aneeshusa

[2016-08-07 05:36] Manishearth commented on #12758
Serialization isn't supposed to resolve calc IIRC. Except for computed I guess.

At least, basic-shape specs serialization to avoid calc transforms. A lot of serialization is unspecced.

[2016-08-07 11:26] doanga2007 commented on #12753
@nox Servo icon have black spot under icon for notification to open program but no windows to open Servo program.

[2016-08-07 17:35] sercand commented on #12753
I got the following output from Servo on MacOS Sierra
[code]

[2016-08-07 23:29] glennw commented on #12286
I started looking into this, but got sidetracked by the workweek I was at. I'll continue looking into it this week (should be easier to fix now that WR2 has landed).

[2016-08-08 02:03] paulrouget commented on #12066
Closing issue then.

Thanks for testing! Maybe you can file new issues for these specific problems?

[2016-08-08 02:03] #12066 closed

[2016-08-08 04:50] #12749 closed

[2016-08-08 07:53] Ms2ger commented on #12759
Done, thx

[2016-08-08 07:53] #12759 closed

[2016-08-08 09:01] samuknet opened #12761 "./mach build failing on Mac"
Running ./mach build -r on OS X El Capitan is giving me a host of errors: http://pastebin.com/DXuzX9He
The errors appear to be coming predominantly from 'mozjs'.
Could be related to https://github.com/servo/servo/issues/12686?

[2016-08-08 09:02] djc commented on #12761
Maybe take a look at https://groups.google.com/forum/#!topic/mozilla.dev.servo/7nJr7P-ZG5Y.

[2016-08-08 09:30] samuknet commented on #12761
Thanks - this worked for me.

`./mach clean`
then
`./mach build` made everything work as before.

[2016-08-08 09:30] #12761 closed

[2016-08-08 09:33] nox opened #12762 "Fix basic_shape warnings in the style component"
[code]

[2016-08-08 09:33] highfive commented on #12762
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-08 10:48] samuknet opened #12763 "Hit test on fixed DIV incorrectly offset when page is scrolled"
The problem occurs when there is a div with CSS `position: fixed`.  In this test, there is a `cursor:pointer` style and a `:hover{ background-color: red} ` style to indicate that the DIV has been hovered over.

These styles initially work when the page first loads - hovering over the DIV makes the cursor become a pointer and changes the background colour of it.

 However, when the document is scro

[2016-08-08 11:41] Coder206 commented on #12759
@Ms2ger Great! Thank you as well :)

[2016-08-08 12:53] Wafflespeanut opened #12764 "./mach throws error on poor connectivity"
Downloading `rustc` (or other things) in a poor internet connection throws socket error, which isn't currently caught by `mach`.

    error: [Errno 104] Connection reset by peer

      File "/media/Windows/Mozilla/servo/python/servo/build_commands.py", line 203, in build
        self.ensure_bootstrapped(target=target)
      File "./python/servo/command_base.py", line 499, in ensure_bootstrapped

[2016-08-08 12:53] highfive commented on #12764
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-08 12:53] highfive commented on #12764
cc @wafflespeanut

[2016-08-08 12:53] highfive commented on #12764
cc @wafflespeanut

[2016-08-08 13:15] samuknet opened #12765 "CSS Transition between different unit types does not work."
The problem occurs when transitioning between two different unit types.  For example, using CSS to transition the left property of an absolutely positioned div from a '%' value to a 'px' value and vice versa.

In Servo, the transition does not run at all when the transition is between two different unit types. Instead the property just 'snaps' to the '0' value.  In the example linked below, the le

[2016-08-08 13:21] Wafflespeanut opened #12766 "./mach has a formatting error"
This occurred today. I'm not sure what goes wrong here. This occurs only when we append non-string values to strings.

    TypeError: coercing to Unicode: need string or buffer, instance found

      File "/media/Windows/Mozilla/servo/python/servo/build_commands.py", line 203, in build
        self.ensure_bootstrapped(target=target)
      File "./python/servo/command_base.py", line 499, in ensure_

[2016-08-08 13:21] highfive commented on #12766
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-08 13:21] highfive commented on #12766
cc @wafflespeanut

[2016-08-08 13:21] highfive commented on #12766
cc @wafflespeanut

[2016-08-08 13:58] samuknet opened #12767 "'dblclick' event and ondblclick attribute"
Are these currently implemented in Servo?

For example:
[code]

[2016-08-08 14:31] jdm commented on #12767
Not yet.

[2016-08-08 14:34] larsbergstrom opened #12769 "Change usage of ffmpeg?"
We're having trouble on all of our Nightly builds (linux, mac, and Windows) with the distribution or installation of dependencies required by ffmpeg on those platforms. Should we:

1) Feature flag off the ffmpeg support until we can figure out what we're supposed to do here?

2) List all the things we need to do to package/distribute bits and get this fixed ASAP?

@metajack mentioned that Gecko do

[2016-08-08 14:34] highfive commented on #12769
cc @aneeshusa

[2016-08-08 14:37] nox commented on #12540
Can any `FontCacheThread` structure be used after constellation shut down the thread?

I suspect the culprits for this ticket and #12288 are these two lines:

[code]

[code]

We can just return `None` for the first one if the channel is dead, but the second one from `last_resort_font_template` really want to receive a value even if the thread is dead.

[2016-08-08 14:38] #10881 closed

[2016-08-08 14:39] larsbergstrom commented on #12769
One idea that came up in IRC is, for linux, to instead distribute in a few distro-friendly formats (e.g., .deb & .rpm) and request that others build from source, in order to clearly express the package dependencies.

[2016-08-08 14:47] jdm commented on #12767
We'll want to do the following:
* store the timestamp and position of the last click event in Document
* when dispatching `click` in `Document::handle_mouse_event`, if the time since the last click is less than a certain threshold, and the distance between the clicks is less than a certain threshold, dispatch a `dblclick` event afterwards and reset the timestamp to zero
* otherwise, reset the time

[2016-08-08 14:49] metajack commented on #12769
We need runtime dylib loading to enable sensible fallback strategies, or else we need to build a distributable ffmpeg ourselves and bundle the output with servo (this will lose us H.264 and MP3 support if we have this now).

I don't think building deb and rpm packages is viable without massively expanding our nightly builders. We'd need one for each distro we want to include, otherwise we'll have

[2016-08-08 14:57] GuillaumeGomez commented on #12769
I also think we should put it behind a feature if it's so much trouble.

[2016-08-08 14:58] samuknet commented on #12767
Thanks @jdm. Do you reckon I could have a go at this?

[2016-08-08 15:04] nox commented on #12284
#12277 fixed this.

[2016-08-08 15:04] #12284 closed

[2016-08-08 15:05] nox commented on #11725
No more occurrence, that was probably a one time thing.

[2016-08-08 15:05] #11725 closed

[2016-08-08 15:09] jdm commented on #12767
@samuknet Yeah, I think this would be a good place to start!

[2016-08-08 15:23] larsbergstrom opened #12771 "Locking down the master branch"
We already have disabled force-push to master and prevent it from being deleted in servo/servo.

I'd like to propose:

1) No "require status checks before merging", since the CI handles that. Same as today.

2) DO add "restrict who can push" and make it exclusively bors-servo. Different from today.

I am assuming that by adding the restriction to push, it will also disable the Big Green Button for

[2016-08-08 15:23] highfive commented on #12771
cc @aneeshusa

[2016-08-08 15:30] larsbergstrom commented on #12771
Oh, one icky bit is that you can't remove the "organization and repository administrators." So it'd be @bors-servo + servo/Administrators. Currently, that's only six of us, which is much better, but still not as small as would be ideal.

[2016-08-08 15:34] metajack commented on #12771
That seems to drastically reduce the surface area, even if we can't disable administrators. +1 from me.

[2016-08-08 15:56] alexcrichton commented on #12771
@larsbergstrom thanks for the heads up! This is actually exactly what we have on rust-lang/rust right now, and we're also sad that we can't turn off our own push access :)

[2016-08-08 16:14] KiChjang commented on #12771
I would not want @bors-servo to be the only account with push access because occasionally we may need the larsbors.

[2016-08-08 16:17] larsbergstrom commented on #12771
@KiChjang fortunately, I have the @bors-servo password and can pretend to be a robot with the best of 'em :-)

[2016-08-08 16:45] larsbergstrom commented on #12769
@glennw says:
[code]

[2016-08-08 17:22] creativcoder opened #12773 "Provide a Sender for ServiceWorker object to communicate to its ServiceWorkerGlobalScope"
Note: This is assigned to myself.

In order to implement the postMessage api for the `ServiceWorker` object, we need to have a Sender to its corresponding `ServiceWorkerGlobalScope`. From the current implementation of SW api's, we do not have a way to store a `Sender<ServiceWorkerScriptMsg>`, in `ServiceWorker` object as the creation of object and its global scope is decoupled with the global scop

[2016-08-08 17:30] jdm commented on #12773
It could be an IpcSender to the ServiceWorkerManager which could route the messages, I suppose.

[2016-08-08 17:51] bzbarsky opened #12774 "No sane way to pull source now and build offline later"
STEPS TO REPRODUCE:

1. git pull servo
2. Go offline
3. Try to compile.

EXPECTED RESULTS: Things compile.

ACTUAL RESULTS: The build process starts downloading things like updated compilers and various cargo stuff, and hence fails.

It's pretty common for me to have bandwidth but not CPU cycles at one point in time and CPU cycles but not bandwidth later.  So I could really use a mach command that

[2016-08-08 18:00] larsbergstrom opened #12775 "Create a `mach update` command to update everything needed to build"
Name open to bikeshed (`offline`?).

The idea is that this would:
 - (Optionally?) Do a git pull to update the branch
 - `./mach bootstrap-rust`
 - `./mach bootstrap-cargo`
 - For EACH of the Cargo.lock directories, `./mach cargo fetch`

I *think* that's everything we would need to have a good offline experience. This should just be a new `mach` command and some reuse of calls that exist in other

[2016-08-08 18:00] highfive commented on #12775
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-08 18:00] highfive commented on #12775
cc @aneeshusa

[2016-08-08 18:00] highfive commented on #12775
cc @wafflespeanut

[2016-08-08 18:10] jdm commented on #12774
Seems like #12775 would address this.

[2016-08-08 18:45] KiChjang opened #12776 "Implement contenteditable content attribute"
Spec: https://html.spec.whatwg.org/multipage/interaction.html#elementcontenteditable
Code: `components/script/dom/htmlelement.rs`, `components/script/dom/webidls/ElementContentEditable.webidl`
Tests: `tests/wpt/web-platform-tests/html/editing/editing-0/contenteditable/`

[2016-08-08 18:45] highfive commented on #12776
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-08 18:48] jdm commented on #12776
This is another of those cases where we should not support the attribute without supporting the actual functionality, sorry.

[2016-08-08 19:02] emilio commented on #12763
On it.

[2016-08-08 20:17] edunham commented on #12739
Proposed solution:

When an invalid signature is received, query Travis for the latest auto build status. If build title matches, assume status is accurate and act accordingly.

[2016-08-08 20:41] larsbergstrom commented on #12771
@edunham pointed out that we should probably do this for all the repos in homu's cfg.toml that we run the autolander on.

[2016-08-08 21:21] Flat opened #12778 "assertion failed: unshare(CLONE_NEWUSER | CLONE_NEWPID) == 0"
When running servo with --browserhtml built from git the following error is given  and servo never loads
[code]

[2016-08-08 21:24] jdm commented on #12778
@metajack @pcwalton This is a result of enabling multiprocess and sandboxing by default.

[2016-08-09 00:33] larsbergstrom commented on #12771
OK, after chatting with @edunham I've rolled this out for servo/servo. We can follow up on the other repositories.

[2016-08-09 03:06] Croydon commented on #12523
This is done.

[2016-08-09 03:12] Wafflespeanut commented on #12771
That big green button was truly itching (and scary!) :smile:

[2016-08-09 08:25] nox commented on #12767
Shouldn't the system tell us about the threshold actually?

[2016-08-09 09:04] nox commented on #11100
@metajack Apparently we use the request ID only to pass it to devtools... Do we really need it be an UUIDv4?

[2016-08-09 09:08] nox commented on #11100
We could also use the impl `Rand` for `Uuid` and somehow share the source of randomness across all HTTP loaders.

[2016-08-09 09:10] nox commented on #9012
@emilio Did you manage to reproduce it?

[2016-08-09 10:42] paulrouget opened #12784 "joint_session should include pending pipelines"
If the user presses the back button too early, before a pending pipeline is added, we end up thawing/freezing the wrong pipelines.

Run with: `./mach run -d -- -z --pref dom.mozbrowser.enabled /tmp/a.html`

[code]

[code]

In the above test case, we have 4 pipelines:
- 0,0 top level document, we don't care
- 1,0 about:blank
- 1,1 http://example.com
- 1,2 http://example.com/test

On `goBack()`, `tr

[2016-08-09 11:28] Wafflespeanut commented on #12762
@nox has lost his patience and is doing this in #12768 :smile:

[2016-08-09 12:40] sole opened #12785 "Almost blank page until reloaded"
Something strange is happening with two demos:
https://mozdevs.github.io/servo-experiments/experiments/test-transformations/
https://mozdevs.github.io/servo-experiments/experiments/duckDuckServo/web/

Launching them with this:

[code]

<img width="1136" alt="screen shot 2016-08-09 at 13 26 55" src="https://cloud.githubusercontent.com/assets/5609/17516530/c192fca0-5e36-11e6-93be-8b3584c2f988.png">

[2016-08-09 12:51] highfive commented on #12775
cc @wafflespeanut

[2016-08-09 12:54] Wafflespeanut commented on #12775
Suggestion:  (**command:** `./mach fetch` since we already have some commands with the `update` prefix, and since our subprocesses have `fetch` in their subcommands)

Regarding sync'ing with the remote repo, maybe we should just `git fetch` from `git@github.com:servo/servo` and try to `git merge` it **if** the current branch is `master` (or it can switch to `master` if the `diff` contains no chang

[2016-08-09 12:54] aneeshusa commented on #12771
It looks like there is an [experimental GitHub API](https://developer.github.com/v3/repos/branches/) we could use to enforce some of these permissions automatically (via Homu? via cron?).

[2016-08-09 12:55] Wafflespeanut commented on #12775
Even though this is E-easy, it's not exactly a "good first bug" - maybe a good second/third bug :)

[2016-08-09 12:59] aneeshusa commented on #12775
+1 for `cargo fetch` or `cargo fetch-deps`. I'd rather not try to do any `git merge`ing, in case you're in the middle of working on something, but rather just fetch rust, cargo, and deps based on your current checkout. Having `./mach` commands change my git repo status is always surprising to me (e.g. #9666).

[2016-08-09 13:04] Wafflespeanut commented on #12775
In case my comment was unclear, we're merging only if `git diff` contains no changes. If the current branch is master, then we'll go ahead and merge it. If it's another branch, we can `checkout` to master and merge it. This happens **only** when there are no changes. If there's a change, we'll quit with the message above. We're not staging/committing anything. So, I don't see how this is going to

[2016-08-09 13:54] jdm commented on #12767
Sure, but that's harder and requires platform-specific code. Definitely followup material.

[2016-08-09 13:55] #12523 closed

[2016-08-09 14:00] jdm commented on #11100
It isn't required to be a UUIDv4, it just needs to be a globally unique value.

[2016-08-09 14:00] ConnorGBrewster commented on #12784
Good catch! I'll look into figuring out how to include pending pipelines in the jsh.

[2016-08-09 15:13] #12762 closed

[2016-08-09 15:13] #12765 closed

[2016-08-09 16:33] Manishearth commented on #12739
A simpler workaround is to switch the travis hooks to status hooks. We need to switch on the status webhook for homu in the settings of all repos, and use a `[repo.FOO.status.travis] context = 'continuous-integration/travis-ci/push'`. This works, and is not affected by the git issue about statuses -- homu listens for all status changes (otherwise homu appveyor builds would be broken too)

In the l

[2016-08-09 17:03] #12699 closed

[2016-08-09 17:07] aneeshusa commented on #12775
I am surprised whenever `mach` does merging, pulling, checkout-ing, any git operations at all. For example, if you are in the middle of a bisect or rebase `git diff` might not show changes but merging into master would not be the right thing to do. Furthermore, I don't see why we would want to checkout master or merge the current branch into master - I see this command as useful to pre-fetch build

[2016-08-09 19:07] larsbergstrom commented on #12739
@Manishearth Will that work? I believe we've been having some issues here because of the way we use Travis (testing on the `auto` branch), as this means that the status reported back to github is not in any way associated with the PR itself. This hasn't been an issue for us with our current model b/c we're just using the status from Travis itself.

I'm not sure if AppVeyor is really working or if

[2016-08-09 19:39] larsbergstrom commented on #12769
@vvuk Noticed that http://mediaarea.net/tr/MediaInfo exists, and might be a good alternative (licensing and build-wise) to ffmpeg.

@rillian Do you have any guidance / ideas here? Or pointers to people we should chat with on working with our video/audio dependencies?

[2016-08-09 19:41] larsbergstrom commented on #12769
Alternatively, if all we need is MP4 support, we could always use the awesome:
https://github.com/mozilla/mp4parse-rust

:-)

[2016-08-09 19:57] ConnorGBrewster commented on #12784
So it looks like the issue is that when navigating, we freeze the current pipeline when creating the new pending pipeline. If you traverse before the pipeline is no longer pending, we freeze the current pipeline again, causing the assertion failure.

[2016-08-09 20:48] emilio opened #12789 "Pseudo-elements incremental restyle is bogus."
We don't compute damage when there are no rules that match the pseudo-element which, for an initial restyle, is fine, but for incremental restyle (e.g. if rules stop matching) is not.

[code]

[2016-08-09 23:03] jdm commented on #11855
I tried to reproduce the problems you were seeing, but came across very different ones. Changing `parent_sender` to `scope.script_chan()` yielded a `ERROR:servo: called `Option::unwrap()` on a `None` value` panic. I wasn't able to find any sites that reproduced the subtraction issue after making that change, including a page I wrote that only contained a worker.

[2016-08-09 23:03] jdm commented on #11855
FWIW, this diff avoids that panic that I mentioned:
[code]

[2016-08-09 23:13] Coder206 commented on #11855
@jdm Thanks!

[2016-08-09 23:18] #12421 closed

[2016-08-09 23:53] Manishearth commented on #12739
Check out the /status route in server.py, the fact that the status isn't related to the PR doesn't matter -- we check the sha.

[2016-08-10 01:54] fabricedesre opened #12791 "browser.html busted"
At least on Linux, we don't display anything but a grey background:
./mach run -r -b
/home/fabrice/dev/servo/target/release/build
ERROR:servo: expected message from layout: RecvError (thread PaintThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }, at ../src/libcore/result.rs:788)
ERROR:servo: expected message from layout: RecvError (thread PaintThread PipelineId {

[2016-08-10 02:15] shinglyu opened #12792 "Create a ./mach test-perf command"
Since the [page load performance test runner](https://github.com/servo/servo/tree/master/etc/ci/performance) is now in tree, we can create a mach command that runs it on the locally built Servo binary.

Some thing so consider:
* The test runner whet through a big rewrite during the review, so expect some corner case to be broken.
* It only makes sense to run performance on release build, so show a

[2016-08-10 02:16] highfive commented on #12792
cc @wafflespeanut

[2016-08-10 02:20] highfive commented on #12792
cc @wafflespeanut

[2016-08-10 03:16] paulrouget commented on #12791
Can you try to run browserhtml without sandboxing and multiprocess?
Either run servo + browserhtml manually, or comment this line:

https://github.com/servo/servo/blob/93004ce57999947f51067d680c6fde056741331a/python/servo/post_build_commands.py#L114

[2016-08-10 03:34] fabricedesre commented on #12791
Good catch. -M works without -S, but not with it.

[2016-08-10 04:17] metajack commented on #11100
I don't understand how changing this helps? Won't we still initialize the thread rng regardless? Or does this only happen on threads which eventually call rand()?

Even if every thread we have opens /dev/random, why would we have so many open at once? Surely there are 256+ threads in Servo?

[2016-08-10 05:25] Wafflespeanut commented on #12775
Fair enough. I'm convinced.

[2016-08-10 05:27] aneeshusa commented on #12435
Not fixed until https://github.com/servo/saltfs/pull/453 lands.

[2016-08-10 05:29] aneeshusa commented on #12435
Also, since this is running nightly, we need to set up notifications on build failure.

[2016-08-10 07:16] Manishearth commented on #12739
(The `/push` context happens for every branch Travis is allowed to test, on every push to the branch. `auto` is one of them.)

[2016-08-10 09:15] nox commented on #11100
@metajack Well apart from `Uuid::new_v4`, is there anything in `http_loader::load` that should initialise the RNG?

[2016-08-10 09:32] shinglyu commented on #12676
The problem is this comment in `block.rs`:

[code]

The hypothetical box has to consider the previous flow's bottom margin if it has no `top`, `bottom`, `left`, `right` property.

[2016-08-10 10:01] nox commented on #11100
@metajack I'm not sure it helps btw, but it should reduce the pressure until we find the actual problem (probably we load too many things concurrently?).

[2016-08-10 10:48] DIGISAGU commented on #12125
I am getting the same as Elahn in Windows 10 PRO Anniversary Edition (1607) 64x
on real hardware

[2016-08-10 11:40] shinglyu commented on #12676
I think I fixed it. My patch fixed 99 reftests but made one fail: `/css21_dev/html4/left-offset-position-fixed-001.htm`.

I found out that the test was a false positive, both the test and reference are rendered incorrectly, so the test passes, not the reference are fixed by the patch, but the test file failed for other reason. I'll check weather the bug is related, otherwise I should land my patch

[2016-08-10 12:40] jdm commented on #12791
@metajack @pcwalton Another instance of the sandboxing change causing bustage.

[2016-08-10 12:51] nox commented on #7791
This one is still quite broken but I can't reproduce what @mbrubeck said, nor I can ever get a successful PASS.

[2016-08-10 13:00] nox commented on #8311
@jdm If you are correct that it is related to #7787, maybe we should enable this one again, given that other ticket got fixed for unknown reasons?

[2016-08-10 13:06] jdm opened #12797 "Intermittent timeout in /html/browsers/browsing-the-web/navigating-across-documents/014.html and /html/browsers/browsing-the-web/navigating-across-documents/013.html and /html/browsers/browsing-the-web/navigating-across-documents/015.html"
This looks like an issue caused by interleaving output?

[code]

[2016-08-10 13:18] techtonik commented on #12125
After compilation with AppVeyour - https://ci.appveyor.com/project/servo/servo/build/1.0.7057, where to find compiled binaries - `C:/projects/servo/target\\debug` ?

[2016-08-10 13:20] techtonik opened #12798 "Make build artifacts available on AppVeyor"
It is possible to provide [AppVeyor-compiled](https://github.com/servo/servo/blob/master/appveyor.yml) binaries as artifacts here - https://ci.appveyor.com/project/servo/servo/build/artifacts

It will make testing #12125 easier.

[2016-08-10 13:21] jdm opened #12799 "Panic when using HTMLLinkElement.relList after setting HTMLLinkElement.rel"
[code]
yields
[code]

[2016-08-10 13:22] jdm commented on #8311
Worth a shot!

[2016-08-10 13:26] jdm commented on #12797
The JS error uses `error!`, which goes through env_logger which uses writeln! on stderr. The ALERT: comes from `console.log`, which uses println! and therefore stdout. I'm not sure if there's a way around this.

[2016-08-10 13:29] Ms2ger commented on #12799
The buggy code is
[code]
in `htmllinkelement.rs`. It should be more like

[code]

[2016-08-10 13:29] highfive commented on #12799
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-10 13:52] pathway27 commented on #12766
I'll have a crack at this.

[2016-08-10 14:08] highfive commented on #12798
cc @aneeshusa

[2016-08-10 14:09] jdm commented on #12766
@pathway27 Great! Please ask questions if anything is unclear.

[2016-08-10 14:47] jdm commented on #12773
To work around the cyclic issues, one option might be to do something like the OpaqueScriptLayoutChannel we used to have: https://github.com/servo/servo/commit/49d244d39cd6facc7b24000d67cda46a13517af5#diff-ac20d4dfaff4522ec78bdd6f12f7445cL233 . There may also be a way to use traits in a similar fashion as the rest of the commit...

[2016-08-10 14:49] jdm commented on #12773
Although `pub struct OpaqueScriptLayoutChannel(pub (Box<Any + Send>, Box<Any + Send>));` will prevent us from sending it over IPC channels, which may prevent us from using it :<

[2016-08-10 14:52] jdm commented on #12773
Another idea: if we have a set of messages that can be sent to the ServiceWorkerGlobalScope from the ServiceWorker by routing them through the Constellation, what if those messages are defined in `script_traits` instead of trying to reuse `ServiceWorkerScriptMsg`?

[2016-08-10 14:54] jdm commented on #11574
Seen in #12669.

[2016-08-10 15:21] larsbergstrom commented on #12739
I think we should go ahead and try this - it will be a little while for Travis to get a "real" fix for this `Authorization` header problem.

[2016-08-10 15:27] nox commented on #11574
@jdm Did you check the reftest again in the end?

[2016-08-10 15:35] metajack commented on #12791
Are all examples on Linux?

[2016-08-10 15:48] jdm commented on #12791
So far yes.

[2016-08-10 15:48] #8311 closed

[2016-08-10 15:49] jdm commented on #11574
I did; it looked the same.

[2016-08-10 16:37] larsbergstrom opened #12802 "Doges disappear unless they are large and perfectly upright"
When I run the dogemania demo from Sam and Sole:
`./mach run -r -w https://mozdevs.github.io/servo-experiments/experiments/dogemania/`

The doges rotate in, but disappear in their final position if they are not large and perfectly upright.

Also, the fps counter does not display.

@glennw @pcwalton Would it be possible to try and take a look at what's going on here? Sam is doing his intern demo in

[2016-08-10 18:34] cynicaldevil commented on #12555
I have implemented most of `readAsArrayBuffer` now, [here](https://github.com/cynicaldevil/servo/commit/5b1e1f51c9f65c180c562f3fc748be43727afd20).
I have used the `BlobOrString` enum instead of `DOMString`, and when I try to build it, I get errors stating certain methods were not implemented for `BlobString`. Where and how do I implement them?

[2016-08-10 18:44] izgzhen commented on #12555
First, I just found there is some difference between [current version of `FileReader` IDL spec](https://w3c.github.io/FileAPI/#APIASynch) and the one in the servo source:

[code]

You may want to update this first. Sorry for not reminding you of this possible problem.

[2016-08-10 18:49] izgzhen commented on #12555
And since there is no binding support yet, I am afraid that union type of `ArrayBuffer` and `DOMString` might not work. but anyway you should not use `Blob`, since blob doesn't support this thing now either :(

Well ... I am not very sure about how to handle this condition

[2016-08-10 18:59] jdm commented on #12555
(DOMString or object)?

[2016-08-10 19:07] izgzhen commented on #12555
Really? Oh, maybe because DOMString is a primitive so it can work

[2016-08-10 19:31] #12739 closed

[2016-08-10 19:42] splav commented on #12797
Why just not to redirect stderr and stdout to different files?

[2016-08-10 19:54] jdm commented on #12797
That would make us lose terminal output, right? That's a pretty big deal. I think we could get around this by making console.log also take the stderr lock.

[2016-08-10 20:38] splav commented on #12602
Actually there is another bug in this case for current master with -i switch the text under the image disappears.

[2016-08-10 21:34] notriddle opened #12804 "Track coordinate system in gfx"
In layout, when running in debug mode, every LogicalRect/Point/etc has a member variable for its direction, whether it's horizontal/vertical RTL/LTR. Could we do the same thing in gfx for all the points? #12777 shows why we might want to do that.

[2016-08-10 21:50] jonathandturner opened #12805 "Paste not working"
In the latest nightly on OS X, copy the url "https://mozdevs.github.io/servo-experiments/experiments/dogemania/" from another browser, and paste it into the url bar in servo.

Behavior:

Nothing happens.

Expected:

The url pastes correctly.

[2016-08-10 21:52] larsbergstrom commented on #12805
Yeah, unfortunately I had to remove our clipboard support in https://github.com/servo/servo/pull/12507, as it's GPL, which is a big no-no for Servo.

[2016-08-10 21:57] jdm opened #12806 "Update ipc-channel to 0.5"
@jrmuizel asked we if could apply the upgrade to this repository and others like webrender. We appear to be using a mixture of crates.io versions and specific git revisions. Would @nox like to deal with this?

[2016-08-10 22:14] ConnorGBrewster opened #12807 "Running browser.html with -M causes cross origin loads to fail"
Steps:
 1. Run browser.html with -M (currently default)
 2. Open a tab.
 3. Close that tab.
 4. Open a cross origin tab.
 5. The page will not load

Assertion failure:
[code]

[2016-08-10 22:24] glennw commented on #12802
@larsbergstrom Yep, I'll take a look this week. Would this or https://github.com/servo/servo/issues/12286 be a higher priority? (It may well be that they have the same root cause anyway).

[2016-08-10 22:31] KiChjang commented on #12805
Should we keep this issue open? I don't suppose there are other clipboard crates that we can use, but we could develop these on our own.

[2016-08-10 22:35] emilio commented on #12804
Sounds good to me.

[2016-08-10 22:44] jdm opened #12808 "Include stdout/stderr output in default filtered view from failed WPT tests"
This would fix the common case of people adding `println!()` and getting confused when they don't see any change in the output. Usually we need to add `--log-mach -` to see the result, but you always need someone more experienced to tell you that if you're new.

[2016-08-10 22:49] ConnorGBrewster commented on #12807
@Gozala has determined that this is an issue with iframe visibility.

[2016-08-10 22:53] Gozala commented on #12807
Ok here is the as reduced test case as I was able to produce:

[code]
Without `-M` issue does not occur, without use of `visibility: hidden` in here issue does not occur either https://jsbin.com/dehoji/edit?html,css,js,output

[2016-08-10 23:14] Gozala commented on #12807
Also worth pointing out that servo nightly is one commit behind the browser.html head, once it's up to date this will prompt a crash reporter.

[2016-08-11 00:33] jdm opened #12811 "_generate_reflector plugin doesn't handle type parameters"
Trying to use `#[dom_struct]` with a structure with a type parameter led me to uncover https://github.com/rust-lang/rust/issues/35582 .

[2016-08-11 00:44] nox commented on #12806
We use ipc-channel 0.4 for now because ipc-channel includes the serde bump to 0.8. Which repositories use Git revisions for ipc-channel? That was a very short-lived thing that @Ms2ger cleaned the next day it was committed.

[2016-08-11 00:46] nox commented on #12806
@jdm To bump to serde 0.8, we need a hyper bump, but @seanmonstar wants to wait a bit for the async design to be reworked before he releases hyper 0.10 (which includes the serde bump). I guess I could maintain a fork of it for now but that means rewriting our own code relying on hyper with the async API that is soon to disappear.

[2016-08-11 01:02] #12763 closed

[2016-08-11 01:04] seanmonstar commented on #12806
Regarding hyper, I'd rather split the serde impls into a separate crate, so that breaking changes in serde doesn't mean breaking change in hyper.

[2016-08-11 01:05] nox commented on #12806
I wonder if serde could have a mechanism to delegate operations to some kind of transient wrapper specified through a new attribute on specific fields. Cc @erickt.

[2016-08-11 01:08] erickt commented on #12806
@nox: Perhaps `#[serde(serialize_with=..., deserialize_with=...)]` will do what you want? See https://github.com/serde-rs/serde/blob/9d015a29420687a744e6fa1c5150ec218c16cf78/testing/tests/test_annotations.rs#L659 for an example.

[2016-08-11 01:10] nox commented on #12806
Sounds good. Will try to make a serde_hyper crate tomorrow that provides such functions and documentation for users who wish to serialise Hyper types. Does that sound good with you @seanmonstar?

[2016-08-11 02:02] #12626 closed

[2016-08-11 02:07] paulrouget commented on #12807
@Gozala #12812

[2016-08-11 02:13] seanmonstar commented on #12806
That seems excellent!

On Wed, Aug 10, 2016, 6:10 PM Anthony Ramine <notifications@github.com>
wrote:

[2016-08-11 02:30] Manishearth commented on #12739
Is it working now?

A nice thing with this mode is that we can turn on test exemption if some repos want it (lets wait for the dust to settle first)

[2016-08-11 04:19] emilio opened #12814 "Calc with viewport units seems to be broken."
Found in #12813.

[code]

Expected: All screen red except the ten rows of pixels of the bottom.
Actual result: All white.

[2016-08-11 04:20] emilio commented on #12814
Putting the tag on CSS because it's likely to be it, I have no time right now to dig more, but I doubt a lot it's layout related.

[2016-08-11 04:48] pathway27 commented on #12766
@Wafflespeanut Could you tell me what you ran so i can reproduce the error?

[2016-08-11 05:07] Wafflespeanut commented on #12766
I ran `./mach build` as usual. Since we'd done a rustup, `mach` downloaded `rustc` as usual, when that thing occurred. In your case, you can run `./mach bootstrap-rust -f`, which should force download `rustc` again. That will help you concentrate on the `download` function. You can fiddle around that to reproduce that error.

But, like I said, I don't really know how that occurred all of a sudden

[2016-08-11 05:09] jdm commented on #12814
I wonder if this is caused by treating the viewport as the size of the body content?

[2016-08-11 05:27] jdm commented on #12628
I've got a branch at https://github.com/jdm/servo/tree/iterable that supports value and pair iterables. I'll clean it up and submit it for review tomorrow.

[2016-08-11 06:05] emilio commented on #12814
Hmm... So `div { height: 100vh; }` does paint everything red, yet `div { height: calc(100vh); }` doesn't. And it's even more funny, and probably related to what @jdm is proposing, that any of the calc examples work iff you give the `body` element an explicit height, even if it's a `1px` one.

[2016-08-11 09:36] #12367 closed

[2016-08-11 10:03] techtonik commented on #12798
If you tell me what command needs to be executed for packaging, or which files should be zipped, I can create a patch for `appveyor.yml`

[2016-08-11 10:34] #12737 closed

[2016-08-11 15:29] nox commented on #12806
For the record: https://github.com/nox/hyper_serde

[2016-08-11 16:15] Manishearth opened #12818 "Intermittent timeout in /css21_dev/html4/vertical-align-applies-to-001.htm"

[2016-08-11 17:16] jdm commented on #8769
Seen in #12795.

[2016-08-11 17:29] ConnorGBrewster commented on #12784
@paulrouget this ends up being fixed by #12784 if that lands. The backwards traversal will traverse to `http://example.com` leaving `http://example.com/test` in the session future.

[2016-08-11 19:43] prasanthp96 opened #12820 "cannot run servo"
I have downloaded and extracted the servo file from website and when i run the runscript.sh file, there is an error message `./servo: error while loading shared libraries: libavformat.so.54: cannot open shared object file: No such file or directory
`
operating system - Ubuntu 16.04 x64 GNOME
Need help.
![screenshot from 2016-08-12 01-12-30](https://cloud.githubusercontent.com/assets/11797131/17602

[2016-08-11 19:52] sciencefyll commented on #12820
Just downloaded the latest-build.tar.gz from the servo.org site, and I have the exact same issue using Arch linux.

[2016-08-11 20:02] jdm commented on #12820
This is tracked in #12687. Thanks for reporting it!

[2016-08-11 20:02] #12820 closed

[2016-08-11 20:47] tdaede commented on #12769
On my machine, the build system finds static ffmpeg libraries and tries to link to them (which fails):

    /usr/bin/ld.gold: error: /usr/local/lib/libswresample.a(resample.o): requires dynamic R_X86_64_32 reloc which may overflow at runtime; recompile with -fPIC

Servo really should not be statically linking ffmpeg.

[2016-08-11 20:48] larsbergstrom commented on #12769
@tdaede Yes, that will need to be fixed ASAP.

Thanks for pointing that out!

[2016-08-11 20:56] UK992 commented on #12775
I would like to work on that

[2016-08-11 21:00] larsbergstrom commented on #12775
@UK992 It's all yours! Thanks for working on this and all your other work that you've been doing for Servo lately :-)

[2016-08-11 21:06] UK992 commented on #12775
I'm glad i can help :)
one question, where put update command, in bootstrap or devenv?

[2016-08-11 21:44] jdm commented on #12775
I think devenv is appropriate.

[2016-08-11 22:59] glennw commented on #12802
The <h1> text is not displaying due to a layout bug - the local clip rect has a height of 0. It might be possible to work around this by enclosing the text in a positioned div, and placing the transform on that, or something similar.

[2016-08-12 01:32] paulrouget commented on #12784
Sounds good to me. Thanks.

[2016-08-12 01:59] aneeshusa commented on #12739
Seems to be working, and homu is already using test exemption (which is a really nice feature I din't know about!).

[2016-08-12 02:22] shinglyu commented on #12675
@glennw Do you have any opinion on this? I heard that you are the last one who worked on this recently.

[2016-08-12 07:18] Wafflespeanut opened #12823 "Support 'letter spacing' property in gecko-lib"
#12795 adds the glue for word spacing property. Now, we need a similar one for letter spacing, which is nothing but a length (as opposed to `LengthOrPercentage`).

Things to be done:
 - Add `'letter spacing'` to the `skip_longhands` parameter so that we don't ignore the implementation
 - Add a new method `set_letter_spacing` just above `set_word_spacing` (it should `set_value` if there's `Some(val

[2016-08-12 07:18] highfive commented on #12823
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-12 07:22] Wafflespeanut commented on #12823
Never mind, this requires testing against stylo, and so it won't be good for newcomers.

[2016-08-12 08:58] shinglyu opened #12824 "A collapse thorugh block flow should have the collapsed margin on its top edge"
When a block flow is collapse through (i.e. no content, padding, border so top and bottom margin collapsed), its collapsed margin should appear at the top (block start) edge. But currently servo shows it in the bottom edge. This can be visualized by adding a `position:absolute` color box in the flow.

[2016-08-12 08:59] shinglyu commented on #12676
The regressed test case was caused by #12824 , which is not really related to this, so I'll merge this first.

[2016-08-12 09:03] shinglyu commented on #12824
I have a quick fix to this, but it regressed `tests/wpt/css-tests/css21_dev/html4/margin-collapse-027.htm`, still checking why.

[2016-08-12 10:01] shinglyu commented on #12824
The regression looks like some float & clearance magic. I need to do more debugging next Monday.

[2016-08-12 10:32] Ms2ger opened #12825 "Homu doesn't kick off tests anymore and does not merge anything"
CC @aneeshusa @Manishearth @larsbergstrom @metajack @edunham

Both in Servo and travis-backed repos:
* https://github.com/servo/euclid/pull/156
* https://github.com/servo/servo/pull/12822

[2016-08-12 13:22] jdm commented on #12825
If the last Travis run was against the same revision as the requested merge, home has a shortcut mode that doesn't bother redoing the build. This is a good thing.

[2016-08-12 13:24] Manishearth commented on #12825
That's not what's happening here -- in that case it explicitly says "test exempted" and merges

[2016-08-12 14:08] samuknet opened #12827 "Scrolling down page with IFrame 'scrolls' the IFrame contents"
When there is an IFrame on a page with a scroll, the IFrame contents remain on the page and scroll when the page is scrolled:

![iframescroll](https://cloud.githubusercontent.com/assets/9294710/17624722/c46cdc8e-609d-11e6-9134-d8e347a65144.gif)
Online test case [here](https://samuknet.github.io/test_cases/iframeOnScrollingPage/index.html).

This bug is blocking us on our ['doge times reading view'

[2016-08-12 14:12] jdm commented on #12827
This doesn't reproduce if webrender is not enabled.

cc @pcwalton

[2016-08-12 14:51] cynicaldevil commented on #12799
@Ms2ger What about this method [here](http://doc.servo.org////script/dom/bindings/codegen/Bindings/HTMLLinkElementBinding/trait.HTMLLinkElementMethods.html#tymethod.SetRel)?

[2016-08-12 15:42] KiChjang commented on #12799
@cynicaldevil The make_setter macro expands and defines the SetRel function that you linked.

[2016-08-12 16:18] larsbergstrom commented on #12825
Fixed! The problem is that the `homu` directory had permissions `root:root` but the service is supposed to run as the `servo` user. I cleaned things up manually, and @aneeshusa is going to work on a PR to ensure our salt rules set up things perfectly from a clean directory.

[2016-08-12 16:18] #12825 closed

[2016-08-12 16:47] metajack opened #12829 "replace RUSTFLAGS and editbin.exe with some python code"
Until https://github.com/rust-lang/cargo/issues/2986 is addressed, we need to handle the windows subsystem ourselves. This is currently done with RUSTFLAGS manipulation. https://github.com/servo/servo/pull/11756 uses editbin.exe for MSVC bulids.

We should do this with Python in such a way that it works for both kinds of builds. Perl code that does this can be found here: https://searchcode.com/co

[2016-08-12 16:47] metajack commented on #12829
cc @vvuk @larsbergstrom

[2016-08-12 16:48] metajack commented on #12829
@vvuk found an existing bit of python that does this:
http://stackoverflow.com/questions/2435816/how-do-i-poke-the-flag-in-a-win32-pe-that-controls-console-window-display/14806704#14806704

[2016-08-12 17:14] cynicaldevil commented on #12799
@KiChjang yeah I thought about that after I wrote that comment....anyway, how am I supposed to do this? I looked up `SetClassName` and found that it belonged to the `ElementMethods` trait, which currently is not being implemented by `htmlLinkElement`.

[2016-08-12 17:15] cynicaldevil commented on #12555
So which type should I use then?

[2016-08-12 17:57] jdm commented on #12555
Does `(DOMString or object)?` work? If not, you'll need to just use `any` instead of a union.

[2016-08-12 17:58] jdm commented on #12799
@cynicaldevil HTMLLinkElement "inherits" from Element, so you can call `some_link_element.upcast::<Element>()` and then invoke methods from `ElementMethods`.

[2016-08-12 17:58] jdm commented on #12799
See http://doc.servo.org/script/dom/index.html#inheritance for a better explanation.

[2016-08-12 20:13] KiChjang commented on #12799
@cynicaldevil I'm going to assume that you're currently working on this.

[2016-08-12 20:32] KiChjang commented on #12555
I'm more inclined to comment out the `ArrayBuffer` part here and file a follow-up issue to fix it once we have bindings support for it.

[2016-08-12 20:36] #12659 closed

[2016-08-12 20:56] ConnorGBrewster opened #12833 "Hit test regression on browser.html newtab page"
Found on latest nightly (8/11/16)
Steps to reproduce:
1. Open browser.html
2. Try to click on the Hacker News tile
3. It takes you to the Moire Demo

If you move the mouse around, you can see that the hit test is off.

[2016-08-12 20:59] jdm commented on #12833
I suspect https://github.com/servo/servo/pull/12777 or https://github.com/servo/servo/pull/12813 could be the culprit.

[2016-08-12 21:02] jdm commented on #12555
@KiChjang The point of this issue is to support ArrayBuffer results from FileReader...

[2016-08-12 21:15] Gozala opened #12835 "Servo does no reflect window resize on vw & vh"
Latest nightly no longer reflects window size changes onto `vw` and `vh`, here is a simple expample

https://Gozala.jsbin.com/kudihem

To reproduce resize a window. Green square should resize with it, but it is not.

and it's source: https://jsbin.com/kudihem/edit?html,css,output

[2016-08-12 21:16] jdm commented on #12835
Do you know when this regressed?

[2016-08-12 21:17] Gozala commented on #12835
@jdm no just noticed it today, but it could have being earlier.

[2016-08-12 21:18] jdm commented on #12835
@Gozala What is the testcase supposed to do that doesn't work in Servo?

[2016-08-12 21:18] ConnorGBrewster commented on #12550
Dupe of #12835 (it has better info)

[2016-08-12 21:18] #12550 closed

[2016-08-12 21:19] ConnorGBrewster commented on #12835
@jdm It regressed ~3 weeks ago

[2016-08-12 21:20] Gozala commented on #12835
Updated issue description to answer this.

[2016-08-12 21:20] jdm commented on #12835
I wonder if https://github.com/servo/servo/pull/11890 is the cause, given the timeframe.

[2016-08-12 21:21] cynicaldevil commented on #12799
@KiChjang yes, that's right.
@jdm Thanks, I will look into it.

[2016-08-12 21:24] jdm opened #12836 "Nonincremental layout makes a div disappear"
Run `./mach run https://gozala.jsbin.com/kudihem -i` and there's a brief flash of green, then there's only white after that.

[2016-08-12 21:37] emilio commented on #12833
Looking

[2016-08-12 21:40] emilio commented on #12835
Also looking, though I can't find an easy way to make an automated test for this unfortunately, probably inside an iframe?

[2016-08-12 21:44] jdm commented on #12835
Viewport tests can often use iframes, yes.

[2016-08-12 21:47] KiChjang commented on #12555
@jdm We can support DOMString results first before we support ArrayBuffer results, yes?

[2016-08-12 21:52] larsbergstrom commented on #9168
See comments in https://github.com/servo/servo/pull/10665#issuecomment-239568646

[2016-08-12 21:52] #9168 closed

[2016-08-12 22:43] vhaarr opened #12837 "error: can't find crate for `rustc_llvm` which `rustc` depends on"
This is the first time I've tried to build servo.
I have a completely clean system.
I repeated ./mach build -release 20 times because it seems to start compiling random modules each time, but the last few times it stops on these 3 almost immediately.

[code]

Latest git checkout as of 5 minutes ago.

[code]

[2016-08-12 22:46] jdm commented on #12837
What if you run `./mach bootstrap-rust --force`?

[2016-08-12 22:47] jdm commented on #12555
We already do.

[2016-08-12 23:07] KiChjang commented on #12624
@Coder206 What's the status of this?

[2016-08-12 23:10] #12775 closed

[2016-08-12 23:12] aneeshusa commented on #12774
Fixed in #12821 with the new `./mach fetch` command.

[2016-08-12 23:12] #12774 closed

[2016-08-12 23:13] KiChjang commented on #12352
Unassigning @tallowen since we haven't heard back in 3 weeks.

@clstl Have you finished working on this? If so, it's good for a PR now.

[2016-08-12 23:45] vhaarr commented on #12837
Wow, excellent response time jdm :-) I started the build immediately after your comment and it's still going, so that's a good sign!

I remember trying ./mach --help and looking at the CONTRIBUTING and HACKING documents and I saw no mention of bootstrap-rust --force. Thank you.

[2016-08-13 00:20] vhaarr commented on #12837
Yes, build completed successfully. Thank you!
Now, when I launch with ./mach run, it shows some text for a split second then becomes entirely white. When I hover the cursor over the text, it turns into the I-character cursor, so the text is just invisible.
Should I file a new issue on this, or is it a known problem?

Also, when I run ./mach run -r --browserhtml it crashes with several exceptions d

[2016-08-13 00:26] jdm commented on #12837
Those are not known bugs, so they're worth filing separately. Thanks!

[2016-08-13 01:03] vvuk commented on #12829
This actually isn't that easy -- setting the flag is, but we can easily do that only for servo.exe.

For tests, cargo builds a whole pile of test .exe's, and we don't really know all the binary names in mach.  So we can't flip the bit.  Tests shouldn't have custom build.rs (do they?) so maybe RUSTFLAGS will work in that case?

[2016-08-13 05:18] emilio opened #12840 "Assertion failed (unshare) when starting with multiprocess and sandboxing."
[code]

[2016-08-13 05:19] emilio commented on #12840
It's consistent for me (always hitting), and might affect browserhtml. Discovered while trying to investigate #12833.

[2016-08-13 05:22] emilio commented on #12833
I bet I know what's happening, building release now to confirm because bhtml on debug mode hangs on my machine (plus #12840, that didn't help, but I just disabled that in the meantime).

[2016-08-13 05:51] #11895 closed

[2016-08-13 06:59] emilio opened #12842 "Incorrect clipping of nested stacking contexts."
Found while writing a test for #12841.

Should render the two equal-sized rectangles, but actually the inner one is clipped incorrectly:

[code]

[2016-08-13 07:09] emilio commented on #12842
Seems independent on whether WR is enabled or not, but the display list contains the inner item correctly.

[2016-08-13 07:33] rlhunt commented on #12840
I'm getting this too, disabling multiprocess worked for me.

[2016-08-13 09:15] stshine commented on #12453
Since #12330 is merged, here is some significant missing features I've collected. Still a lot is left.

- multi-line column flexbox and `align-self: stretch`.

This is the most troublesome one.  Implementing this require functionalities of: 1. explicitly reflow a flex item before other flows, 2. make a flex item of auto size behave like it has definite size. I will discuss this in a new issue.

-

[2016-08-13 09:48] emilio commented on #12842
After investigation, it seems that stacking contexts don't take into account children transforms when computing overflow, which is wrong. I have a WIP patch for simple fixes, but I need to take into account more complex transformations other than translation and scaling.

[2016-08-13 10:42] glennw commented on #12842
@emilio When this is fixed, we can close https://github.com/servo/servo/issues/9578

[2016-08-13 12:51] nox opened #12845 "Fix step 31 of the Request constructor"
[Step 31](https://fetch.spec.whatwg.org/#dom-request) says:

But the code just does:

[code]

The compiler even rightly complains:

[code]

The code for step 31 should be wrapped in `try!()`.

[2016-08-13 12:51] highfive commented on #12845
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-13 12:51] nox commented on #12845
Cc @jeenalee.

[2016-08-13 12:52] clstl commented on #12352
@KiChjang on it!

[2016-08-13 13:11] Coder206 commented on #12624
@KiChjang I am currently trying to interpret the errors I see into code. I am learning how to remove the private type in a public interface.

[2016-08-13 17:34] Coder206 commented on #11855
@jdm I am only getting the overflow error "ERROR:servo: attempted to subtract with overflow" when running `./mach run -d page.html -m 3`, when running `./mach run -r page.html -m 3`, the memory reports are visible...

[2016-08-13 19:36] jeenalee commented on #12845
I'd like to work on this. Thank you for filing this issue!

[2016-08-13 19:38] nox commented on #12845
Sure. :)

[2016-08-13 20:56] anholt opened #12852 "webgl: Add getParameter(GL_FRAMEBUFFER_BINDING) support"
I've been working on adding support for this getter.  Lack of support for it is currently producing a bunch of `INVALID_ENUM` in unrelated webgl tests due to its use in some shared utility code in the tests.  I'm very new to Rust programming, so it's going slowly.

Current code is at:

- https://github.com/anholt/servo/tree/webgl-framebuffer-binding
- https://github.com/anholt/webrender_traits/tre

[2016-08-13 20:57] anholt commented on #10397
I've been working on #12852

[2016-08-13 21:13] emilio commented on #12852
Servo has a locked dependencies, so it won't break the build.

Wrapping in a `DOMRefCell` and calling `borrow_mut()` is the usual way of doing that.

Yeah, that's true... `DeleteFramebuffer` would need to have some kind of manual refcounting, or something, and that seems like too much churn for this.

Actually, that sounds a lot more easy, and reasonable :-)

[2016-08-13 21:14] pygy opened #12853 "Id attributes should become global JS variables"
I suppose the problem is well known, but I couldn't find an issue about it. Each `id` attribute defined on an element should create a JS global pointing to the element:

[code]

[Live here](https://cdn.rawgit.com/pygy/servo-rendering-bugs/db4ef5bb3b8e7c37d7d2e79b113f6f62dbb0e488/id-attr-js-global.html)

[2016-08-13 21:18] nox commented on #12853
Closing as duplicate of https://github.com/servo/servo/issues/8984, but thanks for filing the issue anyway!

[2016-08-13 21:18] #12853 closed

[2016-08-13 21:26] pygy commented on #12853
Great, I couldn't find it (lack of specialized vocabulary).

Good to know it is indeed on the radar.

[2016-08-13 22:15] #12845 closed

[2016-08-13 22:27] notriddle commented on #12771
That API doesn't let you do anything you can't do from the UI anyway.

[2016-08-13 22:37] cristisilaghi commented on #12125
I've tested Servo today and we need more than 4-5 dlls. These are the missing files necessary for Servo to run:
**libbluray-1.dll
libcelt0-2.dll
libffi-6.dll
libgmp-10.dll
libgnutls-30.dll
libgsm.dll
libhogweed-4-2.dll
libidn-11.dll
liblzma-5.dll
libmodplug-1.dll
libmp3lame-0.dll
libnettle-6-2.dll
libogg-0.dll
libopencore-amrnb-0.dll
libopencore-amrwb-0.dll
libopenjp2-7.dll
libopus-0.dll
liborc-0.

[2016-08-13 22:50] aneeshusa commented on #12771
@notriddle right, but being able to do it via an API is nice for two reasons:

- we can add it to our [script to setup homu on a repository](https://github.com/servo/saltfs/issues/457) (note, WIP) for new repositories
- we can check the API every so often to ensure compliance for existing repositories

We use tons of repos, so automating settings like these is a time-saver (and also useful for aud

[2016-08-13 23:24] nox opened #12855 "Fix iter_arith warning when running ./mach build-cef"
[code]

Files:
 * ports/cef/lib.rs

[2016-08-13 23:24] highfive commented on #12855
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-13 23:27] nox opened #12856 "Do not define Pipeline::setup_common when on Windows"
[code]

It just needs a `#[cfg(not(windows))]` attribute.

Files:
 * components/constellation/pipeline.rs

[2016-08-13 23:27] highfive commented on #12856
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-14 02:30] Coder206 commented on #12856
@nox I would like to work on this one.

[2016-08-14 02:32] Coder206 commented on #12855
@nox If there is no one else interested in this one, I'd like to fix it.

[2016-08-14 02:45] Coder206 commented on #12764
@wafflespeanut What behaviour should the code follow to handle this exception? Should it keep trying periodically until connection is established?

[2016-08-14 03:28] Wafflespeanut commented on #12764
Since we don't know sure whether the user has a proper internet connection, trying indefinitely is probably a bad idea. We should just catch the socket error and exit (same as how we do for `URLError`).

[2016-08-14 06:30] techtonik commented on #12125
![image](https://cloud.githubusercontent.com/assets/515889/17647638/a40dc3ee-6201-11e6-9af2-b4e03a75db7e.png)

What are the commands to build own .msi?

[2016-08-14 06:59] anholt opened #12859 "webgl: Fix read-pixels-test.html and read-pixels-pack-alignment.html"
Fixes necessary so far;
- Throw InvalidValue on width/height < 0
- Report only RGBA/ubyte as supported readpixels formats
- Check that the type/format is RGBA/ubyte
- Respect PACK_ALIGNMENT on the DOM side (we'll always transport PACK_ALIGNMENT=1 contents over the ipc)
- Trim the request from the DOM side according to the framebuffer size.

Part of #10209

[2016-08-14 08:33] #11818 closed

[2016-08-14 09:48] nox commented on #12855
Sure!

[2016-08-14 11:11] #12852 closed

[2016-08-14 11:38] SaschaNaz commented on #12125
Trying Servo nightly with the DLLs installed only shows blank gray screen. Hmm.

[2016-08-14 13:26] jdm commented on #11855
@Coder206 What are the contents of `page.html`?

[2016-08-14 13:30] Coder206 commented on #11855
@jdm It's a 404.

[2016-08-14 13:43] Coder206 commented on #11855
@jdm I also tried `http://cnet.com` in place of `page.html`

[2016-08-14 13:43] jdm commented on #11855
Odd. I still can't reproduce the problem with an empty HTML file and a missing one.

[2016-08-14 13:44] Coder206 commented on #11855
jdm: What OS are you using to develop?

[2016-08-14 13:45] jdm commented on #11855
I use OS X.

[2016-08-14 13:46] Coder206 commented on #11855
@jdm Thanks. I am using Linux (Fedora).

[2016-08-14 13:47] Coder206 commented on #11855
@jdm I am planning to try on The Janitor and Windows 10 and compare.

[2016-08-14 14:23] Coder206 commented on #12855
@nox Thanks :)

[2016-08-14 17:00] #10716 closed

[2016-08-14 17:31] DIGISAGU commented on #12125
Servo eats all cpu and quater ram. Loading is sow slow

[2016-08-14 17:34] DIGISAGU commented on #12125
It is so slowwww!!!😭😭😭😭😭😭😭
And it is freezing 😭😭😭😭😭😭😭
plz fix it💖❤💖❤💖❤💖❤

[2016-08-14 19:48] JoshTumath commented on #12125
I'm very sorry if I come across as rude for saying this, but please only write comments if they are directly helpful in fixing this issue. Remember that a lot of people are receiving notifications for this Issue, and they receive a lot of email spam whenever someone makes a comment about how the build still isn't working. The team have said this is a high priority, and they're doing what they can

[2016-08-14 20:25] #12624 closed

[2016-08-14 23:18] #12855 closed

[2016-08-15 00:40] est31 commented on #12769
Adding to what @larsbergstrom said, I'm doing a shameless promotion of my library for reading ogg/ogv metadata: https://github.com/est31/ogg-metadata

[2016-08-15 01:04] glennw commented on #12827
I'm working on this now - fixing this properly is a prerequisite for fixing things like https://github.com/servo/servo/issues/12286 without hacks.

[2016-08-15 01:09] anholt opened #12864 "webgl: Intermittent failures in tex-image-and-sub-image-2d-with-canvas tests"
The following tests are intermittently failing in linux-rel:

- tex-image-and-sub-image-2d-with-canvas-rgba4444.html
- tex-image-and-sub-image-2d-with-canvas-rgba5551.html

i've tested with LIBGL_ALWAYS_SOFTWARE=1 locally to get Mesa 11.2.2's llvmpipe, and I haven't reproduced it in ~20 runs.

Log: http://build.servo.org/builders/linux-rel/builds/2627/steps/test_1/logs/stdio/text

[2016-08-15 01:18] SaschaNaz opened #12865 "Hitbox is shifted on Windows"
![servoshift](https://cloud.githubusercontent.com/assets/3396686/17653501/94d71f1c-62d1-11e6-8958-79760fc221c0.gif)

Clicking fires unexpected navigation because of the hitbox shift on Windows 10.

[2016-08-15 01:22] paulrouget commented on #12865
See https://github.com/servo/servo/issues/12833

[2016-08-15 01:22] #12865 closed

[2016-08-15 01:30] est31 commented on #12769
(pure rust, no wrapper to an already existing c/c++ library, and no use of unsafe)

[2016-08-15 01:40] SaschaNaz opened #12866 "Resizing on Windows recalculates but clips page"
![image](https://cloud.githubusercontent.com/assets/3396686/17653666/e0687af0-62d3-11e6-8749-17dbfc709af2.png)

Maximizing the window and waiting reproes this bug on Windows 10.

[2016-08-15 01:50] paulrouget opened #12868 "Enable sandboxing and multiprocess by default"
It was initially enabled https://github.com/servo/servo/commit/663f8530cfc1464e11ece49131949c7e798ef7f2 then reverted https://github.com/servo/servo/pull/12867/commits/c40a658e9c2d23af4ac6ab70eb64b9ebca8eff3d

Depends on:
- [ ] #12791
- [ ] #12807
- [ ] #12869
- [ ] https://github.com/servo/servo/issues/12840

[2016-08-15 01:52] paulrouget commented on #12791
Let's disable sandboxing (https://github.com/servo/servo/pull/12867) and keep this issue open

[2016-08-15 01:52] paulrouget commented on #12807
Let's disable multiprocess (#12867) and keep this issue open

[2016-08-15 01:57] paulrouget opened #12869 "Figure out how to make openURLInDefaultBrowser work when sandboxing is enabled"

[2016-08-15 01:57] shinglyu commented on #12453
@stshine Thank you for sorting that out! It's a really remarkable work!

I'm currently working  on https://github.com/servo/servo/issues/12676, which blocks some of the flexbox reftests, after that lands I'll get back and work on the flexbox.

[2016-08-15 02:14] jdm commented on #12866
This might be the same problem as #12835, but I'm not sure.

[2016-08-15 02:58] notriddle opened #12871 "Account for script-side DOM manipulation when picking between parallel and sequential layout"
Currently, the DOM node count is only updated in the HTML parser, which is only part of the story.

[2016-08-15 03:28] KiChjang opened #12872 "Intermittent timeout in /css21_dev/html4/font-029.htm"
[code]

[2016-08-15 04:27] Wafflespeanut opened #12874 "Intermittent crash in /encoding/textdecoder-labels.html"
This is something new in the `Xlib:  extension "XFree86-VidModeExtension" missing on display ":0"` family. I couldn't find a similar one.

    ▶ CRASH [expected OK] /encoding/textdecoder-labels.html
    │
    │ Xlib:  extension "XFree86-VidModeExtension" missing on display ":0".
    │ Stack trace for thread "ScriptThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }"

[2016-08-15 05:04] jdm commented on #12874
What terrible backtraces those are :(

[2016-08-15 05:14] creativcoder commented on #12773
Using a seperate message in `script_traits` would be an option, but then again we will also need to send `StructuredCloneData`(which resides in `script`) to `ServiceWorkerGlobalScope` for `postMessage` impl. :|

[2016-08-15 05:56] jdm commented on #12773
Sending `StructuredCloneData` wouldn't make much sense; we could send `Vec<u8>` instead by porting https://dxr.mozilla.org/mozilla-central/rev/6e191a55c3d23e83e6a2e72e4e80c1dc21516493/dom/base/StructuredCloneHolder.cpp#357 .

[2016-08-15 06:21] SaschaNaz commented on #10045
CJK also is being displayed as squares on Windows nightly build. Should I open a new issue for Windows build?

![image](https://cloud.githubusercontent.com/assets/3396686/17657132/d4469d42-62fb-11e6-8a3c-f41b1495eb66.png)

[2016-08-15 06:47] anholt commented on #12864
Now failure with `tex-image-and-sub-image-2d-with-canvas.html`: http://build.servo.org/builders/linux-rel/builds/2630/steps/test_1/logs/stdio/text

[2016-08-15 06:52] anholt commented on #12864
As far as frequency: in 5 runs in #12858 we've seen 4444 and 5551 fail twice, and the other one once.

[2016-08-15 09:22] paulrouget commented on #7572
It takes some more time now. And it crashes differently:

[code]

Would https://github.com/servo/servo/pull/11893 help?

[2016-08-15 09:52] GuillaumeGomez commented on #12769
@est31: Nice! Now we just need a MP4 and a MKV parsers. :)

[2016-08-15 13:23] sole opened #12876 "iframes don't resize fast enough"
On this demo: https://mozdevs.github.io/servo-experiments/experiments/bookshelf/

the iframes that contain each book content are meant to use 100% of the width of their containers. However when the transition is started, the iframes don't resize fast enough to resize simultaneously with their parent as you can see here:
https://youtu.be/Voa0BburMIo?t=12s

It seems there are two ways of reproducing

[2016-08-15 13:30] jdm commented on #12876
cc @glennw for the webrender bustage.

[2016-08-15 14:07] paulrouget commented on #12876
<img width="423" alt="screen shot 2016-08-15 at 15 58 58" src="https://cloud.githubusercontent.com/assets/373579/17666815/499a4c1e-6302-11e6-95cf-5c5b85caf681.png">

[2016-08-15 14:16] #12676 closed

[2016-08-15 14:40] DIGISAGU commented on #12125
It is so slowwww!!!😭😭😭😭😭😭😭
And it is freezing 😭😭😭😭😭😭😭
plz fix it💖❤💖❤💖❤💖❤

[2016-08-15 15:48] metajack commented on #12829
Shouldn't those tests be using console mode anyway?

[2016-08-15 17:46] est31 commented on #12769
@GuillaumeGomez as @larsbergstrom noted above there is already one for mp4: https://github.com/mozilla/mp4parse-rust . With my ogg-metadata crate, this would give support for ogg/ogv, and mp4. MKV/Webm is certainly doable in pure rust as well, although maybe one would have to write a container decoder for mkv (The rust compiler even uses a similar data format as EBML, which MKV bases on, maybe it

[2016-08-15 17:49] Coder206 opened #12879 "Add Instructions for Contributing to Servo Using The Janitor"
I have been using The Janitor (https://janitor.technology) for some time now. It's evident it would greatly simplify the process when creating the environment to new comers to Servo.

I think it would be great to have a link to [https://janitor.technology](url) in the ReadMe.md file.

Tags to add please: E-Easy, A-Documentation, C-Assigned

[2016-08-15 18:03] GuillaumeGomez commented on #12769
@est31: That's because the mkv one is very complicated that I didn't do it and used ffmpeg instead. However I can modify my crate to make it uses yours and the mp4 one instead. If someone could confirm it?

[2016-08-15 18:06] highfive commented on #12879
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-15 18:07] larsbergstrom commented on #12879
Done, and thanks for working on this!

[2016-08-15 18:07] Coder206 commented on #12879
@larsbergstrom Thanks :)

[2016-08-15 19:48] jrmuizel opened #12881 "servo leaks like crazy on slideshow"
STR: Load http://people.mozilla.org/~jmuizelaar/jeffslideshow/ in servo
The servo process will keep growing in size with no apparent bounds

The page basically just loads a bunch of images in order. It has a single img element who's src property is replaced with the next image as soon as the previous one loads.

[2016-08-15 20:06] rillian commented on #12769
From my perspective:

- Servo shouldn't link ffmpeg. At best you should dlopen() it the way gecko does, like @metajack and @tdaede said.
- Gecko includes a stripped down build of ffmpeg so we can use its demuxers. Codec licensing prevents our shipping its decoders for mpeg formats.
- You can use mp4parse-rust as an mp4 parser, but sample extraction isn't completely implemented. Someone adding that

[2016-08-15 20:15] jrmuizel opened #12883 "servo reliably crashes when cycling through images"
Load the following url:
http://people.mozilla.org/~jmuizelaar/jeffslideshow/fast.html

After around 20s servo will crash in a variety of different locations including:
- "Too many open files" from the unwrap in find_image_or_metadata
- index out of bounds: the len is 0 but the index is 0 from find_image_or_metadata calling visit_new_type

[2016-08-15 20:57] staabm commented on #12125
I guess this wasnt meant to be closed because some of the initial mentioned tickets are still open

[2016-08-15 21:29] GuillaumeGomez commented on #12769
Ok, i'll update to use dlopen in the next days then.

[2016-08-15 21:29] GuillaumeGomez commented on #12769
I opened https://github.com/GuillaumeGomez/video-metadata-rs/issues/22

[2016-08-15 23:36] metajack commented on #12883
Oh man, I'm really happy to have a better example for too many fds. We've been chasing that one in intermittents for a while (assuming it's the same issue).

[2016-08-15 23:36] Gozala opened #12885 "img onload is dispatched instead of onerror on failed requests"
Here is an example illustrating the issue:

https://Gozala.jsbin.com/yugoqil

You should see `Load failed!` message but in servo you see `Load complete.` instead. If you look at the source code https://Gozala.jsbin.com/yugoqil/edit?html,js,output you'll see that's because `onload` event handler on `<img>` is called instead of expected `onerror`.

[2016-08-15 23:49] emilio opened #12886 "Remove or repair bogus style tests from tests/wpt/mozilla"
#12572 uncovered a few tests that weren't up to date with the specs. We should remove them or disable them once it lands.

cc #12758

This means we should either remove them, or make them test the actual spec, and update the expectations.

Will update back with the actual filenames  once it lands.

[2016-08-15 23:49] highfive commented on #12886
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-16 00:47] Coder206 commented on #12886
@emilio I would like to work on this.

[2016-08-16 02:03] emilio commented on #12886
It's yours then! :)

[2016-08-16 02:16] Coder206 commented on #12886
@emilio Thanks :)

[2016-08-16 03:50] jrmuizel commented on #12881
It looks like we only ever put things into the webrender_image_cache and never take them out.

[2016-08-16 04:18] paulrouget opened #12888 "What is buildbot_steps.yml for?"
In https://github.com/servo/servo/pull/12688, I've added the scripts to etc/ci/buildbot_steps.yml, but apparently, saltfs' buildbot/master/files/config/steps.yml is the one that needs to be updated.

Can someone explain what etc/ci/buildbot_steps.yml is for?

[2016-08-16 04:22] paulrouget commented on #12888
/cc @larsbergstrom

[2016-08-16 07:19] bumingzzw opened #12889 "servo can't startup"
./servo: error while loading shared libraries: libavformat.so.54: cannot open shared object file: No such file or directory
OS: debian unstable

I create a link to libavformat.so.57 as libavformat.so.54 ,  servo also check the version of avformat, tips not a version 54, and can't startup too.

[2016-08-16 07:21] bumingzzw commented on #12889
also, has a problem of libavutils, also not the required version 52 .  in my debian linux,  I had install libavformat version 57 and libavutils version 54.

[2016-08-16 07:23] emilio commented on #12889
This is a dupe of https://github.com/servo/servo/issues/12687, feel free to subscribe there. Thanks for reporting it though! :-)

[2016-08-16 07:23] #12889 closed

[2016-08-16 07:24] emilio commented on #12687
FWIW, my intention is to disable the dependency, at least temporarily, in https://github.com/servo/servo/issues/12863

[2016-08-16 07:55] nox commented on #11100
@metajack So AFAIK these UUID are the only thing that initialises the thread-local RNG state. We could probably fix this more generally by putting HTTP load requests behind a thread pool though.

[2016-08-16 08:31] nox opened #12891 "Intermittent failure in /css-transforms-1_dev/html/perspective-origin-001.htm and perspective-origin-002.htm and perspective-origin-005.htm"
[code]

[code]

[2016-08-16 09:31] #12766 closed

[2016-08-16 10:18] shinglyu opened #12892 "WebRender demo has super high frame rate but looks laggy"
When running

[code]

The frame rate is ~600 to 800 fps. But it looks laggy (one frame per 1~3 seconds).

[2016-08-16 10:18] shinglyu commented on #12892
![selection_029](https://cloud.githubusercontent.com/assets/3250983/17695964/e37c25ce-63dd-11e6-81b9-392f1d4a5ae0.png)

[2016-08-16 10:21] shinglyu commented on #12892
BTW I use Dell XPS 15, which has a nvidia graphic card and I'm using Linux driver version 367.27

[2016-08-16 12:20] pathway27 commented on #12764
I'll work on this.

[2016-08-16 12:27] Wafflespeanut commented on #12764
Cool! :)

[2016-08-16 14:49] creativcoder commented on #12773
So, do you mean something like below would work ? The vec is  `Vec<u64>`, as `StructuredCloneData` is a `*mut u64`

[code]

where `move_to_arraybuffer` is defined on `StructuredCloneData` as:
[code]
Correct me if i misunderstood the way of converting a StructuredClone to a `Vec<u8>`.

[2016-08-16 14:55] jrmuizel opened #12894 "./mach build --release doesn't include debug information"
This seems needlessly hostile. It's pretty common to want to debug or profile release builds, certainly more common than wanting to strip the binaries for distribution.

[2016-08-16 15:14] metajack commented on #12894
I'm not sure about all the repercussions here, but this would basically involve just uncommenting this line https://github.com/servo/servo/blob/master/components/servo/Cargo.toml#L31 and adding that corresponding line in the other Cargo.toml files in the repo.

Does anyone object to switching the default here?

cc @larsbergstrom

[2016-08-16 15:24] larsbergstrom commented on #12894
I've tried this many times over recent years, unfortunately there are two problems:

1) WPT stops working (https://github.com/servo/servo/pull/9520) and the tests change from TIMEOUT to CRASH

2) The rust compiler frequently ICEs when compiling with debug info, as it's not a tested path. Very rarely works on our primary platforms, but it almost *never* does on our cross-targets.

Michael Woerister

[2016-08-16 15:31] metajack commented on #12894
Seems like this is actually broken. I commented on rust-lang/rust#34434 to see if we can't get this to be a tested code path for Rust.

[2016-08-16 15:50] Ms2ger commented on #12773
You could extract the bytes with
[code]
but the idea was very much to send `StructuredCloneData` around; that's what it's for. If we want to use it in script_traits, we could define it there with an api like
[code]

[2016-08-16 16:41] larsbergstrom commented on #12888
We are in the process of switching over to in-tree steps.yml:
https://github.com/servo/saltfs/blob/aa9171bb5f095b7710afca717920dbc36ebdc989/buildbot/master/files/config/factories.py#L299

But I *think* that we're still primarily using the builders that point at the older hard-coded rules. Is that right @edunham @shinglyu @aneeshusa ?

[2016-08-16 17:28] Manishearth commented on #12690
Gecko actually just stores these as two calc values on the computed side. The specified side needs more info for serialization though. Maybe.

[2016-08-16 18:25] jdm commented on #12773
Pointers don't serialize over IPC channels, hence the Vec I propose. @creativcoder, that should work, but the Vec needs to reserve the right number of bytes and use u8 to ensure that nbytes is correct.

[2016-08-16 19:46] #12835 closed

[2016-08-16 22:05] izgzhen commented on #5014
How about changing title to "Support bindings of typed array"?

[2016-08-16 22:07] izgzhen commented on #11131
What is left undone as I accounted:

+ [ ] ArrayBuffer/ArrayBufferView support
+ [ ] Blob URL fragment identifier implementation
+ [ ] `URL.createFor` implementation

[2016-08-16 22:09] jrmuizel commented on #12883
It looks like we're leaking fds as described here:
https://github.com/servo/ipc-channel/pull/96

[2016-08-16 22:11] pcwalton commented on #12881
cc @glennw

[2016-08-16 22:28] edunham commented on #10841
Looks like this is addressed in #12877. Thanks @UK992!

This issue has served its purpose as being a place to argue if anyone had strong opinions about how to architect the solution. Turns out people didn't :)

[2016-08-16 22:28] #10841 closed

[2016-08-17 01:00] est31 commented on #12769
@GuillaumeGomez if you got confirmation from someone in the servo team to do this step, I'd really like that and would try to support you from the `ogg-metadata` side as much as I can.

[2016-08-17 01:03] GuillaumeGomez commented on #12769
@est31: I end the dlopen update and then I'd be glad to do it! :)

[2016-08-17 02:25] notriddle commented on #12892
Shouldn't it be capping itself at 60fps anyway?

[2016-08-17 02:43] schuster commented on #8570
I'd like to take this on, assuming no one else is working on it.

[2016-08-17 02:49] emilio commented on #8769
It doesn't seem to have a panic in #12887

[2016-08-17 02:50] emilio commented on #12891
Today I also saw the 003 and 004, fwiw. But I think we should unify these into #10881.

[2016-08-17 02:51] emilio commented on #12891
Whoops, wrong bug, https://github.com/servo/servo/issues/9087

[2016-08-17 02:53] emilio commented on #9087
@jdm: We're having [tons](https://github.com/servo/servo/search?q=css-transforms-1_dev&type=Issues&utf8=%E2%9C%93) of transform-related failures recently, do you think it's worth to unify them here?

[2016-08-17 03:01] notriddle commented on #12836
Removing the None-ing out in `swap_out` (in construct.rs) makes this problem go away. However, I'm pretty sure there's a deeper bug in here if we're reusing flows in "non-incremental" layout.

[2016-08-17 03:34] shinglyu commented on #12675
Here are some survey of existing layout debugging tools:

Gecko's `./mach run -layoutdebug`
![selection_030](https://cloud.githubusercontent.com/assets/3250983/17723668/78e28654-646e-11e6-80eb-b92d6847c496.png)

Frame Tree Dump format:
[code]

[2016-08-17 04:09] emilio opened #12901 "Intermittent failures in /css21_dev/html4/run-in-listitem-between-001.htm /css21_dev/html4/run-in-listitem-between-002.htm"
Suspect PR for causing it is #12873, there's background in #10643.

cc @shinglyu.

[2016-08-17 05:28] shinglyu commented on #12675
WebKit has a specialized test client called DumpRenderTree, which is like a headless browser which dumps the render tree for layout testing.

The output looks like this:
[code]

Ref: https://trac.webkit.org/wiki/Writing%20Layout%20Tests%20for%20DumpRenderTree#

[2016-08-17 05:31] shinglyu commented on #12675
Both tools dumps the tree in plain text, which is console-friendly but not optimal for human reader or other tools to parse. I'll make it emit a JSON object and write a python (?) formatter and/or visualization tool.

I'd also want to create a debug tool that dumps the flow tree in every key stage in the layout process, and we can have a time slider to explore how the flow tree evolves during the

[2016-08-17 06:33] #12842 closed

[2016-08-17 09:05] #12764 closed

[2016-08-17 09:29] Manishearth opened #12902 "Use typedefs for background-position"
For background-position (https://github.com/servo/servo/blob/9785e520aec4d8a821659d4811713ee43bfe82af/components/style/properties/longhand/background.mako.rs#L90), we have created a newtype:

[code]

and then manually implemented ToCss, ToComputedValue, and parsing by forwarding to the child type.

In such cases instead we can use `pub type T = Position`, `pub type SpecifiedValue = Position`, and

[2016-08-17 09:29] highfive commented on #12902
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-17 09:33] mskrzypkows commented on #11763
Is the issue free to take? I can work on it.

[2016-08-17 09:39] KiChjang commented on #11763
@mskrzypkows It's all yours, since @tomjakubowski is unresponsive.

[2016-08-17 09:43] Manishearth commented on #12690
Willing to mentor anyone who wants to look into this.

[2016-08-17 09:54] mskrzypkows commented on #11763
As I implement length attribute, I have one doubt: can we set value of length attribute? Shouldn't it be read only? It's because length is counted dynamically.
https://github.com/servo/servo/blob/master/components/script/dom/webidls/HTMLSelectElement.webidl#L18

[2016-08-17 09:59] KiChjang commented on #11763
@mskrzypkows See https://html.spec.whatwg.org/multipage/forms.html#dom-select-length.

[2016-08-17 10:03] mskrzypkows commented on #11763
OK, I see.

[2016-08-17 14:04] mskrzypkows commented on #11763
I've added draft. While removing nodes I need to handle fallible and None objects. How should I handle them: https://github.com/mskrzypkows/servo/commit/c3a03a850e287a570530ebbdf2af2943c0d5da36#diff-df123336552d1d03d6b506d9c8577d0eR196 ?

[2016-08-17 14:08] Coder206 opened #12907 "README OS Links are Broken on Nexus 6P"
When using the links in the `README.md` file on my Nexus 6P, nothing happens. When using a desktop computer, the links work as expected, redirecting me to the section of the document.

@Ms2ger I am wondering if there is a better way to make the links work on every device.

This issue relates to code I wrote from #12880
The file affected is `README.md`

I'd like to hear some feedback from people to

[2016-08-17 14:13] Coder206 commented on #12886
@emilio Are these the bogus tests you are referencing from above?

`▶ FAIL [expected PASS] /css-flexbox-1_dev/html/flex-flexitem-percentage-prescation.htm
  └   → /css-flexbox-1_dev/html/flex-flexitem-percentage-prescation.htm 549dc2995e7de786feb6065fc8fc76b53746d920
/css-flexbox-1_dev/html/reference/flex-flexitem-percentage-prescation-ref.htm 516cbcf7b447cf7d5a568a4f8b57f030555e6525
Testing 549dc

[2016-08-17 15:49] larsbergstrom commented on #12675
Thanks for taking this on, and a huge :+1: for dumping at key stages so that we can have a time slider to show how the flow tree evolves during layout. Visualizations always aid understanding, and layout is a somewhat opaque process to many developers.

I also agree that having JSON (or some other format that is SUPER easily parsed by off the shelf libraries) is a great strategy.

[2016-08-17 16:24] pcwalton commented on #8570
Go for it! Any work in this direction would be valuable :)

[2016-08-17 16:33] pcwalton commented on #12778
Probably an old Linux version that doesn't support user namespaces.

[2016-08-17 16:36] pcwalton commented on #12745
Oh, how annoying. I guess we should round trip to script for those so we can reconstruct flows while the DOM is locked.

[2016-08-17 16:40] Flat commented on #12778
[code]
Unless the latest version of Linux is old, I don't think that is the issue.

[2016-08-17 17:15] asajeffrey opened #12908 "Running wtih Google perf tools causes panic"
As seen over in https://github.com/servo/servo/pull/12899#issuecomment-240474122:
[code]
This is probably a timing issue, but it does make profiling tricky.

[2016-08-17 17:16] highfive commented on #12908
cc @fitzgen

[2016-08-17 17:22] KiChjang commented on #12907
It doesn't look like it's a problem with README.md but a problem with all mobile browsers. I'm not sure whether we should look further into this since we don't (and would probably never) support compilation on a mobile device.

[2016-08-17 18:17] asajeffrey commented on #12908
The backtraces are missing because calling `Backtrace::new()` fails if the Google perf tools are loaded. I guess it's not too suprising that Google perf tools do weird things to the stack that backtrace isn't expecting. cc @alexcrichton

[2016-08-17 18:22] #10933 closed

[2016-08-17 18:23] craftytrickster commented on #11448
Looks like this can probably be closed

[2016-08-17 18:38] ConnorGBrewster commented on #12568
I think it might be worth disabling this for now, since we don't even have browsing context/window names implemented yet. I am sure this is just another issue with timing.

[2016-08-17 18:40] Coder206 commented on #12907
@KiChjang What about compilation for Android devices? I personally often use my mobile device to surf Servo on GitHub. I think it's important if Servo is advertised like this: "Servo is a modern, high-performance browser engine designed for both application and embedded use"

[2016-08-17 18:41] emilio commented on #10933
@craftytrickster thanks for keeping up with this!

[2016-08-17 18:41] creativcoder commented on #12773
Thanks @Ms2ger and @jdm for the valuable feedback. My mentioned snippet was causing servo to crash (most likely due to `copy_nonoverlapping`), but using `slice::from_raw_parts` as @Ms2ger  suggested makes it work and `postMessage` now works on `ServiceWorker` object. Making a PR soon for this. :)

[2016-08-17 18:43] emilio commented on #12901
Well, the issue seems the same as in #12873, they just don't pass in our build machines, though they pass in others, closing for now.

[2016-08-17 18:43] #12901 closed

[2016-08-17 18:53] craftytrickster commented on #10933
@emilio , likewise, thanks for the help on this

[2016-08-17 18:57] #11448 closed

[2016-08-17 18:59] KiChjang commented on #12907
@Coder206 In which case, you'd use a desktop/laptop to cross-compile to android. I don't think anyone would use their mobile device to compile servo...

[2016-08-17 19:36] Coder206 commented on #12907
@KiChjang I realize that it may (and probably should) not be the device used to compile, I still feel like it's important to support mobile devices.

I am wondering if using the `a` element instead of the header trick would solve the issue.

[2016-08-17 21:22] emilio opened #12912 "Lazily compute and cache the classnames of elements in the style sharing cache."
When #12668 lands, we can compute the `StyleSharingCandidate` class names the same way as we're computing the `CommonStyleAffectingAttributes` instead of once per test.

Code:
 * `components/style/matching.rs`

Tests:
 * Not needed, if it passes tests and review, it's fine.

[2016-08-17 21:22] highfive commented on #12912
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-17 21:26] emilio opened #12913 "Flush the style sharing candidate chache if we've missed due to the parent."
We process all children of the same parent sequentially, so once we've missed due to a `Parent` mismatch, we can flush the cache safely before inserting the new element if appropriate.

Code:

 * `components/style/matching.rs`

Tests:

 * Not needed, if passes existing tests and review, it's fine.

[2016-08-17 21:26] highfive commented on #12913
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-17 21:50] alexcrichton commented on #12908
:(

[2016-08-17 21:55] vvuk opened #12914 "create "mach bootstrap" for MSVC builds to download dependencies"
MSVC Windows builds have a number of dependencies and environment setup.  We should create "mach bootstrap" that will automatically download cmake, ninja, openssl, etc. and put them in the .servo dir alongside the compiler and cargo.  mach should also set up the proper env vars before building.

The current dependencies and an env setup script are here: http://people.mozilla.org/~vladimir/misc/ser

[2016-08-17 22:02] crepererum commented on #12778
@pcwalton @Flat Both wrong, sadly. I'm on Arch Linux as well and the kernel is indeed very new, but the distro kernel is configured without `CONFIG_USER_NS`, see [FS#36969](https://bugs.archlinux.org/task/36969).

[2016-08-17 22:46] SaschaNaz commented on #12125
Updated set of missing files (2 added, 4 removed):

* libxml2-2.dll
* libgmp-10.dll
* libgnutls-30.dll
* libhogweed-4-1.dll (Added)
* libnettle-6-1.dll (Added)
* liblzma-5.dll
* libgsm.dll
* libmp3lame-0.dll
* libopencore-amrnb-0.dll
* libopencore-amrwb-0.dll
* libopenjp2-7.dll
* libopus-0.dll
* libschroedinger-1.0-0.dll
* libtheoradec-1.dll
* libspeex-1.dll
* libtheoraenc-1.dll
* libvorbis-0.dll

[2016-08-17 23:30] UK992 commented on #12914
i've try this https://github.com/UK992/servo/tree/msvc-dependencies ... can you check if its ok?

[2016-08-18 00:49] #12534 closed

[2016-08-18 00:49] hsinewu commented on #12902
I would like to work on this issue. Thanks.

[2016-08-18 01:01] KiChjang commented on #12902
You got it!

[2016-08-18 02:27] hsinewu commented on #12902
I have some trouble with it.
Provided example link seems to be not working.
I need instructions about derive errors.
Thanks.

[2016-08-18 03:02] SaschaNaz opened #12917 "How to build from MSVC branch?"
Hi Servo team,

I downloaded #12916 and am trying building servo with `mach build --release` but it results too small `servo.exe` with 36 MiB size. Running it does not throw any error but just displays white screen. What should be done here?

[2016-08-18 03:08] Manishearth commented on #12902
Yeah, that PR was rebased. The commit you want is https://github.com/Manishearth/servo/commit/b42ef703c37b889a4a23548aa23bd57a0d69b882

you will need to remove the derive attributes off the typedefs, typedefs only create new names, not types, so the traits implemented on the inner type still apply.

[2016-08-18 03:15] ashrko619 commented on #12912
I'd like to work on this :)

[2016-08-18 03:16] asajeffrey commented on #12792
This would be very nice to have, especially if we could use it to compare performance between branches.

[2016-08-18 03:36] shinglyu commented on #12675
I'm also considering YAML. YAML is more human readable, so before we build any fancy tool, developers can still look at the raw output and benefit from the improved readability

[2016-08-18 03:59] hsinewu commented on #12902
For some reason I got E0425 unresolved name on both computed_value::T and SpecifiedValue.
I did make the type alias pub though.
What should I do?

btw, how can I locate the source files & lines where compile errors occurred?
Seems like impls are scattered around somewhat.
The output message given by compiler pointed to ../debug/build/.../out/properties.rs, which doesn't quite look like something I

[2016-08-18 04:23] Manishearth commented on #12902
Please pastebin your patches so we can see what you're doing.

properties.rs is generated from the mako.rs files. Open that file and look at the context of the relevant lines (and use grep) to find the mako.rs file affected.

Note that `computed_value::T` and `SpecifiedValue` are no longer type constructors. So wherever you see something like `SpecifiedValue(foo)`, you want to replace that with ju

[2016-08-18 05:28] hsinewu commented on #12902
Thanks a lot!
Your information is exactly what I need.

I can build and pass test-tidy now.
I'll send PR soon.

[2016-08-18 06:25] emilio commented on #12912
Hi! The mentioned bug landed, so it's yours!

Let me know if you need any help :)

[2016-08-18 06:40] #12888 closed

[2016-08-18 07:02] artptr opened #12919 "Build failed for the Script component on Windows"
[code]

[2016-08-18 08:28] nox opened #12920 "Change keying of fonts in the font cache thread"
AFAICT, fonts are keyed with their family name in the font cache thread. What happens if two pages use the same family name for 2 completely different fonts?

[2016-08-18 09:22] paulrouget commented on #11857
Works now.

[2016-08-18 09:22] #11857 closed

[2016-08-18 09:22] paulrouget commented on #11562
Works now.

[2016-08-18 09:22] #11562 closed

[2016-08-18 09:38] nox commented on #12920
Our font cache seems completely broken to me. The cache keys are family names, which is wrong, but even if it was not, a Web font source could change between 2 requests so we can't use the source as key.

@pcwalton @glennw Would it be bad to just store Web fonts in the layout thread? How then would we feed them to the font context of the paint thread?

[2016-08-18 09:52] shinglyu commented on #12675
@nox points out that we can use [`rustc_serialize`](https://doc.rust-lang.org/rustc-serialize/rustc_serialize/json/index.html)

I would probably keep the old `Debug::fmt()` and change the `Flow::print()` (i.e. the flow tree dump function) to use the json serialize function instead of `Debug:fmt()`.

[2016-08-18 09:58] shinglyu commented on #12675
And as @nox said it would be even better to switch to ` serde_json` from `rustc_serialize`

[2016-08-18 10:11] mrobinson commented on #8198
This is supported now, isn't it? I run CSS tests with webrender by passing --servo-backend=webrender.

[2016-08-18 10:53] paulrouget commented on #12885
PR WIP: https://github.com/servo/servo/pull/12921

[2016-08-18 11:15] canaltinova commented on #11729
The reduced test case:
[code]
I would like to work on this issue.
It should look like the left Firefox window but right now servo looks like right one:

![screenshot](https://cloud.githubusercontent.com/assets/466239/17771822/0ba50d24-654e-11e6-8750-dc720f261f8a.jpg)

[2016-08-18 11:21] Manishearth commented on #11729
Sure, go ahead!

[2016-08-18 11:46] nox commented on #6963
There are various things necessary on the Servo side, at least these three things:

[ ] Port https://dxr.mozilla.org/mozilla-central/source/dom/indexedDB/Key.cpp#32-105 to Rust code.
[ ] Be able to know whether JS code failed from a queued task.
[ ] Be able to know whether any event handled propagated an exception when firing an event.

[2016-08-18 12:02] samuknet opened #12923 "Absolute positioned div hyperlinks not clickable"
When there is an absolutely positioned div with some image hyperlinks, the first three of the images are not recognized as links by Servo and clicking them does nothing (see test case).

Online test case [here](https://samuknet.github.io/test_cases/absoluteDivHyperlinks/).

The div is positioned with CSS `bottom: 0` which seems to be causing the problem.  When the position of the div is set to `to

[2016-08-18 14:54] aneeshusa commented on #12888
Yeah, we're still using the hard-coded rules (which live in the saltfs repo) right now.

[2016-08-18 16:05] metajack commented on #12920
@nox It's not thread to thread. In multiprocess, painting happens in the privileged process and layout in unprivileged. So this will cross a process boundary.

[2016-08-18 16:07] metajack commented on #12792
It would be nice if this worked like arewecompressedyet.com where branches can be tried and various results compared easily. I assume this is possible with perfherder, but it's just so easy to use arewecompressedyet that everyone does it for almost all changes.

[2016-08-18 16:11] metajack commented on #12914
I'd very much like it if we either

1) Probed for vcvars.bat and ran it if it hasn't already been run.
or
2) Detected whether vcvars.bat had been run and if not, probe for the location and print out an error with a suggestion of how to fix.

In both cases if the probe failed we should recommend they download VS.

[2016-08-18 16:15] metajack commented on #12125
We can not and will not distribute libmp3lame, libx264, or libx265. There might be others in there that we also can not distribute. libxvidcore looks suspicious for example.

This whole chain of dependencies is being disabled in #12863 until we find a way to bundle a minimal set of ffmpeg dlls or detect and use them at runtime.

[2016-08-18 16:21] Eagle3386 commented on #12125
If legal stuff gets in the way of distributing those DLL files, then provide instructions for how/where to get them at least, please. (Almost) direct links are preferred.

I'd like to test servo, not fight with missing DLLs because of missing detection routines within servo.

[2016-08-18 16:25] metajack commented on #12125
@Eagle3386 Once #12863 lands and new nightlies are built, none of these will be needed.

We'll turn media metadata back on once we've figured out a way to distribute the correct set.

[2016-08-18 16:37] Eagle3386 commented on #12125
So, I'll have to wait for that then. 😢 Will subscribe to it and looking forward to its landing. 👍

[2016-08-18 17:21] pcwalton commented on #12920
@nox The font cache being completely broken aligns with what I've seen, namely that nytimes.com fonts can be totally random.

[2016-08-18 23:10] emilio commented on #12687
This should be fixed for now, thanks to all of you for reporting it! :)

#12769 is the tracking issue for knowing what to do with media support in Servo, if you're interested.

Thanks again!

[2016-08-18 23:10] #12687 closed

[2016-08-18 23:46] glennw commented on #12920
@nox The idea of storing web fonts in the layout thread sounds quite good. I haven't thought through all the details, maybe there are some gotchas, but it does sound worthwhile. With webrender, layout just needs to pass the font once via a message when it first receives the font, so that should be easy enough. Any thoughts on that idea @pcwalton ?

[2016-08-19 00:42] pathway27 commented on #12913
I'll have a go at this. I'm kind of new at rust, but looking at the code, is this change for the element_matches_candidate function?

[2016-08-19 02:23] shinglyu commented on #12792
@metajack I think that might be something we can bring up with the Perfherder team, AFAIK they are still seeking ideas to improve the Perfherder UI. It will also benefit the Platform team.

[2016-08-19 02:34] SaschaNaz commented on #12125
The latest build removed those dependencies! :tada:

[2016-08-19 02:41] shinglyu opened #12931 "Nightly window does not show up"
If I run

[code]

No window shows up, and the program does not exit.
If I remove the `--pref dom.mozbrowser.enabled`, it works OK, but of course the browser.html doesn't work as expected.

Environment:
- Ubuntu 16.04
- nVidia driver 367.27
- Servo Nightly downloaded on 2016/8/19 10:45 (UTC+8)

Here is the log unit it stuck:

[code]

[2016-08-19 04:00] jrmuizel commented on #7221
I think perf should be more usable on Android these days

[2016-08-19 05:00] emilio commented on #12913
Cool! I think it'd be easier if you modify this other chunk of the code, otherwise you're not going to be able to flush the cache https://github.com/servo/servo/blob/master/components/style/matching.rs#L748.

Assigned then! Let me know if you need any help :)

[2016-08-19 05:20] doanga2007 commented on #12753
In macOS version 10.12 Beta (16A294a) , Servo is full support complete.

[2016-08-19 05:20] #12753 closed

[2016-08-19 05:33] glennw commented on #12827
This is fixed when https://github.com/servo/webrender/pull/355 lands and gets updated in servo.

[2016-08-19 07:13] techtonik commented on #12125
Will there be a 32-bit build for older systems like Vista and XP where Chrome doesn't work anymore?

[2016-08-19 07:33] shinglyu commented on #12675
This looks exactly what we want: https://github.com/servo/servo/commit/acedb166707aa2e8fd02e6c7d943147394c34609

But there is a bug in it so it always print an empty trace. I'll submit a patch for that right away.

They way to use it is `./mach run -d -Z trace-layout https://servo.org`, and a `layout_trace.json` file will be created. We need to document this somewhere.

[2016-08-19 07:44] shinglyu commented on #12675
@glennw , you mentioned some external tool for layout debugging in https://github.com/servo/servo/commit/acedb166707aa2e8fd02e6c7d943147394c34609, may I ask where can I find the tool?

[2016-08-19 08:01] shinglyu commented on #12931
As @paulrouget points out, `-b` makes the window show up only when the page finished loading. So if I remove the `-b`:

[code]

The window shows up, but freezes during the page load:

Here is the log:
[code]

[2016-08-19 08:03] shinglyu commented on #12931
Seems like another infinite reflow issue. And screenshot:
![selection_031](https://cloud.githubusercontent.com/assets/3250983/17803055/67b2a30a-6626-11e6-972e-01fc45dcbc1b.png)

[2016-08-19 08:04] elahn commented on #12125
I believe [#11307](https://github.com/servo/servo/issues/11307) - "Hot spinning on Windows shutdown" means when the program is closed, either by clicking the 'X' on the gui window, or shutting down windows (which may be when the issue was first discovered, hence the name). With the latest build on Windows 10 Home x64 with Anniversary Update on real hardware, after closing I get:
![servo 19_08_2016

[2016-08-19 08:06] SaschaNaz commented on #12125
@elahn Trying today's nightly does not show that behavior when closing servo after it completely loaded the start screen, but it still spins when closing servo before the complete load.

[2016-08-19 08:11] shinglyu opened #12936 "Make -Z trace-layout output the pre and post as a JSON object instead of strings"
(Blocked by #12935 )

When running `./mach run -d -Z trace-layout -x <url>`, the `pre` and `post` output in `layout_trace.json` are strings. If we can make them a JSON object, it will become easier for external tool to parse.

[2016-08-19 08:38] elahn commented on #12125
Thanks @SaschaNaz, a new build was released after I downloaded it. I'm in Australia (GMT+10). Looking at the MSI creation date, they're both 19/8/2016 11:29am. Is the "nightly" produced once per day, as the name implies, or after each CI build? If once daily, at what time does it run? (so I can be sure of getting the latest before commenting or filing issues)

[2016-08-19 08:40] SaschaNaz commented on #12125
@elahn I also have no idea, I just try downloading and compare installer size to see whether it's new.

[2016-08-19 09:05] #8198 closed

[2016-08-19 09:10] Ms2ger commented on #12919
@vvuk

[code]

seems like fallout from the cmakization.

[2016-08-19 09:19] elahn opened #12937 "Text input rendering previous keypress on Windows"
In this [video](http://elahn.com.au/uploads/Servo%2019_08_2016%206_19_56%20PM%20%28compressed%29.mp4), I clicked on the input, typed: `mozilla.org[enter][enter]`. Nothing appeared in the input until the 2nd key, 'o' was pressed and with each keypress, the state as of the previous keypress was rendered.

Windows 10 Home x64 with anniversary update on real hardware.

[2016-08-19 09:41] shinglyu commented on #12675
I found it, but looks like it was removed: https://github.com/servo/servo/pull/3350

[2016-08-19 09:48] veer66 opened #12939 "The offsetWidth of a span element is 0."
offsetWidth obtained by script is 0.

For example, this html page prints 0 to the console.

[code]

I used Servo commit 9415252 on Ubuntu 16.04.

[2016-08-19 09:55] shinglyu commented on #12936
I already have a patch for this. But the `layout_debug_scope!()` macro seems to be broken. I'll see if I can fix it too.

[2016-08-19 14:08] nox commented on #12891
Disabled in https://github.com/servo/servo/pull/12942.

[2016-08-19 14:51] fabiand commented on #12015
I think the nightlies need to be built against a newer openssl to work smoothly on Fedora.
Maybe another travis job can be added?

[2016-08-19 15:08] est31 commented on #12015
One of the ways to solve the soname problems once and for all would be to build flatpaks and distribute them instead: http://flatpak.org/developer.html http://flatpak.org/

openssl would I think be packaged via the runtime, so it could be updated without the intervention of servo.

The only requirement is that flatpak and the runtime are installed, but fedora already ships with flatpak, and debian

[2016-08-19 15:10] fabiand commented on #12015
That's actually an awesome idea!

[2016-08-19 15:56] nox commented on #11561
Disabled in https://github.com/servo/servo/pull/12942.

[2016-08-19 17:04] veer66 opened #12944 "Myanmar text doesn't display properly on Ubuntu"
On Ubuntu 16.04 with two Myanmar fonts i.e. Noto Sans Myanmar and Padauk installed, Servo Commit 94152523 cannot display Myanmar text properly as shown below:

![myanmar2](https://cloud.githubusercontent.com/assets/370688/17817573/5c8823f4-6669-11e6-9505-da682d35ade3.png)

However it should look somewhat like this:

![myanmar1](https://cloud.githubusercontent.com/assets/370688/17817584/696d530a-66

[2016-08-20 02:39] ashrko619 commented on #12912
Hi,
I need a bit of help on where exactly the changes should go. This is the first time am dealing with Rust code. Thanks :)

[2016-08-20 04:51] ConnorGBrewster opened #12948 "rustc download on msvc windows 404s"
[code]

cc @Wafflespeanut

[2016-08-20 06:01] PM57 opened #12949 "呵呵呵"
哈哈哈

[2016-08-20 06:28] #12949 closed

[2016-08-20 07:56] StefanoD opened #12950 "Servo doesn't start on Ubuntu 16.04"
I just downloaded the lastest nightly build. I extracted servo, run ./runservo.sh and nothing happened for minutes until I killed the process.
I can see servo with _top_, but I don't see any window.

![top](https://cloud.githubusercontent.com/assets/1634862/17829865/20a2f12c-66bc-11e6-8af8-851b3aeed7d9.png)

![sevor_start](https://cloud.githubusercontent.com/assets/1634862/17829845/97bd3052-66bb-1

[2016-08-20 08:56] emilio commented on #12912
No problem!

So, in the file `components/style/matching.rs`, we have a function that compares classes between two elements, called [`have_same_class`](https://github.com/servo/servo/blob/master/components/style/matching.rs#L379-L388).

That function currently takes two elements and compares the two vectors. The key point here is that one element comes straight from the cache, and we might be compu

[2016-08-20 18:36] UK992 commented on #12948
You need to define vcvars.
`call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat"`

[2016-08-20 23:51] emilio opened #12958 "Remove the mako zip file and use proper python dependencies"
[code]

Should be easy enough, though I'm not too versed in our python infra. @Wafflespeanut would you be interested in mentoring this if nobody does it on their own?

[2016-08-20 23:59] SimonSapin commented on #12958
Files involved:

* `python/requirements.txt`: add `Mako == 0.9.1`. The latest is 1.0.4 but I don’t know if it has breaking changes.
* `components/style/properties/Mako-0.9.1.zip`: remove
* `components/style/build.rs`: make it use `python/_virtualenv/bin/python`, except on Windows where it’s something like `python/_virtualenv/Scripts/python.exe` but I’m not sure.

[2016-08-21 00:00] highfive commented on #12958
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-21 01:55] emilio opened #12959 "Track only the number of important declarations in a declaration block"
Once #12943 lands, `DeclarationBlock` will have two fields, `normal_count` and `important_count` that track the amount of declarations with a given priority are in that block.

We should be able to remove one of the two fields, and compute the other one in terms of the length of the `declarations` vector and the other, simplifying the code that computes it.

Code:

 * `components/style/properties/

[2016-08-21 01:55] highfive commented on #12959
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-21 02:03] SimonSapin commented on #12959
Run `./mach test-unit` to try changes to `tests/unit`.

[2016-08-21 03:11] Wafflespeanut commented on #12958
I can help :)

[2016-08-21 03:48] emilio opened #12960 "Intermittent pass in /css21_dev/html4/c5510-ipadn-000.htm"
First appeared in #12930.

[2016-08-21 05:35] Wafflespeanut opened #12961 "Change the separator used in rust path"
[This](https://github.com/servo/servo/blob/master/python/servo/command_base.py#L286) is wrong, because, in Windows, we'll then be using a mixture of forward and backslashes. It hasn't caused any error so far, surprisingly enough. But, let's fix it anyway, by replacing with `os.path.join` :)

[2016-08-21 05:35] highfive commented on #12961
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-21 07:52] StefanoD commented on #12950
Fixed with the lastest nightly.

[2016-08-21 07:52] #12950 closed

[2016-08-21 09:34] #3426 closed

[2016-08-21 13:53] Manishearth opened #12963 "Replace SVGs with equivalent PNGs in the csswg tests"
A lot of the CSS tests use SVGs as references or as objects to be manipulated.

[code]

The references won't run in Servo at all, which makes the test useless in Servo. This also can often lead to false positives when the tested thing doesn't display at all (my multiple backgrounds PR had a bug which cased a lot of tests to pass because of this).

I suspect getting SVG to work in Servo will take a

[2016-08-21 18:14] tp6vup54 commented on #12961
Please give me this, I'll take care of it, thanks! cc @tp6vup54

[2016-08-21 18:21] gsnedders commented on #12963
Many of the tests that use SVG as objects are specifically testing SVGs being embedded in specific places.

The complexity of replacing SVGs with bitmapped images is going to be colour spaces, I think. Need to have them match,

If there's tests that can easily just have SVGs replaced with images upstream we should just do that.

[2016-08-21 18:40] Wafflespeanut commented on #12961
It's yours! :)

[2016-08-21 20:42] highfive commented on #12914
cc @wafflespeanut

[2016-08-21 20:42] highfive commented on #12914
cc @wafflespeanut

[2016-08-21 21:00] cers commented on #12959
I'd like to give it a go, but this would be my first foray into servo (and indeed rust).

Should the field be removed completely, or should the calculation of it just be moved to the end of the parsing, when it can be calculated by subtracting the important ones from the total?

If completely removed, then I guess some consideration is needed to components/script/dom/element.rs and components/styl

[2016-08-21 23:39] emilio commented on #12959
Sure, it's yours! :)

Yes, the idea is removing it completely, and yes, the calculations in element.rs and selector_matching.rs should be modified appropriately.

If you have any more doubts, don't hesitate in reaching out :)

[2016-08-22 00:00] glennw commented on #12827
Fixed by https://github.com/servo/servo/pull/12932

[2016-08-22 00:00] #12827 closed

[2016-08-22 01:54] glennw commented on #12802
@larsbergstrom This appears to be a layout bug. The style.css of the supplied test case has:

[code]

This breaks the layout code in Servo, which calculates the height of the scene to be 0px.

This can be worked around by making the above style apply to both the html and body element, such as:

[code]

When I do this, I see all the images rotate in correctly and remain on screen :)

My suggestion

[2016-08-22 01:56] glennw commented on #12802
@larsbergstrom Oh, the h1 text FPS counter not displaying is also a layout bug - by the time it arrives at webrender, the dimensions of the clip rect are zero. It's probably possible to work around this by changing how the text is specified (e.g. use an absolutely positioned div with fixed size) for now.

[2016-08-22 03:24] Manishearth commented on #12963
Right, but Servo doesn't care about these right now 😄. Since it's a flag, other browsers can continue using SVGs.

This was what I was originally thinking about, but the tests aren't easy to edit anymore. Converting on-the-fly lets them stay as editable svgs, but converts them for servo.

[2016-08-22 03:32] notriddle commented on #12802
Minimal test case:

[2016-08-22 07:13] #12912 closed

[2016-08-22 07:43] Ms2ger opened #12964 "upload_docs.sh is busted"
http://build.servo.org/builders/doc/builds/1220/steps/shell/logs/stdio
[code]

CC @vvuk

[2016-08-22 08:14] emilio commented on #12960
This turned out not being intermittent

[2016-08-22 10:18] KiChjang opened #12966 "Implement HTMLDataElement#value"
We already have convenient macros defined for reflecting content attributes. Look into `make_getter` and `make_setter` for accomplishing this task.

Spec: https://html.spec.whatwg.org/multipage/semantics.html#dom-data-value
Files: `components/script/dom/webidls/HTMLDataElement.webidl`, `components/script/dom/htmldataelement.rs`
Test: None yet, but one that tests for the behaviour of the `value` ID

[2016-08-22 10:18] highfive commented on #12966
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-22 10:24] ofekd commented on #12966
I would like to work on this :)

[2016-08-22 10:26] KiChjang commented on #12966
It's yours!

[2016-08-22 11:08] nox commented on #12920
@metajack Where could I store font handles and be sure that they will be freed on tab navigation, when the font is not needed anymore, etc? How painting, layout, script and style communicate is still quite vague to me.

[2016-08-22 11:14] KiChjang opened #12967 "Implement HTMLTimeElement.dateTime"
The harder part here isn't implementing the WebIDL getters and setters, but rather parsing the dateTime value in a machine-readable equivalent.

Spec: https://html.spec.whatwg.org/multipage/semantics.html#dom-time-datetime
Files: `components/script/dom/webidls/HTMLTimeElement.webidl`, `components/script/dom/htmltimeelement.rs`
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/text

[2016-08-22 11:58] #12902 closed

[2016-08-22 12:52] #11729 closed

[2016-08-22 14:37] #12959 closed

[2016-08-22 15:01] metajack commented on #12920
There is a limit to how many pipelines will be retained even when they are non-active. When they are freed, script and layout will both be shut down.

The only case I'm not 100% clear on is what happens when a script thread is reused. Does layout get rebuilt or just start receiving new display lists? If the latter, that could be a case where we would hold onto fons (if stored in layout) longer tha

[2016-08-22 15:12] highfive commented on #12964
cc @aneeshusa

[2016-08-22 15:24] jdm commented on #12095
@marinintim Any progress, or should someone else take a shot at this?

[2016-08-22 15:55] jdm commented on #12920
Layout threads are never reused.

[2016-08-22 15:57] jdm opened #12972 "Implement an HTTP cache"
Prior work: https://github.com/jdm/servo/tree/memcache

Relevant specifications:
- https://tools.ietf.org/html/rfc7234
- https://tools.ietf.org/html/rfc7232

[2016-08-22 16:12] metajack commented on #12125
@techtonik I don't think we'll be adding a 32bit build.

[2016-08-22 18:09] saurvs commented on #12967
Can't we just use [lifthrasiir/rust-chrono](https://github.com/lifthrasiir/rust-chrono), as it provides [parse_from_rfc3339](https://lifthrasiir.github.io/rust-chrono/chrono/datetime/struct.DateTime.html#method.parse_from_rfc3339) ?

[2016-08-22 18:36] jdm opened #12973 "Support a subset of SVG"
We need to start experimenting with SVG support in order to have more confidence in using WebRender for Gecko. This issue will serve as a tracking metabug for that work. Our goal is to implement the smallest subset possible, such that particular testcases look correct. We should hide this behind feature flags to avoid exposing a half-baked SVG implementation to web content.

[2016-08-22 18:36] jdm commented on #12973
cc @jrmuizel

[2016-08-22 18:38] jdm commented on #12973
I am working from the assumption that https://www.w3.org/TR/SVG11/ is the specification to care about at this point.

[2016-08-22 18:39] larsbergstrom commented on #12973
@nical has been doing some awesome work in Rust around an SVG implementation, at least as of our discussions in London:
https://github.com/servo/servo/wiki/Webrender-Overview#stuff-nical-is-doing-around-svg-path-rendering

[2016-08-22 18:40] jdm opened #12974 "Support SVG element"
Spec: https://www.w3.org/TR/SVG11/struct.html#SVGElement

Goals:
* create a `SVGElement` type that is created by the parser
* support the `width` and `height` attributes
* use these attributes to create a new fragment in layout with the appropriate width and height

Blocks #12973.

[2016-08-22 18:41] jdm commented on #12973
@nical's renderer is part of the work. I'm filing issues for the DOM and layout infrastructure surrounding that which will allow us to run representative benchmarks.

[2016-08-22 18:45] jdm opened #12975 "Support SVG circle element"
Spec: https://www.w3.org/TR/SVG11/shapes.html#CircleElement

We need to support the `cx`, `cy`, `r`, and `fill` DOM attributes in order to draw a circle in a benchmark correctly.

Blocks #12973, depends on #12974.

[2016-08-22 18:45] jdm commented on #12974
cc @jrmuizel

[2016-08-22 18:45] jdm commented on #12975
cc @jrmuizel

[2016-08-22 18:46] jdm commented on #12973
The initial target we're aiming for is http://people.mozilla.org/~jmuizelaar/Animometer/developer.html?test-interval=20&display=progress-bar&controller=ramp&frame-rate=50&kalman-process-error=1&kalman-measurement-error=4&time-measurement=performance&suite-name=SVGsuite&test-name=SVGbouncingcircles, with early milestones at http://www.themaninblue.com/experiment/AnimationBenchmark/svg/ and http://p

[2016-08-22 18:51] metajack commented on #12973
@SimonSapin has a parser already working that he was using for some experiments.

[2016-08-22 19:15] Ms2ger commented on #12967
How certain are you that that function exactly matches the HTML standard? :)

[2016-08-22 19:21] SimonSapin commented on #12973
I have a a parser for the micro-syntax of `d` attributes of SVG `<path>` elements that I put together with an existing XML parser and just enough hard-coded glue to render one carefully chosen example file :) https://github.com/SimonSapin/victor

I have written https://github.com/SimonSapin/victor/blob/master/src/svg/README.md about the state of SVG specifications as of a couple months ago.

Last

[2016-08-22 19:26] jdm commented on #12354
Servo master reports ~1.0 for me now. Progress!

[2016-08-22 19:33] metajack commented on #12354
@jdm So that's still just over 3x slower?

[2016-08-22 20:30] jdm commented on #12354
Correction, with LTO enabled I get ~0.9.

[2016-08-22 20:37] jdm commented on #12354
As far as the timings for tests/html/bindings_perf.html, the situation compared with Gecko is much better:
[code]
[code]
This might only need #12357 to make a big difference for the testcase here.
[code]

[2016-08-22 20:40] jdm commented on #12357
[code]

[2016-08-22 20:44] KiChjang commented on #12972
Is this what [http_network_or_cache_fetch](https://fetch.spec.whatwg.org/#http-network-or-cache-fetch) would essentially use?

[2016-08-22 21:00] jdm opened #12977 "Proxy objects don't trace their expando objects"
This seems bad!

[2016-08-22 21:10] jrmuizel commented on #12973
For this to be a valuable experiment for the gecko-webrender integration it's important for the implementation to be as webrendery as possible.

A basic sketch of what this would like is as follows:
- Add add_geometry, remove_geometry functions similar to the current add_image, remove_image functions
- Add svg_geometry, svg_text, svg_effects display items
- Geometry would be rasterized cpu side (b

[2016-08-22 21:22] jdm commented on #12977
Actually, I think this is fine because the expando object is stored as a JSVal in a reserved slot (ie. it should be traced automatically).

[2016-08-22 21:22] #12977 closed

[2016-08-22 21:41] glennw commented on #12973
That seems like a reasonable way forward. @jrmuizel I think when we last discussed this you suggested that we could use something "off the shelf" for the geometry rasterization part?

[2016-08-22 21:44] metajack commented on #12973
@jrmuizel I like that plan.

[2016-08-22 21:52] jrmuizel commented on #12973
For now, it's probably best just to use Skia or Cairo for the geometry rasterization part. Both of these have fairly fast software rasterizers and support stroking and dashing

In the future we could experiment with something more sophisticated like Direct2D's rasterize to geometry approach or something else. However, that work is relatively well contained and as long as the majority of webcontent

[2016-08-22 21:56] jdm opened #12978 "Support OverrideBuiltins WebIDL annotation"
Specification: http://heycam.github.io/webidl/#OverrideBuiltins
Used in: HTMLFormElement.webidl, Document.webidl, DOMStringMap.webidl

Filing to keep track of it; I don't think it's a high priority to implement this.

[2016-08-22 22:02] jdm commented on #12972
Precisely.

[2016-08-22 22:13] jdm opened #12979 "firstChild getter test runs 100x slower after first two runs"
To reproduce, run `./mach run tests/html/bindings_perf.html` and press the `measure firstChild getter` button three times. The first two times, I consistently see sub-1ns measurements. Subsequently, I see 15-20ns measures. This is completely reproducible for me every time I run Servo.

[Testcase source](https://github.com/servo/servo/blob/1911606e5c7d81e41b79fa25c41b1d7def7aef62/tests/html/binding

[2016-08-22 22:27] gaby2300 commented on #12125
Hi, I just installed the build from https://download.servo.org/nightly/windows/servo-latest.msi
Fortunately no incompatibilities.
It took several minutes to load a white window with a screenshot containing Servo related information. No way to open new tabs. Is this the expected? Thanks!

[2016-08-22 22:32] jdm commented on #12357
Servo master + a real implementation of `shadow_check_callback` yields 41.4ns, which is ~1.6x slower than Gecko.

[2016-08-22 22:35] metajack commented on #12125
It sounds like it loaded the servo homepage instead of browser.html. Anyone else having the same issue?

[2016-08-22 22:37] gaby2300 commented on #12125
I think it may be so. The window's title is: http://servo.org/ - Servo

[2016-08-22 22:44] elahn commented on #12125
No, I just installed the latest build and for me the behaviour is still the same as in this [video](http://elahn.com.au/uploads/Servo%2019_08_2016%206_19_56%20PM%20(compressed).mp4), showing browser.html with most elements not rendered. (Win10)

[2016-08-22 22:50] metajack commented on #12125
@gaby2300 Inspect the properties of the servo shortcut and see what the command line arguments are. They should be `-w --pref dom.mozbrowser.enabled --pref shell.builtin-key-shortcuts.enabled=false browserhtml\index.html`. If that looks fine, please check that in the same dir as servo.exe there is a browserhtml folder with some HTML and JS and such in it.

[2016-08-22 23:01] jdm commented on #12354
Unfortunately, I still get 0.8-0.9 with #12980 applied.

[2016-08-22 23:16] gaby2300 commented on #12125
@metajack  The command line for the Servo shortcut seems to be: "C:\Program Files\Mozilla Research\Servo Tech Demo\". I don't think it's what you asked for.
I don't have a folder named Servo, just a Servo Tech Demo one containing the Servo Tech Demo shortcut only.

[2016-08-22 23:25] #12948 closed

[2016-08-22 23:39] gaby2300 commented on #12125
@metajack Please disregard the last part of my earlier post! There is a Sevo Tech Demo folder. It contains the servo.exe file and the browserhtml folder which has a index.html file, and 2 folders components and css
BTW, I run servo.exe again. This time I got a light grey window for a few seconds, then it displayed a white one with a lot of Servo related info and links for a few seconds, then it we

[2016-08-23 01:15] saurvs commented on #12967
The HTML standard [says](https://html.spec.whatwg.org/multipage/infrastructure.html#dates-and-times) that it's date-time format is a subset of ISO8601 but also specifies it's own parsing rules (RFC3339 does the same thing). So in that case we'll have to write our own parser :). I'd like to work on it.

[2016-08-23 01:17] #3030 closed

[2016-08-23 01:18] KiChjang commented on #12967
Also note that I've filed a bug on WHATWG about the "machine equivalent" wording here: whatwg/html#1702.

@saurvs In any case, you have dibs on the issue!

[2016-08-23 01:43] rzambre opened #12982 "Disabling SSL verification for experimental purposes"
In the past when I had to disable SSL verification (to use with Googles' web-page-replay framework) to collect repeatable page-load measurements, I had to comment out https://github.com/servo/servo/blob/9c713cb4688f1a1729ada64846fac2d8426b1ef4/components/net/http_loader.rs#L67-L70 and it worked fine.

I see that create_http_connector() has moved to components/net/connector.rs and so commented out

[2016-08-23 01:49] jdm commented on #12982
https://github.com/servo/servo/blob/master/components/net/connector.rs#L55 perhaps?

[2016-08-23 02:11] rzambre commented on #12982
Yupp, that worked pretty well. Stupid me didn't scroll down enough. Thanks!
Solution to disable SSL verification: comment out  https://github.com/servo/servo/blob/master/components/net/connector.rs#L32-L36 + https://github.com/servo/servo/blob/master/components/net/connector.rs#L55

[2016-08-23 02:11] #12982 closed

[2016-08-23 02:36] bzbarsky opened #12984 "Can't compile dev and release in parallel"
STEPS TO REPRODUCE:
1. Pull servo
2. `./mach fetch`
3. In one terminal, `./mach build --dev`
4. In another terminal, `./mach build --release`

EXPECTED RESULTS: Both build in parallel

ACTUAL RESULTS: The release build says "`Blocking waiting for file lock on the git checkout`" until the dev build finishes.

I would expect all the git stuff to be done if mach fetch has run.

[2016-08-23 02:37] bzbarsky commented on #12979
Are those times in a clean tree?

At first glance, looks like servo implements enough of the [Pure] annotation stuff to mark the getter as movable, but not eliminatable (that's https://github.com/servo/servo/issues/10991 and I have no clue why that wasn't ddone offhand).  That means that in a clean tree, with that property marked [Pure], I would expect Ion to loop-hoist the get and the loop to jus

[2016-08-23 02:38] bzbarsky commented on #12979
Oh, and if the times are with the [Pure] annotation removed, then I have no idea what's going on, sorry.

[2016-08-23 02:43] jdm commented on #12984
I suspect this is an implementation limitation in Cargo.

[2016-08-23 02:49] jdm commented on #12979
Yes, those times are a clean tree.

[2016-08-23 04:54] Manishearth opened #12987 "Intermittent timeout in /css21_dev/html4/font-matching-rule-009.htm"
[code]

[2016-08-23 05:52] shinglyu opened #12988 "Run the page load performance test in CI"
@larsbergstrom @edunham @aneeshusa

My server's harddrive corrupted this weekend, so I feel we should start running `etc/ci/performance` in the CI rather then my computer.

Here are some concerns and I would like to hear your opinions:
1. The performance test needs a dedicated environment, if other tests are running at the same time, the performance measurement won't be accurate
2. We probably don

[2016-08-23 05:53] shinglyu commented on #12988
FYI, it only runs on Linux right now.

[2016-08-23 05:55] paulrouget commented on #12988
On Mac, GNU date and Python 3 are required. And then some python code fails for some reason.

[2016-08-23 06:25] glennw commented on #12286
This will be fixed when https://github.com/servo/webrender/pull/361 lands in servo master.

[2016-08-23 06:37] #12961 closed

[2016-08-23 08:04] nical commented on #12973
Since I am mentioned here, the SVG work I have been doing is in the [lyon repository](https://github.com/nical/lyon). For now it mostly does one thing: provide tools to build and tessellate flattened path fill operations. It only generates triangles, and the renderer using it is responsible for uploading/displaying the geometry. I am very happy with the how the [tessellator](https://github.com/nic

[2016-08-23 08:14] Ms2ger commented on #12973
It's my understanding we should be working from https://svgwg.org/svg2-draft/

[2016-08-23 08:17] Ms2ger commented on #12974
For the `SVGElement` type, we'll need to:

* add `components/script/dom/webidls/SVGElement.webidl` based on <https://svgwg.org/svg2-draft/types.html#InterfaceSVGElement>
* add `[Pref="..."]` to the interface
* add an implementation of the interface at `components/script/dom/svgelement.rs`
* add a case to `create_element` in `components/script/dom/create.rs`, behind a `PREFS.get("...").as_boolean()

[2016-08-23 08:29] #12885 closed

[2016-08-23 08:30] paulrouget commented on #12885
Should work with tomorrow's nightly.

[2016-08-23 08:50] nox commented on #12920
@jdm Great. What's the lifetime for the paint threads in all that? They don't run in the same process as layout right? So we need to have life font handles in two separate processes, am I wrong?

[2016-08-23 10:21] #12856 closed

[2016-08-23 11:43] Manishearth opened #12992 "ServoBindingList.h (Servo_*) binding generation isn't type safe"
When bindgen is run on ServoBindingList.h, it spits out an extern C block full of `Servo_*` function declarations in bindings.rs

These functions are defined in `glue.rs`.

There's nothing stopping the declarations from having different signatures from the definitions. Which means that any safety measures we introduce are easy to accidentally circumvent by picking the wrong type.

We should either

[2016-08-23 12:06] canaltinova commented on #12690
I want to work on this.

There are 2 Position structs right now. One is computed and other one is specified.
Should we change these structs as you mentioned in your first comment or should we calculate them to reflect `left x top x` position like Gecko does, I suppose?

I don't understand what you mean by this exactly. You mean we should serialize this `right 0% left 20px`  as `left %100 left 20px

[2016-08-23 12:15] Manishearth commented on #12690
I think we want the specified Position to be the way I listed above. The computed one can be left as-is -- the keyword specified values can be computed into `calc()`s, which is what gecko does.

Ignore omitting unnecessary values for now.

[2016-08-23 13:04] bzbarsky opened #12995 "Switching from building without debug-mozjs to building with fails to link"
STEPS TO REPRODUCE:
1. `./mach build --dev`
2. `./mach build --dev --debug-mozjs`

EXPECTED RESULTS: build works

ACTUAL RESULTS: Link failures like this:

[2016-08-23 13:04] nox commented on #12995
Caused by https://github.com/servo/mozjs/issues/97.

[2016-08-23 13:30] nox opened #12996 "Change starting line of scripts from 0 to 1"
The first line of a script should be line 1, not line 0.

The `0` in the `CompileOptionsWrapper::new` call in `ScriptHelpers::evaluate_script_on_global_with_result` in `components/script/dom/window.rs` should be changed to `1`.

[2016-08-23 13:30] highfive commented on #12996
Please make a comment here if you intend to work on this issue. Thank you!

[2016-08-23 13:55] jdm commented on #12920
Correct, paint and layout threads run in different processes, but should have approximately the same lifetime.

[2016-08-23 15:55] metajack commented on #12920
Paint threads will not exist once WR becomes the only renderer. And the WR renderer will have basically a static lifetime.

[2016-08-23 16:07] nox commented on #12920
@metajack Will the WR renderer need to do things with fonts, or will everything that is font-related live in layout?

[2016-08-23 16:08] highfive commented on #12988
cc @aneeshusa

[2016-08-23 16:08] metajack commented on #12920
WR needs font data to rasterize glyphs. Layout needs font data to determine where glyphs will appear and to calculate inline length. They both need it for different purposes.

[2016-08-23 16:11] metajack commented on #12988
This sounds perfect for a nightly job that spins up a dedicted EC2 instance and shuts down afterward. If the test takes less than an hour, this will cost us like $1-2/day and should have predictable performance.

[2016-08-23 16:21] nox commented on #12920
So we need an invalidation mechanism in WR too, right? Doesn't that mean that at least part of the font cache (and probably HTTP cache) need to live outside of Servo, given WR itself lives outside of Servo?

[2016-08-23 16:24] metajack commented on #12920
WR will in theory be in another process.

I suppose we can either a) put the cache in the privileged process or b) put a cache in each process. In the (b) option, we'd just send the font data along with the display list and WR could cache it there. Or if the font is local font, we could just send an identifier so it can be loaded there and then cached.

cc @glennw @pcwalton

[2016-08-23 17:54] metajack commented on #12984
`./mach fetch` and the cargo infrastructure to support offline compilation are pretty new. The lock was required back when multiple cargo's might be doing git operations, but in this case it seems like all the right stuff is already segregated or disabled, so in this case parallel execution could be allowed.

I suggest filing a feature request on cargo to disable the lock in this mode.

[2016-08-23 19:10] jdm opened #12999 "Remove unnecessary clone from ServiceWorkerManager::prepare_activation"
Right before returning from `prepare_activation`, we clone `scope_url` and pass the result to a function. This is redundant; we should be able to pass `scope_url` without cloning it.

Code: `components/script/serviceworker_manager.rs`

No need for automated tests; if it builds, it's good enough for a PR.

Note: This is reserved for the upcoming Taiwan Code Sprint; please do not work on it.

[2016-08-23 19:16] jdm opened #13000 "Stop using a fake PipelineId value when calling handle_network_event"
There's a TODO comment in the code that handles `ChromeToDevtoolsControlMsg::NetworkEvent` explaining that we should use a real pipeline ID value, rather than `PipelineId::fake_root_pipeline_id()`. Since both `HttpRequest` and `HttpResponse` contain pipeline ID values, we can now do this.

Code: `components/devtools/lib.rs`, `components/devtools_traits/lib.rs`

Note: This is reserved for the Taiwa

[2016-08-23 19:16] highfive commented on #13000
cc @fitzgen

[2016-08-23 19:17] jdm commented on #8953
No longer blocked.

[2016-08-23 19:17] jrmuizel opened #13001 "Servo doesn't seem to support multiple backgrounds"
The following html has no background:
[code]

cc @pcwalton

[2016-08-23 19:20] jdm commented on #13001
#12945 merged 14 hours ago; are you using a revision more recent than that?

[2016-08-23 19:22] jrmuizel commented on #13001
When are the nightlies updated?

[2016-08-23 19:31] #13001 closed

[2016-08-23 19:31] jrmuizel commented on #13001
duplicate of #12945

[2016-08-23 20:07] bholley commented on #12992
Yeah, we get a _little_ bit of safety right now because LLVM crashes if the signatures differ too much (or at least, it did last I checked, which was probably March). :-P But I agree something systematic would be better. Open to doing it however you think is best.

[2016-08-23 21:11] cjm00 commented on #12996
I'd like to work on this issue but am new to contributing to open source projects and would appreciate having someone to ask questions about the process.

[2016-08-23 21:24] jrmuizel opened #13003 "Implement border-image"
This exposes repeating of subimages something that's not currently supported in webrender.

[2016-08-23 21:29] glennw commented on #13003
Relevant links:

https://developer.mozilla.org/en-US/docs/Web/CSS/border-image
https://drafts.csswg.org/css-backgrounds-3/#border-image

[2016-08-23 21:41] #12602 closed

[2016-08-23 21:46] jdm commented on #12996
@cjm00 You're welcome to ask questions here, or our [mailing list](https://www.mozilla.org/en-US/about/forums/#dev-servo), or our [IRC channel](https://wiki.mozilla.org/IRC) (#servo).

[2016-08-23 21:58] jdm commented on #7663
We support this.

[2016-08-23 21:58] #7663 closed

[2016-08-23 23:02] glennw commented on #12286
Fixed by https://github.com/servo/servo/pull/13002

[2016-08-23 23:02] #12286 closed

[2016-08-24 00:12] rzambre opened #13006 "Routing Servo's HTTP/HTTPS traffic to local ports?"
Is there currently a way to route Servo's HTTP/HTTPS traffic to some local ports, say localhost:x, localhost:y? If not, what files need to played around with to incorporate such a feature? The idea is to set up port-forwarding between the Mac and the Android device using ```adb reverse``` but first I need to be able to configure Servo to forward its HTTP/HTTPS traffic to device-ports.

In particul

[2016-08-24 02:25] rzambre opened #13007 "Issue with packaging for Android"
I am working with the Servo-repo's head pointing to commit d6266c7cee0a8abb1d0f98ac183f744bcc925697 (just before the Android-builds broke mid-July)

I disabled the SSL verification by commenting out the required lines (#12982). The build was successful but when I run ```./mach package --release --android``` it fails. I enabled SSL verification and ran into the same error.

/Users/rzambre/Library/A

[2016-08-24 03:02] shinglyu opened #13008 "Page load performance followups"
In order not to spam the issue tracker, I'm collecting all the followup tasks for `etc/ci/performance` (i.e. the [servo-perf](https://github.com/shinglyu/servo-perf/issues) runner) here. Most of them are pretty easy, so feel free to open a bug for each item and work on it.

## Easy

* Add a expected timeout flag for our manifest
* Refactor the `print()` to python `logging`
* Discard the first 20%

[2016-08-24 03:14] Manishearth commented on #12992
Not really sure how to add it to bindgen without adding servo-specific code. We could make it generate tests for functions that share a prefix I guess. Or perhaps tell it to special-case functions found in that specific header file (maybe generate bindings_servo.rs?). We would then need to tell it where to find the functions to compare it with, though a glob import works. Still, it would be highly

[2016-08-24 04:49] bzbarsky opened #13010 "console should be a namespace, not an interface instance"
In particular, `console.log` should not require a particular `this` value.

[2016-08-24 04:51] bzbarsky commented on #13010
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1270601 and https://bugzilla.mozilla.org/show_bug.cgi?id=989619

[2016-08-24 05:02] #12996 closed

[2016-08-24 05:13] bzbarsky commented on #12979
OK, so I think I understand pretty much all the goings on here.  The pieces are:

1. Servo's setup of the global object is buggy and marks it as unoptimizable.  https://github.com/servo/servo/pull/13009 fixes that.
2. Servo's setup of the global object is buggy and puts WebIDL stuff on its prototype, not the object itself.  This is apparently covered by an existing issue, but I sure can't find it.

[2016-08-24 05:29] ashrko619 commented on #12972
I'd like to have a crack at this :)

[2016-08-24 05:34] techtonik commented on #12125
Is it because Rust is not that cross-platform in the end?

[2016-08-24 05:42] Eagle3386 commented on #12125
I hope it's because Mozilla finally agrees that such old platforms must die.

x64 has so many advantages over its little brother that I can hardly imagine any scenario in which a 32 bit build would be sufficient nowadays, let a alone being better in any way.
Also, XP users (except those rare XP-64 users) would be finally forced to upgrade their Windows system in order to use Servo.

[2016-08-24 05:43] ssokolow commented on #12125
@techtonik @Eagle3386

Rust supports 32-bit Win7 as a Tier 1 (MinGW) or Tier 2 (MSVC) platform, so it's probably more "because it's a hassle to target Windows XP and Vista in an automated way and has low return on investment".

As I remember, that's a rough paraphrase of the reasons why Rust's XP targeting support is [Tier 3](https://forge.rust-lang.org/platform-support.html).

[2016-08-24 05:47] Eagle3386 commented on #12125
So, I was partly right - XP sucks and Servo won't support sucking technology. Well done, Mozilla! 👍

[2016-08-24 05:49] retep998 commented on #12125
@ssokolow `i686-pc-windows-msvc` is tier 1. It is only `i586` which is tier 2.

I'm pretty sure Servo already relies significantly on OS functionality which doesn't exist on XP, so I think that ship has sailed unless someone wants to put in the effort to make it all work on XP, which I doubt anyone is willing to do. Besides, as others have pointed out XP is not worth the cost of supporting.

[2016-08-24 05:54] ssokolow commented on #12125
@retep998 I'm looking at the [platform support page](https://forge.rust-lang.org/platform-support.html) for Rust and I see only three Tier 1 targets for Windows:

[code]

[2016-08-24 05:58] retep998 commented on #12125
@ssokolow That disagrees with what I see in the [rust book](https://doc.rust-lang.org/book/getting-started.html#tier-1).

[2016-08-24 06:40] ssokolow commented on #12125
@retep998 Huh. Yours is probably correct then.

[2016-08-24 06:41] KiChjang commented on #12972
@ashrko619 Are you sure? You need to be familiar with the entire Fetch infrastructure and caching.

[2016-08-24 07:11] Ms2ger opened #13011 "Check the return value of JS_SplicePrototype"
Noticed in review of #13009. I hope we can assert it never fails, because I don't have a clue what do otherwise.

CC @jdm @bzbarsky

[2016-08-24 07:26] bzbarsky commented on #13011
Hmm.  For non-singletons it just calls JS_SetPrototype, so can fail in the same cases.  But all globals are singletons (see `GlobalObject::createInternal` which passes `SingletonObject` as the `NewObjectKind`).

For singletons it can fail on OOM, looks like.  For example, the shape allocation can fail.

Gecko just treats failure to JS_SplicePrototype the same way it treats any other failure in set

[2016-08-24 08:17] heftig commented on #12931
I have a similar issue here; The `FontCacheThread` spins and strace shows it walking the Noto CJK fonts, very slowly, opening them multiple times even.

[2016-08-24 11:11] samuknet opened #13013 "IFrame in fixed div scrolls down with page, when it should stay fixed."
When an IFrame is in a fixed div container, scrolling down the page causes the IFrame to be 'scrolled' too, when it should remain in place due the div being CSS `position:fixed;`

Online test case [here](https://samuknet.github.io/test_cases/iframeFixedOnScrollingPage/index.html).

[2016-08-24 11:23] nox commented on #12920
@pcwalton It seems that on IRC you mentioned we could make a Weak-like version of OsIpcSharedMemory, especially with mach ports, but I don't see how you can get notified that a `vm_allocate`'d blob has been freed by everyone.

[2016-08-24 13:02] jdm commented on #12972
@ashrko619 I'm not going to stop you from working on it, but I highly recommend discussing your implementation plan here.

[2016-08-24 13:05] jdm commented on #12979
I also have not been able to find an issue covering the global object properties. It's definitely known, since we've discussed it in the past, and we intend to fix it.

[2016-08-24 13:07] jdm commented on #12979
Aha, I was remembering #4593, which claims that it was fixed by #8954 but clearly was not.

[2016-08-24 13:08] jdm commented on #4593
This was not fixed.

[2016-08-24 13:08] jdm commented on #4593
According to https://github.com/servo/servo/issues/12979#issuecomment-241959407 this is hurting our performance, too!

[2016-08-24 13:09] nox commented on #4593
Oh, looking.

[2016-08-24 13:15] #11609 closed

[2016-08-24 13:19] jdm opened #13015 "Fixed divs are missing with webrender enabled"
[code]
yields a white screen with webrender enabled.

cc @glennw

[2016-08-24 13:21] jdm commented on #13013
Note, this only reproduces without webrender enabled. I filed #13015 about how webrender breaks this in totally different ways.

[2016-08-24 14:14] jdm commented on #13006
There is no current mechanism to do this. What you would likely need to do is modify https://dxr.mozilla.org/servo/rev/5bafa1ba1d71a80bbc2981cd3115e6fe641e8ce4/components/net/http_loader.rs#754 to replace the port in the URL that's going to be resolved with the redirected port as appropriate.

[2016-08-24 14:17] bzbarsky opened #13018 "servo crashes during startup when forwarding X over SSH"
STEPS TO REPRODUCE:
1.  ssh from a Mac to a Linux box.
2. git clone servo.
3. `./mach build --dev`
4. `./mach run --dev`

EXPECTED RESULTS: It works.

ACTUAL RESULTS: A window pops up, then disappears and the terminal shows:

and then a stack backtrace (twice) and then:

The stack backtrace shown is:

@glennw, is this setup expected to work?

[2016-08-24 14:19] bzbarsky commented on #13018
Oh, those two lines about Xlib/libGL are shown _before_ the window appears.  So we manage to get the window up after those, at least.

[2016-08-24 14:47] Ms2ger commented on #13010
Would be nice to have a spec too ;)

[2016-08-24 14:52] Ms2ger commented on #13011
If it's just OOM for globals, a panic would be fine.

[2016-08-24 15:13] bzbarsky commented on #13010
There's most of a spec.  See https://github.com/heycam/webidl/pull/121 but note the issue described in https://github.com/whatwg/console/issues/3#issuecomment-219549472 which we solved in Gecko by adding an extended attribute for namespaces to opt in to the "have an extra object on the proto chain" behavior and using it for console.