[2016-03-18 08:35] mmatyas commented on #6327
So now that we have automatic ARM32/ARM64 builds (servo/saltfs#239), I guess it's safe to close this.

[2016-03-18 08:35] #6327 closed

[2016-03-18 08:40] veirus commented on #10052
I see. Guess i should close it for now.

[2016-03-18 08:40] #10052 closed

[2016-03-18 08:45] andrewguertin commented on #9555
Changing `bytes_per_fragment` at https://github.com/servo/ipc-channel/blob/master/platform/linux/mod.rs#L228 to a hardcoded value of 8000 makes pages load (though slowly, unsurprisingly). The calculated value with the current code seems to be a little over 212000.

[2016-03-18 09:02] bobchao commented on #7762
It works for me :/ don't know why.

<img width="605" alt="2016-03-18 17 00 46" src="https://cloud.githubusercontent.com/assets/168931/13873228/057a13cc-ed2b-11e5-982f-cd68c11941ff.png">

The testcase below might work, maybe you wanna try it on your machine? @mdinger

[code]

[2016-03-18 10:10] Ms2ger opened #10071 "Android CI should not be wgetting things off openssl.org"
That causes funny things like

[code]

[2016-03-18 10:24] cengizIO commented on #10071
Maybe we should implement a way to get it from official mirrors instead https://www.openssl.org/source/mirror.html

[2016-03-18 10:26] dati91 commented on #9392
A quick update:
The first part of the implementation landed: https://github.com/servo/servo/commit/e7d70cfabf5ad412045fd4088379afd1bedfaece

The low level bluetooth api code can be found here: https://github.com/servo/devices

Currently working on the middle layer (ipc_channel) communication which will connect the two: https://github.com/szeged/servo/tree/bluetooth-ipc

[2016-03-18 10:57] #9992 closed

[2016-03-18 11:10] Ms2ger opened #10072 "Implement FrozenArray"
Filing for reference; I definitely don't expect us to implement this before Gecko (<https://bugzilla.mozilla.org/show_bug.cgi?id=1236777>).

[2016-03-18 11:12] Ms2ger opened #10073 "Implement NavigatorLanguage::languages"
Depends on #10072. (This implies we will not fix this issue in the near future.)
- Spec: https://html.spec.whatwg.org/multipage/#navigatorlanguage.
- Code: `components/script/dom/webidls/Navigator.webidl`, `components/script/dom/navigator.rs`, `components/script/dom/webidls/WorkerNavigator.webidl`, `components/script/dom/workernavigator.rs`.
- Tests: to be written, as far as I know.

[2016-03-18 11:39] #9357 closed

[2016-03-18 11:40] dati91 commented on #9392
Depends on: https://github.com/servo/servo/issues/10072 ( https://webbluetoothcg.github.io/web-bluetooth/#dom-bluetoothdevice-uuids )

[2016-03-18 13:22] yoava333 commented on #9985
I'm running 10.11.3, but I don't this it's related. @jdm could you look what's you limit value?
mine is 256, when I raise this number to 1000 I don't get the panic.
[code]

[2016-03-18 13:49] jdm commented on #9985
[code]

[2016-03-18 13:58] Arthur2e5 commented on #10045
This problem is in a form somehow like this [libgdiplus bug](https://bugzilla.xamarin.com/show_bug.cgi?id=39418) (well, in the `"Sans"` case), where libgdiplus didn't consider any possible extra fontconfig substitutes and only used the first match. Some system-based fallback is necessary…

As a temporary hack, perhaps `last_resort_font_families()` can be set according to glyph coverage instead? It

[2016-03-18 14:19] Ms2ger opened #10077 "Update to bitflags 0.5."
And remove it from the list of exceptions in `python/tidy.py`, to which I added it in #10076.

[2016-03-18 14:56] jdm opened #10078 "Intermittent timeout in /websockets/constructor/018.html"
[code]

[2016-03-18 15:19] bvdeenen commented on #7722
I have the same bug on servo e551ea73226404152e02c3445f4f91e639bf66ce

My software

    Ubuntu 14.04.4 LTS
    VGA compatible controller: Intel Corporation Broadwell-U Integrated Graphics (rev 09)

What else would you like to know?

[2016-03-18 16:07] lygstate opened #10080 "Make sure appveyor.yml at least running a single testcase"
For example, open a demo html and output & compare

[2016-03-18 20:05] timvandermeij commented on #9949
Fixed by #10014?

[2016-03-18 20:23] #9949 closed

[2016-03-18 20:34] notriddle commented on #10056
Do we need to have some sort of sensible behavior if browser.html itself tries to show a modal popup?

[2016-03-18 20:41] jdm commented on #10056
Yeah, that would be the same as some random website performing the same action in non-browser.html.

[2016-03-18 20:43] jdm commented on #10056
In terms of Servo's current abilities, we have no support for multiple windows yet. IIRC [miniservo-gtk](https://github.com/glennw/miniservo-gtk/) supported multiple tabs by instantiating a new Constellation for each tab.

[2016-03-18 21:15] yoava333 opened #10083 "input / textarea - mouse interaction doesn't work"
clicking on a specific position doesn't move the cursor to that specific position.
selection with the mouse doesn't work

[2016-03-18 21:17] jdm commented on #10083
Pretty sure the reason I didn't implement this original was that figuring out the correspondence between click position and text character index is complicated for non-monospace fonts.

[2016-03-18 23:58] mdinger commented on #7762
I'll try it again. It might work now since it was 6 months ago.

[2016-03-19 00:18] GuillaumeGomez commented on #9280
The new field is for the string representation or to find the associated `NonCallbackInterfaceObjectClass`?

[2016-03-19 00:46] mdinger commented on #7762
I'm not sure if the icons work because that website doesn't load. Here is mdn in servo:

![mdn](https://cloud.githubusercontent.com/assets/4156987/13895513/48b1e272-ed4a-11e5-8176-02a978ad2036.png)

The testcase is odd too in both browsers. I'm not sure what to make of it:

![icon](https://cloud.githubusercontent.com/assets/4156987/13895484/12a1dd04-ed4a-11e5-8328-900bcfc58031.png)

[2016-03-19 02:21] pcwalton commented on #10050
@paulrouget It's what immediately comes to mind, but it could be a ton of other things. Won't know without a profiler.

[2016-03-19 03:52] frewsxcv commented on #6871
This no longer seems to be an issue.

[code]

[code]

[2016-03-19 03:52] #6871 closed

[2016-03-19 03:52] frewsxcv commented on #6911
This no longer seems to be an issue.

[code]

[code]

[2016-03-19 03:52] #6911 closed

[2016-03-19 04:36] frewsxcv commented on #7193
This compiles fine:

[code]

Is this issue still valid?

[2016-03-19 04:41] pcwalton commented on #10083
@jdm The text run glyph stores should have enough info to do it.

[2016-03-19 04:43] pcwalton commented on #10030
I get "Video can't be played because the file is corrupt." for that.

[2016-03-19 06:14] UtherII commented on #10030
Strange it works for me on Firefox and VLC. Does this one works better?
http://spaceman.23.free.fr/resize.ogv

[2016-03-19 07:27] slayerjain commented on #10078
@jdm  can i try this as my first bug?

[2016-03-19 09:06] tyoc213 opened #10089 "failed to unpack servo-skia-0.20130412.6 on Mingw64 Win 10 build"
I there Im trying to compile servo on win under MINGW64 at 24bb607 maybe some packages have been downloaded (dont know if all habe been downloaded)

[code]

The only other reference I could find for skia is #9442 but it is about spaces... and it seems that  this path exist but it have 0 files:

[code]

[2016-03-19 09:53] boghison commented on #7193
Idk

[2016-03-19 10:12] Ms2ger commented on #9280
The new field is for the string representation.

[2016-03-19 10:50] adamncasey commented on #4144
On Windows, quite a few ASCII key events (e.g. :~@;'# ) aren't assigned virtual key codes in glutin. Servo currently ignores all key events which don't have a virtual key code.
https://github.com/servo/servo/blob/84d3ba075977c55d226bd6b70d695a292b2329c9/ports/glutin/window.rs#L199

Should I file a separate bug for this problem, or will the work here address this?

[2016-03-19 12:20] nox commented on #7193
@frewsxcv https://github.com/servo/heapsize/pull/22

[2016-03-19 12:23] Jayflux commented on #9989
Ive deleted the target folder, pulled from master and rebuilt
Now its building but i get:
Servo exited with return value 127

@larsbergstrom How do i debug this again?

[2016-03-19 13:31] nightwalkerkg commented on #9989
@Jayflux that happened to me when i open the page as www.google.com instead of http://www.google.com

[2016-03-19 13:42] larsbergstrom commented on #9989
@Jayflux I usually only see 127 when the `PATH` is incorrect and we pick up an incompatible msys binary.

@nightwalkerkg that's very interesting! I haven't seen that.

[2016-03-19 14:25] frewsxcv commented on #7193
@nox So this can be closed?

[2016-03-19 14:25] nox commented on #7193
I think so.

[2016-03-19 14:25] #7193 closed

[2016-03-19 14:33] jdm commented on #10078
This is not a good first bug, sorry. We've diagnosed the problem in one of the other issues about websocket timeouts, but don't know the solution yet.

[2016-03-19 14:36] jdm commented on #10030
The original works in Chrome.

[2016-03-19 15:00] slayerjain commented on #10078
then can you please help me find a good first bug?

[2016-03-19 16:54] emilio opened #10091 "Missing `elementsFromPoint` test failures"
PR #10034 implemented `document.getElementsFromPoint`.

There are a few remaining tests that are failing, but probably it's because we don't support neither `window.frames` (aka `Window::IndexedGetter`) properly, nor `<svg>`.

There's a transformed element test which is failing, but I think it's due to us not laying out the previows `<svg>` element properly.

[2016-03-19 16:55] #8351 closed

[2016-03-19 17:02] ecoal95 commented on #4589
Another test affected by this is `cssom-view/elementsFromPoint.html`.

So... This blocks #10091

[2016-03-19 17:03] ecoal95 commented on #10091
Blocked by #4589, among others.

[2016-03-19 17:14] bobthekingofegypt commented on #9803
I've been trying to recreate this issue outside of Servo, I've created a repo with a test case that seems to trigger lock-ups on my machine.  Could someone please check it out and give it a go.  Apologies for the convoluted process but I can't make it happen reliably.

https://github.com/bobthekingofegypt/servo-cookie-inter

It may take a while to trigger, usually takes a few minutes on my machine

[2016-03-19 17:17] emilio opened #10093 "Don't crash when calling `nodes_from_point` without a document element"
Right now, the function `Document::nodes_from_point` is called when using `document.elementsFromPoint`.

That function asserts that there should be a document element to run, and crashes if not. It should return an empty vector in that case, preferrably issuing a `debug!()` message.

Code:
 * `components/script/dom/document.rs` (the function `nodes_from_point`).

[2016-03-19 17:17] ecoal95 commented on #10091
Also blocked by #10093

[2016-03-19 17:18] rilut commented on #10093
I'd love to work on this

[2016-03-19 17:20] ecoal95 commented on #10093
That was fast, it's yours!

Don't forget to mention (in the case I don't review that PR) that there are no new passing tests due to the reasons described in #10091 :)

[2016-03-19 17:53] ConnorGBrewster commented on #9671
Could I work on this one?

[2016-03-19 19:10] pkondzior commented on #5971
@jdm what is left on this issue ?

[2016-03-19 19:42] rilut commented on #10093
@ecoal95 Hi, actually I think `document.elementsFromPoint` haven't crashed yet, even with the assertion. But, one thing that I've found suspicious is

As you said, this subtest isn't using an iframe and I'm curious whether it can be fixed.

[2016-03-19 21:08] jdm commented on #9671
It's available; unfortunately I can't provide any suggestions for where to start investigating.

[2016-03-19 21:15] jdm commented on #5971
@pkondzior: Everything. We need a client that can connect to the server and assert properties about the messages that it receives, and we also need a way to control the behaviour of Servo. We probably want to do that via the webdriver server.

[2016-03-19 21:51] #8754 closed

[2016-03-19 23:24] Jayflux commented on #9989
@larsbergstrom if i run Servo in debug mode it runs fine
[code]

Why would i get no errors from that but running just ```./mach run tests/html/about-mozilla.html``` returns 127?

[2016-03-20 03:42] dagnir opened #10095 "Servo attempts to parse badcert.html as CSS rules"
When running `RUST_LOG="debug" ./mach -d -- https://ideone.com` I see the following error:

[code]

The message seems to be generated from [components/style/stylesheets.rs#138](https://github.com/servo/servo/blob/master/components/style/stylesheets.rs#L138).

[2016-03-20 04:27] ConnorGBrewster commented on #9671
After doing a bit of digging and messing around. It seems like the issue is that the view scrolls but when looking for element locations, it thinks the elements are where they were before the scroll happens. You can see this by clicking "Go to bottom" and then hovering your mouse where that link was positioned prior to the scroll and you will see that the cursor will change to the hand indicating

[2016-03-20 04:47] ConnorGBrewster commented on #9671
It looks like `self.send_viewport_rects_for_all_layers();` needs to be called by the compositor after the scroll is performed. Doing this in the `perform_updates_after_scroll` function seems to fix the issue, although I am not sure if this is the correct location to call that. Does anyone have any insight on where that should be called?

[2016-03-20 13:25] jdm commented on #10095
Ah, this occurs when there's a stylesheet link that yields an error. There's an open PR to address this.

[2016-03-20 13:33] jdm commented on #9671
Cc @glennw for the last question.

[2016-03-20 15:59] adamncasey commented on #4144
Also, from glancing at the glutin code, X11 virtual key codes are much more specific than Windows / OS X / Wayland(?) - which might explain why some keymaps are OK and some aren't.

X11: https://github.com/tomaka/glutin/blob/master/src/api/x11/events.rs#L5
Cocao: https://github.com/tomaka/glutin/blob/master/src/api/cocoa/event.rs
Windows: https://github.com/tomaka/glutin/blob/master/src/api/win32/

[2016-03-20 19:02] larsbergstrom commented on #9921
I agree with @Ms2ger that the binaries and source code are the more critical bits. There are certain pieces of the dependency chain (e.g., Apple does not provide XCode downloads or versions of their OS for all time) that will make it impossible to exactly reproduce the binary. That said, certainly better logging of the installed versions of libraries (particularly static ones!) that were built aga

[2016-03-20 21:11] KiChjang commented on #8684
Here's how the flow tree looks like for the test:
[code]

[2016-03-20 21:19] KiChjang commented on #8684
A few specific branches are interesting:
[code]
and
[code]
The former creates a new block for the div element, and perhaps that's why it's not inheriting the underline property from its parent inline span element.

The latter though is quite unusual. All 3 text nodes are under the same inline flow, but the last one has the underline property removed. It looks as if the code has accidentally remove

[2016-03-21 01:26] jdm commented on #8684
Have we checked if the problem can be reproduced with incremental layout turned off (`-i`)?

[2016-03-21 02:38] KiChjang commented on #8684
Just checked, the problem still persists even after disabling incremental layout.

[2016-03-21 03:10] jdm commented on #8684
In that case it's probably worth continuing debugging using `-i`, since that rules out various complicated pieces of logic.

[2016-03-21 04:59] paulrouget opened #10098 "Read preferences from a file"
As of today, to set a preference, we need to use `--pref xxx.enabled`.

Now that we can use a profile directory (https://github.com/servo/servo/pull/10087), it would be great to be able to store preferences in a file.

[2016-03-21 05:06] jmr0 commented on #9751
Almost there with this one. Ended up implementing set/getVisible (Browser API) and some of the timer/compositor reactions to Pipeline visibility changes. Need to take a closer look at requestAnimationFrame and add some tests but all the other parts are pretty much complete.

https://github.com/servo/servo/compare/master...jmr0:visibility_api?expand=1

[2016-03-21 05:09] krunal3103 commented on #5970
We are facing some trouble on understanding how to actually start the webdriver client in servo to execute the tests! We tried to test a few cases by using the selenium webdriver and creating a Firefox driver, but aren`t sure how to create one for servo for these tests

[2016-03-21 05:54] paulrouget commented on #9751
@jmr0 is it possible to set the iframe visibility property in `ScriptThread::handle_visible_msg`? Then you won't have to do it in `iframe::SetVisible`.

`GetVisibility` is usually called after the event [`mozbrowservisibilitychange`](https://github.com/paulrouget/mozBrowserAPI/blob/master/BrowserAPI.md#mozbrowservisibilitychange) is received (which will happen in `handle_visible_msg`), so we don't

[2016-03-21 07:10] paulrouget opened #10099 "Make it possible to open links in new tab"
We want to be able to open links in a new tab.

Middle/ctrl/cmd + click on a link should fire a `mozbrowseropentab` event: https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowseropentab

Relevant Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1156615

[2016-03-21 08:26] Ms2ger commented on #10099
Dupe of #10056?

[2016-03-21 08:42] paulrouget commented on #10050
@pcwalton profiler output:
- http://people.mozilla.org/~prouget/bugs/issue10050.svg
- http://people.mozilla.org/~prouget/bugs/issue10050.csv

[2016-03-21 11:35] mmatyas commented on #10024
Also happens on Odroid XU3, using Servo `aa35d772` with ES2 backend.

[2016-03-21 11:38] jmr0 commented on #9751
@paulrouget Yeah that makes perfect sense, I had added that hack to `SetVisible` for now but there's no need to do that if we stick to a sync `GetVisible`. I'll go ahead and make that change.

[2016-03-21 11:52] mmatyas opened #10101 "Add ES2 support to webrender"
Currently webrender requires OpenGL 3.2, which is not supported by many embedded devices, as they use ES 2.0 (GLSL 1.2). What kind of 3.2 specific features Servo uses? Is it possible to add ES2 support?

[2016-03-21 11:53] mmatyas commented on #10101
CC @pcwalton

[2016-03-21 12:25] #9280 closed

[2016-03-21 12:49] ecoal95 commented on #10093
Yes, exactly, `createHTMLDocument` doesn't create a new iframe, but it does append an `<html>` node and a `<body>` node, which are our two nodes.

It seems that we should check if the document is in the viewport before doing hit test.

[2016-03-21 12:51] ecoal95 commented on #10093
Note that the assertion should be changed regardless, that's not what that test is testing (no viewport != no document element).

[2016-03-21 13:11] jdm commented on #10098
I guess they would be applied on top of the ones in resources/prefs.json. We could probably do this by reading both files as JSON objects (eg. BTreeMap), then using the `extend` method on the base preferences to merge the second set in.

[2016-03-21 13:11] jdm commented on #10098
Code: `components/util/prefs.json`

[2016-03-21 13:15] jdm commented on #5970
@krunal3103 There's two main steps - start Servo with the webdriver server enabled (`--webdriver 7000`), and running the python script that uses the client and connects to it (`cd tests/wpt/harness/wptrunner/executors; python /path/to/test.py`). What's the piece that's causing you difficulties?

[2016-03-21 13:19] jdm commented on #10093
You probably want `document.browsing_context().is_some()` instead.

[2016-03-21 13:39] KiChjang commented on #8684
Sorry, did a more thorough test (was on Winodws using Linux VM yesterday), and the results are as follows:

Both the `001-a.html` and `001-ref.html` files are rendered with incremental layout off. For `001-a.html`, the previously described inline-block-inline problem exists, along with the underline removal problem. For `001-ref.html`, only the underline removal problem exists.

[2016-03-21 14:06] krunal3103 commented on #5970
1)Are we supposed to create the test.py under the executors directory or
under tests/webdriver directory?
2)Also the automated tests that we need to write to check the validity of
the url, do we need to just GET and use assert_equals to check what url has
been fetched?
3) the sample code for creating the session, the git page says to keep it
under executors directory. Is that right? We create a se

[2016-03-21 14:11] pcwalton commented on #10101
We deliberately dropped ES2 support for now as it doesn't have things like loops in shaders and instanced drawing that we need.

[2016-03-21 14:13] paulrouget opened #10102 "Implement the Fullscreen API"
https://fullscreen.spec.whatwg.org/

[2016-03-21 14:16] larsbergstrom commented on #10101
There additional discussion of this here: https://github.com/servo/gleam/pull/69

I've certainly already been contacted by companies that make either embedded devices or mobile products who are affected by this decision. The Mali line (https://en.wikipedia.org/wiki/Mali_(GPU) ) in particular seems to be a point of desired support.

[2016-03-21 15:03] jdm commented on #5970
1) The first test.py can be anywhere; it's just for playing with webdriver and experimenting. The actual automated tests you write will live in tests/webdriver.
2) Yes.
3) The webdriver.py that lives in tests/wpt/harness/wptrunner/executors should stay there. The automated testing code should probably start a new instance of Servo and a new session for each test that gets run.

[2016-03-21 15:06] andreastt commented on #5970
The [WPT](https://github.com/w3c/web-platform-tests/) WebDriver specification test harness work is being tracked in https://github.com/w3c/wptrunner/pull/171 (and a few other integrated PRs). It enables Python-based tests to be run across browsers to test the sanity of remote end WebDriver implementations, such as the one in Gecko.

With a little bit more work it can be made to support Servo as we

[2016-03-21 15:17] jdm commented on #5970
@andreastt For context, the questions that @krunal3103 asked were specifically about the initial steps in [the project description](https://github.com/servo/servo/wiki/Webdriver-tests-student-project) I put together. I'm forgoing having them write wptrunner-compatible tests until I understand how it all fits together.

[2016-03-21 15:26] andreastt commented on #5970
@jdm Yes, _any_ testing of the Servo WebDriver server is better than none. I expect it will easy enough to integrate what comes out of this in WPT when the time comes.  I should clarify that what I said above is not on master yet. I can pick up the Servo integration after it lands.

[2016-03-21 15:38] krunal3103 commented on #5970
Thank you for the clarification.
Just one more doubt, after i create a session for each test, how do i get
servo to start? I can do so hy executing the ./mach run --webdriver port
url command, but I'm unsure how do i do that inside a particular test?

On Monday, March 21, 2016, Andreas Tolfsen <notifications@github.com> wrote:

--
Regards,
Krunal Gala

[2016-03-21 15:44] jgraham commented on #5970
That's part of what wptrunner will handle in the future. For now the best thing is probably to write a little bit of code that uses `subprocess` to start/stop servo for each test.

[2016-03-21 15:46] mbrubeck commented on #199
Fixed in #6721 and others.

[2016-03-21 15:46] #199 closed

[2016-03-21 15:46] mbrubeck commented on #798
Fixed by #6721.

[2016-03-21 15:46] #798 closed

[2016-03-21 16:00] SimonSapin opened #10103 "Python version policy"
In response to #10097, I think we should pick what Python versions we want to support for running mach and other scripts. (Python 2.7.11 and 2.7.0 can be considered the same in terms of language/stdlib features, but 3.5.x and 3.4.x are different.)

If we want to support more than one (especially 2.x vs 3.x) we should have CI for each of them, since it’s very easy to regress. This introduce non-neg

[2016-03-21 16:01] pcwalton commented on #8684
Underline is controlled by the magic property `-servo-text-decorations-in-effect` (which is also how WebKit does it). Check the inheritance/cascading semantics of this property.

[2016-03-21 16:02] SimonSapin commented on #10103
CC @larsbergstrom @Ms2ger @jdm @frewsxcv

[2016-03-21 16:08] Ms2ger commented on #10103
We depend on a lot of mozbase/wpt stuff that's py2 only. I've been poking at making those py3-compatible every now and then, but that's not a small task. For now I'd stick to requiring py2.7. (We could try to ensure we use the `__future__` imports that are available, though.)

[2016-03-21 16:09] hfiguiere commented on #10042
If I run ````./servo -o output.png```` I get a white PNG.

[2016-03-21 16:09] krunal3103 commented on #5970
Okay. So basically for each test I'll create a new session and invoke the
browser with the help of wptrunner. Assert the url returned and end the
session. Am I right here?
I had difficulty invoking the browser from within the test.
When i run ./mach run url it opens the url in the browser. How do I open
the browser from within the test after a session is created. Is there any
specific function/met

[2016-03-21 16:14] jdm commented on #5970
What do you mean by "invoking the browser"? When running the automated tests, there will be no need for the user to run Servo separately, since that will be the responsibility of the python code (using `subprocess`, as @jgraham mentioned). The browser will need to be started before a session can be created, since a session involves connecting to the server that is running in the browser. Does that

[2016-03-21 16:23] jgraham commented on #5970
I think the talk of wptrunner has confused the issue somewhat :)

I would write something like:

    class ServoProcess(object):
         def __init__(self)
              self.path = "/path/to/servo"
              self.proc = None

        def __enter__(self):
             self.proc = subprocess.Popen([self.path, "--webdriver", "4000"])

        def __exit__(self, *args, **kwargs):
            sel

[2016-03-21 16:27] frewsxcv commented on #10103
If I were to start a project today, I'd use Python 3. That said, I'd vote to stick with Python 2.7. It's supported until 2020 and moving to Python 3 will result in virtually no benefits to Servo itself.

[2016-03-21 17:00] mbrubeck opened #10104 "Using viewport percentage lengths (e.g. vh, vw) causes unnecessary style recalc on resize"
As mentioned in https://github.com/servo/servo/pull/9876#issuecomment-198583704, Servo currently does more work than necessary to recalculate `vh`/`vw`/`vmin`/`vmax` units when the window size changes. Currently, during parsing, if a stylesheet contains any of these viewport percentage units, we add a `dirty_on_viewport_size_change` to the stylesheet.  When the viewport size changes, if any styles

[2016-03-21 17:09] paulrouget commented on #9918
Can you post this? I'm trying to get the miniaturize/maximize buttons to work, but it requires the app to be properly packaged.

[2016-03-21 17:33] jdm commented on #1979
Harness doesn't exist.

[2016-03-21 17:33] #1979 closed

[2016-03-21 17:34] jdm commented on #7477
This was fixed.

[2016-03-21 17:34] #7477 closed

[2016-03-21 17:34] jdm commented on #9185
Fixed by #10079.

[2016-03-21 17:34] #9185 closed

[2016-03-21 17:35] jdm commented on #7763
Hasn't reoccurred. Not worth leaving this open I think.

[2016-03-21 17:35] #7763 closed

[2016-03-21 17:35] jdm commented on #1184
Harness doesn't exist.

[2016-03-21 17:35] #1184 closed

[2016-03-21 17:36] jdm commented on #1376
I think we've basically accomplished this. No point in leaving it open as written.

[2016-03-21 17:36] #1376 closed

[2016-03-21 17:37] jdm commented on #3211
I'm pretty sure this is not the case any longer.

[2016-03-21 17:37] #3211 closed

[2016-03-21 17:43] jdm commented on #7481
Any progress @AgostonSzepessy? Any questions?

[2016-03-21 17:46] pcwalton commented on #10050
Based on that profile, https://github.com/servo/servo/pull/9947 may help some. But I think we will never get to WebKit's low CPU usage without tiling and invalidation, which I don't really want to do in WebRender yet.

[2016-03-21 17:47] pcwalton commented on #10050
Basically, by updating transform like that you're hitting a fast path in WebKit where it skips all of display list construction and painting. If we have to have 13% CPU, then we'll need to implement all of WebKit's compositing/tiling/invalidation logic. Servo+WebRender is built to have fewer fast paths but also fewer slow paths.

[2016-03-21 17:58] paulrouget commented on #10050
Ok - that's good to know. We have at least two other areas of improvements.
Dropping the P1.

[2016-03-21 17:59] paulrouget commented on #10050
2 issues in question:
- https://github.com/servo/servo/issues/9844
- https://github.com/browserhtml/browserhtml/issues/935

[2016-03-21 19:06] matthewbentley commented on #10098
Can I take this as a first contribution? I looked at the code (especially #10087 and the content of `components/util/prefs.rs` and `components/util/opts.rs`), and the code shouldn't be bad. I'm assuming I would add a `--pref-file <filename>` option? The only thing I'm not so sure about is test(s), but I can start by looking at existing tests.

[2016-03-21 19:37] jdm commented on #10098
@matthewbentley Please do! Instead of taking a new argument, we should look for a `prefs.json` file in the optional profile directory that can already be specified as a command line option.

[2016-03-21 19:38] jdm commented on #10098
In terms of tests, I would write unit tests that demonstrate that the merging of preferences works as expected in `tests/unit/util/prefs.rs`; I don't think we can easily test the actual reading of the files.

[2016-03-21 20:23] pcwalton commented on #10029
75%-80% of the CPU time is in Mac event handling code (either wakeup from one thread or processing the events). Lovely.

[2016-03-21 20:27] pcwalton commented on #10029
By the way, this is always going to take more CPU time than Gecko, because Gecko does not sync to vblank via `swap_buffers()` (the only way to reliably avoid tearing IME) and therefore we have to do more drawing than Gecko does. I don't see any other alternative other than risking tearing.

[2016-03-21 20:39] paulrouget commented on #10029
@pcwalton how are your comments relevant to the memory consumption?

[2016-03-21 20:45] pcwalton commented on #9844
Yeah, so this is another case of Servo's design currently making it impossible to catch up to other browsers here. Safari, Gecko, and Chrome all use `CVDisplayLink` instead of actually synchronizing `requestAnimationFrame()` to `CGLFlushDrawable()` calls. We use `CGLFlushDrawable()` with a swap interval of 1, which means we have to actually redraw the picture every frame on the OS main thread and

[2016-03-21 20:58] AgostonSzepessy commented on #7481
@jdm Yes, I've started writing the code. I've run the wpt-tests and saved the output to a file so I can just `cat` that and feed the output into the program by piping it in. Is that the way that I should do it? Also, should I format it any specific way?

[2016-03-21 21:00] pcwalton commented on #10029
@paulrouget Sorry, commented on wrong bug. These comments were meant for #9844.

[2016-03-21 21:08] paulrouget commented on #9844
This test shows that there's an actual overhead even when drawing: https://gist.github.com/paulrouget/99442585974f6661b7c5

25% CPU without rAF, 55% CPU with rAF.

[2016-03-21 21:14] paulrouget commented on #9860
Most of the CSS used in browser.html is applied via `node.style.*`. Especially in animations.

I would very much like to see if this could improve the performance of our animations.

See https://github.com/servo/servo/issues/10050

Bumping this to bhtml/P2

[2016-03-21 21:15] jdm commented on #7481
That sounds like you're doing the right thing :) Formatting the output in structured JSON or something would be valuable.

[2016-03-21 22:31] KiChjang commented on #10103
Thing is, wer're going to eventually need to migrate over to Python by 2020, so it's just a matter of time that we need to rewrite our Python code to be 3.x compliant.

[2016-03-21 22:40] asajeffrey commented on #8870
Potentially related to #10017.

[2016-03-21 22:42] asajeffrey commented on #9202
Potentially related to #10017.

[2016-03-21 22:42] asajeffrey commented on #9828
Potentially related to #10017.

[2016-03-22 00:01] AgostonSzepessy commented on #7481
And one more thing, do I need to extract the tests don't have status of `FAIL` or `CRASH`? So for example in this file: http://pastebin.com/5t5Na4Yk (the one I'm using), would I need to extract the tests that `TIMEOUT`?

[2016-03-22 00:09] pcwalton commented on #9844
OK, *that* is suspicious. Event handling is expected to be somewhat expensive, but not *that* expensive.

[2016-03-22 00:15] pcwalton opened #10110 "Dynamically switch to sequential layout if only a small amount of reflow needs to happen"
Parallel layout overhead is overkill if only a small number of nodes need to be reflowed. In the extreme case, if one chain of nodes from parent to child needs to be reflowed, then parallel layout cannot help at all since it's sequentialized, and all of the traversal code is pure overhead!

The easiest way to solve this, I think, would be to have an atomic counter of the number of nodes that were

[2016-03-22 00:18] larsbergstrom commented on #10110
@rzambre has been doing a bunch of predictive work here (for more than just the size of the DOM tree, but also metrics around its width at each height) to predict whether parallelism is a payoff.

So far, we've definitely seen that this is a per-architecture decision, but he has a framework and some testing that is gathering a lot of info here. Integrating this into Servo is the planned topic of h

[2016-03-22 00:21] larsbergstrom commented on #9579
Ugh, confirmed that this is still the case. It's blocking rollout of ARM64 :-/

[2016-03-22 00:29] pcwalton commented on #10110
Nice! Paul's work isolating performance issues in browser.html has shown that there should be a real benefit from this area. :)

[2016-03-22 00:30] larsbergstrom commented on #10110
One of the things I'm most excited about here is also just making those gobs of tiny iframes (tracker icons, just a navpane, etc.) only take one thread. We might get CNN.com under 250 threads in one swoop! :-)

[2016-03-22 02:27] glennw commented on #9671
If you look at process_pending_scroll_events(), the perform_updates_after_scroll() is called once for each pending scroll event, but send_viewport_rects_for_all_layers() is only called once after all pending scroll events have been handled.

I don't know this code particularly well, but I guess that's done for performance reasons when multiple scroll events have been queued.

So perhaps the simple

[2016-03-22 05:53] paulrouget opened #10115 "Page is half transparent if used with --no-titlebar"
See also: https://github.com/servo/servo/issues/9877

[code]

Result:

with `-b`:

<img width="897" alt="screen shot 2016-03-22 at 06 45 37" src="https://cloud.githubusercontent.com/assets/373579/13943136/58606d58-effa-11e5-84de-573b276436ab.png">

without `-b`:

<img width="873" alt="screen shot 2016-03-22 at 06 45 54" src="https://cloud.githubusercontent.com/assets/373579/13943137/5860c37a-effa-

[2016-03-22 05:56] paulrouget commented on #10110
Is that a thing that could be done by June?

[2016-03-22 07:07] saneyuki commented on #9156
@jdm

Are you working this?
If you have not begun to work this yet, I'd like to try working this.

[2016-03-22 08:54] nox commented on #7481
AFAIU, we want all unexpected results, be them `FAIL`, `CRASH`, `TIMEOUT` or even `PASS`.

[2016-03-22 09:23] aneeshusa commented on #10103
I'd vote to support Python2.7 for all existing scripts, but require both Python2.7 and Python3 support for all new scripts.

In terms of CI, the buildbot machines all currently have Python 3.4 for their Python3 since they're on Ubuntu 14.04 Trusty; I believe that newer Ubuntu releases have Python 3.5, which is scheduled to become the default system Python in 16.04, the next LTS.

The increased CI

[2016-03-22 09:35] Ms2ger opened #10116 "Catch panics in c-to-rust callbacks"
SpiderMonkey callbacks in particular: we should recover from the panic, return false, have SM pass the uncatchable exception up its callstack, and propagate it back up on the other side.

http://static.rust-lang.org/doc/master/std/panic/fn.recover.html
http://static.rust-lang.org/doc/master/std/panic/fn.propagate.html

[2016-03-22 09:46] mmatyas opened #10117 "mach package does not accept --verbose"
I was trying to build the Android apk, when this happened:

[code]

However,

[code]

[2016-03-22 09:54] mmatyas commented on #10117
Of course, I can run the commands manually, but it would be useful to fix this.

[2016-03-22 11:25] fhahn commented on #9490
Sorry for taking so long to respond. Unfortunately I did not have time to work on this in the last weeks and I won't for a few more weeks. So feel free to give this issue to somebody else :)

[2016-03-22 12:14] matthiaskrgr opened #10118 "browserhtml: crash/hang after resizing window to absurdly small size"
Using i3 allows me to resize windows ignoring any preferences they might have set.
When reducing browserhtml ( ./mach run --release --browserhtml ) to absurd sizes (620x22 px), the window freezes or panics.

[code]

[2016-03-22 12:30] matthiaskrgr opened #10119 "browserhtml: need to press delete 2 times to remove single character from address bar"
Not sure what happens but a single delete is apparently not sufficient, as if there was some kind of invisible character inserted after every letter.

I tried to capture the bug via screen recording.
![output](https://cloud.githubusercontent.com/assets/476013/13951568/287ab372-f032-11e5-9666-44d7538df12a.gif)

[2016-03-22 12:35] paulrouget commented on #10119
Dupe: https://github.com/browserhtml/browserhtml/issues/930

[2016-03-22 12:35] #10119 closed

[2016-03-22 12:51] SimonSapin commented on #10104
The descendants of these nodes may also be affected through CSS inheritance, and likely need to be dirtied as well.

[2016-03-22 12:58] larsbergstrom commented on #10110
I'll talk to @rzambre. We could probably get some very simple heuristics in place pretty quickly based on some of the numbers he's gathered around cutoff points for this metric.

[2016-03-22 13:16] craftytrickster commented on #10073
Do you mind if I take this?

[2016-03-22 13:42] jdm commented on #10073
@craftytrickster See the first sentence of the original comment.

[2016-03-22 13:45] jdm commented on #10116
See also my ramblings in #6462.

[2016-03-22 13:45] craftytrickster commented on #10073
@jdm I'm not familiar with your use of webidl, but can't this at least be partially implemented with a Vector?

[2016-03-22 13:46] jdm commented on #9156
Please do :)

[2016-03-22 13:49] jdm commented on #10073
For #10072 specifically, the main reason to hold off implementing it is that Gecko has not and the FrozenArray feature is really new.

[2016-03-22 13:50] craftytrickster commented on #10073
Thanks for the info, nevermind me taking this then :)

[2016-03-22 14:32] Manishearth opened #10121 "Panic on "No texture page for ID TextureId""
Open https://servo.org in servo (webrender), scroll down, and try to click a link:

[code]

cc @glennw

[2016-03-22 14:33] jdm commented on #10121
Looks like #9931.

[2016-03-22 14:35] #10121 closed

[2016-03-22 14:55] jdm commented on #9931
Seen on servo.org as well.

[2016-03-22 18:03] asajeffrey opened #10124 "Constellation hardening metabug"
We should harden the constellation so that constellation panics are vanishingly rare.

Currently, we have a number of panics that take down the constellation. This should not happen! The constellation code already handles failure messages by replacing the pipeline with about:failure, this should happen for all panics.

Related issues:

* #10017 (has some relevant discussion)
* #9828
* #9724
* #938

[2016-03-22 18:48] asajeffrey commented on #10124
There are four sources of panic in constellation.rs:

1. Lookup failure in the pipeline/frame maps (addressed by PR #10082)
2. Creating new processes
3. Creating new channels
4. Sending/receiving on those channels

The trickiest to deal with is (4). There's already code to handle failure messages in constellation.rs, should we treat errors on send as the same as receiving a failure message?

[2016-03-22 18:49] nox commented on #10124
The Erlang user in me says yes. Constellation should never die.

[2016-03-22 19:00] SimonSapin commented on #9978
What’s going on is that most properties are parsed into abstract data structures. For example colors are (R, G, B, A) tuples of floating point numbers, and `display` is an enum with one variant for each keyword. Whitespace is irrelevant there, and serialization adds one after `:` after the property name because it looks nice.

When a value contains `var(--a)` however, it is left "unparsed", with w

[2016-03-22 19:34] #8830 closed

[2016-03-22 19:59] jdm opened #10125 "Remove test-ref command from testing_commands.py"
The testsuite doesn't exist any more, so the command to invoke it is now unnecessary.

Code: `python/servo/testing_commands.py`

[2016-03-22 20:01] peterjoel opened #10126 "Add all options to mach --help"
The full list of options is at:
https://github.com/servo/servo/blob/master/components/util/opts.rs#L514-L553

These should be documented in `mach --help`.

Possible libraries that could be used to handle this:

- https://crates.io/crates/clap
- https://crates.io/crates/argparse
- https://crates.io/crates/docopt / https://crates.io/crates/docopt_macros

[2016-03-22 20:05] ConnorGBrewster commented on #10126
I would like to work on this one.

[2016-03-22 20:08] frewsxcv commented on #10126
@ConnorGBrewster Go for it! Let us know if you need any assistance :information_desk_person:

[2016-03-22 20:56] jdm opened #10128 "rust.png in reftests is missing"
It's used in inline_margin_multiple_fragments_a.html and filter_inline_a.html but it's 404. We should replace references to it with one of the other images in http://mxr.mozilla.org/servo/source/tests/wpt/mozilla/tests/css/ .

[2016-03-22 20:57] jdm commented on #10128
`./mach test-wpt tests/wpt/mozilla/tests/css/inline_margin_multiple_fragments_a.html`

[2016-03-22 21:09] ConnorGBrewster commented on #10126
Currently you can print out the list of these options using
[code]
My question is, should this be called to get the run options and append them to the end of the normal `./mach --help` or should this same option list be maintained separately in python just for the purpose of printing the options?

If we go with the first option, it would require Servo to have been built at least once for `./mach -

[2016-03-22 21:10] jdm commented on #10126
I don't actually know if we can get `./mach help` to work the way the original comment describes. I think we should focus on `./mach run -- --help` to start.

[2016-03-22 21:11] jdm commented on #10126
Although the fact that `./mach run -d -- --help` is required to get to this list is really sucky from a UX point of view.

[2016-03-22 21:11] ConnorGBrewster commented on #10126
@jdm Currently running `./mach run -d -- --help` already outputs:
[code]

[2016-03-22 21:15] frewsxcv commented on #10126
Is there a way to make the run flags appear *in addition to* the mach flags?

e.g., when one runs `./mach run --help`, then the (current) output from `./mach run --help` and `./mach run -d -- --help` get printed

[2016-03-22 21:19] jdm commented on #10126
That would probably require special integration with mach. Maybe the place to start looking is _handle_main_help in python/mach/mach/dispatcher.py?

[2016-03-22 21:22] nox opened #10129 "Add a script to shrink test-wpt output to only unexpected results"
No idea if this issue should live in saltfs, wpt itself or here.

Cc @metajack.

[2016-03-22 22:01] zmike opened #10130 "embedding shared lib no longer linkable"
[code]

cc @larsbergstrom @pcwalton @glennw @jdm

[2016-03-22 22:18] pcwalton commented on #10115
I think this is actually a specific manifestation of a texture cache corruption problem in WR that Facebook happens to expose and isn't really related to transparent backgrounds. It's just that it looks particularly bad on a non-opaque window.

[2016-03-22 22:22] ConnorGBrewster commented on #10126
If one runs `./mach run --help` should the options be printed from running the debug or release build of Servo? And if Servo has not been built, what should be printed?

[2016-03-22 23:13] #9978 closed

[2016-03-22 23:34] matthiaskrgr commented on #10024
As of right  now ( 003fdd41769652188a5954e6499f3cb44eef6b10 ), it seems only the upper half of the page is not rendered and the lower part is displayed..

[2016-03-23 00:10] matthiaskrgr commented on #10024
Alright, I tried to reduce the servo.org page.

In this example, only ````<p class='text-muted'>#servo on irc.mozilla.org</p>```` is rendered, and everything inside ````<div class='col-sm-8'>```` is invisible unless webrender is used.
[code]

[2016-03-23 02:06] pcwalton commented on #9999
@paulrouget Please check this one again.

[2016-03-23 03:19] saurvs commented on #10102
I'd like to begin work on this.

[2016-03-23 03:42] saurvs commented on #10077
I'd like to do this.

[2016-03-23 03:54] pcwalton commented on #9844
It is true that we drop a few frames with `setTimeout()`, but not enough that it explains the difference. The profile doesn't look that different either. Strange…

[2016-03-23 04:12] Wafflespeanut commented on #10126
I think it'd be better if mach initially checks for any one Servo build (let it be debug or release) - just put a note at the top indicating which build. If there's no build in the possible paths, then exit with the usual message (the one we get for `./mach run -[d|r]`). If there are two builds, then we should probably prefer `release`.

[2016-03-23 06:00] paulrouget commented on #9999
It's a lot better now.

Before: 125% without webrender. 55% with webrender
After:  60% without webrender. 16% with webrender

Thank you!

[2016-03-23 06:00] #9999 closed

[2016-03-23 06:15] paulrouget commented on #10110
That would be awesome! I'd like to see how much this could improve browserhtml performance.

[2016-03-23 07:10] saneyuki commented on #9156
@jdm  Thank you.

[2016-03-23 07:11] saneyuki commented on #9156
related?: https://github.com/servo/servo/issues/10124

[2016-03-23 09:09] Ms2ger commented on #10129
I imagine we'd want a separate kind of logger; cc @jgraham

[2016-03-23 09:19] Ms2ger commented on #10077
Go for it. I'd suggest you comment here with to the PRs you create on other repositories.

[2016-03-23 09:43] jgraham commented on #10129
Yeah, you would want to implement a mozlog formatter.

Not having an easy way to tell if a test ran at all, or see log output, seems rather problematic though. My suspicion is that whatever the use case here is, you're trying to solve the wrong problem.

[2016-03-23 09:43] nox commented on #10129
@jgraham https://github.com/servo/servo/wiki/Meeting-2016-03-21#automating-failureintermittent-finding

[2016-03-23 09:46] saurvs commented on #10077
Just to clarify, every Rust repo part of the Servo org needs to use the new version of bitflags?

[2016-03-23 09:46] jgraham commented on #10129
So it seems like you might just want `--log-errorsummary=<file>`. That produces a line-by-line json view of only the test failures and critical/error level log messages. It's not ideal for humans but is the right thing to use if you're implementing a bot (it's what treeherder uses for autoclassification, for example)

[2016-03-23 09:47] nox commented on #10129
Is that usable to update expectations too?

[2016-03-23 09:53] jgraham commented on #10129
No, you still need the raw log for that. Although conceivably someone could perhaps implement log updating based on the error summary in the future.

[2016-03-23 09:54] nox commented on #10129
And does it include unexpected PASS?

[2016-03-23 09:54] Ms2ger commented on #10077
Each crate that we depend on, here's a list:
[code]

[2016-03-23 09:57] jrasanen commented on #10128
Hi,

why doesn't `./mach test-wpt tests/wpt/mozilla/tests/css/inline_margin_multiple_fragments_a.html` fail if its 404? I replaced the image with an existing one but the test gives no indication whether its 200 or 404.

Thanks!

[2016-03-23 09:57] jgraham commented on #10129
Yes (this conversation would maybe be shorter on irc, or by pointing you at https://dxr.mozilla.org/mozilla-central/source/testing/mozbase/mozlog/mozlog/formatters/errorsummary.py )

[2016-03-23 09:58] saurvs commented on #10077
Alright.

[2016-03-23 10:09] jgraham commented on #10129
(sorry "test failures" was very lax language. I meant "unexpected test results")

[2016-03-23 10:42] Swatinem opened #10136 "solid backgrounds are drawn as transparent gradients after visiting certain pages"
* using browserhtml
* when going to for example github.com
* solid colors are turned into strange half transparent gradients

I can not reproduce this when I visit github.com without browserhtml. I can also not reproduce this when visiting google.com for example. Once things are screwed up that way, it stays that way no matter what other tabs I open in browserhtml

Also, when I open two pages, the

[2016-03-23 10:45] paulrouget commented on #10136
Most likely a dupe of https://github.com/servo/servo/issues/10115

[2016-03-23 10:52] paulrouget commented on #10136
Bump bhtml P1. This happens quite often.

Again, most likely similar to #10115.

[2016-03-23 10:52] eskiq opened #10137 "Unable to install on Arch Linux"
Unable to update https://github.com/browserhtml/browserhtml?branch=gh-pages#120c8113

Caused by:
  [4/-3] Revspec '120c811302a9993f3aad103fbb695847693969ea' not found.

[2016-03-23 10:53] paulrouget commented on #10137
This looks like a browserhtml issue.

And most likely addressed by https://github.com/servo/servo/pull/10138

[2016-03-23 12:01] zmike commented on #9558
I didn't use glutin, I used the embedding API with my demo application that has Wayland support.

iirc `platform_display` in Servo is used for working with GL contexts in the compositor (previously layers) in order to perform accelerated rendering. I don't have the (Servo) code available in front of me for easy verification, but it seems like what you want is possibly this https://cgit.freedesktop

[2016-03-23 12:57] #10137 closed

[2016-03-23 13:06] Ms2ger opened #10141 "Document::location should be null for documents without a browsing context."
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-document-location>.
* Code: `components/script/dom/document.rs` and `components/script/dom/webidls/Document.webidl`.
* Test: `html/browsers/history/the-location-interface/document_location.html`.

[2016-03-23 13:09] jdm commented on #10141
Cc @slayerjain

[2016-03-23 13:31] vberger commented on #9558
Alright thanks, i'll look on that side regarding GL contexts and such.

If it's also used for parenting X windows (if I understand correctly what it implies, aka subsurfaces in wayland), it's a hint that maybe glutin's api is too narrow for what servo needs to do. As such, it might be interesting to explicit what the real need is behind that, to maybe work on integrating a minimal platform-unified

[2016-03-23 13:38] larsbergstrom opened #10142 "How would we handle a cargo left-pad incident?"
Earlier this week, the npm ecosystem got dropped on its head by the removal of [left-pad](https://www.npmjs.com/package/left-pad) from the main package repository, as fallout in a legal incident the author had with an otherwise unrelated package. The question I'd like to address in this issue is: what's our plan of action if servo gets left-pad'd? (and lest you think this is purely academic, there

[2016-03-23 14:03] Manishearth commented on #10142
To be clear, we only have an issue if a major crate is unpublished by Alex for legal reasons. Yanking of a major crate will cause some speed bumps, but not any major issues.

I think in this case crates.io should create a copy of the crate with an acceptable name, and "legacy redirect" it. This works the same way as yanking does: All existing published dependencies are allowed to depend on this an

[2016-03-23 14:04] jdm opened #10143 "Need a mapping from document's stylesheets to owner nodes"
There are a few choices I can think of:
* a second vector in Document that is kept in sync with the `stylesheets` vector
* Each `Stylesheet` object contains a reference to the node (either via `Trusted` types or a weak reference; not sure)

This will be necessary for later steps for #10133.

[2016-03-23 14:07] larsbergstrom commented on #10142
@Manishearth I think this would definitely address unpublishes that occur for trademark violation reasons.

I'm still a little worried about it if the unpublish was due to licensing or copyright issues in the code, where the code *itself* has to be removed. Even if it's a cleanroom implementation that meets 100% of the spec/tests, we may have broken bisection and reproducibility of builds.

[2016-03-23 14:12] frewsxcv commented on #7578
https://github.com/conradkleinespel/rustastic-clip/blob/master/src/lib.rs might be another option here

[2016-03-23 14:14] jdm opened #10144 "Add reproducible sources of panic to tests"
Ideas:
* window.panic() for script
* `-servo-panic` property for CSS parsing/layout
* `about:panic` URL for network fetches

[2016-03-23 14:15] jdm commented on #10144
I also played around with a chaos mode idea that involved randomly simulating channel send/receive failure with some measure of probability. I tried to make the ChaosSender/ChaosReceiver interface identical to Sender/Receiver but got burned by our use of `select!`, so I never finished it.

[2016-03-23 14:16] asajeffrey commented on #10124
Testing the hardened constellation requires some way of injecting panics, see #10144.

[2016-03-23 14:18] asajeffrey commented on #10144
As discussed on IRC, we need to make sure we're not adding an attack surface by doing this, perhaps by putting the injected panics behind a build flag?

[2016-03-23 14:21] larsbergstrom commented on #10144
It would be super-nifty if we could create a fuzzing tool that randomly instrumented the binary with `panic` calls, but I suspect that won't work due to differences in compilation (e.g., exception hander frames) when a function can panic. So we can't just do like a debugger and overwrite with `int 3` and see what happens... or can we? @alexcrichton might know.

If there's some way to make a genera

[2016-03-23 14:34] Ms2ger commented on #10143
Another option:

* The `stylesheets` field stores `(JS<Node>, Arc<Stylesheet>)` in the vector

[2016-03-23 14:34] jdm commented on #7578
`rclip works exclusively on UNIX with the X server.` is sad-making.

[2016-03-23 14:35] jdm commented on #10128
filter_inline_a.html still needs to be addressed.

[2016-03-23 14:40] jrasanen commented on #10128
Fixing

[2016-03-23 14:42] stjepang commented on #10141
I'll take this one.

[2016-03-23 14:44] jdm opened #10145 "Implement CORS preflight fetch concept"
Code: `components/net/fetch/methods.rs` (see `preflight_fetch` function)
Spec: https://fetch.spec.whatwg.org/#cors-preflight-fetch
Tests: need to be written in `tests/unit/net/fetch.rs` (`./mach test-unit -p net`)

The spec looks long, but the building blocks necessary should be present in that file already.

[2016-03-23 14:46] jdm commented on #10145
Apparently @KiChjang is working on this already.

[2016-03-23 14:46] KiChjang commented on #10145
Sorry! I've started working on this already on a local branch.

[2016-03-23 14:47] Ms2ger opened #10147 "Scheme check for local_urls_only is backwards"
Step 2 in `main_fetch`; should find some way to test it.

[2016-03-23 14:48] jrasanen commented on #10128
Opened pull request #10146

[2016-03-23 14:53] jdm commented on #10147
Looks like testing it involves setting the `local_urls_only` flag in Request to true and writing a unit test. I haven't found the actual specification that does that yet.

Code: `components/net/fetch/methods.rs`
Tests: `tests/unit/net/fetch.rs` (`./mach test-unit -p net`)
Spec: https://fetch.spec.whatwg.org/#dfnReturnLink-0

[2016-03-23 14:54] jdm commented on #10141
Blocking this off for @slayerjain, sorry.

[2016-03-23 14:54] jdm commented on #10143
I like that a lot better.

[2016-03-23 15:00] stjepang commented on #10147
I'll take this issue.

[2016-03-23 15:02] Ms2ger opened #10149 "We should maybe not use 2.8GB of RAM to load the single page HTML spec"

[2016-03-23 15:06] asajeffrey commented on #10124
Some IRC discussion http://logs.glob.uno/?c=mozilla%23servo#c390119 about double-panics.

TL;DR: #6462 causes double-panic, when SM panics and leaves the GC roots in an unsafe state, and this double-panic aborts the process. We'd need multi-process execution to isolate pipelines (in particular, put the constellation in a separate process).

[2016-03-23 15:06] Ms2ger commented on #10149
[code]

[2016-03-23 15:11] jdm commented on #10124
The constellation already lives in the parent process.

[2016-03-23 15:49] perlun commented on #9777
Any idea of what could be causing it? (In other words: Anywhere I can start digging? :smile:)

[2016-03-23 15:52] jdm commented on #9777
Yes-ish: https://github.com/servo/servo/issues/9803#issuecomment-196424406

[2016-03-23 15:57] jdm commented on #9803
How long does it usually take for your program to lock up? I haven't reproduced any problem on OS X 10.9.5 yet.

[2016-03-23 16:01] Ms2ger commented on #5116
I think I fixed them a while back.

[2016-03-23 16:01] #5116 closed

[2016-03-23 16:17] jdm commented on #9803
On the other hand it locks up immediately in my ubuntu VM (using `while true`; it locks up on the second iteration using `while sleep 1`).

[2016-03-23 16:26] jdm commented on #9874
@sorpaas Any progress?

[2016-03-23 16:27] jdm commented on #9707
@liviuba Have you made any progress here?

[2016-03-23 16:27] jdm commented on #9698
@malayaleecoder Did you end up working on this?

[2016-03-23 16:30] Zirro opened #10151 "Positioned elements inside an element with overflow: hidden are invisible"
Elements with position: absolute or position: fixed inside an element that has overflow: hidden are invisible.

Testcase:

[code]

[2016-03-23 16:34] slayerjain commented on #10141
@jdm thank you so much for this! :)

[2016-03-23 16:34] matthiaskrgr commented on #10067
Also applies to zooming btw.

[2016-03-23 16:39] matthiaskrgr commented on #10024
#10151 might be related.

[2016-03-23 16:53] liviuba commented on #9707
@jdm Got stuck with Parsell because of the lack of documentation / usage in general / experience with parsers on my side. Right now I'm trying to get something together with Nom and once I get that going moving to Parsell should be doable

[2016-03-23 16:53] bobthekingofegypt commented on #9803
I probably should have said, I run linux. kernel 4.1.12-gentoo to be more specific.  Do you know what OS the build server intermittent's are happening on?

As for triggering times; I can sometimes run it for 2-3 minutes before it fails, sometimes it fails straight away.

[2016-03-23 16:54] jdm commented on #7484
I think as written this is solved now.

[2016-03-23 16:54] #7484 closed

[2016-03-23 16:58] KiChjang commented on #8458
servo/servo.org#19 has landed, should this issue be closed?

[2016-03-23 16:59] #8458 closed

[2016-03-23 17:01] jdm commented on #8271
As written, we don't have an end-state in which we can say we're done. I'm getting rid of the E-easy tag until that changes.

[2016-03-23 17:02] jdm commented on #8053
Turns out this wasn't easy.

[2016-03-23 17:03] jdm commented on #7553
This is being implemented in #9198 if I'm not mistaken.

[2016-03-23 17:06] alexcrichton commented on #10142
Thanks for the cc @larsbergstrom! I was asking @steveklabnik on IRC for some clarification on what happened with NPM, and the sequence of events looked like this:

1. There was an npm user who had a package, kik
2. An IM company, kik, trademarks 'kik'
3. One of their employees of kik wrote a letter to npm about this package (from the npm user)
4. npm contacted the original author to change the nam

[2016-03-23 17:08] alexcrichton commented on #10144
Ah yeah unfortunately I don't know of any great way to inject a panic into already-compiled code (it would probably be unsound though?).

[2016-03-23 17:11] Manishearth commented on #10142
Wait, is that right? I thought npm just transfered ownership to themselves?

Giving ownership of the package to the third party is a big no-no with security implications. We should never do something like that.

[2016-03-23 17:12] mrjbq7 opened #10153 "Bad GIF rendering"
The header GIF on this page:

http://aggregate.org/MAGIC/

A direct URL is here:

http://aggregate.org/IMG/ukwidesig.gif

This screenshot shows Google Chrome (above) with Servo (below):

<img width="633" alt="weird_gif" src="https://cloud.githubusercontent.com/assets/24195/13993924/ae61e62e-f0df-11e5-84f3-d8b5e9275b1a.png">

Using `./mach run http://aggregate.org/MAGIC/` on OS X 10.11.

[2016-03-23 17:18] steveklabnik commented on #10142
There was a lot of confusion around this, but yes, they transferred the package to the company.

[2016-03-23 17:21] jdm commented on #9803
The intermittent failures on build machines occur in Ubuntu Trusty.

[2016-03-23 17:33] jdm commented on #10153
@mrjbq7 Is this using webrender or without?

[2016-03-23 17:44] mrjbq7 commented on #10153
Dev build of master (b59bd294e177d84a2f54cec987f76a5fb97365f1) just now.  Not sure how to tell...?

[2016-03-23 17:45] jdm commented on #10153
@mrjbq7 Did you use the `-w` flag?

[2016-03-23 17:45] mrjbq7 commented on #10153
No.

[2016-03-23 17:48] ConnorGBrewster commented on #10126
It looks like I could do this by using the `get_binary_path()` function from `command_base.py`; however, command_base.py is inside the servo folder while the code to print the help menu is back a directory and then into the `mach` folder. Should I just rewrite a similar function to `get_binary_path()` in the `mach` portion?

[2016-03-23 17:53] mrjbq7 commented on #10153
@jdm ``./mach run -w http://aggregate.org/MAGIC/`` has the same problem.

[2016-03-23 17:56] asajeffrey commented on #10142
The case that worries me is if a copyright claim is made on code we depend on. For example, Alice uploads a crate that we depend on, but then a few years later Alice's then-employer points out that actually any code Alice wrote during her employment was owned by them, and please can they have it back.

Part of the reason this case worries me is there really is not much we can do about it, other th

[2016-03-23 18:06] frewsxcv commented on #10126
I wouldn't modify anything in `python/mach/`. It's upstream from Gecko and shouldn't have any Servo specific code in there (or any changes at all for that matter), from what I understand. I haven't looked at code, so I don't have any great suggestion either :-/

[2016-03-23 18:32] asajeffrey commented on #10144
Could we add a "chaos" cfg, which components could use to add random failure, with the idea that if we compile servo with chaos enabled, the resulting binary shouldn't panic?

[2016-03-23 18:48] #10128 closed

[2016-03-23 19:19] blacksvk commented on #10048
I have same problem on Windows 8.1 x64

[2016-03-23 20:19] jdm opened #10156 "Intermittent timeout in /websockets/constructor/022.html"
[code]

[2016-03-23 20:20] larsbergstrom commented on #9392
Note that #10081 will make this feature not web-visible by default and will require passing a commandline argument to enable it.

[2016-03-23 21:22] mbrubeck commented on #9993
I've started working on the layout parts of this (fragment splitting and display list generation).

[2016-03-23 21:51] asajeffrey commented on #10144
I started on a patch which would add randomly closing pipelines: https://github.com/asajeffrey/servo/commit/a9fb350d5212864ea544516a08a7d5abeae09f0f

[2016-03-23 21:52] asajeffrey commented on #10124
I started on a patch to randomly close pipelines: https://github.com/asajeffrey/servo/commit/a9fb350d5212864ea544516a08a7d5abeae09f0f

[2016-03-23 22:36] frewsxcv commented on #9960
@F3real Still working on this? Need any help?

[2016-03-23 23:45] faineance commented on #9698
I don't mind picking this up.

[2016-03-24 00:13] frewsxcv commented on #9698
Go for it @faineance

[2016-03-24 00:54] #10125 closed

[2016-03-24 01:12] pcwalton commented on #9919
@paulrouget Should be fixed by #10159.

[2016-03-24 02:12] pcwalton commented on #10029
@paulrouget Can you run with `-Z gc-profile` and see if GCs are occurring? From my local tests it seems the issue is that we aren't GCing, and therefore mouse events are piling up.

[2016-03-24 02:17] frewsxcv commented on #10142
This might be tangential, but here's the official response from npm, inc. regarding their dilemma:

http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm

[2016-03-24 02:35] jdm opened #10161 "Can't set preferences to false in WPT tests"
The syntax is `prefs: [name:value]`, but all the WPT test harness does is pass `--pref name` to Servo as a command line argument. We should probably support a `--pref name=value` syntax to allow this.

[2016-03-24 03:45] ConnorGBrewster commented on #9671
This issue is resolved by PR #10112

[2016-03-24 03:48] #9671 closed

[2016-03-24 03:48] jdm commented on #9671
Thanks!

[2016-03-24 04:19] mbrubeck commented on #8684
Relevant code: https://github.com/servo/servo/blob/f1baba973f9bc788a65d77b59528b3719c198315/components/style/properties.mako.rs#L2270-L2283

Compare to spec: https://drafts.csswg.org/css-text-decor-3/#line-decoration

[2016-03-24 05:25] malayaleecoder commented on #9698
@jdm : I was almost half way through this. Since I guess @faineance has started, will pick it up if it is still not closed.

[2016-03-24 06:37] #9511 closed

[2016-03-24 07:08] lygstate commented on #10048
Hope this could be able fixed as soon as possible, so we could be able try it on Windows.

[2016-03-24 07:27] paulrouget opened #10162 "In handle_navigate, revoke_paint_permission not called on the right pipeline"
I'm not sure about this, could someone look at this and confirm my suspicions or explain to me why I'm wrong:

In [`handle_navigate_msg`](https://github.com/servo/servo/blob/5b28a416eb567fb25b8ffa4bdf5aeb6eca5c72b1/components/compositing/constellation.rs#L1028), `frame.current` is set to `next` (which is correct), and then we call `revoke_paint_permission(prev)` (which is correct), but within [`re

[2016-03-24 07:28] paulrouget commented on #9919
follow up for the `revoke_paint_permission` thing: https://github.com/servo/servo/issues/10162

[2016-03-24 07:50] paulrouget commented on #10029
No GC here apparently.

[2016-03-24 07:51] veirus commented on #10048
Current workaround for that is to rename `servo\.servo\rust\2016-03-07\rustc-nightly-x86_64-pc-windows-gnu\rustc\bin\libstdc++-6.dll` file to something else, `libstdc++-6.dll.bak` for example.

[2016-03-24 08:04] paulrouget opened #10163 "regression: background images painted only after reflow"
The follow page only turns red after a reflow (resizing the window for example):

[code]

It's a regression, and I believe it might be because of https://github.com/servo/servo/pull/10021. See https://github.com/servo/servo/pull/10021#issuecomment-197467065.

[2016-03-24 09:03] paulrouget opened #10164 "Webrender doesn't clip overflowing transformed content"
<img width="454" alt="screen shot 2016-03-24 at 10 02 31" src="https://cloud.githubusercontent.com/assets/373579/14012688/a7de134a-f1a7-11e5-8dbd-1e3ea48e2ae7.png">

[code]

[2016-03-24 09:42] Ms2ger opened #10165 "Implement fetching data URLs"
Code: `components/net/fetch/methods.rs`.
Spec: <https://fetch.spec.whatwg.org/#concept-basic-fetch>.

[2016-03-24 09:42] Ms2ger opened #10166 "Implement fetching file URLs"
Code: `components/net/fetch/methods.rs`.
Spec: <https://fetch.spec.whatwg.org/#concept-basic-fetch>.

[2016-03-24 10:57] KiChjang commented on #10165
@creativcoder claimed in IRC.

[2016-03-24 12:59] larsbergstrom commented on #10130
It looks like this is because in https://github.com/servo/rust-egl/tree/master/src, somebody checked in the results of rust-bindgen code output from running over EGL, with settings to statically link against these functions, rather than checking and attempting to load them dynamically.

[2016-03-24 13:14] larsbergstrom commented on #10130
It looks like these stubs are unused by any of the calling modules in Servo (glutin-app, layers, servo-skia, or azure). It doesn't cause a problem on other platforms without these functions because the linker is probably discarding the bindings before attempting to do the final resolution.

I don't want to push a breaking semver revision through by removing them, so I'll just change them to use `e

[2016-03-24 13:17] larsbergstrom opened #10170 "Browser.html integration breaks ability to build non-head Servo"
In #9873, we added a git dependency on a branch in browserhtml that is force-pushed over every time they publish a new version. This setup means that if you build a non-head version of Servo, you get:
`Unable to update https://github.com/browserhtml/browserhtml?branch=gh-pages#120c8113`

We need to either back this out or find another way to bring in browserhtml - our repo history is totally broke

[2016-03-24 13:18] jdm commented on #10161
Code: `components/util/opts.rs` and `tests/wpt/harness/wptrunner/executors/executorservo.py`.

[2016-03-24 13:33] awalGarg commented on #10161
I'd like to work on this! :)

[2016-03-24 14:44] Ms2ger opened #10172 "Annotate test failures with bugs"
It would be useful to annotate the `.ini` files with `bug` fields to track the issue we have for them. If there is no issue yet, we should investigate what's causing the failure and file an issue.

Reserved for @GuillaumeGomez.

[2016-03-24 14:47] GuillaumeGomez commented on #10172
Thanks!

[2016-03-24 15:40] metajack commented on #10170
@gozala Can you switch the bhtml side to push new revisions instead of force pushing over them?

[2016-03-24 18:34] jdm opened #10175 "Create an HTTP global state object"
We pass around stuff like the cookie storage, the HSTS list, the HTTP authentication cache, etc. in `http_loader.rs`. This also means that the unit tests have a lot of repeated initialization code that creates these objects even when they're not used. I propose we wrap them up in a struct and give it a argument-less constructor to make reading the code easier and require fewer changes when adding

[2016-03-24 18:37] notriddle commented on #10175
You would still be passing around that one object, right?

[2016-03-24 18:58] jdm commented on #10175
Yes.

[2016-03-24 19:13] ConnorGBrewster commented on #10126
I think I will hold off on this one until we figure out how/if this should be done.

[2016-03-24 20:25] jdm opened #10177 "Intermittent timeout in /websockets/constructor/016.html"
[code]

[2016-03-24 20:59] jdm opened #10180 "Add a build configuration to allow profiling heap allocations from Instruments.app"
https://gist.github.com/pcwalton/e1ee253ca9356e38b78c

[code]

[2016-03-24 21:11] danlrobertson opened #10181 "Implement *-reverse flex-directions"
Currently [`flex-direction`](https://drafts.csswg.org/css-flexbox/#flex-direction-property) values of `column-reverse` and `row-reverse` are treated as their non-reversed counterparts.

[2016-03-24 21:14] ConnorGBrewster commented on #10175
Should this state object include things like `LoadData`, or only things that can be initialized without any parameters?

[2016-03-24 21:38] jdm commented on #10175
LoadData is a per-request object, so it would not be included.

[2016-03-24 21:42] ConnorGBrewster commented on #10175
@jdm ok makes sense, currently I have:
[code]
included in the http global state object, should anything else be included/excluded?

[2016-03-24 22:32] dagnir commented on #10166
I'd like to work on this

[2016-03-24 23:17] dagnir commented on #10166
I might have spoken to soon.  I didn't see that "file" is unspecified >.<.  I probably don't have enough exp for this

[2016-03-25 00:13] jdm commented on #10166
In this case it would require replicating the existing behaviour in file_loader.rs.

[2016-03-25 01:11] matthiaskrgr opened #10183 "forward navigation key only works with shift"
#10122 implemented navigation key support.

on my thinkpad ( https://csanyk.com/rants/wp-content/uploads/2015/03/Arrow-Keys-Fwd-Bck-buttons-awesome-document-browser-navigation.png ) , the back key works fine, however the forward key needs shift to be pressed which is quite unintuitive and feels wrong.

xev output for the keys:
[code]
linux, fedora 23

[2016-03-25 01:13] Manishearth opened #10184 "Remove backspace-to-navigate"
https://github.com/servo/servo/pull/10122 added support for navigation keys.

As mentioned [here](https://github.com/servo/servo/pull/10122#issuecomment-199873686), we should probably get rid of the backspace key binding for navigation too. Alt-left/alt-right are already supported further below.

The bindings are [here](https://github.com/Manishearth/servo/blob/b25d9de03d1cd51235bc08af5935e2371a8d

[2016-03-25 01:14] bholley opened #10185 "Rename style struct types to eliminate the T"
See discussion here [1].

This has a few steps. Each one should occur in a separate commit that builds, so that we're sure that we got it right. Each step should build on both servo (./mach build) and geckolib (./mach build-geckolib).

(1) Rename struct ComputedValues in components/style/properties.mako.rs to ServoComputedValues.
(2) Rename trait TComputedValues in components/style/properties.mako

[2016-03-25 01:14] Manishearth commented on #10183
That's a copy-paste bug I made. The SHIFT [here](https://github.com/servo/servo/pull/10122/files#diff-f3afdd0d8092731ed5c423ce2e8dfd70R736) needs to be removed. Would you like to do this?

[2016-03-25 01:14] bholley commented on #10185
CC @SimonSapin

[2016-03-25 02:24] #10130 closed

[2016-03-25 05:25] jdm commented on #10029
I tried https://gist.github.com/jdm/1d2e71157887849c7ba2 but didn't notice any difference in terms of memory usage when flailing my mouse around an instance of about-mozilla.html. That being said; I didn't notice unbounded memory usage either - it generally hovered between 90-105mb.

[2016-03-25 06:08] jdm commented on #10029
@amccreight does the previous gist look like the hinting you were talking about?

[2016-03-25 06:55] #7857 closed

[2016-03-25 08:01] #10147 closed

[2016-03-25 08:32] paulrouget commented on #10170
We need to change our deploy script. I'd suggest that:

1) before `npm build`: `mkdir dist`, `git clone gh-pages dist`, `rm -r dist/*` (that won't delete `.git`)
2) after build: `git add -A`, `git commit` …
3) remove `--force`

[2016-03-25 08:52] Ms2ger commented on #3319
#8278

[2016-03-25 08:52] #3319 closed

[2016-03-25 08:53] Ms2ger commented on #4482
#8278

[2016-03-25 08:53] #4482 closed

[2016-03-25 14:02] asajeffrey commented on #10124
The patch to randomly close pipelines is now PR #10179.

[2016-03-25 14:43] #8511 closed

[2016-03-25 15:03] Ms2ger opened #10192 "Callback code does weird things with compartments"

[2016-03-25 18:48] jrasanen commented on #9960
I can try this as my first issue, if its available.

[2016-03-25 18:49] frewsxcv commented on #9960
Go for it @jrasanen!

[2016-03-25 20:11] larsbergstrom opened #10196 "Publish the CSS support list during doc builds"
In #9333, a script was added that prints out all of the properties support by Servo as JSON. In this project, we would edit the file https://github.com/servo/servo/blob/master/etc/ci/upload_docs.sh to run that script (via `python components/style/list_properties.py`) and store the output as a JSON file in the documentation tree so that it is uploaded after each build lands in master.

For extra br

[2016-03-25 20:11] larsbergstrom commented on #10196
cc @SimonSapin

[2016-03-25 20:42] Shiroy commented on #8391
I'd like to fix this issue.

[2016-03-25 21:40] amccreight commented on #10029
Yes, though I'm not too familiar with how it is actually supposed to be used.

[2016-03-25 22:21] jdm commented on #10192
Um?

[2016-03-25 22:23] jdm commented on #8391
Please do!

[2016-03-25 22:55] asajeffrey commented on #10144
The patch is now PR #10179, which has been r+d. This doesn't inject panic directly, but it does randomly kill pipelines without the usual clean-up, which results in panic.

[2016-03-25 23:10] #10163 closed

[2016-03-25 23:19] gordonbrander opened #10199 "Fonts not rendered with subpixel antialiasing"
Here's a screenshot of text rendered in Servo. (I've used a loupe app to magnify the text so you can see the antialiasing pixels). The text is rendered without sub-pixel antialiasing.

<img width="553" alt="screen shot 2016-03-25 at 16 13 39" src="https://cloud.githubusercontent.com/assets/58421/14056087/c642f276-f2a4-11e5-991c-e7be996aadf8.png">

Here's the same page rendered in Firefox. Fonts ar

[2016-03-26 01:36] pcwalton opened #10200 "Jumpiness involving transitions on border, inline-block, and whitespace (affects Twitter)"
Minimal test case:
[code]
This causes jumpiness on Twitter.

It's related to the whitespace. Seems that we aren't calling `strip_leading_whitespace_if_necessary` sometimes when we should be.

cc @mbrubeck since you've been chasing down inline incremental reflow bugs

[2016-03-26 03:09] awalGarg commented on #10161
@jdm here are my changes as per our discussion in IRC: https://github.com/servo/servo/compare/master...awalGarg:fix10161

the current test just sets `dom.mozbrowser.enabled` to `false`, but `resources/prefs.json` already sets it to false. if I locally toggle the preference in `resources/prefs.json`, I can see the test passing and failing so I can confirm that this working, but I am not sure how to

[2016-03-26 03:37] #9993 closed

[2016-03-26 03:50] dongz9 opened #10201 "Build error on El Capitan"
Hi,

I met the following error message when building servo:

[code]

Any idea how to fix it?

[2016-03-26 03:55] ConnorGBrewster commented on #10143
I am currently working on this

[2016-03-26 04:41] KiChjang commented on #10201
It looks like your version of zlib is outdated. Have you tried updating it?

[2016-03-26 04:59] dongz9 commented on #10201
I've installed homebrew/dupes/zlib, which is 1.2.8. I guess the build system didn't find it? Is there anyway to configure which zlib to use?

[2016-03-26 05:37] dongz9 commented on #10201
Umm, I checked OSX's default zlib version, which is 1.2.5.

[code]

This makes me really confusing now...

[2016-03-26 08:54] SimonSapin commented on #10143
CC @tschneidereit

[2016-03-26 12:24] Ms2ger commented on #10192
Filed based on a conversation with bz; will add more after the weekend.

[2016-03-26 13:31] jdm commented on #10161
You can see all the default preference values in prefs.json. I think it's best to create a new `dom.testbinding.preference_value.true` preference.

[2016-03-26 13:34] jdm commented on #8397
Fixed by #9979.

[2016-03-26 13:34] #8397 closed

[2016-03-26 13:47] awalGarg commented on #10161
@jdm done and PR'd. Thanks!

[2016-03-26 13:56] jrasanen commented on #10196
@larsbergstrom so:

1. Save the JSON of supported properties to ./target/doc/servo/ in upload_docs.sh
2. Create ./etc/doc.servo.org/properties.html which reads the json file and outputs supported properties nicely

I could do this one.

[2016-03-26 13:59] larsbergstrom commented on #10196
@jrasanen That sounds like a great plan! Please let us know here if you have any questions :-)

[2016-03-26 14:01] perlun commented on #9902
Is this the same underlying issue as #9777? Sounds fairly likely I guess?

[2016-03-26 14:12] jdm commented on #9902
Yes, I would expect all of the intermittent websocket timeouts to be symptoms of #9777.

[2016-03-26 15:44] perlun commented on #9902
FWIW: I did a bit of playing around in https://github.com/bobthekingofegypt/servo-cookie-inter/pull/1.

[2016-03-26 15:45] dongz9 commented on #10201
I just took a closer look, the solution turns out to set CPP=clang -E (the default value is gcc -E). Anyway, the original error message was really confusing...

[2016-03-26 16:29] SimonSapin commented on #10196
It’s also possible to generate static HTML at the same time as we generate JSON. There’s even a templating system (Mako) originally designed to generate HTML already being used in the relevant script.

[2016-03-26 16:39] jrasanen commented on #10196
@SimonSapin thanks, noted! I've used Mako before so will look into that.

[2016-03-26 16:58] perlun commented on #10201
Hmm, that's weird; I built Servo on El Capitan just a few days ago. Got a build error first (but a different one than this :smile:) but after resolving that, it worked fine. I guess I could try rebuilding from latest `master` but it'll take some time.

[2016-03-26 17:23] nox opened #10205 "Implement insertAdjacentElement and insertAdjacentText"
https://dom.spec.whatwg.org/#dom-element-insertadjacentelement
https://dom.spec.whatwg.org/#dom-element-insertadjacenttext

Files:
 * components/script/dom/element.rs
 * components/script/webidls/Element.webidl

[2016-03-26 17:34] ConnorGBrewster commented on #10175
Issue resolved in PR #10188.

[2016-03-26 17:34] nox commented on #10205
@GuillaumeGomez and @Michelangelo both wanted an easy bug, so I filed that for them.

The first one to actually start working on it gets it, the other one gets the right to harass me until I find a second ticket. Cheers!

[2016-03-26 17:35] #10175 closed

[2016-03-26 17:36] bobthekingofegypt commented on #9803
I didn't realise someone else was going to be looking into this otherwise I would have said this last night, but I believe I understand why this is happening - I just haven't had time yet to verify it.

Worth noting is that this problem is not linux only, it happens on OSX as well, it really depends how fast your machine is executing at the time, I guess the slowness of the VM helps trigger it.

A

[2016-03-26 18:07] cbrewster opened #10206 "Able to scroll past bottom of page"
Scrolling is not clamped at the bottom a page.

Steps to reproduce:
1. Run `./mach run -r https://en.wikipedia.org/wiki/Meow`
2. Scroll to bottom of page
3. Continue scrolling into the void

[2016-03-26 18:08] frewsxcv commented on #10206
Gif of the issue:

![untitled 2 07 36 pm](https://cloud.githubusercontent.com/assets/416575/14061663/266f1154-f35c-11e5-8503-9e187e26c538.gif)

[2016-03-26 18:09] frewsxcv commented on #10206
This is a problem with and without Webrender.

[2016-03-26 18:37] perlun commented on #10201
Rebuilt here - worked fine, the resulting binary seems to work also.

dongz9 - could you include some more details from the build error? From what I can tell in the posted log, the error you're seeing is from some `autoconf`/`configure` script, likely a dependency coming from some create (I am yet too unfamiliar with the `servo` code base to be able to give more details than that...).

[2016-03-26 18:42] perlun commented on #10206
I can reproduce this. On other pages like Google, I cannot scroll at all though. :wink:

This seems to be a dupe of #10023.

[2016-03-26 18:44] frewsxcv commented on #10023
Gif of this:

![untitled](https://cloud.githubusercontent.com/assets/416575/14061836/35264d52-f361-11e5-91bb-eaadfcc9e771.gif)

[2016-03-26 18:46] frewsxcv commented on #10206
@perlun Just uploaded a GIF to that issue as well. It *might* be the same underlying issue for both, though from an end user's perspective, they're seemingly different. I'm not going to close this one just yet since I'm not familiar with the root cause here and they might be different problems.

[2016-03-26 19:22] Shiroy opened #10207 "Text is not displayed properly"
On this website, text display is a mess.

![site](https://cloud.githubusercontent.com/assets/1006143/14061981/68ec8fa6-f38f-11e5-9195-db24879c4f0a.png)

The source code of the page is here : https://gist.github.com/Shiroy/d2ddfbe46d9bfcfd9d5b
It should run as is. If not, please let me know and I will upload a tar with the assets.

[2016-03-26 19:29] perlun commented on #9803
No worries whatsoever Bob - I was just looking for areas where I could contribute. It seems like you are quite far in sorting this out yourself.

I'll leave it for the time being. Keep us posted; it would be soooo great to get this bug fixed. :smiley:

[2016-03-26 19:42] jrasanen commented on #10196
Added a PR. Ping @larsbergstrom & @SimonSapin

[2016-03-26 19:53] perlun commented on #10185
Looking into this now, have read the initial thread as well., Should be `ComputedValuesMap` also be renamed, or retained as-is?

[2016-03-26 20:14] #10161 closed

[2016-03-26 21:04] emilio opened #10209 "Fully implement WebGL 1.0"
This is intended to be a meta-bug.

Some of the remaining methods are blocked on https://github.com/servo/servo/issues/5014 (those that receive `ArrayBufferView` or `BufferDataSource` and have overrides), but some others can be implemented without problems.

I'll try to fill individual issues for each remaining methods, since some of them can be E-Easy.

<a name="general-info"></a>
## General info

[2016-03-26 21:11] #10183 closed

[2016-03-26 21:11] #10184 closed

[2016-03-26 21:14] emilio opened #10211 "Stop re-exporting webrender_traits WebGL types from canvas_traits"
Right now we [re-export](https://github.com/servo/servo/blob/master/components/canvas_traits/lib.rs#L40-L41) from `canvas_traits` the `webrender_traits` type `WebGLCommand` as `CanvasWebGLMessage`, and another `webrender_traits` types as well.

This was done during webrender development to avoid extra rebase pain, but webrender has landed a while ago.

We should remove that re-export, and use thos

[2016-03-26 21:18] emilio commented on #10209
cc @dmarcos

[2016-03-26 21:28] emilio opened #10212 "Implement WebGLRenderingContext.finish()"
This should be a straight-forward WebGL command to implement.

See the [general info for WebGL bugs](https://github.com/servo/servo/issues/10209#user-content-general-info) to see the spec and get a grasp how the code is structured.

You should uncomment the corresponding function in [`WebGLRenderingContext.webidl`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/WebGLRende

[2016-03-26 21:31] emilio opened #10213 "Implement WebGLRenderingContext.flush()"
See the [general info for WebGL bugs](https://github.com/servo/servo/issues/10209#user-content-general-info) to see the spec and get a grasp how the code is structured.

You should uncomment the corresponding function in [`WebGLRenderingContext.webidl`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/WebGLRenderingContext.webidl#L560), and implement it in `components/scrip

[2016-03-26 22:06] GuillaumeGomez commented on #10205
I start working on it.

[2016-03-26 22:08] nox commented on #10205
Great! Ping me on IRC if you need help.

[2016-03-26 22:21] ConnorGBrewster commented on #10212
I am working on this.

[2016-03-26 22:23] emilio commented on #10212
Cool, it's yours!

Let me know it I can help you with anything :)

[2016-03-26 22:25] SimonSapin commented on #10185
I’m the one who suggested the `ServoFoo` pattern, but I see in #10210 that it affects a lot more than I anticipated. (I made a remark in passing and didn’t really think this through.) Would it work to avoid adding that prefix everywhere? Maybe use modules when names would otherwise collide?

Sorry I’m being capricious :]

[2016-03-26 23:45] ConnorGBrewster commented on #10213
I am working on this.

[2016-03-26 23:57] emilio opened #10216 "Implement WebGLRenderingContext.detachShader()"
This WebGL command will be a bit harder to implement.

See the [general info for WebGL bugs](https://github.com/servo/servo/issues/10209#user-content-general-info) to see the spec and get a grasp how the code is structured.

You should uncomment the corresponding function in [`WebGLRenderingContext.webidl`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/WebGLRenderingCont

[2016-03-26 23:59] ConnorGBrewster commented on #10216
I would like to work on this

[2016-03-27 00:01] emilio commented on #10216
Sure, it's yours! :)

[2016-03-27 00:10] matthiaskrgr opened #10217 "crashes on <h1> inside <div>"
Originally reduced from servo.org
The crash occurs regardless of using webrender or not.

[code]

[code]
I believe this was introduced today at some point (since 9b2ae3a62faafc ? )

EDIT: reproducible with example on 68a8085a2f11d052948145980a0bf8a46471e3a7

[2016-03-27 00:12] Manishearth commented on #10217
I've been seeing a similar panic earlier (webrender-only), but it stopped happening (or maybe was just intermittent). Might not be that commit.

cc @pcwalton @glennw

[2016-03-27 00:57] bholley commented on #10185
I think we should just add the prefix. We already did it for ServoLayoutNode, ServoLayoutDocument, ServoThreadSafe*, ServoSelectorImpl, etc. Using modules is a pain because there are tons of |use| statements for ComputedValues, which makes it nontrivial to get right.

#10210 actually looks less disruptive than I thought, TBH. ;-)

[2016-03-27 00:59] nox commented on #10185
@bholley What is the prefixing needed btw? For example rust-selectors defines an Element and we do too, and there is no problem.

[2016-03-27 01:13] bholley commented on #10185
There is a problem, because this is exactly what caused style::dom::TElement to have a "T" in its name. :-P

Namespacing works great as a general tool to avoid naming collisions between unrelated things, but it's a pain for types that are frequently used throughout the same code, because you can't |use| the types. So you end up needing to prefix everything with the module name as well as |::|, whi

[2016-03-27 01:55] ConnorGBrewster commented on #10216
When checking to make sure it is valid to detach the shader, do we need to check if the shader passed in is the one currently stored in the `fragment_shader` or `vertex_shader` slots?

[2016-03-27 03:48] ConnorGBrewster commented on #10209
I will be working on implementing generateMipmap

[2016-03-27 04:04] jdm opened #10220 "Can't set string preferences that contain equals signs from the command line"
The code added in #10204 splits the `name=value` syntax on the = sign. This will truncate the preference value if it contains an equals sign (`--pref name=some=value`). We can make an automated test for this by adding a similar API to TestBinding that returns the string value of a given preference.

Code: `components/utils/prefs.rs`

[2016-03-27 07:48] perlun commented on #10185
I agree, qualifying in both categories (unfamiliar with the code base as well as the language). :wink:

[2016-03-27 08:21] awalGarg commented on #10220
nope. @Manishearth spotted that and I switched it to use `splitn` instead, so it would split only on the first `=`. So `name=some=value` would be split as `[name, some=value]`. https://github.com/servo/servo/blob/master/components/util/opts.rs#L797

But adding the string version of the API still holds, I guess.

[2016-03-27 11:44] KiChjang commented on #9927
Is this fixed by #10221?

[2016-03-27 11:55] #9927 closed

[2016-03-27 13:19] jdm commented on #10220
Whoops, looks like I should have read closer.

[2016-03-27 15:49] #9465 closed

[2016-03-27 19:03] #10205 closed

[2016-03-27 20:23] perlun commented on #10170
Should be closable by now, since it's fixed in browserhtml.

[2016-03-27 20:39] ConnorGBrewster commented on #10209
It looks like `generateMipmap` will require significant additions to `WebGLTexture`. Mainly, to check the requirements for the texture before generating mipmaps, there needs to be a way to get info about the texture such as width and height. It looks like Gecko has a `ImageInfo` class. Should I implement it similar to how Gecko has it implemented?

[2016-03-27 20:56] emilio opened #10226 "Implement WebGLRenderingContext.generateMipmap()"

[2016-03-27 20:56] emilio commented on #10209
@ConnorGBrewster I opened https://github.com/servo/servo/issues/10226, let's discuss there :)

[2016-03-27 20:57] ConnorGBrewster commented on #10226
I am working on this.

[2016-03-27 21:00] ConnorGBrewster commented on #10226
Currently it looks like WebGLTexture will need quite a bit of additions to fully support this. In the spec there are conditions that are checked such as perfect square dimensions, proper formatting, etc...; however, there is currently no place where that data is stored. Looking at Gecko, they have a `ImageInfo` class to store this data.

[2016-03-27 21:03] emilio commented on #10226
@ConnorGBrewster:

Well, probably we don't need such a big ammount of complexity for now (Gecko has texture generation from video and a lot of other WebGL 2 stuff that we don't care about in the near term).

I think our textures are mostly inmutable right now, and can be generated either from images or canvases, or through `createTexture()`.

I *think* for now it'd be easier to store the data dire

[2016-03-27 21:15] emilio opened #10227 "Implement HTMLScriptElement.type and similar attributes"
There are a few attribures missing in HTMLScriptElement that should be relatively easy to implement, and are currently missing.

I'm explicitely talking about https://github.com/servo/servo/blob/master/components/script/dom/webidls/HTMLScriptElement.webidl#L9-L13:

[code]

Some of them should be just reading attribute values if I'm not wrong (`crossOrigin` could be a bit trickier, I don't currentl

[2016-03-27 21:31] ConnorGBrewster commented on #10226
@emilio I might have to move the image info to a struct because each layer/face of the 3d texture has its own set of image info. This requires storing the data in an array, and I think it would be cleaner to move the data to a struct due to this.

[2016-03-27 21:35] emilio commented on #10226
@ConnorGBrewster I see, go for it then!

[2016-03-27 21:42] eddyb opened #10228 "WebRender atlas corruption (missing letters on github.com)."
After scrolling a bit on the GitHub landing page, I ended up in this state:
![image](https://cloud.githubusercontent.com/assets/77424/14067977/a68d94a6-f47d-11e5-9644-89e64721683a.png)

I don't know what to make of it, other than the obvious missing letters and right side looking like a portion of the atlas - you can see at the bottom, the hamburger and magnifying glass icons, from browser.html.

[2016-03-27 21:47] Manishearth commented on #10228
cc @glennw @pcwalton

I've sometimes seen similar font atlasing issues on browser.html, where strings like "Google" become "Goog e" in the browser.html url bar

[2016-03-27 21:49] tschneidereit commented on #10143
What I did in my explorations around this was store `CSSStyleSheet`s on the
document and have the connection be through `StyleSheet`s `owner_node`:
https://github.com/tschneidereit/servo/tree/cssom

I'm not sure this is the best approach, though, what @Ms2ger proposes might
make more sense.

[2016-03-27 22:05] timvandermeij commented on #10048
Fixed by #10223?

[2016-03-27 22:08] Manishearth commented on #5370
Not an issue anymore IIRC

[2016-03-27 22:08] #5370 closed

[2016-03-27 22:18] eddyb opened #10229 "Twitter triggers segfaults within SM internals called from JITed JS code."
I expect these to be pretty random (but they do happen every time for me). Example:
[code]

Another example from @Manishearth:
[code]

[2016-03-27 22:21] Manishearth commented on #10229
Seen on 0826a5b45455cdbecf484136b1bab39bcc0b15ff

STR: open https://twitter.com/whitequark (or some other profile), scroll down. Happens both with and without webrender.

This might just be a problem in spidermonkey, but we might also be forgetting to root something here.

Not yet tried with rr.

cc @tschneidereit @michaelwu @jdm

[2016-03-27 22:32] Jayflux commented on #9989
I've done a git pull and it seems to build now for me, im not sure what changed but maybe something has fixed it
@nightwalkerkg  @adamncasey  how is it for you?

[2016-03-27 23:32] #9698 closed

[2016-03-27 23:33] #10170 closed

[2016-03-28 00:18] eddyb commented on #9555
@andrewguertin the `INT_MAX` case is only if the flags contain `MSG_CMSG_COMPAT`, given what I'm seeing in strace, another possibility I can think of is `sock_kmalloc` returning NULL.
But that can't be the case, as on x64 the kernel has 36 bytes on the stack and only calls `sock_kmalloc` if that's not enough - and ipc-channel has just 24 bytes of "ctl".

*Goes back to the rabbit hole that is the l

[2016-03-28 01:19] nightwalkerkg commented on #9989
@Jayflux my problem was with the Python path, after i installed it to C:\ it was building fine. :D

[2016-03-28 03:00] jdm commented on #10227
https://html.spec.whatwg.org/multipage/scripting.html#dom-script-type .
I think `async` shouldn't be included here, since it's tied in with the rest of the recent specification changes to support script "modules".

[2016-03-28 03:04] jdm commented on #10228
Might be related to #10020.

[2016-03-28 03:06] jdm commented on #10229
It would be really valuable to use a debug-mozjs build and grab the backtrace from that.

[2016-03-28 04:00] Wafflespeanut commented on #10048
@lygstate @blacksvk Can you check whether you're still getting this?

[2016-03-28 04:12] lygstate commented on #10048
@Wafflespeanut OK, I am trying.

[2016-03-28 04:14] eddyb commented on #9555
I couldn't find anything useful in the kernel, but I tried this workaround:
[code]

And so far I haven't gotten another error.

[2016-03-28 05:03] Manishearth opened #10230 "Don't copy large Arcs over IPC"
Related to https://github.com/servo/servo/issues/9555, part of the cause (fixing this is not a complete solution).

https://github.com/servo/servo/blob/b97ffffb48080a0b4769f8609a27a68145042945/components/gfx/font_cache_thread.rs#L154

We're sending an `Arc<FontTemplateData>` over IPC here, where `FontTemplateData` is a largish bucket of bytes. This is probably a holdover from the pre-IPC days.

Th

[2016-03-28 05:04] Manishearth commented on #9555
Part of the cause is https://github.com/servo/servo/issues/10230

[2016-03-28 05:06] eddyb commented on #9555
@Manishearth I'd argue that `ipc-channel` should be able to deal with large packet sizes without failing horribly, even if those sizes can be optimized somewhere else.

[2016-03-28 05:07] Manishearth commented on #9555
Yes, like I said, this is only part of the cause (and as I mentioned in #10230, fixing #10230 is not a complete fix for this issue)

[2016-03-28 05:08] Manishearth commented on #10230
Not entirely certain but https://doc.servo.org/ipc_channel/ipc/struct.IpcSharedMemory.html might be what I'm looking for

[2016-03-28 05:11] Manishearth commented on #10230
Yeah, it seems like IPCSharedMemory is being used everywhere for this purpose. Not sure how to make it work with the weakptr stuff in the font cache task.

[2016-03-28 06:31] lygstate commented on #10048
@Wafflespeanut  can not compile the style module.

[2016-03-28 06:31] lygstate commented on #10048
[code]

[2016-03-28 06:40] KiChjang commented on #10048
@lygstate Those are just warnings, not errors. Can you still test and see whether you can run servo using `./mach run -r`?

[2016-03-28 07:37] paulrouget commented on #10206
Could that be because of the overscroll effect?

[2016-03-28 08:15] roysohan commented on #10104
I am a beginner but i want to contribute, and the folks said that e-easy tags are the best place to start. So how do I contribute to this issue.

[2016-03-28 08:16] lygstate commented on #10048
`
$ ./mach run -r
['/c/CI-Cor/servo/target/release/servo']
Servo exited with return value -11
`

[2016-03-28 10:18] Shiroy commented on #10227
I will work on this issue.

[2016-03-28 10:30] bobthekingofegypt opened #10232 "github.com - panic when loading page with webrender"
Load up github and it just crashes, sometimes takes a couple of seconds other time I need to scroll down a bit.  But it always crashes.

No issue without -w flag.

[code]

[2016-03-28 10:40] bobthekingofegypt opened #10233 "Hackernews (webrender) - missing letters in the bottom navigation links"
The navigation links at the bottom of hackernews have missing letters when viewed with webrender enabled.  This is consistent behaviour, the same letters are missing each time I have tried.  No issue without -w flag.

[code]

_servo on top, chrome below_
![hacker-news-missing-letters](https://cloud.githubusercontent.com/assets/332141/14076448/a47dcd78-f4d9-11e5-8cea-b13caae195d1.png)

[2016-03-28 10:43] paulrouget commented on #10233
Do you think you could reduce that to a simpler test case? See https://github.com/servo/servo/wiki/WebCompatBug

Thank you!

[2016-03-28 11:53] bobthekingofegypt commented on #10233
Sure

[code]

Works fine if you use px, em, rem.  Guidelines is missing the 'i' if you use pt.

[2016-03-28 12:03] bobthekingofegypt opened #10234 "Hackernews - input elements inherit parent containers alignment"
This isn't specific to hacker news in anyway, not sure if I should just not use the sites name in the title or not but anyway.

If you put an input box inside a container with text-alignment on it then servo will apply that alignment to the content of the input box.

![hn-input-align](https://cloud.githubusercontent.com/assets/332141/14077615/37b7d97a-f4e5-11e5-846f-e8eb6061cf51.png)

*chrome, fir

[2016-03-28 12:11] bobthekingofegypt opened #10235 "Webrender - can't scroll up after reaching the bottom of the page"
If I load up a page I can scroll up and down fine using the mouse wheel.  But if I run with -w I can scroll fine until I hit the bottom of the page.  Once I've hit the bottom of the page I cannot scroll back up again, works fine without webrender.

Reproduced using hackernews, reddit, anything I've tried.

OS is linux, standard X setup for mouse.  Not sure what other info I can give for this one.

[2016-03-28 12:32] bobthekingofegypt opened #10236 "pointer cursor not displayed when mouse is over links"
Servo doesn't appear to implement cursor: pointer; (or any of the other weird ones http://www.w3schools.com/cssref/pr_class_cursor.asp).

This is visible on hackernews, reddit and other sites with links.  Hover over any link in chrome and firefox and you will see the pointer icon, but nothing in servo.  Problematic especially on hackernews where there is no other visual feedback that main headings

[2016-03-28 12:34] paulrouget opened #10237 "regression: layout issue since b29719e"
Regression: https://github.com/servo/servo/pull/10085/commits/b29719e36bdf2867b1391bbc3b017675975e27ae

Affects browerhtml.

test case:
[code]

Screenshot:

<img width="527" alt="qofzqxo" src="https://cloud.githubusercontent.com/assets/373579/14077986/1d84b4ee-f4f2-11e5-85e7-24453f01b45c.png">

[2016-03-28 12:37] paulrouget commented on #10236
That works for me (osx).

Which OS? With or without webrender? With or without browserhtml?

[2016-03-28 13:05] frewsxcv commented on #10236
Sorta similar: https://github.com/servo/servo/issues/9084

[2016-03-28 13:07] blacksvk commented on #10048
Seems to be working for me.

[2016-03-28 13:44] sorpaas commented on #9874
Really sorry @jdm. I'm suffering from limited and unstable Internet access until next month. I really wouldn't mind it if someone take over this issue.

[2016-03-28 13:59] jdm commented on #9874
Ok, thanks for letting us know!

[2016-03-28 14:21] veirus commented on #10048
I'm on Win 8.1 x64 and just successfully compiled and run release and debug builds.

[2016-03-28 14:29] jdm commented on #10048
Looks like we're done here!

[2016-03-28 14:29] slayerjain commented on #10141
I'm finally done with my little vacation thingy :) . must i edit this file as well : components/script/dom/webidls/Document.webidl ?

[2016-03-28 14:42] nox opened #10239 "properties.mako.rs warning: trait bounds are not (yet) enforced in type definitions"
With Rust 2016-03-27:

[code]

Cc @bholley @SimonSapin

[2016-03-28 14:51] asajeffrey commented on #10124
In order to run wpt-test with random pipeline closure, we need to be able to pass command line arguments in to servo via wptrunner. This is the issue: https://github.com/w3c/wptrunner/issues/176 and this is the PR: https://github.com/w3c/wptrunner/pull/177

[2016-03-28 15:01] larsbergstrom commented on #9989
I think that there are two problems mentioned in this thread:

1) Incorrect python installation/python-related path stuff in the build (which has to be addressed through re-install of tools)

2) The "error 127" stuff, which should be cleaned up in https://github.com/servo/servo/pull/10223

Please open new issues if any of that stuff comes back!

[2016-03-28 15:01] #9989 closed

[2016-03-28 15:11] #9582 closed

[2016-03-28 15:38] larsbergstrom commented on #9555
cc @antrik

[2016-03-28 15:43] lygstate commented on #10048
@jdm I am using the windows 7 x64, does that means something? not works for me at least.

[2016-03-28 15:45] lygstate commented on #10048
Do we need install msys 64bit version or 32bit version?

[2016-03-28 15:46] lygstate commented on #10048
The README.md doesn't specify witch version to use:
[code]

[2016-03-28 15:47] eddyb commented on #9555
I've started looking at other browsers, and found the following:
Chromium uses `SOCK_SEQPACKET` only for the crash handler, and `SOCK_STREAM` for general IPC.

This is relevant, because `sendmsg` for `SOCK_SEQPACKET` is almost identical to `sendmsg` for `SOCK_DGRAM` and they can both fail to allocate a buffer (in this case, 256kB), resulting in `ENOBUFS`, whereas `SOCK_STREAM` does fragmentation i

[2016-03-28 15:51] bholley commented on #10239
I saw that warning, but it's not clear to me what to do about it, and what problem it causes in practice.

[2016-03-28 16:03] nox commented on #10239
@bholley Just filing it so that there is an issue about it.

[2016-03-28 16:36] eddyb commented on #9555
I can't get the error to trigger again, with the changes in servo/ipc-channel#57. Hopefully that's the end of it.

[2016-03-28 17:01] pcwalton commented on #9855
I think this bug is not really actionable anymore. Can we remove the browserhtml-P1 tag?

[2016-03-28 17:02] Manishearth commented on #10230
I've sort of figured out how to make this work. FontTemplateData is placed in readonly shm-backed storage (IPCSharedMemory?). The font cache task maintains a map of FontTemplate objects, which contain `Option<SHMBacked<FontTemplateData>>`. Note that the data is somewhere in shared memory, `SHMBacked<T>` is just a shmem handle. When a task requests a template, a copy of the handle is sent over (if

[2016-03-28 17:02] pcwalton commented on #9919
Can we close this in favor of #10162, in the absence of known actual browser.html problems this is causing?

[2016-03-28 17:04] bobthekingofegypt commented on #10236
@paulrouget I keep leaving off the bit of information you want.

OS - Linux
happens with webrender and without, with browserhtml using webrender and without.

[2016-03-28 17:12] jdm commented on #10234
Should be an easy fix - add a rule to `resources/servo.css` that sets the text alignment to left for `input` elements (and bonus points for setting it to the right using the `:dir(rtl)` selector).

[2016-03-28 17:14] bobthekingofegypt commented on #9803
@jdm I submitted a patch to rust-websocket, it was accepted and merged and a new version released (the issue is still marked as open as can be seen in the link above but the pull request is done).

Can we bump rust-websocket upto 0.16.1 in servo?

[2016-03-28 17:15] canaltinova commented on #10234
I would like to work on this issue.

[2016-03-28 17:25] jdm commented on #10233
This may be related to #10228.

[2016-03-28 17:27] pcwalton commented on #9855
Or, even if actionable, this is kind of a vague metabug that we'll never really know if we've solved 100%.

[2016-03-28 17:41] jdm commented on #9803
@bobthekingofegypt Absolutely! Use `./mach cargo-update -p websocket` if you'd like to do so.

[2016-03-28 17:48] jdm commented on #10234
@canaltinova Go for it!

[2016-03-28 17:48] nox commented on #9803
https://github.com/servo/servo/pull/10240

[2016-03-28 17:49] bobthekingofegypt commented on #9803
@jdm will take a look at doing that later.

With the other issue I found earlier, incorrect client close handling (https://github.com/servo/servo/issues/9803#issuecomment-196424406).  Do you have an idea for how that should be solved?  Should a guard be replicated on the websocket_loader side of the channel that replicates the behaviour from the script/dom/websocket side?  Or should the ready_stat

[2016-03-28 17:52] nox commented on #9803
@bobthekingofegypt I did a PR, see my previous comment. Nice work finding that fix btw.

[2016-03-28 17:55] mbrubeck commented on #10200
On initial layout, the whitespace between the first two divs is correctly compressed to a single space character.  But then because it is the last fragment on its line, `strip_trailing_whitespace_from_pending_line_if_necessary` strips it down to an empty string.  If a subsequent reflow happens that does not rebuild flows, the stripped whitespace is never restored.  (The code to restore it is in `F

[2016-03-28 18:03] pcwalton commented on #10237
Well, this is strange, because there are neither block formatting contexts nor floats here.

[2016-03-28 18:07] jdm commented on #9803
@bobthekingofegypt Perhaps we should just store a boolean indicating that we're waiting to see a Close opcode from the server and avoid echoing it if that's the case.

[2016-03-28 18:28] bobthekingofegypt commented on #9803
@nox cheers.

@jdm Sounds good.

[2016-03-28 18:33] asajeffrey commented on #10124
I submitted PR #10242, which removes constellation panics caused by `chan.send(msg).unwrap()`.

[2016-03-28 18:44] Jayflux opened #10243 "Not running on Windows with --browserhtml flag (exited with return value 101)"
https://gist.github.com/Jayflux/d3bd4bfcf65b08b604b5
http://imgur.com/6KSKzwu

I've pulled latest servo from master, built it with the release flag
and pull latest browserhtml from master and ran the local server,
then followed the instructions

Any idea what im doing wrong here?
@larsbergstrom @vvuk @paulrouget

originally posted here:
https://github.com/browserhtml/browserhtml/issues/965

[2016-03-28 18:47] jdm commented on #10243
[code]

[2016-03-28 19:24] glennw opened #10244 "Prevent newline text display items being created."
In tests/html/about-mozilla.html, layout produces TextDisplayItem entries that consist of spaces and/or newline characters only.

This wastes space in WR caches. We can catch these in WR but we should also catch them earlier on to prevent the overhead of allocating and creating redundant display items.

[2016-03-28 19:24] glennw commented on #10244
cc @mbrubeck  @pcwalton

[2016-03-28 19:33] lygstate commented on #10048
[code]

[2016-03-28 19:33] bobthekingofegypt commented on #9803
@jdm well I remember, I asked this previously but I'm still unsure about this test case itself.

The constants.js file for the websocket tests also contains the fixme
[code]
Which suggests wss isn't supported yet.

[2016-03-28 19:49] lygstate commented on #10048
[code]

[2016-03-28 19:57] jdm commented on #9803
I agree, that's pretty weird. It should be filed upstream in https://github.com/w3c/web-platform-tests/ though, and cc zcorpan.

[2016-03-28 20:05] MichaelKearnsSoftwire commented on #10048
I've also been receiving the same error when attempting to build on Windows 8.1 x64:

This is on a fresh checkout following the README instructions carefully -- any suggestions would be welcome!

In particular, pacman definitely installed mingw-w64-x86_64-freetype.

[2016-03-28 20:14] mbrubeck opened #10245 "Implement CSS Transition Events (transitionend)"
https://drafts.csswg.org/css-transitions/#transition-events

Aside from web compatibility, this is also important for writing reliable automated tests that use transitions.

[2016-03-28 20:15] jfhumann commented on #10211
I'd like to work on this.

[2016-03-28 20:17] emilio commented on #10211
It's yours!

Ping me here or on irc (`emiliocobos`) if you have any doubts :)

[2016-03-28 21:05] pcwalton commented on #10230
IpcSharedMemory is indeed intended for this, and we use it in other places.

[2016-03-28 21:14] Manishearth commented on #10230
In that case we can definitely use the first option above. I'm not sure if the second option can be implemented with a platform-agnostic API.

We'd have to fix IPCSharedMemory on linux to try to use tmpfs harder or just use shmem though. Otherwise we're just reading from a regular file each time, which is precisely what the cache tries to avoid.

[2016-03-28 21:15] Manishearth commented on #10230
@glennw Does the caching method outlined in https://github.com/servo/servo/issues/10230#issuecomment-202485769 look okay to you? Is there a better way of doing this?

[2016-03-28 22:48] pcwalton commented on #10237
This is because the float speculation doesn't defend against negative inline margins. I have a fix.

[2016-03-28 23:51] jdm opened #10250 "Default to rust-gdb/rust-lldb when no specific debugger is chosen"
The wrappers are present in the rustc package that is downloaded, but they're really hard to get access to. We should check for the presence of the `--debugger` argument when using `--debug`, and find the proper path and substitute that instead if there is none present.

[2016-03-29 00:26] notriddle opened #10251 "AppVeyor fails to check out the git branch"
[code]

[2016-03-29 00:37] pcwalton commented on #10230
IpcSharedMemory should be fixed anyway if it's not actually using shared memory on certain distros. I wouldn't block the fix for this on doing that.

[2016-03-29 00:39] pcwalton commented on #10136
This will be annoying to reproduce without a small test case. Hmm.

[2016-03-29 00:46] paulrouget commented on #9919
So this is fixed.

#10162 doesn't cause any bug afaict. Just thought I filed it just in case.

[2016-03-29 01:19] paulrouget commented on #9919
Sorry, not fixed, I though https://github.com/servo/servo/pull/10159 landed.

[2016-03-29 01:25] pcwalton commented on #9919
Oh right, sorry about that.

[2016-03-29 01:33] pcwalton commented on #10136
Minimal test case:

    <!DOCTYPE html>
    <style>
    body {
        background: black;
    }
    div {
        color: white;
        text-shadow: 0 0 2px gray;
    }
    </style>
    <div>whoa</div>

[2016-03-29 01:37] pcwalton commented on #10136
apitrace says `glCopyTexSubImage2D()` is returning `GL_INVALID_VALUE` on this test case. So there's the undefined behavior.

[2016-03-29 01:45] eddyb opened #10254 "StylesheetContext::response_complete called multiple times w/ WebComponents."
After #10247, Servo can load enough of https://elements.polymer-project.org/bower_components/paper-button/demo/index.html (or, a simpler example, https://elements.polymer-project.org/bower_components/iron-fit-behavior/demo/index.html) to result in the following panic:

(**EDIT**: N.B. This first panic is tracked by #12047, the second one is specific to this issue)

[code]

By commenting out the bo

[2016-03-29 02:22] jdm commented on #10251
This happens surprisingly frequently. I'm not really sure what we can do about it.

[2016-03-29 02:25] notriddle commented on #10251
I'm not sure; just giving this issue a number and a place to discuss solutions, because yeah it does seem to happen awfully frequently.

[2016-03-29 03:45] lygstate commented on #10048
@MichaelKearnsSoftwire  I am confusing and don't know what's going on.

[2016-03-29 05:44] paulrouget opened #10256 "display list panic: 'index 26 out of range for slice of length 18'"
STR:

- launch browserhtml
- load firefox.com
- click on "Privacy" link
- half of the time, panic

[code]

[2016-03-29 05:54] paulrouget commented on #10256
[code]

[2016-03-29 05:58] Manishearth commented on #10256
The destination port error is irrelevant, the important one is the slice index one which seems to be in some glyph code.

cc @glennw

[2016-03-29 06:15] paulrouget commented on #10256
I need to make sure this happens with master.

I have 2 PR applied:

- https://github.com/servo/servo/pull/10248
- https://github.com/servo/servo/pull/10159

[2016-03-29 06:27] paulrouget commented on #9918
@metajack ^

[2016-03-29 07:12] #9555 closed

[2016-03-29 07:55] blacksvk opened #10258 "Image with border radius 50% is not circle"
Tested on Windows 8.1 x64. Test html: http://testujem.eu/servo/circle-image.html

![circle](https://cloud.githubusercontent.com/assets/10187350/14101329/215b152a-f594-11e5-8a7b-fd60320784d4.png)

[2016-03-29 08:03] blacksvk opened #10259 "Curved border looks pixelated, not anti-aliased"
Tested on Window 8.1 x64. Test html: http://testujem.eu/servo/circle-image.html
Comparison with Firefox 45:
![border1](https://cloud.githubusercontent.com/assets/10187350/14101512/49c71dfa-f595-11e5-898d-f5335ec2e767.png)
500% zoomed:
![border2](https://cloud.githubusercontent.com/assets/10187350/14101519/5372cbba-f595-11e5-805a-e8ac71d49dac.png)

[2016-03-29 08:04] #8573 closed

[2016-03-29 08:21] Manishearth opened #10260 "Unconditional panic "broken pipe" on browser.html"
On ddc57fe641c3940ecdad98297ac5b2ff95c3340c, opening browser.html causes a  panic cascade.
[code]

[2016-03-29 08:39] Manishearth commented on #10260
@eddyb is this due to the IPC fix?

[2016-03-29 08:44] eddyb commented on #10260
@Manishearth Possibly, I get this with only my IPC change on an older master. I didn't actually try `--browserhtml` after making those changes and I'm not sure how it affects the way IPC works.

[2016-03-29 08:55] Ms2ger opened #10261 "Remove CompositorThread struct?"
This now unconditionally wraps `IOCompositor`. (\o/)

[2016-03-29 09:00] #10196 closed

[2016-03-29 09:53] blacksvk opened #10262 "Sliding text bug"
When you have defined a:hover and text-align:justify in css, text will move everytime you enter mouse over link. Tested on Windows 8.1 x64. Test HTML: http://testujem.eu/servo/slide.html

![slide2](https://cloud.githubusercontent.com/assets/10187350/14104284/ab44181c-f5a4-11e5-90a1-6ef7e8a0a60b.gif)

[2016-03-29 09:54] #10200 closed

[2016-03-29 10:08] blacksvk commented on #10236
On Windows 8.1 x64 some of the cursors are working and others are not. This is good testpage: http://elektronotdienst-nuernberg.de/bugs/cursor.html

Cursors that are not working on Windows 8.1 x64 : move, ne-resize, nw-resize, se-resize, sw-resize, alias, cell, copy, none, vertical-text, all-scroll, nwsw-resize, nwse-resize, zoom-in, zoom-out.

Also custom pointer (in cur, png or gif format) are n

[2016-03-29 10:30] tschneidereit commented on #10229
I agree, without a debug build, it's really hard to get to the bottom of
this.

That being said, there have been *lots* of bug fixes around GC, and lots of
improvements to error handling, so while this might well be an issue in
Servo, a smup might give us better tooling for debugging it.

[2016-03-29 10:32] Ms2ger commented on #10229
I tried to repro with a debug build, but hit something else first.

[2016-03-29 10:36] jrasanen commented on #10104
Hi @roysohan. Checkout [wiki](https://github.com/servo/servo/wiki) and especially [Quickstart to Hacking Servo](https://github.com/servo/servo/blob/master/HACKING_QUICKSTART.md). For any questions regarding Servo, #servo IRC channel on irc.mozilla.org is a fine place. For Rust related questions there is #rust and #rust-beginner channels.

[2016-03-29 10:36] blacksvk opened #10263 "Implement repeating gradients (repeating-linear-gradient, repeating-radial-gradient)"
Tested on Windows 8.1 x64. Test html: http://testujem.eu/servo/repeating-gradient.html

[code]

[2016-03-29 11:29] mbonaci opened #10264 "Significant (for you) update drafted from Houdini CSS WG"
It goes like this:
There is currently no way to efficiently and nicely tease out size information of blocks and text on the web. Currently DOM nodes have to be attached somewhere in the DOM to get size information, and multiple (potentially expensive) queries to clientHeight / clientWidth (which trigger synchronous layout) have to be called.
**Measure API:**
A measure API should be more powerful t

[2016-03-29 11:41] #10237 closed

[2016-03-29 12:28] ituxbag opened #10266 "Error navigating with Cmd+Right arrow on OS X"
I have built Servo with `./mach build --release` and then I launched it with `./mach run http://www.google.com` or `./mach run http://en.wikipedia.org`. Now I have clicked on "Access" blue button; when I have pressed the Cmd+Right Arrow
on keyboard, I obtained the following trace:

[code]

[2016-03-29 12:35] jrasanen commented on #10266
Same as #9984 I think.

[2016-03-29 12:40] jdm commented on #10029
We should verify the behaviour now.

[2016-03-29 12:43] jrasanen commented on #10266
Steps:
1. Open Wikipedia
2. Click on a link
3. cmd left arrow to go back.
4. cmd right arrow to go forwards

Result
[code]

[2016-03-29 12:56] SimonSapin commented on #10185
Alright. These are good points, I retract my comment above.

[2016-03-29 13:01] SimonSapin commented on #10239
It means that `CascadePropertyFn<C>` can be used with a `C` that does not implement `TComputedValues`.

I think this is not a problem in practice since whatever needs to use `TComputedValues` methods will have a `where C: TComputedValues` bound (or similar) anyway. In that case we can remove the redundant unenforced bound on the `type` declaration to make the warning go away.

If it *is* a problem

[2016-03-29 13:06] paulrouget commented on #10256
Happens on mater.

[2016-03-29 13:19] nox commented on #10185
You can `use as` though.

[2016-03-29 13:57] admshao commented on #10235
same for me

[2016-03-29 14:07] awalGarg commented on #10166
I'd like to take this one!

[2016-03-29 14:10] larsbergstrom commented on #9922
Fixed by #8641

[2016-03-29 14:10] #9922 closed

[2016-03-29 14:13] Ms2ger opened #10270 "Report memory usage from (the JSRuntime of) web workers"
Not sure if we report memory for web workers at all.

[2016-03-29 14:14] jdm commented on #10270
There's `scope.mem_profiler_chan().run_with_memory_reporting(|| {` in dedicatedworkerglobalscope.rs.

[2016-03-29 14:16] Ms2ger commented on #10270
And we call `ScriptThread::get_reports`, so this is done.

[2016-03-29 14:16] #10270 closed

[2016-03-29 14:23] Ms2ger opened #10271 "Create a script_runtime module"
`script_thread.rs` contains the implementation of the main script thread (where `Window`s/`Document`s live), as well as a number of things that are shared between that thread and web worker threads (`dedicatedworkerglobalscope.rs` and `workerglobalscope.rs`). In particular:

* `ScriptThread::new_rt_and_cx`
* `ScriptThread::get_reports`
* `ScriptChan`
* `ScriptPort`
* `StackRootTLS`
* `CommonScript

[2016-03-29 14:42] jdm commented on #10166
Great!

[2016-03-29 15:25] asajeffrey commented on #9984
I get this error by using navigation, e.g. visiting wikipedia, clicking a couple of links, then using back and forwards a few times.

FWIW, the failed assertion (https://github.com/servo/servo/blob/master/components/script/timers.rs#L181) is:
[code]
It looks like a script thread is being shut down by navigation, which is causing the timer to fire too early.

[2016-03-29 15:28] asajeffrey commented on #10124
Over in https://github.com/servo/servo/pull/10242#issuecomment-202949609, @emilio points out that we should use `warn!` rather than `debug!` for logging unexpected cases.

[2016-03-29 15:37] jdm commented on #10266
Looks like a duplicate of #9984. Thanks!

[2016-03-29 15:37] #10266 closed

[2016-03-29 15:38] jdm commented on #9984
From #10266:
[code]

[2016-03-29 16:29] creativcoder commented on #10271
Ill take that.

[2016-03-29 16:33] jdm commented on #10271
Go for it!

[2016-03-29 16:40] paulrouget opened #10273 "Remove the webrender "compile xxx.glsl" messages"
https://github.com/servo/webrender/blob/8508c49a32e454273ae0a0df457257586972f9d5/src/device.rs#L948

Many bug reports include the ~20 lines webrender dumps at startup.
Maybe `println` should be replaced with `debug`.

[2016-03-29 17:00] notriddle commented on #10258
Actually, if you replace the `width:100%;height:100%` with `width:144px;height:144px`, Servo renders it correctly. The bug is with percentage calculation.

[2016-03-29 17:04] bholley commented on #10185
That's true, but that effectively pushes the burden of renaming onto the consumer. It might make sense if there were just one or two files that needed both types, but basically every consumer in this case needs to import both the struct and the trait.

[2016-03-29 17:11] zmike opened #10274 "embedding rendering broken after webrender merge"
tracking issue for however many subissues I find on this journey

cc @pcwalton @glennw @larsbergstrom @metajack

currently getting some kind of gl errors during initialize_compositing() (which is not implemented for webrender??), in the middle of a debug build to get more info.

webrender cannot be enabled for embedding at all it looks like

[2016-03-29 17:14] pcwalton commented on #10256
I've seen this sometimes, but only on complex sites. This will be hard to solve without a reduced test case.

[2016-03-29 17:18] pcwalton commented on #10256
This is probably a regression from some browser.html P1 optimizations I introduced. By the way, I investigated this before and concluded that the stack trace must be wrong as this doesn't appear in a function that actually performs bounds checks or calls any other function that does. Fun!

[2016-03-29 17:19] notriddle commented on #10258
p.s. Before I start working on an actual fix, could I have this assigned?

[2016-03-29 17:22] Ms2ger commented on #10192
`CallSetup::new()` grabs the global off the callback object, which may be a cross-compartment wrapper, and calls it `exception_compartment`. It then enters that compartment to report the exception (which implies the error event would be dispatched at that global, AIUI), while it should be entering the global of the *unwrapped* callback.

[2016-03-29 18:02] paulrouget commented on #7672
In this test, we want to div to scroll before the iframe:

[code]

[2016-03-29 18:13] paulrouget commented on #7672
@glennw / @pcwalton could you describe what would need to be done to implement this?

[2016-03-29 18:32] bholley commented on #10239
Sure. I've got a patch which I'll PR shortly along with some other things.

[2016-03-29 18:33] mbrubeck commented on #10104
Note: This issue is tagged "less easy", which means that it might not be suitable for a brand new contributor, but could be good as a next step after one or more easy issues.  This is mainly because it could require making a large number of small changes; it will probably be tedious but hopefully not too complicated.  If you are patient and have enough time, you could probably start out with this

[2016-03-29 18:38] pcwalton commented on #7672
Probably just have a flag on the scroll layer, propagate that down through all the layers of WebRender data structures, and use that to determine which layer should scroll when dispatching scroll events in WR.

[2016-03-29 18:48] pcwalton commented on #10029
@paulrouget Want to try again?

[2016-03-29 18:54] pcwalton commented on #10229
This manifests itself as a stack overflow for me.

[2016-03-29 19:28] pcwalton commented on #10229
Backtrace:

    * thread #30: tid = 0x8a075d, 0x0000000102d66f9c servo`JS::detail::UsedRvalBase<(JS::detail::UsedRval)0>::clearUsedRval(this=0x0000000000000000) const + 12 at CallArgs.h:114, stop reason = EXC_BAD_ACCESS (code=1, address=0x0)
      * frame #0: 0x0000000102d66f9c servo`JS::detail::UsedRvalBase<(JS::detail::UsedRval)0>::clearUsedRval(this=0x0000000000000000) const + 12 at CallArgs.h:

[2016-03-29 19:29] jrasanen commented on #9006
[code]

I can reproduce this on OS X [(video)](https://streamable.com/21yr):

1) ./mach run -d --browserhtml
2) Open any URL
3) Resize the window

Note: Crash only happens when browserhtml is enabled.

[2016-03-29 19:51] pcwalton commented on #10229
Another backtrace:

      * frame #0: 0x000000010279a388 servo`js::ObjectGroup::defaultNewGroup(cx=0x000000010989af70, clasp=0x0000000104f5d700, proto=TaggedProto @ 0x0000700002ddf150, associated=0x0000000000000000) + 280 at ObjectGroup.cpp:462
        frame #1: 0x00000001027b236d servo`js::CallObject::createTemplateObject(cx=0x000000010989af70, script=JS::HandleScript @ 0x0000700002ddf240, heap=D

[2016-03-29 20:20] tdaede commented on #4144
Yes, X11 and Wayland both use libxcbcommon now, which has "keycodes" which are independent of the labels on the keyboard, and "keysyms" that take the layout into account. The glutin code uses keysyms for its key events.

This is still not sufficient for a fully featured text field though - IME's currently don't work at all, meaning no CJK text input.

[2016-03-29 20:27] jdm opened #10278 "Make it possible to disable the JITs"
Sometimes it's nicer to debug without the JIT getting in the way. Gecko uses the `setIon` and `setBaseline` methods of `JS::RuntimeOptionsRef` to configure this per-runtime. We should allow disabling them based on preference values.

[2016-03-29 20:29] jdm commented on #10278
Looks like this is also possible using `JS_SetGlobalJitCompilerOption` with `JSJitCompilerOption::JSJITCOMPILER_ION_ENABLE` and `JSJitCompilerOption::JSJITCOMPILER_BASELINE_ENABLE`.

[2016-03-29 21:50] antrik commented on #9555
@eddyb I don't think SOCK_STREAM alone could be made to work for the MPSC case. I did vaguely consider using it for the dedicated channel for large messages though (which is what apparently triggered the problem here) -- it's worth investigating the performance implications.

As for the actual ENOBUFS problem, I have had this on my TODO list for a while, as I was sporadically seeing it in the test

[2016-03-29 22:18] eddyb commented on #9555
@antrik Maybe having a hundred Chromium tabs open would be a start?
FWIW, [just retrying](https://github.com/servo/servo/issues/9555#issuecomment-202224827) didn't solve the issue.
And I haven't gotten it since that attempted fix which made it into master, so I don't know how you'd reproduce it nowadays.

[2016-03-29 22:22] pcwalton commented on #10278
Also make sure to call `set_ion_(false)` and `set_baseline_(false)`.

[2016-03-29 22:23] pcwalton commented on #10229
(lldb) bt
    * thread #33: tid = 0x8b4a43, 0x0000000102d6f290 servo`JS::CallArgs::create(argc=2, argv=0x000000010bad7850) + 32 at CallArgs.h:336, stop reason = EXC_BAD_ACCESS (code=2, address=0x7000035eaff8)
      * frame #0: 0x0000000102d6f290 servo`JS::CallArgs::create(argc=2, argv=0x000000010bad7850) + 32 at CallArgs.h:336
        frame #1: 0x0000000102d6f049 servo`JS::CallArgsFromVp(argc=2, v

[2016-03-29 22:31] jdm commented on #10229
#jsapi says we're missing `JS_SetNativeStackQuota`. See [example](http://mxr.mozilla.org/mozilla-central/source/js/xpconnect/src/XPCJSRuntime.cpp#3509) from Gecko.

[2016-03-29 22:38] canaltinova opened #10280 "Make input elements render same with float left styled parent."
Servo is not rendering input elements same as input element with float left styled parent.
Servo is not rendering `<input value="foo">` as same as  `<div style="float: left"><input value="foo"></div>`.

This is `<input value="foo">` :

![without-float](https://cloud.githubusercontent.com/assets/466239/14126133/a81df752-f617-11e5-87be-ad21b4f68e7a.png)

And this is `<div style="float: left"><input

[2016-03-29 22:39] jdm commented on #10278
Those are methods available via [RuntimeOptionsRef](https://github.com/servo/rust-mozjs/blob/master/src/jsapi_linux_32.rs#L3647).

[2016-03-29 22:47] #10220 closed

[2016-03-29 22:49] jdm commented on #10280
From incorrect rendering:
[code]

[2016-03-29 22:49] jdm commented on #10280
From correct rendering:
[code]

[2016-03-30 00:01] amarmaduke commented on #9874
I'd like to work on this. @larsbergstrom

[2016-03-30 00:10] larsbergstrom commented on #10251
I believe that this is https://github.com/servo/homu/issues/23

[2016-03-30 00:11] #8443 closed

[2016-03-30 00:11] pcwalton commented on #10229
For what it's worth, this is likely not exploitable due to the guard page correctly handling the stack overflow.

[2016-03-30 00:17] jdm commented on #9952
Fixed by #9887.

[2016-03-30 00:17] #9952 closed

[2016-03-30 01:11] pcwalton commented on #10256
I wonder if the display list data for different iframes is getting mixed up.

[2016-03-30 01:29] pcwalton commented on #10256
I'm having trouble reproducing this. I can't after trying each of the URLs here several times, with the latest browser.html.

[2016-03-30 05:41] paulrouget commented on #10029
Moving the mouse hover the window: +0.1Mb every `0s

Moved the mouse for 20 seconds over the window.
Memory grew from 53.1Mb to 53.3Mb.
This is a lot better than before.

But I don't see any gc logs with `-Z gc-profile`.

[2016-03-30 05:50] paulrouget commented on #10256
Tried with the very latest browerhtml & servo & webrender versions, still happening.

STR: load firefox.com in bhtml, and click on links. Usually, after the first or second link, it crashes.

I tried @jrasanen's page, but it doesn't crash here.

@pcwalton I'll see if I can find the commit that regressed that.

[2016-03-30 06:12] paulrouget commented on #10256
I can't reproduce on my macbook pro, only on my macbook 12.

[2016-03-30 08:08] jrasanen commented on #10256
Thing's I have had in common when I get the crash, happened to me again while compiling a project: Higher CPU load, higher memory load (~600M swap used), I see at least one JS error in console, for Bootstrap it was "Bootstrap tooltips require Tether"

[2016-03-30 08:09] #10258 closed

[2016-03-30 08:44] nical opened #10281 "Panic 'No texture page for ID TextureId(1022)' in texture_cache.rs:591"
I always get this panic after a few seconds when running a local build of [today's master branch](https://github.com/servo/servo/commit/21e4936f6a4a99ed7071a8c94bc6e1d418944e67).

To reproduce, I just run "./mach run --release -w" and scroll down the page.

[code]

[2016-03-30 09:00] nical commented on #10281
I also get this panic if every time I resize the window down to a small-ish size and it seems to always be the same size.

I only ran into this panic on the default page so far (reddit works fine, for example).

[2016-03-30 09:33] KiChjang commented on #10104
@roysohan Could you confirm that you are currently working on this issue?

[2016-03-30 09:51] paulrouget commented on #10281
What's the default page?

[2016-03-30 09:59] nical commented on #10281
The default page is the one you get when starting servo without browser.html and without an url. Looks like it's [https://servo.org/](servo.org).

[2016-03-30 10:20] paulrouget commented on #10232
dupe #9931

[2016-03-30 10:20] paulrouget commented on #10281
dupe #9931

[2016-03-30 10:20] #10281 closed

[2016-03-30 10:20] #10232 closed

[2016-03-30 10:35] zakorgy opened #10282 "Dictionary sequences in dictionaries"
Hi I'm working at the University of Szeged in the team on the webbluetooth project, and as i can see dictionaries are supported in the servo, but i got a minor issue when i try to build with the following webdil described in the link  https://gist.github.com/zakorgy/a2aa0536665ff1d204f7eac231bd1ed4  .

The error message:

 error: the trait `js::conversions::FromJSValConvertible` is not implemented

[2016-03-30 11:42] nox commented on #9322
I think we should rather transcribe https://dxr.mozilla.org/mozilla-central/source/toolkit/modules/Console.jsm#118 instead of the multiline one.

[2016-03-30 12:00] kaksmet opened #10284 "All alternate stylesheets are applied"
Affects: 4chan.org/g/ (the background is wrong)

Alternate stylesheets should be mutually exclusive.

[code]

preferred.css
[code]

alternate.css
[code]

Firefox:
![expected](https://cloud.githubusercontent.com/assets/1777894/14141219/1d60cb6e-f67e-11e5-9236-bb3839765ce4.png)
Servo:
![servo](https://cloud.githubusercontent.com/assets/1777894/14141220/21609212-f67e-11e5-959d-8a0e5c5e8d25.png)

Rele

[2016-03-30 12:06] #10229 closed

[2016-03-30 14:07] KiChjang opened #10286 "Rename imm_child_iter() and child_iter() to child_iter() and child_iter_mut()"
Rust by default is immutable, so prepending imm_ isn't the idiomatic way. Instead, we should append _mut() to these function names.

Code: `components/layout/flow.rs`

[2016-03-30 14:10] jdm commented on #10284
Looks like `string_is_stylesheet` in `htmllinkelement.rs` needs to be more restrictive than it currently is.

[2016-03-30 14:23] malayaleecoder commented on #10286
@KiChjang : I would like to give this a try.

[2016-03-30 14:28] KiChjang commented on #10286
Go right ahead!

[2016-03-30 14:32] jdm commented on #10282
I can reproduce this with:
[code]

[2016-03-30 15:18] paulrouget commented on #10256
Regression: 9fcf9215d008c4d29482f866812866f7169e6d15

[2016-03-30 15:32] kaksmet opened #10289 "Text after blockquote is displayed inside float"
[code]
Firefox:
![firefox](https://cloud.githubusercontent.com/assets/1777894/14147509/2696229c-f69c-11e5-9c2b-45f843f3866c.png)

Servo:
![servo](https://cloud.githubusercontent.com/assets/1777894/14147520/2ec10f86-f69c-11e5-9fc5-54ae5b3ca092.png)

[2016-03-30 16:56] larsbergstrom opened #10290 "Review GitHub organization teams & permission"
Right now, as a holdover from the VERY old days of GitHub, nearly all Servo reviewers plus some random others have `Admin` permissions. There are also two security groups. I'd like to:
- [x] Get us down to one, much smaller, group with `Write`
- [ ] Use Protected Branches (https://github.com/blog/2137-protected-branches-improvements) to make it so that only Organization Admins & bors-servo can pus

[2016-03-30 18:35] pcwalton commented on #10256
Yeah, I have a MacBook Pro, which explains why I'm not seeing it. :( This seems clearly nondeterministic…

[2016-03-30 18:42] asajeffrey commented on #10124
PR #10242 merged.

[2016-03-30 18:51] jrasanen commented on #10256
I get it regularly on MacBook Pro (Early 2015), 8 GB RAM, Intel Iris Graphics 6100.

[2016-03-30 19:11] pcwalton commented on #10136
I'm guessing this is because the texture copies are overwriting the dummy color texture.

[2016-03-30 19:15] Mylainos commented on #10284
I would like to take this one.

[2016-03-30 19:24] jdm commented on #10284
Please do!

[2016-03-30 20:08] emilio commented on #9931
FWIW (I don't know if this is known), if you scroll with the spacebar, but the mouse out of the window, it doesn't happen for me (unless you do it super quickly), but just as you put the mouse over the window (not scrolling), servo just panics.

[2016-03-30 20:15] timvandermeij commented on #9928
Fixed by #10019?

[2016-03-30 20:33] jdm commented on #9928
Yep. Thanks!

[2016-03-30 20:33] #9928 closed

[2016-03-30 22:20] pcwalton commented on #9855
Removing browserhtml-P1 in the absence of comments. Please feel free to add back if it's necessary.

[2016-03-30 22:21] pcwalton commented on #10029
I think we don't necessarily need GC heuristics here if dramatic memory increase isn't seen anymore, because a GC *should* happen once a lot of memory starts being used.

Can we demote this issue to a lower priority level?

[2016-03-30 23:16] mbrubeck commented on #8077
Fixed by #10252.

[2016-03-30 23:17] mbrubeck commented on #4410
Fixed by #10176.

[2016-03-30 23:17] #4410 closed

[2016-03-30 23:17] #8077 closed

[2016-03-30 23:19] UK992 commented on #9953
May i suggest to enable [Rolling builds](http://www.appveyor.com/docs/build-configuration#rolling-builds) option, to shorten the build queue. Especially for unnecessary double builds on ```auto``` branch.

[2016-03-30 23:23] asajeffrey commented on #10124
I submitted PR #10295, which fixes some miscellaneous constellation panics. At this point, I think the only remaining panics are unavoidable:
* Failure of message receive (can only happen in cases where the channel invariants have been vioated).
* Failure of ipc-channel or process creation (requires a broader low-resource mechanism).

[2016-03-30 23:29] pcwalton opened #10296 "Can't upgrade WebRender because of rust-offscreen-rendering-context"
We can't upgrade WebRender since the rust-offscreen-rendering-context it is using is pinned to crates.io and Servo's version is not.

We need to make a decision as to what to do here soon. This is blocking #10115, #10164, #10136, #10256, all browser.html P1s.

cc @ecoal95

[2016-03-30 23:29] pcwalton commented on #10296
cc @emilio

[2016-03-31 00:14] #10239 closed

[2016-03-31 00:18] pcwalton opened #10298 "Mouse events (at least with WebRender) don't reliably take scroll position into account anymore"
STR:

1. Go to http://news.ycombinator.com
2. Scroll down
3. Mouse over links. The cursor rapidly changes between a hand and the arrow.

[2016-03-31 00:24] larsbergstrom commented on #9953
The last time we turned it on, it just seemed to be randomly canceling tons of builds. Though maybe that was actually https://github.com/servo/homu/issues/23?

@Manishearth @edunham Do you remember what was happening when we last tried Rolling Builds and had so little success? If it was indeed just the `try`-related madness, turning it on would save a *ton* of effort :-)

[2016-03-31 02:14] #10296 closed

[2016-03-31 02:16] jdm opened #10300 "Intermittent timeout in /_mozilla/css/background_size_shorthand_a.html"
[code]

[2016-03-31 03:37] paulrouget commented on #10298
See https://github.com/servo/webrender/issues/238

[2016-03-31 03:41] paulrouget commented on #10029
Yes. As far as I am concerned, it's fixed.

[2016-03-31 04:08] paulrouget commented on #10115
This is fixed now.

[2016-03-31 04:08] #10115 closed

[2016-03-31 04:12] paulrouget commented on #10136
@pcwalton https://github.com/servo/webrender/pull/253 doesn't fix this.

[2016-03-31 04:14] pcwalton commented on #10136
There must be two bugs here, because I'm certain that that PR fixes symptoms like these. I guess this must be texture cache corruption from another source.

[2016-03-31 04:15] paulrouget commented on #10136
Let me double check that I'm compiling with the proper version of webrender.

[2016-03-31 04:46] paulrouget commented on #10136
Hm, the latest cargo update didn't include the latest 2 PRs.

[2016-03-31 04:58] rzambre commented on #10110
I am quite confident about the influence of the following DOM-tree features on the amount of parallel work available: DOM-size (total number of DOM nodes), average width of the DOM tree, number of leaves in the DOM tree.

[2016-03-31 07:50] paulrouget commented on #10115
(fixed after wr update)

[2016-03-31 07:51] paulrouget commented on #10136
Confirmed fixed with the latest wr. Waiting for the cargo update.

[2016-03-31 07:54] Ms2ger commented on #10290
Move me to the Write group, please.

[2016-03-31 07:56] paulrouget commented on #10164
Now, with the latest WR, the test case looks like this:

<img width="182" alt="screen shot 2016-03-31 at 09 53 29" src="https://cloud.githubusercontent.com/assets/373579/14169177/99d9238c-f726-11e5-9762-b2bc032bbb61.png">

… but the actual bug in browserhtml is fixed (progressbar not being clipped).

[2016-03-31 08:10] paulrouget commented on #10256
fwiw, still happening with the latest WR.

[2016-03-31 08:10] paulrouget commented on #10256
@pcwalton, is there anything I can do to help you figure out what's going here?

[2016-03-31 09:57] blacksvk opened #10305 "Some ICO format images are rendered wrongly"
Test HTML: http://testujem.eu/servo/icons.html

![icons](https://cloud.githubusercontent.com/assets/10187350/14172283/95ee7554-f737-11e5-9ea5-b6fcd59e995d.png)

[2016-03-31 10:05] ocerman opened #10306 "Min width on table is not working"
Test HTML:
[code]

![table](https://cloud.githubusercontent.com/assets/10187350/14172523/be196164-f738-11e5-9597-de9324a1de42.png)

[2016-03-31 10:25] paulrouget commented on #9982
@tschneidereit will work on it (still can't assign people… wtf)

[2016-03-31 10:28] paulrouget commented on #9982
Relevant code: https://github.com/servo/webrender/blob/master/src/spring.rs

[2016-03-31 10:33] paulrouget commented on #9982
Maybe relevant: https://github.com/adobe/webkit/blob/master/Source/WebCore/platform/mac/ScrollElasticityController.mm#L68

[2016-03-31 10:35] paulrouget opened #10307 "box shadow not affected by transform anymore (webrender)"
[code]

<img width="851" alt="screen shot 2016-03-31 at 12 34 14" src="https://cloud.githubusercontent.com/assets/373579/14173240/fa76dda4-f73c-11e5-9ade-2beba7ea0e54.png">

[2016-03-31 10:38] paulrouget commented on #10307
@pcwalton could it be a regression due to https://github.com/servo/webrender/pull/251 ?

[2016-03-31 10:47] Manishearth commented on #9953
I don't recall the reason behind rolling builds failing.

The easy way to make this work is to dynamically check if it's on the master branch and not a PR in the appveyor script and skip the build in that case. There's no configuration to do this.

[2016-03-31 11:37] mmatyas opened #10308 "Android: crash on start"
I've just built 436f731 (release build) for Android, but it crashes on start:

[code]

I'm using an Odroid XU3, running Android 4.4.4

[2016-03-31 12:54] paulrouget opened #10309 "Can't open links in duckduckgo"
**Edit:** requires https://github.com/servo/servo/issues/10311

(flagging as P1 as ddg is the search engine used in browserhtml)

Url I use: https://duckduckgo.com/?q=example

Below some JS code from the duckduckgo page. It fails at `f.open()` with `f is undefined`.

Took me a while, but apparently, the test `((ie || ip || ir || is || im) && e.indexOf("http") != -1 && kg != "p" && (!kd || kd == 1)

[2016-03-31 12:57] mmatyas opened #10310 "Compiling WebRender shaders on ARM"
I'm trying to use WebRender on ARM Linux (on an Odroid XU3), and I've already hacked Servo to

- load the correct files (es2_common.{fs,vs}.glsl),
- use ES3 (Api::OpenGlEs, (3, 0)), and
- changed the shader headers (`#version 130` should be supported on this board)

However, I'm getting the following error when I start Servo:

[code]

I know WebRender isn't fully supported on ARM yet, I was just w

[2016-03-31 13:01] paulrouget commented on #10309
Pinging @nilnilnil

[2016-03-31 13:08] nilnilnil commented on #10309
It's because since Servo is a non-known browser, we have no way of asserting that meta referrer is appropriately implemented, so we use the iframe method to preserve user privacy instead. If Servo implements meta referrer (with the origin option), we'd be happy to add Servo to the list that would skip this block.

[2016-03-31 13:27] paulrouget commented on #10309
@nilnilnil Thank you! I'll come back to you once we got that implemented.

[2016-03-31 13:27] paulrouget opened #10311 "Implement referrer policy"
See https://w3c.github.io/webappsec-referrer-policy/

Necessary for https://github.com/servo/servo/issues/10309#issuecomment-203929226

[2016-03-31 13:32] Mylainos commented on #10284
Should we ignore alternate stylesheets or should we provide a way to change to it ?

[2016-03-31 13:36] jdm commented on #10311
Tests: `tests/wpt/web-platform-tests/referrer-policy/`

[2016-03-31 13:37] jdm commented on #10284
Let's ignore them for now.

[2016-03-31 13:38] Mylainos commented on #10284
Ok

[2016-03-31 14:28] Mylainos commented on #10284
Does the reftest and the reference should be in the same folder ?

[2016-03-31 14:58] jdm commented on #10284
Yep!

[2016-03-31 15:27] Mylainos commented on #10284
Did I need to add tests/wpt/metadata/MANIFEST.json to the commit ?

[2016-03-31 15:54] JasonWeathersby opened #10313 "translateZ fails to render transform"
Removing translateZ allow the transform to work. Attaching simple test file.

[2016-03-31 15:59] JasonWeathersby commented on #10313
[grow.txt](https://github.com/servo/servo/files/198013/grow.txt)

[2016-03-31 16:07] JasonWeathersby commented on #10313
[code]

[2016-03-31 16:12] jdm commented on #10284
Yes.

[2016-03-31 16:26] saneyuki commented on #10290
I'd like to edit `Assignee` and `Labels` of issues. Could you permit me to edit them?

[2016-03-31 16:29] JasonWeathersby opened #10314 "transition-property: transform required?"
[code]

[2016-03-31 16:30] JasonWeathersby commented on #10314
The bounce out works because of the addition of tansition-property: transform. In Firefox and Chrome this does not seem to be required.

[2016-03-31 16:32] Gozala commented on #10256
Attempt to load http://elm-lang.org reliably reproduces the issue for me.

[2016-03-31 16:34] Gozala commented on #10256
I also noticed that loading just that without browser.html does not seem to cause a crash.

[2016-03-31 17:04] JasonWeathersby opened #10316 "Support pseudo elements for transition and animations"
[code]

[2016-03-31 17:16] JasonWeathersby opened #10318 "Simple Animation test case"
I believe animations are not implemented yet? Here is a simple test case for a ripple out effect.

[code]

[2016-03-31 17:18] jdm commented on #10318
Yeah, I'm not sure that it's worth leaving this issue open if we don't actually implement the feature.

[2016-03-31 17:18] #10318 closed

[2016-03-31 17:18] jdm commented on #10318
That is to say, I think it makes more sense to open a dedicated issue for the feature when we intend to implement it.

[2016-03-31 17:37] pcwalton commented on #10136
Excellent. :)

[2016-03-31 17:39] timvandermeij commented on #10143
Fixed by #10202?

[2016-03-31 17:58] jdm commented on #10143
Yep!

[2016-03-31 17:58] #10143 closed

[2016-03-31 18:27] roysohan commented on #10104
I am quite busy, but will try starting to contribute, any hints on which file to start.

Also I am low on bandwidth, so can you suggest how to contribute in low bandwidth condition

I am a college student, and I have exams, I have started learning rust as a hobby, and someone suggested on rust irc channels that I should be contributing to servo for better understanding.
So the problem is I cannot

[2016-03-31 18:28] paulrouget commented on #10318
https://github.com/servo/servo/issues/8541

[2016-03-31 18:37] paulrouget opened #10322 "Investigate extra rAF call"
In Browser.html, our animations are driven by requestAnimationFrame. We found a suspicious behavior in Servo described [here](https://github.com/browserhtml/browserhtml/issues/976#issuecomment-204013292) and [here](https://github.com/browserhtml/browserhtml/pull/977).

We have a short term workaround, but we'd like to understand exactly what's going on.

[2016-03-31 18:42] roysohan commented on #10227
How do I start contributing to this. I am a total beginner, do not know much, so what are the files I need to edit and what should I do, where should I start.

[2016-03-31 18:46] jdm commented on #10227
First step is to expose the attribute via the WebIDL file linked in the original description. Rebuilding will cause a new compile error to occur in `htmlscriptelement.rs`. For `type`, the goal is to avoid executing any script tag that has a type attribute that doesn't represent JavaScript (such as `text/javascript`). This logic exists in `htmlscriptelement.rs`.

[2016-03-31 18:48] jdm commented on #10311
The goal of this specification is to allow webpages to control the behaviour of the `Referer` header (sic) when network requests are initiated.

The basic pieces here are the following:
* introduce a referrer policy for global environments (ie. Window and WorkerGlobalScope)
* propagate this policy to the actual HTTP network request code in `http_loader.rs` and modify the `Referer` header according

[2016-03-31 18:48] roysohan commented on #10227
So can you please dumb it down. We can start one by one. First how do I expose the attribute in webidl file, by making it public? or some other modifier?

[2016-03-31 18:49] jdm commented on #10227
It's currently commented out, so by uncommenting it.

[2016-03-31 18:49] jdm commented on #10104
Note - @roysohan is looking into other issues instead, so this one is still available.

[2016-03-31 18:50] roysohan commented on #10227
Its asking whether to create a pull request, so should i create a PR?

[2016-03-31 18:52] jdm commented on #10227
Pull requests are only created when you have local code changes that you wish to have merged into the original repository (ie. this one).

[2016-03-31 18:52] roysohan commented on #10227
Created a PR, what to do next?

[2016-03-31 18:55] jdm commented on #10227
http://doc.servo.org/script/dom/bindings/index.html may help understand why there's a Rust compile error after modifying a webidl file.

[2016-03-31 18:58] #10234 closed

[2016-03-31 18:58] roysohan commented on #10227
So it means I have to first work on the type attribute before making the compilation a success?

[2016-03-31 19:02] #10136 closed

[2016-03-31 19:04] rebstar6 commented on #10311
I'm going to work on this issue!

[2016-03-31 19:05] jdm commented on #10311
I've added some file pointers to my previous comment. Let us know if anything's unclear!

[2016-03-31 19:07] roysohan commented on #10227
Sir what to do next, I have forked it out and doing on my own fork, located htmlscriptelement.rs
so what to do now how to avoid those javascript types?

[2016-03-31 19:08] jdm commented on #10227
Take a look at the WebIDL file for other similar attributes. Find out how they're implemented in htmlscriptelement.rs already, and use them for inspiration!

[2016-03-31 19:09] jdm commented on #10227
For clarity, the goal is that running Servo on an HTML file with
[code]
will not report any errors in the terminal.

[2016-03-31 19:15] roysohan commented on #10227
the htmlscriptelement.rs file looks like a big soup. I am totally lost

[2016-03-31 19:22] jdm commented on #9874
Our Windows builds are taking a long time right now; have you made any progress @amarmaduke? Any questions?

[2016-03-31 19:29] roysohan commented on #10227
what does the get() function and @atom() do?

[2016-03-31 19:39] jdm commented on #10227
Sorry, `get` isn't descriptive enough for me to be able to answer that. `atom!` is just a way of turning a particular string into an `Atom` value (which is basically a kind of string that's really fast to compare). [The documentation](http://doc.servo.org/string_cache/atom/struct.Atom.html) doesn't describe it, unfortunately.

[2016-03-31 19:51] roysohan commented on #10227
So what should I do now, sir? I am a little confused. Iknow that it has some connection to step 6, but what to do next?

[2016-03-31 20:27] #10282 closed

[2016-03-31 20:43] larsbergstrom commented on #10290
@edunham

Admin perms should be:
larsbergstrom
metajack
edunham
Manishearth

Everybody else should just have Write (which I believe gives the ability to change assignee & labels).

[2016-03-31 20:54] larsbergstrom commented on #10290
Related to this is the list of owners at https://github.com/orgs/servo/people, which I think should be the ones I mentioned above. The wrinkle in this is that according to https://help.github.com/articles/permission-levels-for-an-organization/, the only people who can transfer in repos are the Owners! And that's something that others (e.g. pcwalton/glennw) have had to do in the past.

For convenie

[2016-03-31 21:10] jdm commented on #9551
This is available for claiming!

[2016-03-31 21:27] jfhumann commented on #9551
I would like to work on this :)

[2016-03-31 21:39] jdm commented on #9551
Please do!

[2016-03-31 21:45] jdm commented on #9960
Fixed by #10195.

[2016-03-31 21:45] #9960 closed

[2016-03-31 21:58] stjepang commented on #10278
I'd like to implement this.

[2016-03-31 21:59] stjepang commented on #8509
Any updates on this issue? :)
In case it got forgotten or abandoned, I'd be willing to implement it.

[2016-03-31 22:02] jdm commented on #8509
Nope, @peterjoel is actively working on it. There are just a bunch of moving pieces in other repositories which have ended up being necessary.

[2016-03-31 23:53] amarmaduke commented on #9874
I'm running into trouble with the mingw64 build @jdm

The build fails on the build command for `mozjs_sys v0.0.0 (https://github.                                                    com/servo/mozjs#5ac99916)`

It says:

[code]

Part of the stdout (I left out bits because of length):

[code]

The stderr is:

[code]

I'll have time to investigate it more thoroughly this Sunday, but perhaps you know s

[2016-04-01 00:33] Manishearth commented on #10017
This can't be verified until https://github.com/servo/servo/issues/10260 is fixed

[2016-04-01 00:33] Manishearth commented on #10260
cc @pcwalton

[2016-04-01 01:11] ConnorGBrewster opened #10326 "webgl: compiling shader with a sampler2D causes a crash"
Servo crashes when compiling a shader containing a `uniform sampler2D`.

Example:
[code]

It crashes with the following message:
[code]

[2016-04-01 02:05] pcwalton commented on #10124
Why do recv failures always indicate bugs? Couldn't a crashed pipeline (in multiprocess mode, or just a panicking one) cause arbitrary recv failures in the constellation?

[2016-04-01 03:24] ConnorGBrewster commented on #10326
backtrace:
[code]

[2016-04-01 03:52] paulrouget opened #10334 "Fire a mozbrowsererror event if pipeline/frame panics"
Followup: https://github.com/servo/servo/pull/10082#issuecomment-204237490

[mozbrowsererror](https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowsererror) with `type = "fatal"`.

[2016-04-01 04:00] #10273 closed

[2016-04-01 05:59] paulrouget opened #10335 "Implement URL.searchParams"
https://github.com/servo/servo/blob/f335586ff538004c708d836876b359704ebed86a/components/script/dom/webidls/URL.webidl#L23

https://url.spec.whatwg.org/#interface-urlsearchparams

[2016-04-01 06:02] Manishearth commented on #10335
This should be useful here: http://doc.servo.org/url/struct.Url.html#method.query_pairs

[2016-04-01 06:16] emilio commented on #10326
Can you try with the older version of ANGLE? We updated it recently, it might have new bugs.

[2016-04-01 06:18] Manishearth commented on #10017
Stuff works now, I can browse bhtml fine

[2016-04-01 06:18] #10017 closed

[2016-04-01 06:22] Manishearth commented on #10228
This is google. I can't find the broken atlas pieces on the page though; so it might not be the same bug.

![screenshot from 2016-04-01 11 50 24](https://cloud.githubusercontent.com/assets/1617736/14199229/26d115f4-f800-11e5-8ea6-3f5c36b6f208.png)

[2016-04-01 06:36] paulrouget commented on #10228
Maybe https://github.com/servo/webrender/pull/253 improved the situation (at least for the weird gradients).

[2016-04-01 08:06] shinglyu opened #10337 "Crash on launch on Android"
I built a release build for Android following [the guide](https://github.com/servo/servo/wiki/Building-for-Android), but it crashes immediately on launch with the following adb log: https://gist.github.com/shinglyu/5bce8a846e54c023a411aef5405fb4c6 (there are `./mach package` log at the bottom)

The meat seems to be this:
[code]

Build Environment:
* Linux Mint (based on Ubuntu 14.04.3 LTS) x86_64

[2016-04-01 08:06] shinglyu commented on #10337
@larsbergstrom this is what I was talking about on IRC

[2016-04-01 08:08] shinglyu commented on #10337
I also did a `./mach clean`, then build a `dev` version, but the issues persists.

[2016-04-01 08:54] stjepang commented on #10335
Can I try this?

[2016-04-01 09:09] paulrouget commented on #10335
Sure!

[2016-04-01 09:26] paulrouget opened #10338 "default profile directory"
https://github.com/servo/servo/pull/10114 introduces a preference file.

The profiler directory is set via the `--profile-dir` option.

We should have a default directory.

This directory should not be created if it doesn't exist, but just if `--profile-dir` is not specified and `default_profile_dir/prefs.json` exists, then we should read this file.

I guess these are good-enough values:
- windows

[2016-04-01 09:41] Ms2ger opened #10339 "Android nightly failing again"
CC @larsbergstrom
[code]

[2016-04-01 10:20] paulrouget commented on #10256
It's happening on my macbook pro as well.

[2016-04-01 10:41] #10165 closed

[2016-04-01 10:54] paulrouget commented on #10050
@pcwalton: would using CSS transitions help in this case?

[2016-04-01 11:05] roysohan commented on #10227
I think I should leave this, since currently I do not have enough bandwidth to download servo and run it. I think before making any advances I should be able to compile it. And it is much complicated for me.

[2016-04-01 11:30] tschneidereit opened #10341 "support axis-locking when panning a page/frame"
Right now, panning is entirely omnidirectional, so if you pan vertically, but don't keep the gesture 100% vertical, you get very visible jittering in the pan. Other browser prevent this by locking the panning to the major axis of movement.

Gecko does this in [AsyncPanZoomController::HandlePanningUpdate](http://mxr.mozilla.org/mozilla-central/source/gfx/layers/apz/src/AsyncPanZoomController.cpp?re

[2016-04-01 11:35] creativcoder commented on #10338
I would like to work on it.

[2016-04-01 12:18] Ms2ger commented on #10227
You could try using https://janitor.technology

[2016-04-01 12:45] roysohan commented on #10227
I have already asked for an invitation, if I get an invitation then I will slowly contribute on this issue

[2016-04-01 12:57] Manishearth commented on #10228
Still occurs with patch applied

[2016-04-01 13:08] Manishearth commented on #10335
Let us know if you need help!

[2016-04-01 13:13] Manishearth commented on #10228
Typing two ls results in a single darker l coming up. I suspect that the offset is just a bit off (and kerning in the two-l case makes it shift back a bit)

[2016-04-01 13:55] asajeffrey commented on #10124
@paulrouget in #10334 points out that we should notify browser.html when a pipeline panics.

[2016-04-01 14:03] asajeffrey commented on #10334
@paulrouget should that be `type = "fatal"` or `type = "fatal(crash)"`. https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowsererror has `"fatal(crash)"` but I think "(crash)" is just meant as a comment, not as part of the `type` string.

[2016-04-01 14:30] ConnorGBrewster commented on #10326
@emilio after reverting #10214, it seems to compile the shader just fine. So there must be a new bug in angle

[2016-04-01 14:50] emilio commented on #10326
Hurrmm... I'll bisect the commit of angle when this was introduced (or maybe just go to the latest stable release instead of YOLOing with master's tip) when I have access to my computer again (travelling today).

[2016-04-01 15:11] ConnorGBrewster commented on #10211
This is fixed in #10291.

[2016-04-01 15:12] #10211 closed

[2016-04-01 15:13] emilio commented on #10211
True, thanks for the heads up!

[2016-04-01 16:05] asajeffrey commented on #10124
PRs #10082 and #10295 landed.

[2016-04-01 16:16] asajeffrey commented on #10124
PR #10294 ran into homu trouble, and is now PR #10343.

[2016-04-01 16:26] asajeffrey commented on #10124
PR #10345 addresses some coding style issues raised by @nox, about using `unwrap_or_else` for side-effects, rather than `if let`.

[2016-04-01 16:45] asajeffrey commented on #10334
At the moment, our binding to mozbrowsererror doesn't allow us to specify the type (https://github.com/servo/servo/blob/master/components/script_traits/lib.rs#L418). We'd need to extend `MozBrowserEvent` to provide type information.

@paulrouget How important is the type? Should we just emit a mozbrowsererror with no type info for now?

[2016-04-01 16:51] Gozala opened #10346 "Setting xhr.responseType throws exception"
Here is a an example html file to reproduce it:

[code]

[2016-04-01 17:21] asajeffrey commented on #10334
Also @paulrouget, should there be any other info in the event? For example, would including the stack trace in the detail be useful?

[2016-04-01 18:07] jdm commented on #10346
This is [following the spec](https://xhr.spec.whatwg.org/#the-responsetype-attribute), since you're not allowed to set the responseType attribute for synchronous requests in a Window global.

[2016-04-01 18:07] #10346 closed

[2016-04-01 18:08] jdm commented on #10334
@paulrouget The type is not important to maintain. We extend them as necessary.

[2016-04-01 18:39] jdm opened #10348 "Write a test for setting string preferences from WPT tests"
We have a test for boolean preferences in `preferences.html`, but we should verify that string preferences also work. This will require adding a similar API to `TestBinding`, and updating the `preferences.html.ini` file to include the new preferences value.

Code: `components/script/dom/webidls/TestBinding.webidl`, `components/script/dom/testbinding.rs`, `tests/wpt/mozilla/tests/mozilla/preference

[2016-04-01 18:54] mbrubeck commented on #10256
From a debug build, the key part of the stack trace:
[code]

[2016-04-01 19:27] pcwalton commented on #10256
Oh, it's obvious what's going on now. Working on a fix.

[2016-04-01 19:34] #9599 closed

[2016-04-01 19:57] perlun commented on #10227
I'll give this a look.

[2016-04-01 20:05] perlun commented on #10227
@jdm - FWIW, I don't get any errors even before implementing this on a file like this:

[code]

[2016-04-01 20:31] jdm commented on #10227
Huh, so `HTMLScriptElement::is_javascript` already exists.  I was going by https://github.com/servo/servo/pull/10224#issuecomment-202090141; @emilio could you elaborate on what wasn't working precisely?

@perlun Regardless, we can still work on exposing the relevant attributes appropriately :)

[2016-04-01 20:37] larsbergstrom commented on #9874
@amarmaduke Is this a from-scratch Windows build, or have you started working on the CCACHE parts?

I have talked with our Windows Gecko contributors and found out that CCACHE support on Windows is likely not to work due to some vagarities of the build system. So, unfortunately, I will need to close this task! I'm really sorry - I had quickly investigated and it all seemed to be straightforward, b

[2016-04-01 20:37] #9874 closed

[2016-04-01 20:39] perlun commented on #10227
Yep. :smile: Hoping to have something coming up in a while.

[2016-04-01 20:52] jdm opened #10352 "Document how to implement "reflect a content attribute""
The macros exist that do this, but there's no clear association between them and the specification text. We should improve our documentation here, and/or rename the macros to make it clearer.

[2016-04-01 21:00] perlun commented on #10352
Something like this perhaps (it's just a rough start):

I think it would perhaps be best to keep the documentation for these _in the file_ itself, since there otherwise always a huge risk that we fail in keeping the documentation in sync with the actual implementation.

[2016-04-01 21:02] jdm commented on #10352
While I see your point, I'm inclined to have text like that present in dom/bindings/mod.rs, which is where related concepts are documented and therefore easier to find and point people at.

[2016-04-01 21:04] perlun commented on #10352
Fair enough, I don't know the code well enough yet to have strong opinions about it. :smile: We could add a note in `macros.rs` saying that "more info on how to use this can be found in x" then.

[2016-04-01 21:38] #10298 closed

[2016-04-01 21:49] emilio commented on #10227
@jdm it is common to test script.type when writing webgl stuff, to know the type of the shader.

[2016-04-02 00:00] larsbergstrom commented on #10339
Thanks!

I think this is just a failure to run the android `android` tool with the proper toolkits. I think we can hopefully just steal this from other folks' salt rules :-)

CC @edunham @aneeshusa

[2016-04-02 00:02] larsbergstrom commented on #10337
Hrm, usually this failure mode means that there is an unresolved symbol. I will try to reproduce this locally, as I've been doing my Android development on a build that is based on a slightly older hash and that has a bunch of fixes for webrender :-)

[2016-04-02 00:17] aneeshusa commented on #10339
My first guess would be that the menu entries in the output of `android list sdk` have changed. See https://github.com/servo/saltfs/blob/6e59cb1ed42c005e225c184d5809930b0c2c9906/servo-build-dependencies/android.sls#L50 for reference; if the menu entries have changed, 9 will no longer provide the android-18 target. This might happen if we update the SDK, for example.

Have there been any changes on

[2016-04-02 00:21] aneeshusa commented on #10339
I just ssh'ed into `servo-linux-cross1` and the output of `android list sdk` indicates that the android-18 target is now 8 in the list, not 9.

However, this shouldn't matter - the proper SDK should already be installed from whenever we set up the builder.

[2016-04-02 00:23] larsbergstrom commented on #10339
Aha! I think that we somewhat-recently upgraded SDK & NDK versions, because I remember having to propagate the changes to the environment variables.

I think that happened with the old builders (which would already have had the original SDKs installed) and now when we provisioned the new ones, the new bits were not installed.

[2016-04-02 00:23] aneeshusa commented on #10339
Nope, checking in the `platforms` subdir shows only `android-19`, not `android-18`, so it looks like this is the cause. The fact that the menu entries changed like that without a version bump is worrying!

I'll put in a PR for a quick fix, but I'll need to rejigger these states to work better long term.

[2016-04-02 00:23] larsbergstrom commented on #10337
Hrm, usually this failure mode means that there is an unresolved symbol. I will try to reproduce this locally, as I've been doing my Android development on a build that is based on a slightly older hash and that has a bunch of fixes for webrender :-)

[2016-04-02 00:27] aneeshusa commented on #10339
You're right, [I bumped the SDK version in November](https://github.com/aneeshusa/servo-saltfs/commit/b80f1bd296cef8d63dcb70b2b7517790d41fc39e). Maybe I don't need to fix the states after all.

Are these the first Android builds we've run on the new builders?

[2016-04-02 00:28] larsbergstrom commented on #10339
I think that the rest of the Android stuff is somehow working fine (it got the platform). The nightly build has been broken since the move, though, because though the platform is there the platform build tools are not. Those are only used in the android-nightly build - the others just need the headers to link against, etc.

[2016-04-02 00:29] larsbergstrom commented on #10339
In fact, I think we only need the *NDK* for the rest of the Servo android build! It's only when we build the packaging and java library goop that we touch anything from the SDK.

[2016-04-02 00:31] Manishearth opened #10357 "./mach run -b doesn't accept additional params"
For all of the `./mach run` modes, you can pass in additional parameters after a `--`, e.g. `./mach run -r -w -- -Zsome-debug-option`. When run with `-b`, this isn't possible.

Code: https://github.com/servo/servo/blob/5333f564cd2f97ad78d2edc53f3791461b4b9244/python/servo/post_build_commands.py#L128

Just need to add `params` to `args` somewhere in that branch

[2016-04-02 02:49] #10307 closed

[2016-04-02 03:07] shinglyu commented on #10337
I want to set up a nightly build server in Taipei, so I can bisect builds for this kind of problem. Does [these script](https://github.com/servo/servo-nightly/) run on Jenkins on Linux? Or how do I reproduce your nightly build environment?

[2016-04-02 03:47] paulrouget commented on #10334
"fatal"

Not that important, but it's pretty easy to support: we should create a new event type in BrowserElement.webidl;

[code]

Absolutely. You can add an extra field to the webidl for that.

[2016-04-02 03:50] paulrouget commented on #10338
Sure! Let us know if you have any question.

[2016-04-02 11:06] larsbergstrom commented on #10337
Perfect timing! @edunham and I are *just* talking about setting up a full set of nightly builds for Servo :-)

I was originally looking at the servo-nightly repository as a way to get builds done by Travis/AppVeyor. However, as Emily pointed out, it would be nice to have the builds being produced by machines fully under our control. So she's thinking of expanding our current buildbot rules here to

[2016-04-02 11:18] amarant commented on #10348
I have a try here #10362

[2016-04-02 11:44] timvandermeij commented on #10098
Fixed by #10114?

[2016-04-02 11:58] roysohan commented on #10227
When we write <script type="wheeeee"> definitely not javascript </script>
What are the parts of <script type="wheeee"> and what are the variables
used for storing
What is the "wheeee" called and where it is stored

On Sat, Apr 2, 2016, 3:20 AM Emilio Cobos Álvarez <notifications@github.com>
wrote:

[2016-04-02 12:00] autrilla commented on #10357
#10363 I *think* this is what you want, but it seems too trivial

[2016-04-02 12:02] Manishearth commented on #10357
Yep, that's correct.

[2016-04-02 12:41] #10098 closed

[2016-04-02 12:52] jdm opened #10364 "Intermittent crash in /css21_dev/html4/at-rule-005.htm"
[code]

[2016-04-02 12:55] aneeshusa commented on #10337
+1 from me on moving things out of Buildbot files and into the Servo repository - having less in the Buildbot files should decrease Buildbot's fragility. Ideally Buildbot knows as little as possible about Servo specifics.

[2016-04-02 14:28] lygstate commented on #9775
I think the problems comes from the appveyor.xml doesn't calling the method
`update-core`
That's the difference between the servo README.md & appveryor.xml,
so we may need to fill the gap between README.md & appveryor.xml, or
we need creating a mirror version of msys2

[2016-04-02 15:45] jdm opened #10367 "Documents without a browsing context should have a null location"
According to the [specification](https://html.spec.whatwg.org/multipage/browsers.html#dom-document-location), our implementation of `Document::Location` is incomplete.

Code: `components/script/dom/document.rs`
Test: `./mach tests/wpt/web-platform-tests/domparsing/DOMParser-parseFromString-html.html`

The expected test results will need to be [updated](https://github.com/servo/servo/blob/master/te

[2016-04-02 15:49] emilio opened #10368 "Implement WebGLRenderingContext.{uniform4iv(), uniform4i()}"

[2016-04-02 15:50] emilio commented on #10368
@autrilla wanted to work on this

[2016-04-02 16:00] nehagup commented on #10367
I think I'm gonna enjoy working on this. :)

[2016-04-02 16:33] #9569 closed

[2016-04-02 17:57] autrilla commented on #10368
#10369 done, note I also implemented Uniform4i so please mark that one as done too

[2016-04-02 18:07] dzbarsky opened #10370 "Panic scrolling around on nytimes.com"
[code]

[2016-04-02 18:09] emilio commented on #10370
Dupe of https://github.com/servo/servo/issues/10256

[2016-04-02 18:09] #10370 closed

[2016-04-02 18:47] slayerjain commented on #10367
Am i not done with this one?

[2016-04-02 19:56] emilio commented on #10212
Fixed by https://github.com/servo/servo/issues/10215

[2016-04-02 19:56] #10212 closed

[2016-04-02 19:57] emilio commented on #10213
Fixed by https://github.com/servo/servo/issues/10215

[2016-04-02 19:57] emilio commented on #10226
Closed by https://github.com/servo/servo/pull/10215

[2016-04-02 19:58] #10226 closed

[2016-04-02 20:01] ConnorGBrewster commented on #10326
Fixed in #10215

[2016-04-02 20:01] #10326 closed

[2016-04-02 20:03] jdm commented on #10367
Ack, sorry @nehagup. I forgot about #10257 :( I'll file a new one for you.

[2016-04-02 20:03] #10367 closed

[2016-04-02 20:03] emilio commented on #10326
Concretely in https://github.com/emilio/angle/commit/eefe3506ae13e8ace811ca544fd6b4a5f0db0a04

[2016-04-02 20:25] jdm opened #10374 "Dispatch error event when link elements get invalid network response"
Specification: https://html.spec.whatwg.org/multipage/semantics.html#concept-link-obtain (starting at "Once the attempts to obtain the resource")
Code: `components/script/dom/htmllinkelement.rs` (see `AsyncResponseListener` implementation for `StylesheetContext`)
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/document-metadata/the-link-element/link-style-error-01.html`

We shou

[2016-04-02 20:28] jdm opened #10375 "link-load-event.html is failing due to wptrunner changes"
Something in the implementation of pipes changed in the recent upgrade (78369e95cf7ed0813cb9342747caa4984ae7c527) which broke this test:
[code]

[2016-04-02 20:28] jdm commented on #10375
cc @jgraham

[2016-04-02 20:31] jdm commented on #10375
A bunch of Opera's script scheduling tests that rely on the trickle modifier are similarly timing out since that upgrade.

[2016-04-02 22:13] ConnorGBrewster opened #10376 "WebGL does not work in Webrender"
Running `./mach run -d tests/html/test_webgl_triangle.html` displays a colored triangle.

If you run again with the `-w` flag: `./mach run -d -w tests/html/test_webgl_triangle.html`, nothing is rendered and the following errors are printed to the console:

[code]

[2016-04-02 22:59] aneeshusa commented on #10338
One of my long-standing irritations about Firefox is [its lack](https://bugzilla.mozilla.org/show_bug.cgi?id=259356) of [XDG Base Directory support](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html). In particular, Firefox uses a single profile folder for all of its files, but the XDG spec has separate paths for configuration/preferences, caches, and data. I find this s

[2016-04-02 23:13] ConnorGBrewster commented on #10376
This issue only applies to `cgl` on Mac.

[2016-04-03 01:22] ConnorGBrewster commented on #10376
@emilio After doing some more digging I found that when creating a context from a shared context, they should both share the same attributes. ([CGLCreateContext](https://developer.apple.com/library/mac/documentation/GraphicsImaging/Reference/CGL_OpenGL/#//apple_ref/c/func/CGLCreateContext) discussion section). I tried this and there is now a new crash, seems to be related to shader compilation; ho

[2016-04-03 01:47] ConnorGBrewster commented on #10376
In `apitrace` is looks like the error occurs when trying to use the shader program.
[code]

[2016-04-03 02:03] dzbarsky opened #10378 "Crash when scrolling https://commons.wikimedia.org/wiki/SVG_examples\#/media/File:Svg_example1.svg"
[code]

[2016-04-03 04:11] ConnorGBrewster commented on #10376
@emilio I setup `GetProgramInfoLog` and `GetShaderInfoLog`. After using the `pixel_format` from the main context it creates the new context that uses OpenGL 3.2. The shaders no longer compile because they don't have a `#version`. When manually setting the new context to legacy OpenGL( < 3.2) it crashes because it can't share the context created by webrender which is OpenGL 3.2. I am not too famili

[2016-04-03 04:19] jdm commented on #10375
We're missing the changes in https://github.com/w3c/wptserve/commit/66ffd809ef8561e3f7ef63d1e9c085be12ef3ebe .

[2016-04-03 04:32] jdm commented on #10378
Duplicate of #9984. Thanks for filing it!

[2016-04-03 04:32] #10378 closed

[2016-04-03 06:49] creativcoder commented on #10338
@aneeshusa Ok. Looks like we have a library already that follows XDG base directory spec https://github.com/whitequark/rust-xdg . We can use that. Will need @paulrouget suggestions on this.

[2016-04-03 07:04] paulrouget commented on #10338
@SimonSapin Wanna chime in? I've seen you commented there: https://github.com/whitequark/rust-xdg/issues/8

[2016-04-03 07:07] saurvs commented on #10245
I'm working on this.

[2016-04-03 07:11] paulrouget commented on #7379
Relevant:
- http://calculist.org/blog/2015/12/23/neon-node-rust/
- http://calculist.org/blog/2016/04/01/native-js-classes-in-neon/

[2016-04-03 08:06] emilio commented on #10376
Oh, if that's the problem, that's a really easy problem to solve! :)

I forgot WR changed the requirements from OpenGL 3.0 to OpenGL 3.2. Let's just tweak the values of the shader compiler output, to something tha tworks in OpenGL 3.2 core.

https://github.com/emilio/angle/blob/servo/src/hl.rs#L50

Probably the best for compat will be `Glsl130` or `Glsl150Core`, let me know if any of those work fo

[2016-04-03 08:23] SimonSapin commented on #10338
I agree that we should separate non-essential / cache files from configuration / preferences and user data. The conventional way to do that on Linux is per XDG, but I don’t know about other systems. I’d be in favor of putting that separation in place even if we only have preferences so far.

Unfortunately that makes a nice single `--profile-dir` command-line option not enough. I don’t have a good

[2016-04-03 08:55] autrilla commented on #10374
I'll give this a shot :)

[2016-04-03 09:00] emilio commented on #10368
Fixed by https://github.com/servo/servo/pull/10369

[2016-04-03 09:00] #10368 closed

[2016-04-03 12:09] timvandermeij commented on #10357
Fixed by #10363?

[2016-04-03 12:10] #10357 closed

[2016-04-03 12:13] Shiroy commented on #10104
I'm working on this issue.

If I understand well, the `HasViewportPercentage` trait is used to easily identify which node is currently using a vh/vw unit so we must only dirty these nodes when the viewport size change ?

And dirtying these nodes is done somewhere in [selector_matching.rs](https://github.com/servo/servo/blob/master/components/style/selector_matching.rs) ?

[2016-04-03 12:52] jdm opened #10380 "Intermittent "Test timed out""
[code]

[2016-04-03 12:55] jdm commented on #10380
All the builders for #10360 appeared to complete, so I'm not sure what the problem was. Maybe appveyor?

[2016-04-03 13:01] ojab opened #10381 "slither.io is awfully slow"
Minified testcase:

[code]

getting about 5 FPS on servo release build (with and without WebRender enabled, Mac OS X) and 60 FPS in Firefox/Safari/Chrome.
With small canvas (100x100, for example) I'm getting 60 FPS in servo.

I assume that this issue can be duplicate of #7638/#8311/#8281, but AFAIU they are about servo debug builds.

[2016-04-03 13:24] ojab opened #10383 "thread 'Constellation' panicked at 'called `Result::unwrap()` on an `Err`"
Testcase:
[code]
Running `./mach run -d -w /tmp/index.html` (index.html contains testcase) and then hiding the servo window (i. e. minimizing it, switching to different workspace, etc) leads to
[code]

Mac OS X 10.11.4 here.

[2016-04-03 14:05] nehagup commented on #10367
Ah...Sure!No issues :)

[2016-04-03 14:17] jdm commented on #10383
Looks like we may need to be eager about shutting down canvas threads when possible. We may need more GC hinting like https://gist.github.com/jdm/1d2e71157887849c7ba2.

[2016-04-03 14:18] jdm commented on #10381
We should measure whether the time is being spent under `drawImage` or whether `requestAnimationFrame` isn't giving us frequent-enough callbacks.

[2016-04-03 14:18] ConnorGBrewster commented on #10376
@emilio When using Glsl130, it says version 130 is not supported. Glsl150 is supported, but the shader gets translated incorrectly:

Original Shader:
[code]

Translated Shader:
[code]

During shader compilation, OpenGL errors with `Use of undeclared identifier 'webgl_FragColor'`. From looking at other examples of translated shaders for angle, it looks like it is missing `out vec4 webgl_FragColor;`

[2016-04-03 14:20] aneeshusa commented on #10338
Thanks for listening, this is a small thing that makes a big usability difference for me. :)

XDG specifies a set of environment variables that allow overriding the folders used for config/cache/data separately; it looks like the rust-xdg crate already uses these.

As far as command line options, I think a `--config-dir` option may be useful; I don't think I've ever used a `--cache-dir` or `--data

[2016-04-03 14:55] jdm opened #10384 "IFrame load blocker could be incorrectly cleared"
`iframe_load_event_steps` unconditionally terminates any load blocker that currently exists after the iframe's load event has been dispatched. If the load event handler ended up causing `navigate_or_reload_child_browsing_context` (by setting the `src` attribute, for example), this will terminate the replacement load blocker before the load is actually complete.

We should either be terminating the

[2016-04-03 14:56] piranna opened #10385 "Output to framebuffer"
Can `servo` be compiled as a statically linked binary to use the Linux framebuffer as graphical output without any other external dependencies?

[2016-04-03 14:59] jdm opened #10386 "IFrame session history navigation APIs should act like network loads"
There's no reason that `iframe.goBack()` should be expected to be a synchronous operation with the previous page ready for rendering when the call completes - the browser could throw away session history to reduce memory usage, or the previous page may be impossible to cache safely. Navigating through session history should trigger load events like regular navigations.

[2016-04-03 15:18] #10213 closed

[2016-04-03 15:23] SimonSapin commented on #10338
Sounds good to me.

[2016-04-03 15:56] frewsxcv commented on #10306
Might be related to https://github.com/servo/servo/issues/783

[2016-04-03 16:12] #8015 closed

[2016-04-03 16:24] ojab commented on #10381
It's actually drawImage() calls, 1000x1000 canvas takes about 0.160 sec w/ WebRender and 0.15-0.20 sec without.

[2016-04-03 16:27] jdm commented on #10381
I bet the solution is to switch the implementation of `draw_html_canvas_element` to use a new Canvas2dMsg which takes a handle to an existing canvas rather than the direct pixels. This will avoid the need to wait on a synchronous read-back operation from the first canvas and serialize the pixels twice.

[2016-04-03 19:30] frewsxcv commented on #5886
Can confirm this is still an issue.

![screen shot 2016-04-03 at 3 30 07 pm](https://cloud.githubusercontent.com/assets/416575/14234447/fc12c6c0-f9b0-11e5-94db-f53d386ab5ed.png)

Flow tree:

[code]

[2016-04-03 19:30] autrilla commented on #9256
I'd like to take this one if it's still needed.

[2016-04-03 19:35] creativcoder commented on #10338
@SimonSapin
So i went through the relevant code, and am thinking of something like this.
Tell me if this is the way to go.

First we'll add an extra field `config-dir` to `Opts` struct, then
within `default_opts()` method, we will call something like : `xdg::get_default_config_dirs()`

We can create a mod `xdg.rs` under `util`, which will contain conditionally `#[cfg(target_os="")]`
conditional me

[2016-04-03 19:43] antrik commented on #10230
I think there are two issues to be considered here. One is the fact that we are actually sending an `Arc` over IPC -- this seems very, *very* wrong. AIUI, this will totally break the reference counting (and thus result in memory leaks) in the receiver whenever the `Arc` has any other outstanding references at the time of serialisation.

I'm rather shocked that the type system doesn't protect us fr

[2016-04-03 19:47] jdm commented on #9256
I suspect the work that @Jayflux was doing stalled due to the unmerged PR to the TOML library that we're using. I'm not sure what are options are to get around that :/

[2016-04-03 19:56] antrik commented on #9555
For the record: after investigating the issue, I don't think that it was in fact related to the use of a dedicated channel. The problem has always existed; and while the dedicated channel might make it *somewhat* more likely to get triggered (because we have one more packet in flight at the same time), I don't think it makes all that much difference. It definitely can get triggered without the ded

[2016-04-03 20:14] frewsxcv commented on #5886
Is [this](https://github.com/servo/servo/blob/d35ae3beb73158ec4c9ab20b3361e948379a4c90/components/layout/construct.rs#L1135-L1187) the relevant section that needs to be changed? If so, should there be a check for emptiness?

------------------

Worth mentioning that `<table><tr></tr></table>` also differs:

![screen shot 2016-04-03 at 4 14 11 pm](https://cloud.githubusercontent.com/assets/416575/1

[2016-04-03 20:26] glennw commented on #9558
@vberger Thanks for looking into this!

I suspect that the easiest way to get Servo working on wayland now will be to use webrender - when using webrender, all drawing is done via GL calls only - there shouldn't be any calls made to native_display(), and we shouldn't use any X11 / GLX specific functionality (if you do hit these code paths when running with WR that's a bug, as those are used for te

[2016-04-03 20:32] autrilla commented on #9256
I guess we could use our own fork instead of the original one?

[2016-04-03 21:28] CartridgeGen opened #10389 "Download Rust Compiler : Failed"
It says forbidden and I followed the link aswell it's forbidden aswell.
`looking for rustc at /media/My_Passport/servo-master/.servo/rust/2016-03-18/rustc-nightly-unknown-unknown-linux-gnu/rustc/bin/rustc
Downloading Rust compiler...
Download failed (403): Forbidden - https://static-rust-lang-org.s3.amazonaws.com/dist/2016-03-18/rustc-nightly-unknown-unknown-linux-gnu.tar.gz`

If it has anything t

[2016-04-03 22:25] Manishearth commented on #10230
It's wrong, but not that wrong. There will be two unrelated Arcs on either side of the channel. Serde doesn't copy pointers, it deep clones them.

Sure. It definitely makes sense for single owner types like Vec.

The thing is, folks want to use Serde to persist data across sessions, too. In this situation, even an Arc or an Rc is totally fine. There might be an Arc buried within some struct from a

[2016-04-04 07:22] Ms2ger commented on #10375
Fixing.

[2016-04-04 08:15] #9859 closed

[2016-04-04 08:22] ojab opened #10390 "thread 'CanvasThread' panicked at 'called `Result::unwrap()` on too large IPC messages"
Testcase:

[code]

leads to

[code]

[2016-04-04 08:22] ojab commented on #10390
Mac OS X here, if it's important.

[2016-04-04 09:27] Ms2ger opened #10392 "TIMEOUT [expected CRASH] /webstorage/storage_setitem.html"
[code]

[2016-04-04 10:53] vberger commented on #9558
Okay, I'll look in the webrender direction then. GL3.3 should be provided by glutin over wayland, assuming the mesa driver of the computer its run on provides it.

However, I don't know when exactly I'll be able to dig more into it, I've quite a lot going on currently.

[2016-04-04 11:42] matthiaskrgr commented on #10217
I can no longer reproduce  (  @ f6c29249360134b2a437de0674f606b36327bfb1 ). Shall I close this?

[2016-04-04 11:48] jdm commented on #10217
Yep, sounds like the various ipc-channel fixes corrected this.

[2016-04-04 11:48] #10217 closed

[2016-04-04 11:51] #10375 closed

[2016-04-04 12:12] jdm commented on #10245
For what it's worth, places to start looking for the actual transition-related code:
* https://github.com/servo/servo/blob/a9eb08dbaa5a9f394aa6c3e563796658826a83b3/components/style/matching.rs#L451 seems to be code that deals with determining if an animation is finished
* we would need to add a way to send messages to the script thread (maybe like the `animations_sender` member of `SharedStyleCont

[2016-04-04 12:21] saurvs commented on #10245
The spec says that only the completion of a css transition generates a corresponding dom event.

[2016-04-04 12:25] shinglyu commented on #10337
It's always good to write runner-agnostic build scripts and keep the CI config as simple as possible. Ping me if you have a bug for the task and I can help. I'm quite familiar with python.

[2016-04-04 13:03] veirus opened #10395 "mach test fail on Windows"
Running under mingw64 shell installed with msys2 on Windows 8.1 x64 gives this result:

[code]

[2016-04-04 14:02] Ms2ger commented on #10337
Is it possible to retain the separation into steps when the code is moved into the tree?

[2016-04-04 14:11] larsbergstrom commented on #10337
@Ms2ger I would like to do so, as otherwise it will be hard to balance jobs across the trees. e.g., build, wpt, css, etc. should all be separate steps. And wpt/css should take "chunk" and "threads" parameters, as we're definitely going to want to use those... once they work :-)

[2016-04-04 14:12] Ms2ger commented on #10395
CC @jgraham

[2016-04-04 14:27] SimonSapin commented on #10338
Sounds good, except we should have a thing (module, crate, …) to abstract platform differences called something like "basedirs" but *not* "xdg", since XDG is only relevant and xdg-rs is only used on some platforms.

[2016-04-04 14:31] metajack commented on #10230
Does the deserialized Arc have its strong reference count reset to 1 or something appropriate? I think @antrik's point stands about this causing memory leaks if care is not taken.

[2016-04-04 14:31] jgraham commented on #10395
Does it happen if you use the OpenSSL setup documented at https://github.com/w3c/web-platform-tests#windows-notes ? I suspect mingw's openssl is less weird, or at least weird in a different way, compared to the other Windows distributions, and so will need to be detected and (probably) input paths changed to match what it accepts.

[2016-04-04 14:34] saurvs commented on #10209
I'd like to work on `getActiveUniform`

[2016-04-04 14:59] Manishearth commented on #10230
It just creates a new Arc.

(It would be hard not to by accident, serde doesn't have access to `Arc`'s internals so all of this would require unsafe)

[2016-04-04 15:59] metajack commented on #9749
@jdm has said he'd like to work on this.

[2016-04-04 16:26] larsbergstrom commented on #10389
What platform are you on? We should never be downloading the `unknown-unknown-unknown-linux-gnu` target triple. How did you invoke `mach`? Did you pass a `--target` flag of any kind?

[2016-04-04 16:28] antrik commented on #10230
Ah, interesting. Does it have special handling for `Arc`s, or is that what it always does with opaque types?

Given the above explanation, I no longer see this as a problem at all...

(The inefficiency of sending large data seems an orthogonal problem to me, not really bound to `Arc`s in any way?)

My understanding is that thread-bound references usually should get released on thread panic during

[2016-04-04 16:40] Manishearth commented on #10230
At no point does serde just serialize by picking up the bytes. It's not that kind of serializer. All serialize/deserialize impls for stdlib types are custom within serde itself.

The problem is that it doesn't work as expected (even though what is "expected" would lead to a segfault when used over IPC :smile:). This is one of the places where ipc-channel doesn't mirror sync::mpsc in behavior and w

[2016-04-04 16:43] veirus commented on #10395
With Shining Light setup:
[code]

[2016-04-04 16:54] metajack commented on #9918
I was roughly following this guide I found on how to build them:
http://stackoverflow.com/questions/1596945/building-osx-app-bundle

Note that we also need to copy resources into Servo.app as well. Here is my directory structure:
[code]

Here is the content of run-servo:

[code]

And here's my Info.plist:

[code]

Note that repeatedly running this would make it stop working until I changed CFBundl

[2016-04-04 16:59] metajack commented on #9918
Here's servo.icns as well.
[servo-icns.zip](https://github.com/servo/servo/files/202924/servo-icns.zip)

@paulrouget let me know if you need anything else.

[2016-04-04 16:59] emilio opened #10397 "Implement WebGLRenderingContext.getActiveUniform()"
See the [general info for WebGL bugs](https://github.com/servo/servo/issues/10209#user-content-general-info) to see the spec and get a grasp how the code is structured.

This should be pretty similar to #10379.

@saurvs wanted to work on this.

[2016-04-04 17:00] emilio commented on #10209
@saurvs I opened https://github.com/servo/servo/issues/10397 for you, feel free to ask any question you might have there :)

[2016-04-04 17:59] rebstar6 commented on #10311
I'm a little confused on scope - the spec refers to the "settings object" as having a referrer policy - is this specific to the Document? What do you mean above by "global environment"?

Also, I've worked with the document file a little, but not workerglobalscope - can you give a quick explanation of what that file is and how that and document interact (if they interact).

[2016-04-04 18:07] mbrubeck commented on #10104
Yes.

During selector matching, either `push_applicable_declarations` or one of the functions that calls it (`style::traversal::recalc_style_at` might be the easiest place to do this) should set a flag on any node whose applicable declarations contain a viewport percentage, or whose parent has the flag set.  This will require adding a new `DIRTY_ON_VIEWPORT_SIZE_CHANGE` flag to the `script::dom::n

[2016-04-04 18:11] jdm opened #10398 "Intermittent timeout in /cssom-view/scrollingElement.html"
[code]

[2016-04-04 18:26] mbrubeck commented on #10104
Note: I’m not sure whether it makes more sense to add this to `NodeFlags` or to somewhere else like `layout::data::LayoutDataFlags`.

[2016-04-04 18:39] jdm commented on #10311
A "global environment" refers to the root object for executing JavaScript code. You can think of this as a per-tab global object. The "settings object" is a concept that we don't have an equivalent for in Servo yet, so we'll treat it as "data that resides in the global object". `WorkerGlobalScope` is the global object for a [web worker](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_

[2016-04-04 19:24] mbrubeck commented on #10104
Also, we should make sure that this speeds up window resizing significantly, and doesn't slow down selector matching too much (especially because selector matching happens much more often than window resizing).

We could do some of this testing before writing any new code, by measuring to see whether adding vh/vw units to a page's stylesheets makes it spend a significant amount more time in style

[2016-04-04 20:08] CartridgeGen commented on #10389
I just did ./mach build --release
I'm running on an ARMv7 board octacore debian jessie. Xu3 to be exact. I downloaded and compiled Rust which won't install and I don't know how to let mach know where rust directory is. if you need more info just ask. I really want to get servo working it seems to be a great to have program.

[2016-04-04 20:16] jdm commented on #10389
You can copy the `servobuild.example` file to `.servobuild` and modify the configuration there to use a local version of the rust compiler.

[2016-04-04 20:19] bobthekingofegypt commented on #9772
cc @jdm

I've taken a look at this test to see if it could be enabled again after the work on fixing the timeouts.

I have a few concerns about this test case and feel we should maybe change it a bit, but I'm assuming it is working for other browsers.  What is the process for changing the functionality of a test case?

I'll break down my concerns about the test, hopefully some of it makes sense.

[2016-04-04 20:28] jdm commented on #9772
Funny you should mention point 1, since I filed https://github.com/w3c/web-platform-tests/issues/2625 a couple months ago about the same issue.

[2016-04-04 20:29] jdm commented on #9772
As for updating the tests, for ones like this I like to modify them upstream in order to solicit feedback from people like zcorpan.

[2016-04-04 20:59] mbrubeck commented on #7681
I think [this code](https://github.com/servo/servo/blob/8dd24fa783eb28f3c4f0beacae33ba1b947b1f36/components/layout/display_list_builder.rs#L1040-L1051) is supposed to draw the border when building the display list for `span#outer`, but is incorrectly using `node.style` from the child node, rather than `self.style`.

[2016-04-04 21:01] antrik commented on #10230
Depends on your expectations I guess ;-)

I for one certainly do not expect a reference to magically span process boundaries...

I think we are still not on the same page here.

One important bit I didn't mention explicitly that might not be obvious, is that the processes should map the font files directly into their address spaces with `mmap()`, rather then copying their contents with `read()`. T