[2020-03-25 15:14] hgallagher1993 commented on #17996
Sounds good! Don't have Servo on my laptop anymore to check myself but I'll take your word for it 😄

[2020-03-25 15:16] jdm commented on #25955
Indeed!

[2020-03-25 15:16] #25955 closed

[2020-03-25 15:18] #16921 closed

[2020-03-25 15:19] jdm opened #26033 "Intermittent failure in /html/semantics/embedded-content/the-area-element/area-processing.html"
[code]

[2020-03-25 15:20] dralley commented on #1679
It looks like these were moved to the ```style``` attribute of Fragment, e.g. ```fragment.style.content_block_size()```

Is the bug still applicable?

[2020-03-25 15:23] dralley commented on #1682
Seems like none of those functions (or ContainingBlockDetails) exist in the codebase anymore.  Close?

[2020-03-25 15:30] dralley commented on #1183
Is this outdated?

[2020-03-25 15:32] dralley commented on #1732
Link w/ suggestions is dead.  Close?

[2020-03-25 15:37] jdm opened #26034 "GL error in After the Flood demo (webgl2)"
[code]

[2020-03-25 15:39] dralley commented on #2160
Cannot reproduce the segfault

[2020-03-25 15:43] dralley commented on #2264
The implementation was completely changed here: https://github.com/servo/servo/commit/bb6f5572768b13ad2b1f1a41114805256f3f1827

Although I don't know whether the algorithmic properties are significantly better or not.

[2020-03-25 15:44] dralley commented on #2266
```FragementRange``` no longer exists, so this issue can probably be closed as outdated (or at least needs someone to verify whether it's still a problem with the new code).

[2020-03-25 15:45] dralley commented on #3062
This should probably be closed as outdated.

[2020-03-25 15:55] #26027 closed

[2020-03-25 16:18] dralley commented on #6210
Is this still happening?

[2020-03-25 16:43] dralley commented on #18824
I can't reproduce the crash either

[2020-03-25 16:44] dralley commented on #18927
This still happens.

[2020-03-25 16:45] dralley commented on #18713
I cannot reproduce this

[2020-03-25 16:47] dralley commented on #3628
I cannot reproduce this failure, although since it sounds timing-dependent, it's hard to say whether it's actually fixed.

[2020-03-25 16:48] dralley commented on #5505
@jdm If servo-shell is abandoned, then can this be closed?

[2020-03-25 16:50] dralley commented on #18425
With all the changes to the 2d rendering backend, this is probably no longer applicable

[2020-03-25 16:55] dralley commented on #20220
This test snippet is still failing

[2020-03-25 16:58] dralley commented on #20029
This test snippet is still failing

[2020-03-25 17:04] dralley commented on #18614
This is still reproducable

[2020-03-25 17:07] dralley commented on #14541
I can't reproduce this on Tumblr anymore, but this is a very common traceback with several websites, like ArsTechnica.

Since it's filed elsewhere though, and not reproducable with Tumblr, I recommend closing this issue.

[2020-03-25 17:09] #3628 closed

[2020-03-25 17:13] dralley commented on #17645
Issue should probably be closed due to age.

[2020-03-25 17:16] dralley commented on #17322
Close due to age

[2020-03-25 17:18] dralley commented on #6519
This doesn't crash anymore, if ```-Z replace-surrogates``` is specified

Without it being specified, it still crashes, but with a different traceback.  And it tells you to specify that flag.

[2020-03-25 17:20] dralley commented on #7108
This particular issue cannot be reproduced any longer

[2020-03-25 17:21] dralley commented on #17838
I can't reproduce this anymore.

[2020-03-25 17:26] #17838 closed

[2020-03-25 17:26] #7108 closed

[2020-03-25 17:27] #17322 closed

[2020-03-25 17:27] #17645 closed

[2020-03-25 17:28] #14541 closed

[2020-03-25 17:30] jdm commented on #18425
I'm less confident about that - a bunch of the image origin stuff has remained the same for a while.

[2020-03-25 17:30] #5505 closed

[2020-03-25 17:32] jdm commented on #18713
Same.

[2020-03-25 17:32] #18713 closed

[2020-03-25 17:33] #18824 closed

[2020-03-25 17:34] jdm commented on #6210
Odds are that it doesn't, and we usually break the jquery test harness in a new way every year.

[2020-03-25 17:34] #6210 closed

[2020-03-25 17:34] #3062 closed

[2020-03-25 17:34] #2266 closed

[2020-03-25 17:36] #2160 closed

[2020-03-25 17:37] jdm commented on #1183
Yep.

[2020-03-25 17:37] #1183 closed

[2020-03-25 17:37] #1732 closed

[2020-03-25 17:37] #1682 closed

[2020-03-25 17:45] #24702 closed

[2020-03-25 19:41] jdm commented on #25281
@shnmorimoto The Performance interface is exposed to all of those via https://github.com/servo/servo/blob/191f6c41a0ffa69fff226ffa22c04ad573516139/components/script/dom/webidls/Performance.webidl#L12. For the ToJSON, we'll need to look at the exposure set for each member.

[2020-03-25 19:45] jdm commented on #25281
More specifically, in [this code](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L2976) we'll want to use `m.exposureSet` to create a list of conditions from MemberCondition, rather than using `interface.exposure`, and we'll need to call is_satisfied for each member and skip it if it's false.

[2020-03-25 19:50] dralley commented on #5786
It could be a bit too heavyweight for the CI, but this is a nice tool for checking things like this: https://github.com/onur/cargo-license

![Screenshot from 2020-03-25 15-49-05](https://user-images.githubusercontent.com/2751996/77579151-34f51d80-6eb0-11ea-8701-96595f3e4090.png)

[2020-03-25 19:50] dralley commented on #16071
This is fixed and should be closed

[2020-03-25 19:58] dralley commented on #5786
Actually, this is being done already, so I think the issue can be closed.

https://github.com/servo/servo/commit/536314be79ba0ee4a45e3afd027c7bdd4200d95c

[2020-03-25 20:04] dralley commented on #3866
This issue should probably be closed, if it couldn't be reproduced.  Also due to age.

[2020-03-25 20:07] #3866 closed

[2020-03-25 20:08] #5786 closed

[2020-03-25 20:08] dralley commented on #4106
I'm guessing this is fixed by now?

[2020-03-25 20:10] SimonSapin commented on #4106
This color parsing code is now shared with Firefox. I think as part of that Color Level 4 was implemented.

[2020-03-25 20:10] #4106 closed

[2020-03-25 20:13] dralley commented on #23638
This problem should definitely be fixed as there is only one canvas backend now

[2020-03-25 20:22] dralley commented on #23438
The original URL is dead, and https://midi.city does some thing else entirely.  Recommend closing.

[2020-03-25 20:25] dralley commented on #23624
Fedora 30 is going to be EOL shortly, and this seems to have either been fixed or stopped being an issue on Fedora 31+.  Recommend closing.

[2020-03-25 20:39] dralley commented on #22901
I wasn't able to reproduce this on http://acko.net/ or with any of the reduced test cases.

However, http://diana-adrianne.com/purecss-francine/ still triggers this.  Strange.

[2020-03-25 20:46] dralley commented on #22733
Can still reproduce

[2020-03-25 20:50] dralley commented on #22567
Looks like this was fixed and can be closed.

[2020-03-25 20:56] dralley commented on #22371
Completed (at least mostly) with https://github.com/servo/media/issues/205

I think oversampling is still not implemented, according to the comments on the PR.

However, I think the bug to support that should be filed in servo/media?

[2020-03-25 21:03] dralley commented on #22252
I think this was fixed by https://github.com/servo/servo/pull/23174 and can be closed

[2020-03-25 21:03] dralley commented on #22242
Still happening?

[2020-03-25 21:11] dralley commented on #21885
I think this can be closed as the fix was merged.  https://github.com/servo/servo/pull/22596

[2020-03-25 21:23] #21885 closed

[2020-03-25 23:17] #22252 closed

[2020-03-25 23:18] #23638 closed

[2020-03-25 23:18] #23624 closed

[2020-03-25 23:19] jdm commented on #22242
Nope.

[2020-03-25 23:19] #22242 closed

[2020-03-25 23:19] #22567 closed

[2020-03-26 01:42] CYBAI commented on #23438
The original URL is now at https://joshwcomeau.com/react/folding-the-dom/ 👀

[2020-03-26 02:16] dralley commented on #23438
Thanks @CYBAI, I tried with the new link, and it does in fact still reproduce.

[code]

[2020-03-26 03:41] dralley commented on #23438
I also get this same issue with arstechnica.com

[code]

Since the problem (appears to be, according to commentary in the linked related issue) in the code that is setting up webrender (in such a way that an invariant is broken), how would one go about debugging an issue like this?  Would it be at all reasonable for someone without any relevant domain experience to try to tackle or do you think it

[2020-03-26 09:17] humancalico commented on #20908
@jdm Can I work on this?

[2020-03-26 13:12] jdm commented on #20908
Of course!

[2020-03-26 14:23] #26026 closed

[2020-03-26 16:09] shnmorimoto commented on #25281
Thanks for the helpful info! I got it.
I'll do that.

[2020-03-26 19:12] jdm commented on #25797
How much work would it be to show a single yes/no prompt that allows leaving immersive mode? Right now we can return to the home screen, but reactivating FxR re-enters immersive mode.

[2020-03-26 19:16] utsavoza opened #26040 "Can't build Servo on macOS 10.15.4"
On a freshly cloned repo, the error message I received after running `./mach build -d` (simply by following the steps outlined in `README.md` and `HACKING_QUICKSTART.md`) was:
[code]

After sifting through some similar closed issues in servo (#25919) and [mozjs](https://github.com/servo/mozjs) ([#156](https://github.com/servo/mozjs/issues/156)), I was able to resolve the build error by manually do

[2020-03-26 19:31] jdm commented on #26040
This will be addressed by https://github.com/servo/mozjs/pull/238. Apple released a new SDK two days ago, unfortunately.

[2020-03-26 21:04] jdm commented on #25894
Sadly I do not reproduce the same rendering behaviour in the glwindow backend on macOS.

[2020-03-26 21:11] jdm commented on #25894
Strangely, https://www.joshmatthews.net/20200326_170456_HoloLens.mp4 does not show the difference between the eyes; maybe it's only recording one eye's input or something? It does show that the depth and positioning is wonky, at least.

[2020-03-27 01:49] dralley commented on #21411
@highfive: assign me

[2020-03-27 01:49] highfive commented on #21411
Hey @dralley! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-03-27 02:29] dralley commented on #21411
The issue is right here: https://github.com/servo/webrender/blob/master/webrender/src/renderer.rs#L3647

The texture ```texture_id``` is not present in the ```texture_cache_map```.  I'm unfamiliar with any of this code, so, couple questions:

* should the texture be there?  If so, how would I start debugging the reason why it isn't (unless that reason is obvious to someone)
* cache implies that a

[2020-03-27 02:44] jdm commented on #21411
Unfortunately nobody on the servo team contributes to the webrender project, so we aren't in a good position to answer those questions. The folks in #gfx on Matrix will be better positioned for that.

[2020-03-27 03:13] dralley commented on #21411
I should have also mentioned, both of the traces above are out of date.  The current failure backtrace is:

[code]

[2020-03-27 05:22] utsavoza commented on #26040
Great, thanks!

[2020-03-27 08:53] paulrouget commented on #25797
First part, API + UWP dialog: https://github.com/servo/servo/pull/26043

Next step is to open that context menu from whatever gesture. What would a good trigger to open that menu?

[2020-03-27 12:10] payaljindal opened #26045 ""./mach bootstrap" not working"

[2020-03-27 12:33] dralley commented on #21411
Recording some discussion on gfx matrix chat for posterity:

[2020-03-27 13:07] dralley commented on #21411
When I drop a debug print in here:

[code]

I get

[code]

18446744073709551615 == 2^64-1, so this kind of looks like an overflow error of some kind.  But I'm doing all of this testing with a debug build, so shouldn't those kinds of bugs panic at runtime?  Unless maybe the code is, somewhere, deliberately using addition/subtraction methods that don't have debug overflow checking?

[2020-03-27 13:20] jdm commented on #26045
Can you provide more information about what operating system you are using and I what way the bootstrap command does not work?

[2020-03-27 15:02] #25891 closed

[2020-03-27 15:06] jdm opened #26047 "Replace `fallible` boolean arguments with an enum"
Various methods in WebGL objects have `fallible` arguments that are used to support operations that can fail during object destruction that do not indicate a total failure. We should replace these booleans with a `enum Operation { Fallible, Infallible }` instead to make the code readable:

Code:
* https://github.com/servo/servo/blob/cf725fc3f59bc1b94e3b35ab4cfe60b3d41559cc/components/script/dom/we

[2020-03-27 15:07] highfive commented on #26047
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-03-27 15:39] payaljindal commented on #26045
I am running ubuntu virtually on windows. After filing the issue, it worked. But now, when I run ./mach build --dev it again shows me that an error occurred in code that was called by mach command and says to report the issue.

[2020-03-27 15:49] skrzyp1 commented on #26047
@highfive: assign me
I'll try to do it as i seems beginner friendly.

[2020-03-27 15:49] highfive commented on #26047
Hey @skrzyp1! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-03-27 15:57] jdm commented on #26045
Can you paste the full output of the build?

[2020-03-27 18:25] jdm commented on #23438
This is another issue where getting input from the webrender developers would be the best first step. This is a panic in the internals that I don't think anybody on the servo team has any experience with.

[2020-03-27 18:32] jdm commented on #18928
That's an interesting result! One workaround here might be to loosen the restrictions so that we don't panic when we encounter an unknown completed load, and turn that into a warn! instead. It's not totally clear to me what the desired outcome here is - the audio element isn't actually part of the page DOM, so document.open() may not be intended to have any impact on its load. Perhaps the warning

[2020-03-27 18:34] NeverHappened commented on #18928
That's already a warning actually. Somebody changed it to warn! after issue was created

[2020-03-27 19:14] cbrewster commented on #21411
@dralley I found a smaller test-case for this. The problem happens when we put a 0x0 canvas image in a display list (I add a width/height to the style so this isn't culled from the display list). This will cause Servo to upload add the 0x0 image to WebRender which creates that empty texture cache entry (https://searchfox.org/mozilla-central/rev/8526066f548af9ec3ebb462ff73c47ccc183f533/gfx/wr/webre

[2020-03-28 04:34] dralley commented on #21411
@cbrewster That information is super helpful, thanks!

It looks like it used to be the case that WebRender would simply ```assert!``` that the incoming texture wasn't "empty", but as of a couple months ago, handling "empty" textures is actually supposed to be supported: https://github.com/servo/webrender/commit/2994e953e1729638a258c051fccae1059624069e

When I revert that commit, I get a panic at t

[2020-03-28 23:46] Manishearth commented on #25797
Next part is #26051

[2020-03-29 02:40] cbrewster commented on #23438
The assertion that is hit comes from here: https://searchfox.org/mozilla-central/rev/3a9dbc403f33cca1ff43326d78340add7d996350/gfx/wr/webrender/src/spatial_tree.rs#268

The `get_relative_transform` method is used to compute the relative transform between two spatial nodes in the spatial tree. The spatial tree is used to resolve all transforms in the scene. The invariant here is such that the relati

[2020-03-29 03:30] cbrewster commented on #23438
Aha! So it turns out, Servo pushes reference frames to the display list but never pops them.

A stacking context may _establish a reference frame_, which means it has some (complex?) transform applied. If it does, a reference frame is pushed to the display list before the stacking context gets pushed. You can see where this is handled currently:
https://github.com/servo/servo/blob/master/component

[2020-03-29 04:08] dralley commented on #23438
Once I finish the other issue, possibly.

[2020-03-29 06:18] gterzian commented on #15217
Ok I'd like to fix this one, and I think this actually is a chance to change the infra for service worker a bit, and do something we haven't done yet: run something else than  a script-thread in it's own process.

The issue mentioned above is essentially due to running the `ServiceWorkerManager` into the script-process(in multi-process mode), and having the constellation only have the ability to h

[2020-03-29 17:18] gterzian commented on #25191
I've looked into this a bit.

It seems the error encountered is [`JSMSG_ATOMICS_WAIT_NOT_ALLOWED`](https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs/js/src/js.msg#L611), which I think is raised at https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs/js/src/builtin/AtomicsObject.cpp#L528

I'm not sure if this is covered by the `sharedMe

[2020-03-29 17:23] gterzian commented on #25191
Yep Gecko also seems to do this: https://searchfox.org/mozilla-central/source/dom/workers/RuntimeService.cpp#954

[2020-03-29 17:43] gterzian commented on #25191
Ah interesting that the test is passing in the window, just not in the dedicated worker, I wonder why.

[2020-03-29 18:17] pshaughn commented on #25191
The window runs the requires-failure test, not the requires-success one, and throws the exception it expects to see.

[2020-03-29 21:24] dralley commented on #21411
This patch fixes the minimal test case - it now loads without error.  Does it look correct?

https://github.com/servo/servo/compare/master...dralley:fix-motionmark

Of course, that is not enough to fix MotionMark.  I'm not sure if this is a side effect of the change, an entirely different issue, an symptom of an incomplete fix, etc.

[code]

[2020-03-29 21:49] jdm commented on #21411
That looks like an issue that should be filed in https://github.com/jrmuizel/raqote/ once we identify the 2d canvas operation that is triggering it.

[2020-03-29 21:52] dralley commented on #23438
The stacking context itself has an ```established_reference_frame``` field, and the ```PopStackingContextItem``` has a field for ```stacking_context_id``` -- is there any way to work backwards so as to avoid having duplicate copies of that information?

[2020-03-30 00:27] cbrewster commented on #23438
@dralley in this case, I don't think it would be worth the effort to avoid duplication. I'm no expert on Servo's layout/display-list stuff, but it doesn't look like you can do a stacking context lookup while converting Servo display lists to WebRender display lists.

[2020-03-30 00:32] cbrewster commented on #21411
@dralley that patch looks good to me!

[2020-03-30 04:03] dralley commented on #21411
It looks like it fails while trying to draw a line to a point with a negative y-coordinate.

[code]

[2020-03-30 06:06] gterzian commented on #25191
Ok thanks for pointing that out(I though `!default` in the META meant window).

That surprises me actually, since a [similar origin window agent](https://html.spec.whatwg.org/#similar-origin-window-agent) has `[[CanBlock]]` set to true.

In the meantime I'll try to see if I can fix the dedicated worker test.

[2020-03-30 07:42] gterzian opened #26057 "Embedder/Device interaction API"
Follow-up on what was discussed at https://github.com/servo/servo/pull/26051, and in the light of https://github.com/servo/webxr/pull/144/

So looking how the context menu is used in WebXr, where:
1. The context menu is shown from `wait_for_animation_frame` at https://github.com/servo/webxr/pull/144/
2. The result of the context menu user interaction is polled also inside `wait_for_animation_frame

[2020-03-30 14:13] jdm commented on #24606
This was fixed.

[2020-03-30 14:13] #24606 closed

[2020-03-30 14:14] jdm commented on #11281
This will never be done.

[2020-03-30 14:14] #11281 closed

[2020-03-30 14:16] jdm commented on #17495
Brainstorming occurred; no action was taken.

[2020-03-30 14:16] #17495 closed

[2020-03-30 14:17] jdm commented on #24609
Code: `components/constellation/constellation.rs`, `components/servo/lib.rs`

[2020-03-30 14:56] #25191 closed

[2020-03-30 15:25] Manishearth commented on #26057
For calling `Quit` we already have the `Quitter` object, which works exactly how you describe. I'm reluctant to make an openxr-specific concept part of the main webxr API, however, since we can't _just_ get away with `.quit()`, we also need a `.cancel_menu()`.

This isn't true, the openxr XR loop no longer runs on the main thread loop

This already has to be true, spec-wise, though. It's not possi

[2020-03-30 15:48] gterzian commented on #26057
Ah yes, forgot about the different animation frame loops...

Yes I agree on the other points too.

Re the `Quitter`, I haven't looked into it yet. I did make a proposal in the PR for a slightly different flow that doesn't require polling for the results and instead plugs into the existing session message handling.

Although if Xr really does need to run a frame-loop to which #25305 wouldn't apply(

[2020-03-30 16:14] gterzian commented on #25148
Since #21715 was opened, the situation has improved also quite a lot, if I say so myself. Although so far the "improvements" have been focused on supporting more "complicated" DOM objects, like Blob and Messageport.

So we do already have `dom::bindings::serializable::Serializable`, and I had a quick look at `ImageData`, I think implementing it for that would be mostly about gettting a `Vec<u8>` o

[2020-03-30 16:25] gterzian commented on #25148
If you look at `ImageData.as_slice`, it would be essentially that followed by `into_vec`'ing it, then you would need to clone the `height` and `width`, and store the whole thing in the `StructuredDataHolder`, probably in a simple `Vec` since you don't need to identify the image data(like you needed with a blob).

So in `script_traits::serializeable.rs`, you could add something like:

[code]

Then

[2020-03-30 16:30] gterzian commented on #25148
You would also need to add the `Vec<SerializedImageData>` to `script_traits::StructuredSerializedData`

[2020-03-30 16:32] gterzian commented on #25148
(and yes some of this is boilerplate that could be generated as suggested in https://github.com/servo/servo/issues/21715, the "hardest" part is the actual implementation of `dom::bindings::serializable::Serializable`)

[2020-03-30 16:46] gterzian commented on #26057
Closed by https://github.com/servo/servo/pull/26051

[2020-03-30 16:46] #26057 closed

[2020-03-30 18:06] asajeffrey commented on #23642
My theory by me...

https://github.com/servo/servo/blob/236762880c48263f8fa2c5a4deb9cf8f7746013c/ports/glutin/headed_window.rs#L552-L555 only sends servo a resize event if the size has changed, but https://github.com/servo/servo/blob/236762880c48263f8fa2c5a4deb9cf8f7746013c/ports/glutin/app.rs#L194-L197 calls `repaint_synchronously` no matter what.

Putting in some logging, I got it to deadlock af

[2020-03-30 18:33] asajeffrey commented on #23642
My theory by me (edited)...

If two resize events arrive quickly, the first changes the size, and the second changes it back again, then a `Resize` event will be sent to servo, but when it comes to query the embedder for the sie, it won't have changed, so the reflow doesn't happen: https://github.com/servo/servo/blob/69004e43ddf4800b3db3d86ec58b0224a602457a/components/compositing/compositor.rs#L69

[2020-03-30 20:26] jdm opened #26061 "Pass message dialog text with context menu"
The "Menu" text that appears when using https://github.com/servo/servo/pull/26051 isn't the best user experience. It would be helpful if the command to display a context menu included explanatory text as well.

cc @paulrouget

[2020-03-30 21:15] jdm commented on #26019
I tracked down the source of the animation spam - mousing over the button to enter VR triggers an animation that makes the icon slightly grow, but that animation stops as expected. However, mousing away from the icon or clicking it leads to an endless spam of EaseOut animation processing as the animation is never fully considered ended.

[2020-03-30 21:16] jdm commented on #24241
I don't think this happens any more.

[2020-03-30 21:16] #24241 closed

[2020-03-30 21:18] jdm commented on #26019
I suspect this is another instance of #20379.

[2020-03-30 21:23] jdm commented on #26019
It comes from https://github.com/BabylonJS/Babylon.js/blob/63bc8d7adfcaaa179c42f0907a0a3c59fef0a57e/src/XR/webXREnterExitUI.ts#L92-L93:
`transition: transform 0.125s ease-out`
`.babylonVRicon:hover { transform: scale(1.05) }`

[2020-03-31 00:01] dralley commented on #23438
So, I'm good with whatever strategy you think is best :)  But what about this patch?  It clones the entire stacking_context, which does have a little more overhead, but it is more symmetrical on two different fronts -- first by not adding a new field to the ```PopStackingContextItem``` struct and reconciling the signature so that it's the same as ```PushStackingContextItem```, and second because `

[2020-03-31 00:07] cbrewster commented on #23438
That looks good, but I would rather just have a `bool` field on `PopStackingContextItem`. A `StackingContext` in Servo carries quite a bit of info, so I don't think its worth cloning the whole thing when we really only care about whether or not we need to pop a reference frame.

Thanks for working on this! It may be best to open a pull request and we can discuss any further changes to the code the

[2020-03-31 00:15] cbrewster commented on #21411
@dralley it would be great if you could open a pull request with your change from above. My guess is the raqote panic is due to raqote assuming its draw target will not be zero-sized (similar issue to here, but different enough to maybe have its own issue filed).

Also, just as a followup, the zero-sized cache item support in WebRender will likely be removed soon, it was added as a invalid glyph-c

[2020-03-31 00:19] dralley commented on #23438
aye aye

[2020-03-31 00:35] dralley commented on #23438
@cbrewster, Done.

I can't scroll on https://www.joshwcomeau.com/posts/folding-the-dom/ for some reason, but at least it doesn't crash. I will file a new issue for that.

[2020-03-31 00:36] dralley opened #26064 "Cannot scroll on https://www.joshwcomeau.com/posts/folding-the-dom/"
No error is printed, but the page will not scroll.  There are a few other issues for scroll not working on various websites - they may share a root cause.

https://www.joshwcomeau.com/posts/folding-the-dom/

[2020-03-31 01:30] #25962 closed

[2020-03-31 03:39] dralley commented on #22565
Since skia has been removed, this can be closed - definitely won't occur again.

[2020-03-31 03:39] dralley commented on #22565
@jdm

[2020-03-31 04:04] #26040 closed

[2020-03-31 04:13] dralley commented on #22267
This looks like it has been done, https://github.com/servo/servo#on-debian-based-linuxes

Can be closed.

[2020-03-31 04:18] dralley commented on #21957
@lexesv If this is fixed, can it be closed?

[2020-03-31 04:22] cbrewster commented on #22901
This is caused by the same thing as #23438, servo wasn't popping reference frames in the WR display list. This will be fixed when #26063 lands.

[2020-03-31 04:23] dralley commented on #21478
Is this fixed?

[2020-03-31 04:26] gterzian commented on #7458
Ok I'd like to actually do this one, the question, will there be anyone interested in reviewing it :)

I think it might be relevant for the WPT tests as noted by @pshaughn, especially if some of those tests are using a shared worker to test other features(meaning we can't get coverage without it).

Also, it's in the main HTML standard, so I don't think it's some sort of optional feature of the Web

[2020-03-31 04:26] dralley commented on #22901
Happy coincidence!

[2020-03-31 04:28] cbrewster commented on #24239
Looks like a similar error to #22901 and #23438.
Should be fixed by #26063

[2020-03-31 05:01] CYBAI commented on #22267
Thanks! `llvm-dev` is added in the readme now!

[2020-03-31 05:01] #22267 closed

[2020-03-31 05:10] CYBAI commented on #15217
I haven't dig into Servo's SW infra though, I recently studied a little bit about SW and yes, I agree with on this!

[2020-03-31 05:17] CYBAI commented on #21478
We've updated our to mozjs to 0.13.0 with `81c88926aa57f8571b3784216907e4e06363b345` commit hash so maybe we can file new issues if there's any new compilation error. I'm going to close (please help me reopen it if it's better to track mozjs compilation error here 🙇 )

[2020-03-31 05:21] #22565 closed

[2020-03-31 05:22] #23438 closed

[2020-03-31 05:22] #22901 closed

[2020-03-31 05:27] cbrewster opened #26066 "Pop WebRender reference frames in layout 2020"
Followup of #26063

I'm not familiar with layout 2020, but I think all we need to do is call `pop_reference_frame` at the end of the function if the following returns true: https://github.com/servo/servo/blob/687156ac90d0cead80e89b63b9394d1a6f7a808e/components/layout_2020/display_list/stacking_context.rs#L477-L478

cc @mrobinson @dralley

[2020-03-31 05:29] CYBAI commented on #26057
maybe #26051 will be merged soon though, should we close this issue when the PR is merged 👀?

[2020-03-31 05:36] gterzian commented on #26057
Yes, I just didn't want(or not sure I can) edit the PR opening comment(where you need to add FIX to close an issue, it doesn't seem to work if you do it in a comment on the PR).

[2020-03-31 05:38] CYBAI commented on #26057
I see!

[2020-03-31 06:49] #25281 closed

[2020-03-31 07:01] #21957 closed

[2020-03-31 07:07] atouchet commented on #24239
Should this be closed then?

[2020-03-31 12:34] #24239 closed

[2020-03-31 13:00] dralley commented on #22179
This renders correctly now - we can close it

![Screenshot from 2020-03-31 08-59-07](https://user-images.githubusercontent.com/2751996/78029108-0eab0400-732e-11ea-83c7-230809bd2d72.png)

[2020-03-31 13:02] dralley commented on #20737
This renders correctly now

![Screenshot from 2020-03-31 09-01-37](https://user-images.githubusercontent.com/2751996/78029289-53369f80-732e-11ea-9391-ae28914bd9f8.png)

[2020-03-31 13:24] dralley commented on #26066
Can I suggest a small refactor?

```build_reference_frame_if_necessary()``` currently has a bunch of side effects, one of which is pushing the reference frame, and returns a boolean if it did.  It's only used in one place.  How about it returns an option containing the reference frame instead, and we move the side effects to ```build_stacking_context_for_children```?

That way the push and pop wou

[2020-03-31 13:31] mrobinson commented on #26066
I *think* that `pop_reference_frame` is only necessary to adjust mapping of stacking context coordinates to reference frame coordinates. Since Layout 2020 only uses reference frame coordinates, it shouldn't be necessary to include this in the display list.

On the other hand, now that Layout 2020 is using reference frame coordinates everywhere, it raises the question of whether or not Layout 2013

[2020-03-31 13:32] #20737 closed

[2020-03-31 13:33] #22179 closed

[2020-03-31 13:35] dralley commented on #26066
Ah, sorry, I deleted that comment after thinking about it some more.  Old-layout passed around intermediate objects and I didn't immediately recognize that ```push_reference_frame``` was a function with many-argument signature rather than doing as old-layout did -- once I recognized that, the refactor idea didn't make as much sense, or at least would require a bit more work.

[2020-03-31 13:40] #26061 closed

[2020-03-31 14:02] gterzian commented on #7458
Ok so for example Chromium initially did what I was proposing, running the shared worker in it's own process, but then they moved away from that towards running it in the same process as the first page that uses it, and then connecting other pages in other processes(but the same origin) with the worker in that first process, and keeping that first process alive even if the page goes away.

See htt

[2020-03-31 14:12] CYBAI commented on #22179
Confirmed it works fine on macOS as well!

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/6782666/78036276-12c63880-73a5-11ea-92ab-2ccd659dc47a.png">

[2020-03-31 14:13] CYBAI commented on #20737
Confirmed it's rendered correctly on macOS as well!

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/6782666/78036276-12c63880-73a5-11ea-92ab-2ccd659dc47a.png">

[2020-03-31 14:16] gterzian commented on #15217
Ok in the light of https://github.com/servo/servo/issues/7458#issuecomment-606647467 I will try to fix this without introducing more processes...

[2020-03-31 14:39] KyleMayes commented on #21478
This has not been fixed, unfortunately.

My attempt at a solution (speculatively loading `libclang` dynamic libraries to determine their version) caused some weird bugs where the loaded libraries could not be properly unloaded (or something like that, not sure exactly what was happening) causing serious issues for some users.

I had to revert those changes, so I think the process going forward wil

[2020-03-31 17:26] jdm commented on #26019
With #20379 fixed, the remaining layout appears to come from calling WebGLRenderingContext.clear, which marks the canvas as dirty: https://github.com/servo/servo/blob/cf725fc3f59bc1b94e3b35ab4cfe60b3d41559cc/components/script/dom/webglrenderingcontext.rs#L2085

[2020-03-31 17:40] KyleMayes commented on #21478
I added support to `clang-sys` for querying the version of `libclang` linked to when using runtime linking (which is the default used by `bindgen`) in the most recent version of `clang-sys` (`0.29.3`).

See [here](https://kylemayes.github.io/clang-sys/runtime/clang_sys/struct.SharedLibrary.html#method.version) for the method I added.

This could be used to ensure that the loaded version of `libcla

[2020-03-31 18:32] #26066 closed

[2020-03-31 21:00] jdm commented on #26019
When I fix https://github.com/servo/servo/issues/26019#issuecomment-606765387 and make the canvas.clientWidth calls use a cached layout value instead of triggering a layout query every frame, the resulting profiles show the only threads doing meaningful work are the script thread, the webgl thread, and the openxr thread. Success!

[2020-03-31 21:21] jdm commented on #25893
Fixed in upstream Babylon.js.

[2020-03-31 21:21] #25893 closed

[2020-04-01 00:22] dylan-lom opened #26080 "./mach bootstrap doesn't work on Debian"
At the moment, mach bootstrap only attempts to install Ubuntu dependencies. This is unclear (and seems to be a mistake, based on the README, which has instructions for [Debian based linuxes](https://github.com/servo/servo#on-debian-based-linuxes).

I'm making a pull request that adds support for running `./mach bootstrap` on Debian.

[2020-04-01 02:23] #25797 closed

[2020-04-01 02:56] highfive commented on #26080
cc @wafflespeanut

[2020-04-01 04:46] #26080 closed

[2020-04-01 05:49] gterzian commented on #7458
Ok continuing the discussion here, which applies both to Service and Shared workers:

I've made a start at https://github.com/servo/servo/pull/26073, and the more I think about it, the more I think this can easily turn into a huge source of problems, for the following reasons:

1. It's complicated. If we run Service or Shared workers in a content process, then there are all sorts of source of race

[2020-04-01 09:07] paulrouget opened #26082 "Make it possible to start a Windows TC task that enables a RDP connection"
We would not make that a default. Maybe just an option in decision_task.py or a new keyword for `try=windows`.

The idea would be to add the `rdpInfo` field as documented here: https://community-tc.services.mozilla.com/docs/reference/workers/generic-worker/multiuser-windows-payload and set the location of the json file to a private location.

It also needs a specific scope.

[2020-04-01 09:14] paulrouget commented on #26082
Necessary additions:

[code]

[2020-04-01 13:07] gterzian commented on #15217
Ok as a bit of a recap of https://github.com/servo/servo/issues/7458#issuecomment-607047926, and

1. In order to fix this issue, I would like to run the "service worker manager" in it's own process, and have the constellation own a map of "Origin" -> "Sender to a worker manager process".
2. That way, we don't start the `ServiceWorkerManager` in each content-process, instead, when a content-process

[2020-04-01 17:29] gterzian opened #26088 "Check for Background-Hang-Monitor opts in multi-process"
In single-process mode, we only start a BHM if the options has been set:

https://github.com/servo/servo/blob/af1ebe79efd799498010f196983a233aa5203d64/components/constellation/pipeline.rs#L322

But we don't perform this check before starting the BHM in multi-process mode:

https://github.com/servo/servo/blob/b3c12ad9b3404d4b9df2ccbb15b7a9259a2a0322/components/servo/lib.rs#L1019

I think we should.

[2020-04-01 17:29] highfive commented on #26088
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-04-01 19:19] jdm opened #26089 "Support reload command from network inspector"
[code]

[2020-04-01 19:19] highfive commented on #26089
cc @fitzgen

[2020-04-01 19:30] #20379 closed

[2020-04-01 19:52] dralley commented on #2689
The page the fonts are served from is dead, and I can't reproduce this with system fonts (Fedora 32), so it's probably best to close this given the age.

[2020-04-01 19:59] dralley commented on #12476
Duplicate of https://github.com/servo/servo/issues/13018

(Not strictly, the error is different, but after 4 years the exact error probably isn't relevant anyways.)

Should probably just close this one and track it in one place, if it's still an issue.  X11 forwarding is kind of tricky anyways due to the whole extension mismatch nonsense you have to deal with, so it's not necessarily clear that th

[2020-04-01 20:04] dralley commented on #13018
Given the slow and steady march towards Wayland (and the fact that X11 forwarding was always far more complicated in practice than theory due to the crazy mishmash of extensions) should this be left open or closed as wontfix?

[2020-04-01 20:06] dralley commented on #12082
Cannot reproduce.  Close?

[2020-04-01 20:09] dralley commented on #12107
I don't think this is still necessary, the issue can most likely be closed.

[2020-04-01 20:18] dralley commented on #2000
This function doesn't seem to exist anymore, not sure if this issue is still relevant?

[2020-04-01 20:29] dralley commented on #11704
This issue looks fixed to me, should it be closed?

![Uploading Screenshot from 2020-04-01 16-27-44.png…]()

[2020-04-01 20:32] kriston commented on #13018
Do we really think Wayland is any closer than it was three years ago?

[2020-04-01 20:33] dralley commented on #10726
The original minimal reproducer still works -- didn't try the others.

[2020-04-01 20:38] dralley commented on #11821
Minimal test case is still broken on current Servo

[2020-04-01 20:49] dralley commented on #12148
Can confirm @nox's report

[2020-04-01 20:53] dralley commented on #12696
I actually can't open that URL (the working one that @jrmuizel) posted at all

[code]

[2020-04-01 20:53] jdm opened #26090 "Intermittent failure in /_mozilla/css/jumpiness_a.html"
We had a layout2020 run that showed this failure:
<img width="38" alt="Screen Shot 2020-04-01 at 4 52 52 PM" src="https://user-images.githubusercontent.com/27658/78185547-405cc180-7439-11ea-9783-f6c0da6a3e2f.png">
reference:
<img width="42" alt="Screen Shot 2020-04-01 at 4 53 10 PM" src="https://user-images.githubusercontent.com/27658/78185561-48b4fc80-7439-11ea-9a44-f64c7013c95a.png">

[2020-04-01 20:54] jdm opened #26091 "Intermittent failure in /css/CSS2/syntax/at-charset-071.xht"
Test:
<img width="813" alt="Screen Shot 2020-04-01 at 4 53 38 PM" src="https://user-images.githubusercontent.com/27658/78185609-59657280-7439-11ea-8663-cde0004acad3.png">
Reference:
<img width="806" alt="Screen Shot 2020-04-01 at 4 53 55 PM" src="https://user-images.githubusercontent.com/27658/78185639-63877100-7439-11ea-881e-2033bfd2a662.png">

[2020-04-01 20:55] dralley commented on #12411
This still happens

[2020-04-01 20:56] dralley commented on #12519
This should probably be closed.

[2020-04-01 21:02] dralley commented on #13084
This still reproduces

[2020-04-01 21:31] qrasmont commented on #26088
@highfive: assign me
Ok first ever contribution, let's have a go!

[2020-04-01 21:32] highfive commented on #26088
Hey @qrasmont! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-01 21:34] jdm opened #26092 "No controller interaction in babylon.js demos"
https://servo.org/hl-home/bbjs/#8Y780Y#57
https://servo.org/hl-home/bbjs/#9K3MRA#2
https://servo.org/hl-home/bbjs/#CHF3KW#48

All of these demos display a pointer from the user's hands, but the drumming demo doesn't register when it's pointing at one of the push buttons (on desktop it highlights in a unique color), and the tennis demo doesn't recognize a pinch action in the left hand to activate t

[2020-04-01 21:55] zcorpan commented on #11704
Do the following tests in http://wpt.live/quirks/ pass?
[code]

[2020-04-02 00:40] #12082 closed

[2020-04-02 03:53] jdm commented on #26092
cc @paulrouget

Manish and I spent a bit of time investigating this. One idea we're pursuing is trying to figure out whether the pointer is being rendered using a different reference space than the hit test (like how there's a difference between grip and pointer space in [this code](https://github.com/BabylonJS/Babylon.js/blob/63bc8d7adfcaaa179c42f0907a0a3c59fef0a57e/src/XR/webXRInputSource.ts#L14

[2020-04-02 04:10] jdm commented on #26092
Also, is there some way to control where the camera starts for the drumming demo? All of the buttons are really far away by default and it's very difficult to test.

[2020-04-02 08:46] nox commented on #12519
Yes.

[2020-04-02 08:46] #12519 closed

[2020-04-02 10:13] paulrouget commented on #26092
3 issues:

- hit test not working: talked to Raana about this. Waiting for his answer.
- camera being too far: submitted a PR.
- can't push the button: I will need help here. I can't get the select event to fire on the emulator. I will put together some tests that someone with a device can run.

[2020-04-02 11:25] jdm commented on #26092
Please ask on Teams about the emulator select issue if you have not already.

[2020-04-02 11:28] #12476 closed

[2020-04-02 11:28] #12107 closed

[2020-04-02 11:29] jdm commented on #13018
Servo is usable on Wayland, so yes.

[2020-04-02 11:29] #13018 closed

[2020-04-02 11:32] #2000 closed

[2020-04-02 11:34] #2689 closed

[2020-04-02 12:22] jdm commented on #11704
Nope: https://github.com/servo/servo/tree/master/tests/wpt/metadata/quirks

[2020-04-02 12:53] jdm commented on #7458
I agree that using separate processes is conceptually simpler, and I think that's important from an implementation and maintenance point of view.

[2020-04-02 12:56] jdm commented on #15217
I'm in favour!

[2020-04-02 13:00] bzbarsky commented on #13018
OK, so how do I use Wayland to forward a display to my Mac from a Linux box?  And what about the VNC crash described in https://github.com/servo/servo/issues/13018#issuecomment-288523388 ?

And the real question above, I suspect, is not "does Servo run on Wayland" but "are people actually running Wayland?"

[2020-04-02 13:15] #11444 closed

[2020-04-02 13:17] dralley commented on #13018
Well, it's the default environment on the GNOME version of recent editions of every distribution (Debian, RHEL/CentOS, Ubuntu, Fedora).

Forwarding with Wayland should be possible with Waypipe although all of this software is pretty young so bugs and glitches are likely.  https://gitlab.freedesktop.org/mstoeckl/waypipe/

[2020-04-02 14:31] jdm commented on #26092
https://github.com/BabylonJS/Babylon.js/blob/629b7e03e0ae6580be7849acea17aabbc1e21e27/src/XR/features/WebXRHitTestLegacy.ts#L126 looks like the code that should set up the select event. I wonder if we're not enabling the legacy hit test feature?

[2020-04-02 14:32] jdm commented on #26092
Corresponding three.js code that sets up the events is https://github.com/mrdoob/three.js/blob/672729dbd0693f3f3369f792fd621574c8c6ccde/src/renderers/webxr/WebXRManager.js#L206-L212.

[2020-04-02 14:51] jdm commented on #26092
For what it's worth, pressing the left controller "select button" button in the webxr emulator in Firefox for https://servo.org/hl-home/bbjs/#tennis.js doesn't cause anything to change in the scene.

[2020-04-02 14:56] jdm opened #26095 "Intermittent failure in /css/css-text/hyphens/hyphens-none-013.html"
[code]
<img width="504" alt="Screen Shot 2020-04-02 at 10 55 39 AM" src="https://user-images.githubusercontent.com/27658/78263871-8153e500-74d0-11ea-8937-c568f7180049.png">
The bottom box has slightly longer hyphens.

[2020-04-02 14:56] #26095 closed

[2020-04-02 15:02] paulrouget commented on #26092
Using `const component = controller.motionController.getComponent("xr-standard-thumbstick");` should fix it iirc.

[2020-04-02 15:06] jdm commented on #26092
Where?

[2020-04-02 15:07] paulrouget commented on #26092
https://github.com/servo/servo.org/blob/gh-pages/hl-home/bbjs/snippets/tennis.js#L161

[2020-04-02 15:49] dralley commented on #16290
Does this still happen?

[2020-04-02 15:53] jdm opened #35487 "Visual feedback for the looking at hand gesture being recognized"
Since there's a waiting period before it takes effect, it might be more satisfying to have some kind of feedback that you're doing it right.

[2020-04-02 15:59] dralley commented on #16446
This still happens

[2020-04-02 16:04] dralley opened #26096 "Google.com is laid out incorrectly"
![Screenshot from 2020-04-02 12-01-50](https://user-images.githubusercontent.com/2751996/78271324-0263aa00-74da-11ea-9a1c-c0d489d45a3c.png)

[2020-04-02 16:07] dralley commented on #19224
This is probably no longer relevant? The issue it could possibly be related to is closed.

[2020-04-02 16:08] dralley commented on #19389
This doesn't seem to happen for me (Fedora 32), might have been fixed by now

[2020-04-02 16:10] dralley commented on #2593
It looks like this is still true

[2020-04-02 16:15] dralley commented on #15661
This is still the case.

[2020-04-02 16:17] jdm commented on #16290
Doesn't seem important to track without it actively breaking anybody's workflow right now.

[2020-04-02 16:17] #16290 closed

[2020-04-02 16:18] #19224 closed

[2020-04-02 16:18] #19389 closed

[2020-04-02 16:19] #16185 closed

[2020-04-02 16:19] dralley commented on #14750
Still broken

[2020-04-02 16:29] jdm commented on #26092
You're right; making that change allowed the "select button" button to work correctly in the webxr emulator. There's no difference in the hololens.

[2020-04-02 18:04] jdm opened #26097 "Hubs rooms don't load"
Trying to load http://hubs.mozilla.com/mB8Wn7L/talkative-simplistic-sphere

Known issues:
* JS error getting navigator.gamepads
  * work around: run with `--pref dom.gamepad.enabled`
* JS error getting window.SVGElement
  * work around: run with `--pref dom.svg.enabled`
* Big banner that says "your browser does not support webrtc data channels, which is required to use hubs"

[2020-04-03 02:56] CYBAI commented on #12696
hmm, interesting, I also tried to visited the working url and I actually saw a 404 page 🤔 (but I can visit the page on Firefox)

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/6782666/78319451-27bbeb00-75a2-11ea-8176-66b2fba83092.png">

[2020-04-03 03:00] CYBAI commented on #12696
I found we're getting response header `"x-cache"` with `"Error from cloudfront"` but it's `"Hit from cloudfront"` in Firefox 👀

[code]

[2020-04-03 03:13] dralley commented on #21577
This test times out under layout 2013 but passes under layout 2020

[2020-04-03 03:29] yangchengjian opened #26098 "Video texture cannot be rendered on Android"

[2020-04-03 03:34] yangchengjian commented on #26098
When I run on macos with
[code]
I can see video, but I can't see it on Android.

[2020-04-03 03:54] jdm commented on #26098
Android builds aren't actively supported any more.

[2020-04-03 03:54] #26098 closed

[2020-04-03 03:58] jdm commented on #12696
@CYBAI Could you file that as a seperate issue, please?

[2020-04-03 03:59] CYBAI commented on #12696
Okay! 🙏

[2020-04-03 04:08] CYBAI opened #26099 "Cannot access border-collapse sample on mozillademo"
The mozilla demo page for border-collapse at https://mdn.mozillademos.org/en-US/docs/Web/CSS/border-collapse$samples/A_colorful_table_of_browser_engines?revision=1160464 can be visited correctly on Firefox but I can't visit it on Servo.

![](https://user-images.githubusercontent.com/6782666/78319451-27bbeb00-75a2-11ea-8176-66b2fba83092.png)

And with turning on loggings for `net`, I found the requ

[2020-04-03 07:28] gterzian opened #26100 "ServiceWorker: allow for a network mediator per origin"
Mirror problem of https://github.com/servo/servo/issues/15217

Currently the [`CoreResourceManager`](https://github.com/servo/servo/blob/e66ab111a6fb5ea9fc7684a0ebeddbe6aa2134f1/components/net/resource_thread.rs#L431) only has one `swmanager_chan`, which means that starting multiple `ServiceWorkerManager` will overwrite previous values and only the last one will work as a network mediator.

https:

[2020-04-03 07:48] paulrouget commented on #26092
@jdm can you please try this snippet with the device:

[code]

Add it under hl-home/bbjs/snippets and load http://yourserver/hl-home/bbjs/#hittest.js

This could improve the hittest situation. You will see if the ray intersect with the sphere if a disk appears on the sphere.

It's very possible that it doesn't work - if it doesn't, does rolling your hand changes the situation?

[2020-04-03 08:34] paulrouget commented on #26092
Note about the select event not being registered: `onButtonStateChangedObservable` is not called on device according to the logs @jdm share with me.

[2020-04-03 09:43] Darkspirit commented on #26098
(Background: https://github.com/servo/servo/pull/25877#issuecomment-593739198)

[2020-04-03 09:49] paulrouget commented on #26082
@SimonSapin now that https://github.com/mozilla/community-tc-config/pull/252 landed, what would be the next step? Is it just a matter to implement a `with_rdp()` option that would add the right scope and the rdpInfo field to the payload?

[2020-04-03 10:02] CYBAI commented on #26099
oh, okay! I've found what happened and this is actually not an issue.

The problem is, @dralley and I ran mach command with the url directly. The url contains dollar sign symbol and then it's interpreted as env var.

So, we can see from the first line of log for Servo above; it's actually `/CSS/border-collapse/A_colorful_...`

[code]

so, when we run following command, we can visit the page correc

[2020-04-03 10:02] #26099 closed

[2020-04-03 10:04] CYBAI commented on #12696
So, this page is actually still reproducible.

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/6782666/78348613-4db2b100-75dd-11ea-9143-ec57d9ea118b.png">

(See https://github.com/servo/servo/issues/26099#issuecomment-608348117 for more details for the 404 page)

tl;dr: remember to run the page url with `'` when the url contains dollar sign

[code]

[2020-04-03 10:05] tipowol commented on #10781
@highfive assign me

[2020-04-03 10:05] highfive commented on #10781
Hey @tipowol! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-03 14:09] SimonSapin commented on #26082
I’ve filed https://github.com/servo/taskcluster-config/pull/24 and https://github.com/servo/servo/pull/26102.

Let’s not make RDP passwords public :) In https://github.com/servo/servo/pull/26102 I’ve made these artifacts private, people logged in to Taskcluster with "Servo project admin" access can see them.

[2020-04-03 14:12] jdm commented on #26092
@paulrouget I tried hittest.js, and no matter how I oriented my hand there did not appear to be any ray intersection.

[2020-04-03 14:17] jdm commented on #26092
Correction - the ray does successfully intersect with the sphere and displays the disc.

[2020-04-03 15:25] utsavoza commented on #25646
@jdm @medimatrix Is it possible for me to take up this issue if we are not making progress currently?

[2020-04-03 15:34] jdm commented on #25646
@utsavoza If you would like to continue the work from #25672, that would be great!

[2020-04-03 15:41] paulrouget commented on #26092
So we made some progress on the BBJS side. To fix part of the hit test issue, adding this to the demo for now will fix it:

[code]

The drum color is not changing yet, and we're looking at it.

---

For the event not being received, there is a discussion ongoing on team about interaction profile. I don't know if this will help with the emulator issue (no events ever happen) or with the device issu

[2020-04-03 15:41] utsavoza commented on #25646
Sure. I have made some changes taking into account both the reviews and changes in #25672. I can raise a PR for the issue, if that's Ok!

[2020-04-03 15:51] jdm commented on #25646
Please do!

[2020-04-03 16:02] tipowol commented on #25579
I investigated this issue and it looks like it's already implemented:
https://github.com/servo/servo/blob/e23fbd25e65397a8f53812085edb5538f2d1ff44/components/script/dom/node.rs#L2110-L2118.

[2020-04-03 16:11] jdm commented on #25579
Agreed. Thanks for investigating!

[2020-04-03 16:11] #25579 closed

[2020-04-03 17:26] #26082 closed

[2020-04-03 18:12] tipowol commented on #23704
@highfive assign me

[2020-04-03 18:12] highfive commented on #23704
Hey @tipowol! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-03 20:30] jdm commented on #26092
Apparently this is supposed to trigger a select action in the emulator:
[code]

[2020-04-03 20:54] dralley commented on #18199
I can't reproduce this either

[2020-04-03 20:55] dralley commented on #18326
This is still reproducable

[2020-04-03 20:57] dralley commented on #18329
This is still reproducable

[2020-04-03 20:58] dralley commented on #18331
I cannot reproduce this anymore, seems to be fixed.

[2020-04-03 20:59] dralley commented on #18437
I can't reproduce this anymore.

[2020-04-03 21:02] dralley commented on #18565
This can still be reproduced.

[2020-04-03 21:04] dralley commented on #18596
I can't reproduce this anymore on either reddit.com or old.reddit.com

[2020-04-03 21:05] dralley commented on #13689
Is this still reproducable for anyone?  If not, might be best to close.

[2020-04-03 21:06] #13689 closed

[2020-04-03 21:06] #18596 closed

[2020-04-03 21:07] dralley commented on #18630
I can't reproduce this anymore, and I think this was meant to be closed after the test landed?

[2020-04-03 21:07] jdm commented on #18437
I can reproduce it with the reduced testcase from https://github.com/servo/servo/issues/18437#issuecomment-330881611.

[2020-04-03 21:07] dralley commented on #18632
This is still reproducable

[2020-04-03 21:09] #18630 closed

[2020-04-03 21:09] dralley commented on #18437
That's weird, that's the testcase I used.  I tried it again, clicked, scrolled around, still nothing.  Interesting.

[2020-04-03 21:10] #18331 closed

[2020-04-03 21:10] #18199 closed

[2020-04-03 21:10] dralley commented on #18634
I can still reproduce this.

[2020-04-03 21:12] dralley commented on #18646
This still crashes, but with an entirely different cause

[code]

[2020-04-03 21:14] dralley commented on #18654
I can't reproduce this anymore

[2020-04-03 21:15] dralley commented on #18662
Still reproducable

[2020-04-03 21:17] dralley commented on #18697
Still reproducable

[2020-04-03 21:18] dralley commented on #18705
Still happens.

[2020-04-04 00:50] dralley commented on #14239
I added some printlns to the logic around the assertion.  Here's the code:

[code]

And here are the state that causes the failing assertion:

* On the second check, ```self.Document().needs_reflow()``` returns ```Some(PaintPostponed)``` (1st check = false)
* ```!for_display```== false (2nd check = false)
* ```suppress_reflow``` is false (3rd branch = false)

[2020-04-04 00:58] dralley commented on #14239
Slightly simpler reproducer, actual values aren't necessary nor are the try catch.  This was already mentioned but, just confirming.

[code]

[2020-04-04 01:10] dralley commented on #18687
I can't reproduce -- although, the website might have changed.

[2020-04-04 01:17] dralley commented on #18690
@Max-E Can you still reproduce this?  I can't -- although it seems like it was tricky to reproduce regardless.

[2020-04-04 02:45] #18687 closed

[2020-04-04 02:48] #18654 closed

[2020-04-04 03:37] jdm commented on #18437
Is there any chance you used a layout-2020 build?

[2020-04-04 03:59] dralley commented on #18437
Nope.

![Screenshot from 2020-04-03 23-57-49](https://user-images.githubusercontent.com/2751996/78418096-f7f2fe80-7606-11ea-9964-a3437a83ef4f.png)

Granted, if I leave it sitting there, it does eventually spawn a prompt for the process having "stopped responding", but I never get a traceback.

[2020-04-04 06:41] gterzian commented on #23994
Ok closing this, I don't think it's super actionable, using a UUID for the worklet id seems appropriate at this stage.

[2020-04-04 06:41] #23994 closed

[2020-04-04 07:50] gterzian opened #26107 "ServiceWorker: don't leak service worker managers"
Follow-up on https://github.com/servo/servo/pull/26087

So in the PR a `ServiceWorkerManager` is created when a worker is first registered for a given origin, see https://github.com/servo/servo/pull/26087/files#diff-55c92a6a5ba7654ce45fe6fc6c63740fR2629

We only shut those down when the constellation shuts-down. https://github.com/servo/servo/pull/26087/files#diff-55c92a6a5ba7654ce45fe6fc6c63740fR

[2020-04-04 08:00] gterzian opened #26108 "ServiceWorker: restructure data structure and algorithms to better match the spec"
EDIT: the second comment is more accurate, still keeping this here for a basic overview of how it currently works. We need to move the Jobqueue to the constellation or service worker manager level.

https://github.com/servo/servo/blob/f7d3d4a44762b3196c8dcbe58b628b5a23fc7833/components/script/serviceworkerjob.rs#L102

Spec: https://w3c.github.io/ServiceWorker/#dfn-job-queue

The `JobQueue` used to

[2020-04-04 11:47] #26088 closed

[2020-04-04 15:54] gterzian opened #26112 "ReadableStream: unify with async WASM compilation"
Follow up to https://github.com/servo/servo/pull/25873 and https://github.com/servo/servo/pull/24977

See https://github.com/servo/servo/pull/25873/commits/61065f55f9db656c32de18437b1cd2995fc2258e#r399513146

[2020-04-04 16:15] gterzian commented on #26112
There is some more info available at https://github.com/servo/mozjs/blob/aabcc9ba889b2755f1e4e83f28323a60415a790f/mozjs/js/src/jsapi.h#L1971

And yes, it seems the use of a `StreamConsumer` is required because that is what SM passes to the callback.

[2020-04-05 06:59] kunalmohan commented on #24610
I'd like to solve this, if it's not a problem :)

[2020-04-05 07:51] mamins1376 opened #26114 "Void linux support for mach"
I'm trying to build on void linux. Already added the packages to `./mach bootstrap`, but no luck with building. Does this have anything to do with the distro or is it another issue for cargo itself?
[code]
I also tried with `RUST_LOG=cargo=debug`, but no difference in output. How can I get more information?

[2020-04-05 08:52] SimonSapin commented on #26114
Cargo uses `CARGO_LOG` instead of `RUST_LOG`.

[2020-04-05 12:48] jdm commented on #24610
Please do!

[2020-04-05 13:47] mamins1376 commented on #26114
Turns out cargo panic was due to outdated objects in my `target/`. Removing those solved the issue.
Now I'm stuck with building `components/net`. it's `build.rs` checks for `DEP_OPENSSL_VERSION_NUMBER` (https://github.com/servo/servo/commit/21b2479dc27221c6cf0340210de6a6bd656ab01f) but *somehow* it is not set.
Void linux uses libressl instead of openssl. Who should set that variable?

[2020-04-05 14:25] SimonSapin commented on #26114
`DEP_OPENSSL_VERSION_NUMBER` is set by Cargo https://doc.rust-lang.org/cargo/reference/build-scripts.html#the-links-manifest-key from the value printed here:

* https://github.com/sfackler/rust-openssl/blob/b027f1603189919d5f63c6aff483243aaa188568/openssl-sys/build/main.rs#L228
* https://github.com/sfackler/rust-openssl/blob/b027f1603189919d5f63c6aff483243aaa188568/openssl-sys/Cargo.toml#L11

It l

[2020-04-05 15:15] #15217 closed

[2020-04-05 15:15] #26100 closed

[2020-04-05 17:22] Darkspirit commented on #26114
LibreSSL ([description](https://wiki.gentoo.org/wiki/Project:LibreSSL)) is almost a drop-in replacement for outdated versions of OpenSSL.
LibreSSL does not support necessary TLS 1.3 and DTLS 1.2. Servo shouldn't have to maintain support for three entirely different TLS libraries at the end.

Gstreamer's DTLS implementation does not support LibreSSL:
void linux applies [their own patch](https://git

[2020-04-05 18:06] tipowol commented on #26007
@highfive assign me

[2020-04-05 18:06] highfive commented on #26007
Hey @tipowol! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-05 19:31] mamins1376 commented on #26114
Is automatically enabling `vendored` flag by mach on void linux an acceptable behavior?

[2020-04-05 21:02] kunalmohan commented on #24610
What should be the expected behaviour in case [`create_webgl_threads()`](https://github.com/servo/servo/blob/1a6f08f698a720022a41738f0ba072dae86cadb8/components/servo/lib.rs#L1062) returns `None`?

[2020-04-06 08:15] paulrouget commented on #26092
Yes, that's the gesture we usually use for non immersive mode interactions, but we are not getting any event in IM.

We are also getting coordinate issues *only with the emulator*. The drums demo in the emulator is not showing the ray properly, whereas on the device, it's working well.

[2020-04-06 09:17] gterzian commented on #19302
I think we've ticked all the boxes at https://github.com/servo/servo/issues/19302#issue-275379996

Time to close this one?

[2020-04-06 09:32] Darkspirit commented on #15989
Run cargo audit in CI: https://github.com/bluejekyll/trust-dns/blob/0ff7817a587ead902f66d3a78082c9a893484738/Makefile.toml#L270

[2020-04-06 09:37] Darkspirit opened #26118 "Consider using Dependabot"
...at least for OpenSSL:
Example: https://github.com/bluejekyll/trust-dns/pull/1010

[2020-04-06 10:20] paulrouget commented on #26092
This is how I manually create a user:

[code]

[2020-04-06 10:29] paulrouget commented on #26092
For the select event not being caught by BBJS, citing @RaananW:

[2020-04-06 10:54] paulrouget commented on #26092
I think this is why we are not getting any event with the device: https://github.com/BabylonJS/Babylon.js/blame/072e28d1814c8849440caf020971e049d5e9df27/src/XR/webXRInputSource.ts#L93

[2020-04-06 11:05] RaananW commented on #26092
Gamepad input is needed to get the current state of the components.

The name might be a bit misleading, but the object is exposed on all WebXR-enabled browsers, when an input is available. The specs are here - https://www.w3.org/TR/webxr-gamepads-module-1/

The part we are using is this:

[code]

[2020-04-06 11:07] RaananW commented on #26092
This explainer gives a better detailed view of the module: https://github.com/immersive-web/webxr-gamepads-module/blob/master/gamepads-module-explainer.md

[2020-04-06 11:25] paulrouget commented on #26092
Thanks - this explains why we're not getting events with BBJS.

https://github.com/servo/servo/blob/3df65c02fe73a4cce9e391fa1de0b9a4d613c51b/components/script/dom/webidls/XRInputSource.webidl#L25

@Manishearth is it just a matter of linking the proper `XRSystem::gamepads` to `XRInputSource::gamepad`?

[2020-04-06 12:35] #19302 closed

[2020-04-06 15:40] dralley commented on #21157
I see font-kit is being used now, is this issue still applicable?

[2020-04-06 16:08] jdm commented on #21157
I believe https://github.com/linebender/skribo/ is the intended outcome here. In any case, we're unlikely to spend time trying to extract the relevant code from Servo at this point.

[2020-04-06 16:08] #21157 closed

[2020-04-06 16:20] Manishearth commented on #26092
We could, yes, but it's complicated, it's not clear in the spec if we should be exposing the attribute for non-gamepad controllers like hands: https://github.com/immersive-web/webxr-gamepads-module/issues/23 . It's also [not clear what the input profile situation should be](https://github.com/immersive-web/webxr-input-profiles/issues/105)

Applications should be using the onselect and onsqueeze ev

[2020-04-06 17:17] jdm opened #26125 "BindBuffer, DeleteBuffer, bound_buffer, GetParameter(ELEMENT_ARRAY_BUFFER_BINDING) don't work with webgl2 VAOs"
All of these methods of WebGLRenderingContext call `self.current_vao()` which only supports the WebGL1 OES VAO extension. They should have a check for the webgl version and call `self.current_vao_webgl2()` as appropriate.

[2020-04-06 17:58] jdm commented on #26125
Actually it looks like most or all of these have replacements in WebGL2RenderingContext that would get called, so it's less broken than it appeared at first. However, the fact that it's so easy to misread makes me think we should find a way to merge all of the duplicate code paths to avoid it.

[2020-04-06 17:59] RaananW commented on #26092
We have discussed this internally - I will create a patch for the pointer selection using the select and squeeze events (of course including the squeeze start and end). Will work on that tomorrow and get back to you.
Are there any other events you are exposing?

[2020-04-06 17:59] dralley commented on #21101
It should be noted that unless you're paying money to Canonical for extended support, Ubuntu 14.04 is no longer supported: https://www.omgubuntu.co.uk/2019/04/ubuntu-14-04-end-of-life

[2020-04-06 18:00] dralley commented on #21106
It should be noted that unless you're paying money to Canonical for extended support, Ubuntu 14.04 is no longer supported: https://www.omgubuntu.co.uk/2019/04/ubuntu-14-04-end-of-life

[2020-04-06 18:01] dralley commented on #9579
It should be noted that unless you're paying money to Canonical for extended support, Ubuntu 14.04 is no longer supported: https://www.omgubuntu.co.uk/2019/04/ubuntu-14-04-end-of-life

[2020-04-06 18:12] #9579 closed

[2020-04-06 18:12] #21106 closed

[2020-04-06 18:15] dralley commented on #20922
The test snippet from https://github.com/servo/servo/issues/20922#issuecomment-395125018 is fixed, but the original website link still renders incorrectly.

[2020-04-06 18:25] jdm commented on #20922
[code]
Firefox:
<img width="176" alt="Screen Shot 2020-04-06 at 2 24 16 PM" src="https://user-images.githubusercontent.com/27658/78592030-622bbf00-7812-11ea-8ee6-ec3a4279f8e4.png">
Servo:
<img width="165" alt="Screen Shot 2020-04-06 at 2 24 30 PM" src="https://user-images.githubusercontent.com/27658/78592038-648e1900-7812-11ea-9b51-b394a9722abe.png">

[2020-04-06 18:25] dralley commented on #20866
Still reproducable

[2020-04-06 18:25] jdm commented on #20922
Switching the img to a div shows the expected circular background color with the borders appearing over top as expected.

[2020-04-06 18:27] dralley commented on #20834
Ubuntu 14.04 no longer has upstream support, and it seems like 16.04 has a documented workaround in the readme.

[2020-04-06 18:32] dralley commented on #20747
Still reproducable

[2020-04-06 18:35] jdm opened #26128 "getInternalFormatParameter with invalid parameters can trigger panics in GL thread"
This happens when running the gl-object-get-calls.html test in non-headless mode.

[2020-04-06 18:35] jdm commented on #26128
[code]

[2020-04-06 18:38] jdm commented on #26128
It comes from this particular test block:
[code]

[2020-04-06 18:50] #20834 closed

[2020-04-06 18:52] jdm commented on #26128
The spec says:
[code]
We have no checks for the internalformat parameter at all in WebGL2RenderingContext::GetInternalFormatParameter.

[2020-04-06 18:54] jdm opened #26129 "Intermittent crash during style rule GC"
Observed during a CI run:
[code]

[2020-04-06 18:54] highfive commented on #26129
cc @emilio

[2020-04-06 19:08] jdm commented on #24610
Ah, I see this code has changed since I originally filed it - we now pass the result of create_webgl_threads to create_constellation, so we can actually pass non-Some values now. Sorry for not noticing that!

[2020-04-06 19:08] #24610 closed

[2020-04-06 19:16] Manishearth commented on #26092
We're only exposing select and squeeze, and on the hololens there's an issue with unconditionally exposing squeeze (https://github.com/immersive-web/webxr/issues/997). I'm hoping to eventually expose a gamepad, but we need to resolve the spec stuff first.

Thanks for making the fixes upstream! In general it's better to use those events wherever possible because it's not guaranteed that all user ag

[2020-04-06 19:21] RaananW commented on #26092
The pointer selection module is only in charge of pointer event simulation, so I will initially implement the select start and end. I'm leaving the squeeze out of this module's scope for now. Will be done tomorrow, I'll keep you updated here.

[2020-04-06 20:02] dralley commented on #19006
Is this not still an issue then?  If so, can it be closed?

[2020-04-06 20:06] dralley commented on #6594
Now that Azure is gone, is this still applicable?

[2020-04-06 21:00] #6594 closed

[2020-04-06 21:00] #17119 closed

[2020-04-06 21:00] #16386 closed

[2020-04-06 21:02] jdm commented on #19006
I'm willing to close it optimistically.

[2020-04-06 21:02] #19006 closed

[2020-04-06 22:15] #25646 closed

[2020-04-06 22:55] Manishearth commented on #26092
Thanks!

[2020-04-06 23:25] #26007 closed

[2020-04-07 01:39] #21122 closed

[2020-04-07 01:45] dralley commented on #21411
@cbrewster The reason:

* The draw target is being created with dimensions 0 width, 0 height
* The rasterizer is created with the dimensions of the draw target
* The rasterizer creates  ```height * 4``` entries in the ```edge_starts``` vector https://github.com/jrmuizel/raqote/blob/master/src/rasterizer.rs#L181-L185
    * With a height of 0, no entries are allocated
* When adding an edge, the ```e

[2020-04-07 01:53] cbrewster commented on #21411
@dralley I'm not very familiar with raqote, it would probably be worth opening an issue on the raqote repository and linking this issue.

Another possible idea would be to not issue canvas commands to the raqote draw target if the target is `0x0`.

[2020-04-07 05:36] #21101 closed

[2020-04-07 11:31] emilio commented on #26129
I think this has been caused by the recent changes by @nox. We rely on the rule nodes to be dropped from the same thread once the rule tree is gone.

[2020-04-07 11:55] nox commented on #26129
Why do they need to be dropped there?

[2020-04-07 12:07] nox commented on #26129
I'm confused as to how "rule nodes" relate to the thing I made owned by the DOM, namely a `StyleData` value.

[2020-04-07 13:12] #23704 closed

[2020-04-07 14:08] nox commented on #26129
@emilio Is this something that Gecko also does btw? Not dropping style data from the script thread? If not, how do they do?

[2020-04-07 15:34] emilio commented on #26129
A `StyleData` contains styles, which contain `StrongRuleNode` objects.

In gecko script-thread == layout-thread == main-thread, so this issue doesn't arise.

[2020-04-07 16:22] nox commented on #26129
If something is `Send`, it means it can be dropped from any thread we damn want. What you are telling me is that `Arc<ComputedValues>` cannot actually be dropped from any thread we damn want. That seems like a very important detail that should probably be stated in bold somewhere in the documentation.

[2020-04-07 16:33] SimonSapin commented on #26129
Can you say more about that? Why does it matter which thread runs a destructor? Is TLS involved?

[2020-04-07 16:44] dralley commented on #21411
With the new raqote patch, it runs without crashing (although some benchmarks don't display properly or at all) until hitting this:

[code]

which comes from

[code]

[2020-04-07 16:46] asajeffrey opened #26132 "three.js examples CSS padding incorrect?"
Viewing three.js examples at http://threejs.org/examples/, there's padding to the right of the viewer, for example:
![Screenshot from 2020-04-07 11-27-02](https://user-images.githubusercontent.com/403333/78696674-5cdb7c80-78c5-11ea-8e17-a15097b36027.png)

[2020-04-07 16:47] asajeffrey commented on #26132
It looks like `padding-left` is being applied rather than `padding-right`.

[2020-04-07 16:49] jdm commented on #21411
I think we could work around that if we added "-moz-transition" to https://github.com/servo/servo/blob/f63b404e0cbf30380c4043700861110d06e548bb/components/script/dom/webidls/CSSStyleDeclaration.webidl#L29.

[2020-04-07 16:52] asajeffrey commented on #26132
This came up in surfmanup, but I'm seeing it on master too. https://github.com/servo/servo/pull/25853#issuecomment-610495625

[2020-04-07 17:28] RaananW commented on #26092
Quick update - the implementation is now available in the playground, a hard refresh is recommended.

[2020-04-07 18:07] jdm opened #26134 "WebGLProgram::get_active_uniform_block_name compares index against wrong vector"
It should be comparing against the length of `self.active_uniform_blocks`, but it uses `self.active_uniforms` instead. This causes a panic in gl-object-get-calls.html in the webgl2 tests.

[2020-04-07 18:56] emilio commented on #26129
It doesn't matter _which_ thread. It matters that there are no concurrent drops after the stylist / rule tree is dropped. This is because it [invokes `gc()`](https://searchfox.org/mozilla-central/rev/a707541ff423ade0d81cef6488e6ecfa09273886/servo/components/style/rule_tree/mod.rs#1570) which is not thread-safe, effectively.

[2020-04-07 21:41] #26134 closed

[2020-04-07 21:55] jdm opened #26137 "webgl2 particles demo doesn't animate"
http://toji.github.io/webgl2-particles-2/

Run with `--pref dom.webgl2.enabled`

[2020-04-07 22:09] jdm commented on #26092
I have verified that https://joshmatthews.net/servo.org/hl-home/bbjs/#drums.js using the latest babylon.js preview now supports hit testing and the select action as expected!

[2020-04-07 22:28] jdm commented on #26092
However https://joshmatthews.net/servo.org/hl-home/bbjs/#tennis.js still does not recognize the pinch action in the left hand, so the ball just stays sitting on the ground.

The color picker demo works as expected, although there's a clear delay between when I stop a pinch action and when the pointer registers that it's no longer clicking.

The goalie demo now allows me to choose the easy or hard

[2020-04-07 22:56] RaananW commented on #26092
The only interactions available are the ones involving the main button (select).

The physics demos will work only when a mesh will be attached to the position of the hands, which is usually done when there is a model for the motion controller.

The other interactions will only work when there are other components (like thumbstick etc'), but i can create a playground for you to check teleportation

[2020-04-08 02:23] jdm commented on #24481
I believe this is blocking being able to run https://gpfault.net/assets/jsdemos/webgl2-particles/05/index.html, because it calls `  gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA8, 32, 32, 0, gl.RGBA, gl.UNSIGNED_BYTE, part_img);` and passes an HTMLImageElement argument. This doesn't match our IDL for the webgl2 context:
[code]
But it does match the commented out ones from the webgl2 spec:
[code]

[2020-04-08 03:04] jdm opened #26138 "webgl2 contexts don't render anything in immersive mode"
I made a fork of https://threejs.org/examples/webxr_vr_lorenzattractor.html, added a `<canvas></canvas>` to the body and created a webgl2 context and passed appropriate `context` and `canvas` parameters when creating the WebGLRenderer object. It renders fine in windowed mode, but immersive mode shows that it's never rendering to the opaque framebuffer.

[2020-04-08 03:32] jdm opened #26139 "LineWidth with non-1.0 value in webgl 2 contexts can cause a GL panic"
https://stackoverflow.com/questions/8791531/opengl-3-2-core-profile-gllinewidth
https://community.khronos.org/t/gllinewidth-gives-gl-invalid-value-for-widths-1/69023

This is explicitly deprecated in later versions of the GL Core profile, and macOS seems to trigger it on 3.2 and greater.

[2020-04-08 06:16] gterzian commented on #26108
Ok I've taken a closer look at this, and although I'm still figuring a few things out, it appears to me that the goal if this issue is not so much to use a `GlobalScope` versus a `ScriptThread` in the various `JobQueue` operations, it might rather be breaking up the algorithms and data structure between "what is running in a script context" and "what is not", and moving some parts to the constella

[2020-04-08 08:02] nox commented on #26129
Layout 2020 has been designed from day one with the assumption that `Arc<ComputedValues>` could be stored from wherever we want. What do you think of making `StrongRuleNode::drop` threadsafe with the `servo` feature in stylo?

[2020-04-08 08:49] paulrouget commented on #26092
@RaananW for the physics demo, isn't the bullet supposed to work with the `select` event? Also - we found that, with the WebXR API Simulator, in the tennis demo, replacing `getMainComponent()` with `getComponent("xr-standard-thumbstick")` get us the select event to work.

[2020-04-08 08:59] RaananW commented on #26092
Modified tennis demo - https://playground.babylonjs.com/pg/CHF3KW/revision/68
This will use the left hand's squeeze event to "hold the ball" in the air. when released the ball will be released as well, so you can practice throwing it.

[2020-04-08 09:11] paulrouget commented on #26092
@jdm To try @RaananW url in Servo, you can use: https://playground.babylonjs.com/full.html#CHF3KW#68

[2020-04-08 09:19] RaananW commented on #26092
@paulrouget -
The physics demo was checking the handness of the motionController (instead of checking the input source's handness). Here is a corrected version - https://playground.babylonjs.com/pg/B922X8/revision/24 . Reset with left select, shoot with right select.
the getComponent() will only work if a motion controller is present, so I am not sure why it works...

About teleportation in the sc

[2020-04-08 09:26] RaananW commented on #26092
Also a note about the physics demos - they are usually CPU-hungry. The number of physics steps taken in each frame is kept to a minimum (to make it run at reasonable FPS), so if a ball goes through a wall, you will have to accept it :-) .

The goalie training - use your hands to hit the balls coming at you. The score goes up one point if it was not a goal, or down one point if it was. Use the easy

[2020-04-08 09:38] emilio commented on #26129
Yes, that'd be welcome. Though I think the merging of the layout and script threads (which I read something about on riot) would also fix this effectively.

[2020-04-08 10:06] nox commented on #26129
It would not fix this, no. If there is something `'static` in an `Arc`, you are not supposed to need to be careful when dropping it. I don't want to have to be careful, this seems at odds with the whole "fearless concurrency" thing.

[2020-04-08 10:07] nox commented on #26129
I'm totally fine with it being gated on a `servo`-specific feature though, given AFAIK that may introduce a bit more overhead when dropping `StrongRuleNode` after the `RuleTree` is gone.

[2020-04-08 10:18] nox commented on #26129
To do any of this though, I also need to make the drop impl be non-recursive, in which case I think [this paper](https://hal.inria.fr/hal-02177326v2) can help.

[2020-04-08 11:01] RaananW commented on #26092
Another demo that you can use:

https://playground.babylonjs.com/pg/RQM31Y/revision/6

This will work in AR well, just need to re-enable the background remover feature.

Selecting a mesh will enable our gizmo manager, that will allow to manipulate the mesh. you can enable/disable the gizmo with the left squeeze

Right Squeeze will enable physics on all floating meshes. A second squeeze will random

[2020-04-08 11:25] paulrouget commented on #23219
For the record, to use VS 2019:

- uninstall VS 2017 then install VS 2019
- in `python/servo/packages.py` replace set llvm version to `9.0.0`
- remove `support/hololens/ServoApp/ServoApp.vcxproj.user`

This should be enough.

[2020-04-08 13:49] dralley commented on #26045
Also, which version of Ubuntu?

[2020-04-08 13:53] jdm commented on #24726
This was fixed by #25822.

[2020-04-08 13:53] #24726 closed

[2020-04-08 14:09] #26045 closed

[2020-04-08 14:12] jdm opened #26142 "Babylon tennis demo has GL errors with webgl 2 enabled"
Adding `--pref dom.webgl2.enabled` and running https://servo.org/hl-home/bbjs/#tennis.js exposes GL errors that don't occur with webgl 1.

[2020-04-08 14:58] dralley commented on #20922
Any idea where the code that influences this would be located?

[2020-04-08 16:31] utsavoza commented on #23436
Hey @jdm,  I see that code concerning the issue has changed quite a bit since this both the issue and its PR (#23730) was created. Based on the current implementation of `CanvasState`, I believe we should rather remove the `DomRefCell` wrapper for `CanvasState` since we are currently borrowing it immutably in both `CanvasRenderingContext2D` and `OffscreenCanvasRenderingContext2D` (unless we intend

[2020-04-08 16:38] jdm commented on #23436
@utsavoza In general I find methods that are &self or &mut self as needed on a struct are easier to read than those same methods performing lots of borrow/borrow_mut calls on their members. If we keep the DomRefCell wrapper around CanvasState and remove the per-member wrappers, that will yield easier to read code in my opinion.

[2020-04-08 16:47] jdm opened #26144 "Add origin trials for webgl 2"
Our WebGL 2 implementation is not yet at the point where we can enable it by default (in particular, there are problems like #26142). However, for demos that require WebGL 2 and run correctly with it enabled like http://joshmatthews.net/webxr-particles/, we should add support for enabling it on known-good origins. We can do this by using a `Func` annotation instead of `Pref` in the various webgl2

[2020-04-08 16:48] atouchet opened #26145 "2020 roadmap update"
https://github.com/servo/servo/wiki/Roadmap

It would be nice to have an update for 2020 now that it's not 2019 anymore.

[2020-04-08 17:00] jdm commented on #26145
Done!

[2020-04-08 17:00] #26145 closed

[2020-04-08 17:28] utsavoza commented on #23436
I agree. I did actually [try to remove the Cell/DomRefCell member wrappers from CanvasState struct](https://github.com/servo/servo/compare/master...utsavoza:ugo/issue-23436/07-04-2020). The issue I saw with that is there will be some public methods in `CanvasState` that will now accept `&mut self` instead of `&self`.

For example: [`draw_image`](https://github.com/servo/servo/compare/master...utsa

[2020-04-08 17:54] jdm commented on #23436
From reading the code (since draw_image_internal does not directly invoke send_canvas_2d_msg), it looks like that either comes from CanvasState::draw_html_canvas_element or CanvasState::draw_offscreen_canvas. I _think_ we should only end up with a borrow problem in the case where we try to draw an html canvas inside of itself. One option to avoid that would be to pass the source canvas's CanvasId

[2020-04-08 17:55] jdm commented on #23436
That being said, if the resulting code is just working around a couple edge cases, you might be right that it will be easier to read and write if we keep the member wrappers instead of the overall CanvasState wrapper. Use your best judgement!

[2020-04-08 18:10] Azeirah opened #26148 "Newest build crashes on startup with an assertion failed error"
Downloaded the most recent build, extracted it and it fails with an error when I try to execute it.

md5sum of the build `63ada2efbafefaaadb478c7a2cede87d  servo-latest.tar.gz`

[code]

This is on Linux Mint

[code]

[2020-04-08 18:17] jdm commented on #26148
It will be interesting to learn if this goes away when #25853 is merged. Until then, are you running x11 or wayland? This appears to be coming from loading `libGL.so` at runtime in [this code](https://github.com/servo/surfman/blob/0.1/surfman/src/platform/unix/x11/context.rs#L39-L52); perhaps you can figure out what package you can install that will give you the GL libraries you need for your dist

[2020-04-08 18:26] Darkspirit commented on #26148
4.15.0-20 is the Linux kernel [version](https://packages.ubuntu.com/bionic/linux-image-4.15.0-20-generic)  of Ubuntu 16.04 and 18.04.
It works for me with Debian Testing, KDE, X11, Intel Iris 6100 (Broadwell GT3).
But I can reproduce the same crash with Ubuntu 20.04, X11+Wayland, Gnome+KDE (=all 4 combinations), Radeon RX480.

[2020-04-08 18:52] Darkspirit commented on #26148
Surfman wants to open the wrong file name.
I have [libGL.so](https://packages.debian.org/search?searchon=contents&keywords=libgl.so) on Debian Testing only because of the [libglvnd-dev](https://packages.debian.org/bullseye/libglvnd-dev).
`sudo apt install libglvnd-dev` "fixes" the crash on Ubuntu.

[2020-04-08 19:16] jdm opened #26149 "All babylon content in immersive mode stopped rendering"
http://servo-builds.s3.amazonaws.com/nightly/uwp/2020-04-01T09:15:23Z-ServoApp_1.0.0.0_Test.zip successfully shows the demos from http://servo.org/hl-home/wip.html in immersive mode. http://servo-builds.s3.amazonaws.com/nightly/uwp/2020-04-06T09:20:03Z-ServoApp_1.0.0.0_Test.zip does not. We regressed something, but it only affects babylon demos, not three.js demos.

[2020-04-08 19:18] jdm commented on #26149
http://servo-builds.s3.amazonaws.com/nightly/uwp/2020-04-04T09:17:53Z-ServoApp_1.0.0.0_Test.zip is broken.

[2020-04-08 19:22] jdm commented on #26149
My money is on https://github.com/servo/servo/pull/26093 and https://github.com/servo/webxr/commit/2d179a16e69c9819c17a043d7465dc4b797ac266 or https://github.com/servo/webxr/commit/4c6a68fea99b7d930dbf77b978447b9520edf3c2.

[2020-04-08 19:24] jdm commented on #26149
http://servo-builds.s3.amazonaws.com/nightly/uwp/2020-04-03T09:18:20Z-ServoApp_1.0.0.0_Test.zip is broken.

[2020-04-08 19:30] jdm opened #26150 "Remove assertion for negative value from get_uniform_location"
https://github.com/servo/servo/blob/e1dd0d9bca5033c37498733c8107dcc686bea807/components/canvas/webgl_thread.rs#L2300

It's entirely possible for web content to pass values that will known result in a known uniform location. This means that a return value of -1 is reasonable and we shouldn't assert against it.

[2020-04-08 19:30] jdm commented on #26150
This is known to trigger in babylon.js content with `dom.webgl2.enabled` set to true.

[2020-04-08 19:32] jdm commented on #26149
http://servo-builds.s3.amazonaws.com/nightly/uwp/2020-04-02T09:17:03Z-ServoApp_1.0.0.0_Test.zip is broken.

[2020-04-08 19:43] jdm commented on #26149
Verified that babylon content renders with servo master and the webxr repository patched to use https://github.com/servo/webxr/commit/412f385483ad502320f94d98fe5beabf53d14de7.

[2020-04-08 19:55] jdm commented on #26149
Verified that https://github.com/servo/webxr/commit/4c6a68fea99b7d930dbf77b978447b9520edf3c2 causes this problem to appear.

[2020-04-08 20:08] jdm commented on #26149
Verified that https://github.com/servo/webxr/pull/153 makes the problem go away.

[2020-04-08 20:24] dralley commented on #21411
@jdm It looks like the current version of that file is auto-generated: https://github.com/servo/servo/blob/master/components/script/dom/webidls/CSSStyleDeclaration.webidl

But I can't seem to find the "GlobalGen.py" file that supposedly created this file, that the comment version references.  I did find it in the git history, but it no longer seems to exist under that name. https://github.com/serv

[2020-04-08 20:29] jdm commented on #21411
The generation now happens in https://github.com/servo/servo/blob/402db83b2b19f33240b0db4cf07e0c9d056b1786/components/script/dom/bindings/codegen/run.py#L72-L83 apparently.

[2020-04-08 20:29] jdm commented on #21411
And that script is run during the [build script](https://github.com/servo/servo/blob/402db83b2b19f33240b0db4cf07e0c9d056b1786/components/script/build.rs#L21-L26).

[2020-04-08 20:30] jdm commented on #21411
I think the easiest solution would be to modify the contents of `css_properties` in run.py to add in a -moz-prefixed property.

[2020-04-08 20:44] #26138 closed

[2020-04-08 20:50] jdm opened #26151 "Intermittent crash during GC with webgl objects"
A release build showed me this confusing stack:
[code]
It's not just the old problem of trying to communicate with the webgl thread during a GC after it's been shutdown. This is an actual segfault:
[code]

[2020-04-08 20:51] jdm commented on #26151
I saw this after loading https://playground.babylonjs.com/full.html#B922X8#24 and then closing the window after leaving immersive mode.

[2020-04-08 21:24] dralley commented on #21411
@jdm Do you think there's possibly a deeper root cause here?  I can't say really I understand what is going on with all of the codegen, but it kinda sorta looks like it should *already* have this prefix when ```css-properties.json``` is created?

https://github.com/servo/servo/blob/master/components/style/properties/shorthands/box.mako.rs#L45-L47

https://github.com/servo/servo/commit/7403ec8b7084

[2020-04-08 21:46] jdm commented on #21411
Those extra prefixes aren't used in servo: https://github.com/servo/servo/blob/a8b8f4647622dc88e2d19c04de3948795dcc594d/components/style/properties/data.py#L592-L596

[2020-04-08 22:38] dralley commented on #21411
Gotcha

[2020-04-08 23:13] dralley commented on #21411
Something like this?

[code]

[2020-04-08 23:24] jdm commented on #21411
That's the idea. You just need to add the missing functions to cssstyledeclaration, and it should be possible to just return the value of calling `self.Transition()` and `self.SetTransition(value)` respectively.

[2020-04-08 23:44] Manishearth opened #26153 "Handle detached arrays in XRView"
There are a bunch of places in the WebXR spec where arrays are returned. If you call `.transfer()` on these, their buffers are "detached", and need to be recomputed. You can check if a buffer is detached by calling `is_null()` on it.

We handle most of these cases, except for [`XRView.projectionMatrix`](https://immersive-web.github.io/webxr/#xrview-obtain-the-projection-matrix)

We need to store t

[2020-04-08 23:44] highfive commented on #26153
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-04-09 00:08] #26149 closed

[2020-04-09 02:43] dralley commented on #21411
Unfortunately I'm still getting the same error after these changes.  Here's my branch:  https://github.com/servo/servo/compare/master...dralley:fix-motionmark

[2020-04-09 02:44] dralley commented on #20922
@jdm ^

[2020-04-09 06:33] atouchet commented on #20337
WebVR has been removed from Servo. Is this resolved now?

[2020-04-09 06:37] atouchet commented on #22758
Is this fixed now?

[2020-04-09 06:38] atouchet commented on #23679
Is this still relevant?

[2020-04-09 06:40] atouchet commented on #24425
The rust-webvr crate has been removed. Is this still relevant?

[2020-04-09 07:47] Manishearth commented on #24425
Yes, the webvr API can still be implemented on top of WebXR.

It might be worth doing it as a userscript though

[2020-04-09 11:32] Azeirah commented on #26148
I'm using x11. As @Darkspirit suggested, installing `libglvnd-dev` fixes this error for me.

[2020-04-09 12:55] asajeffrey commented on #22758
We don't support WebVR any more.

[2020-04-09 12:55] #22758 closed

[2020-04-09 13:56] jdm commented on #20337
Yep.

[2020-04-09 13:56] #20337 closed

[2020-04-09 13:57] jdm commented on #23679
Nope!

[2020-04-09 13:57] #23679 closed

[2020-04-09 13:59] #26148 closed

[2020-04-09 15:58] jdm opened #26157 "Several seconds of unstyled content when loading homepage on HoloLens"
There's clearly some amount of layout that occurs during page load before the stylesheet is loaded. We have some heuristics that are meant to avoid this, so we should figure out why they're not working.

[2020-04-09 16:28] jdm commented on #26092
Today's nightly successfully demonstrates controller interaction in the drumming and clouds demos, so I've promoted them to featured demos on the homepage. I'm going to go ahead and close this issue and file new ones for remaining Babylon.js controller interaction issues that I notice when using the demos.

[2020-04-09 16:28] #26092 closed

[2020-04-09 16:31] jdm opened #26158 "Babylon.js pointer ray often gets stuck"
When using the [buttons demo](https://servo.org/hl-home/bbjs/#drums.js) on HoloLens, it is common for the ray emitted from my hands to stop following my hands. Sometimes it seems like the device may have lost hand tracking when my hands are near the edge of the view, but this also happens when my hands should be in plain view of the device.

[2020-04-09 16:33] jdm opened #26159 "Babylon.js only recognizes vertical pinch, not horizontal pinch"
When using the [three.js paint demo](https://threejs.org/examples/webxr_vr_paint.html), my right hand can use a horizontal pinch gesture to start painting (but the left hand does not appear to recognize a horizontal gesture, only the vertical one). However in Babylon.js, only the vertical pinch is recognized by both hands.

[2020-04-09 18:40] jdm opened #26160 "Linker error building mozjs with profilemozjs and jitspew features"
There's a very inscrutable error now:
[code]
I'll see if using clang 9 makes any difference.

[2020-04-09 20:55] jdm opened #26161 "Intermittent connection error in wdspec tests ("setup error")"
[code]

[2020-04-09 22:17] jdm commented on #26159
This seems less cut and dry than I though. Babylon's left hand doesn't appear to recognize the horizontal pinch either, and I can definitely make a horizontal pinch successfully on occasion with the right hand.

[2020-04-09 22:37] jdm opened #26162 "Navigation doesn't work after leaving immersive mode"
STR:
1. visit any demo from the https://servo.org/hl-home/ homepage
1. enter immersive mode
1. use the context menu to leave immersive mode
1. press the home button

Something broke this recently, since I have definitely successfully gone back in history in previous builds.

[2020-04-09 22:38] jdm commented on #26162
The "Enter VR" button also doesn't change its state in a useful way. I have a suspicion that https://github.com/servo/servo/pull/26077 may be related.

[2020-04-09 22:41] jdm commented on #26162
I can't reproduce this problem on desktop using the glwindow backend.

[2020-04-10 01:18] Manishearth commented on #26162
I'm on commit e691e42d58f6b0f29aa5c09abdc6b669f53408b0, with the preview runtime disabled. It seems to be working, or at least the back button is.

[2020-04-10 01:20] Manishearth commented on #26162
oh, nope, got it to happen.

seems to be non deterministic

[2020-04-10 01:23] Manishearth commented on #26162
this looks like the main thread is asleep. the canvas dirtying could be why but that wouldn't explain embedder buttons not working

[2020-04-10 01:31] Manishearth commented on #26159
This is _very_ weird, because all we get from the system is "did a pinch happen", we do no further analysis.

Note: the hololens' ability to detect pinches can depend on the backdrop, perhaps your typical working space has a varied background that favors gesture detection on the right hand.

I think the OpenXR demo app (inside the openxr runtime app) displays pinches when they occur, do you want t

[2020-04-10 02:02] Manishearth commented on #26162
Yeah, it's that patch. Perhaps I should deliberately dirty something and trigger relayout when the session exits.

[2020-04-10 02:12] Manishearth commented on #26162
cc @asajeffrey my impression is that basically the main thread goes to sleep and nothing wakes it up. I'm surprised that the embedder buttons don't work when the main thread is asleep (cc @paulrouget?)

I guess the right fix is to forcibly dirty the canvas, we need to do that anyway

[2020-04-10 02:31] jdm commented on #26162
The embedder buttons cause events to be queued that the servo event loop will run the next time it's woken up. I guess if the page isn't animating in any way and the compositor isn't being poked by webrender submitting a new rendered frame, the event loop has nothing to prod it.

[2020-04-10 02:32] jdm commented on #26162
This would _probably_ not be an issue if we separated the compositor from the is main thread like @asajeffrey keeps wanting to do?

[2020-04-10 02:35] dralley commented on #2142
Is this still relevant?

[2020-04-10 03:08] asajeffrey commented on #26162
I'd push harder on moving WR off the main thread, except that AFAIK it requires an extra blit.

[2020-04-10 03:30] dralley commented on #21411
^ means the "prefix is undefined" error, not the compile error -- should have specified

```[2020-04-07T14:18:14Z ERROR script::dom::bindings::error] Error at https://browserbench.org/MotionMark/resources/extensions.js:112:13 prefix is undefined```

[2020-04-10 03:42] jdm commented on #21411
It would be worth figuring out what the output of that code snippet from earlier is in Gecko, and compare it to the output for Servo. This would help isolate what we should be doing differently.

[2020-04-10 04:09] dralley commented on #21411
So it looks like the problem is actually the first line of the function.  Using

[code]

I get

[code]

Whereas Firefox will return a CSS2Properties object with hundreds of fields.

[2020-04-10 04:20] jdm commented on #21411
Hmm, I wonder if we should have a toJson method in the WebIDL.

[2020-04-10 04:25] jdm commented on #21411
However https://drafts.csswg.org/cssom/#the-cssstyledeclaration-interface doesn't include one. I wonder what's different about Gecko's IDL?

[2020-04-10 05:21] Manishearth commented on #26162
@jdm how does tapping the page not wake up the main thread either, then?

Basically, it's unclear to me why this bug won't also occur on a page with a simple onclick handler and no other dynamic content. Should embedder events be waking up the main thread?

[2020-04-10 09:26] #26150 closed

[2020-04-10 14:01] asajeffrey commented on #26162
They should. Are we not getting events from the OS when returning from immersive mode?

[2020-04-10 17:43] Manishearth commented on #26162
We get events from the OS if I mark the canvas as dirty.

[2020-04-10 19:45] dralley commented on #18697
It seems like it might be the same issue as https://github.com/servo/servo/issues/21962

[2020-04-10 20:05] jdm commented on #18697
Agreed.

[2020-04-10 20:05] #18697 closed

[2020-04-10 20:13] dralley commented on #22632
How do you trigger this?

[2020-04-10 20:19] dralley commented on #22943
I can sign in successfully and navigate around, no crash.

[2020-04-10 20:24] #22943 closed

[2020-04-10 20:49] dralley commented on #1423
Is this still applicable?

[2020-04-10 22:28] Manishearth opened #26169 "Should we be using FromJSValConvertible for enum conversions?"
It seems like we don't have FromJSValConvertible implementations for enums. I can't think of a good reason for doing this, and this also means our bindings code is littered with code like

[code]

We should probably fix this.

Furthermore, this prevents us from using `sequence<EnumType>` in dictionaries in WebIDL

[2020-04-10 22:42] jdm commented on #1423
Nope; we added code that catches rust panics from all C callbacks.

[2020-04-10 22:42] #1423 closed

[2020-04-11 04:13] gterzian commented on #22632
Lol, I have no idea, and I can't believe I opened an issue like that...

From the backtrace it appears the crash follows a call to `PageTransitionEvent::new`, happening from inside a running task.

There are three places where a task is queued which calls `PageTransitionEvent::new`(although perhaps this can happen in any task through a call from user code), those are:

1. At [`document.set_activit

[2020-04-11 14:26] CYBAI commented on #22632
I just tried to run the example code of `PageTransitionEvent` on [MDN](https://developer.mozilla.org/en-US/docs/Web/API/PageTransitionEvent) and didn't get the panic.

[2020-04-11 15:19] CYBAI commented on #20971
I think this is no longer an issue.

[2020-04-11 15:19] #20971 closed

[2020-04-11 15:26] CYBAI commented on #19879
Remove `C-assigned` label due to lack of activity

[2020-04-11 15:27] CYBAI commented on #26108
@gterzian is there anything I can work on for this meta issue 👀 ?

[2020-04-11 17:01] dralley commented on #22632
For lack of a reproducer, do you think it's worth keeping open?  It might have been fixed in the interim

[2020-04-12 01:32] CYBAI commented on #22632
Let me close then? maybe it's worth filing a new issue when we hit the same panic!

[2020-04-12 01:32] #22632 closed

[2020-04-12 03:15] gterzian commented on #26108
@CYBAI I think there will be lots of things to do but I'm sure what yet, currently still looking at the spec and the code.

I'm pretty sure we need to move the JobQueue operations to run on the constellation or service worker manager for an origin, and callback into script where necessary, and have a bunch of data on the constellation or sw manager that would match various DOM objects, but I'm not

[2020-04-12 06:22] CYBAI commented on #26108
@gterzian Thanks! I will read the spec and code first!

[2020-04-12 16:55] #26169 closed

[2020-04-12 21:08] atouchet commented on #24830
WebRender is now using smallvec 1.0: https://github.com/servo/webrender/pull/3914

[2020-04-13 03:31] dralley commented on #21411
"CSSStyleDeclaration.webidl" looks basically the same between the two.

Gecko) https://github.com/mozilla/gecko-dev/blob/master/dom/webidl/CSSStyleDeclaration.webidl

Servo) https://github.com/servo/servo/blob/master/components/script/dom/webidls/CSSStyleDeclaration.webidl

Although, going by the type of the object returned by Firefox, what it's actually using is this:

https://github.com/mozilla/

[2020-04-13 11:16] daemon1024 commented on #26153
Hi! I wanted to get started with contributing to servo and this issue was listed on [`Servo Starters`](https://starters.servo.org/). I am familiar with rust and I want to work on this issue.

Can you link me with a example where this case is already being handled, it will help me figure out what exactly I need to implement here!

[2020-04-13 15:08] Manishearth commented on #26153
@daemon1024 in all the other cases the array is lazy initialized so fetching it when it's null after detachment just reinitializes it

https://github.com/servo/servo/blob/5e91e48293406cebf6fef4ed03bcae568021c348/components/script/dom/xrrigidtransform.rs#L118

[2020-04-13 15:57] daemon1024 commented on #26153
@Manishearth Thanks for reference. Got it now, will get started to work on it.

[2020-04-13 15:57] daemon1024 commented on #26153
@highfive: assign me

[2020-04-13 15:57] highfive commented on #26153
Hey @daemon1024! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-13 16:04] jdm commented on #21411
Given https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description and the fact that CSSStyleDeclaration doesn't have a toString or toJSON method, my suspicion is that the DOM proxy code doesn't deal with enumerating properties correctly. One thing that makes this more clear:
[code]
In Servo, this prints `{}`, while in Firefox this prints:
[code]

[2020-04-13 16:36] jdm commented on #20922
* https://github.com/servo/servo/blob/master/components/layout/display_list/builder.rs#L811-L813 is the code for adding images to the display list [1]
* https://github.com/servo/servo/blob/master/components/layout/display_list/builder.rs#L1061-L1063 is the code for adding borders to the display list
* https://github.com/servo/servo/blob/master/components/layout/display_list/builder.rs#L1697-L1704

[2020-04-13 17:36] jdm commented on #26162
I have found that returning to the home screen via the MS menu while in immersive mode from https://servo.org/hl-home/bbjs/#clouds.js can cause this state to occur.

[2020-04-13 17:51] jdm opened #26177 "Support select form elements through embedding layer"
When clicking on a `<select>` element, we should send a message to the embedder to display a prompt or dialog which supports choosing an option. This won't support `<select multiple>`, but it will support the common case of choosing a single option from a list.

[2020-04-13 17:59] jdm commented on #21411
Ok, so in Gecko the stringification yields an object with an array index value for each CSS property. My prediction is that [this code](https://github.com/servo/servo/blob/7ae11588dc36e644750008d1224a6d93c9e49d08/components/script/dom/cssstyledeclaration.rs#L337-L340) returns 0 when invoked by [this code](https://github.com/servo/servo/blob/7ae11588dc36e644750008d1224a6d93c9e49d08/components/scrip

[2020-04-13 18:05] jdm commented on #21411
Unfortunately it's going to be a bit more complicated than that; it looks like the indexed getter on CSSStyleDeclaration is broken for any object returned from `getComputedStyle`. There's a different code path for getting a property value from that object which performs a layout query, but we don't have a similar code path for the indexed getter.

[2020-04-13 18:16] daemon1024 commented on #26153
From what I understood I need to initialise `self.proj` using `create_typed_array` with the underlying view's projection matrix as source.

Underlying view can be referenced as `self.view` but no field of proj/projectionmatrix/projections exists in `self.view`.

Also view field in the struct XRView is Heap here, I think it should be of the type `webxr_api::View` for me to be able to reference the

[2020-04-13 18:35] Manishearth commented on #26153
Yes, you need to copy the projection matrix into the XRView as a new field during construction.

You still need the Heap to be able to make the array.

[2020-04-13 18:54] daemon1024 commented on #26153
Logically it should be something like this i guess

            let cx = self.global().get_cx();
            let projsrc = self.view.projection;
            create_typed_array(cx, &projsrc, &self.proj);
        }

But I can't seem to figure how access the projection matrix source ( `projsrc` here ) that i need to copy.

[2020-04-13 18:56] jdm commented on #26162
More specifically, with #26164 applied I can reproduce the issue by:
* loading https://servo.org/hl-home/bbjs/#clouds.js
* looking at my palm and exiting the immersive mode
* reactivating the app and re-entering the immersive mode
* using the windows menu to return to the home screen

When I activate the app after the last step, it is in the mode where interacting with the UI does nothing and the

[2020-04-13 19:08] jdm commented on #26162
Setting various breakpoints, the main thread is clearly continuing to process Servo events - it receives a notification that navigation took place, and the URL should have changed. Hovering over the "Enter VR" button in this state also causes it to animate, event though the icon doesn't appear over it. I'm really not sure what to make of it.

[2020-04-13 19:26] dralley commented on #21411
Do you think that deserves its own issue?

[2020-04-13 19:53] jdm commented on #21411
Yep!

[2020-04-13 19:56] asajeffrey commented on #25533
No, I got this on a `.html` test (https://community-tc.services.mozilla.com/tasks/AceEISiVQ2ek7JCoEIIWEQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FAceEISiVQ2ek7JCoEIIWEQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Ffiltered-wpt-errorsummary.log)
[code]

[2020-04-13 20:00] khodzha commented on #22371
actually oversampling was merged in https://github.com/servo/media/pull/332
idk if this needs any work on servo side though

[2020-04-13 20:02] jdm opened #26178 "Indexed getter for readonly CSSStyleDeclaration is broken"
`window.getComputedStyle(document.documentElement)[0]` returns `align-content` in Firefox, but `undefined` in Servo. `get_property_value` [correctly](https://github.com/servo/servo/blob/master/components/script/dom/cssstyledeclaration.rs#L256-L259) has a different codepath for readonly (ie. computed) style declarations, but [IndexedGetter](https://github.com/servo/servo/blob/7ae11588dc36e644750008

[2020-04-13 20:03] #21411 closed

[2020-04-13 20:05] jdm commented on #22371
I think we can close this issue and file followups for anything we discover is still missing.

[2020-04-13 20:05] #22371 closed

[2020-04-13 20:06] jdm commented on #25533
I suspect that segfaults from the layout thread right now are #26129.

[2020-04-13 20:14] dralley commented on #16703
@jdm this can be closed, it gets through the first test fine, it doesn't crash until somewhere after test 4 (several of them don't render at all so it's hard to know which test is which)

[2020-04-13 20:15] dralley commented on #21411
@jdm Sounds good to me, there's already other issues for tracking motionmark problems.  A few of them are no longer applicable, I'll comment on those.

[2020-04-13 20:30] khodzha commented on #24803
is this still an issue for you? @jdm
i cant reproduce it in master branch :shrug:

[2020-04-13 20:43] jdm commented on #24803
https://github.com/servo/media/pull/323 dealt with the pad linking failure.

[2020-04-13 20:43] #24803 closed

[2020-04-13 20:43] jdm commented on #24803
That being said, we should really address https://github.com/servo/media/issues/325 because that PR was not actually a good solution.

[2020-04-13 20:44] #16703 closed

[2020-04-13 21:29] Manishearth commented on #26153
You have `view` in `new`, you should copy out `view.projection` and store it on a field.

[2020-04-13 21:48] jdm opened #26179 "Can't re-enter immersive mode from home screen after using palm gesture"
STR:
* Run https://threejs.org/examples/webxr_vr_ballshooter.html
* enter immersive mode
* use palm gesture to leave immersive mode
* activate app, enter immersive mode again
* use home button to return to home screen
* activate app

Expected:
* immersive mode is automatically entered

Actual:
* often, immersive mode is not entered and the page shows "Exit VR", so there's no way to re-enter immers

[2020-04-13 21:49] jdm commented on #26179
I have also been able to reproduce this behaviour without involving the palm gesture, and just using the home button for the first time.

[2020-04-13 21:50] jdm commented on #26179
When I use the palm gesture and exit immersive mode in a debug build, I see this output:
[code]
This makes me wonder if we're brekaing something internally.

[2020-04-13 21:52] Manishearth commented on #26179
Yeah I saw those as well, it's probably because we're manually destroying the session and instance. I was told that it is okay to destroy them manually.

Might be worth trying to:

 - comment out the session destroy code in the impl of `Drop` for `OpenXRDevice`
 - comment out the entire `Drop` impl (last i checked this breaks session exiting)

[2020-04-13 22:12] jdm commented on #26179
Commenting out https://github.com/servo/webxr/blob/0d9c83f333920b98d95adf9666b0a365258990a3/webxr/openxr/mod.rs#L98 did not change either the error output, or the weird state.

[2020-04-13 22:13] Manishearth commented on #26179
What about both? if exiting works with both removed we should get rid of the Drop impl anyway

[2020-04-13 22:16] jdm commented on #26179
Actually it looks like commenting it out (or both) puts us in a weird exiting state when the content disappears, then I need to use the home button to actually get back to the home screen.

[2020-04-13 22:20] Manishearth commented on #26179
@jdm yeah that's what i expected. are the console errors still appearing?

Basically, you need to destroy the instance/session to exit. However, the instance doesn't seem to get destroyed manually (it's reference counted in openxrs, a reference is being held somewhere) so you get the weird exiting state. We're now dropping it, but we're dropping it before any of the other subfields of OpenXRDevice

[2020-04-13 22:24] dralley commented on #20922
![Screenshot from 2020-04-13 18-12-34](https://user-images.githubusercontent.com/2751996/79166158-9410c880-7db2-11ea-9b02-e006dfdb62e9.png)

Seems like #1?  The overall size is exactly the same and the width of the border is the same.  The image itself looks like it's being shrunk to the correct dimensions.

Other differences, irrelevant to the current problem but might be worthwhile to think abou

[2020-04-14 01:46] dralley commented on #20922
Found a duplicate issue, it's a lot more obvious with the example they use: https://github.com/servo/servo/issues/22818

[2020-04-14 01:58] hey-i opened #26180 "Linux Nightly Build is missing libgstwebrtc-1.0.so.0"
I downloaded the linux nightly build from https://download.servo.org/ and followed the instructions to run it, but got the following error:

This problem was first mentioned here https://github.com/servo/servo/issues/21778#issuecomment-492837438 where he says that the library is only available in debian sid. Another person brought it up here https://github.com/servo/servo/issues/23684 but they wer

[2020-04-14 11:55] nox commented on #26129
So I made https://github.com/nox/recycling-tree as a way to think about this without the Stylo-specific parts that were overloading my brain buffer. AFAIK I made the GC and node's destructor be able to run whatever is happening on other threads, making the whole thing threadsafe.

@emilio Do you think you have a bit of time to look at it? And maybe I should ping some other people, such as @bholley

[2020-04-14 12:29] emilio commented on #26129
Yeah, I'll try to look at it soonish. It may be worth to hooking it into Gecko and give it a run through try so that we can catch any obvious problems. The refcount logging rule nodes have would also be something we should keep to ensure we don't leak them.

[2020-04-14 12:31] nox commented on #26129
Yeah I don't intend to make use of the crate directly in Stylo this was just for ease of hacking.

[2020-04-14 12:53] dralley commented on #25754
@jdm This should be fixed by https://github.com/servo/servo/pull/26174

[2020-04-14 12:57] dralley commented on #25754
In any event, I can build on Fedora 31 w/ ```python3-devel``` installed (and I don't have ```python2-devel``` installed)

[2020-04-14 12:58] #25754 closed

[2020-04-14 14:06] daemon1024 commented on #26153
I added a new field as u suggested

      ....
      `viewsrc: &'static [f32],`
      }

I tried to store it out from `new()` using

   let ret = reflect_dom_object(
            Box::new(XRView::new_inherited(session, &transform, eye, `&projm` )), global, );

But I am getting an error

   |                                                                      cast requires that `projm` is borrowed

[2020-04-14 14:09] Manishearth commented on #26153
It needs to be a `Vec<f32>`, you can't hold on to borrowed slices there

[2020-04-14 14:10] dralley commented on #15571
https://github.com/servo/servo/issues/15571#issuecomment-280132823 Is still reproducable

[2020-04-14 14:50] jdm commented on #22818
Looks like a duplicate of #20922, which has more information.

[2020-04-14 14:50] #22818 closed

[2020-04-14 14:59] dralley commented on #20922
Layout 2020, meanwhile, looks like this:

![Screenshot from 2020-04-14 10-58-27](https://user-images.githubusercontent.com/2751996/79239828-03cc9500-7e3f-11ea-852d-320d5d6f63bc.png)
![Screenshot from 2020-04-14 10-58-43](https://user-images.githubusercontent.com/2751996/79239835-05965880-7e3f-11ea-9aa8-15b69294675f.png)

[2020-04-14 15:13] jdm commented on #26178
This should be less work than I initially thought, since https://github.com/servo/servo/pull/26120/commits/c10e8399246e5254a080c2dc809d1c180f06cc93 made it easier to access style data for a node. We'll need the following:
* an equivalent for https://searchfox.org/mozilla-central/source/layout/style/GenerateComputedDOMStyleGenerated.py that generates a map of indexes to CSS properties
* use that ge

[2020-04-14 15:43] dralley commented on #18811
Not a problem in layout 2020, still a problem in layout 2013 (the PR was never merged)

![Screenshot from 2020-04-14 11-41-09](https://user-images.githubusercontent.com/2751996/79244625-1cd84480-7e45-11ea-8d28-65de8c5cacd1.png)

[2020-04-14 16:51] jdm commented on #26162
I can still reproduce this in a nightly build.

[2020-04-14 16:59] gterzian commented on #26108
By the way, this sort of confirms how the Job queue should be somewhere at the constellation or service worker manager level(probably the latter) https://github.com/w3c/ServiceWorker/issues/1224

[2020-04-14 17:26] jdm opened #26184 "Ensure preview openxr runtime package gets used"
We should set an environment variable before any XR call is used: `SetEnvironmentVariable("PreviewRuntimeEnabled", "1");`
Additionally we should depend on the preview runtime's package version: `<PackageDependency Name="Microsoft.WindowsMixedReality.Runtime" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" MinVersion="100.2004.3007.0"/>`

[2020-04-14 18:09] daemon1024 commented on #26153
@Manishearth Thank You so much for the help, I have made the required changes and made a PR. Can you please review it?

[2020-04-14 19:09] dralley commented on #23093
Another variant from https://github.com/servo/servo/issues/20029, which appears to be a duplicate issue:

[code]

[2020-04-14 19:10] dralley commented on #20029
@jdm This issue appears to be a duplicate of https://github.com/servo/servo/issues/23093

There's more detail on that one.

[2020-04-14 19:30] #20029 closed

[2020-04-14 22:11] dralley commented on #15621
The ```Window``` struct now defined in ```headless_window.rs``` doesn't possess an event queue at all, should this now be fixed in a different place?

[2020-04-14 22:28] jdm commented on #15621
A call to `resizeTo` now sends a message that is handled in [this code](https://github.com/servo/servo/blob/234c8557ed1fbdd57115c2dab4f2587fd257ee2b/ports/glutin/browser.rs#L302). For the headless window, that method [does nothing](https://github.com/servo/servo/blob/ad1d003e250ca1b3e6b94bb2d336530b90d53cf0/ports/glutin/window_trait.rs#L25). For the headed window, that will end up queueing the [Wi

[2020-04-14 23:08] #26139 closed

[2020-04-14 23:19] jdm opened #26186 "Support writing stdout/logging to a file"
For cases where we want the stdout output from the app but can't use VS to collect it, it would be good to create a file from the UWP layer (so it can be created in a location that is allowed) and write the file contents before shutdown.
[code]

[2020-04-15 03:39] dralley commented on #15621
Alright, so I wrote this, and I verified that the event is being passed all the way back to the servo event loop.  It seems like all of that is OK.

But it still doesn't print "resize event" like we expect it to given the test snippet https://github.com/servo/servo/issues/15621#issue-208581917.  I placed a debug print as well:

[code]

https://github.com/dralley/servo/tree/fix-resize-event

What's

[2020-04-15 05:18] vixalien opened #26187 "Did we forget x86?"
Hello !

I have been amazed with servo, the problem is, I can't install it because I have an (old) 32 bit (x86) computer (and I don't have ways to upgrade now) that can't install anything like rust so I can built servo myself and the files at [the download server](download.servo.org) are all for 64-bit machines.

Can we build servo for 32-bit machines, too ?

Any alternative solution available ?

[2020-04-15 06:00] gterzian commented on #26108
Ok here is a bit of an action plan for this:

1. I'd like to try an initial refactoring that would bring the "job queue" concept in line with the spec. This will require moving it out of the script-thread, and into an IPC based workflow involving the constellation and the service worker manager, with steps running back on script in the context of a global scope, by way of IPC routes. While it's "c

[2020-04-15 12:14] jdm commented on #26187
There are no 32 bit builds available, sorry.

[2020-04-15 12:14] #26187 closed

[2020-04-15 12:21] jdm commented on #15621
I have a theory that the resize event is being ignored in [this code](https://github.com/servo/servo/blob/master/components/script/script_thread.rs#L3673) because the headless window still reports the original size. All of the code like get_coordinates in headless_window.rs uses self.context.width, for example. It might be necessary to recreate the GL context and update the stored size.

[2020-04-15 12:23] jdm commented on #26108
Sounds reasonable!

[2020-04-15 13:28] dralley commented on #15621
I just dropped a println! at the top of that function and didn't see anything printed, so it doesn't look like it is ever executed.

[2020-04-15 14:25] jdm commented on #15621
I recommend tracing where the event gets dropped before sending an event to the script thread, in that case.

[2020-04-15 14:54] humancalico commented on #20908
@jdm What do mean when you say if we are a window global and how would I check that?

[2020-04-15 15:08] jdm commented on #20908
@humancalico [This](https://github.com/servo/servo/blob/master/components/script/dom/globalscope.rs#L910-L915) is an example of some code that casts a GlobalScope into a Window. You can also use `some_global.is::<Window>()` for a simple yes/no if that is all that's necessary.

[2020-04-15 15:09] jdm commented on #20908
More specifically, GlobalScope is a base class of various kinds of globals - Window, WorkerGlobalScope, WorkletGlobalScope, and others. These correspond to the global object of various JS environments - page window objects, dedicated workers, and worklets.

[2020-04-15 17:15] jdm opened #26192 "Intermittent segfault in servo_config/net/profile unit tests"
[code]

[2020-04-15 17:17] jdm commented on #26192
[code]

[2020-04-15 17:18] jdm commented on #20308
[code]

[2020-04-15 17:25] SimonSapin commented on #5286
Closing since this is out of date and I’m not convinced taking the time to keep it up to date is all that valuable. We can revisit after the main blocker (compiler plugins) is solved.

[2020-04-15 17:25] #5286 closed

[2020-04-15 18:37] dralley commented on #15621
Here's where it quits early: https://github.com/dralley/servo/blob/master/components/compositing/compositor.rs#L682-L694

[2020-04-15 18:43] jdm commented on #15621
Looks like get_coordinates is indeed causing the problem like I suspected previously.

[2020-04-15 19:03] #26137 closed

[2020-04-15 19:40] dralley commented on #15621
@jdm I put the println! in the function you linked, rather than the one you mentioned -- sorry

Here's the PR: https://github.com/servo/servo/pull/26194

[2020-04-15 20:49] jdm commented on #26192
[code]

I think this must be a regression from the latest rustc upgrade, since that's the first time we observed a unit test segfault.

[2020-04-15 20:54] #23436 closed

[2020-04-15 22:44] #26153 closed

[2020-04-16 03:39] #26184 closed

[2020-04-16 04:26] ferjm commented on #25950
Is this still a valid issue after https://github.com/servo/servo/pull/25957#issuecomment-600403277 ?

[2020-04-16 10:18] nox commented on #25950
Nope.

[2020-04-16 10:18] #25950 closed

[2020-04-16 18:23] jdm opened #26203 "Intermittent blank reftest on linux"
This is likely a continuation of #24726, but this is the first time I've seen it since I originally fixed it. Observed in  /css/CSS2/borders/border-top-color-044.xht, which was blank, while the reference page rendered correctly.

[2020-04-16 20:23] jdm opened #26204 "Don't shutdown browser when suspending UWP app"
There are more ways to trigger suspension than just closing the app. We should figure out how to store the current session information (like active URL) and make use of that in OnActivated to resume the last page if necessary, but unless there's a way to tell that the user chose to close the app, we probably should not be shutting down.

[2020-04-16 23:11] #26162 closed

[2020-04-17 03:53] dralley commented on #20922
Ignore https://github.com/servo/servo/issues/20922#issuecomment-613127087, I'm wrong, it's definitely drawing a round border and then drawing the rectangular image on top of that.  It's obvious if you toss a panic in before the image gets drawn.

All the dimensions are correct when I measure with GIMP (as far as I know, I have very little web dev experience).  It seems like the image stops paintin

[2020-04-17 08:56] okias opened #26208 "hard dependency on X11, when running on Wayland"
after download of servo-latest.tar.gz (2020-04-17) I got:

```./servo: symbol lookup error: ./servo: undefined symbol: gst_gl_display_x11_new_with_display```

It seems that it won't run on Wayland-only stack, while Firefox has no issues and is 100% functional.

[2020-04-17 12:40] jdm commented on #26208
This is either a limitation of how we build Servo and the gstreamer backend, or an incompatibility between the version of gstreamer that we build with versus the one you have installed.

[2020-04-17 15:03] utsavoza commented on #23522
Hey @gterzian @UxioAndrade, is it ok for me to take up this issue if we are not making progress on this currently?

[2020-04-17 15:19] gterzian commented on #23522
Yes it would be great to finally close this one, there is not much work left I think(see the open PR). Perhaps give @UxioAndrade a couple of days to respond? In any case, there is always more work to do on this project!

[2020-04-17 16:12] jdm commented on #20922
The CSS specification defines an order in which elements are painted in https://www.w3.org/TR/CSS2/zindex.html#painting-order. Given this, I believe that painting borders before the image content is correct. Since changing the border-radius to 0 in the testcase shows the border correctly, this suggests to me that the calculations for border-radius interact poorly with the calculations for where to

[2020-04-17 16:31] utsavoza commented on #23522
Sure.

[2020-04-17 17:59] jdm opened #26210 "requestFullScreen in a cross-origin frame panics"
I observed this in  https://aframe.io/examples/showcase/a-painter/ pressing the button in the bottom right corner of the demo.
[code]

[2020-04-17 18:00] jdm commented on #26210
Actually this may not be about cross-origin frames; the panic comes from GlobalScope::current(), which expects a script settings object on the stack that isn't present.

[2020-04-17 18:18] jdm opened #26211 "Implement RTCDataChannel interface"
Will need to interact with the work in https://github.com/servo/media/issues/203 to support the actual backend.

[2020-04-17 18:18] jdm opened #26212 "Implement RTCDataChannel interface"
Spec: https://w3c.github.io/webrtc-pc/#dom-rtcdatachannel
Will need to interact with the work in https://github.com/servo/media/issues/203 to support the actual backend.

[2020-04-17 18:19] #26211 closed

[2020-04-17 18:40] jdm opened #26213 "Provide embedder feedback if openxr backend isn't set up right"
Ideally we should pop up some kind of message dialog either on startup or when entering VR/AR fails. This requires some kind of coordination between the webxr backend, the DOM XR code, and the embedding API.

[2020-04-17 19:21] akshay1992kalbhor commented on #26047
Where would the enum be defined? Its being used my multiple WebGL objects. Also do we need a new name for the second argument now that its an enum? Something like 'operation_fallibility' instead of 'fallible'?

[2020-04-17 19:25] jdm commented on #26047
Defining the enum in webglrenderingcontext.rs is probably fine; I think all of those files already import things from that module. Renaming it like you suggest sounds fine.

[2020-04-17 20:43] skrzyp1 commented on #26047
Sorry i forgot about that ill get to work unless its already WiP by someone else

[2020-04-17 21:03] #21289 closed

[2020-04-17 21:18] jdm opened #26216 "Some desktop VR headsets don't work with openxr backend and provide no feedback"
Blair reported that he has an older Samsung Odyssey than the Odyssey+ that I have, and the x64 FxR didn't do anything for him when he pressed the button to enter immersive mode on a three.js demo. The app kept working, but the canvas stopped animating and the headset didn't show immersive mode. We should add more logging so it's easier to tell what's going on, and the engine shouldn't pretend it's

[2020-04-17 21:50] jdm commented on #26192
Running `mach test-unit` locally on my mac yields:
[code]

[2020-04-17 21:54] jdm commented on #26192
I can reproduce that result with `./mach test-unit -p net cookie_http_state::test_`, but not any more specific subset of the cookie_http_state tests.

[2020-04-17 21:57] jdm commented on #26192
[code]

[2020-04-17 22:10] jdm commented on #26192
Aha! When I run with cargo test directly without RUST_BACKTRACE=1, it works. When I add RUST_BACKTRACE=1, it segfaults.

[2020-04-17 22:12] jdm commented on #26192
CARGO_TARGET_X86_64_APPLE_DARWIN_RUNNER=lldb yields:
[code]

[2020-04-17 22:18] jdm commented on #26192
When I comment out the non-cookie tests, I get this:
[code]

[2020-04-17 22:32] jdm commented on #26192
The only change to the libbacktrace in use in libstd between the 3/30 rustc nightly and the 4/9 nightly is https://github.com/rust-lang/rust/commit/64a8c8a4932416fd0ec9735db8c1d8ba32542a52#diff-1a7024d46c31d728a04d5e0cafd98df8 (based on https://github.com/rust-lang/rust/commits/3712e11a828af2eea273a3e7300115e65833fbc5/src/libstd/Cargo.toml).

[2020-04-18 01:34] dralley commented on #24658
Cannot reproduce

![Uploading Screenshot from 2020-04-17 21-33-19.png…]()

[2020-04-18 01:55] atouchet commented on #24658
I am not able to reproduce the crash either.

[2020-04-18 05:54] akshay1992kalbhor commented on #26047
I haven't started working on the issue yet. Just wanted to know how to solve it. I know it was assigned to you so if you still want to work on it go ahead! Sorry for the confusion.

[2020-04-18 06:02] CYBAI commented on #25932
Might be same issue 👀 ?

[code]

[Observed here 👈](https://community-tc.services.mozilla.com/tasks/dhwL1V1IT8StWU2IloC4uw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FdhwL1V1IT8StWU2IloC4uw%2Fruns%2F0%2Fartifacts%2Fpublic%2Ffiltered-wpt-errorsummary.log)

[2020-04-18 06:05] CYBAI commented on #24658
Can't reproduce on macOS either.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/6782666/79629597-e6246600-8185-11ea-900c-7eb05c2bc0e2.png">

IIRC, @dralley is on Linux, @atouchet is on Windows and I'm on macOS.
Since it won't crash on the 3 platforms, let me close this issue then!

[2020-04-18 06:05] #24658 closed

[2020-04-18 08:28] mobop opened #26219 "q: which gui library servo uses?"
answer to this question should be included on the wiki

[2020-04-18 12:56] jdm commented on #26219
We use winit to open a window on desktop and receive native input events.

[2020-04-18 12:56] #26219 closed

[2020-04-18 14:09] jdm commented on #25932
That looks like #26129 instead.

[2020-04-18 14:14] CYBAI commented on #25932
@jdm do you recognize it as #26129 by following lines 👀 ?

[code]

[2020-04-18 16:23] jdm commented on #25932
Yes, my only clue is that it's a segfault in the layout thread. I can tell it's a segfault because there is no panic message reported.

[2020-04-18 16:52] jdm commented on #26192
We're still hitting this segfault in the opts tests after #26217:
[code]

[2020-04-18 20:08] atouchet commented on #20726
I tried retesting this with https://w3c.github.io/uievents/tools/key-event-viewer.html and now only get one keydown event.

![Screenshot](https://i.imgur.com/Hb2Dx3j.png)

Is this fixed now?

[2020-04-19 10:41] Eijebong commented on #26013
For info: webdriver -> https://bugzilla.mozilla.org/show_bug.cgi?id=1606281

[2020-04-19 10:44] Eijebong commented on #26013
Also I just published influent 0.5.3 with base64 0.12

[2020-04-19 11:17] Eijebong commented on #26013
Influent will also need an update for tokio. Is it really something useful for servo ? I'm currently kind of maintaining for dep updates but I don't have any real motivation to do so.

[2020-04-19 16:00] anohren opened #26224 "Automatically disable texture swizzling on incompatible graphics drivers"
I'm not sure what's supposed to happen when launching the nightly on macOS. This is what I see:

![Skärmavbild 2020-04-19 kl  17 58 11](https://user-images.githubusercontent.com/3519879/79692788-6078e700-8267-11ea-8fcc-0bdf520aabcf.png)

What should I expect it to look like on macOS?

MacOS 10.14.6
Macbook air 2012, intel hd 4000

[2020-04-19 16:40] jdm commented on #26224
There are supposed to be fonts and images showing up; it loads https://servo.org/ by default. That's a surprising result!

[2020-04-19 17:28] anohren commented on #26224
Thanks. It's not easy to know what to expect the first launch when you're not familiar with how far along a project is.

Sometimes I get black raindrops that I suppose text and images would look like when travelling at lightspeed:

![Skärmavbild 2020-04-19 kl  19 05 39](https://user-images.githubusercontent.com/3519879/79694537-1ac11c00-8271-11ea-8f13-e5fefc0f6328.png)

I downloaded the nightly a

[2020-04-19 17:56] jdm commented on #26224
Oh, I bet you're running into https://bugzilla.mozilla.org/show_bug.cgi?id=1570736#c32. If you launch the nightly with `open ServoNightly.app --args --pref gfx.texture-swizzling.enabled=false` (or whatever the .app file is called), do the fonts appear?

[2020-04-19 18:02] jdm opened #26225 "Intermittent timeout in /_webgl/conformance/uniforms/out-of-bounds-uniform-array-access.html"
[code]

[2020-04-19 18:04] jdm opened #26226 "Intermittent failure in /_webgl/conformance/ogles/GL/ceil/ceil_001_to_006.html"
[code]
I suspect the error message contains pixel values from uninitialized data.

[2020-04-19 19:48] anohren commented on #26224
Yes, that seems to fix it. The page renders with text and images. The intel drivers are defective in this way only on macOS if I understood correctly.

[2020-04-20 12:23] CYBAI commented on #26225
Observed another one similar in [this TC build](https://community-tc.services.mozilla.com/tasks/OW-4DsAfTxSkl6rOb8ArIA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FOW-4DsAfTxSkl6rOb8ArIA%2Fruns%2F0%2Fartifacts%2Fpublic%2Ffiltered-wpt-errorsummary.log)

[code]

[2020-04-20 15:29] jdm commented on #20726
Looks like it!

[2020-04-20 15:29] #20726 closed

[2020-04-20 17:11] jdm opened #26232 "Intermittent failure in /_webgl/conformance/renderbuffers/depth-renderbuffer-initialization.html"
[code]
I suspect this is yet another case of error messages including pixel data from uninitializes graphics memory.

[2020-04-20 17:57] jdm opened #26233 "Intermittent failure in /_webgl/conformance/textures/misc/canvas-teximage-after-multiple-drawimages.html"
[code]

[2020-04-20 18:42] jdm opened #26235 "libsimpleservo docs aren't present on doc.servo.org"
We chould generate the docs with a `--libsimpleservo` build, but that would cut out the docs from ports/glutin. It would be nice if there were a way to merge the two builds somehow.

[2020-04-20 18:54] SimonSapin commented on #26235
What happens if we run both `cargo doc` commands? I expect files that have the same path and name will be overwritten by the second command, but no file will be deleted. (Note that `cargo doc` shares compiler artifacts with `cargo check` but not with `cargo build`.)

It’d be easiest to try locally because CI doesn’t (by default) upload docs anywhere easily browsable unless a PR is merged into `mas

[2020-04-20 19:00] atouchet opened #26236 "Rename glutin port?"
Glutin was removed in #25853 but it is still used for the name of the port. Presumably this should be changed to something more accurate now?

[2020-04-20 19:18] jdm commented on #20650
From personal correspondence:
[code]

[2020-04-20 19:22] jdm commented on #20650
1. You will need to add a new boolean member to the ImageBitmap structure that represents the spec's origin-clean flag (and it it needs to be mutated after the ImageBitmap is created, you will need to wrap it in `Cell` type).
2. For the purposes of this project, I don't believe we get any benefit from running the steps in parallel, so let's ignore that.
3. You want the `resolve_native` method from

[2020-04-20 19:36] JayalakshmiV commented on #20650
Thank you for the shared information.
Also, we are trying to copy the image's bitmap data to imageBitmap object's bitmap_data. Since the image source is canvas, we are not sure how to copy canvas's bitmap_data to imageBitmap's bitmap_data. Can we add a new member "bitmap_data" in canvas?

[2020-04-20 19:53] jdm commented on #20650
You should use the `fetch_image_data` method of CanvasState to obtain the pixel data like [this code](https://github.com/servo/servo/blob/master/components/script/canvas_state.rs#L557-L559).

[2020-04-20 21:02] SimonSapin commented on #25712
OSMesa-src is no longer used since https://github.com/servo/servo/pull/25853.

[2020-04-20 21:02] #25712 closed

[2020-04-20 21:03] SimonSapin commented on #25231
OSMesa-src is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:03] SimonSapin commented on #24675
OSMesa-src is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:04] SimonSapin commented on #24538
OSMesa-src is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:04] SimonSapin commented on #24320
OSMesa-src is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:04] SimonSapin commented on #23132
OSMesa-src and Glutin is are longer used since https://github.com/servo/servo/pull/25853.

[2020-04-20 21:04] #23132 closed

[2020-04-20 21:05] SimonSapin commented on #23131
Glutin is no longer used since https://github.com/servo/servo/pull/25853.

[2020-04-20 21:05] #23131 closed

[2020-04-20 21:06] SimonSapin commented on #21981
OSMesa is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:07] jdm commented on #21981
It is not.

[2020-04-20 21:07] #21981 closed

[2020-04-20 21:08] jdm commented on #24320
No.

[2020-04-20 21:08] #24320 closed

[2020-04-20 21:08] jdm commented on #24538
No.

[2020-04-20 21:08] #24538 closed

[2020-04-20 21:08] jdm commented on #24675
No.

[2020-04-20 21:08] #24675 closed

[2020-04-20 21:09] jdm commented on #25231
No.

[2020-04-20 21:09] #25231 closed

[2020-04-20 21:09] SimonSapin commented on #21055
OSMesa is no longer used since https://github.com/servo/servo/pull/25853, so I’ll assume this is no longer relevant.

[2020-04-20 21:09] #21055 closed

[2020-04-20 21:10] SimonSapin commented on #21021
OSMesa is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:10] SimonSapin commented on #20319
OSMesa is no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:11] SimonSapin commented on #18806
We’ve moved from Buildbot to Taskcluster.

[2020-04-20 21:11] #18806 closed

[2020-04-20 21:11] #20319 closed

[2020-04-20 21:11] #21021 closed

[2020-04-20 21:13] SimonSapin commented on #17243
Docs upload is green these days (see `DocUpload` jobs in https://treeherder.mozilla.org/#/jobs?repo=servo-master).

[2020-04-20 21:13] #17243 closed

[2020-04-20 21:13] SimonSapin commented on #16912
OSMesa and Glutin are no longer used since https://github.com/servo/servo/pull/25853, is this still relevant?

[2020-04-20 21:14] SimonSapin commented on #13770
This appears to be completed.

[2020-04-20 21:14] #13770 closed

[2020-04-20 21:15] SimonSapin commented on #13653
Is this still relevant after https://github.com/servo/servo/pull/25853?

[2020-04-20 21:21] SimonSapin commented on #10385
Software rendering is one thing, but I also notice this:

Servo has many C and C++ dependencies with each their own build system and recursive dependencies. Many of those are dynamically linked, and almost all (on a "mainstream" distro) dynamically link to glibc.

Porting all of this to fully static linking and musl libc would take a very considerable amount of work, for questionable benefits IMO.

[2020-04-20 21:37] SimonSapin commented on #26236
Winit port is probably the appropriate name now.

[2020-04-20 21:37] nox commented on #26129
This was fixed in #26227.

[2020-04-20 21:37] #26129 closed

[2020-04-20 21:42] dralley commented on #24830
Glutin is gone now so I think servo-media is the last one?

[2020-04-20 21:48] jdm commented on #13653
Yes, this is separate from whether we use osmesa for headless mode or not.

[2020-04-20 21:49] jdm commented on #16912
No.

[2020-04-20 21:49] #16912 closed

[2020-04-20 22:45] dralley commented on #9938
These lines of code don't exist anymore, and Ubuntu 15.10 isn't supported anymore either, so it's probably best to go ahead and close this issue.

[2020-04-20 22:50] piranna commented on #10385
That doesn't answer the main question about rendering to framebuffer, please re-open.

[2020-04-20 22:56] #9938 closed

[2020-04-20 23:00] jdm commented on #24787
The changes involved in the 0.2.7 -> 0.3 upgrade look fairly small and don't look like they actually include build time improvements like I thought. I think we'll want to add a mozangle dependency to ports/glutin that enables the build-dll cargo feature, to avoid building more code for UWP builds.

[2020-04-20 23:03] atouchet commented on #19422
#19934 was an unfinished PR to address this.

[2020-04-20 23:36] dralley commented on #6430
I think the only thing still using this is ```libmlservo```

[2020-04-20 23:46] dralley commented on #4208
It doesn't hang anymore

[2020-04-20 23:49] dralley commented on #4276
This looks like it works now

![Screenshot from 2020-04-20 19-49-31](https://user-images.githubusercontent.com/2751996/79810046-16176900-8340-11ea-9aea-ba3be26f5069.png)

[2020-04-21 00:25] #4208 closed

[2020-04-21 02:32] CYBAI opened #26240 "Implement ParentNode#replaceChildren"
Spec: whatwg/dom#851
Tests: web-platform-tests/wpt#22524

[2020-04-21 02:37] gterzian commented on #23522
For posterity, I think the `easy less` label was a bit of an understatement, since the spec is actually a bit complicated.

[2020-04-21 06:15] Darkspirit commented on #26236
Does tinyfiledialogs work on Android? Otherwise I'd suggest "desktop".

[2020-04-21 08:36] SimonSapin commented on #19422
This was done at some point, meaning that the only intermediate dependency between `style` and `script` is now `script_layout_interface`, which only takes ~6 seconds to compile in release mode on our macOS CI (the slowest):

https://community-tc.services.mozilla.com/tasks/BCyqIQNdTNmcrj7kFW58Ww/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FBCyqIQNdTNmcrj7k

[2020-04-21 08:50] #19422 closed

[2020-04-21 13:22] dralley commented on #25767
The demo page 404s

[2020-04-21 13:24] jdm opened #26243 "Intermittent failure in /html/webappapis/dynamic-markup-insertion/document-write/module-static-import-delayed.html"
[code]

[2020-04-21 13:25] jdm commented on #25767
It's now https://manishearth.github.io/webxr-three/examples/webxr_vr_paint.html.

[2020-04-21 13:45] dralley commented on #25284
I don't experience this crash, but it might be dependent on the freshness of the graphics stack.  I'm on Fedora 32 beta.

![Screenshot from 2020-04-21 09-43-58](https://user-images.githubusercontent.com/2751996/79873157-b60eda00-83b4-11ea-872b-bfe36481c6ca.png)

[2020-04-21 13:48] dralley commented on #25284
Actually I think that code was changed, possibly by the surfman PR.  I can't find that particular line of code in the file anymore.

[2020-04-21 13:52] #25284 closed

[2020-04-21 15:33] coryagoodwin commented on #22369
We are no longer working on this project, but our fork for this project is here: https://github.com/shainamainar/media/blob/master/audio/delay_node.rs

There are some errors in compiling that we were unable to resolve, and since this was a semester project we will not be working as a team after today.

[2020-04-21 15:44] coryagoodwin commented on #22369
We are no longer working on this project, but our fork for this project is here: https://github.com/shainamainar/media/blob/master/audio/delay_node.rs

There are some errors in compiling that we were unable to resolve, and since this was a semester project we will not be working as a team after today.

[2020-04-21 16:33] jdm opened #26245 "pip package installation on linux CI is broken"
The taskcluster basic CI on all PRs is giving this error today:
[code]

[2020-04-21 16:34] jdm commented on #26245
cryptography 2.9.1 was released just over an hour ago, so that's pretty suspicious.

[2020-04-21 17:23] Manishearth commented on #26097
This might be something that needs to be fixed upstream in Hubs. However, I'm curious as to how much the Hubs folks are interested in supporting devices that have no gamepads, since you can't do as much.

[2020-04-21 17:29] jdm commented on #26192
I have verified that the segfaults in profile and servo_config are also triggered by #[should_panic] tests.

[2020-04-21 17:33] jdm commented on #26097
They are interested in supporting the HoloLens.

[2020-04-21 17:36] Manishearth commented on #26097
This will probably require UI changes on their side so that hololens' interaction patterns can work.

Once https://github.com/immersive-web/webxr/issues/997 is resolved that will also probably trigger some change.

[2020-04-21 17:40] jdm commented on #26192
In an attempt to make a testcase that is more palatable than "run servo's unit tests", I've successfully reproduced the crash by adding a panic to https://github.com/Kethku/neovide/blob/56cc29d47ccbff7cf823a738b3f7f4a31e8af26d/src/window.rs#L150.

[2020-04-21 18:27] dralley commented on #26245
https://github.com/pyca/cryptography/issues/5212#issuecomment-617272707

[2020-04-21 18:46] jdm commented on #26192
Filed https://github.com/rust-lang/rust/issues/71397.

[2020-04-21 20:55] Manishearth opened #26251 "Handle cancelAnimationFrame() when called within a requestAnimationFrame() callback"
Spec change: https://github.com/immersive-web/webxr/pull/1005#event-3257813558

Relevant code: https://github.com/servo/servo/blob/b60c70bab6e787fff594296a0996e8aeb2d8ba7e/components/script/dom/xrsession.rs#L398-L414

Currently we take `self.raf_callback_list` out and put it on the stack, and then iterate through it.

Instead, we should have a second `current_raf_callback_list` list on the object,

[2020-04-21 20:55] highfive commented on #26251
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [Matrix](https://wiki.mozilla.org/Matrix).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2020-04-21 21:12] atouchet commented on #26118
Looking at #26246 etc. is this being done?

[2020-04-21 21:13] jdm commented on #26118
Yep, I figure we can give it a try and see how well it works for our purposes.

[2020-04-21 21:13] #26118 closed

[2020-04-21 21:21] asajeffrey opened #26252 "Reveal.js keyboard navigation is broken"
Point servo at https://revealjs.com (or any other site using reveal) and keyboard navigation doesn't work. The culprit is https://github.com/hakimel/reveal.js/blob/00b0ace3863952ce95df4430d203686fd27bfc20/js/reveal.js#L5233 which checks for editable elements using `document.activeElement.contentEditable !== 'inherit'` rather than `document.activeElement.iscontentEditable`. With that change, reveal

[2020-04-21 22:17] jdm opened #26254 "Intermittent failure in /_webgl/conformance/textures/misc/texture-complete.html"
[code]

[2020-04-22 00:37] JayalakshmiV commented on #20650
Hi Josh, we committed our progress and we had a few doubts regarding our work.

We were confused about the following.
1. To copy the image's bitmap data, we were supposed to use the fetch_image_data method from canvas_state.rs.
However, that method is private. We are not sure how we are supposed to use this method. Are we allowed to make changes to the canvas_state.rs file in this case?
2. We have

[2020-04-22 01:49] jdm commented on #20650
1. Make any changes to CanvasState that you need!
2. Doing it inside the existing match sounds fine.
3. The WebIDL contents come directly from the specification, so there is no need to modify it. It represents the interface that is accessible to web content via JavaScript, and the origin-clean flag is not part of that.

[2020-04-22 09:41] Darkspirit commented on #15989
This can be closed. Fixed by #26118.
https://dependabot.com/rust/

[2020-04-22 11:07] nox opened #26261 "Roadmap for a first zest of incrementality in layout 2020"
We already have a damage system which tracks whether a node have dirty descendants or not, `HAS_DIRTY_DESCENDANTS`. In DOM, this is set on all ancestors of all nodes with a pending restyle or whose children were mutated. In layout 2013, this flag is unset in the postorder traversal step through `construct_flows_at`. In layout 2020, we don't use style's traversal machinery at all to do the layout i

[2020-04-22 11:37] nox commented on #26261
@emilio says that step 2 should be done with a different layout-specific damage system.

[2020-04-22 11:48] nox commented on #26261
An interesting discussion about all that stuff.

https://matrix.to/#/!crXxRMedJXFPxKffWI:mozilla.org/$TMH7akLhjHuJiEcfHkvrK2Wsis0tOnTlGBklqVbV1ok?via=mozilla.org&via=matrix.org&via=igalia.com

[2020-04-22 11:59] Darkspirit opened #26262 "Consider making the duplicate package check optional"
From my current understanding, I think the duplicate package check of servo tidy (#7133, #14695, #19306) is _today_ rather a dark pattern that could prevent fixing regular and security bugs (https://github.com/servo/servo/issues/15989#issuecomment-617670889). Dependabot removes duplicates by upgrading all dependencies step by step. I think this check should be changed into an optional command that

[2020-04-22 12:06] Boscop opened #26263 "Selectors 4?"
Would it be possible to add support for selectors level 4 in the `selectors` crate?
E.g.
`tr:nth-last-child(1 of :not(.table_vert_controls))`
https://www.w3.org/TR/selectors-4/#the-nth-last-child-pseudo

https://css-tricks.com/css-nth-of-class-selector/

[2020-04-22 12:09] CYBAI opened #26264 "Do not fire error events for scripts that move between documents during preparation and execution phase"
Spec: whatwg/html#2673
Tests: web-platform-tests/wpt#19632

[2020-04-22 12:25] jdm commented on #15989
cool!

[2020-04-22 12:25] #15989 closed

[2020-04-22 13:22] Darkspirit commented on #26262
If the original intention has changed, it would be good to track what is needed to remove a duplicate  instead of tracking what caused it.
My fear that caused me to file this issue is that the duplicate package check could cause daily annoyance and delay on dependabot's mission to upgrade everything at least once. If that's okay, it is fine to close this.
https://github.com/servo/servo/blob/e69adf

[2020-04-22 13:25] #20529 closed

[2020-04-22 13:26] jdm opened #26266 "Intermittent failure in /resource-timing/test_resource_timing.https.html, /resource-timing/test_resource_timing.html"
[code]

[2020-04-22 13:26] #26266 closed

[2020-04-22 14:14] jdm opened #26269 "Intermittent failure in /_mozilla/mozilla/scroll_top_null_target.html"
[code]

[2020-04-22 14:42] SimonSapin commented on #26263
There are a lot of new features in Selectors Level 4, so I’ll assume this is about adding support for the `of <selector>` in `:nth-child` and `:nth-last-child`.

See also the Firefox bug for this feature: https://bugzilla.mozilla.org/show_bug.cgi?id=854148

For anyone interested in contributing to this, at least these parts of the code would need to be extended:

* Data structures:
  https://githu

[2020-04-22 15:14] jdm opened #26270 "Implement missing referrer policy for HTTP-redirect fetch"
Spec: step 14 of https://fetch.spec.whatwg.org/#http-redirect-fetch
Code: components/net/http_loader.rs, http_redirect_fetch function
Tests: tests/wpt/web-platform-tests/fetch/api

[2020-04-22 15:23] jdm commented on #26034
No longer a GL error, but lots of issues with shaders:
[code]

[2020-04-22 15:24] jdm commented on #26034
Different error in the GL thread now with #26023 applied:
[code]

[2020-04-22 15:40] jdm opened #26271 "webaudio panic playing Master Archer"
[code]

[2020-04-22 15:41] jdm opened #26272 "JS error playing Swoop demo"
[code]

[2020-04-22 15:42] jdm commented on #26271
Also seen on https://playcanv.as/p/Ikq6Uk6A/.

[2020-04-22 15:43] jdm opened #26273 "wav audio files can't be played"
From https://playcanv.as/p/Ikq6Uk6A/:
[code]

[2020-04-22 15:54] jdm opened #26274 "luma.gl examples have JS error"
[code]
[code]

[2020-04-22 17:44] Darkspirit commented on #26262
To reduce confusion, please be aware that I suggested to have a manual check that could be run once a month to file upstream bugs. Current bureaucracy mainly serves instant visibility instead of upgrades. Dependencies are liabilities and if they are not sufficently maintained, they should be forked or removed. The worst stories of NPM craziness should not repeated with Cargo.

I ran `cargo update

[2020-04-22 19:06] jdm commented on #26144
Implemented in #26191.

[2020-04-22 19:06] #26144 closed

[2020-04-22 19:17] jdm commented on #26274
This occurs because `SVGElement` doesn't have a `style` property. If I run with `--pref dom.svg.enabled --userscripts=resources/user-agent-js` and add a script with `SVGElement.prototype.style = {}` then the demo displays.

[2020-04-22 19:18] asajeffrey commented on #26252
Fixed upstream by https://github.com/hakimel/reveal.js/issues/2650 and a workaround is #26253.

[2020-04-22 19:18] #26252 closed

[2020-04-22 19:46] kotauskas opened #26275 "Move to Crates.io"
Since a crate on Crates.io has to only have Crates.io dependencies (or path/SCM dependencies with a Crates.io fallback), using Servo in a crate prevents you from publishing said crate to the registry. What prevents us from releasing the crate there?

[2020-04-22 19:51] #15079 closed

[2020-04-22 20:04] SimonSapin commented on #26275
Servo has 43 git dependencies (per `Cargo.lock`, including some not maintained by us), and is itself made of 77 crates (`Cargo.toml` files outside of tests). Publishing all of these to crates.io and then maintaining them and coordinating releases would be significant additional work.

[2020-04-22 20:16] atouchet commented on #15600
Is this tool completed or in use at all? Does Dependabot accomplish what this issue is asking for?

[2020-04-22 20:17] jdm commented on #15600
Yes, Dependabot is a more effective solution.

[2020-04-22 20:17] #15600 closed

[2020-04-22 20:25] tigleym commented on #26251
I'd like to give this a try. @highfive assign me

[2020-04-22 20:26] highfive commented on #26251
Hey @tigleym! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-22 20:50] kotauskas commented on #26275
I see. At this point, if I'm understanding this correctly, it's easier to get Crates.io to accept Git dependencies rather than get them all in the registry. Maybe even propose a manifest flag saying that the Git dependencies are intentional and "mean no harm" or something. I still don't fully understand the logic behind their decision to deny all Git-dependent crates.

If I remember right though,

[2020-04-22 21:50] SimonSapin commented on #26275
crates.io refuses crates that have dependencies that are not on crates.io, because those external dependencies could go disappear at any point. This is unlikely to be relaxed, and I wouldn’t be in favor of that. If I remember correctly this is enforced on the server-side, whereas `cargo publish --no-verify` can only skip client-side checks.

All in all, we have no short-term plan to have Servo on

[2020-04-22 22:30] SimonSapin commented on #26275
Correction: https://github.com/servo/servo/tree/master/ports/libsimpleservo includes a supported Rust API.

[2020-04-22 23:39] emilio commented on #26263
FWIW, `:is()` and `:where()` have patches in progress in https://bugzilla.mozilla.org/show_bug.cgi?id=1509418

[2020-04-23 02:54] asajeffrey commented on #26261
One thing we should think about is using a library for dirty bit management rather than making every dirty bit an ad hoc case. Self-adjusting computation (which is the name used for dirty bit managing APIs 🤷‍♂️) has been around for a while. We could either use adapton or write our own.

[2020-04-23 03:14] tommyZZM commented on #18154
any update on this issue?
I too would love to see it on iOS too

[2020-04-23 06:14] ramyananth commented on #20650
Hi Josh, we pushed some more changes to the codes and have a couple of build issues that we are facing,
1. How do we use enum into fetching all the canvas data elements. We used [this link](https://github.com/servo/servo/blob/master/components/script/canvas_state.rs#L557-L559) to make store the image_data and image_size but, fetch_image_data didn't seem to exist for canvas element. So, we switched

[2020-04-23 06:42] atouchet commented on #11390
Is this still relevant now that Glutin has been removed?

[2020-04-23 07:06] kotauskas commented on #26275
Not just `libsimpleservo`. According to [this tutorial](https://github.com/paulrouget/servo-embedding-example " "), you can embed Servo into a GL program out of the box.

[2020-04-23 08:55] nox commented on #26262
I'm -100 on removing that check.

You say those duplicates are temporary, but most often they aren't.

[2020-04-23 08:56] nox commented on #26262
Also don't go around calling things "dark patterns", that's a bit out of place, IMO.

[2020-04-23 09:07] nox commented on #26261
@asajeffrey I disagree quite a bit on this. That's basically "let's rewrite everything again". Literally every framework or tool I've looked at to do "self-adjusting computations" were extremely invasive and too general-purpose for our needs.

[2020-04-23 12:29] jdm commented on #11390
yes; the events come from winit instead of glutin.

[2020-04-23 12:33] jdm commented on #18154
Nobody is working in this.

[2020-04-23 14:19] asajeffrey commented on #26261
Well, it's a trade off between an API which is, like you said, quite invasive, and having to do ad hoc reasoning for every dirty bit. Essentially this is cache invalidation, so it's unsurprisingly tricky.

[2020-04-23 14:24] nox commented on #26261
I'm wary of adapton and its heavy API full of macros, and how we can integrate that in layout 2020 in any reasonable amount of time.

[2020-04-23 14:33] gterzian opened #26287 "Investigate failure of URL parsing tests"
Follow up from https://github.com/servo/servo/pull/26231

The PR marks some tests as FAIL, see https://github.com/servo/servo/pull/26231/files#diff-6c940171cdc241cde1caf796556840caR132

Actually that file contained a bunch of existing test failures already, related to things other than the use of `location`, and those could be investigated as well.

For discussion, see https://github.com/servo/ser

[2020-04-23 14:35] asajeffrey commented on #26261
Adapton is probably more than we need, but we could shoot for a simpler API, with something like `RW<T>` for get/send and `RO<T>` for just `get`, with dirty bit propagation so that the `RO<T>` gets its value updated if any of its dependencies were.

The problem with these APIs is that they're quite visible, in that the imperative code:
[code]
turns into:
[code]
which like you said is a big rewrite

[2020-04-23 14:50] he4d commented on #26047
@highfive: assign me
I will try this

[2020-04-23 14:50] highfive commented on #26047
Hey @he4d! Thanks for your interest in working on this issue. It's now assigned to you!

[2020-04-23 16:43] he4d commented on #26047
Do I need to write some tests for this?

[2020-04-23 16:47] jdm commented on #26047
No - if it builds, that's good enough for a PR.

[2020-04-23 17:12] jdm commented on #22140
I haven't seen this on Taskcluster since we upgraded to more recent Windows server 2019 base images.

[2020-04-23 19:48] jdm commented on #26264
I have disabled the directory of tests in #26286. Any attempt to fix this should remove the [moving-between-documents] entry from tests/wpt/include.ini to be sure the tests end up running as part of CI.

[2020-04-23 20:22] jdm commented on #20650
@ramyananth If you look closely at the code, you will see that [fetch_all_data](https://github.com/servo/servo/blob/master/components/script/dom/htmlcanvaselement.rs#L272) returns an Option type, like the error message suggests. The reason that the code in fetch_all_data works is that it uses the ? operator to immediately return a None value when the return value is None, otherwise it extracts the

[2020-04-23 21:09] nosark commented on #25241
Hey guys, I've started implementing this, but I am receiving a linking error similar to issue #20736
https://github.com/servo/servo/issues/20736. If I can't get around this, should I setup my windows machine and test and submit from that machine instead of my macbook?

[2020-04-23 21:17] jdm commented on #25241
Yes, it's important to be able to build when submitting code changes. Sorry we don't have any good suggestions for the linking error.

[2020-04-23 21:21] nosark commented on #25241
@jdm Awesome, thanks for the quick response, I'll get right on it!

[2020-04-24 01:01] CYBAI opened #26295 "Intermittent failure in /webdriver/tests/get_active_element/get.py"
[code]

[2020-04-24 03:05] #24481 closed

[2020-04-24 03:19] Yonet commented on #24698
@paulrouget sorry for the late reply. Click works great at the moment. Thanks!

[2020-04-24 03:22] gterzian commented on #26287
The spec is mainly at https://html.spec.whatwg.org/multipage/#parse-a-url

Which is used in various places related to the `/url/failure.html` test, for example via https://html.spec.whatwg.org/multipage/#the-location-interface:parse-a-url or https://html.spec.whatwg.org/multipage/#apis-for-creating-and-navigating-browsing-contexts-by-name:parse-a-url

[2020-04-24 03:24] gterzian commented on #26287
Also, the test is called `failure.html`, so we're not investigating why it fails, we're investigating why it fails to fail!

[2020-04-24 03:45] Yonet opened #26297 "[hololens] Objects appears inside walls and ceiling"
Placement of the objects in examples seemed to be off: https://servo.org/hl-home//.
Objects appear inside walls and sizes look too big, some half my size. See the video for example.
Click events work great!
https://youtu.be/FVqw_qUG4Gc

[2020-04-24 04:47] gterzian commented on #26287
Code would be in various places, such as:

- https://github.com/servo/servo/blob/master/components/script/dom/location.rs

- https://github.com/servo/servo/blob/412bc1cddd8027596950164f3b396198bdcba25e/components/script/dom/windowproxy.rs#L455 (that one actually has a relevant TODO)

- other places where the equivalent of `url.join` is called.

[2020-04-24 06:25] #26047 closed

[2020-04-24 06:49] gterzian opened #26298 "Intermittent TIMEOUT at /html/semantics/embedded-content/the-img-element/decode/image-decode-image-document.html"

[2020-04-24 06:52] gterzian opened #26299 "Intermittent OK in /html/browsers/origin/cross-origin-objects/cross-origin-objects-on-new-window.html, /html/browsers/origin/cross-origin-objects/cross-origin-objects.html"

[2020-04-24 06:59] CYBAI commented on #26298
[code]

[2020-04-24 06:59] CYBAI commented on #26299
[code]

[2020-04-24 09:49] #23522 closed

[2020-04-24 12:46] jdm commented on #26297
That's expected behavior, unfortunately. There are no web APIs for exposing real-world geometry to web content, so all rendering and posituining decisions are effectively arbitrary.

[2020-04-24 12:46] #26297 closed

[2020-04-24 14:59] #24984 closed

[2020-04-24 15:41] jdm opened #26309 "UWP desktop app 2d canvas is flickery"
Using https://threejs.org/examples/webxr_vr_ballshooter.html, there's a bunch of clear flickering that's quite ugly. I suspect this might be related to the glFlush/glFinish interaction with ANGLE that we keep hedging on.

[2020-04-24 15:42] jdm opened #26310 "UWP desktop app resizing sometimes behaves poorly"
Sometimes the page resizes snappily, and sometimes it takes multiple seconds for the app to recognize that a resize occurred, and it gets the busy cursor while it waits. It's quite peculiar.

[2020-04-24 15:52] jdm commented on #26216
From an instrumented build running with an older Odyssey:
[code]

[2020-04-24 15:54] jdm opened #26311 "UWP logging includes null bytes"
For the output of the log handler when printed to a file in [this code](https://github.com/servo/servo/blob/master/support/hololens/ServoApp/ServoControl/Servo.cpp#L97-L99) we include the null byte. This yields files you can look at with your eyes, but copying bytes that includes nulls usually yields surprising results.

[2020-04-24 16:42] jdm commented on #26213
This is a bad enough experience that we should definitely fix it before publicizing our desktop UWP builds to a wider audience. It's really easy to forget to tell people to set up OpenXR first, and the experience of having a runtime that isn't enabled appears to be that xrCreateInstance returns XR_ERROR_INSTANCE_LOST.

[2020-04-24 18:42] jdm opened #26313 "Intermittent crash in layout 2020 reftests"
[code]

No other information, sadly.

[2020-04-24 18:42] jdm commented on #26313
[code]
First seen in https://github.com/servo/servo/pull/26304.

[2020-04-24 18:52] jdm opened #26314 "Provide feedback when requesting an XR session fails during device setup"
https://github.com/servo/servo/pull/26312 makes us check whether OpenXR initializes correctly at startup and displays a dialog if it doesn't. It would arguably be a nicer experience if you could browse normally and only saw the dialog when you tried to enter immersive mode.

This would require:
* exposing a particular new error result from webxr-api which can be recognized in xrsystem.rs
* recogni

[2020-04-24 19:54] jdm commented on #26089
There's already code for this in BrowsingContextActor::handle_message. I wonder why it doesn't seem to trigger?

[2020-04-24 22:21] jdm opened #26315 "Intermittent timeout in /_webgl/conformance2/sync/sync-webgl-specific.html"
[code]

[2020-04-25 01:25] #26213 closed

[2020-04-25 13:56] CYBAI commented on #25442
Just did some investigation today.

And yes, I think we can move away from the Promise.all way.

We should be able to run [fetch the descendants of and link a module script](https://html.spec.whatwg.org/multipage/#fetch-the-descendants-of-and-link-a-module-script) out of `task!`.

With moving that logic out of `task!`, we will need to do some checking (e.g. if descendants of the module are all fin

[2020-04-25 16:12] jdm commented on #26089
This works as expected.

[2020-04-25 16:12] #26089 closed

[2020-04-25 19:51] tigleym commented on #26251
@Manishearth I'll need some help finding a good way to execute each callback for `current_raf_callback_list` while borrowing the value wrapped with it. Right now the `CancelAnimationFrame` callback will panic because we also try to mutably borrow `current_raf_callback_list` there.

So far, this is what I'm trying to do:

Move the vector from  `self.raf_callback_list` to `self.current_raf_callback_

[2020-04-26 06:49] CYBAI commented on #20821
[code]

[2020-04-26 21:26] jdm opened #26323 "Network events aren't reported in devtools for worker global scope"
The code that handles a network event in the devtools doesn't track worker ids anywhere, so they might get incorrectly attributed to the window global scope instead.

[2020-04-26 21:29] jdm opened #26324 "Evaluating JS in worker scope from devtools panics"
[code]

[2020-04-26 21:30] jdm commented on #26324
The devtools messages don't have the AutoWorkerReset that messages from the script thread do, which is the cause of this panic.

[2020-04-26 21:32] jdm commented on #26324
This happens when I evaluate `console.log("hi")` in the console, but not `"hi"`.

[2020-04-27 09:03] mrobinson opened #26328 "Improvements to the CSS Transitions and Animations implementation"
* [x] Fix animations and transitions processing model. Also see  #13865.
  * [x] Restyle should apply animations and transitions (#26331)
  * [x] Animation tick should trigger a restyle and properly cascade animated and transitioned values (ie `getComputedStyle()` should return the result of applying animations and transitions) (#26407)
  * [x] Implement proper cascading among !important rules, an

[2020-04-27 09:04] mrobinson commented on #26328
cc @jdm @emilo @SimonSapin

[2020-04-27 10:11] mrobinson commented on #14419
Transitions and snimations are currently not sent over a channel, but they are still represented by an enum. It may make sense to fully separate these into two different structs as the number of situations where animations and transitions need to be handled differently (such as applying them in the proper order or one having precedence over the other) is only going to increase.

[2020-04-27 12:36] nox commented on #26261
So we shouldn't shoot for that, that's what I'm saying. Also, there is no such thing as a mere `dirty_y = false` statement anywhere.

<hr>

As for progress: I have added a concept of "dirty root" to the Document struct, but now I need to properly update that on node removal.

[2020-04-27 14:01] CYBAI commented on #20821
[code]

[2020-04-27 15:56] jdm commented on #20821
Since this can affect any test and the backtraces always look the same, I don't think we get a lot of value from sharing new instances of this failure.

[2020-04-27 15:57] nox commented on #26261
So I made [this](https://github.com/servo/servo/compare/layout-2020-style-prep) which implements the same dirty root concept as the one in Gecko. There are a lot of things to double check (what happens on deletion, making sure that the dirty root is not pointing to a removed node, etc etc), but the intent is to be able to restyle from that root, then maybe go a few layers up again in the tree to r

[2020-04-27 16:09] CYBAI commented on #20821
Indeed. I will refer this issue directly then! Thanks for the notice!

[2020-04-27 16:15] gterzian commented on #26108
This is a good write-up on the ServiceWorker architecture in Chromium: https://chromium.googlesource.com/chromium/src/+/lkgr/content/browser/service_worker/README.md#renderer-process

Where you see written the "Browser process", you can substitute with the "Constellation and the ServiceWorkerManager", while the "Renderer process" is what happens in `script`(with the exception of `serviceworker_man

[2020-04-27 17:30] #26313 closed

[2020-04-27 18:08] jdm opened #26334 "Implement webrender automated tests for servo's API needs"
There were changes made upstream recently that break APIs that Servo relies upon:
*  https://phabricator.services.mozilla.com/D72397
* https://phabricator.services.mozilla.com/D71604

We should add rawtests to the webrender repo that exercise the pieces of the API that we rely upon to avoid being surprised by this in the future.

[2020-04-27 23:41] Manishearth commented on #26251
No, because then `CancelAnimationFrame` can't clear it.

What needs to be done instead is that the loop `for (_, callback) in self.current_raf_callback_list.borrow().iter() {` should borrow on each frame, using `for i in 0..len` and doing `self.current_raf_callback_list.borrow()[i]` in each iteration. We guarantee that the array does not change size during this loop, so this should work.

[2020-04-28 14:46] jdm opened #26340 "Entering immersive mode on macOS panics"
[code]
cc @asajeffrey

I'm pretty sure this is a regression from the surfman upgrade.

[2020-04-28 14:48] jdm opened #26341 "Implement EXT_frag_depth extension"
https://www.khronos.org/registry/webgl/extensions/EXT_frag_depth/

There are no new constants or APIs. All it requires is checking if the underlying extension is supported, which we should be able to copy from Gecko: https://searchfox.org/mozilla-central/source/dom/canvas/WebGLExtensionFragDepth.cpp#19-29

[2020-04-28 14:49] jdm commented on #26341
This is used by https://threejs.org/examples/webxr_vr_lorenzattractor.html.

[2020-04-28 14:51] jdm commented on #26341
We will also need to enable the EXT_frag_depth field of https://github.com/servo/servo/blob/master/components/script/dom/webglshader.rs#L224 as well.

[2020-04-28 15:29] jdm opened #26342 "Send workerListChanged event when workers are closed or created"
https://searchfox.org/mozilla-central/rev/158bac3df3a1890da55bdb6ffdaf9a7ffc0bfb0a/devtools/shared/specs/targets/browsing-context.js#133-135

[2020-04-28 16:21] jdm opened #26344 "Console APIs provide fake file/line information to devtools"
To get the real information, we'll need to use the JS::DescribeScriptedCaller API from Spidermonkey. That depends on https://github.com/servo/rust-mozjs/issues/507.

[2020-04-28 20:07] jdm opened #26345 "Test desktop immersive mode in CI"
If we disable the code that checks for user input, it should be possible to do a smoketest that entering and exiting immersive mode on desktop is possible using the glwindow backend. This would hopefully avoid regressions like #26340.

[2020-04-28 21:07] #15425 closed

[2020-04-28 21:31] jdm opened #26347 "Intermittent error in /webxr/hit-test/ar_hittest_subscription_inputSources.https.html"
[code]

cc @Manishearth

[2020-04-28 22:36] camelid opened #26348 "GitHub renders weirdly"
## Steps to reproduce
1. Run `./mach run https://github.com`

<img width="1016" alt="servo github com render issue" src="https://user-images.githubusercontent.com/37223377/80544482-02828880-8966-11ea-9210-0e9daafd3c42.png">

[2020-04-28 22:54] atouchet commented on #26348
I do not see the same issues on Windows 10:

![Screenshot](https://i.imgur.com/Sx1iC4R.png)

[2020-04-28 23:47] Manishearth commented on #26347
This is probably happening because of a race between `simulateInputSource()` and the rAF. That function is supposed to run by the next animation frame, but at that point we have been silently ticking the frame loop so sometimes a queued up raf ends up running instead.

It's a bit annoying to fix, though. We could potentially have it process frames a little bit differently in the mock implementatio

[2020-04-29 02:58] camelid commented on #26348
I’m guessing that the weird menu bar is a CSS issue and the weird text in the form is a rendering issue but I’m not sure.

[2020-04-29 03:02] jdm commented on #15051
A new attempt at a patch:
[code]
This caused:
[code]

[2020-04-29 03:02] jdm commented on #25681
#15051 looks related.

[2020-04-29 03:46] rib commented on #25845
Just to mention that I've hit this same build issue, although this is after I resolved an earlier build issue by ensuring I had VS2017 installed so I don't expect uninstalling VS2017 is going to fix my build. Uninstalling VS2019 would also be really awkward.

[2020-04-29 04:17] jdm commented on #25845
Our CI builds without any trace of 2017. only 2029 is a supported configuration at this point.

[2020-04-29 04:31] #26344 closed

[2020-04-29 07:26] emilio opened #26349 "Remove @viewport."
There's a fairly complex setup to support `@viewport` rules but they were removed from the spec, see https://github.com/w3c/csswg-drafts/issues/4766.

So we should remove all that code, except for the fact that Servo uses a dummy `@viewport` rule for `<meta name="viewport">`, so that should be rewritten first.

[2020-04-29 07:39] complexengine opened #26350 "./mach bootstrap does not support Ubuntu 20.04"
./mach bootstrap does not support Ubuntu 20.04
Output:

`Exception: unsupported version of Ubuntu: 20.04`

[2020-04-29 08:33] Darkspirit commented on #26350
I couldn't compile the script crate because [lex.py](https://github.com/dabeaz/ply) (used by [WebIDL.py](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/parser/WebIDL.py)) doesn't seem to work with python3.8:
[code]

[2020-04-29 15:12] tigleym commented on #26251
@Manishearth thanks for the info! Unfortunately, I don't have a lot of time to work on this right now. So feel free to unassign me if you or someone else would like to finish it off. Thanks!

[2020-04-29 15:31] rib commented on #25845
ok, I'll try again after removing VS2017. The issue might have come from something being out-of-date from the last time I experimented with Servo earlier in the year.

[2020-04-29 16:35] r1walz commented on #26350
@complexengine Editing [this](https://github.com/servo/servo/blob/master/python/servo/bootstrap.py#L355) line will help you at least compile servo on Ubuntu 20.4.

[2020-04-29 16:45] r1walz opened #26353 "Black Screen: Servo fails to render anything on Xorg drivers"
I compiled servo on my machine running Ubuntu 20.4, everything seemingly went well. But servo doesn't show anything except for a black screen. I'm able to interact with the components of the page but everything is black ref. image:

![servo](https://user-images.githubusercontent.com/31043830/80622725-d438a200-8a66-11ea-813d-093eac32d546.png)

<details>
<summary>
The output of some important comman

[2020-04-29 18:59] rib commented on #25845
@jdm can you maybe point me at how the CI handles Windows builds since I'm currently stuck with build problems here. I've completely scrubbed my repo (`git clean -xdf`) and uninstalled VS2017 + VS2017 build tools from my system and now with `./mach build --dev` I'm getting a build failure at:

[code]

I can see that there used to be an appveyor.yml that built with VS2017 removed in November last y

[2020-04-29 19:01] jdm commented on #25845
When I've seen the ATL/MFC error, I was missing the appropriate components from the VS installer. [This](https://github.com/servo/taskcluster-config/blob/master/config/windows-first-boot.ps1#L77-L89) is the list of components and workloads that we install in VS on CI, which corresponds with the list at https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools?view=

[2020-04-29 19:14] asajeffrey opened #26355 "Allocate short-lived JS objects in the nursery"
For objects that we believe will be short-lived, we should allocate them in the nursery rather than tenured.

[2020-04-29 19:18] asajeffrey commented on #26355
Spidermonkey has a `JSCLASS_SKIP_NURSERY_FINALIZE` flag for this, which is controlled by the `[ ProbablyShortLivingWrapper]` webidl attribute in gecko. https://searchfox.org/mozilla-central/rev/7fd1c1c34923ece7ad8c822bee062dd0491d64dc/dom/bindings/Codegen.py#574

[2020-04-29 19:19] asajeffrey commented on #26355
This is particularly relevant to webxr, which generates objects every rAF. (c.f. https://github.com/servo/servo/pull/26195 and https://github.com/immersive-web/webxr/issues/1010).

[2020-04-29 19:21] jdm commented on #26355
There's a bunch of information in #10418; not sure how we want to de-duplicate this.

[2020-04-29 19:22] jdm commented on #26355
Events are another good set of interfaces to consider for the extended attribute.

[2020-04-29 19:35] asajeffrey commented on #26355
Ah, let's do the conversation in #10418.

[2020-04-29 19:35] #26355 closed

[2020-04-29 19:36] asajeffrey commented on #10418
This is even more important now, since webxr generates a bunch of objects every frame (c.f. #26195 and immersive-web/webxr#1010).

[2020-04-29 19:37] asajeffrey commented on #10418
Spidermonkey has a `JSCLASS_SKIP_NURSERY_FINALIZE` flag for this, which is controlled by the `[ ProbablyShortLivingWrapper] ` webidl attribute in gecko. https://searchfox.org/mozilla-central/rev/7fd1c1c34923ece7ad8c822bee062dd0491d64dc/dom/bindings/Codegen.py#574

[2020-04-29 19:39] rib commented on #25845
Ah it looks like I only had MFC/ATL headers installed for Visual Studio itself not for the build tools. Now that I've installed these headers for the build tools I've got past the above build failure. Still could be helpful to know where the CI for Windows is configured to have an authorative reference to compare with the README instructions.

[2020-04-29 19:43] rib commented on #25845
oops I hadn't refreshed this issue to see your latest comment but thanks for the pointer!

[2020-04-29 20:12] rib commented on #25845
Incidentally then, it looks like CI does use VS2017 build tools since that script fetches the version 15 build tools installer from: `"https://aka.ms/vs/15/release/vs_buildtools.exe"`? At least when I fetched the same installer and used the same options from the windows-first-boot.ps1 script it started installing the VS2017 tools on my machine. If the `/16/` release is fetched instead that seems t

[2020-04-29 20:15] jdm commented on #25845
Oh, we haven't merged https://github.com/servo/taskcluster-config/pull/27 yet, but that's what is actually deployed on CI.

[2020-04-29 20:17] asajeffrey commented on #10418
Despite it's name, the finalizer still gets run on objects from `JSCLASS_SKIP_NURSERY_FINALIZE` classes, though if the finalizer calls back into jsapi who knows what will happen. Also, calling jemalloc's free might be expensive, so we might want to put data for those objects straight in private slots rather than boxing it and putting the pointer in the slot.

[2020-04-29 20:53] camelid opened #26356 "Red screen on launch"
For every site, when I load it, a red screen is shown for several seconds. (Same with local test HTML files.)

Here's what it looks like:

<img width="1016" alt="servo red screen on startup" src="https://user-images.githubusercontent.com/37223377/80645804-7f723880-8a20-11ea-8671-803e17aad8a6.png">

@jdm thinks this is because of #25853 and at some point the OpenGL surface is cleared to red.

[2020-04-29 21:49] jdm commented on #10418
Saying "put the data in the slots" is just another name for the "magic DOM"/fused DOM object idea, which is a significant technical redesign.

[2020-04-29 22:26] #20116 closed

[2020-04-29 22:39] asajeffrey commented on #10418
Oh, I was meaning for the special case where there's just a small amount of integer / floating point data to be stored, which is what is happening with XRPose. I'm not proposing anything as big as magic!DOM.

[2020-04-29 22:44] asajeffrey commented on #10418
Hmm, but I guess that means working out how to make sure all the subtyping, method invocation, etc. stuff happens, all just to avoid calling jemelloc's free inside a minor GC. It may well not be worth it.

[2020-04-29 23:04] complexengine commented on #26350
@r1walz I did that and started building servo but the build is stuck at compiling the script crate. I gave it 3 hours and still no visible progress. Was your build stuck like mine?

[2020-04-30 00:00] brson opened #26357 "Undefined behavior in servo_arc HeaderSlice"
`HeaderSlice` constructs and dereferences invalid pointers created from non-pointer integers in `from_header_and_iter_alloc`.

Here's what miri has to say about it:

[code]

[2020-04-30 00:06] brson commented on #26357
Repro by running:

[code]

inside the servo_arc directory.

[2020-04-30 00:08] brson commented on #26357
miri has at least one other issue with this block of code that can be repro'd the same way.

[2020-04-30 00:09] jdm commented on #26350
The script crate is the largest one and consumes ~8gb of ram in my experience. Three hours is longer than I've ever seen that take, however.

[2020-04-30 00:18] brson opened #26358 "Currently-published servo_arc contains undefined behavior"
The published servo_arc 0.1.1 contains code that miri reports as UB:

[code]

This error shows up in the tikv test suite when run under miri. The error does not appear when we use standard Arcs, so I assume this code has been updated in std; nor does it appear when we use servo_arc on master.

Please consider publishing a new build of servo_arc, ideally after also fixing https://github.com/servo/s

[2020-04-30 03:26] complexengine commented on #26350
Finally, I got it compiled!

[2020-04-30 03:30] camelid commented on #26356
Could this line where we set `clear_color` in `RendererOptions` be related to the issue? It's set to `None`, and perhaps when it's later used the default in OpenGL is red.

https://github.com/servo/servo/blob/343f249c1d1dbd46d0712e34c1baa9aafe19a75a/components/servo/lib.rs#L435

[2020-04-30 03:37] CYBAI commented on #26350
@complexengine it might be worth sending a PR to support compiling Ubuntu 20.04 👀?

[2020-04-30 03:39] r1walz commented on #26350
@complexengine Are you using wayland or xorg drivers? Were you able to load a page? see #26353

[2020-04-30 03:49] camelid commented on #26356
Nope. I tried changing it to `ColorF::WHITE`, but I still got the red screen.

[2020-04-30 03:50] camelid commented on #26356
@jdm Do you think this is an issue with Servo or with WebRender?

[2020-04-30 04:04] complexengine commented on #26350
@CYBAI My PR:- https://github.com/servo/servo/pull/26359

[2020-04-30 04:10] complexengine commented on #26350
@r1walz I was able to load pages. My Xorg driver:

`00:02.0 VGA compatible controller: Intel Corporation Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics Controller (rev 06)
	DeviceName:  Onboard IGD
	Subsystem: Lenovo Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics Controller
	Kernel driver in use: i915`

[2020-04-30 04:18] r1walz commented on #26350
@complexengine Oh! I see. But are you not using a dedicated GPU, such as from Nvidia or AMD? I'm facing problem on Nvidia's GPU using Xorg drivers. I can't disable dedicated GPU as I want to work on the graphics handling part (using webgpu or related APIs). Thanks for everything!

[2020-04-30 04:22] jdm commented on #26356
I'm pretty sure it's an issue with Servo.

[2020-04-30 04:45] camelid commented on #26356
Okay, thanks. I've been looking through the code in this repo and in surfman's. Do you think you could point me to the spot(s) in Servo where surfaces are created? Thanks!

[2020-04-30 07:28] gterzian opened #26360 "ServiceWorker: support queueing tasks from SW manager"
https://github.com/servo/servo/pull/26317 moves the "job queue" concept over IPC, and runs the various algorithms of the job queue "in parallel" on the SW manager, so that various data can be made unique per UA, and manipulated atomically.

The spec at various points in job queues algorithms writes to "queue a task" back on the event-loop of the client of the workers(so not on the event-loop where

[2020-04-30 07:32] gterzian opened #26361 "ServiceWorker: implement lifetime management and termination"
https://github.com/servo/servo/pull/26317 removes some lifetime management code(see the removal of sending the `ServiceWorkerMsg::Timeout` message).

We should re-implement it in a way that better matches the spec, especially the concept of "terminate a worker": https://w3c.github.io/ServiceWorker/#terminate-service-worker

and also https://w3c.github.io/ServiceWorker/#service-worker-lifetime (alt

[2020-04-30 08:22] RalfJung commented on #26357
Yeah, `ArcInner` is definitely not a ZST, so this code is creating a dangling shared reference, which is UB.

[2020-04-30 08:29] RalfJung commented on #26358
This was probably fixed by https://github.com/servo/servo/commit/84ca681a788bf730ba142be408239c6f5c92b2ba. Before that commit, `servo_arc` used `&'static mut T` instead of `NonNull`, but without actually upholding the uniqueness guarantee of mutable references.

[2020-04-30 13:37] jdm commented on #26356
https://github.com/servo/servo/blob/master/components/webrender_surfman/lib.rs#L56 is called from https://github.com/servo/servo/blob/343f249c1d1dbd46d0712e34c1baa9aafe19a75a/ports/glutin/headed_window.rs#L147-L158.

[2020-04-30 13:40] jdm opened #26365 "Intermittent failure in /_webgl/conformance/textures/misc/tex-sub-image-2d.html"
[code]

[2020-04-30 13:42] Darkspirit commented on #26350
I don't get a build error on my Gaming Ubuntu. However, I see #26353 as well. I don't know if it's related to proprietary Nvidia drivers.

[2020-04-30 13:47] jdm opened #26366 "Intermittent failure in /css/compositing/root-element-opacity-change.html"
[code]

Test file:
<img width="570" alt="Screen Shot 2020-04-30 at 9 46 51 AM" src="https://user-images.githubusercontent.com/27658/80718020-9a4bb800-8ac7-11ea-8243-f483265f22f2.png">

Reference:
<img width="579" alt="Screen Shot 2020-04-30 at 9 46 56 AM" src="https://user-images.githubusercontent.com/27658/80718037-9f106c00-8ac7-11ea-8b77-eb7e9daa4aac.png">

[2020-04-30 13:51] jdm commented on #26366
This implies that [this code](https://searchfox.org/mozilla-central/source/testing/web-platform/tests/common/rendering-utils.js#8-19) did not trigger the right mechanisms to ensure that the screenshot was taken of the post-opacity layout.

[2020-04-30 14:09] jdm opened #26367 "Panic handling console message from devtools JS evaluation after navigation"
STR:
1. run devtools with https://servo.org/hl-home/
1. connect to devtools from firefox
1. visit particles demo
1. run console.log("hi") from JS console

No "hi" appears in the JS console, and the devtools thread panics when processing the message event.

[2020-04-30 14:10] jdm opened #26368 "Navigating in devtools doesn't always work"
STR:
1. run devtools with https://servo.org/hl-home/
1. connect to devtools from firefox
1. visit particles demo
1. use ctr+l to navigate to https://servo.org/hl-home/

The JS console messages from the particles demo are not cleared when navigation completes.

[2020-04-30 14:27] Darkspirit commented on #26353
Proprietary Nvidia is affected, Nouveau is fine.

[2020-04-30 14:30] jdm opened #26370 "Intermittent failure in /css/css-fonts/standard-font-family-15.html"
The test and the reftest are supposed to render differently, and sometimes they don't.

[2020-04-30 14:32] #26370 closed

[2020-04-30 15:30] jdm opened #26371 "Intermittent timeout in /html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/promise-rejection-events.html"
[code]

[2020-04-30 16:51] jdm opened #26372 "Expose special HTML content as voice-activable commands in UWP"
XAML buttons in UWP automatically get support for voice commands on HoloLens devices. It could be a great extension of this to recognize certain parts of web content (effectively piggybacking off of accessibility roles) and expose them to the same mechanism.

[2020-04-30 16:54] jdm commented on #26372
I imagine this would look something like:
* when certain roles are recognized by HTML element attributes being set, notify the document
* the document is responsible for creating a mapping (ie. uuid) to the element and notifying the embedder about the element and its role
* the embedder exposes a new voice command based on the text provided with the event
* if the voice command is recognized, the

[2020-04-30 16:55] jdm commented on #26372
https://github.com/Microsoft/Windows-universal-samples/blob/master/Samples/SpeechRecognitionAndSynthesis/cpp/Scenario_ContinuousDictation.xaml.cpp
https://docs.microsoft.com/en-us/windows/mixed-reality/voice-input-in-directx

[2020-04-30 17:14] jdm opened #26373 "Support a voice command to exit immersive mode"
This would require the embedding layer being able to send a command instructing the active immersive session to exit. It's one possible alternative to the non-discoverable gesture that is currently required. The information in #26372 would help with implementing this.

[2020-04-30 17:24] r1walz commented on #26353
Hey @Darkspirit, Thanks! Nouveau are working just fine. But, what's the problem with proprietary ones?

[2020-04-30 17:31] atouchet opened #26374 "How to determine Git commit corresponding to nightly build?"
This is more of a question than an issue report but how can you determine what commit corresponds to a specific Servo nightly build? I used to be able to look at the Buildbot page and see it listed there (ex. https://build.servo.org/builders/windows-msvc-nightly/builds) but I am unsure of how to find this info after the switch to Taskcluster.

[2020-04-30 17:48] camelid commented on #26356
Cool, thanks!

[2020-04-30 17:49] Darkspirit commented on #26353
My first naive guess was that it's related to depth, but I can't assess that.
Debug and Release builds made on proprietary Nvidia are affected.
A fresh build from https://dl.servo.org works on proprietary Nvidia.

[2020-04-30 17:57] Darkspirit commented on #26353
Builds made on proprietary Nvidia are not black on Mesa/Nouveau, only on proprietary Nvidia.

[2020-04-30 18:10] jdm commented on #26374
Look for the listings in https://treeherder.allizom.org/#/jobs?repo=servo-master that have "Nightly".

[2020-04-30 18:10] #26374 closed

[2020-04-30 18:15] jdm opened #26375 "Intermittent 2020 failure in /css/CSS2/normal-flow/block-in-inline-insert-001l.xht"
Test:
<img width="134" alt="Screen Shot 2020-04-30 at 2 15 11 PM" src="https://user-images.githubusercontent.com/27658/80744683-08ef3c80-8aed-11ea-925c-f0a09579fa80.png">

Reference:
<img width="142" alt="Screen Shot 2020-04-30 at 2 15 17 PM" src="https://user-images.githubusercontent.com/27658/80744694-0e4c8700-8aed-11ea-8094-b3f0d1ba80f0.png">

[2020-04-30 18:23] Darkspirit commented on #26356
Maybe related to #26353.

[2020-04-30 18:43] asajeffrey commented on #26345
This is probably a good idea, but it wouldn't have caught #26340 since on our CI machine it doesn't crash, it produces a black screen instead. This is most likely issues with driver bugs on different mac GPUs, so I'm not sure how to deal with it in CI.

[2020-04-30 19:09] camelid commented on #26356
Although it seems in that one that nothing ever rendered, whereas this issue is that on startup there's a red screen and then the page is rendered.

[2020-04-30 19:44] Manishearth commented on #26347
This is easier to fix in the tests, IMO

https://github.com/immersive-web/webxr-test-api/issues/64

[2020-04-30 20:03] Manishearth commented on #26347
This will be fixed in the tests, though I'd wait for https://chromium-review.googlesource.com/c/chromium/src/+/2173519 to land before actually fixing the tests.

[2020-04-30 20:43] jdm commented on #25513
One macOS worker (servo-mac5) was causing a disproportionate number of timeouts. I restarted the machine.

[2020-04-30 20:46] Manishearth commented on #26347
Fixed the races in the tests: https://github.com/web-platform-tests/wpt/pull/23350

should be a few days for this to land; we're waiting on a different WPT change to land and sync from Chromium.

[2020-04-30 21:42] jdm opened #26376 "Intermittent failure in /css/css-transitions/changing-while-transition-001.html, /css/css-transitions/changing-while-transition-002.html"
[code]

[2020-04-30 22:48] atouchet commented on #26374
Alright. Just to confirm I'm reading this correctly the 2020-04-30T09:04:31Z-Servo.zip nightly build for example would be based on 3bedd440265864bc713b4f3d620b65cfc58b7381 then?

[2020-04-30 22:51] #26350 closed

[2020-05-01 00:44] jdm commented on #26374
Yep!

[2020-05-01 01:29] jdm opened #26377 "Intermittent failure in /html/canvas/offscreen/convert-to-blob/offscreencanvas.convert.to.blob.html"
[code]

[2020-05-01 02:02] atouchet commented on #17930
I am now able to login to github.com without an error.

[2020-05-01 02:11] jdm commented on #17930
Do you have 2fa enabled?

[2020-05-01 02:19] atouchet commented on #17930
No.

[2020-05-01 02:34] nradhak2 commented on #20650
Hi Josh,

We just had a few doubts regarding testing our functionalities manually. You had suggested having a HTML <script> to test it. Going through some material on this, we understood that this could be possible using the HTML!() macro within the RUST code and embedding the HTML script within it. Are we allowed to modify the RUST code with our code to manually test the functionalities or is the

[2020-05-01 02:46] atouchet commented on #16167
This has suddenly started running smoothly for me as of the 2020-04-23 nightly build.

[2020-05-01 04:34] jdm commented on #20650
No, you would need to create a real HTML file and run `./mach run path/to/file.html` to load it in Servo.

[2020-05-01 04:37] gterzian commented on #26377
It reads like this one might be fixed via https://github.com/servo/servo/issues/24272

[2020-05-01 04:50] CYBAI commented on #17930
I have 2FA enabled and I can login successfully.

[2020-05-01 05:27] gterzian opened #26378 "ServiceWorker: implement (Try) Active"
https://github.com/servo/servo/pull/26317 implements the "register workflow"(partially) up to Step 7 of [Install](https://w3c.github.io/ServiceWorker/#install), leaving the registration with a perpetual "installing" worker.

We need to implement the rest of the Install algorithm, and also [Try Active](https://w3c.github.io/ServiceWorker/#try-activate) and [Activate](https://w3c.github.io/ServiceWo

[2020-05-01 06:54] gterzian opened #26379 "ServiceWorker: fully implement Update"
https://github.com/servo/servo/pull/26317 keeps the "loading and starting of a worker" as it is, using `ServiceWorkerGlobalScope::run_serviceworker_scope`, which roughly matches Steps 5 to 18 of https://w3c.github.io/ServiceWorker/#update

I'm pretty sure lots of steps are not actually implemented, so it would be valuable to go over the algorithms and the code and figure what needs to be done and

[2020-05-01 07:31] gterzian opened #26380 "Write a macro to generate namespaced Ids"
We have a bunch of Indexes and Ids in `components/msg/constellation_msg.rs`, see for example the `BrowsingContextIndex` and `BrowsingContextId` https://github.com/servo/servo/blob/1b4162aecbb935c8183438c3d6bc285db3932476/components/msg/constellation_msg.rs#L263

I find myself manually adding new ones regurlarly by hand, perhaps someone wants to write a macro for this? See for example the changes t

[2020-05-01 10:57] r1walz commented on #26353
Yes @Darkspirit, I confirm that builds available at [`dl.servo.org`](https://dl.servo.org) are working on both proprietary and Mesa/Nouveau drivers. But, we still don't know for sure, why are they failing to work as intended on build from sources? Is there a regression somewhere? Relating to that, perhaps, how the versions are named _might_ help us in finding that. Particularly, version `Servo 0.0

[2020-05-01 11:28] mrobinson commented on #14858
Yep, this is still an issue. Hopefully this is something that should be pretty straight-forward to fix once the animations and transitions code has been reworked.

[2020-05-01 13:51] jdm opened #26384 "Intermittent timeout in /webxr/webxr_feature_policy.https.html"
[code]

[2020-05-01 13:55] jdm opened #26385 "Intermittent failure in /_webgl/conformance/renderbuffers/framebuffer-object-attachment.html"
[code]