[2017-05-03 12:00] CJKu opened #16709 "Create serialization test case for border-image"
I did not see one serialization test for border-xxx in serialization.rs. Is it because we do not support it in servo, or we just need several test cases?

[2017-05-03 12:59] SimonSapin commented on #16709
Style unit tests written in rust are a pain to maintain. Please consider reftests or testharness.js instead.

[2017-05-03 14:32] jdm opened #16710 "rust-selectors doctests break appveyor"
[code]

[2017-05-03 14:32] highfive commented on #16710
cc @aneeshusa

[2017-05-03 14:33] asajeffrey commented on #15233
Yes it can.

[2017-05-03 14:33] #15233 closed

[2017-05-03 14:37] jdm commented on #15233
We still return null for iframe.contentWindow for cross-but-similar-origin iframes.

[2017-05-03 15:03] larsbergstrom commented on #11921
This has become newly important, as Rust just landed:
https://github.com/rust-lang/rust/pull/41656

I'd expect that to significantly regress Android performance unless we switch to the new target.

cc @fabricedesre @MortimerGoro

[2017-05-03 15:59] sfackler commented on #16708
This should be fixed in https://github.com/sfackler/rust-openssl/pull/615. Upgrading to rust-openssl 0.9.11 should get past that error!

[2017-05-03 16:47] acaciosc commented on #12130
What about asking every 10 days, then? Ok, really, is there an estimate, like "within 1 year there will be a build available for Android"?

[2017-05-03 16:56] CAfromCA commented on #16393
Unfortunately, it looks like servo/webrender#1192 did not fix my issue, though it closed servo/webrender#1157.

I pulled the latest Servo code again this morning and did a fresh --dev build, and it was essentially identical to the one I posted [above](https://github.com/servo/servo/issues/16393#issuecomment-296710542) (other that a few line numbers changing slightly).

Should I open a new ticket f

[2017-05-03 17:22] VictorBlomberg commented on #12130
I think we should just wait. We are all very excited, but I believe we have to respect the decisions made by the very talented and hard working servo developers. When there are updates, I'm sure we will be told. Until then, help where help is needed, but don't be a hindrance.

[2017-05-03 17:29] jdm commented on #16393
Servo is not using a version of Webrender that includes https://github.com/servo/webrender/pull/1192 yet. We need another PR like https://github.com/servo/servo/pull/16684 that updates our copy.

[2017-05-03 17:30] jdm commented on #16393
And yes, please open a separate issue for output when using `-z`.

[2017-05-03 17:32] jdm commented on #12130
Unfortunately there is no estimate, and the only work being done on the Android port right now is in service of making demos like https://blog.mozvr.com/webvr-daydream-support-lands-in-servo/ work better.

[2017-05-03 18:36] jdm commented on #16393
The next nightly should include https://github.com/servo/webrender/pull/1192 since #16652 just merged. It would be worth testing to see if Windows nightly builds still exhibit the problem described here.

[2017-05-03 18:37] jdm commented on #16393
Sorry, I forgot that https://github.com/servo/servo/issues/16560 is preventing us from updating the Windows nightlies that are published. Only people who can make local builds will be able to test whether this problem has disappeared.

[2017-05-03 20:05] #16700 closed

[2017-05-03 20:16] z1mvader commented on #16696
@highfive: assign me

[2017-05-03 20:16] highfive commented on #16696
Hey @z1mvader! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-03 20:18] jdm commented on #16696
To verify changes, run `./mach test-wpt tests/wpt/web-platform-tests/domparsing/` to ensure that the existing tests for innerHTML etc. still work correctly.

[2017-05-03 20:28] gravel66 commented on #15162
Hi, I'm a Python developer by day, but Rust has become my go-to language at night. I've been working on some small side projects in Rust for the past few months, and I'd love to contribute to Servo. Most of my previous experience has been in web development and some in networking.

[2017-05-03 20:41] CAfromCA commented on #16393
I just re-synced and confirmed my local copy got #16652, but Servo dies with the same error.

[2017-05-03 22:21] MortimerGoro commented on #11921
I have some wip code in Servo python scripts to add armv7 and aarch64 target compilation parameters. The biggest blocker are some makefile based crates/dependencies which fail to compile

An easier way to fix this may be using make-standalone-toolchain.sh script to generate a preconfigured ndk toolchain. At least, with some tests I did, preconfigured NDKs worked almost on first try, while using th

[2017-05-03 23:03] highfive commented on #15638
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:03] metajack commented on #15638
To do this, I think we should add a default_prefs() function to https://github.com/servo/servo/blob/master/components/config/prefs.rs. Then call this from default_opts() in https://github.com/servo/servo/blob/master/components/config/opts.rs#L503.

The actual initial setting should be the same as https://github.com/servo/servo/blob/bc9d7863b6763e59f7efed3d5c9870b19bafb195/components/config/opts.rs

[2017-05-03 23:04] metajack commented on #15638
Out of curiosity, I'd like to know why layout.threads is a preference not an option, and what our criteria for option vs. preference is. But that is not in the scope of this bug.

[2017-05-03 23:05] metajack opened #16716 "remove obsolete paint threads option"
Paint threads used to control how many threads we split CPU painting over. Since we no longer have CPU painting, this option is currently doing nothing and should be removed. All uses seem to be shown here: https://github.com/servo/servo/search?utf8=%E2%9C%93&q=paint_threads&type=

[2017-05-03 23:05] highfive commented on #16716
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:07] metajack opened #16717 "Support common browser benchmarks in Servo"
We should support some common browser benchmarks.

[2017-05-03 23:11] metajack commented on #16701
Making this a meta bug.

[2017-05-03 23:13] metajack opened #16718 "JetStream: javscript: url isn't handled correctly"
Part of #16701.

[2017-05-03 23:15] metajack opened #16719 "Run Speedometer benchmark"
Get Speedometer working in Servo. Speedometer is here: http://browserbench.org/Speedometer/

This metabug is specifically just to get it running. Performance issues will be tracked in a separate metabug.

- [ ] ???

Part of #16717.

[2017-05-03 23:16] highfive commented on #16701
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:17] metajack commented on #16701
Marking this easy. The task here is to run Servo on this benchmark and file bugs for any errors you find that prevent it from running.

[2017-05-03 23:17] metajack commented on #16719
Marking this easy. The task here is to run Servo on this benchmark and file bugs for any errors you find that prevent it from running.

[2017-05-03 23:17] highfive commented on #16719
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:19] metajack opened #16720 "Run EmberPerf benchmark"
Get EmberPerf working in Servo. EmberPerf is here: http://emberperf.eviltrout.com/

This metabug is specifically just to get it running. Performance issues will be tracked in a separate metabug.

- [ ] ???

Part of #16717.

[2017-05-03 23:19] metajack commented on #16720
Marking this easy. The task here is to run Servo on this benchmark and file bugs for any errors you find that prevent it from running.

[2017-05-03 23:19] highfive commented on #16720
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:21] metajack commented on #13373
Marking this easy. The task here is to run Servo on this benchmark and file bugs for any errors you find that prevent it from running.

[2017-05-03 23:21] highfive commented on #13373
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-03 23:37] larsbergstrom commented on #11921
My only worry about that is that we used to use `make-standalone-toolchain.sh`, but when we had to move to the LLVM C++ stdlib (due to Gecko native dep requirements, especially SM), the script did not properly create a standalone toolchain across ~5 different releases of the NDK that I tried.

It was also a *huge* failure point for people building for Android. They'd forget to do it or not do it q

[2017-05-03 23:42] jonathandturner commented on #16720
Just to note, the latested (2.11.1) EmberPerf benchmark does not run successfully for me on any of the browsers I tested (Nightly Firefox, Chrome, etc).

Do we have a version we're aiming to compare against?

[2017-05-04 01:25] #15975 closed

[2017-05-04 02:05] zombiefungus commented on #16716
@highfive: assign me

[2017-05-04 02:05] highfive commented on #16716
Hey @zombiefungus! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-04 02:30] jdm commented on #16718
This would probably be fixed by fixing #15147.

[2017-05-04 03:04] quininer commented on #12805
Now rust-clipboard is not GPL! https://github.com/aweinstock314/rust-clipboard/commit/f5cfc0c652ede9ff0b804a9bd3b246bffc43d8cb

[2017-05-04 04:20] athyuttamre commented on #16696
Sorry for the slow response! I'm unfortunately not able to take on projects this month (finals period at university.) I'm happy to take on anything starting April!

[2017-05-04 11:08] nox commented on #16079
https://bugzilla.mozilla.org/show_bug.cgi?id=1361985

[2017-05-04 15:11] larsbergstrom commented on #12805
Seems legit, based on your patch here:
https://github.com/aweinstock314/rust-clipboard/commit/29f757c31d852abd4c7eb2636d414b30dc8dd21f

Which seems to rely on an MIT-licensed x11 clipboard implementation.

Awesome!

[2017-05-04 16:55] z1mvader commented on #16696
Hi!! I started working on this, i currently have version that serializes the tree of a node assuming that every node has type_id `NodeTypeId::Element(..)`. The code is here

https://github.com/z1mvader/servo/blob/serialize_nodes_preorder/components/script/dom/servoparser/html.rs#L122

This code uses a vector to storage the names of the nodes that are open and need to be closed during the traversal

[2017-05-04 17:35] cbrewster commented on #9372
I will be working on this as apart of GSoC 2017

[2017-05-04 21:05] metajack commented on #16720
@cpeterso Do you know if this is working in Gecko currently?

[2017-05-04 21:36] cpeterso commented on #16720
The EmberPerf benchmark used to work, but now it stops at "17 test(s) remaining" in Firefox, Edge, and Chrome. I see the following JavaScript error in the devtools console:

[code]

[2017-05-04 21:44] #16708 closed

[2017-05-04 23:27] jrvidal commented on #13035
As I mentioned above, I was able to go through the steps to reproduce the panic. This is what I got: [[gist]](https://gist.github.com/anonymous/6d94f6c011156eb633609d7bc2f7b1c9).

I am a little confused. There is something wrong, obviously, given that Servo is crashing 😛 However I'm not sure the reasons hinted in the past months point to the root cause. We no longer get the `"receiving on a closed

[2017-05-04 23:34] jdm commented on #13035
Interesting. The significant panic here is `image_templates (thread RenderBackend, at src/libcore/option.rs:794)` , which looks like:
[code]
This is a problem inside webrender like you said. Any suggestions here, @glennw?

[2017-05-04 23:35] jdm commented on #13035
And yes, there is a reason to trigger the panic inside the webGL thread instead of directly inside the `panic()` method. Panics inside the thread that runs JS are straightforward to test in this fashion; panics in other parts of the browser (like the thread that is processing webgl API calls) display different behaviour that gets tested/observed much less frequently.

[2017-05-05 00:06] WholeGrainGoats commented on #16479
I'd like to try to implement this. Not very experienced, but I've got the summer cleared up.

[2017-05-05 00:43] jdm commented on #16479
Please do! Ask questions about anything that's unclear!

[2017-05-05 01:35] netroby opened #16732 "The latest nightly servo can not be opened with windows 10 x64"
I am using windows 10 x64 . i download the latest nightly servo .
but while try to run servo.exe. the window flash then exit.

[2017-05-05 02:20] #16079 closed

[2017-05-05 02:22] atouchet commented on #16732
This is likely a duplicate of #16393.

[2017-05-05 03:45] #16732 closed

[2017-05-05 04:01] WholeGrainGoats opened #16734 "Multiple peer reset connections lead to crash."
Including multiple related stacktraces. Crash happened after browsing reddit. Also included some intermittent out of range errors for slices, in case that helps (who knows). [Pastebin link](https://pastebin.com/zCfFsGmU) included since its too long to paste here sensibly.

[2017-05-05 06:03] KiChjang commented on #15192
The draft has been updated with an extended syntax to support different kinds of expressions.

Taking a look at this.

[2017-05-05 07:23] KiChjang commented on #15192
Blocked on #16728.

[2017-05-05 07:49] ocerman opened #16736 "Table with border-collapse: collapse is bigger than it should be"
Table with `border-collapse: collapse` is bigger than it should be.
![table](https://cloud.githubusercontent.com/assets/10187350/25737410/f762682e-3177-11e7-9605-521d5c8e5176.png)
[code]

[2017-05-05 08:22] blacksvk opened #16737 "Float block is positioned incorrectly within block with text"
When you remove text from parent div, then it is working correctly.

![float](https://cloud.githubusercontent.com/assets/10187350/25738287/83eb02ca-317c-11e7-99ff-611f8c7cddfc.png)
[code]

[2017-05-05 08:24] stshine commented on #16737
This is #13683, and we track this bug there.

Thanks.

[2017-05-05 08:24] #16737 closed

[2017-05-05 08:31] stshine commented on #12092
Duplicate of #13683.

[2017-05-05 08:31] #12092 closed

[2017-05-05 08:32] stshine commented on #11163
This is #13683, let's track it there.

[2017-05-05 08:32] #11163 closed

[2017-05-05 08:35] stshine commented on #10645
Layout is correct in current master.

[2017-05-05 08:35] #10645 closed

[2017-05-05 08:43] stshine commented on #14807
Closed in favor of #13683.

[2017-05-05 08:43] #14807 closed

[2017-05-05 08:51] paulrouget commented on #13994
@asajeffrey let me know if I can make my requirements clearer.

[2017-05-05 08:59] Wafflespeanut commented on #15192
#16728 seems to fix this.

[2017-05-05 09:08] stshine commented on #11661
Rendering is correct is current master.

[2017-05-05 09:08] #11661 closed

[2017-05-05 09:12] stshine commented on #12450
Is this #12937?

[2017-05-05 10:16] gterzian commented on #15934
Here is my understanding of the situation, to be confirmed by feedback, followed by an implementation plan based thereon:

As it currently stands:

1. In the default implementation in `ports::servo`, `ports::glutin::window::Window;` is the "embedder".
2. Window is responsible for creating the compositor sender and receiver channel, via [`window.create_compositor_channel`](https://github.com/servo/

[2017-05-05 11:16] #15192 closed

[2017-05-05 14:29] jdm commented on #12450
Yes.

[2017-05-05 14:29] #12450 closed

[2017-05-05 15:23] jdm opened #16740 "Enable taking stack snapshots of other threads"
Often when the script thread is not responding to user input, it can be challenging to figure out what it's doing instead. It would be great to build something like Gecko's background hang reporter, which provides stacks for unresponsive main threads.

[2017-05-05 15:42] emilio opened #16743 "font-feature-settings serialization code shouldn't need a Vec<u8>."
Font feature settings are 4 bytes, so we can just use a stack-allocated variable.

To build that code, you need to use `./mach build-geckolib`.

Tests are not needed, this is an optimization.

[2017-05-05 15:42] highfive commented on #16743
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-05 15:45] jdm commented on #16743
This is inside the "font-feature-settings" longhand in `components/style/properties/longhands/font.mako.rs`.

[2017-05-05 15:45] emilio commented on #16743
https://github.com/servo/servo/blob/e4d39b547610d43c41f44ff666777e22a1f2a3fb/components/style/properties/longhand/font.mako.rs#L1820

[2017-05-05 15:47] emilio commented on #16743
While we're there, we can refactor the code after it to use `dest.write_str` instead of `write!`, that should be slightly more efficient.

[2017-05-05 15:54] canaltinova commented on #15840
It looks like this is fixed by https://github.com/servo/servo/pull/16144/commits/35496c8ae1e98f0a75b56b4a2a5c41ad101bcf01 Closing this, sorry!

[2017-05-05 15:54] #15840 closed

[2017-05-05 15:55] tictakk commented on #16743
@highfive: assign me

[2017-05-05 15:55] highfive commented on #16743
Hey @tictakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-05 18:02] jdm opened #16746 "Silence wptrunner output when running individual WPT tests"
wptrunner outputs a lot of intimidating stuff before running a test, mostly to do with creating SSL certificates. We should hide this by default.

[2017-05-05 18:28] jdm opened #16747 "Add an option to attach a debugger when the harness timeout is triggered"
Typically when a test timeout is hit you want to kill the process and report that the timeout was hit. It would be really useful to support attaching gdbserver to the process and reporting how to connect to it remotely instead.

[2017-05-05 18:34] aneeshusa commented on #16747
Many Linux distro kernels have the YAMA LSM enabled, which disables attaching GDB to an existing process (processes have to be spawned from GDB instead for debugging). There is a sysctl knob for control if this is enabled/how strongly it is enabled - `kernel.yama.ptrace_scope`. If this is implemented, it would be nice to add code to check if the sysctl value is set to 0 (to allow attaching gdb to

[2017-05-05 22:11] nox opened #16748 "Intermittent pass in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/bugs/temp-expressions-should-not-crash.html"
[code]

[2017-05-05 22:16] jdm commented on #16335
The expectation was flipped at some point so now #16748 is tracking the intermittent result.

[2017-05-05 22:16] #16335 closed

[2017-05-06 00:48] jrvidal commented on #13035
A couple of (maybe obvious) things I've been able to learn:
* `image_template` panics when trying to fetch an image that is dropped in `WebGLPaintThread::drop`. Somehow the constellation sends a `GenerateFrame` for a frame that is... "invalid"?
* I think this frame request is due to the panic handler that is supposed to take you to `about:failure`. Servo doesn't crash<sup>1</sup> when removing thi

[2017-05-06 04:29] cbrewster opened #16753 "Implement Custom Element Registry"
spec: https://html.spec.whatwg.org/multipage/scripting.html#customelementregistry

part of #9372

[2017-05-06 06:04] cbrewster commented on #15093
This is no longer an issue.

[2017-05-06 06:04] #15093 closed

[2017-05-06 06:05] cbrewster commented on #11839
I believe this is no longer and issue.

[2017-05-06 06:05] #11839 closed

[2017-05-06 06:07] cbrewster commented on #14908
We have adjusted history traversal, this is now a non-issue.

[2017-05-06 06:07] #14908 closed

[2017-05-06 08:09] nox commented on #15001
I took care of what remained, I think.

[2017-05-06 08:09] #15001 closed

[2017-05-06 08:10] nox commented on #16001
I did this.

[2017-05-06 08:10] #16001 closed

[2017-05-07 13:34] nox opened #16755 "Consider removing support for logical keywords in background-position"
We support `x-start` and `x-end` for `background-position-x` values, but these have no tests in WPT, are defined only in the WIP `backgrounds-4` spec, and are unsupported in Gecko.

Should we unship them?

Cc @SimonSapin @bholley @upsuper

[2017-05-07 13:39] SimonSapin commented on #16755
👍

[2017-05-07 13:39] #3908 closed

[2017-05-07 13:44] upsuper commented on #16755
Also `y-start` and `y-end` for `background-position-y` I guess?

If removing it is easier than restricting it on Servo-only, then I would probably suggest we remove it.

`{x,y}-{start,end}` seem to be something unique to `*-position-{x,y}`, since other logical properties / values mostly just use `{inline,block}-{start,end}`, thus there is some risk that this may change in the future. Given the spe

[2017-05-07 13:46] nox commented on #16755
Yes.

It could be restricted, but I don't like keeping things in Servo that aren't tested at all.

[2017-05-07 14:06] pyfisch commented on #15894
Now linear and repeating gradients are supported except for the `border-image-outset` property which is tracked at #16638.

This should probably be closed.

[2017-05-07 14:07] pyfisch commented on #11304
Also `background-repeat` is not supported.

[2017-05-07 14:58] jdm commented on #15894
Thanks!

[2017-05-07 14:58] #15894 closed

[2017-05-07 21:21] KiChjang commented on #15484
This is done.

[2017-05-07 21:21] #15484 closed

[2017-05-07 21:47] glennw commented on #16405
@mrobinson @emilio It seems that the issue with clicking links once scrolled is a (relatively) recent regression over what we had previously.

Is it possible to fix that regression without doing all the "proper" fixes that @mrobinson has mentioned above? Or is this a case where the recent WR scrolling changes have exposed these issues and they need to be fixed properly, perhaps?

[2017-05-07 23:18] #16716 closed

[2017-05-08 02:17] Ksbugbee opened #16760 "Close/Minimize/Maximize buttons don't work on OSX"
Close/Minimize/Maximize buttons don't work on OSX. They work fine when I build and run Servo, but not when I launch the application from my applications folder.

[2017-05-08 02:53] jdm commented on #16760
I think this may be a bug in [browser.html](https://github.com/mozilla/browser.html/) instad, since I believe it draws its own window button UI.

[2017-05-08 03:08] Ksbugbee commented on #16760
Ok thanks, I'll check it out! @jdm

[2017-05-08 03:13] zombiefungus commented on #15638
@highfive: assign me
@metajack may I eventually ping you for help ?

[2017-05-08 03:13] highfive commented on #15638
Hey @zombiefungus! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-08 03:22] paulrouget commented on #15638
@zombiefungus you can also ping me if you need help.

[2017-05-08 03:51] gterzian commented on #15934
After some additional consideration, I'm wondering if 1 and 2 in the implementation plan above are really necessary, from [this comment](https://github.com/servo/servo/blob/master/components/servo/lib.rs#L116) I can tell that the coupling of the client/embedder with the channel/event loop is intentional, in which case we could  focus on 3 in this issue.

To 3 I would like to add the need for the e

[2017-05-08 05:20] stewart-ibm opened #16763 "Assertion on startup: assertion failed: (data.len() as u32) >= len"
Having freshly built 4e390e2630f244e77032ded404ca885c3e3ed8a7 on Fedora 25 (x86-64), when I try to start servo at all, I always have it crash. It momentarily displays a window full of moderately dark grey and then hits this assert:

[code]

[2017-05-08 06:51] shinglyu commented on #12675
@murarisumit Sorry for the delay, the code looks fine to me (https://github.com/servo/servo/compare/master...murarisumit:12675)

Would you mind posting an example of the json output? Just want to make sure it's valid json and easily parsable.

[2017-05-08 07:14] glennw opened #16764 "Incorrect values in calc-border-radius-1.htm test."
I started seeing a failure in ```calc-border-radius-1.htm``` when I was testing locally with the elliptical border radius support in https://github.com/servo/webrender/pull/1209.

I logged out the Servo-side display list values for the test case, and it shows:

[code]

[code]

Note that the border radii for the y-radius in the top left and top right corners don't match.

I haven't looked into it y

[2017-05-08 08:16] emilio commented on #16764
I doubt it's calc parsing code given the rendering is correct on a stylo build, but I can take a look... I bet we're resolving percentages against the wrong size in layout.

[2017-05-08 08:19] emilio commented on #16764
Hmm... After a quick look that shouldn't be the case maybe the problem is in the reference? Let me see...

[2017-05-08 08:54] emilio commented on #16764
So yeah, that's the case, we're resolving percentages in border radius sizes against the width of the container instead of against the height.

That's the usual meaning of percentages, but in https://drafts.csswg.org/css-backgrounds-3/#border-radius:

[2017-05-08 10:52] emilio commented on #16763
cc @glennw, the assertion is inside webrender, but not sure where the bug corresponds to.

[2017-05-08 11:10] Asfhy commented on #12015
I'm on Manjaro Linux (Arch derivate) and I managed to make it run after using prelink on the downloaded servo binary. I mean, my way of getting the nightly build runing is:

1- Download the build
2- Extract the build on the servo folder
3- Use a terminal to navigate to the servo folder and run "sudo prelink servo"
4- Perlink finds the needed libraries and link them to the binary, so it ends in a s

[2017-05-08 11:37] MGageMorgan commented on #12015
@Asfy Never heard of it, but I'll go look that up soon. There's a lot more I could do with a tool like that outside the scope of servo if it exists and works.

[2017-05-08 12:35] #16764 closed

[2017-05-08 13:28] jdm commented on #16760
@paulrouget Am I correct in my previous comment?

[2017-05-08 13:35] CAfromCA commented on #16393
I saw several additional WebRender updates pulled into Servo, so I tried compiling a fresh copy. The issue persists.

[2017-05-08 13:54] paulrouget commented on #16760
Yes. Please file there and I will investigate.

Thank you @Ksbugbee

[2017-05-08 14:07] Ksbugbee commented on #16760
Filed in browser.html -- Thanks @jdm @paulrouget

[2017-05-08 14:14] #16760 closed

[2017-05-08 14:36] murarisumit commented on #12675
It's slightly large file, so sharing it via gist:

https://gist.github.com/murarisumit/63667a8376fe74099bb9bb5faedc369b

[2017-05-08 14:41] kvark commented on #16393
Is the error message still the same?

If you search for this name in the current shaders, it only appears here:

And there is nothing unique or wrong about that. I'd expect a problem elsewhere.

[2017-05-08 15:17] paulrouget commented on #15934
If I'm not mistaken, `GlutinCompositorProxy` is only used to wake up glutin's event loop. It's just a proxy. Glutin blocks the main thread until user interaction happens (triggering events). But sometimes, Servo performs action that need to wake up the main thread (from where, in the embedder, we call [handle_events(events)](https://github.com/servo/servo/blob/a5fe464e4a2f001ab9b47b1c5c0dd8e3de0fd

[2017-05-08 15:18] paulrouget commented on #15934
PS: when you create a link to a line of code, press `y` before copying the link. It will add the commit hash to the url, making sure the link is always valid even if the file changes.

[2017-05-08 15:48] eviltrout commented on #16720
Apologies - the Link related tests broke some time ago on newer Ember releases. I've removed them in the latest version and deployed it to `emberperf.eviltrout.com`

[2017-05-08 15:52] metajack commented on #15638
@zombiefungus Of course. You can reach me in IRC or just mention me in the bug. If @paulrouget or I aren't around, most folks in the IRC channel will be glad to assist as well.

[2017-05-08 16:20] MortimerGoro commented on #11921
@larsbergstrom Yes, I agree that standalone toolchains add more complexity to the users. It's better if we assume the complexity and make users happier ;)

I pushed https://github.com/servo/servo/issues/16769 for armv7 and aarch64 target triples support in python build scripts (build + packaging).

arm-linux-androideabi is still the default, we can change it when all armv7 compilation errors are f

[2017-05-08 16:31] atouchet commented on #16560
@aneeshusa I don't mean to be a pain but are you still working on this?

[2017-05-08 17:27] CAfromCA commented on #16393
My error is unchanged:

My error has always been different than the "vClipMaskUvBounds" error that @NiLSPACE, @2efPer, and @recompileorg reported.

My issue could, be the same root cause as theirs, but at the very least it's presenting differently for me. They all have Broadwell or Skylake chips (late 2014 to late 2015) and I have a much older Sandy Bridge CPU/iGPU (mid-2011).

I don't know if any

[2017-05-08 17:35] kvark commented on #16393
Thanks @CAfromCA ! It does appear to me that multiple different issues got mixed here, and it's no longer about the GLSL shader linking, given that `wglCreateContextAttribsARB` happens way before that point.

[2017-05-08 17:37] CAfromCA commented on #16393
In that case, I'll create a new issue for my error and let the people seeing "vClipMaskUvBounds" errors figure out if this one is resolved.

[2017-05-08 17:49] CAfromCA opened #16771 "Windows Nightly quits immediately with "wglCreateContextAttribsARB failed""
When starting a nightly build on Windows (pulled this morning: https://github.com/servo/servo/commit/34d33574dbd8696ff788ae8b9af65f8e88f404a9), Servo opens a blank window for a brief moment and then quits with the following error:
[code]
If I disable graphical output with `mach run -z --dev` I get this instead:
[code]

My basic system specs are:

OS: Windows 7 Enterprise SP1 64-bit
CPU: i5 2520M @

[2017-05-08 18:04] jdm commented on #16771
For the headless issue, I guess GL isn't loading right, since it certainly should have been according to [this block](https://dxr.mozilla.org/servo/rev/a5fe464e4a2f001ab9b47b1c5c0dd8e3de0fd8e2/ports/glutin/window.rs#272-300).

[2017-05-08 18:49] jdm opened #16773 "Intermittent pass in /quirks-mode/table-cell-nowrap-minimum-width-calculation.html, /quirks/table-cell-nowrap-minimum-width-calculation.html"
[code]

[2017-05-08 21:05] jdm commented on #15602
https://github.com/adamw17/csc517ossproject/tree/832969c1cf01d94be340731c744854c25fdbb441

[2017-05-08 21:05] jdm commented on #15600
https://github.com/chbrown13/servo-dependency-tool

[2017-05-08 22:12] ghost opened #16776 "Node rendering can trigger segmentation fault"
The following html file crashes Servo when rendering
[code]
producing the following output:
[code]
This is similar to https://github.com/servo/servo/issues/16696, where the node serialization is done recursively. Similar changes for the rendering process should fix this

[2017-05-08 22:14] jdm commented on #16776
The testcase here should not include `elem.outerHTML`.

[2017-05-08 22:18] jdm commented on #16776
[code]

[2017-05-08 22:21] z1mvader commented on #16776
@highfive assign me

[2017-05-08 22:21] highfive commented on #16776
Hey @z1mvader! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-08 22:23] jdm commented on #16776
Basically, for deep DOM trees we perform recursive layout and that gets us into trouble.

[2017-05-08 22:23] jdm commented on #16776
[code]

[2017-05-09 00:22] behnam opened #16777 "assertion failed: !needs_clipping || batch.key.blend_mode == BlendMode::Alpha || batch.key.blend_mode == BlendMode::PremultipliedAlpha"
On a dev build on master (81f273b66f3af5cd814ef34c2754121d59547de6), I get the following failed assertion:
[code]

System: macOS/MacPorts
rustc 1.17.0 (56124baa9 2017-04-24)
cargo 0.18.0 (fe7b0cdcf 2017-04-24)

[2017-05-09 01:06] emilio commented on #16647
Can yo repro with https://github.com/servo/servo/pull/16778?

[2017-05-09 01:06] emilio commented on #16647
(Still needing some polishing, presumably)

[2017-05-09 01:25] jdm commented on #16777
cc @glennw

[2017-05-09 02:37] #14723 closed

[2017-05-09 02:37] #15076 closed

[2017-05-09 09:52] MortimerGoro commented on #16647
@emilio https://github.com/servo/servo/pull/16778 still crashes, but got a stacktrace with more info:

[code]

[2017-05-09 10:49] emilio commented on #16647
Wow, interesting, it's crashing inside the debug logging?

[2017-05-09 11:33] ArkadiuszMichalski commented on #16771
Same here, autoclose when run .exe, my spec:
OS: Windows 7 Enterprise SP1 64-bit
CPU: i7 2600k
GPU: Intel HD Graphics 3000
GPU driver version: 15.28.24.4229 (9.17.10.4229) https://downloadcenter.intel.com/product/81500/Intel-HD-Graphics-3000

My error log:
[code]

[2017-05-09 13:06] paulrouget commented on #15638
I see that `components/constellation/pipeline.rs` and `components/script/dom/htmliframeelement.rs` both use `PREFS.get("layout.threads")`.

Like Jack mentioned, we could maybe use option instead. And I think it make more sense.

So in these 2 files we would use `opts` instead. And initialize opts::layout_threads to:

1) command line value (`-y X`)
2) if no command line, initialize with preference

[2017-05-09 13:22] gterzian commented on #15934
Thanks for the additional info and the github protip. 😄

I agree with the above, and would also like to state the obvious which is that the messages that are being proxied are currently all like "constellation -> compositor <- webrender", with the compositor sitting in between all communication, and sometimes forwarding some messages to the embedder via the window. As this issues has pointed out,

[2017-05-09 13:38] bnjbvr commented on #16720
@eviltrout Hi! As of today, the two following tests are still raising errors on Firefox Nightly and Chromium stable:

- Ember.Component.create
- Render bind-attr

Is there anything to be done with these tests?

[2017-05-09 14:26] metajack commented on #15638
I didn't get much feedback in IRC, but here are my thoughts:

- prefs are presumably run-time changeable (like in other browsers)
- prefs can be set in test manifests but options can't

So I think in general options should be used for invocation of the executable related things, and preferences for general configuration.

In this case, layout.threads is definitely something we might want to play w

[2017-05-09 14:38] nox opened #16781 "Make no_viewport_percentage! use an absolute path for HasViewportPercentage"
Currently to use `no_viewport_percentage!`, one needs to first import the `HasViewportPercentage` trait in scope. This is a paper cut.

[2017-05-09 15:07] highfive commented on #16781
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-09 15:07] jdm commented on #16781
https://dxr.mozilla.org/servo/rev/fc3a7d03f2b0c5292e7414e7555fb75ae0b1d663/components/style/values/mod.rs#57

[2017-05-09 15:18] paulrouget commented on #15638
Absolutely. And the opts value should be initialized from that preference.

I'm ok if we want to keep the current behavior, but don't you think the priority is 1) argument 2) pref 3) default value. If so, we need a generic way to give access to that value (can't just rely on PREFS), and this can be done via opts?

[2017-05-09 15:25] jdm opened #16783 "Intermittent LLVM error "failed to build archive: Invalid data was encountered while parsing the file" on linux builders"
[code]

[2017-05-09 15:25] highfive commented on #16783
cc @aneeshusa

[2017-05-09 15:35] eviltrout commented on #16720
Well that's embarrassing! As you might have figured out by now we don't tend to run all the tests. We somewhat got in the habit of sticking to the Complex List tests since we found them the most reflective of Discourse performance :)

I've removed those tests now and confirmed the suite now runs all tests for the latest versions of Ember.

[2017-05-09 15:50] metajack commented on #15638
I agree that preference priority should be a) from --pref command line options b) from prefs.js and c) from default prefs. Currently only a) and b) are implemented.

`PREFS` is initialized here: https://github.com/servo/servo/blob/e07cf0a/components/config/prefs.rs#L16-L20

so adding a call to `default_prefs()` at the beginning of the intializer, then changing `read_prefs` to mutate them or adding

[2017-05-09 15:52] paulrouget commented on #15638
how does that play with `-y`?

[2017-05-09 15:54] metajack commented on #15638
`-y` will get parsed and will cause a `PREFS.set` here: https://github.com/servo/servo/blob/a2d3b05/components/config/opts.rs#L871-L878

so this will override anything set by `default_prefs()` or by `read_prefs()`.

[2017-05-09 15:56] paulrouget commented on #15638
It's kind of weird that we need to introduce `default_prefs()` when there's already default options. What do you think?

I think the pref should be optional. The final way to get this value (from pipeline.rs & co) should be `opts::layout_threads`, not `PREFS.get()`. The value of `opts::layout_thread` would be come from 1) the command line (`-y X`)  2) the pref if there's any 3) finally, `cmp::max(

[2017-05-09 16:08] metajack commented on #15638
I don't think `-y` should exist, and instead we should be using `--pref layout.threads`. Also, the `Opts` struct does not have a `layout_threads` member. I think in this case `-y` predates our preferences mechanism, which is why it is confusing.

It may be the case that there are more things in `Opts` that should be moved to prefs. In my head, options should be things like `-M` or `--help` which c

[2017-05-09 20:20] kvark commented on #16763
I see it in WPT tests as well (locally). Looking now.

[2017-05-09 22:01] brisad commented on #16781
Hi! First time trying to help out in a Rust project. :)
@highfive: assign me

[2017-05-09 22:01] highfive commented on #16781
Hey @brisad! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-09 22:46] jdm opened #16787 "TravisCI can't fetch rust-mozjs dependency"
[code]

[2017-05-09 22:46] highfive commented on #16787
cc @aneeshusa

[2017-05-09 22:47] jdm commented on #16787
Looks similar to https://github.com/rust-lang/cargo/issues/3561.

[2017-05-09 23:18] Manishearth opened #16788 "width and height should take ExtremumLength values"
Currently we support these for max-width and max-height, but not for width and height.

We need to have a similar setup there where width and height (and block-size and inline-size, the logical versions) all use a WidthHeight predefined type that can parse ExtremumLength. Just like min-height, etc, the keyword values need to be filtered out during parsing and computation when in the block directio

[2017-05-09 23:18] highfive commented on #16788
cc @emilio

[2017-05-09 23:19] Manishearth commented on #16788
This should make at least the following Gecko tests pass:

[code]

[2017-05-09 23:19] Manishearth commented on #16788
width and height should continue to behave as normal in servo mode.

[2017-05-10 06:56] paulrouget commented on #15638
Ok, works for me!

@zombiefungus, back to what @metajack [said](https://github.com/servo/servo/issues/15638#issuecomment-299059622). Sorry for the confusion.

[2017-05-10 07:13] paulrouget commented on #15934
Will you be able to call this function ever? At that point the main thread is blocked.

[2017-05-10 07:16] paulrouget commented on #15934
We need a function that returns a thread safe object that can wake up the event loop from any thread. Maybe something like this:

[code]

[2017-05-10 07:20] paulrouget commented on #15934
Also - I agree that the first step should be to move the CompositorProxy-related things to Browser.

[2017-05-10 09:56] doanga2007 opened #16793 "Servo crashes in Windows 10 Insider Preview Build 16188 for PC."
Servo crashes in Windows 10 Insider Preview Build 16188 for PC.

VDO : https://youtu.be/wM9Btzhgjx4

[2017-05-10 12:34] jdm commented on #16431
This looks like #16485.

[2017-05-10 12:34] #16431 closed

[2017-05-10 12:34] jdm commented on #16433
Let's track this in #16431.

[2017-05-10 12:34] #16433 closed

[2017-05-10 12:34] jdm commented on #16793
This sounds like #16393.

[2017-05-10 12:34] #16793 closed

[2017-05-10 14:25] bnjbvr commented on #16720
Thanks! That's great.

[2017-05-10 14:59] kvark commented on #16447
This is somewhat relevant to #16763.
WebRender is not handling the case properly when this warning occurs:

I'm looking into it.

[2017-05-10 15:40] z1mvader commented on #16776
I'll start working on this when (or if) https://github.com/servo/servo/pull/16749 gets merged

[2017-05-10 16:29] canaltinova commented on #16788
Sure, I can work on this.

[2017-05-10 17:58] stshine commented on #13806
The should be fixed by #13870.

[2017-05-10 17:58] #13806 closed

[2017-05-10 20:01] pyfisch commented on #15963
@bors-servo assign me

`msaa` is still used in `ports/glutin/window.rs`.

[2017-05-10 20:04] pyfisch commented on #15963
@highfive:  assign me

`msaa` is still used in `ports/glutin/window.rs`.

[2017-05-10 20:04] highfive commented on #15963
Hey @pyfisch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-10 22:02] highfive commented on #14258
cc @wafflespeanut

[2017-05-11 00:11] jdm opened #16803 "Intermittent timeout in /html/the-xhtml-syntax/parsing-xhtml-documents/xhtml-mathml-dtd-entity-support.htm"
[code]

[2017-05-11 00:30] jonathandturner commented on #16405
Did a `git bisect`.  Looks like the breakage happened at or near fe75382bcbb20efe43e650d144fa3bde7160f853

[2017-05-11 00:34] jonathandturner commented on #16405
@glennw / @mrobinson ^

[2017-05-11 00:35] hiikezoe commented on #16788
A bug on bugzilla.
https://bugzilla.mozilla.org/show_bug.cgi?id=1355402
It's assigned to Shing.

[2017-05-11 00:37] jonathandturner commented on #16405
The other two checkouts in the bisect before I hit issues: 2f6cf2e9c883d919b35d952f47d6bb1670f21def and 9d72e89ce3502cb58147375c8ecc4e9e9356b1ee

[2017-05-11 07:53] upsuper commented on #15296
Actually it isn't fixed. The issue can still be reproduced with
[code]

[2017-05-11 08:13] #15963 closed

[2017-05-11 08:21] mrobinson commented on #16405
I have created https://github.com/servo/servo/pull/16807 to fix the issue uncovered by @jdm's test. I have an idea what might be causing the issue with clickable links and will investigate a bit to see if my hypothesis is correct.

[2017-05-11 08:50] paulrouget opened #16808 "What is WindowEvent::Refresh for?"
[code]

I'd like to understand when this happen and why it is necessary.

I see it is used in the CEF port but not in the Glutin port.

[2017-05-11 08:57] paulrouget opened #16809 "The compositor's viewport field and the WindowEvent::Viewport message are never used"
Any reason to keep it?

[2017-05-11 10:52] nox commented on #15296
https://github.com/servo/servo/blob/9a419ec3d50436b3a91227880114d9985f2097e7/components/style/properties/longhand/font.mako.rs#L801-L805

[2017-05-11 12:40] jankeromnes commented on #16783
This seems to break `hyper-openssl` and `servo-websocket`:

    LLVM ERROR: Invalid data was encountered while parsing the file.
    Could not compile `hyper-openssl`
    LLVM ERROR: Invalid data was encountered while parsing the file.
    Could not compile `servo-websocket`

Note: I switched to LLVM 4.0, but I'm not sure if that's related.

[2017-05-11 13:34] #16781 closed

[2017-05-11 14:20] phisixersai commented on #15162
Hi, I am a frontend developer and also have experience on C++, node.js and python.  Interest in learning Rust but no experience. I'd like to contribute to some servo bugs.

[2017-05-11 15:57] tictakk commented on #16743
Just a quick update on this, I had an unexpected work obligation come up shortly after assigning this. I should have a PR this weekend.

[2017-05-11 20:31] MortimerGoro opened #16817 "Unsafe AtomicRefCell<T> transmute in Layout component"
Hi,

I'm fixing Android SEGV crashes on Servo (see https://github.com/servo/servo/pull/16816) and found that one of them is caused by a highly unsafe cast between ` AtomicRefCell<PersistentLayoutData>` and` AtomicRefCell<PartialPersistentLayoutData> `
[code]
Even after adding the required repr(C) to guarantee the memory consistency between pure PersistentLayoutData and PartialPersistentLayoutData

[2017-05-11 20:41] MortimerGoro commented on #16647
After a lot of debugging I found the problem on Android.

Everything seems related to memory layout and alignment unsafe code. Check this PR https://github.com/servo/servo/pull/16816 and this issue https://github.com/servo/servo/issues/16817

[2017-05-11 20:58] jonathandturner commented on #16405
Unfortunately, #16807 doesn't seem to fix the issue. You can see the issue by opening http://news.ycombinator.com and scrolling down the page. Anywhere you click, it's like you're still on the first page.

[2017-05-11 21:10] #16647 closed

[2017-05-11 21:29] 1masyc opened #16820 "incompatibilidad"
el paquete de instalcion no es compatible con este tipo de procesador!!. pongase en contacto con el fabricante del producto.

instalacion en windows 7 profesional 86x

[2017-05-11 21:34] jdm commented on #16820
"The installation package is not compatible with this type of processor !!. Contact the manufacturer of the product.
Installation on windows 7 professional 86x"

[2017-05-11 21:34] jdm commented on #16820
Our Windows builds may not support 32bit. @larsbergstrom do you know if this is true?

[2017-05-11 21:37] metajack commented on #16787
cc @metajack

[2017-05-11 21:48] alexcrichton commented on #16787
This may be a case where the git repo got corrupted and Cargo's not correctly detecting that, attempting to continue updating it. Is this happening repeatedly? If so, is it possible to inspect the caches? If inspection isn't possible, but it's repeatedly happening, does cleaning the caches help?

[2017-05-11 21:58] metajack commented on #16787
Clearing caches can be done with https://travis-ci.org/servo/servo/caches on the TravisCI web UI.

Closing this since there is nothing for us to do here but remediate the problem when it happens.

[2017-05-11 21:58] #16787 closed

[2017-05-11 22:00] alexcrichton commented on #16787
@metajack if the issue here is indeed a corrupt git repo, then I'd definitely consider it a bug in Cargo if it's not handling it! If you see this happen feel free to ping me and I can try poking at it to see if I can zero in on what's happening.

[2017-05-11 22:17] jdm opened #16822 "Intermittent pass in /html/semantics/scripting-1/the-script-element/nomodule-set-on-async-classic-script.html"
[code]

[2017-05-11 22:18] jdm commented on #16787
It happens on every single travisci push for Servo...

[2017-05-11 22:19] metajack commented on #16787
@jdm I cleared the caches and the build that was failing is not going fine. Or are you saying it reoccurs even if caches are cleared?

[2017-05-11 22:27] jdm commented on #16787
No, just clarifying how often is was occurring before clearing the caches.

[2017-05-11 22:37] alexcrichton commented on #16787
Ok so sounds like it was definitely a corrupt repo somewhere. The error message [came from here](https://github.com/rust-lang/cargo/blob/c00e56dea67c394aac9bf337cdea37fb5fd8570c/src/cargo/sources/git/utils.rs#L94), bottoming out in a call to [`fetch`](https://github.com/rust-lang/cargo/blob/c00e56dea67c394aac9bf337cdea37fb5fd8570c/src/cargo/sources/git/utils.rs#L576).

This may be an error that Ca

[2017-05-11 22:44] Manishearth opened #16823 "-moz-image-rect should accept string values too"
Currently, we only parse `-moz-image-rect(url(...), ...)`. However, it is also possible to specify a quoted string in place of the URL, like `-moz-image-rect("....", ....)`. We should add support for parsing this.

This should make the following reftests in gecko pass:

[code]

https://github.com/servo/servo/wiki/Property-hacking-guide may help in understanding how parsing works (this is only a pa

[2017-05-11 22:44] highfive commented on #16823
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-11 22:44] highfive commented on #16823
cc @emilio

[2017-05-11 22:45] nox commented on #16823
I'm rewriting everything in the image module, so this shouldn't be done now.

[2017-05-11 22:46] Manishearth commented on #16823
(un-easying this. could you drive-by fix this in your rewrite?)

[2017-05-11 22:47] nox commented on #16823
I can do that yes.

[2017-05-11 23:07] jdm commented on #16787
https://gist.github.com/jedi4ever/7677d62f1414c28a1a8c might be a way to do it. We'll keep an eye out for it happening again in the future.

[2017-05-12 00:52] bzbarsky opened #16825 "Need to implement inlinization of ruby kids"
Spec at https://drafts.csswg.org/css-ruby/#anon-gen-inlinize

The Gecko impl is in http://searchfox.org/mozilla-central/rev/cd8c561106d804e26bc09389f18f361846d005eb/layout/style/nsStyleContext.cpp#624-685 and note that it involves styles of not just your parent, to handle cases like `<ruby-thing><inline><block></block></inline>`, afaict.

Note to self: this would get implemented in components/styl

[2017-05-12 00:52] bzbarsky commented on #16825
Stylo bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1364274

[2017-05-12 01:06] Manishearth commented on #16825
@emilio another fixup, though I suspect we can make this an easy bug

[2017-05-12 01:14] bzbarsky commented on #16825
Note that due to https://github.com/w3c/csswg-drafts/issues/1355 the spec is more or less useless here.  Chances are, the only way to get various Gecko tests to pass is to clone Gecko's implementation.  Note that it's defined in terms of the style context tree and uses state from parent style contexts, which will make it extra fun to deal with in servo.

[2017-05-12 03:10] gterzian commented on #15934
@paulrouget thanks, I think it's time to write a first draft of this replacement of CompositorProxy, and see what the compiler has to say about the design...

[2017-05-12 06:10] daboross commented on #12015
Prelink looks like an awesome tool, but sadly it does not fix it on all systems. Output from running `prelink` on the binary on Gentoo:

[code]

[2017-05-12 08:31] SimonSapin commented on #16817
What is `std::mem::align_of::<_>()` for both of these structs? (A way to find out might be to add `assert_eq!` tests in `tests/unit/script/`).

Looking around in…

* http://doc.servo.org/script_layout_interface/struct.PartialPersistentLayoutData.html
* http://doc.servo.org/layout/data/struct.PersistentLayoutData.html

… it looks like they would both be word-aligned, but maybe I’m missing a `u64` s

[2017-05-12 09:02] dolftax opened #16830 "OPENSSL_1.0.0' not found (required by ./servo)"
Latest build from - https://download.servo.org/nightly/linux/servo-latest.tar.gz

[code]

System info
[code]

[2017-05-12 10:02] jaroslaw-weber opened #16832 "osx multi-screen problem / cannot interact with website"
・browser content size change when moving browser to screen with different resolution
・cant close, change website, interact with page. The only thing I can do is scroll a page.

[2017-05-12 10:28] #15638 closed

[2017-05-12 11:41] dolftax commented on #12053
[code]

@jdm

[2017-05-12 12:43] jdm commented on #16830
This is being tracked in #14203.

[2017-05-12 12:43] #16830 closed

[2017-05-12 12:45] jdm commented on #16832
This is probably an issue in [glutin](https://github.com/servo/glutin). I wonder if the upstream version of glutin deals with this better?

[2017-05-12 15:52] asajeffrey opened #16839 "Implement CSS Houdini Paint Worklets"
Draft spec: https://drafts.css-houdini.org/css-paint-api/
Houdini CSS issue for Servo: #13557.
Houdini Worklets issue for Servo: #16206.

[2017-05-12 15:57] mrobinson commented on #16405
I think I have a fix for this and hope to have it ready to post in the next couple days.

[2017-05-12 16:37] bzbarsky opened #16840 "Parse :dir into an enum with two values (ltr/rtl) as opposed to a string for the argument"
Would be cleaner in various ways.  We could either stop calling into Gecko to match it or generate the uint16_t* on the fly from the enum value easily.

[2017-05-12 16:38] asajeffrey commented on #13994
OK, worklets PR submitted, time to think about this again!

[2017-05-12 17:33] asajeffrey commented on #5669
Thanks to @cbrewster we have #12552 and #12685.

[2017-05-12 17:33] #5669 closed

[2017-05-12 18:21] AmjadKh opened #16842 "Crash when first open in Windows 10 x64"
When I downloaded the latest version (windows version as zip file) and extracted the file, and opening servo.exe, a window appears and then immediately crash and close.
I'm using laptop
Lenovo Ideapad 500 - 15isk,
Windows 10 x64,
8 GB RAM,
AMD Radeon Graphics

[2017-05-12 18:26] jdm commented on #16842
This sounds like #16393.

[2017-05-12 18:26] #16842 closed

[2017-05-12 18:34] AmjadKh commented on #16842
i tried servo.exe > log.txt
the content of log.txt is:

Failed to link shader program: Type mismatch: Type of _O;vClipMaskUvBounds;p0 different between shaders.
Type mismatch: Type of _O;vClipMaskUvBounds;p1 different between shaders.
Out of resource error.

called `Result::unwrap()` on an `Err` value: Link("Type mismatch: Type of _O;vClipMaskUvBounds;p0 different between shaders.\nType mismatch:

[2017-05-12 18:39] jdm commented on #16842
Oh, the windows nightly on download.servo.org is very old due to https://github.com/servo/servo/issues/16560.

[2017-05-12 18:40] highfive commented on #16840
cc @emilio

[2017-05-12 22:04] #14856 closed

[2017-05-12 22:12] cbrewster commented on #14854
Done in #16506

[2017-05-12 22:12] #14854 closed

[2017-05-12 22:28] cbrewster commented on #16777
I am also hitting this panic whenever running browser.html `./mach run -d -b`

[2017-05-13 03:15] #16817 closed

[2017-05-13 08:55] sendilkumarn commented on #13402
Instead of `MutNullableHeap` we have to change`MutNullableJS`.

We will have to change `or_init` with `borrow_with`, the latter returns &T.

I am looking for an option to define `HeapSizeOf` for the `lazycell` objects.

[2017-05-13 08:56] nox commented on #13402
I would prefer if we used mitochondria, given I maintain it, and thus we can change it faster if needs be.

[2017-05-13 09:00] sendilkumarn commented on #13402
Okayes let me have a look at that 👍

[2017-05-13 09:03] sendilkumarn commented on #13402
Is there any place to find out how to define the `HeapSize` ?

[2017-05-13 09:05] nox commented on #13402
There is no need to implement `HeapSize` for `mitochondria::OnceCell`, given `MutNullableJS` needs to be preserved as a wrapper of the `mitochondria` cell, and `JS<>`-like types don't own what they point to.

See this in js.rs:

[code]

[2017-05-13 09:17] sendilkumarn commented on #13402
Aren't we removing `MutNullableJS` reference?

[2017-05-13 09:25] nox commented on #13402
@sendilkumarn Using either `mitochondria` or `lazycell`, that doesn't change the fact that we need a wrapper about that, we can't just use these cells and put a `JS<T>` inside, that would require unsafe code.

[2017-05-13 16:20] larsbergstrom commented on #16820
That's correct, and our installer also blocks attempts to install Servo onto 32-bit operating systems here:
https://github.com/servo/servo/blob/master/support/windows/Servo.wxs.mako#L15

@metajack I don't think we have any plans for 32-bit support on Windows, right?

[2017-05-13 21:13] #15343 closed

[2017-05-14 01:19] WholeGrainGoats commented on #16479
I can't seem to find past names map in the htmlformelement.rs file. Do you know where I might find it?

[2017-05-14 01:21] emilio commented on #16840
Yeah, we should still have a third variant for serialization purposes, I guess.

For reference, this involves modifying [`non_ts_pseudo_class_list.rs`](https://github.com/servo/servo/blob/master/components/style/gecko/non_ts_pseudo_class_list.rs), and Gecko's [`selector_parser.rs`](https://github.com/servo/servo/blob/master/components/style/gecko/selector_parser.rs).

Ideally, we could modify the

[2017-05-14 01:21] highfive commented on #16840
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-14 01:22] emilio commented on #15162
If someone would be interested in taking #16840, I'll be happy to mentor it.

[2017-05-14 01:38] emilio commented on #16825
So in order to fix this we need to add some sort of flags to the `ComputedValues` struct (note that there are two definitions of this struct, one living in `components/style/properties/properties.mako.rs`, other in `components/style/gecko.mako.rs`). I don't have an immediately good name for this flags, we could call them something like `ComputedValueFlags`?

They should live in another module, `co

[2017-05-14 15:41] jdm commented on #16479
We do not implement the past names map yet. Adding support for it is required for the named getter.

[2017-05-14 15:43] jdm commented on #16479
If you have questions about how to implement the past names map, I am happy to answer them :)

[2017-05-14 18:24] canaltinova opened #16857 "Use accessors instead of public fields in Stylist"
In [Stylist struct](https://dxr.mozilla.org/servo/rev/dab2df356594bf89502fc5934d8c16a57e3fdf45/components/style/stylist.rs#61-158), we have 2 public fields named `device` and `rule_tree`. Like other fields, we should avoid using public fields and use getter and setter methods instead of accessing them directly.

[2017-05-14 18:24] highfive commented on #16857
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-14 18:24] highfive commented on #16857
cc @emilio

[2017-05-14 21:12] jonathandturner commented on #16405
@mrobinson - great! Would happy to test when you have something ready

[2017-05-14 21:31] jonathandturner commented on #16405
@mrobinson - Btw, I'd also be happy to help fix it since it's blocking me from some of the tests I'm trying to do, if you could spare a few minutes to point me in the right direction.

[2017-05-15 00:37] jdm commented on #16857
Can we make the fields not public?

[2017-05-15 01:22] upsuper commented on #15957
@hiikezoe I saw you wrote a FIXME in font.mako.rs referring this issue, but it is not clear to me what is left there. Could you clarify? It seems to me this issue can be considered fixed. Is there anything I'm missing?

[2017-05-15 01:59] upsuper commented on #15957
That sounds like part of `@font-feature-values` support which @chenpighead is currently working on in [bug 1355721](https://bugzilla.mozilla.org/show_bug.cgi?id=1355721). If that's the only remaining part, I think we can close this issue.

[2017-05-15 01:59] #15957 closed

[2017-05-15 06:08] paulrouget commented on #16809
/cc @glennw @meh (introduced in #7552)

[2017-05-15 06:11] paulrouget commented on #16808
/cc @glennw @pcwalton

[2017-05-15 06:15] paulrouget commented on #13994
@asajeffrey what's going to be the type of a "top frame"? WindowProxy? TopWindowProxy? BrowsingContext? TopBrowserContext? TopFrameId?

[2017-05-15 06:38] glennw commented on #16808
It basically just means "draw the current display list again" - sometimes this is required if the window is obscured and then exposed, depending on the OS etc.

[2017-05-15 08:24] paulrouget commented on #16808
Understood. Thank you.

[2017-05-15 08:24] #16808 closed

[2017-05-15 08:34] mrobinson commented on #16405
@jonathandturner: I've posted a PR now. If you have time to test it, that would be awesome!

[2017-05-15 11:15] MortimerGoro commented on #16753
Nice

FYI this API will be used to run WebVR AFrame demos on Servo.

[2017-05-15 11:29] canaltinova commented on #16857
Why not? We don't set these fields except constructor in geckolib build and we already have a set_device method for servo side. So we won't need additional setters for them. All we need are `device` method that returns `&Arc<Device>`,  `device_mut` that returns `&mut Arc<Device>` and a `rule_tree` method that returns `&RuleTree` for now. After that we can make them not public, right?

Note: We sho

[2017-05-15 11:41] nox opened #16868 "Clean up unsafe Document methods"
All the methods taking `*mut JSRuntime`, such as `handle_mouse_event` and friends should be `unsafe`, because they take a raw pointer and do dangerous things with it.

[2017-05-15 14:00] asajeffrey commented on #13994
TopLevelBrowsingContextId.

[2017-05-15 14:30] zombiefungus commented on #16840
@highfive: assign me

[2017-05-15 14:30] highfive commented on #16840
Hey @zombiefungus! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-15 15:10] hungrymonkey opened #16871 "Regression - Release build fails ./mach run --release tests/html/about-mozilla.html"
I am new to the project and I just decided to build the test release on Fedora. This build was used using yesterday clone.

`
./mach run --release tests/html/about-mozilla.html
WARN: Initializing a FreeType library build without subpixel AA enabled!
WARN: Initializing a FreeType library build without subpixel AA enabled!
WARN: Initializing a FreeType library build without subpixel AA enabled!
WARN

[2017-05-15 15:15] hungrymonkey commented on #16871
https://github.com/servo/servo/issues/16763

Same bug. Closing this report

[2017-05-15 15:15] #16871 closed

[2017-05-15 15:16] #16823 closed

[2017-05-15 15:16] #16542 closed

[2017-05-15 16:18] #16049 closed

[2017-05-15 18:25] MGageMorgan commented on #12015
@dabpross Don't worry, have yet to actually try it ;)

[2017-05-15 18:25] MGageMorgan commented on #12015
*@daboross

[2017-05-15 20:29] froydnj opened #16879 "fix cross compilation issues in build_gecko.rs"
There are a number of them, all stemming from `cfg!(target...)` evaluating to the target that the build script is being compiled for, not the target that our clang will be compiling for.

I'll be filing separate issues for each one, as some are easy to take care of and should be done first so we can get Stylo running on all the platforms Gecko supports on its infra, but some will require a bit mor

[2017-05-15 20:40] emilio commented on #16879
Related: https://github.com/servo/rust-bindgen/issues/593 and https://reviews.llvm.org/D32389.

Too bad we can't use LLVM trunk ;)

[2017-05-15 20:42] emilio commented on #16879
Though I guess in this case we could use Cargo's `TARGET`?

[2017-05-15 20:50] froydnj commented on #16879
That's what I was planning on doing here, yes.

[2017-05-15 21:38] #14972 closed

[2017-05-15 22:44] nox commented on #15342
Yes.

[2017-05-15 22:44] #15342 closed

[2017-05-16 00:27] mbrubeck opened #16887 "Upload stylo (geckolib) docs to doc.servo.org"
The command `./mach cargo-geckolib doc` will build documentation for the `geckoservo` crate and its dependencies, in the `target/geckolib/doc` directory.  It would be nice to have this run automatically by the [upload_docs.sh](https://github.com/servo/servo/blob/master/etc/ci/upload_docs.sh) script, and published to some subdirectory of https://doc.servo.org/ along with the main Servo docs.

[2017-05-16 00:27] highfive commented on #16887
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-16 00:27] highfive commented on #16887
cc @aneeshusa

[2017-05-16 01:31] Manishearth commented on #16788
@canaltinova shing said he's fine with one of us taking it. Lmk if you are; if you're too busy I'll take it since it unblocks tests

[2017-05-16 01:45] hiikezoe commented on #16788
Just for reference. I have a half-baked patch for this. There still needs some work though.

https://treeherder.mozilla.org/#/jobs?repo=try&revision=9802c881ce2148f3bf42a03ad32e73af3f35a959&selectedJob=98957795

[2017-05-16 02:13] Manishearth commented on #16788
Oh, okay. Go ahead then!

[2017-05-16 09:11] hiikezoe commented on #16788
@highfive assign me

[2017-05-16 09:11] highfive commented on #16788
Hey @hiikezoe! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-16 09:21] nox commented on #15296
I'm not sure `to_computed_value_non_negative` would make a lot of sense on `CalcLengthOrPercentage`, we can't know for sure whether `30px - 10%` is negative or not. `font-size` is a special snowflake though.

[2017-05-16 11:45] nox commented on #15296
Actually am wrong, but there should still not be any `to_computed_value_non_negative` method, instead `calc()` values should remember that they should clamp themselves when needed.

[2017-05-16 14:18] asajeffrey commented on #16574
My guess as to what's going on... Over in https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/layout/fragment.rs#L484, we have:
[code]
which calls https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/script/dom/node.rs#L1131:
[code]
This code assumes that every iframe element has a pipeline_id, but this isn't the case: only ifr

[2017-05-16 14:23] cbrewster commented on #16574
Hmm, if the iframe has been bound to the tree, it should always have a pipeline_id present, could there be a race condition somewhere?

[2017-05-16 14:28] asajeffrey commented on #16574
@cbrewster what if it's in the tree but doesn't have a src attribute? Won't https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/script/dom/htmliframeelement.rs#L212-L217 return without assigning a pipeline id?

[2017-05-16 14:39] cbrewster commented on #16574
@asajeffrey a nested browsing context is always created first when an iframe is bound to the tree, which will cause a synchronous load of about:blank.

https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/script/dom/htmliframeelement.rs#L745
https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/script/dom/htmliframeelement.rs#L24

[2017-05-16 14:46] #16405 closed

[2017-05-16 14:53] asajeffrey commented on #16574
@cbrewster I see what you mean, in particular https://github.com/servo/servo/blob/0388e11db2532d41a71e184cb2a1f46e5107b8f5/components/script/dom/htmliframeelement.rs#L182 sets the pipeline id for the initial about:blank load. Hmm, back to the drawing board.

[2017-05-16 20:06] hgallagher1993 commented on #16825
Ya so I'd be willing to take this on, I've done a few easy tagged issues but never a less easy so I'd probably need a bit of help with it

[2017-05-16 20:14] jdm commented on #16825
In that case, ask questions about anything that's unclear :)

[2017-05-16 21:36] jdm opened #16898 "Calling process::abort from crash handler re-triggers crash handler"
From a recent builder log:
[code]

[2017-05-16 21:57] hgallagher1993 commented on #16825
👍

[2017-05-17 00:29] jdm opened #16901 "Intermittent timeout in /_mozilla/css/box_shadow_blur_fixed.html"
[code]

[2017-05-17 01:04] #16898 closed

[2017-05-17 01:47] zbraniecki commented on #14239
I hit it on reddit.com. Also seems like it's the same as #13499

[2017-05-17 02:28] #16017 closed

[2017-05-17 02:28] #16020 closed

[2017-05-17 03:41] #13822 closed

[2017-05-17 04:14] hlieberman opened #16902 "URL results rendered unreadably"
In the latest servo nightly (Servo 0.0.1-15271f5), the results when typing into the URL bar are rendered as grey blocks of varying size.  The selected element, if any, renders correctly.

![screenshot from 2017-05-17 00-04-02](https://cloud.githubusercontent.com/assets/711517/26138213/7188cd5c-3a95-11e7-992e-7aefbcf0ae8b.png)

-- System Information:
Debian Release: 9.0
  APT prefers testing
  APT

[2017-05-17 05:09] jdm commented on #16902
I suspect https://github.com/servo/webrender/pull/1220 and related work. cc @kvark

[2017-05-17 08:41] NiLSPACE commented on #16902
I believe this is fixed when subpixel anti-aliasing is disabled. Could you try with `-Z disable_subpixel_aa`?

[2017-05-17 10:40] #16031 closed

[2017-05-17 11:12] kvark commented on #16902
I can repro and confirm that running with `-Z disable-subpixel-aa` works fine.

[2017-05-17 11:52] nox opened #16908 "Make MutationObserver::record_queue not hold Root values anymore"
This is in a DOM instance, so they don't need the additional rooting from `Root<T>`, those should use the `JS<T>` wrapper.

[2017-05-17 14:22] #15341 closed

[2017-05-17 16:12] kvark commented on #16902
I looked at it and found 2 problems:
  1. The LCD mode loading code in freetype that I wrote is incorrect. Freetype is giving us `bitmap.width` multiplied by 3, which I consider inconsistent with both the documentation and the other rendering modes. I have a fix for that.
  2. Text is blended incorrectly. This is unrelated to https://github.com/servo/webrender/pull/1220, and I don't yet have a fix

[2017-05-17 16:33] jdm commented on #16323
I can't figure out how to solve this issue, as described in #16660.

[2017-05-17 16:33] #16323 closed

[2017-05-17 16:59] nox commented on #16632
Why are try builds even ran from the same directories as actual builds?

[2017-05-17 18:04] jdm opened #16912 "Running WPT test with --no-pause-after-test and --debugger fails"
[code]

[2017-05-17 18:04] highfive commented on #16912
cc @wafflespeanut

[2017-05-17 19:03] #16879 closed

[2017-05-17 20:36] jdm commented on #16678
The way to solve this is to follow Gecko's example. Pass sequence types by reference, and have a SequenceRooter stack value in the generated bindinds which ensures the sequence does not move and is registered with the GC so it can trace its contents. Additionally, just store the raw GC pointers inside the vector, rather than handles or heaps.

For future reference:
* https://dxr.mozilla.org/mozill

[2017-05-17 20:38] jdm commented on #16678
My outstanding question is how stuff like https://dxr.mozilla.org/mozilla-central/rev/41958333867b0f537271dbd4cb4ba9e8a67a85a8/dom/console/Console.cpp#641 is safe in the presence of a moving GC, since I don't see how the sequence values would trigger barriers correctly.

[2017-05-17 21:21] KiChjang commented on #16678
If we're going to such lengths to solve this, would it be easier to solve for `sequence<object>` instead? Or would this approach also solve the same problem?

[2017-05-17 23:11] #16206 closed

[2017-05-18 00:43] glennw commented on #16902
A fix for this is https://github.com/servo/webrender/pull/1267 - once it lands in WR we'll need to also get the update in Servo before the fix is visible.

[2017-05-18 01:31] synlestidae commented on #16705
@highfive assign me

[2017-05-18 01:31] highfive commented on #16705
Hey @synlestidae! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-18 01:37] jonathandturner opened #16919 "Windows nightly not updating"
I've been waiting to see when some of the recent PRs will land in the Windows nightly and it seems to be that the nightly isn't being updated as I haven't seen them land in the last few days.

Can anyone confirm?

[2017-05-18 01:38] #16248 closed

[2017-05-18 01:48] jdm commented on #16919
Yes. There's another issue filed several weeks ago about this. @metajack knows more details.

[2017-05-18 01:50] jdm commented on #16678
This solution should generalize to object sequences as well.

[2017-05-18 02:03] jonathandturner opened #16921 "mach build complains virtualenv isn't installed when it is"
From a fresh Windows machine I'm building Servo on, after installing python and then installing virtualenv, I'm seeing this message:

[code]

Are there additional steps after installing virtualenv (eg putting an additional dir in the PATH)?  If so, we should add them to the build directions.

[2017-05-18 02:09] jonathandturner commented on #16921
Looks like both c:\python27 and c:\python27\scripts need to be in the PATH.  We may want to explicitly call this out so people can easily debug this issue.

[2017-05-18 02:17] synlestidae commented on #16705
Figured this is a good first contribution. Not that this depends on it, but will implementing window.closed be useful before #13241? Or #13997?

[2017-05-18 02:23] atouchet commented on #16919
This was filed as #16560. It would really be nice to get this dealt with. The Windows build on the Servo website is currently a month out of date.

[2017-05-18 02:28] jonathandturner commented on #16919
I'm fine closing this in lieu of #16560.

[2017-05-18 02:28] #16919 closed

[2017-05-18 02:28] jdm opened #16922 "Intermittent timeout in /html/semantics/embedded-content/media-elements/networkState_during_progress.html"
[code]

[2017-05-18 04:51] jonathandturner opened #16923 "Error opening reddit in Windows Servo"
From the showcase link:

assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-10cc59dd2e
### Backtrace:
[code]

[2017-05-18 04:58] jonathandturner opened #16924 "Scrolling with touch on Windows doesn't work"
This may be a known issue, but currently you can't scroll in Windows using the touchscreen.  Instead, you must do the scrolling via, eg, the touchpad.

[2017-05-18 05:06] jonathandturner opened #16925 "Scrolling in Windows noticeably slower than other browsers"
For the same hardware/setup, I'm seeing scrolling in Windows being noticeably slower than other browsers.  I made sure I was running in release mode, and still see the behaviour.

Eyeballing it, it seems that we're seeing:

* Slow detection that a scrolling event is occuring.  Other browsers seem to switch to scrolling quicker than Servo.
* Sputtering scrolling.  The scroll isn't smooth and contin

[2017-05-18 10:38] nox opened #16927 "Make all non-thread-safe nsCSSValue methods unsafe"
For example, `nsCSSValue::set_pair_list` is currently unsound, because it cannot know whether the various set calls change refcounts or not.

[2017-05-18 10:38] highfive commented on #16927
cc @emilio

[2017-05-18 13:23] jdm commented on #16777
I reproduce this on reddit.com.

[2017-05-18 13:28] jdm commented on #16777
[code]

[2017-05-18 13:31] jdm commented on #16777
[code]

[2017-05-18 14:24] #15296 closed

[2017-05-18 14:40] larsbergstrom commented on #16560
Should we consider rolling back the manual removal of the mingw stuff for now from the Windows builders until we can do the python2 rewrite?

[2017-05-18 15:25] asajeffrey commented on #13994
Top-level browsing context ids are #16916.

[2017-05-18 15:40] asajeffrey commented on #13994
Doing an audit of the places we're using the root browsing context, most of them it's pretty obvious how to remove them. There are a few annoying cases though:
* Generating crash reports for non-pipeline panics. In general we probably want the embedding application to handle logging and crash reporting, not servo.
* Where should key events be routed if there's no focused pipeline?
* There are some

[2017-05-18 15:53] jdm commented on #13994
I'm not clear how we would end up with no focused pipeline.

[2017-05-18 16:11] asajeffrey commented on #13994
Key events that arrive before the `Focus` message? It's probably OK to just discard such key events.

[2017-05-18 16:50] jdm opened #16936 "Avoid running mutation observer algorithms if no mutation observers exist"
For example, we currently iterate over all the ancestors of a node when modifying an attribute. That seems wasteful!

[2017-05-18 16:59] paulrouget commented on #13994
Agreed.

Within any top level browsing context, there is one focused pipeline.
As for which top level browsing context is focused, it's a notion that is up to the embedder. The embedder decides to which top level browsing context to send the key events to.

Wouldn't that be for most of the places?

I would expect any call to Servo to come with a top level browsing context id.

[2017-05-18 18:24] mbrubeck commented on #15460
Fixed by #16297.

[2017-05-18 18:24] #15460 closed

[2017-05-18 19:19] ccarruitero commented on #16887
I'll work on this

[2017-05-18 20:23] glennw commented on #16777
@jdm I'll fix this today - the assert is incorrect.

[2017-05-18 20:52] aneeshusa commented on #16560
I updated the PR, I don't think I actually needed to make any changes for it to work on Python 2 instead of 3 :)

[2017-05-18 21:37] glennw commented on #16777
In the interim, until this lands in Servo - you should be able to prevent the assertion by running with an extra option - ```-Z disable-subpixel-aa```

[2017-05-18 22:17] asajeffrey commented on #13994
Another tricky case is webdriver, which assumes there's a root browsing context. Looking at the spec, I can't really tell what's meant to happen when a new session is created. https://www.w3.org/TR/webdriver/#new-session doesn't say how to initialize the top-level browsing context of the session. @jgraham?

[2017-05-18 23:28] highfive commented on #15726
cc @emilio

[2017-05-18 23:45] #15311 closed

[2017-05-19 01:43] #3322 closed

[2017-05-19 02:24] WholeGrainGoats commented on #16479
@jdm I'm not quite sure how to implement this. I understand from the documentation that the map is member variable in htmlformelement and that the bindings will handle the lifetimes of the object and not its implementation. So I figure that all the info that I'd need sits on the rust side, but I don't know how I'm to keep track of the changes made on each of the children of htmlformelement. Should

[2017-05-19 03:01] HeyZoos commented on #16857
@highfive: assign me

[2017-05-19 03:01] highfive commented on #16857
Hey @HeyZoos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-19 05:21] #16922 closed

[2017-05-19 10:31] wafflespeanut opened #16949 "Move grid types to generic module"
Lately, we've been translating most of the predefined types to generic alternatives (so that they share their `ToCss` implementations). They all live in `components/style/values/generics`. There are some generic types in `values/specified/grid.rs` which should be moved to `values/generics/grid.rs` (a new module).

Note that we shouldn't move everything - only the generic impls and types (for examp

[2017-05-19 10:31] highfive commented on #16949
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-19 10:53] sviter commented on #16405
This issue is still present in latest servo windows nightly build

[2017-05-19 10:54] mrobinson commented on #16405
@sviter Is there a particular page where you see this issue?

[2017-05-19 11:03] sviter commented on #16405
@mrobinson I've tried wikipedia, servo and rust web-sites from start page

[2017-05-19 13:42] jdm opened #16951 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/misc/shader-with-reserved-words.html"
[code]

[2017-05-19 15:30] MortimerGoro opened #16952 "GC crash running A-Frame demos"
[code]

[2017-05-19 15:37] MortimerGoro commented on #16952
Steps to reproduce:

- Compile latest upstream servo in release with https://github.com/servo/servo/pull/16933 and https://github.com/servo/servo/pull/16867 included
-  Set "dom.mutation_observer.enabled": true in pref.json
- Git clone https://github.com/aframevr/aframe/
- Run server in the rrot folder (I use `python -m SimpleHTTPServer`)
- Remove `stats` from ` <a-scene stats>` in tests/animation

[2017-05-19 15:50] MortimerGoro commented on #16952
@jdm I'm very interested in the way you debug this kind of crashes. Is there any debug param to get more specific info? (e.g. the kind of JS<DOMObject> or JSObject where the crash happened)

[2017-05-19 15:52] jdm commented on #16952
First step is always to enable the debug-mozjs mode in the servo build config (copy servobuild.example to .servobuild and modify it).

[2017-05-19 16:02] jdm commented on #16952
[code]

[2017-05-19 16:05] MortimerGoro commented on #16952
@jdm does that mean a non rooted JSVal somewhere?

[2017-05-19 16:07] jdm commented on #16952
More investigation required before drawing any conclusions, unfortunately.

[2017-05-19 17:25] jdm opened #16955 "Animations behave different in headless builds"
This is a placeholder to investigate the fact that #16952 does not reproduce when run headlessly, which is really annoying.

[2017-05-19 17:36] cbrewster commented on #16405
The windows nightly upload is currently broken, so you are probably using an out of date version. See #16560

[2017-05-19 17:37] jdm commented on #16955
Well, it reproduces on Mac just fine in headless mode. Not sure what's going on in Linux.

[2017-05-19 18:01] #15409 closed

[2017-05-19 18:19] jdm commented on #16952
I'm attempting to capture this under [rr](https://github.com/mozilla/rr/), but I'm having trouble reproducing it on my Linux box. The goal of a recording would be to set a watchpoint on the jsvalue that is yielding the assertion and see what code creates it.

[2017-05-19 18:25] jonathandturner commented on #16405
Unfortunately, yes, windows nightly isn't currently updating. Hoping we can get that fixed soon. To see this fix, you currently have to build from source.

[2017-05-19 18:48] MortimerGoro commented on #16952
I tried building with --debug-mozjs but I don't get the crash in debug-mozjs mode. Only in release!

[2017-05-20 02:37] #15375 closed

[2017-05-20 09:08] MaloJaffre commented on #16949
I'll try to have a PR done today.

@highfive: assign me

[2017-05-20 09:08] highfive commented on #16949
Hey @MaloJaffre! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-20 12:12] nox opened #16965 "Properly serialize identifiers in the counter-increment property"
The function `serialize_identifier` should be used in the `ToCss` impl for the `counter-increment` property, in `counters.mako.rs`.

[2017-05-20 12:12] highfive commented on #16965
cc @emilio

[2017-05-20 12:23] nox opened #16966 "Don't use transmute to convert gecko values to font weights"
See `computed_value::T::from_gecko_weight` for the `font-weight` property in `font.mako.rs`.

[2017-05-20 12:23] highfive commented on #16966
cc @emilio

[2017-05-20 16:07] luisbg commented on #15162
Hi, joining the group here of people interested in playing with Servo code :smiley:

I'm a GStreamer, Linux kernel and more developer. Having great fun with Rust. Very interested in learning the internals of Stylo.

[2017-05-20 17:18] emilio opened #16969 "Incremental table layout border-width updates are broken."
From #16967 (which includes #16906).

tests/wpt/css-tests/css21_dev/html4/border-collapse-dynamic-table-002.htm has started failing.

That tests changes the `style` attribute of the `<table>` element, setting the `border-width` property dynamically.

Before that PR, we cascaded all the way down the table, and did layout on that. After that PR, we don't recascade down the table, because we see that

[2017-05-20 17:29] emilio commented on #16969
The key here is that we detect that the `<tbody>` style hasn't changed, and thus avoid visiting its children.

That's totally fine (or should be), but it makes incremental layout hate this, presumably because `<tr>`s look at the parent style to lay out themselves.

Returning unconditionally `StyleDifference::Changed` from `RestyleDamage::compute_style_difference` will fix this testcase, but it's t

[2017-05-20 21:02] jrmuizel commented on #7578
rust-clipboard has now been re-licensed as Apache-2.0 so clipboard support can be re-added.

[2017-05-21 01:06] WholeGrainGoats commented on #16479
Think I may have found what I'm looking for with the attribute list within elements. Would love your input if I'm still way off base.

[2017-05-21 06:49] voracity commented on #16771
Identical error here.

My specs:
OS: Windows 7 Home Premium 64 bit
CPU: i7 2630QM
GPU: Intel HD 3000
GPU driver version: 9.17.10.4229

[2017-05-21 09:25] manfredbrandl opened #16977 "std:i32 unused in components/geometry/lib.rs"
[code]

[2017-05-21 09:38] manfredbrandl opened #16978 "RestyleReplacements unused in components/script/dom/document.rs"
[code]
@highfive: assign me

[2017-05-21 09:50] nox commented on #16977
I'm drive-by fixing this in #16973.

[2017-05-21 09:50] highfive commented on #16978
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-21 12:46] manfredbrandl commented on #16978
@highfive: assign me

[2017-05-21 12:46] highfive commented on #16978
Hey @manfredbrandl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-21 12:48] manfredbrandl commented on #16978
waiting for merge of #16979

[2017-05-21 12:56] emilio opened #16980 "Style issues in components/style/properties/longhand/box.mako.rs"
There are a few occurrences of:

[code]

There should be a space after the comma between the arguments.

[2017-05-21 12:56] highfive commented on #16980
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-21 13:53] jdm opened #16982 "WebGL tests can panic with "already mutably borrowed""
[code]

[2017-05-21 13:55] jdm commented on #16982
This is the first time I've seen it, but the PR that first showed these failures were definitely not the cause.

cc @Manishearth @bholley

[2017-05-21 15:00] achiwhane commented on #16980
@highfive assign me

[2017-05-21 15:00] highfive commented on #16980
Hey @achiwhane! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-21 15:15] emilio commented on #16982
So my best bet here, based on the stacks (which aren't that helpful really), is that we're doing layout on an element (which borrows the `PersistentLayoutData` mutably to set the flow construction result), while that element is still in the style sharing cache, where we borrow the style to share it with siblings.

This is likely a regression from long time ago, but should've been exacerbated by #1

[2017-05-21 15:20] emilio commented on #16982
If my hypothesis is true (does it sound reasonable @bholley?) I guess there are two solutions:

 * The simplest one is just storing a reference to the style in the cache as it was before.
 * The slightly more complicated but probably worth it, is splitting the servo data between "style data", which is immutable during flow construction, and thus we can read it from the cache fearlessly, and "layou

[2017-05-21 15:42] jdm commented on #16982
This is the first instance I've seen, and both crashes happened in the same test run.

[2017-05-21 15:44] emilio commented on #16982
I opened https://github.com/servo/servo/pull/16985 to ensure that we don't mutate the style data from layout.

This does _not_ fix this, though, since we still store them in the same `AtomicRefCell`, but that will change afterwards.

[2017-05-21 23:06] sophiajt opened #16991 "Duplicate title bars"
I'm seeing multiple title bars/window titles for a given Servo window.

Eg:

![screen shot 2017-05-22 at 11 04 50 am](https://cloud.githubusercontent.com/assets/547158/26288108/a0ff3222-3ede-11e7-9129-c3579e146578.png)

Apologies if a duplicate, I looked but didn't see one.

[2017-05-21 23:15] jdm commented on #16991
Is this running Servo directly or using browser.html?

[2017-05-21 23:17] jonathandturner commented on #16991
Directly

[2017-05-22 01:26] jdm commented on #16479
The more I read the specification's description of the past names map, the weirder it becomes. It appears that you do not need to track changes to the children of a form element (as sensible as that might seem!). Instead, the specification describes behaviour that allows [this script](http://software.hixie.ch/utilities/js/live-dom-viewer/saved/5197) to show `undefined` for the input element's orig

[2017-05-22 01:44] jonathandturner opened #16992 "Demo: Spheres no longer working"
The Spheres demo doesn't seem to work correctly.  There are no animations and the spheres appear to be stuck in the top left corner.

![screen shot 2017-05-22 at 1 43 27 pm](https://cloud.githubusercontent.com/assets/547158/26289493/b558dc4e-3ef4-11e7-9645-fbf4b799d55c.png)

Will see if I can bisect this today

[2017-05-22 02:03] jdm commented on #16992
Tracked in #15689. No need to bisect.

[2017-05-22 02:03] #16992 closed

[2017-05-22 02:08] jdm commented on #16787
Looks like this might be happening in #16917 again (but for webrender).

[2017-05-22 02:17] jonathandturner commented on #16992
Roger that, thanks @jdm

[2017-05-22 02:22] WholeGrainGoats commented on #16479
Thanks so much! This makes a lot more sense.

[2017-05-22 09:00] #16788 closed

[2017-05-22 12:02] MortimerGoro commented on #16952
I was able to record and play rr session.

This is the backtrace of the crash:

[code]

Results with` (rr) watch *0x7f36463e1340`

First breakpoint:
[code]
Then a lot of breakpoints similar to this:

[code]

[2017-05-22 12:07] MortimerGoro commented on #16952
Results with` (rr) watch *0x7f3641554f28`

A single breakpoint coming from Servo (next ones from mozjs internals)

[code]

[2017-05-22 12:10] MortimerGoro commented on #16952
Are these the right values to watch? If that's the case the JSValue seems to be created by `script::dom::globalscope::GlobalScope::evaluate_script_on_global_with_result` or `script::dom::element::Element::push_new_attribute`

[2017-05-22 12:26] MortimerGoro commented on #16952
More info, I didn't know the reverse-continue command (rr is amazing)

Watch *0x7f3641554f28  points to `script::dom::bindings::codegen::Bindings::CustomEventBinding::CustomEventBinding::_constructor`

[code]

[2017-05-22 13:20] #16777 closed

[2017-05-22 15:33] CAfromCA commented on #16771
It looks like a recent fix for an Intel HD 4400 driver bug (https://github.com/servo/webrender/issues/1251, picked up by Servo a few hours ago in #16917) did not resolve this issue.

That wasn't surprising after I read the WR issue details, but I saw "Intel" and got excited for a moment.

[2017-05-22 16:37] #16949 closed

[2017-05-22 18:50] jdm commented on #16952
That's very helpful! This is almost certainly caused by CustomEventInit::new, which returns a struct containing a `Heap<JSVal>`, causing the heap value to be moved after it's initialized with a real JS GC pointer, meaning it's another instance of https://github.com/servo/rust-mozjs/issues/343.

[2017-05-22 20:55] MortimerGoro commented on #16952
I blamed that Heap<JSVal> too and removet it completelly from the CustomEvent struct (just to test) but the crash still happens with the JSVal removed. So, I'm a bit confused now... Maybe we have more than one kind of crash (still have to try to record another rr session) or the error is not caused by that Heap<JSVal>

[2017-05-22 23:11] #15726 closed

[2017-05-22 23:37] jdm commented on #16952
Did you remove the `any` value from the CustomEventInit dictionary?

[2017-05-23 04:06] #16857 closed

[2017-05-23 07:25] #16978 closed

[2017-05-23 10:52] MortimerGoro commented on #16952
Confirmed, removing the any value from the CustomEventInit dictionary works. The bug is in the bindgen code that uses Heap::new().

So, whats the plan to fix this? Change the codegen or find a way to make Heap::new() safe?

[2017-05-23 11:25] jesusbv commented on #15162
Hi, I'm a NodeJS/Python developer, but I want to move to Rust. I have experience in C/C++  and I'd love to contribute to Servo.
Also, experience in OOP, REST APIs(mostly web development) if that helps.

[2017-05-23 13:00] jdm commented on #16952
I am working on making WebIDL dictionary values containing GC pointers safe by fixing the generated code.

[2017-05-23 13:55] emilio opened #17007 "Intermittent PASS in /css-values-3_dev/html/vh-support-transform-origin.htm"
[code]

[2017-05-23 15:37] bzbarsky commented on #13702
Note that parsing something you don't implement is generally a bad idea for CSS.  It breaks @supports detection, if nothing else.

[2017-05-23 15:39] bzbarsky opened #17009 "text-overflow handling is broken when there are inlines involved"
Simple testcase:

    <!doctype html>
    <style>
      div { text-overflow: ellipsis; width: 100px; white-space: nowrap; overflow: hidden }
    </style>
    <div><span>Left-to-right text goes here and is very long</span></div>

This should be ellipsized but is not in servo.

[2017-05-23 15:40] emilio commented on #15144
Turns out, while not super-complex, it's super-broken, d'oh :)

(https://github.com/servo/servo/issues/17009)

[2017-05-23 17:29] Manishearth commented on #16518
Are you still working on this?

[2017-05-23 17:34] jdm commented on #15994
Unassigning due to lack of response.

[2017-05-23 17:36] jdm commented on #14975
@moonlightdrive Are you still working on this?

[2017-05-23 17:36] jdm commented on #13035
@glennw Ping about the question in my previous comment.

[2017-05-23 17:40] Manishearth commented on #15994
(reserving for interns)

[2017-05-23 17:41] Manishearth commented on #15834
Are you still working on this?

[2017-05-23 17:43] Manishearth commented on #4784
Can this be closed?

[2017-05-23 17:43] Manishearth commented on #8539
Any updates?

[2017-05-23 17:45] jrvidal commented on #13035
I've been digging a little bit more on this without much success. One interesting detail is that the instantaneous panic only gets triggered on macOS due to:
[code]
If I understand correctly, this readback context is a fallback that only gets triggered in macOS (maybe related, https://github.com/emilio/rust-offscreen-rendering-context/issues/82).

[2017-05-23 18:07] jdm commented on #4784
Yes.

[2017-05-23 18:07] #4784 closed

[2017-05-23 18:35] Eijebong commented on #16556
Let's do this !

- [ ] https://github.com/servo/app_units
- [x] https://github.com/TyOverby/bincode/commit/251f77ecd36ba5399a1c281aaea0f94a28b66bdf
- [x] https://github.com/servo/core-graphics-rs/pull/84
- [ ] https://github.com/servo/rust-cssparser
- [ ] https://github.com/vvuk/dwrote-rs
- [ ] https://github.com/servo/euclid
- [ ] https://github.com/nox/hyper_serde
- [ ] https://github.com/servo/

[2017-05-23 18:50] Manishearth commented on #16518
Reassigning to Simran, please let us know if you're still interested on working on something and I'll find a different bug.

[2017-05-23 20:06] jdm opened #17011 "Unions containing objects and primitive types are broken when converting from a JS value"
The FromJSValConvertible implementation for `StringOrObject` (from FileReader.webidl) has this:
[code]

[2017-05-23 20:09] jdm commented on #17011
This is the `hasObjectTypes` branch in CGUnionStructs.

[2017-05-23 23:46] sophiajt opened #17012 "Metabug for Rust-related issues"
This metabug tracks issues across multiple repos that impact Servo and Servo-related projects.  The hope here is to have a way to coordinate possible fixes and to raise awareness of the specific impact of each issue.

# High priority

**add thiscall calling convention support**
~~https://github.com/rust-lang/rust/pull/42058~~ (done!)
**Reason:** blocks Stylo from working on 32-bit Windows

# Mediu

[2017-05-23 23:46] jonathandturner commented on #17012
cc @aturon @nikomatsakis

[2017-05-24 01:32] Manishearth commented on #15307
We seem to handle everything except `grid` and `grid-template`, which are both shorthands.

@wafflespeanut @canaltinova do you have time to fix those? if not I'll just finish them up

[2017-05-24 01:42] wafflespeanut commented on #15307
I have a patch for `grid-template` (will open a PR today). I'm fine with working on `grid` if @canaltinova has other interesting stuff to work on :)

[2017-05-24 01:45] Manishearth commented on #15307
okay, thanks. Probably best if you do grid, since it's pretty straightforward once you have grid-template.

[2017-05-24 02:09] jonathandturner commented on #16703
Pinging @glennw - any thoughts on this one?

[2017-05-24 02:12] glennw commented on #16703
@jonathandturner Not off the top of my head - will need to debug it carefully.

[2017-05-24 05:32] upsuper commented on #15032
This has been fixed by @Manishearth.

[2017-05-24 05:32] #15032 closed

[2017-05-24 05:33] upsuper commented on #15999
This seem to have been fixed.

[2017-05-24 05:33] #15999 closed

[2017-05-24 05:33] upsuper commented on #15950
This seem to have been fixed.

[2017-05-24 05:33] #15950 closed

[2017-05-24 05:36] upsuper commented on #15346
This is still a problem for time unit.

[2017-05-24 05:37] upsuper commented on #15006
It seems to have been fixed by #16915.

[2017-05-24 05:37] #15006 closed

[2017-05-24 12:12] #16980 closed

[2017-05-24 13:41] nox commented on #16556
I don't remember if we properly removed serde from core-graphics and already used that in servo itself...

[2017-05-24 13:43] nox commented on #16556
[Seems like we did.](https://github.com/servo/servo/pull/16512)

[2017-05-24 13:43] Eijebong commented on #16556
I don't see serde here https://github.com/servo/core-graphics-rs/blob/master/Cargo.toml so i think you did

[2017-05-24 13:49] nox commented on #16556
You included bumps in all the PRs, which forbids us to make a PR on Servo to do a try run with `[replace]`s.

[2017-05-24 13:52] Eijebong commented on #16556
Oh :( I can remove all bumps if you want me to

[2017-05-24 14:09] Eijebong commented on #16556
I can do that ^^

[2017-05-24 15:25] Mark-Simulacrum commented on #15391
This was possibly fixed on the rustc side (https://github.com/rust-lang/rust/issues/39568#issuecomment-281821640), could someone here retest?

[2017-05-24 16:33] atouchet commented on #16560
I believe this requires https://github.com/servo/saltfs/pull/675 to be merged. The builds on the website are still out of date.

[2017-05-24 18:15] emilio commented on #15346
@luisbg, you mentioned you were interested on stylo, would you like to take this one?

[2017-05-24 20:23] jdm commented on #16678
[code]

[2017-05-24 21:13] glennw opened #17029 "Display lists are sent to WR after mouse move events, even when nothing has changed."
We should be able to detect in layout that nothing changed, and avoid sending a new DL and generating a frame at all.

[2017-05-24 21:54] KiChjang commented on #16678
i.e. We need support for CustomAutoRooter but I recall that it's ways ahead of what we can do now?

[2017-05-24 22:24] #16966 closed

[2017-05-25 01:12] jdm commented on #16678
Yeah, CustomAutoRooter is based around:
a) C++ inheritance
b) not moving
It's exactly like `Rooted<T>` in that regard (which we support via the `rooted!` macro).

[2017-05-25 02:16] moonlightdrive commented on #14975
I am actually a little unclear on where (which repository) to make this change. I have tried the following:

I tried making the fix by changing the `Serializer::new` method in html5ever. I am not sure how to get the tagname for the `html_name` field, without importing types from servo. It seems like html5ever is a more general library that should not depend on servo, correct?

Also took a look at

[2017-05-25 05:52] upsuper commented on #15772
FWIW, Chrome supports the new spec. A simple testcase:
[code]

I'm going to change Gecko's behavior to match the spec in [bug 1188074](https://bugzilla.mozilla.org/show_bug.cgi?id=1188074) also for behavior of background shorthand. So closing this issue.

[2017-05-25 05:52] #15772 closed

[2017-05-25 06:40] wafflespeanut opened #17034 "Intermittent CRASH in /webgl/conformance-1.0.3/conformance/glsl/misc/shaders-with-mis-matching-uniforms.html"
▶ CRASH [expected OK] /webgl/conformance-1.0.3/conformance/glsl/misc/shaders-with-mis-matching-uniforms.html
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │
    │ test: vertex shader with uniform bool and fragment shader with uniform float with the same name should fail to link
    │ *** Error linking program '[object WebGLProgram]':error: uniform

[2017-05-25 06:40] wafflespeanut commented on #17034
Occurred in #17021

[2017-05-25 07:07] #15307 closed

[2017-05-25 07:58] emilio commented on #17034
Dupe of #16982

[2017-05-25 07:58] #17034 closed

[2017-05-25 16:21] jdm opened #17038 "Add an API for tests to force a webgl canvas context error"
Per https://github.com/servo/servo/pull/16867#issuecomment-304044721.

[2017-05-25 16:25] emilio commented on #17038
Adding a pref should be enough, happy to mentor this one.

[2017-05-25 17:12] jdm commented on #17038
More specifically, we can add code to `WebGLRenderingContext::new` that checks a [preference](https://dxr.mozilla.org/servo/source/resources/prefs.json) like "webgl.testing.context_creation_error" and returns an error immediately. We should then update `tests/wpt/mozilla/meta/mozilla/webgl/context_creation_error.html.ini` to set this preference to true so the test passes once more.

[2017-05-25 17:13] jdm commented on #17038
@jesusbv Would you like to work on this?

[2017-05-25 20:28] jdm opened #17043 "Intermittent timeout in /css-transforms-1_dev/html/background-attachment-fixed-inside-transform-1.htm"
[code]

[2017-05-25 22:30] SWW13 commented on #17038
I'd like to work on this. @jesusbv if you're interested too you can gladly take it, I'm not going to work on it till tomorrow.

[2017-05-26 00:59] #16518 closed

[2017-05-26 01:19] larsbergstrom opened #17045 "Linux & macOS nightlies not uploading"
http://build.servo.org/builders/linux-nightly/builds/337/steps/shell__2/logs/stdio

On servo-linux1:
[code]

cc @edunham @aneeshusa

[2017-05-26 01:19] highfive commented on #17045
cc @aneeshusa

[2017-05-26 01:20] larsbergstrom commented on #17045
Same issue on macOS. See:
http://build.servo.org/builders/mac-nightly/builds/341

[2017-05-26 02:32] #16982 closed

[2017-05-26 02:48] atouchet commented on #16560
@aneeshusa @larsbergstrom @metajack I don't think this has actually been fixed yet. The latest nightly on the Servo website is still a build from last month. Can this issue be re-opened?

[2017-05-26 03:19] jdm commented on #16560
@edunham https://github.com/servo/saltfs/pull/675 is still marked needs deploy. Do you know when we last deployed the latest saltfs changes?

[2017-05-26 03:20] jdm commented on #17045
This should be fixed by deploying https://github.com/servo/saltfs/pull/675 as far as I know.

[2017-05-26 03:54] paulrouget opened #17047 "Prompt user for URL on Ctrl/Cmd-L"
When the user presses Ctrl-L (or Cmd-L on mac), the glutin port should show a prompt and ask for a new URL.

We should use tinyfiledialogs-rs. Here is an example of how to use a prompt: https://github.com/jdm/tinyfiledialogs-rs/blob/4bf666ab49bf9aafcbbc34b6d4383db00d737654/examples/main.rs#L10

The reload (Ctrl-R) keybinding can be used as an example: https://github.com/servo/servo/blob/764da7ba39

[2017-05-26 03:55] jklepatch commented on #17047
Happy to work on that :)

[2017-05-26 03:56] paulrouget commented on #17047
@jklepatch thanks. Let me know if you need help.

[2017-05-26 04:06] jklepatch commented on #16518
Ooops, sorry for dropping this..

[2017-05-26 04:50] jklepatch opened #17048 "Typo in a comment of browsingcontext.rs"
"Each browsing contest..." should be Each browsing context..."

[2017-05-26 04:59] KamBha opened #17051 "Servo crashes on startup"
I installed Servo on a windows 7 machine using the installer and it crashes when I try to start it up.

Is there a crash report I can attach to this issue?

[2017-05-26 05:24] jdm commented on #17051
This is almost certainly #16771 or #16393.

[2017-05-26 05:24] #17051 closed

[2017-05-26 05:30] luisbg commented on #15346
@emilio sure! I am currently traveling for work but I can start looking into this issue on Sunday.

Any advice on how to reproduce this bug?

[2017-05-26 06:36] #17048 closed

[2017-05-26 07:06] upsuper commented on #15346
[code]

Other browsers show "1ms", while Stylo and Servo would show "0.001s".

[2017-05-26 07:40] paulrouget commented on #16991
This is because the glutin window doesn't disable Sierra's tabbar.

Click `View -> Show Tab Bar` to toggle it.

We need to add something like this to the cocoa window I think:

[code]

… here: https://github.com/servo/glutin/blob/4c31b8b16f703766d4aa8d45762dab76f1684e86/src/api/cocoa/mod.rs#L507

[2017-05-26 10:55] luisbg commented on #15346
@upsuper I just reproduced it, thanks for sharing. Will investigate soon.

[2017-05-26 11:07] upsuper commented on #15346
I think what you basically need to do is to extend [`values::specified::Time`](https://github.com/servo/servo/blob/7682de499ce6c7f473c8f2744c4c327a2e6eda73/components/style/values/specified/mod.rs#L559-L565) to include the original unit, rather than converting to seconds directly.

[2017-05-26 13:22] bholley opened #17054 "LRUCache should store its vector of entries inline"
We're trying to remove heap-allocations when creating ThreadLocalStyleContext, and ThreadLocalStyleContext contains two LRUCaches. This should be easy and impactful to optimize.

LRUCache lives in components/style/cache.rs. It currently uses a VecDeque to manage a circular list of entries (to avoid copying when adding elements to the front of the list), which never grows. We can avoid the heap-all

[2017-05-26 13:23] highfive commented on #17054
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-26 13:23] highfive commented on #17054
cc @emilio

[2017-05-26 13:23] bholley commented on #17054
CC @emilio @nox @SimonSapin @bzbarsky

[2017-05-26 13:28] bholley commented on #17054
Note that I'm filing this as an easy issue in case somebody wants to grab it and knock it out. But it's high-priority enough that I'll probably do it next week of nobody does it before then.

[2017-05-26 16:32] #16705 closed

[2017-05-26 23:39] kenan-rhoton commented on #17054
I'm new to Servo, but I'd be willing to give this a shot during the weekend if nobody else does :)

I'll try to implement your ArrayVecDeque suggestion

[2017-05-27 07:58] bholley commented on #17054
Sounds great! Let me know if you need any help.

[2017-05-27 15:46] jlgeering opened #17064 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL: https://arstechnica.com/

### Servo Version:
Servo 0.0.1-a03d0b8
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-05-27 18:12] pentyala commented on #16719
I will do this
@highfive: assign me

[2017-05-27 18:12] highfive commented on #16719
Hey @pentyala! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-27 20:15] pentyala commented on #16719
While trying to build the release build, The following error occurs.

 Running `rustc --crate-name script /servo/components/script/lib.rs
error: Could not compile `script`.

Caused by:
  process didn't exit successfully: `rustc --crate-name script /servo/components/script/lib.rs (signal: 9, SIGKILL: kill)
Build FAILED

[2017-05-27 21:22] jdm commented on #16719
Looks like you may have run out of RAM while building servo.

[2017-05-27 21:22] jdm commented on #16719
You can try adding -j1 to the build command to see if it helps.

[2017-05-27 22:08] pentyala commented on #16719
running the servo (release build) with url as https://www.google.com renders the page and gives an error -

called `Result::unwrap()` on an `Err` value: "SendError(..)" (thread ScriptThread PipelineId { namespace_id: PipelineNamespaceId(1), index: PipelineIndex(2) }, at /checkout/src/libcore/result.rs:859)

Also running the servo (release build) with URL as http://browserbench.org/Speedometer/ giv

[2017-05-28 00:23] larsbergstrom opened #17065 "Bring back clipboard support"
Due to licensing issues, we previously had to remove clipboard support from Servo. However, it's now available with a MIT license (https://github.com/servo/servo/issues/12805#issuecomment-299214870)!

This work involves two parts:
1) Add a reference to the new clipboard crate from crates.io (https://crates.io/crates/clipboard)
2) Bring back the code changes that enable the use of the clipboard cod

[2017-05-28 00:23] highfive commented on #17065
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-28 00:50] est31 commented on #17065
@highfive: assign me

[2017-05-28 00:50] highfive commented on #17065
Hey @est31! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-28 22:23] cpeterso opened #17070 "stylo: bump rust-bindgen version to v0.25.3"
Stylo needs the `__thiscall` workaround from servo/rust-bindgen#722 to fix [Firefox bug 1366048](https://bugzil.la/1366048) on Win32.

https://github.com/servo/rust-bindgen/releases/tag/v0.25.3

[2017-05-29 00:00] jonathandturner opened #17072 "called `Result::unwrap()` on an `Err` value: RecvError"
This occurred when opening reddit.com, resizing the right hand side, and then moving my mouse to click on a link.

called `Result::unwrap()` on an `Err` value: RecvError
### URL:
about:failure
### Servo Version:
Servo 0.0.1-4ec2e8b-dirty
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-05-29 02:25] jdm commented on #17064
Were there any actions you took on the website before this problem occurred? I haven't been able to reproduce it by loading arstechnica and scrolling up and down the page.

[2017-05-29 03:37] jdm commented on #17072
I couldn't reproduce in a debug build, but a release build in a debugger got me this:
[code]

[2017-05-29 03:39] jdm commented on #17072
I strongly suspect [this code](https://dxr.mozilla.org/servo/rev/4ec2e8b4c56c914af9fd570acaef85460f322fa9/components/layout/display_list_builder.rs#240-247).

[2017-05-29 04:14] jdm commented on #17072
Confirmed:
[code]

[2017-05-29 04:15] jdm commented on #17072
cc @mrobinson

[2017-05-29 06:23] jdm commented on #17064
[code]

[2017-05-29 06:44] NiLSPACE commented on #16346
This seems to be fixed now.

[2017-05-29 07:50] paulrouget commented on #16809
I think this made sense before webrender.

I will remove this and introduce later a way to specify the position of the viewport.

[2017-05-29 12:23] jdm commented on #16346
My reduced testcase is fixed as well. Thanks for checking!

[2017-05-29 12:23] #16346 closed

[2017-05-29 12:36] est31 commented on #11753
Still reproducible with 369d5cf1242632efeb56278e18a5ea25a3c933a5.

[2017-05-29 14:02] MortimerGoro opened #17076 "GC crash when Initializing TypedArrays without a local stack root"
Using handle_mut() on a rooted DOMObject to initialize typed arrays should work but causes GC crashes
[code]

GC works well when a local stack root is used:
[code]

[2017-05-29 14:04] MortimerGoro commented on #17076
cc @jdm

I had to [revert](https://github.com/MortimerGoro/servo/commit/7a85c5b8c40d6a5a15a3d0a4613b9120ae65bcb9) all the extra extra local stack root changes we talked about in: https://github.com/servo/servo/pull/16500/files

[2017-05-29 14:48] jdm commented on #17076
Oh good, a new frightening crash.

[2017-05-29 14:59] #16887 closed

[2017-05-29 15:51] #16743 closed

[2017-05-29 18:34] jdm opened #17079 "Download OpenSSL from rust-lang mirror"
The Rust team has an OpenSSL mirror (https://github.com/rust-lang/rust/pull/42220). We should use that instead of downloading releases directly from the openssl website: https://github.com/servo/servo/blob/45d8b0f0b61b8026a57cf5704de2f9d8b53ace45/support/android/openssl.makefile#L13

[2017-05-29 18:34] highfive commented on #17079
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-29 19:12] jdm opened #17081 "TravisCI's cargo cache is busted"
[code]

cc @UK992

This showed up in #17052 and I assumed that #17040 would fix it. Apparently it did not.

[2017-05-29 19:12] highfive commented on #17081
cc @aneeshusa

[2017-05-29 19:25] SimonSapin commented on #17081
We can manually clear caches at https://travis-ci.org/servo/servo/caches, but I don’t know if that’ll do anything about this happening again later.

[2017-05-29 19:46] younters opened #17082 "ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug.
### URL:

### Servo Version:
Servo 0.0.1-4ec2e8b4c5
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-05-29 19:53] jdm commented on #17082
@younters Do you know what page you were viewing when you saw this?

[2017-05-29 20:55] jdm opened #17084 "clean-cargo-cache does not honour .servobuild settings"
If you set `cargo-home-dir` to a non-default value in a `.servobuild` file, `./mach clean-cargo-cache` continues to look in the `.cargo` directory of the current working directory.

cc @UK992

[2017-05-29 20:55] highfive commented on #17084
cc @wafflespeanut

[2017-05-29 21:43] jdm commented on #14975
Sorry for the delay in responding. Good investigation! You're right that html5ever cannot depend on Servo (especially since Servo depends on html5ever). The error about private types occurs because a public function would now have a private type in its public interface; the private type in this case is `ElemInfo` which is defined in the same file.

As for the optimal solution, I think I have a use

[2017-05-29 22:03] atouchet commented on #16560
@jdm I think this has been fixed now. I just checked the latest installer and it says it is a day old.

[2017-05-29 22:09] aneeshusa commented on #16560
Thanks!

[2017-05-29 22:09] #16560 closed

[2017-05-30 01:38] zspitzer commented on #17064
just tried the nightly build on win10 and opening the ars homepage froze/crashed my desktop

[2017-05-30 03:56] atouchet commented on #16507
Is this still an issue on other operating systems? I'm no longer able to reproduce it on Windows.

[2017-05-30 06:25] NiLSPACE opened #17088 "Unable to scroll on https://tweakers.net"
On [tweakers.net](https://tweakers.net) (a Dutch tech website) I'm unable to scroll down.

## Steps to reproduce:
- Use `servo.exe https://tweakers.net` to go to the website;
- Get past the cookie wall by pressing the blue button containing 'Ja, ik geef toestemming';
- Try to scroll down on this page.

Specs:
CPU: I7 6500U @ 2.5GHz,
RAM: 16.0GB Dual-Channel,
GPU: Intel HD Graphics 520
OS: Windows

[2017-05-30 07:35] o0Ignition0o commented on #17079
I'm on it, will do it tonight !
@highfive: assign me   !

[2017-05-30 07:35] highfive commented on #17079
Hey @o0Ignition0o! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-30 13:51] aneeshusa commented on #17045
servo/saltfs#675 is deployed, fixing the Linux nightly uploader; #17085 above should fix the remaining issues with the macOS nightly uploader.

[2017-05-30 14:46] jdm opened #17096 "Intermittent timeout in /html/syntax/parsing/html5lib_tests16.html?run_type=uri"
[code]

[2017-05-30 15:27] paulrouget opened #17097 "Split the /resources/ in 3: resources for the libservo, resources for the binary, resources for testing."
*This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2*

From the embedder perspective, there's a lot of files in /resources/ that are not necessary. Like `servo.icns` or `self_signed_certificate_for_testing.crt`.

We might want to include the libservo-related resources into the library (see #15635), so we need to make sure to i

[2017-05-30 15:40] paulrouget commented on #17097
[code]

[2017-05-30 15:42] paulrouget commented on #15635
If we manage to only keep the necessary resources, we would move 3.1Mb of strings to 880Kb.

[2017-05-30 16:28] #11517 closed

[2017-05-30 17:29] #6799 closed

[2017-05-30 17:44] MortimerGoro commented on #17079
@o0Ignition0o I'm updating OpenSSL version in https://github.com/servo/servo/pull/17099

We'll have to sync the changes ;)

[2017-05-30 17:52] jdm commented on #16471
Fixed!

[2017-05-30 17:52] #16471 closed

[2017-05-30 17:55] jdm commented on #15010
This happened.

[2017-05-30 17:55] #15010 closed

[2017-05-30 18:00] jdm commented on #13339
If obtain_response returns an Err value, then we now return that from http_network_fetch.

[2017-05-30 18:00] #13339 closed

[2017-05-30 18:02] jdm commented on #13218
This works now.

[2017-05-30 18:02] #13218 closed

[2017-05-30 18:18] mbrubeck opened #17100 "Intermittent panic: "already borrowed: BorrowMutError" during jpeg decoding with rayon"
I saw this panic just once, while testing parallel layout on the `myspace` page in the Talos TP5N data set, in a release build with a smaller parallel chunk size (i.e., increased parallelism). It might be a race condition that's made more likely by higher thread count or higher system load.

Full stack trace:
<details>

[code]

</details>

[2017-05-30 18:24] Manishearth commented on #17097
`cert-google-only` is for local testing. Could be in `etc` too.

`itried.jpg` is the error page. Needs to be in the binary. Same for notfound and tumbeast.

The iso thing is for

user-agent-js/ is custom userscripts. We don't define anything there by default, and probably won't, so it can go wherever. Probably `script/dom/userscripts.js` should be able to be configured by the embedder.

[2017-05-30 18:34] mbrubeck commented on #17100
The build I was testing did not include #17025, so it's possible this has the same root cause as might have the same cause as #16982.

[2017-05-30 19:07] #17070 closed

[2017-05-30 20:04] paulrouget commented on #17097
Where is it used? I can't find any reference to that file in components/

Missing the end of your sentence I think.

[2017-05-30 20:10] cbrewster commented on #17097
itried.jpg is used in badcert.html and failure.html

[2017-05-30 20:12] jdm commented on #17081
I have gone ahead and done so.

[2017-05-30 20:12] CAfromCA commented on #16771
Just wanted to note that WR changes picked up in the past week or so have not had any effect on this issue.

[2017-05-30 23:51] aneeshusa commented on #17045
I did a test run after #17085 landed and discovered another bug, I made #17103 to address it. Hopefully the last one!

[2017-05-31 00:15] danger89 commented on #17088
Its even worse, in my case the browser just crashes:

[2017-05-31 01:40] jonathandturner commented on #17012
cc @cpeterso, who may have other items

[2017-05-31 01:55] jdm commented on #13648
I suspect that's a link that only works for members of that team.

[2017-05-31 02:09] bholley commented on #17054
@kenan-rhoton any update on this one?

[2017-05-31 02:11] #13648 closed

[2017-05-31 05:15] kenan-rhoton commented on #17054
I wasn't able to look at it during the weekend, but yesterday I tried to make an implementation of an ArrayVecDeque that was transparent to LRUCache and ran into a wall.

So today I've restarted it without this constraint, which has required some (mostly minimal) changes to the way the LRUCache does things.

And right now I'm trying to iron out the different problems I'm having with the Double End

[2017-05-31 06:20] jlgeering commented on #17064
no special actions, just opening the page (as far as I remember)

[2017-05-31 06:52] NiLSPACE commented on #17088
I also get those errors, but it doesn't crash for me.

[2017-05-31 10:26] luser opened #17106 "Enable sccache for Servo CI"
I've been testing sccache with Servo lately, and it's working pretty well for caching crate compilation. Details are available on [this users.rlo thread](https://users.rust-lang.org/t/sccache-for-caching-rust-compilation/10960). I needed to make one change to an upstream crate, and I finally submitted [a PR to update that dependency](https://github.com/servo/servo/pull/17094) which has now been me

[2017-05-31 12:23] sciguyryan commented on #16559
This appears to have been fixed in the latest nightlies. I'm not sure when exactly but it is no longer an issue!

Yipee!

[2017-05-31 12:24] sciguyryan commented on #16559
Does this need a new test added to cover potential regressions?

[2017-05-31 12:25] sciguyryan commented on #16559
Does this need a new test added to cover potential regressions?

[2017-05-31 12:25] sciguyryan commented on #16475
This appears to be fixed for me in the latest nightly. I'm not sure when this was fixed but the issue is no longer reproducible.

Does this require a test to ensure it doesn't regress again in the future?

[2017-05-31 12:28] sciguyryan commented on #16436
I can no longer reproduce this issue in the latest nightly build. I'm unsure which pull would have fixed this though.

Yipee!

[2017-05-31 12:40] sciguyryan opened #17108 "Severe CPU Usage on digg.com"
Unfortunately I'm unable to pinpoint exactly when this issue came about as I've been away for a while and have been unable to do any testing.

When visiting digg.com Servo maxes out the CPU on this computer to the point where I have to physically restart the computer in order to regain control. That's pretty bad!

Unfortunately I'm not able to dig up any information on this as I can't get anything

[2017-05-31 13:07] jdm commented on #16436
Thanks for following up!

[2017-05-31 13:07] #16436 closed

[2017-05-31 13:09] jdm commented on #16475
In general no. Thanks for following up!

[2017-05-31 13:09] #16475 closed

[2017-05-31 13:11] jdm commented on #16559
I don't think we can test hover behavior yet.

[2017-05-31 13:11] #16559 closed

[2017-05-31 13:21] jdm opened #17109 "Intermittent crash in /css21_dev/html4/white-space-pre-002.htm and /css-images-3_dev/html/object-fit-cover-svg-005i.htm"
[code]
This is a regression from #16238. cc @gterzian

[2017-05-31 13:48] o0Ignition0o commented on #17079
@MortimerGoro just saw your commits, I'll check how I can handle it :)

[2017-05-31 15:12] moonlightdrive commented on #14975
Yeah, that makes sense! I'll take a look at implementing that solution. Thanks :)

[2017-05-31 20:20] atouchet opened #17113 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
Error occurred when browsing https://www.reddit.com/

called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
about:failure

### Servo Version:
Servo 0.0.1-1428077
### Backtrace:
[code]

[2017-05-31 20:36] atouchet commented on #12097
This is an issue with https://duckduckgo.com/html as well.

[2017-05-31 20:37] jdm commented on #17113
Probably the same issue as #16923.

[2017-05-31 20:38] jdm commented on #17113
Potentially the same as #17072 too.

[2017-05-31 20:38] jdm commented on #16923
This might be #17072.

[2017-05-31 21:09] atouchet opened #17114 "White lines in Moire demo"
When running the Moire demo in recent builds white lines occasionally show up. This was tested in Windows 10.

Example images:

![Image 1](https://i.imgur.com/QvgRCcy.jpg)

![Image 2](https://i.imgur.com/cbpsIXd.jpg)

![Image 3](https://i.imgur.com/aVHZXcA.jpg)

[2017-05-31 21:10] Manishearth commented on #17114
cc @glennw @jrmuizel

[2017-05-31 21:10] Manishearth commented on #17114
Thanks for the report!

[2017-05-31 21:33] danger89 commented on #17088
It hangs let's say,  the app is still open. But I can not browse further.

[2017-05-31 22:31] #11921 closed

[2017-06-01 00:12] jonathandturner opened #17116 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
Seeing the below when opening reddit in a recent nightly.  Seems different enough from https://github.com/servo/servo/issues/17113 to file as a separate issue.

called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-71a4dae-dirty
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-01 00:25] jdm commented on #17109
[code]

[2017-06-01 01:21] jdm opened #17119 "Skia intermittently fails to build"
Out of the huge mess of warnings, something like this appears:
[code]

[2017-06-01 06:06] #17109 closed

[2017-06-01 10:18] Scrxtchy commented on #14553
DOMRefCell\<T\> already borrowed: BorrowMutError
### URL:
https://mixer.com/
### Servo Version:
Servo 0.0.1-a694f70
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-01 11:21] nox opened #17124 "StylesheetLoader::new should be unsafe"

[2017-06-01 11:21] highfive commented on #17124
cc @emilio

[2017-06-01 11:24] buster opened #17125 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
When opening spiegel.de with the current nightly i get:
(Runnign Debian stretch)

called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-a694f70
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-01 11:25] KuoE0 commented on #17124
@nox I think I can fix it after #17123 landed.

[2017-06-01 14:27] jdm opened #17126 "Import gecko's ability to run WPT tests in other browsers"
https://hg.mozilla.org/mozilla-central/rev/ecb85cc1ee3e

[2017-06-01 14:27] highfive commented on #17126
cc @wafflespeanut

[2017-06-01 17:42] mbrubeck opened #17127 "Parallel layout is slower than sequential on my Linux system"
Using release builds of Servo on my 4-core, 8-thread Linux laptop, time spent in layout is 25% to 100% longer in parallel mode than in sequential mode (`-y 1`), across a few different real-world pages (Wikipedia article, Google search results, MySpace page from [tp5n]).  This doesn't appear to be a recent regression; Servo builds from up to a year ago have approximately the same performance in bot

[2017-06-01 18:39] NiLSPACE commented on #12089
This is fixed for me.

[2017-06-01 18:46] #17065 closed

[2017-06-01 18:46] #12805 closed

[2017-06-01 21:02] bd339 commented on #16825
Is @hgallagher1993 still working on this?
It's listed on Servo Starters, so I'm just stopping by to see if I can pick it up or not.

[2017-06-01 21:27] Manishearth opened #17131 "Use RefCell instead of RWLock for namespace map in context"
In #17130 we introduce a reference to the namespace map in the parser context.

Parsing is done in a single threaded fashion, so really, we only need the semantics of a RefCell at this stage, but the namespace map is in an RWLock because at other stages of the program it is accessed concurrently.

To avoid extra overhead where we reacquire the lock each time, instead of `namespaces: &RwLock<Namesp

[2017-06-01 21:32] jryans opened #17132 "Servo `./mach` fails from Gecko checkout, related to WPT"
STR:

1. Get a recent Gecko checkout (2017-06-01)
2. Run something like: `(cd servo; ./mach help)`

`mach` startup now fails because of missing WPT dependencies:

[code]

I tried to adjust the paths in `servo/python/mach_bootstrap.py` for the `is_firefox` case, but this led to further errors about missing imports.

[2017-06-01 21:33] jryans commented on #17132
@jgraham I made a few attempts locally, but couldn't spot how to resolve the import errors.

[2017-06-01 22:06] neunenak commented on #17131
I'd like to give this a shot.

[2017-06-01 22:09] Manishearth commented on #17131
Let me know if you need help!

I recommend testing it with `./mach build-geckolib` since that's faster to build.

You will need to base your work off of https://github.com/servo/servo/pull/17130

[2017-06-01 22:12] Manishearth commented on #17131
`git fetch origin pull/17130/head:pr` will make a local branch `pr` that contains those changes

[2017-06-01 22:17] jryans commented on #17132
I was able to work around this locally by commenting out the WPT parts of `servo/python/mach_bootstrap.py`, but of course a real fix would be best.

[2017-06-01 23:36] bzbarsky opened #17133 "Preshint declarations should be shared across elements with identical tag and preshints"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1368229 for background.  Stylo is getting this for free because Gecko already does it, but servo may want something like this too.

[2017-06-01 23:37] bzbarsky opened #17134 "Identical style attributes should be coalesced into a single declaration"
Gecko does this and it leads to huge memory savings in some cases; see https://bugzilla.mozilla.org/show_bug.cgi?id=1368399

[2017-06-02 01:05] wbeyda opened #17135 "servo won't start."
wbeyda@Bigrig2:~/Downloads/servo$ RUST_BACKTRACE=1 ./servo
Failed to create window.: OsError("GL context creation failed") (thread main, at /checkout/src/libcore/result.rs:859)
stack backtrace:
   0:     0x55ba6b4ada2c - backtrace::backtrace::trace::h58bdbc4722aadbf4
   1:     0x55ba6b4adb72 - backtrace::capture::Backtrace::new::hde1afc496271e12d
   2:     0x55ba69b04b5d - servo::main::{{closure}}

[2017-06-02 01:07] vitiral commented on #17054
Want to make sure yall see this https://users.rust-lang.org/t/announcement-arraydeque-deque-ring-buffer-on-stack/11122

[2017-06-02 01:11] goandylok commented on #17054
A crate of mine may help: [ArrayDeque](https://crates.io/crates/arraydeque/)

[2017-06-02 01:15] ala53 opened #17136 "Servo crashes when loading Reddit "New" page"
Using the newest nightly build of Servo's Tech Demo on Windows 10 Creators Update x64, going to Reddit and clicking the "New" tab crashes the renderer. https://i.imgur.com/2U4hvWm.png

Clicking "click to submit report" then crashes the application, leading to a "servo.exe has stopped working message."

This issue is easily reproducible.
 - Open a new instance of servo.exe
 - Click the "Reddit" but

[2017-06-02 02:40] atouchet commented on #16459
I tested this out today with #17067 being merged now and I seem to be getting some strange results. If I copy and paste a URL within Servo it pastes the URL twice (ex. copying https://duckduckgo.com/html pastes as https://duckduckgo.com/htmlhttps://duckduckgo.com/html). Also if I try to paste into another application other than Servo nothing shows up. Strangely I can paste into another application

[2017-06-02 03:10] jdm commented on #17135
Looks like the same issue as #12053 and others. We require a minimum version of OpenGL (3.0? 3.1?) that presumably you do not support.

[2017-06-02 03:10] #17135 closed

[2017-06-02 04:42] bholley commented on #17054
Yeah, ArrayDeque looks like exactly what we want.

[2017-06-02 04:49] kenan-rhoton commented on #17054
Yes, thanks for the heads up, I'm putting it in

[2017-06-02 06:51] est31 commented on #16459
cc @DoumanAsh seems your crate is being used on windows?
cc @aweinstock314

[2017-06-02 08:26] nox commented on #15318
@jdm Requiring a `teardown` method to be called means we have unsoundness though, right?

Wouldn't making promises and callbacks not rely on `Rc<T>` anymore properly solve the problem?

[2017-06-02 08:49] DoumanAsh commented on #16459
@est31 Yes.

Just to try it out myself @CodeGradox could please paste your `url/text`
From what Igather there seems to be strange handling of URL... I'll make a quick test.
But what about text?

For now i made simple test https://github.com/DoumanAsh/clipboard-win/commit/3dd2519d783e7147ce2b25ab3923cfc06d665be6 but it works as expected.

I need to take a look at how servo set & paste to/from clipb

[2017-06-02 09:31] heycam commented on #16138
On the contrary, I dislike having to shorten my commit messages to fix in GitHub's preferred limit, often at the expense of useful information.  Sure, it could go in the body of the commit message, but if it's fine for critical information about the commit to be relegated to the body of the commit message, why is it important to have a good commit message first line at all?

[2017-06-02 09:35] nox commented on #16138
"GitHub's preferred limit" is Git's own preferred limit in general.

I *very rarely* see "critical information" in these overlong commit titles, and I believe putting more thought in the commit messages help in the long run.

There is also a tooling issue, in which all Git tools expect short titles and then more explanations in the message.

All projects I've contributed to that were using Git mor

[2017-06-02 09:50] hgallagher1993 commented on #16825
@bd339 Yes I am still working on it, I'm actually in the middle of it now, got a bit delayed up until a few days ago with college but that's over for good now 😄

[2017-06-02 09:52] MortimerGoro commented on #17079
@o0Ignition0o We have decided to do the OpenSSL update into a separate PR. So you can push a new PR using the mirror and the 1.1.0 version update.

You'll need to add this line to the openssl.sh to support compilations with the new version:
`export CROSS_SYSROOT="$ANDROID_SYSROOT"`

[2017-06-02 10:19] wafflespeanut commented on #13500
IT IS DONE!!!

[2017-06-02 10:19] #13500 closed

[2017-06-02 13:58] jdm commented on #15318
It's not clear to me that that's true? The danger is having an object with a destructor that requires access to JS engine state after that state no longer exists.

[2017-06-02 14:51] jdm commented on #17076
I would bet money this is caused by https://github.com/servo/rust-mozjs/issues/351.

[2017-06-02 15:21] jdm opened #17140 "Import webgl tests separately from web-platform-tests"
Per conversation in https://github.com/w3c/web-platform-tests/issues/5927. This requires:
* importing some subset of https://github.com/KhronosGroup/WebGL into tests/wpt/mozilla/tests/
* applying the patches in https://github.com/w3c/web-platform-tests/tree/a56a326675840eaec5c2543749039f312c7b6d72/webgl/tools
* adding a mach command to make it easy to update the imported tests

[2017-06-02 15:21] highfive commented on #17140
cc @wafflespeanut

[2017-06-02 16:10] edunham commented on #16138
GitCop looks like a pretty way to address this and *part* of a complete solution if we decide it's a problem we need to solve.

However, for the sake of people who might be doing Servo development primarily off-line or prefer to test their changes locally before sharing them with the world, I would strongly suggest adding the commit summary length test to the repo's built-in style lints (Tidy is o

[2017-06-02 16:12] nox commented on #16138
I 100% agree with this, and if I don't get my line length limit on the sole basis that we actually need to implement it ourselves, I won't be mad.

[2017-06-02 21:50] o0Ignition0o commented on #17079
Sure, will do. Btw @MortimerGoro I've just checked the patch notes, and everything shall be fine. Is there any way I can make sure there won't be any breaking changes induced by the 1.0.1 to 1.1.0 version bump ?

[2017-06-02 22:06] aneeshusa commented on #17106
Using environment variables is easier than updating the .servobuild file for CI. Will installing sccache and setting `RUSTC_WRAPPER=sccache` work? Those would both happen in [saltfs](https://github.com/servo/saltfs).

[2017-06-02 22:43] #14596 closed

[2017-06-03 02:10] luser commented on #17106
That will make it work for caching rust compiles, but not C++ compiles.

[2017-06-03 02:48] larsbergstrom commented on #17106
OMG this is amazing - thank you so much for doing this, including the testing, @luser!

One question: do you know how well this handles invalidation when rustc or cargo are updated? I was chatting with @edunham and we were thinking about doing a "merge commit by merge commit" test of `sccache` as incremental builds for the last few months, catching a few updates to see.

@metajack We're gonna HAVE

[2017-06-03 04:14] est31 commented on #16459
Interesting, this might be in fact the cause. I'm not sure whether this behaviour is the right one on Linux/Mac, is there a cost in creating a clipboard context on those operating systems?

[2017-06-03 05:23] DoumanAsh commented on #16459
In Windows case you only need to call two WinAPI function corresponding to opening clipboard, and then closing it on dropping context.

In case of Mac you would need to initialize interface toward clipboard server each time.
I'm not aware of implementation details there, but most likely it is sorta process-communication establishment within a system.
A bit more costly than Windows, i guess, but I

[2017-06-03 07:54] zimio commented on #14887
HI @jdm, so are we closing this issue or are we devising another strategy to do this refactor?

[2017-06-03 10:36] wafflespeanut commented on #16009
Discussion about GitCop in #16138 and the dev-servo mailing list. Closing this in favor of that.

[2017-06-03 10:36] #16009 closed

[2017-06-03 10:39] paulrouget opened #17146 "Key events involving the control key don't work as expected"
We realized that no keybindings on Windows work (the "reload"/Ctrl-R binding doesn't work for example).

This is because Glutin sends 2 things:
- the character matching the keyboard layout (`ReceivedCharacter(ch)`)
- the key code and modifiers (`KeyboardInput`)

But the character that is sent when the Ctrl key is pressed is a different unicode character.
For exemple, Ctrl-L will send the ["Form Fe

[2017-06-03 10:41] jklepatch commented on #17146
I am working on this

[2017-06-03 12:26] nox opened #17148 "Properly protect the master branch"
Our current settings for the `master` branch are:
<img width="733" alt="capture d ecran 2017-06-03 a 14 22 16" src="https://cloud.githubusercontent.com/assets/123095/26753503/1ed3412e-4868-11e7-9ac5-52d0c76045ca.png">

Apparently this is not enough, given I managed to larsbors both [nightly](https://github.com/servo/servo/commit/f081380dc03dba9664877df2829097f32c40694a) and [stable](https://github

[2017-06-03 12:26] nox commented on #17148
Cc @notriddle who knows his stuff with this kind of things too.

[2017-06-03 12:39] nox commented on #17148
Am not larsborsing any revert for now, given @emilio is already trying to land #17147.

[2017-06-03 13:49] larsbergstrom commented on #17148
Aha! We've been waiting for the `Include Administrators` bit to make it to servo/servo. That was one of our huge requests for them when branch protection first rolled out and it was in beta but hadn't made it to servo/servo yet. Will toggle once we're in an un-nox'd state :-)

[2017-06-03 13:50] MortimerGoro commented on #17079
Servo uses the high level OpenSSLClient API https://github.com/sfackler/hyper-openssl, which internally uses a rust-openssl, a wrapper for the native API which supports OpenSSL 1.0.1 or above. OpenSSL 1.1 support was added in this commit: https://github.com/sfackler/rust-openssl/commit/43c951f743e68fac5f45119eda7c994882a1d489#diff-80398c5faae3c069e4e6aa2ed11b28c0

So everything should be ok, the d

[2017-06-03 13:51] notriddle commented on #17148
Turn on the including administrators switch. It won't break homu. That switch doesn't prevent anybody but admins from pushing; what it does is prevents admins from bypassing the checks, like you just did.

[2017-06-03 13:52] larsbergstrom commented on #17148
Yes, I was just going to figure out whether or not we want to wait to force-push a revert of his accidental update. Will chat in #servo

[2017-06-03 13:55] larsbergstrom commented on #17148
Done.

[2017-06-03 13:55] #17148 closed

[2017-06-03 15:38] larsbergstrom commented on #17079
cc @avadacatavra who may have OpenSSL opinions :-)

[2017-06-03 15:52] atouchet commented on #17146
Is #16459 related to this issue?

[2017-06-03 19:15] jdm commented on #14887
I've got no other ideas. Thanks for the reminder.

[2017-06-03 19:15] #14887 closed

[2017-06-03 20:51] aneeshusa commented on #17106
Are there pre-built releases of sccache available? That would be the easiest way to deploy onto our build machines.

[2017-06-03 21:02] fabiand commented on #12015
I've created a small Makefile to build a flatpak wrapping the servo nightlies, see

* https://github.com/fabiand/flatpak-servo
* https://dummdida.tumblr.com/post/161401019450/flatpak-ing-servo-nightly

We could take it from here and use this (or alike) in the servo nightly build process, and push those builds to flathub (once it's back online).

[2017-06-03 21:14] StefanoD commented on #12015
@fabiand Great! I think, you have to make a PR.

[2017-06-03 21:57] bd339 commented on #17038
@SWW13 are you working on this, or can I take it?

[2017-06-04 02:02] MGageMorgan commented on #12015
I think that's awesome. Even if it doesn't make it in, long as it works and is maintained, I would be happier using a tool like this alone than what's currently available.

Cheers!

M. Gage Morgan

----

Christoffen OSWorks LLC co-founder, CEO, and lead architect.

/**

* Just note that my opinion will

* NEVER reflect my company, which I

* hope to keep neutral in terms of

* public relations wit

[2017-06-04 06:37] aneeshusa commented on #17106
Also, it looks like the `build.ccache` setting in `.servobuild` is just used to set the `CCACHE` environment variable, so we can do that directly.

[2017-06-04 07:08] paulrouget commented on #17146
Very likely, yes.

[2017-06-04 21:26] #17054 closed

[2017-06-04 21:51] dholbert opened #17155 "Implement CSS Houdini "Properties & Values""
Draft spec: https://drafts.css-houdini.org/css-properties-values-api/
General Houdini-specs-in-servo issue: https://github.com/servo/servo/issues/13557

CC @Manishearth @asajeffrey

[2017-06-04 22:17] dholbert commented on #17155
(and CC @jyc who's going to work on this I think)

[2017-06-05 00:10] alex commented on #13499
This crash no longer occurs on washingtonpost.com, so I'm going to close this.

[2017-06-05 00:10] #13499 closed

[2017-06-05 00:11] alex opened #17156 ""Node was being treated as inline, but it has an associated fragment!" on washingtonpost.com"
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-7b61d55421
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-05 00:12] alex commented on #12439
Confirming that this still reproduces.

[2017-06-05 00:14] alex commented on #12036
This is fixed now.

[2017-06-05 00:14] #12036 closed

[2017-06-05 00:20] alex commented on #8819
I suspect this is a dupe of #1719, but not positive

[2017-06-05 00:57] jdm commented on #17156
Do you know what page you were visiting?

[2017-06-05 00:57] alex commented on #17156
Ugh, sorry I didn't realize it wasn't included. This was on `https://www.washingtonpost.com`

[2017-06-05 03:01] KuoE0 commented on #15211
I'm working on this issue on [Bug 1338764](https://bugzilla.mozilla.org/show_bug.cgi?id=1338764).

[2017-06-05 03:10] jdm opened #17158 "Intermittent crash in /2dcontext/line-styles/2d.line.miter.obtuse.html"
[code]
Unwrapping the result here is almost certainly not what we want to be doing.

[2017-06-05 03:11] jdm opened #17159 "Intermittent fail in /_mozilla/css/stylesheet_media_queries.html"
[code]

[2017-06-05 03:14] jdm opened #17160 "Intermittent fail in /css21_dev/html4/inlines-017.htm, /css21_dev/html4/inlines-016.htm"
[code]
<img width="820" alt="screen shot 2017-06-04 at 11 12 47 pm" src="https://cloud.githubusercontent.com/assets/27658/26769254/7493de70-497b-11e7-9c99-c563c1ae3f4f.png">

[2017-06-05 03:42] WholeGrainGoats commented on #16479
Simple question. In step two from [here](https://html.spec.whatwg.org/multipage/forms.html#dom-form-nameditem) it mentions the image object. For what I've written I've assumed it means an image button, as I think a regular image wouldn't be of much use for form submission. So I'm wondering if this is correct or if I should swap it to use the html image?

[2017-06-05 08:31] paulrouget commented on #15934
Once #17068 lands, this is what I think should happen next:

1. in the compositor, all the pipeline work that is not related to compositing need to be striped down to its most simple form. The compositor code in these cases should just be used to forward messages to the constellation. For example, the `Reload` message handler work that way today:

Embedder send WindowEvent::Reload to compositor.
C

[2017-06-05 09:47] luser commented on #17106
sccache hashes the contents of all the sharedlibs under $sysroot/lib and uses that as an input to the hash used for the cache key, so it shouldn't be a problem.

[2017-06-05 09:48] luser commented on #17106
@alexcrichton has binary builds for Rust CI, so you ought to be able to use those until I get actual binary releases setup in sccache CI.

[2017-06-05 12:14] gterzian commented on #15934
@paulrouget ok, I'll take care of 2)

[2017-06-05 12:22] jdm commented on #16479
I agree that it's confusing! Given that the previous step is very explicit about image buttons, I recommend following the instructions as written. I'll see if I can figure out why they care about img elements in that algorithm.

[2017-06-05 12:46] SimonSapin opened #17166 "Intermittent fail in /css21_dev/html4/bidi-box-model-029.htm /css21_dev/html4/bidi-box-model-028.htm /css21_dev/html4/bidi-box-model-033.htm /css21_dev/html4/bidi-box-model-032.htm /css21_dev/html4/bidi-box-model-030.htm /css21_dev/html4/c5507-padn-r-000.htm /css21_dev/html4/c5509-padn-l-000.htm"
I bet the actual issue is not in these specific files but just happened to occur there in one run. But whatever.

[2017-06-05 13:16] jdm commented on #17166
The harness claims that the images for those tests do not match the reference image, but the reftest analyzer does not highlight any differing pixels.

[2017-06-05 13:38] SimonSapin commented on #17155
This is closely related to CSS Custom Properties (aka variables) which are implemented in `components/style/custom_properties.rs`.

[2017-06-05 13:41] jdm commented on #17166
In fact, I saved the images from the reftest analyzer and they have the same hash. This means that the actual pixel content of the original images that were compared was correct, but somehow the metadata was different??

[2017-06-05 15:09] jdm opened #17168 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/constructors/glsl-construct-vec3.html, /_mozilla/webgl/conformance-1.0.3/conformance/glsl/constructors/glsl-construct-vec4.html, /_mozilla/webgl/conformance-1.0.3/conformance/glsl/constructors/glsl-construct-ivec4.html"
[code]

[2017-06-05 16:05] WholeGrainGoats commented on #16479
I went looking through standard and found that [usemap](https://html.spec.whatwg.org/multipage/embedded-content.html#attr-hyperlink-usemap), a member variable of [img](https://html.spec.whatwg.org/multipage/embedded-content.html#the-img-element) is considered [palpable content](https://html.spec.whatwg.org/multipage/embedded-content.html#the-img-element). So I'm guessing a form might use it to cho

[2017-06-05 17:07] #16753 closed

[2017-06-05 19:48] NiLSPACE opened #17170 "Bad performance on https://loadingartist.com"
I've noticed that [loadingartist.com](https://loadingartist.com) is a pretty demanding website on other browsers as well, but when using Servo it first spikes at 100% CPU usage and then lowers to ~50% with occasionally scrolling being extremely slow or Servo crashing.

Specs:
CPU: I7 6700 @ 2.6GHz,
RAM: 16.0GB Single-Channel,
GPU: Intel HD Graphics 530
OS: Windows 10 Home 1703

[2017-06-05 19:58] jryans commented on #17132
This appears to be fixed by #17163. Thanks @jgraham! 😁

[2017-06-05 19:58] #17132 closed

[2017-06-05 20:24] jyc commented on #17155
Opened a bug on Bugzilla to track the Firefox side of things at https://bugzilla.mozilla.org/show_bug.cgi?id=1370344

[2017-06-05 20:45] Manishearth commented on #15482
#17173 fixes the `!important` thing

[2017-06-05 21:06] est31 commented on #16459
Okay, I've filed an issue report against the `rust-clipboard` crate. Its better fixed there, as to not confuse other users.

[2017-06-05 21:31] jonathandturner opened #17175 "Font rendering doesn't seem stay on the line"
I feel like I saw this before, but it seemed more noticeable this morning.  When I open up the bhtml gallery, fonts aren't rendering on a straight line.

Here's what the servo label looks like:

<img width="193" alt="screen shot 2017-06-06 at 9 27 37 am" src="https://cloud.githubusercontent.com/assets/547158/26804074/d081d672-4a9a-11e7-8916-0079368e6f41.png">

I mean it is kinda fun... but I'm gue

[2017-06-05 21:46] TyOverby opened #17176 "reddit.com: Assertion failed: self.scroll_root_parents.contains_key(&scroll_root_id)"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-c260c6e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-05 21:46] jdm commented on #17176
@TyOverby Do you know what page you were looking at?

[2017-06-05 21:48] TyOverby commented on #17176
@jdm http://reddit.com

[2017-06-05 22:12] jdm commented on #17176
[code]

[2017-06-05 22:12] jdm commented on #17176
@mrobinson Do you know anything about this?

[2017-06-05 22:17] jdm commented on #17156
[code]

[2017-06-05 22:18] jdm commented on #17156
I suspect this is a regression from #16317.

[2017-06-05 22:21] jdm commented on #17156
Actually that appears unlikely; that PR doesn't look like it changes which nodes would be processed during this layout query.

[2017-06-05 22:22] jdm commented on #17156
This appears to happen when there are multiple fragments generated for the same node, and the node is the target of a layout query.

[2017-06-05 22:29] jdm commented on #17072
Same error as #17176.

[2017-06-05 22:52] jdm commented on #16057
Ok, I can reproduce both results by refreshing the page while it's loading:
[code]
as well as
[code]

[2017-06-05 23:23] jdm commented on #16057
The panic under ClientLeft happens because we're running JS in a window that has had `clear_js_runtime` called.

[2017-06-06 00:20] sophiajt opened #17178 "Scrolling issues in macOS"
In a recent build, I'm trying to scroll on a website in servo.  Here, I picked Hacker News.  If I scroll hard enough to bounce at the bottom of the page (I'm using a scroll wheel here), if I scroll up, scroll position has lost where it was and shows me a blank screen.

<img width="1023" alt="screen shot 2017-06-06 at 12 16 57 pm" src="https://cloud.githubusercontent.com/assets/547158/26808616/395e

[2017-06-06 00:31] #16644 closed

[2017-06-06 01:06] bspeice commented on #16701
@highfive: assign me

First up is a certificate handshake issue. Happy to provide more info/circumvent the checks if someone can point me in the right direction!
![image](https://cloud.githubusercontent.com/assets/1199853/26809448/e283d48c-4a32-11e7-8a35-e1fe7c7f8dd1.png)

[2017-06-06 01:06] highfive commented on #16701
Hey @bspeice! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-06 02:06] bspeice commented on #16701
Also confirmed #16718, likely fixed by  #15147; The JetStream object is undefined (it's created by JetStreamDriver.js) when the test tries to kick off.

[2017-06-06 03:15] jdm commented on #16057
It's very strange - we correctly receive a mouse event targeted at the new pipeline that was created as a result of the refresh. This dispatches a `move` DOM event at the page, which causes a bunch of content JS to be invoked. By the time it ends up invoking `Element::ClientLeft`, when we call `Node::client_rect()` the node document is associated with the pre-reload window which is for a pipeline

[2017-06-06 03:24] jdm commented on #16057
Aha! It's caused by the script thread storing the previous node that was the target of a mousemove event and dispatching a `mouseout` at it. We should not be mixing elements between documents; that's pretty bad!

[2017-06-06 03:29] jdm commented on #15577
I cannot reproduce this any more.

[2017-06-06 03:29] #15577 closed

[2017-06-06 07:32] Manishearth opened #17181 "Do not add spaces when serializing operators in attribute selectors"
Servo serializes `[a="b"]` as `[a = "b"]`, other browsers omit the spaces.

Relevant code: https://github.com/servo/servo/blob/2da8eb0342f6701b5365116b96113c83a1599b1f/components/selectors/attr.rs#L79

Simplified testcase:

[code]

This causes stylo (not run on Servo CI) failures on:

[code]

[2017-06-06 07:32] highfive commented on #17181
cc @emilio

[2017-06-06 07:32] highfive commented on #17181
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-06 07:42] Manishearth opened #17182 "Simplify `an+b` when serializing"
When we serialize an `an+b` value, we just print it as `an+b`.

We should be simplifying it as much as possible. This means:

 - Printing out only `b` if `a` is zero
 - Printing out only `an` if `b` is zero
 - Printing `0` if both are zero
 - Not printing `a` if it is 1

Reduced testcase:

[code]

(Same for `+1n+0`, `+0n+5`, `+0n-0`, etc)

Relevant code: https://github.com/servo/servo/blob/2da8eb0

[2017-06-06 07:42] highfive commented on #17182
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-06 07:42] highfive commented on #17182
cc @emilio

[2017-06-06 08:32] SimonSapin commented on #17181
Are spaces removed if the input has them?

[2017-06-06 12:30] SWW13 commented on #17038
Just started to look a bit around in the WebGL component, feel free to take it @bd339 ;)

[2017-06-06 13:10] bphaslett opened #17183 "crashed when going from reddit to imgur (/checkout/src/libcore/option.rs:823)"
brian@brian-Winky:~$ servo --unminify-js http://reddit.com/new
[code]

[2017-06-06 13:48] jdm commented on #17038
Assigning to @bd339.

[2017-06-06 15:26] jdm opened #17187 "about:failure doesn't exist any more"
This disappeared along with the pre-fetch network stack; now basic_fetch only checks for about:blank. This explains why we sometimes end up seeing "Unexpected scheme" error pages.

[2017-06-06 15:35] jdm commented on #16057
Here is a minimal testcase showing this problem:
[code]

[2017-06-06 16:01] Manishearth commented on #17181
Yep. We should not print spaces here at all.

[2017-06-06 17:06] jyc commented on #17182
Happy to work on this!

@highfive: assign me

[2017-06-06 17:06] highfive commented on #17182
Hey @jyc! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-06 17:08] jyc commented on #17182
For reference, relevant spec seems to be [CSS Syntax 3](https://drafts.csswg.org/css-syntax-3/#serialize-an-anb-value), in the case of the example via [CSS OM](https://drafts.csswg.org/cssom/#serializing-selectors)!

[2017-06-06 17:12] Manishearth commented on #17182
Aha! I wasn't able to find it in the values/syntax spec where the rest of an+b is specced so I didn't dig deeper.

[2017-06-06 17:37] jdm commented on #17175
What platform?

[2017-06-06 18:09] imiuka opened #17190 "text rendering looks terrible at low point sizes"
hey there,

on windows 10, servo's text rendering looks really bad, especially compared how chrome, edge and firefox the same slab of text. i'm using the latest nightly build (published on 2017-06-05).

the spacing between glyphs looks off, but ignoring that, the glyphs themselves look "wrong" - blurry and fat.

here is one screenshot that shows how it appears (to my untrained eye) to affect mostl

[2017-06-06 18:33] jyc commented on #17182
Seems like to do this we will need to have .selectorText, but jdm and bz say that should be easy to do! Going to do that now.

[2017-06-06 18:37] Manishearth commented on #17182
Use cssText for now :smile:

[2017-06-06 18:37] Manishearth commented on #17182
(but yeah work on that too!)

[2017-06-06 19:32] cbrewster opened #17191 "Implement custom element creation"
After a custom element is defined, the create element algorithm should check the registry to see if a custom element matches the local name, and if so construct the custom element.

Until custom element upgrades are implemented, this will just implement synchronously creating custom elements that are already defined at the time the element is being created.

spec: https://dom.spec.whatwg.org/#conc

[2017-06-06 20:21] jyc commented on #17182
After asking @dbaron I made a quick issue on the CSS Syntax spec for the specifics of how to serialize the an+b values, because it seems Firefox, Chrome, and Safari are all slightly different (spec seems to be what Chrome does): https://github.com/w3c/csswg-drafts/issues/1504

Going to copy what Firefox does for now. Forgot about cssText, thanks for that!

[2017-06-06 21:28] #16195 closed

[2017-06-06 21:44] jonathandturner commented on #17175
That was on a macbook pro 2015, outputting to a 4k monitor.  Unfortunately I had to send it in for repairs (unrelated I'm sure 😛 ) or I could dig in a bit more.

[2017-06-06 22:33] achiwhane commented on #17181
Hey, I'd be happy to work on this!
@highfive: assign me

[2017-06-06 22:33] highfive commented on #17181
Hey @achiwhane! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-06 22:41] achiwhane commented on #17181
Does this behavior also apply to the other selector operators (i.e `~=`, `|=`, `^=`, `*=`, `$=`) as well?

[2017-06-06 22:45] cbrewster opened #17194 "Support HTMLConstructor WebIDL Attribute"
spec: https://html.spec.whatwg.org/multipage/#htmlconstructor

part of #9372

[2017-06-06 22:45] cbrewster commented on #17191
Blocked on #17194

[2017-06-06 22:57] Manishearth commented on #17181
Yeah, this applies to all operators.

[2017-06-06 23:14] KakuTheToaster opened #17195 "CSS Rendering glitches on Windows 10"
Seems to not load pages like it is supposed to on pretty much every website
![screenshot 13](https://user-images.githubusercontent.com/28992910/26856038-ee8d62d2-4ae3-11e7-94e2-d2464f950764.png)

[2017-06-07 03:44] paulrouget opened #17200 "Remove pipeline non-compositing-logic code from compositor"
Necessary for #15934.

From https://github.com/servo/servo/issues/15934#issuecomment-306133089:

In the compositor, all the pipeline work that is not related to compositing need to be striped down to its most simple form. The compositor code in these cases should just be used to forward messages to the constellation (we will eventually have a dedicated channel).

For example, the Reload message ha

[2017-06-07 03:49] paulrouget opened #17201 "Attach PipelineId to all ScriptMsg"
Many ScriptMsg already require a PipelineId field.

Many of these messages are sent to the constellation to be then sent to the embedder via the compositor (status, favicon, loadcomplete, loadstate, etc). And as of now, the decision to send the message to the embedder (which usually is either the pipeline the top level one or not) is done in on of these 3 places: in /script/, in compositor.rs, or

[2017-06-07 03:49] paulrouget commented on #15934
Remove pipeline non-compositing-logic code from compositor: #17200

[2017-06-07 05:40] bzbarsky opened #17205 "float to string conversions have rounding errors due to trying to produce too many digits"
32-bit float can realistically give you 6 decimal digits (total, not "after the decimal point") of precision (in the sense that 6-digit strings round-trip when going to float and back).  But the normal std::fmt conversion will try to give you 9-digit output (because 9-digit strings can represent floats with perfect fidelity).

This comes up in the following testcase:

    <pre><script>
       var

[2017-06-07 05:41] bzbarsky commented on #17205
@nox, @Manishearth thought you might be interested in this one.

[2017-06-07 05:48] Manishearth commented on #17205
Note, the 6-digit requirement is only for truncating the decimal, I suppose 600000001.0 will serialize with the 1.

[2017-06-07 06:04] bzbarsky commented on #17205
In Gecko and Chrome (which use the same double formatting library) it serializes as "6e+08", which is of course not so helpful.  Safari does "600000001", though.

[2017-06-07 10:59] #17038 closed

[2017-06-07 11:20] WiebeCnossen opened #17207 "ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug.
### URL:

### Servo Version:
Servo 0.0.1-f388c0a
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-06-07 12:23] paulrouget commented on #17201
I want also thinking about creating a struct `CompositorChannel`:

[code]

… and instead of calling `constellation_chan.clone()` we would use `constellation_chan.clone_with_new_pipeline(pipeline_id)`.

[2017-06-07 12:43] jdm commented on #17195
That's expected since our layout and CSS support is incomplete. Filing separate issues for each page that does not render as expected will be more useful.

[2017-06-07 12:43] #17195 closed

[2017-06-07 12:49] jdm opened #17208 "Intermittent crash in /html/semantics/embedded-content/the-iframe-element/change_parentage.html"
[code]
I suspect this has regressed due to #15129. It's possible that the child's pipeline is closed while processing the response body, and the timing of the response EOF message is different in a way that causes us to try to interact with the pipeline after it has been closed.

[2017-06-07 12:51] highfive commented on #17205
cc @emilio

[2017-06-07 12:54] jdm commented on #17207
Do you know what page you were looking at?

[2017-06-07 12:58] nox commented on #17205
Seems like `dtoa` is related to the same algorithm that Gecko uses.

[2017-06-07 13:23] WiebeCnossen commented on #17207
I'm afraid I don't remember. It was my first servo session and I assumed all relevant info would be included in the automatic post.

[2017-06-07 13:25] jdm commented on #17207
Ok. Thanks for reporting it!

[2017-06-07 13:43] foolip commented on #17140
It might also be worth checking if there's any interest in applying those patches (converting to testharness.js) in the upstream test suite.

[2017-06-07 17:17] Elchi3 commented on #13283
There is an open spec issue https://github.com/whatwg/fetch/issues/548

[2017-06-07 19:58] edunham commented on #16138
@nox That is probably the most un-bikesheddy thing I have ever heard in a discussion like this :bike:

To clarify, this would be pretty straightforward to stick into Tidy as a mentored bug or an hour of reverting and tweaking and adding a test for the old commit message linting that was recently removed. I don't think the need to stick it in tidy should sway the decision process :)

[2017-06-07 21:08] asajeffrey commented on #17201
Do you mean:
[code]
If so, apart from the naming, this seems sensible. I used a similar trick in worklets: https://github.com/servo/servo/blob/0934df77fdbddcb6ae1534e3c1a150272aea73b2/components/script/dom/worklet.rs#L657

[2017-06-07 23:09] Alex165456456 opened #17217 "error: failed to run custom build command for `dbus v0.5.3`"
error: failed to run custom build command for `dbus v0.5.3`
process didn't exit successfully: `/home/anonymous/servo/target/release/build/dbus-70de04314ecd9a43/build-script-build` (exit code: 101)
--- stderr
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Error(PkgConfig(Failure { command: "\"pkg-config\" \"--libs\" \"--cflags\" \"dbus-1 >= 1.6\"", output: Output { status:

[2017-06-07 23:41] jdm commented on #17217
You are missing the dbus development library. You should install that through your package manager.

[2017-06-08 01:58] aaronshaf opened #17220 "Dashboard or web site to track readiness of servo"
It would be nice to have a www.[something].com where we could track servo's compliance with a range of tests, suites, specs.

Inspiration:

http://isfiberreadyyet.com/

https://kangax.github.io/compat-table/es6/

[2017-06-08 02:24] atouchet commented on #17190
This has been bothering me as well. I believe this is a somewhat recent change too. For reference here is a screenshot of the Servo Windows build from March 13:

![Windows UI](https://i.imgur.com/xovvdOq.png "Windows UI")

[2017-06-08 02:59] imiuka commented on #17190
servo was still ok on 2017-04-12 (equivalent to your 2017-03-13 screenshot). haven't had the time to do a dissect on changes between then and now.

unsure if this should be filed in a separate issue(?), but even when the change is reverted, servo's glyph rendering still looks crappy compared with all other browsers. i think this is partially servo layouting, and partially webrender rendering.

- [

[2017-06-08 04:34] cbrewster opened #17222 "Table data and header cell interfaces no longer exist in the spec"
`HTMLTableHeaderCellElement` and `HTMLTableDataCellElement` no longer exist in the spec.

`th` and `td` now just use the `HTMLTableCellElement` interface.

https://html.spec.whatwg.org/multipage/#the-th-element
https://html.spec.whatwg.org/multipage/#the-td-element

whatwg/html#1125

[2017-06-08 05:56] #13994 closed

[2017-06-08 06:19] KakuTheToaster commented on #17195
okay well that about every page that uses somewhat decent design (material layouts, bootstrap on some occasions, DuckDuckGo, other search engines, YouTube and much more.

[2017-06-08 06:20] KakuTheToaster commented on #17195
And please support YouTube's beta layouts as well

[2017-06-08 06:25] paulrouget commented on #17201
oops, yes, it's what I meant.

Thanks.

[2017-06-08 06:30] paulrouget opened #17226 "Tabs support: add methods to create additional top level browsing context"
Now that #17077 has landed, and after #17200 and #16477 are fixed, we will need a way to create new top level browsing context.

We will need new Browser methods. This will impact the initialization code. And Browser will need to be renamed to something else as we will be create multiple browsers.

[2017-06-08 11:15] nox opened #17230 "Intermittent crash in /dom/nodes/Document-contentType/contentType/contenttype_html.html, /dom/nodes/Document-contentType/contentType/contenttype_txt.html, /dom/nodes/Document-contentType/contentType/contenttype_xml.html ("request.current_used_block_num() <= MAX_VERTEX_TEXTURE_WIDTH")"
[code]

[2017-06-08 11:45] yarwelp opened #17231 "The build tool passes -vv to cargo as -v"
Running `./mach build -d -j 1 -vv` executes `cargo build -j 1 -v` when IMO it should execute `cargo build -j 1 -vv`.

[2017-06-08 12:57] jdm commented on #17230
cc @glennw

[2017-06-08 13:23] yarwelp opened #17232 "Build process hangs indefinitely on FreeBSD"
Using master branch at 1ea4a44fad4dfd6d7ca1152e06cf07b7e927951b.

Operating System: FreeBSD 11.0

When I run `./mach build -d`, it gets to where it's compiling dependencies. It'll compile a few of them and then it will hang indefinitely and the CPU utilization for the rustc child processes drop to 0%.

I have cleaned with `./mach clean` followed by `git clean -xf` and tried to run it again multipl

[2017-06-08 17:27] jdm opened #17238 "GlobalScope::current should return Option"
It invokes CurrentGlobalOrNull but does not actually handle the null case and asserts in global_scope_from_global.

[2017-06-08 17:28] j-haj commented on #15162
I'm also interested in joining the group and am particularly interested in getting more experience with Rust. I am currently working the the Rust book and can also help with Python and C++ issues.

[2017-06-08 18:51] jdm opened #17243 "Doc upload is intermittently failing"
[code]

[2017-06-08 18:51] highfive commented on #17243
cc @aneeshusa

[2017-06-08 18:55] jdm commented on #17243
I looked all the way back in buildbot logs until May 31, at which point the logs disappeared. I did not see a green job in there.

[2017-06-08 18:56] jdm commented on #17243
I wonder if https://github.com/servo/servo/pull/16940 triggered this...

[2017-06-08 20:27] brainlessdeveloper commented on #17238
I would like to work on this, considering I've been working on the PR where this was originated.

[2017-06-08 20:42] jdm commented on #17238
Sure! I expect in many cases we can just attach `.expect("No current global object")` to the existing uses of the API.

[2017-06-08 20:44] brainlessdeveloper commented on #17238
Sounds good, I'll be on it in the weekend. If you think you'd like to do this earlier, I'd have no problems with that :)

[2017-06-08 20:50] jdm commented on #17238
Nope, no hurry!

[2017-06-08 23:19] jonathandturner opened #17246 "bhtml no longer showing navigation/url bar"
Just built the latest Servo and noticed that we're not showing the bhtml chrome any more once you click on a link in the gallery:

![screen shot 2017-06-09 at 11 17 21](https://user-images.githubusercontent.com/547158/26954661-6349a306-4d05-11e7-85d2-b9e0c863021b.png)

[2017-06-08 23:25] jonathandturner commented on #17246
It's possible this is coming from a build that had stale components.  Doing a clean build now.

[2017-06-09 00:23] cbrewster commented on #17246
Happens for me too, looking into this now

[2017-06-09 00:31] cbrewster commented on #17246
Looks like this was caused by #17077

[2017-06-09 00:33] moonlightdrive commented on #14975
I think what I actually need is a function that's part of the [Serializer trait](https://github.com/servo/html5ever/blob/master/markup5ever/serialize.rs#L25), which will push/pop elements to the stack, without doing any of the writes that [`start_elem`](https://github.com/servo/html5ever/blob/master/html5ever/src/serialize/mod.rs#L97) or `end_elem` do.

I believe (and don't have a great grasp of R

[2017-06-09 00:45] cbrewster commented on #17246
Looks like this is just an issue with `mozbrowser` test case:

iframe.html
[code]

child.html
[code]

[code]

The load of `child.html` happens in the root browsing context.

[2017-06-09 00:59] cbrewster commented on #17246
We are sending the wrong frame tree, we end up sending the frame tree of the iframe. Looks like the code to climb the parent hierarchy in `send_frame_tree` is not working properly.

cc @asajeffrey

[2017-06-09 01:15] asajeffrey commented on #17246
Oops. Am investigating.

[2017-06-09 01:22] asajeffrey commented on #17246
Argh, off-by-one error! https://github.com/servo/servo/blob/094c2c73ec77dec51dc57d8aee272a91a52ddfb8/components/constellation/constellation.rs#L2858-L2866 should be:
[code]

[2017-06-09 01:25] asajeffrey commented on #17246
I approved #17248, which should fix this.

[2017-06-09 02:27] #17246 closed

[2017-06-09 04:55] cbrewster opened #17249 "Reduce code duplication when adding a SessionHistoryChange"
The constellation has quite a few occurrences of:
[code]

We should create a method in the constellation called `add_pending_change` to reduce code duplication and ensure that `handle_load_start_msg` is always called when a new pending change is pushed.

code: `components/constellation/constellation.rs`

[2017-06-09 04:55] highfive commented on #17249
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-09 12:31] mihajlija commented on #16720
This is what I get on macOS 10.12.4 when running default settings (2.13.0)

`ERROR:script::dom::bindings::error: Error at http://emberperf.eviltrout.com/benchmarks/ember-get/primed/index.js:13:9 Ember is not defined`

The "latest release" test works though [http://imgur.com/jNEc0lW](http://imgur.com/jNEc0lW
) :)

[2017-06-09 15:13] eviltrout commented on #16720
Is this a servo bug? I just ran the suite with default settings in safari and everything worked.

[2017-06-09 15:17] mihajlija commented on #16720
@eviltrout Servo I guess, I get the same error when running JetStream benchmark ("JetStream is not defined")

[2017-06-09 15:39] jkl445 commented on #17249
@highfive: assign me

[2017-06-09 15:39] highfive commented on #17249
Hey @jkl445! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-09 16:55] jdm commented on #17175
I see this on my macbook as well, but only when using browser.html (ie. `-b`). When running the same site in a stock servo build, I don't see this problem appear.

[2017-06-09 16:59] jdm commented on #16720
I cannot reproduce that JS error when running with the default settings. I have tried a debug build, a release build, and a nightly.

[2017-06-09 18:14] jdm commented on #16057
One potential solution: in `ScriptThread::handle_exit_pipeline_msg`, we compare the document for `self.topmost_mouse_over_target` to the document obtained from `self.documents`. If they are the same, then we null out `self.topmost_mouse_over_target`.

[2017-06-09 19:40] #17249 closed

[2017-06-10 11:12] Feliix42 opened #17264 "Text rendering: Characters are not in line"
I just fired up servo on ff17af064b672482e12d98ec474e2dc0013cb17f, built in `--release` mode on macOS and noticed that on https://github.com, the characters of text are not in line:

<img width="756" alt="screen shot 2017-06-10 at 13 01 25" src="https://user-images.githubusercontent.com/9332912/27002281-2e0bee54-4dde-11e7-9b1a-d572e72e8a24.png">

It's subtle, but some of the characters are a few p

[2017-06-10 11:15] emilio commented on #17264
cc @glennw, I'm not sure if this is Servo's text layout stuff, or WR's :)

[2017-06-10 12:10] ibmandura commented on #16057
I would like to take a shot at this one, but I am unable to reproduce the bug with the minimal testcase given here. `./mach run --release minimal.html`, where `minimal.html` consists of `<div onmouseover="location.reload()" onmouseout="this.clientLeft">hi there</div>`, does not seem to run into any problems. Can somebody confirm or deny this?

[2017-06-10 15:09] atouchet commented on #17264
This is likely a duplicate of #17175.

[2017-06-10 19:11] emilio commented on #17264
That sounds like it, thanks!

[2017-06-10 19:11] #17264 closed

[2017-06-10 19:12] emilio commented on #17175
Over #17264, @Feliix42 reports it running just with `--release`, so maybe not browser.html dependent?

[2017-06-10 19:22] cbrewster commented on #17175
I see the issue both with and without browserhtml

[2017-06-10 22:18] imiuka opened #17267 "insufficient font fallback handling"
hi there!

servo does not "properly" handle font family fallbacks: it effectively uses a single fallback font (when no font family is specified, when serif or sans-serif is specified, etc.

if no explicit font family is specified then the fallback will be used. on most platforms (macos), the default fallback family does not include cjk glyphs, emoji, or other obscure glyphs, and so they won't rend

[2017-06-11 01:00] emilio commented on #17267
Your report sounds accurate to me, thanks for the detailed description of the problem! :)

I'm not too much into fonts and text layout, but @glennw or @mbrubeck should be able to point out if there's any problem with the approach you're describing (though tbh if it works for FF, it likely works for Servo too).

It'd be lovely to get fixes for this on tree, and I'd be happy to answer questions if n

[2017-06-11 15:35] atouchet commented on #16459
Just realized that this also impacts print screen which makes it so now I can't take screenshots of Servo.

[2017-06-11 15:45] atouchet commented on #15432
Are you still seeing this issue? I am not able to reproduce this.

[2017-06-11 15:54] atouchet commented on #11960
It looks like there may be some image scaling issues going on. I made a comparison picture of Servo vs. Firefox rendering the home screen (Firefox is the top result and Servo is the bottom):

![Image Comparison](https://i.imgur.com/uVXb1mO.png "Image Comparison")

[2017-06-11 16:44] DoumanAsh commented on #16459
@atouchet Hmm... i think it should not. Servo uses only unicode text format when accessing clipboard so it should break only copying\pasting text

[2017-06-11 16:53] atouchet commented on #16459
@DoumanAsh well it doesn't appear to be working now and I know that it did work in the past. I am assuming that #17067 started the problem but I have not verified that.

[2017-06-11 17:06] atouchet opened #17271 "Servo breaks the Windows clipboard"
Currently when Servo is running it is no longer possible to copy and paste in Windows. This issue affects all programs, not just Servo itself. For example while Servo is running it is not possible to copy a URL from Firefox to paste into Notepad. Taking a screenshot while Servo is running also currently does not work. This issue may be due to #17067 but I have not verified that.

This was previous

[2017-06-11 17:06] DoumanAsh commented on #16459
@atouchet Well, I suppose stopping leaving clipboard open on windows will prevent any cod of conflicts so you should wait for that to be resolved first.

[2017-06-11 22:07] jonathandturner commented on #15432
Looks correct now.  Closing.

[2017-06-11 22:07] #15432 closed

[2017-06-11 22:49] jonathandturner commented on #16720
I can't see the JS error, but when I run this benchmark, this is what I see:

![screen shot 2017-06-12 at 10 48 19](https://user-images.githubusercontent.com/547158/27015207-c41b2fc0-4f5c-11e7-9170-7bff5842a63e.png)

[2017-06-11 23:10] jonathandturner commented on #16720
I take that back, if I let it run long enough, I do see:

[code]

[2017-06-11 23:30] jonathandturner commented on #16720
As the screenshot suggests, the benchmark doesn't seem to be working the same way as on other browsers, as there doesn't appear to be any status updates as the benchmarks run

[2017-06-11 23:49] jonathandturner commented on #16720
(apologies for the spamming)

I was able to get a successful run that didn't have the error.  Not sure what causes it to occur, yet.

![screen shot 2017-06-12 at 11 42 45](https://user-images.githubusercontent.com/547158/27015554-49d69ea4-4f64-11e7-944e-4be60c950840.png)

Here's Firefox 53 for comparison:

![screen shot 2017-06-12 at 11 47 49](https://user-images.githubusercontent.com/547158/27015

[2017-06-12 04:18] paulrouget opened #17273 "Browser::new() changes CEF follow up"
Since #16477, we need to make some changes in CEF:

- No need to use the `shell.homepage` pref
- don't call `frame.set_url` in `ServoCefBrowser::new`

/cc @sadmansk

[2017-06-12 05:16] #15636 closed

[2017-06-12 06:09] sadmansk commented on #17273
@paulrouget I'm on it +1

[2017-06-12 07:56] est31 commented on #17271
This PR will fix this: https://github.com/aweinstock314/rust-clipboard/pull/42

[2017-06-12 07:57] est31 commented on #17271
Theoretically, you could also work around this in servo, but then you'd have to create a clipboard context on every single clipboard interaction, which might be expensive on X11. So I'd prefer the proper fix.

[2017-06-12 07:57] est31 commented on #17271
And yes, it has been introduced by  #17067.

[2017-06-12 12:47] jdm commented on #16057
@ibmandura Did you move the mouse over the text?

[2017-06-12 12:56] jdm opened #17275 "Android nightly upload is broken"
[code]
I'm pretty sure this regressed with #17008.

[2017-06-12 12:56] highfive commented on #17275
cc @aneeshusa

[2017-06-12 14:38] #17079 closed

[2017-06-12 14:46] meecoffee commented on #12130
too long time android version is a joke

[2017-06-12 16:35] ibmandura commented on #16057
@jdm yes I did, nothing happened

[2017-06-12 18:11] asajeffrey opened #17277 "Panic when setting canvas width or height"
Setting the canvas dimensions causes a panic. For example:
[code]
produces:
[code]

[2017-06-12 18:13] asajeffrey commented on #17277
IRC conversation with @bzbarsky: http://logs.glob.uno/?c=mozilla%23servo&s=12+Jun+2017&e=12+Jun+2017#c695098

TL;DR we should clear the WR image id when we resize a canvas.

[2017-06-12 19:04] bholley opened #17280 "Shrink RuleNode by two words"
RuleNode is a frequently-allocated data structure. It lives in components/style/rule_tree/mod.rs

Right now it's 96 bytes on 64-bit platforms. We can shrink this to 80 quite easily.

We should do the following:
(1) Add a size_of test for RuleNode in tests/unit/stylo/size_of.rs.
(2) Change StyleSource to have a "None" variant, and eliminate the Option<> around StyleSource.
(3) Reuse a sibling point

[2017-06-12 19:04] highfive commented on #17280
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-12 19:04] highfive commented on #17280
cc @emilio

[2017-06-12 19:52] jdm opened #17282 "Bluetooth WPT tests take a long time to run"
Each individual test is quick, but there are a huge number of them. This is annoying when you want to run the tests under mozilla/ as a smoketest, since the bluetooth tests usually not be relevant at all. I recommend moving them into a parallel directory so it's easier to run other tests without running them.

[2017-06-12 20:50] emilio commented on #17280
This wouldn't shrink anything, AFAICT, would it? StyleSource contains an `Arc`, which contains `NonZero`.

[2017-06-12 20:58] jyc opened #17283 "Custom properties updated through CSSOM not triggering recomputation?"
The following example alerts "old" then "new" in other browser, but "old" and then "old" in Servo.

[code]

Trying to find out why this happens now. I think this is because while `style::matching::cascade_primary` checks if there is damage (?) through `servo::restyle_damage::compute_damage`, which looks at all non-custom properties, there is no such check for the values of `ComputedValues.custom_p

[2017-06-12 21:00] jyc commented on #17283
If we add some code to cascade_primary to forcibly set `child_cascade_requirement` to `ChildCascadeRequirement::MustCascadeDescendants` when there are custom properties, then we get "new" as the second alert as expected! Unfortunately we can't just compare the two `custom_properties` fields using `==` because `Atom` doesn't implement `eq`.

[2017-06-12 21:03] bholley commented on #17280
It would, because the NonZero optimization doesn't extend into nested enums: https://is.gd/lviB8t

I did indeed verify that Option<StyleSource> is 24 bytes.

[2017-06-12 21:20] emilio commented on #17243
I'm assuming this is fixed by #17244, please reopen if that's not the case, thanks!

[2017-06-12 21:22] jdm commented on #17243
Bah. The symptom I originally reported was fixed, but we're back to this uninformative permafail:
[code]

[2017-06-12 21:26] jdm commented on #17243
I suspect that the github token is not provided to the script any longer.

[2017-06-12 21:39] hgallagher1993 commented on #16825
@emilio getting back to this task now and I was just wondering how I'd go about testing that it works? I've never actually written a test for Servo before so even just where I'd put it

[2017-06-12 21:45] jdm commented on #17243
No, we definitely provide an environment to that step that is supposed to include the token: https://github.com/servo/saltfs/blob/7d096a3d3862010ffcf646d7736efe7154a9a578/buildbot/master/files/config/factories.py#L273

@aneeshusa Any suggestions for how to debug this?

[2017-06-12 21:54] jdm commented on #16057
Huh. Something that merged in the past week has hidden the problem that my testcase was previously exposing.

[2017-06-12 21:59] #17275 closed

[2017-06-12 22:16] emilio commented on #16825
So Servo doesn't have any ruby support, so we'd need to test it on mozilla-central. You can set up a mozilla-central development environment and hack on the `servo/` directory, but you can also open a PR and I can send it to the try server for you if you want :)

[2017-06-12 22:49] jdm commented on #16057
Nevermind; it can only be reproduced when run under an HTTP server instead of directly from a file:// URL. I just got it to work using `python -m SimpleHTTPServer` in the same directory.

[2017-06-12 23:31] jonathandturner commented on #16703
I don't see the crash on this 2012 Macbook Air (the original post was on a 2015 MBP).  Instead, I'm seeing this:

[code]

Unclear whether the crash is video card related.

[2017-06-13 01:45] gterzian commented on #17200
In the light of #15934 is it neccesary for the Compositor to forward to constellation? Can the embedder not directly communicate withe constellation? If you look at the 'proof of concept' [implemention here](https://github.com/gterzian/servo/blob/887289e2628f714de8c5787a0c72c527957502ba/components/servo/lib.rs#L253), one could conclude that the only reason the compositor is still needed in that op

[2017-06-13 01:56] jonathandturner opened #17287 "Slashdot loads then goes blank"
This may be related to https://github.com/servo/servo/issues/11753

Noticed that Slashdot loads, and you can scroll around, but after a few seconds the page goes blank, seemingly redirecting to this address:

![screen shot 2017-06-13 at 13 55 32](https://user-images.githubusercontent.com/547158/27062592-0586d282-5040-11e7-82f3-9c887d1c3b78.png)

Log from the terminal:

[code]

[2017-06-13 02:13] gterzian commented on #17200
Perhaps in the light of #15934, it is not necessary for the compositor to forward messages from the embedder, rather the embedder(actually it's not the embedder, rather 'Browser' in libservor) could send a message to the constellation, currently grabbing the pipeline id from the compositor(see https://github.com/gterzian/servo/blob/887289e2628f714de8c5787a0c72c527957502ba/components/servo/lib.rs#L

[2017-06-13 02:31] sophiajt opened #17289 "Twitch strobes when opening"
Opening twitch.tv without bhtml, you get a really strong strobe effect as the site loads.

You can see the effect in the movie here:

[twitch_strobe.mov.zip](https://github.com/servo/servo/files/1070120/twitch_strobe.mov.zip)

[2017-06-13 02:43] gterzian commented on #15934
In the light of the current 'proof of concept' at #17269 I'm starting to think that 'libservo/Browser' could become the main piece of glue between the embedder and other servo internals, this could also facilitate further improvements like multiple compositors and/or multiple "tabs"(Browser currently has one compositor, so I guess that could be the place to keep track of several ones, and that .

[2017-06-13 03:35] est31 commented on #17287
Its most likely a dupe.

[2017-06-13 03:45] jonathandturner opened #17290 "Windows nightly fails on open"
Running the current Windows nightly, whether .msi or .zip install, fails to run.  The servo screen closes immediately on open.

Nothing is printed to the terminal when this occurs.

[2017-06-13 05:09] gterzian commented on #15934
@paulrouget There was a very good point of @cbrewster here https://github.com/servo/servo/pull/17269#discussion_r121574537 about whether we should have a new type of event for the stuff that isn't handled by the compositor, which made me  think of the `BrowserEvent` that you introduced in your prototype, and also made me realize a bit more what I was trying to write above:

Taking the "tabs protot

[2017-06-13 08:05] MTRNord commented on #15110
Got that Error on Windows 10 64-bit too with download at the website

[2017-06-13 09:25] zuwow commented on #17280
I'm interested in working on this.
@highfive: assign me

[2017-06-13 09:25] highfive commented on #17280
Hey @zuwow! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-06-13 10:57] paulrouget commented on #15934
I agree with what you're saying. So we could rename "Browser" to "Constellation" or "Servo".

How would we create a new browser (`TopLevelBrowsingContext`)? And how would that look like from the point of view of the embedder.

This is what I'd like the final API to look like, more or less: https://gist.github.com/paulrouget/248c0d7bd308242c43e05648b1245fab

Look at the example at the end of the fi

[2017-06-13 11:10] paulrouget commented on #15934
So what we want to do for this issue is:

- by-pass the compositor when it makes sense
- move the window object to servo/lib.rs
- maybe rename browser to servo (or constellation)

[2017-06-13 11:11] paulrouget commented on #15934
I disagree with that step. Browser should not have any internal state. Nothing to update, just redirect messages.

The embedder will have a list of (ServoUrl, TopLevelBrowsingContextId) pairs, not Browser.

[2017-06-13 11:20] NiLSPACE commented on #17290
I get this error:
[code]

[2017-06-13 14:10] gterzian commented on #15934
@paulrouget thanks.

First of all, I would like to confirm my understanding of the "event loop", to make sure I am not missing something in the context of this discussion. Is the following correct regarding the current Glutin implemention:
* When the embedder receives a `Glutin::Event, it is 'translated' to a `windowing::WindowEvent`, and passed along `libservo::Browser.handle_event`. Glutin event

[2017-06-13 14:41] DineshMv commented on #17290
I got the same error

[2017-06-13 14:59] metajack commented on #16158
@glennw thinks that incremental display list building (#16569) will fix this case, and that it is not something we'd see in the real world.

[2017-06-13 15:09] jdm commented on #17290
This sounds like a regression from https://github.com/servo/servo/pull/16477.

[2017-06-13 15:09] jdm commented on #17290
cc @paulrouget @sadmansk

[2017-06-13 15:34] #17277 closed

[2017-06-13 16:02] metajack commented on #11960
cc @jonathandturner

[2017-06-13 16:47] bholley commented on #17280
Great! Let me know if you have any questions.

[2017-06-13 17:17] sadmansk commented on #17290
I will get a windows virtual machine up and running and check what this is all about

[2017-06-13 17:31] bholley opened #17300 "EagerPseudoStyles should use an Arc rather than a Box"
This lives in components/style/data.rs

We copy these styles when sharing styles with pseudo-elements, and it would be much better to just bump the refcount rather than duplicating the heap-allocation.

This should be a trivial change.

[2017-06-13 17:31] bholley commented on #17300
Filed on the Gecko side as https://bugzilla.mozilla.org/show_bug.cgi?id=1371049

[2017-06-13 17:31] highfive commented on #17300
cc @emilio

[2017-06-13 17:31] highfive commented on #17300
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-13 17:39] asajeffrey opened #17301 "Better document which threads can block on which other threads"
We should document which threads are allowed to block on which other threads, to avoid deadlock.

[2017-06-13 17:41] asajeffrey commented on #17301
IRC conversation with @jdm and @cbrewster about this: http://logs.glob.uno/?c=mozilla%23servo&s=13+Jun+2017&e=13+Jun+2017#c696366

TL;DR: oh, the constellation can block on layout (e.g. https://github.com/servo/servo/blob/fe573c1ce9a7cbacf69a846ad966c429faa61703/components/constellation/constellation.rs#L2524-L2530)

[2017-06-13 18:22] jdm commented on #17301
My ideal would be if we could enforce this with the type system or a compiler plugin somehow.

[2017-06-13 18:31] asajeffrey commented on #17301
@jdm: that would be even better.

[2017-06-13 19:23] luser commented on #17106
FWIW, I've been testing enabling sccache for Rust compilation in Firefox builds, and for our stylo builds (which build a big chunk of Servo code), [it looks to save about 5 minutes per build](https://bugzilla.mozilla.org/show_bug.cgi?id=1357825#c15).

[2017-06-13 19:33] LifeIsStrange commented on #17220
There was this url, https://github.com/servo/servo/wiki/Remaining-work
It's not too old but servo is evolving so Fast that a LOT of this remaining work has already been done :)

For a non exhaustive overview : https://html5test.com
But the website don't detect support for all servo features, for example it says that it doesn't support the webVR api. Maybe that's because of servo bugs in implementa

[2017-06-13 19:54] zuwow commented on #17280
I'm not sure what to do about the read function on the StyleSource struct.
https://github.com/servo/servo/blob/master/components/style/rule_tree/mod.rs#L96
With the addition of a None variant, what should block be? Or should that be handled at the caller like it is now with the option?

[2017-06-13 19:55] bholley commented on #17280
Right - it should just panic, and the callers should check is_none().

[2017-06-13 19:57] jonathandturner commented on #17290
Does anyone know if we can get one of the test machines to smoketest running the Windows build?  That way hopefully we could catch the catastrophic stuff before it lands?

[2017-06-13 20:05] jdm commented on #17290
The tricky bit would be controlling the browser through automation. We would want to be sure that the browser.html interface has finished loading, and then quit the browser, then check the process return code.

[2017-06-13 20:06] jonathandturner commented on #17290
@jdm - yeah for something more complicated I can see that being harder, though for cases like "browser fails immediately" hopefully we can catch them.  If we could start them up and screenshot them and compare to a known working screenshot... that'd be even better (but I'll take what I can 😄 )

[2017-06-13 20:19] zuwow commented on #17280
Makes sense. To be clear then, you're thinking that StyleSource would look like
[code]
and then I'd add an `is_none()` function to StyleSource . Any trait I should use for that?

Sorry, my rust is a bit uh... rusty.

[2017-06-13 20:35] jdm commented on #17290
Right, I'm just pointing out that even the most basic test of "did the browser.html interface load successfully" probably requires using something like webdriver.

[2017-06-13 20:41] jdm commented on #17280
No need for a trait. You can use a bare `impl StyleSource` to add the method.

[2017-06-13 22:01] atouchet commented on #11960
@jonathandturner Windows 10 with Nvidia GeForce GTX 580.

[2017-06-14 01:03] gterzian commented on #15934
By the way, it seems the answer to my question above is found in #15734
It seems that the event that is sent when the embedder event loop is kicked awake is `WindowEvent::Idle` (the compositor doesn't do anything specific in response to this event, but it gives it a chance to receive messages on it's port)

[2017-06-14 02:19] gterzian commented on #15934
ok @paulrouget I think I now understand better(again!) what it is that I am trying to propose here, after having read about your proposed `perform_update` method in #15734 and seen it used in your proposed api.

Essentially, what I had in mind is the 'reverse' of you: have Browser handle `WindowEvent::Idle` internally, and call WindowMethods and/or compositor methods as appropriate, wherease you h

[2017-06-14 02:44] sadmansk commented on #17290
@jdm I'm currently running into something similar to this issue https://github.com/servo/servo/issues/12356, download of `rustc-nightly-i686-pc-windows-msvc.tar.gz` fails. I tried manually downloading and extracting `x86_64` as per the instructions, it still tries to download the `i686` version when I ran the build script. Any idea how to get around this issue?

[2017-06-14 03:00] paulrouget commented on #17290
@NiLSPACE can you please add the backtrace? (`RUST_BACKTRACE=1`)

[2017-06-14 03:02] paulrouget commented on #17290
@sadmansk Can you download the nightly build and reproduce the crash?

[2017-06-14 03:07] paulrouget commented on #15934
I'll respond to your comments a bit later this week.

I'm working on #17201 and #17200, and these might have an impact on the current architecture.

[2017-06-14 03:21] glennw opened #17307 "Incremental layout bug in matter.js demo."
A small 2d physics demo can be found here - https://gist.github.com/glennw/3435b37650405d0cb33a7397c2e27734.

Running it with Servo results in the following output:

![bug1](https://user-images.githubusercontent.com/2350882/27114047-3061215a-5104-11e7-8e8b-f6d81bbcf053.png)

However, if you run with the ```-i``` command line option to disable incremental layout, you see the correct result, which i

[2017-06-14 03:21] glennw commented on #17307
cc @pcwalton @emilio in case you have any ideas.

[2017-06-14 03:28] glennw opened #17308 "JS / layout performance issue"
A small 2d physics demo can be found here - https://gist.github.com/glennw/3435b37650405d0cb33a7397c2e27734.

This runs much slower in Servo than in Blink and Gecko.

The rendering is easily holding 60fps:
[code]

However, the frame rate is limited by JS and layout time:

[code]

This is taking ~9 ms / frame for layout / style recalc, and ~11ms per frame for JS execution.

Even with those numbers,

[2017-06-14 03:40] glennw commented on #17308
Attached flame graph of this demo:

![fg](https://user-images.githubusercontent.com/2350882/27114387-a8d3ecc4-5106-11e7-98ba-eaf827b03fb9.png)

It looks like the majority of the time is being spent inside the script thread (perhaps the profile output above isn't accounting for all this time, which may explain the much lower framerate?).

A large portion of the time is being spent in the bindings t