[2017-04-09 19:38] brainlessdeveloper commented on #15169
Hello! I would like to work on this issue. I am new to the language: my only experience is a couple small applications that use APIs from services like Slack, Asana and my company's own backends.

I think with the comments on this wall and some effort I'll be able to tackle it, though!

[2017-04-09 19:48] michaelwheeler commented on #15759
Looks like this can be closed after the updates in e24af4d8bae623b797b9c80fe0d0f48aeac8df24.

[2017-04-09 19:48] #15759 closed

[2017-04-09 19:55] alajara commented on #16031
hey @gterzian I uploaded the [WIP} pull request, I ./mach build -d and it passes but when I run the structured clone ./mach test I get a test crash, so I am not doing something correctly. Is there something you see that I need to fix.

[2017-04-09 20:08] jonathandturner commented on #12125
@mzji - I wonder if it got marked because the Windows build does have a logo but maybe they don't have the permanent solution in place?

[2017-04-09 20:28] mzji commented on #12125
Currently the MSI installer has an icon, but servo's executable doesn't. I think #11969 could focus on implement this (it requires windows resources).

[2017-04-09 20:33] ahmedcharles commented on #16305
MSVC 2017 doesn't have a single install location anymore that can be used to determine where the compiler binaries are. So, one option is to require the user launch `python mach` from a "x64 Native Tools Command Prompt for VS 2017", which should have the same effect as the current script. The other approach is to use [vswhere](https://github.com/Microsoft/vswhere) to detect a valid 2017 installati

[2017-04-09 20:38] jonathandturner commented on #12125
@mzji - maybe I don't understand what you mean?  When I open Servo, I get an icon in the dock:

<img width="45" alt="servo_in_dock" src="https://cloud.githubusercontent.com/assets/547158/24840826/1699f526-1dc9-11e7-8547-e7051954a719.png">

[2017-04-09 20:52] atouchet commented on #12125
@jonathandturner I have found that the Servo icon in Windows can be kind of funky. Sometimes it will load just fine, sometimes it will load but with noticeable graphical artifacts, and sometimes it just doesn't load at all.

For example here is what I am seeing with the latest nightly build:

![Windows Servo Icon](https://i.imgur.com/Kpbx9ik.png "Windows Servo Icon")

[2017-04-09 20:56] jonathandturner commented on #12125
@atouchet - if it sometimes loads and sometimes doesn't, it sounds like we have a different issue.  Have you filed a bug for the behaviour you're seeing?  We should probably track it down.

[2017-04-09 21:03] SergioBenitez commented on #5944
@nox The `cookie` parser should _not_ ignore `Path` values that do not begin with '/'. The grammar for `path-value` does not require a '/' as the first character ([RFC6265 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1)). The `cookie` crate cannot default the cookie attribute value to `default-path` since it obviously lacks this context. As such, I believe the best thing to do is to forw

[2017-04-09 21:07] atouchet commented on #12125
@jonathandturner I haven't filed a bug yet as I wasn't sure if it was just a duplicate of #11969. If you think these are different issues I will document the problem in a bit more detail and file an issue report for it.

Also I'm not sure if you have seen it but I did file an issue for another problem with Servo on the Windows taskbar in #15942. That is kind of annoying but I'm not sure if it is a

[2017-04-09 21:08] jdm commented on #15957
What are the failures?

[2017-04-09 21:41] jdm commented on #15169
Great! Please ask questions if anything is unclear!

[2017-04-09 21:57] jdm opened #16323 "Report empty title tags as a style violation"
It's easy to create new tests with the default `<title></title>` and forget to give the test a meaningful title. We should make `./mach test-tidy` report this as an error by adding a new method to tidy.py like `check_toml` that iterates over the lines of any html file.

Code: `python/tidy/servo_tidy/tidy.py`
Tests: add a testcase to `python/tidy/servo_tidy_tests/`, then add a method to `test_tidy.

[2017-04-09 21:57] highfive commented on #16323
cc @wafflespeanut

[2017-04-09 21:57] highfive commented on #16323
cc @wafflespeanut

[2017-04-09 21:57] highfive commented on #16323
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-09 22:36] Coder206 commented on #16305
According to [Microsoft](https://blogs.msdn.microsoft.com/vcblog/2017/03/06/finding-the-visual-c-compiler-tools-in-visual-studio-2017/), here are some other ways this could be addressed.

[2017-04-09 22:52] jdm opened #16324 "Fixed table layout with explicit width for last child is incorrect"
This is the underlying reason why the WPT results table is always cut off.
[code]
Servo:
<img width="1025" alt="screen shot 2017-04-10 at 8 51 41 am" src="https://cloud.githubusercontent.com/assets/27658/24841574/f7d3cb4c-1dca-11e7-87e4-4c6559141a20.png">
Firefox:
<img width="1395" alt="screen shot 2017-04-10 at 8 52 05 am" src="https://cloud.githubusercontent.com/assets/27658/24841579/ffb9427e-1d

[2017-04-09 22:56] jdm commented on #16324
https://drafts.csswg.org/css2/tables.html#fixed-table-layout

[2017-04-10 00:03] gterzian commented on #16031
@alajara awesome! I will take a look at it in the course of the week...

[2017-04-10 01:01] jonathandturner commented on #15942
This seems to repro if you just use the minimize button also.

[2017-04-10 01:46] jonathandturner commented on #15942
[code]

[2017-04-10 01:47] atouchet opened #16326 "Problems with Servo icon in Windows taskbar"
When running Servo in Windows 10 the taskbar icon does not always display properly. Sometimes it is displayed properly, sometimes it is displayed with graphical artifacts, and sometimes it does not load at all.

Example cases:

![Windows Servo Icon](https://i.imgur.com/B7UJhA3.png "Windows Servo Icon")

The Servo icon displayed properly.

![Windows Servo Icon](https://i.imgur.com/G6jrCpE.png "Wind

[2017-04-10 01:49] atouchet commented on #12125
@jonathandturner I have filed the taskbar icon issue that I ran into as #16326.

[2017-04-10 04:23] jdm commented on #15512
I can't reproduce this on a recent build. Can you?

[2017-04-10 04:55] cbrewster commented on #15512
Can't reproduce now.

[2017-04-10 04:55] #15512 closed

[2017-04-10 05:23] jdm opened #16329 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/context/context-creation.html"
[code]

[2017-04-10 05:23] jdm opened #16330 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/bugs/conditional-discard-in-loop.html"
[code]

[2017-04-10 05:35] jdm opened #16331 "Intermittent error in /workers/data-url.html"
[code]

[2017-04-10 05:39] jdm commented on #16331
Closing in favour of #16332.

[2017-04-10 05:39] #16331 closed

[2017-04-10 06:02] glennw commented on #15942
@jonathandturner https://github.com/servo/webrender/pull/1094

[2017-04-10 08:15] mzji commented on #12125
@jonathandturner What I mean is the servo main executable (servo.exe) itself doesn't have an icon. By convention windows applications embed an icon in their main executable. Maybe this is the reason of #16326 , but that needs investigate.

[2017-04-10 09:30] stshine commented on #16324
Looks like percentage width is not handled correctly.

[2017-04-10 09:34] jdm opened #16335 "Intermittent timeout in /webgl/conformance-1.0.3/conformance/glsl/bugs/temp-expressions-should-not-crash.html"
[code]

[2017-04-10 10:28] nox commented on #16308
#15787

[2017-04-10 10:28] #16308 closed

[2017-04-10 10:28] nox commented on #5944
Ok, I see, so that step is correct, and the cookie crate shouldn't do anything different.

[2017-04-10 10:28] #5944 closed

[2017-04-10 11:01] Wafflespeanut commented on #16138
@notriddle suggested this in #16009

I personally hate long commit titles (among other things). It should only give a gist. Anything beyond that can go into the summary. GitCop is probably worth trying it out?

[2017-04-10 11:17] stshine commented on #12021
Looks like this is fixed.

[2017-04-10 11:23] stshine commented on #9959
This should be closed since we do not have work queue anymore.

[2017-04-10 18:49] brson opened #16339 "Stale windows build still live"
The current dl is https://download.servo.org/nightly/windows-msvc/servo-latest.msi, but there's also one up at https://download.servo.org/nightly/windows/servo-latest.msi

I expect the later is old junk. I installed it recently and was horrified at it. The former looks much better.

[2017-04-10 19:11] Wafflespeanut commented on #16339
cc @larsbergstrom

[2017-04-10 19:14] larsbergstrom commented on #16339
The `latest*` files are gone, though I left the dated builds in there. The issue is that we used to just have `windows` builds but then once we added msvc builds we split it into separate directories. I agree that having a `servo-lastest.msi` file in the old directory is bad news. Thanks for pointing it out, @brson!

cc @edunham

[2017-04-10 19:14] #16339 closed

[2017-04-10 19:43] #15443 closed

[2017-04-10 20:25] atouchet commented on #16326
This may be improved/fixed by #11969.

[2017-04-10 20:51] #12413 closed

[2017-04-10 23:22] #9959 closed

[2017-04-10 23:23] #12021 closed

[2017-04-11 03:37] stshine commented on #11928
I suspect this is #10151.

[2017-04-11 05:45] jdm commented on #16057
I haven't been able to reproduce this when visiting https://bitbucket.org/PrimordialHelios/, logging in, and then clicking around on the logged in page.

[2017-04-11 07:11] alfredoyang commented on #15607
Can I take this?

@highfive: assign me

[2017-04-11 07:11] highfive commented on #15607
Hey @alfredoyang! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-11 08:02] ZehCnaS34 commented on #16323
Hello! I'm working on a `check_html` method for the tidy script, and I'm wondering how you would like to handle the `img`  tag.

This is what I have so far:
![screenshot from 2017-04-11 03-56-57](https://cloud.githubusercontent.com/assets/1127553/24898450/f980d246-1e6a-11e7-8aa6-8ef7851cc191.png)

Would you like me to add a "white-list" of approved empty tags, or keep the empty image tag as an iss

[2017-04-11 08:34] Wafflespeanut commented on #16323
No, we should fix the titles of those files which cause the error.

Also, please notify us before you begin to work on an issue so that we could (assign it to you and) reduce duplicate efforts.

[2017-04-11 09:03] highfive commented on #15211
cc @emilio

[2017-04-11 09:04] upsuper commented on #15211
The spec is https://www.microsoft.com/typography/otspec/svg.htm

[2017-04-11 09:04] nox commented on #16304
@jdm Does the buffer even needs to be threadsafe? Can't we just send it to main thread once all the data has been accumulated?

[2017-04-11 09:19] NiLSPACE opened #16346 "Unable to enter credentials on a microsoft login page"
When going to a login page from Microsoft I'm unable to click any element, almost as if there is an invisible div on top of the page. When first going to the page I am able to enter my email address though since the input element is automatically selected.

~~I'm currently on a Windows machine, but I'll try it on Linux once I get home.~~

URL: https://login.microsoft.com/

[2017-04-11 10:36] alfredoyang commented on #15607
It looks like both servo and webrender require CGFont serialization. Should I implement SerializableCGFont on both? Or implement it on one of them and include it on another one?

[2017-04-11 10:44] jdm commented on #16304
That's a good point!

[2017-04-11 10:52] jdm commented on #16323
@ZehCnaS34 That appears to be reporting empty tags besides `<title>`.

[2017-04-11 10:58] Wafflespeanut commented on #16323
Oh, nvm, looks like I misread this.

[2017-04-11 14:05] streichgeorg commented on #15957
[code]

[2017-04-11 14:07] emilio opened #16351 "Intermittent timeout in /css-variables-1_dev/html/vars-font-shorthand-001.htm"

[2017-04-11 14:23] ZehCnaS34 commented on #16323
@Wafflespeanut Alright, I will do so in the future. Sorry for the lack of communication!

[2017-04-11 14:34] cu1t commented on #14095
Hi everyone! I'm new to both rust and servo, but would like to try working on this issue as it is currently not assigned to anyone.

[2017-04-11 14:37] highfive commented on #15673
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-11 17:57] pyfisch commented on #12655
I am working on this.

[2017-04-11 19:24] Coder206 commented on #16326
@atouchet I have been able to reproduce this (as #11969 shows). However, it only appears for me when I run Servo with `mach.bat build [-d|-r]`. When I run it from the target directory, it looks fine.

[2017-04-11 20:04] pyfisch commented on #7975
The page loads fast now (on release) but new icons are still not loaded.

There is a single error printed: `ERROR:script::dom::bindings::error: Error at https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dcb9d002b0b7052:2:47554 can't assign to properties of (new String("")): not an object`

Is this issue still relevant?

[2017-04-11 20:12] pyfisch commented on #14944
@jdm for me it does not panic for commit df67977704b5aa0741e4caf6ce5d5d6cd4e9f334 in release mode on Linux. It displays some broken 3D transforms. Does it still panic for you?

[2017-04-11 21:02] jdm commented on #14944
Keep in mind that underflow is not expected to panic in a release build. However, it also does not panic for me in a debug build.

[2017-04-11 21:02] #14944 closed

[2017-04-11 21:20] nox opened #16353 "Support mixed content blocking for font resources"
Follow-up of #16320.

[2017-04-11 21:24] nox opened #16354 "Properly implement the destination check when blocking as mixed content"
Follow-up of #16320.

In step 1.4. of both `should_request_be_blocked_as_mixed_content` and `should_response_be_blocked_as_mixed_content`, `false` should be returned if the destination is "document" *and* if the target's browsing context has no parent browsing context. To do this, we probably need to transmit this information all the way through with a separate field in `net_traits::response::Clie

[2017-04-11 21:28] avadacatavra commented on #7888
@nox now that we've landed the openssl bump, i'll be putting together a plan to see how we can gradually migrate off openssl

[2017-04-11 21:30] nox opened #16355 "Properly implement the request's type check when blocking a response as mixed content"
Follow-up of #16320.

In step 3 of `should_response_be_blocked_as_mixed_content`, `false` should be returned only if response is an opaque filtered response.

[2017-04-11 21:34] nox opened #16356 "Properly check whether mixed security contexts are prohibited"
Follow-up of #16320.

In step 2 of `does_settings_prohibit_mixed_security_contexts`, the HTTPS state of each embedding document needs to be considered. This will likely require adding a new field to `net_traits::request::Client` to transmit this info directly from the script thread.

[2017-04-11 21:37] nox opened #16357 "Consider whether we should add deprecated ciphers to our list of accepted ciphers"
AFAIK we currently only have ciphers considered modern in `net::connector::DEFAULT_CIPHERS`, so no response ever have their HTTPS state to `HttpsState::Deprecated`. More importantly, that also probably means we only support sites that could get a green padlock in Firefox.

Cc @avadacatavra

[2017-04-11 21:41] nox commented on #16355
@jdm requested on IRC for it to be done directly in #16320.

[2017-04-11 21:41] #16355 closed

[2017-04-11 21:43] nox commented on #16354
Given #16355 should be done as part of #16320, there is no reason to let this as a follow-up issue either.

[2017-04-11 21:43] #16354 closed

[2017-04-11 22:52] jdm commented on #14095
Go ahead! Please ask questions if anything is unclear!

[2017-04-11 22:52] jdm commented on #16323
No, that's not the case. You are welcome to work on it; you are just encouraged to let us know when you start working on it, rather then when you first have questions after doing some work.

[2017-04-11 23:25] sadmansk commented on #15673
@highfive: assign me.

I'm new to servo, but this seems like an easy enough task to give me a head start into contributing to servo.

[2017-04-11 23:25] highfive commented on #15673
Hey @sadmansk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-11 23:35] jdm commented on #7975
Filing a new issue about the icons not loading would be good. We can close this one.

[2017-04-11 23:35] #7975 closed

[2017-04-12 01:18] ZehCnaS34 commented on #16323
Do you want the test to yield an error if there is no title tag in the HTML file (Case 1), or only when there is an empty title tag? (Case 2)

Example of Case  1
[code]
[code]
In case 1, both HTML files would raise a flag.

Example of Case 2
[code]

[code]
In case 2, only file B.html would raise a flag.

[2017-04-12 01:41] jdm commented on #15957
The first test is verifying that if all of the known font longhands are present, the serialized version is the font shorthand. https://dxr.mozilla.org/servo/rev/065f50014f321466c979120967da720e88ae2b29/tests/unit/style/properties/serialization.rs#640-652 should be updated to include the new properties that the shorthand now checks for.

The second test looks like it might be failing to execute pyt

[2017-04-12 02:18] sadmansk commented on #15673
@jdm Just wanted to clarify one thing for this issue. So the deliverables for this issue includes whether the new commits in the PR contains any merge commits. But I was looking over the previous PR that was closed, and I was wondering if the change should also make sure that all the commits in a given PR are squashed into one.

[2017-04-12 02:25] jdm commented on #15673
No, it's fine for PRs to contain more than one commit if distributing the changes make sense. I don't see any way to allow that while also reporting commits that should be squashed.

[2017-04-12 03:36] jonathandturner commented on #16326
Huh, do we know why the release one is having problems?

Also what are the steps to repro?  I'll be putting the nightly through it's paces once the last two issues are resolved to see if it's ready to go live very soon, maybe as soon as tomorrow.

[2017-04-12 03:46] jdm commented on #15636
#15699 was an attempt at fixing this; the work there had some review comments that needed to be addressed.

[2017-04-12 05:09] atouchet commented on #16326
I haven't found a consistent way to reproduce this issue yet. I can load the exact same build and get different results at different times.

[2017-04-12 05:49] zimio commented on #14887
Is there a way to test if a Node only contains text?

[2017-04-12 05:57] karan1276 commented on #15999
okay ill make changes and send pr. Ill probably get it wrong the first time, but lets see

[2017-04-12 06:07] Wafflespeanut commented on #15169
Wonderful. I never noticed that this addresses #12655.

[2017-04-12 06:25] sadmansk commented on #15636
@jdm I could take over this issue if no one else is working on it.

[2017-04-12 06:27] jdm commented on #15636
Please do!

[2017-04-12 06:28] NiLSPACE commented on #16346
I've got the same problem on Linux.

[2017-04-12 06:29] jdm opened #16367 "Intermittent timeout in /html/dom/self-origin.sub.html"
[code]

[2017-04-12 06:30] jdm opened #16368 "Intermittent notrun in /html/browsers/windows/nested-browsing-contexts/frameElement.html:"
[code]

[2017-04-12 06:34] jdm commented on #14887
The Element.childElementCount API will return 0 if the only children of an element are text nodes.

[2017-04-12 06:52] #15729 closed

[2017-04-12 07:09] upsuper opened #16372 "Implement parsing and serialization of touch-action property"
https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action

Gecko seems to support `none,` `auto`, `pan-x`, `pan-y`, and `manipulation`. We need to support them in stylo.

[2017-04-12 07:09] highfive commented on #16372
cc @emilio

[2017-04-12 08:36] #12278 closed

[2017-04-12 08:47] pyfisch commented on #11779
I am trying to do this.

Parsing was already implemented just like the webrender part. Piping works for very simple radial gradients.

[2017-04-12 08:58] upsuper opened #16374 "`stroke-dasharray` should have `allow_empty=True`"
`stroke-dasharray` has a default value of `none` which means an empty vector.

[2017-04-12 08:58] highfive commented on #16374
cc @emilio

[2017-04-12 12:00] #16374 closed

[2017-04-12 13:09] #15883 closed

[2017-04-12 13:45] #12937 closed

[2017-04-12 14:02] cu1t commented on #14095
A bit unsure how to proceed here. As mentioned above and in @linclark's pull request, required changes result in `Document-constructor.html` test to fail:
[code]
I'm not very familiar with the specs, but after giving them some look I tend to think that it is test at fault here. Created document will have `contentType` set to "application/xml", `self.is_html_document` will also be false -> empty na

[2017-04-12 14:08] stshine commented on #15661
cc @pcwalton

[2017-04-12 15:27] avadacatavra commented on #6106
i'd like to revisit this after we do some work on our certificate infrastructure

[2017-04-12 16:07] pcwalton commented on #5163
Let's consider this closed.

[2017-04-12 16:07] #5163 closed

[2017-04-12 16:11] #15954 closed

[2017-04-12 16:42] atouchet commented on #12125
#12937 is now done and should be crossed off.

It's not on the list but it would be nice to have #16360 merged to fix the minimization crash issue before Windows nightlies go live. Also I don't know how important the various taskbar icon problems are but they haven't been fixed 100% yet.

[2017-04-12 17:03] #14824 closed

[2017-04-12 17:43] vvuk opened #16386 "mingw64 gcc 6.3.0 compiler error segfault while building skia via servo"
This might not be relevant given that MSVC builds are the way to go, but I'm putting it here in case someone runs into it -- building servo with mingw64 gcc package `mingw-w64-x86_64-gcc 6.3.0-2` results in:

[code]

[2017-04-12 17:45] vvuk opened #16387 "Windows: cmake version parsing can fail"
I happened to have cmake `3.6.0-rc3` installed.  Trying to run mach with this version gives:

[code]

While I should upgrade to a non-rc version, cmake versions aren't going to follow python distutils versioning rules...

[2017-04-12 18:28] jonathandturner commented on #12125
@atouchet - Was just about to do a build and test these all out.  Since the icon issue seems to happen in release more, I'll build a release build when I test.

#16360 is now merged, so today's build is the first that could possibly become the start of the nightly.  I want to get a clearer picture of how bad the icon thing is, too.

[2017-04-12 19:37] mckaymatt commented on #15693
@jdm  when you say

Do you mean `HTMLStyleElement::parse_own_css`?

[2017-04-12 20:35] gaby2300 commented on #12125
I tried yet again with a build from https://download.servo.org/nightly/windows-msvc/servo-latest.msi.
I still have the same problem: a blank windows opens for a few seconds and closes.
I would greatly appreciate some help!

[2017-04-12 20:49] jdm commented on #15693
Yes.

[2017-04-12 21:02] jonathandturner commented on #12125
@gaby2300 - I don't remember if the nightly build gives a backtrace when it fails to run correctly.  Can you try running it from the terminal and seeing what it outputs?

If there isn't anything there, you may need to build a debug build by hand to get the full backtrace.

At the very least, if you file an issue, we can see if we can debug what's going on.

[2017-04-12 21:07] gaby2300 commented on #12125
I tried yet again with a build from https://download.servo.org/nightly/windows-msvc/servo-latest.msi.
I still have the same problem: a blank windows opens for a few seconds and closes.
I would greatly appreciate some help!

[2017-04-12 21:07] bzbarsky opened #16391 "alignment shorthand parsing is incorrect"
When https://github.com/servo/servo/pull/16322 landed we fixed some Gecko failures, but picked up a bunch of new ones:

got "center safe", expected ""

got "start unsafe", expected ""

@tamamu @upsuper

[2017-04-12 21:09] bzbarsky commented on #16391
Also:

got "end left legacy", expected ""

[2017-04-12 21:11] gaby2300 commented on #12125
@jonathandturner -  I will run it from the terminal if you tell me how to do so.

I don't know how to build a debug build by hand, I'm no developer, just a very interested and long time QA tester!

File an issue in Github you mean?

[2017-04-12 21:40] codec-abc commented on #16326
In my experience there is 2 ways to set up an icon in Windows. The first is to set it a build time. I am no expert but there I think it end in the IMAGE_RESOURCE_DIRECTORY_ENTRY region of the Portable Executable (PE) header of the exe file. The second method is to set it dynamically at run-time using the Windows API. Contrary to Firefox, it seems that Servo use the 2nd method. I can tell that beca

[2017-04-12 22:18] jonathandturner commented on #12125
@gaby2300 - yes, please file a Github issue.  That way we can track it separately rather than trying using this meta issue.  You can tag me in that issue and we can see if we can figure out what's going on.

Thanks!

[2017-04-12 23:26] jdm commented on #14975
@moonlightdrive Did you make any progress here?

[2017-04-12 23:37] gaby2300 opened #16393 "Nightly build opens a blank window just a few seconds and closes"
Downloaded nightly build from: https://download.servo.org/nightly/windows-msvc/servo-latest.msi
Running servo.exe opens a blank window just a few seconds and closes.

@jonathandturner is trying to help me

[2017-04-12 23:38] gaby2300 commented on #12125
@jonathandturner  - Filed issue https://github.com/servo/servo/issues/16393

[2017-04-12 23:41] pcwalton commented on #14947
@jdm It looks like `nsBlockFrame::ShouldApplyBStartMargin` handles margin collapse, so [CSS 2.1 § 8.3.1](https://www.w3.org/TR/CSS2/box.html#collapsing-margins) would be the relevant portion of the spec. But the spec there seems to contradict Gecko's behavior from my reading: "Margins of the root element's box do not collapse." Even if they did collapse, they would collapse to the greater of the r

[2017-04-13 00:11] KWierso commented on #16391
These are actually still failing on autoland (and since I merged, assuming they'd be fixed, mozilla-central). Any idea what I'd need to do to properly annotate these failures?

[2017-04-13 01:18] jdm commented on #16346
I made a minimal testcase that reproduces the problem:
[code]
This also happens with `bottom: 0`, but not with `left: 0` or `top: 0`.

[2017-04-13 01:41] KWierso commented on #16391
The expectations update that landed earlier accidentally omitted the ".html" in the test name, causing it to not apply. Fixed in https://hg.mozilla.org/integration/autoland/rev/b3ef306a6bf0

[2017-04-13 01:53] notriddle commented on #14947
It's quirks mode. Add `<!DOCTYPE html>` to the beginning of the file, and Firefox switches to acting the same as Servo.

[2017-04-13 02:01] jonathandturner commented on #12125
Okay, I gave the current build a test-run.  There are rough edges, to be sure, but that's to be expected of a pre-alpha.  Here's my thought:

I think we're ready for the Windows nightly to go live.

The showcase links work and show something coherent.  Keyboard input works enough for a preview.  We don't have any crashers that happen in the first few seconds of normal use.

There are a couple rema

[2017-04-13 02:26] #15958 closed

[2017-04-13 03:28] upsuper opened #16397 "Support other values of pointer-events"
There are several other values we need to support for `pointer-events` in stylo, which are: `visiblePainted visibleFill visibleStroke visible painted fill stroke`.

Simply adding
[code]
seems to hit an assertion
[code]
which may need some investigation.

[2017-04-13 03:28] highfive commented on #16397
cc @emilio

[2017-04-13 04:45] zspitzer opened #16399 "fatal crash www.theage.com.au"
latest servo windows nightly build, win10 64 (creators update)

servo crashes hard whilst loading http://www.theage.com.au

[2017-04-13 04:46] jdm commented on #16399
I see this on macOS:
[code]

[2017-04-13 04:48] zspitzer commented on #16399
yup, that's the same error

[2017-04-13 04:51] glennw commented on #16399
Also occurs on Linux, on all the similar Fairfax sites, such as http://brisbanetimes.com.au and http://smh.com.au.

[2017-04-13 04:55] SimonSapin commented on #14947
Good catch @notriddle. It’s not vertical centering or margin collapsing, Firefox’s `quirk.css` (the user-agent stylesheet applied in Quirks Mode) has a rule like this:

[code]

Compare:

[code]

The behavior is the same in Chromium but implemented differently and I don’t understand how. This shows 0px in Firefox and 21.44px in Chormium:

[code]

[2017-04-13 04:57] #14783 closed

[2017-04-13 04:57] SimonSapin commented on #14947
The relevant section of `quirk.css`, in full:

[code]

[2017-04-13 04:58] komawoyo opened #16400 "loading error google.com"
latest nightly servo - windows 8.1x64

www.google.com

![image](https://cloud.githubusercontent.com/assets/18315233/24990779/f0e5488e-1fdb-11e7-81ee-179f6d4dad87.png)

[2017-04-13 05:03] emilio commented on #14947
Relevant blink code is: https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/layout/LayoutBlockFlow.cpp?l=1695&rcl=888cf7c28286229cb62da42125ee41302d32b2de

Mainly, blink has an internal `__qem` unit in their UA stylesheets, they preserve the fact that it was computed that way in the computed style, and read that from layout:

https://cs.chromium.org/webrtc/src/third_party/WebKit/So

[2017-04-13 05:04] stshine commented on #16399
cc @SimonSapin @emilio

[2017-04-13 05:05] komawoyo opened #16401 "Incorrect rendering of "Transparent Rectangles" and "Spheres" demo"
latest servo nightly windows 8.1x64
everything is stuck in the top left corner

![image](https://cloud.githubusercontent.com/assets/18315233/24990914/d5269b42-1fdc-11e7-9059-bce2b9a44260.png)

![image](https://cloud.githubusercontent.com/assets/18315233/24990944/1adb3fe4-1fdd-11e7-9653-689e240f9bb1.png)

(note that this was not an issue in older builds)

[2017-04-13 05:07] emilio commented on #14947
Also, note that blink doesn't use the element name for this, but the layout class they use, so Firefox and Blink will behave differently for `<div display="table-cell">` and `<td>` per:

https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/layout/LayoutBlockFlow.cpp?l=1548&rcl=f6d6371a3b819d5ad6a31f25cca18e952e28d621

[2017-04-13 05:10] jdm commented on #16399
This is caused by this code:
[code]
The stylesheets in the document have `media="none"`, so the stylesheet is loaded, and then the media attribute is modified and the stylesheet code reloads it and hits the assertion.

[2017-04-13 05:11] jdm commented on #16401
This is tracked in #15689. Thanks for reporting it!

[2017-04-13 05:11] #16401 closed

[2017-04-13 05:14] jdm commented on #16399
It actually makes no sense to start a network load when the media attribute is changed.

[2017-04-13 05:18] emilio commented on #16399
Yeah, I was going to say the same.

[2017-04-13 05:18] jdm commented on #16399
Minimal testcase:
[code]

[2017-04-13 05:30] emilio commented on #16399
Yes, I guess that assert doesn't make a lot of sense. it made sense to diagnose the racing loads thing, but when it's actually fully loaded it's pointless.

[2017-04-13 05:30] zspitzer opened #16403 "jsfiddle.net doesn't load correctly"
latest servo windows nightly build, win10 64 (creators update)

I wanted to try this test out which has been causing safari lots of grief
https://jsfiddle.net/xkryswj3/

[2017-04-13 05:35] jdm commented on #16403
The terminal shows `ERROR:script::dom::bindings::error: Error at :0:0 SecurityError: The operation is insecure.` which suggests this is an issue that would be improved by cross-origin wrappers.

[2017-04-13 05:37] jdm opened #16404 "Don't make a network request when the media attribute of a link element is modified"
Spun off from #16399 because this is a separate issue from the panic that was being triggered.

[2017-04-13 05:51] technion opened #16405 "Unclickable links on page"
Hi,

Great work on the Windows release!

I downloaded the nightly Windows build today, unfortunately the website I cannot get working is my own: https://lolware.net

None of the links on the page are clickable (Except the GitHub link in the top right, which is fine for some reason).

[2017-04-13 06:05] jdm commented on #16400
Which country page loads for you when you visit that page in other browsers?

[2017-04-13 06:09] jdm commented on #16405
The links are clickable if the page is not scrolled. Once the page is scrolled away from the root view, they stop being clickable.

[2017-04-13 06:13] KiChjang commented on #12125
Since we have successfully published our Windows nightly build, I'm going to go ahead and close this issue. New issues should be created for any further problems on the Windows nightly.

[2017-04-13 06:13] #12125 closed

[2017-04-13 06:14] jdm commented on #16400
This looks like it might be an intermittent problem:
[code]

[2017-04-13 06:15] jdm commented on #16405
I see this on other pages too - any scroll offset in the page does not affect hit testing in the way that's expected. This might be the same as #16189.

[2017-04-13 06:19] jdm commented on #16405
This is observable in the following testcase:
[code]

[2017-04-13 06:19] jdm commented on #16405
@mrobinson Is this something you could look into?

[2017-04-13 06:23] jdm commented on #16400
This is probably a duplicate of #14637.

[2017-04-13 06:23] jdm commented on #14637
I can reproduce this by refreshing again.

[2017-04-13 06:23] o0Ignition0o commented on #14975
Heyh @jdm, sorry for the late response (I've somehow muted the repo even though i didn't want to) Please consider me if the issue gets unassigned again !

[2017-04-13 06:24] geeknik opened #16408 "Windows: null pointer read: servo!js::ProfileEntry::setPC"
While fuzzing the Windows nightly build of Servo, a `null pointer read` was triggered in `servo!js::ProfileEntry::setPC`.

[code]

[2017-04-13 06:26] jdm commented on #16408
What was the content being loaded when this occurred?

[2017-04-13 06:30] geeknik commented on #16408
http://lcamtuf.coredump.cx/transfuzz.html

[2017-04-13 06:41] NiLSPACE commented on #16346
It seems to be similar to #16405 where the hitbox doesn't update.

[2017-04-13 06:46] jdm opened #16409 "assertion failed: thread_state::get() == thread_state::LAYOUT"
A common assertion from http://lcamtuf.coredump.cx/transfuzz.html:
[code]

[2017-04-13 06:46] jdm commented on #16408
I've filed https://github.com/dropbox/rust-brotli/issues/7 and https://github.com/servo/servo/issues/16409 based on that page so far. Is there a way to provide a seed value to get consistent content?

[2017-04-13 06:47] ark- commented on #13366
Also getting this problem in nightly windows build. Using Windows 7 x64.

It seems like there is a window where key presses are not accepted, if you type during this time then the key press is lost.

[2017-04-13 06:50] gemal opened #16410 "Footer shows at the top of website"
http://dinnerbooking.com/dk/da-DK

the footer of the site shows at the top of the browser window :)

[2017-04-13 06:53] jdm commented on #16346
That's a different issue, since this one does not involve scrolling.

[2017-04-13 07:00] colinwyers opened #16411 "Typing in forms is slow and unresponsive"
Sometimes when I press a letter in a form, it won't respond at all (30 seconds or more), but when I press it again, it will show up... and then when I press the next letter, the previous letter shows up. Happened multiple times when attempting to enter HN username to login. URL bar also affected.

[2017-04-13 07:10] jdm commented on #16409
@emilio Is the assertion in `LayoutJS<Element>::insert_selector_flags` intended to verify that the method is not being called from worker threads, or is it just too strict? I see a comment in `lazily_compute_pseudo_element_style` that suggests that this assertion may be intentionally strict, and this is an actual bug being triggered.

[2017-04-13 07:14] zspitzer opened #16412 "header svg logo missing - https://www.theregister.co.uk/"
The https://www.theregister.co.uk/ uses a SVG logo on the red main title bar, which doesn't show

[2017-04-13 07:14] jdm commented on #16412
Yep, we don't support SVG. Tracked in https://github.com/servo/servo/issues/12973.

[2017-04-13 07:14] #16412 closed

[2017-04-13 07:15] hiikezoe commented on #15957
In bug 1354876, I did not parse font-variant-alternates properly, so there are still remaining work.  And I am hoping @streichgeorg fixes the remaining issue.
Thanks!

[2017-04-13 07:15] redcape opened #16414 "fatal crash / freeze www.cbsnews.com"
Servo becomes unresponsive and freezes when going to http://www.cbsnews.com
It crashed the first time. Just freezes now.

Not sure all the details you need:
Windows 10 Version	10.0.15063 Build 15063
Processor	Intel(R) Xeon(R) CPU E3-1230 V2 @ 3.30GHz, 3301 Mhz, 4 Core(s), 8 Logical Processor(s)

Graphics:
AMD HD 7970
Radeon Software Version
16.12.2

[2017-04-13 07:16] codec-abc commented on #16411
I think this is the same as #12937. A fix should have landed yesterday. Are you running the last version?

[2017-04-13 07:16] staabm opened #16415 "nightly update policy"
the nightly download page[1] doesnt mention how one is expected to update the nightly version of the servo-browser tech-demo.

Does it update on a regular basis in the background (like Firefox does)?
Am I supposed to update it manually by re-downloading and re-installation?

thx for the great progress on this project!

[1] https://download.servo.org/

[2017-04-13 07:20] jdm commented on #16415
Any updates will have to be manual. We should amend the content in https://github.com/servo/download.servo.org to mention this.

[2017-04-13 07:21] zspitzer opened #16416 "text rendering problems - https://www.themonthly.com.au/"
Text rendered as X's on the https://www.themonthly.com.au/

The header image clipped (but it's a SVG, so known)

[2017-04-13 07:22] jdm commented on #16411
There is only one version on windows.

[2017-04-13 07:24] jdm commented on #16416
That's super weird!
<img width="322" alt="screen shot 2017-04-13 at 5 24 00 pm" src="https://cloud.githubusercontent.com/assets/27658/24994396/ff0d6954-206d-11e7-80d4-86b0635c16d3.png">

[2017-04-13 07:28] jdm commented on #16416
Minimal testcase:
[code]

[2017-04-13 07:28] zspitzer commented on #16399
seeing the same issue on dell.com (plus a really mangled layout)

[2017-04-13 07:29] SaschaNaz commented on #16411
I think #12937 is not yet landed on nightly build, the same issue still happens on Windows.

[2017-04-13 07:30] zspitzer opened #16417 "all sorts of layout problems with dell.com"
layout is is all over the place

![image](https://cloud.githubusercontent.com/assets/426404/24994567/ca7abdda-206e-11e7-8d67-5292930d91eb.png)

Also seeing the style sheet issue in #16399

[2017-04-13 07:31] jdm commented on #16399
With #16407 applied I don't see the problem on dell.com.

[2017-04-13 07:33] jdm commented on #16417
With #16407 applied I don't see any issues with the layout:
<img width="1138" alt="screen shot 2017-04-13 at 5 33 05 pm" src="https://cloud.githubusercontent.com/assets/27658/24994683/470eeee8-206f-11e7-96b0-9a2ab07b039d.png">

[2017-04-13 07:36] zspitzer opened #16418 "fatal crash - unexpected scheme"
https://independentaustralia.net/

[2017-04-13 07:36] supercilious opened #16419 "Servo crash on startup on Windows 8.1"
[code]

[2017-04-13 07:48] 0xffffabcd opened #16420 "Windows build doesn't even launch"
The window appears very briefly then closes immediately after.

I'm on Windows 10 version 1703 (OS Build 15063.13) x64.

[2017-04-13 07:54] emilio commented on #16409
In this case the assertion shouldn't be that strict (unlike the other one), let me put a PR together for this, adding some comments around.

Thanks for filing this btw :)

[2017-04-13 07:57] jdm commented on #16410
Reduced testcase:
[code]

[2017-04-13 08:06] zcorpan commented on #14947
See https://github.com/whatwg/quirks/issues/13#issuecomment-293821048

[2017-04-13 08:10] NiLSPACE commented on #16411
That is most likely the issue:
![image](https://cloud.githubusercontent.com/assets/1160867/24995990/537802d4-2031-11e7-9b6b-4a7b7b08066e.png)

[2017-04-13 08:14] SaschaNaz commented on #16411
And probably because #16390 is not merged yet.

[2017-04-13 08:15] #15054 closed

[2017-04-13 08:35] eddyb commented on #16420
What if you run it from `cmd.exe`? And what's your graphical setup?

[2017-04-13 08:38] SimonBuckner commented on #16420
I have the same. Launch from start menu or from cmd.exe you see a window quickly flash up and then disappear. Nothing special on my setup. Dell XPS 13 with DisplayLink connected display running Windows 10 - 1607 (14393.1066).

[2017-04-13 08:40] AshleyScirra commented on #12937
Is this meant to be fixed in the latest Windows Servo build? If I type "https://www.scirra.com" in the address bar, I get "htt/www.scirra.co".

[2017-04-13 09:04] olavmrk opened #16422 "Windows nightly build fails due to missing VCRUNTIME140.dll and MSVCP140.dll"
When trying to launch the nightly build of Servo on Windows 10, a dialog box is shown:

Clicking OK on this error twice gives a new error:

[2017-04-13 09:08] codec-abc commented on #12937
It seems that the PR did not make it in the last nightly and there is another one in the way because of some error while cleaning the code.

[2017-04-13 09:08] 0xffffabcd commented on #16420
Same result and no debug info is printed to the console

Not sure what you mean but here's the dump from [dxdiag](https://gist.github.com/anonymous/6fbaa265a049239065e581a0eecca332)

[2017-04-13 09:13] olavmrk commented on #16422
I worked around this problem by installing [Visual C++ Redistributable for Visual Studio 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48145), but I guess it should be integrated into the application somehow?

[2017-04-13 09:15] Wafflespeanut opened #16423 "Support non-negative parsing of lengths for Either<Length, T> types"
In `components/style/values/specified/length.rs`, [we have this](https://dxr.mozilla.org/servo/rev/4c851925fbbd8446f6bfc36ff6836e9b24ad635b/components/style/values/specified/length.rs#583-614), which all do the same thing i.e., (try to) parse non-negative lengths. So, let's have a generic `impl<T> Either<Length, T>` which has a `parse_non_negative_length` method.

[2017-04-13 09:15] highfive commented on #16423
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-13 09:30] cjthompson commented on #16405
This issue exists in the macOS build also, so it's not unique to the Windows build.  An easy test is Hacker News.  Just scroll the page and the mouse position still things it's relative to the top of the page instead of the current view.

[2017-04-13 09:38] mrobinson opened #16425 "Issue with ScrollRootId generation for special fragments"
I noticed this issue when working on replacing `ScrollRootId` with `webrender_traits::ClipId`. When a non-fragment body id is generating `ScrollRootId::next_special_id()` or `StackingContextId::next_special_id()` is called which increments an atomic counter, `NEXT_SPECIAL_STACKING_CONTEXT_ID`. Since `next_special_id()` isn't idempotent, this could lead to an issue if `ThreadSafeLayoutNode::scroll_

[2017-04-13 09:38] mrobinson commented on #16425
cc @pcwalton

[2017-04-13 09:40] mrobinson commented on #16425
I think a potential solution here would be to use a counter to generate unique ids during display list construction, and have a map between fragments and scroll elements in order to facilitate the query. We probably need to start being more careful with epochs here as well.

[2017-04-13 09:45] whitequark commented on #12038
Triage: still the case.

[2017-04-13 09:49] mingwandroid commented on #12125
Where can I find the mingw-w64 based build? I prefer my toolchain's source-code to be inspectable.

[2017-04-13 09:55] whitequark opened #16426 "Autocomplete sometimes makes it impossible to type exact domains"
To reproduce:
  * start Servo
  * type "reddit.com"
  * in the edit box, "reddit.com over 18" appears, with the "over 18" part highlighted
  * erase "over 18" by pressing backspace
  * press Enter
  * a search page opens, with "reddit.com over 18" as a query

[2017-04-13 10:04] jmcomets commented on #16422
I installed VC++2015 and am now getting a missing `api-ms-win-crt-runtime-l1-1-0.dll`.
Note: I'm using Windows 7.

[2017-04-13 10:22] yashmehrotra commented on #16423
I would like to work on this one.
@highfive: assign me

[2017-04-13 10:22] highfive commented on #16423
Hey @yashmehrotra! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-13 10:32] #16409 closed

[2017-04-13 11:11] Trolldemorted commented on #14637
I just had several "layout thread unreachable - leaking layout data" errors, and afterwards servo crashed. Should this go into a seperate issue (i assume servo panics should not lead to segfaults)?

After attaching VS2015's debugger i found some information:
[code]

System info:
W10 Pro N 64bit
Servo-the-nightly-that-was-just-released

[2017-04-13 11:29] jdm commented on #14637
Yes, separate issue please.

[2017-04-13 11:38] Trolldemorted opened #16429 "servo crashed due to an access violation after panic (?) on windows"
After most likely running into https://github.com/servo/servo/issues/14637, servo crashed.

Attaching visual studio's debugger yielded this:

[code]

System:
W 10 Pro N 64bit

[2017-04-13 11:41] jdm commented on #16429
What page were you loading?

[2017-04-13 11:43] Trolldemorted commented on #16429
http://www.spiegel.de/

Unfortunately it does not always crash, nor do the "layout thread unreachable" warnings pop up everytime.

[2017-04-13 11:49] Trolldemorted commented on #16429
Attempting to open the page using the urlbar is buggy as well, by the way. Most of the time pressing enter does not do anything, and now i got this error:

![otheroserror](https://cloud.githubusercontent.com/assets/10261186/25003427/a24dc8bc-204f-11e7-935d-6ba08a19efee.PNG)

unfortunately a not very elaborate one (sounds like a separate issue again). Does servo store logs in a readable format some

[2017-04-13 12:20] jdm commented on #16420
This sounds like the same problem described in #16393.

[2017-04-13 12:22] jdm commented on #16418
I let the page sit for a while, and scrolled it for a while, but nothing unusual happened on macOS.

[2017-04-13 12:36] SimonSapin commented on #6564
Stylo bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1355101

Spec issue to change CSSOM: https://github.com/w3c/csswg-drafts/issues/1217

[2017-04-13 12:47] CodeGradox opened #16430 "assertion failed: self.stylesheet.borrow().is_none() ()"
I'm running the Servo Developer Preview for Windows on Windows 10.

When I try to access a thread (any thread, really) on 4chan.org I get the following error.

`assertion failed: self.stylesheet.borrow().is_none() ()`

I also can't seem to submit a report through the browser as I can't click the submit button.

![servo error](https://cloud.githubusercontent.com/assets/8555819/25005094/c4cf2f7c-205

[2017-04-13 12:51] jdm commented on #16430
This is tracked in #16399 and should be fixed by #16407.

[2017-04-13 12:51] #16430 closed

[2017-04-13 12:59] jdm commented on #16429
I can reproduce #16409 when loading this page, so I expect it should work better in the next nightly build.

[2017-04-13 13:37] Newlifer opened #16431 "Windows nightly build crash after start"
Multiple errors like this on screenshot (tells: **_there's no disk_**): ![](http://pastexen.com/i/sPaIyGD8Uy.png)

System: Windows 7 x64

[2017-04-13 13:59] jrp55 opened #16433 "Servo Tech Demo (Windows nightly build) unable to start correctly"
Started from Start menu on Windows 7
![servo-start](https://cloud.githubusercontent.com/assets/12686341/25007845/bde7e59e-2059-11e7-98ab-d361e01def5a.png)

[2017-04-13 14:01] jrp55 commented on #16433
Same result if run from cmd.exe

[2017-04-13 14:21] zspitzer commented on #16418
I was on Win10

[2017-04-13 14:28] nox commented on #16397
The spec doesn't seem to say whether these values are supposed to be case-sensitive or not.

[2017-04-13 14:29] nox commented on #16397
If they are not, we can just do:

[code]

[2017-04-13 14:32] nox commented on #15296
I am pretty sure I fixed this in https://github.com/servo/servo/pull/16382.

[2017-04-13 14:37] justSQL commented on #16415
As a follow-up note, when the Nightlies get updated isn't documented anywhere. Is there a regular time when new builds get pushed to be downloaded, or does it vary? This should probably be documented (in the best case build upload time could be automatically shown on the DL page).

[2017-04-13 14:57] sciguyryan opened #16434 "Text Corruption Visiting digg.com"
Hi all.

After visiting digg.com the text within the page appears to become corrupted. This seems to occur when scrolling part way down the page to the sponsored ad - [here](https://www.rxbar.com/digg/rxbarsample?utm_source=article&utm_campaign=digg&utm_medium=SC&utm_term=article1&utm_content=001). This also seems to affect the text in the user interface. Please see the screenshots below for refer

[2017-04-13 15:09] sciguyryan opened #16436 "Strange Text Behaviour on html5test.com"
Hi guys.

This one is a little odd and I wasn't quite sure how to word the title as there really doesn't seem to be a good way of describing what happens here.

This occurs when visiting html5test.com and scrolling down to the "Elements" section after the test has been completed. This can take a few seconds.

The text appears to animate and "fall" before resetting. This appears to happen over and

[2017-04-13 15:15] larsbergstrom opened #16437 "Also upload the zipfile of Windows with the nightly build"
For users without administrative priviledges, it would be nice to have a zipfile that can be unpacked to try out the Servo Windows nightly.

We already build it during the packaging process:
https://github.com/servo/servo/blob/master/python/servo/package_commands.py#L342

The change required should be to update the upload scripts to push up both the zipfile and the MSI:
https://github.com/servo/se

[2017-04-13 15:15] highfive commented on #16437
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-13 15:15] highfive commented on #16437
cc @wafflespeanut

[2017-04-13 15:15] highfive commented on #16437
cc @aneeshusa

[2017-04-13 15:26] nox commented on #15441
Does serialisation need to preserve the prefixes?

[2017-04-13 15:34] sciguyryan opened #16438 "Visiting Wolfram Alpha Triggers Crash"
Hi guys.

This is another interesting one I've noticed while playing around with the Servo build. This triggers a crash as follows:

![crash - wolfram alpha](https://cloud.githubusercontent.com/assets/2759895/25011593/d5aa04f8-2065-11e7-85f4-0ae8cc665288.PNG)

To Reproduce:
First, open Servo and navigate to the following page: https://www.wolframalpha.com/ - this must be done from within Servo, no

[2017-04-13 15:35] Scrxtchy commented on #16426
for me makes the tech demo relatively unusable outside whatever is showcased on the main page

[2017-04-13 15:54] upsuper commented on #15441
We probably need to, because there seems to be some functional difference?

It seems to me Gecko preserves the prefix in computed style (via [`nsStyleGradient::mLegacySyntax`](https://dxr.mozilla.org/mozilla-central/rev/f40e24f40b4c4556944c762d4764eace261297f5/layout/style/nsStyleStruct.h#245)). But it only serializes things to `-moz-` prefix, even if the source is `-webkit-` prefixed.

If we are

[2017-04-13 15:55] stshine commented on #16410
Looks like the same with #16248.

[2017-04-13 15:57] nox commented on #15441
The differences are only in parsing AFAICT: the token `to` isn't present in `-webkit-linear-gradient`, and the center of the gradient comes at the beginning of `-webkit-radial-gradient`, again without a `to` prefix.

As a side-note, didn't we forget to handle the `<zero>` part from https://drafts.csswg.org/css-images/#linear-gradient-syntax?

[2017-04-13 15:59] aneeshusa commented on #16437
We'll also need to update the [download.servo.org](https://github.com/servo/download.servo.org) website to link to the new zipfile Windows build so that's it's easy to download. This involves updating the `index.html` file in that repository to add the new link, and update the existing Windows build link to mention that it's an MSI.

[2017-04-13 16:01] upsuper commented on #15441
The `<zero>` part is very new, probably something just resolved several days ago. IIRC, CSSWG made unitless zero usable for degree, but then they found there could be ambugity, so they decided to put that quirk explicitly in some places, and gradient is one of them.

[2017-04-13 16:01] upsuper commented on #15441
So Servo implements the unitless-zero-as-zero-degree, and Gecko never has that. But Servo should probably remove that support, and do what the current spec says instead.

[2017-04-13 16:04] upsuper commented on #15441
Probably check with Blink/WebKit and see if they do that? @miketaylr, could you help checking this? Also this may be something worth putting into the Compat spec as well.

[2017-04-13 16:08] aneeshusa commented on #16287
Windows nightly builds are [now released](https://blog.servo.org/2017/04/13/windows/)!

[2017-04-13 16:08] #16287 closed

[2017-04-13 16:11] geeknik commented on #16408
No way to provide a seed to that particular page.

[2017-04-13 16:20] nox commented on #15441
@upsuper Should the prefix also be preserved for serialisation of computed values?

[2017-04-13 16:21] jdm commented on #16438
I reproduced the panic on macOS, and it's #16409. That means that it should behave much better in tomorrow's build!

[2017-04-13 16:28] nox commented on #15441
[code]

Unsurprisingly, both Safari and Chrome serialise that as the prefixed thing. No idea about Edge.

[2017-04-13 16:29] jdm opened #16439 "Intermittent timeout in /css-backgrounds-3_dev/html4/attachment-local-clipping-color-6.htm"
[code]

[2017-04-13 16:37] gaby2300 commented on #16393
@jonathandturner - I filed the issue and I would appreciate your help!

I don't know why someone closed it :(

[2017-04-13 16:42] upsuper commented on #15441
Serialization of computation is done in Gecko side for Stylo, so probably doesn't really matter, but we probably want to be consistent to specified value here?

I guess we would need to fix the Gecko side code to prefer using webkit-prefix first...

[2017-04-13 16:44] MichaelRupertDev commented on #15162
Hello!
I'm mostly a Python dev with interest in learning Rust but no experience in it yet. Have a good amount of experience in building web apps in React and React-Native.

[2017-04-13 16:44] nox commented on #15441
@upsuper I already have a patch ready for parsing and serialisation of both specified and computed values, do you want me to make a PR of that, so that a try run can be done on Gecko's side, maybe?

[2017-04-13 16:44] nox commented on #15441
Err, I missed the operative part: that patch only handle linear gradients for now.

[2017-04-13 16:54] upsuper commented on #15441
I probably should figure out a plan for [bug 1337655](https://bugzilla.mozilla.org/show_bug.cgi?id=1337655) first (which I totally forgot before). There may not be a significant difference on test result without having that bug resolved, so probably it isn't worth making a separate PR if you haven't finished all the gradient stuff.

[2017-04-13 16:57] nox commented on #15441
I'm on PTO tomorrow and Monday is a national holiday, so I'll file it anyway. :)

[2017-04-13 16:59] craig-landry opened #16441 "Crashed loading https://www.britannica.com/place/Switzerland/Health-and-welfare"
Started via `servo "https://www.britannica.com/place/Switzerland/Health-and-welfare"`

Window opened, started loading the page, but eventually went white with message "Could not load the requested page: Unexpected scheme"

A moment after that, the program crashed with the backtrace below.

Running on Linux: sputnik 4.8.0-46-generic #49~16.04.1-Ubuntu SMP Fri Mar 31 14:51:03 UTC 2017 x86_64 x86_64

[2017-04-13 17:04] #16399 closed

[2017-04-13 17:15] brainlessdeveloper commented on #15247
I would like to work on this.

[2017-04-13 17:56] trishume opened #16442 "Trackpad scrolling behaviour on OSX is wrong. Both bounce and directionality."
Playing around with Servo on OSX with a MBP trackpad and the number one thing I noticed was how broken scrolling is. I noticed a number of issues:

- [ ] Vertical scrolling on a page that also has horizontal scrolling is very difficult. Any amount of diagonal motion leads to hitting the sides, and the scroll bounce when hitting the sides also kills vertical motion.
    - Servo should do what Cocoa

[2017-04-13 18:09] mentinghfreightcenter commented on #16426
for me, on Windows, the last character I type doesn't appear until I type another character

[2017-04-13 18:28] batmont commented on #16393
can't enjoy new render engine too
I've tried on 3 different computers: laptop, pc, tablet pc
7 SP1 64-bit, 7 64-bit and 8.1 64-bit
They're all dual-core Intel CPU (with no Turbo Boost, no Hyperthreading and without virtualization?), and all (or 2 of them) have only integrated GPU (Intel HD Graphics)
![servo](https://cloud.githubusercontent.com/assets/25384633/25016455/ba463876-2088-11e7-8137-892d4

[2017-04-13 18:36] jonathandturner commented on #16393
@gaby2300 - I'm currently on Easter break for the next four days, but we hope to be able to fix this.  It sounds like a few other people are encountering similar issues.

[2017-04-13 18:37] jonathandturner commented on #16393
@gaby2300 can you tell us about your setup?  What version of Windows are you using?  What graphics card?  How much RAM does your computer have?

[2017-04-13 18:43] atouchet commented on #15942
I am still able to reproduce this issue in the latest nightly build. I thought it was supposed to be fixed in #16360. Am I missing something here?

[2017-04-13 18:56] whitequark commented on #16415
I believe it's in the name ("nightly" stands for "nightly build").

[2017-04-13 19:06] zeljic commented on #16393
FYI. The same here, Windows 7 Ultimate 64bit, Intel Integrated Graphics + nVidia. Both drivers are installed. Latest drivers are installed, "standard software installed" chrome, firefox, c++ redistributable (2013/2015).

[2017-04-13 19:12] nox commented on #14947
@jdm I wonder if that was the missing quirk for us to make HN's top bar pixel perfect.

[2017-04-13 19:36] justSQL commented on #16415
Yes, but there are multiple time zones in the world :p

I'd imagine the builds get updated sometime around the US night. But is it PST? EST? That would be good to document. Otherwise it's a guessing game of "hmm, I wonder if the new builds are up yet".

[2017-04-13 20:14] jonathandturner commented on #15942
There are a few fixes that didn't make it into the nightly that people are seeing, including the keydown fix we've been working on.  I'm not sure what's going on... it may be that the nightlies need to catch up or one of the builders needs to get fixed.

[2017-04-13 20:29] gaby2300 commented on #16393
I use Windows 7 Ultimate 64 bit and Intel(R) HD Graphics. My PC has a RAM of 4GB

[2017-04-13 20:38] athyuttamre commented on #15162
Hello! I'm CS student with extensive web development experience, and marginal operating systems and distributed systems experience in C and Golang. I'm starting to pick up Rust, and am looking to contribute towards core browser dev in Rust or JavaScript!

[2017-04-13 20:42] zimio commented on #14887
Hello, so I have a function that I think can be called to check if children_changed should be called.

Where should I put it? Rust complains that it is out of scope if I put it inside the trait implementation and I don't want to spam "self" everywhere.

Also I couldn't find the enum for HTMLElementTypeId. I want to include elements like 'b', 's', 'h1', etc. to this check. How do I do that?

[code]

[2017-04-13 20:45] jdm commented on #14887
The enum is generated by the build, so refer to docs.servo.org. The free function could live anywhere in the same file.

[2017-04-13 21:47] #10977 closed

[2017-04-13 21:50] winks opened #16446 "CSS: ul/li with float doesn't seem to work"
Version:
https://download.servo.org/nightly/windows-msvc/servo-latest.msi (downloaded 2017-04-13 ~21:00 UTC)

Expected behaviour:
Show a bunch of `a`-Tags in a `li` each inside an `ul` in one row.

Actual behavior:
Not in one row

  * [Screenshot 1](https://stuff.art-core.org/test/servo_css.png) (chrome top, servo bottom) (without servo_min.css)
  * [Screenshot 2](https://stuff.art-core.org/test/s

[2017-04-13 21:58] winks commented on #16426
This even makes reporting bugs near impossible, for #16446 I had to reopen the tech demo like 3 times to be able to access my demo site. (as long as pasting also doesn't work)

Some more info: For me the typing went fine until I came to `.or` in `.org` (with http or https), but from then on I had to hit like "g, space, backspace", then "slash, space, backspace", and type every single letter like s

[2017-04-13 22:02] winks commented on #16426
This might actually just be a duplicate of #12937

[2017-04-13 23:46] aahancoc opened #16447 "Severe rendering issues (OpenSUSE Tumbleweed, Nouveau G92)"
Hello. I tried to build and run the latest Servo release on machine, and it runs, but not very well. I compiled Servo with the `--release` flag.

---

Default page: https://i.imgur.com/PnFYvPX.png

When it's first loaded, it looks fine. After scrolling down, though, the text bounces between being extremely corrupted and not visible at all. Scrolling back up to the top shows that the first screenfu

[2017-04-14 00:08] moonlightdrive commented on #14975
I added the tests and have servo building with a local clone of html5ever.

The problem I am facing now is finding where in html5ever I need to make the change. I thought the `serialize` function in `html5ever/src/rcdom.rs` seemed reasonable, but changes here have had no effect.

Additionally I am not clear on the difference between html5ever and xml5ever (or if that's even relevant to this issue)

[2017-04-14 00:15] netroby opened #16448 "Today's latest servo for windows. can not type url and press enter to visit new site."
Today's latest servo for windows. can not type url and press enter to visit new site.

[2017-04-14 02:01] upsuper commented on #16397
Yeah, we can just do that. Although it would be better if we can serialize those values to the canonical form defined in the spec, but it seems Gecko is already serializing them to lowercase form, so it is probably fine to do this for now.

We may want to fix that eventually, but that's definitely not a priority.

[2017-04-14 02:57] voracity commented on #16393
I've had the same issue since July. I've been trying it on Windows 7 without ever having success. But I also have a Windows 10 system --- initially, that had an identical problem, but it started working with the switchover to MSVC builds.

The Windows 7 system is 64 bit (i7 2630QM), 8GB RAM, Hybrid AMD Radeon/Intel HD 3000 graphics (but have forced to just Intel graphics or just Radeon graphics, a

[2017-04-14 03:10] zspitzer commented on #16415
Can the build filenames be timestamped?

[2017-04-14 03:12] zspitzer commented on #16418
![image](https://cloud.githubusercontent.com/assets/426404/25031992/01c80504-2114-11e7-97a7-f3d368b64a7b.png)

[2017-04-14 03:14] zspitzer commented on #16448
the latest nightly seems to have resolved that problem (builds need timestamps!)

[2017-04-14 03:22] zspitzer opened #16449 "phantom underlines whilst moving mouse"
See the underlines at the bottom of the paragraph, they move as the mouse is moved down the page

![image](https://cloud.githubusercontent.com/assets/426404/25032134/1a5c6ab4-2115-11e7-837d-1b41db4ff222.png)

Windows latest nightly

http://abhinavsingh.com/using-image-maps-in-javascript-a-demo-application/

[2017-04-14 03:34] zspitzer commented on #16403
just the embedded version progresses further and loads, but the rendering stalls

![image](https://cloud.githubusercontent.com/assets/426404/25032380/fa40b800-2116-11e7-882c-17378f33c243.png)

https://jsfiddle.net/xkryswj3/embedded/result/

[2017-04-14 03:51] #15673 closed

[2017-04-14 06:56] netroby commented on #16448
Yeah， please Add timestamp to install.msi

such as installer-20170414145608.msi

[2017-04-14 08:17] #15055 closed

[2017-04-14 09:13] #15750 closed

[2017-04-14 10:39] sciguyryan commented on #16436
This seems a little better in today's nightly build. It now only seems to do this while the page is loading and stops after a short time.

[2017-04-14 10:40] sciguyryan commented on #16434
This still appears to be an issue in the latest nightly and can still be reproduced with the steps above.

[2017-04-14 11:33] Ygg01 commented on #14975
Hi, I wrote `xml5ever`, I'll try to help as much as possible! Basically `html5ever` and `xml5ever` are really, really similarly looking. Think of it as twin library. I tried to make sure that things are generally located in the same space (assuming you start from project root).

For example `html5ever/src/rcdom.rs`, in xml5ever is located in [`xml5ever/src/rcdom.rs`](https://github.com/servo/html5

[2017-04-14 11:52] #15169 closed

[2017-04-14 13:40] gpavinteractiv commented on #12015
Fedora 25, today's buid : Still

[2017-04-14 14:38] NiLSPACE commented on #16393
Since todays build it also crashes on my laptop. By capturing `stdout` (which cmd doesn't do by default) I managed to get the error message:
[code]

[2017-04-14 15:16] atouchet commented on #15942
This is now working fine in the latest nightly build.

[2017-04-14 15:16] #15942 closed

[2017-04-14 15:21] atouchet commented on #16448
There is an issue for Servo build time stamps here: https://github.com/servo/download.servo.org/issues/11

[2017-04-14 15:38] aaronraimist commented on #16415
It would be really nice to get automatic updates (#9831). If that isn't going to happen soon, I agree that the approximate time that new nightly builds come out should be documented on the download page.

It would also be nice if the build date could be displayed somewhere like it is in Firefox Nightly so it would be easy to tell if you are up to date.

![screenshot 2017-04-14 10 29 50](https://cl

[2017-04-14 15:51] psiegman opened #16457 "servo kills my desktop on OSX"
I downloaded and installed a servo nightly on 2017-04-17 and once before on 2017-01-25.

Both have the same result:

Servo starts up.
Servo window shows with window decoration and a location bar and otherwise blank screen.
I click on location bar.
OSX beachball starts spinning.
Desktop freezes:
- Mouse still moves
- Mouse clicks and keyboard no longer have any effect.
- Other processes keep runnin

[2017-04-14 15:57] pcwalton commented on #16434
cc @glennw — IIRC this happens when WR runs out of texture space for whatever reason

[2017-04-14 16:09] atouchet commented on #16305
Was this fixed with #16307?

[2017-04-14 16:12] atouchet commented on #16433
Possibly related to #16393 or #16431.

[2017-04-14 16:13] atouchet commented on #16431
Possibly related to #16393 or #16433.

[2017-04-14 16:18] larsbergstrom commented on #16305
Indeed! Great catch, @atouchet :-)

[2017-04-14 16:18] #16305 closed

[2017-04-14 16:32] jdm commented on #14975
I linked to the appropriate serializer implementation in one of the earlier comments: https://github.com/servo/html5ever/blob/master/src/serialize/mod.rs

[2017-04-14 16:44] CodeGradox opened #16459 "Copy and paste does not work correctly on WIndows 10"
When I copy a url or text in Windows and paste it into the omibar in Servo, it pastes an empty box character instead of the text. It does the same on any website I visit where I can paste text.

![servo url](https://cloud.githubusercontent.com/assets/8555819/25049418/0493d8b6-2142-11e7-8fb7-219781a03144.png)

[2017-04-14 16:55] zimio commented on #14887
So it seems everything is good with the function that checks if the node only accepts text (except for some minor issues).

I got like this: if the node only accept text don't call children_changed.

Then the test started failing, that's because document.title_changed(); needs to be called to update the document's title.

I think this is the part where you wanted me to extract the logic of it. But

[2017-04-14 17:06] jdm commented on #14887
Calling document.title_changed() is the responsibility of HTMLTitleElement's handler, not the code that invokes the handler. I believe you're looking for the code that invokes `VirtualMethods::children_changed`; that's scattered in various places in components/script/dom/node.rs, so it would make sense to make a new method there that encapsulates the concept of "invoke the appropriate handlers dep

[2017-04-14 17:09] jdm commented on #16426
The urlbar and autocompletion are part of https://github.com/browserhtml/browserhtml/ rather than Servo itself. Could you re-file this over there instead?

[2017-04-14 17:18] jdm opened #16460 "Intermittent timeout in /css-backgrounds-3_dev/html4/attachment-local-clipping-color-5.htm"
[code]

[2017-04-14 17:31] UK992 commented on #16437
@highfive: assign me

[2017-04-14 17:31] highfive commented on #16437
Hey @UK992! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-14 17:59] jdm opened #16461 "Intermittent PASS in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/010.html"
[code]

[2017-04-14 18:00] mrobinson opened #16462 "Absolutely positioned child of positioned fragment positioned incorrectly"
Given this test case:
[code]

I see this in Servo after some related clipping fixes:
![screenshot from 2017-04-14 19-56-32](https://cloud.githubusercontent.com/assets/13536/25051424/d00ed734-214c-11e7-86de-ecbde2993536.png)

In Firefox:
![screenshot from 2017-04-14 19-57-05](https://cloud.githubusercontent.com/assets/13536/25051434/df22c924-214c-11e7-9462-89d1fdab1279.png)

In Chrome:
![screenshot

[2017-04-14 18:01] mrobinson commented on #16462
Perhaps related to https://github.com/servo/servo/issues/8602

[2017-04-14 18:16] #12655 closed

[2017-04-14 18:34] psiegman commented on #16457
This looks like a duplicate of https://github.com/servo/servo/issues/16038.
Feel free to close it as duplicate.

[2017-04-14 19:30] pyfisch commented on #13769
@highfive: assign me

[2017-04-14 19:30] highfive commented on #13769
Hey @pyfisch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-14 19:51] pyfisch commented on #16372
To which *.mako.rs should this property be added? I did not find one obviously correct.

[2017-04-14 20:40] pyfisch commented on #10263
@highfive: assign me

This is a simple fix since webrender supports repeating gradients since a few days. The example works but I will wait until #16385 lands with a PR so I can add it for radial gradients too.

[2017-04-14 20:40] highfive commented on #10263
Hey @pyfisch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-14 20:51] CAfromCA commented on #16393
I'm seeing the same behavior: Servo opens for a brief moment, then immediately closes.

When I run from the command line with `servo.exe > err.txt 2>&1`, this is the content of the output file:

That's identical to @NiLSPACE, so this may be a different issue. If anyone knows how to get more verbose logging out of Servo I'm happy to dig deeper.

Specs:
OS: Windows 7 Enterprise SP1 64-bit
CPU: i5 25

[2017-04-14 21:22] canaltinova commented on #13769
It's implemented in #14771. Closing this.

[2017-04-14 21:22] #13769 closed

[2017-04-14 23:00] canaltinova commented on #16372
It should be in `box.mako.rs`. We generally use the same struct architecture as gecko and in gecko, touch-action is in nsStyleDisplay struct. It corresponds to Box in Servo. As far as I remember there was a chart that shows which struct corresponds to which(in wiki or somewhere) but I couldn't find it.

[2017-04-15 02:08] geeknik opened #16469 "Windows: null pointer read servo!js::UnsafeTraceManuallyBarrieredEdge<JS::Value>"
Fired up the Windows build and typed in www.yahoo.com and hit enter and this crash happened before the page loaded:

[code]

[2017-04-15 03:51] whitequark commented on #16426
@jdm I believe that nowhere on servo.org (or even elsewhere) that is mentioned. In fact I was not even aware that browserhtml existed.

[2017-04-15 06:37] cadeyrn opened #16471 "Servo does not load CSS at all for a specific website"
Hi,

the nightly build of Servo for macOS does not load any css for the website https://www.soeren-hentzschel.at/, please see the attached screenshot. It happens since a few weeks, it worked a few months ago. There were a lot of other style issues but the CSS was loaded.
<img width="1440" alt="bildschirmfoto 2017-04-15 um 08 32 29" src="https://cloud.githubusercontent.com/assets/1100614/25061425/7

[2017-04-15 09:22] sciguyryan commented on #16438
This appears to have been fixed by the latest nightly build.

[2017-04-15 11:40] jdm commented on #16438
Thanks for confirming it!

[2017-04-15 11:40] #16438 closed

[2017-04-15 11:46] jdm commented on #16471
We do not have archived builds available as far as I know, so there's no easy way to bisect by nightly builds.

[2017-04-15 12:05] jdm commented on #16471
This appears to be caused by #14620.

[2017-04-15 12:06] jdm commented on #16471
And it should be fixed by #16069.

[2017-04-15 12:51] machenity opened #16474 "It doesn't work at all in my pc."
I downloaded windows-build msi file and installed, but it doesn't work at all.
Whenever I launch it, a window is showed but it disappeared soon.
I'm using pc with windows 10 64bit.

[2017-04-15 13:32] sciguyryan opened #16475 "Interaction between border-radius and box-shadow can lead to top border of the box-shadow being clipped"
The following is a comparison of the rendering between Firefox and Servo.

1. This is the reference rendering on Firefox. You can see the top border created by the box shadow clearly. ![firefox](https://cloud.githubusercontent.com/assets/2759895/25063928/ad3fb8d6-21e7-11e7-9023-ddb9f99f7537.PNG)
2. This is the rendering under Servo. You can see the top border created by the box shadow is missing.

[2017-04-15 13:55] jdm commented on #16475
It's always easier to include the testcase inline:
[code]

[2017-04-15 13:56] sciguyryan commented on #16475
Good call, I'll do that in the future. I wasn't aware if that was considered a good or bad thing to do.

[2017-04-15 13:56] jdm commented on #16475
This seems to render correctly in my macOS build:
<img width="514" alt="screen shot 2017-04-15 at 11 56 28 pm" src="https://cloud.githubusercontent.com/assets/27658/25064124/32df0dbc-2237-11e7-9f81-7506c8a298c0.png">

[2017-04-15 13:57] sciguyryan commented on #16475
Windows only then? That's definitely interesting.

[2017-04-15 13:58] jdm commented on #16474
Sounds like a duplicate of #16393.

[2017-04-15 13:58] #16474 closed

[2017-04-15 13:58] jdm commented on #16469
I have not been able to reproduce this on macOS when loading https://us.yahoo.com yet.

[2017-04-15 16:03] blacksvk opened #16476 "Line height is not properly calculated"
Line height is smaller compared to another browsers when the "line-height" css property is not specified.
Tested on Windows 8.1 x64.

[code]

![font-size](https://cloud.githubusercontent.com/assets/10187350/25064915/abdc2768-2205-11e7-9c4b-ef273a822322.png)

[2017-04-15 16:21] atouchet commented on #15254
Is this still a valid issue? Text looks fine for me in the latest nightly build aside from some spacing issues.

[2017-04-15 17:13] pyfisch commented on #16476
Can not reproduce on Ubuntu 16.04. Why is the font family either Tahoma or Ubuntu? It may help to remove one font.

[2017-04-15 17:33] atouchet commented on #16476
I get the same output as @blacksvk in Windows 10.

[2017-04-15 17:51] blacksvk commented on #16476
@pyfisch It seems it does not matter which font I set.

[2017-04-15 18:02] CodeGradox commented on #16459
Looks like pressing CTRL + almost any key on the keyboard inserts either that box, space or what seems to be a tab.

[2017-04-15 18:12] sciguyryan commented on #16476
I can confirm that this issue definitely exists on Windows 10. The font also doesn't seem to affect the results at all.

[2017-04-15 19:16] sadmansk commented on #15636
@paulrouget do you want there to be a check if the `ServoUrl`parameter is `None` before calling `InitLoadUrl`? Currently I'm expecting a valid `url` to be passed into `Browser::new()`. I'll open the PR and add comments to the segments I have questions about.

[2017-04-15 20:13] zcorpan commented on #14947
HN's top bar doesn't use any elements affected by this quirk. I think the missing bits there is https://github.com/servo/servo/issues/11704#issuecomment-230722674

[2017-04-15 21:31] pyfisch commented on #16017
@highfive: assign me

Some stuff works: `not(*)`, `not(|*)` and `not(foo|*)` are serialized correctly. Surprisingly even a normal wildcard `*` was serialized as the empty string before. `*|foo` from #16020 require more changes.

[2017-04-15 21:31] highfive commented on #16017
Hey @pyfisch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-15 22:18] jdm commented on #16476
This may be an example of #16034 being an incomplete solution.

[2017-04-15 22:19] jdm commented on #15254
Yeah, I think this was the wrong nightly being used.

[2017-04-15 22:19] #15254 closed

[2017-04-16 02:49] bks commented on #11295
I can confirm that this bug is still present as of the 2017-04-14 Windows nightly build. I encountered it in the wild, reduced a test case, and then recognized that it was already reported here.

[2017-04-16 02:55] bks commented on #10149
This bug is probably at least related to why trying to load [](https://archiveofourown.org/media/Books%20*a*%20Literature/fandoms) in the 2017-04-14 Windows nightly build uses 2.2+ GB of RAM before crashing due to OOM. Let me know if I can acquire any more data to help diagnose this.

[2017-04-16 04:38] #16423 closed

[2017-04-16 05:12] emilio commented on #16475
Wouldn't it be a build before #16284 landed by any chance?

[2017-04-16 08:27] plasmoidian opened #16479 "won't login into zoho.com because of missing named getter on HTMLFormElement"
Servo reports an error in the authentication. Sometimes it freezes afterwards. Windows build.

[2017-04-16 08:49] sciguyryan commented on #16475
I'm afraid not, the build was yesterdays nightly build. As there doesn't seem to be a way to obtain a build ID I can't really tell you exactly which build this was.

[2017-04-16 09:16] jdm commented on #16416
I figured this out after bashing my head against it for a bunch of hours. The code in `flush_clump_to_list` iterates through the fragment text character by character, and uses that character to determine which font to use. When a run mapping is flushed, we run `apply_style_transform_if_necessary` which performs the uppercase transformation, and later we create a TextRun using the transformed chara

[2017-04-16 09:21] jdm opened #16480 "zoho.com sign in input boxes expand with input"
https://www.zoho.com/login.html

[2017-04-16 10:12] meecoffee opened #16481 "windows nightlies crash just start few seconds"
surface pro4 windows10 latest version

[2017-04-16 10:16] meecoffee commented on #12130
any new process?
http://gs.statcounter.com/os-market-share
android now more often than windows
mozilla guys

[2017-04-16 11:03] nox opened #16483 "Document::content_type should be of type Mime"

[2017-04-16 12:06] jgierer12 commented on #16481
Yep, same issue.

Surface Pro 4 i5/8GB
Windows 10 Build 15063

[2017-04-16 12:49] jdm commented on #16481
I'm going to close this in favour of #16393.

[2017-04-16 12:49] #16481 closed

[2017-04-16 12:50] jdm commented on #12130
We'll announce when there are significant improvements.

[2017-04-16 16:54] atouchet opened #16484 "Servo Windows icon isn't using recommended dimensions"
Currently the Servo.ico file in Windows includes support for 16x16, 24x24, 32x32, and 64x64 dimensions. According to https://msdn.microsoft.com/en-us/library/windows/desktop/dn742485%28v=vs.85%29.aspx 24x24 and 64x64 are used for Classic Mode which as far as I can tell is for icons in the Control Panel. For applications 16x16, 32x32, 48,48, and 256x256 is recommended.

For reference the Firefox Wi

[2017-04-16 16:56] atouchet commented on #16484
cc @metajack who I believe added the current icon.

[2017-04-16 18:06] maxpolun opened #16485 "Windows 10: repeated missing disk dialog"
When I open servo nightly on Windows I get a dialog that looks like this:

![open servo](https://cloud.githubusercontent.com/assets/950023/25073112/39cfe1a2-22ad-11e7-9094-a6b8d07f2da4.PNG)

I'm not sure of the fundamental cause of this (and it happens when I boot the computer as well), but no other apps do this.

The dialog once when starting servo would not be too bad, but the dialog pops up rep

[2017-04-16 19:49] emilio opened #16486 "tidy: Make tidy check that opening and closing braces that begin a line do so with proper alignment."
I think it makes sense if we enforce the invariant that at least a `{` or `}` that begins a line should do so with a multiple of 4 spaces to the left. That'd prevent stuff like https://github.com/servo/servo/pull/16293#discussion_r111661247 from landing.

@Wafflespeanut wanna mentor this one? or should I? (should be easy)

[2017-04-16 19:49] highfive commented on #16486
cc @wafflespeanut

[2017-04-16 19:49] highfive commented on #16486
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-16 20:42] #15819 closed

[2017-04-16 23:06] KiChjang commented on #12675
Unassigning due to lack of response.

[2017-04-16 23:06] KiChjang commented on #13035
Unassigning due to radio silence for over a month.

[2017-04-16 23:09] KiChjang commented on #16089
@Adynatos Have you made any progress on this?

[2017-04-16 23:10] Manishearth commented on #16089
Hiro already fixed this.

[2017-04-16 23:10] #16089 closed

[2017-04-17 01:40] jdm commented on #16479
The console shows
[code]
This is part of the code that is executed during the form submission; we are missing the non-indexed getter on HTMLFormElement which allows referencing form elements by their id.

[2017-04-17 01:41] jdm commented on #16479
https://html.spec.whatwg.org/multipage/forms.html#dom-form-nameditem

[2017-04-17 01:43] jdm commented on #16479
Code: `components/script/dom/htmlformelement.rs`, `components/script/dom/webidls/HTMLFormElement.webidl`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/forms/the-form-element/`

[2017-04-17 02:02] #15213 closed

[2017-04-17 02:38] #16019 closed

[2017-04-17 05:36] mestaritonttu commented on #16422
[A comment](https://www.reddit.com/r/programming/comments/653rdp/servo_windows_nightly_builds_now_available/dg7z5rh/) regarding this:

this is violating Rule #1 of Windows programs: Never ever depend on the CRT DLL, statically link that in instead. Then you just depend on Kernel32 and User32 instead.

[2017-04-17 06:32] paulrouget commented on #13994
@asajeffrey I've put together an example of how tab management could work: https://github.com/paulrouget/servo/tree/tabs_hooks (I ended up using the glutin port to make things easier). This branch includes the hooks for all the keyboards shortcuts, and the tabs are printed in the terminal. This is not functional as there is only one top level root frame, but I hope the comments will help you under

[2017-04-17 06:41] paulrouget commented on #13994
Here is a more precise description of my expectations:

1) `constellation.rs` supports multiple top level frames
2) `component/servo/lib.rs` exposes an API (two methods) to a) create new top level frames b) tell WR which one to display and update the DOM visibility API
3) `compositor.rs` call the `WindowMethods` with the relevant `FrameId` as an argument
4) all the relevant `WindowEvent` in `windo

[2017-04-17 06:55] antonkulaga opened #16493 "servo cannot display pages in languages other than english"
I've tried to open several Russian websites by latest nighty, like http://samlib.ru and I got "?" signs everywhere with freezing afterwards (so, I even could not switch the encoding manually)

[2017-04-17 07:22] lygstate commented on #16393
So is me.

[2017-04-17 07:22] lygstate commented on #16433
+1

[2017-04-17 07:24] coalman commented on #16486
@highfive: assign me

Should have a PR soon.

[2017-04-17 07:24] highfive commented on #16486
Hey @coalman! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-17 07:48] ferjm commented on #16372
@canaltinova this might be the chart you were referring to https://public.etherpad-mozilla.org/p/aligning-style-structs

[2017-04-17 08:16] paulrouget commented on #16189
Is there a way to write a test for this? This keeps regressing.

[2017-04-17 08:22] paulrouget commented on #16442
Hmm, this used to work: https://github.com/servo/servo/blob/485a4de729e196d1baca2ffe01518bbd4b0d1afa/ports/glutin/window.rs#L543

As for the bouncing, see https://github.com/servo/servo/issues/9982

[2017-04-17 09:52] meecoffee commented on #16493
me too so awful

[2017-04-17 10:11] jdm commented on #16189
I've got a testcase in #16405, so I'm going to close this one in favour of that.

[2017-04-17 10:11] #16189 closed

[2017-04-17 10:12] jdm commented on #16405
We can even make an automated testcase out of the previous one that I constructed:
[code]
On master this shows:
[code]

[2017-04-17 10:24] jdm commented on #16493
This issue here is that Servo assumes all pages are using the utf-8 character set, but that page uses windows-1251.

[2017-04-17 10:25] jdm commented on #16493
This is being tracked in #6414. Thanks for reporting it!

[2017-04-17 10:25] #16493 closed

[2017-04-17 13:22] trishume commented on #16442
@paulrouget interesting, I don't see why that code wouldn't work, but I just double checked and with the nightly of the date this issue was submitted, I can totally scroll at a 45 degree angle or any other direction at high speeds.

Also that code if it worked wouldn't match Cocoa behaviour since it allows scrolling in any direction at very low speeds.

[2017-04-17 13:42] paulrouget commented on #16442
Yeah. There's a regression.

As for the more precise behavior (snapping only on high velocity and proper bounce), we can try to reproduce this ourself, or rely on the platform to only provide us with already post-processed events. Not sure if the latter is possible though.

[2017-04-17 13:53] paulrouget commented on #16442
Hmm, the `delta` is probably copied. And the fact that `scroll_location` is not mutable is a red flag. I'll do a PR to at least address that.

[2017-04-17 14:41] asajeffrey commented on #15247
@brainlessdeveloper cool, thanks! (I was on vacation, sorry about the delay.) Let me know if there's any help you need.

[2017-04-17 15:02] brainlessdeveloper commented on #15247
Oh, I'd forgotten about this one haha. Would you mind adding the assigned label to it?

[2017-04-17 15:05] cbrewster commented on #14856
I'm kinda of spinning in the mud on #14764. Might need to take a different approach. Here are the current issues that need fixed:

 * Differentiate between initial and non-initial `about:blank`s.
 * Keep initial `about:blank` loads synchronous
 * Load non-initial `about:blank` asynchronously but still go through the script thread so the right script thread can be shared.
 * Wait until the new load

[2017-04-17 15:15] asajeffrey commented on #15247
@cbrewster beat me to it :)

[2017-04-17 17:56] asajeffrey commented on #13994
There are some other places that a top-level frame id would be a useful concept. In servo as it currently stands, there's a 1-1 correspondence between top-level browsing context and unit of related browsing contexts (because we don't treat the opener as reachable). Do we want to continue this? Make it up to the embedder?

As a naming point, I'm not sure about using "browser" as synonymous with "to

[2017-04-17 18:41] KiChjang commented on #15247
@brainlessdeveloper The following conversation snippet would light your path forward:
[code]

[2017-04-17 19:18] Jayflux commented on #11416
Does servo support base64 encoded images?
`<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />`
etc?

[2017-04-17 19:20] canaltinova commented on #16372
@ferjm Ah yes, this is it. Thanks!

[2017-04-17 19:48] brainlessdeveloper commented on #15247
@KiChjang Awesome! I read the whole chat but on a first read I didn't figure out much. Thanks!

[2017-04-17 20:29] brainlessdeveloper commented on #15247
So in short I should fix `origin` in `fn request_init_from_request` [here](https://github.com/servo/servo/blob/master/components/script/fetch.rs#L60) and also figure out if we need an `origin` method on `GlobalScope`. If so, implement it, and it should return the origin `url`. Did I get it all right?

[2017-04-17 21:39] #7575 closed

[2017-04-17 21:39] #8074 closed

[2017-04-17 21:39] #10151 closed

[2017-04-17 21:39] #13109 closed

[2017-04-17 21:39] #8780 closed

[2017-04-17 21:56] wilt00 commented on #16393
I had the same error message as @NiLSPACE above.
The workaround I've found is to manually set servo.exe to use the discrete Nvidia graphics card in my laptop via the Nvidia Control Panel app, and then the program opens and runs (as far as I can tell) normally.

Specs:
OS: Windows 10 Pro 64-bit, version 1703, build 15063.138
CPU: i7 4500U
Integrated GPU: Intel HD Graphics 4400, Driver version 20.19

[2017-04-17 22:22] jdm commented on #11416
It should

[2017-04-17 22:42] srivassumit commented on #6633
Hi,

I am implementing the subsequent steps of the Mutation Observer API as described here: https://github.com/servo/servo/wiki/Mutation-observer-project

I am stuck at the step 3 of the [notify mutation observers](https://dom.spec.whatwg.org/#notify-mutation-observers) algorithm. I am not sure how to get the "copy of unit of related similar-origin browsing contexts' signal slot list. "

This is w

[2017-04-17 23:04] KiChjang commented on #15247
The `origin` method on `GlobalScope` would just be a shorthand for `GlobalScope::current().get_url()`, so that method would just be there to save some typing, but it's not strictly necessary. You may also want to grep places where we instantiate a new `RequestInit` struct and read the relevant section of the spec to see whether it is initializing the origin correctly.

[2017-04-17 23:09] cbrewster commented on #14572
Appears to work now using servo from master. I am unsure if this was a change on duckduckgo's end or a fix in servo.

[2017-04-17 23:19] glennw commented on #16393
@jrmuizel @staktrace Do you guys have any Windows machines in the office with some of the gfx cards listed? I'm thinking most of this would go away if/when Servo starts using ANGLE on Windows, but it'd be nice to repro and do some testing. There might be some simple fixes / workarounds.

[2017-04-17 23:59] staktrace commented on #16393
I'll let @jrmuizel respond about the office machines, I'm not sure offhand what they have. It might be worth trying a Firefox nightly build with the gfx.webrender.enabled pref set to true (or just get a QuantumRender build from the graphics branch (e.g. [here](https://treeherder.mozilla.org/#/jobs?repo=graphics&revision=2b6a66a98e253ba158f3960f1c68ad49b2ebcdb4&filter-searchStr=quantum%20windows))

[2017-04-18 00:16] jonathandturner opened #16504 "Clicking links ignoring scrolling"
Seems like we're ignoring scrolling when we're trying to figure out which link was clicked on.  If I point to a link on the first page, and then scroll without moving my mouse, if I click on a link that's below the fold it still loads the link from the first page.

This happens on the current nightly in both macOS and Windows.

[2017-04-18 00:23] cbrewster commented on #16504
Filed here with test case #16405

[2017-04-18 00:23] #16504 closed

[2017-04-18 01:11] jonathandturner commented on #16504
Thanks.  That's what I get for filing bugs on the way out of the door 😄

[2017-04-18 02:24] jdm commented on #6633
Servo doesn't implement anything related to slots, so you can leave `// TODO: step 3 (signal slot list)` there.

[2017-04-18 02:28] jdm commented on #14572
Shrug!

[2017-04-18 02:28] #14572 closed

[2017-04-18 03:16] atouchet opened #16507 "Interface button hitboxes out of place in latest nightly build"
Tested in Windows 10.

Steps to reproduce:

1. Load one of the sites from the homepage links.
2. Try to click an interface button such as new tab.
3. Button doesn't do anything.

[2017-04-18 04:01] jdm commented on #16446
This is great! I've created a minimal testcase showing the problem where subsequent menu items are pushed down onto the next line:
[code]

[2017-04-18 05:37] metajack commented on #16484
It should be extremely easy to replace the ico file with a corrected one. Just use the resources/servo.png file and resize it to the correct dimensions, combine these into the ico file, and submit a PR replacing resources/Servo.ico.

I think I used some online tool to create the .ico file from that PNG, but I don't recall which tool.

[2017-04-18 05:37] highfive commented on #16484
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-18 05:48] paulrouget commented on #13994
You know better. Eventually, from the embedder, we want to be able to create a new "tab" and tell Servo that its opener is this other "tab". For example, when the the first tab use `window.open`. Is the new frame still a top level frame?

Ok!

You're right. But this is out of the scope of this work for now I think.

[2017-04-18 05:50] paulrouget commented on #13994
So how would you call a "tab"? Is it always a unique top level browsing context (see my question in the previous comment)? If so, we can call it like that. Or should we just call that a "TopFrame"?

[2017-04-18 06:04] NiLSPACE commented on #16393
Firefox with Webrender starts without any problem.
I get this from `stdout`:
[code]

[2017-04-18 06:19] atouchet commented on #16484
@highfive: assign me

[2017-04-18 06:19] highfive commented on #16484
Hey @atouchet! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-18 06:49] mcepl commented on #12015
The same goes for RHEL-7 … when I do symlinks, it still breaks, because apparently proper symbols are not there.

[2017-04-18 06:51] jdm commented on #11928
DDG now loads.

[2017-04-18 06:51] #11928 closed

[2017-04-18 07:26] StefanoD commented on #12015
By the way: You could do a snap package. It is stable (version 1.0+) and runs on Fedora as well.

[2017-04-18 09:38] chenpighead commented on #15202
Since I'm touching the codes here while fixing Gecko's [Bug 1348173](https://bugzilla.mozilla.org/show_bug.cgi?id=1348173), I can take care of this as well.

@highfive: assign me

[2017-04-18 09:38] highfive commented on #15202
Hey @chenpighead! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-18 10:38] alfredoyang commented on #15607
This bug includes three PRs. Servo PR depends on webrender PR and webrender PR depends on core-graphics PR.

I'm not sure how to deal these in servo.

[2017-04-18 11:01] jdm commented on #14323
In theory this has been fixed. Only one way to find out!

[2017-04-18 11:01] #14323 closed

[2017-04-18 11:03] jdm commented on #15607
We merge core-graphics first, then publish the updated crate, then update the webrender PR to include upgrading the core-graphics version in use, then merge that, then it gets included in the next update of webrender.

[2017-04-18 11:08] nox commented on #15441
@upsuper In #16511 I implement parsing of -webkit-radial-gradient. Now AFAIK all we need is for Gecko to drop `-moz-` and use `-webkit-`.

[2017-04-18 11:08] nox commented on #15607
It is a breaking change in core-graphics, so we need to bump it everywhere, too.

[2017-04-18 11:36] #12103 closed

[2017-04-18 13:09] nox commented on #15192
@upsuper https://drafts.csswg.org/css-values/#calc-syntax says `/` should only be followed by `<number>`. Do we really want to support `50px / (1 + 1)`?

[2017-04-18 13:18] nox commented on #15192
Seems like the spec is wrong on this, both Firefox and WebKit don't mind the addition.

[2017-04-18 13:27] nox commented on #15192
https://github.com/w3c/csswg-drafts/issues/1241

[2017-04-18 13:31] upsuper commented on #15192
Yeah, dbaron is right that we should support it, especially given that Gecko already supports it, and CSSWG is going to expand that to support even more powerful expression.

[2017-04-18 14:09] #16397 closed

[2017-04-18 14:53] jdm opened #16515 "Transplant DOM node reflectors when adopting nodes between globals"
[code]
[code]

[2017-04-18 14:55] jdm commented on #16515
In gecko, https://dxr.mozilla.org/mozilla-central/rev/a374c35469935a874fefe64d3e07003fc5bc8884/dom/base/nsDocument.cpp#7674-7675 ends up invoking https://dxr.mozilla.org/mozilla-central/rev/a374c35469935a874fefe64d3e07003fc5bc8884/dom/base/nsNodeUtils.cpp#577-583. [ReparentWrapper](https://dxr.mozilla.org/mozilla-central/rev/a374c35469935a874fefe64d3e07003fc5bc8884/dom/bindings/BindingUtils.cpp#21

[2017-04-18 14:59] asajeffrey commented on #16515
IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=18+Apr+2017&e=18+Apr+2017#c652467

TL;DR: adopting a node requires brain-transplanting it and all its descendants.

cc @avadacatavra

[2017-04-18 15:05] sendilkumarn commented on #15162
Looking forward to work on an issue 😄

[2017-04-18 16:03] NiLSPACE commented on #16393
After updating my Intel GPU drivers from `20.19.15.4483` to `21.20.16.4550` Servo is working again.

[2017-04-18 16:11] NiLSPACE commented on #16507
They are working, but it seems the hitbox is moved down a little.

[2017-04-18 16:28] atouchet commented on #16507
Ah you may be right. It appears I can still click on them by clicking underneath the button location.

[2017-04-18 17:17] Manishearth opened #16518 "Put the system font stuff stashed on ComputedValues in its own struct"
https://github.com/servo/servo/pull/16517 stashes a `cached_system_font` on the ComputedValues type. We also stash a `font_size_keyword` thing. These should be hidden away in a struct.

The system font stuff only exists in gecko mode, so it would need to be appropriately `cfg`d.

To test that this works, both `./mach build -p style -d` and `./mach build-geckolib` should pass.

[2017-04-18 17:17] highfive commented on #16518
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-18 17:39] asajeffrey commented on #16515
#16520 is a test case for this issue.

[2017-04-18 17:42] jklepatch commented on #16518
@highfive: assign me

[2017-04-18 17:42] highfive commented on #16518
Hey @jklepatch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-18 17:49] Manishearth commented on #16518
(You'll need to wait for https://github.com/servo/servo/pull/16517 to land)

[2017-04-18 20:31] jonathandturner commented on #16393
Interesting, thanks @NiLSPACE.

For others who are having this issue, can you confirm that you have the latest drivers for your video card?  Servo does use your video card quite a bit, similar to video games, so I'm not surprised that you need to keep the video drivers up to date.

[2017-04-19 01:46] danielrh commented on #16408
so if I understand this correctly: we're talking about an invalid brotli file which should return an error rather than panic on underflow?
If that's the case we can simply add extra error handling. If the file itself is a valid brotli file, this may require a repro case so we can ensure it works properly.
I'd like to know what this file does within the google/brotli C decoder.

[2017-04-19 04:11] glennw commented on #16393
Some drivers are having trouble with passing a struct through the VS -> FS interpolators. This PR (https://github.com/servo/servo/pull/16523) contains a workaround for that. When it lands, it should fix *some* of the issues above.

[2017-04-19 04:39] #16437 closed

[2017-04-19 06:23] jklepatch commented on #16518
@Manishearth ok
Could it be possible to have a quick chat on IRC about this issue? This is my first PR, I have a couple of questions :)

[2017-04-19 07:55] jklepatch opened #16525 "Cannot Build on ubuntu 14.04 - Python 2.7.12"
I have spent a day trying to build the project on my ubuntu, but no luck. Help would be very much appreciated.

Ubuntu: 14.04
Python: 2.7.12

`./mach build --dev`

[code]

[2017-04-19 08:41] #16486 closed

[2017-04-19 08:57] emilio commented on #16518
That PR was reverted due to thread-safety issues in Gecko, so this needs to wait a bit more. Happy to help over IRC when that re-lands, feel free to ping us directly on `#servo` in `irc.mozilla.org` :)

[2017-04-19 10:09] mrobinson commented on #16405
Currently the way that Servo it written it seems that the scroll position requesting from script on the root is handled entirely within Servo and not in WebRender. This is likely because scrolling in WebRender is handled asynchronously. This means that although Servo does ask WebRender to scroll the root node, the offset of the root is tracked and applied entirely within Servo.

The most pressing

[2017-04-19 10:46] murarisumit commented on #12675
@KiChjang @jdm can i work on it ?

[2017-04-19 11:00] mrobinson commented on #16405
I created https://github.com/servo/servo/pull/16529 to fix one issue that I mentioned.

[2017-04-19 12:16] Alhaitham commented on #16393
The workaround by @wilt00 worked for me.

Using the external GPU made Servo start normally.

[2017-04-19 12:20] avadacatavra commented on #8581
@nox I think we should block it

[2017-04-19 12:21] CAfromCA commented on #16393
@jonathandturner I appear to have the latest driver for the Intel HD 3000, which was released in June 2015.

That age is probably not surprising, since Sandy Bridge just turned 6 and Intel discontinued technical support for it in June 2016.

[2017-04-19 13:04] crlf0710 commented on #16393
I had this issue yesterday but i pulled the newest code and updated my display driver just now.

It's working fine now.

[2017-04-19 13:56] surajmandalcell commented on #12130
Any updates?

[2017-04-19 14:00] avadacatavra commented on #8581
Once I've blocked it, I think it would be good to make a more usable error message ("obsolete/insecure cipher--handshake failed" maybe). Currently, when we block these, the only message displayed is 'the handshake failed'

[2017-04-19 15:07] jdm commented on #12130
See the previous comment.

[2017-04-19 15:33] jdm commented on #12675
Please do!

[2017-04-19 16:37] Jayflux opened #16532 "BBC News banner not being parsed (XML?)"
![screen shot 2017-04-19 at 17 34 07](https://cloud.githubusercontent.com/assets/936006/25191158/a7250cca-2526-11e7-8ae0-8be0562f17af.png)

I'm not sure if this is known about, but the top banner isn't being parsed, this this because of the `<![CDATA]> ?

Also it's really zoomed in on MacOS but normal sized on windows. (that's another problem)

[2017-04-19 17:17] avadacatavra commented on #8581
Also, how do we feel about switching to the modern cipher list (less backward compatibility) in https://wiki.mozilla.org/Security/Server_Side_TLS?

Major differences:
* Sha1 removed (yay!)
* DHE removed (slower than ECDHE)

Based on my recent-ish cipherscan [results](https://pastebin.com/aCazxpAq), it looks like we shouldn't take too much of a hit on web compat

[2017-04-19 17:23] jrmuizel commented on #14310
This looks fixed now.

[2017-04-19 17:23] #14310 closed

[2017-04-19 17:24] jrmuizel commented on #14005
This has been fixed.

[2017-04-19 17:24] #14005 closed

[2017-04-19 17:25] jrmuizel commented on #13578
Looks fixed.

[2017-04-19 17:25] #13578 closed

[2017-04-19 17:30] alex commented on #8581
Modern also drops non-AEAD suites, which probably breaks substantial portions of the web :-(

+1 on removing DHE though, Chrome has already done this, and because the TLS handshake doesn't negotiate FFDH-params, there's probably no way to bump the minimum DH without also breaking stuff.

[2017-04-19 17:56] avadacatavra commented on #6104
There's no cross-browser consensus on the tradeoffs with DANE, and I don't think this is a current priority for Servo.

We can reopen/revisit this in the future if things change in the browser ecosystem.

[2017-04-19 17:56] #6104 closed

[2017-04-19 18:04] jrmuizel opened #16533 "https://people-mozilla.org/~jmuizelaar/tests/hard-mstange.html does not render correctly"
https://people-mozilla.org/~jmuizelaar/tests/hard-mstange.html should have a blue bar on top but servo doesn't draw it.

[2017-04-19 18:04] jrmuizel commented on #16533
@mrobinson any idea what might be going on here?

[2017-04-19 18:05] jrmuizel opened #16534 "https://people-mozilla.org/~jmuizelaar/implementation-tests/dl-test.html renders wrong"
https://people-mozilla.org/~jmuizelaar/implementation-tests/dl-test.html should not have any space between the boxes but it does in Servo

[2017-04-19 18:54] nox commented on #8581
"HTTPS state" in the Fetch spec can be either "modern" or "deprecated", so we can have two lists, one  for the ones we prefer, and one for the ones which are bad but which we need to support for webcompat.

[2017-04-19 18:54] nox commented on #8581
See #16357.

[2017-04-19 21:13] gaby2300 commented on #16393
I cannot update my video card drivers as my PC is quite old by now.

Could someone explain me what does the gfx.webrender.enabled pref set to
true have to do with Nightly's servo build please? I would greatly
appreciate it! I would also appreciate undesrtanding how to proceed with
the workaround mentioned by Glenn, and how to obtain a QuantumRender build
from the graphics branch.

Many thanks!

On

[2017-04-19 21:45] hgallagher1993 commented on #16533
I just tried this and for me it gets partially drawn at the bottom of the screen https://i.imgur.com/187aRMI.png, looks like about half is cut off

[2017-04-19 23:13] #16003 closed

[2017-04-19 23:55] upsuper commented on #15441
According to [bug 1241623 comment 8](https://bugzilla.mozilla.org/show_bug.cgi?id=1241623#c8), we also need to implement the 2008 version of `-webkit-gradient` syntax in addition to `-webkit-{linear,radial}-gradient`, and there is no spec for that.

Also, `-webkit-gradient` seems to be the most expressive syntax among all, and Gecko only partially support its expressiveness (via some parse-time co

[2017-04-20 00:01] jryans commented on #8982
If someone wants to pick up where I left off with this, here's my branch:

https://github.com/jryans/servo/commits/range-client-rects

[2017-04-20 00:58] metajack commented on #8581
@avadacatavra if you want to switch modern on, you'll probably need to provide data on how bad the breakage is so we can make a decision. Feel free to remove DHE though, since it seems like other browsers are doing that.

[2017-04-20 02:38] WholeGrainGoats commented on #15975
@Wafflespeanut I've written the two functions you've asked for, converted the value to be a u32 for feature tag, and added the necessary changes to the parsing code to use u32. I'm having some difficulty testing this code, however. I inserted a print statement, changed one of the files to include font-feature-settings in the css, and it appears that the function is not being called. It could just

[2017-04-20 04:47] isonmad opened #16538 "outdated build errors FAQ entry?"
The section *[A linking error that looks like it might come from angle](https://github.com/servo/servo/wiki/Build-Errors-FAQ#a-linking-error-that-looks-like-it-might-come-from-angle)* says `Servo doesn't currently work on Xcode 8 (@nox is investigating)`, but https://github.com/servo/servo/issues/11846#issuecomment-272608310 says `Building now works with Xcode 8`.

[2017-04-20 05:17] daboross commented on #12015
I'm not sure if I have a missing dependency or I'm running into this issue, but here's my output for the nightly download:
[code]

[2017-04-20 06:12] jklepatch commented on #16518
@emilio ok I will wait :-)

[2017-04-20 06:21] sbwtw commented on #15986
Hello @brizental , are you still working on this? if not. I want to take this.

[2017-04-20 06:23] KiChjang commented on #15986
@sbwtw It looks like @brizental is unresponsive, feel free to tackle this issue!

[2017-04-20 06:34] #14095 closed

[2017-04-20 06:57] NiLSPACE commented on #16393
WebRender is a component of Servo which is being moved to Firefox as part of the Quantum project. By setting `gfx.webrender.enabled` to true you tell Firefox to use that. I suggest creating a new profile first in `about:profiles` as the option is still really unstable.

[2017-04-20 07:09] mrobinson commented on #16533
This looks like a layout bug. I've reduced the test case to this:
[code]

Firefox shows:
![screenshot from 2017-04-20 09-07-00](https://cloud.githubusercontent.com/assets/13536/25217877/da066666-25a8-11e7-8a9c-489f09cb120a.png)

Servo shows:
![screenshot from 2017-04-20 09-09-00](https://cloud.githubusercontent.com/assets/13536/25217932/0dcd9b5e-25a9-11e7-84ab-a90478393792.png)

[2017-04-20 07:30] Wafflespeanut commented on #15975
Nah, you won't be able to test it unless you have a Stylo build (sadly). Feel free to make a PR, and we'll test this in gecko's try server :)

[2017-04-20 08:11] jdm commented on #16393
The 4/19 Servo nightly should include the workaround mentioned by @glennw.

[2017-04-20 09:50] nox commented on #15211
What are the computed values for `context-fill-opacity` and `context-stroke-opacity`?

Should `stroke-width`, `stroke-dasharray` and `stroke-dashoffset` also support `context-value` like the spec you linked says?

[2017-04-20 10:01] nox commented on #15001
Could you describe a bit more what is there to do, in which files, with what code?

[2017-04-20 10:04] #15441 closed

[2017-04-20 10:05] nox opened #16542 "Implement 2008 syntax of WebKit gradients"
Follow-up of https://github.com/servo/servo/issues/15441#event-1050225942.

[2017-04-20 10:05] highfive commented on #16542
cc @emilio

[2017-04-20 10:06] nox commented on #16372
@pyfisch Are you working on this?

[2017-04-20 10:32] nox commented on #15957
Are you still working on this, @streichgeorg?

[2017-04-20 10:33] avadacatavra commented on #8581
@metajack @nox in #16535 i changed our default to modern with a switch for intermediate (which does keep DHE). does that sound like it will solve this?

[2017-04-20 10:38] nox commented on #16391
Why are these values forbidden? I can't find anything related to them in the spec.

[2017-04-20 10:40] nox commented on #16391
Oh I see, while it is a shorthand, it doesn't mean all the values from the longhands are allowed.

[2017-04-20 10:55] #15199 closed

[2017-04-20 11:21] nox opened #16543 "Port test_value_storage.html and test_property_syntax_errors.html to WPT tests in /_mozilla/"
The current situation where we have to make a m-c try run to test changes stylo-related parsing changes is unsustainable, IMO.

https://dxr.mozilla.org/mozilla-central/source/layout/style/test/test_value_storage.html
https://dxr.mozilla.org/mozilla-central/source/layout/style/test/test_property_syntax_errors.html

[2017-04-20 12:58] pyfisch commented on #16372
No, I just looked at it.

[2017-04-20 17:27] CAfromCA commented on #16393
@jdm The nightly installer I downloaded a few minutes ago created files with a timestamp of 1:11am EDT on 4/19. If that timestamp is correct and relevant, it looks like that's about 5 hours prior to PR #16523 being merged.

Is there any way to confirm the build date/time and/or commit pulled for the current nightly?

[2017-04-20 17:45] srivassumit commented on #6633
While implementing the [MutationObserver.observe](https://dom.spec.whatwg.org/#dom-mutationobserver-observe) method, In steps 3-6 it says that we need to throw a TypeError, but I could not find any specification for 'TypeError'.
I found 'TypeError' referenced in [addEventListener](https://dom.spec.whatwg.org/#dom-eventtarget-addeventlistener) and [removeEventListener](https://dom.spec.whatwg.org/#

[2017-04-20 18:16] RonTilby opened #16546 "Servo Tech Demo closes as soon as I open it (Windows 10 64 bit)"
The Servo Tech Demo closes itself after flashing a window.
My system info:
Windows 10 64-bit, Intel Core i5-4460 CPU, 8.0GB RAM
Intel HD Graphics 4600
Graphics Driver Provider: Intel Corporation
Driver Date: 3/8/2017
Driver Version: 20.19.15.4624

What additional information would be useful?

[2017-04-20 20:10] pcwalton opened #16547 "Overflow:hidden should not apply to descendants that are absolutely positioned with an ancestor containing block"
Failing test case:

https://people-mozilla.org/~jmuizelaar/tmp/overflow.html
[code]

See https://www.w3.org/TR/CSS2/visufx.html#q11.0

"[overflow] affects the clipping of all of the element's content *except any descendant elements (and their respective content and descendants) whose containing block is the viewport or an ancestor of the element.*" (emphasis mine)

[2017-04-20 20:28] jrmuizel commented on #12696
https://mdn.mozillademos.org/en-US/docs/Web/CSS/border-collapse$samples/A_colorful_table_of_browser_engines?revision=1160464 is a working url for the same thing

[2017-04-20 21:33] atouchet commented on #16546
This might be a duplicate of #16393.

[2017-04-20 22:22] jdm commented on #16547
This will need much more information about the expected solution for `E-less easy` to apply.

[2017-04-20 22:25] jdm commented on #6633
Unfortunately we don't implement step 1 of those APIs in Servo yet, or that would have been a good idea! Throwing exceptions occurs automatically when returning an Err value from DOM APIs, but also requires that the WebIDL method be marked `[Throw]`. The result looks like this: https://dxr.mozilla.org/servo/rev/7f825d2119a480a64b103e1d60a2d469af98d3de/components/script/dom/crypto.rs#53

[2017-04-20 22:40] jdm commented on #16546
Yeah, let's track this there.

[2017-04-20 22:40] #16546 closed

[2017-04-20 23:13] dbaron commented on #16543
I filed [bug 1358309](https://bugzilla.mozilla.org/show_bug.cgi?id=1358309) on doing this conversion with some brief thoughts on how to proceed.

[2017-04-21 00:03] gaby2300 commented on #16393
I installed today's build but I still have the same issue

On 20 April 2017 at 05:11, Josh Matthews <notifications@github.com> wrote:

[2017-04-21 00:11] gaby2300 commented on #16393
I created a new profile in Nightly, set the pref to true and opened the
browser. The result was a very slow nightly (I tried 2 sites); no close,
resize or minimize button. Clicking the upper right corner resulted in a
minimized browser. Maximizing it resulted red blank window with no tabs.

I have several profiles and the 4 channels installed. Which one should I
change the preference in?

​Thanks

[2017-04-21 00:36] jdm commented on #16393
That's fine. It was just a check to see if using webrender in Firefox nightly demonstrated the same problem that occurs in Servo when using webrender.

[2017-04-21 01:48] NoahConnors opened #16552 "Mouse being all janky: click locations being off from actual locations"
I don't know if this issue has already been addressed or if this is just a me thing, but whenever I want to click on something in the UI (not on a website), the location where I have to have my mouse is always downward from where the actual thing that I want to click on is. Say I wanted to go back a page. This is where my mouse would have to be:
<img width="1920" alt="cursorposition" src="https://

[2017-04-21 01:50] NoahConnors commented on #16507
I also have this problem. Hope it gets fixed.

[2017-04-21 01:51] jdm commented on #16552
Tracking in #16507. Thanks for reporting it!

[2017-04-21 01:51] #16552 closed

[2017-04-21 02:27] #16484 closed

[2017-04-21 06:48] murarisumit commented on #12675
@shinglyu, i saw the flow of dump-flow-tree, so  I've to make the all flow class(inheriting flow trait) serializable and then do serde_json::to_string(root_flow) ?

[2017-04-21 07:56] nox opened #16556 "Update serde to 1.0.0"

[2017-04-21 08:02] nox commented on #16532
I'm pretty sure this is unrelated, given this top banner is actually added by some JS code.

[2017-04-21 08:48] streichgeorg commented on #15957
Oh I'm sorry, I kinda forgot this and also didn't have any time in the past week. But I should be able to finish this in the following days, I just need to do some minor stuff.

[2017-04-21 09:20] hiikezoe commented on #15957
That's good to know. Thank you!

[2017-04-21 11:12] gterzian commented on #13241
is anyone working on this one? If not, I am interested...

[2017-04-21 11:48] jdm commented on #13241
Nobody is working on it. I don't think anybody has wanted to tackle dealing with multiple toplevel windows and figuring out how that relates to things like the compositor and webrender.

[2017-04-21 12:31] sciguyryan opened #16559 "Inconsistent :hover background rendering (manual testcase)"
Hi guys.

Using the manual test included below. Hover over the first list element and it will correctly render with a red background. We would expect the same to be true of the second but this isn't the case with Servo. It is intermittently rendered with a red background as the mouse is moved around within the visual bounds of the element but it isn't consistently kept red while the cursor is with

[2017-04-21 13:36] CAfromCA commented on #16393
I just re-downloaded the Windows installer and it's the same "1:11 am on 4/19" build that I downloaded a bit over 24 hours ago and then again about 20 hours ago.

I grabbed a copy of the Mac image and the timestamps in there are all 9:11pm on 4/20.

Is there an issue with the Windows build/upload process? Has there been a Windows build since PR #16523 was merged?

In the meantime I'll see if I can

[2017-04-21 14:05] cbrewster opened #16560 "Windows nightly uploads are failing"
http://build.servo.org/builders/windows-msvc-nightly/builds/120/steps/shell__2/logs/stdio

[2017-04-21 14:05] cbrewster commented on #16393
See #16560

[2017-04-21 14:27] Jayflux commented on #16532
@nox ok, so does that mean html added by JS will not yet be parsed by Servo?
I don't know how far we are with the JS stuff

[2017-04-21 14:28] highfive commented on #16560
cc @aneeshusa

[2017-04-21 14:34] jdm commented on #16532
No, HTML added by JS should still work. Someone needs to figure out which JS adds that banner to the page and how it does that; then we'll have a better idea about what's going wrong.

[2017-04-21 14:43] sciguyryan commented on #16532
It appears to be added by line 144 which reads as follows:

[code]

Interestingly it seems as though the HTML is embedded in a script tag with the type set to text/html. I can't say I've ever seen that one before.

[2017-04-21 15:11] aneeshusa commented on #16560
I'm not sure, but this might be caused by servo/saltfs#640. @larsbergstrom @metajack any ideas?

[2017-04-21 15:12] aneeshusa commented on #16560
If so, the easiest solution is probably to convert the upload script to Python, instead of reinstalling MinGW/MSYS.

[2017-04-21 15:33] aneeshusa commented on #16560
I'm also not sure if we need to re-install s3cmd/what's the best way to do that, given #12231.

[2017-04-21 15:35] cbrewster commented on #11939
Not an issue anymore.

[2017-04-21 15:35] #11939 closed

[2017-04-21 16:36] CAfromCA commented on #16393
Looks like PR #16523 didn't fix my issue. I checked out the latest code from master about 2 hours ago and compiled, but got the same error:

'Failed to create window.: OsError("wglCreateContextAttribsARB failed: OS Error -1073274731 (FormatMessageW() returned error 317) (os error -1073274731)") (thread main, at src\libcore\result.rs:859)'

[2017-04-21 16:42] jdm commented on #16532
Ah, then this might be another instance of #14226.

[2017-04-21 17:28] Jayflux commented on #14975
Looks like this is also a cause of https://github.com/servo/servo/issues/16532

[2017-04-21 18:28] MortimerGoro commented on #13985
This was caused because by default Angle transpiler throws an exception when using highp qualifier in shaders. The property FragmentPrecisionHigh must be set to support highp.

[2017-04-21 18:49] larsbergstrom commented on #16560
I'm not sure we wanted to remove msys/mingw, see https://github.com/servo/saltfs/issues/640#issuecomment-296273105

Sorry I missed that earlier issue convo.

I would certainly be in favor of using a python upload script instead (there *must* be one for s3 uploads). I assume the complexity there will mainly be in getting all the secret API keys, etc. in the right places and not being accidentally l

[2017-04-21 19:01] aneeshusa commented on #16560
Re: https://github.com/servo/saltfs/issues/640#issuecomment-296275810

The script is fairly short, I can do a rewrite today (e.g. before the next set of nightlies). Buildbot takes care of passing credentials as environment variables and not logging them.

[2017-04-21 19:02] larsbergstrom commented on #16560
@aneeshusa Thanks, that's great :-)

[2017-04-21 19:40] #16391 closed

[2017-04-21 20:39] KiChjang commented on #14975
@moonlightdrive Are you still working on this?

[2017-04-21 20:43] moonlightdrive commented on #14975
Hi, I am still working on it. Sorry I've been so slow. If this issue needs to be fixed soon I am happy to give it up and maybe take a look at another one.

[2017-04-21 20:52] #13985 closed

[2017-04-21 21:28] #14568 closed

[2017-04-21 22:42] SimonSapin commented on #6564
https://github.com/w3c/csswg-drafts/issues/1217 is resolved with https://github.com/w3c/csswg-drafts/pull/1266: the spec introduces a `CSSOMString` in WebIDL, a typedef for either `DOMString` or `USVString`, chosen by implementations. Choosing `USVString` effectively means replacing surrogates with U+FFFD.  This type is used for almost everything in CSSOM.

[2017-04-22 02:09] gterzian commented on #13241
ouch, that sounds painful, well I guess I'm up for it, you can add the 'assigned' label 😄

[2017-04-22 02:28] jdm commented on #13241
Related discussion: https://github.com/servo/servo/issues/13338

[2017-04-22 02:31] jdm commented on #13241
Also: https://github.com/servo/servo/issues/13993, https://github.com/servo/servo/issues/13994, and a bunch of relevant stuff in the tracking issue for multiple windows: https://github.com/servo/servo/issues/13997

[2017-04-22 03:19] jjwhitney commented on #16393
I'm running into this with Intel HD Graphics 4600. Switching to NVIDIA GeForce GTX 860M (See instructions above by @wilt00) works around it for me.

[2017-04-22 03:28] pcwalton opened #16569 "Simple incremental display list building using global Z-indices"
Here's a proposal for simple incremental display list building:

1. Assign a global Z-index to each display item. This is an idea that we discussed in the past. The idea is that you can globally sort the entire display list once at the end instead of sorting as-you-go. The Z-index can basically be thought of as an arbitrarily long string to handle nested stacking contexts. These will need to be st

[2017-04-22 04:18] #7636 closed

[2017-04-22 05:55] juhp commented on #12015
Or a flatpack :)

So what OS version are the nightly snapshots built on?  And why? :)

[2017-04-22 06:00] paulrouget commented on #13241
https://github.com/servo/servo/issues/13994 needs to happen first (if you have multiple compositors, you will need multiple top level frames). Also, @glennw might be working on something related.

This issue is about supporting `window.open` which might not require multiple compositors. Maybe the embedder could just open a new tab instead of a new window, which in this case would only require mult

[2017-04-22 06:06] paulrouget commented on #13241
A simple initial approach could be to just fire an event to the embedder and let the embedder create a new top level frame (see how that would work here https://github.com/servo/servo/issues/13994#issuecomment-294415932).

Maybe we could ignore opener and refererrer at first.

Considerations:

* `window.open` is synchronous
* the embedder might refuse to open the window
* look at the `MozBrowserEv

[2017-04-22 13:10] upsuper commented on #15211
Seems to be some flags in `nsStyleSVG::mContextFlags`. See [nsStyleStruct.h](https://dxr.mozilla.org/mozilla-central/rev/9550eedc0bd80d404dab4e42660c629cc705c16c/layout/style/nsStyleStruct.h#3495-3514).

Yes.

Note that all those values are controlled by pref `gfx.font_rendering.opentype_svg.enabled`, and there is a test to ensure the effectiveness of that pref. So we probably need to follow that

[2017-04-22 15:31] nox commented on #15211
Should we file an issue on the compat spec for these values to be mentioned there?

[2017-04-22 15:51] emilio commented on #16518
I think it landed now, right @Manishearth?

[2017-04-22 15:55] Manishearth commented on #16518
Yep!

On Apr 22, 2017 8:51 AM, "Emilio Cobos Álvarez" <notifications@github.com>
wrote:

[2017-04-22 17:18] nox opened #16572 "Review all safe code that takes raw pointers in stylo and other places"
Functions such as `style::gecko::media_queries::Device::new` take a `RawGeckoPresContextOwned` that is ultimately just a raw mutable pointer. This means one can write `Device::new(0xdeadbeef as *mut _)` and the code will happily compile and probably segfault at runtime, that is unsound, and this shouldn't be doable from safe code. There are probably many other occurrences of that problem in stylo

[2017-04-22 21:20] prampey commented on #8539
@jdm Anything we can do about this?

[2017-04-22 22:13] upsuper commented on #15211
Why compat spec? It is nothing about compat, it is a feature we support and don't want to unship. It is just defined in OpenType spec rather than an SVG or CSS spec.

[2017-04-22 22:15] nox commented on #15211
@upsuper All I saw was the microsoft domain and I thought it was vendor-specific, disregard that. :)

[2017-04-22 22:26] upsuper commented on #15211
That is the OpenType spec hosted on Microsoft's domain. The original draft can be found here: https://dev.w3.org/SVG/modules/fonts/SVG-OpenType.html and there is a link saying the document in Microsoft domain is the spec.

IIRC this is actually something only Gecko implements at the moment.

[2017-04-22 23:04] jdm opened #16574 "Intermittent crash in /html/browsers/windows/nested-browsing-contexts/window-parent-null.html and /html/browsers/windows/nested-browsing-contexts/window-top-null.html and /html/browsers/windows/noreferrer-null-opener.html"
[code]

[2017-04-23 01:11] stshine commented on #16574
[code]

[2017-04-23 03:32] gpoesia commented on #11444
@jdm is there currently any better way of reporting validation problems (step 4 in https://html.spec.whatwg.org/multipage/forms.html#interactively-validate-the-constraints) than writing to stdout?

[2017-04-23 07:04] blacksvk opened #16576 "Box with overflow:hidden cut inner div with absolute position by content edge, not by padding edge"
Tested on Windows 8.1 x64

![servo-overflow](https://cloud.githubusercontent.com/assets/10187350/25311540/c25634c6-2803-11e7-9d60-2cd980dff0a5.png)

[code]

[2017-04-23 08:41] #15202 closed

[2017-04-23 11:45] stshine commented on #16533
With <!DOCTYPE html> Firefox behaves the same as Servo. This is a quirks mode bug.

[2017-04-23 13:34] gterzian commented on #13241
@paulrouget yes I can first work on #13994 and perhaps others, it sounds like this one needs a bit more infrastructure in place to be completed, and it's nice way to break up the work.

re the initial approach you mention, am I correct if I say that when you say "just fire an event to the embedder" you mean that `window.open` would fire something such as the ["BrowserEvent::HandleUrl"](https://git

[2017-04-23 13:41] frewsxcv commented on #8539
This should be possible via a [cargo build script](http://doc.crates.io/build-script.html#case-study-code-generation).

[2017-04-23 13:42] gterzian commented on #13993
Would it be somewhat correct to say that what we need is some combination of [`Tabs'](https://github.com/paulrouget/servo/blob/204b267d9d9cc71c79954d444fcd63623bdbe8e0/ports/servo/main.rs#L57) and [`BrowserManager`](https://github.com/paulrouget/servo/blob/204b267d9d9cc71c79954d444fcd63623bdbe8e0/components/servo/lib.rs#L121)(as well as changes in Constellation to support those)?

The way I see it

[2017-04-23 15:07] jdm commented on #11444
Nope!

[2017-04-23 17:47] n0max commented on #10600
Hi, I like to work on this.

The tests
`/2dcontext/conformance-requirements/2d.voidreturn.html`
`/2dcontext/drawing-images-to-the-canvas/2d.drawImage.zerosource.html`
are expected to fail and with the changes they pass.

What additional tests are required?

[2017-04-23 22:20] surajmandalcell commented on #12130
any updates (*again*)?

[2017-04-23 22:23] mhsjlw commented on #12130
He already said there will be an announcement, asking every 4 days isn't going to do much

[2017-04-24 02:22] jdm commented on #10600
Running `./mach test-wpt tests/wpt/web-platform-tests/2dcontext` should not show any unexpected failures (only passes) with these changes.

[2017-04-24 03:54] ArkadiuszMichalski commented on #16393
Same here, autoclose when run .exe, my spec:
OS: Windows 7 Enterprise SP1 64-bit
CPU: i7 2600k
GPU: Intel HD Graphics 3000
GPU driver version: 15.28.24.4229 (9.17.10.4229) https://downloadcenter.intel.com/product/81500/Intel-HD-Graphics-3000

[2017-04-24 04:54] KiChjang opened #16583 "Intermittent failure of /_mozilla/mozilla/scroll_root.html"
[code]

[2017-04-24 05:50] cbrewster opened #16584 "Clean up warnings"
We should clean up the warnings when compiling on master.
<details>

[code]
</details>

[2017-04-24 05:50] highfive commented on #16584
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-24 06:20] KiChjang commented on #16584
I suspect the `char_to_script_key` function is actually used in a Windows build, so the correct fix there should be to add a `#[cfg(windows)]` attribute there,

[2017-04-24 06:41] KiChjang commented on #16324
This has been annoying me for so long, I decided to take a look at it.

Something to note here - in Servo, the first and second column both have the same width as the table itself, so something is clearly wrong here.

[2017-04-24 07:32] paulrouget commented on #13241
@asajeffrey is already working on multi top level frames (#13994).

And if I'm not mistaken, @glennw is working on multiple WR instances. I'm not sure how this plays with multiple compositors. Supporting multiple compositors will also mean that we need to stop using exclusively the compositor channel to talk back to the embedder. We may need another communication channel (see #15934).

So you need

[2017-04-24 07:35] paulrouget commented on #13241
At this point, we can see that a lot of things are required before being able to fully support `window.open`.

In term of priorities, supporting multiple compositors is very important for us (more that supporting `window.open`), along with supporting multiple top frames.

I am not sure what would be best for you to start with.
@jdm - what do you think?

[2017-04-24 07:46] KiChjang commented on #16324
This should be the relevant spec: https://drafts.csswg.org/css-tables-3/#distributing-width-to-columns

[2017-04-24 07:47] paulrouget commented on #13993
warning: "Tabs" and "BrowserManager" are just temporary names I used in that prototype. "Tabs" are not a concept that we have in Servo. And I don't think we want that to ever happen. We talk about top level frames. "BrowserManager" is a fancy name for the constellation from the point of view of the embedder. My example assume only one window (one compositor).

We want only one constellation.

Yes.

[2017-04-24 07:57] stshine commented on #16324
I kinda believe that this bug is caused by trying to follow the CSS Table level 3 spec. Note that the CSS Table spec is marked as not ready for implementation, so if you find there is any contradiction between it and CSS2, please follow CSS2 behavior.

[2017-04-24 07:58] KiChjang commented on #16324
... but it looks like we shouldn't be following that part of the spec at all, since it is talking about distributing __excess__ width, not the __used__ width of the columns, which is defined here https://drafts.csswg.org/css-tables-3/#width-distribution-algorithm.

[2017-04-24 08:13] nox commented on #16572
Most `Servo_*` functions take raw pointers, are public, and are exposed from outside the crate. These should be unsafe.

[2017-04-24 08:47] KiChjang commented on #16324
I'm actually quite confused at this point - why do we special-case fixed table layouts? Auto table layouts are computed in `table_flow.rs`, but in the case of fixed table layouts, they're all computed in `table.rs`, and to add on that, we're also following the "distributing excess widths to columns" algorithm when assigning inline sizes in `table.rs`, which is wrong.

@pcwalton perhaps you can wei

[2017-04-24 10:05] #15986 closed

[2017-04-24 10:14] sciguyryan commented on #16559
This problem still seems to exist in the most recent Servo nightly builds.

[2017-04-24 10:26] emilio commented on #12814
Fixed by #16541

[2017-04-24 10:26] #12814 closed

[2017-04-24 11:23] jdm commented on #13241
I don't know that I have a meaningful opinion here, since I haven't been following the existing work that's happening.

[2017-04-24 11:24] jdm commented on #16584
The `let mut argc = 2` warning is in generated code, so it's also not easy to fix.

[2017-04-24 11:46] jdm commented on #16583
<img width="819" alt="screen shot 2017-04-24 at 7 45 31 am" src="https://cloud.githubusercontent.com/assets/27658/25335682/0fc41c14-28c2-11e7-8490-a93681991bfa.png">

[2017-04-24 11:48] jdm commented on #16583
Let's not assume this is intermittent yet.

[2017-04-24 11:48] #16583 closed

[2017-04-24 12:06] gterzian commented on #13241
@paulrouget Ok, thanks for the clarification, I think I have a pretty good overview of what we are trying to do from a high level perspective. I'll try to connect with @glennw and @asajeffrey here or on IRC to see if there is something I can work on to support "multiple compositors".

[2017-04-24 12:55] jdm opened #16591 "List of things that could be documented better"
This is intended as an issue for anybody to request more/better documentation for specific parts of Servo that interest them.

[2017-04-24 12:57] Jayflux commented on #16591
If someone could make something like this, https://www.youtube.com/watch?v=wUpPsEcGsg8 that would be amazing.
Ben does a very good job walking through the code from beginning to end, showing what files and folders do what. Even if you don't use react, its worth watching for inspiration

[2017-04-24 13:03] jdm commented on #16591
We should document the relationship between `Attr`, `IDL attributes`, `content attributes`, `Element::get_attribute`, `Element::get_string_attribute`, and `VirtualMethods::parse_plain_attribute`.

[2017-04-24 14:05] pdscott commented on #15602
Hi, I am part of the NCSU team working on this project and wanted to get some clarification on this requirement: **build a HTML front-end to the service that queries it using JS and reports the results in a useful manner (linking to github, sorting, etc.)**

Our implementation currently has a query method built into Flask service to which pulls info from the db and returns it in JSON format.  To f

[2017-04-24 14:11] metajack commented on #16591
I worked a bit on DOM code last week, and immediately ran into the issue that the rooting documentation is out of date. The comments in the source files about how to get from JS<T> to Root<T> were not right.

It would probably be useful to show correspondence from webidl to Rust as well has how to get back and forth between various types.

[2017-04-24 14:20] Manishearth commented on #16572
Sorry, I disagree.

We should not be calling these functions at all from Servo. It would be nice to have a tidy lint enforcing that.

Firstly, most `Servo_` functions take borrows now. `RawFooBorrowed` is an actual borrow with a lifetime, despite being represented as a raw pointer on the C++ side. If the function is safe, it's likely accepting a borrow. That's the whole point of the safety binding

[2017-04-24 14:27] jdm commented on #15602
Reusing the existing REST API from the HTML frontend sounds like a fine plan to me.

[2017-04-24 14:39] pdscott commented on #15602
Great. Thanks!

[2017-04-24 14:49] asajeffrey commented on #13241
I'd recommend ignoring opener and referrer for the moment, until we decide what to do about de-conflating "top-level browsing context" from "unit of similar-origin browsing contexts".

For sync `window.open()`, the messages via the constellation should all be async, and the constellation shouldn't block on script, but it's okay for script to block on the constellation, so the easiest thing to do i

[2017-04-24 14:57] nox commented on #16572
It's not a matter of tidy, or whatever unspoken invariant you wished everyone followed. The function exists, the function is exported from the crate, the function does unsafe things, therefore it should be unsafe.

That's because the functions do too much, instead of doing pointer to reference conversions and such things, and then calling very few safe functions, it does many unrelated things, and

[2017-04-24 15:00] eddyb commented on #16572
Is there no way to export a function to C but not Rust? Or does `#[no_mangle]` forbid that?

[2017-04-24 15:11] canaltinova opened #16594 "Computed angle should preserve its unit"
Currently, Servo computes and stores computed Angle only as radian. Gecko stores computed Angle like specified Angle(radian/degree/gradian/turn). This causes some linear-gradient mochitest failures in stylo and we are losing information here.  We should fix that.

[2017-04-24 15:11] highfive commented on #16594
cc @emilio

[2017-04-24 15:18] aacunningham commented on #16584
It also looks like the unused import `servo::config` is used in an Android build. I'm pretty new to the language, but I'm not sure if you can conditionally import like you can with functions.

[2017-04-24 15:29] cbrewster commented on #16584
@aacunningham You can add`#[cfg(target_os = "android")]` above the import.

[2017-04-24 15:38] CAfromCA commented on #16393
If it helps, I did a "--dev" build of the latest code (as of about 10:45am EDT) and got a stack backtrace to go with the error:

[code]

[2017-04-24 15:41] aacunningham commented on #16584
@cbrewster Interesting, didn't find that in the book, but maybe I rushed through the conditional compiling section.

Then two out of three warnings are simple to solve. If I had some guidance on the best way to handle the `let mut argc = 2` issue, I could solve this.

[2017-04-24 15:54] jdm commented on #16584
Let's add `unused_mut` to the list at https://dxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/CodegenRust.py?q=let+mut+argc&redirect_type=single#1852 to solve the last one.

[2017-04-24 16:17] Manishearth commented on #16572
An FFI crate that _only_ contains extern C functions and is obviously to be called from C/++ code.

Yes, this is an improvement I've wanted to do, it's just low priority for me (because of the aforementioned "it's safe as long as you don't call it from Rust"). Go ahead and do it if you want. It enables a lot of improvements in the way we do safety glue, too, reducing dependence on bindgen replace.

[2017-04-24 18:46] cbrewster commented on #15688
Should we make the iframe block until it receives the window size when creating the nested browsing context?

[2017-04-24 19:02] jdm commented on #15688
What if we did getClientBoundingRect() in an iframe's bind_to_tree method? That might give us the synchronization that we need.

[2017-04-24 19:52] jdm commented on #14719
Addressing this would likely make fixing #15688 easier.

[2017-04-24 20:23] recompileorg commented on #16393
I have the same problem as everyone else.

OS: Windows 10 Home 64-bit
CPU: Intel Core i3-5010U
GPU: Intel HD Graphics 5500

I'm running the latest driver version from Dell 20.19.15.4531, released 14 Feb 2017.  Trying to install the 20.19.15.4624 from Intel warns me against replacing the version from the manufacturer.

Output from `servo.exe > err.txt 2>&1`:
[code]

[2017-04-24 20:30] n0max commented on #10600
I meant both tests are already changed for the current spec and set to FAIL in https://github.com/servo/servo/blob/17fe437fb72694763f0f7f1b4701127ebc2ef5aa/tests/wpt/metadata/2dcontext/drawing-images-to-the-canvas/2d.drawImage.zerosource.html.ini
and https://github.com/servo/servo/blob/234951e4b6d66891cd0cc9705f42e3ca16d9e3d5/tests/wpt/metadata/2dcontext/conformance-requirements/2d.voidreturn.html

[2017-04-24 21:05] pcwalton commented on #16324
There's no good reason why fixed table is done in a different place from auto table. The reasons are historical. They should be moved to the same place.

[2017-04-24 21:39] glennw commented on #16393
Tracked in https://github.com/servo/webrender/issues/1157

[2017-04-25 01:48] gosavipooja commented on #6633
Hi,

I am trying to implement the subsequent steps of the Mutation Observer API as described here: https://github.com/servo/servo/wiki/Mutation-observer-project.

I am a bit confused regarding - make changing/appending/removing/replacing an attribute queue a mutation record via Attr::set_value, Element::push_attribute, and Element::remove_first_matching_attribute.

In order to change or append or

[2017-04-25 01:53] aacunningham commented on #16584
@jdm Thanks, sounds good!

If no one has an issue, I'll start working on this and should have a PR soon.
@highfive: assign me

[2017-04-25 01:53] highfive commented on #16584
Hey @aacunningham! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-25 03:53] jdm commented on #6633
The algorithms at https://dom.spec.whatwg.org/#concept-element-attributes-change all involve queuing a mutation record as the first step before actually modifying the element's attribute. You'll want to modify the existing methods to add that behaviour, since they are the fundamental building blocks that other APIs like setAttribute and removeAttribute are built upon. Does that make sense?

[2017-04-25 05:36] aacunningham commented on #16584
@cbrewster It looks like in the meantime, some new build warnings have shown up. Should I try and address them in this ticket as well, or just leave my PR to the original warnings?

If I'm addressing the new build issues, would it just be best to ask the one who committed the code if they know if it's used anywhere? My `grep`-foo is only getting me so far.

[code]

[2017-04-25 05:39] jdm commented on #16584
Go ahead and add `#[allow(dead_code)]` above each of those methods.

[2017-04-25 05:46] aacunningham commented on #16584
@jdm Thanks for the quick reply, will do.

[2017-04-25 06:10] SaschaNaz opened #16599 "Windows: Backspace does not work consistently"
1. Type github.com
2. Long-press backspace key
3. Deleted characters randomly reappears

![servo-backspace](https://cloud.githubusercontent.com/assets/3396686/25370986/3b23a93a-29c9-11e7-9b1b-2978488b04ef.gif)

[2017-04-25 06:14] paulrouget commented on #16599
That looks like a browser.html bug. Can you please file the issue there: https://github.com/browserhtml/browserhtml/issues ?

[2017-04-25 06:38] #16584 closed

[2017-04-25 06:41] SaschaNaz commented on #16599
Moved: https://github.com/browserhtml/browserhtml/issues/1294

[2017-04-25 06:41] #16599 closed

[2017-04-25 07:11] gterzian commented on #13993
@paulrouget Ok thanks a lot for the clarification. Can we add the "assigned" level, and say I am taking on this one? I will check with @glennw re how his work on allowing multiple WR's is/can affect this issue and how I can best start to work on it...

[2017-04-25 07:12] paulrouget commented on #13993
Done.

[2017-04-25 07:22] gterzian commented on #13241
I propose to first work on #13993 and #15934 in parallel, ultimately culminating in an implementation of `window.open` within the context of this issue that would look somewhat like we sketched above.

I assume the actual implementation plan for `window.open` will become clearer as the other issues are resolved first, and I'll communicate some plan for both other issues after having looked more cl

[2017-04-25 07:24] paulrouget commented on #13241
I think this is a good idea.

[2017-04-25 07:31] gterzian commented on #15934
Ok, please add the "assigned" label to this one as well, I'll take it on as well...

[2017-04-25 10:22] mangecoeur commented on #16507
Confirm issue on macOS

[2017-04-25 11:57] SimonSapin opened #16602 "Add a mechanism like Gecko’s CLOBBER file"
https://github.com/servo/servo/pull/16601#issuecomment-297006469

[2017-04-25 11:57] highfive commented on #16602
cc @wafflespeanut

[2017-04-25 13:01] wafflespeanut opened #16603 "Intermittent failure in /_mozilla/mozilla/scroll_root.html"
▶ FAIL [expected PASS] /_mozilla/mozilla/scroll_root.html
      └   → /_mozilla/mozilla/scroll_root.html d06bd92be65624993ed396daae3158e6034065b2
    /_mozilla/mozilla/scroll_root_ref.html 16698156583755674f3837b45ba940d68a1d3b1f
    Testing d06bd92be65624993ed396daae3158e6034065b2 == 16698156583755674f3837b45ba940d68a1d3b1f

[2017-04-25 13:13] Wafflespeanut opened #16604 "Auto-implement Interpolate and ComputeDistance for macro-generated keyword types"
The keyword types are generated using [this macro](https://github.com/servo/servo/blob/46bb635c4c1eb9e420392d7a761956c1cc10ce3a/components/style/values/mod.rs#L111). The `Interpolate` and `ComputeDistance` traits are implemented for them in `components/style/properties/helpers/animated_properties.mako.rs`.

Since they're unit structs, these types don't have anything special, they always return the

[2017-04-25 13:13] highfive commented on #16604
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-25 13:20] mrobinson commented on #16569
I think this could be a really great idea and would move Servo closer to fully incremental display list construction. Apart from the complication you mention with global key generation, another tricky bit is how to properly sort when only some siblings of a stacking context are invalidated. For instance:
[code]
We need some way of encoding that B goes after the preserved elements of A and the pres

[2017-04-25 14:55] jrmuizel commented on #16569
This seems relatively sane. It's quite different in the details from what Chrome does but if you squint enough it's the same basic idea.

The squinty version is that you have a DAG of display items with edges representing the 'must draw after/z-order' relationship. You want to be able to replace parts of that DAG without having to regenerate it frame scratch. The ordering relationship (whether a g

[2017-04-25 16:15] Manishearth commented on #11663
Seen in https://github.com/servo/servo/pull/16596#issuecomment-296888868

[2017-04-25 16:45] TerraX-net commented on #14203
Downloaded https://download.servo.org/nightly/linux/servo-latest.tar.gz on Debian Testing (Stretch)

Overview: https://packages.debian.org/search?lang=de&suite=stretch&searchon=names&keywords=libssl
Debien Jessie: libssl.so.**1.0.0** https://packages.debian.org/de/jessie-backports/amd64/libssl1.0.0/filelist
Debian Stretch: libssl.so.**1.0.2**
 https://packages.debian.org/de/stretch/amd64/libssl1.0

[2017-04-25 16:47] TerraX-net opened #16605 "allow OpenSSL 1.0.2 on Debian Testing"
Downloaded https://download.servo.org/nightly/linux/servo-latest.tar.gz on Debian Testing (Stretch)

Overview: https://packages.debian.org/search?lang=de&suite=stretch&searchon=names&keywords=libssl
Debien Jessie: libssl.so.**1.0.0** https://packages.debian.org/de/jessie-backports/amd64/libssl1.0.0/filelist
Debian Stretch: libssl.so.**1.0.2**
 https://packages.debian.org/de/stretch/amd64/libssl1.0

[2017-04-25 17:11] jdm commented on #16603
<img width="819" alt="screen shot 2017-04-24 at 7 45 31 am" src="https://cloud.githubusercontent.com/assets/27658/25398062/9723e364-29b8-11e7-9391-1fc1d5116303.png">

[2017-04-25 17:11] aacunningham commented on #16604
Just to make sure I understand the task, it would essentially be moving some of the `impl ComputeDistance/Interpolate` from `animated_properties.mako.rs` into the macro, ya?

[2017-04-25 18:06] jdm commented on #16605
Closing in favour of #14203.

[2017-04-25 18:06] #16605 closed

[2017-04-25 18:13] TerraX-net commented on #16605
indeed, 1.1.0 would be the better solution, thank you :)

[2017-04-25 19:02] aacunningham commented on #16604
Anywho, I'll pick this one, should be quick.

@highfive: assign me

[2017-04-25 19:02] highfive commented on #16604
Hey @aacunningham! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-25 19:09] Wafflespeanut commented on #16604
@aacunningham Yes, you only need to import the traits in `components/style/values/mod.rs` and add the impl inside the macro definition.

[2017-04-25 19:24] asajeffrey commented on #14719
One thing which would help matters is if we associated the window size with the frame rather than with the pipeline.

[2017-04-25 19:33] cbrewster commented on #14719
@asajeffrey #16506 has a commit with the first step of associating window size with frame rather than pipeline

[2017-04-25 19:49] #15439 closed

[2017-04-25 20:32] aacunningham commented on #16604
Very cool, just implemented those changes (took me a while to figure out how the mako files work and how to import the traits). Currently running into some duplicate declaration/impl issues (can't remember the exact error), but I should have those fixed and a PR up in the by end of today.

[2017-04-26 02:03] atouchet commented on #16560
Has there been any progress on this? The Windows installer hasn't been updated for a week now.

[2017-04-26 07:56] BorisChiou commented on #15740
stylo: [Bug 1359719](https://bugzilla.mozilla.org/show_bug.cgi?id=1359719)

[2017-04-26 11:29] jdm opened #16616 "Intermittent fail in /html/semantics/interactive-elements/the-dialog-element/centering.html"
[code]

[2017-04-26 16:12] aacunningham commented on #16604
Alright, so I think I have a solution, but I'm not exactly sure what's going on, so I'm hoping to make this a learning experience. I removed the obvious `impl`'s for `Auto` and `Normal` and added the `impl` definitions inside the macro. I then started getting this build error:

<details>
<summary><b>Bugs in here</b></summary>

[code]
</details>

I also got this bug for the other `impl` I moved.

T

[2017-04-26 17:02] Wafflespeanut commented on #16604
Yep, you're right that you should be removing the impl for `LengthOrNone`, since that will be auto-derived by the generic implementation on `Either<A, B>`, and yeah, you should remove the custom impls on the keyword types. It should all belong in the `macro_rules!` definition.

[2017-04-26 18:09] Gankro opened #16621 "Servo enters death spiral if frontend outpaces webrender backend"
If you simulate the webrender backend struggling by adding the following to the `ApiMsg::SetDisplayList` handler in `render_backend.rs`:

[code]

servo enters a death spiral where it just endlessly piles display lists into the queue for webrender to render. Each frame gains ever-increasing latency, and any attempt to interact with the page (i.e. scrolling) triggers a complete lock up, as the syste

[2017-04-26 20:14] cbrewster commented on #12435
Can this be closed now?

[2017-04-26 21:57] krishnakarthick1993 commented on #6633
Hi Josh,

Since we have to implement queuing a mutation record algorithm " while ignoring the steps that do not relate to queueing a record for attribute mutations in particular".

Does it mean I can ignore Step 4 of https://dom.spec.whatwg.org/#queue-a-mutation-record
since my function queue_a_muration_record takes only target: &Node and type: Mutation as arguments.

Please let us know. Thank you

[2017-04-26 22:05] aneeshusa commented on #12435
This has been configured and is running nightly, so closing.

However, it seems the `mac-rel-intermittent` hasn't passed in quite a while: http://build.servo.org/builders/mac-rel-intermittent
We may want to add alerting for these builds.

[2017-04-26 22:05] #12435 closed

[2017-04-26 22:14] jdm commented on #6633
You will need steps 4.1, 4.2, and maybe 4.7, since they are relevant to mutation records for attribute mutations.

[2017-04-26 22:31] krishnakarthick1993 commented on #6633
Since 4.2 says " if If name and namespace are given, set .." - This means that we should include name and namespace as well in the argument list of our queue_a_muration_record function.
It should take name, namespace apart from target and Mutation as arguments. Please correct me if I am wrong.

[2017-04-26 22:45] jdm commented on #6633
I believe the mutation record can contain an instance of the Mutation enum that I previously described, since it already contains those values if I recall correctly

[2017-04-27 02:20] aneeshusa commented on #16560
@atouchet There are open PRs (servo/saltfs#642 and #16565) awaiting review by @larsbergstrom

[2017-04-27 05:37] #15740 closed

[2017-04-27 06:02] 2efPer commented on #16393
Crashed too.
Intel Core i5-5200U
NVIDIA GeForce 940M
Windows 7 64bit

Type mismatch: Type of _O;vClipMaskUvBounds;p1 different between shaders.
Out of resource error.

[2017-04-27 08:35] murarisumit commented on #12675
Hi @shinglyu , got the basic json running with help from @vernans code from his repo.

Can you please tell me which field from basic flow should I add ?

[2017-04-27 08:44] nox opened #16627 "Intermittent failures in /quirks/line-height-calculation.html, /quirks/unitless-length/quirks.html, /quirks/unitless-length/limited-quirks.html, /quirks/blocks-ignore-line-height.html, /quirks/hashless-hex-color.html, /quirks/unitless-length/no-quirks.html"
These failures are unrelated to the quirk.

[code]

[2017-04-27 14:08] nox opened #16631 "Intermittent failure in /compositing-1_dev/html/mix-blend-mode-animation.htm"
[code]

[2017-04-27 14:42] jdm opened #16632 "Generated code from try builds can affect merging other PRs"
In #16624 we see a build failure caused by types added in #16622, which was sent to try last night but hasn't merged yet.

[2017-04-27 14:42] highfive commented on #16632
cc @aneeshusa

[2017-04-27 14:55] jklepatch commented on #16518
cool, Ill start working on it

[2017-04-27 16:17] jgraham opened #16633 "wptrunner moved upstream"
wptrunner just merged from its own repo into w3c/web-platform-tests. Next time you do a sync it probably makes sense to change from using the harness in the separate harness directory to the one that will appear in `tests/wpt/web-platform/tests/tools/wptrunner`. Once you do this it will be possible to upstream wptrunner patches just like any other wpt change.

cc @nox @jdm

[2017-04-27 16:17] highfive commented on #16633
cc @aneeshusa

[2017-04-27 16:35] #15166 closed

[2017-04-27 18:55] niki-04 commented on #15162
I am interested in contributing to a significant servo bug. I have experience in python, C++. I had previously also contributed to a servo bug.

[2017-04-27 19:25] murarisumit commented on #12675
@shinglyu please review the changes made in this tree: https://github.com/murarisumit/servo/tree/12675

[2017-04-27 19:35] asajeffrey opened #16636 "script thread should call runnable.main_thread_handler(self)?"
At the moment, https://github.com/servo/servo/blob/master/components/script/script_thread.rs#L1094 calls runnable.handler() rather than runnable.main_thread_handler(self). This can cause a lot of hoop-jumping with TLS because the script thread doesn't pass itself into the runnable.

[2017-04-27 19:54] SimonSapin commented on #16632
It looks like generated code in the `script` crate is not re-generated when it should have been?

One way to definitely fix this is to revert #611, but that would also cause a regression in CI cycle time so I’d prefer to explore other options first.

[2017-04-27 20:12] jdm commented on #16632
Since the cmake build that runs the codegen process is synchronous ([afaik](https://github.com/servo/servo/blob/master/components/script/build.rs#L45)), I guess the culprit would be the [makefile](https://github.com/servo/servo/blob/master/components/script/CMakeLists.txt).

[2017-04-27 20:19] jdm commented on #16632
I think I have it figured out - the binding generation depends on the set of files in [the webidls/ directory](https://github.com/servo/servo/blob/master/components/script/CMakeLists.txt#L71). #16622 added files to this but didn't modify any others, so subsequent PRs do not see any reason to regenerate the bindings because of the files listed there have been modified.

[2017-04-27 20:26] pyfisch opened #16638 "Support border-image-outset for gradients"
~~Radial gradients are only implemented for backgrounds but [not for borders](https://github.com/pyfisch/servo/blob/49f01055b64b732fb71bdbd20306b5b9afe0cccb/components/layout/display_list_builder.rs#L1315).~~

Implement `border-image-outset` property for gradient borders.

follow up of #16385

[2017-04-27 20:53] jdm commented on #16632
Due to the continued bustage, I reverted the change on the builders in https://github.com/servo/saltfs/pull/651.

[2017-04-27 23:35] gosavipooja commented on #6633
Hi,

While trying to queue a mutation record of "attributes" for element with name attribute’s local name, namespace attribute’s namespace, and oldValue attribute’s value, do I pass the local name, namespace and oldValue related to "attr: &Attr" or I need use functions like Attr::Value() or something else?

Also, since I need to pass an enum which has for values - name, namespace, oldValue, newVal

[2017-04-28 00:31] krishnakarthick1993 commented on #6633
Hello Josh,

I was trying to compile Step 1 of Queuing a mutation record i.e "Let interested observers be an initially empty set of MutationObserver objects optionally paired with a string".

The following is the code I wrote for the same:
[code]
On compilation, it shows error: Expression of type std::vec::Vec<dom::mutationobserver::MutationObserver> must be rooted.

I tried to use let interestedO

[2017-04-28 01:41] jrvidal commented on #13035
I'd like to take a stab at this. Mind you, it would be my first interaction with Servo and its code base. But I have a bit of Rust experience and I already got through the steps jdm suggested to reliably reproduce the panic 😄

[2017-04-28 02:05] jdm commented on #13035
Sounds like a good start, in that case!

[2017-04-28 02:10] jdm commented on #6633
For the vector, you want `Vec<Root<MutationObserver>>`. I'll answer the previous question when I'm in front of a computer.

[2017-04-28 02:18] aacunningham commented on #16576
What's the best way to recreate these manual testcases? Would it be to create a wpt?

[2017-04-28 02:57] jdm commented on #1980
Closing in favour of #6633.

[2017-04-28 02:57] #1980 closed

[2017-04-28 03:04] jdm commented on #6633
@gosavipooja An [Atom](http://doc.servo.org/string_cache/atom/struct.Atom.html) value is effectively a [hashed string](https://en.wikipedia.org/wiki/String_interning). You can turn any string into an Atom value via `Atom::from(str)`. The queued mutation record will want to use string representations of the attribute's name, namespace, and value. The new value will be whichever value is replacing t

[2017-04-28 03:09] jdm commented on #16576
@aacunningham It's easiest to create a local html file and point Servo at it. To submit an actual fix, it's recommended to convert it into a [reftest](http://web-platform-tests.org/writing-tests/reftests.html) as part of the automated testsuite.

[2017-04-28 03:49] jdm opened #16644 "Mac packaging is failing (hdiutil: create failed - error -5341)"
`hdiutil: create failed - error -5341`

https://discussions.apple.com/thread/5667409?tstart=0 suggests it has to do with package size, with some people having success when adding a .Trash file.

[2017-04-28 03:49] highfive commented on #16644
cc @aneeshusa

[2017-04-28 03:51] jdm commented on #16644
https://apple.stackexchange.com/questions/156994/yosemite-hdiutil-create-failed-error-5341 also looks useful.

[2017-04-28 04:44] SimonSapin commented on #16602
With https://github.com/servo/saltfs/pull/611 reverted in https://github.com/servo/saltfs/pull/651, CI now runs something equivalent to `./mach clean` on every build.

With CI covered, that leaves people building locally. I think that bustage so far has been rare enough that we can live with “Try running `./mach clean` if something weird goes wrong.” Closing for now, we can always reconsider later

[2017-04-28 04:44] #16602 closed

[2017-04-28 04:44] SimonSapin commented on #16632
@jdm Does https://github.com/servo/saltfs/pull/651 fix this or should we keep it open?

[2017-04-28 05:08] jdm commented on #16632
It does actually affect local builds where you switch branches after doing a build that adds a webidl file.

[2017-04-28 06:19] aacunningham commented on #16576
After reading through some of the spec on block widths, learning some lingo, and reading a bit of code, I think I'd like to take this on. Do I assign myself with highfive or through you, @jdm?

[2017-04-28 06:45] srivassumit commented on #6633
Hi Josh,

I am facing some problems understanding mutability in rust.

While implementing the MutationObserver.observe method, I am trying to assign the value true to the options.attributes but It says that I cannot "mutably borrow immutable field":
[code]
Also, for setting the mutation_observer_compound_microtask_queued flag in script_thread.rs, I have created the following method in script_threa

[2017-04-28 07:11] KiChjang commented on #6633
I suspect that in both cases, you have a __mutable reference__ to an __immutable value__. Take your `ScriptThread` code for example:

[code]

Note that the type of `script_thread` is `&ScriptThread`. When you add a `mut` keyword in your let binding, this simply means you're free to change which `ScriptThread` you're referencing, but you're not free to mutate the field members of the referenced `Sc

[2017-04-28 07:29] srivassumit commented on #6633
I tried making it mutable in both the cases, but it says
for script_thread, I cannot borrow it as mutable:

[code]

and in case of the observe method, If it change it to Mutable, it says that it expects it to be non mutable in the Method signature as defined in the trait:

[code]

[2017-04-28 07:48] gosavipooja commented on #6633
Hi Josh,
While trying to use the  Atom::From::from, it is somehow unable to identify a trait. Where will I find traits used for this? Also, for the newValue, initially while queuing the MutationRecord, will I still have the newValue with me? It wouldn't be defined right?
Few of the errors thrown were -

`let name = Atom::From::from(attr.name());
     |                    ^^^^^^^^^^^^^^^^ ambiguous

[2017-04-28 07:54] KiChjang commented on #6633
@srivassumit Oh, tough luck. `SCRIPT_THREAD_ROOT` contains a `*const ScriptThread` pointer, so you definitely cannot borrow it as mutable. We will need to use [`std::cell::Cell`](https://doc.rust-lang.org/stable/std/cell/struct.Cell.html) to represent `mutation_observer_compound_microtask_queued`.

In other words, the field type of `mutation_observer_compound_microtask_queued` should be changed fr

[2017-04-28 07:55] KiChjang commented on #6633
@srivassumit For your observe method, I'm actually quite surprised that you need to mutate the `MutationObserverInit` parameter. Could you show more context in what you're trying to do?

[2017-04-28 08:07] srivassumit commented on #6633
@KiChjang For the Observe Method this is my code:

[code]

the same error is there for both of the following lines:
`options.borrow_mut().attributes = Some(true);`
and
`options.borrow_mut().characterData = Some(true);`

I was trying to set the value for attributes using this first:
`options.attributes = Some(true)`
but it gave error "cannot mutably borrow immutable field" so I tried using borrow_m

[2017-04-28 08:51] KiChjang commented on #6633
Unfortunately, you cannot mutate the value of `options` at all. The best you can do here is to create a new `MutationObserverInit` struct and have it inherit all the field members of `options`. As for step 1 and 2, you may have to create let bindings to store those variables that the spec says to set.

[2017-04-28 13:28] MortimerGoro opened #16647 "Android crash (Should've computed the final hint and handled later_siblings already)"
Latest servo crashes with this error on Android (not in Desktop linux)

[code]
Full logcat

https://gist.github.com/MortimerGoro/ac66ca3b6ee05c2216c8f23022cb3560

[2017-04-28 13:52] #16604 closed

[2017-04-28 17:28] jdm opened #16649 "Intermittent failure in /fetch/api/request/request-keepalive-quota.html"
[code]

[2017-04-28 17:31] jdm opened #16650 "Intermittent pass in /quirks-mode/table-cell-width-calculation.html, /quirks/table-cell-width-calculation.html"
[code]

[2017-04-28 18:27] jdm opened #16651 "Intermittent failures in /quirks-mode/percentage-height-calculation.html, /quirks/percentage-height-calculation.html"
[code]

[2017-04-28 19:31] #16324 closed

[2017-04-28 20:45] z1mvader commented on #16569
Is there any mentoring for this issue?

[2017-04-28 20:51] jdm commented on #15994
@vitvakatu Have you made any progress on this?

[2017-04-28 21:08] Nikhila-B commented on #15601
Hi Josh, we would like you take a look at our repository - we will be wrapping up the documentation tonight.

[2017-04-28 21:44] jdm commented on #15601
For future reference, the repository is https://github.com/OODD-Mozilla/ToolRepository.

[2017-04-28 21:50] sjml commented on #15162
Hello! Former game developer here. Lots of experience with C/C++, Python, (plenty of other scripting languages), shell scripts, build systems, testing setups, etc. Don't know Rust, and have been looking for an excuse to learn it. Happy to help out, but would love some guidance as to a good spot to start.

[2017-04-28 21:53] stshine commented on #15342
@nox should this be closed now?

[2017-04-29 00:42] cpeterso opened #16653 "Update clang-sys to 0.14.1"
clang-sys v0.14.1 contains @emilio's fix (KyleMayes/clang-sys#51) for [Firefox bug 1356150](https://bugzilla.mozilla.org/show_bug.cgi?id=1356150) where build-time bindgen was broken on Ubuntu 17.04 (Zesty Zapus).

[2017-04-29 01:33] gosavipooja commented on #6633
Hi,

In the step 7 and 8 of MutationObserver's observe,

So, here, the list of registered observers will be :
`mutation_observers: DOMRefCell<Vec<JS<MutationObserver>>>,`

How do I determine the transient registered observer. As per my understanding, I need to check if the source of the 'registered observer' exists in this vector. But how do I obtain the source? Correct me if I am wrong.

Thanks!

[2017-04-29 02:48] MGageMorgan commented on #12015
Will this be fixed by July 1st, 2017? I wanna experience the one thing closest to a browser written in HTML and Rust, but can't because I can't compile or run it (both fail for me).

[2017-04-29 04:54] #15086 closed

[2017-04-29 09:16] #15643 closed

[2017-04-29 09:23] #15642 closed

[2017-04-29 09:24] paulrouget commented on #15634
/cc @metajack

[2017-04-29 09:24] paulrouget commented on #15635
/cc @metajack

[2017-04-29 11:59] jdm commented on #6633
The link in the spec for [registered observer](https://dom.spec.whatwg.org/#registered-observer) points out that a registered observer's observer is just the `MutationObserver` object, so you don't need to do anything special besides this comparison: `&*observer as *const MutationObserver == self as * const MutationObserver`.

As for the transient observers, just leave a TODO like `// TODO: remove

[2017-04-29 12:41] pyfisch opened #16654 "Show gradients repeating under borders"
Gradient is not repeated under (half-)transparent borders as seen [in this example](https://gist.github.com/pyfisch/769b90a0645eab789f61ffec82162806). The problem existed before but was covered by another bug ignoring element borders when placing gradients.

See #16385

[2017-04-29 14:36] emilio opened #16656 "Fuzzy reftests"
We need the ability to run fuzzy reftests to allow testing radial gradients and similar stuff (see #16385).

I don't have a lot of knowledge in the reftest infra, perhaps @jdm does?

This is probably a good project for starters, though I can't mentor it (I don't know where our image comparison lives).

[2017-04-29 14:44] jdm commented on #16656
http://web-platform-tests.org/writing-tests/reftests.html says there's no way standardized for fuzzy matching yet. https://lists.w3.org/Archives/Public/www-svg/2016Dec/0018.html is the last time I'm aware this missing feature was brought up. The WPT reference test comparison code just takes a hash of the two screenshots and compares them right now: https://github.com/w3c/wptrunner/blob/ebcd2639205

[2017-04-29 14:45] jdm commented on #16656
cc @gsnedders

[2017-04-29 14:47] choudhary001 commented on #15162
Hey! I am learning Rust language and would like to contribute to Servo. I have already submitted a PR for one of the issues in salt stack which is under review and would like to contribute more in this project (first open source contribution :) ). I have experience in Python/Javascript as well.

[2017-04-29 15:35] #11779 closed

[2017-04-29 15:42] pyfisch commented on #10263
@emilio solved by #16385. Please close. Thanks!

[2017-04-29 15:56] SimonSapin commented on #16656
http://searchfox.org/mozilla-central/source/layout/tools/reftest/README.txt

[code]
[…]
[code]

[2017-04-29 16:36] #10263 closed

[2017-04-29 16:36] jdm commented on #10263
Thanks for fixing it!

[2017-04-29 16:40] atouchet commented on #16485
This may be a duplicate of #16431.

[2017-04-29 16:50] pyfisch opened #16657 "Respect background-repeat, -size properties for gradients"
Background gradients should vary depending on the value of `background-repeat` and `background-size`.

Manual testcase:

The gradient should be displayed four times.

[code]

[2017-04-29 16:54] nox commented on #16657
In which browsers is this displayed four times? I checked with Safari and Firefox and it didn't seem to be true.

[2017-04-29 16:55] nox commented on #16657
Your test case had `background-repeat: no-repeat;`, fixed it for you.

[2017-04-29 16:56] pyfisch commented on #16657
Thanks.

[2017-04-29 17:01] sciguyryan commented on #16576
Is it possible that issue #16559 is also related to this since they do seem to have some traits in common?

[2017-04-29 17:30] jdm commented on #16485
That seems unlikely to me. The symptoms appear entirely different.

[2017-04-29 17:34] jdm commented on #16559
This regressed at some point between 533853fdce029d7184a33f7d08bfce7cbd6248c8 and ef5c61e8338ca550b970f9de20e014c3b4165bd5.

[2017-04-29 17:35] jdm commented on #16576
I am doubtful.

[2017-04-29 17:40] aacunningham commented on #16576
Same, since that issue seems to apply more to the hover action and not an issue with the rendered width of boxes. I'm about to do some debugging today, but I'm going to start my look in the width calculations for absolute nonreplaced blocks and see where that gets me

[2017-04-29 17:59] jdm commented on #16576
https://github.com/servo/servo/wiki/Getting-started-with-layout may have tips to help you understand the code a bit better.

[2017-04-29 18:00] jdm commented on #16576
Additionally, we have https://github.com/servo/servo/tree/master/etc/layout_viewer which can help break down what happens in which part of layout for a given testcase.

[2017-04-29 18:00] aacunningham commented on #16576
Don't think I've read that one yet, thanks!

[2017-04-29 18:06] pyfisch commented on #16542
The only thing left to do are the keywords `cover` and `contain`? This is fixed in https://github.com/pyfisch/servo/commit/3a2893793c9463c7c137751f491a8703e3bca397 (not yet merged). In the compatibility spec I did not find more differences. Anything else?

[2017-04-29 18:07] jdm commented on #16559
This is a regression from #16336. cc @mrobinson

[2017-04-29 18:13] jdm commented on #16576
I retract my earlier doubt. @sciguyryan is right; this looks like it's a regression from #16336 as well.

[2017-04-29 18:14] jdm commented on #16576
cc @mrobinson

[2017-04-29 18:15] MortimerGoro commented on #16647
I did a git bisect and https://github.com/servo/servo/pull/16531 is the fist commit that causes the crash.

Any idea? cc @mrobinson @glennw @emilio

[2017-04-29 18:19] aacunningham commented on #16576
I probably shouldn't have had any doubt since I'm pretty new to this, but also retracted. What's the best way moving forward with this ticket then? Would it make more sense to have a new issue made that's a little more overarching, or is this issue fine? And since mrobinson would be most how the regression was introduced, would it make more sense to have them take over, or is it fine if I keep loo

[2017-04-29 18:28] jdm commented on #16576
Clearly the cause of regression is the same, but the fix for both issues might be different, so I don't think it makes sense to file an overarching one. I don't think there's anything wrong with you continuing to investigate this weekend; if you come up with any conclusions then perhaps @mrobinson could provide useful input on Monday.

[2017-04-29 18:30] jdm commented on #14975
Still making progress @moonlightdrive? Do you have any questions that we can answer?

[2017-04-29 18:32] aacunningham commented on #16576
Perfect, thanks a lot!

[2017-04-29 18:51] axvr commented on #12015
This is a problem which has occurred due to the machine which creates the builds using outdated versions (from 2013) of the OpenSSL libraries (libssl and libcrypto on Fedora). There are two solutions to this problem:

1. Build Servo on the system you plan to use it on. This will link the new libraries to your own build of Servo automatically. This is currently the best method to run Servo on syste

[2017-04-29 19:10] StefanoD commented on #12015
Naive question: Why is the OpenSSL version of the build server not getting updated? This would be actually the third solution @axvr

[2017-04-29 19:12] MGageMorgan commented on #12015
@axvr It won't build on my machine, tried three times last night :(

I am hijacking libraries from ubuntu debs as per a reddit thread, but Fedora 13? How do you maintain a build machine without updates for eons like that? So the build machine hasn't been updated in 4 YEARS? That's a long time, amigo.

[2017-04-29 19:15] StefanoD commented on #12015
I'm actually puzzled why the build is not some LTS distribution like Ubuntu LTS.

[2017-04-29 19:16] MGageMorgan commented on #12015
@StefanoD No, that's the only logical solution, and it's the one that takes the least amount of time on the part of us and the maintainers. (Apt install or dnf install, anyone?)

[2017-04-29 19:19] MGageMorgan commented on #12015
@StefanoD Maybe it is and everyone just forgot to update it from Ubuntu 12.04

[2017-04-29 19:27] jdm commented on #12015
https://github.com/servo/saltfs/issues/462

[2017-04-29 19:33] MGageMorgan commented on #12015
@jdm Elaborate?

[2017-04-29 19:42] jdm commented on #12015
That is an issue for our build infrastructure titled "Update build machines to use Ubuntu 16.04".

[2017-04-29 19:43] MGageMorgan commented on #12015
@jdm Looking at SaltFS, and that issue, looks like integrating with the init system came crashing down. I don't know much about SaltFS, but if by looking at that says anything to me, it would be that relying on the underlying OS isn't a good idea. Especially because Linux components are always changing if not breaking.

I'm learning rust, and wondering if my next project should involve init script

[2017-04-29 19:44] MGageMorgan commented on #12015
@jdm yeah. I got that. I feel there should be a way to write the same init script to run on systemd, initd, upstart, etc. Like a binding or something...

[2017-04-29 19:59] gosavipooja commented on #6633
Hi,

I have some doubts in the usage of traits. I have encountered issues related to it at 2 places -
`error: expected expression, found keyword `as`
     let name = Atom<<servo_atoms::AtomStaticSet> as Trait>::From::from(attr.local_name().to_string());`
and in this as well :
`for registered in &target.registered_mutation_observers_for_type() {
           if &*registered as *const MutationObserver

[2017-04-29 20:10] #10600 closed

[2017-04-29 20:28] jdm commented on #6633
For the second, you want:
`for registered in target.registered_mutation_observers_for_type().borrow().iter()`, since you can't iterate over the DOMRefCell that encapsulates the actual vector. For the first, I think you might have been misled by some error messages? Try `Atom::from(attr.local_name().to_string())` instead.

[2017-04-29 20:46] ripplejb commented on #15162
I am coming from mostly Microsoft background. However, I am very comfortable with C++, JavaScript and Python. I can learn programming languages very fast. I would love to contribute.
Saying that, I am very new to the project. I would like to know more detail about it. Specifically the goal/road map of the project.

[2017-04-29 21:16] emilio commented on #16647
Wow, that makes even less sense than when we were debugging this on IRC. That changes nothing in the style system afaict :)

I wonder if we're corrupting the memory on android somehow?

Checking the PRs that change display list serialization to be sound in WR is worth a shot I guess (cc @Gankro)....

And so it is trying to make the ids on that PR usize instead... Or looking into open arm issues in

[2017-04-29 21:17] emilio commented on #16647
(FWIW, this is a totally reproducible non-legit assertion failure on debug it seems, and a SEGV on release according to the IRC conversation)

[2017-04-29 21:32] krishnakarthick1993 commented on #6633
Hello Josh, I am trying to iterate over  node’s list of registered observers ( for Step 3 of Queuing a mutation record) .

The following is my code:
pub fn queue_a_mutation_record(target: &Node,attr_type: Mutation) {
    //https://dom.spec.whatwg.org/#queueing-a-mutation-record
    // Step 1 :Let interested observers be an initially empty set of MutationObserver objects optionally paired with a st

[2017-04-29 22:03] pyfisch commented on #10412
This is caused by #16657. The `background-size` is currently ignored for gradients.

[2017-04-29 22:09] jdm commented on #6633
You wrote `borrow_mut()`, not `borrow()`.

[2017-04-29 22:10] jdm commented on #6633
Although it sounds like maybe your `registered_mutation_observers_for_type()` method is `&mut self` instead of `&self`? It's hard to be sure without being able to see the actual code you have.

[2017-04-29 23:51] gosavipooja commented on #6633
Hi,

Is there any way to access the registered's options (MutationObserverInit) via the MutationObserver object? I thought I will need it for this step -

Thanks!

[2017-04-30 02:57] jdm commented on #6633
I recommend adding members to MutationObserver that you initialize to the values present in the MutationObserverInit argument in the constructor.

[2017-04-30 02:58] jdm commented on #6633
(they will need to be wrapped in Cell or DOMRefCell types to allow mutating them later)

[2017-04-30 03:34] danielrh commented on #16408
In any case this is solved in the latest rust-brotli crate https://crates.io/crates/brotli (v1.0.8) ... or you can choose to link against the decoder-only crate here https://crates.io/crates/brotli-decompressor v 1.0.9

Cheers

[2017-04-30 03:58] Gankro commented on #16647
My display list changes haven't even landed in webrender yet?

[2017-04-30 04:23] gosavipooja commented on #6633
Hi,

There is no MutationObserverInit argument in the constructor currently and if we add it, it shoots an error in the Bindings file:
[code]
Should we create another overridden constructor which also has MutationObserverInit argument? Or what way should we follow?
Thanks!

[2017-04-30 05:12] KiChjang commented on #13402
@sendilkumarn Does this interest you?

[2017-04-30 05:19] KiChjang commented on #4154
Is this still desired, given that we have a different model?

[2017-04-30 06:17] aacunningham commented on #16576
Alright, here's what I've discovered:

Using `-Z dump-display-list`, I got this info:

Pre #16336

[code]
Post #16336

[code]
Diffed the two, found the main difference being that the new code adds a `ScrollRoot`. I'm not entirely sure what `ScrollRoot` is, BUT, if it's a representation of the scroll containers referenced in this [CSS spec](https://www.w3.org/TR/css-overflow-3/#valdef-overflow-hidd

[2017-04-30 06:17] krishnakarthick1993 commented on #6633
Hi Josh,
I am  trying to implement Step 4.2 of Queuing a mutation record (If name and namespace are given, set record’s attributeName to name, and record’s attributeNamespace to namespace.)

My enum is
[code]
Since I need name and namespace of Attribute of Mutation enum which is passed as an argument to my function , I tried using the match function like (http://rustbyexample.com/custom_types/enum

[2017-04-30 06:30] KiChjang commented on #6633
I'm very confused why you have
[code]
Can `Attribute` not be a struct of its own?

[2017-04-30 06:44] krishnakarthick1993 commented on #6633
Hi,
Separately, I am not clear on what "type" means in "To queue a mutation record of **type** for target with one or more of (depends on **type**) " .

In Step 3 of Queuing a mutation record , type is supposed to be compared with "attributes", "characterData" and "childList".
Does type refer to record_type of a mutation record object ?. If so , should I pass a mutation record object as well as an

[2017-04-30 07:21] nox commented on #16542
It's not specified. See the comment linked in the issue description, that links to https://bugzilla.mozilla.org/show_bug.cgi?id=1241623.

[2017-04-30 07:39] emilio commented on #16647
Right, I dont think theyre the cause, but it'd be nice it they were the solution, and that unsoundness is manifesting here.

It's kind of a shot in the dark though

[2017-04-30 11:44] jdm commented on #6633
The "type" in the spec is equivalent to matching against the enum that we're using. To avoid the errors about partially moved values, you will want to use `ref` binding in the matches, and clone those values like `let mut given_name = name.clone()`.

[2017-04-30 11:47] jdm commented on #6633
As for the question about MutationObserverInit, my mistake. I guess you will want sensible defaults for the new members in the constructor, and then set them to the real values in MutationObserver::Observe.

[2017-04-30 12:39] jdm commented on #16576
Seems plausible! https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests has information about adding a new test.

[2017-04-30 13:17] jdm commented on #16569
It's not clear that `E-less easy` is an appropriate tag for this issue given the ongoing discussion around it.

[2017-05-01 08:53] sendilkumarn commented on #13402
I would love to. Let me have a look. Thanks

[2017-05-01 11:28] mrobinson commented on #16647
@MortimerGoro Is it possible to get a URL to the content causing the crash (or a reduced test case) and possibly a backtrace?

[2017-05-01 11:44] mrobinson commented on #16559
I think the issue here is that hit testing is no longer taking into account overflow:hidden clipping, since the previous code wasn't taking into account overflow:scroll clipping before. This should be possible to fix by testing whether the cursor position is clipped out when processing scroll roots.

[2017-05-01 12:35] MortimerGoro commented on #16647
@mrobinson Simple testcase (it seems to happen with any web):

[code]

More info: The specific https://github.com/servo/servo/pull/16531 gives a bit different crash on debug than the mentioned above (it doesn't trigger the debug_assert bug causes SEGV)

I/DEBUG   (  185):     #00 pc 03d654a0  /data/app/com.mozilla.servo-1/lib/arm/libservo.so (_$LT$style..data..SnapshotOption$u20$as$u20$core..ops..

[2017-05-01 15:12] aneeshusa opened #16675 "`mach clean-nightlies` removes geckolib rustc without cause"
Reported by @nox on IRC, I'm the last one to touch this.

@nox, can you provide more details on what goes wrong so this can be fixed?

[2017-05-01 15:25] jdm commented on #16675
If you run `./mach build-geckolib`, then upgrade the nightly in rust-nightly-hash twice, I expect the next `./mach build` removes the stable rust compiler used by `./mach build-geckolib`. This is not a good result :)

[2017-05-01 15:27] jdm commented on #16675
Actually, judging by the implementation, it looks like clean-nightlies will just always remove the stable compiler because it never appears in the git history for rust-commit-hash.

[2017-05-01 15:36] SimonSapin commented on #16675
@aneeshusa At any point there are two "current" Rust versions for Servo, given by the `rust-commit-hash` and `rust-stable-version`. Look for `use_stable_rust` in the Python code.

[2017-05-01 15:39] aneeshusa commented on #16675
Thanks for the info, that's helpful to know. Since there are two "current" versions, what would you expect the behavior of the `--keep` flag to `mach clean-nightlies` to do? Should it keep the last `n` rust versions overall, the last `n` for nightlies and stable separately, or something else?

[2017-05-01 15:47] SimonSapin commented on #16675
The two versions are upgraded independently, so I think they should be cache-evicted independently too. Keep `n` of each. By the way, is there any use for `--keep` values other than 1 or 2?

[2017-05-01 15:48] #16594 closed

[2017-05-01 18:29] jdm opened #16678 "sequence<any> conversion code is entirely broken"
Given WebIDL like `void foo(sequence<any> seq)`, our conversion code calls [FromJSValConvertible::from_jsval](https://github.com/servo/rust-mozjs/blob/560362f3e4bddf160962cea444892a3cde0affb2/src/conversions.rs#L603-L647) which appends handles to roots that only exist for a single loop iteration.

[2017-05-01 18:31] jdm commented on #16678
The only existing use of this type is in https://dxr.mozilla.org/servo/source/components/script/dom/webidls/IterableIterator.webidl#14 . #16622 encountered this problem when attempting to add a new use.

[2017-05-01 18:31] jdm commented on #16678
This is another instance that would have been prevented by https://github.com/servo/rust-mozjs/issues/153.

[2017-05-01 21:11] emilio commented on #16678
I'm to blame on that one, I think. Sorry about that :(

[2017-05-01 21:54] mbrubeck commented on #5286
I updated the list above, and submitted #16681 and #16680 to remove some unnecessary feature uses.

Now the only uses of the `core_intrinsics` feature are for `breakpoint` (used in `script::dom::window::WindowMethods::Trap`) and `type_name` (used in debug-only output in `JS::trace`. Should we propose stable wrappers for these?

[2017-05-01 23:52] jdm commented on #16678
I don't think there's anything wrong with the existing sequence conversion code; it's the way that it interacts with https://github.com/servo/rust-mozjs/commit/04e9e3a47c20c4e7b396404506fd89dd91f03e57 and https://github.com/servo/rust-mozjs/issues/153 that's broken here.

[2017-05-02 01:27] mbrubeck opened #16685 "Intermittent timeout in /css21_dev/html4/border-conflict-element-001e.htm"
http://build.servo.org/builders/linux-rel-css/builds/3759

[2017-05-02 02:16] upsuper commented on #16653
Is there still something blocking us from updating Servo to use the latest bindgen?

[2017-05-02 02:35] jdm commented on #16685
[code]

[2017-05-02 07:49] mrobinson commented on #16647
@MortimerGoro Thanks for the information. Are you also able to trigger the debug_assert and get the full panic backtrace with RUST_BACKTRACE=1?

[2017-05-02 11:19] codec-abc commented on #16411
Can it be closed now?

[2017-05-02 11:28] codec-abc commented on #16476
jdm is probably right. If someone wants to take a look my [previous comment](https://github.com/servo/servo/pull/15937#issuecomment-286513712) may be a good starting point. I might take a look at it if I have enough time.

[2017-05-02 11:45] codec-abc commented on #12937
I had very little time for a few days but I managed to do a simple test of Glutin, SDL2 and GLFW on Windows and Linux for the keyboard ordering. My test was to open a window and type Hello (with a newline at end). My findings is that SDL2 and GLFW behave the same ways on Windows and Linux while Glutin behave differently depending of the OS. Moreover, SDL2 and GLFW follows this scheme (for a simple

[2017-05-02 12:48] MortimerGoro commented on #16647
@mrobinson I set RUST_BACKTRACE=1, but on Android debug builds, Backtrace::new() call crashes (_Unwind_Backtrace+20 in the crashlog). Tried to trigger the assert on release (where Backtrace::new() works on Android) but the crash is a SEGV not assert/panic based...

[code]

[2017-05-02 12:57] jdm commented on #12937
Changing the event order in Glutin on Linux and Mac is straightforward: https://github.com/servo/glutin/blob/4c31b8b16f703766d4aa8d45762dab76f1684e86/src/api/cocoa/mod.rs#L1083-L1088 and https://github.com/servo/glutin/blob/4c31b8b16f703766d4aa8d45762dab76f1684e86/src/api/x11/input.rs#L154-L168 are fully in control of the event ordering, unlike the Windows implementation. The real solution is rede

[2017-05-02 13:33] jdm commented on #16644
Note: this is intermittent rather than continuous.

[2017-05-02 13:52] codec-abc commented on #12937
Thanks for the answer. Just to be sure, when you say "real" you mean difficult right? Because from my pov, there are still keyboard issues on Windows (but they are less visible thanks to the PR). Moreover, I think because Glutin aim to be a rust cross platform alternative to GLFW it should change its behavior to match GLFW.  To conclude, I think both Servo and Glutin need to be updated in this reg

[2017-05-02 13:53] moonlightdrive commented on #14975
I definitely have a question, or at least some confusion, but think I need to poke around a bit more to know exactly what it is.

As far as I understand, the difference between the treatment of innerHTML and outerHTML is that the former is serialized with ChildrenOnly and the latter with IncludeNode. And this bug arises due to the fact that in the ChildrenOnly case, we didn't push that script node

[2017-05-02 14:07] jdm commented on #12937
What I meant by my comment was that changing the event order in glutin will only allow us to remove the per-platform code from the previous fix in Servo. It will not affect the fundamental limitations in the current model for processing keyboard input in Servo, which requires much more thought and effort.

[2017-05-02 15:53] jdm opened #16694 "Google docs forms multiple choice buttons don't work"
https://docs.google.com/forms/d/e/1FAIpQLSfjh3y2cmd1bSTpxRjXrdue_dIg0v2eIZD-AQtTCAw4kNo1ng/viewform?c=0&w=1

[2017-05-02 15:57] Manishearth commented on #16694
(They seem to be pure JS implementations)

[2017-05-02 16:00] #16372 closed

[2017-05-02 16:33] jdm commented on #16694
Yeah, everything is a div with attributes like `jsaction` and `jscontroller` and `role`. I didn't see any smoking guns, and no JS errors were reported by Servo.

[2017-05-02 16:44] Manishearth commented on #16694
Did you try with the featuredetectordetector?

[2017-05-02 16:47] jdm commented on #16694
Nope!

[2017-05-02 17:10] metajack commented on #15635
We could certainly include them at compile time wth include_str! and include_bytes!. We'd probably only want to do this in library form in external apps, or alternatively do it always but have some runtime flag that gives it a place to look to override these.

[2017-05-02 17:11] metajack commented on #15635
We'd probably need some kind of file loader module that the code that reads these uses, which can do the right thing.

[2017-05-02 17:16] jdm opened #16696 "Node serialization can trigger stack overflow"
[code]
This yields:
[code]
because https://github.com/servo/servo/blob/47f0b4155cb2925dc0702aedf1a539b5ac22a286/components/script/dom/servoparser/html.rs#L319 is a recursive call to Serializable::serialize. We should turn this into an iterative algorithm instead using `traverse_preorder`.

[2017-05-02 17:16] highfive commented on #16696
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-02 17:17] jdm commented on #16696
@athyuttamre Would you like to work on this?

[2017-05-02 17:21] metajack commented on #15634
cc @aturon

I think rustc and cargo can be solved by https://github.com/rust-lang-nursery/rustup.rs/issues/460. I seem to recall there was agreement to do this, but noone had time to implement it yet. The bugs paint a more complicated picture.

As for copying Cargo.lock (or inheriting or whatever) for a library dependency, this is a non-goal of Cargo, but it seems like we need some kind of tooling

[2017-05-02 17:22] jdm commented on #14975
@moonlightdrive I think you're looking too deeply here. `start_elem` is responsible for serializing a single element, and leaving a record in the `stack` member of the element that was just serialized. It doesn't know (or care) about whether it's invoked as part of ChildrenOnly or IncludeNode.

As to your second question, yes, through invoking `start_elem` there in the IncludeNode case (as used by

[2017-05-02 17:28] jdm commented on #14975
Looking more carefully, I think I see why you're asking those questions. I think the right thing to do might be to modify the html5ever [serialize](https://github.com/servo/html5ever/blob/10b48e46b11a1d0fc4d807a0548e371c67f3e3c6/src/serialize/mod.rs#L27-L32) method to push a [meaningful stack entry](https://github.com/servo/html5ever/blob/10b48e46b11a1d0fc4d807a0548e371c67f3e3c6/src/serialize/mod.

[2017-05-02 17:37] #15607 closed

[2017-05-02 18:33] SimonSapin opened #16700 "Atomize namespace prefixes"
The `script::dom::element::Element` struct contains a `prefix: Option<DOMString>` field. We also have an interned / atom type `html5ever::Prefix` for namespace prefixes, which uses less memory and makes comparison faster. The field and constructors should be changed to `Option<Prefix>`. This is tedious because `Element` has many "subtypes" that also need to be adjusted. Mass edits with a tool like

[2017-05-02 18:33] highfive commented on #16700
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-05-02 18:33] SimonSapin commented on #16700
CC @nox, @jdm

[2017-05-02 18:37] #16675 closed

[2017-05-02 19:36] z1mvader commented on #16700
I'd like to work on this one. @highfive : assign me

[2017-05-02 19:36] highfive commented on #16700
Hey @z1mvader! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-05-02 23:53] jdm opened #16701 "Run JetStream benchmark"
Get JetStream working in Servo. Jetstream is here http://browserbench.org/JetStream/

This metabug is specifically just to get it running. Performance issues will be tracked in a separate metabug.

- [ ] javascript: url isn't handled correctly #16718

Part of #16717.

[2017-05-03 01:53] jonathandturner opened #16703 "MotionMark: subtract with overflow"
Looks like we can't get through MotionMark anymore.  Unclear yet when it regressed.  This backtrace happens just after the first test in the suite.

cc @glennw

Backtrace:

[code]

Part of #13373.

[2017-05-03 02:01] heycam commented on #15399
Fixed by #16691.

[2017-05-03 02:01] #15399 closed

[2017-05-03 04:36] z1mvader commented on #16700
I started working on this issue, I changed the initial prefix type from `Option<DOMString>` to `Option<Prefix>` and started tracking the needed changes by trial and error until I got into an error in an autogenerated file `servo/target/debug/build/script-e2cc69b1ef004d7b/out/Bindings/ElementBinding.rs` when compiling the `layout` component. I checked both the tests and the component source for an

[2017-05-03 05:03] cbrewster commented on #15233
#15536 has merged. Can this be closed?

[2017-05-03 05:08] cbrewster opened #16705 "Implement window.closed"
To implement `window.closed`, we should call `window.maybe_browsing_context()`. If that is `None`, then the browsing context has been discarded and `true` should be returned. If it is `Some()` it should check `BrowsingContext::is_discarded()`.

spec: https://html.spec.whatwg.org/multipage/browsers.html#dom-window-closed
files: `components/script/dom/window.rs` `components/script/dom/webidls/window

[2017-05-03 05:18] cbrewster commented on #16636
Should be ok to do this, if `main_thread_handler` is not implemented, by default it will just call `handler`.

[2017-05-03 07:01] SimonSapin commented on #16700
This is a method impl of the `ElementMethods` trait, right? This trait is generated based on [WebIDL code](https://github.com/servo/servo/blob/1b9e1cc1f2656d02c4d0c1df1edd8ffcc8d13f49/components/script/dom/webidls/Element.webidl#L18-L19).

This is one case that should not be changed to `Prefix`. This is an implementation of a DOM method that can be called from JavaScript. (Or in this case, the get

[2017-05-03 07:37] nox commented on #16079
Taking this.

[2017-05-03 10:36] Nontenda opened #16708 "Compatibility with openssl-devel from RedHat systems ?"
Hi everyone,

I'm trying to build servo on a Fedora 26 with openssl-devel 1.1.0e.

It appears that a function is missing, "./mach build --release" returns :
[code]

Is there any way to build it on my Fedora ?
Thank's.