[2017-01-03 17:45] bobthekingofegypt commented on #14700
Hmm, interesting.  Sadly not much I can do with that.  It looks to be using its own statically linked version of mesa which seems to have built fine, and the flags all look right.

May just have to give up and become a farmer.

[2017-01-03 22:02] mbrubeck commented on #11728
This is fixed, possibly by #13870.

[2017-01-03 22:02] #11728 closed

[2017-01-03 22:12] mbrubeck opened #14834 "Missing borders in table with border-collapse"
The following table renders incorrectly in Servo.  The top and left borders are missing.

[code]

[2017-01-03 23:08] Manishearth commented on #12939
Any updates on this? What work is left to be done to make https://github.com/Permutatrix/servo/commit/85da4a9ddf87536111231bdc93c7cee42adffa8e landable?

[2017-01-03 23:38] jdm commented on #11559
Given https://github.com/rust-lang/rfcs/blob/master/text/1183-swap-out-jemalloc.md and https://github.com/rust-lang/rust/issues/27389, it looks like we might be getting close to being able to create a DMD tool for Servo.

[2017-01-03 23:41] jdm commented on #8677
We do this now.

[2017-01-03 23:41] #8677 closed

[2017-01-03 23:41] jdm commented on #7572
I would expect #14312 to help here.

[2017-01-03 23:46] jdm commented on #7037
This appears to be the purpose of `ObjectPrivateVisitor` in the JS memory reporting API, but that's specific to Gecko's XPCOM implementation: https://dxr.mozilla.org/mozilla-central/rev/cad2ea346d06ec5a3a70eda912513201dff0c21e/js/src/vm/MemoryMetrics.cpp#494 and https://dxr.mozilla.org/mozilla-central/rev/cad2ea346d06ec5a3a70eda912513201dff0c21e/js/xpconnect/src/XPCJSContext.cpp#2602 show how this

[2017-01-03 23:48] jdm commented on #7084
This is basically the purpose of the `ObjectPrivateVisitor` API in SpiderMonkey, except that all of the memory gets reported as private memory for the associated object. For this to be really useful to us, we would want to report it associated with the page it originates from instead, rather than just the script thread.

[2017-01-03 23:48] jdm commented on #7084
See also #7037.

[2017-01-03 23:50] nox commented on #7084
Should we somehow use that to implement HeapSizeOf for Runtime in rust-mozjs directly, and just measure that?

[2017-01-04 00:06] jdm commented on #14795
This is being tracked at https://github.com/servo/download.servo.org/issues/12. Thanks for reporting it!

[2017-01-04 00:06] #14795 closed

[2017-01-04 00:07] jdm commented on #14780
If you built without `--release`, then the unexpected timeouts are actually kind of expected.

[2017-01-04 00:09] jdm commented on #7084
I don't know what you're asking. The API I'm referring to is an argument to AddServoSizeOf which is called from [here](https://github.com/servo/rust-mozjs/blob/15ff1e83446e998112dcde731610e8b60cc32abf/src/jsglue.cpp#L759), but it's also a Gecko-specific API as pointed out in #7037.

[2017-01-04 00:10] jdm commented on #14713
This is tracked in #13716. Thanks for reporting it!

[2017-01-04 00:10] #14713 closed

[2017-01-04 00:14] jdm commented on #14621
This should be fixed by #14818.

[2017-01-04 00:14] jdm commented on #14619
This isn't part of #14312 anymore.

[2017-01-04 00:16] jdm commented on #14575
This is tracked in #11424. Thanks for reporting it!

[2017-01-04 00:16] #14575 closed

[2017-01-04 00:17] jdm commented on #13807
This is probably a duplicate of #11424.

[2017-01-04 00:18] jdm commented on #14068
Unassigning due to lack of activity.

[2017-01-04 00:22] aneeshusa commented on #14795
@chr4 That's a good idea, I've added a tracking issue at servo/download.servo.org#14. Unfortunately it's not very helpful without HTTPS, since a MITM could just rewrite the checksums to match any altered files. Since we publish nightlies for multiple platforms, that's too many files to publish checksums for in e.g. this thread.

[2017-01-04 00:55] Permutatrix commented on #12939
@Manishearth I guess I was just too much of a chucklehead to realize that https://github.com/Permutatrix/servo/commit/85da4a9ddf87536111231bdc93c7cee42adffa8e mostly fixes this bug even with #13982 out there. (Never mind that that bug should be long fixed by now anyway.) I'll have to remove the `unwrap()`, because even in the absence of any other bugs, it'll fail if an element is queried that isn'

[2017-01-04 00:56] Manishearth commented on #12939
Cool! Let me know if you need help! :smile:

[2017-01-04 00:57] Manishearth commented on #13982
cc @notriddle @mbrubeck

[2017-01-04 01:01] jdm commented on #14627
I believe this needs to wait for support for transferable objects, otherwise there's no way to obtain the canvas in the worker.

[2017-01-04 01:04] Permutatrix commented on #12939
@Manishearth Thanks. You guys are too nice to me, eheh... I just need to learn to be more responsible...

[2017-01-04 01:12] jdm commented on #10209
@shravan-achar might be interested in working on the remaining ones here.

[2017-01-04 01:18] highfive commented on #13218
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-04 01:19] jdm commented on #13218
This should require running `./mach cargo-update -p cookie` and rebuilding, as well as testing before and after.

[2017-01-04 01:20] jdm commented on #11228
I'm going to close this in the absence of any more specific reasons for making this change.

[2017-01-04 01:20] #11228 closed

[2017-01-04 01:34] jdm opened #14837 "Add support to referrer policy test harness to initiate requests inside of a worker"
The tests that currently exist in `tests/wpt/web-platform-tests/referrer-policy` and `tests/wpt/mozilla/tests/mozilla/referrer-policy` perform actions that initiate network requests from the main document. We need to modify the test harness to support creating a Web Worker from the main document, then performing the same actions (when applicable, like fetch() and XMLHttpRequest) from inside the wo

[2017-01-04 01:35] jdm commented on #11863
I have written up the specifics about the desired tests at #14837.

[2017-01-04 01:38] jdm commented on #7492
#4409 is related and I can never find it.

[2017-01-04 01:38] jdm commented on #7492
@iamrohit7 If you're interested in trying this, I will do my best to advise you!

[2017-01-04 01:57] jdm commented on #14824
I recommend making the command line flag described here [invoke](http://doc.servo.org/std/process/struct.Command.html) the `js-beautify` command that can be installed with `pip install jsbeautifier`.

[2017-01-04 02:00] jdm commented on #14824
Suggested plan of attack:
* write out the scripts unminified from `components/script/dom/htmlscriptelement.rs` to the current working directory
* make `Window::new` create a directory for the document url in `components/script/dom/window.rs`, and make `HTMLScriptElement` use that directory
* add a command line flag that controls this behaviour to `components/config/opts.rs`
* invoke the beautifier

[2017-01-04 03:21] #10478 closed

[2017-01-04 05:50] blasrodri commented on #14635
:)

[2017-01-04 11:35] nox commented on #13942
@jdm Any idea if it was the `Document.open` with 2 or 3 arguments?

[2017-01-04 11:36] nox commented on #13942
Never mind, @KiChjang gave the code in his snippet.

[2017-01-04 11:38] nox commented on #14591
Should we implement `window.open` at the same time? I feel like implementing only the version of `document.open` that takes 2 arguments will break other sites trying to call the 3 arguments version.

[2017-01-04 11:47] asajeffrey commented on #14619
Might be worth making this change anyway, since `Documents` is only storing the documents that are the main document of a `Window`, so the code is a bit ugly because of that. It might be easier just to store the `Window` objects. This is just code tidiness though, now that #14312 doesn't depend on GC any more.

[2017-01-04 12:17] jdm commented on #14591
Pragmatically, I don't think it makes sense to try to solve the issues with `window.open` at the same time.

[2017-01-04 12:18] jdm commented on #14591
Those sites that use the three argument version are already broken by it not existing, so I don't think the effect will be any worse.

[2017-01-04 12:58] bd339 commented on #14068
I could work on this, if it's available.

[2017-01-04 13:43] charlesvdv commented on #14824
I'm interested to try tackling this issue.

[2017-01-04 13:55] mrobinson commented on #14574
Okay. I did some more digging with this issue. The root of the problem is that a table on the page somehow has it's overflow style resolved to "auto." This causes Servo to attempt to create a scrolling root for the table wrapper as well as the table. Judging by https://bugzilla.mozilla.org/show_bug.cgi?id=26617 it seems that tables should never respect overflow:scroll or overflow:auto, so I think

[2017-01-04 14:24] jdm commented on #14824
@charlesvdv Sorry, there's a student I'm in contact with who I would like to give the right of first refusal. Please hold off unless I say otherwise!

[2017-01-04 14:25] jdm commented on #14824
If you'd like a suggestion for something else that might be similarly interesting, I can take a look. Let me know!

[2017-01-04 14:34] jdm commented on #14068
@bd339 Please do!

[2017-01-04 15:01] jdm commented on #14641
I submitted #14841 to fix this.

[2017-01-04 16:05] iamrohit7 commented on #7492
@jdm Thanks. I'll get back to you with any questions.

[2017-01-04 16:13] #14641 closed

[2017-01-04 16:38] Ms2ger commented on #14591
We can add the 3-argument overload and unconditionally throw on the Rust side; that's probably better than WebIDL's default of ignoring stray arguments.

[2017-01-04 16:49] jdm opened #14842 "Allow setting numeric preferences from the command line"
The code to process `--pref name=value` command line arguments currently recognizes boolean values as special, and otherwise defaults to treating the value as a string. We should check if the value can be parsed as a number and set a numeric preference if possible.

Code: `components/config/opts.rs`

@charlesvdv Want to fix this?

[2017-01-04 16:50] jdm commented on #14842
Also, it might be useful to make it possible to write automated tests for our command line argument processing code.

[2017-01-04 16:51] asajeffrey commented on #14842
This came up in the context of #14312 which is using an opt rather than a pref for this reason.

[2017-01-04 17:00] asajeffrey opened #14843 "Don't create a new BrowsingContext object for each Window"
At the moment, we are creating a new `BrowsingContext` object for each `Window`, which is wrong and probably the root cause of https://github.com/servo/servo/pull/14312#issuecomment-270403686. cc @jdm @Ms2ger @cbrewster

[2017-01-04 17:01] charlesvdv commented on #14842
I'm interested ! Thanks @jdm !

[2017-01-04 18:18] flipflop97 opened #14846 "No version information available warning"
When executing the latest nightly of servo (executing ./servo) the following 3 warning lines show, but servo itself runs.

[code]

* Arch Linux with Gnome (fully updated)
* Servo 0.0.1-61f6454

[2017-01-04 18:39] lol768 commented on #14621
@jdm

After a `git clone` and `mach build --release` and `mach run` I get a different error message now:

[code]

Is this one something you're aware if? Would you like a new issue opened?

[2017-01-04 20:29] jdm commented on #14621
Well, #14818 hasn't merged yet.

[2017-01-04 20:31] jdm commented on #14621
However, that error looks like the problem that https://github.com/servo/webrender/commit/61878328fec133dc2bf8b92d1f73581a26910e27 fixed.

[2017-01-04 21:15] #14480 closed

[2017-01-04 21:32] ofekd commented on #13152
Hi all

I'd like to apologize --

I took this when I was relatively available and then literally days later got held up pretty bad with work. This is not what I meant when I said I'm not that fast with Servo.

Since pressure is soon off I can be right at it again, if that's fine by you.

[2017-01-04 21:40] jdm commented on #13152
That's fine! Thanks for letting us know!

[2017-01-04 22:58] #14262 closed

[2017-01-04 23:07] veremenko-jav opened #14849 "download.servo.org has expired certificate"
Well, everything in the title. Someone forgot `certbot renew` :-)

[2017-01-04 23:18] jdm commented on #14849
We're tracking this in https://github.com/servo/download.servo.org/issues/12. Thanks for reporting it!

[2017-01-04 23:18] #14849 closed

[2017-01-04 23:20] veremenko-jav commented on #14849
Ops, sorry! Too many repositories, didn't find that one.

[2017-01-05 01:56] cbrewster opened #14852 "No window appears on macOS using latest Nightly"
Possibly due to the recent changes in the packaging scripts.

[2017-01-05 02:02] cbrewster commented on #14852
The problem is that using a relative browserhtml path (`../Resources/browserhtml/index.html` set in `prefs.json`) doesn't work. The previous solution was the `run-servo` script.

[2017-01-05 02:13] fkautz commented on #13218
@jdm I tried updating the cookie dependency using the command you provided, but the cookie dependency remains at "0.2.5." Any recommendations on how to get this package upgraded? Maybe shared dependencies between this and other projects are preventing the dependency from correctly resolving? e.g. cookie is asking for openssl "^0.9.0" while other deps like hyper require "^0.7"

Any advice?

[2017-01-05 02:55] jdm commented on #14852
Is this https://github.com/servo/servo/pull/14817#issuecomment-269983553 or something else?

[2017-01-05 02:56] jdm commented on #13218
@fkautz You may need to modify the Cargo.toml files that list it to use the new version.

[2017-01-05 03:50] Manishearth commented on #13919
refreshing intermittent tracker since issue was renamed

[2017-01-05 05:19] cbrewster opened #14854 "Combine UpdatePipelineId and FramedContentChanged"
`UpdatePipelineId` is sent when an iframe's pipeline becomes active during a history traversal
`FramedContentChanged` is sent when an iframe's pipeline has become active after a load

These two seem to be doing similar things. The only difference is `FramedContentChanged` triggers a reflow. Should we be doing this in both cases? If so, these two messages can be combined.

cc @asajeffrey

[2017-01-05 05:59] Wafflespeanut opened #14855 "Make tidy fall back to the default os.walk if git isn't available"
Right now, if we run `./mach test-tidy` it relies on `git` to get the changed files from the last merge. This will result in an error if we're not in a git repo (like stylo, which is based on mercurial). Tidy should check whether git is available, and if it's not (`subprocess.check_output('git status')` will throw a `fatal: ...` in that case), `only_changed_files` should be set to `False`.

Code:

[2017-01-05 05:59] highfive commented on #14855
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-05 06:40] cyplo commented on #2982
It's been a while, are tests now run separately ?

[2017-01-05 07:32] cbrewster commented on #7572
@paulrouget are you using a version after #14312 landed?

[2017-01-05 07:38] cbrewster opened #14856 "Better handling of about:blank and iframes"
We now have `about:blank` loading synchronously; however, only the **initial about:blank** should be loaded synchronously. There are also a few other issues I have uncovered while looking into #13716.

1. Only the initial `about:blank` should be loaded synchronously
2. `about:blank` should still be treated as same-origin and share the source pipeline's event loop.
3. An iframe should only update i

[2017-01-05 07:39] cbrewster commented on #13716
This is fixed by #14312 (it makes freeze/thaw idempotent). There is still an underlying issue here, but I opened for some more specifics #14856.

[2017-01-05 07:39] #13716 closed

[2017-01-05 08:04] fkautz commented on #13218
@jdm I was able to use ``[replace]`` and cherry pick the fix to a local branch with some minor modifications.

I was able to reproduce the issue, and verify that the patch fixes this bug.

[2017-01-05 09:06] paulrouget commented on #7572
@cbrewster yes.

[2017-01-05 11:42] hiikezoe opened #14858 "Need to adjust end of iteration check for decimal animation-iteration-count"
This is a follow-up issue of #14851.

In #14851, we allow decimal value for animation-iteration-count, as a result, the iteration duration of the final iteration is not reached to the end of duration of the final iteration if the iteration-count is not integer.  So, IIUC, a check 'now < state.started_at + state.duration' [1] in update_animation_state will miss the end of iteration check inside Key

[2017-01-05 13:38] Ms2ger opened #14861 "Dropping RAII structs out of order may cause issues"
CC @nox

[2017-01-05 14:37] jdm commented on #13218
What about using the unmodified cookie-rs from upstream?

[2017-01-05 14:39] jdm commented on #2982
Nope. Instead we have a result filtering step that ignores tests that are known to have intermittent failures.

[2017-01-05 15:20] nox opened #14862 "Switch to crates.io's tinyfiledialogs"

[2017-01-05 15:33] nox commented on #14824
@jdm Shouldn't we use sourcemaps when available, instead?

[2017-01-05 15:44] cyplo commented on #2982
@Manishearth Do you think this can be closed now ?

[2017-01-05 15:48] jdm commented on #14824
Maybe! I'm not sure if we can get information about them without evaluating the minified JS, though.

[2017-01-05 18:36] jdm commented on #13576
Fixed in #14111.

[2017-01-05 18:36] #13576 closed

[2017-01-05 18:39] jdm commented on #5290
Fixed by #5433.

[2017-01-05 18:39] #5290 closed

[2017-01-05 18:58] #2982 closed

[2017-01-05 20:31] jdm opened #14869 "Experiment with ASAN/TSAN/etc."
https://twitter.com/japaricious/status/817031854947762176 describes how to enable LLVM sanitizers after https://github.com/rust-lang/rust/pull/38699 merges. We should try it out, and consider running tests with sanitizers enabled to help verify our usage of unsafe code.

[2017-01-05 20:37] emilio commented on #14869
Big +1 on this, we should make this work ASAP.

This could also be really interesting for stylo, cc @bholley @heycam

[2017-01-05 21:22] jdm opened #14870 "Experiment with incremental builds"
[code]

[2017-01-05 21:22] #14842 closed

[2017-01-05 21:46] charlesvdv commented on #14779
I'm interested to try this one.

[2017-01-05 21:49] shssoichiro commented on #14862
I can do this one, if that's all right.

[2017-01-05 23:07] tabatkins commented on #14832
Kinda, yes.  I've got an action on myself to specify the serialization of every property in CSS.  I have not yet started on this, but it's a required part of one of the Houdini APIs, so I should do it soon... ^_^

[2017-01-06 00:05] jdm opened #14873 "Intermittent crash in /html/webappapis/idle-callbacks/idlharness.html"
[code]

[2017-01-06 01:02] shssoichiro commented on #14517
I can work on this issue.

[2017-01-06 02:24] cbrewster opened #14876 "Determine if a Document is active"
(After  #14559 merges)
We currently can only check if a document is `fully active`; however, there are places in the spec that require us to check if the document is just `active` (example: https://html.spec.whatwg.org/multipage/webappapis.html#dom-document-write step 3 whatwg/html#2216). We need to implement a flag to keep track of this.

cc @asajeffrey

[2017-01-06 03:59] #14411 closed

[2017-01-06 06:07] charlesvdv commented on #14779
Ah ok ! Sorry about that!

[2017-01-06 06:49] #14852 closed

[2017-01-06 07:29] paulrouget commented on #7572
@asajeffrey with #14860, no crash :)

[2017-01-06 08:03] StefanoD commented on #12015
Same issue with Fedora 25:

Installed packages
Name        : openssl
Arch        : x86_64
Epoch       : 1
Version     : 1.0.2j
Release     : 3.fc25

As someone stated: A flatpack package would be cool!

[2017-01-06 08:09] #14862 closed

[2017-01-06 08:43] asajeffrey commented on #7572
That's good to know!

[2017-01-06 08:44] asajeffrey commented on #7572
Closed by #14860.

[2017-01-06 08:44] #7572 closed

[2017-01-06 11:22] asajeffrey commented on #6160
Closed by #14312

[2017-01-06 11:22] #6160 closed

[2017-01-06 11:23] asajeffrey commented on #5364
Closed by #14312

[2017-01-06 11:23] #5364 closed

[2017-01-06 11:25] mmatyas opened #14880 "`yahoo.com` crashes on Android"
Servo crashes on start when I try to open `yahoo.com`:

[code]

Commit 143dfc879e609603839502d61bc064fba96cc80f, tested on an Odroid XU3 running Android 4.4.4.

[2017-01-06 11:29] asajeffrey commented on #14876
The way I've been thinking about this is to remove the current freeze and thaw messages that are sent from the constellation to the script thread, and replace them by a message which sets the activity level: either fully active, active or inactive. Slightly annoyingly this means that when we traverse or navigate away from a fully active document document, we need to send a message to every one of

[2017-01-06 11:32] asajeffrey commented on #14854
Agreed.

[2017-01-06 11:34] asajeffrey commented on #14666
Closed by #14312

[2017-01-06 11:34] #14666 closed

[2017-01-06 12:16] prampey commented on #14649
@jdm Okay, it works.
Please correct me if I'm wrong.
So initially, `&Existing_device.get()` returned a type `Root<BluetoothDevice>` which was type coerced to `BluetoothDevice`?
And now `&**existing_device` dereferences ` existing_device` to type `BluetoothDevice` and dereferences that further to get a reference to what?

[2017-01-06 12:20] mrnayak opened #14881 "Handle alternate stylesheets"
Servo seems to ignore alternate stylesheet. This was done to fix #10284.  This change has caused timeout error in #14865.

[2017-01-06 12:21] emilio opened #14882 "Run tests without constantly restarting the process."
@jgraham mentioned in https://github.com/servo/servo/issues/6160 that that was one of the blockers, but I don't see any other issue filled for this.

I guess this could be doable now?

cc @jdm @Ms2ger @asajeffrey @aneeshusa @larsbergstrom

[2017-01-06 12:29] emilio commented on #14881
So [the spec](https://html.spec.whatwg.org/multipage/semantics.html#link-type-stylesheet) apparently requires us to fetch the resource even though we don't apply it?

[2017-01-06 12:41] mrnayak commented on #14881
I guess so. Applying alternate style-sheet is left to user. I found chrome and firefox fetch all alternate style sheets.

[2017-01-06 12:55] jgraham commented on #14882
Yeah it seems worth trying again, although it isn't entirely clear if it will produce better performance or acceptable reliability. It should be possible to try wpt with `--product=servodriver` to see what regressed in the last 18 months or so.

[2017-01-06 13:55] jdm commented on #14882
Tests take about 13 minutes to run right now. Even a 50% reduction in time taken would not have a big impact on the overall time taken when building and testing, so I don't feel like investigating this is a big priority right now.

[2017-01-06 14:48] Ms2ger opened #14884 "Heap should probably be must_root too"
CC @jdm @Manishearth @nox

[2017-01-06 14:50] Manishearth commented on #14884
Note that `Heap<T>` is `must_root` if `T` is `must_root`; rootedness leaks through generic parameters, unless the type is annotated with `#[allow_unrooted_interior]``

[2017-01-06 14:56] jdm commented on #14649
`existing_device.get()` returned a `Root<BluetoothDevice>`, and the `&` allowed it to be automatically dereferenced into `&BluetoothDevice`. Since `existing_device` is now `&JS<BluetoothDevice>`, the two `*`s turn dereference it into `BluetoothDevice`, and the `&` makes it `&BluetoothDevice` again.

[2017-01-06 14:59] jdm commented on #14880
This is the unwrap at https://dxr.mozilla.org/servo/rev/94d62a2afbbbb08d0225dd45fd8a8480d4bdf98d/ports/glutin/window.rs#811 . This returns a None value on Android: https://github.com/servo/glutin/blob/01c528f085c2489cea88ae2c247a3411ce07ea0b/src/api/android/mod.rs#L171

[2017-01-06 15:01] jdm commented on #14880
This is still the case in a more recent upstream revision, too: https://github.com/tomaka/winit/blob/bc0dd0f854bca9d3a526814b53508dcfd25a74e2/src/platform/android/mod.rs#L160

[2017-01-06 15:15] asajeffrey opened #14885 "One layout thread per script thread?"
At the moment, every document gets its own layout thread, which is wasteful as most of them are frozen. Can we have one layout thread per script thread instead?

This is related to #14719. cc @emilio

[2017-01-06 15:16] jdm commented on #14884
We have an issue that the primitive SM types (`JSObject`, `JSVal`, etc.) are not marked `must_root` because they live in a different repository.

[2017-01-06 15:18] nox commented on #14884
IMO we should fix all of that at the same time we put a lifetime into `Rooted` and friends, this requires a lot of changes in rust-mozjs, and probably to upstream `must_root` in it.

[2017-01-06 15:21] jdm commented on #14881
I am surprised by this, given the list under ["The appropriate times to obtain the resource are"](https://html.spec.whatwg.org/multipage/semantics.html#link-type-stylesheet:concept-link-obtain).

[2017-01-06 15:22] jdm commented on #14881
Actually, that text seems to imply that it should always be fetch regardless of its alternative status, but it should additionally be fetched again when that status changes. @charlesvdv does this sound like something you'd like to work on?

[2017-01-06 15:36] jdm opened #14886 "Implement support for removing stylesheets from their document."
[code]
This means we should add this behaviour when:
* `<style>` and `<link>` elements are removed from documents (`unbind_from_tree`)
* the children of `<style>` elements are modified (we should remove the associated stylesheet and reparse it)

[2017-01-06 15:39] emilio commented on #14885
I think yes, also, that's the only way to properly handle iframe resizes from layout's point of view.

[2017-01-06 15:39] charlesvdv commented on #14881
If I understand well, I have to change what's been made by https://github.com/servo/servo/issues/10284 to handle the alternate stylesheet (and not ignore) and fetch them without actually apply the style on the page ?

[2017-01-06 15:42] asajeffrey commented on #14856
A simpler(?) way to handle `about:blank` being loaded in the same script thread as its parent would be to change `new_pipeline` to use the parents `event_loop` when loading `about:blank`.

[2017-01-06 15:44] jdm opened #14887 "Add a notification for elements that a child text node changed"
The `VirtualMethods` trait contains a `children_changed` method, but that also triggers when a non-Text node is appended to an element. For cases like `<title>` where we only care about the text nodes, the extra notifications are wasteful. All of the code that calls `children_changed` exists in the Node manipulation code in `node.rs`; we'll want to consider in each case whether to call the new met

[2017-01-06 15:49] asajeffrey commented on #14328
Even better, as @emilio said, we could just have one layout thread per script thread #14885, which would remove the need for the script thread to be spawning new layout threads.

[2017-01-06 15:58] asajeffrey commented on #14885
It may be a bit tricky to do iframe resizes this way, since the iframe's parent may be in a different process. The constellation is probably going to need to mediate, which may cause issues for synchronous size queries.

[2017-01-06 16:09] jdm commented on #14886
@zaynetro If you're interested in making some other contributions, this might be interesting!

[2017-01-06 16:11] jdm commented on #14887
@mattnenterprise If you're looking for something else to work on, this might be interesting!

[2017-01-06 16:11] emilio commented on #14885
Yeah, but visible effects are only on same-origin iframes, check out boris's comment in the other issue.

[2017-01-06 16:12] jdm commented on #14881
That is correct!

[2017-01-06 16:12] charlesvdv commented on #14881
ok great I will do it 👍

[2017-01-06 16:15] zaynetro commented on #14886
@jdm Thanks for mentioning me! I am definitely interested. Tomorrow I will take a look and ask questions.

[2017-01-06 16:25] asajeffrey commented on #14885
True, but we might have an A:B:A situation, where the root document and its grandchild are same-origin, but the grandchild is in a cross-origin iframe, so its size depends on a layout thread in another process.

[2017-01-06 16:34] asajeffrey opened #14888 "Save additional load data in Frame"
After #14312, documents may be discarded and reloaded from the information stored in a `Frame` object. Currently we are just storing the URL, we should really also be storing the origin as well, so that when the document is reloaded, we can restore its origin. cc @jdm @cbrewster

[2017-01-06 17:10] bzbarsky commented on #14888
You probably need to store other things too.  What Gecko stores (in nsSHEntry) is at least:

1. URI.
2. "original URI" (may not be relevant to servo; this is for cases when the URI of the document doesn't match the URI that needs to actually be loaded to load the document, due to internal redirects).
3. Referrer that was used when doing the original load (on the Gecko end).
4. Referrer policy to u

[2017-01-06 17:23] mattnenterprise commented on #14887
I would like to work on this!

[2017-01-06 17:33] asajeffrey commented on #14888
IRC chat with @bzbarsky: http://logs.glob.uno/?c=mozilla%23servo&s=6+Jan+2017&e=6+Jan+2017#c588746

TL;DR: we may be able to repurpose `LoadData` for this, if it stored the `origin` used for the case where the URL is `about:blank`.

[2017-01-06 17:37] jawz101 commented on #12125
Would it be possible to offer a portable install?  I am restricted from adding icons to my start menu/desktop.

[2017-01-06 17:41] BladeMight commented on #12125
@jawz101 You could try [extracting the msi](http://superuser.com/questions/307678/how-to-extract-files-from-msi-package).
[Another ways to extract MSI.](https://www.raymond.cc/blog/how-to-view-and-extract-contents-from-a-msi-file/)

[2017-01-06 17:43] larsbergstrom commented on #11307
Confirmed - thanks!

[2017-01-06 17:43] #11307 closed

[2017-01-06 17:59] prampey commented on #14649
@jdm Thanks for the clarification! I'm done with the cleanup. I'll be sending in a PR.

[2017-01-06 18:00] jdm opened #14890 "Add a tidy check for lines that start with ="
Servo's code style says that we prefer this:
[code]
instead of this:
[code]
It should be possible to catch this if a Rust source line begins with an `=`.

Code: `python/tidy/servo_tidy/tidy.py`
Tests: `python/tidy/servo_tidy_tests/rust_tidy.rs`, `python/tidy/servo_tidy_tests/test_tidy.py`, and run `./mach test-tidy --self-test`

[2017-01-06 18:00] highfive commented on #14890
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-06 18:00] highfive commented on #14890
cc @wafflespeanut

[2017-01-06 18:00] highfive commented on #14890
cc @wafflespeanut

[2017-01-06 18:06] jawz101 commented on #12125
Thanks.  That worked.  Well, my office uses SSL Inspection so I guess I'm still out of luck if I can't import its self-signed cert :/  oh well.

[2017-01-06 18:10] asajeffrey opened #14892 "Serializing origins"
IRC conversation with @bzbarsky: http://logs.glob.uno/?c=mozilla%23servo&s=6+Jan+2017&e=6+Jan+2017#c588833

Origin objects have object identity, which can be observed in at least two ways: a) we create new opaque origins, then check their identity, and b) `document.domain` allows origin objects to be mutated.

This is fine for threads which share an address space, not so good for serializing origi

[2017-01-06 18:24] asajeffrey commented on #14888
See #14892 for a wrinkle.

[2017-01-06 18:32] asajeffrey commented on #934
Some discussion on IRC with @bzbarsky that's relevant to mutating `document.domain`: http://logs.glob.uno/?c=mozilla%23servo&s=6+Jan+2017&e=6+Jan+2017#c588833. See #14892.

[2017-01-06 18:38] BladeMight commented on #12125
@jawz101 I don't actually understand what you mean :/ SSL? You mean you can't connecnt to SSL sites? Or browser even not starts(oh why would it)? See [my post](https://github.com/servo/servo/issues/12125#issuecomment-244553937) and try to run servo that way.

[2017-01-06 18:46] g1smo commented on #14890
I'd like to try this one.

[2017-01-06 19:15] jdm commented on #14890
Please do! Ask questions here if anything is unclear!

[2017-01-06 19:41] emilio opened #14894 "Intermittent crash (webrender out of bounds glyph array access) in /html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-2.html"
[code]

[2017-01-06 19:42] emilio commented on #14894
cc @pcwalton @glennw

[2017-01-06 19:44] dowoncha commented on #14785
PR Link #14895

[2017-01-06 19:53] jdm commented on #14894
Tracked in #14338.

[2017-01-06 19:53] #14894 closed

[2017-01-06 19:54] jdm commented on #14338
Probably similar to #14378 but the symptoms are slightly different.

[2017-01-06 20:18] ssokolow commented on #12125
@BladeMight I think jawz101 is saying that their office uses an Internet gateway appliance which blocks traffic it can't MitM via a self-signed CA cert.

[2017-01-06 20:21] jdm opened #14897 "Integrate websocket connection creation into fetch network stack"
Right now, the DOM implementation of WebSocket sends a special message to the resource thread asking for a websocket connection to a particular URL. #14895 allows us to model the code more like the [specification](https://fetch.spec.whatwg.org/#concept-http-network-fetch) instead, and make the DOM code look like other code that initiates network connections. To start with, let's remove the special

[2017-01-06 20:26] jdm opened #14898 "Add a tidy check for use statements with extraneous spaces"
We prefer this:
[code]
to this:
[code]
We should add a check to tidy for this; probably verifying that the line starts with `use` for simplicity.

Code: `python/tidy/servo_tidy/tidy.py`
Tests: `python/tidy/servo_tidy_tests/rust_tidy.rs`, `python/tidy/servo_tidy_tests/test_tidy.py`, and run `./mach test-tidy --self-test`

[2017-01-06 20:26] highfive commented on #14898
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-06 20:26] highfive commented on #14898
cc @wafflespeanut

[2017-01-06 20:26] highfive commented on #14898
cc @wafflespeanut

[2017-01-06 21:48] jdm opened #14900 "Simplify Promise design"
Right now `dom::Promise` is implemented as a struct containing some JS pointers, and are careful to use `Rc<Promise>` everywhere to share these structures. The Rc sharing allows us to store a permanent root inside `dom::Promise` and allows the values to be moved around. It would be nice to change this design so that we could use `Root<Promise>` and `Heap<Promise>` like other rooted JS types - pres

[2017-01-06 21:50] jdm commented on #1618
We have this now.

[2017-01-06 21:50] #1618 closed

[2017-01-06 21:51] jdm commented on #3777
I don't believe we have any ideas for how to implement this. We can reopen this if there's any concrete suggestions.

[2017-01-06 21:51] #3777 closed

[2017-01-06 21:52] jdm commented on #3999
We have element activation. I think we should open new issues for any more specific issues with the current implementation.

[2017-01-06 21:52] #3999 closed

[2017-01-06 21:52] jdm commented on #1937
We have addressed this in the ~3 years since filing this.

[2017-01-06 21:52] #1937 closed

[2017-01-06 22:00] jdm opened #14901 "Consider using a phantom type in JS<T> to indicate rooted-ness"
It has been claimed that being able to write static analysis that verifies safe rooting behaviour is more complex when multiple types are involved (ie. `JS<T>`, `Root<T>`). A proposal for reducing this complexity is to add a phantom type to `JS<T>`, so we get `JS<T, Unrooted>` or `JS<T, Rooted>`. More specific examples of why this is easier to analyze would be valuable.

[2017-01-06 22:02] jdm opened #14902 "Write a MIR lint for rooting analysis"
From the work week discussion about rooting safety, one problem that was discussed was dealing with generic types. It was proposed that a MIR lint would be safer than the current lints, because MIR lints run on monomorphized types. My understanding was that @Manishearth and @nikomatsakis were interested in making this happen.

[2017-01-06 22:05] jdm opened #14903 "Create a thorough suite of compile-fail tests that verify safety features of our rooting analysis"
We have the ability to write tests that verify that they do not compile. We should figure out what setup is necessary to write tests that verify that dangerous DOM constructs do not compile, make it as easy as possible to write these tests, and then systematically create a testsuite to protect us against accidental weakening of our static analysis.

Tentatively assigning this work to @Ms2ger as pa

[2017-01-06 22:09] jdm commented on #14902
@Manishearth tells me that he is too busy to work on this. I would settle for any information about how to write a MIR lint so that someone else could theoretically do this work.

[2017-01-06 22:11] jdm commented on #10192
Is this still true after your recent changes to CallSetup?

[2017-01-06 22:11] jdm commented on #3149
We have supported this since #3726.

[2017-01-06 22:11] #3149 closed

[2017-01-06 22:14] jdm commented on #14183
This looks like the same crash as #12456.

[2017-01-06 22:16] jdm commented on #10418
@fitzgen This is another JS perf thing which might be worth looking into. All of our DOM objects are tenured today, which isn't great.

[2017-01-06 22:17] jdm commented on #14544
This looks like the same crash as #14183.

[2017-01-06 22:17] jdm commented on #12072
Looks like another instance of #14183.

[2017-01-06 22:19] jdm commented on #13209
Looks like the same crash as #14183.

[2017-01-06 22:20] Manishearth commented on #14902
I've never done it before. You need to [register](http://manishearth.github.io/rust-internals-docs/rustc_plugin/registry/struct.Registry.html#method.register_mir_pass) a [MIR pass](http://manishearth.github.io/rust-internals-docs/rustc/mir/transform/trait.MirMapPass.html). You create MIR passes by implementing [`MirPass`](http://manishearth.github.io/rust-internals-docs/rustc/mir/transform/trait.M

[2017-01-07 01:26] notriddle commented on #12805
Maybe we can use this?

https://github.com/jwilm/alacritty/tree/master/copypasta

[2017-01-07 02:55] cbrewster opened #14906 "Documents are never fully deactivated"
We `fully_activate` documents when a thaw message is sent but never `fully_deactivate` them when a freeze message is sent.

cc @asajeffrey

[2017-01-07 03:40] cbrewster opened #14908 "Add test to ensure the timestamp is the same after a reload"
#14312 fixed this, but we should add a test.

[2017-01-07 04:23] bholley commented on #7833
FWIW, I just hit "GL context creation failed" on Linux (Nvidia driver). I haven't done anything special with my xorg.conf, but Firefox works fine with rr.

[2017-01-07 04:37] rocallahan commented on #7833
I wonder if there is a way to disable Nvidia's driver in such a way that you fall back to CPU-only rendering.

[2017-01-07 04:44] bholley commented on #7833
Why would it work for Firefox but not for Servo though?

[2017-01-07 04:47] rocallahan commented on #7833
I don't know.

[2017-01-07 04:49] bholley commented on #7833
I guess my point is that Servo could probably be made to work without any driver twiddling, given that Firefox works.

[2017-01-07 04:50] rocallahan commented on #7833
I think Firefox may work because the glxtest process dies with "GL context creation failed" so Gecko falls back to Basic compositor. Servo doesn't have a non-GL rendering path. For Servo you probably need to enable indirect GLX rendering, see e.g. http://askubuntu.com/questions/745135/how-to-enable-indirect-glx-contexts-iglx-in-ubuntu-14-04-lts-with-nvidia-gfx

[2017-01-07 09:31] asajeffrey commented on #14906
Oops, this sounds like a victim of rebasing. I must have resolved merge conflicts incorrectly.

[2017-01-07 09:59] zaynetro commented on #14886
I will try listing my findings and steps that I think should be taken. Note, that I have a very poor knowledge of the code base. Although I am hoping to improve it with your help.

* `<style>` and `<link>` elements are meta elements (`components/dom/style/htmlmetaelement.rs`). When `unbind_from_tree` is being called we want to remove css styles from the document(?) and update document styles by ca

[2017-01-07 12:44] jawz101 commented on #12125
What he said^.  MITM cert situation.  It bugged me when they turned that on.

[2017-01-07 13:38] emilio commented on #14885
Yeah, but in that case the two same-origin iframes can't have any relationship right? (You can't reach via script the contentDocument of the other, for example, right?)

[2017-01-07 14:34] jdm commented on #14886
`<style>` and `<link>` elements are actually `HTMLStyleElement` and `HTMLLinkElement` respectively, defined in `htmlstyleelement.rs` and `htmllinkelement.rs`. The important hooks are `unbind_from_tree` and `children_changed`. It looks like if we call `document.invalidate_stylesheets()`, that will cause the code that invokes `Stylist.update()` to run when the next reflow happens.

[2017-01-07 14:39] jdm commented on #14886
From reading HTMLStyleElement::parse_own_css, it looks like we may already handle modifying the children of a `<style>` element correctly. It would be good to write a test that verifies this - start with a file that contains a style element with a `body { background-color: red;  }` text node, and replace that text node (using JS) with a new one that says `body { color: green }` and verify that the

[2017-01-07 14:41] jdm commented on #14885
`window.frames[0].contentDocument` is totally valid.

[2017-01-07 14:53] emilio commented on #14885
Even cross-origin? huh

[2017-01-07 15:43] dowoncha commented on #14897
Yeah, I will take this. If the websocketconnection is removed from CoreResourceMsg, where would I get the WebSocketCommunicate, and WebSocketConnectData to pass to websocket_connect? Also would I be adding this check inside the thread builder in CoreResourceManager::fetch?

[2017-01-07 16:00] jdm commented on #14897
Those are good questions! I propose we add the `WebSocketCommunicate` and `protocols` (from `WebSocketConnectData`) as fields of the `WebSocket` request mode; the other data should already be present in the `RequestInit` structure that we send with the Fetch message. This check can live outside of the thread builder, since websocket_loader already creates its own thread.

[2017-01-07 17:24] dowoncha commented on #14897
Attempting to add fields to the WebSocket enum variant throws an error as WebSocket does not implement Copy. How can I resolve this?

[2017-01-07 17:46] zfogg commented on #14322
+1, same bug

[2017-01-07 18:18] dowoncha commented on #14785
Adding the WebSocket enum variant now triggers implementation error in dom/request.rs. Tried to add match case in dom/request.rs but since variant isn't included in bindings, cannot add it in. Ideas?

[2017-01-07 18:29] jdm commented on #14897
`WebSocketCommunicate` cannot be `Copy`, but it should be ok to remove the `Copy` derive from `RequestMode` and use `.clone()` everywhere that's necessary.

[2017-01-07 18:57] #14890 closed

[2017-01-07 19:13] dowoncha commented on #14897
Sorry for the constant questions, removing `Copy` derive still requires `WebSocketCommunicate` to derive
`Clone`, `HeapSizeOf`, and `PartialEq`.

[2017-01-07 19:28] jdm commented on #14897
That's fine!

[2017-01-07 19:29] jdm commented on #14897
More specifically, if `HeapSizeOf` causes problems you can use `#[ignore_heap_size_of` (look for other uses in the code), and if `PartialEq` causes problems you can remove `PartialEq` from `RequestMode` and modify the code that relies on it to use `match` or `if let` instead.

[2017-01-07 20:58] #14649 closed

[2017-01-07 21:12] cynicaldevil opened #14912 "XMLHttpRequest/send-entity-body-document.htm failing for documents"
Follow-up of #14648
Two subtests in this file are failing due to document encoding issues:
[code]
and
[code]
(copy-pasted from PR).

[2017-01-07 22:46] fkautz commented on #13218
"cookie 0.5.1" requires "openssl ^0.9" (OpenSSL 1.0.x) which requires hyper to be updated from "openssl ^0.7" to "openssl ^0.9".

A prior conversation with @jdm pointed me towards #14484 which introduces a new hyper-openssl dependency and disables the optional openssl component in hyper. I had a shot at rebasing it to support the latest cookie serialization changes w/serde, but haven't been succes

[2017-01-07 22:48] fkautz commented on #13218
In short, #14484 or an equivalent patch needs to be merged before cookie 0.5.1 can be used.

[2017-01-08 00:42] vwvww commented on #14898
I want to work on this issue.

[2017-01-08 01:13] jdm commented on #14898
Great! Please ask questions here if anything is unclear.

[2017-01-08 01:56] #14822 closed

[2017-01-08 07:14] #14636 closed

[2017-01-08 08:05] zaynetro commented on #14886
I can't believe I am so blind :) Thanks! Could you suggest the correct directory for the test? If I understand correctly then I can create one with:

[code]

[2017-01-08 08:16] zfogg commented on #14322
found the answer over in servo/fontsan#21

[2017-01-08 09:37] #9490 closed

[2017-01-08 10:31] mrnayak commented on #14523
Request verification algorithms part of the spec is still not implemented. This implementation probably needs #4577. We can reopen current issue or have a new issue for implementation of Request verification algorithms part of Subresource Resource Integrity.

[2017-01-08 13:41] jdm commented on #14886
tests/wpt/mozilla/tests/Mozilla is fine for now. You'll want a [reference test](http://testthewebforward.org/docs/reftests.html), which requires a --reference argument to create-wpt too.

[2017-01-08 18:06] #14785 closed

[2017-01-08 18:31] leeoniya commented on #14176
@larsbergstrom any further progress on this now that https://github.com/servo/saltfs/pull/491 is merged?

[2017-01-08 20:28] jdm commented on #14523
A separate issue for that makes sense to me.

[2017-01-08 20:28] #14523 closed

[2017-01-09 01:30] fkautz opened #14915 "Should Cargo.toml use default_features or default-features?"
The manifest format calls for default-features. Servo uses default_features instead.

Does default_features resolve to default-features? If not, default_features should be updated to default-features in all Cargo.toml files.

[2017-01-09 01:31] fkautz commented on #14915
Relevant documentation: http://doc.crates.io/manifest.html is the source of information for default-features formatting.

[2017-01-09 02:30] bholley opened #14916 "Link failure on linux64: error: undefined reference to '_$LT$script..dom..bindings..js..Root$LT$T$GT$$GT$::downcast::h91b0ac4007c4c9f0'"
After rebasing this weekend, I started getting the following link failure building servo:

   Compiling layout_thread v0.0.1 (file:///files/mozilla/servo/b/components/layout_thread)
   Compiling libservo v0.0.1 (file:///files/mozilla/servo/b/components/servo)
error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" "/files/mozilla/servo/b/

[2017-01-09 02:31] bholley commented on #14916
CC @Manishearth @jdm @metajack

[2017-01-09 03:03] jdm commented on #14915
Even if it does work, I think we should change it for consistency and clarity.

[2017-01-09 03:37] fkautz commented on #14915
https://github.com/servo/servo/pull/14917

[2017-01-09 04:04] mrnayak opened #14918 "Implement Request verification algorithms part of Subresource Resource Integrity"
Link to Spec : https://w3c.github.io/webappsec-subresource-integrity/#request-verification-algorithms

Response verification algorithm has been implemented. We need to implement Request verification algorithms part which probably needs #4577.

[2017-01-09 04:27] fabricedesre opened #14919 "browser.html displays a blank window"
Tested on a release Linux build, when starting with ./mach -r -b
The main window opens but doesn't display anything.

@paulrouget does that ring a bell?

[2017-01-09 05:05] paulrouget commented on #14919
Same issue here. I'll look for the regression window.

[2017-01-09 08:07] mrobinson commented on #14574
Here's a reduced test case:
[code]

I'm testing a fix for this now.

[2017-01-09 08:27] paulrouget commented on #14919
I take that back. I can't reproduce.

@fabricedesre Any message in the terminal?

[2017-01-09 10:43] asajeffrey commented on #14885
It allows a grandchild to access it's same-origin grandparent even if it's parent is cross-origin.

[2017-01-09 15:05] Ms2ger commented on #14892
Did we end up moving to process-global counters rather than uuids for opaque origins? We would probably need to revert that if we want to send origins across processes.

[2017-01-09 15:46] fabricedesre commented on #14919
No messages by default. When enabling debug logs, I get that:
[code]

[2017-01-09 19:56] #14786 closed

[2017-01-09 21:10] KiChjang opened #14931 "Intermittent build failure when compiling embedding"
When running `./mach build-cef` on linux-dev:
[code]

[2017-01-09 21:26] jdm commented on #14931
I suspect this is the builder running out of disk space, so I went and cleaned up a directory of mine that should have released some. I would expect this not to happen again.

[2017-01-09 21:41] fkautz commented on #14915
#14917 was merged, closing.

[2017-01-09 21:41] #14915 closed

[2017-01-09 21:55] dowoncha commented on #14897
I am currently trying the modify the DOM implementation of `WebSocket.rs` to send a fetch to the core resource thread rather than the removed `WebsocketCommunicate` enum variant. The resource fetch requires a `sender: IpcSender<FetchResponseMsg>`, could you explain the which one to send for sender? I am storing the connect, connect_data in the `RequestMode` in init.

[2017-01-09 22:13] jdm commented on #14897
Grumble. Ok, let's modify the Fetch message to contain a `FetchListener` enum as the second argument, which contains two variants - a `NonWebSocket` one which contains the `IpcSender<FetchResponseMsg>`, and a `WebSocket` one which doesn't. I think that's as close as we can get right now until we look at other ways we can use the Rust websocket library we rely on.

[2017-01-09 23:06] nikomatsakis commented on #14902
I started doing it and didn't get very far. It doesn't seem very hard to do though. @jdm do you plan to pursue it?

[2017-01-09 23:06] nikomatsakis commented on #14902
Maybe we can chat about it on IRC :)

[2017-01-10 00:24] cbrewster commented on #14906
`handle_freeze_msg` should `fully_deactivate` the document (you will need to adjust the code to get the document instead of the window.

Relevant code: https://dxr.mozilla.org/servo/rev/50bba770d6073bba6e6e219dbc3687087a864a42/components/script/script_thread.rs#1355-1390

[2017-01-10 00:24] highfive commented on #14906
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-10 00:26] mhsjlw commented on #12130
Progress on Android? Or is Windows currently on a higher priority?

[2017-01-10 02:15] jdm commented on #12130
Windows is higher priority.

[2017-01-10 02:28] asajeffrey commented on #14892
We did move away from uuids and we would have to move back if we wanted them to be global.

[2017-01-10 03:34] #14068 closed

[2017-01-10 03:44] jeffparsons opened #14934 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-50bba77
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-10 03:46] jeffparsons commented on #14934
Reproduction steps:

- Visit https://stileapp.com/library.

Expected behaviour:

- Servo does not panic.

Actual behaviour:

- Servo panics. 😅

[2017-01-10 04:48] prampey commented on #14906
@cbrewster Hi. I'd like to work on this issue.

[2017-01-10 06:58] cbrewster commented on #14906
@prampey it's all yours! Thank you!

[2017-01-10 07:31] paulrouget commented on #14919
@fabricedesre Only with bhtml?

[2017-01-10 08:53] mrobinson commented on #14574
A fix is available in the branch at https://github.com/mrobinson/servo/commit/0e32c255c3bbb260beaca3631b1f7ad39a8808a8, but it depends on https://github.com/servo/servo/pull/14603. Hopefully I can get that reviewed today or tomorrow.

[2017-01-10 09:01] jdm commented on #14934
I have not been able to panic by running `./mach run -d https://stileapp.com/library` from a local debug build yet.

[2017-01-10 10:01] zticky commented on #12125
Tried to install servo but installer crashes on Windows 10.
Unzipped msi but there is no .exe file to start servo

[2017-01-10 11:45] emilio opened #14941 "Support prefixed CSS properties in CSSStyleDeclaration."
This may need some WebIDL fixes, or not.

I think we should generate the CSSStyleDeclaration file eventually, btw.

[2017-01-10 13:54] mrobinson commented on #14338
At https://github.com/servo/servo/pull/14603, I see a crash in /html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-1.html. Perhaps related?

[2017-01-10 13:56] mrobinson commented on #14338
Sorry, I was wrong. The problem in that bug appears to be: https://github.com/servo/servo/issues/14323.

[2017-01-10 14:03] shssoichiro commented on #14517
Wanted to give an update: I'm making progress on this, but Servo's websocket code is tightly coupled with the `websocket` crate, so it's taking longer than expected. I hope to have an initial PR sometime this week.

[2017-01-10 15:38] fabricedesre commented on #14919
Yes, loading a url directly works as expected.

[2017-01-10 16:07] jdm commented on #14517
Fantastic! Thanks for tackling it!

[2017-01-10 16:34] Ilphrin commented on #12675
Hi! I am a very noobie to Servo, may I work on it with some help? (:

[2017-01-10 16:52] jdm commented on #12675
@Ilphrin That should be fine! Take a look at the previous discussion and attempt and ask questions about anything that's unclear!

[2017-01-10 17:34] jdm commented on #11420
We have these now, and can open new issues for any particular missing pieces.

[2017-01-10 17:34] #11420 closed

[2017-01-10 17:41] jdm commented on #4955
Something's happening, but I can't tell what :P
<img width="1440" alt="screen shot 2017-01-10 at 12 39 50 pm" src="https://cloud.githubusercontent.com/assets/27658/21817427/f7b9bf7a-d731-11e6-8afc-4a480897274a.png">

[code]

[2017-01-10 17:45] jdm opened #14944 "css 3d FPS triggers subtraction underflow when culling layers"
http://keithclark.co.uk/labs/css-fps/nojs/

[code]

[2017-01-10 17:49] jdm opened #14945 "Layout of CSS FPS selection screen is half as wide as it should be"
http://keithclark.co.uk/labs/css-fps/
Servo:
<img width="1138" alt="screen shot 2017-01-10 at 12 46 15 pm" src="https://cloud.githubusercontent.com/assets/27658/21817647/d864f7ec-d732-11e6-930f-b5dbd936d777.png">
Firefox:
<img width="1554" alt="screen shot 2017-01-10 at 12 46 51 pm" src="https://cloud.githubusercontent.com/assets/27658/21817687/fc51ed2c-d732-11e6-8b5d-b94bc9f55cb9.png">

[2017-01-10 17:54] jdm commented on #4955
Filed the panic as #14944.

[2017-01-10 18:07] jdm commented on #6276
Tracking in #14596 instead.

[2017-01-10 18:07] #6276 closed

[2017-01-10 18:07] jdm commented on #14596
Blocks ##5236.

[2017-01-10 18:11] jdm opened #14946 "Body with table-cell display doesn't show background color"
`<body style="display: table-cell; background-color: green">`
In Servo, this shows a white screen. In Firefox, the screen is green. If the `display` property is removed, the background color shows up in Servo.

[2017-01-10 18:13] jdm commented on #14946
The debugger shows me in `build_display_list_for_background_if_applicable` that this appears to happen because the bounds of the body element with table-cell applied are 0.

[2017-01-10 18:21] jdm opened #14947 "Body with table-cell display gets vertically centered"
[code]
Servo:
<img width="135" alt="screen shot 2017-01-10 at 1 20 42 pm" src="https://cloud.githubusercontent.com/assets/27658/21818921/9f94a28c-d737-11e6-9ab5-2fd58cda28ac.png">
Firefox:
<img width="131" alt="screen shot 2017-01-10 at 1 21 02 pm" src="https://cloud.githubusercontent.com/assets/27658/21818944/b374884e-d737-11e6-96c4-4652cb166fd1.png">

[2017-01-10 18:24] jdm commented on #11296
I suspect this also causes:
[code]
Servo:
<img width="67" alt="screen shot 2017-01-10 at 1 24 07 pm" src="https://cloud.githubusercontent.com/assets/27658/21819052/17e950ca-d738-11e6-880e-861543e8c7bf.png">
Firefox:
<img width="132" alt="screen shot 2017-01-10 at 1 24 21 pm" src="https://cloud.githubusercontent.com/assets/27658/21819065/1fde862e-d738-11e6-88a3-5f54d0f91370.png">

[2017-01-10 18:28] jdm opened #14948 "Root element with table display doesn't account for CSS width and height"
[code]
Servo:
<img width="1138" alt="screen shot 2017-01-10 at 1 28 26 pm" src="https://cloud.githubusercontent.com/assets/27658/21819184/b289ed7e-d738-11e6-9b1e-6d41cffe90d1.png">
Firefox:
<img width="1554" alt="screen shot 2017-01-10 at 1 28 41 pm" src="https://cloud.githubusercontent.com/assets/27658/21819193/ba36833e-d738-11e6-841b-33f9763b5c24.png">

[2017-01-10 18:29] jdm commented on #14945
This is likely caused by #14948, since the page uses `display: table` on the root element, and `display: table-cell` on the body element.

[2017-01-10 18:32] jdm commented on #11297
The test passes after #14518. Thanks for reporting it @blacksvk!

[2017-01-10 18:32] #11297 closed

[2017-01-10 18:47] jdm opened #14949 "Animated hover effects are glitchy"
Compare interacting with https://tympanus.net/Development/CreativeLinkEffects/ in Servo vs. Firefox. The animations in Servo often trigger multiple times and affect the position of the element in ways that Firefox does not.

[2017-01-10 19:14] jdm opened #14951 "Elements with 3d transforms applied don't scroll offscreen correctly"
[code]
STR:
Run `./mach run 'data:text/html,<img src="https://www.google.ca/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" style="transform: rotateZ(1deg)">' -d --resolution 200x200` and scroll around. Note how the image is not offset appropriately as the viewport scrolls.

[2017-01-10 19:14] jdm commented on #14951
This affects scrolling on https://tympanus.net/Development/TiltHoverEffects/index.html after mousing over the hover targets.

[2017-01-10 19:18] jdm commented on #14573
I hit this in http://doeverything.herokuapp.com/ as well.

[2017-01-10 19:28] asajeffrey commented on #14573
The fix is to have one layout thread per script thread, as per #14885.

[2017-01-10 20:33] cynicaldevil commented on #14682
Right, I'm taking this up!

[2017-01-10 21:12] jsnajdr opened #14952 "text-overflow: ellipsis - after the ellipsis character is added, it's never removed"
STR:
1. Open this URL in Servo:
[code]
2. Resize the window to minimum width, so that the ellipsis kicks in. Several times, as the window is resized.
3. Resize the window back to original width.

Expected: ellipsis character eventually disappears, as there is no overflow any more.
Actual: several ellipsis characters are added and remain visible when the window width increases. The text is irrevers

[2017-01-10 21:23] Manishearth commented on #14952
cc @notriddle

IIRC we just append text to the fragment, which is probably wrong

[2017-01-10 21:26] notriddle commented on #14952
This is wrong, yeah.

[2017-01-10 21:30] KiChjang commented on #5242
Do we already have this?

[2017-01-10 22:03] jdm commented on #5242
No.

[2017-01-10 22:52] sp3d opened #14953 "Navigation keys should act on press, not release"
Servo scrolls when the down arrow key is released (or when key repeat triggers), not when the key is pressed. It exits when escape is released, not when escape is first pressed. This makes the perceived latency for keyboard actions much higher and does not match the behavior of any other browser (Chrome, FF, WebKitGTK+-based, etc.) nor most applications or GUI toolkits.

This is reproducible at le

[2017-01-11 00:29] upsuper opened #14954 "Fully implement parsing/serialization for mask-repeat and background-repeat for geckolib"
https://developer.mozilla.org/en-US/docs/Web/CSS/mask-repeat
https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat

The grammar is `<repeat-style>#` where `<repeat-style>` is `repeat-x | repeat-y | [ repeat | space | round | no-repeat ]{1,2}`.

See https://github.com/servo/servo/wiki/Property-hacking-guide for instructions on how to work on such bugs. This bug requires familiarity wit

[2017-01-11 00:31] highfive commented on #14954
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-11 00:34] mbrubeck commented on #11297
Note that there's still some remaining work to get the cell heights correct.  I'll have a PR for that soon.

[2017-01-11 00:40] upsuper commented on #14954
(This issue may account for up to 240 failures in Gecko's style system tests.)

[2017-01-11 00:55] upsuper opened #14955 "Implement parsing/serialization for mask-position-{x,y}"
The spec doesn't have this yet, neither does MDN. But the syntax is basically identical to `background-position-{x,y}`, so it can share the logic of `background-position`.

Files for `mask-position-{x,y}`: https://github.com/servo/servo/blob/master/components/style/properties/longhand/svg.mako.rs
`mask-position` should become a shorthand and be moved to https://github.com/servo/servo/blob/master/c

[2017-01-11 01:00] Manishearth commented on #14955
@canaltinova want to work on this? or mentor it for someone else?

[2017-01-11 01:04] upsuper commented on #14955
Filed spec issue for this: w3c/fxtf-drafts#103.

[2017-01-11 01:30] fkautz commented on #14954
I'll take this on. Please assign this to me.

[2017-01-11 01:30] Manishearth commented on #14954
@fkautz is working on this

[2017-01-11 02:22] BladeMight commented on #12125
Extracted msi but there is no .exe file to start servo

OK, here you go an [extracted working version of Servo](https://mega.nz/#!xI4HxLbA!U96JybAQvCbE-oHAShUqMgPk5mUjGThgiY3Qbv--PXs),  build from 22.12.16. I also added servo-browserhtml.cmd which will start a browser html if running servo.exe did not.

[2017-01-11 06:20] upsuper commented on #14955
(This may account to up to 1383 failures in style system mochitests.)

[2017-01-11 06:20] shinglyu commented on #14685
Almost got it working, however if the flex items are inline element, they didn't get blockified. Currently the patch fixed 5 reftest with no regression.

[2017-01-11 06:23] cbrewster commented on #14856
@asajeffrey updating the active pipeline id of the iframe seems very tricky. We cannot set it right after the document is created and inserted into a script thread's documents as the iframe may be located in another script thread. Also updating it after the constellation gets the activate document message and then sends the framed content changed message to the script thread seems to have other is

[2017-01-11 09:25] canaltinova commented on #14955
@Manishearth If you think this is easy or less-easy, I can mentor this. Otherwise, I can pick this up. I think we can directly re-export background-position-{x,y} in mask-position-{x,y}.

Similar work for background-position is here: #14509 (ignore first commit)

[2017-01-11 09:26] highfive commented on #14955
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-11 09:26] Manishearth commented on #14955
Should be easy. Mind leaving a comment with tips on how to make this work?

(Yes, reexporting should be fine.)

[2017-01-11 09:51] canaltinova commented on #14955
Firstly, we need to implement mask-position-{x,y} as longhands to [here](https://github.com/servo/servo/blob/master/components/style/properties/longhand/svg.mako.rs). It can be done by re-exporting background-position-{x,y} structs([here'](https://github.com/servo/servo/blob/04a3242dc54c670dcdafcf1f0ac5373f2ed612f3/components/style/properties/longhand/box.mako.rs#L827-L838)s an example for this)

[2017-01-11 10:05] canaltinova commented on #14955
Also it will require some changes in gecko glue like background. We can move [these](https://github.com/servo/servo/blob/04a3242dc54c670dcdafcf1f0ac5373f2ed612f3/components/style/properties/gecko.mako.rs#L1838-L1886) functions inside `impl_common_image_layer_properties` again(instead of [these](https://github.com/servo/servo/blob/04a3242dc54c670dcdafcf1f0ac5373f2ed612f3/components/style/properties

[2017-01-11 12:19] upsuper opened #14957 "Upgrade regex dependency to 0.2"
libbindgen recently upgraded its regex dependency to 0.2 in servo/rust-bindgen#385, and there are new features I want to use after that change. But to keep Servo's CI happy, we need to keep only one version of regex among the whole dependency tree, so I'm going to upgrade regex in all the dependencies use it, and then have a single pr to bump in-tree dependencies.

Dependencies which use regex:
-

[2017-01-11 12:36] jfilip opened #14958 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-c784bc6
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-11 13:44] jdm commented on #14958
Do you know what page you were looking at?

[2017-01-11 13:52] jdm commented on #14957
Keep in mind that there is an exclusion list for the duplicate crate error, if you're blocked on this.

[2017-01-11 13:55] upsuper commented on #14957
I don't think we want to exclude regex, since it's not a small crate. I'm not really blocked on this. It feels to me I will eventually need it, so I try to push it to happen sooner rather than later. But it isn't a blocker at this moment.

[2017-01-11 15:16] jdm opened #14960 "Convert max-session-history command line argument into a preference"
Since #14863 was merged, it's now possible to use syntax like `--pref max-session-history=5` and have it work correctly. Let's convert the command line argument added in #14312 into a [preference](https://dxr.mozilla.org/servo/source/components/config/prefs.rs) by adding it to the [preferences JSON](https://dxr.mozilla.org/servo/source/resources/prefs.json) and modifying places that use the value

[2017-01-11 15:16] highfive commented on #14960
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-11 15:19] jdm commented on #14931
We resized the builders. We can reopen if it shows up again.

[2017-01-11 15:19] #14931 closed

[2017-01-11 15:20] jdm commented on #14916
Closing in favour of the https://github.com/rust-lang/rust/issues/38938.

[2017-01-11 15:20] #14916 closed

[2017-01-11 15:21] rookwood101 commented on #14919
I think I know why this is happening. After looking at the browser.html resources, some of them appear to have upper case letters, but the files are being linked to using lower case only. Therefore on Windows everything might work fine, however on Linux, it being case sensitive, the page is not loading.

[2017-01-11 15:45] mrmiywj commented on #14955
@canaltinova Hi, I'm glad to work on this, could you mentor me?

[2017-01-11 15:47] fabricedesre commented on #14919
You may be right. Damn OS/X case insensitive FS. There was massive renaming in https://github.com/browserhtml/browserhtml/commit/e81dc431d1ac3c283b15bd1aa281e10d7e498f6e and I did not check everything but that's likely the culprit.

[2017-01-11 15:54] canaltinova commented on #14955
@mrmiywj Sure! Feel free to ask any questions!

[2017-01-11 16:04] Manishearth commented on #14955
Note that this will need to be tested with  `./mach build-geckolib`

[2017-01-11 17:20] asajeffrey commented on #14843
IRC chat with @cbrewster: http://logs.glob.uno/?c=mozilla%23servo&s=11+Jan+2017&e=11+Jan+2017#c591494

TL;DR: we are disabling some storage tests which we suspect are failing because of this. We need to make sure they are restored later.

[2017-01-11 19:30] charlesvdv commented on #14948
I'm interrested to try fix this!

[2017-01-11 19:31] #14881 closed

[2017-01-11 20:21] canaltinova opened #14965 "Replace all try macros with `?`"
Question mark looks stable in Rust, we can replace `try!` macros with `?`.
You can find all try! macro usages in dxr(or you can use a tool like grep): https://dxr.mozilla.org/servo/search?q="try!("

For example, we should replace `try!(formatter.write_str(c))` with this: `formatter.write_str(c)?`

[2017-01-11 20:21] highfive commented on #14965
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-11 20:40] jdm commented on #14805
Turns out it's a table.

[2017-01-11 20:44] jdm commented on #14655
Fixed by #14679. Thanks for reporting this!

[2017-01-11 20:44] #14655 closed

[2017-01-11 20:48] jdm commented on #13266
This also reproduces on https://nextcloud.com/ when scrolling down the page.

[2017-01-11 20:48] jdm commented on #14529
This is the same issue tracked by #13266. Thanks for reporting it!

[2017-01-11 20:48] #14529 closed

[2017-01-11 20:52] jdm opened #14966 "cs_box_shadow/ps_rectangle shader compilation error"
I updated to master and now I get this when loading any site in Servo:
[code]
[code]
Did we forget to update shaders in the last WR update or something?

[2017-01-11 20:54] jdm commented on #14516
#14897 is laying some groundwork for this.

[2017-01-11 21:11] jdm commented on #14966
Modifying the shader to use:
[code]
makes the error go away.

[2017-01-11 21:44] jdm commented on #14497
[code]

[2017-01-11 21:45] tydus101 commented on #14960
I'll be taking a look at this, thanks.

[2017-01-11 21:50] jdm opened #14967 "Calling matchMedia during a MQL change event will panic"
`WeakMediaQueryListVec::evaluate_and_report_changes` calls `borrow()` in order to iterate over the list of known media query lists. This dispatches a DOM event for each MQL that needs to report a change, which could end up calling `Window.matchMedia` which calls `borrow_mut()` on the list of known media query lists. It shouldn't be too difficult to put together a test demonstrating this.

[2017-01-11 21:54] jdm commented on #14497
We should use `WeakRefVec::update` instead of manually iterating over the vector in `WeakMediaQueryListVec::evaluate_and_report_changes`, which will deal with the elements that are no longer alive.

[2017-01-11 21:55] jdm commented on #14497
I was able to reproduce this by waiting for the page to load and then scrolling up and down the page for ~10s.

[2017-01-11 21:55] jdm commented on #14497
@shubheksha Fixing this will use a couple fun Rust features!

[2017-01-11 21:56] jdm commented on #14960
Great! Ask questions here if anything is unclear.

[2017-01-11 21:58] SimonSapin commented on #14965
This tool https://github.com/japaric/untry does the conversion automatically. (Though the results should still be double-checked.)

[2017-01-11 22:00] glennw opened #14969 "Panic running motionmark benchmark."
Run servo, with http://browserbench.org/MotionMark/developer.html as the target URL. Select the Animometer option, and then click Run Benchmark.

Servo will panic with the following callstack:

[code]

[2017-01-11 22:00] jdm commented on #14967
[code]

[code]

[2017-01-11 22:01] glennw commented on #14969
cc @metajack @jdm

This is on Linux, but occurs regardless of the resolution / device pixel ratio I have tested with. I haven't confirmed it on Mac.

[2017-01-11 22:02] jdm commented on #14969
This is the exact same issue I just found in #14497. Let's track it there.

[2017-01-11 22:02] #14969 closed

[2017-01-11 22:03] jdm commented on #14497
From #14969, this can also be reproduced with:
[code]

[2017-01-11 22:07] metajack commented on #14497
cc @metajack

[2017-01-11 22:07] glennw opened #14970 "hashchange DOM event should be dispatched when the document location's hash is changed"
1) Open https://lhorie.github.io/todomvc-perf-comparison/todomvc-benchmark/ in Servo.
2) Select "Run all"

The tests will start running. At some point during the benchmark, execution stops and nothing further happens. The rendering is still running (can be confirmed with -Z wr-stats).

*Sometimes* you get several JS errors written on the console - but this doesn't always happen.

For example:

[co

[2017-01-11 22:07] glennw commented on #14970
cc @jdm @metajack

[2017-01-11 22:09] metajack commented on #14970
cc @esprehn

[2017-01-11 22:10] metajack commented on #14497
cc @esprehn

[2017-01-11 22:10] highfive commented on #14500
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-11 22:17] glennw commented on #14966
Fixed in https://github.com/servo/webrender/pull/710 - I'll attempt to get this merged and updated to Servo today.

[2017-01-11 22:23] jdm opened #14972 "TransitionEnd event can include nodes that have been GCed"
https://github.com/servo/servo/commits/5d3847dddc9bb7907abfa5d38a7927d6c656fbc1/components/layout/animation.rs sends an asynchronous message to the script thread that contains an UnsafeNode value. When the script thread processes the message, it casts the unsafe node to a DOM node and tries to use it. If the node has been GCed since the layout event that caused the message to be sent, this is a cr

[2017-01-11 22:28] jdm commented on #14970
I've observed this a few times after variable numbers of tests have completed. I suspect there's a timing issue that makes the harness get confused, rather than an internal engine problem like a deadlock.

[2017-01-11 22:48] jdm commented on #14970
The Mithril suite seems to trigger this most often when I run the tests in isolation.

[2017-01-11 22:50] jdm commented on #14970
Ractive triggered the JS errors for me.

[2017-01-11 22:52] jdm commented on #14970
Those both seem to be consistent for me, and it would explain the intermittent behaviour you observed - the order of the testsuites seems to be randomized every time I load the benchmarks.

[2017-01-11 23:03] KiChjang commented on #14972
This looks like it's something that I ought to have fixed but didn't because I assumed that a layout node always have a valid reference to its underlying DOM node. Could you expand on how the "collection during layout" and "retrieving in script thread" works?

[2017-01-11 23:31] jdm commented on #14972
The easiest way I've found is to create a layout RPC mechanism to retrieve a list of nodes, and invoke that right after reflow completes in script. Meanwhile layout populates the list via a member of the various context objects that are passed around. Of course, this only works if the reflow is initiated from script. If something's else is driving the animations in layout, we need a different solu

[2017-01-12 00:56] gsnedders commented on #14144
This is part of #2560.

[2017-01-12 01:28] jfilip commented on #14958
Yeah, it was www.wired.com

[2017-01-12 01:43] jdm commented on #14972
I can often hit this on the benchmark linked above if I disable the Ractive, Likely, and Mithril suites.

[2017-01-12 03:31] jdm opened #14975 "innerHTML on a script tag escapes tag characters"
[code]
In Firefox, this prints ``. In Servo, it prints `&lt;-- hi --&gt;`.

[2017-01-12 03:31] jdm commented on #14970
I filed #14975 for the Ractive problem.

[2017-01-12 03:47] jdm commented on #14970
The problem with the tests not continuing is due to the Mithril test suite, and that's caused by us missing the `hashchange` DOM event that it relies on for routing if `window.history.pushState` isn't available.

[2017-01-12 03:48] jdm commented on #14970
To reproduce easily, run an HTTP server inside todomvc-perf-comparison/todomvc-benchmark, and run `./mach run http://localhost:8000/todomvc/mithril/index.html`.

[2017-01-12 03:59] jdm commented on #14970
@cbrewster The spec text for hashchange falls under steps 6 and 15 of https://html.spec.whatwg.org/multipage/browsers.html#traverse-the-history . Do we have an implementation of the "traverse the history" algorithm yet?

[2017-01-12 04:03] jdm opened #14976 "check_no_panic.sh should check addition constellation source files"
We've recently added event_loop.rs and frame.rs, and those aren't being checked for panics. @asajeffrey Would it make more sense to create a blocklist of files that should not be checked so we don't accidentally lose coverage in the future?

[2017-01-12 04:07] cbrewster commented on #14970
@jdm the "traverse the history" algorithm is found in the constellation:
https://dxr.mozilla.org/servo/rev/5d3847dddc9bb7907abfa5d38a7927d6c656fbc1/components/constellation/constellation.rs#1668-1702
and
https://dxr.mozilla.org/servo/rev/5d3847dddc9bb7907abfa5d38a7927d6c656fbc1/components/constellation/constellation.rs#1972-2082
It is a bit messy when aligning it to the spec as we have to split so

[2017-01-12 04:37] asajeffrey commented on #14976
Sounds good to me.

[2017-01-12 07:14] fiji-flo commented on #10083
@jdm can you reopen that ticket?

Still missing:

- position cursor in textareas
- selecting text input / textarea

I already started working on theses.

[2017-01-12 10:02] andrewguertin commented on #13879
Seems like the game simply tries to create too many canvases. I reduced the page to the following testcase:

[code]

The actual number of canvases the game creates seems to be around 2160, if I got my math right when editing its loops. The maximum I could create without crashing was around 2014, plus or minus a few as I edited my file.

[2017-01-12 12:55] jdm commented on #13879
It certainly doesn't help that Servo creates a thread per canvas.

[2017-01-12 13:00] doanga2007 opened #14981 "Servo browser has unstable to use or access to website."
Servo browser has unstable to use or access to website (example cannot type web address to address bar sometimes and cannot access to website (not loading after type web address to address bar and enter to access website) ).

VDO : https://youtu.be/aMq7lbqfzM4

[2017-01-12 13:04] ameenross commented on #13879
Maybe this should be filed as a bug over at slither: "Slither so horribly inefficient that people so desperately fight lag that they try it in Servo"...

[2017-01-12 14:01] Ms2ger commented on #14965
That's assuming we would want to do that; not sure we do.

[2017-01-12 14:36] jdm commented on #14975
The cause is [this match](https://github.com/servo/html5ever/blob/master/src/serialize/mod.rs#L200-L213) which says that the contents of script tags should be escaped.

[2017-01-12 14:44] jdm commented on #14975
That code matches what is written at https://html.spec.whatwg.org/multipage/syntax.html#serialising-html-fragments for "If current node is a Text node". Interestingly, outerHTML works fine, and innerHTML does not.

[2017-01-12 14:58] jdm commented on #14975
The `parent()` operation in the html5ever serializer gets the last element in the element stack. In the outerHTML case this is the element that is pushed in `start_elem`. In the innerHTML case this is the dummy initial value added in the serializer's constructor, so it's not considered to have a script element parent.

[2017-01-12 14:59] highfive commented on #14975
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-12 15:00] jdm commented on #14975
To fix this, in the case where the serializer is created with ChildrenOnly we should make the initial element contain the data for the actual element parent. We should add a unit test in html5ever for this case, as well as create a new [WPT test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) for Servo.

[2017-01-12 15:08] jdm commented on #14975
Actually, there's a useful `tests/wpt/web-platform-tests/html/syntax/serializing-html-fragments.html` test that already exists, and contains a relevant case: `<span><script type="test"><&></script></span>`. However, it only checks innerHTML and outerHTML of the span, rather than the script directly. Let's add another case to this that gets rid of the outer span.

[2017-01-12 15:24] jdm opened #14982 "Add a flag to run command to enable software rendering"
We have some python code that sets up environment variables for running tests using software rendering: https://dxr.mozilla.org/servo/rev/eb72c0ec7bc1e3547aa09fbe2ad800310f42989b/python/servo/command_base.py#227-245 . We should add a `--software` flag to the [run](https://dxr.mozilla.org/servo/rev/eb72c0ec7bc1e3547aa09fbe2ad800310f42989b/python/servo/post_build_commands.py#42) command to make it e

[2017-01-12 15:24] highfive commented on #14982
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-12 15:24] highfive commented on #14982
cc @wafflespeanut

[2017-01-12 15:24] highfive commented on #14982
cc @wafflespeanut

[2017-01-12 16:08] asajeffrey opened #14985 "Intermittent timeout in /_mozilla/mozilla/websocket_connection_fail.html"
The intermittent only showed up after 592 runs:
[code]

[2017-01-12 16:16] cynicaldevil commented on #14682
Since this will introduce changes in both servo's and webrender's repos, how will the bot build/test these changes?

[2017-01-12 16:22] jdm commented on #14682
The bot can't test it unless you publish a fork of webrender with your changes (or they get merged into the original) and the PR includes an update to the WR revision.

[2017-01-12 16:31] Gozala commented on #14919
I've being burned by that too many times :(

In fact those paths are irrelevant as during deployment they get bundled into a single js file and pushed to [cargo branch](https://github.com/browserhtml/browserhtml/tree/crate) as such. Only thing that could be and turns out is the problem is that path to that `.js` file was not updated in [index.html](https://github.com/browserhtml/browserhtml/blob/m

[2017-01-12 16:32] asajeffrey commented on #14985
IRC conversation with @jgraham: http://logs.glob.uno/?c=mozilla%23servo&s=12+Jan+2017&e=12+Jan+2017#c592357

TL;DR: the test shouldn't have a race condition, as the event is fired on the next turn of the event loop.

[2017-01-12 16:45] jdm opened #14986 "Convert most callers of Window::reflow into notes about the cause of forthcoming reflow"
Many of the callers of `Window::reflow` are from before we guaranteed that reflow would happen if necessary at the next turn of the event loop. We should add a label to Window that indicates what the cause of the next reflow will be, and make `ReflowReason` a bitmask instead of an exclusive single reason. This will let current callers of `Window::reflow` simply add a reason to the current one, all

[2017-01-12 17:19] asajeffrey commented on #14678
@jdm: are your fears unjustified enough that we can close this issue?

[2017-01-12 17:23] asajeffrey commented on #14619
Argh, there's an annoying case for this, which is when the initial `about:blank` is replaced by the final document in a `Window`. This is the only case where a `Window` can end up changing `Document`. Since the two `Document`s have different `pipeline_id`s, we can't use `pipeline_id`s as a unique id for `Window` objects. So I think we should just leave this as-is.

[2017-01-12 17:23] #14619 closed

[2017-01-12 17:24] asajeffrey commented on #14328
Closing in favour of #14885.

[2017-01-12 17:24] #14328 closed

[2017-01-12 17:26] asajeffrey commented on #13608
Should be dealt with as part of #14843.

[2017-01-12 17:31] asajeffrey commented on #11685
The one remaining `panic!` which has a race condition is:
[code]
which should be fixed by #14885.

[2017-01-12 17:31] #11685 closed

[2017-01-12 17:31] jdm commented on #14678
Yes.

[2017-01-12 17:31] #14678 closed

[2017-01-12 17:35] asajeffrey commented on #10968
Fixed by #14312.

[2017-01-12 17:35] #10968 closed

[2017-01-12 17:37] asajeffrey commented on #10885
Closed in favour of #10542.

[2017-01-12 17:37] #10885 closed

[2017-01-12 17:52] asajeffrey commented on #1522
`Document` supports `origin`, and https://github.com/whatwg/html/pull/925 removed "effective script origin". The last remaining piece is allowing setting of `document.domain`, which is the remaining unimplemented part of #934.

[2017-01-12 17:52] #1522 closed

[2017-01-12 17:55] asajeffrey commented on #14678
@jdm: thanks!

[2017-01-12 19:22] larsbergstrom commented on #14176
@leeoniya No progress, but at this point we should be able to minimize the set of files that are included in the MSVC MSI. Right now, we drag in all the same binaries on both, even though the MSVC version clearly doesn't need all those GNU bits :-)

[2017-01-12 19:39] glennw commented on #14682
My suggestion would be to change Servo to work without using the WR APIs at all first. Then we could actually land this without any changes to WR. Once that work is done, we could remove the deprecated WR APIs as a follow up, which will then have no effect on Servo since they are unused.

[2017-01-12 19:41] jdm opened #14987 "Create a safe, straightforward API to capture JS stacks"
https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/jsapi.h#L5895-L6039 looks like it gives us the building blocks we need in C++. We should make it as easy to capture JS stacks as possible and use them to help us debug problems with web compatibility.

[2017-01-12 19:46] tormeh commented on #14975
Can I claim this? I have no experience with Servo (except testing) and little with Rust, so if it needs to be done quickly then I'm probably not the correct person...

[2017-01-12 19:48] jdm opened #14988 "Print JS exception stack when reporting errors"
This looks like it will require [ExceptionStackOrNull](https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/jsapi.h#L5479-L5487) and [BuildStackString](https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/jsapi.h#L6019-L6032).

[2017-01-12 19:51] jdm commented on #14975
Please do! There's no rush, and the actual code changes will happen in the [html5ever](https://github.com/servo/html5ever/) repository.

[2017-01-12 19:53] jdm commented on #14975
To see how Servo uses the html5ever [serializer](https://github.com/servo/html5ever/blob/master/src/serialize/mod.rs), look at [Element::GetInnerHTML](https://github.com/servo/servo/blob/6e26197c069d8dc3e186e48e5a04ed6298b43066/components/script/dom/element.rs#L1870-L1874) and related code in the [HTML parser serialize implementation](https://github.com/servo/servo/blob/6e26197c069d8dc3e186e48e5a0

[2017-01-12 19:58] asajeffrey commented on #14988
The stack will be stripey, alternating Rust stacks with JS stacks. Is there a way to replace each of the JS stacks (where we currently report the C/C++ stack from SM) with the JS stack?

[2017-01-12 20:01] asajeffrey commented on #14988
Also, are there privacy concerns with including the JS stack?

[2017-01-12 20:10] KiChjang commented on #14965
@jdm has indicated that since the question_mark syntax is stable, he is ok with the changes from try! to ?. I don't think @nox has any objections as well.

[2017-01-12 20:14] jdm commented on #13879
We should probably try a model of one canvas thread per script thread instead.

[2017-01-12 20:19] jdm commented on #14988
When I say reporting errors, I mean the code that calls println! to report them to the terminal. That's all.

[2017-01-12 20:20] jdm commented on #14988
Also SM doesn't have any functionality to report C++ stacks.

[2017-01-12 20:20] asajeffrey commented on #14988
OK, not included in the crash report then. False alarm.

[2017-01-12 21:18] SimonSapin commented on #14965
I’ve wanted to do that in `components/style`, just haven’t gotten around to.

I suspect this change will touch many files and so be somewhat disruptive. We should coordinate with other large changes landing around the same time to avoid too much bitrot.

[2017-01-12 21:24] nox commented on #14965
I, for one, welcome our new `?` overlord.

[2017-01-12 22:57] leoschwarz opened #14993 "Mibbit IRC doesn't work"
1. Launch servo `./mach run "https://chat.mibbit.com/?server=irc.mozilla.org&channel=%23rust"`
2. Click the "go" button and wait. (<10s in release mode, <2min in dev mode)

Leads to Servo freezing/crashing and output similar to: [Release](https://gist.github.com/leoschwarz/e98974937b41e42e5fb3d43ea0da23ee) • [Debug](https://gist.github.com/leoschwarz/11aeed50062143504261708ed968ac39)

[2017-01-12 23:07] jdm commented on #14993
I haven't even seen anything besides a gray screen rendered in a debug build. Very peculiar.

[2017-01-12 23:33] asajeffrey opened #14996 "Cross-origin window.parent"
At the moment, a cross-origin `window.parent` returns the `WindowProxy` of the current browsing context, rather than the parent's browsing context. We should always return the parent's `WindowProxy`, it's not until accessing its properties that we should get a security error.

Related to #2382. cc @jdm @Ms2ger @bholley @avadacatavra.

[2017-01-13 00:00] lukehutch commented on #13879
Er, you totally got me there ;-)

[2017-01-13 01:45] paulrouget commented on #14919
Fixed by https://github.com/browserhtml/browserhtml/pull/1263

[2017-01-13 01:45] #14919 closed

[2017-01-13 02:01] dpyro opened #14998 "[SSL: CERTIFICATE_VERIFY_FAILED] when attempting to update rustc"
Trying to rebuild in my git checkout:
[code]

This seems to happen for any mach command besides none and `help`. It continues to happen even if I do the web rust install script. This setup had worked before, but perhaps an openssl or even MacOS  update broke it.

[code]
[code]

I am using a Macbook Pro 2012 with macOS 10.12 and homebrew.

[2017-01-13 02:53] rzambre opened #15000 "Error with Android packaging"
Following the Building for Android wiki, cross-compilation for Android on Ubuntu works well! But I'm running into this error in the last step while packaging.

      [dex] input: /home/rzambre/servo/target/arm-linux-androideabi/release/apk/bin/classes
      [dex] input: /home/rzambre/servo/target/arm-linux-androideabi/release/apk/libs/blurdroid.jar
      [dex] Pre-Dexing /home/rzambre/servo/target

[2017-01-13 03:23] #14952 closed

[2017-01-13 03:39] rzambre commented on #15000
I got past the above error by setting the jdk version to 1.7 instead of 1.8 but now I'm running into this error. From reading up on StackOverflow, it seems like I need to somehow set the build-tool-version to 23.0.3 but, following the wiki, I made sure I used 23.0.3 with ```tools/android```. Any ideas on what I should try out next?

      [dex] input: /home/rzambre/servo/target/arm-linux-androidea

[2017-01-13 04:05] upsuper opened #15001 "Fix computation of {align,justify}-{content,items,self} (and add parsing / serialization if necessary)"
It seems there are relatively complicated rules for computed value of those 6 properties, and currently Stylo's result of them seems to be mostly wrong.

Please see Gecko's [test_align_justify_computed_values.html](https://dxr.mozilla.org/mozilla-central/rev/048240a074e841c425a4da4707cf8e353074ec1d/layout/style/test/test_align_justify_computed_values.html) as a reference.

[2017-01-13 04:07] upsuper commented on #15001
It seems some of the properties are either not implemented (`justify-{items,self}`), or not implemented for geckolib (`justify-content` and `align-content`).

[2017-01-13 05:33] jdm commented on #15000
cc @mmatyas @dati91

[2017-01-13 05:39] fabricedesre commented on #14919
That still needs a cargo update in servo no?
https://github.com/servo/servo/blob/master/Cargo.lock#L233 still points to https://github.com/browserhtml/browserhtml/commit/cbb020096c77f5d2547e575c0e19003a6d2a614a

[2017-01-13 05:52] paulrouget commented on #14919
Yep. Thanks for the PR.

[2017-01-13 06:09] upsuper opened #15004 "Should not serialize shorthand when it is partly inherit or initial"
Try the following code:
[code]

Servo outputs: `dotted dotted dotted inherit`, while it should be empty, because part of the shorthand is `inherit`. This also applies to other CSS-wide keywords `initial` and `unset`.

[2017-01-13 07:07] tydus101 commented on #14960
Quick naming convention question: For `max_session_history` as a pref, is `dom.document.max_session_history` alright?

[2017-01-13 07:14] upsuper opened #15006 "Attribute selector should treat values of some attributes as case-insensitive"
See [Case-sensitivity of selectors secion in the HTML spec](https://html.spec.whatwg.org/multipage/scripting.html#case-sensitivity-of-selectors), values of some attributes need to be treated as case-insensitive when applying attribute selector.

Servo currently doesn't match this requirement.

[2017-01-13 09:42] dati91 commented on #15000
check this https://github.com/servo/servo/issues/13154#issuecomment-256931616

"[dx] Exception in thread "main" java.lang.UnsupportedClassVersionError: com/android/dx/command/Main : Unsupported major.minor version 52.0"
these lines mean you probably compiling with java 8 or above

[2017-01-13 12:29] avadacatavra opened #15008 "Make mach print stuff when there's a build error and overrides present"
It's difficult to figure out what went wrong when there's a build error with an overridden dependency

[2017-01-13 13:02] avadacatavra commented on #15008
the error I had was a version mismatch. it would be great if mach were able to output that

[2017-01-13 13:04] highfive commented on #15008
cc @wafflespeanut

[2017-01-13 13:14] avadacatavra commented on #14203
I've been working off @frewsxcv's branch to rebase and resubmit the pr with a few customizations servo needs

[2017-01-13 13:16] avadacatavra opened #15010 "Bump to hyper 0.10"
Blocked on #14203

This removes the dependency on openssl and cookie

[2017-01-13 13:28] jdm commented on #14960
I would go with `session_history.max_length`.

[2017-01-13 14:16] Ms2ger commented on #15006
Do we have tests?

[2017-01-13 14:35] upsuper commented on #15006
Gecko has a preliminary test for this: https://dxr.mozilla.org/mozilla-central/source/layout/style/test/test_bug357614.html

But I think it's worth writing a more complete one in wpt.

[2017-01-13 15:13] Ms2ger opened #15012 "Implement WebIDL record types"
https://heycam.github.io/webidl/#record-type

This is the new MozMap. See also <https://bugzilla.mozilla.org/show_bug.cgi?id=1330699>. We might want to hold off until the Gecko folks write tests for us.

[2017-01-13 17:33] prampey commented on #14906
@cbrewster Okay, so I added in this line in `handle_freeze_msg`:
`window.Document().fully_deactivate();`
Is that fine?

[2017-01-13 17:37] cbrewster commented on #14906
@prampey I would prefer if you changed:
[code]
to
[code]
and then access the window through the document `document.window()`.
This is just for the sake of keeping it consistent with `handle_thaw_msg`.

Thank you for working on this!

[2017-01-13 18:26] Wafflespeanut opened #15014 "Move tidy's `BLOCKED_PACKAGES` list to its config"
It was added in #14351, but it should be in `servo-tidy.toml` along with the other configurable things.

Code: `python/tidy/servo_tidy/tidy.py`

[2017-01-13 18:26] highfive commented on #15014
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-13 18:30] blasrodri opened #15015 "Cannot click on anything"
I tried downloading Servo on the website, for Mac OS.
Every time I try to click anywhere inside the Window, I get no response.

System
Intel(R) Core(TM) i7-5650U CPU @ 2.20GHz

[2017-01-13 19:02] glennw commented on #10274
@zmike Yup, we can do that. Would you mind opening an issue in the servo/webrender repo with the details? It's a bit easier to track WR work there. Is there an easy(ish) way for me to test that this is working when I make the change?

[2017-01-13 19:22] prampey commented on #14906
@cbrewster Oh yeah! Code looks more concise now. So this it:
[code]

[2017-01-13 19:22] cbrewster commented on #14906
@prampey looks good!

[2017-01-13 19:24] prampey commented on #14906
@cbrewster Awesome. I'll send in the PR.

[2017-01-13 19:42] rzambre commented on #15000
Thanks @dati91 ! I modified the local.properties file under release/apk/ to include ```sdk.buildtools=23.0.3``` but it seemed like that file was being regenerated when I call ```./mach package```. So I ended up just deleting the 25.0.2 folder under Android/Sdk/build-tools which I believe forced ant to use 23.0.3 and that worked :) the solution is to use Java 7 and force ant to use sdk build-tools

[2017-01-13 19:42] #15000 closed

[2017-01-13 19:45] prampey commented on #14906
#15016

[2017-01-13 20:19] jdm opened #15017 "Network errors on page loads don't show any error page"
Consider the behaviour of `./mach run http://aowiejfoiawjef -d` - you get a grey screen, followed by a layout panic whenever you try to quit the browser. This occurs because `ParserContext::process_response` calls `ScriptThread::page_headers_available`, which sees that there's no metadata available and therefore doesn't call `ScriptThread::load`. This means that no parser is created when `ParserCo

[2017-01-13 20:53] jdm commented on #14993
The grey screen is caused by #15017 and the fact that Servo (and presumably the version of openSSL that I'm using) can't connect to mibbit's HTTPS server - it claims an unexpected EOF occurs during the handshake.

[2017-01-13 20:58] jdm commented on #14993
On a different machine I can reproduce this problem. A backtrace from a debug build shows me:
[code]

[2017-01-13 21:55] rzambre commented on #14568
Are there certain websites that work well with Servo on Android?

[2017-01-13 22:05] jdm commented on #14993
The reason that the backtrace always shows a "Too many files" error under HTMLImageElement::SetSrc is that the page ends up creating image elements and loading https://s3.amazonaws.com/mibbit/gfx/mode_none.png and https://s3.amazonaws.com/mibbit/gfx/user.png until the end of time. Each time we set the source of an image we create a new IPC channel, which consumes a file descriptor.

[2017-01-13 22:25] rzambre opened #15019 "Servo on Android crashing upon launch"
I was able to successfully build and package Servo for Android but when I launch it either through ```adb``` or by tapping on it, it quits immediately for all websites that I have tried so far. With google.com, I wasn't able to reproduce the gray screen as in #14568. In ```adb logcat``` I'm seeing the shader compile errors as mentioned in servo/webrender#654. After packaging, I did a ```adb push``

[2017-01-13 22:26] jdm commented on #15019
I suspect that's due to https://github.com/servo/webrender/blob/7b7f44f6a66845abb0cc50e7133f975a5cbf725a/webrender/src/device.rs#L883 as suggested by the log.

[2017-01-13 22:54] cvan commented on #14627
Are there issues on file for this? I'm curious to learn more.

[2017-01-13 23:27] jdm opened #15021 "Implement transferable/cloneable objects"
Spec: https://html.spec.whatwg.org/multipage/infrastructure.html#transferable-objects, https://html.spec.whatwg.org/multipage/infrastructure.html#cloneable-objects

We currently do not pass pointers to JSStructuredCloneCallbacks when calling [JS_WriteStructuredClone](https://dxr.mozilla.org/servo/rev/9afd96024fc9cb3ea822e8d549f008e03177949b/components/script/dom/bindings/structuredclone.rs#31-37)

[2017-01-13 23:27] jdm commented on #14627
#15021

[2017-01-13 23:28] jdm commented on #15021
This support is necessary for the transferable arguments to `postMessage`, which allows sending complex DOM objects between the main thread and workers.

[2017-01-13 23:41] #14906 closed

[2017-01-14 01:17] dpyro commented on #14998
After some digging around, I found that `python mach` worked.

[code]

[2017-01-14 03:14] berliner commented on #15015
Same here:
macOS 10.12.2 (16C67)

[2017-01-14 07:30] cbrewster commented on #10893
Fixed by #11756

[2017-01-14 07:30] #10893 closed

[2017-01-14 07:32] cbrewster commented on #13254
Can no longer reproduce this.

[2017-01-14 07:32] #13254 closed

[2017-01-14 07:34] cbrewster commented on #12052
Fixed in #12250

[2017-01-14 07:34] #12052 closed

[2017-01-14 07:36] cbrewster commented on #11917
I havent seen this in while.

[2017-01-14 07:36] #11917 closed

[2017-01-14 07:37] cbrewster commented on #11846
Building now works with Xcode 8

[2017-01-14 07:37] #11846 closed

[2017-01-14 07:40] cbrewster commented on #11733
I can no longer reproduce this.

[2017-01-14 07:40] #11733 closed

[2017-01-14 07:41] cbrewster commented on #11647
I can no longer reproduce this.

[2017-01-14 07:41] #11647 closed

[2017-01-14 12:06] mdevlamynck commented on #15014
Hi, I'm interested in working on this, seems easy enough for a first contribution.

[2017-01-14 12:07] Wafflespeanut commented on #15014
Oh, please go ahead! :)

[2017-01-14 15:48] Verlet64 commented on #14500
I'm a little green with Rust, but this seems a good place to start. I can take it on.

[2017-01-14 16:24] mdevlamynck commented on #14982
I'll do it.

[2017-01-14 16:25] Wafflespeanut commented on #14982
Glad to hear! :)

[2017-01-14 16:31] #12446 closed

[2017-01-14 16:40] jdm commented on #14500
Great! Please ask questions if anything is unclear, and be sure to verify that the test works by deriving a Clone implementation for `TrustedPromise`.

[2017-01-14 16:55] cynicaldevil commented on #14682
I'm sending a resize message from layout to constellation in `compute_abs_pos_and_build_display_list` [here](https://github.com/cynicaldevil/servo/commit/c67eb63a50528e398164d8791eb70a420a52e02e#diff-3f7d107ffddc80c4e2783ca367c04189R975), where the layout thread also sends the display list to WR.

Later, I compare the size I sent in the message to constellation to the old size [here](https://githu

[2017-01-14 17:23] #15014 closed

[2017-01-14 17:46] jdm commented on #14682
I believe the problem is that sending the viewport size from layout to the constellation is self-fulfilling - the viewport is provided to layout by the script thread, and was provided to the script thread by the constellation. Instead, when layout encounters an iframe element and determines its size, it should inform the constellation of the iframe's dimensions for the pipeline contained inside of

[2017-01-14 18:32] jdm commented on #14967
@prampey Are you interested in working on this?

[2017-01-14 19:08] mdevlamynck opened #15025 "Build fails at mozjs_sys on Archlinux"
I get a build error when compiling mozjs_sys on Archlinux.
The dependencies listed in the README are installed.
This is the log file I get ```./target/debug/build/mozjs_sys-365f6a67e79262dc/out/config.log```.
[code]
I don't really know what else may help to track down this issue, please tell me if I can provide more information.

[2017-01-14 19:19] jdm commented on #15025
There are a lot of unusual linker errors in that output. What compiler and version are you using?

[2017-01-14 19:30] mdevlamynck commented on #15025
```ld -v``` outputs ```GNU ld (GNU Binutils) 2.27```

[2017-01-14 19:40] lnicola commented on #12125
Is it normal for text to look terrible?

[2017-01-14 20:14] jdm commented on #12125
Yes; native text rendering was added in https://github.com/servo/servo/pull/14153 but it's known to yield poor results at the moment.

[2017-01-14 20:29] canaltinova opened #15027 "Font shorthand should have `font-stretch` sub-property"
Spec: https://drafts.csswg.org/css-fonts-3/#propdef-font
According to spec, font shorthand should also have `font-stretch` longhand as it's sub-property but it doesn't [right now](https://github.com/servo/servo/blob/82835c8b1bb2183d6048c0b36f57933502d5281b/components/style/properties/shorthand/font.mako.rs#L7-L8). Font-stretch is implemented in servo. We just need to add it into shorthand.

[2017-01-14 20:59] highfive commented on #15027
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-14 22:35] vvuk commented on #12125
That should be largely fixed in webrender upstream - I don't know what
version servo is currently on. I'll check.

[2017-01-14 22:42] DominoTree commented on #14750
Finally got some time to play with this a bit - I think this is an issue with spacing being miscalculated - the inner divs seem to be rendered on top of the border

<img width="267" alt="screen shot 2017-01-14 at 5 31 45 pm" src="https://cloud.githubusercontent.com/assets/5438118/21958643/d962fb34-da80-11e6-9a38-6bce4286ab75.png">
<img width="244" alt="screen shot 2017-01-14 at 5 34 52 pm" src="ht

[2017-01-15 00:24] #14960 closed

[2017-01-15 07:07] karan1276 commented on #15027
hello @highfive @canaltinova, I have been doing a lot of javascript development. Very recently started working on compilers and browsers engines.

I would love to take up this issue, could you please help me a bit and link me to the files that will need changes?

Thanks a lot :)

[2017-01-15 09:31] canaltinova commented on #15027
@karan1276 Hi! Welcome and thanks for starting to work on it!

The file you need to change is `components/style/properties/shorthand/font.mako.rs
`.
Firstly, we need to add `font-stretch` as font's sub-property [here](https://github.com/servo/servo/blob/82835c8b1bb2183d6048c0b36f57933502d5281b/components/style/properties/shorthand/font.mako.rs#L7-L8).
After adding this, we should add parse and ser

[2017-01-15 10:09] fflorent commented on #15021
Hi @jdm! What are the requirements to be able to do take this issue?

Florent

[2017-01-15 10:09] karan1276 commented on #15027
@canaltinova Thanks for quick response. Well explained, ill take a shot at it and ask you if questions arise.

A little off topic, are there any books/tutorials/etc i can read to know more about the current practices web engines use, or does it all come with experiance? currently i am reading (this)[https://limpet.net/mbrubeck/2014/08/08/toy-layout-engine-1.html]

[2017-01-15 11:05] fflorent commented on #15010
May I take the issue if that's not too hard?

Florent

[2017-01-15 11:27] canaltinova commented on #15027
@karan1276 I can't recall much resource about it but you can find good resources in servo wiki pages. For example you can find [videos and presentations](https://github.com/servo/servo/wiki/Videos-and-presentations), [research documents](https://github.com/servo/servo/wiki/Browser-Engine-Research), [browser implementation design documents](https://github.com/servo/servo/wiki/General-implementation

[2017-01-15 12:55] karan1276 commented on #15027
@canaltinova cool thanks

[2017-01-15 16:03] jdm commented on #15021
Ability to read Gecko's C++ code (as linked in the original comment) and translate that into equivalent Rust code, mainly!

[2017-01-15 16:04] jdm commented on #15010
#14203 needs to be accomplished first, and @avadacatavra is working on that at the moment.

[2017-01-15 16:16] Ilphrin commented on #12675
Hi @jdm ! Well, I don't really know where to start ^^" I have built servo, and tried the basic example with -Z dump-flow-tree.

[2017-01-15 18:24] mdevlamynck commented on #15025
I'm guessing the linker errors are just the way configure.sh checks for some libraries.
If I'm not mistaken, the real issue is at the last line :
[code]
I didn't realize the log file and what ```./mach build``` prints differs.
[code]
It seems to confirm that the problem comes from determining the icu version number that fails.

[2017-01-15 19:41] mdevlamynck commented on #15025
Ok, so I have finally been able to build mozjs_sys :
* I cloned ```https://github.com/servo/mozjs``` and edited ```mozjs/js/src/old-configure``` to replace the ```[:space:]``` with ```[[:space:]]``` (https://github.com/mdevlamynck/mozjs/commit/5ef4c7d652f448e98b02dd0526aa0ee4aee7d1ae)
* Back in servo I told cargo to use the local mozjs_sys repo

[2017-01-15 20:10] tormeh commented on #14975
Hmm... This bug is tagged with "C - has test", but when I run "cargo test" all the tests pass. Is the test wrong? And the code says that the contents of a script tag should not be escaped (i.e. let script = false;), while this thread and the title says they are. What am I missing?

[2017-01-15 20:18] jdm commented on #14975
The `has test` label means that the issue contains a minimal testcase that reproduces the problem. It still needs to be turned into a testcase that will run as part of `./mach test-wpt` (as suggested in [this comment](https://github.com/servo/servo/issues/14975#issuecomment-272187395)).

[2017-01-15 20:19] jdm commented on #14975
[This comment](https://github.com/servo/servo/issues/14975#issuecomment-272184456) explains the case in which the code does not operate correctly and chooses to escape the element contents when it should not.

[2017-01-16 00:12] upsuper opened #15032 "`font` shorthand property needs to support system font"
Servo's font property currently only parses things for its subproperties. However, there are several special keyword values for `font` shorthand called "system font" which can only be set as a whole.

The spec currently defines six system fonts `caption`, `icon`, `menu`, `message-box`, `small-caption`, `status-bar`, that Servo should support.

See https://drafts.csswg.org/css-fonts-3/#propdef-font

[2017-01-16 00:28] upsuper opened #15033 "`font` shorthand should reset `font-size-adjust`, `font-kerning`, `font-language-override` etc. even if those longhands cannot be set via the longhand"
Per spec, many of other longhand font properties need to be reset when setting `font` shorthand.

See https://drafts.csswg.org/css-fonts-3/#propdef-font

[2017-01-16 00:32] upsuper opened #15034 "`font-variant` should be a shorthand of many font variant properties"
Per spec there are lots of font variant properties: https://drafts.csswg.org/css-fonts-3/#propdef-font-variant and `font-variant` is a longhand for them.

Note that `font` property should only accept the font variant accepted by CSS 2.x, so anything newly defined in CSS Fonts Module Level 3 should not get parsed when parsing the `font` shorthand.

[2017-01-16 00:35] upsuper opened #15036 "`font` shorthand should be serialized to empty when some of its subproperties have non-default value"
There are many subproperties of `font` shorthand which cannot present in `font` shorthand (see #15033). When any of those properties have non-default value, `font` shorthand should be serialized to empty string.

[2017-01-16 00:56] upsuper opened #15037 "Servo incorrectly parses inexhausted input for setting properties via CSSOM"
If you do `elem.style.fontSize = "24px;"` or `elem.style.setProperty('font-size', '24px; font-family: serif')`, Servo would happily accept it, while they are actually invalid.

The fix is simple...
[code]

but writing a complete test is hard...

[2017-01-16 01:07] shinglyu commented on #12675
Hi @Ilphrin !

So first, you can found how the `dump-flow-tree` works [here](https://github.com/servo/servo/blob/68a8e1bf2b57afe9bf6c4fb295bdc5dca099a9f6/components/layout_thread/lib.rs#L1508). Then you'll need to change that to use `serde_json`'s `to_value()` and `to_string()` to format that [as we did for `trace-layout`](https://github.com/servo/servo/pull/13740/files#diff-956b4fa8bd8e37399f868f

[2017-01-16 03:09] KiChjang commented on #15021
This would be a nice thing to have for `MessagePort` as well. We currently have some code that deals with structured clones in `components/script/dom/bindings/structuredclone.rs`.

[2017-01-16 06:21] SimonSapin commented on #15037
There’s a `parser.parse_entirely(|parser| something that returns Result<_, ()>)` convenience method that does this.

[2017-01-16 08:34] paulrouget commented on #15015
I confirm. Seems to be browserhtml specific.

Looking at it.

[2017-01-16 09:49] mdevlamynck commented on #15025
After some testing on different distros I have an explanation for why this problem only occurs on a few machines.

So the problem is the ```[:space:]``` in the sed command to get the icu version number. It should be ```[[:space:]]```. In sed 4.3, sed complains with ```sed: character class syntax is [[:space:]], not [:space:]```. But in prior version (tested with sed 4.2.2) sed doesn't complain and

[2017-01-16 09:50] prampey commented on #14967
@jdm So you want me to handle the error explicitly, instead of letting it panic right?

[2017-01-16 10:13] mmatyas commented on #14568
None at all. The best I've got is `github.com`, where the background image and two button rectangles load correctly.

[2017-01-16 10:15] Ms2ger opened #15043 "Review the interation of spnning the event loop and the script settings stack"
<https://html.spec.whatwg.org/multipage/webappapis.html#spin-the-event-loop> has this "Empty the JavaScript execution context stack." step that, I believe, is handled in Gecko by `AutoNoJSAPI`. We should check if we need to implement this too.

[2017-01-16 10:16] Ms2ger commented on #15043
CC @bzbarsky

[2017-01-16 11:02] mmatyas commented on #15019
Several shader patches landed in webrender recently, which are not yet available in the release used by Servo. Updating webrender to the latest version will likely fix this issue (if not, please report it!).

[2017-01-16 11:17] paulrouget commented on #15015
Regression caused by #14291

[2017-01-16 11:44] Ms2ger commented on #14967
What does the spec say? I imagine it supports this, but I'm not quite sure what the expected behaviour is. (It looks like the spec uses DOM events now; not sure if our implementation does to.)

[2017-01-16 12:16] Ms2ger commented on #15025
This was fixed upstream in <https://hg.mozilla.org/mozilla-central/rev/ebcbf47a83e7d3b89460cf1c991b6be5a79a967b>. I'll cherry-pick the fix.

[2017-01-16 12:17] Ms2ger commented on #13096
Fixed in #15041.

[2017-01-16 12:17] #13096 closed

[2017-01-16 12:32] paulrouget commented on #15015
This happens with or without browserhtml, at least on github.com.
We can't click on forms or links.

/cc @fiji-flo @pcwalton

[2017-01-16 12:42] upsuper opened #15045 "min-{width,height} should support "auto" value"
As specified in css-flexbox spec: https://drafts.csswg.org/css-flexbox-1/#min-size-auto

[2017-01-16 13:25] emilio commented on #15015
I find surprising that no test caught this. huh.

I think I know why that is, we're translating the point multiple times in the presence of multiple stacking contexts (not necessarily nested) while hit testing.

[2017-01-16 13:32] fiji-flo commented on #15015
Indeed. That's a mistake I made when I was trying to deduplicate some shared code. So making the translated point mutable not good. I'll take care of this. I'm really sorry for causing this regression.

[2017-01-16 13:37] emilio commented on #15015
Oh, sorry, I already published https://github.com/servo/servo/pull/15047. Can be polished quite a lot (I'm on exams so I haven't had the time to do so). Feel free to do it if you want, or grab my commit and improve on it.

[2017-01-16 14:00] fiji-flo commented on #15015
Yeah, I'm already compiling my fix. I'll try to have something polished. Thanks a lot.

[2017-01-16 14:58] jdm commented on #14967
https://drafts.csswg.org/cssom-view/#evaluate-media-queries-and-report-changes just says iterate over all the media query list objects for a document and evaluate if their matching status changed. That means we need to support this case by allowing the `change` event to append new elements to the list of known media query list objects.

[2017-01-16 15:20] cynicaldevil commented on #14682
@jdm What do you mean by pipelines contained inside the iframe?

[2017-01-16 15:52] jdm commented on #14682
An iframe embeds one document inside of another. Each document has a corresponding pipeline, therefore there is a pipeline associated with the child document embedded in the iframe.

[2017-01-16 17:53] jrmuizel opened #15050 "Clicking doesn't work after the initial load on OS X 10.9"
STR:
- Click on the hackernews box on the front page
- Try to click on any of the links on hacker news
- No clicks work

[2017-01-16 18:00] jdm commented on #15050
Duplicate of #15015.

[2017-01-16 18:00] #15050 closed

[2017-01-16 18:40] jdm opened #15051 "Add a flag to make debugging compiled event handlers easier"
[This](https://gist.github.com/jdm/e9ddf21af8c3151a859d63e6035fa21b) is a patch that I wrote which makes the following code easier to debug:
[code]
Without that patch, the error is reported as occurring on line N of the file that contains the setAttribute call, and N is the line number inside the inline JS that triggers the exception (which is often 1 since there are rarely linebreaks). With the p

[2017-01-16 19:11] #14447 closed

[2017-01-16 22:29] jdm opened #15052 "Avoid include! in generated DOM bindings"
It works fine on mac, but on Windows and Linux it messes with the debug symbols so any line from the included file is mapped to the actual `include!`. This makes stepping through the generated DOM bindings glue impossible on non-mac platforms.

[2017-01-16 22:36] jdm commented on #15052
The problem here seems to be that we need to make use of code that is generated in the target directory we can only reach via the OUT_DIR environment variable :(

[2017-01-16 22:36] SimonSapin commented on #15052
This sounds like a compiler bug (though we can still do this work around until that bug is fixed). Have you filed it on rust-lang/rust?

[2017-01-16 22:44] jdm commented on #15052
That's #36382.

[2017-01-16 22:46] jdm commented on #15052
It seems like building with `-Z debug-macros` could be a workaround here.

[2017-01-17 00:12] upsuper opened #15054 "Declaration must be ignored if it includes CSS-wide keyword as part, but not whole, of it"
For example the following code:
[code]

The declaration of `font-family` must be dropped because [the CSS-wide keyword `initial` is not a valid `<custom-ident>`](https://drafts.csswg.org/css-values-3/#custom-idents).

There are also examples that CSS-wide keywords is accepted as something other than `<custom-ident>`:
[code]

In the example above, the `initial` value should not be accepted at all g

[2017-01-17 00:13] upsuper commented on #15054
This seems to be a fundamental issue in CSS parser of Servo.

@SimonSapin could you have a look at this issue?

[2017-01-17 00:16] emilio commented on #15045
cc https://github.com/servo/servo/pull/14332

[2017-01-17 00:19] upsuper commented on #15004
I guess this is somehow related to #15054 but should be separate issue, since this is for serialization, while the other is for parsing.

[2017-01-17 00:22] upsuper opened #15055 "Support shorthand property "all""
`all` is a shorthand property defined in [css-cascade spec](https://drafts.csswg.org/css-cascade-3/#all-shorthand) to set almost all of properties at the same time to a given CSS-wide keyword. So it is mainly a style system thing, which doesn't require any layout support.

[2017-01-17 00:32] emilio opened #15057 "Check newly written tests with the WPT / CSSWG linter."
Spawn off from https://github.com/servo/servo/pull/14989#issuecomment-272987822, we should probably check that our tests pass the standard lints that WPT (or CSSWG at least) have.

See for example: https://github.com/w3c/csswg-test/pull/1155#issuecomment-262580941

What do you think @jdm @Ms2ger @jgraham?

@Wafflespeanut would you be interested in integrating it with tidy?

[2017-01-17 00:35] emilio opened #15058 "Check the tests in tests/wpt/mozilla and check which tests are upstreamable to WPT / CSSWG."
Also spawned off https://github.com/w3c/csswg-test/pull/1155#issuecomment-262580941, I think there are quite a lot of tests that we can and should upstream to WPT / CSSWG.

The tests under the mozilla and mozilla/css directories have grown, so this is not a small task, though.

cc @jdm @Ms2ger

[2017-01-17 00:38] emilio commented on #15058
The link above should be https://github.com/servo/servo/pull/14989#issuecomment-272992021, of course.

[2017-01-17 00:40] frivoal commented on #15057
CCing @gsnedders, the CSSWG's resident test guru.

[2017-01-17 00:40] frivoal commented on #15058
CCing @gsnedders, the CSSWG's resident test guru.

[2017-01-17 01:20] #15015 closed

[2017-01-17 01:47] upsuper opened #15059 "font-family parsing-serialization is not idempotent with quotes"
See the following code:
[code]

It shows `"times new roman` which is a different value from `\"times new roman`.

[2017-01-17 01:53] upsuper commented on #15059
In addition, values like `\035 simple` (which is valid) would be serialized (or parsed) to `5simple` (which is invalid since identifier cannot start with number), which is wrong.

[2017-01-17 01:54] Manishearth opened #15060 "Reduce unnecessary allocations in parse_property_declaration_list"
`parse_property_declaration_list` has some allocator churn

[The function](﻿https://github.com/servo/servo/blob/a4551d0ceea8f2aceb68775452ea3010760f2825/components/style/properties/declaration_block.rs#L556-L578) works by iterating through the parsed declarations.

However, each iteration produces a `Vec<(PropertyDecl, Importance)>`, which is read from an immediately destroyed. These are of length

[2017-01-17 01:55] upsuper commented on #15059
This seems to be an issue probably need to fix in the css parser in conjuction with font-family parsing code. I suspect this may need some deeper change in the parser, though I'm not completely sure.

cc @SimonSapin

[2017-01-17 02:02] upsuper commented on #15059
Some additional cases:
* `simple\02cinitial` should not be serialized to `simple,initial`
* `simple, \02cinitial` should not be serialized to `simple, ,initial`
* `\@simple` should not be serialized to `@simple`

We probably want to migrate Gecko's [test_font_family_parsing.html](https://dxr.mozilla.org/mozilla-central/source/layout/style/test/test_font_family_parsing.html) to wpt.

[2017-01-17 03:01] jdm commented on #15057
We already integrate the WPT linter. I think there's some belief that the requirements of the CSSWG testsuite are more effort than they're worth in terms of upstreaming.

[2017-01-17 03:18] Manishearth opened #15061 "Make PropertyDeclaration tinier"
We should be doing more boxing here. It's more than a thousand bytes of inline space (`mem::size_of`)  right now.

Properties larger than 10 bytes in Servo:

<details>

[code]
</details>
<br><br>
Properties larger than 10 bytes in Stylo:
<details>

[code]
</details>
<br><br>

In particular, `clip` and `clip-path` are huge. We should determine a cutoff and start boxing there. Possibly do the same f

[2017-01-17 03:28] Manishearth commented on #15061
These are the sizes for the computed values

<details>
216 / clip-path
120 / border-image-source
80 / border-image-width
72 / text-overflow
48 / list-style-image
48 / -moz-binding
40 / grid-row-start
40 / grid-row-end
40 / grid-column-start
40 / grid-column-end
36 / transform-origin
32 / text-emphasis-style
32 / perspective-origin
32 / cursor
32 / content
32 / border-top-right-radius
32 / border-t

[2017-01-17 03:32] upsuper opened #15062 "Add a test for blockifying behavior"
#15056 fixed a bug in blockifying display value, but that doesn't add a test for it.

We should consider adding a complete test to check all combination of cases which want blockifying and different display values, probably to wpt.

Gecko's [test_flexbox_child_display_values.xhtml](https://dxr.mozilla.org/mozilla-central/source/layout/style/test/test_flexbox_child_display_values.xhtml) could be a

[2017-01-17 04:23] #15025 closed

[2017-01-17 06:54] Manishearth commented on #15061
https://github.com/servo/servo/pull/15065 tackles this by boxing CalcLOP. https://github.com/servo/servo/pull/15063 also just makes CalcLOP smaller.

[2017-01-17 06:56] paulrouget opened #15066 "Is components/servo dependency on browserhtml necessary?"
Is https://github.com/servo/servo/blob/363f590019e495fffab0cc0fa0464e05d2fc96e8/components/servo/Cargo.toml#L27 necessary?

I would imagine that https://github.com/servo/servo/blob/363f590019e495fffab0cc0fa0464e05d2fc96e8/ports/servo/Cargo.toml#L40 is enough.

[2017-01-17 07:16] jdm commented on #11559
I have Servo building with a custom jemalloc-based allocator with some [small changes](https://gist.github.com/jdm/0d8e688aa29f855b225f6634f44c4d19). In particular, we need to use permanent forks of the [libc](https://github.com/jdm/libc/tree/no-use-std) and [memchr](https://github.com/jdm/rust-memchr/tree/no-use-std) crates that disable their attempts to re-export the std crate.

[2017-01-17 08:02] paulrouget opened #15068 "Building libservo: compilation error: Perhaps two different versions of crate `core_graphics` are being used?"
I'm trying to use servo in an external project. I use:

[code]

I get this compilation error:

[code]

[2017-01-17 08:12] jdm commented on #15068
Do you have an override for webrender?

[2017-01-17 08:13] jdm commented on #15068
Actually, what happens if you downgrade the version of core-text to 2.0.0?

[2017-01-17 08:18] paulrouget commented on #15068
No.

Isn't it already 2.0.0?

[2017-01-17 08:25] mdevlamynck commented on #14982
@jdm do you have a suggestion as to how to make sure servo is launched in software rendering mode ?

I've come up with theese changes (https://github.com/mdevlamynck/servo/commit/091927be4025f746c25cea9e0d93b8d41b80f79c) but to be honest I have no idea if this actually works or not.

[2017-01-17 08:53] SimonSapin commented on #15055
The naive way to implement this would be literally as described: expand it at parse time to hundreds of longhand declarations and cascade all of these.

But that sounds expensive, and it’s probably possible to be smarter about it. What does Gecko do?

----

Note:

https://drafts.csswg.org/css-variables/#defining-variables

[2017-01-17 08:58] gterzian commented on #15021
Is someone already working on this one? If not, I would be happy to give it a try...

[2017-01-17 09:08] SimonSapin commented on #15060
I’ve been meaning to try the first option. It probably involves adding a `&'a mut Vec<PropertyDeclaration>` field to `struct PropertyDeclarationParser<'a, 'b: 'a> { … }` in `declaration_block.rs`.

[2017-01-17 09:11] SimonSapin commented on #15061
Thank you for doing this analysis. Boxing data in large enum variants to make the enum smaller sounds good. As you said though, computed values are not typically used in enums so boxing them wouldn’t help much with total memory usage, I think.

[2017-01-17 09:25] Ms2ger opened #15070 "Panic in CallbackObject::drop() during JSRuntime destruction"
We have

[code]

which panics with `!global.is_null()`. Stack:

[code]

I would suggest using `Runtime::get()`, but it currently does

[code]

so we'd need to reorder that.

Seen in <http://build.servo.org/builders/mac-rel-wpt2/builds/1956> (`/_mozilla/mozilla/mozbrowser/private_browsing.html` on #15063).

CC @jdm

[2017-01-17 10:19] Ms2ger commented on #15058
Upstreaming to wpt is an excellent idea; there's still a number of tests there that I semi-automatically converted from our old "content test" harness. Let's hold off on upstreaming to csswg-test until https://github.com/w3c/csswg-test/issues/1102 is done, though.

[2017-01-17 10:27] upsuper commented on #14957
Looks like the upgrade is eventually done in #15042. Thanks @Ms2ger.

[2017-01-17 10:27] #14957 closed

[2017-01-17 10:31] Ms2ger commented on #15068
I imagine your code is not using Servo's `Cargo.lock`; you will most likely need to ensure the versions cargo picked match it (in particular for the git dependencies).

[2017-01-17 10:43] emilio commented on #15055
If we see the `all` property it seems we could do the following:

 * If the value is `inherit`, drop all our computed styles right now, and just clone the parent one, which is easy (except we need to `unicode-bidi` and direction if they were specified).
 * If the value is `initial`, do the same, just cloning from the default computed values instead.
 * If the value is `unset`, clone individual str

[2017-01-17 10:57] Ms2ger commented on #15066
I hope you're right; want to try removing it and checking if b.html still works as intended?

[2017-01-17 11:14] SimonSapin commented on #15055
There’s two separate phases: parsing, which is when other shorthands are expanded into their longhands, and cascading. So far, longhand declarations expanded from the same shorthand declaration casacde separately. But maybe we can treat `all` differently and have an `All` variant in the `PropertyDeclaration` enum? (Which so far only contains longhands and custom properties.)

[2017-01-17 11:15] emilio commented on #15055
Yeah, that looks reasonable to me, and it's what I had assumed when writing my comment above.

[2017-01-17 11:30] Integralist commented on #14322
Thanks for the update @zfogg

I pulled down the latest version of `master`, then executed `git submodule update --init --recursive`.

Next I executed `./mach build -r --verbose` again but received this error response...

[code]

[2017-01-17 11:55] paulrouget commented on #15068
Using Servo's Cargo.lock works.

Thank you.

[2017-01-17 11:55] #15068 closed

[2017-01-17 13:04] Ms2ger opened #15075 "assertion failed: !self.scroll_roots.contains_key(&scroll_root.id)"
[code]

[code]

[2017-01-17 13:17] jdm commented on #15075
Duplicate of #14574.

[2017-01-17 13:17] #15075 closed

[2017-01-17 13:20] jdm commented on #15021
Let's give @fflorent the right of first refusal here.

[2017-01-17 13:22] jdm commented on #15070
I've been seeing this locally when running:
[code]
with `--userscripts`.

[2017-01-17 13:24] jdm commented on #14982
@glennw Any idea about the previous question?

[2017-01-17 13:28] jdm opened #15076 "Travis builds fail due to lack of space during test-unit"

[2017-01-17 13:28] highfive commented on #15076
cc @aneeshusa

[2017-01-17 13:45] Ms2ger opened #15079 "Called `Result::unwrap()` on an `Err` value: "SendError(..)" in Window::force_reflow on shutdown"
[code]

That's
[code]

[2017-01-17 13:46] jdm commented on #15079
Usually this would occur when the layout thread panics first.

[2017-01-17 13:48] jdm commented on #15079
Oh wait, this might happen when a pipeline is closed but a transition event is received afterwards.

[2017-01-17 13:49] jdm commented on #15079
The transition event should really include a PipelineId so we can detect if it's targeting a closed pipeline.

[2017-01-17 13:58] #10963 closed

[2017-01-17 16:13] #14574 closed

[2017-01-17 16:34] Ms2ger commented on #2818
Seems fixed.

[2017-01-17 16:34] #2818 closed

[2017-01-17 17:39] jdm opened #15082 "User scripts don't apply correctly in about:blank"
Our implementation of user scripts appends `<script src='file://...'></script>` to the `<head>` element in every document is parsed. This breaks the synchronous nature of `about:blank`, since that's an asynchronous network request that interrupts parsing. I have a patch that embeds the user script source as an inline script instead.

[2017-01-17 17:52] jdm commented on #15082
[code]

[2017-01-17 18:07] nical opened #15084 "Decode images using a 32 bits RGB format instead of 24bits."
The problem with 24 bits rgb is that it is not very well supported. OpenGL exposes it but looks like only intel handles it somewhat properly and D3D does not expose it which is an issue if servo ends up running WebRender over ANGLE on windows (I don't know if that's the plan or not, but it is the current plan for gecko).

cc @glennw

[2017-01-17 18:28] KiChjang commented on #15021
I'd also highly encourage the person to work on this discuss the implementation plan here first before attempting.

[2017-01-17 19:30] cynicaldevil commented on #14682
I don't know if I understood this right, but we were checking whether there was a mismatch in the old and new sizes and updating the frame size itself. Why do we want to update the children's sizes in this refactor?

[2017-01-17 19:38] jdm commented on #14682
For a document A that contains an iframe embedding document B, there are two layout threads. The viewport size of document B depends on the size of the iframe calculated by the layout thread for document A. In Servo master, the layout thread for document A sends a display list to the compositor that includes the iframe size, and at some point WebRender sees this and checks whether that iframe chan

[2017-01-17 19:50] #15066 closed

[2017-01-17 19:51] cynicaldevil commented on #14682
Doesn't layout thread send the display list to WR instead of the compositor?

[2017-01-17 19:54] jdm commented on #11559
Next step is to figure out the parts of http://dxr.mozilla.org/mozilla-central/source/memory/replace/dmd/DMD.cpp that need to be ported.

[2017-01-17 20:55] jdm commented on #14682
That may be the case, yes.

[2017-01-17 21:00] cynicaldevil commented on #14682
Ah, it makes sense now. Thanks!

[2017-01-17 22:09] fflorent commented on #15021
Sure take it! :)

Florent

[2017-01-17 22:41] jdm opened #15085 "Promise rooting is not sound"
The second commit in #15080 exposes a crash that involves a `TrustedPromise` value that has been garbage collected by the time we try to turn it into a stack root once more. The backtrace shows a nursery GC occurring, which means that our trace hooks don't get called. The promise object is nursery-allocated, I guess, which would explain why it's GCed during the minor collection.

[2017-01-17 22:52] jdm commented on #15085
It may also be a case of the Promise object being moved out of the nursery, rather than collected. I don't know enough about SM to determine that yet.

[2017-01-17 23:00] #13325 closed

[2017-01-17 23:05] nnethercote commented on #11559
https://github.com/rust-lang/rfcs/issues/916 describes in detail my previous attempt at DMD for Servo. RFC 1183 may have changed things significantly -- I haven't looked closely at it -- but that issue would still be a good starting point for anyone wanting to work on this.

[2017-01-17 23:36] dati91 commented on #15085
If I can help you with this anyway just let me know!

[2017-01-18 00:09] rbtcollins commented on #12125
Can we link the msi on https://download.servo.org/ now?

[2017-01-18 01:26] upsuper opened #15086 "Keyword values of timing function should not be computed to bezier function"
Per [spec](https://drafts.csswg.org/css-transitions-1/#single-transition-timing-function), the computed value of timing function is same as specified value, and in both Gecko and Blink, the keyword values are perserved in computed value.

Test the following code:
[code]

In Gecko and Blink, both alerts show `ease`, while in Stylo, the first shows `ease` while the second shows `cubic-bezier(0.25, 0

[2017-01-18 01:47] hiikezoe commented on #15086
Yes, I've noticed this.  In my understandings, to resolve this we should pass the specified value to set_animation_timing_function() instead of computed one.  I guess we need to fix cascade_property() in helpers.mako.rs?  Or computed_value for transition_timing_function should have specified value.

[2017-01-18 01:49] upsuper commented on #15086
I guess for this value we don't need to distinguish computed value from specified value at all. They should simply have the same type.

[2017-01-18 01:50] avadacatavra opened #15087 "servoexperiments.com gives an ssl error"
nightly gives SSL routines: ssl3_get_server_certificate - certificate verify failed
my local build gives DEBUG:net::connector: Verification error: WebPKIError(UnknownIssuer)

In FF, the certificate hierarchy is:
* DST Root CA X3
    * Let's Encrypt Authority X3

When I look at the certificate chain in connector.rs, I see the Let's Encrypt Authority certificate, so I'll see if we have the appropria

[2017-01-18 01:54] upsuper opened #15088 "column-{gap,width} doesn't recognize keyword values"
See the following code:
[code]

In Gecko and Blink, it shows `normal` and `auto` correspondingly, while in Stylo (and presumably Servo as well), it shows `2px` and `4px` which indicates that the keyword values are treated as invalid and ignored.

I think the reason is that in "longhand/column.mako.rs", the definition of these two properties have `parse_method='parse_non_negative_length'` specified

[2017-01-18 02:03] Manishearth commented on #15088
Yep, they're implemented as predefined types; and will need to be converted to full enum-like impls.

[2017-01-18 02:09] avadacatavra commented on #15087
We do have the DST Root CA X3 certificate in our roots PEM, and the serial numbers match. I'll keep looking into why this is failing tomorrow.

[2017-01-18 02:32] Manishearth commented on #15060
Ugh, there's a problem here. `parse_property_declaration_list` creates a `Vec<(PropertyDeclaration, Importance)>`, whereas `PD::parse` operates on an `&mut Vec<PropertyDeclaration>`.

We cannot make `PD::parse` generic because of its codesize impact.

I will make `PD::parse` it operate on a `&mut Vec<(PD, Importance)>` with the statement that it doesn't set the importance. Aside from here it's onl

[2017-01-18 05:15] rzambre commented on #11828
Closing this issue since Servo release can be built with debug-symbols on.

[2017-01-18 05:15] #11828 closed

[2017-01-18 05:48] cbrewster opened #15093 "Document fully_activate may not be correct"
After rebasing #13781 on master, I now have tests failing due to `pushState`/`replaceState` operations being insecure. The document in the test should be fully active when these operations are taking place.

We may be missing some `freeze`/`thaw` messages?

[2017-01-18 07:45] SaschaNaz commented on #12125
Shouldn't #14494 be first fixed before nightly release?

[2017-01-18 07:53] gterzian commented on #15021
@fflorent thanks!

@KiChjang @jdm I'll take some time to look into this, and will come back to discuss the implementation first :)

[2017-01-18 08:04] elahn commented on #14494
Confirmed on Windows 10.0.14393 x64.

[2017-01-18 09:22] #12654 closed

[2017-01-18 12:46] mdevlamynck commented on #14982
@jdm Actually, doesn't the --headless flag already provide the feature you're asking for ?

[2017-01-18 13:02] Wafflespeanut commented on #14982
Nope. That runs servo in headless mode (in addition to setting the software rendering).

[2017-01-18 14:15] glennw commented on #14982
This piece of code (https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L262) prints out the GL version, renderer and vendor when running in headless mode.

We use this for debugging logs on CI machines. You could remove the if {} statement and always print this information temporarily. This will allow you to see if a hardware or software renderer is being created.

[2017-01-18 14:36] jdm commented on #12808
We should do this for passing tests as well. Let's make the default experience of test-wpt as intuitive as possible.

[2017-01-18 14:37] mdevlamynck commented on #14982
I did and it doesn't.

I have the feeling the ```GALLIUM_DRIVER=softpipe``` env var is only used when servo is running with osmesa (which is only used in headless mode). And it only occurred to me today that osmesa means offscreen mesa (if I'm not mistaken), which is an other way of saying headless, right ? Hence my previous question about the --headless flag.

[2017-01-18 15:02] Ms2ger commented on #15085
The js-side `Promise` object is indeed in the nursery when the `dom::promise::Promise` is created.

[2017-01-18 16:09] marcoms opened #15097 "assertion failed: !global.is_null()"
This happens when I manually enter URLs/search in the top bar. Is there any further info I should provide?

Platform: macOS 10.12.1 on MBP late 2011, using prebuilt app

assertion failed: !global.is_null()
### URL:

### Servo Version:
Servo 0.0.1-f010fb5
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-18 16:12] jdm commented on #15097
Is this consistently reproducible? What are the exact steps needed?

[2017-01-18 16:12] jdm commented on #15097
That being said, I bet this is caused by https://github.com/servo/servo/issues/15070.

[2017-01-18 16:18] tschneidereit commented on #15085
If the underlying JS `Promise` instances are created via JSAPI functions, we can add support for allocating them in the tenured heap easily. If not, then a more fundamental fix is needed.

I'm pretty sure that this will become relevant for `ReadableStream` and `WritableStream`, too once we have those.

[2017-01-18 16:20] cynicaldevil commented on #14682
@jdm `handle_frame_size_msg` now sends messages to children iframes [here](https://github.com/cynicaldevil/servo/commit/60b4612c261ef7a850c9dd8f07a0adb996a1dd0c#diff-55c92a6a5ba7654ce45fe6fc6c63740fR1329).

I tested `tests/wpt/mozilla/tests/mozilla/window_resize_not_triggered_on_load.html` and pasted the debug output [here](https://gist.githubusercontent.com/cynicaldevil/bafd87f9e8d3521e0163ac39a0

[2017-01-18 16:35] jdm commented on #15085
Yes, the instances are created via Promise::new which uses NewPromiseObject.

[2017-01-18 16:35] jdm commented on #15085
That sounds like it wouldn't work for WebIDL APIs that accept existing Promises, though, which could be created via `new Promise()` in JS.

[2017-01-18 16:41] tschneidereit commented on #15085
It wouldn't, no. Since that needs to be supported, `TrustedPromise` will have to be able to deal with tenuring, I'm afraid.

Oh, and I just realize that pre-tenuring wouldn't fully solve this, because compacting GC would still cause `Promise` instances to be moved.

[2017-01-18 16:48] jdm opened #15100 "Convert some low-interest debug! logging into trace!"
We have some uses of `debug!(...)` in the code that are rarely actually useful. They also occur _very_ frequently, and make the output of `RUST_LOG=debug` really difficult to read.

https://dxr.mozilla.org/servo/rev/1755ad7b75e056a534e12f375a6677f5c069f4c2/components/script/dom/bindings/conversions.rs#383-403
https://dxr.mozilla.org/servo/rev/1755ad7b75e056a534e12f375a6677f5c069f4c2/components/scr

[2017-01-18 16:48] highfive commented on #15100
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-18 18:38] jdm commented on #14682
If you want debug logs, it's better to select the modules that will actually be useful (eg. `RUST_LOG=constellation::constellation,layout::layout_thread,script::script_thread`). If you'd like assistance, please explain what you're having difficulty figuring out based on the logging output and what you expect to be seeing?

[2017-01-18 18:40] highfive commented on #12808
cc @wafflespeanut

[2017-01-18 18:41] jdm commented on #12808
The code for this lives in tests/wpt/grouping_formatter.py.

[2017-01-18 18:42] jdm commented on #12808
I think `test_end` is where the change needs to happen; we currently only get the output from a test if it had unexpected results.

[2017-01-18 18:42] highfive commented on #12808
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-18 18:50] nwjsmith opened #15101 "<link> elements need to clear any previous stylesheet before loading a new one"
assertion failed: self.stylesheet.borrow().is_none()
### URL:

### Servo Version:
Servo 0.0.1-f010fb5
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-18 18:54] jdm commented on #15101
@nwjsmith Do you know what page you were looking at when you encountered this?

[2017-01-18 18:57] nwjsmith commented on #15101
@jdm http://theinternate.com

[2017-01-18 18:59] #12595 closed

[2017-01-18 18:59] #12939 closed

[2017-01-18 19:14] Permutatrix opened #15102 "offsetParent never returns an inline element."
[code]

This can't be properly addressed until #13982 is fixed.

[2017-01-18 19:34] vvuk opened #15103 "Windows downloadable font support may need some fleshing out"
Windows downloadable font support added in #15096 has some limitations around the family/face name that may or may not need to be fixed.  Specifically, it only pulls out Mac-format (`platform_id == 1`) English names from the font container.  I'm not sure if the font family/face is relevant at all for downloaded fonts, though, because I believe the family name has to be specified in the `@font-face

[2017-01-18 19:39] jdm commented on #15101
[code]
Frame 3 is bogus; that's really HTMLLinkElement::set_stylesheet where the assertion lives.

[2017-01-18 20:04] jdm commented on #15101
The stack for `StylesheetLoader::load` shows the stylesheet is loaded when it is appended to the document:
[code]
However, it is then loaded again when its href attribute is mutated:
[code]
This ties in the work in #14930. We probably want to null out the stylesheet field before starting a load to avoid this assertion.

[2017-01-18 20:06] highfive commented on #15101
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-18 23:06] avadacatavra commented on #15087
Let's Encrypt Authority X3 should also be in our root certs: https://letsencrypt.org/certificates/

[2017-01-18 23:17] gaby2300 commented on #12125
Once downloaded, how do I proceed?

 Running servo-browserhtml.cmd opens a black window and the following
message shows up: "Windows cannot find the "servo" file. Make sure the name
is correct and try again"

I cannot find servo.exe to run. Do I have to install something else before,
aka the normal servo version?

Many thanks for your help!

On 10 January 2017 at 23:22, Maxim <notifications@github

[2017-01-18 23:26] BladeMight commented on #12125
No it is included in archive which you downloaded, you should just extract it in some folder and run `servo.exe` or `servo-browserhtml.cmd`, maybe there was problem with extract?(Or antivirus program)

[2017-01-18 23:41] gaby2300 commented on #12125
Sorry but there is no servo.exe file included in the download.

I cannot extract it. The download I get is a winzip file but right clicking
no context menu shows up so no way to extract.

Running servo-browserhtml.cmd opens a black window and the following
message shows up: "Windows cannot find the "servo" file. Make sure the name
is correct and try again"

On 18 January 2017 at 20:26, Maxim <noti

[2017-01-18 23:43] BladeMight commented on #12125
Use [7-zip](http://7-zip.org/).

[2017-01-19 00:00] gaby2300 commented on #12125
Done!

Regretfully running both servo.exe and servo-browserhtml.cmd just opens a
white window for only a few seconds and closes

On 18 January 2017 at 20:44, Maxim <notifications@github.com> wrote:

[2017-01-19 00:08] emilio opened #15105 "Audit the truetype crate."
I just took a quick look, what I saw looks reasonable and I opened https://github.com/bodoni/truetype/issues/5 to see the thoughts of the author.

This is just for tracking it, given it's a relatively exposed crate.

cc @vvuk

[2017-01-19 02:16] vvuk commented on #15105
Note that we need a very, very tiny part of TT parsing for the Windows code.  If there's any concern, it shouldn't be too much of a problem to implement just that bit.

[2017-01-19 02:53] #15060 closed

[2017-01-19 03:28] DexterHaslem commented on #15100
I'd like to work on this

[2017-01-19 03:37] jdm commented on #15100
Great! Ask questions here if anything is unclear!

[2017-01-19 06:25] #15100 closed

[2017-01-19 09:19] shinglyu opened #15109 "Handle moz://a"
Maybe show a doge picture or something :)

[2017-01-19 10:34] SimonSapin commented on #15109
If we do this, I think we should also do [about:unicorn](https://github.com/servo/servo/pull/8808).

[2017-01-19 10:35] SwagColoredKitteh commented on #15101
Can I take this one?

[2017-01-19 10:54] emilio commented on #15105
Yeah, right, I was only following standard procedures we should be following for every dependency, sorry if it's too much noise.

[2017-01-19 10:57] emilio commented on #15105
We're only parsing font tables, and truetype seems to do the work quite well, I think.

[2017-01-19 10:57] #15105 closed

[2017-01-19 11:07] KiChjang commented on #15109
Unfortunately, about:unicorn has been officially removed from the Fetch spec...

[2017-01-19 11:08] KiChjang commented on #15101
@SwagColoredKitteh Sure thing! Ask us any questions here or at #servo in irc.mozilla.org if you run into any problems!

[2017-01-19 11:17] Ms2ger commented on #15109
We should do neither.

[2017-01-19 12:00] #15070 closed

[2017-01-19 12:00] #15097 closed

[2017-01-19 12:37] glennw commented on #11779
Radial gradients are supported by WR now (as of https://github.com/servo/webrender/pull/734). So this task involves parsing (if not already done) and then piping the relevant properties through the layout and display list code.

[2017-01-19 13:23] mmatyas opened #15110 "Gray screen and GL error on ARM Linux"
At the moment, running Servo on ARM Linux stops with a

[code]

error on launch (tested on Odroid XU3). This can be fixed by updating `webrender` to the latest version (probably fixed by a `glutin` update there), however, Servo only produces a gray screen after that.

![50shadesofgray](https://cloud.githubusercontent.com/assets/4354863/22108105/c81d4aee-de51-11e6-91e2-5cb7d6f75934.png)

If I resiz

[2017-01-19 13:31] glennw commented on #15110
@mmatyas There is a breaking API change in the latest WR code - I'm working on updating Servo to handle this now. The grey screen is what I'd expect to see, until this API change is updated.

[2017-01-19 13:33] mmatyas commented on #15110
Ah ok, thanks for the update!

[2017-01-19 13:37] Ms2ger commented on #15082
At this point, why not just call `evaluate_js_script` or whatever it's called?

[2017-01-19 13:48] jdm commented on #15085
https://gist.github.com/jdm/b36d32d887e1fd6887b6d60c6cae218d is the testcase I'm using to try to reproduce this outside of Servo. I'm triggering a minor GC via DumpHeap, but it doesn't crash like I would expect it to.

[2017-01-19 14:03] nox commented on #11559
For anyone reading this and being confused, DMD stands for "dark matter detector".

[2017-01-19 14:03] Ms2ger opened #15112 "Implement auto-revoking blob URLs"
This will involve implementing `URL.createFor()`:

* https://w3c.github.io/FileAPI/#dfn-createFor
* https://html.spec.whatwg.org/multipage/#global-script-clean-up-jobs-list
* https://html.spec.whatwg.org/multipage/#run-the-global-script-clean-up-jobs (which happens just before microtasks: #4283)

Blocks #10778.

[2017-01-19 14:08] glennw commented on #15110
Update PR is here https://github.com/servo/servo/pull/15111#issuecomment-273783256 - but we need to get these other core graphics dependencies updated before it can land. You can pull this PR locally though to confirm it fixes your grey screen, if you like.

[2017-01-19 14:25] Ms2ger opened #15113 "Implement typed arrays in sequences"
Blocks #10911.

[2017-01-19 14:32] prampey commented on #14967
@jdm But isn't the `MediaQueryList` object created after the `change` event is fired? `matchMedia ` is again called inside the listener and we still might not be able to `borrow_mut`.

Perhaps, we could collect all the events formed during `evaluate_and_report_changes` and bubble them all at once, just **after** the _mutable_ reference to `mql` goes out of scope.

[2017-01-19 14:51] Ms2ger opened #15114 "Implement read methods on FileReaderSync"
Blocks #10778.

* Spec: <https://w3c.github.io/FileAPI/#dfn-FileReaderSync>.
* Code: `components/script/dom/filereadersync.rs`, `components/script/dom/webidls/FileReaderSync.webidl`.
* Tests: `FileAPI/FileReaderSync.worker.html`, `FileAPI/idlharness.worker.html`.

[2017-01-19 14:53] jdm commented on #14967
That sounds like a good solution to me.

[2017-01-19 14:55] jdm commented on #15082
That's... a good point!

[2017-01-19 14:58] jdm opened #15116 "Make update-wpt accept filtered error logs"
Using update-wpt in conjunction with test results from the CI builders means downloading a >100mb log file. It would be really nice to accept logs like this instead:
[code]
which are the output of the `filter-intermittents` mach command and easily accessible from the builders instead.

[2017-01-19 14:58] highfive commented on #15116
cc @wafflespeanut

[2017-01-19 16:30] fitzgen commented on #14900
(cc myself)

[2017-01-19 16:47] SimonSapin commented on #15059
I think this is because the serializer for `FontFamily` fails to use CSS escaping. I’m preparing a fix.

[2017-01-19 17:29] SimonSapin commented on #15059
I think this is correct, but it still needs tests.

[code]

[2017-01-19 18:14] jdm commented on #15085
It turns out my testcase wasn't replicating the issue from Servo correctly - specifically, it was stashing the promise object in a Heap value, which correctly uses post-barriers to ensure that the pointer gets updated when the promise object is moved out of the nursery. Servo's `Reflector` type contains an `UnsafeCell<*mut JSObject>`, rather than a `Heap<*mut JSObject>` as one might expect. The `s

[2017-01-19 18:17] jdm commented on #15085
There are two possible solutions that I see:
* add a post-barrier to `Reflector::set_jsobject` (this fixes the crash from #15080)
* replace the `UnsafeCell` in `Reflector` with `Heap` instead

I'm not sure why we aren't using Heap already. I'm guessing either performance concerns or historical artifact of when Heap wasn't supported from Rust code yet?

[2017-01-19 18:21] jdm commented on #15085
[code]

[2017-01-19 18:30] jdm commented on #15085
And a straightforward testcase, now that the problem is fully clear:
[code]

[2017-01-19 19:32] anryko commented on #14855
I'll do this.

[2017-01-19 19:34] jdm commented on #14855
I think there's already a solution proposed in #14853.

[2017-01-19 19:49] komawoyo commented on #12125
Out of curiosity, do you have another machine you can test on? Download the MSI install and install it on another machine and see if it run. Its running fine for me

[2017-01-19 20:27] asajeffrey commented on #14843
An IRC conversation with @dzbarsky: http://logs.glob.uno/?c=mozilla%23jsapi&s=19+Jan+2017&e=19+Jan+2017#c819204

TL;DR: brain transplanting, what fun.

[2017-01-19 20:34] nnethercote commented on #11559
https://developer.mozilla.org/en-US/docs/Mozilla/Performance/DMD are the docs for DMD.

[2017-01-19 20:44] anryko commented on #14855
heh, ok.

[2017-01-19 20:58] #15087 closed

[2017-01-19 22:24] jdm commented on #11612
With the following added to a WebIDL file:
[code]
we get
[code]
The following patch:
[code]
makes this error appear instead:
[code]

[2017-01-19 23:11] fenris-kcf opened #15121 "openssl-compilation error "dereferencing pointer to incomplete type""
Saluton,

I get the following error when trying to compile servo:

[code]

The error doesn't seem to be known so far.

OS: Debian Stretch 64bit
Commit: 3a8167350b2544859745b1b89c96ca262b510e12

[2017-01-19 23:27] #14497 closed

[2017-01-20 00:04] jdm commented on #14982
@mdevlamynck That's a good point! I discussed this more with glennw, and my original description of the steps required did confuse headless and software rendering. On Linux we can get software rendering by setting LIBGL_ALWAYS_SOFTWARE=1 when running Servo; I haven't been able to find such clear instructions for enabling software rendering on other platforms yet. Why don't we start by making this

[2017-01-20 00:11] rzambre opened #15123 "ERROR:servo: assertion failed when terminating Servo with -o flag"
Running ```./mach run -r -x -o out.png https://www.starbucks.com``` successfully produces the out.png file but I see multiple ```assertion failed``` errors upon shut down.

[code]

[2017-01-20 00:13] jdm commented on #15123
I would have expected these to be fixed by https://github.com/servo/servo/pull/15108; does your build include that revision?

[2017-01-20 00:54] upsuper commented on #15059
To test this, you can run `./mach mochitest --disable-e10s layout/style/test/test_font_family_parsing.html` with a stylo build, and see if there is still any failure.

[2017-01-20 00:56] upsuper commented on #15059
Note that in some cases, the failure may not really make much sense, e.g. `\"times new roman` and `'"times new roman'` seems to be identical, so it doesn't matter if we serialize one to the other.

[2017-01-20 01:44] rzambre commented on #15123
Sorry, my build didn't include that version. That error doesn't pop up anymore. Thanks!

[2017-01-20 01:44] #15123 closed

[2017-01-20 07:22] karan1276 commented on #15027
@canaltinova I am so sorry, but i am a bit busy at work. If someone else can do this issue it will be great.

I would love to contribute to servo, some day ill come back when i have the luxury of time. Thanks for your help :)

[2017-01-20 10:28] mmatyas commented on #15110
Using you patch, Servo throws a `ERROR:servo: gl function was not loaded` :(

[2017-01-20 11:27] glennw commented on #15110
If you run with RUST_BACKTRACE=1 it should show which GL function is not being loaded in the stack trace.

[2017-01-20 11:39] julienw commented on #14203
Should the README be changed in the mean time, to mention libssl1.0-dev for developers on Debian stretch and sid ?

[2017-01-20 12:04] mmatyas commented on #15110
It seems the missing function is ClearDepth (which sound really familiar to me; haven't we had a problem with it before?). Here's the relevant part of the backtrace:

[code]

[2017-01-20 12:09] canaltinova commented on #15027
@karan1276 No worries, see you in another issue :)

[2017-01-20 12:17] glennw commented on #15110
@mmatyas Hmm, ClearDepth is interesting - since the symbol has an extra 'f' on ES3 (it's glClearDepth on desktop GL, and glClearDepthf on ES3). I wonder if somehow it's building with the desktop bindings in gleam or something like that?

[2017-01-20 12:27] mmatyas commented on #15110
You're right, it seems there's only an Android check [here](https://github.com/servo/gleam/blob/master/src/gl.rs#L1378), and there's an issue for it too (servo/gleam/issues/103).

[2017-01-20 13:25] Ms2ger commented on #11612
I'm having a look.

[2017-01-20 13:54] thangarajj commented on #12015
Can confirm that this issue remains on Fedora 25 on today's build.

[2017-01-20 14:34] cynicaldevil commented on #14682
I've changed the code so that the display list is checked in `handle_reflow` and a resize message is sent if the display item is an iframe. But when I run the tests, the display list isn't updated at all. Because of this, the child iframe doesn't receive the constrained viewport message at all.
I performed a diff after adding a few [debug messages](https://github.com/cynicaldevil/servo/commit/fd42

[2017-01-20 14:50] marcoms commented on #15097
Yep I think that must have been it 👍  Sorry for the delay

[2017-01-20 14:52] Ms2ger commented on #9785
Partial fix:

[code]

[2017-01-20 15:04] Ms2ger opened #15126 "Consider creating a custom prelude for generated dom bindings"
Probably building on `dom::types`, and adding at least the generated types for unions and dictionaries.

[2017-01-20 15:47] jdm commented on #10418
https://bugzilla.mozilla.org/show_bug.cgi?id=1120016 looks very relevant when considering if we can do this.

[2017-01-20 15:50] jdm commented on #10418
Another thing that would be important to consider - all of our DOM objects have finalizers, and the nursery currently only supports storing objects with finalizers that can be skipped. That seems like a big problem!

[2017-01-20 16:03] #11612 closed

[2017-01-20 16:31] nox commented on #12358
This has been taken care of, AFAIK.

[2017-01-20 16:31] #12358 closed

[2017-01-20 17:08] nox commented on #1416
I did this.

[2017-01-20 17:08] #1416 closed

[2017-01-20 17:08] nox commented on #9771
This has been done.

[2017-01-20 17:08] #9771 closed

[2017-01-20 17:59] asajeffrey commented on #15093
Hopefully this is fixed in #14971.

[2017-01-20 18:43] jdm commented on #14682
The debug messages show that the existing pipeline size in the constellation is always None. This means that https://github.com/cynicaldevil/servo/commit/fd427ea1130d8e2003527fd94d0e65e56bd57331#diff-55c92a6a5ba7654ce45fe6fc6c63740fR1336 skips the code that updates the current size and the resize message is never sent.

[2017-01-20 20:10] #14327 closed

[2017-01-20 21:03] jdm opened #15130 "Page zoom is broken"
With the following patch applied, pressing cmd and + produces broken rendering:
[code]

[2017-01-20 21:05] jdm commented on #15130
Base rendering:
<img width="1138" alt="screen shot 2017-01-20 at 4 04 38 pm" src="https://cloud.githubusercontent.com/assets/27658/22165509/2fef4d6a-df2a-11e6-8274-7e9cea872e28.png">
After one zoom:
<img width="1138" alt="screen shot 2017-01-20 at 4 04 46 pm" src="https://cloud.githubusercontent.com/assets/27658/22165516/3e253bba-df2a-11e6-968a-f4bcb70e937c.png">

[2017-01-20 21:41] #14976 closed

[2017-01-20 23:29] dpyro commented on #14998
I had both MacPorts and Homebrew installed. This complicates paths and linking. Marking closed since it may simply be a system configuration error on my part.

[2017-01-20 23:30] #14998 closed

[2017-01-21 02:42] seankao31 commented on #15027
Hi, I'd like to give it a try.

[2017-01-21 03:28] jdm commented on #15027
Great! Ask questions here if anything is unclear!

[2017-01-21 08:20] kinclma1 opened #15135 "runservo.sh missing in nightly builds"
In recent nightly linux builds, runservo.sh is missing.

[2017-01-21 08:52] KiChjang commented on #15135
It has been replaced by `./servo`. Are you able to find it?

[2017-01-21 18:17] anholt commented on #10209
It looks like misisng `toDataURL()` for WebGL is the cause of a whole lot of remaining testcase issues (like `asin_001_to_006.html`)

[2017-01-21 19:19] kinclma1 commented on #15135
Thank you. Is it possible to change the instructions on https://download.servo.org/ accordingly?

[2017-01-21 21:26] emilio opened #15139 "We never remove web fonts from the font cache."
This is not only a leak, but also may produce incorrect styling. Consider the following code:

[code]

We should render the text in Arial, but as far as I know we'd render it with the `foo` font.

I remember to have seen an issue about the font cache leak, but I couldn't find it, so I'm filling this one.

[2017-01-22 01:59] sbwtw opened #15141 "OTS sources not found when building fontsan"
build failed when i execute ./mach build --dev
outputs:

[code]

[2017-01-22 02:01] BladeMight commented on #14494
Yes, I have that too on Win7x64.

[2017-01-22 07:58] deror1869107 commented on #14676
Sorry for that I was busy before.
I can work for it now!
It seems that there should be type ArrayBufferViewU16 in the rust/moz.js
Could you please create an issue on rust/moz.js for this? Thanks

[2017-01-22 12:01] nox commented on #1657
#10787

[2017-01-22 12:01] #1657 closed

[2017-01-22 14:37] emilio opened #15144 "Consider doing text-overflow only at display list building."
I don't think our handling of text-overflow is extremely complex, but I think it could be simplified (we'd get rid of `TruncatedFragment`s, etc, if we could handle it at display list building.

What do you think @notriddle?

[2017-01-22 14:39] emilio commented on #15141
Hi, thanks for reporting!

Could you give more info about which platform are you on?

This is a fontsan build failure, cc @nox

[2017-01-22 14:39] emilio commented on #15144
Also @mbrubeck may have opinions on this?

[2017-01-22 14:56] notriddle commented on #15144
I think it's a good idea.

[2017-01-22 15:02] nox commented on #15141
Seems like `fontsan` was not properly checked out and submodules weren't fetched. Path `/home/.cargo/git/checkouts` is nonstandard. Do you have a custom `.buildservo` in your Servo tree? Did you use `cargo` directly at some point to build Servo?

[2017-01-22 16:13] Verlet64 commented on #14500
@jdm I did it, but I would like some advice on the naming of the file before I submit any pull request etc. At the moment, it's the very verbose trustedpromise_mustnot_derive_clone.rs and though it conveys exactly what the test is for...it's very verbose, and if I'm honest doesn't seem to quite fit the naming convention the project has gone for.

Help from more experienced hands would be much appr

[2017-01-22 17:21] jdm commented on #14500
Perhaps `not_cloneable.rs`?

[2017-01-22 17:33] aneeshusa commented on #15135
@kinclma1, there is a PR open at https://github.com/servo/download.servo.org/pull/13 which should be merged shortly.

[2017-01-22 18:32] Verlet64 commented on #14500
That sounds fine.

I'll clean up then and go through the pull request checklist.

[2017-01-22 19:59] lygstate commented on #14810
Remove python/virtualenv works.

[2017-01-22 20:59] nox opened #15147 "Scripts from javascript: URLs don't get executed in the right global"
They should get executed in the browsing context container's window, not the one that is created for navigation.

[2017-01-22 21:21] #14500 closed

[2017-01-22 22:33] #15135 closed

[2017-01-23 01:23] sbwtw commented on #15141
hello, I'm using archlinux
`uname -a`
Linux Pandora 4.8.13-1-ARCH #1 SMP PREEMPT Fri Dec 9 07:24:34 CET 2016 x86_64 GNU/Linux
`rustc -V`
rustc 1.16.0-nightly (a52da95ce 2017-01-20)
`cargo -V`
cargo 0.15.0-dev (298a0127 2016-12-20)
`echo $HOME`
/home

i have modify my home directory to `/home`, (not /home/$USER).
and i check `~/.cargo/git/checkouts/fontsan-75864180be477bc9/ab68da1/src/ots/third_par

[2017-01-23 03:33] leeoniya commented on #15139
https://github.com/servo/servo/issues/12920 ?

[2017-01-23 05:16] #14685 closed

[2017-01-23 06:19] shinglyu commented on #12453
`display:inline-flex` implemented in ##14978

[2017-01-23 06:20] shinglyu commented on #12453
I'm also looking at writing-mode reftests, but looks like there are some releated issue with #14144 and #10479

[2017-01-23 06:21] sbwtw commented on #15141
I execute `rm -rf ~/.cargo/git/checkouts/fontsan-75864180be477bc9/` and `./mach clean` and rebuild，every thing back to normal and complie successful.
Thanks..

[2017-01-23 06:21] #15141 closed

[2017-01-23 06:49] shinglyu opened #15149 "Fix flex item with intrinsic aspect ratio"
Quote @stshine

Maybe related? https://github.com/servo/servo/pull/14490/files

[2017-01-23 06:58] shinglyu commented on #15149
https://drafts.csswg.org/css-flexbox/#algo-main-item (?)

[2017-01-23 08:06] deror1869107 commented on #14676
Change
[code](https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L456)
'''
} else if array_buffer_view_data_checked::<u8>(data).is_some(){
    1
}
'''
To
'''
typedarray!(in(cx) let typedarray_u8: ArrayBufferView = data);
// some line
} else if typedarray_u8.is_ok() {
    1
}
'''
Is it right?

[2017-01-23 09:20] emilio commented on #15139
Nope, more like https://github.com/servo/servo/issues/3300, but thanks for pinging me about it so I looked into it! :)

[2017-01-23 09:21] emilio commented on #15139
Though https://github.com/servo/servo/issues/12920 is relevant too, I guess. Our font code seems _really_ broken...

[2017-01-23 10:51] #13761 closed

[2017-01-23 10:58] nox commented on #15147
Most remaining `script_scheduling` tests fail for that reason. They try to run `log(...)` in a global where `log` is undefined.

[2017-01-23 11:16] nox opened #15151 "Intermittent timeout in /navigation-timing/nav2_test_unloadEvents_previous_document_cross_origin.html"
[code]

[2017-01-23 11:35] p-kraszewski opened #15152 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.saferinternetday.org/
### Servo Version:
Servo 0.0.1-27a7999
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-23 12:08] jdm commented on #14676
That looks right.

[2017-01-23 14:07] deror1869107 commented on #14676
@jdm
So I need ArrayBufferViewU16 in rust/mozjs to replace the function array_buffer_view_data_checked::<u16>.

But I don't know how to add this to rust/mozjs.

[2017-01-23 15:17] jdm commented on #14676
You can add it to the list of typed arrays at https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L272, and then use a [Cargo override](http://doc.crates.io/specifying-dependencies.html#overriding-with-local-dependencies) to use your locally-modified version inside Servo.

[2017-01-23 16:36] jdm commented on #14951
This should be retested with https://github.com/servo/webrender/pull/753.

[2017-01-23 16:56] #13082 closed

[2017-01-23 17:51] mbrubeck commented on #15144
:+1: Getting rid of TruncatedFragment would be nice.

[2017-01-23 18:13] #12748 closed

[2017-01-23 18:24] jdm commented on #15152
[code]

[2017-01-23 18:25] jdm commented on #15152
Duplicate of #13054. Thanks for reporting it!

[2017-01-23 18:25] #15152 closed

[2017-01-23 18:25] jdm commented on #13054
Reproduces on https://www.saferinternetday.org/.

[2017-01-23 18:25] #13364 closed

[2017-01-23 18:26] jdm commented on #13054
https://github.com/servo/ipc-channel/issues/98 will be the solution for this (along with #11741 and #10390).

[2017-01-23 18:32] SwagColoredKitteh opened #15159 "WPTs for PR #15145 pass, but the harness times out"
This WPT checks whether, when two stylesheet requests are in-flight for the same element and they arrive in the wrong order, the correct styles will still be applied. The test itself passes with the patches but the harness times out.

[code]

cc @jdm

[2017-01-23 18:34] jdm commented on #15159
My theory here is that the document load event doesn't get dispatched because the first CSS load is never marked complete.

[2017-01-23 18:35] SwagColoredKitteh commented on #15159
Here's the command to run this WPT: `./mach test-wpt tests/wpt/mozilla/tests/mozilla/out-of-order-stylesheet-loads.html`

[2017-01-23 19:16] emilio commented on #15159
Yes, this is a problem that should be fixed in #15145 itself IMO.

[2017-01-23 19:16] emilio commented on #15159
See https://github.com/servo/servo/pull/15145#discussion_r97392281 for an explanation.

[2017-01-23 20:35] rzambre opened #15161 "ERROR:servo: cannot access a TLS value during or after it is destroyed"
This error occurs upon Servo's termination be it by clicking the close button or by using the -o out.png option.

[code]

[2017-01-23 22:31] jdm opened #15162 "Looking for something to work on?"
This issue will be used to track people who are looking for a task to work on but can't find anything fitting on http://starters.servo.org/.

*For potential contributors:*
Please leave a comment and mention any relevant requirements or previous experience.

*For Servo team members:*
When an appropriate issue has been assigned to someone who left a comment in this issue, please CC them to it and re

[2017-01-23 22:45] jdm commented on #15161
@nox I fear this is a regression from the mitochondria changes.

[2017-01-23 23:48] glennw opened #15163 "MotionMark performance metabug."
Servo can run a subset of the MotionMark graphics demos, found at http://browserbench.org/MotionMark/developer.html.

However, the results appear to be bottlenecked by layout and style recalc performance, rather than rendering performance.

By running the first test in the Animometer or HTML suite tests, the Servo profiler shows results similar to:

[code]

I've also recorded the GPU command buffe

[2017-01-23 23:48] glennw commented on #15163
cc @metajack @jdm @pcwalton

[2017-01-23 23:55] pcwalton commented on #15163
Incremental reflow bugs, probably?

[2017-01-24 00:06] glennw commented on #15163
The test basically consists of moving hundreds / thousands of CSS circles around the screen (they bounce off the screen edges). I'm not sure if incremental would help here?

[2017-01-24 01:09] upsuper opened #15165 "`-webkit-text-stroke` shorthand is sensitive to order of value"
The implementation of `-webkit-text-stroke` shorthand is wrong since it is order-sensitive, while it shouldn't, since the syntax is `<line-width> || <color>`.

The fix should be simple: just change the `parse_value` of `-webkit-text-stroke` in "components/style/properties/shorthand/inherited_text.mako.rs" to something similiar to `text-emphasis` shorthand above.

[2017-01-24 01:09] highfive commented on #15165
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 02:48] highfive commented on #15162
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 02:58] DexterHaslem commented on #15165
I'd like to work on this issue

[2017-01-24 03:43] upsuper opened #15166 "Support parsing/serializing interpolation hint in gradient functions"
CSS Image Values and Replaced Content Module Level 4 adds **color interpolation hint** to the <color-stop-list> in addition to color stops. This is currently not correctly parsed in Servo.

See https://drafts.csswg.org/css-images-4/#color-stop-syntax for the spec.

[2017-01-24 04:27] upsuper opened #15168 "`calc()` value should not be simplifed to be bare value for specified values"
For example, declaration `width: calc(2px)` should be serialized to `width: calc(2px)` rather than `width: 2px`, because `width: calc(-2px)` is valid while `width: -2px` is not.

Serialization of `calc()` is undefined in the spec at the moment, but the bottom line is that, this matches behavior of all major browsers (Gecko, Blink, Edge, and presumably also WebKit).

[2017-01-24 04:38] upsuper opened #15169 "Serialization of border-radius and -moz-outline-radius shorthand is wrong"
For example, `border-radius: 1px 2px 3px 4px / 5px 6px 7px 8px` is incorrectly serialized as `border-radius: 1px 5px 2px 6px 3px 7px 4px 8px`.

[2017-01-24 04:38] highfive commented on #15169
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 04:45] upsuper commented on #15165
Not sure how to mentor... so cc @Manishearth

[2017-01-24 04:48] Manishearth commented on #15165
Great! The relevant code is in https://github.com/servo/servo/blob/231481570e7ffc6c036b54a15507a9b2260ffe87/components/style/properties/shorthand/inherited_text.mako.rs#L75-L98 , you basically need to use a loop like in text-emphasis (https://github.com/servo/servo/blob/231481570e7ffc6c036b54a15507a9b2260ffe87/components/style/properties/shorthand/inherited_text.mako.rs#L16)

[2017-01-24 05:19] upsuper commented on #15169
Note that, this also affects Gecko-only `-moz-outline-radius`, which uses basically the same syntax.

[2017-01-24 05:32] upsuper opened #15171 "For <length-or-number>, "0" should be parsed as number rather than length"
The plain zero can be parsed by both length and number, and there is no difference between either way in general. But for serialization, zero length would become `0px` while zero number would stay `0`, and the latter looks better as it doesn't changes, and you can always specify `0px` to get the zero length.

This specific behavior is currently undefined in the spec (see w3c/csswg-drafts#489), but

[2017-01-24 05:33] upsuper commented on #15171
The relevant code is https://github.com/servo/servo/blob/master/components/style/values/specified/length.rs#L1142-L1148

[2017-01-24 05:33] highfive commented on #15171
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 10:34] stshine commented on #15149
Yeah, now you can know whether a fragment has intrinsic aspect ratio by the `has_intrinsic_ratio()` method. And you may need to isolate some code from `calculate_replaced_sizes()` and reuse the logic.

[2017-01-24 10:40] nox commented on #15161
http://www.nooooooooooooooo.com

Some `Drop` order issue I guess?

[2017-01-24 10:41] stshine commented on #15102
I suggest to treat inline-level element and block-level element separately like how we do it in the layout system. That is, when query an element you should first determine whether it is an inline-level or block-level element, and use different logic for the two situations.

Not sure this will actually work, but it should have some value.

[2017-01-24 12:39] nox commented on #14591
Seems like my job suddenly became easier to do: https://github.com/whatwg/html/issues/1698

[2017-01-24 12:44] deror1869107 commented on #14676
It seems that I need to write C++ functions which are binding with two rust functions UnwrapUint16ArrayBufferView and GetUint16ArrayBufferViewLengthAndData.

Where can I implement these function?

[2017-01-24 13:17] emilio commented on #15163
In the style side, I believe this is normal given we still not have a fast path for updating the style after only the style attribute changes.

This should help a lot with this test case in particular, since we don't need to do selector-matching on all the items. cc @bholley @heycam

[2017-01-24 13:19] emilio commented on #15163
My intuition is that that optimization should crop the incremental 14.9952ms average style recalc to be almost free.

[2017-01-24 13:20] emilio commented on #15163
Also, it may be worth to record whether we're using sequential or parallel traversal, since I believe due to the DOM size opts we may be running in sequential styling mode.

[2017-01-24 13:27] Ms2ger commented on #14676
It look like we shouldn't be using `ArrayBufferView` for this at all, just `Uint8Array` and `Uint16Array`.

[2017-01-24 13:28] emilio commented on #15163
The huge amount of time on restyle calculation can be explained, I think, because that's one of the worst cases of the rule tree (those elements would be siblings in the child list of its parent). With the above optimization, that's irrelevant, though, since we wouldn't be running selector-matching at all, only mutating or replacing the style attribute property declaration block.

If we still want

[2017-01-24 14:18] SwagColoredKitteh commented on #15159
This is now fixed.

[2017-01-24 14:18] #15159 closed

[2017-01-24 14:22] atheed commented on #15171
May I claim this?
Full disclosure: I'm fairly new to Servo and Rust.

[2017-01-24 14:42] jdm commented on #15169
[code]

[2017-01-24 14:58] jdm commented on #15171
@atheed Please do! Ask questions here if anything is unclear.

[2017-01-24 15:44] jdm commented on #14870
https://github.com/rust-lang/rust/issues/39208

[2017-01-24 16:02] #15101 closed

[2017-01-24 16:03] SimonSapin commented on #14870
Apparently we can now use `CARGO_INCREMENTAL=1`, and Cargo will take care of managing the cache directory somewhere in `target/`.

[2017-01-24 16:13] Ms2ger commented on #15051
Perhaps we should just always use line M? None of the solutions here is particularly great.

[2017-01-24 16:17] Ms2ger commented on #14912
It seems like the first one could be solved by treating `application/xml` the same as `text/xml` in `ParserContext::process_response` (`components/script/dom/servoparser/mod.rs`). @cynicaldevil, want to try that?

[2017-01-24 16:28] Ms2ger commented on #14912
Oh, and the second one is #6414.

[2017-01-24 16:32] jdm commented on #14912
It won't be solved, but the error that it will present will be more meaningful.

[2017-01-24 16:32] Ms2ger commented on #10192
I think this is still the case, yes.

[2017-01-24 16:33] Ms2ger commented on #14901
If we did this, we'd probably want to keep typedefs like `type Root<T> = NewThing<T, Rooted>`.

[2017-01-24 16:40] Ms2ger commented on #14912
Looks like there's at least two remaining issues with that solved:
[code]

One is that we don't support non-UTF8 encodings in xml5ever either, the second is that we don't serialize with a self-closing tag.

[2017-01-24 18:11] asajeffrey opened #15180 "WindowProxy for browsing contexts whose active document is in another script thread"
At the moment, when we resolve a `WindowProxy` to a `Window`, we return the most recent window that was active in the current script thread. This gives the wrong results in the case of a browsing context whose active document is in another script thread.

[2017-01-24 18:13] asajeffrey commented on #15180
This depends on #15120, and is needed for #14996.

[2017-01-24 18:45] jdm opened #15182 "Intermittent failure in /css21_dev/html4/bidi-008b.htm"
[code]
Reference:
<img width="775" alt="screen shot 2017-01-24 at 1 45 09 pm" src="https://cloud.githubusercontent.com/assets/27658/22261533/621339f0-e23b-11e6-8cbf-6d76595984a4.png">

Actual:
<img width="780" alt="screen shot 2017-01-24 at 1 45 01 pm" src="https://cloud.githubusercontent.com/assets/27658/22261526/59cc5dbc-e23b-11e6-9f67-3678f2b92137.png">

[2017-01-24 19:14] #14886 closed

[2017-01-24 20:22] mbrubeck commented on #15161
This showed up in http://build.servo.org/builders/linux-rel-wpt/builds/2037 (build of commit 185759f87a8dec88f5f65c49ac9df90b47014b19) after the mitochondria PR was reverted in #15176.

[2017-01-24 20:24] jdm opened #15184 "Make an image cache per document"
This will both allow us to avoid problems like #14993 and move to a model that avoids a single global image cache. This means we don't need to key the cache on request headers, etc. This is the model that Gecko really wants to move to.

[2017-01-24 20:38] jdm commented on #15161
That only means that the crash in that log is caused by something else. It doesn't absolve #135176 of this issue.

[2017-01-24 20:47] asajeffrey commented on #15161
The function that's causing this is `trace_thread` https://github.com/servo/servo/blob/master/components/script/script_thread.rs#L126. This is caused by the TLS script thread object being dropped, which drops the JS runtime, which triggers a GC, which traces the roots, which calls `trace_thread`, and oh dear.

Quite why we're seeing this now and not before is beyond me.

[2017-01-24 21:17] jdm opened #15185 "Enable debug symbols on CI"
We build in release mode so we can run tests efficiently, but if we enable debug symbols we should get better backtrace output when actual crashes occur. Can we modify Cargo.toml in some way so we get symbols in CI but not in local release builds (which would presumably interfere with profiling).

[2017-01-24 21:18] jdm commented on #14682
#15129 was reverted as part of #15164.

[2017-01-24 21:23] asajeffrey commented on #15161
This panic would be caused by https://github.com/servo/servo/commit/2002de441fadc23f7217b0928c623b8e558b9a4e#diff-1879ac6bd5d567e2aa43529d33474677R540. Before this change, the `ScriptThread` object was dropped before the script thread terminated. After this change, the `ScriptThread` object is dropped during script thread termination, hence the panic.

Are we still seeing it after the revert? If s

[2017-01-24 21:25] emilio commented on #14682
Trying to reland them in #15186

[2017-01-24 21:44] jdm commented on #15161
We are not.

[2017-01-24 23:02] montrivo commented on #12415
I checked the following interfaces, they can be removed from the list:
Location.webidl
MediaError.webidl
MimeTypeArray.webidl
MimeType.webidl
PageTransitionEvent.webidl
PluginArray.webidl
Plugin.webidl
PopStateEvent.webidl

I noticed PerformanceTiming.webidl and Performance.webidl specs have changed. Should those files be updated ?

[2017-01-24 23:05] jdm commented on #6633
#1980 also covers this. We should close one of them.

[2017-01-24 23:20] jdm opened #15188 "WorkerGlobalScope::ImportScripts should use AutoEntryScript"
Since it calls Runtime::evaluate_script directly, it does not benefit from the changes to GlobalScope::evaluate_script_on_global_from_result. We should either make it use that or add AutoEntryScript.

cc @Ms2ger

[2017-01-24 23:36] jdm commented on #12415
Updating those other interfaces separately would be useful!

[2017-01-25 00:06] #15085 closed

[2017-01-25 00:24] upsuper opened #15190 ""columns" shorthand is serialized to include "initial" CSS-wide keyword"
For example:
[code]
Servo outputs `initial 3`, which is invalid. It should be `auto 3`.

Spec: https://drafts.csswg.org/css-multicol-1/#columns

The relevant code is: https://github.com/servo/servo/blob/master/components/style/properties/shorthand/column.mako.rs#L53-L58

[2017-01-25 00:24] highfive commented on #15190
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 00:43] upsuper opened #15192 "calc() doesn't support dividing an expression"
`calc(50px / 2)` works, but `calc(50px / (1 + 1))` doesn't work.

[2017-01-25 00:49] jdm opened #15193 "Only use mach log formatter if there is a single test file argument"
The changes in #15124 have made `./mach test-wpt tests/wpt/dir` behave the same as `./mach tests-wpt tests/wpt/dir/test.html`. Ideally we would only use the mach logger for the second one, and stay with the servo formatter for the directory.

[2017-01-25 00:49] highfive commented on #15193
cc @wafflespeanut

[2017-01-25 00:56] upsuper opened #15194 "Implement serialization of transform functions"
Currently, only serialization of `translate()` function is implmeneted. We should have the rest implemented as well.

Spec: https://drafts.csswg.org/css-transforms/#serialization-of-transform-functions

The relevant code is https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs#L1183-L1237

(I think this is an easy one, but not sure. cc @Manishearth)

[2017-01-25 00:58] highfive commented on #15194
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 00:59] upsuper opened #15195 "Value of transform should be serialized to "none" rather than empty when no operation specified"
Currently, `transform: none;` is serialized to `transform: ;` which is invalid. It should be serialized to `transform: none;` instead.

The relevant code is: https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs#L1253-L1263

[2017-01-25 00:59] jdm opened #15196 "iframe-append-to-child-document.html panics while trying to deal with a framed content changed notification"
It's disabled claiming that #14411 is the cause of it failing. I tried reenabling it and running it, and got this output:
[code]
@asajeffrey This might be up your alley.

[2017-01-25 01:00] highfive commented on #15195
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 01:11] upsuper opened #15197 "Add support for remaining keyword values of -moz-user-select property"
Currently it only parses `auto`, `text`, `none`, and `all`, but Gecko also supports `element`, `elements`, `toggle`, `tri_state`, `-moz-all`, `-moz-none`, and `-moz-text`.

[2017-01-25 01:16] Manishearth commented on #15192
Division is implemented as 1 / multiplication, which we probably shouldn't do.

[2017-01-25 02:15] DexterHaslem commented on #15195
I'd like to work on this

[2017-01-25 03:08] upsuper commented on #15195
Great! Ask questions here if anything is unclear.

[2017-01-25 03:11] nikhiljha commented on #12125
https://download.servo.org/nightly/windows/servo-latest.msi

I can still reproduce #11307 from this MSI, is this updated?

[2017-01-25 03:25] upsuper opened #15199 "background shorthand doesn't parse anything after "position / size""
The issue is that, the following code parses:
[code]
but the following doesn't:
[code]
As far as I can see, anything in the same background item after the "position / size" syntax is rejected.

I tried to look into the code, but I failed to find anything wrong there.

[2017-01-25 03:38] upsuper opened #15200 "{background,mask}-position lacks comma for serialization"
`background-position: top left, top left;` is currently serialized to `background-position: top lefttop left;` which is invalid.

The relevant code is https://github.com/servo/servo/blob/master/components/style/properties/shorthand/background.mako.rs#L311-L330

(The fix is simple... but I'm just too lazy to write a test for it.)

[2017-01-25 03:38] highfive commented on #15200
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 03:56] upsuper opened #15201 "background-repeat should support two keywords form"
`background-repeat` currently only support single keyword form of value, like `repeat, repeat-x`, but it doesn't support pair of keywords like `repeat no-repeat, round repeat`.

Spec: https://drafts.csswg.org/css-backgrounds/#the-background-repeat

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/background.mako.rs#L192-L196

(I suppose this is an easy

[2017-01-25 04:06] upsuper opened #15202 "Setting border and border-[side] shorthands should reset longhands of border-image to their initial value"
Although `border` and `border-{top,right,bottom,left,{inline,block}-{start,end}}` doesn't contain syntax for `border-image`, but per spec those shorthands should also reset the `border-image-*` longhand properties to their initial value.

Spec: https://drafts.csswg.org/css-backgrounds-3/#the-border-shorthands

Relevant code: large part of https://github.com/servo/servo/blob/master/components/style

[2017-01-25 04:39] upsuper opened #15203 "Value of box-shadow is serialized in a wrong order"
The order should be "horizontal offset, vertical offset, blur radius, spread distance", but in the current code, it is "blur radius, spread distance, horizontal offset, vertical offset". The parsing order is correct, which means if you input `1px 2px 3px 4px`, it is serialized to `3px 4px 1px 2px`...

Spec: https://drafts.csswg.org/css-backgrounds-3/#the-box-shadow

Relevant code: https://github.c

[2017-01-25 04:39] highfive commented on #15203
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 05:01] #14834 closed

[2017-01-25 05:14] upsuper opened #15204 "letter-spacing and word-spacing should accept negative length value"
Spec:
https://drafts.csswg.org/css-text-3/#letter-spacing-property
https://drafts.csswg.org/css-text-3/#word-spacing-property

Relevant code:
https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_text.mako.rs#L337
https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_text.mako.rs#L418-L419

[2017-01-25 05:14] highfive commented on #15204
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 05:25] upsuper opened #15205 "calc() should support number in `line-height`"
e.g. `line-height: calc(1 + 1)` should work.

[2017-01-25 05:33] upsuper opened #15206 "outline shorthand should not serialize initial value of outline-width to "initial""
`outline: none` is currently serialized to `outline: initial none`, which is invalid. It should be `outline: medium none` or `outline: none`.

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/shorthand/outline.mako.rs#L56-L57

[2017-01-25 05:33] highfive commented on #15206
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 05:36] upsuper opened #15207 "outline-style should accept "auto" value in addition to border-style values"
Spec: https://drafts.csswg.org/css-ui-3/#outline-style

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/outline.mako.rs#L17-L30

(This is probably not easy enough... I don't know. cc @Manishearth)

[2017-01-25 06:00] DexterHaslem commented on #15195
I'm trying to write a unit test to verify the fix, but I'm struggling with creating a 'none' property value.. here is what I have tried:

    use style::properties::longhands::transform::SpecifiedValue as TransformValue;
    let declaration = PropertyDeclaration::Transform(DeclaredValue::Value(TransformValue(Vec::new())));

I get an error

    PropertyDeclaration::Transform(DeclaredValue::Value(Tr

[2017-01-25 06:03] upsuper opened #15208 "String value in text-overflow is serialized incorrectly"
`text-overflow: "x" "y"` would be serialized to `text-overflow: x y`, which is invalid.

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/text.mako.rs#L78

It should probably use `cssparser::serialize_string` to serialize the string value.

[2017-01-25 06:03] highfive commented on #15208
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 06:06] upsuper commented on #15195
I guess it may be easier to write a wpt test rather than a unit test. cc @Manishearth

[2017-01-25 06:24] upsuper opened #15209 "Value of quotes should be serialized to "none" if the list is empty"
It is basically the same issue as #15195.

Documentation: https://developer.mozilla.org/en-US/docs/Web/CSS/quotes

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/list.mako.rs#L56-L68

[2017-01-25 06:24] highfive commented on #15209
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 06:40] simpslandyy commented on #15190
Hi, I intend to work on this issue! :)

[2017-01-25 06:47] upsuper commented on #15190
Great! Please ask questions here if there is anything unclear.

[2017-01-25 07:07] upsuper opened #15211 "{fill,stroke}-opacity should support SVG-in-OT values context-{fill,stroke}-opacity"
I don't find any formal definition of these values... but Gecko supports them... cc @heycam

[2017-01-25 07:26] upsuper opened #15213 "writing-mode should accept obsolete SVG 1.1 values and sideways-{lr,rl}"
The obsolete SVG 1.1 values can be easily mapped to existing values, but we probably want to add sideways values only for gecko for now.

Spec: https://drafts.csswg.org/css-writing-modes-3/#block-flow

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_box.mako.rs#L19-L24

(Maybe an easy one, cc @Manishearth)

[2017-01-25 07:30] upsuper opened #15214 "text-orientation should accept sideways-right as an alias of sideways"
Spec: https://drafts.csswg.org/css-writing-modes-3/#valdef-text-orientation-sideways-right

[2017-01-25 07:31] deror1869107 commented on #14676
The trait bound in ArrayBufferViewContents is u8, u16, i8, i16, f16, f32 primitive type.

It means that there would be some function call like
[code]

But I have to change them to Uint8, Uint16, Int8, Int16, Float16, Float32 which are TypedArrayElementType.

Therefore I can rewrite fn typed_array_or_sequence_to_vec with  TypedArray.

[2017-01-25 07:39] heycam opened #15215 "migrate from libbindgen to bindgen"
Since https://github.com/servo/rust-bindgen/pull/414 the libbindgen crate has been yanked, which causes stylo's update script to complain:

<pre>
cam@emu /z/stylo/hg-incubator $ ./update-servo.sh
...
Re-vendoring dependencies...
    Updating registry `https://github.com/rust-lang/crates.io-index`
error: no matching package named `libbindgen` found (required by `style`)
location searched: registry

[2017-01-25 07:48] #15165 closed

[2017-01-25 08:04] heycam commented on #15215
I can't work out how to vendor the updated `cssparser` in the stylo repo (which current Servo requires, and which is blocking https://bugzilla.mozilla.org/show_bug.cgi?id=1317209 from landing) so this is blocking mozilla-central merges in stylo.

[2017-01-25 08:09] Manishearth commented on #15195
You can just roundtrip it -- parse the string "none", wrap in PropertyDeclaration and serialize

[2017-01-25 08:10] Manishearth commented on #15195
WPT test also fine but this seems like a very servo specific bug

[2017-01-25 08:44] emilio commented on #15215
I hace a patch for this from yesterday, I'll post it when I'm back from class.

[2017-01-25 09:17] Manishearth commented on #15213
This is tricky, since it maps to both the writing-mode and direction property. Probably not easy.

[2017-01-25 09:17] highfive commented on #15207
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 09:18] Manishearth commented on #15207
It's easy enough.

[2017-01-25 09:47] upsuper commented on #15194
Great! Please ask questions here if there is anything unclear.

[2017-01-25 11:17] Ms2ger opened #15217 "Service worker code only supports a single content process"
When a new content process is spawned, we send a `SWManagerMsg::OwnSender` message to the constellation, which does
[code]

and any previous value of that field is gone.

[2017-01-25 11:22] Ms2ger opened #15218 "Use recv_timeout in TimerScheduler?"
There's a comment in there that states
[code]

and points to https://github.com/rust-lang/rfcs/issues/962 which points to https://github.com/rust-lang/rust/issues/34029 which was closed in https://github.com/rust-lang/rust/pull/35607.

[2017-01-25 11:23] Ms2ger opened #15219 "Should the timer scheduler live in the chrome process?"
It currently lives along the constellation, but it seems to be used only from the script crate; it might be worth having one per content process instead.

[2017-01-25 12:17] emilio commented on #14682
Relanded

[2017-01-25 12:17] #14682 closed

[2017-01-25 12:17] emilio commented on #15218
Yeah, I implemented it just for that purpose :)

[2017-01-25 12:31] niki-04 commented on #15203
I would like to work on this!

[2017-01-25 12:33] upsuper commented on #15203
Great! Please ask questions here if there is anything unclear.

[2017-01-25 12:38] dashed commented on #15208
Hi! I would like to take up this issue.

[2017-01-25 12:41] upsuper commented on #15208
Sure! Feel free to ask questions.

[2017-01-25 13:03] mstange commented on #5187
I'm not sure how the "stretch the middle part" optimization would work for the blur filter. For box-shadows, the shape of the input is known: it's just a rectangle, possibly with rounded corners, so you can easily compute the size and location of the stretchable middle part. But the CSS blur filter supports arbitrary inputs! Detecting a stretchable middle part in the general case could get quite t

[2017-01-25 13:32] mstange opened #15221 "The CSS `blur` filter doesn't work"
This testcase should be blurred:

[code]

but it just renders as a regular box without a blur.

[2017-01-25 13:46] jdm commented on #15219
I agree; it will be more efficient to have it exist in content processes.

[2017-01-25 13:56] Ms2ger commented on #15188
I doubt that there's a detectable difference here, but it might be good to fix anyway. Note that this is the one case where the spec uses the "*rethrow errors* flag", so `evaluate_script_on_global_with_result` is not correct as it stands today.

[2017-01-25 13:59] jdm commented on #15188
Microtasks!

[2017-01-25 14:00] Ms2ger commented on #15188
I don't think the JavaScript execution context stack can be empty in this case.

[2017-01-25 14:24] Ms2ger commented on #7055
jdm fixed in #15181.

[2017-01-25 14:24] #7055 closed

[2017-01-25 14:57] multhazim123 commented on #15200
I'd like to work on this!

[2017-01-25 15:04] jdm commented on #15200
Please do! Ask questions here if anything is unclear.

[2017-01-25 15:48] SimonSapin opened #15224 "File pull requests to bump 0.0.x dependencies to 0.1.0"
The following crates in Servo’s dependency graph are on crates.io with a version number like 0.0.x:

* [ ] [clippy_lints](https://crates.io/crates/clippy_lints)
* [x] <s>device</s>
* [x] [gaol](https://crates.io/crates/gaol)
* [x] [mac](https://crates.io/crates/mac)
* [x] <s>task_info</s>
* [x] [traitobject](https://crates.io/crates/traitobject)
* [x] [unicode-xid](https://crates.io/crates/unicode

[2017-01-25 15:49] highfive commented on #15224
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-25 17:12] dashed commented on #15207
I would like to take up this issue.

[2017-01-25 17:15] dashed commented on #15208
I managed to create a test for this along with potential fix.

I am unsure where to place the test (just a file called `text_overflow.rs`). Should I place it here? https://github.com/servo/servo/tree/master/tests/unit/style/parsing

[2017-01-25 17:19] Manishearth commented on #15207
Great! https://github.com/servo/servo/wiki/Property-hacking-guide has some tips on writing parse/serialization code. You basically need to replace this with an enum where one variant contains BorderStyle and the other is Auto

[2017-01-25 17:34] eddiequan commented on #15209
Hi, I intend to work on this issue.

[2017-01-25 17:46] prampey commented on #14967
@jdm My bad. I didn't realise that in order to fire the events, you still need a reference to `mql`:
`event.upcast::<Event>().fire(mql.upcast::<EventTarget>())`
So as we fire them one by one, we are still required to keep a reference to `mql`.
I have thought of another way. Perhaps, we could '_try_' borrowing the reference to mql every time we need to fire an event and handle the error everytime w

[2017-01-25 17:58] jdm commented on #15209
Great! Please ask questions if anything is unclear!

[2017-01-25 17:59] jdm commented on #14967
We could store a vector of changed MediaQueryList values and iterate over those using `rooted_vec!`.

[2017-01-25 18:13] dpyro commented on #15194
It looks like we are implementing serialization of the specified transforms, not the computed ones. If that is correct, it looks like we are discarding needed information to regenerate the original specified transforms in [parse](https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs#L1271-L1497). Should I then modify the specified data structures to retain the