[2019-07-10 15:28] jdm commented on #23705
According to [#servo-media](https://mozilla.logbot.info/servo-media/20190710#c16452181-c16452187) this is expected behaviour when we don't include the ogg plugin, which is not built for UWP support yet.

[2019-07-10 16:09] jdm commented on #23705
So there are two main issues here:
* uridecodebin uses [g_get_user_cache_dir](https://developer.gnome.org/glib/stable/glib-Miscellaneous-Utility-Functions.html#g-get-user-cache-dir) as the template for the temporary file that downloadbuffer tries to use, but downloadbuffer doesn't appear to handle file access errors very well (https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/blob/36319169

[2019-07-10 16:28] collares commented on #22363
Yes, sorry again! This semester left me with almost no free time :( Back in March I took detailed spec notes to understand the problem, but ran out of time before finishing the implementation. I will definitely submit a PR tomorrow for feedback, since I now have time to work on this again.

A tiny problem is that I'll use linear interpolation for resampling (as Chromium does) instead of doing what

[2019-07-10 17:07] gterzian commented on #23733
For what it's worth, I did some testing using `performance.now()` using this test: https://github.com/servo/servo/pull/23637/files#diff-684fc482ea12f526b30118a7d4cfa714R63

I adapted the test to send 10k messages in the form of 5k roundtrips between two cross-origin scripts.

On my machine, which is an old macbook air with only two cores(it takes 15 min to re-compile script in release mode), it se

[2019-07-10 17:27] jdm opened #23739 "Progressive downloading interferes with media playback on Windows"
Loading https://joshmatthews.net/videoogg.html and https://joshmatthews.net/videomp4.html on Windows shows output like:
[code]
These videos play correctly when the progressive download is disabled. This behaviour is not observed on macOS.

[2019-07-10 17:31] jdm commented on #23705
Filed https://github.com/servo/media/issues/282 for point 2.

[2019-07-10 18:01] asajeffrey commented on #23733
Odd things about XR... the devices are often puny CPUs (magicleap servo has two A57 ARM processors running everything but the main thread) but are expected to achieve high frame rates. At 120fps, if IPC is only achieving 10k msg/sec, then that's <100 msg / rAF, so less than 100 calls to WebGL functions!

As it happens, I suspect your numbers are dominated by calls to println, I'd expect much highe

[2019-07-10 18:22] jdm opened #23742 "ServoApp can't launch when packaged with UWP GStreamer binaries"
With https://github.com/jdm/servo/commit/8dd3f878939d3d11756d7b980669834274d0b5fd applied, launching the UWP Servo app triggers a panic when it can't load any of the GStreamer plugins. They all depend on vcruntime140_app.dll and msvcrt_app.dll which aren't present in the generated AppX.

[2019-07-10 18:23] jdm commented on #23742
More specifically, with that commit applied and the x86_64 binaries from https://nirbheek.in/files/mozilla/uwp/gstreamer/0.3/ packaged by setting GSTREAMER_1_0_ROOT_X86_64 appropriately during the Servo build.

[2019-07-11 00:51] #23735 closed

[2019-07-11 05:07] CYBAI commented on #21696
Got this in #23746 at https://taskcluster-artifacts.net/HHjbrwiWRiyGmvT62miTyQ/0/public/filtered-wpt-errorsummary.log

[code]

[2019-07-11 05:20] saschanaz opened #23747 "Windows build fails with gstreamer DLL not found error"
[code]

I have installed the latest gstreamer 1.16.0 and build has been successful, why does this suddenly happen?

[2019-07-11 05:29] CYBAI commented on #23747
They are updated in #23712 as required packages.

I don't have a windows machine but after reading #23712 and https://github.com/servo/servo/issues/23631#issuecomment-508238077, could you check your libs folder setting or something related? 🤔

cc @ferjm

[2019-07-11 05:32] saschanaz commented on #23747
My gstreamer lib folder does not have those five dll files whereas it has all of files mentioned in https://github.com/servo/servo/pull/23712#issuecomment-508880309.

[2019-07-11 06:45] gterzian commented on #23733
Thanks for the additional info.

You're right, it's down to 4.25 secs without the prints.

[2019-07-11 11:22] ferjm commented on #22366
In general, I would prefer to stick to what the specification says instead of implementing specific behaviors for specific sites (even if these are important sites like Youtube).

Yes, looking at [Gecko's code](https://dxr.mozilla.org/mozilla-central/source/netwerk/base/nsMediaFragmentURIParser.cpp) that seems to be the case.

I share your believe here. Youtube indeed seems to be using and parsing

[2019-07-11 12:29] jdm commented on #23747
@saschanaz Did you install gstreamer-1.0-devel-msvc-x86_64-1.16.0.msi along with gstreamer-1.0-msvc-x86_64-1.16.0.msi?

[2019-07-11 12:49] jdm opened #23749 "Appveyor is broken after gstreamer packaging changes"
Same symptoms as https://github.com/servo/servo/issues/23747 except that it's our own CI.

[2019-07-11 12:50] jdm commented on #23749
Hmm, we're installing both the devel and non-devel packages already :<

[2019-07-11 13:02] saschanaz commented on #23747
@jdm Yes:

![image](https://user-images.githubusercontent.com/3396686/61053005-98751300-a427-11e9-8b1f-3cbeb3b999a2.png)

[2019-07-11 13:03] jdm commented on #23747
Given that we can reproduce on appveyor in #23749, I'll try and sort out the problem there.

[2019-07-11 13:05] jdm commented on #23749
[code]
https://github.com/servo/servo/blob/5bc34e3e4dfb6502b462dd407ce414f9ea6f573f/appveyor.yml#L53-L56

[2019-07-11 15:10] saschanaz commented on #23749
I can get the files from ffmpeg Windows build and copy-paste them into gstreamer directory, but then it fails again with:

[code]

[2019-07-11 15:20] jdm commented on #23749
One interesting difference between our Taskcluster CI and Appveyor is that appveyor installs the MSIs with /quiet, meaning that any default options will be automatically used. Taskcluster extracts all of the files from the MSI and repackages them in a ZIP which is later unpacked in the directory that Servo's build uses. This suggests to me that the MSI contains a choice to install the ffmpeg DLLs

[2019-07-11 15:39] saschanaz commented on #23749
Ah, your right! The installer has a disabled-by-default option named "GStreamer 1.0 libav wrapper" which installs the required files.

[2019-07-11 20:44] jdm commented on #23616
Duplicate of #23680.

[2019-07-11 20:44] #23616 closed

[2019-07-11 20:44] jdm commented on #23680
https://docs.microsoft.com/en-us/windows/mixed-reality/app-model#switching-from-the-2d-xaml-view-to-the-immersive-view may be useful, but it may also be too XAML-focused.

[2019-07-11 20:51] jdm opened #23753 "Support building UWP app from mach"
Our CI setup is dictated by https://github.com/servo/servo/blob/master/etc/taskcluster/decision_task.py . In particular, see the windows_unit and windows_arm64 functions which create tasks corresponding to https://tools.taskcluster.net/tasks/HtSwU2zzTdiC5wfpYIgLKg and https://tools.taskcluster.net/tasks/b6PRpaKmQ3GjcAkakQXXeg (chosen at random from https://treeherder.allizom.org/#/jobs?repo=servo-

[2019-07-11 20:53] jdm commented on #23514
https://doc.rust-lang.org/std/panic/fn.catch_unwind.html

[2019-07-11 20:55] jdm commented on #23514
In the short term, it would be best to make all of the `extern "C"` APIs in https://github.com/servo/servo/blob/master/ports/libsimpleservo/capi/src/lib.rs fallible (by returning failure values like null pointers or adding boolean returns to them), and update the ServoApp integration to check the return values of all of them and output appropriate debugging information before terminating.

[2019-07-11 21:00] highfive commented on #23753
cc @wafflespeanut

[2019-07-11 21:47] jdm commented on #23697
The crashes appear to come from the fact that ANGLE has a single underlying Direct3D resource that is used for all contexts, so it does not like to have multiple contexts distributed across threads operating simultaneously (https://github.com/Microsoft/angle/issues/61). When I merged the webgl thread with the main thread, I successfully displayed an animating webgl canvas in the desktop app.

[2019-07-11 22:05] jdm opened #23754 "Support refining VSLogger filter by module"
Right now we include log messages in the output based strictly on their level (https://github.com/servo/servo/blob/d52692241e2e3c57223e8ca4936dc3c7e5945719/ports/libsimpleservo/capi/src/vslogger.rs#L15). It would be good to support initializing VSLogger with a list of accepted modules and filter against the log record's [target](https://docs.rs/log/0.4.7/log/struct.Metadata.html#method.target) to

[2019-07-11 22:07] jdm opened #23755 "Include log target in vslogger output"
Right now the logging from the VSLogger handler only shows the [message and the level](https://github.com/servo/servo/blob/d52692241e2e3c57223e8ca4936dc3c7e5945719/ports/libsimpleservo/capi/src/vslogger.rs#L20), but not the [target](https://docs.rs/log/0.4.7/log/struct.Record.html#method.target). Including this will make it easier to make sense of the log output.

[2019-07-11 23:12] jdm opened #23756 "Remove "OpenGL ES and XAML" example text from UWP app"
It gets in the way of the page content and really doesn't serve any purpose.

[2019-07-11 23:26] jdm commented on #23697
I got animating webgl content displaying the UWP app as well by adding a thread that relays all of the webgl messages from the script thread to the "webgl thread" (ie. main thread) and kicks the event loop alive so the app doesn't deadlock: https://www.joshmatthews.net/hlservo.mp4

[2019-07-11 23:29] jdm commented on #23697
I think in the short term it would be best to make it possible to run the webgl thread on the main thread, and longer term we could investigate following https://github.com/microsoft/angle/issues/65 and creating a second d3d device and sharing textures between them to retain our separate webgl thread. I would rather start from a working implementation as soon as possible than spend time potentiall

[2019-07-11 23:39] jdm opened #23757 "UWP app won't load in the HoloLens 2 emulator"
Need to verify if this is a recent regression from #23712 or some local changes I've made.

[2019-07-12 03:50] jdm commented on #23757
On master the app starts up but panics when loading GStreamer DLLs. I suspect this is caused by gstgl, which depends on opengl32.dll. I'll make a reduced set of plugins for UWP tomorrow.

[2019-07-12 07:27] paulrouget commented on #23680
I've managed to get a XAML app that spawns an immersive view, in winrt, with Servo running in a SwapChainPanel: https://github.com/paulrouget/HLServo2

Now trying to create a OpenGL context from a CoreWindow (not foreseeing any issue).

[2019-07-12 09:20] #23703 closed

[2019-07-12 09:58] paulrouget commented on #23756
This will be solved by the incoming winrt rewrite.

[2019-07-12 10:22] jdm opened #23759 "Align with new navigation algorithms"
https://github.com/whatwg/html/pull/4664

[2019-07-12 12:04] gterzian opened #23760 "Script crash on handling new layout - cross-origin iframe"
When reloading a document containing a cross-origin(cross-site actually) iframe, if you reload the document in the load handler of the iframe, you get a consistent crash at:

https://github.com/servo/servo/blob/026e550d3536115b23ad794e08b3c93147913dfb/components/script/script_thread.rs#L2168

I've opened a PR with a test for this:

[2019-07-12 14:25] Eijebong commented on #23510
#23516 has been merged, this can be closed :)

[2019-07-12 14:25] #23510 closed

[2019-07-12 14:32] jdm opened #23766 "Add a nightly job that tries to upgrade webrender"
Similar to the job that performs the upstream WPT sync every night, it would be nice to have a job that tries to pull down the latest webrender changes, build them, and submit a pull request. This would let us catch new test failures and API changes as they are merged upstream.

[2019-07-12 15:14] gterzian commented on #23733
This might be what you are looking for:

Why is Mojo faster than IPC? Mojo can write a message to the pipe directly, while IPC needs a hop to the IO thread.

https://docs.google.com/document/d/1n7qYjQ5iy8xAkQVMYGqjIy_AXu2_JJtMoAcOOupO_jQ/edit

https://chromium.googlesource.com/chromium/src/+/master/mojo/README.md

Bindings API: https://chromium.googlesource.com/chromium/src/+/master/mojo/public/to

[2019-07-12 15:27] Manishearth commented on #23733
Yeah at the all hands Nika suggested we check out Google's IPC

[2019-07-12 15:48] gterzian commented on #23733
Besides performance, it has some other potentially interesting properties:

https://docs.google.com/document/d/1n7qYjQ5iy8xAkQVMYGqjIy_AXu2_JJtMoAcOOupO_jQ/edit

could be relevant for a bunch of stuff like https://github.com/servo/servo/issues/23179

@paulrouget @jdm

[2019-07-12 15:49] atouchet commented on #23558
Now that ws has been updated this is the last remaining usage of rand 0.4 in the project.

[2019-07-12 15:50] asajeffrey commented on #23733
Hmm, interesting. It looks like it has an ability to register callbacks for message arrival (https://chromium.googlesource.com/chromium/src/+/master/mojo/public/c/system/README.md#Signals-Traps) which is what's needed to play ball with Rust futures.

[2019-07-12 18:01] jdm opened #23769 "OutputHandler never inserts any sync objects into the sync_objects field"
Either it works perfectly and no synchronization is actually needed so the field should be removed, or we should be adding synchronization objects to it when they're created. Hard to tell because the code is preffed-off by default and no content makes use of the experimental feature.

[2019-07-12 20:10] matharumanpreet00 commented on #12604
Hi, I tried to fix this and submitted a PR #23770. It follows the work from https://github.com/servo/servo/pull/23313.

[2019-07-12 20:40] moonlightdrive commented on #12604
oops, looks like I was too slow. Thanks for your response @jdm. If you happen to have any suggestions of a good first bug, I'd love to know :) otherwise I'll poke for something else to fix

[2019-07-12 20:51] jdm commented on #23330
https://github.com/servo/servo/pull/23367 had a patch that looked good, but needed some test results to be updated before the author disappeared.

[2019-07-12 20:52] jdm commented on #22782
Unassigning due to lack of activity.

[2019-07-12 20:54] jdm commented on #21268
Unassigning due to lack of activity.

[2019-07-12 20:54] jdm commented on #21257
Unassigning due to lack of activity.

[2019-07-12 20:55] jdm commented on #21255
@nagashayan Are you still working on this?

[2019-07-12 21:16] jdm commented on #22888
@yashpatel5400 Did you make any progress? Are you still working on this?

[2019-07-12 21:17] jdm commented on #22845
@georgeroman Was this fixed by #22851?

[2019-07-12 21:18] jdm commented on #22359
@ferjm Has this been completed?

[2019-07-12 21:22] jdm commented on #23619
This works now.

[2019-07-12 21:22] #23619 closed

[2019-07-12 21:23] jdm commented on #23328
This was fixed by #23536

[2019-07-12 21:23] #23328 closed

[2019-07-12 21:26] #22946 closed

[2019-07-12 21:27] jdm commented on #22912
@moonlightdrive This might be a good first issue!

[2019-07-13 00:00] nagashayan commented on #21255
@jdm  yes, this weekend I will try to finish.

[2019-07-13 01:40] moonlightdrive commented on #22912
Thanks @jdm! I'll take a look at this one

[2019-07-13 03:08] oneturkmen commented on #22854
@jdm btw I don't think we can remove [this couple](https://github.com/servo/servo/blob/master/components/style/context.rs#L112) of opts::get() from `components/style` since the implementation of Default trait requires `fn() -> Self` function (i.e. I cannot pass `&self`).

[2019-07-13 04:05] #23749 closed

[2019-07-13 04:58] jdm commented on #22854
Bleah. I agree. We will need to think harder about how we can remove those in the future.

[2019-07-13 16:27] #23757 closed

[2019-07-13 19:17] #23656 closed

[2019-07-13 22:31] nagashayan commented on #21255
@jdm Just refreshed my memory I am waiting on 21254 issue to be resolved. I need that value to complete this PR. what do you think?

[2019-07-14 16:26] pylbrecht commented on #23431
I'm afraid I have to step back from working on this for now. I'm in the final weeks of my thesis and it's eating up all my time and effort. I'm not happy leaving this in such an unfinished state, but my thesis has to come first.
So if anyone wants to continue working on this for the time being, I'm glad to hand it over. Otherwise I continue where I left off once my thesis is handed in (08/12/2019)

[2019-07-14 16:35] sreeise opened #23772 "Segfault when running specific tests."
Trying to run specific tests results in a segfault. Two of them are tests/wpt/web-platform-tests/xhr/abort-after-send.any.js and tests/wpt/web-platform-tests/css/css-paint-api/parse-input-arguments-005.https.html. Both backtraces are the exact same.

For reference, my setup is Linux Ubuntu 18.04 running on an AMD Ryzen 2700x with two discrete graphics cards running in crossfire mode.

Running with

[2019-07-14 16:42] sreeise commented on #23772
Here is the full backtrace:

[code]

[2019-07-14 19:16] #23332 closed

[2019-07-15 02:56] bcamp commented on #23330
@highfive: assign me

Looks like #23332 went in and the test no longer needs updating.

[2019-07-15 02:56] highfive commented on #23330
Hey @bcamp! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-15 08:06] ferjm commented on #22359
Yes. https://github.com/servo/media/pull/271 implemented the necessary bits and it's already integrated in Servo. There are some remaining tweaks to be done in follow-ups like https://github.com/servo/media/pull/279 but this one can be closed now.

[2019-07-15 08:06] #22359 closed

[2019-07-15 09:22] #12604 closed

[2019-07-15 10:40] gterzian commented on #23733
Here is some discussion from the perspective of Firefox(potentially using Mojo going forward): https://mozilla.github.io/firefox-browser-architecture/text/0012-process-isolation-in-firefox.html

I find this pretty interesting, because it means that the "save a thread hop" of Mojo doesn't apply to what we're doing with ipc-channel. It appears to me Chromium used a router thread both on the sending

[2019-07-15 11:31] gterzian opened #23775 "mach: update-manifest misses local changes"
I've noticed a few times that if you make a change to an existing test, `./mach update-manifest` does nothing locally. Later, it fails on CI(example: https://tools.taskcluster.net/groups/Sl1yBFfwRP6Vh2ELmd8Hxw/tasks/CebOEynkQruZJ-A0FGfYrQ/runs/0/logs/public%2Flogs%2Flive.log#L525).

Not sure how I fixed it last time, or whether this happens intermittently, but this time I can guarantee that I trie

[2019-07-15 11:31] highfive commented on #23775
cc @wafflespeanut

[2019-07-15 12:16] jdm commented on #23775
I'm hopeful hat this has been fixed by https://github.com/web-platform-tests/wpt/pull/17785.

[2019-07-15 12:19] CYBAI commented on #23775
It's been synced in https://github.com/servo/servo/pull/23767/files?file-filters%5B%5D=.py#diff-dca0930be0d5a55410bfecf0b0ab7a31 👀

[2019-07-15 12:31] tdelacour commented on #21257
@highfive assign me

[2019-07-15 12:31] highfive commented on #21257
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-15 15:05] angelortiz1007 commented on #23754
Can the list of "accepted" modules be listed?

[2019-07-15 15:12] angelortiz1007 commented on #23755
I've modified the fn log() function to now include "record.target" as shown below.   I have the following questions:

1. Is the formatting acceptable, or should the record.target() be the first output variable?
2. What is the best way to test this change and verify a log is being created properly?

    fn log(&self, record: &Record) {
        if self.enabled(record.metadata()) {
            let lo

[2019-07-15 15:27] jdm commented on #23755
The easiest way to test the change is to change the VSLogger's `enabled` method to return `true` and look at the Output window's contents before and after your changes - Servo produces a bunch of logging by default, so it should be easy to compare.

[2019-07-15 15:30] jdm commented on #23754
@angelortiz1007 We're effectively trying to achieve the same effect as the [Android port's logging](https://github.com/servo/servo/blob/c57e9bb93834aedf9a22bebc45589b3d622b9e98/ports/libsimpleservo/jniapi/src/lib.rs#L64-L87) - a list of accepted modules is a list of strings that will be parsed as Rust module paths. The VSLogger should store a vector of strings that it uses to decide if a log recor

[2019-07-15 15:30] jdm commented on #23755
And yes, that formatting seems fine to me.

[2019-07-15 15:33] angelortiz1007 commented on #23755
Thanks Josh, I’ll document the test case when I commit the changes.

If I do a:

Mach build -r –uwp

Also, “cargo test” is the way to test, correct?

From: Josh Matthews <notifications@github.com>
Sent: Monday, July 15, 2019 10:28 AM
To: servo/servo <servo@noreply.github.com>
Cc: Angel Ortiz <aoble248@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [servo/servo] Include log target in

[2019-07-15 15:45] jdm commented on #23755
You will need to do:
* `mach build -r --uwp`
* when that build completes, rebuild the visual studio project in release configuration
* when that build completes, run the video studio project in x64 local machine configuration

This will cause the UWP app to run using the latest changes to the Servo engine.

[2019-07-15 17:26] jdm opened #23778 "UWP app panics when shutting down with active webgl"
It's an assertion in the webrender GL device's Drop impl that "renderer::deinit was not called":
[code]

[2019-07-15 17:27] jdm commented on #23778
This is in a build with #23777 applied.

[2019-07-15 20:16] jdm commented on #20377
Unassigned per private request. The work in #23657 was off to a good start, and https://github.com/servo/servo/pull/23657#issuecomment-510225906 contains the most up to date plan for how to continue making progress on it if anybody else would like to give it a try!

[2019-07-15 20:43] #22828 closed

[2019-07-15 21:34] atouchet commented on #21253
connectStart is now marked as done but as [noted by](https://github.com/servo/servo/issues/21261#issuecomment-507033955) @jdm:

[2019-07-16 04:06] CYBAI opened #23779 "del element is not shown as deleted"
While checking [the html5accessibility](https://www.html5accessibility.com/html5elements/) testing page, I found we didn't show `<del>` element correctly.

Firefox:
![image](https://user-images.githubusercontent.com/6782666/61265108-f6a84a00-a7c9-11e9-91e6-c457df4f173b.png)

Servo:
![image](https://user-images.githubusercontent.com/6782666/61265077-d9737b80-a7c9-11e9-86b2-2e35c26b9cb9.png)

Also,

[2019-07-16 04:10] CYBAI commented on #23779
The simplest test case is

[code]

![image](https://user-images.githubusercontent.com/6782666/61265406-fc525f80-a7ca-11e9-8750-cffbe7c072d3.png)

[2019-07-16 04:22] CYBAI commented on #23779
Hmm, maybe I shouldn't say it's bogus because we do have the css attribute in

https://github.com/servo/servo/blob/005320c08c9dc0a87ada445f66549c2140891975/resources/user-agent.css#L112

But maybe we can test it better with a reftest? 🤔

[2019-07-16 07:04] CYBAI commented on #23082
The work in #23096 is almost there and only need to address @emilio 's suggestions in https://github.com/servo/servo/pull/23096#discussion_r274079177 and https://github.com/servo/servo/pull/23096#discussion_r274080860.

@sbansal3096 Feel free to reopen and finish that PR if this is not fixed when you have time!

[2019-07-16 12:55] CYBAI opened #23780 "Set CORS preflight requests' `mode` to `cors`."
Spec: whatwg/fetch#916
WPT: web-platform-tests/wpt#17874

[2019-07-16 15:26] jdm commented on #23754
I would expect:
* storing a vec as a member of VSLogger, initialized to the empty vec
* adding a method to VSLogger that allows setting that vec member
* calling that method from [init_logger](https://github.com/servo/servo/blob/005320c08c9dc0a87ada445f66549c2140891975/ports/libsimpleservo/capi/src/lib.rs#L77)
* passing the desired list of modules as an argument to init_logger
* adding a member to

[2019-07-16 19:32] jdm commented on #21285
http://www.songho.ca/opengl/gl_fbo.html has some information about enabling antialiasing.

[2019-07-16 19:49] jdm opened #23782 "Store a top-level origin in ScriptThread and forbid non-similar-origin page loads"
A ScriptThread should be created for a particular origin, and any pages that are loaded in it should be able to verify that they are created from an HTTP response that is similar-origin with the script thread's origin. We need similar rather than same-origin because loading `something.ebay.com` needs to use the same script thread as `another.ebay.com` and that's a valid sharing that needs to take

[2019-07-16 19:49] jdm commented on #23782
If this were in place, it should catch any instances of #23037.

[2019-07-16 21:10] angelortiz1007 commented on #23755
Issue implemented.  See https://github.com/servo/servo/pull/23783

[2019-07-17 00:26] Manishearth opened #23787 "Check for user activation in WebXR"
`requestSession()` is not supposed to work in immersive mode if it isn't triggered by user activation. We should also update `simulateUserActivation()` from https://github.com/servo/servo/pull/23786 when implementing this.

[2019-07-17 00:27] Manishearth opened #23788 "Support session ending in WebXR"
WebXR should both be able to signal that the session ended due to user/device choice, as well as support the manual `end()` method correctly. https://github.com/servo/servo/pull/23786 adds stubs for this to make tests work.

[2019-07-17 05:48] gterzian commented on #23037
I think the `SecurityError: The operation is insecure.` is a good thing actually, because what I think is happening is completely insecure(and it could be a way to break process isolation).

Just from reading the code, which should be taken with a grain of salt, here what I think happens:

1. Starting with a navigation to `https://www.joshmatthews.net/mlredir2.html`.
2. Constellation creates a new

[2019-07-17 13:04] SimonSapin commented on #22334
We ended up not using ECS for Servo layout (in order to avoid the need for fast mutable concurrent access to a centralized shared resource).

[2019-07-17 13:04] #22334 closed

[2019-07-17 13:46] jdm commented on #23778
Turns out that Servo::~Servo is never invoked, so the embedding deinitialization never occurs.

[2019-07-17 14:00] jdm commented on #23778
There are a few reasons I see that this occurs:
* mServo in OpenGLESPage is a raw pointer that is never deleted so its destructor is never invoked
* even if I use std::unique_pointer instead for mServo, the destructor still never runs because of the UWP app lifecycle model
* if we want to execute code when the app is terminating, we need to support either the OnSuspend handler or the EnterBackgrou

[2019-07-17 14:41] jdm commented on #23778
The following patch fixes the webrender panic:
[code]
I'll hold off submitting it while #23790 is open, since it will require porting these changes to the new model.

[2019-07-17 19:58] jdm opened #23793 "Set VS/VC build environment variables automatically when cross-compiling on Windows"
Right now making a local arm64 build requires copying https://github.com/servo/servo/blob/25d8a6999b2d6730d65d328d80ed9906d12f286c/etc/taskcluster/decision_task.py#L748-L750 into your build environment. We should automate this.

[2019-07-17 19:58] highfive commented on #23793
cc @wafflespeanut

[2019-07-17 22:02] jdm opened #23794 "simpleservo.h is not placed in arm64 target directory"
It seems to be hardcoded to target/debug or target/release, but `--target aarch64-pc-windows-msvc` should cause it to be placed in target/aarch64-pc-windows-msvc/{debug,release} instead.

[2019-07-17 22:02] jdm opened #23795 "ServoApp needs an ARM64 configuration"

[2019-07-17 22:09] jdm opened #23796 "Intermittent timeouts in /webxr/xrSession_prevent_multiple_exclusive.https.html, /webxr/xrDevice_disconnect_ends.https.html, /webxr/xrSession_input_events_end.https.html"
[code]
cc @Manishearth

[2019-07-17 22:10] jdm commented on #23794
This occurs because the build script is _not_ cross-compiled, so its target directory is actually the root target/.

[2019-07-17 22:31] jdm commented on #23793
Curiously, when I set these before building and perform a clean build, I encounter linking errors from crates that try to link Windows libraries early on the build. I'm not sure why this doesn't happen in CI.

[2019-07-18 04:06] jdm opened #23798 "Upstream WPT webhook git repo becomes enormous after a while"
servo-master1 ran out of disk space because the servo repo that the WPT upstreaming service uses had a .git directory that was consuming 32gb. After I ran `git gc` inside it, it went down to a much more manageable 2.2gb. Some kind of cron job to do that automatically might make sense.

[2019-07-18 05:07] gterzian commented on #21025
An idea on how to do this, based on the (still ongoing) experience of https://github.com/servo/servo/pull/23637

1. Introduce a `BroadCastChannelId`, based on a `PipelineNameSpace`.
2. When you create a `BroadCastChannel`, store it on the `GlobalScope` in a `VecDeque<Dom<BroadCastChannel>>`. It needs to be a `Dom` because you want to keep a strong reference to it.
3. Create an `ipc` channel, send

[2019-07-18 06:50] Manishearth commented on #23796
Probably should implement `end()` first, then see how this test fares.

[2019-07-18 07:48] azer opened #23799 "Rendering Issues in Wayland/Sway"
I'm a Wayland/Linux user and experience issues running Servo in my system; Sway + Arch Linux.

You can see the screenshot below;
* The window locates itself in a centered position instead of using the whole space. Normally, Servo should have used 50% of the width and full height of the screen, as expected in a system with tiling window managing.
* It's not able to render Google, due to a binding e

[2019-07-18 08:41] gterzian commented on #19302
One thing I'd like to note and check against other people's view:

It seems to me that we spawn one "service worker manager" per script-process, running it as a thread on the same process.

I think this is perhaps not the right design, because service workers are shared per-origin(with one origin potentially having many scopes), and the concept of a script process doesn't map to origin, it maps es

[2019-07-18 09:36] gterzian opened #23800 "Implement SharedWorker"
https://html.spec.whatwg.org/multipage/#sharedworker

Couple of design ideas, based on current ongoing work at https://github.com/servo/servo/pull/23637:

1. Constellation owns a `HashMap<(Origin, Url), SharedWorker>`(or just origin -> worker) .
2. A `SharedWorker` is similar to an `EventLoop`, essentially a wrapper around an IPC sender and a pipeline Id(or a `SharedWorker` is a process that runs

[2019-07-18 09:54] CYBAI commented on #19302
this sounds efficient to me.

yes, I think we should be able to reuse the same service worker between different browsing context but same origin?

@gterzian Sure! Don't have too much time recently 😓 but I will read the code and share my thought again here! (also read the SharedWorker issue you just opened) Btw, I'm working on #23545 because we'll also need to handle `modules` for service workers!

[2019-07-18 13:02] jdm opened #23802 "Intermittent pass in /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/creating_browsing_context_test_01.html"
[code]

[2019-07-18 14:07] gterzian commented on #19302
Yes, so the idea is, I think, that every ScriptThread for a given origin should use a single `ServiceWorkerGlobalScope`.

I'm reading a bit more through the existing code and there something that surprises me:

The constellation seems to have only one `swmanager_chan`, and it's [set to a new value each time a sw_manager registers itself](https://github.com/servo/servo/blob/d9ea7ae1781f090ba52423b3

[2019-07-18 15:39] gterzian commented on #23800
in favor of https://github.com/servo/servo/issues/7458

[2019-07-18 15:39] #23800 closed

[2019-07-18 15:50] gterzian commented on #7458
Couple of design ideas, based on current ongoing work at https://github.com/servo/servo/pull/23637:

1. Constellation owns a `HashMap<(Origin, Url), SharedWorker>`(or just origin -> worker) .
2. A `SharedWorker` is similar to an `EventLoop`, essentially a wrapper around an IPC sender and a pipeline Id(or a `SharedWorker` is a process that runs one worker-event-loop per Url in threads).
3. The diff

[2019-07-19 01:35] Manishearth opened #23806 "Intermittent FAIL in /css/css-flexbox/flex-flow-005.html"
https://github.com/servo/servo/pull/23804#issuecomment-513052417

[code]

[2019-07-19 03:09] jdm commented on #23806
All Mac reftest failures are #23290.

[2019-07-19 03:09] #23806 closed

[2019-07-19 05:08] gterzian opened #23807 "Implement AudioWorklet"
https://webaudio.github.io/web-audio-api/#audioworklet

Any interest in this? @ferjm @Manishearth

It's using MessagePorts, coming soon to a neighorhood near you. https://github.com/servo/servo/pull/23637

[2019-07-19 06:44] gterzian commented on #7458
One more thing: Service and Shared workers also differ in that Service workers are meant as stateless, event-driven, never-block kind of components that potentially run independently of any web page, whereas Shared workers are really meant to share state between different pages running the same origin.

I think it's worth it to implement Shared workers, since 2015 there has been quite a lot of pro

[2019-07-19 06:52] CYBAI commented on #7458
About WebKit, they implemented it but removed it.
https://webkit.org/status/#feature-shared-web-workers

Not read yet but maybe related WebKit issues:
https://bugs.webkit.org/show_bug.cgi?id=116359
https://bugs.webkit.org/show_bug.cgi?id=140344

[2019-07-19 07:57] Manishearth commented on #23807
Interest, yes, but I'm not sure how to make the processing model work safely with spidermonkey and the audio thread. SHould be fine with an audio _thread_, may be tricky if it's a process, which we might eventualy do.

[2019-07-19 09:58] gterzian commented on #7458
Thanks for sharing those issues. https://bugs.webkit.org/show_bug.cgi?id=116359 is particularly interesting. It actually seems that there are people complaining about not having this feature being consistently implemented across browsers.

That seems to have been the origin reason for the removal.

And this is an argument I disagree with, since shared-workers are basically re-using dedicated worke

[2019-07-19 10:16] gterzian commented on #7458
Also, I think this would fit very well in the overall design of Servo, hence shouldn't be exactly very hard or a lot of resources redirected from other things.

And having a worker run in a separate process from script, using a message-port as the communication channel between that worker and multiple potential script-process clients, is generally a problem that if solved once could open up other

[2019-07-19 10:32] gterzian commented on #23807
Is that the "rendering thread" mentioned in the spec? https://webaudio.github.io/web-audio-api/#rendering-thread

And the "control thread" is basically a script-thread then, right?

What kind of process isolation do you have in mind? One rendering thread/process per origin? In that case, a worklet would be created from a "control thread"(script, I guess), whereas the [audioworkletglobalscope](http

[2019-07-19 10:36] gterzian commented on #23807
I'm not sure what problem you have in mind, and I would say the worklet simply runs inside a ` AudioWorkletGlobalScope` which is a separate script execution context, similar to what we currently have with `DedicatedWorkerGlobalScope`, which would either run in a thread, or in a thread but in a different process.

[2019-07-19 10:49] gterzian commented on #23807
Ok so I read the spec a bit more, so the  audio worklet would run on the same "rendering thread" as the base audio context, it's really just a way for script to run a script in that context, it's not a background worker.

Having said that, if you were to run the "rendering thread" in a separate process from script(and share it on a per-origin basis with various script processes?), you could use `M

[2019-07-19 13:50] Ersikan commented on #22782
@highfive: assign me

[2019-07-19 13:50] highfive commented on #22782
Hey @Ersikan! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-19 14:09] jdm opened #23809 "Create NuGet package for ANGLE with ARM64 support"
The official Microsoft ANGLE NuGet package has x64, x86, and ARM support. We need ARM64 as well, and https://github.com/microsoft/angle/pull/144 is just sitting there waiting. I propose we make our own fork of that repository, merge that pull request and https://github.com/microsoft/angle/pull/154 and then publish the resulting binaries as our own NuGet package.

https://docs.microsoft.com/en-us/n

[2019-07-19 14:56] jdm opened #23811 "Windows ARM64 build crashes inside openssl"
[code]
[code]

[2019-07-19 15:00] jdm commented on #23811
I see two paths forward:
* get the source for https://github.com/microsoft/vcpkg/tree/77cfd20b83e71a0c513658e7c4d049d4039905af/ports/openssl-windows, make a local debug build, figure out how to get openssl-sys to link against it, try and figure out the source of the crash, fix it, create new binaries with the resulting fix
* create new binaries based on the latest master openssl which includes UWP

[2019-07-19 15:03] jdm commented on #23809
https://github.com/servo/ms-angle/tree/servo-master

https://github.com/microsoft/angle/issues/99#issuecomment-265009259

[2019-07-19 15:15] paulrouget commented on #23680
I'm at a point where the HoloLens code is ready to render immersive mode.

I haven't look at webxr yet.

@asajeffrey I haven't looked at the recent work that has been done to hook a different GL context for the immersive mode. Can you point me to the relevant parts of Servo that I should be looking at? And maybe summarize how you think I should implement that? The GL context can run in the composi

[2019-07-19 15:19] Manishearth commented on #23680
No, that's out of date. Clone https://github.com/manishearth/webgl-to-webvr and check out the xr branch

Yeah, you should just use servo master. Patch a new backend into https://github.com/servo/webxr/.

[2019-07-19 15:42] jdm commented on #23680
@paulrouget My changes are at https://github.com/servo/rust-webvr/tree/openxr.

[2019-07-19 15:52] asajeffrey commented on #23680
@paulrouget The main things are

a) Add a new backend to servo/webxr.

b) In the hololens library, register the Hololens back end.

For the GL context, I ended up sharing the context between both the immersive display and webrender, which worked fine but it might have been better to create two contexts that share textures.

I'm about to port magicleap from the old rust-webvr to the new shiny webxr

[2019-07-19 15:56] jdm commented on #23679
The sample UWP app that integrates with OpenXR looks like a useful reference on top of my existing work: https://github.com/microsoft/OpenXR-SDK-VisualStudio/blob/master/samples/BasicXrApp/OpenXrProgram.cpp

[2019-07-19 15:57] jdm commented on #23679
Also https://www.khronos.org/registry/OpenXR/specs/0.90/refguide/OpenXR-0.90-web.pdf for a technical overview of the lifecycle.

[2019-07-19 16:01] jdm commented on #23679
I suspect my initial attempt to use [GraphicsBindingOpenGLWin32KHR](https://github.com/Ralith/openxrs/commit/64fce8f43271ddcac971c506d22012fa35b9bdbc#diff-c3a4cf8ef14ebc90ea17ece540dd6ec4R57) to create the session is incorrect and we need to use the D3D graphics binding instead, per the sample app: https://github.com/microsoft/OpenXR-SDK-VisualStudio/blob/03fd06d786c789c4c0743bb336e2d0e3b7bb2a86/s

[2019-07-19 17:36] asajeffrey commented on #23680
Oh, and as part of the magicleap port, I'm making the necessary changes to libsimpleservo, which you may want for a libhlservo.

[2019-07-19 18:03] jdm commented on #23679
I added some missing d3d11 bindings to openxr-rs in https://github.com/servo/openxrs/tree/d3d11 and updated the rust-webvr branch to port the d3d11 initialization code from the sample app. See the latest commit at https://github.com/servo/rust-webvr/compare/openxr.

[2019-07-19 18:43] Manishearth commented on #23807
![IMG_20190719_114130](https://user-images.githubusercontent.com/1617736/61557880-4b420400-aa1a-11e9-9a36-4c6b3ed649b4.jpg)

Rough diagram of all the processing units involved. Red arrows should be in the same process, ideally. Blue arrows can have a process boundary. Our task is to find the right red arrows to sacrifice.

[2019-07-19 18:46] asajeffrey commented on #23807
IRC chat: https://mozilla.logbot.info/servo/20190719#c16481448

[2019-07-19 18:49] asajeffrey commented on #23680
The WIP magicleap port... https://github.com/asajeffrey/webxr/commit/6ff2fea2b3d99ee529d4081d88fca8ccbfb8a453

[2019-07-19 20:23] angelortiz1007 commented on #23514
Would it be best to wait for paul's winrt HoloLens to be integrated into the winrt-servo branch I have?
https://github.com/angelortiz1007/servo/tree/winrt-servo

This way I can properly implement the correct return.  Otherwise I can temporarily just return true on my branch and later work with the new winrt HoloLens.

Here is my understanding of the integration of RUST and HoloLens.

If I understa

[2019-07-19 21:03] jdm commented on #23514
For the purposes of protecting the C API from panics, I don't believe there is any need to modify libsimpleservo/api. Those are all Rust functions that will be called from Rust code, so panics can propagate without issue. It's the free functions in libsimpleservo/capi that are defined as `extern "C" fn foo(...)` and have an actual implementation that we need to focus on. The members of CHostCallba

[2019-07-19 21:09] jdm commented on #23796
Same behaviour observed in /webxr/xrDevice_disconnect_ends.https.html:
[code]

[2019-07-19 21:23] angelortiz1007 commented on #23514
Got it now!

I was looking at the wrong externs.

From: Josh Matthews <notifications@github.com>
Sent: Friday, July 19, 2019 4:04 PM
To: servo/servo <servo@noreply.github.com>
Cc: Angel Ortiz <aoble248@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [servo/servo] Add panic catching to C API (#23514)

For the purposes of protecting the C API from panics, I don't believe there is any n

[2019-07-19 21:23] jdm opened #23813 "Expose configurable logging through C API"
Right now the C API has a hardcoded logger set up on Windows that relies on OutputDebugString. We should provide some callbacks for C API users to perform their own logging instead.

I'm imagining a new member of CInitOpts which is a [function pointer](https://doc.rust-lang.org/book/ch19-05-advanced-functions-and-closures.html) which receives a string to log. This is a callback that the embedder c

[2019-07-19 22:16] jdm commented on #23811
Current plan:
* rely on https://github.com/alexcrichton/openssl-src-rs/ for a straightforward openssl build
* create a crate that depends on openssl-src and builds it for aarch64-pc-windows-msvc and x86_64-pc-windows-msvc
* take those binaries, zip them up, put them on s3 and update the build system to use the new zip

This requires making a change to the openssl build system to generate DLLs that

[2019-07-19 22:41] #23755 closed

[2019-07-20 09:47] ras0219-msft commented on #23811
I'm not sure about how to make openssl-sys to link against it, but I will note that vcpkg will always create a debug build by default in addition to the release build; so extracting the sources should hopefully not be needed.

[2019-07-20 13:36] #21257 closed

[2019-07-20 13:55] marmeladema commented on #20377
I am willing to give it a try @jdm

[2019-07-20 15:32] jdm commented on #20377
@marmeladema Great! Take a look at the prior work and plans and ask questions if anything is unclear :)

[2019-07-20 15:35] jdm commented on #22729
Need to see if we're using a version of mio that is uwp-compatible: https://github.com/tokio-rs/mio/issues/912

[2019-07-20 18:50] RestitutorOrbis commented on #21270
@jdm Which tests in https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/resource-timing are relevant?

[2019-07-20 18:56] gatoWololo opened #23817 "Cannot `mv` servo if built at least once."
It seems servo hardcodes some build paths somewhere. Once servo has been built once, moving the root file or renaming it, causes servo not to build anymore.

Steps to reproduce:
1) Successfully build Servo once.
2) `mv servo/ servo2`
3) ` ./mach build -d`:
[code]
Notice in the error message above it is still looking under the old path.

[2019-07-20 19:29] gatoWololo opened #23818 "Wrong Type for `ROUTER.add_route` callback?"
## Background
I'm messing around with a typed version of the `ipc::router::add_route` method.
Original:
[code]

Mine:
[code]

So I call the `OpaqueIpcMessage::to` message on behalf of the user, and hide all the implementations details about `Opaque*`.

When using the typed API I found two places in Servo where I couldn't get it to type check.

## Actual Problem
From the latest master unmodified co

[2019-07-20 19:38] jdm commented on #23818
Curious! That does look incorrect to me.

[2019-07-20 19:49] gatoWololo commented on #23818
There is a similar case in function `add_cache_listener_for_element` in `servo/components/script/image_listener.rs`.

I would be down to fix it, but I'm not exactly sure what the "correct" code would look like. Since it's not an issue now, but down the line it may block me on some RR channel stuff I'm working on.
Currently my workaround is: `let image = unimplemented!(); //message.unwrap();`

Sinc

[2019-07-20 20:03] atouchet commented on #9592
@gterzian did #23368 address this?

[2019-07-21 02:09] jdm commented on #21270
I would expect any of the tests with TAO in the name to be relevant.

[2019-07-21 09:21] gterzian commented on #23807
Ok thanks for the info.

Why would worklet would ruin introducing a process boundary?

Reading the chat, it seems there is a mental model of running the Audio worklet as some sort of worker in the script-process.

I have a different mental model, where the worklet is just a piece of JS code that is run on the same thread as where the audio processing happens, and not as a worker, more like an inte

[2019-07-21 13:51] Manishearth commented on #23807
The process boundary is kinda useless if we're allowing arbitrary JS into the audio process. I'm wary of letting gstreamer and spidermonkey share a process. It doesn't have to be the same process as script, but we should be careful about mixing it with gstreamer.

But yes, this is one option! All of the red arrows in the diagram I drew are things which would _ideally_ be process boundaries. We nee

[2019-07-21 15:19] gterzian commented on #23807
If I understand it correctly, we currently have one instance of `ServoMedia` per content-process, initialized at https://github.com/servo/servo/blob/8328763ff277bf6c050c94a91bd4b41ff1518e3c/components/servo/lib.rs#L927

So one could imagine having one `ServoMedia` per origin, running in it's own process. It could actually save us a few `ServoMedia` instances, since same-origin pages that aren't pa

[2019-07-21 19:48] gatoWololo opened #23821 "Logger Initialization Should Happen Earlier in Execution"
When logging events in my own module. I miss several events at the begging. This is due to the env_logger not being initialized as early as possible. We should try to have logging happen earlier in Servo's execution.

[2019-07-22 04:20] Manishearth commented on #23807
Right, currently we don't have a media-script process boundary, but it was designed with a plan to add such a process boundary eventually.

This can work. It's unclear if the performance impact would be high.

OTOH, i'm not sure if we want to run JS code and gstreamer in the same process, ever, and those are really the only two options we have :)

[2019-07-22 04:28] gterzian commented on #9592
Not that I'm aware of.

Could also relate to https://github.com/servo/servo/issues/23760

[2019-07-22 05:38] gterzian commented on #23807
https://docs.google.com/presentation/d/1GZJ3VnLIO_Pw0jr9nRw6_-trg68ol-AkliMxJ6jo6Bo/edit#slide=id.g36f61837b7_1_1

It seems in Chromium the audio worklet is run on a separate thread, in the same process as the "main" script-thread. So that actually is the opposite of what I had in mind.

And, this approach seems to create issues:
1. https://bugs.chromium.org/p/chromium/issues/detail?id=836306 (som

[2019-07-22 05:40] gterzian commented on #19302
This is worth reading: https://docs.google.com/presentation/d/1GZJ3VnLIO_Pw0jr9nRw6_-trg68ol-AkliMxJ6jo6Bo/edit#slide=id.g36f61837b7_1_69

[2019-07-22 05:40] gterzian commented on #7458
This is worth reading: https://docs.google.com/presentation/d/1GZJ3VnLIO_Pw0jr9nRw6_-trg68ol-AkliMxJ6jo6Bo/edit#slide=id.g36f61837b7_1_69

[2019-07-22 06:38] SimonSapin commented on #23817
This looks like a limitation of rustc, possibly related to incremental compilation. Try starting over (`./mach clean`) then compiling with a `CARGO_INCREMENTAL=0` environment variable. Builds after the first will likely be slower.

But really, this doesn’t sound like a scenario worth spending time to support IMO.

[2019-07-22 06:40] gterzian commented on #9592
Hang-on, somehow it either did or I removed the comment in error at https://github.com/servo/servo/pull/23368/files#diff-498ce74d806ab54484e768d9237a53b1L149

[2019-07-22 06:51] gterzian commented on #9592
Ok so yes the `LoadData` is not optional anymore, so this is "fixed" https://github.com/servo/servo/pull/23368/files#diff-498ce74d806ab54484e768d9237a53b1R112

So I removed with `Option` around `LoadData`, and that's because it was never called with `None`. So it seems like the comment was invalid, and this issue fixed in an earlier change, since it was about dealing with the now non-existent `Non

[2019-07-22 07:04] gterzian commented on #9592
This was the historical case where `None` was used:

https://github.com/jdm/servo/blob/c5fe8f74010a872e1b0a2f5d7f956c679fc08855/components/script/dom/htmliframeelement.rs#L459

[2019-07-22 10:45] emilio commented on #23728
Need to install gstreamer1-plugins-base-devel... Which is on the readme, whoops.

[2019-07-22 10:45] #23728 closed

[2019-07-22 10:47] paulrouget opened #23823 "Rewrite HoloLens GL thread code"
At the moment, we loop and block on a condition variable. Every time the loop is unblocked we check what's in a shared event array and do the servo calls according to what's in the array.

I think it would be better to not loop but capture the GL thread `apartment_context` and later switch back to the context with `co_await` and then directly make the Servo calls. No need for a loop or a shared ar

[2019-07-22 10:48] paulrouget commented on #23823
Documentation: https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/concurrency

[2019-07-22 11:08] jdm commented on #23823
This might be a good topic for next week if we don't need to solve it before that time.

[2019-07-22 11:11] paulrouget commented on #23823
Absolutely.

[2019-07-22 11:23] jdm commented on #9592
As written, the problem described in this issue looks fixed, in that case.

[2019-07-22 11:23] #9592 closed

[2019-07-22 13:45] mateon1 commented on #23642
I keep hitting this issue on linux, latest master (75275965f08d7b34be73254b7b4df9135cc8fcf8), with Xfce/xfwm 4 as the DE/WM if that matters.

After Servo hangs, it consumes zero CPU, and stops processing everything.
The main thread seems to be stuck waiting on a message from the compositor

<details>
<summary>Main thread backtrace</summary>

[code]
</details>

[2019-07-22 14:00] mateon1 commented on #23642
I think I see the issue

https://github.com/servo/servo/blob/c57e9bb93834aedf9a22bebc45589b3d622b9e98/components/compositing/compositor.rs#L1496-L1500

I believe that winit receives and queues multiple repaint events before the first repaint is handled. This means the first handled repaint event will `repaint_synchronously`, but more repaint events will be popped off the queue later causing the ha

[2019-07-22 14:16] Manishearth commented on #23807
Less convinced by this, but if you feel it would be useful!

[2019-07-22 14:47] jdm commented on #23794
We can fix this by explicitly by creating a path based on TARGET (if it's different from the host) and PROFILE using the current directory as the base path.

[2019-07-22 15:03] jdm commented on #23642
This sounds like either something changed since https://github.com/servo/servo/issues/23489 was fixed or that fix was not enough.

[2019-07-22 15:08] asajeffrey commented on #23807
The paint worklet does a lot of jumping through hoops to make sure that GC is never run by the worklet. (There are three worklet threads, each running its own SM instance, and when the active worklet detects GC pressure, it swaps itself out.) This depends on paint worklets being stateless though, if audio worklets are allowed to be stateful then this approach is out. They can still run an a a sepa

[2019-07-22 15:16] ferjm opened #23826 "Expose privileged api for logging UA widget script errors"
So we can better address cases like https://github.com/servo/servo/pull/23208#discussion_r305796955

[2019-07-22 19:37] jdm commented on #23811
Using a more recent openssl made the crash disappear. I will try to find time to investigate the crash in the vcpkg version at some point, but it's no longer a high priority for me given the other parts of this project competing for my attention.

[2019-07-22 21:38] jdm commented on #23811
https://github.com/servo/openssl-src-rs/tree/servo
https://github.com/servo/openssl/tree/servo

[2019-07-23 02:02] jdm commented on #23809
https://www.nuget.org/packages/ANGLE.WindowsStore.Servo/2.1.13

Time to update our documentation!

[2019-07-23 02:06] jdm commented on #23809
Nevermind, I need to update the package reference in the project file.

[2019-07-23 03:36] #22720 closed

[2019-07-23 03:36] #22721 closed

[2019-07-23 04:09] gterzian commented on #23807
I'm not sure, starting to tend towards running the worklet in script. My initial understanding from reading the spec was that the intent of the worklet was really to run JS code on the audio thread(or at least right next to it in the same process, in the case of process isolation of audio), with the goal being making that JS code run "on par" with the native audio processing code.

Its sort of wha

[2019-07-23 06:14] gterzian commented on #23807
Ok sorry for driving everyone crazy, but I have one more "idea":

1. Separate the backend Sink from the render thread.
2. Run the sink in a separate process.
3. Run the render thread in script(like now).
4. `self.sink.push_data` becomes an IPC call.
5. `self.sink.has_enough_data()` becomes a flag set async from receiving a `HasEnoughData` ipc message, to avoid having to do a blocking ipc call at e

[2019-07-23 10:00] paulrouget opened #23832 "hololens: XR hangs"
With this PR: #23777

The stack shows that it's right when the "Enter VR" button is clicked (using this page: http://paulrouget.com/webgl-to-webvr/webxr.html)

[code]

[2019-07-23 10:02] paulrouget commented on #23832
Servo branch: https://github.com/paulrouget/servo/tree/hl2.wip
webxr branch: https://github.com/paulrouget/webxr/tree/hl

[2019-07-23 11:15] #22366 closed

[2019-07-23 12:47] sreeise opened #23834 "Change uses of DOMString in MediaFragmentParser"
#23774 added a parser for media fragments URI's for audio and video using DOMString as a dependency. The DOMString parts should be changed to use a string to allow publishing it as a standalone crate. Code is located in components/script/dom/mediafragmentparser.rs

[2019-07-23 15:41] jdm commented on #23796
And /webxr/xrSession_input_events_end.https.html:
[code]

[2019-07-23 15:43] Manishearth commented on #23796
Yeah, I've got some fixes in the pipeline to try and resolve this. It's tricky to resolve correctly.

[2019-07-23 15:56] cburgos commented on #23722
Is this still available ? Would like to take a stab at it.

[2019-07-23 15:56] jdm commented on #23722
@cburgos There has been no activity since the previous comment, so please do :)

[2019-07-23 15:57] cburgos commented on #23722
@jdm great! @highfive  assign me

[2019-07-23 15:57] highfive commented on #23722
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2019-07-23 16:47] padenot commented on #23807
In general, you cannot have context switches in this whole situation (they are too long and brings non-determinism, and that causes glitches, and that's not acceptable).

In the diagram that @Manishearth draw above, it's necessary to have the native Web Audio API node run synchronously alongside with the `AudioWorklet` rendering (the `process` call), in the same thread, that has the highest priori

[2019-07-23 21:27] KritR commented on #23722
Sorry about the lack of activity. I’ve run the tests numerous times and so far haven’t seen any new issues beyond the sporadic timeouts. Just haven’t gotten around to making a pull request. I’ll take care of that tonight.

[2019-07-23 21:41] jdm commented on #23722
There's a pull request in #23837 already. Sorry!

[2019-07-23 21:42] jdm commented on #21803
@kritr If you want to work on this issue, you could.

[2019-07-23 21:47] KritR commented on #23722
Ah it's all good then !

[2019-07-23 21:53] KritR commented on #21803
Thanks for the issue @jdm. I'll be a little bit occupied until this weekend, and if it's still open then I'll pick it up.

[2019-07-23 22:12] jdm commented on #21803
Unassigning due to lack of activity.

[2019-07-24 02:50] gterzian commented on #23807
Thanks!

Ok, so that means the rendering thread and worklet global scope need to run in the same thread, and their event-loops(rendering loop + event-loop of the global scope) need to be interleaved on that same thread.

Ok so then we'd have to split our current WebAudio implemenation, put the actual backend in a separate process, while keeping the rendering thread in the script/content process(an

[2019-07-24 06:46] jdm commented on #23832
I figured out what's happening - we get stuck in [this line](https://github.com/servo/servo/blob/7ffe65e6726c4f179e97140a7ff679c6cb706c40/components/script/dom/xrwebgllayer.rs#L99) which is a synchronous GL API. I suspect this is the same problem that's mentioned in https://github.com/paulrouget/servo/blob/af84c7f3c67eabe95ed3a8edb9581c0c6c4f090f/support/hololens/ServoApp/BrowserPage.cpp#L204-L208

[2019-07-24 07:42] jdm commented on #23832
I tried to make the signalling robust, but I think we have an actual deadlock, since I see no sign that the main thread ever returned from a mServo->PerformUpdates() call which ended up triggering the hanging WebGL API.

[2019-07-24 07:45] jdm commented on #23832
Yep, there it is:
[code]

[2019-07-24 07:49] jdm commented on #23832
@asajeffrey @Manishearth We're going to need to figure out how to handle [this code](https://github.com/servo/webxr/blob/43a54f4cbe0ed3037e5e2bf34769241a5bd3da60/webxr-api/session.rs#L215-L223) when it is blocking the main thread, and webgl runs on the main thread, and script is blocking on receiving a response from webgl.

[2019-07-24 08:06] #23809 closed

[2019-07-24 08:15] #23756 closed

[2019-07-24 08:17] saschanaz commented on #22781
Working on this

[2019-07-24 08:18] paulrouget commented on #23678
Click works now.

[2019-07-24 08:19] paulrouget commented on #23618
Fixed #23790

[2019-07-24 08:19] #23618 closed

[2019-07-24 13:17] #23794 closed

[2019-07-24 13:20] Manishearth commented on #23832
Does hololens have main thread affinity?

[2019-07-24 14:32] jdm commented on #23832
Based on https://docs.microsoft.com/en-us/windows/win32/direct3d11/overviews-direct3d-11-render-multi-thread-intro I _suspect_ it may be possible to do it on non-main threads?

[2019-07-24 14:33] jdm commented on #23832
Depending on the rendering setup, we may need to ensure that any of the actual rendering involved in webxr on the hololens occurs on the main thread, though.

[2019-07-24 15:36] saschanaz commented on #15012
#22557 replaced MozMap with IndexMap, what remaining actionable items are here?

[2019-07-24 15:41] jdm commented on #15012
More or less all of #20318.

[2019-07-24 16:04] jdm commented on #23832
IRC discussion pointing out that the code in question busy-loops forever if script does not trigger a rAF: https://mozilla.logbot.info/servo/20190724#c16492208-c16492281

[2019-07-24 16:04] asajeffrey commented on #23832
IRC chat: https://mozilla.logbot.info/servo/20190724#c16492251

[2019-07-24 18:04] asajeffrey commented on #23796
We have competing fixes :)

[2019-07-24 19:15] angelortiz1007 commented on #23734
For Information:
------------------
In my effort to work on this issue I found the following link:
http://unixwiz.net/techtips/outputdebugstring.html

The API windows OutputDebugString() API uses a protocol to output messages to the debugger.  The protocol and kernel objects used are listed in the link above.

Of interest to me was the DBWinMutex used by the API.  If multiple threads are outputtin

[2019-07-24 19:31] jdm commented on #23734
For reference, we have dealt with this on other platforms before to redirect stdout/stderr to the native logging solution: https://github.com/servo/servo/blob/9b14bbdc98ea078a4f868abee1b7c7244161f46d/ports/libsimpleservo/jniapi/src/lib.rs#L531-L614

[2019-07-24 20:05] jdm commented on #23742
I have successfully launched the x64 UWP app using the UWP gstreamer binaries. I'm putting together a pull request that will add them to the MSVC dependencies and use them in the build when `--uwp` is applied.

[2019-07-24 20:52] angelortiz1007 commented on #23734
This is a good reference where STDOUT (1) and STDERR(2) file handles are dup2() into a pipe for redirecting stdout and stderr to a file.

In our case (If I understand correctly), we would like **STDOUT (1)** and **STDERR(2)** to be redirected - somehow/if possible - to OutputDebugString().  I don't see a way to determine the file handle the OutputDebugString() uses, but much like what was done in

[2019-07-24 20:59] jdm commented on #23734
Yeah, it may be possible to use the same pipe-based mechanism and call OutputDebugString directly instead of __android_log_print.

[2019-07-24 21:10] angelortiz1007 commented on #23734
Looking at the reference code I believe thread::spawn() is the function to spawn a thread.

In windows you can specify a file handle/Read/Write operation to be blocking or non-blocking.  blocking is good because a read() operation will not return on the read file handle unless there is data.  I suspect RUST would also have a way to specify a read/write blocking operation and/or non-blocking read o

[2019-07-24 22:06] #23811 closed

[2019-07-25 00:23] asajeffrey opened #35499 "Replace Session* by Connection*"
There are some device APIs where there is long-lived setup that should be run on the thread that's managing the device, which would be a lot easier to handle if `SessionThread` was actually `ConnectionThread`, and session management became a thing Servo did rather than the webxr crate.

[2019-07-25 02:20] sreeise commented on #22799
While looking at Servo media I noticed that `PlayerInner` in bakends/gstreamer/player.rs uses `gst_player::Player` which has methods `set_video_track(stream_index: i32)` and `set_audio_track(stream_index: i32)`. Just by looking at it I believe the stream index is the same index as it would be in the metadata when we receive it in `HTMLMediaElement`. This may be something worth looking to set speci

[2019-07-25 02:34] sreeise commented on #22799
There is also `set_audio_track_enabled(enabled: bool)` and `set_video_track_enabled(enabled: bool)`. Guessing that a current track would need to be set and then enabled it but i'm not sure if that would work for enabling multiple audio tracks.

[2019-07-25 02:34] #23722 closed

[2019-07-25 03:10] gterzian commented on #23818
It's a mistery. I've added some print statements at `servo/components/script/image_listener.rs`, it's pretty easy to hit that code branch, just load github.com or any page with images.

What goes in the `send` is a `PendingImageResponse`, what comes out in the `recv` is a `ImageResponse`.

I don't know how.

Since a ``PendingImageResponse` contains a `ImageResponse`, could the deserialize step som

[2019-07-25 05:25] #23514 closed

[2019-07-25 07:24] #23793 closed

[2019-07-25 07:24] #23795 closed

[2019-07-25 11:40] jdm commented on #23818
This might be the problem that @gatowololo mentioned to me, where an opaque ipc channel can be used to receive an object that is smaller than what was sent (like i32 from an i64).

[2019-07-25 13:09] jdm opened #23849 "Intermittent failure in /html/browsers/browsing-the-web/read-media/pageload-image-in-popup.html"
[code]

[2019-07-25 17:42] jdm opened #23854 "mach should prevent a build from starting in some known problem cases"
We should check up front for these known problem cases from mozjs that break the build:
* no python3 binary or PYTHON3 environment variable present
* a user name with a space
* a CARGO_HOME that's on a different drive than the servo repository

[2019-07-25 17:42] highfive commented on #23854
cc @wafflespeanut

[2019-07-25 17:53] sreeise commented on #23834
@highfive: assign me

[2019-07-25 17:53] highfive commented on #23834
Hey @sreeise! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-25 22:31] #23796 closed

[2019-07-25 23:16] jdm opened #23858 "Intermittent failure in /webxr/xrSession_prevent_multiple_exclusive.https.html"
[code]

[2019-07-26 02:25] jdm opened #23859 "Closing the window does not terminate the program"
I'm pretty sure this is related to the changes from #23845. cc @paulrouget

[2019-07-26 02:40] jdm commented on #23859
It may also be coming from calling simpleservo::deinit, judging by some crash logs I received when running the WACK testing.

[2019-07-26 03:40] jdm commented on #23832
Now that #23847 is merged, I tried rebasing your wip branches on top of it to see if the issue was fixed. I had to go to bed before the compilation finished, but maybe this will save some time: https://github.com/jdm/servo/tree/rebased-hl2.wip

[2019-07-26 05:16] angelortiz1007 commented on #23734
I was able to create a VS2017 solution called StdErrRedirect to verify under windows if STDOUT/STDERR could be redirected via pipes and sent to OutputDebugString() string.

The link to the code is: https://github.com/angelortiz1007/StdErrRedirect and the repository is:
https://github.com/angelortiz1007/StdErrRedirect.git.

Next step is to add into capi/lib.rs.

Question... Should we allow for redi

[2019-07-26 06:11] gterzian commented on #23832
Couple of sanity checks:

1. What does `event_loop_waker.wake()` does in this context? Does it actually result in `handle_events` of Servo being called?
2. When the `WebGL main thread pump` forwards an incoming WebGL command the main thread, and then wakes-up the main thread,
3. can you always be sure that the next call to `webgl_thread.process()` will receive the command forwarded under 2?
4. If

[2019-07-26 06:24] gterzian commented on #23832
So the main idea is that the "main-thread" of Servo should be completely driven by events from the device currently plugged-in(the embedder, essentially), and then those events should be processed in a specific ways back on the servo main thread by the various subsystems in a robust manner(by blocking on channels when you expect a message, instead of doing `try_recv` or `recv_timeout`).

The curre

[2019-07-26 08:07] paulrouget commented on #23859
erf. `deinit` needs to be called in the GL thread. Moving it to OnShutdownComplete will do. But it still crashing in `deinit` for some reason. I'll look later.

[2019-07-26 08:53] paulrouget commented on #23734
At the moment it's not necessary.

[2019-07-26 09:55] paulrouget commented on #23832
Rebased as well (see my `xr` branches of my `servo` and `webxr` forks). You'll notice some GL errors during flush calls (ordering issue with make_current/flush), calling make_current in the flushXR call will (temporally) work around the issue.

It's looping here now:

[code]

[2019-07-26 10:23] gterzian commented on #23832
That's the background hang monitor, If you build with `debug` I think you should see the warn logs, or you can just add a `println` at:

https://github.com/servo/servo/blob/449881f5666cc455ccc26666e0c21e9087f4bcdb/components/constellation/constellation.rs#L1225

It's looping because it does a checkpoint after a timeout, but only samples the first time something hangs for more than 5 secs, so after

[2019-07-26 11:28] gterzian commented on #23832
@asajeffrey In the light of the PR which added the calls to the waker when calling methods on the `Registry`, for example at https://github.com/asajeffrey/webxr/blob/f6eed0148842161a41d043cdadda671362afe519/webxr-api/registry.rs#L104

Would it make sense to do the same when calling certain methods of `Session`, since those also send messages to the registry, and the sessions it contain? For exampl

[2019-07-26 12:21] CYBAI opened #23861 "Intermittent failure in /webxr/xrBoundedReferenceSpace_updates.https.html"
[code]

cc @Manishearth

[2019-07-26 13:12] #23834 closed

[2019-07-26 13:16] jdm opened #23862 "Intermittent failure in /css/CSS2/linebox/inline-negative-margin-001.html"
[code]

[2019-07-26 14:13] Manishearth commented on #23861
We don't support this feature anyway, leaving it open.

My session lifecycle PR should improve things here.

[2019-07-26 15:01] jdm opened #23865 "Match event loop wakeups to expected messages"
@gterzian left a series of interesting comments about the fragility of the current system that wakes up the main thread to process events in https://github.com/servo/servo/issues/23832#issuecomment-515323314. I agree that it would be good to find a system that would better express the intention of waking up the event loop so that it doesn't go back to sleep until all expected events have been proc

[2019-07-26 15:03] jdm commented on #23865
One conceptually nice system would be to have wake up events include an increasing monotonic id that's associated with the events that need to be processed so we could easily check if we have already processed them. That _might_ be possible if all senders of the events live in the same process and could share an AtomicUint that gets included in the message.

[2019-07-26 15:06] asajeffrey commented on #23832
@gterzian tidying up the main thread is definitely something we should think about, it used to be quite clean (just running webrender and the main window) but is now a mess of webrender+webxr+wengl+... My temptation would be to rewrite it using async/await which is exactly intended to solve problems like this. This is quite a big project, though, and would require making anything that can run on t

[2019-07-26 15:24] jdm commented on #23832
Returning to the issue of hanging webxr integration, the new hang looks like the main thread is waiting for a frame:
[code]

Meanwhile the script thread is waiting for any event at all:
[code]

[2019-07-26 15:27] #23697 closed

[2019-07-26 15:29] jdm commented on #23832
Oh, I see - we're calling SerializableWebGLMsgSender::lock() on the main thread, which assumes that it can block on a response from the webgl thread, which will of course never happen. I suspect this is fixed by the later commits in https://github.com/jdm/servo/tree/webgl-main-thread-sync.

[2019-07-26 15:44] jdm commented on #23832
Actually I think that's a lie - I had to solve a similar problem in #23777 for dealing with locking the webgl textures (see WebrenderExternallmageApi implementation for WebGLExternalImages), but it's not immediately clear how to do the same for fixing the WebGLExternalImageApi implementation of SerializableWebGLMsgSender.

[2019-07-26 16:56] gatoWololo commented on #23818
See https://github.com/servo/ipc-channel/issues/239 for a minimal example of the issue.

[2019-07-26 16:59] gatoWololo commented on #23817
I agree. I just wanted to document it, as it wasn't obvious at first why servo suddenly stopped building for me.

[2019-07-26 17:10] asajeffrey commented on #23832
IRC chat: https://mozilla.logbot.info/servo/20190726#c16498697

TL;DR the simplest fix is to use TLS to store the thread-local textures, so we can implement locking without channels for thread-local images, and with channels otherwise.

[2019-07-26 17:57] jdm commented on #23832
[code]
This avoids the latest hang.

[2019-07-26 20:35] jdm opened #23867 "Intermittent failure in /html/browsers/windows/embedded-opener-remove-frame.html"
[code]

[2019-07-26 23:59] asajeffrey commented on #23832
This should be fixed by #23868.

[2019-07-27 02:58] #23832 closed

[2019-07-27 03:52] asajeffrey commented on #23832
@paulrouget, did that fix it?

[2019-07-27 05:07] #23859 closed

[2019-07-27 05:44] gterzian commented on #23865
Another way to frame the problem, is that if those event-loops ran on their own thread of execution(whether a thread or some form of task/virtual thread), we wouldn't have a problem since they could just block on a `select` or `recv`, and be woken up when a message/event is ready to be handled.

But when due to "main thread affinity" of some device system we need to run a bunch of disparate event-

[2019-07-27 06:12] gterzian commented on #23865
@asajeffrey If we were put each disparate "event-loop/sub-system" in its own task, and then run a single-threaded async/await runtime that would "wake-up" specific tasks when specific events come-in, it could certainly be doable. On the Servo side, you'd just have to switch to a task-aware channel to handle incoming messages on the ipc router, which would result in waking up a specific "task" repr

[2019-07-27 06:14] atouchet commented on #23531
This appears to be fixed now.

[2019-07-27 06:14] #23531 closed

[2019-07-27 06:18] atouchet commented on #23314
I can get this page to load without crashing now.

![](https://i.imgur.com/cesom7q.png)

@jdm are you using a release with the latest SpiderMonkey updates?

[2019-07-27 06:35] CYBAI commented on #23314
Works for me on macOS 10.14.5 too!

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/6782666/61990893-d7d86c00-b083-11e9-9378-4c7c228f59b7.png">

I supposed it's fixed by smup at #23587 👀
Wait for @jdm 's confirmation to close this issue! 😄

[2019-07-27 06:47] gterzian commented on #23865
For ML it looks like it would require the `EventLoopWakerInstance`

https://github.com/servo/servo/blob/ad82d67b2e5ab56d046274ebb5436c3388ddf21a/ports/libmlservo/src/lib.rs#L410

To call back into servo, looks like it could be done even without calling into the specific ML app code?

Or maybe here you could actually block on an incoming event from the waker?

https://github.com/servo/servo/blob/f7

[2019-07-27 07:19] gterzian commented on #23865
Also important:

https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L1010

is called in these places:

https://github.com/servo/servo/blob/8f7440f36881fa60f4237d0dec8928799a6aa747/components/compositing/compositor.rs#L483

https://github.com/servo/servo/blob/8f7440f36881fa60f4237d0dec8928799a6aa747/components/compositing/compositor.rs#L445

https://github.com/servo/ser

[2019-07-27 07:54] sreeise opened #23869 "Support sourcing audio and video tracks from media resource containers"
We should support setting audio and video track fields from their related media containers such as ogg or webm. This would help with selecting tracks decoratively. See the Kind field for audio and video tracks in the spec: [AudioTrackList and VideoTrackList objects](https://html.spec.whatwg.org/multipage/media.html#dom-audiotrack-kind)

Specifically, the spec references the process described here:

[2019-07-27 10:50] gterzian commented on #23865
Ok, so I just realized what we're actually talking about here is extending `embedder_traits` to cover all these new use-cases like Webgl on the main-thread and WebXr.

We currently have a `EmbedderProxy`:

https://github.com/servo/servo/blob/f78dd6142e0b87492e0f8d5668c333a18a0cf780/components/embedder_traits/lib.rs#L69

Which is now using the `EventloopWaker` which is actually the `webxr_api::Main

[2019-07-27 10:54] gterzian commented on #23865
More concretely in case of a Xr raf:

1. The router receives `EmbedderMsg::XRRaf(pipelineId, dest)`.
2. It writes to a piece of data shared with the main-thread:
        a. `let timestamp = now`.
        a. Get `xr_session` from `HashMap<PipelineId, XrSession>`,
        b. `xr_session.animation_frame_request_start(timestamp, dest)`;
3. It calls into `EventloopWaker.wake(Event::Raf(pipelineId)`.
4.

[2019-07-27 10:55] gterzian commented on #23865
Or in the case of a main-thread WebGL call:

1. The router receives `EmbedderMsg::WebGLMsg(pipelineId, WebGLMsg)`.
2. Get `webgl_thread, mut current_message, textures, webgl_chan` from `HashMap<PipelineId, (WebGLThread, Option<WebGLMsg>)>`, (or just `Option<WebGLThread>)`, not sure how many there are or how they are shared)
3. `current_message = Some(msg)`
3. `EventloopWaker.wake(Event::WebGL(pipe

[2019-07-27 10:55] gterzian commented on #23865
So this is obviously somewhat complicated, and would require changes to the WebXr api and device code, but you'd never have to scratch your head again about what is blocking what, if anything, or why the main thread isn't waking up when you think it would, inside the currently complicated `handle_events`, which basically mixes handling events from the device, with messages from various parts of Se

[2019-07-27 12:07] tdelacour commented on #21803
@highfive assign me

[2019-07-27 12:07] highfive commented on #21803
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-27 13:02] jdm commented on #23531
This was fixed by https://github.com/servo/servo/pull/23852.

[2019-07-27 13:11] gterzian commented on #23865
So basically, the idea is to break up the current https://github.com/servo/servo/blob/5c8fee4e0bdf01efc83f4db10a60ac1629db6795/components/servo/lib.rs#L731

And then make all interaction with anything "running on the main-thread" become event-driven via `EmbedderMsg`.

1. With a router thread running in the same process as the "main-thread",
2. handling `EmbedderMsg`, with each message being a "wa

[2019-07-27 16:00] suhasesturi commented on #21268
I would like to take this up, but didn't understand the requirement correctly.

secureConnectionStart is part of PerformanceResourceTiming and this is being used nowhere in http_loader.rs

Can someone give some context pls?

[2019-07-27 18:41] #23742 closed

[2019-07-28 14:50] jdm opened #23877 "Set PKG_CONFIG_ALLOW_CROSS with --win-arm64"

[2019-07-28 14:50] highfive commented on #23877
cc @wafflespeanut

[2019-07-28 16:28] gterzian commented on #23823
I'm wondering what the problem is with

https://github.com/servo/servo/blob/b52bfbe68aed9b0abb39a6e994c5dad37cf7d33c/support/hololens/ServoApp/BrowserPage.cpp#L122

and

https://github.com/servo/servo/blob/b52bfbe68aed9b0abb39a6e994c5dad37cf7d33c/support/hololens/ServoApp/BrowserPage.cpp#L255

Since if you look at

https://github.com/servo/servo/blob/b52bfbe68aed9b0abb39a6e994c5dad37cf7d33c/suppor

[2019-07-28 16:31] gterzian opened #35498 "Potential issue with timeout"
In the `recv_timeout` at

https://github.com/servo/webxr/blob/35559ae62887648dda0120388462eed4f90e8553/webxr-api/session.rs#L226

Since it's called as part of [`perform_updates`](https://github.com/servo/servo/blob/8ec28978cdc3e0fa66652a7a0a57911ca414254c/ports/libsimpleservo/api/src/lib.rs#L250) on the main-thread.

I think it might be possible for script to hijack the main-thread and make it unr

[2019-07-28 16:39] gterzian commented on #23865
Having though about it a bit more, and also looked at the Hololens and ML code, I think the problem can be identified as:

1. [`handle_events`](https://github.com/servo/servo/blob/b52bfbe68aed9b0abb39a6e994c5dad37cf7d33c/components/servo/lib.rs#L744), called via `peform_updates` is getting too complicated, as it contains many different sub-systems who all require to run on the main-thread in some

[2019-07-28 18:23] jdm commented on #23680
Rebased @paulrouget's existing work against master with the latest upstream fixes (including #23857):
* https://github.com/jdm/webxr/tree/hololens
* https://github.com/jdm/servo/tree/xr

We now panic with a GL error at https://github.com/jdm/webxr/blob/da077788fb0d1188ca2da474ce0ffa5e1d8a4f2f/webxr/hololens/mod.rs#L138 .

[2019-07-28 19:59] jdm commented on #23680
The panic occurs after these log messages have appeared:
[code]

[2019-07-28 20:10] jdm commented on #23680
Those GL errors go away if I add `MakeCurrentXR()` inside BrowserPage::FlushXr() before the swap occurs, but the panic remains.

[2019-07-28 20:34] jdm commented on #21285
https://github.com/Microsoft/angle/issues/84#issuecomment-241477787 will be relevant for Windows.

[2019-07-28 23:31] angelortiz1007 commented on #23734
I have determined that crate winapi does not seem to contain the following win32 APIs.
1. _open_osfhandle()
 (https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/open-osfhandle?view=vs-2019)

2. _dup2()
https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/dup-dup2?view=vs-2019

Seems a LoadLibrary() may be required unless there is another suggestion.

[2019-07-29 00:19] jdm commented on #23734
@angelortiz1007 For _dup2, it may be possible to use [libc::dup2](https://docs.rs/libc/0.2.60/libc/fn.dup2.html). If not, if those APIs are part of the statically linked libraries, you could try this:
``rust
extern "C" {
    fn _open_osfhandle(osfhandle: isize, flags: i32) -> i32;
    fn _dup2(fd1: i32, fd2: i32) -> i32;
}
[code]

[2019-07-29 00:29] angelortiz1007 commented on #23734
After my last comment I found _dup2() in libc.  However, I could not find _open_osfhandle().

I will try your "extern" suggestion.

Thanks!!!!

[2019-07-29 00:45] jdm opened #23879 "Dynamic cubemap three.js example causes webgl errors"
https://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_materials_cubemap_dynamic.html

[2019-07-29 00:52] jdm opened #23880 "three.js mirror nodes example doesn't display correctly"
https://rawcdn.githack.com/mrdoob/three.js/r94/examples/webgl_mirror_nodes.html
The splash does not reflect anything in the scene.

[2019-07-29 01:13] umanwizard opened #23881 "`./mach bootstrap` doesn't support Ubuntu 19.10 beta"

[2019-07-29 01:22] jdm commented on #23734
Actually it looks like open_osfhandle is in libc as well: https://docs.rs/libc/0.2.60/x86_64-pc-windows-msvc/libc/fn.open_osfhandle.html

The defualt docs.rs view shows the linux docs, so I had to change the platform.

[2019-07-29 02:46] jdm opened #23882 "UWP app performs shutdown in the wrong thread"
When I shut down the app with a webgl page active, I get a panic because the ServoGlue TLS value is missing.

[2019-07-29 03:19] jdm commented on #23882
Nevermind, I was on a branch that didn't have #23866.

[2019-07-29 03:19] #23882 closed

[2019-07-29 03:19] jdm commented on #23778
Fixed by #23866.

[2019-07-29 03:19] #23778 closed

[2019-07-29 05:32] CYBAI commented on #23314
I just tried to go through the bugzilla and the [comment 23](https://bugzilla.mozilla.org/show_bug.cgi?id=1543641#c23) said it's fixed for version 67 and our #23587 was for smup 67.

So, I believe it's fixed for Servo as well! Let me close this issue then 😄 Thanks!

[2019-07-29 05:32] #23314 closed

[2019-07-29 11:34] Basit-Mahmood commented on #15759
I was installing ruby 2.3 and that required libssl1.0-dev. I am using Ubuntu 19.04. So I opened my /etc/apt/sources.list by `sudo nano /etc/apt/sources.list`. And then add the following line at the end of the file `deb http://security.ubuntu.com/ubuntu bionic-security main` . After that I run the command `sudo apt update` from the terminal. Then I run the command `apt-cache policy libssl1.0-dev` f

[2019-07-29 14:00] angelortiz1007 commented on #23734
Oh... I see what happened in my search for dup2() and open_osfhandle().
I was looking in https://docs.rs/libc/0.2.60/libc/index.html?search=open_osfhandle instead of https://docs.rs/libc/0.2.60/x86_64-pc-windows-msvc/libc/fn.open_osfhandle.html.

What threw me off was I did find dup2() in the first link.  I got it now.

[2019-07-29 14:13] angelortiz1007 commented on #23734
Question regarding threads..

Should the CreateThread() win api be used or does RUST have a better mechanism?

[2019-07-29 14:15] jdm commented on #23734
The standard library's thread::spawn is the way to go. The code I linked earlier uses that.

[2019-07-29 15:44] asajeffrey commented on #23680
Hmm... That code has lots of `GlWindow` in it, which is the glwindow test device. Shouldn't there be some UWP code in there somewhere?

[2019-07-29 15:47] jdm commented on #23680
I believe the idea was to get the display working in a second ANGLE-based window in the app.

[2019-07-29 15:51] asajeffrey commented on #23680
Not sure how that is going to get at, e.g., the pose information, device viewports, and all the rest of the stuff that's needed for immersive AR.

[2019-07-29 16:42] gterzian opened #23885 "Clean-up "new pipeline" flow in constellation - match with correct event-loop"
I was just looking at

https://github.com/servo/servo/blob/447ae1eae6e21017d2afd8d6b17a9f8ab889dd3f/components/constellation/constellation.rs#L906

trying to follow the flow of how we go about loading a cross-site iframe.

Couple of things to note:
1. The first `if load_data.url.as_str() != "about:blank"` seems wrong, since it does `get_event_loop` which will look at the `host` to determine a matc

[2019-07-29 19:06] jdm commented on #21989
This makes running a series of demos that involve audio slightly more complicated.

[2019-07-29 21:39] paulrouget commented on #23680
For now, I'm just trying to get the webxr content to render in another UWP Angle surface. Next is to use a shared texture between a offscreen GL buffer and D3D.

[2019-07-29 21:52] paulrouget commented on #23823
WatchSingleObject/condvar + mutex can work. It just needs to keep looping when the event array is not empty (basically, only WatchSingleObject if not animating and array not empty). That's what's missing here.

But I think I'll use a coroutine as it looks like it's the "right way" to do such things with c++17. I also believe I can avoid looping by doing so.

I'll be talking to people this week who

[2019-07-29 22:08] paulrouget commented on #23823
You're right about the unexpected behavior though... it should not be blocking. Not sure why. I'll be looking at this this week.

[2019-07-29 22:48] paulrouget commented on #23680
The way make_current and swap_buffer are called doesn't look right.

1. make_current is called for XR
2. make_current is called for WR
3. swap_buffer is called for WR
4. swap_buffer is called for XR

[2019-07-29 22:49] paulrouget commented on #23680
@asajeffrey I'm trying to reproduce what we do for the glutin port for now. The idea is that we have 2 surfaces, one with WR, one with XR.

[2019-07-29 22:52] paulrouget commented on #23832
@asajeffrey It did. Now looking at https://github.com/servo/servo/issues/23680#issuecomment-516191046

[2019-07-29 23:16] asajeffrey commented on #23680
@paulrouget Hmm, I suspect what's going on is that an rAF is beginning, but isn't ending promptly, so WR gets scheduled in between, I'm not sure what to do about this, perhaps move the call to make_current from `requestAnimaionFrame` to `renderAnimationFrame`?

[2019-07-29 23:32] asajeffrey commented on #23865
I know I'm a bit of a broken record on this subject, but this is pretty much exactly what futures 0.3 and async/await are meant to achieve: allowing different subsystems to share an API for task scheduling. It would be nice if we could take advantage of that ecosystem somehow.

[2019-07-30 00:48] jdm opened #23888 "Add a test for incorrect document origin"
I want to merge https://github.com/servo/servo/pull/23887 so everyone can run the same demos. I'll add an automated test as a followup.

[2019-07-30 01:59] jdm commented on #23888
Fixed in #23887 instead.

[2019-07-30 01:59] #23888 closed

[2019-07-30 06:15] gterzian commented on #23823
You might also want to checkout it the dispatcher queue:

https://docs.microsoft.com/en-us/uwp/api/windows.system.dispatcherqueue.tryenqueue#Windows_System_DispatcherQueue_TryEnqueue_Windows_System_DispatcherQueueHandler_

[2019-07-30 06:59] CYBAI opened #23890 "Assertion failure in wait_for_response while accessing overreacted.io"
[code]

Built with latest master (9043f247d9) on macOS 10.14.5

[2019-07-30 07:02] gterzian commented on #23865
I'm skeptical of the value of futures or async/await for Servo.

Why?

1. We rarely want to "await" something, we rather want to post a task to the back of a queue and keep going. The JS code on the other end by might be "awaiting" that task, representing a pending fetch promise for example, however the Rust code does not.
2. We usually want to keep some state in between tasks, which fits the "run

[2019-07-30 07:05] CYBAI commented on #23890
It looks like an intermittent assertion failure and I sometimes get different data from same page 🤔

<details>

<summary>Assertion data with long receive data array</summary>

[code]

</details>

[2019-07-30 07:35] gterzian commented on #23890
The assertion failure happens when `DoneChan` is `None`, the response is neither `Done` nor `Empty`, see https://github.com/servo/servo/blob/73784246b84295e5775d9d2e6d5fc7a21a5bdab8/components/net/fetch/methods.rs#L468

So somewhere `DoneChan` is set to `None`, but a response is return with a body of `Receiving`. This could either come from the network, or the cache.

You'd have to look everywhere

[2019-07-30 09:46] gterzian commented on #23823
Ok so, here is my five-cents:

What can lead to problems is that currently the lock is not held while the even is awaited. It's not clear to me what guarantees "events" give in this context, however condvar usually mean you pair them with a lock, and then each time you want to access some shared-state you do:

1. acquire the lock(guard, non-blocking).
2. wait on the condvar.

The condvar will then

[2019-07-30 15:05] asajeffrey commented on #23865
You're raising an interesting, but larger, point which is whether async/await is a good fit for Servo in general, and I see your skepticism. The event loop model that HTML requires is complex, and it is not obvious whether it can be fitted into the one-size-fits-all futures model. It would require at least a custom executor, that followed the semantics of event loops, microtasks, etc.

For the mai

[2019-07-30 16:30] pcwalton commented on #23854
CMake not installed

[2019-07-30 16:37] angelortiz1007 commented on #23734
I have completed the coding of fn **redirect_stdout_stderr()** -> bool {}, but been struggling with the read() function blocking in the thread::spawn().  I have verified all the windows functions return the correct return value and if not, the return from fn **redirect_stdout_stderr()** -> bool {}

Any ideas/suggestions why the read() function in the thread may be blocking even though I do a print

[2019-07-30 18:19] angelortiz1007 commented on #23734
Observations:

In a UWP window based application printf() - even with fflush() - does not cause the read() to unblock.

A _write(1,...) or _write(2, ….) does cause the read() function to unblock and read the redirected STDOUT and STDERR buffer to display.

[2019-07-30 20:44] paulrouget commented on #23823
@gterzian thank you! I'm gonna try to follow your recommendation.

[2019-07-31 03:59] paulrouget opened #23894 "[hololens] Make URL bar non read only"

[2019-07-31 04:31] gterzian commented on #23823
great! You're welcome.

Lastly, I just realized we still need to do `WakeUp`, and it fits nicely into the above, since you could do:

[code]

and in the light of https://github.com/servo/servo/issues/23865

once can imagine doing:
[code]

[2019-07-31 04:45] jdm commented on #23734
I suspect there is additional buffering in play. https://stackoverflow.com/a/52749115 suggests that calling setvbuf may help; also, we might want to use ReadFile on the pipe read handle rather than calling read directly.

[2019-07-31 04:47] gterzian commented on #23865
I agree async/await could be a good fit for the the main-thread logic, and it could be easier to first do it by hand?

I can imagine the device loop running events based on the wake-up, and then calling into Servo, see for a concrete example: https://github.com/servo/servo/issues/23823#issuecomment-516348324

And if we re-shuffle some of the  webgl and webxr API, I think we could make the entire t

[2019-07-31 05:22] jdm opened #23895 "Intermittent setup errors in wdspec tests (TimeoutException: timeout (500): Failed to get window handle)"
cc @georgeroman
[code]

[2019-07-31 11:59] gterzian opened #23897 "Expand wpt lint to cover moz suite as well"
There is a wpt lint that checks for stuff like leaving a `console.log` in a test file, at
https://github.com/servo/servo/blob/510ffde3f18d02f19be1e90baa903239922a8e49/python/servo/lints/wpt_lint.py

However, it doesn't seem to work for tests added to the "mozilla" folder, see https://github.com/servo/servo/pull/23887/files#r309177019

The "mozilla" folder is at https://github.com/servo/servo/tree/

[2019-07-31 11:59] highfive commented on #23897
cc @wafflespeanut

[2019-07-31 12:55] gterzian commented on #23897
A good way to check your check is simply doing `./mach test-tidy`, since we currently have a `console.log` checked-in, it should fail. Then you could also remove it, so that your PR would actually pass CI...

[2019-07-31 13:21] gterzian commented on #23885
Ok so what I wrote above is completely wrong, since the first arm is `if load_data.url.as_str() != "about:blank"`, so that means "if it's not an about:blank load, then use get_event_loop", so my "fix" is basically the current state of affairs.

Leaving this open just in case, I find it somewhat hairy.

One thing that is perhaps still wrong is that we don't seem to deal with the "about:blank" newly

[2019-07-31 13:37] gterzian commented on #23885
Ok, learning something new, although I should have known it already:

Both "about:blank" new iframes and auxiliaries do not get a new event-loop assigned via `new_pipeline` in the constellation, instead they get added directly to the script-thread of the page that created them via a sync call to `ScriptThread::process_attach_layout`.

The message sent to the constellation is just to tell it: "hey

[2019-07-31 14:45] asajeffrey opened #23899 "Main thread complexity"
This is intended to be a meta-bug for centralizing the discussions about the complexity of our main thread.

Originally, the main thread ran the embedder (and in particular the window event loop) and webrender, and this wasn't too bad since the only source of blocking on events was the embedder. Webrender blocks on the WebGL thread, but that wasn't too bad when it was off in another thread.

Unfor

[2019-07-31 14:53] asajeffrey commented on #23899
Related issues:

- https://github.com/servo/webxr/issues/34
- https://github.com/servo/servo/issues/15407
- https://github.com/servo/servo/issues/15734
- https://github.com/servo/servo/issues/18799
- https://github.com/servo/servo/issues/22914
- https://github.com/servo/servo/issues/23642
- https://github.com/servo/servo/issues/23865

There are probably others!

[2019-07-31 14:55] asajeffrey commented on #23899
cc @jdm @gterzian @paulrouget @Manishearth

[2019-07-31 14:57] asajeffrey commented on #23899
In particular, there is discussion starting at https://github.com/servo/servo/issues/23865#issuecomment-516200904 about whether async/await and futures 0.3 is a good fit for Servo's main thread.

[2019-07-31 14:58] asajeffrey commented on #23865
Should we move this discussion over to https://github.com/servo/servo/issues/23899?

[2019-07-31 15:00] asajeffrey commented on #23865
(by which I mean the general discussion about how to tame the main thread, not the particular discussion about XR rAF messages, which should probably stay here.)

[2019-07-31 15:11] asajeffrey commented on #23865
@gterzian the problem we're hitting with XR rAFs and the main embedder event loop is partly caused by there being quite different use cases. Some are devices like hololens or magicleap, where the XR device is very tightly wedded to the embedder, and some are tethered devices like HTC Vive or Oculus Rift where the browser is the stock browser for the host PC's OS, and the embedder knows little abou

[2019-07-31 17:19] gterzian commented on #23899
I think the main problem is that

https://github.com/servo/servo/blob/8ec28978cdc3e0fa66652a7a0a57911ca414254c/ports/libsimpleservo/api/src/lib.rs#L250

is running various sub-loops.

Since each sub-loops needs to run for different reasons, "waking-up" or "animation mode" is used to achieve a regular heartbeat on each of these sub-loops.

However, since every-time a sub-loop runs, it doesn't know

[2019-07-31 17:44] asajeffrey commented on #23899
@gterzian I'm confused as to how sending an `EmbedderMsg` on an ipc channel would wake up the main event loop, in the case of an embedding like `glutin` where the embedder is blocked waiting on a UI event. Is the idea that we'd have a wrapper around an ipc channel that would send the `EmbedderMsg` then call the embedder waker?

[2019-07-31 18:07] georgeroman commented on #23895
Never seen this one before. The only place this can get triggered from is [here](https://github.com/servo/servo/blob/174bcc443435100da31b20db5ab684f4f3c8255b/components/webdriver_server/lib.rs#L360). Is it possible that [this](https://github.com/servo/servo/blob/174bcc443435100da31b20db5ab684f4f3c8255b/components/constellation/constellation.rs#L1275) takes too long to get a response back?

[2019-07-31 19:35] angelortiz1007 commented on #23734
Josh, Thanks for reviewing my comments.  I saw that stackoverflow article too.  Here is what I know regarding buffering on Windows and on the servo rust code so far.

**Windows Console App**
On a VS2017 console app, after a printf() you have to perform a fflush().  Alternatively, you can use setbuf(stdout, NULL) and you don't have to perform a fflush().  When either is done, the thread performing

[2019-07-31 21:40] angelortiz1007 commented on #23734
Some progress....  After thinking and researching I added the SetStdHandle() function immediately after the call to CreatePipe().  Since the Microsoft refersnce states the application does not have an associated standard handle, I thought by performing  a SetStdHandle() for stdout and stderr to the Pipe's write handle would/may do the trick.

At this point, the read() function withing the thread i

[2019-07-31 21:53] angelortiz1007 commented on #23734
SUCCESS!!!!

within init() function in capi\lib.rs I added a println!() statement.  See below.  ServoApp was rebuilt and on the VS2017 "_Output" window, the sting ""Capi/lib.rs: init() function called redirect_stdout_stderr() successfully._" appeared.

_unsafe fn init(
    opts: CInitOptions,
    gl: gl_glue::ServoGl,
    gl_context: Option<*const c_void>,
    display: Option<*const c_void>,
    w

[2019-07-31 22:04] paulrouget commented on #23734
:D

[2019-07-31 22:48] angelortiz1007 commented on #23734
Thx Paul :)

[2019-07-31 23:52] paulrouget commented on #23823
The problem was that: https://github.com/servo/servo/blob/174bcc443435100da31b20db5ab684f4f3c8255b/ports/libsimpleservo/api/src/lib.rs#L491

In batch mode this would never process. Fix incoming.

[2019-08-01 04:50] kanaka opened #23905 ""Too many open files" crash after loading many small test cases via webdriver"
Built from git: 7adf022 on 20190724. Running on Ubuntu 16.04.2 LTS with Radeon HD 7770.

I have a test system (for my PhD dissertation) that loads a bunch of smallish test cases repeatedly via webdriver on multiple browsers (currently Chrome, Firefox and Servo). I can trigger a "Too many open files" panic in Servo after enough test cases have been loaded. I'm pretty sure I can reproduce this fairl

[2019-08-01 04:56] jdm commented on #23905
If there's some way to increase the maximum number of file handles on your system, that might help delay it. This suggests that we might be leaking handles somehow, though.

[2019-08-01 04:59] gterzian commented on #23899
It would be the same as is currently done with

https://github.com/servo/webxr/blob/fcbdddb66e2d307d86ff109d79001c7a45de79db/webxr-api/registry.rs#L63

except that `waker.wake()` would be called with a specific `DeviceEvent`, to be handled on the emedder loop.

So essentially we'd make the IPC router thread the "front-end" to the main-thread(running the embedder/device loop).

My proposed change i

[2019-08-01 05:10] kanaka commented on #23905
@jdm This is single webdriver session and it's just repeatedly loading different pages and then doing a screenshot of each one. So yeah, I suspect a leak somewhere in servo. Once I get a few more kinks worked out of my testing system, I'm intending to load > 100,000 test cases so even a 10x longer run before crashing won't help me that much. My goal is test browser rendering engine differences in

[2019-08-01 05:48] kanaka commented on #23905
Yep, happened again after the 710th test case was loaded.

The stack is shorter and seems different so I'm including it although I suspect that this is basically just panic'ing wherever the file exhaustion happens to occur:

[code]

[2019-08-01 08:17] jdm commented on #23905
I think the most useful thing for narrowing down the cause in Servo would be if you can find the smallest set of unique webdriver commands that can reproduce this. In particular, if loading one particular file more times will trigger it, that's going to be easier to debug than loading a lot of different files fewer times.

[2019-08-01 08:21] gterzian commented on #23899
More specifically re glutin, it does seem to be a very complicated loop, and even there I think you could simply share an `Arc<Mutex<VecDequeu<DeviceEvent>>`(Not glutin DeviceEvent) between the `EventLoopWaker` and the `App`, and then internally call `self.proxy.wakeup()`, and then handle `pop_front` on the shared queue when `glutin::Event::Awakened` comes in.

Then the actual `glutin::Event::Wind

[2019-08-01 12:01] gterzian commented on #23905
I suspect it is

https://github.com/servo/servo/blob/799490a02e9bea575bf34c39f045ef0883539f05/components/script/stylesheet_loader.rs#L291

@kanaka Could you try again off of https://github.com/servo/servo/pull/23906 ? (Sorry for asking you to rebuild script)

If that is the case, we would have to find a way to not create an ipc channel for each stylesheet loader.

[2019-08-01 12:07] gterzian commented on #23905
I can also see https://github.com/servo/servo/blob/45af8a34fe6cc6f304f935ababdbc90fb4c50ede/components/constellation/pipeline.rs#L279

So the question is very this is because there are too many stylesheet loaders creating channels, or if it's more like webdriver is creating too many pipelines in general, and any creation of an ipc-chan will eventually fail.

[2019-08-01 12:12] gterzian commented on #23905
Would it be acceptable for webdriver to run every pipeline in the same event-loop? That might be a way to naturally serialize webdriver commands and prevent them from flooding the system by creating many parallel event-loops(if that is the problem, off-course).

[2019-08-01 12:18] gterzian commented on #23905
@kanaka actually could you please try running off of this branch https://github.com/servo/servo/pull/23761

I was playing around with something recently and realized we don't close event-loops when they're not managing any documents anymore, and I assume your script closes pages after taking a screenshot?

In that case it might be a case that we're leaking event-loops...

[2019-08-01 15:05] kanaka commented on #23905
@gterzian I will attempt to build and test with #23761. I'm not issuing an explicit close, just doing RemoteWebDriver.get calls to load a new page in the same window. My understanding was that a close command would close the browser if there is no other window loaded. I'm no creating new windows so my assumption was that I can just load a new page in the same window and I don't see issues in other

[2019-08-01 15:09] asajeffrey commented on #23905
@gterzian hmm, we're not closing event loops? That's not good. What's meant to happen is that https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L3797 `trim_history` evicts old pipelines, and when there's no pipeline keeping en event loop alive it gets shut down by the `Drop` impl at https://github.com/servo/servo/blob/196c511d5ebf81b3fe202c5e0c5c1972a6408ab7/comp

[2019-08-01 15:18] SimonSapin opened #23907 "WPT updates are timing out"
See for example https://tools.taskcluster.net/groups/I8L6QWFCQUWXTS_8ZyjC_A/tasks/SgqI076ARbuPzoRNXxDv8Q/runs/0/logs/public%2Flogs%2Flive.log

We can increase the time limit https://github.com/servo/servo/blob/196c511d5ebf81b3fe202c5e0c5c1972a6408ab7/etc/taskcluster/decision_task.py#L518 but it’s already 5 hours. Maybe it’s worth trying the 2018 mac minis from Macstadium?

[2019-08-01 15:18] SimonSapin commented on #23907
CC @jdm

[2019-08-01 16:36] jdm commented on #23907
I've seen this happen when there are stale wpt processes still running on the machines.

[2019-08-01 18:44] kanaka commented on #23905
@gterzian with servo built from #23761 I still got a crash somewhere around 800 test cases. This one has some extra messages at the front end (most of which I've elided and I've also elided all but the first trace):

[code]

[2019-08-01 22:25] jdm opened #23908 "Implement protocol activation"
We want to support launching directly into immersive content from other device content (such as Edge). The easiest way to do that is by registering a custom protocol handler and using information passed through it to load a page in Servo and provide implicit permission for entering immersive mode.

[2019-08-02 05:20] gterzian commented on #23905
Oh yeah, you're right, the constellation only keeps a `Weak<EventLoop>`, which should be dropped once every pipeline in a given script-thread has been exited(since they keep an `Rc<EventLoop>`, but as dropped when history is trimmed.

So this might be `StylesheetLoader::load` creating an ipc-channel, which gives "Too many open files"  when a page loads lots of stylesheets?

Could be, however it se

[2019-08-02 05:45] gterzian commented on #23905
@kanaka I've just lowered the max-length of the session history on that branch, could you please try again and see if you get more testcases done?

Also, how often do you see an `Event loop empty` in the console in between the various
`Exiting pipeline (1,15).
shutting down layout for page (1,15)` ?

[2019-08-02 05:52] gterzian commented on #23905
Maybe in general we shouldn't be creating an ipc-channel for each route, instead hiding the routing behind some interface that would clone a sender and route based on some sort of Id, re-using the same receiver?

We might reduce the length of the session history, or do something else which could solve the current problem, and then the problem would come-up again somewhere else...

[2019-08-02 16:20] gterzian commented on #23905
There's a prototype on the way: https://github.com/servo/servo/pull/23909

That's right, yes "close" was the wrong wording on my part, and it would indeed close the browser.

You could give it a try with the above mentioned branch, although I have only done some type checking, I haven't actually run it and I wouldn't be surprised if it crashes.

Also, even if this could fix one issue, we might sti

[2019-08-02 17:36] asajeffrey commented on #23905
Not sure that #23909 will help, because AFAICT a new fd is generated every time an IPC channel is sent, even if it's an IPC channel that's been sent before. @kanaka can you test that PR and see if it fixes your problem?

[2019-08-02 18:11] kanaka commented on #23905
@gterzian @asajeffrey I will test with #23909 and report my results. I'm may or may not be able to get to it in the next couple of hours but hopefully at least by tonight sometime.

[2019-08-02 19:07] kanaka commented on #23905
@gterzian I built it but I get several stacktraces on startup and trying to connect via webdriver causes more exceptions and disconnects. Here are the first couple of traces:

[code]

[2019-08-02 19:23] asajeffrey commented on #23905
Related: https://github.com/servo/ipc-channel/issues/240

TL;DR sending the same ipc channel over ipc many times uses up an fd each time it's sent, so recycling the ipc channel doesn't help.

[2019-08-02 19:29] asajeffrey opened #23910 "Recycling ipc channels doesn't save fds"
We have code like https://github.com/servo/servo/blob/master/components/canvas/webgl_mode/inprocess.rs#L104 which recycles ipc channels. Unfortunately, each time an ipc channel is received, it uses up an fd, so we are still using a lot of fds.

[2019-08-02 19:30] asajeffrey commented on #23910
The matching issue in ipc-channel is https://github.com/servo/ipc-channel/issues/240

[2019-08-02 19:30] asajeffrey commented on #23910
Also related to https://github.com/servo/servo/issues/23905

[2019-08-04 03:55] kanaka commented on #23905
I have developed a very small script that can crash servo:

[code]

The HTML and CSS file that I used, along with the script the commands I used to start the various pieces is captured at the following gist: https://gist.github.com/kanaka/119f5ed9841e23e35d07e8944cca6aa7

I built servo just now from d2856ce8aeca and then ran the test against it. I got a crash on the 819th page load. The crash is n

[2019-08-04 04:29] kanaka commented on #23905
I ran it again and it crashed at exactly the same point (819th page load) and with the same traces. I'm going to try and make the page a touch more complex and see if that affects anything as that might give a clue about where the crash is being triggered.

[2019-08-04 04:48] kanaka commented on #23905
Okay, so with the more complicated test case (addition of second stylesheet file), it now panics with "Too many open files" traces after the 696th load. I've updated the [gist](https://gist.github.com/kanaka/119f5ed9841e23e35d07e8944cca6aa7) with the new `rend.css` stylesheet and updated the HTML file to include it. Here is the trace/panic that was triggered this time:

[code]

[2019-08-05 02:30] gterzian commented on #23905
@kanaka Thanks for the test case!

I ran it locally, and didn't get the crash(at least not until the 2000s when I stopped), but I'm on mac so it might not be as easy to reproduce.

Interesting to see from the last traceback that it doesn't crash at `script::stylesheet_loader::StylesheetLoader::load` anymore, however it does crash at `script::fetch::FetchCanceller::initialize`, which happens in the

[2019-08-05 03:23] gterzian commented on #23905
I can also imagine the `IpcHandle` only including it's callback id, not an actual sender.

Then each process using a handle, like fetch, could use a single sender to "message to the callback corresponding to the handle".

So the current `SharedRouter` could be matched with a `SharedDispatcher` on the sending side, meaning each ipc callback would just be an id sent across process, with a callback s

[2019-08-05 03:34] gterzian opened #23913 "Improve IPC interfaces"
Currently, our IPC is pretty good for cases where two processes setup communication lines using a channel, and then use that channel for each operation at the level of their "main event-loop".

An example is how script messages to the constellation. Each script-thread(process?) has a dedicated sender to the constellation, and vice-versa, and that unique channel is used for many operations. Those a

[2019-08-05 03:45] gterzian commented on #23913
How would be setup the intial communication lines between such `SharedRouter` and `SharedDispatcher`? It could be done with the constellation, once each time a new pipeline is created.

Then a `IpcHandle` would need to contain three things:

1. a `PipelineId`, so the `SharedDispatcher` in fetch would know which pipeline this related to.
2. a `CallbackId`, so the `SharedRouter`, upon receiving a me

[2019-08-05 04:56] kanaka commented on #23905
@gterzian well that's unfortunate it didn't reproduce for you. Although I suppose it's not too surprising that the behavior of open files limits/handling is significantly different on OS X.

It's pretty easy for me to reproduce a crash. I made 10 copies of each of the `normalize.css` and `rend.css` files and include them in the test HTML. It now crashes after 155 loads for me and takes less than 4

[2019-08-05 05:24] gterzian commented on #23905
Thanks!

`index out of bounds: the len is 1 but the index is 1`

I've seen this one before in the context of shared memory with the image cache, although now it seems to come up with `_IMPL_DESERIALIZE_FOR_CoreResourceMsg`.

Does anyone know if we have some shared-memory somewhere in the `CoreResourceMsg`?

[2019-08-05 05:29] gterzian commented on #23905
[code]

Did you rebuild from master by any chance? The traceback seems to imply the branch at https://github.com/servo/servo/pull/23909 was not used(since it would have included a call to `script::dom::document::Document::fetch_async_with_handle` instead...

I've also just updated the branch about 25 min ago with something that might be relevant.

[2019-08-05 05:59] kanaka commented on #23905
@gterzian Yes, sorry that wasn't clear. I updated to master yesterday. I will re-target at #23909 and report back (although maybe not tonight as it's already fairly late here).

[2019-08-05 06:03] gterzian commented on #23905
Thanks a lot, and sorry for making you re-compile so often!

Also to be clear my branch is really just some band-aid which might or might not help...

We're going to have to review our overall approach to this more fundamentally, which might not be doable within an acceptable timeframe for your own project...

In any case, thank you for stressing Servo, it helps to make it better!

[2019-08-05 06:15] kanaka commented on #23905
@gterzian no problem. One of my original inspirations for this dissertation topic was learning about Servo and realizing that there was an interesting gap in the space of "automated testing of software with multiple implementations". I do hope that I can contribute to the quality of Servo's rendering engine (and browser rendering standardization in general). So I'm fairly motivated to include Serv

[2019-08-05 06:48] kanaka commented on #23905
Well, it does appear to have done something positive. The test ran for 428 loads and then the screenshot command hung. I manually loaded a page again and it seems to have unstuck it. So I'll add a little more intelligent error handling to the script so that it will keep going in that case (there was no error from servo itself). But that will have to wait for tomorrow because it's 1:45am in the mor

[2019-08-05 08:56] gterzian commented on #23913
As an update, it turned out to be possible to avoid sending a (clone-of) an ipc-sender across process for each callback, and that without introducing that much new concepts in the code. See https://github.com/servo/servo/pull/23909/commits/62940291ad69f3fdc18d2dcb1841f7b3211c6fc6

So the ipc-sender corresponding to the shrared-router of a pipeline is sent only once to the resource process, then wh

[2019-08-05 09:27] gterzian commented on #23905
Note that the branch at https://github.com/servo/servo/pull/23909 has been updated again.

[2019-08-05 14:58] CYBAI opened #23915 "Intermittent PASS in /css/cssom-view/elementFromPoint-list-001.html"
[code]

[2019-08-05 15:21] asajeffrey commented on #23913
I suspect we'd get the same benefit if we added a per-process lookup table to ipc channel which cached fds. That way we wouldn't use up an fd every time we recv'd a channel.

It's even worse than using an fd every time a channel crosses a process boundary, it uses an fd every time it is recv'd, even if it didn't cross a process boundary.

The fix for this is fairly straightforward (well, in that c

[2019-08-05 16:21] kanaka commented on #23905
@gterzian I've rebuilt using #23909 just now and am doing a test run now.

[2019-08-05 16:38] kanaka commented on #23905
Okay, things look better at 585 page loads (same test case was the one that crashed after 155 load on master), but I just hit a "too many open files" again. BTW, is posting the stack traces here the right process flow for this? I'm happy to keep doing that but it's pretty noisy so I wanted to make sure I'm using the preferred process for this sort of debugging. Here is the trace:

[code]

I'm runn

[2019-08-05 16:52] kanaka commented on #23905
Looks consistent. Second run crashed on 586th page load. Trace looks similar so I won't post it again.

[2019-08-06 02:05] tomasdivito commented on #21268
@suhasesturi I think the idea would be add `secureConnectionStart` to `PerformanceResourceTiming` and add the according logic to `setAttribute` in `/net_traits/lib.rs` kinda how other issues seem to make for the other properties of `PerformanceResourceTiming` :thinking:

Honestly if you want to try it go for it, I don't know much more than you about the project, if you decide not to do it I'm also

[2019-08-06 04:19] gterzian commented on #23913
I see, so that could be a way to fix the "we send a clone of the same sender repeatedly on a channel, and that currently creates an fd on each ipc send(whether it crosses process or not)".

And we would still be using the `ROUTER` directly in script for each "callback", which requires creating an ipc-channel each time(for each websocket, each fetch, each messageport, each stylesheet, and so on).

[2019-08-06 04:24] gterzian commented on #23913
I also wonder if its a good idead to make the internals of ipc-channel more complicated(who wants to handle the fd caching bugs that will stream-in over the next years?), as opposed to evolve what is essentially an immature design on the Servo side.

We could simply avoid creating channels for each operation, or repeatedly send clones of the same sender on a channel. The problem is that in many pl

[2019-08-06 04:47] gterzian commented on #23913
I'm also wondering if it would be optimal to make ipc-channel itself more complicated(who wants to handle the irreproducible fd caching bugs that come-in on the issue tracker?), as opposed to simply evolve what appears like an immature design on the Servo side.

We're treating ipc-channels as cheap callbacks all across the codebase, and clearly, they're not.

The glue code I'm proposing is straigh

[2019-08-06 04:57] gterzian commented on #23913
I also wonder if it's optimal to make ipc-channel itself more complicated(who wants to handle the irreproducible fd caching bugs that will come-in on the issue tracker?), as opposed to evolve what appears like an immature design on the Servo side of things.

If we add some glue code here, bugs will not affect users of ipc-channel generally.

[2019-08-06 05:06] paulrouget opened #23916 "[hololens] Implement a custom Servo control"
A SwapChainPanel is not enough. Tracking key and mouse events, scroll and managing focus is tricky. We should have a custom `Xaml.Controls.Control` based view.

[2019-08-06 05:08] paulrouget commented on #23894
Depends on #23916 - the problem is that there's nothing to focus but the urlbar (the other buttons get disabled/enabled frequently, moving the focus around, and the swapchainpanel can't be focused) forcing the keyboard to pop up all the time.

[2019-08-06 06:03] gterzian opened #23917 "Rethink Structured Cloning/Transferring"
For structured cloning(and soon transferring, see https://github.com/servo/servo/pull/23637/) we're relying on the "StructuredClone" API of Spidermonkey, available via the bindings at https://github.com/servo/servo/blob/ff3a9180a709a18ae1c143b739bbbc0224a5f695/components/script/dom/bindings/structuredclone.rs

It's a really convenient way to clone basic JS objects, which are dealt with directly by

[2019-08-06 06:35] gterzian commented on #23905
Thanks.

Things are going in the right direction, because the current crash appears at `gfx::font_cache_thread::FontCache::run`, instead of script. I only changed stuff in script so far, so it's encouraging that it doesn't crash anymore(at least not until that particular crash).

I'll look into applying the same pattern to the font-cache...

[2019-08-06 06:36] gterzian commented on #23905
Works for me at least...

[2019-08-06 09:02] gterzian opened #23918 "Stuck inside a box while scrolling-up"
Steps to reproduce:

On mac

1. `./mach run https://en.wikipedia.org/wiki/Main_Page --release`
2. Scroll to "today's featured artice".
3. Once with the cursor inside that box, try to scroll up.
4. You'll hit a "scroll bounce"
5. Go with the cursor to the left pannel, and you'll be able to scroll up again.

![Screen Shot 2019-08-06 at 5 00 48 PM](https://user-images.githubusercontent.com/2792687/62

[2019-08-06 09:08] gterzian commented on #23905
@kanaka Ok it's worth another try with the updated branch, the font-cache crash should have been fixed.

[2019-08-06 09:25] gterzian commented on #23913
Update for https://github.com/servo/servo/pull/23909

I have now also tried applying the `SharedRouter` mechanism to the font-cache, and it seems to work well. I've relaced the `PipelineId` with a dedicated `IpcRouterId`, since a router can now be tied to a component that isn't a pipeline.

This also highlights how we need more threads to have a `PipelineNamespace` installed, which already came up

[2019-08-06 09:27] CYBAI commented on #23918
I just recorded a gif to show the behavior.

![wiki](https://user-images.githubusercontent.com/6782666/62528381-b8a5bf80-b877-11e9-8ee8-50d56d303d81.gif)

[2019-08-06 10:12] CYBAI commented on #23918
Here's the minimized test case.

[code]

![25dadb88a1d079554e3e248727961198](https://user-images.githubusercontent.com/6782666/62531541-a29afd80-b87d-11e9-83f8-5344a018f5a6.gif)

After commenting the `border: 1px solid red;`, I can't scroll inside that div anymore.

![f195e79729196006f7f5c770d499d55f](https://user-images.githubusercontent.com/6782666/62531705-e5f56c00-b87d-11e9-818c-de0ae2952d22.g

[2019-08-06 12:43] jdm commented on #21285
https://github.com/servo/rust-offscreen-rendering-context/blob/6321b894ef30b463bd07d78e1a52969ad5d8797d/src/draw_buffer.rs#L66

[2019-08-06 15:52] kanaka commented on #23905
I updated the build. I got a crash at 588th load but the crash is missing full location data. I'm going to try and do a clean full build to see if it's a build issue. Here is the trace:

[code]

[2019-08-06 18:18] kanaka commented on #23905
With the clean build I got a crash at the 596th page load. And this time the frames are labelled. Looks like there may still be a font_cache issue. One thing I noticed this time is that the process starts with 275MB of resident memory and slowly grows to about 600MB right before it crashes. I haven't looked at memory usage prior to this so I don't know whether this is new behavior or not. My expec

[2019-08-07 03:13] gterzian opened #23923 "Timer crashes page after re-load"
Steps to reproduce:

1. On mac
2. `./mach run https://en.wikipedia.org/wiki/Main_Page --release`
3. Then, frantically reload the page, by repeatedly doing a command + R

The crash seems to occur at
`__ZN6script3dom8bindings7codegen8Bindings13WindowBinding13WindowBinding10get_window17hd1fbec64614b4671E (0x108b9ade3)`

And the entry point is
` __ZN6script6timers13OneshotTimers10fire_timer17hb11bc443

[2019-08-07 04:19] gterzian commented on #23905
Ok still progressing, because those are different crashes. There are two different issues:

https://github.com/servo/webrender/blob/1e044fe1862373a055dbfb39930ead035e55b30f/webrender_api/src/api.rs#L1345

That's in webrender, so I filed https://github.com/servo/webrender/issues/3732

The other is at:

https://github.com/servo/servo/blob/b6cdf931987e71707c217f2953e0b2a62a92868c/components/gfx/font_

[2019-08-07 04:32] pcwalton opened #23924 "Layout flushes cause spurious WebGL buffer swaps, causing flickering"
This is the cause of the flickering on https://mdn.github.io/webgl-examples/tutorial/sample4/.

The problem is that the call to `clientWidth` after the `gl.clear` call flushes layout, which causes a recomposite of a blank canvas.

My intuition is that if the `ReflowGoal` is `Query` then we should somehow communicate that to script so that it won't cause a buffer swap inside `WebGLRenderingContext:

[2019-08-07 04:32] pcwalton commented on #23924
Yes, transferring the issue. Oops!

[2019-08-07 04:41] gterzian opened #23925 "Use of gfx/FontSource in layout can crash"
https://github.com/servo/servo/blob/b6cdf931987e71707c217f2953e0b2a62a92868c/components/gfx/font_cache_thread.rs#L525

`FontSource` currently implements "getting fonts" as blocking ipc calls.

it's currently called from layout at

https://github.com/servo/servo/blob/b6cdf931987e71707c217f2953e0b2a62a92868c/components/layout/text.rs#L233

We can reconstruct what this does in practice:

1. Inside a

[2019-08-07 05:55] gterzian commented on #23905
Ok I've came-up with a conceptual way to make the router support blocking IPC calls, so that should fix the layout/font-cache issue, I'll try to implement it today.

[2019-08-07 05:59] kanaka commented on #23905
@gterzian sounds good. I'll check back tomorrow and if you've come up with something I'll give it a test.

[2019-08-07 13:10] #23823 closed

[2019-08-07 13:58] jdm commented on #21268
Our network stack does not have the ability to tell us precisely when the secure connection was initiated right now. We can approximate it by using the same value as requestStart when we're fetching an HTTPS URL, and setting it to 0 otherwise. @tomasdivito's comment is correct in all other respects.

[2019-08-07 17:09] tomasdivito commented on #21268
Ok, let's try this out :) @highfive assign me

[2019-08-07 17:09] highfive commented on #21268
Hey @tomasdivito! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-08-08 05:44] gterzian commented on #23913
Another update on the ongoing experiment.

One problem we ran into was in the communication between layout and the font-cache, which in some cases goes via a blocking ipc call, implemented through creating a channel, sending the sender to the font-cache, and blocking on the receiver.

This was a new usecase since the previous fixes all related to the use of `ROUTER` in script, in effect non-blocki

[2019-08-08 05:54] gterzian commented on #23913
Current problems to note:

1. Shared memory is not supported, hence it cannot be applied to the image-cache.

The reason is that what is now sent is a `Callback(IpcCallbackId, Vec<u8>)`, where the `Vec<u8>` is the underlying message(for example a `FetchResponseMsg`), which is serialized first.

So this first of all means you need two serialization per message, since you first serialize the "inner"

[2019-08-08 06:06] gterzian commented on #23905
Ok, this one https://github.com/servo/servo/pull/23909 is ready for another spin.

I've applied the same pattern to the `gfx::font_cache_thread::FontCacheThread as gfx::font_context::FontSource>::font_template`, and for the webrender issue, I just commented out the code! I think your tests could run without getting those updates of scroll states(I can actually still scroll, not completely sure wha

[2019-08-08 06:17] gterzian commented on #23913
What's nice to note is that this gives us a single router per process, so you can imagine that all ipc in a process would go over a single ipc-channel. The expection is channels used "at the top of the loop", for example a script-thread receiving messages from the constellation. But that doesn't matter, since those channels are created once and used for all messages in that relationship.

What goe

[2019-08-08 07:28] georgeroman opened #23931 "/webdriver/tests/execute_script/cyclic.py test_element_in_collection fails on Mac"
https://github.com/servo/servo/pull/23725#issuecomment-519333913

It fails due to an underlying JS exception. Strangely enough, the test passes on Linux.

[2019-08-08 08:10] gterzian commented on #23905
Hang on, this crashes with parallel layout(because the rayon thread doesn't have a pipeline namespace, and the ipc is done from within rayon). I'll try to fix it and let you know...

[2019-08-08 10:14] gterzian opened #23932 "Introduce ProcessNamespace?"
In both https://github.com/servo/servo/pull/23637 and https://github.com/servo/servo/pull/23909 I find myself installing `PipelineNamspace` in various threads that currently do not have one, mainly as a way to use various new types of `Id` that aren't `PipelineId`, like `MessagePortId` or `IpcRouterId`. Those need to follow a similar model since they can end-up crossing process boundaries(message-

[2019-08-08 11:01] gterzian commented on #23905
@kanaka Ok, good for another spin(had to turn-off parallel layout)

[2019-08-08 11:57] paulrouget opened #23933 "capi: use wide strings everywhere"

[2019-08-08 12:02] paulrouget commented on #23933
I'm not sure:

https://github.com/servo/servo/blob/555fa75b2c7f4faa0818e86296a4ea3d5b8e4d42/ports/libsimpleservo/capi/src/lib.rs#L439

are these widestrings?

C++ side, I'm trying to properly get a std::wstring.

[2019-08-08 12:33] jdm commented on #23933
CStrings are not wide strings.

[2019-08-08 12:34] jdm commented on #23933
If wide strings are necessary, you want https://doc.servo.org/std/ffi/index.html#on-windows. Making the entire C API use wide strings feels like the wrong choice to me. This really belongs in a Windows-specific embedding instead.

[2019-08-08 15:28] gterzian commented on #23932
I've tried, it felt like a good idea for a few hours, then I realized a process could just race ahead of another, and the only way to make sure each process is creating unique IDs is literally by using the constellation as a global lock and the single source of increasing namespace ids...

[2019-08-08 15:33] gterzian commented on #23932
However, this might still work if we were to make the `PIPELINE_NAMESPACE` itself something that is shared across threads. So that still requires the constellation to provide the `PipelineNamespaceId`, but that needs to be done only once per process, if we share the installed namespace with all threads in the process.

[2019-08-08 15:59] o0Ignition0o commented on #23015
Fwiw I just ran into the same issue, and did what @mrwonko suggested. It allowed me to start the build but I ran into an other error:

[code]

I then did what the [Gstreamer install documentation says](https://gitlab.freedesktop.org/gstreamer/gstreamer-rs#homebrew) and it worked.

The path they provide is the following:

`export PKG_CONFIG_PATH="/Library/Frameworks/GStreamer.framework/Versions/Cur

[2019-08-08 16:00] o0Ignition0o commented on #23177
Oh I just posted in a closed issue, sorry about that: https://github.com/servo/servo/issues/23015#issuecomment-519580410 :/

[2019-08-08 16:10] jdm commented on #13458
Test file doesn't exist any more.

[2019-08-08 16:10] #13458 closed

[2019-08-08 16:10] jdm commented on #14215
Test file doesn't exist anymore.

[2019-08-08 16:10] #14215 closed

[2019-08-08 16:10] jdm commented on #14444
Test file doesn't exist any more.

[2019-08-08 16:10] #14444 closed

[2019-08-08 16:11] jdm commented on #14217
Test file doesn't exist any more.

[2019-08-08 16:11] #14217 closed

[2019-08-08 16:11] jdm commented on #13887
Test file doesn't exist any more.

[2019-08-08 16:11] #13887 closed

[2019-08-08 16:11] jdm commented on #14425
Test file doesn't exist any more.

[2019-08-08 16:11] #14425 closed

[2019-08-08 16:13] jdm commented on #12891
Test files don't exist any more.

[2019-08-08 16:13] #12891 closed

[2019-08-08 16:13] jdm commented on #11631
Test file doesn't exist any more.

[2019-08-08 16:13] #11631 closed

[2019-08-08 16:14] jdm commented on #11574
Test file doesn't exist any more.

[2019-08-08 16:14] #11574 closed

[2019-08-08 16:14] jdm commented on #17357
Test file doesn't exist any more.

[2019-08-08 16:14] #17357 closed

[2019-08-08 16:15] jdm commented on #16631
Test file doesn't exist any more.

[2019-08-08 16:15] #16631 closed

[2019-08-08 16:15] jdm commented on #15583
Test files don't exist any more.

[2019-08-08 16:15] #15583 closed

[2019-08-08 16:15] jdm commented on #11561
Test files don't exist any more.

[2019-08-08 16:15] #11561 closed

[2019-08-08 16:15] jdm commented on #9163
Test file doesn't exist any more.

[2019-08-08 16:15] #9163 closed

[2019-08-08 16:15] jdm commented on #17358
Test files don't exist any more.

[2019-08-08 16:15] #17358 closed

[2019-08-08 16:15] jdm commented on #14656
Test file doesn't exist any more.

[2019-08-08 16:15] #14656 closed

[2019-08-08 16:15] jdm commented on #12701
Test file doesn't exist any more.

[2019-08-08 16:16] #12701 closed

[2019-08-08 16:16] jdm commented on #17043
Test file doesn't exist any more.

[2019-08-08 16:16] #17043 closed

[2019-08-08 16:16] jdm commented on #14634
Test file doesn't exist any more.

[2019-08-08 16:16] #14634 closed

[2019-08-08 16:16] jdm commented on #13037
Test file doesn't exist any more.

[2019-08-08 16:16] #13037 closed

[2019-08-08 16:16] jdm commented on #16351
Test file doesn't exist any more.

[2019-08-08 16:16] #16351 closed

[2019-08-08 16:16] jdm commented on #13613
Test file doesn't exist any more.

[2019-08-08 16:16] #13613 closed

[2019-08-08 16:16] jdm commented on #15792
Test file doesn't exist any more.

[2019-08-08 16:16] #15792 closed

[2019-08-08 16:16] jdm commented on #13730
Test file doesn't exist any more.

[2019-08-08 16:16] #13730 closed

[2019-08-08 16:17] jdm commented on #18865
Test file doesn't exist any more.

[2019-08-08 16:53] jdm opened #23937 "Make UWP embedding handle embedding API failures"
We made the various APIs fallible in https://github.com/servo/servo/pull/23828. We should update the UWP embedding to make use of the new return values and log when something goes wrong.

[2019-08-08 17:05] jdm commented on #23753
I'm refining the scope of this work a bit. The CI work can happen separately; what I really would like is to make it as easy as possible to build the VS project as part of a single mach build command that also builds Servo. I'm imagining that `mach build -d --uwp` should go through the existing build steps, and then once we're done [packaging the DLLs](https://github.com/servo/servo/blob/555fa75b2

[2019-08-08 17:11] jdm commented on #23617
This is something we will want to support as part of the `mach package` command, implemented in [this code](https://github.com/servo/servo/blob/555fa75b2c7f4faa0818e86296a4ea3d5b8e4d42/python/servo/package_commands.py#L206).

[2019-08-08 18:08] kanaka commented on #23905
Panic after 155 loads this time. This is the same test case that went 596 load last time. Just a note that every time the page loads I'm getting a number of the "Layout threadpool None" message printed. I've elided them from the beginning of the output:

[code]

[2019-08-08 18:57] angelortiz1007 commented on #23617
Observations:

While building servo (mach build -d --uwp), the build will not complete with a link time error as follows:
…
…
b" "ws2_32.lib" "advapi32.lib" "ws2_32.lib" "userenv.lib" "msvcrt.lib" "/DLL" "/IMPLIB:C:\\git-mozilla\\servo-angelortiz1007\\target\\debug\\deps\\simpleservo.dll.lib"
  = note: lld-link: error: could not open libEGL.lib: no such file or directory
          lld-link: error:

[2019-08-08 19:41] jdm commented on #23617
The nuget installation already works on CI. I am ok with requiring developers to perform the initial VS build locally, then allow subsequent builds to be automated.

[2019-08-08 19:42] jdm commented on #23617
Note that the previous comments are really describing https://github.com/servo/servo/issues/23753. This issue is focused on the equivalent of choosing the "Store > Create app package" option from inside Visual Studio.

[2019-08-08 19:51] angelortiz1007 commented on #23617
I'll copy my comments to the #23753 issue too.  Its the best place as you say.

I was seeing the process of:
1. mach build …
2. Store ->Crate app

[2019-08-08 20:02] angelortiz1007 commented on #23753
**Observations of Current Build Steps:**
While building servo (mach build -d --uwp), the build will not complete with a link time error as follows:
…
…
b" "ws2_32.lib" "advapi32.lib" "ws2_32.lib" "userenv.lib" "msvcrt.lib" "/DLL" "/IMPLIB:C:\git-mozilla\servo-angelortiz1007\target\debug\deps\simpleservo.dll.lib"
= note: lld-link: error: could not open libEGL.lib: no such file or directory
lld-link

[2019-08-08 20:04] gatoWololo opened #23939 "Mach Test Failure"
Hello. I have the following error when trying to run a test:
[code]

Is there anything obviously wrong that I am doing? I have done `./wpt make-hosts-file | sudo tee -a /etc/hosts` as per: https://github.com/web-platform-tests/wpt#running-the-tests

It only happens with this test. Other tests work just fine.

[2019-08-08 20:13] gatoWololo commented on #23939
I had many `mach` and `servo` processes running. I used `ps -aux` + `grep` to find them and kill them. That resolved the issue.

[2019-08-08 20:13] #23939 closed

[2019-08-08 21:06] jdm commented on #23753
To automate the nuget work:
* add a dependency in our [packages list](https://github.com/servo/servo/blob/master/python/servo/packages.py#L5) for "nuget" with version "08-08-2019"
* this will cause a new `nuget\08-08-2019` path to appear in .servo/msvc-dependencies/ when you next run `mach build` as https://servo-deps.s3.amazonaws.com/msvc-deps/nuget-08-08-2019.zip is downloaded and unzipped
* add

[2019-08-08 23:07] pcwalton commented on #22855
I think that if the `ROUTER` thread is a problem, then we should fix that somehow instead of adding anything WebXR-specific.

[2019-08-09 00:17] craftytrickster commented on #23274
I believe this can be closed. I'm able to search for std::vec fine.

[2019-08-09 00:24] marmeladema commented on #23607
What is left to do here? I am willing to help if needed

[2019-08-09 01:47] jdm commented on #23607
Ok, so pieces that I know about:
* mach does not support python 3 (https://bugzilla.mozilla.org/show_bug.cgi?id=1473498)
* mozbuild does not support python 3 (https://bugzilla.mozilla.org/show_bug.cgi?id=1473499)
* probably some more dependencies of https://bugzilla.mozilla.org/show_bug.cgi?id=1388447
* the web-platform-test test harness/webserver/etc. does not support python 3 (https://github.com

[2019-08-09 01:51] jdm commented on #23274
thanks!

[2019-08-09 01:51] #23274 closed

[2019-08-09 04:48] #20377 closed

[2019-08-09 04:56] angelortiz1007 commented on #23753
I performed the 1st and 3rd bullet item above.  After running mach build -d --uwp, I get the following error:

C:\git-mozilla\servo-angelortiz1007>mach build -d --uwp
Installing missing MSVC dependencies...
Getting parent_dir...
Getting zip_path and prepare_file...
Getting prepare_file and prepare_file...
Downloading https://servo-deps.s3.amazonaws.com/msvc-deps/nuget-08-08-2019.zip ...
Download f

[2019-08-09 04:59] jdm commented on #23753
Oops. I didn't set the access permissions for the file correctly. It should work better now.

[2019-08-09 04:59] marmeladema commented on #20377
This issue was closed automatically by @bors-servo but we might want to continue going forward with this. Should this issue be reopened or a new one created with more specific goals?

[2019-08-09 05:01] jdm commented on #20377
We can open new issues for followups.

[2019-08-09 05:19] marmeladema commented on #23607
Thanks! I've updated most of the pieces i knew of to be python3 compatible but ultimately ended up fighting with `mach` itself:
[code]

On the `mach` bugzilla ticket, i see there is a lot a work going on. How can I be of any help?

[2019-08-09 05:27] saschanaz commented on #23607
I think we can be progressive and first do some syntactic changes, even if it doesn't work on Py3 yet.

[2019-08-09 05:30] saschanaz commented on #23607
Done by https://github.com/servo/servo/pull/23748

[2019-08-09 05:37] angelortiz1007 commented on #23753
:)
A little better now.  Download proceeds, but seems to terminate at around 97%.  See error code below.  This time the .servo\msvc-dependencies\nuget directory was blank.

C:\git-mozilla\servo-angelortiz1007>mach build -d --uwp
Installing missing MSVC dependencies...
Getting parent_dir...
Getting zip_path and prepare_file...
Getting prepare_file and prepare_file...
Downloading https://servo-deps.

[2019-08-09 05:37] jdm commented on #23607
I recommend reaching out to @ahal in that bug directly.

[2019-08-09 05:47] jdm commented on #23753
Ok, I redid the archive to better fit the code's expectations about its contents. Try again?

[2019-08-09 05:52] angelortiz1007 commented on #23753
Outstanding!!!

Success!

I now have .servo\msvc-dependencies\nuget\08-08-2019\nuget.exe

I got stumped initially and walked away and came back to it.  After looking at the 403 message again I said there is something going on in the download.

I'll call it quits for the day knowing I passed this hurdle.:)

Thanks for the late night help!

[2019-08-09 06:36] paulrouget commented on #23933
Ok - I will file an issue for the widestring conversion code. In an upcoming changes, i need to convert the char* to wstring then to hstring. And I'm not sure I'm doing the right thing.

[2019-08-09 06:36] #23933 closed

[2019-08-09 08:01] gterzian commented on #23905
Ok I was able to remove the use of ipc-channel there, because the content-process only needs to wait on the shutdown of the script-thread in multiprocess mode, and in that case we can use crossbeam channels created in the content-process, as opposed to using ipc-senders which are sent across process.

I also removed the use of layout in that workflow, since the script-thread will itself wait on la

[2019-08-09 08:02] gterzian commented on #23905
Thanks, removed that print out.

[2019-08-09 10:57] paulrouget commented on #23916
I made some good progress. Now Servo works in its own control, making it possible to customize the behavior of the servo element in the page, for example customize how focusing works. Next step is to isolate the code in its own project (like on Android, separate the app from the servo view).

[2019-08-09 11:01] paulrouget commented on #23894
This will be part of #23916. I have a working implementation.

[2019-08-09 15:04] marmeladema commented on #23607
Here is my WIP branch for Python3: https://github.com/marmeladema/servo/pull/new/issue-23607/python3

[2019-08-09 22:02] angelortiz1007 commented on #23753
Additional fine tuning may be needed.

I've noticed that "**nuget.exe**" also exists in "**.servo\msvc-dependencies**" in addition to "**.servo\msvc-dependencies\nuget\08-08-2019**"

[2019-08-09 22:05] jdm commented on #23753
That may be leftover from the previous failure.

[2019-08-09 22:07] angelortiz1007 commented on #23753
I've created a python script to call nuget restore ServoApp.sln.  My preliminary python script is:

def angle_root(target):
    arch = {
        "x86_64": "x64",
        "x86": "X86",
        "aarch64": "ARM64",
    }
    print(target)
    angle_x64 = arch[target.split('-')[0]]
    angle_default_path = path.join(os.getcwd(), "support\\hololens\\packages\\ANGLE.WindowsStore.Servo.2.1.13\\bin\\UAP\\

[2019-08-09 22:08] angelortiz1007 commented on #23753
I thought too, but I deleted it and reran mach build -d --uwp and after the download nuget.exe was observed.

[2019-08-10 05:53] #23734 closed

[2019-08-10 19:37] KiChjang commented on #23918
My educated guess is that the border is somehow calculated as part of the content, which may erroneously cause the weird scrolling behavior we see there.

[2019-08-10 20:00] kanaka commented on #23905
Sorry for the slow response. I had a busy work day (I'm a part-time PhD student with a full-time job as well). I'm rebuilding to test right now.

[2019-08-10 20:52] kanaka commented on #23905
Crash at 156 but looks like frame labels were lost again. I'm going to do a clean build to try and get the full annotated trace. Watching the resident memory usage it looks like it's increasing by about 1MB every two or three page loads so I suspect we haven't hit the last of the issues. Anyways, here is the trace missing labels in case it's interesting. More to come.

[code]

[2019-08-10 22:14] kanaka commented on #23905
Hmm, I did a clean rebuild and the test fails at the same point and I still don't have any stack frame labels.

[2019-08-11 13:51] Eijebong opened #23948 "Deduplicate dependencies"
It's been a while since I haven't checked on that. Going to track progress here because my brain can only contain so much info.

- ~crossbeam-deque~:
  - [x] https://github.com/rayon-rs/rayon/commit/99706a49b478b3cbde1135401f325556f0a4d472

- ~euclid~:
  - [x] rust-webvr
  - [x] servo-media-audio

- ~gl_generator~:
  - [x] https://github.com/servo/mozangle/pull/29
    - [x] https://github.com/bren

[2019-08-11 21:50] #23558 closed

[2019-08-12 07:22] gterzian commented on #23905
@kanaka, thanks, that looks like the shared memory in the fetch canceller, so I've turned it off completely. It's worth another try...

[2019-08-12 18:18] kanaka commented on #23905
Progress! 819 loads this time. The signature of this one looks fairly different (maybe in mozjs?).

I monitored the memory usage during the run and it appears that there is a pretty consistent increase of 50-60MB for every 100 page loads.

[code]

[2019-08-12 18:19] asajeffrey opened #23954 "Three.js examples broke on recent three.js releases"
The three.js examples which used to work in Servo are now not rendering.

Bisecting using the wayback machine, Mar 31 works, https://web.archive.org/web/20190331203342/https://threejs.org/examples/#webgl_animation_cloth but May 9 doesn't https://web.archive.org/web/20190509071159/https://threejs.org/examples/#webgl_animation_cloth

This could be r104 switching off error checking for shader compila

[2019-08-12 19:58] jdm commented on #23954
This is caused by the switch to use JS modules in the examples instead: see discussion at https://github.com/mrdoob/three.js/pull/16799#issuecomment-515592542 which includes workarounds.

[2019-08-12 20:00] asajeffrey commented on #23954
Ah, that explains it!

[2019-08-12 21:37] angelortiz1007 commented on #23753
**Just to confirm and document:**
Within the build_commands.py, the function below is responsible for passing the Configuration **dev** build type (Release/Debug) and the Platform build type **win_arm64** (x86 vs arm64).

def build(self, release=False, dev=False, jobs=None, params=None,
              no_package=False, verbose=False, very_verbose=False,
              target=None, android=False, mag

[2019-08-12 23:01] angelortiz1007 commented on #23753
Reference Link to resolve msbuild time error of missing certificate

https://www.oipapio.com/question-1459134

snipet .....
Same issue I met these days, And I finally successfully solved with the help of this post.
Actually we must ensure we had create a test-used .pfx as the developer of UWP ,and followed words shared some helpful solutions I thought:
Create a test certificate with VS:
In Visual

[2019-08-13 04:13] marmeladema commented on #23607
I checked the upstream `mach` repository at https://hg.mozilla.org/mozilla-central/file/default/python/mach/mach/config.py
and in fact the bug i am facing has already been fixed but there are no new release since May 2, 2016: https://pypi.org/project/mach/#history
I guess we have to wait until everything is ready upstream and a new version published.

[2019-08-13 05:27] angelortiz1007 commented on #23753
got my python scripts working well.  However, when I run msbuild for debug and x64, msbuild is building arm64 as well.

Here is my command:
msbuild /m:4 /p:project=ServoApp .\support\hololens\servoapp.sln /p:SolutionDir=c:\git-mozilla\angelortiz1007-2\support\hololens /p:Configuration="Debug" /p:Platform="x64" /p:AdditionalIncludePaths=c:\git-mozilla\angelortiz1007-2\target\debug

The following is

[2019-08-13 05:39] angelortiz1007 commented on #23753
The suggestion from the link above appears to work.  The following msbuild command produces only the release|x64 target.
msbuild /m:4 /p:project=ServoApp .\support\hololens\servoapp.sln /p:SolutionDir=c:\git-mozilla\angelortiz1007-2\support\hololens /p:Configuration="Release" /p:Platform="x64" /property:AppxBundle=Always;AppxBundlePlatforms="x64"

Changing "Release" to "Debug" also works.

[2019-08-13 07:44] gterzian commented on #23905
It looks related to tracing the windowproxy, but I'm not sure what this is, it looks like it can be summarized as:

1. A new page loads
2. `script::dom::window::Window::resume` is called
3. This calls into the window proxy `WindowProxy.set_window`
4. It ends in a crash at `script::dom::windowproxy::trace`.

@asajeffrey any ideas?

@kanaka I've just made a change that removes all caching of pages i

[2019-08-13 10:44] ferjm commented on #23747
#23749 is done, so I am closing this one. Please, reopen if you still encounter this issue.

[2019-08-13 10:44] #23747 closed

[2019-08-13 10:45] ferjm commented on #23747
Make sure that you are installing the MSVC binaries. The MinGW ones won't work due to different dll naming.

[2019-08-13 11:59] tomasdivito commented on #21268
I have some doubts regarding this task @jdm maybe you can clarify me how to get cerain information in the code or if I should add something to get them :thinking:

- We should return Zero when we fail the `Timing Allow Check` which is currently under development, and it looks like when we set the Timing Allow Check alg as failed we are setting all the values as zero (as we should) and probably we

[2019-08-13 13:08] asajeffrey commented on #23905
Oh gosh, that's a nasty stack trace. A GC got triggered during the middle of a brain transplant (https://github.com/servo/servo/blob/9b247983902d1fca945a0caff029c42d13c846e7/components/script/dom/windowproxy.rs#L586), and that crashed while tracing the window proxy that was in the middle of being transplanted.

Can you file a separate issue for this and cc me? I doubt it's got anything to do with

[2019-08-13 13:45] gterzian opened #23959 "Panic with Windowproxy traced while being transplanted"
cc @asajeffrey

[code]

_Originally posted by @kanaka in https://github.com/servo/servo/issues/23905#issuecomment-520537554_

[2019-08-13 14:38] asajeffrey commented on #23959
My guess is we're not rooting enough in `set_window`.

[2019-08-13 14:40] kanaka commented on #23959
This gist has the simple script and HTML/CSS files that I used to trigger this: https://gist.github.com/kanaka/119f5ed9841e23e35d07e8944cca6aa7

[2019-08-13 14:43] kanaka commented on #23905
@gterzian I'm rebuilding to test again with your session history caching change. Shouldn't the session history caching detect that the file hasn't changed and re-use the existing content? Maybe the simple Python web server I'm using for this doesn't allow proper caching?

[2019-08-13 15:08] gterzian commented on #23905
I think so, it would only cache previous history states for a given "tab". It might not do anything if you are indeed reloading the same page. Is the url always the same?

I'm not sure where the steady memory build-up would come from only re-loading the same page many times

[2019-08-13 15:16] kanaka commented on #23905
Yes, it's reloading `http://localhost:9080/test3.html` every time. I did a manual curl of the page and it looks like python's simple web server is in fact returning a correct `Last-Modified` header.

I just started a test run and should have a result in a few minutes.

[2019-08-13 15:17] gterzian commented on #23905
Yes the HTTP caching behavior would be unrelated to creating a new pipeline, I think. So the caching would save the network round-trip, while still creating a new layout thread(need to check).

[2019-08-13 15:24] asajeffrey opened #23960 "Lamp demo crashes with GL errors"
https://www.joshmatthews.net/demos/lamp.html fails with GL errors.

On MacOS:
[code]
on ML1:
[code]

[2019-08-13 15:26] kanaka commented on #23905
I'll let it run to conclusion, but it's up to 400+ loads so far and the resident memory is growing at a steady 57MB per 100 page loads.

[2019-08-13 15:37] kanaka commented on #23959
I updated to ffb9e33 and reran the test and got the same stack trace on the 819th load so it seems consistent even across a build with a code change.

[2019-08-13 18:39] asajeffrey commented on #23959
That bit of code hasn't changed much in the last three years, so I don't think any recent changes will have affected it. It needs a very specific set of circumstances to trigger it, I'm a bit surprised we're able to reproduce it!

[2019-08-13 19:28] kanaka commented on #23959
My interpretation of the stack trace is that it's GC related in mozjs. Is that correct? If so, an interesting data-point is that there is no user JS code in the test page. Just a bunch of imported CSS stylesheets (actually just 10 copies of two files), one inline style on the body tag, and a bit of HTML.

Another data-point (that I noted in the original issue #23905) is that the resident memory si

[2019-08-13 19:55] asajeffrey commented on #23959
Yes, it's caused by GC in spidermonkey being triggered in the middle of `set_window`. We're creating a bunch of JS objects for things like DOM nodes, so GC can get triggered even if there's no JS on the page.

My current guess is that the window proxy needs rooted during `set_window`. Can you try adding:
[code]
to the beginning of `set_window` and see if that helps?

[2019-08-13 20:48] kanaka commented on #23959
I applied this patch and rebuilt and still got the same crash at 819 page loads:

[code]

[2019-08-13 21:04] asajeffrey commented on #23959
Oh rats. I'll see if I can come up with something else...

[2019-08-13 22:18] georgeroman opened #23964 "Intermittent "no entry found for key" error in infrastructure/testdriver tests"
`no entry found for key (thread WRRenderBackend#0, at src/libcore/option.rs:1166)` appears most of the time when running the [`infrastructure/testdriver`](https://github.com/web-platform-tests/wpt/tree/master/infrastructure/testdriver) tests. I haven't been able to reproduce the error outside the test environment, but instead manage to tweak the test runner to use a debugging version of Servo in o

[2019-08-14 07:19] pylbrecht commented on #23431
I handed in my thesis on Monday and am now available again.
I see @Eijebong is working on this now (https://github.com/servo/servo/pull/23936). Am I free to look for another issue then?

[2019-08-14 09:07] ferjm opened #23965 "Intermittent fail /_mozilla/mozilla/window_performance_topLevelDomComplete.html"
[code]

[2019-08-14 11:14] Eijebong commented on #23431
If you want to continue working on this you can take it back from where I left it :) I'm probably not going to work on it for quite some time because of syn 1.0 anyway

[2019-08-14 12:49] gterzian commented on #23959
Ok what did caught my attention is that we do a lot of redundant transplanting, and with that fixed it appears the issue goes away(or at least I wasn't able to reproduce it, altough I didn't try yet without the fix).

@asajeffrey Perhaps you want to review it at https://github.com/servo/servo/pull/23967 ?

We probably should keep this one open if that doesn't exclude the possibility of not enough

[2019-08-14 14:19] kanaka commented on #23959
@gterzian building it now.

[2019-08-14 14:37] asajeffrey commented on #23959
Hmm, this is just papering over the cracks though, the GC panic is still there waiting to be triggered.

[2019-08-14 14:39] carado opened #23968 "Add reference_count method to servo_arc::Arc."
In my own usage of servo_arc, I have come across a case where an object, when dropped, will remove itself from a collection. The collection owns a `servo_arc::Arc<Thing>`, and the person dropping the object is dropping another `servo_arc::Arc<Thing>`; so the object needs to remove itself from the collection if its reference count is 2, not if it's 1.

Unfortunately, `servo_arc::Arc` only provides

[2019-08-14 15:04] kanaka commented on #23959
Crash on load 1237 (compared to 819 previously). Still growing at consistent 56-57MB per page load. Different stack trace (unfortunately no labels again):

[code]

[2019-08-14 15:10] asajeffrey commented on #23959
That looks like you're back to running out of fds again (or something else is triggering weird low-level fd-adjacent errors in ipc).

[2019-08-14 15:43] kanaka commented on #23959
I'm experimenting with making the test case larger to try and reduce the amount of time needed to run the test. My first experiment was adding a bunch of lorem ipsum text to the test case. This increased the memory resident growth rate (108MB per load). However, the test still crashed at exactly 1273 loads as before. However, this time I got a better stack trace:

[code]

[2019-08-14 16:25] kanaka commented on #23959
I increased the size one of the repeated CSS files that is included and got a trace (after 1236 loads) that is definitely more related to #23905 so I'll post the stack there.

[2019-08-14 16:28] kanaka commented on #23905
I have built using 316532e0cfc81 (part of #23909) and I've also increased the complexity of one of the CSS files that is included 10 times. I got the following crash on the 1236th page load:

[code]

[2019-08-14 17:44] gterzian commented on #23905
Ok so that's `constellation::network_listener::NetworkListener::initiate_fetch` which also creates an ipc-channel for each fetch. It should not be a super hard fix, since the constellation can just use it's own local router, like I've already done in script.

Since the ipc-channel is created repeatedly for an operation, this is still a feasable refactoring. The real limit will be when we hit a cra

[2019-08-14 17:51] asajeffrey commented on #23577
In particular:
- [x] there is now a built-in laser pointer (#23953).
- [ ] snapping is now on by default.
- [ ] the app should support resizing.

[2019-08-14 17:55] asajeffrey commented on #23573
Closed by #22180.

[2019-08-14 17:55] #23573 closed

[2019-08-14 17:57] asajeffrey commented on #23224
Closed by #23929.

[2019-08-14 17:57] #23224 closed

[2019-08-14 18:06] asajeffrey commented on #22985
I asked a magicleap forum question. https://forum.magicleap.com/hc/en-us/community/posts/360048556391-Virtual-keyboard-cursor-keys

[2019-08-14 18:24] asajeffrey commented on #22984
This could be a race condition where the browser is navigating at the same time as the URL is being entered?

[2019-08-14 18:33] asajeffrey opened #23969 "libsimpleservo ignores ShowIME and HideIME events"
The `HideIME` and `ShowIME` events are ignored by libsimpleservo: https://github.com/servo/servo/blob/c47575535ceb798ae3be60792c98bdd0a33f4415/ports/libsimpleservo/api/src/lib.rs#L571-L574

[2019-08-14 18:34] asajeffrey commented on #23969
The root cause of #22983. cc @paulrouget

[2019-08-14 18:34] asajeffrey commented on #22983
Yeah, libsimpleservo ignores `HideIME` and `ShowIME` events: https://github.com/servo/servo/blob/c47575535ceb798ae3be60792c98bdd0a33f4415/ports/libsimpleservo/api/src/lib.rs#L571-L574

I filed #23969.

[2019-08-14 18:36] asajeffrey commented on #22807
Closed by #23929.

[2019-08-14 18:36] #22807 closed

[2019-08-14 18:36] asajeffrey commented on #22403
Closed by #23929.

[2019-08-14 18:36] #22403 closed

[2019-08-14 18:43] asajeffrey commented on #22747
I removed this demo from the ML home page, so it's not as obvious. The webrender issue is (I think) the same as https://github.com/servo/webrender/issues/2706.

[2019-08-14 18:43] gterzian commented on #23959
Here is a branch that represents the state of the tree that seemed to reliably trigger the GC crash: https://github.com/gterzian/servo/tree/trigger_windowproxy_trace_crash

[2019-08-14 18:46] asajeffrey commented on #22407
Sigh, keyboard activation regressed, c.f. #22983 and #23969,

[2019-08-14 19:27] asajeffrey commented on #22748
Works now.

[2019-08-14 19:27] #22748 closed

[2019-08-14 19:48] asajeffrey commented on #22183
Argh, I found the remarkably well-hidden UI combo for this, which is bumper / move, and then hold down the left or right edge of the trackpad.

[2019-08-14 19:48] #22183 closed

[2019-08-14 20:02] gterzian commented on #23905
@kanaka OK, this was taking care of in https://github.com/servo/servo/pull/23909, ready for another spin...

[2019-08-14 20:03] asajeffrey opened #23970 "Moving the magicleap landscape app is hard"
When moving the magicleap landscape app, it sometimes gets stuck and won't move.

[2019-08-14 20:03] asajeffrey commented on #23970
I thought this might be the snap setting, but no that didn't change things.

[2019-08-14 20:04] #23577 closed

[2019-08-14 20:09] asajeffrey commented on #23970
This seems to be a general feature of landscape apps, I replicated it with the user guide. https://forum.magicleap.com/hc/en-us/community/posts/360048558011-Apps-gets-stuck-when-moving

[2019-08-14 20:20] kanaka commented on #23905
I'll give it another shot.

[2019-08-14 20:39] asajeffrey opened #23971 "Make use of magicleap ExclusiveRender?"
There are docs for a Lumin Runtime `ExclusiveRender` object, accessed from `LandscapeApp::startExclusiveModeGL`. The docs hint that this is a way that landscape apps can enter immersive mode without having to do inter-process communication, which is exactly what we want for WebXR.

According to https://forum.magicleap.com/hc/en-us/community/posts/360048535712-ExclusiveRender-examples, this functio

[2019-08-14 21:21] kanaka commented on #23905
I rebuilt and tested. Panic on 1235:

[code]

[2019-08-15 06:08] gterzian commented on #23905
This looks like a panic when receiving an ipc message containing an ipc-sender, hit when trying to deserialize the sender.

Essentially it hits:

https://github.com/servo/ipc-channel/blob/ca6d860118fdb3fd7d0d0872866ded9f89cbde7b/src/ipc.rs#L818

However it's not clear why, is this another kind of resource exhaustion? I don't know.

----

On another matter, I was suddenly wondering whether the root

[2019-08-15 07:12] pylbrecht commented on #23431
I just want to work on *any* issue, so I honestly don't mind. I'm on vacation until Sunday anyway, so I will look into your changes when I'm back. If I feel confident to take it from there, I'm happy to continue working on this. Otherwise I'm gonna pick something else. I'll drop a comment here in any case though.

[2019-08-15 08:55] gterzian commented on #23913
So, I think it's time to review the experiment so far.

On the problem side:

1. We create a lot of ipc-channels to implement cross-process "callbacks". On linux this can crash due to "too many open files", not sure what it does on other platform but I assume it will lead to problems across the board.
2. My perspective is that the problem is not so much sending `IpcSender` around, which results in

[2019-08-15 14:05] jdm opened #23974 "Create a libhlservo library"
There is a bunch of Hololens-specific embedding that's ending up in per-platform cfg blocks in libsimpleservo's C API crate. We should create a new Rust crate that contains the Rust-specific embedding pieces (such as stdio/stdout redirection, logging setup, and GST_LOG redirection) and reexports all of the important bits of the C API.

[2019-08-15 14:35] asajeffrey opened #23975 "Make libmlservo a dynamic library?"
At the moment both Servo2D and Servo3D have a staticly linked libmlservo, which doubles the space usage.

[2019-08-15 15:49] kanaka commented on #23905
@gterzian Okay, I ran a test without the screenshot (a 0.3 second sleep instead, although I plan to shrink that later to see if it's actually needed). I updated the gist with the current test script that I used. I also do the CSS file duplication in the script and download the AHEM font if it isn't already there. I'm actually wondering if the reason you don't see any panics/crashes at all is becau

[2019-08-15 15:59] jdm commented on #23964
Looks like you're seeing the same backtrace segfault that @mmatyas reported in https://github.com/servo/servo/pull/23966#issue-307257113. As for the actual panic, we've seen this before in https://github.com/servo/servo/issues/21480.

[2019-08-15 16:01] kanaka commented on #23905
I removed the sleep and this has revealed a new symptom. At the start of the run there some high jitter in the amount of time each load takes to complete and return a response to the script. The first 10 seem to be slow, then there are some significant hesitations in the first 100 loads or so. After that things seem pretty consistent per load. However, there is a very noticeable slow down over tim

[2019-08-15 16:13] kanaka commented on #23905
I added timestamps to every run and tried again. This time script hung on the 739th load. No messages from the running servo process. I tried doing a manual verbose curl POST to the webdriver port and while it opens a network connection and accepts the POST, there is no response at all.

However, the timing behavior looked pretty similar to before so here are the timestamp for the first 20 loads a

[2019-08-15 16:14] jdm commented on #23913
I'm not sure I follow why transitioning to using Rust bindings around Mojo is the logical conclusion. What is the problem being solved, and how does switching to Mojo accomplish that? At what level of the platform do you propose that switch should take place?

[2019-08-15 16:16] asajeffrey commented on #23913
Thanks for doing the experiments.

As well as the chromium IPC, one thing that we should investigate is whether we can make more use of shared memory directly, to save the serialization/deserialization costs of IPC. There is already the `shared_memory` crate that has a trait for data which can be safely put in shared memory: https://docs.rs/shared_memory/0.8.2/shared_memory/trait.SharedMemCast.htm

[2019-08-15 16:24] kanaka commented on #23905
Ran again and panic on load 974. Here are the are the number of seconds for each 100 loads: 20s, 11s, 14s, 16s, 21s, 24s, 29s, 32s, 35s, 29s (for last 74).

Here is the panic for this run:

[code]

[2019-08-15 17:48] asajeffrey commented on #23428
Hmm, one thing that's odd is that running that command locally I get:
[code]
in particular:
[code]
but the failing run doesn't have that, which might be causing the wrong `cc` to be picked up?

[2019-08-15 18:07] asajeffrey commented on #23428
OK, my theory by me... Something is causing sccache not to interpret the conditional external crate declaration in `ports/glutin/Cargo.toml`:
[code]
as a result, the `--extern cc=...` flag isn't being provided when compiling `build.rs`, so the internal `rustc` version of `cc` gets picked up, hence the error.

This doesn't explain why it's intermittent though.

There is a workaround, which is just

[2019-08-15 18:09] gterzian commented on #23905
Thanks for all the new data.

So at least we know it's not related to taking the screenshots.

it looks like we're hitting the panic now when creating "essential" channels, for example with `Pipeline main chan: Os { code: 24, kind: Other, message: "Too many open files" } `.

And those unfortunately cannot be refactored easily, since it's really a channel that needs to be created and used repeatedl

[2019-08-15 18:15] asajeffrey commented on #23428
I filed https://github.com/mozilla/sccache/issues/496.

[2019-08-15 18:29] gterzian commented on #23905
I think that is a result of one of the other panics.

[2019-08-15 18:36] jdm commented on #21268
The timing allow check code is responsible for setting any existing timings to 0 and preventing any further ones from being set, so you can ignore it for the purposes of this issue. Since there is no way to tell if there's a persistent connection right now, you can add a TODO comment for it and ignore it.

[2019-08-15 18:48] jdm commented on #23428
There were three builders in particular that were affected by it. Since we have a pool of builders that can be used for build jobs, it may not actually have been intermittent; the affected builders may have simply been selected at a rate that enabled other builds to succeed sometimes.

[2019-08-15 18:50] kanaka commented on #23905
It's definitely using more file descriptors over time. Looks like it uses 4 more FDs for every page load. It starts with about 200 and shows 4080 right before the final failing page load. The limit for that process is in fact 4096.

I ran the following command periodically during the during the run:

[code]

Here is the first part of the diff from around 200 page loads to somewhere in the 900 rang

[2019-08-15 19:04] gterzian commented on #23913
The problem as I see it is that we want to use IPC for cheap callbacks, we're currently doing it by using the `ROUTER` and newly created ipc-channels, and it's not cheap.

Mojo could solve that problem, since their API appears to fit what we need to do, and I assume the implementation doesn't strain resources like our use of the router/channels do. I need to check if that is correct actually.

Moj

[2019-08-15 19:28] gterzian commented on #23913
While I think the main bottleneck we're facing is not the serialization, it's rather the cost of creating and passing channels around(which map directly to system resources like file descriptors), having the capacity to further optimize things with shared-memory would certainly be useful.

I have to say the support for that in Mojo seems outstanding, they even support stuff like https://chromium.g

[2019-08-15 19:33] gterzian commented on #23913
@jdm @asajeffrey Also, please do take a look at https://github.com/servo/servo/pull/23909 and let me know what you think.

It essentially works, and there is some value in there if only because the ipc-stuff is isolated in one place. The "cheap" handle part works.

The problem is really avoiding the double serialization, and supporting shared-memory containing messages.

[2019-08-15 19:36] jdm commented on #23428
sccache 0.2.10 was released recently, and our CI has used 0.2.7 all along.

[2019-08-15 19:46] gterzian commented on #23905
Thanks, then the question is why are they building up steadily, since in theory we should be trimming pages and dropping associated channels...

[2019-08-15 19:47] jdm commented on #23428
https://github.com/mozilla/sccache/pull/285 is the only PR I noticed that might directly impact us.

[2019-08-15 19:53] gterzian commented on #23913
As a last argument, note that we're regularly adding code that uses ipc-channel as cheap callbacks

Example: https://github.com/servo/media/pull/289/files#diff-9b2c72cf27eb297db09cd71e2fd6d8fdR52

or my own ongoing work with message-ports(where I recently tried to at least only use one route per global, due to the latest experience).

It seems like there is a strong need for doing things with ipc-

[2019-08-15 20:35] gterzian commented on #23913
https://chromium.googlesource.com/chromium/src/+/master/mojo/README.md#are-message-pipes-expensive

[2019-08-15 21:38] asajeffrey commented on #23905
Indeed. @gterzian, can you think of an easy way to find out if the Document and Window objects are being dropped?

[2019-08-15 22:16] gterzian commented on #23905
I can take a look.

[2019-08-15 22:27] jdm commented on #22539
https://hg.mozilla.org/integration/autoland/rev/1b097ae05490

[2019-08-15 23:27] #21803 closed

[2019-08-16 05:00] jdm opened #23980 "XRSession's base_layer member is never read"
It's initialized to a default value and then nothing ever updates or reads from it.

[2019-08-16 12:21] sreeise commented on #22799
Hey @jdm, I am currently testing a solution for this and have a question if you don't mind answering. Sorry if this is obvious but am I correct in thinking that when the tracks are enabled/disabled from JS, the audio track itself is the object that gets changed internally? So for instance if the zeroth track were disabled:
[code]
the actual object at index zero is the track itself and not the audi

[2019-08-16 13:21] jdm commented on #22799
Yes, that sounds correct to me.

[2019-08-16 14:31] jdm opened #23986 "Unregistering from XR's destructor causes panics"
Specifically, XR::unregister tries to get the webvr thread handle from the object's global, but Drop can be called during GC when there is no real global object any more. We should perform any unregistration during page teardown instead.

[2019-08-16 19:40] asajeffrey commented on #23913
I did some messing around, and I think we can get memory-safe access to shared memory. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d8a88d07419ef92008075b4b340d9d9c is a first draft, which passes Miri.

On IRC, @jdm points out that there may be performance issues with shared memory vs ipc, unfortunately the only way to find out is to run some experiments.

I agree @gterz

[2019-08-16 20:57] gatoWololo commented on #23818
I and @cbrewster  think we figured it out. `PendingImageResponse` is defined in terms of `ImageResponse`:
[code]

So we probably got lucky that the first field is an `ImageResponse`, so the deserailziation "just happens" to be of the right type.

The good news is the solution is pretty simple:

[code]

And that should make it correct :)

[2019-08-16 21:19] jdm commented on #23818
Wow. Big yikes!

[2019-08-16 22:36] gterzian commented on #23913
This is an old doc from Chromium which discusses options to get close to zero-copy when transferring(a shared array buffer) over IPC, pre-Mojo.

Might be relevant for strategies to do stuff with shared-memory with ipc-channel.

https://docs.google.com/document/d/17o_cjtc3Gk5cDZhoUc37EyhhvBb4wMlCROJvoC2Aokg/edit#heading=h.pojdlcrtjok7

Summary: Currently MessagePort does not support sending a trans

[2019-08-17 11:44] SimonSapin opened #23991 "Magicleap Nightly upload is failing"
https://tools.taskcluster.net/groups/S88iUG-fSCSfQNavuWdQyA/tasks/c1KKBRXoT1q3rVL341-dPw/runs/0/logs/public%2Flogs%2Flive.log

CC @asajeffrey

[2019-08-17 14:59] gterzian commented on #23986
Code would be at https://github.com/servo/servo/blob/9bba14cb438cf5ac08945bb8fbb5a0f31d43fcbe/components/script/dom/document.rs#L1850

and it seems like this would be a good fit for https://html.spec.whatwg.org/multipage/browsing-the-web.html#unloading-document-cleanup-steps as something to be defined in the webxr spec.

[2019-08-17 15:00] gterzian commented on #23986
I think that similar to what is done with websockets, you'd want to set the document salvageable state to false, if any xr is cleaned-up during unload.

https://html.spec.whatwg.org/multipage/browsing-the-web.html#concept-document-salvageable

[2019-08-18 09:25] gterzian opened #23994 "WorkletId: why not based on a pipeline-namespace"
What is the reason for the worklet id being a random number, versus something based on a `PipelineNamespace` like `PipelineId` and so on?

 https://github.com/servo/servo/blob/a8ae0e56dd75e6467e063c7f8014ab94ba07f0a0/components/msg/constellation_msg.rs#L36

https://github.com/servo/servo/blob/03f223663f1c0bc7432f0f47b533fb41c0226eb1/components/script/dom/worklet.rs#L168

One reason I can think of

[2019-08-18 09:37] gterzian commented on #23807
I've looked at the currently worklet code, mostly used for paint worklet, and I think we can base audio worklet on it. cc @asajeffrey

It's a bit of a pitty the worklet would not live on the same thread as the audio rendering thread, however I think using the threadpool and the gc/script-loading mechanism it brings is worth it, and I'm not sure we could run the worklet as a whole on the audio rend

[2019-08-18 12:30] asajeffrey commented on #23994
It's more the other way round, why are we using our own ad hoc implementation of a uuid when there exists an off-the-shelf one? The answer is size, a pipeline is is 64 bits, and a uuid is (IIRC) 128.

So in case where id size doesn't matter that much, I'd rather use the standard solution, but this is more a matter of taste than anything.

[2019-08-18 14:02] asajeffrey commented on #21932
Possibly the same as
[code]

[2019-08-18 16:17] #23991 closed

[2019-08-18 16:38] gterzian commented on #23994
Ok, thanks for pointing that out, I wasn't aware of the difference.

Could there be additional benefits in putting all UUIDs(regardless of how they are generated) in the `msg` crate? It could increase coherency and make them by default shareable with other crates, like the constellation(potential use-case for that mentioned above).

[2019-08-18 17:04] gterzian commented on #23807
Maybe for this we can just put a mutex around the [node-name-to-processor-constructor-map](https://webaudio.github.io/web-audio-api/#node-name-to-processor-constructor-map) that contains all the processors(similar to paint classes in the paint worklet), and share that with all threads in the pool, with the understanding that the mutex will not be contented since it will only be used by the primary

[2019-08-18 17:09] gterzian commented on #23807
Maybe for this we can just put a mutex around the [node-name-to-processor-constructor-map](https://webaudio.github.io/web-audio-api/#node-name-to-processor-constructor-map) that contains all the processors(similar to paint classes in the paint worklet), and share that with all threads in the pool, with the understanding that the mutex will not be contented since it will only be used by the primary

[2019-08-18 20:42] gterzian commented on #23905
Ok so it looks like documents are properly dropped, layout threads exited, once we start trimming the session history. So the size of documents stored by the script-thread is stable.

However I can see the thread count going up for each load, and for some reason it stops going up at around 350, and then actually seems to fluctuate around 300-350.

The number of mach ports goes up steadily.

[2019-08-18 21:15] asajeffrey commented on #23905
Hmm, is each document going into it's own script thread? Are the documents similar origin?

[2019-08-18 21:19] asajeffrey commented on #23807
The problem is that Spidermonkey is letting internal JS state, so even if you could replicate the worklet state, the JS state would get out of sync. So I think we'd need a single-threaded implementation of audio worklets.

[2019-08-18 21:20] gterzian commented on #23905
All loads, except the first one, are in the same script-thread, hitting the "we've got an existing event-loop, just create a new layout" branch at

https://github.com/servo/servo/blob/3658a8cc591ef4ca827ce1cda9565a1bca7d7b3c/components/constellation/pipeline.rs#L227

The script is at https://gist.github.com/kanaka/119f5ed9841e23e35d07e8944cca6aa7

[2019-08-18 21:20] asajeffrey commented on #23994
Yeah, we could make the IDs consistent, there's no great reason for worklets being different.

[2019-08-18 21:22] asajeffrey commented on #23905
Hmm, but you say there's threads being created but not shut down? Do you
know what kind of thread?

On Sun, Aug 18, 2019, 16:20 Gregory Terzian <notifications@github.com>
wrote:

[2019-08-18 21:27] gterzian commented on #23905
I don't know what those threads are, I can only see in the mac activity monitor that the thread count goes up to 350, and then somehow levels off. Perhaps threads are kept around for a while even though they logically exited?

[2019-08-18 22:26] asajeffrey commented on #23905
Can you run it in a debugger and see what it reckons the thread names are?
You can see this in gdb, not sure about the Mac debuggers.

On Sun, Aug 18, 2019, 16:27 Gregory Terzian <notifications@github.com>
wrote:

[2019-08-18 22:47] jdm opened #23995 "Generate unique ids for nodes lazily"
As far as I know, the the `unique_id` field in Node is only used by the webdriver code. In the common case, this id would never be used. #23951 is increasing the amount of memory that is used to track these ids, so it would make sense to make the process lazy - store an Option<UniqueId> and set it to Some(UniqueId::new()) the first time that a node's unique id is retrieved.

Code: `components/scri

[2019-08-18 23:11] georgeroman commented on #22845
@jdm Sorry for the late response. Yes, this should have been fixed.

[2019-08-18 23:55] jdm commented on #22845
Do we know why #22851 did not change any test results?

[2019-08-19 02:29] CYBAI commented on #23067
I saw the comment at https://github.com/servo/servo/pull/23976/files#r314382292 .
Should we close this issue ?

[2019-08-19 03:14] #23067 closed

[2019-08-19 05:30] paulrouget commented on #23681
Done.

[2019-08-19 05:30] #23681 closed

[2019-08-19 05:30] paulrouget commented on #23678
Done.

[2019-08-19 05:30] #23678 closed

[2019-08-19 05:35] #22681 closed

[2019-08-19 05:42] paulrouget commented on #23974
I'm not convinced we have to create a hl specific library.

I'm not sure it's all Hololens specific. Isn't it Windows specific? Maybe it makes sense to keep these things under `simpleservo/capi/`? As in, if someone wants to use servo in their app on windows, they will need logs and redirection as well.

And if there's something HL specific, could it be moved in support/hololens?

[2019-08-19 07:31] georgeroman commented on #22845
The tests were failing due to an unrelated issue: https://github.com/servo/servo/pull/22851#issuecomment-471178128.

[2019-08-19 11:36] #22845 closed

[2019-08-19 12:07] ferjm opened #24001 "Intermittent timeout /html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/promise-rejection-events-iframe.html"
[code]

[2019-08-19 12:40] asajeffrey commented on #23913
I did some rough-and-ready experimentation with using shared memory and condition variables rather than sockets as the implementation of ipc channels. The code is at https://github.com/asajeffrey/ipc-experiments/blob/master/examples/experiment.rs

It's not memory-safe, doesn't support sending channels over channels, is currently lossy and has a fixed-size buffer. This is all unrealistic, but good

[2019-08-19 13:10] gterzian commented on #23905
For now I used the mac process sampler.

There seems to be something starting threads for each load, this sequence just repeats itself:

[code]

And it doesn't seem to be the layout-thread, since it shows-up differently:

[code]

[2019-08-19 13:13] asajeffrey commented on #23905
Hmm, any way either to get the thread name, or to run a debug build to get
a full stack trace?

On Mon, Aug 19, 2019 at 8:11 AM Gregory Terzian <notifications@github.com>
wrote:

[2019-08-19 13:18] gterzian commented on #23905
I'll try to do a debug build, it's been a while and last time I tried my mac crashed.

Regarding the name, it seems to not have one, because some other threads do show up on the sample with a name, such as `1189 Thread_17936: tokio-runtime-worker-3`. But this might be a function of it being a release build, I don't know.

[2019-08-19 13:25] padenot commented on #23807
It's the opposite: you really want to run this on a single thread, and certainly not on a thread pool (also you can't if you're using SM, as Jeffrey indicates below, because SM uses TLS). In general, multi-threaded real-time audio is a bad idea.

Having thread/process hops in between the audio rendering thread and the worklets means that it won't be possible to have it work reliably (it will work

[2019-08-19 13:48] jdm commented on #23905
Given that we're running webdriver tests and all of those new threads are sitting in sleep calls, I suspect [this code](https://github.com/servo/servo/blob/00a9f307733fa98cea8160e96d404bce9a871c09/components/webdriver_server/lib.rs#L627-L636) is spawning the threads.

[2019-08-19 13:58] gterzian commented on #23807
@padenot Ok, thanks for the info.

In Gecko, are you implementing the `AudioWorkletGlobalScope` by running SM on the rendering thread and simply calling into it as part of audio processing? Or do you put the `AudioWorkletGlobalScope` on another thread than the audio rendering thread and then call into it via a blocking call(that should never block)?

I'm wondering how you go from processing the "n

[2019-08-19 13:59] asajeffrey commented on #23905
@jdm do you know why that code is spawning threads? For example rather than adding a `ROUTER` route to a crossbeam channel then using `recv_timeout`?

[2019-08-19 14:02] jdm commented on #23905
@asajeffrey Probably because it was written [4 years ago](https://github.com/servo/servo/commit/22c06307b8a55ae3ce7393d9770918f74ac5e0d8) and the webdriver code is more or less passively maintained.

[2019-08-19 14:04] gterzian commented on #23905
Thanks for pointing that one out! @jdm

@asajeffrey I think it can easily be refactored as you suggest. I'll give it a try.

[2019-08-19 14:04] asajeffrey commented on #23807
@padenot it sounds like there's a tension between security (which would indicate running the worklet code in the same process as the user content) and low-latency (which would indicate running the worklet code in the main process). Is the plan to resolve this by having a dedicated audio process?

[2019-08-19 14:05] asajeffrey commented on #23905
OK, sounds like a plan!

[2019-08-19 14:17] padenot commented on #23807
For now, we're calling into SM from the render thread and that's it.

The worklet code _is_ user content, so I don't see the difference it makes compared to a normal script?

The preferred architecture is to remote the audio system calls (and thus the audio callbacks) to a privileged process, as mentioned in https://github.com/servo/servo/issues/23807#issuecomment-514291941, and to forward the rea

[2019-08-19 14:23] gterzian commented on #23807
It sounds like we essentially need two changes:

1. Split `servo/media` into a backend running in it's own process, and a rendering thread running in the content-process.
2. Run SM on the rendering thread, and simply call into registered `AudioProcessor` in the context of a `AudioWorkletGlobalScope` from that same thread. That thread would also have to handle messageports messages and forwrad them

[2019-08-19 14:25] gterzian commented on #23807
@padenot One more question: on what basis do you make the privileged audio backend available to content? Is there one privileged process per origin, one for the entire UA, or something else?

[2019-08-19 15:07] padenot commented on #23807
The content process (where the js runs, and also the DSP code in C++ that backs the native audio nodes) is sandboxed. The system calls required to open and run an audio stream don't work there.

The audio stream is therefore opened in the parent process, that has the capability to open an audio stream. When a real-time callback is called in the parent process, we make a synchronous IPC call to the

[2019-08-19 15:22] gterzian commented on #23807
@padenot thank you.

Ok so I think this translates to running gstreamer in the "main" process, alongside the constellation, or we could put it in a separate process. In both cases we could have the constellation do the initial setup when an audiocontext is created by content, followed by setting up a direct ipc channel between the rendering thread in the content process, and the audio backend.

[2019-08-19 15:30] Manishearth commented on #23807
We really do not want to run gstreamer in the main process, it should be in its own process.

[2019-08-19 15:44] padenot commented on #23807
It does not really matter where audio stream resides, as long as the context switches are kept to an absolute minimum (2 per audio callback).

[2019-08-19 15:51] gterzian commented on #23807
I think we can do that by setting up a  direct ipc channel between the audio backend and the audio rendering thread, using the constellation only for initial orchestration when content creates an audio-context.

We would also probably need for the ipc to happen without an ipc-router thread, since that adds a context-switch per message. We could do that if we made the control-thread(the script-thre

[2019-08-19 15:52] asajeffrey commented on #23807
@Manishearth I can understand how we might be able to run gstreamer audio in its own process, but doesn't gstreamer video need to be in the main process?

[2019-08-19 15:55] Manishearth commented on #23807
Does it? I thought we need to ship frames over to webrender anyway?

But yeah if gstreamer is forced to be in the main process anyway we can ignore this. I'd really like for it to be elsewhere, though.

[2019-08-19 15:59] asajeffrey commented on #23913
@gterzian yes, in order to get zero copy messaging, we'd have to allocate (e.g.) vectors directly in shared memory, and keep them in shared memory during their lifetime. Rather annoyingly this means that we'd have `SharedVec<T>` rather than `Vec<T>` (and ditto hash maps etc.) since pointers in shared memory have to be of the form offset-from-shared-page-base-address rather than just being a pointe

[2019-08-19 16:03] asajeffrey commented on #23807
@Manishearth depends on whether we can share textures between processes.

[2019-08-19 18:27] asajeffrey commented on #23975
Well here's a shot at it... https://github.com/asajeffrey/servo/commit/9e74129c34d2771e35f2003d15a057d9f2f5cd79

Unfortunately, this produces a link error:
[code]

[2019-08-19 18:31] #22866 closed

[2019-08-19 19:15] pylbrecht commented on #23431
I will branch off of @Eijebong's latest changes and continue working on this starting this week.

[2019-08-19 20:03] gterzian commented on #23905
Ok so with https://github.com/servo/servo/pull/24007 the number of threads stays stable(at 87), however the number of mach ports still keeps going up...

[2019-08-19 21:13] gterzian commented on #23905
Ok so I checked again, and while we are dropping documents once trimming the session history kicks in, we're not dropping windows(unless the script-thread shuts down).

I can't tell what is keeping a reference to them, could it be some Js engine thing?

[2019-08-19 21:23] jdm commented on #23905
As far as I know there is no explicit "delete this global object" operation. I'm checking in #jsapi on IRC, but we may just be storing a pointer to the obsolete Window object somewhere that is considered a root that will prevent it from being GCed.

[2019-08-19 21:39] gterzian commented on #23905
Might have to do with https://github.com/servo/servo/issues/15258

[2019-08-19 22:07] gterzian commented on #23905
I tried removing the window proxies from the map held by the script-thread, so that they would not be re-used across loads, and that doesn't help. So if the document is dropped, and the window-proxy, the windows is still held by something else.

What I've done by the way is just implement `Drop` for window with a `println`, and the only print I see is of the window that dropped when the initial pa

[2019-08-19 23:10] atouchet commented on #23948
log and unicase were deduped in #24006.

[2019-08-19 23:24] asajeffrey commented on #23905
Ouch, we managed to drop the `Document` without dropping the `Window`??? How is that possible, I thought we never null'd a window's document once it was set?

[2019-08-20 06:12] paulrouget opened #24009 "[hololens] use a template control for urlbar and enclose it in a tabview"
- tabview: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/tabview
- control template: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.controltemplate

[2019-08-20 06:12] paulrouget commented on #23615
From #23908:

I'm not sure what the workflow would look like. Jumping right into immersive mode will be a bit tricky because immersive mode is triggered from JS which needs to load within a 2D page.

For now, I will be working on implementing a simple protocol handler ("servo://https://example.com") that will open Servo and load the page in a 2D view.

[2019-08-20 06:16] paulrouget opened #24010 "[hololens] manipulation events trigger clicks/focus on regular controls"
See https://github.com/servo/servo/pull/23981#issuecomment-522749381

[2019-08-20 07:48] CYBAI opened #24011 "Remove <img> progress events"
whatwg/html#4842
web-platform-tests/wpt#18499

[2019-08-20 07:54] CYBAI opened #24012 "Change default value of window.open()'s url argument"
whatwg/html#4851
web-platform-tests/wpt#18536

https://github.com/servo/servo/blob/171a08270dc3f5eaa238570898d67f422519534b/components/script/dom/webidls/Window.webidl#L43

(Btw, I found the first argument of `open` function should be `USVString` instead of `DOMString` 🤔)

[2019-08-20 08:56] #23894 closed

[2019-08-20 08:56] #23916 closed

[2019-08-20 12:10] gterzian commented on #23905
Correction, we're not dropping documents either, we're only removing them from the map held by the script-thread, but something else is keeping them.

I'm looking into  whether it's the task-queue that could be keeping tasks somehow, since those tasks can then hold a `Trusted` document/window/globalscope...

[2019-08-20 12:18] asajeffrey commented on #23905
Phew, at least I understand what's going on!

The idea of it being a `Trusted` object that's keeping everything alive sounds like a good one. Not sure how to deal with that though, without (for example) removing rAF callbacks from any page that navigates forwards-then-backwards.

I'm also not sure what's meant to happen if document A creates a promise, document B gets hold of it, then document A n

[2019-08-20 12:24] tdelacour commented on #23995
@highfive assign me

looks interesting!! Any expected pitfalls?

[2019-08-20 12:24] highfive commented on #23995
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-08-20 12:26] asajeffrey opened #24014 "Media controls on magicleap"
Currently video elements on magicleap don't have controls. They should!

[2019-08-20 12:26] asajeffrey commented on #24014
cc @ferjm. Related to #22298.

[2019-08-20 12:35] jdm commented on #23995
No pitfalls expected!

[2019-08-20 12:36] asajeffrey commented on #24014
IRC chat at https://mozilla.logbot.info/servo/20190820#c16554592

[2019-08-20 13:26] ferjm opened #24015 "Implement media controls layout for inline media elements"
Right now the media controls layout support is limited to block media elements. We need to fix inline layout for the media controls. There is some precendent of a first attempt to fix this on the PR that introduced the media controls #23208.

[2019-08-20 15:41] ferjm commented on #24014
Even if the existing Shadow DOM based media controls introduced in #22298 work properly on Magic Leap, they probably don't provide the best experience on a Mixed Reality context. I can think of a few approaches to improve the experience:

- Tweak the styles of the existing controls to make them look and perform better on a MR context. We need to do the same thing for mobile.
- Exposing an API like

[2019-08-20 17:49] asajeffrey commented on #24014
https://github.com/servo/servo.org/pull/76 puts the block style on the rabbit video, so at least the demo has the controls, even if they're not pretty.

[2019-08-20 22:53] #22781 closed

[2019-08-21 00:16] aDotInTheVoid opened #24019 "Mach fails on macOS with gstreamer 1.16.0"
When I run `./mach build -r` it returns

[code]

Despite gstreamer 1.16 being installed
[code]

[2019-08-21 00:21] jdm commented on #24019
If you follow https://github.com/servo/servo/blob/master/README.md#note-please-make-sure-the-required-pkg_config_path-environment-variable-is-set-the-same-as-the-one-provided-from-brew-info-libffi-check-this-comment-for-more-details then it should work.

[2019-08-21 04:50] #23177 closed

[2019-08-21 05:03] paulrouget opened #24020 "[hololens] Move ServoControl to its own project"
I need help here. I've tried, but failed to create a 2nd project in the solution that would host the ServoControl code only, and make the ServoApp project use that control.

I'm sure it's simple but I don't know how to create a simple winrt project that uses a `Generic.xaml` file. I keep hitting different compilation issues. Same when I'm trying to remove or rename the `class.*` files from the win

[2019-08-21 05:57] paulrouget opened #24021 "[hololens] support resizing"
Should not be complicated. Just not bound yet.

[2019-08-21 05:59] paulrouget opened #24022 "[hololens] pixel density strategy"
I think 1:1 is fine on device. On Desktop, it looks blurry.

[2019-08-21 07:36] #23937 closed

[2019-08-21 11:57] gterzian commented on #23905
Ok so I checked and the task-queue isn't holding back/storing tasks, so that doesn't seem like a source of leaking `Trusted`.

I've also done some printing out of the refcounts of `Trusted`, and it doesn't seem to steadily go up, it goes up to 9 for each load, and then drops back(to 4, but I think that's related to the next load). If we were leaking `Trusted` somewhere I would expect it to steadil

[2019-08-21 12:12] aDotInTheVoid commented on #24019
this worked

[2019-08-21 12:12] #24019 closed

[2019-08-21 13:21] asajeffrey commented on #23905
Hmm, are you talking about the refcount of the objects, or the size of the
hashtables in `LiveDOMReferences`? The size of the hashtables is the thing
that matters I suspect.

The code that removes the entry from the script thread's documents is
https://github.com/servo/servo/blob/47aa1ccaa2d0f482dcdc1332c8dfe4a7c44f2b11/components/script/script_thread.rs#L2771

This is meant to be called when the

[2019-08-21 13:37] jdm commented on #20800
These errors no longer appear. Now there is this when you press the button to begin the experience:
[code]

[2019-08-21 13:38] gterzian commented on #23905
hashtables in `LiveDOMReferences`? The size of the hashtables is the thing
that matters I suspect.

Yes I looked at `LiveDOMReferences`(actually I didn't looked at the promise table).

called?

It's getting called, and the size of `self.documents` stays at 21 across loads(once it has reached 21), however, the document that is removed does not drop, and neither does the associated window.

So I thi

[2019-08-21 13:39] jdm commented on #20800
Based on reading the code, that looks like it would be fixed by #19904.

[2019-08-21 13:40] jdm commented on #20798
I no longer see that error. Now it's `ReferenceError: SVGElement is not defined`.

[2019-08-21 13:41] jdm commented on #20797
Now the only error that appears is about SVGElement not being defined.

[2019-08-21 13:43] jdm commented on #20804
This appears to be the z-index from the `instructions` class not being processed correctly.

[2019-08-21 13:43] jdm commented on #20805
Example no longer exists.

[2019-08-21 13:43] #20805 closed

[2019-08-21 13:47] jdm opened #24023 "Gunters of Oasis showcase doesn't display anything"
[code]

[2019-08-21 13:57] jdm commented on #20798
This draws correctly when running with `--pref dom.svg.enabled`!

[2019-08-21 13:59] jdm commented on #20797
This renders correctly when `--pref dom.svg.enabled` is used!

[2019-08-21 14:00] jdm commented on #23012
@blairmacintyre That link no longer exists; is there a better one to use?

[2019-08-21 14:00] asajeffrey commented on #23905
Hmm, so something is keeping a live reference to the document, oh that's
annoying.!

I wonder if there's some way we can find out what's keeping the document
alive? Can we temporarily add an `assert!` to the implementation of
`Document::trace()` which panics if we end up tracing a document that's
been discarded? The stack trace might help figure out what's keeping the
document alive.

On Wed, Aug