[2019-03-03 00:48] twitchyliquid64 opened #22959 "Decouple font backend away from Halfbuzz, to support future rust-only backends"
As it stands, the font/text/glyph subsystems are somewhat coupled to the Halfbuzz crate. Decoupling this into some abstraction would allow use of a crate like RustType, which implements font parsing entirely in Rust.

Given the attacker-controlled nature of fonts + text, using a pure rust backend would yield large security gains.

Unfortunately, RustType is no where near as feature-complete as Hal

[2019-03-03 01:52] SimonSapin commented on #22959
As far as I understand RustType positions glyphs by merely moving a cursor by each glyph’s advance width. It is not a replacement for HarfBuzz which does (complex) shaping.

We are however planning to move from using HarfBuzz directly to using Skribo, a project that is just getting started but will let us switch to a Rust-based shaper if and when one emerges. See https://github.com/linebender/skri

[2019-03-03 02:02] robert-snakard commented on #22947
@jdm I don't think it's ever set. Unless I'm checking it wrong

[code]

[2019-03-03 04:31] raphlinus commented on #22959
There are a couple of developments that I think are encouraging in this space. One is [this comment](https://www.reddit.com/r/rust/comments/avjjxw/low_level_text_layout_skribo_kickoff/ehi7975/) from the Reddit thread on the skribo kickoff. It has a gist of code that doesn't do full complex script shaping but does more sophisticated positioning than rusttype does now. As I responded, I'd be quite o

[2019-03-03 08:19] twitchyliquid64 commented on #22959
SGTM, sounds like skribo is the way to go here.

I'll add that RustType has glyph-pair kerning as well, which fwict is sufficient for Latin LTR text?

[2019-03-03 08:46] raphlinus commented on #22959
RustType (through stb_truetype-rs) only has support for the basically-obsolete `kern` table. The code snippet linked above actually handles the newer `gpos` as well. In other words, RustType is not really adequate even for Latin script, but I can see how to put together a pretty good solution for it. Ideally you'll have gsub as well for ligatures (completely missing from RustType).

[2019-03-03 12:13] KiChjang opened #22960 "Intermittent crash of /webvr/webvr-enabled-on-self-origin-by-feature-policy.https.sub.html"
[code]

[2019-03-03 14:12] #22882 closed

[2019-03-03 15:30] jdm commented on #22955
Observed in /webvr/webvr-enabled-on-self-origin-by-feature-policy.https.sub.html.

[2019-03-03 15:30] jdm commented on #22960
Adding this to the list in #22955.

[2019-03-03 15:30] #22960 closed

[2019-03-03 16:44] #22301 closed

[2019-03-03 17:27] jdm opened #22962 "Simplify VideoTrackList::set_selected"
It ends with several conditional calls to dispatch a change event. It should be possible to simplify the logic so we 1) deselect any currently selected track, 2) select the new track if `value` is true, 3) then dispatch the change event unconditionally.

Code: `components/script/dom/videotracklist.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elemen

[2019-03-03 17:27] highfive commented on #22962
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-03 17:42] Goncalerta commented on #22962
@highfive: assign me

[2019-03-03 17:42] highfive commented on #22962
Hey @Goncalerta! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-03 19:48] 192-sean commented on #22359
For the ServoMedia new member muteables, are you thinking something like a vector of top level browser id and Rc<Muteable>.

[2019-03-03 21:16] KiChjang opened #22964 "Intermittent failure of /css/CSS2/positioning/abspos-016.xht"
[code]

[2019-03-03 21:19] jdm commented on #22964
Test:
<img width="336" alt="screen shot 2019-03-03 at 4 19 10 pm" src="https://user-images.githubusercontent.com/27658/53701954-19fcca80-3dd0-11e9-8101-145289365949.png">
Reference:
<img width="345" alt="screen shot 2019-03-03 at 4 19 26 pm" src="https://user-images.githubusercontent.com/27658/53701959-21bc6f00-3dd0-11e9-9b28-736960d4c988.png">

[2019-03-04 00:11] jdm opened #22965 "Make locked robots still accept thud/edge messages"
[code]

[2019-03-04 00:27] jdm commented on #22965
Wrong repository.

[2019-03-04 00:27] #22965 closed

[2019-03-04 09:41] ferjm commented on #22359
A `Vec` would work, but it'd probably be better to use a `HashMap` instead, so get operations are O(1).

[2019-03-04 14:18] jdm opened #22967 "Can we avoid the SERVO global in libsimpleservo?"
https://github.com/servo/servo/pull/22871#discussion_r256419789

More specifically, what was the motivation for introducing the global variable for the Android port?

cc @paulrouget

[2019-03-04 14:40] paulrouget commented on #22967
It was just easier than making the android port carry a pointer or something. But I'm happy to revisit that.

[2019-03-04 15:49] paulrouget commented on #21350
Fixed. Thanks a lot for your help @kvark

[2019-03-04 15:49] #21350 closed

[2019-03-04 18:13] asajeffrey opened #22969 "Lint to track "Panics" section of rustdoc?"
At the moment, we have an ad-hoc script which greps for function names that look like they'll cause panic. https://github.com/servo/servo/blob/master/etc/ci/check_no_panic.sh

A somewhat more principled approach would be a lint that checks functions for the `Panics` rustdoc section, and warns if it finds a function that a) calls a function with a `Panics` section of its docs, and b) doesn't have i

[2019-03-04 18:50] rohit-136 commented on #22016
@RichPC what command did you use exactly? My build also fails at exactly the same point

[2019-03-04 20:14] #22065 closed

[2019-03-04 22:33] jdm commented on #22508
We're also not running the upstream unit tests.

[2019-03-05 03:24] rohit-136 commented on #21970
@robert-snakard How did you build it from source? Did you type in all the commands given in the link or if not, then which all commands are needed?

[2019-03-05 03:28] kamal-umudlu commented on #22853
Hi,
Currently I am working on this bug. Please correct me if I am wrong. After my fix, fullscreen-region-content-001.html should go to the full screen and exit from full screen mode by pressing esc. Is that all I need to fix for this bug?

[2019-03-05 04:21] robert-snakard commented on #21970
I just built from the master branch and it worked fine. So do everything as instructed  but you don't need to do the $BRANCH_NAME line. I also ran into some problems with orc so I didn't use it.

[2019-03-05 04:24] rohit-136 commented on #21970
@robert-snakard So did you just implement the steps no 1,2 and 3 along with their dependencies ?

[2019-03-05 05:43] kamal-umudlu commented on #22853
I tried to pass get_primary_monitor() in Some value under get_allow_fullscreen() but it looks like there is no window.get_primary_monitor() function in windows.rs file.

I am new in this project maybe I am wrong. Could you please give a little clarification about issue?
Thanks )

[2019-03-05 08:09] paulrouget opened #22970 "prefs.json: swap prefs before building"
As of now, we swap the preferences during `mach package`. libsimpleservo reads prefs.json at compile time. So it should be done before building.

[2019-03-05 08:41] robert-snakard commented on #21970
Umm maybe? I don't remember the steps. But install the dependencies, then the autogenerated script, then do `make` to compile and `make install` to install for all of them. Should work

[2019-03-05 09:01] paulrouget opened #22971 "Help with WR update (layout)"
Updating WR requires 2 changes:

- semantic of viewport
- layout changes

The viewport changes were no problem. For the layout changes, I have no idea what I'm doing :)

See https://github.com/servo/servo/compare/master...paulrouget:wrupdate

[2019-03-05 09:11] paulrouget commented on #22971
[code]

[2019-03-05 09:36] coedycode commented on #22016
@rohit-136 sorry, can't remember now it's too long ago and it's not in my bash history. It was probably

`sudo apt uninstall gir1.2-gst-plugins-bad-1.0`

my system currently has gstreamer1.0 not sure if it was at that version back then.

[2019-03-05 13:59] jdm commented on #22970
Sounds like we should add cargo metadata to rebuild if the pref files change, as well.

[2019-03-05 14:13] RazrFalcon opened #22972 "selectors::Element without borrowed types"
Currently, `selectors::Element` defines two methods that require borrowed data: `local_name` and `namespace`.

The problem is that a usual rc-tree unable to produce a reference that will live long enough. The `kuchiki` crate uses the `NodeDataRef` hack that involves `unsafe`, which is unacceptable in my case.

Can those methods be replaced with something like `has_local_name` and `has_namespace`?

[2019-03-05 14:31] SimonSapin commented on #22972
I think `NodeDataRef` uses the same technique as https://crates.io/crates/owning_ref. Would that be more acceptable?

@emilio, any thoughts on this? I think originally we had accessors rather than boolean testing in order to support hash maps indexed by local named, ID, class, etc. But those have since moved out of the `selectors` crate to Servo’s and Firefox `style` crate.

[2019-03-05 14:48] asajeffrey commented on #22969
On irc, @lqd points out  https://github.com/dtolnay/no-panic: https://mozilla.logbot.info/servo/20190305#c16044765

[2019-03-05 14:50] asajeffrey commented on #22969
The no-panic crate works after monomorphization, so can deal with generic functions (at the cost of working at link time rather than compile time).

[2019-03-05 15:45] RazrFalcon commented on #22972
Should I use `owning_ref` for Node itself or for `BorrowedLocalName`? Because it doesn't work in both cases (kinda).

[2019-03-05 16:20] nox commented on #22790
Given we are not ever supposed to wait on that lock (right?), shouldn't we be using `AtomicRefCell<T>` instead?

[2019-03-05 16:25] #22971 closed

[2019-03-05 16:44] pcwalton commented on #22790
Probably, yeah.

[2019-03-05 18:05] jdm commented on #22853
Sorry, I should have been more specific about the code I was looking at:
* https://github.com/servo/servo/blob/cc131be2e0f48924ffc8cdfc017fc23c361f1140/ports/servo/glutin_app/window.rs#L326
* https://github.com/servo/servo/blob/cc131be2e0f48924ffc8cdfc017fc23c361f1140/components/script/dom/document.rs#L3228

[2019-03-05 18:20] jdm commented on #22783
a)
* The source parameter is another way of representing the `not trusted` flag, since [this use](https://html.spec.whatwg.org/multipage/interaction.html#activation:fire-a-synthetic-mouse-event) passes it and [this use](https://html.spec.whatwg.org/multipage/webappapis.html#event-firing:fire-a-synthetic-mouse-event) does not
* It looks like steps 1-2 are not necessary; step 3 will become part of t

[2019-03-05 18:39] kamal-umudlu commented on #22853
Hi Josh,
So I have changed code to window.set_fullscreen(Some(window.get_primary_monitor())); and build the project to see my changes in fullscreen-region-content-001.html. After my change, when I press "Go full screen" button the whole window (not only video part) goes to full screen mode and I can't exit from fullscreen mode by pressing "ESC" button.

Is there any way to make only video to becom

[2019-03-05 18:48] jdm commented on #22853
Our existing fullscreen support (inside of a window, rather than actually making the window fullscreen) is supposed to do what you describe. Have you tried https://www.joshmatthews.net/webgl2.html?

[2019-03-05 18:48] jdm commented on #22853
As for leaving fullscreen, I would expect fixing the code in document.rs to avoid that problem.

[2019-03-05 19:08] jdm commented on #22782
Oh, right. That makes sense, because there is no code in htmlanchorelement.rs to recognize key events and act on them.

That being said, I just tested Firefox and Chrome, and they don't actually invoke links on space, so we should not deviate from their behaviour. However, they do activate a `<button>` element on space, so we should make sure we still support that.

[2019-03-05 19:09] jdm commented on #22782
I think the right choice may be to add custom handle_event implementations for elements like `<button>` that should recognize both space and enter: https://searchfox.org/mozilla-central/rev/3e0f1d95fcf8832413457e3bec802113bdd1f8e8/dom/html/HTMLButtonElement.cpp#233-251

That will allow us to write automated tests that verify that property.

[2019-03-05 19:45] SimonSapin commented on #22972
Oh sorry I misremembered. `Element::local_name` returns `&Something` (because of lack of generic associated types), so `OwningRef` likely won’t help there.

Is the problem that you have entire nodes inside a bug `RefCell`, which needs to stay borrowed while the local name is accessed? In that case what Kuchiki does different that’s relevant is not `NodeDataRef`, but rather having some components o

[2019-03-05 19:53] RazrFalcon commented on #22972
Yes, the usual `Rc<RefCell<T>>` mantra based on [rctree](https://github.com/RazrFalcon/rctree). So for my use case `has_*` methods are preferred.

And since there are no other CSS parsers, I have to find at least some solution. So any suggestions are welcome.

[2019-03-05 20:01] kamal-umudlu commented on #22853
Yeah I understood fullscreen support and also tried [](https://www.joshmatthews.net/webgl2.html). I was expecting the same behaviour from fullscreen-region-content-001.html but maybe I am missing something that doesn't make video element to become full size.

My expectation was after passing window.set_fullscreen(Some(window.get_primary_monitor())), it will get video element and make it full scree

[2019-03-05 20:05] jdm commented on #22853
That may be related to #22358. We have observed fullscreen support for videos in particular not working.

[2019-03-05 20:11] kamal-umudlu commented on #22853
Under #22358 , it says issue may be relevant to this issue. That is why I thought maybe my fix also needs to fix #22358 . Am I wrong?

[2019-03-05 20:14] jdm commented on #22853
I wouldn't expect the changes for this issue to affect #22358.

[2019-03-05 20:46] kamal-umudlu commented on #22853
Oh sure. Is there any other fix I need to do other than passing monitor_id and changing SetFullscreenState to true in exit_fullscreen?

[2019-03-05 20:47] jdm commented on #22853
If those make the window enter fullscreen mode and leave it, then no :)

[2019-03-05 21:09] kamal-umudlu commented on #22853
The only issue I have right now is when I press "ESC" keyboard button, it close the whole servo app (doesn't make difference if it is in fullscreen mode or not). Is it also issue that I need to fix? If yes, is there any way to map "ESC" button to exit_fullscreen() function?

[2019-03-05 21:26] #22795 closed

[2019-03-05 22:22] jdm commented on #22853
Ooh, that's a very good point. So, the decision to quit Servo happens in handle_key_from_window in ports/servo/browser.rs. This is called before web content is allowed to handle it; I think we should add a check for whether `self.window` is currently fullscreen and send a message to the constellation to exit fullscreen (which will get passed to the appropriate script thread and invoke `document.ex

[2019-03-05 22:41] emilio commented on #22972
has_local_name seems fine, but you need something else to deal with nth-of-type (has_same_local_name_as?). It seems a bit unfortunate though.

[2019-03-05 22:56] kamal-umudlu commented on #22853
Sure I can try :)

But the only thing I just need to make sure is it is feasible to fix it until Friday noon.
I just need the steps that I can follow and I also have couple questions.

1. If the window is not in fullscreen mode, should it quit from the app when "ESC" button is pressed?

2. How I can send a message to the constellation? Do I have to add a script like WindowEvent::ExitFullScreen in

[2019-03-05 23:12] jdm commented on #22853
1. Yes.
2. You will need to add a new WindowEvent value, then handle it in `handle_window_event` in `components/servo/lib.rs` by sending a new ConstellationMsg value like `WindowEvent::LoadUrl` does. This new value will be handled by `handle_request_from_compositor` in `components/constellation/constellation.rs`, and it will send a new `ConstellationControlMsg` value to the script thread. You can

[2019-03-05 23:21] kamal-umudlu commented on #22853
Thanks :)

I will do my best and will let you know if I have any question.

[2019-03-06 00:47] kamal-umudlu commented on #22853
Is there any public getter function to check whether self.window is in fullscreen mode or not?

[2019-03-06 01:57] jdm commented on #22853
Actually it looks like you can check `self.fullscreen` instead.

[2019-03-06 02:10] kamal-umudlu commented on #22853
oh I thought it is a private value, if it is public value then it is fine :)

[2019-03-06 03:41] davidweitzenfeld commented on #21254
@highfive: assign me

[2019-03-06 03:41] highfive commented on #21254
Hey @davidweitzenfeld! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-06 06:10] shanavas786 commented on #22957
@highfive assign me

[2019-03-06 06:10] highfive commented on #22957
Hey @shanavas786! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-06 07:01] kamal-umudlu commented on #22853
Update

I have tried to use self.window.fulscreen, but it seems like it is private value. So, I can't actually use self.window.fullscreen :(

I am actually so close to the fix, but don't know If I should add getter function for fullscreen value.

[2019-03-06 12:41] shanavas786 commented on #22957
After adding `pathfinder_gl = {git = "https://github.com/pcwalton/pathfinder", branch = "pf3"}` to `Cargo.toml` for canvas, `match build -d` fails.

[code]
But cargo successfully builds `pf3` branch in `pathfinder` repo with the same toolchain.

Am i missing something ?

[2019-03-06 12:42] jdm commented on #22853
Like I said, self.fullscreen instead of self.window.

[2019-03-06 12:46] jdm commented on #22957
Try runny ng `cargo update -p png`?

[2019-03-06 13:55] jdm opened #22975 "Decal demo perf is not great on MagicLeap"

[2019-03-06 14:20] kamal-umudlu commented on #22853
So I was saying in browser.rs file, is there any way to access fullscreen state? I have tried self.fullscreen  too but it says there is no field. Is there way to get state of fullscreen in browser.rs?

[2019-03-06 14:23] kamal-umudlu commented on #22853
`.shortcut(Modifiers::empty(), Key::Escape, || {
                let state = **self.fullscreen**;
                if state {
                    if let Some(id) = self.browser_id {
                        let event = WindowEvent::ExitFullScreen(id);
                        self.event_queue.push(event);
                    }
                } else {
                    self.event_queue.push(WindowE

[2019-03-06 14:52] jdm commented on #22975
It gets ~40fps in Helio, and in Servo I was seeing ~10fps.

[2019-03-06 14:53] jdm commented on #22853
Oh, I'm sorry. I kept mixing up which file we were talking about. Yes, go ahead and add a public getter to Window that returns self.fullscreen.

[2019-03-06 14:58] jdm opened #22976 "Make profiling on embedded devices easy"
For Android-based devices, I propose we send the result of profiling over a TCP socket which can be forwarded via adb/mldb.

[2019-03-06 14:58] highfive commented on #22976
cc @fitzgen

[2019-03-06 15:35] jdm opened #22977 "Inactive pages in session history with webgl content keep running"
For example, if you visit https://threejs.org/examples/, choose a demo, watch it for a bit, then go backwards in history, the console output shows that the page is still executing.  At minimum we should not be sending triggering rAF callbacks on pages that are not displaying to the user; possibly we should take even more drastic steps in order to conserve resources (such as automatically discardin

[2019-03-06 15:36] jdm commented on #22977
This can make the ML demos look worse if you look at several in a row.

[2019-03-06 15:42] peterjoel commented on #22854
Couldn't `opts` just be a non-persistent `prefs` override?

[2019-03-06 15:52] jdm commented on #22854
I'm not sure I understand what you're suggesting. Do you have an example?

[2019-03-06 16:03] peterjoel commented on #22854
I am suggesting that all CLI arguments would actually set a preference, which would not be persisted. Instead of accessing `opts`, any configurable code would just access `prefs`. The actual value would be evaluated in ascending order of precedence: `prefs.json`, user preferences, CLI argument.

[2019-03-06 16:06] jdm opened #22978 "Prevent building with busted xcode tools"
We know that a particular version of xcode that is available with MacOS Mojave contains a bug that prevents linking Servo. We should detect that and tell users attempting to build Servo with that XCode version that they need to update.

It might be possible to use `xcode-select --version` to detect this. On a system with a busted version, the output is `2354`. On my system which is pre-Mojave is i

[2019-03-06 16:09] jdm commented on #22363
@collares Have you made any progress? Do you have any questions?

[2019-03-06 16:14] jdm commented on #22854
Ah, I see. The advantage of keeping the command line arguments separate from preferences is that the arguments are not mutable. This is one reason why it's safe to remove access to the global arguments storage and pass the values directly to the code that uses them, allowing us to remove dependencies.

[2019-03-06 16:18] jdm opened #22979 "Automatically verify that ORGANIZATION.md reflects the actual structure of the project"
It would be great to have a lint that's part of `./mach test-tidy` which reads the contents of docs/ORGANIZATION.md, then walks all directories in the project, and warns if the project structure does not match what is documented.

Code: `python/tidy/servo_tidy/tidy.py`

[2019-03-06 16:18] pradyunsg commented on #22979
Dibs!

Thanks for the name of the file. :)

[2019-03-06 16:20] jdm commented on #22978
@paulrouget What does `xcode-select --version` show on a system with the xcode beta installed?

[2019-03-06 16:23] pradyunsg commented on #9616
virtualenv has fixed this. Is this still a problem for servo?

[2019-03-06 16:23] peterjoel commented on #22854
@jdm It's not ideal then that _some_ opts are actually duplicated as (mutable) prefs, so you _could_ get a different value for `layout.threads`, depending on if you access it via `opts` or `prefs`.

[2019-03-06 16:27] jdm commented on #22854
That's true! Anything that is duplicated should be removed from the immutable options structure and any users changed to use the preference.

[2019-03-06 16:28] jdm commented on #22854
With the caveat that using the command line option should mutate the preference.

[2019-03-06 16:31] jdm commented on #9616
Ooh, sounds like we should update the version of virtualenv we rely on.

[2019-03-06 16:37] kamal-umudlu commented on #22853
I added getter function and now I can get self.fulscreen value. Right now I don't have any compile error and I have tested my code on fullscreen-region-content-002.html. But it is not actually changing fullscreen mode when I pressed ESC button.

So my guess is, I am missing something in script_thread.rs file.

This is the code I added to script_thread.rs file. Am I missing something here?

[code]

[2019-03-06 16:45] peterjoel commented on #22854
Rather than replace all instances of `opts` with dependency injection, another approach is to split opts into two levels: globals (which should change infrequently) and crate-level options (which can develop alongside the features of the crate itself). For example, `bluetooth` only uses one option: `headless`, which is global. `compositing` uses some globals (`exit_after_load` maybe?), but also mo

[2019-03-06 16:46] pradyunsg commented on #22978
The check has to be added in this file, or is there a better place?

https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L200

[2019-03-06 16:49] jdm commented on #22854
You say headless is global, but it's only used by 3 crates (or 5 modules). I guess I don't see a big benefit to continuing to expose a set of global options, given how restricted their use generally is.

[2019-03-06 16:57] jdm commented on #20748
Fixed by defaulting that pref to true.

[2019-03-06 16:57] #20748 closed

[2019-03-06 17:02] jdm commented on #22978
Yes, that seems fine to me. We have similar checks for known-broken configurations at https://github.com/servo/servo/blob/55347aa39f272b5b3fc7ede6403f70aa49d31ce1/python/servo/build_commands.py#L215-L218.

[2019-03-06 17:03] peterjoel commented on #22854
Ok, that's fair.

[2019-03-06 17:04] jdm commented on #22853
That seems reasonable. Have you tried using a debugger or adding println! statements to make sure the new code is being executed?

[2019-03-06 17:13] asajeffrey opened #22980 "Enabling pathfinder causes font rendering glitches"
Enabling pathfinder with:
[code]
causes font rendering glitches, e.g. glyphs replaced by yellow rectangles:

<img width="1058" alt="screen shot 2019-03-06 at 10 41 39 am" src="https://user-images.githubusercontent.com/403333/53899747-85c57a00-4000-11e9-9be5-97a69f77109e.png">

or by glyphs from other fonts:

<img width="1047" alt="screen shot 2019-03-06 at 11 00 45 am" src="https://user-images.git

[2019-03-06 17:13] asajeffrey commented on #22980
cc @pcwalton and @glennw.

[2019-03-06 17:20] kamal-umudlu commented on #22853
I am trying now. Just one quick question. After adding println statements, do I have to build project again?

[2019-03-06 17:30] jdm commented on #22853
Yes.

[2019-03-06 17:40] aditj commented on #22783
a) I am gonna use the not_trusted flag in that case since that would be more clear and in compliance.
c) So I don't need to make a getModifierState() method for MouseEvent ?

[2019-03-06 17:42] kamal-umudlu commented on #22853
So yeah I added println statements and seems like the new code is being executed. But in document.exit_fullscreen() function, after executing let promise = Promise::new(global.r()); it is crashing

[2019-03-06 18:30] jdm commented on #22853
When I search the code (using grep or ack, for example) I see `unbind_from_tree` in element.rs, which is executed when an element is removed from a document (like with `node.remove()` in JS). I suspect that adding this code before calling exit_fullscreen will make the crash go away:
[code]

[2019-03-06 18:33] jdm opened #22982 "Promise::new crashes if no compartment has been entered"
This sucks, because if the code that calls Promise::new is invoked via some DOM API from JS, it works fine. If it's invoked from code that runs directly from an message from the event loop, it is not, since we do not automatically enter any compartments in that case. It would be very helpful to modify the API in such a way that the caller is forced to enter a compartment.

[2019-03-06 18:33] jdm commented on #22783
c) I do not believe so.

[2019-03-06 18:47] kamal-umudlu commented on #22853
Can I just add that code on my handler like this?

[code]

[2019-03-06 19:01] kamal-umudlu commented on #22853
I tested it. I think it worked :)

[2019-03-06 19:51] jdm opened #22983 "DuckDuckGo search box does not bring up keyboard input on ML"
This may be a regression from #22871.

[2019-03-06 19:53] jdm opened #22984 "Trying to select letters in the ML keyboard UI is sometimes overwritten by new URLs being loaded"
I'm not sure what's happening here; it seemed like the laser pointer was selecting links when I was in keyboard mode.

[2019-03-06 19:55] jdm opened #22985 "Impossible to adjust cursor location in url input on ML"
The touchpad is used for selecting characters, and there seems to be no way to adjust the current cursor input location inside the URL if you started at the wrong input location.

[2019-03-06 20:06] jdm opened #22986 "HTMLIframeElement.set_visible is unused"
This means that all of the checks around pipeline visibility in Servo are currently redundant, since set_visible is the only method that sends the constellation the SetVisible message.

[2019-03-06 20:08] asajeffrey commented on #22985
Yeah, the lack of cursor keys in the default keyboard is annoying.

[2019-03-06 20:11] jdm commented on #22986
The Pipeline struct does not even store any visibility state; notify_visibility just forwards that information to the compositor, but that's only called from the Pipeline constructor and the unused SetVisible message.

[2019-03-06 20:12] jdm commented on #22986
Visibility appears to be a property of the browsing context. That makes sense (like having a single foreground tab at a time), but that value is also never updated.

[2019-03-06 20:14] jdm commented on #22977
The compositor already checks for whether a pipeline is visible or not, so we just need to make #22986 more sensible to get this for free.

[2019-03-06 21:02] jdm opened #22987 "Going forwards in history to a webgl page panics"
STR:
1. load https://threejs.org/examples
2. choose the cloth example
3. watch it load
4. go back in history
5. go forward in history

Expected:
Cloth example continues running.

Actual:
[code]

[2019-03-06 21:05] jdm commented on #22987
In a release build I hit this assertion immediately when going back in history on macOS:
[code]

[2019-03-06 21:09] jdm opened #22988 "Debug servo build is intermittently unresponsive"
When I load https://threejs.org/examples in a debug servo build, often it works as expected. Once in a while it takes a _very_ long time before the hover styles start appearing under the mouse. There is no reported hang from the background hang monitor.

[2019-03-06 21:11] jdm commented on #20953
1286 is invalid framebuffer operation.

[2019-03-06 21:12] jdm commented on #20953
Usually that means that the framebuffer is not complete.

[2019-03-06 21:13] jdm commented on #20934
Looks like an invalid framebuffer error, so the framebuffer may not be complete.

[2019-03-06 21:13] jdm commented on #20930
Looks like an invalid framebuffer error, so the framebuffer may not be complete.

[2019-03-06 21:14] jdm commented on #22987
The patch I wrote for #22977 makes the assertion I just mentioned go away, which is the same as #20924.

[2019-03-06 21:15] jdm commented on #22987
Incorrect; I still reproduced it.

[2019-03-06 21:39] pcwalton commented on #22980
I don't know what's going on off the top of my head, but it looks like there's something wrong with the glyph atlas management.

[2019-03-06 21:48] jdm commented on #22987
The original assertion is triggered by a GC of an extraneous webgl context that's created at https://github.com/mrdoob/three.js/blob/63eca7a87695703e23ccce326f95ffba259e8e19/examples/js/WebGL.js#L13 and never used again.

[2019-03-06 22:02] jdm commented on #22987
Specifically, removing the GL context from `self.contexts` triggers the assertion. I suspect the Drop implementation for NativeGLContext is at fault on macOS.

[2019-03-07 01:27] CYBAI commented on #22978
I remember I'm using Xcode beta on macOS Mojave (10.14.3) but, unfortunately, I see `2354` from `xcode-select --version`. Not sure if I checked in the right way? 🤔

[code]

[2019-03-07 03:51] jdm commented on #22978
Humbug. What about `dsymutil --version`?

[2019-03-07 03:55] CYBAI commented on #22978
[code]

[2019-03-07 04:15] jdm commented on #22978
[code]
How about yours @pradyunsg?

[2019-03-07 04:35] jdm opened #22990 "Intermittent crash in /custom-elements/reactions/HTMLMediaElement.html"
When it passes:
[code]
When it crashes:
[code]

[2019-03-07 04:37] jdm opened #22991 "Intermittent error in /workers/constructors/Worker/Worker-constructor.html"
I suspect the worker is reporting an error and it's being propagated to the window's onerror handler, sometimes before onload and sometimes after.
[code]

[2019-03-07 05:33] pradyunsg commented on #22978
[code]

[2019-03-07 05:37] pradyunsg commented on #22978
Should I try adding homebrew's LLVM to the path? (it does seem insanely old)

[code]

[2019-03-07 06:12] jdm commented on #22978
No idea if that will work or not. The supported way is to install the xcode beta.

[2019-03-07 07:06] pradyunsg commented on #22978
I'll try after my paper today.

[2019-03-07 08:31] paulrouget commented on #22978
`xcode-select --version` shows `2354` with the beta.

`dsymutil --version` shows:

[code]

[2019-03-07 09:17] paulrouget opened #22993 "Do not use Glutin/Winit's icon_loading feature"
See https://github.com/tomaka/winit/issues/803#issuecomment-469938122 and https://github.com/servo/servo/pull/22973#issuecomment-469754272

[2019-03-07 15:01] aditj commented on #22783
@jdm About ActivationSource parameter v/s activation flag, which one would be better because the code base already uses the parameter a lot as is evident in the errors reported in the [error log](https://travis-ci.com/servo/servo/jobs/182994066#L2646-L2680) . I personally feel a flag should be used (since that would conform to the specs) but that would require changes in the aforementioned files.

[2019-03-07 15:02] jdm commented on #22988
Judging by RUST_LOG=script::scipt_thread, it spends a really long time processing a particular network response event.

[2019-03-07 15:08] jdm commented on #22988
It appears to be hanging while reflowing after the DOMContentLoaded event, with a layout that is taking a ridiculously long time.

[2019-03-07 15:11] jdm commented on #22988
Servo appears to be issuing a reflow after every single DOM node that is parsed. This is terrible!

[2019-03-07 15:28] jdm commented on #22988
Ok, there are a bunch of problems conspiring to make this really bad:
* we unnecessarily perform a synchronous reflow in Document::maybe_dispatch_dom_content_loaded
* the page is using the innerHTML setter, which creates a document fragment and a new document which has a pointer to the original element's window
* the page uses innerHTML on every single link in the list of examples

Taken together

[2019-03-07 15:36] jdm commented on #22783
I think it makes sense to match the specification and use the trusted flag instead. And yes, click is trusted.

[2019-03-07 15:41] jdm opened #22994 "Don't update dom_content_loaded_event_end until the event has fired"
The call to `update_with_current_time_ms(&self.dom_content_loaded_event_end);` happens after this code:
[code]
That only queues a task to fire the event later, so the time we record does not reflect when the event is actually fired. We should use `queue` with a custom callback that fires the event and updates the time instead.

Code: `components/script/dom/document.rs`

[2019-03-07 15:41] jdm commented on #11518
Dup of #22994.

[2019-03-07 15:41] #11518 closed

[2019-03-07 15:58] jdm commented on #22987
Dropping the GLContext drops the DrawBuffer, but if the context is not actually current we end up deleting framebuffers and renderbuffers for an inactive context. That's no good!

[2019-03-07 16:17] pradyunsg commented on #22978
Alrighty then, starting an ~7 hour download then. :)

[2019-03-07 16:42] asajeffrey commented on #22988
Possibly related? #22926

This sometimes shows itself in the log as a network hang, but it's actually waiting for window events.

[2019-03-07 16:55] jdm commented on #22988
This issue reflects a particular edge case involved lots of uses of innerHTML during initial document load. I wouldn't assume too broad an impact.

[2019-03-07 20:29] jdm opened #22996 "Traversing iframe history does not update iframe contents"
I have a testcase demonstrating that calling contentWindow.history.back() with valid session history does not cause an iframe's contentWindow to be updated correctly, nor do the displayed contents of the iframe change.

[2019-03-07 20:56] jdm opened #22997 "XMLSerializer interface is missing"
This prevents running the Ammo.lab demos from http://lo-th.github.io/Ammo.lab/.

Spec: https://w3c.github.io/DOM-Parsing/#the-xmlserializer-interface
Tests: `./mach test-wpt tests/wpt/web-platform-tests/domparsing`

[2019-03-07 21:18] jdm commented on #22996
We appear to be missing any session history updates from [this code](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L2254-L2277) versus [this code](https://github.com/servo/servo/blob/defc1763330514dbf87509e0bd04702a3f875350/components/constellation/constellation.rs#L2300-L2328).

[2019-03-07 21:20] jdm commented on #22996
Nevermind, the corresponding code exists in handle_script_loaded_url_in_iframe_msg.

[2019-03-07 22:09] jdm commented on #22996
So, this does not work:
[code]
But this does:
[code]
This is because when HTMLIframeElement::process_the_iframe_attributes runs, it checks `document.is_completely_loaded()` to decide whether to start a replacement load or not. The extra trip through the event loop gives the document time to be marked as fully loaded.

[2019-03-07 22:16] jdm commented on #22996
I think that check might be relying on the wrong document - [the spec](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-iframe-element:completely-loaded) refers to the active document of the nested browsing context, but the code is checking the iframe element's document.

[2019-03-07 23:11] jdm opened #22998 "Multiple webgl canvases end up sharing the same texture"
If I have a canvas with a webgl context that is completely unused, it ends up displaying the same frame data as another canvas with a canvas that does get used.

[2019-03-08 00:12] jdm commented on #22986
The changes in #23000 mean that we should be able to remove this method.

[2019-03-08 00:12] highfive commented on #22986
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-08 00:12] jdm commented on #22986
Code: `components/script/dom/htmliframeelement.rs`

If the build succeeds, that's good enough for a pull request.

[2019-03-08 00:26] jdm commented on #22986
This can also remove the SetVisible message, as well as the code that handles it in components/constellation/constellation.rs.

[2019-03-08 03:31] #22996 closed

[2019-03-08 04:11] gterzian commented on #22845
The relevant test is at https://github.com/servo/servo/blob/ac3c002138cb2b2ebeaf840436d7022d4bb72ffc/tests/wpt/web-platform-tests/html/semantics/links/links-created-by-a-and-area-elements/target_blank_implicit_noopener.html

and can be run with `./mach test-wpt /html/semantics/links/links-created-by-a-and-area-elements/target_blank_implicit_noopener.html`

Since it is currently set to `FAIL` at ht

[2019-03-08 13:13] shanavas786 commented on #22957
it didn't help

[code]

[2019-03-08 15:12] JacksonCoder commented on #22854
@jdm I've finally gotten around to getting this fixed. Just to be clear, should the goal be to pass the arguments we're using inside different modules to their constructors, and then storing it within that struct? Or is there a more idiomatic way to do it?

[2019-03-08 16:37] jdm commented on #22854
Yes, store the values in places where they can be accessed when they need to be, or take them as arguments for any code that uses them at initialization only.

[2019-03-08 16:57] #20934 closed

[2019-03-08 16:57] #22977 closed

[2019-03-08 16:57] #22987 closed

[2019-03-08 16:57] #20924 closed

[2019-03-08 16:57] #20930 closed

[2019-03-08 16:57] #20950 closed

[2019-03-08 16:57] #20953 closed

[2019-03-08 18:16] jdm opened #23003 "Intermittent failure in /html/semantics/forms/form-submission-0/form-submission-algorithm.html"
[code]

[2019-03-08 19:37] #22988 closed

[2019-03-08 21:33] kamal-umudlu commented on #22853
Hi Josh. I have one more last question :)

Should I create two different Pull Requests for one fixing issue #22853 and the second for adding `ESC` button that make Servo exit full screen mode? Or should i just do one PR that covers both patches?

[2019-03-08 22:05] jdm commented on #22853
One PR for both commits is fine.

[2019-03-09 03:36] fabricedesre commented on #22986
Should that be used to trigger the `visibilitychange` event?

[2019-03-09 06:46] meecoffee opened #23005 "if android servo nightly apk link not update anymore"
still version 1.00

[2019-03-09 12:58] aditj commented on #22619
Hey @jdm I was looking at the issue, have you figured out why this is being caused? Why is a [new session](https://github.com/servo/servo/blob/db29cb01b0450c29d0ac45c6de2819a4f87e400a/tests/wpt/web-platform-tests/tools/webdriver/webdriver/client.py#L421) being created when a session already exists?
Is this because [this check](https://github.com/servo/servo/blob/db29cb01b0450c29d0ac45c6de2819a4f87

[2019-03-09 13:11] jdm commented on #22619
I have not figured out why yet. I believe it should be possible to add support for multiple sessions to the server, though.

[2019-03-09 13:17] AZWN commented on #22986
@highfive: assign me

[2019-03-09 13:17] highfive commented on #22986
Hey @AZWN! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-10 01:26] jdm opened #23009 "Separate command line option parsing into global and embedding-specific options"
Right now there are global options like `--disable-vsync`, `--headless`, `--multiprocess`, and the forthcoming `--angle` that set fields in the global `Options` structure, but are only used by the Glutin embedding for desktop builds. It would be nice to remove backend-specific options from the global set of engine options. Instead of the current `from_cmdline_args` API which creates an `Options` v

[2019-03-10 07:32] jdm commented on #22862
@ksavinash9 Have you made any progress? Are you still working on this?

[2019-03-10 07:34] jdm commented on #22516
@maxheyer Are you still working on this? Have you made any progress?

[2019-03-10 07:36] jdm commented on #19959
servo/servo-warc-tests#37 is fixed.

[2019-03-10 07:36] #19959 closed

[2019-03-10 08:30] dboyan commented on #22869
I have written a prototype of tokenizer: https://github.com/dboyan/servo/tree/open-feature-tokenize. Passes all but one subtests in noopener tokenizer test. Advice is welcomed, since I'm new to Rust and Servo.

After finishing up the tokenizer, noreferrer support shouldn't be very hard.

[2019-03-10 08:47] championshuttler commented on #22862
Hi Can I take this up if @ksavinash9 is not working?

[2019-03-10 11:17] himanish-star commented on #22828
@jdm as per our discussion in the mail, can I be assigned this issue :)

[2019-03-10 14:48] CYBAI commented on #22828
@himanish-star I believe you can go ahead because this is not assigned now! :)

[2019-03-10 19:59] flofriday commented on #22344
Also on macOS, I can only move the cursor one position back.
I tested it with this command `./mach run -d 'data:text/html,<input value="hello">'`.

[2019-03-10 20:58] maxheyer commented on #22516
@jdm It's not possible to compile servo on my 16GB strong Macbook. You should take this issue from me. Thanks for asking!

[2019-03-10 21:17] blairmacintyre opened #23012 "instanceof error in page"
While trying to run the demo at https://argonjs.github.io/three-web-layer/ on servo for mac, I got a bunch of these errors:

ERROR 2019-03-10T19:42:56Z: script::dom::bindings::error: Error at https://argonjs.github.io/three-web-layer/app.c61986b1.js:5:4695 invalid 'instanceof' operand d(...).SVGElement

@asajeffrey suggested I post an issue.

[2019-03-10 23:13] jdm commented on #23012
This is caused by us not implementing the SVGElement DOM interface (since we have no SVG support), so any code using `instanceof SVGElement` fails.

[2019-03-10 23:43] flofriday commented on #22580
#22367 seems to got implemented, since this issue got opened.

However, servo still panics when loading `https://midi.city/`.
Should [this](https://github.com/servo/media/blob/master/audio/src/param.rs#L318) still be converted into a `warn` or `println`?

[2019-03-10 23:48] jdm commented on #22580
@flofriday Good catch! That code should return the tick value from CancelScheduledValues: https://doc.servo.org/servo_media_audio/param/enum.AutomationEvent.html#variant.CancelScheduledValues

[2019-03-11 01:09] CYBAI commented on #22869
Due to @dboyan opening the PR, I'm going to add `C-assigned` for this issue.

[2019-03-11 02:57] 192-sean commented on #22359
muteables: HashMap<clientContextId, Rc<Muteable>>;
I am using this data structure but having two problems.
First clientContextId has multiple values so maybe Rc<Vec<Muteable>>.
Second I can't call method mute() on a reference so should I use RefCell?

[2019-03-11 11:33] SimonSapin commented on #22972
As far as I can tell the only three possible resolutions here are:

* Replace `local_name` with `has_local_name` and `same_local_name_as`. I agree feels awkward, but it might the only way that doesn’t involve distruptive changes to other code or unknown time delays.

* Restructure `rctree` to remove the One Big `RefCell`. Instead, make it more like Kuchiki and have each link to other nodes in indi

[2019-03-11 14:24] blairmacintyre commented on #23012
Right, thanks.  I think this is something deep in the HTML2Canvas package, which is checking if there's SVG Elements so it can handle them (even if there aren't SVG elements).

Not sure what to do about this.

[2019-03-11 14:30] pngai commented on #22516
@highfive assign me

[2019-03-11 14:30] highfive commented on #22516
Hey @pngai! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-11 14:59] blairmacintyre commented on #23012
Ok, for fun, we added
[code]
to the app, which stopped these crashes, but now html2canvas is throwing errors because `canvas2d.fillText` isn't implemented.

[2019-03-11 16:32] #22962 closed

[2019-03-11 17:52] #22792 closed

[2019-03-11 17:52] jdm commented on #22957
Sorry for the delay. This is caused by a mistake in the png crate, where they rely on a feature from the `deflate` crate that was introduced in a version more recent than the one listed in their Cargo.toml. Running `cargo update -p deflate` fixes the problem.

[2019-03-11 17:57] jdm commented on #22957
I filed https://github.com/PistonDevelopers/image-png/pull/106 upstream to fix it.

[2019-03-11 19:40] ejmg commented on #18439
Fairly sure I have hit upon the same bug and have found a consistent way to reproduce it. By total chance, here is what I did to reproduce this bug (and continue to do so):

1. Run `./mach run https://google.com`
2. look up "wu tang clan"
3. click on the wikipedia entry
4. wait for it to crash

I'm fairly sure this workflow reproduces for just about anything. Doing the steps above but searching fo

[2019-03-11 19:58] jdm commented on #18439
Ok, I think this assertion is misguided and not helping at all. We should make the Drop implementation for LoadBlocker do an `if let` check on `self.load.take()`, and call `self.doc.finish_load` if there is a load present.

[2019-03-11 19:58] highfive commented on #18439
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-11 19:58] jdm commented on #18439
Code: `components/script/dom/document_loader.rs`

[2019-03-11 19:59] ejmg commented on #18439
@highfive: assign me

[2019-03-11 19:59] highfive commented on #18439
Hey @ejmg! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-12 02:28] himanish-star commented on #22828
@CYBAI, sorry I just seemed to miss out on your comment,  starting right away :)

[2019-03-12 06:01] shanavas786 commented on #22957
:+1:

[2019-03-12 09:18] rkchilaka opened #23015 "Issue while building the code in mac os mojave"
./mach build -d

Exception: Your system's GStreamer libraries are out of date (we need at least 1.12). If you're unable to install them, let us know by filing a bug!

  File "/Users/ramakrishna.chilaka/Desktop/servo/python/servo/build_commands.py", line 303, in build
    env = self.build_env(target=target, is_build=True)
  File "/Users/ramakrishna.chilaka/Desktop/servo/python/servo/command_base.py

[2019-03-12 13:12] ferjm commented on #22359
Yes, we need a collection here, but since we don't care about the order, a `HashSet` might be a better fit in this case. Also we probably need a collection of `Rc<Muteable>`s, so I'd try with a `HashSet<Rc<Muteable>>`.

You should be able to call `mute()` on a trait object like `Rc<Muteable>`. And I don't think you need interior mutability here.

Feel free to open a PR with your work in progress p

[2019-03-12 19:46] ejmg commented on #18439
So I changed

[code]

to

[code]

Running through the steps I documented above a few times, I don't hit the error anymore. Clicking around to on links to other Wiki entries also doesn't seem to trigger a panic of any sort, let alone of the one described in this issue.

How would one go about implementing a test for this change?

[2019-03-12 20:16] ejmg commented on #18439
Correction: running it two more times made me hit the following error (stack elided):

[code]

Here is the [full log](https://gist.github.com/ejmg/e9da294e1e30c64bf0aaa4afc9c7be1f). Is this related to my edit?

[2019-03-12 22:50] jdm commented on #18439
Mmm, yes, the backtrace from that panic shows that it is caused by the change that I asked you to make:
[code]
This happens when the LoadBlocker is dropped during the final GC sweep of all of the JS objects when a ScriptThread is shutting down, which is why ScriptThread::mark_document_with_no_blocked_loads ends up unwrapping a None SCRIPT_THREAD_ROOT value.

[2019-03-12 22:55] jdm commented on #18439
It's possible that we should just use fewer unwrap calls in methods like mark_document_with_no_blocked_loads and silently ignore it if there's no script thread available any more.

[2019-03-13 03:36] ForsakenDurian commented on #22828
Good luck!

[2019-03-13 07:13] mk-tool commented on #11128
@MartyIX
Thanks. I encountered an error like below and I could fix under Ubuntu18.04.

[code]

[2019-03-13 07:58] shanavas786 commented on #22957
I think this is a bit heavier for me. It would be better if someone can mentor.

[2019-03-13 14:26] #22986 closed

[2019-03-13 16:16] ejmg commented on #18439
Here's what I've changed mark_document_no_blocked_loads() to:

[code]

[2019-03-13 16:36] jdm opened #23020 "Decision task for non-try pushes appears in servo-try"
Consider:
* https://treeherder.allizom.org/#/jobs?repo=servo-auto shows no decision tasks
* https://treeherder.allizom.org/#/jobs?repo=servo-try shows decision tasks for non-try PRs

This is caused by [these lines](https://github.com/servo/servo/blob/master/.taskcluster.yml#L62-L64) which don't handle the case where branch == "auto" or "master".

[2019-03-13 16:39] jdm commented on #23020
I think we actually want to invert the if condition - that will route all trychooser tasks to servo-try, and all other tasks to the appropriate servo-master or servo-auto route.

[2019-03-13 18:32] georgeroman commented on #22997
@highfive: assign me

[2019-03-13 18:32] highfive commented on #22997
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-13 18:35] collares commented on #22363
Thanks for the reminding me! I didn't get as much time to work on this as I expected, but I will go back to working on this issue next week. I would still like to work on this, but please do let me know if this is blocking other work (or if someone else is eager to work on this); I can unassign myself and pick some other bug later if that's the case.

[2019-03-13 19:03] jdm opened #23023 "Loading performance of cars example is very poor"
https://threejs.org/examples/webgl_materials_cars.html

[2019-03-13 19:05] jdm opened #23024 "Envmaps example doesn't respond to input"
The terminal output suggests that it may be swamped; it just keeps printing "script: waiting on layout"

[2019-03-13 19:10] KwanEsq opened #23025 "styleSheet.insertRule() doesn't treat the index argument as optional"
Which it is, as can be seen [in the spec](https://drafts.csswg.org/cssom/#the-cssstylesheet-interface). This changed in [April 2017](https://github.com/w3c/csswg-drafts/commit/7949d41a2d86107f8ad4624c055b4b0c9c28ad0d) ([bug 27384](https://www.w3.org/Bugs/Public/show_bug.cgi?id=27384)), no doubt after it was implemented in servo.  Though judging by the age of the personal site where I encountered t

[2019-03-13 19:19] jdm opened #23026 "Custom attributes billboards example is slow"
https://threejs.org/examples/webgl_custom_attributes_points3.html

It's about 12fps in servo. Helio pulls 20-25fps.

[2019-03-13 19:23] jdm opened #23027 "Make a page that lists the three.js examples in non-text link form"
There are two good reasons to reinvent https://threejs.org/examples/:
1. Lists of links are hard to click in Servo right now due to pointer jitter
2. Helio can't scroll the page

[2019-03-13 19:23] jdm commented on #23024
https://threejs.org/examples/webgl_materials_envmaps.html

[2019-03-13 19:24] jdm commented on #23024
[code]

[2019-03-13 19:31] KwanEsq opened #23028 "styleSheet.insertRule('@import url("<url>");', 0) crashes servo"
With "Expected a stylesheet loader for \@import".
Encountered while fixing #23025, had to annotate a wpt as `expected: CRASH`.
[Testcase](http://kwan.perix.co.uk/mozilla/insertImportRule.html)

[2019-03-13 19:54] jdm commented on #23028
[code]

[2019-03-13 19:54] #23020 closed

[2019-03-13 20:00] jdm opened #23030 "Subtraction underflow in cache range request"
https://my.panomoments.com/u/MomentCaptureStudio/m/fusterlandia?hideInfo=1

[code]

[2019-03-13 20:01] jdm opened #23031 "Unminification panics if can't create directories"
[code]

[2019-03-13 22:08] jdm opened #23032 "Remove blocking communication when promoting a memory-backed blob"
Blob::promote has one case where it blocks on receiving a response from the file manager thread where that is not necessary. When promoting a BlobImpl::Memory, it sends the blob information to the file manager thread and waits to receive the uuid for the newly promoted blob. Since the file manager thread just creates a random uuid and returns it in the case of success, we can invert this pattern -

[2019-03-13 22:08] highfive commented on #23032
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-14 03:48] jhwgh1968 commented on #22571
An update: I have been chipping away at this, slowly but surely. Once I get a patch upstreamed to bindgen, I will have a pair of Dockerfiles that build Servo for 32-bit Raspbian and 64-bit Arch Linux ARM, respectively.

I do have a question, though. As a local hack, I'm currently patching the workspace's Cargo.toml in order to force all bindgen uses to the new version across dependencies. How woul

[2019-03-14 04:01] jdm commented on #22571
That would require submitting changes to the various projects to update their Cargo.toml bindgen dependency.

[2019-03-14 04:04] atouchet opened #23034 "2019 roadmap update"
We're three months into 2019 now and [as the blog notes](https://blog.servo.org/2019/03/11/twis-126/) the roadmap hasn't been updated yet.

[2019-03-14 10:47] paulrouget opened #23035 "With recent version of WR, gfx-rs-gecko/1035611-1 test fails"
This is a follow-up of #22973.

[2019-03-14 11:31] pylbrecht commented on #19797
I had long forgotten this issue, but I remember being stuck at some point.

@jdm, do you still consider this an approachable issue for a servo starter like me or would another one be better suited? The issue looks kind of abandoned at the moment, so I'm unsure if it's still a good fit.

[2019-03-14 17:16] jdm opened #23037 "Cross-origin redirection during initial page load messes up origin checks"
https://www.joshmatthews.net/mlredir2.html has a 301 server redirect to https://threejs.org/examples/webgl_custom_attributes_points3.html. This yields a black screen and `SecurityError: The operation is insecure.`, while loading the threejs example directly yields a functioning webgl page. I suspect the underlying problem is that we create a script thread for the initial origin, then any redirecte

[2019-03-14 17:50] jdm commented on #23037
This happens even when clicking a cross-origin link to load the example. That's... very bad!

[2019-03-14 17:56] jdm opened #23038 "100% height on a page with only a iframe does not fill the page"
[code]

[2019-03-14 18:52] jdm commented on #23026
Interestingly this looks like it gets ~30fps on my Pixel 1.

[2019-03-14 20:43] #22516 closed

[2019-03-14 21:25] SimonSapin commented on #23038
Note that Firefox only applies the specified height in quicks mode. This might be a combination of:

* https://quirks.spec.whatwg.org/#the-html-element-fills-the-viewport-quirk
* https://quirks.spec.whatwg.org/#the-body-element-fills-the-html-element-quirk

In standards mode, https://drafts.csswg.org/css2/visudet.html#the-height-property applies:

In this test case is the implicit `<body>` element

[2019-03-15 01:12] miller-time commented on #23032
@highfive assign me

[2019-03-15 01:12] highfive commented on #23032
Hey @miller-time! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-15 03:40] FateXRebirth commented on #23015
same issue encounter, any solution?
I have upgraded my gstreamer version to 1.14.4 by typing "brew upgrade gstreamer"

[2019-03-15 06:20] janczer commented on #23015
I have the same problem. MacOS Mojave 10.14.3

[2019-03-15 06:39] CYBAI commented on #23015
I'm on macOS Mojave 10.14.3 with `gstreamer 1.14.4` and I can build Servo successfully.

[code]

[2019-03-15 06:54] gterzian commented on #20907
The tokenizer part is being done in https://github.com/servo/servo/pull/23011 by @dboyan so what remains for this issue is https://drafts.csswg.org/cssom-view/#set-up-browsing-context-features

[2019-03-15 06:59] gterzian opened #23040 "Set opener when existing browsing context is navigated as part of Window.open"
See step 16 of https://html.spec.whatwg.org/multipage/window-object.html#window-open-steps

I think we're currently only setting `opener` when we create a new auxiliary as part of [create_auxiliary_browsing_context](https://github.com/servo/servo/blob/bc03d321429799321be238067f11de4ca6c7e90f/components/script/dom/windowproxy.rs#L248), and we're not doing it when an existing BC is navigated as part

[2019-03-15 08:51] rkchilaka commented on #23015
I installed gstreamer libraries freshly through brew, they are of latest version.😄

[2019-03-15 14:50] #23030 closed

[2019-03-15 16:27] jdm opened #23041 "Make public embedding API for command line arguments easier to use"
Right now, libsimpleservo::init accepts an `Option<String>`, which is then parsed as JSON to extract a `Vec<String>` value. We should accept a `Vec<String>` value instead, and move the JSON parsing to the jniapi crate instead, which is the only embedding platform that has those particular constraints.

[2019-03-15 17:09] jdm opened #23042 "Video banners are slow to load"
https://www.nytimes.com/interactive/2019/arts/television/best-drama-series.html in a release build takes a really long time to display any of the video banners for the various tv shows.

[2019-03-15 17:29] ejmg commented on #23009
@highfive: assign me

[2019-03-15 17:29] highfive commented on #23009
Hey @ejmg! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-15 17:32] jdm opened #23043 "Page load response timing information gets ignored"
In `component/script/network_listener.rs` there is this code:
[code]
I've seen a bunch of logs that include top level page URLs, so we are apparently providing an incorrect initiator type somewhere.

[2019-03-15 17:41] highfive commented on #23043
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-15 17:42] jdm commented on #23043
Oh, I see - LayoutImageContext is returning the URL of the page, rather than the URL of the image being loaded. That's no good; we should store the URL as a member of LayoutImageContext so that we can return it.

Code: `components/script/layout_image.rs`
Test: run `RUST_LOG=script::network_listener ./mach run https://servo.org/ml-home/` and observe the warnings before and after the change.

[2019-03-16 01:42] c410-f3r commented on #23043
@highfive: assign me

[2019-03-16 01:42] highfive commented on #23043
Hey @c410-f3r! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-16 07:23] ydf opened #23047 "about Cache-Control immutable"
user wants to refresh the 'contents' rather than reloading everything , please remove Cache-Control: immutable ,  its no value.

link:
https://www.cnblogs.com/ziyunfei/p/6308652.html

[2019-03-16 13:22] nox commented on #19871
This was fixed by #19872.

[2019-03-16 13:22] #19871 closed

[2019-03-16 13:23] nox commented on #20090
This is indeed a result of #19872 but it exhibits an existing bug where we seem to be mutably borrowing stuff while JS is running. I will look into it next week.

[2019-03-16 21:59] chazanov opened #23050 "Compilation without GStreamer"
As GStreamer is a real hassle I would like to ask for the compilation option to compile without it.

[2019-03-16 22:01] chazanov commented on #22403
I am strictly against this. GStreamer was buggy, is still a hassle and has way too many dependencies.

[2019-03-17 06:52] #23043 closed

[2019-03-18 04:22] CYBAI opened #23052 "Failed to open sync WPT upstream PR due to using wrong branch"
I just found sometimes we'll miss to open sync WPT upstream PRs.

After checking the logs on buildbot, I found it's caused by checking out to wrong branch.

For example, in [build 1010](https://build.servo.org/builders/mac-nightly/builds/1010/),

we created and switched to branch `wpt_update_16-03-2019` in [step fetch-and-update-expectations](https://build.servo.org/builders/mac-nightly/builds/101

[2019-03-18 15:34] jdm commented on #19797
@pylbrecht Oh dear. I remember adding your previous question to my list of things to investigate; I apologize for never returning to it. You're right that the script thread never receives the ExitScriptThread message; the message is definitely sent, but the main thread appears to terminate before the message is received by the script thread.

[2019-03-18 15:55] jdm commented on #19797
Ok, I have a new strategy to recommend (and I do believe it's still appropriate for a starter issue!):
* add a new field to Profiler which is a map from string (url) to u32
* add a new variant to ProfilerMsg which takes a string
* every time a layout query is blocked (per previous instructions), send this new message to the profiler
* when the profiler receives this new message, increase the appro

[2019-03-18 17:29] ejmg commented on #22955
Want to document what may be another case of this. Here is the [log](https://gist.github.com/ejmg/c74d2771450e42de80a9b04d42764150). Was experienced while testing #23021 by clicking through links on https://wutangclan.com/.

[code]

[2019-03-18 17:36] jdm opened #23053 "Layout queries on elements in disconnected frames panics"
[code]
When we remove an iframe, we shut down its browsing context and layout thread. Layout queries assume that the layout thread always exists, however.

[2019-03-18 17:36] jdm commented on #22955
I believe that's an example of #23053 instead.

[2019-03-18 17:40] ejmg commented on #22955
Ah, sorry about that. Should I just copy paste my reply above into that one?

[2019-03-18 17:41] hundredeir commented on #22994
@highfive : assign me

[2019-03-18 17:41] highfive commented on #22994
Hey @hundredeir! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-18 18:24] jdm commented on #22955
Sure!

[2019-03-18 19:44] jdm opened #23054 "Intermittent failure in /css/css-flexbox/quirks-auto-block-size-with-percentage-item.html"
[code]

[2019-03-18 19:56] jdm commented on #23050
This should be easy to accomplish in a few steps:
* update servo-media to a revision that includes https://github.com/servo/media/commit/a94a3b57ae5dbee9481fb98a1e2dd12e5303e8db (see ongoing work at #22944)
* add a Cargo feature to [the auto backend](https://github.com/servo/media/blob/master/backends/auto/Cargo.toml) which is used to enable the dummy backend
* add a Cargo feature to [the desktop

[2019-03-18 21:23] #18439 closed

[2019-03-18 22:42] #22846 closed

[2019-03-19 06:54] Axighi commented on #22580
If this issue is still open, @highfive: assign me

[2019-03-19 06:54] highfive commented on #22580
Hey @Axighi! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-19 07:36] CYBAI commented on #23052
It happened again today at [build 1012](https://build.servo.org/builders/mac-nightly/builds/1012/steps/shell__5/logs/stdio) 👀

[2019-03-19 09:10] pylbrecht commented on #19797
Great, then I'll dive right back into it! I'll keep you up to date on my progress.

[2019-03-19 09:47] Axighi opened #23056 "Build fails on macOS 10.14.3"
Cloned the repo.
Installed dependencies via
[code]
When trying to run `./mach build -d`, the following error shows up:
[code]
But gstreamer is installed, run `brew info gstreamer`:
[code]
rustup version: `1.17.0 (069c88ed6 2019-03-05)`

[2019-03-19 09:59] CYBAI commented on #23056
Thanks for reporting! but this is duplicate with #23015.
so, I'm going to close this one and please discuss there. 🙇

[2019-03-19 09:59] #23056 closed

[2019-03-19 10:48] CYBAI commented on #23015
How about checking with `pkg-config`?

[code]

[2019-03-19 15:04] ejmg commented on #23009
Is an essential aspect of this PR moving the option generating logic in `from_cmdline_arg()` into a helper function in `non_android_main.rs`?

I ask because throwing the option generating code straight into the main function of `non_android_main.rs`, before calling `from_cmdline_arg()`, seems undesirable.

[2019-03-19 15:14] jdm commented on #23009
We would only be moving the embedding-specific option generating logic into non_android_main.rs. A helper function might make sense for that.

[2019-03-19 15:26] jdm opened #23057 "Remove use of tinyfiledialogs from script code"
This is very similar to https://github.com/servo/servo/issues/20428 and https://github.com/servo/servo/issues/20429. Right now the DOM permissions code directly invokes the tinyfiledialogs library to create a permission UI. Instead, we should be sending a message to the embedder and making the embedding layer create the UI.

Code: `components/script/dom/permissions.rs`, `components/embedder_traits

[2019-03-19 16:55] georgeroman commented on #22619
I tried to replicate this error locally but instead of the `SessionNotCreatedException` here is what I've got:
[code]

[2019-03-19 17:04] jdm commented on #22619
It should be possible to reproduce by running `./mach test-wpt --processes 8 --headless --product=servodriver bluetooth`. We should file a separate issue for the `Illegal constructor` exceptions triggered by https://github.com/web-platform-tests/wpt/blob/e45bda7edddd2cffb4169efe2f61812537b09abd/bluetooth/resources/bluetooth-helpers.js#L177.

[2019-03-19 17:22] georgeroman opened #23059 "Illegal constructor exception in /bluetooth/characteristic/getDescriptors/gen-characteristic-is-removed.https.html"
[code]

[2019-03-19 17:30] jdm commented on #23059
[code]
This runs fine in Firefox and yields the following exception in Servo:
[code]

[2019-03-19 17:32] jdm commented on #23059
I think we need to add `Constructor(optional DOMString message = "", optional DOMString name)` to DOMException.webidl like in Firefox: https://searchfox.org/mozilla-central/source/dom/webidl/DOMException.webidl#70

[2019-03-19 17:33] jdm commented on #23059
Oops, this is a duplicate of #22412.

[2019-03-19 17:33] #23059 closed

[2019-03-19 19:45] jdm commented on #23034
Updated https://github.com/servo/servo/wiki/Roadmap. Thanks for the nudge!

[2019-03-19 19:45] #23034 closed

[2019-03-20 02:13] josephhutch commented on #23015
I'm getting 1.14.4

The script prints 1 with no exceptions

I'm also having this issue on MacOS 10.14.3.  Let me know if I can provide any other information to get this issue resolved.

[2019-03-20 02:15] aditj commented on #22619
@jdm , i couldnt reproduce this error all my tests ran as expected , can this error be system specific?

[2019-03-20 02:25] CYBAI commented on #23015
@josephhutch I just updated the python script snippet to not use `PIPE`. Could you run the script again? Thanks!

[2019-03-20 02:28] josephhutch commented on #23015
@CYBAI Still getting 1

[2019-03-20 03:25] CYBAI commented on #23015
@josephhutch  Hmm, sorry, could you run it again? I think this would print the error 🤔

[code]

[2019-03-20 06:54] georgeroman commented on #22619
@aditj Try modifying the test's expectation to `PASS` in https://github.com/servo/servo/blob/master/tests/wpt/metadata/bluetooth/characteristic/getDescriptors/gen-characteristic-is-removed.https.html.ini.

[2019-03-20 07:21] aditj commented on #22619
Oh !II am now getting the `Illegal constructor` error but not the `SessionNotCreatedException`

[2019-03-20 07:49] rkchilaka commented on #23015
On running this script i got the following output

[code]

[2019-03-20 08:17] CYBAI commented on #23015
Can someone try to apply this patch and see if it will kill the exception?

[code]

[2019-03-20 08:20] CYBAI commented on #23015
Could someone try to apply this patch and see if it will pass the build? 🤔 Thanks.

[code]

[2019-03-20 09:19] CYBAI opened #23062 "::after pseudo-element is not shown"
We can click the checkbox to change the style of the `div` but we cannot see the circle created by `::after` on Servo.

<img width="1245" alt="圖片" src="https://user-images.githubusercontent.com/6782666/54672778-43da1f00-4b3c-11e9-8411-d5be5d5f40a2.png">

[code]

cc @emilio

Tested with master (5cfc434689) on macOS 10.14.3

[2019-03-20 10:11] arunkumar413 opened #23063 "Error trying to boostrap servo for android"
Hi All,

 I tried to do an android build but got the below error when I ran the command **./mach bootstrap-android**

[code]

[2019-03-20 13:03] jdm commented on #23063
Try `./mach bootstrap-android --build`?

[2019-03-20 14:45] jdm commented on #22592
Test:
<img width="397" alt="Screen Shot 2019-03-20 at 10 45 22 AM" src="https://user-images.githubusercontent.com/27658/54693599-4b2e0800-4afd-11e9-878a-db28a061338b.png">

Refrerence:
<img width="411" alt="Screen Shot 2019-03-20 at 10 45 28 AM" src="https://user-images.githubusercontent.com/27658/54693612-508b5280-4afd-11e9-886f-a67a6e9a5e51.png">

[2019-03-20 14:59] arunkumar413 commented on #23063
@jdm, Tried **./mach bootstrap-android --build** as well
[code]

[2019-03-20 16:15] arunkumar413 commented on #23063
Below is the config  Used. Should I strictly use ndk version 12/12B?

android api level: 18
android NDK: 19.2.5xxxx

export ANDROID_SDK="/home/arun/Android/Sdk"
export ANDROID_NDK="/home/arun/Android/Sdk/ndk-bundle"
export PATH=$PATH:$ANDROID_SDK/platform-tools

Also I'm on linux mint. Which of the following commands should I use?

` sudo apt-get install curl ia32-libs ant`
  Or
`sudo apt-get inst

[2019-03-20 16:53] Feliix42 commented on #23015
For me, the build is now successfully initiated.

[2019-03-20 17:03] jdm opened #23064 "Intermittent pass in /workers/WorkerGlobalScope-close.html"
[code]

[2019-03-20 17:14] jdm commented on #23063
@arunkumar413 I believe the Java exception you are seeing is caused by using JDK9 or JDK10, which do not appear to work with the android NDK according to https://stackoverflow.com/questions/46402772/failed-to-install-android-sdk-java-lang-noclassdeffounderror-javax-xml-bind-a.

[2019-03-20 17:14] jdm commented on #23063
And yes, Servo will not build with an NDK other than 12.

[2019-03-20 17:32] jdm commented on #23028
To solve this:
* expose a public getter on CSSStyleSheet to return the stylesheet's owner
* in CSSRuleList::insert_rule, use the new getter to pass a non-None value as an argument to `arc.insert_rule`
* [add a test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) for this that verifies that the new stylesheet is actually loaded

[2019-03-20 17:37] jdm commented on #23028
Code: `components/script/dom/cssstylesheet.rs`, `components/script/dom/cssrulelist.rs`

[2019-03-20 18:33] #23025 closed

[2019-03-20 18:52] jdm opened #23065 "Remove headless check from bluetooth code"
There's nothing special about headless mode that should make the bluetooth code behave differently. We can remove the check for `opts::get().headless` entirely.

Code: `components/bluetooth/lib.rs`

[2019-03-20 18:52] highfive commented on #23065
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-20 19:02] ejmg commented on #23065
@highfive: assign me

[2019-03-20 19:02] highfive commented on #23065
Hey @ejmg! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-20 19:02] ejmg commented on #23057
@highfive: assign me

[2019-03-20 19:02] highfive commented on #23057
Hey @ejmg! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-20 19:08] jdm opened #23066 "/bluetooth/requestDevice/canonicalizeFilter/ tests can intermittently yield an error"
[code]

[2019-03-20 19:09] jdm commented on #23066
My suspicion is that this is caused by a race with onunhandledreject events when the promise_test encounters a JS error.

[2019-03-20 19:10] jdm commented on #23065
Unassigning per request on IRC.

[2019-03-20 19:10] jdm commented on #23057
Unassigning per request on IRC.

[2019-03-20 19:11] jdm commented on #22888
@EllaLiu5 Have you made any progress? Do you have any questions?

[2019-03-20 19:11] jdm commented on #22843
@robert-snakard Have you made any progress? Do you have any questions?

[2019-03-20 19:12] jdm commented on #21268
@wlgranados Have you made any progress? Do you have any questions?

[2019-03-20 20:01] robert-snakard commented on #22843
Hey jdm, thanks for checking up. Life got busy the last two weeks and this had to take a back seat. Should I let someone know next time?

I forked the web platform tests repo and trying to figure that out. Working on one test to check we captured the wheel event properly and another to check we don't try to scroll after we've captured the wheel event.

As far as questions go, how should I handle t

[2019-03-20 20:08] jdm commented on #22843
I think that is how we will need to handle it. In order to avoid a round-trip to the script thread for every scroll event, the script thread should send a notification to the constellation when a wheel event listener exists, and the constellation should relay that to the compositor.

[2019-03-20 20:09] jdm commented on #22843
Also Servo has a complete vendored copy of the wpt repo in tests/wpt/web-platform-tests if that's easier for you. We also have bidirectional syncing of any changes made to it.

[2019-03-20 20:13] #8539 closed

[2019-03-20 20:29] jdm opened #23067 "Magic Leap package is not recreated when libmlservo.a is updated"
I wasted a bunch of time trying to understand why my changes in libmlservo were not reflected in the build output. I finally checked the timestamps on Servo2D.mpk vs. libmlservo.a and discovered that mabu seems to not re-link the application if the static library has been updated but the package source files have not.

[2019-03-20 20:51] robert-snakard commented on #22843
Cool. Where's the constellation? doc.servo.org is being flaky today

[2019-03-20 21:33] #22412 closed

[2019-03-20 21:38] jdm commented on #22843
components/constellation/constellation.rs, and components/msg/constellation_msg.rs for the messages that are sent to it.

[2019-03-20 21:38] jdm commented on #22691
https://github.com/web-platform-tests/wpt/pull/15946 merged, so this should be something that is possible now.

[2019-03-20 22:17] josephhutch commented on #23015
@CYBAI, that worked for me as well.  Thank you for the help!

@Feliix42, the libffi issue can be solved by adding the environment variable PKG_CONFIG_PATH with libffi's path.  See `brew info libffi`

[2019-03-20 22:58] jdm opened #23068 "PR merged despite several taskcluster failures"
https://treeherder.allizom.org/#/jobs?repo=servo-auto&revision=0388dd63399ddd06849ddef7838e936f10438665 shows multiple jobs that reported errors (https://tools.taskcluster.net/groups/fKFcVqRETiSHZ-5_McorXQ). Nevertheless, #23045 shows no homu message with taskcluster failures, and homu merged the PR. It's hard to figure out where the breakdown is here, since I've definitely seen taskcluster failur

[2019-03-20 23:03] jdm commented on #23068
This was a lie! I forgot that taskcluster waits to report any failures until all jobs are done :<

[2019-03-20 23:03] #23068 closed

[2019-03-21 01:29] Manishearth opened #23070 "Properly support XRSpace getViewerPose for arbitrary spaces"
https://github.com/servo/servo/pull/23055 added basic support for XRSpaces but it basically assumes all spaces are the same, since there were some things that weren't quite clear from the spec (see https://github.com/immersive-web/webxr/issues/565).

This should be fixed.

[2019-03-21 01:34] Manishearth opened #23071 "Support XRTest for WPT webxr tests"
The WPT webxr tests use an XRTest interface that allows for spinning up dummy webxr sessions.

https://github.com/servo/servo/blob/93dc2295f7dc7dc6436be0e524701ccf08566fb9/tests/wpt/web-platform-tests/webxr/resources/webxr_util.js#L43

We should support that so that we can test this.

May be worth hacking this into https://github.com/servo/rust-webvr/blob/master/rust-webvr/src/api/mock/ ?

cc @asa

[2019-03-21 01:38] #23032 closed

[2019-03-21 02:19] CYBAI commented on #23015
@josephhutch @Feliix42 Could you help me try if this patch also works for you? Thanks!

Btw, maybe it's good to `./mach clean` to have a clean environment and build it again, thanks!

[code]

[2019-03-21 03:28] miller-time commented on #22890
@highfive assign me

[2019-03-21 03:28] highfive commented on #22890
Hey @miller-time! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-21 06:31] arunkumar413 commented on #23063
@jdm, I tried again with the correct version of ndk and got a null pointer exception

A problem occurred configuring project ':servoapp'.

[code]

[2019-03-21 07:15] paulrouget commented on #23035
No, my fault, perspective code issue.

[2019-03-21 07:15] #23035 closed

[2019-03-21 09:33] Feliix42 commented on #23015
This patch also works, but only if I `set -gx PKG_CONFIG_PATH "/usr/local/opt/libffi/lib/pkgconfig"` in my fish, as suggested from running `brew info libffi` (which fixes the second issue I had). Otherwise, the build will not start.

It might be a good idea to include a note for this in the readme.

[2019-03-21 12:19] jdm commented on #23063
The most useful information will come from making this change that I suggested: https://mozilla.logbot.info/servo/20190320#c16112106

[2019-03-21 13:26] CYBAI commented on #23015
Interesting. I just checked my `PKG_CONFIG_PATH` and it's `/usr/local/opt/expat/lib/pkgconfig`.

Maybe setting `PKG_CONFIG_PATH` is required?

Also, thanks for helping to check the patch works.

[2019-03-21 14:20] hgallagher1993 commented on #23065
@highfive: assign me

[2019-03-21 14:20] highfive commented on #23065
Hey @hgallagher1993! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-21 14:25] jdm opened #23072 "Use thumbv7neon rustc target when applicable"
We should follow the best practices from https://bugzilla.mozilla.org/show_bug.cgi?id=1521734 to generate better target-specific code for appropriate ARM devices.

[2019-03-21 15:29] arunkumar413 commented on #23063
@jdm, I tried as suggested by you. Still I got the same error. Below is how I modified the package_commands.py file to include  --stacktrace and --debug If this is wrong please let me know the correct way to do it.

[code]

[2019-03-21 15:37] jdm commented on #23063
Rather than pasting the whole file, it's much easier to past the result of `git diff` like this:
[code]

[2019-03-21 16:00] arunkumar413 commented on #23063
Thanks, @jdm. made the changes and this (https://gist.github.com/arunkumar413/efc3cd5eca3ca2acfe9521ec4ab5a121) is the debug info.

[2019-03-21 16:07] hgallagher1993 commented on #23065
Actually you can unassign me because I can't get servo to compile. The compilation failure is to do with GStreamer, my version is 1.8 and I can't see an easy way to upgrade it passed that...

[2019-03-21 19:28] #22997 closed

[2019-03-21 20:00] Utkarsh1308 commented on #21604
I am getting this same error with 592 unresolved externals. Can anyone help?

[2019-03-21 20:10] robert-snakard commented on #22843
@jdm finished the scrolling wpt test (you can find it [here](https://github.com/robert-snakard/wpt/blob/wheel_event_wpt_test/uievents/order-of-events/mouse-events/wheel-scrolling-manual.html)) and tested it in both firefox and chrome. Both of them scroll the page even though the div has a listener on the wheel event. Going to give Servo the same behavior, send a wheel event **and** scroll, unless

[2019-03-21 20:51] jdm commented on #22843
Even better. Thanks for verifying that behaviour!

[2019-03-21 20:53] jdm commented on #21604
Nobody has figured out why this happens yet, unfortunately.

[2019-03-21 21:30] robert-snakard commented on #22843
The pull request for the wpt tests is here https://github.com/web-platform-tests/wpt/pull/15990

[2019-03-21 21:36] jdm opened #23074 "debugmozjs build is broken"
https://github.com/servo/servo/blob/ba929208e46639ca57eabb274cd98d37108ee365/components/script/script_runtime.rs#L682-L696 is not built by default and doesn't compile since #22923.

[2019-03-21 21:39] jdm opened #23075 "Support building with non-jemalloc allocators"
The memory profiler assumes the use of jemalloc, but it's valuable to support other configurations: https://github.com/servo/servo/blob/ba929208e46639ca57eabb274cd98d37108ee365/components/profile/mem.rs#L499

[2019-03-21 21:39] highfive commented on #23075
cc @fitzgen

[2019-03-21 21:49] SimonSapin commented on #23075
We already make our `jemalloc_stat` function a no-op that returns `None` on Windows, where jemalloc is not used. It should be straightforward to add a build-time flag that opts into the same on non-Windows.

Having a useful memory profiler with another allocator is another story.

[2019-03-21 21:49] mateon1 commented on #23075
Note that Servo already builds with the system allocator when you stub out the `jemalloc_stat` function in `components/profile/mem.rs`, and write a simple `mod platform {...}` for `components/allocator/lib.rs`.

I think that selecting the allocator via a feature flag can work nicely.

[2019-03-21 22:25] jdm opened #23076 "GC threshhold default values should be higher"
We are passing nonsense values like 1 and checking that the preference values lie between 0 and 10,000 at https://github.com/servo/servo/blob/ba929208e46639ca57eabb274cd98d37108ee365/components/script/script_runtime.rs#L487-L504. The values are divided by 100 when used: https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/js/src/gc/GC.cpp#L1390-L1399

[2019-03-21 23:37] jdm opened #23077 "Crossbeam channels trigger valgrind errors"
Two examples from https://paste.sh/LwlXNbkD#GFVUcztjTpQbNpZoVKg4SDmI:
[code]

@stjepang Have you noticed this happening before?

[2019-03-22 10:46] stjepang commented on #23077
I haven't noticed this before, thanks for reporting! I'll open an issue in the crossbeam repo and dig into the problem.

To be more precise, looks like the problem is actually in `crossbeam-epoch` rather than `crossbeam-channel`. Note that if you update the `crossbeam-channel` dependency to the latest version, the problem will go away for you since the latest version doesn't use `crossbeam-epoch`

[2019-03-22 11:21] cdeler commented on #23065
@highfive : assign me

[2019-03-22 11:21] highfive commented on #23065
Hey @cdeler! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-22 14:09] #22993 closed

[2019-03-22 14:44] cdeler commented on #23057
@highfive: assign me

[2019-03-22 14:44] highfive commented on #23057
Hey @cdeler! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-22 15:32] #23065 closed

[2019-03-22 18:10] jdm commented on #9037
This is used by the Subscribe With Google scripts, so loading newyorktimes.com shows an error trying to access this:
[code]

[2019-03-22 18:46] jdm opened #23081 "Building with frame pointer does not affect native dependencies"
[This code](https://github.com/servo/servo/blob/0ff87c8137030ece065f283552c28f4837cef5f3/python/servo/build_commands.py#L309-L310) enables the frame pointer even on release builds to allow better stack walking. However, #23080 exposes the fact that the frame pointer is not enabled for native dependencies like spidermonkey, leading to a lot of orphaned stack frames and unintelligible results.

[2019-03-22 18:46] highfive commented on #23081
cc @fitzgen

[2019-03-22 18:55] jdm commented on #21254
@davidweitzenfeld It looks like you made a pull request against your fork, not servo/servo :)

[2019-03-22 19:12] jdm commented on #23081
For spidermonkey we want to use --enable-profiling for the configure arguments.

[2019-03-23 00:56] #23028 closed

[2019-03-23 01:04] CYBAI opened #23082 "Implement StyleSheet.ownerNode"
As @emilio mentioned in https://github.com/servo/servo/pull/23073#pullrequestreview-217996814 , we don't support `ownerNode` yet.

Spec: https://drafts.csswg.org/cssom/#dom-stylesheet-ownernode

https://github.com/servo/servo/blob/0ff87c8137030ece065f283552c28f4837cef5f3/components/script/dom/webidls/StyleSheet.webidl#L11

We need to uncomment it and implement it in `components/script/dom/styleshe

[2019-03-23 01:05] CYBAI commented on #23082
@sbansal3096 maybe you'd be interested in this one?

[2019-03-23 01:20] sbansal3096 commented on #23082
Yeah, sure. I am.willing to give it a shot.

[2019-03-23 06:34] arunkumar413 commented on #23063
@jdm, Additionally I used the `--scan` argument to create a scan of the debug. Here (https://scans.gradle.com/s/56a3rrsrn3sca/) is the link to the gradle scan

[2019-03-23 11:10] mateon1 commented on #19917
Seems to crash 100% of the time now.

Here's a reduced example if that helps:
[code]

<details>
<summary>Debug backtrace</summary>

[code]
</details>

[2019-03-23 12:25] TheGoddessInari opened #23083 "Windows python support should be made easier"
On my systems (as many are), I have both Python 2 and 3 installed with 3 being the default.

I personally symlink python 2.x to python2 and python2.7 on the PATH, but the Windows python versions provide its own solution to this: `py -2`, which is installed by default.

Even manually running mach via python 2.7 runs into quite a few blockers, including the
`''':' && if [ ! -z "$MSYSTEM" ] ; then ex

[2019-03-23 13:24] nox commented on #18970
Duplicate of #14239.

[2019-03-23 13:24] #18970 closed

[2019-03-23 13:25] nox commented on #19189
Duplicate of #14239.

[2019-03-23 13:25] #19189 closed

[2019-03-23 14:57] jdm commented on #14239
Sadly that testcase no longer makes Servo panic.

[2019-03-23 18:47] sbansal3096 commented on #23082
@CYBAI Do I have to implement the new ownerNode function in the same fashion that is been used for other properties like title? If so, then where should I use the new function that I created in my last pull request?
https://github.com/servo/servo/blob/0ff87c8137030ece065f283552c28f4837cef5f3/components/script/dom/stylesheet.rs#L38

[2019-03-23 19:12] miller-time commented on #22890
@gterzian (or maybe @jdm) any pointers to help me get started on this? I'm reading the methods that were mentioned above, but it's not entirely clear to me what needs to be changed.

It looks like the numbered steps (in comments) for [window.open](https://github.com/servo/servo/blob/b65828d909ec9ead7412fffdee2d07c285611a0a/components/script/dom/windowproxy.rs#L385) seem to be pretty outdated, so I

[2019-03-23 20:54] cdeler commented on #23057
Hello @jdm ,

I have a draft implementation locally. Do you know, how can I check it locally?

[2019-03-24 00:07] robert-snakard commented on #22843
@jdm just a status update. Working on sending the wheel event from the compositor to the script thread. I've found the line where I need to send a message through the constellation. Right now working on getting all the variables I need.

I need to get a DevicePoint for my wheel event so that I can get a pipeline_id for the constellation.

[2019-03-24 01:30] CYBAI commented on #23082
@sbansal3096 Yes. When you uncomment the property in WebIDL, compiler will give you the hint ;) In this case, you'll need to implement `GetOwnerNode` for `StyleSheetMethods`. Then, you can reuse the method you created in last PR in the `GetOwnerNode`.

If my explanation is not clear, feel free to let me know :)

[2019-03-24 02:43] jdm commented on #23057
@cdeler You might try running a page that calls `navigator.permissions.request({'name': 'geolocation'})` to verify that the modified code runs correctly by adding println in the appropriate places.

[2019-03-24 09:28] ljgww commented on #21101
Revisiting subject. Report on findings:

1. noticed servo has pre-compiled binaries at https://download.servo.org/ - downloaded Linux 64 bit.

verdict:
    $ ./servo
    ./servo: error while loading shared libraries: libgstwebrtc-1.0.so.0: cannot open shared object file: No such file or directory

investigation shows missing library is available for fedora but nowhere to be found for deb.

OKay

2

[2019-03-24 10:54] #22869 closed

[2019-03-24 18:49] fredfeng opened #23087 "Servo build fails on MacOS Sierra"
I first followed the instructions for brew:
brew bundle install --file=etc/taskcluster/macos/Brewfile
pip install virtualenv

Since my MacOS is 10.13.4 (High Sierra), I also ran the following commands:
brew install openssl

export OPENSSL_INCLUDE_DIR="$(brew --prefix openssl)/include"
export OPENSSL_LIB_DIR="$(brew --prefix openssl)/lib"

./mach check

But the `check` command didn't pass:
...

[2019-03-24 19:09] jdm commented on #23087
@fredfeng Does https://github.com/servo/servo/issues/23015#issuecomment-475162473 help at all?

[2019-03-24 19:59] fredfeng commented on #23087
Yes, it works. Thanks so much!

I tried this:
export PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig"

[2019-03-24 19:59] #23087 closed

[2019-03-24 20:29] tigercosmos commented on #22915
so, seems that we need to pass this one  `servo/tests/wpt/web-platform-tests/html/browsers/the-window-object/name-attribute.window.js`
relevant code maybe here
https://github.com/servo/servo/blob/c12e341c0ce9fcd8c3f71905b9b379af802bff04/components/script/dom/htmliframeelement.rs#L484

any ideas? @CYBAI
or I am going to pick this one

[2019-03-24 20:37] tigercosmos commented on #23083
There’s room for improvement. We would be glad if you can help improve the code.
Do you finally build the servo successfully? I know it is always hard to set up the environment and build on Windows.

[2019-03-24 22:22] TheGoddessInari commented on #23083
I can certainly look into it soon. Currently it doesn't get through all of the dependencies **for me** because `cmake-rs` needs updating for VS2019, but at least mach is working as expected with workarounds.

I have some other ideas on how to (possibly) make Windows support easier (that I could presumably also work on), but that depends on some other infrastructure updates anyway.

How opposed wou

[2019-03-24 22:45] tdelacour opened #23088 "Links to deprecated Rust documentation in HACKING_QUICKSTART.md"
I was reading through `HACKING_QUICKSTART.md` today while trying to get my dev environment set up. I noticed in [this](https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md#some-basic-rust) section, the links to "match" and "pattern" both link to the deprecated "first edition" Rust book.

Not sure if this ought to be another issue, but I also spent some time stuck getting `servo` t

[2019-03-24 23:01] BeatButton commented on #22778
Sorry for the delay.
When attempting a build now, I get the following error:
[code]
I've fully installed gstreamer and gstreamer-devel from the 15.2 MSI installers. libffi-7.dll does not exist in the folder.

[2019-03-25 01:01] jdm commented on #22778
Hmm. What if you install 14.x instead?

[2019-03-25 01:21] CYBAI commented on #22915
@tigercosmos Yes, as mentioned in description, the test is `html/browsers/the-window-object/name-attribute.window.js` which is added in web-platform-tests/wpt#15391.

About relevant code, as you can read from the spec update PR, the change is about `window.name`.

They're defined here

https://github.com/servo/servo/blob/7a67443fcb4eea1919ed77c302e25c3052c23721/components/script/dom/window.rs#L115

[2019-03-25 03:41] gterzian commented on #22890
@miller-time Thanks for working on this one!

Re the numbering, we've actually just merged https://github.com/servo/servo/pull/23011 which already improved the situation, and I suggest you rebase off the last master as a starting point(and not that the links to the code above in this issue will link to a older version of the codebase).

The idea is that we want to add https://fetch.spec.whatwg.org

[2019-03-25 03:47] tigercosmos commented on #23083
I conservatively thought that the Servo team might not want to change the infra of building, since it would take a risk. However, I encourage you to talk to the members of the team on IRC if you really want to do something cool.

[2019-03-25 05:38] jdm commented on #23083
I would be interested in learning more about how vcpkg could make building on Windows easier.

[2019-03-25 06:28] miller-time commented on #22890
@gterzian thanks for the additional tips!

I opened a draft PR, I hope that's okay... thought it might be helpful to see where I'm going.

I looked at InitiateNavigateRequest, per advice of @jdm, and saw that in [constellation](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L1231) we handle that message, which passes a req_init (RequestInit).

In [Request.from

[2019-03-25 06:38] mateon1 commented on #14239
@jdm Here's an example that reproduces on current servo:

[code]

The scrollTo seems necessary now to reproduce this bug, but those specific values are just random.
I haven't fully reduced the example, hence the unnecessary `try{}catch{}`.

<details>
<summary>Debug backtrace</summary>

[code]
</details>

[2019-03-25 07:45] georgeroman commented on #22885
@highfive assign me

[2019-03-25 07:45] highfive commented on #22885
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-25 08:14] gterzian commented on #22890
Ok, sounds like you're going in the right direction.

The `Navigate` msg is received here: https://github.com/servo/servo/blob/7a67443fcb4eea1919ed77c302e25c3052c23721/components/script/script_thread.rs#L1743

and handled as part of https://github.com/servo/servo/blob/7a67443fcb4eea1919ed77c302e25c3052c23721/components/script/script_thread.rs#L3198

I think it's the `ScriptMsg::LoadUrl` you're loo

[2019-03-25 09:55] georgeroman commented on #22885
I have a question regarding the implementation. So, in order to access the proper time origin, I need to have access to the event's global scope `performance().TimeOrigin()` value and I can only access this value by passing the global scope to `Event::new_inherited`. But this in turn requires modifications in all the events, since they all call `Event::new_inherited` behind the scenes. Is this the

[2019-03-25 09:58] paulrouget commented on #23088
Go ahead and submit a PR to fix the link in HACKING_QUICKSTART.

Probably better to file another issue to investigate why you have to do that.

[2019-03-25 09:59] paulrouget commented on #23088
re PKG_CONFIG_PATH. Just saw that: https://github.com/servo/servo/issues/23087 - and https://github.com/servo/servo/issues?utf8=✓&q=is%3Aissue+is%3Aopen+PKG_CONFIG_PATH

[2019-03-25 12:10] mateon1 opened #23091 "assertion failed: rect.size.width >= Zero::zero() caused by layout::display_list::background::clip"
I keep running into this assertion while fuzzing, so I decided to investigate.
One of the causes of this panic is the `background::clip` function.

[code]

Relevant parts of the backtrace:
[code]

I ran this example through a debugger, and it seems that `background::clip` is receiving a zero-sized rectangle as the absolute_bounds, which causes a panic in euclid code.

https://github.com/servo/serv

[2019-03-25 12:11] tdelacour commented on #23088
@paulrouget aha ok yeah those issues do seem to be the same. Must've not searched very well first...

Will address the links later today. Thanks!

[2019-03-25 12:49] mateon1 opened #23093 "assertion failed: rect.size.width >= Zero::zero() caused by BlockFlow::setip_clip_scroll_node_for_overflow"
Another euclid crash found while fuzzing.

[code]

https://github.com/servo/servo/blob/40d599e39ffdd627b8912388dc24de77291f700f/components/layout/display_list/builder.rs#L2585
At this point `border_box` has a zero width and 1118 Au height, and the border is nonzero, causing `inner_rect` to panic.

Most likely relevant part:
[code]

<details>
<summary>Full backtrace</summary>

[code]
</details>

[2019-03-25 14:14] #22931 closed

[2019-03-25 15:19] jdm commented on #22885
Every DOM object has a `global()` method which will return the associated global. You should be able to get the performance object from that.

[2019-03-25 20:52] mateon1 commented on #23093
Here's a version for the `rect.size.height` assertion:

[code]

<details>
<summary>Backtrace</summary>

[code]

[2019-03-25 23:23] mateon1 commented on #21480
Seems that the `<video>` element is irrelevant, and it's the delay that matters.

[code]
It's still extremely nondeterministic, though, but I managed to get a debug backtrace.
<details>

[code]
</details>

[2019-03-26 00:14] Manishearth commented on #22970
Also I _think_ the android build doesn't always swap prefs correctly, but I'm not sure.

(I'm getting weird behavior here)

[2019-03-26 02:39] miller-time commented on #22890
Thanks @gterzian

I updated my PR - got it to build, cleaned it up. Tests pass and I haven't touched them yet... Is that good or bad?

------

I've been browsing the fetch spec...

* In the [Request](https://fetch.spec.whatwg.org/#request-class) class, there is some mention of different values for referrer:

I can only find one occurrence of "about:client":

https://github.com/servo/servo/blob/25a

[2019-03-26 03:24] CYBAI commented on #21792
I just upgraded my macOS to `10.14.4` which includes Xcode 10.2 (https://developer.apple.com/documentation/macos_release_notes/macos_mojave_10_14_4_release_notes).

However, I will still be freezed with Xcode that I need to keep using the `Xcode-beta` 🤔

[2019-03-26 03:59] gterzian commented on #22890
Thanks for all the research!

Note that `servo/components/script/dom/request.rs` is the DOM interface to a fetch request, so it's basically the DOM api to some of the things that are done "internally" as part of navigation that follows `window.load_url`. Thanks for pointing out that one, I actually wasn't aware of it yet.

The spec seems to indeed point in that direction. Good catch!

I think the

[2019-03-26 04:42] miller-time commented on #22890
Yep, sorry I thought you had seen it auto linked by GH

https://github.com/servo/servo/issues/23090

[2019-03-26 04:43] CYBAI commented on #21792
Oops, didn't see that I need to upgrade Xcode again from App Store... Will try to build Servo with new released Xcode again later.

[2019-03-26 05:06] TheGoddessInari commented on #23083
vcpkg represents a development-minded package manager from Microsoft on that builds many things from source. It's pretty easy to use and extensible. It makes the most sense on Windows, at least if I can help them make sure they're discoverable from cmake. Since it's from Microsoft and open source, it's about as official as it gets for the platform.

It wouldn't necessarily make building easier in

[2019-03-26 05:12] #23015 closed

[2019-03-26 06:31] Axighi opened #23099 "info: syncing channel updates for 'nightly-2019-03-03-x86_64-apple-darwin'"
This error always shows up every time I execute a command:
![image](https://user-images.githubusercontent.com/1728926/54975957-c0a14900-4fd3-11e9-87b8-68dd9db96b5e.png)

[2019-03-26 06:37] CYBAI commented on #21792
Cheers!! I can build successfully with official Xcode 10.2 now!! 🎉🎉🎉

<details>

[code]

</details>

[2019-03-26 07:25] SimonSapin commented on #23099
Random guess: is your shell configured to show the Rust version number in the prompt, by running `rustc --version`? Then, since the first `rustc` in your `$PATH` is in fact rustup’s proxy executable, it looks in the current directory and up, finds the `rust-toolchain` file at the root of the repository, and attempts to use the Nightly version that we specify. And you get an error message because t

[2019-03-26 07:47] Axighi commented on #23099
Thanks a lot.

You're right! When I open repo folder in bash, and all commands work fine.

Right again! I add this line `SPACESHIP_RUST_SHOW="false"` into my .zshrc to disable the rust version displaying and the error disappeared.

[2019-03-26 07:47] #23099 closed

[2019-03-26 12:01] ferjm opened #23100 "Intermittent timeout in /_webgl/conformance/textures/image_bitmap_from_image_bitmap/tex-2d-rgba-rgba-unsigned_short_5_5_5_1.html"
[code]

[2019-03-26 13:25] jdm opened #23101 "Intermittent timeout in /html/semantics/embedded-content/the-img-element/img-with-containment-and-size.html"
[code]

[2019-03-26 13:27] mateon1 commented on #23101
That alloc factor thing looks like the issues I was having with prefs.json, but if that's the case, I don't know how any other tests may be passing.

[2019-03-26 13:59] jdm commented on #23101
I don't think the alloc factor is important. The test is timing out because of the JS error; https://github.com/web-platform-tests/wpt/blob/master/html/semantics/embedded-content/the-img-element/img-with-containment-and-size.html does not have an explicit body element, so if the onload runs before the parser adds an implicit one, then the reftest-wait attribute will end up being removed.

[2019-03-26 14:33] jdm commented on #23101
That being said, it's confusing how that could happen - the onload could run immediately if the image being loaded is synchronously available, but that's not the case here. I need to find out when the parser inserts the body element. If that could happen async after the parse that executes the script, then the network load that causes the image load to complete could happen before the body element

[2019-03-26 15:02] TheGoddessInari commented on #23083
I just realized as for vcpkg, there's a vcpkg crate which entirely simplifies things, and one of servo's dependencies already uses.

I'll definitely try to get gstreamer on there regardless as it could be useful.

As a sidenote, Rust infrastructure seems to be a lot more responsive than anything node-related. That's very reassuring to someone who's been run ragged trying to get bugs fixed elsewher

[2019-03-26 16:32] #22994 closed

[2019-03-26 16:40] mateon1 commented on #22901
Here's a testcase for this found via fuzzing (not by reducing that page, sadly).

[code]

I don't even know what's happening here, removing any single thing makes the bug disappear.

<details>

[code]
</details>

(This is followed by a hang, rather than Servo closing, which meant a lot of time wasted while reducing.)

[2019-03-26 18:01] #22885 closed

[2019-03-26 18:07] robert-snakard commented on #22843
Hey @jdm, looking at the [script_traits::CompositorEvent](https://doc.servo.org/script_traits/enum.CompositorEvent.html) right now. Why is the MouseMoveEvent have an optional Point2D? Won't the pointer always exist somewhere on the screen?

[2019-03-26 18:27] jdm commented on #22843
@robert-snakard Based on the docs, I expect that when None is passed it means that the mouse is no longer inside the window.

[2019-03-26 18:27] mateon1 commented on #22901
This crash also reproduces on http://diana-adrianne.com/purecss-francine/

Here's an example reduced from that page:
[code]

[2019-03-26 19:23] jdm opened #23104 "Windows build is broken with GStreamer 1.15"
The package has apparently renamed `libffi-7.dll` to `ffi-7.dll`, so [this code](https://github.com/servo/servo/blob/7b8a898ac2ffef5ced8202dfd8bb40e37b972334/python/servo/build_commands.py#L622) fails. We should either tell developers to install a specific version of GStreamer or update it to support both old and newer versions.

[2019-03-26 20:56] jdm opened #23105 "Untrusted decision tasks are erroring out"
[code]

https://mozilla.logbot.info/servo/20190326#c16137186-c16137256

[2019-03-26 22:18] #13103 closed

[2019-03-26 22:32] mateon1 commented on #18927
This panic can be triggered even more directly with this testcase:
[code]

The stack trace is nearly identical, even on latest Servo.

[2019-03-27 01:11] twitchyliquid64 opened #23107 "[layout] [question] What is the function of a ClipScrollNode ?"
Heya,

I've been trying to understand the layout code, and a concept I see come up a bit in layout and also in webrender is `ClipScrollNodes`. What is it exactly? Why do we need it?

[2019-03-27 03:00] jdm opened #23109 "Intermittent failure in sampling profiler test"
[code]
This is a test I added in #23080 which appears to fail nondeterministically despite my attempts to write in ways that would discourage that.

[2019-03-27 04:05] #23088 closed

[2019-03-27 08:11] CYBAI opened #23110 "Intermittent TIMEOUT in /_webgl/conformance/ogles/GL/swizzlers/swizzlers_113_to_120.html"
[code]

[2019-03-27 09:24] AZWN commented on #22982
@jdm I would be interested in working on this issue, but I am not sure if I understand it well enough. I could think of 3 ways that might solve this issue, but I am not sure of the implications of either:

- Add ```let _ac = JSAutoCompartment::new(global.get_cx(), global.reflector().get_jsobject().get());``` to ```Promise::new```
- Add ```JSAutoCompartment```  parameter to ```Promise::new``` (but

[2019-03-27 09:37] learning commented on #21792
Xcode 10.2 works for me, too! 🎉🎉🎉

[2019-03-27 09:44] #23105 closed

[2019-03-27 14:21] jdm commented on #18749
This has been enabled for more than a year.

[2019-03-27 14:21] #18749 closed

[2019-03-27 14:24] jdm opened #23113 "Make WPT sync auto-reviewed"
To do this, we need https://github.com/servo/saltfs/pull/950 and then we need to parse the result of [this API call](https://github.com/servo/servo/blob/0cb87cca137ae68d2bfc132750a0dd9d1b499ad0/etc/ci/update-wpt-checkout#L113-L117) to obtain the new pull request number, so we can use https://developer.github.com/v3/issues/comments/#create-a-comment to create a comment that approves the pull reques

[2019-03-27 15:12] jdm opened #23114 "Only check GStreamer version for targets that use GStreamer"
https://github.com/servo/servo/blob/363073568e492ba51d5fefc899ff0ceed074f707/python/servo/command_base.py#L539-L561 really needs some better logic to determine whether checking gstreamer is necessary or not.

[2019-03-27 16:39] asajeffrey commented on #23114
For example:
[code]

[2019-03-27 16:48] pylbrecht commented on #19797
So I added all neccessary fields and my code compiles without any errors.
What's still missing is the communication with the profiler, which I just skimmed over so far.

Though I am not so sure about my manual testing approach from [my previous comment](https://github.com/servo/servo/issues/19797#issuecomment-414471651). I added a `panic!()` to the "layout thread is busy" check, but it was not tri

[2019-03-27 17:17] asajeffrey opened #23116 "Add Magic Leap profiling to the wiki"
We can profile servo using the NVIDIA Nsight tool. We should document how.

[2019-03-27 17:19] asajeffrey commented on #23116
I'm also going to use this issue as a sneaky way to upload images. For instance, here's the magic leap package manager:

<img width="1332" alt="Screen Shot 2019-03-27 at 12 18 55 PM" src="https://user-images.githubusercontent.com/403333/55097767-88107680-508a-11e9-92cd-b153ca422e51.png">

[2019-03-27 17:21] asajeffrey commented on #23116
And here's the profiler:

<img width="2274" alt="Screen Shot 2019-03-27 at 12 19 48 PM" src="https://user-images.githubusercontent.com/403333/55097836-abd3bc80-508a-11e9-9dfd-53cabdb6862b.png">

and its configuration:

<img width="995" alt="Screen Shot 2019-03-27 at 12 21 30 PM" src="https://user-images.githubusercontent.com/403333/55097955-e4739600-508a-11e9-9799-be3cfb94a55f.png">

[2019-03-27 17:28] asajeffrey commented on #23116
I added https://github.com/servo/servo/wiki/Profiling#using-magic-leap-nvidia-nsight

[2019-03-27 17:28] #23116 closed

[2019-03-27 18:11] jdm commented on #23053
Previously found in #19170.

[2019-03-27 18:12] jdm commented on #23053
One way of fixing this would be to merge the script and layout threads.

[2019-03-27 19:22] jdm opened #23119 "Integrate idle categorization into sampling profiler"
https://searchfox.org/mozilla-central/rev/3d469329a42644b41e66944d8da22d78d8c0f5ec/tools/profiler/public/GeckoProfiler.h#353-364

This will allow us to mark certain operations as the thread being idle, such as performing blocking waits on event loop receivers. This makes it easier to focus on the parts of the profiler where the thread is actively engaged in work, rather than sitting in blocking sy

[2019-03-27 19:22] highfive commented on #23119
cc @fitzgen

[2019-03-27 19:24] jdm opened #23120 "Integrate sampling profiler with JS engine"
SpiderMonkey exposes an API for integrating with the gecko profiler in https://searchfox.org/mozilla-central/source/js/public/ProfilingStack.h. We should make use of this to improve the profiler output.

[2019-03-27 19:24] highfive commented on #23120
cc @fitzgen

[2019-03-27 19:29] jdm opened #23121 "Add profiling scopes as markers to sampler profilers"
We already mark interesting scopes for the non-sampler profiler; we should be able to reuse these to add markers to the generated sampled profiles.

[2019-03-27 19:29] highfive commented on #23121
cc @fitzgen

[2019-03-27 19:30] jdm commented on #23119
Categories: https://searchfox.org/mozilla-central/source/js/public/ProfilingCategory.h#14-70

[2019-03-27 19:32] jdm opened #23122 "Include the PID in the sampled profiles"
<img width="149" alt="Screen Shot 2019-03-27 at 3 32 16 PM" src="https://user-images.githubusercontent.com/27658/55106503-84d6b400-50a5-11e9-8c56-c83ebd4b6383.png">

[2019-03-27 19:32] highfive commented on #23122
cc @fitzgen

[2019-03-27 19:34] jdm opened #23123 "Merge sampled profiles from multiple content processes"
Right now when there is more than one content process then each process will report its own set of sampled threads, and the embedder just receives a series of disconnected JSON blobs. There should be an intermediate step that collects them and provides the embedder with a single complete blob.

[2019-03-27 19:34] highfive commented on #23123
cc @fitzgen

[2019-03-27 20:39] georgeroman commented on #22299
@highfive assign me

[2019-03-27 20:39] highfive commented on #22299
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-27 20:41] jdm commented on #23026
A profile reveals that we're spending an inordinate amount of time calling js::math_sin_handle.

[2019-03-27 20:47] jdm opened #23124 "Unexpected presence of CSS animation properties in three.js example profile"
While profiling https://threejs.org/examples/webgl_animation_cloth.html on the magic leap, I'm seeing nontrivial time spent in this call stack:
<img width="906" alt="Screen Shot 2019-03-27 at 4 46 19 PM" src="https://user-images.githubusercontent.com/27658/55111059-e13ed100-50af-11e9-9324-164854437eef.png">
<img width="905" alt="Screen Shot 2019-03-27 at 4 46 43 PM" src="https://user-images.github

[2019-03-27 20:47] highfive commented on #23124
cc @emilio

[2019-03-27 21:06] jdm commented on #23124
Debug logging shows that every frame Shorthand(All) is being processed by PropertyAnimation::from_transition. I'm trying to figure out where that comes from.

[2019-03-27 21:11] jdm commented on #23124
Oh, this is because the initial specified value of transition-property is `all`, so every frame we get the full set of transitionable properties as the return value of PropertyAnimation::from_transition.

[2019-03-27 21:19] emilio commented on #23124
We should only do that if transition-duration or transition-timing-function or such also contain something relevant.

[2019-03-27 22:10] dmos62 opened #23125 ""libgstgl-1.0-0.dll not found" when starting Servo Tech Demo on Windows 10"
When starting Servo Tech Demo on Windows 10 the following error is thrown immediately:

[code]

After closing the dialog, the browser does not start. This is the latest developper preview as served by download.servo.org today.

[2019-03-27 22:15] jdm commented on #23125
It's possible we need to install a newer version of gstreamer on our Windows CI.

[2019-03-27 22:20] jdm commented on #23125
Aha, we're missing libgstgl-1.0-0.dll from [this list](https://github.com/servo/servo/blob/cd8b9cab22ba375628b9f47ed0b589397817e145/python/servo/build_commands.py#L621).

[2019-03-27 22:34] jdm commented on #23107
The general idea is that a ClipScrollNode represents a region that can be clipped and scrolled, such as a CSS element with `overflow: scroll` applied and content that overflows its block size.

[2019-03-27 22:42] jdm commented on #23026
I wonder if this is an arm64 JIT thing, given this code from the rAF loop:
[code]

[2019-03-27 22:52] jdm commented on #23124
It looks like Servo's implementation of PrivateMatchMethods::process_animations does not have any kind of check like that.

[2019-03-27 22:53] jdm commented on #23124
Rather - there is code that checks `property_animation.does_animate()` which is based on transition-duration and transition-timing-function, but that happens in PropertyAnimation::from_longhand, which is called in a map over all of the longhand properties.

[2019-03-27 22:56] jdm commented on #23124
Looks like Gecko doesn't call `start_transitions_if_applicable` at all.

[2019-03-27 23:02] jdm commented on #23124
Looks like we should steal the logic from [this code](https://github.com/servo/servo/blob/cd8b9cab22ba375628b9f47ed0b589397817e145/components/style/matching.rs#L356-L378).

[2019-03-27 23:04] UK992 commented on #23104
in 1.15.1 `libz.dll` is renamed to `libz-1.dll`
in 1.15.2 all dlls needed by servo are named without prefix `lib`

[2019-03-27 23:07] jdm commented on #23104
Thanks, that's helpful. My changes in #23126 should be able to accommodate that.

[2019-03-28 07:18] Axighi commented on #23015
I just pulled the master, still have this problem.
`pkg-config --modversion gstreamer-1.0` results 1.14.4

[2019-03-28 07:23] CYBAI commented on #23015
Could you check if there's any set `PKG_CONFIG_PATH` in your environment?

[2019-03-28 07:31] Axighi commented on #23015
It's empty.

[2019-03-28 16:17] swarnimarun commented on #22290
@highfive: assign me

Gonna give this one a shot.

[2019-03-28 16:17] highfive commented on #22290
Hey @swarnimarun! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-28 17:02] jdm opened #23127 "Media backend initialization in script/ makes recompilation slow"
One of my motivations for https://github.com/servo/media/pull/209 was that changing the implementation of the gstreamer backend caused us to recompile script. This makes it really frustrating to perform exploratory work in that backend. Unfortunately, by adding just-in-time initialization of the backend throughout script, we have introduced the same problem. I propose that we move the initializati

[2019-03-28 19:46] #23052 closed

[2019-03-29 13:08] mateon1 opened #23130 "new XMLSerializer().serializeToString(document); panics"
[code]

This causes a ScriptThread panic, `Can't serialize Document node itself`

https://github.com/servo/servo/blob/fcd6beb60819ef2960f70d10e82fa31ba56cc99b/components/script/dom/servoparser/html.rs#L253

Both Chrome and Firefox properly serialize the entire page when `serializeToString` is called on the document.

[2019-03-29 13:34] pylbrecht commented on #21262
@highfive: assign me

[2019-03-29 13:34] highfive commented on #21262
Hey @pylbrecht! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-03-29 13:48] pylbrecht commented on #21262
Does this mean that `PerformanceResourceTiming.connect_end` is set by another entity. Ergo, I can rely on

as being fulfilled?

[2019-03-29 14:02] jdm commented on #21262
No. connect_end does not exist right now; the purpose of this work is to make it exist. That being said, we do not have the ability to distinguish between persistent connections or not right now, so we will have to ignore that part of the specification.

[2019-03-29 14:06] pylbrecht commented on #21262
Alright, I gained some insights while digging through the involved code and I think I'm getting a idea of what to implement exactly.

[2019-03-29 14:11] CYBAI commented on #23130
As @jdm mentioned in https://github.com/servo/servo/pull/23044#issuecomment-474087096 , I think this will be fixed when servo/html5ever#368 is fixed.

[2019-03-29 14:47] jdm opened #23131 "Switch to upstream glutin osmesa support"
There's an [OsMesaContextExt](https://github.com/tomaka/glutin/blob/e291a1960ef4c2f3789115c8c442669a04a7aa42/glutin/src/platform/linux/mod.rs#L289-L296) trait that can be imported which allows creating a software rendering context that integrates with glutin. That might allow us to remove a bunch of OsMesa-specific code inside Servo.

[2019-03-29 14:58] jdm opened #23132 "Use headless context instead of OsMesa"
Glutin's context builder supports a [build_headless](https://github.com/tomaka/glutin/blob/2695ebc292193401a8d4c0ac145e144f565cb6e1/glutin/src/lib.rs#L269-L276) API. We should see if we can use that, since it will get us headless support on all platforms rather than the current OsMesa solution.

[2019-03-29 15:25] jdm opened #23133 "Use pregenerated certs and keys for WPT"
We should [set the following defaults](https://github.com/servo/servo/blob/681c0ebf4b5a4b5abf0843986036e3594cc193b8/tests/wpt/run.py#L51-L79) for running WPT tests:
* `--ca-cert-path=tests\wpt\web-platform-tests\tools\certs\cacert.pem`
* ` --host-key-path=tests\wpt\web-platform-tests\tools\certs\web-platform.test.key`
* `--host-cert-path=tests\wpt\web-platform-tests\tools\certs\web-platform.test.p

[2019-03-29 15:25] highfive commented on #23133
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-29 15:27] jdm commented on #21262
The other important piece here is exposing the DOM API in components/script/dom/webidls/PerformanceResourceTiming.webidl, and make sure that the value recorded in the net code is propagated to that structure.

[2019-03-29 15:35] jdm commented on #23130
Specifically, this would be handled by https://w3c.github.io/DOM-Parsing/#dfn-xml-serialization-algorithm.

[2019-03-29 15:55] highfive commented on #23130
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-29 15:55] jdm commented on #23130
That being said, fixing the panic here is separate from implementing the full algorithm in the html5ever repository. We should implement the [document serialization algorithm](https://w3c.github.io/DOM-Parsing/#dfn-xml-serializing-a-document-node) by checking for a document in the [SerializationIterator constructor](https://github.com/servo/servo/blob/fcd6beb60819ef2960f70d10e82fa31ba56cc99b/compo

[2019-03-29 15:56] jdm commented on #23130
If this case is not already tested by tests/wpt/web-platform-tests/domparsing/XMLSerializer-serializeToString.html, then a new testcase should be added.

[2019-03-29 16:00] jdm opened #23134 "Implement DocumentFragment XML serialization"
[This branch](https://github.com/servo/servo/blob/fcd6beb60819ef2960f70d10e82fa31ba56cc99b/components/script/dom/servoparser/html.rs#L167-L176) does nothing if a DocumentFragment is encountered during XML serialization, but we should be running the [appropriate XML serialization algorithm](https://w3c.github.io/DOM-Parsing/#dfn-xml-serializing-a-documentfragment-node). Like in #23130, we will want

[2019-03-29 16:00] highfive commented on #23134
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-03-29 16:01] jdm commented on #23134
Testcase:
[code]

[2019-03-29 17:29] jdm commented on #22982
@AZWN I think we should make these changes:
* rename `new` to `new_unchecked` and mark it `unsafe`
* convert all existing callers to use `new_unchecked`
* add a `new` method which is safe and accepts a `&JSAutoCompartment` argument, which forces the caller to enter a compartment before calling it

[2019-03-30 02:23] jdm opened #23136 "Add android stack walking"
The android NDK does not include libunwind. We probably need to create an android-specific unwind-sys crate that vendors https://github.com/ivanarh/libunwind-ndk and builds it, then use that instead of unwind-sys on android.

[2019-03-30 02:23] highfive commented on #23136
cc @fitzgen

[2019-03-30 03:39] jdm opened #23137 "Failed github-push decision task appears on servo-try for each successful merge"
When there is a successful homu merge, servo-auto shows the results of the homu tests; servo-master shows the results of the docs upload, and servo-try shows a decision task with a lot of commits that always fails because the git commit isn't available:
[code]
I'm assuming this is because when homu merges, it force pushes to the try branch with the new results of the auto branch. It's not clear to

[2019-03-30 05:15] #22203 closed

[2019-03-30 13:00] CYBAI opened #23140 "Remove compound microtasks"
whatwg/html#4437
whatwg/dom#741

[2019-03-30 23:38] miller-time commented on #22890
**Updates**

[done](https://github.com/servo/servo/blob/e98db925d11dc0c3e8b649a9a16513fad699593a/components/net_traits/request.rs#L166)!

[fixed](https://github.com/servo/servo/blob/e98db925d11dc0c3e8b649a9a16513fad699593a/components/script/dom/request.rs#L557)!

[fixed](https://github.com/servo/servo/blob/e98db925d11dc0c3e8b649a9a16513fad699593a/components/net/http_loader.rs#L774)!

[done](https:

[2019-03-31 00:00] miller-time commented on #22890
By the way, figuring out exactly how the steps have changed in the spec for `http_network_or_cache_fetch` was a fun exercise. I tracked down https://github.com/servo/servo/commit/d919f55884 which told me roughly when a lot of that numbering had been written (~2 years ago), which I used to line up commit timestamps with https://github.com/whatwg/fetch/commit/cbca2c2 (my main clue that things were s

[2019-03-31 00:10] miller-time commented on #22890
Hmm in looking at main_fetch again:

https://github.com/servo/servo/blob/e98db925d11dc0c3e8b649a9a16513fad699593a/components/net/fetch/methods.rs#L185

...I'm not sure if it makes sense to change anything in this PR.

[2019-03-31 15:54] #23109 closed

[2019-03-31 17:42] mateon1 opened #23144 "Servo panics when loading a broken script URL with an onerror handler that rewrites the document"
[code]

[code]

[2019-04-01 13:07] paulrouget commented on #22195
Fixed by https://github.com/servo/servo/pull/23002

[2019-04-01 13:07] #22195 closed

[2019-04-01 13:35] jdm commented on #23144
I think we should change [this panic](https://github.com/servo/servo/blob/31c02614beb94207237865e58587f75a98b5c9b1/components/script/document_loader.rs#L171) into a `warn!` instead.

[2019-04-01 13:35] highfive commented on #23144
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-04-01 13:38] jdm commented on #23144
This change will also avoid panics like #18928, but we'll keep that one open because there is still useful work to be done to avoid unnecessary loads.

[2019-04-01 14:04] 5h1rU commented on #23130
Hello!

would like to contribute here but probably I'll need some assistance since I'm a newbie on the codebase.
@jdm what do you think?

[2019-04-01 15:06] jdm commented on #23130
@5h1rU I think you should give it a try and ask questions about anything that is unclear :)

[2019-04-01 15:09] 5h1rU commented on #23130
@highfive assign me

[2019-04-01 15:09] highfive commented on #23130
Hey @5h1rU! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-01 15:49] jdm opened #23148 "Create tool for offline symbolification of sampled profiles"
Resolving symbols for anything but the smallest profiles is a long process. It would be great to be able to extract unresolved profiles and run a tool offline that resolves them. https://github.com/sfackler/rstack/tree/master/symbolize/src might be one way of doing this, if the tool depends on the the appropriate servo crates, but it's a linux-only solution that relies on `dl_iterate_phdr`.

[2019-04-01 15:49] highfive commented on #23148
cc @fitzgen

[2019-04-01 17:29] #21792 closed

[2019-04-01 18:10] jdm opened #23149 "Intermittent failure in /fetch/content-type/script.window.html"
[code]

[2019-04-01 18:44] jdm opened #23150 "Synchronous network fetch does not create performance resource timing entry"
All of our async network fetch code ends up calling the `submit_timing` helper function in order to register the resource timing information for the network load. However, the dedicated worker initial script fetch and the worker global importScripts API use the `load_whole_resource` helper API, which blocks until a response is complete and returns the response data. In the handler for `FetchRespon

[2019-04-01 18:45] jdm commented on #23150
We could go a step further and make `load_whole_resource` accept a function pointer that it will call with the resource timing information, to avoid this problem in the future. This would allow all of the callers to pass `submit_timing_data`, and it would be impossible to forget this if any new callers appear later.

[2019-04-01 18:50] pylbrecht commented on #23150
I'd like to work on that! I don't see good old @highfive, so would you assign me?

[2019-04-01 18:58] jdm opened #23151 "Intermittent failure in /fetch/api/basic/keepalive.html"
[code]

[2019-04-01 19:46] #23104 closed

[2019-04-01 19:46] #23125 closed

[2019-04-01 20:55] 5h1rU commented on #23130
After some hours trying to figure out what's going on I have some blockers

- html5ever serializer doesn't have the document serialization algorithm.

Then I change the Document match to:

[code]
I'm confused about the document serialization algorithm implementation. Not sure where is the best place to put the logic. I tried using the `push_node` from the `SerializationIterator` but no luck.
[code

[2019-04-01 21:10] jdm commented on #23130
@5h1rU [This comment](https://github.com/servo/servo/issues/23130#issuecomment-478050900) means that we should not modify the match with the panic. However, we should modify the SerializationIterator `new` method to check for a document node, iterate over its children and push each one of them without pushing the actual document node.

[2019-04-01 22:52] robert-snakard commented on #22843
@jdm code is done. WPT tests pass and creating a room on Mozilla Hubs no longer reports a WheelEvent error. About to rebase, should have the pull request for you by tonight.

[2019-04-02 00:22] #23083 closed

[2019-04-02 00:44] robert-snakard commented on #22843
Pull request is here https://github.com/servo/servo/pull/23154

[2019-04-02 01:47] tdelacour commented on #21263
@highfive assign me

[2019-04-02 01:47] highfive commented on #21263
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-02 02:35] #22853 closed

[2019-04-02 07:05] gterzian commented on #22890
Thanks for the work!

Just looking at fetch/method, I saw this FIXME at https://github.com/servo/servo/blob/fe07d2c575c797ad2ee88422adacea7806f5c5a1/components/net/fetch/methods.rs#L194

which points to this issue https://github.com/servo/servo/issues/14507

it's interesting because it would appear that in the case of `Referrer::Client` we might actually need to do some additional processing insid

[2019-04-03 01:59] miller-time commented on #22890
nice! that issue links to the [exact same part of the spec](https://w3c.github.io/webappsec-referrer-policy/#determine-requests-referrer) that I mentioned in a [previous comment](https://github.com/servo/servo/issues/22890#issuecomment-476451873). I hadn't paid close enough attention to that comment and noticed that there was a separate issue to handle that.

I'll start to poke around in the tests

[2019-04-03 06:30] Axighi commented on #23015
Yes. It's required.

[2019-04-03 11:53] SimonSapin commented on #23132
On Linux, as far as I can tell the code behind this `build_headless` API relies on the presence of a X11 or Wayland server (only without creating a window). So I suspect it requires a hardware GPU, whereas OSMesa provides a CPU-based/software implementation of GL.

(Glutin also has `glutin::os::unix::OsMesaContextExt`, which might help simplify our code a bit but does not otherwise change much.)

[2019-04-03 17:03] emilio commented on #22838
Sorry I never replied here. Shorthands are special, but firefox only serializes some (in particular, it only serializes the ones that used to be longhands).

[2019-04-03 17:28] miller-time commented on #22890
I tried running `./mach test-wpt --release` and then `./mach update-wpt` and it produced a lot of changes, including a lot of new failures. So I might need to investigate those further. For some reason I thought CI runs those tests, but it looks like it only runs `./mach test-unit`

[2019-04-03 17:36] chazanov commented on #23050
@jdm Hi Josh, probably your time is precious.
May you anyway please give me some detailed guidance? I'm willing to learn Rust + Cargo, but currently I know nothing.

[2019-04-04 07:30] tigercosmos commented on #12356
close due to outdated

[2019-04-04 07:30] #12356 closed

[2019-04-04 07:31] tigercosmos commented on #19089
close due to solved

[2019-04-04 07:31] #19089 closed

[2019-04-04 08:38] gterzian commented on #22890
Re the tests, I think we can find relevant ones in https://github.com/servo/servo/tree/ab5a57fadf649ede43ae3f478be6df9bfa69893a/tests/wpt/web-platform-tests/referrer-policy

Re running the tests, when you run the whole suite locally you usually get a lot of timeout errors, so it's best to target a specific folder, or a single test.

I'll run the suite on your PR via a dedicated command, to give us

[2019-04-04 10:00] tigercosmos opened #23161 "about warnings caused by building"
I thought we have already banned any commit caused warning?
Since `servo/etc/ci/buildbot_steps.yml` sets ` RUSTFLAGS: -Dwarnings`

I got the following when running `./mach build -d` with the latest code

[code]

Copied from recent Travis log:
[code]

[2019-04-04 10:06] CYBAI commented on #23161
The warning is introduced in #22923 and as @SimonSapin mentioned in https://github.com/servo/servo/pull/23102#issuecomment-476667246 , the warning will be removed from rust. (For more details, you can check @SimonSapin 's explanation in that comment)

So, I'm going to close this issue.

[2019-04-04 10:06] #23161 closed

[2019-04-04 10:09] tigercosmos commented on #23161
I see. Thanks for the answer. :)

[2019-04-05 00:44] #21262 closed

[2019-04-05 01:59] tdelacour commented on #21263
Hi @jdm (or whoever can help!) I've added a couple of expressions inside the `spawn()` closure in `http_loader.rs` and it now looks like this:
[code]
But this causes a compiler error:
[code]

I _think_ I understand, broadly, what the issue is: I'm referencing `context` within a new thread, but `context` is not threadsafe. I was able to get past the compiler by making mutable clones of the `Resourc

[2019-04-05 05:37] miller-time commented on #22890
@gterzian thanks! I'm starting to drill into these wpt tests. I think I found one [unexpected passing test](https://github.com/miller-time/servo/blob/master/tests/wpt/web-platform-tests/fetch/api/request/request-init-001.sub.html) already. I found a [failing test](https://github.com/miller-time/servo/blob/master/tests/wpt/web-platform-tests/referrer-policy/no-referrer-when-downgrade/attr-referrer/

[2019-04-05 09:09] gterzian commented on #22890
So locally if you run a single test, you'll see the result, but not whether it's unexpected or not. However when you run say `./mach test-wpt --release tests/wpt/web-platform-tests/referrer-policy/`, it will tell you what is expected or unexpected.

So for example the one that you found that is failing on master is probably expected to fail(you'll know if you run the entire folder).

It appears th

[2019-04-05 11:47] jdm commented on #22890
Running a single rest does tell you whether it's unexpected or not. It just may not be clear if it's passing or not from the output, but that's separate from expected/unexpected.

[2019-04-05 11:52] jdm commented on #21263
If you make a clone of `context.timing` outside of the closure and refer to that clone inside of it, you should be able to achieve your goal. That avoids sharing the whole context, and the timing information is already stored in an Arc wrapper (I believe), so cloning it does not actually duplicate it.

[2019-04-05 12:03] tdelacour commented on #21263
amazing, thank you!

[2019-04-05 15:02] jdm commented on #20377
One additional benefit to this change - we could make the Promise constructor APIs take this safe JS context type instead of a GlobalScope reference, and make all DOM APIs that return a Promise take this this type. This would make a bunch of promise-related DOM code more clear.

[2019-04-05 15:26] jdm opened #23167 "Create a marker type that indicates that a compartment has been entered"
https://github.com/servo/servo/issues/22982 is an example of crashes that can occur if we use certain JS APIs without entering a compartment. This can often be challenging to notice because the JS engine will enter compartments for us automatically when content code invokes DOM APIs (like when a script has `let promise = some_element.requestFullScreen();`). That means that when the the Element::Re

[2019-04-05 15:26] jdm commented on #23167
@AZWN Is this something you would be interested in working on?

[2019-04-05 15:56] 5h1rU commented on #23134
Did you mean?
[code]
 Seems like push is not a valid method here.

[2019-04-05 16:24] jdm commented on #23134
I did, yes. Good catch!

[2019-04-05 16:27] jdm opened #23168 "Intermittent failure in hang_monitor_tests"
[code]

[2019-04-05 20:13] soniasingla commented on #23133
@highfive : assign me

[2019-04-05 20:13] highfive commented on #23133
Hey @soniasingla! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-05 23:47] #23140 closed

[2019-04-06 08:59] #22982 closed

[2019-04-07 18:03] #23133 closed

[2019-04-08 05:49] miller-time commented on #22890
I tried changing the default from `Referrer::Client` to `Referrer::NoReferrer`.

[code]

Note: I switched to master again and ran `./mach build --release` and then those referrer-policy tests, and they all ran as expected. So I guess I need to keep trying to figure these out.

Sorry I haven't made much progress on this, I'll keep digging. Should I ping anyone on the pull request? To get any additi

[2019-04-08 06:46] CYBAI opened #23177 "Set PKG_CONFIG_PATH automatically when necessary from mach"
From #23015 , we found `PKG_CONFIG_PATH` is required for building Servo.
So, I sent another PR (#23175) to add the README note.

We should be able to set the env var automatically from `mach` when there's no existing one.

We can do it like following line

https://github.com/servo/servo/blob/3e81a5afe938570ee4a0321e2c0269ed582e3adf/python/servo/command_base.py#L620

As @ferjm mentioned in [IRC](ht

[2019-04-08 06:47] highfive commented on #23177
cc @wafflespeanut

[2019-04-08 07:59] gterzian commented on #22890
Yep so it's the `234 tests had unexpected subtest results` part that would need looking into(and indeed running the tests on master should not have unexpected test results).

It is indeed better to try to first find out what is causing the unexpected test failures, before asking for a review(I've looked at your work and it's not obvious what is wrong from that).

I can suggest picking a test that

[2019-04-08 08:17] AZWN commented on #23167
Looks this is a promising idea :-). Coming two weeks I am a bit short on time, but after that I can see what I can do.

@highfive assign me

[2019-04-08 08:17] highfive commented on #23167
Hey @AZWN! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-08 15:47] #23113 closed

[2019-04-08 15:54] paulrouget opened #23179 "Discussion: lifetime of compositor vs. constellation, and potential compositor refactoring"
A compositor is a lot of things at once:

- it holds the embedder's window object which provides all the info about graphical information (gl methods, window size, etc)
- it runs (in) the "main" thread
- it holds one instance of WebRender
- it holds one WR document and "root" pipeline
- it composites WR output into the gl window (or images)
- it dispatches touch/mouse/scroll/zoom events to the rig

[2019-04-08 15:54] paulrouget commented on #23179
/cc @asajeffrey

[2019-04-08 16:02] asajeffrey commented on #23179
So the idea is that on devices which support multiple windows, there'd be one compositor per window? If we have tabs, there'll be multiple top-level browsing contexts per compositor?

[2019-04-08 17:41] robert-snakard opened #23180 "Add WheelEvent injection automation to WebDriver and TestDriver"
From [this](https://github.com/web-platform-tests/wpt/pull/15990#issuecomment-476306010) comment by @NavidZ

[2019-04-08 17:41] robert-snakard commented on #23180
@highfive: assign me

[2019-04-08 17:41] highfive commented on #23180
Hey @robert-snakard! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-08 17:43] NavidZ commented on #23180
FYI @sahel-sh who was also interested in using mouse wheel events injection API for scrolling.

[2019-04-08 17:48] robert-snakard commented on #23180
Hey @sahel-sh, I'm Robert Snakard. I'm jumping into this completely blind. Currently the only thing I know is Navid's comment above and the line

Do you know anything about the web platform tests?

[2019-04-08 18:21] jdm commented on #23180
@robert-snakard You should be aware that Servo's webdriver test support (along with testdriver, which is a JS test harness that communicates with a webdriver implementation) does not yet exist, and is the subject of a Google Summer of Code Project: https://github.com/servo/servo/wiki/Support-Webdriver-based-tests-project

[2019-04-08 18:24] NavidZ commented on #23180
@robert-snakard
So at this point the [WebDriver specification](https://w3c.github.io/webdriver/) doesn't have any notion of injecting the wheel events. Maybe a good start to file a issue for them. Then each driver (like ChromeDriver, GeckoDriver) would need to go and implement that on their own. We would also need to integrate that in TestDriver in WebPlatformTests like [this PR](https://github.co

[2019-04-08 18:25] jdm commented on #22890
It may be easier to write your own manual tests first, using a script like [this](https://gist.github.com/phrawzty/62540f146ee5e74ea1ab) to print out the received referrer. This should be easier to determine if the problem lies in providing an accurate referrer, or if the problem lies in the code that acts on the requested referrer policy.

[2019-04-08 20:02] robert-snakard commented on #23180
@jdm So I'd have to test this on Chrome/Firefox rather than Servo? And unfortunately I'm not a student but I'll definitely jump in to help with some issues.

@NavidZ So if I've got the timeline correct it's going to look something like:

1. Create a proposal to add wheel event injection to the WebDriver specification.
2. Submit the proposal, wait for a response, fix any issues, etc until proposal

[2019-04-08 21:06] NavidZ commented on #23180
Sounds about right. But as you can see it will take some time. That's why I didn't want you to block landing any tests for your features on this automation. Feel free to land similar tests as manual for now until the automation for this is done and we can circle back and update those.

[2019-04-08 22:26] robert-snakard commented on #23180
Hey @NavidZ, I created an initial proposal [here](https://github.com/w3c/webdriver/pull/1410) so now I've got a couple weeks/months of red tape to jump through.

One thing - some of that red tape says I [need a w3c account](https://labs.w3.org/repo-manager/pr/id/w3c/webdriver/1410). I'm very new in the space, any ideas about getting one of those as part of Servo's organization?

[2019-04-09 05:00] paulrouget commented on #23179
Yes.

That's already the case, but only one visible at a time.

But what we can't do as of now is having multiple *visible* top-level browsing contexts . For example, the HTML content and a HTML sidebar, or HTML content and a chrome UI in HTML.

[2019-04-09 12:20] RazrFalcon commented on #22972
Hi. I've tried the second method and it made API a bit nicer, since I don't need `Ref` and `RefMut` this way, but in the end I have to wrap all my data in `RefCells`, which is horrible and no go for me. Am I missing something?

Here is [the struct](https://github.com/RazrFalcon/resvg/blob/14584ab4872b0f01a8eead5ee60bbb369f46ceaf/usvg/src/tree/nodes.rs#L17) that I put in the rctree. And all fields

[2019-04-09 14:16] NavidZ commented on #23180
It's been so long that I have done the process. I really don't recall this error that is shown to you. Maybe @jgraham knows better.

[2019-04-09 16:01] SimonSapin commented on #22972
I don’t think you’re missing anything. This particular case just hadn’t come up before, element name and namespace [are immutable](https://dom.spec.whatwg.org/#interface-element) in the (web’s) DOM.

This leave GATs, which will likely take longer than when I assume you would like to use selectors in your project, or `has_local_name`/`same_local_name_as`. @emilio How would you feel about migrating

[2019-04-09 16:06] RazrFalcon commented on #22972
Oh, I see.

Yes, I want to use cssparser/selectors in svgdom->resvg.

[2019-04-09 19:04] krk commented on #23144
@highfive: assign me

[2019-04-09 19:04] highfive commented on #23144
Hey @krk! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-10 09:41] emilio commented on #22972
Do you really need a mutable tag / namespace?

I'm ok changing the style  system to such an API, though I find it still slightly unfortunate :)

[2019-04-10 09:50] RazrFalcon commented on #22972
The problem is that I'm using `rctree`, which doesn't support this at all. So I have to rewrite `rctree` and `svgdom` completely to be able to support this.

[2019-04-10 15:51] #23107 closed

[2019-04-10 15:57] jdm commented on #23053
I think we should fix this by [removing this `expect` call](https://github.com/servo/servo/blob/dd2deeabca7eeb40e6a8fe0c1ee4550d64e0c235/components/script/dom/window.rs#L1419-L1421) and returning `false` if the send operation fails instead.

[2019-04-10 15:58] jdm commented on #23053
Then we can [add an automated test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) based on the code I provided earlier. We will want to [assert](https://web-platform-tests.org/writing-tests/testharness-api.html) that the returned rectangle is zero-sized.

[2019-04-10 16:30] jdm commented on #23179
This design sounds reasonable to me. It may even make it easier to experiment with some kind of remote compositing for low-powered VR devices where we run the rest of Servo in the cloud.

[2019-04-10 16:55] soniasingla commented on #23053
@highfive : assign me

[2019-04-10 16:56] highfive commented on #23053
Hey @soniasingla! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-10 17:36] jackxbritton commented on #22344
Hey, I can reproduce this. First issue, can I get assigned?

[2019-04-10 19:05] krk commented on #22346
For enter and backspace, `onkeypress` is not triggered because the result of `legacy_charcode()` is `0` at https://github.com/servo/servo/blob/dd2deeabca7eeb40e6a8fe0c1ee4550d64e0c235/components/script/dom/document.rs#L1411

[2019-04-10 19:07] krk commented on #12126
The issue cannot be reproduced with the latest, dd2deeabca7eeb40e6a8fe0c1ee4550d64e0c235

[2019-04-10 19:19] iulianR commented on #22828
@highfive: assign me

[2019-04-10 19:19] highfive commented on #22828
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2019-04-10 19:42] jdm commented on #12126
Thanks!

[2019-04-10 19:42] #12126 closed

[2019-04-10 19:44] krk commented on #20576
@highfive assign me

[2019-04-10 19:44] highfive commented on #20576
Hey @krk! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-10 19:52] jackxbritton commented on #22344
Did some experimentation, what's happening is that additional unicode characters (`\uf702` and `\uf703`) are being inserted into the current line whenever a key is pressed. This is a clone of https://github.com/servo/servo/issues/22345 and https://github.com/tomaka/winit/issues/778.

[2019-04-10 20:02] jackxbritton commented on #22287
@highfive: assign me

[2019-04-10 20:02] highfive commented on #22287
Hey @jackxbritton! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-10 20:04] jackxbritton commented on #22287
Very cool. There's plenty of discussion for me to catch up on, hoping to get an MR submitted in the next couple days.

[2019-04-10 20:12] krk commented on #23031
@highfive assign me

[2019-04-10 20:12] highfive commented on #23031
Hey @krk! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-10 20:23] iulianR commented on #22828
@himanish-star Do you mind if I pick up this issue? I had a thorough look and I'm confident I can fix this as my first issue. Thank you.

[2019-04-10 20:55] jdm commented on #22344
Thanks for verifying that!

[2019-04-10 20:58] jdm commented on #22346
Thanks for investigating that! The specification says we should be generating these events for any input that represents a [character value](https://w3c.github.io/uievents/#character-value) (see [spec](https://w3c.github.io/uievents/#event-type-keypress) text that starts "if and only if that key normally produces a character value"). It seems like we should not be using the `legacy_charcode` to de

[2019-04-10 23:16] ZeGentzy opened #23189 "Update to Glutin 0.21.0"
https://github.com/servo/servo/blob/7b8a898ac2ffef5ced8202dfd8bb40e37b972334/ports/servo/Cargo.toml#L49

Hey folks. Glutin v0.21.0 is out.

[2019-04-11 05:58] paulrouget commented on #23189
There's some non-trivial changes in this version of Glutin (they way the windows are built and the way the Context is carried, at least, didn't go very far). Testing this will require a bit of work.

@ZeGentzy are you planning to release 0.21 soon?

[2019-04-11 06:04] ZeGentzy commented on #23189
Planning to give it two or so weeks, to do other stuff on my TODO list.

[2019-04-11 14:02] iulianR commented on #21289
Hi! Is it fine if I work on this issue? Thank you!

[2019-04-11 14:28] jdm commented on #21289
@iulianR Yes please!

[2019-04-11 16:06] jackxbritton commented on #23134
@highfive: assign me

[2019-04-11 16:06] highfive commented on #23134
Hey @jackxbritton! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-11 18:33] #22427 closed

[2019-04-11 19:36] iulianR commented on #21289
@highfive: assign me

[2019-04-11 19:36] highfive commented on #21289
Hey @iulianR! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-11 20:33] #23144 closed

[2019-04-11 21:50] jdm opened #23193 "Intermittent panic in /2dcontext/wide-gamut-canvas/canvas-draw-high-bit-depth-images.html"
[code]
Not really sure what to make of this one. The test looks like it could use another step_func though: https://searchfox.org/mozilla-central/rev/6dab6dad9cc852011a14275a8b2c2c03ed7600a7/testing/web-platform/tests/2dcontext/wide-gamut-canvas/canvas-draw-high-bit-depth-images.html#24-47

[2019-04-12 04:14] tdelacour commented on #20455
@highfive assign me

Expecting to need a bit of guidance on this one, but will try to see if I can get through it this weekend!

[2019-04-12 04:14] highfive commented on #20455
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-12 07:35] paulrouget commented on #23189
First issue: glutin_gles2_sys needs a version bump to include the gl_generator update. Otherwise we get 2 different version of gl_generator.

[2019-04-12 07:40] paulrouget commented on #23189
In general, compiling something with glutin should not generate a Cargo.lock with 2 version of `gl_generator`.

[2019-04-12 08:06] paulrouget commented on #23189
Here are a few changes I had to make to avoid dependencies on different version of same packages:

glutin:

[code]

[code]

[2019-04-12 09:18] paulrouget commented on #23189
I manage to test the rc version. Beside the above issues, it looks like it's work ok.

The new way to hold a context is a bit annoying though (`Context<T>` which keeps switching between current and not current, and `make_current` consuming self).

- Servo: https://github.com/paulrouget/servo/tree/glutin-update-rc
- rust-webvr: https://github.com/paulrouget/rust-webvr/tree/glutin-update-rc
- skia:

[2019-04-12 09:27] paulrouget commented on #22571
@jhwgh1968 your latest change in rust-webvr make it impossible to update rust-webvr, as it requires updating so many other components. Can we backout your change and land it again once the bindgen update is ready for all the other components?

[2019-04-12 11:53] jdm commented on #22571
I have successfully updated rust-webve k call. I'll submit a PR.

[2019-04-12 16:44] jdm opened #23198 "Add a mach command to set up rust compiler for particular target"
This would make it easier to script the ARM build setup, which requires fetching the appropriate rust standard library for a particular target. Waiting for the build to complete before continuing is annoying.

[2019-04-12 16:44] highfive commented on #23198
cc @wafflespeanut

[2019-04-12 20:09] #23134 closed

[2019-04-13 00:41] miller-time commented on #22890
So it turns out that having a bunch of small commits ended up being very helpful. By running the tests after each commit I discovered that ebb2ddf introduced all of the failures. I mishandled a lot of uses of LoadData that had a referrer_url set. I added a `None` referrer in several places and caused referrer_url to no longer be used. After fixing this, all of the referrer wpt tests passed!

[2019-04-13 03:41] jhwgh1968 commented on #22571
Sorry about that, @paulrouget. I was planning to open a Servo PR with the other updates right away, but I had some trouble with mozjs versions (hence the related PR that got closed) and wasn't sure about some deeper dependency changes in Cargo.lock.

Thanks for your quick work, @jdm. I had to change more than that [in my commit attempting this](https://github.com/jhwgh1968/servo/commit/0461b8ebc49

[2019-04-13 03:53] jdm commented on #22571
Oh, ick. I'm not sure what change in mozjd would have triggered that.

[2019-04-13 04:34] ZeGentzy commented on #23189
I've submitted your patches, @paulrouget, thank you very much.

[2019-04-14 00:13] iulianR commented on #21289
Started working on this and I have some questions related to the sender argument for `track_image`.

The way I see it, currently `htmlimagelement.rs` and `htmlvideoelement.rs` use `add_cache_listener_for_element` when `find_image_or_metadata` returns `Pending`, which creates an `ImageResponder` and calls `add_listener` with that image listener as sender.

Should I rename `add_cache_listener_for_el

[2019-04-14 19:41] krk commented on #20461
@highfive assign me

[2019-04-14 19:41] highfive commented on #20461
Hey @krk! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-14 19:45] krk commented on #20461
I have a draft PR checking the first field of `#[webidl]` structs. Currently, it prints errors for the structs that have `Reflector` as the first field.

Example error:
[code]

Definition of `XRViewport`:
https://github.com/servo/servo/blob/17204544d975a44f813b96ed3e0eae3b688596bc/components/script/dom/xrviewport.rs#L12-L14

How should I handle the `Reflector`?

[2019-04-14 20:12] KiChjang commented on #20461
@krk If the WebIDL interface does not have a parent, then yes, we should check whether the first field is a `Reflector`, since that's ultimately the JavaScript object that represents the Rust implementation of the WebIDL interface.

[2019-04-15 01:54] miller-time commented on #22890
I've been looking into those last 3 [failing tests](https://build.servo.org/builders/linux-rel-css/builds/11965/steps/shell__4/logs/filtered-wpt-errorsummary.log).

When I changed [this line](https://github.com/servo/servo/pull/23090/commits/9eba56d15c6d2c2c3e6d9ebbcdb102df76383fb9#diff-ffcaa7c334fe34498bc7362e376be445R1786) the referrer changed from `Some(Referrer::ReferrerUrl(doc.url()))` to `No

[2019-04-15 08:05] ferjm opened #23201 "Implement HTMLProgressElement"
This is required to properly implement the media controls UI (#22298).

There's already [some DOM code](https://dxr.mozilla.org/servo/source/components/script/dom/htmlprogresselement.rs) in place for this element, but it seems to be mostly a placeholder. There's no layout code at all yet (that's mostly the reason why I am labeling this one as `E-hard`).

[2019-04-15 13:34] jdm opened #23202 "Update CustomElementConstructor type and exception"
The IDL for CustomElementConstructor was changed in https://github.com/whatwg/html/pull/4525. We should update that as well as the exception used by [this code](https://github.com/servo/servo/blob/17204544d975a44f813b96ed3e0eae3b688596bc/components/script/dom/customelementregistry.rs#L668).

To test these changes, we will need the tests in https://github.com/web-platform-tests/wpt/pull/16328.

[2019-04-15 22:46] #23127 closed

[2019-04-16 02:13] tdelacour commented on #20455
hey @jdm, I've updated the type of `TextPoint.Index` as a kind of first-pass / example of what sort of change I interpreted this issue to call for. Is there any way I could get some very high level feedback on what I've done so far? Mostly just looking for a sanity check that I haven't missed the mark completely before the diff gets too long.

My branch is here: https://github.com/tdelacour/servo/

[2019-04-16 03:22] CYBAI opened #23205 "Intermittent TIMEOUT in /html/semantics/links/links-created-by-a-and-area-elements/htmlanchorelement_noopener.html"
[code]

[2019-04-16 07:09] #23130 closed

[2019-04-16 08:52] kgardas commented on #22581
I see very similar issue on Ubuntu 18.04 LTS too on today nightly build.

[2019-04-16 09:21] ShalokShalom opened #23207 "LibreSSL not included"
This comes when running the current nightly build:

![Screenshot_20190416_112119](https://user-images.githubusercontent.com/6344099/56197759-c7066c00-6039-11e9-8d09-8904144f3e9e.png)

[2019-04-16 10:09] CYBAI commented on #23207
Hi! Thanks for reporting the issue. This looks like duplicate with #21778. I'm going to close this and let's track the issue there! Thanks!

[2019-04-16 10:09] #23207 closed

[2019-04-16 11:37] ShalokShalom commented on #21778
Hi :)

There is no libressl in our repos and I like to run the binarys.

I get the same exact error message on my KaOS system.

OpenSSL 1.1.1.2 is here is use currently.

Thanks

[2019-04-16 11:40] EvsChen opened #23209 "Fresh build failed on ubuntu - mozjs_sys v0.61.8"
I'm building on Ubuntu 18.04.2 LTS in vagrant.

The error log is attached below.

<details>
 <summary>Error log</summary>

[code]
</details>

[2019-04-16 14:14] ShalokShalom opened #23210 "Documentation: Python virtualenv is not installed."
This should be part of the installation instructions.

Simply recommend it in all the build instructions.

Thanks a lot

[2019-04-16 14:25] ShalokShalom commented on #22635
It is python virtualenv and that one is not always preinstalled.

[2019-04-16 14:58] jdm commented on #21778
@ShalokShalom Could you put the full build output in a gist and link it here, please? That seems surprising.

[2019-04-16 15:11] ShalokShalom commented on #21778
It is exactly as in the original post. There is nothing more, no build at all.
Just this line.

[2019-04-16 15:21] gterzian opened #23213 "Make`update-manifest` command fail loudly"
`./mach update-manifest` seems to generally fail silently, compared to the equivalent direct command using `./mach test-wpt --manifest-update`. For example if no servo binary has been build, you'll get a clear error from `./mach test-wpt --manifest-update` and a silent failure from `./mach update-manifest`.

[2019-04-16 15:27] gterzian opened #23214 "Mach update-manifest command can fail with mozilla metadata"
See https://github.com/servo/servo/pull/22769#pullrequestreview-226039488

It looks like a previous call to `./mach update-manifest` had added a `/_mozilla/mozilla/` entry to `tests/wpt/mozilla/meta/MANIFEST.json `, which then made `test-tidy` fail in the following way:

[code]

Subsequent calls to `update-manifest` failed silently.

The fix was to explicitly run  `./mach test-wpt --manifest-updat

[2019-04-16 15:57] ferjm commented on #22280
https://github.com/servo/media/pull/167 was already merged and used in Servo.

[2019-04-16 15:57] #22280 closed

[2019-04-16 15:58] ferjm commented on #22359
@192-sean how are things going here? Are you still working on this issue?

[2019-04-16 16:00] jdm commented on #23214
I suspect this is a specialized issue where the PR was made before a WPT sync that updated the manifest format, and then the manifest update code did not see any change in the file in question and therefore did not rebuild its manifest entry. Probably touching the file would have made it work.

[2019-04-16 16:39] jdm opened #23217 "Make decision task create actions.json artifact"
https://docs.taskcluster.net/docs/manual/using/actions
https://firefox-source-docs.mozilla.org/taskcluster/taskcluster/actions.html
https://searchfox.org/mozilla-central/source/taskcluster/taskgraph/actions

This will allow us to support treeherder's job cancellation, as long as the people who need to cancel jobs have the right scopes present in their accounts.

[2019-04-16 16:40] highfive commented on #23217
cc @wafflespeanut

[2019-04-16 16:40] #23031 closed

[2019-04-16 17:49] nagashayan opened #23218 "Build fails on macOs Sierra"
Build is failing with exception `Your system's gstreamer libraries are out of date`

when I run

` ./mach build --dev ...`

on macOS 10.12.6

[code]

But the exception is misleading I have installed gstreamer 1.14 and even symlinked new version to old.

So when I started digging deeper I found

sys.platform is 'darwin' for macOS.

[code]
so in `command_base.py needs_gstreamer_env()` doesn't handle

[2019-04-16 17:51] nagashayan commented on #23218
@highfive assign me. if you think this issue is valid.

[2019-04-16 17:51] highfive commented on #23218
Hey @nagashayan! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-16 17:55] jdm commented on #23218
@nagashayan [This code](https://github.com/servo/servo/blob/a14b952fa3eedec86e6308213c525538bcb20827/python/servo/bootstrap.py#L49) runs fine for me on macOS 10.12.6, which causes [this code](https://github.com/servo/servo/blob/a14b952fa3eedec86e6308213c525538bcb20827/python/servo/command_base.py#L541-L542) to return immediately without checking the platform type. You should figure out why your pk

[2019-04-16 19:46] krk commented on #20461
@KiChjang After requiring `Reflector` for interfaces that do not extend other interfaces and handling `PaintRenderingContext2D` as per https://github.com/servo/servo/blob/a14b952fa3eedec86e6308213c525538bcb20827/components/script/dom/bindings/codegen/CodegenRust.py#L2205-L2208 there are two errors left in the build:

1. `WindowProxy` definition is not in `WindowProxy.webidl` but in `Window.webidl`

[2019-04-16 19:52] jdm commented on #21289
@iulianR Yes, that sounds like a reasonable way to structure the code. There's one other use of `add_listener` in `window.rs` right now which it's not clear if we can replace with the new APIs, so I don't think we can make it private yet.

[2019-04-16 19:55] jdm opened #23219 "Support Visual Studio 2019"
This requires at minimum:
* updating cmake-rs to the most recent version
* updating [the cmake package](https://github.com/servo/servo/blob/a14b952fa3eedec86e6308213c525538bcb20827/python/servo/packages.py#L6) to a more recent version like 3.14

[2019-04-16 20:34] jdm commented on #23219
The cmake issue can be worked around by installing a newer version so that it's available in the user's PATH.

[2019-04-16 20:41] jdm opened #23220 "Missing gstreamer plugins on CI"
[code]

[2019-04-16 20:41] jdm commented on #23220
libmms.so.0
libfaad.so.2
libcairo-gobject.so.2
libmpg123.so.0

[2019-04-16 21:17] jdm commented on #20455
This looks like what I expected to see! I also agree with all your comments pointing out where documentation doesn't match the code or where the documentation is confusing.

[2019-04-16 21:40] jdm commented on #23219
Hit C++ errors when building mozjs and gave up for the time being.

[2019-04-16 22:36] jdm commented on #20461
Interesting! The WindowProxy declaration can probably move to WindowProxy.webidl; I'm not really sure why it was put there originally. And the TestBindingProxy issue looks like a legitimate bug.

[2019-04-17 01:55] CYBAI commented on #23218
@nagashayan Could you check if you have `PKG_CONFIG_PATH` environment variable in your machine? Maybe the failure is related to [this note](https://github.com/servo/servo#note-please-make-sure-the-required-pkg_config_path-environment-variable-is-set-the-same-as-the-one-provided-from-brew-info-libffi-check-this-comment-for-more-details) 🤔

[2019-04-17 03:12] jhwgh1968 commented on #22571
Thanks for getting that fixed and merged, @jdm. That gets me quite a bit closer!

[2019-04-17 05:17] 192-sean commented on #22359
Yes I will submit a pr shortly.

[2019-04-17 10:13] ferjm commented on #22359
@192-sean cool. Let me know if you need any help.

[2019-04-17 10:52] ceyusa commented on #23220
or just disable those elements if  we don't have tests using those libraries... though I would enable (including the library) faad (AAC audio format)

[2019-04-17 12:04] jdm opened #23222 "Intermittent timeout in /referrer-policy/css-integration/svg/processing-instruction.html"
[code]

[2019-04-17 19:23] krk commented on #20461
I have moved `WindowProxy` declaration to its own file.

[2019-04-17 19:38] krk commented on #20461
Search for `TestBindingProxy`  in the repo does not reveal much, it is only declared and has an `impl` in https://github.com/servo/servo/blob/eac2607a06db56a468cae357a9ab0ed6a4945d82/components/script/dom/testbindingproxy.rs#L13

I declared it as

[code]

Finally, `./mach build -d` can finish successfully :smile:

[2019-04-18 05:01] jdm opened #23224 "Support GL video in Magic Leap"
I believe there are three parts to this work:
* expose the RenderUnix implementation to Android platforms ([here](https://github.com/servo/media/blob/5462b0542b47c606399e3c2b7c4a4db35ae4466e/backends/gstreamer/render.rs#L13) and [here](https://github.com/servo/media/blob/5462b0542b47c606399e3c2b7c4a4db35ae4466e/backends/gstreamer/render-unix/lib.rs#L10))
* pass the GL context information from the

[2019-04-18 05:47] ferjm commented on #23224
Most part of this work will likely happen in #22920

[2019-04-18 05:50] CYBAI opened #23225 "Intermittent TIMEOUT in /performance-timeline/po-observe.html"
[code]

[2019-04-18 06:21] jdm commented on #23224
Bah, I can't believe I forgot that I filed that.

[2019-04-18 08:08] ferjm commented on #23201
Actually, we can implement the media controls with `<input type="range">`.

[2019-04-18 12:33] KwanEsq opened #23227 ":-servo-case-sensitive-type-attr() is no longer needed now that case-sensitive attribute flag ([attr=val s]) is supported"
...I think. Certainly the wpt tests in html/rendering/non-replaced-elements/lists still seem to pass.

Case-sensitive flag was implemented in [bug 1512386](https://bugzilla.mozilla.org/show_bug.cgi?id=1512386) which was synced in #22466 a519d9ecc3ba4193147529d923b09946d4c843fd

[2019-04-18 13:38] highfive commented on #23227
cc @emilio

[2019-04-18 15:57] #23227 closed

[2019-04-18 16:38] nagashayan commented on #23218
hey sorry about it, pretty new here! Yes it was PKG_CONFIG_PATH. configured and build succeeded.

[2019-04-18 16:38] nagashayan commented on #23218
close the issue.

[2019-04-18 16:38] #23218 closed

[2019-04-18 16:58] nagashayan commented on #21255
@highfive assign me

[2019-04-18 16:58] highfive commented on #21255
Hey @nagashayan! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-18 17:03] nagashayan commented on #21255
I see responseEnd and fetchStart is fixed now. this should be good to go now.

[2019-04-18 17:54] jdm commented on #21255
Great!

[2019-04-18 19:27] krk commented on #9869
Twitter does not seem to be jumpy while scrolling and hovering, version a14b952fa3

[2019-04-18 19:32] krk commented on #18299
This can be reproduced with https://github.com/servo/servo/issues/18299#issuecomment-325787414 at a14b952

[2019-04-18 19:34] krk commented on #18811
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 19:36] krk commented on #18813
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 19:39] krk commented on #18817
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 19:41] krk commented on #18837
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 19:44] krk commented on #16694
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 19:51] krk commented on #16299
In a14b952fa3eedec86e6308213c525538bcb20827, the page cannot be horizontally scrolled. There are other problems with the layout though.

[2019-04-18 19:58] krk commented on #16257
Test page http://filamentgroup.github.io/woff2-feature-test/test.html

Servo: `Supports WOFF2: false`
Firefox 66: `Supports WOFF2: true`

[2019-04-18 20:01] krk commented on #15597
This is reproducible with a14b952fa3eedec86e6308213c525538bcb20827, still very noticably.

[2019-04-18 20:03] krk commented on #15250
Same as https://github.com/servo/servo/issues/15250#issuecomment-334942669 with a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 20:08] krk commented on #14949
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 20:10] krk commented on #14659
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 20:10] krk commented on #14659
This can be reproduced in a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 20:14] krk commented on #10951
They are still not rendered, there are no errors logged to the terminal, tested with a14b952fa3eedec86e6308213c525538bcb20827

[2019-04-18 20:21] jdm commented on #16299
Let's close this, in that case.

[2019-04-18 20:21] #16299 closed

[2019-04-18 20:55] jdm commented on #9869
Thanks!

[2019-04-18 20:55] #9869 closed

[2019-04-19 03:15] theDragonFire opened #23231 "Servo doesn't detect virtualenv?"
Hello, I am attempting to install Servo. I have run `./mach bootstrap`, and it has completed successfully as far as I can tell. However, when I try to run `./mach run github.com`, it gives me the message that `Python virtualenv is not installed. Please install it prior to running mach.` I have installed virtualenv using `pip install virtualenv`, but it still gives me the same error.

[2019-04-19 03:15] atouchet commented on #22842
Did #23215 fix this?

[2019-04-19 05:50] georgeroman commented on #23231
The default of `pip` is probably set to `python3`, but you need to install `virtualenv` for `python2`. Try running `pip2 install virtualenv` or `python2 -m pip install virtualenv`.

[2019-04-19 11:59] ferjm commented on #22842
According to [this comment](https://github.com/servo/servo/pull/23215#issuecomment-484671419) it seems that it did fix this.

[2019-04-19 11:59] #22842 closed

[2019-04-19 15:27] theDragonFire commented on #23231
This worked. Thanks.

[2019-04-19 15:46] #23231 closed

[2019-04-19 21:18] #22768 closed

[2019-04-20 19:17] nagashayan commented on #21255
The duration attribute MUST return a DOMHighResTimeStamp equal to the difference between responseEnd and startTime, respectively.

[2019-04-20 19:24] nagashayan commented on #21255
startTime issue https://github.com/servo/servo/issues/21254 should be completed before we can work on duration. I see the PR is here https://github.com/davidweitzenfeld/servo/pull/1 but its for forked branch. @jdm  right?

[2019-04-21 16:07] georgeroman commented on #22884
@highfive assign me

[2019-04-21 16:07] highfive commented on #22884
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-21 17:30] jhwgh1968 commented on #22571
After much struggle with its packages, I am finally giving up on Raspbian. I finally got to the point where I could nail down versions, and much later than I had hoped discovered Debian Stretch is still shipping GStreamer version 1.10. As mach helpfully points out, Servo requires at least 1.12, and coaxing debuilder to work in my hacked cross chroot is a bridge too far.

My 64-bit build for Arch L

[2019-04-21 17:30] #22571 closed

[2019-04-21 23:54] KiChjang commented on #23167
IIRC @nox has also mentioned before that an API where functions that require entering compartments can be modeled using closures, whereby the code in the closure body is run within the compartment that the caller supplies. Would this be another feasible idea to implement?

[2019-04-22 14:25] jdm commented on #23167
That's another option, but it can lead to redundantly entering the same compartment over and over if a bunch of those APIs are used together, and leads to harder-to-read code.

[2019-04-22 14:26] jdm commented on #21255
Indeed. If you want to cherry-pick that commit and build on top of it, that would be fine.

[2019-04-22 14:27] jdm commented on #21254
@davidweitzenfeld It looks like you made progress but never returned to make the PR against the right repository. Are you still planning to complete this work?

[2019-04-22 14:33] nagashayan commented on #21255
right! I will do that. thanks.

[2019-04-22 14:51] ferjm opened #23241 "Not able to play short mp3 files"
It seems that the media player is not working well with short mp3 file. For example, with the one used in the [audio_loop_base WPT](https://github.com/servo/servo/blob/328244684a8b1f98d515d5f40655b9cf7347affd/tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/audio_loop_base.html), I see that we properly fetch and push all the data, but the player remains in the buffering

[2019-04-22 16:40] #19797 closed

[2019-04-22 17:39] jdm opened #23242 "Remove use of auto media backend"
The decision of which media backend to use in Servo should be made by code in the Servo repository. This will avoid issues like https://github.com/servo/servo/pull/23229#issuecomment-485359266 in the future. We can remove [this import](https://github.com/servo/servo/blob/4e12deb7b6b61e2e329e8eaee431eddb473d1252/components/servo/lib.rs#L107) and duplicate [this logic](https://github.com/servo/media

[2019-04-22 19:07] #22752 closed

[2019-04-22 23:01] #20576 closed

[2019-04-23 07:55] ferjm commented on #23241
CC @ceyusa

[2019-04-23 17:45] #23242 closed

[2019-04-23 20:49] #20461 closed

[2019-04-23 21:17] krk commented on #22957
Servo 54f54d194df1911d1dd35a82dd87331853f985a3 can be built without errors with `pathfinder_gl`  https://github.com/pcwalton/pathfinder/commit/7cd05cd3effe96d8179adb208d093caa855d64ea version added to `components/canvas/Cargo.toml`.

[2019-04-23 22:26] #21263 closed

[2019-04-24 07:55] krk commented on #18249
Layout is still wrong in a different way with 54f54d194d.

![image](https://user-images.githubusercontent.com/1447853/56642097-03a81800-6677-11e9-9c4c-22ea33f48be9.png)

[2019-04-24 13:48] jdm opened #23251 "Mac taskcluster WPT jobs intermittently timing out while running tests"
[code]

[2019-04-24 21:04] jdm opened #23257 "Add webidl annotation to pass InCompartment argument to DOM methods"
Based on the work in #23253:

Let's add a new `in_compartment` property to [this configuration](https://github.com/servo/servo/blob/ec680de0635932201655318a3acf446c40b14e03/components/script/dom/bindings/codegen/Bindings.conf) - for a given interface, this property will be a list of method/property names that expect to receive `InCompartment` arguments.

We will need to store this `in_compartment`

[2019-04-24 21:06] jdm commented on #23257
It's easiest to start small here - make the fetch method from Window.webidl take an InCompartment object, and adjust the code generation until everything lines up.

[2019-04-24 21:35] jdm opened #23258 "Intermittent timeout in /_mozilla/gfx-rs-gecko/descriptor-ranges.html"
[code]

[2019-04-24 23:36] #23251 closed

[2019-04-25 02:35] cheesepaulo commented on #15759
Solution is manual install of package libssl1.0-dev and his dependencies..

Find it at https://packages.debian.org/jessie/libssl-dev

* ubuntu 19.04 ruby 2.2 ruby 2.3 ruby 2.6 all versions works after this fix.

[2019-04-25 05:58] g10guang opened #23261 "What's different from chrome V8?"

[2019-04-25 06:51] CYBAI commented on #23261
As you can see from the [V8](https://v8.dev/)'s official blog website

We can know it's a [`JavaScript Engine`](https://en.wikipedia.org/wiki/JavaScript_engine).

Then, let's see [Servo](https://servo.org/)'s official website

It's a [`Browser Engine`](https://en.wikipedia.org/wiki/Browser_engine).

A browser engine will have a JS Engine to run JS code.
In Servo, we have binding with SpiderMonkey

[2019-04-25 06:51] #23261 closed

[2019-04-25 07:54] paulrouget commented on #12604
In compositor.rs, where ever `waiting_for_results_of_scroll` is set to `false` (in `composite_specific_target` and `NewScrollFrameReady`) we should compute the new cursor. To do so, we just need to reproduce what `IOCompositor::dispatch_mouse_window_move_event_class` does.

[2019-04-25 07:55] highfive commented on #12604
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-04-25 10:31] CYBAI commented on #21990
I can reproduce this with `./mach run https://mobile.twitter.com` on macOS.

[2019-04-25 14:38] jdm opened #23264 "CopyTexImage2D needs to invalidate the texture"
From "Framebuffer Completeness" in https://www.khronos.org/registry/OpenGL/specs/es/2.0/es_full_spec_2.0.pdf:
"Changing  the  width,  height,  or  internal  format  of  a  texture  image  that  isattached to the framebuffer by callingTexImage2D,CopyTexImage2DandCompressedTexImage2D."

TexImage2D calls invalid_texture if there is a bound framebuffer, but CopyTexImage2D does not.

[2019-04-25 14:40] jdm opened #23265 "Verify that TexImage2D invalidates a texture that is attached to the framebuffer when a framebuffer is not bound"
Any call to TexImage2D that changes the width, height, or internal format of a texture that is attached to the framebuffer should affect the result of checking the framebuffer for completeness. It's not clear to me if that happens correctly a framebuffer is not bound right now.

[2019-04-25 14:45] jdm commented on #23265
Same concern about RenderBufferStorage. I think DeleteTexture and DeleteRenderbuffer are ok because the spec specifically refers to "a framebuffer object that is bound to the framebuffer".

[2019-04-25 14:47] jdm commented on #23265
Relevant spec: "Framebuffer completeness" from https://www.khronos.org/registry/OpenGL/specs/es/2.0/es_full_spec_2.0.pdf

[2019-04-25 17:33] jdm opened #23266 "Create a helper API for entering a DOM object's compartment"
Writing code like `JSAutoCompartment::new(global.get_cx(), global.reflector().get_jsobject().get());` isn't great. We should create a wrapper API that accepts a DomObject reference, then gets the JSContext from the object's global and uses the object's reflector to return a JSAutoCompartment value. It could look like `fn enter_compartment(object: &DomObject) -> JSAutoCompartment`, and we could fix

[2019-04-25 17:33] highfive commented on #23266
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-04-25 17:46] asajeffrey opened #23267 "Magic Leap build has deprecation warnings with SDK v0.20.0"
[code]

[2019-04-25 17:51] asajeffrey commented on #23267
IRC chat with @jdm https://mozilla.logbot.info/servo/20190425#c16245518

TL;DR: suppress the deprecation for now and kick that can down the road.

[2019-04-25 18:01] #18599 closed

[2019-04-25 18:07] asajeffrey commented on #23267
#23268 suppresses the error, but I'm leaving this issue open until we update to v0.20.0 or later of the mlsdk.

[2019-04-25 22:07] Manishearth opened #23269 "Gamepad should be live"
The current Gamepad impl requires a new `getGamepads()` request to get updated gamepad state. This doesn't match what browsers do, see https://github.com/immersive-web/webxr/issues/608#issuecomment-486844204 . The `Gamepad` objects once obtained should be keeping themselves up to date.

We'd need some kind of way for a page to register interest in gamepad info and then get gamepad updates every no

[2019-04-25 22:58] Manishearth opened #23271 "Audioparam tests seem to have lots of failures with the specific values"
Many of the AudioParam test results problems like these:

https://github.com/servo/servo/blob/36bb42525a4bda8b9ed72a996e0fcf00af4da1c3/tests/wpt/metadata/webaudio/the-audio-api/the-audioparam-interface/audioparam-linearRampToValueAtTime.html.ini#L2

It seems like something is being offset or perhaps the values are just completely wrong. Servo and Firefox do sound the same with the same AudioParam

[2019-04-26 01:49] #22890 closed

[2019-04-26 06:27] g10guang commented on #23261
@CYBAI  So servo is like electron?

In mobile App, servo can Render css/Image. So will servo better than v8?

In china, some browser is base on v8. Such as [QQ browser](https://browser.qq.com/),  [360 Browser](https://browser.360.cn/). If they switch v8 to servo, will it be much easier to develop?

Is servo based on v8 or firefox core?

I am a green hand. Maybe I will ask some stupid questions.

[2019-04-26 08:04] CYBAI commented on #23261
Before answering following questions, I will recommend you to read [this post](https://www.html5rocks.com/en/tutorials/internals/howbrowserswork/) to see `How Browser Works`; there's also a Simplified Chinese translation for it.

Quoted from the post

For example,

`Browser Engine` of Chrome, Opera, Vivaldi and also **`360 Browser`** is [`Chromium`][Chromium]. (Btw, there's a [Chromium-based brows

[2019-04-26 11:22] KiChjang commented on #23261
@g10guang It must be stressed that Servo is an experimental browser engine, and so is not a fully featured engine that can be compared with others such as Chromium, Webkit or Gecko.

[2019-04-26 17:58] jdm opened #23274 "libstd docs are missing from doc.servo.org"
Searching for std::vec does not find anything meaningful, for example.

[2019-04-26 17:59] jdm commented on #23274
And yet https://doc.servo.org/std/vec/struct.Vec.html exists, so maybe this is a problem with rustdoc?

[2019-04-26 21:05] jdm opened #23277 "Intermittent harness failure in /css/cssom-view/matchMedia-display-none-iframe.html"
[code]
This looks like a test harness error.

[2019-04-26 21:08] jdm commented on #23277
Sigh. Based on https://github.com/web-platform-tests/wpt/blob/fd085a713370bbd153f6b85eb64de44a52c3244d/resources/testharness.js#L2366-L2383, it looks like the onload handler for the iframe in https://github.com/web-platform-tests/wpt/blob/master/css/cssom-view/matchMedia-display-none-iframe.html is being invoked multiple times.

[2019-04-26 22:25] jdm opened #23278 "Increase concurrent windows taskcluster jobs"
With the introduction of the windows x86 job, they appear to be sequential. There's no dependency between them; is there some limitation for the number of available windows workers that we need to change somewhere, @SimonSapin ?

[2019-04-27 06:19] SimonSapin commented on #23278
I’ve changed `maxCapacity` from 1 to 6 in https://tools.taskcluster.net/aws-provisioner/servo-win2016/edit. Feel free to tweak this (and `minCapacity` and `idleTimeoutSecs`) some more.

[2019-04-27 07:34] jdm commented on #23278
This appears to be working correctly. Thanks!

[2019-04-27 07:34] #23278 closed

[2019-04-27 14:25] #22897 closed

[2019-04-27 19:18] krk commented on #22957
I have created a demo project by duplicating the included demo for SVG and reusing it to render `turtle graphics`, maybe it is of any use here: https://github.com/krk/pathfinder/tree/pf3-turtle

![image](https://user-images.githubusercontent.com/1447853/56854111-d2a73c00-6931-11e9-84fd-c3ccce188062.png)

Most of the turtle-renderer is copied directly from the svg-renderer demo.

[2019-04-28 01:12] reesmichael1 commented on #12604
@highfive: assign me

[2019-04-28 01:12] highfive commented on #12604
Hey @reesmichael1! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-04-28 02:40] tigercosmos commented on #23209
I use a new environment of Ubuntu 18.04 in Docker, and encountered errors with `mozjs_sys v0.61.12`

<details>
<summary>build log</summary>
[code]
</details>

[2019-04-28 02:44] jdm commented on #23209
Seems like it did not run configure, which would have generated the makefile :<

[2019-04-28 04:13] tigercosmos commented on #23209
Even I used new 16.04 and followed `.travis.yml` steps to build, it still failed on `mozjs_sys v0.61.12`. Shall we suspect it is an upstream issue?

[2019-04-28 12:50] jdm commented on #23209
Can you reproduce it if you clone mozjs and build it directly?

[2019-04-28 14:23] tigercosmos commented on #23209
I can.

<details>

[code]

</details>

[2019-04-28 15:20] jdm commented on #23209
@tigercosmos Could you try checking out older versions to see when this stopped working for you?

[2019-04-28 15:23] jdm commented on #23209
Although this is interesting:
[code]
It comes from [this code](https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/python/mach/mach/mixin/process.py#L19-L23). What if you set your SHELL variable to /bin/bash?

[2019-04-28 15:49] pylbrecht commented on #23150
I looked into this, but I still have some trouble sorting things out. I'll probably hit you up on IRC anyway, but here are some questions that came to my mind:

The `Metadata` struct returned by `load_whole_resource()` already has a member `timing` of type `ResourceFetchTiming`. Can't we just use that instead of making a new struct?

I guess the callers of `load_whole_resource()` should call `subm

[2019-04-28 15:55] jdm commented on #23150
Good point!

Yes.

[2019-04-28 16:29] tigercosmos commented on #23209
finally, I built mozjs successfully by set `SHELL=/bin/bash` and installed clang with the steps in [the post](https://blog.kowalczyk.info/article/k/how-to-install-latest-clang-6.0-on-ubuntu-16.04-xenial-wsl.html)

Then I tried to build servo and fell into #21970 :(

[2019-04-28 17:36] pylbrecht commented on #23150
Thank you, that assures my approach so far.
Are there any tests existing tests I can use to verify? I feel like some of the ones that failed while working on #23145 may matter here?

[2019-04-29 09:22] paulrouget commented on #23189
This means we have a duplicate package (nix). I think we can work around that for now.

[2019-04-29 10:22] ferjm opened #23286 "Split registered_mutation_observers in two"
#22743 introduces a `NodeRareData` struct to store ... well... rare data. Ideally, this data should only be lazily initialized by setters, but the existing mutation observers getter is also initializing it, and that breaks the sole purpose of this struct.

[2019-04-29 10:24] ferjm opened #23287 "Merge NodeRareData and ElementRareData"
#22743 introduces a struct to store Node's and Element's rare data. We should ideally merge both structs and let them share the same storage.

[2019-04-29 14:45] #22719 closed

[2019-04-29 14:49] jdm opened #23290 "Intermittent reftest failures due to font selection choices"
Test:
<img width="414" alt="Screen Shot 2019-04-29 at 10 48 40 AM" src="https://user-images.githubusercontent.com/27658/56904505-5f561500-6a6c-11e9-8a5e-c0fe0d56ebae.png">
Reference:
<img width="380" alt="Screen Shot 2019-04-29 at 10 48 56 AM" src="https://user-images.githubusercontent.com/27658/56904519-6715b980-6a6c-11e9-9f16-4f97ef94878d.png">

https://searchfox.org/mozilla-central/source/testi

[2019-04-29 17:59] #22290 closed

[2019-04-29 19:37] #23167 closed

[2019-04-30 17:19] jgraham commented on #22619
Adding multiple sessions to the server probably isn't that easy in the sense that the `webdriver` crate isn't designed to have multiple clients at a time, and ensuring the sessions are isolated on the servo side seems like it would be a lot of work since you need to maintain a map between session id and all the resources associated with that session.

Possibly this just means "shutting down a sess

[2019-04-30 20:51] kingoftheconnors opened #23295 "Infinite Hanging at "Environment Initialized for: x64""
On Windows 10, I'm trying to start servo and it hangs on `[vcvarsall.bat] Environment initialized for: 'x64'` FOREVER!

When using CTRL-C to interrupt, I get this traceback.
[code]

Why does servo run into a situation where it waits infinitely?

[2019-04-30 20:56] jdm commented on #23295
@kingoftheconnors What command are you running that triggers this?

[2019-04-30 20:56] jdm commented on #23295
Also, how long have you waited for more output?

[2019-04-30 21:59] asajeffrey commented on #22069
OK, so most of the link errors are caused by https://github.com/servo/mozjs/blob/smup66/mozjs/build/moz.configure/toolchain.configure#L1358-L1368

This switches off the inline attributes on libc++ headers when doing clang android builds. Unfortunately, the libc++ distributed by magicleap doesn't include the inline symbols, hence the link errors.

Commenting out those settings gets rid of most link

[2019-04-30 22:20] asajeffrey commented on #22069
Unfortunately, not all of them, there are still relocation errors, for instance:
[code]
Adding the `-mcmodel=large` option reduces this to one error, but it's still a blocker:
[code]
This is with a `-fPIC` flag, so the hint from clang is a red herring.

[2019-05-01 00:07] kingoftheconnors commented on #23295
7 minutes at max so far. I'll let you know if it gets copiously high.

This happens on `mach.bat build` and `mach.bat check`
I haven't checked any others.

[2019-05-01 00:27] kingoftheconnors commented on #23295
Alright. For some reason it started working. My current theory is that the path hadn't updated on the command line, and closing and reopening it (sometime between now and four hours ago) did the trick.

Thank you for your concern and being so prompt!

[2019-05-01 00:27] #23295 closed

[2019-05-01 09:56] tdjastrzebski commented on #18154
Hi, what is the status of iOS support? I see iOS is still not mentioned on https://servo.org page.

[2019-05-01 11:40] blairmacintyre commented on #18154
I too would love to see it on iOS ....

[2019-05-01 17:45] #20520 closed

[2019-05-01 19:10] jdm opened #23297 "Document check_dynamic_symbols.py's purpose and how to deal with errors"
It's dumping symbols in the final shared library that are dynamic, but it's not clear why we care about those and what to do if new ones are reported (besides add them to the list of allowed symbols).

[2019-05-01 22:13] Manishearth opened #23298 "Immersive mode just exits when in Daydream mode"
WebVR and WebXR work fine when using an Android device with the headset specifically set to Cardboard. However, on Daydream it enters the "press home button" screen, and after I do that it just exits immersive mode. This has happened before.

The test I'm using is https://manishearth.net/sand/webgl-to-webvr/webvr.html

cc @paulrouget

[2019-05-01 23:02] jdm commented on #23057
Are you still working on this @cdeler?

[2019-05-02 03:09] jdm opened #23301 "WPT nightly sync is broken"
[code]

[2019-05-02 03:09] jdm commented on #23301
This started on april 30.

[2019-05-02 03:13] jdm opened #23302 "Linux perf data s3 upload is broken"
[code]

[2019-05-02 04:02] jdm opened #23303 "Android nightly build is broken"
The linux cross builders are using an older version of cmake than is allowed.

[2019-05-02 05:40] reesmichael1 commented on #12604
I have a simple potential fix over on [my fork](https://github.com/reesmichael1/servo/commit/68469ec3cfffc5ef12a5a3e3ff360013fbcf0eb9), but I wanted to ask a few questions about it here before opening a PR if that's ok.

As far as I can see, we need to have some way of keeping track of the cursor location, since any mouse movements are sent in from outside (for example, in `ports/glutin/headed_win

[2019-05-02 08:55] CYBAI opened #23305 "Button shown incorrectly in GitLab wiki page"
While accessing [this page](https://gitlab.haskell.org/ghc/ghc/wikis/explicit-type-application), I found the buttons are shown incorrectly in Servo.

#### In Servo

<img width="1025" alt="圖片" src="https://user-images.githubusercontent.com/6782666/57065022-1370cd80-6d03-11e9-8424-2bbae5d6502f.png">

#### In Firefox

<img width="1021" alt="圖片" src="https://user-images.githubusercontent.com/6782666/5

[2019-05-02 08:57] CYBAI commented on #20898
I also cannot scroll in [this GitLab Wiki page](https://gitlab.haskell.org/ghc/ghc/wikis/explicit-type-application). Not sure if we can have a meta-issue for this issue 🤔?

[2019-05-02 09:01] SimonSapin commented on #23302
This is the upload of performance data. The Nightly build was moved to Taskcluster in https://github.com/servo/servo/pull/22464.

[2019-05-02 09:10] paulrouget commented on #12604
Yes

I can't think of a way to do that. @jdm do you think there is a way to test the cursor type?

[2019-05-02 09:27] ferjm commented on #23305
The buttons are using SVG:

[code]

[2019-05-02 09:29] CYBAI commented on #23305
Oops,  I mean the `New Page`, `Page History` and `Edit`. Maybe I should describe more detail, thanks!

[2019-05-02 12:12] gterzian commented on #21206
Note that "unit-of-related-similar-origin-browsing-contexts" is gone from the spec, and has been replaced with a new concept of https://html.spec.whatwg.org/#similar-origin-window-agent

[2019-05-02 12:14] gterzian commented on #20567
Note that the spec has introduced a new concept of "agent clusters"(as well as "agent"), which roughly maps to a process within which memory can be shared between "agents"(event-loops essentially).

https://html.spec.whatwg.org/#integration-with-the-javascript-agent-cluster-formalism

https://html.spec.whatwg.org/#can-share-memory-with

[2019-05-02 12:43] jdm commented on #12604
Nope. Cursor data isn't exposed to the web.

[2019-05-02 13:11] gterzian opened #23306 "Implement formal concepts of agents, and agents cluster - spec changes"
The HTML spec introduced two new concepts to integrate with concepts from Javascript, those are

1. Agent clusters: https://html.spec.whatwg.org/#integration-with-the-javascript-agent-cluster-formalism
2. Agents: https://html.spec.whatwg.org/#integration-with-the-javascript-agent-formalism

Agents are basically independent threads of executions, pretty close to what we have as a [`ScriptThread`](h

[2019-05-02 13:49] gterzian opened #23307 "Make groupings of browsing context comply with spec changes"
![Screen Shot 2019-05-02 at 9 13 01 PM](https://user-images.githubusercontent.com/2792687/57077625-17124d80-6d1f-11e9-84c0-24a3522da14f.png)

"unit of related similar-origin browsing contexts" are dead, long live "unit of related similar-origin browsing contexts"!

The spec now reads that a user-agent must have a single [browsing-context-group-set](https://html.spec.whatwg.org/#browsing-context-gr

[2019-05-02 14:16] CYBAI opened #23308 "Support module worker"
whatwg/html#608
w3c/ServiceWorker#831

[2019-05-02 16:45] KaczuH commented on #21259
@highfive: assign me

[2019-05-02 16:45] highfive commented on #21259
Hey @KaczuH! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-02 18:06] jdm commented on #23298
Logcat's output gives me a crash dump, and ndk-stack shows me this:
[code]

[2019-05-02 18:08] jdm commented on #23298
So it's coming from somewhere in https://github.com/servo/rust-webvr/blob/e059e142148444ed1927b6bea24cacd0e241a0d8/rust-webvr/src/api/googlevr/display.rs#L558-L584. I'll see if a debug build shows me more.

[2019-05-02 18:10] jdm opened #23311 "ndk-stack command doesn't understand android target directory"
When I have a build done with `--android`, I have `target/android/armv7-linux-androideabi/debug/...`. The ndk-stack command looks for `target/armv7-linux-androideabi/...`, so that it can support x86 android builds done with `--target i686-linux-android`.

[2019-05-02 18:10] highfive commented on #23311
cc @wafflespeanut

[2019-05-02 18:11] jdm commented on #23311
https://github.com/servo/servo/blob/834d3193a2ed016093b6b997d29df5a607715956/python/servo/devenv_commands.py#L236-L258

[2019-05-02 18:19] jdm commented on #23298
Suspicious output:
[code]

[2019-05-02 18:35] jdm commented on #23298
05-02 14:24:59.575   934  1012 W VrController: Failed to set VR thread, system not in VR mode.
05-02 14:24:59.616   934  2388 I ActivityManager: START u0 {cmp=com.google.vr.vrcore/.transition.TransitionViewActivity} from uid 10071
05-02 14:25:00.168   934  6867 D NotificationListeners: Disabling component com.google.vr.vrcore/.notification.VrNotificationService
05-02 14:25:00.171  6387  6387 D VrC

[2019-05-02 18:45] jdm commented on #23298
I see this during the bit where we enter the VR metaworld that is supposed to fade out into the VR content from Servo:
[code]
And then later on I see the VR stuff shutting down before I see the Servo window appear in the headset.

[2019-05-02 20:24] jdm commented on #23298
Something calls GVRService.stopPresent. I'm going to try to trace that backwards and determine who and why.

[2019-05-02 22:17] asajeffrey commented on #22069
Aha! Turns out I'd only updated the tools in `/Users/ajeffrey/MagicLeap/mlsdk/v0.20.0-hacked/tools/toolchains/bin`, not the ones in `/Users/ajeffrey/MagicLeap/mlsdk/v0.20.0-hacked/tools/toolchains/aarch64-linux-android/bin`, and `/Users/ajeffrey/MagicLeap/mlsdk/v0.20.0-hacked/tools/toolchains/bin/aarch64-linux-android-clang` uses `/Users/ajeffrey/MagicLeap/mlsdk/v0.20.0-hacked/tools/toolchains/aar

[2019-05-02 22:30] asajeffrey commented on #22069
The binutils issue (from 2015!) https://sourceware.org/bugzilla/show_bug.cgi?id=18668, fixed in 2.26. The mlsdk v 0.20.0 is on binutils 2.25.

[2019-05-03 01:02] #23303 closed

[2019-05-03 01:44] CYBAI opened #23314 "Support the new Japanese era (Reiwa)"
URL: https://reiwa-yet.glitch.me/

Bugzilla for Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1543641

In Firefox Nightly:
<img width="1680" alt="FirefoxNightly" src="https://user-images.githubusercontent.com/6782666/57116424-02ba6900-6d90-11e9-821b-1653eb067127.png">

In Servo
<img width="1680" alt="Servo" src="https://user-images.githubusercontent.com/6782666/57116411-eb7b7b80-6d8f-11e9-

[2019-05-03 07:19] KaczuH commented on #23266
@jdm I would like to try this issue. I just need a small explanation. Your proposed solution `enter_compartment`. Should it be a standalone function or method on one of structs in `components/script/compartments.rs`? Or maybe you had something else in mind?

[2019-05-03 07:53] gterzian commented on #23306
Here is one more potential reason to track the agent/agent-clusters concept at the level of the constellation: https://github.com/whatwg/html/issues/4339

At least as I understand it, shared workers could live in their own agent clusters, and be "shared" with agents inside other clusters(processes). Having the constellation retain a global view of clusters could facilitate such a setup(versus our

[2019-05-03 07:54] gterzian commented on #22501
@asajeffrey It seems there is some discussion going on over at https://github.com/whatwg/html/issues/3727  which seems to address a very similar issue.

[2019-05-03 08:26] #23041 closed

[2019-05-03 11:22] jdm commented on #23266
I was imagining a standalone function.

[2019-05-03 11:43] KaczuH commented on #23266
@highfive assign me

[2019-05-03 11:43] highfive commented on #23266
Hey @KaczuH! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-03 14:20] nehalem501 commented on #21261
@highfive: assign me

[2019-05-03 14:20] highfive commented on #21261
Hey @nehalem501! Thanks for your interest in working on this issue. It's now assigned to you!