[2017-01-25 18:15] Manishearth commented on #15194
Nah. It is okay to drop info during computing. Should parse+compute back to the same computed value.

[2017-01-25 18:17] jdm opened #15227 "Intermittent failure in /_mozilla/css/iframe/simple_inline_width.html and /_mozilla/css/iframe/simple_inline_width_height.html and /_mozilla/css/iframe/simple_inline_min.html and /_mozilla/css/iframe/simple_inline_default.html"
[code]

[2017-01-25 18:52] prampey commented on #14967
@jdm Sounds simpler. But does `rooted_vec!` eliminate the use-after-free vulnerability?

[2017-01-25 18:59] tigt commented on #12973
Just a note that the SVG2 working group didn't have its charter renewed, and [its future may be in doubt](https://www.w3.org/2016/12/08-svg-minutes.html).  (Those minutes also link to [a spreadsheet where browsers declared intent on SVG2's proposed features](https://docs.google.com/spreadsheets/d/1kkqzcxY53h7liRYppLSSFG2sjaJ8V8TCP5rWLZK0AxA/edit#gid=0).) As far as removing features, though, probab

[2017-01-25 18:59] jdm commented on #14967
Yes - it ensures that the elements stored inside of it cannot be GCed, because they are explicitly rooted.

[2017-01-25 19:06] jdm commented on #15227
Actual:
<img width="530" alt="screen shot 2017-01-25 at 2 05 24 pm" src="https://cloud.githubusercontent.com/assets/27658/22304879/63b09876-e307-11e6-98da-d57770e63b5a.png">
Reference:
<img width="529" alt="screen shot 2017-01-25 at 2 05 31 pm" src="https://cloud.githubusercontent.com/assets/27658/22304884/6731f120-e307-11e6-9ee0-cb9c8dc8368b.png">

[2017-01-25 19:17] samuknet commented on #15204
I'd like to give this a go

[2017-01-25 19:24] glennw commented on #15221
I'm planning to implement this as soon as the tiling changes land in WR - I've been holding off on blur until then.

[2017-01-25 19:26] jdm commented on #15204
Great! Ask questions if anything's unclear :)

[2017-01-25 19:28] KiChjang commented on #5238
I believe we have since renamed the struct as `BrowsingContext`.

[2017-01-25 19:31] jdm commented on #14596
Relevant pieces of code to understand the current state of the world - Constellation::new_pipeline, ScriptThread::start_page_load, uses of InProgressLoad in script_thread.rs, ScriptThread::handle_page_headers_available.

[2017-01-25 19:33] KiChjang commented on #13402
The other issue that I also had with `self.elements` is that if it does return a `None`, it's not very self-evident where I *can* actually obtain a value for `self.elements`, until I read the entire source code where I finally find the `self.Elements()` method.

[2017-01-25 19:33] jdm commented on #5238
Much of this is addressed by #15120.

[2017-01-25 19:36] atheed commented on #15171
I might be a little confused, but I'm not sure if the `parse_non_negative` in https://github.com/servo/servo/blob/master/components/style/values/specified/length.rs#L1142-L1148 is ever being called. For what CSS properties is that function supposed to be called? I've tried various <length>s and <number>s for various properties (`font-size`, `padding`, etc.), but none of them activate that ^ functi

[2017-01-25 19:42] jdm commented on #14596
https://html.spec.whatwg.org/multipage/browsers.html#process-a-navigate-fetch step 7 describes this.

[2017-01-25 19:51] jdm commented on #15171
It turns out that https://dxr.mozilla.org/servo/source/components/style/properties/longhand/border.mako.rs#263 is the only caller, and the `border-image-outset` property is only supported when using this code as part of Firefox (not the normal Servo binary). However, we can write a unit test that exercises this code in `tests/unit/style/parsing` (run it with `./mach test-unit -p style`).

[2017-01-25 20:06] atheed commented on #15171
Ah, I see -- thanks for the heads up!

[2017-01-25 20:07] bzbarsky commented on #15043
You probably do, if you ever spin the event loop...  Otherwise things like Promise won't work right, yes?

[2017-01-25 20:23] KiChjang commented on #15224
device and task_info are not found on crates.io. Are both of these crates that we use internally ourselves? I can find https://github.com/servo/devices, not sure if it's related.

[2017-01-25 20:39] SimonSapin commented on #15224
Ah, sorry. I misread `Cargo.lock`. `device` is a git dependency, indeed from that repository. `task_info` is `support/rust-task_info` is this repository. I’ve crossed them out in the list.

[2017-01-25 20:42] asajeffrey commented on #15180
IRC chat with @jdm and @mystor: http://logs.glob.uno/?c=mozilla%23servo&s=25+Jan+2017&e=25+Jan+2017#c600096

TL;DR: we're trailblazing cross-process iframes.

[2017-01-25 21:15] dpyro commented on #15194
Advice requested: when should I use `ref` while matching?

[code]

For example, currently there is: `SpecifiedOperation::Translate(kind, ref tx, ref ty, ref tz)`

[2017-01-25 21:20] Manishearth commented on #15194
Whenever the type is not copyable. The length ones and perhaps the angle ones aren't. It's okay to use an unnecessary ref.

[2017-01-25 21:53] upsuper commented on #15171
Ah, actually I was thinking about `line-height` when I submitted this issue. It seems `line-height` uses a different path for parsing. The relevant code is https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_text.mako.rs#L51

[2017-01-25 22:14] atheed commented on #15171
Ah, I see. So, this would be the relevant code for `line-height` https://github.com/servo/servo/blob/master/components/style/values/specified/length.rs#L909-L911, yes?
That said, it also does look like `border-image-outset` suffers from the same issue as `line-height` (i.e. the parsing of `0` as `0px` instead of simply `0`), so I can try to fix it for both.

[2017-01-25 22:15] blairmacintyre opened #15228 "hardcoded path to link.exe in components\scripts\build.rs causes build failure"
In the build.rs file, there is a hardcoded path to link.exe in this `if` statement:
[code]

I (unfortunately) have VS installed elsewhere (my C:\ disk was too small, I ended up installing on D:\).  I don't have a ton of experience with cmake to suggest a change (the last time I worked directly with make, not cmake, files was in the 1990's!), but I wanted to flag this since it tripped me up.

[2017-01-25 23:04] chargadesilva commented on #15206
I'll check this out

[2017-01-25 23:18] upsuper commented on #15206
Great! Feel free to ask any questions if anything is unclear.

[2017-01-26 00:48] bholley opened #15229 "Update Servo's handling of align-items / align-self to match the new spec"
align-self has this funny behavior where, if |auto|, it takes on the value of the parent's align-items.

Originally, the spec text had this handled in the style system: https://www.w3.org/TR/css-align-3/#propdef-align-self -- "The 'auto' keyword computes to ..."

The new spec says that the computed value should remain 'auto' and that the fixup should happen in layout: https://drafts.csswg.org/css-

[2017-01-26 01:21] Aaron-Tang commented on #15169
Hi, I intend to work on this issue

[2017-01-26 01:22] upsuper commented on #15169
Great! Feel free to ask any questions.

[2017-01-26 01:57] stshine commented on #15229
This is kind of troublesome, since during layout a node can not access its parent in servo and `align-items` is non-inherited. I think we need a special property like `-servo-align-items` to store the parent `align-items` value on the children.

And currently they are just single-keyword properties, which means we need to do manually conversion like what we do for now.  We may introduce an alignme

[2017-01-26 02:50] dholbert commented on #15229
Whatever solution you go with, you'll need to repeat it when you add `justify-items|justify-self` support (for CSS grid)

[2017-01-26 03:36] asajeffrey opened #15232 "Run web-platform-tests without similar-origin REMOTE_HOST"
At the moment, we're running the web-platform-tests with `ORIGINAL_HOST=web-platform.test` and `REMOTE_HOST=www1.web-platform.test`, which is similar-origin. This means that when we're running tests of cross-origin behaviour, we're only testing similar-origin. In particular, we're not running tests across script threads.

cc @jdm @jgraham

[2017-01-26 03:42] asajeffrey opened #15233 "Implement cross-origin iframe.contentWindow"
Currently we return `None` for a cross-origin `iframe.contentWindow`.

[2017-01-26 08:44] heycam commented on #15215
Fixed by #15216.

[2017-01-26 08:44] #15215 closed

[2017-01-26 09:48] fvsch opened #15235 "UI: small hitbox makes buttons hard to click"
With Servo’s latest nightly on macOS, the "new tab" and "tab list" buttons are really small and close together. I don’t know how to inspect the precise element area, but just using the mouse cursor I see them as just taking the width and height of the icon.

A more reasonable UI would have the buttons further apart and each having a bigger reactive area, around 30x30 points or so.

![servo-browser

[2017-01-26 10:02] Manishearth commented on #15235
Yes, this actually belongs on the browserhtml repo, sorry.

When you initially reported this I thought that this was a bug on some webpage.

[2017-01-26 10:02] Manishearth commented on #15235
cc @paulrouget

[2017-01-26 10:10] samuknet commented on #15204
Test case can be found [here](https://samuknet.github.io/test_cases/negativeLetterSpacingWordSpacing/index.html).

[2017-01-26 10:13] fvsch commented on #15235
Copied to https://github.com/browserhtml/browserhtml/issues/1264

[2017-01-26 10:13] #15235 closed

[2017-01-26 10:32] samuknet commented on #15204
@jdm
I was thinking for letter-spacing it would look like:
Add `pub fn parse_any...` to https://github.com/servo/servo/blob/master/components/style/values/specified/length.rs#L350-L353, which parses both positive and negative values.

Change `pub fn parse...` for `letter-spacing` to use the new `parse_any` instead of `parse_non_negative`.

Then it seems there is no use for the old `parse_non_negat

[2017-01-26 11:09] nox opened #15236 "Properly cancel fetch jobs"
Currently we have no idea with which document a fetch job is associated, and the only way to cancel them is to shut down the script thread and use the flag inside `RunnableWrapper`. That doesn't scale for either `document.open` nor for unloading documents in general.

Cc @jdm @Ms2ger

Blocks #14591.

[2017-01-26 11:10] nox commented on #15233
https://github.com/servo/servo/issues/2382

[2017-01-26 11:11] nox commented on #15236
If you have any idea, I'm all ears, because that sounds like a quarter goal on its own. ://

[2017-01-26 11:25] nox commented on #15236
This also needs to integrate with DocumentLoader, which doesn't make things easier.

[2017-01-26 11:36] emilio commented on #15229
@stshine note that we already have `-servo-under-display-none` for this very reason, so your proposal sounds fine to me.

[2017-01-26 11:37] emilio opened #15239 "Intermittent timeout in /XMLHttpRequest/send-entity-body-document.htm"
[code]

[2017-01-26 11:38] charlesvdv opened #15240 "Handle KeyEvent with no virtual key code."
When a KeyboardInput has no [virtual key code](http://doc.servo.org/glutin/enum.VirtualKeyCode.html), servo does [nothing](https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L396). It may be possible to have some characters such as ```é```, ```µ``` which doesn't have any virtualkeycode but we should also send them to the compositor.

[2017-01-26 11:55] nox commented on #15224
https://github.com/unicode-rs/unicode-xid/pull/3
https://github.com/servo/gaol/pull/33

[2017-01-26 12:35] stshine commented on #15229
@emilio nice, let me try :-)

[2017-01-26 12:42] jgraham commented on #15232
Which tests exactly do you care about here? It seems like the easiest thing to do would be to switch either port or protocol rather than reserving another domain.

[2017-01-26 12:59] doanga2007 commented on #14981
Lastest build has stable to use or access to website.

[2017-01-26 12:59] #14981 closed

[2017-01-26 13:00] doanga2007 commented on #12477
Lastest build can input Thai language but cannot input Thai language long times in address bar.

[2017-01-26 13:10] doanga2007 opened #15241 "Servo on macOS not responding after open css3test.com website."
Servo on macOS not responding after open css3test.com website.

VDO : http://www106.zippyshare.com/v/S9LGk3ea/file.html

Error log file : http://www106.zippyshare.com/v/dJSalbTX/file.html

[2017-01-26 14:15] asajeffrey commented on #15233
@nox: I talked to @avadacatavra about this at MozAloha, and we agreed to separate out the XOW part (which deals with security) from implementing cross-origin window proxies (which deals with the inter-thread communication caused by the `WindowProxy` and the `Window` living in different script threads).

[2017-01-26 14:20] asajeffrey commented on #15232
@jgraham the ones which deal with cross-origin iframes, e.g. `/html/browsers/origin/cross-origin-objects/cross-origin-objects-exceptions.html`. It would be good enough to run with `ORIGINAL_HOST` being `localhost`, since then `REMOTE_HOST` would be set to `127.0.0.1`. Slightly annoyingly, the Servo mapping from eTLD to event loop is only done based on the host name, not the port or protocol.

[2017-01-26 14:21] upsuper commented on #15202
I suppose this isn't too hard... @Manishearth WDYT?

[2017-01-26 14:29] nox commented on #15233
Aren't cross-origin window proxies XOWs?

[2017-01-26 14:43] SimonSapin commented on #15054
#15183 fixes the font-family case. (Note though that the definition of `font-family` does not refer to `<custom-ident>`, it excludes some keywords explicitly.)

With a quick look at the parsing code for `transform-origin` I don’t understand how this can happen. I’ll look some more. But I don’t think this is "fundamental", for example `style.marginTop` is the empty string with `margin-top: 4px init

[2017-01-26 14:57] asajeffrey commented on #15233
There's two different things here, the XOW needs to point to an object. In the case where the `Window` is similar-origin, it can be the real `Window` object, but in the non-similar-object case, the `Window` is in another script thread, so we need an object to represent the cross-origin window,.

[2017-01-26 15:37] Manishearth commented on #15202
I guess we just need to declare the border-image longhands as part of them and always reset them? Sounds doable.

[2017-01-26 15:54] asajeffrey commented on #15232
Running master on a hacked version of wpt that sets the remote to be `127.0.0.1`:
[code]

[2017-01-26 16:31] #15059 closed

[2017-01-26 17:42] potocpav commented on #14176
On x86_64 archlinux, I got 226MB for release, 544MB debug. Trying to investigate.

[2017-01-26 17:55] Maaarcocr commented on #15162
I would like to contribute to Servo!
I've read the book and worked on a very small, simple and not finished http library with rust (for educational purposes).
I'm a CS student, based in London.
I don't know if I need to add anything else, I really look forward contribute to something!

[2017-01-26 18:32] mbrubeck opened #15244 "Replace quickersort with pdqsort"
The [style::stylist] module uses the [quickersort] crate, which provides a fast, unstable sort algorithm.  The new [pdqsort] crate provides an even faster (in almost all cases) unstable sort.  We can easily replace quickersort with pdqsort:

* In the `components/style` directory, update `Cargo.toml`, `lib.rs`, and `stylist.rs` to refer to pdqsort instead of quickersort.
* Build the code.  This sho

[2017-01-26 18:32] highfive commented on #15244
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-26 18:34] jdm commented on #15244
@Maaarcocr would you be interested in working on this?

[2017-01-26 18:40] Maaarcocr commented on #15244
@jdm It seems like a good start!
I will work on this, what should I do in case I encounter a problem?

[2017-01-26 19:29] asajeffrey opened #15247 "Fetch is not setting origin correctly."
In https://github.com/servo/servo/blob/master/components/script/fetch.rs#L60 we have:
[code]
which sets the origin of the request to be the origin of the request url (that is, the resource being fetched) rather than the origin of the requester. This means that when we come to do the same-origin test https://github.com/servo/servo/blob/master/components/net/fetch/methods.rs#L211:
[code]
all fetches

[2017-01-26 19:30] asajeffrey commented on #15247
This is probably the root cause of the test failure at https://github.com/servo/servo/issues/15232#issuecomment-275425263

[2017-01-26 19:41] jdm commented on #15244
Ask questions here or in [#servo](https://wiki.mozilla.org/IRC).

[2017-01-26 19:45] jdm commented on #14596
@cynicaldevil is going to work on this.

[2017-01-26 20:37] hiei23 commented on #15244
i would like to work on this

[2017-01-26 20:39] KiChjang commented on #15244
@hiei23 Sorry, this issue has been assigned to someone else.

[2017-01-26 20:40] KiChjang commented on #13035
@hiei23 Would you be interested in working on this issue instead?

[2017-01-26 20:51] potocpav commented on #14176
Using https://github.com/google/bloaty on linux:
[code]
Without the debug symbols, the size goes down to 54MiB. Can't compare with Mac/Win since I don't have it :(

[2017-01-26 20:52] asajeffrey commented on #15232
IRC chat with @jdm and @KiChjang: http://logs.glob.uno/?c=mozilla%23servo&s=26+Jan+2017&e=26+Jan+2017#c600869

TL;DR edit `env_options` in `tests/wpt/harness/wptrunner/browsers/servo.py`. Setting `host=locahost` causes errors:
[code]
These are errors caused by #15247.

[2017-01-26 20:57] upsuper commented on #15202
Yes, should be just that.

[2017-01-26 21:20] jdm opened #15248 "nytimes.com is unusable"
There's a ton of blank space surrounding the content, you can't click on anything, and it never finishes loading according to the progress bar in browser.html.

[2017-01-26 21:27] jdm opened #15249 "Images with max-width show up squashed"
[code]
This takes forever to appear, and then has full height and very little width.

[2017-01-26 21:29] jdm commented on #15249
Seen in the wild at https://github.com/deepsyx/home-automation.

[2017-01-26 21:33] jdm opened #15250 "Scrollable page is too wide"
https://www.hackingwithswift.com/swift3-1

The content is laid out for the current viewport, but the view can be scrolled right of the content by a significant amount. This makes scrolling frustrating and looks silly.

[2017-01-26 21:36] jdm commented on #15250
http://blog.ycombinator.com/athelas-our-road-from-hack-to-product/ is another example.

[2017-01-26 21:38] jdm opened #15251 "WR panic while scrolling"
Scrolling around http://kde.slimbook.es/ triggers the following panic:
[code]

[2017-01-26 21:39] jdm commented on #15251
[code]
@mrobinson This might be in your wheelhouse?

[2017-01-26 21:45] jdm commented on #15251
Better steps to reproduce:
* load https://news.ycombinator.com/item?id=13495345
* scroll a bit on that page
* click the link to the original article
* try to scroll
* boom, panic

[2017-01-26 22:05] jdm opened #15252 "Add as_void_ptr helper method to &T"
There are lots of places where we write code like `&foo *const _ as *const _` (like [here](https://dxr.mozilla.org/servo/rev/f5c67fda04195bd6d8ef10a73b9158eb60dbd6d7/components/script/dom/browsingcontext.rs#94), [here](https://dxr.mozilla.org/servo/rev/f5c67fda04195bd6d8ef10a73b9158eb60dbd6d7/components/script/dom/bindings/callback.rs#84), and [here](https://dxr.mozilla.org/servo/rev/f5c67fda04195

[2017-01-26 22:09] gaby2300 commented on #12125
Yes, I have a notebook to test, I didn't realize I could try there! I will
do it as soon as possible. Many thanks for your interest!

On 19 January 2017 at 16:49, komawoyo <notifications@github.com> wrote:

[2017-01-26 22:12] asajeffrey commented on #15232
Submitted wptrunner PR https://github.com/w3c/wptrunner/pull/231 to allow running with `--external-host=localhost`, which produces the same `FAIL`s as above.

[2017-01-26 22:12] hgallagher1993 opened #15253 "components/net/ not compiling"
The problem is with the function `get_placeholder_image` in `image_cache_thread`. Currently there's a call to  `add_image(image.width,
                                            image.height,
                                            None,
                                            format,
data));` with 5 parameters but `add_image` in webrender_traits only expects 2. `pub fn add_image(&self,

[2017-01-26 22:17] asajeffrey commented on #15232
We should probably update the CI to run some of the wpt tests with `--external-host=localhost`, especially the ones which test same-origin policy, e.g. `/fetch` and `/html/browsers`. cc @aneeshusa

[2017-01-26 22:20] jdm commented on #15253
The latest version of WR can't be used with servo yet. There's a PR open to address that.

[2017-01-26 22:28] hgallagher1993 commented on #15253
That's cool, do you have the exact PR for me to watch? It's just I've an open PR for webrender that you actually requested changes on but I don't want to commit the changes until I've built it

[2017-01-26 22:28] jonathandturner opened #15254 "Font rendering issues on Windows for Hacker News"
I tried out a recent nightly for Servo on Windows.  Here's Hacker News:

![hacker_news_servo_win](https://cloud.githubusercontent.com/assets/547158/22353061/972adf22-e483-11e6-946e-8875201cc068.png)

At first blush, I'm seeing kerning issues, fonts being cut off, fonts rendered off the baseline, and text row starting low.

[2017-01-26 22:34] jonathandturner opened #15255 "Windows servo UI missing elements"
When I open a recent Servo for Windows nightly, the UI shows this at the top:

![servo_ui_chrome](https://cloud.githubusercontent.com/assets/547158/22353268/8c0b73c6-e484-11e6-8390-cdc92b2924f1.PNG)

Instead of the expected browser.html chrome.

[2017-01-26 22:38] emilio commented on #15254
Yeah, this is known, font support on windows is a work in progress by @vvuk as far as I know.

[2017-01-26 22:38] emilio commented on #15255
Seems that this may be related with the font stuff?

[2017-01-26 22:41] KiChjang commented on #15252
Would the T in this case be `T: DomStruct`? I don't think we can globally define methods for every type yet...

[2017-01-26 22:43] #15168 closed

[2017-01-26 22:54] andrew-x commented on #15162
Hi there, I'd like to work on something if anyone has any suggestions for a good easy introductory issue.

I have experience with python and java and limited experience with C/C++. I also have no experience with Rust but certainly don't mind learning it on the fly. Thanks!

[2017-01-26 23:01] jonathandturner commented on #15255
It's possible these are related, but the elements here aren't font elements but other UI elements.

[2017-01-26 23:03] jdm commented on #15252
We can define a trait and import it everywhere that it's needed.

[2017-01-26 23:04] jdm commented on #15252
@andrew-x This may also interest you; you would get to learn about Rust traits.

[2017-01-26 23:04] jdm commented on #15254
[Last I heard](https://github.com/servo/servo/issues/12125#issuecomment-272658388) it was supposed to be working better by now.

[2017-01-26 23:06] jdm commented on #15253
It's https://github.com/servo/servo/pull/15111. There shouldn't be any need to wait on Servo compiling with the changes; the only use of the trait here is [empty](https://dxr.mozilla.org/servo/source/components/compositing/compositor.rs#365), so we'll just need to remove it when updating WR after the changes are merged there.

[2017-01-26 23:07] glennw commented on #15254
When I last talked to @vvuk about this, it seemed that the Windows font rendering was working (almost) perfectly on some machines, but not at all on others. I don't think we've identified the cause of this yet - is that right @vvuk  ?

[2017-01-26 23:18] KiChjang commented on #15252
Ah, I see what this is. Create a trait:
[code]
And then implementing this trait on every `foo` struct where we use the `&foo as *const _ as *const _` pattern.

[2017-01-26 23:25] jdm commented on #15252
I'm pretty sure we can implement the trait for a generic type T, rather than specific implementations for types we care about.

[2017-01-26 23:31] upsuper commented on #15171
Oh, I checked my list, and I was actually filing this for `border-image-outset`, but the same issue exists in `line-height`. I think the code for `line-height` is very specific in its own parsing code I mentioned above. That code tries to parse it as length first, and would happily accept `0`. That code should be changed to try number first.

`line-height`'s syntax is `normal | <number> | <length>

[2017-01-26 23:43] KiChjang commented on #15252
Okay, so more of something like:
[code]

[2017-01-27 00:07] #14982 closed

[2017-01-27 01:14] dpyro commented on #15194
How would I properly test this using the css-tests? Currently I am trying `$ ./mach test-css css-transforms-1_dev`, but this takes a long time to run (I may try running it on my desktop instead) and outputs verbose info instead of a summary of expectations vs. pass/fails.

[2017-01-27 01:25] Manishearth commented on #15194
I don't think there's a way to step around the verbose summary -- it only outputs a list of things which have changed. You can get a shorter (but still verbose) summary via `--log-errorsummary foo.log`. You can also make a pull request containing your changes and ask one of us to trigger a run on the try server which will run all the tests.

I'm unsure if those tests actually contain any serializa

[2017-01-27 02:01] hiikezoe opened #15257 "Create css animation object even if corresponding keyframe is empty"
From spec[1]

[1] https://drafts.csswg.org/css-animations-1/#events

Also a web animations API, getFrames[2] expects an empty keyframe for such cases.

[2] https://w3c.github.io/web-animations/#dom-keyframeeffectreadonly-getkeyframes

[2017-01-27 04:01] asajeffrey opened #15258 "Script thread hashtables grow indefinitely?"
Script thread keeps lookup tables for documents and (once #15120 lands) browsing contexts. We should make sure these shrink when required.

[2017-01-27 04:18] jdm commented on #15194
The verbose summary is caused by https://github.com/servo/servo/issues/15193.

[2017-01-27 04:20] jdm opened #15259 "Support software rendering for Mac and Windows"
There's a `--software` flag that can be used to enable non-headless software rendering on Linux. We should figure out how to support this mode on other platforms too.

[2017-01-27 04:23] jdm commented on #15193
We should enhance the check in `run_tests` to check whether the argument ends in `.html`, `.htm`, `.js`, or `.xhtml`.

Code: `tests/wpt/run.py`

[2017-01-27 04:23] highfive commented on #15193
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-27 04:23] highfive commented on #15193
cc @wafflespeanut

[2017-01-27 04:34] jdm opened #15260 "scripting_enabled member of Document does not need to be in a Cell"
It's never mutated, so we don't need to store the boolean value inside of a Cell.

Code: `components/script/dom/document.rs`

[2017-01-27 04:34] highfive commented on #15260
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-27 05:29] alon commented on #15260
I intend to take this one, thanks.

[2017-01-27 05:31] #15195 closed

[2017-01-27 05:52] cbrewster commented on #10994
We should be queuing tasks to the `HistoryTraversalTaskSource` instead of directly sending messages to the constellation when traversing the history via the history API.

https://html.spec.whatwg.org/multipage/browsers.html#traverse-the-history-by-a-delta

[2017-01-27 06:48] jdm commented on #15260
Great! As questions if anything is unclear.

[2017-01-27 08:08] deror1869107 commented on #14676
TypedArray only uses TypedArrayElement type to be created.

But the generic type parameters of typed_array_or_sequence_to_vec::<T> are primitive type now.

How can I use primitive type to create an TypedArray? thx

[2017-01-27 09:07] mrobinson commented on #15251
cc @gterzian

[2017-01-27 09:19] mrobinson commented on #15251
My theory: WebRender is keeping track of the current scrolling layer in order to provide consistent scrolling. When the display list changes enough that the scrolling tree changes, it isn't throwing away that cached value. I believe this behavior was first implemented by @gterzian, so they would be in the best position to fix this ATM.

[2017-01-27 14:24] Seris commented on #15162
Hi guys !

I'd like to contribute to Servo ! I have experience with C and Javascript, some basis in Python, PHP and Java.
I have little experience with Rust as I've been playing with it only for the last month, which is the reason I'm here ! I would like to use Rust in a concrete project !

Keep up the good work guys !
Thanks !

[2017-01-27 14:35] jdm opened #15265 "Intermittent failure in /_mozilla/css/iframe/hide_and_show.html"
[code]

[2017-01-27 14:42] jdm commented on #15236
https://github.com/servo/servo/pull/7844 and https://github.com/servo/servo/pull/8523 are how we supported cancellation in the old network stack.

[2017-01-27 14:57] jdm commented on #15219
I propose to solve this by:
* making the `scheduler_chan` in `Constellation` an `Option<Sender<TimerEventRequest>>`
* add a `Sender<TimerEventRequest>` argument to `UnprivilegedPipelineContent::start_all`
* removing the `scheduler_chan` member from `UnprivilegedPipelineContent`
* make `TimerScheduler::start` return a `Sender<TimerEventRequest>`
* call `TimerScheduler::start` in `run_content_proces

[2017-01-27 15:15] Seris commented on #15219
I'll work on this !
Thanks for the quick response !

[2017-01-27 16:36] jdm opened #15266 "Support discarding and recreating WebGL contexts"
This can occur as part of a document containing such a context becoming inactive in order to reduce resource usage.

[2017-01-27 16:39] jdm commented on #15266
Spec: https://www.khronos.org/registry/webgl/specs/latest/1.0/#webgl-context-lost-flag, https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14, https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15

[2017-01-27 16:43] vvuk commented on #15254
That looks like the original brokenness -- did we actually publish a more recent nightly?

[2017-01-27 17:25] gterzian commented on #15251
@mrobinson, thanks for pointing this problem out. I will further investigate, would you be able to point me in the right direction in the code to where the scrolling tree is changed?

[2017-01-27 17:28] vvuk commented on #15254
Here's HN with a servo debug build I just completed:
![2017-01-27 12_27_56-hacker news - servo](https://cloud.githubusercontent.com/assets/194965/22380632/1b328330-e48c-11e6-8958-0a5153ad074e.png)

[2017-01-27 17:56] bzbarsky commented on #12984
Looks like cargo has loosened up its locking some (see <https://github.com/rust-lang/cargo/issues/3594#issuecomment-275721585>) and this is no longer an issue.

[2017-01-27 17:56] #12984 closed

[2017-01-27 18:33] atheed commented on #15171
Thanks.
I had a quick follow-up question: I've fixed the issue for both `line-height` and `border-image-outset`, and while I was writing unit tests for the latter (in https://github.com/servo/servo/blob/master/tests/unit/style/parsing/border.rs), I noticed that there don't appear to be any parsing unit tests for the former. As such, I was wondering where I should write the parsing unit tests for `

[2017-01-27 18:43] jdm commented on #7621
In order to enable this, I want to run tests with gczeal enabled. That requires enabling the debugmozjs feature for SpiderMonkey, which is being worked on in #14766. That is broken on Windows due to https://github.com/rust-lang/rust/issues/39016.

[2017-01-27 18:44] jdm commented on #10428
The most recent effort to implement this was in #11792. It looks like it was on the right track, but it needs to be rebased and update some expected test results.

[2017-01-27 18:47] jdm commented on #8570
There was a PR for this in #12496 which needs to be rebased and run through testing again.

[2017-01-27 18:49] jdm commented on #12278
There was a solution for this in #12549, but it has some review comments that need to be addressed after rebasing that work.

[2017-01-27 18:49] #15260 closed

[2017-01-27 18:51] jdm commented on #10520
There's a solution in #13659; it's just missing a regression test and needs to be rebased.

[2017-01-27 19:00] jdm commented on #11300
Latest attempt in https://github.com/servo/servo/pull/14078 still fails to pass the test.

[2017-01-27 19:07] jdm opened #15270 "Parameterize node traversal helper methods over desired return type"
There's a proof-of-concept of this work in #14451, but the author does not have time to finish it. It's a worthwhile improvement, so someone else taking it over would be great!

[2017-01-27 19:09] jdm commented on #11477
There was a solution proposed in #14534 but a question from the review was never answered.

[2017-01-27 19:10] Maaarcocr commented on #15205
I would like to work on this, but I'm not too sure if it would be too challenging.

[2017-01-27 19:20] jdm commented on #15171
The existing inherited_text.rs should be fine for that.

[2017-01-27 19:27] jdm commented on #15205
I tried to look for useful hints, but all I could find was the parsing code for line-height: https://dxr.mozilla.org/servo/rev/ba7696ebc64c1a73aee1547fcea8b75b2a1eb4b1/components/style/properties/longhand/inherited_text.mako.rs#48-69

[2017-01-27 19:28] jdm commented on #14095
#14401 has a WIP solution, and there are some review comments that need to be addressed.

[2017-01-27 19:30] jdm opened #15272 "Text baseline should be snapped to nearest pixel before positioning glyphs"
https://github.com/servo/servo/pull/12270 contains code that attempts to solve this, but it wasn't passing tests.

[2017-01-27 19:33] jdm opened #15273 "Using a different font exposes a layout/rendering bug in ol_japanese_iroha_a.html"
https://github.com/servo/servo/pull/11630/ exposes a bug when rendering the bullets and text in ol_japanese_iroha_a.html.

[2017-01-27 19:35] jdm opened #15274 "Run automated webdriver tests"
https://github.com/servo/servo/pull/13261 was my last attempt at getting the tests to run. There are some issues with our server implementation, and what appear to be some issues with the tests themselves.

[2017-01-27 19:37] jdm opened #15275 "Enable css-fonts-3 testsuite"
https://github.com/servo/servo/pull/11311/ was the last attempt to do so. There were further test failures that needed investigation.

[2017-01-27 20:02] jdm commented on #11444
Latest effort was in https://github.com/servo/servo/pull/14566. It stalled after the review, which pointed out some issues that need to be addressed.

[2017-01-27 21:30] DominoTree commented on #15270
I'll take this one!

[2017-01-27 21:33] KiChjang commented on #15270
@DominoTree Okay, but just to be sure, do you know what we're investigating in this issue?

[2017-01-27 21:59] DominoTree commented on #15270
@KiChjang I think so - from the proof-of-concept the basic idea seems pretty simple - adding a type parameter to generic iterators moving up and down and sideways through the DOM to return specified types - but I have a feeling implementation will be more involved

Does that sound like I'm on the right track?

[2017-01-27 22:22] KiChjang commented on #15270
Yeah, please don't hesitate to ask us any questions you might have during implementation here or in #servo at `irc.mozilla.org`!

[2017-01-28 00:02] cynicaldevil commented on #14596
This is what I've thought: in the `RedirectMode::Follow` match arm in `http_loader.rs`, I send a message to consellation with all the info required to know whether the redirect is to a same-origin page or not, then handle the case in constellation and send a dispatch to `script_thread` if needed, and then call `http_redirect_fetch` from there. Am I going in the right direction?

[2017-01-28 00:10] niki-04 commented on #15203
So I just started looking at the code. I am new to the language Rust. I just want to confirm what is meant by the serialization order is wrong is it the order of the try statements in the highlighted block of code. So the order of try statements is blur_radius, spread_radius, offset_x and offset_y and to correct the order of serialization we need to change it to offset_x, offset_y, blur_radius and

[2017-01-28 00:30] #15244 closed

[2017-01-28 00:55] mbrubeck commented on #14144
Update: `writing-mode: sideways-lr` and `sideways-rl` have been [removed] from CSS Writing Modes Level 3, and deferred to the not-yet-written Writing Modes Level 4.

[removed]: https://drafts.csswg.org/css-writing-modes-3/#changes-201512

[2017-01-28 01:22] mbrubeck commented on #98
This is done.

[2017-01-28 01:22] #98 closed

[2017-01-28 01:27] #14876 closed

[2017-01-28 01:31] dbaron commented on #15033
I'll have a try at working on this.

[2017-01-28 01:54] upsuper commented on #15033
The relevant code of shorthand `font` property is https://github.com/servo/servo/blob/master/components/style/properties/shorthand/font.mako.rs and the longhands are in https://github.com/servo/servo/blob/master/components/style/properties/longhand/font.mako.rs

[2017-01-28 02:52] doanga2007 commented on #15241
Good news : Servo on macOS can open css3test.com website smoothly.

[2017-01-28 02:52] #15241 closed

[2017-01-28 03:12] upsuper commented on #15203
Yes, I think that is correct. And you should also add a unit test for it.

The book of Rust should be a good start: https://doc.rust-lang.org/book/

[2017-01-28 03:33] doanga2007 commented on #12351
Lastest news : Servo in macOS Sierra 10.12 can scrolling in webpage after open website but html5test.com and html6test.com websites cannot scrolling in webpage after scrolling off the edge and bouncing back.

VDO : http://www59.zippyshare.com/v/sTLj2XTI/file.html

[2017-01-28 06:52] gterzian commented on #15251
Ok I have looked a bit more into this. By the way I wasn't able to reproduce, perhaps because the original link brought me to a login page which didn't seemed to scroll at all. I tried with a few other HN threads with lots of comments, but couldn't either..

In any case, from the panic I can tell that the `scroll_layer_id` that was "cached" in `self.current_scroll_layer_id` doesn't match the id of

[2017-01-28 07:52] dpyro commented on #15193
I’ll work on this one, since it should be quick and is making testing #15194 unnecessarily verbose.

[2017-01-28 08:25] dbaron commented on #15033
Yeah, I got that far already, along with figuring out the right Mako/Python syntax to add new shorthands conditionally on product == "gecko".  Still need to confirm whether what I'm setting them to is right... probably Monday.

[2017-01-28 14:55] jdm commented on #15193
Thanks!

[2017-01-28 15:02] jdm commented on #14596
Sorry for not being clear - the code that initiates a document fetch should be using RedirectMode::Manual, not RedirectMode::Follow. Additionally, it seems like it would make more sense for that code to live in the constellation, not the script thread.

[2017-01-28 16:33] simartin commented on #15017
I'll try to take a stab at this one

[2017-01-28 16:47] jdm opened #15281 "Intermittent crash ("failed to fill whole buffer") in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_nonescaping-1.html, /navigation-timing/nav2_test_open_data_uri.html and /_mozilla/css/iframe/multiple_external.html"
Continuation of #14323 because the title became too long for github.
[code]

[2017-01-28 16:49] jdm commented on #15017
Great! Ask questions about anything that's unclear :)

[2017-01-28 16:56] jdm commented on #15203
https://dxr.mozilla.org/servo/source/tests/unit/style/properties/serialization.rs are examples of existing unit tests verifying the behaviour of CSS serialization. You can run them with `./mach test-unit -p style`.

[2017-01-28 21:44] cynicaldevil commented on #14596
So I changed the request to use Redirect::Manual by adding another line for `redirect_mode` parameter [here](https://github.com/servo/servo/blob/b5c94bad371114ab9f03e910f66c00a042997fc2/components/script/script_thread.rs#L2046).
Now, if I receive a response which has been filtered with `ResponseType` OpaqueRedirect, I send a message to the constellation to handle the redirects until I find a respo

[2017-01-28 22:11] Groxx commented on #7930
@sfackler doesn't work for me fwiw:
[code]
And:
[code]

I've cleaned and retried, same thing each time.  (though strangely sometimes it errors on openssl/hmac.h instead of /ssl.h.  dunno what that implies)

[2017-01-28 22:37] leuction opened #15286 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-d4ee8a3
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-01-28 23:06] sfackler commented on #7930
Does `/usr/local/Cellar/openssl/1.0.2k/include/openssl/ssh.h` exist?

It is probably more reliable to set those to `/usr/local/opt/openssl/include` and /usr/local/opt/openssl/lib` to avoid breaking every time there's a new release.

[2017-01-28 23:15] jdm commented on #14596
Not precisely. My proposal has a couple parts to it:
* make the fetch request use RedirectMode::Manual
* expose a way to initiate an HTTP redirect fetch (which calls http_loader::http_redirect_fetch instead of fetch_methods::fetch in resource_thread)
* make the code in script_thread.rs deal with redirections by using this newly-exposed API according to step 7 of https://html.spec.whatwg.org/multip

[2017-01-28 23:16] jdm commented on #15286
Do you know what page you were looking at?

[2017-01-28 23:57] cynicaldevil commented on #14596
Ah yes, I get it now. Thanks!

[2017-01-29 00:38] montrivo commented on #12415
I checked

 CSSStyleDeclaration.webidl
 ElementCSSInlineStyle.webidl
 ElementContentEditable.webidl
 EventHandler.webidl
 Screen.webidl
 StyleSheetList.webidl
 StyleSheet.webidl
 Client.webidl

I had issues with the following:
 * BrowserElement.webidl no specs

* ProgressEvent.webidl
[code]

* StorageEvent.webidl and Storage.webidl
[code]

[2017-01-29 01:38] Groxx commented on #7930
That's a very good, obvious-in-retrospect question.  But first a diversion:

Yeah, this is the result of using `brew --prefix openssl`, as described in the readme: https://github.com/servo/servo#on-os-x--1011-el-capitan-you-also-have-to-install-openssl

Back to the first question: strangely, `brew --prefix openssl` says `/usr/local/Cellar/openssl/1.0.2k`, but in `/usr/local/Cellar/openssl` there's

[2017-01-29 02:07] jdm commented on #12415
Yeah, BrowserElement.webidl is a Servo-only interface. The error about SharedWorker makes sense since we don't support Shared Workers yet (so it can be left out). The errors in the storage IDLs can be fixed by making `StorageEvent::Constructor` take a `&Window` argument instead of `&GlobalScope` in storageevent.rs.

[2017-01-29 03:18] #15214 closed

[2017-01-29 03:51] Groxx commented on #7930
reinstalled, and the build succeeded.  ¯\_(ツ)_/¯
oh well.  thanks for helping!

[2017-01-29 04:35] #14945 closed

[2017-01-29 04:35] #14948 closed

[2017-01-29 05:24] #13608 closed

[2017-01-29 06:25] Wafflespeanut opened #15290 "Make tidy report doc comments containing TODO, NOTE and FIXME"
Having them in doc comments ruin our documentation. They should instead be inside comments.

Code: `python/tidy/servo_tidy/tidy.py`

[2017-01-29 06:25] highfive commented on #15290
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-29 07:05] #15171 closed

[2017-01-29 11:48] Maaarcocr commented on #15290
I would like to work on this.

[2017-01-29 12:02] chansuke commented on #15162
Hi.I am looking for a task to contribute.I'm new to Rust but have experience with C & Ruby & golang and so on.

[2017-01-29 12:28] KiChjang commented on #15290
It's all yours!

[2017-01-29 13:00] #14279 closed

[2017-01-29 13:44] samuknet opened #15293 "Error compiling 'openssl/hmac.h' not found on Mac OS X"
Suddenly getting this error when compiling Servo:

[code]
I've compiled Servo before but now I am getting this error regardless of what commit I'm on (have tried going back a few commits).

Am running on Mac OS X 10.12.1.

Have tried reinstalling openssl with `brew` and re-adding
[code]

although to no avail.  Have also tried adding these exports to `.profile`, although that didn't help either.

A

[2017-01-29 16:56] deror1869107 commented on #15293
Have you tried
[code]
and recompile?

I can build servo after installing openssl and doing that on macOS 10.12.3.

[2017-01-29 17:13] deror1869107 commented on #15293
Have you tried
[code]
and recompile?

I can build servo after installing openssl and doing that on macOS 10.12.3.

[2017-01-29 17:23] samuknet commented on #15293
@deror1869107 Yeah, I've tried `./mach clean` aswell as recloning the whole directory, still no luck unfortunately.

[2017-01-29 18:49] prampey commented on #14967
@jdm So how do I store the vector with `rooted_vec!`?

[2017-01-30 00:16] atheed commented on #15199
I might be wrong, but I think this is because `left top / auto none;` is syntactically malformed. The problem is the `none`: it is a keyword that cannot be applied to `background-size`, nor to any of the CSS rules that can follow `background-size` in the `background` shorthand (that is, `background-repeat`, `background-attachment`, `background-origin`, `background-clip`, and `background-color`).
I

[2017-01-30 00:22] upsuper commented on #15199
`none` is a valid value for `background-image` which is part of `background` shorthand, and all major browsers certainly parse `left top / auto none`. It is not the problem of `none`, but it seems to me nothing would get parsed after `left top / auto` including `no-repeat` and others.

(I think that was what I saw when I last checked. I don't have a working servo build at the moment...)

[2017-01-30 00:32] atheed commented on #15199
Hmm. I think the `background-image` rule must strictly precede `background-position` and `background-size` when using the `background` shorthand, no? So a `none` applied to `background-image` must come before the position / center?

I did a quick check, and it appears Servo successfully parses something like this `<div style="background: url(\'http://servo/test.png\') left top / auto auto repeat-x

[2017-01-30 00:34] upsuper commented on #15199
Because in your last case, `background-image` has already been occupied by the url value, the additional `none` is surely invalid.

[2017-01-30 00:37] atheed commented on #15199
Ah, I see, I wasn't aware of that; apologies for the misinformation. In that case, I'm not entirely sure -- I too had a look through some of the background shorthand parsing code too, and wasn't able to pinpoint anything there immediately.

[2017-01-30 01:21] upsuper commented on #15199
I think I know why. It is because the parser of `background-size` tries to parse two values, and it returns error when it doesn't accept the second one. However it is perfectly valid to have only one value in the `background` shorthand for `background-size`.

So something like `left top / auto auto none` can be parsed, but `left top / auto none` cannot, despite that the latter is also valid.

[2017-01-30 01:49] atheed commented on #15199
Hmm, I think you're right. Running a quick check, `left top / auto auto none` parses correctly, while `left top / auto none` does not (while both parse correctly on the major browsers; I must've made a typo the last time I tested the latter).
Looking at https://github.com/servo/servo/blob/master/components/style/properties/longhand/background.mako.rs#L395-L405 suggests that it is requiring two val

[2017-01-30 01:51] upsuper commented on #15199
It doesn't require two... but it requires two if there is anything after the first accepted value, which is wrong.

[2017-01-30 01:54] atheed commented on #15199
Yup, exactly.

[2017-01-30 02:18] shssoichiro commented on #14517
Another update: It took longer than expected, but I'm finally victorious over the borrow checker and have this in a state where it compiles. There are a few failing tests, but they should be fairly easy to fix (once I comprehend the new output format for the WPTs).

[2017-01-30 03:10] upsuper opened #15295 "Shorthand with variable reference should not have extra whitespace after colon for serialization"
[code]

The above code outputs `font: var(--a);` while it should be `font:var(--a);` like what it does for longhands. Otherwise, `cssText` would not be idempotent.

You can see that if the declaration is `font-size:var(--a);`, it would output `font-size:var(--a);` rather than `font-size: var(--a);`.

The relevant code is probably https://github.com/servo/servo/blob/master/components/style/properti

[2017-01-30 03:10] highfive commented on #15295
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-30 03:25] upsuper opened #15296 "The computed `font-size` and `line-height` must be clamped when the specified value is out-of-range"
Although it is invalid to specify something like `font-size: -1px`, it is allowed to do `font-size: calc(-1px)`. In the latter case, `font-size` must be computed to zero rather than `-1px`.

The spec: https://drafts.csswg.org/css-values-3/#calc-range

The relevant code is probably https://github.com/servo/servo/blob/master/components/style/properties/longhand/font.mako.rs#L378-L382

(I found `font

[2017-01-30 04:00] upsuper opened #15297 "-moz-border-{start,end} and -moz-border-{start,end}-width are unavailable"
I think they all should have been covered by servo/servo#14939, but it seems I was wrong.

It seems alias `-moz-border-{start,end}` (of `-moz-border-inline-{start,end}` shorthands) and `-moz-border-{start,end}-width` (of `-moz-border-inline-{start,end}-width` longhands) are not available, while `-moz-border-{start,end}-{style,color}` are correctly generated.

I have no idea why.

[2017-01-30 04:39] upsuper commented on #15199
The same issue also affects `mask` shorthand (which currently only available with stylo, though).

[2017-01-30 06:02] upsuper commented on #15201
Oh, this is probably a dupe of #14954

[2017-01-30 06:02] #15201 closed

[2017-01-30 07:15] highfive commented on #15037
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-30 11:18] kskarthik commented on #12053
May I please know the status of this issue ?

[2017-01-30 12:07] mdevlamynck commented on #15295
I'd like to work on this, do you have any suggestions about how write tests for this and check for side effects ?

[2017-01-30 12:14] upsuper commented on #15295
I think it is probably good to have a wpt test for this (both shorthand and longhand cases). This is from a recent working group decision (see w3c/csswg-drafts#881) so I expect other engines do not currently do it right.

The test could be just having something in the style attribute, and compare `elem.style.cssText` with the expected output.

@Manishearth, WDYT?

[2017-01-30 12:46] Maaarcocr commented on #15296
What I'm going to say may be really wrong, due to my ignorance about how style works in servo.

Wouldn't it be better if every property that can implement calc() should provide a maximum and minimum value for calc()?

[2017-01-30 15:27] jdm commented on #14967
@prampey You can declare it [like this](https://dxr.mozilla.org/servo/rev/3e1bc8dcfeafd1d66d786192b898fa35671406f0/components/script/dom/event.rs#134) and push elements to it [like this](https://dxr.mozilla.org/servo/source/components/script/dom/event.rs#139). Does that answer the question?

[2017-01-30 15:35] jdm commented on #12053
We still require OpenGL 3.2 on non-Android platforms.

[2017-01-30 15:37] jdm commented on #15295
Information about creating tests can be found [here](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) and [here](http://testthewebforward.org/docs/testharness-library.html).

[2017-01-30 15:58] kskarthik commented on #12053
Oh :( pls enable fallback for opengl 2 also. I'm missing servo :( I'm not happy running on CPU only mode :(

[2017-01-30 16:02] jdm commented on #15252
@chansuke Would you be interested in working on this?

[2017-01-30 16:30] Ms2ger opened #15301 "Figure out if StructuredCloneData leaks"
It seems like we might be missing `JS_ClearStructuredClone` calls.

[2017-01-30 18:16] Manishearth commented on #15295
Sounds good to me.

[2017-01-30 19:07] DominoTree commented on #15270
Hacked on this quite a bit based on the work in #14451 and I think I can have this wrapped up pretty shortly.  One quick question -

We have the following iterators defined which we can specify types for:
- SiblingIterator (Previously NodeSiblingIterator)
- ReverseSiblingIterator (Previously NodeReverseSiblingIterator)
- LastChildIterator
- AncestorIterator
- TreeIterator
- FollowingNodeIterator
-

[2017-01-30 19:24] jdm commented on #15270
`FollowingIterator` and `PrecedingIterator` sound sensible to me.

[2017-01-30 19:38] 1Jamie commented on #15162
hey i want to give a hand, do you have anything easy using rust i could give a go at that you could point me towards?

[2017-01-30 20:09] #15193 closed

[2017-01-30 20:57] jdm commented on #3847
My experimental branch that tried to make the parser asynchronous is https://github.com/jdm/servo/tree/asyncparse.

[2017-01-30 22:34] jdm commented on #3415
We now have layout compiling in parallel with script, and layout_thread is the only bit that depends on script.

[2017-01-30 22:34] #3415 closed

[2017-01-30 23:16] 1Jamie commented on #13035
I'll take a look at this and see what i can whip up for it.

[2017-01-30 23:20] KiChjang commented on #13035
Awesome!

[2017-01-31 01:50] Manishearth commented on #15296
We should add a `to_computed_value_positive` method that takes the result of `to_computed_value()` and clamps it.

[2017-01-31 03:50] hiikezoe opened #15306 "shorthand animation property 'anim 2s linear' can not be parsed"
whereas 'anim linear 2s' can be parsed.

[2017-01-31 03:51] upsuper opened #15307 "Implement parsing and serialization of grid properties"
Spec: https://drafts.csswg.org/css-grid/

Grid properties have relatively complicated syntax, so it might not be a very easy one.

 - [x] servo/servo#15310
 - [x] servo/servo#15311
 - [x] servo/servo#15312
 - [x] servo/servo#15313
 - [x] servo/servo#16079

[2017-01-31 03:55] cbrewster opened #15308 "Determine what data to store on a session history entry"
We need to figure out what data we need to store on a session history entry and where to store it (script or constellation). This is needed for things such as the History API or properly reloading documents that have been pruned from the history.

Right now we have:
- timestamp
- url
- pipeline id

As we move forward we need to store things such as:
- origin (possible issues with serialization/mut

[2017-01-31 04:05] upsuper opened #15309 "Implement parsing/serialization for caret-color"
https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color

The grammar is `auto | <color>`.

See https://github.com/servo/servo/wiki/Property-hacking-guide for instructions on how to work on such bugs. This bug requires familiarity with Rust.

File: https://github.com/servo/servo/blob/master/components/style/properties/longhand/ui.mako.rs

[2017-01-31 04:05] highfive commented on #15309
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-31 05:05] hiikezoe commented on #15306
Sorry, it can be parsed correctly.

[2017-01-31 05:05] #15306 closed

[2017-01-31 05:14] jdm commented on #15308
This sounds really similar to https://github.com/servo/servo/issues/14888#issuecomment-270952252.

[2017-01-31 05:17] cbrewster commented on #15308
Ahh indeed! Forgot about that

[2017-01-31 05:17] #15308 closed

[2017-01-31 06:50] #15290 closed

[2017-01-31 07:05] Wafflespeanut commented on #15205
@upsuper I suppose this is specific to `line-height`? `calc` already supports parsing numbers. For some reason, we've left parsing it in `line-height`, in which case, it could be an easy issue.

@Maaarcocr Either way, you can look into the the code @jdm has suggested. `LengthOrPercentage::parse_non_negative` calls [this](https://doc.servo.org/style/values/specified/length/struct.CalcLengthOrPercen

[2017-01-31 07:13] upsuper commented on #15205
@Wafflespeanut There are two properties we support using `calc()` with number in Gecko currently. One is `line-height`, and the other is `-moz-tab-size`. There is [a pending patch in Gecko side](https://bugzilla.mozilla.org/show_bug.cgi?id=737785) to unprefix `-moz-tab-size`, which may cause some conflict, but it shouldn't be too bad.

[2017-01-31 07:17] Wafflespeanut commented on #15205
Looks like we don't support `-moz-tab-size` right now. So, let's make this specific to `line-height`.

@Maaarcocr Ping me if you're willing to work on this :)

[2017-01-31 07:18] upsuper commented on #15205
Oh, right. I somehow thought we have that... That's an easy property, though :)

[2017-01-31 07:19] Wafflespeanut commented on #15307
Yeah, it's in my queue. I'm supposed to finish those by the start of this year :stuck_out_tongue:

[2017-01-31 08:03] Wafflespeanut opened #15310 "Implement parsing and serialization for `grid-{row,column}-gap`"
[`grid-row-gap` and `grid-column-gap`](https://drafts.csswg.org/css-grid/#propdef-grid-row-gap) both have the grammar `<length> | <percentage>`. We already support parsing `LengthOrPercentage`, so this can be accomplished with `predefined_type`.

[See the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide#implementing-a-predefined-type-property) for more information about implementing

[2017-01-31 08:03] highfive commented on #15310
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-31 08:11] Wafflespeanut opened #15311 "Implement parsing/serialization for `grid-template-{row,columns}`"
They [both](https://drafts.csswg.org/css-grid/#propdef-grid-template-rows) take `none | <track-list> | <auto-track-list>` (the parsing code for "track list" thingy may be a nightmare).

[2017-01-31 08:14] Wafflespeanut opened #15312 "Implement parsing/serialization for `grid-auto-{rows,columns}`"
They [both](https://drafts.csswg.org/css-grid/#propdef-grid-auto-rows) take `<track-size>` which should be a predefined type.

[2017-01-31 08:19] Wafflespeanut opened #15313 "Implement parsing/serialization of `grid-auto-flow`"
[`grid-auto-flow`](https://drafts.csswg.org/css-grid/#propdef-grid-auto-flow) isn't as easy as implementing a keyword property, because it optionally takes a `dense` keyword along with `row | column`. But, it should be easy enough to write the parsing/serialization code from the existing properties in `components/style/properties/longhands/`. See the [property hacking guide](https://github.com/ser

[2017-01-31 08:19] highfive commented on #15313
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-31 08:20] Wafflespeanut commented on #15307
Making this a tracking bug.

 - [ ] `grid-{row,column}-gap` - #15310
 - [ ] `grid-template-{rows, columns}` - #15311
 - [ ] `grid-auto-{columns, rows}` - #15312
 - [ ] `grid-auto-flow` - #15313

[2017-01-31 13:37] nox commented on #15193
@jdm How do I disable this behaviour locally? The mach output just confuses me, I always want the pretty-printed quieter one.

[2017-01-31 14:05] kehugter commented on #15121
Same issue, same system, edc5765.

[2017-01-31 15:41] jdm commented on #15193
We will need to add an argument to testing_commands.py that forces the use of the human-readable logger in tests/wpt/run.py.

[2017-01-31 17:43] Ms2ger opened #15316 "Remove MutHeapJSVal"
https://github.com/servo/rust-mozjs/pull/328 makes it unnecessary. We should be able to replace all users with `Heap<JSVal>`.

[2017-01-31 17:43] highfive commented on #15316
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-31 19:04] emilio commented on #15163
With the patch over in #15317 perf results in motionmark passes from 260 to 370 and from 217 to 447 respectively in those demos, which is quite good IMO.

That's only a first (but important!) optimization, @glennw, can you confirm that helps in your machine too?

[2017-01-31 20:04] jdm commented on #14972
I'm hitting this repeatedly when creating a blank document on docs.google.com with #15082 applied (and other related document.open/document.write hacks to allow page loading to progress).

[2017-01-31 20:05] jdm commented on #14972
Blocks #13942.

[2017-01-31 22:07] jdm opened #15318 "Shutting down Servo with a native Promise object alive crashes during GC"
When we do the final GC when shutting down a JS runtime, if there's a native `Rc<Promise>` alive then its destructor will run and cause problems.
[code]

[2017-01-31 23:35] #15257 closed

[2017-02-01 00:43] Manishearth opened #15320 "Avoid calling deduplicate in the common case of no deduplications."
We have a function, [`deduplicate_property_declarations()`](https://github.com/servo/servo/blob/77f53aae3eee59957521ea76e95bd3e454c4ddd9/components/style/properties/properties.mako.rs#L331), which takes a property declaration block and removes declarations shadowed by newer or `!important` declarations. Currently, it unconditionally will copy all the property declarations into a new vector. We sho

[2017-02-01 00:52] Manishearth opened #15322 "Box larger specified values to avoid memmove impact"
Currently, `PropertyDeclaration` is pretty large. This is because it has some huge variants, many of which don't get used too often. This means that things like moving the `PropertyDeclaration` are now actually expensive operations.

Here is the list of inline sizes currently in play: https://github.com/servo/servo/pull/15065#issuecomment-273038986 . We have tons of huge ones. On the other hand, n

[2017-02-01 04:36] glennw commented on #13822
Findings so far:

There's at least two bugs in play here. The first one is what I was expecting. There are some known issues with clipping + scroll regions + 3d transforms. @mrobinson is working on the "proper" fixes / refactoring for this stuff now. However, it's going to take a couple of weeks (estimated). I *think* I can make some temporary changes that work around the bug in these cases and co

[2017-02-01 05:39] glennw commented on #13822
The second problem is that ```switch_coordinate_system_if_necessary``` in ```block.rs``` doesn't work correctly for non-2d transforms.

I'm not sure that this can be worked around, without fixing it properly once and for all. I'll discuss this bug (and the other two linked bugs) with @mrobinson and we'll work out exactly what the best way forward is.

[2017-02-01 08:13] cynicaldevil commented on #14596
Right, I think I have something. I haven't moved the redirection part to constellation yet, I wanted to make sure the tests pass. I ran some tests in `tests/wpt/web-platform-tests/cors/`, which pass. What additional tests should I run?

[2017-02-01 08:18] Ms2ger commented on #15112
Up for removal in https://github.com/w3c/FileAPI/issues/57

[2017-02-01 08:19] Ms2ger commented on #15318
Did you have a test case?

[2017-02-01 08:41] Ms2ger opened #15324 "Callbacks' Call method doesn't root the arguments"
For example, for `Function`:

[code]

I'd suggest `RootedVec`, but `JSVal` isn't `JSTraceable` (and can't be, because tracing needs internal mutability).

CC @jdm @nox

[2017-02-01 09:10] nox commented on #15324
AFAIK this should use the cumbersome `RootedTraceable`.

[2017-02-01 12:56] Ms2ger commented on #12806
Fixed in #12828

[2017-02-01 12:56] #12806 closed

[2017-02-01 12:59] Ms2ger opened #15325 "Update serde to 0.9"
- [x] https://github.com/nox/hyper_serde/pull/7
- [x] https://github.com/rust-lang-nursery/uuid/pull/80
- [x] https://github.com/vvuk/dwrote-rs/pull/7
- [x] https://github.com/servo/app_units/pull/23
- [x] https://github.com/servo/euclid/pull/175
- [x] https://github.com/servo/core-graphics-rs/pull/69
- [x] https://github.com/servo/rust-cssparser/pull/114
- [x] https://github.com/nagisa/target_bui

[2017-02-01 13:46] jdm commented on #15318
My testcase is a branch I've made that modifies some SW code and runs /_mozilla/mozilla/service-workers/service-worker-registration.html, unfortunately.

[2017-02-01 14:00] jdm commented on #14596
The tests under /cors/ only test cross-origin XMLHttpRequests, not document loads. You could try tests/wpt/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents instead.

[2017-02-01 14:12] galexite commented on #15313
Hey! I'd like to take this.

[2017-02-01 14:21] jdm commented on #15313
Please do! Ask questions if anything is unclear.

[2017-02-01 14:25] #15324 closed

[2017-02-01 14:40] chansuke commented on #15316
I'd like to work on this.

[2017-02-01 14:47] galexite commented on #15313
Thanks, @jdm!

[2017-02-01 14:48] jdm commented on #15316
Great! Please ask questions if anything is unclear.

[2017-02-01 15:10] SimonSapin commented on #15325
https://github.com/servo/rust-url/pull/274 adds a new `url_serde` crate which uses 0.9. The `url` crate still has an optional feature that uses serde 0.8. If we make sure that feature is not enabled in a future version of Servo that uses 0.9, serde 0.8 should not be built by Cargo when building Servo, but I think it will still be included in `Cargo.lock` which will make our "no more than one versi

[2017-02-01 15:15] nox commented on #15325
@SimonSapin As long as the serde feature isn't used, AFAIK it shouldn't appear in Cargo.lock at all.

[2017-02-01 15:19] SimonSapin commented on #15325
For some reason I was convinced of the opposite but I just tried it and you’re right. Edited previous comment.

[2017-02-01 15:21] Ms2ger commented on #15318
Can you push it somewhere, so we could at least test manually?

[2017-02-01 15:21] jdm commented on #15318
Oh, the stack trace shows the crash is slightly different than I thought - it's not crashing during a GC, it's crashing when dropping the native Promise object as part of dropping the ScriptThread (via the JobQueue that holds on to Job objects that contain Promises), presumably after the GC has happened.

[2017-02-01 15:22] jdm commented on #15318
https://github.com/jdm/servo/tree/promise-crash

[2017-02-01 15:55] SimonSapin commented on #15325
Not including them might be a Cargo bug, depending on how you look at it: https://github.com/rust-lang/cargo/issues/3629

[2017-02-01 16:44] asajeffrey opened #15328 "Which global should we use for throwing exceptions?"
In the code generator for exceptions, we generate, `throw_dom_exception(cx, &this.global(), e);` which uses the global for the current `this` object. Should this be the current global?

Spec issue: https://github.com/heycam/webidl/issues/292

IRC chat with @jdm, @nox and @bzbarsky: logs.glob.uno/?c=mozilla%23servo&s=1+Feb+2017&e=1+Feb+2017#c603463

[2017-02-01 16:47] Ms2ger commented on #15318
Looks like roots added from `AddRawValueRoot` are indeed dropped during `JSRuntime::destroyRuntime()`. Not sure how to deal with that, though perhaps we could try clearing the `JobQueue` before that time.

[2017-02-01 16:48] mbrubeck commented on #13944
Fixed by #14839.

[2017-02-01 16:48] #13944 closed

[2017-02-01 16:49] #15112 closed

[2017-02-01 16:53] mbrubeck commented on #8811
Fixed by #13633.

[2017-02-01 16:53] #8811 closed

[2017-02-01 16:56] mbrubeck commented on #11085
This is fixed.

[2017-02-01 16:56] #11085 closed

[2017-02-01 17:02] jdm commented on #15318
We could add a teardown method that explicitly clears things like this that gets run before the destructor.

[2017-02-01 17:13] austinprete commented on #15309
I'd like to work on this issue. This will be my first contribution to Servo, if I need help is it best to comment here or to ask on IRC?

[2017-02-01 17:21] bzbarsky commented on #15328
You very much want the current global, I expect.  Especially for the cross-origin case, where using the global of `this` would create an exception the caller can't even interact with.

[2017-02-01 17:36] jdm commented on #15309
Whatever is more convenient for you! IRC can sometimes be quicker to respond.

[2017-02-01 18:35] freeatnet commented on #15293
@samuknet What happens if you run `ls $(brew --prefix openssl)/include` or `ls $(brew --prefix openssl)/include/openssl`?

[2017-02-01 20:05] jdm opened #15332 "Event handlers forwarded to a window should check for the presence of a window"
From https://html.spec.whatwg.org/multipage/webappapis.html#event-handler-idl-attributes:
[code]
Our implementation of `define_window_owned_event_handler` does not check whether it's part of an element that is in a document that has a browsing context, and it should. This JS behaves differently in Servo vs. other browsers:
[code]
In Servo it logs `function() {}`, in other browsers it logs `null`.

[2017-02-01 20:05] highfive commented on #15332
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-01 20:38] jdm commented on #15051
Hmm, the spec actually calls out that the script location that sets event handler content attributes should be stored: https://html.spec.whatwg.org/multipage/webappapis.html#event-handler-content-attributes

[2017-02-01 21:03] #12193 closed

[2017-02-01 21:55] samuknet commented on #15293
@freeatnet  thanks for your response :)
Running `ls $(brew --prefix openssl)/include/openssl` shows a bunch of header files, of which `hmac.h` is included.

<img width="659" alt="screen shot 2017-02-01 at 21 53 10" src="https://cloud.githubusercontent.com/assets/9294710/22527946/ff178060-e8c8-11e6-8a39-a58045c00fa6.png">

It's strange how this has suddenly started occurring.  I'm going to try and

[2017-02-01 21:59] jdm commented on #15316
Note that you'll need to remove https://dxr.mozilla.org/servo/source/components/plugins/lints/ban.rs#34-39 as well, and https://dxr.mozilla.org/servo/source/tests/compiletest/plugin/compile-fail/ban.rs which tests it.

[2017-02-02 00:39] #14290 closed

[2017-02-02 01:02] hiei23 commented on #15310
can i work on this ?

[2017-02-02 02:15] jdm commented on #15310
Please do! Ask questions if anything is unclear.

[2017-02-02 04:20] upsuper opened #15335 "Pseudo-element selector should not be accepted when there are spaces between colon and pseudo-element name"
Servo fails with the following test:
[code]

It is probably an issue in the cssparser. And this could probably be an easy bug.

cc @SimonSapin

[2017-02-02 04:51] upsuper opened #15337 "Serialization of specified font-weight should preserve keyword values"
The following code would show `bold` in all other browsers, but Servo shows `700`:
[code]

Servo should preserve the keywords until computed value time, which means the `SpecifiedValue` enum should include those keywords instead of only weights.

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/font.mako.rs#L200-L230

[2017-02-02 04:51] highfive commented on #15337
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-02 05:12] upsuper commented on #15037
(This failure pattern is too hard to distinguish with others, so I decided to move forward without adding tests... since Gecko already has test coverage for this kind of issue.)

[2017-02-02 05:27] upsuper opened #15339 "border-image-slice should not accept negative percentage"
We need to add `Percentage::parse_non_negative` and make `border-image-slice` use it.

[2017-02-02 05:47] austinprete commented on #15309
I might be missing something obvious or perhaps I'm not understanding how all the code interacts, (there's a lot of it, and this is my first attempt at really diving in) but it seems like the `auto` keyword will also need to be implemented in `cssparser::Color` similarly to how `currentColor` and `transparent` are. (https://github.com/servo/rust-cssparser/blob/master/src/color.rs#L290)

Does that

[2017-02-02 05:59] upsuper commented on #15309
That's not correct. It should probably be parsed as `Option(Color)` with `auto` being mapped to `Option::None`. Alternatively, you can add a new enum e.g. `AutoOrColor` (although I don't think it's worth).

`auto` should not be mapped to `currentcolor` during parsing or computing. `caret-color` is stored as `StyleComplexColor` in Gecko, and when saving the computed value to Gecko style struct, you

[2017-02-02 06:14] upsuper opened #15341 "Implement hashless hex color quirk"
Spec: https://quirks.spec.whatwg.org/#the-hashless-hex-color-quirk

In quirks mode, certain color properties should accept hashless hex color.

(Part of #11709)

[2017-02-02 06:22] upsuper opened #15342 "Implement unitless length quirk"
Spec: https://quirks.spec.whatwg.org/#the-unitless-length-quirk

In quirks mode, certain length properties should accept unitless number as length.

(Part of #11709)

[2017-02-02 06:33] upsuper opened #15343 "transition-duration should not accept negative time value"
Spec: https://drafts.csswg.org/css-transitions/#transition-duration-property

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs#L465

We probably need `Time::parse_non_negative` as well.

[2017-02-02 07:03] upsuper opened #15344 "<single-timing-function> value should reject out-of-range values in functions"
Specifically, for `cubic-bezier` function, the x values (first and third number) must be in [0, 1], and for `steps` value, the number must be positive (>=1). Functions with out-of-range value should be treated as invalid.

Spec: https://drafts.csswg.org/css-timing-1/#single-timing-function-production

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/bo

[2017-02-02 07:03] highfive commented on #15344
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-02 07:10] AdmiralCoco commented on #15344
Hello, I would like to work on this issue.

[2017-02-02 07:11] upsuper commented on #15344
Great. Feel free to ask questions if there is anything unclear.

[2017-02-02 07:16] upsuper opened #15345 "border-radius and -moz-outline-radius shorthand should not accept negative values"
Spec: https://drafts.csswg.org/css-backgrounds-3/#the-border-radius

Relevant code: https://github.com/servo/servo/blob/master/components/style/values/specified/basic_shape.rs#L751-L769

Although border-radius longhands have already rejected negative values, it seems the shorthand bypasses the check.

After fixing this, I guess we want to add a check in the two constructors of `BorderRadiusSize` t

[2017-02-02 07:16] highfive commented on #15345
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-02 07:45] Manishearth commented on #15309
Yes, that sounds correct. An Option is fine.

[2017-02-02 07:46] Manishearth commented on #15309
`Either<Color, Auto>` will give you the parsing and serialization code for free.

[2017-02-02 07:51] upsuper opened #15346 "Serialization of specified length and time value should perserve their original unit"
e.g. `width: 1in` should be serialized as `1in` rather than `96px`. The units should dropped during computing, not parsing.

(I'm not sure whether we have a spec for this behavior... but this behavior seems to match all major browsers. Probably worth a spec issue.)

[2017-02-02 09:07] Wafflespeanut commented on #15309
Yes, we should use `Either<Color, Auto>` here. The generic can be imported from `components/style/values/mod.rs`

[2017-02-02 09:42] Ilphrin commented on #12675
Hi @shinglyu! Thanks a lot for your clarifications. I've looked around the two links you gave me and, if I don't misunderstand, I need to change the content of the `print` function of the FlowRef type to use serde_json. The problem is I didn't find anything on the Servo doc about this print function for this type, and where it resides...

[2017-02-02 10:30] highfive commented on #15335
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-02 10:30] SimonSapin commented on #15335
In https://github.com/servo/rust-selectors, in `src/parser.rs`, in the `test_parsing` function, a new test should be added near the existing `parse("::before")` test to check that `parse(":: before")` returns `Err(())` as it should. Add the URL of this issue in a comment.

Once that test has been observed failing, the bug should be fixed. It’s in the `parse_one_simple_selector` function of the sam

[2017-02-02 13:32] prampey commented on #14967
@jdm Yeah thanks for that.
So if I'm going to store the `MediaQueryList` values and use them later, I need to make copies of them right? However, `Clone` and `Copy` traits haven't been implemented.

[2017-02-02 14:06] jdm commented on #14967
You'll want to store the result of JS::from_ref.

[2017-02-02 14:09] chansuke commented on #15316
@jdm Thank you!!

[2017-02-02 15:28] jdm commented on #15248
#14442 might make this interaction better.

[2017-02-02 16:57] jdm opened #15350 "Rewrite WebVR code to use high level typed array APIs"
The WebVR code uses `slice_to_array_buffer_view` and the `ArrayBufferViewContents` trait. It should be rewritten to use the typed array APIs from https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs instead.

Blocks #14672.

[2017-02-02 16:58] jdm commented on #15350
@deror1869107 You might be interested in this, given your experience in #14676.

[2017-02-02 16:59] deror1869107 commented on #15350
@jdm I can work on it!

[2017-02-02 19:35] zeusintuivo commented on #12356
Is this still an issue, I have a few ready made bash scripts that automate install in Ubuntu 14.04, and Ubuntu 16.04
Where should I place the scripts, should I make a new folder like "install scripts" ?

[2017-02-02 19:53] atheed commented on #15335
I'd like to take this.

[2017-02-02 20:11] SimonSapin commented on #15335
Go ahead!

[2017-02-02 20:20] jdm commented on #12356
I think we're moving to a model of supporting `./mach bootstrap` instead: https://github.com/servo/servo/pull/15230

[2017-02-02 20:22] freeatnet commented on #15332
@jdm I'm a newbie at Rust (and Servo), so I'm currently assessing if this is something I can take on.
It says the code is located in [components/script/dom/macros.rs](/servo/servo/blob/master/components/script/dom/macros.rs); however, it looks to me like the `onload` handler mentioned in the test appears to in [components/script/dom/htmlelement.rs](/servo/servo/blob/master/components/script/dom/ht

[2017-02-02 20:23] jdm commented on #15332
@freeatnet That's the load handler for elements that own their own handler. The handlers on the body element delegate to the window, so they are declared via the `window_event_handlers` macro at https://dxr.mozilla.org/servo/rev/da89099e26955cf5ba44031a0a536e3af4e6a0d5/components/script/dom/htmlbodyelement.rs#82.

[2017-02-02 21:05] atheed commented on #15337
I'd like to claim this, if I may.

[2017-02-02 21:05] jdm commented on #15332
[code]
Good point! This turns out to be slightly more convoluted than I remembered; you're right that Get/SetOnload in `htmlelement.rs` is the code that is responsible here.

[2017-02-02 21:06] jdm commented on #15332
For the _other_ event listeners that only appear in the ForwardToWindow branch, we also need to make a similar change as I originally thought.

[2017-02-02 21:08] jdm commented on #15337
Please do :)

[2017-02-02 23:32] vatrat commented on #12015
Issue is still around on Fedora 25. I'll try to compile.

[2017-02-02 23:50] jdm commented on #14975
Have you encountered any problems with fixing the issue, @tormeh?

[2017-02-02 23:52] jdm commented on #14898
@vwvww Did you make any progress on this? Are you still working on it?

[2017-02-02 23:52] jdm commented on #14954
@fkautz Did you make any progress on this? Are you still working on it?

[2017-02-03 00:26] freeatnet commented on #15332
@jdm I submitted #15359 ahead of claiming this, sorry. If my PR isn't entirely off base, I would like to take this on further.

[2017-02-03 00:37] SimonSapin commented on #15335
https://github.com/servo/rust-selectors/pull/103 is merged and v0.15.2 on crates.io. When updating Servo we should probably include the test case above.

[2017-02-03 01:37] #15033 closed

[2017-02-03 01:44] Manishearth opened #15361 "Intermittent ERROR expected OK in /workers/baseurl/alpha/sharedworker.html"
https://github.com/servo/servo/pull/15305#issuecomment-277098694

[code]

[2017-02-03 01:45] Manishearth opened #15362 "Intermittent crash "failed to fill whole buffer" in /_mozilla/css/iframe/multiple_external.html"
https://github.com/servo/servo/pull/15305#issuecomment-277121519

[code]

[2017-02-03 01:46] Manishearth commented on #15362
This is a WR RenderBackend crash, cc @glennw

[2017-02-03 05:05] Lyjame commented on #15345
Hi, I would like to work on this issue. Thanks!

[2017-02-03 10:06] galexite commented on #15313
I followed text-decoration's implementation for inspiration.

[2017-02-03 10:07] galexite commented on #15313
(I'm georgewhite on IRC, by the way)

[2017-02-03 10:53] upsuper commented on #15345
Great! Feel free to ask questions if there is anything unclear.

[2017-02-03 11:52] rwakulszowa commented on #15320
Hey,
I'd like to work on this one.
I'll take a closer look at the code and start asking questions then :)
I have one question now though: is there any standard way to measure performance improvement?

[2017-02-03 13:33] Ms2ger commented on #15361
#14772

[2017-02-03 13:33] #15361 closed

[2017-02-03 14:47] shssoichiro commented on #14517
I've run into a bit of a problem in trying to fix `/websockets/interfaces/WebSocket/events/020.html` to work with this. When `ws` encounters an error on opening a connection before the connection is opened, it gives us two options: either log an error and return `Ok`, or panic. To fix this test, we need it to return an `Err` so we can handle it.

[2017-02-03 14:48] jdm commented on #15362
Tracked in #15281 and #14323.

[2017-02-03 14:48] #15362 closed

[2017-02-03 14:49] jdm commented on #14517
Sounds like we should file an issue upstream (and/or submit a PR if you're feeling adventurous).

[2017-02-03 14:59] #15017 closed

[2017-02-03 15:46] nox opened #15369 "Handle history in document.open"
See the various todos in `Document::Open`.

[2017-02-03 15:50] jdm commented on #15369
@cbrewster can likely provide the best advice on what's required to deal with creating new session history entries, replacing existing ones, and truncating later entries.

[2017-02-03 15:59] jdm commented on #13896
[code]

[2017-02-03 16:48] #4283 closed

[2017-02-03 17:13] emilio commented on #13501
This was reenabled in #15189

[2017-02-03 17:13] #13501 closed

[2017-02-03 17:15] austinprete commented on #15309
Thank you for the clarification everyone. I've been a bit busy the past couple of days but should have more time to dedicate to this over the weekend, and now I feel somewhat more confident in the direction I need to head with this.

[2017-02-03 17:21] Wafflespeanut commented on #15309
Great!

[2017-02-03 17:39] jdm commented on #14221
Fixed by #15189.

[2017-02-03 17:39] #14221 closed

[2017-02-03 18:12] jdm opened #15371 "Create a mechanism to automatically reset relevant members of Document during Document.open"
There are a lot of members that need to be reset to initial states during Document.open. Right now it's just a list of reinitializations in that method, which is not very maintainable. We should have a structure that contains the members that need to be cleared, and auto-derive a trait for every member. This will make it impossible to forget to clear a member, and will make it easy to tell if a me

[2017-02-03 18:53] #15228 closed

[2017-02-03 19:08] seanlee31 commented on #15224
I would like to work on this issue.

[2017-02-03 19:17] jdm commented on #15224
Go for it! Ask questions if anything is unclear.

[2017-02-03 19:20] bholley commented on #15320
A couple of possibilities, in order of likely difficulty:
* You can use a profiler for your OS (like Instruments on macos) and measure the time spent in StyleSheet::update_from_str, or in deduplicate_property_declarations
* You can instrument those same functions with manual time measurement code that just sums up the time spent in those functions.
* You can do a Stylo (Servo style system in Gecko

[2017-02-03 19:27] canaltinova commented on #15322
I'm working on this.

[2017-02-03 19:36] tormeh commented on #14975
No, well, I'm new to Servo and Rust and inexperienced in HTML, git and Github. So even though the bug itself is easy, everything around it really slows me down. Which is frustrating. But I also learn quite a bit.

[2017-02-03 19:48] #14591 closed

[2017-02-03 19:55] bholley commented on #15322
Awesome - thanks Nazim!

[2017-02-03 20:43] #15037 closed

[2017-02-03 21:25] KiChjang commented on #13942
So I tried loading a blank template Google document, and the following errors showed up on my console, together with the Servo application saying "Could not load the requested page: Unexpected scheme":
<details>

[code]

</details>

[2017-02-03 21:55] jdm commented on #13942
The DOMRefCell panic is probably #14967, but without the full backtrace it's hard to verify.

[2017-02-03 22:12] jdm commented on #14787
The work in #14811 looked great, but it needs some review comments addressed. Anybody is welcome to finish off that effort!

[2017-02-03 22:15] #13766 closed

[2017-02-03 22:27] jdm commented on #8700
https://github.com/servo/servo/pull/14445 and https://github.com/servo/servo/pull/14491 should have implemented the "leave secure cookies alone" specification.

[2017-02-03 22:45] #15332 closed

[2017-02-03 22:48] asajeffrey opened #15373 "Multithreaded JS runtime"
Over in https://bugzilla.mozilla.org/show_bug.cgi?id=1323066 there is work on a multithreaded JS runtime. If we had such a thing, and it supported changing the thread-ownership of compartments, we could use this to implement setting `document.domain` more straightforwardly. We could map pipelines to threads based on their effective origin, then when setting `document.domain`, we could change the t

[2017-02-03 23:02] jdm opened #15374 "column-width doesn't work"
[code]
Firefox:
<img width="179" alt="screen shot 2017-02-03 at 6 01 58 pm" src="https://cloud.githubusercontent.com/assets/27658/22611831/df7e176e-ea3a-11e6-867c-cb375f230f67.png">
Servo:
<img width="76" alt="screen shot 2017-02-03 at 6 02 17 pm" src="https://cloud.githubusercontent.com/assets/27658/22611839/ea510052-ea3a-11e6-96cb-9fd79ef08c1a.png">

[2017-02-03 23:08] jdm opened #15375 "Make await_stable_state use microtasks"
https://html.spec.whatwg.org/multipage/webappapis.html#await-a-stable-state and https://dxr.mozilla.org/servo/rev/da89099e26955cf5ba44031a0a536e3af4e6a0d5/components/script/script_thread.rs#595 do not match.

[2017-02-03 23:14] KiChjang commented on #13942
So, with debug symbols on, I have a different error message:
[code]
And the function it references is here:
<details>

[code]
</details>

[2017-02-03 23:26] KiChjang commented on #15375
If I'm reading correctly, the only change here is to change the function from using `script_thread.chan` to queue a Runnable to instead use the microtask task source?

[2017-02-03 23:34] jdm commented on #15375
No such thing as a microtask task source in our implementation, but yes, it looks like enqueuing a microtask that invokes the given runnable should be enough.

[2017-02-04 01:30] dpyro commented on #15194
I’m starting to get stuff to work! There is an issue: the current implementation expresses `Angle` in terms of radians, but [the canonical and default unit is degrees](https://drafts.csswg.org/css-values-3/#angles). Do we also need to keep track of the specified unit for serializing `Angle`s back out?

[2017-02-04 01:48] upsuper commented on #15194
Per spec, and other major browsers' behavior, I think for specified value, the original unit should be preserved. (That said, `10rad` is serialized as `10rad`, and `10deg` is serialized as `10deg`.)

This means you'll probably also need to change some of the parsing code to preserve the units. In addition to that, it seems that Servo is currently normalizing `rotate{X,Y,Z}` to `rotate3d`, `skew{X,

[2017-02-04 04:07] wafflespeanut opened #15377 "Intermittent FAIL in /html/dom/dynamic-markup-insertion/document-write/iframe_005.html"
▶ Unexpected subtest result in /html/dom/dynamic-markup-insertion/document-write/iframe_005.html:
      │ FAIL [expected PASS] document.write external script into iframe write back into parent
      │   → assert_array_equals: lengths differ, expected 5 got 2
      │
      │ @http://web-platform.test:8000/html/dom/dynamic-markup-insertion/document-write/iframe_005.html:20:7
      │ Test.prototype.s

[2017-02-04 04:52] Manishearth opened #15378 "Intermittent FAIL in /html/dom/dynamic-markup-insertion/document-write/iframe_005.html"
[code]

http://build.servo.org/builders/mac-rel-wpt1/builds/2207

[2017-02-04 04:58] Manishearth commented on #15378
#15377

[2017-02-04 04:58] #15378 closed

[2017-02-04 05:34] jdm commented on #15377
cc @nox

[2017-02-04 07:49] deror1869107 commented on #15350
I can use ```TypedArray<T>::create``` to instead of ```slice_to_array_buffer_view<T>```.

Should I have to write ```TypedArray<T>::update(obj: *mut JSObject, data: &[T])``` for TypedArray?

[2017-02-04 08:03] simpslandyy commented on #15190
Is the link to the relevant code where the issue is?
I've been looking around at it and trying to understand what's exactly happening,
do you mind giving me the general idea behind this code?
What is the method `to_css_declared` doing exactly?

[2017-02-04 09:15] upsuper commented on #15190
I thought it is, and the solution in my mind was that, if `self.column_width` is `initial`, output `auto` instead. But I realized that there are two more fundamental issues here:
1. We should not call into this function at all when any longhand of this shorthand is `initial`, which is actually #15004.
2. `column_width` should not be `initial` at all here, since `columns` shorthand should save the

[2017-02-04 10:41] upsuper opened #15380 "Shorthands are responsible to reset all their longhands to an actual value (rather than "initial")"
Currently, the `Longhands` structs of shorthand properties take an `Option` for each of its longhands, and when the value is `None`, the corresponding longhand is set to `DeclaredValue::Initial`.

This is wrong, because shorthands should always set its longhands to an actual value, rather than a CSS-wide keyword. The only case setting a shorthand could make its longhands have CSS-wide keywords is

[2017-02-04 10:42] upsuper commented on #15380
(This is probably not very hard, but may need some time. Probably a less-easy?)

[2017-02-04 11:56] nox commented on #15377
We don't handle delaying the load event for iframes correctly.

[2017-02-04 14:45] jdm commented on #15350
Yes, I think it makes sense to add a new API To TypedArray. It should panic if the length of the new data does not match that length of the array buffer's data.

[2017-02-04 17:42] bd339 commented on #15162
I'm looking for something to work on. Worked on a couple of issues and would like something that involves Rust code.

[2017-02-04 19:23] prampey commented on #14967
@jdm Thanks. It works without errors now. Are there any tests to be written?

[2017-02-04 20:32] jdm commented on #14967
An automated test that demonstrates this case working would be ideal. See test/wpt/README.md for instruction on writing new tests, and it can live in tests/wpt/Mozilla/tests/Mozilla.

[2017-02-04 21:04] birdie-github opened #15385 "Build the Linux version of Servo on a CentOS 7.x host as opposed to what you're using right now"
I cannot test servo in CentOS/ScientificOS/RHEL 7.0 because you require too fresh glibc and ssl libraries:

[code]

Please downgrade your build host(s).

Please don't offer to use `LD_PRELOAD`: it doesn't work for glibc.

In a perfect world I'd ask you to build servo on CentOS 6.x for maximum compatibility but I guess it's too much to ask.

CentOS 7.0 does contain LLVM and Clang:
[code]

[2017-02-04 21:06] jdm opened #15386 "Entanglement game panics while cropping image in canvas thread"
http://entanglement.gopherwoodstudios.com/
[code]

[2017-02-04 21:12] jdm opened #15387 "Remove use of unwrap in handle_exit_pipeline_msg"
After the panic in #15386, there is a subsequent panic that looks like this:
[code]
This comes from `response_port.recv().unwrap()` in [handle_exit_pipeline_msg](https://dxr.mozilla.org/servo/rev/da89099e26955cf5ba44031a0a536e3af4e6a0d5/components/script/script_thread.rs#1537), and the unwrap is unnecessary because we're trying to shut down the thread. It doesn't matter if we encounter an error he

[2017-02-04 21:12] highfive commented on #15387
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-04 21:14] jdm commented on #15386
I'm pretty sure the problem is in the calculation of [crop_area_bytes_length](https://dxr.mozilla.org/servo/rev/da89099e26955cf5ba44031a0a536e3af4e6a0d5/components/canvas/canvas_paint_thread.rs#748), which multiplies crop_rect.size.height by itself, and ignores crop_rect.size.width.

[2017-02-04 21:14] highfive commented on #15386
Please make a comment here if you intend to work on this issue. Thank you!

[2017-02-04 21:18] jdm commented on #15385
The SSL part of this is covered by #12015. I don't know if we have an issue tracking glibc.

[2017-02-04 21:34] canaltinova opened #15388 "Intermittent crash in /workers/semantics/interface-objects/002.worker.html"
[code]

[2017-02-04 22:01] jdm commented on #14870
Further updates in https://internals.rust-lang.org/t/incremental-compilation-beta/4721/17.

[2017-02-04 22:11] #14955 closed

[2017-02-04 22:37] stshine commented on #15374
I think this belongs to multicol, not flexbox.

[2017-02-04 23:05] jdm commented on #15374
When testing, don't forget to use `--pref layout.column-width.enabled`.

[2017-02-04 23:09] freeatnet opened #15389 "A document created through parseFromString inherits creator document's CSS"
Steps to reproduce:
1. Open a document that contains one or more CSS rules and creates a non-empty document using `DOMParser.parseFromString`
2. Check the result of `window.getComputedStyle` on the created document

Expected: created document does not inherit CSS rules of the main document
Observed: created document inherits CSS rules of the main document

The issue can be reproduced using the fol

[2017-02-04 23:20] jdm commented on #15389
Interestingly enough, there's a note about this specific case in https://drafts.csswg.org/cssom/#dom-window-getcomputedstyle:
[code]

[2017-02-04 23:24] jdm commented on #15389
Doubly interestingly, there's code that deals with a similar case which has an interesting TODO comment that suggests that the spec may not be aligned with the real world: https://dxr.mozilla.org/servo/rev/da89099e26955cf5ba44031a0a536e3af4e6a0d5/components/script/dom/cssstyledeclaration.rs#201-205

[2017-02-05 06:05] vwvww commented on #14898
@jdm Sorry, I was busy on personal works so I could not get into this issue... I'll restart working on this issue today.

[2017-02-05 06:57] gterzian commented on #15021
Hi there, I've started looking into this, and the first question I have is: The stuff found in https://github.com/servo/rust-mozjs/, are those just stubs or actual implementations as well? For example I see Servo is using [JS_WriteStructuredClone](https://github.com/servo/rust-mozjs/blob/master/src/jsapi_macos_64.rs#L6126) but I can't find the actual implementations.

Same thing for [JSStructuredC

[2017-02-05 08:41] KiChjang commented on #15021
@gterzian rust-mozjs are Rust bindings to the JavaScript engine that we use called SpiderMonkey. It is essentially the js directory in Gecko.

[2017-02-05 12:36] SimonSapin commented on #14870
I’m waiting for the next nightly to try that last fix (https://github.com/rust-lang/rust/pull/39424).

[2017-02-05 13:04] gterzian commented on #15021
@KiChjang thanks for the info. Why is it that those JSStructuredCloneCallbacks are found within `rust_mozjs`, while in gecko they are in the `dom` folder, not `js`?

[2017-02-05 13:50] gterzian commented on #15021
Ok so here is what I can make out of the Gecko code:

* There is this [`dom/base/StructuredCloneHolder`](https://dxr.mozilla.org/mozilla-central/source/dom/base/StructuredCloneHolder).
* Sometimes directly, sometimes through a lot of indirection, this `StructuredCloneHolder` ends up calling the various [`JS_*` operations in js/public/StructuredClone.h](https://dxr.mozilla.org/mozilla-central/sourc

[2017-02-05 14:00] SimonSapin commented on #14870
Well, I didn’t wait. With Rust master, incremental compilation cuts build times after `touch components/style/lib.rs` by ~30% compared to `-C codegen-units=4`. Note though that this is the ideal case for incremental compilation since nothing other than a source file timestamp changes. The time for a real rebuild (with few but non-zero changes) would be somewhere in-between.

As a first step, let’s

[2017-02-05 15:12] jdm commented on #15021
Yep, that sounds like a correct summary of how all the pieces fit together. I think implementing stubs for all of the callbacks makes the most sense; we will presumably need some kind of delegation like https://dxr.mozilla.org/mozilla-central/rev/1d025ac534a6333a8170a59a95a8a3673d4028ee/dom/base/StructuredCloneHolder.cpp#62-65, and then we can focus on supporting a single small use case like using

[2017-02-05 18:03] saneyuki opened #15391 "Fails to build `style` crate if incremental builds is enabled on macOS Sierra"
## Environment

- macOS Sierra (10.12.3)
- Servo tree
  - https://github.com/servo/servo/commit/cd63f1b158807035d2a83584e64329015a3fff4d
  - rustc: `2017-02-05`
  - cargo commit hash: `385e24360dc2c714e5f14bcc0e54afb87fc042d3`
- Set `incremental = true` on `.servobuild`

## Steps to Reproduce

1. Edit some files under `style` crate.
2. `./mach build --dev`

## Actual Result

- The build is failed

[2017-02-05 18:04] saneyuki commented on #15391
relate: https://github.com/servo/servo/issues/14870

[2017-02-05 18:21] saneyuki commented on #15391
rust-lang side issue: https://github.com/rust-lang/rust/issues/39568

[2017-02-05 20:04] UK992 commented on #12125
@nikhiljha this link is not updated anymore, use this one: https://download.servo.org/nightly/windows-msvc/servo-latest.msi

[2017-02-05 20:15] Pryx opened #15392 "web.basemark.com won't start, no error shown"
Tested current master, built and tested with both release and debug option on Arch Linux.

When you go to [web.basemark.com](http://web.basemark.com) and click start, Servo shows white screen and nothing happens. Interestingly enough no error is shown.

[2017-02-05 20:35] jdm commented on #15392
When I run it I see "Could not load the requested page: connection reset".

[2017-02-05 20:51] jdm commented on #15392
`curl https://web.basemark.com` shows me the page source. When I `cargo install` the rural and rget crates (which are based on `reqwest` and rely on `hyper`, like Servo), both of those tools take over a minute to retrieve the page source. Something very strange is going on.

[2017-02-06 01:13] upsuper opened #15394 "Attribute prefix and suffix selector should match nothing if the string is empty"
See the following code:
[code]

Both attribute selectors should match nothing, so the color should be green.

Spec: https://drafts.csswg.org/selectors-4/#attribute-substrings

This is probably an issue in servo/rust-selectors, and might be an easy issue.

cc @SimonSapin

[2017-02-06 03:02] upsuper opened #15395 "Border shorthand incorrectly serializes when sides are not identical"
The relevant code is: https://github.com/servo/servo/blob/master/components/style/properties/shorthand/border.mako.rs#L134-L143

The comment says "If all longhands are all present, then all sides should be the same"... which is apparently false.

One can have code like `border: 3px solid green; border-left-width: 2px;` where all longhands are present, but some sides have different values.

The cor

[2017-02-06 03:02] highfive commented on #15395
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-06 03:10] upsuper commented on #15395
Test code:
[code]

[2017-02-06 03:29] upsuper opened #15397 "color value should be canonicalized when serializing"
For example:
* `CURRENTcolor` should be serialized to `currentcolor`
* `RGB(0, 128, 0)` should be serialized to `rgb(0, 128, 0)`

Test code:
[code]

Unfortunately there doesn't seem to be any spec for this algorithm, and I've filed w3c/csswg-drafts#1004 for that.

I guess this would need changes to both Servo and cssparser.

[2017-02-06 03:34] upsuper commented on #15169
In addition to the `/` separator, the serialization should also be condensed to the shortest form when possible, which means `border-radius: 1px 1px 1px 1px / 2px 2px 2px 2px` should be serialized to `border-radius: 1px / 2px`, and `border-radius: 1px 1px 1px 1px / 1px 1px 1px 1px` should be `border-radius: 1px`.

[2017-02-06 03:53] upsuper opened #15398 "Serialization of animation and transition shorthand is wrong"
Each longhand of animation shorthand is a list, and `animation` shorthand should be serializable only when all the lists have the same length. And the serialization should be a list of each animation, rather than a list of lists for each longhand.

For example,
[code]
should be serialized to something like
[code]
not
[code]

The relevant code is https://github.com/servo/servo/blob/master/component

[2017-02-06 03:57] upsuper commented on #15398
The same issue applies to `transition` shorthand as well. The relevant code is https://github.com/servo/servo/blob/master/components/style/properties/shorthand/box.mako.rs#L171-L182

[2017-02-06 03:59] Manishearth commented on #15398
I guess the value should be cycled like we do for background?

[2017-02-06 04:06] upsuper commented on #15398
They should be cycled in computation, but serialization of specified value should be empty if the lengths don't match.

Your comment makes me think that our serialization code of `background` shorthand is wrong as well, e.g.
[code]
is different as
[code]

[2017-02-06 04:07] upsuper commented on #15398
Oh, hmmm, let me check first :/ I'm not completely familiar with the rules here.

[2017-02-06 04:17] upsuper commented on #15398
For computation, the value should be cycled, but for serialization of specified value, it should just return empty if the list lengths don't match each other. The same thing applies to `background`. So our `background` serialization code is wrong as well.

Gecko and Edge agree on the behavior I described above. Blink always does serialization but omits the deficient parts in the shorthand serializ

[2017-02-06 04:18] Manishearth commented on #15398
@KiChjang @canaltinova @Wafflespeanut  want to look at this?

[2017-02-06 04:18] Manishearth commented on #15398
(not sure if this is easy; with extra mentoring i think it could be -- feel free to retag and mentor if you feel like that's the case)

[2017-02-06 04:22] upsuper commented on #15398
(The same issue of `background` shorthand applies to `background-position` shorthand as well, fwiw.)

[2017-02-06 04:59] jdm commented on #15169
@Aaron-Tang have you made progress? Any questions?

[2017-02-06 05:18] upsuper opened #15399 "Name of custom properties are not properly escaped when serializing"
See the following test code:
[code]

Servo currently shows `--weird;name: green;` which is wrong, because it is invalid. The name should be escaped so the result should be `--weird\;name: green;`.

Blink seems to have the same issue, so it's worth a new test in wpt.

[2017-02-06 05:36] upsuper opened #15400 "Parse display: -webkit-{flex,inline-flex} as flex, inline-flex"
It doesn't seem that there is any spec includes this... but Gecko support it. Probably we should spec it at some point.

[2017-02-06 05:53] upsuper opened #15401 "Serialization of custom property declaration should contain a whitespace after colon if the value is a CSS-wide keyword"
The following code:
[code]
should generate `--a: inherit` instead of `--a:inherit` (notice the whitespace after colon).

I think the relevant code is https://github.com/servo/servo/blob/master/components/style/properties/properties.mako.rs#L976-L985 where `value_is_unparsed` unconditionally returns `true` for custom properties, while CSS-wide keywords are actually parsed values. (The parsing code

[2017-02-06 05:53] highfive commented on #15401
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-06 05:58] karlding commented on #15395
I'm a newbie at Rust, but I'd like to try taking a stab at this!

Essentially, the output should only be the properties that are common between all 4 sides, right?

@highfive: assign me

[2017-02-06 05:58] highfive commented on #15395
Hey @karlding! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-06 06:09] shinglyu opened #15402 "clear:both is not working"
(Kind of related to #7311)

This test case failed:

[code]

Should look like: (gecko)
![selection_091](https://cloud.githubusercontent.com/assets/3250983/22636388/a8e457bc-ec75-11e6-9644-8ab1645f210b.png)

Actually looks like:
![selection_090](https://cloud.githubusercontent.com/assets/3250983/22636394/baa6bc9c-ec75-11e6-9809-58d7b2c8150f.png)

[2017-02-06 06:11] shinglyu commented on #15149
The css-test test cases are blocked by #15402, I'll take a look at that first.

[2017-02-06 06:11] upsuper commented on #15395
The output should be empty if there is anything different between the four sides. It should output something only if all four sides are completely identical in style, color, and width.

[2017-02-06 06:24] gterzian commented on #15021
@jdm awesome, thanks!

[2017-02-06 08:34] stshine commented on #15402
Note that pcwalton has a plan for floating code rewrite, so no need to take too much effort if this is not something trival.

[2017-02-06 09:54] upsuper opened #15404 "Fix style system mochitest failures in stylo"

[2017-02-06 10:20] SimonSapin commented on #15394
This needs to be fixed in implementations of the `match_attr_prefix` and `match_attr_suffix` trait methods. We have two of them:

* https://github.com/servo/rust-selectors/blob/master/src/tree.rs
* https://github.com/servo/servo/blob/master/components/style/gecko/wrapper.rs

Alternatively, we could change the selector parser to emit new `SimpleSelector::AttrPrefixEmpty` and `SimpleSelector::AttrSu

[2017-02-06 10:35] upsuper commented on #15394
I think it is probably better being handled inside selectors crate, since it is part of the selectors spec, not something depends on the host language, and thus I don't think the behavior should depend on how the trait methods are implemented.

[2017-02-06 11:17] karan1276 commented on #15345
Correct me if i am wrong, (this line)[https://github.com/servo/servo/blob/master/components/style/values/specified/basic_shape.rs#L755] is true if it is a short hand i.e. `parse_one_set_of_border_values` will be called for short hand parse ?

[2017-02-06 11:58] SimonSapin commented on #15394
I’m working on this. Substring and "includes" attr selectors are also affected:

[code]

(The space in `attr="foo "` is important, since `"foo ".split(' ') == ["foo", ""]` and we get an empty string for `~=` to (incorrectly) match.)

[2017-02-06 12:03] Wafflespeanut commented on #15345
You're right! :)

[2017-02-06 12:51] enizor commented on #14095
I would like to work on this issue!

[2017-02-06 12:57] SimonSapin commented on #15394
rust-selectors v0.16.0 is on crates.io and should fix this. What remains to do is update servo to it and add tests.

[2017-02-06 14:53] jdm opened #15407 "Check if Azure can be used off the main thread"
I just came across https://bugzilla.mozilla.org/show_bug.cgi?id=801176#c139 which says "So just to be clear. It -does not- matter whether a DrawTarget is or is -not- shared across multiple threads, a DrawTarget -cannot- be used -off the main thread- -ever-, currently." Since we create and use draw targets in separate threads for each 2d canvas, this sounds pretty bad!

[2017-02-06 15:08] jdm commented on #15407
https://bugzilla.mozilla.org/show_bug.cgi?id=1264023 looks relevant.

[2017-02-06 15:22] charlesvdv commented on #15162
@jdm I'm interrested in working on something a bit bigger as I just finished my exams.

[2017-02-06 15:26] jdm opened #15409 "Use the entry settings object in CanvasRenderingContext2d::is_origin_clean"
We recently gained support for [GlobalScope::entry](http://doc.servo.org/script/dom/globalscope/struct.GlobalScope.html#method.entry), so we can use it to fix the TODO in this method.

Code: `components/script/dom/canvasrenderingcontext2d.rs`
Test: Try running `./mach test-wpt tests/wpt/web-platform-tests/2dcontext/` and see if any unexpected results appear.

[2017-02-06 15:26] highfive commented on #15409
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-06 15:46] Ms2ger commented on #15409
Note that the origin of an image element is not the origin of its URL; see <https://html.spec.whatwg.org/multipage/browsers.html#concept-origin>, <https://html.spec.whatwg.org/multipage/embedded-content.html#img-req-data> and <https://html.spec.whatwg.org/multipage/embedded-content.html#updating-the-image-data:img-req-data-2>. I'm not sure we can implement that part without #14962.

[2017-02-06 15:53] jdm commented on #15409
True. Let's put this on hold until then.

[2017-02-06 16:12] jdm opened #15410 "Increase the size of the read buffer for HTTP responses"
https://github.com/servo/servo/pull/11904 was an attempt at this that ran into other problems. We should definitely read more than 1kb at a time, though.

[2017-02-06 16:19] asajeffrey commented on #15373
cc @tschneidereit

[2017-02-06 16:41] SimonSapin commented on #15407
@nical, do you know about this?

[2017-02-06 17:08] jdm commented on #10418
The way Gecko handles this is they have a list of reflectors that are allocated in the nursery, and when a minor GC happens it manually invokes the finalizer if necessary.

[code]

[2017-02-06 17:20] nical commented on #15407
Yeah, basically Moz2D and (some of) its underlying backends have global caches that aren't safe to access from multiple threads. So you should define a thread that can use Moz2D and not use Moz2D elsewhere. It could be that the skia backend is less troublesome than the cairo/d2d ones, although if you are using freetype under the hood there's most likely work to do to make sure skia uses it in a th

[2017-02-06 17:24] jdm commented on #15407
Probably one reason we haven't hit problems is that our canvases don't support text yet, so we don't do any font interactions.

[2017-02-06 17:46] broesamle commented on #11172
still the same. I'll give it another try.
![image](https://cloud.githubusercontent.com/assets/4546533/22659055/8b3b78d6-ec9c-11e6-968e-26f7e5480206.png)

[2017-02-06 19:01] rwakulszowa commented on #15320
Ok, I've got some questions:
- Adding two params to `PropertyDeclaration::parse()` will force some parsers, like the [Keyframe one](https://github.com/servo/servo/blob/77f53aae3eee59957521ea76e95bd3e454c4ddd9/components/style/keyframes.rs#L407) to create the bitvector for duplication checking, although it doesn't really need to check for duplicates, which may make the code confusing
- Wouldn't it

[2017-02-06 19:23] Manishearth commented on #15320
There are many things being done in the PD parser that aren't used by all callers, so this shouldn't be a blocker.

The reason we can't do it in parse_property_declaration_list is that we need to iterate all over again, and also branch based on property names (which is bad for perf and code size)

We might actually care about duplications in keyframes too, but not have code for that. I'll have to

[2017-02-06 19:51] jonathandturner commented on #12125
@UK992 - are we sure that's the latest?  I just tried it out and am seeing that this version doesn't work with most of the links on the startup page:

![servo_hackernews](https://cloud.githubusercontent.com/assets/547158/22663705/8077241a-ed12-11e6-8f37-a859b793df51.png)

![servo_rust_webpage](https://cloud.githubusercontent.com/assets/547158/22663708/842f7c92-ed12-11e6-88ba-7f9a322555f4.png)

![s

[2017-02-06 20:05] codec-abc commented on #12125
I tried with the same version and it is worst on my side. I have the same problem as @jonathandturner and I have some huge memory leaks. For example, if I open HackerNews then servo start to use all the ram available making my computer unusable.

[2017-02-06 20:17] leeoniya commented on #12125
seeing same issues here, eating 3GB RAM, crashes randomly.

[2017-02-06 21:30] jdm opened #15412 "Notify global object about rejected promises"
As part of the [microtask checkpoint](https://dxr.mozilla.org/servo/rev/fb4f421c8b9cbf80a86c9c5eb88395d7008b27a1/components/script/microtask.rs#78), we should be implementing the global [unhandledrejection event](https://html.spec.whatwg.org/multipage/webappapis.html#notify-about-rejected-promises).

[2017-02-06 21:45] SimonSapin opened #15413 "Add support for ::first-line and ::first-letter"
We don’t have them. We may want them at some point. But then again, sites that use them tend to work pretty well when they’re not implemented.

Parsing is easy (`enum PseudoElement` and `parse_pseudo_element` in `components/style/servo/selector_parser.rs`). Cascading and flow construction is tricky.

[2017-02-06 23:06] karlding commented on #15395
Alright, sounds good! Also, I don't think I saw any (unit) tests associated with this in the repo. Did I miss that, or is that covered elsewhere?

[2017-02-06 23:09] upsuper commented on #15395
I guess you're right that there is no test for this, otherwise we should have know this earlier :)

Could you add some tests for this with your pull request?

[2017-02-07 00:41] karlding commented on #15395
Sure!

Also, I noticed in ``data.py``, ``PHYSICAL_SIDES`` is defined, but in ``border.mako.rs``, it seems like there is a preference for writing out ``["top", "right", "bottom", "left"]``. Is there a reason why this isn't used?

[2017-02-07 00:51] upsuper commented on #15395
I think it's fine either way. It is probably simply because the code in `border.mako.rs` predates `PHYSICAL_SIDES`.

[2017-02-07 01:32] upsuper opened #15415 "Support :lang pseudo-class for stylo"
In #8219, @KiChjang is going to implement `:lang` pseudo-class for Servo. I guess there would be some more code for support the pseudo-class in stylo.

[2017-02-07 01:36] BladeMight commented on #12125
6GB RAM, used 1.4GB, running servo gives me message:

 servo.exe

Servo window is black, memory used 3GB & cached 1.5GB during servo.exe runtime.

[2017-02-07 01:52] SimonSapin commented on #8219
The algorithm described in https://html.spec.whatwg.org/multipage/dom.html#language to determine the language of an element involves traversing the tree to look at ancestors. Since that can be expensive and might be used repeatedly during selector matching, we likely want to cache the result of that algorithm on each element nodes. (And take care to update it when e.g. a `lang` attribute is change

[2017-02-07 02:01] SimonSapin commented on #8219
Looks like Gecko does do any such caching. I’m slightly surprised, but then the above was based only on guessing.

http://searchfox.org/mozilla-central/rev/f5077ad52f8b90183e73038869f6140f0afbf427/layout/style/nsCSSRuleProcessor.cpp#1803
http://searchfox.org/mozilla-central/rev/f5077ad52f8b90183e73038869f6140f0afbf427/dom/base/nsIContent.h#952

[2017-02-07 03:53] munyari commented on #15401
@highfive: assign me

[2017-02-07 03:54] highfive commented on #15401
Hey @munyari! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-07 04:26] munyari commented on #15401
Hi @upsuper! First time contributor and sorta rust noob here. I can see the `parse` function right below `value_is_unparsed` which you refer to. There, it looks like we pattern match on `PropertyId` instead of `PropertyDeclaration`. From what you said above, css-wide keywords should return false. Should other `Custom` property declarations return true? Looks like `Custom` has a `Name` and `Declare

[2017-02-07 04:41] upsuper commented on #15401
No. Other value for custom property should be treated as unparsed, because they are basically just raw string. Only CSS-wide keywords should be considered parsed.

Note that, `--a: foo` is different from `--a:foo` per spec, so we cannot add whitespace after colon if the value is not a CSS-wide keyword.

[2017-02-07 05:19] #15204 closed

[2017-02-07 06:59] karan1276 commented on #15345
@Wafflespeanut  thanks!

[2017-02-07 07:02] karan1276 commented on #15345
I know this issue is already assigned, If @Lyjame  is still working on it feel free to close the PR.

Otherwise, please review it :)

[2017-02-07 07:05] jdm commented on #15345
I went ahead and closed the PR. Please ask first before working on issues that have already been assigned to somebody else in the future!

[2017-02-07 07:38] Wafflespeanut commented on #15310
@hiei23 have you started working on this?

[2017-02-07 07:43] Wafflespeanut commented on #15162
Hi @charlesvdv! How familiar are you with Rust? We have a bunch of issues that may consume 1-2 weeks or something. We also have a list of [student projects](https://github.com/servo/servo/wiki/Student-projects) which you might be interested in.

[2017-02-07 08:08] charlesvdv commented on #15162
Yes I'm familiar I've already made 2 pulls requests to servo during my exams but now I'm interrested into working on something a bit bigger.

[2017-02-07 08:39] karan1276 commented on #15387
can i work on this?

[2017-02-07 08:41] mozfreddyb commented on #15386
I am taking a stab.

[2017-02-07 08:42] mozfreddyb commented on #15387
I am taking a stab at 15386 and am in the process of compiling. Should folks take those 2 issues together?

[2017-02-07 08:45] karan1276 commented on #15387
looks like they are both in the same file. you can probably do it, if others agree.

[2017-02-07 09:00] KiChjang commented on #15387
Other than the website that is used to produce these 2 panics, I don't see any relationship between the issues. The affected file here is script_thread.rs and the other linked issue is canvas_paint_thread.rs. @karan1276 Go ahead and work on it!

[2017-02-07 09:02] mozfreddyb commented on #15387
OK 👍

[2017-02-07 09:18] karan1276 commented on #15387
:+1:

[2017-02-07 09:44] mozfreddyb commented on #15386
Here's what I did

[code]

Now, `./mach run http://entanglement.gopherwoodstudios.com/` gives some new errors on the console.
But I don't think they are so bad that the render window should remain blank 😕

[2017-02-07 09:59] mozfreddyb commented on #15386
To be clear, I get the same output and the same blank page without my patch applied. Please advise :)

[2017-02-07 10:24] Wafflespeanut commented on #15398
This might be a good second/third bug (I wouldn't particularly encourage this as a first bug though). They're all values in vectors. As Manish said, we should cycle through the longhand values in a loop, `get` the values for serialization and `break` when all the values are `None`. I can mentor this.

[2017-02-07 10:25] highfive commented on #15398
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-07 10:36] upsuper commented on #15398
No, we should not cycle through the longhand values. We should simply return empty if the lengths do not match.

[2017-02-07 10:40] Wafflespeanut commented on #15398
Oh cool.

[2017-02-07 14:10] Ms2ger commented on #15386
If the panic is gone, that's a valuable improvement already. The remaining errors refer to #11681 and #6711.

[2017-02-07 14:41] mozfreddyb commented on #15386
Alright, thanks! Wasn't sure whether the other problems would come before or after the panic. Pull Request coming in.

[2017-02-07 16:01] jdm commented on #13276
@charlesvdv Would you be interested in this? The relevant code is in `components/script/dom/xmlhttprequest.rs`, and the `web-platform-tests` issue shows tests that should pass after updating the implementation.

[2017-02-07 16:19] avadacatavra opened #15425 "devtools can't handle new pipelines"
Refreshes now give a different pipeline, and when you navigate to a new page, you also get a new pipeline. Devtools can currently only track a single pipeline (and it can't show historical data), so we can't effectively track network activity with it.

From discussion with @jdm:
We need some sort of coordination from the constellation (maybe?) to tell the devtools that pipeline 1 is navigating to

[2017-02-07 16:19] highfive commented on #15425
cc @fitzgen

[2017-02-07 16:55] avadacatavra commented on #14265
I'm going to close this--there should be another discussion thread about TLS libraries soon. The general plan is to work towards removing the openssl dependency and move towards a rust based library

[2017-02-07 16:55] #14265 closed

[2017-02-07 18:09] Wafflespeanut opened #15426 "Remove an invalid FIXME"
There's a FIXME pointing to the animation/transition timing keyword functions serializing to cubic beziers. #14899 has fixed this, and so we can remove it.

Code: `components/style/properties/shorthand/box.mako.rs`

[2017-02-07 18:09] highfive commented on #15426
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-07 18:12] clementmiao commented on #15162
I'm interested in contributing during my personal time outside of work at Dropbox. Previously, I've had two accepted PRs to rust-lang.

My experience with Rust is beginner, but I have gone through steve klabnik's upcoming rust lang book, and built a couple personal projects with it (hyper, iron mostly).

[2017-02-07 18:15] deror1869107 commented on #15350
Inorder to update the typedarrays, I have the code like ```typedarray!(in(cx) let left_proj_array: Float32Array = self.left_proj.get());``` in [VRFrameData::update](https://github.com/servo/servo/blob/master/components/script/dom/vrframedata.rs#L73).

But I have no cx in this scope, how can I get one?

[2017-02-07 18:36] jdm commented on #15350
Yes, that's fine.

[2017-02-07 19:29] hiei23 commented on #15310
yes i have started. I am new to rust programming language and catching up with the language.

[2017-02-07 19:41] z1mvader commented on #15426
Hi! I'd like to take this one @highfive : assign me

[2017-02-07 19:41] highfive commented on #15426
Hey @z1mvader! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-07 19:48] charlesvdv commented on #13276
@jdm I will try it! Thanks a lot!

[2017-02-07 20:22] jonathandturner opened #15428 "Windows nightly hangs when loading pages"
The currently Windows nightly hangs when loading Hacker News, Reddit, and a few of the other showcase links.

The CPU maxes out and nothing from the page is shown.

![servo_hackernews](https://cloud.githubusercontent.com/assets/547158/22709815/0cceb626-ede0-11e6-8ed3-d890fa361002.png)

[2017-02-07 20:31] jonathandturner commented on #15428
Poking around a bit more, I can't get any of the website demos from the showcase working.  It seems something is happening as the page is rendered that causes the CPU to make out and Servo to hang.

If I try to close Servo when this happens, it stays in the background eating up the CPU and must be manually killed.

[2017-02-07 20:34] KiChjang commented on #15428
I think this happens on Linux as well - whenever a panic occurs, I am not able to close Servo using the top right X as well, manually killing the process is the only option.

[2017-02-07 20:35] jonathandturner commented on #15428
@KiChjang - is there a bug for that issue?

[2017-02-07 20:44] jdm commented on #15428
Nope.

[2017-02-07 21:04] jonathandturner opened #15430 "Stack overflow in render backtrace"
Was using servo looking through news (I think BBC?) and hit this stack overflow in RenderBackend.

cc @glennw

[backtrace.txt](https://github.com/servo/servo/files/758960/backtrace.txt)

[2017-02-07 21:06] jonathandturner commented on #15430
It happens clicking on http://www.bbc.co.uk/news/world-us-canada-38897507 from reddit.

[2017-02-07 21:08] emilio commented on #15430
cc @mrobinson

[2017-02-07 21:10] jonathandturner opened #15431 "Ars Technica text flow issues"
In a recent servo, I saw this while browsing Ars Technica:

![screen shot 2017-02-08 at 10 08 18](https://cloud.githubusercontent.com/assets/547158/22711624/b9fad6ee-ede6-11e6-92d8-efda1ca19c27.png)

This was on a checkout from yesterday on macOS.

[2017-02-07 21:16] jonathandturner opened #15432 "Servo homepage not rendered correctly"
The servo webpage currently looks like this in servo:

![screen shot 2017-02-08 at 10 14 33](https://cloud.githubusercontent.com/assets/547158/22711812/6a7a4d7e-ede7-11e6-9d80-c61163cc056e.png)

Seems like something is going wrong with the image rendering, which is causing it to be much larger than it should be, which in turn causes the rest of the page to flow far below.

For comparison, the same

[2017-02-07 21:16] enizor commented on #14095
I used @linclark's changes to understand the unpassed tests and his thoughts about modifying the doctype when XML documents are created.

The tests are failing on
[code]
I think that these tests are supposed to pass, and the `expected: FAIL` was added for some reason in #13210 (some form of acknowledgement? ). Deleting tests/wpt/metadata/dom/nodes/Node-properties.html.ini would do the trick in tha

[2017-02-07 21:23] jdm commented on #14095
Yes, the contents of the ini files reflect the status of the test on the master branch of Servo. PASS expected FAIL means that the test now passes correctly. Deleting the ini file is the correct thing to do.

[2017-02-07 21:24] jdm commented on #14095
The `is` member is specific to [Custom Elements](https://html.spec.whatwg.org/multipage/scripting.html#custom-elements) which we don't support yet.

[2017-02-07 21:26] asajeffrey commented on #14892
This is needed in a few places: anywhere we're sending origins to the contstellation, and anywhere where a helper thread needs to know the origin that its acting on behalf of, notably fetch.

[2017-02-07 22:48] jdm opened #15435 "Intermittent timeout in /html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html"
It's not clear to me where this error originates from. It's also not clear if this is just an instance of the test harness failing to recognize the process aborting, given that the original build log had a huge cascade of panics following this one.
[code]

[2017-02-07 23:21] jdm opened #15436 "Only expose Storage/StorageEvent in Window"
Currently we have `Exposed=(Window,Worker)` in the storage-related webidl files. We should only expose these in the Window global, which will allow us to update the `Constructor` methods to accept a `&Window` argument instead of the generic `&GlobalScope`.

Code: `components/script/dom/webidls/Storage.webidl`, `components/script/dom/webidls/StorageEvent.webidl`, `components/script/dom/storage.rs`,

[2017-02-07 23:21] highfive commented on #15436
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-07 23:22] jdm commented on #12415
We've done as much as we can in this issue. I'm filing individual ones for any remaining interfaces.

[2017-02-07 23:22] #12415 closed

[2017-02-07 23:26] jdm commented on #12278
@clementmiao Would this interest you?

[2017-02-08 00:24] KiChjang opened #15437 "Intermittent timeout in /_mozilla/css/borders_a.html"
[code]

[2017-02-08 02:26] paulrouget opened #15439 "WindowMethods::set_page_url is only called once"
I would expect this method to be called every time the top level browser navigates.

[2017-02-08 04:47] upsuper opened #15441 "Implement parsing webkit-prefixed gradient functions"
This is defined in the Compatibility Standard: https://compat.spec.whatwg.org/#css-image-type

The corresponding syntax is in https://www.w3.org/TR/2011/WD-css3-images-20110217/#gradients

[2017-02-08 05:02] upsuper opened #15443 "Implement parsing and serialization of -moz-element function for stylo"
This is not part of standard, but it is part of syntax which Gecko needs to support (before we implement the new syntax defined in the spec).

Syntax and description: https://developer.mozilla.org/en-US/docs/Web/CSS/element

(This might be an easy bug. The glue needs some work, though. It would be great if we can call the method directly, otherwise we would need a new binding function from Gecko s

[2017-02-08 05:23] KiChjang opened #15444 "Intermittent timeout of /html/browsers/history/the-location-interface/location-protocol-setter-non-broken-weird.html"
[code]

[2017-02-08 05:29] jdm opened #15445 "SM assertion failure ("!JS::shadow::Runtime::asShadowRuntime(runtime_)->isHeapBusy()") when closing worker test"
To reproduce, build with debugmozjs and run `./mach test-wpt -d /_mozilla/mozilla/interfaces.worker.html`, then close the window once the test is complete.
[code]

[2017-02-08 05:33] KiChjang opened #15446 "Intermittent pass of /css21_dev/html4/attribute-token-selector-002.htm"
[code]

[2017-02-08 07:21] clementmiao commented on #12278
@jdm although don't have much experience doing this, willing to give it a shot.

[2017-02-08 07:38] kekkyojin commented on #15436
As far as I have seen this bug wants the Worker on the .webidl files to be removed and &GlobalScoope to be replaced by &Window on the Rust source files.

@highfive: assign me

[2017-02-08 07:38] highfive commented on #15436
Hey @kekkyojin! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-08 10:06] upsuper commented on #15335
It seems this has been fixed. Closing.

[2017-02-08 10:06] #15335 closed

[2017-02-08 10:20] emilio opened #15448 "Land the test cases that should've landed with the selectors update"
See https://github.com/servo/servo/issues/15335 and https://github.com/servo/servo/issues/15394.

[2017-02-08 10:20] emilio commented on #15448
cc @bholley @nox @KiChjang

[2017-02-08 10:21] emilio commented on #15394
This is fixed now, filled  #15448 for the tests.

[2017-02-08 10:21] #15394 closed

[2017-02-08 10:23] nox commented on #15448
Don't add a test for #15394, there are already in WPT. See the expectation changes in @KiChjang's PR.

[2017-02-08 10:25] highfive commented on #15448
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-08 10:36] SimonSapin commented on #15448
@nox I think #15440 only changes test expectations for `[foo~=""]` not other kinds of selectors that are also affected.

[2017-02-08 10:37] nox commented on #15448
Oh I see, never mind then.

[2017-02-08 10:54] upsuper opened #15449 ""perspective" property must reject negative values"
Spec: https://drafts.csswg.org/css-transforms-2/#perspective-property

(The spec says positive, but it should be non-negative... which is an issue of the spec.)

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs#L1642-L1648

(Should be an easy one, but not clear what is the best way to fix. cc @Manishearth)

[2017-02-08 11:02] upsuper opened #15450 "background-size should reject negative values"
Spec: https://drafts.csswg.org/css-backgrounds-3/#the-background-size

Relevant code: https://github.com/servo/servo/blob/master/components/style/properties/longhand/background.mako.rs#L376-L411

`::parse_non_negative` should be used instead of `::parse`.

[2017-02-08 11:02] highfive commented on #15450
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-08 11:36] Wafflespeanut commented on #15200
@multhazim123 Hey, did you get to look into this?

[2017-02-08 11:37] Wafflespeanut commented on #15203
@niki-04 Hi! Have you started working on this?

[2017-02-08 11:38] Wafflespeanut commented on #15206
@chargadesilva Have you made any progress?

[2017-02-08 11:39] Wafflespeanut commented on #15209
@eddiequan Any news on this?

[2017-02-08 11:43] Wafflespeanut commented on #15344
@AdmiralCoco Did you look into this?

[2017-02-08 11:46] BorisChiou commented on #15449
The perspective matrix uses the parameter, d, to compute the matrix [1]: "-1/d", so zero should be unacceptable. However, IIRC, in Gecko, we treat prespective(0) as prespective(inf), so we still works on zero.

[1] https://drafts.csswg.org/css-transforms-2/#PerspectiveDefined

[2017-02-08 11:49] upsuper commented on #15449
We treat `perspective(0)` as `perspective(inf)`, but we treat `perspective: 0` as `perspective: epsilon`. Anyway, that happens in later place, so style system doesn't need to handle that. It just needs to reject negative value.

[2017-02-08 12:07] BorisChiou commented on #15449
I see. Thanks for clarification.

[2017-02-08 12:36] nox opened #15452 "Cannot run tests in presence of non-UTF-8 env variables"
[code]

Cc @Ms2ger @jgraham

[2017-02-08 12:45] nox commented on #15452
https://github.com/servo/servo/pull/14039#issuecomment-278319255

[2017-02-08 12:54] jlevesy commented on #15450
Hi there, I would like to work on this one !

[2017-02-08 12:56] nox commented on #15377
This is quite weird. I don't understand how can the load event handler see only 2 items in `order`, given everything happens sequentially in that test.

[2017-02-08 13:10] prampey commented on #14967
@jdm Okay so I decided to automate the MediaQuery matching up to 2 levels deep just to make sure that every instance has its own copy of Media Query lists to deal with.
First, I resize the window in the `body` tag to trigger the '`min-width`' media listener and then inside, I resize again to trigger the '`orientation`' media query.
Here's the code:
[code]
The code runs properly. Is this enough?

[2017-02-08 13:18] multhazim123 commented on #15200
Working on it.

[2017-02-08 13:28] nox commented on #15377
@jdm I can't reproduce it if I run only that test, and I can't log to a file the complete logs without color escape sequences when I reproduce it by running all the `document-write` tests through `./mach test-wpt`. What is the magical test-wpt command to have a log file that is actually useful and human-readable?

[2017-02-08 13:30] nox commented on #14967
@prampey Make a PR and we will review it.

[2017-02-08 13:42] rwakulszowa commented on #15320
What about `Custom` properties? If I understand correctly, we can't rely on a `PropertyBitField`, since it won't tell us about Custom duplicates. We would need to add another vector/set for Custom names, but that seems like an overkill. Or we could make the boolean indicate when parser detects a duplicate or any `Custom` value - is no-duplicates, no-custom-properties a common case?
Maybe there is

[2017-02-08 14:36] jdm commented on #14967
@prampey The idea is right, but you will need to use async_test instead of test. I'm pretty sure that right now the test will be declared a success before the match1 listener is invoked.

[2017-02-08 14:42] jdm commented on #15377
I haven't encountered that problem before. You're blazing new trails!

[2017-02-08 14:44] nox commented on #15377
I managed to log without the weird escape sequences, but now I have another problem. How can I use `RUST_LOG` with some `debug` levels in a release build? I have 0% reproducibility with debug.

[2017-02-08 14:44] jdm opened #15456 "Intermittent timeout in fetch::test_fetch_redirect_updates_method"
[code]

[2017-02-08 14:46] jdm opened #15457 "Intermittent timeout in /css21_dev/html4/margin-bottom-043.htm and /css21_dev/html4/margin-bottom-055.htm"
[code]

[2017-02-08 17:15] highfive commented on #15449
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-08 17:16] Manishearth commented on #15449
We just need to add parse_non_negative as the predefined type parse function there.

[2017-02-08 17:17] Manishearth commented on #15320
Yeah, no duplicates, no custom properties is the common case.

[2017-02-08 17:19] Manishearth commented on #15320
You could also use a vector to track if custom props are being used, which would be a code path that only gets hit when you encounter one in the first place, so it's fine to do that too.

[2017-02-08 17:52] niki-04 commented on #15203
@Wafflespeanut Not yet. I would get started this weekend.

[2017-02-08 18:21] KiChjang commented on #15200
@multhazim123 Did you run into any issues? Any questions that we can answer?

[2017-02-08 18:35] ioctaptceb commented on #15449
@highfive: assign me!

[2017-02-08 18:35] highfive commented on #15449
Hey @ioctaptceb! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-08 18:37] multhazim123 commented on #15200
@KiChjang Not yet. Please give me a few days.

[2017-02-08 19:22] avadacatavra commented on #15010
@jdm per our conversation yesterday, I'm now bumping this independently of #15329

[2017-02-08 19:42] eddiequan commented on #15209
@Wafflespeanut Yes, I've cloned the repo and have written a fix similar to #15195 and it seems to work. I will try to get a PR in following the contribution steps by this weekend!

[2017-02-08 19:47] Manishearth opened #15460 "Create a small façade to break servo_config dependency from style"
`servo_config` is a crate in components/config that pulls in a lot of random stuff.

In gecko mode, most of this is unnecessary. However, we pull this in for Stylo because the style crate needs to check if certain options are set.

Stylo can't set these options anyway. We should create a façade module in style that exposes servo_config things in Servo mode, and exposes dummy functions that just re

[2017-02-08 19:47] highfive commented on #15460
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-08 19:58] #15337 closed

[2017-02-08 20:01] KiChjang commented on #15460
Shouldn't this really be called an interface rather than a façade?

[2017-02-08 20:41] AdmiralCoco commented on #15344
Hi @Wafflespeanut, I haven't had a chance to take a deep look at it, but I plan to work on it over the weekend and have a PR soon.

[2017-02-08 21:40] highfive commented on #15082
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-08 21:41] jdm commented on #15082
The best way to test this change:
Modify `resources/user-agent-js/00.example.js` to contain `window.foo = 'success!';`, then run `./mach run test.html --userscripts`, where test.html is a page like:
[code]

[2017-02-08 21:44] jdm commented on #15082
We'll want to call `GlobalScope::evaluate_js_on_global_with_result` instead of appending a `<script>` element to the document.

[2017-02-08 21:59] Manishearth commented on #15460
Meh. Either way.

[2017-02-08 23:50] Aaron-Tang commented on #15169
Sorry I haven't been able to sit down and work on it that much, I'll probably get to it this weekend. Quick question however, which part of the code should I be working on? There doesn't seem to be anything linked in the issue.

[2017-02-08 23:53] upsuper commented on #15169
Relevant code should be https://github.com/servo/servo/blob/master/components/style/properties/shorthand/border.mako.rs#L165-L181

[2017-02-09 02:05] stshine commented on #15249
Wow this picture is big. And it squashes without `max-width`.

@highfive: assign me

[2017-02-09 02:05] highfive commented on #15249
Hey @stshine! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-09 02:47] kekkyojin commented on #15436
I made the pull-request and it failed while trying to merge:

https://github.com/servo/servo/pull/15461

There is an error in Homu:

http://build.servo.org/builders/mac-dev-unit/builds/5571/steps/shell__2/logs/stdio

Is there anything I should do to fix it, @jdm?

[2017-02-09 02:55] kekkyojin commented on #15436
Response was in the pull request :)

[2017-02-09 04:05] Wafflespeanut commented on #15209
Cool!

[2017-02-09 04:06] Wafflespeanut commented on #15344
Awesome!

[2017-02-09 04:11] Wafflespeanut commented on #15203
Good to know!

[2017-02-09 04:11] Wafflespeanut commented on #15200
No worries! :)

[2017-02-09 05:08] stshine commented on #15249
The problem is that servo fails to parse this image correctly, get 0 width and 0 height.

[2017-02-09 05:53] Wafflespeanut commented on #15426
fixed by #15429

[2017-02-09 05:53] #15426 closed

[2017-02-09 05:53] austinprete commented on #15309
I opened a PR for this issue here: https://github.com/servo/servo/pull/15465 However, since this property can be animatable, is there something I need to do additionally for that?

[2017-02-09 06:04] #15207 closed

[2017-02-09 06:08] Manishearth commented on #15309
You need to add an Interpolate implementation. However, I'm not sure how that's supposed to work for types which can be `auto` -- @upsuper the spec says that this is animatable "as a color"; what happens if we try to animate from auto to the color?

[2017-02-09 06:26] upsuper commented on #15309
It is not interpolatable between auto and color.

[2017-02-09 06:28] Manishearth commented on #15309
Right, so do you do a discrete animation? At 50% or at 100%?

[2017-02-09 06:32] upsuper commented on #15309
I think the behavior per spec should be doing flip at 50%, but I'm less sure about Gecko's behavior. IIRC Gecko doesn't match spec on this, and thus I have no idea what Stylo should do. @birtles?

[2017-02-09 06:46] karan1276 commented on #15460
can i work on this?

[2017-02-09 06:47] Manishearth commented on #15460
Go ahead!

[2017-02-09 06:49] karan1276 commented on #15441
I would really like to work on this. If some one can give some extended mentoring on this it will be great. Some links to similar properties will be super awesome.

[2017-02-09 07:28] birtles commented on #15309
Discrete animation flips at 50% (which I think is not very useful, but that's what the spec says).
Gecko does this for CSS Animations but not CSS Transitions (yet). Blink is the same. Also, I think Gecko doesn't do the 50% flip for logical properties yet.

[2017-02-09 07:50] #14855 closed

[2017-02-09 07:54] stshine commented on #15249
Ignore my previous comment, sorry. It's two `i32` multiplied results an overflow; looking for a clean way to fix this.

[2017-02-09 08:14] stshine commented on #11487
I think this is fixed now by #14490.

[2017-02-09 09:33] Ms2ger opened #15471 "Heartbeats code uses unsynchronized static mut"
In particular,
[code]

I'm pretty sure that invokes nasal demons.

[2017-02-09 09:33] highfive commented on #15471
cc @fitzgen

[2017-02-09 09:57] nox opened #15472 "Consider linting commit titles and messages"
We have way more Gecko people than before contributing to Servo, and it doesn't seem to me like Mercurial users have any kind of similar conventions as Git users when it comes to commit messages.

Messages such as https://github.com/servo/servo/commit/e7a8f5ec30c68f9ff760186abc88daa9d5dc09fe are quite painful for me to read with the `bug <number> - ` thing, lengthening the commit title so much it'

[2017-02-09 09:58] nox commented on #15460
I'm -2 on calling this facade. Just make a `style::config` module.

[2017-02-09 10:32] karan1276 commented on #4344
This project looks interesting. I am looking for a slightly biggish project, but right now i only know the basics. Would it be a good idea for me to try this?

[2017-02-09 11:04] nox opened #15473 "Improve identity of blocking loads in the document loader"
Just an URL is not remotely close enough to properly track where the blocking pending loads come from in `DocumentLoader`.

Cc @jdm

[2017-02-09 11:34] #15322 closed

[2017-02-09 11:35] avadacatavra commented on #15010
...but this is blocked on #15325

hyper_serde needs a bump to hyper 0.10, but current version uses serde 0.9. we need to update the serde dependencies first. @nox says this is happening Pretty Soon (TM)

[2017-02-09 14:18] emilio commented on #13035
That sounds great! :)

[2017-02-09 15:14] #15249 closed

[2017-02-09 16:18] asajeffrey opened #15476 "Cross-origin windows instanceof Window"
PR #15358 adds `XOriginWindow` objects, representing windows in a different script thread. Since this is a webidl interface, `window instanceof Window` can now fail. cc @jdm

[2017-02-09 16:19] jdm commented on #15472
We already lint for WIP in commit titles. We can add more checks to that, we just need to determine what we want to check for.

[2017-02-09 16:21] jdm commented on #4344
No. There's no information available on how to do this correctly.

[2017-02-09 16:24] jdm commented on #14869
It merged! Next x86-64 linux nightly should have the sanitizers enabled!

[2017-02-09 16:30] #11487 closed

[2017-02-09 16:48] karan1276 commented on #4344
okay

[2017-02-09 17:09] mbrubeck opened #15477 ""Safe" Gecko binding sugars allow undefined behavior in safe Rust"
The `style::gecko_bindings::sugar` module implements various safe methods and traits for FFI types from Gecko.  However, many of these methods are actually unsafe because they depend on invariants that are not enforced.  For example, this program has undefined behavior without using `unsafe`:

[code]

The root problem is that the structs’ fields are public, so there's no way to statically enforce

[2017-02-09 17:10] #15436 closed

[2017-02-09 17:13] SimonSapin commented on #15477
Another way to do this is to "flatten" that supermodule, use `include!()` inside of it without `mod` to have multiple files.

[2017-02-09 17:37] bholley commented on #15472
Nit: It's not really git-vs-hg so much as bugzilla-vs-github (I do all my mozilla work in git).

I'm fine to settle on whatever convention the Servo folks want, though we may want to consider whether it's important to be able to convert between both title formats in a lossless manner. CC @indygreg for thoughts there.

[2017-02-09 18:22] indygreg commented on #15472
The Git -> Mercurial conversion rewrites the commit message summary line to include the PR title (from the GitHub API). It also does minimal other massaging to add a prefix and say where the PR came from. Code is at https://hg.mozilla.org/hgcustom/version-control-tools/file/de7ba86773e9/vcssync/mozvcssync/gitrewrite/__init__.py#l225 and can easily be changed.

The important thing from the perspect

[2017-02-09 18:27] bholley commented on #15472
@indygreg this is about what kind of conversion we want to do in the Mercurial->Git (or more precisely, m-c => s/s) direction.

[2017-02-09 18:39] jdm commented on #14869
https://users.rust-lang.org/t/howto-sanitize-your-rust-code/9378

[2017-02-09 22:08] #12129 closed

[2017-02-09 23:04] faineance commented on #14954
@highfive: assign me

[2017-02-09 23:04] highfive commented on #14954
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-02-09 23:05] Manishearth commented on #14954
Since there has been no response for a week, feel free to take this! @fkautz we can find something else for you to work on if you do find time later.

[2017-02-09 23:51] upsuper commented on #15441
This is not about property, but about another syntax for `<image>` values which is accepted by various properties.

The relevant code is https://github.com/servo/servo/blob/master/components/style/values/specified/image.rs#L102-L155

You would need to add a bunch of prefixed gradient functions there which are similar but have tricky minor difference to the unprefixed ones.

[2017-02-09 23:51] #15450 closed

[2017-02-10 03:11] upsuper opened #15482 "Various issues around conditions for syntax accepted by @supports"
[This can be tested with `alert(CSS.supports(cond));`]

There are several issues:
* It rejects `!important` when the property is a shorthand. e.g. `(background: none !important)` returns false, but it should return true.
* It incorrectly accepts conditions without parens. There are several cases which it returns true while it should return false:
  * `(color: green) and (color: green) or (color: g

[2017-02-10 03:18] upsuper commented on #15482
Spec issue has been filed in w3c/csswg-drafts#1016.

[2017-02-10 03:37] karan1276 commented on #15441
Humm right, but for example in the specs they say `-webkit-linear-gradient()` must be treated as alias of `linear-gradient` so can't we just say sth like:

[code]

[2017-02-10 03:40] upsuper commented on #15441
No, because it says, e.g.

The current version of `linear-gradient` is based on what is defined in [the latest css-images-3 spec](https://drafts.csswg.org/css-images-3/#linear-gradients), which has a different syntax than what was defined in [css3-images-20110217](https://www.w3.org/TR/2011/WD-css3-images-20110217/#gradients).

[2017-02-10 03:45] upsuper opened #15483 "Type (tag name) selector doesn't recognize type with uppercase letter"
For example the following code:
[code]

Per spec it should show two green blocks, while Servo (or at least Stylo) shows empty.

This is probably an issue in selectors. cc @SimonSapin

[2017-02-10 03:52] karan1276 commented on #15441
aah, okay

[2017-02-10 03:58] upsuper opened #15484 "Support rgb and hsl new syntax in CSS Color Level 4"
This is for tracking servo/rust-cssparser#113 and updating the dependency of cssparser in Servo.

[2017-02-10 03:58] upsuper commented on #15404
Use milestone instead of this meta bug: https://github.com/servo/servo/milestone/5

[2017-02-10 03:58] #15404 closed

[2017-02-10 04:00] upsuper commented on #15483
It seems Servo renders this page correctly. Either this is something Stylo-specific, or this issue has been fixed at some point.

[2017-02-10 04:04] karan1276 commented on #15441
Also, i just noticed `linear-gradient` and `radial-gradient` have the same code block, same for `repeating-*`. Would it be a good idea to merge them to one case clause. Or was it done intentionally?

[2017-02-10 04:06] AdmiralCoco commented on #15344
Hello again @Wafflespeanut, I wrote a few lines to check for the ranges - it looks like this, from the relevant part of code  - I wanted to check if I understood the issue correctly.

[code]
Is checking for the values after they are all parsed a valid approach?

I also have a question about this part of the issue:

Does this mean we should error out as written above?

Finally, I did some searching

[2017-02-10 04:07] upsuper commented on #15441
They are different... `linear-gradient`s use `parse_linear` and `radial-gradient`s use `parse_radial`. If you are able to merge them, it is probably also fine.

[2017-02-10 04:20] karan1276 commented on #15441
ah! didn't see that. If they were same it made sense . I guess there is no real advantage merging them now

[2017-02-10 04:54] upsuper opened #15486 "White space should be required on both sides of '+' and '-' in calc()"
White space should be required on both sides of `+` and `-` inside `calc()` (while there is no such requirement for `*` and `/`). So declarations like `width: calc(2em+ 2px)` should be invalid.

Test code:
[code]

Spec: https://drafts.csswg.org/css-values-3/#calc-syntax

This can either be an issue in `impl CalcLengthOrPercentage` or an issue in servo/rust-cssparser.

@SimonSapin WDYT?

[2017-02-10 04:58] upsuper commented on #15345
`-moz-outline-radius` should probably be covered in the same issue.

[2017-02-10 05:10] upsuper opened #15487 "{transform,perspective}-origin accepts (and ignores) anything for their second part of value"
Test code:
[code]

The relevant code should be https://github.com/servo/servo/blob/master/components/style/properties/longhand/effects.mako.rs#L415-L490 but I'm unsure about how to fix it.

[2017-02-10 05:33] upsuper opened #15488 "{background,mask,object}-position incorrectly accepts several invalid three-value forms"
The formal syntax of `background-position`'s `<position>` value is:
[code]

In which the following values are invalid but accepted (and can be serialized to) in Servo:
* `50% bottom 10%`
* `right 10% 50%`
* `20% 30% 40%`

Spec: https://drafts.csswg.org/css-backgrounds-3/#the-background-position

The relevant code is https://github.com/servo/servo/blob/master/components/style/values/specified/posit

[2017-02-10 05:33] highfive commented on #15488
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-10 05:38] upsuper opened #15489 "border-spacing accepts (and ignores) anything for their second part of value"
Test code:
[code]

The relevant code should be https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_table.mako.rs#L109-L141 and this is probably very similar to #15487.

[2017-02-10 05:49] upsuper opened #15490 "The third length in {box,text}-shadow and drop-shadow function should not accept negative value"
Spec: https://drafts.csswg.org/css-backgrounds-3/#the-box-shadow

Relevant code: https://github.com/servo/servo/blob/master/components/style/values/specified/mod.rs#L608-L666

`box-shadow` can accept up to four length values, and three of them can accept negative values, while the third value, which is blur radius, should not accept negative value.

Test code:
[code]

(Note that the serialization

[2017-02-10 05:49] highfive commented on #15490
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-10 05:55] upsuper opened #15491 "text-overflow accepts (and ignores) anything for their second part of value"
Test code:
[code]

The relevant code should be https://github.com/servo/servo/blob/master/components/style/properties/longhand/text.mako.rs#L52-L72

[2017-02-10 05:58] upsuper commented on #15490
The same code also affects `text-shadow`, whose third length should be non-negative as well.

[2017-02-10 06:01] upsuper commented on #15488
The same code would also affect `mask-position` which has the same issue.

[2017-02-10 06:10] upsuper commented on #15488
The same code affects `circle()` and `ellipse()` functions as well.

[2017-02-10 06:17] upsuper opened #15492 "Negative value in <shape-radius> should be invalid"
The spec doesn't say so but it should. Filed spec issue w3c/csswg-drafts#1017.

Relevant code: https://github.com/servo/servo/blob/master/components/style/values/specified/basic_shape.rs#L666

`LengthOrPercentage::parse_non_negative` should be used instead of `LengthOrPercentage::parse`.

This affects at least `clip-path` property.

[2017-02-10 06:17] highfive commented on #15492
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-10 06:30] upsuper commented on #15296
That should be `to_computed_value_non_negative`. I actually think we should somehow put non-negative into the type system, so that we can enforce it everywhere. Many properties would need this.

[2017-02-10 06:36] upsuper commented on #15490
Also affects `drop-shadow()` function for `filter` property.

[2017-02-10 06:43] upsuper opened #15494 "Factor parameter in filter functions should not accept negative values"
Spec: https://drafts.fxtf.org/filters/#FilterProperty

Relevant code: https://github.com/servo/servo/blob/d8a8e3e42eda3704d8793d398b24f2e37bded4ec/components/style/properties/longhand/effects.mako.rs#L344-L351

Negative values should be rejected there.

The affected functions include `brightness()`, `contrast()`, `grayscale()`, `invert()`, `opacity()`, `sepia()`, and `saturate()`.

[2017-02-10 06:43] highfive commented on #15494
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-10 06:51] upsuper commented on #15200
`mask-position` has exactly the same issue as `background-position`. Could you please fix that at the same time? The relevant code is in https://github.com/servo/servo/blob/master/components/style/properties/shorthand/mask.mako.rs#L272-L315

It would be great if the two shorthands can share this logic.

[2017-02-10 07:41] jtran12 commented on #15494
@highfive assign me
Hi, I'm new to rust and was looking for a good first PR. I would like to work on this issue, is there anything else I need to know/get set up to get started with this?

[2017-02-10 07:41] highfive commented on #15494
Hey @jtran12! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-10 08:28] alon commented on #15492
I'd like to take this

[2017-02-10 09:11] alon commented on #15492
@highfive assign me

[2017-02-10 09:11] highfive commented on #15492
Hey @alon! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-10 09:40] SimonSapin commented on #15482
* The code in `style::supports::Declaration::eval` doesn’t make a difference between shorthands and other properties when parsing `!important`, so I don’t know what’s going on here
* `color: green` is allowed in `CSS.supports`, see "wrapped in implied parentheses" in https://drafts.csswg.org/css-conditional-3/#the-css-interface
* To deal with unbalanced brackets `style::supports::parse_anything` n

[2017-02-10 09:47] upsuper commented on #15482
Probably we should file a bug to Gecko. Could you do that?

[2017-02-10 09:54] upsuper commented on #15486
Then the relevant code should be https://github.com/servo/servo/blob/master/components/style/values/specified/length.rs#L555-L574

And it sounds like this should be an easy one?

[2017-02-10 10:32] nox commented on #15472
@bholley It is also git-vs-hg in my book, for example none of your commits in https://github.com/servo/servo/pull/15480 follow Git recommendations. See https://git-scm.com/book/ch5-2.html#_commit_guidelines.

[2017-02-10 10:38] SimonSapin commented on #15482
https://bugzilla.mozilla.org/show_bug.cgi?id=1338486

[2017-02-10 13:55] prampey commented on #14967
@jdm Yeah, thanks. I finally found the `web-platform-test` documentation and changed it :). I'll send in the PR.

[2017-02-10 15:16] Ms2ger opened #15496 "FormData contains Root<File> in a field"
I'm pretty sure this leaks:

[code]

[2017-02-10 15:21] nox commented on #15496
How does that leak anything?

[2017-02-10 15:28] asajeffrey commented on #5242
We have part of this in #15358.

[2017-02-10 15:28] jdm opened #15497 "@@iterator properties should not be enumerable"
We should port the changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1338417.

[2017-02-10 17:00] Ms2ger commented on #15496
http://logs.glob.uno/?c=mozilla%23servo&s=10+Feb+2017&e=10+Feb+2017#c609664

[2017-02-10 17:37] jdm commented on #15494
Unit tests that verify the behaviour changes probably belong in a new `effects.rs` in `tests/unit/style/parsing`. You can run the tests with `./mach test-unit -p style`.

[2017-02-10 17:59] bholley commented on #15472
It's not a very important distinction, but this isn't true. Mozilla's commit formatting convention predates hg by almost a decade, and is used across projects with a number of different source-control backends.

To be fair, that PR is a WIP, and the only reason it's in PR form is because submitting a PR is a prerequisite to performing a try push. I will do my best to rewrite commit messages before

[2017-02-10 18:04] nox commented on #15472
The "Bug XXXXXX" part is actually useful, but as you can see on #15480, all your titles are truncated. AFAIR, Github's limit is slightly more than what Git recommends.

[2017-02-10 18:10] austinprete commented on #15309
From the discussion above I'm still not sure if there is a conclusion on how I should implement `Interpolate`? Also, once a decision is made about that, are there any resources/examples for how to best implement that trait?

[2017-02-10 18:14] Wafflespeanut commented on #15344
Yep, that's the way. We'll improve on this once you open the PR :)

You're right.

We should probably add some unit tests. You can find existing ones in `tests/unit/style/`

[2017-02-10 18:16] Manishearth commented on #15309
I guess you can have it flip at 50% -- i.e. if it's between auto and a color, keep it auto till 0.5 and then flip.

[2017-02-10 20:21] #15310 closed

[2017-02-10 20:53] cyplo commented on #13127
Hi ! Are the assertions enabled already, or do we need something else to happen to close this one ?

[2017-02-10 21:05] jdm commented on #13127
They were enabled. Thanks for the reminder!

[2017-02-10 21:05] #13127 closed

[2017-02-10 22:12] chargadesilva commented on #15206
Not yet, hoping to get to it this weekend.

Thanks!

[2017-02-10 22:42] #14676 closed

[2017-02-10 23:01] jdm opened #15500 "Determine why the toolbar collapses when viewing a document in Google Docs"
When a document is first loaded in Servo, the toolbar with font settings, alignment, etc. is visible. After waiting a bit, the elements flow towards the left side of the screen and disappear. We need to figure out why this happens.

[2017-02-10 23:01] rzambre commented on #15161
This behavior is not occurring anymore, close the issue?

[2017-02-10 23:02] #15161 closed

[2017-02-10 23:09] jdm opened #15501 "Make image cache more resilient to panicking consumers"
After the changes in #14962, we should consider what the image cache should do if it has reserved a space in the cache for an image and the client that is supposed to request it is no longer available.

[2017-02-10 23:46] asajeffrey commented on #934
A first-cut implementation for the setter: https://github.com/asajeffrey/servo/commit/7aaa5c634fb87afcbc7f7122649203c17650e3ef

[2017-02-10 23:58] glennw commented on #661
I think we can close this as irrelevant now :)

[2017-02-10 23:58] #661 closed

[2017-02-11 00:00] glennw commented on #2003
No longer relevant.

[2017-02-11 00:00] #2003 closed

[2017-02-11 00:02] glennw commented on #3852
No longer relevant.

[2017-02-11 00:02] #3852 closed

[2017-02-11 00:03] glennw commented on #5982
This code no longer exists.

[2017-02-11 00:03] #5982 closed

[2017-02-11 00:04] glennw commented on #6518
PaintWorker is gone.

[2017-02-11 00:04] #6518 closed

[2017-02-11 00:17] jdm opened #15502 "Link icons do not scroll horizontally with page"
Visit https://developer.mozilla.org/en-US/docs/Web/Demos_of_open_web_technologies and scroll the page horizontally. The external link icons remain rendered in their initial positions while the rest of the page scrolls around them.

[2017-02-11 00:24] jdm commented on #15502
I haven't been able to make a minimal testcase yet, but the icons are generated via:
[code]

[2017-02-11 00:28] jdm commented on #15445
I also see the same failure in http://zenphoton.com/ when a MessageEvent is GCed inside of a worker.

[2017-02-11 04:00] karan1276 commented on #15490
Can i do this

[2017-02-11 04:02] karan1276 commented on #15488
can i do this ?

[2017-02-11 04:07] jdm commented on #15490
Go ahead!

[2017-02-11 04:08] KiChjang commented on #15488
@karan1276 Do you mind leaving this open to other contributors? You've already claimed a few issues, and you still have to address review comments in #15468.

[2017-02-11 04:17] jdm opened #15504 "Rewrite TextEncoder::Encode to use typed array API"
[The current implementation](https://dxr.mozilla.org/servo/source/components/script/dom/textencoder.rs) uses the JSAPI to create an array buffer, get its buffer and populate it with the encoded text. We should be using the [ArrayBuffer::create](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L120) API instead (see [FileReader::perform_readasarraybuffer](https://dxr.mozilla.org/se

[2017-02-11 04:17] highfive commented on #15504
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-11 04:46] cvan opened #15505 "Support the W3C Web App Manifest (and Add to Homescreen/Desktop)"
It would be nice to have Servo parse [W3C Web App Manifests](https://w3c.github.io/manifest/) and Add to Homescreen (or Desktop/Applications/Dock).

Web-app developers today are using manifests by adding to their HTML documents a tag: `<link rel="manifest" href="manifest.webmanifest">`. And in the `manifest.webmanifest` is a JSON blob of some useful metadata (see [this example](https://w3c.github.

[2017-02-11 04:49] cvan opened #15506 "Support `glTF` model rendering (for 3D/VR)"
It would be awesome to ship native support for rendering `glTF`, a 3D runtime asset-delivery format for 3D scenes.

Its aim is to become the de-facto publishing format for export from 3D content tools and services (a successor to the otherwise-proprietary popular 3D formats: `FBX`, `COLLADA`, etc.).

`glTF` is regarded by many as the `JPEG` of 3D. But, IMO, `glTF` is and can be much more than that

[2017-02-11 04:54] jdm commented on #15506
It's not clear to me from skimming those links what the relation of glTF to the browser is. What does "native support" mean, precisely? How would the format be used?

[2017-02-11 06:39] cbrewster opened #15507 "Track focused Frame instead of Pipeline"
It would make more sense to track the focused `Frame` rather than tracking the focused `Pipeline` as we currently have to update the focused pipeline whenever a navigation or traversal matures. If we just kept track of the focused frame, we automatically know that the focused pipeline is the pipeline of the `Frame`s active entry.

cc @asajeffrey

[2017-02-11 07:40] karan1276 commented on #15488
@KiChjang Okay, ill land all commits first :)

[2017-02-11 07:58] karan1276 commented on #15203
.

[2017-02-11 09:19] absoludity commented on #15504
@highfive: assign me

[2017-02-11 09:19] highfive commented on #15504
Hey @absoludity! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-11 15:05] karan1276 commented on #15490
I was having a look at the serialization code, does it consider the possibility of `none` value ?

Also looks like it is (looping through)[https://github.com/servo/servo/blob/master/components/style/values/specified/mod.rs#L615] the something. I didn't quite get that.

I tried to write the serialized code. Would (this work)[https://gist.github.com/karan1276/8844c4643ef621faaba6ed60f1a7ebd1]

[2017-02-11 16:57] #15350 closed

[2017-02-11 17:09] shubDhond commented on #15488
Can I take a go at this?

[2017-02-11 18:15] jdm commented on #15488
Please do!

[2017-02-11 18:26] cbrewster opened #15512 "Servo only renders a portion of servo.org"
`./mach run -d https://servo.org`
![screen shot 2017-02-11 at 12 25 55 pm](https://cloud.githubusercontent.com/assets/9086315/22856357/5c70fb2c-f055-11e6-8ab0-81bafeabf892.png)

[2017-02-11 19:12] canaltinova opened #15513 "Pressing space in a text input causes to scroll down the scrollable page"
Test case:
[code]
When space is pressed in this input, scrollable page is currently scrolling down. The page shouldn't scroll in an input.

[2017-02-12 03:25] absoludity commented on #15398
This *seems* to be unassigned - though I'm not sure if people are intending on grabbing it? I'm assigning to me, but I won't be put out if you're already working on it and want to unassign me :) @highfive: assign me

[2017-02-12 03:25] highfive commented on #15398
Hey @absoludity! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-12 03:26] upsuper commented on #15398
You're right that it was not assigned. Thanks for working on this.

[2017-02-12 03:45] r105m commented on #11411
[x@x servo]$ pkg-config --cflags dbus-1
Package dbus-1 was not found in the pkg-config search path.
Perhaps you should add the directory containing `dbus-1.pc'
to the PKG_CONFIG_PATH environment variable
No package 'dbus-1' found

---
[ww@imnb servo]$ yum list installed | grep dbus
...
dbus.x86_64                         1:1.6.12-17.el7    @anaconda/7.3
dbus-glib.x86_64                    0.100-7.

[2017-02-12 04:56] radhika2896 commented on #15486
Hi, I would like to work on this.

[2017-02-12 07:18] upsuper commented on #15486
Great! Feel free to ask questions here if anything is unclear to you.

[2017-02-12 07:49] abhiQmar commented on #15162
I would like to contribute. Not much experience in rust, but have been a programmer for 2 years.

[2017-02-12 12:10] #15492 closed

[2017-02-12 12:25] meetmangukiya commented on #15082
@highfive: assign me

[2017-02-12 12:25] highfive commented on #15082
Hey @meetmangukiya! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-12 14:02] jdm opened #15517 "Intermittent failure in /css-text-3_dev/html/seg-break-transformation-004.htm"
[code]

[2017-02-12 15:29] gterzian commented on #15021
first pass at https://github.com/servo/servo/pull/15519, if you could please take a look...

[2017-02-12 21:47] simon-whitehead commented on #15162
I would like to contribute. I recently opened and had merged a PR in `rust-mozjs`. I have been writing Rust for about a year now and have written quite a few personal projects in Rust in that year.

RE work to do: There is _alot_ of implied knowledge in most of these issues. I struggle to keep up with some of the conversation. I realise mentoring is a big time sink for the maintainers ... but I th

[2017-02-12 22:07] #15504 closed

[2017-02-13 01:40] upsuper commented on #15490
I believe this function is only for parsing a single shadow item. Most properties which use this function support multiple shadow items, and they should handle `none` before they try to invoke this function.

There is such loop because `inset`, `<length>{2,4}`, and `<color>` can be in any order in CSS.

That doesn't work, because this code would only accept one order. It would fail to parse things

[2017-02-13 01:58] jdm opened #15521 "Make HTMLOptionsCollection constructor accept a HTMLSelectElement argument"
`HTMLOptionsCollection` objects are only ever instantiated via `HTMLSelectElement::Options`, but the constructor method for `HTMLOptionsCollection` accepts a `Node` argument rather than `HTMLSelectElement`. If we change this, it makes it harder to misuse the collection by giving it a root node that is not an `HTMLSelectElement`.

Code: `components/script/dom/htmloptionscollection.rs`, `components/

[2017-02-13 01:58] highfive commented on #15521
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-13 02:04] frewsxcv opened #15522 "HTMLCollection that allows for arbitrary iterators, not just traverse_preorder"
I looked into implementing https://html.spec.whatwg.org/multipage/forms.html#dom-select-selectedoptions . The only way to do it right now is to write a filter that checks if the current node is in `HTMLSelectElement::list_of_options`, which is not very efficient. It'd be much more efficient if we could just create an `HTMLCollection` from anything that is `Sized + Iterator<Item=Root<Element>>`. Di

[2017-02-13 02:23] simon-whitehead commented on #15521
@highfive: assign me

[2017-02-13 02:23] highfive commented on #15521
Hey @simon-whitehead! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-13 03:52] DemiMarie commented on #15471
Yikes.  That could crash or worse.  Is this an RCE?

[2017-02-13 03:58] DemiMarie commented on #14791
Rust really needs an object system.  Perhaps one can be implemented as a compiler plugin.

[2017-02-13 03:59] DemiMarie commented on #13177
@SimonSapin I think we should change the assertions so that they run in release mode.

[2017-02-13 06:15] karan1276 commented on #15490
Okay nice. So to resolve this issue i am thinking of removing this [while loop](https://github.com/servo/servo/blob/master/components/style/values/specified/mod.rs#L626-L633) and replacing it with `try!(...)` and `input.try(...)` statements.

Reason for that is, because not all lengths will use `Length::parse` ,radius will use `Length::parse_non_negative`. Also we are given that there are 2 length

[2017-02-13 06:22] upsuper commented on #15490
That sounds like the right approach.

[2017-02-13 06:25] karan1276 commented on #15490
Thanks!

[2017-02-13 08:51] SimonSapin commented on #13177
I’d be all for that, but I’m told accessing a thread-local is too expensive to do it that often in release mode.

[2017-02-13 11:22] karan1276 commented on #15460
I can't find the `viewport_enabled()` function. Where are these functions located?

[2017-02-13 15:20] Manishearth commented on #15460
The point of this bug is to define these functions. Right now the style code directly calls into `servo_config` code; it should be calling these functions instead.

[2017-02-13 15:42] rwakulszowa commented on #15320
I've decided to use a single flag to be set if a duplicate or if any custom property is found.

I wrote 3 tests:
- 2 for the flag checking and
- 1 for `parse_property_declaration_list` - this one would have passed before, but I haven't found a test for this function, so I added a new one

[2017-02-13 16:12] karan1276 commented on #15460
Okay, so ill find out where style code calls servo_config variables and replace with these functions. Great ill do that

[2017-02-13 16:35] karan1276 commented on #15490
What is the role of the function `disable_spread_and_inset` ? Is it necessary for me to check the value returned by it. I mean why would spread and inset be disabled ? [Ref this](https://github.com/servo/servo/blob/master/components/style/values/specified/mod.rs#L609)

[2017-02-13 16:37] rwakulszowa commented on #15320
Oh, I forgot to mention the performance gain.
I've ran some (really) simple tests on `parse_property_declaration_list` - 7 simple properties with no duplicates. It seems to be a bit faster now (from 250k ns to 200k ns on average), but the variance is quite large. I'd say it is better, but obviously I may be doing something wrong.

[2017-02-13 16:43] jdm commented on #15490
There's a comment about the parse method that says `// disable_spread_and_inset is for filter: drop-shadow(...)`.

[2017-02-13 20:58] asajeffrey commented on #934
A PR for the setter: #15536.

[2017-02-13 21:24] #15387 closed

[2017-02-13 22:24] #15521 closed

[2017-02-14 00:39] cvan commented on #15506
glTF is often thought of as only an interchange format, but it could also be used as a delivery format (à la SVG). See https://github.com/javagl/JglTF/blob/master/jgltf-browser/README.md#readme and https://github.com/gpuweb/nxt-standalone/blob/master/examples/glTFViewer/README.md#screenshots for prior art.

@jdm: There is a Rust library for parsing and rendering `glTF`: https://github.com/Alteous/

[2017-02-14 02:27] siddhanathan commented on #15320
Please add the assigned label to this bug.

[2017-02-14 04:12] niki-04 commented on #15203
I started working on this. I did change the required code but I am getting a bit confused with the test case. I tried to look at the test cases in serialization.rs for other properties but I am not sure how to define my own property and write the test case. Any help on this would be appreciated. Also, I am not that familiar to rust.

[2017-02-14 04:23] upsuper commented on #15205
We support `-moz-tab-size` now :)

[2017-02-14 04:54] jdm commented on #15506
I still don't understand the way in which it could be used by a browser. Without that, it's impossible to provide any tips for adding support to Servo.

[2017-02-14 09:19] Wafflespeanut commented on #15203
Okay, so `serialization.rs` contains tests for some of the shorthand properties (many shorthands and longhands don't have a test,`box-shadow` is one among them). As you can see, all the tests [have a basic template](https://dxr.mozilla.org/servo/source/tests/unit/style/properties/serialization.rs?q=serialization.rs&redirect_type=direct#468-482) like this,

[code]

The first step is to have a new m

[2017-02-14 10:25] Ms2ger opened #15541 "Root's HeapSizeOf implementation seems bogus"
[code]

[2017-02-14 10:30] nox commented on #15541
It should return 0 instead, IMO.

[2017-02-14 12:22] nox opened #15542 "Update syn to 0.11"
On crates.io:

* [x] https://github.com/servo/rust-cssparser/pull/122
* [x] https://github.com/servo/heapsize/pull/75
* [x] https://github.com/servo/html5ever/pull/255
* [x] https://github.com/mystor/synstructure/pull/3

In this repo:

* deny_public_fields
* domobject_derive
* jstraceable_derive

Other:

* <strike>Replace dwrote’s dependency on serde_codegen by serde_derive
* <strike>Replace webre

[2017-02-14 16:11] nox commented on #12811
I accidently fixed this in https://github.com/servo/servo/pull/15543 AFAICT.

[2017-02-14 18:08] Wafflespeanut commented on #15162
FYI (anyone), #14787 hasn't been taken for a while.

[2017-02-14 18:24] niki-04 commented on #15203
@Wafflespeanut, thanks this helps. Also, what does the custom value mean?

[2017-02-14 18:49] samgiles commented on #14787
Oops, sorry I picked this up quickly in the ref'd PR.

[2017-02-14 18:54] Wafflespeanut commented on #15203
In your case, it should be the [specified value](https://doc.servo.org/style/properties/longhands/box_shadow/struct.SpecifiedValue.html) of `box-shadow` (which is a vector of [`Shadow`](https://doc.servo.org/style/values/specified/struct.Shadow.html)). You can define your own value using that type and check the corresponding serialization in the end.

[2017-02-14 18:55] jdm opened #15548 "Use rustc builds without asserts"
The Rust team is making these builds available in the s3 bucket, so we need to modify the mach bootstrap command to fetch the appropriate URL to retrieve them. This is blocked until https://github.com/rust-lang/rust/pull/39754 is merged.

[2017-02-14 18:55] highfive commented on #15548
cc @wafflespeanut

[2017-02-14 18:55] jdm commented on #15548
https://s3.amazonaws.com/rust-lang-ci/rustc-builds-alt/$sha/$tarball is where they will reside.

[2017-02-14 19:41] SimonSapin commented on #15548
Maybe we want this for developers building locally, but keep LLVM assertions on CI?

[2017-02-14 19:43] #15209 closed

[2017-02-14 20:53] tmccrmck commented on #15162
I would also like to something to work on. I have Rust experience.

[2017-02-14 21:34] jdm opened #15551 "Remove ArrayBufferViewContents trait"
This trait no longer appears to be used after the work in #14672, so it should be possible to remove it.

Code: `components/script/dom/bindings/conversions.rs`

No need for automated tests; if the build succeeds, it's good enough for a PR.

[2017-02-14 21:34] highfive commented on #15551
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-14 21:47] jdm commented on #14672
This work is now complete.

[2017-02-14 21:47] #14672 closed

[2017-02-14 21:51] jdm opened #15553 "Update consumers of typed array API to use CreateWith argument"
https://github.com/servo/rust-mozjs/issues/336 modified the typed array API constructors to accept a single argument instead of a optional slice as well as a length. We should upgrade the version of rust-mozjs in use in Servo and update the code that uses this API. Start with `./mach cargo-update -p js` and then fix the resulting errors that will appear when running `./mach build`.

No need to run

[2017-02-14 21:51] highfive commented on #15553
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-14 21:51] jdm commented on #15553
Would you like to work on this, @abhiQmar?

[2017-02-14 22:02] josephfu1994 commented on #15162
I am also looking for something to work on. Don't have much rust experience, but have programmed in other languages. Thanks.

[2017-02-14 22:20] jdm commented on #13925
Making some notes in case I find someone to tackle this:
* The parsing code exists in https://dxr.mozilla.org/servo/rev/1dfdd0bab82b2356c6fb15d0d0e898a972983ba1/components/style/properties/longhand/svg.mako.rs#194 and probably only needs the `products="gecko"` bit removed.
* After that, it's a matter of treating it similar to the `filter` CSS property - [converting](https://dxr.mozilla.org/servo/r

[2017-02-14 22:25] jdm commented on #15343
@simon-whitehead Does this look interesting? It involves a unit test in `tests/unit/style/parsing/` that verifies that parsing a transition-duration property with a negative time value is not allowed, and modifying the parsing code to make the test pass. The tests can be run with `./mach test-unit -p style`.

[2017-02-14 22:33] simon-whitehead commented on #15343
Yes it does @jdm. There is some interesting markup scattered through this file though which I am not familiar with. Do you have resources for this? Looks good otherwise - happy to have a go at it!

[2017-02-14 22:44] jdm commented on #15343
It's a [mako template](http://www.makotemplates.org/), so it's a python-based templating language.

[2017-02-14 22:47] simon-whitehead commented on #15343
Great thanks. Good to know just so I don't break anything :) I'll get started on this tonight hopefully!

[2017-02-14 22:47] jdm commented on #15339
Does this sound interesting @josephfu1994? It requires creating a unit test in `tests/unit/style/parsing/` that verifies that parsing a border-image-slice property with a negative percentage does not work. It then requires updating the parsing code in `components/style/properties/longhands/border.mako.rs` to make the test pass.

[2017-02-14 22:52] jdm commented on #15199
@tmccrmck Does this look interesting? It requires creating a unit test in `tests/unit/style/parsing/background.rs` verifying that parsing the values from the original description works correctly. It then requires modifying the parsing code from [this comment](https://github.com/servo/servo/issues/15199#issuecomment-275964920) to make the test pass. The tests can be run with `./mach test-unit -p st

[2017-02-14 22:55] dcci opened #15554 "Crash while building master on Windows 7"
[code]

Please let me know if you need other infos.

[2017-02-14 23:17] hgallagher1993 commented on #15551
@highfive: assign me

[2017-02-14 23:17] highfive commented on #15551
Hey @hgallagher1993! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-14 23:38] tmccrmck commented on #15199
@jdm Yep! I'll reach out on IRC if I have any questions.

[2017-02-14 23:44] zploskey commented on #15553
I can give this a go if that's alright.
@highfive: assign me

[2017-02-14 23:44] highfive commented on #15553
Hey @zploskey! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-14 23:49] jdm commented on #15553
@zploskey Actually I am waiting on @abhiQmar to give first refusal, sorry.

[2017-02-14 23:55] zploskey commented on #15553
@jdm Ok, no worries.

[2017-02-14 23:56] jdm commented on #15045
@zploskey The CSS property is specified in `components/style/properties/longhand/position.mako.rs` and it should be possible to duplicate what the previous property does, since it deals with `auto` values. We can write a unit test that verifies that parsing succeeds in `tests/unit/style/parsing/position.rs`, and run it with `./mach test-unit -p style`.

[2017-02-14 23:58] jdm commented on #15045
Oh wait, I didn't see #14332 and that makes this look more complicated than I anticipated. Sorry :<

[2017-02-14 23:58] upsuper commented on #15045
I think #14332 would be a fix for this, so let's say it has been assigned.

[2017-02-15 00:01] jdm commented on #15036
@zploskey What about this one? It requires modifying the implementation of `to_css_declared` in `components/style/properties/shorthand/font.mako.rs` to check if the longhand properties from #15033 are non-default values and change the serialization behaviour in that case. This will require a unit test in `tests/unit/style/properties/serialization.rs` which can be run with `./mach test-unit -p styl

[2017-02-15 00:05] Manishearth opened #15556 "Use bitflags for multikeyword properties"
Some properties like `text-decoration` have syntaxes like `overline || underline || line-through || blink`, which we represent as four booleans. This is inefficient, we should use bitflags, something like:

[code]

and use the bitflag addition/intersection methods to construct these.

Code: https://github.com/servo/servo/blob/5a624ff9560338024c18ad0abf496fd78d5f6bb1/components/style/properties/lon

[2017-02-15 00:05] highfive commented on #15556
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-15 00:27] zploskey commented on #15036
@jdm That sounds doable. I'll get started. Thanks!

[2017-02-15 00:59] niki-04 commented on #15203
@Wafflespeanut Thanks a lot!!!. Also, one last thing shadow is a struct with values offset_x offset_y and other parameters with types Length which is an enum. I am not sure how to initialize values for those it would be great if you could give me some sort of example for initializing one of the parameter values for shadow struct. Also, do I need to initialize color and inset too?

[2017-02-15 01:10] upsuper commented on #15203
See [the document of Length](https://doc.servo.org/style/values/specified/length/enum.Length.html), there are various methods for generating a `Length` value. Probably the easiest one is `Length::from_px`. (Note: you can click types in the document to see their document, where you can find lots of useful things.)

[2017-02-15 01:25] cseale commented on #15162
I am another. Not a huge amount of rust experience, but trying to learn how to build languages, compilers, etc. 5 years experience.

[2017-02-15 04:20] #15344 closed

[2017-02-15 05:08] upsuper commented on #15483
Interesting that it doesn't seem to happen on our testing infra... but it fails in my local build...

[2017-02-15 05:44] Wafflespeanut commented on #15556
Gecko 101 😄

[2017-02-15 05:48] upsuper commented on #15483
So it works on my mac build as well... then there is probably something weird with windows?

[2017-02-15 07:03] bholley opened #15558 "Hoist seen-property check before the virtual call and remove property deduplication"
I did some digging to day with regards to @SimonSapin's question in #15531. I didn't have time to fully confirm my analysis with a profiler, but I think we should remove property deduplication unless there's a way to get it for free [1]. The |seen| check should mostly eliminate the cost of additional declarations in a block.

According to #15531, deduplication is primarily aimed at optimizing the

[2017-02-15 07:06] abhiQmar commented on #15553
@jdm Yes, I want to work on this. Thanks for the opportunity Josh :)
@highfive: assign me

[2017-02-15 07:06] highfive commented on #15553
Hey @abhiQmar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-15 07:08] deror1869107 commented on #15556
I would like to work on this!
@highfive : assign me

[2017-02-15 07:08] highfive commented on #15556
Hey @deror1869107! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-15 07:13] bzbarsky commented on #15558
It might be good to measure how common duplicated things are and what the resulting memory overhead is....

The other thing where deduplication can help is code clarity of declaration block serialization (e.g. for .cssText).  Maybe.  That stuff is going to be complicated no mattter what...

For the curious, http://searchfox.org/mozilla-central/rev/ac8a72f2d5204ced2004c93a9c193430c63a6a71/layout/st

[2017-02-15 08:01] alexfish8 commented on #15448
@highfive assign me

I'll take a look.

[2017-02-15 08:01] highfive commented on #15448
Hey @alexfish8! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-15 08:24] karan1276 commented on #15490
right, so what exactly are filters. And why do we need them?

[2017-02-15 08:36] batmont commented on #12125
required files are missing, the servo.exe cannot be run
vcruntime140.dll
api-ms-win-crt-runtime-l1-1-0.dll
Even after installation http://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/vc_redist.x64.exe just a blank white window appears and less than a second quickly disappears on windows 7 sp1 x64 (no installed updates)

[2017-02-15 09:39] SimonSapin commented on #15448
Rather than add a new test, see if you can extend this file:

https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/dom/nodes/selectors.js

To run the corresponding test:

[code]

[2017-02-15 09:46] gaby2300 commented on #12125
I have the same issue!

El 15 feb. 2017 05:36, "batmont" <notifications@github.com> escribió:

[2017-02-15 09:54] SimonSapin commented on #15548
Or we could have LLVM assertions in "debug" CI builds, but not release ones. Are release jobs the longest in our current CI? Could we reduce the total cycle time if they’re faster?

[2017-02-15 10:19] #12811 closed

[2017-02-15 10:50] UnICorN21 commented on #15162
I'd like to contribute too. Newbie as a rust programmer, but have programmed in other languages for 3 years

[2017-02-15 11:02] Ms2ger commented on #15553
This is blocking me, I'm fixing.

[2017-02-15 11:03] Ms2ger opened #15560 "Stop using DOMRefCell<Heap<..>>"
I noticed some in `vrpose.rs`. `Heap` already uses interior mutability, so there's no need to wrap it.

[2017-02-15 11:03] highfive commented on #15560
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-02-15 11:28] nox commented on #15560
We could also add it to the list of forbidden types in `plugins::lints::ban`.

[2017-02-15 11:29] saneyuki commented on #15560
@highfive: assign me

[2017-02-15 11:29] highfive commented on #15560
Hey @saneyuki! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-02-15 13:31] SimonSapin commented on #15548
On IRC:

Disabling LLVM assertions cut release compile times by a third: https://github.com/servo/servo/pull/15559#issuecomment-280003926

[2017-02-15 13:32] jdm commented on #15553
Sorry @abhiQmar. I'll look for another issue that you could work on.

[2017-02-15 13:43] jdm commented on #15490
https://developer.mozilla.org/en/docs/Web/CSS/filter

[2017-02-15 14:14] samgiles commented on #15513
I am looking at this currently.  Not sure if there is an existing bug for this, some Key Events aren't routed through a document, and instead are handled by the window.

[2017-02-15 16:15] SimonSapin commented on #15548
Reopening since this is not yet enabled by default: #15564

[2017-02-15 16:52] singhkaran commented on #15162
I'm looking for a bug, as well. No experience with rust so a bug that would help me get my feet wet would be great.

[2017-02-15 17:09] emilio commented on #14318
Also tracked in https://github.com/servo/servo/issues/14338

[2017-02-15 17:09] #14318 closed

[2017-02-15 17:17] #15553 closed

[2017-02-15 17:45] metajack commented on #15163
@pcwalton did some investigation, but I think all he found was that layout didn't seem to be an issue. But @glennw had said we were blocked on layout.

[2017-02-15 17:47] samgiles commented on #15513
Ok, this is fairly interesting.

I'm new to terminology so I hope `ScrollRoot` is the correct terminology.

The flow of events should be (up for interpretation somewhat):

1. "space" KeyDown, maybe with "shift" modifier.
2. Fire KeyboardEvent
3. If element has focus or default prevented, stop.
4. Scroll `ScrollRoot` underneath cursor (or last clicked - this seems to be Chrome's behavior) - firing

[2017-02-15 18:05] bholley commented on #15558
Hm, that's a good point. We may want to store two Vecs inside PropertyDeclarationBlock instead of one Vec of a (PropertyDeclaration, Importance) tuple. @SimonSapin?

[2017-02-15 18:06] dpyro commented on #15346
Ok, I will do this!

[2017-02-15 18:09] jdm commented on #15513
I'm having trouble figuring out where the code that converts a space key event into a scroll action lives. Have you found that?

[2017-02-15 18:12] SimonSapin commented on #15558
@bzbarsky The cascade already needs to deal with this. Without dedup in the parser it’ll be for the cascade the same as:

[code]

@bholley We used to have two vecs, and had switch to support CSSOM when the relative order of important and non-important declarations is preserved.

[2017-02-15 18:17] samgiles commented on #15513
@jdm directly from the glutin window, see PR :)

[2017-02-15 18:23] samgiles opened #15569 "When an origin is opaque set the origin header to `null`."
Once Hyper supports setting a `null` Origin header, update `try_url_origin_to_hyper_origin` in `components/net/http_loader.rs ` to set `Origin: null`.

https://github.com/hyperium/hyper/issues/1065

[2017-02-15 18:32] bzbarsky commented on #15558
Ah, ok.  That makes sense.

[2017-02-15 19:06] bholley commented on #15558
Regarding the total number of duplicate properties: I just instrumented a build with the following patch: https://pastebin.mozilla.org/8979391

And did some vary unscientific browsing across wikipedia, google, facebook, hackernews, and nytimes. I got the following results: https://docs.google.com/spreadsheets/d/1I3I0mNRBE-1AmRdcI6EOPyUVMjvW1rMGlQwIjHnxZG4/edit?usp=sharing

That shows around 0.5% d

[2017-02-15 19:09] asajeffrey commented on #15435
Tracked this down to https://github.com/servo/rust-url/issues/278 cc @SimonSapin

[2017-02-15 19:11] bholley commented on #15558
@rwakulszowa, would you be willing to try this instead of #15531?

[2017-02-15 19:12] asajeffrey commented on #15435
It's intermittent because if the panic occurs while the other tests are still running, then produce a `TIMEOUT`.

[2017-02-15 19:12] bholley commented on #15558
One thing we'll need to handle is logical properties, which have a different cascade function but share the same computed value, and thus the same |seen| value. We may need to generate a lookup table to map from the longhand id to the appropriate bit to test in |seen|.

[2017-02-15 19:25] jdm opened #15570 "Intermittent pass /css/css-values/vh_not_refreshing_on_chrome.html"
[code]

[2017-02-15 19:48] SimonSapin commented on #15558
If duplication in serialization is a problem, we could dedup lazily when serializing (with a `might_have_duplication` flag)

[2017-02-15 19:59] jonathandturner commented on #12730
Does this still repro?  I haven't seen slow startup times on recent Windows nightlies.

https://download.servo.org/nightly/windows-msvc/servo-latest.msi

[2017-02-15 20:01] jonathandturner commented on #12125
@batmont - can you file an issue so that we can track this down?

[2017-02-15 20:02] jonathandturner commented on #13272
Does this still repro?

[2017-02-15 20:04] jdm opened #15571 "CSS FPS 404 page doesn't work in Servo"
http://keithclark.co.uk/labs/css-fps/nonexistent

I get a white page in Servo when loading this, whereas it's much more interesting in Firefox.

[2017-02-15 20:06] jonathandturner opened #15572 "Windows has high memory usage"
As mentioned [here](https://github.com/servo/servo/issues/12125#issuecomment-277797098), [here](https://github.com/servo/servo/issues/12125#issuecomment-277800514), and [here](https://github.com/servo/servo/issues/12125#issuecomment-277873838) the Windows build is also leaking a fair amount of memory.

This may be related to #15428.

cc @codec-abc, @leeoniya, @BladeMight who mentioned experiencing

[2017-02-15 20:08] jdm opened #15573 "Many mix-blend-mode reftests fail on linux due to minute pixel differences"
/compositing-1_dev/html/mix-blend-mode-blended-element-interposed.htm
<img width="117" alt="screen shot 2017-02-15 at 3 07 19 pm" src="https://cloud.githubusercontent.com/assets/27658/22993290/805f8754-f390-11e6-8b27-8b0db37aadcb.png">
/compositing-1_dev/html/mix-blend-mode-blended-element-overflow-hidden-and-border-radius.htm
<img width="164" alt="screen shot 2017-02-15 at 3 08 00 pm" src="https: