[2015-05-27 14:15] jdm commented on #6058
No worries; sorry about the duplication of effort!

[2015-05-27 15:09] farodin91 commented on #6172
Yes.
how i can get the logs of servo during the test runs?
for example: ./mach test-wpt FileAPI

[2015-05-27 15:26] snf commented on #6172
This is a comprehensive guide: https://github.com/servo/servo/blob/master/tests/wpt/README.md

[code]

Afaik, the updated tests are commited automatically with update-wpt

[2015-05-27 16:05] mbrubeck opened #6195 "Failures in css-tests because of missing Ahem font"
Many of the reftests in `tests/wpt/css-tests` require the Ahem font, but this font is not installed on our test machines, so these tests are failing.

Possible solutions:
* Install Ahem.ttf on our test machines (and anywhere else we want to run these tests).
* Change the tests to load Ahem.ttf as a web font, like many of Servo's reftests do. (Might not be acceptable upstream because web fonts are

[2015-05-27 16:57] pgonda commented on #3396
How does this look for the event loop? @jdm

[2015-05-27 17:08] jdm commented on #3396
That looks pretty solid!

[2015-05-27 17:20] SimonSapin commented on #6195
Perhaps another option is adding support for [user stylesheets](http://dev.w3.org/csswg/css-cascade/#origin) and have one for reftests with an `@font-face` rule for Ahem.

[2015-05-27 18:23] SimonSapin commented on #6088
Based on `cargo-home/git/checkouts$ grep -Rl 'shell find'|cut -d/ -f1|sort -u`:

* [ ] libfontconfig
* [ ] mozjs
* [ ] rust-azure
* [ ] rust-core-foundation
* [ ] rust-core-graphics
* [ ] rust-core-text
* [ ] rust-egl
* [ ] rust-fontconfig
* [ ] rust-freetype
* [ ] rust-io-surface
* [ ] rust-layers
* [ ] rust-mozjs
* [ ] rust-stb-image
* [ ] rust-xlib
* [ ] skia

[2015-05-27 18:26] mbrubeck commented on #6088
It looks like the rust-freetype one is innocent (it's just running `find -name *.rs` within its source directory).

[2015-05-27 18:30] mbrubeck commented on #6088
If anyone would like to help out with the remaining packages, see the various pull requests linked above for examples of how to fix this.

[2015-05-27 19:24] larsbergstrom commented on #6182
I think in this case @zmike just wants to know about the extent of the root element, the size of the viewport, and the scroll position so that he can draw scrollbars outside the extent of the viewport, not to attempt to composite UI toolkit scrollbars inside of the content area.

[2015-05-27 19:44] farodin91 commented on #6172
I finished a part of readAsText, but Blob doesn't support Uint8Array correct.

As the next part start to working on readAsDataUrl and clean up the code.

[2015-05-27 19:57] #6126 closed

[2015-05-27 22:58] nnethercote commented on #6191
Thank you, Jinwoo-Song!

[2015-05-28 01:30] pgonda commented on #3396
@jdm this is a silly question but I have been trying to figure out how to import the functions/structs into ```components/servo/lib.rs``` and ```components/compositing/constellation.rs```.  I have changed ```components/script/lib.rs:  68 mod timers;``` to ```components/script/lib.rs:  68 pub mod timers;```.  But when I try adding ```extern crate script;``` or ```extern crate timers``` I get an err

[2015-05-28 01:33] Manishearth commented on #3396
`extern crate timers` won't work, you want to `use timers` (from within script) or `use script::timers` from a different crate.

`extern crate script` will only work in the compositing `lib.rs`

However, it might be worth keeping the dependency separate by moving this to `script_traits`

(I'm not sure what you need to use in `constellation.rs`)

[2015-05-28 02:48] #6191 closed

[2015-05-28 02:59] asbaker commented on #6088
These are also all innocently finding within their source directories:
rust-core-graphics
rust-core-foundation
rust-core-text
rust-egl
rust-io-surface
rust-layers
rust-stb-image
rust-xlib

That should just leave **rust-mozjs** as the only offender.

I'll take a look and open a PR tomorrow evening.

[2015-05-28 08:13] hsivonen opened #6203 "Width of spaces in justified text changes upon mouse move"
Steps to reproduce:

    ./mach build --release
    ./mach run --release https://hsivonen.fi/doctype/

Move the mouse over the window.

Actual results:
On some lines of text, the spaces between words grow and shrink as the mouse moves. When the spaces grow, the text doesn't rewrap but extends beyond the right edge of the block.

Expected results:
No change in text location due to mouse move.

[2015-05-28 08:16] hsivonen commented on #6104
Considering that more established browsers are rejecting this feature due to the latency of querying DNS and due to DNSSEC using the sort of legacy crypto that's being unsupported for normal CAs, it's probably not a good idea to spend time on this in Servo.

[2015-05-28 08:18] hsivonen commented on #6203
Oh, and this was on Ubuntu 14.04 with llvmpipe.

[2015-05-28 08:21] hsivonen opened #6204 "Designated fonts not used for some text without obvious reason"
Steps to reproduce:

[code]

Scroll down to the botton of the page.

Actual results:
Text in the section "Appendix: IE8's mode selection" and the word "copyright" in the page footer appear using default fonts instead of the ones designated in CSS.

Additional info:
I have the CSS-designated fonts installed locally, so I don't know if Servo uses the local fonts or the Web fonts for the rest of the

[2015-05-28 08:42] hsivonen commented on #6203
Also happens on http://squarefree.com/

[2015-05-28 10:26] nox commented on #6194
throw_not_in_union() throws Error instead of TypeError.

[2015-05-28 10:30] nox commented on #6194
throw_not_in_union() should probably be a wrapper around throw_type_error().

[2015-05-28 10:54] #1235 closed

[2015-05-28 11:24] nox opened #6207 "Integrate Khronos' WebGL conformance test suite"
Follow-up of #6183, as per suggested by @ecoal95.

https://github.com/KhronosGroup/WebGL

[2015-05-28 12:07] #6194 closed

[2015-05-28 13:21] nox commented on #2782
https://html.spec.whatwg.org/multipage/#the-keygen-element

[2015-05-28 14:05] jdm commented on #6203
cc @pcwalton

[2015-05-28 15:23] snf commented on #6172
Great!

[2015-05-28 15:44] farodin91 commented on #6172
#6205

[2015-05-28 17:39] pgonda commented on #3396
Thanks!! That works for the ```servo/lib.rs``` but I am still working on the ```compositing/constellation.rs``` know anyone that would be able to help?

[2015-05-28 19:59] jdm commented on #3396
compositing doesn't depend on the script crate, it depends on script_traits instead. Why does constellation.rs need something from the timers module? Can that something move into the script_traits crate instead?

[2015-05-28 21:17] glennw opened #6210 "Running the jquery test suite intermittently makes the resource task panic."
This hangs the test runner as hard fail mode doesn't exit when the resource task panics.

./mach test-jquery -r

[2015-05-28 21:17] glennw opened #6211 "Resource and Image cache task hang the servo process when they panic, even with -f enabled."

[2015-05-28 22:33] jdm commented on #6210
Any chance you can catch the panic backtrace?

[2015-05-28 22:43] glennw commented on #6210
Unfortunately I couldn't get it to panic with RUST_BACKTRACE=1 (it's intermittent), but I do plan to investigate it and provide more info when I can.

[2015-05-29 04:10] srh commented on #5643
I saw a similar series of messages, maybe identical, up to the failure to load vboxvideo, when trying to use compton (some desktop compositing thing) with a vsync setting of "opengl" and other values that were not "none".  (This was not when running servo, it has nothing to do with servo -- I'm including this information because it implies that everything up to and including "failed to load driver

[2015-05-29 09:17] cloudtrends opened #6215 "Testing under headless mode"
https://github.com/servo/servo/wiki/Testing

I want run servo under headless mode , by command:

./mach test-content

but error message output is :

Content tests have been replaced by web-platform-tests under tests/wpt/moilla/.

what shoud I do to repair the command ?

[2015-05-29 09:20] Manishearth commented on #6215
The wiki page is old.

Build servo with `SERVO_HEADLESS=1` ( `SERVO_HEADLESS=1 ./mach build`) and then run it

[2015-05-29 13:12] jdm commented on #6215
I removed the command from the wiki page.

[2015-05-29 13:12] #6215 closed

[2015-05-29 17:43] #5963 closed

[2015-05-29 20:57] pcwalton opened #6217 "Run layout and script concurrently"
After flow construction, layout might as well tell script that it's done early, because it doesn't need to use the DOM anymore.

[2015-05-29 23:11] zmike commented on #6184
#6175 has merged, so sending the appropriate error (ADDRESS_INVALID I think) should basically be a one-liner.

[2015-05-30 07:40] ivanceras opened #6221 "[glutin] x error code=21 major=0 minor=0!"
I have been following the servo project, but just these few days ago. I can't launch the application anymore.
I always get this glutin error.
I tried it in both of my ubuntu 14.04 workstation, still with the same error.
I also tried doing a fresh git clone, but still got these errors.

[code]

[2015-05-30 10:02] Manishearth commented on #6042
@mukilan just hit this too. https://pastebin.mozilla.org/8835237

cc @tomaka

[2015-05-30 10:09] #5822 closed

[2015-05-30 10:32] tomaka commented on #6042
Actually I don't really know what are ColorMaps and how they work. Glutin's code on X11 is mostly copy-pasted from examples found around the web.

[2015-05-30 12:52] nox commented on #2684
I will take this.

[2015-05-30 15:32] larsbergstrom commented on #4024
cc me

[2015-05-30 17:48] mukilan commented on #6042
Adding the colormap related code fixes the issue. @mmatyas  you forgot to set the CWColorMap flag in  window_attributes. Here's the working fix: https://gist.github.com/mukilan/6fe5445f69faa0a88bf7#file-gistfile1-diff-L29

[2015-05-30 19:30] jdm commented on #6042
Interestingly @zmike specifically removed all traces of colormap stuff recently.

[2015-05-30 19:33] jdm commented on #6221
Looks like a duplicate of #6042.

[2015-05-30 20:16] pikzen commented on #6145
OK, now that I am actually able to get to work on this, I'm having a bit of a trouble understanding how to resolve the problem (or is there is even one) Could someone clarify a few things ?

 1. nulls are hard to come by in Rust, especially on `&Url`.
 2. `url` is not an `Option<&Url>` so doing pattern matching is out of the way
 3. https://github.com/servo/servo/tests/wpt/web-platform-tests/url/u

[2015-05-30 22:01] jdm commented on #6145
I think you are right and there is not anything we need to do here. You could remove the comments pointing at this issue, though!

[2015-05-31 01:05] frewsxcv opened #6224 "Remove `get_*` on getters as per RFC 0344"
In an effort to:

1. Follow the agreed upon conventions (see the RFC section below)
2. Make our internal Servo APIs more ergonomic (shorter in this case)
3. Assist in completing the uncompletable issue #130

I propose we remove the `get_` prefix on most getters in the codebase.

If the glorious leaders of Servo approve this, I (@frewsxcv) would be willing to take on this momentous feat.

### RFC

[2015-05-31 01:59] frewsxcv opened #6226 "OSX trackpad two finger swipe to navigate forward/back in history"
![screen shot 2015-05-30 at 9 58 09 pm](https://cloud.githubusercontent.com/assets/416575/7900223/103cc03e-0717-11e5-9b9e-6ae98ef7e0ab.png)

Safari, Chrome, and Firefox all support this feature

[2015-05-31 02:00] frewsxcv commented on #6226
It's worth mentioning that there are additional gesture options for this feature:

![screen shot 2015-05-30 at 9 59 56 pm](https://cloud.githubusercontent.com/assets/416575/7900228/43f919c2-0717-11e5-9c94-68787a5c68a8.png)

[2015-05-31 02:10] frewsxcv opened #6227 "Triple tapping webpage causes 'Unhandled exception' to appear in console"
I'm on OSX 10.10

Everytime I triple tap (press three fingers at once on the trackpad), a message like this appears in the console:

[code]

[2015-05-31 02:27] frewsxcv opened #6228 "Table cells incorrectly resize upon mouseover for Rust buildbot page"
`./mach run --release "http://buildbot.rust-lang.org/waterfall"`

![](https://cloud.githubusercontent.com/assets/416575/7900287/ed210d2c-071a-11e5-9ffb-6f8de453b16b.gif)

[2015-05-31 02:35] frewsxcv commented on #6203
For archival purposes, GIFs of the issues for the websites listed above

### https://hsivonen.fi/doctype/

![untitled2](https://cloud.githubusercontent.com/assets/416575/7900305/2861be3a-071c-11e5-9f71-0d8d4f7394d2.gif)

### http://squarefree.com/

![untitle2](https://cloud.githubusercontent.com/assets/416575/7900306/2c8969ea-071c-11e5-8d64-4c50803de376.gif)

[2015-05-31 02:40] frewsxcv commented on #5369
A GIF of the issue described above

![untitle2](https://cloud.githubusercontent.com/assets/416575/7900315/b19825e0-071c-11e5-8aef-a934e57bd574.gif)

[2015-05-31 02:44] frewsxcv commented on #4395
GIF displaying jiggly text in wikipedia (as per my previous comment)

![](https://cloud.githubusercontent.com/assets/416575/7900324/58ab57d0-071d-11e5-9a84-364bc720f5b4.gif)

[2015-05-31 06:03] mukilan opened #6229 "Remove unnecessary calls to node_removed and change semantics of node_inserted"
PR #5972 has changed the semantics of ```node_removed``` so that it now corresponds to the ["removal steps"](https://dom.spec.whatwg.org/#concept-node-remove-ext) in the spec and doesn't perform any steps related to "mutation observers". Hence,
as explained [here](https://github.com/servo/servo/pull/5972#issuecomment-107122353), the calls to node_removed from [Node::ReplaceChild](https://github.co

[2015-05-31 13:38] Manishearth commented on #6224
+1

Within the DOM we do this already, but somehow all unsafe layouty methods and bindings still have this.

Avoid touching `script/` until the SM upgrade passes.

Servo and Rust don't really follow the style for Rust-y code in their internals (partially because they've been around for very long and fixing style to fix the fluid "prevailing" style is very low priority), but that doesn't mean we sh

[2015-05-31 13:39] Manishearth commented on #6224
Actually, come to think of it I prefer having `get_` on unsafe methods and stuff (very common in layout <-> DOM). When calling unsafe methods you should know what's happening, and `get_` emphasizes that it's just a getter (and you know what invariants must be satisfied for the usage to be safe)

[2015-05-31 15:26] frewsxcv commented on #6224
Just to be absolutely clear, do you believe that none of the APIs should change or should I just avoid the unsafe ones (in addition to the `script/` ones)

[2015-05-31 15:27] Manishearth commented on #6224
Just avoid the unsafe ones and the script ones (unless pcwalton or someone else who uses them regularly is okay with it). Most of the unsafe ones are in script anyway.

[2015-05-31 17:05] ecoal95 commented on #6207
cc @Ms2ger, could it be integrated in wpt?

[2015-05-31 21:46] #6088 closed

[2015-05-31 23:37] frewsxcv opened #6236 "Run flake8 on Python files as part of the tidy process"
Would help find things like unused variables, unused imports, etc.

If someone could point me at where to include the `flake8` requirement, I'd be happy to make all the necessary changes to make flake8 happy

Initially at least, I imagine we can ignore most of the whitespace and line-length errors

#### Backstory:

https://github.com/servo/servo/pull/6235#issuecomment-107256558

https://github.com

[2015-06-01 00:11] glennw commented on #5798
@jdm @jgraham x11-clipboard opens an X display when we are running in headless / osmesa mode, which is probably why the problem started happening recently.

We should not init x11-clipboard when running in headless mode.

[2015-06-01 00:50] jdm commented on #5798
Sounds like the Constellation should store an `Option<ClipboardContext>`.

[2015-06-01 00:50] jdm commented on #5798
@aweinstock314 Interested in making this change?

[2015-06-01 02:44] Jinwoo-Song opened #6237 "CSS 'transformation: skew()' should take <angle> type as parameters"
Current implementation is taking <number> type as parameter so skew() does not work properly now.

[2015-06-01 08:44] Ms2ger commented on #6207
It definitely should, but I don't really want to deal with Khronos politics (which is also why there are a handful of webgl tests in wpt already).

[2015-06-01 11:55] pikzen commented on #6145
Should I also commit my patch to url-constructor.html to test null URLs ?  It's basically

[code]

However, I don't know how to expect the test to throw an error.

[2015-06-01 12:20] jdm commented on #6145
http://testthewebforward.org/docs/testharness-library.html#assert_throws-code-func-description-

[2015-06-01 13:04] jdm opened #6242 "Add special operations to TestBinding.webidl"
http://heycam.github.io/webidl/#idl-special-operations

TestBinding.webidl is supposed to exercise all of the different parts of our WebIDL binding code generation, but it doesn't generate any code related to special operations. It needs named getters/setters, indexed getters/setters, a stringifier, and a deleter. There are examples of these in other WebIDL files (search for strings like "getter",

[2015-06-01 13:06] Ms2ger commented on #6242
Note that named getters/setters, indexed getters/setters and deleters turn the binding into a proxy; we probably want to keep a non-proxy in there too.

[2015-06-01 13:06] nox commented on #6242
We need multiple interfaces anyway if we want to test both attribute stringifiers and standalone stringifiers (same problem with named and indexed getters).

[2015-06-01 13:07] jgraham commented on #5798
I am taking a look at this.

I tried adding a `supports_clipboard(&self) -> bool` method to `WindowTraits` and passing in the result to the constellation (the `ClipboardContext` itself isn't `Send` so I can't just pass the context in). I'm not sure this is a great approach though.

[2015-06-01 13:57] jdm commented on #6242
I guess we need a new TestBindingProxy.webidl file, since we can't have multiple interfaces in the same file.

[2015-06-01 21:57] movEAX commented on #2139
+1

[2015-06-01 23:41] glennw opened #6250 "Intrinsic text width calculation is wrong in some cases"
For some letters / fonts, the 'width' field of the font metrics is larger than the 'advance' field (e.g. the A character in the default font on Linux). This means that the intrinsic width calculation is too small, and a few pixels can get cut off if the text field is relying on intrinsic width for its size (e.g. a layer or inline block).

[2015-06-01 23:57] gaye commented on #6229
I'd like to take!

[2015-06-02 00:05] frewsxcv commented on #5637
This was completed in #6246 (also partially in #5648). Can someone close this?

[2015-06-02 01:09] #5637 closed

[2015-06-02 01:10] jdm commented on #6229
Go for it!

[2015-06-02 01:54] jdm opened #6252 "Intermittent reftest failure in viewport_percentage_vw_vh.html"
[code]

[2015-06-02 02:00] glennw commented on #6252
@jdm I've seen this failure before. I believe what occurs is that under some conditions on the mac builders, the servo window is placed partially offscreen (this is more likely to happen when lots of tests are run in parallel). When this occurs, the offscreen part of the window isn't painted by the GL driver, resulting in a reftest failure.

[2015-06-02 02:20] #5232 closed

[2015-06-02 09:53] Fiedzia opened #6255 "servo doesn'r run at all"
Tested on ubuntu 14.10,
commit ec79881471bf3e952f40ee7021b561532a9020c6
compiled fine, but when trying to run it, I'm getting this:

./mach run ./mach run --release tests/html/about-mozilla.html
[glutin] x error code=21 major=0 minor=0!
[glutin] x error code=22 major=0 minor=0!
[glutin] x error code=23 major=0 minor=0!
[glutin] x error code=26 major=0 minor=0!
[glutin] x error code=27 major=0 mino

[2015-06-02 10:12] frivoal commented on #4331
As an (interesting?) data point, presto based Opera, after playing the UA string compatibility charade for years, eventually gave on the convoluted UA strings, and went with this:

  Opera/9.50 (Macintosh; Intel Mac OS X; U; en)

Which later evolved into:

  Opera/9.61 (Macintosh; Intel Mac OS X; U; en) Presto/2.1.1

Which later evolved into this final form, needed because some UA string sniffers

[2015-06-02 10:19] nox commented on #6221
Yes it does. Closing.

[2015-06-02 10:19] #6221 closed

[2015-06-02 10:19] nox commented on #6255
Duplicate of #6042.

[2015-06-02 10:19] #6255 closed

[2015-06-02 12:41] Ms2ger opened #6256 "rustc snapshot no longer runs on Ubuntu 12.04"
```rustc: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.18' not found (required by ~/.servo/rust/474c6e0ae47578b3e608c893e18bc83798b565aa/rustc-1.2.0-dev-x86_64-unknown-linux-gnu/rustc/lib/libstd-d8ace771.so)```

Looks like I'm stuck with 2.15 for now.

[2015-06-02 12:48] jdm commented on #6256
cc @larsbergstrom

[2015-06-02 12:58] pgonda commented on #3396
Alright, so I will move all the new timer code into ```script_traits::timer.rs```?  So that the ```Constellation``` can hold the sender to the thread, and pass it to newly created ScriptTasks.

[2015-06-02 13:18] jdm opened #6257 "Measure Servo build duration over time"
It would be great to collect and report total build time to see if certain PRs or rustc upgrade cause significant regressions.

[2015-06-02 13:19] jdm commented on #3396
I don't believe all of the code needs to move. You might be able to just move the TimerRequest enum to script_traits, if that's all that the Constellation code needs to reference.

[2015-06-02 13:40] SimonSapin commented on #6051
Closing. While this is space usage is unfortunate, there isn’t an actionable proposal for an alternative with an update process.

[2015-06-02 13:40] #6051 closed

[2015-06-02 13:44] SimonSapin commented on #2269
@pcwalton Is this the same as https://github.com/servo/rust-smallvec/issues/4 ?

[2015-06-02 14:29] SimonSapin commented on #6236
If possible, I’d rather not make flake8 a servo dependency that users have to install (and deal with the joys of Python packaging). One option is to have in a ZIP file and run python with the `PYTHONPATH` environment variable set to a path to that file.

See https://github.com/servo/servo/blob/master/components/style/build.rs and https://github.com/servo/servo/blob/master/components/style/Mako-0.9

[2015-06-02 14:36] metajack commented on #6236
So far we have directly imported small python modules into python/foo. I'm also fine with the zipfile idea. perhaps We should have been doing that from the beginning for imports, which also makes it extremely clear when we are not planning to modify upstream drops as well as maintaining version information.

[2015-06-02 14:39] frewsxcv commented on #6236
I was about to ask why we are using zip files instead of [wheels](http://pythonwheels.com/), but then I noticed the [mako](https://pypi.python.org/pypi/Mako/1.0.1) package does not offer wheels :cry:

[2015-06-02 14:45] frewsxcv commented on #6236
[A relevant discussion about ignoring third party libraries from flake8](https://github.com/servo/servo/pull/6260#issuecomment-107973816)

[2015-06-02 14:50] SimonSapin commented on #6236
ZIP files can be put in the "path" to be imported directly, whereas wheels (AFAIK) have to be installed. To install something in isolation, we need a virtualenv. It’s doable (we do it for wptrunner), but it’s just many more moving parts.

Dumping some Python files is fine as well, but flake8 has three dependencies so I don’t know how many files that is in total.

[2015-06-02 15:50] deokjinkim opened #6262 "Font-style(italic) doesn't work."
When I tested with below command, "font-style: italic" doesn't work.
./mach run --release tests/ref/font_style.html

I think rust-azure doesn't support italic style.
- Callstack :
  1. draw_text(paint_context.rs)
  2. get_paint_font_from_template(font_context.rs)
  3. create_scaled_font(font_context.rs)
- File : https://github.com/servo/rust-azure/blob/master/src/scaled_font.rs
- Line : 92
- Conte

[2015-06-02 18:17] nox commented on #6224
Never mind.

[2015-06-02 18:22] larsbergstrom commented on #6256
Gah, this is my fault - I did an `apt-get upgrade` on my "special snapshot VM" to support a newer version of the android toolchain and must have broken it.

CC @edunham that list of packages is probably wrong, given this error. Sorry!

I'll try to figure out a fix and rebuild the image.

[2015-06-02 23:15] jgraham opened #6266 "Intermittent absolute-replaced-height CSS reftests"
in the CSS testsuite

e.g. `css21_dev/html4/absolute-replaced-height-014.htm`

Example build with this failing: http://build.servo.org/builders/linux3/builds/74 Opening the raw log in the reftest analyzer shows a blank page for the test. My first guess would be something `<iframe>` related.

[2015-06-03 00:56] #4761 closed

[2015-06-03 01:23] zmike commented on #6042
Ah, this is indeed my fault. I forgot that glutin is creating the GLX window, in which you do actually need a writeable (created) colormap.

[2015-06-03 03:24] meteficha commented on #6042
@zmike, https://github.com/servo/glutin/pull/29 fixed the problem for me, thanks!

[2015-06-03 04:24] larsbergstrom opened #6270 "Intermittent failure in CSS background-103.htm"
#6260 and #6219 have both hit this failure intermittently.

[2015-06-03 05:27] #5914 closed

[2015-06-03 06:00] samfoo commented on #6105
I'm keen to give this a go as a first task. It seems like doing only preloads first should be fairly straightforward. Finding a suitable preload list doesn't not appear to be as straightforward.

Chromium [packages theirs with the build](https://src.chromium.org/viewvc/chrome/trunk/src/net/http/transport_security_state_static.json), as does [gecko](https://github.com/mozilla/gecko-dev/blob/b6ea902

[2015-06-03 06:08] #6166 closed

[2015-06-03 08:55] Ms2ger opened #6271 "get_proto_or_iface_array should return *mut ProtoOrIfaceArray"

[2015-06-03 09:17] mmatyas commented on #6042
It works for me too, thanks!

[2015-06-03 09:26] fbau123 commented on #6242
Im working on this

[2015-06-03 09:56] #1745 closed

[2015-06-03 12:20] jdm commented on #6105
We could add a mach command to fetch the latest version. That would live somewhere in http://mxr.mozilla.org/servo/source/python/servo/; it's not clear to me which of those files makes the most sense, but the bootstrap_commands.py has a bunch of "download this file" logic.

[2015-06-03 12:28] jdm commented on #6271
Code: components/script/dom/bindings/utils.rs (definition/use), components/script/dom/bindings/codegen/CodegenRust.py (use)

We just need to cast the result before returning it in get_proto_or_iface_array, instead of casting in the callers.

[2015-06-03 12:30] #6042 closed

[2015-06-03 12:34] jdm opened #6273 "Intermittent timeout in FileAPI/progress.html"
[code]

[2015-06-03 16:27] mbrubeck opened #6275 "Android startup crash: unable to load libmain.so"
Servo's library loading is failing on Android (again):

[code]

[2015-06-03 22:03] jdm opened #6276 "Same-origin loads that redirect to a cross-origin page are considered same-origin"
That is, we initiate a same-origin load in a script task and assume that when it completes it will still be same origin. This means that `window.frameElement` will yield cross-origin data, etc. We should check the resulting response and redirect it to the constellation for further processing if necessary.

Blocks #5236

[2015-06-03 22:47] mbrubeck commented on #6275
From git-bisect, this regression was caused by #6243:

f94eced1f51144026d432f73edcdccd1a048b1e0 Upgrade to rustc 1.2.0-dev (474c6e0ae 2015-05-30)

[Rust regression range](https://github.com/rust-lang/rust/compare/b301e02f37127da993dd2cf370aa1066d48b042e...474c6e0ae47578b3e608c893e18bc83798b565aa)

[2015-06-03 23:32] mbrubeck commented on #6275
`libmozjs.so` is not included in the APK, because the format of the linker args generated by rustc has changed, and apk-builder is no longer parsing them correctly.

[2015-06-03 23:39] mbrubeck commented on #6275
This is tomaka/android-rs-glue#57.

[2015-06-04 04:00] jdm opened #6281 "Investigate per-document event queues"
Currently we effectively have a per-origin event queue, and it's mixed in with the general script task events too. We should look into implementing a design like the one proposed for Gecko in https://bugzilla.mozilla.org/show_bug.cgi?id=715376, which yields benefits like tracking CPU usage per page (https://bugzilla.mozilla.org/show_bug.cgi?id=924582).

[2015-06-04 06:33] nnethercote opened #6282 "LocalLayoutContexts leaked via LOCAL_CONTEXT_KEY"
`LOCAL_CONTEXT_KEY` is defined like this:
[code]
Because it uses raw pointers the LocalLayoutContext doesn't get dropped when the thread dies. This causes us to leak FreeType instances (and possibly some other stuff).

@glennw thought that maybe the use of raw pointers here is related to an old restriction on thread-local storage that no longer holds. I played around with trying to make it `RefCel

[2015-06-04 08:11] fbau123 commented on #6242
I keep getting this error when i try to compile
`/home/fbs/opensource_contrib/servo/components/script/dom/bindings/codegen/Bindings/TestBindingProxyBinding.rs:47:5: 47:33 error: unresolved import `dom::types::TestBindingProxy`. There is no `TestBindingProxy` in `dom::types`
/home/fbs/opensource_contrib/servo/components/script/dom/bindings/codegen/Bindings/TestBindingProxyBinding.rs:47 use dom::typ

[2015-06-04 13:29] jdm commented on #6242
You're missing the `mod testbindingproxy;` line that belongs in `components/script/dom/mod.rs`.

[2015-06-04 13:29] jdm commented on #6242
Also, there's no need to inherit from TestBinding.

[2015-06-04 13:40] jdm commented on #6282
I think the pattern for TLS might be `Rc<RefCell<Option<LocalLayoutContext>`.

[2015-06-04 15:06] nox commented on #6242
Do we have a test binding for inheritance though?

[2015-06-04 15:41] jdm commented on #6242
That's... a good point! Ignore my last comment!

[2015-06-04 16:21] #6236 closed

[2015-06-04 16:36] fbau123 commented on #6242
Ok I finally got it compiled without errors or warning, I made a pull

[2015-06-04 17:18] #6275 closed

[2015-06-04 20:37] nox commented on #6242
#6284

[2015-06-04 20:49] frewsxcv opened #6287 "Package errors during mach cargo-update"
[code]

[2015-06-04 22:36] SimonSapin commented on #6287
Some package names have been changed, e.g. https://github.com/servo/core-foundation-rs/commit/fd8bed8a41b244fb2632096f883e140a260d738d. `Cargo.toml` files in Servo need to be updated accordingly.

[2015-06-04 22:37] frewsxcv commented on #6287
Was just about to open a pull request in this repo to fix them

[2015-06-05 00:23] jdm commented on #5566
Let's get rid of the last references to servo/rust-xlib in the various Cargo.lock files in the tree, first.

[2015-06-05 01:01] larsbergstrom commented on #2139
We currently build and host an Android nightly build. By the end of 2015, we expect to have some more stable Alpha builds (see https://github.com/servo/servo/wiki/Roadmap) and may publish builds at that time. Until we have an upgraded SpiderMonkey in place, though, we are reluctant to provide binaries for a web browser with a JS engine that is missing over 2 years of security fixes!

[2015-06-05 09:17] ecoal95 commented on #544
I think I'm going to take this soon since I need sequence return values in order to implement `WebGLRenderingContext#getSupportedExtensions`

[2015-06-05 12:11] Ms2ger commented on #544
Feel free to start on sequence return values, but sequence arguments are blocked on #6150 .

[2015-06-05 12:50] Wafflespeanut commented on #5690
@jdm I've created a pull request for this issue.

[2015-06-05 14:10] Wafflespeanut commented on #5690
And, ignore the first one. I accidentally pushed to master :)

[2015-06-05 17:39] jdm commented on #5690
Closed by #6292.

[2015-06-05 17:39] #5690 closed

[2015-06-06 01:41] jruderman opened #6298 "heap_size_of is unsafe"
`heap_size_of` usually crashes if it's given a borrowed pointer to a stack location.

It could be marked as unsafe, but I think that would mean also marking `HeapSizeOf for Vec<T>` as unsafe, since std::vec::as_vec lets you "forge" a &Vec<T> that doesn't refer to a heap location. And that would be sad.

It would be better if it could somehow ask jemalloc whether the pointer is a valid pointer to t

[2015-06-06 16:48] nox opened #6300 "Handle interfaces with multiple constructors correctly"
Interfaces with some combinations of constructors are miscompiled.

[code]

[code]

The two first constructors end up named "Constructor". Removing any of them three constructors makes the problem go away.

[2015-06-06 19:49] snf commented on #6144
I'm working on it, waiting for https://github.com/servo/servo/pull/6135

[2015-06-06 21:32] #6103 closed

[2015-06-07 01:39] larsbergstrom commented on #6256
Just installed a 12.04 LTS VM and it does appear to be on EGLIBC version 2.15, so I should be able to build a compatible snapshot once I get all the prereqs installed into it.

cc @edunham

[2015-06-07 07:32] fbau123 commented on #6085
It worked for me on development build.
I found some problems:
- It didn't let me publish a comment, the Comment button did nothing.
- Hitting back while on the comments `<textarea>` actually went back in history

[2015-06-07 13:27] larsbergstrom commented on #6256
@Ms2ger Can you try again? I've created a new snapshot on that machine.

[2015-06-07 16:29] #6271 closed

[2015-06-07 17:20] KiChjang commented on #5235
I can take a look at this one.

[2015-06-07 18:26] Ms2ger commented on #6256
Thanks!

[2015-06-07 18:26] #6256 closed

[2015-06-08 23:36] michaelwu opened #6307 "Use a MutableHandleValue outparam for calls returning GCThings"
This is a followup to https://github.com/servo/servo/pull/6150 .

DOM methods that return JSVal or JSObjects are better served by taking a MutableHandleValue to dump the return value into.

[2015-06-09 00:24] KiChjang commented on #5235
I just took a look at the previous PR, and I came across with the usage of the new `WindowId` struct. How and where is it going to be used and created?

[2015-06-09 06:43] KiChjang commented on #5236
Relevant explanation of pipelines and frame trees: `https://air.mozilla.org/2013-intern-kuehn/`

[2015-06-09 13:39] zmike commented on #5979
Going to close for now, I think this works pretty well.

[2015-06-09 13:39] #5979 closed

[2015-06-09 13:50] nox opened #6312 "Intermittent pass for /XMLHttpRequest/timeout-cors-async.htm"
[code]

#6284
#6293

[2015-06-09 13:50] nox commented on #6312
@larsbergstrom

[2015-06-09 13:52] nox commented on #6312
Already reported in #5740, let's close this one.

[2015-06-09 14:09] zmike commented on #6190
This is a bigger annoyance than I thought. It pretty much ruins any frames after resizing. Sample logging output:

[code]

[2015-06-09 16:50] zmike commented on #6190
Okay, it seems that the paint task is just not getting any kind of resize notification and will sometimes perform paint()s for non-current sizes. Any suggestions>

[2015-06-09 22:32] #6282 closed

[2015-06-09 22:54] frewsxcv commented on #6287
Fixed in #6295

[2015-06-09 22:54] #6287 closed

[2015-06-10 01:45] larsbergstrom opened #6315 "`./mach test` and `./mach test-ref` should run just the CPU tests by default"
The GPU-based reftests are not currently being supported or tested on our builders, and cause confusion when people accidentally run them.

I suspect something around here will need to be changed:
https://github.com/servo/servo/blob/master/python/servo/testing_commands.py#L137

[2015-06-10 07:20] #4745 closed

[2015-06-10 09:22] Ms2ger commented on #5286
https://gist.github.com/Manishearth/967bc78db5c751c38d03

[2015-06-10 10:30] #6300 closed

[2015-06-10 11:39] Ms2ger opened #6321 "Pass the URL test suite."
Tests are under `tests/wpt/web-platform-tests/url`, and expected failures are under `tests/wpt/metadata/url`. See `tests/wpt/README.md` for more information on web platform tests.

[2015-06-10 11:44] Ms2ger opened #6322 "Implement the URL object."
Blocks #6321.

* Spec: <https://url.spec.whatwg.org/#api>.
* Code: `components/script/dom/url.rs`, `components/script/dom/webidls/URL.webidl` (to be created).
* Test: `/url/url-constructor.html`, `/url/interfaces.html`.

See also http://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface.

[2015-06-10 11:47] SimonSapin commented on #6321
Feel free to file issue on https://github.com/servo/rust-url/ , I can help with those.

[2015-06-10 11:47] nox commented on #6322
I had begun implementing this, so I'm assigning it to myself.

[2015-06-10 11:49] SimonSapin commented on #6322
Some of the relevant stuff is already implement in https://github.com/servo/rust-url/blob/master/src/urlutils.rs

[2015-06-10 17:15] mmatyas opened #6327 "Add ARM cross compile support"
This is a meta issue, after applying the following set of patches, it should be possible to cross compile servo for ARM devices by simply calling `mach --target=arm-unknown-linux-gnueabihf`

- servo/rust-azure#169
- servo/glutin#32
- servo/skia#50
- servo/mozjs#39
- servo/rust-mozjs#154
- servo/libfreetype2#11
- servo/libfontconfig#8
- servo/rust-harfbuzz#45
- servo/rust-png#72
- servo/rust-stb-im

[2015-06-10 21:29] fbau123 commented on #6315
Can I have it?
Should `./mach test` have an option to choose which render mode you want? I ask this because the description of `./mach test` is to run ALL tests, once the GPU tests are supported it should run both again by default.

[2015-06-10 21:33] metajack commented on #6315
You're welcome to tackle this bug. I think ./mach test (and prehaps the related subcommands) should get --cpu-paint and --gpu-paint flgas which enable cpu and gpu painting. The default (if neither flag is specified) should be --cpu-paint.

@larsbergstrom Does that sound reasonable?

We can change the default once gpu painting becomes more reliable.

[2015-06-10 21:35] larsbergstrom commented on #6315
I agree with @metajack on the additional flags.

I think the default for `./mach test` should just be to use the default value of `./mach test-ref`, if possible, since then if we fix up gpu painting we can just change the default for `test-ref` and everything that uses it will also get fixed to do both.

[2015-06-11 01:42] bstrie opened #6332 "Consider appeasing Github's Linguist so that it does not categorize Servo as a web browser written entirely in HTML"
Currently Github considers Servo to be 92% HTML, 3% Python, and 3% Rust. These statistics are skewed because tests/wpt contains 40 zillion HTML files. It's only a papercut, but considering that Servo is supposed to be Rust's flagship project it's annoying (and perhaps somewhat harms discoverability).

Repository language categorization is handled by Github's Linguist project: https://github.com/gi

[2015-06-11 01:44] larsbergstrom commented on #6332
Ours is under the "tests" directory, which I thought would be excluded via the line https://github.com/github/linguist/blob/master/lib/linguist/vendor.yml#L232-L233 in the file you mentioned...

[2015-06-11 01:47] bstrie commented on #6332
@larsbergstrom The "fixtures" part of that path doesn't look optional, which is why it's not matching (though I could always be reading this incorrectly).

[2015-06-11 01:53] larsbergstrom commented on #6332
@bstrie aha! That's an additional path separator; I assumed it was "yet another regexp syntax" for alternating patterns :-)

[2015-06-11 01:55] larsbergstrom commented on #6332
Hrm. I guess I wouldn't be upset by "external/" (https://github.com/github/linguist/blob/master/lib/linguist/vendor.yml#L72), but I'm not super excited about any of the options in that file.

[2015-06-11 01:57] larsbergstrom commented on #6332
Oh, another alternative is "manual overrides": https://github.com/github/linguist#overrides

I like that much better; would r+.

[2015-06-11 03:57] frewsxcv opened #6333 "More informative information at the beginning of `./mach build`?"
Random idea I've thought about for the past week:

It seems like when one runs `./mach build`, it takes 20 - 30 seconds before any text appears in stdout (even with the verbose flag enabled). It might be more informative if there were a few messages describing what happens before the compilation process. Thoughts?

[2015-06-11 04:02] frewsxcv commented on #6333
Brief discussion with @mbrubeck on IRC:

[2015-06-11 05:56] SimonSapin commented on #6332
Fixed in #6336. Thanks @nerith !

![screenshot from 2015-06-11 07-55-24](https://cloud.githubusercontent.com/assets/291359/8100668/3fb000aa-100f-11e5-98ca-6a179ddece99.png)

[2015-06-11 06:00] bstrie commented on #6332
Ah! I should have read further into the README, clearly. :)

[2015-06-11 06:47] #6332 closed

[2015-06-11 06:51] metajack commented on #6333
Part of this was a bug in Cargo that @alexcrichton has recently fixed. We'll pick it up when we get #6306 landed.

[2015-06-11 13:20] #6082 closed

[2015-06-11 17:33] zmike commented on #6190
False alarm, test app pebkac.

[2015-06-11 17:33] #6190 closed

[2015-06-11 17:55] jgraham opened #6342 "Unstable CSS test /css21_dev/html4/absolute-replaced-height-014.htm on macOS"

[2015-06-12 00:56] #6242 closed

[2015-06-12 06:13] Manishearth opened #6350 "Panic on "could not initialize thread_rng" in websocket test"
http://build.servo.org/builders/mac1/builds/2226/steps/shell_2/logs/stdio

[code]

cc @pcwalton

[2015-06-12 06:59] Manishearth commented on #6350
It happened again on websockets/constructors-004.

cc @Ms2ger

[2015-06-12 07:25] Ms2ger opened #6351 "Running `./serve` manually no longer works."
`testharnessreport.js` end up with

[code]

CC @jgraham

[2015-06-12 09:44] Manishearth commented on #1908
I fixed up the png compile.

https://github.com/servo/rust-png/pull/73

[2015-06-12 10:01] nox commented on #2661
I am waiting for #6150 to land before resuming work on this.

[2015-06-12 10:02] nox commented on #1980
@jdm Not only nodes will need the mutation observers machinery. I would like to use them between URLSearchParams and URL too, for example.

[2015-06-12 10:06] nox commented on #4107
Duplicate of #4335.

[2015-06-12 10:06] #4107 closed

[2015-06-12 10:21] Manishearth commented on #1908
A relatively simple task that can be done here is making `mach` `cygpath` friendly when it sets the PATH environment variable amongst other things.

[2015-06-12 10:52] Manishearth commented on #1908
Fixed up stb too

https://github.com/servo/rust-stb-image/pull/71

[2015-06-12 12:07] Manishearth commented on #1908
Skia seems to need MSVC to build on windows

There are some instructions for getting it to work on mingw, but they seem dated:

https://groups.google.com/forum/#!topic/skia-discuss/LO1kdT0tmNs

https://code.google.com/p/skia/issues/detail?id=213

[2015-06-12 12:41] waddlesplash commented on #1908
Does Rust use a new enough LLVM that the MSVC ABI can be used? That would solve the problem without requiring MinGW.

[2015-06-12 12:54] Manishearth commented on #1908
https://github.com/rust-lang/rust/pull/25350

Rust can build on MSVC, it's just new. And while most things will just work with mingw, the same is not true for msvc.

[2015-06-12 15:21] Manishearth commented on #1908
OpenSSL seemed to magically build for me on mingw64. I'm ticking it off, but it's possible that this was just my setup.

[2015-06-12 18:27] Ms2ger opened #6359 "Cache the ID in a field on Element to optimize selectors::Element::get_id"
Right now, we loop over all the attributes, which is probably too slow.

Code is in `components/script/dom/element.rs`.

[2015-06-12 20:27] larsbergstrom opened #6361 "Entries in the servobuild.example file that are not defaults should be commented out"
In the file https://github.com/servo/servo/blob/master/servobuild.example, we should have at least all of the paths commented out. Otherwise, it's easy to accidentally copy this file over to change one setting and end up leaving these broken entries around and causing trouble, especially with cross-compile builds.

[2015-06-12 20:42] Sumith1896 commented on #6361
Is this open to work on? I'd like to tackle this.

[2015-06-12 20:44] larsbergstrom commented on #6361
@Sumith1896 That would be excellent - thanks much!

[2015-06-12 21:15] larsbergstrom opened #6363 "When '--verbose' is passed to mach, it should print out the commands it invokes"
This mainly applies to the file https://github.com/servo/servo/blob/master/python/servo/build_commands.py

For example, many of the `subprocess.call` lines like the one at https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L298 should have an additional `print` statement that shows the full command being run.

[2015-06-12 21:37] Sumith1896 commented on #6361
@larsbergstrom I have sent in a PR

[2015-06-12 21:51] Sumith1896 commented on #6363
I'll give this a shot. I might take some time figuring it out though.

[2015-06-13 08:15] #6361 closed

[2015-06-13 08:29] jdm commented on #6350
This is the mac builders upgrading to 10.10.3 with the max open file limit of 256, right?

[2015-06-13 09:16] Manishearth commented on #6350
Probably. Ms2ger reverted the PR that caused this, and is trying to fix it.

[2015-06-13 14:51] Yomi0 opened #6367 "image doesn't completely load"
`./mach run http://www.boywhofell.com`

looks like this :
![shot-2015-06-13_04-08-08](https://cloud.githubusercontent.com/assets/3170531/8143579/24aacc3a-1182-11e5-84ed-598ca4ef8cef.png)

[2015-06-13 15:23] Ms2ger opened #6368 "Scripting tests fail trying to load www1.localhost:8000"
I eventually tracked it down to
[code]
in `tests/wpt/harness/wptrunner/browsers/servo.py`.

However, replacing that by `web-platform.test` leads to trying to load `www1.127.0.0.1:8000` instead.

CC @jgraham

[2015-06-13 20:48] frewsxcv commented on #5566
[code]

[2015-06-13 21:10] kmcallister opened #6372 "Package Servo for Cydia"
[Cydia](https://cydia.saurik.com/) is a package manager for jailbroken iOS devices.

[2015-06-14 00:25] indivisible commented on #1908
I've tried to cross-compile servo on a Linux host to Windows. What I did:
- set up a simple mingw environment (I used https://github.com/lachs0r/mingw-w64-cmake)
- clone servo
- clone the rust version it needs, build it with windows support, and put it somewhere the build process will find
- try to build servo

I got a bunch of bugs with some cargo packages, which I've reported and worked around m

[2015-06-14 12:34] Ms2ger opened #6375 "LayoutTask panic 'no layout root' with root element in no namespace"
[code]
causes
[code]

[2015-06-14 12:35] Ms2ger commented on #6375
Blocks #2185 (crashes `dom/nodes/Document-createElement-namespace.html`).

[2015-06-14 15:20] Manishearth opened #6376 "Remove unsafe around make_unique()"
The recent rustup (temporarily) added `unsafe{}` blocks around `Arc::make_unique()`. This is safe because the API was made unsafe in https://github.com/rust-lang/rust/issues/24880 due to bad interactions with weak pointers, but we don't use weak pointers.

Nevertheless, we should remove these unsafe blocks when that API gets fixed.

[2015-06-14 15:26] Manishearth commented on #6376
Running git revert on https://github.com/servo/servo/commit/94fa868d2b498107d769c889766fbdcf963207d5 should fix this when the library is back to being safe.

[2015-06-14 20:01] Ms2ger opened #6379 "Should send an Origin header."
Blocks #6060.

At least `websockets/security/001.html` seems to rely on it. Not sure where the spec is. This probably needs to be fixed in https://github.com/cyderize/rust-websocket, though.

[2015-06-14 21:33] nox commented on #3507
Ain't that fixed?

[2015-06-14 23:38] michaelwu opened #6381 "Fix rooting of dictionaries"
This is a followup to https://github.com/servo/servo/pull/6150

Dictionaries aren't properly rooted at the moment. For the current users, this shouldn't be a problem, but we should root them. Maybe make them `[jstraceable]` and hold them down with `RootedTraceable`.

[2015-06-14 23:44] michaelwu opened #6382 "Root conversions to *mut JSObject in CodegenRust"
This is a follow up to https://github.com/servo/servo/pull/6150

When converting to *mut JSObject, we need to root. It's a bit tricky since RootedObject can't be moved, so rooting can't be done in the obvious place.

[2015-06-15 00:00] michaelwu opened #6383 "Should we continue verifying addresses of GC things?"
This is a follow up to https://github.com/servo/servo/pull/6150

With the old SM, pointers from layout were checked to ensure they point to valid GC things. With exact rooting, those checks aren't necessary in SM anymore since there is no stack scanning. I believe that verifying addresses is also ineffective now that we have moving objects. GC things are stored in arenas which pack similar sized o

[2015-06-15 00:27] pcwalton commented on #3507
Yes.

[2015-06-15 00:27] #3507 closed

[2015-06-15 07:27] Ms2ger opened #6384 "Android nightly's busted."
http://build.servo.org/builders/android-nightly

[2015-06-15 09:00] Manishearth commented on #6384
cc @mbrubeck

[2015-06-15 13:16] Ms2ger opened #6386 "Document-createElement-namespace.html doesn't know whether it times out or crashes."

[2015-06-15 13:41] SimonSapin commented on #6359
Should we also/instead make attribute access O(1) with something like a hashmap?

[2015-06-15 13:59] SimonSapin commented on #6359
Assuming we want to preserve iteration order, https://github.com/contain-rs/linked-hash-map could be relevant.

[2015-06-15 14:02] Ms2ger commented on #6359
Keyed on what? Attributes are retrieved in a number of ways.

[2015-06-15 14:23] SimonSapin commented on #6359
Keyed one the qualified name. Is that not enough to make most access O(1)?

[2015-06-15 14:59] michaelwu opened #6389 "Fix or remove IN_GC flag"
This is a follow up to https://github.com/servo/servo/pull/6150

SM doesn't always tell us that it's in GC via the GC callback. We should either make it work or stop using it.

[2015-06-15 15:00] michaelwu opened #6390 "Implement proxyhandler::own_property_keys"
https://github.com/servo/servo/pull/6150 added a stub for own_property_keys. That stub should be implemented.

[2015-06-15 15:04] mbrubeck commented on #6384
[code]

[2015-06-15 15:11] michaelwu opened #6391 "Use JS_FNSPEC style macros to improve CodegenRust output"
This is another followup to https://github.com/servo/servo/pull/6150 .

Gecko uses JS_FNSPEC macros to specify JSFunctionSpec entries. We should do something similar to clean up the output of CodegenRust.

[2015-06-15 15:17] mbrubeck commented on #6384
As far as I can tell, the only differences between the `android` and `android-nightly` builds are that the nightly build uses `--release` and is built on the `servo-head` slave, while the non-nightly builds use `--dev` and are built on `servo-linux-android1`.

Perhaps the difference is related to the version of libfreetype6-dev installed on `servo-head`.

[2015-06-15 16:04] jdm commented on #6386
#6387

[2015-06-15 16:16] #5566 closed

[2015-06-15 16:19] jdm commented on #6379
See https://github.com/cyderize/rust-websocket/issues/10 for how to fix it in Servo, but if the spec requires it...

[2015-06-15 17:24] jdm opened #6394 "Intermittent reftest failure in viewport_percentage_vmin_vmax.html"
[code]

Likely related to #6252.

[2015-06-15 19:10] mbrubeck commented on #6384
Both slaves have the same version of libfreetype6-dev.

[2015-06-16 10:09] mskrzypkows commented on #5774
Is the issue free to take? @dhananjay92 solution looks good.

[2015-06-16 14:54] mskrzypkows commented on #5861
It seems that CSS hover selector is not properly handled. Test html page (style taken from rustbyexample.com):

[code]

[2015-06-16 17:29] larsbergstrom opened #6399 "Compress WPT logs during automated builds"
Today, we log the raw Web Platform and CSS tests logs on the server on Linux:
https://github.com/servo/saltfs/blob/master/buildbot/master/master.cfg#L130-L133
https://github.com/servo/saltfs/blob/master/buildbot/master/master.cfg#L139-L142
and OSX:
https://github.com/servo/saltfs/blob/master/buildbot/master/master.cfg#L153-L156
https://github.com/servo/saltfs/blob/master/buildbot/master/master.cfg

[2015-06-16 20:24] jdm commented on #5774
Go for it.

[2015-06-16 20:56] metajack opened #6400 "about:blank doesn't fire load event"
Starting Servo with webdriver preloaded to about:blank and then creating a session and then loading about:blank doesn't do anything. It basically just waits forever to get the load event.

Start servo with: `target/release/servo --cpu --hard-fail --webdriver 4444 about:blank`
Create a session with: `curl -X POST http://127.0.0.1:4444/session -d "{}"`
Load a URL with: `curl -v -X POST http://127.0.

[2015-06-16 20:56] metajack commented on #6400
cc @jgraham

[2015-06-17 10:21] glennw opened #6404 "Implement mouseover event"
This would be super useful for demos.

https://developer.mozilla.org/en-US/docs/Web/Events/mouseover
https://html.spec.whatwg.org/multipage/infrastructure.html#event-mouseover

[2015-06-17 15:12] pcwalton commented on #6404
+1, I just had to change `mouseover` to `mousemove` in my demo to get things working in Servo.

[2015-06-17 15:12] pcwalton commented on #6404
Adding E-easy since I don't think this will be hard.

[2015-06-17 15:33] SimonSapin opened #6406 "Update from git servo/rust-geom to crates.io euclid"
rust-geom has been renamed to euclid (because geom was already taken) and published on crates.io. We should update Servo and its dependencies accordingly. In `components/servo/Cargo.lock` I count 4 crates in other repositories that need to updated:

* [x] azure https://github.com/servo/rust-azure/
* [x] io-surface https://github.com/servo/rust-io-surface/
* [x] layers https://github.com/servo/rust

[2015-06-17 19:16] mdinger opened #6407 "Relative time doesn't work properly"
~~[testcase1](http://mdinger.github.io/servo_6407/testcase1.html)~~
smaller [testcase2](http://mdinger.github.io/servo_6407/testcase2.html) based on @Scorpil's comment.

---

Relative time doesn't work properly. This is a shrunk down testcase from a page like [servo/issues](https://github.com/servo/servo/issues). The testcase isn't reproducible if I have the script locally. Not sure why.

[code]

[2015-06-18 05:30] Yomi0 commented on #6399
I would like to try this, but I've never touched a .cfg file before.

It seems I might be able to do pass ```logfiles``` to gzip and save myself a few keystrokes.

Something like, ```["gzip", logfiles,]``` or, if I can't do that, then, ```["gzip", "wpt_raw.log"]```.

[2015-06-18 12:06] k-bx opened #6414 "Support non-UTF-8 character encodings for HTML"
Popular Ukrainian news website is rendered poorly on my Mac. All cyrillic letters are rendered as squares.

Steps to reproduce:

[code]

Thanks for looking at it!

[2015-06-18 12:09] k-bx commented on #6414
Sorry, I see it uses windows-1251 encoding like it's a stone age. I'll write them a letter.

[2015-06-18 14:13] SimonSapin commented on #6414
That’s probably the issue, but we still need to fix it :)

Relevant spec: https://html.spec.whatwg.org/multipage/#determining-the-character-encoding
Related html5ever issue: https://github.com/servo/html5ever/issues/18

[2015-06-18 16:04] mmatyas opened #6418 "Canvas remains dirty during animations"
The canvas doesn't get cleared, and the frames continue to draw on top of each other during animations, like [this](https://mmatyas.github.io/canvas_anim.html) and [this](https://mmatyas.github.io/canvas_clock.html). These use clearRect to clear the canvas, but that seems to work correctly, at least I don't have problems with the [example code](http://www.w3schools.com/tags/tryit.asp?filename=tryh

[2015-06-18 16:38] Ms2ger opened #6419 "Stop defining all interface objects eagerly."
This will need a resolve hook, probably.

[2015-06-18 16:41] Ms2ger opened #6420 "Investigate better storage for interface objects (in workers)."
[code]

Depends on #6419.

[2015-06-18 17:03] michaelwu opened #6422 "Send an error to the parent when there is an exception in the worker"
This is somewhat of a followup to https://github.com/servo/servo/pull/6150 .

Per https://html.spec.whatwg.org/multipage/#runtime-script-errors-2 , when there's an error in the worker, it needs to be reported to the parent. At the moment the exception is just thrown inside the worker when the evaluate_script call in dedicatedworkerglobalscope.rs throws an exception.

[2015-06-18 17:28] vinpkjn commented on #6359
can someone give me a background of how this ID thing works or point me to relevant documentation?

[2015-06-18 20:41] yoava333 commented on #6404
Hi,
Could you assign this to me?
I'd like to try to implement this

[2015-06-18 21:09] glennw commented on #6404
@yoava333 We can't assign it to you at the moment due to how our github permissions are set up, but please feel free to start working on it!

[2015-06-18 21:09] pcwalton commented on #6383
I'd lean toward #2 since it seems like it'll be easier to make thread safe.

[2015-06-19 06:48] Ms2ger opened #6428 "Heap should not have a drop flag."
This should block the smup from landing, but since everyone is hell-bent on landing it over my objections, I'll just file it.

CC @michaelwu

[2015-06-19 09:30] SimonSapin commented on #6428
Is this more involved than adding `#[unsafe_no_drop_flag]` somewhere?

[2015-06-19 13:32] Ms2ger commented on #6428
Might need to have the dtor check for drop glue too? I haven't been following it all.

[2015-06-19 14:28] SimonSapin commented on #6428
If `#[unsafe_no_drop_flag]` is used and the destructor is not "naturally idempotent", it should check for `std::mem::dropped()` patterns… I think.

If you want to inhibit the implicit destruction of struct fields https://crates.io/crates/nodrop can do it until https://github.com/rust-lang/rfcs/pull/197 is added to the language.

[2015-06-19 14:29] metajack commented on #6428
If this fix works, can we just include it and land it? That seems like it would be expedient *and* satisfy ms2ger's objections.

[2015-06-19 16:26] jdm commented on #5927
@Ms2ger Why'd you close this?

[2015-06-19 17:09] Ms2ger commented on #5927
It's fixed and linted, last I heard. (Last I heard, you were on vacation, though :))

[2015-06-19 17:11] Manishearth commented on #5927
https://github.com/servo/servo/blob/master/components/plugins/lints/inheritance_integrity.rs

[2015-06-19 17:14] emilio opened #6430 "Use automatic bindings for rust-egl"
`rust-egl` is unmaintained, and not all the possible bindings are there, using automatic bindings could be a good option to make it more consistent with other repos like `rust-glx`.

It will require to update:
- [ ] layers
- [ ] ports/gonk
- [ ] ports/glutin

Most of the refactoring will just be `unsafe {}` wrappers and changing constants from `egl::EGL_XX` to `egl::XX`, so won't be such an amount

[2015-06-19 17:22] ecoal95 commented on #5927
I don't think it's fixed, the lint as of right now (if I'm not wrong) just ensures that a dom struct is correctly formed, but does not check for inheritance (if the dom struct corresponds to the correct parent, or there's only a reflector but the struct should inherit from another struct), which is the point of this issue.

[2015-06-19 17:22] Manishearth commented on #5927
Oh, yeah, it doesn't do that. We *could* read the webidl during expansion time but that might get hackish.

[2015-06-19 18:27] ecoal95 commented on #5927
Yes, I agree with @Manishearth about that: parsing the webidl there might not be a good option.

Another option I thought about was passing the parent structure (if any) as argument to the marker (I suppose it's possible, correct me if I'm wrong), but you won't forgot the dom struct field if you remember to use the argument.

I made a little experiment about this modifying the exposed interfaces t

[2015-06-19 18:41] Manishearth commented on #5927
Why not just generate a rust unit test for this? `fn foo(x:  $type) { let _ : $parenttype = x.$parenttype}`?

[2015-06-19 19:13] larsbergstrom commented on #6399
@Yomi0 Thanks for looking at it! I believe that the second option will work. I confirmed that `gzip` should be available on all of our build machines.

[2015-06-19 19:59] mbrubeck opened #6431 "Incorrect rendering of newlines and multi-byte characters in preformatted text"
Servo renders the following HTML incorrectly:

[code]

I believe this is because of [this line](https://github.com/servo/servo/blob/a256f39796270cd3a5f40f33eaa4e407117b0cc6/components/layout/text.rs#L243) in TextRunScanner, which incorrectly calls `char_at_reverse` with a character index instead of a byte index.

[2015-06-19 21:00] mbrubeck commented on #6431
In order to correctly and efficiently get the text for a ScannedTextFragment, we need to have its byte range within its TextRun instead of (or in addition to) its char range.  But to get glyphs we need the char range.  Should we store both ranges?  cc @pcwalton

I think I'll need to get the byte range of a fragment as part of my bidirectional text work too, so this may affect more than just this n

[2015-06-19 23:47] mbrubeck opened #6432 "Startup fails on android: Unable to load native library libmain.so after spidermonkey upgrade"
#6150 caused Servo to crash at startup on Android with `java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.native_activity/rust.glutin.MainActivity}: java.lang.IllegalArgumentException: Unable to load native library: /data/data/com.example.native_activity/lib/libmain.so`.

dlerror returns `Cannot load library: reloc_library[1331]:  3020 cannot locate '_ZN2js6detail16Scr

[2015-06-19 23:57] michaelwu commented on #6432
This might be similar to the CEF issue - the linker is looking for symbols that don't exist. Except Android is doing it at dynamic link time.

[2015-06-20 00:33] mbrubeck commented on #6432
Probably related to servo/rust-mozjs#158

[2015-06-20 17:07] zmike opened #6438 "cef string memory errors"
As I commented in #6435, at some point we've had some regressions introduced into these APIs which now cause invalid reads: https://gist.github.com/zmike/9115f37d88380e5e9fc9

[2015-06-20 19:25] michaelwu commented on #6116
Fixed by #6143 .

[2015-06-20 19:25] #6116 closed

[2015-06-20 21:48] jdm commented on #5927
The parent field is private, which makes it impossible to automatically generate afaict.

[2015-06-21 06:05] FuGangqiang opened #6439 "`No Servo binary found. Please run './mach build' and try again.` Error"
archlinux system

I already follow the readme.md:

[code]

but when I run:

[code]

I got an error:

[code]

[2015-06-21 07:51] Manishearth commented on #5927
Oh, right. Bummer. I could autogenerate a `_parent()` hidden method for the tests.

[2015-06-21 14:47] jdm commented on #6404
https://w3c.github.io/uievents/#event-type-mouseover is a more useful link for the relevant spec.

[2015-06-21 15:00] jdm commented on #6439
What's the output of `./mach build --dev`?

[2015-06-21 15:07] jdm commented on #6407
Looks like the relevant code might be the Facebox jQuery component.

[2015-06-21 15:15] jdm commented on #6359
Whenever a page has `<foo id="bar">`, we add an element to the vector of attributes in `Element`. When evaluating CSS selectors like `#bar`, we need to quickly retrieve any id attribute from each element that is checked. Currently we perform a linear search over the attributes (see http://mxr.mozilla.org/servo/source/components/layout/wrapper.rs#587 and http://mxr.mozilla.org/servo/source/componen

[2015-06-21 16:58] #6322 closed

[2015-06-21 20:29] qvacua commented on #6359
Hey, guys. I've got yet no experience in Rust, but I'd like to try this one. Can you assign it to me when no one is actively working on it?

[2015-06-21 20:55] yoava333 opened #6442 "thread 'http_loader' panicked at 'called `Result::unwrap()` on an `Err` value: ()'"
I tried to use servo to run "http://play.typeracer.com"

I'm getting a panic:

thread 'http_loader' panicked at 'called `Result::unwrap()` on an `Err` value: ()', /Users/larsberg/rust/src/libcore/result.rs:731

stack backtrace:

    1:        0x112152345 - sys::backtrace::write::h0f775b94d5ab846csas
    2:        0x112155c04 - panicking::on_panic::h2c2da1880263a4ecOtw
    3:        0x112142638 - r

[2015-06-21 22:42] jdm commented on #6359
@vinpkjn Are you still interested in working on this?

[2015-06-22 03:55] vinpkjn commented on #6359
I'll do this @jdm

[2015-06-22 05:04] FuGangqiang commented on #6439
when I first run it, it output
* download the packages required
* compile packages

everythings seems ok expect some compiling warning:
[code]
and the status of the `./mach build --dev`  is `0`:
[code]
but when I run the test:
[code]
and the status of the `./mach run tests/html/about-mozilla.html`  is `0`
[code]

when I build it again:
[code]
and test run still fail.

[2015-06-22 05:08] FuGangqiang commented on #6439
and my git repo HEAD is:
[code]

[2015-06-22 05:35] metajack commented on #6439
I suspect this is a bug in the binary detection logic.

Try `./mach run --dev ...`.

[2015-06-22 05:44] FuGangqiang commented on #6439
the same error:
[code]

[2015-06-22 17:20] vinpkjn commented on #6359
I'll give it a try @jdm

[2015-06-22 20:22] #5660 closed

[2015-06-23 00:19] vinpkjn commented on #6359
I'll give it a try.

[2015-06-23 09:18] FuGangqiang commented on #6439
I found the build `target` dir was created at the home dir

[2015-06-23 18:56] benschulz commented on #4589
I've [implemented IndexedGetter](https://github.com/benschulz/servo/commit/a01b0776ac210c927a3dd1c5900736e810b444ad) and it works as expected. However, the finer points of the specification aren't met. Specifically servo is missing gecko's outer+inner window concept. What is there is essentially the inner window. This has two implications w.r.t. to the [specified](https://html.spec.whatwg.org/mult

[2015-06-23 19:01] bzbarsky commented on #4589
You need the inner/outer thing for basic web compat anyway, so I doubt there should be any other plans...

[2015-06-23 22:59] jdm commented on #4589
We do actually have an inner/outer concept already, it's just incorrect. That's tracked in #5238.

[2015-06-23 23:41] benschulz commented on #4589
Naming-wise that makes a lot of sense; `BrowserContext` should implement the [browsing context concept](https://html.spec.whatwg.org/multipage/browsers.html#browsing-context) (which happens to be the equivalent of gecko's outer windows), correct?

Either way, I'm gonna look into this. I'm experienced with neither C++ nor Rust, so I hesitate to have one of these issues assigned to me. Maybe in a co

[2015-06-23 23:49] jdm commented on #4589
Correct!

[2015-06-24 07:08] mskrzypkows commented on #5774
The task may be closed

[2015-06-24 07:20] saneyuki commented on #5774
Fixed by #6405

[2015-06-24 07:20] #5774 closed

[2015-06-24 08:05] narfg commented on #965
I can't reproduce this anymore so I guess it was fixed.

[2015-06-24 08:15] narfg commented on #1243
Text-shadow was implemented in #4475.

[2015-06-24 08:20] narfg commented on #1244
Opacity was implemented in #4036.

[2015-06-24 08:49] narfg commented on #1686
This issue can be closed.

[2015-06-24 09:48] narfg opened #6452 "Top-padding on images adds margin"
I tried to test padding on images (related to #1696) and noticed that the top-padding also creates a top margin.
Test:
[code]
![padding](https://cloud.githubusercontent.com/assets/158917/8327121/45dadb38-1a66-11e5-99b9-6551c747bd5e.png)

[2015-06-24 09:48] Ms2ger opened #6453 "Ensure that methods on LayoutJS don't call borrow/borrow_mut."
@Manishearth, do you think this would be doable with a lint?

[2015-06-24 10:45] #2684 closed

[2015-06-24 11:23] Wafflespeanut commented on #6399
@larsbergstrom As this isn't much active for a while, I've opened a PR for this here (https://github.com/servo/saltfs/pull/77)

[2015-06-24 14:31] Wafflespeanut commented on #1824
@jdm It's been an year since this was reported. Is this still an issue?

[2015-06-24 16:50] mmatyas commented on #6418
I've managed to bisect this by applying the X11 fixes manually, it seems this broke first in 3350522306ee087f892108ee82aeb9d58ee2363d, aka #6083 ...which touches quite a few files.

I wonder if @pcwalton or @ecoal95 could take a look on this?

[2015-06-24 17:49] glennw opened #6455 "Check if the compositor message LoadComplete message should be removed / changed."
It is currently sent to the compositor after the onload event is queued, but before the script task executes it.

It appears to be used only by the mac miniservo port, to manage history entries. Check in the spec where this should be done, and consider removing this message.

[2015-06-24 19:21] #1244 closed

[2015-06-24 19:21] #1686 closed

[2015-06-24 19:23] #1243 closed

[2015-06-24 19:23] #965 closed

[2015-06-24 22:56] Scorpil commented on #6407
Example from time-elements.js is a nice way to test it locally: https://github.com/github/time-elements/blob/master/examples/polymer.html

The problem is actually in webcomponents.js:
ERROR:js::rust: Error at https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.5.4/webcomponents.js:111: Error: Assertion failed
ERROR:js::rust: Error at file:///tmp/time-elements.js:504: TypeError: document.regis

[2015-06-24 23:42] ecoal95 commented on #6418
The way we render into the canvas didn't change in that PR (we keep sending pixels and transforming it into an image display item.

At first I thought it was due a problem in `clear_rect` but I've just taken a look at it, and not forcing the canvas to get a layer (applying [this diff](https://gist.github.com/ecoal95/8b3fc0d73e7e7c6dbab0) on the commit you mentioned) makes the animation work again.

[2015-06-25 01:04] mdinger commented on #6407
@Scorpil Thanks for that. I updated the OP.

[2015-06-25 04:13] larsbergstrom commented on #6073
This has been fixed.

[2015-06-25 04:13] #6073 closed

[2015-06-25 09:40] narfg commented on #2370
This was implemented in #4951.

[2015-06-25 20:11] Ms2ger opened #6462 "assertion failed: `*self.stack == mem::transmute(&*self)` in wpt"
Haven't investigated further.

CC @michaelwu @jdm @Manishearth

[2015-06-26 03:05] michaelwu commented on #6462
Generally this assertion gets hit when servo panics with a RootedObject/RootedValue on stack. The panic prevents the destructor for the root from running, which then breaks this particular assertion. Destructors for GC thing roots have to be run in the correct order or all hell breaks loose.

This can also happen if someone tries to return or move a RootedObject/Value without appropriate use of th

[2015-06-26 05:12] #6431 closed

[2015-06-26 10:03] Ms2ger commented on #6462
Destructors should still run after a panic, though

[2015-06-26 10:15] Ms2ger opened #6466 "viewport::multiple_stylesheets_cascading intermittently fails"
http://build.servo.org/builders/linux1/builds/2138/steps/shell_1/logs/stdio

[code]

[2015-06-26 11:29] Ms2ger opened #6467 "websockets/constructor/008.html times out intermittently"
http://build.servo.org/builders/linux2/builds/2146

[2015-06-26 11:52] Hockenberry commented on #6406
Should this issue should be closed?

[2015-06-26 12:10] SimonSapin commented on #6406
Yes, thank. Fixed in #6423.

[2015-06-26 12:10] #6406 closed

[2015-06-26 17:03] SimonSapin commented on #6466
Non-determinism in unit tests is kinda worrying… (As opposed to reftests where we might e.g. take the screenshot too early.)

[2015-06-26 17:44] kanaka opened #6472 "Build failure: undefined reference to `XcursorLibraryLoadCursor'"
I'm attempting to build on 64-bit Ubuntu 14.04.1 using a fresh clone of servo (ef97879).

The final link step fails with undefined reference to XcursorLibraryLoadCursor. I have both libxcursor1 and libxcursor-dev installed. `pkg-config xcursor --libs` shows "-lXcursor" but I don't see that on the link line (or "cursor" for that matter).

Here is the verbose output from doing a build again:

[code]

[2015-06-26 18:16] klusark commented on #2540
This can be closed now as #6110 implemented this.

[2015-06-26 18:27] Ms2ger commented on #6466
Yeah, turns out `static mut` and parallelism is dangerous.

[2015-06-26 18:56] #2540 closed

[2015-06-26 19:05] klusark commented on #4666
@ttaubert are you still working on this?

[2015-06-26 19:06] mbrubeck opened #6475 "Implement document.hasFocus"
http://www.whatwg.org/specs/web-apps/current-work/#focus-management

cc #5394

[2015-06-26 19:28] SimonSapin opened #6476 "Use more elements and less nodes in layout/css/matching.rs"
rust-selectors changed some APIs to work on elements rather than arbitrary nodes: #6468

Some methods like `share_style_with_candidate_if_possible` and `match_node` now start with `let element = self.as_element().unwrap();`, and should probably also be changed to have element parameters instead.

[2015-06-26 19:51] ttaubert commented on #4666
I was planning to pick this up again now that the SM update landed and ArrayBuffer(View)s should hopefully work.

[2015-06-26 20:06] ttaubert commented on #4666
Will work on it in the Servo session now.

[2015-06-26 20:10] #6466 closed

[2015-06-26 20:28] jruderman opened #6479 "[Warning] Could not generate notification!No module named Foundation"
At the end of my build, I get:

    [Warning] Could not generate notification!No module named Foundation

Looks like `python/servo/build_commands.py` is trying to generate a desktop notification (to tell me the build is finished), but it's doing so in a way that requires a module I don't have, so it's getting an ImportError.

[2015-06-26 20:36] staktrace opened #6480 "Loading nytimes.com crashes servo"
I built servo using the tarball provided for the Whistler training session (OS X). When running the release build like so:

./mach run -r http://www.nytimes.com/ -Z show-parallel-layout

it would open the window, do some work, and then crash with the output:

kats@kgupta-air servo$ ./mach run -r http://www.nytimes.com
ERROR:js::rust: Error at http://a1.nyt.com/assets/homepage/20150615-165652/js/ho

[2015-06-26 20:39] nickdesaulniers opened #6481 "WebSockets crash."
backtrace was:

[code]

[2015-06-26 20:40] Ms2ger commented on #6481
There's plenty of those; I expect to fix them in Q3.

[2015-06-26 20:43] staktrace commented on #6480
Here's a backtrace from a debug build: https://gist.github.com/staktrace/fdc98cae963c1d7be1a0

[2015-06-26 21:00] msliu opened #6483 "Build break on Ubuntu 14.04"
When I tried to build servo on Ubuntu 14.04, I got build break. The error message showed below.
[code]

[2015-06-26 21:06] kripken commented on #6483
On my machine where I had the same problem, I could fix this by adding `/usr/lib/x86_64-linux-gnu/libXmu.so.6` to the final link command.

[2015-06-26 21:19] metajack commented on #6483
cc @alexcrichton There seems to be some issue with Cargo forgetting this link command I guess? I'm not quite sure what's going wrong.

x11-rs has two features (xmu and xlib), and it appears it's trying to build without the feature and use it expecting the feature?

[2015-06-26 21:34] kripken commented on #6483
Some more notes:

1. This does not affect debug builds, just release.
2. There might be an Ubuntu issue here. The libxmu6 package does not provide the expected `.a` and `.so` files, instead it provides `libXmu.so.6` and `libXmu.so.6.2.0`. However, libxmu-dev, aka "X11 miscellaneous utility library (development headers)", provides not only those headers but also... the `.a` and `.so` files. However

[2015-06-26 21:41] kripken opened #6486 "Graphical corruption when resizing on www.emscripten.org"
I see this on Ubuntu on Servo built from github master. STR:
1. Run `./mach run -r http://www.emscripten.org`
2. Resize the window quickly, holding down the mouse on the lower-right corner and just moving the mouse around.

Every second or so I see a frame or two of what looks like corrupt data. @pcwalton says the compositor thread might be running out of sync with the rendered data somehow.

[2015-06-26 21:46] metajack commented on #6483
Alon: if you blow away your target/release/build/x11-* it will probably build correctly.

I think the issue was that you built before dependencies were installed, which due to a bug in x11-rs's build system meant that it failed to select the xmu feature. If you could comment if that fixes it, that would be great.

[2015-06-26 21:47] metajack commented on #6472
I believe this is the same issue as #6483

[2015-06-26 21:54] alexcrichton commented on #6483
After some local debugging looks like this was https://github.com/Daggerbot/x11-rs/issues/20

[2015-06-26 22:00] kripken commented on #6483
@metajack: thanks, yes, you are correct, it builds ok after blowing away that temp dir. So perhaps the Ubuntu weirdness with needing the `-dev` package in order to link (not for headers) is a bug for them, as without that, it would have worked initially.

[2015-06-26 22:08] jdm commented on #1824
Yep!

[2015-06-26 22:10] #2370 closed

[2015-06-26 22:14] msliu commented on #6483
I tried to blow away target/release/build/x11-* and then I can build correctly.

[2015-06-26 22:31] kanaka commented on #6472
@metajack sure enough! Removing `target/release/build/x11-*` did the trick. Thanks!

[2015-06-26 22:31] #6472 closed

[2015-06-26 23:51] samfoo commented on #5658
:+1:

I've also been experiencing this on OSX. Is there a workaround or clean that can resolve this?

[2015-06-27 00:39] metajack commented on #6479
Just for anyone else that wants to install this, `pip install pyobjc` will fix it. But we should trap the import error.

[2015-06-27 01:15] klusark commented on #2240
@dhananjay92, are you still working on this?

[2015-06-27 04:39] dhananjay92 commented on #2240
@klusark Nope, not any more. Would love to, but I have very less time. You can take it. :smiley:
BTW you've got some code already done for you. :wink:

[2015-06-27 14:24] nox commented on #2823
Let me try that.

[2015-06-27 16:16] benschulz commented on #5238
I read "make `BrowserContext` spec-compliant" as "make `BrowserContext`s persist across document loads within them". I.e. `HTMLFrameElement` and `HTMLIFrameElement` each own an unchanging `BrowserContext`, which points to the document it's currently displaying.

How is that supposed to work w.r.t. cross-origin/different eTLD frames though? As far as I understand `Document`s should not escape their

[2015-06-27 18:23] mbrubeck opened #6501 "Some CSS text properties are not incremental layout safe"
The following properties are used during text run construction and glyph shaping, which happens during flow construction.  When incremental layout is enabled, changes to these styles have no effect:

* text-rendering
* word-spacing
* letter-spacing
* text-transform
* font (and related longhands)

For example, hovering over the text in this example does not apply the expected letter-spacing:

[code

[2015-06-27 18:32] mbrubeck opened #6502 "text-align: justify is not incremental layout safe"
When the `text-align` property is set to `justify`, `InlineFlow::justify_inline_fragments` adds extra spacing to the `advance` values in the glyph stores of the affected text fragments.  This extra spacing is not removed if the property value changes, and can even be added again each time incremental layout runs, causing the spacing to increase and eventually overflow.

You can see this by repeate

[2015-06-27 19:27] Ms2ger opened #6503 "Remove the implementation of DerefMut for FlowRef."
`FlowRef` is basically `Arc<Flow>`, so `DerefMut` trivially exposes aliased `&mut Flow`s.

CC @SimonSapin @pcwalton

[2015-06-27 22:43] ttaubert commented on #4666
Have everything working except the actual random number generation, will post something soon.

[2015-06-28 00:21] mt2d2 commented on #6479
If possible, I'd like to take a stab at this.

[2015-06-28 19:56] Ms2ger opened #6509 "Maybe spawn_named_with_send_on_failure should use std::thread::catch_panic?"
We might need to redesign this entirely, though.

[2015-06-28 22:44] jdm commented on #5238
Yes, we need to introduce a concept of opaque, proxy browsing contexts for cross-origin documents per #5242.

[2015-06-28 22:45] jdm commented on #5658
@samfoo What are you experiencing, exactly?

[2015-06-29 00:20] samfoo commented on #5658
@jdm I see exactly the same `KeyError 'product'` when running `mach test` from a clean clone.

[2015-06-29 00:32] frewsxcv commented on #4359
Does it seem fair to close this now?

[2015-06-29 00:34] frewsxcv commented on #3241
I don't think these files exist anymore, so this can probably be closed

[2015-06-29 00:34] frewsxcv commented on #6315
Can this be closed now that #6360 has merged?

[2015-06-29 05:21] #3241 closed

[2015-06-29 11:38] mskrzypkows commented on #6475
I can try this task.

[2015-06-29 19:10] mbrubeck commented on #6384
The `/home/servo/ndk-toolchain` directory on `servo-head` has an older version of GCC (4.6 instead of 4.8).  The newer version is required for the latest mozjs-sys to build.  This might not be related to the current issue though, since @mrobinson is seeing this issue even when building with the 4.8 toolchain.

[2015-06-29 19:22] mbrubeck commented on #6384
Oops!  I was wrong here.  The working builder has:

    2.5.2-1ubuntu2

While the failing builder has a newer version:

    2.5.2-2ubuntu1

The new (failing) version includes this change:

[code]

[2015-06-29 21:06] larsbergstrom opened #6514 "Crash on OSX in IOSurface handling running servo-shell"
If you run servo-shell with `./mach run ../servo-shell/index.html -e`, Servo immediately crashes with the following backtrace:

CC @glennw @pcwalton

[code]

[2015-06-29 21:45] glennw opened #6515 "segfault in sm when running servo-shell on linux"
Run servo-shell on linux (e.g: ./target/debug/servo -e ../servo-shell/index.html).

CC @michaelwu

    Program received signal SIGSEGV, Segmentation fault.
    [Switching to Thread 0x7fffcf3ff700 (LWP 6657)]
    js::Allocate<JSString, (js::AllowGC)1> (cx=cx@entry=0x7fffb80270b0)
        at /home/gw/code/work/servo_main/servo/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/js/src/gc/Alloca

[2015-06-29 22:40] michaelwu commented on #6515
Looks like something is missing a JSAutoRequest.

[2015-06-29 23:18] jruderman opened #6518 "thread 'PaintWorker' panicked at 'assertion failed: data.len() as i32 == stride * size.height'"
Loading https://developer.mozilla.org/en-US/demos/detail/zen-photon-garden/launch

[code]

[2015-06-29 23:20] jruderman opened #6519 "acid3 uses unpaired surrogates"
Visiting http://acid3.acidtests.org/

thread 'ScriptTask PipelineId(0)' panicked at 'called `Result::unwrap()` on an `Err` value: FromUtf16Error(())', src/libcore/result.rs:731
    stack backtrace:
       1:        0x107894065 - sys::backtrace::write::hab580a18e6ade3dauns
       2:        0x107897685 - panicking::on_panic::h1844ce5c03c54289BFw
       3:        0x1078851a2 - rt::unwind::begin_unwin

[2015-06-29 23:28] jdm commented on #6519
We apparently get non-latin1 characters that are not valid utf16.

[2015-06-29 23:29] jdm commented on #4359
Yep. We upgraded spidermonkey so this shouldn't be an issue any longer.

[2015-06-29 23:29] #4359 closed

[2015-06-29 23:30] jdm commented on #5658
@jgraham Does this mean anything to you? It's coming from wpt.py.

[2015-06-29 23:31] jdm commented on #6518
Figuring out the length of `data` vs. `stride` * `size.height` would be useful.

[2015-06-29 23:34] jgraham commented on #5658
Oh, someone added wpt to `mach test`? I wonder if I reviewed that… It isn't going to work without some care because wpt relies on the command line argument parser providing default values, and I expect that the command line argument parser is not being invoked here.

[2015-06-29 23:35] jgraham commented on #5658
(oh look, that's what I said in the other issue. But I fixed this in gecko now, so I can look at porting that fix over tomorrow).

[2015-06-29 23:43] #6515 closed

[2015-06-30 00:43] #6315 closed

[2015-06-30 03:21] frewsxcv opened #6520 "Python KeyError ocurring during `mach test`"
Relevant to #6511

I'm running on OSX 10.10

[code]

[2015-06-30 04:24] frewsxcv commented on #6520
Closing in favor of #5626

[2015-06-30 04:24] #6520 closed

[2015-06-30 12:17] Ms2ger commented on #5497
#3360

[2015-06-30 12:17] #5497 closed

[2015-06-30 12:18] Ms2ger commented on #4663
I haven't had issues with this; reopen if someone hits it?

[2015-06-30 12:18] #4663 closed

[2015-06-30 12:52] SimonSapin commented on #4663
I suspect @larsbergstrom was hitting Cargo bugs that may have been fixed since.

[2015-06-30 13:06] jdm commented on #3360
Code: python/tidy.py

[2015-06-30 13:34] SimonSapin commented on #3360
Re my earlier comment, see https://github.com/servo/servo/issues/5973

[2015-06-30 20:48] nox opened #6524 "Change #[jstraceable] to #[derive(JSTraceable)]"
A syntax decorator named #[derive_Foo] can be used as #[derive(Foo)]. #[jstraceable] derives an implementation of the JSTraceable trait and thus should be named derive_JSTraceable.

See files:

 * components/plugins/jstraceable.rs
 * components/plugins/lib.rs

[2015-07-01 12:37] jgraham commented on #5626
I think this is fixed by #6526

[2015-07-01 12:51] shinglyu commented on #5187
I am stuck, I want to use a COMPOSITE filter to combine the shadow I created with the original image, but I can't find the equivalent of
[code]
(http://mxr.mozilla.org/mozilla-central/source/gfx/src/FilterSupport.cpp#1034)
in rust-azure.

I tried to create a binding in rust-azure, but the interface looks very different (see http://mxr.mozilla.org/servo/source/components/gfx/filters.rs#24 for examp

[2015-07-01 12:52] shinglyu commented on #5187
Oops, I was trying to say using `COMPOSITE_OPERATOR_OVER` in the previous comment.

[2015-07-01 13:12] shinglyu commented on #5600
Sorry for being too busy before Whistler WW, I'll start working on this.

[2015-07-01 14:10] Ms2ger commented on #6518
Try again on trunk, it should print both sides now.

[2015-07-01 14:40] jdm commented on #5187
Isn't https://github.com/servo/rust-azure/blob/master/src/azure_hl.rs#L1320 what you want? Presumably you need to create a new CompositeOperator type and implement the FilterAttribute trait for it (https://github.com/servo/rust-azure/blob/master/src/azure_hl.rs#L1521).

[2015-07-02 07:09] #6524 closed

[2015-07-02 13:17] dwins commented on #6479
Looks like this can be closed.  I am building on OS X without `pyobjc` and I get an error message that says so.

[2015-07-02 13:58] #6479 closed

[2015-07-02 14:09] shinglyu commented on #5187
Thank you for pointing it out! Let me try.

[2015-07-02 14:30] boghison commented on #6519
What actually causes this error? I'd like to investigate. Does it happen [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/conversions.rs#L334)?

[2015-07-02 14:38] boghison commented on #6379
Could you guys point me to where the websocket code is?

[2015-07-02 14:40] #6399 closed

[2015-07-02 14:40] #6041 closed

[2015-07-02 14:40] #6404 closed

[2015-07-02 14:56] jdm commented on #6379
http://mxr.mozilla.org/servo/source/components/script/dom/websocket.rs , specifically WebSocket::new where it creates a Request object.

[2015-07-02 14:56] jdm commented on #6519
Yep!

[2015-07-02 16:05] #4146 closed

[2015-07-02 16:07] mintern commented on #4146
Thank you very much for your patient and helpful review!

[2015-07-02 17:31] boghison commented on #6379
OK, I guess I could take a stab at this

[2015-07-02 17:53] boghison commented on #6519
@jdm Yes, but the comment says that it fails if it's not valid UTF16, then that function is working properly. Then what is the problem? Is there supposed to be some other expected behavior (like a console error and a null string)?

[2015-07-02 18:00] jdm commented on #6379
From https://tools.ietf.org/html/rfc6455#section-1.3:
[code]
Sounds like doing it in Servo makes more sense than rust-websocket.

[2015-07-02 18:04] jdm commented on #6519
We should figure out what the input is, and what other browsers do with it. It might be coming from test 53, in which case it shouldn't actually be invalid.

[2015-07-02 18:05] jdm commented on #6519
No wait, it's test 68:
[code]

[2015-07-02 18:06] boghison commented on #6519
@jdm So basically it is OK to throw and exception, right?

[2015-07-02 18:09] jdm commented on #6519
I would be tempted to replace the invalid valid with U+FFFD like http://mxr.mozilla.org/servo/source/components/script/dom/xmlhttprequest.rs#1038 (but following the example at http://doc.servo.org/encoding/index.html labelled "To decode a byte sequence with invalid sequences:", and using the UTF_16LE encoding (http://doc.servo.org/encoding/all/constant.UTF_16LE.html))

[2015-07-02 18:17] boghison commented on #6519
@jdm OK, I am going to take care of this. Just to know, this should be applied to the actual decoding function (ie not the specific case), right?

[2015-07-02 18:24] jdm commented on #6519
I believe we want this there, yes, but maybe @SimonSapin can confirm.

[2015-07-02 18:38] boghison commented on #6379
@jdm There is a problem I encountered. The Request object is generated by Client::connect (basically the easiest way to do so) and it's immutable, meaning it's not possible to set a header afterwards, so I am stuck.

[2015-07-02 19:04] jdm commented on #6379
You can make it mutable and call http://doc.servo.org/websocket/client/request/struct.Request.html#method.origin_mut .

[2015-07-02 19:32] boghison commented on #6519
@jdm I am not sure whether my changes in 1cc1316 actually do what's required. There's no panic, but I changed the parameter in unsafe to be as u8 instead of u16, because that's what the decoding function accepts

[2015-07-02 19:57] boghison commented on #6379
@jdm I completely forgot you can make it mutable (sorry, I haven't written anything in rust for a while now). But I think I am gonna use set_raw(), because origin wasn't previously set.

[2015-07-02 22:08] jdm commented on #6519
I'm concerned that the length may be half as long as it should be now, since u16 is two bytes vs. u8. I think ideally we would create a u16 slice as before, then extract a u8 slice of the underlying bytes, but I'm not quite sure how to accomplish that.

[2015-07-03 01:02] glennw opened #6534 "Change Servo to use the high level freetype-rs bindings."
We currently use a low level FFI wrapper: https://github.com/servo/rust-freetype

We should change to use the high level wrapper here: https://github.com/PistonDevelopers/freetype-rs

However, this is slightly complicated because the servo wrapper contains the native freetype code in tree, so that it can be built for android. The high level wrapper doesn't include the native freetype code, it just

[2015-07-03 01:04] glennw opened #6535 "Update freetype and investigate sharing FT_Library instances"
As noted in http://www.freetype.org/freetype2/docs/reference/ft2-base_interface.html

`In multi-threaded applications it is easiest to use one ‘FT_Library’ object per thread. In case this is too cumbersome, a single ‘FT_Library’ object across threads is possible also (since FreeType version 2.5.6), as long as a mutex lock is used around FT_New_Face and FT_Done_Face.`

This may save a large amount

[2015-07-03 08:42] mt2d2 commented on #2604
Took a look at this with help from @Ms2ger on IRC—an implementation moving the ```Stylist``` from ```LayoutTaskData``` to ```LayoutTask``` as an ```Arc<RwLock<Stylist>>``` panics with a deadlock. Similar deadlock seen when simply using a Mutex (albeit no panic). No luck, open to suggestions!

[2015-07-03 09:35] Ms2ger commented on #6359
@vinpkjn: hey, are you still working on this?

[2015-07-03 10:53] mmatyas opened #6537 "Wrong compiler env. variables"
For some dependencies in makefile.cargo `CC` and co. are defined like `CC := ` which works fine for some systems like Android. To support other architectures, let's say we change that to `CC ?= `, that is, only set `CC` if it has no previous value. If we now try to build for Android, we get an error, like `C compiler cannot create executables`. If we check the log, we can see that actually `CC` ha

[2015-07-03 10:58] mmatyas commented on #6537
Affected patches:
servo/mozjs#48
servo/rust-mozjs#167
servo/libexpat#6

[2015-07-03 12:13] jdm opened #6539 "Integrate xml5ever"
https://github.com/Ygg01/xml5ever is an XML parser with a very similar interface to html5ever. We should integrate it into http://mxr.mozilla.org/servo/source/components/script/parse/ using html.rs as a model, and adapt ServoHTMLParser to use either the html5ever types or xml5ever types as necessary: http://mxr.mozilla.org/servo/source/components/script/dom/servohtmlparser.rs . The first direct us

[2015-07-03 12:23] boghison commented on #6519
@jdm Yes, I thought about the length as well, but I just saved an html file as UTF-16 and added the meta tag for the charset, it was working ok

[2015-07-03 13:06] SimonSapin commented on #6539
https://tools.ietf.org/html/rfc7303 is relevant, though I haven’t looked into the details yet.

[2015-07-03 14:26] jdm commented on #6519
I don't think that's testing what you expected. This code is run for strings coming from JS that get passed to the Rust implementation of various DOM APIs. With regards to my previous comment, let's cast the pointer and multiply the length by 2, with an explanatory comment.

[2015-07-03 14:37] boghison commented on #6519
@jdm I edited the commit, is that what you meant?

[2015-07-03 15:07] jdm commented on #6519
I'd say "length is the number of u16 elements, while we need the number of u8 bytes" and move it onto the preceding line.

[2015-07-03 15:08] jdm commented on #6379
@Ms2ger Why do you say that security/001.html relies on Origin?

[2015-07-03 15:19] Ms2ger commented on #6379
I don't remember what I did exactly, but I believe I may have worked around another failure first.

[2015-07-03 16:03] Ms2ger opened #6542 "HTMLElement#click() should not be limited to activatable elements."
The following should log `true`:
[code]

(This will need to be converted into an automated wpt test.)

CC @Manishearth

[2015-07-03 16:28] jdm opened #6544 "Click doesn't walk up the tree"
[code]
In about:blank in Firefox, calling `b.click()` causes yahoo.ca to load, but after the changes in #6543 this doesn't work in Servo. We should figure out the part of the spec that calls for this.

[2015-07-03 17:53] Ms2ger commented on #6544
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3556
https://www.w3.org/Bugs/Public/show_bug.cgi?id=27430
https://html.spec.whatwg.org/multipage/#dom-click

[2015-07-03 17:53] Ms2ger commented on #6544
And I don't think this worked before #6543 in Servo

[2015-07-03 19:24] mmatyas commented on #6327
With the last set of patches, it is now possible to cross compile Servo to ARM. I've wrote a guide for that here: https://mmatyas.github.io/blog/cross-compiling-servo-to-arm/

@pcwalton, @Adenilson: could you check if this guide works for you too?

[2015-07-03 19:29] jdm commented on #6544
Yes, my wording was ambiguous.

[2015-07-03 23:42] Adenilson commented on #6327
Matyas

Quite funny that I wrote something similar for OSG Blog but didn't
published it yet.
:-)

I will be back from vacations on 14th July and then can test the
instructions.

Cheers

Adenilson

On Fri, Jul 3, 2015 at 1:25 PM, Mátyás Mustoha <notifications@github.com>
wrote:

[2015-07-04 08:42] Ms2ger commented on #6519
The correct solution is to move DOMString to wtf-8, but it's not at all clear to me that making it an alias for USVString is better than throwing or panicking.

[2015-07-04 09:28] mmatyas commented on #6483
I also have an issue related to this when I cross compile Servo to ARM, for both debug and release builds. Even when the required features are defined in glutin's Cargo.toml, the linker still misses them.

![servo_arm_linkererror](https://cloud.githubusercontent.com/assets/4354863/8507336/d83dc262-223e-11e5-9290-83c9d087f2ad.png)

Manually adding `-lXxf86vm -lXmu -lXcursor` fixed the problem for m

[2015-07-04 19:06] yati-sagade commented on #6539
I would like to have a go at this one. I kind of understand what needs to be done here, but could use some help.

[2015-07-04 20:18] mt2d2 commented on #5371
@kmcallister did the blocking pr ever merge? Is this still a valid issue to help out with?

[2015-07-05 18:54] boghison commented on #6058
Shouldn't this be closed?

[2015-07-05 19:15] kball commented on #1824
It looks like they've settled on an approach, as per https://www.w3.org/Bugs/Public/show_bug.cgi?id=20976#c32

It isn't represented in the spec yet from what I can see, but based on that issue it seems like the answer is a node should have the base URL of it's document.  Based on that I think this should be fairly trivial to implement.  I'm still working on getting a servo dev environment up and r

[2015-07-05 20:01] boghison commented on #2536
This issue is old, servo doesn't crash anymore. It should be closed

[2015-07-05 20:11] boghison commented on #2689
Is this still present?

[2015-07-05 20:32] frewsxcv opened #6558 "Passing 'undefined' explicitly to a JS function should utilize default parameter value"
I was looking into why [this WPT test](https://github.com/servo/servo/blob/0fb6604cb37da0ca0f4852328def21100a38fd63/tests/wpt/web-platform-tests/dom/traversal/TreeWalker-basic.html#L92-L97) is failing. We specify a [default value in the webidl](https://github.com/servo/servo/blob/0fb6604cb37da0ca0f4852328def21100a38fd63/components/script/dom/webidls/Document.webidl#L64). Currently, if we pass in `

[2015-07-05 20:59] jdm commented on #6539
@yati-sagade You're welcome to it, and I'll attempt to explain anything that is confusing!

[2015-07-05 20:59] jdm commented on #1824
Great!

[2015-07-05 21:00] jdm commented on #6058
Not yet; #6189 wasn't merged and there's a new PR open to fix this.

[2015-07-05 21:37] kball commented on #1824
There seems to be an interesting grey area around what should be returned if an element has not yet been added to a document.  This does not appear to be specified (specification both as exists and as discussed in that thread is just relative to the owning document), and looking at several browsers behavior varies.  Currently, Chrome returns an empty string (""), Safari returns null,and Firefox re

[2015-07-05 21:37] #2536 closed

[2015-07-05 21:46] jdm commented on #1824
I would go with null, file a spec bug, and leave a comment pointing to it.

[2015-07-05 22:12] kball commented on #1824
Ah actually as I read through the spec more carefully to try to file a reasonable bug, I think I was wrong.  I found this:
https://dom.spec.whatwg.org/#concept-node-document
[code]
And that node document is what should be used for the baseURI.  Set upon creation rather than set upon assign... so I think that implies we should actually match Firefox's behavior, and I need to dig deeper to understan

[2015-07-05 22:31] dzbarsky opened #6560 "Panic in HTMLScriptElement::execute"
This started happening today, so I guess it's due to a dependency update.

[code]

[2015-07-05 22:33] dzbarsky commented on #1826
I have a patch and some tests for this, just need to clean them up.

[2015-07-05 22:44] dzbarsky commented on #6560
Actually, this only occurs when loading a new test file I wrote.
Going to investigate some more...

[2015-07-05 23:56] dzbarsky commented on #6560
HTMLScriptElement::execute called into JS, which called back into Rust dom code, which is where the unwrapping failure occurred.  So I think the issue here is that the stack doesn't reflect that.

[2015-07-06 02:54] jdm commented on #1824
The associated document for any node is obtained via `document_from_node(some_node)` in Servo.

[2015-07-06 04:15] bzbarsky commented on #1824
@kball Looking at what Chrome and Safari return from the `baseURI` getter is pointless because their getters are hopelessly buggy.  They don't return the actual base URI they use for the node, as you can tell by writing tests that involve an actual relative URI that needs resolving against the base URI.  There's just no sane reason why one would want to specify or implement what they do.

See http

[2015-07-06 11:04] Ms2ger opened #6563 "Intermittent timeout in fixed-table-layout-003e05.htm"

[2015-07-06 11:08] Ms2ger commented on #6560
That's an issue with either moving `Rooted`s or out-of-order destruction. @michaelwu?

[2015-07-06 11:17] michaelwu commented on #6560
I'm guessing this is an out of order destruction caused by a panic. `Rooted`s don't deal with panics very well. There's probably some other panic that needs to be dealt with. Setting `RUST_BACKTRACE=1` might help you here.

[2015-07-06 11:42] #4666 closed

[2015-07-06 12:10] boghison commented on #6058
Oh ok

[2015-07-06 12:28] jdm commented on #6560
Should we suppress out-of-order Rooted panics if we're already panicking?

[2015-07-06 12:59] michaelwu commented on #6560
We'd have to avoid running the destructor if we're panicking and detect things are out of order. The head pointer for the stack rooting list would probably need to be set to null in this case to make sure SM doesn't try tracing invalid stack locations as the script task dies. I'm not sure if this would buy us anything - `RUST_BACKTRACE=1` is probably still required to get a stack.

[2015-07-06 13:11] jdm commented on #6544
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1180670, https://code.google.com/p/chromium/issues/detail?id=507267&thanks=507267&ts=1436188111, and https://bugs.webkit.org/show_bug.cgi?id=146637.

[2015-07-06 13:11] #6544 closed

[2015-07-06 13:37] jdm commented on #6560
It would make the output easier to read; each cascading panic clutters the result.

[2015-07-06 18:00] jdm commented on #5760
Fixed by #6146.

[2015-07-06 18:00] #5760 closed

[2015-07-06 18:26] Ms2ger commented on #2604
That was https://github.com/servo/servo/compare/master...mt2d2:stylist_arc_rwlock

[2015-07-06 18:27] pcwalton commented on #2604
Probably needs finer-grained locking inside the Stylist then?

[2015-07-06 19:02] SimonSapin opened #6564 "Support surrogates in the DOM?"
JavaScript strings are potentially ill-formed UTF-16 (arbitrary `Vec<u16>`) and can contain unpaired surrogates. Rust’s `String` type is well-formed UTF-8 and can not contain any surrogate. Surrogates are never emitted when decoding bytes from the network, but they can sneak in through `document.write`, the `Element.innerHtml` setter, or other DOM APIs.

https://simonsapin.github.io/wtf-8/#motivat

[2015-07-06 19:10] Ms2ger commented on #6564
As long as Acid3 is the only thing that hits this, I think we should keep the panic.

[2015-07-06 19:13] SimonSapin commented on #6564
How is panic ever a useful behavior?

[2015-07-06 19:17] Ms2ger commented on #6564
It alerts us to the fact that someone relies on it, so that we have something to base our decision on.

Speaking of data, we should try to add instrumentation to Gecko.

[2015-07-06 19:22] SimonSapin commented on #6564
Crashing the browser seems very user-hostile, especially when there is no indication that a site would actually be unusable if unpaired surrogates are replaced. (Maybe it would just show � instead of something that looks like 􀀀.)

There’s also no guarantee that it’ll alert us. Should we add some kind of telemetry to Servo?

[2015-07-06 19:54] SimonSapin commented on #3704
Aside from preserving unpaired surrogates (see https://github.com/servo/servo/issues/6564), I believe that html5ever at this point supports everything needed for `document.write`. The rest (as far as I understand ) should happen in Servo’s `script` crate.

[2015-07-06 22:55] kball commented on #1716
I'd like to take a look at this.  Does anyone know if there are existing test cases somewhere in the repo?

[2015-07-06 23:04] jdm commented on #1716
There are lots of tests that contain anchors to page fragments, but I highly doubt that they end up testing the scrolling behaviour we're looking for here. I suggest writing some yourself!

[2015-07-06 23:05] jdm commented on #1716
Note: http://mxr.mozilla.org/servo/source/components/script/script_task.rs#1340 is the code that should be triggering the scrolling here. We may have fixed this unintentionally as part of #3790, but thorough testing would be valuable.

[2015-07-06 23:08] kball commented on #1716
@jdm Thanks for the rapid response!

A very simple (manual) test indicates that not all cases are fixed.  I'll set up some more automated tests.  Do you have a recommendation as to where in the web-platform-tests they should live?

[2015-07-06 23:22] jdm commented on #1716
I'd go with https://github.com/w3c/web-platform-tests/tree/master/html/browsers/browsing-the-web/scroll-to-fragid (ie. tests/wpt/web-platform-tests/html/browsers/browsing-the-web/scroll-to-fragid).

[2015-07-07 00:25] tdaede commented on #5789
Fixed in libxcb commit: http://cgit.freedesktop.org/xcb/libxcb/commit/?id=5b40681c887192307f3ae147d2158870aa79c05f

When the next libxcb release happens, we should add a configure check for that version and close this bug.

[2015-07-07 08:54] Ms2ger opened #6569 "SharedLayoutContext should not be shared"
Eight of its sixteen fields are not `Sync`; mostly `Sender`s.

[2015-07-07 08:56] Ms2ger commented on #6569
CC @pcwalton

[2015-07-07 14:56] #6112 closed

[2015-07-07 19:04] #6452 closed

[2015-07-07 19:29] Ms2ger commented on #4633
http://logs.glob.uno/?c=mozilla%23content#c306321

[2015-07-07 21:30] jdm commented on #5970
@sbditto85 Are you still working on this? Have you made any progress?

[2015-07-07 21:34] jdm commented on #5971
#6540 should merge shortly. @akosel are you still intending to work on this?

[2015-07-08 06:04] mt2d2 commented on #6558
I [took a stab](https://github.com/mt2d2/servo/commit/2ce77bf58a06a646398ea57bac271873aea6cd71) at this with the help of mwu on IRC. We think that the value being converted by the spidermonkey long path is coming out as 0 without error, and established that neither the conversion routine nor spidermonkey has access to the default value. Thus, I think it's the responsibility of the caller to handle

[2015-07-08 12:11] jdm commented on #6558
FWIW I suspect the code that handles this in Gecko is http://mxr.mozilla.org/mozilla-central/source/dom/bindings/Codegen.py#5460 .

[2015-07-08 14:12] Ms2ger opened #6578 "Issue with table cells with explicit height"
CC @pcwalton, @SimonSapin

[code]

[2015-07-08 14:53] shinglyu commented on #5187
I'm now implementing the [`FilterAttribute`](https://github.com/shinglyu/rust-azure/blob/dropshadow/src/azure_hl.rs#L1469) trait on [`CompositeAttribute`](https://github.com/shinglyu/rust-azure/blob/dropshadow/src/azure_hl.rs#L1406). I wonder if I should cast the enum `CompositeOperator` to `u32` [here](https://github.com/shinglyu/rust-azure/blob/dropshadow/src/azure_hl.rs#L1469), or just pass the

[2015-07-08 15:56] NateBrune commented on #6363
I think I did what you want.

[2015-07-08 15:58] jdm commented on #5187
The difference is that CompositeOperator is not marked as Copy, while the AzFloat inside of GaussianBlurAttribute::StdDeviation is. If you derive Copy for the new enum it should work fine. And I casting the enum in the code you linked looks fine to me.

[2015-07-08 16:19] Sumith1896 commented on #6363
Cool, go ahead. I was very busy with my project :smile:

[2015-07-08 16:23] NateBrune commented on #6363
xD I'm sure I wasn't trying to undercut you or anything @Sumith1896
I was trying to pick something super easy for me to do as my first contribution.

[2015-07-08 16:24] Sumith1896 commented on #6363
Yes, I know. Np :+1:

[2015-07-08 16:34] Ms2ger commented on #6207
https://github.com/KhronosGroup/WebGL/issues/1105

[2015-07-08 19:58] metajack commented on #6564
I agree with @SimonSapin here. Crashing is not really acceptable for non-developer users.

Telemetry is probably the correct way to solve this, but I'm guessing that will be a little while in coming. How would we go about adding telemetry to gecko to estimate impact of various things we could do?

[2015-07-08 20:22] jdm commented on #6564
https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Adding_a_new_Telemetry_probe

[2015-07-09 01:53] frewsxcv commented on #2754
Most of this is done, no?

[2015-07-09 01:56] frewsxcv commented on #3198
This hasn't been reported in a while, probably okay to close this?

[2015-07-09 01:57] metajack commented on #2754
Yep, homu did this nicely.

[2015-07-09 01:57] #2754 closed

[2015-07-09 02:32] #3198 closed

[2015-07-09 03:42] sbditto85 commented on #5970
I was working on it and made some progress, then life got in the way. If you'd like I can attempt to start working on it again or reassign its up to you.

[2015-07-09 04:02] jdm commented on #5970
I don't know of anybody else looking to work on this, but if you could push your code to a branch and link it here then maybe someone else could come along and take over if you don't find time to continue it.

[2015-07-10 02:04] akosel commented on #5971
Yes! I have a fork which has much of the preliminary work done. I will dedicate this weekend to finishing as much of this as possible.

[2015-07-10 05:34] jdm commented on #5971
Looking forward to it!

[2015-07-10 09:34] frewsxcv commented on #5754
Was this completed im #5761?

[2015-07-10 13:17] #5754 closed

[2015-07-10 15:23] Manishearth opened #6587 "--exit flag not working"
The load-after-exit flag (`-x, --exit`) doesn't seem to be exiting even for the simplest pages.

[2015-07-10 15:49] connorimes commented on #6587
@LalehB this affects the PowerMeasure script

[2015-07-10 15:51] connorimes commented on #6587
This appears to have been removed in 898c1ecc8fb885e1ed90d148cfadbb30d337ea49 but is a capability we still need for some types automated testing (e.g. power/energy profiling).

[2015-07-10 16:01] connorimes commented on #6587
CC @glennw as author of aforementioned commit.

[2015-07-10 18:20] jdm opened #6589 "Remove url field from Page"
Turns out it's unused!

Code: components/script/page.rs

[2015-07-10 19:19] #1826 closed

[2015-07-10 21:26] michaelwu opened #6590 "Remove Root::r() and uses of it"
Root implements Deref, so r() isn't necessary.

Deref on Root was implemented in https://github.com/servo/servo/pull/6150

[2015-07-10 22:34] SimonSapin commented on #6020
https://github.com/hyperium/hyper/issues/526 was fixed in https://github.com/hyperium/hyper/commit/ed458628e54bd241b45f50fb0cf55a84ffb12205 , which we’re picking up in https://github.com/servo/servo/pull/6591.

[2015-07-11 00:24] pcwalton opened #6594 "NULL pointer dereference in Azure with canvas too big"
Minimal test case:

[code]

[2015-07-11 00:24] pcwalton commented on #6594
Don't think this is exploitable, but this is too close for comfort.

[2015-07-11 06:45] jruderman opened #6598 "Panic at 'This element should be in registered.'"
This testcase reduced from DOMFuzz output:

    <script>

    var x1 = document.createElement("div");
    x1.id = "x";

    var x2 = document.createElement("div");
    x2.id = "x";

    document.cloneNode(false).appendChild(x1);
    x1.appendChild(x2);
    x1.innerHTML = "";

    </script>

gives me a double panic:

    thread 'ScriptTask PipelineId(0)' panicked at 'This element should be in regis

[2015-07-11 08:40] Ms2ger opened #6599 "Setting the value of input type=button doesn't update its rendering"
[code]

(reduced from dromaeo)

[2015-07-11 10:13] Ms2ger commented on #6598
Ignore `*self.stack == mem::transmute(&*self)` for now.

@jdm, I believe this is your code?

[2015-07-11 13:29] jdm commented on #6598
This is actually http://mxr.mozilla.org/servo/source/components/script/dom/document.rs#406 ; the stack showing is from the second assertion.

[2015-07-11 13:44] frewsxcv commented on #6519
https://github.com/servo/servo/commit/243446eff33d596b192a7190d5dfe3bb1a6e07dd caused the changes in #6595 to get reverted; should this be reopened?

[2015-07-11 13:46] jdm commented on #6599
Odd, http://mxr.mozilla.org/servo/source/components/script/dom/htmlinputelement.rs#273 includes a force_relayout call that I would expect to be working here.

[2015-07-11 14:48] wjh commented on #6589
I'd like to take this one please.

[2015-07-11 15:26] jdm commented on #6589
Go for it :)

[2015-07-11 15:40] Ms2ger opened #6601 "Assertion failure: this->is<js::TypedArrayObject>() with bufferData"
We should pay more attention to JSAPI usage…
[code]

[2015-07-11 15:42] Ms2ger opened #6602 "Assertion failure: (int32_t) tarr->type() == Scalar::Float32 with bufferData"
[code]

[2015-07-11 17:04] pcwalton commented on #6601
Yikes. https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L261

Was it necessary to drop down to unsafe code here? Couldn't we have written safe wrappers?

[2015-07-11 17:09] pcwalton commented on #6602
Same comment as before. This code is the culprit: https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L261

If it was not necessary to drop down to unsafe code here, then I suggest writing a wrapper that actually checks the types before calling the JSAPI and returns a `Result`.

[2015-07-11 17:16] jdm commented on #6601
This code was written before the SpiderMonkey upgrade, when there was very little support for typed arrays. We can now improve this state of affairs.

[2015-07-11 17:34] Ms2ger commented on #6598
Looks like we're calling `unregister_named_element` twice:
[code]
Looks like someone broke the suppressing

[2015-07-11 17:42] pcwalton commented on #6564
I think we should not keep the panic; it's causing actual crashes that are preventing things like fuzzers from working. We should never deliberately keep a panic in; it's a terribly blunt debugging instrument.

Here's a concrete proposal. Replace surrogates with U+FFFD as in @SimonSapin's patch, but output a message with `warn!()` with the current URL when doing so. We don't use `warn!()` right no

[2015-07-11 19:52] Ms2ger commented on #6598
And it was #5972; I thought so at the time.

[2015-07-11 20:07] pcwalton commented on #6601
Sweet :)

[2015-07-11 22:13] mcepl commented on #3198
Yes, it is working well with 3d4122e

[2015-07-12 18:58] fitzgen commented on #6590
Working on this.

[2015-07-12 19:44] fitzgen commented on #6590
Ok, so I made some progress, but quickly got bogged down in the following issue:

We implement `.r()` not only on `Root` but also on `Option<Root<T>>` and `Option<Option<Root<T>>>` via the helper traits `RootedReference<T>` and `OptionalRootedReference<T>`. Those don't have `Deref` impl'd, and IIUC *can't* have `Deref` impl'd because neither `Deref` nor `Option` are owned by servo.

Does it make s

[2015-07-12 21:57] michaelwu commented on #6590
FWIW, I don't really like `RootedReference` or `OptionalRootedReference`. Had too many changes in the smup already so I didn't experiment with removing them, but those traits always struck me as a bit odd.

[2015-07-13 02:39] akosel commented on #5971
I have made some progress. I am at a point where I want to check in to make sure I am heading in the right direction.

My first question is about extracting the JSON-based message types from `components/devtools`. I wasn’t exactly sure what the scope of that was, so for starters I grabbed various message types from the main lib.rs file as well as messages from the actors directory. Basically, I to

[2015-07-13 13:42] frewsxcv commented on #6558
`./mach test-wpt tests/wpt/web-platform-tests/dom/traversal/TreeWalker-basic.html`

In particular, [this test](https://github.com/servo/servo/blob/0fb6604cb37da0ca0f4852328def21100a38fd63/tests/wpt/web-platform-tests/dom/traversal/TreeWalker-basic.html#L92-L97). The result of `document.createTreeWalker(root, undefined, undefined)` should be the same as `document.createTreeWalker(root)`, but this i

[2015-07-13 15:14] jdm commented on #5971
These are all great questions! With regards to the EventActor, that's a struct that you should be able to extract without any difficulties I believe. It's just a Plain Old Data struct for serialization.

My intuition is that the new messages could be added to the devtools_client crate. Additionally, instead of a binary, if the devtools_client crate is a library we can then do the following:
* crea

[2015-07-13 15:14] jgraham commented on #5970
There is an alternate option here, which I think is better; make a python-based testsuite that we can then share with other browsers implementing the WebDriver spec (e.g. Gecko, IE).

I made the start of such a testsuite at https://github.com/w3c/web-platform-tests/commits/jgraham/webdriver although that has bitrotted somewhat. There's an improved version of the webdriver client there in the servo

[2015-07-13 15:15] jdm commented on #5971
Oh and feel free to make PRs whenever you'd like. Just make your expectations clear up front for reviewers if you don't feel like the code is actually ready for integration.

[2015-07-13 16:34] Ms2ger opened #6612 "Assertion failure: obj == GetOuterObject(cx, obj) with cross-compartment wrapper"
[code]

`b.html`:

[code]

[2015-07-13 18:24] SimonSapin commented on #6564
The plan for now per https://github.com/servo/servo/wiki/Meeting-2015-07-13 is to add a `-Z` option to replace surrogates (e.g. when fuzzing) and keep panicking by default.

[2015-07-13 19:27] pcwalton commented on #6612
`<jdm> pcwalton: I suspect http://mxr.mozilla.org/servo/source/components/script/dom/bindings/utils.rs#683`

[2015-07-14 00:14] jdm commented on #6462
I'm convinced that this is due to SpiderMonkey being compiled with `-fno-exceptions` (so destructors won't get run when we try to unwind through C++), as well as unwinding from Rust across FFI being undefined behaviour. The assertion appears to trigger because a C++ RootedValue is on the stack when the panic occurs, and its destructor doesn't end up getting run so our Rust destructor gets hopeless

[2015-07-14 09:59] Ms2ger commented on #6462
If that's the case, the stack looks like `[dead C++ object]+ [our Rust object]`, right? Then how about we just remove all the dead C++ objects as well?

[2015-07-14 12:18] #6379 closed

[2015-07-14 13:16] jdm commented on #6462
Just keep popping until we get to the expected address, you mean? That would help with this assertion, but anything like JSAutoRequest would leave unfinished requests, etc. which will likely trigger more assertions.

[2015-07-14 13:19] jdm commented on #5928
Not clear that we're still hitting this, and it was never clear which test was timing out, too.

[2015-07-14 13:19] #5928 closed

[2015-07-14 16:58] jdm opened #6623 "Make tidy check for "*" dependencies in Cargo.toml files"
I believe (and @SimonSapin can confirm) that we're moving towards requiring specific versions for all Crates.io dependencies instead of just "*" (meaning any version is allowed). We should enforce that in pre-commit hooks by having the tidy.py script check this.

Code: python/tidy.py

[2015-07-14 17:03] Ms2ger commented on #6623
I feel this is solving a problem we don't really have right now, and it will cause us to depend on multiple versions of the same crate a lot more often.

[2015-07-14 17:07] metajack commented on #6623
I think a reasonable compromise is to use one digit only. If we need a second digit, add it. We should probably never need all three digits.

Is there a reason not to use that? That should minimize dupes.

[2015-07-14 19:27] SimonSapin commented on #6623
I argued for it, and only @Manishearth responded: https://www.mail-archive.com/dev-servo@lists.mozilla.org/msg01332.html

[2015-07-14 19:29] metajack commented on #6623
Ah, so we've all misunderstood what the "0.1.3" meant. So precise verions sound just fine then.

[2015-07-14 19:38] SimonSapin commented on #6623
TOML parser for Python: https://pypi.python.org/pypi/toml/ (i.e don’t do it by hand)

[2015-07-15 02:19] #6020 closed

[2015-07-15 05:55] SimonSapin commented on #6503
I tried just removing the `DerefMut` impl. After getting past a few initial errors, I got a bunch more :(

[code]

[2015-07-15 06:00] metajack commented on #6503
This can't be easily removed. I tried this as well and gave up. The core issue is that during flow construction we need to mutate these unsafely, but once hte flows are constructed, we use them without DerefMut. We want to avoid constructing the tree in one data type and then converting it to another that is then shared. I'm not sure the best way to get around this. @pcwalton may have some thought

[2015-07-15 07:05] jdm opened #6631 "Worker ids aren't unique"
The devtools-related code for notifying when new worker globals are created won't work correctly in the presence of subworkers. Each WorkerGlobalScope/Window has its own next_worker_id field, so it's easy to end up with overlapping ids for independent workers.

[2015-07-15 08:27] dzbarsky opened #6633 "Implement mutation observers"
I've started some patches for this.

[2015-07-15 09:10] Ms2ger commented on #6503
`get_mut` with a runtime refcount check?

[2015-07-15 10:10] SimonSapin commented on #6503
So `Arc<RwLock>`?

[2015-07-15 11:15] metajack commented on #6503
@ms2ger That may work. I think get_mut was not available on Arc when I tried this, although I had a discussion with @aturon about this in Whistlier, and perhaps they've added it now.

@SimonSapin I don't think we're willing to pay the price of locking. All the fancy unsafety in layout is designed around Flows, and slowing down Flow access is probably a non-starter.

In any case, I agree this needs

[2015-07-15 11:22] SimonSapin commented on #6503
Ah, yes, refcount for mutable access made me think of `RefCell`, which in multi-thread translates to `RwLock`, but you’re right that we can have something like `Arc::get_mut` instead.

Is there a reason not to use `Arc` directly? `Arc::get_mut` is still unstable but now un-deprecated. (The data race has been solved in https://github.com/rust-lang/rust/pull/26610.)

[2015-07-15 11:30] metajack commented on #6503
Using Arc<Flow> directly is the desired outcome. How to reconcile this with flow construction is an exercise no one has completed yet. I'm pretty sure when I tried was right after they removed get_mut but before they fixed the race and put it back. It's worth trying again.

[2015-07-15 11:31] metajack commented on #6503
@SimonSapin It should be noted that @aturon was interested in helping us solve this, so if get_mut is insufficient, we should definitely talk to the Rust team about what options we have.

[2015-07-15 13:17] jdm commented on #6633
cc @nox

[2015-07-15 13:52] nox commented on #6633
Colour me interested. Why do you think mutation observers are the way to go for DOM ranges?

[2015-07-15 18:01] larsbergstrom opened #6636 "Initial Flexbox implementation"
Some instructions for getting started, via @pcwalton:

[code]

CC @SimonSapin

[2015-07-15 18:04] zentner-kyle commented on #6636
I'm going to take a shot at this.

[2015-07-15 18:10] dzbarsky commented on #6633
Note that these aren't the DOM mutation observers, just an internal servo thing that lets ranges register a callback for when the document changes. It's similar to nsIMutationObserver in Gecko.

[2015-07-15 18:22] jdm commented on #6633
That sounds confusingly named, in that case :)

[2015-07-15 18:38] SimonSapin commented on #6636
Some more of the steps involved:

* Add a `flex` value to the `display` property [in `components/style/properties.mako.rs`](https://github.com/servo/servo/blob/b6b95085fbb18496d8104e350f85b6617c19862e/components/style/properties.mako.rs#L409-L413)
* Add `FlexFlow` as mentioned above in a new file in `components/layout`
* Make it so that such a flow is constructed for elements with `display: flex`

[2015-07-15 18:44] dzbarsky commented on #6633
True it could use a different name. MutationWatcher or something.

[2015-07-15 19:00] jdm opened #6638 "Move websocket network connection creation to the resource task"
In the multiprocess world we can't initiate connections from the content process. Additionally, we need the initial websocket upgrade request to include things like cookies, etc. We need to add a new network protocol handler that takes care of all of this. The first step here is to simply move the connection creation out of the WebSocket constructor; we can leave the integration with the HTTP code

[2015-07-15 19:22] boghison commented on #6623
I'm sorry if this is a stupid question, but is it mandatory to use the toml parser, because I think it would be simpler to just check for an asterisk in the file, this would also allow to see on which line this is happening (that can't be done through the parser AFAIK)

[2015-07-16 02:01] glennw opened #6643 "EnyoJS sampler doesn't work."
I did some investigation into it - info below for anyone else who looks into it:

To set up a local version you can test with:

[code]

Then build the JS (you need node + grunt installed):
./tools/deploy.sh

By default, this produces a minified / obfuscated build. To work around that, I hacked the compressJsFile function in tools/minifier/minify.js to be:

[code]

Then you get concatenated JS that

[2015-07-16 02:02] glennw commented on #6643
cc @metajack

[2015-07-16 03:10] jdm opened #6644 "Intermittent WPT timeouts due to OpenSslError panic"
From #6583 and #6637,
[code]
I don't recall seeing this error before.

[2015-07-16 06:19] samfoo commented on #6638
I'm willing to pick this up since I've hacked a bit on `resource_task.rs` already, but I'm not sure I understand what you're suggesting. Is the suggestion to move/recreate `establish_a_websocket_connection` in components/net/resource_task.rs, then pass that as an argument to the WebSocket constructor?

[2015-07-16 06:28] nnethercote commented on #6350
I just hit this in #6572.

[2015-07-16 09:12] Ms2ger commented on #6638
Please don't pick it up just yet; I'm still working on that code.

[2015-07-16 09:13] Ms2ger commented on #6599
`-i` doesn't help, fwiw.

CC @pcwalton @SimonSapin

[2015-07-16 15:38] jdm commented on #6623
That solution sounds ok to me.

[2015-07-16 16:21] boghison commented on #6623
@jdm I am gonna file a PR then

[2015-07-16 17:04] boghison commented on #5670
@vectorijk Excuse me, are you still working on this?

[2015-07-16 20:06] vectorijk commented on #5670
Yes,I am still working on it. Cause I am a newbie, I am doing some research
on how to implement this api and also digged into how WebKit and gecko
wrote on this api.
On Jul 16, 2015 10:04 AM, "Bogdan Cuza" <notifications@github.com> wrote:

[2015-07-16 20:56] metajack commented on #6638
We can't allow network connections from the content sandbox? It seems a bit weird to proxy all this through some other process, although I guess if Gecko is single threaded for i/o this isn't much different to that.

[2015-07-16 21:10] jdm commented on #6638
Gecko does the same. It's also important for things like network cache coherence, cookies, etc.

[2015-07-16 21:13] metajack commented on #6638
Won't this prevent anyone from writing any high performance websocket code? That's a lot of data copying to go from JS to outside JS to another process and then into the final socket buffer and then all the way back for the reply.

[2015-07-16 21:32] larsbergstrom commented on #6350
servo-mac1 and servo-mac3 are fixed. servo-mac2 is having... issues.

[2015-07-16 21:35] larsbergstrom commented on #6350
@bors-servo: retry

[2015-07-16 21:53] aturon commented on #6503
Yep, happy to help further on this, just let me know what the blockers are.

[2015-07-16 21:58] jdm commented on #6638
We may be able to send the socket descriptors to the content process after the connection is initiated. I haven't looked closely at what Gecko does for websockets in particular.

[2015-07-16 22:00] metajack commented on #6638
That sounds satisfactory.

[2015-07-17 02:41] jdm commented on #6350
@larsbergstrom mac1 just failed with this again 4 hour ago.

[2015-07-17 03:18] jdm commented on #3704
I'm not certain that's true - for example, I don't see any evidence of an insertion point in html5ever, so there's no way to ensure that we're feeding tokens into the tokenizer immediately rather than appending them to an existing queue. In particular, under "An end tag whose tag name is script", it says "Let the _old insertion point_ have the same value as the current **insertion point**. Let the

[2015-07-17 09:16] Ms2ger opened #6649 "`list-style-image` grabs width/height attributes off the element"
That shouldn't happen. The issue is in (using) `ImageFragmentInfo::new()`.

[code]

[2015-07-17 12:42] jdm commented on #6644
@seanmonstar Have you seen anything like this before?

[2015-07-17 12:47] larsbergstrom commented on #6350
@bors-servo: r+

trying again, with 100% more reboots.

[2015-07-17 13:03] seanmonstar commented on #6644
I have not. I'm away from my computer, so I can't really investigate till next week. The wpt tests use ssl?

[2015-07-17 13:26] larsbergstrom commented on #6350
Should be fixed on all builders now. Open a new issue with pointers to failed PRs if not.

Also, for future-me, the instructions on how to "fix" the mac builders are here:
https://github.com/servo/servo/wiki/Buildbot-administration#osx-maxfiles

[2015-07-17 13:26] #6350 closed

[2015-07-17 14:59] jdm opened #6651 "Static analysis doesn't catch `RefCell<Option<DOMException>>`"
cc @Manishearth

[2015-07-17 15:00] jdm commented on #6651
Maybe even just `Option<DOMException>` is enough if we still don't look at generic types.

[2015-07-17 17:08] boghison opened #6653 "(Merge and) delete some of the branches"
There are 29 branches, it is very confusing. Some are far behind master. Would it be possible to clean them up a bit?

[2015-07-17 20:39] jdm commented on #6653
Done. All of the remaining ones are either in use as open PRs or retained for posterity.

[2015-07-17 20:39] #6653 closed

[2015-07-17 21:12] boghison commented on #6653
You deleted half! Wow, the power of an issue :D

[2015-07-17 23:35] seanmonstar commented on #6644
Is this from an upgrade? Or nothing has changed, and suddenly this is happening?

[2015-07-17 23:38] jdm commented on #6644
Yes, this started after we upgraded hyper from 0.5.2 to 0.6.3.

[2015-07-17 23:40] jdm commented on #6644
Does anything in https://github.com/servo/servo/commit/83d2a11d860133166ddc22a1551589cfe2476c7f#diff-aa469beb5619907dbccd88364264b9b8R127 look off to you?

[2015-07-17 23:45] jdm opened #6656 "Intermittent timeout in /html/semantics/document-metadata/the-base-element/base_href_empty.html"
[code]

Don't know what to make of this.

[2015-07-18 00:11] seanmonstar commented on #6644
I've read over those changes a few times, and don't see something wrong. One thing with hyper 0.6, is that previously an `Ssl` would be created from the `SslContext`, and the hostname would be set, but then the `Ssl` instance was disgarded. Now, in 0.6, the Ssl instance is used to create the stream instead of the context (the Ssl has a reference to the context). It could be that this is properly u

[2015-07-18 12:25] nox opened #6658 "Optimise Node.normalize()"
When multiple consecutive text nodes are merged together, the contents of the discarded nodes are copied instead of borrowed when they are appended to the first Text. This should create and make use of new methods in CharacterDataMethods to avoid unnecessary allocations.

[2015-07-18 12:35] nox opened #6659 "Make virtual methods take self"
The methods in the trait VirtualMethods take &self and are implemented on &T. This is useless and inconsistent with the other *Methods and *Helpers traits. All the methods should be changed to take self instead of &self.

[2015-07-18 13:13] nox commented on #6659
Apparently it can't be done this way because VirtualMethods comes from default implementations. Can someone confirm?

[2015-07-18 13:40] jdm commented on #6659
I don't recall the reason precisely, but it certainly did not appear possible when we introduced the trait.

[2015-07-18 13:41] jdm commented on #6658
Presumably you mean CharacterDataHelpers, rather than CharacterDataMethods?

[2015-07-18 13:42] nox commented on #6658
Yes, yes I do.

[2015-07-18 13:47] nox commented on #6633
@dzbarsky Would #6660 help?

[2015-07-18 13:48] boghison opened #6661 "Package for Ubuntu Touch"
Packaging for Ubuntu Touch would be very interesting (along with packaging for snappy). The biggest issue might be adhering to the confinement rules, otherwise it is certainly possible and easy to do.

P.S. I'd like to take care of this, as I am very familiar with the Ubuntu Touch ecosystem and have an actual device with the aforementioned platform.

[2015-07-18 13:59] nox commented on #6598
#6660 fixes this, AFAICT.

[2015-07-18 14:33] felipesere commented on #6658
How would test for this look like? Sorry if it sounds obvious, its the first time I'm trying to contribute to Servo.

[2015-07-18 14:35] nox commented on #6658
[code]

[2015-07-18 14:40] jdm commented on #6661
We're not keen on any sort of automatic packaging at this point until we choose to make downloadable binaries available. We're holding back on those right now because our security-related code is not well tested and we don't want to give users the impression that they're using a secure browser.

[2015-07-18 15:42] boghison commented on #6661
@jdm I meant this more as a test, for the future (like packaging for cydia) and not some fancy automatic packaging system.

[2015-07-18 15:53] jdm commented on #6661
Well if you want to figure out how to get it running on Ubuntu Touch, we're not going to stop you :)

[2015-07-18 18:23] dzbarsky commented on #6633
I'm not sure how that PR helps here.  There's not really a great way for nodes to know that they're the start or end of some range.

[2015-07-18 18:29] nox commented on #6633
I made `Rc<RangeInner>` in Range because I intended to store a `Vec<Weak<RangeInner>>` in each node. I guess that's the wrong way to go at it?

[2015-07-18 18:39] dzbarsky commented on #6633
That's a lot of storage.  I think it's better to store that Vec on the document itself, that's basically what I'm doing in #6639

[2015-07-18 21:11] dzbarsky commented on #6480
Can you still reproduce this?  Seems like it works for me.

[2015-07-18 21:54] nox commented on #6633
With a Vec on the document itself, children_changed() could still be used in the VirtualMethods implementation of Node to update any range associated to the context object, couldn't it?

[2015-07-18 22:56] notriddle commented on #6658
Is @felipesere taking this one?

[2015-07-19 00:22] dzbarsky commented on #6633
I can see children_changed being used for some of the notifications, but I'm not sure how you'd handle some other cases.  For example, there are steps to run when calling CharacterData#replaceData, or Node#normalize.
But yes, I think it would be cleaner to just do the steps directly in insert and remove methods.

As for the MutationObserver thing...
In Gecko, other things than just range hook into

[2015-07-19 04:16] frewsxcv opened #6663 "ParentNode-querySelector-All WPT test not working?"
Sorry for the brevity of this Issue, I am currently on mobile. From IRC:

[code]

[2015-07-19 04:33] jdm commented on #6663
Aha, the test loads an iframe and all of the expected tests run off of the iframe load event. However, the main document load event never fires, so the overall test is never considered finished, yet that doesn't get treated as a timeout for some reason.

[2015-07-19 09:10] Ms2ger commented on #6663
CC @jgraham

[2015-07-19 09:39] Ms2ger commented on #6663
https://github.com/w3c/web-platform-tests/pull/2019

[2015-07-19 09:52] mukilan commented on #6659
[Confirmation](https://play.rust-lang.org/?gist=675b1f3510dafebfb9dc&version=nightly).  As you can see, having a default method that takes ```self``` requires the ```Sized``` bound on the trait. But then the trait will be not be object-safe any more and no trait objects can be created.

[2015-07-19 09:53] nox commented on #6659
@mukilan Thanks.

[2015-07-19 09:53] #6659 closed

[2015-07-19 13:56] frewsxcv commented on #6663
w3c/web-platform-tests#2019 merged. Maybe time for a WPT upgrade

[2015-07-19 15:23] jdm opened #6664 "Add a tidy check that every method implemented in FooMethods traits has a comment containing a spec link"
We encourage this but forget to require it in reviews. It would be nice to have automation checking this for us. We might be able to use a heuristic like:
* for each file in components/script/dom/*.rs, find any line matching `impl<'a> [filename]Methods for &'a [filename] {`
* if it exists, set the nested brace count to 1, then read lines until the number of nested braces returns to 0 (ie. terminat

[2015-07-19 15:26] Ms2ger commented on #6663
I can do that, but that won't really help; it'll just make that test be recognized as timing out.

[2015-07-19 15:37] jdm commented on #6663
The way to fix the timeout here is probably to add a methods to document_loader.rs that pushes a new element to blocking_loads without setting up any new request, and call that and finish_load from http://mxr.mozilla.org/servo/source/components/script/dom/htmliframeelement.rs#125 and http://mxr.mozilla.org/servo/source/components/script/dom/document.rs#1891 respectively.

[2015-07-19 17:17] boghison commented on #6664
I'd like to take this!

[2015-07-19 17:35] felipesere commented on #6658
I'd like to try :smile:
If you want to take it @notriddle, go for it! I'll look at the PR.

[2015-07-19 18:00] boghison commented on #6664
It will be easier for me to work if #6648 is merged, because I would like to avoid conflicts :)

[2015-07-19 22:17] stuaxo opened #6665 "/ports/android doesn't exist"
Android instructions say cd ports/android    ports exists, but not ports/android.

On Ubuntu 15.04, 64 bit

[2015-07-19 22:45] mbrubeck commented on #6665
The APK is now built in the target directory.  I updated the wiki page: https://github.com/servo/servo/wiki/Building-for-Android

[2015-07-20 00:16] #6665 closed

[2015-07-20 02:48] jdm commented on #6664
Good point. I'll deal with that PR tomorrow!

[2015-07-20 03:12] glennw commented on #6643
The enyo libraries rely on (at least some parts of) cssom to work. The sampler fails due to missing support for https://github.com/mozilla/gecko-dev/blob/master/dom/webidl/HTMLElement.webidl#L84.

[2015-07-20 05:28] glennw commented on #6643
@metajack enyo also relies on MouseEvent implementing the (non standard) 'which' field of MouseEvent (see https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/which and https://dxr.mozilla.org/mozilla-central/source/dom/events/MouseEvent.h#40).

This should be trivial to implement (although I'm not sure if we support implementing binding methods without a WebIDL declaration, which is what t

[2015-07-20 07:33] metajack commented on #6643
@ms2ger @jdm any ideas what we should do about MouseEvent?

[2015-07-20 07:41] Ms2ger commented on #6643
https://w3c.github.io/uievents/#KeyboardEvent-supplemental-interface

Gecko implements it on `UIEvent` for some reason.

[2015-07-20 08:17] SimonSapin commented on #1714
@jviereck Are you still interested in working on this?

[2015-07-20 08:33] mskrzypkows commented on #6475
I'm trying to implement point 4. form: https://html.spec.whatwg.org/multipage/interaction.html#dom-document-hasfocus. How can I check if document has a dialog group, then how to check if document has a non-empty control group? I haven't found any method returning it, is it available in servo?

[2015-07-20 09:08] jviereck commented on #1714
Interested yes, but it is unlikely I will manage to continue working on this anytime soon.

In case someone else wants to take over this issue, feel free to go ahead :)

On July 20, 2015 10:17:22 AM GMT+02:00, Simon Sapin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-07-20 09:42] tschneidereit commented on #1714
I *might* take it as a follow-up to #6662, then :)

[2015-07-20 13:39] SimonSapin opened #6670 "Exclude minified JS files from `./mach grep`"
`etc/layout_viewer/js` contains some `*.min.js` files with very long lines. Since `grep` shows matching line entirely, any match in those files make the rest of the output difficult to read. Try `./mach grep offsetTop` for example. It’d be nice to exclude minified files from `./mach grep`.

`./mach grep` is based on `git grep` which unfortunately does not a parameter like `--exclude` in GNU grep.

[2015-07-20 14:03] jdm commented on #2305
set_ids is gone and it's unclear precisely how to reproduce this.

[2015-07-20 14:03] #2305 closed

[2015-07-20 14:54] jdm opened #6672 "Cross origin iframes don't trigger a load event in the parent frame element"
This happens because BrowsingContext::frame_element called by Document::dispatch_load can't handle cross-origin parent frames.

Probably requires #5242.

[2015-07-20 14:55] jdm commented on #6672
[code]

[2015-07-20 15:14] Ms2ger commented on #6672
Technically, this is allowed by the spec:

[2015-07-20 15:26] mbrubeck commented on #6475
I believe Servo does not yet support these features.  You can just skip this step for now, and put a "TODO" comment in the code.

[2015-07-20 15:31] jdm opened #6673 "Add a JS-accessible method on Window that triggers a breakpoint trap"
This should go in a `partial interface` declaration in Window.webidl, and just be a call to http://doc.servo.org/util/fn.breakpoint.html . This is useful for adding inside JS in a test or a local page for quick and easy debugging in gdb.

Code: components/script/dom/window.rs, components/script/dom/webidls/Window.webidl

[2015-07-20 15:34] saneyuki commented on #6673
@jdm what name is suitable? `Window.setBreakpoint`?

[2015-07-20 15:40] jdm opened #6674 "Make ProgressEvent constructor use enums"
Instead of boolean arguments, it should take EventBubbles and EventCancelable enums for better code readability.

code: components/script/dom/progressevent.rs

[2015-07-20 15:40] jdm commented on #6673
I like window.trap.

[2015-07-20 15:42] saneyuki commented on #6673
okay, I'll take this as rehabilitation working.

[2015-07-20 15:50] jdm commented on #1588
We handle missing files now.

[2015-07-20 15:50] #1588 closed

[2015-07-20 15:52] jdm commented on #150
Pretty sure this isn't an issue any more.

[2015-07-20 15:52] #150 closed

[2015-07-20 16:05] shinglyu commented on #5187
In libazure code, the Composite filter can take arbitrary number of inputs, so it uses a `IN_COMPOSITE_IN_START=0` as the first input ID, then the second uses `IN_COMPOSITE_IN_START+ 1` and so on. But in the rust-azure wrapper, we uses

[code]
, which is a enum that can't be added with an int directly.

I don't know what's the best way to do it? Simply cast it to int? or should I implement some he

[2015-07-20 16:14] jdm commented on #6663
Yeah, my mistake: the load event does fire, but it fires before everything else hence why the test "finishes" so quickly.

[2015-07-20 16:22] jdm commented on #5187
Probably just cast to an int.

[2015-07-20 17:37] jdm opened #6676 "Make ScriptTask::find_iframe a free function"
It doesn't use its self pointer, so it can just be a helpful utility function in the same file.

Code: components/script/script_task.rs

[2015-07-20 18:33] #6673 closed

[2015-07-20 20:18] jdm commented on #6281
Consider this for #5236. Advantages also include having to pass around far fewer PipelineId values and having the ScriptTask do much less routing. Additionally, any events queued after a document chooses to shut down can just be ignored, but they can also sit in the bfcache.

[2015-07-20 21:27] #6623 closed

[2015-07-20 22:43] nox opened #6680 "Use SmallVec<[T; N]> instead of SmallVecN<T>"
The latter type aliases are deprecated in rust-smallvec.

[code]

[2015-07-20 23:51] glennw commented on #6643
@metajack enyo also seems to rely on transition callbacks too, which I don't believe we support yet. It does use animation + animation callbacks, but I'm not sure to what extent yet.

[2015-07-21 00:19] glennw commented on #6643
@metajack Ah, part of the reason why none of the button presses are working is because the target of our mousedown events is different than what FF sets, so they get dispatched incorrectly. I'll look into how our hit detection is working.

[2015-07-21 10:35] boghison commented on #6664
I am having some trouble with adding links, for example with htmlbodyelement.rs. bgcolor is obsolete, therefore the current link doesn't work, and I can't find one. What should I do with GetOnunload and SetOnunload?

[2015-07-21 11:04] boghison commented on #6670
[This](http://stackoverflow.com/a/10423194/4743424) seems like a reasonable workaround.

[2015-07-21 12:09] jdm commented on #6664
The best we can do is link to https://html.spec.whatwg.org/multipage/semantics.html#the-body-element, unfortunately.

[2015-07-21 12:10] jdm commented on #6664
The bgcolor link can be to https://html.spec.whatwg.org/multipage/obsolete.html#non-conforming-features

[2015-07-21 12:12] jdm commented on #6664
Actually, https://html.spec.whatwg.org/multipage/#dom-body-bgcolor is a better link for that.

[2015-07-21 12:24] SimonSapin commented on #6670
Listing these files in `.gitignore` would also cause them to be ignored for the purpose of `git commit`. That seems undesirable?

[2015-07-21 12:33] boghison commented on #6670
Can't we just remove the line afterwards? :)

[2015-07-21 12:35] boghison commented on #6664
What about onload?

[2015-07-21 12:39] jdm commented on #6664
For body? Same link to the body element as above.

[2015-07-21 13:58] cmr commented on #3717
Would this only use SDFs to render text while the new glyphs are being rasterized (which can take a noticable amount of time mobile)? Maybe also past a certain zoom factor.

It seems that not all fonts would be suitable for use with SDFs, especially at small sizes. I think I remember seeing something in IRC float by, perhaps @pcwalton way playing with it?

[2015-07-21 14:01] Manishearth commented on #6670
We could use `grep -Hrn` with `--exclude` and prefill `--exclude` with the submodules/support/target dirs

[2015-07-21 14:39] Ms2ger commented on #6676
Why not make it a method on `Document`?

[2015-07-21 16:33] Manishearth opened #6684 "MutHeap/MutNullableHeap should return safe, rooted values"
`MutHeap<JS<T>>`, for example, returns a `JS<T>`, which isn't safe. We should be returning a `Root<T>`

This can be achieved by adding a `SafeOutput` associated type to `HeapGCValue`, however some special casing needs to be done for `MutHeap<Heap<JSVal>>` to work. (We also need to figure out what a "safe" value is for `JSVal`)

Follow up for #6651

[2015-07-21 17:53] Manishearth opened #6686 "Page should be must_root, and needs a redesign"
Page contains `Option<Frame>` objects, and these are `must_root`, making `Page` itself `must_root`. However, `Page` is shared via `Rc` everywhere, which probably interacts badly with the JS memory management -- we need to think of something to make this sound.

cc @jdm

[2015-07-21 17:55] jdm opened #6687 "Split actual document object out of content frame tree"
I've been thinking of doing this as part of #5236, but it's been pointed out that `Frame` contains JS pointers, and `Page` contains `Frame`, and we use `Rc<Page>` objects all over the place without any stack roots.

I propose moving all JS pointers into a hashmap in ScriptTask keyed on the PipelineId, and have the content tree just bee a tree of PipelineId values instead.

[2015-07-21 17:55] jdm commented on #6686
Dup of #6687 .

[2015-07-21 17:55] #6686 closed

[2015-07-21 17:56] Manishearth commented on #6687
cc moi

[2015-07-21 18:09] larsbergstrom commented on #5973
I suspect we'll want to let clients choose whether to use CEF or the raw Rust embedding API directly, if their final binary is in Rust and they'd prefer not to do a bunch of C shimming. Certainly, gonk prefers that - https://github.com/servo/servo/wiki/Mozlandia-B2S#use-cef

[2015-07-21 18:47] boghison commented on #6664
What about bgcolor for document?

[2015-07-21 18:51] jdm commented on #6664
https://html.spec.whatwg.org/multipage/#dom-document-bgcolor

[2015-07-21 18:58] boghison commented on #6664
What should I do about workernavigator?

[2015-07-21 19:06] boghison commented on #6664
And testbinding(proxy)?

[2015-07-21 19:07] jdm commented on #6643
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1186125 about Gecko's noncompliance here, fwiw.

[2015-07-21 19:20] jdm opened #6689 "Make tidy check for a specification link in webidl files"
We want to ensure that every WebIDL file contains a comment with a link to the original specification.

code: python/tidy.py

[2015-07-21 19:22] jdm commented on #6664
As for workernavigator, you should be able to find everything you need at https://html.spec.whatwg.org/multipage/#the-workernavigator-object .

Oh, the testbinding one is a test that has no corresponding spec. Maybe add the ability to opt out via a comment at the top of the file?

[2015-07-21 19:38] boghison commented on #6664
Like this:
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
//NO SPEC TEST

[2015-07-21 19:55] jdm commented on #6664
I'd say `// check-tidy: no spec`

[2015-07-21 19:56] boghison commented on #6664
@jdm I'll make it local to this function, but this could be interesting as an enhancement. Could you file an issue?

[2015-07-21 20:09] boghison commented on #6664
So I have this left and I'd like some more help:
components/script/dom/htmlcollection.rs:232: no spec link was found for the respective function
components/script/dom/htmlcollection.rs:238: no spec link was found for the respective function
components/script/dom/performancetiming.rs:42: (much) overlong line
components/script/dom/domtokenlist.rs:85: no spec link was found for the respective functio

[2015-07-21 20:27] jdm commented on #6664
The specs talk about "supported property indices" for things like IndexedGetter/IndexedSetter/NamedGetter/NamedSetter. For example, https://html.spec.whatwg.org/multipage/#accessing-other-browsing-contexts .

I'm not sure why you have a long line error that wasn't there before. Are you using this style?
[code]

[2015-07-21 20:29] jdm commented on #6664
Some like HTMLCollection are in the DOM spec, like https://dom.spec.whatwg.org/#dom-htmlcollection-nameditem .

[2015-07-21 20:29] boghison commented on #6664
It is long because:
    // https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/NavigationTiming/Overview.html#dom-performancetiming-navigationstart

[2015-07-21 20:29] boghison commented on #6664
Should I use an url shortener?

[2015-07-21 20:31] boghison commented on #6664
That is not the same function.

[2015-07-21 20:31] jdm commented on #6664
Hah! I would just split it on two lines for now.

You can also feel free to recognise a special comment to allows methods to be missing a spec link, and we can fill them in later for the ones that are more difficult.

[2015-07-21 20:33] boghison commented on #6664
That won't work, because I am checking the previous line. I could just make the missing functions last, and then use the comment we talked about before.

[2015-07-21 20:45] boghison commented on #6664
I still need:
 - Console -> Debug
 - WorkerGlobalScope -> Console
 - Window -> Console; Crypto; Performace; Screen; Debug; Gc; Trap; WebdriverCallback; WebdriverTimeout

[2015-07-21 20:51] jdm commented on #6664
https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/NavigationTiming/Overview.html#sec-window.performance-attribute
debug, gc, trap, webdrivercallback, and webdriver timeout have no specs. They're all nonstandard additions by Servo.
For console, link to https://developer.mozilla.org/en-US/docs/Web/API/Console and https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/console

[2015-07-21 20:52] #5791 closed

[2015-07-21 20:52] boghison commented on #6664
@jdm Screen? Crypto?

[2015-07-21 21:02] boghison commented on #6664
Ok, I solved everything except the long line. If you want to, you can take a look at my commits in the tidyspec branch.

[2015-07-21 21:23] jdm commented on #6664
Exciting! I will note that many of the spec links are pointing at incorrect or outdated versions of the HTML5 spec, though. https://html.spec.whatwg.org/multipage/ is the canonical HTML5 spec, and you can see other appropriate ones in https://github.com/servo/servo/wiki/Relevant-spec-links .

[2015-07-21 22:14] jdm opened #6692 "Intermittent timeout in html/semantics/embedded-content/the-img-element/current-pixel-density/error.html"
[code]

[2015-07-22 00:07] glennw commented on #6643
enyo relies heavily on transforms for doing layout in js. But some of the transforms are failing to parse - looking into that now before fixing the hit test code.

[2015-07-22 13:06] jdm opened #6696 "Implement the WebSocket constructor that takes DOMString[]"
Or else `sequence<DOMString>` like Gecko, since `T[]` was removed from WebIDL. Depends on #544.

[2015-07-22 13:23] boghison commented on #6696
This depends on an open issue, that depends on a PR that was merged? Are there still any obstacles?

[2015-07-22 13:36] jdm commented on #6696
Nope!

[2015-07-22 13:39] boghison commented on #6696
@jdm Then #544 should be closed, shouldn't it?

[2015-07-22 13:44] jdm commented on #6696
No, #544 has not been resolved.

[2015-07-22 13:46] boghison commented on #6696
@jdm Sequence arguments are available, but not sequence return values. Is that correct?

[2015-07-22 14:19] #6651 closed

[2015-07-22 14:31] jdm commented on #6696
No, we do not support either:
* http://mxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/CodegenRust.py#1326
* http://mxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/CodegenRust.py#751

[2015-07-22 14:59] connorimes opened #6697 "Panic in http_loader using -x flag"
PR #6666 fixed issue #6587, but on some pages there is a panic.  This example uses http://www.google.com.  Some pages like http://www.example.com do not panic.

CC @glennw

<pre>
#0  0x0000555558231f80 in rust_panic ()
#1  0x000055555821f81e in rt::unwind::begin_unwind_inner::h0544b2c664549c40gQw
    ()
#2  0x000055555822017d in rt::unwind::begin_unwind_fmt::h5a900a56c2bf32ccmPw ()
#3  0x000055555

[2015-07-22 15:40] jdm commented on #6697
This is a symptom of an ongoing network connection after the document load event fires. Our networking code is very unwrap happy when errors occur (such as the script task no longer existing).

[2015-07-22 15:42] frewsxcv commented on #6590
I don't have any grand thoughts on the questions raised, but if work has already been put into this, it might be worth opening a PR just so it doesn't get bitrotted (as a result this PR would be split up into multiple PRs)

[2015-07-22 16:05] jdm commented on #6537
@mmatyas: Are these still required? I can get them merged if so.

[2015-07-22 19:05] #6676 closed

[2015-07-22 19:05] #6674 closed

[2015-07-22 19:05] #6680 closed

[2015-07-22 19:33] nick-thompson commented on #6229
@gaye are you working on this one? I'd like to take a stab at it if not.

[2015-07-22 20:11] jdm opened #6701 "Intermittent timeout in /html/semantics/document-metadata/the-base-element/base_href_unspecified.html"
[code]
The log also contains
[code]
which looks super suspicious.

[2015-07-22 20:25] #6689 closed

[2015-07-22 20:43] gaye commented on #6229
@nick-thompson Be my guest! I got caught up in some other work.

[2015-07-22 22:27] #6658 closed

[2015-07-22 22:40] dbrgn commented on #6589
I believe this can be closed? #6603 is merged.

[2015-07-22 22:47] jdm opened #6703 "Process Strict-Transport-Security header in HTTPS responses"
There's support for the header in hyper, so we should go ahead and follow the spec at http://tools.ietf.org/html/rfc6797#section-8.1 . @samfoo was this something you were interested in tackling?

Relevant code: components/net/http_loader.rs

[2015-07-22 22:50] #6589 closed

[2015-07-22 22:50] jdm commented on #6589
Yep, thanks!

[2015-07-23 02:09] samfoo commented on #6703
Yep, I'll take this up over the weekend. The client API for hyper has changed pretty substantially (SSL is totally different), so it will likely be non-trivial.

[2015-07-23 05:21] jdm opened #6704 "Box<Trait + Bound> gets reformatted as Box<Trait+ Bound>"
I think it's accidental? It's not a style I've seen elsewhere, at least.

[2015-07-23 05:22] #6704 closed

[2015-07-23 11:04] boghison opened #6708 "FileList is not defined"

[2015-07-23 11:09] boghison opened #6709 "thread 'LayoutWorker worker 3/3' panicked at 'Link to containing block not established; perhaps you forgot to call `set_absolute_descendants`?'"
Probably related to #6078.
stack backtrace:
   1:     0x7f33bcd02a4e - sys::backtrace::write::hfe027f56cae344aapps
   2:     0x7f33bcd06125 - panicking::on_panic::hcd0100c6199f27b1Cax
   3:     0x7f33bccf328e - rt::unwind::begin_unwind_inner::h0544b2c664549c40gQw
   4:     0x7f33ba6aff0c - rt::unwind::begin_unwind::h6058373089137628800
                        at src/libstd/rt/unwind/mod.rs:226

[2015-07-23 11:58] nox commented on #6229
I think I'm already covering this in #6660, you might want to work on something else. Sorry I didn't notice this ticket.

[2015-07-23 13:36] jdm commented on #6709
What site did you visit that triggered this?

[2015-07-23 13:46] boghison commented on #6709
@jdm http://boghison.github.io/pixelmusic

[2015-07-23 13:48] jdm commented on #6708
Spec: https://w3c.github.io/FileAPI/#dfn-filelist

Also relevant is https://html.spec.whatwg.org/multipage/forms.html#dom-input-files and https://html.spec.whatwg.org/multipage/forms.html#the-input-element:dom-input-files

[2015-07-23 13:50] boghison commented on #6708
@jdm Can I work on implementing this? :3

[2015-07-23 13:52] jdm commented on #5481
@bholley suggests that this isn't necessary, as only frames which are part of the same tree require synchronous access. Any two toplevel browsing contexts that are same origin can still be run in parallel and in isolation, and any two frames that are same-origin to each other but with a cross-origin frame interposed between them (ie. a.com contains b.com contains a.com) can also be run in isolatio

[2015-07-23 14:07] jdm commented on #6708
Sure!

[2015-07-23 15:01] boghison opened #6710 "Implement the Web Audio API"
The spec is [here](http://webaudio.github.io/web-audio-api/). A Google search reveals these audio libraries written in Rust:
- [RustAudio](https://github.com/RustAudio)
- [oxcable](https://github.com/thenyeguy/oxcable)

or write one.

[2015-07-23 15:13] jdm commented on #6710
http://mxr.mozilla.org/mozilla-central/source/dom/media/webaudio/ is a good reference here for Firefox's implementation. I'm pretty sure we wrote an audio library for this purpose, too: http://mxr.mozilla.org/mozilla-central/source/media/libcubeb/

[2015-07-23 15:14] SimonSapin commented on #6710
People interested in this should definitely talk to @padenot, who works on Web Audio in Firefox.

[2015-07-23 15:22] padenot commented on #6710
The Web Audio API has little to do with cubeb, and RustAudio or oxcable are not going to be very useful to implement it (they implement similar effect, but having something that is spec-compliant is a completely different story, while having something that is not spec compliant is not very useful).

That said, it would be appropriate to use cubeb as a system abstraction for audio output (and in fa

[2015-07-23 16:50] boghison opened #6711 "Add support for HTMLMediaElement"

[2015-07-23 16:55] boghison commented on #6708
@jdm I've implemented FileList, but did not edit the input element (because things like dialogs need to be created). Is this enough?

[2015-07-23 17:05] jdm commented on #6708
Yep.

[2015-07-23 17:11] Ms2ger commented on #6503
`get_mut` isn't going to cut it; we do call into this even with refcounts greater than one. This is plain and simple UB.

[2015-07-23 17:11] Ms2ger commented on #2698
Seems to have been fixed.

[2015-07-23 17:11] #2698 closed

[2015-07-23 17:37] nick-thompson commented on #6229
Yep, looks like your commit covers all of the code I was about to change. Thanks for the heads up, I'll look for something else.

I'll leave this for a more senior contributor to verify and close out ;)

[2015-07-23 17:49] nox opened #6713 "Cache the Document title"
Whenever Document.title_changed() is called by the virtual methods on HTMLTitleElement, the tree is traversed to find the first title element in the document and notify the chrome of the change.

The current title element should be cached in Document in a MutNullableHeap&lt;JS&lt;HTMLTitleElement&gt;&gt; field and be updated in bind_from_tree() and unbind_from_tree() in the virtual methods on HTML

[2015-07-23 17:51] nox commented on #6713
Cc'ing @nick-thompson who said he was interested in looking into this.

[2015-07-23 17:58] nick-thompson commented on #6713
Thanks, I'm on it!

[2015-07-23 21:17] #6172 closed

[2015-07-24 07:55] samfoo commented on #6703
Yay! Someone already did the work of upgrading hyper, so this was easy. I'm very concerned about the lack of testing around the load function, but it seems like that's a much bigger problem than is worth tackling in this commit.

The other bit I'm not sure about is how to persist the HSTS list between runs. There's no `write_resource_file` counterpart, and I'm not even sure that would be the right

[2015-07-24 07:59] farodin91 opened #6723 "Adding for support Blob.{close,isClose}"
Spec: https://w3c.github.io/FileAPI/#dfn-Blob

[2015-07-24 07:59] farodin91 commented on #6723
Ilike to do this

[2015-07-24 08:05] samfoo opened #6724 "Evaluating objects in devtools panics"
`./mach run http://google.com --devtools`

Connecting with Firefox devtools and then evaluating any object (e.g. `document` or `window`) panics the devtools task.

[code]

[2015-07-24 08:23] samfoo opened #6725 "Evaluating int32 in devtools panics"
Placeholder for upcoming pull request. Right now, the conditional assumes that all numbers are doubles. Some jsvals are int32's.

In devtools, evaluating:

[code]

Results in a panic where the handler drops through to evaluating an object.

[code]

[2015-07-24 10:49] #6725 closed

[2015-07-24 12:12] jdm commented on #6703
There's no persistence mechanism in Servo for the time being. Just add a TODO.

[2015-07-24 12:32] jdm opened #6727 "The networking code is hard to test"
We can write full integration tests in the form of pages that run in the WPT harness and Python scripts that control the server responses, but it's not particularly efficient. At some point we're going to implement an HTTP cache, and being able to test precisely how the networking stack treats a series of HTTP requests/responses will be important. Furthermore, the improvements for testing can lay

[2015-07-24 12:33] jdm commented on #6727
cc @samfoo does this address your concerns from #6703?

[2015-07-24 12:49] jdm opened #6728 "Remove FIXME comment in handle_evaluate_js"
As of #6726 the FIXME in the final branch of handle_evaluate_js is no longer correct. Let's remove it.

Relevant code: components/script/devtools.rs

[2015-07-24 12:55] jdm opened #6729 "Make webdriver handle integer return values"
In `jsval_to_webdriver` we handle doubles, but integers get ignored. We should add a check for `is_int32()` and use the same conversion code, like we do in `devtools::handle_evaluate_js`.

Relevant code: components/script/webdriver_handlers.rs

[2015-07-24 13:07] jdm commented on #6723
Go for it :)

[2015-07-24 13:59] jdm commented on #6724
Yep, the objects case is harder than others because we need to retain references to JS objects for as long as they might be able to be referenced by the devtools client. The fix here is:
* rather than panicking in `devtools::handle_evaluate_js`, send an `ActorValue` reply that includes a randomly-generated uuid
* create a new `ObjectActor` type that implements the `Actor` trait in the devtools cra

[2015-07-24 16:31] pcwalton opened #6730 ""html/semantics/embedded-content/the-img-element/Image-constructor.html : Image and HTMLImageElement share a prototype" fails in release builds"
Worked around it to unblock e10s in: https://github.com/servo/servo/commit/859f99d5e8bd6c1b84146e446aaf36baacd230c9

But there's something very strange going on here. Marked I-safety because it sounds like possible memory corruption.

[2015-07-24 17:58] jdm opened #6732 "Make images block the document load event"
This is made trickier by the fact that images start loading as soon as the src attribute is set, but the load shouldn't actually block the document unless the image is in the tree. This is also made more complex because the image cache is in charge of the event.

[2015-07-24 18:48] jdm opened #6733 "Ensure mouse events are dispatched to document/window as necessary"
I'm not sure what the spec mandates here, but I'm pretty sure our implementation is lacking.

[2015-07-24 19:34] boghison commented on #6711
@jdm Feel free to add the C-assigned label, as I will be working on this :)
To anyone who wants to help, the workflow looks something like this:
 - Accomplish #4990
 - Add the WebIDLs and their bindings
 - Implement Reader + Seek for Response
 - Make sure that Audio plays OK
 - Add audio controls
 - Figure out how to incorporate video into all of this

[2015-07-24 19:57] Ms2ger commented on #6733
This is just <https://dom.spec.whatwg.org/#concept-event-dispatch> step 4 (which we implement) plus <https://html.spec.whatwg.org/multipage/#events-and-the-window-object>, which I've been meaning to file once we have better tests for it, right?

[2015-07-24 20:00] jdm commented on #6711
This is ambitious, but I'll help any way I can :)

[2015-07-24 20:03] jdm opened #6734 "/webstorage/storage_local_setitem_quotaexceedederr.html crashes in release mode"
[code]

[2015-07-24 20:06] Ms2ger opened #6735 "Jumpy styles"
Test case from #4236 has jumpy styles. `-i` fixes. CC @pcwalton

[code]

[2015-07-24 20:07] #4236 closed

[2015-07-24 20:23] jdm commented on #6733
Yep.

[2015-07-24 20:25] jdm commented on #6733
Although I've been meaning to look into what other browsers do with mouse events that are not targeted at a particular child node of the body element - specifically, what if the mouse is being moved or clicked outside of the bounds of any page content, but inside the bounds of the enclosing frame?

[2015-07-24 20:56] jdm opened #6739 "Implement a quota of 5MB per origin for localstorage and sessionstorage"
From https://html.spec.whatwg.org/multipage/webstorage.html#dom-storage-setitem:
"If it couldn't set the new value, the method must throw a QuotaExceededError exception. (Setting could fail if, e.g., the user has disabled storage for the site, or if the quota has been exceeded.)"

There are a couple parts to this:
* add a `[Throws]` annotation to setItem in StorageEvent.webidl
* make the SetItem o

[2015-07-24 23:54] chotchki commented on #6729
I'll give this one a shot.

[2015-07-25 00:07] jdm commented on #6729
Great!

[2015-07-25 01:13] jdm opened #6743 "Android Nightly fails due to lack of GCC 4.7"
mozjs has configure checks for 4.7, which the nightly builder is apparently lacking.

[code]

cc @larsbergstrom

[2015-07-25 01:14] chotchki commented on #6739
I'll try this one next.

[2015-07-25 01:19] jdm commented on #6739
You're welcome to it!

[2015-07-25 01:45] chotchki commented on #6739
Hey @jdm, what would you prefer in this implementation?
1. Recaluate the quota everytime SetItem is called.
2. Cache the quota and mutate/update it on SetItem/Clear/Delete.

The first is simpler, the second should be higher performance.

[2015-07-25 02:14] jdm commented on #6739
I think caching the current usage makes sense.

[2015-07-25 12:38] s142857 commented on #6728
I think i can do it

[2015-07-25 13:11] jdm commented on #6728
I think so as well!

[2015-07-25 13:17] jdm opened #6747 "Intermittent font server IPC errors followed by assertion failure"
[code]

[code]

[code]

[2015-07-25 13:57] jdm opened #6748 "Intermittent timeout in /2dcontext/building-paths/canvas_complexshapes_beziercurveto_001.htm"
[code]

[2015-07-25 14:21] jdm opened #6750 "Consolidate the common code in FileReader::ReadAsDataURL/ReadAsText"
There's a lot of duplicated code, so it can be refactored into a common implementation.

[2015-07-25 14:24] jdm opened #6751 "FileReader::read doesn't need to return anything"
It can't fail, so it doesn't need to return a `Result` value.

Code: components/script/dom/filereader.rs

[2015-07-25 14:29] jdm opened #6752 "Combine the Process enum and FileReaderEvent struct"
These types are always used together, but in an indirect manner. I propose renaming `Process` as `FileReaderEvent` and implementing `Runnable` on it. The body of the `handler` method can be the body of `Process::handle`.

Code: components/script/dom/filereader.rs

[2015-07-25 14:30] jdm commented on #6752
Additionally, making `perform_annotated_read_operation` use the `Sender` directly will be easier to understand, I think.

[2015-07-25 14:42] jdm opened #6753 "Unnecessary cloning in perform_annotated_read_operation"
There's no need for this cloning, since we're just moving the values immediately. I think we can just remove the variables entirely and use `readdata.whatever` when necessary.

Code: components/script/dom/filereader.rs

[2015-07-25 15:27] s142857 commented on #6728
one question, you only want me to remove the comments

[2015-07-25 15:38] jdm opened #6754 "Dispose of layout data for every node removed from the tree"
When we remove nodes from the DOM tree, we want to free up any layout resources associated with those nodes. The code in `node_removed` only does this for the root node of a tree that is removed from the DOM, though. We should move the call into the loop over all of the nodes in the tree, instead.

Code: components/script/dom/node.rs

[2015-07-25 15:56] s142857 commented on #6728
https://github.com/servo/servo/pull/6755

[2015-07-25 15:57] boghison commented on #6711
Seems like rust-media needs a lot of updating

[2015-07-25 16:00] s142857 commented on #6751
components/script/dom/filereader.rs dosent exist

[2015-07-25 16:01] jdm opened #6756 "Use jsstring_to_str in handle_evaluate_js"
The FIXME in `handle_evaluate_js` about using `jsstring_to_str` is now possible to fix, since [to_string](https://github.com/servo/rust-mozjs/blob/master/src/jsval.rs#L348) now exists.

Code: components/script/devtools.js

[2015-07-25 16:03] jdm commented on #6751
Are you using a recent version of the Servo code? http://mxr.mozilla.org/servo/source/components/script/dom/filereader.rs suggests that it does :)

[2015-07-25 16:03] s142857 commented on #6751
sorry, could you explain what you want me to do

[2015-07-25 16:04] jdm commented on #6711
Yep. It had a problem when we attempted to add it to Servo so we haven't had to upgrade it every time we change Rust versions.

[2015-07-25 16:18] boghison commented on #6711
Well, I can't really do anything until at least its dependencies get organized and managed. May I suggest transferring rust-media to servo?

[2015-07-25 16:52] jdm commented on #6711
It's possible to work on rust-media locally and use your changes in Servo: http://doc.crates.io/guide.html#overriding-dependencies
Just clone rust-media and recreate the changes from https://github.com/servo/servo/pull/4990 .

[2015-07-25 16:54] jdm commented on #6751
http://mxr.mozilla.org/servo/source/components/script/dom/filereader.rs#393 can't fail; it only returns `Ok(())`. That means that we can change the declared return type to void and update any callers.

[2015-07-25 16:56] boghison commented on #6711
I know that :) But, I can't keep using it locally forever. There are PRs in its dependencies to fix and update stuff, but they haven't been merged

[2015-07-25 17:24] jdm opened #6758 "The "loading" button on Dromaeo tests never disappears"
It's still possible to run them by clicking where the "run" button should be, but we should figure out why this happens.

#5406

[2015-07-25 17:29] jdm opened #6759 "Automate the Dromaeo core DOM tests"
I want to be able to run a mach command, wait a couple minutes and see the table of results. This requires:
* extracting the actual tests and test runner into a separate single page that runs as soon as it is loaded
* reporting the final numbers via console.log
* adding a mach command that runs servo in headless mode pointing at the new page

https://github.com/jeresig/dromaeo

[2015-07-25 17:31] jdm commented on #6759
Inspiration: http://src.chromium.org/svn/trunk/src/tools/dromaeo_benchmark_runner/dromaeo_benchmark_runner.py

[2015-07-25 17:32] jdm commented on #6759
https://github.com/scheib/chromium/blob/master/chrome/test/data/dromaeo/README.chromium is also informative.

[2015-07-25 17:35] jdm commented on #6758
This seems to be #6599 (https://github.com/jeresig/dromaeo/blob/ed7e6a8f25ea72f45c191f34a68722f80dc3c513/dep/web/index.html#L41 and https://github.com/jeresig/dromaeo/blob/ed7e6a8f25ea72f45c191f34a68722f80dc3c513/dep/web/webrunner.js#L414)

[2015-07-25 17:35] #6758 closed

[2015-07-25 17:40] jdm commented on #5408
Fixed by #6600.

[2015-07-25 17:40] #5408 closed

[2015-07-25 17:51] jdm opened #6762 "Remove error handling from step 8.2 of process_read_eof"
Neither of FileReader::perform_readasdataurl or FileReader::read_dataastext return anything besides `Ok(())`. We can change their return values to void and remove all of the error checking about them in process_read_eof.

Code: components/script/dom/filereader.rs

[2015-07-25 17:54] jdm opened #6763 "Make Blob::read_out_buffer take a Sender argument instead of returning a Receiver"
Right now Blob::read_out_buffer is in charge of creating a sender/receiver pair. We should put the caller in charge of this instead, by passing a Sender argument for the Blob code to use.

Code: components/script/dom/blob.rs

[2015-07-25 17:58] jdm opened #6764 "Make Blob::read_out_bytes always send a vector"
The fact that there may be a None value internally is not important to consumers. We should send an empty vector if there is none stored in the blob.

Code: components/script/dom/blob.rs

[2015-07-25 17:58] jdm commented on #6764
Specifically, the channel used should be a `Vec<u8>`, not `Option<Vec<u8>>`.

[2015-07-25 18:16] pcwalton opened #6765 "Can't upgrade hyper, "cookie" depends on itself"
`mach cargo-update -p hyper` fails because `cookie` depends on itself.

I guess it's because of the `secure` Cargo feature that we're using `cookie` with.

[2015-07-25 18:20] pcwalton commented on #6765
cc @alexcrichton -- this may well be a Cargo bug.

[2015-07-25 18:20] pcwalton commented on #6765
This blocks e10s, incidentally.

[2015-07-25 18:27] jdm opened #6766 "Clean up redundant matches in perform_readastext"
For the implementation of step 4, there's a match with a `Some(e) => Some(e)` arm. That's redundant, so we can clean up the code by using a simple `if encoding.is_none()` instead of a match.

Code: components/script/dom/filereader.rs

[2015-07-25 18:29] jdm commented on #6766
For the implementation of steps 1, 2, and 3, we can just use `blob_body.label.map(` instead of a `match` that has a `None => None` arm.

[2015-07-25 18:47] #4704 closed

[2015-07-25 18:52] pcwalton commented on #6765
Here's the complete tree of dependencies starting at `cookie`.

    cookie
        openssl
            bitflags
            lazy_static
            libc
            openssl-sys
                gcc
                libc
                libressl-pnacl-sys
                    pnacl-build-helper
                        tempdir
                            rand
                                libc

[2015-07-25 18:53] jdm opened #6767 "Allow devtools to communicate with workers"
Right now we create a channel that the devtools can send things to, but we ignore the receiver and the worker does not watch for messages: http://mxr.mozilla.org/servo/source/components/script/dom/worker.rs#81

We should store the receiver in the new WorkerGlobalScope that gets created, and have DedicatedWorkerGlobalScope::run_worker_scope change from matching on a single receiver to selecting ove

[2015-07-25 19:00] jdm opened #6768 "Merge common fields of BlobBody and ReadData into a new struct"
There's a bunch of overlap between the two structs and the common data just gets passed around a bunch. We should create a ReadMetadata struct, remove BlobData and ReadData, and replace them like so:
`fn foo(data: ReadData)` becomes `fn foo(data: ReadMetadata, blob_contents: Sender<Option<Vec<u8>>>)`, while `fn foo(data: BlobData)` becomes `fn foo(data: ReadMetadata, blob_contents: Option<Vec<u8>>

[2015-07-25 19:04] pcwalton commented on #6748
Could just be serialization slowness. This might go away once @erickt lands bincode support in serde.

[2015-07-25 19:04] #6148 closed

[2015-07-25 19:04] #6229 closed

[2015-07-25 19:06] jdm commented on #4892
The above-mentioned Cargo issue is fixed, so this may be worth looking into once more.

[2015-07-25 19:07] jdm commented on #4468
Fixed by #5767.

[2015-07-25 19:07] #4468 closed

[2015-07-25 19:11] jdm opened #6769 "Check if HTMLImageElement.naturalWidth/naturalHeight respect the device pixel ratio"
This should be easy to figure out by using the "device-pixels-ratio" commandline argument: http://mxr.mozilla.org/servo/source/components/util/opts.rs#278 . If the values for a fully loaded image are not different using two different DPRs, we don't support it yet.

[2015-07-25 19:11] jdm commented on #6769
Specifically, this requires creating a webpage that contains an image, waiting until the image is loaded and using JS to display the values of the naturalWidth/naturalHeight properties of that image element.

[2015-07-25 19:13] boghison commented on #6664
@jdm Why was this closed?

[2015-07-25 19:18] Ms2ger commented on #6733
The root element covers the viewport.

[2015-07-25 19:20] jdm commented on #6664
Oops, I thought the PR had merged already. My mistake.

[2015-07-25 19:24] jdm commented on #6664
For future reference the PR is #6699.

[2015-07-25 20:12] jdm opened #6772 "MouseEvent.which broke Dromaeo"
There's now an unhandled DOMException from when a test either accidentally or intentionally checks the `which` property on a MouseEvent, since our implementation throws an exception if you're not using experimental mode. We should either add a way to do conditional interface definition or make our implementation return 0 instead of throwing.

cc @glennw @Ms2ger

[2015-07-25 20:14] jdm commented on #6772
I'll also note that the error message for this was exceptionally terrible:
`ERROR:js::rust: Error at none:0: uncaught exception: [object DOMException]`

[2015-07-25 22:08] notriddle commented on #6769
Should this go into the test suite, or do you just want an informational report?

[2015-07-25 22:10] notriddle commented on #6766
:hand:

[2015-07-25 22:12] jdm commented on #6766
It's yours!

[2015-07-25 22:12] jdm commented on #6769
I don't believe there's a convenient way to test this, since the DPR is not something that can be set programmatically in a cross-browser fashion (which is what the web-platform-tests are designed to be).

[2015-07-26 02:45] r0e commented on #6768
Hi Jdm, I'd like to give this a go.

[2015-07-26 03:09] jdm commented on #6768
Go for it!

[2015-07-26 03:37] jdm opened #6775 "Implement receiving messages for WebSockets"
Our websocket implementation only allows sending messages right now. We need to do the following:

* spawn a new thread after successfully establishing a connection (see `WebSocket::Constructor` for where this takes place)
* make a loop that watches for new messages on the `temp_receiver` that is currently ignored (
* when a new message arrives, send a `ScriptMsg::RunnableMsg` to the owning thread

[2015-07-26 05:20] samfoo commented on #6727
Yep, it's a great start.

[2015-07-26 07:05] frewsxcv commented on #6752
@Wafflespeanut did part of this in https://github.com/servo/servo/pull/6761 and mentioned they are going to make the `perform_annotated_read_operation` changes as well, so marking this as assigned for now

[2015-07-26 07:07] frewsxcv commented on #6765
Should a bug be opened in rust-lang/cargo to track this?

[2015-07-26 08:07] Wafflespeanut commented on #6752
@frewsxcv Actually, this has been fixed in my PR. So, we can close this :)

[2015-07-26 09:02] frewsxcv commented on #6752
:sparkles:

[2015-07-26 09:02] #6752 closed

[2015-07-26 09:23] s142857 commented on #6751
l'll do it

[2015-07-26 14:02] #6766 closed

[2015-07-26 14:18] farodin91 commented on #6753
By closing the issue #6768, i think, this also closed.

[2015-07-26 18:50] jdm opened #6780 "Intermittent timeout in /2dcontext/building-paths/canvas_complexshapes_arcto_001.htm"
[code]

[2015-07-26 20:18] notriddle commented on #6764
:hand: I'd like to try this one.

[2015-07-27 01:29] claisan commented on #3899
Why I've got this warning?
$ ./mach build -r
Downloading Rust snapshot...
Download failed (404): Not Found - https://servo-rust.s3.amazonaws.com/fddfd089b75379f1d25f81541572d69a93f95c4f/rustc-1.3.0-dev-i686-unknown-linux-gnu.tar.gz
Note: Servo does not currently bootstrap 32bit snapshots of Rust
See https://github.com/servo/servo/issues/3899

[2015-07-27 01:47] glennw commented on #6643
Partial fix for hit testing (needs servo integration) https://github.com/servo/euclid/pull/98

Fix for mouseevent.which https://github.com/servo/servo/pull/6691

[2015-07-27 01:56] jdm commented on #3899
@larsbergstrom Did we consciously decide to stop publishing 32 bit snapshots?

[2015-07-27 05:47] claisan commented on #3899
OK. Just now I've seen that "it is currently developed on 64bit OS X, 64bit Linux, Android, and Gonk". Sorry and thanks for your reply.

[2015-07-27 05:48] claisan commented on #3899
OK. Just now I've seen that Servo "is currently developed on 64bit OS X, 64bit Linux, Android, and Gonk". Sorry and thanks for your reply.

[2015-07-27 11:26] frewsxcv commented on #1824
Was this completed in #6559?

[2015-07-27 11:41] frewsxcv commented on #4335
Update on this: #5684 has merged.

[2015-07-27 11:53] #4335 closed

[2015-07-27 11:54] #4338 closed

[2015-07-27 11:56] jdm opened #6785 "Intermittent timeout in /html/semantics/embedded-content/the-img-element/current-pixel-density/error.html"
[code]
Looks super similar to #6701.

[2015-07-27 12:07] larsbergstrom commented on #3899
Hrm, it looks like I just don't have the Linux snap builder set up correctly. I was wondering why they were only taking 4 hours instead of the usual 6 - that's probably it! I'll re-add them.

[2015-07-27 13:17] jdm commented on #6775
I am told that @Ms2ger is already working on this.

[2015-07-27 13:38] jdm opened #6787 "Extract layout query code into a separate file"
layout_task.rs is becoming unwieldy, and will only continue to grow. I propose extracting `LayoutRPCImpl`, `UnioningFragmentBorderBoxIterator`, `CollectingFragmentBorderBoxIterator`, `process_content_box_request`, and `process_content_boxes_request` (these two don't use the `self` argument) into a new file in `layout` called `query.rs`.

Code: components/layout/layout_task.rs

[2015-07-27 14:34] SimonSapin commented on #4032
We haven’t been using green-rs for a while. A fresh build without my work-around described above worked fine.

[2015-07-27 14:34] #4032 closed

[2015-07-27 15:30] jdm opened #6789 "Add a unit test that ensures that hsts_preload.json can be decoded and is non-empty"
This should be a new test added to `tests/unit/net/hsts.rs` that calls `preload_hsts_domains` from `components/net/hsts.rs` and checks the return value.

[2015-07-27 15:41] metajack commented on #6503
@ms2ger What is UB?

[2015-07-27 16:04] jdm commented on #6503
Undefined behaviour.

[2015-07-27 16:17] pcwalton commented on #6765
I worked around this by updating all dependencies at once and then manually trimming down Cargo.lock.

[2015-07-27 16:36] jdm opened #6791 "Allow using bufferData with more than just float32 arrays"
bufferData is allowed to take any kind of array, and we should just extract the underlying bytes and pass them on as far as I can tell.

[2015-07-27 16:46] notriddle commented on #6789
:hand: I'd like to try.

[2015-07-27 17:02] jdm commented on #6789
It's yours!

[2015-07-27 17:08] alexcrichton commented on #6765
I tried to look into this over the weekend but didn't come up with much. I definitely think this is a Cargo bug though so I've opened https://github.com/rust-lang/cargo/issues/1841

[2015-07-27 18:23] RoboMantis commented on #6789
this is my first time with bugs ahoy, I've learned a little rust over the course of the week and read the manual and completed some of the rustbyexample.com
however I am doing this from a public library and may not be able to download anything(unless my buddy brings my computer back)  so how can I help?
and will play.rust-lang.com be enough.
I plan on making a very dedicated effort here maybe 1 to

[2015-07-27 19:10] jdm commented on #6789
Sorry @RoboMantis, any code-based contributions to Servo will require downloading the Servo source code and associated other tools (like our custom Rust compiler).

[2015-07-27 19:21] RoboMantis commented on #6789
ah ha, thats alright I should get my computer back next week, I can do. for now I'll be watching https://air.mozilla.org/the-joy-of-coding-mconley-livehacks-on-firefox-episode-19/

[2015-07-27 22:14] RoboMantis commented on #6789
https://koding.com
This is a startup that lets you use a linux vm in the web browser, and can even start servers and everything, so I guess I can still go now?!! !!! because I can download to this place I followed the link through coindesk.com yay! all from the browser haha.
I'm ready to get started, is it kinda like whoever has the answer just plugs it in huh? is most of the work about searching

[2015-07-27 22:16] jdm commented on #6789
Yes, you can just choose any issue that isn't already assigned and give it a try. This one has the "C-assigned" label, so you'll need to find a different one.

[2015-07-27 23:47] nick-thompson commented on #6756
Sounds simple enough. Mind if I take it?

[2015-07-27 23:51] bholley commented on #5481
This isn't quite true, due to window.open etc. The spec lays it out nicely here: https://html.spec.whatwg.org/#groupings-of-browsing-contexts

[2015-07-27 23:51] nick-thompson commented on #6756
Oops, didn't realize the PR for it. I'll find something else :)

[2015-07-28 00:03] nick-thompson commented on #6754
Looks like 7b40cc9fd7ea4dcc3816be0cb1ad6543bb5c88e0 removed the `node_removed` function in favor of a `children_changed` function. To my eye, it seems to address disposing layout data for each child removed as well, but someone with a little more Rust/Servo experience should check that.

[2015-07-28 00:22] jdm commented on #6754
I don't believe the situation has changed - we still only dispose of the layout data for the root child node that is being removed from a parent.

[2015-07-28 02:45] #6764 closed

[2015-07-28 03:13] dzbarsky opened #6799 "getBoundingClientRect does not account for transform or margin"
Following testcase shows 5 in Servo, 106 in Firefox/Chrome.

[code]

[2015-07-28 04:38] nick-thompson commented on #6754
Ok! I'll dig in.

[2015-07-28 07:06] farodin91 commented on #6762
I take it. Okay?

[2015-07-28 07:09] farodin91 commented on #6750
I take it. Okay?

I would move all in FileReader::read. But this resolved than #6751.

[2015-07-28 07:13] khflab commented on #6756
to_string() returns JSString and EvaluateJSReply::StringValue is expecting String.

I tried to find the answer inside FromJSValConvertible looking how works but without success

How to fix it?

[2015-07-28 07:49] farodin91 commented on #6564
I get this error by testing acid3.

thread 'ScriptTask PipelineId(0)' panicked at 'Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.', /home/farodin/Git/servo/components/script/dom/bindings/conversions.rs:472

[2015-07-28 08:45] SimonSapin commented on #6564
@farodin91, that’s #6519.

As the error message says, you can add that command line option to make Servo continue despite the error, and test 68 of Acid 3 will succeed. Many other Acid3 tests are currently failing, though, and we’re not actively trying to fix as Acid 3 is not very representative of real content.

[2015-07-28 12:01] mmatyas commented on #6537
I've found the problem, [apparently](https://www.gnu.org/software/make/manual/html_node/Implicit-Variables.html) Make defines some variables implicitly, so commands like `CC ?= something` don't work. Adding `-R` (short for `--no-builtin-variables`) in `build.rs` files fixes the problem, works for both Android and ARM.

[2015-07-28 12:38] farodin91 commented on #6763
I take it. Okay?

[2015-07-28 12:48] jdm commented on #6763
Yep!

[2015-07-28 13:02] boghison commented on #6711
@jdm I have 2 questions:
 - Is it mandatory to use rust-media?
 - How would we go about video?

[2015-07-28 13:13] farodin91 opened #6805 "WebGlContext Crashing"
System: Ubuntu 15.04
GPU: GTX 560 Ti
Driver: version 346.59

[code]

[2015-07-28 13:17] jdm commented on #6805
@ecoal95 Any suggestions here?

[2015-07-28 13:22] jdm opened #6806 "Make webgl creation fallible"
We call `unwrap` on a result in `handle_create_webgl_paint_task_msg`. We should make the `IpcSender<(IpcSender<CanvasMsg>, usize)>` take a `Result` instead, and we can return an `Err` value from `WebGLRenderingContext::new_inherited` where the `CreateWebGLPaintTask` message is sent from.

Code: components/script/dom/webglrenderingcontext.rs, components/compositing/constellation.rs, components/msg/

[2015-07-28 13:33] jdm commented on #6799
Relevant code is the UnioningFragmentBorderBoxIterator.

[2015-07-28 13:45] Wafflespeanut opened #6808 "Remove the unused import in `mouseevent.rs`"
There's an unused import in http://mxr.mozilla.org/servo/source/components/script/dom/mouseevent.rs#9. We don't need it for now. Burn it!

[2015-07-28 13:47] metajack commented on #6711
What do you mean by mandatory? rust-media was created specifically for doing this in Servo. What would you use instead?

[2015-07-28 13:49] jdm commented on #6756
The missing link is `jsstring_to_str` which takes a `*mut JSString` and returns `String` :)

[2015-07-28 14:10] ecoal95 commented on #6805
With the introduction of e10s, the WebGL pain task result is unwrapped, I'll take care of it :P

[2015-07-28 14:43] jdm commented on #6808
Will be fixed by #6810.

[2015-07-28 14:43] #6808 closed

[2015-07-28 14:44] jdm commented on #6805
@ecoal95 Well, that can be dealt with in #6806, but I'm curious about the reason the creation actually failed.

[2015-07-28 15:12] ecoal95 commented on #6805
@jdm That error is returned when `glxChooseFbConfig` returns null. If no x11/glx errors appeared (they should be catched by glutin printing the error code), it just means that there's no framebuffer configuration able to render on a pixmap...

With more info from @farodin91 (output of `glxinfo` for example) we could debug it.

@farodin91 does any context creation on that page fails on firefox?

[2015-07-28 15:15] frewsxcv commented on #3368
@notriddle Did you make progress on this? Run into any issues? I noticed you have a commit on your forked Servo

[2015-07-28 15:16] farodin91 commented on #6805
https://pastebin.mozilla.org/8840824

[2015-07-28 15:19] farodin91 commented on #6805
@ecoal95 How can i test this in Firefox?
Nothing in the Web Console & Browser Console

[2015-07-28 15:29] ecoal95 commented on #6805
@farodin91 Sorry, firefox doesn't log anything when it fails to create a context. The only thing that page does to test webgl support is effectively `document.createElement('canvas').getContext('webgl')`.

Paste that in the console, you should get `null` instead of `WebGLRenderingContext { ... }`

[2015-07-28 15:33] farodin91 commented on #6805
In Firefox i get WebGLRenderingContext

[2015-07-28 15:46] ecoal95 commented on #6805
I've been testing, and it happens to me too, but just in release mode. Even in the simplest webgl test we have:

[code]

[code]

@farodin91 could you do the same? (you will get a crash instead of the error message but...)

@jdm do you know what could trigger this just in release mode?

[2015-07-28 16:03] notriddle commented on #3368
I had it mostly working (WebP wouldn't work, but I think that might be a
problem in Piston-Image). But then they made images serializable, and that
broke it.

On Tue, Jul 28, 2015 at 8:16 AM Corey Farwell <notifications@github.com>
wrote:

[2015-07-28 16:09] farodin91 commented on #6805
In debug it crashed.
In release I don't know wait nearly 18 min for complete build, it isn't finished. I doesn't know why?

[2015-07-28 16:11] dzbarsky commented on #6799
The transform should be accounted for in UnioningFragmentBorderBoxIterator, but the border_box that's passed in is already wrong because it doesn't account for margin.  I have a fix for that but I want to discuss with @pcwalton .

[2015-07-28 16:17] ecoal95 commented on #6805
I checked out a version pre-e10s (a3821bf) and worked nicely in both release and debug mode...

[2015-07-28 16:17] frewsxcv commented on #6144
Update: #6135 has been completed

[2015-07-28 16:20] farodin91 commented on #6805
Both are crashing!

[2015-07-28 16:20] frewsxcv commented on #6089
This might have been completed in #6582

[2015-07-28 16:39] jdm commented on #6089
Yep!

[2015-07-28 16:39] #6089 closed

[2015-07-28 16:40] jdm commented on #6805
@pcwalton e10s regression!

[2015-07-28 16:44] jdm commented on #3368
@notriddle Other libraries have accepted configurable serialization PRs, such as https://github.com/servo/rust-url/pull/118 and https://github.com/hyperium/hyper/pull/603 . Might be worth a try!

[2015-07-28 16:45] #6664 closed

[2015-07-28 16:47] ecoal95 commented on #6805
Checked out e10s version (next commit, bb99b2f) and it crashes on release but works on debug mode.

@farodin91 Could you tell us if when you run `glxinfo -v` you see a FBConfig with pixmap type? It should look like this:

[code]

Maybe Firefox is using a different WebGL backend for him, and @farodin91's issue is just the lack of FBConfigs which allow rendering to a pixmap (though it will be weird)

[2015-07-28 16:50] frewsxcv commented on #1713
Was this completed in #6797?

/cc @glennw

[2015-07-28 16:57] jdm commented on #1713
Yep!

[2015-07-28 16:57] #1713 closed

[2015-07-28 16:59] frewsxcv commented on #2127
Support was never removed for `pub use` globs so this isn't much of a concern anymore

[2015-07-28 17:00] #2127 closed

[2015-07-28 17:07] farodin91 commented on #6805
https://pastebin.mozilla.org/8840838

[2015-07-28 17:20] jdm opened #6813 "Explore the minimum requirements for writing DOM unit tests"
At minimum we need to initialize a JS runtime, create a Window and a Document. Creating a Window is in itself a fun process: http://mxr.mozilla.org/servo/source/components/script/dom/window.rs#984

One could argue that the easiest way forward is just to create a ScriptTask: http://mxr.mozilla.org/servo/source/components/script/script_task.rs#390 in order to reduce any potential duplication and ens

[2015-07-28 17:36] jdm commented on #6805
Pastebin is cutting off your output; can you use https://gist.github.com/gists instead?

[2015-07-28 17:37] farodin91 commented on #6805
Okay

[2015-07-28 17:39] farodin91 commented on #6805
https://gist.github.com/farodin91/0ad01b3b7e9c1607efef

[2015-07-28 17:51] boghison commented on #6711
@metajack By mandatory I mean required. It is also possible to use Rust bindings to libraries, but I don't know how to handle video.

[2015-07-28 18:29] jdm commented on #6711
I don't think it makes sense to try to use anything else besides rust-media.

[2015-07-28 18:48] boghison commented on #6711
Why?

[2015-07-28 19:00] jdm commented on #6711
Because rust-media was designed for this task. What is the problem you're encountering when trying to use it?

[2015-07-28 19:24] jdm commented on #6590
Given that this isn't as clear-cut as originally believed, and since I agree with @fitzgen's ambivalence about the `foo.r()` -> `&*foo` transformation, I'm inclined to close this.

[2015-07-28 19:24] #6590 closed

[2015-07-28 21:55] notriddle commented on #6759
I'd like to work on this one.

[2015-07-28 22:56] jdm commented on #6759
You would be welcome to it!

[2015-07-28 23:59] notriddle commented on #6759
When running the `Prototype - update()` test the third time, the LayoutWorker stack overflows. The RUST_BACKTRACE=1 environment variable doesn't cause it to print a stack trace. Any idea how to get one?

[2015-07-29 00:41] gordonbrander opened #6816 "translate3d() causing element not to be fully rendered"
When you style an element with `translate3d()` it often won't be drawn. In fact, the only elements that show up are those that fall within a box about (0, 0, 250, 250) -- I'm guessing this is the boundary of the top left render tile?

Here's a test case http://gordonbrander.com/2015-07-servo-translate3d/.

[2015-07-29 00:41] metajack commented on #6816
cc @glennw

[2015-07-29 00:48] jdm opened #6818 "Intermittent crash in /css21_dev/html4/counter-reset-increment-002.htm"
[code]

[2015-07-29 00:50] jdm commented on #6759
If you run under gdb/lldb and break on rust_panic you can examine it. I don't know what to do if RUST_BACKTRACE isn't making it show up automatically, unfortunately.

[2015-07-29 01:12] jdm opened #6819 "Intermittent timeout in /css21_dev/html4/absolute-replaced-height-012.htm"
[code]

[2015-07-29 01:12] jdm opened #6820 "Intermittent timeout in /css21_dev/html4/absolute-replaced-height-033.htm"
[code]

[2015-07-29 01:13] jdm opened #6821 "Intermittent timeout in /css21_dev/html4/block-replaced-height-005.htm"
[code]

[2015-07-29 02:05] #6789 closed

[2015-07-29 02:07] frewsxcv commented on #5478
Here's an updated link to the line that needs to be changed:

https://github.com/servo/servo/blob/2df88ee4b97fbc347dc99869b6989605760b662e/components/compositing/constellation.rs#L539

[2015-07-29 02:21] notriddle commented on #6759
Most of the backtrace looks like this:

[code]

Where left is always 0, and right is decreasing slowly.

Maybe we should be using an [introsort], since it won't ever blow our stack? I'm almost certain it's related to [that layout leak], but switching seems like a good idea anyway.

[introsort]: https://crates.io/crates/introsort
[that layout leak]: https://github.com/servo/servo/pull/6815

[2015-07-29 02:25] jdm commented on #6759
That may be worth looking into. Could you file a separate issue for it?

[2015-07-29 02:27] notriddle commented on #6759
Which one? The layout leak, switching to introsort, or the general stack blowup?

[2015-07-29 02:28] jdm commented on #6759
The stack blowup for sure, and that's a fine place to propose switching to introsort too.

[2015-07-29 02:35] notriddle opened #6824 "LayoutWorker stack overflow when running Dromaeo"
(This output from the test harness for #6759).

[code]

And this is the top of the stack trace, reported by gdb:

[code]

[2015-07-29 02:40] notriddle commented on #6824
FYI, you'll want my [modified Dromaeo], for automated mode and console output.

[modified Dromaeo]: https://github.com/notriddle/dromaeo

[2015-07-29 03:03] frewsxcv commented on #2925
Considering the build system no longer uses makefiles, is there anything else to be done for this?

[2015-07-29 03:13] jdm commented on #2925
Nope!

[2015-07-29 03:13] #2925 closed

[2015-07-29 03:15] jdm commented on #6824
@pcwalton does the quicksort_helper look like it's working correctly to you? Each stack frame shows it decreasing the value for `right` by 1.