[2019-10-15 10:08] mmiecz commented on #22888
Hi, I am having some hardware problems since I’ve upgraded recently and I can’t boot to Linux where I have my servo code :( I am trying to resolve this issue right no, sorry for the delay!

[2019-10-15 10:30] saschanaz commented on #24406
@highfive assign me

BTW, is it expected that the bot just adds a label without actually adding me as an assignee?

[2019-10-15 10:30] highfive commented on #24406
Hey @saschanaz! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-15 11:55] CYBAI commented on #24406
Yes, `highfive` bot will only add the `C-assigned` label because GitHub didn't support assigning someone out of the organization when the bot was created.

[2019-10-15 12:00] CYBAI commented on #24406
Btw, maybe it's good to add the testcase you gave into this one 👀?

https://github.com/servo/servo/blob/1f6402465579e787e63b34b24ac46593c27c2f3d/tests/wpt/web-platform-tests/url/urlsearchparams-constructor.any.js#L150-L158

[2019-10-15 12:02] paulrouget commented on #24439
It's an issue in babylonjs. Talking the the devs.

[2019-10-15 12:03] jdm commented on #24446
I did.

[2019-10-15 12:04] saschanaz commented on #24406
This is a general binding problem so it's possible that there already is a failing test elsewhere. I might check after implementing a fix.

[2019-10-15 12:07] jdm commented on #24419
Since WebRender needs it, this is difficult.

[2019-10-15 12:07] #24419 closed

[2019-10-15 12:25] paulrouget commented on #24437
Now it's crashing in `CoreUIComponents` followed by the "finding your space" UI to pop up in a loop. Likely an openxr/hl issue.

[2019-10-15 12:26] SimonSapin commented on #24446
Could you make sure appropriate teams have push access? Thanks

[2019-10-15 12:34] jdm commented on #24446
Done

[2019-10-15 12:38] jdm commented on #21254
I like that idea!

[2019-10-15 13:16] #15012 closed

[2019-10-15 13:16] #21463 closed

[2019-10-15 13:50] jdm opened #24450 "Update img.complete implementation to match spec"
https://github.com/whatwg/html/pull/4934

[2019-10-15 14:17] paulrouget commented on #24437
I can not reproduce with MS-provided OpenXR apps. Trying to put together a test case.

[2019-10-15 21:02] atouchet commented on #21253
secureConnectionStart is done now.

[2019-10-15 22:26] #24032 closed

[2019-10-16 04:22] CYBAI commented on #21067
[code]

[2019-10-16 04:59] twilco commented on #24450
I'll take a crack at this!  @highfive: assign me?

[2019-10-16 04:59] highfive commented on #24450
Hey @twilco! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-16 05:38] paulrouget commented on #24439
Fixed in babylonjs.

[2019-10-16 05:38] #24439 closed

[2019-10-16 06:39] gterzian opened #24454 "WebMessaging: fully support MessageEventSource"
This requires extending `MessageEvent` and `ExtendableMessageEvent` with `MessageEventSource`, and setting it to the right object when the event is dispatched.

`MessageEvent` only supports `WindowProxy` as source.

Spec: https://html.spec.whatwg.org/multipage/comms.html#messageeventsource

Webidls to be updated:

https://github.com/servo/servo/blob/b96b08a3d9dd7dc042de869b0a109435af776a89/compone

[2019-10-16 06:44] gterzian commented on #24454
When the webidl are updated, running `./mach check` will generate the `MessageEventSource` binding, which can then be imported in a way similar to https://github.com/servo/servo/blob/b96b08a3d9dd7dc042de869b0a109435af776a89/components/script/dom/messageevent.rs#L7

[2019-10-16 08:34] paulrouget commented on #24307
Recent changes made the demos behave a lot better (faster).

The 2 main issues so far:
- still pretty slow
- still a trail

Waiting on surfman to investigate the trail, and hopping it will significantly improve the performance.

The demos, even though impressive, are not interactive or do not use immersive-ar. Talking to the bbjs hoping to get some new demos to test.

[2019-10-16 08:56] pajamapants3000 commented on #24430
I suggested an alternative approach [here](https://github.com/servo/servo/issues/21254#issuecomment-541425501) that was approved. So I'm just going to close this out, as well as the PR I had submitted.

[2019-10-16 08:56] #24430 closed

[2019-10-16 10:19] saschanaz commented on #9290
That code seems to [internally use `Symbole.iterator`](https://searchfox.org/mozilla-central/rev/171109434c6f2fe086af3b2322839b346a112a99/js/src/vm/ForOfIterator.cpp#54) and also match [the corresponding Gecko code](https://searchfox.org/mozilla-central/rev/171109434c6f2fe086af3b2322839b346a112a99/dom/bindings/Codegen.py#4947-4953).

[2019-10-16 10:30] nox commented on #23290
How come this is happening way more often all of a sudden?

[2019-10-16 12:58] saschanaz commented on #19776
Can't reproduce this:

[code]

[2019-10-16 13:28] jdm commented on #9290
I guess we're done here!

[2019-10-16 13:28] #9290 closed

[2019-10-16 13:33] jdm commented on #23290
Historically it seems to affect us in clusters of repeated failures Dunno why.

[2019-10-16 13:51] jdm opened #24456 "Intermittent failure in /html/browsers/browsing-the-web/navigating-across-documents/009.html"
[code]

[2019-10-16 14:02] larsbergstrom opened #24457 "Some additional dependencies needed for Win10 build?"
I was following the default setup build, and was unable to build even default debug on a clean new Win10 unless:
1) `PYTHON3` was set for the SM build (as noted for UWP builds [here](https://github.com/servo/servo/wiki/Building-for-UWP)
2) The Windows Universal Redistributable Runtime was also added to the VS10 or WinSDK installs. Otherwise, I'd get "DLL file `api-ms-win-crt-runtime-l1-1-0.dll` no

[2019-10-16 14:11] jdm commented on #24457
Yes, sounds like those should be present in the default readme.

[2019-10-16 14:12] jdm opened #24458 "Ignore document.open/write after active parser has been aborted"
https://github.com/whatwg/html/pull/4907

[2019-10-16 14:22] jdm opened #24459 "Windowproxy values for discarded browsing contexts can trigger panics"
This is the source of the crash in tests/wpt/web-platform-tests/html/browsers/the-window-object/self-et-al.window.js:
[code]

Window::window_proxy has this comment:
[code]

[2019-10-16 16:29] bblanke commented on #24271
Hi! I'm with an NC State group that's been assigned to work on this as a part of a school project. @rasviitanen, have you made progress on this? How can I help?

[2019-10-16 17:30] rasviitanen commented on #24271
@bblanke Hey fellow student. I have had some major hardware issues, which has been hindering me from resolving this issue and running the tests properly. I have however, made some progress on this, and created an implementation that for the most part resolves this issue.
The problem I am facing now, is that some tests regarding reseting the canvas is failing, that are supposed to pass (they are ma

[2019-10-16 17:33] bblanke commented on #24271
Awesome! I'm excited to help

[2019-10-16 17:35] jdm commented on #24271
@rasviitanen Ah, so the reason the test is "passing" right now is that the existing implementation to compare pixel values relies on GetImageData. If the passing condition for the test is transparent black pixels, the incorrect GetImageData implementation will make the test look like it's passing because the expected pixel data is found. When the bug is fixed, it exposes that the existing canvas i

[2019-10-16 18:29] Manishearth opened #24461 "Only call render_animation_frame if the framebuffer is dirty"
The likely outcome of https://github.com/immersive-web/webxr/issues/877 is that buffers should only be swapped when the user has actually drawn something to them.

With https://github.com/servo/servo/pull/24452 we unconditionally call render_animation_frame. We should probably change that to check for some kind of dirty state when the spec status of this settles down.

[2019-10-16 18:55] tigleym opened #24463 "UIEvent does not properly initialize its view attribute"
The `view` attribute on UIEvent should be properly initialized with its global Window object. Right now, the `view` is always set to null when `UIEvent::new` is called.

**Spec:** https://w3c.github.io/uievents/#event-type-click
**Relevant code:** `components/script/dom/uievent.rs`

[2019-10-16 19:01] jdm commented on #24463
In particular, we should ensure that `MouseEvent::new` (and any other descendents of UIEvent that are created by the platform, like KeyboardEvent, TouchEvent, etc.) initializes the widget field. The easiest way to do this may be to add an argument to UIEvent::new_inherited.

[2019-10-16 19:01] highfive commented on #24463
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-16 19:07] bblanke commented on #24271
Which tests are you all using to validate this? When I look at the metadata in tests/wpt/metadata/offscreen-canvas all of the tests are set to FAIL

[2019-10-16 19:28] jdm commented on #24271
There absence of an ini file for https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/offscreen-canvas/the-offscreen-canvas/initial.reset.path.html means the test hardness defaults to expecting it to pass.

[2019-10-16 19:30] rasviitanen commented on #24271
@bblanke sorry for it taking time, you can now see my pull-request #24464

[2019-10-16 19:35] bblanke commented on #24271
Thank you! I'm looking through it now; nice to have a good reference to learn from.

[2019-10-16 19:39] jdm opened #24465 "Make offscreen canvas rendering context use offscreen canvas' size"
Spec: https://html.spec.whatwg.org/multipage/canvas.html#dom-offscreencanvas-width

https://github.com/servo/servo/pull/24464 adds `width` and `height` members, but these are duplicated from the ones stored in the associated OffscreenCanvas. We should do the following:
* remove the duplicate members
* remove the Option from OffscreenCanvasRenderingContext2D's canvas member, since there is always a

[2019-10-16 19:51] bblanke commented on #24465
Cool! I'll start looking into it

[2019-10-16 20:06] bblanke commented on #24465
Should I also remove the `size` parameter in the initializer(s) for OffscreenCanvasRenderingContext2D because of the associated canvas already having a height/width?

[2019-10-16 20:11] bblanke commented on #24465
Also, given that it's not yet merged, is it possible for me to check out the code from #24464 to make changes, or is it easier to just wait for the merge to occur?

[2019-10-16 20:13] jdm commented on #24465
[code]
That will set your current git head to the head of that branch.

[2019-10-16 21:37] bblanke commented on #24465
There are a lot of mismatches between Size2D<u64> and Size2D<u32> between offscreencanvasrenderingcontext2D and canvasrenderingcontext2D (the former seems to prefer u64 and the later u32). Should I add failures when a downcast fails, or should I update u32 values to use u64 when necessary?

[2019-10-16 21:41] jdm commented on #24465
Either updating them to use u64 or creating new Size2D values with the inner width and height values cast to the appropriate type.

[2019-10-16 21:43] bblanke commented on #24465
Okay cool. If I create the new `Size2D<u32>` objects with values from `Size2D<u64>`, I'll have to cast them, right? Should I just add error messages if the cast fails?

[2019-10-16 21:54] SimonSapin commented on #23431
Is the raqote backend complete? I feel that this issue should maybe stay open until it passes WPT, or maybe even is enabled by default

[2019-10-16 22:11] jdm commented on #24465
If it requires casting u64 to u32, we should probably update the CanvasState code to use u64 internally.

[2019-10-16 23:19] #24446 closed

[2019-10-17 00:09] jdm opened #24467 "Intermittent failure in /css/cssom-view/matchMediaAddListener-handleEvent.html"
[code]

[2019-10-17 01:13] jdm commented on #24373
Aha, I tracked this down by setting a breakpoint in ANGLE's Context::handleError. This showed me that the GL API that triggers the error is a call to ReadPixels that originates from the webxr openxr backend in render_animation_frame. At this point, the webgl thread has bound the XR opaque framebuffer's texture but hasn't executed the remaining commands that make up the XR webgl layer's initializat

[2019-10-17 02:09] saschanaz commented on #21462
Proxies can report duplicated keys and cause errors as seen here:

https://github.com/servo/servo/blob/1f531f66ea9d1ecb33cadb2ad6442673b016907a/tests/wpt/web-platform-tests/fetch/api/headers/headers-record.html#L250-L260

This behavior is being properly tested so I think this can be closed now.

[2019-10-17 02:33] jdm commented on #21462
Thanks for checking!

[2019-10-17 02:33] #21462 closed

[2019-10-17 03:03] jdm opened #24468 "Resource fetch timing information is stored too late during document navigation"
Given the changes in https://github.com/servo/servo/pull/24466 (or substituting `timing()` without them), it is easy to get a page to panic by checking `navigation.timing` before parsing is complete. More specifically, the panic occurs because in [this code](https://github.com/servo/servo/blob/c57e9bb93834aedf9a22bebc45589b3d622b9e98/components/script/dom/performance.rs#L365-L372) there is no navi

[2019-10-17 04:18] CYBAI commented on #21696
[code]

[2019-10-17 09:28] paulrouget commented on #24437
Fixed with openxr `101.1910.7004.0`.

[2019-10-17 09:28] paulrouget commented on #24438
Fixed with openxr 101.1910.7004.0.

[2019-10-17 09:36] paulrouget opened #24472 "Shutdown immersive session when XAML window is closed"
STR:
- starts servo
- pin window
- start immersive mode
- close xaml window

XAML window shuts down. Immersive mode is still up a running.

[2019-10-17 09:36] paulrouget commented on #24440
Openxr 101.1910.7004.0 + 9b59a11b7c: basic features works. Only issue found is: #24472

[2019-10-17 09:36] #24440 closed

[2019-10-17 10:43] saschanaz opened #24474 "Support [LegacyWindowAlias]"
Needed for [`webkitURL`](https://url.spec.whatwg.org/#webkiturl).

[2019-10-17 16:28] jdm opened #24479 "Don't allow detaching typed arrays that have outstanding borrows"
Right now the typed array API that returns a slice of the underlying buffer is unsafe because it requires that the typed array not be detached while the slice is borrowed. We can improve on this by forbidding direct use of the JSAPI function that detaches a buffer and wrapping it inside of a safe API that checks a global list of oustanding typed array borrows and panics if a match is found. This w

[2019-10-17 16:32] jdm opened #24480 "Support marking a scope in which GC is forbidden"
For any rust-mozjs APIs that are unsafe in the presence of a GC, right now there is no way to ensure they are used correctly. We should use global GC callbacks like [this](https://github.com/servo/servo/blob/d8f2f2ef0e7354afecd0f3fc398629013480bafb/components/script/script_runtime.rs#L704-L714) to recognize when a GC is beginning an ending and check whether a thread-local flag is set, panicking if

[2019-10-17 16:41] jdm opened #24481 "Update WebGL rendering context IDL to match specification"
https://github.com/KhronosGroup/WebGL/pull/2859 was a significant update to how the interfaces are organized to avoid invalid WebIDL.

[2019-10-17 16:42] jdm commented on #24481
https://www.khronos.org/registry/webgl/specs/latest/2.0/#3.7

[2019-10-17 17:17] jdm commented on #24373
Fixed by #24408.

[2019-10-17 17:17] #24373 closed

[2019-10-17 17:25] jdm opened #24483 "Support performing generic operations on DOM objects during document teardown"
For problems like #23986 and #24052, we have code that currently runs in DOM objects' Drop method because that's the easiest way to deal with "something needs to be unregistered when the DOM object no longer exists". Destructors interact poorly with the GC and can operate in invalid or unexpected states, so we should add a way for DOM objects to opt-in to some kind of cleanup action when a global

[2019-10-17 17:27] aug2uag commented on #24463
@highfive: assign me

[2019-10-17 17:27] highfive commented on #24463
Hey @aug2uag! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-17 17:32] tigleym commented on #24415
I can work on this once the #24409 is merged

@highfive assign me

[2019-10-17 17:32] highfive commented on #24415
Hey @tigleym! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-17 19:06] tomasdivito commented on #24468
@highfive: Assign me

[2019-10-17 19:08] tomasdivito commented on #24468
I'll try to work on this as soon as I can :)
@highfive: assign me

[2019-10-17 19:08] highfive commented on #24468
Hey @tomasdivito! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-17 20:15] jdm opened #24484 "Post-surfman issues"
Issues that aren't important enough to block merging surfman but we should make a point of coming back to investigate after the merge:

* ~simple babylon demo renders a white screen in the glwindow immersive backend (http://paulrouget.com/test/bbjs/basic/)~
* a number of threejs webvr examples don't show content in immersive mode; verify pre-surfman behaviour here (http://rawcdn.githack.com/mrdoob

[2019-10-17 20:16] #24406 closed

[2019-10-17 20:24] tigleym commented on #24248
@jdm for the rest of the missing attributes, would you prefer if I created another issue as a follow-up? Or can I make another PR against this same issue?

[2019-10-17 20:26] jdm commented on #24248
Another PR against this one should be fine.

[2019-10-17 22:57] #24248 closed

[2019-10-18 00:08] bblanke commented on #24465
So, converting everything to u64 seems to be quite an extensive undertaking that makes OffscreenCanvas' size implementation inconsistent with that of HTMLCanvasElement's size (which uses u32). While attempting to switch OffscreenCanvasRenderingContext2D to use u64 sizes, it required changing several methods that other objects (like HTMLCanvasElement) relied upon (for example, some in macro.rs and

[2019-10-18 01:57] gterzian opened #24485 "Intermittent TIMEOUT in /webmessaging/with-ports/018.html"
[code]

The tests post a message to an iframe that has a JS url, and apparently the message is never received. I suspect the problem is somewhere in the navigation of the frame, as opposed to the messaging.

It could also be that the origin check fails, because those iframe do not share the origin of their creator as they should? I think this was noted either at #22888 or #22879

[2019-10-18 01:58] gterzian opened #24486 "Intermittent TIMEOUT in /webmessaging/with-ports/017.html"
{
    "status": "TIMEOUT",
    "group": "default",
    "message": "Test timed out",
    "stack": null,
    "subtest": "origin of the script that invoked the method, about:blank",
    "test": "/webmessaging/with-ports/017.html",
    "line": 226232,
    "action": "test_result",
    "expected": "PASS"
}
{
    "status": "TIMEOUT",
    "group": "default",
    "message": null,
    "stack": null,
    "su

[2019-10-18 02:00] jdm commented on #24465
We face a limitation, because OffscreenCanvasBinding is generated automatically from https://github.com/servo/servo/blob/master/components/script/dom/webidls/OffscreenCanvas.webidl, which comes from https://html.spec.whatwg.org/multipage/canvas.html#the-offscreencanvas-interface and explicitly requires `unsigned long long` types (which turn into u64 in Rust).

Let's take a step back - what are the

[2019-10-18 02:26] aug2uag commented on #24463
please help me get started with the following:

1.  the purpose of `view` in the UIEvent `new` constructor if view can be defined by `window`?
2. changing to `pub fn new_inherited(window: &Window) -> UIEvent` breaks across multiple events files, update the input of those?
3. how to init `view` from `window`, i tried with
[code]

[2019-10-18 02:31] jdm commented on #24463
1. Theoretically a different view could be provided than the window that is used to create the new event.
2. In those cases you should be able to pass the existing window argument as the argument to `UIEvent::new_inherited`.
3. You will need to use `view: MutNullableDom::new(Some(window))` assuming there is a `window: &Window`.

[2019-10-18 03:10] aug2uag commented on #24463
@jdm thank you

looks like error is now limited to signature on `new_inherited`, i can't make out or find references on the definition of the error and [put the error on Stack Overflow for others' future reference](https://stackoverflow.com/questions/58443400/rust-type-must-be-rooted), if applicable

[code]

[2019-10-18 03:19] CYBAI commented on #24463
@aug2uag The error is caused by using `MutNullableDom` type that it will ask you to use it with a rooted type or in a rooted function.

But, other than making `new_inherited` as a rooted function, I think you will want to pass a window and initialize the `view` with the `window` like the point 3 in @jdm 's https://github.com/servo/servo/issues/24463#issuecomment-543457984

[2019-10-18 04:13] #24457 closed

[2019-10-18 04:58] jdm opened #24488 "Intermittent failure in /fetch/security/embedded-credentials.tentative.sub.html"
[code]

[2019-10-18 05:06] jdm commented on #24463
My original analysis was incorrect, and this member gets initialized as expected: https://github.com/servo/servo/pull/24487#issuecomment-543507724

[2019-10-18 05:06] #24463 closed

[2019-10-18 09:02] gterzian commented on #24483
Could you elaborate on how you envision the proposed `DomCleanup` object?

----

Personally I liked the pattern used in https://github.com/servo/servo/pull/23637(and also starting to be applied in https://github.com/servo/servo/pull/24123) where one would:

1. split up the DOM struct from a non-DOM implementation struct(especially relevant for objects that should be [structured serializable or tra

[2019-10-18 15:53] aug2uag commented on #21255
@jdm i cherry-picked the commits from David as mentioned a couple messages above and everything builds nice

no tests i don't know where to put them besides w3c_navigation_timing.js and there its completely empty at the moment plus the documentation for how to run it seems to be missing?

if PR #24493 looks good to you please assign me, if assigned please advise whether adding a setter function in

[2019-10-18 17:22] jdm opened #24494 "babylon.js demos have broken XR rendering"
`./mach run http://paulrouget.com/test/bbjs/basic/ --pref dom.webxr.enabled --pref dom.webxr.glwindow`
The scene renders fine in non-immersive mode, and looks totally messed up in immersive mode. Also moving the camera in immersive mode leaves trails on the screen.

[2019-10-18 17:23] jdm commented on #24363
This now works as expected. I wonder if #24409 fixed it?

[2019-10-18 17:25] jdm opened #24495 "Using the mousewheel in babylon.js demos leads to endless zooming"
./mach run http://paulrouget.com/test/bbjs/basic/ and use a pinchzoom action on macOS. This causes the demo to quickly zoom out and continue zooming long endlessly after the action is complete.

[2019-10-18 17:26] jdm commented on #24494
It looks like it's not doing the stereoscopic rendering, and the frames aren't being cleared.

[2019-10-18 17:28] bblanke commented on #24465
Right! The issue is specifically in GetImageData(), PutImageData(), and PutImageData_() in OffscreenCanvasRenderingContext2D. Those all call corresponding methods in CanvasRenderingContext2D, and in those calls, I'm passing in the associated canvas' size (u64). The issue is that in CanvasRenderingContext2D, there are calls to actually write/read ImageData, and this has height/width properties that

[2019-10-18 17:34] jdm commented on #24494
Current theory - the base WebGL canvas passes `stencil: true` when creating the context, but the code to create an XR webgl layer does not:
[code]

[2019-10-18 17:36] jdm commented on #24494
Another theory - `preserveDrawingBuffer: false` only clears the default webgl framebuffer (and there are khronos conformance tests that verify this), but the XR webgl layer is a special opaque framebuffer and won't get cleared.

[2019-10-18 17:42] jdm commented on #24465
So, to be pedantic, those methods actually call CanvasState::GetImageData/PutImageData/PutImageData_, which are hand-written and not generated. Is there a problem updating those to accept u64 values, and casting the u32 values used in CanvasRenderingContext2D::GetImageData/PutImageData/PutImageData_? Similarly, ImageData could store u64 values internally and still accept u32 values in the public g

[2019-10-18 17:44] #24271 closed

[2019-10-18 17:54] jdm opened #24496 "Rename CanvasState methods to use snake_case method names instead of UpperCamelCase, and extract it to its own module"
The member methods of CanvasState were largely extracted from CanvasRenderingContext2D, where they used to be members of the generated CanvasRenderContext2DMethods trait. Now that they are handwritten, it's confusing to have them keep the same naming pattern as generated code. We should rename them so GetImageData becomes get_image_data (for example).

We should also extract CanvasState into its o

[2019-10-18 17:54] highfive commented on #24496
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-18 18:04] bblanke commented on #24465
Ah okay–my bad. That seems reasonable. I'll try and modify ImageData! I may need to modify a few more methods as well to accept u64 (associated with rectangle manipulation) but that shouldn't be a problem

[2019-10-18 18:08] asajeffrey commented on #24494
In servo+surfman, the opaque framebuffer gets cleared each time the buffers are swapped (which is a bug because it ignores `preserveDrawingBuffer` but that should still Do The Right Thing for webxr).

[2019-10-18 18:10] asajeffrey opened #24497 "Servo + surfman ignores preserveDrawingBuffer"
The current implementation of servo+surfman clear the swap chain surfaces on every buffer swap, which ignores `preserveDrawingBuffer`. Really, if it is `true`, we should blit the front buffer onto the back buffer.

[2019-10-18 18:13] asajeffrey opened #24498 "Servo + surfman uses the same values for depth/alpha/stencil for webgl and webxr"
The webxr spec requires the depth/alpha/stencil values for webxr and webgl to be independent, but servo+surfman shares them.

[2019-10-18 18:14] jdm commented on #24494
Other possible issues with frame clearing:
[code]
- https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/glClear.xml

The current clearing implementation only resets the clear color/depth/stencil values, but it sounds like we need to be more thorough.

[2019-10-18 20:18] illiteratewriter commented on #24496
Hi, I am just learning Rust, but looking at this issue and going through the code, this seems doable for me. Can I work on this? Also, if I am unable to do this, can I say 'I don't think I can do this' and will you reassign to someone who can do it?

[2019-10-18 20:29] jdm commented on #24496
Absolutely!

[2019-10-18 22:42] tigleym commented on #24415
@jdm This example from MDN: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/clientX shows that clientX/clientY can be different from screenX/screenY if the viewport is a smaller iframe.

So I think in this case we'd have to keep these values as two separate coordinates.

[2019-10-18 23:12] #15497 closed

[2019-10-19 02:54] jdm opened #24501 "Intermittent timeout in /html/semantics/forms/form-submission-0/form-double-submit.html, /html/semantics/forms/form-submission-0/form-double-submit-3.html, /html/semantics/forms/form-submission-0/form-double-submit-2.html"

[2019-10-19 03:08] jdm commented on #24415
Indeed. That's a helpful example!

[2019-10-19 04:18] gterzian opened #24502 "intermittent /css/css-fonts/font-display/font-display-feature-policy-reporting.tentative.html"
[code]

[2019-10-19 04:20] gterzian opened #24503 "intermittent /html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_access_details.sub.html"
[code]

[2019-10-19 04:25] saschanaz commented on #7453
Fixed probably by #15659?

[2019-10-19 05:20] jdm commented on #7453
I think the idea here is that instead of have generated code that calls find_enum_string_index, we would generate FromJSValConvertible implementations for WebIDL enums and call that instead in the generated code.

[2019-10-19 05:31] #24474 closed

[2019-10-19 06:23] gterzian opened #24504 "intermittent /_webgl/conformance/uniforms/uniform-samplers-test.html"
[code]

[2019-10-19 10:28] saschanaz opened #24505 "Update [HTMLConstructor] for new constructor syntax"
Corresponds with https://github.com/whatwg/html/pull/4915.

[2019-10-19 12:25] pajamapants3000 commented on #21254
Hey folks, just an update: I didn't get lost; still working on this. I think I have a solution, I'm just figuring out the whole testing issue. This has proven rather time-consuming, given how long it takes to run the full test-wpt suite. That, and just familiarizing myself with everything.

I am currently attempting to see if my changes have resulted in any difference in the test-wpt results. It a

[2019-10-19 14:20] jdm commented on #21254
How are you running your tests? You should really only be running a single directory like resiurce-tim bg, not the whole testsuite

[2019-10-19 17:18] #24505 closed

[2019-10-19 19:13] #7457 closed

[2019-10-19 19:13] #12717 closed

[2019-10-19 19:13] #16095 closed

[2019-10-19 19:13] #18969 closed

[2019-10-19 19:31] bblanke commented on #24465
Alright; on the final stretch here.

I have the types switched over successfully and am now working on the final task:

"when OffscreenCanvas's SetWidth or SetHeight methods are called, send a CanvasMsg::Recreate message to the canvas paint thread (see CanvasRenderingContext2D::set_bitmap_dimensions for a model, called from HTMLCanvasElement::recreate_contexts)"

I'm working on adding the necessar

[2019-10-19 21:25] glowe commented on #23009
@highfive: assign me

[2019-10-19 21:26] highfive commented on #23009
Hey @glowe! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-19 22:00] tomasdivito commented on #24468
@jdm I have a couple questions regarding to your suggested solution.

**add a `ResourceFetchTiming` argument to the Result passed in process_response**
Not pretty sure what this mean, and what would be the point on doing so...
`fn process_response(&mut self, meta_result: Result<FetchMetadata, NetworkError>)` you mean something like instead making something like `Result<(FetchMetadata, ResourceFetc

[2019-10-20 12:31] jdm commented on #24465
We either need to make the members public or add a method that encapsulates the operation on the private members. I think adding a `clear_saved_states` method is the best way forward. Then it can be used by the 2d canvas code in #24496 as well.

[2019-10-20 12:32] jdm commented on #24465
Oh, and the 2d canvas code can access them because it is currently in the same module as CanvasState (because they're in the same file), and privacy exists at the module boundary.

[2019-10-20 15:53] pylbrecht opened #24510 "Build failed due to SCCACHE_IDLE_TIMEOUT being too short"
Recently trying to `./mach build --release`, which resulted in the following output:
[code]
Google led me to https://github.com/servo/servo/issues/19907. Disabling the timeout fixed the issue for me: `export SCCACHE_IDLE_TIMEOUT=0;./mach build --release`.

@emilio pointed out that this might be worth filing an issue.

[2019-10-20 16:51] Tugdual commented on #24496
Hi, if @illiteratewriter doesn't take this issue, I'd like to take it (PS: I'm a beginner with Rust too )

[2019-10-21 05:30] Manishearth opened #24513 "Considering using ssri crate for subresource integrity parsing"
We already support parsing and checking subresource integrity headers in https://github.com/servo/servo/blob/master/components/net/subresource_integrity.rs, but there is the [`ssri` crate](https://docs.rs/ssri) which is being actively developed. Maybe we should consider pulling that in?

As an aside, we should also consider splitting out such algorithms into external crates more often.

[2019-10-21 10:02] #21342 closed

[2019-10-21 10:18] paulrouget commented on #24307
Babylonjs demos improvements issue: https://github.com/BabylonJS/Babylon.js/issues/6993

[2019-10-21 11:25] illiteratewriter commented on #24496
@Tugdual I'm not working on this, so you can take this up.

[2019-10-21 11:27] nox commented on #24448
So rand has been bumped everywhere, but to bump phf we need to bump string_cache which leads to a bunch of other bumps.

[2019-10-21 12:13] jgraham commented on #24513
Note that the license of the 5.0.0 release is unusual ("Freedom Zero Parity") and so switching to this would probably require either forking at 4.x or a specific determination that this license is acceptable to servo (unless that already happened ofc).

[2019-10-21 14:22] jdm commented on #24468
Good questions! Looking more closely at the code, there is already a `timing` field inside `Metadata`, and that's part of the `FetchMetadata` enum, so we should be able to rely on that in the `process_response` implementations.

As for the question about queue_entry, since every caller of queue_entry passes `true` for `add_to_performance_entries_buffer`, let's remove that argument and always push

[2019-10-21 14:25] jdm opened #24515 "Limit referer header to 4k"
https://github.com/w3c/webappsec-referrer-policy/pull/122 says that any potential referer header value over 4k in length should be truncated to just the origin. We should update our implementation of the [determine request's referrer](https://github.com/servo/servo/blob/5011e9c21c4c562a1e4b5380be19cef696e305ea/components/net/http_loader.rs#L212-L246) to match this change.

[2019-10-21 16:09] teapotd commented on #24515
Hi, I'd like to work on this.

@highfive assign me

[2019-10-21 16:10] highfive commented on #24515
Hey @teapotd! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-21 22:18] SimonSapin opened #24520 "Clean old Rust toolchains on macOS workers for Taskcluster?"
[code]

It’s not worrying yet, but it is unbounded disk space usage growth. We do have a `/mach clean-nightlies` command that’s running on Buildbot workers, but not an Taskcluster ones. We should probably add it (on macOS, since those are the only long-lived machines at the moment).

[2019-10-22 01:42] glowe commented on #23009
@jdm I'm orienting myself to the problem and could use a bit of help.

Handling the `--angle` and `--disable_vsync` options is straightforward since they're `glutin` specific. We can extract their values from the embedder `Options` and then pass this along to `App::run` and so on.

The other two options are more complicated, because they're used outside of `glutin`. The `headless` option appears i

[2019-10-22 02:03] jdm commented on #23009
Sure, let's keep the scope focused on the self-contained changes and when those are working we can see if it's more clear how to expand it.

[2019-10-22 06:12] KiChjang commented on #24428
@ferjm No, it happens if I do `.\mach run -d -- https://en.wikipedia.org` as well:
[code]

[2019-10-22 06:16] KiChjang commented on #24428
Before I ran servo, I also had to rename a couple of my .DLL files by prefixing them with `lib`, e.g. `libgstplayer-1.0.0.dll` instead of `gstplayer-1.0.0.dll`, otherwise the executable crashes, telling me that it can't find some required DLL files.

[2019-10-22 08:10] ferjm commented on #24428
That is probably not the right fix. Could you verify that you are installing the GStreamer MSVC binaries, please? It sounds like you may be installing the MinGW binaries, which are currently not supported.

[2019-10-22 10:06] nox commented on #24448
Current blocker is https://github.com/servo/html5ever/pull/397, because I can't publish html5ever without it.

[2019-10-22 10:32] paulrouget commented on #24437
Logs don't help much. Doubled checked that `xrRequestExitSession` is not called on our side.

[code]

[2019-10-22 10:52] paulrouget commented on #24437
@Manishearth according to the team thread:

so what are we supposed to do on Stop, and when are we supposed to call session.end?

[2019-10-22 10:58] Manishearth commented on #24437
We should do nothing on STOPPING, and we should be sending a visibility change event on IDLE

[2019-10-22 10:59] Manishearth commented on #24437
I'm planning on making these changes, though an easy fix is to just remove STOPPING from the match

[2019-10-22 15:23] #21254 closed

[2019-10-23 03:37] #22782 closed

[2019-10-23 07:55] paulrouget commented on #24484
For me, it crashes (tested on device):

[code]

[2019-10-23 14:19] mmiecz commented on #22888
I've created a PR but I see it's already done?

[2019-10-23 14:53] jdm commented on #21563
Fixed by #22514.

[2019-10-23 14:53] #21563 closed

[2019-10-23 17:42] jdm commented on #13341
Unmainted path.

[2019-10-23 17:42] #13341 closed

[2019-10-23 17:42] jdm opened #24529 "Intermittent error in /_webgl/conformance/textures/misc/origin-clean-conformance.html"
[code]

[2019-10-23 18:21] #24448 closed

[2019-10-23 19:39] jdm opened #24530 "Babylon color picker demo requires two clicks to choose a colour"
In http://paulrouget.com/test/bbjs/basic/ when I run it in Firefox I can choose a colour with one click. In Servo it requires two clicks each time.

[2019-10-23 22:10] atouchet commented on #21253
startTime is done now.

[2019-10-24 06:25] jdm commented on #21476
Based on https://github.com/servo/servo/wiki/Asynchronous-WebAssembly-compilation-project, from a private communication:

Let's put all of the new code in components/script/script_runtime.rs for the short term. And there is no need to implement any functionality, only define methods for the new Rust struct that call these functions:
* https://doc.servo.org/mozjs/glue/fn.StreamConsumerStreamEnd.htm

[2019-10-24 10:02] CYBAI commented on #24145
@SimonSapin maybe we need to update the issue title to have `/html/interaction/focus/the-autofocus-attribute/update-the-rendering.html` so that it can be filtered next time 👀 ?

[code]

[2019-10-24 10:15] SimonSapin commented on #24145
Good point, done.

[2019-10-24 10:19] gterzian commented on #22888
@mmiecz Yes you're right, this was already done in https://github.com/servo/servo/pull/23637, sorry I wasn't aware an issue was open for this.

I think you could re-use some of what you've learned so far on this related issue: https://github.com/servo/servo/issues/24454

[2019-10-24 14:08] jdm opened #24536 "Add set_bitmap_dimensions method to CanvasState"
https://github.com/servo/servo/pull/24524 adds a set_bitmap_dimensions to OffscreenCanvasRenderingContext2d that duplicates the behaviour of CanvasRenderingContext2D::set_bitmap_dimensions. We should be able to refactor the body of those methods to add a single method to CanvasState that encapsulates it.

This work is blocked on #24524 merging.

[2019-10-24 15:37] asajeffrey opened #24538 "Odd behaviour with LINE_LOOP in osmesa"
With surfman, headless servo fails `/_webgl/conformance/rendering/more-than-65536-indices.html ` due to `LINE_LOOP` drawing yellow rather than green.:
[code]
The test passes in x11, and passes if the tests are reordered to make the `LINE_LOOP` test first. This appears to be an odd feature of osmesa.

[2019-10-24 15:54] mvashishth commented on #24287
Is there a simpler way of making the get_bytes function? At the minimum, it should be able to just read the contents of the blob object and run the get stream of algorithm right? Can I do a python implementation of the function first and get that reviewed? I am having a hard time understanding the syntax of Rust. It'd be much better if I can understand the program structure in a programming langua

[2019-10-24 16:13] jdm commented on #24287
If writing pseudocode in another language will help you understand what needs to be done in Rust, that's fine.

[2019-10-24 16:39] jdm commented on #24287
What I meant by https://github.com/servo/servo/issues/24287#issuecomment-536630415 is that for the first step, calling get_bytes() directly to retrieve the contents of the Blob will give us the bytes that we can use to create a blob or an arraybuffer, and we can then create a promise value and resolve the promise with the blob or arraybuffer. From there it will be easier to work on making it async

[2019-10-24 16:55] jdm opened #24540 "CanvasState::IsPointInPath should return false for Nan/infinite values"
Spec: https://html.spec.whatwg.org/multipage/canvas.html#dom-context-2d-ispointinpath
Implementation: `components/script/dom/canvasrenderingocontext2d.rs`
Tests: `./mach test-wpt /2dcontext/path-objects/2d.path.isPointInPath.nonfinite.html`

[2019-10-24 17:00] gterzian commented on #11722
This is now also relevant for messageports, which are identified by a `MessagePortId`, similar in construction to a `PipelineId`, as well as a `MessagePortRouterId`, and these ids are used by the constellation to route messages across process.

So it will be possible for a compromised script process to guess the relevants ids and trick the constellation into forwarding fake messages to ports in ot

[2019-10-24 17:03] mvashishth commented on #24287
Can you explain how exactly get_bytes() works?

[2019-10-24 17:16] gterzian commented on #11722
Each pipeline, stored in the constellation, [currently has a `ServoUrl`](https://github.com/servo/servo/blob/08af89bd8205ac28c98b9a079216fca438a9ed66/components/constellation/pipeline.rs#L82), so in theory that could be used to check any origin sent inside a message coming from a specific pipeline.

Ok so could we generate a UUID in the constellation, store it, and pass it along to `Pipeline::spaw

[2019-10-24 18:01] hbina opened #24541 "./mach bootstrap failure, possibly changes in python packages API"
From a clean installation of Ubuntu 18.04.3

[code]
Simple enough, lets install module `distro`...

[code]

[2019-10-24 18:52] jdm commented on #24541
Any difference if you remove `python/_virtualenv`? https://six.readthedocs.io/#six.ensure_str suggests that it should work.

[2019-10-24 21:08] hbina commented on #24541
Nope, still the same error.

[2019-10-24 21:36] jdm commented on #24541
I wonder if bootstrap doesn't go through the whole virtualenv setup. What if you update your installed six package? You need six 1.12, based on https://github.com/benjaminp/six/blob/aa4e90bcd7b7bc13a71dfaebcb2021f4caaa8432/CHANGES#L13.

[2019-10-24 21:47] #24515 closed

[2019-10-24 23:02] hbina commented on #24541
That seems to have solved it.

[2019-10-24 23:02] #24541 closed

[2019-10-25 06:58] saschanaz opened #24545 "Accessing webgl-fingerprint.glitch.me freezes Servo"
https://webgl-fingerprint.glitch.me/

![image](https://user-images.githubusercontent.com/3396686/67549877-31623c80-f740-11e9-83c5-db43a9408185.png)

Can't close Servo after this screen, on Windows.

[2019-10-25 07:18] garasubo commented on #22782
I'm sorry, but I found that one of commits were not included in the previous PR. I resubmit another PR to add this commit #24546. Could you take a look?

[2019-10-25 08:24] garasubo opened #24548 "The links to Leo Meyerovich's papers are broken"
In https://github.com/servo/servo/wiki/General-implementation-and-design-notes, there are three links to Leo Meyerovich's papers about parallel web page layout, but both are broken.
- https://people.eecs.berkeley.edu/~lmeyerov/projects/pbrowser/pubfiles/paper.pdf
- https://people.eecs.berkeley.edu/~lmeyerov/projects/pbrowser/pubfiles/synthesizer2012.pdf
- https://people.eecs.berkeley.edu/~lmeyerov

[2019-10-25 08:28] paulrouget opened #24549 "In Transcient mode (Hololens), add a loading indicator"
Some demos take a pretty long time to load and we only see a blank screen. A floating throbber will do.

[2019-10-25 10:13] CYBAI commented on #24545
I can close Servo with `ESC` or the `X` button on macOS after accessing the page.

[2019-10-25 10:15] saschanaz commented on #24545
@cybai Does the page shows vendor and renderer info on macOS?

[2019-10-25 10:19] CYBAI commented on #24545
No, and I saw two errors

[code]

![image](https://user-images.githubusercontent.com/6782666/67563697-2fa67200-f75c-11e9-9a86-477a783f0d76.png)

[2019-10-25 10:21] saschanaz commented on #24545
The title fails to be italic on macOS? 🤔

[2019-10-25 10:44] CYBAI commented on #24545
Ohh! Good point! I didn't notice that 👀

[2019-10-25 12:41] saschanaz opened #24553 "Fails to load MediaList2 test on Windows"
`./mach run https://w3c-test.org/css/cssom/MediaList2.xhtml` just shows an empty page and does nothing. The window can't be closed by clicking X button, so something probably hangs...

[2019-10-25 13:04] CYBAI opened #24554 "font-style italic with font-family doesn't work"
[code]

![image](https://user-images.githubusercontent.com/6782666/67573466-5cb24f00-f773-11e9-9d02-012107a07c89.png)

The `h1` should be rendered with italic style.

Built with latest master (b7b1b903d3) on macOS 10.14.6

cc @emilio

[2019-10-25 13:05] CYBAI commented on #24545
@saschanaz filed #24554 for the italic issue! let's leave this issue for freeze Servo on Windows 😃

[2019-10-25 20:39] duckinator commented on #17321
This appears to be fixed. :+1:

[2019-10-25 20:39] #17321 closed

[2019-10-26 03:36] #24496 closed

[2019-10-26 05:51] kitlith commented on #23639
for the one in script_runtime.rs, we may be able to thread an argument through several function calls until we reach a function that does have access to GlobalScope. (unless I'm misunderstanding what you're saying?) However... that seems kinda ugly, and I'm not sure how much of an option that is for conversions.rs.

It'd be *easier* to apply the pattern used in #24500, but easier may not be better

[2019-10-26 18:29] shubham-pampattiwar commented on #21476
@jdm So we just wanted to know how to test our changes, like whatever code we have added is in accordance to the actual requirement.

[2019-10-26 18:57] jdm commented on #21476
@shubham-pampattiwar Unfortunately the code added in the initial steps is not expected to have any change in behaviour on its own. The best we can do right now is load https://wasm.bootcss.com/demo/Tanks/ and verify that there is no change in behaviour with your changes.

[2019-10-26 21:26] #23009 closed

[2019-10-27 04:41] LArctic opened #24559 "How to replace the "ActiveX" control in WIN"
Sorry, I won't program, I will only write some simple scripting languages. I often use the "ActiveX" control to simply load a web page, but it's very old and has a lot of incompatibility. I found "servo" when I was looking for an alternative to ActiveX.
Since there is no programming foundation, I can't tell if it can be used like "ActiveX".
If you can use it like this, is there a related tutorial?

[2019-10-27 06:26] AnshulMalik commented on #21792
Whole machine hangs for hours, need to manually restart.

OS: High Sierra(10.13.6)
Processor: 2.6 GHz Intel Core i7
Memory: 16 GB 2133 MHz LPDDR3
XCode: Version 10.1 (10B61)
I'll try to update Xcode

[2019-10-27 11:56] jdm commented on #24559
From your description, I don't believe Servo is what you are looking for.

[2019-10-27 11:56] #24559 closed

[2019-10-27 15:06] shnmorimoto commented on #24367
Could I grab this issue?

[2019-10-27 17:01] JoshMcguigan commented on #24541
I see the same issue (with the same resolution) on Fedora 30, after manually installing python 2. Is this something that could/should be fixed in the bootstrap scripts? I'd be happy to submit a PR but I'm not quite sure where to start.

[2019-10-27 18:20] jdm commented on #24541
It sounds like that's the appropriate fix, yeah. We probably want to travel the code from the Mach script in the root directory and see what's different about the bootstrap command that end up in python/servo/bootstrap.py.

[2019-10-27 18:42] JoshMcguigan commented on #24541
Tracing the code path from the root `./mach` to `python/servo/bootstrap.py`, I don't see anything that would install `distro` or `six`. Perhaps it is because `_activate_virtualenv` isn't called in `bootstrap_command_only` (it is only called in `bootstrap`) within `/python/mach_bootstrap.py`?

[2019-10-27 19:14] jdm commented on #24541
That sounds very likely!

[2019-10-27 20:19] stephengtuggy opened #24561 "`./mach bootstrap` fails on my Ubuntu 18.04 LTS installation"
When I run `./mach bootstrap`, it errors out. At first I thought that this might be because I had `python3-virtualenv` installed on my machine, but not `python-virtualenv` (the Python 2 version). But now I have both, and I'm still getting errors.

I am running a relatively fresh install of Ubuntu 18.04 LTS, x86_64, on a UEFI-based system with legacy BIOS features turned off. I just reinstalled Ubu

[2019-10-27 22:59] jdm commented on #24561
Same issue as https://github.com/servo/servo/issues/24541. To work around it right now, install the `distro` pip package.

[2019-10-28 02:18] #23881 closed

[2019-10-28 03:01] Akash-Pateria commented on #21476
@jdm we have raised a [PR](https://github.com/servo/servo/pull/24563) for a few changes related to this issue. We have completed a couple of tasks listed in the [initial steps](https://github.com/servo/servo/wiki/Asynchronous-WebAssembly-compilation-project). However, we are not clear on the requirement of the second task,

Despite having StreamConsumer as an argument in the ConsumeStreamCallback

[2019-10-28 05:25] paulrouget commented on #24363
Nope. I changed the bbjs code to not fail.

[2019-10-28 05:26] paulrouget commented on #24307
A new round of testing is necessary. Demos have been updated with various improvements and I've removed ([almost](https://github.com/servo/servo/issues/24363)) all the workaround.

[2019-10-28 05:28] paulrouget commented on #24363
To reproduce: http://paulrouget.com/test/bbjs/basic/index.pepbug.html

[2019-10-28 05:59] paulrouget commented on #24530
The issue was coming from a workaround I put in place to avoid https://github.com/servo/servo/issues/24363 - this is now fixed in the demo.

[2019-10-28 05:59] #24530 closed

[2019-10-28 09:00] paulrouget commented on #24363
This is actually the proper behavior when using `use strict;` + `event.buttons = ...`.

The problem is that this jquery test fails when it should not: https://github.com/jquery/PEP/blob/e880e9d26c7a45cab153b8bf2e03fc51b64844bf/src/mouse.js#L13

The `buttons` property is introduced here where it is set to 0 not matter what comes with the constructor: https://github.com/servo/servo/commit/be3cb00c77

[2019-10-28 09:33] paulrouget commented on #24363
With #24564, no errors, and the camera moves as expected.

[2019-10-28 10:58] paulrouget opened #24566 "Format magicleap CPP code"
Once #24552 lands, we should add magicleap's directory to the list of CPP directories to format and check.

[2019-10-28 12:02] #24199 closed

[2019-10-28 12:19] JoshMcguigan commented on #24561
@highfive: assign me

[2019-10-28 12:19] highfive commented on #24561
Hey @JoshMcguigan! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-28 12:21] JoshMcguigan commented on #24561
I've opened PR #24567 which resolves this issue on my machine.

[2019-10-28 12:40] teapotd commented on #24540
@highfive assign me

[2019-10-28 12:40] highfive commented on #24540
Hey @teapotd! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-28 12:58] shnmorimoto commented on #24367
@jdm

I think that it can check same origin as follows.

[code]

Or, Should I not use `request.url_list` directry?
Should I copy `response.url_list` from `request.url_list`?

[2019-10-28 14:45] jdm opened #24569 "Intermittent failure in /css/cssom-view/MediaQueryList-addListener-removeListener.html"
[code]

[2019-10-28 14:54] jdm opened #24570 "Add CI job for bootstrapping in a stock linux distribution"
It should be straightforward to create a new taskcluster job that uses a stock ubuntu/debian distribution, runs mach bootstrap, then builds Servo from scratch. That would give us a bit more confidence that the recommended setup path for new contributors is actually usable, and hopefully avoid problems like #24561.

[2019-10-28 15:39] jdm opened #24571 "Intermittent failure in /css/cssom-view/MediaQueryList-addListener-handleEvent.html"
[code]

[2019-10-28 16:47] jdm commented on #21476
The [equivalent code](https://searchfox.org/mozilla-central/source/dom/base/nsJSEnvironment.cpp#2496) in Firefox is a useful model to follow here. You will need to:
* extract a [Response](https://doc.servo.org/script/dom/response/struct.Response.html) object from the HandleObject argument ([root_from_handleobject](https://doc.servo.org/script/dom/bindings/conversions/fn.root_from_handleobject.html

[2019-10-28 20:31] jdm commented on #24307
https://github.com/paulrouget/paulrouget.github.com/issues/2

[2019-10-28 23:40] federicomenaquintero opened #24574 "Please release selectors crate"
Could we please have a new release of the selectors crate?  I could really use the fix for #22972 in librsvg :smiley:

[2019-10-28 23:51] jdm commented on #24574
Paging @emilio. I forget whether mozilla-central or servo is considered the source of truth these days.

[2019-10-29 00:11] atouchet commented on #23009
In #24525 it says this was only partially fixed. Should this issue be closed?

[2019-10-29 00:19] jdm commented on #23009
I think this has been fixed as I originally envisioned it. We can open new issues for any new opportunities we find.

[2019-10-29 01:16] emilio commented on #24574
Shouldn't really matter, both should be almost in sync, if not fully in sync.

But I could do a sync and then report back.

[2019-10-29 02:33] #24540 closed

[2019-10-29 02:43] tomasdivito commented on #24468
Just as an update, I was not able to focus on this because I was too busy with university.

I will work on this saturday and will create a Pull Request for this.

Again sorry! I would love to work on this more but at least until december I have no much free time :(

[2019-10-29 05:41] glowe commented on #21810
@highfive: assign me. I'd like to handle the two remaining items on this issue.

[2019-10-29 05:41] highfive commented on #21810
Hey @glowe! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-29 05:41] #24363 closed

[2019-10-29 08:57] paulrouget opened #24578 "babylonjs demo crashes since Angle update"
I should have tested with the babylonjs demos as well:

[code]

/cc @jdm

[2019-10-29 13:23] jdm commented on #24468
Thanks for letting us know!

[2019-10-29 15:41] jdm opened #24579 "Nightly rust nightly builds are broken"
Despite #24557, the nightly build that uses the nightly rust compiler is broken for reasons I don't understand: https://tools.taskcluster.net/tasks/aOfB7Z_fS8eNUeOzNUdfSw

[code]

[2019-10-29 15:42] jdm commented on #24579
Oh, I get it - [this code](https://github.com/servo/servo/blob/6ba0fabc739c4d2942aba85b14d4276b6a186f89/etc/taskcluster/decision_task.py#L269-L278) updates the toolchain after the rustup setup in [this code](https://github.com/servo/servo/blob/6ba0fabc739c4d2942aba85b14d4276b6a186f89/etc/taskcluster/decision_task.py#L767-L769) has already been executed.

[2019-10-29 17:46] #7590 closed

[2019-10-29 18:38] jdm commented on #24578
This occurs because the new ANGLE does not like when a framebuffer's color attachment is a texture initialized with GL_RGBA and GL_FLOAT. I'm going to investigate how Firefox treats this, as well as why the old ANGLE allowed it.

[2019-10-29 20:48] jdm opened #24582 "Store Option<ImageInfo> instead of making fields of ImageInfo optional"
The code in WebGLTexture stores an array of ImageInfo objects. Each of these objects has a `is_initialized` field, and other fields that are given default values. This makes the code harder to reason about; it would be easier to read if the array contained `Option<ImageInfo>` instead and any checks for initialization checked for `is_none()` or `is_some()` instead.

Code: `components/script/dom/web

[2019-10-29 20:48] highfive commented on #24582
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-29 21:51] teapotd commented on #24582
@highfive assign me

[2019-10-29 21:51] highfive commented on #24582
Hey @teapotd! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-30 01:13] #24578 closed

[2019-10-30 01:43] glowe commented on #21810
I looked at the specifications and their corresponding parsing specifications:

- https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#valid-date-string
- https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#valid-month-string
- https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#valid-week-string

It seems like continuing to rely on the parsing implementations

[2019-10-30 06:30] #24549 closed

[2019-10-30 06:56] CYBAI opened #24585 "Intermittent FAIL in /css/css-text/white-space/trailing-space-position-001.html"
[code]

[2019-10-30 10:43] paulrouget opened #24586 "Create a homepage for Servo on HoloLens"
The same way we have https://servo.org/ml-home

[2019-10-30 10:55] paulrouget opened #24587 "Translate finger taps into mouse events or touch events (hololens)"
For now we only catch mouse events, making page interaction impossible in HoloLens mode.

Just removing the `PointerDeviceType == Mouse` test appears to work.

[2019-10-30 14:29] jdm opened #24589 "Failing to parse a URL in the UWP app causes a panic"
Try to load an invalid URL in the UWP app and watch it panic. We should pop up an alert dialog or something, but it should really be ignored rather than bring down the browser.

[2019-10-30 15:51] jdm opened #24591 "Reloading bbjs basic scene can panic"
In the HL emulator I reloaded http://paulrouget.com/test/bbjs/basic/ and got a panic trying to access the window proxy.

[2019-10-30 21:14] Manishearth opened #24593 "[surfman] Unexpected WebGL error: 0x502 (1282) [BindVertexArray(None)]'"
When running BabylonJS demos (like [this one](http://paulrouget.com/test/bbjs/basic/) on [servo+surfman](https://github.com/asajeffrey/servo/tree/surfman) on UWP, I get the following error in 2D mode:

[code]

cc @asajeffrey @jdm

[2019-10-30 21:42] jdm commented on #24593
I think there are a couple issues at play here, but fundamentally it seems like it's our mistake. We enable the OES_vertex_array_object webgl extension based on the GL_OES_vertex_array_object/GL_ARB_vertex_array_object extensions reported by the driver. These extensions provide GenVertexArraysOES/BindVertexArraysOES/IsVertexArraysOES/DeleteVertexArraysOES functions, but we're not using those in sp

[2019-10-31 08:13] paulrouget commented on #24589
I can't reproduce. An invalid URL should load duckduckgo or show an error message.
Can you share an example of an invalid URL?
Do you just type it in the url bar?

[2019-10-31 11:01] paulrouget opened #24595 "Figure out how to remove OnCaptureGesturesStarted/Ended callbacks (hololens)"
These are used to prevent the urlbar to gain focus when the user is scrolling, by making the urlbar transparent to mouse events. It's unlikely that this is the proper behavior.

[2019-10-31 12:17] paulrouget opened #24596 "bbjs basic demo: double click required if mouse move triggered"
When mouse move events are fired, the color picker requires 2 clicks to be activated.

[2019-10-31 12:24] paulrouget opened #24598 "Properly fire touch, pinch and mouse events on HoloLens and Desktop"
As of now we have a bit of a mix of everything.

We should:
- send touch events in hololens
- send mouse event on Desktop
- only scroll on pan in hololens (use wheel on Desktop)
- use pinch methods on hololens

[2019-10-31 12:24] paulrouget commented on #24587
Dupe of #24598

[2019-10-31 12:24] #24587 closed

[2019-10-31 14:04] jdm commented on #24589
Hmm. I know that a panic was caught in https://github.com/servo/servo/blob/d671010e466839010ca76c1292b8dc936941a3f0/ports/libsimpleservo/capi/src/lib.rs#L434-L439 when I tried to paste a URL. I assumed what had happened was that I ended up with something like `https://mrdoob.neocities.org/018/https://mrdoob.neocities.org/019/`, but I didn't see the actual URL that I tried to load.

[2019-10-31 14:49] gterzian opened #24600 "Fix MessagePort transfer bug"
To investigate further, but writing it down already:

When a port is "transfer-received" into a realm, the port is made available to script by firing a `MessageEvent` containing it.

At that point, the port is, while already managed by the global of that realm, in a ["pending"](https://github.com/servo/servo/blob/d671010e466839010ca76c1292b8dc936941a3f0/components/script/dom/globalscope.rs#L197) s

[2019-10-31 15:26] jdm opened #24602 "WebGL resize sends a Result but never sends an Err value"
In #24482 resize_webgl_context is modified to panic when any underlying errors occur during resizing. This makes the Result value redundant, and we could just have a `Sender<()>` instead. Additionally, we should experiment and see if we can make the resize operation non-synchronous and remove the sender entirely.

[2019-10-31 15:32] jdm opened #24604 "Implement preserveDrawingBuffe=true support for webgl"
#24482 adds multiple frame buffers so we don't get preserveDrawingBuffer=true support for free any more by choosing not to clear them. We need to add some code in handle_swap_buffers to copy the previous framebuffer's contents to the new framebuffer.

[2019-10-31 15:55] jdm opened #24605 "Reduce GL state querying"
There are more and more uses of querying the current bound framebuffer or texture in order to restore them after making changes to the GL state. #24482 (and surfman itself) add a bunch of these. If we want to look for performance improvement opportunities, we should consider tracking the bindings internally and relying on those, rather than constantly querying which can cause pipeline stalls.

[2019-10-31 16:00] paulrouget commented on #24589
Right. It's better if this would not panic. But I don't see how we could end up with a non-valid URL there.

I'll investigate, and at least handle invalid URL better.

[2019-10-31 16:02] jdm opened #24606 "Remove transitive dependency of script on surfman"
webxr-api depends on surfman_chains (which depends on surfman) and surfman::Surface. script depends on webxr-api. This means that making changes to surfman backends cause script to rebuild, and this is a productivity killer.

[2019-10-31 16:02] asajeffrey commented on #24605
Hopefully those queries are pretty cheap, because they don't involve stalling the GPU pipeline, just the driver reading some values from memory. Most of the cost is probably the function call, since they can't be optimized away (dynamic method calls across an FFI boundary).

[2019-10-31 16:07] asajeffrey commented on #24604
The method for doing that blit can be added to `surfman-chains` (which is where the matching clear method lives). The update to servo is then just to call clear or blit.

[2019-10-31 16:12] jdm opened #24607 "Remove use of wake_after_send in webgl code"
#24482 removes the use of main-thread webgl. The wake_after_send helpers in webglrenderingcontext.rs were added to ensure the main thread wakes up and processes webgl messages, but that is no longer necessary.

[2019-10-31 16:16] jdm opened #24608 "Investigate removing Finish call from XRWebGLLayer constructor"
It was necessary when there were many steps involved in setting up the XR layer's framebuffer, but it's possible that it's not required any more since the steps to create an opaque framebuffer have been simplified in #24482. The symptom we had before was that the [rollercoaster](http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html) would give us GL errors on hololens de

[2019-10-31 16:18] jdm opened #24609 "Clean up event loop waker in Constellation that is always None"
#24482 removes the need for a non-None waker, since it removes the webgl main thread support that required it.

[2019-10-31 16:19] jdm opened #24610 "Remove support for optional webgl threads"
The call to `create_constellation` in components/servo/lib.rs now passes a Some value for the webgl threads, so we should remove the ability to pass an Option at all. This should wait until after #24482 merges.

[2019-10-31 16:27] jdm opened #24611 "Builds intermittently fail with a permission error during harfbuzz builds"
I've seen this over the past couple days on nightly windows builds, and just saw this in #24603 during the PR pre-merge job.

[code]

[2019-10-31 16:39] asajeffrey opened #24613 "Reenable magicleap build"
#24482 disables the magicleap build in CI, since we don't have a surfman back end yet. We should re-enable it when we do.

[2019-10-31 17:04] jdm opened #24614 "Investigate enabling ANGLE extensions"
https://github.com/google/angle/blob/master/extensions/ANGLE_request_extension.txt
https://github.com/google/angle/commit/c339c4e5901d3c4ac38024c31464df8a7fbaa91a

[2019-10-31 17:09] jdm commented on #24614
EGL_CONTEXT_WEBGL_COMPATIBILITY_ANGLE

[2019-10-31 17:39] asajeffrey opened #24615 "Reenable DOMToTexture for surfman webgl?"
#24482 disables WebToTexture, we should either reenable it or rip out all the current code.

[2019-10-31 19:29] jdm opened #24617 "Implement SubmitEvent for form submit events"
https://github.com/whatwg/html/pull/4984

[2019-11-01 03:07] garasubo commented on #22346
I'm interested in this issue. I'm still new to this project and it is not labelled as "E-easy", but looks not so hard.
So, what I should do is:
1. Fix the condition to trigger onkeypress based on the spec
2. Update wpt test if necessary
Is that correct? If so, could you assign this issue to me?

[2019-11-01 03:18] CYBAI commented on #22346
@garasubo Looks like worth a try! Go ahead! 🚀

[2019-11-01 05:08] garasubo commented on #22346
@highfive assign me

[2019-11-01 05:08] highfive commented on #22346
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2019-11-01 05:19] #21255 closed

[2019-11-01 06:25] naokiri commented on #24400
Reproduced on current master (65bcf633eae13b840f7d98805311455337b495a5), Ubuntu Linux 18.04.

[2019-11-01 07:04] garasubo commented on #22346
I read the [spec](https://w3c.github.io/uievents/#event-type-keypress), and if my understanding is correct, "Enter" key should trigger onkeypress events, but "Backspace" should not because backspace does not produce a character value. I also checked this behaviour in firefox and chromium, and those browsers trigger onkeypress events for Enter key, but not for Backspace key.

So, my understanding i

[2019-11-01 08:43] garasubo commented on #22346
Found anohter problem. When I use IME, it also triggers onkeypress event, but according to the spec, we should not trigger in this case.

However, in dispatch_key_event function, I couldn't find a way to distinguish IME input with other normal keyboard event. I may need to dig into this (or maybe open a new issue for it).

[2019-11-01 13:32] jdm commented on #22346
I wouldn't worry about the tab case. Everything else you wrote sounds sensible to me!

[2019-11-01 14:22] saschanaz commented on #22617
@highfive assign me

[2019-11-01 14:22] highfive commented on #22617
Hey @saschanaz! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-01 14:48] jdm commented on #24400
Also reproduced on macOS. Very curious...

[2019-11-01 18:24] jdm commented on #24593
Fixed as part of #24482.

[2019-11-01 18:24] #24593 closed

[2019-11-01 18:36] jdm opened #24621 "Crash during final GC with webgl content"
This is another instance of the problem with doing things in DOM object destructors that requires interacting with other DOM objects. There are absolutely no guarantees that pointers are valid any more, since the JS objects could have been finalized and destroyed the corresponding Rust object. In this case, the webgl texture finalizer tries to check the current bound framebuffer for the webgl cont

[2019-11-01 19:35] jdm opened #24622 "Intermittent mac timeout due to missing font URLs (No URL for Core Text font!)"
This affects lots of different tests, so I'm not adding any tests to the summary.
[code]

[2019-11-02 00:55] #24582 closed

[2019-11-02 10:29] mashedcode commented on #24574
Could we please have a new release of the selectors crate so that we can use/avoid clashes with the new cssparser version?

[2019-11-03 09:15] PeaceRebel commented on #23057
@highfive assign me

[2019-11-03 09:15] highfive commented on #23057
Hey @PeaceRebel! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-03 09:20] garasubo commented on #22346
Submitted a PR for it. As I mentioned in the description of the PR, It seems composition events are not trigger in the current Servo implementation.
I use Ubuntu 18.04 and mozc-fcitx as IME. When I press keys in the input box with IME, keypress and compositionStart were not triggered either (Ref: https://developer.mozilla.org/en-US/docs/Web/API/Element/compositionstart_event).

[2019-11-03 13:29] #24579 closed

[2019-11-03 14:39] saschanaz opened #24627 "Windows build fails to create graphics context"
[code]

The window opens and shortly after that it crashes. Both the local and nightly build show the same error.

[2019-11-03 14:48] jdm commented on #24627
Does it run if you use `mach run --angle`?

[2019-11-03 14:50] saschanaz commented on #24627
It does.

[2019-11-03 15:19] jdm commented on #24627
[This code](https://github.com/servo/servo/blob/7f77cb0bde01065e82cbb50214f3d21811fdd7dc/components/servo/lib.rs#L1036-L1038) uses the default surfman device, is the [ANGLE device](https://github.com/pcwalton/surfman/blob/24adc75c3361a19b3c5c2bc7c3dbd8b93827b8e3/surfman/src/platform/mod.rs#L27-L34). When --angle is [not specified](https://github.com/servo/servo/blob/7f77cb0bde01065e82cbb50214f3d21

[2019-11-03 18:51] SimonSapin commented on #23607
Uh, this is annoying: we use [salt-ssh](https://docs.saltstack.com/en/getstarted/ssh/index.html) to configure macOS workers for CI but it requires the same Python version on the client and server, while macOS only comes with 2.7…

[code]

Installing Python 3 on the workers is doable, but Salt itself is exactly the tool we would have liked to use to automate that.

[2019-11-04 03:13] atouchet commented on #21253
duration is done now.

[2019-11-04 03:50] ridhimrastogi commented on #21476
@jdm Is the mimetype passed to the ConsumeStreamCallback the extracted mimeType from the response object. Although, this doesn't seem very likely. As per the firefox [implementation](https://searchfox.org/mozilla-central/source/dom/fetch/FetchUtil.cpp#468) the mimetype passed to the callback is first checked against the 'application/wasm' type and then compared against the response's mimetype. Are

[2019-11-04 04:00] jdm opened #24628 "Response object's mime type is not updated by fetch algorithm"
[This code](https://github.com/servo/servo/blob/03f223663f1c0bc7432f0f47b533fb41c0226eb1/components/script/fetch.rs#L227-L251) fills in the DOM response object's headers when an HTTP response is received, but the [mime_type](https://github.com/servo/servo/blob/8e14894faeaefad84debbfa1b5363d5eea5deda0/components/script/dom/response.rs#L38) is not updated based on the Content-Type header.

Code: `co

[2019-11-04 04:01] jdm commented on #21476
@ridhimrastogi The mimeType argument is the JS engine's way of saying "this is expected to be a WASM mime type, please perform checks appropriately." Given https://github.com/servo/servo/issues/24628, I recommend getting `response.Headers()` and using the value of the `Content-Type` header as the MIME type to compare against.

[2019-11-04 05:53] ridhimrastogi commented on #21476
@jdm  Since [root_from_handle_object](https://doc.servo.org/script/dom/bindings/conversions/fn.root_from_handleobject.html) returns a Root<Dom< Response>> object  we  can use the [extract_mime_type](https://doc.servo.org/script/dom/headers/struct.Headers.html#method.extract_mime_type) method implemented in the [ResponseMethods](https://doc.servo.org/script/dom/bindings/codegen/Bindings/ResponseBin

[2019-11-04 08:04] paulrouget opened #24630 "UWP: implement few keyboard shortcuts"
At least ctrl-l, ctrl-r, alt-left, alt-right.

[2019-11-04 08:04] paulrouget opened #24631 "loading https://foo@bar.com rewrites the URL to https://http//foo@bar.com"

[2019-11-04 08:05] paulrouget opened #24632 "UWPOnUrlChanged is called twice"
Not sure if a UWP or servo issue

[2019-11-04 08:05] paulrouget opened #24633 "UWP: OnUrlChanged is called twice"
Not sure if a UWP or servo issue

[2019-11-04 09:49] paulrouget opened #24635 "uwp: cancel_current_task() throws at shutdown"
Looks like a recent regression.

[2019-11-04 09:50] CYBAI commented on #24632
Duplicate with #24633 👀

Almost same title and same issue description so I'm going to close this one and leave the title updated one.

[2019-11-04 09:50] #24632 closed

[2019-11-04 10:01] paulrouget commented on #24632
erf. thanks.

[2019-11-04 10:31] #24031 closed

[2019-11-04 11:29] paulrouget opened #24637 "Make it so test-tidy with clang-format run on the CI"
If I understand correctly, test-tidy only run on Linux. We need to figure out how to run the same clang-format version on both linux and windows, so we can activate CPP formatting tests on the CI.

[2019-11-04 11:41] paulrouget opened #24638 "The "all files" option for test-tidy + clang-format doesn't make sense"
It was supposed to be an optimisation. That was a bit naive. If `all_files` is false, it checks only files that have not been commited. Which doesn't make sense, we usually commit our changes before running `mach test-tidy`. We should just remove that option as we don't test many files any way.

[2019-11-04 12:38] jdm commented on #24637
The other option is to add a test-tidy invocation to the windows CI as well.

[2019-11-04 12:41] jdm commented on #21476
Good find! It's not necessary a Dom::Response to a net_traits::Response.

[2019-11-04 13:14] fixerivan opened #24642 "Failed to create hardware graphics context!: NoCurrentContext (thread main, at src/libcore/result.rs:1165)"
running ubuntu 16.04, clang 6

build from sources, getting this:

./mach run --release tests/html/about-mozilla.html
Failed to create hardware graphics context!: NoCurrentContext (thread main, at src/libcore/result.rs:1165)
stack backtrace:
   0: servo::main::{{closure}}
   1: std::panicking::rust_panic_with_hook
             at src/libstd/panicking.rs:472
   2: std::panicking::continue_panic_fmt

[2019-11-04 13:41] saschanaz opened #24643 "Incorrect codegen causes compilation failure for WindowPostMessageOptions"
[code]

Modifying `components/script/dom/webidls/Window.webidl` to match the spec fails as some part of generated code doesn't think `WindowPostMessageOptions` needs tracing and other part does.

[2019-11-04 14:15] paulrouget commented on #24635
cancel_current_task() does not need to be called because we are shutting down, I'm assuming the runtime is cancelling all the task at that point anyway. We just need to let the thread finish, and everything shuts down as expected.

This is interesting though. When VS is debugging, by default, it's not breaking on all the exceptions. Breaking on all exceptions show some errors we did not see in the

[2019-11-04 14:19] paulrouget opened #24647 "Figure out which exceptions we can safely ignore (uwp)"
These are the default exceptions that VS will break on if they are thrown:

![Screen Shot 2019-11-04 at 15 17 38](https://user-images.githubusercontent.com/373579/68127465-41370900-ff16-11e9-83c8-6201d456ab06.png)

Selecting all the exceptions shows that we have some other exceptions occurring that we ignore. For example, breaking on all the exceptions makes it impossible to start Servo on the dev

[2019-11-04 14:37] CYBAI opened #24648 "Use UTF-8 decode without BOM for multipart/form-data"
whatwg/fetch#915
web-platform-tests/wpt#17589 (not merged yet)

@jdm I think following code is the related function 👀?

https://github.com/servo/servo/blob/f626355b67fc007d5961c446d5a4ddbcc3785698/components/script/body.rs#L173-L200

[2019-11-04 15:02] fixerivan opened #24649 "fully static build"
is it possible to build servo as a fully static binary using RUST-MUSL https://doc.rust-lang.org/edition-guide/rust-2018/platform-and-target-support/musl-support-for-fully-static-binaries.html ?

out of the box it fails on:

error: cannot produce cdylib for `simpleservo_capi v0.0.1 (/home/vania/servo/ports/libsimpleservo/capi)` as the target `x86_64-unknown-linux-musl` does not support these crate

[2019-11-04 15:08] jdm commented on #24649
What is the build command you are running? The simpleservo_capi is only used for embedding, rather than building a single binary.

[2019-11-04 15:09] SimonSapin commented on #24649
This seems hard, since we compile a number of C and C++ libraries and those would also need to support musl in their respective build systems.

[2019-11-04 15:19] fixerivan commented on #24649
@jdm  the error was generated by running:

RUSTFLAGS='-L ./support/linux/gstreamer/gst/lib' cargo build --release --target=x86_64-unknown-linux-musl

[2019-11-04 15:19] jdm commented on #24649
@fixerivan You might have better luck with `--manifest-path ports/glutin/Cargo.toml`.

[2019-11-04 15:23] jdm commented on #24648
You are correct, and it's also related to https://github.com/servo/rust-url/blob/7d2c9d6ceb3307a3fad4c4bcb7f5b07b5e24c755/src/form_urlencoded.rs#L21-L58. It's not entirely clear to me what needs to be done.

[2019-11-04 16:01] 10by10pixel opened #24650 "Appveyor builds not working"
Right now the read me badge for Appveyor reads: ![Windows Build | Project not found or access denied.](https://user-images.githubusercontent.com/5394990/68135757-2f436f00-fef2-11e9-8414-7ac65a895490.png). Clicking on it reveals an Appveyor page with the same error.

[2019-11-04 16:04] jdm commented on #24650
Thanks. I've submitted https://github.com/servo/servo/pull/24651 to remove that badge.

[2019-11-04 16:24] fixerivan commented on #24649
@SimonSapin yes, thats why i am trying to compile it on Alpine which is a MUSL based distro

but i am getting crate-type errors on macros such as:

alpine:~/servo# ./mach build --release --target=x86_64-unknown-linux-musl
rustc 1.40.0-nightly (246be7e1a 2019-10-25)
info: component 'rust-std' for target 'x86_64-unknown-linux-musl' is up to date
error: cannot produce proc-macro for `cssparser-macros

[2019-11-04 16:33] fixerivan commented on #24649
@jdm thx for the tip but the result is the same:

alpine:~/servo# cargo clean
alpine:~/servo# ./mach clean
Removing virtualenv directory: /root/servo/python/_virtualenv
alpine:~/servo# cargo build --manifest-path ports/glutin/Cargo.toml
error: cannot produce proc-macro for `cssparser-macros v0.6.0` as the target `x86_64-unknown-linux-musl` does not support these crate types

[2019-11-04 16:34] 10by10pixel commented on #24650
Is Windows no longer supported?

[2019-11-04 16:35] jdm commented on #24650
It's definitely supported. We just don't rely on Appveyor for our windows CI needs any more. The CI we do use for it doesn't have badges, as far as I know.

[2019-11-04 16:36] 10by10pixel commented on #24650
Gotcha. Thanks for the quick replies.

[2019-11-04 16:51] SimonSapin commented on #24649
Honestly, I think this error is just the beginning. I expect pushing this project to completion would take considerable effort at best, including a lot of investigation of unclear error messages. I’m personally not interested in investing that effort myself.

[2019-11-04 19:02] ridhimrastogi commented on #21476
@jdm we have raised a [PR](https://github.com/servo/servo/pull/24653) for the issue. Regarding the next step as mentioned below:

Do we need to call the consume_chunk method defined in the StreamConsumerWrapper for step [2-6](https://webassembly.github.io/spec/web-api/index.html#compile-a-potential-webassembly-response) as mentioned here.

[2019-11-04 20:06] jdm commented on #21476
consume_chunk is not required until the final step of "Subsequent steps".

[2019-11-04 20:51] VinnyVicious opened #24654 "Embedding example?"
Is there a small embedding example that showcases how to use Servo as a library? I'm trying to create a small window on X11 that just loads `google.com` with Servo.

[2019-11-04 20:57] jdm commented on #24654
https://github.com/servo/servo/tree/master/ports/libsimpleservo are crates that are designed to encapsulate embedding Servo in a relatively small set of traits. https://github.com/servo/servo/tree/master/support/magicleap and https://github.com/servo/servo/tree/master/support/hololens are two embeddings that make use of these crates.

[2019-11-04 20:59] VinnyVicious commented on #24654
Does that mean that I have to implement tabs myself, or that it isn't possible at all to implement multiple rendering areas? Because I was planning to implement tabs myself.

[2019-11-04 21:09] jdm commented on #24654
@paulrouget What's the answer to the question in the previous comment?

[2019-11-04 21:25] jdm commented on #20436
I'm pretty sure that [this code](https://github.com/servo/servo/blob/1d450ba1f30b970d5ae007f42139190f8d265ce1/components/script/dom/xmlhttprequest.rs#L663-L721) is responsible. For a string request body (as in the failing test case), we default to UTF-8 encoding. Then if the request includes a Content-Type header, we extract its MIME type but ignore its charset value and replace it with the encodi

[2019-11-04 21:26] jdm commented on #20436
This is steps 4.1-4.4 of [the XHR send algorithm](https://xhr.spec.whatwg.org/#dom-xmlhttprequest-send) from the specification.

[2019-11-04 21:28] jdm commented on #20436
According to https://mimesniff.spec.whatwg.org/#serialize-a-mime-type we should not be including the space in the resulting serialized mime type.

[2019-11-04 22:12] jdm commented on #16783
Recently started seeing "failed to build archive: Invalid data was encountered while parsing the file" which may or may not be related.

[2019-11-04 22:55] mati865 commented on #16783
cc https://github.com/rust-lang/rust/issues/65536

[2019-11-05 02:18] jdm opened #24656 "Intermittent timeout in /html/semantics/forms/the-button-element/button-submit-children.html"
[code]

[2019-11-05 03:39] paulrouget commented on #24654
Tabs are supported with the Rust API. It is not supported by the C API though, but it should be fairly easy to expose the feature to the C API.

Note: for now Servo supports only one compositor. That means only on GL buffer.

@VinnyVicious which toolkit and which language are you planning to use?

[2019-11-05 03:47] glowe commented on #24628
@highfive: assign me.

[2019-11-05 03:47] highfive commented on #24628
Hey @glowe! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-05 04:35] ridhimrastogi commented on #21476
@jdm The mozilla [implementation](https://searchfox.org/mozilla-central/source/dom/fetch/FetchUtil.cpp#489) and the [speciifcation](https://webassembly.github.io/spec/web-api/index.html#compile-a-potential-webassembly-response) diverge at step 2.6. Can you point out what more checks from the mozilla implementation need to be implemented here?

[2019-11-05 04:43] jdm commented on #21476
@ridhimrastogi That linked line of code is implementing step 1 from https://fetch.spec.whatwg.org/#concept-body-consume-body. You can do the same checks with [get_body_used](https://github.com/servo/servo/blob/8e14894faeaefad84debbfa1b5363d5eea5deda0/components/script/dom/response.rs#L220) and [is_locked](https://github.com/servo/servo/blob/8e14894faeaefad84debbfa1b5363d5eea5deda0/components/scrip

[2019-11-05 05:29] jdm opened #24658 "Crash loading CSS painting"
https://t.co/mRmzbrN6Df

<details>

[code]
</details>

[2019-11-05 05:48] gterzian opened #24659 "WebMessaging: support Client in ExtendableMessageEvent"
Spec:
- https://w3c.github.io/ServiceWorker/#dom-extendablemessageevent-source
- https://w3c.github.io/ServiceWorker/#client

Code:

https://github.com/servo/servo/blob/c89676be1d4b0e727b793f39cfb2d5db006ff1a8/components/script/dom/extendablemessageevent.rs#L28

tests, various in:
- https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/webmessaging
- https://github.com/servo/serv

[2019-11-05 05:49] gterzian commented on #24454
Moved the service-worker part to a separate issue, because it involves a separate `Client` interface, to https://github.com/servo/servo/issues/24659

[2019-11-05 06:07] gterzian commented on #24454
Closing this, because actually `MessagePort` as a source is only used when dispatching the `connnect` event of shared-worker(step 27 of https://html.spec.whatwg.org/multipage/workers.html#worker-processing-model). See https://github.com/servo/servo/pull/24636#discussion_r342390301

I don't think there is a need for a separate issue from https://github.com/servo/servo/issues/7458

[2019-11-05 06:07] #24454 closed

[2019-11-05 06:13] VinnyVicious commented on #24654
I'm willing to use anything that works better with Servo. Do you happen to have a minimal example in Rust? Since it needs GL, I'm assuming I also need glutin?

[2019-11-05 06:15] gterzian commented on #24659
This also involve implementing [`postMessage`](https://w3c.github.io/ServiceWorker/#dom-client-postmessage) on the [`ServiceWorkerGlobalScope`](https://w3c.github.io/ServiceWorker/#serviceworkerglobalscope)(code at https://github.com/servo/servo/blob/master/components/script/dom/serviceworkerglobalscope.rs), since I just realized we only implemented `postMessage` on the `ServiceWorker` interface,

[2019-11-05 06:25] gterzian opened #24660 "Webmessaging: add postMessage to ServiceWorkerGlobalScope"
This involve implementing [`postMessage`](https://w3c.github.io/ServiceWorker/#dom-client-postmessage) on the [`ServiceWorkerGlobalScope`](https://w3c.github.io/ServiceWorker/#serviceworkerglobalscope)(code at https://github.com/servo/servo/blob/master/components/script/dom/serviceworkerglobalscope.rs).

See https://github.com/servo/servo/blob/c89676be1d4b0e727b793f39cfb2d5db006ff1a8/components/sc

[2019-11-05 06:26] gterzian commented on #24660
Note that this is where the worker would be set a "source" for the message, using https://html.spec.whatwg.org/multipage/comms.html#messageeventsource

[2019-11-05 06:34] gterzian commented on #24454
Setting a service worker as "source" would have to be done as part of https://github.com/servo/servo/issues/24660

[2019-11-05 07:53] paulrouget commented on #24654
[ports/glutin](https://github.com/servo/servo/tree/master/ports/glutin) is an example of a basic browser based on top of the Rust API. The problem with Glutin is that it doesn't come with a widget toolkit. You can use any toolkit you want. The only requirement is providing GL methods and build an event loop.

What's your end goal?

[2019-11-05 08:46] paulrouget commented on #24630
Fixed by #24639

[2019-11-05 08:46] #24630 closed

[2019-11-05 09:47] shnmorimoto commented on #24290
@SiddharthaMishra Are you working on this? May I work on this?

[2019-11-05 11:22] paulrouget commented on #24637
@jdm is llvm 9 installed on the windows CI?

[2019-11-05 11:59] paulrouget opened #24663 "Immersive mode shows something only after the second time the session is requested"
I'll investigate more, but taking note to not forget: to get the basic demo to show something, I need to enter responsive mode, leave responsive mode, and enter responsive mode again.

[2019-11-05 13:55] jdm commented on #24637
All windows builds, local and CI, use the same set of LLVM binaries that are downloaded during the build command by mach. You can check the version in python/servo/packages.py.

[2019-11-05 15:44] asajeffrey commented on #24642
I can have a look at this when I get home.

[2019-11-05 15:54] asajeffrey commented on #24627
OK, we have a problem here, because we use the universal device throughout servo and webxr, which for windows is always the angle device. Fixing this to allow non-angle windows would probably require rewriting the code to be generic in the device, which is something we should do at some point, but is non-trivial. For the moment we could just make `--angle` the default?

[2019-11-05 17:24] #24638 closed

[2019-11-05 17:33] jdm opened #24666 "WPT update job broke"
[code]

[2019-11-05 17:33] highfive commented on #24666
cc @wafflespeanut

[2019-11-05 19:24] asajeffrey commented on #24642
Unfortunately it works at my end, and I'm also on Ubuntu 16.04. Are you running wayland?

[2019-11-05 19:30] fadedreamz commented on #20436
@jdm thank you. So, I removed the extra space but could not solve the lower case upper case issue. The root cause is when we are unwrapping the serialized mime string to Mime type via parse(), the [UTF8](https://docs.rs/mime/0.3.14/mime/constant.UTF_8.html) is being converted to lower case.
So later on when we are rebuilding the header we are getting lower cap "utf-8". Possible fix -
a) change the

[2019-11-05 19:37] jdm opened #24667 "Intermittent failure in /css/css-transforms/transform-scale-hittest.html"
[code]

[2019-11-05 21:30] heliashart commented on #21476
@jdm We are not sure how to call the consume_stream and report_error_stream in the init_stream_callback. Are we supposed to call the functions using the newly obtained context and other dummy parameters?

[code]

[2019-11-05 21:32] Akash-Pateria commented on #21476
@jdm We are not sure how to call the consume_stream and report_error_stream in the init_stream_callback. Are we supposed to call the functions using the newly obtained context and other dummy parameters?

[code]

[2019-11-05 21:51] jdm commented on #21476
@Akash-Pateria Take a look at how Firefox does it (https://searchfox.org/mozilla-central/source/dom/base/nsJSEnvironment.cpp#2518), as well as similar initializations in the same file (https://github.com/servo/servo/blob/593f8bd0f66d0c4a4f8f636a78337a7f029b9b8f/components/script/script_runtime.rs#L423). You should be calling [InitConsumeStreamCallback](https://doc.servo.org/mozjs/jsapi/fn.InitCons

[2019-11-06 05:27] Manishearth opened #35497 "Support SRGB"
(From https://github.com/servo/webxr/issues/83)

The hololens currently requests DXGI_FORMAT_B8G8R8A8_UNORM_SRGB as its most preferred format (and internally converts to srgb if you don't provide it). We should support directly producing srgb textures.

[2019-11-06 05:39] #24643 closed

[2019-11-06 07:20] SimonSapin opened #24671 "WPT update fails on Community-TC"
@jdm, have you seen an error like this before?

https://community-tc.services.mozilla.com/tasks/VUtnBHlyTNuvCUBupdiaeA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FVUtnBHlyTNuvCUBupdiaeA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log

[code]

[2019-11-06 07:32] #24367 closed

[2019-11-06 09:44] paulrouget commented on #24663
It's just that the demo was "all black" because of the usual trail issue.

[2019-11-06 09:44] #24663 closed

[2019-11-06 10:44] paulrouget commented on #24400
Ran into this today.

The issue is with target attribute. Simpler STR:

Create a file "a.html" containing: `<a target="foo" href="http://example.com">CLICK</a>`:

[code]

[2019-11-06 11:09] paulrouget commented on #24400
The glutin port doesn't support tabs yet. We should at least print an error: https://github.com/servo/servo/pull/24672

See:

https://github.com/servo/servo/blob/8abc272d27edf06840b23db79f76a4c3a6a8ed41/ports/glutin/browser.rs#L31

and:

https://github.com/servo/servo/blob/8abc272d27edf06840b23db79f76a4c3a6a8ed41/ports/glutin/browser.rs#L345

[2019-11-06 12:13] #24633 closed

[2019-11-06 12:40] jdm commented on #24671
Yes, I filed #24666 yesterday.

[2019-11-06 13:48] jdm opened #24673 "Resizes in inactive pipelines probably don't trigger responsive image updates when the pipeline becomes active"
ScriptThread::handle_resize_inactive_msg just calls Window::set_window_size. handle_resize_event calls `window.evaluate_media_queries_and_report_changes();`, so we probably want to store a flag on the window that means "if I ever become active again, reevaluate media queries". It should be possible to test this with an iframe that loads page A with responsive content, then loads page B, the iframe

[2019-11-06 14:51] VinnyVicious commented on #24654
Oh, I don't want to build a full browser. Just wanted to play around and create something for my own needs.

[2019-11-06 16:40] SimonSapin commented on #24671
Alright, let’s track it there. Looks like it’s not related to taskcluster.net v.s. Community-TC

[2019-11-06 16:40] #24671 closed

[2019-11-06 17:42] jdm opened #24675 "Intermittent crash in osmesa during webgl tests"
[code]

[2019-11-06 18:17] #24589 closed

[2019-11-06 18:39] jdm commented on #6631
Sorry for not answering this question sooner! I don't think it's necessary to rename the struct.

[2019-11-06 20:11] jdm commented on #24611
Observed on both Windows and Linux on CI.

[2019-11-07 00:28] jdm commented on #24494
https://joshmatthews.net/bbjsrender.mov

Something about the default camera position in immersive mode ends up starting off with a fully black render; I need to hold down the arrow keys for a few seconds to orient it to show anything else. As the video shows, there's something really weird going on in the rendering.

[2019-11-07 01:00] jdm commented on #24494
I can avoid the blackness by commenting out https://github.com/paulrouget/paulrouget.github.com/blob/109f67050461b5eb122d2604e0cbc9562f05b3d0/test/bbjs/basic/index.js#L55. Based on the way the view of the scene appears to move in a spherical way when I press the arrow keys, whereas in three.js demos it shifts in a very linear way, I suspect at least part of the problem is some matrix math setting

[2019-11-07 01:01] jdm commented on #24494
WebXRCamera.prototype.updateFromXRSessionManager is the bit of code that controls that.

[2019-11-07 02:07] jdm commented on #24494
I'm having a hard time sorting out what I can trust. Firefox runs https://www.babylonjs-playground.com/frame.html#JA1ND3#161 in immersive mode just fine with the [webxr emulator](https://addons.mozilla.org/en-US/firefox/addon/webxr-api-emulator/) installed, but it totally fails to render http://paulrouget.com/test/bbjs/mansion/, which suggests that there's some change that's been made which might

[2019-11-07 02:44] jdm commented on #24494
Similarly http://paulrouget.com/test/bbjs/basic/ in Firefox doesn't render correctly - the background appears, but nothing else, and there are some very odd glitches at the very start that disappear quickly.

I saved the default project from https://www.babylonjs-playground.com/frame.html and added the `scene.createDefaultXRExperienceAsync();` bit to get the XR integration. This ran immersively in

[2019-11-07 02:45] jdm commented on #24494
For future reference, the three.js XR frame update code is https://github.com/mrdoob/three.js/blob/db5bfed9b0220c235ac168556405732cf13f76d8/src/renderers/webvr/WebXRManager.js. They do some matrix inversion that the equivalent code in babylon does not, but I don't know if that matters. I tried replicating it in babylon and it didn't appear to make a difference.

[2019-11-07 04:51] #24635 closed

[2019-11-07 15:19] deepnum opened #24682 "which gui library does servo use ?"

[2019-11-07 15:25] jdm commented on #24682
We do not use a gui library. We use https://github.com/rust-windowing/winit and https://github.com/rust-windowing/glutin for the platform-specific window creation and GL integration, but otherwise any UI like form elements in web pages are drawn with CSS.

[2019-11-07 15:25] #24682 closed

[2019-11-07 16:43] SimonSapin opened #24684 "Fix improper_ctypes warnings in Rust Nightly"
Steps:

* Make a branch up to date with `origin/master`
* Run `./mach rustup`, which updates the `rust-toolchain` file
* Run `./mach build`
* See many warnings like
[code]
* Find a way to fix them. This may involve upgrading rust-bindgen, or making changes rust-bindgen and then upgrading to a version with those changes
* Revert the `rust-toolchain` change
* Submit a PR

We don’t need to upgrade th

[2019-11-07 16:46] jdm commented on #24684
JSContext is indeed not FFI-safe. It should be a jsapi::JSContext instead, and https://github.com/servo/servo/pull/24653 fixes that.

[2019-11-07 17:36] jdm opened #24686 "script indirectly depends on webrender"
Theoretically script only needs to depend on webrender_api, but we have:
script -> media -> webrender_traits -> webrender

It would be great to break this dependency. webrender_traits only uses webrender::ExternalImageHandler and webrender::ExternalImage. It seems like these should be part of the public webrender_api crate instead.

[2019-11-07 18:27] jdm commented on #24686
https://github.com/servo/webrender/pull/3796

[2019-11-07 19:16] jdm commented on #24611
I had a theory that we had upgraded harfbuzz-sys, but that has not occurred in at least 6 months.

[2019-11-08 04:40] #22617 closed

[2019-11-08 06:22] paulrouget commented on #24494
Do you use the preview version?

[2019-11-08 06:27] paulrouget commented on #24631
Fixed by #24634

[2019-11-08 06:27] #24631 closed

[2019-11-08 06:28] paulrouget commented on #24654
If you want to user Rust and Glutin (no toolkit), look at ports/glutin. If you want another language with a toolkit (GTK, AppKit, …), look at how libsimpleservo is used in supports/hololens/.

[2019-11-08 07:17] paulrouget commented on #24494
This is what the basic demo looks like with the device: https://gfycat.com/thoughtfulfrankindianskimmer

[2019-11-08 08:02] SimonSapin opened #24691 "Restore macOS CI workers"
Some of them are out of the main worker pool because of various build issues:

https://github.com/servo/taskcluster-config/blob/28983e05/config/worker-pools.yml#L13-L24

* [x] `mac1`: https://github.com/servo/servo/pull/24689#issuecomment-551422520
* [x] `mac3`: https://github.com/servo/servo/issues/24755
* [x] `mac9`: https://github.com/servo/servo/pull/24688
* [x] `mac8`: https://github.com/serv

[2019-11-08 08:05] SimonSapin commented on #24691
CC @jdm

[2019-11-08 09:09] paulrouget opened #24693 "HoloLens and Immersive Mode: generic way to exit?"
What should be to proper way to leave the immersive mode without relying on the page calling `session.end()`? Should we provide a generic method to exit, or does HoloLens provide a way of doing that?

@Manishearth do you have any idea?

[2019-11-08 12:14] gterzian opened #24696 "Fmt not working?"
Has anyone noticed that calling `./mach fmt` doesn't seem to always work? I was working on `component/script/dom/globalscope.rs` and it seemed to have no effect. At the same time it was working in `component/constellation/constellation.rs`.

[2019-11-08 12:26] rasviitanen commented on #24627
I also have this issue.  `mach run --angle` works for me. However, I can not run `mach test-wpt test/path -- --angle`. Is there any fix to this, so I can run my tests before this is resolved?

[2019-11-08 12:50] jdm commented on #24627
`mach test-wpt --binary-arg=--angle test/path` should do the trick.

[2019-11-08 12:51] jdm commented on #24691
mac8 was taken out of the pool because of https://github.com/servo/servo/issues/23429.

[2019-11-08 13:00] jdm commented on #24696
What's an example of how it did not work? I haven't noticed any problems with it.

[2019-11-08 13:38] jdm commented on #24666
https://github.com/web-platform-tests/wpt/pull/20177 will fix this.

[2019-11-08 14:53] gterzian commented on #24696
I just narrowed it down, it has no effect inside a `task!` macro, which is perhaps expected...

[2019-11-08 16:09] VinnyVicious commented on #24654
Thank you!

[2019-11-08 16:09] #24654 closed

[2019-11-08 16:09] Manishearth opened #24698 "Hololens click events not working for some people"
I first thought this was a platform issue, but some folks (including @pcwalton) are having trouble clicking links (etc) on Servo's 2D hololens port.

It might be related to https://github.com/servo/servo/pull/24547 . I haven't really investigated this since I can't easily replicate it myself, but I think these folks poke instead of tap, and that may trigger mouse events instead of touch events or

[2019-11-08 16:21] Manishearth commented on #24693
I think opening the start menu and hitting home should exit the session.

We do that already, but we also exit on STOPPING states which we aren't supposed to (https://github.com/servo/webxr/pull/78)

The openxr state stuff is somewhat broken on the hololens and we need to wait it out for some fixes.

[2019-11-08 16:38] jdm opened #24699 "Intermittent failure in /css/css-flexbox/flexbox_flex-0-0-N-unitless-basis.html"
[code]

[2019-11-08 16:55] jdm commented on #24494
https://github.com/asajeffrey/surfman-chains/pull/5 makes a _huge_ difference to the rendering quality of http://paulrouget.com/test/bbjs/basic/ in the glwindow backend. Interestingly, there are clearly now alternating frames between the expected rendering and some other view when moving the camera around. I'm not exactly sure what to make of it.

[2019-11-08 17:18] jdm commented on #24494
http://paulrouget.com/test/bbjs/mansion/ is also way more usable with the surfman-chains PR applied, with the caveat that the camera issues are even more readily apparent.

[2019-11-09 05:30] CYBAI commented on #24696
@gterzian is it like rust-lang/rustfmt#3478 👀?

[2019-11-10 05:11] gterzian commented on #24696
yes

[2019-11-10 12:28] SimonSapin commented on #24510
It looks like we’re hitting this on CI too: https://community-tc.services.mozilla.com/tasks/HXPJxNepSsGvj0SoRU8F1g/runs/0

@jdm, @emilio, do you know why we set `SCCACHE_IDLE_TIMEOUT` to 1200 rather than 0?

[2019-11-10 13:24] jdm commented on #24510
I vaguely recall having sccache problems with the default timeout and being told to use a non-zero timeout, but it's been a long time since that conversation.

[2019-11-10 15:13] CYBAI commented on #24696
How about leaving a comment in that thread so that rustfmt folks can reopen that issue and investigate it 👀?

[2019-11-10 15:24] gterzian commented on #24696
fmt is using 1.4.8 on my machine, and the commit that would have fixed it would have been included in one of the two recent ones I think. We could first see if updating fmt helps...

[2019-11-10 16:38] CYBAI commented on #20846
[code]

[2019-11-11 01:41] tomasdivito commented on #24468
@jdm As I had a harder time than I thought with exams, which won't end until the second week of december, I may had to leave this patch be! And maybe the issue and PR from #24466

I'll surely will be back to do these if nobody made it, or find something else! Sorry :(

[2019-11-11 02:43] jdm opened #24702 "Hubs panics during CSP calculation"
[code]

[2019-11-11 02:44] jdm commented on #24702
https://github.com/rust-ammonia/rust-content-security-policy/blob/d378b93bd66573bd131da2de1d0710385fcd908d/src/lib.rs#L1461-L1474

[2019-11-11 02:46] jdm commented on #24702
https://github.com/rust-ammonia/rust-content-security-policy/issues/15 has more details how to implement this unimplemented feature. It's not great that it takes down Servo in its current state, however.

[2019-11-11 08:18] paulrouget opened #24703 "Test and add XR Button demo to hl-home"
https://playground.babylonjs.com/#8Y780Y#57

[2019-11-11 08:19] paulrouget commented on #24437
FIxed in https://github.com/servo/webxr/pull/78

[2019-11-11 08:19] #24437 closed

[2019-11-11 09:56] paulrouget commented on #24698
Might be https://github.com/servo/servo/issues/24596 - I'll be looking at this this week.

[2019-11-11 10:20] SimonSapin commented on #24696
rustfmt mostly does not format things inside macros, because an unknown could accept arbitrary Rust token trees that are not necessarily valid Rust language syntax.

* https://github.com/rust-lang/rustfmt/issues/8
* https://github.com/rust-lang/rustfmt/issues/2905
* https://github.com/rust-lang/rustfmt/issues/3445
* https://github.com/rust-lang/rustfmt/issues/3705

[2019-11-11 10:28] paulrouget commented on #24693
Right. But we do not go back to 2D mode. We have to re-activate the window. Which might be good enough.

[2019-11-11 14:39] zakorgy opened #24706 "Implement WebGPU in Servo"
One of the goals of the University of Szeged team in this year is to implement the WebGPU API (https://gpuweb.github.io/gpuweb/) in Servo.
This includes the following tasks:
- [ ] Set up a background thread where we call the WebGPU functions (WebGPU thread). Here we would use [wgpu-native](https://github.com/gfx-rs/wgpu) crate.
- [ ] Establish the asynchronous communication between this background

[2019-11-11 14:42] jdm opened #24707 ""Messageport Gc'ed too early" panic in /fetch/security/embedded-credentials.tentative.sub.html"
[code]
cc @gterzian
Is this fixed by #24664?

[2019-11-11 15:40] gterzian commented on #24707
This is not fixed by #24664.

Here, the global is managing the port, however when the time comes to dispatch a `MessageEvent`, the corresponding `WeakRef<MessagePort>` has already been GC'ed

https://github.com/servo/servo/blob/f7fb130a2a21ae19cf0996251134ad23fea9068d/components/script/dom/globalscope.rs#L513

Where is the "Multiple top level browsing contexts not supported" coming from? Was this

[2019-11-11 16:12] Manishearth commented on #24693
Perhaps there is a way we can make it so that the window doesn't need to be
reactivated?

On Mon, Nov 11, 2019, 2:28 AM Paul Rouget <notifications@github.com> wrote:

[2019-11-11 19:47] jdm opened #24710 "Intermittent crash in /html/canvas/offscreen/the-offscreen-canvas/size.large.html, /html/canvas/offscreen/the-offscreen-canvas/size.large.worker.html"
[code]

[2019-11-11 20:35] #24465 closed

[2019-11-11 20:35] #24536 closed

[2019-11-12 08:52] SimonSapin commented on #22691
Apparently this could also help with https://bugzilla.mozilla.org/show_bug.cgi?id=1548781

[2019-11-12 13:24] jdm commented on #21476
This is only partially fixed so far.

[2019-11-12 14:37] SimonSapin opened #24714 "sccache consistently errors on CI since Rust nightly-2019-11-07"
https://community-tc.services.mozilla.com/tasks/NvN6U22bQ-C626hsVGu4fA

[code]

The error message is the same as in https://github.com/servo/servo/issues/24510, but setting `SCCACHE_IDLE_TIMEOUT` to zero does not help.

Merges in the regression range of `nightly-2019-11-06` to `nightly-2019-11-07` https://github.com/rust-lang/rust/compare/1423bec54...38048763e:

* Auto merge of https://github.com/

[2019-11-12 14:40] jdm commented on #24714
What's the best way to tackle this? Try to reproduce this locally?

[2019-11-12 14:51] SimonSapin commented on #24714
I haven’t managed to reproduce when building on my machine with the same version of sccache.

The output shows that this errors occurs when `read_exact` fails to read 4 bytes from a `BufReader<TcpStream>`.

https://github.com/mozilla/sccache/blob/f1322dca19577310cfcfb40059ff954d2140598b/src/client.rs#L56-L59

This happens when `libc::recv` returns 0, which indicates that the TCP connection has bee

[2019-11-12 14:53] jdm commented on #24714
Is it worth seeing if there's any interesting compiler output on CI if we don't use sccache?

[2019-11-12 14:56] SimonSapin commented on #24714
Good idea, I’ve started https://community-tc.services.mozilla.com/tasks/Wxja6BOTQ6OYbp-79FhFtA to try that.

[2019-11-12 15:03] SimonSapin commented on #24714
By the way, my workflow for this kind of "try build" without a PR is:

* Make a local branch
* Make changes to try
* In the `try-taskcluster` list in the `by_branch_name` dict in `etc/taskcluster/decision_task.py`, add tasks to be run
* Commit
* `git push origin -f HEAD:try-taskcluster`
* Navigate to https://github.com/servo/servo/commits/try-taskcluster
* Click the orange dot on the latest commit

[2019-11-12 15:20] SimonSapin commented on #24714
https://community-tc.services.mozilla.com/tasks/Wxja6BOTQ6OYbp-79FhFtA succeeded. The only thing of note is that it generated more than 300k stderr lines worth of warnings, most of them from https://github.com/servo/servo/issues/24684. And https://github.com/rust-lang/rust/pull/65134 is in the regression range.

I’ve also started https://community-tc.services.mozilla.com/tasks/BgPRR43VTKWDVM8nY6A5

[2019-11-12 15:46] SimonSapin commented on #24714
https://community-tc.services.mozilla.com/tasks/BgPRR43VTKWDVM8nY6A5Ew/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FBgPRR43VTKWDVM8nY6A5Ew%2Fruns%2F0%2Fartifacts%2Fpublic%2Fsccache.log#L321219

[code]

https://github.com/tokio-rs/tokio/blob/master/tokio-util/src/codec/length_delimited.rs

[code]

https://github.com/mozilla/sccache/issues/329 / https://git

[2019-11-12 15:48] jdm opened #24715 "Intermittent android build failure during fontconfig"
[code]

[2019-11-12 15:49] jdm commented on #24715
Looks like sometimes gperf is missing?

[2019-11-12 15:50] jdm commented on #24715
Perhaps it should be added to https://github.com/servo/servo/blob/master/etc/taskcluster/docker/build.dockerfile.

[2019-11-12 16:22] SimonSapin commented on #24714
https://community-tc.services.mozilla.com/tasks/LpLx0VqfTaqiCXEmEo-Qfw is green with `SCCACHE_MAX_FRAME_LENGTH` set to 100 MB.

[2019-11-12 19:00] jdm opened #24718 "srcdoc iframes navigate synchronously"
srcdoc iframe support was added in https://github.com/servo/servo/pull/24576. We load them the same way we load about:blank - we punch a hole into ScriptThread from the HTMLIFrameElement code, create an HTML parser and seed it with the string that's available. https://searchfox.org/mozilla-central/source/testing/web-platform/tests/html/interaction/focus/the-autofocus-attribute/skip-not-fully-activ

[2019-11-12 19:29] #24596 closed

[2019-11-12 19:58] jdm commented on #21810
Sorry, I missed these questions. Looking at those three links, I agree that those parsing specifications appear to match the corresponding validation specification. I don't think it's worth rewriting the validation routines unless there is motion in the specification to change them, or we learn of a case that is not actually covered for some reason.

As for floating point numbers, it appears that

[2019-11-12 22:13] SimonSapin commented on #24684
The Rust team is (kindly) waiting on us to be able to upgrade before landing https://github.com/rust-lang/rust/pull/66344. I have a branch ready for that, but it requires a Nightly more recent than these new warnings.

[2019-11-12 22:14] #4767 closed

[2019-11-12 23:28] jdm commented on #24718
In particular, I suspect what we will need is:
* update [this check](https://github.com/servo/servo/blob/bd0ae59ca9b49c0cdfd343fca95c5f5d8cb6c279/components/script/script_thread.rs#L1447-L1449) so the origins match
* update [this check](https://github.com/servo/servo/blob/bd0ae59ca9b49c0cdfd343fca95c5f5d8cb6c279/components/constellation/constellation.rs#L991-L993) so the right script thread is sel

[2019-11-13 00:05] jdm opened #24720 "Images loaded from file:// urls are not meaningfully cached"
`RUST_LOG=net ./mach run tests/wpt/mozilla/tests/css/background_size_zero_a.html` shows an endless stream of image loads happening because there's a new opaque origin provided every time. This is fallout from https://github.com/servo/servo/pull/24340, presumably because file:// urls generate a new opaque origin. This happens because when we create a LayoutContext in layout_thread/lib.rs, we pass `

[2019-11-13 07:28] paulrouget commented on #24494
This is massive improvement!!! No trail anymore.

[2019-11-13 07:37] paulrouget commented on #24703
As well as: https://playground.babylonjs.com/#ZNX043#15

[2019-11-13 07:57] paulrouget opened #24721 "HoloLens: keyboard shortcut tooltips are "floating" in the middle of the UI"

[2019-11-13 07:59] paulrouget opened #24722 "HoloLens: performance issues after leaving immersive mode"
STR:
- run one of the "advanced" bbjs demo
- go to start, press home
- active servo window
- go back to the list of demo
- notice how unresponsive scrolling is
- load a demo, see how slow it is

[2019-11-13 08:01] paulrouget opened #24723 "Closing the Servo App and re-opening it might not reload the whole app"
I would have imagined that pressing the close button might kill the process. But starting the app again, some times, bring back the page we were visiting before closing the app.

[2019-11-13 08:07] paulrouget commented on #24307
So with the latest improvements, we get to a point where we can load and navigate the different demos. I notice only 2 obvious issues now: the hand laser are only moving in one axis, and, when moving forward/backward the camera move too much.

@jdm is that what you mean by camera issues here https://github.com/servo/servo/issues/24494#issuecomment-551914834

[2019-11-13 11:44] paulrouget commented on #24307
I'm talking to the bbjs people to get the SVG images replaced with bitmaps when SVG is not supported. In a recent update the "Enter VR" button use a SVG icon only.

[2019-11-13 11:54] garasubo opened #24724 "Compostion evnet doesn't trigger correctly for IME"
In #22346 , I found that composition start evnet doesn't trigger when I started to input something in IME. My test environment was Ubuntu 18.04 with fcitx IME.
Ref: https://developer.mozilla.org/en-US/docs/Web/API/Element/compositionstart_event

The keyboard event itself comes from [winit](https://github.com/rust-windowing/winit) library. I also found some of issues mentioning about IME. So, the r

[2019-11-13 11:55] paulrouget commented on #24703
Skulls demo, getting a script error: `controller.vrController.gamepadController` is undefined

Buttons demo: camera issue and hand axis not behaving correctly. Consistent with https://github.com/servo/servo/issues/24307#issuecomment-553286716

[2019-11-13 12:23] paulrouget commented on #24703
I'm adding the demos to ml-home: https://github.com/servo/servo.org/pull/80

I will continue investigating issues in #24307

[2019-11-13 12:23] #24703 closed

[2019-11-13 12:24] paulrouget commented on #24307
There are 2 other demos to come (see #24703).

[2019-11-13 12:28] paulrouget commented on #24307
Immersive issues:
- camera issue. Very noticeable with the Button demo.
 - The buttons do not stand still
 - The right eye and the left eye do not match. One is more skewed than the other.
- hand "rays" are not properly following the hand (any demo)
- In the Button demo, interacting with the buttons doesn't trigger the color change.
- The skulls demo triggers a JS error: `controller.vrController.g

[2019-11-13 12:34] SimonSapin commented on #24684
I’ve looked into this. Unfortunately there is no accidental bug here: the lint was intentionally changed to warn against a pattern that is in pervasive use in our DOM bindings.

Specifically: when an `extern fn` function (meant to be called by C++ or JIT’ed code in SpiderMonkey) takes as parameter a raw pointer to a Rust struct that is not FFI-safe.

Our DOM objects are based on many Rust structs

[2019-11-13 12:50] SimonSapin commented on #24684
@jdm, @nox, how would you feel about doing this and keeping this issue open to track fixing it later? Though there’s a risk it falls through the cracks…

[2019-11-13 13:23] jdm commented on #24684
I'm fine with being pragmatic when we're blocking the Rust project from making progress. That being said, our DOM objects should already be repr(C). Which types are actually being warned about?

[2019-11-13 13:48] SimonSapin commented on #24684
We use `repr(C)` to preserve field order (and have the "parent" at the same memory address through being the first field), but many of these structs contain fields that are not FFI-safe themeselves: `HashMap`, `RefCell`, etc.

[2019-11-13 13:51] nox commented on #24684
One other solution would be to make the various `extern "C"` functions for which the lint is triggered take some sort of `*mut c_void` instead, which we then cast to the proper type insid the function.

[2019-11-13 13:57] SimonSapin commented on #24684
It’s possible. I started doing it for the `this` parameter of methods generated by `CGSpecializedMethod` in `components/script/dom/bindings/codegen/CodegenRust.py`, which cut the number of warnings in ~half.

But there are a number of other cases. It’s hard to say without doing it, but I wonder if pushing this to completion would lead us to having `c_void` almost everywhere, reducing type safety.

[2019-11-13 14:15] CryZe commented on #24684
Yeah while that would work, that would be pretty unfortunate. At the moment I‘m making heavy use of stuff like Option<&mut SomeRustType> as parameters in my C FFI, as it both allows for super clean safe handling from Rust‘s side and also nice automatically generated high level bindings for the other side. Reducing it to raw void pointers only would significantly hurt both.

[2019-11-13 14:45] SimonSapin commented on #24684
(Did you mean that comment for https://github.com/rust-lang/rust/issues/66220?)

[2019-11-13 15:53] jdm opened #24726 "Intermittent reftest failures on linux (blank rendering)"
I've noticed this in two different pull requests since yesterday, and I'm pretty sure we've been ignoring these intermittent failures for an indeterminate amount of time. One test result looks like:
<img width="631" alt="Screen Shot 2019-11-13 at 10 51 15 AM" src="https://user-images.githubusercontent.com/27658/68779982-8a1c4b00-0603-11ea-941a-10d05197c7ef.png">
The other test result is completely

[2019-11-13 17:46] jdm commented on #24494
https://joshmatthews.net/bbjscamera.mov is the macOS camera rendering issues that I'm talking about.

[2019-11-13 18:04] jdm commented on #24307
The gamepadController error comes from this JS:
[code]
Because of https://github.com/servo/servo/blob/eb05af27d2bc8597bb7ce54b4b545e5ec99dd84f/components/script/dom/webidls/XRInputSource.webidl#L25.

[2019-11-13 19:19] jdm opened #24727 "glwindow only shows a black window for babylon demos"
Since updating to https://github.com/servo/servo/pull/24676, the glwindow webxr backend no longer renders anything on macOS.

[2019-11-13 19:59] jdm commented on #24727
Alan pointed out that http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html works fine. It's http://paulrouget.com/test/bbjs/basic/ that doesn't display anything since #24676.

[2019-11-13 20:12] jdm opened #24729 "Intermittent panic sending webrender transanction from layout"
[code]

This might happen because webrender gets shut down before all layout threads are shut down. I haven't investigated if that's actually possible.

[2019-11-13 20:15] jdm commented on #24727
Alan also points out that he sees non-black but horrible flickering for http://paulrouget.com/test/bbjs/basic/ on macOS in a debug build, so it's a more nuanced issue than I assumed.

[2019-11-13 20:22] jdm commented on #24726
Observed in /css/CSS2/margin-padding-clear/margin-left-103.xht, so it's not just font-related:
<img width="259" alt="Screen Shot 2019-11-13 at 3 22 29 PM" src="https://user-images.githubusercontent.com/27658/68801127-6c61dc80-0629-11ea-89fb-eb3e78dcfc66.png">

[2019-11-13 20:24] jdm commented on #24726
One theory: https://github.com/servo/servo/pull/24677 might have caused some layout or compositing code to believe that the window is incorrectly sized.

[2019-11-13 20:27] jdm commented on #21893
These tests are no longer disabled and I don't recall seeing this problem in a long time.

[2019-11-13 20:27] #21893 closed

[2019-11-13 20:28] jdm commented on #17106
This was fixed a while ago.

[2019-11-13 20:28] #17106 closed

[2019-11-13 20:29] jdm commented on #23422
Haven't seen this since May.

[2019-11-13 20:29] #23422 closed

[2019-11-13 20:31] jdm commented on #22062
Happily, this stopped affecting us earlier this year.

[2019-11-13 20:31] #22062 closed

[2019-11-13 20:41] jdm opened #24730 "referrer-policy tests panic due to refcell borrow errors"
[code]

[2019-11-13 20:42] jdm commented on #13503
We now run these tests.

[2019-11-13 20:42] #13503 closed

[2019-11-13 20:42] jdm opened #24731 "srcdoc referrer-policy tests are disabled"
https://github.com/servo/servo/blob/eb05af27d2bc8597bb7ce54b4b545e5ec99dd84f/tests/wpt/include.ini#L140-L145

Since https://github.com/servo/servo/pull/24576/ merged, we should start running these.

[2019-11-13 20:44] jdm commented on #24730
This is panicking on borrowing ScriptThread::documents. Should be a fun hunt through the call stack to figure out where we previously borrowed it.

[2019-11-13 21:18] jdm commented on #24730
The most likely candidate is ScriptThread::handle_update_history_state_msg, but I don't see a smoking gun. Surround the `self.documents.borrow()` with {} is supposed to avoid the borrowing problem.

[2019-11-13 21:29] jdm commented on #24726
Seen in https://github.com/servo/servo/commit/59eca0260c9800dab52cf314b03554a061a6d733.

[2019-11-13 22:05] JelteF commented on #24421
I released a new version of `derive_more`, 0.99.1

[2019-11-13 22:36] jdm commented on #24726
More specifically, #24700 did not merge but #24701 did which include the same changes.

[2019-11-13 22:38] jdm commented on #24726
I plan to test this theory by reverting changes since https://github.com/servo/servo/commit/e5689df6b44696bf24f8757cd1f6e14d1aabf6f0 and throwing this at try-wpt many times.

[2019-11-14 04:32] nmvk commented on #24720
@highfive assign me

[2019-11-14 04:32] highfive commented on #24720
Hey @nmvk! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-14 06:18] mzabaluev opened #24733 "Trait bounds unnecessarily invovle field types"
Following up on discussion in https://github.com/rust-lang/rfcs/pull/2811#issuecomment-553666221, it seems like the bounds on these trait impls can be changed to bounds directly on type parameters in order to avoid undue entanglement and make possible `derive` specifications for these impls less verbose:

[code]

[code]

[code]

Also, this only has to have any non-parameter bounds because `Circle`

[2019-11-14 07:56] paulrouget commented on #24307
Hmm. I thought we fixed that in babylonjs a couple of weeks ago.

[2019-11-14 09:38] SimonSapin opened #24735 "macOS builds on CI routinely take 1 to 2 hours"
For example 123 minutes measured by Cargo for a release build:

https://community-tc.services.mozilla.com/tasks/TXJGoS0pTOGhcNoJCzmNKg/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FTXJGoS0pTOGhcNoJCzmNKg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L1344

Other recent builds I looked at semi-randomly are similar. For comparison, my 4 cores / 8 threads

[2019-11-14 11:33] paulrouget commented on #24698
I'm not sure how to reproduce.

The UWP port follows these guidelines: https://docs.microsoft.com/en-us/windows/uwp/design/input/handle-pointer-input

Mouse down and up are triggered on released and pressed. Click is triggered on tap.

What is a "poke"? Is it https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.holding ?

Can you explain a bit more?

[2019-11-14 11:48] nox commented on #24733
It is easier for `ToCss` to default to bounds on field types, I'm not sure what the samples in the issue are supposed to show. What is the action you expect here?

[2019-11-14 12:01] nox commented on #24733
Like, I'm aware that there are plenty of types where we could bound on the type parameters instead of the field types, but e.g. anything that uses `style::values::generics::image::GenericGradient` generically wouldn't be able to derive `ToCss` if not for those bounds on field types.

As an aside, you may not want to claim things are design warts when you admit yourself you didn't dig further. Most

[2019-11-14 12:47] #22346 closed

[2019-11-14 13:08] mzabaluev commented on #24733
That's only because of a `LineDirection` bound on one of the parameters, that has to be there because you maintain separation between computed, specified, etc. values on the type level, maintaining almost exact copies for lots of the scalar type definitions (`computed::image::LineDirection` vs. `specified::image::LineDirection`), but want generic composite types parameterized with either kind to r

[2019-11-14 13:28] gterzian opened #24737 "Run all JS from a task scheduled on the task-queue?"
We currently have a task-queue:

https://github.com/servo/servo/blob/f3b1f0d30858e65811f436c7f941d374977dc6ff/components/script/task_queue.rs#L38

To which tasks from all task-sources are scheduled through. https://github.com/servo/servo/blob/f3b1f0d30858e65811f436c7f941d374977dc6ff/components/script/task_source/mod.rs#L45

However, not all JS runs via a task-source, for example timers are run dir

[2019-11-14 13:29] gterzian opened #24738 "Messageport: use a microtask to "maybe add pending port""
The global, when first noting a transfer-received port, queues a task to then run the "maybe add pending port logic". The purpose of the task is to only add the port if it isn't transferred in the same task in which it is received.

https://github.com/servo/servo/blob/f3b1f0d30858e65811f436c7f941d374977dc6ff/components/script/dom/globalscope.rs#L659

Queuing a task does leave open the possibility

[2019-11-14 13:31] gterzian commented on #24737
On the downside, it does mean handle a message from the compositor, and then queuing a task. So perhaps the overhead is not worth it for UI events?

[2019-11-14 13:38] jdm commented on #24735
Usually when the builds are taking close to 2 hours, that means there are stale test processes from old task runs that never were killed and are consuming CPU.

[2019-11-14 13:44] nox commented on #24733
I don't remember all the details because that was done in 2016, and it looks like `LineDirection` could now be generic (IIRC something was more complex than that in 2016, the Web evolves). The gist of all this stuff is that CSS serialisation is more complex than it seems, and that there are various families of types for various levels of the CSS system (hence the `generics`/`computed`/`specified`

[2019-11-14 14:04] jdm commented on #24735
I've just killed a bunch of stale processes on the mac workers, so I would expect build tasks closer to 60 minutes as a result.

[2019-11-14 14:10] mzabaluev commented on #24733
After looking at it a bit more, I actually think that delegating impl bounds to public field types is not incorrect in most cases here: the CSS data model is all public and is prescribed by the specification.

A reason why `GenericPosition` can't have a generic `ToCss` impl would be good to add. As well as references to its non- (or less?) generic impls, which rustdoc fails to find and list among

[2019-11-14 14:13] Manishearth commented on #24698
By poke I mean that their fingers go through the window instead of briefly making contact.

When you click things in servo you hear a sound and a little shadow appears around the clock, that's the shadow ripple I'm talking about.

[2019-11-14 14:32] SimonSapin commented on #24735
This is `-Z timings` for that release build first on my macbook, after `cargo fetch` and `cargo clean`, then on CI. It looks remarkably similary, except for the scale.

https://community-tc.services.mozilla.com/tasks/HRxteuxLTjumKQo2Mzpg3g/runs/0
https://community.taskcluster-artifacts.net/HRxteuxLTjumKQo2Mzpg3g/0/public/cargo-timing.html

![image](https://user-images.githubusercontent.com/291359/

[2019-11-14 15:02] #24714 closed

[2019-11-14 15:17] SimonSapin opened #24740 "Cross-compile from Linux to macOS?"
https://github.com/RustAudio/coreaudio-sys/pull/28 does it for a smaller Rust project. This would likely involve non-trivial work in the `build.rs` file of each dependency that compiles non-Rust code.

On CI we may want to keep some build tasks on macOS to check that they keep working, but switching at least the release build used for WPT to be compiled on Linux with many more CPU cores could help

[2019-11-14 16:07] jdm commented on #24740
Gecko does this:
* https://searchfox.org/mozilla-central/source/taskcluster/ci/build/macosx.yml#5-45
* https://wiki.mozilla.org/Building_Firefox/SURF#How_do_I_modify_the_compiler_used_to_build_Firefox.3F

[2019-11-14 16:28] jdm commented on #22593
This affects a bunch of tests under web-platform-tests/referrer-policy as well.

[2019-11-14 16:50] SimonSapin commented on #24735
I’ve filed https://github.com/taskcluster/generic-worker/issues/260 about how generic-worker could help with this.

For a more ad-hoc work-around, maybe we could have an hourly cron job that looks for `servo` processes whose executable is not on the filesystem anymore? (Filesystem absence would indicate that the corresponding task has finished. `generic-worker` creates a per-task directory whose n

[2019-11-14 16:53] jdm commented on #24611
I have a theory - I suspect the makefile looks at the date of the included .hh file and sees that its ragel source file is newer (because git doesn't preserve timestamps). It then tries to invoke ragel to regenerate it, except that ragel is missing, so it ends up trying to execute the .hh file (presumably there's something like `$(RAGEL) $(OUTPUT_FILE)`) which doesn't have +x, so bash complains ab

[2019-11-14 17:00] jdm commented on #24611
Indeed - https://github.com/servo/rust-harfbuzz/blob/79e3f14a32d11a1c68620c8237493fc2931e081f/harfbuzz-sys/harfbuzz/src/Makefile.am#L312

[2019-11-14 17:01] SimonSapin commented on #24611
But `/root/.cargo/registry/src/github.com-1ecc6299db9ec823/harfbuzz-sys-0.3.2/` looks like crates.io dependency extracted from a tarball, not a git dependency. https://docs.rs/tar/0.4.26/tar/struct.Header.html#method.mtime suggest that mtime metadata exists, I’m not sure if Cargo writes it to the filesystem.

[2019-11-14 17:03] SimonSapin commented on #24611
https://github.com/rust-lang/cargo/blob/d0a41bed085347df26d3f88a3a9453481da4c25f/src/cargo/sources/registry/mod.rs#L466

[code]

[2019-11-14 17:06] SimonSapin commented on #24611
https://github.com/rust-lang/cargo/pull/7465

[2019-11-14 17:06] jdm commented on #24611
Oh. That totally explains why this suddenly started happening recently!

[2019-11-14 17:08] jdm commented on #24735
That sounds like a clever work around.

[2019-11-14 17:20] SimonSapin commented on #24611
I’ve proposed reverting: https://github.com/rust-lang/cargo/issues/7590

We may still want to find some other work-around. If accepted, the revert will reach Nightly is several days at best.

[2019-11-14 20:36] jdm opened #24745 "Assertion failure when rotating camera in glwindow"
Rotate the camera left or right too far and you see:
[code]

[2019-11-14 20:59] KiChjang commented on #24428
@ferjm I reinstalled both GStreamer and GStreamer devel just to make sure that I have the MSVC version instead of the MinGW binaries, but the problem still persists: I needed to rename the DLL files, and after I did, it still gives me the same error log as above.

[2019-11-14 23:30] jdm commented on #24307
Maybe the skulls demo is assuming there is a gamepadController property when it shouldn't be, rather than babylon being responsible?

[2019-11-15 01:55] #24561 closed

[2019-11-15 03:00] gterzian commented on #24737
I've done some reading:

1. It seems UI events don't always have to be disptached inside a task, in fact, it seems they usually aren't dispatched in one at all. See https://w3c.github.io/uievents/
2. Timers should be dispatched from inside a task, using the [timer-task-source](https://html.spec.whatwg.org/multipage/#timer-task-source), so that something we could implement.

[2019-11-15 03:09] gterzian opened #24747 "Implement the Timer task source"
Spec: https://html.spec.whatwg.org/multipage/#timer-task-source

Currently, we handle messages coming-in from the timer dispatcher(in the constellation) as a `MixedMessage` either by the script-thread at https://github.com/servo/servo/blob/2caa227e10369c4590cba5b6bceb85d907cd1f8c/components/script/script_thread.rs#L1425

or the worker at https://github.com/servo/servo/blob/2caa227e10369c4590cba5b6

[2019-11-15 04:16] jdm commented on #24715
This is also caused by https://github.com/rust-lang/cargo/issues/7590.

[2019-11-15 06:43] garasubo commented on #24724
Found this commit
https://github.com/servo/servo/commit/b936fea

In this commit message, it clearly said "CompositionEvents currently can only be created by WebDriver and not by embedders."
So, we need to implement the logic to create CompositionEvents for embedders.

[2019-11-15 08:03] Akash-Pateria commented on #21476
@jdm We are a little unclear about the requirement of second step. Which new C function exactly is it refering to?

And for the third step, it asks us to use the network task source to queue a task (which returns Result object) that calls the run method of the runnable wrapper and at the same time, dispatch_to_event_loop_callback expects bool as the function return type.
Following is the stub I ha

[2019-11-15 09:34] paulrouget commented on #24698
Would be interesting to see if they miss-click in IE as well.

[2019-11-15 09:52] paulrouget commented on #24307
Update:
* Button demo: left eye and right eyes are not "right" (buttons are skewed weirdly)
* mansion: the hand ray seems to rotate on only one plan. I believe it's a BBJS issue. Some other demos do not have this problem.
* Button and Skull: no interaction possible. I'm not sure yet whether it's because of how bbjs is designed or we're missing an API

I'll be looking at the interaction issue.

[2019-11-15 13:02] SimonSapin commented on #24735
Our workers also have different hardware. Three of them only have two CPU cores (instead of four).

[code]

[2019-11-15 13:17] SimonSapin commented on #24735
`opendirectoryd` is eating CPU on mac5 at the moment. I find stackexchange posts about symlinks in Dropbox, I’m not sure how that applies here.

[2019-11-15 15:09] jdm opened #24748 "Intermittent failure in /css/css-values/vh-interpolate-vh.html"
The reference is all green, and the test rendering is all red. I wonder if the viewport size is being calculated incorrectly, which would suggest #24677 might be at all.

[2019-11-15 15:57] jdm commented on #21476
Whoops, I previously rewrote some of the steps in the project description and missed the C function reference. It is referring to https://doc.servo.org/mozjs/glue/fn.DispatchableRun.html which wraps [Dispatchable::Run](https://github.com/servo/mozjs/blob/b2f83932fe9d361face14efd03f2465b9262e687/mozjs/js/public/Promise.h#L519-L520) from the C++ API.

As for the question about the networking task so

[2019-11-15 18:30] tigleym commented on #24415
@jdm apologies for the delay on this!

I was hoping to pass real screen coordinate values to MouseEvent::new since it's a TODO here: https://github.com/servo/servo/blob/f3b1f0d30858e65811f436c7f941d374977dc6ff/components/script/dom/document.rs#L988-L1007

Could you point me in the direction on where I might be able to calculate/get these values?

[2019-11-15 19:58] jdm opened #35496 "Make use of depth extension in openxr backend"
Right now we only pass gl::COLOR_BUFFER as the mask argument for blit_framebuffer to copy the texture data from the webgl texture to the d3d texture. Would including gl::DEPTH_BUFFER as well enable better image stability?

[2019-11-15 20:28] jdm commented on #24494
I have verified by dumping the results of read_pixels in the glwindow backend that the framebuffer contains an upside down view of the same scene from a different position every few frames. I really have no idea what to make of this.

[2019-11-15 21:30] jdm commented on #24494
When I use https://servo.org/hl-home/bbjs/basic/ and set https://github.com/servo/webxr/blob/0ae9b56ef7e646c54382f75fe79012e0f889363d/webxr/glwindow/mod.rs#L118 to 0, I get meaningful rendering in Servo without any of the previous camera weirdness. Loading the same url in Firefox with the XR emulator present does not give me meaningful rendering results, so I'm not sure what to make of that.

[2019-11-15 21:31] jdm commented on #24494
Nevermind, I think I get the same rendering results with Firefox as Servo when I close the emulator panel and the rendering updates. We should add some translation controls to glwindow to make it easier to explore the babylon scenes, though.

[2019-11-15 21:38] SimonSapin commented on #23429
https://community-tc.services.mozilla.com/tasks/A2enKRq8QvmBcNHVSSOgQA compiled a dev build successfully on mac8. Maybe this is no longer an issue?

[2019-11-15 22:06] jdm commented on #23429
Sounds like we should add it back to the main pool, then.

[2019-11-15 23:43] jdm opened #24755 "mac3 can't find pip"
[code]

Observed in https://github.com/servo/servo/pull/24732 (https://community-tc.services.mozilla.com/tasks/U-gcROzjRkOjYuRqL_iV3Q). Probably fallout from the recent homebrew changes?
cc @SimonSapin

[2019-11-16 01:17] jdm commented on #24755
Other machines have /Users/worker/Library/Python/2.7/bin/pip, but /Users/worker/Library/Python/2.7/bin/ is missing on mac3 (it has a /lib, though).

[2019-11-16 01:31] saschanaz opened #24756 "Can't build, no clippy"
[code]

This happens after #24750. This is why I did 11-05 instead in #24749...

cc @SimonSapin

[2019-11-16 08:30] SimonSapin commented on #24756
I thought I’d checked https://rust-lang.github.io/rustup-components-history/ yesterday but I must have read it wrong.

But more importantly, why is clippy required? Yes it can be convenient but Servo should still build without it.

[2019-11-16 08:37] saschanaz commented on #24756
It somehow fails immediately if no clippy... Maybe it should be a warning instead.

[2019-11-16 08:48] SimonSapin commented on #24756
Does `rustup install nightly-2019-11-15-x86_64-pc-windows-msvc` say the same?

The fact that this is an error rather than a warning is a behavior of rustup (https://github.com/rust-lang/rustup), I don’t know how we can influence it.

[2019-11-16 08:56] saschanaz commented on #24756
Away from my PC for a few days, will check it when I get back.
________________________________
From: Simon Sapin <notifications@github.com>
Sent: Saturday, November 16, 2019 5:48:32 PM
To: servo/servo <servo@noreply.github.com>
Cc: Kagami Sascha Rosylight <saschanaz@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [servo/servo] Can't build, no clippy (#24756)

Does rustup install nig

[2019-11-16 09:15] SimonSapin commented on #24755
I’ve disabled mac3 (https://github.com/servo/taskcluster-config/pull/5#issuecomment-554617521), reopened the tree, and started looking into this.

Running `sudo -i -u worker` then `python -m pip install --user --upgrade pip` seems to install something. I ran a task with `workerType: macos-disabled-mac3` which got past the pip failure:

https://community-tc.services.mozilla.com/tasks/IbOeuo3oShKjMQ

[2019-11-16 10:35] SimonSapin commented on #24755
Closing as https://community-tc.services.mozilla.com/tasks/C_Uc_NKmRNCU6V3qoeh90Q/runs/0 is green on mac3. Feel free to reopen if needed.

[2019-11-16 10:35] #24755 closed

[2019-11-16 15:27] #24721 closed

[2019-11-17 01:20] #24730 closed

[2019-11-17 01:26] Akash-Pateria commented on #21476
@jdm I was trying to create task for invoking run method, but getting this error that says ```can't capture dynamic environment in a fn item``` for accessing cx, even though I am using ```|| { ... }``` closure form. Adding source for your reference:

[code]

Runnable Definition:

[code]

Also, I am hard-coding Dispatchable_MaybeShuttingDown to ```NotShuttingDown``` to prevent the async task aborti

[2019-11-17 02:49] jdm commented on #21476
The problem you are facing is that `cx` is not a name that exists within the `dispatch_to_event_loop` function, only in the scope of the code in which the function is define. Instead, inside the task you can call [Runtime::get()](https://doc.servo.org/mozjs/rust/struct.Runtime.html#method.get) (note, this is mozjs::Runtime, not script_runtime::Runtime) to obtain the JSContext pointer that you need

[2019-11-17 03:31] #13495 closed

[2019-11-17 07:18] #24756 closed

[2019-11-17 07:43] gterzian opened #24759 "Improve spec compliance of the event-loop"
Spec: https://html.spec.whatwg.org/multipage/#event-loop-processing-model

which is also called into by step 29 of https://html.spec.whatwg.org/multipage/#run-a-worker

We have two implementations of the event-loop:

1. In `ScriptThread`, representing a ["similar-origin-window-agent"](https://html.spec.whatwg.org/#similar-origin-window-agent), running an [window-event-loop](https://html.spec.whatw

[2019-11-17 07:51] gterzian commented on #24737
The actionable element is found at https://github.com/servo/servo/issues/24747

[2019-11-17 07:51] #24737 closed

[2019-11-17 10:15] SimonSapin opened #24760 "Get cargo to emit colors on macOS CI"
… like it already does on Linux.

Passing `--color always` works, but setting the `TERM` environment variable to `xterm` (which would be preferable) doesn’t:

https://community-tc.services.mozilla.com/tasks/FW_EYaSdR3K-VsiEb1jLBA/runs/0/logs/live/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FFW_EYaSdR3K-VsiEb1jLBA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L461

[2019-11-17 15:27] jdm opened #24762 "Intermittent timeouts in reftests"
[code]
I'm really not sure where to start investigating here. It would be useful to know in which file that makes up a reftest the timeout actually occurs.

[2019-11-17 15:48] cadeyrn opened #24763 "strange colors with Servo Developer Preview on macOS Catalina"
The package from https://download.servo.org/ has strange colors on macOS Catalina:

<img width="1020" alt="Bildschirmfoto 2019-11-17 um 16 46 08" src="https://user-images.githubusercontent.com/1100614/69009849-e8299500-0959-11ea-8bee-e6a9b98df764.png">

It remind me on https://bugzilla.mozilla.org/show_bug.cgi?id=1558167 - Firefox with WebRender enabled looked very similar before this bug was fixe

[2019-11-17 16:01] jdm commented on #24763
Yes, we're on an older version of webrender right now (see https://github.com/servo/servo/pull/24426).

[2019-11-17 16:06] jdm commented on #24762
Interestingly, this exact same set of timeouts was observed in #24753 as well.

[2019-11-17 16:37] #20700 closed

[2019-11-17 22:45] SimonSapin opened #24765 "No disk space on servo-linux1"
https://github.com/servo/servo/pull/24753#issuecomment-554735827

[code]

[2019-11-17 22:48] SimonSapin commented on #24765
@jdm, did you already look into this? What I see now doesn’t seem alarming:

[code]

[2019-11-18 02:35] jdm commented on #24765
Yes, I cleaned up a bunch of directories earlier today.

[2019-11-18 02:35] #24765 closed

[2019-11-18 06:06] paulrouget commented on #22926
@asajeffrey is still happening?

[2019-11-18 07:11] Manishearth opened #24766 "UWP build broken with nightly update"
[code]

<details>

[code]

</details>

Seems like https://github.com/servo/servo/pull/24749 and #24750 updated us to a rustc which doesn't build on UWP, and Servo's UWP build builds rustc locally.

I'm unclear why this didn't fail CI, though.

cc @saschanaz @SimonSapin @jdm

[2019-11-18 07:14] Manishearth commented on #24766
Hmm, I'm still getting this error when checking out https://github.com/servo/servo/commit/b9cdf9ebda07411c4c172e945599584edc5ba474 , which is pre-rustups

[2019-11-18 07:23] Manishearth commented on #24766
This occurs with a fresh target directory and cleared rustup toolchain directory

[2019-11-18 07:41] Manishearth commented on #24766
Broken as far back as 18dae9ee8f8165b044ac5cdbbaad99e88bb49da0

Unsure what's going on here, that feature definitely exists.

[2019-11-18 07:56] Manishearth commented on #24766
Deleted entire servo clone, still getting this error. The compiler being used is the latest pinned nightly (checked via task manager), it's definitely able to find that feature.

[2019-11-18 08:04] Manishearth commented on #24766
This isn't a servo issue, I can reproduce this with `xargo build --target aarch64-uwp-windows-msvc` on a new crate with Servo's Xargo.toml

[2019-11-18 08:11] Manishearth commented on #24766
I can also reproduce this with the same test crate and an older nightly. Unsure what's going on, this obviously used to work.

[2019-11-18 08:30] Manishearth commented on #24766
Xargo update seemed to fix it, though I don't have time to investigate why.

[2019-11-18 09:09] paulrouget commented on #24591
Panic happens here: https://github.com/servo/servo/blob/dfa78986a6f74176bc36f4ba29969ec421a8730c/components/script/dom/document.rs#L4745

A simple raf loop triggers the panic. It happens "most of the times" when the page loads from http: (as opposed to a file: url).

This example panics all the time over http:

[code]

[2019-11-18 09:40] paulrouget commented on #24591
I really this would do the trick, but it doesn't. Wondering why:

[code]

[2019-11-18 10:15] paulrouget commented on #24591
The above patch is not supposed to be necessary.

The document is supposed to not be part of `self.documents` after `window.clear_js_runtime()` is called.

Investigating…

[2019-11-18 10:27] SimonSapin commented on #24691
I think https://github.com/servo/servo/pull/24753 fixed the issues with mac1 and mac9. https://community-tc.services.mozilla.com/tasks/groups/DBt9ki9gTdWmwAk-VDorzw shows a build + full WPT run on each of them. Only one WPT chunk task has filtered unexpected test results, three of them. Which is (unfortunately) not unusual.

[2019-11-18 10:31] SimonSapin commented on #24691
I’ve moved mac1 and mac9 back to the main pool in https://github.com/servo/taskcluster-config/pull/11.

mac8 however showed a higher than usual number of errors, in two separate WPT runs:

* https://community-tc.services.mozilla.com/tasks/groups/DL4zftVfSqW3WOTC3IoFcg
* https://community-tc.services.mozilla.com/tasks/groups/EmPIwYD5TXq2VakznSgptw

[2019-11-18 11:35] SimonSapin commented on #24611
Could we patch `harfbuzz-sys` to never run ragel and always assume the shipped generated file is up to date?

[2019-11-18 11:43] SimonSapin commented on #24611
https://github.com/servo/rust-harfbuzz/pull/173

[2019-11-18 15:04] SimonSapin commented on #23655
https://github.com/servo/servo/pull/24769 implemented auto-retry, but we didn’t land it:

@jdm wrote:

[2019-11-18 15:46] #24766 closed

[2019-11-18 16:08] jdm opened #24771 "Task for compiling wasm modules can be ignored"
See discussion starting at https://github.com/servo/servo/pull/24757#issuecomment-554905422. The TaskQueue infrastructure used by the various task sources can cause the task to be ignored for an unbounded period of time; we should find a better mechanism that provides the guarantees that the JS engine requires.

[2019-11-18 16:13] jdm opened #24772 "Optional pipeline in WorkerScriptLoadOrigin should not be optional"
All code that creates a WorkerScriptLoadOrigin passes a Some value for the pipeline, so we should remove the Option from the struct member field.

Code:
* `components/script_traits/lib.rs`
* `components/script/dom/serviceworkerregistration.rs`
* `components/script/dom/worker.rs`

No need to run tests - if it builds, it's good enough for a pull request.

[2019-11-18 16:13] highfive commented on #24772
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-11-18 17:16] jdm opened #24773 "Support translation in glwindow webxr backend"

[2019-11-18 17:16] jdm opened #24774 "Support touch input via mouse in glwindow webxr backend"

[2019-11-18 17:16] #24727 closed

[2019-11-18 18:14] #24600 closed

[2019-11-18 18:20] SimonSapin commented on #24735
The command below, run in https://github.com/servo/taskcluster-config, can help check if this is the case at a given time.

At the moment we have a couple build scripts that have been stuck on mac3 for 10 days, but they’re not using up CPU time.

[code]

[2019-11-18 21:56] fwcd commented on #24627
I am having a similar issue, running the nightly build from https://download.servo.org on Windows 10:

[code]

The application crashes immediately after startup.

[2019-11-18 22:22] jdm commented on #24627
You should be able to work around that by starting it from a terminal window and passing `--angle`.

[2019-11-18 22:31] #24611 closed

[2019-11-19 00:32] #24628 closed

[2019-11-19 02:02] jdm commented on #24762
Seen in /css/CSS2/selectors/first-letter-punctuation-077.xht.

[2019-11-19 02:54] jdm opened #24779 "Intermittent timeout in wdspec tests (TimeoutException: timeout (500): Failed to get window handle)"
[code]

[2019-11-19 02:55] jdm commented on #24779
Tracked in #23895.

[2019-11-19 02:55] #24779 closed

[2019-11-19 03:20] #24290 closed

[2019-11-19 03:49] gterzian opened #24780 "Task-queue should only apply "runnable" concept to tasks"
When a pipeline is not "fully-active", the task-queue stores messages until the pipeline because "fully-active" again. The filtering is done at https://github.com/servo/servo/blob/d553158e95cd5988eeb3e32310c11971c0450449/components/script/task_queue.rs#L142

This is meant to implement the concept of [runnable](https://html.spec.whatwg.org/multipage/webappapis.html#concept-task-runnable), which is

[2019-11-19 04:03] gterzian commented on #24771
Actually this made me realize a flaw in the current `TaskQueue`: https://github.com/servo/servo/issues/24780

And the solution(once the above issue has been addressed), is indeed to put the message containing the wasm module dispatchable to be a `CommonScriptMsg` that is not a task.

That would still give us only partial guarantee the message is eventually handled and `run` called on the wasm modu

[2019-11-19 05:01] jdm opened #24781 "PerformanceObserverInit doesn't support absence of entryTypes member"
This might be an issue with the WebIDL from the spec, but the prose says:
[code]
The /performance-timeline/multiple-buffered-flag-observers.any.html which exercises this reports:
[code]

[2019-11-19 05:04] jdm commented on #24781
Looks like our implementation is older than the current specification text at https://w3c.github.io/performance-timeline/#observe-method. https://github.com/servo/servo/blob/f63b404e0cbf30380c4043700861110d06e548bb/components/script/dom/webidls/MutationObserver.webidl has a very different struct with members for each kind of entry.

[2019-11-19 05:09] jdm commented on #24781
Our webidl is missing the `types` field, and our [implementation](https://github.com/servo/servo/blob/f63b404e0cbf30380c4043700861110d06e548bb/components/script/dom/performanceobserver.rs#L107) is from an older version of the specification that did not include https://github.com/w3c/performance-timeline/pull/112.

[2019-11-19 05:09] jdm commented on #24781
Spec: https://w3c.github.io/performance-timeline/

[2019-11-19 06:17] atouchet commented on #24611
Did #24775 fix this?

[2019-11-19 07:26] SimonSapin commented on #24611
Hopefully! It brings https://github.com/servo/rust-harfbuzz/pull/173 which was intended to fix this. We’ll see if it happens again…

[2019-11-19 07:30] paulrouget commented on #24591
Navigating from document A to document B:

In the unload event callback of A, the `window` global is the one from B. Creating all sort of problems when `requestAnimationFrame` is called in there.

To illustrate the issue:

[code]

Or to generate a crash:

[code]

Making these changes shows the global mixup:

[code]

In the call to request_animation_frame I think we're supposed to expect the pipeli

[2019-11-19 07:32] gterzian commented on #24780
Actually, that's not true.

The runnable check is only applied to tasks, because it's only applied to messages that have a pipeline_id: https://github.com/servo/servo/blob/d553158e95cd5988eeb3e32310c11971c0450449/components/script/task_queue.rs#L140

If you look at the various implementations of `QueuedTaskConversion`, `pipeline_id` returns `None` if the message doesn't contain a task:

https://gi

[2019-11-19 07:32] #24780 closed

[2019-11-19 07:37] gterzian commented on #24780
If anything, this requires a comment, since it fooled the author of the actual code for a while, that makes clear that the `pipeline_id` call includes a check on whether the message is a task or not.

https://github.com/servo/servo/blob/d553158e95cd5988eeb3e32310c11971c0450449/components/script/task_queue.rs#L140

[2019-11-19 11:29] phil3112 commented on #24772
@highfive: assign me

This looks like something I could do.

[2019-11-19 11:29] highfive commented on #24772
Hey @phil3112! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-19 12:44] zakorgy commented on #24706
Some high-level design suggestions from @gterzian from https://github.com/servo/servo/pull/24708#discussion_r346662690:
- [ ] I wonder if you really want to always start the webgpu component on start-up, rather you might want to start-it when it's first needed.
- [ ] I wonder if you want any script to just be able to start using WebGPU whenever they want by calling methods on GPU inside script. In

[2019-11-19 14:28] gterzian commented on #24591
Ok, I'm still debugging, but I have an idea, and some factual obervations.

Facts:

1. constellation sends an "unload" message for pipeline 1.
2. Inside `unload`, in the Rust code, if you check the pipeline id, you also get 1.
3. Inside the JS run in response to firing the `unload` event, if you do anything that ends-up calling into `Window`, and then print the pipeline from Rust, you get pipeline

[2019-11-19 14:41] paulrouget commented on #24591
Is that the "proper" behavior?

[2019-11-19 17:02] #22370 closed

[2019-11-19 19:15] kvark commented on #24706
fwiw, we *do* want multiple independent WebGPU applications to be able to run in parallel

[2019-11-19 19:20] Manishearth commented on #24307
For me the hand ray is moving along with the hand but is not facing the right way. It seems to be using the grip space.

With the camera issue, I'd suspect it's a projection matrix issue -- perhaps our math for depthNear/depthFar is incorrect? I'd be surprised, though, I investigated this pretty thoroughly when dealing with the threejs pose issues, and our projection matrices are correct for three

[2019-11-19 19:58] jdm commented on #7888
https://github.com/servo/servo/pull/24764 was a PR that added a build switch to use RusTLS instead of openssl. I closed it because the team doesn't want to take on the burden of maintaining additional code without a clear path to making it the default at this time.

[2019-11-19 20:01] jdm opened #24786 "Intermittent macos build error in mozjs (clang++: cannot execute binary file) (/Library/Developer/CommandLineTools/usr/bin/make: cannot execute binary file)"
[code]

[2019-11-19 22:18] jdm opened #24787 "Update mozangle to 0.3"
It should improve build speeds on non-UWP windows in particular, and possibly on other platforms as well.

[2019-11-19 22:48] #24650 closed

[2019-11-20 03:53] #24773 closed

[2019-11-20 04:21] glowe commented on #21810
Thanks. It seems like we actually have a bug in `is_valid_floating_point_number`. It currently rejects floating point strings that start with a space, but allows leading tabs, newlines, etc. So this function needs updating.

[2019-11-20 04:38] Manishearth opened #24788 "WebGL Error 1282 on latest three.js examples"
With #23545 rebased on master (https://github.com/Manishearth/servo/tree/modules), I get the following error on all of the three.js examples (the latest version). The modules seem to be loading, and I get a flash of rendering before the assertion failure

[code]

cc @jdm

[2019-11-20 05:07] gterzian commented on #24591
I don't think so.

If you look at https://html.spec.whatwg.org/multipage/browsing-the-web.html#navigate-html

It says to:

1. Create a new document,
2. After creating the Document object, but before any script execution, certainly before the parser stops, the user agent must update the session history with the new page.

https://html.spec.whatwg.org/multipage/browsing-the-web.html#update-the-sessi

[2019-11-20 05:10] gterzian commented on #24459
I think this is the same as https://github.com/servo/servo/issues/24591, although it might still be worth it to implement the spec in a more compliant way as linked to.

[2019-11-20 05:28] #23569 closed

[2019-11-20 06:18] SimonSapin opened #24790 "Intermittent *segfault* in /css/compositing/mix-blend-mode/mix-blend-mode-video.html"
https://community-tc.services.mozilla.com/tasks/Gexut2TCQAWn1mnlCCRz_g/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FGexut2TCQAWn1mnlCCRz_g%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L1965-1993

[code]

[2019-11-20 07:56] paulrouget commented on #24722
The session is never ended.

We should reconsider https://github.com/servo/webxr/pull/78. I think it was the right behavior. But we are not supposed to get STOPPING when opening the start menu. At least it's what I'm getting from the Team conversation.

Testing with the latest runtime, I'm still getting STOPPING when the Start menu shows, which according to MS is not supposed to happen if we handl

[2019-11-20 08:20] paulrouget commented on #24307
The babylonjs people are aware of this issue. Waiting for them to get back to me.

[2019-11-20 08:38] CYBAI commented on #21696
([Observed here](https://community-tc.services.mozilla.com/tasks/ctRFfLTHRfeQJP36KEDWzA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FctRFfLTHRfeQJP36KEDWzA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log))

[code]

[2019-11-20 10:25] CYBAI commented on #24790
https://community-tc.services.mozilla.com/tasks/OR63erb6QymK9eiDjDAX2Q/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FOR63erb6QymK9eiDjDAX2Q%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L5776-5803

[code]

[2019-11-20 10:50] tmiasko opened #24791 "jemalloc keeps spinning in je_spin_adaptive when running test-dromaeo"
When running `./mach test-dromaeo`, I occasionally hit a bug where jemalloc would
keep spinning in `je_spin_adaptive`. I couldn't reproduce the issue after bumping
the jemalloc-sys crate from 0.1.4 to 0.3.2.

[2019-11-20 12:29] SimonSapin commented on #22691
I tried it, this is blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1252144.

[2019-11-20 12:55] nox opened #24792 "thread_state is no good for a post-layout-2020 world"
Layout 2020 really really wants to use a plain old Rayon thread pool with no tweaks, but it needs to access the DOM to do its job, obviously. We do that reusing the current infra with `DomRefCell::borrow_for_layout`, `LayoutDom::unsafe_get`, etc. Those methods have a debug assertion that they are running on the layout thread (checking that `thread_state::get().is_layout()` is true), but that's a p

[2019-11-20 13:01] nox opened #24793 "There is nothing to keep the various media crates in sync"
I was looking at what's needed to make an `ipc-channel` bump across the entire crate graph and I noticed this in `Cargo.lock`:

[code]

[code]

I think we should have a lint that checks that crates coming from a single Git repository should probably be on the same Git commit.

[2019-11-20 13:01] nox commented on #24793
Cc @Manishearth

[2019-11-20 13:08] nox commented on #24792
Wait, are we supposed to just reuse Stylo's thread pool, which already have the right thread state set?

[2019-11-20 13:10] nox commented on #24792
Yes, I'm dumb.

[2019-11-20 13:10] #24792 closed

[2019-11-20 13:48] paulrouget opened #24794 "[meta] List of improvements that would make the experience better on the HoloLens"
- ~a better landing page: #24982~
- ~a home button to get back to the list of demos / landing page #25074~
- zoom #24598
- show history as you type int the url bar
- ~Implement Media Session UI #24927~
- ~prompt about missing openxr runtime #24086~
- Performance issue: #24722 , #24806 , #24102
- ~buttons are not large enough #25074~
- ~update bbjs demos~, ~or link to playground~
- ~Try to get rid

[2019-11-20 13:50] jdm commented on #24788
What are some URLs that reproduce this? I tried http://rawcdn.githack.com/mrdoob/three.js/master/examples/webvr_rollercoaster.html (`assertion failed: fetched_module_object.is_some()`) and http://rawcdn.githack.com/mrdoob/three.js/master/examples/webgl_animation_cloth.html (segfault inside mozjs from CompileModule).

[2019-11-20 14:16] jdm opened #24795 "Intermittent timeout in /wasm/jsapi/constructor/instantiate.any.worker.html, /wasm/jsapi/idlharness.any.worker.html, /wasm/serialization/module/nested-worker-success.any.worker.html, /wasm/jsapi/constructor/instantiate-bad-imports.any.worker.html, /wasm/jsapi/constructor/multi-value.any.worker.html, /wasm/jsapi/constructor/compile.any.worker.html"
[code]

[2019-11-20 15:35] gterzian commented on #24706
How would you define one "application"?

For example, I can imagine multiple agents, like a window and a dedicated worker, running in parallel but actually forming a single "application" and operating on the same (shared?) objects.

Then for example a cross-site iframe could be running another "application". It would be "in parallel", but also isolated in some way from the other application.

Then

[2019-11-20 15:47] Manishearth commented on #24793
Wait, what? I thought cargo doesn't let you do that with git dependencies

[2019-11-20 15:48] jdm commented on #24788
I should note that I've been trying to reproduce this on macOS with my patch from https://github.com/servo/servo/pull/23545#issuecomment-556063220 to fix the assertion failure and segfault and haven't seen this problem yet.

[2019-11-20 15:49] nox commented on #24793
I'm just as surprised as you fam, and I don't expect any human to detect this kind of insanity without tooling.

[2019-11-20 16:24] jdm commented on #24790
This is #22276; when it occurs during media tests that use gstreamer then it has the extra information about gstreamer catching it.

[2019-11-20 16:24] #24790 closed

[2019-11-20 16:25] Manishearth commented on #24788
I get the same errors on the rawcdn githack things, but not on threejs.org

[code]

[2019-11-20 16:28] jdm commented on #24788
Looks like it not affect macOS in that case :/

[2019-11-20 16:37] jdm opened #24797 "ocean2 shader example has poor performance when loaded as a JS module"
This is something worth investigating after #23545 merges. Loading http://rawcdn.githack.com/mrdoob/three.js/r106/examples/webgl_shaders_ocean2.html has poor performance (janky reaction to user input, yet claims ~30 FPS), whereas loading http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_shaders_ocean2.html is quite smooth (still claims ~30 FPS).

[2019-11-20 16:39] jdm commented on #20977
This remains true after #24482 with http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_performance.html. We average about ~5 FPS on macOS.

[2019-11-20 16:44] jdm commented on #20968
It takes forever to load in a debug build, but the actual performance is great after #24482.

[2019-11-20 16:45] jdm commented on #20967
We get 60FPS with this now.

[2019-11-20 16:45] #20967 closed

[2019-11-20 16:47] jdm commented on #20978
We're getting over 30 FPS on this.

[2019-11-20 16:47] #20978 closed

[2019-11-20 16:48] jdm commented on #20977
We're getting over 30FPS in release builds.

[2019-11-20 16:48] #20977 closed

[2019-11-20 16:48] jdm commented on #20968
This is quick to load in release builds.

[2019-11-20 16:48] #20968 closed

[2019-11-20 16:52] jdm commented on #20976
Newer demo is https://threejs.org/examples/webgl_geometry_terrain_raycast.html and the performance is >30FPS.

[2019-11-20 16:52] #20976 closed

[2019-11-20 16:53] jdm commented on #20962
We're getting >40 FPS on this now.

[2019-11-20 16:53] #20962 closed

[2019-11-20 16:53] jdm commented on #20951
We're getting >30 FPS on this now.

[2019-11-20 16:53] #20951 closed

[2019-11-20 16:54] jdm commented on #20947
We're getting 50 FPS on this now.

[2019-11-20 16:54] #20947 closed

[2019-11-20 16:55] jdm commented on #20933
We're getting 60 FPS on this now.

[2019-11-20 16:55] #20933 closed

[2019-11-20 16:57] jdm commented on #20926
We're consistently >30 FPS in this now, but it still _feels_ jankier than that.

[2019-11-20 16:57] jdm commented on #23954
Closing this since the cause it known.

[2019-11-20 16:57] #23954 closed

[2019-11-20 16:58] jdm commented on #11138
This was fixed by #24482.

[2019-11-20 16:58] #11138 closed

[2019-11-20 17:06] jdm commented on #20927
This is no longer the case.

[2019-11-20 17:06] #20927 closed

[2019-11-20 17:09] jdm commented on #20931
None of these disappear any more!

[2019-11-20 17:09] #20931 closed

[2019-11-20 17:10] jdm commented on #20937
This has 60FPS now.

[2019-11-20 17:10] #20937 closed

[2019-11-20 17:12] jdm commented on #20954
This works now.

[2019-11-20 17:12] #20954 closed

[2019-11-20 17:15] jdm commented on #20964
This is fixed.

[2019-11-20 17:15] #20964 closed

[2019-11-20 17:15] jdm commented on #20965
This is fixed.

[2019-11-20 17:15] #20965 closed

[2019-11-20 17:18] jdm commented on #20973
The performance is fine in a release build, but the canvases are laid out incorrectly - when the user scrolls vertically, the page scrolls but the canvases remain where they were in the original layout.

[2019-11-20 17:19] jdm commented on #20974
They all appear to be at the bottom of the page for some reason.

[2019-11-20 17:22] jdm commented on #20982
This is still somewhat janky in a release build.

[2019-11-20 17:23] jdm commented on #20983
This renders correctly.

[2019-11-20 17:23] #20983 closed

[2019-11-20 17:24] jdm commented on #20984
This is still janky in a release build.

[2019-11-20 17:24] jdm commented on #20985
This is hitting 60FPS.

[2019-11-20 17:24] #20985 closed

[2019-11-20 17:26] jdm commented on #20988
We get about 20FPS in a release build.

[2019-11-20 17:26] jdm commented on #20988
That's about as good as Firefox, though!

[2019-11-20 17:26] jdm commented on #20989
This is fixed.

[2019-11-20 17:26] #20989 closed

[2019-11-20 17:27] jdm commented on #20995
We get about 10 FPS, same as Firefox.

[2019-11-20 17:29] jdm commented on #21077
FishGL now works fine!

[2019-11-20 17:29] #21077 closed

[2019-11-20 17:32] jdm commented on #21761
The page now displays the homepage correctly.

[2019-11-20 17:32] #21761 closed

[2019-11-20 17:33] jdm commented on #21838
This was fixed by #24482.

[2019-11-20 17:33] #21838 closed

[2019-11-20 17:35] jdm commented on #22899
This was fixed.

[2019-11-20 17:35] #22899 closed

[2019-11-20 17:37] jdm commented on #23879
No errors on master.

[2019-11-20 17:37] #23879 closed

[2019-11-20 17:39] jdm commented on #23880
This is no longer true

[2019-11-20 17:39] #23880 closed

[2019-11-20 17:39] jdm commented on #24494
This is fixed.

[2019-11-20 17:39] #24494 closed

[2019-11-20 17:40] jdm commented on #24604
This is required for https://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_trails.html.

[2019-11-20 17:46] jdm commented on #20806
Demo doesn't exist any more.

[2019-11-20 17:46] #20806 closed

[2019-11-20 17:48] jdm opened #24799 "a-frame snowglobe triggers a webaudio panic"
https://aframe.io/examples/showcase/snowglobe/
[code]

[2019-11-20 17:49] jdm opened #24800 "Moon Rider a-frame demo triggers gstreamer critical failure"
[code]

[2019-11-20 17:51] jdm commented on #24800
Similar behaviour for https://aframe.io/examples/showcase/beatsaver-viewer/.
[code]

[2019-11-20 17:53] #24172 closed

[2019-11-20 18:03] jdm opened #24801 "Entering full screen mode in A-Blast panics"
[code]

[2019-11-20 18:04] jdm commented on #24800
And https://aframe.io/examples/showcase/a-painter/:
[code]

[2019-11-20 18:19] jdm opened #24802 "Gunters of Oasis demo triggers a JS error calling decodeAudioData"
https://aframe.io/examples/showcase/gunters-of-oasis/

[code]

This comes from:
[code]
So we're setting an XMLHttpRequest's responseType to "arraybuffer" and then passing that response to decodeAudioData, which expects an ArrayBuffer argument. This error message occurs when `typedarray::ArrayBuffer::from` returns an Err result.

[2019-11-20 20:52] jdm opened #24803 "audiobuffersource-multi-channels.html produces "Sink pad link failed" error"
https://github.com/web-platform-tests/wpt/blob/master/webaudio/the-audio-api/the-audiobuffersourcenode-interface/audiobuffersource-multi-channels.html
[code]

[2019-11-20 21:11] jdm commented on #24802
The underlying request code seems to come from three.js's FileLoader: https://github.com/mrdoob/three.js/blob/6fcaa8ef3dac2640a88901f2efd37d42acb82b7c/src/loaders/FileLoader.js

[2019-11-20 21:24] jdm commented on #24803
This is coming from [this link call](https://github.com/servo/media/blob/220ed1388f2ba008b05f5e94aca21dd14aa37290/backends/gstreamer/audio_decoder.rs#L302) and returning a [Noformat](https://docs.rs/gstreamer/0.14.5/gstreamer/enum.PadLinkError.html#variant.Noformat) linking error.

[2019-11-20 21:35] jdm commented on #24803
[code]

[2019-11-20 22:10] jdm commented on #24803
[code]

[2019-11-20 22:13] atouchet commented on #24256
Did #24482 finish this?

[2019-11-20 22:14] jdm commented on #24256
Yep!

[2019-11-20 22:14] #24256 closed

[2019-11-20 22:28] asajeffrey commented on #24256
We decided not to block on https://github.com/servo/servo/issues/24425

[2019-11-20 23:20] atouchet commented on #16783
I saw that this was marked as done now. Was this issue fixed?

[2019-11-20 23:24] jdm commented on #16783
Haven't seen it since the last rust upgrade!

[2019-11-20 23:24] #16783 closed

[2019-11-21 01:58] #24791 closed

[2019-11-21 05:25] gterzian commented on #24591
Ok so I think that https://github.com/servo/servo/pull/24789 shows what the problem, and potential  solution, is.

So indeed, when the script-thread `load`s a new pipeline, it already sets it to be the currently-active one for the window-proxy.

Then, it handles the `unload` message, for the old pipeline, from the constellation, which calls into JS via various events. So the problem is that at tha

[2019-11-21 07:01] paulrouget commented on #24722
From the Team thread: we schedule openxr frames based on requestAnimationFrame. The Start menu runs at the same frame rate as servo's IM, because it is stamped within the servo app swapchain. If the app runs too slow, Windows stops servo's IM to run the start menu at a proper frame rate.

@Manishearth is suggesting to not wait for requestAnimationFrame to call xrwaitframe.

Also - why should inves

[2019-11-21 07:05] paulrouget opened #24805 "Display FPS in 2D mode and Immersive Mode"
We should display a FPS counter in the XAML view and in Immersive Mode. iirc, WR has a FPS counter. Not sure how to do it when we use webxr.

[2019-11-21 07:07] paulrouget opened #24806 "Immersive mode is slow"
Apparently, the [Triangle demo](https://servo.org/hl-home/webxr-ar.html) runs at ~30FPS.

Related: https://github.com/servo/servo/issues/24805

[2019-11-21 07:17] Manishearth commented on #24722
This is filed at https://github.com/servo/webxr/issues/96

[2019-11-21 07:20] Manishearth commented on #24722
Right, that's a temporary patch, because the runtime was buggy and it becomes really annoying to test when you randomly get STOPPING events.

If we can manage to get STOPPING events at the right time, I'm all for this. Hopefully the start menu triggers other state events so that we can finally trigger visibilitystatechange.

[2019-11-21 08:25] SimonSapin commented on #22691
A work around exists: https://github.com/servo/servo/pull/24804

Landing the change would need to be coordinated with a change in Homu’s configuration.

[2019-11-21 08:27] ferjm opened #24807 "[HoloLens] Implement Media Session UI"
#24499 introduced the Media Session API, targeting Android as the first supported platform. Having the Media Session UI on the HoloLens as an alternative to the regular media controls would significantly improve the media playback experience.

[2019-11-21 08:32] ferjm commented on #24014
#24499 introduced the Media Session API. With that in place we are now able to implement specific media controls for ML.

[2019-11-21 09:55] ferjm opened #24808 "Implement MediaSession.setPositionState method"
https://w3c.github.io/mediasession/#dom-mediasession-setpositionstate

[2019-11-21 09:57] ferjm opened #24809 "Implement MediaImage and MediaMetadata.artwork property"
https://w3c.github.io/mediasession/#the-mediaimage-dictionary
https://w3c.github.io/mediasession/#dom-mediametadata-artwork

[2019-11-21 09:59] ferjm opened #24810 "open.spotify.com panics with 'post_messageport_msg called on an unknown port'"
https://open.spotify.com

[code]

[2019-11-21 11:45] gterzian commented on #24810
Inside an animation frame callback. I wonder if this is similar to https://github.com/servo/servo/issues/24591
It would be useful to know at which point in the lifecycle of the page the animation frame callback is requested.

[2019-11-21 11:49] gterzian commented on #24810
Can this be reproduced by running the following script(I'm currently building another branch)?

[code]

[2019-11-21 12:22] gterzian commented on #24810
Ok I don't think it's related to #24591, because it still happens on a branch that fixes that problem. I ran the above script on that branch too, and there were no problems, but that seems to be unrelated.

[2019-11-21 14:05] jdm opened #24812 "JS runnables from worker threads do not run on the correct event loop"
Running https://github.com/MozillaReality/hello-webxr on top of #23545 exposes an issue from #24757. The dedicated worker creation uses `parent_sender` as the target of the networking task source, but that causes any runnables to run on the event loop that created the worker.

[2019-11-21 14:05] jdm commented on #24812
This patch fixes the problem:
[code]

[2019-11-21 14:20] jdm commented on #24808
Code: `components/script/dom/webidls/MediaSession.webidl`, `components/script/dom/mediasession.rs`

[2019-11-21 14:30] gterzian opened #24813 "Intermittent CRASH in /webvr/webvr-enabled-on-self-origin-by-feature-policy.https.sub.html"

[2019-11-21 14:40] gterzian commented on #24813
in favor of https://github.com/servo/servo/issues/22955

[2019-11-21 14:40] #24813 closed

[2019-11-21 14:52] jdm opened #24814 "Intermittent setup errors in wdspec tests (SessionNotCreatedException: session not created (500): Session is already started)"
[code]

[2019-11-21 14:54] jdm opened #24815 "Intermittent crash in /html/browsers/windows/embedded-opener-remove-frame.html"
[code]

[2019-11-21 15:01] gterzian commented on #24815
This one might be fixed by https://github.com/servo/servo/pull/24758

[2019-11-21 15:06] jdm commented on #24815
That's believable!

[2019-11-21 15:10] gterzian commented on #24815
Ah no, the timer is actually supposed to run.

The fix is to follow the spec more closely, which says

"If the given value is null and this Window object's browsing context is non-null, then set this Window object's browsing context's disowned to true."

So if the BS is null, we should just do nothing. So the code should looks something like:

[code]

versus calling `self.window_proxy`, which unwr

[2019-11-21 15:24] jdm opened #24819 "Implement support for disowning opener"
https://github.com/servo/servo/issues/24815#issuecomment-557127440 describes a problem with calling `window.opener = null` in our implementation of Window::SetOpener.

[2019-11-21 15:48] jdm opened #24820 "Intermittent gstreamer segfault on linux WPT"
[code]

There's a lot going on here. It looks like it's trying all possible media backends and having some troubles.

[2019-11-21 15:50] jdm commented on #24820
Similarly:
[code]

[2019-11-21 16:57] jdm commented on #24731
#24821 revealed that the srcdoc tests all still time out in the img-element tests with the following error:
[code]

[2019-11-21 17:06] jdm commented on #24731
This is coming from document.html.template (https://github.com/web-platform-tests/wpt/blob/8e98be7324cb0d839041cca41e9a22869c1e5347/common/security-features/scope/template/document.html.template#L19), but invokeRequest is _supposed_ to be present in the script tag that was loaded earlier in that document (https://github.com/web-platform-tests/wpt/blob/8e98be7324cb0d839041cca41e9a22869c1e5347/commo

[2019-11-21 17:20] jdm opened #24823 "Windows dev build + unit tests on taskcluster intermittently exceeds max run time"
https://community-tc.services.mozilla.com/tasks/a4yv0EwoTa2AHfneAszjvw is a task that exceeded the 1.5 hour limit in the middle of the libsimpleservo build.

[2019-11-21 18:13] SimonSapin commented on #24823
`./mach fetch` alone took 37 minutes: https://community-tc.services.mozilla.com/tasks/a4yv0EwoTa2AHfneAszjvw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2Fa4yv0EwoTa2AHfneAszjvw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L712

[2019-11-21 18:13] cadeyrn commented on #24763
#24426 is fixed and I can verify that the color issue is gone with the latest build. Thank you!

[2019-11-21 18:15] SimonSapin commented on #24823
Is SpiderMonkey being recompiled when running `./mach test-unit` immediately after `./mach build`? (Though fixing that would only save ~5 minutes.)

https://community-tc.services.mozilla.com/tasks/a4yv0EwoTa2AHfneAszjvw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2Fa4yv0EwoTa2AHfneAszjvw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L1746

[2019-11-21 18:18] jdm commented on #24763
Thanks for checking!

[2019-11-21 18:18] #24763 closed

[2019-11-21 18:21] jdm commented on #24823
Huh. I wonder if there's still some cargo dirty bits triggering that?

[2019-11-21 18:22] SimonSapin commented on #24823
In another run today it finished under 4 minutes, so I’m afraid it’ll turn out to be ~random network slowness outside of our control

https://community-tc.services.mozilla.com/tasks/LwAe4Wu9RiKvJudVCs3dYw/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FLwAe4Wu9RiKvJudVCs3dYw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L750

[2019-11-21 18:24] shnmorimoto commented on #24808
@highfive: assign me

[2019-11-21 18:24] highfive commented on #24808
Hey @shnmorimoto! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-11-21 19:24] jdm opened #24824 "three.js camera movement can get stuck"
https://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_geometry_minecraft.html
http://paragram.io/view/?id=stahl&vr=true

Both of these exhibit problems related to movement where the user stops pressing something (keyboard, mouse) but the movement keeps on going.

[2019-11-21 19:40] jdm opened #24825 "hello-webxr throws a "this is undefined" JS error after asset loads are complete"
It's coming from https://github.com/MozillaReality/hello-webxr/blob/755aaadd5777ed6d12a83fee43993da0c41242c3/src/stations/Xylophone.js#L21-L24.

[2019-11-21 19:50] jdm opened #24826 "hello-webxr triggers a panic when it uses HRTF"
https://github.com/servo/media/blob/425011696dfae6b7c416b769aa850f42632c0366/audio/panner_node.rs#L308

The default PositionalAudio mode in three.js is HRTF: https://github.com/mrdoob/three.js/blob/a63f7f8cb09c8643703a0850fbabc6af3b2d0d06/src/audio/PositionalAudio.js#L15-L23

[2019-11-21 19:57] jdm commented on #24825
I suspect this is actually a symptom of some buggy module resolution code, and will hopefully be gone by the time we merge #23545.

[2019-11-21 20:31] jdm opened #24827 "requestPointerLock"

[2019-11-21 21:05] jdm opened #24828 "Investigate WPT test failures"
Based on a python script that counts the tests present in https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/ and the corresponding ini files present in https://github.com/servo/servo/tree/master/tests/wpt/metadata, here's a sorted list of test directories, the percentage of tests in the directory that are failures, and the absolute numbers of tests and failures in that direct

[2019-11-21 21:13] jdm commented on #24828
Some of the entries that look high value to me:
* xhr: 25.76% (295 / 76)
  * important feature for web content, large number of tests, significant number of failures
* custom-elements/reactions: 73.08% (52 / 38)
  * complex feature for relatively new standard, majority of tests fail
* html/semantics/embedded-content/the-iframe-element: 32.26% (93 / 30)
  * very important feature for web content, s

[2019-11-21 21:17] atouchet commented on #24627
This would be nice to have. The current situation with Servo crashing at launch by default is not great.

[2019-11-21 21:17] tuncer commented on #23050
Fixed in #24668

[2019-11-21 22:11] Manishearth opened #24830 "Update smallvec to 1.0"
Dependencies that need bumping

 - [ ] `parking_lot` (needs https://github.com/Amanieu/parking_lot/issues/190)
 - [ ] `webrender` (blocked on `parking_lot`)
 - [ ] `cssparser` (needs https://github.com/servo/rust-cssparser/pull/267)
 - [x] `crossbeam-channel` (published at 0.4)
 - [ ] `servo-media` (will do once everything else has merged since it's a git dep)

[2019-11-21 22:12] Manishearth commented on #24830
cc @Eijebong

[2019-11-21 23:11] asajeffrey opened #24831 "GStreamer plugin should allow GPU video encoding"
At the moment we use readback to get each frame out of GPU memory and into main memory. We shouldn't.

[2019-11-21 23:12] asajeffrey opened #24832 "GStreamer plugin generates GL errors in x11"
The surfman issue is https://github.com/pcwalton/surfman/issues/37, there's 0x506 errors when blitting out of the surface.

[2019-11-21 23:13] asajeffrey opened #24833 "GStreamer plugin framerates"
It looks like the gstreamer plugin is ignoring the negotiated framerate and running at full speed. It shouldn't.

[2019-11-21 23:15] asajeffrey opened #24834 "GStreamer live streaming example"
The `README` should have an example of live streaming where the client enters the stream at the current moment and doesn't have seek controls.

[2019-11-21 23:17] asajeffrey opened #24835 "GStreamer plugin resizing"
For some reason when the gstreamer plugin gets resized, the page isn't reflowed so any GL content that dynamically sizes its canvas is still using the old size.

[2019-11-21 23:18] asajeffrey opened #24836 "GStreamer plugin url parameter"
The GStreamer plugin should be able to view more than just the three.js cloth demo.

[2019-11-21 23:20] asajeffrey opened #24837 "GStreamer plugin github label"
We should have a P-gst-plugin issue label.

[2019-11-21 23:20] asajeffrey commented on #24837
I don't have label-making superpowers. @jdm?

[2019-11-22 03:40] CYBAI commented on #24795
[code]

([TC link](https://community-tc.services.mozilla.com/tasks/Uc2eGZb-S6K6Kb5pV5oF8A/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FUc2eGZb-S6K6Kb5pV5oF8A%2Fruns%2F0%2Fartifacts%2Fpublic%2Ffiltered-wpt-errorsummary.log))

[2019-11-22 04:46] #22670 closed

[2019-11-22 06:29] gterzian commented on #24810
So what's happening if the port is Gc'ed, although it has been started before(so an event-handler has been set on it). It's hard to tell what is exactly happening without looking at the code.

I would say a port to which an event-handler as been set should not be GC'ed, but it's hard to tell exactly why it is GC'ed. It's not normally GC'ed in such a case, otherwise all tests would fail.

[2019-11-22 06:34] #24591 closed

[2019-11-22 09:06] ferjm commented on #24820
CC @sdroege @ceyusa

[2019-11-22 09:18] sdroege commented on #24820
The `abort()` comes from pulseaudio it seems. Does pulseaudio work generally on that system or does any use of it fail the same way?

[2019-11-22 09:34] ferjm commented on #24808
Thanks for working on this issue @shnmorimoto. Feel free to reach out if you have any question.

In a nutshell, what I think we should do to implement this functionality is:

- Implement the DOM binding bits of the [setPositionState](https://w3c.github.io/mediasession/#dom-mediasession-setpositionstate) method. The WebIDL and implementation files to modify are the ones [mentioned above](https://gi

[2019-11-22 09:36] #22955 closed

[2019-11-22 09:42] ferjm commented on #24837
I just created it

[2019-11-22 09:42] #24837 closed

[2019-11-22 10:03] paulrouget commented on #24806
See https://github.com/servo/webxr/issues/96 and https://github.com/servo/webxr/pull/97

[2019-11-22 10:09] paulrouget commented on #24637
Fixed #24692

[2019-11-22 10:09] #24637 closed

[2019-11-22 15:26] asajeffrey opened #24839 "GStreamer plugin support for navigation API"
GStreamer has a navigation API (https://gstreamer.freedesktop.org/documentation/video/gstnavigation.html) that supports mouse and keyboard events. For 2D content it would be nice to hook this up to servo.

[2019-11-22 15:34] asajeffrey opened #24840 "GStreamer plugin should share state between multiple servo instances"
At the moment, multiple `servosrc` sources will each end up with an independent servo instance. This is wasteful, really they should share a servo and create a new browser instance within it.

[2019-11-22 17:46] shnmorimoto commented on #24808
@ferjm Thanks for the details. I'll give it a try.

[2019-11-22 19:21] asajeffrey opened #24843 "GStreamer plugin upgrade to surfman 0.2.0"
The use of surfman in the gst plugin is independent of that in servo, so we can update the plugin before servo itself.

[2019-11-22 19:22] asajeffrey commented on #24843
That should fix #24832.

[2019-11-22 19:58] #23050 closed

[2019-11-22 20:59] jdm commented on #21696
My current theory for this crash and #22276 is that we are calling JS_ShutDown on a different thread than the one that called JS_Init. Since we call JS_Init lazily when the first script thread is created and JS_ShutDown is called when the last instance of JsEngine is dropped, there are many ways the ordering could cause this to appear intermittently.

[2019-11-22 21:01] asajeffrey commented on #24836
A draft implementation: https://github.com/asajeffrey/servo/tree/gstplugin-url

[2019-11-22 22:54] #22325 closed

[2019-11-23 06:14] jdm opened #24846 "Untrusted CI tasks can't download the git bundle"
https://community-tc.services.mozilla.com/tasks/NB1MLnKPQbOGcAgukiGbdA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FNB1MLnKPQbOGcAgukiGbdA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log from #24845 fails with this mesage:
[code]
This looks like a regression from #24811.

[2019-11-23 07:55] SimonSapin commented on #24846
The problem is that the decision task didn’t upload the bundle in the first place: it’s not under Artifacts in https://community-tc.services.mozilla.com/tasks/NhzMQ6aqS_qQd4kcXS9njA.

This is another case of https://bugzilla.mozilla.org/show_bug.cgi?id=1539523, similar to https://github.com/servo/taskcluster-config/pull/2: for PR events, tc-github uses `.taskcluster.yml` from the PR’s "head" branc

[2019-11-23 08:05] SimonSapin commented on #24846
… or fix tc-github: https://bugzilla.mozilla.org/show_bug.cgi?id=1539523#c4

[2019-11-23 09:37] SimonSapin commented on #23429
Done in https://github.com/servo/taskcluster-config/pull/16.

[2019-11-23 09:37] #23429 closed

[2019-11-23 09:39] SimonSapin commented on #24691
I’ve asked Macstadium to wipe mac8 which seemed to help: https://github.com/servo/taskcluster-config/pull/16

All nine workers are back in the main pool now.

[2019-11-23 09:39] #24691 closed

[2019-11-23 12:46] SimonSapin commented on #24740
Maybe it’s not too terrible. This was enough to successfully cross-compile the `tinyfiledialogs` crate with `CC=clang`:

[code]

Of course when doing this "for real" we’d make it conditional on `$TARGET` and probably pass the SDK path through an environment variable. And maybe we could do it in the `cc` crate, so that `tinyfiledialogs` and other crates that use `cc` in a "simple enough" way might

[2019-11-23 17:45] twilco opened #24848 "Implement `lh` and `rlh` units from CSS Values 4"
As far as I can tell, Servo doesn't yet support these.

https://drafts.csswg.org/css-values-4/#lh
https://drafts.csswg.org/css-values-4/#rlh

[2019-11-23 17:47] twilco opened #24849 "Implement the `ic` unit from CSS Values 4"
https://drafts.csswg.org/css-values-4/#ic

[2019-11-23 21:56] atouchet commented on #24421
tiff 0.4.0 has been published but there isn't a release of image with the updated dependency yet.

[2019-11-24 07:21] fadedreamz commented on #20436
@jdm as I couldn't find an easy way to change the mime to uppercase, I changed the value in the test case to lower case. I believe the problem is mime type uses http lowercase notation where xhr expects uppercase notation (Please do correct me if I am wrong) and in rust mime crate all the constant values are in lowercases. I also fixed the mime suffix (e,g - +xml) bug which was leading to other te

[2019-11-24 07:22] gterzian opened #24850 "Ensure background-hang-monitor exits before constellation"
code: `components/background_hang_monitor`.

This component currently runs until script drops it's sender to it, which could be **after** the constellation exits, so that could add to the "(bad) threads running after exit" count.

Instead, the constellation could share a clone of a `IpcSender<()>` with each monitor, keep a single `IpcReceiver<()>`, and as part of exit, receive on it until all send

[2019-11-24 14:06] zakorgy commented on #24706
Some other things we should take care:
- [ ] Replace `wgpu-native` with `wgpu-core`
- [ ] Add identity management to the script side

[2019-11-24 14:26] CYBAI commented on #24795
[code]

([TC link](https://community-tc.services.mozilla.com/tasks/HgQXu4J9TdykHrwcaZR-wA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FHgQXu4J9TdykHrwcaZR-wA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log))

[2019-11-24 20:31] pshaughn opened #24852 "Mint 19.2 VM on Virtualbox under Windows 10 can't build osmesa for release"
I notice these errors seem to have a lot of messages in common with issue #22063. This only happens in -r; in -d this part of the build goes fine. This his happened for me for two separate 64-bit Mint 19.2 VMs on Virtualbox under two separate Windows 10 host machines.

error: failed to run custom build command for `osmesa-src v0.1.1 (https://github.com/servo/osmesa-src#1a9519c3)`

Caused by:
  pro

[2019-11-24 20:33] pshaughn commented on #24852
additional note: the system LLVM is at 6.0.0, so the "LLVM 3.3.0 or newer is required for gallium" message is a red herring unless mach has itself somehow pulled in an older LLVM.

[2019-11-24 21:12] jdm commented on #24852
I doubt it's a red herring so much as a real indication that the configure script is not finding the installed version of LLVM.

[2019-11-24 21:41] pshaughn commented on #24852
Quite possible! The line it references there where it's expecting an integer is testing $LLVM_VERSION_MAJOR; I don't know what is responsible for setting that here?

[2019-11-24 22:36] jdm commented on #24852
It comes from this:
[code]
And llvm-config is coming from /usr/bin/llvm-config based on `checking for llvm-config... /usr/bin/llvm-config` in the log.

[2019-11-24 22:38] jdm commented on #24852
If you're using Mint, have you tried `./mach bootstrap`? Otherwise, you might want to verify that the LLVM development package is installed.

[2019-11-24 23:40] pshaughn commented on #24852
I used mach bootstrap, then later in the build I got a complaint about not having some llvm thing, so I also used apt install llvm. I have not yet tried apt installing llvm-dev, only llvm, so if it needs dev that could be the issue (all this would also imply that mach bootstrap is missing something it should have).

[2019-11-24 23:44] pshaughn commented on #9616
I observed something that I think falls under this: mach will quickly print an informative error and exit if it's being run in a directory that itself contains spaces, but if it's being run in a spaceless one while $HOME does contain spaces, it will instead try to run and then print a much less informative error about not being able to access the Cargo configuration. An explicit check for spaces i

[2019-11-24 23:50] pshaughn commented on #23854
Another one is user home directory with a space (since that is not necessarily same as username and itself breaks things).

[2019-11-24 23:52] jdm commented on #24852
Yes, llvm-dev is required, so https://github.com/servo/servo/blob/master/python/servo/bootstrap.py#L114 and https://github.com/servo/servo/blob/master/README.md#on-debian-based-linuxes should be updated to include the appropriate package.

[2019-11-25 11:23] ferjm opened #24853 "Share resource loader between GStreamer plugin and Glutin ports"
#24754 copies [servo/ports/glutin/resources.rs](https://github.com/servo/servo/blob/master/ports/glutin/resources.rs) into `servo/ports/gstplugin/resources.rs`. We should move this somewhere so it can be shared by both ports.

[2019-11-25 13:06] CYBAI opened #24855 "Intermittent OK in /resource-timing/crossorigin-sandwich-TAO.sub.html"
[code]

[2019-11-25 13:07] CYBAI commented on #24855
Also observed in https://github.com/servo/servo/pull/24851#issuecomment-557897255

[2019-11-25 15:15] pshaughn commented on #24642
Similar problems. I am in Mint 19.2, on a VM that is running in VirtualBox under a Windows 10 host. (Given the way VM video is different from native video, this could be a key reproducibility point?) A difference for me is that without LIBGL_ALWAYS_SOFTWARE I get OpenGlVersionNotSupported, and NoCurrentContext is what I get when I do use LIBGL_ALWAYS_SOFTWARE.

pshaughn@pshaughn-VirtualBox:~/servo

[2019-11-25 15:32] jdm commented on #24642
@pshaughn Could you paste the output of running `glxinfo` in the VM? Also, have you installed the [virtualbox guest additions](https://www.virtualbox.org/manual/ch04.html)? I would usually expect those to be required for GL support.

[2019-11-25 15:35] pshaughn commented on #24642
Guest extensions are installed. glxinfo output the following:

name of display: :0
display: :0  screen: 0
direct rendering: Yes
server glx vendor string: SGI
server glx version string: 1.4
server glx extensions:
    GLX_ARB_create_context, GLX_ARB_create_context_profile,
    GLX_ARB_fbconfig_float, GLX_ARB_framebuffer_sRGB, GLX_ARB_multisample,
    GLX_EXT_create_context_es2_profile, GLX_EXT_creat

[2019-11-25 15:36] pshaughn commented on #24642
I may have spoken too soon about guest extensions actually. I have mouse pointer integration and was inferring that to mean guest extensions in general were installed but I'm explicitly installing them now to double-check if that changes anything!

[2019-11-25 15:41] pshaughn commented on #24642
After installing the guest extensions ISO and rebooting the VM, both the run errors and glxinfo are unchanged.

[2019-11-25 15:54] jdm commented on #24642
In the short term, see if running with the following patch avoids the issue:
[code]

[2019-11-25 16:03] CYBAI commented on #24795
[code]

([TC link](https://community-tc.services.mozilla.com/tasks/I5EKhz_YSEWKD0kiEP0opQ/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FI5EKhz_YSEWKD0kiEP0opQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log))

[2019-11-25 16:29] pshaughn commented on #24642
after taking the redundant format! part out from inside the warn so this compiles, it works when  LIBGL_ALWAYS_SOFTWARE=1 , no change to the opengl version problem.

[2019-11-25 17:06] jdm commented on #19773
#21952 was an in-progress attempt to solve this that stalled after the first review.

[2019-11-25 17:24] Darkspirit commented on #24642
WebRender needs OpenGL 3.1. If certain conditions are not met, only OpenGL 2.1 is supported by VirtualBox. It could be that only commercial VMware products support it on Windows, I don't know. It sounds like it should work with a Linux host though:
https://www.mesa3d.org/vmware-guest.html

[2019-11-25 18:21] jdm commented on #20906
https://github.com/servo/servo/pull/21926 was an attempt to fix this that hit some surprising test failures that need to be investigated.

[2019-11-25 19:56] pshaughn commented on #2909
https://infra.spec.whatwg.org/#forgiving-base64-decode might be the thing to do here?

[2019-11-25 19:58] jdm commented on #2909
Indeed, step 11.2 of https://fetch.spec.whatwg.org/#data-urls uses the forgiving base64 decode algorithm, so that looks like a change we will need to make in our implementation.

[2019-11-25 20:02] pshaughn commented on #2909
I am doing that now; we're already forgiving spaces, just need to add forgiveness of a few other kinds of byte.

[2019-11-25 20:24] pshaughn commented on #2909
There is one remaining problem: "ab=" is invalid base64, but we're responding to this particular invalid base64 in a different way from all the other invalid base64. I don't know where this "Reached unreachable code" string is even being generated yet; it doesn't seem to be a string in Servo or in the base64 crate.

`  ▶ Unexpected subtest result in /fetch/data-urls/base64.any.worker.html:
  │ FAI

[2019-11-25 20:31] jdm commented on #2909
`Reached unreachable code` comes from https://github.com/web-platform-tests/wpt/blob/783959beb60fc589e897cc11d08c23f621259f62/resources/testharness.js#L1852 (or https://github.com/servo/servo/blob/f1aa5d8dbdc32f6f474b09234558652b9bead686/tests/wpt/web-platform-tests/resources/testharness.js#L1852 in our vendored tree).

[2019-11-25 20:34] SimonSapin commented on #2909
If someone is looking at this, please consider using https://crates.io/crates/data-url or filing issues in https://github.com/servo/rust-url/issues about why it’s not ideal :)

[2019-11-25 21:36] jdm opened #24864 "Intermittent timeout in /css/css-paint-api/registered-property-value-006.https.html"
[code]

[2019-11-25 23:39] pshaughn commented on #2909
@SimonSapin do you have any advice about how to use the data-url crate in a project that's using https://crates.io/crates/mime elsewhere? I don't see an obvious interconversion strategy between the two classes, even though they expose almost identical getters. I am new to Rust's object model and it's possible there is some obvious answer here.

[2019-11-26 00:14] pshaughn commented on #2909
One possibility here is to keep the servo code that's parsing some of the URL to make a Mime object from the mime crate, call the data-url crate to get the data, and just ignore the data-url crate's own mime type parsing. That seems like it'd get correct behavior, but it feels a little odd to have to parse the mime type twice and throw one out. Still, I'll try it tomorrow and see if it at least pa

[2019-11-26 01:02] speigg opened #24867 "This glitch page fails to render properly"
I have this page on glitch.com which servo is not able to display properly (using the latest nightly for macOS)

https://glitch.com/~servo-web-layer-gl

This page is supposed to rasterize a DOM element using html2canvas, then render that texture in WebGL using three.js. I'm not sure where exactly in the pipeline things are breakdown, and not sure how to work with servo beyond the errors that our o

[2019-11-26 09:10] #24086 closed