[2015-02-27 14:48] jdm commented on #5081
Yep, #4503.

[2015-02-27 14:57] jdm commented on #5077
I've done lots of scrolling on OS X since switching to glutin, so I'm not sure what you mean.

[2015-02-27 17:22] #5090 closed

[2015-02-27 17:25] seanmonstar commented on #4734
I assume fixed?

[2015-02-27 17:34] #2879 closed

[2015-02-27 17:55] jdm commented on #4734
Yep!

[2015-02-27 17:55] #4734 closed

[2015-02-27 18:27] jdm opened #5092 "Organize reftest list alphabetically and make the tidy script check it"
http://mxr.mozilla.org/servo/source/tests/ref/basic.list
http://mxr.mozilla.org/servo/source/python/tidy.py

[2015-02-27 18:27] jdm commented on #5092
[code]

[2015-02-27 18:30] saneyuki commented on #5077
I commented under what @metajack says that scrolling on OSX don't take care of the behavior that is inverted since OSX 10.7 compared to other platforms.

[2015-02-27 18:39] SimonSapin commented on #5092
:+1:

[2015-02-27 18:40] SimonSapin commented on #5092
Is it better to have tidy or reftest.rs check this?

[2015-02-27 18:45] Adenilson commented on #4731
Ok, first step was done on: https://github.com/servo/servo/pull/5062

What is missing now would be more information (e.g. geometry, etc).

[2015-02-27 18:45] SimonSapin commented on #1513
http://dev.w3.org/csswg/css-text-3/#white-space-collapsing (Same set of values as 2.1)

* [x] normal
* [x] pre
* [x] nowrap
* [ ] pre-wrap
* [ ] pre-line

[2015-02-27 18:49] Adenilson commented on #4733
Since dumping the FlowTree has landed (https://github.com/servo/servo/pull/4995), I was able to inspect the flow tree of a test case that fails X one that works.

a) Incorrectly positioned text element (div has opacity set) FlowTree:
+ Block - 12142fc80: frag=(10 SpecificFragmentInfo::Generic bp
LogicalMargin(H LTR, inline: 0px..0px block: 0px..0px) m
LogicalMargin(H LTR, inline: 0px..0px block: 0

[2015-02-27 18:57] Adenilson commented on #4733
Continuing digging, I was able to simplify the test case a bit (removing the span element). It can be seen here: http://codepen.io/Savago/pen/GgGyWY

 I tried the parameter that will verify if the display list is valid (i.e. --debug validate-display-list-geometry) and it will print this:

a.cavalcanti$ ./components/servo/target/servo --debug validate-display-list-geometry,dump-display-list file://

[2015-02-27 19:01] Adenilson commented on #4733
@SimonSapin and @pcwalton any suggestions?

[2015-02-27 19:06] Adenilson commented on #5079
If this one is available, I would like to do it.

[2015-02-27 19:07] jdm commented on #5079
Go ahead!

[2015-02-27 19:08] Adenilson commented on #5079
There is a known issue that when you start servo, it will have reflow done 3x (I'm going to open an issue about it). It is probable it has to do with window resize events, but it got to be fixed.

[2015-02-27 19:53] Adenilson opened #5093 "Servo will do reflow 3x at startup"
## How to reproduce:

Start servo with ./servo --debug dump-display-list url
## Expected result

It should dump the display list and print 'start printing display list' 3 times.
## Further info

This points that reflow is being triggered at least 3 times. It is confirmed for both local and remote URLs, and happens in both OSX and Linux.

Maybe it has to do with window resize events forcing a new r

[2015-02-27 19:54] Adenilson commented on #5079
For the repeated reflows #5093.

[2015-02-27 23:29] jdm commented on #2823
That bug happened. Try not to be intimidated by the stack of 10 patches there.

[2015-02-27 23:33] jdm commented on #5014
I looked into this with the intention of suggestion where to start, but I don't really understand what the Python code or the generated C++ for TextDecoderBinding.cpp is doing. My suggestion is to add a method to Gecko's TextDecoder.webidl that matches the method you're looking into in Servo and see what it output, then match that against the Python code in Codegen.py.

[2015-02-27 23:39] Ms2ger commented on #5092
tidy, IMO

[2015-02-28 00:30] #4658 closed

[2015-02-28 00:53] jdm opened #5095 "Constellation creates a new script task for same-origin navigations"
I suspect we want to be conservative here and use the same script task instead. Upside is fewer distinct JSRuntime instantiations, which will be a memory win. If we correctly freeze pages in the session history, I don't think the extra pressure on the event loop will be a big deal. This might also be necessary to correctly model the semantics of same-origin navigation in iframes, which would need

[2015-02-28 04:46] metajack commented on #5077
The scrolling is not inverted in some way. The scrolling doesn't work *at all* in any direction. This is not "natural scrolling" or lack of same, but *no* scrolling.

[2015-02-28 05:36] Adenilson commented on #5093
Yep, the patch on #5096 kind of confirms that the extra 2x reflows are thanks to window resize events.

[2015-02-28 05:59] Adenilson commented on #5079
Loading a wikipedia page will point to a 'reflow storm', while resize events only happens 2x. An example: https://gist.github.com/Adenilson/19476a8b8fcc162136ce

Do you guys know why those events are being sent to ScriptTask?

[2015-02-28 13:48] psdh commented on #3847
Okay, After irc discussions with kmc, and jdm, I have understood that I need to
Add one more implementation of TreeSink that would implement each of these methods by sending a enum to a channel(say message), this enum would have information about
     i) target
     ii) arguments
And then I queue these dom manipulations as enum vairants( in a vec?) and flush them from time to time
When do we make

[2015-02-28 16:55] #4260 closed

[2015-02-28 17:05] jdm commented on #4283
Sorry for taking so long to reply to this; I had trouble finding the time to read through the references. I think you're on the right track, but here are the list of places that could trigger a microtask checkpoint right now, according to my reading of the spec (based on searches for "code entry-point" and "create a script"):

* after running a task from one of the HTML5 task sources (such as an i

[2015-02-28 17:31] #4435 closed

[2015-02-28 17:32] jdm opened #5101 "Implement float attribute in CSSStyleDeclaration"
The comment at http://mxr.mozilla.org/servo/source/components/script/dom/webidls/CSSStyleDeclaration.webidl#83 says it needs BinaryName, which we just got support for in #5094.

[2015-02-28 17:47] jdm commented on #4700
Is this still a problem?

[2015-02-28 17:49] jdm commented on #3847
As you say, the DOM changes would occur when flushing them in the main script task. There would need to be a synchronization point - when the script task is going to execute a newly-parsed script element, it needs to operate on the up-to-date DOM tree. Does that make sense?

[2015-02-28 18:04] kmcallister commented on #3847
And/or in the message channel itself.

You'll need a cross-thread way for tree ops to refer to nodes that haven't been constructed yet, but will be constructed by a previous tree op.  Gecko uses `nsIContent**` for this: a pointer to a slot which will eventually hold a pointer to the node, when the main thread gets around to constructing it.

This approach seems pretty unsafe, and anyway will be im

[2015-02-28 18:13] mschroeder commented on #4981
I would like to have a go at this issue.

[2015-02-28 19:37] jdm commented on #4981
@mschroeder Go for it!

[2015-02-28 20:30] #5046 closed

[2015-03-01 02:04] gilles-leblanc commented on #5063
There are a lot of new tests but the cases I have added unit tests for were cases where we were throwing panics (end of line spaces, comments (whether whole line comments or end of line comments), malformed files) or lacked support (host name aliases).

[2015-03-01 03:43] kmcallister commented on #3219
Sounds like a use case for [lazy-static](https://github.com/Kimundi/lazy-static.rs).

[2015-03-01 11:47] shinglyu commented on #3219
Cool! Let's see if I can use lazy-static and refactor the code at the same
time.

On Sun, 1 Mar 2015 at 11:43 Keegan McAllister <notifications@github.com>
wrote:

[2015-03-01 13:04] Ms2ger opened #5107 "FIFO unrooting failure with dictionaries"
[code]
[code]

[2015-03-01 13:24] Ms2ger opened #5108 "Figure out what to do with KeyboardEvent#{charCode, keyCode, which}."
These are barely specced, so I'm not sure why we implemented them. My preference would be to remove them, unless someone is willing to step up to spec them.

CC @jdm.

[2015-03-01 13:48] yodalee commented on #4431
I think I can handle this one.
Just make sure that: Does serialize a declaration already been implemented? something like `serialize_value` function.

[2015-03-01 16:23] jdm commented on #4431
In this case step 2 means clearing the inline style declarations of the parent element. And yes, step 3 means parsing a declaration block, and you should use the APIs available in `components/style` for that.

[2015-03-01 16:24] jdm commented on #5108
My understanding is that there's a lot of legacy content that relies on them in conjunction with keypress events.

[2015-03-01 16:26] jdm commented on #5108
Also, what in particular about https://dvcs.w3.org/hg/dom3events/raw-file/tip/html/DOM3-Events.html#widl-KeyboardEvent-charCode is underspecced, in your opinion?

[2015-03-01 16:50] JIoJIaJIu commented on #4985
Is'it right?
I tried don't copy implementation from https://github.com/servo/servo/pull/4620/files#diff-7fa3011afc74ee7695cb180db1da7791R303 for more easy merge and review
How i understand right way to store just script_task.mouse_over_targets as future RootedVec<T> and don't root all script_target ?
Also i can't look any trace with RUST_LOG=debug ./march servo, could you explain at what time GC s

[2015-03-01 18:20] jdm commented on #4985
Hmm, I suppose it might be possible to use a RootedVec in the future, but I would feel more comfortable if all of ScriptTask was guaranteed to be traced. Instead of a separate struct and rooting collections, I would prefer to store an `Option<*const ScriptTask>` in thread-local storage, and have the extern function just access that and call the `trace` method on it (this would require having Scrip

[2015-03-01 21:04] jdm opened #5109 "Replace uses of accumulating fold with sum"
There are several callers of `fold` today that start with an initial value of 0 then add all the elements of a vector to get the total. This would be much easier to read if it used [AdditiveIterator::sum](http://doc.servo.org/std/iter/trait.AdditiveIterator.html#tymethod.sum) instead. We may need to implement that trait for the `Au` type for some of the callers.

[2015-03-02 05:25] Manishearth opened #5112 "Fill in default type parameter for PartialEq on JSRef"
Currently, out [implementaion of `PartialEq` for `JSRef`](https://github.com/servo/servo/blob/master/components/script/dom/bindings/js.rs#L730) is:

[code]

Here, the type parameter to `PartialEq` [defaults to `Self`](http://doc.servo.org/core/cmp/trait.PartialEq.html). This means that we cannot compare two `JSRef` objects with different lifetimes.

We need to change this so that it implements `Pa

[2015-03-02 05:25] Manishearth commented on #5112
@KiChjang want to work on this?

[2015-03-02 05:48] #4871 closed

[2015-03-02 09:04] Ms2ger commented on #5108
That one's probably good enough for D3E

[2015-03-02 10:54] SimonSapin commented on #5109
I’m not convinced that slightly nicer code with `sum` instead of `fold` is worth implementing `AdditiveIterator` for random types like `LogicalMargin<Au>`.

[2015-03-02 10:56] SimonSapin commented on #5109
See http://logs.glob.uno/?c=mozilla%23servo#c179291

[2015-03-02 11:16] psdh commented on #5042
can be closed now?

[2015-03-02 12:13] shinglyu commented on #4873
I'll take this one.

[2015-03-02 12:54] shinglyu commented on #4833
Verified fixed on today's build. We can close this issue.

[2015-03-02 13:24] jdm commented on #4833
Thanks!

[2015-03-02 13:24] #4833 closed

[2015-03-02 13:25] #5042 closed

[2015-03-02 13:51] yodalee commented on #4431
Is step 2 means that I should call function `remove_inline_style_property` to every properties get from `get_inline_style_property()` of the element.

[2015-03-02 13:53] yodalee commented on #4431
So step 2 means that I should call function `remove_inline_style_property(property)` to every properties in the `owner`.

[2015-03-02 14:01] jdm commented on #4431
Yep!

[2015-03-02 14:14] mskrzypkows commented on #5082
It seems that key events are fired and appropriate class is set (element.rs::SetClassName is called, checked with logs). Maybe some CSS style refresh method has to be called.

[2015-03-02 16:01] KiChjang commented on #5112
Oh! So this is where the black magic happened. I can try, but I'll need some time to go through the whole concepts of lifetimes. Some literature would be helpful.

[2015-03-02 16:02] Manishearth commented on #5112
http://doc.rust-lang.org/nightly/book/ownership.html

[2015-03-02 16:20] gilles-leblanc commented on #5092
I'd like to do this one.

[2015-03-02 16:46] metajack commented on #5083
This can also be reproduced by holding left arrow (which the JS uses to go backwards a slide).

[2015-03-02 17:05] awlnx commented on #4103
The commit was accepted. Is there more to be done?

[2015-03-02 17:06] Manishearth commented on #4103
Nope, thanks!

[2015-03-02 17:06] #4103 closed

[2015-03-02 18:05] jdm opened #5116 "Make WPT tests pass with debug mozjs"
These are the set of tests known to assert with a debug mozjs build:
[code]
They're almost all assertions about pending exceptions or mismatched compartments, for reasons that are not entirely clear to me. The first test listed actually asserts during parsing, on what appears to be a parse node that was previously freed, which is unnerving.

[2015-03-02 18:19] Ms2ger commented on #5116
I've looked at the parsenode uaf a while ago, it was fixed upstream.

[2015-03-02 18:24] pcwalton commented on #2604
@SimonSapin I believe `RWLock` is fast now, looking at Rust. We'll need to benchmark to make sure.

[2015-03-02 18:39] jdm opened #5117 "Implement FromIter for converting an iterator for Temporary<T> to a RootedVec<JS<T>>"
This is complicated to get right, so it's a followup to #4620.

[2015-03-02 22:26] bjwbell commented on #3725
@jdm This appears to be fixed on latest master.

[2015-03-02 22:34] metajack opened #5120 "rename layout::util to something more sensible"
It's causing us to import the util crate as servo_util, which is ugly.

Really they should probably both be renamed, but let's start with the easier case.

[2015-03-02 22:43] Adenilson commented on #5120
It seems that there is also another util module in gfx/text.

[2015-03-02 23:49] jdm commented on #5120
I propose splitting it into `data.rs`, `node.rs`, and moving the ToGfxColor trait and impl to `display_list_builder.rs`.

[2015-03-02 23:50] jdm commented on #3725
Perhaps a reftest is in order.

[2015-03-03 00:01] aweinstock314 commented on #4778
My current understanding of this is that

* RefCell defers borrow-checking to runtime
* For objects managed by the GC, both the primary owner of the object and the GC need to access the object
* When the GC is triggered while the object is mutably borrowed, the GC attempts a second mutable borrow, causing RefCell to panic
* The suggested fix is to have the GC use RefCell::as_unsafe_cell to bypass

[2015-03-03 00:52] jdm commented on #4778
Yes! Although the GC doesn't do a second mutable borrow right now, it just tries to immutably borrow the value again, which fails if there is an outstanding mutable borrow. This situation is safe because the code is running on the same thread, so there won't be any data race.

[2015-03-03 02:03] #5109 closed

[2015-03-03 02:28] jdm opened #5126 "Intermittent reftest failure in text_transform_lowercase_a.html"
[code]

[2015-03-03 02:29] jdm commented on #5126
From #5026.

[2015-03-03 02:39] #5080 closed

[2015-03-03 03:13] KiChjang commented on #5112
I'm encountering #3960 while browsing through the code. Is it the same issue that we have here?

[2015-03-03 04:32] jdm commented on #5112
That seems likely.

[2015-03-03 05:07] bjwbell commented on #3725
@jdm Added

[2015-03-03 06:38] KiChjang commented on #4984
This issue seems to be resolved. Please close.

[2015-03-03 10:54] saneyuki commented on #4984
Fixed by #4984

[2015-03-03 10:54] #4984 closed

[2015-03-03 11:32] JIoJIaJIu commented on #4985
Look it, please, like that?
How should i implement removing from SCRIPT_TASK_ROOTS? Implement Drop trait for ScriptTask?
It will be called automatically when references will end?

[2015-03-03 13:35] jdm commented on #4985
Yes, adding the removal to the destructor would be great. Also there are a couple issues with the latest code:
* there's only ever at most one ScriptTask for the thread, so we don't need a HashSet
* storing the pointer to the ScriptTask in ScriptTask::new doesn't work, since we move the value when returning and the stored pointer is no longer valid

[2015-03-03 16:05] yodalee commented on #4431
Is the implementation of `serialize_list()` in the `cssstyledeclaration.rs` same to `serialize-a-css-declaration-block` in spec?
http://dev.w3.org/csswg/cssom/#serialize-a-css-declaration-block

[2015-03-03 16:07] psdh commented on #5075
Hey!
If we want to run tests with optimizations on, then it would be blocked at rust-lang/cargo#691, won't it?
I don't quite understand this in and out, so I can't be sure.

[2015-03-03 16:11] Manishearth commented on #5075
Might want to chat with acrichto on IRC how easy that feature would be to add, or if there's a way to work around it.

[2015-03-03 16:27] jdm commented on #4431
serialize_list corresponds to http://dev.w3.org/csswg/cssom/#serialize-a-whitespace_separated-list . I expect you want to implement the ToCss trait for the PropertyDeclarationBlock type in style/properties.rs.mako to match the spec.

[2015-03-03 16:33] JIoJIaJIu commented on #4985
when i tried window.gc(), i got
[code]

The problem in implementation trace for fields?
[code]

The script task has some DOMRefCell struct, what is the right workflow and tool for debug? gdb?

[2015-03-03 16:36] jdm commented on #4985
That was fixed two hours ago by #5131 :)

[2015-03-03 17:04] iamdanfox commented on #1745
I started looking into this bug because it's 'E-easy', but it looks like @jgraham has already fixed this issue with [his commit][2]

The [`HTMLCollection::by_tag_name`][1] function looks like it now matches the intricacies specified by https://dom.spec.whatwg.org/#concept-getelementsbytagname (ie requiring an exact match for non-HTML tagnames and allowing lowercase-matching for elements in the HTM

[2015-03-03 17:05] SimonSapin commented on #5043
This was probably fixed in #5043, but I didn’t manage to find a newer builder log that downloads Rust. Do the builders cache Rust snapshots?

[2015-03-03 17:49] iamdanfox commented on #5120
Can I have a stab at this? It sounds like splitting up a file and renaming stuff around the codebase should be straightforward!

[2015-03-03 19:29] saneyuki commented on #4445
I'll take this.

@pcwalton please account for the details?

[2015-03-03 23:20] glennw commented on #4971
Fixed by https://github.com/servo/servo/pull/5125 and https://github.com/servo/servo/pull/5064

[2015-03-03 23:20] #4971 closed

[2015-03-04 02:29] JIoJIaJIu commented on #5037
I'll do it

[2015-03-04 04:53] jdm opened #5140 "Intermittent content test failure in test_iframe_contentDocument.html"
[code]

[2015-03-04 05:57] #4945 closed

[2015-03-04 08:45] #4778 closed

[2015-03-04 11:26] Ms2ger commented on #1745
This issue is not about `getElementsByTagName`, it's about `getElementsByName` (and others defined in the HTML spec).

[2015-03-04 14:50] jdm opened #5142 "Intermittent reftest timeout"
[code]

[2015-03-04 17:14] Manishearth commented on #1233
I think we mainly need `document.write` to work now -- @kmcallister , how close are we to this?

[2015-03-04 20:31] #1233 closed

[2015-03-04 20:36] metajack commented on #1233
Why did you close this?

[2015-03-04 21:03] zslayton commented on #4153
This seems like it might be a good first bug; would it be alright if I took a crack at it?

[2015-03-04 21:04] mbrubeck commented on #4831
Fixed during the latest rust upgrade.

[2015-03-04 21:04] #4831 closed

[2015-03-04 21:04] mbrubeck commented on #4700
Fixed during the latest Rust upgrade.

[2015-03-04 21:04] #4700 closed

[2015-03-04 21:04] Manishearth commented on #4153
Sure! I'm not sure how many cases of matches of this type are left, but you can surely try! :)

[2015-03-04 21:09] mbrubeck opened #5145 "Android startup fails loading libmain.so due to OpenSSL library failure"
Since the latest Rust upgrade, Servo crashes on startup on Android with the following error:

`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.native_activity/rust.glutin.MainActivity}: java.lang.IllegalArgumentException: Unable to load native library: /data/data/com.example.native_activity/lib/libmain.so`

`dlerror` returns the following in a small test program:

`L

[2015-03-04 21:23] glennw commented on #5145
Is strace available on android? It might show if it's trying to open those system libs and rejecting them?

[2015-03-04 21:25] Ms2ger commented on #1233
I don't see a reason to track this; it's a crappy test.

[2015-03-04 21:44] DavidBruant commented on #1233
@Ms2ger Why?

Even after the [September 2011 changes](http://en.wikipedia.org/wiki/Acid3#September_2011_test_changes) ?

[2015-03-04 22:03] metajack opened #5147 "text not flowing around floats on static suite wikipedia"
![blink vs. servo](https://cloud.githubusercontent.com/assets/28357/6494512/8e6a60ec-c27f-11e4-9c37-4aaccfdc50f1.png)

[2015-03-04 22:05] metajack opened #5148 "reddit toolbars overflowing in static suite"
![blink vs. servo](https://cloud.githubusercontent.com/assets/28357/6494560/ddb584a6-c27f-11e4-9a0a-42d6ff0798d7.png)

[2015-03-04 22:07] metajack opened #5149 "missing and mis-sized iframes on cnn static suite"
![blink vs. servo](https://cloud.githubusercontent.com/assets/28357/6494586/222d4bbe-c280-11e4-9a1c-f0b86e1a258f.png)

[2015-03-04 22:43] jdm commented on #5148
Looks like the `overflow: hidden` on `#sr-header-area .sr-list` isn't working right.

[2015-03-04 22:45] jdm commented on #4153
The other PR never merged, so there are a bunch that can be changed.

[2015-03-05 01:46] dmarcos commented on #4784
@jdm I started to work on this. Just got a first working version:

https://github.com/dmarcos/servo/commit/d3dc811bd638752fd44dbc6434d75c6dc3db1d2e

I'm pretty sure I'm doing horrible things I shouldn't be doing :). Please bare with me. I'm looking for feedback to see If I'm in the right path. The patch is functional and I see consistent results between gecko and servo on the example below. I'm ve

[2015-03-05 02:14] metajack opened #5151 "cnn.com totally busted"
![master loading http://www.cnn.com](https://cloud.githubusercontent.com/assets/28357/6497877/a5683fa8-c2a2-11e4-9b13-1331a9bd35c1.png)

[2015-03-05 07:33] wldcordeiro commented on #3734
I'll take a stab at this issue @jdm

[2015-03-05 08:48] #5112 closed

[2015-03-05 11:27] JIoJIaJIu commented on #5037
Correct me, please, if i misunderstand - On some trigger i should scan raw stack memory, try to find all rooted varialbles and raise panic! if i don't find some one?
I create
[code]
then i should get raw pointer
[code]

iterate through memory and trying to cast it JSObject?
Also questions:
* I should trigger scan on root/unroot any value?
* Or i can understand that some piece of code(GC) trying to

[2015-03-05 11:52] KiChjang commented on #3960
Ahh darn, it didn't automagically close this issue when #5127 is merged! Please close this.

[2015-03-05 11:54] #3960 closed

[2015-03-05 13:00] jdm commented on #5037
Sorry for the confusion - the stack scanning already occurs during GC, since it is the way that GC is implemented in SpiderMonkey. What we want to do here is figure out if adding a new root to the `RootCollection` causes the number of roots to exceed the capacity of the on-stack storage for the `SmallVec` that is in the `RootCollection`.

[2015-03-05 13:03] jdm commented on #3734
Thanks @wldcordeiro! Any event that is processed only by the worker event loop in dedicatedworkerglobal.rs (handle_event) belongs in one enum, while any event that is only processed by the event loop in script_task.rs (handle_msgs) belongs in another. Any event that is processed by both of them belongs in a common enum. Does that make sense?

[2015-03-05 14:53] bvleur commented on #5092
Maybe merge conflicts can be avoided with `.gitattributes` file and an entry like:
[code]

(based on [a tip I've read on the GitLab blog comments](https://about.gitlab.com/2015/02/10/gitlab-reduced-merge-conflicts-by-90-percent-with-changelog-placeholders/#comment-1846082669))

[2015-03-05 15:14] payload commented on #4153
You can use the pcregrep above to quickly count and find the usual cases.

[2015-03-05 16:29] zslayton commented on #4153
Thanks all, I'm hoping to find some time to look at this in the next couple of nights.

[2015-03-05 16:48] kmcallister opened #5157 "Use quasiquote for attributes in plugin crate"
Now that rust-lang/rust#19674 is fixed.

[2015-03-05 17:03] SimonSapin commented on #5037
Note that SmallVec has moved to https://github.com/servo/rust-selectors/blob/master/src/smallvec.rs , and might moved again into an independent library.

[2015-03-05 17:04] JIoJIaJIu commented on #5037
Is it just
[code]

[2015-03-05 18:10] jdm commented on #5037
Huh, I didn't realize that the spilled method was public, so that's very convenient :)

[2015-03-05 19:18] iamdanfox commented on #1745
Ah sorry, I misread a comment above.  If I understand correctly, fixing this issue would involve:

 * Adding a new test to the https://github.com/servo/web-platform-tests repo that highlights the `foo`/`FOO` namespacing thing described above.
 * Updating the [GetElementsByName function in documents.rs][1] to permit lowercase matches for HTML-namespaced elements, but require strict matches for non-

[2015-03-05 19:52] jdm commented on #4784
@dmarcos Great work! I wouldn't call them "horrible things", but I think we could improve some of the readability as well as the performance. First, in the implementation of DrawImage I'd like to see comments indicating which step of the spec under "When the drawImage() method is invoked" is being represented (https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-drawimage). Secondl

[2015-03-05 20:05] SimonSapin opened #5158 "Fix warnings in tests/reftests.rs"
E.g. use indexing with ranges instead of `slice_from`, etc.

[2015-03-05 20:05] wldcordeiro commented on #3734
@jdm that does make sense, but would it also make sense to move the enums to different modules? Or would it be fine if they all were in script_task.rs?

[2015-03-05 20:06] jdm commented on #5158
`touch tests/reftest.rs && ./mach test-ref` will cause the warnings to appear.

[2015-03-05 20:06] jdm opened #5159 "Fix warnings in contenttest.rs"
`touch tests/contenttest.rs && ./mach test-content` will cause the warnings to appear.

[2015-03-05 20:08] jdm commented on #3734
Moving the worker-related enum to dedicatedworkerglobalscope.rs would make sense. Splitting up parts of script_task.rs is another worthy goal, but probably best done elsewhere.

[2015-03-05 20:19] wldcordeiro commented on #3734
Good to know @jdm. So the end result is that there will be three enums CommonScriptMsg, WorkerScriptMsg, and MainThreadScriptMsg. With WorkerScriptMsg in dedicatedworkerglobalscope.rs and the others being housed in script_task.rs? Splitting up that file would be good but maybe as its own issue?

[2015-03-05 20:45] jdm commented on #3734
Yep!

[2015-03-06 02:41] pcwalton opened #5162 "Display lists should contain glyph buffers rather than text runs"
We should move the logic in `ScaledFontExtensionMethods::draw_text()` farther up the pipeline and store `AzGlyphBuffer`s in the display list instead of `TextRun` instances. This would make serialization of display lists much easier, because then text runs would be entirely local to the layout thread/process. The layout thread would do the serialization during display list building and all the pain

[2015-03-06 03:12] pcwalton opened #5163 "Display lists shouldn't contain Images directly"
We're going to be sending display lists in multiprocess Servo, and serializing `Image`s over the wire is going to be too slow. Instead of putting `Image` objects directly into display lists, they should instead have some sort of identifier (perhaps a URL?) whereby the display list can reference an image and the paint context can simply fetch it from the image cache task.

[2015-03-06 03:49] #5063 closed

[2015-03-06 06:35] SimonSapin opened #5165 "Add reftests for viewport-relative units"
Support for `vw`, `vh`, `vmin` and `vmax` length units was added in #5154. See https://critic.hoppipolla.co.uk/showcomment?chain=10857

[2015-03-06 08:39] jdm commented on #5165
https://github.com/servo/servo/pull/5164 is in progress.

[2015-03-06 11:42] kevincannon commented on #3893
Hey all, some really nice ideas in here. I tried to distill them down to what I think is key:

* Represents the parallel nature of the browser - see @FireDart's comment.
* Has some connection to Rust. (I'm not sure of the IP of Rust's logo though)
* Feels like a project logo, rather than finished product logo/icon.

Based on that, I built on ideas above by @raphaelbastide - but tried to do two thi

[2015-03-06 11:58] raphaelbastide commented on #3893
Hey, as there is an interesting activity on this subject, I am wondering where those graphic researches lead. Are we doing all that for a precise purpose? Does Servo needs a logo, if yes, who will decide and how? Logo design needs real constraints to be efficient and smart. From now we just draw nice images and it can continue like that ∞ . So what next?

[2015-03-06 13:16] JIoJIaJIu commented on #5142
The problem  is in deadlock, workaround - starting two process at the same time
[code]

[code]

[2015-03-06 14:00] jdm commented on #5142
Yep, that was #5161.

[2015-03-06 14:01] #5142 closed

[2015-03-06 17:57] JIoJIaJIu commented on #5107
How i understand, that document was rooted twice
[code]
[code]
https://github.com/servo/servo/blob/eda9c0c9ac29646c5b4c9ce30b97c6547345171e/components/script/dom/browsercontext.rs#L57

[code]

am i right?
should check in RootCollection on unique pointer?

[2015-03-06 18:11] jdm commented on #5107
What this usually means is that a Root value was moved in the function that was one of the callers of drop.

[2015-03-06 18:11] jdm commented on #5107
That means one of these frames is at fault:
[code]

[2015-03-06 18:15] larsbergstrom commented on #3893
@raphaelbastide We do need a new logo and the contributions in this thread have been awesome (I particularly like the one from @VAS !).

The logo decision will be made by @metajack and myself, in consultation with the team. We do not currently have a timeframe for making this decision, but we'll chat about it at a meeting next week and try to comment soon.

[2015-03-06 18:15] dmarcos commented on #4784
@jdm Thanks for the quick feedback! I really appreciate. I made DrawImage take a `Sender<Canvas>`

https://github.com/dmarcos/servo/commit/13e2624f4c1a246cab1d9972cf95f499c8502e5a

I have a question about conforming to the spec. In the first step (https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-drawimage) I see "Check the usability of the image argument". Should this be implem

[2015-03-06 18:34] jdm commented on #4784
It looks like there are a few users of that check, so implementing it as a separate helper method would be valuable. In this case, the check can explicitly throw an exception, so having it return `Fallible<bool>` (http://mxr.mozilla.org/servo/source/components/script/dom/bindings/error.rs#65) and returning the error from DrawImage if it occurs would make sense. The WebIDL will need a [Throws] anno

[2015-03-06 19:33] l0kod commented on #268
cc #4735

[2015-03-06 19:35] jdm commented on #3389
We have cookies.

[2015-03-06 19:35] #3389 closed

[2015-03-06 19:35] #1721 closed

[2015-03-06 21:21] #4089 closed

[2015-03-07 07:23] wldcordeiro commented on #3734
So I've been working on this and wanted to get a little input so I understand better.

The current ScriptMsg enum currently has these variants.

ScriptMsg
* TriggerFragment
* TriggerLoad
* FireTimer
* ExitWindow
* DOMMessage
* WorkerDispatchErrorEvent
* RunnableMessage
* RefcountCleanup
* PageFetchComplete

Now I've been trying to figure out which variants would fit in each of the three new enums,

[2015-03-07 09:54] KiChjang commented on #5014
This might be useful:
https://developer.mozilla.org/en-US/docs/Mozilla/WebIDL_bindings

[2015-03-07 10:23] KiChjang commented on #5014
It is looking like that we should convert the existing structs and typedefs in `TypedArrays.h` into Rust objects. That way, we would not need to do complex FFI and have Rust compiler's ownership safety.

[2015-03-07 13:30] jdm opened #5171 "Replace WorkerDispatchErrorEvent with a runnable"
It just calls a static method directly, so it can be replaced with a struct containing the same arguments that implements the Runnable trait (see any other use of `impl Runnable for` for examples).

[2015-03-07 13:35] jdm commented on #3734
Never be sorry for asking questions! WorkerDispatchErrorEvent can actually be dispatched to both the worker and main thread event loops, so it belongs in the common enum. DOMMessage, on the other hand, only is sent to worker theads, and is actually documented as such,

With respect to the enum, you don't need to duplicate common variants. You can just declare that the enum contains a variant named

[2015-03-07 19:00] #5092 closed

[2015-03-07 22:26] wldcordeiro commented on #3734
Okay thanks for the response @jdm so if I'm not mistaken then in the Common variant I can have a comma separated list of variants? `WorkerScriptMsg::Common(CommonScriptMsg::Runable, CommonScriptMsg::WorkerDispatchErrorEvent)` for example? Also I'm curious about how to handle the method `handle_msg_from_script`. Should I split it into more methods that work with the other enums?

[2015-03-08 04:34] ehegnes commented on #5159
I'd like to contribute to this, if I may.

Many of the warnings can be squelched by specifying compiler features. Warnings produced by the use of some deprecated functions from `std::os` can be squelched by explicitly allowing deprecated code. I am unsure, however, if this is what you mean by 'fix warnings'. It seems as though much of the code would need to be rewritten if one is to prefer the use

[2015-03-08 04:37] metajack commented on #5159
We prefer you update the code if it's a deprecated feature and the alternative exists.

Also, contribute away! Lots of these warnings appear after a rust upgrade as it is pretty tedious to do this warning free. Cleaning up is much, much appreciated!

[2015-03-08 04:43] ehegnes commented on #5159
Great! I'll start on updating the deprecated code and post here if I have any further concerns.

[2015-03-08 06:31] wldcordeiro commented on #3734
So this is what I was thinking for the three ScriptMsg enums, I just wanted to confirm which are common and which are local to the MainScriptMsg and WorkerScriptMsg.

[code]

[2015-03-08 06:55] ehegnes commented on #5159
Although I believe this will fix the issue currently, the alpha docs specify changes to functions and types in `std::env` that will eventually require this code to be changed. Specifically, the conversion from OsString to String will be unnecessary (and thus wrong), as `std::env::args()` will contain String types already. I suppose there isn't much to do about that for now, but I felt compelled to

[2015-03-08 07:48] wldcordeiro commented on #3734
I've pushed a commit to my fork, but I'm getting one build error currently. Could I get some help with debugging and/or guidance on what to do.

[2015-03-08 08:36] #5159 closed

[2015-03-08 13:10] cyndis opened #5176 "Incorrect rendering of images with pixels with A = 0 but RGB != 0"
Pixels that have alpha=0 but rgb not equal to zero seem to be rendered incorrectly if there is a background. This is not noticeable with PNGs as it seems that the loader or some code somewhere automatically fixes these pixels, but it is noticeable with GIFs. Adding code that replaces these pixels with (0,0,0,0) pixels fixes the issue. Removing the background attribute from body in the examples bel

[2015-03-08 16:39] jdm commented on #3734
[code]
This isn't valid, since the arguments to the `Common` variant are not types, they are values. Enum variants are only allowed to contain types (such as `WorkerScriptMsg`, or `CommonScriptMsg`). Does that make more sense?

[2015-03-08 16:39] jdm commented on #3734
Oh, I guess you sorted that out on your own. I guess the PR builds now? :)

[2015-03-08 23:39] gereeter commented on #4744
Should this be closed since #4820 landed?

[2015-03-09 01:26] jdm commented on #4744
Yep!

[2015-03-09 01:26] #4744 closed

[2015-03-09 13:57] jasonwilliams200OK commented on #1908
Maybe you can seek some pointers here https://github.com/microsoft/openssl. @khouzam, can you provide some help on the easiest path to build OpenSSL lib for classic and old desktops?

[2015-03-09 14:22] jasonwilliams200OK commented on #1908
BTW, you can try building with VS2013 community version (for academics and open-source projects): https://www.visualstudio.com/en-us/products/visual-studio-community-vs. Rust support is provided by Mozilla herself via their official Nuget package: https://www.nuget.org/packages/Rust/.

[2015-03-09 16:28] #5057 closed

[2015-03-09 16:29] #5120 closed

[2015-03-09 16:55] quix00 commented on #5157
Hey @kmcallister
Would like to work on this bug but based on my observations we will need to update to a newer version of the rust nightly. Should an issue be opened for doing that work first?

[2015-03-09 17:29] khouzam commented on #1908
Thanks for reaching out.

The instructions to build OpenSSL are pretty straightforward. You can look at the latest on https://github.com/openssl/openssl/blob/master/INSTALL.W32

It does require Perl and supports Visual C++, Borland and GCC.

In 3 steps for Visual Studio it would be:
1. git clone https://github.com/openssl/openssl.git
2. perl Configure VC-WIN32 no-asm --prefix=c:/some/openssl/dir
3

[2015-03-09 18:02] #3607 closed

[2015-03-09 18:24] jdm commented on #3678
This was accomplished by the changes that introduced the from_actual casts.

[2015-03-09 18:24] #3678 closed

[2015-03-09 22:50] dmarcos commented on #4784
@jdm I made a bunch of improvements to the implementation:

https://github.com/dmarcos/servo/tree/issue4784

1. I use a typedef CanvasImageSource as stated in the spec as argument for drawImage instead of just HTMLCanvasElement:

https://github.com/dmarcos/servo/blob/865b3e76a75d39f38269a7c36cd0e71b295b5fea/components/script/dom/webidls/CanvasRenderingContext2D.webidl#L9

2. I commented the DrawIm

[2015-03-09 23:17] wldcordeiro commented on #3734
@jdm PR is building! Looks like it's working. :smile:

[2015-03-09 23:35] Adenilson commented on #5093
Loading CNN will have *many* reflow events. Working with the theory that they could be triggered by images, I started with a simple page that has several elements (script, style, p, div, link and an image) and confirmed that the forced reflows are bound to the presence of an image.

The test page: https://gist.github.com/Adenilson/15997c41a37a7ce29e85

What is a bit puzzling is that sometimes ther

[2015-03-09 23:37] Adenilson commented on #5093
Also see #5150 and #5079.

[2015-03-09 23:37] #5079 closed

[2015-03-09 23:42] jdm commented on #4784
a. The only time an exception is thrown is when a provided image element is broken, and that should return Err(InvalidState). The other states should just return Ok(()) without performing any drawing, as I understand it.

b. I think a helper would be a nice improvement in readability. We have a couple other uses in the file that would benefit, too.

[2015-03-09 23:45] jdm commented on #4784
Please do implement the other drawImage calls!

[2015-03-10 00:04] Adenilson opened #5186 "Implement blur filter in Servo"
Test case: https://gist.github.com/Adenilson/5edd7c45e5f33ac48924

[2015-03-10 00:15] #5171 closed

[2015-03-10 00:16] jasonwilliams200OK commented on #1908
That's it! Thank you! :+1:

[2015-03-10 00:24] #1234 closed

[2015-03-10 00:24] #4295 closed

[2015-03-10 07:38] wldcordeiro commented on #5158
I'll take this issue.

[2015-03-10 09:10] saneyuki commented on #5158
@wldcordeiro this already has been taken by @PeterReid.

[2015-03-10 14:20] yodalee commented on #5186
May I try this?

[2015-03-10 14:27] #4153 closed

[2015-03-10 14:57] jdm commented on #5186
I think @Adenilson was planning to work on this.

[2015-03-10 15:13] yodalee commented on #5186
QAQ

[2015-03-10 15:17] jdm opened #5187 "Implement drop-shadow filter"
According to http://mxr.mozilla.org/servo/source/components/style/properties.mako.rs#2621 the drop-shadow filter is still unsupported.

@yodalee, would you be interested in this instead?

[2015-03-10 15:18] jdm commented on #5187
http://dev.w3.org/fxtf/filters/#funcdef-drop-shadow

[2015-03-10 15:20] yodalee commented on #5187
Well sure.

[2015-03-10 16:14] yodalee commented on #5187
I got a question that `drop-shadow` filter takes more parameters, but the current parser seems parse one parameter
https://github.com/servo/servo/blob/master/components/style/properties.mako.rs#L2744
So I think need to write a parse function for drop-shadow?

[2015-03-10 16:47] Adenilson commented on #5186
Yep, I'm working on it.

[2015-03-10 18:05] jdm commented on #5187
Yep!

[2015-03-10 20:06] metajack commented on #5093
Based on @pcwalton's comments, it seems like the discrepancy between 1 and 2 reflows is when the image load completes.

This seems like two bugs in one. The first bug is that loading an image shouldn't necessarily reflow. It's quite possible the size of the image is already known and no layout computation needs to happen.

The second bug is that if the image isn't loaded, and it might reflow, we a

[2015-03-10 20:08] metajack commented on #5093
Or rather, it explains some of the jiggling. Because that title slide has no images and the other ones will all have display: none!

[2015-03-11 00:18] Adenilson commented on #5163
If this one is available, I would like to do it.

[2015-03-11 00:29] pcwalton commented on #5163
I've got a patch to do this already. Will post later today/tomorrow.

[2015-03-11 00:31] Adenilson commented on #5163
Coolio.

[2015-03-11 00:44] Adenilson opened #5191 "Image tag won't respect size attributes"
Using the following  `<img width="100px" height="100px" src="rust.png">` the image won't be resized (the image original size is 1024x1024).

[2015-03-11 00:49] jdm commented on #5191
It looks to me like the layout code should be obtaining the content attributes on the element either before or after processing the related CSS properties (presumably the spec makes clear which order is correct).

[2015-03-11 00:49] Adenilson commented on #5191
![screen shot 2015-03-10 at 5 48 19 pm](https://cloud.githubusercontent.com/assets/959744/6588356/ceb85492-c74d-11e4-9cf1-ef88fb087e74.png)
![screen shot 2015-03-10 at 5 49 10 pm](https://cloud.githubusercontent.com/assets/959744/6588357/cec1f4e8-c74d-11e4-88b6-6f50aa680c54.png)

[2015-03-11 00:49] jdm commented on #5191
ie. we're missing width and height getters for LayoutHTMLImageElementHelpers.

[2015-03-11 00:55] Adenilson commented on #5191
It would be nice to work on this, as it touches DOM and Layout. :-)

[2015-03-11 01:03] jdm commented on #5191
Go for it.

[2015-03-11 05:12] yodalee commented on #5187
I think I need to add a value struct for `drop-shadow` in `style/values.rs`, like the `Angle` of filter `Hue-rotate`

[2015-03-11 05:25] jdm commented on #5187
The spec says that the values are parsed the same as the box-shadow property, so you should be able to reuse those.

[2015-03-11 05:26] yodalee commented on #5187
Yes, I just saw that, now trying to reuse it =w=.

[2015-03-11 14:32] shinglyu commented on #582
Is this related? I got a crash like this:
[code]
[code]

[2015-03-11 14:35] zslayton commented on #2117
I'd like to try my hand at this. Is it currently being worked on?

[2015-03-11 14:47] jdm commented on #2117
@zslayton This task was basically completed, with the exception of dispatching storage events. I'll file a new issue about that in particular.

[2015-03-11 14:47] #2117 closed

[2015-03-11 14:48] jdm commented on #582
Sounds like a different failure than the original one reported, but should definitely be fixed!

[2015-03-11 14:49] jdm opened #5195 "Shim localStorage using a separate SessionStorage instance"
Since localStorage and sessionStorage are both Storage instances, we can easily support localStorage for now by just creating a new Storage instance for it.

Code: http://mxr.mozilla.org/servo/source/components/script/dom/webidls/Window.webidl#131, http://mxr.mozilla.org/servo/source/components/script/dom/window.rs

[2015-03-11 14:54] jdm opened #5196 "Dispatch StorageEvent events to other windows when modifying storage instances"
Spec: https://html.spec.whatwg.org/multipage/webstorage.html#the-storageevent-interface, https://html.spec.whatwg.org/multipage/webstorage.html#send-a-storage-notification, https://html.spec.whatwg.org/multipage/webstorage.html#the-sessionstorage-attribute:send-a-storage-notification, https://html.spec.whatwg.org/multipage/webstorage.html#the-localstorage-attribute:send-a-storage-notification
Code

[2015-03-11 15:36] zslayton commented on #5195
I'd like to work on this.

[2015-03-11 16:13] jdm commented on #5195
Go for it!

[2015-03-11 19:03] jdm commented on #5043
@larsbergstrom Do you know the answer?

[2015-03-11 19:05] jdm commented on #4807
Any update @muscar?

[2015-03-11 19:06] jdm commented on #4968
Any update @srlakhe?

[2015-03-11 19:07] #4906 closed

[2015-03-11 19:07] jdm commented on #4184
Now waiting on #5005 instead.

[2015-03-11 19:08] jdm commented on #4146
@psdh Did you discover anything?

[2015-03-11 19:08] jdm commented on #3959
@ienzam Still planning to work on this?

[2015-03-11 19:22] ienzam commented on #3959
I am extremely sorry for not following up.
I will send a patch in one/two days.

[2015-03-11 19:49] ienzam commented on #3959
Hi jdm, created the patch again.
Sorry for the delay.

[2015-03-11 21:01] psdh commented on #4146
@jdm, This seems to have slipped off my mind. I am not sure if I can attack this very early. Is this urgent?

[2015-03-11 21:04] larsbergstrom commented on #5043
Sadly, I believe we do not cache the Rust snapshots - they are in the build/.servo directory, and the build/ directory is blown away every time. We may want to do something similar to @Manishearth's changes to keep the .cargo directory global (https://github.com/servo/saltfs/pull/19 ) to avoid this problem.

[2015-03-11 21:30] dmarcos opened #5199 "querySelectorAll doesn't work on elements populated via innerHTML assignment"
@jdm Is this a known problem?

I added a test that illustrates the problem in the branch below:

https://github.com/dmarcos/servo/tree/query-selector-all-issue

querySelectorAll returns 0 elements when it should return 2.

To run the test you can do:

`./mach run ./tests/content/test_parentNode_querySelectorAll.html`

A stand alone example can be found below. Gecko returns the result I expect.

ht

[2015-03-11 21:53] jdm commented on #5199
The innerHTML setter is not implemented right now, so this is expected behaviour: #849

[2015-03-11 21:53] #5199 closed

[2015-03-11 21:54] jdm commented on #5043
[code]
from http://build.servo.org/builders/linux1/builds/989/steps/compile/logs/stdio

[2015-03-11 21:54] #5043 closed

[2015-03-11 21:55] jdm commented on #4146
Nope!

[2015-03-11 23:18] mbrubeck commented on #5043
Filed #5200 for caching Rust snapshots outside of the working dir.

[2015-03-12 00:08] zslayton commented on #5195
@jdm, taking an initial look through this it would appear that any instance of `Storage` would send its `StorageTaskMsg`s to that window's lone `StorageTask` instance, e.g:

[code]
 If that's the case, I believe we would need to have a separate `StorageTask` for each of `sessionStorage` and `localStorage`, otherwise all of the values stored would be in a common instance of `StorageManager::data`.

[2015-03-12 01:00] shinglyu commented on #582
Let me create a new issue for that later today

On Wed, 11 Mar 2015 at 22:48 Josh Matthews <notifications@github.com> wrote:

[2015-03-12 03:15] shinglyu commented on #4873
status update: Most of the things are ready, I can now identify if the clicked target is a img element, if it has a `ismap` property, and append the pointer coordinates to the url. The only piece missing is to get the `<img>`'s position and calculate the relative coordinate.

[2015-03-12 03:40] jdm commented on #5195
@zslayton Instead of a separate task, it probably is clearer to add an extra parameter to the messages indicating which type of storage should be used, and have multiple hashmaps in the storage task.

[2015-03-12 05:49] doublec commented on #2108
@jdm, I'd like to work on this if possible!

[2015-03-12 08:33] #2108 closed

[2015-03-12 10:56] narfg opened #5203 "No line break after links"
The following test case
[code]
produces this output:
![outmin](https://cloud.githubusercontent.com/assets/158917/6616350/672dee34-c8ad-11e4-9c2d-24fcfa937924.png)
Instead of a line break after the link, the text is squished to the link and overflows the div. This only happens if the div surrounding the text is just a bit too small for both the link and the first word of the following text.
I notic

[2015-03-12 12:33] #5176 closed

[2015-03-12 16:02] metajack commented on #4915
I found that tests/ref/inline_block_img_a.html is a reduced test case for this. It leaks every flow every time and none of them ever get freed. It has 6 total flows.

[2015-03-12 18:23] JIoJIaJIu commented on #5107
The problem is in the order of defining attributes in struct MouseEventInit from Bindings/MouseEventBinding.rs

When i put initialization in `new` method `parent` lower than `relatedTarget` all worked
How i see:
When MouseEventInit::new works created in stack variables from parent (first in the code), and then from relatedTarget. On drop at first `parent` variables(lexical order?) was called but i

[2015-03-12 18:49] jdm commented on #5107
All of the code in codegen/Bindings is generated by codegen/CodegenRust.py.

[2015-03-12 18:55] Adenilson commented on #5093
Ok, doing some work in another issue, I just stumbled on this:
https://github.com/servo/servo/blob/master/components/script/dom/htmlimageelement.rs#L119

[2015-03-12 20:40] srlakhe commented on #4968
@jdm , sorry won't be able to work on it for a while

On Thu, Mar 12, 2015 at 12:36 AM, Josh Matthews <notifications@github.com>
wrote:

[2015-03-12 20:46] doublec commented on #4181
Is anyone working on this? If not, I'd be keen to try.

[2015-03-12 23:04] jdm commented on #4181
You're welcome to it!

[2015-03-12 23:51] zslayton commented on #5195
@jdm Thanks, I'll do that! This is my first attempt at a non-cleanup patch and I'm not sure I fully grasp how Storage is being instantiated. If I were to create an enum to indicate which storage type to use for each method:
[code]
, how could I get an instance of the appropriate variant into each instance of the Storage class that the Window creates? (Sorry to post this here rather than on IRC, I

[2015-03-13 00:01] jdm commented on #5195
You would add it as an argument to the Storage::new constructor, and store it in a field inside Storage::new_inherited. Then you can pass it as part of each request to the storage task.

[2015-03-13 00:22] doublec commented on #4181
I've implemented the suggested approach of having a view-source handler, and modifying the content type to be text/plain if that is used. It's in doublec/servo@a788bcc3.

The content doesn't render as text/plain though as, I assume from issue #3649, it is not treated specially for rendering. Requesting text/plain content formats it as HTML.

Should I pull request this as is? Or look at implementin

[2015-03-13 00:39] #5158 closed

[2015-03-13 02:42] jdm commented on #4181
If you're willing, implementing text/plain would be great! That check probably belongs in ScriptTask::load for now.

[2015-03-13 02:45] doublec commented on #4181
No worries, I'll get on to text/plain support!

[2015-03-13 03:52] doublec commented on #4181
Is the a spec or a pointer to the way Gecko does text/plain display? Taking your ScriptTask pointer I hacked in a simple "wrap the text in a <pre> element with '<' escaped" to get something working. This lets me at test that the view-source changes I made work. I've put that in doublec/servo@d953da. The following works:

    ./mach run http://cd.pn/x.txt
    ./mach run view-source:http://tinyvid.t

[2015-03-13 08:41] SimonSapin commented on #4181
Dealing with `text/plain` is specified here: https://html.spec.whatwg.org/multipage/browsers.html#read-text

In particular, the HTML tokenizer has a `PLAINTEXT` mode where it just emits the input as text data and never switches mode again.

[2015-03-13 09:56] doublec commented on #4181
Aha, thanks, that clears things up.

[2015-03-13 14:39] jdm opened #5207 "Intermittent WPT reftest failure in /2dcontext/shadows/canvas_shadows_002.htm"
From http://build.servo.org/builders/linux2/builds/998/steps/shell_1/logs/stdio:

[code]

[2015-03-13 14:59] SimonSapin commented on #2853
https://github.com/rust-lang/rust/issues/23338 has a work-around, but happens a lot and gets tedious.

[2015-03-13 17:15] #5165 closed

[2015-03-13 19:02] dmarcos commented on #4595
@jdm I'm hitting the same issue:

`thread '<unnamed>' panicked at 'assertion failed: data.len() as i32 == stride * size.height'`

I have a test case that reproduces the problem (https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/servo/buggetcontext.html)

Changing the CSS display attribute from none to block doesn't seem to work as expected on the canvas element. This is what the platform

[2015-03-13 19:09] jdm commented on #4595
When does the assertion trigger while running that testcase?

[2015-03-13 19:35] dmarcos commented on #4595
This is the full output:

https://pastebin.mozilla.org/8825746

The assertion is triggered when doing:

```canvas.setAttribute('class', 'show');```

and the class show is:

[code]

[2015-03-13 19:44] jdm commented on #4595
Fascinating!

[2015-03-13 19:49] jdm commented on #4595
I guess my first place to start investigating would be what the values at http://mxr.mozilla.org/servo/source/components/layout/display_list_builder.rs#998 are for width and height, and try to figure out where things go off the rails.

[2015-03-13 21:56] bjwbell commented on #3725
@jdm can you close?

[2015-03-14 00:06] #3725 closed

[2015-03-14 13:33] jdm commented on #5038
#5038 is another example of a crashtest-worthy test.

[2015-03-14 13:36] jdm commented on #5038
To implement this, I would just duplicate most of contenttest.rs, but take the bits of reftest.rs that turn on picture output, which will cause the tests to close on their own. Then we also need a new mach command in testing_commands.py.

[2015-03-14 17:19] dmarcos commented on #4595
@jdm This is a tricky one. I might need some of your magic. I'm observing that during the reflow process compute_intrinsic_inline_sizes is always properly called on the canvas:

https://github.com/servo/servo/blob/master/components/layout/fragment.rs#L1236

If I don't change the style at all later in the reflow ```assign_inline_sizes``` is invoked (the inline element version):

https://github.com/

[2015-03-14 17:32] psdh commented on #4146
I have looked at the debugger output, but I am not really sure how to proceed.

[2015-03-14 18:07] jdm commented on #4146
First step is identify the particular failing assertion. Second step is to figure out what part of the test is failing. Third step is to figure out what Rust code is executing. Fourth step is to figure out what should be happening instead :)

[2015-03-14 18:18] jdm commented on #4595
I'm not sure why MDN says `<canvas>` is a block-level element; I can't find any part of the HTML5 spec that backs that up, and Firefox appears to treat it as inline by default.

[2015-03-14 18:20] jdm commented on #4595
Also the dropbox link isn't working now :/

[2015-03-14 18:24] jdm opened #5215 "Improve thread name for page load task"
We get output in the logs like ` 0:19.53 PROCESS_OUTPUT: Thread-TestrunnerManager-4 (pid:45115) "thread 'fetch for Url { scheme: "http", scheme_data: Relative(RelativeSchemeData { username: "", password: None, host: Domain("localhost"), port: Some(8000), default_port: Some(80), path: ["encoding", "resources", "single-byte-raw.py"] }), query: Some("label=asmo-708"), fragment: None }' panicked`. We

[2015-03-14 18:31] jdm commented on #4595
I wonder - if we set `canvas_data.len() / height` as the width for the image at http://mxr.mozilla.org/servo/source/components/layout/display_list_builder.rs#1018, does that avoid this problem? If the block sizing is claiming that the canvas element is as wide as the block container, that would explain the assertion we're seeing.

[2015-03-14 18:37] BlueT opened #5216 "FTBFS: Build failed on Ubuntu 14.04 64bit"
compiling servo with command `./mach build` and got lots of 'undefined reference' error in GrGLPath.cpp and ld error with collec2.

/home/matthew/workspace/servo/components/servo/target/deps/libazure-cc187b961189251d.rlib(r-skia-GrGLProgram.o): In function `GrGLProgram::GrGLProgram(GrGpuGL*, GrGLProgramDesc const&, GrGLUniformManager*, GrGLShaderBuilder::GenProgramOutput const&)':
GrGLProgram.cpp:

[2015-03-14 18:42] BlueT commented on #5216
Full log with the command
matthew@0xB1uE7:~/workspace/servo$ LANG=C ./mach build|tee build.log

https://gist.github.com/BlueT/efc526ec40d9cba14419

[2015-03-14 18:44] jdm commented on #5216
Huh, I have a VM with Ubuntu 14.04 64bit and don't see this :/

[2015-03-14 18:46] BlueT commented on #5216
Any info I can provide to help on debugging this?

BTW, it starts with a
error: linking with `cc` failed: exit code: 1
which seems familiar with this issue? https://github.com/servo/servo/issues/3330

[2015-03-14 18:53] BlueT commented on #5216
this is the verbose version of build log
https://gist.github.com/BlueT/1cecd916ba28c9bb7566

[2015-03-14 19:33] dmarcos commented on #4595
Yup! I mistyped the dropbox URL (I also edited the original comment). This is the correct link:

https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/servo/buggetcontext.html

[2015-03-14 20:29] wenderen commented on #4807
I have a patch ready to go. If this is not being actively worked on, may I PR?

[2015-03-14 20:33] dmarcos commented on #4595
If canvas is a inline element by default the behavior I see is consistent. assign_inline_sizes for inline elements is called by default on the canvas:

https://github.com/servo/servo/blob/master/components/layout/inline.rs#L1137

And the corresponding code for block-level elements is executed when I do ```display: block```

https://github.com/servo/servo/blob/master/components/layout/block.rs#L157

[2015-03-14 20:39] dmarcos commented on #4595
On the display_list_builder I see similar behavior. The branch specific to canvas is never executed after being turned into a block:

https://github.com/servo/servo/blob/master/components/layout/display_list_builder.rs#L998

It looks like the fragment info is modified or lost somehow when the canvas turns to a block.

[2015-03-14 20:48] dmarcos commented on #4595
The problem seems to only affect the canvas. I replaced canvas with an img element and everything works as expected

[2015-03-14 21:00] muscar commented on #4807
@wenderen please make the PR. Unfortunately I didn't have time to work on this. Sorry for the trouble :(

[2015-03-14 21:01] wenderen commented on #4807
Sure, thanks.

[2015-03-14 21:05] dmarcos commented on #4595
I simplified the test case. I don't need to programmatically set the canvas to ```display: block```.
Canvases displayed as blocks don't seem to be rendered correctly:
[code]

[2015-03-14 21:38] jdm commented on #5216
Yeah, I just set up a VM from scratch and saw no errors. I guess I'd suggest making sure that you've installed the prerequisites from README.md, and try `./mach clobber && ./mach build` if that makes no difference?

[2015-03-14 21:43] jdm commented on #4595
It sounds like figuring out where the code paths for canvas and image diverge would be valuable, since they should be treated very similarly afaik.

[2015-03-15 08:03] BlueT commented on #5216
prerequisites are all installed, ./mach doesn't have a command called 'clobber'.

matthew@0xB1uE7:~/workspace/servo$ LANG=C sudo apt-get install curl freeglut3-dev \

Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'ttf-mscorefonts-installer' instead of 'msttcorefonts'
cmake is already the newest version.
freeglut3-dev is already the newest

[2015-03-15 08:22] BlueT commented on #5216
I did a `./mach clean` and build it again, now it build completed. But many functions seems broken.
ex, Ctrl--, Backspace, Shift-Backspace, Esc

Trying to rm -rf, clone, and rebuild again

[2015-03-15 10:14] dmarcos commented on #4595
@jdm My eyes hurt after so many hours on lldb but I think I found part of the problem. This is the patch:

https://github.com/servo/servo/pull/5220

In the line https://github.com/servo/servo/blob/master/components/layout/block.rs#L739 it looks like there's a ```SpecificFragmentInfo::Canvas(_)``` missing. Without it ```is_replaced_content()``` returns false for the canvas element and ```assign_rep

[2015-03-15 12:19] JIoJIaJIu commented on #4957
I'll take it

[2015-03-15 12:52] KiChjang commented on #5196
I just read through the spec, and there's a bit under `sessionStorage` that says "Each top-level browsing context has a unique set of session storage areas, one for each origin."

So if we can figure out `Storage` object *x*'s origin, we can loop through every `sessionStorage` object and check whether its `Storage` object has the same origin as *x*, and if so, send a storage notification to that `

[2015-03-15 18:50] jdm commented on #4957
That would be really great! I'll help in any way I can :)

[2015-03-15 18:51] jdm commented on #5216
Interesting. I wouldn't expect a rebuild to make a different in terms of key input handling, though.

[2015-03-15 18:53] jdm commented on #4595
I'm pretty sure compute_inline_size and compute_block_size are correct as-is - those names are used for clarity when talking about vertical vs. horizontal writing modes, and don't necessarily relate to block vs. inline elements.

[2015-03-15 20:15] #5084 closed

[2015-03-15 22:45] ienzam commented on #1826
Hi, I will like to work on it.

[2015-03-15 23:56] Ms2ger opened #5223 "Generated defineProperty function always calls through to proxyhandler::define_property."
For example (Storage):

[code]

This means setting `localStorage["foo"] = 7;` will call `NamedSetter` as well as define an expando with that name.

Code in Gecko looks rather different; we should figure out what we're supposed to do.

[2015-03-16 00:41] dmarcos commented on #4595
@ I restored ```compute_inline_size``` and ```compute_block_size``` in the PR

What about the change on ```is_replaced_content``` (https://github.com/servo/servo/pull/5220/files#diff-f488bae1b885cd00ad5abe2ebb8631a0L739)

That line is causing the Images and Canvases to be treated differently on ```calculate_absolute_block_size_and_margins```. The size of the canvas is not calculated and the elemen

[2015-03-16 02:13] shinglyu commented on #4873
Hmm... do you think I can reuse the `reflow` code in `script/dom/window.rs`? Or do I have to write the whole thing for my purpose?

[2015-03-16 02:25] mattnenterprise commented on #5215
I would like to take this one. How do I reproduce the output you have above?

[2015-03-16 02:38] dmarcos opened #5224 "Canvas not rendered as a block level element"
@jdm If we set the display attribute to ```block``` the canvas elements are not rendered:

[code]
I have a PR that seems to fix the issue: https://github.com/servo/servo/pull/5220

This simple test case illustrates the problem:

https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/servo/buggetcontext.html

The canvas is not rendered on servo but displayed as you would expect on gecko. I inv

[2015-03-16 02:41] dmarcos commented on #4595
@jdm After rebasing my patch I cannot reproduce the original bug on master.

I don't see the ```'assertion failed: data.len() as i32 == stride * size.height'`` anymore.` The test works just fine. Can you still reproduce?

```./mach run --debug http://localhost:8000/html/semantics/embedded-content/the-canvas-element/2d.canvas.readonly.html```

I opened a separate issue (https://github.com/servo/ser

[2015-03-16 02:56] jdm commented on #4595
[code]

[2015-03-16 02:58] jdm commented on #4595
That's from master, not with your patch applied, by the way.

[2015-03-16 03:02] jdm commented on #5215
@mattnenterprise An easy way to make it reproduce is to add a `panic!()` inside the block at http://mxr.mozilla.org/servo/source/components/script/script_task.rs#1203 .

[2015-03-16 03:05] jdm commented on #4873
You shouldn't need to modify the `reflow` method; you can just create a new layout query and use it like `content_boxy_query` is used.

[2015-03-16 03:07] jdm commented on #1826
@ienzam Great! Let us know if you have any questions.

[2015-03-16 03:40] zslayton opened #5225 "localStorage WPT tests expected to fail"
A number of localStorage WPT tests are presently expected to fail pending a fix to #5223. These include:
- storage_local_setitem_js.html.ini
  - Web Storage 4
  - Web Storage 6
  - Web Storage 7
  - Web Storage 8
  - Web Storage 9
  - Web Storage 10
- storage_local_key.html.ini
  - Web Storage 3
- storage_local_index_js.html.ini
  - Web Storage 3
- storage_local_builtins.html.ini
  - Web Storage

[2015-03-16 05:12] dmarcos commented on #4595
@jdm Can you still reproduce with the patch applied? (https://github.com/servo/servo/pull/5220)

[2015-03-16 05:33] pcwalton opened #5227 "Resizing the window is causing style recalc to occur (incremental layout totally broken)"
We really need tests for this stuff.

[2015-03-16 13:07] jdm commented on #4595
Looks like you have prevented it!

[2015-03-16 16:45] dmarcos commented on #4595
@Do you think we can close this one then?

[2015-03-16 16:51] jdm commented on #4595
Yep!

[2015-03-16 16:51] #4595 closed

[2015-03-16 17:21] ienzam commented on #1826
Two questions

1. How can I test my code?
Do I need to write an integration test here - https://github.com/servo/servo/tree/master/tests/content ?
Or can I write some unit testing somewhere?

2. Where can I get more explanation about JSRef, root(), r() - any design guide or how to use them? I am mostly doing copy paste from existing code.  http://doc.servo.org/ helps a little, but not much :-(

[2015-03-16 17:27] Ms2ger commented on #1826
1. Preferably in https://github.com/w3c/web-platform-tests
2. If <http://doc.servo.org/script/dom/bindings/js/index.html> doesn't explain enough, please throw your questions at me so I can improve that.

[2015-03-16 17:39] #4981 closed

[2015-03-16 19:52] #4915 closed

[2015-03-16 21:05] chris-morgan opened #5230 "Font crash: ™ in Crimson Text Bold"
Minimal document to reproduce:

[code]

Console output:
[code]

I am using 4f32596cc65ee75b700089ebe4c6c5a9789559f6 on Arch Linux, 64-bit.

[2015-03-16 21:24] #5195 closed

[2015-03-16 21:38] BlueT commented on #5216
Seems works now, except Ctrl--.
Characters are square blocks, but that's another bug. thanks.

[2015-03-16 21:38] #5216 closed

[2015-03-16 21:53] nnethercote commented on #4915
I retested after updating and I can confirm the leak is fixed. On the GotG page the "jemalloc-heap-allocated" measurement is bouncing around in the 61--65 MiB range instead of shooting for the moon. Excellent.

[2015-03-16 22:19] nnethercote commented on #4915
I should add: before this fix, "jemalloc-heap-allocated" reached 340--380 MiB as soon as the page finished loading, before even wiggling the mouse at all. So the baseline memory usage is a lot lower as well. Double-excellent.

[2015-03-16 22:57] dmarcos commented on #4784
@jdm I submitted a PR for this that implements ```drawImage``` only for HTML canvas as Image Source:

https://github.com/servo/servo/pull/5231

I was working on HTML image as well as Image Source but realized that the patch was getting too big. I prefer to validate each step before going too far down the rabbit whole. The patch comes with tests:

```./mach run tests/html/test_canvas_drawimage.html

[2015-03-16 23:10] dmarcos commented on #4784
On ```canvas_paint_task.rs``` I included an operation [```DrawImage```](https://github.com/servo/servo/pull/5231/files#diff-3d07e51ce90b1ea2877fb870f957a000R30) that takes the renderer of the source canvas to retrieve the pixels that will be copied on the target canvas. I cannot use this function to the other ```SourceImage``` types (HTMLImage, HTMLVideo) and as far as I know I cannot overload the

[2015-03-16 23:24] jdm commented on #4784
With regards to the operation, I'd probably rename DrawImage to DrawCanvasImage in the future when the distinction is necessary. As for the clipping question, that does sound like Gecko is doing something wrong. We should probably get a test into https://github.com/w3c/web-platform-tests/ about that if one doesn't already exist.

[2015-03-16 23:32] mschroeder commented on #4468
Please, can you assign me this issue?

[2015-03-16 23:36] jdm opened #5232 "Support more console information log levels"
Currently we support sending Console::Log messages to the attached developer tools. We should send the messages from the other methods in Console as well - http://mxr.mozilla.org/servo/source/components/script/dom/console.rs#34 . Additionally, we can refactor the `ConsoleMsg` type to be a structure containing the extra fields, and add a new enum for just the logging level - this will avoid duplica

[2015-03-16 23:37] jdm commented on #4468
There was someone on IRC who was looking into this today, so I'm hesitant to hand it off right now.

[2015-03-17 01:02] nnethercote opened #5234 "Huge memory spikes when quitting due to flood of `Quit` events"
This is something that came up in #4915, though that PR ended up being about a flow tree leak.

When quitting, sometimes there is an enormous flood of `Quit` events -- I've seen them in the millions -- and the mpsc_queue becomes enormous. Example data from Massif:
[code]
and from Servo's own memory profiler:
[code]
I can reproduce reliably on the Guardians of the Galaxy Wikipedia page from servo-s

[2015-03-17 01:09] jdm commented on #5234
So presumably it's the handler for WindowEvent::Quit in http://mxr.mozilla.org/servo/source/components/compositing/compositor.rs#842 ? Seems odd to me.

[2015-03-17 01:12] jdm commented on #5234
Oh, I bet http://mxr.mozilla.org/servo/source/ports/glutin/window.rs#286 is triggering over and over.

[2015-03-17 01:20] jdm opened #5235 "Make PipelineId a pair of PipelineId and Option<SubpageId>"
This would conceivably allow us to move all subpage-related modification out of script and into the constellation, where it arguably belongs.

[2015-03-17 01:22] jdm opened #5236 "Content frame tree architecture improvements"
This is the metabug to aggregate potential avenues for improving the content tree architecture (ie. Page, browser contexts, navigation in script/; FrameTree, PipelineId in compositing/).

[2015-03-17 01:22] jdm commented on #5235
Blocks #5235.

[2015-03-17 01:24] zslayton commented on #5196
I'm going to be traveling for the next week or so, but if this is still unclaimed when I return I'd love to work on it.

[2015-03-17 01:26] jdm opened #5237 "Consolidate all concepts of loading/navigating in top-level and child contexts"
I think there's value in implementing page navigation in a browsing context-agnostic fashion. I want the script task to be notified of a navigation for a particular pipeline, and hide all the details of whether it's an iframe being navigated.

Blocks #5236.

[2015-03-17 01:28] jdm opened #5238 "Make BrowserContext spec-compliant"
In practical terms, this means the frame tree on the script side should consist of BrowserContext values, with navigations causing the active document to be replaced. Any concept of a bfcache in the script task should store Document pointers.

Blocks #5236.

[2015-03-17 01:34] jdm opened #5239 "Make same-origin navigations use the same script task"
This yields better resource conservation, and is important for iframe navigation spec-compliance in particular.

Blocks #5236.

[2015-03-17 01:35] frewsxcv commented on #5235
I'll take a stab at this right now

[2015-03-17 01:37] glennw commented on #5235
I was thinking something like:

[code]

And then have the HTMLIFrameElement code be the one that generates the unique pipeline id, since that would simplify a number of other things in the future.

@jdm does that sound reasonable to you? It might hit an unforeseen roadblock, but it sounds like that could work.

[2015-03-17 01:37] jdm commented on #5239
Relevant code: Constellation::handle_load_url_msg.
Currently we always create a new script task (see the None argument to new_pipeline). We want to use the same heuristic as handle_script_loaded_url_in_iframe.

[2015-03-17 01:39] jdm commented on #5235
@glennw So the iframe would get the window id from the window, and create the new subpage id? That sounds reasonable to me.

[2015-03-17 01:43] glennw commented on #5235
Yes, the window_id would be set once on each window creation, and the window would contain the subpage counter (as it does now) which the iframe would query/increment.

[2015-03-17 01:44] jdm commented on #5239
Oh, this isn't as easy as I suspected at first. This task basically involves adapting the AttachLayout message that the constellation sends to script - currently it's only used for a new iframe being added to a page. We want the constellation/script task to support the following cases:
* adding a new iframe
* replacing an existing iframe's contents
* replacing a top-level document

[2015-03-17 01:45] jdm opened #5240 "Support synchronous loads of about:blank"
The way this interacts with the general architecture improvement for content navigation is unclear, but building this is from the ground up would be valuable.

Blocks #5236.

[2015-03-17 01:58] jdm opened #5241 "Make SubpageId values stable"
It doesn't make sense that a navigation in an iframe should yield a new subpage id - a new pipeline id uniquely identifies that page, and if the subpage id doesn't change then we can refer to the subpage contained within the page with a particular pipeline id. This might end up tying back to #5238; @glennw said that the implementation of finding the framing element and/or the framed document gets

[2015-03-17 01:59] dmarcos commented on #4784
There's a bug filed against gecko(https://bugzilla.mozilla.org/show_bug.cgi?id=951409). When passing negative numbers as the source image coordinates it should not throw an exception. It seems we're doing the right thing on this patch.

[2015-03-17 02:01] jdm opened #5242 "Add references to cross-origin script tasks to the page tree"
When we have a cross-origin iframe, the page tree should contain a reference to its event loop, along with uniquely-identifying features. This will allow the implementation of APIs like postMessage, and set the stage for the implementation of #3939.

Blocks #5236.

[2015-03-17 02:05] glennw opened #5243 "is_ready_to_paint_image_output can easily return true erroneously when under CPU load"
This function tries to determine when it is safe to save a screenshot for reftests. However, it depends on other tasks setting state and sending messages to the compositor.

It's quite easy for this to return an incorrect value when the CPU is under load.

We need a better way to detect when it is safe to save a reftest screenshot.

[2015-03-17 02:35] nnethercote commented on #5234
Yes and yes.

[2015-03-17 03:08] jdm opened #5247 "Layout/paint workers appear to grow without bound as iframes increase"
There's a test enabled by #5025 which adds 27 new iframes to a page in rapid succession. These all make load pages and kick off layout, and we rapidly run out of resources to spawn new tasks. It sounds like we need some kind of thread pool to avoid resource exhaustion like this.

[2015-03-17 03:30] #5215 closed

[2015-03-17 05:03] #5234 closed

[2015-03-17 09:24] Ms2ger commented on #5240
FWIW: <https://github.com/servo/servo/compare/master...Ms2ger:empty-iframe-load>

[2015-03-17 10:11] doublec commented on #4861
#4860 is now closed, but #4617 is marked as blocked on external. What is it blocked on? Is it the RootedVal mentioned in the critic review?

[2015-03-17 13:18] jdm commented on #5240
My related exploratory work was https://github.com/jdm/servo/commit/e8aa1e10c3be1de6aeaee7c5a4ddb50e94f97b81.

[2015-03-17 13:21] jdm commented on #4861
Yep.

[2015-03-17 14:00] #4181 closed

[2015-03-17 14:09] jdm commented on #1980
I propose a simple implementation where a `mutation_observers` vector is added to `Node`, and they get notified every time `Node::insert`, `Node::replace_all`, `Node::remove`, `Element::do_set_attribute`, and `Element::remove_attribute` are called. For subtree observers, this will require checking the ancestors of mutated nodes as well.

[2015-03-17 16:02] Ms2ger commented on #5157
That's underway.

[2015-03-17 17:19] hsvalava commented on #5232
I see what you're saying, I had the same idea when we added fields to LogMessage. Sure, we can take this up. Thanks!

[2015-03-17 17:32] Adenilson commented on #4731
The missing step is implemented on #5209.

[2015-03-17 18:16] Adenilson commented on #5093
I have a question… is the layout non deterministic? I’m seeing some different results while running servo (e.g. concerning the display lists).

For this page https://gist.github.com/Adenilson/850bc5260b2fcd218c9e

I faced this https://gist.github.com/Adenilson/d3e7b1556eb109db6121
and this https://gist.github.com/Adenilson/3b9a23348bdb59bcab2d
(the later one is less frequent).

Can the display lis

[2015-03-17 18:19] SimonSapin commented on #5093
Non-determinism in end results (as opposed to just scheduling) smells like bugs.

[2015-03-17 18:21] Adenilson commented on #5093
That being said, what is consistent is 2 reflow events at startup (FirstLoad, WindowResize) e.g. running with -Z relayout-event.

And when there is  single image in the page, 2 other events (ReceivedReflowEvent + ReceivedReflowEvent).

[2015-03-17 18:25] jdm commented on #5232
Fantastic :)

[2015-03-17 19:00] cojennin commented on #5227
Do you have some suggestions for how to model/implement these tests? I'd like to take a shot at writing a few.

[2015-03-17 19:27] kmcallister commented on #2853
html5ever is hitting rust-lang/rust#23407

[2015-03-18 00:52] gilles-leblanc commented on #4476
I'd like to work on this please.

[2015-03-18 02:46] mattnenterprise commented on #2587
I would like to give this one a try.

[2015-03-18 04:17] jdm commented on #2587
Go for it!

[2015-03-18 04:21] jdm commented on #4476
Please do :)

[2015-03-18 05:03] #4508 closed

[2015-03-18 10:56] Ms2ger opened #5258 "Script for/event attributes should only be considered if they're both present."
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#prepare-a-script> (step 12).
* Code: `components/script/dom/htmlscriptelement.rs`.
* Test: `html/semantics/scripting-1/the-script-element/script-for-event.html`.

[2015-03-18 17:19] jdm commented on #3621
This was fixed.

[2015-03-18 17:19] #3621 closed

[2015-03-18 17:20] jdm commented on #3247
Note: I've disabled the WPT tests /workers/interfaces/WorkerUtils/importScripts/{004,005,006}.html for this reason.

[2015-03-18 20:03] kmcallister opened #5260 "Abstract reftests"
Instead of dumping an image, write out every DOM node's client rects. We can also implement this as a Firefox extension; then we can test Gecko vs. Servo layout without some of the pitfalls mentioned in #1768. Applications:
- Automatically reduce a page's HTML / CSS (see servo/html5ever#5) to determine why the layout is wrong in Servo.
- Track metrics on layout correctness for the top N websites (

[2015-03-18 20:59] metajack commented on #2853
rust-lang/rust#23488 prevents us from having good performance monitoring on linux
and
rust-lang/cargo#1432 prevents us from setting debug=true to work around the problem

[2015-03-18 21:17] Adenilson opened #5263 "Rounding error on DisplayList items while dumping geometric information"
== How to reproduce ==

Run servo with: ./mach run -Z dump-display-list http://www.wikipedia.org

== Expected Result ==

Some DisplayList items will have fractional size/position e.g.
"####" SolidColor. Rect(45.916667px×15.583333px at (55.033333px,3.9px))"

== Further info ==

Has being identified by servo team last week.

[2015-03-18 21:18] Adenilson commented on #5263
@pcwalton and @larsbergstrom FYI.

[2015-03-18 21:40] jdm opened #5264 "Add codegen support for conditional interfaces based on --experimental"
Not only will this allow us to prevent DOM-related experiments leaking, but in the future we could launch a shell with --experimental and subsequent content processes without.

[2015-03-18 21:48] Adenilson commented on #4731
As #5209 has landed (and considering that -Z dump-flow-tree is implemented), I think we can close this issue.

[2015-03-18 21:48] #4731 closed

[2015-03-18 22:55] agilob commented on #3854
It works here.

[2015-03-19 00:39] jdm commented on #3854
Great!

[2015-03-19 00:39] #3854 closed

[2015-03-19 00:48] #3713 closed

[2015-03-19 07:43] Ms2ger opened #5273 "Move back to enums in jsval.rs."
https://github.com/servo/rust-mozjs/pull/137
https://github.com/rust-lang/rust/issues/23304

[2015-03-19 08:14] KiChjang commented on #5258
I'll take a look into this.

[2015-03-19 10:22] kaksmet opened #5275 "'arithmetic operation overflowed' on dn.se"
Servo panics on http://dn.se/ with the following console output:

[code]

[2015-03-19 13:12] jdm commented on #5275
Thanks for finding this! http://mxr.mozilla.org/servo/source/components/util/deque/mod.rs#304 calls mxr.mozilla.org/servo/source/components/util/deque/mod.rs#394 with a delta of -1, and the comment right above explains how this used to work with wrapping arithmetic. Should be an easy replacement of wrapping_add.

[2015-03-19 13:56] shinglyu commented on #4873
This is what I've done so far: https://github.com/shinglyu/servo/blob/ismap/components/script/dom/htmlanchorelement.rs#L140

Am I on the right direction? I wonder what this `content_box` is? The `min_x` and `min_y` is always 0 in my [simple test case](https://github.com/shinglyu/servo/blob/ismap/tests/html/test_img_ismap.html).

[2015-03-19 13:58] #3885 closed

[2015-03-19 14:49] jdm commented on #4873
content_box_query is a query that just figures out the width and height of a element on a page. I meant that it should be a model for another query that figures out the x and y coordinates for an element.

[2015-03-19 14:57] jdm commented on #4873
In particular, the call to union rects in http://mxr.mozilla.org/servo/source/components/layout/layout_task.rs#1146 would cause the origin to never shift.

[2015-03-19 15:57] shinglyu commented on #4873
Cool, I'll start writing the new layout query

On 2015年3月19日週四 下午10:57 Josh Matthews <notifications@github.com> wrote:

[2015-03-19 16:24] #5275 closed

[2015-03-19 17:06] jdm commented on #4873
Actually, you might be able to make the content box query do this work by making it store an Option<Rect> and initialize it to the first one, rather than unioning with Rect::Zero. That would make the origin be set correctly.

[2015-03-19 17:33] jdm opened #5279 "Can't click buttons on Facebook"
STR:
1) visit facebook.com or m.facebook.com
2) type in login credentials
3) try to click log in button or press enter

We should figure out what's going wrong here.

[2015-03-19 17:34] jdm commented on #5279
At least on m.facebook.com it's an `<input type="submit">`.

[2015-03-19 19:40] glennw commented on #5279
This *might* be caused by https://github.com/servo/servo/pull/5270

[2015-03-19 20:45] metajack commented on #4957
@JIoJIaJIu How's this going so far?

[2015-03-20 01:24] kmcallister commented on #5260
We can do this inside any engine by injecting some JavaScript:

[code]

[2015-03-20 01:24] kmcallister commented on #5260
This approach also supports fuzzy matching and intelligent test case reduction.

[2015-03-20 01:37] nnethercote opened #5283 "Move the profilers into their own crate and rename lots of related things"
The time and memory profilers are currently in the `util` crate, which isn't a great place for them, both logically and w.r.t. compile times. I'm proposing a crate/module rearrangement, and also a bunch of renamings for names that are currently annoyingly long. I'm putting it up for comment before I go to the effort of making all the changes.

Basically...

- Add a new crate, `prof`, which has two

[2015-03-20 01:52] gilles-leblanc commented on #4476
I started working on this and I am making progress. Just a head's up, this one requires more code to be pulled into the new traits crate than the previous ones.

[2015-03-20 03:34] mattnenterprise commented on #2587
@jdm What do you think about using [https://github.com/alexcrichton/flate2-rs](https://github.com/alexcrichton/flate2-rs)? It supports both gzip and deflate, which look like the main types of compression that are used.

[2015-03-20 03:41] jdm commented on #5283
I'd prefer the longer `profile` crate name, and probably the full word in the type names too. `heap_size_of_reachable`, perhaps? `heap_size_of_owned`?

[2015-03-20 03:45] jdm commented on #2587
I'm all for reusing other people's work.

[2015-03-20 03:48] jdm opened #5285 "WPT tests occasionally complain that they can't fork"
[code]

[2015-03-20 05:40] JIoJIaJIu commented on #4957
Im working on it)

[2015-03-20 10:39] Ms2ger opened #5286 "Tracking: Unstable Rust feature gates used by Servo"
Servo uses some unstable Rust features.

## Required

* Some have a clear path to stabilization and are being worked on:
  - [ ] const_fn (rust-lang/rust#24111)
    Note that `min_const_fn` is not sufficient for us: https://github.com/rust-lang/rust/issues/53555#issuecomment-418755997
  - [ ] register_tool (https://github.com/rust-lang/rust/issues/66079)
* Others are more problematic. They’re not

[2015-03-20 12:01] SimonSapin commented on #5286
I believe `env` is stable with the latest Rust upgrade.

[2015-03-20 12:02] SimonSapin commented on #5286
So is `hash`.

[2015-03-20 15:03] #1871 closed

[2015-03-20 16:16] dmarcos opened #5290 "Implement CanvasRenderingContext2d.drawImage fo HTMLImage as ImageSource"
@jdm Is it ok if I work on this as a follow up of https://github.com/servo/servo/issues/4784?

[2015-03-20 17:56] SimonSapin opened #5291 "Move unit tests to dedicated crates"
Running `rustc --test` on a large crate (which is what `mach test-unit` currently does, through `cargo test`) often takes as much time or more as building the crate in the first place. This is especially silly for crates that happen to not have any unit tests.

By moving the unit tests we do have and disabling `rustc --test` on "normal" crates, we should be able to reduce the build+test time signi

[2015-03-20 18:53] Ms2ger opened #5292 "Use std::net in devtools."
http://logs.glob.uno/?c=mozilla%23servo#c188347

[2015-03-20 20:24] jdm opened #5294 "Move devtools TCP acceptor into a separate thread"
We have code in devtools/lib.rs that runs an event loop that watches for events from many sources. One of these sources is the TCP server that's waiting for connections. Right now we block on it for 300ms (see the set_timeout calls), and then poll the other event sources. We should make a dedicated thread for this server, then send an event to the main event loop with the new stream object when a

[2015-03-20 20:24] jdm commented on #5294
The devtools server can be tested using `./mach run --devtools 6000 tests/html/about-mozilla.html`.

[2015-03-20 20:27] jdm commented on #5290
Of course!

[2015-03-20 20:59] jdm opened #5295 "Automated reftest creator"
[code]

[2015-03-20 21:48] metajack commented on #5077
This was fixed by #5170.

[2015-03-20 21:48] #5077 closed

[2015-03-21 00:38] ienzam commented on #1826
Hi, is there a way to test quickly?

My current workflow is:
1. Added one test file in tests/content
2. Edit code at components/script/dom/node.rs
3. Run
    ./mach test-content
4. Repeat from 2.

It is taking a lot of time for building servo. Is there a faster way?

[2015-03-21 02:29] gilles-leblanc commented on #4476
You mention the implementation of the loaders as being independent. Actually they are used by ```resource_task.rs``` which is in turn exposed as a type of one of the fields of ```ImageCache``` and also used in ```ImageCacheTask```, ```new``` and ```new_sync``` methods which are used outside of net (in gonk and components/servo) which had to be exposed.

I'm currently at the point where I would nee

[2015-03-21 03:54] KiChjang commented on #4576
Is anyone working on this? I'd like to try this one out if not.

I'm guessing I will have to refactor `script/cors.rs` into a new file called `fetch.rs`, along with new `fetch` functionality, yes?

[2015-03-21 15:45] pyfisch commented on #4246
@Manishearth This is fixed on hypers side.

[2015-03-21 17:41] snf commented on #5196
I'm working on this. I hope can submit the EventStorage interface implementation later.

[2015-03-21 18:41] jdm commented on #4576
@KiChjang This would be a great project for you to take on :) @Manishearth has the details, since he did the initial work, but he has a million other things to work on.

[2015-03-21 18:53] jdm opened #5304 "Calcuation for viewing source in http_loader.rs could be clearer"
Currently we have
[code]
We should just assign viewing_source based on the initial condition, and branch on viewing_source being true on the following line.

[2015-03-21 19:06] jdm opened #5305 "Make Actor::handle_message take &str instead of &String"
`&String` arguments don't really make sense from a performance perspective, and they result in uglier code when matching.

[2015-03-21 19:13] jdm commented on #4476
Thanks for doing that investigation! The way I usually break these tasks down is by starting with the list of dependencies from http://mxr.mozilla.org/servo/search?string=use%20net%3A%3A - it's the dependencies for script/, layout/, and gfx/ that we really want to break. Things like ResourceTask, ControlMsg, ImageCacheTask, and LocalImageCache task will need to be moved; it's possible that all of

[2015-03-21 19:23] jdm commented on #1826
You can run individual content tests, but there's no faster way to rebuild after making changes, unfortunately.

[2015-03-21 19:24] jdm commented on #1826
`./mach test path/to/test/file.html` will run the appropriate test harness on the provided file.

[2015-03-21 19:43] Manishearth commented on #4576
Yeah, you can work on this :) I really wanted to work on this but as Josh said I have a million other things to do.

I personally would wait for @jdm's async net changes to land, but you can incrementally implement most of Fetch beforehand, especially the little bits and pieces like `is_simple_method()`, `is_simple_header()` (and all of the stuff like redirect handling, etc). You can also just go

[2015-03-21 20:11] Manishearth commented on #4576
(Oh, also, you can reuse the existing code in `net::fetch`, or just rewrite it, either works :) )

[2015-03-22 00:23] cojennin commented on #5203
I'm unable to recreate this issue when building with [latest commit](https://github.com/servo/servo/commit/87af57cefc671f445c5b977f2b27d7ca9e70e390).

I was able to recreate this issue a few days ago with an older build. In order to recreate the issue I had to change the font-family from using Verdana in tests/html/acid1.html.

[2015-03-22 00:32] jdm opened #5309 "Add a devtools_chan method to GlobalRef"
We want to make it possible to retrieve the appropriate sender for the devtools task from any window or worker global. This should remove the need to match on the specific global type in the worker constructor.

cc @thiagopnts

[2015-03-22 00:33] jdm opened #5310 "Make the worker event loop watch the devtools receiver for new events"
We'll need to make the dedicated worker event loop move to a select! model like the ScriptTask event loop. This will also require storing the receiver that's created in the worker constructor.

cc @thiagopnts

[2015-03-22 00:35] frewsxcv commented on #5235
FYI, I didn't feel I have the knowledge to complete this right now, so I'm no longer working on it

[2015-03-22 00:55] frewsxcv commented on #5305
I'll take care of this

[2015-03-22 01:53] frewsxcv commented on #5304
I'll take care of thsi

[2015-03-22 02:15] frewsxcv commented on #4627
I don't know how the  `basic.list` parsing works, but what about creating a way to have only certain tests run on unix or windows?

[2015-03-22 02:47] Manishearth commented on #4627
You could perhaps filter filenames for `nowindows`, but it still makes the repo uncloneable (? not sure)

[2015-03-22 11:47] narfg commented on #5203
Hmm, I'm still able to recreate the issue with the latest commit. Is there a way to create a test case that is independent of the font?

[2015-03-22 15:34] jdm opened #5313 "Use hardware scancodes for text input"
We might be able to piggyback off of the work from https://github.com/rsaarelm/calx/blob/a332c59dde7425b8a1e7bdac535d0cfd7c15f760/backend/src/scancode_macos.rs, https://github.com/rsaarelm/calx/blob/a332c59dde7425b8a1e7bdac535d0cfd7c15f760/backend/src/scancode_linux.rs, and https://github.com/rsaarelm/calx/blob/a332c59dde7425b8a1e7bdac535d0cfd7c15f760/backend/src/scancode_windows.rs to make text i

[2015-03-22 15:45] frewsxcv commented on #4846
Scrolling is working correctly for me on OSX, can anyone else confirm?

[2015-03-22 18:36] frewsxcv opened #5315 "Document::Title and Document::SetTitle do not yet support root SVG Namespace"
There are specific rules for how to handle these methods when working with a root SVG namespace. From what I understand of this code, it doesn't look like we currently do the right thing.

[Relevant code](https://github.com/servo/servo/blob/5e4d80fa3a291c77879c9798329410eb87b4a344/components/script/dom/document.rs#L1108-L1165)

[Relevant portion of the spec](https://html.spec.whatwg.org/#document.

[2015-03-23 01:28] frewsxcv opened #5320 "OSX trackpad scrolling is too sensitive"
When browsing on OSX and scrolling with the trackpad via two-finger scrolling, I've noticed the sensitivity feels way to high and it only takes me a few millimeters of finger-trackpad movement to take me flying across the page. From what I've seen, it looks like there's no central way to change the sensitivity of the trackpad scrolling for apps in OSX, so this might just require a change to a cons

[2015-03-23 02:16] jdm commented on #5320
Agreed. This is almost certainly something that requires changing in glutin: https://github.com/tomaka/glutin/blob/master/src/cocoa/mod.rs#L303

[2015-03-23 02:21] jdm commented on #5320
I wonder if this text from [the docs](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSEvent_Class/#//apple_ref/occ/instm/NSEvent/scrollingDeltaY) is relevant:
[code]
I also can't figure out the relationship between scrollingDeltaY and deltaY: https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSEvent_Class/#//

[2015-03-23 02:21] jdm commented on #5320
Then again, perhaps it's just our code in http://mxr.mozilla.org/servo/source/ports/glutin/window.rs#183 that needs to change.

[2015-03-23 03:22] jdm opened #5322 "Store a map of eTLDs to script tasks in the constellation"
This will allow us to avoid spawning a new script task per cross-origin iframe if the iframes share the same eTLD.

Blocks #5236.

[2015-03-23 03:25] jdm commented on #5322
This requires making decisions about what happens when navigating a browsing context to a new origin for which there is an existing script task. The current script task code only understands a single root page; if there's no relationship between new newly-navigated context and the existing root page, it could get ugly.

[2015-03-23 08:49] nwin commented on #4846
It is correct now.

[2015-03-23 08:49] #4846 closed

[2015-03-23 14:22] shinglyu commented on #4873
1. What does the "first one" mean?
2. I tried my best, but still can't understand this "union with Rect::Zero" thing. What is the purpose of this `UnioningFragmentBorderBoxIterator`?  Is the fragment border box related to [this](http://dev.w3.org/csswg/css-break-3/)?

Thanks!

[2015-03-23 14:57] frewsxcv commented on #5320
Should this issue have the `P-mac` label instead of the `A-mach` label? :P

[2015-03-23 15:43] jdm commented on #5320
Ha, yes.

[2015-03-23 15:49] jdm commented on #4873
There are two parts to the `FragmentBorderBoxIterator` type - one is the method that is called for each matching fragment, and the other is the method that is called to decide if a fragment matches. By the "first one", I mean the rectangle that is retrieved the first time a matching fragment is found. `UnioningFragmentBorderBoxIterator` is used to find the union of all of the rectangles of the fra

[2015-03-23 16:49] pcwalton opened #5325 "Consider attempting to rerasterize when pinch zooming"
Seems to me that there's little harm in attempting to rerasterize when pinch zooming, since it happens in a background thread pool. It might be too slow, depending on how complex the page is, but if it is then we can just fall back to rendering a blurry page. We already have similar code that attempts to rasterize when scrolling and only renders checkerboards if it's too slow, so we could just ado

[2015-03-23 16:50] pcwalton commented on #1980
Now that we have userscripts, this should be the last missing piece blocking integration of canvg for SVG support.

[2015-03-23 20:30] jdm opened #5329 "Document why calls to methods like force_relayout are required"
For htmltextareaelement.rs and htmlinputelement.rs, it's not always clear at first glance why we need to explicitly mark the node as dirty and force a reflow to take place. We should document these reasons.

[2015-03-23 21:00] Adenilson opened #5330 "Draw a placeholder when loading an image fails"
We should display a placeholder for an image that failed to load (e.g. <img src="broken_link_wont_load.png">).

Probably the ImageCache could store this default placeholder and return it in case the URL failed to load.

[2015-03-23 21:39] #5305 closed

[2015-03-23 22:07] jdm opened #5331 "Add profiling to the script event loop"
Sometimes there are really big backlogs for the script event loop, according to @nnethercote. It would be valuable to have some kind of script task profiler that categorizes events and can show where the time is being spent.

[2015-03-23 22:14] jdm commented on #5331
Here's my plan:
* make an enum in ScriptTask with all of the possible classifications
* add the enum as an argument for RunnableMsg, to force any Runnable users to categorize their runnables
* pass each about-to-be-processed event to a categorization function
* store the category and current time in locals
* processing the event, then get the difference between the stored time and the current time

[2015-03-23 22:24] jdm commented on #5331
This should also be gated behind a debug command line arg: http://mxr.mozilla.org/servo/source/components/util/opts.rs#134

[2015-03-23 22:30] #5304 closed

[2015-03-24 02:58] saneyuki commented on #5329
@jdm Josh, is this a your reminder? (implicitly assigned to you?)

[2015-03-24 03:02] jdm commented on #5329
Yes, unless anybody else wants to.

[2015-03-24 05:11] ChrisParis opened #5336 "ReplaceChild in DOM misses mutation records when replacement is a DocumentFragment"
ReplaceChild doesn't handle DocumentFragments right. If we replaceChild where the new node is a DocumentFragment containing `<div id="foo"></div>`, then a subsequent getElementById("foo") will not find the node. The spec looks wrong to me. In http://dom.spec.whatwg.org/#concept-node-replace, Steps 12-13 queue mutation records for the children of the DocumentFragment, but the insert in Step 11 woul

[2015-03-24 05:54] #4968 closed

[2015-03-24 05:55] jdm commented on #4468
@mschroeder I haven't heard anything further, so you would be welcome to tackle this if you're still interested.

[2015-03-24 05:56] #3959 closed

[2015-03-24 05:56] #4807 closed

[2015-03-24 07:49] yodalee commented on #5187
Sorry jdm, since I'm stuck on another issue, so I give this issue to @shinglyu. Is that OK?

[2015-03-24 08:37] Ms2ger opened #5340 "Panic during panic causes huge memory spike"

[2015-03-24 09:10] pkondzior commented on #5331
I have two questions:
1. Is HashMap with categorization value as Key and total profile time spent as Value appropriate here ?
2. How often profiler should report informations stored in ScriptTask profiler data ?

[2015-03-24 12:44] jdm commented on #5187
Sure!

[2015-03-24 12:51] jdm commented on #5331
Yes, I think a hashmap makes sense, and having it report every 10 seconds sounds sensible to me.

[2015-03-24 13:24] shinglyu commented on #4873
OK. So let me rephrase it to check my understanding.

The purpose for the `context_box_query` is to get the width and height of an element. To do so, the layout task need to create a `Unioning FragmentBorderBoxIterator` with the requested node as parameter. Then the `sequential::iterate_through_flow_tree_fragment_border_boxes` will be called, which will iterate through the fragments and calculate

[2015-03-24 13:29] annevk commented on #5336
Could you file an issue against the DOM standard? It seems like those steps need to be reversed.

[2015-03-24 13:35] jdm commented on #4873
Yes, the border box is the bounding box as far as I know. Match in this case means the rectangle that is passed to the `process` method of UnioningFragmentBorderBoxIterator, since `should_process` ensures that only rectangles that make up the fragment are processed.

[2015-03-24 14:46] pkondzior commented on #5331
Ok, I will take this task.

[2015-03-24 15:03] jdm commented on #5331
Fantastic :)

[2015-03-24 16:33] mschroeder commented on #4468
@jdm I'm still interested, so please assign it to me.

[2015-03-24 17:09] dmarcos commented on #5085
@jdm I see this error when running ./mach test-wpt. I'm on OSX (10.10.2)

[2015-03-24 17:15] dmarcos commented on #5085
I think is a regression introduced by https://github.com/servo/servo/commit/c6ab60dbfc6da7b4f800c9e40893c8b58413960c

[2015-03-24 17:18] dmarcos commented on #5085
Everything works fine on https://github.com/servo/servo/commit/203240c1d82b780ce49261d8b47e6cbe6af50950 (parent of https://github.com/servo/servo/commit/a8553c36064f336fb3e2b0ab4e62a19ced8561f6)

[2015-03-24 18:33] jdm commented on #5085
You'll need to remove the _virtualenv directory in tests/wpt.

[2015-03-24 18:51] kmcallister commented on #5260
I have a demo of the above in PhantomJS and I'm working with @Manishearth to implement the Servo side with the new "user scripts" option.  Then we should be set for automated, headless testing \o/

[2015-03-24 18:53] dmarcos commented on #5085
@jdm Thanks. I can run them now

[2015-03-24 19:20] #5085 closed

[2015-03-24 22:49] mbrubeck opened #5347 "Intermittent failure in tests/ref/iframe/hide_layers2.html"
This reftest fails pretty often on my Linux machine.  When it fails, the rendering is all white.

[2015-03-24 22:53] jdm commented on #5347
cc @glennw

[2015-03-24 23:24] frewsxcv commented on #5081
I'm able to navigate to Wikipedia with the current master, can this be closed?

[2015-03-24 23:45] #5294 closed

[2015-03-25 00:20] glennw commented on #5347
See https://github.com/servo/servo/issues/5243

[2015-03-25 01:56] gilles-leblanc commented on #4476
I started again with the link you gave me starting at the top of the list, taking everything one step at a time, doing one commit per dependency to extract in a new branch.

I'm doing script/, layout/, and gfx/ only for now.

Things are going more smootly now, thanks!

[2015-03-25 03:13] kmcallister commented on #849
This is fixed by #4888 \o/

[2015-03-25 03:13] #849 closed

[2015-03-25 03:38] ChrisParis commented on #5336
Issue filed. https://www.w3.org/Bugs/Public/show_bug.cgi?id=28330

[2015-03-25 04:26] jdm commented on #5081
What operating system are you using?

[2015-03-25 04:27] frewsxcv commented on #5081
OSX 10.10

[2015-03-25 05:00] #4964 closed

[2015-03-25 05:01] #4965 closed

[2015-03-25 07:01] jdm opened #5352 "Make the MozBrowserEvent message take an enum instead of String + Option<String>"
This is both the one in ConstellationControlMsg and the other in constellation_msg::Msg. Type-safe interfaces are always preferable; the dispatch_mozbrowser_event method in htmliframeelement.rs can convert from the enum to the appropriate string values.

[2015-03-25 07:28] annevk commented on #5336
Excellent, I recommend just going ahead and patching servo as it might take a little while before I get to that. We're in the process of changing the source format of the specification.

[2015-03-25 08:12] #707 closed

[2015-03-25 08:39] Ms2ger opened #5353 "Code duplication in components/servo/lib.rs and ports/gonk/src/lib.rs."
Look for the `new_resource_task` call.

[2015-03-25 10:11] shinglyu commented on #5187
Got it, thanks

[2015-03-25 10:20] Ms2ger opened #5355 "Move devtools to std::net."
* [x] #5294 Move devtools TCP acceptor into a separate thread
* [ ] rust-lang/rust#23696 TcpStream::duplicate

[2015-03-25 10:21] Ms2ger commented on #5355
WIP: https://github.com/servo/servo/compare/devtools

[2015-03-25 12:16] aweinstock314 commented on #5355
I'm working on this.

[2015-03-25 13:58] jdm commented on #5355
Sorry for the confusion, @aweinstock314. I just approved merging #5356 :(

[2015-03-25 14:00] aweinstock314 commented on #5355
Acknowledged. Should I close #5357?

[2015-03-25 14:01] jdm commented on #5355
I think so.

[2015-03-25 14:10] aweinstock314 commented on #5352
I'm working on this.

[2015-03-25 14:31] jdm commented on #5352
@aweinstock314 I suggest building on top of #5339.

[2015-03-25 16:09] #5355 closed

[2015-03-25 18:10] Adenilson commented on #5330
Yay! It is already working! for the following HTML: src = "i-feel-a-disturbance-in-the-force.wtf"

it will load the placeholder instead.

[2015-03-25 18:10] Adenilson commented on #5330
![screen shot 2015-03-25 at 11 07 35 am](https://cloud.githubusercontent.com/assets/959744/6831746/8647dfa0-d2df-11e4-8b27-d623510d4d57.png)

[2015-03-25 19:01] kmcallister commented on #1880
This is part of [my current plan for strings in html5ever](https://github.com/kmcallister/tendril).

[2015-03-25 19:07] jdm commented on #4500
[code]

cc @snf

[2015-03-25 19:15] kmcallister commented on #3368
Is there any update on this? @pcwalton says stb-image is the biggest blocker for Facebook timeline -- it can't decode any of their images. That's aside from the security issue that we need to resolve before dogfooding or a tech demo.

I'm not too worried about image decoding performance at the moment. It's tiny compared to some of the current inefficiencies in resource loading etc. If it shows up

[2015-03-25 19:22] jdm commented on #3368
https://github.com/servo/servo/pull/4215 worked, but the students never addressed the review comments and it needs a new owner.

[2015-03-25 20:00] snf commented on #4500
#5360

[2015-03-25 21:38] kmcallister commented on #3368
I'll try to revive that PR.

[2015-03-25 21:49] jdm opened #5363 "Text input inside iframes doesn't work"
Easiest STR is to run servo-shell and load google.com, then try to type in the text box.

[2015-03-25 21:49] aweinstock314 opened #5364 "Servo leaks pages when traversing links"
To reproduce: start servo with `./mach run http://xkcd.com --devtools 6000`, click the previous link several times, and connect devtools from a firefox instance to servo (Tools -> Web Developer -> Connect...). The entire history of pages traversed show up as seperate tabs to devtools, and if one is attached to it's possible to inspect the DOM tree, indicating that servo still has those structures

[2015-03-25 21:54] Adenilson opened #5365 "servo panics while trying to load a non existent file."
== Steps ==

1) run: ./mach run ~/this-file-doesnt-exists.html

2) Watch servo crash and burn e.g. https://gist.github.com/Adenilson/4a539ca73039f092e347

== What is the expected output ==

It should load a "not found page" or at least not crash.

[2015-03-25 21:57] jdm commented on #5364
It's not really a leak, per se. It's the way that we support going backwards and forwards in history instantly - Firefox has a similar thing called the bfcache. This issue is more about keeping the devtools notified about page navigations that occur in the script task.

[2015-03-25 22:00] jdm commented on #5365
Relevant problem code is in parse_progress in script/parse/html.rs.

[2015-03-25 22:16] Adenilson commented on #5330
Ok, now it looks more... boring.
![screen shot 2015-03-25 at 3 14 34 pm](https://cloud.githubusercontent.com/assets/959744/6836707/e7217a9e-d301-11e4-9546-0c1e5496563a.png)

[2015-03-25 23:18] Adenilson commented on #5365
Coolio, will do this next.

[2015-03-25 23:19] jruderman opened #5367 "Pressing ` crashes"
thread 'ScriptTask' panicked at 'unknown char code for GraveAccent', /Users/jruderman/code/servo/components/script/dom/keyboardevent.rs:354

(testing with servo-shell)

[2015-03-25 23:30] jruderman opened #5368 "Wrapping loses space after link"
1. Load https://en.wikipedia.org/wiki/Spin_isomers_of_hydrogen
2. Resize the window until the _first line of the second paragraph_ ends with `At room temperature and`

Result: the space between `temperature` and `and` disappears.

[2015-03-25 23:40] jruderman opened #5369 "Cursor movements causes text to move up and down"
1. https://en.wikipedia.org/wiki/Spin_isomers_of_hydrogen.
2. Move the mouse cursor over the page

Result: everything below the table of contents repeatedly shifts up and down by a pixel or two

[2015-03-25 23:44] jruderman opened #5370 "Can't scroll on Twitter"
1. Load https://twitter.com/jruderman
2. Try to scroll down

I can scroll down by a pixel or two, and then it stops.

[2015-03-25 23:55] kmcallister opened #5371 "Use Content-Type in image decoding"

[2015-03-25 23:55] kmcallister commented on #5371
See also #3144.

[2015-03-26 00:14] jruderman opened #5373 "Justified text is animated"
1. Load http://www.squarefree.com/

The paragraphs start out okay, then animate until there's a lot of space between each word.

[2015-03-26 00:28] jdm commented on #5371
You're going to need to provide a bit more information here if the E-easy label is going to remain.

[2015-03-26 00:31] jdm opened #5374 "code_value values for alphabetic characters are wrong"
According to https://dvcs.w3.org/hg/dom3events/raw-file/tip/html/DOM3Events-code.html#key-alphanumeric-writing-system they should be KeyN, not Key::N.

code: components/script/dom/keyboardevent.rs

[2015-03-26 00:31] jdm commented on #5367
This should be BackQuote, according to https://dvcs.w3.org/hg/dom3events/raw-file/tip/html/DOM3Events-code.html#key-alphanumeric-writing-system.

[2015-03-26 00:43] jdm opened #5376 "Implement platform-specific clipboard support"
Typing in URLs for https://github.com/glennw/servo-shell is a pain. We should implement support for pasting from the clipboard.

[2015-03-26 00:43] jdm commented on #5376
https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/PasteboardGuide106/Introduction/Introduction.html#//apple_ref/doc/uid/TP40008099

[2015-03-26 00:46] jdm commented on #5376
http://sourceforge.net/p/xclip/code/HEAD/tree/trunk/xclip.c

[2015-03-26 01:45] kmcallister commented on #5371
I'll add more info when my image decoding PR lands :) I was just reserving a number for a FIXME.

[2015-03-26 03:10] frewsxcv commented on #3660
a lot of this was implemented in 877f02f1d1c391f2b57002d88fa8e0a0e4d4d46d

[2015-03-26 03:30] ienzam commented on #1826
Hi,
I have implemented lookupPrefix - https://github.com/ienzam/servo/commit/3dea39715fad422f27094b5e22d4ff2698c7ad20
Can you please review the code and give some feedback, if I am doing anything wrong, or how I can make it more Rust-y?

[2015-03-26 03:41] jdm opened #5378 "Implement the HTMLInputElement's placeholder attribute"
Spec: https://html.spec.whatwg.org/multipage/forms.html#the-placeholder-attribute
Code: components/script/dom/webidls/HTMLInputElement.webidl, components/script/dom/htmlinputelement.rs

In particular, this should be the fallback for get_raw_textinput_value when it would otherwise return an empty string.

[2015-03-26 06:54] snf commented on #5196
I have almost everything implemented but I'm not sure how to iterate on Document/Windows. I'm already executing inside script_task::MainThreadRunnable so I have access to ScriptTask, but page and root_page() are private and I can't find any other method that would help me here.
I have been thinking in making root_page() public but you may have any other idea on how to implement it.

[2015-03-26 09:38] narfg commented on #5368
This is the same issue as #5203.

[2015-03-26 12:29] aweinstock314 commented on #5376
I'm working on the X11 part of this.

[2015-03-26 12:29] Ms2ger commented on #5371
Spec?

[2015-03-26 12:37] jdm commented on #5196
Go ahead and make it public.

[2015-03-26 14:20] Manishearth opened #5384 "Servo on Linux doesn't exit after a while"
Happens sometimes when playing with servo-shell.

STR:
- Open servo-shell (confirmed in release mode)
- Open a couple of sites and click around (I did mobile Facebook and then Github)
- Try to close it from the launcher (Unity?) or the close button on the window, it doesn't work.

ESC/Ctrl-C on the terminal both work

cc @glennw

[2015-03-26 15:08] genkku commented on #5378
I've been working on this, but I'm slightly hesitant with my choices, as this is my second day with
Rust & servo.

Anyhow: https://github.com/servo/servo/pull/5385

[2015-03-26 15:34] jdm opened #5386 "Write a lint that ensures that no_jsmanaged_fields is used correctly"
We should be able to check all of the fields of the target of the no_jsmanaged_fields macro and ensure that none of them are marked jsmanaged. This will prevent misuse of the macro.

[2015-03-26 16:36] leavengood commented on #5367
Do you want to change the constellation message constant from GraveAccent to Backquote, or just map it to the right keys in keyboardevent.rs?

[2015-03-26 16:39] jdm commented on #5367
Let's just map it for now.

[2015-03-26 16:40] leavengood commented on #5367
OK, I'll work on this.

[2015-03-26 17:11] gerv commented on #4331
This discussion seems to have stalled... jjnsn: are you planning to run some more tests?

Gerv

[2015-03-26 17:49] rillian opened #5391 "assertion failed: glyph_count <= char_max in harfbuzz.rs"
$ ./mach run --release https://xiph.org/
thread 'LayoutWorker worker 1/6' panicked at 'assertion failed: glyph_count <= char_max', /home/giles/mozilla/servo/components/gfx/text/shaping/harfbuzz.rs:283
stack backtrace:
   1:     0x7ff1940b4162 - sys::backtrace::write::h754dbf5d2d3172ebPBA
   2:     0x7ff1940c7042 - panicking::on_panic::hdb9e837ac064f8afiHJ
   3:     0x7ff1940976a9 - rt::unwind::beg

[2015-03-26 17:55] leavengood commented on #5374
Since I'm already familiar with that file I can do this too.

[2015-03-26 18:05] jdm commented on #5374
Go for it!

[2015-03-26 18:06] jdm commented on #5391
Sounds like #5230 and #2704.

[2015-03-26 20:03] #5367 closed

[2015-03-26 20:14] leavengood commented on #5386
To add some more detail, it seems one would want to look for the jstraceable attribute, as defined in https://github.com/servo/servo/blob/master/components/plugins/jstraceable.rs

An existing lint which checks for attributes is https://github.com/servo/servo/blob/master/components/plugins/lints/privatize.rs

This new lint would need to find calls to the no_jsmanaged_fields macro, and then look at

[2015-03-26 20:37] jdm commented on #5386
Whoops, I meant `must_root` when I said "none of them are marked jsmanaged". `jstraceable` isn't strong enough for our purposes here.

[2015-03-26 21:07] jdm commented on #2120
This basically works now.

[2015-03-26 21:07] #2120 closed

[2015-03-26 21:11] rillian commented on #5391
Indeed. closing as a dup.

[2015-03-26 21:11] #5391 closed

[2015-03-26 21:12] glennw opened #5394 "browser.html metabug"
Based on a list from Paul (the author of browser.html)
- [x] mozbrowser APIs.
- [ ] react.js support (#5398).
- [x] Update SpiderMonkey
- [ ] scrollgrab support (https://bugzilla.mozilla.org/show_bug.cgi?id=912666)
- [ ] snap points (https://bugzilla.mozilla.org/show_bug.cgi?id=945584)
- [ ] IndexedDB (per http://logs.glob.uno/?c=mozilla%23servo&s=3+Aug+2015&e=3+Aug+2015&h=browser.html#c250489)

[2015-03-26 21:36] jdm opened #5395 "jQuery testsuite metabug"
Blocks #3545.

[2015-03-26 21:36] #5374 closed

[2015-03-26 21:38] jdm opened #5396 "Implement GlobalEventHandlers.onsubmit"
From the jQuery test suite initialization:
[code]

[code]

Needed for #5395.

[2015-03-26 21:40] jdm opened #5397 "Implement Location.pathname"
Spec: https://url.spec.whatwg.org/#dom-urlutils-pathname
Code: components/script/dom/location.rs, components/script/dom/webidls/Location.webidl

Needed for #5395.

[2015-03-26 21:44] jdm commented on #5396
This is as simple as adding the attributes to components/script/dom/webidls/EventHandler.webidl and adding them to the global_event_handlers macro in components/script/dom/macros.rs.

[2015-03-26 21:51] jdm opened #5398 "ReactJS testsuite blockers"

[2015-03-26 21:53] jdm opened #5399 ""Not Acceptable" error when fetching ReactJS test server"
After running `grunt test --debug` and watching the server start, I see:
[code]
Something about our HTTP fetch is disliked by the server.

Blocks #5398

[2015-03-26 22:05] jdm commented on #3704
Blocks #5398.

[2015-03-26 22:11] jdm commented on #5399
This appears to be the `connect` middleware complaining that our preferred media type is unacceptable, which is based on our Accept header.

[2015-03-26 22:12] jdm commented on #5399
Probably because we don't have one!

[2015-03-26 22:12] jdm commented on #5399
By contrast, Firefox sends an Accept header like `text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8`

[2015-03-26 22:14] jdm commented on #5399
We should add one in the HTTP loader for now (just asking for `text/html;q=0.9,*/*;q=0.8`,

[2015-03-26 22:14] jdm commented on #5399
Code: components/net/http_loader.rs

[2015-03-27 03:53] yodalee commented on #5397
Can I take this. Write a easy issue to gain confidence OAO.

[2015-03-27 09:35] Ms2ger commented on #5396
If it's just in the test suite, can we get that crap removed?

[2015-03-27 12:10] strelec commented on #332
So, gnome 3.16 is out with official Wayland support, so maybe we should make this feature request a higher priority.

[2015-03-27 12:30] jdm commented on #5396
Well, I'm pretty sure that's the jQuery source that's being loaded and throwing that exception, since it's in jQuery-1.9.1.js.

[2015-03-27 12:36] jdm commented on #5397
Go for it :)

[2015-03-27 12:46] jdm opened #5406 "Dromaeo metabug"

[2015-03-27 12:56] jdm opened #5407 "Compartment mismatch when running Dromaeo"
Blocks #5406.

[2015-03-27 12:56] jdm opened #5408 "Lots of "top is not defined" errors when running Dromaeo"
Blocks #5406

[2015-03-27 12:56] jdm commented on #3545
Blocks #5406.

[2015-03-27 12:59] jdm opened #5409 "Implement Navigator.appVersion"
Spec: https://html.spec.whatwg.org/multipage/webappapis.html#dom-navigator-appversion
Code: components/script/dom/navigator.rs, components/script/dom/webidls/Navigator.webidl

Blocks #5406. It's used in the v8-raytrace.html test.

[2015-03-27 13:00] jdm commented on #5409
Alternatively we could try to get it removed from the test.

[2015-03-27 13:01] jdm commented on #5407
[code]

[2015-03-27 14:02] jdm opened #5410 "Prototype framework test suite metabug"

[2015-03-27 14:03] jdm commented on #5410
http://prototypejs.org/

[2015-03-27 14:04] jdm opened #5411 "Implement CanvasRenderingContext2d.measureText"
Spec: https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-measuretext
Code: components/script/dom/canvasrenderingcontext2d.rs, components/script/dom/weibidls/CanvasRenderingContext2D.webidl, components/canvas/canvas_paint_task.rs

Blocks #5410.

[2015-03-27 14:10] jdm opened #5412 ""failed to lookup address information" when running mootools testsuite"
Run `grunt karma:dev` from the mootools dir, then visit `http://localhost:9876/` in servo. No output except `HttpIoError(Error { repr: Custom(Custom { kind: Other, desc: "failed to lookup address information", detail: Some("nodename nor servname provided, or not known") }) })`, which is interesting.

[2015-03-27 15:08] deokjinkim commented on #5409
I want to work on this stuff. I have a question about it. ^^
When I check "navigator.appVersion" on firefox, it returns "5.0 (X11)".
Servo also returns same string with firefox? or returns "4.0" according to spec? or servo has another application version?

[2015-03-27 15:13] jdm commented on #5409
I would go with 4.0.

[2015-03-27 15:49] Ms2ger commented on #5409
Follow the spec

[2015-03-27 16:03] SimonSapin commented on #332
Does Gnome-with-Wayland not support X apps at all?

[2015-03-27 16:07] SimonSapin commented on #332
This probably depends on https://github.com/tomaka/glutin/issues/3

[2015-03-27 16:21] FireDart commented on #332
From my understanding Gnome on Wayland has XWayland, which is a fall-back for X and it works just as well as plain old X (maybe a **very** slight performance hit).

http://wayland.freedesktop.org/xserver.html

[2015-03-27 17:41] strelec commented on #332
Yes, it works with Xwayland, but glitches are present.

1. Copy-paste doesn't work.
2. Resize and fulscreen glitches.
3. Non-smooth resizing.

[2015-03-27 18:34] KiChjang commented on #5081
The latest commit to master allows me to navigate to WIkipedia, closing this issue.

[2015-03-27 18:34] #5081 closed

[2015-03-27 19:44] jdm opened #5417 "Replace all instances of `Box::new(foo)` with `box foo`"
This may require adding `#![feature(box_syntax)]` to the corresponding lib.rs for the crate.

[2015-03-27 20:30] tdaede commented on #5384
This also happens to me, but Servo also becomes totally unresponsive to any other events as well, such as scrolling, clicking, or resizing.

[2015-03-27 21:28] snf commented on #5196
About the remaining tests for Storage:

<jga_> I'm working in Storage and I see that some of the tests use the notation localStorage["1"] or localStorage["key"], which is the actual function being called?
<jga_> getItem or key?
<jga_> or none and that's why I'm failing and I have to implement another trait
<jga_> I guess there is lacking something that connects the javascript representation to the

[2015-03-27 21:44] jdm commented on #5196
That should be going through the getter method in the WebIDL, which corresponds to NamedGetter/NamedSetter/NamedCreator, depending on the expression.

[2015-03-27 21:45] jdm commented on #5196
However, #5223 might be causing this to mess up.

[2015-03-27 22:02] snf commented on #5196
I'm investigating it a little more and it seems that storage_task is not updating the values. Will keep working on it tomorrow.

[2015-03-27 22:56] bdero commented on #5417
I'm currently working on this - it seems like a good way to quickly get started.

[2015-03-27 23:41] leavengood commented on #5411
I'd like to work on this.

[2015-03-28 00:45] gilles-leblanc commented on #4476
@jdm I have completed removing the net/ dependency from gfx/, layout/, and script/.

I have done this in 7 commits (one for each specific dependency). Do you want me to merge squash them in one big commit before I submit a pull request?

Once it's done, I'll rebase and submit a pull request. This is a pretty big one, I will probably have some merging to do again after the review modifications are

[2015-03-28 01:13] bdero commented on #5399
I'm currently working on this.

[2015-03-28 01:27] bdero commented on #5399
Looks like it works!
![](http://i.imgur.com/TQ8rcTe.png)

[2015-03-28 08:22] snf commented on #5196
Ok, it seems that NamedGetter/Setter is being cached somewhere. If I update it with the NamedSetter, the NamedGetter and GetItem returns the right value, but if I update with SetItem, only GetItem returns the right value and NamedGetter returns the last value set with NamedSetter.

Hope that makes sense somehow.

[2015-03-28 14:33] Ms2ger commented on #4724
Fixed by 0e11178d663c44baaf5bde9b9470ad6ac142d5a7.

[2015-03-28 14:33] #4724 closed

[2015-03-28 14:34] Ms2ger commented on #5196
There is a bug in the generated code: #5223.

[2015-03-28 15:02] jdm commented on #5411
Ok! There are a bunch of different pieces involved, so let me know if you've got any questions :)

[2015-03-28 15:03] jdm commented on #4476
I think separate commits sound fine to me!

[2015-03-28 15:03] jdm commented on #5399
Hooray!

[2015-03-28 15:23] leavengood commented on #5411
Yes I started working on it last night. I think I've got the messaging between the Dom side and renderer, but I need the IDL for TextMetrics and the Rust implementation. It is very simple with just a lot of double fields, but I'm new to Rust and Servo so I have to learn a lot here. Is there a way to generate the Rust code from the IDL? Also I didn't see many other pieces of canvas that work like t

[2015-03-28 15:30] snf commented on #5196
Right, wasn't reading #5223 very well.

[2015-03-28 15:36] jdm commented on #5411
Yes, you should add a new TextMetrics.webidl file in components/script/dom/webidls, and create the corresponding textmetrics.rs for it too: http://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface

[2015-03-28 15:42] jdm commented on #5411
I think starting with a stub of the text preparation algorithm would be preferable to skipping it entirely. That would entail filling in the steps that are simple (ie. whitespace replacement), using sensible defaults for the steps that are more complicated and produce values, and leaving TODO comments for everything that is not spec-compliant.

[2015-03-28 17:33] jdm commented on #5223
Gecko code:
[code]

[2015-03-28 17:38] jdm commented on #5223
Gecko still has a default defineProperty implementation in DOMProxyHandler, but it appears it is only used if there's no named setter operation for the interface.

[2015-03-28 18:08] dmarcos commented on #5290
@jdm Hi there! I'm back with more newbie rust code. Slowly getting into the groove :)

https://github.com/servo/servo/pull/5433

Special attention has to be paid to the part where retrieve the image data from cache:

https://github.com/servo/servo/pull/5433/files#diff-73749ed78090d6d7ef64586d558e0850R226

[2015-03-28 18:41] jdm commented on #4476
Well, under the assumption that they all build independently. If that's not the case, squashing makes more sense.

[2015-03-28 18:42] jdm commented on #4476
Also, I notice the that implementation of the ImageCache and LocalImageCache has moved into net_traits. Is that necessary? It looks to me like it should be possible to keep those in the net crate, and just move the definition of ImageCacheTask into net_traits.

[2015-03-28 20:04] gilles-leblanc commented on #4476
LocalImageCache is used by layout/context.rs, layout/layout_task.rs and layout/fragments so I moved it to traits.

As for ImageCache I will move it back to net as it's only used in net_traits.

I think I will squash the commits, will probably try out both and see with seems the easiest to rebase.

[2015-03-28 20:13] gilles-leblanc commented on #4476
I started moving back ImageCache to net/ and saw it needed to be in net_traits because ImageCacheTask's implementation refers to it and that would create a circular reference.

[2015-03-28 20:24] leavengood commented on #5411
Yeah, that makes sense. Certainly the whitespace replacement is pretty easy. But the part that says "Form a hypothetical infinitely-wide CSS line box containing a single inline box containing the text *text*" seems a bit more tricky. I'll need to look around servo and maybe at other browsers to see how that is supposed to work.

I like fonts and text rendering stuff so this might be an area of Ser

[2015-03-28 21:44] jdm commented on #4476
Here's my suggestion to avoid the ImageCacheTask problem - make ImageCacheTask::new/new_sync free functions in net/ (create_image_cache_task), and call that instead. Now ImageCacheTask is no more than a wrapper for a Sender.

[2015-03-28 22:04] jdm commented on #5411
Heh, I hadn't looked at that step. That is certainly... interesting. It suggests that we may want to extract some of the layout operations related to layout out text into somewhere outside of the layout/ crate. Definitely will require talking with some of the experts, but let's try to proceed without it for now.

[2015-03-28 23:15] snf commented on #5223
https://hg.mozilla.org/mozilla-central/diff/1c1fa8af5978/dom/bindings/Codegen.py the change we should make to Codegen?

[2015-03-28 23:39] frewsxcv opened #5439 "Implement URLSearchParams::getAll"
This might be a candidate for 'E-Easy' since `URLSearchParams::get` is already done

https://url.spec.whatwg.org/#dom-urlsearchparams-getall

https://github.com/servo/servo/blob/master/components/script/dom/urlsearchparams.rs

[2015-03-29 00:16] jdm commented on #5439
https://github.com/servo/servo/blob/master/components/script/dom/webidls/URLSearchParams.webidl

[2015-03-29 01:36] gilles-leblanc commented on #4476
I've followed your advice for create_image_cache_task, squashed everything together and rebased.

Sadly I still have 2 things to take care  off.

./mach test-wpt gives me this:
[code]
and ./mach test-unit fails on tests which load ```test.jpeg``` (formerly in net/image/, now in net/) with one of these two messages:
[code]
or
[code]

I'm thinking it's probably not finding the file correctly since I

[2015-03-29 06:00] bdero commented on #5439
I think this is blocked by #544

[2015-03-29 09:57] Ms2ger commented on #5439
Also, we need tests.

[2015-03-29 13:08] JIoJIaJIu commented on #4957
should i export http://mxr.mozilla.org/mozilla-central/source/js/src/jsapi.cpp#5914 in rust-mozjs?

[2015-03-29 15:04] jdm commented on #4476
Use `rm -rf tests/wpt/_virtualenv` to get rid of the WPT problem. As for the unit test error, you're probably right - you should be able to adjust http://mxr.mozilla.org/servo/source/components/net/image/base.rs#15 to use a new path as necessary.

[2015-03-29 15:06] jdm commented on #4957
Our version of SpiderMonkey in mozjs doesn't include that function, and I suspect that trying to import it will require lots of experimentation and changes. I recommend just adding a TODO for saving stacks in your code as necessary and we can look into it separately.

[2015-03-29 17:33] jdm opened #5446 "Replace transmute_copy in Hash implementation for ApplicableDeclarationsCacheQuery"
This looks like it's just transmuting a pointer into an integer. We should be able to cast `&Vec<DeclarationBlock>` to `*const Vec<DeclarationBlock>`, then cast that to a usize value without using any unsafe code.

[2015-03-29 18:44] Ms2ger commented on #5446
That's not quite what it does. The code is equivalent to
[code]
or
[code]

[2015-03-29 19:28] dhananjay92 commented on #5439
I would like to work on this issue. Should I wait till #544 is solved?

[2015-03-29 19:54] jdm commented on #5446
Whoops, yeah.

[2015-03-29 19:54] jdm commented on #5439
Yes.

[2015-03-29 21:52] thiagopnts commented on #5309
Any ideas on how to get the PipelineId in the nested worker scenario?

[2015-03-29 22:24] pikzen commented on #5396
Could I get this assigned ?

[2015-03-29 23:52] #5417 closed

[2015-03-30 02:18] jdm commented on #5396
Yep, we'll file more issues blocking #5395 for subsequent problems discovered.

[2015-03-30 02:22] jdm commented on #5309
Pass the pipeline in from the global in the constructor?

[2015-03-30 02:23] jdm commented on #5309
By which I mean, we should start storing the related pipeline in the DedicatedWorkerGlobal, and add a method to GlobalRef to retrieve the pipeline.

[2015-03-30 05:45] kmcallister commented on #2853
html5ever keeps running into rust-lang/rust#23110 in the test suite.

[2015-03-30 06:22] SimonSapin commented on #5286
The `int_uint` feature does not exist anymore in Nightly, using `int` or `uint` types, or `u` or `i` suffixes is now always an error. Let’s get rid of this one before the next rustup. (Simply use `usize` and `isize` types, and remove suffixes if possible or use `_usize` or `_isize`).

[2015-03-30 08:37] Ms2ger opened #5454 "Implement named access to NamedNodeMap"
Blocks #5395.

* Spec: <https://dom.spec.whatwg.org/#interface-namednodemap>.
* Code: `components/script/dom/namednodemap.rs`, `components/script/dom/webidls/NamedNodeMap.webidl`.
* Test: to be written.

[2015-03-30 08:38] Ms2ger commented on #5454
This is the real cause of the exception in #5396.

[2015-03-30 08:38] Ms2ger commented on #5396
focusin is not in the spec. I filed #5454 for the real issue here.

[2015-03-30 13:31] shinglyu commented on #4873
(Sorry, the last week was a busy week)
I tried something like this: https://github.com/shinglyu/servo/blob/ismap/components/layout/layout_task.rs#L1079

But the `min_x` and `min_y` I get are still `0,0`. Also, the `debug!` in line 1177 does not print, not sure if I was modifying the wrong place.

[2015-03-30 13:51] jdm commented on #5396
`focusin` is defined at https://dvcs.w3.org/hg/dom3events/raw-file/tip/html/DOM3-Events.html#event-type-focusin.

[2015-03-30 13:53] jdm commented on #5396
Oh, but the event handler isn't part of GlobalEventHandlers in https://html.spec.whatwg.org/#globaleventhandlers. I see.

[2015-03-30 14:06] jdm commented on #4873
I would expect the debug line to print if you use RUST_LOG=layout::layout_task, so that's quite strange. Those were the changes I was expecting :/

[2015-03-30 14:14] shinglyu commented on #4873
I did use `RUST_LOG=layout::layout_task`, even if I loosen up to use `RUST_LOG=layout`, I can't see the log.

[2015-03-30 14:54] jdm opened #5458 "Window::reflow should not short-circuit when performing a query"
Right now we check if there are any dirty descendents and return early if there are not. This gives us incorrect results for things like getBoundingClientRect.

[2015-03-30 14:55] jdm commented on #4873
Aha - I cloned your branch and tried it out, and #5458 is preventing any real value from being returned right now.

[2015-03-30 15:34] shinglyu commented on #4873
Thanks! I can never find that out myself. Let's see if I can fix #5458 then.

[2015-03-30 16:12] jdm commented on #4873
I submitted #5459 to fix it already; sorry.

[2015-03-30 17:23] mbrubeck opened #5460 "Implement the :focus pseudo-class selector"
https://html.spec.whatwg.org/multipage/scripting.html#selector-focus

[2015-03-30 18:04] mbrubeck commented on #4770
Fixed by #4819.

[2015-03-30 18:04] #4770 closed

[2015-03-30 19:11] mbrubeck opened #5462 "Implement HTMLElement::focus and blur methods"
https://html.spec.whatwg.org/multipage/interaction.html#dom-focus

[2015-03-30 19:47] Adenilson commented on #5330
As #5366 has landed, we can close this one.

[2015-03-30 19:48] #5330 closed

[2015-03-31 00:47] Adenilson opened #5463 "Return error information when parse_html() fails"
Until #5197 lands, parsing is sync and will block until it returns. At this moment, no status information concerning error (e.g. a broken URL) is returned by parse_html().

It may make sense to allow it to forward a error to the Constellation (or maybe to ScriptTask).

[2015-03-31 01:56] gilles-leblanc commented on #4476
I corrected the errors and then rebased on latest master and submitted the pull request.

[2015-03-31 05:26] pcwalton opened #5466 "Layout tasks should know their URL and iframe-ness instead of having the script task pass it in on every reflow"
Because reflow might happen without the script task knowing.

[2015-03-31 08:09] JIoJIaJIu commented on #4957
@jdm Is there some analog of nsIMemoryReporterManager for MemoryActor?

[2015-03-31 13:09] jdm commented on #4957
The manager is a separate thread; if you have a ProfilerChan value, you can send messages to it - http://mxr.mozilla.org/servo/source/components/profile/mem.rs .

[2015-03-31 13:55] shinglyu commented on #4873
Cool! Thanks!

On Tue, Mar 31, 2015 at 12:12 AM Josh Matthews <notifications@github.com>
wrote:

[2015-03-31 18:51] Adenilson opened #5467 "Address wpt expectation: instead of crash, expect an Exception"
== How to reproduce ==

a) Execute location interface wpt tests:
./mach test-wpt --include html/browsers/history/the-location-interface/

b) Inspect the output for security_location_0.sub.htm
(or look in tests/wpt/metadata/html/browsers/history/the-location-interface/security_location_0.sub.htm.ini)

The output will be:
0:03.14 CRASH: Thread-TestrunnerManager-5 pid:53240. Test:None. Minidump anayl

[2015-03-31 18:52] Adenilson commented on #5467
@jdm and @jgraham FYI.

[2015-03-31 19:39] jdm commented on #5467
I don't think there's much point in opening this issue right now. The panic occurs right now because we don't like fetching URLs that don't resolve to a valid HTTP connection. The SecurityError described comes from a totally different part of the test. There's a totally different issue, which is that this test shouldn't be causing us to make an invalid HTTP connection - that's an issue in Servo, n

[2015-03-31 19:39] #5467 closed

[2015-03-31 19:40] #5034 closed

[2015-03-31 19:42] ChimeraCoder commented on #5466
Is there a spec for this? @kenpratt and I were looking for low-hanging fruit, and this seemed do-able.

[2015-03-31 19:44] jdm commented on #5466
@ChimeraCoder The Reflow struct currently contains this information (http://mxr.mozilla.org/servo/source/components/script/layout_interface.rs#102). We want to move that information into the LayoutTask constructor instead. Does that make sense?

[2015-03-31 19:48] jdm opened #5468 "Re-enable tests that require an iframe load event"
http://mxr.mozilla.org/servo/search?string=disabled%3A%20iframe

This will require getting rid of the "disabled" lines and adding text expectations that match the output of running the re-enabled tests (see virtually any other .ini file for example, such as http://mxr.mozilla.org/servo/source/tests/wpt/metadata/dom/nodes/Document-getElementsByTagName.html.ini?force=1).

[2015-03-31 19:54] ChimeraCoder commented on #5466
Oh yeah - sure, we'll take a stab at this!

[2015-03-31 22:49] mschroeder commented on #4468
@jdm To return the naturalWidth/naturalHeight, I need to calculate the density-corrected intrinsic width and height, which needs the hidpi_factor from the window or compositor in HTMLImageElement. Can you give me a hint for the best approach to get the hidpi_factor in the HTMLImageElement? Maybe this is not necessary at all.

[2015-04-01 02:02] jdm commented on #4468
@mschroeder Good point. That's something we could send as part of the WindowSizeData structure, I expect (http://mxr.mozilla.org/servo/source/components/msg/constellation_msg.rs#43), and store that in the image's owning Window object.

[2015-04-01 02:03] jdm commented on #4468
In fact, that structure already contains a device_pixel_ratio field, so it should be even less work than I anticipated.

[2015-04-01 02:57] #4768 closed

[2015-04-01 03:48] jdm opened #5473 "Can't log in to Bugzilla"
I get a

[code]

error, which is pretty weird.

[2015-04-01 04:37] Manishearth commented on #5473
Glutin might be munching a special character there. Type your password in a usual text input field and check if something is missing.

[2015-04-01 12:30] #5396 closed

[2015-04-01 13:48] #5258 closed

[2015-04-01 14:42] #5365 closed

[2015-04-01 15:11] zerokarmaleft commented on #5468
Hi, taking a stab at this.

[2015-04-01 16:10] jdm commented on #5468
Thanks!

[2015-04-01 17:16] Ms2ger opened #5478 "Use std::process::exit in constellation.rs."
Added in https://github.com/rust-lang/rust/pull/23907

[2015-04-01 17:38] wenderen commented on #5478
Apart from the [exit via unsafe](https://github.com/servo/servo/blob/master/components/compositing/constellation.rs#L414), are there any other parts of constellation.rs that could use `std::process::exit`?

[2015-04-01 19:17] jdm opened #5481 "Support multiple root pages in a script task"
This would be required to properly support multiple tabs viewing pages that are same-origin - in order to support things like spec-compliant StorageEvent dispatch, the pages would need to be part of the same script task, but they don't have a hierarchical relationship like same-origin iframes.

Blocks #5236.

[2015-04-01 20:19] pcwalton commented on #4445
Sadly we can't do this yet. Rust doesn't have the dynamically sized type support we need.

[2015-04-01 20:22] jdm commented on #5038
#5482 is another example of a good test.

[2015-04-01 20:57] #5458 closed

[2015-04-01 22:42] #5336 closed

[2015-04-01 23:27] #4614 closed

[2015-04-02 04:12] #5468 closed

[2015-04-02 04:57] #2587 closed

[2015-04-02 05:09] plasmachannel commented on #5291
Can I take this one?  I have almost no understanding of Cargo so I figure this bug might force me to get familiar with cargo and become familiar with good testing in servo

[2015-04-02 07:29] Ms2ger commented on #5478
I was referring to that one call, yes

[2015-04-02 07:32] wenderen commented on #5478
Ah, OK. Thanks. I'm leaving this then. It would make for a good entry bug for someone else.

[2015-04-02 08:35] SimonSapin commented on #5291
Go ahead! Cargo documentation is at http://doc.crates.io/ , but feel free to ask questions here or on IRC.

[2015-04-02 19:02] SimonSapin commented on #5260
Would the test’s rectangles be compared to raw rectangles (maybe stored in JSON or something), or to the rectangles of another (reference) HTML document? If the former, these aren’t reftests and shoul probably be called something else. Layout tests maybe?

[2015-04-02 19:06] kmcallister commented on #5260
I called them "abstract reftests" because I imagine comparing to a reference document or to the same document in another engine. But we could use the same script for other kinds of testing, as well.

[2015-04-02 20:20] pcwalton opened #5494 "Make all applicable supported properties animatable"
Many of these are easy. See the list of properties here: http://dev.w3.org/csswg/css-transitions/#animatable-css

Notice how `animation.rs` handles `top`, `right`, `bottom`, and `left`, and add cases for the missing properties. New length properties should be trivial to handle; the trickiest property to handle will be transitions on `transform`.

[2015-04-02 21:00] ehsan commented on #5038
I am (well, will be) working on this!

[2015-04-02 21:12] #5466 closed

[2015-04-02 21:23] ehsan commented on #2540
I am (will be) working on this!

[2015-04-02 22:37] kmcallister commented on #5260
I just got this working in Servo. [Here's the diff](https://gist.github.com/kmcallister/ea9f490e0fa517a3b4a0) for Acid1.

[2015-04-02 22:39] kmcallister opened #5495 "console.log should print all its arguments"
There's no spec, but I think it's what [all other browsers do](https://developer.mozilla.org/en-US/docs/Web/API/Console/log).

[2015-04-02 22:48] jseaton commented on #5494
Anyone mind if I nab at least the easy cases for this? Good chance to get my feet wet.

[2015-04-02 23:20] Ms2ger commented on #5038
I'm somewhat skeptical, fwiw. Usually (like in #5482), it'd be better to test for the expected behaviour rather than just "didn't crash".

[2015-04-02 23:44] jdm commented on #5038
#5482 is the exception here, IMO. Tests like #5472 don't have any value as reftests.

[2015-04-02 23:51] jdm opened #5497 "Make tidy complain if the Cargo.lock files are incompatible"
I'm having trouble articulating the things in particular we want to check, but I want to prevent problems like https://github.com/servo/servo/pull/5433#issuecomment-89082407 upfront. If you could look at commits and see if there was a change to a Cargo.lock file but no change to the other ones, that would be useful.

[2015-04-02 23:55] jdm commented on #5494
Go for it!

[2015-04-02 23:57] jdm commented on #5495
This will require addressing the note at http://mxr.mozilla.org/servo/source/components/script/dom/webidls/Console.webidl#14 and updating the implementation in `components/script/dom/console.rs`.

[2015-04-03 00:48] aneeshusa commented on #5495
Hey, I'd love to give this a try! I'm new to Rust, though, and I don't see any way to do varargs in Rust; how would we handle an arbitrary number of arguments?

[2015-04-03 01:06] kmcallister commented on #1479
Fixed long ago in #2089.

[2015-04-03 01:06] #1479 closed

[2015-04-03 03:17] jabbrass commented on #5495
I also was interested in taking a crack at this, when I asked in IRC what it would take to use an arbitrary number of args, all I got was that I could try a slice. Not much in the documentation makes reference to slices except that you can create them from arrays... so not much to go on there...

I'm assuming that the solution is not something manual/limited like:
16   void debug(DOMString message

[2015-04-03 03:40] aneeshusa commented on #5495
Yeah, I figured in the Rust code you'd need to take some sort of collection as the only arg. In that case, I would appreciate some pointers on how to handle the webidl, because in javascript we still want to use varargs, and I assume we'll need to specify exactly how to do the transform.

[2015-04-03 04:05] jdm commented on #5495
Sorry I wasn't clear - WebIDL variadic arguments are expressed like so: http://mxr.mozilla.org/servo/source/components/script/dom/webidls/TestBinding.webidl#305 . The corresponding Rust method is passed a vector, like so: http://mxr.mozilla.org/servo/source/components/script/dom/testbinding.rs#326

[2015-04-03 07:33] Manishearth opened #5499 "Rapid resizing leads to a laggy, bouncing, animation"
STR:

(Happens on both dev and release builds)
- Open about-mozilla.html on Servo (I'm on Linux)
- Use the gripper on the corner of the window to resize it. Resize in and out multiple times, in fast succession. The content should start bouncing in and out with a lag to your resizing

Expected:

Once you stop, the animation should converge monotonically to the size of the window; quickly

Observed:

[2015-04-03 07:34] Manishearth commented on #5499
cc @glennw @pcwalton

[2015-04-03 08:38] Manishearth opened #5500 "Iframe.contentWindow always returns null"
Testcase:

[code]

On running through `gdb` it seems like `children` [here](https://github.com/servo/servo/blob/master/components/script/dom/htmliframeelement.rs#L219) is an empty vector.

This happens to iframes created from source, from `innerHTML`, and from `createElement()`

cc @glennw @mbrubeck

[2015-04-03 09:32] Manishearth commented on #5500
Update: this turns out to be because iframe loading is async, apparently

However, `i = document.createElement('iframe'); document.body.appendChild(i); i.contentWindow` works in Firefox, but not in Servo (still gives null)

[2015-04-03 09:41] magcius commented on #5500
Right. It seems that the creation of the frame's document and window is deferred until the content is fetched -- and if no src is ever set, no content is ever fetched.

If we set src to blank.html and instead fetch the contentWindow after a timeout, then it works fine.

According to https://html.spec.whatwg.org/multipage/embedded-content.html#the-iframe-element , iframes without a src should have

[2015-04-03 10:37] akavel commented on #4627
Sorry, didn't explore thoroughly and don't know the test harness, but @Manishearth do you mean it would be hard to generate the file for a test only on `nowindows` OS? Could you possibly give some hints for a noob what work it could require and how to try starting to do it?

[2015-04-03 11:26] #4651 closed

[2015-04-03 12:39] mskrzypkows commented on #5230
I'm investigating the bug, found out that ```RUST_hb_buffer_get_glyph_infos``` returns two glyphs for ™ sign (which is single char), that's why ```assert!(glyph_count <= char_max);``` fails. Is it harfbuzz bug, or should we add special case when glyphs number is higher than chars number?

[2015-04-03 13:03] a-p- opened #5504 "Crash when browsing http://slashdot.org/."
Servo crashes when trying to browse http://slashdot.org/:

[code]

[2015-04-03 13:16] jdm commented on #1745
@Ms2ger Does the above make sense?

[2015-04-03 13:20] jdm commented on #5504
We have two options here - increase the size of the vector storing roots in RootCollection, or replace it with a RootedVec instead and avoid encountering this problem again in the future. I lean towards the latter.

[2015-04-03 13:28] jdm commented on #5230
I suspect we'll need to add a special case in our code, but I'm not sure who would know more. Perhaps @pcwalton.

[2015-04-03 13:30] jdm commented on #5500
Yes, sync about:blank is tracked at #5240.

[2015-04-03 13:50] jdm opened #5505 "Text input assertion"
From https://github.com/glennw/servo-shell/issues/3, it's possible to hit an assertion when interacting with the url bar in servo-shell.

[2015-04-03 16:02] Ms2ger commented on #5495
This is now documented: <http://doc.servo.org/script/dom/bindings/index.html#rust-reflections-of-webidl-types>.

[2015-04-03 16:25] Ms2ger commented on #1745
No, that appears to still be talking about getElementsByTagName. <https://html.spec.whatwg.org/multipage/dom.html#dom-document-getelementsbyname> only returns elements in the HTML namespace. (See this issue's summary.)

[2015-04-03 17:13] pcwalton commented on #5230
Our text run code is *supposed* to handle this case via the "complex glyph" code path, but it's hardly tested. I suspect it's a straightforward bug in our array index shuffling.

[2015-04-03 18:07] leavengood commented on #5411
Over the past week I've had some other things keeping me busy, so I have not made much progress on this. I may have some time tonight or tomorrow.

[2015-04-03 19:45] #4476 closed

[2015-04-04 13:22] jdm opened #5520 "Remove the ability to provide multiple URLs to Servo"
It's just confusing and it usually doesn't work (it triggers assertions in the constellation). Why would you want to load a succession of pages without waiting for them to complete loading? It's pretty silly.

Code: http://mxr.mozilla.org/servo/source/components/util/opts.rs, http://mxr.mozilla.org/servo/search?string=opts.urls

[2015-04-04 13:23] Manishearth commented on #5520
I didn't even know this was possible. Kill it with fire!

[2015-04-04 13:23] nox opened #5521 "dom::bindings::error::Error constructors are not consistently named"
Some constructors (NamespaceError, NoModificationAllowedError, TypeError) include the word "Error" while all others don't.

[2015-04-04 13:26] Manishearth commented on #5521
Relevant code: https://github.com/servo/servo/blob/master/components/script/dom/domexception.rs#L18

I would lean on removing the `Error`, since enums are namespaced.

[2015-04-04 14:47] Manishearth commented on #5454
(@nox is working on this)

[2015-04-04 16:38] jagtalon commented on #5520
@jdm I'm pretty new to this but I was wondering if that meant changing `pub urls: Vec<String>` to `pub url: String`, etc.?

[2015-04-04 16:42] #5495 closed

[2015-04-04 18:49] frewsxcv commented on #5504
I get this same panic via `./mach run http://en.wikipedia.org/wiki/Muhammadu_Buhari --release`

[2015-04-04 20:48] nox commented on #4861
@Ms2ger Are you or someone else fixing the other iterators right now or can I do it?

[2015-04-04 21:24] jagtalon commented on #5520
I'd like to give this a shot.

[2015-04-05 01:57] #5460 closed

[2015-04-05 01:57] #5462 closed

[2015-04-05 02:12] ehegnes commented on #5521
Should the `Error` suffix only be removed from the inconsistent contents of `enum Error` in `dom::bindings::error`, as the issue indicates, or should the `Error` suffix also be removed from the contents of `enum DOMErrorName` in `dom::domexception`?

[2015-04-05 03:36] jdm commented on #5521
According to http://heycam.github.io/webidl/#dfn-DOMException and the implementation of DOMException::Name, the names of the DOMErrorName variants should not be changed.

[2015-04-05 03:37] jdm opened #5528 "Update the spec links in domexception.rs"
The links to the DOM spec are invalid, now that DOMException is defined in the WebIDL spec instead.

http://heycam.github.io/webidl/#dfn-DOMException is the place to start looking for appropriate links.

[2015-04-05 05:10] Manishearth commented on #5521
My bad, I meant https://github.com/servo/servo/blob/master/components/script/dom/bindings/error.rs#L26

[2015-04-05 06:47] Ms2ger commented on #4861
Go for it!

[2015-04-05 07:41] boghison commented on #544
Isn't this already implemented?

[2015-04-05 07:52] Ms2ger commented on #544
No; variadic arguments are implemented, but not sequences. The correct implementation requires a SpiderMonkey upgrade, though.

[2015-04-05 08:37] boghison commented on #544
@Ms2ger why does it show up in the bindings table then?

[2015-04-05 08:41] boghison commented on #5528
Can I take this?

[2015-04-05 11:27] boghison commented on #5378
So, has this been fixed?

[2015-04-05 11:42] #5528 closed

[2015-04-05 12:19] jdm commented on #5378
It has; sorry.

[2015-04-05 12:19] #5378 closed

[2015-04-05 15:50] boghison commented on #4492
Can I take this? I love this library and would like to work a bit on servo :)

[2015-04-05 15:57] Ms2ger commented on #544
I added that row pre-emptively

[2015-04-05 16:10] jdm commented on #4492
There's a student group from NCSU working on this as a project this term; I think the status of the work remaining will be clear by the end of May.

[2015-04-05 16:22] boghison commented on #4492
I won't work on it then

[2015-04-05 17:36] pcwalton opened #5533 "Animations should stop until the next turn of the event loop if script reads layout properties"
roc pointed out a potential web-compat problem in off-main-thread animations. This could fail in Servo, whereas it succeeds in all other browser engines:

    let el = ... some element ... ;
    let r0 = el.getBoundingClientRect();
    let r1 = el.getBoundingClientRect();
    assert(r0.left == r1.left);

This is because the animation refresh could tick in between `let r0 = ...` and `let r1 = ...`

[2015-04-05 22:41] ehegnes commented on #5504
I poked at this a little bit, and I believe that the vector @jdm refers to is the `SmallVec32` located at [components/script/dom/bindings.js:625](https://github.com/servo/servo/blob/master/components/script/dom/bindings/js.rs#L625). I replaced the `SmallVec32` with `RootedVec` and removed the assertion further on to check if the `SmallVec32` had spilled.

However, the assertion at [components/scri

[2015-04-06 02:39] jdm commented on #5504
Yes, @ehegnes correctly interpreted my ambiguous wording. @ehegnes, could you paste a backtrace from a breakpoint on rust_panic in gdb/lldb? I'm curious what's triggering that assertion.

[2015-04-06 10:53] jagtalon commented on #5504
Ran into the same problem that @ehegnes described. Here's what happened when I ran slashdot (had to ^C because it was unresponsive):

[code]

[2015-04-06 13:25] jdm commented on #5504
Ok, I see the problem. http://mxr.mozilla.org/servo/source/components/script/dom/bindings/trace.rs#391 is written with the assumption that we'll write code like `let v = RootedVec::new()`, and then `v` won't be moved for the remainder of its lifetime. We're breaking that assumption in http://mxr.mozilla.org/servo/source/components/script/dom/bindings/js.rs#623, since the constructor for RootCollec

[2015-04-06 15:18] jdm opened #5537 "Consider opting-out of safety assertions when a thread is panicking"
There are a number of places in the script crate where there are assertions inside destructors that relate to rooting or cleaning up memory. In the case where the thread is already panicking and the invariants don't necessarily hold, these assertions just cause a double panic and make the output more confusing. It might be worth checking `thread::panicking()` before performing them.

[2015-04-06 15:40] Manishearth opened #5538 "Make `Metadata.content_type` use hyper's ContentType"
[`Metadata`](http://doc.servo.org/net_traits/struct.Metadata.html) has a ContentType field, which is currently an `Option<(String, String)>`. We should probably be using an [`Option<ContentType>`](http://hyperium.github.io/hyper/hyper/header/struct.ContentType.html).

Relevant code: https://github.com/servo/servo/blob/master/components/net_traits/lib.rs#L107 (changing it will probably throw up a c

[2015-04-06 15:40] jdm opened #5539 "Make mouse_over_targets a RootedVec"
`Vec<JS<T>>` is unsafe, and we can do better now.

Code: components/script/dom/document.rs

[2015-04-06 15:50] jdm opened #5540 "Make Temporary::root take &self"
Right now calling `root` on a value of `Temporary<T>` consumes it. There are times when this is undesirable, and it makes the code more complex to work around it.

Code: components/script/dom/bindings/js.rs

[2015-04-06 16:00] boghison commented on #5538
I want to take this!

[2015-04-06 16:11] Manishearth commented on #5538
Sure! Let me know here or in IRC if you need help!

[2015-04-06 16:30] nox commented on #4861
I took care of some iterators: https://github.com/servo/servo/pull/5541.

[2015-04-06 16:48] aneeshusa commented on #5540
I'd love to give this a try.

[2015-04-06 17:23] kmcallister commented on #5497
This can also check for multiple versions of a library within a single build.

It should be easy to use the same TOML parser as Cargo itself.

[2015-04-06 17:24] boghison commented on #5538
@Manishearth What should I do with the content_type in document?

[2015-04-06 17:26] Manishearth commented on #5538
It's an `Option<DOMString>`, seems like we want a preparsed value there. That seems okay.

[2015-04-06 17:36] jagtalon commented on #5504
@ehegnes I hope you don't mind me trying this out--it's mostly you're guidance. :) I have https://github.com/jagtalon/servo/commit/cce37aba90484f433983620ce693ff763bd8128b and tests are working but slashdot is giving me this (I'm not sure if it's related or not but I'm investigating):

[code]

[2015-04-06 17:49] ehegnes commented on #5504
@jagtalon Haha, I was just getting ready to post about my "solution": ehegnes@d32deae. I ended up with the same errors as you. I did however try loading YouTube, which previously failed with the `SmallVec32` spill, and it succeeded. Maybe these errors are a different issue.

Please go ahead with the rest of this issue -- your patch is more in the spirit of what jdm was talking about, and its quite

[2015-04-06 17:54] jdm commented on #5504
@jagtalon How exciting! That's definitely a failure that should be reported in a separate issue, though :) Looks like the RootedVec replacement did the job that it's supposed to.

For future reference, it's often only necessary to paste the first panic backtrace that occurs; the others tend to be piled on because the threads try to communicate with the thread that panicked.

[2015-04-06 17:58] jagtalon commented on #5504
@jdm oops alright will do that next time! @ehegnes thanks man! Will make a PR. :)

@jdm quick question though: why was there a need for `libc::c_void`? How do I know when to use it in the future?

[2015-04-06 17:59] jdm commented on #5540
Go for it!

[2015-04-06 18:03] jdm commented on #5504
A need for the explicit cast, you mean? http://doc.servo.org/core/intrinsics/fn.return_address.html returns a pointer to a different type than the one that the method accepts. Is that what you were asking?

[2015-04-06 18:11] jagtalon commented on #5504
@jdm ah I mean why not use `*const u8` as the parameter type of the method instead of `*const libc::c_void`?

[2015-04-06 18:25] nox commented on #4861
And TreeWalker: https://github.com/servo/servo/pull/5545

It sounds weird that the solution is that simple given you seem to imply it shouldn't.

[2015-04-06 18:26] jdm commented on #5504
Oh. No particular reason, except that I usually find it clearer to use `*const c_void` when I mean "pointer to arbitrary memory" rather than `*const u8`, which usually implies a string or buffer to me.

[2015-04-06 18:45] jagtalon commented on #5504
@jdm oh cool thanks!

[2015-04-06 20:29] boghison commented on #5539
Hmm, I am not quite familiar with the custom types that servo uses. How would one go about using iterators with RootedVec (since the current code uses iterators)?

[2015-04-06 20:35] jdm commented on #5539
RootedVec is just a wrapper for Vec, and it dereferences to the underlying vector. That means that all of the regular methods for vector objects should continue to work.

[2015-04-06 20:44] boghison commented on #5539
@jdm Can I give it a try?

[2015-04-06 21:00] jdm commented on #5539
Absolutely!

[2015-04-06 21:09] #5521 closed

[2015-04-06 21:40] jagtalon opened #5548 "StorageManager panicking on slashdot.org"
[code]

Error can be replicated in this branch https://github.com/servo/servo/pull/5543.
You can find more information about it below https://github.com/servo/servo/issues/5504#issuecomment-90166616

[2015-04-06 21:44] jdm commented on #5548
Ah, the implementation of remove_item isn't quite correct in storage_task.rs: instead of calling map, it should call and_then and remove the unwrap. This will yield an Option<String> as desired.

[2015-04-06 23:46] jagtalon commented on #5548
@jdm wow good catch. And yeah it actually works.

![screen shot 2015-04-06 at 7 45 36 pm](https://cloud.githubusercontent.com/assets/81969/7014649/9604d29e-dc95-11e4-8450-ecf8d3a6ffa9.png)

[2015-04-06 23:49] jagtalon commented on #5548
@jdm I have https://github.com/jagtalon/servo/commit/f9817da0c465d6a1d58e5e72e065fe167819fdbd but I should probably wait for https://github.com/servo/servo/pull/5543 to get merged.

[2015-04-07 00:38] jdm opened #5551 "Make the compositor stop depending on the net crate"
There's only one dependency left: http://mxr.mozilla.org/servo/source/components/compositing/constellation.rs#23 . It should be simple to move this trait into net_traits/lib.rs and remove the last dependency; this will make building after modifying net/ super speedy!

[2015-04-07 04:14] jdm opened #5554 "Process NewSession and DeleteSession commands"
https://github.com/jgraham/webdriver-rust/blob/master/src/command.rs#L13

This is how every new webdriver connection will begin. The proper response should be returned (https://github.com/jgraham/webdriver-rust/blob/master/src/response.rs#L7) with a unique session id, and we should store a hashtable of known sessions in the `Handler` struct in `components/webdriver_server/lib.rs`. When a session i

[2015-04-07 04:15] jdm opened #5555 "Document how to test the WebDriver integration"
I have no idea how to go about this yet. Assigning to @jgraham who has the most experience here; I'd like to sort this out soon so stuff like #5554 isn't flying blind.

[2015-04-07 04:16] jdm commented on #5554
@jgraham, what's the json value in the NewSessionReponse supposed to be?

[2015-04-07 04:24] jdm opened #5556 "Process the Get command"
This either requires direct access to a script task or the constellation. I'm inclined to use the latter for now - the webdriver initialization will need to wait until there's a constellation available (just slightly later in `components/servo/lib.rs`), and then the ConstellationChan can be passed to start_server. I suggest adding a `GetRootPipeline` message to `constellation_msg::Msg` that can re

[2015-04-07 05:20] gfxmonk commented on #3218
I was going to have a look into this, but can't reproduce. When running that test I just get a timeout (with no other logging), which matches the expectation in pageload-image.html.ini. Perhaps this has been fixed?

[2015-04-07 07:37] aneeshusa commented on #5446
New to Rust here. Is there any reason we can't do the following?
[code]
This seems fine based on [the only reference I could find on type casting] (https://github.com/rust-lang/rfcs/blob/master/text/0401-coercions.md#casts), and this compiles fine for me.

[2015-04-07 07:50] #5157 closed

[2015-04-07 08:02] Ms2ger commented on #5446
It is something you can do, yes. It is not clear to me what the code is supposed to do, though, and so I can't tell if this is the correct behaviour.

The code dates back to 0fa0940ce9f043d19036894dc4349f9a4b2767aa; @pcwalton, so you remember what you were trying to do?

[2015-04-07 08:11] jgraham commented on #5554
It's a capabilities dictionary. Unfortunately the spec doesn't (yet!) actually say what's supposed to be in that dictionary. This is something that will be fixed soon. For now I think it's a reasonable start to just return an empty dictionary.

FWIW I started working on this issue a bit, but if someone comes along and takes it I'm very happy to build on their work instead :)

[2015-04-07 08:16] jgraham commented on #5555
Right, so, "it's a mess".

web-platform-tests has a webdriver testsuite, but it's not great and may fail horribly if you don't already have a good implementation. It also isn't integrated with wptrunner. I started on a better testsuite in a local branch, that integrates with wptrunner, but so far didn't really write many tests. I would encourage anyone working on this to contribute to that.

In re

[2015-04-07 08:27] jgraham commented on #5554
Oh and fwiw, I think only allowing one session per servo instance is quite acceptable to begin with (and maybe always). The whole "session" concept is really aimed at cases where you have a single proxy controlling a pool of browser instances, rather than at the browsers themselves.

[2015-04-07 08:35] Ms2ger opened #5561 "Element::get_attribute_by_name should call parsed_name itself."
That's what <https://dom.spec.whatwg.org/#concept-element-attributes-get-by-name> does. It's better to match the spec's API's more closely.

Please also add that spec link to the doc comment for `get_attribute_by_name`.

#5490 adds a new caller, so please wait until that lands.

[2015-04-07 08:39] Ms2ger commented on #5561
And remove the spec link above the implementation of `get_attributes`; it shouldn't be there.

[2015-04-07 10:13] mskrzypkows commented on #5561
I'd like to take this.

[2015-04-07 12:34] jdm commented on #3218
Thanks for checking!

[2015-04-07 12:34] #3218 closed

[2015-04-07 12:41] nox commented on #5101
float is a type in WebIDL so there is a parse error. Isn't BinaryName for the name in the bindings' code and not for the name in the WebIDL interface?

[2015-04-07 13:01] jdm commented on #5101
We can call it something other othat `float` and add a BinaryName annotation to make it match.

[2015-04-07 13:39] soul268 opened #5565 "Error building for the first time [wheezy, rustc 1.0.0-beta (9854143cb 2015-04-02)]"
Steps:
1. Installed prerequisites
sudo apt-get install curl freeglut3-dev \

2. git clone https://github.com/servo/servo
3. cd servo
4. Runnig ./mach build produces error:
Usage: git submodule [--quiet] add [-b branch] [-f|--force] [--reference <repository>] [--] <repository> [<path>]
   or: git submodule [--quiet] status [--cached] [--recursive] [--] [<path>...]
   or: git submodule [--quiet] ini

[2015-04-07 13:40] Ms2ger commented on #5565
Update your git install.

[2015-04-07 13:40] #5565 closed

[2015-04-07 13:42] SimonSapin commented on #5291
@plasmachannel are you still working on this?

[2015-04-07 13:48] soul268 commented on #5565
Installing git from wheezy-backports solved this issue
replace git 1:1.7.10.4-1+wheezy1 (using .../git_1%3a1.9.1-1~bpo70+2_amd64.deb)

Thanks!

[2015-04-07 13:52] jdm opened #5566 "Merge rust-xlib and x11-rs"
[x11-rs](https://github.com/Daggerbot/x11-rs/) is an active project with a maintainer that cares; [rust-xlib](https://github.com/servo/rust-xlib/) is a project that other people care about but we don't maintain very well. We use rust-xlib in our [rust-layers](https://github.com/servo/rust-layers) and [rust-azure](https://github.com/servo/rust-azure/) repositories, so at minimum we would need to ma

[2015-04-07 14:44] plasmachannel commented on #5291
Probably won't get to look at it for a while, the amount of free time I have ha a shrunk significantly.

So the answer is no until further notice

[2015-04-07 15:22] #5454 closed

[2015-04-07 15:54] boghison commented on #5556
I might take this, the webdriver crate's code is pretty straightforward :)

[2015-04-07 15:59] jdm commented on #5556
Go for it!

[2015-04-07 16:48] nox commented on #5561
The same should probably be done for remove_attribute_by_name.

[2015-04-07 17:48] #5504 closed

[2015-04-07 17:50] jjnsn commented on #4331
Hi all,

Apologies -- I had been playing with some mail filters and all the notifications from this issue had disappeared from my inbox! Some responses:

You'd be surprised, actually. There's are more 1.0s than I initially expected. It's partly due to the crude nature of the technique.

OK, I can rerun this.

OK.

I think you mean frequency distributions/histograms. Yes, I can do that.

It's just

[2015-04-07 18:29] nox commented on #4861
Node::collect_text_contents(): https://github.com/servo/servo/pull/5578

My fix for TreeWalker was wrong.

The remaining users of get_unsound_ref_forever() are:
* impl TNode for Node;
* TreeIterator;
* TreeWalker.

[2015-04-07 19:28] boghison commented on #5556
How can I test my code?

[2015-04-07 20:17] jdm opened #5580 "Reenable /dom/nodes/getElementsByClassName-31.htm"
It was disabled before we support iframe load events. Now that we support them, we should run the test.

http://mxr.mozilla.org/servo/source/tests/wpt/metadata/dom/nodes/getElementsByClassName-31.htm.ini will need to be updated the with the expected test results after removing the `disabled:` line.

[2015-04-07 21:59] mbrubeck opened #5581 "Add a command-line option to disable style sharing"
The style sharing cache is an important but fragile optimization. Bugs in style sharing are often the cause of layout issues. It can be useful to disable style sharing to test whether this is the case.

We should add an option in [`util::opts`](https://github.com/servo/servo/blob/3fb666cf606f835a9ab9165339e34023ab83a358/components/util/opts.rs) to disable style sharing.  Then add code in [`share_s

[2015-04-07 22:06] mbrubeck opened #5582 "Display a notification after a long `mach build` command"
The Firefox build system has [this code](https://hg.mozilla.org/mozilla-central/file/ab0490972e1e/python/mozbuild/mozbuild/mach_commands.py#l424) to display a system notification popup when the build finishes (if the duration was greater than some threshold).  It'd be great to copy/adapt this for our own [build command](https://github.com/servo/servo/blob/master/python/servo/build_commands.py) and

[2015-04-07 22:26] neojski opened #5585 "Incorrect `namespaceURI`."
Trying to fix the simple #1745 issue I've found that the following

[code]
returns `http://www.w3.org/1999/xhtml`. Firefox, chrome and `tests/wpt/web-platform-tests/html/dom/documents/dom-tree-accessors/document.getElementsByName/document.getElementsByName-namespace.xhtml` show/want `http://www.w3.org/2000/svg`.

[2015-04-07 23:06] jdm commented on #5585
Right now the namespace for each element in provided in the constructor and is immutable. @kmcallister is this something that h5e should be providing, or should the DOM be watching for setting the xmlns attribute and updating the associated namespace?

[2015-04-07 23:26] jgraham commented on #5556
So I had already made a bit of a start on this, which is now pushed to https://github.com/jgraham/servo/commit/aeef1cc79c4194565c77f6e019f10684a8d535d4

It may need a bit of an adjustment to use the latest rev of webdriver-rust (I had a local override so I guess my Cargo.toml is wrong).

[2015-04-08 00:32] yodalee opened #5591 "Implement attribute getter of Location"
Follow up #5397
Currently only getter of `Href`, `Pathname`, `Search`, `Hash` are implemented. The rest getter can be implemented too, includes:
- [ ] protocol
- [ ] username
- [ ] password
- [ ] host
- [ ] hostname
- [ ] port

[2015-04-08 03:08] #5291 closed

[2015-04-08 03:59] #5520 closed

[2015-04-08 06:07] karlcow commented on #4331
No issue. Thanks a lot for the answers.

# `Mozilla/5.0`
I would love to see if `Mozilla/5.0` has still any influences on most scripts. Because most of the UA sniffing scripts I see on client side, I don't remember seeing `Mozilla/5.0` (though I have the feeling that testing without it will reveal surprises.)

# UA sniffing and redirection
Currently what we see with UA sniffing one or a combinatio

[2015-04-08 07:59] Ms2ger commented on #5585
https://github.com/servo/html5ever/pull/120 should fix this.

[2015-04-08 08:12] mskrzypkows commented on #5561
In spec (https://dom.spec.whatwg.org/#concept-element-attributes-remove-by-name) is written, we should use ```get_attribute_by_name``` in ```remove_attribute_by_name```, I think it's another issue.

[2015-04-08 08:58] SimonSapin commented on #4331
I’m not sure what you mean by behave the same, but if sites are doing feature detection (as they should!) they can definitely test for a feature that Firefox implements and Servo doesn’t.

[2015-04-08 09:28] neojski commented on #1745
This is most likely blocked by #5585.

[2015-04-08 09:33] neojski commented on #5585
By the way, how does changing namespace work? I mean, one can modify xmlns attribute of a node and this information is propagated to the whole subtree. Which operation is slow: setting xmlns or getting xmlns? I can imagine either setting xmlns traverses the whole subtree or getting namespace traverses the tree up to the first parent that has its namespace set (via xmlns or prefix).

[2015-04-08 09:45] karlcow commented on #4331
@SimonSapin sorry for the poor writing, but your answer gave me enough hints.
So I guess we can't really test on Firefox:Gecko + Servo UA, but we really need to test on Firefox:Servo to get a sense of the breakage. Thanks.

[2015-04-08 09:57] neojski commented on #5585
Oh, apparently namespace is not modifiable. See: https://developer.mozilla.org/en-US/docs/Web/API/Node/namespaceURI:

[2015-04-08 13:00] boghison commented on #5582
+1, for those who are wondering how: notify osd on linux and display notification on mac. I'll work on this if I have time :)

[2015-04-08 15:03] Ms2ger opened #5600 "Implement TextDecoder#ignoreBOM."
Blocks #5601.
- Spec: https://encoding.spec.whatwg.org/#dom-textdecoder-ignorebom.
- Code: `components/script/dom/textdecoder.rs`, `components/script/dom/webidls/TextDecoder.webidl`.
- Test: `/encoding/textdecoder-ignorebom.html`, `/encoding/idlharness.html`.

[2015-04-08 15:05] Ms2ger opened #5601 "Pass the Encoding test suite."
Tests are under `tests/wpt/web-platform-tests/encoding/`. See [`tests/wpt/README.md`](https://github.com/servo/servo/blob/master/tests/wpt/README.md) for more information on those tests.

[2015-04-08 16:35] metajack opened #5602 "crash on static suite GotG page in DOMStorage"
[code]

[2015-04-08 16:43] wldcordeiro commented on #3734
@jdm You can remove the assigned tag. I've been too busy lately to work on this.

[2015-04-08 16:46] jdm commented on #5602
Is this fixed by #5576?

[2015-04-08 16:52] pgonda commented on #5581
What should the command-line option be?  I assume probably a flag so what character?

[2015-04-08 16:54] jdm commented on #5581
I suggest adding it as an option to the -Z flags, which are for enabling or disabling features that aid in debugging.

[2015-04-08 16:59] mbrubeck opened #5603 "Support the `tabindex` focus flag"
https://html.spec.whatwg.org/multipage/interaction.html#the-tabindex-attribute

The `tabindex` attribute should be parsed by the [`VirtualMethods::after_set_attr` implementation](https://github.com/servo/servo/blob/a745dda8635aa3f84fba19c62911edc64faa1281/components/script/dom/htmlelement.rs#L222) for `HTMLElement` (and also in a `bind_to_tree` method in the same impl?).  Parsing the attribute sho

[2015-04-08 17:18] metajack commented on #5581
Should we move -i to a -Z flag too?

[2015-04-08 17:22] pgonda commented on #5581
I'll be working on this feature! Thanks for tip jdm

[2015-04-08 18:14] pgonda commented on #5581
I think I got this working, how can I put this up for review/push?  Thanks!

[2015-04-08 19:37] jjnsn commented on #4331
Hi there,

Here's the latest run data. Sections below:

* List of all UAs with a numerical identifier for each
* For each pair of UAs, statistics on the dissimilarity measures between each UA
 * Pair = Which UAs compared
 * N = total number of sites compared (usually less than 1000 due to network/other issues)
 * Min = Minimum difflib ratio
 * Max = Maximum difflib ratio
 * Median = Median difflib

[2015-04-08 21:55] jgraham commented on #5556
OK, so I added the code above as a PR in #5610

[2015-04-08 23:04] #2260 closed

[2015-04-09 00:02] karlcow commented on #4331
what was measured? :)

[2015-04-09 00:09] jjnsn commented on #4331
:)

OK, for clarity's sake:

[2015-04-09 01:08] pgonda commented on #5603
This spec says that this attribute's value is an int, and the int helps determine the ordering for sequential focus navigation.  So should the "tabindex focus flag" be set and the int value stored else where?

[2015-04-09 01:33] #4769 closed

[2015-04-09 02:14] karlcow commented on #4331
@jjnsn Thanks! Really cool.

Did you follow the HTTP redirection (301, 302, etc.)? Just to know if we are measuring the diff of the first request or the final destination of the HTTP requests.

Checking the COV:

* 0.236 Firefox OS vs Firefox Android (**Gecko**) (8,10) this is the classical Web Compat issue we have currently. aka redirecting to Mobile or not.
* 0.240 Firefox OS vs Firefox Android

[2015-04-09 03:57] jjnsn commented on #4331
Yup. It just uses the requests library, which follows by default and returns them in its response object. It also looks for meta refreshes:

[code]
I really should just clean up this code and submit it. Will try to in the coming days.

Yup. IMHO I think this approach is OK for coarse-level decisions ("This one will won't work **at all**"), but for small tweaks it would be worthwhile to do somethin

[2015-04-09 07:58] narfg commented on #3882
Fixed by #5493.

[2015-04-09 07:58] #3882 closed

[2015-04-09 08:02] narfg commented on #5203
Fixed in #5493.

[2015-04-09 08:02] #5203 closed

[2015-04-09 11:27] gerv commented on #4331
Hi jjnsn,

Thanks for doing all this work. There are some issues with the strings chosen which, if we could fix, might help us get clearer comparisons.

For example, I think it would help reduce noise in the data if you used the same OS as much as possible. At the moment, the base Firefox string (string 0) is Mac, but the Servo test strings (5 and 6) are X11.

Strings 7 and 9: rv values normally m

[2015-04-09 11:32] gerv commented on #4331
Still, doing some analysis is quite possible. We start by defining a goal, which I suggest should be: we want the same content as Gecko Firefox gets on the same platform.

If that's the goal, then:

* Comparing strings 9 and 10 shows us that string 9 could be a reasonable UA for Servo on B2G as it gets much the same content as standard B2G (difflib 0.977)

* Comparing strings 7 and 8 shows us that

[2015-04-09 12:55] yodalee commented on #5600
I think I can handle this

[2015-04-09 12:59] jdm commented on #5600
I don't believe @Ms2ger is working on this.

[2015-04-09 13:05] Ms2ger commented on #5600
I'm not, go for it.

[2015-04-09 13:23] jdm opened #5616 "[Reverse]NodeChildrenIterator is poorly named"
It actually iterates over the node's siblings, and never looks at any children. We should rename it to NodeSiblingIterator.

[2015-04-09 15:41] Ms2ger opened #5618 "Run our reftests with wptrunner."
Move tests from `tests/ref/` to `tests/wpt/mozilla/tests/css/`, as in #5687. You can use `./mach test-wpt --include _mozilla/css --manifest-update` to run the moved tests and update the manifest at once.

[2015-04-09 16:03] mbrubeck commented on #5603
Yes, that's correct.  The `tabindex` attribute should be parsed as an integer, but the "tabindex focus flag" is a boolean flag that is either set or not.

The [`tabIndex` IDL field](https://github.com/servo/servo/blob/51dd6984f7cc292d77b2330d404ffcff34981214/components/script/dom/webidls/HTMLElement.webidl#L27) should reflect the integer value of the attribute.  The existing `make_uint_getter!` an

[2015-04-09 16:54] #2283 closed

[2015-04-09 16:54] #2206 closed

[2015-04-09 17:07] #5283 closed

[2015-04-09 17:09] Ms2ger opened #5620 "Use RangeError for TextEncoder/TextDecoder"
Blocks #5601.

* Spec: <https://encoding.spec.whatwg.org/#dom-textdecoder>, <https://encoding.spec.whatwg.org/#dom-textencoder>.
* Code: `components/script/dom/textdecoder.rs`, `components/script/dom/textencoder.rs`, `components/script/dom/bindings/error.rs`.
* Test: possibly `/encoding/api-replacement-encodings.html`, `/encoding/textencoder-constructor-non-utf.html`.

To fix this bug, you'll firs

[2015-04-09 18:11] metajack commented on #5602
Yes, that does indeed fix the problem.

[2015-04-09 18:42] pgonda commented on #5616
Should the NodeHelpers function Children be renamed because it just returns a NodeSublingIterator?

[2015-04-09 19:43] jdm commented on #5616
No, since that is returning a sibling iterator for the first child of the node in question, which is equivalent to the children of the node.

[2015-04-09 19:44] #5602 closed

[2015-04-09 20:36] jjnsn commented on #4331
No problem. The easiest thing to do is to just create an etherpad or something where each UA string is listed on a separate lines. Figure out which ones you'd like to test, put them in the list, point me at it and I'll update the issue here, no problem.

[2015-04-09 21:30] pcwalton opened #5624 "Mixed vertical-align with "top" and "bottom" should work properly"
See the comment in `InlineFlow::set_block_fragment_positions`.

[2015-04-09 21:31] pcwalton opened #5625 "Instead of altering styles for replaced content during flow construction, generate the right style in the first place in the cascade"
See comment in `properties::modify_style_for_replaced_content()`.

[2015-04-09 22:06] aneeshusa opened #5626 "Set defaults for sub tests when running all tests"
Issue reproduction:
1) Fresh clone of servo/servo.
2) Run './mach build'.
3 - Optional) Run './mach test-wpt' and watch the tests run.
4) Run './mach test' and watch the tidy, ref and content tests run, but then see it bail out with a KeyError: 'product' when it gets to set_defaults in the wpt tests. Be sad because you can't run tests :(

Thoughts on root cause/diagnosis:
When 'mach test-wpt' is r

[2015-04-09 22:29] aneeshusa commented on #5620
I'd like to give this a try.

[2015-04-09 22:55] suhr opened #5628 "Non-latin input doesn't work"
And for the some reason non-latin input is interpreted as latin (does it use key codes for input?).

[2015-04-09 23:14] #5352 closed

[2015-04-09 23:39] jdm commented on #5626
Paging @jgraham.

[2015-04-09 23:40] jdm commented on #3351
This happened.

[2015-04-09 23:40] #3351 closed

[2015-04-09 23:42] #4839 closed

[2015-04-09 23:43] jdm commented on #5628
Yes, we have basically hardcoded QWERTY key event processing right now. I think this is a duplicate of #4144.

[2015-04-09 23:43] #5628 closed

[2015-04-09 23:44] jdm commented on #5620
Go for it!

[2015-04-10 00:14] karlcow commented on #4331
@gerv started a list on the etherpad.
@jjnsn as you are using python, I made it a dictionary.

https://etherpad.mozilla.org/uaservostats
We can adjust the list.

[2015-04-10 01:27] pgonda commented on #5603
How does this look?  The spec says some of the Elements should only be defaulted with the tabindex flag if they have certain attributes with them, but I could not find away to derive this with only the type_id to work with.

[2015-04-10 02:31] #5230 closed

[2015-04-10 02:52] mbrubeck commented on #5603
You can can [cast the HTMLElement reference to `JSRef<Element>`](https://github.com/servo/servo/blob/a745dda8635aa3f84fba19c62911edc64faa1281/components/script/dom/htmlelement.rs#L193-L194) and then call methods like `get_attribute` on it.  (You can also cast to other interfaces as appropriate.)

Also, I forgot to mention that you should base your work on #5592 which hasn't landed yet but adds a h

[2015-04-10 03:10] pgonda commented on #5603
Thanks!  I'll get started off that branch then.

[2015-04-10 08:38] #5581 closed

[2015-04-10 09:41] #5616 closed

[2015-04-10 10:09] aneeshusa commented on #5620
A few questions about the tests.
- Test naming: I had to change some of the test description strings in order to get the tests to pass. The test logic itself in the functions passed to test() is fine, but for some reason the test name is affecting the test results.
    - Is changing the test names the correct way to fix this, or is there a better way to do it? The test logic looks fine as is, and

[2015-04-10 10:13] #1788 closed

[2015-04-10 10:35] gerv commented on #4331
karlcow: I've updated the list in the Etherpad. Do you have further tweaks?

[2015-04-10 12:29] jgraham commented on #5626
Bah. Yeah. I came across the same issue in gecko the other day. I consider this to be brokenness in mach, but I guess I'll look at it soon.

[2015-04-10 12:47] jdm commented on #5620
@aneeshusa: Expected test result come from the ini files under tests/wpt/meta, like http://mxr.mozilla.org/servo/source/tests/wpt/metadata/encoding/api-replacement-encodings.html.ini . If you're seeing output like "PASS expected FAIL", that means that your changes are causing the checks to succeed, but the ini files currently record an expected failure instead. Does that clear it up?

[2015-04-10 13:05] wenderen commented on #5566
Can I take this up?

[2015-04-10 13:14] #5551 closed

[2015-04-10 14:19] jdm commented on #5566
Of course!

[2015-04-10 14:47] karlcow commented on #4331
@gerv I guess that sounds right. +1 for the postfix.

[2015-04-10 19:12] aneeshusa commented on #5620
OK, thanks, that's a much better explanation than name-changing voodoo. I've gotten the rest of the tests to pass, what should I do about the gbk test (see my previous comment)?

[2015-04-10 19:13] aneeshusa commented on #5620
Also, is there an official way to only run certain wpt tests? I've been using a hacky solution, but if there's a better way that would be much appreciated.

[2015-04-10 19:37] Ms2ger commented on #5620
`./mach test-wpt --include ...`; I'll need to investigate what's up with gbk

[2015-04-10 19:51] jdm commented on #5620
You can also just run `./mach test tests/wpt/web-platform-tests/subdir` or even `./mach test tests/wpt/web-platform-tests/path/to/file.html`.

[2015-04-10 19:53] aneeshusa commented on #5620
Also, as far as I can tell the rust-encoding crate is [wrong](https://github.com/lifthrasiir/rust-encoding/blob/master/src/codec/utf_16.rs#L34) about [the whatwg name for utf-16le and utf-16](https://encoding.spec.whatwg.org/#names-and-labels), so I'll put in a PR upstream.

[2015-04-10 19:55] aneeshusa commented on #5620
Perfect, the --include option is what I was looking for. Thanks!

[2015-04-10 19:57] aneeshusa commented on #5620
Btw, my thoughts on gbk are that gbk should map to gbk instead of gbk18030, as per the spec.

[2015-04-10 19:58] jdm opened #5637 "Improve the error output for old git versions"
[code]
This is no good. We should detect failures when calling `git submodule` commands with `--recursive` and provide a better error output.

Code: update_submodules in python/servo/bootstrap_commands.py

[2015-04-10 20:02] aneeshusa opened #5638 "Prime4commit and similar"
After one of my PRs just got merged, I received an email from contact@prime4commit.com telling me I got a primecoin tip for my commits. I don't find this to be in good taste or behavior - if you agree, could you [open an issue with them](https://github.com/sigmike/peer4commit/issues/new) to disable the [servo "project page"](http://prime4commit.com/projects/190)? Prime4commit is run alongside peer

[2015-04-10 20:09] jdm commented on #5638
FWIW it's possible to disable it per user, regardless if we decide to disable the tips for the project.

[2015-04-10 20:27] pcwalton opened #5639 "Switch `Arc<Box<Image>>` to `Arc<Image>`"
I think it was originally a trait, and now it's not…

[2015-04-10 20:37] pgonda commented on #5603
Hi sorry for another question but did you mean for the default to be set in NodeFlags::new or in after_set_attr function?  You mentioned the casting the HTMLElement which is in the after_set_attr, but this would not be called if the attribute was not listed, so if the default is to be set here how would that work?  Or would after_set_attr be called on tabindex regardless of whether it was specifie

[2015-04-10 20:58] aneeshusa commented on #5639
Working on tihis right now.

[2015-04-10 21:13] mbrubeck commented on #5603
I think the default should be set in a `VirtualMethods::bind_to_tree` implementation on `JSRef<HTMLElement>`.  By the way, I am going to be on vacation for the next week, but other Servo developers like @jdm can continue answering questions here or on the #servo channel on irc.mozilla.org.

[2015-04-10 21:46] pcwalton opened #5640 "Line heights interact badly with font fallback sometimes"
See the issue in #5607.

[2015-04-10 23:17] aneeshusa commented on #5637
It looks like git submodule --recursive was [added in git 1.6.5](https://git.kernel.org/cgit/git/git.git/tree/Documentation/RelNotes/1.6.5.txt#n147), so how about checking the version when we start and bailing with a nice error message if git is too old?

[2015-04-10 23:27] aneeshusa commented on #5637
Err, git submodule --recursive sync needs [at least git 1.8.1](https://git.kernel.org/cgit/git/git.git/tree/Documentation/RelNotes/1.8.1.txt#n98).

[2015-04-10 23:43] srh opened #5643 "libGL errors: "core dri or dri2 extension not found", "failed to load driver: vboxvideo", and a panic"
I get the following output on commit a8b0fb1e79ccc1a3da6ea4f58382b8482cdabd10 after following the README's instructions for prerequisites and running `./mach build` to build servo.

Some of my output seems similar to that reported in #5081 -- the lines with "dri or dri2" and "vboxvideo".

This is while running Xubuntu in Virtualbox.

[code]

[2015-04-11 11:09] jdm commented on #5637
That seems sensible to me.

[2015-04-11 12:01] jdm commented on #5643
@glennw Any insights into this?

[2015-04-11 12:18] jdm opened #5646 "Create unit test framework for DOM safety"
We want to add tests to tests/unit that rely on the `script` crate and integrate https://github.com/laumann/compiletest-rs, such that we can test that our [safety-related compiler plugins](http://mxr.mozilla.org/servo/source/components/plugins/lints/unrooted_must_root.rs) (and [more](http://mxr.mozilla.org/servo/source/components/plugins/lints/ban.rs)) actually prevent the problems we think they d

[2015-04-11 17:05] frewsxcv commented on #5540
This can be closed now that #5550 has merged

[2015-04-11 17:11] frewsxcv commented on #5397
This was fixed in #5423

Thanks for your contribution @yodalee :sparkles:

[2015-04-11 17:13] #5540 closed

[2015-04-11 17:13] #5397 closed

[2015-04-11 23:44] #5548 closed

[2015-04-12 02:09] srh commented on #5643
When I disable 3D acceleration (in the Virtualbox settings for this VM) and try again, a window opens up and successfully(?) renders the page, with the following output in the terminal:

[code]

(Sometimes the text "(10th Edition)" jumps to the same line as the preceding text, depending on where I put the mouse, and also the mouse is quite... flickery, but I assume those are unrelated issues.)

[2015-04-12 03:26] josiahdaniels commented on #5580
I'll do this one.

[2015-04-12 04:23] jdm commented on #5580
Great!

[2015-04-12 08:17] Ms2ger commented on #5620
Gbk looks like it needs an upstream fix, yeah.

[2015-04-12 08:51] gfxmonk commented on #5340
I've tracked this down to an issue in libbacktrace, which is used by rust to generate stack traces (on Linux only). Thankfully it's already been fixed upstream, so I've submitted a PR (rust-lang/rust#24344) to update that dependency and fix this issue.

[2015-04-12 13:45] Ms2ger opened #5654 "Page::window_for_script_dealloation is unused"
@jdm: should we be using this in `shut_down_layout`? (Also, "dealloation" is not a word.)

[2015-04-12 14:17] Jayflux opened #5655 "CalledProcessError: Command '[u'components/servo/target/debug/servo', 'tests/html/about-mozilla.html']' returned non-zero exit status 101"
[code]

Using virtualbox with Ubuntu 14.04
Already installed the pre-reqs

[2015-04-12 14:21] larsbergstrom commented on #5655
Verified running locally and not trying to use X forwarding. Couple of things to check:
1) Are any GL-related environment variables set? `LIBGL_ALWAYS_SOFTWARE` can cause us problems. Also, if `DISPLAY` is not set to ":0" you might have issues.
2) What is the output of glxinfo in this window w.r.t. opengl?
[code]

cc @glennw who knows more about this stuff...

[2015-04-12 14:23] Jayflux commented on #5655
1)
no LIBGL_ALWAYS_SOFTWARE is not set

2)
i don't seem to have glxinfo

[2015-04-12 15:09] jdm commented on #5655
#5643 suggests the virtualbox with 3d acceleration is known to break our video setup.

[2015-04-12 15:12] jdm commented on #5654
No, those are only for use in ScriptMemoryFailsafe. It guess we should replace http://mxr.mozilla.org/servo/source/components/script/script_task.rs#320 with it; it makes no difference right now, but will matter after the SM upgrade.

[2015-04-12 15:12] jdm commented on #5654
This should also cover renaming it to use "deallo*c*ation" in the name.

[2015-04-12 17:17] Jayflux commented on #5655
@jdm should we mention somewhere in the readme to switch this off?

[2015-04-12 17:43] jdm commented on #5655
Sounds like a reasonable suggestion.

[2015-04-12 21:00] josiahdaniels commented on #5580
@jdm Sorry, but I'm kinda new to git. Now that the change has been merged into master what happens to this issue? Do I close it?

[2015-04-12 21:33] josiahdaniels commented on #5654
If I understand correctly, this is as simple as replacing
    `let window = Unrooted::from_temporary(page.window());`
with
   `let window = page.window_for_script_deallocation()`

And of course fixing the typo. If that is correct then I'd like to take this.

[2015-04-12 23:23] axelmagn opened #5658 "Test Failures and Rendering Errors"
I'm building on Arch Linux. I did my best to follow build instructions, but I'm consistently encountering the same error.  There seems to be some sort of rendering fault when visiting `http://www.google.com`:

![default screenshot](https://cloud.githubusercontent.com/assets/1660665/7108094/36110b76-e138-11e4-8ae8-60ae8026708e.png)

This has the associated error of:

    $ ./mach run http://www.goo

[2015-04-12 23:25] aneeshusa commented on #5658
The mach test failure is documented here: #5626. Maybe we should add a note to the README that it doesn't work right now?

[2015-04-12 23:58] aneeshusa commented on #5620
Just put in [the PR for utf-16le](https://github.com/lifthrasiir/rust-encoding/pull/82). Working on gbk right now, and investigating a potential issue with hz-gb-2312.

[2015-04-13 00:53] gobengo commented on #4576
Cool to see recent activity on this, I was just wondering about it today.

Maybe silly question. The origin post on this PR says 'excluding the fetch() API'. Why wouldn't servo also implement the fetch() API? Is that the role of another layer of a browser engine?

[2015-04-13 04:51] aneeshusa commented on #5620
The utf-16le PR just got merged, and I also just put in [a PR to fix GBK encoding](https://github.com/lifthrasiir/rust-encoding/pull/83).

[2015-04-13 04:55] dhananjay92 commented on #5582
I am working on it. I am currently trying to implement simple this functionality for Linux. Will add support for other platforms once it's done for Linux.

*Note: Newbie here. So bear with me, please!*

[2015-04-13 04:58] jdm commented on #4576
The `fetch` API relies on Promise values, which Servo doesn't support yet.

[2015-04-13 05:02] jdm commented on #5580
Yep! In the future you can add "Fixes #NNN" to the commit message and it will be closed automatically.

[2015-04-13 05:02] #5580 closed

[2015-04-13 05:02] lifthrasiir commented on #5620
cc me

[2015-04-13 05:04] jdm commented on #5658
@axelmagn What fault are you reporting, precisely? That is how Servo renders Google right now; there are bugs and/or incomplete implementations in our layout code that make it render incorrectly.

[2015-04-13 05:05] jdm commented on #5582
Great!

[2015-04-13 05:20] aneeshusa commented on #5620
I just tried to bump the components/script crate's version dependency on the encoding crate to 0.2.30, which includes the utf-16le changes so I could test if they worked. Unfortunately, something is limiting the version number to 0.2.25, and I haven't been able to figure out which crate is the cause; the error message [isn't very informative](https://github.com/rust-lang/cargo/issues/782) and grep

[2015-04-13 05:59] axelmagn commented on #5658
@jdm my mistake.  I don't remember where I heard that I should use google as a benchmark page, but whoever told me was obviously incorrect.

[2015-04-13 05:59] #5658 closed

[2015-04-13 06:05] dhananjay92 commented on #5582
[Here](https://github.com/dhananjay92/servo/commit/25d0dd897eef8ca845ec3ef2a41eca23416640b3) is what I am doing.

It works fine for Linux.

Please let me know if I am going in the right direction.
*Note that the printing is currently for debugging only. In the final PR, I will remove all such debugging codes.*

[2015-04-13 06:15] aneeshusa commented on #5620
Also, I opened [an issue](https://github.com/lifthrasiir/rust-encoding/issues/84) for a deviation from the spec for hz-gb-2312; if the current implementation is kept it isn't too hard to work around in servo (just an extra pattern in a match statement), so I'm not too worried about which way that goes.

[2015-04-13 08:47] Ms2ger commented on #5620
I would suggest just fixing the `RangeError` issue, and your upstream changes will be pulled in at some point later.

[2015-04-13 11:17] narfg opened #5660 "Scroll speed too low"
Commit 9f3b3083817c2ac5b2aaf683c9ebe85c03571f82 made scrolling with the mouse wheel annoyingly slow. To be specific, this is not a performance problem but the scroll step size is too low.
I use Linux so this issue may be dependent on the OS.

[2015-04-13 14:08] jdm commented on #5582
@dhananjay92 Seems sensible to me! The other choice for linux would probably be invoking the `notify-send` process.

[2015-04-13 14:11] jdm commented on #5660
cc @glennw and @pcwalton

[2015-04-13 14:12] jdm commented on #5660
Perhaps this is something that should be normalized in glutin, so we don't need to postprocess the received scroll events?

[2015-04-13 14:26] jdm opened #5663 "Implement HTMLMetaElement.{name,content}"
Spec: https://html.spec.whatwg.org/multipage/semantics.html#the-meta-element
Code: components/script/dom/webidls/HTMLMetaElement.webidl, components/script/dom/htmlmetaelement.rs

These should just be simple string setters/getters that use the `make_getter` and `make_setter` macros. Be sure to run `./mach test-wpt` and see if there are any changes to the test outputs reported.