[2018-08-22 14:46] jdm commented on #21350
@pcwalton Given your familiarity with layout, does the previous comment make sense?

[2018-08-22 14:57] gterzian commented on #21478
Thanks!

Ok so Mac users: it worked for me with an install of llvm via homebrew, followed by:
1. `./mach clean`
2. `LIBCLANG_PATH="/usr/local/Cellar/llvm/6.0.1/lib" ./mach build -d`

The `clean` is absolutely necessary...

[2018-08-22 15:08] nox commented on #21478
The `LIBCLANG_PATH` variable isn't necessary AFAIK, at least on my machine, this path takes priority over others.

[2018-08-22 15:10] nox commented on #21478
Oh I missed this, disregard me. I would prefer if we find a way to not have to tell people to export environment variables.

@qdot Would you consider a bug that `lllvm/4.*` takes priority over `llvm/6.*` in `clang-sys`?

[2018-08-22 15:11] jdm commented on #21478
@kylemayes, not qdot.

[2018-08-22 15:12] jdm commented on #21478
We may want to see if https://github.com/KyleMayes/clang-sys#supported-versions could force a newer version that's supported.

[2018-08-22 15:13] nox commented on #21478
Alternatively, calling `.rev()` on the search path iterator would also fix the issue.

https://github.com/KyleMayes/clang-sys/blob/67f7d8c25eff694d7ba58ff42da6e5b502413b7d/build.rs#L277

[2018-08-22 15:14] jdm commented on #21475
This looks like it's already handled by https://github.com/servo/rust-offscreen-rendering-context/blob/master/src/gl_context.rs#L227.

[2018-08-22 15:50] atouchet commented on #21483
WebRender issue: https://github.com/servo/webrender/issues/2978

[2018-08-22 15:52] atouchet commented on #21479
Is this the same issue as #21414?

[2018-08-22 15:53] gterzian commented on #21478
it seems to work for me, without the homebrew one actually. Perhaps the `homebrew uninstall llvm` actually also removed an older version that was previously there? I don't know. Anyway, default mac, without flag, seems to work after all...

[2018-08-22 16:05] jdm commented on #21479
Yes.

[2018-08-22 16:05] #21479 closed

[2018-08-22 16:35] nox commented on #21478
So without my patch, it builds with LLVM 4 only (AFAIK). With my patch, it builds with everything.

I think we should make `clang-sys` reverse its search path nonetheless.

[2018-08-22 16:46] KyleMayes commented on #21478
I agree this should be improved.

Instead of changing the order in which directories are visited, I think it might be better to collect all `libclang` binaries that can be found, then picking the highest version found (preferring the unversioned `libclang.so` if found).

The way it works now simply picks the highest version in the first directory in which one or more instances of `libclang` are fo

[2018-08-22 16:50] jdm opened #21485 "Check for renderbuffer storage exceeding max renderbuffer size"
From 4.4.3, renderbufferStorage (https://www.khronos.org/registry/OpenGL/specs/es/2.0/es_full_spec_2.0.pdf#nameddest=section-4.4.3):
[code]
The implementation of WebGLRenderbuffer::storage does not include this check.

[2018-08-22 18:29] #21457 closed

[2018-08-22 19:08] jdm opened #21486 "Intermittent pass in /css/css-transitions/properties-value-001.html"
[code]

[2018-08-22 22:34] pcwalton commented on #21350
I didn't anticipate that the origin of the root would be anything other than 0,0, no.

I believe that is the best way to do it, yes. Changing `origin` there should effectively translate everything.

[2018-08-23 03:39] jdm opened #21489 "appveyor build fails linking winapi"
[code]

[2018-08-23 03:39] highfive commented on #21489
cc @aneeshusa

[2018-08-23 03:43] retep998 commented on #21489
vcvars64.bat failed to add the Windows SDK to `LIB`?

[2018-08-23 03:46] retep998 commented on #21489
Oh I see, you're just overwriting `LIB` so all the hard work that `vcvars64.bat` did was undone.

https://github.com/servo/servo/blob/3b9055510a506661b228dd39be8f3dcb2d4750aa/appveyor.yml#L57

Try appending instead of overwriting.

[2018-08-23 03:50] retep998 commented on #21489
Breakage was caused by https://github.com/servo/servo/pull/21029/files#diff-180360612c6b8c4ed830919bbb4dd459R52 which added the `vcvars64.bat` call.

[2018-08-23 04:06] jdm commented on #21489
Thanks for the hint! #21490 seems to fix it.

[2018-08-23 08:53] #21489 closed

[2018-08-23 10:22] gterzian opened #21491 "Fetch Worker Pool"
Would it make sense to replace this "inline" thread:

https://github.com/servo/servo/blob/544f73a9fb82c6a050b6032ed15e470354a6df47/components/net/http_loader.rs#L1110

With one, or a pool of, dedicated threads that would be receiving messages sent from `http_network_fetch`containing the stuff that is currently "moved" into the above thread spawned inline?

Such a channel would effectively act as a

[2018-08-23 12:35] jdm commented on #21491
Yes, limiting the total number of connections by creating a pool would be sensible.

[2018-08-23 13:50] jdm opened #21492 "Intermittent pass in /css/css-transitions/properties-value-inherit-002.html"
[code]

[2018-08-23 14:02] jdm opened #21493 "Intermittent pass in /_webgl/conformance/ogles/GL/cos/cos_001_to_006.html and /_webgl/conformance/ogles/GL/sin/sin_001_to_006.html and /_webgl/conformance/ogles/GL/acos/acos_001_to_006.html"
This just means that the test ran fast enough to actually complete before the timeout is reached for once.

[2018-08-23 15:42] SimonSapin commented on #21455
I’ve published https://crates.io/crates/selectors/0.20.0 and https://crates.io/crates/kuchiki/0.7.1.

https://github.com/servo/servo/pull/21494 will close this issue but still needs to go through CI. (I didn’t wait because it only increments the version number.)

[2018-08-23 16:38] tyoc213 commented on #21414
OMG gstreamer alone is like 132Mb of install...

[2018-08-23 16:53] #20531 closed

[2018-08-23 17:11] atouchet commented on #10209
This issue no longer seems to be keeping a record of edits anymore for some reason.

[2018-08-23 17:18] tigercosmos opened #21495 "Shall we delete the comment `fixme(#3553)`?"
https://github.com/servo/servo/blob/a1abdde8c62d01a144d12ae4b425d6b062bad41b/components/script/dom/htmlformelement.rs#L495-L498

#3553 is closed.
There is a merged PR in #15938.

[2018-08-23 17:18] tigercosmos commented on #21495
cc @KiChjang

[2018-08-23 17:45] hcs64 opened #21496 "Missing dependencies in Windows build"
When installing from the .msi or .zip I get errors for the following missing dlls:
libgstaudio-1.0-9.dll
libgstreamer-1.0-0.dll
libgobject-2.0-0.dll
libgstapp-1.0-0.dll

If there is a readme explaining how to install these on Windows I haven't found it.

[2018-08-23 17:46] #21496 closed

[2018-08-23 18:27] jdm commented on #21495
I don't think that code has been updated to take advantage of the changes in #3553 yet.

[2018-08-23 18:51] tigercosmos commented on #21495
I think we usually fill the issue number, which is opened for the description, into `FIXME(#<number>)`.

In this case, maybe modify this comment to avoid misleading is better.
And since the PR is already merged, it could also be:
[code]

[2018-08-23 19:14] hcs64 commented on #21414
I'm also seeing an error for missing nspr4.dll after I copied all the DLLs from a GStreamer install.

[2018-08-23 19:19] PsiACE opened #21497 "Is it possible to update the dependencies at compilation(mozjs_sys)?"
OS: Fedora 28 x86_64

Get `fail` when I execute the command `./mach build --release`, since compiling `mozjs_sys v0.60.1` requires `autoconf 2.13`.

But `autoconf 2.13` is a 32-bit program and relies on many other packages. On my system, since the lack of a 32-bit repo. the only way to do it is to manually download and install it. I downloaded at least 21 .rpm packages and had to use `rpm -i --for

[2018-08-23 19:33] gterzian opened #21498 "Mozjs error"
`error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)`
`thread 'main' panicked at 'Should generate JSAPI bindings OK: ()', libcore/result.rs:945:5`

While compiling on OS X 10.13.

Is a manual flag necessary?

[2018-08-23 19:33] jdm commented on #21498
This should have been fixed by https://github.com/servo/servo/pull/21470. Do you have the most recent version from master?

[2018-08-23 19:35] gterzian commented on #21498
Yes, this actually started happening after a rebase from master about an hour ago...

[2018-08-23 19:36] PsiACE commented on #21446
I think we can at least add it correctly to https://github.com/servo/servo#other-dependencies first. Take `Fedora` as an example, add gstreamer to the given `dnf install` directive.

Updated instructions:
[code]

This does not completely avoid compile-time problems, but it can reduce the number of interrupts.

[2018-08-23 19:39] jdm commented on #21446
Could you make a pull request with that change, please?

[2018-08-23 19:39] gterzian commented on #21498
Let me double check, I think I might have messed with something in `Cargo.lock`...

[2018-08-23 19:40] jdm commented on #21414
That probably came from https://github.com/servo/servo/pull/21029.

[2018-08-23 19:41] PsiACE commented on #21446
ok

[2018-08-23 20:27] gterzian commented on #21498
It persists, I'm building this branch https://github.com/servo/servo/pull/21325 exactly as it is(rebased off master)

[2018-08-23 20:28] KiChjang commented on #21495
I think the better solution here is to fix the underlying issue, rather than to fix the wording of the comments. @tigercosmos Do you want to make a PR for the changes?

[2018-08-23 20:36] gterzian commented on #21498
Yet it also happens if I build directly from master, so it's unrelated to that branch...

[2018-08-23 20:50] JacksonCoder commented on #21466
I would like to work on this issue, if possible. Just to be clear, the goal is to read the file in chunks, rather than in one go?

[2018-08-23 21:05] jdm commented on #21498
You may need to update the version of llvm that you have installed? And possibly remove the old one?

[2018-08-23 22:46] #21455 closed

[2018-08-23 22:48] KiChjang commented on #21466
@JacksonCoder This may be a little bit more involved. We should be using the [FetchTaskTarget](https://github.com/servo/servo/blob/99099d860d205ce52b6e885fa5d8bdfac65e4a59/components/net_traits/lib.rs#L162) as the destination for the result of the file read, calling `process_response_chunk` when necessary. You can take a look at [Step 20 of main_fetch](https://github.com/servo/servo/blob/fd64f11ef

[2018-08-23 23:36] JacksonCoder commented on #21466
Since we're returning the contents of the entire file in the `ResponseBody`, how would reading the file in chunks improve memory usage? (which is what I assume is the goal of reading it in chunks)

[2018-08-23 23:39] kpcyrd commented on #21455
Awesome, thank you!

[2018-08-24 02:38] tigercosmos commented on #21495
I can have a try. I don't look much about this code. @KiChjang Do you remember why you said it is incorrect, and what do you expect it would be like?

[2018-08-24 03:25] PsiACE commented on #21446
Sorry, I shouldn't have referenced it in PR, and now it's been turned off by mistake.

[2018-08-24 06:30] paulrouget opened #21504 "Android: properly set the pixel density"
As of now, the pixel density is hard coded: https://github.com/servo/servo/blob/3d99288f2089af3ecb24825ad23b79932a29fdb6/ports/libsimpleservo/src/api.rs#L468

The same way we set the width and height of the window, we should set the density as an `init` parameter.

I think we can use this Android API to get the proper density: https://developer.android.com/reference/android/util/DisplayMetrics

[2018-08-24 06:30] highfive commented on #21504
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-08-24 06:31] paulrouget commented on #21326
@NiLSPACE is it still happening?

[2018-08-24 08:59] gterzian commented on #21498
Ok, it's working now. What I did:
1. `brew install llvm`
2. `export LDFLAGS="-L/usr/local/opt/llvm/lib"` and `export CPPFLAGS="-I/usr/local/opt/llvm/include"`

I guess it will depend on what installed on people's machine to begin with...

[2018-08-24 09:02] paulrouget opened #21505 ""surane" demo doesn't work on Android"
Testing this on Android: http://output.jsbin.com/surane/quiet

On a release build, I get a black screen and the GL thread is blocked.

On a debug build, I get a lot of flickering (maybe https://github.com/servo/servo/issues/21326) and then a crash:

[code]

[2018-08-24 11:27] paulrouget commented on #21505
notes:

- changing the border radius makes the page stay blank
- more the 3 or 4 elements, starts flickering; more, freeze

The flickering looks like an Android-specific issue.

[2018-08-24 12:17] NiLSPACE commented on #21326
No, but I recently got a new phone and I've never been able to reproduce this on it. Instead Servo says it finished loading even though it remains on the previous page.

I do still have my old phone laying around, but I won't be able to test it until tomorrow.

[2018-08-24 13:59] jdm opened #21510 "Intermitte fail in /css/css-transitions/properties-value-inherit-001.html"
[code]

[2018-08-24 15:26] jdm opened #21511 "Create a checklist for adding new native build dependencies"
I would like to see a wiki page that contains a checklist that needs to be addressed each time a pull request adds a build dependency that requires changes to the native build environment (most recently https://github.com/servo/servo/pull/21158 and https://github.com/servo/servo/pull/21029). Items on this checklist should include:
* updating the build setup instructions in README.md for all tier 1

[2018-08-24 15:47] Manishearth commented on #21511
In general can we move from wiki pages to in-tree docs? They feel a bit more permanent.

Salt does this already (somewhat) and it's pretty nice.

I can write this when I get time.

[2018-08-24 15:51] PsiACE opened #21512 "Add autoconf 2.13 for Fedora"
Some versions of Fedora for x86_64(E.g Fedora 28) may not support autoconf 2.13.

Add some instructions to Readme.md to improve this situation.

[2018-08-24 15:54] jdm commented on #21512
https://www.rpmfind.net/linux/rpm2html/search.php?query=%2Fusr%2Fbin%2Fautoconf-2.13 shows noarch packages for Fedora 28; are you positive it's not available to you? Specifically: https://www.rpmfind.net/linux/RPM/fedora/28/x86_64/a/autoconf213-2.13-39.fc28.noarch.html

[2018-08-24 16:00] PsiACE commented on #21512
@jdm I will try some more because there seems to be some conflict. But at least adding to README.md makes the process painless.

[2018-08-24 17:11] ferjm opened #21513 "Intermittent timeout in /worklets/test_paint_worklet_timeout.html"
[code]

[2018-08-24 20:08] Manishearth commented on #21416
https://github.com/servo/saltfs/pull/882

[2018-08-24 20:25] Manishearth commented on #21414
So I think the way we can make this work is using an MsiPackage element: http://wixtoolset.org/documentation/manual/v3/xsd/wix/msipackage.html

We may also need to tweak the runtime LIB/etc paths, though, I'm not sure how to do that. @larsbergstrom do you know?

[2018-08-24 20:26] Manishearth commented on #21414
We can also temporarily stub gstreamer on windows while we figure this out.

[2018-08-24 20:32] larsbergstrom commented on #21414
Does gstreamer have an MSM? If so, you can just include that in our MSI and BOOM. I think that https://gstreamer.freedesktop.org/data/pkg/windows/1.14.2/gstreamer-1.0-x86_64-1.14.2-merge-modules.zip

is what we want. It's a big pile of MSMs, but generally with a dependency you want to just pull that in and it'll handle not only all the files but also any registry keys, etc. that are expected.

[2018-08-24 21:09] #21512 closed

[2018-08-24 22:12] jdm commented on #21466
The goal is not necessarily about reducing overall memory usage, but making the behaviour match for consumers of the network response - right now, users of the file protocol will observe a single process_response_chunk message that contains the entire file. This means that any code that can deal with incremental responses (like the HTML parser) don't get any chance to make use of the incomplete bo

[2018-08-25 00:32] jdm opened #21518 "Intermittent pass in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-exception-vs-return-xml.window.html"

[2018-08-25 08:57] CYBAI commented on #21498
I ran into the same issue and @gterzian 's solution saved my day! Thanks!

I can compile successfully after doing following three commands.

[code]

[2018-08-25 15:55] iddan commented on #19089
When tried to compile:
[code]

[2018-08-25 17:04] NiLSPACE commented on #21326
This is still happening on my old Huawei P10 lite while it doesn't happen on my Nokia 8 Sirocco. Though, as I said earlier it doesn't render anything at all on the Nokia.

[2018-08-25 17:30] nox opened #21522 "Implement cross-origin checks for WebGL textures"

[2018-08-26 01:14] wizofe commented on #21504
@highfive: assign me
thanks mate ^_^

[2018-08-26 01:14] highfive commented on #21504
Hey @wizofe! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-08-26 17:43] #21416 closed

[2018-08-26 21:07] #21397 closed

[2018-08-27 03:36] ms2300 commented on #21467
Can I take this on? Anything more I should know?

[2018-08-27 03:42] gterzian opened #21527 "Refactor `CommonScriptMsg::Task` to include the name of the task-source"
Message enum is at:
 https://github.com/servo/servo/blob/da36740f0b1a48f5a4b4ed86318e110f1e63554b/components/script/script_runtime.rs#L54

Name of task sources is found at:
https://github.com/servo/servo/blob/master/components/script/task_source/mod.rs#L24

The `CommonScriptMsg::Task` should include the task-source name.

Follow up on https://github.com/servo/servo/pull/21388/

See https://github.

[2018-08-27 10:37] paulrouget commented on #21403
Even the UI assets? Like back and forward icons?

[2018-08-27 10:38] paulrouget commented on #21504
@wizofe let me know if you need help :)

[2018-08-27 12:10] jdm commented on #21403
Yes. We do not want our application to use any of Firefox's assets.

[2018-08-27 12:12] jdm commented on #21467
No, I filed it separately from #21466 for a reason, since you will need to use a different method for chunkin the blob bodies than the file bodies. And yes, please do :)

[2018-08-27 15:28] JacksonCoder commented on #21466
I see. So I should incrementally read the file in chunks and call `process_response_chunk` with each chunk on the `FetchTaskTarget` instance?

[2018-08-27 15:51] JacksonCoder commented on #21466
What should the ideal size be for each chunk?

[2018-08-27 18:57] ms2300 commented on #21467
Ahh ok, I'll let you know if I have any more questions.

[2018-08-27 20:37] jdm commented on #21466
I would try 32kb.

[2018-08-28 00:02] fabricedesre opened #21530 "Startup crash on Linux"
This is a release build running on ubuntu budgie 18.04, Servo revision is 9e1ec1d5bbc22842c10633ce51ff07fd9d06e9ad :

[code]

[2018-08-28 04:05] tigercosmos commented on #21333
@paulrouget  Is the screenshot of the WIP prototype above on the way? or just drawn by PS?
Also, what is "chrome WR document", and what does the word "chrome" means here?

[2018-08-28 10:31] AgustinCB commented on #21527
I'd like to give this a shot.

[2018-08-28 12:28] SimonSapin commented on #20489
When I last tried to fix this I hit a wall with https://github.com/rust-lang/cargo/issues/5376

Fixing https://github.com/rust-lang/rust/issues/30783 would remove the need for one of the flags we set.

[2018-08-28 12:54] gterzian commented on #21527
You're welcome to do so. Depending on when https://github.com/servo/servo/pull/21388 merges, I will either have to rebase off of your work, or you could integrate yours into the `TaskQueue`...

[2018-08-28 12:56] AgustinCB commented on #21527
Awesome! I'll start working on this in the afternoon. Thanks.

[2018-08-28 13:12] CYBAI commented on #21055
I ran into the same issue with following error logs

<details>

[code]

</details>

[2018-08-28 15:34] fabricedesre commented on #21530
Indeed, thanks!

[2018-08-28 15:35] ferjm commented on #21443
It seems that this was already fixed in https://github.com/servo/servo-with-rust-nightly/commit/1ada6173e621ddcc80f9cc3a28354a160079d3e5 , so I am closing this issue. Please, reopen if you still think it's valid.

[2018-08-28 15:35] #21443 closed

[2018-08-28 16:49] ferjm commented on #21389
This one looks like this intermittent chocolatey issue: https://status.appveyor.com/incidents/kqwjgg14m71g

I am closing this issue, since AppVeyor seems to be working fine recently https://ci.appveyor.com/project/servo/servo/history Please, reopen if you consider that this is still valid.

[2018-08-28 16:49] #21389 closed

[2018-08-28 17:18] JacksonCoder commented on #21466
Alright, I pushed my code to [my local fork](https://github.com/JacksonCoder/servo/tree/chunk-file), under the `chunk-file` branch.

[2018-08-29 01:34] CYBAI commented on #21055
Finally, for my case, I found the root cause is

In #21498, I only tried to `brew install llvm`.

The solution for my case is

[code]

Then, I can build successfully!
With `--with-toolchain`, it should install those necessary `dylib`.

(Before rebasing to the latest master on l9e1ec1d, I can still build servo successfully.)

[2018-08-29 10:08] #21530 closed

[2018-08-29 13:03] ferjm commented on #21429
AFAICT building for Windows work. #21437 introduced the instructions to build for Windows after GStreamer was added and #21515 removed the steps missing from these instructions. So I think we can close this now. Please, reopen if you think this is still a valid issue.

[2018-08-29 13:36] SimonSapin commented on #21443
I fixed the immediate build failures by copying the config in this repo, but downloading a random tarball still doesn’t feel like a satisfying solution. Hopefully we’ll figure out something better at some point.

[2018-08-29 17:26] ferjm commented on #21055
`--with-shared-libs` might also be required

[2018-08-29 17:54] ferjm commented on #21429
Ugh, I meant to close it before.

[2018-08-29 17:54] #21429 closed

[2018-08-29 21:02] wizofe commented on #21504
@paulrouget I may need indeed. So, if I understand correctly, I need to add/initialise a new variable on the [init](https://github.com/servo/servo/blob/3d99288f2089af3ecb24825ad23b79932a29fdb6/ports/libsimpleservo/src/api.rs#L95).

Now, how can I use the Android API? Is there any way to access the DisplayMetrics object or should I create one on my own? Step by step is appreciated :)

Thanks for yo

[2018-08-30 03:54] CYBAI commented on #21055
Yes, as @ferjm mentioned, `--with-shared-libs` is required! Last time, I forgot to `./mach clean` first.
So, after `./mach clean` and then `./mach build -d`, I cannot build successfully if I only install `llvm` with `--with-toolchain`.

After using both flags, I can build successfully now!

If someone gets into this issue as well, please use both flags!

[code]

[2018-08-30 12:37] jdm opened #21541 "Measure memory usage for crossbeam channels"
According to https://github.com/servo/servo/pull/21325/commits/e906340a51c3fbcc612e38d7ab1bd26b91884491#r207492564:

The amount of memory allocated by the channel is at least:

[code]

By the way, since Servo may create multiple `Sender`s but only one `Receiver` per channel, shouldn't we be measuring the size of `Receiver`s rather than `Sender`s?

[2018-08-30 12:37] highfive commented on #21541
cc @fitzgen

[2018-08-30 12:44] jdm opened #21542 "Intermittent pass/fail in /workers/worker-from-blob-url.window.html"
[code]

[2018-08-30 14:18] jdm commented on #21336
[code]

[2018-08-30 16:18] jdm opened #21544 "Intermittent pass in /html/semantics/embedded-content/the-img-element/non-active-document.htm"
[code]

[2018-08-30 17:59] jdm opened #21546 "Intermittent pass in /css/CSS2/borders/border-left-color-139.xht"

[2018-08-30 18:10] ms2300 commented on #21467
So I think I have the changes (in concept at least) done but am having trouble getting the mach system to build correctly. This is true both for the current master and my own branch, any help would be really appreciated.

Trace:
`
--- stderr
error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later), err: true
thread 'main' panicked at 'Should generate JSAPI bindings OK: ()'

[2018-08-30 18:26] gterzian opened #21548 "Intermittent TIMEOUT "/_webgl/conformance/glsl/misc/shader-with-non-reserved-words.html""

[2018-08-30 18:33] jdm commented on #21548
Tracking in #16216.

[2018-08-30 18:33] #21548 closed

[2018-08-30 18:33] jdm opened #21549 "Intermittent pass in /html/semantics/embedded-content/the-img-element/non-active-document.html"
[code]

[2018-08-30 18:33] jdm commented on #21549
#21544

[2018-08-30 18:33] #21549 closed

[2018-08-30 18:36] jdm commented on #21467
Ah, that's https://github.com/servo/servo/issues/21498 and you can try the solutions described in that issue.

[2018-08-30 19:12] jdm opened #21550 "Intermittent pass in /html/syntax/parsing/DOMContentLoaded-defer.html"
[code]

[2018-08-30 21:46] #19997 closed

[2018-08-31 02:45] jdm opened #21552 "Intermittent failure in /_mozilla/mozilla/task_queue_throttling.any.worker.html"
cc @gterzian
[code]

[2018-08-31 03:10] ms2300 commented on #21467
I just opened a pr for this ticket and am looking for feedback b/c this is most likely not the perfect way to attack the problem (I'm worried I'm not fully understanding what exactly needs to be done)

[2018-08-31 05:51] gterzian commented on #21552
Thanks, interesting to see it happened on linux-rel-css again, this happened while developing as well, (see https://github.com/servo/servo/pull/21388#issuecomment-413521113).

The problem seems to be that the file reading tasks are simply "too slow to come" in on that particular box, which means the perf timeline task isn't throttled since the event-loop isn't busy(the filre reading task come in o

[2018-08-31 08:10] nox commented on #11681
This was not actually implemented, we just print an error.

[2018-08-31 08:36] nox commented on #21485
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glRenderbufferStorage.xml

[2018-08-31 08:38] nox opened #21556 "Implement drawing a 3D canvas into a 2D canvas"

[2018-08-31 08:58] nox commented on #21132
*So* many tests are blocked on this.

[2018-08-31 10:26] AgustinCB commented on #21527
I just finished the integration previous to your commit. I just rebased and started the other instructions. Hopefully will have a pr in the weekend :)

[2018-08-31 12:31] Manishearth opened #21558 "Implement ChannelSplitterNode and ChannelMergerNode"
servo-media already has support for these, we just need to add the DOM APIs.

There's a bunch of bounds checking for parameters that needs to be done here, but otherwise it should be straightforward.

I intend to implement these, but others should feel free to pick it up, it's not that hard (and I can mentor)

[2018-08-31 19:38] JacksonCoder commented on #21466
Should I modify tests, or just make a PR?

[2018-08-31 19:40] jdm commented on #21466
I don't think there are any tests that could observe this.

[2018-08-31 21:43] jdm opened #21561 "Servo build time dashboard exceeds size limit"
The data slurped down on https://servo.org/dashboards/ for the build times shows an error that complains that a file exceeds 100MB.

cc @asajeffrey

[2018-08-31 21:43] highfive commented on #21561
cc @aneeshusa

[2018-09-01 01:21] nox opened #21563 "Implement MessageEvent.source"

[2018-09-01 01:30] nox opened #21564 "Implement animation events"

[2018-09-01 01:37] nox opened #21565 "Implement the CSS Font Loading Module"
https://drafts.csswg.org/css-font-loading/

[2018-09-01 01:38] mandreyel commented on #15507
@highfive assign me! I don't think I'll start working on this until #21559 is merged, but it seems to be in the same problem domain so I'm calling dibs on it lest it be snatched from me by some enterprising soul in the meantime :D hope I'm not being too bold here

[2018-09-01 01:38] highfive commented on #15507
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-09-01 01:40] nox opened #21566 "Investigate why font-display-preload.html times out"

[2018-09-01 03:58] tigercosmos commented on #21563
https://github.com/servo/servo/blob/16bdf9225dd979feeea1580f78041016ce41643f/components/script/dom/webidls/MessageEvent.webidl#L11

https://html.spec.whatwg.org/multipage/comms.html#messageeventsource

https://developer.mozilla.org/en-US/docs/Web/API/MessageEvent/source

[2018-09-01 09:36] nox opened #21570 "Investigate why font-style-interpolation.html times out"

[2018-09-01 09:43] nox opened #21571 "Investigate crash in multicol-containing-002.xht"
[code]

[2018-09-01 09:47] nox opened #21572 "Investigate FlowRef refcount crashes in multicol tests"
* `tests/wpt/web-platform-tests/css/css-multicol/multicol-containing-002.xht`
* `tests/wpt/web-platform-tests/css/css-multicol/multicol-fill-auto-002.xht`
* `tests/wpt/web-platform-tests/css/css-multicol/multicol-fill-balance-001.xht`
* `tests/wpt/web-platform-tests/css/css-multicol/multicol-rule-002.xht`
* `tests/wpt/web-platform-tests/css/css-multicol/multicol-rule-fraction-003.xht`
* `tests/wpt

[2018-09-01 17:11] CYBAI opened #21574 "Implement self.queueMicrotask()"
whatwg/html#2789

Spec: https://html.spec.whatwg.org/multipage/#microtask-queuing

Related Bugzilla for Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1480236

Also, we'll need to update the `webidl` of `WindowOrWorkerGlobalScope` for the method

[code]

Ref: https://html.spec.whatwg.org/multipage/webappapis.html#windoworworkerglobalscope-mixin:dom-queuemicrotask

[2018-09-01 17:38] pyfisch opened #21576 "Update the Rust Toolschain less often"
As a casual contributor I find it annoying that I often need to recompile all of servo before I am able to work on anything. On my machine this takes around 45 min for a full debug build. This year the version of the Rust toolchain was changed 11 times already or every three weeks on average. Just now the toolchain was updated to 2018-08-28 from 2018-08-26. I assume this is because of some problem

[2018-09-01 17:51] tigercosmos commented on #21576
I think pre-built dependencies is a good idea. Just like Firefox does.

[2018-09-01 21:35] nox opened #21577 "Root element with display:none is not handled correctly"
* `tests/wpt/web-platform-tests/css/CSS2/box-display/root-box-003.xht`

[2018-09-02 02:11] jdm commented on #21576
We tend to update Servo when there is a breaking change caused by the most recent nightly. We have a nightly build that takes the latest Servo revision and the latest rustc nightly and checks if it builds; if we don't address breakage, we lose insight into any subsequent breakage that is introduced. I don't see a good way to avoid regular rustc updates as long as we remain on nightly rustc.

[2018-09-02 04:44] dtolnay commented on #21059
https://github.com/rust-lang-nursery/rustfmt/issues/2883 would be the place to fix normalizing doc comments to `///`.

[2018-09-02 10:27] nox opened #21579 "Investigate why css-style-declaration-modifications.html and inline-style-001.html times out"
Seems like there is something wrong going on with the loop of the third test.

https://github.com/servo/servo/blob/b211e45bb0106127edbedb31cb36209da3934eeb/tests/wpt/web-platform-tests/css/cssom/css-style-declaration-modifications.html#L45-L47

[2018-09-02 10:29] nox commented on #21579
Test `inline-style-001.html` times out for the same reason.

[2018-09-02 12:27] AgustinCB commented on #21527
There are some tests failing with this change that I wasn't expecting. I'm digging into them to understand why.

[2018-09-02 15:03] CYBAI commented on #21373
I'm just curious, when `rustfmt` tasks for all components are done, should we add `rustfmt` to be part of `./mach test-tidy`?

[2018-09-02 15:10] jdm commented on #21373
Yes. We will replace all of the code style checks in tidy.py with running `rustfmt --check` instead.

[2018-09-02 17:38] KMLDS commented on #21558
I'm interested in doing this (and the mentoring)!

[2018-09-02 18:44] tigercosmos commented on #21417
Shall we put the work around to README?
I just use a new Ubuntu environment and get error. Then I need to search in issues. It's inconvenient.

[2018-09-02 21:10] jdm commented on #21417
Yes, that would be best until we address #21446.

[2018-09-03 08:28] paulrouget commented on #21504
To compile for Android, please look at this: https://github.com/servo/servo

First thing you need is to retrieve the pixel density in Java (see the link in the first comment) in https://github.com/servo/servo/blob/master/support/android/apk/servoview/src/main/java/com/mozilla/servoview/ServoView.java - in onGLReady, pass the density along the width and height. You will need to update the construct

[2018-09-03 08:39] paulrouget commented on #21333
@tigercosmos it’s a screenshot

WR document is an area on the screen where servo paint a set of pages.

Chrome refers to a document that will be used to draw the UI.

[2018-09-03 11:05] emilio opened #21587 "HTMLImageElement::matches_environment doesn't look quite right."
It's passing `ParsingMode::all()`, which doesn't really seem like it wants to pass, it should probably pass `DEFAULT` instead.

This should be testable, I think in Servo the `sizes` attribute will incorrectly work with `min-width: <integer>` or such.

[2018-09-03 11:11] emilio commented on #21587
I added a couple FIXMEs for this in https://github.com/servo/servo/pull/21588

[2018-09-03 12:00] AgustinCB opened #21589 "Use a new `unshipped-port-message-queue` task source on `DedicatedWorkerGlobalScopeMethods::PostMessage`"
This [call](https://github.com/servo/servo/pull/21583/files#diff-c3210c2a1bf5e1de39588154cd766100R486)

Should be using a new value in the enum of [TaskSourceName](https://github.com/servo/servo/blob/eb6aec37e9bde5aba2a3dc6b6ce5374579219f31/components/script/task_source/mod.rs#L24) referring to `unshipped-port-message-queue`, as mentioned in https://html.spec.whatwg.org/multipage/#unshipped-port-m

[2018-09-03 12:09] AgustinCB opened #21590 "Websocket related tasks should be using a dedicated task source `websocket-task-source`"
See [this change](https://github.com/servo/servo/pull/21583/files#diff-c13bae09b178a30151ecebdc13c30a26R271). Instead of `Networking`, we should be using a new [TaskSourceName](https://github.com/servo/servo/blob/eb6aec37e9bde5aba2a3dc6b6ce5374579219f31/components/script/task_source/mod.rs#L24) referring to `websocket-task-source`.

[2018-09-03 12:59] Manishearth commented on #21558
Alright, so you'll probably want to work on one at a time.

First, have a look at the files for [GainNode.webidl](https://github.com/servo/servo/blob/master/components/script/dom/webidls/GainNode.webidl) and [gainnode.rs](https://github.com/servo/servo/blob/master/components/script/dom/gainnode.rs)

We need to add a channelsplitternode.rs module (be sure to update the mod.rs file!), and ChannelSpl

[2018-09-03 13:32] gterzian opened #21592 ""No space left on device" on Travis CI"
https://travis-ci.org/servo/servo/jobs/423909479#L2137

Seems to happen consistently with the last few commits on https://github.com/servo/servo/pull/21583

[2018-09-03 14:18] gterzian commented on #21592
Although I guess there is not much we can do about it, other than sending them a support ticket, unless this relates to a mis-configuration of the yaml file...

[2018-09-03 14:57] SimonSapin commented on #21592
Removing caches might help for a bit, but the same might happen again later.

[2018-09-03 15:53] gterzian commented on #21592
This [issue](https://github.com/travis-ci/travis-ci/issues/8902), seemingly quite similar, referred to this as the solution https://github.com/travis-ci/travis-ci/issues/4704#issuecomment-348435959

[2018-09-03 17:13] gterzian opened #21595 "Intermittent TIMEOUT in /_webgl/conformance/context/context-release-upon-reload.html"
An intermittent pass was previously noted in https://github.com/servo/servo/issues/20765

[2018-09-03 17:14] gterzian opened #21596 "intermittent TIMEOUT in /_webgl/conformance2/rendering/draw-buffers.html"

[2018-09-03 18:02] KMLDS commented on #21558
Thanks!  I'll dig in over the next couple of days and get back to you with questions as needed when I've had a chance to think through next steps.

[2018-09-03 21:58] emilio commented on #21587
cc @nupurbaghel

[2018-09-04 06:42] gterzian opened #21600 "Run fullscreen operations in parallel to script event-loop"
It appears to me that the enter- and exit-fullscreen operation could use some restructuring.

Currently, these are done via a task queued on the main event-loop, see for example https://github.com/servo/servo/blob/75c0bdaf1b3a26ee8ae50d4cf3fb6b7546d3ccb8/components/script/dom/document.rs#L2873, which then, in some conditional branches at least, results in the script thread sending a message to and

[2018-09-04 08:26] tigercosmos commented on #21592
`./mach clean-cargo-cache --keep 2 --force` change to keep `1`might help a little bit?

[2018-09-04 10:44] paulrouget commented on #21504
[code]

[2018-09-04 12:09] paulrouget commented on #21326
Just in case the page disappears:

[code]

[2018-09-04 12:47] paulrouget commented on #21564
https://drafts.csswg.org/css-animations/#events

[2018-09-04 15:15] ferjm opened #21604 "Unable to create dev builds on Windows"
I can perfectly build Servo in release mode. But when I try a dev build I am get a bunch of linker errors like:
[code]

Full log [here](https://gist.github.com/ferjm/ce1cc6ecf492bf63bc8b763023de2dfc)

[2018-09-04 15:17] paulrouget opened #21605 "Set pixel density to 1 by default for Android Surface."
Let's not assume the android surface is used as a "regular" 2D widget.

Related: #21504

[2018-09-04 15:17] paulrouget commented on #21504
Note to self: this should be only be done for the servoview, not the servosurface.

[2018-09-04 15:30] asajeffrey commented on #21604
Hmm, this may be caused by using MSVC 15.8. AFAICT from https://bugzilla.mozilla.org/show_bug.cgi?id=1484190, mozjs 63 is the first one which builds using MSVC 15.8, mozjs 60 (which is what servo uses) requires MSVC 15.6.

[2018-09-04 15:35] #11868 closed

[2018-09-04 15:43] ferjm commented on #21604
I am indeed using MSVC 15.8.1. I'll try with 15.6. Thanks for the pointer!

[2018-09-04 16:56] nupurbaghel commented on #21587
So finally it has been solved then ?

[2018-09-04 16:58] jdm commented on #21587
It has not been solved.

[2018-09-04 19:29] AgustinCB commented on #21527
Sorry for commenting in a closed issue, but I didn't know where else I could ask this:

I'd like to keep contributing to the project. I was thinking in addressing #21589 and #21590. They seem pretty straight forward, so I don't expect to be blocked there for long. What other issues could I take? (keeping in mind that I do this after work and I can sadly allocate 5-10 hours/week to the project).

T

[2018-09-04 19:46] AgustinCB commented on #21589
Currently working on this one.

[2018-09-05 02:09] gterzian commented on #21592
Thanks, I just gave it a try on https://github.com/servo/servo/pull/21594

[2018-09-05 03:30] gterzian commented on #21592
Doesn't seem to have had the desired effect https://travis-ci.org/servo/servo/jobs/424604312#L2122

[2018-09-05 04:30] gterzian commented on #21592
@tigercosmos thanks, I've just tried following the instructions in the FAQ in #21594

[2018-09-05 07:16] gterzian commented on #21590
@AgustinCB Sorry I might have pointed you in the wrong direction with https://github.com/servo/servo/issues/21589, see https://github.com/servo/servo/pull/21609#issuecomment-418579585

However I think this one is likely to be less "controversial" :)

In implementing this task-source, it would be useful to look at all the places in the spec referencing  https://html.spec.whatwg.org/multipage/web-so

[2018-09-05 07:38] gterzian commented on #21527
@AgustinCB thanks for your help.

I think you might also want to take a look at those issues: https://github.com/servo/servo/issues?q=is%3Aopen+is%3Aissue+label%3AE-candidate-for-mentoring

or https://github.com/servo/servo/issues?q=is%3Aopen+is%3Aissue+label%3AB-interesting-project

[2018-09-05 07:45] ferjm opened #21612 "Implement media element event task source"
To be used [here](https://github.com/servo/servo/blob/master/components/script/dom/htmlmediaelement.rs#L53)

https://html.spec.whatwg.org/multipage/media.html#media-element-event-task-source

[2018-09-05 07:46] gterzian commented on #17442
@AgustinCB this one looks like a fun issue to work on(going straight to the heart of some of Rust's concurrency aspects), with mentoring available!

[2018-09-05 07:52] ferjm commented on #21527
@AgustinCB you might be interested in #21481 as well, which is similar to #21590

[2018-09-05 10:11] Manishearth commented on #12054
Yeah, a page with a bit of text and some newlines renders like this under 2x:

![image](https://user-images.githubusercontent.com/1617736/45086943-007d0d80-b122-11e8-9720-6e1ffdf8859f.png)

The recommended fix -- setting ` --device-pixel-ratio=2.0` -- makes the text larger but it's still in a corner

[2018-09-05 10:14] ferjm commented on #21604
I am afraid that I am getting the same errors with VS 15.6 (14.13 toolchain).

Log [here](https://gist.github.com/ferjm/31b867d68e0fb5515161a3bdfa441c3b)

[2018-09-05 10:18] AgustinCB commented on #17442
Sounds fun. I'll give this one a try. Thanks!

[2018-09-05 12:11] jdm commented on #21590
Yes, getting the right task sources for the websocket code would be useful!

[2018-09-05 13:39] asajeffrey commented on #17442
@AgustinCB good luck!

[2018-09-05 13:54] jdm opened #21616 "Intermittent fail in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/reload.window.html"
[code]

[2018-09-05 13:57] asajeffrey commented on #21604
Well this is odd... https://gist.github.com/ferjm/31b867d68e0fb5515161a3bdfa441c3b#file-gistfile1-txt-L110
[code]
is this from a fresh build? (The beginning of the log is truncated so I can't tell.)

[2018-09-05 14:06] chansuke commented on #21612
@ferjm I'm interested in this

[2018-09-05 14:33] jdm opened #21618 "Add pre-build configuration checks"
When we know that the errors that result from an invalid version of tool are bad (such as rustfmt and clang for mozjs), we should add checks at the start of the build to tell the user that this is the case.

[2018-09-05 14:33] highfive commented on #21618
cc @wafflespeanut

[2018-09-05 15:16] asajeffrey commented on #21604
Thanks! That will be a bit log -vv is very chatty!

[2018-09-05 15:24] jdm opened #21619 "Enable WebAudio for Android"
Right now we're using the dummy backend. We should enable the real gstreamer one and start poking at it to make sure there are no surprises.

[2018-09-05 15:32] ferjm commented on #21612
Great!

There's a very recent implementation of another event task source in #21609 that you can take as an example for the media element one.

If I am not wrong, what you need to do here is to:

- Add a new `media_element.rs` file to https://github.com/servo/servo/blob/master/components/script/task_source that implements the `TaskSource` [trait](https://github.com/servo/servo/blob/master/componen

[2018-09-05 15:45] chansuke commented on #21612
@ferjm Thanks!! I'll check these docs first:-)

[2018-09-05 15:59] jdm opened #21621 "Update WPT setup to include removing obsolete metadata"
Once https://bugzilla.mozilla.org/show_bug.cgi?id=1488692 is merged in mozilla-central and we sync the changes from upstream, we should include the changes to testing/web-platform/update/update.py to reap the benefits.

[2018-09-05 15:59] highfive commented on #21621
cc @wafflespeanut

[2018-09-05 17:07] jdm commented on #21314
Simon said they would work on this.

[2018-09-05 17:31] hcorion commented on #20815
ssl websocket issue now fixed, but discord never loads into the main GUI. could be just a layout issue, or something unimplemented, nothing obvious in the log.

[2018-09-05 18:37] jdm opened #21624 "Discord homepage often spends huge amounts of time in layout preventing further page interaction"
When I visit http://discordapp.com in a debug build, sometimes the page loads buttons to download the app or try it out in the browser. When it doesn't, running with RUST_LOG=layout_thread shows a huge number of layouts occurring every second despite no visible change on the page.

[2018-09-05 18:38] jdm commented on #21624
I suspect CSS animations as a culprit.

[2018-09-05 21:51] jdm opened #21625 "Window's page_clip_rect is always the maximum rectangle"
The `page_clip_rect` member of `Window` has this comment:
[code]
It's initialized as the maximum possible rectangle, and the `set_page_clip_rect_with_new_viewport` API has code to deal with updating it to a more reasonable value. This API is invoked when the script thread receives the `ConstellationControlMsg::Viewport` message, except that nobody ever sends that message. The only usage of that me

[2018-09-05 22:02] jdm commented on #21624
When I comment out the body of tick_all_animations in layout_thread/lib.rs it certainly appears to behave much better.

[2018-09-05 22:13] asajeffrey commented on #21498
Just `brew install llvm` was good enough to fix it for me.

[2018-09-05 22:55] jdm commented on #21505
When I modify the page to draw 281 elements, it runs in a debug build in the emulator without crashing. When it draws 282 elements, it yields the useless crash.

[2018-09-05 23:13] jdm commented on #21505
If I modify the page to draw all 500 elements but comment out the transform animation, it also runs fine.

[2018-09-06 00:16] jdm opened #21626 "Run bindgen unit tests on android"
This would make figuring out problems like #21474 easier.

[2018-09-06 18:57] pylbrecht commented on #19797
I tried this on the latest master hoping to see different results, but got the same debug messages. I don't understand how the involved threads are terminated, meaning by whom and in what order, because I don't get any more debug messages coming from the script thread than those in my last comment.
Generally speaking I don't know where to look.

Somehow I don't trust the debug output, because it a

[2018-09-06 22:01] jdm commented on #21505
Upgrading to NDK15 and running on a device gave me a much more interesting stack trace:
[code]

[2018-09-07 00:14] jdm commented on #21505
Here's the display list that webrender is processing: https://gist.github.com/jdm/14f7bf5283ac20adc671ea7d345f11d0

[2018-09-07 00:41] jdm commented on #21505
I see the same stack overflow in a desktop debug build when loading http://joshmatthews.net/foo.html.

[2018-09-07 00:57] #21466 closed

[2018-09-07 01:31] jdm commented on #21505
The log shows that there are 500 stacking contexts, which doesn't sound ideal.

[2018-09-07 03:01] jdm opened #21631 "Cloth three.js example segfaults in daydream"
Visiting https://threejs.org/examples/webgl_animation_cloth.html in the Servoview browser kills the VR experience.
[code]

[2018-09-07 03:10] jdm commented on #21631
This affects normal Servo on android as well:
[code]

[2018-09-07 10:46] ferjm commented on #21604
I double checked that the dev build still fails with VS 15.6 after a `mach clean`.

I got a humongous [log](https://gist.github.com/ferjm/2c3a79567db5087ee288260fbd0dabc3#file-windows_build_veeeeeeery_verbose-log) with -vv.

[2018-09-07 14:32] jdm opened #21636 "Intermittent timeout in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort.sub.window.html"
[code]

[2018-09-07 16:54] asajeffrey commented on #19281
This is happening on the archived version of yahoo.com, as seen at https://servo.org/dashboards/

[2018-09-07 19:07] jdm opened #21637 "println doesn't appear in logcat output"
This makes it harder to interact with code that is already built around println, like various `-Z` options. Is there some way to redirect stdout to logcat, @paulrouget? Or perhaps @fabricedesre knows?

[2018-09-07 19:11] fabricedesre commented on #21637
The android_glue crate used to redirect stdout to logcat. I don't know if things have changed there..

[2018-09-07 19:18] jdm commented on #21637
Aha. Since we stopped using that crate, we no longer get that. We'll want to do something like https://github.com/tomaka/android-rs-glue/blob/0e80cfbcee362f207389dc2660525c3d74987f70/cargo-apk/injected-glue/lib.rs#L240-L303 I suppose.

[2018-09-07 19:21] jdm commented on #21631
I looked at this in a debugger, and I'm pretty sure that it's caused by Azure including Skia headers with different sets of defines enabled. The code that's segfaulting is in https://github.com/servo/skia/blob/f8f6173e85804a060aacc7350a8f252b1fe12a11/include/core/SkPaintOptionsAndroid.h, which is conditionally used as a member in https://github.com/servo/skia/blob/f8f6173e85804a060aacc7350a8f252b1

[2018-09-07 19:34] SimonSapin commented on #21637
This was a know regression of https://github.com/servo/servo/pull/20912. See also https://github.com/servo/servo/issues/19999.

In the meantime, the output of macros from the `log` crate should show up in logcat.

[2018-09-07 22:37] AgustinCB commented on #17442
Will probably finish the pr this weekend.

[2018-09-07 22:37] AgustinCB commented on #21590
Will probably finish the pr this weekend.

[2018-09-08 05:20] veer66 opened #21640 "I failed to build Servo on Lubuntu 18.04"
## My environment:

[code]

## Build

I ran ./mach build -d -v. And I got this following error message:

[code]

[2018-09-08 12:44] jdm opened #21642 "intermittent failure in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-exception-vs-return-origin.sub.window.html"
{"status": "PASS", "group": "default", "message": null, "stack": null, "subtest": "document.open should throw a SecurityError with cross-origin document even when there is an active parser executing script", "test": "/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-exception-vs-return-origin.sub.window.html", "line": 62372, "action": "test_result", "expected": "FAIL"}

[2018-09-08 12:55] jdm commented on #21640
That sounds like you updated webrender from the version in use by servo.

[2018-09-08 14:44] veer66 commented on #21640
@jdm Thank you. I should not have ran cargo update.

[2018-09-08 14:44] #21640 closed

[2018-09-09 06:54] CYBAI commented on #20815
Just tried to navigate into `discordapp.com` but I can't see the `Open Discord in your browser` button.
Besides, I found those images and icons are `SVG`s which is not implemented in servo yet.

| Firefox | Servo |
| ------- | ------ |
| ![image](https://user-images.githubusercontent.com/6782666/45261947-b7d59500-b43e-11e8-8e92-bb7f82d40e91.png) | ![image](https://user-images.githubusercontent.com

[2018-09-09 08:33] wayling commented on #21403
i have interested to do but it has any suggestions?

[2018-09-09 10:50] SimonSapin commented on #21637
Yes, it wont catch everything going to stdio file descriptors like android-rs-glue did but I think it should catch Rust `println!`, assertions, panics, etc.

[2018-09-09 13:39] gterzian commented on #21600
By the way, the HTML spec does specific how to integrate steps from spec other than the HTML one(such as the fullscreen one) with the HTML event-loop, at https://html.spec.whatwg.org/multipage/#event-loop-for-spec-authors

[2018-09-09 15:14] hcorion commented on #20815
That's strange, the buttons loaded up fine for me.

![image](https://user-images.githubusercontent.com/9814000/45265948-20554f80-b408-11e8-8119-9052dd3c0811.png)

[code]

launched with
[code]

Running
Arch Linux
GTX 1070
i7 4770

[2018-09-09 16:01] jdm commented on #20815
Yes, it can be nondeterministic based on #21624.

[2018-09-10 00:56] paulrouget commented on #21403
Using icons instead of text could be a good start.

[2018-09-10 04:05] paulrouget opened #21656 "Move back to upstream jni-rs"
See: https://github.com/servo/servo/blob/6cb39fad473e21a760720a8b4c2c208b5baace7a/ports/libsimpleservo/Cargo.toml#L23

PR has landed, waiting on the crate being published.

jni-rs ownership is changing. See https://github.com/jni-rs/jni-rs/issues/104

[2018-09-10 10:35] Manishearth opened #21659 "Improve WebAudio messaging model to match Firefox"
The way it's currently set up, WebAudio JS API calls may end up occurring on different render quanta even if they occur in the same task. Plus, `currentTime` is a cross-thread sync call which is no good.

I discussed this with @padenot and the Firefox model seems like a good way to go forward here.

What Firefox does is:

 - Batches up all messages to the render thread till [steady state](https://

[2018-09-10 13:31] jdm commented on #13161
There's an example of communicating with the devtools server at https://github.com/servo/servo/blob/master/components/script/dom/console.rs#L16-L27 that can serve as inspiration. The actual implementation it talks to is in https://github.com/servo/servo/blob/master/components/devtools/lib.rs#L514-L595.

[2018-09-10 13:33] jdm opened #21662 "Network panel does not show anything"
This used to work, then something changed in Firefox at some point. A useful first step would be to find the regression range using http://mozilla.github.io/mozregression/.

[2018-09-10 13:33] highfive commented on #21662
cc @fitzgen

[2018-09-10 14:12] #21590 closed

[2018-09-10 14:15] AgustinCB commented on #21481
I'd like to give this is try. Is there any information I'll need before I start?

[2018-09-10 16:03] jdm opened #21663 "oes-texture-half-float.html panics with a GL error when running in desktop mode"
[code]

[2018-09-10 16:47] paavininanda opened #21666 "intermittent pass in /html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none.html, /html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode.html,"
{"status": "PASS", "group": "default", "message": null, "stack": null, "subtest": "<img srcset=\"/images/green-1x1.png?e36a 50w, /images/green-16x16.png?e36a 51w\" sizes=\"min(1px, 100px)\"> ref sizes=\"1px\" (display:none)", "test": "/html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none.html", "line": 105619, "action": "test_result", "expected": "FAIL"}
{"sta

[2018-09-10 16:55] jdm opened #21667 "intermittent fail in /html/semantics/embedded-content/the-img-element/null-image-source.html"
[code]

[2018-09-10 16:56] ferjm commented on #21396
https://github.com/centricular/gstwebrtc-demos/tree/master/sendrecv/gst-rust

[2018-09-10 17:07] AnshulMalik commented on #13161
Can we do this?

[code]

And one more, we should be able to send stack trace when error occurs, currently, we are not doing it.

[2018-09-10 17:38] jdm commented on #13161
About the stack, we will probably want to do something like Firefox: https://searchfox.org/mozilla-central/source/dom/base/nsJSEnvironment.cpp#224 . I think it will be easier to add data like the stacktrace to this if we don't rely on the Console::Error method, since that's something that is exposed to the web and we can't change.

Firefox's implementation sends packets that look like [this](https

[2018-09-10 18:12] BK1603 commented on #21289
I'd like to work on this!

[2018-09-10 20:07] SimonSapin commented on #21314
Using `--manifest-path` means picking one "root" crate to build, whereas the current default is to build both `ports/servo` and `ports/libsimpleservo`.

@paulrouget What do you think of building the latter for Android targets and the former in other cases? Are there cases where we want to make the other choice? Specifically, since `ports/servo` is an empty crate on Android, do we want to support (

[2018-09-10 20:44] jdm commented on #21314
We could do something like the old `./mach build-geckolib`, too. We're relying on being able to build libsimpleservo for ML devices, but those aren't detected as android devices.

[2018-09-10 21:41] SimonSapin commented on #21314
What are ML devices in this context?

[2018-09-10 23:06] jdm opened #21669 "Intermittent timeout in /html/browsers/history/the-history-interface/traverse_the_history_write_after_load_2.html"
[code]

[2018-09-11 04:14] paulrouget commented on #21314
@SimonSapin libsimpleservo is not android specific (there's a non-jni version too), even though we only use it for Android now. We need to be able to build both ports.

[2018-09-11 05:15] paulrouget commented on #21504
@wizofe did you get a chance to look at this?

[2018-09-11 07:48] paulrouget commented on #13993
I think we should implement this in this order:

1. separate compositor thread and embedder thread: https://github.com/servo/servo/issues/19679
2. make compositor optional
3. support multiple compositors

[2018-09-11 16:46] ferjm opened #21677 "Travis is broken with a missing fontsan crate error"
The [latest builds](https://travis-ci.org/servo/servo/builds) are failing with:

[code]

I see this on the raw logs:

[code]

[2018-09-11 16:46] highfive commented on #21677
cc @aneeshusa

[2018-09-11 22:45] jdm opened #21682 "Intermittent failure in /html/semantics/embedded-content/the-img-element/environment-changes/viewport-change.html"
[code]

[2018-09-12 01:08] KiChjang commented on #21589
I think this issue is unneeded, because it attempts to shoehorn the unshipped port message task source into the existing implementation of `DedicatedWorkerGlobalScope::PostMessage`, which does not have a concept of a MessagePort yet.

We should instead file a new issue to change all the existing `postMessage` implementation to use `MessagePort` underneath once #16622 lands.

[2018-09-12 05:52] #21417 closed

[2018-09-12 05:52] #21446 closed

[2018-09-12 06:57] AnshulMalik commented on #21373
`rand` is already formatted.

[2018-09-12 07:06] SimonSapin commented on #21677
I’ve deleted all caches at https://travis-ci.org/servo/servo/caches, let’s see if that helps.

[2018-09-12 10:05] paulrouget commented on #21656
The new published version introduces duplicate versions of `error-chain`. We need the latest version of `x11-clipboard`. See https://github.com/quininer/x11-clipboard/issues/11

[2018-09-12 11:04] mrobinson commented on #21625
A long time ago this rectangle was used to limit the display list. I'm not sure if this is a big deal any longer since WebRender has a lot of code to avoid painting outside of the viewport boundaries. The only place where this might be an issue is in display list encoding, though a lot of work has gone into making that fast. It might be worth investigating if this is still interesting or not by ar

[2018-09-12 11:30] gterzian opened #21689 "Intermittent CRASH at /_webgl/conformance/ogles/GL/smoothstep/smoothstep_001_to_006.html"

[2018-09-12 11:47] nox commented on #21689
Crash log please?

[2018-09-12 11:56] gterzian commented on #21689
[code]

[2018-09-12 11:57] nox commented on #21689
That's not the crash log. This is the crash log:

[code]

[2018-09-12 11:57] nox commented on #21689
This seems to be #21067.

[2018-09-12 12:03] gterzian commented on #21689
Thanks, may I ask where you found it?

[2018-09-12 12:04] nox commented on #21689
In http://build.servo.org/builders/linux-rel-css/builds/9779, stdio of step 9.

[2018-09-12 12:05] jdm commented on #21689
Closing because the underlying cause is already tracked.

[2018-09-12 12:05] #21689 closed

[2018-09-12 12:46] jdm opened #21690 "Pinch zoom doesn't work on android"

[2018-09-12 14:54] jdm opened #21691 "Only mark canvas as dirty when no framebuffer is bound"
Per a later paragraph in https://www.khronos.org/registry/webgl/specs/latest/1.0/#2.2, we should only be presenting the webgl canvas when the default framebuffer is bound. For Servo, that means that the canvas object should not be marked dirty if there is no bound framebuffer.

[2018-09-12 15:30] paulrouget commented on #21690
#21431 was supposed to fix that.

Can you try with a very simple page, for example: `data:text/html<img src="https://servo.org/screenshot.png">`?

If the above example works, you might run into https://github.com/servo/servo/issues/21432

[2018-09-12 16:04] jdm commented on #16912
When I use lldb from the llvm installed from homebrew, it works as expected. This may be an apple-installed LLDB peculiarity.

[2018-09-12 16:35] jdm commented on #16740
As far as I know, there are five main parts required to obtain a meaningful backtrace from a thread that is not the current thread that is executing arbitrary code:
* supending the target thread
* extracting the target thread's current registers, frame pointer and stack
* creating an unsymbolicated backtrace by walking the target thread's stack and following the frame pointer
* resuming the target

[2018-09-12 18:24] jdm opened #21696 "Intermittent CRASH with "mozilla::detail::MutexImpl::~MutexImpl: pthread_mutex_destroy failed: Device or resource busy""
[code]
There are about 1000 more entries for the panic too.

[2018-09-12 18:42] jdm opened #21697 "Intermittent failure in /css/css-transitions/properties-value-implicit-001.html"
[code]

[2018-09-12 21:32] #20570 closed

[2018-09-12 22:45] jdm opened #21698 "Intermittent ok in /html/semantics/embedded-content/the-img-element/adoption.html"
[code]

[2018-09-12 22:56] atouchet commented on #11416
Is this issue supposed to be closed?

[2018-09-12 23:01] jdm commented on #13710
Tests are still disabled since they don't pass yet.

[2018-09-13 00:07] KiChjang commented on #11416
I don't believe so; environment changes has yet to be landed.

[2018-09-13 02:44] gterzian commented on #16740
Ok thanks. I think I'll focus first on getting the current model with only annotations to work, and then will look more into this.

Extracting it into a library sounds like a good idea.

Would including such a backtrace in the overall workflow be something we could plug into the current message-based approach, or do you think it might require a significantly different design(In Gecko they seem to

[2018-09-13 02:53] jdm commented on #16740
The reason for a monitoring thread might be to ensure that there is a thread that is always ready to receive the notification that a snapshot needs to be taken, especially when there are multiple processes in use.

[2018-09-13 03:07] atouchet commented on #21414
@ferjm was #21545 supposed to fix this? I am still not able to run the latest nightly build.

[2018-09-13 03:40] jdm commented on #21414
The nightly that would have included those changes did not upload correctly: http://build.servo.org/builders/windows-msvc-nightly/builds/631/steps/shell__3/logs/stdio

[2018-09-13 03:41] jdm opened #21699 "Windows nightly upload job is broken"

[2018-09-13 03:41] jdm commented on #21699
http://build.servo.org/builders/windows-msvc-nightly/builds/631

[2018-09-13 04:11] gterzian commented on #16740
By the way, "sampling a thread" looks like it is indeed only done when a "hang" has started, see https://dxr.mozilla.org/mozilla-central/source/toolkit/components/backgroundhangmonitor/BackgroundHangMonitor.cpp#386

Looking that the linux sampling code, I think it will require doing something similar "by-hand" outside of `std::thread`(For example, the `std::thread::ThreadId` is said to "not guaran

[2018-09-13 07:57] ferjm commented on #21414
The extension of the installer changed and I didn't updated the upload part. #21700 should fix it.

#21545 fixed the missing DLL errors reported here, but unfortunately I cannot confirm that it'll fix this entirely. I am still seeing Servo closing immediately after starting on my local machine and I am not able to debug the reason because of #21604. I suspect that it might be something wrong with

[2018-09-13 13:28] nox commented on #12859
`read-pixels-pack-alignment.html` has been taken care of.

[2018-09-13 13:32] nox commented on #12859
`read-pixels-test.html` now passes but takes too long to run and times out.

[2018-09-13 13:33] nox commented on #12859
Actually it times out just because it's not marked as being long-running.

[2018-09-13 13:34] nox commented on #14380
This issue is obsolete.

[2018-09-13 13:34] #14380 closed

[2018-09-13 13:52] #19000 closed

[2018-09-13 15:26] #14692 closed

[2018-09-13 15:56] mandreyel opened #21703 "Coalesce browsing context info messages sent by script to constellation"
A minor optimization which combines two messages sent by `ScriptThread` to `Constellation` into one. Specifically, [this](https://github.com/servo/servo/blob/master/components/script/script_thread.rs#L2105-L2109) bit of code could use a single `GetBrowsingContextInfo(pipeline_id, sender)` message whose response gives a `(BrowsingContextId, PipelineId)` tuple.

[2018-09-13 16:04] nox commented on #12859
Nope, the test still times out on CI. :(

[2018-09-13 16:12] jdm opened #21704 "Add IpcBytesSender support to IPC profiling"
We have code in [profile_traits](https://github.com/servo/servo/blob/master/components/profile_traits/ipc.rs) that wraps IPC receivers inside profiling code. We don't have the same convenient APIs for profiling receivers for IPC bytes senders created by `ipc::bytes_channel()`, so we should add them and fix up the case that was changed in #21701.

[2018-09-13 16:12] highfive commented on #21704
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-09-13 16:38] mandreyel commented on #21703
@highfive assign me

[2018-09-13 16:38] highfive commented on #21703
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-09-13 18:35] jdm commented on #21396
https://github.com/ystreet/gst-plugins-bad/pull/5

[2018-09-13 18:42] #21631 closed

[2018-09-13 22:53] mandreyel opened #21706 "Constellation::load_url private browsing mode propagation to new pipeline"
Noticed [here](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L2158-L2160) that the `is_private` property of a browsing context is not passed to a new pipeline when loading a new URL, and instead a default `false` value is used, which will [cause](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L735-L739) `Constellation` to

[2018-09-13 23:09] mandreyel opened #21707 "Make mutable version of AllBrowsingContextsIterator"
Currently we need to iterate over all browsing contexts in a frame tree and save their IDs in a Vec. Then, we need to iterate over them and retrieve the actual `BrowsingContext` instances, again and do the actual procedure of setting the `is_visible` field and calling `Pipeline::notify_visibility`. [Here's the code.](https://github.com/servo/servo/blob/master/components/constellation/constellation

[2018-09-14 03:04] atouchet commented on #21699
I think there is still an issue here. http://build.servo.org/builders/windows-msvc-nightly/builds/632 doesn't say the build failed but when I try to download the latest nightly I still get the version from the 11th and the GStreamer error boxes still come up.

[2018-09-14 03:25] atouchet opened #21709 "Windows nightly builds missing from http://servo-builds.s3.amazonaws.com since 2018-09-05"
http://servo-builds.s3.amazonaws.com/?list-type=2&prefix=nightly/windows-msvc/

The latest version listed here is from 2018-09-05. Is there something going wrong here?

[2018-09-14 03:28] atouchet commented on #21414
I am still having the same issues with the latest nightly build. I think there still may be an issue with new version uploads.

[2018-09-14 03:40] KiChjang commented on #20461
@aeweston98 Are you still working on this?

[2018-09-14 03:49] aeweston98 commented on #20461
@KiChjang No I am not actively working on it

[2018-09-14 04:45] gterzian commented on #21344
Done in https://github.com/servo/servo/pull/21325

[2018-09-14 04:45] #21344 closed

[2018-09-14 06:40] paulrouget commented on #21706
Sounds like it.

Maybe `new_pipeline` should not take a `is_private` parameter and select the resource thread based on the privacy of the top level browsing context. Same goes for `handle_script_new_iframe` and `BrowsingContext::new`.

[2018-09-14 08:05] #21703 closed

[2018-09-14 09:03] mandreyel commented on #21706
@paulrouget I don't think this will work, because e.g. in `handle_new_top_level_browsing_context` or even `handle_script_new_iframe` the browsing context for the pipeline doesn't exist yet, so we can't use its `is_visible` field (since the visibility is now stored in `BrowsingContext` rather than `Pipeline` since #21559). Or have I misunderstood?
In either case, I'll land a PR soon with a minor fi

[2018-09-14 09:03] highfive commented on #21706
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-09-14 11:12] jdm commented on #21709
The default s3 index has a limited number of results. http://servo-builds.s3.amazonaws.com/?list-type=2&prefix=nightly/windows-msvc/2018-09 shows that we are uploading builds correctly, but we generate exes instead of mailing files now.

[2018-09-14 11:49] #21706 closed

[2018-09-14 12:04] ferjm commented on #21709
I am not sure of what failed there, but I just downloaded https://download.servo.org/nightly/windows-msvc/servo-latest.msi (~92MB) and it is definitely not the bundle containing the GStreamer and Servo installers (~172MB).

[2018-09-14 13:44] jdm commented on #21709
Yes, the link to servo-latest.msi will only point at the last MSI generated; we need to replace the website link with one to servo-latest.exe now.

[2018-09-14 16:13] atouchet commented on #21709
Alright, I guess this is fine to close now then.

[2018-09-14 16:13] #21709 closed

[2018-09-14 20:16] jdm opened #21716 "Initialize textures to transparent black in some cases"
The tests in uninitialized-test.html rely on the rules about [reading pixels outside of the framebuffer](https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.11). In this case, we have an uninitialized texture and try to copy data from outside of the framebuffer bounds as the texture's initializer, so we need to pre-initialize it to transparent black. See https://searchfox.org/mozilla-centra

[2018-09-14 20:48] jdm opened #21718 "Create smaller-than-requested drawing buffer when necessary"
drawinbuffer-tests.html checks what happens when a new GL context that is slightly larger than the default maximum size is created. [Section 2.2](https://www.khronos.org/registry/webgl/specs/latest/1.0/#2.2) includes a paragraph stating that the implementation should choose smaller dimensions if the requested size cannot be satisfied. Right now [this call](https://github.com/servo/rust-offscreen-r

[2018-09-14 21:30] jdm opened #21719 "gl-pointcoord.html doesn't draw anything"
The resulting canvas is transparent black in Servo. I haven't been able to isolate the cause of this yet, but it's probably the same problem causing #20993/#20992/#21007/#20979.

[2018-09-15 00:23] atouchet opened #21720 "Missing text in Servo Windows installer"
This window comes up when trying to install Servo for Windows:

![Installer](https://i.imgur.com/hOBAH5H.png)

Presumably there is supposed to be some proper text here.

[2018-09-15 01:09] #13710 closed

[2018-09-15 09:17] CYBAI opened #21722 "<wbr> element is not working for word break"
When I tried to navigate to [MDN requestAnimationFrame](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame), I found the breadcrumb on Servo is not `word-break`-ed. Then, I found the issue is related to `<wbr>` element.

<img width="1329" alt="screen shot 2018-09-15 at 5 00 45 pm" src="https://user-images.githubusercontent.com/6782666/45584672-88290000-b90a-11e8-9ce4-f1f

[2018-09-15 16:12] KyleMayes commented on #21478
I have implemented what is hopefully an improved selection of versioned binaries in `v0.24.0` of `libclang`.

You can read more details in the [README](https://github.com/KyleMayes/clang-sys/blob/238ddc50885aa08a00e4d92ec1797e0dbb1dc4c0/README.md).

[2018-09-16 04:15] KiChjang commented on #21414
To add onto this thread, I had problems with getting servo to compile even after I followed the steps in the README. I kept getting errors about not being able to find the .lib files for gstreamer, and the solution ended up being adding `C:\gstreamer\1.0\x86_64\bin` to LIB.

[2018-09-16 09:28] gterzian commented on #16740
How about if we were to do something similar to the below inside the monitored thread:
https://github.com/servo/servo/blob/f03ddf6c6c6e94e799ab2a3a89660aea4a01da6f/ports/servo/main.rs#L58-L79

And then have the BHM send a [`SigTrap`](https://docs.rs/sig/1.0.0/sig/ffi/Sig/constant.TRAP.html), with the monitored component sending the backtrace in a message via a signal handler?

[2018-09-16 15:29] tigercosmos opened #21727 "`WindowOrWorkerGlobalScope` webidl need update"
`WindowOrWorkerGlobalScope` miss the following now
[code]

see: https://html.spec.whatwg.org/multipage/webappapis.html#timerhandler

Besides some functions in `WindowOrWorkerGlobalScope` are not supported yet, which is #20700

[2018-09-16 15:40] CYBAI commented on #21727
Is this kind of duplicate with #21574 ?

[2018-09-16 15:46] tigercosmos commented on #21727
not really. one is webidl, and one is the function implementation.
but I thought combine these to one issue would be better. :)

[2018-09-16 15:52] tigercosmos commented on #21727
combine to #21574.

[2018-09-16 15:52] #21727 closed

[2018-09-16 15:54] CYBAI commented on #21727
@tigercosmos When we'd like to implement the method, we must need to update `webidl` so I think it would be same issue. But anyway, let me update the description in #21574 for `webidl`.

[2018-09-17 09:39] Manishearth commented on #21414
@kichjang https://github.com/servo/servo/pull/21729

[2018-09-17 14:41] syniuhin commented on #21498
should we update https://github.com/servo/servo#on-macos-homebrew to reflect the `llvm` requirement? I also experienced this error on a fresh osx install.

[2018-09-17 14:46] asajeffrey commented on #21498
@syniuhin yes please!

[2018-09-17 20:02] #21498 closed

[2018-09-17 21:21] hgallagher1993 opened #21732 "./mach bootstrap-gstreamer fails to run on Linux Mint 18.3"
[code]

Adding 'LinuxMint' to `bootstrap` in servo/python/servo/bootstrap.py and removing `.lower()` from `distro.lower()` got it to run though

[2018-09-17 22:49] kanaka commented on #20015
I just update my build to the latest (git 1e1eca0 from 15 Sept 2018). The problem (or at least a very similar one) still exists. Only now it consistently reproduces on the 5th load:

[code]

[2018-09-17 22:57] kanaka commented on #20015
@glennw you were involved in the original bug that fixed the blank rendering issue (but subsequently uncovered this crash). Any thoughts?

[2018-09-18 01:50] atouchet commented on #20015
cc @gw3583

[2018-09-18 02:00] gw3583 commented on #20015
Not off the top of my head - it looks like a crash inside OSMesa.

I suspect that unless an OSMesa update fixes it, this will probably involve building OSMesa from source with symbols and stepping into it with gdb.

[2018-09-18 02:01] jdm commented on #21719
gl-fragcoord-xy-values.html is very similar but passes, as does gl-fragcoord.html. I'm trying to narrow down what's different.

[2018-09-18 05:40] BK1603 commented on #21289
@jdm
Just to let you know:
I am still working on this, i've read a lot of the codebase in order to know about what i need to know, one of the functions is done, doing the secons one and figuring out calls, will probably meed help with that

And I apologoze for taking too long :sweat_smile:

Thanks once again for all the help

[2018-09-18 06:29] paulrouget commented on #21469
It also fails on my Linux machine. For now, this works around the issue:

[code]

[2018-09-18 11:38] jdm commented on #21469
What is the Linux failure?

[2018-09-18 11:39] jdm commented on #21289
No need to apologise! Thanks for letting us know.

[2018-09-18 12:05] paulrouget commented on #21469
My bad. I was thinking of that error: https://github.com/servo/mozjs/pull/148#issuecomment-418500100

[2018-09-18 13:31] jdm opened #21736 "Websocket servers intermittently won't start"
[code]

[2018-09-18 16:33] #21522 closed

[2018-09-18 17:06] ferjm opened #21739 "Try to use libfreetype, libexpat and libfontconfig from GStreamer on Android."
To enable WebAudio for Android in #21730 we are setting the `PKG_CONFIG_ALLOW_CROSS` env var, which makes all Servo dependencies that depend on `pkg-config-rs` actually use `pkg-config` while cross compiling for Android. So all the libraries that we are currently building because `pkg-config` is not working on Android, should in theory not be built anymore and instead use the existing binaries as

[2018-09-18 17:42] jdm opened #21740 "Intermittent timeout in /css/css-paint-api/geometry-background-image-001.https.html"
[code]
This will likely be fixed by #21331.

[2018-09-18 23:38] jdm opened #21742 "Implement missing srcset steps for HTMLImageElement's complete API"
Per https://html.spec.whatwg.org/multipage/#dom-img-complete, we should be checking for the srcset attribute in HTMLImageElement::Complete. There's a TODO in the implementation pointing out that the checks are missing.

cc @nupurbaghel @paavininanda

[2018-09-19 02:01] jdm opened #21743 "intermittent failure in /webaudio/the-audio-api/the-analysernode-interface/realtimeanalyser-fft-scaling.html"
[code]

[2018-09-19 02:02] jdm commented on #21743
Cc @manishearth

[2018-09-19 03:03] rustjson opened #21745 "build cause mac crash/reboot"
I am trying to build this project on master branch on two machine by running `./mach build --dev`, both down during the compiling:

[code]

[2018-09-19 03:04] Manishearth commented on #21743
I _suspect_ what's happening here is that the AnalyserNode message isn't getting through. The OfflineAudioContext completion event goes directly through the task source, but the AnalyserNode uses an IPC router, which may get neglected.

All the messaging really should go through the same pipe.

I'm considering fixing this as part of https://github.com/servo/servo/issues/21659

[2018-09-19 05:48] Manishearth commented on #21659
The AudioParam fixes will also be needed to implement param-dependent things like `BiquadFilterNode::getFrequencyResponse()`.

Note that currently AudioParams don't like being only occasionally updated -- if they end up skipping events entirely the start values can be wrong. This will also need to be fixed.

[2018-09-19 09:00] nox commented on #21718
Do you know where the retry is done in Firefox? I want to see if they do anything fancy to keep the ratio the same or not.

[2018-09-19 09:54] nox commented on #20547
The current state of things is actually spec-compliant, so let's close this.

[2018-09-19 09:54] #20547 closed

[2018-09-19 10:00] nox commented on #20550
This was done some time ago.

[2018-09-19 10:00] #20550 closed

[2018-09-19 10:01] nox commented on #10693
I don't think this is useful to keep open.

[2018-09-19 10:01] #10693 closed

[2018-09-19 10:03] nox commented on #20607
I'm sure I saw tests about those a while ago, and they were just not passing for unrelated reasons.

[2018-09-19 10:03] #20607 closed

[2018-09-19 10:04] ferjm commented on #21414
I get this when running Servo from VS:

[code]

Without being able to create dev builds on my Windows VM I don`t know what else to do here.

@jdm @asajeffrey any ideas?

[2018-09-19 10:10] nox commented on #21475
So is there anything to do here?

[2018-09-19 10:15] nox commented on #21320
If (when?) Apple finally kills GL, they will have to make WebKit use something else for their implementation of WebGL. IMO we should just wait and see what they do there.

[2018-09-19 10:19] nox commented on #21172
Servo doesn't even show any of the values here locally, how did you make it show stuff?

[2018-09-19 10:20] nox commented on #21066
Why is this filed here? I'm confused.

[2018-09-19 10:29] nox commented on #20561
Apparently it should be `INVALID_VALUE`.

https://searchfox.org/mozilla-central/source/dom/canvas/WebGLContext.h#1767-1781

[2018-09-19 12:12] jdm commented on #21066
This is https://github.com/web-platform-tests/wpt/blob/master/webgl/compressedTexImage2D.html. It's filed here because it's a webgl test that Servo passes that Firefox does not, which suggests to me that either the test or Servo's implementation is incorrect. And it continues to not pass in Firefox:
<img width="1356" alt="screen shot 2018-09-19 at 8 11 24 am" src="https://user-images.githubusercon

[2018-09-19 12:13] nox commented on #21066
Mmh, this test also exists in WPT where it actually passes on Firefox. Will check again after lunch.

[2018-09-19 12:19] jdm opened #21748 "Intermittent pass in /css/css-values/calc-integer.html"
[code]

[2018-09-19 12:35] jdm commented on #21718
https://searchfox.org/mozilla-central/rev/a0333927deabfe980094a14d0549b589f34cbe49/dom/canvas/WebGLContext.cpp#668

[2018-09-19 12:36] jdm commented on #21745
How much RAM does your machine have?

[2018-09-19 12:44] rustjason commented on #21745
I have two machine. the current one is :

[code]

[2018-09-19 12:46] rustjason commented on #21745
BTW, @jdm, sorry to ask a question not related to this thread. I wonder if I can have a small build just for the `stylo` components, what I wanted is just dig deeper of this component,  an executable file that takes `css` as input and output the `dom object attributes` would be the prefect solution.

[2018-09-19 13:03] nox commented on #21066
It's a Firefox bug, http://w3c-test.org/webgl/compressedTexSubImage2D.html passes everywhere but on Firefox.

[2018-09-19 13:08] #21066 closed

[2018-09-19 13:09] jdm commented on #21745
It is possible to run `./mach build -p style`.

[2018-09-19 13:10] jdm commented on #21745
And it's entirely possible that building servo is causing your machine to OOM; RAM usage of the build exceeds 6GB at times.

[2018-09-19 13:30] rustjason commented on #21745
interesting, but even this cause OOM, I don't think mac got rebooted sounds normal.
Let me try to build the style only and see.

Thank you

[2018-09-19 13:38] ferjm commented on #21612
@chansuke how are things going here? Please, let me know if you need any assistance.

[2018-09-19 14:18] kvark commented on #21320
@nox using GL framework is already triggering warnings/errors (suppressible, yet) when building MacOS apps on OSX 10.14 with XCode 10. Next thing you know - they can deny new GL applications to the AppStore. They can still make an exception for their own Safari, but of course this is rather speculative.

[2018-09-19 17:17] jdm commented on #21414
I know you said you couldn't get any useful information from windbg, but try following https://blogs.msdn.microsoft.com/junfeng/2007/07/05/break-on-exception-in-windows-debugger/ before running Servo. When I did this and opened up `View -> Call Stack` on the windows builder, I was able to see a stack that included `servo::glutin_app::window::Window::new`, followed by `core::result::unwrap_failed`.

[2018-09-19 18:47] #21352 closed

[2018-09-19 20:19] #20561 closed

[2018-09-20 03:46] rustjason commented on #21745
Ok, my other machine got 16G RAM

[2018-09-20 05:37] #21742 closed

[2018-09-20 06:15] Manishearth commented on #21659
There also may be timing issues when you _start_ audiocontexts.

[2018-09-20 10:04] ferjm commented on #21414
Thanks @jdm. I got this stack:

[code]

I tried to break on `servo_97ed653162c863d7!mozilla::Compression::LZ4::decompressPartial+0xf7c5b` with no luck. This seems to come from [mozjs](https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/mfbt/Compression.cpp#L72)

[2018-09-20 10:57] nox opened #21754 "Validate source passed to gl.shaderSource()"
There are some illegal characters that must lead to a WebGL error being emitted.

[2018-09-20 11:02] nox commented on #21754
https://searchfox.org/mozilla-central/source/dom/canvas/WebGLShader.cpp#175-182

[2018-09-20 11:06] nox commented on #21177
This assertion is gone.

[2018-09-20 11:06] #21177 closed

[2018-09-20 13:46] jdm commented on #21745
You may be able to pass `--features servo`

[2018-09-20 14:05] #21287 closed

[2018-09-20 14:23] paulrouget opened #21758 "Skia is not compiled properly for android"
I haven't tested yet, but I've been told that Servo crashes while loading this page:

https://rawgit.com/takahirox/three.js/BenchmarkTest/examples/webgl_benchmark_test_basic.html

Firefox Reality + Oculus Go

[2018-09-20 14:27] nox commented on #21758
This wants to use `fillText` so it needs to be tested with `dom.canvas-text.enabled` set, AFAICT.

[2018-09-20 14:29] takahirox commented on #21758
How to reproduce:
1. Open FireFox Reality+Servo on Oculus Go (I got APK from @paulrouget)
2. Go to https://rawgit.com/takahirox/three.js/BenchmarkTest/examples/webgl_benchmark_test_basic.html
3. Toggle to Servo
4. FireFox Reality Crushes

Error log(logcat on Android Studio):

[2018-09-20 14:48] jdm commented on #21758
This may be https://github.com/servo/servo/issues/21631 which may not have been fixed correctly.

[2018-09-20 14:52] jdm commented on #21758
Yep:
[code]
I'll deal with this.

[2018-09-20 15:44] Manishearth opened #21760 "Intermittent FAIL expected PASS on /webaudio/the-audio-api/the-biquadfilternode-interface/biquad-notch.html , /webaudio/the-audio-api/the-biquadfilternode-interface/biquad-allpass.html, /webaudio/the-audio-api/the-biquadfilternode-interface/biquad-highpass.html"
https://github.com/servo/servo/pull/21750#issuecomment-423226798

This is caused by https://github.com/servo/servo/issues/21659 as far as I can tell, and is easier to trigger in release builds.

I'll revisit this once that bug is fixed, it's really hard to sort out intermittents as long as the timing issues are more prominent than anything else.

[2018-09-20 17:15] jdm opened #21761 "vr.with.in doesn't display anything"
The output:
[code]

[2018-09-20 17:15] jdm commented on #21761
#21132

[2018-09-20 17:16] jdm opened #21762 "vr.with.in doesn't show loading animation on android"
It clearly knows it's animating, because the LOOP icon stays and the logcat spew shows lots of refreshing happening.

[2018-09-20 17:24] jdm opened #21763 "GL error on android for Going Home"
http://goinghome.302chanwoo.com/

On android there's a panic from an unexpected GL error, then libunwind segfaults while handling the panic.

[2018-09-20 17:29] jdm opened #21764 "Make it easier to adjust RUST_LOG on android builds"
Having to modify the list of `with_allowed_module_path` calls in jniapi.rs each time I want to adjust the RUST_LOG output in logcat is a low-level source of friction. Is there some way we could pass in a list of values from the command line and pass them through from the app to the JNI initialization?

cc @paulrouget

[2018-09-20 17:52] jdm opened #21765 "Packaging step in android build returns successful error code"

[2018-09-20 19:28] jdm opened #21768 "Consider forking ndk-gdb.py"
My ndk-gdb investigations for #21759 have led me to conclude the following:
* NDK 18 is the first NDK where the ndk-gdb script works without any modifications
* NDK 12 and 15 have errors connecting to jdb, NDK 12-17 have errors reading device properties from my Pixel 2
  * all of these can be worked around with targeted edits to ndk-gdb.py and python-packages/adb/device.py
* no NDK supports passin

[2018-09-20 19:29] jdm commented on #21768
https://android.googlesource.com/platform/ndk/+/master/ndk-gdb.py
https://android.googlesource.com/platform/development/+/master/python-packages/gdbrunner/
https://android.googlesource.com/platform/development/+/master/python-packages/adb/

[2018-09-20 20:41] #17442 closed

[2018-09-20 21:20] jdm opened #21770 "Intermittent fail in /_webgl/conformance/textures/misc/texture-upload-size.html"
The test has a nondeterministic ordering and the SVG images often fail in new and exciting orders.

[2018-09-20 22:17] #21765 closed

[2018-09-21 01:33] gterzian commented on #21154
@AgustinCB This one could be of interest to you as well, given your prior work with task-sources(or perhaps you'd rather do other things actually :) )

It's not completely clear what such "unified API" should look like, so this will require some initial exploration with the code...

[2018-09-21 01:58] AgustinCB commented on #21154
Awesome! Will give it a try. Thanks for letting me know!

[2018-09-21 08:51] paulrouget opened #21773 "Can't compile to Android anymore (Mac)"
[code]

That was solved by https://github.com/servo/rust-mozjs/commit/7f313c9d83f476b5822de19a9ced0aa8e8b0bc29 which never made it to master.

I was using this in the past: https://github.com/servo/servo/issues/21469#issuecomment-422271099

But mozjs has been updated to 0.9.1 so it doesn't work anymore.

[2018-09-21 09:19] paulrouget commented on #21773
For Linux, we only need servo/rust-mozjs@7f313c9, for mac we need both servo/rust-mozjs@7f313c9 and https://github.com/servo/mozjs/pull/148.

[2018-09-21 09:45] SimonSapin commented on #21773
I’ve seen something similar before with `__bindgen_align` the problem went away by upgrading libclang. (I think from version 4 to 6? I don’t remember exactly.) Maybe upgrading could help here as well?

[2018-09-21 10:08] paulrouget commented on #21773
So that would require a ndk update :(

[2018-09-21 10:29] paulrouget commented on #21469
Updating the Cargo.toml override:

[code]

[2018-09-21 12:31] #21764 closed

[2018-09-21 12:38] SimonSapin commented on #21773
This is the libclang used by bindgen, not the NDK’s clang used to compile C++ code. (By the way @emilio, does it sound like a problem that they’re not necessarily the same version?)

[2018-09-21 14:03] #21704 closed

[2018-09-21 14:07] sumit0190 commented on #21691
@jdm Would it make sense then to redefine `mark_as_dirty` so that it checks `self.bound_framebuffer` each time, and does nothing if the `get` call returns `None`?
(Sorry if that made no sense, still trying to understand everything).

[2018-09-21 14:08] jdm commented on #21691
That seems like a good idea!

[2018-09-21 16:10] sumit0190 commented on #21754
@nox I can take this up, if you think my understanding of the problem is correct:
1) Pre-process the source string to remove all sorts of comments, but preserve the line numbering.
2) Process the source string character-by-character and error out if an invalid character is found.

Not sure what's the most idiomatic way to do the first part. Also, there's an existing conformance test for this, righ

[2018-09-21 16:40] jdm commented on #21754
That is correct. The source is stored in a DOMString, which is just a wrapper around a String. I'm not sure if there's a more idiomatic way to implement the replacement than porting the C++ implementation to Rust.

[2018-09-21 17:02] sumit0190 commented on #21691
I can see a bunch of weird things with the tests - a few that should've passed failed and vice-versa - and I am only halfway done with the entire suite. This will take a while...

[2018-09-21 18:28] n2liquid opened #21778 "Linux Build won't run on Debian 9 (missing libssl.so.1.0.0)"
I just downloaded the latest Servo build for GNU from https://download.servo.org/, but it won't run:

[code]

My system has `libssl3.so`, `libssl.so.1.0.2`, and `libssl.so.1.1` under `/usr/lib/x86_64-linux-gnu`. I'm not sure what to do to get Servo to run here. Could anyone help?

[2018-09-21 18:41] #21758 closed

[2018-09-21 20:02] jdm opened #21783 "Panic messages don't appear in logcat"
This means that assertions, unwrap, etc. don't leave any trace. The log shows a sigill, and I can only figure out what's happening if I run the app under gdb. I wonder if we could add a call to `__android_log_write` in the global panic hook to make this work.

[2018-09-21 20:56] SimonSapin commented on #21778
Is the `libssl1.0-dev` package installed?

[2018-09-21 20:59] n2liquid commented on #21778
Hey, Simon. It wasn't installed, but installing it didn't help. Getting the same message.

[2018-09-21 21:36] SimonSapin commented on #21783
This API is unstable and undocumented, but it is public in `std::io`:

[code]

It is similar to `set_print` mentioned in https://github.com/servo/servo/issues/21637#issuecomment-419623081.

[2018-09-21 21:49] SimonSapin commented on #21778
Unfortunately, https://packages.debian.org/search?searchon=contents&keywords=libssl.so.1.0.0&mode=exactfilename&suite=stable&arch=any gives no result :/

Ah, the joys of shipping dynamiclly-linked programs. As far as I can tell we run the linker with a `-lssl` argument, then GCC resolves that *somehow* to a `.so` file on the system at build time, and embeds the basename of that file in the binary.

[2018-09-21 21:54] n2liquid commented on #21778
It's truly a hateful job.

I tried compiling OpenSSL's 1.0.0 release, but a weird linker error made me give up. I'll check back on Servo once this is fixed, was just curious. Actually the same thing happened maybe a year ago and I thought the same thing... :-)

Could you upload your build of `libssl.so.1.0.0` and `libcrypto.so.1.0.0`? Maybe that would be enough for it to boot and for me to check i

[2018-09-21 21:56] n2liquid commented on #21778
Ops, sorry, just noticed you don't have it on your system either. How easy is it to build Servo?

[2018-09-21 22:07] jdm commented on #21783
Yes, I have a patch that adapts Servo's existing panic hook to give me logcat output.

[2018-09-21 22:20] jdm commented on #21763
The underlying GC error is reproducible with the following page:
[code]

[2018-09-21 22:46] jdm commented on #21778
On linux we have a bootstrap command that should install all necessary packages for building, and then building only requires one command and lots of patience.

[2018-09-21 22:47] n2liquid commented on #21778
I'll give that a shot and leave it running on the background, thanks.

[2018-09-21 22:51] jdm commented on #21768
I have a fork with some hardcoded directories and the ability to pass arguments to Servo like a URL and it has made my debugging experience _so much better_.

[2018-09-21 22:52] jdm commented on #21768
[code]

[2018-09-23 07:46] BK1603 commented on #21289
@jdm,
I am not able to build servo on my machine. I have tried a lot of stuff but I still am stuck :sweat_smile:
Here is the error code, can you help me please? :sweat_smile:

error: linking with `cc` failed: exit code: 1

  = note: collect2: fatal error: ld terminated with signal 6 [Aborted], core dumped
          compilation terminated.
          terminate called after throwing an instance of 's

[2018-09-23 12:35] KiChjang commented on #21414
I ran into a segfault while executing servo on my VS. Here's the output:

<details>

[code]

</details>

And here's the stacktrace:

<details>

[code]

</details>

So it doesn't look like that my segfault is related to gstreamer or SpiderMonkey, but with the loading of fonts...

[2018-09-23 14:34] Manishearth commented on #21414
That seems unrelated? The gstreamer stuff is just the backtracking code
complaining about lack of debug symbols

On Sun, Sep 23, 2018, 5:35 AM Keith Yeung <notifications@github.com> wrote:

[2018-09-23 14:59] jdm commented on #21289
That looks like you're running out of RAM while building.

[2018-09-23 16:23] hubertmok opened #21790 "error: Could not compile `mozjs`."
During compile servo project on ubuntu 16.04, it show the following error message:

-----------------------------------------------------------------------------------
warning: redundant linker flag specified for library `stdc++`

error[E0277]: the trait bound `u8: std::convert::From<rust::MutableHandle<'_, u8>>` is not satisfied
    --> /home/hubert/.cargo/registry/src/github.com-1ecc6299db9ec823

[2018-09-23 17:36] jdm commented on #21790
This happens when the installed version of rustfmt is too old.

[2018-09-23 17:40] BK1603 commented on #21289
@jdm,
Even at 6.5 gigs??
I have a minimal linux installation in an 8 gigs machine, it should get at least 6.5 in all cases, how much ram do i need?
Is this some bug?
What do i do now? :sweat_smile:

[2018-09-23 17:53] jdm commented on #21289
We definitely exceed 6gb of used RAM at times during compilation. I don't know what to suggest :/

[2018-09-23 18:00] #21763 closed

[2018-09-23 18:36] arpu commented on #21778
same problem on fedora 28
installed packages are
openssl.x86_64                             1:1.1.0h-3.fc28              @fedora
openssl-devel.x86_64                       1:1.1.0h-3.fc28              @fedora
openssl-libs.i686                          1:1.1.0h-3.fc28              @fedora
openssl-libs.x86_64                        1:1.1.0h-3.fc28              @fedora

[2018-09-23 20:24] mandreyel opened #21791 "failed to compile: 'Unable to detect OpenSSL version'"
I couldn't get the latest master branch of Servo to compile. Apparently I have openssl 1.1.1 installed and it seems to be looking for 0.9.24 but for some reason can't determine the version number. Here's the error log:
[code]

I don't remember updating openssl recently (could compile Servo just fine a week back) but I could be wrong. I tried `./mach clean` and installing the dependencies listed in

[2018-09-23 20:48] BK1603 commented on #21289
@jdm, oh okay
Got it
I will think of something then :sweat_smile:
Like i will tell you soon if i am able to do sonething, else you can just unassign this issue again :sweat_smile:

I'll try something and let you know

[2018-09-23 23:48] AgustinCB commented on #21154
I'll have a PR for this tomorrow, hopefully.

[2018-09-23 23:49] AgustinCB commented on #21481
Will have something to review for this by the end of the week.

[2018-09-24 02:53] hubertmok commented on #21790
I have update the rustfmt to version  0.99.4-nightly and still have this issue

[2018-09-24 03:09] gterzian opened #21792 "Unable to build Servo on a Mac with Xcode 10 (crash / freeze)"
I've recently noticed(in the last week) that it has become impossible to do a successful `./mach build -d -p servo` on a machine with 4GB of RAM.

At the dsymutil stage of the build, memory usage skyrockets, the UI becomes unresponsive, and finally the machine reboots...

For the past two years, it was always quite slow, however with enough patience it was possible. dsymutil was always the most me

[2018-09-24 04:31] gterzian commented on #21792
By the way, `./mach build -r -p servo` still works fine, and there is perhaps something we can improve about the feedback received when trying to run the wpt tests after having done a release build.

Currently, doing `./mach test-wpt` will print out "The dev profile is not built. Please run './mach build' and try again."

This actually gave me the impression that the wpt tests can only be run with

[2018-09-24 05:03] kenan-rhoton commented on #21791
Can confirm this is also happening to me on Arch Linux

[2018-09-24 05:39] gterzian commented on #21792
Finally, here is an idea the feasibility of which I have no idea about: could we make debug builds granular to the level of crates? For example if I'm working on script, I don't really need all the others to be debug builds, and I assume only building one crate as debug will save a lot of work at compile time?

[2018-09-24 06:52] SimonSapin commented on #21791
Note that the 0.9 version number of https://crates.io/crates/openssl is not directly related to the version number of https://www.openssl.org/

[2018-09-24 06:58] SimonSapin commented on #21791
What’s the output of `cat target/*/build/openssl-sys*/output | grep cargo:version` after seeing this `Unable to detect OpenSSL version` error message?

[2018-09-24 07:04] SimonSapin commented on #21792
I *think* there is no default between `dev` and `release`, unless maybe you specified one in a `.servobuild` file?

[2018-09-24 08:06] #21504 closed

[2018-09-24 08:06] #21605 closed

[2018-09-24 09:02] paulrouget commented on #21792
I'm running into this issue as well. On my Mac, which is very recent (2016, 16 GB), at link time, the OS becomes unresponsive to a point that I can't do any work, for about 5 minutes, then my Mac restarts.

dsymutil + kernel_tasks are full CPU/memory.

This is fairly recent.

[2018-09-24 09:31] #21656 closed

[2018-09-24 09:39] paulrouget commented on #21792
This is really annoying. I'm going to bisect and see when this started.

[2018-09-24 09:49] CYBAI commented on #21792
I'd like to report that I have same issue like @paulrouget and my Mac is 2017 16GB.

After monitoring with `htop`, I have same issue when compiling on `libservo` and `libsimpleservo`

[2018-09-24 11:12] mandreyel commented on #21791
@SimonSapin I'm at work now and running Ubuntu (on which Servo compiles with no issues) but I'll send you the log once I'm home.

[2018-09-24 11:14] paulrouget commented on #21792
@CYBAI @gterzian can you please check in the App Store app if you recently updated Xcode 10.0 and/or Command Line Tool 10.0 - and if so, see if the date of the update might correlate with this bug?

[2018-09-24 11:56] codehag commented on #21792
@pauldfaria Interesting. my last successful build was on September 19th, and I updated Xcode on September 20. It could be related

[2018-09-24 12:31] CYBAI commented on #21792
@paulrouget Yes, I updated Xcode to 10.0 on `9/18` and I think my last successful build was on `9/15` (https://github.com/servo/servo/pull/20755#issuecomment-421538780).

![image](https://user-images.githubusercontent.com/6782666/45952011-3bdf6d80-c038-11e8-984a-78cb5df53b44.png)

[2018-09-24 13:17] jdm opened #21795 "Intermittent pass in /css/css-text/i18n/ja/css-text-line-break-ja-cj-strict.html, /css/css-text/i18n/ja/css-text-line-break-ja-iteration-normal.html, /css/css-text/i18n/ja/css-text-line-break-ja-cpm-strict.html, /css/css-text/i18n/ja/css-text-line-break-ja-po-normal.html, /css/css-text/i18n/zh/css-text-line-break-zh-po-normal.html, /css/css-text/i18n/ja/css-text-line-break-ja-in-normal.html, /css/css-text/i18n/ja/css-text-line-break-ja-cpm-normal.html, /css/css-text/i18n/ja/css-text-line-break-ja-hyphens-strict.html, /css/css-text/i18n/zh/css-text-line-break-zh-po-strict.html, /css/css-text/i18n/zh/css-text-line-break-zh-cpm-strict.html, /css/css-text/i18n/zh/css-text-line-break-zh-cpm-normal.html, /css/css-text/i18n/zh/css-text-line-break-zh-iteration-strict.html, /css/css-text/i18n/zh/css-text-line-break-zh-iteration-normal.html, /css/css-text/i18n/zh/css-text-line-break-zh-iteration-normal.html, /css/css-text/i18n/ja/css-text-line-break-ja-po-strict.html"
[code]

[2018-09-24 13:41] jdm opened #21796 "three.js examples are flickery on android"
I tried https://threejs.org/examples/webgl_simple_gi.html, https://threejs.org/examples/webgl_animation_cloth.html, and https://threejs.org/examples/webgl_camera.html, and they are displayed jerkiness and stuttering, along with seemingly rendering past frames over top of current frames.

[2018-09-24 15:36] mandreyel commented on #21791
@SimonSapin Here's the output: `cargo:version=111`

[2018-09-24 15:41] gterzian commented on #21792
Yes I also installed version 10.0 of the command line tools

[2018-09-24 15:47] gterzian commented on #21792
I didn't find a .servobuild locally, and I also haven't had time to go through the Python code, but from a quick `print` it did appear that `dev` was `True` at https://github.com/servo/servo/blob/647796ede66ad84acf6239d8b556ee3735bfc6a6/python/servo/command_base.py#L390 without any arguments passed to `./mach test-wpt`...

[2018-09-24 16:33] jdm opened #21797 "Implement StereoPanner node"
https://webaudio.github.io/web-audio-api/#stereopannernode

note: reserved for a group of NCSU students

[2018-09-24 16:52] jdm opened #21798 "Implement IIRFilterNode node"
https://webaudio.github.io/web-audio-api/#iirfilternode

note: reserved for a group of NCSU students

[2018-09-24 17:16] CYBAI opened #21800 "Implement navigator.serviceWorker in WorkerNavigator"
Spec: https://w3c.github.io/ServiceWorker/#navigator-serviceworker

Related webidl: https://github.com/servo/servo/blob/master/components/script/dom/webidls/WorkerNavigator.webidl

Related constructor: https://github.com/servo/servo/blob/master/components/script/dom/workernavigator.rs

With the patch in https://github.com/servo/servo/pull/20755#issuecomment-421977092, we can only make the `WorkerN

[2018-09-24 18:54] SimonSapin commented on #21791
Alright, this panic matches the code at https://github.com/sfackler/rust-openssl/blob/0.9.x/openssl/build.rs

It looks like we’ve updated to a version of the `openssl-sys` crate that supports OpenSSL 1.1.1, but our version of the `openssl` crate doesn’t. @sfackler, does that sound accurate? Is this fixable while staying with openssl 0.9.x?

I *think* that upgrading to openssl 0.10.x would require

[2018-09-24 19:20] sfackler commented on #21791
You shouldn't need to upgrade your hyper - you can just fork hyper-openssl 0.2.7 and bump it to openssl 0.10.

[2018-09-24 19:36] atouchet commented on #21791
In case this was missed there's an open WIP PR to update hyper and openssl: https://github.com/servo/servo/pull/21644

[2018-09-24 21:05] jdm opened #21802 "Implement DynamicsCompressorNode node"
https://webaudio.github.io/web-audio-api/#dynamicscompressornode

note: I am reserving this for a group of NCSU students.

[2018-09-24 21:56] jdm opened #21803 "Implement ConstantSourceNode audio node type"
Spec: https://webaudio.github.io/web-audio-api/#ConstantSourceNode
Doc: https://developer.mozilla.org/en-US/docs/Web/API/ConstantSourceNode

[2018-09-25 03:54] hubertmok commented on #21790
Thx @jdm, after update clang version, it works

[2018-09-25 05:27] paulrouget commented on #21792
So reverting to xcode 9.4.1 appears to solve the problem.

It's a temporary workaround, but here is how to do it:

- download xcode and command line tools 9.4.1 from https://developer.apple.com/download/more/
- install xcode then command line tools
- make code 9.4.1 default: `sudo xcode-select -s path/to/Xcode.app`

[2018-09-25 07:36] paulrouget opened #21807 "ServoSurface: black screen with webGL demos"
Both https://threejs.org/examples/webgl_simple_gi.html and https://threejs.org/examples/webgl_animation_cloth.html just show a black screen with FxReality + Servo.

[2018-09-25 07:36] paulrouget commented on #21796
Note: that's with the ServoView. With the ServoSurface, it stays black: #21807

[2018-09-25 07:48] paulrouget commented on #21796
On my pixel 2, with a release build, with the servoapp:

https://threejs.org/examples/webgl_simple_gi.html i see the rendering issue, but not really jerkiness or slutter. But both https://threejs.org/examples/webgl_animation_cloth.html and https://threejs.org/examples/webgl_camera.html stay black.

[2018-09-25 07:50] paulrouget commented on #21690
It's working here. I'm just going to assume this is a dupe of #21432.

Please re-open if you believe it's a different problem.

[2018-09-25 07:50] #21690 closed

[2018-09-25 07:58] CYBAI commented on #19172
Is `E-Mail` sanitization missing for this `meta` issue?

Ref: https://html.spec.whatwg.org/multipage/input.html#e-mail-state-(type=email)

[2018-09-25 12:36] jdm commented on #21807
That happens because it was ses the fillText canvas API. If you enable that preference then it shows things.

[2018-09-25 13:45] #21469 closed

[2018-09-25 14:00] paulrouget commented on #21807
@jdm even with that pref on, I can't see anything. I only see the threejs graph.

To be clear, I'm talking about the ServoSurface, used in FirefoxReality.

[2018-09-25 15:45] #21619 closed

[2018-09-25 15:47] tigercosmos commented on #19172
Yes, let's reopen the issue.

[2018-09-25 15:58] #21790 closed

[2018-09-25 16:55] CYBAI commented on #21792
@paulrouget Great! The workaround works for me, too! Thanks!

[2018-09-25 17:19] KiChjang opened #21810 "Remaining issues with input value sanitization"
- [x] We are currently missing the value sanitization algorithm for e-mail type inputs, and the corresponding spec can be found here: https://html.spec.whatwg.org/multipage/input.html#e-mail-state-(type=email), and the implementation in the code can be found here: https://github.com/servo/servo/blob/6e844f22780a1a2b78c3a1f4bd934581144cb34e/components/script/dom/htmlinputelement.rs#L1126-L1150 (#23

[2018-09-25 18:06] takahirox commented on #21807
Seems like it renders nothing? On my test, FxR + Servo renders nothing.

https://rawgit.com/takahirox/three.js/BenchmarkTest/examples/webgl_benchmark_test_basic.html

And the background color of the three.js examples you mentioned is black, then probably the screen is black.

[2018-09-25 18:37] jdm commented on #21637
set_print appears to only affect the thread that calls it, so that doesn't look like a feasible solution.

[2018-09-25 18:46] sumit0190 commented on #21485
Not sure what's the best way to do this, but I was able to perform some crude validation using `get_integer_v` and obtaining the value of `GL_MAX_RENDERBUFFER_SIZE`. @jdm @nox thoughts?

[2018-09-25 18:57] jdm commented on #21485
@sumit0190 The GLLimits structure includes a max_renderbuffer_size field, and it's available from WebGLRenderingContext.limits().

[2018-09-25 18:59] BK1603 commented on #21289
@jdm,
I tried doing a lot of stuff and ended up increasing the swap partition of my linux system, for which I had to format my laptop and reinstall everything, it does work but right now building on my laptop is like hours long, cause when the ram is completely filled up the system gets really slow, I don't think I will be able to build and debug as efficiently then :sweat_smile:

It won't be a pr

[2018-09-25 19:01] jdm commented on #21289
Ok! Sorry it's caused so much trouble for you!

[2018-09-25 19:05] jdm opened #21811 "Make nightly builds not interfere with custom builds"
When I want to install a nightly build, I have to uninstall any previously installed development builds. Similarly, when I want to test a development build, I have to uninstall any previously installed nightly build. We should make the nightly builds be considered a different app (Servo Nightly) so we don't have to jump through these unnecessary hoops.

[2018-09-25 19:09] BK1603 commented on #21289
@jdm,
It's absolutely fine, I don't think it's any of ours fault :smile:

Also it was quite fun interacting there on irc and working on such a huge project, I'd say
Thanks a lot! :smile:

[2018-09-25 19:33] sumit0190 commented on #21485
@jdm Whoops...I saw that chunk of code yesterday and I still forgot. Sorry about that.
Anyway, I see that the parameter is an unsigned int, but obtaining this using `glGetIntegerv` returns a signed value, since a negative value indicates that the implementation doesn't support that construct. I guess for now just comparing `width` and `height` to this parameter is good enough?

[2018-09-25 19:38] jdm commented on #21485
Yep.

[2018-09-26 05:50] paulrouget commented on #21637
So I guess the best way is to reddirect stdout. https://github.com/tomaka/android-rs-glue/blob/0e80cfbcee362f207389dc2660525c3d74987f70/cargo-apk/injected-glue/lib.rs#L250

[2018-09-26 07:28] paulrouget commented on #21773
This is now fixed on both Mac and Linux.

[2018-09-26 07:28] #21773 closed

[2018-09-26 14:38] gterzian opened #21815 "Improve/reconsider Spec compliance of history-traversal task-source and task-queue"
It appears that the Spec contains two related concepts:
1. A [#session-history-traversal-queue](https://html.spec.whatwg.org/multipage/#session-history-traversal-queue),
2. A [#history-traversal-task-source](https://html.spec.whatwg.org/multipage/webappapis.html#history-traversal-task-source)

The queue under 1 appears to be a concept to be run "in parallel", and currently Servo appears to impleme

[2018-09-26 17:40] cbrewster commented on #21150
I've had some more time to look into this (sorry for taking so long).

IRC Convo from a while back: https://mozilla.logbot.info/servo/20180820#c15193609

The plan is to extend the usage of the current profiler to profile WebGL-related things. I have added another variant to the `ProfilerCategory` enum. I am unsure how to go about adding all the `WebGLCommand` variants and WebGL DOM APIs to the `Pr

[2018-09-26 17:45] nupurbaghel commented on #21587
I tried using min-width, max-width queries as well as different combinations of width of images in srcset and according to my understanding in case what is happening for now is-
- any following src is ignored (as mentioned in algo step 4.3)
- in case any query is not matched which will be true if we are using `min-width: <integer>` value eliminating the units, then the max-width image is selected

[2018-09-26 20:01] emilio commented on #21587
So, `ParsingMode::all()` is effectively `ALLOW_UNITLESS_LENGTH | ALLOW_ALL_NUMERIC_VALUES`.

I think we're very lax with the parsing of `sizes`, but `(min-width: 1)` will produce an always-matching media query now, and should produce a never-matching media query instead.

[2018-09-26 20:43] Manishearth commented on #21150
Must it be repr(u32)?

Also, haven't we specified nontrivial enum reprs now?

On Wed, Sep 26, 2018, 10:40 AM Connor Brewster <notifications@github.com>
wrote:

[2018-09-27 04:08] atouchet commented on #21317
I tried retesting this with the latest nightly build to see if there was any difference. Here is logcat output:

[code]

Before it crashes I now see this referenceTable information which I didn't before:

[code]

[2018-09-27 12:30] cbrewster commented on #21150
I just tested, it looks like `[repr(u32)]` can be removed. If we went the sub-enum route, it would clean up `ProfilerCategory` quite a bit.

I wonder why it was initially repr(u32), does that noticeably reduce (de)serialization cost?

[2018-09-27 12:47] jdm commented on #21150
I think it's used right now for the calls to the signpost library, which casts the enum to a u32.

[2018-09-27 13:18] chansuke commented on #21810
@highfive: assign me

[2018-09-27 13:18] highfive commented on #21810
Hey @chansuke! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-09-27 13:47] jdm opened #21819 "Modifying prefs.json does not cause it to be repackaged"
When I make a change to prefs.json (or presumably any other file that is not part of libsimpleservo.so) and run `/.mach package`, the package does not appear to be updated to include the modified file. I need to remove target/gradle and target/android_aar to be sure that the package is regenerated to include it.

[2018-09-27 13:52] jdm commented on #21807
https://github.com/bjacob/webgl-tutorial/blob/master/01-red-triangle.html works, so I'm going to slowly increase the complexity until I figure out what's happening.

[2018-09-27 14:11] jdm commented on #21807
The benchmark page renders just fine with the dom.canvas-text.enabled preference enabled.

[2018-09-27 15:42] jdm opened #21820 "Windows nightly crashes at startup"

[2018-09-27 15:43] jdm commented on #21414
I'm migrating all information about the crash at startup to #21820. The problem related to gstreamer DLLs that prompted this issue has been solved.

[2018-09-27 15:43] #21414 closed

[2018-09-27 15:44] jdm commented on #21820
From ferjm:

I get this when running Servo from VS:

[code]

Without being able to create dev builds on my Windows VM I don`t know what else to do here.

From jdm:
[code]

From ferjm:
Thanks @jdm. I got this stack:

[code]

I tried to break on `servo_97ed653162c863d7!mozilla::Compression::LZ4::decompressPartial+0xf7c5b` with no luck. This seems to come from [mozjs](https://github.com/servo/mozjs/b

[2018-09-27 15:45] jdm commented on #21820
@KiChjang Any chance you could try following the instructions for windbg to catch this in a debugger and investigate what's happening a bit more closely?

[2018-09-27 17:18] jdm opened #21822 "Test processes that receive errors from a different test don't get counted as an error and don't kill the process"
I found this process present on a builder after the test run finished:
[code]
I looked at the log for that test run and found this output:
[code]

[2018-09-27 17:21] jdm commented on #21822
This assertion failure happens inside TestharnessResultConverter, which is invoked from ServoTestharnessExecutor.do_test, which catches a KeyboardException but nothing else. This means that the code to kill the process does not get executed.

[2018-09-27 17:51] jdm opened #21823 "Webgl rendering stops while processing input"
Run an android build and load a three.js example. When I touch the screen, rendering pauses until it's done being processed and the FPS graph shows corresponding spikes.

[2018-09-27 17:54] jdm opened #21824 "Reloading three.js cloth example makes textures disappear"
When I press reload while the cloth example is running, the resulting page shows no textures, only black surfaces for the cloth and ground.

[2018-09-27 17:55] jdm commented on #21796
It's much worse in a debug build than a release build, but it's still visible. jrmuizel said it looks like the frames are being drawn out of order, which would explain the visual effect.

[2018-09-27 19:07] jdm commented on #21823
All of the input is processed by calling `mRunCallback.inGLThread` in Servo.java. When I call `this.setBatchMode(true)` in the constructor, this problem goes away but we no longer process events. I'm pretty confident that out input processing is blocking the GL rendering.

[2018-09-27 19:30] jdm commented on #21823
This sounds like https://github.com/servo/servo/issues/19679.

[2018-09-27 21:00] #21314 closed

[2018-09-27 23:21] jdm commented on #21796
This is particularly evident if I force the readback path instead of shared texture.

[2018-09-28 06:04] tigercosmos commented on #21810
@KiChjang I am curious about the statement, "successfully parsing the string does not mean a successful validation".
Take `date` type for example, three points in `valid date string` are all in `parse a date component`, and `parse a date component` even has more steps. In this case, is the statement true or false?

[2018-09-28 08:14] takahirox commented on #21807
How can I set  `dom.canvas-text.enabled`? about:config?

[2018-09-28 08:29] ferjm commented on #21612
The spec related to task queues and task sources in general is [here](https://html.spec.whatwg.org/multipage/webappapis.html#task-queue). And while it's a very nice background to have, I wouldn't worry too much about all those details for the purpose of this issue.

I think the implementation of `TaskSource` for the `MediaElementTaskSource` should look pretty much like the one for the [`DOMManipul

[2018-09-28 08:43] paulrouget commented on #21807
@jdm: which device?

@takahirox for now it's not possible. You have to rebuild Crow with the pref on.

[2018-09-28 11:58] jdm commented on #21807
Ocuous Go.

[2018-09-28 13:03] jdm opened #21831 "Intermittent failure in /html/browsers/history/the-history-interface/history_go_to_uri.html"
[code]

[2018-09-28 13:13] jdm opened #21832 "Appveyor is broken"
This is a result of #21809 but I don't understand why it's only affecting windows.
[code]

[2018-09-28 13:18] SimonSapin commented on #21832
Maybe we don’t run `mach cargo --version` on other CI systems? Replacing that with `cargo --version` (without `mach`) should be fine now that we use rustup with a `rust-toolchain` file.

[2018-09-28 16:06] jdm commented on #21796
The flickering goes away if I remove the call to requestRender from ServoView::doFrame. This makes sense, since that buffer flip request is not synchronized with any corresponding webrender rendering, so for a triple-buffered Android application (for example), we'll end up swapping out for a buffer that hasn't been redrawn since the last render that was requested from ServoView::flushGLBuffers (wh

[2018-09-28 16:57] jdm opened #21836 "Use WebRender's transactions better"
There are a bunch of places in Servo that create a Transaction, perform some kind of update (creating an image, updating an image, deleting an image, doing stuff with fonts, etc.), then call the `update_resources` Webrender API. This is a Servo-only API that was added to Webrender to accommodate the fact that we're not using transactions correctly, so we should work on removing all uses of it. As

[2018-09-28 17:01] jdm opened #21837 "Differentiate between "nightly development config" and "release config""
Right now we have prefs.json, which is applied to local builds and nightly builds. There is also package-prefs.json, which is merged into prefs.json for nightly builds. However, in some cases we would like local and nightly builds to behave the same, but we also want some kind of config that applies to blessed builds of some kind that represent something that is intended for a wider audience. We s

[2018-09-28 17:01] highfive commented on #21837
cc @wafflespeanut

[2018-09-28 17:01] highfive commented on #21837
cc @aneeshusa

[2018-09-28 18:38] jdm opened #21838 "WebGL shared contexts and Webrender aren't synchronized"
With the following diff applied (to address #21796):
[code]
we end up with really smooth webGL rendering, except that parts of the view flicker in and out of existence. This is caused by using a shared GL context, meaning that the display list that webrender receives contains an external image type cotaining the GL context id. When webrender processes this display list, it ends up blitting the con

[2018-09-28 18:40] jdm commented on #21838
Adding a `thread::sleep(Duration::from_millis(100))` to the end of layout made the de-synchronization problem go away, which increases my confidence in my analysis.

[2018-09-28 18:43] jdm commented on #21838
This has implications for preserveDrawingBuffer, too, since the context needs to be cleared after webrender is done with it and before any further GL drawing occurs.

[2018-09-28 18:58] jdm commented on #21838
The readback mode works fine because it obtains the pixels for the canvas during layout, so any subsequent modifications of the canvas aren't picked up when webrender processes the display list.

[2018-09-28 19:10] cers commented on #21055
I'm having the same issue, however llvm doesn't seem to have a --with-shared-libs flag anymore:

Warning: llvm: this formula has no --with-shared-libs option so it will be ignored!

Any other ideas on how to get around this issue?

[2018-09-28 19:46] jdm commented on #21055
@cers Can you post the output from your build?

[2018-09-28 19:56] cers commented on #21055
@jdm Certainly!

I'm not sure how to best insert it here, if there's a better way than just pasting it as code, do let me know.

`error: failed to run custom build command for `osmesa-src v18.1.0-devel (https://github.com/servo/osmesa-src#25825d4c)`
process didn't exit successfully: `/Users/Christian/Projects/mozilla/servo/target/release/build/osmesa-src-dbd262c4fe82f3ab/build-script-build` (exit

[2018-09-28 20:39] jdm opened #21839 "Windows nightly reports missing gstreamer DLLs"
[code]

[2018-09-28 22:40] jdm commented on #21055
@cers See if removing old versions of llvm makes a difference?

[2018-09-29 02:37] CYBAI commented on #21055
The homebrew team did remove the `--with-shared-libs` of llvm formula.

Ref: Homebrew/homebrew-core#32025

I also got into this issue before and my workaround is use `brew edit llvm@6` to get the `--with-shared-libs` back (reference to the PR).

[2018-09-29 03:32] jdm opened #21843 "Loading grass image in cloth animation three.js example is slower than desktop"
https://threejs.org/examples/webgl_animation_cloth.html

It relies on https://github.com/mrdoob/three.js/blob/dev/src/extras/ImageUtils.js, so it would be worth checking how long that operation takes.

[2018-09-29 05:08] KiChjang commented on #21820
@jdm I still got the following stack using your method as described:

<details>

[code]

</details>

... which points to this line in the source file: https://github.com/servo/servo/blob/97e3c5f3a9158080b6e9b8d654b4ea3c285c722f/components/gfx/platform/windows/font.rs#L249

[2018-09-29 06:16] KiChjang commented on #21820
Ok, so I think I figured out what the problem is... while trying to fetch the fonts for Microsoft YaHei, the `new_from_font` function failed when calling the weight() method here:

https://github.com/servo/servo/blob/97e3c5f3a9158080b6e9b8d654b4ea3c285c722f/components/gfx/platform/windows/font.rs#L212

... which perhaps hints at the inability for servo to handle asian fonts?

[2018-09-29 06:56] KiChjang commented on #21820
I suspect the problem will solve itself once we update to dwrote 0.5.

[2018-09-29 07:15] KiChjang commented on #21820
...which is blocked by #21725.

[2018-09-29 07:50] KiChjang commented on #21810
@tigercosmos I found the relevant IRC chat record that prompted this: https://freenode.logbot.info/whatwg/20180117#c1402104
TL;DR floating point strings are allowed to have whitespaces in front of them during parsing, in which case they are ignored, but the validation algorithm would report invalid on floating point strings that have extra whitespace in front.

[2018-09-29 12:11] jdm commented on #21820
Thank you for investigating!

[2018-09-29 13:52] KiChjang commented on #21820
I misspoke, we need an even more recent version of web render in order to bump dwrote to version 0.5.

[2018-09-29 14:17] jdm commented on #21820
What happens if we bump the version used by Servo and ignore webrender right now? Does the startup crash go away?

[2018-09-29 15:15] KiChjang commented on #21820
I tried that yesterday, and the reason why I said that we need a new webrender version is because WR is currently on dwrote 0.4, and one of the WR API functions that we use contains a type exported from dwrote, and bumping dwrote to 0.5 on servo would cause a type mismatch due to versioning differences.

[2018-09-29 19:55] pyfisch commented on #20331
I am working on this. It mostly works. I just need to refactor the built-in keyboard shortcuts.

[2018-09-30 02:13] fabricedesre commented on #21333
@paulrouget do you have any schedule / ETA ? Is that still the plan to do that?

[2018-09-30 09:41] ferjm commented on #21839
No, the zip does not contain the required GStreamer dlls. I am not sure if we can add them there directly though. Would it be acceptable to add the GStreamer installer to the zip?

[2018-09-30 21:18] AmarOk1412 commented on #21778
@arpu just tried `./mach bootstrap` on Fedora 28. (` openssl-devel-1:1.1.0i-1.fc28.x86_64 ` was already installed), Didn't have any issues.

[2018-09-30 21:31] AmarOk1412 commented on #18872
Still the case?

[2018-09-30 21:33] arpu commented on #21778
looks like the poroblem is only on the binarys from https://download.servo.org/

so building from source should work

[2018-09-30 21:34] AmarOk1412 commented on #18563
Seems fixed

[2018-09-30 23:07] #15507 closed

[2018-10-01 01:31] russell-davidson opened #21846 "Problem with mozjs_sys v0.61.0"
I am trying to build servo on debian testing (buster), and all goes well until the compilation of
mozjs_sys v0.61.0
This process fails:
servo/target/debug/build/mozjs_sys-1f030f6e50ebd54f/build-script-build
When I try to run this directly from the command line, there is a missing dependency. ldd shows two such:
libproc_macro-ef273343e97c62d9.so => not found
libstd-cbdc169671953fab.so => not found

[2018-10-01 06:58] paulrouget commented on #21333
It is still planned. No ETA yet. Do you need multi-document support soon?

[2018-10-01 06:59] paulrouget commented on #18563
@AmarOk1412 indeed.

[2018-10-01 06:59] #18563 closed

[2018-10-01 09:03] #21832 closed

[2018-10-01 09:34] nox commented on #21846
There is no way `mozjs_sys`'s build system on its own is triggering this. Did you maybe try to build with a different Rust than the one Servo installs by itself?

[2018-10-01 09:34] nox commented on #21846
Cc @asajeffrey

[2018-10-01 09:42] nox commented on #21843
Those canvas functions are all pretty naively implemented, with a lot of useless message passing and inefficient vector operations.

[2018-10-01 12:39] russell-davidson commented on #21846
Thanks for your speedy reply.

I followed the instruction to do:

curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain none

in order to install rust. Then:

./mach bootstrap .

and finally

./mach build --dev

I also tried ./mach check,

which gave exactly the same bunch of error messages.

Best wishes, Russell.
--
Russell Davidson,                  email Russell.Davidson@mcgill.ca
Depar

[2018-10-01 15:56] russell-davidson commented on #21846
Installing clang-3.9 via debian didn't work. I used the code in the fileE0277
clang-sys-0.23.0/ci/before_install.sh in .cargo/registry...
to install clang-3.9.0 and export LLVM_CONFIG_PATH and LD_LIBRARY_PATH
This seemed to work, at least as far as getting rid of the message about Debian clang version 3.5.2-3~bpo8+2
However, there are now quite different errors, with messages in the attached crap2

[2018-10-01 16:06] jdm commented on #21846
Those errors occur when you have a version of rustfmt installed that is outdated.

[2018-10-01 16:39] fabricedesre commented on #21333
This would be a lie to claim it's urgent :) I'm just tired of rebasing my hacked <iframe webview> patches so I would not mind testing this setup.

[2018-10-01 16:51] russell-davidson commented on #21846
Thanks, jdm. What should I do to get an uptodate rustfmt instead of
curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain none
?

[2018-10-01 17:37] tigercosmos commented on #21810
BTW, WPT tests passed before with the old implementaion, so WPT tests should also be updated to make the behavior correct.

[2018-10-02 02:51] gterzian commented on #21815
Related https://github.com/whatwg/html/issues/4054

[2018-10-02 10:38] jdm commented on #21846
Try following https://github.com/rust-lang-nursery/rustfmt/#installation.

[2018-10-02 13:29] jdm commented on #21807
All of the demos in https://github.com/bjacob/webgl-tutorial work fine (eg. https://rawgit.com/bjacob/webgl-tutorial/master/11-per-pixel-lighting.html), with the exception of the animating ones that expect that Servo will clear the buffer (see https://github.com/servo/servo/issues/21132). Those at least still draw things, so I will continue searching for what the three.js examples do differently.

[2018-10-02 13:39] jdm commented on #21807
https://aframe.io/examples/showcase/lights/ doesn't render correctly, but it does render.

[2018-10-02 13:47] ferjm opened #21852 "Load event not triggered for some media elements WPTs"
#21543 is introducing some changes that makes the document load event to be delayed forever in some cases. The issue can be reproduced (and is the reason of the WPTs timeouts) running at least the following WPTs:

* /html/semantics/embedded-content/media-elements/ready-states/autoplay.html
* /html/semantics/embedded-content/media-elements/ready-states/autoplay-with-slow-text-tracks.html
* /html/se

[2018-10-02 13:51] jdm opened #21853 "Loading A-Frame snowglobe example causes Oculus GL to run out of memory"
This means the FxR browser stops being able to display anything:
[code]

[2018-10-02 14:45] paulrouget opened #21854 "Drop support for Arm (Armv7 should be default)"
@MortimerGoro mentioned in #21851:

[2018-10-02 14:58] SimonSapin commented on #21854
Do we have any support to drop? It looks like we’re already building for ARMv7:

https://github.com/servo/servo/blob/57053e03bbfc65e1d2f283cfa8646038be9f9b06/python/servo/command_base.py#L298-L299

[2018-10-02 15:08] paulrouget commented on #21854
I haven't really looked. What about https://github.com/servo/servo/blob/57053e03bbfc65e1d2f283cfa8646038be9f9b06/python/servo/package_commands.py#L223 or support/android/fakeld/fake-ld-arm.sh or the armr reference in the different build.gradle files?

[2018-10-02 15:12] paulrouget opened #21855 "What is set_animation_state for?"
As for as I understand, there are 2 ways we want to run the embedder event loop.

Either Servo is not animating, then we block on window events, either Servo is animating, and then we block on swap_buffer.

If I'm not mistaken, this behavior was introduced a while back: https://github.com/servo/servo/commit/c8255922a98996c5aea7eff8eb837682d883aa63

But when animating, a Recomposite message i sent

[2018-10-03 01:53] gw3583 commented on #21855
I can't recall the specifics, sorry. I think the main issue is probably that if the compositor thread is going to sleep / being woken up during animation, it's quite likely that it will miss vsync due to OS scheduler timing differences. This would result in animation sometimes looking janky if that occurs?

[2018-10-03 03:17] paulrouget commented on #21855
@gw3583 is it also possible that waking up the compositor thread too often might increase CPU consumption too?

[2018-10-03 03:18] paulrouget commented on #21855
I can measure that.

[2018-10-03 03:37] devopsec opened #21857 "Compilation failing [branch: master]"
OS version: Linux Mint 18.2
Kernel Relase: 4.15.0-29-generic
Kernel Version: #31~16.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018
rustc version: rustc 1.30.0-nightly (7061b2775 2018-08-28)
rustup version: rustup 1.13.0 (ea9259c1b 2018-07-16)
Side Note: Linux Mint is an upstream version of Ubuntu, which is supported according to servo/python/servo/bootstrap.py. consider adding to disro list check, l

[2018-10-03 03:49] paulrouget opened #21859 "ServoSurface: implement animation loop"
https://github.com/servo/servo/blob/021a24d5bb8dc54bc4496b528d821f11aa3ca745/support/android/apk/servoview/src/main/java/org/mozilla/servoview/ServoSurface.java#L178

I believe that we only need to loop and call performUpdates.

I'm wondering how that will work with FxR. I'm not sure how to synchronize the refresh rate. Do we only need to make sure that SwapBuffers blocks long enough (vsync) or do

[2018-10-03 04:03] paulrouget opened #21860 "ServoSurface: make it possible to change the Surface"
We should be able to re-attach a new Surface to ServoSurface. For example after the app has been sent to background.

[2018-10-03 08:02] jdm commented on #21857
This happens when the version of rustfmt installed is too old.

[2018-10-03 08:32] MortimerGoro commented on #21859
We shouldn't need synchronization or callback for FxR. It's handled automatically by SurfaceTextures as long as we use SurfaceTextures with the default constructor (not single buffered mode).

FxR loop just calls SurfaceTexture.updateTexImage() (which does the synchronization internally) and then renders the texture normally.

[2018-10-03 08:51] nox opened #21861 "Use streaming APIs to encode images, base64, etc"
https://github.com/PistonDevelopers/image-png/issues/75
https://github.com/alicemaz/rust-base64/pull/56

We want `HTMLCanvasElement::ToDataURL` to require less intermediate buffers.

[2018-10-03 08:52] jdm opened #21862 "Maven publishing infodump"
you need to put these actions on the function:     Allow: s3:PutObject    Allow: s3:GetObject     Allow: s3:ListBucket     Allow: s3:GetObjectVersion
triggers: https://screenshots.firefox.com/SL4v5K5NIbgRKLy9/us-west-2.console.aws.amazon.com
actions: https://screenshots.firefox.com/97Q9NsG89gfi7W87/us-west-2.console.aws.amazon.com

[2018-10-03 10:01] #21796 closed

[2018-10-03 12:29] CYBAI commented on #21857
Same as #21790

[2018-10-03 13:15] muliar commented on #21839
Latest installer: [servo-latest.exe](https://download.servo.org/nightly/windows-msvc/servo-latest.exe)
Errors:
[code]

[2018-10-03 14:05] jdm commented on #21857
Actually I think this is caused by a version of clang that is <3.9.

[2018-10-03 16:37] tigercosmos commented on #1141
@pcwalton could you point out the relevent code for current code? or maybe this is out of date?

[2018-10-03 16:40] pcwalton commented on #1141
To be honest, I think all of that code should be rewritten.

But here it is: https://github.com/servo/servo/blob/f7630dad87da33449ce05b5e7a9ef6f747e9531d/components/gfx/text/text_run.rs#L288

[2018-10-04 00:18] atouchet commented on #21839
@muliar do you have GStreamer installed on your C: drive?

[2018-10-04 00:35] jdm opened #21866 "Use of get_cx can fail after clearing JS runtime"
Using window.get_cx can trigger a script thread panic when it runs as part of a task that affects a global that already had its runtime cleared. We can avoid this by cancelling all outstanding tasks for the global as part of Window::clear_js_runtime.

[2018-10-04 00:36] jdm commented on #21866
An example of what this looks like:
[code]

[2018-10-04 00:43] jdm commented on #21839
They should not have to have GStreamer installed; the installer should put the files in the right place.

[2018-10-04 01:04] asajeffrey commented on #21866
Related to https://github.com/servo/servo/issues/21419, and in general lots of code which assumes browsing contexts are never discarded.

[2018-10-04 07:07] muliar commented on #21839
Good point!
Servo Installer has installed gstreamer onto D:\ somehow yesterday: time modified is an evidence.

[2018-10-04 07:51] ferjm commented on #21839
Ugh, I have no idea how to do it, but I guess we'd need to inspect the registry to figure out where GStreamer was installed (and hope that GStreamer writes something there) before setting the PATH [here](https://github.com/ferjm/servo/blob/3c5c01a109eb5d673fb24a59557b85562635e307/support/windows/Servo.wxs.mako#L43).

/me reinstalls a Windows VM :(

[2018-10-04 10:21] AgustinCB commented on #21866
How can I reproduce this on local?

[2018-10-04 10:28] AgustinCB commented on #21866
Also, when you mean the global, do you mean all the tasks submitted through GlobalScope.pipeline_id?

[2018-10-04 10:45] jdm commented on #21866
You may be lucky enough to be able to trigger this (potentially) intermittent failure by running `./mach test-wpt tests/wpt/mozilla/tests/mozilla/postmessage_closed.html`. And when I talk about the global, I mean tasks that get queued that make use of a Window object and end up calling the get_cx method for some reason when they are later executed.

[2018-10-04 12:59] AgustinCB commented on #21866
Sorry, I have more questions:

How can I get a list of such a tasks? I have been taking a look at the `window` and `globalscope` files but didn't find references.

[2018-10-04 15:09] jdm commented on #21866
There's no way to get such a list without looking at each use of CommonScriptMsg::Task, as far as I can tell. It shouldn't be necessary to modify any of them, though; we built our task cancellation mechanism that you've been improving to enable this use case - if we use the API that marks all task sources as cancelled then any outstanding tasks for those sources will be ignored.

[2018-10-04 18:30] jdm opened #21870 "Extract code coverage data from WPT test runs"
It is possible to extract code coverage from Rust code (https://github.com/xd009642/tarpaulin, https://medium.com/@Razican/continuous-integration-and-code-coverage-report-for-a-rust-project-5dfd4d68fbe5, https://github.com/kennytm/cargo-kcov, etc.). It is also possible to get code coverage data for Firefox out of the automated test runs that happen (https://developer.mozilla.org/en-US/docs/Mozilla

[2018-10-04 18:35] jdm commented on #21870
https://marco-c.github.io/2017/07/28/code-coverage-architecture.html has useful background information and mentions rust code in particular.

[2018-10-05 11:07] gterzian commented on #21866
@AgustinCB Here are a few more pointers, hopefully they're correct and useful:

1. It appears the [test](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/postmessage_closed.html) is first using `postMessage` on an iframe, and then removing the iframe from the DOM tree of the page where it is embedded.
2. It appears to be a same origin iframe, hence `postMessage` will end

[2018-10-05 13:01] jdm opened #21873 "Intermittent failure in /html/browsers/history/the-history-interface/history_go_zero.html"
[code]

This is probably the same underlying failure as #21831.

[2018-10-05 15:53] jdm commented on #21862
This is implemented.

[2018-10-05 15:53] #21862 closed

[2018-10-05 17:51] jdm opened #21874 "Add StorageEvent.initStorageEvent"
The specification was updated to include it: https://github.com/whatwg/html/pull/4063#event-1887683389

https://html.spec.whatwg.org/multipage/webstorage.html#the-storageevent-interface

[2018-10-05 20:19] jdm opened #21875 "Android logging is cutting off the beginning of some messages"
[code]

[2018-10-06 06:46] #21306 closed

[2018-10-06 10:17] mandreyel commented on #17401
How has https://github.com/servo/servo/pull/21713 affected this issue? Can you please give a few more details?

[2018-10-06 11:15] Webysther opened #21880 "Application can't initialized correctly"
![sem titulo](https://user-images.githubusercontent.com/750007/46570747-cc268800-c93f-11e8-8d34-623764dda9a1.png)

Downloaded for windows. Windows 10 on Dell notebook.

[2018-10-06 13:03] CYBAI commented on #21880
Thank you for the bug report. This is already being tracked in #21820.

[2018-10-06 13:03] #21880 closed

[2018-10-06 16:48] atouchet commented on #21839
@ferjm would it be possible to dictate which drive GStreamer is installed to? I feel like the main issue here is that GStreamer sometimes installs to unexpected locations by default instead of C:. The installer from the GStreamer website does the same thing but at least with that one the directory can be changed.

[2018-10-06 20:07] jdm commented on #21857
You need to remove any mozjs* directories from tarrget/debug/build to force a rebuild.

[2018-10-07 02:15] dguenther commented on #20218
I came across a similar crash when working on #21882 with this test: https://github.com/servo/servo/blob/76ddbe4d7afd48b83b23f3fd0cff47b214a0a290/tests/wpt/web-platform-tests/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/quirks.window.js#L41-L47
a minimal repro:
[code]
A few lines from the trace in common with the original issue:
[code]

It seems like the problem is when modify

[2018-10-07 11:42] jdm commented on #8539
Please do, @gilbertw!

[2018-10-07 15:31] devopsec opened #21885 "add requirements.txt"
Add a requirements.txt for required python modules and make part of the install process.

-- Problem:
some python modules may not be installed
instead of letting user track them down install required modules
-- Example:
on fresh build i had to install certifi module to run the bootstrap commands (specifically: ./mach bootstrap)

-- Solution:
track required python modules in a requirements.txt file

[2018-10-07 15:54] SimonSapin commented on #21885
The only Python-related requirement for building should be Python 2.7 and virtualenv. The `mach` script will automatically create a virtual environment and install dependencies listed in `python/requirements.txt`.

If after following the steps for building at https://github.com/servo/servo#readme you get a Python error, please copy-paste the full output together with the command you’re running. It

[2018-10-07 18:49] devopsec commented on #21857
Actually upgrading to clang v6.0 was able to compile mozjs, I forgot to update new version as my default binary.

mozjs is compiling now but it looks like we're failing on mozjs_sys now...

System info:

[code]

DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=18.2
DISTRIB_CODENAME=sonya
DISTRIB_DESCRIPTION="Linux Mint 18.2 Sonya"
NAME="Linux Mint"
VERSION="18.2 (Sonya)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAM

[2018-10-07 19:01] devopsec commented on #21857
Many of the warnings have to do with signed integer overflow (strict compiler checking), first one is from mozjs_sys-0.61.0/mozjs/intl/icu/source/i18n/collationweights.cpp
But i don't think that is the root cause.

Searching for the 1st occurence of 'error' in the output we see that some of the included headers for clang v6.0 are throwing errors:

backend.mk:2160: warning: overriding recipe for ta

[2018-10-08 01:59] dzbarsky opened #21886 "Slither.io very broken"
When loading the page, at first it flashes something that looks like it may be correct rendering of start screen, then it switches to
https://www.dropbox.com/s/w4sfvafacrsd513/Screenshot%202018-10-07%2021.59.35.png?dl=0

[2018-10-08 02:26] Manishearth opened #21887 "AudioBuffer can't be reused between BufferSourceNodes"
If the buffer contents have already been acquired, we return an empty buffer.

Changing [this line](https://github.com/servo/servo/blob/d048aa9c519cf17e2998c198136b9f85d3fefbcb/components/script/dom/audiobuffer.rs#L153) to `continue` fixes this for me, but not perfectly.

The spec isn't very clear here, @ferjm do you have a better idea of what we should do here? This is affecting a lot of tests.

[2018-10-08 08:01] paulrouget commented on #17401
I'm not sure. I haven't looked at this for a long time, so this might not be relevent.

Looking at the PR, that might just work as long as focused_browsing_context_id is a top level browsing context.

The idea is this: there are multiple top level browsing contexts and only one is "active" (see `active_browser_id`). Let's say `top level context A` is active and a descendant `pipeline a` is focused

[2018-10-08 13:01] ferjm commented on #21887
I believe this is the expected behavior. At least, that was my interpretation of the [spec](https://webaudio.github.io/web-audio-api/#acquire-the-content) (step 1 of acquire the content). FWIW that seems to be what [Gecko is doing](https://dxr.mozilla.org/mozilla-central/source/dom/media/webaudio/AudioBuffer.cpp#431) as well.

Note that an AudioBuffer can be reused between AudioBufferSourceNodes (

[2018-10-08 14:41] Manishearth commented on #21887
Testcase:

[code]

In Firefox this logs 0.5 0.5 0.25 0.25, in Servo it logs 0.5 0 0.25 0. In Servo, b2 is effectively silent because the buffer was taken away from it.

[2018-10-08 16:29] pyfisch opened #21891 "Assertion begin <= self.edit_point fails in text selection code"
[code]

Steps to reproduce:

1. Open https://google.com (or any other document with text input)
2. Focus text input
3. Press <kbd>a</kbd>, <kbd>b</kbd>, <kbd>c</kbd>
4. Hold <kbd>Shift</kbd> and press <kbd>←</kbd> 3 times
5. Hold <kbd>Shift</kbd> and press  <kbd>→</kbd>

Expected: text is "abc" and "bc" selected
Observed (on debug build): assertion failure

[2018-10-08 17:04] KiChjang commented on #21891
cc @jonleighton

[2018-10-08 18:26] devopsec commented on #21857
Has something to do with rustfmt as indicated above. See error:

[code]

error: toolchain 'nightly-2018-10-05-x86_64-unknown-linux-gnu' does not have the binary `rustfmt`
info: backtrace:

stack backtrace:
   0:     0x565499bda3ec - backtrace::backtrace::trace::h23c45a8a47d8c8ed
   1:     0x565499bd9a42 - backtrace::capture::Backtrace::new_unresolved::h67d805582adf2cb9
   2:     0x565499bd9317 - e

[2018-10-09 01:38] #21243 closed

[2018-10-09 02:47] #21691 closed

[2018-10-09 09:16] nox commented on #21843
Locally I see that the animation itself is slow, but I don't see it being slower to *load*.

[2018-10-09 09:20] nox commented on #21132
So @jdm, do we know for sure whether we actually preserve the drawing buffer or not in the current code?

[2018-10-09 09:27] nox commented on #21843
Btw this demo complains about a missing extension:

[code]

[2018-10-09 09:29] nox commented on #21005
#21004 and this one both uses `THREEJS.PerspectiveCamera`.

[2018-10-09 09:31] nox commented on #21011
The fps are not displayed when viewing this in Servo.

[2018-10-09 11:14] #6711 closed

[2018-10-09 12:37] jdm commented on #21132
I have some links that concusively demonstrate that we do.

[2018-10-09 12:40] nox commented on #21132
I think it would be a better compromise to at least change the code to act
as if preserved faxing buffer was always true.

Le mar. 9 oct. 2018 à 14:38, Josh Matthews <notifications@github.com> a
écrit :

[2018-10-09 13:16] ferjm commented on #21839
I don't know, I guess that's possible. The current installer already allows to manually change the installation path (through the Options menu).

I think it would be safer to get the installation path from the registry. I found that GStreamer writes the `HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\GStreamer1.0\x86\InstallDir` key in the registry. So we can use that value. I just need to figure out how

[2018-10-09 13:28] jdm opened #21893 "Large numbers of referrer-policy tests time out intermittently"
I've seen it before, and I'm not really sure why it happens.
<details>

[code]

</details>

[2018-10-09 17:25] jdm opened #21896 "Use use_scene_builder_thread on webrender transactions"
Per https://github.com/servo/servo/pull/21725#issuecomment-422446677 we should be using this flag, and it defaults to false right now.

[2018-10-09 20:57] jdm opened #21899 "Intermittent error in /css/cssom-view/scroll-behavior-smooth.html"
[code]

[2018-10-09 21:43] jdm opened #21900 "Can't open webxr.today"
There's some kind of redirect to a javascript: URL and the fetch code doesn't know what to do with that.

[2018-10-09 21:44] jdm commented on #21900
This actually does work on desktop, but didn't work when I tried to load it on oculus.

[2018-10-10 13:31] jdm commented on #21467
#21467 was a good start at addressing this issue. I left some review comments on it that any further attempt should follow.

[2018-10-10 14:03] jdm commented on #21807
I have discovered how to make the three.js examples render correctly. If I comment out the `background-color: #000000` property in the `body` css rule, everything draws perfectly. I am not sure why that is only a problem on oculus, however!

[2018-10-10 15:39] jdm commented on #21485
I didn't realize that we already perform this check in WebGLRenderingContext::RenderbufferStorage.

[2018-10-10 15:39] #21485 closed

[2018-10-10 16:56] jdm commented on #21807
It's something specific to three.js - adding `<style>body { background-color: #0000 }</style>` to https://raw.githubusercontent.com/bjacob/webgl-tutorial/master/01-red-triangle.html does not cause the webgl content to disappear, but adding it to http://joshmatthews.net/webgl5.html does.

[2018-10-10 18:06] jdm opened #21903 "Create pretty-printer helpers for JS values"
Porting the relevant helpers from https://searchfox.org/mozilla-central/source/js/src/gdb/mozilla to something that can be used in lldb for Servo would make debugging problems that intersect the JS engine easier.

[2018-10-10 18:07] jdm commented on #21903
https://searchfox.org/mozilla-central/source/third_party/python/lldbutils/lldbutils has code that could be useful as a model, even though it doesn't make use of JS engine types.

[2018-10-10 22:32] jdm commented on #21807
I can replicate this with the following testcase:
[code]
This makes me believe that we're not initializing the default framebuffer correctly, and it just happens to work on desktop.

[2018-10-10 22:46] jdm commented on #21807
Other testcases that previously worked demonstrate the same issue when I pass `alpha: false` when creating the GL context.

[2018-10-10 23:29] #21592 closed

[2018-10-11 00:54] #21839 closed

[2018-10-11 05:10] Manishearth opened #21908 "Intermittent TIMEOUT on /html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html"
https://github.com/servo/servo/pull/21904#issuecomment-428784301

<details>

[code]

</details>

cc @ferjm

[2018-10-11 08:57] ferjm commented on #21908
cc @ceyusa

[2018-10-11 09:21] ferjm opened #21909 "Intermittent FAIL /css/CSS2/text/white-space-pre-002.xht"
[code]

[2018-10-11 10:15] #21612 closed

[2018-10-11 10:38] nox commented on #21843
Loading the image on Android doesn't seem slow to load, but then if you refresh the page it doesn't load again ever. Did you ever see something like that @jdm?

[2018-10-11 12:41] jdm commented on #21843
I have seen that, yes. Are you comparing the loading speed against Firefox?

[2018-10-11 16:10] jdm opened #21916 "Intermittent problem on windows taskcluster"
[code]
from https://tools.taskcluster.net/groups/XoQXB29bSA201P8pSwvXXg/tasks/Sp2abfm4TVKUbm11JREGDg/runs/1/logs/public%2Flogs%2Flive.log
cc @SimonSapin

[2018-10-11 16:15] jdm opened #21917 "Allow mach to build FirefoxReality APK, install it and run it on oculus devices"
It should be possible to set up a configuration setting pointing at a FirefoxReality working directory, run `./mach package --reality` to invoke gradle, then run `./mach install --reality` and `./mach run --reality http://google.com` to control the attached device. This would be an easier workflow to manage when making changes to Servo that need to be reflected in the final FxR build that gets run

[2018-10-11 16:15] highfive commented on #21917
cc @wafflespeanut

[2018-10-11 16:35] SimonSapin commented on #21916
pmoore points out on IRC that the most relevant error message is `command_000000_wrapper.bat: Access is denied`:

[code]

[2018-10-11 16:53] petemoore commented on #21916
I haven't seen this before, but for some reason, generic-worker seems to have a problem writing to the task directory. I'm investigating...

[2018-10-11 17:31] jdm opened #21919 "Reloading pages containing images makes the images not load"
Not sure if this is a network cache or image cache problem, but I can reproduce it with a page with a single `<img>` and reloading the page after it finishes loading in servo on desktop.

[2018-10-11 17:34] jdm commented on #21807
I can reproduce the same problem without webgl. This page shows an image:
[code]
This page does not:
[code]

[2018-10-11 18:17] jdm commented on #21807
The previous testcase is incorrect; I was misled by #21919. I have determined that images that have an alpha channel (like the google one in the previous testcase) display fine, whether there is a page background colour or not. Images without an alpha channel (including WebGL canvases with `{alpha: false}`) have the page background drawn over top of them.

[2018-10-11 19:51] jdm opened #21920 "Opaque images are not always treated as opaque"
Webrender has an `is_opaque` flag that is part of the image descriptor. The code in `image_cache.rs` computes this value based on whether the provided pixels are RGB8 (so no alpha, therefore opaque), or RGBA8 but checking if all alpha pixels are opaque. However this does not appear to work correctly on https://www.joshmatthews.net/portrait.jpg which reports an is_opaque value of false.

[2018-10-11 21:04] Manishearth opened #21925 "Intermittent crash or timeout on /webaudio/the-audio-api/the-audionode-interface/audionode-channel-rules.html"
We basically race to throw a timeout or crash here

It's due to a bug in AudioDestinationNode, I'll post a fix soon

[2018-10-11 21:39] Manishearth commented on #21925
Fixed by https://github.com/servo/media/pull/150, fix will land in https://github.com/servo/servo/pull/21910

[2018-10-11 21:48] Eijebong commented on #20734
This has been fixed now :)

[2018-10-11 21:48] #20734 closed

[2018-10-11 23:16] #21887 closed

[2018-10-11 23:29] #21925 closed

[2018-10-11 23:55] sumit0190 commented on #21920
For that specific image itself, `is_opaque` is almost certainly `true`, and I could verify that by placing a breakpoint in `pixels/lib.rs` where `is_opaque` is computed. It is, however, called once before it's called for the image - this time with an array size of 1024 (as compared to the 25600 of your JPG) and at that instant it does return `false`.

[2018-10-12 13:30] #21807 closed

[2018-10-12 14:26] jdm opened #21929 "Implement Audio constructor"
Spec:
https://html.spec.whatwg.org/multipage/media.html#the-audio-element (see NamedConstructor usage in WebIDL)
https://html.spec.whatwg.org/multipage/media.html#dom-audio

Code: `components/script/dom/webidls/HTMLAudioElement.webidl`, `components/script/dom/htmlaudioelement.rs`

Tests:
* `./mach test-wpt https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/html/semantics/embed

[2018-10-12 15:28] petemoore commented on #21916
I got a loaner in task [`N9obQV88T729DjWUuLUf8w`](https://queue.taskcluster.net/v1/task/N9obQV88T729DjWUuLUf8w). This task was a copy of the one that failed ([XoQXB29bSA201P8pSwvXXg](https://queue.taskcluster.net/v1/task/XoQXB29bSA201P8pSwvXXg)), but did not exhibit the same failure, so indeed this seems to be an intermittent issue.

Here we see the content of the generated commands:

[code]

[cod

[2018-10-12 15:36] petemoore commented on #21916
@SimonSapin Shall we set [`shutdownMachineOnInternalError`](https://github.com/taskcluster/generic-worker/blob/v10.11.3/main.go#L280-L285) to `false` and wait for this to happen again?

[2018-10-12 15:39] jdm opened #21930 "Intermittent pass in /css/compositing/mix-blend-mode/mix-blend-mode-paragraph.html, /css/compositing/mix-blend-mode/mix-blend-mode-animation.html"
[code]

[2018-10-12 15:49] SimonSapin commented on #21916
@petemoore Would a worker that encounters an internal error stop claiming new tasks? Then that sounds like a good plan to figure this out but perhaps when someone is watching out for similar failures rather than during a weekend, to avoid keeping machines running idle needlessly for too long.

[2018-10-12 16:35] HrushikeshBodas commented on #21929
@highfive : assign me
@jdm how can I get started? I have forked and cloned the repo

[2018-10-12 16:35] highfive commented on #21929
Hey @HrushikeshBodas! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-10-12 16:43] jdm commented on #21929
@HrushikeshBodas There's a similar named constructor for HTMLImageElement, so you can use that as a guide - https://github.com/servo/servo/blob/819212e3b6817a60c83fe67fe758c32214f3fd11/components/script/dom/webidls/HTMLImageElement.webidl#L6 is the webidl, and https://github.com/servo/servo/blob/819212e3b6817a60c83fe67fe758c32214f3fd11/components/script/dom/htmlimageelement.rs#L1234-L1248 is the i

[2018-10-12 16:49] #17222 closed

[2018-10-12 17:02] petemoore commented on #21916
Yes, it will just stay alive, but not doing anything. The provisioner hard kills any instances still alive 96 hours after spawning them, so there is an upper limit on how long any single instance will stay idle, but this should be enough time for us to investigate.

Doing this during the week indeed sounds like a good approach. Thanks!

[2018-10-12 17:22] petemoore commented on #21916
Note, another option is making a build of generic-worker that provides more debugging information in this failure case.

[2018-10-12 18:20] SimonSapin commented on #21916
Ok, so two possible approaches:

* Set `shutdownMachineOnInternalError: false` on `servo-win2016` and wait for this error to occur again in normal CI tasks. Might take a lot longer but is also much easier (mostly passive).
* Or make an AMI with that debug build, set up a dedicated worker type with that AMI and `shutdownMachineOnInternalError: false`, and make it repeatedly run a short task in orde

[2018-10-12 18:32] jdm commented on #20821
[code]

[2018-10-12 20:58] #21874 closed

[2018-10-12 21:22] jdm opened #21932 "Intermittent fail in /css/css-flexbox/flexbox_flex-N-0-Npercent-shrink.html"
[code]

[2018-10-12 21:55] est31 commented on #21481
I made an initial implementation in this PR #21923 but it won't fix this issue as it's not a complete implementation of the spec. Just better than nothing  :).

[2018-10-12 22:22] AgustinCB commented on #21481
Thanks! And sorry for leaving this undone, all my efforts had been in #21154

[2018-10-12 22:35] notriddle commented on #21886
I'm able to find one difference between Firefox and Servo that seems relevant.

According to the network inspector, Firefox is sending a POST to `https://syndication.twitter.com/jot`, getting 302 redirected to `https://platform.twitter.com/jot.html`, and GETting it.

![](https://user-images.githubusercontent.com/1593513/46896778-e8d92900-ce33-11e8-8d8f-ddc3531db0df.png)

Servo is [following the st

[2018-10-12 23:10] notriddle commented on #21886
Apparently, the [fetch spec](https://fetch.spec.whatwg.org/#http-redirect-fetch) actually override the o.g. HTTP spec, and requests web-compatible behavior for 302 Found. And the fetch module in Servo already implements this, too.

So for some reason, Servo isn't running that code. Fun.

[2018-10-12 23:14] Eijebong commented on #16977
This has been fixed

[2018-10-12 23:14] #16977 closed

[2018-10-12 23:23] Eijebong commented on #15569
#21644

[2018-10-13 03:12] #20701 closed

[2018-10-13 03:46] atouchet commented on #21076
dwrote has now been updated. @kwonoj is this issue fixed now?

[2018-10-13 03:47] kwonoj commented on #21076
I need to give it a try, having some hard time to setup build config after gstreamer dependency, might give a try with nightly instead.

[2018-10-13 13:18] jdm opened #21935 "Intermittent crash in some webgl tests"
It looks like this and provides no information. I've seen it occur in at least two tests so far:
[code]

[2018-10-13 13:39] #21919 closed

[2018-10-13 15:46] atouchet commented on #13140
The scrollbar API was removed from WebRender (see: https://github.com/servo/webrender/pull/3134) and Servo no longer has a visible scrollbar. There is an open issue to create scrollbar primitives during display list construction: https://github.com/servo/servo/issues/21817

[2018-10-13 19:09] dguenther opened #21936 "Support replacing all nodes without firing mutation events"
From this comment: https://github.com/servo/servo/pull/21882#discussion_r224380374

The [document open steps](https://html.spec.whatwg.org/multipage/dynamic-markup-insertion.html#document-open-steps) in step 10 state:

Per @nox, we don't yet support not firing mutation events in replace_all.

[2018-10-13 21:40] dguenther opened #21937 "Abort load if there is an existing attempt to navigate browsing context"
From this comment: https://github.com/servo/servo/pull/21882#discussion_r224378902

As part of the [document open steps](https://html.spec.whatwg.org/multipage/dynamic-markup-insertion.html#document-open-steps), we should stop document loading if there is an existing attempt to navigate the document's browsing context. The spec contains some additional comments, such as a link to this issue: https

[2018-10-13 21:49] dguenther opened #21938 "Add iframe flags to Document"
From this comment: https://github.com/servo/servo/pull/21882/files#r224384370

In the [Document.open steps](https://html.spec.whatwg.org/multipage/dynamic-markup-insertion.html#document-open-steps), we should set the `mute iframe load` flag if `iframe load in progress` is set. Some information on the flags: https://html.spec.whatwg.org/multipage/iframe-embed-object.html#iframe-load-in-progress

Si

[2018-10-13 21:57] dguenther opened #21939 "Implement the remaining URL and history update steps in Document.open"
From this comment: https://github.com/servo/servo/pull/21882/files#r224380631

As part of Document.open, we update the URL and history. As of writing, we just update the URL, but there are [a few more steps](https://html.spec.whatwg.org/multipage/history.html#url-and-history-update-steps) involved in the process.

I don't think the *state push flag* is relevant to Document.open, so it looks like t

[2018-10-14 13:47] AshleyScirra commented on #21820
I still get the following error running the latest nightly on Windows 10 x64:

[code]

[2018-10-14 15:12] jdm commented on #21820
You may need to uninstall gstreamer and servo before installing again.

[2018-10-14 15:36] AshleyScirra commented on #21820
I was using the version from the zip. I never installed gstreamer in the first place. I assumed the problem was Servo not bundling the dependencies it needed.

[2018-10-14 15:42] jdm commented on #21820
You will need to install gstreamer separately in that case. Only the bundled instaler is expected to work out of the box.

[2018-10-14 19:33] AshleyScirra commented on #21820
Using the bundled installer also still results in Servo crashing on startup:

[code]

[2018-10-14 20:00] atouchet commented on #21820
@AshleyScirra do you have a gstreamer folder located on your C: drive? I have encountered that error before when I ran into issues with Servo loading the GStreamer files. I think there still may be issues with the Windows installer.

[2018-10-15 09:30] nox commented on #21843
I suspect the slow thing is https://github.com/mrdoob/three.js/blob/feb480aaffe97d6dea51a0872c2e3c58f329a026/src/renderers/webgl/WebGLTextures.js#L678

[2018-10-15 09:35] nox commented on #21843
This function call ends up calling `WebGLRenderingContext::prepare_pixels`, which wouldn't surprise me if it is slow, given it fetches a 2048x2048 picture and premultiplies it etc.

[2018-10-15 10:13] pyfisch commented on #21373
Hi, formatting is almost complete. I'd like to suggest that servo adopts a new formatting for `use` statements. Currently use statements are ordered alphabetically and split into multiple lines if they are longer than 100 characters.

I would want to split the imports into 4 groups (std, third-party imports, workspace imports, imports from the same crate) and sort those groups individually. (See r

[2018-10-15 12:47] nox commented on #21935
I wonder if this is about the `is_deleted` assertion in `WebGLShader::drop`.

[2018-10-15 12:48] nox opened #21948 "Android's address bar is confused by localhost"
I first run:

[code]

Then I tap on the address bar and press enter.

Servo then tried to load that same URL but with domain `www.localhost.com` and fails.

[2018-10-15 13:09] jdm commented on #21948
We'll need to improve [this heuristic](https://github.com/servo/servo/blob/master/support/android/apk/servoapp/src/main/java/org/mozilla/servo/MainActivity.java#L103-L107).

[2018-10-15 13:13] jdm opened #21949 "Intermittent pass in /css/css-text/text-transform/text-transform-full-size-kana-001.html, /css/css-text/text-transform/text-transform-full-size-kana-002.html, /css/css-text/text-transform/text-transform-full-size-kana-003.html, /css/css-text/text-transform/text-transform-full-size-kana-004.html"

[2018-10-15 21:06] briansmith commented on #7888
"In March of 2020, Firefox will disable support for TLS 1.0 and TLS 1.1." - https://blog.mozilla.org/security/2018/10/15/removing-old-versions-of-tls/

"In line with these industry standards, Google Chrome will deprecate TLS 1.0 and TLS 1.1 in Chrome 72. Sites using these versions will begin to see deprecation warnings in the DevTools console in that release. TLS 1.0 and 1.1 will be disabled altog

[2018-10-15 21:59] atouchet commented on #21820
The installer was supposed to have been fixed in #21902 but it is possible there are still some issues with it.

[2018-10-15 23:02] jdm opened #21953 "Intermittent pass in /css/css-transitions/properties-value-003.html"
[code]

[2018-10-16 00:14] #20731 closed

[2018-10-16 00:52] jdm opened #21954 "Intermittent fail in /css/css-transitions/changing-while-transition.html"
[code]

[2018-10-16 04:36] atouchet opened #21955 "servo.org screenshot pulses in and out"
URL: https://servo.org/

![Image](https://i.imgur.com/YfsBu1e.gif)

The screenshot image on servo.org now pulses in and out. It is also possible to get the text on the page to shake up and down. This regression first occurred in the [2018-10-16](http://servo-builds.s3.amazonaws.com/) nightly build.

[2018-10-16 04:54] atouchet commented on #21955
Based on the commit range I suspect #20757 may be responsible for this. @emilio do you have any idea of what's going wrong here?

[2018-10-16 06:25] atouchet opened #21956 "Evil Ad demo particle animations not working correctly"
URL: https://servo.org/bhtml-newtab/webrender-demos/evil_ad/physics/with-ad.html

![Image](https://i.imgur.com/ImERqaT.gif)

This issue first occurred in the [2018-10-16](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-10-16 08:05] lexesv opened #21957 "failed to run custom build command for `osmesa-src v18.1.0-devel"
OS: Debian 9 amd64

[code]

[2018-10-16 08:45] lexesv commented on #21957
Solved
./mach clean
sudo apt install llvm-6.0 llvm-6.0-dev llvm-6.0 llvm-6.0-dev llvm-6.0-runtime llvm-6.0-tools

edit
~/.cargo/git/checkouts/osmesa-src-bf84ce2b80210dd7/25825d4/build.rs
after
.arg("--enable-gallium-osmesa")
add line
.arg("--with-llvm-prefix=/usr/lib/llvm-6.0")

[2018-10-16 08:49] lexesv opened #21958 "undefined reference to 'gst_player_media_info_get_video_streams'"
OS: Debian 9 amd64

[code]

[2018-10-16 08:55] ferjm commented on #21958
Did you run `./mach bootstrap-gstreamer`?

https://github.com/servo/servo#on-debian-based-linuxes

[2018-10-16 08:57] lexesv commented on #21958
Yes.
$ pwd
/build/servo/support/linux/gstreamer/gstreamer
$ ls
bin  include  lib  libexec  share

[2018-10-16 09:45] #21445 closed

[2018-10-16 10:30] nox commented on #21875
TIL I need to reinstall Servo every time I recompile it…

[2018-10-16 10:30] #21875 closed

[2018-10-16 10:33] nox commented on #21843
This takes ~100ms to execute as I imagined it would.

[2018-10-16 11:45] lexesv commented on #21958
After manual build the last gstreamer version from git I got same errors
[code]

[2018-10-16 12:00] ceyusa commented on #21958
gstreamer-rs bindings are generated in base of the latest 1.14 release, there is no need to use master, so far (though there might be some fixes in master which aren't backported yet).

And those functions were introduced in release 1.12

Are you sure that the compiler isn't linking against a system installed gst-plugins-bad library release 1.10?

[2018-10-16 12:08] lexesv commented on #21958
master now v1.15

Well, I will try to build version 1.12

Yes.

[code]
 **-L /opt/gstreamer/lib -L /opt/gstreamer/lib -L /opt/gstreamer/lib -L /opt/gstreamer/lib**

[2018-10-16 12:37] lexesv commented on #21958
With version 1.12 same errors

[2018-10-16 13:36] riko781 opened #21960 "servo does not run"
My pc :
Linux T1700-R 4.4.0-130-generic #156-Ubuntu SMP Thu Jun 14 08:53:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

When i'm running servo with this command ./servo
I have this return ./servo: symbol lookup error: ./servo: undefined symbol: gst_player_media_info_get_number_of_video_streams

[2018-10-16 16:32] mateon1 opened #21962 "Infinite loop/recursion in PreorderFlowTraversal::traverse_absolute_flows -- FlexFlow::assign_block_size"
Found with domato.

[code]

<details>
<summary>Full debug output (edited for brevity)</summary>

[code]

</details>

[2018-10-16 17:02] emilio commented on #21956
Is this a regression from #20757?

[2018-10-16 17:03] mateon1 opened #21963 "assertion failed: self.is_char_boundary(new_len) in DOMString::strip_leading_and_trailing_ascii_whitespace"
Found with domato.

[code]

The beta character is encoded as `ce b2`, so it's weird that an ascii whitespace function tries to split it at a non-char boundary.

<details>
<summary>Debug backtrace</summary>

[code]
</details>

[2018-10-16 17:04] atouchet commented on #21956
@emilio I suspect so although I have not verified exactly which PR caused it.

[2018-10-16 17:48] CYBAI opened #21964 "Unexpected GStream handle for audio decode"
As @ferjm mentioned in https://github.com/servo/servo/pull/20755#issuecomment-429860528,

We'd need to investigate why the decode error happened.

[2018-10-16 17:52] jdm commented on #21963
[rfind](https://doc.servo.org/std/primitive.str.html#method.rfind) returns a byte index, and [truncate](https://doc.servo.org/std/string/struct.String.html#method.truncate) accepts a byte index. We [add 1](https://github.com/servo/servo/blob/aa9591137a0a583c4b4718f4038545a860fbaeee/components/script/dom/bindings/str.rs#L186) to the returned index, which does not guarantee that the new index is a c

[2018-10-16 17:55] jdm commented on #21963
We could solve this by calling [split_at](https://doc.servo.org/std/primitive.str.html#method.find) on the index that is found, and calling [char_indices](https://doc.servo.org/std/primitive.str.html#method.char_indices) on the second string then using `nth(1)` to get the byte index that we need to add to the original byte index that is obtained from rfind.

[2018-10-16 17:55] highfive commented on #21963
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-10-16 17:57] jdm commented on #21963
We'll want to [add a new testcase](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) to tests/wpt/mozilla/tests/mozilla/ that verifies the value of the `value` attribute of the HTMLInputElement. This can be run with `./mach test-wpt tests/wpt/mozilla/tests/mozilla/new_test.html` if the new test file is called new_test.html

[2018-10-16 18:18] jdm commented on #21362
Sounds like the same as #21505.

[2018-10-16 18:35] jdm commented on #15116
@jgraham Is this plausible? How much effort would be required, and where?

[2018-10-16 18:54] atouchet commented on #21956
@emilio I've looked into this a bit more and from what I can tell the issue is that now when an animation is triggered instead of stopping when finished it enters an infinite loop. For example this is what happens after hovering the cursor over the sign up button on the GitHub homepage:

![Image](https://i.imgur.com/XC8F2pm.gif)

This is affecting a large number of sites and not just the few examp

[2018-10-16 20:36] emilio commented on #21956
Right, but these are transitions, not keyframes, right? I'll revert the transitions changes.

[2018-10-16 20:58] jdm opened #21966 "WebGL performance is not good on Oculus"
This is worrying, because the perf for [this three.js example](https://threejs.org/examples/webgl_animation_cloth.html) is _great_ on my Pixel 2, but probably only 10 FPS on my Oculus Go. We should add some logging to see what the FxR integration thinks the FPS is; maybe WR is rendering at a good FPS but the surface isn't being composited at the same speed.

[2018-10-16 21:09] SimonSapin commented on #21885
As mentioned, we already have a `requirements.txt` per this issue’s title. However this may be a relevant bug:

@devopsec, could you say more about that?

[2018-10-16 21:11] atouchet commented on #21956
I believe so. Looking at that GitHub button it uses:

[code]

[2018-10-16 21:54] est31 opened #21967 "Imgur galleries give webrender crash"
While imgur gifv videos work now due to #21923, an imgur gallery still gives a crash.
#21480 might be related.

[code]

[2018-10-17 10:30] hubertmok opened #21970 "Ubuntu 16.04 Build failure due to gstreamer cc linking issue"
<details>

[code]

</details>

[2018-10-17 14:05] emilio commented on #21956
https://github.com/servo/servo/pull/21971 should fix this by going back to the previous behavior, which is not starting transitions... Oh well

[2018-10-17 14:05] emilio commented on #21956
(Sorry for not having time to investigate more and fix all of this stuff)

[2018-10-17 14:12] emilio commented on #21970
Probably due to wrong Gstreamer version or something of that sort, cc @Manishearth @ferjm

[2018-10-17 14:18] hubertmok commented on #21970
I think maybe the same issue of #21958

[2018-10-17 14:27] jimberlage commented on #21963
Can I take this on?

[2018-10-17 14:34] jdm commented on #21963
Please do! Ask questions if anything is unclear!

[2018-10-17 16:18] tigercosmos commented on #21960
I try on Ubuntu 16.04 and 18.04
- 16.04: same issue
- 18/04: it works

[2018-10-17 16:22] tigercosmos commented on #21960
seems same to  #21970

[2018-10-17 16:34] Manishearth commented on #21970
Yeah, it's somehow using an older gstreamer version here.

[2018-10-17 16:36] atouchet commented on #14203
@romulasry upgrading openssl is being worked on in #21644.

[2018-10-17 17:08] jdm commented on #21966
That same example run on a pixel 1 totally freezes.

[2018-10-17 18:34] jasonwilliams opened #21973 "Servo failing to build on Windows 10 (cmake build error)"
Gist: https://gist.github.com/jasonwilliams/4f8196fef5bc9d2c4bdad807da9f3692

Any ideas?

[2018-10-17 18:59] jdm opened #21974 "Intermittent crash in /html/dom/elements/the-innertext-idl-attribute/getter.html"
[code]

[2018-10-17 19:57] SimonSapin commented on #21973
This seems to be the relevant part of the error message:

Maybe your Visual Studio install is missing some components?

[2018-10-17 21:18] jdm commented on #12776
Ehsan (former owner of the contenteditable code in Gecko) suggested that one path for implementing contenteditable support would be to integrate [CKEditor](https://ckeditor.com/ckeditor-5/) and replace the majority of the existing Rust editing implementation with it.  This would require supporting some kind of JS execution context that can interact with a page, but that web content cannot interact

[2018-10-17 21:27] jdm opened #21977 "Support ANGLE GL contexts for Windows"
Right now #20217 fails on Windows because it can't obtain a GL context on our CI machines. Webrender has some useful code that we can steal to support this:
* https://github.com/servo/webrender/blob/fec23dadd74177158d4fa41eab4cf2dd1d0e298e/wrench/src/angle.rs
* https://github.com/servo/webrender/blob/fec23dadd74177158d4fa41eab4cf2dd1d0e298e/wrench/src/main.rs#L167
* https://github.com/servo/webren

[2018-10-17 21:51] atouchet commented on #11416
Is this done now?

[2018-10-17 22:13] jdm commented on #11416
In general yes. More specific issues for test failures or particular cases that don't work should be filed when encountered.

[2018-10-17 22:13] #11416 closed

[2018-10-17 23:12] jasonwilliams commented on #21973
Thanks, i removed an old enviornment variable and now i get
`ERROR: Cannot find the ATL/MFC headers in the Visual C++ directory (c:\PROGRA~2\MICROS~1\2017\BUILDT~1\VC\Tools\MSVC\1415~1.267). Please install them.
mozmake: *** [makefile.cargo:143: maybe-configure] Error 1`

Thing is, i have installed build tools to the latest

[2018-10-18 01:54] jimberlage commented on #21962
@highfive: assign me

[2018-10-18 01:54] highfive commented on #21962
Hey @jimberlage! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-10-18 04:43] riko781 commented on #21960
I have to use an older version of gstreamer?

[2018-10-18 04:49] tigercosmos commented on #21960
follow travis setup might probably help

https://github.com/servo/servo/blob/304e09732ea8a47cdfcc5e9953adfc5fb754e5e0/.travis.yml#L20-L26

[2018-10-18 04:58] riko781 commented on #21960
ok thanks I would try to work

[2018-10-18 05:03] tigercosmos commented on #21960
The pre-build Servo should be able to work without any setup. I guess the pre-build can work once #21970 has been solved.

[2018-10-18 05:15] ferjm commented on #21970
Ubuntu 16.04 ships with an [older version of GStreamer](https://packages.ubuntu.com/xenial/libgstreamer1.0-0) (1.8). We need GStreamer >= 1.12. Coincidentally our CI environment is using Ubuntu 16.04, so we are [already generating](https://github.com/servo/servo/wiki/How-to-generate-GStreamer-binaries-for-Travis-(Ubuntu-Trusty)) the appropriate binaries for this platform. So can get them from http

[2018-10-18 06:52] CYBAI commented on #21960
See https://github.com/servo/servo/issues/21970#issuecomment-430877731

[2018-10-18 06:54] CYBAI commented on #21970
Maybe it would be great to update the [README](https://github.com/servo/servo#on-debian-based-linuxes) with these steps or how to fix?

[2018-10-18 07:04] Manishearth commented on #21970
Mach bootstrap should already be running them, and servo should be suggesting its use if there are older gstreamer libs.

[2018-10-18 08:33] petemoore commented on #21916
Yes, I'd propose we go with the first option, and if that doesn't work out, we can try the second.

@SimonSapin Let's actively monitor for task runs that are resolved as `exception/claim-expired` or `exception/internal-error` for servo project. If I've filled this in correctly, it should be possible by keeping a browser tab open like [this](https://tools.taskcluster.net/pulse-inspector?bindings%5B

[2018-10-18 10:57] SimonSapin commented on #21916
Alright, I’ve disabled `shutdownMachineOnInternalError` on `servo-win2016`.

Does this inspector only show messages while the browser tab is open and the laptop not sleeping?

[2018-10-18 12:40] #21891 closed

[2018-10-18 13:05] ferjm opened #21980 "Implement HTTP/1.1 Range Requests"
This is needed to support the HTMLMediaElements seek functionality.

Spec: https://tools.ietf.org/html/rfc7233

[2018-10-18 13:11] Eijebong commented on #21980
Unless I'm mistaken, it's already supported: https://github.com/servo/servo/blob/c3c68983b7c10731ce13f055a9d778e9b8b1bd94/components/net/http_cache.rs#L366

[2018-10-18 13:12] nox opened #21981 "point-size.html fails with osmesa"
This test locally passes with https://github.com/servo/servo/pull/21961 if you make Servo spawn an actual window. It fails if you pass `--no-pause` to `mach`, which suggests it fails when osmesa is used.

[2018-10-18 13:40] #21980 closed

[2018-10-18 14:05] petemoore commented on #21916
@SimonSapin Yes, but if you don't want to miss messages, you can create a durable queue that binds to the same AMQP 0.91 exchange. The Pulse Inspector is just a web interface that binds non-durable queues to the given topic exchanges. See [`taskException` exchange reference](https://docs.taskcluster.net/docs/reference/platform/taskcluster-queue/references/events#taskException) and [RabbitMQ guidan

[2018-10-18 15:24] hubertmok commented on #21970
Following [these steps](https://github.com/servo/servo/blob/master/.travis.yml#L20-L26), it still fail

[2018-10-18 19:16] tigercosmos commented on #21960
keep tracking at #21970

[2018-10-18 19:16] #21960 closed

[2018-10-18 19:32] mandreyel commented on #17401
@paulrouget I'm sorry, I completely missed that you responded!

Hmm, I think I may be lacking some context to fully understand the issue. Since we're now tracking focused browsing contexts (introduced in the PR), which means their current pipeline is also the focused pipeline, is your proposed invariant not already ensured?

[2018-10-18 19:45] cbrewster commented on #17401
The issue here is tracking the focused browsing context per top-level browsing context. In other words, we need to track the active browsing context per browser tab. This would mean there should be multiple focused browsing contexts at once (one per top-level browsing context/browser tab).

[2018-10-18 20:15] nox commented on #21009
This one is interesting, AFAICT the 5 aligned balls are properly rendered, and then for the 3 others there are issues with the fact that the drawing buffer is always preserved, and at least 2 of them seem to suffer from coordinate issues.

[2018-10-19 00:31] jasonwilliams commented on #21973
@SimonSapin how do I get these?
And should it be mentioned in the readme?

[2018-10-19 01:47] jimberlage commented on #21962
@highfive unassign me

[2018-10-19 07:37] mandreyel commented on #17401
Ah, I wasn't taking tabs into account (though I had a suspicion), since afaik it's not yet supported by Servo. So am I right that this will only become relevant when #21363 progresses?

[2018-10-19 08:13] nox commented on #21009
Commenting those two last balls make the demo render correctly with decent perfs.

https://github.com/mrdoob/three.js/blob/2410ad1a8f5844df00191600eafda59def537830/examples/canvas_materials.html#L69-L70

[2018-10-19 08:36] paulrouget commented on #17401
@mandreyel Tabs are internally supported. But there's no UI for it. Every time the embedder sends a `NewBrowser` message, a new top level browsing context is created. We switch between "tabs" by send the right frame tree to WR. This happens with the `SelectBrowser` message.

[2018-10-19 10:05] paulrouget commented on #21792
It appears to be solved. Not sure what has been updated.

Can someone else confirm?

PS: you might run into this issue: https://github.com/servo/mozjs/issues/156 - if you do, `mach clean` and `MACOSX_DEPLOYMENT_TARGET=10.14 ./mach build -d` will work around the issue.

[2018-10-19 11:14] mandreyel commented on #17401
Ah, that makes sense. Thanks for clearing it up. This is indeed an unsolved issue, I'll look into it later.

[2018-10-19 13:56] jimberlage commented on #20822
@highfive assign me

[2018-10-19 13:56] highfive commented on #20822
Hey @jimberlage! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-10-19 19:34] SimonSapin commented on #21885
Yes, could you please provide the full output of the failing command? (In particular if there’s a Python traceback.)

[2018-10-21 06:08] atouchet commented on #21956
This is fixed now.

[2018-10-21 06:08] #21956 closed

[2018-10-21 06:08] atouchet commented on #21955
This is fixed now.

[2018-10-21 06:08] #21955 closed

[2018-10-21 06:10] atouchet commented on #20116
d6092fae27a55345ac9fa82f4d2195130ec01318 was reverted in #21971.

[2018-10-21 08:42] CYBAI commented on #21331
Just tried to set breakpoint in `drop` of `Runtime` and `drop` of `Promise` and then I found the `Runtime` one ran before the `Promise` one.

[code]

[2018-10-21 15:48] mandreyel commented on #21791
Is there a temporary workaround for this? Still can't compile Servo on my Arch boxes :(

[2018-10-21 16:59] ferjm opened #21989 "Audio keeps playing after navigating back"
STR:
- Navigate to https://ferjm.github.io/web-api-tests/webaudio/ which plays an infinite sine wave.
- Press "Back" button.

Expected:
- The sine wave should stop.

Current behaviour:
- The sine wave keeps playing.

[2018-10-21 17:06] ferjm opened #21990 "mobile.twitter.com displays error page on Android"
I get the "Sorry! We did something wrong" page on Android:

![screenshot_20181021-190006](https://user-images.githubusercontent.com/480202/47269899-3e17e780-d564-11e8-8311-b321f4454bee.png)

[2018-10-21 17:25] ferjm opened #21991 "Unresponsive scrolling"
Navigating to https://google.com and scrolling up and down eventually makes scrolling unresponsive. Clicking on links continue working.

[2018-10-21 17:34] ferjm opened #21992 "Support for market:// urls"
Clicking on a `market://` (i.e. market://details/?id=org.mozilla.firefox&referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org ) url shows the `Could not load the requested page: Unexpected scheme` error page. If I am not wrong, it should open the Android's Play Store app instead.

[2018-10-21 17:35] ferjm commented on #21991
Actually, I see this behavior on other sites like https://servo.org or https://mozilla.org.

I see nothing useful on the logcat.

[2018-10-21 17:41] ferjm opened #21993 "WebGLThread panic while loading https://aframe.io/examples on Android"
https://aframe.io/examples is unresponsive and never ends loading.

[code]

[2018-10-21 18:08] fabricedesre commented on #21991
did you try tweaking the user agent?

[2018-10-22 03:03] paulrouget commented on #21992
For these urls, the embedder should interrupt loading and open the play store.

We need to call a host callback on `AllowNavigation` (see  ports/libsimpleservo/src/api.rs) and implement the callback in Java. In the callback, if it's a market url, we should return false and open the play store.

A good way to understand how to implement this is to look at how the page title is [sent from Servo](htt

[2018-10-22 03:04] highfive commented on #21992
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-10-22 03:09] paulrouget commented on #21992
We need to parse the URL in the Java code and interrupt loading and open the play store in this case.

We need to call a Java callback from the [AllowNavigation message](https://github.com/servo/servo/blob/2304f02123038a2e729bc90a2e2db9a795f30158/ports/libsimpleservo/src/api.rs#L350).

To see how to call a callback from a servo message, see how we call onTitleChange:

1. https://github.com/servo/s

[2018-10-22 07:20] paulrouget commented on #21326
This appears to crash now.

[2018-10-22 07:35] paulrouget commented on #21991
Sometimes, after a fling gesture, we can't scroll anymore.

[2018-10-22 08:45] paulrouget commented on #21326
[code]

[2018-10-22 12:46] jdm opened #21995 "Support HTMLVideoElement as texture image source"
The code in `get_image_pixels` that handles various texture sources throws an exception when an HTMLVideoElement is encountered. We will need to fix this to match https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.11 if we want to support 180/360º videos in webgl. This will require obtaining the pixels from gstreamer as efficiently as possible.

[2018-10-22 12:50] jdm opened #21996 "TexSubImage2D obtains the full image pixels then uses a subset"
The `get_image_pixels` helper obtains the entire image pixels. I could imagine this being particularly wasteful when we fix #21995, where the video frames are significantly larger that the content that is displayed at any given moment. It would be wise to support obtaining only the necessary pixels for a given rectangle instead.

[2018-10-22 12:51] jdm commented on #21326
Yes, that's #21505.

[2018-10-22 14:12] ferjm opened #21997 "Open URL intent is not properly handled on Android"
Clicking on an URL and telling Android to open it with Servo opens the Servo app but with `https://servo.org` instead of the expected URL.

[2018-10-22 14:21] ferjm commented on #21991
No. Which UA should I set?

IDLE

[2018-10-22 14:44] fabricedesre commented on #21991
I commented on the wrong issue, sorry. Was meant for https://github.com/servo/servo/issues/21990

[2018-10-22 14:48] ferjm opened #21998 "Support for HTMLMediaElement seeking and related API properties"
Spec:

- https://html.spec.whatwg.org/multipage/media.html#seeking
- https://html.spec.whatwg.org/multipage/media.html#offsets-into-the-media-resource

[2018-10-23 03:34] akshitkrnagpal commented on #21992
Hey
I am new and would like to work on this. 😄
@highfive: assign me

[2018-10-23 05:06] paulrouget commented on #21992
@akshitkrnagpal The first step is to build Servo for Android: https://github.com/servo/servo/wiki/Building-for-Android

[2018-10-23 14:58] jdm opened #22003 "Intermittent pass in /css/css-flexbox/flex-flexitem-percentage-prescation.html"
[code]

[2018-10-23 14:58] jdm opened #22004 "Intermittent fail in /_mozilla/css/negative_margins_a.html"
[code]

[2018-10-23 16:09] #15412 closed

[2018-10-23 16:27] CYBAI opened #22006 "Implement rejectionhandled event"
After #20755 merged, we've already support `unhandledrejection` event so we can work on `rejectionhandled` event now.

https://github.com/servo/servo/blob/30d9962b7018710e1d8633a108ec4602c8c9d2d2/components/script/script_runtime.rs#L189

Spec:
https://html.spec.whatwg.org/multipage/webappapis.html#the-hostpromiserejectiontracker-implementation:event-rejectionhandled

[2018-10-23 16:35] jdm opened #22007 "Intermittent timeout in /html/semantics/embedded-content/media-elements/event_timeupdate_noautoplay.html"
[code]

[2018-10-23 16:36] jdm opened #22008 "Intermittent pass in /html/semantics/embedded-content/media-elements/readyState_during_loadeddata.html"
[code]

[2018-10-23 16:36] jdm commented on #22008
This appeared in #21999.

[2018-10-23 16:36] jdm commented on #22007
This appeared in #21999.

[2018-10-23 17:40] paulrouget opened #22009 "OSX: without a manual resize, screen stays blank"
STR:

- launch servo
- nothing is painted on the window
- resize the window
- the page is painted

[2018-10-23 20:07] asajeffrey opened #22010 "Intermittent TIMEOUT in /2dcontext/imagebitmap/canvas-createImageBitmap-video-resize.html"
[code]

[2018-10-24 00:00] dvdobrovolskiy opened #22011 "LNK1181 error without description"
Microsoft Windows [Version 10.0.17134.345]

Got empty description on LNK1181 error. Donnot where to dig

  = note: LINK : fatal error LNK1181:

error: aborting due to previous error

error: Could not compile `servo`.

verbose got some more
`     Running `rustc --crate-name servo ports\servo\main.rs --color always --crate-type bin --emit=dep-info,link -C opt-level=3 --cfg "feature=\"default\"" --cf

[2018-10-24 07:36] ferjm commented on #22010
This error likely comes from [here](https://github.com/servo/media/blob/master/backends/gstreamer/src/player.rs#L250). I am not sure why it would fail setting the config though. We saw this in the past and [temporarily removed setting the config](https://github.com/servo/media/pull/144) because we were not doing anything with the position, but now we need this.

@ceyusa @sdroege any idea why it ma

[2018-10-24 08:29] ferjm commented on #22010
I found this on the log:

[code]

[2018-10-24 08:49] sdroege commented on #22010
How would that timeout if setting the config failed? That should just be returning an error.

You can only set the player config before the player is started, or after it was stopped. Do it right after construction in your case, I guess

[2018-10-24 08:53] ferjm commented on #22010
Apparently, we need to be in the `GST_PLAYER_STATE_STOPPED` state to be able to set the config:

https://cgit.freedesktop.org/gstreamer/gst-plugins-bad/tree/gst-libs/gst/player/gstplayer.c#n4498

However, we don't need to set the entire config. We just need to set the position update interval. And luckily the method to set this config does not have the state constraint:

https://cgit.freedesktop.o

[2018-10-24 08:56] ferjm commented on #22010
The individual tests are returning an error, but the testharness timeouts. Well, it used to timeout before #20755 was merged. Now it seems to always error as well if the setup fails.

[2018-10-24 09:02] sdroege commented on #22010
That function is setting the interval on the config, you still need to set the config on the player and that only works in stopped state. Why do you need to be able to change the interval after the player is started? Maybe there's something we can improve here on the API

[2018-10-24 09:09] ferjm commented on #22010
We don't :)

IIUC what we are trying to do is to change the interval **before** the player is started, but we are apparently failing at that.

We set the config [here](https://github.com/servo/media/blob/master/backends/gstreamer/src/player.rs#L248) and player construction happens [here](https://github.com/servo/media/blob/master/backends/gstreamer/src/player.rs#L237). The only thing that happens

[2018-10-24 09:42] ferjm commented on #22010
https://gist.github.com/ferjm/d961fabdd03a43474133f00cd5f1db96

[2018-10-24 10:12] sdroege commented on #22010
Checking, there's a bug somewhere and it's not in your code :)

As a workaround I'd recommend setting the URI after the other setup is done for now

[2018-10-24 10:17] sdroege commented on #22010
Found the culprit gst_player_stop_internal() sets the state to `READY` and it's called by `gst_player_set_uri_internal()`. Should check in there first if we should actually go to `READY` or not. We shouldn't really unless the current state is >= `READY`.

I'll fix in a bit but that will need GStreamer 1.14.5/1.15.1 then (so work around it like I mentioned above)

[2018-10-24 10:37] ferjm commented on #22010
Ok, thanks for your help!

[2018-10-24 11:38] sdroege commented on #22010
No problem, sorry for the bug :) I guess so far everybody did configuration before setting the uri and that's why it was not noticed

[2018-10-24 13:17] nox commented on #21005
The very first frame before the camera moves is already broken.

<img width="1136" alt="capture d ecran 2018-10-24 a 15 16 48" src="https://user-images.githubusercontent.com/123095/47433070-ebc30a80-d79f-11e8-9b50-42bab25caa3c.png">

The black band of pixels on the right is not supposed to be there and the sky is supposed to be covering the entire window.

[2018-10-24 13:32] nox commented on #21005
For some reason, if I comment out `renderer.setPixelRatio( window.devicePixelRatio );` it doesn't change anything in Firefox but the sky becomes twice as smaller in Servo.

[2018-10-24 13:37] sdroege commented on #22010
http://cgit.freedesktop.org/gstreamer/gst-plugins-bad/commit/?id=afbbc3a97ec391c6a582f3c746965fdc3eb3e1f3

Fix will be in 1.14.5 / 1.15.1

[2018-10-24 15:00] #21997 closed

[2018-10-24 15:12] nox opened #22015 "Cannot draw in canvas texture three.js demo"
https://threejs.org/examples/webgl_materials_texture_canvas.html

[2018-10-24 15:16] RichPC opened #22016 "symbol lookup error: ./servo: undefined symbol: gst_player_get_config"
I downloaded the nightly build and got the error `undefined symbol: gst_player_get_config` when trying to run it on Ubuntu16.04.

I've also tried building the nightly release which fails at:
error: failed to run custom build command for `mozjs_sys v0.61.1`

[2018-10-24 15:37] nox commented on #21004
<img width="1136" alt="capture d ecran 2018-10-24 a 17 35 35" src="https://user-images.githubusercontent.com/123095/47442844-621d3800-d7b3-11e8-9390-161176e3013d.png">

Some rectangles indeed correspond to where the earth should go, but the texture ends up all over the place.

[2018-10-24 15:37] CYBAI commented on #22016
@RichPC thanks for the report! could you paste the full error log?

But maybe related to `gstreamer`?  Did you run `./mach bootstrap-gstreamer` ?

[2018-10-24 15:41] ferjm opened #22017 "Add "Open in other browser" option to Android app"
In order to ease user testing I think it would be really nice to add an option to open the current URL in a different browser.

Something like this would make life easier for the adventurous people who want to set Servo as their default browser on Android.

[2018-10-24 15:43] nox commented on #21004
Apparently this does not use any WebGL feature.

[2018-10-24 15:51] RichPC commented on #22016
@CYBAI I did run ./mach bootstrap-gstreamer which seemed to work fine.

I've tried installing various versions of clang (4, 5 and 6) but they all fail at the same point.

Here's the error output:

   Compiling mozjs_sys v0.61.1
error: failed to run custom build command for `mozjs_sys v0.61.1`
process didn't exit successfully: `/home/richard/servo/target/release/build/mozjs_sys-a1e29c8f0eacf859/bui

[2018-10-24 16:15] RichPC commented on #22016
@CYBAI I just noticed that previous error output has the line:

"/home/richard/servo/target/release/build/mozjs_sys-aa72ffadfa370880/out/js/src", "-x", "c++", "-DRUST_BINDGEN", "-DSTATIC_JS_API", "-std=gnu++14", "-fno-sized-deallocation", "-Wno-unused-parameter", "-Wno-invalid-offsetof", "-include", "/home/richard/servo/target/release/build/mozjs_sys-aa72ffadfa370880/out/js/src/js-confdefs.h", "--

[2018-10-24 16:50] RichPC commented on #22016
I got a bit further with this. I'd been removing the older versions of clang and installing newer versions, but that was leaving behind older versions of libclang-common I removed all the older version of that and the build process got a lot further.

It's now failing at something to do with gstreamer that probably ties in with why the downloaded build won't work either.

   Compiling libservo v0.

[2018-10-24 16:57] RichPC commented on #22016
Success, it's finally building.

I had to uninstall gir1.2-gst-plugins-bad-1.0

[2018-10-24 16:57] #22016 closed

[2018-10-25 09:50] nox commented on #21012
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 09:50] nox commented on #21011
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.