[2018-10-25 09:55] nox commented on #21010
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 09:56] nox commented on #21008
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 09:57] nox commented on #21006
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 09:57] nox commented on #21009
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 09:58] nox commented on #21005
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 10:00] nox commented on #21002
This actually has no WebGL involved, just CSS.

[2018-10-25 10:02] nox commented on #21001
This actually has no WebGL involved, just CSS.

[2018-10-25 10:02] nox commented on #21000
This actually has no WebGL involved, just CSS.

[2018-10-25 10:02] nox commented on #20999
This actually has no WebGL involved, just CSS.

[2018-10-25 10:02] nox commented on #20997
This actually has no WebGL involved, just CSS.

[2018-10-25 10:03] nox commented on #21004
This actually has no WebGL involved and the demo was deleted from upstream 15 days ago when they removed `CanvasRenderer`.

[2018-10-25 10:04] nox commented on #20996
This seems to require `WEBGL_depth_texture`.

[2018-10-25 13:22] ferjm commented on #19996
That's a fair question that I'd like to echo :)

@jdm is it ok to disable these tests?

[2018-10-25 13:24] ferjm opened #22019 "Intermittent TIMEOUT /2dcontext/imagebitmap/createImageBitmap-transfer.html"
[code]

[2018-10-25 13:38] #22010 closed

[2018-10-25 17:03] jdm commented on #19996
Yes.

[2018-10-25 17:30] CYBAI commented on #18991
[code]

Just tried to make a small test case from the page. From this test case, when you hover on the button, another one will become longer.

If you tried to comment this rule

[code]

Then the buttons won't become longer on hover.

![image](https://user-images.githubusercontent.com/6782666/47518857-a34e3e80-d8be-11e8-818f-448ed8c55874.png)

[2018-10-26 07:51] paulrouget opened #22022 "Android: Properly handle GStreamer shutdown"
I'm not sure what needs to be done exactly.

[2018-10-26 09:16] paulrouget commented on #22022
/cc @ferjm

[2018-10-26 09:45] ferjm commented on #22022
I believe all the required shutdown process for GStreamer on Android is already handled [here](https://cgit.freedesktop.org/gstreamer/cerbero/tree/data/ndk-build/gstreamer_android-1.0.c.in#n623). (We ship that code as part of the `libgstreamer_android.so` lib).

The individual GStreamer pipelines are managed by the servo-media code backing the corresponding DOM APIs (WebAudio and HTMLMediaElement

[2018-10-26 12:41] sdroege commented on #22022
You might also want to call gst_deinit(), it will free up some global resources. There will still be some more resources left from other libraries though.

Also you must not call gst_init() afterwards, it's a one-time thing.

What's the goal here? :)

[2018-10-26 14:47] ferjm commented on #19996
These tests were disabled by #22023

[2018-10-26 14:47] #19996 closed

[2018-10-26 14:48] #22019 closed

[2018-10-26 15:11] ferjm commented on #22022
Would you take a patch to expose this method [upstream](https://cgit.freedesktop.org/gstreamer/cerbero/tree/data/ndk-build/gstreamer_android-1.0.c.in)?

IIUC we need to unload/reload Servo on certain products (FirefoxReality), which requires a clean shutdown. @paulrouget can probably elaborate a bit more on the requirements.

[2018-10-26 15:16] ferjm opened #22025 "Intermittent FAIL on /_mozilla/css/inline_block_margin_auto_zero_a.html"
[code]

[2018-10-26 16:15] ferjm opened #22026 "Intermittent FAIL in /css/CSS2/ui/outline-color-094.xht"
[code]

[2018-10-26 16:33] mandreyel commented on #17401
@highfive assign me

[2018-10-26 16:33] highfive commented on #17401
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-10-26 16:52] #21998 closed

[2018-10-26 17:48] KiChjang opened #22027 "Use WindowPostMessageOptions on {Window, Worker}.postMessage"
whatwg/html#3800

[2018-10-27 01:38] sadmansk commented on #21791
Facing same issue, is there a workaround?

[2018-10-27 09:40] jdm opened #22030 "Intermittent timeout in /_mozilla/mozilla/unitless-length.html"

[2018-10-27 12:01] jdm opened #22031 "Intermittent failure in /css/CSS2/positioning/abspos-containing-block-001.xht"
[code]

[2018-10-27 12:02] jdm opened #22032 "Intermittent failure in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-1.html"
[code]

[2018-10-27 12:08] jdm commented on #21396
Homebrew on macOS requires `brew install gst-plugins-bad --with-libnice --with-srt`.

[2018-10-28 09:44] chansuke commented on #21810
@KiChjang I'm now rewriting the `is_valid_date_string`  but blocking with `A U+002D HYPHEN-MINUS character (-)` part.
Could you perhaps give me some suggestion about the way to detect the `-` character.Thanks.

[2018-10-28 10:47] jdm opened #22034 "Intermittent failure in /css/css-transforms/css-transform-3d-rotateY-negative.html"
[code]

[2018-10-28 12:36] NiLSPACE commented on #17088
This is fixed now, but #19707 is still an issue.

[2018-10-28 12:36] #17088 closed

[2018-10-29 07:45] McSinyx commented on #21791
Also happens on my Fedora 29.

[2018-10-29 08:46] paulrouget commented on #21900
What do you mean "can't open" ? It appears to work here (daydream).

[2018-10-29 09:05] paulrouget opened #22038 "FxR: Error on CanvasPaintThread receive (io error: crossbeam-channel sender closed)"
After requesting Servo to shutdown, adb get spammed with this error:

[code]

I only get this error with debug builds.

[2018-10-29 09:10] paulrouget opened #22039 "FxR: can't load servo twice"
The second time Servo is loaded, the script thread panic (not backtrace yet) after the certificate is read.

[2018-10-29 09:30] paulrouget commented on #22038
The CanvasPaintThread doesn't have any exit message to break the loop: https://github.com/servo/servo/blob/aabd4a5ef6ca88e1863e15215a1671313280badc/components/canvas/canvas_paint_thread.rs#L34

[2018-10-29 12:30] KiChjang commented on #21810
@chansuke How exactly are you scanning for characters? Is it through the `chars()` iterator or the `bytes()` iterator? Either way, you can check for it using the `'-'` char literal (or `b'-'` if you're using `bytes()`).

[2018-10-29 12:31] #22038 closed

[2018-10-29 13:34] #21331 closed

[2018-10-29 15:48] paulrouget opened #22041 "ML: Investigate using libsimpleservo instead of libmlservo"
See https://github.com/servo/servo/pull/21985#issuecomment-432513141

[2018-10-29 15:58] CYBAI commented on #22006
I'll work on this.

[2018-10-29 16:00] jdm opened #22042 "Remove synchronous constellation->embedder communication"
There's no need for the constellation to block when communicating with the embedder. For cases like AllowUnload where a script thread is blocking on the constellation, we can pass the IPC channel to the embedder directly.

[2018-10-29 16:01] jdm commented on #22042
For any more complex cases, we can store the sender that the web content is blocking on, perform an asynchronous request that the embedding can provide a reply to, and ensure that the constellation receives a new event when the reply comes in so it can send the appropriate value to web content via the stored channel.

[2018-10-29 17:23] asajeffrey opened #22043 "Magic Leap minimum viable demo"
Features that are needed for a demoable Servo on Magic Leap:

- [X] Render web content (#21985)
- [x] Respond to touchpad: hover state plus follow hyperlinks (#22045)
- [x] Respond to navigation fwd/back (#22057)
- [x] Respond to URL changes (#22066)
- [ ] Scrolling

[2018-10-29 20:45] #21886 closed

[2018-10-30 08:49] paulrouget commented on #22039
Failing unwrap:

https://github.com/servo/servo/blob/662fd0afa49ff48888e7f6fe42e23470117b2ddd/components/script/script_runtime.rs#L291

[2018-10-30 09:14] paulrouget commented on #22039
Here is the `return Err()`: https://github.com/servo/rust-mozjs/blob/26b270d0447557dc0ee585ee8e0db78bbe6ca399/src/rust.rs#L151

[2018-10-30 12:30] jdm opened #22050 "Intermittent timeout in /_webgl/conformance/glsl/bugs/temp-expressions-should-not-crash.html"
[code]

[2018-10-30 13:16] #22009 closed

[2018-10-30 14:44] jdm opened #22053 "Support byte ranges for blob URLs"
It doesn't really make sense to implement this before #21467, but we should ensure that fetching blob URLs has logic like #22024.

[2018-10-30 14:49] jdm opened #22054 "Implement a media cache"
Right now we pass the buffer received from the network for a media element directly to the media backend. This means that we have no idea if a particular range has been received yet, so seeking always performs a fetch; this may be served by the network cache, but it's still inefficient compared to a local cache of the media data.

[2018-10-30 14:50] jdm opened #22055 "Enable buffering and caching media data in gstreamer"
[code]

[2018-10-30 14:52] jdm opened #22056 "Intermittent timeout in /html/browsers/browsing-the-web/unloading-documents/beforeunload-canceling.html"
[code]

[2018-10-30 16:04] jdm commented on #22039
I would be fine with making the actual JS engine shutdown a build feature in rust-mozjs (enable the feature to skip [this code](https://github.com/servo/rust-mozjs/blob/26b270d0447557dc0ee585ee8e0db78bbe6ca399/src/rust.rs#L266-L270)). We could enable the feature for android builds to avoid the problem you're having.

[2018-10-30 16:08] ceyusa commented on #22055
What player/playbin can do (and it would need to be configured in servo/media) is *buffering*. Basically it stores in a [queue](https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gstreamer-plugins/html/gstreamer-plugins-multiqueue.html) the specified size/time of *the demuxed data*.

Also, player/playbin could be configured for *downloading*, which will add a [special queue](https://gstream

[2018-10-30 16:10] ceyusa commented on #22055
After reading https://github.com/servo/servo/issues/22054 perhaps it would make sense add that feature, temporarily, in media/gstreamer

[2018-10-30 21:26] asajeffrey opened #22059 "Magic Leap build of blurdroid fails"
Building for Magic Leap with the android-toolchain directory removed produces:
[code]
Rather oddly, it builds if there's an android-toolchain present.

[2018-10-30 23:07] jdm commented on #22059
If you have a .servobuild that has android ndk/sdk paths set up, that might explain why it was working for you.

[2018-10-31 02:53] tigercosmos commented on #22011
Does this Microsoft [doc](https://support.microsoft.com/en-us/help/815645/you-receive-a-fatal-error-lnk1181-error-message-when-you-build-a-manag) any help to you?

[2018-10-31 11:48] jdm opened #22062 "Intermittent failure in /css/CSS2/positioning/bottom-113.xht (one of the screenshots is a big black box)"
Testcase:
<img width="811" alt="screen shot 2018-10-31 at 7 48 07 am" src="https://user-images.githubusercontent.com/27658/47786188-5e247500-dce1-11e8-80bc-8857309ca525.png">

Reference:
<img width="819" alt="screen shot 2018-10-31 at 7 48 18 am" src="https://user-images.githubusercontent.com/27658/47786192-62509280-dce1-11e8-91fe-064bc197017a.png">

The reference rendering is in the wrong here, a

[2018-10-31 11:53] jdm opened #22063 "Intermittent taskcluster build error in osmesa"
[code]

cc @nox

[2018-10-31 13:45] paulrouget commented on #22039
Getting this assertion:

[code]

[2018-10-31 13:52] paulrouget commented on #22039
@jdm I skipped this block: https://github.com/servo/rust-mozjs/blob/26b270d0447557dc0ee585ee8e0db78bbe6ca399/src/rust.rs#L266-L270

[2018-10-31 14:14] blairmacintyre commented on #22043
Those seem like a good list.

Is it worth looking at the current Firefox Reality on GO, and listing the things it does that we can/can't do.

For example, things we don't need (or can't do) for an MVD are

- [ ] webvr/webxr
- [ ] private browsing
- [ ] full 3D ray from controller (we'd need to shift to immersive mode for this, anyway)

In terms of difficulty, I have no idea where things like "inte

[2018-10-31 14:48] paulrouget opened #22064 "Shutting down Servo while it's loading a page result in FxR crashing"
Need to investigate.

[2018-10-31 14:51] paulrouget commented on #22039
The change I made to rust-mozjs:

[code]

I confirm that we only go through https://github.com/servo/rust-mozjs/blob/26b270d0447557dc0ee585ee8e0db78bbe6ca399/src/rust.rs#L157-L168 once and that `InitSelfHostedCode` is called on the 2nd load.

[2018-10-31 14:53] paulrouget commented on #22039
Script thread logs:

[code]

[2018-10-31 14:54] jdm opened #22065 "Integrate libsimpleservo into magic leap port"
I was able to get a build which links with the following diff:
[code]
If libsimpleservo is a cdylib, libmlservo can't find it because the rustc commandline doesn't include an `--extern simpleservo=...` line.

[2018-10-31 14:55] jdm commented on #22065
@asajeffrey Is there a best practice for identifying if we're building for a real android platform or a fake one like ML?

[2018-10-31 15:24] asajeffrey commented on #22065
@jdm Add a `magicleap` feature to the crate?

[2018-10-31 15:25] asajeffrey commented on #22065
Dupe of #22041?

[2018-10-31 15:36] jdm commented on #22041
I have more information in #22065.

[2018-10-31 15:36] #22041 closed

[2018-10-31 15:50] jdm commented on #22063
The XML file is definitely missing.

[2018-10-31 16:13] asajeffrey commented on #22043
@blairmacintyre good point re interacting with web input components. At the moment mouse clicks should work, but not mouse up/down or anything using the keyboard.

[2018-10-31 17:19] atouchet commented on #12162
sig still needs to be updated to 1.0.0.

[2018-10-31 21:31] Eijebong opened #22068 "Response::status and Response::raw_status are redundant after the hyper update"

[2018-10-31 21:42] asajeffrey opened #22069 "Link errors building debugmozjs magicleap"
Lots of missing stl symbols from linking against a debugmozjs build for magicleap, e.g.
[code]
Oh joy.

[2018-10-31 23:13] asajeffrey commented on #22059
No .servobuild. How weird.

[2018-10-31 23:29] SimonSapin commented on #22063
What changed, since this version landed on master?

[2018-10-31 23:35] Avanthikaa commented on #21857
@devopsec I encountered the same errors during build. I changed my clang version to 6.0 but I also have the rustfmt issue. The build fails with the message `fatal error: too many errors emitted, stopping now [-ferror-limit=], err: true` along with a list of errors. Have you found the fix for this? When I run
`rustfmt --version` I also get the same output as you've shown.

[2018-11-01 00:07] jdm commented on #22063
I'm not sure what you're asking. I suspect the cause is something about the makefiles deciding to rebuild the bits that depend on the xml files based on timestamps, which is why this would happen intermittently.

[2018-11-01 07:29] #22059 closed

[2018-11-01 08:06] SimonSapin commented on #22063
I mean that the `osmesa-src` crate version that’s currently failing to build, and that #22067 updates from, has at some point succeeded to build when we merged into servo/servo master the PR that uses it. So I was asking, do you have a guess as to what’s different between those failing builds and successful builds with the same code?

[2018-11-01 11:03] HellDunkel opened #22072 "Handling of mouse events insufficient"
Follow this link to show a minimalist implementation of drag-scrolling on a website implemented using vanilla javascript.
[http://asvd.github.io/dragscroll/](url)

Servo display the page correctly, but drag scrolling is not working.

Other issus:
1.) mousce curser "drag" is displayed incorrectly on window

[2018-11-01 11:18] jdm commented on #22063
My guess is timestamps that cause make to ignore some parts that are missing files.

[2018-11-01 11:27] jdm opened #22073 "Trackpad scrolling has dead zones"
When I run http://asvd.github.io/dragscroll/ in Servo, I can use the trackpad to scroll the text element smoothly. However, the scrolling stops abruptly partway down, and I need to move the mouse somewhere else to resume scrolling.

[2018-11-01 12:08] HellDunkel commented on #22072
I am seeding this problem on Windows 10.

[2018-11-01 12:09] jdm commented on #22072
I see this on macOS as well.

[2018-11-01 12:35] jdm commented on #22073
This seems like it may be coming from webrender. Servo's compositor is getting the right scroll values from the OS, but when we ask webrender for the updated scroll states to pass them to layout the stop showing any changes at some point.

[2018-11-01 12:36] jdm commented on #22073
I wonder if this is related to #21991.

[2018-11-01 15:01] jdm commented on #21857
To be clear- the problem is the version of llvm that is in use. rustfmt is unrelated.

[2018-11-01 15:12] jdm commented on #22073
This is the debug output I see. Webrender suddenly starts reporting a different scrollable height for the selected scrollable node, which is why the scrolling stops:

<details>

[code]

</details>

I bet this is caused by the code from #14470 that was solving #13429.

[2018-11-01 15:32] jdm opened #22075 "Remove unused scroll_in_progress and in_scroll_transaction fields from Compositor"
Since the fields are only written, never read, this implies that we no longer need them, and we could combine the on_scroll_window_event method with on_scroll_start_window_event and on_scroll_end_window_event.

[2018-11-01 15:32] highfive commented on #22075
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-01 15:55] jdm commented on #22073
More specifically, when the scrolling is working:
[code]
When it stops working:
[code]
So webrender's hit testing is actually tripping us up here.

[2018-11-01 15:56] jdm commented on #22073
I'm using https://gist.github.com/jdm/8598518d32d2ab1f3eae7f230decb25b as my testcase.

[2018-11-01 15:57] jdm commented on #22073
Aha! Hit testing breaks on the spaces between paragraphs.

[2018-11-01 16:02] jdm commented on #22073
The reason this doesn't happen in Firefox is they exclusive call scroll_node_with_id, whereas we call scroll which performs the hit testing internally.

[2018-11-01 16:08] jdm commented on #22073
Filed https://github.com/servo/webrender/issues/3261.

[2018-11-01 16:52] jdm commented on #22073
Another cause might be that our display list doens't contain the elements that WR needs to obtain the expected hit test result.
<details>

[code]

</details>

[2018-11-01 18:32] KiChjang opened #22077 "Support empty array default IDL value"
Currently, defining the following WebIDL would raise an exception in `CodegenRust.py`:

[code]

which is raised [on this line of of the codegen](https://github.com/servo/servo/blob/95bfaa0a770479fb3bf6bf0b1f85c9ae343e66ff/components/script/dom/bindings/codegen/CodegenRust.py#L683).

[2018-11-01 18:32] highfive commented on #22077
cc @wafflespeanut

[2018-11-01 18:37] asajeffrey opened #22078 "Magic Leap build in CI"
We're currently not running any tests for the `--magicleap` build in CI. Steps to do this:

- [X] Put the ML SDK on S3, so it can be provisioned by salt.
- [x] Install the SDK on the Mac builders. (https://github.com/servo/saltfs/pull/908)
- [x] Add a CI job to run the build. (#22117 and https://github.com/servo/saltfs/pull/910)

AFAICT there's not really any way to run a smoke test, since we don'

[2018-11-01 18:42] asajeffrey commented on #22078
Should we also package the ML app and do a nightly release for it? Or hold off on that until we're happier with the UI?

[2018-11-01 18:44] jdm commented on #22073
Per https://github.com/servo/webrender/issues/3261#issuecomment-435106998 I see a rectangle that encompasses the scrolling region, but it is associated with ClipScrollNodeIndex(1), while the text elements are associated with ClipScrollNodeIndex(2). So the hit testing seems like it's behaving as expected, given this input.

[2018-11-01 18:48] asajeffrey opened #22079 "Package Magic Leap app"
At the moment, the ML app only runs from the debugger, which is not ideal. It should be an ML landscape app, which can be launched from the ML app launcher. Steps:

- [x] Deal with app shutdown properly. (#22094)
- [x] Provide app metadata for the launcher. (#22095)

[2018-11-01 19:03] jdm commented on #22078
I would be happy to start publishing nightly builds with #22076 merged and these checkboxes checked.

[2018-11-01 19:03] jdm commented on #22078
By which I mean, yes, #22079 would be necessary before we publish nightly builds.

[2018-11-01 19:18] jdm commented on #21966
[code]

[2018-11-01 19:20] jdm commented on #21966
That happens on multiple three.js examples, so that's not great!

[2018-11-01 19:22] mbrubeck commented on #21966
I'm not sure whether it'll help with this specific test case, but the Firefox performance team found that adding `"-Wl,-Bsymbolic"` to the linker flags provided some performance wins on devices with CPUs similar to the Oculus Go:

https://bugzilla.mozilla.org/show_bug.cgi?id=1500154

[2018-11-01 19:37] jdm opened #22080 "getShaderPrecisionFormat does not validate shaderType argument"
We're supposed to return InvalidEnum if the shader type is not one of FRAGMENT_SHADER or VERTEX_SHADER.

Code: `components/script/dom/webglrenderingcontext.rs`
Tests: `./mach test-wpt tests/wpt/webgl/tests/deqp/functional/gles3/negativestateapi.html`

[2018-11-01 19:37] highfive commented on #22080
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-01 19:39] jdm commented on #22080
Bah, I don't think we can actually run those tests right now. That's unfortunate.

[2018-11-01 19:41] jdm commented on #22080
@nox Do you remember why you added https://github.com/servo/servo/blob/master/tests/wpt/webgl/meta/deqp/__dir__.ini?

[2018-11-01 19:50] jdm commented on #22080
Ah, it appears that it's an incredibly complex test framework and all of the tests fail and are testing webgl2 things. That's a good reason.

[2018-11-01 20:09] jdm opened #22082 "Three.js examples have GL error on Pixel 1"
When I load https://threejs.org/examples/webgl_animation_cloth.html on my pixel device, I see:
[code]
These values correspond to:
GetShaderPrecisionFormat(constants::VERTEX_SHADER, constants::HIGH_FLOAT), and the error is constants::INVALID_ENUM.

[2018-11-01 20:10] jdm commented on #21966
Moved the Pixel1 problem over to #22082.

[2018-11-01 20:21] gw3583 commented on #22073
One possible way to test this out:

Find out where the background hit region rect is being created in Servo, and do the following: (1) ensure it has a valid hit test tag so that WR is adding it to the hit tester, (2) give it a color. Then you should be able to see the background hit region rect in Servo, and make sure it's present and scrolling as expected.

If it still isn't getting hit test even

[2018-11-01 22:14] #22043 closed

[2018-11-01 22:14] Eijebong commented on #18518
Done now :)

[2018-11-01 22:14] #18518 closed

[2018-11-01 22:15] Eijebong commented on #19825
Done now :)

[2018-11-01 22:15] #19825 closed

[2018-11-01 22:16] Eijebong commented on #15724
Done now :)

[2018-11-01 22:16] #15724 closed

[2018-11-01 22:16] Eijebong commented on #14203
Done now :)

[2018-11-01 22:16] #14203 closed

[2018-11-01 23:28] #22077 closed

[2018-11-02 04:17] atouchet opened #22090 "DuckDuckGo search results in "forbidden""
URL: https://duckduckgo.com/html

Steps to reproduce:

1. Load https://duckduckgo.com/html
2. Search something.
3. The search result page does not appear but instead the text "forbidden" is displayed.

This issue first occurred in the [2018-11-02](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-11-02 04:18] atouchet commented on #22090
This issue also occurs using the https://duckduckgo.com/ version of the site.

[2018-11-02 04:39] atouchet commented on #21791
openssl has now been updated. Is this issue fixed now?

[2018-11-02 04:54] atouchet commented on #15569
Is this fixed now?

[2018-11-02 05:03] atouchet commented on #11038
I believe this has been fixed now with the update to hyper 0.12. @jdm can you confirm?

[2018-11-02 05:04] atouchet commented on #11929
Is this issue still relevant?

[2018-11-02 05:05] atouchet commented on #11775
Servo is now using hyper 0.12.

[2018-11-02 05:14] atouchet commented on #20023
The last two crates that need to be updated are gaol and xml5ever. xml5ever 0.12.1 which includes the log 0.4 update hasn't been published to crates.io and gaol appears to be having [issues with updates](https://github.com/servo/gaol/issues/44).

[2018-11-02 05:30] paulrouget commented on #22039
It might not work because `Runtime::new` is called from 2 different threads?

[2018-11-02 06:01] Walther commented on #21792
Tried to build Servo, ran into the aforementioned mozjs issue. The provided workaround of specifying `MACOSX_DEPLOYMENT_TARGET=10.14` got me through the `mozjs` stage of the build.

However, building `servo` still failed with `= note: ld: library not found for -lstdc++` (see my [comment here](https://github.com/servo/mozjs/issues/156#issuecomment-435279063) for full log)

[2018-11-02 06:12] paulrouget commented on #21966
Can you add some logs and check how often we go through https://github.com/servo/servo/blob/200cc8aa6b8a0c14b3390f1ff02a62f1fce9ac31/ports/libsimpleservo/src/jniapi.rs#L346 per seconds and how long we spend in https://github.com/servo/servo/blob/200cc8aa6b8a0c14b3390f1ff02a62f1fce9ac31/ports/libsimpleservo/src/jniapi.rs#L349 ?

[2018-11-02 07:13] Walther commented on #21792
Upgraded to MacOS `10.14.1`, entire `servo` compiled without even specifying target. So this was definitely related to something in `10.14`

[2018-11-02 08:56] Eijebong commented on #15569
Oh, yeah, forgot about it, thanks :p

[2018-11-02 08:56] #15569 closed

[2018-11-02 11:52] paulrouget commented on #21792
The 10.14.1 updated fixed the mozjs issue.

The initial issue is not fixed, even though it's not as bad as before. My (recent) macbook pro doesn't crash, but freeze for some time.

[2018-11-02 12:30] larsbergstrom commented on #21966
Does this happen with a Servo-only app on the Go, too?

We have a few fixes in-flight that have a _dramatic_ impact on Firefox Reality performance for content shown in 2D while the browser UI is up, especially https://github.com/MozillaReality/FirefoxReality/pull/652, but also https://github.com/MozillaReality/FirefoxReality/pull/702. Previously/currently we are significantly taxing the device and

[2018-11-02 12:35] mandreyel commented on #21791
@atouchet Yes, it finally builds on Arch now!

[2018-11-02 12:37] frewsxcv commented on #11929
Is there another issue tracking improvements to TLS errors?

[2018-11-02 15:36] #21791 closed

[2018-11-02 23:08] Manishearth commented on #21966
I'm trying to reproduce this, and I'm getting flickering of the white background, but it's definitely not 10FPS.

[2018-11-03 02:15] fabrizio8 commented on #22075
@highfive assign me

[2018-11-03 02:15] highfive commented on #22075
Hey @fabrizio8! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-03 16:15] CYBAI commented on #22082
Should this issue be closed after `gleam` is upgraded to `0.6.5` in Servo instead?

[2018-11-03 16:22] CYBAI opened #22101 "Intermittent failure in /css/css-text/word-break/word-break-keep-all-006.html, /css/css-text/word-break/word-break-break-all-020.html, /css/css-text/word-break/word-break-break-all-005.html"
[code]

[2018-11-03 16:47] CYBAI opened #22102 "Intermittent pass in /css/css-text/white-space/trailing-ideographic-space-004.html"
[code]

[2018-11-03 17:41] jdm commented on #22082
Yes.

[2018-11-03 22:15] atouchet commented on #22090
The search page seems to load normally when not navigated to from the DuckDuckGo home page. For example searching something using the Servo URL prompt still works fine.

[2018-11-03 22:45] atouchet opened #22104 "GitHub header not rendered correctly"
URL: https://github.com/

Servo:

![Image](https://i.imgur.com/F5JTRAy.png)

Firefox:

![Image](https://i.imgur.com/kNrw8Xv.png)

The colours of the text and background do not appear to be loading correctly and the search box is too short. This issue first occurred in the [2018-11-02](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-11-04 07:42] CYBAI commented on #22104
Same issue with building on latest master on macOS

<img width="1021" alt="default" src="https://user-images.githubusercontent.com/6782666/47961549-22264280-e048-11e8-85d9-a676a043af96.png">

[2018-11-04 07:48] CYBAI opened #22106 "details element toggle not working"
When I tried to click to toggle the following `details` element, it didn't work.

[code]

Built with latest master (4ec7dedce1) on macOS 10.13.6

(Not sure if #21336 can be resolved once this issue resolved)

[2018-11-04 09:51] CYBAI commented on #22106
I tried to check how Gecko implemented `click` for `summary` and `details`. It seems the click event is handled by `HTMLSummaryElement` which is not implemented in Servo yet.

Ref:
- https://searchfox.org/mozilla-central/source/dom/html/HTMLSummaryElement.cpp#29-97
- https://html.spec.whatwg.org/multipage/interactive-elements.html#the-summary-element

Or, it should be fine to just `impl Activatabl

[2018-11-04 09:57] CYBAI commented on #19977
Can't reproduce te panic with latest master (4ec7dedce1) on macOS 10.13.6 either

[2018-11-04 13:57] stjepang opened #22108 "Update crossbeam-channel to v0.3"
On a popular request, I've changed the behavior of `crossbeam-channel` in v0.3 so that dropping all receivers disconnects the channel.

This means we don't need the [`channel`](https://github.com/servo/servo/blob/master/components/channel/lib.rs) library wrapper around `crossbeam-channel` anymore. Let's delete it.

Also note that now we can replace `select!` invocations like the following one with

[2018-11-05 04:09] cbrewster commented on #21150
Do we want to profile all WebGL DOM API calls or only ones that perform synchronous communication with the WebGL thread?

[2018-11-05 06:29] romulasry opened #22110 "Use OpenSSL1.1.0 on Nightly Build"
Close this topic when it is done.

[2018-11-05 08:13] HrushikeshBodas commented on #22080
@jdm is this still an easy-bug?
Will it be possible for you to mentor this bug?
@highfive: assign me

[2018-11-05 08:13] highfive commented on #22080
Hey @HrushikeshBodas! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-05 12:55] nox opened #22113 "tests/wpt/webgl/tests/conformance/extensions/oes-texture-float-with-canvas.html crashes on its own"
This test fails locally when ran without `--no-pause`.

[code]

[2018-11-05 12:57] nox commented on #22113
That may be due to the fact that `HALF_FLOAT_OES` is not equal to `HALF_FLOAT_ARB`.

[2018-11-05 13:15] nox commented on #22113
Yes, that was it, I drive-by fix this in #22112.

[2018-11-05 13:19] ferjm opened #22114 "Android nightly fails to render any web"
Composition seems to be broken in today's Android nightly (or a local build from master). I can only get half rendered views for all sites that I've tried. For example:

![screenshot_20181105-140827](https://user-images.githubusercontent.com/480202/48000290-501d8c80-e105-11e8-8304-1eebab6e78ed.png)

![screenshot_20181105-140640](https://user-images.githubusercontent.com/480202/48000311-5c094e80-e1

[2018-11-05 14:48] jdm opened #22115 "Opening brace of multiline conditional not placed on new line"
Code that looked like this:
[code]
Becomes:
[code]
I would expect the `{` to be placed on a new line instead.

[2018-11-05 14:48] jdm commented on #22115
Oops, wrong repo.

[2018-11-05 14:48] #22115 closed

[2018-11-05 15:44] jdm commented on #22080
@HrushikeshBodas Yes. Let's just ignore the test situation and see what happens when we run the full testsuite against the PR when you open it :)

[2018-11-05 15:46] jdm commented on #21150
Starting with the synchronous communication ones sounds reasonable; it would probably be useful to profile all of them eventually.

[2018-11-05 17:56] #22075 closed

[2018-11-05 18:37] KiChjang commented on #21342
This may have been solved by #22084. Should add a test case in TestBinding.webidl to ensure this works correctly.

[2018-11-05 20:35] #17401 closed

[2018-11-05 21:13] jdm commented on #21754
@sumit0190 Are you still working on this? Have you made any progress?

[2018-11-05 22:57] Dmitry-Borodin commented on #21373
@jdm I see the last components from the list net and net_traits was formatted in #22099.
Should this issue now be closed?
It's among the first options in https://starters.servo.org/ -)

[2018-11-05 23:09] atouchet commented on #21373
#20617 still needs to be finished.

[2018-11-06 03:50] #22082 closed

[2018-11-06 05:04] #21381 closed

[2018-11-06 06:08] #22113 closed

[2018-11-06 06:20] paulrouget commented on #22114
Started with 024b40b39d3848f1a1f7020bd7ed8c901817f09c

[2018-11-06 07:49] paulrouget commented on #22114
With: `"data:text/html,<style>body{background:red}</style>foobar<img src=https://servo.org/screenshot.png>" `

The image is just a black square, there is no text, the background is red.

[2018-11-06 07:56] paulrouget commented on #22114
I see nothing suspicious in the logs.

[2018-11-06 13:02] Darkspirit commented on #22114
I would suspect this line: https://github.com/servo/servo/commit/024b40b39d3848f1a1f7020bd7ed8c901817f09c#diff-d2ede298d9a75c849170d6ef285eda1eL4078

WebRender changelog: https://github.com/servo/webrender/compare/923ee495bd9b0fda8a4a94c5a6cf42e2f0548731...f0221fabc87c5b69a49689eeaa69bd5c380599f0
Probably https://github.com/servo/webrender/pull/3195#issuecomment-430746224
Try making an update that

[2018-11-06 13:30] jdm opened #22124 "Run more smoketests on android CI"
If https://github.com/servo/servo/issues/22114#issuecomment-436244562 is correct, we should have been able to notice the problem on CI. We should ensure that we're running tests some tests that verify:
* actual webgl content is rendered
* image content is rendered
* 2d canvas content is rendered
* text is rendered

[2018-11-06 13:58] sumit0190 commented on #21754
Sorry, I got caught up in something and didn't find the time to publish the PR. I have my changes though, so I'll send out a request by tomorrow, if that's alright.

[2018-11-06 16:34] asajeffrey commented on #21476
Now happens in the tanks wasm demo. This used to work, did the demo get upgraded to use promises at some point?
[code]

[2018-11-06 16:39] jdm commented on #21476
It did. It used to use the WebAssembly.compile API, iirc.

[2018-11-06 16:43] asajeffrey opened #22128 "Magic Leap nightly release in CI"
Steps to do nightly releases of the Magic Leap build:

- [X] Put the ML temp signing key on S3, so it can be provisioned by salt. (https://github.com/servo/saltfs/pull/918)
- [x] Add a CI nightly job to build and release the Magic Leap app. (#22180)
- [x] Hook the nightly job into homu. (https://github.com/servo/saltfs/pull/920)

Building the app only takes a few seconds, so we can run that on eve

[2018-11-06 16:44] asajeffrey commented on #22128
Depends on #22078.

[2018-11-06 16:59] highfive commented on #22128
cc @aneeshusa

[2018-11-06 19:36] jdm commented on #22039
The point of Runtime::new is that there's one runtime per thread, so that shouldn't matter. It might be worth modifying rust-mozjs so that it only calls JS_Init once and never calls JS_ShutDown, but it still reinitializes the PARENT runtime.

[2018-11-07 00:49] KiChjang commented on #14897
@Eijebong I still think this is impossible, even when we implement our own `Factory` type. What was your plan to integrate `Factory` with the rest of the fetch infrastructure?

[2018-11-07 02:28] jdm commented on #22073
This is a regression from the in the 6/27 nightly build. That includes https://github.com/servo/servo/pull/20892/ which contains some changes that look highly relevant. It also encompasses a very large webrender commit range.

[2018-11-07 02:43] jdm commented on #22073
This may be fallout from https://github.com/servo/webrender/pull/2756 which is included in the webrender change range.

[2018-11-07 04:30] atouchet opened #22132 "Bottom of Hacker News page doesn't load"
URL: https://news.ycombinator.com/

Steps to reproduce:

1. Load https://news.ycombinator.com/ in latest Servo nightly build.
2. Try to scroll to the bottom of the page.
3. The page stops before it is supposed to end and the footer doesn't appear.

This issue first occurred in the [2018-11-02](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-11-07 04:37] atouchet commented on #22073
@jdm I also encountered a regression with scrolling from that nightly build (see: #21165) if that helps narrow down the issue at all.

[2018-11-07 06:49] #22114 closed

[2018-11-07 15:50] CYBAI commented on #21373
Fixed in #22126

[2018-11-07 15:50] #21373 closed

[2018-11-07 16:12] atouchet commented on #8553
Is this done now?

[2018-11-07 16:21] CYBAI commented on #8553
Done by #22126 !

[2018-11-07 16:21] #8553 closed

[2018-11-07 17:18] jdm opened #22135 "Intermittent timeout in android tests on taskcluster"
The output always looks like this:
[code]
This is new in the past couple days.

[2018-11-07 18:08] jdm opened #22137 "Missing sidebar content on planet.mozilla.org"
This is a regression between the 11/1 and 11/2 nightly builds.

[2018-11-07 18:09] jdm commented on #22137
From 11/1:
<img width="1136" alt="screen shot 2018-11-07 at 1 09 19 pm" src="https://user-images.githubusercontent.com/27658/48151065-6014a800-e28e-11e8-81e2-421f7b69998f.png">

From 11/2:
<img width="1136" alt="screen shot 2018-11-07 at 1 08 22 pm" src="https://user-images.githubusercontent.com/27658/48151057-5b4ff400-e28e-11e8-9527-83b1782f6b9e.png">

[2018-11-07 18:10] jdm commented on #22137
My first suspicion is the hyper upgrade from #21644.

[2018-11-07 18:29] pyfisch opened #22138 "Wikipedia incorrectly rendered"
Looks like a lot of CSS is not loaded/applied.
![](https://user-images.githubusercontent.com/2781017/48152194-7be67100-e2c3-11e8-91c5-044cefb4d169.png)

[2018-11-07 18:49] jdm commented on #22138
I can't reproduce this when loading https://en.wikipedia.org in the latest nightly on macOS.

[2018-11-07 18:50] jdm commented on #22138
<img width="1136" alt="screen shot 2018-11-07 at 1 49 55 pm" src="https://user-images.githubusercontent.com/27658/48153365-07480e00-e294-11e8-951b-09cf2a2c39cd.png">

[2018-11-07 18:51] jdm opened #22139 "Intermittent failure in /html/semantics/scripting-1/the-script-element/execution-timing/077.html"
[code]

[2018-11-07 18:53] jdm commented on #21311
This is fixed.

[2018-11-07 18:53] #21311 closed

[2018-11-07 18:53] jdm opened #22140 "Windows mozjs build intermittently fails on taskcluster (fork: Resource temporarily unavailable)"
[code]

[2018-11-07 19:35] SimonSapin commented on #22135
This task was added in https://github.com/servo/servo/pull/22046 which landed 7 days ago.

We could disable it (move a call to under `if mock:` in `etc/taskcluster/decision_task.py`) until we figure out why it times out, since we also have equivalent coverage on Buildbot.

[2018-11-07 19:43] SimonSapin commented on #22140
Log with context: https://tools.taskcluster.net/groups/A_t6N23DRvCxcXGKU6PwXQ/tasks/OxgSb3GZQeqX8S6DxIAvkw/runs/0/logs/public%2Flogs%2Flive.log#L957

(The metadata and logs for current Taskcluster tasks expire after a year. This is configurable when scheduling tasks.)

[2018-11-07 20:47] jdm commented on #22137
The only meaningful PR that merged was the hyper upgrade.

[2018-11-08 02:08] jdm opened #22145 "Reduce duplication in WrappedBody::poll"
It should be possible to extract the duplicated code for each of the decoders into a function that is generic over the decoder argument using the Read trait.

[2018-11-08 04:35] atouchet commented on #22138
I can't reproduce this issue on Windows 10 either.

![Image](https://i.imgur.com/DbT06Rc.png)

[2018-11-08 04:40] atouchet commented on #22132
This is working a bit better in the latest nightly build but there is still content missing at the bottom of the page.

![Image](https://i.imgur.com/ls9taVo.png)

[2018-11-08 04:53] atouchet commented on #21317
I tried retesting this today and found that servo.org does load for me now. However the page has a bunch of missing letters and if I try scrolling it crashes the browser.

![Image](https://i.imgur.com/OUNZGQz.png)

[2018-11-08 08:29] paulrouget commented on #21317
Do you have a backtrance for the crash?

[2018-11-08 10:58] nox commented on #2909
The spec bug trail brought me to https://github.com/whatwg/fetch/issues/234.

[2018-11-08 13:34] Briando commented on #22145
Hi~ I am a newbie on this project and also not familiar with rust programming language.
I really hope to have a chance contributing this project.
Is it possible to assign this issue to me?
I think that I also need some advice while resolving this issue.

[2018-11-08 13:49] jdm commented on #22145
Sure, you're welcome to try. [This part of the Rust Book](https://doc.rust-lang.org/book/second-edition/ch10-02-traits.html#trait-bounds) describes how I was imagining we could use the `Read` trait to create a generic function that encapsulates the duplicated code.

[2018-11-08 13:50] jdm commented on #22145
The code in question is [this block](https://github.com/servo/servo/blob/0a11e10a0ffaaddfc4baed9e5b22891fdab7588c/components/net/connector.rs#L82-L110), with more being added in #22144.

[2018-11-08 15:02] jdm opened #22148 "Intermittent timeout in /websockets/Secure-Send-65K-data.any.html"
[code]

[2018-11-08 15:02] jdm commented on #22148
Pretty sure this is new since the hyper upgrade.

[2018-11-08 15:03] jdm commented on #22135
Seen today:
[code]

[2018-11-08 17:34] asajeffrey commented on #22078
All merged now, though we're not gating on the ML build.

[2018-11-08 18:05] atouchet commented on #21317
@paulrouget I retested it and saved the log this time.

[code]

[2018-11-08 18:09] jdm commented on #21317
[code]
This looks suspicious, but there's servo logging that appears after it.

[2018-11-08 20:50] pyfisch commented on #22138
I am using Ubuntu 18.04.

[2018-11-08 21:32] atouchet commented on #22138
@pyfisch does the issue occur if you use X11 instead of Wayland?

[2018-11-08 21:34] pyfisch commented on #22138
Yes it does.

[2018-11-08 21:36] #22078 closed

[2018-11-08 21:42] atouchet commented on #22138
Is this a recent regression? I ran into some issues with certain pages not loading styling properly after the hyper update but I don't know if that's related to the issue here.

[2018-11-08 21:44] pyfisch commented on #22138
It is fairly recent. Is there any way to download old nightly servo builds?

[2018-11-08 21:45] atouchet commented on #22138
I am not 100% sure about Ubuntu but I get old Windows nightlies from: http://servo-builds.s3.amazonaws.com/

[2018-11-09 00:10] Manishearth opened #22152 "Refreshing WebGL pages leads to textures being dropped"
If you open https://threejs.org/examples/webgl_animation_cloth.html and refresh the page, the cloth and/or grass get replaced with black textures. If you keep refreshing you keep getting various broken states with one or more texture missing.

When I ran this on Android I got a console error from the constellation about a pipeline (I don't have this now, but android master should exhibit it). On d

[2018-11-09 04:29] atouchet commented on #22138
@pyfisch does this still happen in the latest nightly build? #22144 fixed a few issues I was running into.

[2018-11-09 04:32] atouchet commented on #22137
@jdm are you still able to reproduce this? This issue is fixed for me in the latest nightly build.

[2018-11-09 04:35] jdm commented on #22137
Nope!

[2018-11-09 04:35] #22137 closed

[2018-11-09 04:37] jdm opened #22154 "Intermittent crash in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_nonescaping-2.html"
[code]

[2018-11-09 04:58] paulrouget commented on #21317
Missing proguard rule? @atouchet do you get the error with a debug build?

[2018-11-09 05:04] atouchet commented on #21317
I'm not sure, I only tested with the nightly build.

Also I think the missing letters may be a WebRender issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1505508

[2018-11-09 06:16] jdm commented on #22062
I found another failure like this in /css/CSS2/normal-flow/height-050.xht. The non-reference rendering was a big black window.

[2018-11-09 12:15] pyfisch commented on #22138
The problem persists. Version `Servo 0.0.1-bb2c5e3`

[2018-11-09 21:19] jdm commented on #22062
Also seen in the reference rendering for /css/CSS2/fonts/font-148.xht.

[2018-11-09 22:44] #22079 closed

[2018-11-09 23:36] asajeffrey opened #22161 "Intermittent FAIL in /css/CSS2/fonts/font-style-applies-to-005.xht"
http://build.servo.org/builders/linux-rel-wpt/builds/10525
[code]

[2018-11-09 23:36] jdm commented on #22161
Tracked in #22062.

[2018-11-09 23:36] #22161 closed

[2018-11-10 00:03] Manishearth opened #22162 "WebGL on android invalid enum errors for everything"
[code]

panics with

[code]

on Android (tested on Pixel 2 and in FxR on Oculus)

(this also occurs for different colors)

cc @jdm @nox

[2018-11-10 00:52] atouchet commented on #21027
Is this still an issue?

[2018-11-10 23:01] mandreyel commented on #10994
What is the status of this issue? I'd be interested in working on it but I might need some help.

[2018-11-11 15:09] mandreyel commented on #10994
Started looking into this and for sure, `HistoryTraversalTaskSource` does not implement `TaskSource`. What were the reasons or difficulties that prevented this?

[2018-11-11 15:50] LifeIsStrange commented on #21991
@paulrouget   « Sometimes, after a fling gesture, we can't scroll anymore. » actually servo is unusable on my android tablet since the beginning of the android port because of this and this is my last big remaining issue (as most things display well else).

After a fling gesture most of my attempt to scroll Again will be ignored and idle.
But if I scroll with my finger always on Touch with the scr

[2018-11-11 22:46] mandreyel commented on #10994
https://github.com/servo/servo/pull/21804#issuecomment-424713908

Hmm, it looks like this may not be relevant after all?

[2018-11-11 23:52] mandreyel commented on #19302
@CYBAI From the referenced PR it looks like you intend to work on this, but it's not assigned. Does that mean there is a chance to collaborate or would you like to work on this yourself?

[2018-11-12 00:54] mandreyel commented on #20721
I'm interested in trying my hand at this, but I may be biting off more than I can handle. Would anyone be available for potential mentoring?

[2018-11-12 02:00] jdm opened #22174 "perf-test setup is failing in nightly builds"
<details>

[code]

</detail>

[2018-11-12 02:01] jdm commented on #22174
We may need the linux builders to install the `python3-dev` and/or `python-dev` packages.

[2018-11-12 04:01] gterzian commented on #22154
looks like layout was gone by the time this was called: https://github.com/servo/servo/blob/e94d1c44abe6b8978bdccf00db664664be3bb936/components/script/dom/window.rs#L1496

[2018-11-12 12:37] CYBAI commented on #19302
@mandreyel Sure! The main goal for this issue is to make the implementation of Service Worker up-to-date. So, my first attempt is to update all the related `webidl` files. Let's update these webidl files first!

[2018-11-12 13:07] mandreyel commented on #19302
@CYBAI Cool, I'll look into updating some myself this evening, if that's alright!

[2018-11-12 13:48] CYBAI commented on #19809
After waiting for minutes, I can see the images now. So, I'd like to close this issue.

[code]

<img width="1015" alt="default" src="https://user-images.githubusercontent.com/6782666/48351161-60fd6d80-e6c4-11e8-95c7-3c0cc5c2160d.png">

[2018-11-12 13:48] #19809 closed

[2018-11-12 13:51] CYBAI commented on #20737
I can't even see the broken portrait with latest master (baa2a96c2c).

[code]

[2018-11-12 13:59] CYBAI commented on #19302
@mandreyel Great! You can leave a comment to let me know you'd like to work on which one so that I can work on the others 😆

[2018-11-12 14:05] jdm commented on #20737
@cybai please file that as a separate issue. It should be possible to find the regressing range for it by trying historical nightlies.

[2018-11-12 14:12] CYBAI commented on #20737
@jdm ok! Let me file another issue for it!

[2018-11-12 14:16] CYBAI opened #22179 "stackoverflow when accessing Francine portrait"
With latest master (baa2a96c2c), I can't see the Francine portrait which should at least shown as a broken portrait like #20737 .

[code]

[2018-11-12 17:08] jdm commented on #22062
https://github.com/servo/servo/pull/22158#issuecomment-437957255 has the results of my regression range calculations so far.

[2018-11-12 17:34] asajeffrey opened #22181 "Multiple Magic Leap top-level browsing contexts"
At the moment there's only one browsing context in the Magic Leap app.

[2018-11-12 17:35] asajeffrey opened #22182 "Hide Magic Leap URL bar"
At the moment the URL bar is always visible, it would be nice to support some way of hiding it when not needed.

[2018-11-12 17:36] asajeffrey opened #22183 "Resize the Magic Leap app"
At the moment the zoom and dimensions of the Magic Leap app are hard-wired.

[2018-11-12 17:39] asajeffrey opened #22184 "Support a "laser pointer" in the Magic Leap app"
The Magic Leap app currently uses a cursor controlled by the trackpad, since that's the UI element the ML SDK supports out of the box.

[2018-11-12 19:00] AlexCreamer commented on #22080
@HrushikeshBodas Can I work on this with you?

[2018-11-12 21:11] mandreyel commented on #19302
@CYBAI Alright, I will (please do the same)! I'm still reading the spec to get a better grip on the concepts at play here.

[2018-11-12 22:05] jdm commented on #22062
#21613 is looking pretty guilty. I've run a lot of try pushes on revisions directly before that PR and a lot of pushes on revisions after it and the evidence seems incontrovertible.

[2018-11-12 22:39] jdm commented on #22062
I spoke too soon. #21613 is absolved.

[2018-11-13 15:00] paulrouget commented on #22039
@jdm this works: https://github.com/servo/rust-mozjs/compare/master...paulrouget:initonce - but is it the way we want to go?

With this change we can load/unload Servo without any panic/asserts.

[2018-11-13 15:02] tigercosmos commented on #22011
@dvdobrovolskiy?

[2018-11-13 15:03] jdm opened #22187 "Permanent timeout in test-android-startup job"
[code]
https://tools.taskcluster.net/groups/X33ARXIMS5WDXIOk0PKwHg/tasks/LjWoG6vwQwSkWVwokP9dvA/runs/0/logs/public%2Flogs%2Flive.log

cc @SimonSapin
I have seen this on two jobs today so far.

[2018-11-13 15:12] jdm commented on #22187
This appears to be affecting every PR we try to merge.

[2018-11-13 15:14] jdm commented on #22039
@paulrouget That looks fine to me.

[2018-11-13 15:16] jdm commented on #22187
Same problem on buildbot too.

[2018-11-13 15:56] jdm opened #22188 "Release lumin runtime crashes at startup"
When I do a release build of servo and package it with `-t lumin_release` the app does not start correctly. When I use `-t lumin_debug` instead, it works.

[2018-11-13 18:21] jdm opened #22190 "Support ondevicechanged event"
This is required to support the [WebXR polyfill](https://github.com/immersive-web/webvr-polyfill) on top of an existing WebVR implementation.

[2018-11-13 18:22] jdm commented on #22190
https://developer.mozilla.org/en-US/docs/Web/Events/devicechange

[2018-11-13 18:23] jdm commented on #22190
This requires the MediaDevices interface from https://w3c.github.io/mediacapture-main/#dom-mediadevices .

[2018-11-13 21:49] mandreyel commented on #19302
I'm going to try updating the WebIDL of `ServiceWorkerGlobalScope`!

[2018-11-13 22:09] sumit0190 commented on #21288
I think the newer implementation is here:
https://searchfox.org/mozilla-central/source/dom/canvas/WebGLTextureUpload.cpp#1918

IMO it would make sense for something like this to be in one of the validators (maybe `TexImage2DValidator`), but I am not sure about the logic. @nox May I take a quick stab at this?

[2018-11-13 23:29] emilio commented on #20721
I can try if you don't mind a bit of lag in potentially replying to questions in Servo issues (I get a lot of GitHub Servo and don't check so often, as it can be seen).

But you can always catch me on irc (`emilio` there as well) or mail me directly if you're blocked on something :)

[2018-11-14 00:19] Manishearth opened #22192 "Building with webvr enabled gives runtime link error for libc++_shared.so"
after running:

[code]

Servo fails to load on a Pixel 2, crashing with the error that libc++_shared.so is missing.

Inspecting the APK, under lib/ there are three folders: arm64-v8a, armeabi-v7a, and x86. Regular servo builds only have the second one. The other two only contain libgvr.so (whereas the second one contains libsimpleservo, libgvr, libgstreamer, and libc++_shared).

The following patc

[2018-11-14 00:33] Manishearth commented on #22162
Three JS uses `canvas.getContext('webgl2')` which works fine in these examples

[2018-11-14 00:34] Manishearth commented on #22162
Yeah it seems like `canvas.getContext('webgl')` on android produces a context that throws INVALID_ENUM for everything

[2018-11-14 00:45] Manishearth commented on #22162
Oh, we don't support webgl2 contexts, the reason it doesn't throw an error is that it throws a different one which is smaller :smile:

and three js uses webgl contexts in its examples. I'm still not sure how it manages to work

[2018-11-14 03:04] jdm commented on #22062
I'm running regression tests on servo-linux1. So far I have reproduced it on Nov 13 and have not reproduced it on Oct 1.

[2018-11-14 05:16] paulrouget commented on #22192
Can you reproduce in debug mode? If not, it could be a proguard issue.

[2018-11-14 07:02] mandreyel commented on #20721
@emilio Awesome, thank you! I'll contact you in a bit!

[2018-11-14 08:02] paulrouget commented on #22192
I can reproduce in debug mode.

[2018-11-14 10:04] MortimerGoro opened #22195 "Transparent border API for TimeWarp Layers"
We are going to land Oculus TimeWarp layers soon on FxR, and for aliasing reasons TimeWarp layers require a transparent border on all the textures used in the UI, the browser window included.

This is how it's implemented in Gecko compositor
https://phabricator.services.mozilla.com/D11717

[2018-11-14 10:58] paulrouget commented on #22195
That should not be too difficult. The WR document only needs to be resized and shifted. But this will require to fix https://github.com/servo/servo/issues/21350.

[2018-11-14 11:27] paulrouget opened #22197 "In VR mode, ServoView constructor is called twice"
Which leads to a panic (`assert(DEFAULT_OPTION.is_null())`).

I have no idea why the view is constructed twice.

[2018-11-14 11:28] paulrouget commented on #22192
#22196 fixes this issue. Servo still crashes in VR mode though. See #22197.

[2018-11-14 13:58] jdm commented on #22187
I can reproduce this locally on mac with an old version of the emulator. I don't understand why this appeared suddenly.

[2018-11-14 14:56] jdm commented on #22187
More specifically - `-gpu host` triggers the webrender assertion. `-gpu guest` triggers:
[code]

[2018-11-14 14:56] jdm commented on #22187
I also see this in logcat:
[code]

[2018-11-15 04:10] jdm commented on #22062
I have reproduced it on Oct 19 (2304f02123038a2e729bc90a2e2db9a795f30158).

[2018-11-15 06:49] paulrouget commented on #22197
googlevr.

[2018-11-15 12:34] jdm commented on #22062
Have not reproduced it on Oct 10 (35bf180dcb588f02652b2031316713f72d12be62).

[2018-11-15 13:16] jdm commented on #22062
Reproduced it on Oct 15 (f88f3122249c5284d43caeac8580012189645bfc).

[2018-11-15 15:20] jdm commented on #22062
Have not reproduced it on Oct 13 (e4657c14961db58bedd0a13ba72667bcb470f34d).

[2018-11-15 15:47] gterzian opened #22203 "Enable taking stack snapshots of other threads: The Linux/Android edition"
Follow up on https://github.com/servo/servo/issues/16740

Code in `components/background_hang_monitor/sampler.rs`(yet to be merged from https://github.com/servo/servo/pull/21673)

The suspending/resuming of a thread is (perhaps only partly) implemented, and it is mainly accessing the instruction and frame pointers in the registers, as well as perhaps the stack walking, that needs to be (re-)implem

[2018-11-15 15:50] gterzian opened #22204 "Enable taking stack snapshots of other threads: The Windows edition"
Follow up on #16740

Code in `components/background_hang_monitor/sampler.rs`(yet to be merged from #21673)

The code contains currently mainly empty function with pointers(no-pun intended) to potentially useful functions in [`winapi`](https://docs.rs/crate/winapi/0.3.6).

I believe target arch would be `x86_64`.

See also the Gecko implementation at https://dxr.mozilla.org/mozilla-central/rev/b0b8

[2018-11-15 16:33] jdm commented on #22062
Bisecting between e4657c1 and f88f312, I have reproduced on a949e9e1e81c42730dab3fdaa30190a46c6da82e.

[2018-11-15 16:45] sumit0190 commented on #21288
Whoops, wrong link; this is the correct one:
https://searchfox.org/mozilla-central/source/dom/canvas/WebGLContextDraw.cpp#51

This version is slightly different (and simplified) than the older link posted by @nox, and the one I linked to earlier was to check for a feedback loop in the `CopyTex*` APIs (which I think we shouldn't have to worry about, since read framebuffers aren't supported in WebGL

[2018-11-15 17:17] jdm commented on #22062
I am doubting the results for Oct 13, so I'm rerunning that.

[2018-11-15 19:43] jdm commented on #22062
Reproduced the problem on Oct 13 (e4657c14961db58bedd0a13ba72667bcb470f34d).

[2018-11-15 19:50] jdm opened #22205 "Intermittent failure in /html/browsers/browsing-the-web/unloading-documents/unload/004.html"
[code]

[2018-11-15 20:05] sumit0190 commented on #21288
Some progress, I guess:
![feedbacktest](https://user-images.githubusercontent.com/8823156/48578528-ddbc6180-e8e7-11e8-8380-9e1de09f00db.png)

[2018-11-15 23:02] #22006 closed

[2018-11-15 23:44] jdm commented on #22062
Could not reproduce the problem on 79f02919244201e05894176e1599e45b2ac182a1 (Oct 11).

[2018-11-15 23:46] asajeffrey commented on #22128
All the steps are there, will there be nightlies in S3 tomorrow? We shall see...

[2018-11-16 00:11] jdm opened #22207 "Intermittent timeout in /html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/promise-rejection-events.html"
[code]

[2018-11-16 00:37] Manishearth commented on #22197
Hm, I'm not hitting this. What I get is:

 - visiting a page that uses vr lazy-loads googlevr, which causes the app to go back to the homepage (the brightness also seems to change, I think it's flickering really fast)

 - doing it again after the lazy load works. entering VR works _sometimes_ (I sometimes get an error saying the app is compatible with Cardboard but not Daydream)

I'm not able to d

[2018-11-16 13:17] jdm commented on #22062
Reproduced on 8902a267219b16909f132f3b6fff0ed6f1fa08c5.

[2018-11-16 14:59] asajeffrey commented on #22128
And there are! http://servo-builds.s3.amazonaws.com/nightly/magicleap/servo-latest.mpk

[2018-11-16 14:59] #22128 closed

[2018-11-16 16:04] jdm commented on #22062
Reproduced on fa94fc71464dd6053ae28dc5d69f9bf51a5f35e8.

[2018-11-16 16:10] #21154 closed

[2018-11-16 19:10] asajeffrey commented on #22188
IRC log: https://mozilla.logbot.info/servo/20181116#c15620117
tl;dr: adding `--add-tail-data-args=--debuggable` to the mabu incantation fixes the crash.

[2018-11-16 19:14] jabedude commented on #22080
@HrushikeshBodas I'd like to help as well. Could I open the PR?

[2018-11-16 19:20] HrushikeshBodas commented on #22080
Sorry for the late response.
Sure! Take up this issue. I can't work on this because I have end semesters going on.

[2018-11-16 19:21] jabedude commented on #22080
@highfive: assign me

[2018-11-16 19:21] highfive commented on #22080
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2018-11-16 20:13] jdm commented on #22062
I'm pretty sure that this is a regression from https://github.com/servo/servo/pull/21725/.

[2018-11-17 00:00] jdm commented on #22062
Cannot reproduce after >24 attempts on 69e524381043bc958586a3e9449bac58cd03c07c. This looks solid to me!

[2018-11-17 00:55] #22192 closed

[2018-11-17 05:34] jdm opened #22212 "Windows taskcluster build intermittently crashes during mozjs configure (Couldn't reserve space for cygwin's heap, Win32 error 0)"
[code]
Given https://stackoverflow.com/a/31970708 I could totally believe that we have some older versions of some msys tools in https://github.com/servo/servo/blob/master/python/servo/packages.py.

[2018-11-17 06:44] #16448 closed

[2018-11-17 06:50] jdm commented on #22062
Sadly the changes in https://github.com/servo/servo/pull/21725 don't look suspicious, which leaves us with a potential regression range in WR from https://github.com/servo/webrender/commit/38f3b57cd9bf2c6fb736d14832fee87eb576e322 to https://github.com/servo/webrender/commit/923ee495bd9b0fda8a4a94c5a6cf42e2f0548731, which covers about two months.

[2018-11-17 11:03] #22184 closed

[2018-11-17 12:45] ThisisGurwinder commented on #21962
@highfive @jdm I am new to rust lang but I want to contribute.
Is this a good idea for me try to this issue? If yes please assign it to me.
I will try to do it. :)

[2018-11-17 13:52] jdm commented on #21962
This issue isn't great for new contributors because we don't have anybody who understands why it happens yet.

[2018-11-17 15:17] #21991 closed

[2018-11-17 23:44] #22080 closed

[2018-11-18 05:55] atouchet opened #22216 "Certain tiles on Browser.html new tab page not clickable"
URL: https://servo.org/bhtml-newtab/newtab.html

Steps to reproduce:

1. Load https://servo.org/bhtml-newtab/newtab.html in a window.
2. Try to click on the tiles.
3. Only the bottom and rightmost tiles can be clicked on. It appears that the first ~840 horizontal pixels cannot be clicked on. This is consistent if the window is resized.

This issue first occurred in the [2018-11-11](http://servo-bu

[2018-11-18 06:20] CYBAI commented on #19302
I'm going to try to create `NavigationPreloadManager`.

[2018-11-18 15:09] jdm commented on #22062
I predict it's going to be https://github.com/servo/webrender/pull/2992 and that we'll need to fix https://github.com/servo/servo/issues/21896.

[2018-11-18 15:38] jdm commented on #21896
According to https://github.com/servo/webrender/pull/2992/commits/926907206c4d738eef7c2088104b1fc5cb8d1340 we don't actually need to do anything here.

[2018-11-18 15:38] #21896 closed

[2018-11-18 15:39] jdm commented on #22062
https://github.com/servo/webrender/commit/2d082df7871bd7dfa03e46a3304db57f64e62770 looks extremely relevant, however.

[2018-11-18 16:11] jdm commented on #22216
This is a regression from https://github.com/servo/servo/pull/22156.

[2018-11-18 16:12] jdm commented on #22216
Relevant source for that page: https://github.com/servo/servo.org/blob/gh-pages/bhtml-newtab/newtab.html

[2018-11-18 17:16] jdm opened #22220 "Intermittent failure in /css/css-backgrounds/background-repeat/background-repeat-round-roundup.xht"
<img width="813" alt="screen shot 2018-11-16 at 10 44 21 am" src="https://user-images.githubusercontent.com/27658/48675811-b7870380-eb2b-11e8-8e97-21baad9b297f.png">

[2018-11-18 20:39] stjepang commented on #22108
Implemented in https://github.com/servo/servo/pull/22142

[2018-11-18 20:39] #22108 closed

[2018-11-18 21:14] roberto68 opened #22222 "cannot build fedora 29"
I got this msg
`
$ ./mach bootstrap
Traceback (most recent call last):
  File "./mach", line 96, in <module>
    main(sys.argv)
  File "./mach", line 24, in main
    sys.exit(mach_bootstrap.bootstrap_command_only(topdir))
  File "/home/roberto/bin/servo/python/mach_bootstrap.py", line 232, in bootstrap_command_only
    from servo.bootstrap import bootstrap
  File "/home/roberto/bin/servo/python/se

[2018-11-19 05:14] jdm commented on #22062
Verified that the regressing change is https://github.com/servo/webrender/commit/926907206c4d738eef7c2088104b1fc5cb8d1340 as expected. I'm running a lot of reftests overnight with #22219 applied to verify that it fixes the issue.

[2018-11-19 05:48] atouchet commented on #9558
What is the status of this issue now? Servo is now using upstream glutin along with the latest wayland-* crates.

[2018-11-19 08:46] paulrouget commented on #9558
It should "just work". As in, nothing special to do on Servo's side. But I'm afraid we'll run into sizes and resolution issues on any hidpi devices. See https://github.com/tomaka/winit/issues/305

[2018-11-19 09:08] paulrouget commented on #20335
Related: https://bugzilla.mozilla.org/show_bug.cgi?id=1441308

[2018-11-19 09:14] paulrouget commented on #22197
From Slack:

---

One thing that could affect is this: https://github.com/MozillaReality/FirefoxReality/blob/master/app/src/main/AndroidManifest.xml#L27

```android:configChanges="density|keyboardHidden|navigation|orientation|screenSize|uiMode"```

Check that you are using the same configChanges in the servo android manifest.xml

[2018-11-19 09:33] paulrouget commented on #22197
So Servo is (likely) destroyed and reloaded because of a change of config. I was wondering why this wasn't a problem with FxR. It's because FxR doesn't use servo arguments. Anyway, that should not be too hard to fix. Looking at it.

[2018-11-19 15:42] jdm commented on #21929
There was a question on IRC about calling setting the media element's src from this new constructor. You will need to import the HTMLMediaElementMethods trait in order to call the `SetSrc` method like so: `audio_element.upcast::<HTMLMediaElement>().SetSrc(...)`.

[2018-11-19 16:57] #22222 closed

[2018-11-19 17:21] roberto68 commented on #12015
same error fedora 29 - it'd be good to bundle that lib into the project

[2018-11-19 21:02] roberto68 opened #22226 "could not load requested page: opening file failed"
I tried it with both dev and release version, and multiple website can I get more information besides ` full backtrace` ?

[2018-11-19 21:03] jdm commented on #22226
How are you running Servo?

[2018-11-19 21:06] roberto68 commented on #22226
`./mach run --dev full backtraces https://www.github.com ` did not work out but
`./mach run -d -- https://github.com ` worked

[2018-11-19 21:13] roberto68 commented on #22226
funny github runs fine everytime but google not and got this error ` mozilla::detail::MutexImpl::lock: pthread_mutex_lock failed: Invalid argument
`

[2018-11-19 21:35] jdm commented on #22226
Could you file a separate issue for the error you see when loading google?

[2018-11-19 21:35] #22226 closed

[2018-11-19 21:52] Manishearth commented on #22162
Doing some logging on Three JS (by replacing the WebGLRenderingContext with a proxy) shows these (first 100) calls being made in the cloth example:

<details>

[code]

</details>

There doesn't seem to be anything special here.

[2018-11-19 23:00] jdm opened #22228 "google.com does not load"
According to previous IRC discussions, this happens because the decoder receives too little data and poisons any further decoding that might happen during page load.

https://mozilla.logbot.info/servo/20181108#c15587681-c15587715

@Eijebong Could you point to the code in reqwest that deals with this properly?

[2018-11-19 23:18] Eijebong commented on #22228
Sure, https://github.com/seanmonstar/reqwest/blob/master/src/async_impl/decoder.rs

I probably won't have time this week to fix this though

[2018-11-20 07:49] Eijebong commented on #22228
We might want to rewrite the `WrappedBody` thing to something that looks a lot like the `Decoder` in reqwest

[2018-11-20 09:10] nox commented on #21996
#22225 makes that code use a `IpcSharedMemory`, which means that for things such as `HTMLImageElement` we don't need to copy any pixel at all in this method. The same should be done for `HTMLVideoElement`.

I'm not sure what you mean that video frames are larger than the content they are displayed in.

[2018-11-20 09:13] nox commented on #21993
AFAIK recent OpenGL versions don't like `glGetString(GL_EXTENSIONS)`, the `GetExtensions` stuff should probably be reimplemented with `glGetStringi`.

[2018-11-20 10:11] nox commented on #21663
This does not seem to panic anymore, at least on macOS with #22225.

[2018-11-20 10:12] nox commented on #21663
Oh, was that about #22112? There was an issue where `HALF_FLOAT_OES` would be used instead of `HALF_FLOAT`.

[2018-11-20 13:30] Darkspirit opened #22232 "Broken text on Android"
Many letters disappear when scrolling down.
Device: Motorola Moto G5, Android 8.1.0
Screencast: https://youtu.be/aLHPtEsWBQI

last good:
https://dl.servo.org/nightly/android/2018-11-18T02:08:52Z-servoapp.apk
https://build.servo.org/builders/android-nightly/builds/968

first bad:
https://dl.servo.org/nightly/android/2018-11-19T02:09:21Z-servoapp.apk
https://build.servo.org/builders/android-nightly/

[2018-11-20 13:53] Darkspirit commented on #22232
I don't know, but I would suspect the `glutin` update (EGL stuff / context sharing?):
https://github.com/servo/servo/commit/76195e0779469f29a5e27cd882e2bbe8b2c9d6dd#diff-80ec6384e35aa56591dd045a66523c36R47 (https://github.com/tomaka/glutin/compare/ee971068a70e542b669d8699fff7b75ce1237d1f...72e8c959c4ff538857d028167b9946b8938bdeaa).

[2018-11-20 14:00] #21663 closed

[2018-11-20 14:03] Darkspirit commented on #22232
Could [bug 1505508 - Intermittently missing glyphs on Android](https://bugzilla.mozilla.org/show_bug.cgi?id=1505508) (GeckoView) be related?

[2018-11-20 15:02] sumit0190 commented on #21288
This is roughly how I am checking for feedback now:
[code]
@nox Any help here? Apart from not checking the level of the texture currently being read from, I think the rest of the algorithm looks correct.

[2018-11-20 16:00] #21929 closed

[2018-11-20 17:17] vberger commented on #9558
I just tried on sway, and I can confirm it "just works" except for dpi. Servo does not seem to follow the HiDPI information suggested by winit.

On my computer with a screen with dpi factor of 2.0, only the bottom-left quarter of the window contains the displayed web page, the 3 other quarters are just a white background.

[2018-11-20 20:03] jdm commented on #22162
Broken in Oct 22 nightly.

[2018-11-20 20:06] jdm commented on #22162
Working in Oct 11 nightly.

[2018-11-20 20:06] Manishearth commented on #22162
Didn't we have a different Android bug introduced in that range?

[2018-11-20 20:08] jdm commented on #22162
Working in Oct 17 nightly.

[2018-11-20 20:10] jdm commented on #22162
Broken in Oct 20 nightly.

[2018-11-20 20:14] jdm commented on #22162
Broken in Oct 19 nightly.

[2018-11-20 20:16] jdm commented on #22162
Working in Oct 18 nightly.

[2018-11-20 20:20] jdm commented on #22162
This is caused by #21961. I bet if we check glGetError right after those enable calls the problem will go away.

[2018-11-20 20:32] jdm commented on #22162
Actually, the check at https://github.com/servo/servo/commit/8828925f4f2be35b8996a8db1acc85d5f063144c#diff-281554879f39a2a041f7a69d442a5d2eR126 looks incorrect - it's comparing against the GLSL version, not the GL version.

[2018-11-20 20:34] nox commented on #22162
TIL those are not the same, ugh.

[2018-11-20 20:37] LifeIsStrange commented on #22232
I can reproduce on my galaxy tab s2

[2018-11-20 21:45] jdm opened #22235 "Latest WPT sync is busted"
cc @jgraham

I have encountered three problems so far when syncing from https://github.com/web-platform-tests/wpt/commit/adc866b0f404ad8314ea251008dea4d3c6dce11d to https://github.com/web-platform-tests/wpt/commit/c51ac7cdef9b8ca83672e673d4de52115cdca850:
* every test appears to fail when I run `./mach test-wpt`
* I can no longer run `./mach test-wpt path/to/test.html`; the tests aren't found.
* t

[2018-11-20 21:47] jdm commented on #22235
My eye is on https://github.com/web-platform-tests/wpt/pull/13618 for the bustage, but there's a lot to wade through.

[2018-11-20 21:52] jdm commented on #22235
More specifically about the failures: not every test failures, but there are a lot of failing reftests that involve at least one hash that matches badcfc8affb8500816334bafe3566a95390bd4ce. Fun fact:
<img width="922" alt="screen shot 2018-11-20 at 4 52 05 pm" src="https://user-images.githubusercontent.com/27658/48805161-a33a3680-ece4-11e8-9a3a-5573c0742a69.png">

[2018-11-20 21:55] jdm commented on #22235
I suspect that is a side-effect of the manifest rewriting, causing various test support files to load not correctly.

[2018-11-20 22:10] Manishearth commented on #22232
I can verify that the breaking commit is 76195e0

[2018-11-20 22:13] avadacatavra opened #22236 "Intermittent crash in /resource-timing/resource_timing_buffer_full_eventually.html"
[code]

[2018-11-20 22:13] Manishearth commented on #22232
I don't think this is a glutin issue, android doesn't use glutin

[2018-11-20 22:15] jdm commented on #22232
Pretty sure it's the webrender upgrade: https://github.com/servo/servo/commit/76195e0779469f29a5e27cd882e2bbe8b2c9d6dd#diff-d2ede298d9a75c849170d6ef285eda1eR4527

[2018-11-20 22:20] Manishearth commented on #22232
Yeah, I'm looking into that now. Definitely looks like a broken atlas

[2018-11-20 23:14] Manishearth commented on #22232
That patch doesn't fix it

[2018-11-20 23:38] Manishearth commented on #22232
Working on it, I've got a smaller regression range between https://github.com/servo/webrender/compare/46ee0ffd...b44b5711

[2018-11-20 23:48] Darkspirit commented on #22232
servo/webrender#3282 caused [bug 1505664](https://bugzilla.mozilla.org/show_bug.cgi?id=1505664).

[2018-11-20 23:50] Manishearth commented on #22232
Yeah, my bisection is pointing fingers at servo/webrender@ab887f2e too

[2018-11-20 23:55] Manishearth commented on #22232
I guess a WR update will fix everything?

[2018-11-21 00:48] Manishearth commented on #22232
Nope. I did the WR update, still broken.

[2018-11-21 01:32] Manishearth commented on #22232
I realized there was a problem with the way I was patching webrender -- so it's possible that servo/webrender#3327 will help after all

[2018-11-21 01:50] Manishearth commented on #22232
https://github.com/servo/webrender/pull/3327 does indeed fix this

[2018-11-21 13:15] jdm opened #22238 "Change Response's statusText default value"
https://github.com/whatwg/fetch/pull/836

Instead of an `OK` default, it should be the empty string instead.

Code: https://github.com/servo/servo/blob/07e334ae55623518516ddae6d758cf7650142398/components/script/dom/webidls/Response.webidl#L30
Tests: `./mach test-wpt tests/wpt/web-platform-tests/fetch/api/response/response-init-001.html`

[2018-11-21 13:15] highfive commented on #22238
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-21 16:32] jgraham commented on #22235
Is https://paste.rs/WpY any use? I think `./mach test-wpt --manifest-update` isn't working for your case, but I don't know if you were relying on that anyway. That set of changes at least unblocks the update I think, but some followup might be needed to figure out why the paths end up wrong when starting the update from inside wptrunner.

[2018-11-21 16:47] jdm opened #22240 "Crash handler invoking intrinsics::abort sometimes causes recursive crash handling to occur"
This is caused by an interaction with the WasmFaultHandler from mozjs that I don't quite understand yet. It's not clear why this would only affect us some of the time.

[2018-11-21 16:49] jdm commented on #22240
[code]

[2018-11-21 16:50] jdm commented on #22240
Line 57 of non_android_main.rs is the abort() call.

[2018-11-21 16:51] jdm commented on #22240
Interestingly, WasmFaultHandler does not exist in upstream mozjs.

[2018-11-21 17:40] Manishearth opened #22241 "Intermittent timeout in /_mozilla/mozilla/referrer-policy/no-referrer/rel-noreferrer/cross-origin/http-https/a-tag/generic.keep-origin-redirect.http.html"
[code]

http://build.servo.org/builders/mac-rel-css1/builds/5944

[2018-11-21 17:45] nox commented on #22241
Ain't that #21893?

[2018-11-21 17:48] Manishearth commented on #22241
oh, I was searching for an issue tagged I-intermittent, but this makes sense.

[2018-11-21 17:48] #22241 closed

[2018-11-21 20:00] nikhilm commented on #22203
FWIW, I have a work in progress library (i only made it publicly viewable so i could post this, heh! still needs documentation and so on) for a sampling profiler. https://bitbucket.org/nikhilm/vignette.
It already implements Linux thread suspension and resume, and was actually inspired by the gecko implementation. I work on this really on and off, so I won't be able to fix this issue itself, but f

[2018-11-21 20:03] georgeroman commented on #22238
@highfive assign me

[2018-11-21 20:03] highfive commented on #22238
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-21 20:21] jdm opened #22242 "Mysterious missing tasks in windows taskcluster"
[code]

cc @SimonSapin
I'm not really sure what to make of this.

[2018-11-21 20:34] SimonSapin commented on #22242
On https://tools.taskcluster.net/groups/EAGEfdoeRXi2YBGlcNGBow I read:
[code]

This is `with_max_run_time_minutes` in `etc/taskcluster/decision_task.py`.

We can raise it, but it’s worrying that a dev build is taking an hour.

[2018-11-21 20:41] jdm commented on #22242
Yeah, the buildbot dev builds appear to be sitting at 33 minutes.

[2018-11-21 20:44] jdm commented on #22242
According to the log, it took from 19:19 until 19:47 just to reach the part of the build that runs ./mach build.

[2018-11-21 20:44] jdm commented on #22242
Specifically, `./mach fetch` took 21m55.030544s.

[2018-11-21 20:56] jdm commented on #22240
We should try calling `_exit` from libc instead of intrinsics::abort().

[2018-11-21 21:48] SimonSapin commented on #22242
In https://tools.taskcluster.net/groups/fGAFdCfWSbyvs1CEUxgPRg/tasks/LSH44dR4TNah1mO4UDnP_A/runs/0/logs/public%2Flogs%2Flive.log yesterday it took under three minutes. Could it be just the network catching a cold?

[2018-11-21 23:20] Protagores commented on #21320
@kvark I'm afraid there's still a lot of "legacy" hardware out there which works fairly well with OpenGL (ES) 2.0/3.0 but might not work with Vulkan (on top of which I suppose WebGPU would normally be implemented) due to lack of support in drivers, as well as general shortcomings/compatibility barriers of their hardware architecture (try ridiculously obscure pipelines, lack of VM, shader engines w

[2018-11-22 04:39] gterzian commented on #22203
@nikhilm thanks!

Ok I'll use your implementation for linux/android, and restructure the Mac-Os one to use similar `Frame`, `Sample` and `Sampler` abstractions, and put those in separate files.

I assume your [`PosixSemaphore`](https://bitbucket.org/nikhilm/vignette/src/master/src/lib_linux.rs?fileviewer=file-view-default#lib_linux.rs-29) beats what I was trying to do with https://github.com/servo

[2018-11-22 15:30] kvark commented on #21320
I agree. Fwiw, gfx-rs has backends in development for OpenGL/GLES and D3D11, although clearly going WebGL -> WebGPU -> gfx-rs -> D3D11 is going to be slower than just WebGL -> Angle -> D3D11.

[2018-11-22 20:05] tigercosmos opened #22251 "`mozjs` build failed: the trait `std::convert::From<rust::MutableHandle<'_, u8>>` is not implemented for `u8`"
Run in Ubuntu 16.04
already `mach bootstrap`
then `mach build -d`
Do anyone encounter the same issue?
[code]

[2018-11-22 20:11] SimonSapin commented on #22251
I’ve seen this and worked around it by removing older versions and LLVM and clang. When multiple versions are available, the `clang-sys` crate (used by bindgen) picks one somewhat arbitrarily.

[2018-11-22 20:42] #22197 closed

[2018-11-22 20:48] tigercosmos commented on #22251
same as  #21478

[2018-11-22 20:48] #22251 closed

[2018-11-22 21:04] KiChjang opened #22252 "Error running test-wpt on Windows"
[code]

[2018-11-22 21:07] tigercosmos commented on #21478
the latest `bindgen` `0.46` has already update `clang-sys` to `0.26`
current use `bindgent` `0.39`
shall we update the version?

[2018-11-22 21:18] atouchet commented on #21478
@tigercosmos there is a PR to update bindgen here: https://github.com/servo/servo/pull/22221.

[2018-11-22 21:45] tigercosmos commented on #21478
I install clang 6 and remove all other old version. also update bindgen to lastest. But still encounter the same issue. I have no idea. orz
btw, why travis install clang 3.9?

[2018-11-22 21:54] jdm commented on #21478
You may need to remove the mozjs* directories from your build directory to observe changes.

[2018-11-22 22:38] northivanastan commented on #12015
Still have the error on Debian 9.

[2018-11-23 05:10] jdm opened #22255 "servo-linux2 errors while linking"
This suddenly started happening on every PR.

<details>

[code]

</details>

[2018-11-23 08:14] paulrouget commented on #21917
I've documented how to build and run FxR without Android Studio here: https://github.com/servo/servo/wiki/FirefoxReality-build#installing-and-running-a-local-firefox-reality-build

[2018-11-23 15:19] jdm commented on #22255
This was caused by running out of disk space. Cleared up some old doc build artifacts.

[2018-11-23 15:19] #22255 closed

[2018-11-23 16:05] jdm commented on #22235
Those changes allow me to run tests from file paths and cause the tests to pass that previously were not passing.

[2018-11-23 16:09] tigercosmos commented on #21478
deleting mozjs* folders is similar to mach clean. Unfortunately, still not work. :(

[2018-11-23 18:46] #22162 closed

[2018-11-23 19:12] atouchet commented on #22064
Did #22239 fix this?

[2018-11-23 19:15] jdm commented on #22062
I obtained the log of a failed test run that included -Zdump-display-list for https://searchfox.org/mozilla-central/source/testing/web-platform/tests/css/CSS2/backgrounds/background-root-001.xht. It looks like this:
[code]
Which looks like the expected display list for that test file.

[2018-11-23 19:49] jdm commented on #22062
@nical Do you have any ideas why forcing the use of the scene builder thread would cause Servo to intermittently take completely black screenshots of some reftests?

[2018-11-23 21:44] jdm opened #22261 "Headless emulator script should use pid argument for logcat"
We have code that can determine the pid of the servo app after starting it (see `./mach run --android`), so we should use that code to pass a pid argument to logcat and see all of the relevant output for the process.

[2018-11-23 21:44] highfive commented on #22261
cc @wafflespeanut

[2018-11-23 22:08] jdm opened #22262 "Intermittent timeout in /html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_feature_policy.tentative.sub.html"
[code]

[2018-11-24 00:16] nical commented on #22062
The scene builder thread makes scene building asynchronous which means that we can't set the display list and then screenshot the next frame (another scrolling/animation frame could be causing rendering to happen in between). I don't know how servo handles screenshots but this is the first place I'd look.

There's a `Transaction::notify` API that can be useful for inserting arbitrary code (such as

[2018-11-24 02:46] ExE-Boss opened #22265 "[content/css] Implement CSS Values 3 extensions to attr()"
The [**CSS&nbsp;Values and&nbsp;Units Module Level&nbsp;3**](https://drafts.csswg.org/css-values-3/#attr-notation) extends [the&nbsp;`attr(…)`&nbsp;function](https://developer.mozilla.org/docs/Web/CSS/attr) syntax with a fallback value and the parsed value type.

The main advantage of this is that it allows for properties to be dynamically changed using [data attributes]() without needing to use `

[2018-11-24 05:31] #22235 closed

[2018-11-24 06:40] SimonSapin commented on #22261
This is the code you mean, right?

https://github.com/servo/servo/blob/7c65505df3fff47f43062da20088113631ed9ae0/python/servo/post_build_commands.py#L97-L110

[2018-11-24 13:44] jdm commented on #22261
Yep.

[2018-11-25 08:45] GPHemsley opened #22267 "Ubuntu 18.04 needs llvm to build mozjs_sys"
When attempting to compile servo on Ubuntu 18.04, I encountered a number of errors when it reached the step of building mozjs_sys:

[code]

One of the pages I found while searching (which I've now misplaced) was about encountering a similar error on macOS, and the apparent fix involved installing llvm through brew.

After finding no other useful solution, I decided to attempt `sudo apt-get install

[2018-11-25 16:12] CYBAI commented on #22267
Maybe it's good to send a PR to update the README :)

Ref: https://github.com/servo/servo#on-debian-based-linuxes

[2018-11-25 22:03] paulrouget commented on #22064
Yes.

[2018-11-25 22:03] #22064 closed

[2018-11-26 08:50] ferjm opened #22269 "Properly test range requests to file urls"
#22024 introduced a test to check the implementation of range requests to file urls. However, the test is not really testing that as it is naively using http urls instead :\ .

I tried changing this in #22134 with [this patch](https://github.com/servo/servo/commit/42e15b544dd7769b4c4ae30e17abf619f986a2bf.patch). But, I couldn't figure out an easy way to make the update manifest tool ignore the gen

[2018-11-26 13:34] jdm commented on #22269
@jgraham what's the next step to investigate if adding a top-level .gitignore entry did not make a difference?

[2018-11-26 16:51] tigercosmos opened #22270 "`mach bootstrap` misses `virtualenv`"
`mach bootstrap` misses `virtualenv`
test with new Ubuntu 16.04 image

[2018-11-26 17:16] #21467 closed

[2018-11-26 17:16] #22053 closed

[2018-11-26 17:22] tigercosmos commented on #22270
ops. I misunderstand the meaning of readme.
not only mach bootstrap, but also the following command

[2018-11-26 17:22] #22270 closed

[2018-11-26 18:48] jdm opened #22271 "Intermittent timeout in /fetch/api/request/request-cache-only-if-cached.html"
[code]

[2018-11-26 20:38] georgeroman commented on #21822
@highfive assign me

[2018-11-26 20:38] highfive commented on #21822
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-26 20:40] jdm commented on #22271
[code]

[2018-11-27 03:37] jdm opened #22275 "WPT nightly sync is busted due to fluctuating manifest"
[code]

[2018-11-27 03:38] jdm commented on #22275
The files are actually present in the tree, but they match gitignore rules. Running update-manifest a second time makes them disappear from the manifest; something about the initial manifest generation with these files present is treated differently. Possibly this is related to the new caching present in the WPT manifest generation.

[2018-11-27 07:01] gterzian opened #22276 "Intermittent CRASH with mozilla::detail::MutexImpl::lock: pthread_mutex_lock failed"
Perhaps related to https://github.com/servo/servo/issues/21696

[code]

In a lot of CSS tests:
[code]

[2018-11-27 09:59] nox commented on #18050
Duplicate of #20380.

[2018-11-27 09:59] nox commented on #20380
@jdm Did you ever look into that? Any clue why that is happening?

[2018-11-27 12:21] nox commented on #20380
We set `RUSTFLAGS="-C target-feature=+neon …"` on Android and that makes us hit https://github.com/rust-lang/cargo/issues/4423.

[2018-11-27 12:22] nox commented on #20380
We could do what @mbrubeck suggest (always passing `--target`), but then that makes #20489 worse.

[2018-11-27 14:05] #18050 closed

[2018-11-27 14:31] #16740 closed

[2018-11-27 14:34] SimonSapin commented on #20380
I tried moving RUSTFLAGS from mach to `.cargo/config`, but hit https://github.com/rust-lang/cargo/issues/5376

[2018-11-27 17:30] alexcrichton commented on #20380
Currently Cargo doesn't cache separate artifacts based on `RUSTFLAGS`, so regardless of `RUSTFLAGS` (and regardless of where it's specified) it'll all get placed into the same filename, which means that two different builds will overwrite one another, causing the full rebuild behavior seen here.

Cargo's calculation of what to name each file (the hash in each filename) is located [around here](htt

[2018-11-27 18:01] jdm opened #22279 "Intermittent timeout in /_webgl/conformance/ogles/GL/tan/tan_001_to_006.html"
[code]

[2018-11-27 23:45] asajeffrey opened #22280 "GstPlayer crash on https://mozilla.com/firefox"
Running servo on https://mozilla.com/firefox produces:
[code]

[2018-11-28 03:51] #22232 closed

[2018-11-28 06:40] ferjm commented on #22280
CC @sdroege @ceyusa

[2018-11-28 08:51] ineol commented on #21885
Hi, I ran into the same problem on Debian testing. Here is the backtrace I got.

[code]
installing it through `apt install python3-certifi` fixed the problem.

[2018-11-28 09:40] nox commented on #20380
It's a bit more complicated than that, @alexcrichton. The unfortunate thing here is that `RUSTFLAGS` is being used only to enable the target feature `neon` for the *target* artefacts, but `RUSTFLAGS` also invalidates artefacts which are built for the *host*, build dependencies and whatnot.

So Cargo could actually share those build dependencies between Android builds with `neon` and other host bui

[2018-11-28 13:03] sdroege commented on #22280
The crash and everything comes from here: https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/blob/master/gst-libs/gst/player/gstplayer.c#L2917

There should probably be some more assertions in that code. In your case the problem seems to be that you simply don't have the `playbin` element available, see line 2898 a bit above. You need to at least gst-plugins-base properly installed in additi

[2018-11-28 13:52] nox commented on #20380
We don't rebuild the world anymore, but I'm keeping this open because we are just working around the problem instead of letting Cargo share more stuff.

[2018-11-28 15:52] nox commented on #20380
@alexcrichton I've looked at Cargo's code a bit, and I see that it already puts the rustflags in the `Fingerprint` structure, should the code you linked be using that?

[2018-11-28 15:53] jdm commented on #22271
[code]

[2018-11-28 15:55] jdm commented on #22280
@asajeffrey Was this on Magic Leap in particular? I can't reproduce this in macOS.

[2018-11-28 15:56] jdm opened #22283 "Can't scroll vertically on mozilla.com/firefox"
https://mozilla.com/firefox

[2018-11-28 15:58] jdm opened #22284 "Download button hover doesn't activate on mozilla.com/firefox"
https://mozilla.com/firefox

[2018-11-28 15:59] jdm commented on #21885
I've suggested the proper fix at https://github.com/servo/servo/pull/22250#issuecomment-441113614 for this problem.

[2018-11-28 16:31] jdm opened #22286 "Intermittent pass in /workers/dedicated-worker-from-blob-url.window.html"
[code]

[2018-11-28 16:41] ferjm opened #22287 "Implement HTMLMediaElement.crossorigin attribute logic"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-media-crossorigin

[2018-11-28 16:41] highfive commented on #22287
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 16:44] ferjm opened #22288 "Implement HTMLVideoElement.poster attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-video-poster

[2018-11-28 16:48] ferjm opened #22289 "Implement HTMLMediaElement.preload attribute logic"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-media-preload

[2018-11-28 16:49] ferjm commented on #22289
Depends on #22055

[2018-11-28 16:52] ferjm opened #22290 "Implement HTMLMediaElement.loop attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-media-loop
Code: `components/script/dom/htmlmediaelement.rs`, `components/script/dom/webidls/HTMLMediaElement.webidl`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/audio_loop_base.html`

[2018-11-28 16:52] highfive commented on #22290
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 16:57] ferjm opened #22291 "Implement HTMLMediaElement muted and defaultMuted attributes"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-muted

[2018-11-28 16:57] highfive commented on #22291
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 17:00] ferjm opened #22292 "Implement HTMLMediaElement.volume attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-volume

[2018-11-28 17:00] highfive commented on #22292
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 17:05] ferjm opened #22293 "Implement HTMLMediaElement playbackRate and defaultPlaybackRate attributes"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-playbackrate

[2018-11-28 17:05] highfive commented on #22293
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 17:07] ferjm opened #22294 "Implement HTMLMediaElement.ended attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-ended

This one should probably be done after #22293

[2018-11-28 17:07] highfive commented on #22294
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-28 17:08] jdm opened #22295 "Intermittent timeout in /html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/promise-rejection-events-onerror.html"
[code]

[2018-11-28 17:10] ferjm opened #22296 "Implement HTMLMediaElement buffered attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-buffered

Depends on #22055

[2018-11-28 17:15] ferjm opened #22297 "Implement HTMLMediaElement.seekable attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-media-seekable

This should probably wait for #22055 as well.

[2018-11-28 17:21] ferjm opened #22298 "Media controls"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-media-controls

[2018-11-28 17:23] ferjm opened #22299 "Implement HTMLMediaElement canPlayType()"
Spec: https://html.spec.whatwg.org/multipage/media.html#dom-navigator-canplaytype

[2018-11-28 19:06] ferjm opened #22300 "Enable hardware accelerated video playback"
This involves several pieces, some of them are already WIP:

- [x] [Add bindings for GStreamerGL](https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/merge_requests/161)
- [x] [Expose the EGLDisplay](https://github.com/tomaka/glutin/issues/1078)
- [x] [Modify player example to use GStreamerGL](https://github.com/servo/media/issues/166)
- [x] [Add a way to share EGLDisplay/X11 Display and GL cont

[2018-11-28 19:16] ferjm opened #22301 "Support media resources with multiple media tracks"
Spec: https://html.spec.whatwg.org/multipage/media.html#media-resources-with-multiple-media-tracks

This involves implementing the [AudioTrackList and VideoTrackList](https://html.spec.whatwg.org/multipage/media.html#audiotracklist-and-videotracklist-objects) interfaces and the logic of the [audioTracks](https://html.spec.whatwg.org/multipage/media.html#dom-media-audiotracks) and [videoTracks](htt

[2018-11-28 19:33] lucasfantacuci commented on #22292
Hi, I'm very new to the open source world.
Though I'm pretty sure that I'll need some mentoring, I'd like to help on this issue.

[2018-11-28 19:54] lucasfantacuci commented on #22292
As I could see, I have to change the HTMLMediaElement struct (in file : servo/components/script/dom/htmlmediaelement.rs)  by adding this new volume field.

Probably, I'll have to change either the HTMLMediaElement::new_inherited() function that build this object.

Will I have to handle how to retrieve this value?
Or will I have to make a check in this function?

'Cause in the specification says th

[2018-11-28 20:00] lucasfantacuci commented on #22292
@highfive: assign me

[2018-11-28 20:00] highfive commented on #22292
Hey @lucasfantacuci! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-28 20:44] #22238 closed

[2018-11-28 20:55] asajeffrey commented on #22280
It was on Linux.

[2018-11-28 21:39] jdm commented on #22292
There will be six parts to this:
* updating the HTMLMediaElement.webidl file (https://html.spec.whatwg.org/multipage/media.html#media-elements:dom-media-volume)
* add a volume member field to the HTMLMediaElement structure which represents [the playback volume](https://html.spec.whatwg.org/multipage/media.html#concept-media-volume)
* implement the new getter method on HTMLMediaElement that returns

[2018-11-28 21:46] atouchet commented on #22280
The page crashes Servo for me in Windows 10.

[2018-11-28 22:04] mandreyel commented on #20721
@emilio Here's what I have so far. If the parsing of a stylesheet were moved off the script thread, we'd need a way to tell its document to fetch imported sheets on the event-loop. I can see that Gecko dispatches the import sheet load to the main thread, but it seems to me that this introduces a lot of complexity in Servo. Please correct me if I'm wrong and this is not in fact difficult to accompl

[2018-11-28 22:04] highfive commented on #20721
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-28 22:10] jdm commented on #20721
In order to initiate an action on a script thread from another thread, all that is necessary is:
* a MainThreadScriptChan
* a new variant in [MainThreadScriptMsg](https://github.com/servo/servo/blob/c6f4dcce47433b2677375c69b269c30028bbb82b/components/script/script_thread.rs#L252)

Then the new variant needs to contain all of the data necessary to perform the action - that might be a PipelineId, wh

[2018-11-28 22:13] mandreyel commented on #20721
@jdm Ohhhh, that makes my life so much simpler! Thanks :smile:

[2018-11-28 22:22] emilio commented on #20721
I don't think this is needed. This is needed in Gecko because import rules need to create C++'s `StyleSheet` objects, which are cycle-collected main-thread-only objects, and because we can't trigger loads off-main-thread. Servo may or may not be able to do it.

What's the particularly complex part about it? I'd prefer if both Gecko and Servo were consistent on the approach, I don't particularly mi

[2018-11-28 22:51] jdm opened #22302 "Intermittent timeout in /resource-timing/buffer-full-set-to-current-buffer.html"
[code]

[2018-11-28 22:52] jdm opened #22303 "Intermittent failure in /resource-timing/buffer-full-add-after-full-event.html"
[code]

[2018-11-28 22:53] jdm opened #22304 "Intermittent failure in /fetch/content-type/response.window.html"
[code]

[2018-11-28 22:54] jdm opened #22305 "Intermittent pass in /html/semantics/scripting-1/the-script-element/execution-timing/122.html"
[code]

[2018-11-29 01:09] lucasfantacuci commented on #22292
Oh, thx Sir. I'm following the guides, and as soon as possible, I gonna create a PR.

[2018-11-29 01:13] avadacatavra commented on #21253
Post-mortem analysis from initial PR (#20459):
- Until the additional measurements are added and the timing allow check implemented, it will be difficult to tell which test failures are simply missing functionality and which are actual bugs. We should reevaluate the state of the tests after this is complete
- There appears to be a bug where resources are added to the timeline as `PerformanceNaviga

[2018-11-29 01:18] avadacatavra opened #22307 "Implement performance interface extension for PerformanceResourceTiming"
[Specification](https://w3c.github.io/resource-timing/#sec-extensions-performance-interface)

Implement
- [clearResourceTimings](https://w3c.github.io/resource-timing/#dom-performance-clearresourcetimings)
- [setResourceTimingBufferSize](https://w3c.github.io/resource-timing/#dom-performance-setresourcetimingbuffersize)
- [onresourcetimingbufferfull](https://w3c.github.io/resource-timing/#dom-perf

[2018-11-29 01:32] highfive commented on #21259
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:32] highfive commented on #21260
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:33] highfive commented on #21261
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:33] highfive commented on #21262
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:34] highfive commented on #21268
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:35] highfive commented on #22307
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:35] highfive commented on #21254
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 01:36] highfive commented on #21255
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-29 08:34] ferjm commented on #22280
@asajeffrey @atouchet could you confirm that you don't have `gst-plugins-base` installed, please?

[2018-11-29 08:49] ferjm commented on #22292
You'll need to add a new `set_volume` function to the [Player](https://github.com/servo/media/blob/master/player/src/lib.rs#L46) trait. There are two implementations of this trait: a [dummy one](https://github.com/servo/media/blob/master/player/src/lib.rs#L67), for the platforms where we don't have gstreamer support yet, and [the gstreamer one](https://github.com/servo/media/blob/master/backends/g

[2018-11-29 11:13] ferjm commented on #11882
IIUC this was fixed with the addition of servo-media. Please, reopen if you consider that this issue is still valid.

[2018-11-29 11:13] #11882 closed

[2018-11-29 11:17] ferjm opened #22309 "360 video"
Meta issue to track the work required to play 360 video.

- [ ] [Enable hardware accelerated video playback](https://github.com/servo/servo/issues/22300)
- [ ] [Support HTMLVideoElement as texture image source](https://github.com/servo/servo/issues/21995)
- [ ] [TexSubImage2D obtains the full image pixels then uses a subset](https://github.com/servo/servo/issues/21996)

[2018-11-29 11:59] ferjm opened #22311 "Implement the Text track API"
This is required to add subtitles, captions, etc. support.

Spec: https://html.spec.whatwg.org/multipage/media.html#text-track-api

[2018-11-29 12:00] ferjm opened #22312 "Support for WebVTT format"
Spec: https://w3c.github.io/webvtt

[2018-11-29 12:03] ferjm opened #22313 "Implement the HTMLTrackElement interface"
Spec: https://html.spec.whatwg.org/multipage/media.html#the-track-element

[2018-11-29 12:04] ferjm opened #22314 "Timed text tracks support (subtitles, captions, etc.)"
Spec: https://html.spec.whatwg.org/multipage/media.html#timed-text-tracks

This is a meta issue to track the work required to add timed text tracks support. More items might be added to the list as we progress with the implementation or a deeper analysis of the spec(s) is made.

- [ ] [Implement the Text track API](https://github.com/servo/servo/issues/22311)
- [ ] [Support for WebVTT format](http

[2018-11-29 12:20] ferjm commented on #22312
It seems that GStreamer has a parser for this format https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-base-plugins/html/gst-plugins-base-plugins-subparse.html

[2018-11-29 14:39] ferjm commented on #21803
Part of this work is happening at https://github.com/servo/media/pull/164

[2018-11-29 14:52] lucasfantacuci commented on #22292
Sirs, should I create any kind of test for it?

[2018-11-29 15:02] ferjm commented on #22292
There are already some [Web Platform Tests](https://github.com/servo/servo/tree/master/tests/wpt#running-the-tests) for this:

- ./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/audio_volume_check.html
- ./mach test-wpt tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/video_volume_check.html
- ./mach tests-wpt tests/wpt/web-plat

[2018-11-29 15:20] asajeffrey commented on #22280
I don't have `gst-plugins-base` installed.

[2018-11-29 17:38] jdm opened #22315 "Windows nightly crashes on startup for some users"
@samal84 reported in https://github.com/servo/servo/issues/21820#issuecomment-442920783 that the Windows nightly installer produces an installation that crashes at startup. @samal84 could you attach a screenshot of the error that you see?

[2018-11-29 17:51] atouchet commented on #22280
Does gst-plugins-bas come with the GStreamer installer? If so I may have it installed.

[2018-11-29 17:53] atouchet commented on #22315
I suspect there are still issues with the GStreamer installation on some systems. I will try to look into this.

[2018-11-29 17:58] chirgjn commented on #21254
Hey @avadacatavra 👋
Came here from your tweet, would love to take this up. But I'm fairly new to rust, I've got plenty of time this week though. Should I assign it to myself?

[2018-11-29 18:02] chirgjn commented on #21254
@highfive: assign me

Taking it up for now :D

[2018-11-29 18:02] highfive commented on #21254
Hey @chirgjn! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-29 19:45] georgeroman commented on #22293
@highfive assign me

[2018-11-29 19:45] highfive commented on #22293
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-29 22:10] Manishearth commented on #22232
(i was able to verify that this works, btw)

[2018-11-29 22:15] Darkspirit commented on #22232
Fixed for me too. Thank you!

[2018-11-29 23:25] germangb commented on #22294
Hi, I'd like to take a stab at this issue if you don't mind :grinning:

[2018-11-29 23:25] germangb commented on #22294
@highfive: assign me

[2018-11-29 23:25] highfive commented on #22294
Hey @germangb! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-30 00:38] Manishearth opened #22318 "googlevr only renders one eye"
Building `./mach build --android -r --features googlevr` and running https://manishearth.github.io/webgl-to-webvr/webvr.html has servo only rendering the right eye (if using Daydream, you need #22317). The webpage works fine in Chrome Canary.

![image](https://user-images.githubusercontent.com/1617736/49260990-e2f3d300-f3f4-11e8-9b6a-063785758b36.png)

I did some debugging; we definitely submit th

[2018-11-30 00:39] Manishearth commented on #22318
This screenshot was taken in portrait mode for Cardboard, but Daydream in landscape mode exhibits the same behavior.

[2018-11-30 01:07] Manishearth commented on #22318
stuck the fix for this in https://github.com/servo/rust-webvr/pull/28

[2018-11-30 01:38] atouchet commented on #22315
@ferjm do you have any ideas about that issue with the extra backslash?

[2018-11-30 05:34] kkpoon commented on #22290
@highfive: assign me

May I try on this?

[2018-11-30 05:34] highfive commented on #22290
Hey @kkpoon! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-30 07:44] atouchet commented on #22315
I tried testing this out by uninstalling Servo and GStreamer from my system and doing a fresh install from scratch. I can confirm that I run into issues when trying to launch Servo using just the installer from servo.org. When I launch Servo I get this error:

![Error](https://i.imgur.com/Az2hnPN.png)

GStreamer installs to my G: drive and these are the environment variables:

![Environment variab

[2018-11-30 10:01] kavika13 commented on #22315
I have one drive, and I get the same error on launch.
`GSTREAMER_1_0_ROOT_X86` points to `C:\gstreamer\1.0\x86\`
The files seem to have unpacked to `C:\gstreamer\1.0\x86\` as well.

I haven't installed any previous versions. I'm running Win10 Pro x64.

[2018-11-30 13:50] SimonSapin opened #22325 "Meta: move CI from Buildbot to Taskcluster"
## Previously

https://github.com/servo/saltfs/issues/559#issuecomment-409632684

## Done

Docs: [`etc/taskcluster/README.md`](https://github.com/servo/servo/tree/master/etc/taskcluster#readme)

* [x] https://github.com/servo/servo/pull/21776
  - In-tree decision task
  - In-tree `Dockerfile`s, with corresponding images built as needed and cached
  - CI task: tidy + Linux dev build + unit tests

[2018-11-30 14:25] jdm opened #22326 "Create a basic embedded ui"
Simply allowing people to type a URL into a textfield that is always visible would be an improvement over the status quo. Could we literally have a HTML page with an iframe and a URL input that is always the top-level browsing context?

[2018-11-30 14:38] jdm opened #22327 "Set document salvageable flag during Document.abort"
There's a comment in Document::abort in step 1 about the salvageable flag. We should be able to check the child document's flag and update the current document's flag if necessary per https://html.spec.whatwg.org/multipage/browsing-the-web.html#abort-a-document.

[2018-11-30 14:42] jdm opened #22328 "Remove unused recycle argument from Document::unload"
It no longer exists in [the specification](https://html.spec.whatwg.org/multipage/browsing-the-web.html#unload-a-document) and no code reads its value.

Code: `components/script/dom/document.rs`

[2018-11-30 14:42] highfive commented on #22328
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-11-30 14:51] georgeroman commented on #22328
@highfive assign me

[2018-11-30 14:51] highfive commented on #22328
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-11-30 15:06] ferjm commented on #22294
Thanks fo working on this @germangb. Here are some pointers of what I think we can do to implement this:

- Update the [HTMLMediaElement.webidl](https://github.com/servo/servo/blob/master/components/script/dom/webidls/HTMLMediaElement.webidl#L49) with the `ended` attribute.
- Implement the `HTMLMediaElementMethods.Ended` getter according to [this part of the spec](https://html.spec.whatwg.org/mult

[2018-11-30 15:10] Darkspirit opened #22329 "Servo Nightly startup takes 23 seconds because compiled with old fontconfig"
Debian Testing, KDE, Xorg, GTX1060

[code]

![screenshot_20181130_160602](https://user-images.githubusercontent.com/17962859/49297043-1a788300-f4ba-11e8-914f-69bfb77eaca2.png)

This problem does not happen if I compile Servo by myself.

[2018-11-30 15:23] Darkspirit opened #22330 "You can't open links that redirect to pages you have visited before"
I am not creative enough for a good title, please correct.

1. Run Servo `$ ./servo`. We are on `https://servo.org/`.
2. Ctrl+L, open `https://mozilla.org/`. A page is loaded.
3. Ctrl+L, open `http://mozilla.org/`. White page, nothing loaded. (We should have been redirected to https://mozilla.org/.)

Also happens the other way around:
1. Run Servo `$ ./servo`. We are on `https://servo.org/`.
2. Ct

[2018-11-30 15:39] Darkspirit opened #22331 "ports/servo/browser.rs: current_url is not updated after a redirect"
1. Run Servo `$ ./servo`. We are on `https://servo.org/`.
2. Ctrl+L, open `https://blog.servo.org/`.
3. Click on a blog post.
4. Press Ctrl+L: We see `https://blog.servo.org/2018/11/26/twis-119/` as expected as this dialog should always display the current URL.
5. Now open `http://preloaded-hsts.badssl.com/`. It's upgraded to https.
6. Press Ctrl+L: It's still displayed as `http://preloaded-hsts.b

[2018-11-30 17:34] #22318 closed

[2018-11-30 18:13] alexcrichton commented on #20380
Oh that's what I [alluded to above](https://github.com/servo/servo/issues/20380#issuecomment-442146699), we have two separate hashes: one for "whatever artifact you're using must match this hash to be reused" which is based on hashing as much as we can. The other hash is what filename is chosen (the artifact) and effectively controls the size of the target directory. The former hash is the fingerp

[2018-11-30 18:31] SimonSapin opened #22334 "Thread-safe (hash)map for layout ECS"
@pcwalton, you mentioned this would be needed for https://github.com/servo/servo/wiki/Layout-revamp-ideas.

Would `Mutex<HashMap<..>>` or `RwLock<HashMap<..>>` have a lot of contention for this use case?

https://github.com/jonhoo/rust-evmap splits up the reading and writing APIs into separate objects. Writing is not thread-safe unless you bring your own `Mutex`. This is an improvement over the st

[2018-11-30 18:50] stjepang commented on #22334
There's [`crossbeam-skiplist`](https://github.com/crossbeam-rs/crossbeam/tree/master/crossbeam-skiplist), which is essentially complete and we just need to publish the initial version. However, it's an ordered map (akin to `BTreeMap`) and performance is not that great compared to hash maps.

Could you say a little bit more about your use case?

* What is the type of keys and values?
* Do keys and

[2018-11-30 19:54] jdm commented on #21824
Duplicate of #22152.

[2018-11-30 19:54] #21824 closed

[2018-11-30 20:14] Darkspirit commented on #22330
1. Run Servo: `$ ./servo`. We are on `https://servo.org/`.
2. Open https://bit.ly/2Sl4GzU. It should redirect to https://servo.org/. White page, nothing is loaded.
3. Open https://mozilla.org/
4. Open http://mozilla.org/. White page, nothing loaded.
5. Open http://www.mozilla.org/en-US/privacy/firefox/, it works.

[2018-11-30 20:32] Darkspirit commented on #22330
(I've seen some css-less HTML pages before. Looks like an intermittent / different problem.)

[2018-11-30 21:41] jdm opened #22337 "Intermittent pass in /css/cssom-view/elementFromPoint-dynamic-anon-box.html"
[code]

[2018-11-30 22:10] Manishearth commented on #11681
Relevant code from Gecko

 - [overall algorithm](https://dxr.mozilla.org/mozilla-central/rev/c2593a3058afdfeaac5c990e18794ee8257afe99/dom/canvas/CanvasRenderingContext2D.cpp#4240-4493)
 - [bidi processor](https://dxr.mozilla.org/mozilla-central/rev/c2593a3058afdfeaac5c990e18794ee8257afe99/dom/canvas/CanvasRenderingContext2D.cpp#3977,3978-4237) (goes through `nsBidiPresUtils::ProcessText`)

[2018-11-30 22:54] jdm opened #22339 "Intermittent failure in /cors/preflight-failure.htm"
[code]

[2018-11-30 23:37] stevesweetney commented on #22291
@highfive: assign me

Hey I'd try implement these two attributes

[2018-11-30 23:37] highfive commented on #22291
Hey @stevesweetney! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-01 00:13] jdm commented on #22330
This turned out to be a really subtle and interesting issue, so thanks for noticing it!

[2018-12-01 01:12] sumit0190 commented on #22331
I could be wrong, but it looks like this snippet, in `constellation.rs`, needs to update the `current_url` field for the browser referenced by `top_level_browsing_context_id` when asked to set the final URL.
[code]

[2018-12-01 02:10] #22328 closed

[2018-12-01 03:04] gterzian commented on #10994
@mandreyel I think there might still be something to do on this one.

`HistoryTraversalTaskSource` was recently fully implemented at https://github.com/servo/servo/pull/21804/commits/14bc8ab7542287a18ecdede1ca7ee2af077eb8a9, and it's not actually used anywhere yet.

Key is the difference between these two related concepts:
1. A [#session-history-traversal-queue](https://html.spec.whatwg.org/multip

[2018-12-01 03:04] gterzian commented on #21815
Closing in favor of https://github.com/servo/servo/issues/10994

[2018-12-01 03:04] #21815 closed

[2018-12-01 03:47] atouchet commented on #22315
I don't think #22322 solves the error. I just tested the latest nightly and get the exact same issue still.

[2018-12-01 04:09] atouchet commented on #22315
@ferjm I am fairly certain the error is due to the GStreamer files. If I manually install `gstreamer-1.0-x86_64-1.14.4.msi` and `gstreamer-1.0-devel-x86_64-1.14.4.msi` to `G:\gstreamer` I get the same error screen as before and Servo will not start. However if I manually install those GStreamer files to `C:\gstreamer` Servo then runs fine.

[2018-12-01 11:52] SimonSapin commented on #22334
So I’m not super familiar with ECS (I don’t really have practical experience using it yet) but let’s try this:

In an entity-component-system pattern, each "object" or "thing" is called entity and given a unique identifier. Components carry all the data, addressed by identifier. A component for a given entity can refer to other entities by storing their identifiers. When storage is based on flat `

[2018-12-01 11:59] nox commented on #20380
I see. Why maintain 2 different hashes? Would the target directory size really blow up if the fingerprint hash was used in filenames?

I still don't think those fingerprinting shenanigans are the correct fix here anyway: we should have a way to pass some RUSTFLAGS specifically for target builds, omitting them for host builds of build dependencies.

[2018-12-01 16:30] paulrouget commented on #22331
Can't test now, but if current_url is not set properly, that also means the history is wrong.

If we do A (navigation to) B1 (redirection to) B2 (navigation to) C, current_url should be A, B2, C, and history should be the same.

If current_url is (wrongly) A, B1, C, then history will be A, B1, C as well.

[2018-12-01 16:31] paulrouget commented on #22331
I don't think it's an embedding issue, but an issue with how history changes are reported.

[2018-12-01 16:31] paulrouget commented on #22330
Related to #22331?

[2018-12-01 16:34] paulrouget commented on #22326
Yes. It requires multiple WR documents. See https://github.com/servo/servo/issues/21333

[2018-12-01 17:11] jdm commented on #22330
Not according to my solution in #22340.

[2018-12-01 17:19] sumit0190 commented on #22331
@paulrouget I think you might be correct. `HistoryChanged` events do set `current_url` correctly, so the problem might be how the history changes are triggered in the first place. I'll take a closer look at this if I can.

[2018-12-01 17:20] jdm opened #22342 "GC crash while reloading a page"
I can easily trigger a crash in SpiderMonkey when reloading the following page:
`./mach run -d data:,hi`

[2018-12-01 17:29] asajeffrey opened #22343 "Use default search engine pref in magicleap app"
@paulrouget pointed out that there's a pref for default search engine, we don't have to hardwire it: https://github.com/servo/servo/blob/a0116827e6ef7586f3ef9214fafd259b5c5afbc8/resources/prefs.json#L74

[2018-12-01 17:31] Darkspirit commented on #22343
The same for Android: #21304

[2018-12-01 17:31] jdm opened #22344 "Can't move caret to leftmost position in text input with arrow keys"
`./mach run -d 'data:text/html,<input value="hi">'`
Try to use the arrow keys to position the caret in front of the `h`. I would expect the error to exist in the code that [deals with a single horizontal adjustment](https://github.com/servo/servo/blob/a0116827e6ef7586f3ef9214fafd259b5c5afbc8/components/script/textinput.rs#L477).

[2018-12-01 17:31] highfive commented on #22344
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-01 17:34] jdm opened #22345 "Selecting text in a text input deletes text instead"
`./mach run -d 'data:text/html,<input value="hi">'`
Focus the text input with the mouse, then use shift+left to select the previous character. Instead the character appears to be deleted. We should start by determining if the code to [recognise shift](https://github.com/servo/servo/blob/a0116827e6ef7586f3ef9214fafd259b5c5afbc8/components/script/textinput.rs#L713) is working, then figure out why th

[2018-12-01 17:47] jdm opened #22346 "Enter and backspace don't trigger onkeypress events for text inputs"
`./mach run -d 'data:text/html,<input value="hi" onkeypress="console.log(event)">'`

[2018-12-01 17:47] jdm commented on #22346
They do trigger onkeydown and onkeyup, however.

[2018-12-01 17:50] jdm commented on #22326
This seems to more or less get the job done:
[code]

[2018-12-01 18:04] jdm commented on #22342
With a debug-mozjs build:
[code]

[2018-12-01 18:15] #22330 closed

[2018-12-01 19:13] paulrouget commented on #22326
You are introducing a lot of side effects when testing servo. As in, the framecontainer iframe document won't behave as if it was loaded in a top level browsing context. That was the reason mozbrowser iframes existed.

[2018-12-01 19:42] paulrouget commented on #22326
If this is important, I can try to resume the work on multiple WR document support. At least revive the PR even with the layout issues (like #21350).

[2018-12-01 19:50] Darkspirit commented on #22326
Unfortunately this would work (#4577 #16103), but please don't do such dirty stuff. :D

[2018-12-01 20:19] paulrouget commented on #22326
Yep.

[2018-12-01 22:16] atouchet commented on #22315
#21968 might help with this.

[2018-12-01 23:13] technicalguy commented on #21478
I had this same issue on Linux Mint and removing 4.0 and installing 6.0 seems to have fixed it.

[2018-12-02 11:33] gterzian commented on #22334
https://github.com/slide-rs/specs is an implementation of an ECS in Rust, used in https://github.com/amethyst/amethyst

I have no experience with it, but when I read "ECS" above, I remembered having seen it being mentioned [elsewhere](https://github.com/amethyst/amethyst#extreme-multithreading)...

[2018-12-02 12:43] stjepang commented on #22334
@SimonSapin

You can think of `SkipMap<K, V>` as equivalent to `BTreeMap<K, V>` except it's also concurrent.

Iterators to elements of the map are called `Entry<K, V>` and they increment the internal refcount of elements so that they don't get destroyed while you're reading them. Dropping an entry decrements the refcount for its element.

Operations like `insert` and `remove` internally don't touc

[2018-12-02 17:07] jdm commented on #22342
I suspect this triggers on this testcase in particular because it's a data URL which has a unique origin, so the old script thread is killed off when refreshing.

[2018-12-02 21:09] SimonSapin commented on #22334
One thing that I notice while looking through the code is the space overhead. Each key/value pair is in its own heap allocation, and has variable-size metadata that has at least 2 and (if I understand correctly) on average 3 pointer-sized fields.

That said it’s quite possible that getting a sound, concurrent, lock-free map out of it is worth this trade-off. But it’s something to keep in mind.

[2018-12-02 21:49] stjepang commented on #22334
Yes, this is correct.

Well, if you want an ordered map that is fully generic (doesn't rely on bounds like `K: Copy, V: Copy` that would allow certain kinds of optimizations) and fully lock-free, this is pretty much the state of the art. It's as good as it gets. *shrug*

If we bend the rules, there's a lot of space for optimization:

* If `K: Copy` and `V: Copy`, then we could implement a Bw-Tree

[2018-12-03 05:15] atouchet commented on #22090
This is now only happening with the https://duckduckgo.com/html version of the site.

[2018-12-03 06:32] jdm commented on #22090
Ok, it's not the presence of the header itself. It's the presence of the :443 in the header, since when I set network.http.sendOriginHeader to 1 in Firefox the site still loads.

[2018-12-03 06:33] jdm commented on #22090
As expected, this is a regression from https://github.com/servo/servo/pull/21644.

[2018-12-03 09:34] SimonSapin commented on #22334
Yes, that was sort of my point :) Thanks for looking into all this.

[2018-12-03 09:58] SimonSapin commented on #22334
For what it’s worth, for the multi-threaded ECS use case we don’t need the map to be ordered and keys are something like `struct Id(NonZeroUsize);`. So we can have `K: Copy + Hash + AsRef<[u8]>`. (But `V: Copy` would be limiting.)

[2018-12-03 21:13] avadacatavra commented on #21254
Hi @chirgjn--thanks for taking this on!

Let me know if there's any help you need

[2018-12-03 22:17] alexcrichton commented on #20380
Oh that's what I meant [above](https://github.com/servo/servo/issues/20380#issuecomment-442146699) about a tradeoff, if the two hashes are the same we could have huge target directories and if they're super different then there's no caching.

Currently RUSTFLAGS should only apply to target artifacts though so long as `--target` is passed, but if `--target` isn't passed it does indeed apply to all

[2018-12-03 23:12] chirgjn commented on #21254
Hey, thanks. I'm able to build servo on my machine but apart from that I'm having a hard time.
I've read through the comments and the spec, and what I understand is that first need to find out the fetch_start and redirect_start right?
Can you point me where to look?

[2018-12-04 04:10] atouchet commented on #21317
This is back to crashing for me.

[code]

[2018-12-04 11:00] gterzian commented on #21491
This seems to have happened in the meantime

https://github.com/servo/servo/blob/5bdea7dc1c80790a852a3fb03edfb2b8fbd403dc/components/net/http_loader.rs#L1286

[2018-12-04 11:00] #21491 closed

[2018-12-04 15:01] andrealexandre commented on #22287
@highfive: assign me

[2018-12-04 15:01] highfive commented on #22287
Hey @andrealexandre! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-04 18:49] tadman commented on #15293
The solution using from samunket worked for me:

[code]

[2018-12-04 19:12] ferjm opened #22358 "Fullscreen support for <video> elements"
It does not seem to be working now. I get a blank window when my test goes fullscreen.

<img width="1136" alt="screenshot 2018-12-04 at 14 09 39" src="https://user-images.githubusercontent.com/480202/49466566-b67af500-f800-11e8-8c0f-176ef79e547c.png">

[2018-12-04 22:19] ferjm opened #22359 "Implement support for global mute per tab"
It would be nice to have a way to implement the global mute per tab feature.

Right now, we have an independent [Player](https://github.com/servo/media/blob/master/player/src/lib.rs#L46) instance per `HTMLMediaElement`. One way we could do this is to keep a match of all these instances per top level browsing context (@jdm @asajeffrey  do we have the concept of principal in Servo like we have in Ge

[2018-12-05 06:04] jdm opened #22361 "Intermittent pass in /css/css-text/line-break/line-break-normal-018.xht and /css/css-text/line-break/line-break-strict-018.xht"

[2018-12-05 09:33] nox commented on #15293
We updated openssl and whatnot since then, AFAIR. Closing.

[2018-12-05 09:33] #15293 closed

[2018-12-05 18:01] JRegimbal commented on #22345
I can't seem to replicate this on my computer (08bbf4f on Debian testing). The characters are selected and don't appear to be deleted.

[2018-12-05 18:48] ferjm opened #22363 "Implement missing functionality of AudioBufferSourceNode"
We have only very basic support for AudioBufferSourceNode. We still need to implement most part of the [playback of AudioBuffer contents algorithm](https://webaudio.github.io/web-audio-api/#playback-AudioBufferSourceNode), add the `loop`, `loopStart`, `loopEnd`, `playbackRate` and `detune` attributes and the `offset` and `duration` arguments of the `start` method.

Spec: https://webaudio.github.io

[2018-12-05 18:51] ferjm commented on #22359
This should not only affect audio associated to `HTMLMediaElement`s. We should also keep track of WebAudio `AudioContext` instances.

[2018-12-05 18:52] ferjm commented on #22359
https://github.com/servo/media/blob/master/audio/src/context.rs#L105

[2018-12-05 19:39] ferjm opened #22364 "Implement missing OscillatorNode functionality"
https://github.com/servo/media/pull/163 added the media backend missing pieces for the missing `OscillatorType`s except for the `custom` one. We still need to implement that one and the DOM bits of all of them.

<strike>note: this is reserved for a group of NCSU students.</strike>

[2018-12-05 19:58] ferjm opened #22365 "Implement cycle detection for the AudioContext graph"
https://github.com/servo/media/issues/51

[2018-12-05 20:07] ferjm opened #22366 "Media Fragments URI support for audio and video"
Spec: https://www.w3.org/TR/media-frags/

Particularly interested on use cases like https://www.w3.org/TR/2009/WD-media-frags-reqs-20091217/#scenario1.1

[2018-12-05 20:15] ferjm opened #22367 "Support cancellation on AudioParams"
According to #21632 this is a commonly used feature.

The DOM and servo-media glue code is there, but the actual cancellation is not implemented yet.

Code: https://github.com/servo/media/blob/master/audio/src/param.rs#L410
Specs:

- https://webaudio.github.io/web-audio-api/#dom-audioparam-cancelscheduledvalues
- https://webaudio.github.io/web-audio-api/#dom-audioparam-cancelandholdattime

[2018-12-05 20:20] ferjm opened #22368 "Implement ConvolverNode node"
This type of node was identified as used by some known sites in #21632.

Spec: https://webaudio.github.io/web-audio-api/#ConvolverNode

[2018-12-05 20:27] ferjm opened #22369 "Implement DelayNode node"
This is required to implement https://github.com/servo/media/issues/51.

Spec: https://webaudio.github.io/web-audio-api/#DelayNode

[2018-12-05 20:34] ferjm opened #22370 "Implement MediaElementAudioSourceNode"
Spec: https://webaudio.github.io/web-audio-api/#mediaelementaudiosourcenode

There is a brief mention of a potential approach to implement the backend part of this type of AudioNode at https://github.com/servo/media/issues/43

[2018-12-05 20:39] ferjm opened #22371 "Implement WaveShaperNode"
Spec: https://webaudio.github.io/web-audio-api/#waveshapernode

[2018-12-05 20:42] ferjm commented on #21396
https://github.com/Manishearth/media-capture

[2018-12-05 20:58] ferjm opened #22372 "Investigate issues blocking support for Youtube"

[2018-12-05 21:07] ferjm opened #22373 "High CPU usage on Youtube main page"
I see ~400% of CPU usage after opening https://youtube.com in Servo.

I'm not sure if this is related, but I see these errors in the console:

[code]

[2018-12-05 21:13] ferjm commented on #22373
This makes the main page unusable. You cannot click on any link and scrolling is slow.

[2018-12-05 22:21] ferjm opened #22374 "Media API for ServoView"
This is the equivalent to https://bugzilla.mozilla.org/show_bug.cgi?id=1498246 for ServoView. From that issue:

[2018-12-05 23:13] Tommytrg commented on #22359
Hi, I would like to work on this issue. How could I start?

[2018-12-06 00:19] cbrewster commented on #22359
@ferjm you can store per-top level browsing context info in the `Browser` struct in the constellation:

https://github.com/servo/servo/blob/16e4eb69644b74d120398cc2b3ac0d9a94075ae5/components/constellation/constellation.rs#L171-L181

[2018-12-06 19:13] ferjm commented on #22287
Thanks for your interest on this @andrealexandre. Some tips on what we can do here:

- Add the `crossOrigin` attribute to the [HTMLMediaElement](https://github.com/servo/servo/blob/a2c4eba72014d143b2b1a442441bbce0f0b2200e/components/script/dom/webidls/HTMLMediaElement.webidl#L19) webidl. It's there, but commented out.
- Add the corresponding getter and setter to the [HTMLMediaElementMethods trait

[2018-12-06 21:01] aditj commented on #22307
@highfive: assign me

[2018-12-06 21:01] highfive commented on #22307
Hey @aditj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-06 21:36] ferjm commented on #22359
Thanks for your interest in working on this @Tommytrg.

I think we could do something like:

- Make ServoMedia take a generic parameter [here](https://github.com/servo/media/blob/ce1cc2d18f95776c66db72dfb59685fe36f0de4d/servo-media/src/lib.rs#L13) to get the type of identifiers the client uses for their media contexts (top-level browsing contexts in Servo's case). For example
[code]
- Create a `Mu

[2018-12-06 23:14] jdm opened #22378 "Animations for nodes that are not visible are never removed from the list of running animations"
[code]
If you look at the list of layout events, the animation continues triggering after the node is removed from the document.

[2018-12-06 23:30] jdm commented on #22378
We should have a testcase for changing the element's style display to none, as well.

[2018-12-06 23:36] jdm commented on #22378
This can happen in recalc_style_for_animations by tracking which animations in `animations` were actually updated and removing them from the hashmap otherwise.

[2018-12-07 15:33] andrealexandre commented on #22287
Thank you @ferjm, started taking a stab at Rust for improving my skills. Decide would taking an easy issue in this project would be a nice way for me to learn and help this community.

[2018-12-07 19:45] cdeler commented on #21732
Hello @jdm ,

I had a similar issue with
```./mach build --dev```
since I also work on the Mint

I wrote a little patch to this bug. I override the distro versio and name, since the Mint is based on a stable Ubuntu, therefore it requires the same `mach` behaviour.

Could the issue be assigned for me? Then I would commit the patch.

[2018-12-07 21:05] alexcrichton commented on #20380
I believe that's the subject of cargo issues like https://github.com/rust-lang/cargo/issues/6375 perhaps?

[2018-12-07 22:40] jdm commented on #21732
We can't assign the issue to arbitrary users, but you are welcome to submit that patch. Thanks in advance!

[2018-12-07 23:50] GPHemsley commented on #22367
There don't appear to be any self-contained tests for these two methods. The closest I could find is in [audioparam-method-chaining](https://github.com/web-platform-tests/wpt/blob/7c50c216081d6ea3c9afe553ee7b64534020a1b2/webaudio/the-audio-api/the-audioparam-interface/audioparam-method-chaining.html).

[2018-12-08 08:12] CYBAI commented on #22271
[code]

[2018-12-08 09:44] jdm commented on #22271
This seems to occur on servo-mac8 in particular.

[2018-12-08 13:44] qqgg231 commented on #22315
<img width="300" alt="screenshot_6" src="https://user-images.githubusercontent.com/11590960/49686645-bb3cf300-faf7-11e8-8168-9cb75efe452a.png">

i get this on startup

it says this dll not found

[2018-12-08 15:31] o0Ignition0o commented on #19505
It looks like windows builds now produce an executable instead of a .msi archive, sothe -n flag doesnt work on windows anymore :( .

I'm trying to find a way to extract the executable without installing the application, but couldn't manage so far.

Also https://firefox-source-docs.mozilla.org/mozbase/mozinstall.html doesn't allow me to just extract a portable version, maybe I could submit a pr to

[2018-12-08 16:46] #21732 closed

[2018-12-08 16:49] jdm commented on #19505
Interesting point; that's an unfortunate consequence. If you want to change mozinstall, you probably need to submit a patch to mozilla-central, since I suspect that https://searchfox.org/mozilla-central/source/testing/mozbase/mozinstall is the authoritative source.

[2018-12-08 17:09] o0Ignition0o commented on #19505
Yeah, plus that would maybe allow us to use exclusively the mozinstall API on Windows Linux and macos, which would be an improvement. I'll try to submit a patch :)

[2018-12-08 17:15] hgallagher1993 commented on #21732
Not really sure why I didn't just fix this originally, but anyway thanks for fixing @cdeler :+1:

[2018-12-08 17:57] jdm commented on #21732
You can go ahead and make a new pull request with those changes.

[2018-12-09 04:00] jdm commented on #16627
These failures happen because the layout thread performs the initial reflow before receiving the correct quirks mode, so the quirks stylesheet does not get applied on any subsequent reflows.

[2018-12-09 04:05] jdm commented on #16627
I suspect this is nondeterministic because the initial reflow could be triggered by the reflow timeout before the layout thread receives the message about the quirks mode.

[2018-12-09 15:32] jdm commented on #22145
@Briando are you still working on this?

[2018-12-09 15:33] jdm commented on #21736
Haven't seen this since.

[2018-12-09 15:33] #21736 closed

[2018-12-09 15:34] jdm commented on #21798
No longer reserved.

[2018-12-09 15:34] jdm commented on #21797
No longer reserved.

[2018-12-09 15:55] jdm opened #22394 "Mousing over quirks/unitless-lengths/quirks.html causes constant WindowResize reflow events"
This doesn't happen on other simpler pages, so there's something unique.

[2018-12-09 16:11] jdm commented on #22394
I can reproduce this with the following HTML and mousing over the outer page content:
[code]
I suspect this happens because every time the page runs layout that encounters an iframe, it sends the sizes of the iframe to the constellation, and the constellation assumes this is a resize and sends a resize message to the target script thread.

[2018-12-09 17:41] jdm commented on #16627
I think these tests may only pass completely when the querying code executes before a window size is received. In that case, no layout query happens and an empty string is returned, so the checks at https://searchfox.org/mozilla-central/rev/9abd7f512c9b29071776e7ba3f991d5b5fd59ff6/testing/web-platform/tests/quirks/unitless-length/support/common.js#110-112 always pass.

[2018-12-09 18:05] #21822 closed

[2018-12-10 09:54] cdeler commented on #20437
Hello again @jdm ,
What should I do to start working on this issue? Should I notify someone except you?

[2018-12-10 11:48] aditj commented on #22307
@avadacatavra little help please, where do I implement the functions exactly ? Inside /servo/components/script/dom/performanceresourcetiming.rs ?

[2018-12-10 13:21] jdm commented on #20437
@cdeler It requires enabling the test directory, then running `./mach test-wpt tests/wpt/web-platform-tests/bluetooth --log-raw log`, followed by `./Mach update-wpt log`. This will create a bunch of new ini files for the tests that don't pass, so the next step is to compare those result against the ini files for the existing tests and see if there are any significant differences.

[2018-12-10 15:04] asajeffrey commented on #22188
#22210 is a workaround, which makes the app `debuggable`. The issue can be kept open until we find a proper fix.

[2018-12-10 15:21] ferjm commented on #22307
According to the [spec](https://w3c.github.io/resource-timing/#sec-extensions-performance-interface), these methods are an extension of the [Performance](https://github.com/servo/servo/blob/master/components/script/dom/webidls/Performance.webidl) interface. You will need to modify that file to add the new methods and the new event.

The implementation for this interface lives in [components/script

[2018-12-10 15:31] asajeffrey opened #22400 "Minimize a browser window in magicleap"
Support an minimized view of a browser window, using something like a 3D favicon as the icon.

[2018-12-10 15:33] asajeffrey opened #22401 "Support making the keyboard visible in magicleap"
When a textedit control is selected, the keyboard should be made visible. The matching android issue is #12127.

[2018-12-10 15:43] asajeffrey opened #22402 "Immersive mode for magicleap"
Implement immersive mode WebVR/XR for magicleap.

[2018-12-10 15:44] asajeffrey opened #22403 "GStreamer support in magicleap"
Once gstreamer is available for magicleap, we should use it for media.

[2018-12-10 15:48] asajeffrey opened #22405 "Firefox accounts"
Can we add Firefox Accounts features to servo?

[2018-12-10 15:49] asajeffrey opened #22406 "Magic leap UI component for Servo"
At the moment, the app embeds servo directly, it would be nice to have a reusable magicleap UI component.

[2018-12-10 15:56] asajeffrey opened #22407 "Magic Leap minimum viable product"
We currently have a "minimum viable demo" of Servo on Magic Leap. Features that would be needed for an MVP:
- [ ] Acceptable performance
- [x] Immersive mode (#22402)
- [x] Media (#22807, #22403)
- [ ] Tracking protection (#22404)
- [ ] Home page (https://github.com/servo/servo.org/issues/70)
- [ ] Web page minimization (#22400)
- [ ] Keyboard activation (#22401)
- [ ] Multiple windows (#22653)

A

[2018-12-10 16:20] haedaal commented on #21255
@highfive assign me :)

[2018-12-10 16:20] highfive commented on #21255
Hey @haedaal! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-10 17:23] asajeffrey commented on #22405
In particular, sync and password management.

[2018-12-10 17:39] ferjm commented on #22405
A couple of random comments about this:

- I haven't looked into Firefox Accounts or Firefox Sync in a long time and I have no idea about its current status, but a few of years ago, Firefox OS implemented what I think it was the last Sync client with a very interesting approach that moved most of the complex Sync related work to a server piece: [Syncto](https://wiki.mozilla.org/Firefox_OS/Syncto).

[2018-12-10 17:55] asajeffrey commented on #22405
Ooh, https://github.com/mozilla/application-services looks interesting!

[2018-12-10 17:56] cdeler commented on #20437
Well, I still have a little question.

The most of tests didn't execute (were skipped), as long as I've made a little fix in
[code]

The reason of skipping was this condition:
https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/wptrunner/wptrunner/wptrunner.py#L248
`test.testdriver and not executor_cls.supports_testdriver` was `True` (and executor_cls is `ServoTestharness

[2018-12-10 17:56] asajeffrey commented on #22400
Ah, perhaps we should be using https://w3c.github.io/manifest/?

[2018-12-10 22:16] cdeler commented on #20437
@jdm
I executed the tests like
```./mach test-wpt tests/wpt/web-platform-tests/bluetooth/  --headless --log-raw log3.out```

[2018-12-10 23:34] jdm opened #22409 "Running WPT with servodriver on desktop is broken"
This appears to be a regression from #22051, since the webdriver server receives a response from the constellation with the focused browsing context id before the browsing context id has actually been created, which causes subsequent webdriver commands to be silently dropped by the constellation.

[2018-12-10 23:39] jdm opened #22410 "Only send one SetDocumentState message, not an infinite number"
When the document is finished loading and there are no pending images to load, the script thread continues to send a SetDocumentState message every time a reflow is complete. This is unnecessary; we should not need to send more than one. We should add a boolean to Window to avoid this.

Code: https://github.com/servo/servo/blob/160f1137fb66408f98e952df8b6b93df16fd7ee1/components/script/dom/window.

[2018-12-10 23:39] highfive commented on #22410
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-11 00:30] jdm opened #22412 "Implement missing DOMException constructor"
The DOMException specification has been updated since we implemented it. https://heycam.github.io/webidl/#idl-DOMException includes a constructor that is required for the bluetooth tests in #20437. This requires updating the WebIDL file at `components/script/dom/webidls/DOMException.webidl` with the constructor from the specification, then implementing the new `Constructor` static method in `compo

[2018-12-11 00:30] highfive commented on #22412
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-11 00:36] jdm commented on #20437
Very interesting results; I have now done some reading about what testdriver is and it's a little more clear to me what the next step is. I suspect we will want to build on top of #22411 and run the tests with `--product=servodriver`, and add the `supports_testdriver = True` line to `executorservodriver.py` instead.

This should get us to a baseline where we can evaluate the state of the tests (fo

[2018-12-11 00:42] #22378 closed

[2018-12-11 00:49] paulrouget opened #22413 "Split simpleservo into 3 crates: rustapi, capi, jniapi"
We decided to do this so that libmlservo could use the rust api as a dylib (not the capi as a cdylib).

Maybe another option would be to use a feature to select the crate type and api we want to use.

[2018-12-11 02:38] paulrouget commented on #22413
Work in progress: https://github.com/servo/servo/compare/master...paulrouget:split_simpleservo

[2018-12-11 09:19] ferjm opened #22416 "Media Source Extensions API"
Spec: https://www.w3.org/TR/media-source/

[2018-12-11 09:20] ferjm commented on #22416
[This branch](https://github.com/servo/servo/compare/master...ferjm:mse) contains some of the DOM bits that were implemented for gecko-media and that we may be able to reuse.

[2018-12-11 09:25] ferjm commented on #22416
WebKit has a GStreamer based implementation of this API http://eocanha.org/blog/2016/02/18/improving-media-source-extensions-on-gstreamer-based-webkit-ports/

[2018-12-11 11:30] cdeler commented on #20437
Yes, I've got it, thank you

[2018-12-11 12:08] aditj commented on #22307
@ferjm Thanks for the help ! Btw will my adding a Field to the Performance structure be a problem elsewhere?

[2018-12-11 12:34] ferjm commented on #22307
That I can't tell for sure. It will likely have some side effects (hopefully good ones :)). For example, it may cause new [Web Platform Tests](https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests#the-web-platform-tests-project-) to pass or fail.

[2018-12-11 15:20] ferjm commented on #19418
The `mp4parse` dependency was removed in #21543

[2018-12-11 15:20] #19418 closed

[2018-12-11 15:22] ferjm opened #22418 "Figure out support for AV1"
We need to figure out the current status of AV1 support in GStreamer, if there's anything missing there and the steps that we need to do to add its support to servo-media.

CC @ceyusa

[2018-12-11 17:19] aditj commented on #22307
@ferjm Where is the crate for PerformanceBinding written at?

[2018-12-11 21:48] ferjm opened #22422 "Intermittent timeout in /css/css-ui/text-overflow-025.html"
[code]

[2018-12-11 21:48] ferjm opened #22423 "Intermittent pass in /html/dom/documents/dom-tree-accessors/Document.currentScript.html"
[code]

[2018-12-11 22:41] jdm commented on #22422
More specifically, the full output from the test was:
[code]
This is another instance of #13480.

[2018-12-11 22:41] #22422 closed

[2018-12-11 22:41] jdm commented on #20633
This is #13480.

[2018-12-11 22:41] #20633 closed

[2018-12-11 22:43] jdm opened #22425 "Intermittent timeout in /webaudio/the-audio-api/the-biquadfilternode-interface/no-dezippering.html"
[code]

[2018-12-11 22:57] jdm opened #22427 "Use builder pattern with RequestInit"
If RequestInit::new accepts all of the mandatory arguments and then the builder pattern is used for customizable options, the resulting code might be easier to match against specification text like https://html.spec.whatwg.org/multipage/media.html#media-elements.

[2018-12-12 04:49] jdm opened #22430 "Intermittent crash in /custom-elements/throw-on-dynamic-markup-insertion-counter-construct.html, /custom-elements/throw-on-dynamic-markup-insertion-counter-reactions.html"
[code]
This looks like it's failing to send a message to the layout thread, which seems surprising.

[2018-12-12 09:39] CYBAI commented on #22412
@vuamitom These tests passed due to the settings in `tests/wpt/metadata/WebIDL/ecmascript-binding/es-exceptions/`.

For example, currently, the test cases in [DOMException-constructor-behavior](https://github.com/servo/servo/blob/master/tests/wpt/metadata/WebIDL/ecmascript-binding/es-exceptions/DOMException-constructor-behavior.any.js.ini) are set to `FAIL`.

You can try to remove these `FAIL` and

[2018-12-12 10:19] cdeler commented on #20437
@jdm
Is it possible to ask you review the PR https://github.com/servo/servo/pull/22420 ?

[2018-12-12 10:20] ferjm commented on #22307
@aditj  https://github.com/servo/servo/pull/22431#pullrequestreview-184072634

[2018-12-12 12:35] ferjm opened #22434 "Set media player EOS"
#22433 removes the code where we set the player EOS.

It would be nice to set it back in these cases:

- when there's a fetch error.
- when we completed fetching all the requested data.

[2018-12-12 14:32] jdm commented on #20437
Yes. I will review it today.

[2018-12-12 17:30] cdeler commented on #22412
@vuamitom @CYBAI
Do you have any objections, if I take this issue (and start working on it)?

[2018-12-12 19:38] jdm opened #22438 "Taskcluster WPT output is not readable"
[code]

The default logger rewrites the terminal, which doesn't work well with the taskcluster logging. We should try enabling `--log-mach -` and see if that yields something more understandable.

[2018-12-12 20:17] #22292 closed

[2018-12-12 20:31] SimonSapin commented on #11810
https://github.com/servo/servo/issues/22325 tracks moving from Buildbot to Taskcluster, and we now have integration with Treeherder to show Taskcluster Tasks.

[2018-12-12 20:31] #11810 closed

[2018-12-12 20:37] jdm commented on #22438
Nope! https://tools.taskcluster.net/groups/dqr2ugQIR2S7SAZ09xsKDA/tasks/ak9aSscNTtuNukLJP9udSQ/runs/0/logs/public%2Flogs%2Flive.log

[2018-12-12 20:59] jankeromnes commented on #12686
FYI I just ran into a similar issue:

[code]

[2018-12-12 21:06] jdm commented on #12686
The solution here may just be to modify the PATH to ensure that the correct python is picked up: https://github.com/servo/mozjs/blob/7fb484a6f2139fbec9a32bcd2ff3f3b04cde8c20/mozjs/build/docs/python.rst#python-on-path-is-not-appropriate

[2018-12-12 21:07] jdm commented on #12686
That being said, having a check earlier in the build to identify this issue would be a useful improvement.

[2018-12-13 01:41] kingdido999 commented on #22410
@highfive assign me

[2018-12-13 01:41] highfive commented on #22410
Hey @kingdido999! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-13 02:01] kingdido999 commented on #22410
Does the variable name `is_reflow_completed` sound good here? Or something more specific like `is_reflow_complete_message_sent`?

[2018-12-13 02:50] vuamitom commented on #22412
No objection, please go ahead. I think you should ask @highfive to assign it to you.

[2018-12-13 03:56] azy5030 commented on #21792
tl;dr: The reason why the linker can't find lstd++ is because Apple no longer places the `/usr/include` directory when installing XCode 10 and CLI tools. You need to run the package in `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` after installing the command line tools with `xcode-select --install`.

I was experiencing the issue noted by @Walther [here](http

[2018-12-13 07:32] cdeler commented on #22412
@highfive: assign me

[2018-12-13 07:32] highfive commented on #22412
Hey @cdeler! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-13 08:55] vuamitom commented on #21259
Hi @avadacatavra ,

I've started on the code and trying to picture rough steps to complete this task, which would be like:

1. In components/net_traits/lib.rs  modify `ResourceFetchTiming` and `ResourceAttribute` to add domain_lookup_start
2. In components/net/http_loader.rs::http_fetch , set domain_lookup_start according to the logic cited above. domain_lookup_start can be set with smth like cont

[2018-12-13 09:54] nox commented on #14912
The encoding was fixed in #22432, but not the self-closing tag:

[code]

[2018-12-13 10:14] nox commented on #6414
We know read encoding from the HTTP `Content-Type` header.

[2018-12-13 10:17] nox opened #22443 "Byte Order Marks for UTF-16 are not properly handled"
See `tests/wpt/web-platform-tests/html/syntax/parsing-html-fragments/the-input-byte-stream-003.html`, which times out.

[2018-12-13 10:18] nox commented on #22443
`tests/wpt/web-platform-tests/html/syntax/parsing-html-fragments/the-input-byte-stream-004.html` times out for the same reason (but with `UTF16-BE` instead of `UTF16-LE`).

[2018-12-13 13:55] jdm opened #22445 "Intermittent failure in /_mozilla/mozilla/animation-removed-node.html"
[code]
Maybe two requestAnimationFrame calls will do the trick :<

[2018-12-13 16:57] lucasfantacuci commented on #22427
It could be a great way to learn this pattern in Rust for me.

Can I work on it?

[2018-12-13 17:24] jdm commented on #22427
Sure! Look for uses of `RequestInit {` in components/ and those are the ones that we will want to replace with a constructor and builder methods.

[2018-12-13 17:30] lucasfantacuci commented on #22427
@highfive: assign me

[2018-12-13 17:30] highfive commented on #22427
Hey @lucasfantacuci! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-13 18:40] tigercosmos commented on #21478
It works by following `http://apt.llvm.org/` steps

[2018-12-13 20:06] jdm opened #22452 "Intermittent pass in /css/cssom-view/elementFromPoint-001.html"
[code]

[2018-12-13 20:46] jdm commented on #21893
This is hitting particularly hard on the taskcluster WPT test runs. I've disabled them in #22453.

[2018-12-13 20:53] jdm commented on #21893
First step will be to disable all other tests in include.ini, then set RUST_LOG to some value that includes useful information.

[2018-12-13 22:57] dlrobertson opened #22454 "USVString attributes incorrectly typed as DOMString"
The following WebIDLs contain attributes with the `CEReactions` attribute that should be a `USVString`, but are implemented as a `DOMString`:

 - [HTMLIFrameElement]
 - [HTMLImageElement]
 - [HTMLInputElement]
 - [HTMLLinkElement]
 - [HTMLMediaElement]
 - [HTMLScriptElement]

The corresponding macro helpers [make_url_getter] and [make_url_setter] will also need to be updated. The update to [make_u

[2018-12-13 22:58] dlrobertson commented on #22454
CC #22313

[2018-12-13 23:11] highfive commented on #22454
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-13 23:12] jdm commented on #22454
This probably was a spec update in https://github.com/whatwg/html/pull/1282 that we missed.

[2018-12-13 23:36] asajeffrey commented on #22188
Tracking this down is painful because there are no debugging tools other than println debugging, sigh. The problem turns out to be https://github.com/servo/servo/blob/928fbc909f2448f54c7f9a1dffbced809ee4e2ea/components/script/script_runtime.rs#L328

which calls `InitSelfHostedCode(js_context)` at https://github.com/servo/rust-mozjs/blob/f84b87a8ab57ead998475353ad5ca5874acb5c85/src/rust.rs#L200 and

[2018-12-14 05:54] #22438 closed

[2018-12-14 13:36] denismerigoux opened #22457 "Assertion failed when pressing directional keys inside a textarea"
When running `./mach run "https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea"` after a `--dev` build, and playing around with the selection inside the text area, I usually get this error :

[code]

It seems that the function `adjust_vertical` of file `components/script/textinput.rs` is breaking the debug assertions in `assert_ok_selection`.

[2018-12-14 15:58] jdm opened #22460 "Intermittent error in /html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_feature_policy.tentative.sub.html"
[code]

[2018-12-14 16:00] jdm commented on #22262
[code]

[2018-12-14 16:00] jdm commented on #22460
#22262

[2018-12-14 16:00] #22460 closed

[2018-12-14 17:32] asajeffrey opened #22462 "Perf script broken by change in userscripts option"
The userscripts option is now `--userscripts=DIR` rather than `--userscripts DIR` and there are a couple of places in CI where we used it to capture perf data:
[code]
As a result, we've not been capturing perf data for about six months.

[2018-12-14 17:32] highfive commented on #22462
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-14 18:22] Coder206 commented on #22462
@highfive: assign me

[2018-12-14 18:22] highfive commented on #22462
Hey @Coder206! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-14 18:39] Coder206 commented on #22462
Should `"--userscripts", ua_script_path,`  be replaced by `"--userscripts=", ua_script_path,` for `etc/ci/performance/runner.py`? (just add the equal sign)

[2018-12-14 18:41] Coder206 commented on #22462
Also, the `etc/ci/performance/servo-warc-tests/run-warc-tests.sh` does not exist in the `master` checkout. Is there another branch I should work on as well?

[2018-12-14 18:51] jdm commented on #22462
servo-warc-tests gets cloned from https://github.com/servo/servo-warc-tests/

[2018-12-14 19:10] asajeffrey commented on #22462
I'd go for `"--userscripts=" + ua_script_path` to avoid a space creeping into the argument list.

Good point re. run-warc-tests.sh, that'll need a PR in servo-warc-tests.

[2018-12-14 19:53] jdm opened #22463 "Intermittent failure in /html/semantics/scripting-1/the-script-element/execution-timing/128.html"
[code]

[2018-12-15 00:04] asajeffrey commented on #22188
And digging further, when SM creates JIT code, it sets the page to be executable using `mprotect` at https://github.com/servo/mozjs/blob/efc951c915477b0d0940eed0990810928f43e189/mozjs/js/src/jit/ProcessExecutableMemory.cpp#L677. This call to mprotect is failing, which takes down SM with it.

[2018-12-15 00:05] asajeffrey commented on #22188
The ML forum discussion https://forum.magicleap.com/hc/en-us/community/posts/360030731772-Segmentation-fault-in-release-builds (requires login).

[2018-12-15 04:43] gterzian opened #22468 "When exiting, monitored component should unregister itself"
A component currently registered with the [background-hang-monitor](https://github.com/servo/servo/tree/c9229f3f99936627229edf7a616b2af915ce2416/components/background_hang_monitor) will start "hanging" after exiting, because it doesn't unregister itself, nor does it go into "waiting" mode, instead, it handles the last "exit" task, and quits. From the monitor's perspective, the component will later

[2018-12-15 04:47] jdm opened #22469 "Nightly upload jobs are broken"
We had to reissue a new amazon key today, and we thought we had updated the build machine with the new secrets, but apparently that was incomplete.

[2018-12-15 04:48] jdm commented on #22469
[code]

[2018-12-15 07:52] gterzian commented on #22154
I'm coming across a similar panic in https://github.com/servo/servo/pull/22121

The problems appears to be that `document.finish_load`(which does a reflow) is called on a document that is `active`, not `fully-active`, and whose associated pipeline and layout threads have been closed by then.

This seems to happen when `Parser.parse_sync`is called after the pipeline has already been closed. At http

[2018-12-15 11:15] SimonSapin commented on #22469
Maybe buildbot needs to be restarted to pick up changes to the config file?

[2018-12-15 12:55] gterzian opened #22470 "Intermittent TIMEOUT in /html/semantics/scripting-1/the-script-element/async_010.htm"

[2018-12-15 12:57] gterzian opened #22471 "Intermittent TIMEOUT in /_webgl/conformance/ogles/GL/faceforward/faceforward_001_to_006.html"

[2018-12-15 13:04] CYBAI opened #22472 "Intermittent TIMEOUT in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/015.html"
[code]

[2018-12-15 13:41] gterzian commented on #21893
I actually ran into this with https://github.com/servo/servo/pull/22121, where removing the blocking `recv` in the constellation made this issue go from intermittent to consistently failing.

The actual error was `JSON.parse: unexpected end of data at line 1 column 1 of the JSON data`, which happened at https://github.com/servo/servo/blob/c9229f3f99936627229edf7a616b2af915ce2416/tests/wpt/mozilla/

[2018-12-15 14:00] csmoe commented on #22416
@ferjm I'll take care of this as a short trip in servo codebase.

[2018-12-15 16:30] CYBAI commented on #7135
Got slow perf with the physics demo on my MBP with latest master (c9229f3f99).
And the dots even don't move 😂

<img width="1026" alt="default" src="https://user-images.githubusercontent.com/6782666/50045199-96351b00-00c9-11e9-96ca-8a986af979b2.png">

[2018-12-16 04:39] gterzian opened #22475 "Clarify Layout-thread exit workflow"
It appears to me that the `ExitNow` message, handled [here](https://github.com/servo/servo/blob/6731ddd29f40f05ebb65fef0b1164c8632a7872a/components/layout_thread/lib.rs#L814), is in fact never received at that stage. Rather, it seems that it is only received and handled inside `prepare_to_exit`.

If that is indeed the case, we should probably add an expectation that it is never received at the ini

[2018-12-16 04:53] gterzian commented on #22475
Nevermind, it is actually sent at https://github.com/servo/servo/blob/6731ddd29f40f05ebb65fef0b1164c8632a7872a/components/constellation/pipeline.rs#L395

[2018-12-16 04:54] gterzian commented on #22475
It might still be useful to add a comment at https://github.com/servo/servo/blob/6731ddd29f40f05ebb65fef0b1164c8632a7872a/components/layout_thread/lib.rs#L814
 to make clear that receiving the `Exit` message at this stage only happens when layout is undergoing a "force exit".

[2018-12-16 05:57] CYBAI commented on #22445
It seems here comes different intermittent failure for the same test. ( #22467 and #22451 )

[code]

[2018-12-16 06:32] CYBAI opened #22476 "Appveyor build is broken"
Currently, `clang` for Appveyor is `6.0.0` and the error message shows that we need a newer version

[code]

[2018-12-16 06:34] CYBAI commented on #22468
@csmoe is working on it at #22474 so labeled as `C-assigned`.

[2018-12-16 12:41] emilio commented on #20721
So, fwiw that test is racy (shouldn't be using setTimeout to wait for network events). But yes, the `request_generation_id` is what should ensure that only the last stylesheet gets applied to the page.

Looks like with your changes we're not applying any of both? (if the first stylesheet was applying it'd show red instead of black).

In any case, you should probably open a PR already so you can ru

[2018-12-16 19:14] ferjm commented on #22416
@csmoe Thanks for your interest in working on this issue!

Note that this is a pretty large project. A big chunk of the work should likely happen in https://github.com/servo/media and it will require quite some knowledge of how GStreamer works.

At the moment there are no specific plans or proposed architectures for this API other than following [WebKit's one](http://eocanha.org/blog/2016/02/18/im

[2018-12-17 11:06] paulrouget opened #22481 "How to make WebGL draw on a specific texture"
For WebVR + immersive mode, FxR will provide a specific texture to draw on (new texture, new size).

Any recommendation on how to approach this?

[2018-12-17 11:13] paulrouget commented on #22481
A typical scenario is:

- servo renders a webpage which includes a webgl canvas
- through the webvr api, the user requests to switch to immersive mode
- FirefoxReality creates a SurfaceTexture
- Servo needs to draw on the texture

Sending the surface handle to servo's internals is not really the problem, it's more about how to swap from the initial texture to a new one.

[2018-12-17 13:03] emilio commented on #20721
Oh I had not read that comment. Yeah the request_generation_id check needs to be on script and after parsing. Glad that fixed it :)

[2018-12-17 15:33] jdm opened #22483 "Intermittent failure in /css/cssom-view/negativeMargins.html"
[code]

[2018-12-17 15:55] jdm opened #22484 "HTMLImageElement::same_origin doesn't need to borrow mutable"
It calls borrow_mut(), but it does not mutate anything. It should use borrow() instead.

Code: `components/script/dom/htmlimageelement.rs`

I would not this to be testable in any way, so if it builds it's good enough for a pull request.

[2018-12-17 15:55] highfive commented on #22484
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-17 18:50] jdm opened #22485 "Truncate debug output for long data URLs"
When using RUST_LOG=net on tests like /_webgl/conformance/ogles/GL/fract/fract_001_to_006.html, the resulting logs contain many instances of gigantic data URLs. We should truncate these automatically so the logs are easier to read.

Code: https://github.com/servo/servo/blob/9ca6768a56cf29ce6563af932b9e8a9150963d39/components/url/lib.rs#L170-L174

[2018-12-17 19:05] cdeler commented on #22484
@highfive: assign me

[2018-12-17 19:05] highfive commented on #22484
Hey @cdeler! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-17 21:59] jdm opened #22486 "Provide real keyboard code values on non-linux platforms"
The function to convert a winit scancode to a keyboard_types::Code value is unimplemented on mac and windows: https://github.com/servo/servo/blob/9ca6768a56cf29ce6563af932b9e8a9150963d39/ports/servo/glutin_app/keyutils.rs#L238-L242 . This could lead to surprising webcompat issues when testing servo on these platforms and trying to use the keyboard.

[2018-12-18 02:22] gterzian opened #22488 "Intermittent TIMEOUT in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/document.open-02.html"

[2018-12-18 04:36] #22468 closed

[2018-12-18 13:35] ferjm commented on #22359
@Tommytrg how are things going with this issue? Do not hesitate to ask if you need any further help.

[2018-12-18 13:36] ferjm commented on #22287
@andrealexandre how are things going with this issue? Do not hesitate to ask if you need any further help.

[2018-12-18 15:23] #14364 closed

[2018-12-18 15:23] #15688 closed

[2018-12-18 15:23] #15689 closed

[2018-12-19 02:52] CYBAI opened #22492 "Intermittent TIMEOUT in /_webgl/conformance/ogles/GL/refract/refract_001_to_006.html"
[code]

[2018-12-19 08:11] KiChjang opened #22496 "Intermittent timeout in /xhr/open-method-case-sensitive.htm"
[code]

[2018-12-19 15:39] staktrace opened #22498 "servo-tidy should allow URLs longer than 80 chars in bash scripts"
servo-tidy is quite strict with its enforcement of the 80-char rule. This causes headaches if you have a URL in a bash script, for example, that's longer than 80 chars. It's hard to break that across lines and there should be a way to tell servo-tidy not to complain about that.

[2018-12-19 15:41] Darkspirit commented on #22498
Example: https://github.com/servo/servo/blob/f3ca48206e02d48fc8e9f7d340d25e2210d00723/etc/cert_generator.sh#L21-L22

[2018-12-19 15:49] highfive commented on #22498
cc @wafflespeanut

[2018-12-19 17:34] jdm opened #22499 "Implement MessageEvent.source"
This is required to pass any referrer-policy automated test that invokes queryNavigable (a-tag, area-navigate.html).

https://html.spec.whatwg.org/multipage/comms.html#dom-messageevent-source
https://html.spec.whatwg.org/multipage/web-messaging.html#window-post-message-steps (steps 8.3, 8.4, 8.7)

[2018-12-19 17:38] jdm commented on #22499
This is also required for any referrer-policy test that invokes queryIframe (iframe-tag).

[2018-12-19 17:45] jdm opened #22500 "Image fetching does not respect crossOrigin attribute"
Step 18 of https://html.spec.whatwg.org/multipage/images.html#updating-the-image-data and step 14 of https://html.spec.whatwg.org/multipage/images.html#reacting-to-environment-changes use https://html.spec.whatwg.org/multipage/urls-and-fetching.html#create-a-potential-cors-request to create a request with certain properties based on the state of the image element's crossorigin attribute. Our imple

[2018-12-19 19:19] asajeffrey opened #22501 "Use async functions in script?"
Can we make use of async functions in servo script?

Two possible motivations:

- @Manishearth suggested in IRC https://mozilla.logbot.info/servo/20181214#c15724990 that we could mark any function that GCs as async, which would allow us to statically track which functions can GC, and require JS objects to be rooted across async calls.

- We currently have script and layout using a lock, so if any

[2018-12-19 20:50] jdm commented on #22345
Maybe it's a macOS-only issue?

[2018-12-19 21:03] jdm opened #22502 "Update serialization of children of void elements"
https://github.com/whatwg/html/pull/4238

This probably requires modifying https://github.com/servo/html5ever/blob/master/html5ever/src/serialize/mod.rs and seeing how `./mach test-wpt tests/wpt/web-platform-tests/html/syntax/serializing-html-fragments/serializing.html` is affected.

[2018-12-19 21:44] jdm opened #22503 "Iframe's contentDocument is incorrect before load event is fired"
frame.html
[code]
page.html
[code]
This prints `failure!` instead of `success!` when I load frame.html in Servo (a real HTTP server is required for same-origin access between the page and the iframe).

The stored pipeline id for HTMLIFrameElement isn't updated to the new pipeline until the UpdatePipelineId message is received from the constellation, so we're missing out on the expected synchronous

[2018-12-19 22:30] Manishearth opened #22504 "Make unrooted_must_root understand promises"
Currently methods returning an `Rc<Promise>` need to be marked as `allow(unrooted_must_root)`, because `Rc<Promise>` is transitively `must_root`. Almost all the new APIs use promises, which means we opt out of our soundness checks a lot.

Perhaps we can instead use a thin wrapper around `Rc<Promise>` called `RootedPromise`, which itself isn't `must_root`? Or special case the lint for this. I'm hes

[2018-12-19 23:15] asajeffrey commented on #22501
So I did a bit more thinking, and while yes we could do this, it's not obvious whether it'd get us very much. The only time we'd get an increase in throughput is when there's more than one pipeline for a given script thread, then while one of them is waiting on an async function call, the others can get on with work. At the moment, this means similar-origin iframes, pipelines in the session histor

[2018-12-19 23:17] Manishearth commented on #22501
To me the benefit is soundness in the case of GC: it lets us conservatively root (instead of rooting everything everywhere) and the compiler can catch our mistakes (instead of a bunch of imperfect lints).

[2018-12-19 23:36] cbrewster commented on #22503
Since frame.html and page.html are same-origin, we should be able to take a shortcut in the script thread to update the iframe's active `PipelineId`. When we create the local window proxy we check if it is inside an iframe, we could update the pipeline id then.

[2018-12-20 00:20] KiChjang commented on #22501
Something I've been saying for a while is that I hope our script thread runs futures. This makes it so much more easier to implement tasks queued on task sources, since they map nicely to futures and executors. It also makes it easier for us to compose tasks together; see https://html.spec.whatwg.org/multipage/webappapis.html#internal-module-script-graph-fetching-procedure for a good example of ho

[2018-12-20 00:53] asajeffrey commented on #22501
@Manishearth, that would be great, unfortunately the feature that lets us do that (unpinnable async functions) doesn't have language support yet AFAIK.

@KiChjang, yes there might be benefits to moving to async anyway, even if it doesn't get us that much efficiency. I think I'll try a little experiment and see what it looks like in code.

[2018-12-20 01:11] Manishearth opened #22505 "navigator.getDisplays() should be more async"
`VR::GetDisplays()` currently blocks on an IPC response. Instead, we should have it return the promise immediately and resolve it when we get the IPC response.

https://github.com/servo/servo/blob/f3ca48206e02d48fc8e9f7d340d25e2210d00723/components/script/dom/vr.rs#L60

(It might be worth having a helper for this, where we can tell the script thread "resolve this promise the moment you get a respo

[2018-12-20 10:34] gterzian opened #22507 "Investigate document activity and layout thread exit issues"
The spec has [a nice example](https://html.spec.whatwg.org/multipage/#fully-active) of how a document of a subframe belonging to an iframe can go from `fully-active` to just `active`, while a script could still keep a reference to the iframe.

This is what is done in this test: https://github.com/servo/servo/blob/f3ca48206e02d48fc8e9f7d340d25e2210d00723/tests/wpt/web-platform-tests/html/webappapis

[2018-12-20 13:20] jdm opened #22508 "Upstream WPT TravisCI detects more problems than local tests"
For example, https://github.com/web-platform-tests/wpt/pull/14468. Travis is running a flake8 job that we are not.

[2018-12-20 16:14] verma-varsha commented on #21268
@highfive: assign me

[2018-12-20 16:14] highfive commented on #21268
Hey @verma-varsha! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-20 17:15] jdm commented on #22503
This also affects various referrer-policy tests that use iframes, preventing the checks for Message.source from succeeding (even when #22499 is implemented).

[2018-12-20 18:00] jdm opened #22509 "Consider statically linking harfbuzz"
This would have prevented https://github.com/servo/servo/issues/22497.

[2018-12-20 18:05] SimonSapin commented on #22509
https://docs.rs/pkg-config/0.3.14/pkg_config/struct.Config.html#method.statik looks relevant.

[2018-12-20 18:12] ferjm opened #22510 "Fetch abortation for file urls does not work"
I still see `process_response_chunk` calls coming after cancelling a fetch request to a file:// url.

[2018-12-20 18:18] jdm commented on #22510
It might be true that we don't yet support cancellation, but since we're using asynchronous communication we also cannot guarantee that no more response chunks will be received after cancelling a fetch. Consumers need to store some kind of state that allows them to ignore unwanted data.

[2018-12-20 18:21] ferjm commented on #22510
Yeah, I don't expect to receive zero response chunks after cancellation, but to stop receiving them at some point before EOF :). That's what happens with fetch cancellation for http urls.

[2018-12-20 19:09] jdm commented on #22510
That still might not be a reasonable expectation, since the file reading will be streaming chunks across the channel as fast as it can read them.

[2018-12-20 19:40] Kuvesz opened #22511 "0x000007b error when running on Windows 10"
Hi!

The servo demo fails to start on my Windows machine. I looked the error code up but haven't found a real solution yet. Anyone faced the same issue?

[2018-12-20 19:58] jdm commented on #22511
I suspect this is the same issue as #22315.

[2018-12-20 20:19] jdm opened #22512 "postMessage from a remote window is unnecessarily delayed"
When a postMessage occurs between two windows that are not similar origin to each other, the source window relays the message via the constellation. When this message is received by the target script thread, it enqueues a task to perform the postMessage receiving steps (ie. dispatch the JS event). This is an unnecessary delay; it would be acceptable from a specification point of view to dispatch t

[2018-12-20 21:01] jdm opened #22513 "DissimilarOriginWindow's pipeline is a lie"
When we create a DissimilarOriginWindow DOM object, it inherits from GlobalScope and stores `PipelineId::new()`. This pipeline value is unrelated to the actual pipeline that the window object purports to represent, which is extremely confusing when any code tries to use that pipeline value.

cc @asajeffrey

[2018-12-20 21:02] jdm commented on #22513
It also appears to store a bogus origin. This gets scarier the longer I look at it.

[2018-12-20 21:16] mandreyel commented on #22344
I can position the caret in front of the `h` with the arrow keys. Has this been fixed?

[2018-12-20 21:18] mandreyel commented on #22359
@Tommytrg Hey! Are you still working on this issue? Please let me know as I'd also be interested in working on it.

[2018-12-20 21:32] Manishearth commented on #22505
This is true for `RequestPresent` as well.

[2018-12-20 21:46] Kuvesz commented on #22511
It solved my problem ,thanks. :)

[2018-12-20 21:46] #22511 closed

[2018-12-20 21:59] jdm commented on #22344
I can still reproduce this on macOS.

[2018-12-20 22:10] mandreyel commented on #22344
Ah ok, I'm on Linux.

[2018-12-20 22:12] jdm commented on #22503
I'm fixing this as part of #22514.

[2018-12-20 22:41] jdm opened #22515 "Implement browsing context targetting for HTMLAreaElement"
We support targeting browsing contexts since #20678 (see the code in htmlanchorelement.rs that deals with the target attribute), so we should implement this missing feature. It's used in the referrer-policy/generic/subresource-test/area-navigate.html test.

[2018-12-20 22:58] jdm opened #22516 "Remove 'on' prefix from event handler macros"
Event handlers defined in the specification have names like "onchange", but they should be declared in Servo's code with `event_handler!(change, GetOnchange, SetOnchange)`. Several instances of incorrect usage (`event_handler!(onchange, GetOnChange, SetOnchange)`) have snuck in; we should fix that.

Code: `grep 'event_handler!(on' components/script/dom/*.rs` (fix all uses outside of dom/macros.rs)

[2018-12-20 22:58] highfive commented on #22516
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-21 00:33] jdm opened #22517 "Add Connection header to HTTP requests"
We don't seem to send this, and there are some referrer-policy tests that rely on its presence.

[2018-12-21 01:46] Manishearth opened #22518 "Provide wrapper for "resolve this promise on response from thread""
A lot of the WebVR/WebXR stuff involves communicating with another thread and waiting on the response to resolve a promise.

We should have a helper function that, given a closure and an IPC receiver, will wait for a message and once it has arrived, call the closure on the message's response and resolve the promise with its result

[2018-12-21 02:03] jdm opened #22519 "Intermittent failure in /_mozilla/mozilla/task_queue_throttling.any.html"
[code]

[2018-12-21 04:32] gterzian commented on #22519
This looks like the same as https://github.com/servo/servo/issues/21552

Problem I think is that when the results of the  file reading in parallel are "slow" to be enqueued as tasks, we don't get the throttling since the tasks haven't been enqueued yet, and the performance timeline tasks ends-up being run earlier than expected...

[2018-12-21 08:47] ExE-Boss commented on #22405
See&nbsp;also:
https://mozilla.github.io/firefox-browser-architecture/text/0008-sync-and-storage-review-packet.html

[2018-12-21 12:58] lucasfantacuci commented on #22427
@jdm I was analyzing the code from components and I couldn't realize what are all the mandatory arguments. I can't be sure.

[2018-12-21 14:50] jdm commented on #22427
I recommend starting from the specification definition of a request (https://fetch.spec.whatwg.org/#concept-request) - anything that says "unless otherwise set" or "unless stated otherwise" is optional, so anything without that is mandatory. Then try to match the mandatory ones against the members of RequestInit.

[2018-12-21 16:02] jkurian commented on #22516
@highfive assign me

[2018-12-21 16:02] highfive commented on #22516
Hey @jkurian! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-21 17:17] asajeffrey opened #22523 "Support different keyboard types in magicleap"
The keyboard support for magicleap ignores what type of keyboard was requested, which it shouldn't.

[2018-12-21 17:20] asajeffrey opened #22524 "Support separate key-up and key-down events on magicleap?"
The magicleap Lumin UIkit API only provides key-pressed events, not separate key-down and key-up events.

[2018-12-21 18:18] jdm opened #22525 "creat-wpt mach command needs to use new manifest update implementation"
Apparently running `test-wpt --manifest-update` causes the manifest to be modified in very disruptive ways. We should replace the implementation in the `create_wpt` method with one that dispatches the `update-manifest` command instead of passing the `--manifest-update` argument to `test-wpt`.

[2018-12-21 18:18] jdm commented on #22525
cc @ferjm

[2018-12-21 20:14] asajeffrey commented on #22501
An experimental implementation of the idea... https://github.com/asajeffrey/servo/tree/script-async-experiments

[2018-12-21 23:09] Manishearth opened #22526 "Add DOM wrappers for dealing with typed arrays"
Currently the way to work with typed arrays is to use `Heap<*mut JSObject>` and filling them in with `Float32Array::create` (etc)

It would be nice if we had a type that encapsulated all this so we don't need to mess with JS contexts.

See also:

https://github.com/servo/servo/blob/f3ca48206e02d48fc8e9f7d340d25e2210d00723/components/script/dom/vrframedata.rs#L74-L81

[2018-12-22 03:23] gterzian opened #22530 "Rethink script task enqueuing - remove unnecessary channels"
Currently, there are two use cases for enqueuing a task on the script [task_queue](https://github.com/servo/servo/blob/f3ca48206e02d48fc8e9f7d340d25e2210d00723/components/script/task_queue.rs#L35):

1. Script enqueues a task on it's own event-loop -> no multi-threading involved. Example, step 4.6 of https://html.spec.whatwg.org/multipage/#history-traversal, implemented [here](https://github.com/se

[2018-12-22 04:52] jdm opened #22531 "Intermittent failure in /html/rendering/non-replaced-elements/the-page/body-margin-1g.html"
[code]
Reference:
<img width="327" alt="screen shot 2018-12-21 at 11 51 55 pm" src="https://user-images.githubusercontent.com/27658/50370802-6aa7aa00-057b-11e9-815e-805728df0890.png">
Actual:
<img width="328" alt="screen shot 2018-12-21 at 11 51 50 pm" src="https://user-images.githubusercontent.com/27658/50370803-6e3b3100-057b-11e9-8869-654c0e335213.png">

[2018-12-22 06:07] #22090 closed

[2018-12-22 11:49] #22410 closed

[2018-12-22 16:47] jdm opened #22532 "Implement test_driver support"
We want to support the automated WebBluetooth tests which require [testdriver.js](https://web-platform-tests.org/writing-tests/testdriver.html). This requires building on the work in #22411 and #22420 and following the pattern in https://web-platform-tests.org/writing-tests/testdriver-tutorial.html to add backend support to the Servodriver test harness in https://github.com/servo/servo/blob/master

[2018-12-22 16:47] highfive commented on #22532
cc @wafflespeanut

[2018-12-22 18:04] #13242 closed

[2018-12-22 19:44] jdm commented on #10427
Gecko appears to intentionally violate the specification by allowing `readonly attribute sequence<Foo>` in various places since it doesn't have FrozenArray support: https://searchfox.org/mozilla-central/rev/f5e90a1d62f47baa644c28274f8e03f2b8896f2f/dom/webidl/Navigator.webidl#236-238 . We should probably copy their choice.

[2018-12-22 23:43] #22462 closed

[2018-12-23 04:27] jdm opened #22537 "Intermittent error in bluetooth tests"
The error appears something like this:
[code]
But earlier in the log there's a webdriver issue:
[code]

[2018-12-23 06:00] #22454 closed

[2018-12-23 07:46] CYBAI opened #22539 "Update WebIDL codegen to support new mixin definitions"
cc @jdm @nox  (Not sure who I should cc as well?)

heycam/webidl#433 has introduced interface mixins and replace `implements` with `mixins`.
Also, there's a issue in html spec for same syntax update at  whatwg/html#3194.

Besides, there's a track issue for heycam/webidl#433 the at heycam/webidl#472.

(Just take the example from html spec's issue)

In most cases, the changes should be relatively st

[2018-12-23 07:50] #22457 closed

[2018-12-23 09:18] nox commented on #22539
https://bugzilla.mozilla.org/show_bug.cgi?id=1414372

[2018-12-23 11:33] #22484 closed

[2018-12-23 12:52] CYBAI opened #22541 "Intermittent TIMEOUT in /_webgl/conformance/context/context-release-with-workers.html"
[code]

[2018-12-24 02:35] CYBAI opened #22543 "URLSearchParams always has an init parameter"
whatwg/url#334

[2018-12-24 02:41] CYBAI opened #22544 "Implement URL's toJSON()"
whatwg/url#229
web-platform-tests/wpt#4702

Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1337702

[2018-12-24 02:49] CYBAI opened #22545 "Implement URLSearchParams.prototype.sort()"
whatwg/url#199
web-platform-tests/wpt#4531

[2018-12-24 09:37] batchar2 opened #22548 "Ruby support"
Hello!
I created an HTML page with ruby tags and launched it in Servo. But this page is displayed incorrectly. Servo does not support ruby?

<!DOCTYPE html>
<html>
<body>
    <ruby>
      <rt>YYYY</rt>
      <rb>XXXX</rb>
    </ruby>
</body>
</html>

Text displayed in Servo
![image](https://user-images.githubusercontent.com/3517057/50395884-1417b700-0799-11e9-9207-f46f57b2b2d8.png)

Text displayed

[2018-12-24 16:09] #22544 closed

[2018-12-24 20:54] mandreyel opened #22550 "Make `FetchResponseListener::process_response_eof` FnOnce"
Specifically, in #22478 I ran into having to work around this function taking a `&mut self` by cloning fields out of `self` to be sent to another thread. It would make things much easier if we could instead  move them out of `self`. Since this function represents the last step of processing a response, I think it would also make semantically sense to do so, and from what I've seen, it wouldn't bre

[2018-12-24 21:05] mandreyel commented on #22550
@highfive assign me

[2018-12-24 21:05] highfive commented on #22550
Hey @mandreyel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-25 11:27] CYBAI opened #22554 "Construct URLSearchParams from array or object"
whatwg/url#175
web-platform-tests/wpt#4523

Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1330678

[2018-12-26 02:03] CYBAI opened #22556 "Intermittent FAIL in /url/urlsearchparams-constructor.any.html, /url/urlsearchparams-constructor.any.worker.html"
[code]

[2018-12-26 02:13] CYBAI opened #22557 "Use IndexMap for WebIDL record type"
Currently, when we codegen the `record` type of `WebIDL`, we'll use `MozMap` for it.

https://github.com/servo/servo/blob/47a308b277f1023f5fda0c3db465317a8691818a/components/script/dom/bindings/codegen/CodegenRust.py#L2036-L2037

While implementing #22555 , I found there will be two cases `FAIL`ed intermittently (#22556).

So, the root cause is, per the spec of [WebIDL `record` type](https://heyca

[2018-12-26 10:33] gterzian opened #22559 "intermittent CRASH in /html/browsers/history/the-location-interface/location-origin-idna.sub.window"
[code]

Appears related to https://github.com/servo/servo/issues/22507

[2018-12-26 10:34] gterzian opened #22560 "intermittent TIMEOUT in /resource-timing/buffer-full-store-and-clear-during-callback.html"
Expected Error on the harness, but it appears to sometimes timeout instead(although I couldn't reproduce it)

[2018-12-26 11:16] #22042 closed

[2018-12-26 11:35] verma-varsha commented on #21257
@highfive: assign me

[2018-12-26 11:35] highfive commented on #21257
Hey @verma-varsha! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-12-26 13:09] DemiMarie opened #22562 "First-party isolation"
Servo should offer first-party isolation, as Firefox does when an option is set.

[2018-12-26 13:35] #22556 closed

[2018-12-26 13:41] DesantBucie commented on #21970
That helped me as well, thank you danielleontiev

[2018-12-26 14:10] Tommytrg commented on #22359
@mandreyel I'm still working on it. Sorry for the delay...

[2018-12-26 14:56] #22554 closed

[2018-12-26 14:56] #22557 closed

[2018-12-26 20:16] #22525 closed

[2018-12-27 06:34] ferjm commented on #22007
There are also intermittents for the non autoplay version of this test:

[code]

This will hopefully be fixed by #22477

[2018-12-27 20:30] IngwiePhoenix opened #22565 "Mac OS X: Build "mishap" on 10.14"
Hello! I was experiencing a missing-header error during my first, initial build. Appearently, some headers are only available, when you use the Mac OS X SDK. I am not too surprised, but this came out of nowhere. I managed to fix this by running this: ` CC="xcrun -sdk macosx10.14 gcc" CXX="xcrun -sdk macosx10.14 g++" ./mach build -r`.

Notice the `-sdk` flag? This one allowed me to use the SDK's `g

[2018-12-28 09:14] IngwiePhoenix opened #22567 "Can't find libstdc++ for building?"
This is what I get:

[code]

Meanwhile, `/usr/lib/libstdc++.dylib` totally exists.
[code]

Any idea why that is?

[2018-12-28 10:08] #22413 closed

[2018-12-28 14:33] paulrouget commented on #22567
What's your osx version?

[2018-12-28 17:58] IngwiePhoenix commented on #22567
[code]

That's the output as well as the version of my OS X.

[2018-12-28 18:25] dlrobertson opened #22568 "Implement Element::set_url_attribute"
`Element::set_url_attribute` the counterpart to [Element::get_url_attribute] is not implemented yet. Once implemented the macro [make_url_setter] should use the new method instead of `Element::set_string_attribute`.

Related to: https://github.com/servo/servo/pull/22563#discussion_r244288739 and https://github.com/servo/servo/issues/22454

[Element::get_url_attribute]: https://github.com/servo/ser

[2018-12-28 19:04] jdm commented on #22567
Whoops `cargo update -p azure`

[2018-12-28 20:08] ferjm opened #22570 "Intermittent timeout in /css/CSS2/tables/border-conflict-element-001e.xht"
[code]

[2018-12-28 23:57] jhwgh1968 opened #22571 "Run Real Builds for 64-bit ARM Linux"
Servo Nightly builds for 64-bit ARM Linux (a Raspberry Pi, specifically) would be really useful to me.

I tried to build it from source in accordance with the README's advice (including building a Docker image on x86-64 containing a full cross-build environment, which was quite an adventure), but every single machine I have access to compiled 200-some-odd crates successfully... then fell victim to

[2018-12-29 14:47] zimio commented on #22367
Hello, I would like to pick this one up. I think I should start by making a test for these two methods, no?

[2018-12-29 17:27] jdm opened #22573 "Intermittent pass in /html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/javascript-url-abort-return-value-string.tentative.html"
[code]

[2018-12-31 04:39] jdm opened #22579 "Strange failure in WebGL test"
Saw this for the first time in an unrelated PR:
[code]
That is triggered by https://searchfox.org/mozilla-central/source/dom/canvas/test/webgl-conf/checkout/conformance/ogles/ogles-utils.js#765-767 which should be invoking https://searchfox.org/mozilla-central/source/dom/canvas/test/webgl-conf/checkout/js/js-test-pre.js#167 which is loaded earlier in the page. It's not clear to me how this could h

[2018-12-31 04:58] jdm opened #22580 "midi.city panics with "internal error: entered unreachable code: CancelScheduledValues/SetValue should never appear in the timeline""
`./mach run -d https://midi.city/` yields:
[code]

[2018-12-31 06:47] Dickxia opened #22581 "OsError("GL context creation failed""
[servo] ./servo
libGL error: unable to load driver: r600_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: r600
libGL error: unable to load driver: r600_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: r600
libGL error: unable to load driver: swrast_dri.so
libGL error: failed to load driver: swrast
Failed to create window.: OsError("GL con

[2018-12-31 06:49] Dickxia commented on #22581
Manjaro Linux       4.19.6-1-MANJARO

[2018-12-31 11:14] Mardeg commented on #22315
Getting the same error on today's build. I ran dependencywalker on servo.exe and got:
--------------------------------------------------------------------------------
Operating System: Microsoft Windows NT/2000/XP/2003/Vista based Professional (64-bit), version 6.02.9200
Program Executable: c:\program files\mozilla research\servo tech demo\SERVO.EXE
Program Arguments:
Starting Directory: C:\Progra

[2018-12-31 14:44] jdm commented on #22315
If I'm reading that log correctly, it looks like the soudermonkey symbols are a problem.

[2018-12-31 15:45] highfive commented on #22485
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-12-31 15:46] jdm commented on #22485
To observe the difference in behaviour, run `RUST_LOG=net ./mach test-wpt /_webgl/conformance/ogles/GL/fract/fract_001_to_006.html`.

[2018-12-31 15:48] jdm commented on #22469
I have now restarted buildbot; we'll see what happens tonight.

[2018-12-31 15:56] jdm commented on #22476
This appears to have changed suddenly ~18 days ago, and not caused by any PR that merged at that time.

[2018-12-31 15:57] IngwiePhoenix commented on #22567
Ah... well, that one passed :) I am new to Rust, but I really like how it looks. Still have to learn how to bridge C++ across... Oh well!

Now, I got this:
[code]

So I guess this is fixed now :)

[2018-12-31 16:40] jdm commented on #22567
Great; I've opened #22583 to make sure that other people don't hit the same problem.

[2018-12-31 18:08] jdm opened #22584 "Intermittent crash in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_nonescaping-1.html"
[code]

[2018-12-31 19:14] jdm commented on #22476
https://help.appveyor.com/discussions/problems/18879-clang-6-suddenly-appeared-on-path

[2018-12-31 20:45] jdm opened #22585 "Intermittent panic in /css/CSS2/positioning/abspos-float-with-inline-container.html"
[code]

[2019-01-01 08:26] kenta7777 opened #22587 "Import Error: No module named certifi when ./mach bootstrap"
When I ran `./mach bootstrap`, I got this error.
[code]

I think cirtifi has been already installed so I don't understand why I have got this error.
[code]

[2019-01-01 10:09] zimio opened #22588 "Delete virtualenv when executing mach clean"
If you run "./mach clean" the directory "servo/python/_virtualenv" won't be deleted, which could cause an issue if your virtualenv is corrupt/broken.

[2019-01-01 11:12] Hyperion101010 commented on #22485
@highfive :assign me
Feeling excited to work on this part of firefox!

[2019-01-01 11:12] highfive commented on #22485
Hey @Hyperion101010! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-01 17:43] jdm opened #22589 "Nightly taskcluster job is busted"
[code]
{
  "AllOf": [
    "queue:route:tc-treeherder.v2._/servo-master.8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b",
    "queue:route:tc-treeherder-staging.v2._/servo-master.8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b"
  ]
}
[code]
[
  "assume:project:servo:grants/cargo-caches",
  "docker-worker:cache:cargo-*",
  "docker-worker:cache:servo-*",
  "generic-worker:cache:servo-*",
  "index:insert-task:proje

[2019-01-01 17:44] jdm commented on #22469
The nightly upload jobs succeeded.

[2019-01-01 17:44] #22469 closed

[2019-01-01 17:48] sreeise commented on #22301
@ferjm Hello, if you don't mind, I would like to take this on.

[2019-01-01 19:51] tigercosmos opened #22590 "mach bootstrap: pip install issue with `certifi`"
There is an issue that `./mach bootstrap` cannot work in Ubuntu 16(not test in other system)

[code]

## solution

There is a possible solution provided by @jdm at #22250

jdm: Ok, so it's caused by us importing `util.py` before executing the code that processes `requirements.txt`. Let's make `STATIC_RUST_LANG_ORG_DIST` and `URLOPEN_KWARGS` methods instead of global constants, and we can set a `HA