[2016-07-01 06:54] philipc commented on #11993
Duplicate of #10305 . Fixed in the image crate but the dependency needs updating still.

[2016-07-01 06:55] lygstate opened #11997 "Getting servo use MSVC-ABI"
On windows MSVC-ABI are more user friendly

[2016-07-01 07:01] Manishearth commented on #11992
Looks like the panic is on parsing the punycode URL `﻿https://r2---sn-huoa-cvhl.googlevideo.com/crossdomain.xml` with a youtube base URL.

[2016-07-01 07:11] #11963 closed

[2016-07-01 07:16] Manishearth commented on #11992
https://github.com/servo/rust-url/issues/207 is the parse error.

We shouldn't be crashing in the image load anyway.

[2016-07-01 07:20] imjacobclark commented on #11987
I'll pick this issue up.

[2016-07-01 07:22] Wafflespeanut commented on #11987
Good to know! :)

[2016-07-01 07:24] wongmjane opened #11998 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 07:26] jhermann commented on #8968
For a more robust way and skipping the in-script virtualenv activation (which is tricky at best), you could also do this:

    pip_path = os.path.join(virtualenv_path, script_dir, "pip")

(which I think will also work in Windows, but might need checks for .bat/.cmd extensions).

This can then be used for an installation test combined with upgrading, like this:

    {pip_path} install -U "pip>8" se

[2016-07-01 07:27] aravind-pg commented on #11863
I'd like to take this on. Can you elaborate a bit on how the hooking up to the HTTP header would work? It's not obvious to me how that connection runs, looking at the places where `WorkerGlobalScope::new` is called. Also, is it sufficient simply to add that new API to `GlobalRef` -- does it not need to be called anywhere, or is that for later?

[2016-07-01 07:28] a9tm opened #11999 "index out of bounds: the len is 0 but the index is 0"
index out of bounds: the len is 0 but the index is 0
### URL:
http://www.bbc.com/news/uk-politics-36679741
### Backtrace:
[code]

[2016-07-01 07:32] Kroisse opened #12000 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:

http://news.naver.com/
### Environments:
- OS: OS X 10.11.4
- Hardware: Macbook Pro (Retina, 13-inch, Mid 2014)
- Servo: Nightly (2016-06-30) from https://servo-builds.s3.amazonaws.com/index.html
### Backtrace:

[code]

[2016-07-01 07:33] 7histle opened #12001 "GL context creation failed (night build)"
[code]
[code]

[2016-07-01 07:34] a9tm opened #12002 "Freeze when load reddit because ads"
[code]

[2016-07-01 07:40] fabricedesre commented on #11960
Same on release & debug for me.

[2016-07-01 07:40] YurySolovyov commented on #12001
Same here running `RUST_BACKTRACE=1 ./runservo.sh`
Running `./servo` executable creates windows that blinks with content for 1 sec and then fills with white color.
![image](https://cloud.githubusercontent.com/assets/2168518/16515013/0b5538d6-3f78-11e6-9495-ed4378bde712.png)
![image](https://cloud.githubusercontent.com/assets/2168518/16515024/1bd7d466-3f78-11e6-8044-86df23954250.png)

[2016-07-01 07:46] YurySolovyov commented on #12001
running as
[code]

[2016-07-01 07:48] imjacobclark commented on #11987
Initial pull request for this raised: https://github.com/servo/servo/pull/12004.

Let me know of any feedback on approach, concerns or changes that I need to make.

[2016-07-01 08:01] YurySolovyov commented on #12001
Actually, it only crashes with webrender enabled

[2016-07-01 08:04] dascritch commented on #11991
Cool !
Keep me informed, so I can test it.

[2016-07-01 08:09] hypnoce opened #12005 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://elements.polymer-project.org/
### Backtrace:
[code]

[2016-07-01 08:11] ryanmitchell opened #12006 "index out of bounds: the len is 0 but the index is 0"
index out of bounds: the len is 0 but the index is 0
### URL:
http://www.bbc.co.uk/news
### Backtrace:
[code]

[2016-07-01 08:13] pavlos256 commented on #11986
Same error but on Wikipedia (the 3rd icon on the start page). Happens every time I tried it. I have to hit Ctrl+C to stop it. [Full logs](https://gist.github.com/pavlos256/dcae199a8d592a105459c8acb70d20f5).

[2016-07-01 08:14] alex-min opened #12007 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://www.nextinpact.com/
### Backtrace:
[code]

[2016-07-01 08:16] nebulade commented on #12001
Exactly same behavior on ArchLinux:

[code]

Works with `-G gl` but I also see content under heavy flickering, often ending up only white. Just opening a page like ars technica or wikipedia keeps the CPU fully loaded without interaction.

[2016-07-01 08:17] Benjamin-Dobell opened #12009 "Support display density changes"
Dragging a Servo window from one display to another on OS X causes the rendering to break.

Here is an example of dragging from a high density display, to a lower density one:

![screen shot 2016-07-01 at 6 15 35 pm](https://cloud.githubusercontent.com/assets/482276/16515867/ed69b01e-3fb7-11e6-8063-52dee2c1f868.png)

[2016-07-01 08:17] bdewater opened #12010 "Screen corruption when moving window between Retina and normal DPI screen on OS X"
I have a MacBook Pro 13" (from 2015) with Retina screen running OS X 10.11.5 El Capitan and an normal DPI external full HD Dell monitor hooked up, both screens set at 'default for display' resolution in the display preferences. When dragging the browser window between the screens the screen gets corrupted:

Retina to Dell screen enlarges everything while the window stays the same size:
![screen sh

[2016-07-01 08:18] muchweb opened #12011 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://www.bbc.co.uk/news/blogs-the-papers-36679970
### Backtrace:
[code]

[2016-07-01 08:19] sigio opened #12012 "background tabs eat cpu"
I had a tab open with 'spheres' from the demo-page, and was reading hackernews in another tab on the foreground when I noticed servo was eating 170% cpu...
Maybe suspend or reduce-performance on unfocussed tabs.

[2016-07-01 08:25] dp-cylme opened #12013 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:
http://hypem.com/
### Backtrace:
[code]

[2016-07-01 08:27] poppingtonic opened #12014 "ReferenceError: navigator.mozSettings API is not available"
This happens when I load the [Servo announcement blog post](https://blog.servo.org/2016/06/30/servo-nightlies/)
![image](https://cloud.githubusercontent.com/assets/5781617/16516116/a8f10e98-3f7e-11e6-87f5-1d747b31f330.png)

[2016-07-01 08:27] lhirlimann opened #12015 "Nigthly won't start on some linux distros : fedora 24 / 23, debian testing"
[code]

[2016-07-01 08:29] Manishearth commented on #12014
Looks like a bhtml bug? cc @paulrouget

[2016-07-01 08:37] guillaume-uH57J9 commented on #11991
Same thing on Debian GNU/Linux with the latest nightly build, but I suspect this should be tested again with the next one

[2016-07-01 08:37] Ms2ger commented on #12005
Hit #12003 while trying to repro; will need to check again when that lands.

[2016-07-01 08:39] Ms2ger commented on #12007
Could not repro because I hit #11424 first.

[2016-07-01 08:40] senthilnayagam opened #12016 "DOMRefCell<T> already borrowed"
DOMRefCell<T> already borrowed
### URL:

http://www.rediff.com/
### Backtrace:

[code]

[2016-07-01 08:41] guillaume-uH57J9 commented on #11937
Same behavior here with the latest nightly build, with Debian GNU/Linux, GNOME 3

5627530f8e72955c75799b2c50ef3f752fe70d44  servo-latest.tar.gz
5da8408654f3b96264407cf163bb64fe43a7d7bd  servo/servo

[2016-07-01 08:42] defyrlt opened #12017 "Servo Nightly hangs on Wikipedia"
So I downloaded Servo today, and tried to simply go to Wikipedia by clicking on the second button of the home page (IDK if it's `http` or `https` there). After a second or two it just hangs, like it's trying to load the page, but it's not.

[code]

After the first failure I did this

[code]

and tried to go to Wikipedia again. And here's the output - [gist](https://gist.github.com/defyrlt/43250461

[2016-07-01 08:43] EdoPut opened #12018 "Panic in `set_root_stacking_context`"
### URL:

http://mapbox.com
### Backtrace:

[code]
### Other:

Using the nightly builds servo load the page, render it and then it crash on every kind of interaction

here is the stderr when run with `RUST_BACKTRACE=1`

[mapbox.com.log.zip](https://github.com/servo/servo/files/343114/mapbox.com.log.zip)

[2016-07-01 08:43] Manishearth commented on #12017
Try to update your openssl. What does `openssl version` say for you?

[2016-07-01 08:48] Manishearth commented on #12015
You may need to install openssl.

[2016-07-01 08:48] Ms2ger commented on #12016
[code]
in `iframe_load_event_steps` calls `Document::finish_load`, which kicks off the parser, which ends up running script, ending up setting the `src` attribute on the very same iframe.

CC @jdm

[2016-07-01 08:52] senthilnayagam opened #12019 "servo crashes (panic: "TODO: Handle running out of texture IDs!")"
url:http://insightdataengineering.com/blog/elasticsearch-crud/

OS : MAC OSX El Capitan

browser loads the whole page, but when I scroll down servo instance crashes

was able to reproduce it

[code]

[2016-07-01 09:01] defyrlt commented on #12017
[code]

[2016-07-01 09:02] Manishearth commented on #12017
Hm. @jdm, know anything about this?

[2016-07-01 09:11] Screwtapello opened #12021 "Incorrect layout of drop-down menus on byuu.org"
http://byuu.org has a bar across the top with pure CSS drop-down menus. In Firefox, the menu is a single line tall, and when I hover over a top-level menu, the items within appear hovering over the page content.

In Servo, the bar is tall enough to contain the menu with the most children, and each top-level menu is high enough from the bottom to fit all its children beneath it. When I hover over a

[2016-07-01 09:16] buger opened #12022 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://www.youtube.com/watch?v=SWEts0rlezA
### Backtrace:
[code]

[2016-07-01 09:17] yusup-a opened #12023 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
https://www.youtube.com/watch?v=iwi6acV5sac
### Backtrace:
[code]

[2016-07-01 09:19] Manishearth commented on #12022
This isn't the actual error, the actual one may have been printed before.

But I suspect this is the bug that https://github.com/servo/servo/pull/12003 fixes

[2016-07-01 09:19] #12022 closed

[2016-07-01 09:19] Manishearth commented on #12023
This should be fixed by https://github.com/servo/servo/pull/12003

[2016-07-01 09:19] #12023 closed

[2016-07-01 09:26] murarisumit opened #12024 "It was when, i open a youtube link in servo build for OSX."
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=L83qMnbJ198
### Backtrace:
[code]

[2016-07-01 09:32] jackallnutt opened #12025 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
http://www.bbc.co.uk/news/uk-politics-36679741
### Backtrace:
[code]

[2016-07-01 09:39] lhirlimann commented on #12015
it's installed :
[ludo@Oulanl servo]$ rpm -qa |grep openssl
openssl-devel-1.0.2h-1.fc24.x86_64
openssl-1.0.2h-1.fc24.x86_64
openssl-libs-1.0.2h-1.fc24.i686
openssl-libs-1.0.2h-1.fc24.x86_64

[2016-07-01 09:42] Manishearth commented on #12015
Looks like this is a duplicate of https://github.com/servo/servo/issues/12017. We'll look into this, thanks for the report!

[2016-07-01 09:42] Manishearth commented on #12017
Dupe: https://github.com/servo/servo/issues/12015, in this case it doesn't even start.

[2016-07-01 09:56] mmatyas commented on #10517
Looks like this got fixed, so I'm closing the issue.

[2016-07-01 09:56] #10517 closed

[2016-07-01 09:59] jontro opened #12026 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://www.gp.se/nyheter/sverige/huggormarna-p%C3%A5-bettet-i-sommar-1.3446997
### Backtrace:
[code]

[2016-07-01 10:02] kaedroho commented on #12026
Getting this as well when visiting http://www.torchbox.com

[2016-07-01 10:04] kaedroho commented on #12026
Related #12011

[2016-07-01 10:07] davezatch opened #12027 "Panic in `interpolate_transform_list`"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://uberall.com/en/
### Backtrace:
[code]

[2016-07-01 10:08] Ms2ger commented on #12024
Thanks for the report; I think this is the same as https://github.com/servo/servo/issues/11992.

[2016-07-01 10:08] #12024 closed

[2016-07-01 10:09] locks opened #12028 "emberjs.com crashes Servo.app"
I downloaded Servo.app 0.0.1 today from https://servo-builds.s3.amazonaws.com/index.html.
When visiting the [Ember.js website](http://emberjs.com/), the app crashes with the
[following crash log](https://github.com/servo/servo/files/343248/crashlog.txt).

[2016-07-01 10:09] Manishearth commented on #12027
The actual stacktrace is

[code]

[2016-07-01 10:14] Ms2ger opened #12029 "Panic in interpolate_transform_list"
On http://www.gp.se/nyheter/sverige/huggormarna-p%C3%A5-bettet-i-sommar-1.3446997

[code]

[code]

[2016-07-01 10:18] Chaz6 opened #12031 "Provide nightly builds as AppImage file"
Please consider enhancing your CI to produce AppImage packages for Linux. These will run on any modern distribution an will enable easier testing.

[2016-07-01 10:24] hgallagher1993 commented on #11944
I actually had it fixed about 12 or more hours ago but it was getting late (where I am) so I didn't bother making the pull request...ohh well :-)

[2016-07-01 10:39] johansigfrids opened #12032 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://www.computest.nl/blog/startencrypt-considered-harmful-today/
### Backtrace:
[code]

[2016-07-01 10:49] dns2utf8 commented on #11902
Can confirm

[2016-07-01 10:58] divingdeer commented on #12015
I can confirm this issue. It seems the problem is caused by the version of OpenSSL provided by Fedora.

Output of `rpm -qa | grep openssl`:
[code]

Output of `/usr/lib64% ls | grep libssl`:
[code]

I tried to work around the error by linking libssl.so.1.0.0 to libssl.so and libcrypto.so to libcrypto.so.1.0.0

But that does not work either:
[code]

[2016-07-01 10:58] colinramsay opened #12033 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://torchbox.com/
### Backtrace:
[code]

[2016-07-01 10:59] colinramsay commented on #12033
Already logged here: #12026

[2016-07-01 10:59] #12033 closed

[2016-07-01 11:06] listochkin opened #12034 "YouTube, osx: called `Result::unwrap()` on an `Err` value: IdnaError"
Got this error when I tried pasting a link to a YouTube video. I'll try to dig into it tomorrow since the trace is available. I'm running osx 10.11.

called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=OaDhY_y8WTo
### Backtrace:
[code]

[2016-07-01 11:07] Ms2ger commented on #12034
Thanks for reporting; this is #11992.

[2016-07-01 11:07] #12034 closed

[2016-07-01 11:07] mmatyas commented on #10308
This got fixed, Servo now loads on Android.

[2016-07-01 11:07] #10308 closed

[2016-07-01 11:12] anisse commented on #12015
The issue is the same on Fedora 23.

[2016-07-01 11:16] alex commented on #12032
Same traceback on https://www.ssllabs.com/ssltest/viewMyClient.html

[2016-07-01 11:26] alex opened #12036 "travis-ci.org does not render in Servo"
This is using the nightly. Accessing `https://travis-ci.org` simply displays:

![screen shot 2016-07-01 at 7 25 32 am](https://cloud.githubusercontent.com/assets/772/16520289/278f9070-3f5d-11e6-9d8a-ed7ed61bfd2f.png)

[2016-07-01 11:33] severin-lemaignan opened #12037 "Thread panic while loading github"
Tested on Ubuntu 16.04 (64bits)

[code]

Console output:
[code]

[2016-07-01 11:36] evotopid commented on #12017
I'm also on Arch Linux. For me launching `./rustservo` results in no window showing at all ([output](https://gist.github.com/evotopid/e5f128691fb866bbcf346c86f245f557)) while `./servo` opens an empty window and seems to be stuck ([output](https://gist.github.com/evotopid/24d00e6c39d8796bd7e26f4b69e6a131)).

There is no panic in this case though.

[2016-07-01 11:37] whitequark opened #12038 "Input breaks down after pressing Super+Ctrl_L+Space"
... which is the keybinding i3 uses to make a window floating.

Specifically, what happens is that some keys (at least Ctrl) get stuck, won't get unstuck even after being pressed, and that makes the UI unusable.

[2016-07-01 11:40] whitequark opened #12039 "Typing quickly results in garbage input"
I was running the Transparent Rectangles demo fullscreen, which caused it to run at ~27FPS (as reported on stdout). During that, I started typing "github" in the URL bar. I type pretty quickly, evidently too quickly for Servo because that's what this resulted in:
![2362](https://cloud.githubusercontent.com/assets/54771/16520593/9a25a020-3f80-11e6-8336-55f68a04e2ec.png)

[2016-07-01 11:41] pavs opened #12040 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.slashgeek.net/
### Backtrace:
[code]

[2016-07-01 11:42] whitequark opened #12041 "Opening http://github.com/whitequark/solvespace results in a hang"
On the screen there's just pre-JS GitHub content and then a black screen if I switch from and back to Servo's window. Nothing interesting on stdout: just

[code]

which seems to always happen when using github.

[2016-07-01 12:05] iwillig opened #12042 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://www.bbc.com/news
### Backtrace:
[code]

[2016-07-01 12:26] Coder206 commented on #12015
I had no issues running on a clean version of Fedora 24 by compiling it...

[2016-07-01 12:31] lhirlimann commented on #12015
Same here, it's a packaging issue most likely.

[2016-07-01 12:38] juandazapata opened #12043 "My colemak keyboard layout is not recognized"
My Colemak keyboard layout is not recognized in Servo. I'm using MacOs El Capitan.

[2016-07-01 12:44] digitalstreamio opened #12044 "Servo nightly on F24 fails to start due to missing dependencies"
F24 does not have libssl.so.1.0.0, libcrypto.so.1.0.0.

-rwxr-xr-x. 1 root root 289416 Jun  2 18:34 /usr/lib64/libssl3.so
lrwxrwxrwx. 1 root root     16 May  3 12:32 /usr/lib64/libssl.so -> libssl.so.1.0.2h
lrwxrwxrwx. 1 root root     16 May  3 12:32 /usr/lib64/libssl.so.10 -> libssl.so.1.0.2h
-rwxr-xr-x. 1 root root 467680 May  3 12:32 /usr/lib64/libssl.so.1.0.2h

lrwxrwxrwx. 1 root root      19

[2016-07-01 12:45] highfive commented on #11983
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-01 12:45] #12044 closed

[2016-07-01 12:47] chenx97 opened #12045 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://www.youtube.com/watch?v=q8LTS4QpvCw
### Backtrace:
[code]

[2016-07-01 12:49] chenx97 commented on #12045
looks like #12042

[2016-07-01 12:51] chenx97 commented on #12042
Met exactly the same error prompted when I went to a specific YouTube video URL (not the homepage with no video). Mine is at #12045

[2016-07-01 12:55] Coder206 commented on #11983
@ConnorGBrewster I would like to try solving this issue.

[2016-07-01 12:55] jedisct1 opened #12046 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://www.ovh.com/fr/
### Backtrace:
[code]

[2016-07-01 12:55] aaronharder opened #12047 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://i.entropy.cc/
### Backtrace:
[code]

[2016-07-01 12:56] johannhof commented on #11933
Because it was the quickest thing I could come up with I took the two bench tests from brotli-rs (https://github.com/ende76/brotli-rs/blob/master/benches/lib.rs) to rust-brotli, and rust-brotli seems faster:

[code]

I guess it's not a surprise as this was discussed already in the brotli-rs issue.

[2016-07-01 13:01] fabricedesre commented on #12043
This should be fixed by https://github.com/servo/servo/pull/11950

[2016-07-01 13:03] Coder206 commented on #12015
@lhirlimann I am also experiencing the issues you described but I am still able to run it if i compile it myself.

[2016-07-01 13:03] aneeshusa commented on #11983
It would be nice to do some locking of the packaging directory to prevent simultaneous builds, but I would not consider part of the E-easy (can be done in a follow-up).

[2016-07-01 13:06] ConnorGBrewster commented on #11944
@hgallagher1993 once again, I am so sorry about that. I really do feel bad. Feel free to take on something else though!

[2016-07-01 13:08] mnordine opened #12048 "called `Option::unwrap()` on a `None` value (Event::new_uninitialized)"
called `Option::unwrap()` on a `None` value
### URL:
https://features.wearemel.com/ill-retire-when-i-m-dead-why-continuing-to-work-is-good-for-a-man-s-health-c3053052d136?gi=47d56ab34b96
### Backtrace:
[code]

[2016-07-01 13:22] benwaffle opened #12049 "Major layout issues on plyr.io"
[Plyr](http://plyr.io) provides pretty controls for HTML5 media

[2016-07-01 13:32] samal84 opened #12051 "Error running servo on windows: ./python/servo/post_build_commands.py line 161"
Tried building servo on Windows 7 and got this error on running ./mach run -r:
/home/rasmuss/source/servo/target/release/build

[code]

Build console output attached.
[console-output.txt](https://github.com/servo/servo/files/343534/console-output.txt)

[2016-07-01 13:32] Ms2ger commented on #12029
#12027

[2016-07-01 13:32] #12029 closed

[2016-07-01 13:34] cbrewster opened #12052 "Add Servo version to About Servo"
I am not sure how to do this, but it would be nice.

[2016-07-01 13:36] kskarthik opened #12053 "Unable to launch servo on ubuntu 14.04 x64"
I am unable to launch servo. Please help me ! Downloaded from https://servo-builds.s3.amazonaws.com/index.html

![servo](https://cloud.githubusercontent.com/assets/11899221/16522992/9db75498-3fbe-11e6-9e20-ac2ef882c988.png)

[2016-07-01 13:36] izgzhen commented on #12047
The assertion failed should be here: https://doc.servo.org/script/dom/document/struct.Document.html#method.decrement_script_blocking_stylesheet_count

I am not familiar with stylesheets implementation but I will try to give some comments before experts come.

[2016-07-01 13:37] ConnorGBrewster commented on #12040
Dupe of #12047.

[2016-07-01 13:37] #12040 closed

[2016-07-01 13:38] ConnorGBrewster commented on #12032
Dupe of #12047.

[2016-07-01 13:38] #12032 closed

[2016-07-01 13:41] benwaffle opened #12054 "HiDPI scaling on Linux"

[2016-07-01 13:43] jarretraim opened #12055 "Layout constantly redone on cnn.com"
Downloaded and installed servo nightly today (2016-07-01) on OSX 10.11.5. Went to cnn.com

Servo loads for several seconds, then begins to display parts of the CNN page. The loading bar is still visible and the site continues to load very slowly and the CPU spikes (see screenshot).

![screenshot 2016-07-01 08 37 33](https://cloud.githubusercontent.com/assets/981154/16523169/90cafdf4-3f67-11e6-9d96

[2016-07-01 13:43] Coder206 commented on #12053
@kskarthik Are you using a virtual machine?

[2016-07-01 13:45] lorenzhs opened #12056 "Layout issues in Glowing Bear"
The layout is a bit off on https://latest.glowing-bear.org, which uses Bootstrap layout stuff. The checkboxes should be aligned with the input fields.

![screenshot from 2016-07-01 15-40-40](https://cloud.githubusercontent.com/assets/142205/16523163/366d61cc-3fa2-11e6-9dd2-e82da53e78f2.png)

It also does really weird things with the accordion menu sometimes (but that's really hacky and I'm actuall

[2016-07-01 13:47] Kyle-Mendes commented on #12052
![image](https://cloud.githubusercontent.com/assets/6400039/16523303/bdbb9770-3f70-11e6-9ff5-6087c29bf19f.png)

I'm seeing the version number in the about on Mac.

Is this the "About Servo" location that you were talking about? Or does it exist somewhere else?

[2016-07-01 13:49] metajack commented on #12054
One thing you can do for now is use --device-pixel-ratio=2.0 (or 1.5 or 2.5 or whatever depending on what you want).

Do you happen to know what the normal method for doing this on Linux is? We do have support for this on Windows and Mac, although even there we could improve a bit, but mostly it is a matter of automating adjusting the device pixel ratio based on some system notification.

[2016-07-01 13:49] dperson opened #12057 "Keymap ignored"
I just downloaded the macOS servo preview (latest as of 2016-07-01 09:30 EDT). I use the Dvorak keyboard layout, which is selected. It's working everywhere but Servo, where typing gets the qwerty layout.

[2016-07-01 13:50] metajack commented on #12052
We really need the nightly date there. And also probably in `--version`.

[2016-07-01 13:51] hannni opened #12058 "Scrolling jumps on the end of some pages sometimes"
On some sites (e.g. news.ycombinator.com) servo jumps when starting to scroll again. It always jumps when scrolling back upwards again, and only sometimes when scrolling downwards past the page.

I'm using OS X 10.11

Video of the said behaviour.
https://www.youtube.com/watch?v=GLUYH4MKnr4

[2016-07-01 13:52] metajack commented on #12057
Thanks for the report!

[2016-07-01 13:53] jdm commented on #12019
thread '<unnamed>' panicked at 'TODO: Handle running out of texture IDs!', ../src/libcore/option.rs:699
[code]

[2016-07-01 13:53] Manishearth commented on #12047
Not sure what happened here.

The page first fetches two CSS files, and does an increment/decrement for them.

Then, it hits increment for a third CSS file, but by the time it has reached the decrement call it is already 0.

[2016-07-01 13:55] pavs commented on #12040
On a side note, I am not very familiar with how GitHub issue tracking works, but usually isn't newer tickets dupe of older tickets and not the other way around?

[2016-07-01 13:58] metajack commented on #12040
We sometimes dupe the older one if the newer one has more information or more useful discussion, but otherwise, I think we try to preserve the original report. Mistakes can happen though.

[2016-07-01 13:58] netsgnut commented on #12053
I have the same problem here too. I am on a baremetal laptop running Elementary Freya (i.e. Ubuntu 14.04).

My backtrace looks like this:

[code]

[2016-07-01 13:59] hannni opened #12059 "Tabs aren't cropped in the browser.html tab view in the nightly build"
The tab content is also outside of the bounding box where it should be in

I'm using OS X 10.11

Screenshot: http://imgur.com/Q1Bxibo

[2016-07-01 14:00] metajack commented on #12053
Can you post the output of `glxinfo`? We require OpenGL 3.0 I believe, and it may just be that your card or driver doesn't support it.

At the cost of some performance you can modify runservo.sh to pass `-c` instead of `-w` to switch to CPU rendering as a workaround.

[2016-07-01 14:01] metajack commented on #12059
This was a recent regression.

cc @paulrouget @tschneidereit

[2016-07-01 14:01] alexgibson opened #12060 "index out of bounds: the len is 0 but the index is 0 (www.bbc.co.uk)"
index out of bounds: the len is 0 but the index is 0
### URL:
http://www.bbc.co.uk/news/live/uk-politics-36570120
### Backtrace:
[code]

[2016-07-01 14:02] Manishearth commented on #12047
This is very curious.

I set a watchpoint on the document's count_cell, and breakpoints on the increment_decrement functions (﻿https://github.com/servo/servo/blob/736feec0ad14650e21cb899d01e60d168b3e7e2e/components/script/dom/document.rs#L1218)

For the first two stylesheets I get what I expect, increment, watchpoint, increment, watchpoint, decrement, watchpoint, decrement, watchpoint.

For the th

[2016-07-01 14:02] Ms2ger commented on #12060
Thanks for filing; this is #11999.

[2016-07-01 14:02] #12060 closed

[2016-07-01 14:03] netsgnut commented on #12053
This is my `glxinfo`.

[code]

Passing `-c` instead of `-w` does make it work, though.

[2016-07-01 14:03] metajack commented on #12051
I've not seen that error before. Interesting.

You'll want to pass an HTML page or URL to it or use `-b` to use browser.html. I'm not sure what the message about a corrupted shared library could be, but I recommend rebuilding. You can get a clean slate by doing `git clean -fxxd` and then `./mach build -r`. If it occurs again and there were no weird build errors, let us know and we'll continue to i

[2016-07-01 14:04] johanneshoehn opened #12061 "Switching tabs in the nightly build resets scroll position"
When scrolling down on a webpage, switching to another tab and back the scroll position is reset and back at the top of the site.

The expected behaviour is Servo to keep track of the scrolling position.

[2016-07-01 14:04] metajack commented on #12053
cc @glennw

[2016-07-01 14:06] jdm commented on #12056
Websockets are supposed to work, so please file that separately!

[2016-07-01 14:06] metajack commented on #12061
If we can get an outline of the solution posted by @glennw or someone, I think this might be an E-Easy candidate. We're probably just not storing this, or not sending it.

[2016-07-01 14:10] tschneidereit commented on #12059
This is a regression in Servo, reported as #11957.

[2016-07-01 14:10] #12059 closed

[2016-07-01 14:11] jdm commented on #12043
Thanks for reporting the problem! This is a duplicate of #4144, so closing in favour of that one.

[2016-07-01 14:11] #12043 closed

[2016-07-01 14:15] cablegunmaster opened #12062 "Missing steps in installations for ubuntu 16.04"
**What did I Do:**
git clone this.
cd servo
./mach --release

**Result**:
Pip failed to execute properly: Could not open requirements file: [Errno 2] No such file or directory: '/home/user/Development/servo/tests/wpt/harness/requirements.txt'

Am I missing steps to make it work?
I read issue about ubuntu 6xxx issue about libcheese it seems to be not related.
Installed all the  thought to be relate

[2016-07-01 14:19] jdm commented on #12059
I think this is the same as #11957?

[2016-07-01 14:24] jdm commented on #12037
From components/gfx/platform/freetype/font_template.rs:
[code]

[2016-07-01 14:24] kskarthik commented on #12053
@Coder206 I am not using VM

[2016-07-01 14:24] jdm commented on #12037
Looks like the FontTemplateData::new API should return a Result value.

[2016-07-01 14:25] eddyb commented on #12047
Pretty sure this is a dupe of #10254. The disassembly I've seen from @Manishearth looks good (albeit a tad confusing), and it was in debug mode so it couldn't have been an optimization at fault.

[2016-07-01 14:26] hannni opened #12063 "Servo flickers when switching from the address bar to the browser content."
I'm using OS X 10.11

video: https://youtu.be/FFHr6UZ_KGQ

[2016-07-01 14:28] jdm commented on #12041
Tracked by #5669. Thanks for reporting!

[2016-07-01 14:28] sgrif opened #12064 "Weird font rendering issue on github.com"
<img width="1025" alt="screen shot 2016-07-01 at 4 25 59 pm" src="https://cloud.githubusercontent.com/assets/1529387/16524470/b87e15e8-3fa8-11e6-9ab3-8e83a59af07c.png">

Interestingly, the exact pattern it showed was different each time I refreshed the page, and it is no longer occurring when I refresh the page. It was heavily artifacted the first 2-3 times though. I'm on a slower than normal conn

[2016-07-01 14:28] jdm commented on #12041
Sorry, misread the subject of the issue.

[2016-07-01 14:30] ConnorGBrewster commented on #12064
@sgrif thanks for reporting this! I have had this for quite a while. dupe of #11917

[2016-07-01 14:30] jdm commented on #12042
Should be fixed by #12030.

[2016-07-01 14:30] jdm commented on #12045
Should be fixed by #12030.

[2016-07-01 14:31] jdm commented on #12046
Should be fixed by #12030.

[2016-07-01 14:31] jdm commented on #12046
Duplicate of #12042. Thanks for reporting it!

[2016-07-01 14:31] sgrif commented on #12064
No worries. Figured there was no way this one wasn't already known, but a cursory search brought up nothing.

[2016-07-01 14:31] #12064 closed

[2016-07-01 14:32] jdm commented on #12055
I haven't been able to reproduce this in a local debug build yet.

[2016-07-01 14:35] jdm commented on #11991
Tracked by #4144. Thanks for reporting it!

[2016-07-01 14:35] #11991 closed

[2016-07-01 14:38] cbrewster opened #12065 "Replace instances of unwrap with expect"
With the crash reporter in place, we end up with lots of issues with titles like
`called`Result::unwrap()`on an`Err`value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }` or `called`Result::unwrap()`on an`Err`value: "SendError(..)"`.

Even though we plan to reduce unwrap usage, for now we could change many of these to `expect` to make crash report titles mor

[2016-07-01 14:41] jdm commented on #12046
Sorry, no guarantee that it's a duplicate.

[2016-07-01 14:41] beingalink opened #12066 "Servo results in a black window when loading github.com"
I clicked github on the start page which results in a black servo window (everything is black, no controls visible --> see [screenshot](https://www.dropbox.com/s/60rdyi4lmpak8oh/Screenshot%202016-07-01%2016.37.48.png?dl=0)).

I'm on macOS 10.11.6 running on my 2008 Macbook.

edit: Servo Version 0.0.1

edit2: having tested some more and the black screen seems to appear quite randomly:

- clicking a

[2016-07-01 14:43] snoe opened #12067 "no entry found for key"
no entry found for key
### URL:

https://app.lumanu.com/register
### Backtrace:

[code]

[2016-07-01 14:44] asajeffrey commented on #12065
We should find a way to get the filename / line into the crash reports. For uses of `panic!` or `error!` this is probably fairly straightforward, not so easy for `unwrap` or `expect` because those are functions, not macros.

[2016-07-01 14:44] jdm commented on #12062
`tests/wpt/harness/requirements.txt` is present in the repository; is it present in your local clone?

[2016-07-01 14:45] jdm commented on #12062
Also, did you run `./mach build`? `./mach --release` is not actually a command...

[2016-07-01 14:48] cablegunmaster commented on #12062
close issue. -_-;;

low space on my disk >.> kinda self explainatory.

[2016-07-01 14:48] #12062 closed

[2016-07-01 14:51] ConnorGBrewster commented on #12061
This is apart of the History API with scroll restoration. This is tracked over in #10992

https://html.spec.whatwg.org/multipage/browsers.html#restore-persisted-user-state
https://html.spec.whatwg.org/multipage/browsers.html#scroll-restoration-mode
https://html.spec.whatwg.org/multipage/browsers.html#history-3

[2016-07-01 14:53] ConnorGBrewster commented on #12063
Thank you for reporting this!

[2016-07-01 14:53] mason-larobina opened #12068 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=M5dnZKrUpdA
### Backtrace:
[code]

[2016-07-01 14:57] lorenzhs commented on #12056
Right, will do. I'll see if I can pinpoint it down a bit.

[2016-07-01 14:58] jdm commented on #12042
This is a duplicate of #11999, and will be fixed by #12008. Thanks for reporting it!

[2016-07-01 14:58] #12042 closed

[2016-07-01 14:58] #11996 closed

[2016-07-01 14:58] #12005 closed

[2016-07-01 14:58] #12007 closed

[2016-07-01 14:58] #12011 closed

[2016-07-01 14:58] #12026 closed

[2016-07-01 14:59] ecoffey opened #12069 "assertion failed: count_cell.get() > 0"
### Versions
OS : OS X 10.10.5
Servo : 0.0.1

### Error
assertion failed: count_cell.get() > 0
### URL:
https://blog.jetbrains.com/kotlin/2016/06/kotlin-1-0-3-is-here/
### Backtrace:
[code]

[2016-07-01 14:59] ConnorGBrewster commented on #12069
Thank you for reporting this! 😄
Dupe of #12047

[2016-07-01 14:59] #12069 closed

[2016-07-01 15:01] ecoffey commented on #12069
Thanks for making it easy to report them :)

[2016-07-01 15:07] lorenzhs opened #12070 "Websocket connection issues with Glowing Bear"
I'm having trouble connecting with [Glowing Bear](https://latest.glowing-bear.org/). It's a secure websocket connection. The endpoint is proxied behind nginx using the same certificate as my website, https://4z2.de (same nginx instance, same configuration). The server receives the connection and replies to switch protcols (Connection: Upgrade, Upgrade: websocket). Then nothing happens, it just han

[2016-07-01 15:08] Coder206 commented on #12067
Also encountering this issue on Fedora 24

[2016-07-01 15:09] jdm commented on #12028
I couldn't reproduce this in a local debug build on OS X.

[2016-07-01 15:09] netsgnut commented on #12053
BTW for the records my machine is a Core i5-2540M, with HD Graphics 3000.

[2016-07-01 15:09] kalebo commented on #12053
Servo requires at least OpenGL version 2.1 and  webrenderer requires 3.2. As mentioned in #9585 you can set  `LIBGL_ALWAYS_SOFTWARE=1` if you want to test the webrender backend without having a card that has OpenGL  3.2

[2016-07-01 15:12] jdm commented on #12014
Yeah, I've filed this upstream as https://github.com/browserhtml/browserhtml/issues/1153.

[2016-07-01 15:12] #12014 closed

[2016-07-01 15:13] bnb commented on #12066
I downloaded Servo, mounted, opened, saw GitHub as a suggested site and immediately clicked it. It was finished loading for about ~1 second, and then the entire window went Black as well. Exactly the same as the screenshot.

I'm on a 13 inch MacBook Pro Mid-2010 w/ 2.66GHz Intel Core 2 Duo with NVIDIA GeForce 320M 256 MB and 8 GB 1067 MHz DDR3.

[2016-07-01 15:14] jdm commented on #12010
This is probably the same problem as #12009.

[2016-07-01 15:16] jdm commented on #12066
This sounds like a duplicate of #12041.

[2016-07-01 15:17] nickpsecurity opened #12071 "using tab for username/pass entry causes submit"
Decided to load Hacker News as first site given I saw Servo there. Went to login page. Typed username. Hit tab to go to password field. Automatically submitted the form with bad login. I used mouse to highlight and delete both field to see if it was reproducible. Typed username, hit tab, and form submitted.

Using Servo on Ubuntu 16.04 (bare metal) with -c option recommended in "can't launch" issu

[2016-07-01 15:18] jdm commented on #12013
This looks similar to #12048.

[2016-07-01 15:18] #12013 closed

[2016-07-01 15:19] jdm commented on #12061
If it's just switching tabs rather than moving through history, I think those are unrelated.

[2016-07-01 15:20] jdm commented on #12068
Duplicate of #11992. Thanks for reporting it!

[2016-07-01 15:20] #12068 closed

[2016-07-01 15:20] etam opened #12072 "Illegal instruction"
I was playing with https://servo.org/bhtml-newtab/webrender-demos/evil_ad/physics/with-ad.html demo and after a minute or so this happened:

[code]

I'm using openSUSE 13.2 x86_64

[2016-07-01 15:21] ConnorGBrewster commented on #12061
@jdm ahh good catch, yes theses are unrelated.

[2016-07-01 15:22] tesfabpel opened #12073 "called `Result::unwrap()` on an `Err` value: ()"
called `Result::unwrap()` on an `Err` value: ()
### URL:
http://www.costasoft.it/
### Backtrace:
[code]

[2016-07-01 15:24] ConnorGBrewster commented on #12073
Thank you for reporting this! :)
Dupe of #12027

[2016-07-01 15:24] #12073 closed

[2016-07-01 15:24] Ms2ger commented on #12073
Thanks for the report; this is #12027.

[2016-07-01 15:26] ConnorGBrewster commented on #12036
Thank you for reporting this!
Possibly related to the issue on #11928?

[2016-07-01 15:26] st3fan opened #12074 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://blog.jetbrains.com/kotlin/2016/06/kotlin-1-0-3-is-here/
### Backtrace:
[code]

[2016-07-01 15:28] Ms2ger commented on #12074
Should be fixed by #12030.

[2016-07-01 15:28] #12074 closed

[2016-07-01 15:28] Ms2ger commented on #12074
But thanks for your report!

[2016-07-01 15:28] st3fan opened #12075 "unknown completed load Stylesheet("https://secure.gravatar.com/css/hovercard.css?ver=2016Julaa")"
unknown completed load Stylesheet("https://secure.gravatar.com/css/hovercard.css?ver=2016Julaa")
### URL:

https://www.computest.nl/blog/startencrypt-considered-harmful-today/
### Backtrace:

[code]

[2016-07-01 15:31] jdm commented on #12001
This is a duplicate of #12053. Thanks for filing it!

[2016-07-01 15:31] #12001 closed

[2016-07-01 15:33] jdm commented on #11986
The error here is a duplicate of #6519. @pavlos256 your logs show that it's #12018 affecting you.

[2016-07-01 15:33] #11986 closed

[2016-07-01 15:34] jdm commented on #12006
Duplicate of #11999. Will be fixed by #12008. Thanks for reporting it!

[2016-07-01 15:34] #12006 closed

[2016-07-01 15:36] YurySolovyov commented on #12053
As mentioned in #12001, it seems like this is due to WebRender, passing `-G gl` or `-G es2 ` makes it work, but very slow.

[2016-07-01 15:36] jarretraim commented on #12055
Checked it just now to ensure it wasn't some add thing and it still seems in force, but it might already be fixed in the debug build. Happy to test with it when it is released or if there is a way to download it now.

[2016-07-01 15:39] jdm commented on #11863
The header would be obtained from the result of `load_whole_resource` from the `Metadata` value it returns. We would also want to call the new API, yes - see `XMLHttpRequest::new_inherited` for a great place to start.

[2016-07-01 15:39] magg opened #12077 "Servo thread crashes while browsing 4chan and opening images"
Here is the output, I was running servo nightly binary on OS X el Capitan

[code]

[2016-07-01 15:39] YurySolovyov commented on #12053
[code]

[2016-07-01 15:39] ConnorGBrewster commented on #11993
Thank you for the report! 😄
Closing as dupe

[2016-07-01 15:39] #11993 closed

[2016-07-01 15:40] jdm commented on #11998
This is a duplicate of #6519. Thanks for reporting it!

[2016-07-01 15:40] #11998 closed

[2016-07-01 15:42] jdm commented on #12000
I couldn't reproduce this in a debug build on OS X.

[2016-07-01 15:42] jdm commented on #11995
I couldn't reproduce this in a debug build on OS X.

[2016-07-01 15:44] sbeckeriv opened #12078 "youtube.com called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.youtube.com/watch?v=XKPun35fku0
### Backtrace:
[code]

[2016-07-01 15:44] jdm commented on #11860
You're right, there doesn't seem to be a reason to store an Option value.

[2016-07-01 15:47] sbeckeriv opened #12079 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:

http://understandsolar.com/glass-sphere/
### Backtrace:

[code]

[2016-07-01 15:48] jdm commented on #12078
Duplicate of #11992. Thanks for reporting!

[2016-07-01 15:48] #12078 closed

[2016-07-01 15:48] Coder206 opened #12080 "Unable to run sh file in Fedora 24"
I am receiving an error when trying to run Servo from the nightly binaries:

`./runservo.sh`

[dev@localhost servo]$ ./runservo.sh
./runservo.sh: line 1: ./mach: No such file or directory
[dev@localhost servo]$ ls
build  resources  **runservo.sh**  servo

[2016-07-01 15:49] jdm commented on #12071
We know that sequential focus navigation using tab isn't supported yet, but it certainly shouldn't cause the form to be submitted. Thanks for reporting this!

[2016-07-01 15:50] nickpsecurity commented on #6182
I further suggest scrollbars in the pre-packaged Servo test browser. I couldn't scroll at all on Hacker News or Wikipedia. No page up/down and no scroll bars. Really hard to test it on sites if I only see first part. ;) Is there some trick command involved or is that a bug to report? The link perlun has is closed so not sure that covers whatever is happening.

[2016-07-01 15:50] #11999 closed

[2016-07-01 15:53] jdm opened #12081 "Panic instantiating a font"
`./mach run -w -d --debug https://www.computest.nl/blog/startencrypt-considered-harmful-today/`

[code]
[code]

[2016-07-01 15:54] jdm commented on #12075
Tried to reproduce in a debug build on OS X and hit #12081 first.

[2016-07-01 15:54] daenney commented on #11995
For me simply going to that URL in Servo and waiting for the site to load causes that same crash report to show up every time. I'm guessing it has something to do with the video thing that's on that page?

For completeness, this is running the nightly on macOS Sierra.

[2016-07-01 15:55] jdm commented on #12077
If there are some URLs to reproduce this, it would be very useful.

[2016-07-01 15:56] this-jacob commented on #11984
I can work on this.

[2016-07-01 15:56] ConnorGBrewster commented on #11984
@this-jacob it's all yours!

[2016-07-01 15:57] jdm commented on #6182
Scrolling is expected to work on those sites. Please report it separately!

[2016-07-01 15:58] jdm commented on #12079
I hit #12081 in a debug build on linux while trying to reproduce this.

[2016-07-01 15:59] jdm commented on #11995
[code]
Got it this time!

[2016-07-01 15:59] nickpsecurity commented on #6182
Alright, will do!

[2016-07-01 15:59] ConnorGBrewster commented on #12080
@Coder206 can you paste the contents of `runservo.sh` here?

[2016-07-01 16:00] magg commented on #12077
1. go to https://boards.4chan.org/tv/
2. open a few images, by clicking the thumbnail
3. crash happens,

Could be that the crash happens with big images

[2016-07-01 16:00] jdm commented on #11995
Nice:
[code]
Guess which code we're hitting?

[2016-07-01 16:02] daenney commented on #11995
😂

[2016-07-01 16:02] rebstar6 commented on #11384
@aravind-pg - forgot to mention, for this, and the other referrer policy stuff, there are wpt in 2 places. The ones referenced above should be pulled into servo, and will be at tests/wpt/web-platform-tests/referrer-policy. There are also what are basically copies of the iframe tests within these folders at tests/wpt/mozilla/tests/mozilla/referrer-policy because servo doesn't support pieces of how

[2016-07-01 16:03] nickpsecurity opened #12082 "no scrolling on Hacker News or Wikipedia"
I loaded the comments for today's thread on HN for Servo. Couldn't see past the first replies since Page Down and Up did nothing. No scrollbar either. Tested to see if it was HN-specific by going to Wikipedia, loading up a long article. Same effect. On Ubuntu 16.04 bare-metal loading Servo Linux prepackaged version w/ -c option on startup for non-GPU rendering & no non-standard functionality in th

[2016-07-01 16:07] jdm commented on #11990
`thread '<unnamed>' panicked at 'assertion failed: allocation_size.height < max_texture_size()', /Users/jdm/.cargo/git/checkouts/webrender-c3596abe1cf4f320/master/src/texture_cache.rs:805`
[code]

[2016-07-01 16:07] asajeffrey opened #12083 "Get issue reports to include the servo build id"
When we fire a `mozbrowsererror`, we should include the servo build id or some other identifying information, and get that included in the issue report. cc @ConnorGBrewster

[2016-07-01 16:07] benwaffle commented on #12054
On GNOME desktops, you can read the gsettings key `org.gnome.desktop.interface scaling-factor`

[2016-07-01 16:08] jdm commented on #11384
That's a very good point! We should definitely look into generating the tests properly.

[2016-07-01 16:09] kripken opened #12084 "Mention that Linux nightlies are 64-bit"
The announcement and download pages don't say they are 64-bit (and won't run on 32-bit).

[2016-07-01 16:11] notriddle commented on #12082
We don't have a scrollbar or proper handling of keyboard navigation. We do have support for a mouse wheel, if your computer has that. Laptops with trackpads usually have a scroll-area on the side that acts like a mouse wheel, or they act as a mouse wheel when you move two fingers across them at once.

[2016-07-01 16:14] Coder206 commented on #12080
@ConnorGBrewster  ./servo -w -b --pref dom.mozbrowser.enabled --pref dom.forcetouch.enabled --pref shell.builtin-key-shortcuts.enabled=false ./build/browserhtml-3e3805f69808f24d/out/index.html

[2016-07-01 16:17] ConnorGBrewster commented on #12080
@Coder206 hmm that looks ok. I am just confused why `./mach` is showing up

[2016-07-01 16:18] jdm commented on #12077
Yeah, I didn't have any problems clicking on about 20 images that were all smaller than the servo window size.

[2016-07-01 16:22] Coder206 commented on #12080
@ConnorGBrewster Sorry this is reminiscent of a test I was trying to do to get the binary working.

[2016-07-01 16:23] #12080 closed

[2016-07-01 16:23] magg commented on #12077
Oh ok, but could you reproduce the issue with bigger images?

[2016-07-01 16:25] nickpsecurity commented on #12082
"Laptops with trackpads usually have a scroll-area on the side that acts like a mouse wheel"

I didn't even know that after all these years. Thought the drawings were just suggesting how to use the trackpad. Well, tried that and it doesn't work on Firefox or Servo. So, maybe I don't have that feature. Tested with mouse scrolling with USB mouse. Scrollwheel on HN works on Firefox but not on Servo.

[2016-07-01 16:29] jdm commented on #12082
Yeah, we don't differentiate between mouse buttons at the moment.

[2016-07-01 16:29] jdm commented on #12077
I didn't come across any in my testing.

[2016-07-01 16:40] notriddle opened #12085 "VentureBeat causes panic in script thread"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
http://venturebeat.com/2016/07/01/mozilla-releases-first-nightly-build-of-servo-its-next-generation-browser-engine/
### Backtrace:
[code]

[2016-07-01 16:41] jdm commented on #12085
I hit #12081 when trying to reproduce this in an OS X debug build.

[2016-07-01 16:46] notriddle opened #12086 "Linux-Magazin.de crashes script thread (in <link rel=stylesheet> element code)"
assertion failed: count_cell.get() > 0
### URL:
http://www.linux-magazin.de/NEWS/Erste-Nightly-Build-von-Mozillas-Servo
### Backtrace:
[code]

[2016-07-01 16:48] jdm commented on #12086
Duplicate of https://github.com/servo/servo/issues/12047.

[2016-07-01 16:48] #12086 closed

[2016-07-01 16:50] nickpsecurity opened #12087 "background errors on Github load"
Posting this in case it's important. Opened Servo. Pasted the following into address bar:

https://github.com/servo/servo/issues

Results in this output in terminal:

"Unhandled error occured
ReferenceError: navigator.mozSettings API is not available
ERROR:js::rust: Error at file:///home/anon/Downloads/servo/build/browserhtml-3e3805f69808f24d/out/components/main.js:7:13639: e.matches[e.items[e.sel

[2016-07-01 16:52] ConnorGBrewster commented on #12087
Thank you for reporting this!
`navigator.mozSettings` is tracked in browserhtml/browserhtml#1153 and `history` in #5669/#10992

[2016-07-01 16:52] #12087 closed

[2016-07-01 16:55] notriddle opened #12089 "Tweakers.net More menu is clipped"
![In Servo the menu is cut off](http://i.imgur.com/qHMSdT5.png)

![In Firefox it is not](http://i.imgur.com/At0icla.png)

[2016-07-01 16:56] carols10cents commented on #9479
Since github has switched to SVGs, I think this is now a duplicate of #9998.

[2016-07-01 16:59] #9479 closed

[2016-07-01 17:00] NTMan opened #12090 "pre-built nightly Servo snapshot couldn't run on Fedora 24"
$ ./runservo.sh
./servo: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory

[2016-07-01 17:03] friesoft commented on #12090
[code]

[code]

[code]

[2016-07-01 17:03] nickpsecurity commented on #12082
Update. Rebooted my computer as it was getting finicky. My touchpad *does* scroll pages up and down as I confirmed in Firefox on Hacker News and Wikipedia. Must've been driver error. However, it *doesn't* do that on Servo. I dragged the window around, clicked some text, and so on to confirm it had focus. Went back to Firefox, still scrolled, back to Servo, still doesn't. So, might be a legit bug i

[2016-07-01 17:03] bheesham opened #12091 "Facebook signup button not displayed properly"
Build: nightly - July 1, 2016.
Website: https://facebook.com/

Servo:
<img src="http://i.imgur.com/BtLXOyh.png" alt="Facebook signup button in Servo">

Chrome:
<img src="http://i.imgur.com/TwoS11H.png" alt="Facebook signup button in Chrome">

[2016-07-01 17:03] moosingin3space commented on #11937
Confirmed the same behavior on Ubuntu 14.04.4 with Unity.

[2016-07-01 17:04] ConnorGBrewster commented on #12091
I have seen this on text inputs, and buttons on GitHub as well.

[2016-07-01 17:05] bheesham commented on #12091
Ah. Are there related issues for this then?

[2016-07-01 17:05] Manishearth commented on #12047
I think that issue is multiple problems, so I'll keep this open for now.

[2016-07-01 17:06] ConnorGBrewster commented on #12091
@bheesham not that I can recall, I have been meaning to file one for a while.

[2016-07-01 17:07] nickpsecurity opened #12092 "GitHub login page not rendered properly"
![github screenshot forgot password](https://cloud.githubusercontent.com/assets/17504074/16528733/40cad690-3f84-11e6-948b-ca1ea00f8191.png)

Renders "forgot password" link in a weird way. Ubuntu 16.04 bare-metal running pre-packaged binary of Servo.

[2016-07-01 17:07] notriddle commented on #12082
Okay.

[2016-07-01 17:13] bheesham opened #12093 "Mibbit IRC client doesn't render properly"
Build: nightly - 1 July 2016
Website: https://client00.chat.mibbit.com/

<img src="https://i.imgur.com/jMHxzzO.png" alt="Mibbit rendered using Servo">

[2016-07-01 17:15] jbriggs-zvelo commented on #12090
And when I tried to make it use Fedora's newer version it failed with:

[2016-07-01 17:16] bheesham opened #12094 "Reddit favicon displays with noise."
Build: nightly - 1 July 2016
Website: https://reddit.com/

The favicon above is for Mibbit, the second favicon is for reddit.
<img src="https://i.imgur.com/dgyMHvK.png" alt="Mibbit and reddit favicon">

[2016-07-01 17:17] bheesham commented on #9917
New issue related to Reddit: https://github.com/servo/servo/issues/12094

[2016-07-01 17:21] metajack commented on #12094
That is a very interesting bug! Pinging the right people who might be able to track it down.

cc @paulrouget @pcwalton @glennw

[2016-07-01 17:23] aneeshusa commented on #11984
I'm unhappy this change is necessary and we have to break from ISO8601, but agree this makes the user experience better :/ Hopefully tar gets smarter soon so this can be removed in the future.

[2016-07-01 17:27] rmfitzpatrick opened #12095 "Authentication request for all page resources behind nginx auth_basic"
When accessing a personal page set up w/ basic nginx authentication, the username and password prompts were displayed for all referenced site contents.  This resulted in a barrage of prompts that don't stop despite providing the correct credentials for any given one.

It's also a little distracting to have separate prompts for username and password but understandably this isn't in scope for the is

[2016-07-01 17:27] moosingin3space commented on #12090
I am planning on contributing a flatpak builder for Servo sometime this weekend, which should resolve this for Fedora >= 23.

[2016-07-01 17:35] bheesham opened #12096 "Redirection to taboola when visiting Imgur."
Build: nightly - 1 July 2016
Website: https://imgur.com/a/Bndui

I get redirected to `https://trc.taboola.com/imgur/log/3/available`, ideally that shouldn't happen. This may be the result of not having an ad-blocker.

[2016-07-01 17:36] jeenalee commented on #11894
cc'ing myself

[2016-07-01 17:36] jbriggs-zvelo commented on #12054
@benwaffle
GNOME with Wayland is fancier because it does scaling per monitor. I am not up on how that's done though.

[2016-07-01 17:38] DeeDeeG commented on #12053
This also affects my machine, a netbook with Atom n450 CPU, integrated graphics.

OS is Linux Mint 17.3 64-bit.

[code]

[2016-07-01 17:38] aneeshusa commented on #12095
How did you get the Servo version number? Is that the full output of `./servo --version`? The version number should have a git revision associated with it; if it doesn't we've got a bug somewhere.

[2016-07-01 17:40] bheesham opened #12097 "DuckDuckGo search input not rendered properly"
Build: nightly - 1 July 2016
Website: https://duckduckgo.com

Chrome:
<img src="https://i.imgur.com/6QmYSms.png" alt="Text entry rendered in Chrome">

Servo:
<img src="http://i.imgur.com/OGZTNGw.png" alt="Text entry rendered in Servo">

[2016-07-01 17:40] aneeshusa commented on #12084
Anyone who wants to work on this should submit PRs to [servo/download.servo.org](https://github.com/servo/download.servo.org), which has the download page, and [servo/blog.servo.org](https://github.com/servo/blog.servo.org), which has the announcement as a blog post.

[2016-07-01 17:41] ConnorGBrewster commented on #12097
Do note that we use the html version of the duckduckgo.com homepage as https://duckduckgo.com currently has some issues. Try comparing with https://duckduckgo.com/html in Chrome

[2016-07-01 17:41] highfive commented on #12084
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-01 17:42] Coder206 commented on #12084
I give this one a shot.

[2016-07-01 17:43] bheesham commented on #12097
Good catch. I've updated the issue with the appropriate screenshot for Chrome.

[2016-07-01 17:47] aneeshusa commented on #12065
This may also mask `unwrap()`s that would have been caught by `check_no_unwrap.sh` when it expands to cover more files, since we allow `expect()`s. We should leave TODO comments or otherwise mark `unwrap()`s that were converted to `expect()`s for the sake of making crash report titles more useful, but that should more handled more robustly in the future.

[2016-07-01 17:49] rmfitzpatrick commented on #12095
Sorry I just used the nightly build (haven't tried building myself) and went with what the UI told me.

`Servo 0.0.1-4f81384`

[2016-07-01 17:50] jdm commented on #12094
This might be fixed by upgrading the image decoding library to pull in recent ICO decoding fixes.

[2016-07-01 17:52] aneeshusa commented on #12095
OK, version number is all good them; just wanted to confirm our nightlies were getting the git revision embedded.

[2016-07-01 17:54] jdm commented on #12095
Our http with cache is keyed on the precise URL; we might need to change that to the origin instead.

[2016-07-01 17:55] jdm commented on #12095
Auth, not with.

[2016-07-01 17:56] dumindu opened #12098 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.ribbonfarm.com/2016/06/29/the-daredevil-camera/
### Backtrace:
[code]

[2016-07-01 17:57] ConnorGBrewster commented on #12098
Thank you for the report! 😄
Closing as dupe of #12047

[2016-07-01 17:58] ConnorGBrewster opened #12099 "Found an unpaired surrogate in a DOM string in Acid 3"
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 17:59] timtadh opened #12100 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

I looked a few of the other panics with this same issue title. This one looks a bit different as it isn't happening inside of `layout_thread::LayoutThread::exit_now`. So I do not believe #12030 applies.

[2016-07-01 17:59] netsgnut commented on #12053
Thanks for the explanation @kalebo. From what I understand my card supports OpenGL 3.1 best and that would explain why I couldn't run WebRender on GPU.

[2016-07-01 18:01] mbrubeck commented on #12099
Thanks for the report! #6564 already mentions that Acid 3 triggers this, so I'm going to close this as a duplicate.

[2016-07-01 18:01] #12099 closed

[2016-07-01 18:01] sambathl opened #12101 "No support for SVG"

[2016-07-01 18:02] mbrubeck commented on #12101
Thanks for the report. I'm going to turn #9998 into the main "add SVG support" issue, and close this as a duplicate.

[2016-07-01 18:02] #12101 closed

[2016-07-01 18:03] ConnorGBrewster commented on #12100
Thank you for the report! This will be fixed by #12030.

`frame #10 - 0x00007fc2e673281f - layout_thread::LayoutThread::exit_now::hf10c51164062d452`
This used to call unwrap, but is not silently ignored.

[2016-07-01 18:03] #12100 closed

[2016-07-01 18:03] moosingin3space opened #12102 "Support building flatpak packages"
This will make cross-distro packaging somewhat less of a headache.

I'd like to claim this issue -- just filing it here for tracking.

[2016-07-01 18:07] aneeshusa commented on #12102
I think this is a useful addition and would accept this, but I am not sure we want to have this as a Servo-supported packaging option. I think it may make more sense for this to be community-supported - I'd rather see native distro packaging (e.g. by Fedora) as the officially supported packing option (as well as our `.tar.gz`). Supporting every packaging format out there is not something I think i

[2016-07-01 18:10] aneeshusa commented on #12102
The other thing is that AFAIK the main problem that is causing cross-platform incompatibility with our package is the `libcrypto` and `libssl` library versions. We are planning to move to NSS, and once we do that I think our `.tar.gz` will run out of the box in most places.

[2016-07-01 18:15] aneeshusa opened #12103 "Test packaging during normal builds to prevent bustage?"
Inspired by https://github.com/servo/saltfs/pull/386.

Now that we have more than one packaging option and are adding more soon, the likelihood of packaging breaking increases. Because having pre-build nightlies is valuable,
IMO we should make sure the nightly builds succeed by testing the packaging during regular builds. See my comments at #12102 about officially supported packaging formats.
Thou

[2016-07-01 18:15] netsgnut commented on #12052
If we want the version to be displayed there, the compilation script should update `CFBundleShortVersionString` from `Info.plist`?

[2016-07-01 18:17] Gozala opened #12104 "Can't scroll on hacker news if content does not fit horizontally"
For example go to https://news.ycombinator.com/item?id=12014075 with servo nightly, then resize window so that content does not fully fit horizontally, then try to scroll vertically.

I would expect to be able to scroll, but I can't. If I resize window so that content all fits horizontally then you can scroll vertically again.

[2016-07-01 18:19] dumindu opened #12105 "Pick wrong link on Reddit"
https://youtu.be/USXWZOldhVo
### Way to reproduce
1. open servo
2. click on Reddit icon on new tab page
3. edit link to reddit.com/r/rust
4. click on the 4th link on the list
### current result

open 5th link on the list
### expected result

should open the correct link

[2016-07-01 18:27] hgallagher1993 opened #12106 "reddit.com stops loading with "e.postMessage is not a function" errors"
So this is my first issue created and first tangible contribution to Servo so if I've left anything needed out please say so :-)

First of all I'm not using the nightly, I cloned the Servo repository today (I don't know how to get the exact version number) and built in release mode and when I went to reddit [It only loaded some of the page and then loads no more](http://i.imgur.com/jYMuEVJ.png), t

[2016-07-01 18:27] AmarOk1412 commented on #11942
I use i3 with Fedora 24 and it doesn't work at all (no scroll, white page after 2 seconds, no Mouse event).

[2016-07-01 18:32] Aaron1011 commented on #12028
I couldn't reproduce this either, running Arch Linux.

[2016-07-01 18:35] scitecwri opened #12107 "Update gentoo linux setup instructions"
In https://github.com/servo/servo/blob/master/README.md

Add  media-fonts/fira-sans media-fonts/dejavu to emerge list for Gentoo Linux

[2016-07-01 18:36] #11956 closed

[2016-07-01 18:46] jetvillegas opened #12109 "Crash in menu code handling while running the "Bad Ad" demo in Servo Nightly"
Crash while running the "Bad Ad" demo in Servo Nightly and mousing over the app menus. Stack below...

Process:               servo [21651]
Path:                  /Applications/Servo.app/Contents/MacOS/servo
Identifier:            org.servo.Servo22
Version:               0.0.1
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           servo [21651]
User ID:

[2016-07-01 18:46] Aaron1011 commented on #12092
I'd like to work on this.

[2016-07-01 18:55] stoatally opened #12110 "No HiDPI support under Gnome 3.20"
According to issue #500 HiDPI/retina display support has been implemented at least to some extent, however it does not work on my Arch Linux computer running Gnome 3.20:

[![Example](http://i.imgur.com/MrRGCTq.png)](http://i.imgur.com/MrRGCTq.png)

[2016-07-01 18:57] aaronjwhiteside opened #12111 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 18:58] #12111 closed

[2016-07-01 18:58] mbrubeck commented on #12094
Confirmed.

[2016-07-01 18:59] moosingin3space commented on #12102
Flatpak is designed for upstream packaging - my thought is that it would make it more convenient to install on non-Ubuntu distributions as most either support it or have packages for flatpak.

[2016-07-01 18:59] ConnorGBrewster commented on #12052
@netsgnut we should do that as well, but this unfortunately does not update the About Servo window.

[2016-07-01 19:05] Haroenv opened #12114 "Window borders aren't clean on macOS"
OS: OS X 10.11

Issue: the border doesn't follow the window size and rounds to the nearest pixels (not physical pixels, but the ones that the display says are pixels on a retina display)

<img width="92" alt="screen shot 2016-07-01 at 21 04 12" src="https://cloud.githubusercontent.com/assets/6270048/16532000/838ff6e0-3fcf-11e6-92a5-f7b1a5668aaa.png">

[2016-07-01 19:05] mason-larobina opened #12115 "Page view contents overflow in new-tab screen."
When opening the tab-switcher view the page contents overflows at the top, bottom or both of the "zoomed out" current tab.

See attached photos.

![image](https://cloud.githubusercontent.com/assets/98076/16525523/cd8a49c6-3f7a-11e6-9381-2b47a8fc9a1d.png)

![image](https://cloud.githubusercontent.com/assets/98076/16525525/d201b890-3f7a-11e6-90b3-3a0495124ba1.png)

[2016-07-01 19:07] ConnorGBrewster commented on #12115
Thank you for reporting this!
This is a dupe of #11957

[2016-07-01 19:07] #12115 closed

[2016-07-01 19:11] zopyx opened #12116 "Assertion failure setting parser-blocking pending script"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

https://www.zopyx.com/
### Backtrace:

[code]

[2016-07-01 19:11] runarberg opened #12117 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://manisananimal.nfshost.com/
### Backtrace:
[code]

This was automatically filled out.

[2016-07-01 19:12] #12098 closed

[2016-07-01 19:13] ConnorGBrewster commented on #12117
Thank you for the report!
Closing as a dupe of #12047.

[2016-07-01 19:13] #12117 closed

[2016-07-01 19:18] Aaron1011 commented on #12092
I believe I've narrowed the issue down to this:

[code]

Here's what it looks like in Firefox 47:

![Firefox](https://i.imgur.com/8YYhGKe.png)

And here's the latest Servo:

![Server](http://i.imgur.com/5BQdPex.png)

From what I can tell, the root issue appears to be the large vertical gap that appears between the `<p>` and `<a>` elements which shoot be aligned vertically.

[2016-07-01 19:19] alex opened #12119 "download.servo.org should redirect to HTTPS"
Right now if you access over HTTP it will server content. Instead it should redirect to HTTPS

[2016-07-01 19:19] emilio opened #12120 "How to test transitions/animations?"
As animation support increases, it'd be great to have some sort of testing support for it.

We can't test them deteministically right now. Gecko has a "test mode" in their refresh driver that allows them to fake the times, advance the clocks, etc. as well as an API to get the computed style for an element in a given point of time.

We don't have that infra, and though it seems like a good amount o

[2016-07-01 19:20] aneeshusa commented on #12119
Thanks for reporting! This is a dupe of servo/download.servo.org#1.

[2016-07-01 19:20] #12119 closed

[2016-07-01 19:20] alex commented on #12119
Doh, sorry.

[2016-07-01 19:21] pcwalton commented on #12114
This is because we use the private `CGSSetSurfaceShape` to optimize alpha blending. It improves our frame rate a lot, but the downside is that the corners aren't rounded. You can actually see this in Interface Builder apps if you make an NSOpenGLView overlap the bottom corners—they become non-Retina.

Safari gets away with this because it outsources all of its compositing to Core Animation, but we

[2016-07-01 19:27] moosingin3space commented on #12110
Have you tried the `--device-pixel-ratio=2.0` argument? (replacing `2.0` with any scale factor)

[2016-07-01 19:31] stratacast opened #12121 "Can't submit bug reports with bug reporter"
The built in servo bug reporter tries to compile a large amount of bug report information into the URL, so github produces an error of too large of a URL, so I can't submit errors.

I got an "assertion failed: address != MAP_FAILED" error testing a youtube video, and got the error as well as a backtrace.

![servo submit report](https://cloud.githubusercontent.com/assets/14900584/16532585/b200a008-

[2016-07-01 19:32] stoatally commented on #12110
Yeah, that argument works, it's just not automatic, not sure if anyone cares at this point.

[2016-07-01 19:34] moosingin3space commented on #12110
I think I know how to make it automatic on Gnome, but it wouldn't be portable to other DEs. Can a core team member comment on whether a Gnome-specific fix would be acceptable?

[2016-07-01 19:35] stratacast opened #12122 "assertion failed: address != MAP_FAILED"
assertion failed: address != MAP_FAILED
### URL:

https://www.youtube.com/
### Backtrace:

[code]

[2016-07-01 20:02] aneeshusa opened #12123 "Use more correct user agent (UA) string on ARM"
Currently, our logic to pick an appropriate default user agent string assumes that everything that isn't `x86_64` is `i686`. However, this no longer holds true with ARM platforms also existing. We should use better values here; I'm not sure what they would be.

Files:
- `components/util/opts.rs` in the `default_user_agent_string` function

I don't think there are any tests we could write for this.

[2016-07-01 20:02] alex opened #12124 "python.org badly misrendering"
Servo:

![screen shot 2016-07-01 at 4 01 42 pm](https://cloud.githubusercontent.com/assets/772/16533217/25e20576-3fa5-11e6-9608-5ef9340d225f.png)

Chrome:

![screen shot 2016-07-01 at 4 01 50 pm](https://cloud.githubusercontent.com/assets/772/16533218/25ee65f0-3fa5-11e6-9ea6-4d4fb0e7a39d.png)

[2016-07-01 20:03] larsbergstrom opened #12125 "Windows Nightly blockers"
The below bugs are the ones that are required to at least have a first linked nightly build of Servo on Windows.
- [x] #11307 - Hot spinning on Windows shutdown
- [x] #11967 - Add Windows MSI packaging and publishing of the nigthtly build
- [x] #11969 - Add an icon to Windows
- [x] #12231 - Upload failing due to bad `s3cmd` invocation
- [x] #12523 - Windows tarball missing files
- [x] #13257 - Ver

[2016-07-01 20:04] alex opened #12126 "Double escaping in rendering https://security.googleblog.com/"
Servo:

![screen shot 2016-07-01 at 4 03 47 pm](https://cloud.githubusercontent.com/assets/772/16533259/70d31eb2-3fa5-11e6-8a38-e4e8e3fecf61.png)

Chrome:

![screen shot 2016-07-01 at 4 03 44 pm](https://cloud.githubusercontent.com/assets/772/16533258/70d09ec6-3fa5-11e6-996f-b2db09a39dbc.png)

[2016-07-01 20:05] larsbergstrom commented on #10339
This is working now: http://build.servo.org/builders/android-nightly/builds/96

[2016-07-01 20:05] #10339 closed

[2016-07-01 20:06] larsbergstrom commented on #8770
This should not be happening anymore, as android now uses the "channels as ipc-channel" instead of the fd-based ipc-channel.

[2016-07-01 20:06] #8770 closed

[2016-07-01 20:07] larsbergstrom commented on #7211
Edited title - the problem is that font load/enumeration takes forever, and it happens on every page load.

[2016-07-01 20:13] larsbergstrom commented on #2359
We statically link everything now.

[2016-07-01 20:13] #2359 closed

[2016-07-01 20:13] larsbergstrom commented on #4628
This should work now. Please reopen if it reproduces.

[2016-07-01 20:13] #4628 closed

[2016-07-01 20:13] larsbergstrom commented on #2319
We've fixed this with font fallbacks now.

[2016-07-01 20:13] #2319 closed

[2016-07-01 20:14] larsbergstrom commented on #6123
We've cleaned up a lot of the build system since then - no more submodules! Moved to Cargo!

[2016-07-01 20:14] #6123 closed

[2016-07-01 20:15] larsbergstrom opened #12127 "Android does not have keyboard support"
It's impossible to input any text in Android right now, as we don't integrate with the system keyboard.

[2016-07-01 20:16] aneeshusa opened #12128 "Make etc/ci/upload_nightly.sh responsible for putting datetimes into filenames"
Part of #11980.

Currently, our Linux and Mac (although not Android) `./mach package` builders create files whose name include the date and time of building, which is a source of non-determinism. However, we do want to include the date and time for our nightly builds, so that multiple nightlies can coexist in a folder (e.g. `$HOME/downloads`) or S3 bucket (e.g. `servo-builds`). Two parts to this:

[2016-07-01 20:16] highfive commented on #12128
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-01 20:16] highfive commented on #12128
cc @wafflespeanut

[2016-07-01 20:17] larsbergstrom opened #12129 "Android should unpack the resources/ folder on first run"
Servo has a `resources` folder, which we place into the `assets` folder when building the apk (see: https://github.com/servo/servo/blob/master/support/android/build-apk/src/main.rs#L84-L96 ).

On first launch on the device, we should attempt to unpack that folder into the same location as where the application has been installed.

[2016-07-01 20:18] aneeshusa commented on #12128
Note that this needs to be fixed at most a day after Android nightlies go live so that we don't lose old nightlies (OK to lose nightlies before we officially release them IMO).

[2016-07-01 20:18] larsbergstrom opened #12130 "Android Nightly blockers"
The below bugs are the ones that are required to at least have a first linked nightly build of Servo on Android. Note that this build would _not_ use browser.html, but would simply provide Open With support.
- [ ] #7211 Font load/enumeration is too slow on Android
- [ ] #12127 No keyboard support
- [x] #12129 Android should unpack `resources` folder on first run

[2016-07-01 20:20] moosingin3space commented on #12105
I encountered this same issue on HN, but it is inconsistent.

[2016-07-01 20:20] munyari opened #12131 "Address bar rendering wrong case"
Typing in the address bar and servo acts as if I am holding down the shift key. When I type `servo.org` I get `SERVO>ORG`, which is corrected to `servo>ORG` (`.` and `>` share the seem key on my keyboard). In the console:

[code]

[2016-07-01 20:22] mbrubeck commented on #12131
Thanks for the report. What operating system are you using, and what keyboard layout (for example "U.S. English" or "French AZERTY" etc.)?

[2016-07-01 20:31] grahamc commented on #10468
While this doesn't build on NixOS, it does let me run the precompiled nightly with `nix-build . && ./result/runservo.sh`:

[code]

[2016-07-01 20:35] ConnorGBrewster commented on #12083
@asajeffrey we could just add a `String` field on `MozBrowserEvent::Error` for the version and just use `env!` like the `--version` flag does (https://github.com/servo/servo/blob/d76ffa8fd8b9311ef13eb477c55fc0b7dce753f5/components/servo/main.rs#L65).

[2016-07-01 20:36] moosingin3space opened #12132 "Emberjs.com is missing nearly all the text"
![screenshot from 2016-07-01 13 32 51](https://cloud.githubusercontent.com/assets/830082/16533857/8ad6a140-3f90-11e6-8942-af1436a46b1d.png)

Screenshot taken on Ubuntu 14.04.4. The console output was:

[code]

When I scrolled down the page, no text was displayed.

[2016-07-01 20:40] munyari commented on #12131
Arch Linux, Linx 4.6.2-1-ARCH, U.S. keyboard. Servo version was the latest nightly

[2016-07-01 20:42] imjacobclark commented on #12128
Happy to pick this one up also.

[2016-07-01 20:45] tupshin opened #12133 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.sfgate.com/
### Backtrace:
[code]

[2016-07-01 20:49] Coder206 commented on #12131
I am experiencing similar behavior to with bhtml's auto correct.

[2016-07-01 20:51] ConnorGBrewster commented on #12133
Thank you for reporting this!
Closing as a dupe of #12047.

[2016-07-01 20:51] #12133 closed

[2016-07-01 20:54] imjacobclark commented on #12128
To clarify, we no longer wish `mach package` to put date and times on files, rather this be deferred to `etc/ci/upload_nightly.sh` instead?

@aneeshusa

[2016-07-01 20:56] aneeshusa commented on #12128
Yes, `./mach package` should not add a date or time; `etc/ci/upload_nightly.sh` should include a date and time in the location to which it uploads.

[2016-07-01 20:57] fabricedesre commented on #12132
Pretty sure this is because of the missing support for `document.write`

[2016-07-01 21:01] ar25812 opened #12134 "GL context creation failed, LibreSSL errors"
Servo does not start
libcrypto and libssl were symlinked.
ldd -v servo reports no errors besides OpenSSL not found
System: x86_64, Void Linux, Kernel 4.6.2_3 SMP PREEMPT

[code]

[2016-07-01 21:04] nukeador opened #12135 "called `Result::unwrap()` on an `Err` value: RecvError"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 21:11] edunham commented on #12084
@Coder206 Thank you! Both are now merged; might see a couple minutes of propagation time on the download page.

[2016-07-01 21:11] #12084 closed

[2016-07-01 21:13] Coder206 commented on #12084
@edunham Thanks :)

[2016-07-01 21:22] ConnorGBrewster commented on #12083
Even better we can avoid sending the version in that message and just add it in at https://github.com/ConnorGBrewster/servo/blob/master/components/script/dom/htmliframeelement.rs#L356

[2016-07-01 21:43] aneeshusa commented on #12128
The test I mentioned will essentially require us to package (twice!), so don't worry about that for now; we need to decide about #12103 first.

[2016-07-01 22:05] aneeshusa commented on #12103
It would also be neat to try and run Servo from the package after building, to ensure that the package works correctly. Not sure how automatable that is.

[2016-07-01 22:21] pblahman opened #12138 "libcrypto and libssl on Fedora 24 do not contain the right stuff."
First problem was there were not symbolic links for the required librarires.
After "fixing/creating" symbolic links, the contents of libssl and libcrypto do not satisfy the requirements of "servo".
This is on Fedora 24.

[plahman@localhost servo]$ ldd ./servo
./servo: /lib64/libcrypto.so.1.0.0: version `OPENSSL_1.0.0' not found (required by ./servo)
./servo: /lib64/libcrypto.so.1.0.0: version `OPE

[2016-07-01 22:23] moosingin3space commented on #12138
I'm working on making this easier for Fedora users: https://github.com/servo/servo/issues/12102

[2016-07-01 22:23] AoD314 opened #12139 "crash on start"
[code]

[2016-07-01 22:31] aneeshusa commented on #12139
I think this may be caused by `XDG_RUNTIME_DIR` being unset in your environment variables. Can you try setting it to something? I believe we don't use this variable so it shouldn't matter what you set it to, but a safe choice is probably a subdirectory in `/tmp`.

[2016-07-01 22:39] jdm commented on #12139
It looks to me like the missing fonts are a bigger problem.

[2016-07-01 22:39] stripTM opened #12140 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-01 22:40] ConnorGBrewster commented on #12140
Thank you for this report!
This is a known issue on #6564.

[2016-07-01 22:40] #12140 closed

[2016-07-01 22:44] ivanwills opened #12141 "4K screen clicking on a tab closes"
I have tried the first preview release of servo and opened up the tab bar (from the hamburger) then pined it but when I click on a tab in the side bar (which is microscopic) it just closed the tab.

[2016-07-01 22:46] bitpacket opened #12142 "Servo Multiple monitors"
Hi its looking really slick

I have a 3 monitor mac setup using macOS Sierra

1x 27" LED Cinema Display (2560x1440)
1x 27" Thunderbolt Display(2560x1440)
1 x 15" macbookpro retina in scaled mode (virtual res of 1680x1050)

when I drag the windows from the macbookpro to the large displays the window increases in size by around double and the window controls stop working. I can drag but nothing else

[2016-07-01 22:50] Wafflespeanut commented on #12045
#12030 has merged

[2016-07-01 22:50] #12045 closed

[2016-07-01 22:50] Wafflespeanut commented on #12046
#12030 has merged

[2016-07-01 23:00] kilobyte opened #12143 "thread '<unnamed>' panicked at 'Failed to rasterize the glyph?'"
Reproducible crash on Linux amd64, Debian unstable:
Go to https://angband.pl/doc/alluni.txt then scroll down.  It's a test of all simple printable non-combining/etc Unicode characters.  Somewhere around U+3A00 servo crashes:
[backtrace.txt](https://github.com/servo/servo/files/344278/backtrace.txt)

Sometimes there's a lockup while loading the file, in that case there's no message nor a backtrace,

[2016-07-01 23:06] Gozala opened #12144 "Incorrect rendering of overflown box"
Here is an example code https://jsbin.com/xovoyu/edit?html,css,output

You can run following url from servo to an output https://gozala.jsbin.com/xovoyu

You're supposed to see red box but instead you see blue one on servo.

[2016-07-01 23:25] emilio commented on #7740
I'm closing this since for now angle is a required part of our WebGL dependencies.

[2016-07-01 23:25] #7740 closed

[2016-07-01 23:36] andyfangdz opened #12145 "unknown completed load Stylesheet("https://secure.gravatar.com/css/services.css?ver=2016Julaa")"
unknown completed load Stylesheet("https://secure.gravatar.com/css/services.css?ver=2016Julaa")
### URL:
https://fas.org/blogs/secrecy/2016/07/foia-improvement/
### Backtrace:
[code]

[2016-07-01 23:48] asajeffrey commented on #12065
If we wanted to be bold, we could ban both unwrap and expect everywhere, and require explicit uses of `panic!`. This would make it much easier to get filename / line numbers.

[2016-07-01 23:51] #11987 closed

[2016-07-02 00:05] vsimon opened #12146 "Provide libembedding library in pre-built nightly snapshots"
Since servo is a browser engine being developed for application and embedded use, it would be nice if the nightly builds included the library for embedded use as well. (I believe it is called libembedding.so on linux for example)
Was looking here: https://servo-builds.s3.amazonaws.com/index.html

[2016-07-02 00:05] ConnorGBrewster commented on #12052
One option is to add a `Credits.rtf` file to `Resources`. In this file we could put the package date, servo cargo version, and commit hash. `Version 0.0.1` will still be there, but this would be a simple temporary fix. Actually adjusting the version shown on the about window itself, will be a bit more involved.

[2016-07-02 00:08] Coder206 commented on #12125
@larsbergstrom So @waddlesplash believes #11969 should be combined with #11967 (the installer). Can you update the post above?

[2016-07-02 00:10] ConnorGBrewster commented on #12145
Thank you for the bug report!
Closing this as a dupe of #12075.

[2016-07-02 00:10] #12145 closed

[2016-07-02 00:11] waddlesplash commented on #12125
Yeah, it makes the most sense to do those two as one PR.

[2016-07-02 00:13] ConnorGBrewster commented on #11903
This is still not fixed by #11321/#11934

[2016-07-02 00:20] nagisa opened #12147 "Servo does not quit on super+q"
where super+q is my WM shortcut which kills windows.

Servo instead starts consuming 100% of cpu.

Servo stdout:

[code]

[Thread backtraces](https://gist.github.com/nagisa/9ea6b23628bf78b8a4d267452f4f5b70)

Steps to reproduce:
- sh runservo.sh;
- Open 2 tabs;
- alt+f4/cmd+q/super+q/whatever other combo kills windows;
- Enjoy the portable heater.

[2016-07-02 00:25] jdm commented on #12046
As mentioned, there's no guarantee that #12030 solves this. We need to reproduce the actual panic that occurred.

[2016-07-02 00:28] larsbergstrom commented on #12125
Sounds good! I'll work with @metajack to merge the two PRs. I'll leave them like this for now, if you don't mind, because we don't have a separate issue for the icon & MSI packaging. I'm hoping we'll close this down *very* early next week.

[2016-07-02 00:29] nagisa opened #12148 "Doesn’t scroll on this page in particular"
On [this page in particular](http://kazlauskas.me/entries/x64-uefi-os-1.html) servo will refuse to scroll vertically, but will scroll just fine on other pages on that site.

[2016-07-02 00:31] Coder206 commented on #12125
@larsbergstrom Ok, that's fine by me.

[2016-07-02 00:36] aravind-pg commented on #11860
Actually, looking into it a bit more, there definitely is stuff in the spec addressing this issue of the default value. According to sections [3.2](https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-no-referrer-when-downgrade) and [7.3](https://w3c.github.io/webappsec-referrer-policy/#set-requests-referrer-policy-on-redirect), the default should be `no-referrer-when-downgrade`. And i

[2016-07-02 00:57] WardCunningham opened #12149 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://ward.bay.wiki.org/welcome-visitors.html
### Backtrace:
[code]

[2016-07-02 00:57] ConnorGBrewster commented on #12149
Thank you for the report! 😄
Closing as a dupe of #12047.

[2016-07-02 00:57] #12149 closed

[2016-07-02 00:59] WardCunningham opened #12150 "assertion failed: !self.Document().needs_reflow() || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() || self.window_size.get().is_none() ||
    self.suppress_reflow.get()
### URL:

http://ward.bay.wiki.org/welcome-visitors.html
### Backtrace:

[code]

[2016-07-02 01:16] iwehrman opened #12151 "Transform interpolation can panic"
The following is reproducible every time on my system, a 5k iMac running OS X 10.11.5, running v0.0.1.

Here's a screenshot that seems to have slightly more info than the error report below:
http://cloud.wehrman.org/3O3L1I2K2Q12

---

called `Result::unwrap()` on an `Err` value: RecvError
### URL:
https://superhuman.com/
### Backtrace:
[code]

[2016-07-02 01:18] ConnorGBrewster commented on #12151
Thank you for this report!
Closing as a dupe of  #12135.

[2016-07-02 01:41] WardCunningham opened #12152 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
http://ward.asia.wiki.org/view/federation-search
### Backtrace:
[code]

[2016-07-02 01:42] WardCunningham commented on #12152
this is a different path into #12149

[2016-07-02 01:51] aneeshusa opened #12153 "Explicitly specify MIME types in etc/ci/upload_nightly.sh"
We should explicitly specify the MIME type when we upload our nightly builds to S3 instead of letting s3cmd guess. AFAIK, we can just use `application/octet-stream` for all of our nightlies.

Example warning (from http://build.servo.org/builders/mac-nightly/builds/7/steps/shell_2/logs/stdio):
[code]

Docs: http://s3tools.org/usage

Files:
- etc/ci/upload_nightly.sh

No need for a test.

[2016-07-02 01:51] highfive commented on #12153
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-02 01:54] rebstar6 commented on #11860
Yep, it's an option to distinguish between an unset referrer policy (None), and one that has been explicitly set via meta elements or headers or otherwise.

The default should be None in the long run (which is translated to no ref when downgrade in the determine_request_referrer method). It is set to Some(no-referrer) in the short term because we have only semi-implemented referrer policy delivery

[2016-07-02 01:59] aneeshusa commented on #12052
@metajack I do not want the nightly date there because that breaks deterministic builds. However, with #12136, we can use `util::servo_version()`, which includes the git revision of the build, and should be precise enough for debugging.

[2016-07-02 02:06] webmaven commented on #3893
@metajack do you still have someone working on a logo, or is it possible to throw my hat into the ring?

[2016-07-02 02:19] ConnorGBrewster commented on #12152
Thank you for the report, this should be fixed by #12030.

[2016-07-02 02:40] webmaven commented on #10692
Have any instances of ```||``` been reported since April 27th?

[2016-07-02 02:46] jdm commented on #12151
I don't see any evidence that this is a duplicate of that one. The acid3 failure is well-known and has lots of duplicates filed, but the underlying cause of the panic here hasn't been determined.

[2016-07-02 02:47] jdm commented on #12135
This is tracked by #6519. Thanks for reporting it!

[2016-07-02 02:47] #12135 closed

[2016-07-02 02:48] jdm commented on #12151
[code]

[2016-07-02 02:49] jdm commented on #12151
[code]
cc @notriddle

[2016-07-02 02:49] jimberlage commented on #12153
I'll work on this if you want.

[2016-07-02 02:51] jdm commented on #12152
Reopening because the panic backtraces reported are often not the underlying cause.

[2016-07-02 02:52] jdm commented on #12152
[code]
Closing as a duplicate of #12149, as previously reported.

[2016-07-02 02:52] #12152 closed

[2016-07-02 02:54] jdm commented on #12150
It's easy to hit #12149 while trying to reproduce this.

[2016-07-02 02:57] jdm commented on #10692
Nobody's looked into writing the check. I've seen some valid uses in the code, though, so I don't think it's worth leaving this open.

[2016-07-02 02:57] #10692 closed

[2016-07-02 02:59] jdm commented on #12142
This is being tracked in #12010. Thanks for reporting it!

[2016-07-02 02:59] #12142 closed

[2016-07-02 03:09] ConnorGBrewster commented on #12153
@jimberlage please do!

[2016-07-02 03:09] webmaven opened #12155 "Issues with the ```C-assigned``` label do not actually have an assignee"
eg. 19 of the issues with the ```E-easy``` label also have the ```C-assigned``` label, but none of them actually have assignees:
https://github.com/servo/servo/issues?q=is%3Aopen+label%3AE-easy+label%3AC-assigned+no%3Aassignee

[2016-07-02 03:10] ConnorGBrewster commented on #12155
@webmaven we have no way to assign people unless they are apart of the Servo organization. As a workaround we use the C-assigned label to mark that the issue is assigned.

[2016-07-02 03:12] WardCunningham commented on #12150
I was testing to see if #12149 was repeatable when I hit this panic.

[2016-07-02 03:26] ConnorGBrewster commented on #12052
Work in progress: https://github.com/ConnorGBrewster/servo/tree/mac_about_version
<img width="396" alt="screen shot 2016-07-01 at 9 24 47 pm" src="https://cloud.githubusercontent.com/assets/9086315/16538012/594d8426-3fd2-11e6-9b41-462e41c0f3d9.png">

[2016-07-02 03:33] ConnorGBrewster commented on #12141
Thank you for reporting this! This is being tracked over in browserhtml/browserhtml#1086

[2016-07-02 03:33] #12141 closed

[2016-07-02 03:35] ConnorGBrewster commented on #12110
Thank you for the report, this is being tracked in #12054.

[2016-07-02 03:35] #12110 closed

[2016-07-02 03:36] webmaven commented on #12155
Have you considered creating a group with read-only permissions in the organization, and having a bot automatically add Github users to that group?

I can think of two possible policies for triggering the bot:

- Whenever any user not already in the organization takes an action like creating an issue or commenting on an issue
- When a user that **does** have write permissions gives an explicit sig

[2016-07-02 03:38] ConnorGBrewster commented on #12121
We should set a max backtrace length when generating the github issue link.

[2016-07-02 03:40] ConnorGBrewster commented on #12093
Thank you for the report!
Looks like the tabs and the search icon are not in the proper locations.

[2016-07-02 03:47] ConnorGBrewster commented on #11961
This doesn't happen when running without webrender

[2016-07-02 03:53] dumindu opened #12157 "servo unexpectedly quitted on mac"
### Steps to reproduce
1. searched `webgl examples`
2. click on 3rd link
   http://www.awwwards.com/22-experimental-webgl-demo-examples.html
3. click on image of "Lights", by Ellie Goulding

might be cache should be cleared, couldn't reproduce on 2nd time

[code]
                            VIRTUAL   REGION
[code]

[2016-07-02 03:53] aneeshusa opened #12158 "Add basic linting for etc/ci/ shell scripts"
Some good places to start:
- Check that all lines are 80 characters or less (Servo uses 120 for Rust code, but shell scripts IMO don't need that much horizontal space)
- Check for the correct shebang and bash options at the top (see the [shell section of the style guide](https://github.com/servo/servo/blob/master/docs/STYLE_GUIDE.md#shell-scripts))

Came up while reviewing #12156.
I would like for

[2016-07-02 03:53] highfive commented on #12158
cc @wafflespeanut

[2016-07-02 03:53] highfive commented on #12158
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-02 03:53] ConnorGBrewster commented on #12039
After doing a bit of research into this issue, I believe the issue is on the browser.html end with `setSelectionRange`

[2016-07-02 03:54] ConnorGBrewster commented on #12157
Not sure if this has to do with the crash, but WebGL is not currently supported in Webrender on mac.

[2016-07-02 03:55] aneeshusa commented on #12155
@webmaven this is being tracked over at https://github.com/servo/highfive/issues/30, where it looks like we are looking at a similar solution. I'm going to close this but feel free to chime in over there!

[2016-07-02 03:55] #12155 closed

[2016-07-02 04:02] webmaven commented on #12155
👍

[2016-07-02 04:08] jimberlage commented on #12158
Why don't I work on this, since my PR was the one to miss the style guidelines 😄

[2016-07-02 04:35] kilobtye commented on #12143
Does not panic on my ubuntu 16.04 machine.

But I noticed many characters are displayed as two or three �(U+FFFD). I don't know if this is a known issue? I think maybe somehow the text is cut in the middle of a utf-8 character, causing a  2 or 3 bytes utf-8 character became 2 or 3 invalid utf-8 characters.

[2016-07-02 05:43] archshift opened #12160 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://www.youtube.com/watch?v=4eNAdz8LM5g
### Backtrace:
[code]

[2016-07-02 05:44] archshift commented on #12160
Looks like a dupe, never mind.

[2016-07-02 05:44] #12160 closed

[2016-07-02 06:56] yump commented on #10199
I don't think it's just a lack of subpixel AA.  That shouldn't make a difference to the weight of the font.  Either the greyscale AA renderer is not gamma correct, or it's using (eugh!) hinting.

[2016-07-02 07:15] thewumin opened #12161 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=H5jkLjO5RD0
### Backtrace:
[code]

[2016-07-02 07:22] emilio commented on #12161
This is being tracked in https://github.com/servo/servo/issues/11992, so I'm closing this as a duplicate.

Thanks for reporting it! :)

[2016-07-02 07:23] #12161 closed

[2016-07-02 07:28] emilio commented on #12157
@ConnorGBrewster: Doesn't seem like it, it receives a SIGILL in thread 29, which is the abort for the signal handler.

This seems to happen in `GetDocumentElement`, `needs_reflow()` and associated functions, so it might be related to other crashes we're seeing.

[2016-07-02 07:35] emilio opened #12162 "Audit our crash handler"
It seems we're allocating on it, and probably doing other dangerous stuff.

Possibly in most platforms this isn't a concern (I'd expect it to be synchronized by the OS), but it is considered unsafe by POSIX allocate and another bunch of things in a signal handler.

cc @jdm

[2016-07-02 07:43] emilio commented on #12162
See https://github.com/adjivas/sig/issues/2 and https://github.com/adjivas/sig/issues/3.

[2016-07-02 08:50] emilio commented on #12162
And also https://github.com/adjivas/sig/pull/4

[2016-07-02 09:37] imjacobclark commented on #12128
Resolved in: https://github.com/servo/servo/pull/12163

[2016-07-02 09:51] liuchong opened #12164 "cannot start servo on debian stretch/sid (yet again the libssl issue)"
error message:

[code]

uname -a:
Linux localhost 4.6.0-1-amd64 #1 SMP Debian 4.6.2-2 (2016-06-25) x86_64 GNU/Linux

on my system, it is libssl.so.1.0.2, not 1.0.0,  and if I just make a link named 1.0.0 point to 1.0.2, it will report the message:

[code]

so what's wrong is 1.0.2 against 1.0.0?
could it be compiled static linked or compiled as using "libssl.so" without version

[2016-07-02 10:17] gerdneuman opened #12165 "assertion failed: count_cell.get() > 0"
Got this when trying today's nightly on Linux (Ubuntu 16-04) with the below website:

assertion failed: count_cell.get() > 0
### URL:
https://berlin.fau.org/
### Backtrace:
[code]

[2016-07-02 10:30] gerdneuman opened #12166 "Freezes / Hangs on groni50.org"
When opening groni50.org (Ubuntu 16-04) in the nightly tech demo (as of today) then the page is not fully loaded. Freezes / hangs at about the middle. Can only kill servo / browser.html with Ctrl+C in the terminal (clicking (x) close button of browser.html window does nothing).

![servor_freezes_on_groni50org](https://cloud.githubusercontent.com/assets/12525563/16539890/aa4b6eaa-4050-11e6-96d7-068

[2016-07-02 10:36] Jan-Kow opened #12167 "cannot run servo nightly in ubuntu 16.04 vm"
I just downloaded the latest nightly of Servo and followed the steps under "Linux instructions". When running using ``./runservo.sh`` nothing happens, just a new line in the console. When I run servo using ``./servo`` a blank window appears with the title of the servo.org site. What I am doing wrong? I just set up the VM to play around with servo (have an Win10 pc).

![servo](http://i.imgur.com/0q

[2016-07-02 11:09] LaurentBonnaud opened #12168 "index out of bounds: the len is 0 but the index is 0"
index out of bounds: the len is 0 but the index is 0
### URL:
http://css3test.com/
### Backtrace:
[code]

[2016-07-02 12:04] vmakhaev opened #12169 "Crashes on lenta.ru website"
When I try to open `lenta.ru`, browser crashes.
It works fine on some other sites.

[2016-07-02 12:04] Manishearth commented on #12169
Could you post the backtrace

[2016-07-02 12:08] szagi3891 opened #12170 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0 ### URL: http://wiadomosci.onet.pl/ ### Backtrace: ``` frame #0 - 0x00007fb333387d8d - backtrace::backtrace::trace::hccde8df28b4db2a2 frame #1 - 0x00007fb333387d15 - backtrace::capture::Backtrace::new::h42f95930bb8c5ee8 frame #2 - 0x00007fb332555359 - _<F as alloc..boxed..FnBox<A>>::call_box::hc555946005547ceb frame #3 - 0x00007fb33337eb98 - util::panicking::

[2016-07-02 12:13] nox commented on #12170
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-02 12:13] #12170 closed

[2016-07-02 12:13] nox commented on #12165
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-02 12:13] #12165 closed

[2016-07-02 12:25] aneeshusa commented on #12158
Go for it! Beware though, you'll need to fix up all of the other scripts that were added previously (I think many of those also fail to conform to these guidelines) :)

[2016-07-02 12:30] kilobyte commented on #12143
Tried in fresh VMs: crash on Debian stretch (upcoming release), no crash on jessie (stable).

[2016-07-02 12:42] Ms2ger commented on #12168
Should be fixed by #12008; thanks for the report!

[2016-07-02 12:42] #12168 closed

[2016-07-02 12:49] Ms2ger commented on #12126
They do something... special:
[code]

Probably one of the script errors is related
[code]

[2016-07-02 12:51] MartinodF opened #12171 "Animation debug_assert failure"
called `Result::unwrap()` on an `Err` value: RecvError
### URL:
https://www.lays.it/piacere-lays/full
### Backtrace:
[code]

[2016-07-02 13:19] alex commented on #12126
Perhaps this is just a specific case of #3704 then?

[2016-07-02 13:24] MartinodF commented on #12171
The same page, with a debug build compiled from master a few minutes ago (commit `1ed06777ee1e69c8b56715c897a5bd66ad9e235e`), shows a different error:

[code]

[2016-07-02 13:37] sbrinkerhoff commented on #12169
[code]

[2016-07-02 13:38] Manishearth commented on #12169
Thank you!

cc @glennw

[2016-07-02 13:40] sbrinkerhoff commented on #12166
[code]

[2016-07-02 13:51] lhirlimann commented on #12138
this is a dup of 12015

[2016-07-02 14:01] a-p- opened #12172 "unknown completed load Stylesheet("http://cdn.viafoura.net/56834d9/viafoura.css")"
Build of `master` (1ed06777ee1e69c8b56715c897a5bd66ad9e235e) on OS X 10.11.5.

Unsure if it's a dupe of #12075. (Backtrace here is somewhat deeper.)

URL: http://cbc.ca

[code]

[2016-07-02 14:10] frewsxcv commented on #12164
This is probably a duplicate of https://github.com/servo/servo/issues/12015.

[2016-07-02 14:10] #12164 closed

[2016-07-02 14:40] jdm commented on #12126
I suspect the `<script type='text/template'>` is visible on the page when it shouldn't be. We should fix that if it's the case.

[2016-07-02 14:42] jdm commented on #12171
cc @emilio it appears some debug asserts in update_style_for_animation are being hit.

[2016-07-02 14:42] jdm commented on #12171
The release build panic is tracked in #12151.

[2016-07-02 14:45] est31 commented on #12138
It appears that fedora has a custom soname: https://bugzilla.redhat.com/show_bug.cgi?id=1277662

Godotengine has solved this by statically linking to openssl, even though they knew its not the perfect solution: https://github.com/godotengine/godot/issues/1391

[2016-07-02 14:46] jdm commented on #12157
I didn't even get a chance to click on anything before I got this assertion failure in a debug build:
[code]
That's the same one as #12171, presumably.

[2016-07-02 14:47] jdm commented on #12172
Duplicate of #12075. Thanks for reporting it!

[2016-07-02 14:47] #12172 closed

[2016-07-02 14:48] jdm commented on #12169
Looks like a duplicate of #12018. Thanks for reporting it!

[2016-07-02 14:48] #12169 closed

[2016-07-02 14:54] jdm opened #12173 "Image cache thread uses unwrap unnecessarily"
There are various uses in `handle_cmd` where we unwrap the result of a `send()` - we should just ignore the result with `let _ =` instead. This prevents the image cache thread from panicking if it tries to communicate with another thread that has panicked.

Code: `components/net/image_cache_thread.rs`

No need for automated tests here; if it builds, that's good enough.

[2016-07-02 14:54] highfive commented on #12173
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-02 14:59] jdm commented on #12166
This may be fixed by whatever fixes #12075, but I'm not confident enough to mark it as a duplicate.

[2016-07-02 14:59] jdm commented on #12138
Duplicate of #12015. Thanks for reporting it!

[2016-07-02 14:59] #12138 closed

[2016-07-02 14:59] jdm commented on #12090
Duplicate of #12015. Thanks for reporting it!

[2016-07-02 14:59] #12090 closed

[2016-07-02 15:04] frewsxcv commented on #12015
Possibly related issue: https://github.com/sfackler/rust-openssl/issues/401

[2016-07-02 15:34] jdm commented on #12047
The issue here is based on creating a stylesheet via innerHTML, which creates a document fragment and confuses the logic about when the stylesheet should be considered parser-inserted or not.

[2016-07-02 15:45] suhr opened #12174 "URL bar autocomplete is annoying"
When you press arrow key (←) to fix a typo it makes completed text persistent so you have to remove it.
Then you type text in the middle of word, it autocompletes the end.
Also it blinks while it really should not to.

Servo/browserhtml: nightly build.

Additional info: Yandex is a good example how proper autocomplete looks like. Everything is instant, completion is grey and becomes a text only wh

[2016-07-02 15:51] Manishearth commented on #12047
Be very wary of memory corruption and whatnot.

This doesn't feel like a logic bug so far, bit I'll do a thorough investigation Monday.

[2016-07-02 15:53] jdm commented on #12047
It is absolutely a logic bug. I see no signs of memory corruption. We have a link element that's created in innerHTML that kicks off a load, then it is cloned, and the clone is inserted into the original document and another load starts. Both loads use the same document and the logic gets all confused.

[2016-07-02 15:57] jdm commented on #12047
This is fixed by the following change:
[code]

[2016-07-02 16:05] #11599 closed

[2016-07-02 16:42] Manishearth commented on #12047
Huh. When I looked at it so far I got the appropriate matched number of increments and decrements, just that one of them didn't actually increment (though the document being operated on was the same in all three cases). Will look at again.

[2016-07-02 17:00] andrebeat commented on #12173
I have created a PR to fix this.

[2016-07-02 17:30] LifeIsStrange commented on #12174
Maybe that I say something stupid but you should probably take some code and ideas from this library:
https://github.com/algolia/places
Or even use it, and you will benefit of free updates.

[2016-07-02 17:33] sebastianbiallas opened #12176 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.youtube.com/watch?v=gMaG7f2XXnM
### Backtrace:
[code]

[2016-07-02 17:45] suhr commented on #12174
@LifeIsStrange Yandex style autocomplete is better tbh.

[2016-07-02 17:45] mason-larobina commented on #12174
My experience: typing faster than the auto-complete handler will insert characters in the wrong place.

For example typing my last name "larobina" frequently results in "larobian" or "larobian spencer" despite not pressing ←, → or Tab.

[2016-07-02 17:46] ConnorGBrewster commented on #12174
@mason-larobina that issue is tracked over on browserhtml/browserhtml#1157. Hopefully we can have a fix for it soon.

[2016-07-02 17:49] #12153 closed

[2016-07-02 17:55] narfg commented on #12053
I have the same issue. It seems to work fine if I use OpenGL 3.1 with this patch:
[code]
Is there a specific reason for the OpenGL 3.2 requirement?

[2016-07-02 17:55] mason-larobina opened #12177 "New tab order."
Opening a new tab counter-intuitively places the new tab index at 0.

For example with the following tabs open and tab index 1 active:

[code]
Pressing `Ctrl+T` (open new tab) results in:

[code]

And a subsequent `Ctrl+W` (close tab) does nothing.

I would have expected the following behaviour on `Ctrl+T`:

[code]

And `Ctrl+W` to return to the original state:

[code]

Thanks!

(I'm loving the pu

[2016-07-02 18:03] mason-larobina commented on #8547
Zooming the top-level window has unexpected results on my machine (though it could be a poor interaction with my window manager).

![2016-07-02-140011_3200x1800_scrot](https://cloud.githubusercontent.com/assets/98076/16541834/9d5bf1f8-405d-11e6-96d0-1d2f840a6b00.png)

[2016-07-02 18:04] mason-larobina commented on #12174
Awesome, thanks Connor!

[2016-07-02 18:11] aravind-pg commented on #11384
All right! Took me a little while to figure out the concrete details but here's what I did:
- Updated the spec.src.json file (only in the main folder, not mozilla yet) to add the new "orirgin" and "same-origin" sections as present in W3C master's copy of spec.src.json.
- Generated the new test files, updated the manifest etc.
- Built servo in release mode and then ran the new tests in release mode

[2016-07-02 18:13] ConnorGBrewster commented on #12177
@mason-larobina glad to hear you are enjoying the nightlies!
The Crtl-W doing nothing is an issue I have ran into, bhtml stops listening for key command, my usual workaround is to activate/deactivate the url bar and the key commands work again.

As for the newtab, it is currently set up to always have the newtab at the top, might be something you want to open an issue about over at [browserhtml](h

[2016-07-02 18:15] mason-larobina commented on #12177
Gotcha, I'll move it over to browserhtml.

Thanks!

[2016-07-02 18:15] #12177 closed

[2016-07-02 18:15] lqd opened #12179 "OpenGL related crashes on OSX Yosemite with Intel card"
The Servo and Github links on Servo's start page are crashing the app, on OSX 10.10.5 and mid-2011 macbook air (Intel HD Graphics 3000)

Crash report: https://gist.github.com/lqd/7dad172f5c6b998bb9adb1b2295eab2a

[2016-07-02 18:23] lqd commented on #12179
Log from run-servo:
Unhandled error occured
ReferenceError: navigator.mozSettings API is not available
ERROR:js::rust: Error at https://assets-cdn.github.com/assets/frameworks-f2de4c863a487a877150989f965232bacfde178abf9c1963d9f84c5c19916f0c.js:6:2035: history is not defined

ERROR:js::rust: Error at https://assets-cdn.github.com/assets/frameworks-f2de4c863a487a877150989f965232bacfde178abf9c1963d9f

[2016-07-02 18:35] ConnorGBrewster commented on #10199
Possibly fixed by #11103?

[2016-07-02 18:42] #12094 closed

[2016-07-02 18:59] dzbarsky opened #12180 "news.google.com layout is borked"
[https://www.dropbox.com/s/mrdgmjtwczzlh0u/Screenshot%202016-07-02%2012.00.30.png?dl=0](https://www.dropbox.com/s/mrdgmjtwczzlh0u/Screenshot%202016-07-02%2012.00.30.png?dl=0)

[2016-07-02 19:21] dzbarsky commented on #12171
I got a different error on this page in debug servo on OSX
[code]

[2016-07-02 19:25] est31 commented on #12015
This sounds like an issue godotengine had where they have built the binaries on an ubuntu travis instance, and then fedora users downloaded and got a similar problem: https://github.com/godotengine/godot/issues/1391

Out of some reason, Fedora has a custom soname for the openssl library, and as the soname gets stored at linking time, the soname the binary has stored differs from the soname that is

[2016-07-02 19:40] emilio commented on #12171
I'm looking at it, the problem in #12151 is a different problem and should be fixed by #12159

[2016-07-02 19:58] jc00ke opened #12181 "Unable to execute ./runservo.sh on Ubuntu 16.04"
I downloaded today's nightly and got the following error:

[code]

[code]

[2016-07-02 20:03] lqd commented on #12179
After building servo locally, I was able to make it crash with a debug build, and there was nothing more in the console.
And actually, all the errors in my previous comment were either printed at launch (first 2) or when loading github (js errors), that is, way before the crash.

At some point during my testing there also was this message in the console "Received Tick when progress was Idle: https

[2016-07-02 20:27] #12083 closed

[2016-07-02 20:52] mbStavola opened #12182 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

https://news.ycombinator.com/item?id=12014075
### Backtrace:

[code]

A little ironic that this happened while I was reading about Servo on HN. Liking it so far though!

[2016-07-02 20:55] paulsmith opened #12183 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://www.youtube.com/watch?v=dqFZw-fv2jM
### Backtrace:
[code]

[2016-07-02 20:57] jdm commented on #12174
I believe every issue mentioned here is belongs in the issue tracker for https://github.com/mozilla/browser.html/, which is responsible for the UI of Servo nightlies. Thank you for reporting them!

[2016-07-02 20:57] #12174 closed

[2016-07-02 20:58] jdm commented on #8547
@mason-larobina Could you file a new issue for that? This one is tracking a DOM API for use in browser.html that has not been implemented yet.

[2016-07-02 21:02] jdm commented on #11384
We should remove everything from https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/referrer-policy/spec.src.json#L372 except iframe-tag, which will avoid generating tests for any other types of requests.

[2016-07-02 21:04] jdm commented on #12182
I have not been able to reproduce this on a debug OS X build yet.

[2016-07-02 21:08] jdm commented on #11384
And yeah, those steps do sound correct. Thanks!

[2016-07-02 21:10] jdm commented on #10254
With the changes from #12047 applied I can't reproduce the problem on any of the URLs listed here.

[2016-07-02 21:14] mbStavola commented on #12182
If it helps, this only happened the first time I loaded the page. Additional visits do not produce the same error.

I'm on 64-bit Antergos running kernel 4.6.2-1.

[2016-07-02 21:22] ConnorGBrewster commented on #12183
Thank you for the report! This is fixed by #12030.

[2016-07-02 21:23] aravind-pg commented on #11384
Great, thanks for the clairification :)

[2016-07-02 21:24] jdm commented on #12183
Sorry, we can't trust stacks in automated panic reports. We need to reproduce this manually and verify the actual first panic that occurs.

[2016-07-02 21:24] jdm commented on #12183
That being said, all youtube panics are duplicates of #11992.

[2016-07-02 21:24] #12183 closed

[2016-07-02 21:24] jdm commented on #12176
This is a duplicate of #11992. Thanks for reporting it!

[2016-07-02 21:24] #12176 closed

[2016-07-02 21:27] jdm commented on #10254
Sorry, I didn't notice that the original URL (rather than the simplified one) still shows the "unknown completed load" panic. Let's keep this issue focused on that panic and leave #12047 for the original assertion.

[2016-07-02 22:07] jdm commented on #12116
[code]

[2016-07-02 22:08] jdm commented on #12116
Looks like a likely duplicate of #11733.

[2016-07-02 22:08] emilio commented on #12179
Hi @lqd, thanks for your super-complete report! :)

I think @pcwalton could be interested on this, it seems to happen in [`deinit_texture`](https://github.com/servo/webrender/blob/1ce30fe66de3782100755ca6e088bd6a595d45bd/src/device.rs#L1193) in webrender.

[2016-07-02 22:12] mason-larobina opened #12187 "Zoom re-drawing artifacts"
(Please update title if this is confusing).

Zooming in or out seems to change the views notion of window size too causing areas of the UI which aren't re-drawn (or overflow).

This could be a poor interaction with my tiling window manager (dwm).

![2016-07-02-140011_3200x1800_scrot](https://butt.githubusercontent.com/assets/98076/16541834/9d5bf1f8-405d-11e6-96d0-1d2f840a6b00.png)

[2016-07-02 22:14] mason-larobina commented on #8547
Done https://github.com/servo/servo/issues/12187

(Just to check, did you mean a servo or bhtml issue?)

[2016-07-02 22:16] jdm commented on #12075
@mbrubeck This assertion seems to be part of the ASCII fast-path code added in #11273.

[2016-07-02 22:17] jdm commented on #12081
@mbrubeck The assertion here was added as part of the fast path in #11273.

[2016-07-02 22:20] jdm opened #12188 "Avoid many uses of unwrap in font_cache_thread.rs"
There are many uses of `unwrap()` on the result of sending data to another thread. We should replace those with `let _ =` instead, since we don't need to care if the target thread no longer exists. This will avoid the font cache thread panicking if another thread that it is communicating with panics.

Code: `components/gfx/font_cache_thread.rs`

No need for automated tests; if it compiles, that's

[2016-07-02 22:20] highfive commented on #12188
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-02 22:25] jdm commented on #8547
I meant servo. Thanks!

[2016-07-02 22:26] jdm commented on #12187
How are you zooming?

[2016-07-02 22:28] jdm commented on #12067
[code]

[2016-07-02 22:31] jdm commented on #12048
I hit #12081 while trying to reproduce this.

[2016-07-02 22:33] jdm commented on #12046
This is a duplicate of #12151. Thanks for reporting it!

[2016-07-02 22:33] #12046 closed

[2016-07-02 22:38] jdm commented on #12027
This is a duplicate of #12151. Thanks for reporting it!

[2016-07-02 22:38] #12027 closed

[2016-07-02 22:42] aneeshusa commented on #12052
I like it, but I think having two different version shown may be confusing/users won't know which one to report. I'd lean towards just using the version with the git hash.

[2016-07-02 22:44] ConnorGBrewster commented on #12052
@aneeshusa good point, I will just change that to the commit hash.

[2016-07-02 22:46] mason-larobina commented on #12187
Not an unreasonable question.

After some amount of confusion I found that I was "zooming in" the browserhtml chrome causing the actual website view to shrink.

This appears to only happen when the tab list is pinned.

[2016-07-02 22:48] jdm commented on #12187
Just to be clear - is this pinch zoom? Keyboard shortcut? Something else?

[2016-07-02 22:50] mason-larobina commented on #12187
Ctrl + Plus

[2016-07-02 22:51] jdm commented on #12075
http://cbc.ca/ is the URL I was able to reproduce this with after disabling #12081.

[2016-07-02 22:56] jdm commented on #12075
My investigations here show a very similar stack to #12047. I suspect this problem will be fixed when that is fixed.

[2016-07-02 22:56] llogiq opened #12189 "Shift-7 enters "&" instead of "/" on German keyboard"
I just played around with servo a bit and found that I could not enter slashes because [Shift]+[7] inserts "&" instead of "/".

Steps to reproduce:

* get servo nightly for Linux x64
* build servo (because dependencies, copy over the nightly servo binary)
* run servo/runservo.sh, marvel that it actually runs
* Click on the address bar
* Try to enter "/" on a German keyboard

[2016-07-02 22:59] jdm commented on #12189
This is likely a duplicate of #4144 and should be fixed by #11950.

[2016-07-02 23:10] jdm commented on #12048
We have two instances of layout threads being shut down (removing iframes, perhaps?), and then a network response completing and a script attempting to execute in a script thread that was previously shut down.

[2016-07-02 23:29] hgallagher1993 commented on #12188
Ya I'll pick this one up

[2016-07-02 23:40] aneeshusa commented on #12065
@asajeffrey I think using `panic!` by itself is too verbose. How about using https://github.com/canndrew/unwrap, which has an `unwrap!` macro? It's almost as ergonomic as regular unwrap, but retains filename/line number information as well as the function from which it was called.

[2016-07-02 23:58] ConnorGBrewster commented on #12188
@hgallagher1993 its all yours! (for real this time 😉)

[2016-07-03 00:11] ConnorGBrewster commented on #12018
[code]

[2016-07-03 00:13] ConnorGBrewster commented on #12122
I cannot reproduce this on OS X. Possibly related to the other YouTube issues? #11992

[2016-07-03 01:04] asajeffrey commented on #12065
The verboseness would discourage people from panicking, which is good :) But there are 1500 uses of `unwrap()` in our code, which I really don't fancy tackling :(

[2016-07-03 02:00] shepmaster opened #12191 "Basic `display: flex` layout is not supported"
A very basic usage of flexbox doesn't seem to work, contrary to what #7154 / #7312 seem to indicate.
## To reproduce

Save this HTML and open it:

[code]
## What I expected:

**Chrome 54.0 (canary)**
<img width="128" alt="flexbox-chrome-54 0-canary" src="https://cloud.githubusercontent.com/assets/174509/16543378/c93714f0-409f-11e6-93d6-7c7cc43e551c.png">
**Firefox 47.0**
<img width="143" alt="flex

[2016-07-03 02:22] jdm commented on #12191
Flex box support is disabled by default and needs to be enabled via preference.

[2016-07-03 02:24] jdm commented on #12018
@connorgbrewster that's a different assertion that should be filed separately.

[2016-07-03 02:41] ConnorGBrewster commented on #12018
@jdm sorry, was going off of the linked backtrace, which has the same assertion failure. I will file a new issue.

[2016-07-03 02:42] cbrewster opened #12192 "assertion failed: allocation_size.width < max_texture_size()"
[code]

Found on https://mapbox.com

[2016-07-03 02:42] shepmaster commented on #12191
Ah, I [see now](https://github.com/servo/servo/blob/307844a8c17aedc369388baf4d98b0f82c3b695b/resources/prefs.json).  Running

[code]

Produces this:

<img width="758" alt="flexbox-servo-prefs" src="https://cloud.githubusercontent.com/assets/174509/16543498/bb578ef4-40a5-11e6-9061-48a8f334d4f8.png">

Feel free to repurpose / close this issue as you see fit. I guess I should look for a "does Servo s

[2016-07-03 03:10] jdm commented on #12191
Let's scope this issue to the incorrect rendering that's present when flexbox layout is enabled.

[2016-07-03 04:57] veer66 opened #12193 "Servo displays upper level Thai character in wrong place."
On Ubuntu 16.04, Servo nightly, that I downloaded on 2016-07-03, displays upper level Thai characters in the incorrect place. Moreover it choose incorrect glyph too.

Update: Servo on Mac OS X 10.11.5. has this issue too.

The text is "ยินดี". It is supposed to display    ี  on top of ด but it displays     ิ   on top of น, which is incorrect glyph and incorrect placement.

![servo_thai_bug](https:

[2016-07-03 07:59] lfairy commented on #12181
It works when you add `#!/bin/sh` to the beginning of the file. Not sure why that line isn't there already.

[2016-07-03 08:09] mvancanneyt opened #12194 "Cannot type : (colon) on azerty keyboard on linux"
Title says it all. Tested with published linux build

[2016-07-03 08:16] samal84 commented on #12051
Did `git clean -fxxd` and `./mach build -r` and got the same results:
[console-output.txt](https://github.com/servo/servo/files/344932/console-output.txt)

The whole MSYS2 environment is brand new. I just installed it to build servo two days ago, and I followed the official servo build docs.

[2016-07-03 09:04] Manishearth commented on #12194
Dupe of https://github.com/servo/servo/pull/11955/.

Thanks for reporting!

[2016-07-03 09:04] #12194 closed

[2016-07-03 10:01] nzod commented on #12181
The shebang line is already present.
It does take a minute to start up but executing runservo.sh works for me. (Ubu 16.04)

[2016-07-03 10:17] Jan-Kow commented on #12167
Fixed this by just adding ``#!/bin/sh`` to the top of the ``runservo.sh`` file. Someone should add this.

(ref: https://github.com/servo/servo/issues/12181#issuecomment-230140928)

[2016-07-03 10:17] #12167 closed

[2016-07-03 12:20] Jan-Kow commented on #12181
@jc00ke Why do you type in ``servo`` in front? What happens if you just type ``./runservo.sh``?

[2016-07-03 13:12] MekliCZ opened #12197 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://blowjs.com/
### Backtrace:
[code]

[2016-07-03 13:12] #12197 closed

[2016-07-03 13:35] #11984 closed

[2016-07-03 13:44] MatsPalmgren opened #12198 "Border of nested inline is in the wrong place"
Using "Servo 0.0.1-307844a" on Linux.
The solid border of the inner element is render in the wrong place.
It appears to be around the padding of the outer element.

data:text/html,<span style="border:1px dotted; padding:10px"><span style="border:1px solid">Hello</span></span>

[2016-07-03 14:04] Coder206 commented on #11980
I am interested in helping out with this.

[2016-07-03 14:09] aneeshusa commented on #11980
@Coder206 this is a fairly large task and can't (shouldn't) be solved in one PR, so this is a metabug. I'd suggest looking at https://reproducible-builds.org/docs/ for a smaller piece of non-determinism to remove from our build and opening a separate issue/PR for it that links to this one to start.

[2016-07-03 14:26] #12151 closed

[2016-07-03 14:41] Jan-Kow commented on #12181
@nzod Thought that to but it looks like he's trying to run the servo executable and ``. /runservo.sh`` as an argument :D

Sounds pretty strange but try use another shell, just like Ubuntu's integrated Terminal or XTerm. I looked up the error on google and found out that this happens to many scripts when trying to execute them using fish-shell.

[2016-07-03 15:19] #12173 closed

[2016-07-03 15:28] pintergreg commented on #12134
Same here, with Arch Linux 4.6.3-1-ARCH #1 SMP PREEMPT Fri Jun 24 21:19:13 CEST 2016 x86_64 GNU/Linux
[code]

[2016-07-03 15:35] calixteman opened #12199 "The two gray containers are empty on servo.org"
![screenshot](https://cloud.githubusercontent.com/assets/5641725/16546234/184b9b48-4144-11e6-8fb7-01e263653c53.png)

I compiled (with --release) servo today from git sources.

[2016-07-03 17:13] jc00ke commented on #12181
`servo` is the dir name in my `fish` shell.

@Jan-Kow is correct, it's something with `fish`

[code]

I've never seen an executable script w/o a `#!` line and it looks like it was added in #12020 so I'll close.

fish-shell/fish-shell#1281

[2016-07-03 17:13] #12181 closed

[2016-07-03 18:54] simartin commented on #12071
This is due to "Key::Tab => KeyReaction::TriggerDefaultAction," in components/script/textinput.rs, and removing it solves the issue.

I propose to accept this issue and see if I can add a test for this.

[2016-07-03 19:39] ConnorGBrewster commented on #11019
This issue does not seem to be fixed (or it has regressed since servo/webrender#282).

[2016-07-03 19:39] ConnorGBrewster commented on #12199
Thank you for this report. This is a known issue and is being tracked in #11019.

[2016-07-03 19:39] #12199 closed

[2016-07-03 19:41] ConnorGBrewster commented on #12198
<img width="651" alt="screen shot 2016-07-03 at 1 41 09 pm" src="https://cloud.githubusercontent.com/assets/9086315/16547245/d65384dc-4123-11e6-82c7-1371c563d0ed.png">

[2016-07-03 19:57] ConnorGBrewster commented on #11019
The preview test case seems to work now, here is a new test case that does not:
[code]
If the `overflow: auto;` div is initially positioned outside the viewport, when you scroll down the text is not there. If the div is initially positioned inside the viewport, the text renders in the correct position even after scrolling.

[2016-07-03 20:27] choudanu4 opened #12201 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.androidpolice.com/2016/07/03/lego-city-my-city-2-mixes-elements-from-sim-city-and-sandbox-games-for-kid-friendly-fun/

### What didn't load:
The disqus comments section, the embedded youtube link, and the ads did not load before the issue arose.

### Backtrace:
[code]

[2016-07-03 20:38] hgallagher1993 commented on #12188
@jdm I'm just looking at this issue now and I'm just wondering if I have this right. There's a few `result.send(...blah...).unwrap()` in the match statement of `impl FontCache` (line 160), I just have to change them ones to `let _ = result.send(...blah...);`?

@ConnorGBrewster Thanks, I'll have this one finished post haste :sunglasses:

[2016-07-03 20:43] #12171 closed

[2016-07-03 21:39] pahakalle opened #12203 "Uses american keyboard layout"
servo doesn't recognise the system default keyboard layout.

[2016-07-03 22:05] glennw commented on #12053
At the moment, WR relies on (I think) OpenGL 3.0 and nothing more than that. *However* I think we were hitting issues on MacOS creating a valid context, which is why we switched to 3.2 for now as a workaround.

Long term, I believe we could support back as far as OpenGL 2.1 if we wanted to (although this is low priority).

Someone above had OpenGL 1.4, which we won't be supporting - but this is pr

[2016-07-03 22:43] Coder206 commented on #11980
@aneeshusa So if I read correctly, you want me to find something that will suit me from the documentation, work on that and then PR my code?

[2016-07-03 23:38] campaul commented on #11074
#11149 is my PR that fixes this (sort of, it's still being tweaked). #8968 is a different but related issue.

[2016-07-04 01:28] Coder206 commented on #11983
Not sure where to start. Would I be able to use Rust to write the code and implement @ConnorGBrewster's issue?

[2016-07-04 01:33] ConnorGBrewster commented on #11983
@Coder206 the packaging script is in `python/servo/package_commands.py`, if you look there there are android, OS X, and other branches for packaging. The other branch (which will be used for only linux in the future) currently makes changes to the [debug|release] folders when making the package. I would rather create a new directory and copy the needed files to the new directory than altering the

[2016-07-04 01:59] KiChjang commented on #12128
This is not yet resolved until #12163 is merged to the master branch.

[2016-07-04 02:07] highfive commented on #11983
cc @wafflespeanut

[2016-07-04 02:07] jdm commented on #12188
@hgallagher1993 Yes, that's exactly right.

[2016-07-04 02:16] aneeshusa commented on #11980
Right! I would also ask that you once you find something to work on in our build system, that you open an issue for it so we can assign it to you and as a place for any questions.

[2016-07-04 02:16] jdm commented on #12201
This is a duplicate of #12047. Thanks for reporting it!

[2016-07-04 02:16] #12201 closed

[2016-07-04 02:20] rzambre commented on #11920
The fix by mmatyas works well. Closing the issue.

[2016-07-04 02:20] #11920 closed

[2016-07-04 02:21] cancanyang opened #12204 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://tieba.baidu.com/
### Backtrace:
[code]

[2016-07-04 02:24] #11933 closed

[2016-07-04 02:37] KiChjang commented on #12204
Closing as a duplicate of #12047. Thanks for reporting!

[2016-07-04 02:37] #12204 closed

[2016-07-04 03:15] rzambre commented on #11627
Fixed by #11687. Closing issue.

[2016-07-04 03:15] #11627 closed

[2016-07-04 03:26] jdm commented on #12203
This is tracked in #4144. Thanks for reporting it!

[2016-07-04 03:26] #12203 closed

[2016-07-04 06:08] di1 opened #12206 "Inconsistent rendering for paragraph"
Individual character colored differently (in single paragraph) than firefox. Servo on Mac, prebuilt developer preview.

http://devday.in

<img width="791" alt="screen shot 2016-07-04 at 11 34 47 am" src="https://cloud.githubusercontent.com/assets/9478611/16552067/83ad29c8-41db-11e6-916b-53c1974bb3c5.png">
<img width="908" alt="screen shot 2016-07-04 at 11 34 58 am" src="https://cloud.githubusercon

[2016-07-04 07:29] t0k4rt opened #12207 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:

http://natron.fr/
### Backtrace:

[code]

[2016-07-04 08:11] homburg opened #12209 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://webtv.stofa.dk/
### Backtrace:
[code]

[2016-07-04 08:12] homburg opened #12210 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=Q3LDjExp8rs
### Backtrace:
[code]

[2016-07-04 08:39] nox commented on #12209
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-04 08:39] #12209 closed

[2016-07-04 08:43] nox commented on #12206
The wrong font issue is fixed by https://github.com/servo/servo/pull/12208 by the colouring is probably something else.

[2016-07-04 08:47] rejas opened #12211 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.automobile.fr/
### Backtrace:
[code]

[2016-07-04 09:00] johncatley opened #12213 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.heise.de/ix/heft/Wolke-an-Wolke-3242176.html
### Backtrace:
[code]

[2016-07-04 09:02] nox commented on #12211
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-04 09:02] #12211 closed

[2016-07-04 09:02] nox commented on #12213
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-04 09:02] #12213 closed

[2016-07-04 09:06] nox commented on #8883
@zmike Is this solved?

[2016-07-04 09:30] NgoHuy commented on #12134
Hi guys,
You must remove `-w` option in `runservo.sh` to run in archlinux

[2016-07-04 10:12] Coder206 commented on #11983
@ConnorGBrewster Ok perfect. That makes sense! Thanks :)

[2016-07-04 11:09] Manishearth commented on #12047
Ah, it seems like the increment and decrement are called on different `Document` objects. Not sure if this is a different bug or the same bug that @jdm's comment fixes. I did check for this on Friday, but I guess the addresses looked too similar 😄

The two documents have the same URLs. I have a [hackily obtained diff](https://gist.github.com/Manishearth/18ad87167f4c7d64125c7ce875523a1b) of the doc

[2016-07-04 11:33] Manishearth commented on #12047
Ah, it's innerHTML. innerHTML creates a temporary document (see `parse_html_fragment`). If that document contains a `<link rel=stylesheet>`, that stylesheet increments the count on the temporary document, but the decrement happens on the real document.

Perhaps in parse_html_fragment we should copy any blocking stylesheet counts back to the main document? I don't think we should be creating docume

[2016-07-04 11:35] Manishearth commented on #12047
MWE:

[code]

[2016-07-04 11:36] Ms2ger commented on #12047
Even if we do keep creating documents, I don't think we should ever load stylesheets in those documents.

[2016-07-04 11:37] Manishearth commented on #12047
Regardless, @jdm's original fix should work too.

[2016-07-04 11:47] elioqoshi commented on #3893
I'd be happy to work on a logo as well. I have done some logos for Mozilla in the past:
https://elioqoshi.me/en/mozilla-logos/

[2016-07-04 11:48] matthiaskrgr opened #12215 "browserhtml: crashes if no search suggestions can be provided"
run ./mach run -r --browserhtml
enter "aaaaaaaaaaaaa" into address bar
hold down delete to remove characters
=> servo crashes:

[code]

servo @ 110fd6861007544b4f5b15d49da4f297c200bd7c

[2016-07-04 11:49] eddyb commented on #12215
Is that the delete key, or backspace? My first guess would be something to do with history navigation.

[2016-07-04 11:51] matthiaskrgr commented on #12215
Yes, backspace. But the issues seems to be somewhere else actually I think.
It might be that it crashes because it can't find any search suggestions for "aaaaaaaaaaaaaa"

It is very easy to make it crash by just entering garbage into the address bar.

[2016-07-04 12:15] StuntsPT commented on #6661
I would be **very** interested in seeing this, now that nightly builds are out.

[2016-07-04 12:22] avadacatavra commented on #11774
@jdm can I work on this?

[2016-07-04 12:38] RalfJung commented on #12015
This bug is not specific to Fedora at all. I am getting the same error on Debian testing:

$ ./runservo.sh
./servo: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory
$ find /usr/lib -name "libssl*"
/usr/lib/i386-linux-gnu/i686/cmov/libssl.so.1.0.2
/usr/lib/i386-linux-gnu/libssl.so.1.0.2
/usr/lib/x86_64-linux-gnu/libssl3.so.1d
/usr/lib/

[2016-07-04 13:07] jdm commented on #12047
I'm glad to see that we have converged on the same explanation for this issue.

[2016-07-04 13:22] alex commented on #12210
Dupe of #11992

[2016-07-04 13:24] jdm commented on #12210
Thanks for reporting it!

[2016-07-04 13:24] #12210 closed

[2016-07-04 13:25] Trenker opened #12217 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://typo3.org/news/article/typo3-v81-tightening-the-screws/
### Backtrace:
[code]

[2016-07-04 13:26] nox commented on #12217
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-04 13:26] #12217 closed

[2016-07-04 13:29] gpoesia commented on #11936
I tried reproducing it, but it looks fixed on master:
![ddg_places](https://cloud.githubusercontent.com/assets/1392193/16561919/1e8c47c6-41d2-11e6-8325-64788e4eb62e.png)

[2016-07-04 13:45] jdm commented on #11774
@avadacatavra Yes please!

[2016-07-04 13:47] wallacesilva opened #12219 "Problem on open youtube"
called `Result::unwrap()` on an `Err` value: IdnaError&body=
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=qwIMLDptADE
### Backtrace:
[code]

[2016-07-04 13:52] jdm commented on #12219
This is tracked in #11992. Thanks for reporting it!

[2016-07-04 13:52] #12219 closed

[2016-07-04 13:56] jdm commented on #12207
Curious; in a debug build on mac I see completely garbage rendering (a flickering window filled with portions of existing video memory), and then I get a SIGPIPE presumably triggered by this backtrace:
[code]

[2016-07-04 13:57] oxwivi opened #12220 "GL context creation failed on nightly"
Unlike the other similar report, there's nothing about SSL in the backtrace:

[code]

[2016-07-04 14:00] abbaspour opened #12221 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://www.inter.it/en/hp
### Backtrace:
[code]

[2016-07-04 14:01] Manishearth commented on #12221
dupe of #12047

Thanks for reporting!

[2016-07-04 14:01] #12221 closed

[2016-07-04 14:08] gpoesia commented on #11527
I'm taking a look at this.

[2016-07-04 14:12] halfpastfive commented on #12131
Hi !
I have the same issue on OS X.

OS : OSX 10.11.3
Keyboard : french (azerty)
build : latest nightly
In fact, the keyboard stays in qwerty,  but with an incorrect key mapping (even for qwerty).

[2016-07-04 14:34] Min1123 opened #12222 "Bug Reports via GET too long for NGINX, 414, should probably be a POST"
Attempting to play a video on YouTube caused an error, a report button was displayed with a stacktrace in the app, but when I clicked on it, it tried to submit the bug, but the URI was too long on the GET to NGINX, so NGINX rejected it with a 414 code.

This should probably be marshaled to something and sent to a POST endpoint instead.

[2016-07-04 14:44] #11386 closed

[2016-07-04 14:49] jdm opened #12225 "./mach test-tidy doesn't ignore files underneath ignored directories"
There's a check in `get_file_list` in `tidy.py` for whether the given file is in a directory that is in the ignored directories list. However, this only catches things like `a/b/c.py` if `a/b/c` is in the list - if the list contains `a/b`, then it doesn't get ignored as it should.

To reproduce this problem, make a change to `tests/wpt/harness/wptrunner/executors/executorservo.py`, since `tests/wp

[2016-07-04 14:49] highfive commented on #12225
cc @wafflespeanut

[2016-07-04 14:49] highfive commented on #12225
cc @wafflespeanut

[2016-07-04 14:49] highfive commented on #12225
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-04 14:51] jdm commented on #12215
I haven't been able to trigger any crashes by entering garbage yet.

[2016-07-04 14:57] jdm commented on #12222
Please file this at https://github.com/mozilla/browser.html/ instead, since that's where the code that controls the error reporter is located.

[2016-07-04 14:57] #12222 closed

[2016-07-04 14:58] jdm commented on #11527
@gpoesia Great! Please ask questions about anything that's unclear!

[2016-07-04 15:22] BrunoNZ opened #12226 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://globoesporte.globo.com/
### Backtrace:
[code]

[2016-07-04 15:23] KiChjang commented on #12226
Duplicate of #12047. Thanks for reporting!

[2016-07-04 15:23] #12226 closed

[2016-07-04 15:25] Wafflespeanut commented on #12225
Damn. I swear I'd thought about this before :expressionless:

[2016-07-04 15:29] jdm commented on #12047
I have filed https://github.com/whatwg/html/issues/1495 since the spec doesn't differentiate between documents with browsing contexts or not. If it's working as intended then a different fix will be required.

[2016-07-04 16:00] jdm commented on #12220
The OpenSSL stuff and the GL context creation are unrelated, so it's fine to mark this one as a duplicate of #12053 .

[2016-07-04 16:00] #12220 closed

[2016-07-04 16:00] jdm commented on #12220
Thanks for reporting it!

[2016-07-04 16:20] est31 commented on #12015
What's the output of `objdump -x /usr/lib/x86_64-linux-gnu/libssl.so | grep SONAME` ?

[2016-07-04 16:25] anisse commented on #12015
SONAME               libssl.so.10

[2016-07-04 16:26] ZaWertun commented on #12015
I have just the same SONAME on Fedora 23.

[2016-07-04 16:28] anisse commented on #12015
FYI:
https://apps.fedoraproject.org/packages/openssl
You can get the RPMs here:
F23:
http://koji.fedoraproject.org/koji/buildinfo?buildID=759832
F24:
http://koji.fedoraproject.org/koji/buildinfo?buildID=759831

[2016-07-04 16:30] ConnorGBrewster commented on #12215
cc @asajeffrey sounds similar to what you fixed a few days ago.

[2016-07-04 16:31] pa-de-solminihac opened #12227 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://www.quai13.com/
### Backtrace:
[code]

[2016-07-04 16:32] frewsxcv commented on #12227
Duplicate of https://github.com/servo/servo/issues/12047

Thanks for filing!

[2016-07-04 16:32] #12227 closed

[2016-07-04 16:33] pa-de-solminihac opened #12228 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]

[2016-07-04 16:34] ConnorGBrewster commented on #12228
Thank you for reporting this!
This is a known issue and is being tracked on #6564.

[2016-07-04 16:34] #12228 closed

[2016-07-04 16:37] jdm commented on #12134
The GL context creation failure is tracked in #12053. Thanks for reporting it!

[2016-07-04 16:37] #12134 closed

[2016-07-04 16:42] cynicaldevil commented on #12225
I'll take it!

[2016-07-04 16:46] Wafflespeanut commented on #12225
Go ahead! Feel free to ping us at the #servo channel in IRC or comment here in case you need any help :)

[2016-07-04 16:47] highfive commented on #9046
cc @wafflespeanut

[2016-07-04 17:04] skepticus opened #12229 "Servo not starting in El Capitan at all"
[code]

[2016-07-04 17:10] RalfJung commented on #12015
@est31
[code]

[2016-07-04 17:12] kenz-gelsoft opened #12230 "not yet implemented"
not yet implemented
### URL:
https://www.nintendo.co.jp/wiiu/index.html
### Backtrace:
[code]

[2016-07-04 17:33] jdm commented on #12230
This is tracked in #11995. Thanks for reporting it!

[2016-07-04 17:33] #12230 closed

[2016-07-04 17:37] larsbergstrom opened #12231 "Builds not being uploaded properly by s3cmd"
It looks like s3cmd is installed by not being run properly. Maybe we need to inject a `python` in there to execute it properly? Possible that either we installed s3cmd to the Windows Native one or to the mingw one but are running it with the other. Such a mess :-/

Log is here: http://build.servo.org/builders/windows-nightly/builds/7/steps/compile_1/logs/stdio
Relevant bits:
[code]

[2016-07-04 17:37] highfive commented on #12231
cc @wafflespeanut

[2016-07-04 17:37] highfive commented on #12231
cc @aneeshusa

[2016-07-04 17:56] est31 commented on #12015
Its "libssl.so.1.0.0" for me on ubuntu 16.04, and for me the nightly works. So the issue still seems to be connected to the soname, although not isolated to fedora.

[2016-07-04 17:57] rillian opened #12232 "Nightly builds depend on libssl.so.1.0.0"
The new nightly servo builds don't work on my Fedora 24 system. They dynamically link `libssl.so.1.0.0` and `libcrypto.so.1.0.0` but my system has `1.0.2h` sonames for these libraries.

Please either link to a more compatible `so.1` soname, or statically link this library (like firefox nightlies do).

[2016-07-04 18:04] ammarnajjar commented on #12015
+1
fedora24, same issue:

[code]
[code]

[code]
and creating a symlink like:
[code]
does not solve the issue.

[2016-07-04 18:23] ZaWertun commented on #12232
It's a duplicate of #12015

[2016-07-04 18:32] jdm opened #12234 "Automatically report "else {" that is not on the same line as the previous }"
Our style guide says that `} else {` is preferred over
[code]
We should add a check to `regex_rules` in `tidy.py` that looks for the regex `^\s*else {` (ie. a line that starts with optional whitespace followed by `else {`).

Code: `python/tidy/serv_tidy/tidy.py`
Test: `./mach test-tidy --self-test` (add a new test to `rust_tidy.rs` and `test_tidy.py`)

[2016-07-04 18:32] highfive commented on #12234
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-04 18:32] highfive commented on #12234
cc @wafflespeanut

[2016-07-04 18:36] silvioprog opened #12235 "Can I use Servo as C library?"
Hello,

Can I use Servo in a C library as an alternative to [CEF](https://bitbucket.org/chromiumembedded/cef)?

Thank you!

[2016-07-04 18:38] larsbergstrom commented on #12235
Yes! There are some basic instructions here on how to build and use the CEF interfaces exposed by Servo:
https://github.com/servo/servo/tree/master/ports/cef

Please feel free to open additional issues for things that don't work in that scenario.

[2016-07-04 18:38] #12235 closed

[2016-07-04 18:40] jdm commented on #12232
Thanks for reporting it!

[2016-07-04 18:40] #12232 closed

[2016-07-04 18:54] zeusintuivo commented on #11611
I would like to give this a shot with progress has been made yet?

[2016-07-04 18:55] zeusintuivo commented on #10930
Is this solved or repeated, ...confusing.

[2016-07-04 18:56] jdm opened #12236 "Rewrite a match with an empty branch to an `if let`"
In `create_constellation` there is some code that sends a message about an initial URL if it exists. We should rewrite it to use `if let` instead of a `match` expression.

Code: `components/servo/lib.rs`

No need for tests; if it compiles, that's good enough for a PR.

[2016-07-04 18:56] highfive commented on #12236
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-04 19:05] jdm commented on #11611
@zeusintuivo Go for it!

[2016-07-04 19:06] jdm commented on #10930
It's not solved yet, since the PR to address it is blocked on changes being made in another repository.

[2016-07-04 19:27] TravisDean commented on #12234
I'm working on fixing this now.

[2016-07-04 19:29] jdm commented on #12234
Great!

[2016-07-04 19:45] ConnorGBrewster commented on #12229
Is the Servo dmg not mounting or the application itself not opening?

[2016-07-04 20:02] perlun commented on #12125
@larsbergstrom - any progress thus far? (yeah, I know it's still _very_ early in the week your TZ 😛)

[2016-07-04 20:07] perlun commented on #12229
It worked perfectly for me now that I tried.

[code]

[2016-07-04 20:16] hgallagher1993 commented on #12236
I'll pick this up...thanks for the merge a few minutes ago :wink:

[2016-07-04 20:22] perlun commented on #12236
@hgallagher1993 I have started looking into it actually, but didn't write here. 😊

[2016-07-04 20:36] rolandg333 opened #12238 "crash on startup ( openSUSE 13.2 )"
[code]

[2016-07-04 20:36] ccmtaylor opened #12239 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=YQHsXMglC9A

Don't worry, it's not a rickroll, but the first google search result for "hello" :)

### Backtrace:
[code]

[2016-07-04 20:39] ConnorGBrewster commented on #12239
This is a known issue with youtube and is being tracked in #11992.
Thanks for reporting this!

[2016-07-04 20:39] #12239 closed

[2016-07-04 20:40] perlun commented on #12236
(Sorry for not claiming it properly. Will do better next time.)

[2016-07-04 20:48] ccmtaylor commented on #12239
wow, that was quick. Very impressed by how smooth everything is ✨

[2016-07-04 20:50] ConnorGBrewster commented on #12239
@ccmtaylor 😄 glad you like it so far!

[2016-07-04 21:08] jdm commented on #12238
This is a duplicate of #12053. Thanks for filing it!

[2016-07-04 21:08] #12238 closed

[2016-07-04 21:12] JayVii opened #12242 "nightly build doesn't launch on Debian 8.5"
[code]
System-stats (if necessary, since this is very low-end hardware):
[code]

[2016-07-04 21:13] jdm commented on #12242
This is a duplicate of #12053. Thanks for reporting it!

[2016-07-04 21:13] #12242 closed

[2016-07-04 21:37] ConnorGBrewster commented on #11551
This was fixed in servo/webrender#290

[2016-07-04 21:37] #11551 closed

[2016-07-04 21:45] #12236 closed

[2016-07-04 23:31] hrbrmstr opened #12245 "unknown completed load Stylesheet("https://0.gravatar.com/css/services.css?ver=201627y")"
unknown completed load Stylesheet("https://0.gravatar.com/css/services.css?ver=201627y")
### URL:
https://rud.is/b/2016/06/16/your-data-vis-spidey-sense-the-need-for-a-robust-utility-belt/
### Backtrace:
[code]

[2016-07-04 23:49] emilio commented on #12245
Hi, thanks for reporting this!

I'm closing it though, since it is a duplicate of https://github.com/servo/servo/issues/12075 and presumably should be fixed by #12241 :)

[2016-07-04 23:50] #12245 closed

[2016-07-04 23:56] ekr opened #12246 "Servo w/ Browser.html seems to scroll off the bottom with Wikipdia"
Revision:
f9e058d5e7ca3bf47b29016f5fb275e0271dce9f

![screen shot 2016-07-04 at 4 53 45 pm](https://cloud.githubusercontent.com/assets/1111457/16571070/1af51b16-4208-11e6-8998-ea96b3d3a8be.png)

I can scroll way past this so that the screen is totally white, but this seemed like the clearest example.

[2016-07-05 00:16] ekr opened #12247 "Servo chokes on www.slate.com"
The page half-loads and I see repeated complaining about:
ERROR:js::rust: Error at :0:0: QuotaExceededError: The quota has been exceeded.

[2016-07-05 00:21] jdm commented on #12247
Interesting; that exception is only thrown by Servo's crypto.getRandomValues() implementation.

[2016-07-05 00:23] ConnorGBrewster opened #12248 "called `Result::unwrap()` on an `Err` value: RelativeUrlWithCannotBeABaseBase"
Website: `./mach run -d -w https://maggieandcaleb.com/`
[code]

[2016-07-05 00:25] ConnorGBrewster commented on #12246
Closing as a dupe of #10206.
Thank you for reporting this!

[2016-07-05 00:25] #12246 closed

[2016-07-05 00:30] jdm commented on #12248
Looks like the same problem that causes #11992. Should be fixed by #12003.

[2016-07-05 00:30] #12248 closed

[2016-07-05 00:30] jdm commented on #12248
Thank you for reporting it ;)

[2016-07-05 00:37] ekr commented on #12247
I haven't traced through the code, but what about? https://github.com/servo/servo/blob/e8cf789fc56dfbc4bfd6145d3bd1a30aa9459c95/components/script/dom/storage.rs#L95

[2016-07-05 00:44] #12234 closed

[2016-07-05 01:14] jdm commented on #12247
Whoops, missed that in the DXR results.

[2016-07-05 01:15] izgzhen opened #12249 "Remove DataSlice structure in Blob backend implementation"
During the PR #11875, it is found that `DataSlice` is not very useful anymore because [in most cases](https://github.com/servo/servo/search?utf8=✓&q=new_from_slice), the user of `BlobImpl::new_from_slice` simply initializes `DataSlice` with a vector of bytes without specifying the start and end boundaries.

Thus we can simplify the design here and make `BlobImpl::Memory` holding only a `Vec<u8>` a

[2016-07-05 01:15] izgzhen commented on #12249
cc @Manishearth

[2016-07-05 01:40] aravind-pg commented on #11384
I've been having some difficulty updating the test expectations in the mozilla folder. It looks like `mach update-wpt` does not really understand tests in those folder, which is not surprising since they don't completely follow the wpt file layout. To work around this I tried a dumb common-sense approach: just make a backup of the main `referrer-policy` folder, then use the original folder to upda

[2016-07-05 03:06] jdm commented on #11384
The tests in the mozilla folder are modifications of the original tests from referrer-policy, because the originals rely on features that Servo doesn't support yet.

[2016-07-05 03:08] jdm commented on #11384
What do you mean by `mach update-wpt does not really understand tests in those folder`, exactly? As long as the tests are present in the MANIFEST.json in tests/wpt/mozilla/meta, update-wpt should be able to update the metadata ini files as appropriate.

[2016-07-05 03:49] aravind-pg commented on #11384
Well I never. I just reset to a clean state and tried it again and it worked. Clearly messed something up the first time 😛 Oh well.

Anyway, I updated my PR (#11968) with the test updates and it should be ready for review now :)

[2016-07-05 04:01] aneeshusa commented on #12231
Don't know much about Windows so I don't have any ideas, but 2 comments:
- AFAIK `s3cmd` uses the `magic ` lib just to guess the MIME type, but we're explicitly passing a MIME type so it doesn't guess. I'm not sure why it still tries to load/find the lib.
- This is the kind of bug where even a partial Salting is useful so that we don't have to deal with it again after it gets fixed.

This seems to

[2016-07-05 06:02] #12047 closed

[2016-07-05 06:15] tobireif opened #12251 "SVG Support"
It seems SVG is not supported yet.

[2016-07-05 06:18] tobireif opened #12252 "Flexbox Support"
It seems Flexbox is not supported yet.

[2016-07-05 06:44] tobireif opened #12253 "Animation performance comparison page"
It would be great if Servo could soon support https://greensock.com/js/speed.html .

[2016-07-05 06:58] sjmelia commented on #7333
Is this a dupe of Issue 8719?

[2016-07-05 07:20] akx commented on #12252
See #12191.

[2016-07-05 07:21] akx commented on #12251
See #9998.

[2016-07-05 07:59] #12188 closed

[2016-07-05 08:45] nox commented on #12251
Thanks for the report! Closing as duplicate of #9998.

[2016-07-05 08:45] #12251 closed

[2016-07-05 08:45] nox commented on #12252
Thanks for the report! Closing as duplicate of #12191.

[2016-07-05 08:45] #12252 closed

[2016-07-05 09:44] arkihillel opened #12257 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://localhost:8080/
### Backtrace:
[code]

[2016-07-05 09:45] Manishearth commented on #12257
(This has already been fixed, might need to wait for the next nightly)

Thanks for reporting!

[2016-07-05 09:45] #12257 closed

[2016-07-05 10:38] sankha93 opened #12259 "Panic: unknown completed load Stylesheet("https://0.gravatar.com/css/hovercard.css?ver=201627y")"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: Other, error: StringError("MPSC send failed") }) }
### URL:
https://thelimbeck.wordpress.com/
### Backtrace:
[code]

[2016-07-05 10:39] sankha93 commented on #12259
This is probably same as #12207. Can someone confirm and close?

[2016-07-05 10:48] eddyb commented on #10468
I've updated my comment with a `default.nix` for `nix-shell --pure --run './mach build -r'`.
Which means it should work regardless of your system or user configuration.

[2016-07-05 10:50] Manishearth commented on #12259
MPSC send failed is a generic error that happens after another crash.

Could you run this site under servo directly and paste the full backtrace? I'm unable to repro, perhaps you took some specific steps?

[2016-07-05 11:00] Manishearth commented on #12259
[code]
is what I get after poking at it

[2016-07-05 11:00] Manishearth commented on #12259
YOu have to click on the hamburger menu for this to happen

[2016-07-05 11:20] skepticus commented on #12229
You can probably close this, because I had put the Servo package in an alternate folder other than /Applications, and apparently it relies upon this location exclusively. I have it running now after I put it into /Applications. All my other browsers run from their own sub-folder. My mistake. Sorry.

- Wade

[2016-07-05 11:35] alex opened #12262 "Add a mechanism to check if servo nightly is up to date"
I installed a nightly a few days ago, I'd like to be able to check if it's up to date (or maybe even update it directly).

[2016-07-05 12:06] silvioprog commented on #12235
Awesome, I'm going to get it. Thank you! :-)

[2016-07-05 12:26] SimonSapin commented on #11806
@gpoesia How is it going? How can I help?

[2016-07-05 13:55] jdm commented on #12259
Closing as a duplicate of #12075. Thanks for reporting it!

[2016-07-05 13:55] #12259 closed

[2016-07-05 14:24] asajeffrey commented on #12215
It does, @matthiaskrgr can you see if you can get it to generate an assertion failure in debug mode?

[2016-07-05 14:27] jscheel opened #12264 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://www.groovehq.com/
### Backtrace:
[code]

[2016-07-05 14:32] gpoesia commented on #11527
@jdm Alright, thanks! I managed to reproduce it and found the code in components/layout/table_row.rs which handles the "collapse" logic (if border-collapse is not "collapse" it works). Will keep investigating and ask if I get stuck :)

[2016-07-05 14:34] KiChjang commented on #12264
This is a duplicate of #12047. Thanks for reporting!

[2016-07-05 14:34] #12264 closed

[2016-07-05 14:38] ConnorGBrewster commented on #12229
@skepticus hmm that is odd as we shouldn't be relying on Servo being the Application directory.

[2016-07-05 14:41] metajack commented on #11527
Border collapse is pretty difficult to figure out. You will probably want to have both Chrome and Firefox involved in testing, since the behavior across mainstream browsers does not always agree.

@pcwalton wrote the border collapse code, so if you have specific questions feel free to ping him.

[2016-07-05 14:43] gpoesia commented on #11806
@SimonSapin Thanks for the review!
@aneeshusa Now that that one was accepted, the followup PR is here: https://github.com/servo/saltfs/pull/427

[2016-07-05 15:10] #11806 closed

[2016-07-05 16:07] larsbergstrom commented on #11876
@rzambre If this file got created in your successful build, fixing this would really help :-)

[2016-07-05 16:41] jdm commented on #11703
I believe this is the same problem I describe in https://github.com/servo/servo/issues/12048.

[2016-07-05 16:52] ConnorGBrewster commented on #12048
More useful backtrace:
[code]

[2016-07-05 16:58] jimberlage commented on #12158
I've got most things tidied up, but I do have one question - how do you want to deal with license checks for shell scripts?  Right now we have this:

[code]

I'm not sure what license should be used, if any.

[2016-07-05 17:01] moosingin3space commented on #12102
Oops accidental click.

[2016-07-05 17:32] mirek opened #12269 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
http://wiadomosci.onet.pl/swiat/imigranci-z-balkanow-okupuja-katedre-w-ratyzbonie/pqgl1w
### Backtrace:
[code]

[2016-07-05 17:33] KiChjang commented on #12269
This is a duplicate of #12047. Thanks for reporting!

[2016-07-05 17:33] #12269 closed

[2016-07-05 17:36] ConnorGBrewster commented on #12048
@jdm in this scenario is there anyway to check if the script thread has been shut down before attempting to execute a script?

[2016-07-05 18:31] matthiaskrgr commented on #12215
[code]

@ 061cf054e7fe5019ef43c6fc13e49791fc25d99c

[2016-07-05 18:31] #11130 closed

[2016-07-05 18:42] matthiaskrgr opened #12273 "crashes on i3 when starting and not having focus"
When I quickly launch servo and make sure it is on a different workspace (using i3) than what I currently look at, it will crash on startup:

[code]

[2016-07-05 18:45] jdm commented on #12048
There's a mechanism for marking runnables as revocable based on the `ignore_further_async_events` member in `Window` (see the use of `window.get_runnable_wrapper` and `wrap_runnable` in `htmlimageelement.rs`). This probably requires making all the runnables created by `NetworkListener` revocable.

[2016-07-05 18:47] jdm commented on #12048
It's possible to write code to not execute script by adding an API to GlobalRef and calling it from `evaluate_script_on_global_with_result`; it's not really clear to me whether we would end up playing whack-a-mole with non-script related things if we added that restriction instead of the plan in the previous comment.

[2016-07-05 18:53] jdm commented on #12215
Actually, most useful would be the result of:
[code]
given that this is a segfault in the JS engine code.

[2016-07-05 19:28] kstrecker opened #12274 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=e7ofRzO37a4&list=PLrdY0B0a8I3XZynC_xYxJEiXva5QP9sDF&index=128
### Backtrace:
[code]

[2016-07-05 19:30] #12274 closed

[2016-07-05 19:34] ruuda commented on #11902
Actually, this is a problem with `mozjs` (the C++ library) failing to link. Compiling `mozjs` has been a pain for much longer, but some magic combination going into its source directory and manually calling `configure` and `make` with various permutations of flags and environment variables sometimes made it work for me. It is just that recently the way the error is printed changed. Previously it u

[2016-07-05 19:55] matthiaskrgr commented on #12215
It seems to not crash with this @ d99ff8d8570dbf56b1812ef9451a6a8c3784c6c8   , I got this though:

[code]

[2016-07-05 20:05] simartin commented on #12071
Short status update: code fix is ready and tested manually, now working on a unit test

[2016-07-05 20:06] jdm commented on #12215
Yeah, that's all I ever saw in my debug build when trying to reproduce :(

[2016-07-05 20:07] jdm commented on #11902
That would be good, yes.

[2016-07-05 20:47] stratacast opened #12276 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=fAqBF1ukRss
### Backtrace:
[code]
macOS 10.11.5

PS: I just clicked on a random video lol

[2016-07-05 20:51] ConnorGBrewster commented on #12276
Closing as duplicate of #11992. Thank you for reporting!

[2016-07-05 20:51] #12276 closed

[2016-07-05 21:16] jimberlage commented on #12158
@aneeshusa any thoughts?

[2016-07-05 21:50] Gozala opened #12278 "Support for native keybindings on input fields"
This has being one of the issues that ppl raised on hacker news, in response to nightlies announcement. Most native keybindings (at least on Mac) do not work on input fields in servo. Example being

Alt+LeftArrow / Alt+RightArrow - Jump to previous / next word in the input.
Control+Alt+B / Control+Alt+F - Jump to previous / next word in the input.
CMD+LeftArrow / CMD+RightArrow - Jump to beginning

[2016-07-05 21:52] jdm commented on #12278
This requires adding further cases to the match in `handle_keydown_aux`. Additionally, we should add new tests to `tests/unit/script/textinput.rs`.

Code: `components/script/textinput.rs`
Tests: `./mach test-unit -p script`

[2016-07-05 22:04] #11992 closed

[2016-07-05 22:42] jimberlage commented on #12278
Mind if I work on this?

[2016-07-05 22:45] jimberlage commented on #11704
Mind if I tackle this?

[2016-07-05 23:04] jdm commented on #12278
@jimberlage Please do!

[2016-07-05 23:06] jdm commented on #11704
This might be what https://github.com/servo/servo/pull/11853 is addressing, but I'm not sure. @nox, do you know?

[2016-07-05 23:14] EnriqueV opened #12279 "servo compile error"
hello i'm triying compile servo in my macbook but i have this error:
errorerrorerror: : : errorcan't find crate for `std`can't find crate for `std`can't find crate for `std`:  [ [ [E0463E0463E0463]can't find crate for `std`]] [
Could not compile `azure`

[2016-07-05 23:18] Gozala opened #12280 "Resizing the window causes black frame flickering"
Originally reported under browserhtml/browserhtml#1160 by @yump

[2016-07-05 23:30] Gozala opened #12281 "Large images are not rendered, sometimes"
Issue was originally reported under browserhtml/browserhtml#1158 by @yump

[2016-07-05 23:52] nc4rrillo opened #12282 "assertion failed: self.get_pending_parsing_blocking_script().is_none() || script.is_none()"
assertion failed: self.get_pending_parsing_blocking_script().is_none() || script.is_none()
### URL:
http://andy.edinborough.org/CSS-Stress-Testing-and-Performance-Profiling
### Backtrace:
[code]

[2016-07-05 23:56] izgzhen commented on #12279
Can you provide more details? For examples, when you `./mach build -d`, the compiler and `std` should be downloaded at that time, I am not sure if this process is okay on your side.

Also, in case some thing might be wrong with local environment, you can `clone` another clean source and try again.

[2016-07-06 00:00] izgzhen commented on #12279
PR #12271 might be related, not sure though

[2016-07-06 01:29] khaledhosny commented on #12193
It seems that two different fonts are used here, so it can be a bug in the font selected by Servo. Can you try to use the same font in both tests?

[2016-07-06 01:31] jimberlage commented on #12278
@Gozala am I correct in in assuming that Control+Alt+A / Control+Alt+E are Windows keybindings?  I'm on a mac so I can't test effectively.

[2016-07-06 01:52] ConnorGBrewster commented on #11960
I have noticed that non-wr causes these icons to look pixelated. WR is not enabled by default on Windows, correct?

[2016-07-06 01:55] aneeshusa commented on #12158
I think MPL 2.0 should be fine (with the `/usr/bin/env bash` shebang - I think you'll need to add that variation to the license checker). cc @larsbergstrom about licensing

[2016-07-06 02:30] jdm commented on #12279
Yes, 12271 fixes this.

[2016-07-06 03:35] aneeshusa opened #12283 "Check for duplicates and sorting in prefs.json/package-prefs.json"
Follow-up from #12205.

We should add code to tidy (`python/tidy/servo_tidy/tidy.py`) that checks if a JSON object a) has no duplicate keys and b) has its keys in sorted order. Both can be achieved with Python's `json` module, using a [custom `object_pairs_hook`](https://docs.python.org/2/library/json.html#repeated-names-within-an-object) since out of the box Python is more lenient than the RFC an

[2016-07-06 03:35] highfive commented on #12283
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-06 03:35] highfive commented on #12283
cc @wafflespeanut

[2016-07-06 03:44] ConnorGBrewster opened #12284 "Intermittent crash in /_mozilla/mozilla/htmllabel-activation.html (called `Option::unwrap()` on a `None` value)"
[code]

[2016-07-06 03:50] jdm commented on #12282
Duplicate of #11733. Thanks for reporting it!

[2016-07-06 03:50] #12282 closed

[2016-07-06 03:54] jdm commented on #11960
WR is not default anywhere yet.

[2016-07-06 03:56] Gozala commented on #12278
Nope they're on osx

Typed on tiny keyboard

[2016-07-06 04:01] ConnorGBrewster commented on #11960
@jdm I mean -b implies -w except on Windows.

[2016-07-06 04:07] ConnorGBrewster commented on #12278
I believe on mac it is just Ctrl+A and Ctrl+E (no alt)

[2016-07-06 04:18] jdm commented on #11960
No, -w is used on all platforms: https://dxr.mozilla.org/servo/rev/c4aaedab32eb906ff715b850b641d2a75536e73d/python/servo/post_build_commands.py#114

[2016-07-06 04:26] Gozala commented on #12278
Oh you're right. Not sure where alt's came from :)

Typed on tiny keyboard

[2016-07-06 05:04] ConnorGBrewster commented on #11966
We could parse both json files using python. Loop through package-prefs.json which contains the prefs that differ from prefs.json and overwrite the different prefs in the parsed version of pref.json and then write it back to prefs.json in the package directory.

[2016-07-06 06:24] aravind-pg commented on #11860
@rebstar6 OK, that makes sense, thank you :) I wouldn't have thought we needed to be so conservative on that front but why not.

[2016-07-06 08:02] veer66 commented on #12193
Here you are.
![Uploading tlwg_typist.png…](ยินดี in Tlwg Typist and Tlwg Typo)

[2016-07-06 08:04] veer66 commented on #12193
Here you are:

ยินดี in Tlwg Typist and Tlwg Typo

![tlwg_typist](https://cloud.githubusercontent.com/assets/370688/16611341/e296f774-438a-11e6-8809-e8968e76def4.png)

[2016-07-06 08:17] kengggg commented on #12193
Confirm @veer66, the incorrect rendering presents in Servo 0.0.1 on Mac OS X 10.11.5.

<img width="1160" alt="screenshot 2016-07-06 15 10 30" src="https://cloud.githubusercontent.com/assets/541454/16611613/a74b9b50-438c-11e6-9f94-4af24cc2b137.png">

Additional information:

The given word **ยินดี** represents by

`0x0E22` `0x0E34` `0x0E19` `0x0E14` `0x0E35`

But it seems servo has rendered **ยินดี

[2016-07-06 08:35] shinglyu commented on #11302
I almost finished porting the Gecko algorithm to Servo. But there are a few blockers I need to fix before it works:
* `cluster_start` flag looks wrong inside ligatures, I'll have to compare with Gecko.
* the advance width before the text run is not drawn. (The one after the text run is OK)
* If we extend the selection from the right side into the ligature, the ligature if broken into separate glyp

[2016-07-06 08:37] zeusintuivo commented on #11611
I going for it

[2016-07-06 08:57] #11870 closed

[2016-07-06 09:19] zeusintuivo commented on #11611
working on pull request now

[2016-07-06 09:26] zcorpan commented on #11704
There are two quirks here that are related

https://quirks.spec.whatwg.org/#the-line-height-calculation-quirk (#11853)
https://quirks.spec.whatwg.org/#the-blocks-ignore-line-height-quirk (this issue? the gap is caused by the "strut")

In [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Mozilla_quirks_mode_behavior#Block_and_Inline_layout) these two are described as one and the same.

[2016-07-06 09:40] nox commented on #11704
@jdm Yes that's what I'm *trying* to address, with difficulty.

[2016-07-06 09:48] pta2002 opened #12285 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:
https://pta2002.com/
### Backtrace:
[code]

The CSS failed to load completelly

[2016-07-06 09:48] nox commented on #12285
Thanks for the report! Closing as a duplicate of #12047.

[2016-07-06 09:48] Manishearth commented on #12285
This has been fixe

[2016-07-06 09:48] #12285 closed

[2016-07-06 09:50] nox commented on #12278
@jdm How are we going to support keyboard shortcut changes through System Preferences on OS X?

[2016-07-06 09:54] Obikawa commented on #12139
Why is this a problem? I have full sets of Droid and Noto fonts, which should cover me for pretty much anything. Does servo expect some specific fonts to be installed?

[2016-07-06 09:58] Obikawa commented on #12107
Is this related to issue #12139 ?

Also, when I saw the installation instruction, i chose a more fitting, Gentoo specific way to install those dependencies, which is to add them to a new set and emerge said set instead.

[2016-07-06 10:02] samuknet opened #12286 "IFrame CSS Transform Rotate displays improperly"
Animating a rotation CSS transform on an IFrame displays improperly:

<img width="1027" alt="IFrame CSS Transform Rotate" src="https://cloud.githubusercontent.com/assets/9294710/16614203/be14293a-4367-11e6-8b69-c17419b02c4f.png">

Code:
[code]
Online test case [here](https://samuknet.github.io/test_cases/iframeCSSRotate/).

[2016-07-06 10:14] tallowen commented on #12283
Hey - I'd like to work on this!

[2016-07-06 10:17] Wafflespeanut commented on #12283
Go ahead! Feel free to ping us at the #servo channel in IRC or comment here in case you need any help!

[2016-07-06 10:30] jdm commented on #12278
Write some code using cocoa-rs at some point.

[2016-07-06 10:35] nox opened #12288 "Intermittent timeout in /css21_dev/html4/first-line-pseudo-014.htm"
[code]

[2016-07-06 10:47] #4144 closed

[2016-07-06 11:34] nox commented on #12247
AFAICT in `StorageThread::set_item`, we set `current_total_size` to the sum of the local and session storages' sizes, and then we use that to update the total size of the `storage_type` storage, accounting for the other kind of storage twice.

[2016-07-06 13:00] Supermighty opened #12290 "called `Result::unwrap()` on an `Err` value: IdnaError"
called `Result::unwrap()` on an `Err` value: IdnaError
### URL:
https://www.youtube.com/watch?v=tivES-sjHc4
### Backtrace:
[code]

[2016-07-06 13:13] jdm commented on #12290
Duplicate of #11992. Thanks for reporting it!

[2016-07-06 13:13] #12290 closed

[2016-07-06 13:24] aneeshusa commented on #12262
@larsbergstrom is working on an automatic updater.

In the meantime, we push up a new nightly every night. You can get the current version from `./servo --version` - would exposing the latest nightly version on the website work so you can check manually? Note that the versions include short git hashes, not build dates, so this only tells you if you are or are not running the latest nightly, not ho

[2016-07-06 13:25] cynicaldevil commented on #12225
Should I submit the PR with two commits(one for the fix and another for the test) or is a single one just fine?

[2016-07-06 13:34] Wafflespeanut commented on #12225
That's certainly up to you. We generally ask people to squash commits only if/when a future commit fixes the previous commit.

[2016-07-06 13:35] aneeshusa commented on #12283
One thing I forgot to mention - please also add tests for this in `python/tidy/servo_tidy_tests/` and and hook them up to run in `python/tidy/servo_tidy_tests/test_tidy.py`. You can check using `./mach test-tidy --self-test`.

[2016-07-06 14:22] zeusintuivo commented on #10930
I have made a feature fix for it here just in case
https://github.com/zeusintuivo/servo/tree/feature/10930

[2016-07-06 14:23] zeusintuivo commented on #11611
I have made a feature fix for it. Waiting for Master to be working again to make PR:
https://github.com/zeusintuivo/servo/tree/feature/11611

[2016-07-06 14:59] puhrez commented on #10477
@KiChjang  So given @smaug---- is this still a desired refactor? If so I'd love to get on it with the help of who ever is mentoring :)

[2016-07-06 15:03] KiChjang commented on #10477
This is still a desired refactoring, but I'm unsure of what data structure that fits the requirements. Essentially, we need a data structure that has:
* O(1) indexing
* O(1) length

and iterators by itself cannot guarantee those two. We could use some caching but I'm unsure how it works.

[2016-07-06 15:30] Ms2ger commented on #10477
Not going to happen as filed, then.

[2016-07-06 15:30] #10477 closed

[2016-07-06 15:32] zeusintuivo commented on #11611
Master is not working...can not build. I am following IRC channel #servo

[2016-07-06 16:17] alex commented on #12262
Exposing the version on the website and somewhere in the process (about dialog?) would be great until there is autoupdates.

[2016-07-06 16:19] ConnorGBrewster commented on #12262
@alex we should have the version exposed in the about window here soon: #12250

[2016-07-06 19:20] ruuda commented on #11902
Closing in favour of servo/mozjs#84.

[2016-07-06 19:20] #11902 closed

[2016-07-06 19:56] metajack commented on #12191
cc @shinglyu

[2016-07-06 20:03] metajack commented on #12052
@aneeshusa I'm fine with the git revision. My main concern is that "0.0.1" contains no useful information right now.

[2016-07-06 20:48] pix64 commented on #12231
Magic for Windows: http://gnuwin32.sourceforge.net/packages/file.htm

[2016-07-06 21:48] Gozala opened #12300 "Support for backward selections"
Servo does not seem to support selections in 'backward' direction. This causes unfortunate behavior in browser.html (see browserhtml/browserhtml#1171).

I also have create simpler test case:
https://Gozala.jsbin.com/caqoya

After `Shift + LeftArrow` you should see:

<img width="561" alt="screen shot 2016-07-06 at 2 47 30 pm" src="https://cloud.githubusercontent.com/assets/21236/16635748/9b4c9100-4

[2016-07-06 21:51] ConnorGBrewster commented on #12300
Hmm I cannot seem to reproduce this, running in Servo produces the output seen in the first image

[2016-07-06 21:56] Gozala commented on #12300
I'm running latest servo nightly as follows:

[code]

And see behavior described in the issue.

[2016-07-06 22:00] ConnorGBrewster commented on #12300
Ahh I see the issue now! The insertion point is at the wrong end of the selection

[2016-07-06 22:04] ConnorGBrewster commented on #12300
As it turns out, `textinput.rs` stores the selection direction but never does anything with it.

[2016-07-07 01:29] rzambre opened #12303 "Multiple LayoutWorker-panics on Android release-build"
Host: OS X 10.11.5
Device: Nexus 6P

I used the following commands:
* ./mach run --android <url>
* ./mach run --android -p -x <url>
I also did the same using the android_params file under /sdcard/servo/ but I'm seeing the same errors.

Urls played with:
* https://www.ehow.com
* https://www.twitter.com

Sample error message:

RustAndroidGlueStdouterr: thread 'LayoutWorker worker 1/6' panicked at 'R

[2016-07-07 01:32] rzambre opened #12304 "Servo on Android doesn't terminate with the -x or -o flags"
On the laptop we can auto-terminate Servo after page-load using the `-x` or `-o out.png` flags.
I'm not observing the same behavior with Servo on Android. Is this expected?

How to terminate the Servo app after page-load on Android?

Might be related to #12303

[2016-07-07 02:47] #12247 closed

[2016-07-07 03:35] alex commented on #2139
I believe this can be closed now?

[2016-07-07 03:50] alex opened #12305 "no entry found for key"
no entry found for key
### URL:
https://www.washingtonpost.com/regional/
### Backtrace:
[code]

[2016-07-07 04:05] aneeshusa commented on #2139
Nightly builds are now available at https://download.servo.org/.

[2016-07-07 04:05] #2139 closed

[2016-07-07 04:12] benwaffle opened #12306 "Can't click 'Take the acid2 test'"
http://acid2.acidtests.org/

[2016-07-07 05:58] shinglyu commented on #11302
@mbrubeck : I'm a little bit confused about how ligature continuations are processed. The second `f` and `i` in an `ffi` both returns `is_cluster_start==false`, so I think I might set it wrong. But when I check with gdb, the glyph code never enters the `GlyphEntry::complex()` function, where I set the flag. But in the iterator code, the `entry.is_simple()` returns `false` for the second `f` and `i

[2016-07-07 07:27] aeosynth opened #12307 "Nightly: doesn't start on Arch Linux"
[code]

hangs there. i have Google Noto TTF fonts installed. i installed the Arch prerequisites.

running `./servo` opens a blank window.

[2016-07-07 07:52] shinglyu opened #12308 "Selecting text after a ligature will break the ligature"
I have a text area with the value "01ffi56", the ffi ligates for my font (DejaVu Sans)

The normal shaping looks like:

[code]

However, if you select the `5` or `6` with arrow key + shift, the `ffi` ligature will be split into separate glyph:

[code]

This looks ugly and impacts [#11302](https://github.com/servo/servo/issues/11302): Selection or insertion point renders incorrectly when inside lig

[2016-07-07 08:23] Ms2ger commented on #8815
Seems to have disappeared.

[2016-07-07 08:23] #8815 closed

[2016-07-07 08:35] KiChjang commented on #12307
For a temporary fix, you'll need to install the `ttf-dejavu` package via pacman. #12208 should have fixed this permanently though.

[2016-07-07 09:43] Ms2ger opened #12312 "Remove util::ipc (OptionalIpcSender / OptionalOpaqueIpcSender / OpaqueSender)"
This seems to be a performance optimization for the non-multiprocess case; it's not clear to me that it ever pulled its weight. Note that most of Servo uses plain `IpcSender`s where these types could have been used.

CC @pcwalton

[2016-07-07 11:28] aeosynth commented on #12307
that worked, thanks

[2016-07-07 11:28] #12307 closed

[2016-07-07 14:17] larsbergstrom opened #12314 "Recent mac update seems to have left us unable to land anything"
@aneeshusa Do you have any logs from this update:
http://logs.glob.uno/?c=mozilla%23servo&s=6+Jul+2016&e=6+Jul+2016&h=mac#c475033
?

From what I can tell, after this happened we have been unable to land any PRs, with all test runs on the macs failing with:
[code]

The internet seems to think that we're trying to kill zombie processes, but I don't know if that's a red herring:
http://stackoverflow.

[2016-07-07 14:17] highfive commented on #12314
cc @aneeshusa

[2016-07-07 14:18] larsbergstrom commented on #12314
I suppose that one thing we could consider doing is putting a python exception handler around the call to `self.proc.kill` in the servo executor? I don't know if that's kosher, though.

cc @jdm @Ms2ger @jgraham

[2016-07-07 14:25] GuillaumeGomez opened #12316 "Add Windows dependencies for video-metadata-rs"
For the moment, it seems that windows is giving trouble for ffmpeg dependencies (used by video-metadata-rs). You can find the dependencies [here](https://ffmpeg.zeranoe.com/builds/). I repackaged them myself for adding tests on appveyor (my appveyor script file is [here](https://github.com/GuillaumeGomez/video-metadata-rs/blob/master/appveyor.yml)).

cc @metajack
cc @vvuk
cc @larsbergstrom

[2016-07-07 14:36] jdm commented on #12305
Duplicate of #12067. Thanks for reporting it!

[2016-07-07 14:36] #12305 closed

[2016-07-07 14:43] jdm commented on #12306
This only reproduces when webrender is enabled.

[2016-07-07 14:46] larsbergstrom commented on #12314
I *think* that highstate was just intended to install `ffpmeg` via `brew install`:
https://github.com/servo/saltfs/commit/bf61dddc9eb84e44fb262b8e9ea3bfbd985b899b

[2016-07-07 15:20] larsbergstrom commented on #12314
Hrm, if I try to run `./mach test-css ./tests/wpt/css-tests/geometry-1_dev/html/DOMPoint-001.htm` locally, I get:
[code]

[2016-07-07 15:23] jdm opened #12320 "Shadertoy claims webgl is missing"
It checks using
[code]
and calling `piCreateGlContext(this.mCanvas, false, false, true)`.

[2016-07-07 15:27] larsbergstrom commented on #12314
Here's the crash:
[code]

[2016-07-07 15:28] jdm commented on #12314
That's a known issue with our alert message box implementation that can be avoided via https://github.com/w3c/wptrunner/pull/194.

[2016-07-07 15:45] jdm opened #12321 "build_env fails when called after changing the current directory to another git repo"
Specifically, when upgrading wptrunner we change the current directory to tests/wpt/harness, which contains its own .git which confuses build_env.

[2016-07-07 15:45] highfive commented on #12321
cc @wafflespeanut

[2016-07-07 15:52] larsbergstrom commented on #12314
mfw Servo's roughly third segfault in the project's history is from somebody calling `strcat`...

Thanks for tracking it down, @jdm! IT sounds like an updated version of #12223 that moves us from `alert` to `console.log` should fix this.

And on IRC, you mentioned that the tinyfiledialogs code is being updated now to remove / harden those calls.

[2016-07-07 16:11] Manishearth opened #12322 "Add ability to WPT-test file uploads and fetches"
We should perhaps have a command line option or environment variable that specifies a file to upload, and use that for writing Servo-specific WPT tests that upload files and test that they get fetched properly.

[2016-07-07 16:11] Manishearth commented on #12322
We should also be adding more tests to WPT proper for things like blob URI-ifying slices and similar things.

[2016-07-07 16:13] jdm commented on #12322
I recommend adding a webidl method or attribute that triggers the same code as selecting one via the usual user input mechanism, and limiting its visibility with a preference.

[2016-07-07 16:18] ahalam opened #12323 "no entry found for key"
no entry found for key
### URL:
https://www.washingtonpost.com/
### Backtrace:
[code]

[2016-07-07 16:22] Manishearth commented on #12322
Oh, right, we can do that now.

Yes, this works. Something like `Window.setFile()` (or `inputelement.setFile()`), which sets the file that is to be opened.

[2016-07-07 16:24] jdm commented on #12323
Duplicate of #12067. Thanks for reporting it!

[2016-07-07 16:24] #12323 closed

[2016-07-07 16:26] UK992 commented on #12316
I  successfully build Servo after installing ```mingw-w64-x86_64-ffmpeg``` package via MSYS Pacman.

[2016-07-07 16:26] chenpighead commented on #11487
I'd like to look into this issue. I followed https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md and was able to dumped debug log. Seems that setting max-width property to the floating img element: 1) won't set the flow to be dirty, 2) sets inline-size of the floating img element to be zero.

Either way may cause the float not being reflowed and readded. I'd like to do some furth

[2016-07-07 16:48] jdm commented on #12316
@UK992 Thanks for testing! What about with https://github.com/servo/servo/pull/12186 applied?

[2016-07-07 17:10] jdm commented on #4576
This exists now, as demonstrated by XHR using said infrastructure.

[2016-07-07 17:10] #4576 closed

[2016-07-07 17:37] andreastt opened #12325 "Unable to link release target on Linux x86_64"
I am unable to link the servo release target on Linux x864_64. It appears that it’s libangle that is being troublesome:

[code]

[2016-07-07 17:44] jdm commented on #12325
What if you run `./mach clean` and rebuild?

[2016-07-07 17:54] mbrubeck commented on #11302
When the string "ffi" is shaped as a ligature, there is only one glyph.  The first `'f'` byte will map to the `'ﬃ'` glyph, and the second and third bytes currently map to nothing. (We only call `add_glyph_for_byte_index` on `byte_range.start`, not on any other indices in `byte_range`, so the other bytes keep their initial value of `GlyphEntry(0)` in the `GlyphStore::entry_buffer`, which means they

[2016-07-07 17:58] andreastt commented on #12325
After cleaning I get an entirely different error:

[code]

[2016-07-07 18:00] UK992 commented on #12316
@jdm i forgot to mention, tested with #12186 applied. without this package installed, hit on same error as mention in this PR.

[2016-07-07 18:03] jdm commented on #12325
Ah, that's due to #12271 not having merged yet.

[2016-07-07 18:40] jdm opened #12326 "There are several changes to tests in css-tests that have not been upstreamed"
https://github.com/servo/servo/commits/master/tests/wpt/css-tests shows a number of Servo PRs that made changes to test files. This is bad, because there's no automatic synchronization that occurs; they just get overwritten the next time we pull changes from upstream.

cc @Ms2ger

[2016-07-07 18:46] jdm commented on #12314
I have no idea why this suddenly started being an issue, given that the segfault-y behaviour has been present for months, but buildbot seems much happier with the change.

[2016-07-07 19:16] larsbergstrom commented on #12314
Fixed by #12324

[2016-07-07 19:16] #12314 closed

[2016-07-07 19:47] larsbergstrom commented on #12316
@UK992 Thank you *so* much for helping test this!

[2016-07-07 19:49] #12081 closed

[2016-07-07 20:18] GuillaumeGomez commented on #12316
So, do I need to anything?

[2016-07-07 21:19] larsbergstrom commented on #12316
@GuillaumeGomez Can you add that mingw package to the readme.md instructions in your PR? I will deploy it to the Windows CI builder.

[2016-07-07 21:20] larsbergstrom commented on #12316
I have deployed this to the Windows builder.

[2016-07-07 21:23] jdm commented on #10949
Fixed by #10903.

[2016-07-07 21:23] #10949 closed

[2016-07-07 21:44] GuillaumeGomez commented on #12316
@larsbergstrom: Done.

[2016-07-07 22:53] emilio opened #12328 "Perma-timeout in /css-flexbox-1_dev/html/css-flexbox-height-animation-stretch.htm"
This test has a continuous animation running, so our compositor just doesn't
know when should it take a screenshot.

We only happen to pass the test accidentally, anyway (we render both the
reference and the test incorrectly).

We should fix the logic to determine when a screenshot is triggered, though
honestly I don't know off-hand how to do it.

cc #12120.

[2016-07-07 23:14] emilio commented on #12120
So the idea I'm thinking about is adding a pref or something as we do to test our crash handler, but adding:

1. A test mode to the constellation that allows us to trigger animation ticks on-demand.
2. A pref-guarded API that allows us to "move" the clock by a delta, and trigger an animation tick.

I think that should be enough to be able to write a bunch of animation tests under `tests/mozilla`.

[2016-07-07 23:33] izgzhen commented on #12322
Cool, I'll see what I can do

[2016-07-07 23:44] jdm commented on #12120
No better idea!

[2016-07-08 01:24] metajack commented on #12120
:+1:

[2016-07-08 01:26] aneeshusa commented on #12314
Thanks for figuring this out while I was at work - I'm just as shocked about `strcat` still lurking around.

Re: Salt: The only Salt changes I applied were those in servo/saltfs#428. I always `tee` the Salt output into log files, but both with `test=True` and after the real highstate finished I looked through the output and IIRC the only changes were the ffmpeg packages, not python or any other pa

[2016-07-08 01:28] larsbergstrom commented on #12314
@aneeshusa No worries! I certainly don't log my salt highstate runs, either, and just look through the output. Perhaps that's something we should think about, given that you, I, and @edunham all run them and may need to pick up after them?

And sorry for the random accusation that it was the highstate; that *seemed* to be the only thing that had happened at the time that the failure rate went to n

[2016-07-08 01:28] aneeshusa commented on #12314
This is also where using `tmux` or `screen` is nice to have the backscroll around for later.

[2016-07-08 01:28] aneeshusa commented on #12314
I'd be +1 for logging all highstate runs + retention for 2 days (should be more than enough for any issues to pop up).

[2016-07-08 03:12] #12225 closed

[2016-07-08 03:29] jdm commented on #11487
I'm not sure I understand the bit about marking a flow as dirty. As far as I know (and based on [our documentation](https://github.com/servo/servo/wiki/Layout-Overview#incremental-style-calculation)), we only talk about marking nodes as dirty, not flows. Could you link the code you're talking about?

[2016-07-08 03:33] jdm commented on #11487
I will point out that [this code](https://dxr.mozilla.org/servo/rev/c4aaedab32eb906ff715b850b641d2a75536e73d/components/script/dom/htmlimageelement.rs#81) executes after the image data (either the metadata or the actual pixels) is received from the network, which marks the DOM node as dirty.

[2016-07-08 04:21] Rivsen opened #12331 "assertion failed: UrlHelper::SameOrigin(&ev_url, &it_window.get_url())"
assertion failed: UrlHelper::SameOrigin(&ev_url, &it_window.get_url())
### URL:

http://www.baidu.com/
### Backtrace:

[code]

[2016-07-08 04:36] lambdaupb commented on #11990
I have seen the same error on https://bugs.launchpad.net/ubuntu/+source/gcc-4.2/+bug/256797

with todays (?) nightly Servo `0.0.1-1f5c26a`
[code]

[2016-07-08 04:48] chenpighead commented on #11487
Element(HTMLElement(HTMLHtmlElement)): changed=false dirty=false dirty_descendants=false
  Element(HTMLElement(HTMLHeadElement)): changed=false dirty=false dirty_descendants=false
    Element(HTMLElement(HTMLStyleElement)): changed=false dirty=false dirty_descendants=false
      CharacterData(Text): changed=false dirty=false dirty_descendants=false
    CharacterData(Text): changed=false dirty=fals

[2016-07-08 04:55] KiChjang commented on #12279
Fixed by #12271.

[2016-07-08 04:55] #12279 closed

[2016-07-08 05:12] ConnorGBrewster opened #12332 "Implement Runnable trait name method for DetailsNotificationRunnable"
Implement the `Runnable` trait `name` method for `DetailsNotificationRunnable`. The method should return the string: `DetailsNotificationRunnable`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmldetailselement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 05:12] highfive commented on #12332
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 05:15] ConnorGBrewster opened #12333 "Implement Runnable trait name method for PlannedNavigation"
Implement the `Runnable` trait `name` method for `PlannedNavigation`. The method should return the string: `PlannedNavigation`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlformelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 05:15] highfive commented on #12333
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 05:17] ConnorGBrewster opened #12334 "Implement Runnable trait name method for FileReaderEvent"
Implement the `Runnable` trait `name` method for `FileReaderEvent`. The method should return the string: `FileReaderEvent`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/filereader.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 05:17] highfive commented on #12334
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 05:19] ConnorGBrewster opened #12335 "Implement Runnable trait name method for DocumentProgressHandler"
Implement the `Runnable` trait `name` method for `DocumentProgressHandler`. The method should return the string: `DocumentProgressHandler`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/document.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 05:19] highfive commented on #12335
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 05:26] izgzhen commented on #12331
https://github.com/servo/servo/blob/master/components/script/dom/storage.rs#L208

Is that an ordinary origin check? I think we might better not panic here

[2016-07-08 06:05] upsuper opened #12336 "Fail to download rust compiler for building servo"
When I execute `./mach build -d`, it shows

[2016-07-08 06:19] mrmiywj opened #12337 "Cannot compile on manjaro linux"
Recently I check to Manjaro linux. But it fails when I tried to compile servo.
The main reason is due to the compilation of `script` crate is stuck because of limitation of memory. But  my memory is 2.5 GB. I thought it was enough.

[2016-07-08 06:31] ChangWanHong commented on #12332
I'll take it! But, as I understand, there is no 'name' method in 'Runnable'. Do I have to write 'name' declaration for 'Runnable' first?

[2016-07-08 06:34] KiChjang commented on #12332
@ChangWanHong Did you pull changes from the latest master branch?

[2016-07-08 06:36] KiChjang commented on #12336
What target triplet are you using to compile Servo?

[2016-07-08 06:38] upsuper commented on #12336
Ideally x86_64-pc-windows-msvc.

[2016-07-08 06:39] upsuper commented on #12336
Oh, I see, the target is not recognized properly. It worked yesterday.

[2016-07-08 06:45] Ms2ger commented on #12326
Cc @mbrubeck

[2016-07-08 06:48] upsuper commented on #12336
OK, it's my fault. I was using the MSYS2 Shell rather than the MinGW Shell... Then it works.

[2016-07-08 06:48] #12336 closed

[2016-07-08 07:46] moiSurGitHub commented on #11994
I confirm
it's ok if I use proxychains at the beginning of the command
`proxychains ./runservo.sh`

[2016-07-08 08:20] ChangWanHong commented on #12332
Oh. I missed that point! Thx.
I'll upload patch soon as possible.

[2016-07-08 08:33] izgzhen commented on #12322
Which `prefs.json` should be modified for this case in tree?

[2016-07-08 08:49] KiChjang commented on #12335
It's yours!

[2016-07-08 08:52] Scorpil commented on #12331
Seems like a good first issue for me to start contributing into servo. I'd like to investigate it, please assign it to me.

[2016-07-08 09:03] izgzhen commented on #12331
@Scorpil Nice, please do it!

[2016-07-08 09:15] tallowen commented on #12283
hey @aneeshusa - what do you think is the appropriate behavior in the rust loader when duplicate keys are seen? Throw an error? Log a warning?