[2015-04-13 15:14] dhananjay92 commented on #5582
@jdm I just took that notification code from Mozilla's script (`mach_commands.py`) that mbrubeck mentioned. Should I change it to invoking `notify-send` process?

[2015-04-13 15:18] dhananjay92 commented on #5663
I am working on this one as well!

[2015-04-13 15:23] jdm commented on #5582
Nope, using prior art is totally fine.

[2015-04-13 15:27] dhananjay92 commented on #5582
Okay. So, I will add Notifications code for Windows and then create a PR. Since I don't have Mac, I can't implement Notifications for it. I am hoping someone with a Mac would add it later hopefully!

[2015-04-13 16:08] boghison commented on #5654
This is fixed now, right?

[2015-04-13 16:09] #5654 closed

[2015-04-13 16:09] metajack commented on #5654
Appears that way.

[2015-04-13 16:22] dhananjay92 commented on #5582
Done for windows as well. I followed the same `FLASHWINDOW` code from Mozilla's `mach_commands.py` script.

Once the build is finished the Terminal blinks in the taskbar as shown below in screenshot.
![screenshot_windowflash](https://cloud.githubusercontent.com/assets/6269279/7119929/682787ee-e1be-11e4-9fbe-443c88794d07.png)

Is this okay? If so, I will create a PR.

[2015-04-13 17:12] pcwalton commented on #5660
Agreed with @jdm. As of now we do no munging of the scroll distance in Servo--we treat the events as describing pixels--so any fixes should be on glutin's side.

[2015-04-13 17:31] dhananjay92 commented on #5582
Created Pull #5664. Please let me know if any changes are needed in it!

[2015-04-13 17:46] jdm opened #5665 "Send high resolution millisecond timestamps in timeline markers"
We should convert the nanosecond timestamps into fractional milliseconds like the output of https://developer.mozilla.org/en-US/docs/Web/API/Performance/now . This doesn't mean we need to communicate with the script task; I think we can just do some simple division.

cc @JIoJIaJiu

[2015-04-13 17:47] jdm opened #5666 "Support the combined "Performance" tool in FF nightly"
The timeline integration from #5636 doesn't work in FF nightly, since there's no separate timeline tool. We should figure out what's necessary here.

[2015-04-13 18:18] SimonSapin commented on #2206
I think this should be a feature request on Cargo to provide a way in [`[profile.*]` sections of `Cargo.toml`](http://doc.crates.io/manifest.html#the-[profile.*]-sections) to have `--allow` flags and the like passed to rustc.

[2015-04-13 18:23] jdm opened #5667 "Move mime classifier unit tests into unit test crate"
They got lost in the shuffle, it appears: http://mxr.mozilla.org/servo/source/components/net/mime_classifier.rs#983 . They should be in http://mxr.mozilla.org/servo/source/tests/unit/net/ instead.

[2015-04-13 18:24] jdm commented on #5667
`./mach test-unit` is the way to check they they actually build and run after being moved.

[2015-04-13 19:23] Adenilson opened #5668 "Incorrect size on filtered element"
A filtered element (e.g. opacity) will be displayed smaller than it should. Investigating if the issue is incorrect translate matrix or with clipping.

Confirmed for: opacity, grayscale.

[2015-04-13 19:23] Adenilson commented on #5668
Screenshots.
![opacity_filter_ff](https://cloud.githubusercontent.com/assets/959744/7123574/f20518e6-e1d7-11e4-84f6-f8ac11abdc06.png)
![opacity_filter_servo](https://cloud.githubusercontent.com/assets/959744/7123573/f2011f3e-e1d7-11e4-8d10-40614ccf5ced.png)

[2015-04-13 19:25] Adenilson commented on #5668
Test case: https://gist.github.com/Adenilson/fcdf16c8cd1911a1245e

[2015-04-13 19:28] zerokarmaleft commented on #5667
I'll give this one a go.

[2015-04-13 19:30] jdm commented on #5667
Great!

[2015-04-13 19:36] boghison opened #5669 "No support for History APIs"

[2015-04-13 19:58] jdm commented on #5669
Presumably you mean https://html.spec.whatwg.org/multipage/browsers.html#the-history-interface ?

[2015-04-13 20:07] boghison commented on #5669
@jdm Yes, feel free to edit the content of the issue to help contributors :)

[2015-04-13 20:35] jdm commented on #5669
Ok! I think it's worth splitting this up into various issues, since some parts of it are significantly more complicated than others.

[2015-04-13 20:38] jdm opened #5670 "Implement History's back/forward APIs"
Spec: https://html.spec.whatwg.org/multipage/browsers.html#the-history-interface, https://html.spec.whatwg.org/multipage/browsers.html#dom-history-back,
Code: https://github.com/servo/servo/wiki/Adding-a-new-WebIDL-binding

This will just end up mimicing the behaviour of the GoForward/GoBack APIs of HTMLIFrameElement (see components/script/dom/element/htmliframelement.rs)

[2015-04-13 20:38] jdm commented on #5670
cc #5669

[2015-04-13 21:04] aneeshusa commented on #5670
I'd like to try this one out for size.

[2015-04-13 21:43] #5667 closed

[2015-04-13 21:58] jdm commented on #5670
It's yours!

[2015-04-13 22:28] pgonda commented on #5603
The spec mentions Editing hosts, Browsing context containers, Sorting interface th elements I am not sure how to check for these inside bind_to_tree, any tips?

[2015-04-13 22:57] jjnsn commented on #4331
Actually, just a CRLF-separated list would have been easier. No biggie, though, I'll just use dict.items()

Otherwise, is this ready to go?

[2015-04-13 23:27] jdm commented on #5603
Browsing context containers are iframes, so you can just check the node type id or try casting it to HTMLIFrameElement. We don't implement anything related to editing hosts right now, so I would leave a TODO for that, along with the "sorting interface th elements" which have [pretty complicated rules](https://html.spec.whatwg.org/multipage/tables.html#sorting-interface-th-element).

[2015-04-14 00:30] christianweinz opened #5676 "thread 'LayoutTask' panicked at 'no layout root', /home/larsberg/rust/src/libcore/option.rs:330"
**Intro**

I just compiled servo. I followed the [official instructions](https://github.com/servo/servo) but did not install `msttcorefonts`.

After asking in #servo I was told I'm ought to file an issue.

My system is Debian Jessie amd64.

**Steps to reproduce**
1. Run `mach run http://www.csicop.org/sb/show/shooting_for_the_sun/`
2. Click on the "Tweet" button over the article text.

**Console o

[2015-04-14 00:31] jdm commented on #3961
Dup of #3849.

[2015-04-14 00:31] #3961 closed

[2015-04-14 00:31] #4985 closed

[2015-04-14 00:32] jdm commented on #5676
Could be the same problem as #3849.

[2015-04-14 01:01] frewsxcv commented on #5660
Related to scrolling speed #5320

[2015-04-14 07:29] #5639 closed

[2015-04-14 08:38] dmarcos opened #5679 "Layerize Canvas"
@ecoal95
To render canvas we now use a readback strategy where the canvas_paint_task and webgl_paint_task draw pixels in a buffer and the compositor requests them as needed. Both tasks should be able to write directly on a NativeSurface.

[2015-04-14 10:11] Ms2ger opened #5681 "Start using on_refresh_driver_tick"
cc @JIoJIaJIu.

[2015-04-14 12:08] gerv commented on #4331
Fine by me. Thank you :-)

Gerv

[2015-04-14 12:53] aneeshusa opened #5683 "Mach can't count"
While working on #5659, I ran './mach test-wpt --include encoding/api-replacement-encodings.html encoding/textencoder-constructor-non-utf.html encoding/api-invalid-label.html', and Mach is inconsistent in its count of unexpected results. Each subtest has 0 unexpected results, and overall Mach reports an OK result, but it also logs a "Got 1 unexpected results" line right near the end, and exits wit

[2015-04-14 13:06] aneeshusa commented on #5683
I accidently had used 'expected: fail' intead of 'expected: FAIL' in the test metadata, which caused the issue, but I found the original output fairly confusing and still would like to see it be more consistent.

[2015-04-14 13:22] jdm commented on #5683
I believe this is a problem with https://github.com/w3c/wptrunner, rather than mach.

[2015-04-14 13:25] JIoJIaJIu commented on #5665
@jdm Is it ok or I should implement saving start stamp?

[2015-04-14 13:28] jdm opened #5684 "Make Element::get_attributes take a mutable RootedVec<JS<Attr>> argument instead of returning Vec<Temporary<Attr>>"
`Vec<Temporary<T>>` is not memory-safe, so we need to move to a type that is. We should take an argument of type `&mut RootedVec<JS<Attr>>` instead, so the caller is forced to provide a value that will not be accidentally garbage-collected.

Code: components/script/dom/element.rs

[2015-04-14 13:33] nox commented on #5684
[code]

Maybe it should just return an iterator?

[2015-04-14 14:01] shinglyu commented on #5187
Are we talking about https://github.com/servo/servo/blob/master/components/style/properties.mako.rs#L2711 ? The line number changed after a few commit.

[2015-04-14 14:05] shinglyu commented on #5187
OK, @yodalee told me it's on line 2713

[2015-04-14 14:08] #4873 closed

[2015-04-14 14:09] jdm commented on #5684
I don't think it can, since that would be to a borrowed RefCell containing a vector.

[2015-04-14 14:11] jdm commented on #5665
That makes sense to me. Does the timeline code still work?

[2015-04-14 14:27] Ms2ger opened #5686 "Move content tests into the Servo wpt tree"
#5685 moved a first test; we should do the same to all other content tests and then remove the harness. I'll probably work on it tomorrow if nobody beats me to it.

[2015-04-14 15:23] #5620 closed

[2015-04-14 16:48] SimonSapin opened #5688 "Split up the unit test crate"
We currently (since #5574) have a single crate in `tests/unit` that contains modules / subdirectories named after the crates it tests. This is good for our CI build times, but a pain to work with: the unit test crate depends on all of these crates at once. If you make a change, say in `components/style` and want to run unit tests for it, you have to rebuild `components/script` for no reason.

This

[2015-04-14 16:51] dhananjay92 commented on #5663
[Here](https://github.com/dhananjay92/servo/commit/651e490c2b9eda8d6fd20149e61128c1a7b4e7d2) is what I have done so far. With these changes, project builds successfully.
I am now running the tests using `./mach test-wpt`.

Please let me know if I missed anything!

[2015-04-14 17:27] SimonSapin commented on #5688
The `test-unit` command is in `python/servo/testing_commands.py`.

[2015-04-14 17:48] jdm commented on #5663
That looks like what I expected :)

[2015-04-14 18:17] jdm commented on #5665
Pleause use http://w3c.github.io/hr-time/ as the reference instead of the TR/ spec, though.

[2015-04-14 18:25] jdm opened #5690 "window.performance.now values are way too big"
The implementation at http://mxr.mozilla.org/servo/source/components/script/dom/performance.rs#54 multiples a nanosecond value by 1 million and calls that a high-precision millisecond value. That seems obviously wrong to me; we should be dividing in order to return fractional milliseconds.

[2015-04-14 20:42] #5538 closed

[2015-04-14 22:11] chmanchester commented on #5646
compiletest-rs is having trouble compiling with servo's rustc, failing on something added on April 1st.

[2015-04-15 02:15] jagtalon commented on #5690
@jdm I'd like to try this out.

[2015-04-15 06:15] jdm opened #5698 "Create a gfx_traits crate for shared types"
In particular, gfx::color is a big offender. The canvas crate depends on it, which causes script to be rebuilt when gfx is modified. If we move it to gfx_traits instead, that will help a lot. See #5465 for a similar effort.

[2015-04-15 12:07] Ms2ger commented on #5686
I got this.

[2015-04-15 12:46] Jayflux commented on #5655
Ok added, thanks guys.
Maybe we can close this?

[2015-04-15 12:46] #5655 closed

[2015-04-15 15:15] boghison commented on #5698
What exactly are the shared types that need to be moved?

[2015-04-15 15:32] jdm commented on #5698
Types/functions that are used by other crates. An easy way to find these is searching for "use gfx::": http://mxr.mozilla.org/servo/search?string=use%20gfx%3A%3A

[2015-04-15 15:34] boghison commented on #5698
I'll take this, I guess

[2015-04-15 17:55] jdm opened #5702 "DOM methods taking Vec<UnionContainingDOMType> aren't safe"
We probably end up with `Vec<UnionType>` where UnionType is a type containing `JS<T>` (see #2661). We should actually make them take a RootedVec in this case.

[2015-04-15 17:58] Adenilson opened #5703 "Images won't be filtered"
Unlike text and divs that will be correctly filtered, image elements are not.

Test case: https://gist.github.com/Adenilson/c485803bf1e144963e55

[2015-04-15 17:59] Adenilson commented on #5703
![img_opacity_filter_ff](https://cloud.githubusercontent.com/assets/959744/7165750/726f71ac-e35e-11e4-9468-1a934e53c065.png)
![img_opacity_filter_servo](https://cloud.githubusercontent.com/assets/959744/7165749/726bf55e-e35e-11e4-9eed-ae32a1d4c5ce.png)

[2015-04-15 17:59] Adenilson commented on #5703
Related issue #5668

[2015-04-15 17:59] Adenilson commented on #5703
@pcwalton @larsbergstrom

[2015-04-15 18:00] Adenilson commented on #5668
@pcwalton @larsbergstrom

[2015-04-15 18:26] jjnsn commented on #4331
Here you go.

Num|UA
------------ | -------------
0 | Mozilla/5.0 (Android; Mobile; rv:37.0) Gecko/37.0 Firefox/37.0
1 | Mozilla/5.0 (Android; Mobile; rv:37.0) Servo/1.0 Firefox/37.0
2 | Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:37.0) Gecko/20100101 Firefox/37.0
3 | Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:37.0) Servo/1.0 Firefox/37.0
4 | Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10

[2015-04-15 20:52] #5686 closed

[2015-04-15 22:12] jdm opened #5705 "Dispatch mousedown and mouseup events"
We currently dispatch click events, but not the mousedown and mouseup events that precede them.

Spec: https://dvcs.w3.org/hg/dom3events/raw-file/tip/html/DOM3-Events.html#event-type-mousedown
Code: components/script/script_task.rs (see empty branches in handle_event), components/script/dom/document.rs (see handle_click_event)

[2015-04-15 23:45] pgonda commented on #5705
I'd like to try this out!

[2015-04-16 03:13] jdm commented on #5705
Go for it!

[2015-04-16 04:30] #5409 closed

[2015-04-16 09:25] Ms2ger opened #5709 "Fix warnings in net unit tests"
Run `./mach test-unit` to see those:

[code]

[2015-04-16 12:06] narfg opened #5711 "Incremental layout removes line breaks"
Consider the following test case:
[code]
If I hover the mouse cursor above the blue div, the line breaks in the green div are removed and vice versa.
This doesn't happen with the option -i.
Original state:
![1](https://cloud.githubusercontent.com/assets/158917/7180346/24029498-e441-11e4-83c5-76ce663b6e3d.png)
Mouse cursor in one of the divs:
![2](https://cloud.githubusercontent.com/assets/158917/7

[2015-04-16 12:44] SimonSapin opened #5713 "`./mach build` sometimes rebuils too much"
Particularly the `script` crate is sometimes rebuilt when nothing seems to have changed in it. The underlying issue might be in Cargo, but we should have at least a reliable way to reproduce the issue (and if possible a minimal test case) before filing a Cargo issue.

[2015-04-16 13:21] jdm opened #5714 "Intermittent WPT reftest failure in /2dcontext/line-styles/canvas_linestyles_linecap_001.htm"

[2015-04-16 13:24] jdm commented on #5711
cc @pcwalton

[2015-04-16 14:41] pgonda commented on #5705
any suggestions on how to add testing for these new events?

[2015-04-16 14:45] jdm commented on #5705
I don't know of any way to do automated testing right now (since we can't inject arbitrary mouse events), but you can create a manual test in tests/html that has event listeners that report success.

[2015-04-16 14:46] jdm commented on #5705
Specifically you'll want to check the the mousedown/mouseup/click events occur in the right order, and that all the properties of the event objects are as the spec defines, and that no handler is invoked more than once.

[2015-04-16 17:43] boghison commented on #5698
BTW, where's the debug macro from?

[2015-04-16 17:44] jdm opened #5718 "Remove ResponseSenders"
ResponseSenders used to mean more, but now it's identical to LoadConsumer. We should just replace all uses of ResponseSenders with LoadConsumer now.

[2015-04-16 17:55] #2507 closed

[2015-04-16 17:55] #2427 closed

[2015-04-16 18:11] jdm commented on #5554
Covered by #5610.

[2015-04-16 18:11] #5554 closed

[2015-04-16 18:11] jdm commented on #5556
Let's open new issues for anything remaining here.

[2015-04-16 18:11] #5556 closed

[2015-04-16 18:15] boghison commented on #5698
How could I solve the "includes itself" issue?

[2015-04-16 18:15] jdm commented on #5698
Could you be more specific? :)

[2015-04-16 18:18] boghison commented on #5698
Well, for example, I need to use gfx_traits::color in gfx/paint_context, but I can't add gfx_traits as a dependency in gfx, because gfx_traits depends on gfx (for example buffer_map).

[2015-04-16 18:28] jdm opened #5719 "Unnecessary clone in Document constructor"
We match against an `Option<DOMString>` named content_type, but there's no need to clone the string in the `Some` case.

Code: components/script/dom/document.rs

[2015-04-16 18:28] nox opened #5720 "Inexplicable unrooting ordering error"
In the following code, if we remove the next_sibling binding and root the value directly where it's used, Servo crashes with an unrooting ordering error.

[code]

[2015-04-16 18:30] nox commented on #5720
Removing the ref pattern in `ref parent_node` also makes the code fail and should probably be detected in a lint pass.

[2015-04-16 18:32] nox commented on #5720
See https://github.com/servo/servo/pull/5721.

[2015-04-16 18:45] jdm opened #5722 "Migrate test_node_lookupPrefix.html to a WPT test in mozilla/"
See https://groups.google.com/forum/#!topic/mozilla.dev.servo/jAXUeEYiqQg for details.

[2015-04-16 18:46] nox commented on #5702
Want this one.

[2015-04-16 19:10] jdm opened #5724 "Write a lint to flag moving Root values"
They should not be moved, because that can change the ordering of the values that get unrooted later. It would be nicer to catch this at compile time than runtime.

[2015-04-16 19:11] jdm commented on #5698
Oh, that dependency is the wrong way round. gfx should depend on gfx_traits.

[2015-04-16 19:11] jdm commented on #5720
https://github.com/servo/servo/issues/5720#issuecomment-93809245 is covered by #5724.

[2015-04-16 19:13] Manishearth commented on #5705
@pgonda In case you're stuck, you might be able to take some pointers from #5723 :smile:

[2015-04-16 19:25] dhananjay92 commented on #5719
So, on [Line#766](https://github.com/servo/servo/blob/master/components/script/dom/document.rs#L766) just replace `Some(string) => string.clone(),` with `Some(string) => string,`.

That's it?!

[2015-04-16 19:42] jdm commented on #5719
Yep :) It's a nice simple issue to ease new contributors into the project.

[2015-04-16 19:58] pgonda commented on #5705
I am still having the issue of event order (mousedown->click->mouseup).  I didnt see anything in the other commit that would fix that, did I miss something?

[2015-04-16 20:28] jdm commented on #5705
@pgonda It's entirely possible that our input library (glutin) is providing us events in the order of MouseDown, Click, MouseUp, which means that we'll need to move the existing click event code so that it runs based on the MouseUp event instead.

[2015-04-16 20:55] boghison commented on #5698
But what about the code that gfx_traits needs, I don't even understand the point of splitting gfx

[2015-04-16 21:03] jdm commented on #2661
@nox suggested we could define our unions as `enum NodeOrString<T: Assignable<Node>> { eNode(T), eString(DOMString)`. This would allow us to store `NodeOrString<JS<Node>>` values, accept `NodeOrString<JSRef<Node>>` arguments, and return `NodeOrString<Temporary<Node>>` values. That's pretty compelling.

[2015-04-16 21:04] Manishearth commented on #2661
That sounds like a good idea :)

[2015-04-16 21:06] nox commented on #2661
If we do this and ever need unions of multiple interfaces, a lint should probably be added to make sure the various type parameters are actually the same flavors of Assignable<T>.

[2015-04-16 21:11] jdm commented on #2661
Such as http://mxr.mozilla.org/servo/source/components/script/dom/webidls/CanvasRenderingContext2D.webidl#9

[2015-04-16 21:14] jdm commented on #5698
Here's the point - today, if you change code in gfx/ we have to rebuild a lot of other crates that depend on it. In an ideal world, every crate (including gfx) that needs types/methods from gfx would depend on gfx_traits, where they would be defined. That would mean that any non-public changes to the gfx code do not require rebuilding every other crate. Right now, we can improve the situation by m

[2015-04-16 21:52] jdm opened #5726 "generated_containing_block_rect not yet implemented for this flow"
STR:
1. Visit http://joshmatthews.net/blog/

[code]

[2015-04-17 00:17] pcwalton commented on #5703
The problem here is that we build up the filter pipeline in `BlockFlow`, but these are inline fragments. We should move that code to be shared between both (and, in general, support inline stacking contexts).

[2015-04-17 04:09] jdm opened #5730 "Make tidy.py check for links to spec pages"
Following up on #5729, let's avoid adding any new spec links that might break in the future. We can use the regex there to check for any that might otherwise sneak in.

Code: python/tidy.py

[2015-04-17 10:11] boghison commented on #5698
@jdm Yes, that does make sense, but it still raises issues because of dependencies. If gfx is dependent on gfx_traits, the code in gfx_traits can't access the code in gfx, which means that the code that isn't public still needs to be copied or moved into it's own crate for the public types in gfx_traits to be able to use it. Again, the same example: gfx needs gfx_traits::color, which is fine, sinc

[2015-04-17 13:03] #5722 closed

[2015-04-17 13:07] jdm commented on #5698
@boghison I see what you mean. In this case, I would suggest moving the definition of the PaintRequest and BufferMap types to gfx_traits.

[2015-04-17 13:11] marcusklaas commented on #5709
I'd like to have a stab at this.

[2015-04-17 13:14] jdm commented on #5709
Go for it!

[2015-04-17 14:00] boghison commented on #5698
@jdm I think this is just too much work, could you please remove the label so that someone else would take the issue?

[2015-04-17 14:23] boghison commented on #5698
Also, to whomever might take this issue, feel free to use [this](https://github.com/boghison/servo/commit/47bfca4058f578b48a575ddc688923b4301704d5) commit as a head start :)

[2015-04-17 19:47] jdm opened #5735 "actor_workers hashmap is not used"
I don't remember precisely what its intended for, but it really should live outside of handle_new_global and be passed in as an `&mut HashMap` argument, rather than be created inside that function.

Code: components/devtools/lib.rs

[2015-04-17 22:48] jdm opened #5737 "Add a lint for moving RootedVec values"
1) It's forbidden
2) it's really easy to make this mistake
3) it's really tricky to figure out where the mistake occurs

[2015-04-17 23:24] Adenilson commented on #5703
Confirmed: setting the property display: block in the above example will make it work.

I'm reading display_list_builder code to understand how to share StackingContext object creation for both Blocks and Inlines.
![screen shot 2015-04-17 at 4 23 52 pm](https://cloud.githubusercontent.com/assets/959744/7212569/351adbea-e51e-11e4-9dd2-0faa800ea992.png)

[2015-04-17 23:34] jdm opened #5738 "Make parse_progress take the JSRef by value, not reference"
`&JSRef<T>` is inefficient, since `JSRef<T>` is essentially a smart-pointer already that is trivially copyable so passing by reference doesn't give any benefit.

Code: components/script/parse/html.rs

[2015-04-18 02:55] dhananjay92 opened #5740 "Unexpected behaviour of XHR Tests in WPT"
While running Web Platform Tests, XHR tests are failing for some reason.

Here's the summary of wpt-tests on master.

[code]

[2015-04-18 02:57] dhananjay92 commented on #5740
Here is the detailed wpt-test output only for `/XMLHttpRequest/send-redirect-bogus-sync.htm`
[code]

[2015-04-18 03:05] dhananjay92 commented on #5738
I am working on it!

[2015-04-18 10:54] marcusklaas commented on #5718
I'd like to work on this.

[2015-04-18 12:37] jdm commented on #5718
Go for it!

[2015-04-18 19:48] dhananjay92 commented on #5738
[Here](https://github.com/dhananjay92/servo/commit/0e6ec74ee60d6ab8354b6c30f09e703772c5e9b3) is what I have done.
Builds fine. Any tests to run for this?

[2015-04-18 21:23] dhananjay92 commented on #5735
So far, I have done [this](https://github.com/dhananjay92/servo/commit/ab53b9d1df90924b453b6d1e6abd4387a2043948).
No build errors.

What tests should I run for these changes?

[2015-04-19 06:56] ktt3ja commented on #5698
I spent some time working on this, but dividing this crate up isn't very straightforward.

Since the `canvas`, `compositing`, and `servo` crates only depend on `gfx::color`, `gfx::paint_task`, and `gfx::font_cache_task`, I started by moving types in those files. However, I ended up having to move everything in `gfx::font_cache_task` over, which makes me bring in things from `font_template` and the

[2015-04-19 13:40] boghison commented on #5698
@ktt3ja Yes, I stumbled upon that as well

[2015-04-19 13:58] jdm commented on #5698
Yes, I suggest starting with just fixing `canvas` since it's the biggest problem here. `servo` definitely should not be changed, since it's the top-level crate.

[2015-04-19 14:03] jdm commented on #5735
Given that nobody reads from it, there's no way the behaviour of the code that uses it can change. That being said, https://github.com/servo/servo/wiki/More-developer-tools-student-project describes how to run the devtools server and connect to it from Firefox.

[2015-04-19 14:04] jdm commented on #5738
If pages load, then that's enough to demonstrate that it still works.

[2015-04-19 14:10] jdm commented on #5698
That being said, it's looks like at least FontCacheTask could be moved into gfx_traits without much effort - the `Command` enum only uses a small number of other types that need to be moved as well.

[2015-04-19 14:37] #5539 closed

[2015-04-19 15:31] marcusklaas commented on #4974
I will give this a try.

[2015-04-19 16:09] ienzam commented on #1826
Hi,
I cannot test the tests now it seems.
I am running both
[code]
and
[code]

But it is not running any tests (and also not building servo)

[code]

What is the new way to build and run tests?

[2015-04-19 16:21] ienzam commented on #1826
Found it (autocomplete is gone :( )

    ./mach test-wpt /_mozilla/mozilla/node_lookupPrefix.html

[2015-04-19 18:00] kmcallister opened #5743 "Flexible information flow control policy"
See [Yang et al](https://www.usenix.org/conference/hotos13/session/yang). They propose using information flow control for several purposes including

* enforcing same-origin policy, guarding against mistakes in the engine,
* implementing CSP (#4577), and
* sandboxing browser extensions.

It would be nice to build Servo's information-flow security around a unifying framework like this. Maybe it cou

[2015-04-19 18:27] dhananjay92 commented on #5738
Checked. Page Loads!

[2015-04-19 18:32] dhananjay92 commented on #5730
I am trying to do this one. Since, I don't know RegExps in Python that well, so it may take some time for me to figure everything out.

[2015-04-19 19:55] dhananjay92 commented on #5730
Done. Please have a look at the [changes](https://github.com/dhananjay92/servo/commit/cb8bf8536bd157291ea3f994b859dda7bc5f9513).

Tested it by changing the links to point to specific page. It gives errors in such cases.

Please let me know if there's better way of doing the same. *I am asking this because I am not sure if my approach is best way to detect such links.*

Also I am thinking of refact

[2015-04-19 22:37] jdm commented on #4974
Excellent!

[2015-04-19 22:37] Manishearth commented on #5738
Fixed in #5744

[2015-04-19 22:37] #5738 closed

[2015-04-19 22:40] jdm commented on #5730
Yes, that sounds like a sensible refactoring to me!

[2015-04-19 22:49] neojski commented on #5719
@dhananjay92, @jdm, this should get closed because of #5733.

[2015-04-19 22:51] #5719 closed

[2015-04-19 23:06] neojski commented on #5718
Fixed via #5742, @jdm?

[2015-04-19 23:06] neojski commented on #5709
Fixed via #5734, @jdm?

[2015-04-19 23:36] #5709 closed

[2015-04-19 23:36] #5718 closed

[2015-04-20 00:33] ienzam commented on #1826
@jdm the issue is not fully fixed yet, I only implemented the first method, the other two are still left, working on it.

[2015-04-20 00:37] jdm opened #5746 "rustdoc source links aren't working"
Click `[src]` on http://doc.servo.org/script/dom/bindings/codegen/Bindings/XMLHttpRequestBinding/trait.XMLHttpRequestMethods.html for example, and it's a 404. I guess the same response for any page I try.

[2015-04-20 00:38] jdm commented on #1826
Oops!

[2015-04-20 06:54] Ms2ger opened #5749 "Make test-wpt autocomplete work for Servo-specific tests"
See <https://github.com/servo/servo/issues/1826#issuecomment-94291316>.

CC @jgraham, @lenzam

[2015-04-20 09:43] Manishearth commented on #5746
This is a rustdoc issue iirc, a few months ago rustdoc had broken src links (it got fixed, but we haven't updated our rustc)

[2015-04-20 09:49] Manishearth commented on #5724
So, a `#[no_move]` annotation that works transitively (via a self propagating lint and `walk_ty`).

We ban:

 - `foo(nomove)` but not `foo(&nomove)`
 - Functions which take nomove types by value instead of by reference, same for return types
 - Blocks which have the last expr of type nomove
 - Match arms containing nomove in their patterns. Might require a custom pattern visitor since we want to i

[2015-04-20 09:49] Manishearth commented on #5724
(We can also use this for https://github.com/servo/servo/issues/5737)

[2015-04-20 12:29] jdm commented on #5724
Yes, that sounds like a solid set of rules. Probably should check the capture clauses of `move` closures, too.

[2015-04-20 12:33] jdm opened #5751 "Allow running WPT server and Servo-specific tests independently"
Running `python serve` from the WPT directory allows you to run `./mach run --debug http://localhost:8000/path/to/test` and run a WPT test under a debugger. This does not work for Servo-specific tests, however, as the `_mozilla` path is not found.

cc @jgraham @Ms2ger

[2015-04-20 15:05] jdm opened #5754 "Add test for createDocument to node_cloneNode.html"
There's a FIXME pointing at #1509 which was missing at the time the test was created. We should probably check the contentType property of the cloned document, since it should be "application/xml".

[2015-04-20 15:16] Ms2ger opened #5755 "Merge our node_cloneNode.html into upstream Node-cloneNode.html"
Blocks #5756.

`tests/wpt/mozilla/tests/mozilla/node_cloneNode.html` → `tests/wpt/web-platform-tests/dom/nodes/Node-cloneNode.html`.

This will allow other browsers to benefit from our test.

[2015-04-20 15:17] Ms2ger opened #5756 "Upstream our tests."
Where possible, we should upstream our tests to the relevant standard's test suite. This allows other browsers to benefit from our work, and makes it more likely that any mistakes or spec changes affecting the tests are found.

[2015-04-20 15:39] Manishearth commented on #5724
... that is going to require a full function visitor :/

[2015-04-20 15:40] Manishearth commented on #5724
I wish rustc could provide hooks for stuff like "move" and "drop" and other intrinsic thingies.

How hard would this be, @kmcallister ? It would greatly simplify humpty_dumpty too.

[2015-04-20 15:44] dhananjay92 commented on #5754
Working on it.

[2015-04-20 15:47] jdm commented on #5724
I would definitely be fine moving ahead with your rules and filing a follow up for this. We've already got dynamic checks that would notice a no_move value being moved into a closure.

[2015-04-20 15:47] Manishearth commented on #5724
\o/ I don't have to write a visitor :p

[2015-04-20 18:06] dhananjay92 commented on #5754
@jdm I understand that I have to write test case on [Line#185](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/node_cloneNode.html#L185). But I have problem running the test. When I run the test using `./mach test-wpt /tests/wpt/mozilla/tests/mozilla/node_cloneNode.html` command, it says `Ran 0 tests` in the Summary. Is there any other way of running this test?

[2015-04-20 18:32] dhananjay92 commented on #5735
@jdm I read it. But it seems for these changes, it's not necessary to do it (mainly because these changes aren't going to affect anything.) So I am going to go ahead and do a PR.

[2015-04-20 18:47] jdm commented on #5754
Yes, sorry. `./mach test-wpt /_mozilla/mozilla/tests/mozilla/node_cloneNode.html` should do the trick.

[2015-04-20 18:59] dhananjay92 commented on #2240
I'd like to work on this. Because there's Mozilla's code that I can use as reference, I think I can do it.
Just a quick question. How do I know if my changes are working as expected? Are there any tests to run?

[2015-04-20 19:01] Ms2ger commented on #2240
Running `./mach test-wpt webstorage` should have some new passing tests after the change, at least

[2015-04-20 19:03] dhananjay92 commented on #2240
Okay, cool. I am on it.

[2015-04-20 19:25] dhananjay92 commented on #5754
@jdm Oh okay. So the mozilla-tests need to run like that!
I think it makes sense to put this in [`/tests/wpt/README.md`](https://github.com/servo/servo/blob/master/tests/wpt/README.md), so that it can help others too.
If you agree, I'll go ahead and do it.

[2015-04-20 19:34] dhananjay92 commented on #5754
Nope. `./mach test-wpt /_mozilla/mozilla/tests/mozilla/node_cloneNode.html` isn't running it.
After poking for a while, it seems this is happening because of wrong path. Even if I give some complete gibberish path, it gives same output.
Where is `_mozilla` directory? I couldn't find it!

[2015-04-20 19:37] jdm commented on #5754
Oh, the tests/mozilla bit is wrong. https://github.com/servo/servo/issues/1826#issuecomment-94292331 describes how to do it properly.

[2015-04-20 19:40] dhananjay92 commented on #5754
Yep. That worked. I will write the test case shortly.

[2015-04-20 19:46] jdm opened #5760 "Create benchmarks to measure DOM binding performance"
We should make it really easy to demonstrate improvements or regressions in basic performance of our DOM bindings. This can start with a single page in tests/html that executes a series of measurements and prints out the results; this should be many iterations of the same action, with the total time divided by the number of iterations. Measurements that we care about include:

* simple string gett

[2015-04-20 20:50] jdm opened #5762 "Adapt areweslimyet to report Servo memory usage over time"
https://github.com/mozilla/areweslimyet

[2015-04-20 23:52] jdm opened #5764 "Intermittent WPT reftest pass in /2dcontext/the-canvas-state/canvas_state_restore_001.htm"

[2015-04-20 23:56] mbrubeck opened #5766 "Jumpy layout on mouse movement in simple page with multiple font sizes"
In the following test case, the layout changes when the mouse moves from one element to another.  Looking at flow tree dumps, it looks like maybe the first `<p>` sometimes gets the line height of the second one, and sometimes vice-versa.  Disabling style sharing and the font cache does *not* change the behavior.

[code]

[2015-04-21 03:13] ktt3ja commented on #5698
`FontCacheTask` impl uses `FontCache`, though, which is what's pulling in all these dependencies.

I think the only dependency I know how resolve is from `canvas`, but then this `gfx_traits` crate would only have `color`. :P

[2015-04-21 12:23] jdm commented on #5698
Oh, I see what you mean now. If you define a FontCacheTaskHelpers trait in gfx_traits which has the methods in the FontCacheTask impl, you can leave the actual implementation in gfx and break the dependency on FontCache that way.

[2015-04-21 13:48] gerv commented on #4331
That data seems to support the suggestion that the right UA for Servo is the same one as used with Gecko, but simply replacing the Gecko string with a Servo string, and making no other changes.

0 vs 1: Android Gecko vs. Servo. Mean: 0.977
2 vs 3: Desktop Gecko vs. Servo. Mean: 0.993
6 vs 7: B2G Gecko vs. Servo. Mean: 0.986

All of these figures sem high enough to me.

[2015-04-21 14:19] nox opened #5772 "WPT runner unusable through ./mach run"
The form is below other elements:

![capture d ecran 2015-04-21 a 16 18 15](https://cloud.githubusercontent.com/assets/123095/7254258/31248bcc-e842-11e4-9e2b-ca212d5f8ec1.png)

[2015-04-21 14:48] jdm commented on #5772
What's the full command, out of curiosity?

[2015-04-21 14:49] nox commented on #5772
[code]

[2015-04-21 15:56] #5561 closed

[2015-04-21 16:10] Ms2ger opened #5774 "Return an Atom from Element::parsed_name."
All callers immediately call `Atom::from_slice` anyway.

[2015-04-21 17:40] jdm commented on #3257
This looks like it's worth trying again after the next upgrade, since the blocking bug was fixed.

[2015-04-21 18:04] metajack commented on #5766
cc @pcwalton

[2015-04-21 18:04] metajack commented on #5766
cc @glennw

[2015-04-21 18:22] dhananjay92 commented on #5774
[Here](https://github.com/dhananjay92/servo/commit/09fbd69910be6dac10accb8abfb1d3a643914a87) is what I have done so far. Builds fine.
How do I check if my changes are correct or not? Any tests to run?

[2015-04-21 18:31] pgonda commented on #5603
what would be a good way to go about adding testing to this?

[2015-04-21 19:02] jdm commented on #5603
I am having trouble thinking of ways to test this that do not rely on implementing sequential navigation and checking the currently-focused element :/

[2015-04-21 19:06] #5101 closed

[2015-04-21 19:40] #5688 closed

[2015-04-21 19:58] boghison commented on #5762
But it opens the webpages in tabs, how would that be done in servo? (Servo doesn't have tabs _yet_, does it?)

[2015-04-21 20:09] jdm commented on #5762
Well, https://github.com/glennw/servo-shell and https://github.com/glennw/miniservo-gtk/ have tabs, but we would probably need to open and close Servo for each page we want loaded.

[2015-04-21 20:11] mbrubeck commented on #5603
You can test this using the `element.focus()` method.  There are some existing WPT tests that should be affected by this change, like `html/semantics/disabled-elements/disabledElement.html` and `html/semantics/selectors/pseudo-classes/focus.html`.

[2015-04-21 21:05] glennw opened #5780 "Fix up the x11 hack for getting stuck in XInitThreads"
PR https://github.com/servo/servo/pull/5748 stops us blocking on input events on Linux, due to an apparent issue with how we are using X11 from paint threads in Servo.

Find the root cause and change how we use X11 from threads to allow us to re-enable XPeekEvent.

[2015-04-21 23:04] mbrubeck commented on #5145
mwu suggested on IRC that we shouldn't be linking to libandroid.so at all, since the symbols it exposes are unstable and only meant to be used through JNI interfaces.  When I modified Servo's linker arguments to remove `-landroid`, dlopen("libmain.so") with a different error:

`Loading library: Cannot load library: link_image[1916]: 16623 could not load needed library 'libcrypto.so.1.0.0' for 'lib

[2015-04-21 23:12] mbrubeck commented on #5145
There is a `libcrypto.so.1.0.0` in the `support/android/openssl-1.0.1k` directory, but it's not included in the APK because it fails [this test](https://github.com/tomaka/android-rs-glue/blob/fa1eaa1d1857e0fa93832c5c8db5dc8bbcbc1eba/apk-builder/src/main.rs#L194-L196) in apk-builder (the filename doesn't end in ".so").

[2015-04-21 23:28] mbrubeck commented on #5145
We're no longer linking the OpenSSL libs statically because we don't set the new `OPENSSL_STATIC` variable added in sfackler/rust-openssl@c4f8427bfdd4ef4ce1fccafca56ecfbaf28224f4.

[2015-04-22 00:07] mbrubeck opened #5785 "Black screen and panic on Android startup: "Only OpenGL ES is supported""
After the fix for #5784 is applied, the Android app starts up but displays only a black screen.  From the system log:

[code]

[2015-04-22 00:13] larsbergstrom opened #5786 "Extend 'make tidy' to check licenses of dependencies"
Per https://bugzilla.mozilla.org/show_bug.cgi?id=1155181, acceptable licenses for code that is referenced by Servo are: MIT, BSD, Apache, and MPL 2.

1) For Rust dependencies, check the Cargo.lock file and access the info for the crate online to verify the license (suggested by @alexcrichton at https://github.com/rust-lang/meeting-minutes/blob/master/weekly-meetings/2015-04-21.md#servo-licensing-i

[2015-04-22 00:50] dhananjay92 commented on #2240
[Here](https://github.com/servo/servo/compare/master...dhananjay92:Issue%232240) is what I have done so far. No builds errors.

I re-built and ran the test using `./mach test-wpt webstorage` both on master and the branch with changes. It gives the same result. Below is the summary of test results. Please let me know if I missed anything.

[code]

[2015-04-22 01:09] #5145 closed

[2015-04-22 01:42] #5785 closed

[2015-04-22 02:54] tdaede opened #5789 "Frequent deadlocks browsing on Linux"
When using Servo and browsing around websites like Github or Wikipedia, eventually with enough draws Servo will deadlock. This generally happens 5-60 seconds into a browsing session. No errors are displayed and no CPU is used. Closing the window does not work, however killing with Ctrl-C does.

Resizing seems to make the problem happen faster.

[2015-04-22 11:52] mskrzypkows commented on #5774
check ```./mach test-wpt ```

[2015-04-22 13:31] jdm opened #5791 "Make test-wpt deal with full paths to mozilla/ tests correctly"
Right now you can tab-complete to a test file under `tests/wpt/web-platform-tests/` and the WPT harness will run it correctly, but the same is not true for tests that live in `tests/wpt/mozilla/tests/`. The `test-wpt` command in `testing_commands.py` should notice the `tests/wpt/mozilla/tests` path and replace it with `/_mozilla/` internally before executing the harness.

[2015-04-22 13:32] jdm commented on #5791
Specifically, `./mach test-wpt tests/wpt/mozilla/tests/mozilla/documentElement.html` does not work right now, but `./mach test-wpt /_mozilla/mozilla/documentelement.html` does.

[2015-04-22 15:40] mbrubeck opened #5795 "Android: Gray screen and hang on startup"
When starting Servo on Android, the app displays a gray screen, and then nothing happens.  There's not much in the log after Glutin and Spidermonkey initialization.  Tested on a Motorola Xoom running Cyanogenmod 10 (Android 4.1.2) and a Nexus 4 running Android 5.1.

[code]

[2015-04-22 17:09] dguenther commented on #5791
I opened a PR at #5797. This is my first Servo PR, so I'm still getting used to the project, but hopefully I didn't mess anything up too bad.

[2015-04-22 17:15] jdm commented on #5791
It sounds like I might have been hasty in filing this without talking to @jgraham. My apologies!

[2015-04-22 17:17] jdm opened #5798 "Intermittent XOpenDisplay errors in WPT canvas tests"
[code]

[2015-04-22 17:17] jdm commented on #5798
@glennw Any idea what's up here?

[2015-04-22 17:17] dguenther commented on #5791
No problem, it was still fun to take a look at it. :)

[2015-04-22 17:27] jdm commented on #5791
Should be fixed when #5799 merges.

[2015-04-22 20:03] #5292 closed

[2015-04-22 20:03] #5665 closed

[2015-04-22 21:07] glennw commented on #5798
@jdm Not off the top of my head - has this just started happening recently? I can't quite recall but I thought we ran the WPT tests with OSMesa on the builders, in order to avoid these intermittent X issues?

[2015-04-22 21:08] jdm commented on #5798
This definitely started happening in the past couple of days.

[2015-04-22 21:09] glennw commented on #5798
I'll see if I can reproduce it locally today.

[2015-04-22 22:47] jdm opened #5803 "Intermittent WPT reftest pass in /2dcontext/compositing/canvas_compositing_globalcompositeoperation_001.htm"
[code]

[2015-04-23 13:06] jdm opened #5807 "Write a lint for bad Root temporary values"
Code like `let new_node = node.owner_doc().root().r().CreateTextNode(new_data).root();` is easy to write. Unfortunately it causes an assertion when executed, due to the ordering of the Root values that are created - the first one is a temporary value which is destroyed after the statement is executed, but by then another Root has been created. It would be nice to stop this from being written in th

[2015-04-23 13:37] nox commented on #5807
According to @aatch, the dataflow infrastructure can be used to check the order in which Root values are freed. My guess is that there should be no overlapping between lifetimes of values of type Root<T>.

[2015-04-23 13:38] nox commented on #5807
For an example of such lint making use of CFG, look at the unconditional recursion one.

[2015-04-23 16:14] jdm opened #5809 "Remove unused ScriptDevtoolControlMsg enum"
It's confusing because it's similarly named to DevtoolsControlMsg and we don't use it.

[2015-04-23 16:17] jdm opened #5810 "Adapt arewefastyet to report Servo benchmark results over time"
https://github.com/h4writer/arewefastyet

[2015-04-23 16:22] jwilm commented on #4283
Hello! Is this available to work on? There's been no activity for some time.

[2015-04-23 16:43] SimonSapin opened #5811 "Glutin has diverged from upstream (blocks rustup)"
https://github.com/servo/glutin has a `servo` branch that has diverged from upstream. A simple `git merge` has conflicts, and I don’t know how to fix them.

@glennw, could you confirm if I can just take upstream and ignore the `servo` branch (maybe the same changes have been cherry-picked?) or if what’s in the `servo` branch needs to be preserved? If the latter, shouln’t these changes be sent upst

[2015-04-23 16:44] tomaka commented on #5811
Glutin has extracted its X11 ffi into an external crate, so that's one problem.

[2015-04-23 16:50] jdm commented on #4283
@jwilm Absolutely! Shout if you have any concerns or questions!

[2015-04-23 16:55] Adenilson opened #5812 "Fix fragment function that checks the need for a stacking context"
There is a FIXME on fragment::establishes_stacking_context() to check the z-index on a fragment to decide if it needs a Stacking Context (SC).

On #5782, we start to create SCs for inline elements, where the behavior previously was to do it only for Block elements.

This will trigger a regression on some tests and for while, SCs will be created only for inline elements that happen to have a filter

[2015-04-23 16:57] mbrubeck commented on #5711
I can't reproduce this on Servo master.  This was probably fixed by #5493.

[2015-04-23 17:11] jdm opened #5813 "Add unit tests for validate_and_extract"
There is uncertainty in #5778 about whether this function is working as advertized right now. We should put together a comprehensive set of tests for it.

[2015-04-23 17:14] jdm commented on #5813
Marked assigned to allow @donaldpipowitch to claim it if desired.

[2015-04-23 17:14] jdm commented on #5813
note: tests belong in tests/unit/script now.

[2015-04-23 17:21] donaldpipowitch commented on #5813
Thank you, I'll try to solve this!

[2015-04-23 17:45] jwilm commented on #4283
Great! I'll probably be needing feedback on the design before getting too far into building.

Thanks @jdm.

[2015-04-23 17:56] JIoJIaJIu opened #5814 "HighResolutionTimeStamp in milliseconds"
[In specification](https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/HighResolutionTime/Overview.html#sec-DOMHighResTimeStamp)

But in [code](https://github.com/servo/servo/blob/1b08211a5e9ec00eeaf241b916d51dc665289825/components/script/dom/performance.rs#L54) it looks like -10^15
[code]

[2015-04-23 18:33] jdm commented on #5814
This is fixed by #5697, right? I previously filed #5690 about this.

[2015-04-23 18:46] JIoJIaJIu commented on #5814
Yes, close it, please

[2015-04-23 18:53] JIoJIaJIu opened #5815 "Styles timeline marker"
Implement Styles timeline marker for task https://github.com/servo/servo/issues/4957

[2015-04-23 18:54] JIoJIaJIu commented on #5815
I'll take it

[2015-04-23 19:00] #5814 closed

[2015-04-23 19:25] pgonda commented on #5603
I am getting this error when I try to test wpt
[code]

[2015-04-23 19:27] jdm commented on #5711
`<narfg> mbrubeck: I can still reproduce the issue I described in #5711 on master.`

[2015-04-23 19:34] jdm commented on #5603
Try `rm -rf tests/wpt/_virtualenv` and try again?

[2015-04-23 19:37] pgonda commented on #5603
same error

[2015-04-23 21:05] Adenilson commented on #5186
We can close this, as #5546 has landed.

[2015-04-23 21:05] #5186 closed

[2015-04-23 21:08] Adenilson commented on #5703
We can also close this, as #5782 has landed.

[2015-04-23 21:08] #5703 closed

[2015-04-23 21:11] marcusklaas commented on #4974
How can one tell whether a load requires a resource id? When it passed `Some(Sender<ResourceId>)`?

[2015-04-23 22:02] glennw commented on #5811
@SimonSapin I have opened PRs to upstream the two changes we have in servo/glutin (https://github.com/tomaka/glutin/pull/390 and https://github.com/tomaka/glutin/pull/391). Once those two have merged, you *should* be able to just take the upstream tomaka/glutin.

[2015-04-24 00:19] Jinwoo-Song commented on #5809
Can I try this one?

[2015-04-24 01:09] saneyuki commented on #4283
@jdm @jwilm I'm working on this....

[2015-04-24 01:31] Jinwoo-Song commented on #5809
Requested a PR, https://github.com/servo/servo/pull/5818

[2015-04-24 01:54] dhananjay92 commented on #5810
Looks interesting project to me.
Couple of questions...
* awfy compares MozFF with Chrome. What should Servo be compared against?
* Should all the benchmarks be supported for servo?! *Since servo is still under development, I'm not sure if it can run all benchmarks.*

Currently, I am trying to understand awfy and ultimately estimate the time required to do this project. I am not sure if it can be,

[2015-04-24 02:09] tdaede commented on #5789
This is caused by this Mesa bug:

https://bugs.freedesktop.org/show_bug.cgi?id=84252

[2015-04-24 02:17] Manishearth commented on #5807
Can anyone think of a situation *other* than `let foo = temporary.root()......something.root()` where the ordering is messed up? We can easily catch chained exprs like that with a simple lint. I think, but the more general problem of broken FILO might be harder to catch.

[2015-04-24 02:35] jwilm commented on #4283
@saneyuki Oops! Sorry for trying to steal your project :stuck_out_tongue_closed_eyes:. I think servo has at least a few other issues available for me.

[2015-04-24 03:09] ienzam commented on #1826
Can you please help me interpret this line (https://dom.spec.whatwg.org/#locate-a-namespace bullet point 2) -

[code]
I am interpreting it as
[code]
Am I correctly interpreting it?

Also cannot find any test for lookupNamespaceURI.

[2015-04-24 06:02] glennw commented on #5811
@SimonSapin Both of the PRs above have been merged now.

[2015-04-24 06:14] SimonSapin commented on #5811
I’ve pushed a `servo_20150129` branch with the previous content of the `servo` branch, and reset the the `servo` branch to `upstream/master`.

[2015-04-24 06:14] #5811 closed

[2015-04-24 09:17] Ms2ger opened #5821 "Write a FAQ for "why is the graphics stack so complicated""
As volunteered on IRC :)

[2015-04-24 10:29] Ms2ger opened #5822 "Crash in `_mesa_ClearColor`"
Ubuntu 12.04

[code]

[2015-04-24 10:31] Ms2ger commented on #5813
We have plenty in wpt.

[2015-04-24 10:31] #5813 closed

[2015-04-24 10:44] donaldpipowitch commented on #5813
What is wpt? You closed this issue, is this solved now?

[2015-04-24 12:34] jdm commented on #5813
@donaldpipowitch WPT is a large testsuite of the HTML spec: http://mxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/, which does cover this code in question among many other things.

[2015-04-24 12:37] jdm commented on #4283
Oh, sorry @saneyuki!

[2015-04-24 12:42] jdm commented on #5807
I'm having trouble thingking of ones that are meaningful.

[2015-04-24 12:43] nox commented on #5807
I found many occurrences when making the iterators safe.

[2015-04-24 12:43] Manishearth commented on #5807
Alright. I'll work on this next then, unless @nox wants to try his hand at it.

[2015-04-24 12:43] #5809 closed

[2015-04-24 12:44] Manishearth commented on #5807
@nox Many occurrences of what? `let foo = temporary.root()......something.root()`, or something else?

[2015-04-24 12:45] jdm commented on #4974
Precisely.

[2015-04-24 12:47] jdm commented on #5603
@pgonda Oh, you seem to be missing the virtualenv binary.

[2015-04-24 12:47] nox commented on #5807
Nah, of ordering issues. Like [there](https://github.com/servo/servo/blob/07aa6306f58b5d575a65ebaf5c71f510423ed8ca/components/script/dom/node.rs#L2124-L2130):

[code]

I had to root everything first or Servo panicked.

[2015-04-24 12:48] nox commented on #5807
I first tried to write this without needing to compute node_next_sibling in the case it's not needed, but I couldn't find how to achieve this without panicking.

[2015-04-24 13:13] nox commented on #5807
Cf. [the previous version](https://github.com/nox/servo/blob/f7b124b290156d76559bf8b57887e52a8b603a09/components/script/dom/node.rs#L2041-L2046) of that snippet that made Servo panic:

[code]

[2015-04-24 14:02] jwilm commented on #4427
@jdm I'll sign up for this one. I tried running the tests for this, but the test comes back as skipped. Any suggestions?

[code]

[2015-04-24 14:04] jwilm commented on #4427
It looks like there's an .ini for each test suite - can now run test.

[2015-04-24 14:05] jdm commented on #4427
Yep, I was just about to paste the link :)

[2015-04-24 14:05] #5663 closed

[2015-04-24 14:06] jwilm commented on #4427
The real trick is getting that test to stop running!

[2015-04-24 14:17] jdm opened #5825 "Skip the dom/ranges/ test directory, rather than disabling each test"
The results at http://mxr.mozilla.org/servo/search?string=disabled%3A&find=dom%2Franges&findi=&filter=^[^\0]*%24&hitlimit=&tree=servo are silly. We should modify http://mxr.mozilla.org/servo/source/tests/wpt/include.ini to skip the directory instead, and remove all of those ini files.

[2015-04-24 16:13] dhananjay92 commented on #5825
I am trying to do this.
So, on [Line#5](https://github.com/servo/servo/blob/master/tests/wpt/include.ini#L5), I need to add
[code]

I am getting the same error as in #5822 (*I also did the debug run and it shows that exact same backtrace*). So, I won't be able to run the tests till that issue has been resolved.

[2015-04-24 17:40] saneyuki commented on #4283
@jdm @jwilm I also apologize I haven't written an activity. It led misinterpretation.

[2015-04-24 18:20] tamird commented on #5813
I must be dense - I can't find where this function is tested.
All the callers to `script::dom::bindings::utils::validate_and_extract` seem to be:
- [`SetAttributeNS `](https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1094) which is not itself called anywhere.
- [`CreateAttributeNS`](https://github.com/servo/servo/blob/master/components/script/dom/document.rs#L1046) whic

[2015-04-24 18:22] jdm commented on #5810
@dhananjay92 Ideally we would compare against both, but I'd be fine with just starting with Servo and no comparisons. The goal here would be to figure out the benchmarks that work and don't work in current Servo, and file issues about the ones that currently don't work while enabling any that do. We may end up trying to do this sooner than fall, but the future is unclear right now.

[2015-04-24 18:22] donaldpipowitch commented on #5813
Can I add other unit tests for Servo or Servo-related Crates in the meantime?

[2015-04-24 18:22] Ms2ger commented on #1826
I read

    (If it has an attribute whose
      (namespace is the XMLNS namespace,
       namespace prefix is "xmlns" and
       local name is prefix)), or
    (if
      prefix is null and
      it has an attribute whose
        (namespace is the XMLNS namespace,
        namespace prefix is null and
        local name is "xmlns"))

or

    If it has an attribute whose namespace is the XMLNS namesp

[2015-04-24 18:27] jdm commented on #5825
Apparently this will make rebasing @nox's work on ranges much harder, so let's leave it as is.

[2015-04-24 18:27] #5825 closed

[2015-04-24 18:48] Ms2ger commented on #5813
You missed that all those functions are called from JavaScript. Do feel free to add tests for other code, though!

[2015-04-24 18:52] dhananjay92 commented on #5810
@jdm Oh okay. Since, I can work during Fall only, please let me know if by end of summer this is not done. I will take it then! :smiley:

[2015-04-24 18:59] pcwalton commented on #5810
I think it's a bit premature to openly compare against other implementations, since we're obviously less complete than they are.

[2015-04-24 20:41] jdm opened #5828 "Join adjacent text nodes in tree sink while appending"
The "html5 tokenizer" tests at html5test demonstrate that `e.innerHTML = "&lang;&rang;";` produces two text nodes in Servo, not one.

Relevant source at https://github.com/NielsLeenheer/html5test/blob/ce8268b2ec71ebdfa6fc6cefc989ba8e6ce544e5/scripts/6/engine.js#L412-L480 .

[2015-04-24 20:47] mbrubeck commented on #5828
This is part of #3701.

[2015-04-24 20:52] tdaede commented on #5822
Ubuntu 12.04 has a very old version of Mesa (8.0.4, I believe). It might not even support creating an OpenGL 3.0 context for your hardware, which might be the cause of the crash.

[2015-04-24 21:27] jdm commented on #5822
I wonder if this is due to the gleam update in c82485874d1fe1db89a2dac61c6d612a75b8e1a1?

[2015-04-24 21:44] jdm opened #5830 "Generate WebIDL traits that use type parameters bounded by FooBase instead of just Foo"
This would allow us to pass derived types of any argument type to all WebIDL interface methods. That would get rid of a lot of papercuts...

`fn AppendChild(self, node: JSRef<Node>)`
vs.
`fn AppendChild<A: NodeBase+Reflectable>(self, node: JSRef<A>)`

[2015-04-25 00:09] jdm opened #5833 "Space Jam links don't work"
They're clickable, but they take you to a blank page with the right title. Not sure what's going on there.

http://www2.warnerbros.com/spacejam/movie/jam.htm

[2015-04-25 00:09] jdm opened #5834 "Space Jam links jump around"
http://www2.warnerbros.com/spacejam/movie/jam.htm

Move the mouse and watch all the links jiggle and shift.

[2015-04-25 00:11] jdm opened #5835 "Support background attribute on body element"
http://www2.warnerbros.com/spacejam/movie/jam.htm

This requires special handling in synthesize_presentational_hints_for_legacy_attributes .

[2015-04-25 00:18] jdm commented on #5833
Actually, it looks like the ones that don't work link to pages that use a lot of `<frame>` elements.

[2015-04-25 01:38] pgonda commented on #5603
that was it, thanks!

[2015-04-25 01:56] Adenilson opened #5837 "Remove duplicated Rust logos from test/ref"
There are 3 Rust logos used by ref tests, most probably we could do it just fine with a single one (less files in the tree).

Easy task for newcomers.

[2015-04-25 10:36] Ms2ger commented on #5822
It is.

[2015-04-25 10:56] Manishearth opened #5838 "Add a `./mach grep` command"
`git grep` is slow since it searches the wpt dir now.

We want a `./mach grep` that proxies to `git grep $args -- components/ ports/` or something. (perhaps include `tests/` except for `tests/wpt`

[2015-04-25 10:59] Manishearth commented on #5838
You probably want to do something similar to [`./mach cargo`](https://github.com/servo/servo/blob/master/python/servo/devenv_commands.py#L17), however instead of `cd`ing, just append `--` followed by absolute paths to `components/`, `ports/` and other folders (obtain the absolute path via `self.context.topdir`)

[2015-04-25 13:12] yodalee commented on #4431
Here is some question I met during implementation, and I wanna make sure:
http://dev.w3.org/csswg/cssom/#serialize-a-css-declaration-block
In step 3.3: what does `maps to one or more shorthand properties` means? Since the `PropertyDeclaration` define in seems only map to one property in mod.rs. So property will be one property only.

[2015-04-25 14:28] jdm commented on #5838
Code: python/devenv_commands.py

[2015-04-25 16:26] dhananjay92 commented on #5838
I would like to work on it.

[2015-04-25 16:27] Manishearth commented on #5838
Go ahead! :smile:

[2015-04-25 17:09] dhananjay92 commented on #5838
Done. See [Commit 27943c0e](https://github.com/dhananjay92/servo/commit/27943c0ea57381d32a29874bf4ae7509440de45a) Tested and works fine.

Currently, it greps in `components/` and `ports/` directories only. Please let me know what other directories you want to include. I will add them and create a pull. :smile:

[2015-04-25 17:11] Manishearth commented on #5838
@dhananjay92 Everything in `tests/` except `tests/wpt`, everything in `python/`, everything in `etc/` and `resources/`

[2015-04-25 17:36] dhananjay92 commented on #5838
Done. Created Pull #5842.

[2015-04-25 18:29] dhananjay92 commented on #2240
@Ms2ger Should I go ahead and do pull?!

[2015-04-25 19:13] nox commented on #2661
The Assignable trick doesn't work because it doesn't have an impl for Unrooted.

[2015-04-25 20:18] jdm commented on #2661
I don't think there's a problem with adding one.

[2015-04-25 20:22] jdm commented on #2240
@dhananjay92 Those changes aren't quite right; you want to modify dom/webidls/TestCodeGen.webidl instead of the one you did, and there's no point in modifying the C++ header - it's just left over from when I imported the code generation implementation from Firefox.

[2015-04-25 20:23] nox commented on #2661
@jdm I forgot that it's the same for Root.

[2015-04-25 20:37] jdm commented on #2661
Perhaps to get around the Root problem we can instantiate JSRef values from them ahead of time?

[2015-04-25 22:06] jdm opened #5843 "Unnecessary popping in dispatch_event"
There's a bit of code near the end of dispatch_event that pops the elements of `chain` one by one. That is no longer needed, and we can delete the whole block.

Code: components/script/dom/eventdispatcher.rs

[2015-04-25 22:16] nox commented on #2661
So my idea is to generate something like this:

[code]

It's an… interesting use of FromJSValConvertible::Config to say the least, but that lets us pass RootedVec values from the method bindings and share them between different values from vectors of unions (`(Node or String)...`) and even from different union arguments (`(Foo or Bar) bar, (Foo or Qux) qux`). The problem is that to return the JSRe

[2015-04-25 22:23] jwilm commented on #4427
The spec talks about setting a closing flag on `WorkerGlobalScope` for the terminating worker. Aside from not having such a flag, all the references in both `DedicatedWorkerGlobalScope` and `Worker` are immutable. I considered adding another `ScriptMsg` to notify of termination, but that only lets the worker/script task channel close. It does not prevent additional messages from being posted from

[2015-04-26 00:27] nox commented on #2661
Following what I said, here is what I came with:

[code]

It compiles but I've yet to test it.

[2015-04-26 00:28] jwilm commented on #4427
Must have glanced over this the first read through the script component docs..

I think I have a path forward with that.

[2015-04-26 01:22] nox commented on #2661
Can't I simplify everything and make RootedArena store a list of Reflector or even *mut JSObject?

[2015-04-26 01:56] nox commented on #2661
Sounds like I just want a RootCollection after all.

[2015-04-26 08:29] #5843 closed

[2015-04-26 10:57] nox commented on #2661
[code]

Something like this would allow me to use this structure for all union members, wouldn't it?

[2015-04-26 10:59] nox commented on #2661
@jdm Implementing Assignable on Unrooted and Root might looks weird because functions such as JS::from_rooted() use that trait. "Unrooted" doesn't sound like it should be an argument to JS::from_rooted().

[2015-04-26 11:47] evilpie commented on #5835
I am working on this.

[2015-04-26 13:04] evilpie opened #5848 "Background-image on body doesn't extend to the whole viewport"
When you set a background-image on the body element it doesn't cover the whole viewport, i.e. only the area with content. We will need this for #5835.

[2015-04-26 13:15] nox commented on #5830
Wouldn't the NodeMethods impl itself change too?

[code]

[2015-04-26 13:23] jdm commented on #2661
Yes, that's true. It's why I originally suggested getting a JSRef from those values and using those in places that took Assignable, instead of implementing that trait.

[2015-04-26 13:24] nox commented on #2661
I see. After coding I realised I don't need the additional Assignable impls anyway.

[2015-04-26 14:08] jdm commented on #5830
That wouldn't allow manipulating fields of the concrete type or using helper methods, unfortunately.

[2015-04-26 14:09] jdm commented on #5830
No, I'm wrong, it would just require the same addition that AppendChild would, for example: `let node = NodeCast::from(node);`

[2015-04-26 14:10] jdm commented on #5830
That would probably eliminate the vast majority of explicit casts!

[2015-04-26 14:50] jdm opened #5849 "Remove #[jstraceable] annotation for RootedVec"
The annotation is only used for types which we expect to store in other heap-allocated structures. Storing a `RootedVec<JS<Node>>` rather than `Vec<JS<Node>>` in such a structure will cause assertion failures, so we really don't want to encourage this behaviour.

Code: component/script/dom/bindings/trace.rs

[2015-04-26 14:58] jwilm commented on #5309
@jdm should this issue be closed?

[2015-04-26 15:37] jdm commented on #5309
Yep!

[2015-04-26 15:37] #5309 closed

[2015-04-26 16:20] nox commented on #4335
Blocked by #5684.

[2015-04-26 16:44] Manishearth commented on #5724
https://github.com/Manishearth/rust-tenacious should work.

It uses rustc's internal variable-usage-tracking magic, so I *think* it handles everything including capture clauses.

[2015-04-26 16:48] Manishearth commented on #5838
Fixed by #5842

[2015-04-26 16:48] #5838 closed

[2015-04-26 17:05] frewsxcv commented on #4933
`http://news.ycombinator.com/newcomments` no longer crashes this. Thanks everyone for fixing this.

[2015-04-26 17:05] #4933 closed

[2015-04-26 17:18] #5730 closed

[2015-04-26 17:18] Manishearth commented on #5730
fixed in #5747

[2015-04-26 17:28] frewsxcv commented on #5148
![](https://cloud.githubusercontent.com/assets/416575/7338375/d69c820c-ec17-11e4-8076-59809dce645a.gif)

This is no longer an issue

[2015-04-26 17:37] frewsxcv commented on #4954
Worth noting this is also an issue in Hyper: https://github.com/hyperium/hyper/issues/472

[2015-04-26 17:42] Manishearth commented on #4954
Not exactly, `hyper` provides the right hooks, we just don't use them to their full extents.

[2015-04-26 17:43] #5148 closed

[2015-04-26 17:54] Manishearth opened #5853 "Fix moving of Roots in codegen"
Depends on #5724 and #2661

Dictionaries that contain interface types (eg `MouseEventInit` in `MouseEventBinding`) have a `Root<T>` or `Option<Root<T>>` contained in them.

These values should not be moved, however they get moved [here](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L876).

We should use a solution via `RootedArena` or similar (fro

[2015-04-26 18:12] jdm opened #5854 "Can't scroll on rustbyexample.com"
The pages never scroll vertically no matter how hard I try.

[2015-04-26 18:14] frewsxcv commented on #4746
[code]

and

https://github.com/servo/servo/search?utf8=%E2%9C%93&q=old_orphan_check

would suggest that this issue can be closed.

[2015-04-26 18:15] #4746 closed

[2015-04-26 18:21] tarcieri commented on #4954
I just started an RFC6125 hostname verification library for Rust:

https://github.com/tarcieri/pkixnames

I plan on modeling its behavior off of both Chrome and Firefox

[2015-04-26 18:25] Manishearth commented on #4954
cool!

I'm pretty sure you just need to set the right flags in rust-openssl and it will do the verification for you.

[this](https://github.com/servo/servo/blob/master/components/net/http_loader.rs#L116) is what we do (using [these](https://github.com/servo/servo/blob/master/resources/certs) certificates obtained from Firefox via [this](https://github.com/servo/servo/blob/master/etc/cert_generator

[2015-04-26 18:28] jwilm commented on #4426
There's plumbing for this in https://github.com/servo/servo/pull/5846

[2015-04-26 18:41] tarcieri commented on #4954
@Manishearth does rust-openssl implement RFC6125 itself? Prior to openssl "1.1.0" (i.e. unreleased), OpenSSL provided no native support for hostname verification.

[2015-04-26 18:53] Manishearth commented on #4954
No idea, you probably should check openssl-sys

-----Original Message-----
From: "Tony Arcieri" <notifications@github.com>
Sent: ‎4/‎27/‎2015 12:12 AM
To: "servo/servo" <servo@noreply.github.com>
Cc: "Manish Goregaokar" <manishsmail@gmail.com>
Subject: Re: [servo] Verify hostnames in SSL certificates (#4954)

@Manishearth does rust-openssl implement RFC6125 itself? Prior to openssl "1.1.0" (i.e. u

[2015-04-26 18:56] tarcieri commented on #4954
Basically what I'm saying is no released version of OpenSSL has native support for hostname verification, so if something is doing it, it's some code someone wrote in Rust themselves.

[2015-04-26 18:59] Manishearth commented on #4954
Ah, I see.

An alternative is to bind to nss or pkix from the Mozilla tree, IIRC both are independent libraries. I recommend using pkix.

-----Original Message-----
From: "Tony Arcieri" <notifications@github.com>
Sent: ‎4/‎27/‎2015 12:26 AM
To: "servo/servo" <servo@noreply.github.com>
Cc: "Manish Goregaokar" <manishsmail@gmail.com>
Subject: Re: [servo] Verify hostnames in SSL certificates (#4954)

[2015-04-26 19:02] tarcieri commented on #4954
@Manishearth I'm basically planning on reimplementing the hostname verification part of pkix in pure Rust, FWIW

[2015-04-26 19:03] Manishearth commented on #4954
Alternatively, could you structure this so that it uses openssl for the cert checking, and then has its own verification method that operates on the cert and URL? Something that can be fed to the verification method of sslcontext.

-----Original Message-----
From: "Tony Arcieri" <notifications@github.com>
Sent: ‎4/‎27/‎2015 12:26 AM
To: "servo/servo" <servo@noreply.github.com>
Cc: "Manish Goregaok

[2015-04-26 19:06] tarcieri commented on #4954
Yep, that's exactly what my library vaporware library would allow you to do :wink:

[2015-04-26 19:08] frewsxcv commented on #4742
The docs now get generated to a different location:

https://github.com/servo/servo/blob/1389be37823fccf4108f4e79d0a3a793f0bbe93e/python/servo/post_build_commands.py#L174

The `./mach doc` command works for me; I think this can be closed.

[2015-04-26 19:18] frewsxcv commented on #4531
`cat-v.org` also panics for me https://gist.github.com/frewsxcv/273cd7cf0e2e7c0a79b5 I am on OSX 10.10, so it might not be only a linux issue

[2015-04-26 19:21] frewsxcv commented on #4395
Upon loading `en.wikipedia.org`, text is not jiggly for me, but if I move the mouse, certain sections jiggle. So I guess this issue is still valid ¯\_(ツ)_/¯

[2015-04-26 19:23] frewsxcv commented on #3825
Just tried this page with the latest Servo. No apparent changes:

![screen shot 2015-04-26 at 3 22 44 pm](https://cloud.githubusercontent.com/assets/416575/7338878/2448ed28-ec28-11e4-9bb4-0823fa6b555d.png)

[2015-04-26 19:23] jdm commented on #4531
That's a different panic than the one described above.

[2015-04-26 19:24] jdm opened #5856 "Layout panic ("!self.range.is_empty()") on cat-v.org"
https://gist.github.com/frewsxcv/273cd7cf0e2e7c0a79b5

cc @frewsxcv

[2015-04-26 19:36] frewsxcv commented on #1503
I just tried to replicate this with the latest Servo but was unsuccessful.

![untitled2](https://cloud.githubusercontent.com/assets/416575/7338924/d8c4695c-ec29-11e4-96cc-56cfc4696786.gif)

*...and they told me those years of playing Mario Party were wasteful....*

[2015-04-26 19:40] frewsxcv commented on #3825
For the sake of linking related issues: https://github.com/servo/servo/issues/1366

[2015-04-26 20:01] #1503 closed

[2015-04-26 20:07] frewsxcv commented on #1141
Where in the codebase is this `measure_text`?

[2015-04-26 20:12] frewsxcv commented on #2082
Wikipedia loads fine for me with the latest Servo

![screen shot 2015-04-26 at 4 12 16 pm](https://cloud.githubusercontent.com/assets/416575/7339063/08e774b2-ec2f-11e4-91ac-a83bce60182d.png)

@alphonse23 Are you able to reproduce this issue?

[2015-04-26 20:18] frewsxcv commented on #2131
As far as I know, I don't think globs are going to be removed in 1.0, so I don't think this issue is necessarily needed anymore.

[2015-04-26 20:47] frewsxcv commented on #3510
I just tried this and am unable to reproduce the crash. Are you able to reproduce this @jdm?

[2015-04-26 20:49] frewsxcv commented on #5724
https://github.com/servo/servo/issues/3528 is a duplicate of this and can probably be closed

[2015-04-26 20:49] frewsxcv commented on #3528
Duplicate of #5724

[2015-04-26 20:50] frewsxcv commented on #2805
This can probably be closed due to inactivity

[2015-04-26 20:50] frewsxcv commented on #2277
This can probably be closed due to inactivity

[2015-04-26 20:50] #3528 closed

[2015-04-26 20:54] frewsxcv commented on #975
Meta-Issue for Wikipedia problems: https://github.com/servo/servo/issues/2554

[2015-04-26 21:05] frewsxcv commented on #2486
[code]

and

https://github.com/servo/servo/search?utf8=%E2%9C%93&q=transmute_mut&type=Code

would suggest that this Issue has been completed.

[2015-04-26 21:10] #2486 closed

[2015-04-26 21:18] alphonse23 commented on #2082
I filed this quite a while ago, but I'll try compiling servo again, the latest version, and see how it handles Wikipedia when I get home.

[2015-04-26 23:27] GlassAndOneHalf commented on #5849
I'll have a go at this!

[2015-04-26 23:30] #2277 closed

[2015-04-26 23:35] jdm opened #5861 "Hover state never disappears on rustbyexample.com"
Mouse over any of the non-text links on the pages, and you'll see them switch to the darker hover state but never leave it.

[2015-04-26 23:47] jdm commented on #2131
Well, I'm still generally in favour of being explicit about these things, so there's no harm in leaving it open for further work.

[2015-04-26 23:49] frewsxcv commented on #2131
For what it's worth, I don't think there are anymore cases of these in the tree anyways (unless my method here is wrong)

[code]

[2015-04-26 23:53] jdm commented on #3510
It was never a crash. We just stopped being able to pop up a simple alert box that could take input.

[2015-04-26 23:56] #2805 closed

[2015-04-26 23:58] jdm commented on #2082
The problem as reported was that Servo was trying to load file:/Users/Sean/servo/build/www.wikipedia.org which obviously doesn't exist. Additionally, Servo liked to panic when it couldn't find things.

[2015-04-26 23:58] #2082 closed

[2015-04-26 23:59] frewsxcv commented on #3510
If anyone in the future reads this and wants clarification:

I assume there is some feature of Servo that allows `Ctrl - L` to be pressed and a web address input box appears. This is currently broken on OSX.

[2015-04-27 00:01] jdm commented on #2131
Oh, good point!

[2015-04-27 00:01] #2131 closed

[2015-04-27 00:33] alphonse23 commented on #2082
well, I just tried it, and
[code]
loading wikipedia just fine.

Like I said, I filed the bug a year ago. Servo has obviously changed quite a bit since.

[2015-04-27 00:34] frewsxcv commented on #2082
Hopefully for the better ;)

[2015-04-27 02:41] jdm commented on #5830
In fact, to avoid the code-bloat possible from monomorphizing these traits against all derived types, we could do this:
[code]
This could be automatically generated and not require us to change any of the existing code, except that it uses the same NodeMethods trait. We could generate two traits (one using concrete types, the other using bounded generics) and just change which one gets imported in

[2015-04-27 03:09] jdm opened #5864 "ember.js testsuite blockers"

[2015-04-27 03:09] jdm commented on #3704
Blocks #5864.

[2015-04-27 03:50] #5399 closed

[2015-04-27 07:55] nox commented on #5830
Why would it be bad to use a single trait?

[2015-04-27 09:08] narfg commented on #5711
This was fixed by #5816.

[2015-04-27 09:08] #5711 closed

[2015-04-27 09:36] Ms2ger commented on #5822
CC @glennw

[2015-04-27 12:27] jdm commented on #5830
It would cause every monomorphized method  to contain the full implementation, rather than just the stub that calls through to the concrete one as in my previous comment. We already have problems with the amount of code generated by the script crate...

[2015-04-27 13:52] jdm opened #5869 "NodeTypeId should include CharacterData variant"
NodeTypeId is supposed to reflect the WebIDL inheritance hierarchy. All of Text/ProcessingInstruction/Comment inherit from CharacterData, which inherits from Node. There should be a CharacterDataTypeId value that differentiates between those, instead.

[2015-04-27 15:42] jwilm commented on #4426
I'll take this

[2015-04-27 15:46] yodalee commented on #4431
http://dev.w3.org/csswg/cssom/#serialize-a-css-declaration-block
I wanna ask some question:
1. In steps 3.3, is `property maps to one or more shorthand properties`. I don't get this, since each declaration will map to one css properties, right?
2. Is the description in step 3.3.1: `have a property name that maps to one of the shorthand properties in shorthands.` related to function `longhands_from

[2015-04-27 15:46] yodalee commented on #4431
Oh, god this is a long question OAO.

[2015-04-27 17:10] jwilm commented on #4426
The Close implementation is trivial with the above PR, but the tests make use of `worker.onerror` and are thus blocked on #3311.

[2015-04-27 17:13] jwilm commented on #3311
@jdm is this still being worked on by students? There's a bunch of easy wins in the web-platform-tests if we can finish this. I would be happy to complete this if it's not being worked on.

[2015-04-27 17:49] nox commented on #5315
I fixed that in #5768.

[2015-04-27 17:50] #5315 closed

[2015-04-27 17:50] frewsxcv commented on #5315
@nox Thanks!

[2015-04-27 19:01] jdm commented on #3311
Nope, it's available!

[2015-04-27 19:09] jdm commented on #4431
1. `border` is a shorthand for `border-color`, `border-width`, `border-style`, etc. Those are all shorthands for `border-top-color`, `border-left-width`, `border-bottom-style`, etc. Does that make sense?
2. Yes.
3. Yes, that is the way I read it.

[2015-04-27 20:13] jwilm commented on #3311
Sweet. I'll get on it tonight.

[2015-04-27 20:52] mbrubeck opened #5873 "Empty table with border-spacing has wrong size"
Servo lays out the following test case incorrectly.  The table should have zero width and zero height, so it should be invisible.  Servo renders it as a 100px × 100px red square.

[code]

This is because the inline size calculation mulplies the border spacing by (number of columns + 1), which is incorrect when there are zero columns.  And presumably a similar bug in the block size calculation.

[2015-04-27 22:02] Munksgaard commented on #5724
I just took a look at the code for tenacious, and it looks quite good to me.

Of course, like with humpty_dumpty, there are things tenacious can't quite handle, most severely functions in other crates and unsafe code, but generic functions are also not handled very. I'm under the impression that that shouldn't be too much of a problem here though, just something to keep in mind, I think.

[2015-04-27 22:05] nox opened #5875 "Getters and setters are not properly inherited in codegen"
Interfaces inheriting others with getters and setters have to reimplement themselves said getters and setters.

[2015-04-27 22:07] snf opened #5876 "Fix defineProperty after SM upgrade"
We are mostly waiting for the next SpiderMonkey upgrade (https://github.com/servo/rust-mozjs/pull/144)

1. `defineProperty` should be able to convert `id` to a string
2. match the code in Gecko, use `js::IsInNonStrictPropertySet` to decide on NamedGetter
3. other changes probably

[2015-04-27 22:07] Munksgaard commented on #5724
For example, this doesn't error, but it probably should:

[code]

[2015-04-27 22:10] nox commented on #5875
An example of such thing is DOMSettableTokenList inheriting from DOMTokenList.

[2015-04-27 22:11] Manishearth commented on #5724
After thinking about it, it does handle generics to the most part, it just has an issue with internally-`unsafe` "safe" functions like `mem::swap()` and `mem::replace()` which take in `&` pointers but move out of them.

It also has an issue with passing a temporary to a generic. `fn bar<T>(t: T) {let x = t; let y = x;}` followed by `bar(make_temporary())` will not be linted. The only way to fix th

[2015-04-27 22:14] Manishearth commented on #5724
Our dynamic checks will catch this anyway, so we're probably good.

[2015-04-27 22:27] #5684 closed

[2015-04-27 23:11] nox commented on #5875
https://github.com/nox/servo/blob/domsettabletokenlist/components/script/dom/domsettabletokenlist.rs

[2015-04-28 03:02] Jinwoo-Song commented on #5869
I'd like to try this one!

[2015-04-28 03:41] glennw commented on #5822
The problem is caused here https://github.com/servo/servo/blob/master/components/canvas/Cargo.toml#L31.

This line links to libosmesa, which uses software rendering for the webgl implementation. What this means is that on Linux, both libosmesa and libgl are linked, which both define conflicting symbols. In your case on 12.04, the wrong function ends up getting called, which has a null context in m

[2015-04-28 05:21] #5724 closed

[2015-04-28 05:21] #5737 closed

[2015-04-28 05:45] Jinwoo-Song commented on #5869
Uploaded a patch. https://github.com/Jinwoo-Song/servo/commit/0acf9f4126bbe2ecde88373419148b7006682cec

[2015-04-28 08:10] yodalee commented on #4431
So declaration.name() will give `border`, and we first convert it to shorthands property `border-color`, `border-width`. In in Step 3.3.1, expand them to longhands property by function `longhands_from_shorthand`.
So the expand is like: `border` ->  `border-color`, `border-width`, and `border-color` -> `border-top-color`, `border-right-color`, `border-bottom-color`, `border-left-color`

[2015-04-28 10:25] Jinwoo-Song commented on #1235
I'll work to implement this.

[2015-04-28 11:16] nox opened #5881 "Introduce a new WebIDL attribute named Reflect"
This attribute should make CodegenRust.py generate methods for any interface property that reflect an element attribute. This enforces that these methods will never change the state of the element directly instead of through its virtual methods and reduces boilerplate code a lot. To still be able to call them, the generated methods should go in a Reflections trait in the Bindings module.

[2015-04-28 11:20] nox opened #5882 "Uniformise the various Msg types"
The Error suffix from dom::error::Error constructors was recently dropped and the CanvasMsg constructors never include a Msg suffix, instead the type of their contents is itself suffixed with Msg, making chains such as CanvasMsg::Canvas2d(Canvas2dMsg).

The other Msg types such as constellation_msg::Msg and MozBrowserEventMsg should follow the same scheme.

[2015-04-28 12:15] jdm commented on #4431
Yep!

[2015-04-28 12:16] jdm commented on #1235
Great!

[2015-04-28 16:43] Manishearth commented on #5720
Okay, I still can't figure out why this happens. I bet a debugger would give some insight, but for now I'll focus on improving rvalue checks in tenacious. Clearly ignoring rvalue moves is bad (we had figured this out yesterday but thought it wouldn't be a big issue). I'm considering linting on all rvalue moves *except* for those of the type `let foo = generate_root()`. That might be a tad overzeal

[2015-04-28 18:43] mbrubeck opened #5886 "Empty table with borders has incorrect layout"
Similar to #5873, Servo renders the following test case incorrectly.  The table should be invisible, with zero width and and zero height, but Servo renders it as an 8px × 8px black square.

[code]

[2015-04-28 20:23] mbrubeck commented on #5873
Fixed by #5885.

[2015-04-28 20:23] #5873 closed

[2015-04-29 00:14] larsbergstrom commented on #5795
Confirmed I see the same bug on a Nexus 7.

[2015-04-29 00:58] Jinwoo-Song opened #5892 "Too much memory usage compared to Chrome and Firefox"
Servo is showing high memory usage compared to Chrome and Firefox.
I used 'smem' on Linux and loaded 'www.naver.com' site.

./mach run --release http://www.naver.com

  PID User     Command                                    Swap      USS      PSS      RSS
 4073 jinwoo   /opt/google/chrome/nacl_hel         0          1848     1899       3804
 4170 jinwoo   /opt/google/chrome/chrome -        0

[2015-04-29 01:01] Manishearth commented on #5892
I think there's a known leak, but I forgot if it was fixed. cc @metajack @nnethercote

[2015-04-29 01:30] Manishearth opened #5893 "Add a `./mach check`"
Rustc has a neat flag, `-Z no-trans`, which runs everything except translation. If https://github.com/rust-lang/cargo/issues/595 happens, we could make great use of this to just typecheck code. Basically, `./mach check script` would typecheck script and then exit by internally calling `cd components/script; cargo rustc lib.rs -Z no-trans` or something.

[2015-04-29 01:31] Manishearth commented on #5893
(Might be a bit harder than that since Cargo is bad at just building deps)

[2015-04-29 02:12] jdm commented on #5893
Code: python/servo/devenv_commands.py

[2015-04-29 02:14] jdm commented on #5892
Calling this a leak with no other information is jumping to conclusions. @Jinwoo-Song what is some sample output when running with the memory profiler enabled, using `-m 5`?

[2015-04-29 02:54] metajack commented on #5892
@Manishearth there is a huge mem spike on crashes, but I squashed the big leak we knew about.

[2015-04-29 04:04] Jinwoo-Song commented on #5892
Memory profiling log.

Begin memory reports
|
|    0.09 MiB -- pages
|       0.00 MiB -- url(about:blank)
|          0.00 MiB -- display-list 3
|       0.00 MiB -- url(http://castbox.shopping.naver.com/shopAdBox.nhn)
|          0.00 MiB -- display-list
|       0.01 MiB -- url(http://static.nid.naver.com/login.nhn?svc=www1501&amp;url=http%3A%2F%2Fwww.naver.com&amp;t=20150206)
|          0.01 MiB --

[2015-04-29 05:15] Jinwoo-Song commented on #5892
cc @yichoi

[2015-04-29 05:39] Jinwoo-Song commented on #5892
On Mac, Servo shows least memory usage for the same site. It seems that there are some issues on Linux platform.

I estimated the memory with 'Activity Monitor' memory tap on Mac.
 - Chrome: 206.2MB (Google Chrome, Google Chrome Helper x3)
 - Firefox: 202.5 MB
 - Servo: 148.7 MB

[2015-04-29 08:17] Manishearth commented on #5893
Not E-Easy, `cargo rustc` doesn't yet exist :)

[2015-04-29 12:56] SimonSapin commented on #5893
Maybe pick another name? (I don’t have a suggestion, sorry.) `check` and `test` sound kinda synonymous in my head. (I think `make check` was how we ran Servo’s tests at some point.)

[2015-04-29 13:08] Manishearth commented on #5893
`./mach typecheck` or something

[2015-04-29 20:37] larsbergstrom commented on #4331
This data does look great! We would accept a patch that gives Servo a real user agent string, as suggested by @gerv, with the one caveat that it should also land or at least log issues for any new breakage introduced in sites we have tried to fix like wikipedia, github, CNN, reddit, etc. due to the presence of different content.

[2015-04-29 21:30] #5882 closed

[2015-04-30 04:23] Jinwoo-Song commented on #4628
I have a same problem in building Servo for Android. I'm using NDK r10d in Ubuntu. Is there any hint for resolving this?

[2015-04-30 08:33] Ms2ger opened #5900 "TextEncoder::Constructor should not trim whitespace / lowercase its label"
`encoding_from_whatwg_label` already does that correctly.

Blocks #5601.

* Spec: <https://encoding.spec.whatwg.org/#dom-textencoder>.
* Code: `components/script/dom/textdecoder.rs`.
* Test: `/encoding/api-invalid-label.html`.

[2015-04-30 13:06] nox commented on #5869
Fixed by https://github.com/servo/servo/pull/5879.

[2015-04-30 13:11] #5869 closed

[2015-04-30 17:12] jdm opened #5907 "Avoid leaking outstanding Trusted values when tearing down a script task"
We have a table of explicit roots for trusted values in TLS. Besides storing the reference count there, we could also store a boolean value that indicates whether the root is still valid. All of the methods in Trusted could check that boolean value and panic if it's false - this would take down any non-script task that tried to clone one, or dropped the final reference to one, and would catch any

[2015-04-30 17:12] jdm commented on #5907
cc @Ms2ger @glennw

[2015-04-30 17:14] jdm commented on #5907
The alternative is that we could simply rely on the failure of sending messages to the script task to deal with this, under the assumption that we clear the TLS table immediately before destroying the runtime and guarantee that we will not process any further events in the script task after doing so.

[2015-04-30 18:00] #5705 closed

[2015-04-30 21:29] SimonSapin commented on #5900
I’m pretty sure I did that in passing at some point of the current rustup. It must have been lost if a rebase.

[2015-04-30 22:29] Adenilson opened #5910 "Inline stacked elements are not visible within another stacking context"
An inline element that has its own stacking context (SC) will not be displayed if it is within the flow of another element that also creates a stacking context.

In display_list_builder, currently we only create a SC if an element has a filter. By removing this check and running a simple test case as: http://codepen.io/pen/

The dumped display list (DL) is: https://gist.github.com/Adenilson/f70ca9

[2015-04-30 23:05] Adenilson commented on #5910
This probably affects block level elements too.

[2015-05-01 07:41] Ms2ger commented on #5900
Yeah, I removed it; I don't believe it belongs there

[2015-05-01 10:27] Manishearth opened #5914 "Add auto-derive for `HeapSizeOf`"
WIP: https://github.com/servo/servo/compare/master...Manishearth:sizeof

Blocked on https://github.com/rust-lang/rust/pull/25027

[2015-05-01 10:27] Manishearth commented on #5914
cc @nnethercote

[2015-05-01 15:23] mbrubeck opened #5915 "[rtl] 'direction' property on a table-row/rowgroup/etc. should not affect column order"
The following test case fails in Servo.  The order of the table columns should be affected only by the `direction` property of the `table` element, not the direction of any of its children.

[code]

This bug causes test failures in `css-tests/css21_dev/html4/direction-applies-to-*`.

[2015-05-01 18:04] psdh commented on #5849
Can be closed, right?

[2015-05-01 19:04] zmike commented on #3976
Update: this is still broken.

I tested adding 'rpath=true' to the Cargo.toml in the cef directory and this did absolutely nothing.

Attempting to use any cef app (which has been linked against cef) with servo's libembedding by preloading (as in @metajack's comment) causes the app to be unable to run, citing not-found libraries: the libraries missing are all of the libraries generated during the b

[2015-05-01 19:10] #5849 closed

[2015-05-01 19:29] sneakyness opened #5917 "Cannot Build: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
Got pre-reqs via port, cloned the git repo, tried `./mach build` and got the following error:

https://gist.githubusercontent.com/sneakyness/291546375a0cd17fab78/raw/97541beb685b97c3a7a745bda3038fad670da6e4/gistfile1.sh

I joined #servo on moz irc, apparently they've never seen this before.

I tried manually printing out the s3 urls for cargo and rust, and extracting them to the correct location,

[2015-05-01 20:57] jdm commented on #5917
What version of python are you using?

[2015-05-01 20:57] jdm commented on #5917
`15:05 <sneakyness> I've got OpenSSL 1.0.2a 19 Mar 2015`

[2015-05-01 22:11] #5900 closed

[2015-05-01 23:42] sneakyness commented on #5917
I'm using the version that port asked me to install. `python27`

[2015-05-02 00:28] jdm commented on #5917
What's the output of `python27 --version`? Also `python --version`.

[2015-05-02 14:33] raphaelbastide commented on #3893
Bump
![export4](https://cloud.githubusercontent.com/assets/193122/7441455/d4eeb742-f0e8-11e4-8300-8927f2ce4447.png)

[2015-05-02 17:04] onodera-punpun commented on #5917
I'm having the exact same problem. I'm using CRUX linux with openssl (I don't know if that matters).

``
~ python --version
Python 2.7.9
``
Also ``python27`` doesn't exist for me, ``python2`` and ``python2.7`` do though.

[2015-05-02 17:05] jdm commented on #5917
Which version of openssl is installed for you @onodera-punpun?

[2015-05-02 17:05] onodera-punpun commented on #5917
@jdm

``
~ openssl
OpenSSL> version
OpenSSL 1.0.2a 19 Mar 2015
``

[2015-05-02 17:06] jdm commented on #5917
By the way, http://stackoverflow.com/questions/27835619/ssl-certificate-verify-failed-error should be a usable workaround for this problem while it's blocking people. It just requires a small addition to bootstrap_commands.py.

[2015-05-02 17:06] jdm commented on #5917
Specifically:
[code]

[2015-05-02 17:27] onodera-punpun commented on #5917
After patching `servo/python/servo/bootstrap_commands.py`` I get:

[code]

Patch used:
[code]

[2015-05-02 19:22] jdm commented on #5917
Huh, very interesting. The original reporter was on a mac, so my suspicion is that something changed in OpenSSL...

[2015-05-02 19:31] onodera-punpun commented on #5917
Just to clarify, downgrading to python 2.7.8 solves the initial ``SSL: CERTIFICATE_VERIFY_FAILED`` eror, but not the ``Peer certificate cannot be authenticated with given CA certificates`` error I mentioned above.

[2015-05-02 21:29] csoriano1618 opened #5922 "Fedora 22 incompatible libOSMesa.so while building"
Hi,
I installed libOSMesa devel 32 bits, but seems the version in Fedora is too new and this error appears while doing ./mach build:
note: /usr/bin/ld: skipping incompatible /usr/lib/gcc/x86_64-redhat-linux/5.0.1/../../../libOSMesa.so when searching for -lOSMesa

Package: mesa-libOSMesa-devel-10.5.1-1.20150314.fc22.i686
Name        : mesa-libOSMesa-devel
Arch        : i686
Epoch       : 0
Version

[2015-05-03 01:47] jdm commented on #5922
cc @glennw

[2015-05-03 19:38] larsbergstrom commented on #4628
@Jinwoo-Song I have been unable to reproduce this issue, and our Android builders are on NDK r10c on Ubuntu (see https://github.com/servo/saltfs/blob/master/android-dependencies.sls for how they are set up).

Are the environment variables (both ANDROID_ and the extra PATH entry) added correctly?

Also, did you do `./mach clean` before performing an android build? I've noticed that the Cargo build

[2015-05-03 19:54] learnopengles commented on #5917
I had a problem with this one too, but it was fixed after I added this:

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

I was lucky and didn't have the problem with curl afterwards.

[2015-05-04 00:25] jdm opened #5927 "Ensure DOM types have their base type as the first field"
#5926 fixed an instance where the first field of various derived DOM types was a Reflector, instead of the inline parent type. It would be best to prevent this at compile time, but could be challenging as the WebIDL inheritance information isn't available anywhere in Rust code except in the hierarchy of up/downcasting traits.

[2015-05-04 01:59] jdm opened #5928 "Intermittent reftest timeout"
It's not yet clear to me from the following log which test is timing out:
[code]

[2015-05-04 02:07] glennw commented on #5928
Huh, that's interesting. I added a comment here https://github.com/servo/servo/pull/5890 mentioning an intermittent reftest. In that case, it's always iframe/hide_layers_2 and I suspect if you were to run gdb on the build machines it would be the same. If that's the case, it would mean that (1) the PR of mine I linked above is unrelated and can probably be merged and (2) we should disable hide_lay

[2015-05-04 02:57] jdm commented on #5928
The log above claims that hide_layers_2 passed :/

[2015-05-04 03:34] glennw commented on #5928
Ah, I missed that in the log above. Is there an obvious explanation for why the build machine runs 296 tests, when the reftests run 320 tests locally on my linux machine?

[2015-05-04 03:50] jdm opened #5929 "Improve URL check in tidy.py"
"URL should not point to specific WHATWG multipage page!" does not suggest an action to take to avoid the error. We should improve this.

[2015-05-04 03:52] jdm commented on #5928
Probably #5925.

[2015-05-04 09:39] ecoal95 commented on #5927
Maybe a DOM test like the exposed interfaces test (`tests/wpt/mozilla/tests/mozilla/interfaces.html`), but testing JS `__proto__` could be the easiest way to go.

I'm not too much into rustc plugins, but I think it'd be really difficult to make this work as a compiler plugin, at least automatically (thought of passing the parent type as argument, but that has the same problem...).

The problem wit

[2015-05-04 12:47] Munksgaard opened #5930 "Rename ScriptTask to Page(?)"
I was going through the code in src/components/script/ and saw the following note[0]:

[code]

0: https://github.com/servo/servo/blob/master/components/script/script_task.rs#L270

Should we do this? Otherwise we should probably remove the FIXME.

[2015-05-04 13:30] Ms2ger commented on #5930
That sounds overly confusing, IMO

[2015-05-04 13:30] jdm commented on #5930
Yeah, a ScriptTask encompasses more than a single page. Let's remove the FIXME.

[2015-05-04 15:12] #5930 closed

[2015-05-04 17:38] sneakyness commented on #5917
@learnopengles would you mind sharing your `bootstrap_commands.py`? Also did you downgrade python to 2.7.8 too?? Thanks

[2015-05-04 17:51] mbrubeck opened #5933 "Print a warning about performance after a debug build completes"
When running `mach build` without the `--release` flag, print a message to the user about performance.  Something like:

The goal is to prevent users from unknowingly doing benchmarking or perf comparisons on debug builds.  The message can be printed at the end of the `build` function here:

https://github.com/servo/servo/blob/master/python/servo/build_commands.py

[2015-05-04 19:00] onodera-punpun commented on #5917
@sneakyness either downgrade to 2.7.8 OR simple add these two lines to your ``bootstrap_commands.py``.

[2015-05-04 19:40] learnopengles commented on #5917
My python is 2.7.6, otherwise the only change I did was adding those two lines, so as follows:

import sys
import tarfile
import urllib2
+import ssl
+ssl._create_default_https_context = ssl._create_unverified_context

[2015-05-04 20:45] kmcallister commented on #5743
Chrome [just shipped two fixes for cross-origin-bypass](http://googlechromereleases.blogspot.com/2015/04/stable-channel-update_14.html) which got bounties of $7500 and $4000, higher than any of the memory safety issues. The details are still private so it's hard to say whether these could be prevented systematically.

[2015-05-04 21:37] SimonSapin opened #5938 "Uppercase strings rather than chars for small-caps"
Currently, `font-variant: small-caps` is implemented with *synthesized* small caps: transform the text to upper case and use a smaller font size. `gfx::font::glyph_index` contains code like `codepoint.to_uppercase().next().unwrap()` to find the upper case of a single code point. `.next().unwrap()` takes the first `char` in the iterator returned by `char::to_uppercase` and drops the rest.

This is

[2015-05-05 02:12] jabbrass commented on #5933
Thanks for the low hanging fruit. Hopefully I can submit a PR involving Rust next time... :)

[2015-05-05 03:30] carlosdp commented on #5735
It looks like this issue was solved by #5758 but was not auto-closed.

[2015-05-05 12:03] SimonSapin opened #5943 "Clean up util::geometry API"
* The naming is inconsistent: https://github.com/servo/servo/pull/5935#issuecomment-98880814
* `frac` and `subpx` seem to mean the same thing
* Some items are free functions and some are `Au` methods, for no apparent reason. Sometimes both exist and are redundant.

[2015-05-05 12:48] jdm commented on #5735
Yep, thanks!

[2015-05-05 12:48] #5735 closed

[2015-05-05 13:23] jdm opened #5944 "Investigate if the check for '/' in step 7 for Cookie::new_wrapped is correct"
[code]

This warrants further investigation.

[2015-05-05 14:07] SimonSapin opened #5948 "util::geometry::Au uses wrapping arithmetic"
The implementations of `Add`, `Sub`, and `Mul` for `util::geometry::Au` are based on `i32::wrapping_{add,sub,mul}`. Is this really the desired behavior?

CC @pcwalton

[2015-05-05 15:43] pcwalton commented on #5948
I think so, yes. It's quite possible for layout calculations to overflow and that is not a bug that's worth fixing, since there's no correct thing to do on a layout overflow other than fall back to bignums, which is obviously impractical from a performance POV.

[2015-05-05 15:53] SimonSapin commented on #5948
So it’s not that we rely on wrapping behavior, it’s an error case. So why not just "normal" arithmetic operations, which panic on overflow but only in debug builds?

[2015-05-05 16:48] jdm opened #5950 "Intermittent reftest failure in iframe/hide_layers1.htm"
We saw this on the original upgrade merge attempt, and on a subsequent PR merge as well.

[code]

[2015-05-05 19:47] pcwalton commented on #5948
Because fuzzing Servo would cause spurious crashes in debug builds.

[2015-05-05 20:50] #5943 closed

[2015-05-05 21:24] glennw commented on #5950
This is due to https://github.com/servo/servo/issues/5243.

For a while it didn't seem to be affecting the build machines, but since it is now, we should probably disable the affected reftests until the bug above is resolved.

[2015-05-05 22:09] ecoal95 commented on #5679
@pcwalton About this: Could a shared gl texture between the compositor and the paint task be a good way to achieve this?

Both contexts should share resources. I think it's simpler than passing around and copy to a OS surface (binding the texture as the drawing framebuffer color attachment would suffice), but I don't know if it would affect sandboxing though, probably the same way that sharing sur

[2015-05-05 23:07] pcwalton commented on #5679
Never ever use shared GL contexts. They cause the driver to serialize all commands, resulting in terrible performance. Native shared surfaces are the only viable option.

[2015-05-06 01:01] ecoal95 commented on #5679
Well, just to keep record of this:
 * Acording to [this gecko wiki page](https://wiki.mozilla.org/Platform/GFX/WebGL/Backends) in gecko they do use texture sharing.
 * They share the whole context pointer with the layer though (`HTMLCanvasElement::GetCanvasLayer`, `WebGLContext::GetCanvasLayer`, `CopiableCanvasLayer::Initialize`), They just lock the surfaces when appropiate.

So we have two option

[2015-05-06 01:21] dmarcos commented on #5679
This is mostly a shot in the dark that still doesn't work (It just compiles): https://github.com/dmarcos/servo/commit/2d08c77314c855afa74b0a73e9ecf72e404e1bbf

I'm sending the native surface to the ```webgl_paint_task```. This patch requires making the native surface of the LayerBuffer a ```Arc<Mutex<NativeSurface>>``` What do you think?

[2015-05-06 01:34] ecoal95 commented on #5679
Well... You still send all the pixels from the WebGLPaintTask. It could be a good start though, but I think that locking every layer surface with a mutex and an atomic reference count won't be good for performance.

I was thinking about doing it the other way around (encapsulating the NativeSurface inside the drawing buffer) and sending it (well, an id) instead of sending the pixels vector. I thin

[2015-05-06 01:59] ecoal95 commented on #5822
I don't link explicitly except when I run tests, I think this shouldn't be the problem.

[2015-05-06 02:06] pcwalton commented on #5679
I would give each canvas some sort of ID and have the layout data structures reference the canvas by ID. You will need to modify the `layer` field in `StackingContext` to allow layout to inform the paint task about this, I think. The paint task, I guess, should be able to use the ID to fetch the layer buffer from the WebGL task and then send it along to the compositor task when the compositor task

[2015-05-06 02:18] glennw commented on #5822
Yes, that's correct - I removed that line on a 12.04 VM and confirmed it fixes the problem :)

[2015-05-06 07:21] jdm opened #5958 "Intermittent reftest failure in hide_after_create.html"
[code]

[2015-05-06 07:21] jdm commented on #5958
Potentially due to #5243.

[2015-05-06 08:31] narfg opened #5960 "Delay after scrolling over compositor borders"
After pushing the Page Up or Page Down keys there is a delay of about 10s before the page scrolls. Other key presses (e.g. typing in a text field) don't seem to show this behavior.
I see this issue in debug and release builds on Linux.

[2015-05-06 11:06] #5929 closed

[2015-05-06 12:30] mukilan opened #5963 "Nodes that are not attached to the Document are still accessible through getElementById"
[code]

Adding the above test to the MANIFEST and running it produces the following output:
[code]

The incorrect behaviour arises due to the fact that when we remove a node [we clear the ```IS_IN_DOC``` flag only for the node removed](https://github.com/servo/servo/blob/16a7c792b564a6eab48391865a7060b8dba38284/components/script/dom/node.rs#L1669) but not for its descendants (in the test above, "i

[2015-05-06 12:41] pgonda commented on #5963
so is the task here to add functionality to Node::remove to remove set all the children IS_IN_DOC flags to false?  Does anything need to be changed in bind_to_tree?

[2015-05-06 13:55] jdm commented on #5960
Does it matter what page you're looking at? This is presumably either the script task being very busy (and therefore not receiving the key event for some time), or the compositor being very busy (and therefore not receiving the key event reply for some time).

[2015-05-06 13:59] jinankjain commented on #5670
Hi,  could someone help me out where I could find the code relevant to fix this bug.

[2015-05-06 14:21] jdm commented on #5963
Yes, as well as add the new test to http://mxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/dom/nodes/Document-getElementById.html . bind_to_tree should not need to be changed.

[2015-05-06 14:43] shinglyu commented on #5187
I have a very basic problem, I'm trying to use reuse the `SpecifiedBoxShadow`, but don't know how to `use` it in filter's longhand section.

[2015-05-06 14:45] jdm commented on #5670
@jinankjain are the links in the original comment unclear? This task requires creating a new webidl interface and a new Rust implementation of the interface, but there are also existing methods in htmliframeelement.rs that can be used as models.

[2015-05-06 14:48] jdm commented on #5187
Something like `style::properties::box_shadow::SpecifiedBoxShadow`, I think.

[2015-05-06 15:02] yodalee commented on #5187
In here:
https://github.com/servo/servo/blob/master/components/style/properties.mako.rs#L2910
add
`use super::box_shadow::SpecifiedBoxShadow;` works for me partially. There is still error message but not `unsolved name` error.

[2015-05-06 15:36] shinglyu commented on #5187
Ah yes, `super::` does the trick, thanks!

[2015-05-06 16:18] shinglyu commented on #5187
Just finish the parsing part, will work on gfx tomorrow.

[2015-05-06 19:24] pgonda commented on #5963
I'll take this one!

[2015-05-06 20:40] pgonda commented on #5963
I am getting this warning, how can I fix it?
[code]

[2015-05-06 21:06] jdm commented on #5963
Use
[code]

[2015-05-06 21:46] kmcallister commented on #48
Those are part of the html5ever test suite.

[2015-05-06 21:46] #48 closed

[2015-05-06 21:52] jdm opened #5970 "Create a webdriver client for testing the server"
The webdriver server lives in components/webdriver_server and is used for native, external control over Servo for automation purposes. Right now it's really challenging to ensure that this actually works - we should write a simple client that connects to a server (ie. Servo running with --webdriver) and takes input through stdin to send commands to servo. This will require using the webdriver-rust

[2015-05-06 21:57] jdm opened #5971 "Create a devtools client for testing the server"
The devtools server lives in components/devtools and is used for external introspection of web content in Servo by the high-quality developer tools that live in Firefox. All testing is performed through Firefox's developer tools right now, but it would be a great benefit to create a harness that could run simple testcases automatically and check expected output for a given input.

We should write

[2015-05-07 04:51] akosel commented on #5971
I will work on this.

[2015-05-07 05:24] mukilan commented on #5963
Please note that ```node.children()``` will return only the immediate children of the node to be removed and not all descendants, so I think we should use ```node.traverse_preorder()```. Since ```traverse_preorder``` will also visit the ```node``` itself, we don't have to clear the flag for it seperately. i.e the only change that needs to be made is to replace the line
[code]
with

[code]

[2015-05-07 08:23] narfg commented on #5960
The issue does not seem to depend on the content or the complexity of the page. I can reproduce the issue on simple pages like tests/html/lipsum.html.
I investigated a little bit further and can give you some more details.
It's not an issue with scroll keys as it also happens with mouse scrolling (it's just harder to reproduce because of #5660).
The delay happens exactly after scrolling over the c

[2015-05-07 11:08] SimonSapin opened #5973 "Have a "facade" top-level crate with Cargo features for CEF and Gonk"
Currently we have three "top-level" crates, each with their (largely duplicated) `Cargo.lock` file and `target` directory: `components/servo`, `ports/cef`, and `ports/gonk`.

Could we take advantage of [Cargo features](http://doc.crates.io/manifest.html#the-[features]-section) instead, to switch between these kinds of builds? That way we could have a single top-level crate (and so a single, shared

[2015-05-07 12:11] jdm commented on #5960
Great detective work; thanks!

[2015-05-07 12:14] jdm commented on #5971
@akosel Fantastic! Just shout if you have any questions :)

[2015-05-07 12:40] pgonda commented on #5963
I did not see that method, thanks!

[2015-05-07 13:25] shinglyu commented on #5187
Hmm... I am a little bit blocked on the gfx code. Most filters create some kind of Azure filter to do the trick, but the drop-shadow filter need to do a lot of masking, shifting and blurring. I can't see how the box-shadow code can fit into the `components/gfx/filters.rs` code.

[2015-05-07 14:33] jdm commented on #5187
I wonder if draw_surface_with_shadow is what we want here? I don't know much about this though; maybe @pcwalton does.

[2015-05-07 14:37] jdm commented on #5187
For what it's worth, the equivalent Gecko code appears to be http://mxr.mozilla.org/mozilla-central/source/gfx/src/FilterSupport.cpp#926 .

[2015-05-07 14:57] jinankjain commented on #5371
Could someone help me out to fix this bug or some more details about the bug how to fix it

[2015-05-07 16:24] larsbergstrom commented on #4591
This should no longer be a problem - stb-image finds the CC/AR binaries on a per-platform basis via:
https://github.com/servo/rust-stb-image/blame/master/makefile.cargo#L3-L4

[2015-05-07 16:24] #4591 closed

[2015-05-07 16:37] kmcallister commented on #3368
Working on this again now that the rustup has landed.

[2015-05-07 16:40] jdm opened #5974 "Identify critical subresources of stylesheets"
This will be important to get load blocking right for stylesheets.

[2015-05-07 17:01] jdm commented on #5371
@jinankjain It's not possible to work on this until another @kmcallister creates and merges a forthcoming PR, unfortunately.

[2015-05-07 18:47] bsmedberg opened #5975 "Styles not loaded for http://benjamin.smedbergs.us/blog/"
./mach run http://benjamin.smedbergs.us/blog/

My website shows up without any styling. This is apparently unusual according to jdm, so I should file it. I'm going to try and do some debugging to see if there's an obvious reason like CSS parsing errors.

[2015-05-07 18:57] jdm commented on #5975
For parse errors, you'll want to run with RUST_LOG=style::parser

[2015-05-07 19:13] bsmedberg commented on #5975
INFO:style::parser: 7:1 Invalid rule: '@import url("/bdstyle.css")'
So perhaps this is CSS @import isn't implemented yet?

[2015-05-07 19:14] jdm commented on #5975
That seems likely to me.

[2015-05-07 19:28] pcwalton commented on #5973
Even better, we could remove gonk and servo in favor of the CEF port, and use the CEF port as the facade.

[2015-05-07 19:30] SimonSapin commented on #5975
That’s correct. The parsing isn’t hard, but it’s unclear to me how a network fetch should be triggered from the CSS parser. Though maybe as a first step it could just be block and fetch/parse sequentially.

[2015-05-07 19:36] SimonSapin commented on #5973
That would require writing two CEF “clients” that don’t exist yet, right?

[2015-05-07 19:50] pcwalton commented on #5973
Yes, but hopefully they'd be pretty similar if not identical. CEF has a simple API for the common case of "open a full screen or windowed chromeless window displaying a URI", which I believe is all that `components/servo` and `ports/gonk` do.

[2015-05-07 20:44] kmcallister commented on #3368
Now waiting on PistonDevelopers/image#401.

[2015-05-07 21:28] zmike opened #5977 "embedding: provide better main loop integration than cef"
CEF has two methods for main loop integration: running the main loop and iterating the main loop.

This is not ideal for embedding applications since it requires them to either run the CEF main loop in another thread/process (eek) or run a timer that constantly polls on the main loop iteration function (starving the app for cpu time).

Servo could improve upon this in a number of ways, such as by

[2015-05-07 21:30] pcwalton commented on #5977
Ideally CEF should be calling callbacks to let you know when you need to call `CefDoMessageLoopWork()`. Does that not work?

[2015-05-07 21:32] zmike opened #5978 "embedding: implement stubs/methods for offscreen rendering"
It seems that this will be a multi-part operation, requiring the creation of a software rendering backend to rust-layers which creates a pixel buffer that can then be passed to the OnPaint interface method of embedding.

@glennw @pcwalton

[2015-05-07 21:37] zmike commented on #5977
CEF has no concept of things like this because it has no actual main loop; these functions are just a wrapper around the Chromium/Blink main loop, which provides no mechanism for determining when to call or not call it. According to one comment I found on the topic, "it's too hard".

[2015-05-07 22:38] kmcallister commented on #3368
And PistonDevelopers/image#403.

[2015-05-07 22:39] zmike opened #5979 "embedding: hw accel bikeshedding"
Currently we implement prepare and swap interfaces:
* prepare to set up the gl context
* swap to display the rendered content

Between these two callbacks, Servo runs gl calls to throw content at textures. This is not ideal for integrating with external apps/toolkits, so it would be great if we could figure out What's Doable vs What's Needed and maybe also What's Easy.

My experience is that we're

[2015-05-07 23:27] pcwalton commented on #5977
Interesting. Perhaps we should provide a callback that tells the hosting app "hey, please call the event loop".

[2015-05-07 23:31] zmike commented on #5977
How would you schedule this callback when the event loop is not being processed?

[2015-05-08 01:39] pcwalton commented on #5977
Call it on a separate thread. Then the.embedder can kick its main loop awake from that thread via the normal OS mechanisms for that.

[2015-05-08 02:22] ecoal95 commented on #5892
Maybe related with this: https://github.com/servo/rust-layers/pull/157

[2015-05-08 06:48] max6cn opened #5982 "SegFault with primusrun"
### Command to trigger:

[code]
### Output

[code]
### Other Information
- Host information

[code]
-  servo renders correctly without primusrun
-  Firefox is fine with primusrun
-  Building log

[code]

[2015-05-08 07:10] jdm commented on #5982
What does "servo renders correctly without primusrun" mean, exactly?

[2015-05-08 07:29] max6cn commented on #5982
sorry for the confusion.If launched with the integrated graphics  card(Intel HD4400),
`` `
./mach run  --release http://www.github.com
[code]
components/servo/target/release/servo http://www.github.com
[code]
primusrun components/servo/target/release/servo http://www.github.com
[code]

[2015-05-08 11:09] Rezonansowy opened #5983 "Split servo tests to a separate brach"
The `servo/test` folder contents are growing. When you click the color bar on the project's main page you see that 92.2% is HTML. It would be good to create a branch called `servo-tests` for it, I think. It also decrease the size of downloaded code.

[2015-05-08 11:44] Ms2ger commented on #5983
I don't see how that would work.

[2015-05-08 11:44] #5983 closed

[2015-05-08 12:16] Rezonansowy commented on #5983
@Ms2ger Why do you close it so fast? It could be achieved very simply, just like other branches: `rust-png` or `rust-core-graphics`. No reason to keep such big thing together.

[2015-05-08 13:39] larsbergstrom commented on #5983
@Rezonansowy The majority of those tests are already external and are imported from the web platform tests repository. The few that are not (our ref and content tests) will hopefully be upstreamed into WPT, so are not worth breaking out for now.

[2015-05-08 14:45] bsmedberg commented on #5975
I'm not completely familiar with how @import works with the CSS priority order. If it's possible to represent them as entirely separate style sheets, that sounds much preferable to blocking the parser.

[2015-05-08 15:12] JasonWeathersby opened #5984 "Build for Adroid Failing - tenacious"
I am getting this error will using ./mach build --android

error: extern location for tenacious does not exist: /Users/jweathersby/servo/servo/components/servo/target/debug/deps/libtenacious-77ae4415b1d0cf4d.so
/Users/jweathersby/servo/servo/components/plugins/lib.rs:22:1: 22:24 error: can't find crate for `tenacious`
/Users/jweathersby/servo/servo/components/plugins/lib.rs:22 extern crate tenacio

[2015-05-08 15:15] larsbergstrom commented on #5984
What platform are you on (OSX or Linux)?

Also, are you on master up to this commit - https://github.com/servo/servo/commit/02cf89f4d3fb991a27ecbaf8d3cafe5722750cc6
?

OSX->Android was broken until that landed. Linux->Android should be working because we have a build machine that tests it.

Also also, if you have an existing build, you make need to `./mach clean` between android and non-android bu

[2015-05-08 15:18] Manishearth commented on #5984
It's a .so file so he should be on Linux? We did land the Tenacious fixes on osx so that should be fixed.

[2015-05-08 15:19] larsbergstrom commented on #5984
@Manishearth cargo (the version we have) was looking for a .so file even on OSX due to that dylib thing, which is part of what was breaking us, if I understand all of alex's fixes correctly...

[2015-05-08 15:49] JasonWeathersby commented on #5984
That worked to get me past that issue. I get the note: Missing Tool `/opt/ndk_standalone/bin/arm-linux-androideabi-gcc`! option now :)

[2015-05-08 16:18] larsbergstrom commented on #5786
Note that we are currently in good shape - `find . -name '*.toml' | xargs grep license` shows that all of the licensed dependencies are fine.

I also did a pass through `find . -name '*.toml' | xargs grep -L license` and the files without licenses are either sub-toml files or are in dependencies we wrote on the Servo team and can correct.

[2015-05-08 16:44] zmike opened #5986 "resources_dir_path() should provide an absolute path"
The current implementation requires that the exe be 2 subdirs into the servo/ root directory, eg. servo/a/b, in order to function. Instead, this should be an absolute path defined at compile time.

[2015-05-08 16:47] jdm commented on #5986
How would that work? Wouldn't that limit the resulting binary to being run only on the machine that compiled it, in the original directory?

[2015-05-08 16:51] zmike commented on #5986
No, you allow the path to be defined based on configure time so that the user can determine where the resources directory will be. There can be a default path when the user doesn't specify anything.

[2015-05-08 17:22] kmcallister commented on #3368
Those are fixed; now it's PistonDevelopers/image#409.

[2015-05-08 19:26] larsbergstrom commented on #5984
Great, thanks!

[2015-05-08 19:26] #5984 closed

[2015-05-09 02:15] zmike opened #5996 "embedding: implement get_identifier interfaces"
According to CEF, this is a per-struct unique value which will not be reused until the previous struct has been destroyed; I assume this stipulation does not take into account int32 overflow, as this is the storage used.

It seems that we need to maintain a global counter for this, so I'll open it up to bikeshedding to figure out what the best/easiest way to do this is.

I'd appreciate it if we co

[2015-05-09 02:58] zmike commented on #5996
Nevermind, I noticed someone used AtomicIsize for this.

[2015-05-09 02:58] #5996 closed

[2015-05-09 16:26] zmike opened #5998 "embedding: pointers being set wrongly"
In ServoCefBrowserExtensions::init(), there is the line self.downcast().host.set_browser((*self).clone()); which is supposed to set the browser object into the browser_host object. What actually happens is that it sets a block of zeroed/filled memory as the browser_host's browser object; something to do with how we're setting/passing the browser object here. I imagine there are similar cases.

Thi

[2015-05-10 04:04] sbditto85 commented on #5970
I'd be interested in trying my hands at this, but I've never worked on servo before is this a good starter issue? Anything I should know before I start?

[2015-05-10 13:57] jdm commented on #5970
@sbditto85 I think this would be a good starter issue, since you don't have to know anything about Servo internals. You also won't learn anything about Servo internals by doing it, but you'll get used to the Servo contribution model! I believe everything you need to know is in the first comment; to get started, you'll probably want to create a new `webdriver_client` crate in `components/` and add

[2015-05-10 14:26] ecoal95 commented on #5982
Seems that the glx extension that servo uses to bind an opengl texture to a pixmap is not found there... I don't think too much can be done :S

[2015-05-10 15:46] sbditto85 commented on #5970
OK I'll try it go ahead and assign it to me

[2015-05-10 16:50] ecoal95 commented on #5679
@pcwalton I've got a few questions about this. Right now to paint a canvas an `SpecificFragmentInfo::Canvas` is generated by `layout`, that is "transformed" to an `ImageDisplayItem` to build the display list via getting the pixels with `SendPixelContents`.

I don't know how making the canvas creating its own stacking context will affect the rendering, or how should that be changed once we have it

[2015-05-10 20:16] jdm commented on #5970
Great!

[2015-05-11 02:09] Jinwoo-Song opened #6002 "Servo does not start on Android"
I've built the servo on Ubuntu(14.04) with ndk-r10d and latest Android SDK. But after launching the servo with following command, servo terminated immediately.

I get the below logs and it seems that libmozjs.so is not found. Could anyone help for this?

D/AndroidRuntime(27896): >>>>>> AndroidRuntime START com.android.internal.os.RuntimeInit <<<<<<
D/AndroidRuntime(27896): CheckJNI is OFF
D/Androi

[2015-05-11 02:10] Jinwoo-Song commented on #6002
cc @larsbergstrom
cc @yichoi

[2015-05-11 08:47] Jinwoo-Song opened #6003 "Implement name and value attributes of HTMLButtonElement"
Spec:
https://html.spec.whatwg.org/multipage/forms.html#htmlbuttonelement

[2015-05-11 10:46] larsbergstrom commented on #6002
@Jinwoo-Song I will look at this today; it must be an error introduced during the latest Rust upgrade.

Additionally, even before this upgrade we had a bug on Android that may still need to be resolved - https://github.com/servo/servo/issues/5795

[2015-05-11 12:06] mskrzypkows commented on #5760
I'd like to take this issue, but it could take me about month to do it (I have little time for open source per week), is it OK? Should I use some specified library to create those tests in JS?

[2015-05-11 12:39] jdm commented on #5760
Not a problem! I don't think a library will add anything here; we just want to report numbers about basic parts of our DOM implementation.

[2015-05-11 12:44] mskrzypkows commented on #5760
OK, I'll propose some tests.

[2015-05-11 14:09] shinglyu commented on #5187
Hmm... My problem is that the `filters::create_filters()` needs to return an Azure filter, but box shadow needs multiple steps (which is already written in `paint_context::draw_box_shadow`). I don't know how to package the `draw_box_shadow()` into a `Azure::azure_hl::FilterType`

[2015-05-11 14:31] shinglyu commented on #5187
Oh I see! The Gecko implementation actually uses a FLOOD filter + 2 COMPOSITE filter, I guess I can do that too.

[2015-05-11 14:39] yodalee commented on #4431
I will transfer this to @Shinglyu due to military training.

[2015-05-11 15:39] mbrubeck opened #6006 "Incorrect layout for RTL table flow in LTR block flow"
In the following test case, "A" should be aligned to the left, but in Servo with `--experimental` it is aligned to the right:

[code]

I believe the problem is that the computed value of the 'direction' property for the `<table>` element is also used for the anonymous table wrapper box that it generates.  According to [CSS2.1 § 17.4](http://dev.w3.org/csswg/css2/tables.html#model), the table wrapp

[2015-05-11 16:40] mmatyas commented on #6002
I have a similar issue, launching a release build on an Arndale Octa (Android 4.2.2), built using the latest tools gives the following error:

[code]

[2015-05-11 17:01] kmcallister commented on #1361
Incremental layout is implemented now.

[2015-05-11 17:01] #1361 closed

[2015-05-11 17:35] mbrubeck commented on #6002
I get the same error as @mmatyas, above.  `libmozjs.so` is present in the APK, and I can load both libmozjs.so and libmain.so on the device using dlopen in a simple test program.

It looks like an extra `.so` is sneaking into the filename somewhere.

[2015-05-11 17:43] mbrubeck commented on #6002
Caused by [this change](https://github.com/tomaka/android-rs-glue/commit/f0b89e1ba67d67ceb96fd29d54b88fca80445dd0#diff-cfe2f7845a10bb9b301d2e152b315147R262) in tomaka/android-rs-glue#48.  (The slice is incorrect, and no longer removes the `.so` extension.)

[2015-05-11 17:47] pcwalton commented on #5679
Creating a stacking context for the canvas will break the spec, but Blink does the same thing. It likely won't make a difference on the Web.

I'm not sure what you mean about testing to make sure that it works. You can use the native OS surface readback functions (for example, `IOSurfaceLock` on Mac) if you want to check to make sure that it works.

Pixmap sharing should work, and we use that for

[2015-05-11 18:22] mbrubeck commented on #5915
Fixed by #5997.

[2015-05-11 18:22] #5915 closed

[2015-05-11 18:41] pcwalton commented on #5998
I don't know what is happening off the top of my head.

[2015-05-11 18:55] jdm commented on #5998
I took a look and am at a loss.

[2015-05-11 19:20] dmarcos commented on #5679
@pcwalton A few questions. I need a little bit more clarity to keep working on this:

1) Canvas elements don't have a paint task by default. The rendering context (2d or webgl) is created when getContext is invoked by content. How do we deal with the case where there's no paint task to retrieve the LayerBuffer from?
2) You mentioned that we should create an id for so we can retrieve the appropriat

[2015-05-11 19:54] jdm commented on #5566
@wenderen Are you still working on this?

[2015-05-11 19:54] jdm commented on #5331
@pkondzior Are you still working on this?

[2015-05-11 19:56] pcwalton commented on #5679
@dmarcos (1) is an annoying case. Perhaps we can have layout keep the mapping from IDs to paint tasks (providing a solution for (2)). When a new paint task is created (because the 2D or 3D context was created), we could dirty the node and kick off a reflow, which will cause layout to update the ID for that paint task.

[2015-05-11 20:43] larsbergstrom commented on #5998
Mike informs me that it's filled with not zeros, but 0x1D. I suspect that the value is being dropped too early, since that's the filling_drop value:
https://github.com/rust-lang/rust/blob/7132092ce6e954eb58d490fa886d0865c5cfba38/src/libcore/mem.rs#L375

Also, the relevant code is this line:
https://github.com/servo/servo/blob/c42c2ae9b57b5960ce617e5b4c0ab75959e46957/ports/cef/browser.rs#L139

[2015-05-12 01:09] zmike commented on #5998
Ughhhh this ended up being a lifetime thing where the object was getting destroyed in one of the interface functions with no errors in rustc.

[2015-05-12 01:09] #5998 closed

[2015-05-12 03:09] #6003 closed

[2015-05-12 06:32] Jinwoo-Song commented on #6002
Is there any news for #5795? I got same problem now.

[2015-05-12 06:51] Jinwoo-Song opened #6017 "Implement HTMLSelectElement.{multiple, name, size}"

[2015-05-12 06:59] narfg commented on #5960
Fixed in #6011.

[2015-05-12 06:59] #5960 closed

[2015-05-12 11:57] #6017 closed

[2015-05-12 14:44] shinglyu commented on #5187
I was trying to translate the Gecko implementation into Rust, but I found some of the `FilterType`s are missing in rust-azure's `azure_hl.rs` bindings (but they are in c++) Is it because we only create rust binding for c++ when needed? Do I need to modify the rust-azure code to get this working? Or can I use any Azure's c++ code directly?

[2015-05-12 14:45] SimonSapin opened #6020 "CORS check compares strings, not URL components"
https://fetch.spec.whatwg.org/#cors-check includes:

The corresponding code in Servo is in `script::cors::allow_cross_origin_request`:
[code]

But comparing (scheme, host, port) components of parsed URL is not necessarily the same as comparing a serialized URL to a string. Maybe `AccessControlAllowOrigin::Value`’s value should be a `String` rather than a parsed `Url`?

[2015-05-12 15:19] shinglyu commented on #5187
Just a note to myself:

[code]

[2015-05-12 17:43] Manishearth commented on #6020
cc me

[2015-05-12 19:12] #1389 closed

[2015-05-12 19:20] kmcallister commented on #2853
Servo's #2385 (compile-fail tests) is ever more of a concern as our plugins grow more magical. The upstream ticket is rust-lang/rust#12335.

[2015-05-12 19:38] #5051 closed

[2015-05-12 19:58] kmcallister commented on #3030
I can do the OTS bindings.

[2015-05-12 20:31] jdm commented on #2853
@kmcallister https://github.com/laumann/compiletest-rs exists and #5646 is tracking integrating it.

[2015-05-12 20:38] kmcallister commented on #2853
Cool.

[2015-05-12 20:38] kmcallister commented on #5646
See also #2385.

[2015-05-12 20:46] waddlesplash commented on #3368
That was fixed in PistonDevelopers/image#412, so there are no more blockers, correct?

[2015-05-12 20:50] kmcallister commented on #3368
There are some other issues I didn't file yet :/

I hit enough bugs in a row on our testsuite (which doesn

[2015-05-12 20:53] mbrubeck commented on #6002
We haven't figured out the cause of that issue yet, though we hope to fix it as soon as possible.  If anyone is able to help out, that would be great!

[2015-05-12 22:04] #6002 closed

[2015-05-13 02:46] kmcallister commented on #3030
[The bindings](https://github.com/servo/fontsan) work, now I'll wire it up to Servo.

[2015-05-13 03:42] Manishearth commented on #2853
Rust-in-Gecko blocker: https://github.com/rust-lang/rust/issues/25342

[2015-05-13 03:50] #5582 closed

[2015-05-13 05:55] Jinwoo-Song opened #6032 "Add support for 'padding-box' value for 'box-sizing' property"
Spec: http://dev.w3.org/csswg/css-ui/#valdef-box-sizing-padding-box

Currently, only Firefox is supporting this value.

[2015-05-13 10:15] Jinwoo-Song opened #6034 "Position the background image on the padding box."
According to CSS2.1 spec, background image should be positioned on padding box.

http://www.w3.org/TR/CSS21/colors.html#propdef-background-position

<percentage>
A percentage X aligns the point X% across (for horizontal) or down (for vertical) the image with the point X% across (for horizontal) or down (for vertical) the element's padding box. For example, with a value pair of '0% 0%',the upper le

[2015-05-13 13:49] snf commented on #6020
Btw, we have this UrlHelper http://doc.servo.org/script/dom/urlhelper/struct.UrlHelper.html#method.SameOrigin

[2015-05-13 14:04] SimonSapin commented on #6020
I don’t know if that either is equivalent to what the spec says.

[2015-05-13 16:17] Manishearth commented on #6020
That uses https://html.spec.whatwg.org/multipage/browsers.html#same-origin, which treats origins as structured urls, not strings.

[2015-05-13 18:02] kmcallister commented on #3368
Now tracking these as PistonDevelopers/image#413.

[2015-05-13 18:40] mrobinson commented on #5982
I don't see any references in primus to glXBindTexImage, so it seems like this is really just a missing feature in primus.

https://github.com/amonakov/primus/search?utf8=%E2%9C%93&q=glXBindTexImage&type=Code

[2015-05-13 21:15] jgraham opened #6040 "Overflow in /script/dom/characterdata.rs::ReplaceData"
(pid:25369) "thread 'ScriptTask' panicked at 'arithmetic operation overflowed',
    /home/jgraham/develop/servo/components/script/dom/characterdata.rs:107"

The offending code:

    let count = if offset + count > length {

[2015-05-13 23:32] waddlesplash opened #6041 "Line-length-limit bikeshed"
from IRC:
[code]

CC @mbrubeck @pcwalton @jdm @Ms2ger -- hopefully I didn't miss anyone...

[2015-05-14 00:43] pgonda commented on #3396
I am interested in working on this but I have a few questions.  Where would I implement a new thread?  And where would it be started?  Also vector and not a heap/priorityqueue?

[2015-05-14 00:47] glennw commented on #5243
Fixed by https://github.com/servo/servo/pull/6031

[2015-05-14 00:47] #5243 closed

[2015-05-14 00:47] glennw commented on #5347
Fixed by https://github.com/servo/servo/pull/6031

[2015-05-14 00:47] #5347 closed

[2015-05-14 00:47] glennw commented on #5950
Fixed by https://github.com/servo/servo/pull/6031

[2015-05-14 00:47] #5950 closed

[2015-05-14 00:47] glennw commented on #5958
Fixed by https://github.com/servo/servo/pull/6031

[2015-05-14 00:47] #5958 closed

[2015-05-14 01:52] jdm commented on #3396
@pgonda I think adding a `create_thread` function in `components/script/timer.rs` would make sense; it could return a `Sender` value that could be in the `Constellation` and passed to each new `ScriptTask` that is created. We could call the new function from `create_constellation` in `components/servo/lib.rs`.

[2015-05-14 02:22] #6034 closed

[2015-05-14 03:12] WriterOfAlicrow opened #6042 "glx::MakeCurrent failed"
When I try to run servo (./mach run tests/html/about-mozilla.html), it crashes immediately, giving the following output:

[code]

System info: openSUSE 13.2, GNOME Shell 3.14.2, NVIDIA proprietary drivers version 340.76

[2015-05-14 08:30] wenderen commented on #5566
I started, then had to stop because exams began. Please de-assign this, sorry. :(

[2015-05-14 09:49] Ms2ger commented on #6041
I limited to 160 because that was about the smallest number that didn't require me fixing a million cases; I'd definitely like to reduce that to 100 or even 80.

[2015-05-14 13:08] Jinwoo-Song opened #6045 "Implement 'background-origin' property in CSS3 Background"
Spec:
http://dev.w3.org/csswg/css-backgrounds-3/#background-origin

[2015-05-14 14:33] akosel commented on #5971
I have started looking into this. I noticed the comment in https://github.com/servo/servo/issues/5970, and I assume I can follow a similar structure for this?

That said, there is one issue that I am currently working around. When I run `./mach run http://google.com --devtools` I get:

[code]

This is my first dive into servo, so some of this may be expected based on the current state of the proje

[2015-05-14 14:35] mmatyas opened #6047 "Servo still does not start on Android"
While it seems #6002 fixed an issue, I'm still having problems launching Servo - both on emulated and real devices.
I'm trying to run Servo on an [Arndale Octa](http://www.arndaleboard.org/wiki/index.php/Main_Page) development board, which uses Android 4.2.2, but I get the following error:

[code]

Unlike #6002, the libmozjs.so has the correct filename, and is in the apk file. The glutin update th

[2015-05-14 16:28] mbrubeck opened #6048 ""mach build" should default to building with the previously-built profile"
This is a follow-up to #6038.  If no build mode (`--dev` or `--release`) is specified, and exactly one of `components/servo/target/debug` or `components/servo/target/release` exists, then `mach build` should set a default mode to match that previously-built target.

This means that you only need to pass `--dev` or `--release` the first time you build, and subsequent builds would inherit the settin

[2015-05-14 17:09] #5933 closed

[2015-05-14 17:31] jinankjain commented on #6048
In this just need to check that if release or debug exist then choose that as default build mode if both exist then through error am I correct ?

[2015-05-14 17:32] mmatyas commented on #6042
This just happened to me too, on Ubuntu Gnome 14.04, using NVIDIA 331.113

[2015-05-14 17:37] jinankjain commented on #6045
I would like to work on this feature could you please help me which files would be helpful for implementing this feature

[2015-05-14 18:18] larsbergstrom commented on #6041
I'm a little worried about trying to get to even 100 with Rust. There's a lot of rightward drift from nested `match`, closures, etc. I suspect that if we try to go to 80, when we find that's very hard for lots of code we'll start contorting the code (e.g., lifting things into functions just so they get left-dented) and switching from 4 spaces to 2 just to meet a standard that is mainly motivated b

[2015-05-14 18:30] mbrubeck commented on #6048
Right.  And we should only check this if the existing checks (command-line options, .servobuild file) fail to set either `dev` or `release`.

[2015-05-14 18:36] jdm commented on #6045
@jinankjain Sorry, @Jinwoo-Song has already submitted a PR.

[2015-05-14 18:37] jdm commented on #5971
That is definitely a bug that should be filed. I wonder if this behaviour changed in the most recent Rust upgrade...

[2015-05-14 18:39] jdm commented on #5971
Oh, it's a regression from #5947 - we should avoid panicking if there's no console actor available!

[2015-05-14 18:39] jdm commented on #6047
cc @mbrubeck @larsbergstrom

[2015-05-14 18:44] Earnestly opened #6051 "714M of test data?"
In this repo instead of somewhere else?

Thanks.

[2015-05-14 19:53] jinankjain commented on #6048
Check PR @mbrubeck

[2015-05-14 20:12] jdm commented on #6051
This was a deliberate decision to make it easier to submit new tests. We previously used a submodule. @jgraham were there any other motivating factors here?

[2015-05-14 20:55] jgraham commented on #6051
For web-platform-tests it is indeed because the update process is designed around having things in-tree. This is shared with gecko where submodules aren't an option (and I think is rather convenient compared to submodules in terms of the development process). The CSS tests then use the same setup for consistency although we can't upstream changes there in the same way.

If we did put the data in s

[2015-05-14 21:28] Earnestly commented on #6051
If you put it in another repo, people who wanted all of this data duplicated
from another engine, could still get it while those who didn't, didn't have to
be burdened with it.

Not all of us have fiber and 1TB SSDs, you've done nothing but remove the
choice for no actual gain over what servo developers apparently already do.

[2015-05-14 21:35] #6048 closed

[2015-05-14 21:56] larsbergstrom commented on #6047
At the very least, the submodule update was immediately (accidentally) reverted after it landed in https://github.com/servo/servo/pull/6054, so we're broken again for module loading.

That said, with the correct submodule, things *do* seem to load (and hit the grey screen) if I do a `./mach clean` before my android build.

[2015-05-14 23:57] larsbergstrom commented on #5795
I get two different failure conditions, with additional Rust error logging enabled. The most common one, which gives the grey screen, seems to be:
[code]

The less common one is just a flat-out crash:
[code]

cc @glennw in case he has some ideas off the top of his head.

[2015-05-15 00:09] larsbergstrom commented on #5795
The most common one, which seems to result in a greyscreen if debugging is not enabled is this one:

[code]

[2015-05-15 00:23] larsbergstrom commented on #6047
@mmatyas does https://github.com/servo/servo/pull/6054 fix this loader issue?

Note that I would expect you to still be hitting the issues in https://github.com/servo/servo/issues/5795

[2015-05-15 00:28] hyowon opened #6056 "Implement canvas pattern"
I'm trying to write a patch for this issue.
This is a draft which only works with patterns created from HTMLImageElement and 'no-repeat'.
hyowon@e392cd7
I want to confirm that this patch is going to the right path.
It depends on servo/rust-azure#156

[2015-05-15 00:33] jdm commented on #6056
That certainly appears like the right path to me.

[2015-05-15 01:53] jdm opened #6057 "Can't use JS_GC_ZEAL due to global construction ordering"
WindowBinding::Wrap calls create_dom_global, then JS_SetReservedSlot on the resulting object to store the native pointer. Unfortunately, create_dom_global calls `JS_NewGlobalObject`, followed by `JS_InitStandardClasses`, then `initialize_global`, which end up all doing a lot of allocation. This makes GC_ZEAL useless, since the `trace` method requires obtaining the native pointer which fails before

[2015-05-15 02:47] akosel opened #6058 "--devtools panics if there is no console actor"
This was mentioned in a comment here https://github.com/servo/servo/issues/5971#issuecomment-102053416. Basically, running servo with the --devtools flag leads to a crash.

When I run `./mach run http://google.com --devtools` I get:

[code]

So the problem is that HashMap[“any_value”] will panic! if the lookup fails. The bigger problem seems to be that when [`find_console_actor`](https://github.co

[2015-05-15 03:06] jdm commented on #6058
Go for it!

[2015-05-15 03:12] #6045 closed

[2015-05-15 09:04] Ms2ger opened #6060 "Pass the WebSockets test suite."
Tests are under `tests/wpt/web-platform-tests/websockets`, and expected failures are under `tests/wpt/metadata/websockets/`. See `tests/wpt/README.md` for more information on web platform tests.

[2015-05-15 09:10] Ms2ger opened #6061 "Throw a SyntaxError if the WebSocket URL can't be parsed."
Blocks #6060.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-websocket>, <https://html.spec.whatwg.org/multipage/#parse-a-websocket-url%27s-components>.
* Code: `components/script/dom/websocket.rs`.
* Test: `/websockets/Create-invalid-urls.htm`.

[2015-05-15 09:19] Ms2ger opened #6062 "WebSocket#send should take USVString rather than DOMString."
Blocks #6060.

* Spec: <https://html.spec.whatwg.org/multipage/#websocket>.
* Code: `components/script/dom/webidls/WebSocket.webidl`.
* Test: `/websockets/Send-Unpaired-Surrogates.htm`.

[2015-05-15 09:19] Ms2ger opened #6063 "WebSocket#close should take USVString rather than DOMString."
Blocks #6060.

* Spec: <https://html.spec.whatwg.org/multipage/#websocket>.
* Code: `components/script/dom/webidls/WebSocket.webidl`.
* Test: `/websockets/Close-reason-unpaired-surrogates.htm`.

[2015-05-15 09:49] mmatyas commented on #6047
Yes, #6054 did fix this problem, thanks. I'm now having a similar issue as in #5795, after showing the gray screen for a sec, Servo quits instantly.

[2015-05-15 13:41] larsbergstrom commented on #6047
@mmatyas Thanks for confirming! I'll close this issue now, and am working on #5795 presently.

[2015-05-15 14:37] #6047 closed

[2015-05-15 14:38] Jinwoo-Song opened #6066 "Implement 'background-clip' property in CSS3 Background"
Spec:
http://dev.w3.org/csswg/css-backgrounds-3/#background-clip

[2015-05-15 15:01] jdm opened #6069 "unrooted_must_root lint can't handle struct enum variants"
[code]
yields
[code]

[2015-05-15 15:02] Manishearth commented on #6069
Ugh, I was hoping we don't have to :)

[2015-05-15 15:05] Manishearth commented on #6069
Fix: https://github.com/servo/servo/blob/master/components/plugins/lints/unrooted_must_root.rs#L55 should be changed to just do `.get(id)`, and if it isn't an `Item`, get its parent and try again.

[2015-05-15 15:17] jdm commented on #6069
@pgonda want to give it a try?

[2015-05-15 15:25] #6032 closed

[2015-05-15 18:49] pgonda commented on #6069
I'm on it!

[2015-05-15 18:51] Manishearth commented on #6069
Feel free to ping me here or in IRC for any help!

http://doc.rust-lang.org/nightly/syntax/ast_map/struct.Map.html

might help you here

[2015-05-15 19:37] pgonda commented on #6069
@Manishearth  I changed the function to this but I still see the expect_item in the backtrace, any ideas?
[code]

[2015-05-15 19:41] Manishearth commented on #6069
Are you sure it's the same backtrace? We aren't using `expect_item` anymore

[2015-05-15 19:44] pgonda commented on #6069
here it is, looks the same.  Panic on the expect_item.  Which shouldn't be in check_struct_def anymore
[code]

[2015-05-15 19:46] jruderman opened #6071 "Failed bounds check @ text::glyph::GlyphStore::space_count_in_range"
Servo on Mac

./mach run --release http://www.squarefree.com/

[code]

[2015-05-15 19:54] jruderman opened #6072 "Blockquote on Wikipedia is too narrow"
Servo on Mac

./mach run --release "https://en.wikipedia.org/w/index.php?title=2015_Philadelphia_train_derailment&oldid=662491273"

Near the bottom, there's a quote from President Barack Obama. It's too narrow: the right side of the blockquote is too far away from the edge of the window.

[2015-05-15 19:57] jruderman opened #6073 "Radio button does not become de-selected when I click another one"
Servo on Mac

./mach run --release "https://en.wikipedia.org/w/index.php?title=2015_Philadelphia_train_derailment&action=history"

Click the left radio button on the fourth history entry. The previously selected radio button in the same column should be un-selected, but isn't. (But it does become un-selected if I hover over it!)

[2015-05-15 20:04] jdm commented on #6073
Ooh, I bet we're not marking the radio button dirty when deselecting it. We should call `force_relayout` from `update_checked_state` in `components/script/dom/update_checked_state.rs`.

[2015-05-15 20:06] Manishearth commented on #6073
That seems correct. Forcing a relayout by resizing the window brings them to the correct state.

[2015-05-15 20:06] jdm commented on #6069
@pgonda Looks like we need to modify https://github.com/Manishearth/rust-tenacious/blob/master/src/lib.rs similarly.

[2015-05-15 20:07] Manishearth commented on #6069
Oh, that's in tenacious. I've got it.

[2015-05-15 21:48] jruderman opened #6075 "http_loader::load::verifier panics on Twitter"
Servo on Mac

./mach run --release "https://twitter.com/"

Terminal window shows two panicked threads, but the browser window stays up.

[code]

[2015-05-15 22:04] jruderman opened #6076 "Underline drifts while resizing window"
Servo on Mac

./mach run --release "https://www.w3.org/"

When I resize the window, the underline under "twenty years of work accomplished by European stakeholders within W3C" drifts downward one pixel at a time.

[2015-05-15 22:07] Manishearth commented on #6075
Might be an SSL error.

Perhaps we should just disable Servo's HTTPS verification until rust-pkix or similar is finished? We already know that generic openssl doesn't export full verification capabilities. cc @larsbergstrom

[2015-05-15 22:50] jruderman opened #6078 "thread 'LayoutWorker worker 1/6' panicked at 'Link to containing block not established; perhaps you forgot to call `set_absolute_descendants`?'"
Servo on Mac

./mach run --release "http://www.washingtonpost.com/blogs/innovations/wp/2015/05/04/google-patents-a-way-for-self-driving-cars-to-understand-a-cyclists-hand-signals/"

    thread 'LayoutWorker worker 1/6' panicked at 'Link to containing block not established; perhaps you forgot to call `set_absolute_descendants`?', /Users/jruderman/code/servo/components/layout/flow.rs:1378
    stack

[2015-05-15 23:51] genodeftest opened #6080 "servo should not depend on msttcorefonts"
msttcorefonts (or, as microsoft calls them: Core fonts for the Web) are proprietary and thus not suitable for an open source project.
Instead servo could use the liberation fonts [1] published under a free license and with source code available.

[1] https://fedorahosted.org/liberation-fonts/

[2015-05-16 00:06] jdm opened #6082 "WebSocket constructor should not panic if address lookup fails"
When visiting html5test.com, the websocket constructor panics with `thread 'ScriptTask' panicked at 'called `Result::unwrap()` on an `Err` value: IoError(Error { repr: Custom(Custom { kind: Other, error: StringError("failed to lookup address information: nodename nor servname provided, or not known") }) })', /Users/larsberg/rust/src/libcore/result.rs:729`.

[2015-05-16 00:06] jdm commented on #6082
Code: component/script/dom/websocket.rs

[2015-05-16 00:18] genodeftest commented on #332
Note that Fedora 22 (to be released in ~2 weeks) does not run with wayland enabled for user session by default. It just runs the login (display manager) gdm on wayland. It ships a optional package providing a gnome session on wayland. In this case X applications will be run inside xwayland.
Still copy and paste, resize, drag-and-drop and some other things are broken for both XWayland and native wa

[2015-05-16 00:19] glennw commented on #6080
I haven't checked this, but I believe we shouldn't need any dependency on fonts now. I changed the font cache to fall back to system default fonts (on Linux at least). If someone without those fonts installed is able to test successfully, we could probably just remove that from the documentation.

[2015-05-16 00:20] snf commented on #1942
Just tried it to know if it was fixed and it's failing in layout code now (intermitent) in release and debug builds:
commit 089862090285b1126deaa2357505d2a027e56b2e (15/5/2015)

[code]

[2015-05-16 01:20] nbaksalyar commented on #6042
Same issue for me on Fedora 21 + Gnome Shell 3.14 + NVIDIA 346.59.

[2015-05-16 01:29] WriterOfAlicrow commented on #6073
Thanks for the easy bug! Finally a chance to contribute to an open source project!

There's no file called ```components/script/dom/update_checked_state.rs```, but I found ```update_checked_state``` in ```components/script/dom/htmlinputelement.rs```, and made the change jdm mentioned. Works fine now, so I'll go ahead and create a pull request.

[2015-05-16 01:35] suhr commented on #6078
Can confirm the same issue on linux.

[2015-05-16 02:50] Manishearth commented on #6073
Awesome, thanks!

(yes, the wrong file was mentioned)

[2015-05-16 03:04] jdm commented on #1942
@snf Could you file that separately? All of the previous comments here are about a very different issue, and I'd rather not conflate them.

[2015-05-16 03:16] jdm opened #6085 "Can't log in to Github"
This used to work, and now it just returns to github.com/session/ with empty login fields.

[2015-05-16 03:46] #6066 closed

[2015-05-16 04:29] #6006 closed

[2015-05-16 09:13] genodeftest commented on #6080
you are right, servo compiles and runs without msttcorefonts installed. Why is it noted as requirement on Readme.md?

[2015-05-16 10:09] jdm commented on #6080
We used to fall back to those fonts and panic if they were unavailable.

[2015-05-16 11:02] snf opened #6087 "LayoutTask panic loading http://en.wikipedia.org/wiki/China"
It's failing in layout code (intermitent) in release and debug builds:
commit 089862090285b1126deaa2357505d2a027e56b2e (15/5/2015)

[code]

[2015-05-16 11:03] snf commented on #1942
@jdm Done!, and I think you can close this one because the ScriptTask is not failing any more.

[2015-05-16 11:32] jdm commented on #1942
Agreed!

[2015-05-16 11:32] #1942 closed

[2015-05-16 11:32] jdm commented on #6087
@pcwalton This seems like a scary intermittent segfault in layout code.

[2015-05-16 11:40] SimonSapin opened #6088 "Replace /usr/bin/find hacks in dependency makefiles with Cargo variables"
Some of our dependencies makefiles have hacks like this:

https://github.com/servo/rust-azure/blob/11d7292919a365c55ca6204c465c5eeefcabfe05/makefile.cargo#L62
[code]
… which break when e.g. there is more then one directory matching `skia-*` (multiple versions have been built without `cargo clean`).

Instead, we should be using Cargo’s metadata and `DEP_*` environment variables: http://doc.crates.i

[2015-05-16 11:41] SimonSapin commented on #6088
This should fix issues like this:

http://logs.glob.uno/?c=mozilla%23servo#c213053

[2015-05-16 11:44] snf opened #6089 "Fix [Clamp] support in CodegenRust"
As the title says. I'm working on it.

[2015-05-16 12:19] jdm commented on #6089
Yay!

[2015-05-16 14:25] zmike commented on #5789
Confirming, though as the ticket points out it can be worked around with LIBGL_DRI3_DISABLE=1

[2015-05-16 14:26] zmike commented on #5384
Duplicate of #5789 most likely

[2015-05-16 14:30] zmike opened #6090 "frequent window resizes on linux create massive resize queue"
* Load http://s27.postimg.org/vqbtrolyr/servo.jpg
* Grab window edge to engage resize mode
* Wildly flail mouse arm for 10-15 seconds
* Release mouse button

At this point, Servo will continue to perform each resize action triggered during step 3 on the contents despite the window no longer being resized.

[2015-05-16 16:24] Nashenas88 commented on #6063
I'd like to tackle this one.

[2015-05-16 16:24] Nashenas88 commented on #6062
I'd like to tackle this one.

[2015-05-16 16:33] tomaka commented on #332
Glutin now has support for Wayland.
There may be some bugs though.

cc @vberger

[2015-05-16 16:46] vberger commented on #332
To be more precise, there is *experimental* wayland support (for now it is disabled here https://github.com/tomaka/glutin/blob/master/src/platform/linux/api_dispatch.rs#L27-L28 ).

For now, a glutin wayland window is decoration-less (if the compositor does not provide decorations, such as with Weston), thus cannot be moved, resized or closed via user-input. But creation of EGL surfaces and drawing

[2015-05-16 17:09] mbrubeck opened #6092 "Incorrect layout for inline-block elements in RTL flows"
In this test case, the div should appear at the top right of the page.  In Servo it does not appear anywhere on-screen:

[code]

This is probably caused by similar issues to #6006.

[2015-05-16 17:13] ColdPie1 commented on #6042
I bisected this, and it's down to this merge commit in glutin. Still unclear if it's an nvidia driver issue or a glutin issue.

commit b28f35aa5b06e7d34ada307a5a1b1e9b9de697a1
Merge: a9f7227 2061402
Author: Lars Bergstrom <larsberg@mozilla.com>
Date:   Tue May 12 14:00:50 2015 -0500

    Merge pull request #20 from zmike/parenting

    add ability to set parent window when creating windows

[2015-05-16 17:23] vjeux opened #6093 "Standalone build for layout engine?"
Hey, I'm working on React Native and in order to get flexbox working there, I had to reimplement [a big part of the CSS spec](https://github.com/facebook/css-layout) but I'm not super keen on maintaining it. I was wondering if we could use servo's implementation of the CSS layout engine instead.

I'm not at all familiar with the project and I want to know if it's not crazy complicated to extract t

[2015-05-16 19:07] Nashenas88 commented on #6061
The second url is incorrect. It should be: https://html.spec.whatwg.org/multipage/#parse-a-websocket-url's-components

[2015-05-16 19:24] Nashenas88 commented on #6061
Working on a fix.

[2015-05-16 20:04] Ms2ger opened #6095 "Crashing WPT tests are counted as timeouts."

[2015-05-16 21:32] WriterOfAlicrow commented on #6042
I managed to fix it, thanks to the info ColdPie1 provided. [That commit](https://github.com/tomaka/glutin/commit/b28f35aa5b06e7d34ada307a5a1b1e9b9de697a1#diff-2ce3f8d26915325bbd02de9e0056281eR394) removes the code in ```glutin/src/x11/window/mod.rs``` that created the color map. I added the color map stuff back in, and now it runs.

Not sure if this is the optimal solution (I assume there was some

[2015-05-17 01:52] kmcallister opened #6097 "Get Shumway working in Servo"
https://github.com/mozilla/shumway

[2015-05-17 01:56] kmcallister opened #6098 "Get pdf.js working in Servo"
https://mozilla.github.io/pdf.js/

[2015-05-17 02:08] jdm commented on #6095
See also https://github.com/w3c/wptrunner/issues/105 which @jgraham hasn't replied to yet.

[2015-05-17 02:11] jdm commented on #6042
cc @zmike for feedback

[2015-05-17 09:18] stransky commented on #332
Firefox(Gtk3) on wayland is on my ToDo list. The mail patch has been checked in (https://bugzilla.mozilla.org/show_bug.cgi?id=635134) and there's some remaining issue with rendering (https://bugzilla.redhat.com/show_bug.cgi?id=1054334#c5). Not sure how it's related to the Servo project.

[2015-05-17 15:53] Ms2ger opened #6101 "The WebSocket open event should not be cancelable."
Blocks #6060.

* Spec: <https://html.spec.whatwg.org/multipage/#feedback-from-the-protocol:concept-websocket-established>, <https://html.spec.whatwg.org/multipage/#fire-a-simple-event>.
* Code: `components/script/dom/websocket.rs`.
* Test: `/websockets/interfaces/WebSocket/events/018.html`.

[2015-05-17 16:12] KiChjang commented on #6101
Let me take a look at this one.

[2015-05-17 17:20] klusark opened #6103 "JavaScript errors are not reported"
Open a page that should give a JavaScript error.

Expected behavior:
An error is shown on the console and the script stops executing

Actual behavior:
The script stops executing

[2015-05-17 17:22] KiChjang commented on #6098
Using the current trunk, the console outputted the following when I clicked on "Demo":
[code]
Here's the screenshot of what I have:

![pdfjs](https://cloud.githubusercontent.com/assets/3248587/7671307/bc9d6778-fc97-11e4-94f7-05954439200c.png)

[2015-05-17 18:10] kmcallister commented on #6098
Yeah that's how it looks here as well. I didn't get the console output though (maybe I have it disabled somehow).

You can try my [piston-image](https://github.com/kmcallister/servo/tree/piston-image) branch, although it too fails on [many images](http://kmcallister.github.io/docs/piston-image-report/index.html).

[2015-05-17 18:40] #6101 closed

[2015-05-17 18:51] kmcallister opened #6104 "Support cert pinning via DANE"
[DNS-based Authentication of Named Entities](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities).

This may require having our own DNSSEC resolver.

[2015-05-17 18:54] kmcallister opened #6105 "Implement HSTS"
[HTTP Strict Transport Security](https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security).

For now we may not want Servo to persist any state to disk. In that case we can support just HSTS preloads and not the `Strict-Transport-Security` header.

[2015-05-17 18:55] kmcallister opened #6106 "Support cert pinning via HPKP"
A [mechanism](https://developer.mozilla.org/en-US/docs/Web/Security/Public_Key_Pinning) very similar to HSTS (#6105).

[2015-05-17 19:00] kmcallister commented on #5927
But those traits are generated by a Python script we control, so it could also generate whatever metadata we need for the checks.

[2015-05-17 19:01] kmcallister commented on #5927
cc @Manishearth

[2015-05-17 19:06] kmcallister commented on #2269
Can you elaborate?

[2015-05-17 19:07] kmcallister commented on #2222
Would we always check or only in debug builds?

[2015-05-17 22:53] Manishearth commented on #5927
We could simply whitelist our pure inteerfaces and span another lint whenever we see `Reflector`. Easy change to the existing inheritance lint.

We could also generate a bunch of dead code that tries to access the correct first field. Type safety ftw.

[2015-05-18 01:21] KiChjang opened #6111 "The WebSocket close event should not be Cancelable"
Blocks #6060.

* Spec: https://html.spec.whatwg.org/multipage/comms.html#feedback-from-the-protocol:concept-websocket-closed
* Code: `components/script/dom/websocket.rs`

[2015-05-18 01:53] KiChjang commented on #6111
@Ms2ger I had to make this issue because there was a newcomer who wanted to work on easy bugs

[2015-05-18 02:37] #6080 closed

[2015-05-18 03:28] Nashenas88 commented on #6061
Discussed some of my confusion with KiChjang on irc, and he discovered that websocket::Client::connect does not conform to rfc6455 section-4.1. I won't be able to code this completely to spec (namely step 12 will need to return an additional Url object), but I'll add TODO and FIXME comments. Bug filed with rust-websocket here https://github.com/cyderize/rust-websocket/issues/38

[2015-05-18 04:09] jdm opened #6112 "Forbid `./mach update-cargo` without any -p argument"
It's almost certainly not what the user actually wants. We can add a `--all` argument to explicitly allow the previous behaviour.

Code. python/servo/devenv_commands.py

[2015-05-18 04:13] jdm commented on #6061
Good detective work. Thanks @Nashenas88!

[2015-05-18 04:16] jdm commented on #6098
#5669 is relevant to the console output.

[2015-05-18 04:18] jdm commented on #6103
Ack, you're right. We really need to implement that properly; I'll be writing up a plan for how to do that soon, based on Gecko's [AutoJSAPI design](http://mxr.mozilla.org/mozilla-central/source/dom/base/ScriptSettings.h#179).

[2015-05-18 04:20] jdm commented on #6111
Excellent work, @KiChjang :)

[2015-05-18 04:22] jdm commented on #6105
@kmcallister This is going to need further elaboration if the easy tag is going to be reinstated.

[2015-05-18 05:00] mbrubeck opened #6113 "RTL layout panic "assertion failed: self.mode == other.mode" in ar.wikipedia.org"
`servo -e https://ar.wikipedia.org/` causes the following assertion failure.

[code]

[2015-05-18 05:08] mbrubeck opened #6114 "Stop using regex! macro for hostfile parsing"
According to [this reddit thread](https://www.reddit.com/r/rust/comments/35dh3e/servos_dependency_graph/cr3et2n), `regex_macros` is not at all optimized, and also can lead to a lot of generated code bloat.  Converting [these two lines](https://github.com/servo/servo/blob/49b73c0bfe50366e767525f9f90c5aa348f68f18/components/net/resource_task.rs#L151-L152) to use [Regex::new](http://doc.rust-lang.org

[2015-05-18 05:21] klusark commented on #6103
I bisected this. It's caused by ef8edd4e87aeb3cc71dfd9da2f69437080f5410e

[2015-05-18 05:22] glennw commented on #6103
Yep, just found that too. Something appears to have changed in the log crate during the rustup that means error!() is no longer printed by default.

[2015-05-18 05:28] Manishearth commented on #6103
The `RUST_LOG` invocation changed, but I was trying with the new one and it still wasn't working.

But yeah, I suspect this too.

[2015-05-18 05:29] glennw commented on #6103
https://github.com/rust-lang/log/pull/40 seems related.

[2015-05-18 06:01] glennw commented on #6103
Discussed with sfackler in irc. He will change rust-log to previous behaviour so that error!() is printed by default. The current master of rust-log compiles on the servo rustc, so we should be able to just update rust-log once that change is made.

[2015-05-18 06:13] awestroke commented on #6114
I'd like to work on this issue

[2015-05-18 06:38] glennw commented on #6103
https://github.com/rust-lang/log/pull/41

[2015-05-18 10:00] mmatyas commented on #6042
I can also confirm that this solves the issue.

[2015-05-18 12:27] michaelwu opened #6116 "thread 'LayoutWorker worker 6/6' panicked at 'attempted to negate with overflow', servo/components/util/geometry.rs:thread 'LayoutWorker worker 3/6' panicked at 'attempted to negate with overflow', servo/components/util/geometry.rs:178"
Opening http://reddit.com/ on my linux system panics with:

thread 'LayoutWorker worker 6/6' panicked at 'attempted to negate with overflow', /home/mikew/moz/servo/components/util/geometry.rs:thread 'LayoutWorker worker 3/6' panicked at 'attempted to negate with overflow', servo/components/util/geometry.rs:178

Here's the stack:
[code]
Here's some potentially relevant info from gfx::platform::free

[2015-05-18 12:31] shinglyu commented on #5591
Got stuck on #5187, will work on this one to feel some momentum.

[2015-05-18 13:12] pnkfelix commented on #6116
This occurs when you attempt to negative the minimal value of a signed integral type, because that negative value does not have a positive counterpart:
[code]

So my question is: What is your intention in this code?   What *should* `-MIN_AU` do ?

Do you want it to return `MIN_AU` back, which is what most computer processors would do (but is completely unintuitive for someone expecting the sign to

[2015-05-18 13:20] michaelwu commented on #6116
FWIW, I know nothing about this code. I'm just hitting a bug and reporting it.

[2015-05-18 14:09] joeblew99 opened #6117 "Question:"
I am doing my final year project i.e making an online web based 3D Designing solution that help user to make or to design a 3D Model using drag and drop feature in more user friendly environment.
Therefore i need some help to start this project it will be so help full if you can provide me some guidelines.

I need to run the application as a web browser, but also as a non web browser.

So, I am wo

[2015-05-18 14:11] kmcallister commented on #6105
I linked to the MDN document that explains the whole feature. If we're only doing preloads then we just need to get that file from Google and bake it into Servo.

[2015-05-18 14:21] jdm commented on #6117
It sounds to me like you may want to write a regular web application, then add a manifest to make it installable. See https://developer.mozilla.org/en-US/Apps for more information about it.

[2015-05-18 14:28] jdm commented on #6105
This will require adding additional Servo initialization code (like the hostfile processing) and checks in the HTTP loader. I think we should support an in-memory list of any domains for which we have seen a Strict-Transport-Security header, too.
Code: components/net/resource_task.rs, components/net/http_loader.rs

[2015-05-18 15:14] jdm commented on #5928
@glennw FYI, we hit this again since the various compositor race PRs were merged.

[2015-05-18 15:26] KiChjang opened #6119 "Check whether locationURL has the same origin as request's URL in HTTP fetch"
This should be as simple as uncommenting the line I wrote in https://github.com/servo/servo/blob/450931a1717f844d3a314565e50ea7e299832511/components/net/fetch/request.rs#L289, but ultimately depends on the implementation of the origin() method in rust-url (https://github.com/servo/rust-url/issues/54).

* Relevant spec: https://fetch.spec.whatwg.org/#concept-http-fetch: Step 4, Substep 10
* Code: `

[2015-05-18 15:56] larsbergstrom commented on #4383
This has been fixed!

[2015-05-18 15:56] #4383 closed

[2015-05-18 15:57] larsbergstrom commented on #1442
This should be working now.

[2015-05-18 15:57] #1442 closed

[2015-05-18 15:58] larsbergstrom commented on #5795
Fixed in #6109!

[2015-05-18 15:58] #5795 closed

[2015-05-18 17:24] Manishearth opened #6122 "Don't sync submodules unless needed"
We don't need submodules for anything but Android now.

We shouldn't enforce submodules unless someone is doing an Android build.

(Submodule sync needs an updated git, which not everyone has)

[2015-05-18 17:31] Manishearth commented on #6122
This isn't so easy; without the submodule Cargo fails

[code]

[2015-05-18 17:47] benbucksch opened #6123 "Don't let Corgo depend on android-rs-glue unless running "mach build --android""
Reproduction:
1. Try to compile Servo on Linux for Linux

Actual result:
Downloading Cargo nightly
...
Cargo ready.
Could not find `Cargo.toml` in `.../servo/support/android-rs-glue/glue'

Expected result:
Android build dependencies are active only when building for Android (which I should specifically specify, should not be the default when building on Linux).

[2015-05-18 18:04] snf commented on #5670
Browser context needs some work and there are tons of TODO(handle browsing context) out there in the dom files so I think we should start there.

And wouldn't this struct keep alive all the Document, Window, etc context from the browsing history creating a little memory leak?:
[code]

Also, should we add something else in the script_task/constellation?

[2015-05-18 20:29] zmike opened #6126 "panic when trying to load url before init completed"
In compositor.rs, trying to change the URL too early results in this codepath:

panic!("Compositor: Received WindowEvent::LoadUrl without initialized compositor \
                           layers")

@larsbergstrom @pcwalton @jdm

[2015-05-18 21:01] zmike opened #6128 "composite occurs (probably) too many times on startup"
I've created a paste with some backtraces to where this occurs from my embedding test app: there are 4 separate composite calls during init.
https://gist.github.com/zmike/a1c81ee89a5f5b7e0a7b

There is a composite() resulting from compositor.set_frame_tree(); it also triggers an extra composite() from an extra call to compositor.assign_painted_buffers(). Removing the call from set_frame_tree() see

[2015-05-18 21:02] r0e commented on #6112
Hi, I'd like to give this a shot as my first contribution.

[2015-05-18 21:04] Nashenas88 commented on #6061
Did I do the fixups properly?

[2015-05-18 22:34] benbucksch commented on #6122
That's actually Issue #6123 . Android deps should NOT download, if I'm not building Android.

For the time being, if you DO want to download android-rs-glue, this bug could be fixed by fetching this, instead of doing --recursive.
I think that's the right solution long-term, even when #6123 is fixed, because in order to be selective, you need to be specific first.

[2015-05-18 22:40] jdm commented on #5670
It technically won't be a leak, since it will be removed when the script task shuts down. We should also add logic to prune the actual cached document at some point, but that will require extra logic to reload it if we end up trying to retrieve it from history later.

[2015-05-18 22:43] jdm commented on #6112
@r0e Fantastic!

[2015-05-18 23:09] #5856 closed

[2015-05-19 06:07] aneeshusa commented on #6040
Looks like this got fixed in #6064.

[2015-05-19 09:22] benbucksch opened #6132 "Initial pull of git skia fails"
First time I try to build Servo

$ time nice ./mach build -j4 --release --verbose
    Updating git repository `https://github.com/servo/gleam`
    Updating git repository `https://github.com/servo/rust-x11-clipboard`
    Updating git repository `https://github.com/servo/rust-freetype`
    Updating git repository `https://github.com/servo/rust-egl`
    Updating git repository `https://github.com/se

[2015-05-19 10:45] awestroke commented on #6114
Let's close this?

[2015-05-19 11:06] mattias-ostergren commented on #6132
I think I have this problem too?

 ./mach build --verbose
    Updating git repository `https://github.com/servo/skia`
Unable to update https://github.com/servo/skia#d60e6753

Caused by:
  failed to fetch into /home/.../servo/.cargo/git/db/skia-c7a55308e929f530

Caused by:
  [12] Timeout was reached
Build completed in 61.33s

(I'm have struggled somewhat with my setup - Ubuntu on Virtualbox behind

[2015-05-19 11:10] glennw commented on #6132
Searching for the phrase "Timeout was reached" in cargo turns up https://github.com/rust-lang/cargo/issues/1254 and https://github.com/rust-lang/cargo/issues/1087. Not sure if they are relevant but they seem to be related to network conditions and / or proxy / firewall configurations.

[2015-05-19 11:22] mattias-ostergren commented on #6132
I'm not sure what the problem is (in my case). FYI - on my system I performed the following tests (as suggested in above issues):

curl -OL https://crates.io/api/v1/crates/libc/0.1.1/download ran OK in 3 seconds.
wget https://crates.io/api/v1/crates/libgit2-sys/0.1.3/download finished in 9.8 seconds.

[2015-05-19 16:57] jdm commented on #6040
Yep!

[2015-05-19 16:57] #6040 closed

[2015-05-19 16:57] #6114 closed

[2015-05-19 17:13] #6113 closed

[2015-05-19 17:16] zmike commented on #5979
I've added a commit to PR#6125 which I think addresses most of the possible use cases:

https://github.com/zmike/servo/commit/67f5f7d21714ecf24b892124598f87bf02e660df

[2015-05-19 18:35] zmike opened #6137 "embedding: scale factor"
I guess we need to figure out how to handle this better. OSX has virtual pixel scaling, but I don't think any other platform does.

[2015-05-19 19:30] zmike commented on #6042
Should be resolved with my recent glutinup PR to servo.

[2015-05-19 19:39] larsbergstrom commented on #6042
Fixed by https://github.com/servo/servo/pull/6120

[2015-05-19 21:25] zmike commented on #2561
Done a while ago, though unit tests haven't been committed yet.

[2015-05-19 21:25] #2561 closed

[2015-05-19 21:26] zmike commented on #2562
No.

[2015-05-19 21:26] #2562 closed

[2015-05-19 21:27] zmike commented on #3665
It seems this has been magically fixed recently due to the embedding lib becoming bigger than @larsbergstrom.

[2015-05-19 21:27] #3665 closed

[2015-05-19 21:27] zmike commented on #3976
Update to update: I am bad at rebasing and this is fixed.

[2015-05-19 21:27] #3976 closed

[2015-05-19 21:27] zmike commented on #5977
I have a patchset which implements this, PR is pending.

[2015-05-19 21:27] #5977 closed

[2015-05-19 21:29] zmike commented on #6090
This does not occur in embedded applications, so it may just be related to the glutin port?

[2015-05-19 21:44] benbucksch commented on #6132
Glenn, network problems with the firewall seem unlikely, because the other repos fetch fine, from the very same host https://github.com. Other large repos like rust (300 MB) cloned fine as well (manually, not part of the script).
I'm using a HTTP proxy. For testing, I've disabled that (export http_proxy="" && export https_proxy="") and re-ran. Same issue. Deleted .cargo/git/ and re-ran. Same issue

[2015-05-19 22:50] pcwalton opened #6142 "Support multiple layers per stacking context"
We should change stacking contexts and layers to be 1:N instead of 1:1/1:0 as they are today in order to match the CSS spec. Possibly the best way to do this would be to add layer IDs to every display item; after flattening and shuffling the items into the proper order, we'd instantiate the layers, creating front and back layers as necessary. For example, if display items have layer IDs 1, 1, 1, 1

[2015-05-19 22:54] pcwalton commented on #5227
This is fixed now.

[2015-05-19 22:54] #5227 closed

[2015-05-19 23:58] michaelwu commented on #6116
I made a fix for it. https://github.com/servo/servo/pull/6143 Reddit was trying to use Helvetica, which is a bitmap font on my system.

[2015-05-20 00:14] jdm commented on #5227
@pcwalton To be clear, we still don't have tests for this, right?

[2015-05-20 00:33] larsbergstrom commented on #6075
@Manishearth Hrm, that might be the right answer, though it really is a shame we can't leave it enabled. I was hoping that for any "alpha" release we do we could mix some sort of site white-list and crazy cert checking to reduce the risk of rogue content before we're ready with a full-up security response team. Though maybe I'm overthinking it and we just need to brand similarly to FF Nightly :-)

[2015-05-20 01:05] pcwalton commented on #5227
Right, we don't. (Neither does Gecko, from talking to @bzbarsky in Portland -- testing to make sure you didn't reflow *too much* is a tough problem.)

[2015-05-20 01:10] bzbarsky commented on #5227
Though note that dbaron is considering adding some sort of reflow or restyle counters to make that sort of thing testable.

[2015-05-20 02:03] Manishearth commented on #6116
\o/

[2015-05-20 02:06] Manishearth commented on #6075
I believe that later versions of openssl have all the bits we need; so for alpha purposes we could  extend rust-openssl bindings for those and write a cargo feature gated SSL verifier that will only work for people with a really up to date openssl dylib.

I'm not sure of this though (and I don't have the time to investigate immediately)

[2015-05-20 03:28] nathanross commented on #5746
No longer 404'ing for me. Tried another few pages too. Guessing this is fixed.

[2015-05-20 03:46] Manishearth commented on #5746
Yeah this was fixed a while back and we picked it up in the rustup.

[2015-05-20 03:46] #5746 closed

[2015-05-20 06:14] #6062 closed

[2015-05-20 06:14] #6063 closed

[2015-05-20 06:49] mattias-ostergren commented on #6132
Wohoo! After setting the HTTP timeout  to approx 1 hour (by modifying /components/servo/.cargo") I managed to download skia.
(See issue 1087 as mentioned above).
:-)

However...

Then it failed at a later stage... to be continued... :-/

./mach build --verbose
    Updating git repository `https://github.com/servo/skia`
    Updating git repository `https://github.com/servo/libfreetype2`
    Updatin

[2015-05-20 06:55] #6061 closed

[2015-05-20 10:22] pnkfelix commented on #6116
@michaelwu ... out of curiosity, do you know using a bitmap font caused this bug to be triggered?  Is it something where FreeType just produces garbage data (such as `i32::MIN`) when given input it cannot handle?

[2015-05-20 11:13] benbucksch commented on #6132
Matthias, could you please tell me again what exactly you modified where?
For me, components/servo/.cargo/ is a directory, with config as the only file in there, and that file has no timeout written in it. Actually, it only android stuff in there.

servo$ ls -la components/servo/.cargo/
-rw-rw-r-- 1 ben ben 184 Mai 16 14:20 config

$ cat components/servo/.cargo/config
paths = ["../../support/andro

[2015-05-20 12:08] mattias-ostergren commented on #6132
Sorry for being unclear. Updated my previous comment to correct path to config file.
Here is the rows I added.

[http]
proxy = "http://...<myproxy>.../"
timeout = 3600000
[https]
proxy = "http://...<myproxy>.../"
timeout = 3600000

[2015-05-20 14:05] joeblew99 commented on #6117
i dont want to do this.

I want to have webgl and opengl agnostic factory pattern.

[2015-05-20 14:22] shinglyu opened #6144 "Make Location methods writable"
Followup #6135
Most the attributes here are read-only: http://mxr.mozilla.org/servo/source/components/script/dom/webidls/URLUtils.webidl

Make the writeable based on https://url.spec.whatwg.org/#urlutils-and-urlutilsreadonly-members

[2015-05-20 14:23] shinglyu opened #6145 "Null-check in location getters"
Followup #6135
Implement the null-check in https://url.spec.whatwg.org/#urlutils-and-urlutilsreadonly-members

[2015-05-20 14:25] jdm commented on #6117
I don't think Servo will be able to help you here, unfortunately.

[2015-05-20 14:25] #6117 closed

[2015-05-20 16:13] #6069 closed

[2015-05-20 17:00] jdm opened #6148 "PendingLoadGuard should not assert if panic in process"
The destructor for `PendingLoadGuard` in `components/net_traits/lib.rs` asserts if the pending load is never initiated. Unfortunately, if there's ever a pending load that exists when a panic occurs, this assertion fails but is meaningless. We should use the [panicking](http://doc.servo.org/std/thread/fn.panicking.html) function to check this.

[2015-05-20 20:17] #5603 closed

[2015-05-20 22:13] r0e commented on #6148
Hi jdm, I'd like to give this a shot.

[2015-05-20 22:25] jdm commented on #6148
Please do!

[2015-05-20 23:14] pcwalton opened #6153 "Downscale images on decode"
So @sethfowler tells me that retrofitting Gecko to do this was a major pain. We should consider doing this early in the image cache task.

[2015-05-21 08:58] pikzen commented on #6145
Hey, I'd love to give this a shot. The related file is https://github.com/servo/servo/blob/1389be37823fccf4108f4e79d0a3a793f0bbe93e/components/script/dom/urlhelper.rs, right ?

[2015-05-21 09:01] shinglyu commented on #6145
Yep!

[2015-05-21 14:43] jdm commented on #5494
@pcwalton Could you make a list of the properties that still remain, and decide if this still classifies as an easy issue?

[2015-05-21 18:28] genodeftest commented on #2462
With the current status in README.md I am able to compile servo. The packages fontconfig-devel, libXi-devel and expat-devel are included. The package libXRendr-devel is not included and does not exist on Fedora 22. I think you mean libXrandr-devel which is listed in README.md too.

[2015-05-21 21:44] jgraham commented on #5364
So, do you want a new issue for the fact that our bfcache has unlimited size (which is somewhat less viable ;)

[2015-05-22 06:49] qdot commented on #6042
I'm still getting the same error msg and crash even after this patch went in. Seems to be from the same version of glutin mentioned earlier (b28f35aa5b). I'm on debian jessie, nvidia quadro k1000 card, 349.16 drivers.

Checking out a servo that depends on a version of glutin older than the aforementioned hash seems to work.

cc @zmike

[2015-05-22 07:51] mattias-ostergren opened #6158 "The build prerequisites for Debian based Linux does not quite apply for Ubuntu 14.04.2/64 bit"
The prerequisites for Debian based Linuxes on servo main project page (https://github.com/servo/servo) seems not quite applicable for Ubuntu 14.04.2/64 bit.

On my setup running the command

sudo apt-get install curl freeglut3-dev \
    libfreetype6-dev libgl1-mesa-dri libglib2.0-dev xorg-dev \
    gperf g++ cmake python-virtualenv \
    libssl-dev libbz2-dev libosmesa6-dev libxmu6 libxmu-dev

Fai

[2015-05-22 12:36] jdm opened #6160 "Prune cached pipelines"
We stash previous documents in an ever-growing list. We need a way to retain that history, but closing the actual pipeline to reduce memory usage and recreating it if we choose to go back in history.

[2015-05-22 12:36] jdm commented on #5364
Filed #6160.

[2015-05-22 12:43] jgraham commented on #6160
This is a blocker if we want to run tests without constantly restarting the process.

[2015-05-22 13:39] #2462 closed

[2015-05-22 14:04] michaelwu commented on #6116
We end up getting font metrics of zero and I think we end up dividing zero by zero at https://github.com/servo/servo/blob/master/components/gfx/platform/freetype/font.rs#L294 . Then that gets converted back to an integer. Not 100% sure about it but that's my best guess.

[2015-05-22 19:07] jdm commented on #4184
Relevant code: components/net/http_loader.rs, components/net/mime_classifier.rs

[2015-05-22 20:44] jdm opened #6164 "Make to_fill_or_stroke_style take `self`, not `&self`"
This is the easiest of changes; if it builds, it's correct.

Code: components/script/dom/canvasgradient.rs

[2015-05-22 20:47] michaelwu commented on #6164
It's in the SM upgrade.

[2015-05-22 21:58] Ms2ger opened #6165 "Document the design of our layout engine."
We've got bits and pieces of this in talks and blog posts, but it'd be nice to have an overview somewhere in the tree.

[2015-05-22 23:17] snf commented on #5670
@aneeshusa or @jinankjain still working on this one?

[2015-05-22 23:43] vectorijk commented on #5670
@snf are you also working on this one?
@jdm I would like to try this one.

[2015-05-22 23:46] snf commented on #5670
@vectorijk no, devs don't let me work in e-easy bugs anymore :'( . So all yours if no one is working on it.

[2015-05-23 00:31] pgonda commented on #3396
I have been building this out (slowly) but I have run into a wall.  I have this code [here](https://github.com/pgonda/servo/blob/timeout-event-loop-thread/components/script/timers.rs#L277) and I am trying to figure out how to switch the handlers this select item is listening for.  I can't overwrite ```timeout_port``` because it is borrowed.  All I can think of is adding these to a list but that se

[2015-05-23 00:56] #177 closed

[2015-05-23 17:19] zmike opened #6166 "embedding: add hook for display_handler::on_favicon_urlchange"
@mbrubeck

[2015-05-23 17:59] cloudtrends opened #6167 "Chinese characters charset gb2312 can not show properly."
Chinese characters charset gb2312 can not show properly.

./mach run http://sohu.com

![bildschirmfoto 2015-05-24 um 01 57 18](https://cloud.githubusercontent.com/assets/2282880/7785223/853ecb2a-01b8-11e5-8284-8049de93c1f8.png)

[2015-05-23 19:19] #6164 closed

[2015-05-23 19:20] jdm commented on #5670
Yes, go for it :)

[2015-05-23 19:30] jdm commented on #3396
I think the problem you face is that the code is trying to reuse the Select value (and the handles). I think the loop should recreate that every time instead; you can probably also use a pattern like this:
[code]
Does that make sense? That should avoid overwriting timeout_port while it's still borrowed.

[2015-05-23 21:46] pgonda commented on #3396
That makes a lot of sense thanks!

[2015-05-23 22:04] frewsxcv commented on #6041
'bikeshed' is my middle name! Right now, we throw an error if it rejects more than 150 characters on a line. Even though people here are talking about 80 or 100 characters, for the sake of sanity, I am going to reduce that to 120 and see how it goes.

[2015-05-24 01:09] snf opened #6172 "Implement FileReader"
https://w3c.github.io/FileAPI/#APIASynch , probably E-Easy

[2015-05-24 02:42] snf opened #6173 "Broken test for Blob.slice"
Most of the items in the list presented at https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/FileAPI/blob/Blob-slice.html#L163  match the specification of Blob.slice https://w3c.github.io/FileAPI/#slice-method-algo

[code]

Or am I missing something?

[2015-05-24 04:06] frewsxcv commented on #6041
Just opened #6174 reducing line length from 150 to 120 characters

[2015-05-24 05:03] KiChjang commented on #6172
Implementation of the async algorithm isn't as easy, I vote for less easy instead

[2015-05-24 05:35] KiChjang commented on #4576
Okay, I'm now moving on to implement `main_fetch`, and I see that in `net/fetch/response.rs`, there's code that implements rudimentary features of asynchronicity (`ResponseLoader`, `ResponseMsg`). How am I to integrate this to the `fetch` methods that require parallel processing? Also, should the `fetch`/`main_fetch` methods return a `Response` or `ResponseLoader`, or something else altogether? Sh

[2015-05-24 07:52] Manishearth commented on #4576
You probably should rewrite the skeleton Fetch code which I wrote ages ago.

We should probably use http://doc.servo.org/net_traits/index.html, specifically by feeding to http://doc.servo.org/net_traits/trait.AsyncResponseListener.html and friends.

https://github.com/servo/servo/pull/5156 is the PR that introduced those, you might want to quickly go through that to figure out how these can be use

[2015-05-24 11:09] snf commented on #6173
I assume that it has to be a parseable MIME type but I'm not sure the specification is explicit enough.

[2015-05-24 14:48] farodin91 commented on #6172
I like to work on it. To start work on Project. Are there any design standards for creating an API.

[2015-05-24 15:03] snf commented on #6172
This is a pretty good documentation on how to do it: http://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface . You may also want to look at the other implementations in dom/

[2015-05-24 16:07] #6111 closed

[2015-05-24 16:24] Manishearth commented on #6173
Firefox also fails these tests.

`)` and all are part of the range defined in the spec. Perhaps the test is wrong?

cc @Ms2ger

[2015-05-24 16:26] AopicieR commented on #3257
@ProgramFOX Are you still planning to work on this? If not I'd love to give this a shot.

[2015-05-24 16:37] ProgramFOX commented on #3257
@AopicieR I don't have plans to continue working on this issue, so feel free to take it.

[2015-05-24 22:55] farodin91 commented on #6172
Thank you!
I think DOMError isn't implement at this moment, right?

[2015-05-25 00:05] snf commented on #6172
Looks like DOMError will be replaced with DOMException: http://www.w3.org/TR/domcore/#interface-domerror .

[2015-05-25 06:52] Ms2ger commented on #6172
Right now, you could simply return `DOMException` where the spec says `DOMError`.

[2015-05-25 11:30] nox commented on #6041
The long lines that infuriate me the most are the patterns for EventTargetTypeId. Maybe we could also generate one value per leaf type? For example, generate a const TextTypeId equal to `EventTargetTypeId::Node(NodeTypeId::CharacterData(CharacterDataTypeId::Text))`.

[2015-05-25 12:09] piranna opened #6176 "run over EGL"
Is it possible to compile Servo to run it on an (embedded) x86 platform directly on top of fullscreen EGL? The idea is to use it as basis to develop a GUI desktop environment for NodeOS.

[2015-05-25 12:45] Manishearth opened #6177 "Review our usage of iterators in the DOM"
Since our DOM uses interior mutability, our iterators are in danger of invalidation (or causing a refcell crash)

A lot of the changes in #6140 use iterators; with generics mixed in (e.g. `callback`). For the safety of the iterators we need to ensure that there is no DOM manipulation going on there. For
example, if there was DOM manipulation going on [here](https://github.com/servo/servo/pull/6140

[2015-05-25 12:45] Manishearth commented on #6177
cc @nox

[2015-05-25 12:51] zmike opened #6178 "links should send status message with url to constellation/compositor on mouseover"
handle_mouse_move_event() in dom/document.rs seems to be the place for it

@Ms2ger @Manishearth

[2015-05-25 13:29] Manishearth commented on #6178
Why not `handle_event` on `htmlanchorelement.rs`, filtered on mouseover and mouseout?

[2015-05-25 15:09] jdm commented on #6178
For one, we don't implement mouseenter and mouseleave :)

[2015-05-25 15:45] Manishearth commented on #6178
....oh

:D

[2015-05-25 17:27] farodin91 commented on #6172
I started working on the FileReader, but currently i have a problem with converting JSRef<Blob> to Blob.

At this time isn't ArrayBuffer implemented or?

[2015-05-25 17:42] jdm commented on #6172
Can you be more specific about the JSRef problem you're having? As for dealing with ArrayBuffer, you likely need to do something like TextDecoder::Decode - http://mxr.mozilla.org/servo/source/components/script/dom/textdecoder.rs#85 and http://mxr.mozilla.org/servo/source/components/script/dom/webidls/TextDecoder.webidl#20

[2015-05-25 18:23] farodin91 commented on #6172
How to convert a JSRef<Blob> object to Blob. You get in this function: https://github.com/farodin91/servo/blob/cdf1370014b9278a17f432c4a7cc9ccac4752805/components/script/dom/filereader.rs#L73 .
This is posible extrem easy, but that are my first lines in Rust.

[2015-05-25 19:17] jdm commented on #6172
Oh, `JSRef<Blob>` automatically dereferences to a `&Blob` pointer. That means that you can use `some_jsref_blob.member_variable` to access a field of `Blob` named `member_variable`, and almost non-static methods for `Blob` should be defined on `JSRef<Blob>`, not `Blob`. Does that make sense?

[2015-05-25 20:16] robertknight commented on #5660
Brief notes on Qt/Gtk+/Chromium behaviors:

* Glutin currently sends a scroll wheel event with delta values of +/-1 for each event on Linux, whereas the Windows/Mac implementations use the delta values from the Cocoa / WinAPI event.
* Qt uses a fixed value of +/- 120 as the delta for each event
* Chromium uses a fixed value of +/- 53 as the delta (see https://code.google.com/p/chromium/codesearch#

[2015-05-25 20:57] brunoabinader commented on #6178
Willing to take this if anyone else has started it already :-)

[2015-05-25 21:06] zmike commented on #6178
I have https://gist.github.com/zmike/65bb83ee0bdad5e90691 so far, but it doesn't compile yet.

[2015-05-25 22:13] farodin91 commented on #6172
I have no idea to transfer to blob to "FileReaderTaskHandler".
[code]
After this to read out the field bytes.

[2015-05-25 22:44] jdm commented on #6172
Ok, so there are two parts here. One is that the FileReaderTaskHandler should not need a reference to the blob; its role is to notify the main thread when it's time to dispatch the DOM events, which don't reference the blob at all (step 5/6/7 of https://w3c.github.io/FileAPI/#dfn-readAsText). Before that, the code should extract the buffer from the blob and move that into a new thread that does th

[2015-05-25 22:53] #3257 closed

[2015-05-25 23:16] zmike opened #6182 "embedding: add interfaces for scrollbar display"
Servo doesn't currently draw any scrollbars, so we should (temporarily?) expose this info to embedders so that the app can provide scrollbars. It may be the case that, after testing, we want to just do this permanently to improve UX matching between browser and environment.

@pcwalton since nobody else seems to know anything about scroll bounds.

[2015-05-25 23:50] zmike opened #6184 "panic when trying to load url which does not begin with http(s)"
[code]
        vvvvv this line causes a panic
[code]

[2015-05-26 01:07] nnethercote commented on #5660
I just hit this. I would have guess it was 100x slower than before but looking at commit `9f3b308` I guess that's a 3.33x overestimate :)

[2015-05-26 03:15] jdm commented on #6184
Isn't that usually the responsibility of the frontend to fix up?

[2015-05-26 08:28] SimonSapin commented on #2853
https://github.com/rust-lang/rust/issues/25748 will block the next rustup (unless we find at least a work around).

[2015-05-26 12:39] zmike commented on #6184
Adding it, possibly. But the engine still shouldn't crash if it can't parse a url.

[2015-05-26 16:01] mrobinson commented on #5660
I think the issue is that there are two kinds of mouse wheel movements. There are "ticks," which is what mice traditionally send. Ticks are essentially the height of a line. Different toolkits and browser interpret these in different ways. Apple mice and some XInput devices may also have a precise value which is an absolute number of pixels to move. The core of the problem seems to be glutin canno

[2015-05-26 16:05] mrobinson commented on #5660
There is more information here: https://github.com/tomaka/glutin/pull/451

[2015-05-26 16:14] mmatyas commented on #6042
Yes, the problem still persists. Before #6120, this snippet fixed fixed the problem:
https://gist.github.com/mmatyas/e1e2f06e97f43c4e4198

...but on current master I get the error even after applying that.

[2015-05-26 16:26] shinglyu commented on #5187
Status update:
The shadow part (to alpha => blur => offset) is almost done.
TODO: flood the shadow with specified color; Use composite filter to combine the original image with the shadow.

[2015-05-26 16:49] brunoabinader commented on #6184
Will get on that, if no one else already started doing so :-)

[2015-05-26 17:28] pcwalton commented on #6182
Can't you apply arbitrary CSS transforms to iframes, including the scrollbars? It's going to be a big pain to add hooks for native UI toolkits to draw into the scene graph.

[2015-05-26 17:29] pcwalton commented on #6182
I had assumed we would have the compositor draw scrollbars directly.

[2015-05-26 17:29] zmike commented on #6182
I'm fine with that, but there are no scrollbars at present so I figured this should be an easy interim solution. And I was thinking the toolkit scrollbars would be outside the browser's render area.

[2015-05-26 17:53] qdot commented on #6042
Same here, restoring the color map no longer works for me either.

[2015-05-26 19:10] Manishearth commented on #6184
We could also be trying to load a file called `mozilla.org`.

[2015-05-26 20:41] csziacobus commented on #332
The X limitations on XWayland will be ironed out for Gnome 3.18. A fix for copy & paste across clients was already pushed out for 3.17.2.

[2015-05-26 21:01] pcwalton commented on #6182
Sadly the root scrollbars are just a special case of overflow:scroll, more or less. We might as well handle all scrollbars the same way, IMO...

[2015-05-26 21:23] zmike commented on #6184
According to resources linked by @jdm, this is impossible since it would be a relative path file open which is not something that web browsers are capable of.

Mainly the fix I'm looking for here is to check the result and then send an error back to the window. I've added the required error functionality in #6175 which is in the reviewing queue.

[2015-05-26 23:23] mbrubeck commented on #6166
For handling `<link rel="icon">` we will need code in [HTMLLinkElement](https://github.com/servo/servo/blob/df2f8d0636922a7e89895fa61fdba30099cec9ea/components/script/dom/htmllinkelement.rs) that checks the `rel` and `href` attributes in `after_set_attr` and `bind_to_tree`.  See the existing `handle_stylesheet_url` for example.  If a favicon URL is found, it could then call a method on the window

[2015-05-27 01:05] jdm commented on #6166
That would usually be the responsibility of the embedding application, I assume.

[2015-05-27 01:06] jdm commented on #6166
Gecko does this in `useDefaultIcon`: http://mxr.mozilla.org/mozilla-central/source/browser/base/content/tabbrowser.xml#946

[2015-05-27 01:15] zmike opened #6190 "compositor renders at wrong size in some cases"
In my testing, the scenario is something like this:

* Create browser+window at size 100x100
* Immediately send WindowEvent::Resize(10x10)
* Send WindowEvent::Resize(100x100) soon after

Servo will CLAIM to have updated itself to render at 100x100, but really it will render the 10x10. I don't have a great test case of this since it probably requires using the embedding API.

@pcwalton @glennw

[2015-05-27 03:45] nnethercote opened #6191 "Should use FT_Done_Library() instead of FT_Done_FreeType()"
There are two pairs of functions for creating/destroying FreeType libraries:
- `FT_Init_FreeType()` and `FT_Done_FreeType()`, and
- `FT_New_Library()` and `FT_Done_Library()`.

You aren't supposed to mix them, e.g. the [docs for `FT_New_Library()`](http://www.freetype.org/freetype2/docs/reference/ft2-module_management.html#FT_New_Library) say "Don't use FT_Done_FreeType but FT_Done_Library to dest

[2015-05-27 11:00] Jinwoo-Song commented on #6191
I made a PR for adding FT_Done_Library. (Jinwoo-Song/rust-freetype@ff569b8)
I'll upload a follow up patch after this PR is landed.

[2015-05-27 12:08] hyowon opened #6194 "Fix the failed tests after #6157."
The below tests to check the invalid parameters in CreatePattern are failed after #6157.

2dcontext/fill-and-stroke-styles/2d.pattern.image.null.html
2dcontext/fill-and-stroke-styles/2d.pattern.image.string.html
2dcontext/fill-and-stroke-styles/2d.pattern.image.undefined.html

[2015-05-27 13:49] akosel commented on #6058
Sorry about the delay (vacation and moving); I was about to submit my pull request, but it looks like 6189 will fix this, so I am happy to defer to that.