[2016-07-08 09:27] KiChjang commented on #12331
@Scorpil I'm sorry but I don't think this issue is good for a beginner. I'll look for another easy issue for you instead.

[2016-07-08 09:27] DarinM223 commented on #12333
Can I work on this? Thanks!

[2016-07-08 09:29] KiChjang commented on #12333
@DarinM223 I'd rather leave this for a newcomer. Do you mind looking for harder issues?

[2016-07-08 09:30] cynicaldevil commented on #12334
I'll take it!

[2016-07-08 09:32] KiChjang commented on #12334
Go for it!

[2016-07-08 09:37] DarinM223 commented on #12333
Ok I won't pick this up then.

[2016-07-08 10:15] Scorpil commented on #12331
@KiChjang well, ok, if you say so. Just please not something completely basic.

[2016-07-08 10:18] #12335 closed

[2016-07-08 10:30] KiChjang opened #12341 "Investigate test failures in formdata.htm"
The XHR `responseText` is empty on all responses when running the WPT test. We should investigate what's wrong here. Possible areas of failure include: 1) the Python script is not returning values properly, 2) XHR is not serializing `FormData` properly.

cc @Scorpil

Code: `components/script/dom/formdata.rs`, `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#the-send()-m

[2016-07-08 10:34] Scorpil commented on #12341
@KiChjang tanks, will investigate.

[2016-07-08 10:35] KiChjang commented on #12341
Feel free to contact us at #servo on `irc.mozilla.org`, or leave a comment here if you have any questions.

[2016-07-08 10:58] KiChjang commented on #11763
@kevgs Is this still being worked on?

[2016-07-08 10:59] KiChjang commented on #11315
@Coder206 How's this progressing so far?

[2016-07-08 10:59] KiChjang commented on #9673
@g-k How's this progressing so far?

[2016-07-08 11:27] Coder206 commented on #11315
@KiChjang It's going well. I have to just work out a few code issues from the #11969 PR so I hope to complete it all this morning. I am not sure however how would I test this code. Do I just run the build and see if the logo shows up?

[2016-07-08 11:49] Manishearth opened #12343 "Add pref-gated methods for testing activation"
From script, currently you can only trigger synthetic activations with `.click()`. However, there is a lot of intricacy around activation that is not observable (and thus not testable from JS), which we really should be testing. PRs like #11781 generally add an HTML test, but I'd prefer to have servo-specific WPT tests here. Eventually, webdriver would be the solution, but so far we don't have tha

[2016-07-08 12:07] #12332 closed

[2016-07-08 12:07] izgzhen commented on #12343
I bumped into a tidy problem saying that I should add spec link comment to our special methods. Should I modify the linter, or there is another workaround?

[2016-07-08 12:09] Manishearth commented on #12343
Just say "internal testing method" and have the tidy linter skip such strings

[2016-07-08 12:19] izgzhen commented on #12343
@Manishearth https://github.com/servo/servo/blob/0766770aef37bac5df0cb12915c398770e6114cb/python/tidy/servo_tidy/tidy.py#L559 I found this can work

[2016-07-08 12:20] SimonSapin commented on #10408
Gecko has a `layout/style/test/property_database.js` file that contains a lot of data about each CSS supported property, in particular some strings that should and should not parse as valid values for a given property. Some of the Mochitest-based tests in `layout/style/test/*.html` are based on that file.

@bholley and I discussed importing some of these tests into Servo. We’d make it so that we c

[2016-07-08 12:50] #12316 closed

[2016-07-08 13:01] #8719 closed

[2016-07-08 13:16] samuknet commented on #6906
Hi,

In making some experiments for Servo, I have found that `document.createElement` can take roughly up to 3-4x longer in Servo compared to FF/Chrome.  This is significantly slowing down quite a few of the experiments I am creating to showcase Servo.    Could this be the same issue as the one documented here? If needed, I can file a separate issue for this.

Thanks.

[2016-07-08 13:36] Shihira commented on #12015
I have the same issue. I tried to download those so files [here](http://rpm.pbone.net/index.php3/stat/4/idpl/29237132/dir/fedora_22/com/openssl1-1.0.0-2.fc22.x86_64.rpm.html), and extract theme into the servo directory. Then launch Servo with:

[code]

Anyway finally it launched, but SSL seems not working though, for some version faults. Hardly load a page.

[2016-07-08 13:38] ConnorGBrewster opened #12345 "Implement Runnable trait name method for ImageResponseHandlerRunnable"
Implement the `Runnable` trait `name` method for `ImageResponseHandlerRunnable`. The method should return the string: `ImageResponseHandlerRunnable`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlimageelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 13:38] highfive commented on #12345
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 13:40] ConnorGBrewster opened #12346 "Implement Runnable trait name method for FireSimpleEventTask"
Implement the `Runnable` trait `name` method for `FireSimpleEventTask`. The method should return the string: `FireSimpleEventTask`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlmediaelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 13:40] highfive commented on #12346
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 13:41] ConnorGBrewster opened #12348 "Implement Runnable trait name method for ResourceSelectionTask"
Implement the `Runnable` trait `name` method for `ResourceSelectionTask`. The method should return the string: `ResourceSelectionTask`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlmediaelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 13:41] highfive commented on #12348
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 13:42] ConnorGBrewster opened #12349 "Implement Runnable trait name method for DedicatedMediaSourceFailureTask"
Implement the `Runnable` trait `name` method for `DedicatedMediaSourceFailureTask`. The method should return the string: `DedicatedMediaSourceFailureTask`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlmediaelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 13:42] highfive commented on #12349
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 13:44] ConnorGBrewster opened #12350 "Implement Runnable trait name method for PauseIfNotInDocumentTask"
Implement the `Runnable` trait `name` method for `PauseIfNotInDocumentTask`. The method should return the string: `PauseIfNotInDocumentTask`.

See `StorageEventRunnable` in `components/script/dom/storage.rs` as an example.

---
Code: `components/script/dom/htmlmediaelement.rs`

No test changes are needed, it just needs to compile successfully.

[2016-07-08 13:44] highfive commented on #12350
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 14:02] doanga2007 opened #12351 "Servo in macOS Sierra 10.12 cannot scrolling in webpage after open website 5 seconds."
Servo in macOS Sierra 10.12 cannot scrolling in webpage after open website 5 seconds.

[2016-07-08 14:17] TheKK commented on #11862
Hi, can I take this one?

[2016-07-08 14:20] metajack commented on #12351
Does this happen on every website you try? Are there any errors printed? Is it possible you could record a short video of this behavior?

[2016-07-08 14:21] bzbarsky commented on #6906
Almost certainly a separate issue.  Needs a testcase and profiling.

[2016-07-08 14:22] KiChjang opened #12352 "Implement HTMLDialogElement#close"
Spec: https://html.spec.whatwg.org/multipage/forms.html#htmldialogelement
Code: `components/script/dom/htmldialogelement.rs`, `components/script/dom/webidls/HTMLDialogElement.webidl`
Test: `tests/wpt/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-close.html`

[2016-07-08 14:22] highfive commented on #12352
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-08 14:24] KiChjang commented on #12352
This is assigned to @tallowen.

[2016-07-08 14:34] KiChjang commented on #11862
Sure thing!

[2016-07-08 14:40] Ms2ger commented on #10408
Unfortunately `property_database.js` is very much code, not just data. We'd need to rewrite it quite significantly to fix that. I do think it would be valuable to try to do that, though, and update Gecko's tests to use the plain data file.

[2016-07-08 14:45] jdm commented on #11862
@TheKK We'll need to store an optional referrer policy field in the element types that support it, then allow use that value when creating PendingAsyncLoad values instead of the one from the document.

[2016-07-08 14:47] jdm commented on #12337
What if you run `./mach build -j1`?

[2016-07-08 14:49] samuknet opened #12354 "document.createElement very slow."
`document.createElement` appears to be much slower than in FF/Chrome.

The core issue is shown with this code:

[code]
FF/Chrome avg. time around `0.317465..`
Servo avg. time around `1.3`

Full testcase [here](https://github.com/samuknet/test_cases/blob/master/documentCreateElementPerformance/index.html).

TODO: Add profiling info (some help with this would be appreciated, as I am new to profiling

[2016-07-08 14:51] Manishearth commented on #12354
I can repro these numbers

[2016-07-08 14:51] elennaro commented on #12015
Same issue.
Is there a workaround?

[2016-07-08 15:06] ConnorGBrewster commented on #12351
I am on Sierra as well, I cannot seem to reproduce the issue. @doanga2007 are you using the trackpad for scrolling or a mouse wheel?

[2016-07-08 15:29] metajack commented on #12354
Since we create a reflector eagerly and Firefox does it lazily, I would like to see numbers where you modify the benchmark such that the reflector would be created in Firefox. Then at least we will know whether this is the cost of eager creation or if there is another problem hiding here.

@bzbarsky What is the simplest way to ensure a reflector is created? Just access some property of the element

[2016-07-08 15:34] bzbarsky commented on #12354
Not relevant here.  `createElement` has to return the reflector, obviously, so it has to create it in Firefox.  This is an honest apples to apples comparison.

Note that it would be interesting to test the no-reflector-creation case too (using cloneNode(true) on a tree of nontrivial size).  I seem to recall @wycats saying that skipping reflector creation in Firefox helps a lot there, and we were w

[2016-07-08 15:34] metajack commented on #12162
Perhaps we can preallocate a small block of memory on startup that the crash handler can use? I assume it doesn't allocate all that much.

[2016-07-08 15:44] SimonSapin commented on #10408
testharness.js tests could use the JS file as code-more-than-data, right?

[2016-07-08 15:55] jdm commented on #12354
So far profiling has revealed a stray memmove in the div element constructor, but it's been difficult to pin down what's causing it.

[2016-07-08 16:43] metajack commented on #12146
I think this is a fine idea, but we should probably have some simple client to test that it works first.

[2016-07-08 16:45] zmike commented on #12146
Define "simple"

[2016-07-08 16:46] metajack commented on #12132
wat? @wycats why is the text dependent on document.write? :)

[2016-07-08 16:47] metajack commented on #12146
A C program that links to libembedding and calls the simplest function provided. This would ensure we are at least linkable. Obviously more testing is better, but we have to start somewhere.

[2016-07-08 16:49] zmike commented on #12146
See #4024

[2016-07-08 16:58] buddja commented on #12350
Hey guys could i take this one as my first contribute?

[2016-07-08 17:01] ConnorGBrewster commented on #12350
@buddja please do!

[2016-07-08 17:03] jdm commented on #12354
Inlining the box expression in HTMLDivElement::new into the Node::reflect_node call made the memmove go away, but the timing did not noticeably improve. Current profile shows 25% of time spent under HTMLDivElement::new (14% under HTMLElement::new, 10% under Element::new_inherited, 3.5% under EventTarget::new_inherited), but no smoking guns :(

[2016-07-08 17:23] thiagopnts commented on #12253
It's an svg rect created using `document.createElementNS("http://www.w3.org/2000/svg", 'rect')` ~ https://github.com/greensock/GreenSock-JS/blob/master/src/uncompressed/plugins/CSSPlugin.js#L1199
this leads to an element without a CSSStyleDeclaration

[2016-07-08 17:40] Ms2ger commented on #10408
Yeah, but having a unit test would be great too

[2016-07-08 17:58] jdm commented on #12253
Ah, I bet we end up with an HTMLUnknownElement which doesn't inherit from HTMLElement and therefore has no style property. Not sure if there's anything we can realistically do here until we support SVG in some fashion.

[2016-07-08 18:00] jdm commented on #12253
When I run Servo with `-u Android` (to force a user agent string that matches the test to avoid using SVG), I get the page content to appear, but since we don't support `<select>` yet you can't do anything with it.

[2016-07-08 18:05] emilio commented on #12162
Yeah, the problem is not how much memory it can allocate, is that allocating there is completely implementation-defined behavior. I don't know how much of a problem that is in practice though.

[2016-07-08 18:10] bholley commented on #10408
I think it would be valuable to move as much testing we can into style unit tests. This will help long-term with sharing the style system, because it will keep the testing of this functionality close to the implementation, rather than further away in the different consumers.

If it would really be easier to just have all of this information in a rust file, it might be fine to just fork property_da

[2016-07-08 18:58] chawlanikhil24 opened #12356 "Build Failing"
I've been spending 2 days on building servo on ubuntu 14.04 . At first there were system glitches, later i shifted on to docker ubuntu image, and i loaded with complete dependencies and still things didn't work out. I am attaching the error log.

http://pastebin.com/iNm7KPip

[2016-07-08 19:21] jdm commented on #12354
Following @bzbarsky's advice, I ran the following test in both servo and gecko (with some modifications to the TextEncoder interface):
[code]
Results:
[code]

[2016-07-08 19:32] jdm commented on #12162
Right; the idea is to allocate memory outside of the signal handler at startup, and make use of it when the handler is invoked.

[2016-07-08 19:55] jdm opened #12357 "document.firstChild is way slower in Servo than Gecko"
[code]
Results:
[code]

[2016-07-08 19:58] emilio commented on #12162
Whoops, sorry, not enough coffee this morning. Yeah, that would work, though we should see how to replace things like `format!` (probably easy) and see what `Backtrace::new` does and ensure it's well defined (probably less easy).

[2016-07-08 20:15] metajack commented on #12357
Now this I would not expect to be slower at all, much less 20x.

[2016-07-08 20:18] jdm commented on #12357
This was split out from the investigations in #12354 since the document object is a JS proxy and takes significantly different code paths.

[2016-07-08 20:43] vtomole commented on #12356
I'm getting the same exact error and I’m also on Ubuntu 14.04. I also tried building on my my Ubuntu i386 16.04 server and It threw the same error. I am tying to see how I can install this 'dbus' Python module.

[2016-07-08 20:57] jdm commented on #12356
The dbus module is not a necessary part of a build so you can ignore it.

[2016-07-08 21:06] jdm commented on #10116
Fixed by #11803.

[2016-07-08 21:06] #10116 closed

[2016-07-08 21:06] jdm commented on #12354
With https://gist.github.com/jdm/4755af850d2d718aac3fc95da456556f applied to rust-mozjs I get void method timings of 18-20ns. The profile shows 30% of execution spent code related to catching panics, courtesy of my changes in #11803. I guess we need to talk to the Rust team about what can be done to reduce that.

[2016-07-08 21:16] jdm opened #12358 "Avoid calling JS_WrapValue when not necessary"
[code]

I count a couple uses in conversions.rs in rust-mozjs and one use in conversions.rs in Servo.

[2016-07-08 21:19] jdm commented on #12358
http://searchfox.org/mozilla-central/rev/f43c9e0ffa92e72dbdbcbf57eecf04a43d46da63/dom/bindings/BindingUtils.h#781

[2016-07-08 21:25] jdm commented on #12354
I filed https://github.com/rust-lang/rust/issues/34727 about catching panics hurting our performance.

[2016-07-08 21:41] SimonSapin opened #12359 "Bootstrap should check for std as well as rustc"
In `python/servo/bootstrap_commands.py`, the `bootstrap_rustc` method downloads one rustc, then std compiled for a number of targets (by default just the host). When `rustc/bin/rustc` exists, it simply returns because there is supposedly nothing to do.

But if, in a previous run, the rustc download + extraction succeeded but then the std download failed, it can still return with "nothing to do", a

[2016-07-08 21:41] highfive commented on #12359
cc @wafflespeanut

[2016-07-08 21:41] highfive commented on #12359
cc @wafflespeanut

[2016-07-08 22:19] jdm commented on #12354
I tried removing the catch_unwind stuff and measuring again, and I get timings around 10ns.

[2016-07-08 22:21] jdm commented on #12354
Curiously enough, I tried measuring the firstChild getter with the inlining changes and catch_unwind removed - the first two runs averaged 4ns and 2ns, and every single run after that averaged 42-48ns. I have no idea what to make of that.

[2016-07-08 22:24] wycats commented on #12354
An easy way to test this is to compare constructing a tree using `cloneNode` with an equivalent tree constructed using the DOM APIs.

[2016-07-08 22:32] jdm commented on #12354
No surprise given #12358, the profile for the firstChild getter is dominated by JSCompartment::wrap and related SM wrapping functions.

[2016-07-08 23:19] thiagopnts commented on #12253
oh I see, from my tests the element creation was being done here: https://github.com/servo/servo/blob/master/components/script/dom/create.rs#L90-L92

[2016-07-09 00:15] #11815 closed

[2016-07-09 00:15] #12359 closed

[2016-07-09 00:27] SimonSapin commented on #12359
I did not read the code carefully enough: `bootstrap_rustc` does not return early. It’s `ensure_bootstrap` that did not check `std` as it should have. 38b6b24a5da8670b21d18a4074346f5537e3185a fixed this.

[2016-07-09 03:01] doanga2007 commented on #12351
@metajack VDO to behavior of problem : https://youtu.be/7isfAN6x5DQ

@ConnorGBrewster I using mouse wheel for scrolling.

[2016-07-09 03:37] g-k commented on #9673
@KiChjang No progress!  I got stuck then distracted and forgot about it.

I think I want the iterator to be something like [this](https://is.gd/vXUyDu) but with ranges over glyphs?  Can I use [is_alphanumeric](https://doc.rust-lang.org/1.0.0/unicode/primitive.char.html#method.is_alphanumeric) on glyphs?

I need to read the code and spec for `NaturalWordSliceIterator` again and look at `range/lib.r

[2016-07-09 04:54] TheKK commented on #11862
Well, I got some some rough idea and questions after some research. Let me elaborate them below:

- I found that `Document::load_sync` and `Documen::prepare_load_async` pass itself into these two method. If I get it right, I should add at least `Option<ReferrerPolicy>` into their arguments, so we don't take referrer policy from `Document` directly. But this might affect others related issue. Is it

[2016-07-09 05:48] chawlanikhil24 commented on #12356
@vtomole :
1) apt-get install libdbus-glib-1-dev
2) pip install dbus-python

@jdm : Are we the only one to face such errors? As far as i've studied the log, there is a glitch in gcc compiling.

[2016-07-09 07:17] KiChjang commented on #12351
This looks to me that the scrolling behaviour breaks after scrolling off the edge and bouncing back.

[2016-07-09 07:50] pierre-alain-b commented on #12349
I will take it!

[2016-07-09 07:53] pierre-alain-b commented on #12348
I will take it.

[2016-07-09 08:08] doanga2007 commented on #12351
@KiChjang Yes , I found problem same as KlChjang comment.

[2016-07-09 09:57] #12322 closed

[2016-07-09 13:21] suhr opened #12362 "2ch.hk is rendered incorrecly"
URL: https://2ch.hk/fl/

![2ch hk](https://cloud.githubusercontent.com/assets/65870/16708115/5d0ff252-45f8-11e6-9d48-5b1c1b05d8bd.png)

Some elements can be scrolled independently, but they shouldn't.

Also scrolling uses too much CPU. Flamegraph:

![](http://imgh.us/flame_3.svg)

Servo: nightly build
CLI args: `-w`

[2016-07-09 15:16] frewsxcv opened #12363 "Window gets moved when attempting to highlight text"
This does _not_ apply to browserhtml. Just the standard development `./mach run -d` chrome. This might only affect Mac?

![untitled](https://cloud.githubusercontent.com/assets/416575/16708570/89cced18-45c6-11e6-84a0-d2350a6286c1.gif)

[2016-07-09 15:16] frewsxcv commented on #12363
Not necessarily highlighting text. Just any sort of click+dragging.

[2016-07-09 15:32] jdm commented on #11862
Modifying the arguments for load_async and prepare_load_sync should be fine. As for when the policy should apply, the spec implies that the policy set via a content attribute should override the one present in the document. I've filed https://github.com/whatwg/html/issues/1531 about making this explicit.

[2016-07-09 15:33] jdm commented on #12356
I have not seen this error reported before.

[2016-07-09 15:40] dolftax commented on #12273
I reproduced the same. FYI, https://dpaste.de/Lh1z/raw

[2016-07-09 16:17] #12349 closed

[2016-07-09 17:03] notriddle commented on #12354
So half the problem is insufficient inlining (a solved problem), and the other half is panic catching?

[2016-07-09 20:19] splav opened #12367 "Margins of inline pseudo elements(:before and :after) are ignored."
Minimal case:
[code]
Servo:
![servo_inline_pseudo_margins](https://cloud.githubusercontent.com/assets/182050/16710061/5dcf6246-4633-11e6-917e-4a3fcc358476.png)
Firefox:
![firefox_inline_pseudo_margins](https://cloud.githubusercontent.com/assets/182050/16710062/5ddef1ca-4633-11e6-9846-87fb4bcaea43.png)

If there are no objections, I would like to try to investigate it myself.
Any thoughts/ideas are

[2016-07-09 20:27] bzbarsky commented on #12354
And the third half is the slow compartment wrapping.  There might be other things too; those were just the biggest offenders so far...

[2016-07-09 22:45] notriddle commented on #12367
Random guess: [fragment merging](https://github.com/servo/servo/blob/master/components/layout/fragment.rs#L2047).

[2016-07-09 23:34] sjmelia commented on #12343
I would absolutely love to work on this!

The end goal w.r.t. PR #11781 would be a test that looks something like this:

`element.enter_activation_state(); // only valid when dom.testing.element.activation.enabled:true
assert_true(document.querySelector(":active") == element, "Element was not given pseudoselector");
element.exit_activation_state();`

My question would be - why not instead pref-gat

[2016-07-10 01:19] larsbergstrom commented on #12303
I'm noticing that there are 6 layout worker threads here - so this is an 8 core machine? We may just have a race condition here that hasn't been exhibited because we really don't almost ever run on machines with more than 4 cores.

Can you try it passing a different `-y` value and see if things work better?

Obv. we need to fix this potential race, as it's Bad News :-)

[2016-07-10 02:20] MovingtoMars commented on #12346
I'll take this please.

[2016-07-10 03:28] vtomole commented on #12356
I'm getting a new error:http://pastebin.com/Ha8qnavN
I also tried this https://github.com/servo/mozjs/issues/81, and I got the same error

[2016-07-10 04:51] kilobtye opened #12369 "white-space: pre-wrap and pre-line cause infinite loop"
Test case:
[code]

fatal runtime error: out of memory
Servo exited with return value -4

[2016-07-10 05:23] Manishearth commented on #12343
We could do those, too. @jdm thoughts?

I would prefer having specific activation ones too, because there is some logic lodged between activation and mouse clicks that you may want to bypass.

[2016-07-10 05:47] emilio commented on #12369
Hm... I think I've seen something similar (https://github.com/servo/servo/issues/6997). Probably not completely related, I'm going to give it a shot.

Thanks for reporting it! :)

[2016-07-10 07:18] KiChjang commented on #12348
Fixed by #12360.

[2016-07-10 07:18] #12348 closed

[2016-07-10 08:22] #12346 closed

[2016-07-10 09:24] bjorn3 opened #12372 "Servo nightly glitch at `output.jsbin.com/surane`."
I have downloaded servo nightly for macOS.
When I navigated to [output.jsbin.com/surane](http://output.jsbin.com/surane) I got strange partial rendering glitches.

[servo_error.ogv.zip](https://github.com/servo/servo/files/355967/servo_error.ogv.zip)

[2016-07-10 13:54] #12334 closed

[2016-07-10 14:10] larsbergstrom commented on #12304
Yes, I suspect that since all of the layout threads are panicing, we're unable to properly shut down and emit an output file.

[2016-07-10 15:47] craftytrickster commented on #10933
@DDEFISHER If you haven't made substantial progress on this one yet, I would like to pick it up if you do not mind.

[2016-07-10 17:42] gpoesia commented on #12345
I'll take this.

[2016-07-10 17:59] notriddle commented on #12372
#11970

[2016-07-10 17:59] #12372 closed

[2016-07-10 21:05] #12345 closed

[2016-07-10 23:27] sappharx commented on #12333
I can tackle this one

[2016-07-10 23:28] StefanYohansson commented on #12363
@frewsxcv I can't reproduce here. I'll post tomorrow the test results on Mac and Windows.

OS: Apricity (4.6.3-1-ARCH)
UI: gnome 3
command: `./mach run -d https://news.ycombinator.com/`

[2016-07-10 23:29] rzambre commented on #12303
Yes, the Nexus 6P is a heterogeneous 8-core machine. Hmm, it seem like the thread-panicks still exist when I specify 2 and 4 threads for layout :/

`./mach run --android -y 2 https://www.twitter.com`: https://pastebin.mozilla.org/8882910
`./mach run --android -y 4 https://www.twitter.com`: https://pastebin.mozilla.org/8882909

[2016-07-10 23:58] gpoesia commented on #11527
Just giving some update on this. I found out that in the end of `TableFlow::bubble_inline_sizes`, all inline and `block_{start,end}` borders have their style set to `none`. If I manually set them to solid (all `block_start`, `block_end`, and the first inline borders, which correspond to the left and right extremities,) it works, so I assume the bug is indeed during the flow tree construction.

I t

[2016-07-11 00:25] #11808 closed

[2016-07-11 00:42] StefanYohansson commented on #12325
This command works well on my Linux x86_64. (commit: c6827a9e66585c6d8bd9b02b77cab66b860d0af2)

`./mach build -r`

![screenshot from 2016-07-10 21-41-09](https://cloud.githubusercontent.com/assets/1783252/16717168/13cac096-46e7-11e6-9abb-5e81e616a792.png)

[2016-07-11 02:10] shinglyu commented on #11302
@mbrubeck Do you think we should use a negative or positive flag? I don't quite understand the reason for a negative flag in Gecko. And does it imply that we only need to explictly set the "Not ligature start" case if we use a positive flag?

[2016-07-11 02:41] bdaehlie commented on #7930
I use macports and I solved the openssl header problem on OS X 10.11 by adding this to my .profile:

export CPATH="$CPATH:/opt/local/include"

macports installs the necessary openssl header files at that location.

[2016-07-11 03:28] upsuper commented on #11997
To fix this, I think we would need to build a font backend based on GDI and DirectWrite, rather than FreeType.

[2016-07-11 03:47] aneeshusa commented on #12283
This is not yet complete (one open PR and still need to check for sorting in tidy).

[2016-07-11 04:05] #11062 closed

[2016-07-11 04:43] jdm commented on #12363
I can reproduce on OS X.

[2016-07-11 04:47] jdm commented on #12325
Yes, I believe this was an issue with trying to link a build of servo against some libs that were compiled with an earlier gcc toolchain and some that were compiled against a later one. Closing since I don't believe there's anything we can do here.

[2016-07-11 04:47] #12325 closed

[2016-07-11 05:18] izgzhen opened #12379 "Coding standard of function/method argument"
See this https://doc.servo.org/script/dom/blob/struct.Blob.html for example, the `typeString` appears a lot and it is not obvious to me whether or not writing it as `type_string` would be proper.

As I understand, like DOM method bindings which doesn't follow common Rust naming convention, the arguments naming might share similar issue. But [coding standard](https://github.com/servo/servo/wiki/Cod

[2016-07-11 05:42] #12333 closed

[2016-07-11 06:44] ProMcTagonist opened #12380 "assertion failed: self.get_pending_parsing_blocking_script().is_none() || script.is_none()"
assertion failed: self.get_pending_parsing_blocking_script().is_none() || script.is_none()
### URL:
https://www.youtube.com/
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-07-11 08:34] TheKK commented on #11862
I got some troubles with wpt. I modified `web-platform-tests/referrer-policy/spec.src.json` and did generate test for `<a>` with delivery method `rel-noreferrer`. But after I run these test I only got

[code]

I'm sure the directory is not empty. Any hint?

[2016-07-11 09:20] #12369 closed

[2016-07-11 09:27] Ms2ger commented on #12354
FTR, https://github.com/servo/rust-mozjs/pull/276 landed

[2016-07-11 10:02] Ms2ger commented on #12379
Looks like there's about 400 violators right now:
[code]

We should ignore the static methods that are called from generated code (everything that takes a `GlobalRef` argument, but the rest should be fixed.

[2016-07-11 10:02] highfive commented on #12379
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-11 10:04] izgzhen commented on #12379
spectacular

[2016-07-11 10:32] zeusintuivo commented on #12356
I was able to build today after I pulled.

[2016-07-11 12:36] chawlanikhil24 commented on #12356
@zeusintuivo Did you exactly follow the readme ? and which platform you are using?

[2016-07-11 12:39] chawlanikhil24 commented on #12356
@vtomole
@jdm  I encountered the same error when i tried on ubuntu 14.04 environment. I thought i might be some system glitch , then shifted to docker ubuntu 14.04, only error changed, nothing worked out.

[2016-07-11 12:51] zeusintuivo commented on #12356
I followed all the instructions from the README.
Mac 64 bit,
El Capitan 10.11.5.
Python 2.7.11 .... VERSION NOTE:  I noticed 2.7.10 Does not work.
Perl 5.24.0
Node 6.2.2
Ruby 2.4.0dev
Rustc 1.9.0
Bash GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin15)
OpenSSL 1.0.2h  3 May 2016

[2016-07-11 13:30] Andy-Bell commented on #12379
I would be willing to help on this

[2016-07-11 13:32] izgzhen commented on #12379
@Andy-Bell Great, thanks, please ask here if you got any problem

[2016-07-11 14:41] jdm commented on #12380
Duplicate of #11733. Thanks for reporting it!

[2016-07-11 14:41] #12380 closed

[2016-07-11 14:43] GuillaumeGomez opened #12387 "Rewrite AdjacentPosition::parse into TryFrom implementation"
I'm working on it.

cc @nox

[2016-07-11 14:46] jdm commented on #11862
@TheKK Why did you need to modify spec.src.json? As for the question about mozbrowseropenwindow, we can make any changes to it that we want.

[2016-07-11 14:49] jdm commented on #11862
Ah, looking at spec.src.json I see now. You probably need to run `./mach manifest-update` to ensure that `MANIFEST.json` contains the new tests.

[2016-07-11 14:58] jdm commented on #12343
We are almost at the point where we can write tests using webdriver that a) don't require adding gated, privileged APIs, b) can be run in multiple browsers, so I don't think that we should spend too much effort on these things right now.

[2016-07-11 14:59] jdm commented on #12343
Then again, if there are things we would like to test right now we should go ahead and do what's necessary for them. The webdriver stuff is gated on #12223 and then figuring out why the existing webdriver tests fail before starting to write more.

[2016-07-11 15:08] Manishearth commented on #12343
Oh, we are?

I was under the impression that webdriver was still quite far away.

Anyway, this might be nice to have independent of webdriver's existence, because while webdriver will let you simulate clicks, you can't directly deal with activation -- like I said, I'd like to isolate the activation logic too.

I was also thinking about having a DOM mocking framework that lets us unit test the DOM,

[2016-07-11 15:12] jdm commented on #12356
I don't think that reporting that a mac build succeeded has any relevant here, since the people having difficulties are using ubuntu in docker.

[2016-07-11 15:27] vtomole commented on #12356
@zeusintuivo   Used git pull and it's still not building on windows or ubuntu 14.04 :(

[2016-07-11 15:33] zeusintuivo commented on #12356
@vtomole Are you using Python 2.7.11 ?

[2016-07-11 15:38] vtomole commented on #12356
@zeusintuivo  yes

[2016-07-11 15:39] TheKK commented on #11862
@jdm, thanks. those tests works now but all failed. Seems like `document.write` and `document.referrer` have not ready yet. Anyway, I'll figure out if I could validate my changes in current condition.

About the mozbrowseropenwindow, what do you mean "change"? Aren't those properties unalterable?

[2016-07-11 15:48] zeusintuivo commented on #12356
mmm. ok I will try my own ubuntu install and look into in 24 hours, more

[2016-07-11 16:19] jdm commented on #11862
mozbrowseropenwindow is a Mozilla-specific event, and it's only used by browser.html, so we can make whatever changes we want to it in consultation with them.

As for the failing tests, document.write is indeed a missing feature that won't be implemented soon. document.referrer should be straightforward to implement; I'll file an issue for that.

[2016-07-11 16:25] jdm opened #12389 "Implement Document.referrer"
This is required for #10311. We should store an `Option<String>` value in `Document` that is obtained from the `Referer` HTTP header (if present) when the document is created in `ScriptThread::load`.

Spec: https://html.spec.whatwg.org/multipage/dom.html#dom-document-referrer
Code: `components/script/dom/document.rs`, `components/script/script_thread.rs`
Tests: `./mach test-wpt tests/wpt/web-platf

[2016-07-11 16:25] highfive commented on #12389
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-11 16:31] #11611 closed

[2016-07-11 16:35] canaltinova commented on #12389
Hi, I would like to work on this.

[2016-07-11 16:48] canaltinova commented on #12389
@TheKK I didn't see the other issue before attempting to claim it. Sorry about that. If you want to work on it's all yours :)

[2016-07-11 16:50] metajack commented on #12325
@StefanYohansson Your prompt is pretty awesome. What is that?

[2016-07-11 16:53] metajack commented on #11997
Besides the font backend, we'll also need @vvuk's work on the build system changes since we'll want to shed the whole dependency on msys2.

[2016-07-11 17:11] TheKK commented on #12389
@canaltinova It's fine to take it :)

[2016-07-11 17:21] TheKK commented on #11862
The activation behavior for `<area>` has not yet constructed. Is that okay to file and work on it myself?

[2016-07-11 17:27] StefanYohansson commented on #12325
@metajack I don't know if it's right to comment in a closed issue but here I go:
It's powerline in a zsh env. (apricity OS default)

https://github.com/carlcarl/powerline-zsh
https://blog.codefront.net/2013/10/27/installing-powerline-on-os-x-homebrew/

[2016-07-11 18:14] jdm commented on #11862
I would prioritize that below the unfinished pieces of referrer-policy, personally.

[2016-07-11 18:15] jdm commented on #12389
Great!

[2016-07-11 18:19] Asclusive opened #12390 "Remove unnecessary `unwrap` calls from ImageCacheThread"
called `Result::unwrap()` on an `Err` value: IoError(Error { repr: Custom(Custom { kind: Other, error: StringError("Unknown Mach error: 46") }) })
### URL:
https://duckduckgo.com/html/
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-07-11 18:25] jdm commented on #12390
We should remove the use of `unwrap` on all the `send` and `receive` uses in the methods for `ImageCacheThread`.

Code: `components/net_traits/image_cache_thread.rs`

No need for tests; if it builds, that's good enough. For methods that don't return anything, the result values can be ignored with `let _ =`, and for methods that do return Results, we should return an error value.

[2016-07-11 18:25] highfive commented on #12390
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-11 18:30] TheKK commented on #11862
`<area>` is included in rel-noreferrer deliver method, so if its `follow_hyperlink()` is empty then we have nothing to do with the delivery implementation. Otherwise we could separate `<area>`'s implementation into the other issue and it won't block this one anymore.

What do you think?

[2016-07-11 18:34] jdm commented on #11862
Yeah, I would deal with `<area>`'s implementation elsewhere.

[2016-07-11 18:44] TheKK commented on #11862
Cool! Here's my progress so far: TheKK/servo@889d2c5a19c41af55dd67804ec2a2b6790d7c864. `<a>` and `<link>` should works fine. I'll deal with mozbrowseropenwindow and corresponding test tomorrow.

Only one question here, is that okay to call methods in `HTMLAnchorElementMethods` or `DOMTokenListMethods`?

[2016-07-11 19:08] jdm commented on #11862
Yep, using those methods is fine.

[2016-07-11 20:22] emilio commented on #12120
A potential implementation of this lives in #12392

[2016-07-11 20:38] changm opened #12394 "Failing to build Servo on OS X El Capitan due to lack of openssl"
When following the instructions on README, I'm getting compilation errors complaining about openssl:

src/c_helpers.c:1:10: fatal error: 'openssl/ssl.h' file not found
#include <openssl/ssl.h>

I tried the brew link --force openssl, but that didn't work. I found this other thread referring to other solutions: https://github.com/sfackler/rust-openssl/issues/255.

Using https://github.com/sfackler/r

[2016-07-11 20:44] ConnorGBrewster commented on #12394
After `brew link --force openssl` did you try `./mach clean` before rebuilding?

[2016-07-11 21:04] changm commented on #12394
That worked, thanks! I kept trying to do ./mach clobber (too used to gecko heh). Maybe we can add this bit to the README? Thanks!

[2016-07-11 21:04] #12394 closed

[2016-07-11 22:12] changm opened #12396 "Add ./mach run -Z help under command line arguments in README"
There are a bunch of nice developer flags when running servo with ./mach run -Z but this isn't listed anywhere in README.me here - https://github.com/servo/servo#commandline-arguments

It'd be nice if it was documented.

[2016-07-11 23:08] jdm opened #12398 "`referrer_url` argument to `modify_request_headers` is unused"
We assign a value to it, but the value is never read by the caller. We should be able to remove the argument entirely and use a local variable inside the function instead.

Code: `components/net/http_loader.rs`

No need for automated tests; if it builds, it's good enough for a PR.

[2016-07-11 23:08] highfive commented on #12398
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-11 23:26] metajack commented on #3893
@webmaven We've had a few false starts trying to hire someone to finish this. Our plan is still to do so.

I'm happy for people to continue submitting ideas. We're using them as input into the process, but if someone lands on something great perhaps we'll be finished early.

There are plenty of good ideas in this thread, but of the things posted here so far the work from @VAS has been my personal

[2016-07-12 00:11] aravind-pg commented on #12398
Based on the comment [here](https://dxr.mozilla.org/servo/source/components/net/fetch/methods.rs#791), I would think that fixing #11860 would mean this argument will actually find a use, right? Because I do have a fix for that issue that I can make a PR for, it's just blocked on #11978 landing (as well as a Hyper version bump and upgrade).

[2016-07-12 01:00] notriddle commented on #3893
Thinking about @mbrubeck's idea, came up with a "two globes" idea. Looks about like someone's lower face with way-too-big noserings.

![servo_proposal_2](https://cloud.githubusercontent.com/assets/1593513/16751772/c6f92654-4790-11e6-8814-cac0cafdeb39.png)

[2016-07-12 01:01] jdm commented on #12398
...Oh, yeah. Durr.

[2016-07-12 01:01] #12398 closed

[2016-07-12 01:03] jdm commented on #12398
Rather, I don't think that #11860 is related to this at all. However, the argument can actually be used by #12389, since we need to extract it in order to store it in the Document that results from the network response.

[2016-07-12 02:37] ariasuni opened #12399 "Servo crash when DejaVu font is not installed"
On my system, the DejaVu font is not the default font nor installed. However, when loading a page, even if the DejaVu font is not required nor requested by the CSS, Servo crash. This bug affects the nightly and the git version that I just built.

[2016-07-12 02:51] shinglyu opened #12401 "The --log-html file doesn't have the correct Reftest_Screenshots"
STR:
1. Run `./mach test-css --log-html test.log`
2. Open `test.log`

Expected:
The `Reftest_Screenshots` link for failed tests will link to the correct screenshot (using base64 encoded img link)

Actual:
All of them are empty links

![selection_011](https://cloud.githubusercontent.com/assets/3250983/16753704/807a898c-481e-11e6-861f-8dd12cd1c22f.png)

[2016-07-12 02:51] shinglyu commented on #12401
I have fixed similar thing in Gecko, if anyone can point me to the html report generation code, I can fix it.

[2016-07-12 02:54] shinglyu opened #12402 "Need better description for mach subcommands"
Currently the mach subcommand descriptions are not very clear, especially the following ones:

[code]

Perhaps someone who knows the difference can update them?

[2016-07-12 03:07] shinglyu commented on #12401
The screenshots are generated in `tests/wpt/harness/wptrunner/executors/base.py` and formatted by external python module `mozlog`

[2016-07-12 03:58] highfive commented on #12402
cc @wafflespeanut

[2016-07-12 04:28] aravind-pg commented on #12398
Ah, interesting, hmm. So you're saying we'll want to call `modify_request_headers` to obtain the right `referrer_url` to then pass to the Document constructor (addressing #12389)? But to do that won't we also need the ReferrerPolicy too, since for one thing `modify_request_headers` takes it as an argument? And that seems like it needs to come from the header, i.e. it needs #11860. But then again i

[2016-07-12 04:49] jdm commented on #12398
Document A might have a Referrer-Policy header present in its HTTP response which would give it a custom default referrer policy. When navigating to a link contained in A, that policy would be used along with A's URL to form a referrer. For #12389, that referrer would then be propagated along with the resulting response for the new document B, which might have a different policy included in the sa

[2016-07-12 04:55] highfive commented on #12401
cc @wafflespeanut

[2016-07-12 06:28] shinglyu opened #12405 "Create a ./mach test-perf command"
This is a followup for #11107 . There are a few things that needs to be done:
- [ ] Create a script to download tp5.zip and put it in the correct folder
- [ ] Create a `test-perf` command in `test_commands.py` to bootstrap the test env and run.
- [ ] Pretty print the test result for human to read (currently a json)
- [ ] Figure out what kind of log format we want. Maybe use mozlog?
- [ ] Deprecate

[2016-07-12 11:02] ice9js commented on #12390
I'll take care of this.

[2016-07-12 12:05] nox opened #12410 "Stop using rustc_serialize"
There is no reason for us to use both rustc_serialize and serde.

[2016-07-12 12:30] #2823 closed

[2016-07-12 12:32] jdm commented on #12390
Great!

[2016-07-12 13:38] samuknet opened #12411 "Click event erroneously firing on div which is not visible due to CSS translateZ transform."
When an element has been transformed such that it is no longer visible, clicking anywhere on the page in Servo fires a click event on the element.

In example below, FF/Chrome the click event (correctly) does not fire. In Servo, clicking anywhere on the page fires the event, even though the is "behind the screen" and not visible.

[code]

Online test case [here](https://samuknet.github.io/test_cas

[2016-07-12 14:06] blacksvk opened #12412 "Servo crashes when pressing some keys"
When I press keys like  `/`, `;`, `'`, `[`, `]`, `\`,  once, nothing happends. When I press it again, servo crashes:
[code]

Tested on Windows 8.1 x64

[2016-07-12 14:20] jdm commented on #12411
@pcwalton I guess hit testing is somehow not taking the transform into account? Could you look into this?

[2016-07-12 14:25] samuknet commented on #12411
@jdm Out of interest, just to take a look, where could I find the relevant hit testing code? I would just be interested to read it and further my understanding a little.

[2016-07-12 14:27] jdm commented on #12412
That assert was supposed to be removed and apparently wasn't. Let's make that happen!

[2016-07-12 14:28] highfive commented on #12412
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-12 14:35] blacksvk opened #12413 "Margin defined in % is not applied on inline-block element"
![margin](https://cloud.githubusercontent.com/assets/10187350/16770770/6aad47d6-484e-11e6-8f0a-d55b638eec6b.png)

[code]

[2016-07-12 14:35] jdm commented on #12411
Look for the code that assigns `hit_test_response` from `components/layout/query.rs`. I'd give a better answer but I'm getting on an airplane :)

[2016-07-12 15:25] aravind-pg commented on #12398
Hmm, still confused tbh. This is best left to IRC I think, will find you there sometime. Just one small question in the meantime:

HTTP response to what exactly?

[2016-07-12 15:29] jdm commented on #12398
The response for the original HTTP request for document A.

[2016-07-12 15:34] Ms2ger opened #12414 "Implement [Exposed] on interface members"
Particular users are `XMLHttpRequest::responseXML` and some members of the `NavigatorID` interface.

It might be simplest to reuse the `[Pref]` infrastructure.

[2016-07-12 15:36] highfive commented on #12405
cc @wafflespeanut

[2016-07-12 15:38] notriddle commented on #3893
Even more simplified (and I really like symmetrical logos like circles and squares better anyway).

![servo_proposal_3](https://cloud.githubusercontent.com/assets/1593513/16773188/c48afcaa-480b-11e6-99d1-1a393077fa71.png)

[SVG version](https://github.com/servo/servo/files/359718/servo_proposal_3.svg.zip)

[2016-07-12 15:39] Ms2ger opened #12415 "Expose interfaces only where they should be."
In #12353, I added `Exposed=(Window,Worker)` to all interfaces, to preserve our previous behaviour. We need to go through all the interfaces, check in the specification what the correct value is, and update our implementation.
- Code: `components/script/dom/webidls/`.
- Test: `tests/wpt/mozilla/tests/mozilla/interfaces.html`, `tests/wpt/mozilla/tests/mozilla/interfaces.worker.js` and probably some

[2016-07-12 15:39] highfive commented on #12415
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-12 16:51] cjkenn commented on #12412
This seems super easy to fix, I can work on it... Does any other key handling need to be added or just remove the assert?

[2016-07-12 17:32] KiChjang commented on #12412
@cjkenn Removing the assert! macro statement should be enough.

[2016-07-12 17:46] TheKK commented on #11862
I'm starting play with wpt tests and seems like it's quite a long way to go.

Also, I try to inject referrer information into `mozbrowseropenwindow` today and it's pretty straight. But I can't find which code catch this event and perform the rest of actions. My concern here is that referrer URL handling algorithm has already existed in `net/http_loader` and I'd like to reuse (if necessary) this lo

[2016-07-12 18:04] jdm commented on #11862
The code that deals with the event is part of browser.html, which is in a separate repository under mozilla/.

[2016-07-12 19:24] larsbergstrom commented on #12125
I'm going to go ahead and commit to having a working build up on Wednesday (July 20th) by hook or by crook :-)

I apologize to everybody waiting for this!

[2016-07-12 19:30] metajack commented on #11862
Browser.html's home is under the [browserhtml org](https://github.com/browserhtml/browserhtml)

[2016-07-12 19:34] tomjakubowski commented on #11763
I'm happy to take a look at this one.

[2016-07-12 19:57] ConnorGBrewster commented on #11138
Can we close this after #11744?

[2016-07-12 19:58] emilio commented on #11138
Sort of, I'd prefer to leave this open until we make the fast path work.

[2016-07-12 20:07] meghprkh commented on #12015
I downloaded the files from above and added them to my ld.conf but it prints something like:
[code]

[2016-07-12 20:11] meghprkh commented on #12015
Okay got a temporary solution, link https://www.reddit.com/r/linux/comments/4qqc6g/servo_developer_preview_builds_available/d4v2dqh

[2016-07-12 20:42] w-barath opened #12417 "Extensive startup time"
I followed the instructions - I downloaded the servo tarball then

[code]

And then my CPU use went to 100% for an extensive period of time, but nothing happened.

So I interrupted with CTRL-C and checked my environment, ie DISPLAY=:0.0 etc. and I ran runservo.sh.  Again CPU to 100% for an extensive period of time, this time I ran top to see what was going on, and servo was at 100%, and again noth

[2016-07-12 21:05] w-barath commented on #12417
I was unable to reproduce the startup delay as my main user so I created a new one:

[code]

then I switched user:

[code]

then I timed the startup:

[code]

and I got the following response after clicking the app close button as soon as it appeared:

I checked the strace log I made earlier and although I found a reference to ~/.config/servo I could find no such created folder on my accout or the

[2016-07-12 21:13] zeusintuivo commented on #12356
Update: I installed 5 Virtual boxes in Virtual box
All with these results.
1 Win 7 32 bit - Failed
1 Win 7 64 bit - Failed
1 Ubuntu 14.04 32 bit - Failed
1 Ubuntu 14.04 64 bit - Failed
1 Fedora 64 bit - Success!

Right now the main issue, I think.
is that the steps to prepare the machines
in windows and Ubuntu are not even working right of the box.

So I am looking to get alternative ways for a mo

[2016-07-12 21:47] #11384 closed

[2016-07-12 21:56] SimonSapin commented on #10408
Just to make this info more discoverable:

In Rust’s default test harness, normally one test is created for one Rust function with a `#[test]` attribute. But for html5ever (Servo’s HTML parser) we’ve already used it to dynamically generate thousands of tests based data files. This is discussed in https://internals.rust-lang.org/t/test-and-external-test-harnesses/3145

If we’re doing this here (as

[2016-07-12 22:12] vtomole commented on #12356
Can you check if it builds on Ubuntu 15.10? I'm thinking about upgrading my machine to that instead.

[2016-07-12 22:34] asajeffrey commented on #11248
The browser.html issue for this: https://github.com/browserhtml/browserhtml/issues/1182

[2016-07-12 22:37] asajeffrey opened #12420 "Allow mozbrowser events to be targeted at the window"
#11248 requires throwing a mozbrowsererror event at the root window rather than at an iframe (because we may not know which iframe caused the error). At the moment, mozbrowser events can only be targeted at iframes, we should fix this so they can target other elements.

[2016-07-12 22:38] asajeffrey commented on #12420
cc @Gozala @paulrouget

[2016-07-12 22:39] Gozala commented on #12420
Issue on the browser.html side https://github.com/browserhtml/browserhtml/issues/1182

[2016-07-12 22:40] simartin opened #12421 "./mach test-tidy not checking .html files"
Even though "./mach test-tidy" was successful for the patch in https://github.com/servo/servo/pull/12365, it was introducing several \t characters; as spotted in the code review.

That's because test-tidy does not consider .html files, while I believe it should. This is trivially fixed by adding *.html in FILE_PATTERNS_TO_CHECK, however this also requires to fix a bunch of existing files to keep "

[2016-07-12 22:43] andrewdavidmackenzie commented on #12229
Works fine for me:
10.11.4 (15E65)
Darwin Andrews-MacBook-Pro.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64

debug build

[2016-07-12 22:46] highfive commented on #12421
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-12 22:46] highfive commented on #12421
cc @wafflespeanut

[2016-07-12 22:46] andrewdavidmackenzie commented on #10201
Just did the debug build (first attempt ever) and it all built fine with no errors and runs fine also.

[2016-07-12 22:50] simartin commented on #12421
I'm happy to work on this myself.

[2016-07-12 22:51] andrewdavidmackenzie opened #12422 "Keyboard Shortcut to Quit not working on Mac OS X"
The keyboard shortcut to quit the app on a Mac (Command + Q) does not work (usually).

<img width="214" alt="screen shot 2016-07-12 at 23 47 47" src="https://cloud.githubusercontent.com/assets/5529132/16786226/2ebc6d28-488b-11e6-85e6-e7454522c590.png">

Interestingly, if you open the Menu first, by clicking on the "Servo" menu item and then try it, it does work (Quitting the app cleanly).

I'd be

[2016-07-12 22:55] andrewdavidmackenzie commented on #12350
I saw there were a few similar issues (I was looking for my first PR opportunity also).

It made me wonder was there not a rust macro to get the Struct name, and that could be used as a default trait implementation for that method - and boom! you get them all done automatically?

[2016-07-12 22:57] baig opened #12423 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-07-12 23:00] KiChjang commented on #12350
There is a default trait method for the name() function, which returns "generic runnable".

[2016-07-12 23:01] andrewdavidmackenzie commented on #6226
So, the issue should be about supporting forward/back events generated on Mac OS X - rather than the specific gesture used to generate them?

[2016-07-12 23:02] notriddle commented on #12421
Alright.

I think `tests/unit/net/parsable_mime/text` should be excluded, because these files need to be kept exactly how they are to make sure they're triggering the right paths in the parser.

Also, `tests/wpt/mozilla/tests/css/fonts`, `tests/jquery`, and `tests/dromaeo` should probably be excluded because they're coming from external projects with different coding guidelines.

The list of exclu

[2016-07-12 23:05] metajack opened #12424 "intermittent solutions meta bug"
@nox wrote a nice [script](https://gist.github.com/nox/d2eadf509a6898c1f43c6f3e1413666f) to count cross references for intermittent bugs which gives us [this data](https://irccloud.mozilla.com/pastebin/7qtCu5cS). Graphing this gives us:

![chrome_2016-07-12_16-55-04](https://cloud.githubusercontent.com/assets/28357/16786363/717cd2fe-4851-11e6-8615-a6683877432b.png)

The inflection point seems to b

[2016-07-12 23:12] KiChjang commented on #11763
@tomjakubowski Go for it!

[2016-07-12 23:15] emilio commented on #10251
My guess is this is not an issue anymore, since we no longer gate on appveyor, feel free to reopen if it is.

[2016-07-12 23:15] #10251 closed

[2016-07-12 23:15] andrewdavidmackenzie commented on #12422
Any pointers on source files where keyboard events are handler to get me started appreciated.

[2016-07-12 23:16] emilio commented on #12424
I closed #10251, since it's appveyor related and we no longer gate on it, thanks for putting this up together! :)

[2016-07-12 23:25] ConnorGBrewster commented on #12422
Command + Q is not implemented in Servo itself, it is implemented on the b.html side. I think this would be beneficial to have outside of b.html. Due to this being handled in b.html, we need to gate on the `shell.builtin-key-shortcuts.enabled` preference. You can see an example of this with the Command + R reload shortcut: https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L916

To

[2016-07-12 23:30] ConnorGBrewster commented on #12423
Closing as this is a known issue and is tracked in #6564.
Thank you for reporting this!

[2016-07-12 23:31] #12423 closed

[2016-07-12 23:32] andrewdavidmackenzie commented on #12422
Thanks - I'll take a look.

[2016-07-12 23:34] emilio commented on #9012
I'm trying to reproduce this.

[2016-07-12 23:46] pahakalle opened #12425 "error: failed to run custom build command for `openssl-sys-extras v0.7.14`"
**im using mac el capitan**

**the error i get:**

Build failed, waiting for other jobs to finish...
error: failed to run custom build command for `openssl-sys-extras v0.7.14`
Process didn't exit successfully: `/Users/admin/github/servo/target/release/build/openssl-sys-extras-5c7e4d8925825f00/build-script-build` (exit code: 101)
--- stdout
TARGET = Some("x86_64-apple-darwin")
OPT_LEVEL = Some("3")

[2016-07-12 23:57] notriddle commented on #6564
So far, we've gotten Vector and Acid3. Replacing with FFFD seems like an acceptable choice in both cases (Acid3 allows it, and it's as good as any other way to deal with Vector).

[2016-07-13 00:25] #12071 closed

[2016-07-13 01:27] #12300 closed

[2016-07-13 01:36] ConnorGBrewster commented on #12350
@andrewdavidmackenzie it would probably be possible to make a macro to do this, but since there aren't a ton of `Runnable`s I am not sure it would be worth doing that. For now manual implementations will work fine.

[2016-07-13 02:00] netroby opened #12428 "document.write not a function"
[code]

[2016-07-13 03:27] notriddle commented on #12428
Duplicate of #3704.

[2016-07-13 03:27] #12428 closed

[2016-07-13 04:15] pontoffel opened #12430 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:
http://acid3.acidtests.org/
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-07-13 05:19] TheKK commented on #11862
@jdm I'm not sure about that. Since the fact that `tests/wpt/mozilla/tests/mozilla/mozbrowser/mozbrowser_click_fires_openwindow.html` run without browser.html but the iframe still be changed by some one. Is there something I didn't catch?

[2016-07-13 06:23] emilio commented on #12430
Hi, thanks for reporting this! :)

We know acid3 triggers this, and it's being tracked on https://github.com/servo/servo/issues/12228.

Thanks for your report once again!

[2016-07-13 06:23] #12430 closed

[2016-07-13 07:00] Ms2ger commented on #9278
This hasn't happened in months.

[2016-07-13 07:00] #9278 closed

[2016-07-13 08:25] nox commented on #12424
You marked #8815 as disabled but @Ms2ger closed that ticket so I'm confused.

[2016-07-13 09:00] #12387 closed

[2016-07-13 09:16] mrobinson commented on #11574
@notriddle I've already made some progress on this issue, so if you don't mind I can take it off your hands.

[2016-07-13 09:44] mskrzypkows commented on #11528
The style: https://github.com/servo/servo/blob/master/resources/servo.css#L46 doesn't work. I've checked in FF, there is text always centred vertical in input. Maybe we need to add some special centering for inputs?

[2016-07-13 10:03] #12412 closed

[2016-07-13 10:07] jdm commented on #11862
The mozbrowser tests use the same APIs as browser.html.

[2016-07-13 11:27] Ms2ger opened #12433 "Publish documentation for the master branch of all Servo-maintained crates"
Right now, we have documentation on doc.servo.org for servo/servo master, and all dependencies, at whatever version master is using. This is useful, but if we want other people to use our crates, we should publish the most current documentation for them, even if we've not updated Servo to use the most current version.

[We already do this for rust-url.](https://servo.github.io/rust-url/url/index.h

[2016-07-13 11:43] #12390 closed

[2016-07-13 12:35] aneeshusa commented on #12433
The way this is done in `rust-url` is uploading from Travis using an encrypted env var. See its [`.travis.yml`](https://github.com/servo/rust-url/blob/master/.travis.yml) for the dispatch and its [`Makefile`](https://github.com/servo/rust-url/blob/master/Makefile) for the actual doc creation + upload code.

`travis-cargo` seems to use the same flow but includes other things we don't need, so I'd l

[2016-07-13 14:33] asajeffrey opened #12434 "Add license field to Cargo.toml files"
Currently our Cargo.toml files don't contain licensing information. They should all say `license = "MPL-2.0"`.

[2016-07-13 14:36] asajeffrey commented on #12434
We should also write a tidy check for licensing in the Cargo.toml files. cc @jdm @aneeshusa

[2016-07-13 14:43] jdm commented on #7038
Unfortunately those cannot be removed because we don't know how to measure Arc values effectively.

[2016-07-13 14:43] #7038 closed

[2016-07-13 14:53] Ms2ger commented on #12421
We should perhaps run the wpt lint on our wpt-style tests.

[2016-07-13 14:57] asajeffrey opened #12435 "Add a build check that fixed intermittents stay fixed"
We might want to add something like an `etc/ci/check-fixed-intermittents.sh` that makes sure that any fixed intermittents in #12424 stay fixed. Something like:

[code]

cc @aneeshusa @ConnorGBrewster

[2016-07-13 15:11] asajeffrey commented on #12435
IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=13+Jul+2016&e=13+Jul+2016#c479357

TL;DR: Opera used 300 repetitions; might be worth running this nightly rather than on every merge?

cc @jgraham

[2016-07-13 15:18] jdm commented on #12354
Sadly #12374 and #12395 have only shaved 90ms off of the original testcase for me so far :(

[2016-07-13 15:51] zeusintuivo commented on #12356
Update, Today I got:
1 Win 7 32 bit, 30 GB Disk, 2 GB Ram  - Success
1 Win 7 64 bit, 30 GB Disk, 2 GB Ram - Success
1 Ubuntu 14.04 32 bit, 16 GB Disk, 2 GB Ram - Success
1 Ubuntu 14.04 64 bit, 16 GB Disk, 2 GB Ram - Success

I need more time to document and write the steps. Notice the the whole servo install uses about more than 1GB.

[2016-07-13 16:41] jdm opened #12436 "Inline DOM element creation into box expressions"
This pattern is common in `components/script/dom/`:
[code]
This is inefficient, since the element value that is constructed ends up being copied from the stack into the heap due to the box expression. If we inline it instead (`Node::reflect_node(box Something::new(...)`), we'll avoid the unnecessary copy. This originally showed up in performance measurements in #12354.

Code: `components/script/do

[2016-07-13 16:41] highfive commented on #12436
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-13 16:53] notriddle commented on #12417
The `sudo su` failure is a normal direct rendering failure. The display is owned by your regular user, so servo running as the servo user can't access it.

Also, servo doesn't store its cache or preferences anywhere. It doesn't support either, yet.

[2016-07-13 16:58] junktext commented on #11936
So, for what it's worth, I'm also getting the backwards "Places" suggestion text. Although, I'm not using the Servo engine as instead I am using the default Gecko engine for Firefox on Ubuntu 15.10 (64-bit). I've went ahead and informed the DuckDuckGo developers about this bug as well.

Lastly, this seems to be a Firefox glitch. Google Chrome didn't give me any problems.

Details: https://duck.co/

[2016-07-13 18:07] Scorpil commented on #12436
List of lines that need to be changed found by `ag -s --nobreak "Node::reflect_node\(box [a-z]"`

[code]

[2016-07-13 18:16] #11703 closed

[2016-07-13 18:16] KiChjang commented on #12436
Out of curiosity, what happens if you do `let element = box Something::new(...)` instead? Would there be a copy that way?

[2016-07-13 18:38] Scorpil commented on #12425
Have you linked your openssl? It's mentioned in README: https://github.com/servo/servo/#prerequisites

[2016-07-13 18:46] jdm commented on #12436
Profiles show that rustc wasn't optimizing it as expected. I'm trying to come up with a reduced testcase that I can file.

[2016-07-13 19:15] ice9js commented on #12436
I'll take this one, if I may.

[2016-07-13 19:20] jdm commented on #12436
@ice9js Please do!

[2016-07-13 23:59] Aaron1011 commented on #12273
I can reproduce this on Arch Linux, with Awesome WM.

[2016-07-14 01:35] alex opened #12439 "https://www.theguardian.com/us hilariously misrenders :-)"
![screen shot 2016-07-13 at 9 34 10 pm](https://cloud.githubusercontent.com/assets/772/16825312/a94b0642-4941-11e6-93c9-558d72b2b6ad.png)

[2016-07-14 03:28] frewsxcv commented on #12434
Relevant issues:

* https://github.com/servo/servo/issues/861
* https://github.com/servo/servo/issues/10716
* https://github.com/servo/servo/issues/5786

[2016-07-14 05:35] chawlanikhil24 commented on #12356
@zeusintuivo absolutely and when extracted, it becomes approximately 3GB, please send the steps as soon as possible. I would like to automate the installation on ubuntu so that, none face the problem on ubuntu again.

[2016-07-14 06:48] po4y commented on #12238
_Someone above had OpenGL 1.4, which we won't be supporting - but this is probably a software issue on that user's machine, as even OpenGL 2.1 is ancient and should be supported everywhere_

Unfortunately that's not the case, as the ubiquitous Intel 945GM graphics chipsets only support up to 1.4 due to a lack of occlusion support.  For example we've just updated all our laptops to Ubuntu 16.04 and

[2016-07-14 06:56] glennw commented on #12238
@po4y Interesting! Do you know when those laptops were manufactured? Wikipedia page suggests that the 945GM chipset was released in 2006 - but perhaps they are still being shipped in some recent hardware?

An interesting option that I'd like to try out is running webrender on top of SwiftShader (see https://blog.chromium.org/2016/06/universal-rendering-with-swiftshader.html) and see what the perfo

[2016-07-14 08:16] varjagg commented on #12017
Experiencing lock up on rendering https://en.wikipedia.org/wiki/Servo_%28layout_engine%29 nightly, but only when referred from google.com. Referrals from duckduckgo render properly.

[2016-07-14 09:32] #12436 closed

[2016-07-14 12:16] po4y commented on #12238
Youngest 945-based laptop I can find here is a 2009-ish Dell Latitude.  After than Intel seemed to shift that chipset into the netbook-niche, until it was discontinued around 2011 or 2012.  Not very easy to find definite info online though.

I'll try SwiftShader on a couple of the old machines here and report back.  Thanks!

[2016-07-14 12:26] Ms2ger opened #12446 "Remove beforescriptexecute/afterscriptexecute"
https://github.com/whatwg/html/issues/943

[2016-07-14 14:19] andrewdavidmackenzie commented on #12422
Can't see any tests for the keyboard shortcuts or Window::Reload event.
If there are I'd like to include a test in the PR...

[2016-07-14 14:28] jdm commented on #12422
We don't support tests that synthesize keyboard input yet, unfortunately.

[2016-07-14 15:55] #10883 closed

[2016-07-14 16:11] zeusintuivo commented on #12356
Ubuntu 14.04 32-Bit  (Draft Install)

[code]

[2016-07-14 16:13] zeusintuivo commented on #12356
Ubuntu 14.04 64-Bit  (Draft Install)

[code]

[2016-07-14 16:58] pahakalle commented on #12425
ok for some reason it didn't link it at the first time. but running the command again fixed the issue. thanks for the help 😄

[2016-07-14 16:58] #12425 closed

[2016-07-14 17:33] #12434 closed

[2016-07-14 20:03] glennw commented on #12238
I don't think you'll be able to try SS without a lot of code changes - so it's not an immediate fix. But it's something I would like to try and get working in the near future.

[2016-07-14 20:08] #12389 closed

[2016-07-14 20:38] blacksvk opened #12450 "Key handling seems to be broken"
It acts really weird:
When I press first key -> nothing happends,
When I press second key -> first key is processed,
When I press third key -> second key is processed,
etc...
Some keys seems to not work at all, like `:`.
![keys2](https://cloud.githubusercontent.com/assets/10187350/16854887/388d8696-4a13-11e6-869e-edd4f40668ef.gif)
Tested on Windows 8.1 x64

[2016-07-14 20:44] KiChjang commented on #12450
Could this be an issue with browserhtml instead?

[2016-07-14 21:01] jdm commented on #7607
It is in-tree now.

[2016-07-14 21:01] #7607 closed

[2016-07-14 21:09] jdm commented on #12450
What keyboard layout are you using, what keyboard model, and what operating system?

[2016-07-14 21:27] blacksvk commented on #12450
It is not only browserhtml problem, I have same problem when I run servo without browserhtml.

OS: Windows 8.1 x64
Keyboard: Chicony KU-0833 USB keyboard
Layout: I'm using EN-US and SK-QWERTY, I tried both of them, and It does not matter which layout am I using, the problem still exists

[2016-07-14 22:35] andrewdavidmackenzie commented on #12422
See https://github.com/servo/servo/pull/12452 it seems to work just fine.
Not sure I follow the Some(true) stuff, and seems that could be simpler - but I chose to copy the reload example exactly.

[2016-07-15 03:59] shinglyu opened #12453 "Fully implement flexbox"
This is a meta bug to track flexbox implementation progress.

Here is a popularity metrics by Chrome and Edge we can reference:

| Property | Rank | Chrome % | Bing % | Partially Implemented | Remaing Failed Tests |
| --- | --- | --- | --- | --- | --- |
| flex | 19 | 18.83% |  | Yes | `inline-flex` |
| alias-webkit-flex | 12 | 12.32% |  |  |  |
| flex-direction | 12 | 11.82% | 1.70% | Yes | 3 |
|

[2016-07-15 06:22] shinglyu opened #12455 "Implement flex-grow"
https://drafts.csswg.org/css-flexbox/#flex-grow-property

https://css-tricks.com/almanac/properties/f/flex-grow/

meta: #12453

[2016-07-15 06:22] shinglyu commented on #12455
I'll start working on this.

[2016-07-15 08:21] TheKK commented on #11862
I think I need some advice. I'm trying to test HTMLAnchordElement by creating an `<a>` inside `<iframe>` then activate `<a>` (since anchor target is missing feature now). Here's part of them:

[code]

The weird thing here is that the result is different between running `./mach run -r` and running `./mach test --release`. While running this as test it says iframe.contentWindow is null, but it's not

[2016-07-15 08:33] stshine commented on #12453
Hi @shinglyu , Glad you are interested! I have some working code that I believe have implemented a lot of features of flexbox(currently in row container only):
https://github.com/stshine/servo/tree/flexbox
Currently my PR submit is stuck at #12330 . Would you like to have a look at it before you start to work on flexbox?

[2016-07-15 09:05] zeusintuivo commented on #12356
@vtomole Can you try this guide for Ubuntu 14.04 I just placed, and let us know if it worked for you?

[2016-07-15 09:19] bjorn3 opened #12456 "Servo crashing with SIGILL"
When I tried the Evil Ad demo my servo crashed.

MacOS crash report:

[code]

I have removed the attached devices from the crash report.

[2016-07-15 09:40] johannhof commented on #12415
Since I started with Worker I might as well go through the whole list. So I'm taking this.

[2016-07-15 10:49] andrewdavidmackenzie commented on #12422
Didn't mean to close it - I guess automatically closed by the "Fixes" keyword in the PR?
Thanks for reopening @KiChjang

[2016-07-15 12:14] vtomole commented on #12356
@zeusintuivo Okay I will do it asap!

[2016-07-15 13:42] Ms2ger commented on #12415
@johannhof if you haven't started on the rest, perhaps it would be better to let others help out wit this, and move on to other bugs where you might learn more :)

[2016-07-15 13:47] johannhof commented on #12415
Good point! Other people who want to solve this, you can find reference webidls for Firefox here: http://searchfox.org/mozilla-central/source/dom/webidl

Untaking this!

[2016-07-15 14:02] Ms2ger opened #12460 "Review enums with large variant size differences"
We may want to fix some of these:

[code]

[2016-07-15 14:21] andrewdavidmackenzie commented on #12422
Second attempt at a cleaner PR here https://github.com/servo/servo/pull/12461

[2016-07-15 14:24] jdm commented on #11862
Odd, I think I would expect the reverse - running directly would yield a file:// URL, and I believe our files are considered cross-origin to each other, which running under the test harness should yield same-origin URLs.

[2016-07-15 14:25] jdm commented on #11862
I recommend loading an actual page where you don't need to manipulate the child's DOM.

[2016-07-15 14:29] izgzhen commented on #5014
So the trouble-maker is only typed-array now or we also have some other JS object not ported yet?

I have [a personal note](https://github.com/izgzhen/gsoc-file-support/blob/master/notes/typed_array.md) on typed array's status but not knowing if this thread topic is proper for posting its content and discuss possible solutions.

[2016-07-15 14:31] izgzhen commented on #5014
One thing is that typed array blocks the progress of #10911 greatly, and I am also interested to learn how to work on it.

[2016-07-15 14:37] shinglyu commented on #12453
@stshine Thank you! I'll take a look next Monday. If you need to find a reviewer with less review in the queue, I can probably help.

[2016-07-15 14:38] izgzhen opened #12462 "Misleading names of `start_sending_sniffed` and friends"
In `net/resource_thread.rs`, `start_sending_sniffed` and similarly named functions have names looking misleading to me: `start_sending_sniffed` only takes a `partial_body` and "sniffs", but not actually sending the payload.

Also, `_opt` suffix of `start_sending_sniffed_opt` and `start_sending_opt` look weird to me. What does `_opt` mean here? `raw_content_type_options`?

[2016-07-15 14:40] #10539 closed

[2016-07-15 14:45] jdm commented on #12462
_opt  was intended to reflect the fact that it returns an error value if it couldn't send, iirc.

[2016-07-15 14:48] izgzhen commented on #12462
as @aneeshusa mentioned in irc, non-`_opt` version uses `unwrap` and looks not used anywhere. So maybe it is good to drop.

[2016-07-15 15:04] vtomole commented on #12356
I got:  Compiling x11-dl v2.4.0
error: Could not compile `x11-dl`.

[2016-07-15 15:09] jdm commented on #12462
Also since start_sending_sniffed_opt calls start_sending_opt, it definitely does send the payload.

[2016-07-15 15:13] izgzhen commented on #12462
but
[code]

doesn't look like a byte-sending something to me :$

[2016-07-15 15:27] jdm commented on #12462
Oh right, start_sending_opt is the start of the sending process which only sends the header, not the actual response content.

[2016-07-15 15:27] metajack commented on #12460
@ms2ger Is this a new Rust compiler feature? Thanks for filing this. I agree we should probably address these. This has caused performance problems in the past.

[2016-07-15 15:31] metajack commented on #12456
Thread 69 is the one that crashed and it seems to script::dom::window::Window::handle_fire_timer::h9eca682403058c1c

cc @asajeffrey

[2016-07-15 15:37] shinglyu commented on #12455
Looks like it's partially (how partial?) implemented in https://github.com/servo/servo/pull/12298

[2016-07-15 15:56] zeusintuivo commented on #12356
@vtomole. I used brand new installed Ubuntu installs. I suggest you re-install your Ubuntu. This seems to be more an issue with your Ubuntu than with servo.

[2016-07-15 15:59] jdm commented on #12456
It's unfortunate that the stack only shows that a crash happened while executing handle_fire_timer. I suspect a GC hazard with the way we store timer arguments and callbacks is the cause.

[2016-07-15 16:09] vtomole commented on #12356
@zeusintuivo Just updated my PC and it doesn't boot anymore. I'll try to fix it this weekend, maybe @chawlanikhil24 can try to build it.

[2016-07-15 16:46] jdm opened #12466 "Implement DedicatedWorkerGlobalScope.close"
We need to add an API to WorkerGlobalScope to mark the worker as closed (see `WorkerGlobalScope::is_closing`), and then use that from the new `DedicatedWorkerGlobalScope::Close` method that needs to be added.

Specification: https://html.spec.whatwg.org/multipage/workers.html#dedicated-workers-and-the-dedicatedworkerglobalscope-interface and https://html.spec.whatwg.org/multipage/workers.html#dom-

[2016-07-15 16:46] highfive commented on #12466
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-15 17:20] ConnorGBrewster commented on #11983
@Coder206 any progress on this?

[2016-07-15 17:22] fabricedesre commented on #12466
Taking

[2016-07-15 17:30] #12422 closed

[2016-07-15 17:30] KiChjang commented on #12466
You got it!

[2016-07-15 19:10] Coder206 commented on #11983
@ConnorGBrewster Yes, I was beginning to understand how everything works. However, it will be at least a week before a PR is submitted. I understand if you want to give this to someone else to get it done quicker.

[2016-07-15 19:22] #11860 closed

[2016-07-15 20:22] #11776 closed

[2016-07-15 21:01] gaby2300 commented on #12125
I'll be looking forward to test it and QA it!!!

[2016-07-15 22:26] stshine commented on #12453
Definitely! I do hope things could go faster :)

[2016-07-15 22:32] Meyermagic commented on #11424
I'm also getting this issue:
URL: https://en.wikipedia.org/wiki/Nuclear_weapon
Version: Servo 0.0.1-4b78b9a (downloaded compiled binary from servo site)
Log:
$ RUST_BACKTRACE=1 ./runservo.sh
Unhandled error occured
ReferenceError: navigator.mozSettings API is not available
Exception in module-execute in module mediawiki.action.view.redirect:
ReferenceError: history is not defined
ReferenceError: h

[2016-07-15 23:16] ConnorGBrewster commented on #11983
@Coder206 no worries, this isn't a huge priority right now.

[2016-07-16 00:28] highfive commented on #12462
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-16 00:29] izgzhen commented on #12462
@jdm I added a E-easy tag, thinking it might be a good starter task

[2016-07-16 00:43] jdm commented on #12462
I'm removing it until we have a good idea for a replacement name :)

[2016-07-16 01:16] ConnorGBrewster commented on #12048
Fixed in #12277

[2016-07-16 01:16] #12048 closed

[2016-07-16 08:05] kevgs commented on #11763
Sorry, right now I'm mostly afk and offline. I will be happy to work on something else when I'm be able to.

08.07.2016, 13:58, "Keith Yeung" <notifications@github.com>:

--
Eugene

[2016-07-16 11:45] zeusintuivo commented on #12356
Windows 7 32 Bit ( Draft Install )

[2016-07-16 11:46] zeusintuivo commented on #12356
Windows 7 64 Bit ( Draft Install )

[2016-07-16 12:03] chawlanikhil24 commented on #12356
@zeusintuivo @vtomole  I flushed my old ubuntu:14.04 image and pulled one more from docker hub. I guess there is a new commit might be added to the master since, at  " ./mach build --dev" , everything stops at "pip didn't execute properly" . Since yesterday i am trying to rectify this stuff. Trying manual install for pip.

[2016-07-16 12:23] zeusintuivo commented on #12356
@chawlanikhil24 I followed all the steps from my posted draft for Ubuntu. Twice. I destroyed the Virtual Machines. I got the iso from Ubuntu. Used Virtual Box. Reinstalled all. And twice it worked. On both images 32 bit and 64 bit. Did you follow my steps? Is the docker image different from Virtual Box?

[2016-07-16 12:31] KiChjang commented on #11596
Last attempt at #11705.

[2016-07-16 12:41] chawlanikhil24 commented on #12356
@zeusintuivo I followed each step you stated above to fulfill the dependencies. And yes, docker image is quite different from virtual machine, since, docker images uses the kernel of same linux i am using, which enhances the rate of operations occurring on both, the operating system and the docker container. Docker image doesn't boot. Once you run the container of ubuntu, u'll be getting a new ter

[2016-07-16 14:58] KiChjang commented on #12341
This appears to be a missing implementation for the `send` function in XHR. We currently do not send any `BodyInit` requests, and in order to implement that, we'll need to fix #10605 first.

[2016-07-16 15:21] KiChjang commented on #12341
cc @Manishearth

[2016-07-16 15:24] Manishearth commented on #12341
We now have proper file support too, so after the union issue it should be straightforward to make formdata serialize with files inside it.

[2016-07-16 17:32] TheKK commented on #11862
Some questions about test case:

- Do https related test cases always fail (timeout) currently?

- In `tests/wpt/mozilla/tests/mozilla/referrer-policy/spec.src.json`, since we only implement `meta-referrer` and `rel-noreferrer`, should I generate tests for other deliver method?

- About section **subresource_path** in `tests/wpt/mozilla/tests/mozilla/referrer-policy/spec.src.json`, shouldn't we us

[2016-07-16 19:13] zeusintuivo commented on #12356
@chawlanikhil24 seems to me that docker might not be very suitable for this. Servo is very complex to compile, given that it pulls a lot of projects from Rust and other projects and it compiles them all on the fly. Docker does not provide a full Linux distribution, rather it gives you a limited distribution "without useless things."

Whoever posted that Servo supports Docker, should have also post

[2016-07-16 20:43] DemiMarie opened #12474 "Make Servo's lints sound"
Servo's lints are currently not sound, and allow for safe Rust code that contains use-after-free vulnerabilities to be written.  This should be fixed.

[2016-07-16 20:51] KiChjang commented on #12474
Could you elaborate more? Which parts of the code are you specifically referring to?

[2016-07-17 02:20] agi90 commented on #9575
I added a pull request creating a virtual method as mentioned by Manishearth. Please let me know if you'd rather follow a different approach.

[2016-07-17 11:03] Disinterpreter opened #12476 "Trouble with starting servo on ssh X11 forwarding"
Trouble with starting servo on ssh X11 forwarding

Details:
`disi@ubuntu:~/servo$ ./servo
Xlib:  extension "XFree86-VidModeExtension" missing on display "localhost:10.0".
thread 'main' panicked at 'Failed to create window.: NoAvailablePixelFormat', ../src/libcore/result.rs:785
note: Run with RUST_BACKTRACE=1 for a backtrace.
`

[2016-07-17 11:30] doanga2007 opened #12477 "Servo in macOS Sierra 10.12 hang after input Thai language in address bars."
Servo in macOS Sierra 10.12 hang after input Thai language in address bars.

VDO to behavior of problem : https://youtu.be/05_2PTnnqnc

[2016-07-17 12:06] doanga2007 opened #12478 "Servo in macOS Sierra 10.12 cannot click yellow and green button to use minimize and fullscreen."
Servo in macOS Sierra 10.12 cannot click yellow and green button to use minimize and fullscreen.

VDO to behavior of problem : https://youtu.be/CEzwEQqjgvs

[2016-07-17 12:14] doanga2007 opened #12479 "Servo in macOS Sierra 10.12 cannot select text cursor with mouse."
Servo in macOS Sierra 10.12 cannot select text cursor with mouse.

VDO to behavior of problem : https://youtu.be/CIN11DMEJLY

[2016-07-17 14:43] woshilapin opened #12480 "Build failing because of unspecified dependency for html5lib"
Trying to simply build `servo`, I've reached a very early error.  I cloned the `servo` repo, installed the dependencies specified on the [README](https://github.com/servo/servo#prerequisites).  I'm running on a Debian Jessie [`Linux my machine 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux`].

Then I run.
[code]

I only get the following message.
[code]

Looking i

[2016-07-17 15:04] jdm commented on #12479
We don't support text selection on any platform yet.

[2016-07-17 15:09] jdm commented on #11862
* Yes, we don't support HTTPS in tests yet.
* We generate tests for unimplemented methods because we can mark them as expected failures.
* Huh. Probably!
* We can make changes to the upstream tests; what are the changes you want to make?

[2016-07-17 15:37] jdm opened #12481 "Using test-wpt with a relative URL starting with / no longer works"
[code]
We should fix this, since the WPT logs spit out URLs that look like that.

[2016-07-17 15:37] highfive commented on #12481
cc @wafflespeanut

[2016-07-17 16:18] Wafflespeanut commented on #12480
This is definitely a valid solution! Most of us didn't get an error because our old virtualenv is functioning properly. Cleaning it up throws this error. Thanks for reporting this issue. You can go ahead and submit the PR :)

[2016-07-17 16:23] highfive commented on #12480
cc @wafflespeanut

[2016-07-17 16:25] TheKK commented on #11862
TheKK/servo@2d1259fd
About the changes I made, all of them are workaround to prevent using postMessage(). Most of changes are under`tests/wpt/mozilla/tests/mozilla/referrer-policy/generic/commom.js`. What's your opinion push those to upstream?

[2016-07-17 16:32] jdm commented on #11862
Ah, I understand now. We should make those changes in our local copy of the testsuite and leave the upstream ones alone.

[2016-07-17 17:10] woshilapin commented on #12480
Oh, by the way, is it better to put a definitive version number or a minimal version is fine?

[code]
vs
[code]

I'm proceeding with the PR (checking the contribution rules!).

[2016-07-17 17:14] Wafflespeanut commented on #12480
Let's go for a specific version for now :)

[2016-07-17 17:15] woshilapin commented on #12480
Thanks for the answers, I'll land a PR before the end of the day.

[2016-07-17 17:15] Wafflespeanut commented on #12480
Good to know!

[2016-07-17 19:35] fabricedesre commented on #12466
My laptop fan just died so please unassign me until I fix that. Waiting 8min for a 1 line change is really not practical 😞 ...

[2016-07-17 20:07] ConnorGBrewster commented on #4926
With the joint session history, we shouldn't be just traversing the history of the focused iframe back when a backward/forward traversal is issued but rather we should traverse the joint session history of the top-level browsing context.

[2016-07-17 20:39] woshilapin commented on #7722
I'm having the bug on servo 0fa10df.

[code]

My hardware and software

[code]

For more information about graphic driver, I've used the command explained [here](http://askubuntu.com/a/28036).

[code]

Here is the result.
[code]

[2016-07-17 20:44] UK992 commented on #11494
Recently Appveyor moved to new infrastructure which is faster and more responsive.
Maybe could be Appveyor re-activated to see if problem solved?

[2016-07-17 20:46] jdm opened #12483 "Use separate storage thread for public and private pipelines"
Servo supports marking certain pipelines as private (like Chrome's incognito mode and Firefox's private browsing). `new_resource_threads` creates separate resource threads for public and private pipelines, but shares the same storage thread. This means that the sessionStorage and localStorage APIs are shared between public and private pipelines, which is not good. We should [write a test](https://

[2016-07-17 20:48] jdm commented on #12483
Note: I've tentatively assigned this to a new contributor; please talk to me before starting to work on this.

[2016-07-17 20:49] jdm commented on #12483
It may be possible to modify private_browsing.html to include tests for localStorage and sessionStorage, rather than writing a brand-new test for this.

[2016-07-17 20:49] jdm commented on #11494
It's worth a shot!

[2016-07-17 21:49] #10058 closed

[2016-07-18 00:00] #10595 closed

[2016-07-18 00:42] aravind-pg commented on #12481
I'm getting a somewhat similar warning with plain old `mach update-manifest` as well:
[code]

Definitely something new, and I can reproduce it on master as well. Could these be related?

[2016-07-18 00:47] aravind-pg commented on #12481
Hmm I think this was probably introduced by #11604, the only PR to touch testing_commands.py in a while.

[2016-07-18 00:56] ConnorGBrewster commented on #12481
@aravind-pg indeed! It looks like #11604 did cause the breakage.

[2016-07-18 01:18] ConnorGBrewster commented on #12481
It looks like here https://github.com/servo/servo/pull/11604/commits/b0d76ae8920776302fbd49cc308789f79c748406#diff-a139f7c2483c6cf4f78098b575503c04R347 we try to get the suite for the path, but `suite_for_path` does not check for relative URLs starting with /

[2016-07-18 02:53] doanga2007 commented on #12479
@jdm Thanks You to answer problem.

[2016-07-18 02:58] ConnorGBrewster opened #12485 "Check for relative paths starting with / in suite_for_test"
#12481 is caused by https://github.com/servo/servo/pull/11604/commits/b0d76ae8920776302fbd49cc308789f79c748406#diff-a139f7c2483c6cf4f78098b575503c04R347. This checks to see what suite the passed in test is apart of; however, it fails to find the test if it is a relative path starting with `/`. #12484 is a temporary fix to get `mach update-manifest` and relative paths starting with `/` working agai

[2016-07-18 02:58] highfive commented on #12485
cc @wafflespeanut

[2016-07-18 03:46] #12481 closed

[2016-07-18 03:57] jdm commented on #12479
Closing in favour of #4409. Thanks for reporting it!

[2016-07-18 03:57] #12479 closed

[2016-07-18 04:49] #10104 closed

[2016-07-18 07:00] zeusintuivo opened #12486 "Windows 7 32 Bit and Windows 7 64 Bit - harfbuzz not Compiling"
After following the windows setup, as I also documented it right here https://github.com/servo/servo/issues/12356

It all seems to compile, except harfbuzz.

[2016-07-18 07:02] zeusintuivo commented on #12486
Here is the Windows 7 32 Bit Error Output:
[code]

[2016-07-18 07:04] zeusintuivo commented on #12486
Here is the Windows 7 32 Bit Error Output:

[code]

[2016-07-18 07:08] paulrouget commented on #9917
This was a tracking bug for nightly builds. Closing now.

[2016-07-18 07:08] #9917 closed

[2016-07-18 07:09] paulrouget commented on #12187
How do you start servo + browserhtml? `Ctrl-+` is not supposed to work in browserhtml.

[2016-07-18 08:08] mephisto41 commented on #12466
Can I take this?

[2016-07-18 08:09] zeusintuivo commented on #9168
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:17] zeusintuivo commented on #12356
@chawlanikhil24 I used created a docker container with Ubuntu image 14.04 from the hub. And Servo does not compile under this circumstances. I would advise to use docker to use a compiled and ready version of servo, but not to use it for development of servo.

There seems to be several people that have uploaded "servo" images. You might want to check if one of them work, if you are all adamand in

[2016-07-18 08:21] zeusintuivo commented on #12051
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:24] zeusintuivo commented on #11493
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:25] zeusintuivo commented on #11319
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:26] zeusintuivo commented on #10893
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:27] zeusintuivo commented on #10395
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:29] zeusintuivo commented on #10041
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:29] zeusintuivo commented on #9939
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 08:36] zeusintuivo commented on #9775
I have researched and documented an effective way to have windows environments set up for 32 and 64 bits in Windows 7. I assume this will work in all windowses.
Please see documentation I posted in this ticket. #12356

[2016-07-18 09:45] paulrouget commented on #12144
@Gozala, can you clarify a bit what is actually blocking browserhtml?

The example is indeed not rendered the same way in servo and gecko, but I'd like to understand what exactly is the bug that needs to be fixed here to unblock browserhtml (there are multiple layout issues here).

Is it important that the inner element be inline? Because an absolute positioned inline has a specific behaviour that

[2016-07-18 10:13] paulrouget commented on #12061
Test case:

[code]

[2016-07-18 10:15] paulrouget commented on #12063
The overlay opacity doesn't appear to be properly animated.

[2016-07-18 10:16] paulrouget commented on #12058
Overscroll issue.

[2016-07-18 10:19] paulrouget commented on #12049
This is not really actionable.

Can you break down the different problems in different issues with reduced test cases?
See https://github.com/servo/servo/wiki/WebCompatBug

[2016-07-18 10:26] paulrouget commented on #12012
This is supposed to be supported, but apparently, browserhtml doesn't throttle the tab.

See https://github.com/browserhtml/browserhtml/issues/1188

[2016-07-18 10:39] paulrouget commented on #12124
This is not really actionable.

Can you break down the different problems in different issues with reduced test cases?
See https://github.com/servo/servo/wiki/WebCompatBug

[2016-07-18 10:49] paulrouget commented on #12105
That's … interesting. Links are swapped? So it's not a hittest issue.

[2016-07-18 10:53] paulrouget commented on #12148
I think it has to do with the location  of the cursor on the initial scroll. If the cursor is on the right part of the page before the page loads, it appears to work.

[2016-07-18 11:21] TorstenScheck opened #12489 "util::opts::print_usage panics on broken pipe"
Not a major use case, but not nice nevertheless.

How to reproduce:
[code]

[2016-07-18 11:30] paulrouget commented on #12039
I hit this bug pretty often. bhtml race maybe. bhtml issue: https://github.com/browserhtml/browserhtml/issues/1189

[2016-07-18 11:47] paulrouget commented on #12278
How does it work in Gecko? Do we use some widget code?

[2016-07-18 12:47] paulrouget commented on #12422
@ConnorGBrewster don't you think we should remove CmdQ from bhtml and only rely on Servo's to handle this?

[2016-07-18 12:48] paulrouget commented on #12453
Related: https://github.com/servo/servo/issues/7304

[2016-07-18 13:02] kilobtye opened #12491 "<input> layout wrong with transform"
Test case:

[code]

Screenshot:
![screenshot from 2016-07-18 20-52-33](https://cloud.githubusercontent.com/assets/4321081/16915365/b250fa12-4d29-11e6-8250-d2e6c0dd32a6.png)
Does not happen without overflow: auto, see #12364

[2016-07-18 13:12] kilobtye opened #12492 "<textarea>'s content affects layout"
Test case:
[code]
Screenshot:
![screenshot from 2016-07-18 21-03-17](https://cloud.githubusercontent.com/assets/4321081/16915632/39e0e93c-4d2b-11e6-943b-d2aeffeb8a6e.png)

[2016-07-18 13:22] jdm commented on #12466
@mephisto41 Please do!

[2016-07-18 13:30] ConnorGBrewster commented on #12422
@paulrouget yeah we can do that.

[2016-07-18 13:31] ConnorGBrewster commented on #12039
I believed this is fixed https://github.com/browserhtml/browserhtml/pull/1166

[2016-07-18 13:32] jdm commented on #12278
My understanding is that Gecko uses native widgets.

[2016-07-18 13:33] jdm commented on #12039
Closing, in that case.

[2016-07-18 13:33] #12039 closed

[2016-07-18 13:35] jdm commented on #12489
I don't think there's anything we can do about this, since the stdio stdout printing functions internally panic when errors are encountered.

[2016-07-18 13:36] jdm commented on #12124
@paulrouget The action is breaking it down into minimal testcases ;)

[2016-07-18 13:40] jdm commented on #11494
It's working again! Thanks for the tip, @UK992!

[2016-07-18 13:40] #11494 closed

[2016-07-18 13:56] benwaffle commented on #12049
- flexbox (#12453)
- SVG \<symbol\>
- non-standard CSS `appearance: none`
- `<input type=range>`

[2016-07-18 13:56] Ms2ger commented on #12460
It's an old(-ish?) warning, but it's off by default.

[2016-07-18 14:57] asajeffrey opened #12494 "Send Rust log messages to Console.log"
At the moment, Rust `log!` messages get sent to stderr, and are collected for issue reporting. We should think about sending them to `Console.log` as well (at least the ones from a thread associated with a pipeline.) cc @nox

[2016-07-18 15:37] jdm commented on #12494
Firefox's web consoles show messages that are directly related to page content. I'm not convinced that our internal logging is a good fit.

[2016-07-18 15:52] asajeffrey commented on #12494
If we're generating lots of internal errors, wouldn't a web developer want to know about them? (Of course, we shouldn't be generating errors but that's another matter.)

[2016-07-18 16:12] jdm commented on #4283
Another problem with the branch that @mmatyas encountered - AutoExecutionStack decreases the entrance counter value in its destructor, but the value is never increased anywhere, so we get underflow panics.

[2016-07-18 16:12] jdm commented on #4283
https://html.spec.whatwg.org/multipage/webappapis.html#prepare-to-run-script is the missing step there.

[2016-07-18 16:19] jdm commented on #12494
I believe the general rules of thumb are:
* does the web developer need to know anything about servo's internals to understand the message?
* can the web developer change the page to make the warning/error disappear?
* is there a clear correlation between the message and the specific page content that triggered it?
I doubt those are true for most of the logging we spit out.

[2016-07-18 16:27] asajeffrey commented on #12494
Possibly true. I can imagine cases where a webdev is trying to get a page to work, and is unaware that it's not working because of some internal error within servo. It's tricky though, because like you said, most of our internal errors are, er, not exactly fit for public consumption.

[2016-07-18 18:04] ice9js commented on #12350
I'd like to get on this if I may.

[2016-07-18 18:31] ConnorGBrewster commented on #12350
@ice9js go for it!

[2016-07-18 18:53] Gozala commented on #12144
I'm not actually blocked, as I was able to workaround issues. It's just what the issue was was not obvious and once I figured it out I have created issue so it can be fixed.

This is simplification of the following view (which already has workarounds in place if I recall correctly) https://github.com/browserhtml/browserhtml/pull/1015/files#diff-ffe8bca512bec3902f7acb2a95a47644R363 and is basically

[2016-07-18 21:26] larsbergstrom commented on #11124
This also blocks running in a VMWare Windows 10 installation, failing with:
[code]

[2016-07-18 21:56] #12350 closed

[2016-07-18 22:41] metajack commented on #11124
According to https://kb.vmware.com/selfservice/microsites/search.do?cmd=displayKC&docType=kc&externalId=2139606&sliceId=1&docTypeID=DT_KB_1_1&dialogID=124416581&stateId=0%200%20124430259 it should support OpenGL 3.3 Core Profile, which I thought was more than enough for our purposes.

@glennw thoughts?

[2016-07-18 23:05] glennw commented on #11124
Yes, 3.3 core should be more than what we need.

I think the issue is that our logic for selecting a GL context needs to be a bit more robust. We should try 2-3 different version / compatibility profiles rather than just failing if the preferred version / profile fails.

[2016-07-18 23:45] DDEFISHER commented on #10933
@craftytrickster Sorry for not getting back to you quicker. I would not mind you picking it up.

[2016-07-19 00:25] craftytrickster commented on #10933
Hi @DDEFISHER , no need to apologize. Since I did not hear from you and since it has been quite some time since I opened the issue, I went ahead and did a lot of work on this one over the past few days, I am nearly finished already putting together the PR. I hope you do not mind.

[2016-07-19 00:30] DDEFISHER commented on #10933
no problem

[2016-07-19 07:04] DemiMarie commented on #12474
By "sound", I mean that code that does not use `unsafe` should not be able to create a "GC hole" (term taken from CoreCLR – an unrooted variable that causes use-after-free).

[2016-07-19 07:21] sjmelia commented on #12343
I do intend to work on this, just a little busy these last few weeks.

I'll implement manishearth's suggestion as fiddling with the interfaces exposed to JS does sound like fun, and if necessary I can always pick up another case to back it out in favour of, or complement it with; a webdriver test.

Would it be possible to isolate the activation behaviour with a unit test? I.e. in Rust. Of course t

[2016-07-19 07:48] Manishearth commented on #12343
We'd have to initiate all the JS/DOM stuff. It's doable, but I'm not sure if we should be doing it 😄

[2016-07-19 08:39] easyinplay commented on #12125
i am ready

[2016-07-19 10:02] elioqoshi commented on #3893
@notriddle Love the last version! This is what I came up with, with your icon and a lightly muted red (Rust, but not that ugly)
![1](https://cloud.githubusercontent.com/assets/5436686/16946193/9e5ee3aa-4da8-11e6-9f67-3672c03305d1.png)

[2016-07-19 10:12] Coder206 commented on #3893
I think these last few proposals remind of Apple's app store logo. See here: https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTNJYh4FWVbTPJ7nFMDaHv_JnZrb0yVkbdj9fjUx1aIZacUgYa0

[2016-07-19 10:29] Jayflux commented on #10893
@zeusintuivo do you actually need Visual Studio now?
I remember Microsoft doing some work in their SDK so you could get Visual C++ and all the gubbins without having download Visual Studio.

They released Visual C++ build tools (install using the Default Install option)
http://landinghub.visualstudio.com/visual-cpp-build-tools

[2016-07-19 10:31] Jayflux commented on #10893
[code]

[2016-07-19 10:35] Ms2ger commented on #12494
It might be useful for our own sake if there was a way to hide those warnings by default…

[2016-07-19 10:39] Coder206 commented on #10893
@Jayflux thanks! I was curious to know if it was possible.

[2016-07-19 10:57] fbender commented on #3893
That could be rectified by making the straight lines less thick

[2016-07-19 11:00] Coder206 commented on #3893
@fbender I like your suggestion!

[2016-07-19 11:34] zeusintuivo commented on #10893
@Jayflux Thanks, About the  Visual C++ build tools, I did not know about those. But if you can try it and if it works. Then you could update the Post. Notice, I made two virtual machines with both 32 and 64 bits. I tried several things and even based on Mozilla's building requirements Visual Studio 2015 was recommended. I hate installing such a huge amount of data as well by installing VB.

I have

[2016-07-19 12:06] zeusintuivo commented on #10893
To answer your question: "Have servo build on Windows without the need of msys/mingw" Right now the answer is: NO. you cannot. Someone will have to change the code to start using Microsoft libraries instead of mingw's.

[2016-07-19 12:37] samuknet opened #12503 "Uint8Array 'invalid arguments' error when using array buffer from XMLHTTPRequest"
Encountered some unusual results when using an XMLHTTPRequest with `responseType` set to `arraybuffer` - Servo throws an 'invalid arguments' error when trying to create a `Uint8Array` from the XMLHTTPRequests' array buffer response.

Code:

[code]

Live example of the issue at:
[https://samuknet.github.io/test_cases/xhrUint8Array/](https://samuknet.github.io/test_cases/xhrUint8Array/)

Also was wo

[2016-07-19 12:39] samuknet opened #12504 "Implement CSS scroll-snap-type"
Are there any current plans to implement this (and other related properties)?  It is a really useful property and would make for some cool demos.

[2016-07-19 12:47] zeusintuivo commented on #10893
@Jayflux also notice that you only posted the 64bit solution, the libraries for 32bits, are named i686

[2016-07-19 13:24] jdm commented on #12504
This is tracked in #7673. If it's something we should prioritize, please let us know!

[2016-07-19 13:24] #12504 closed

[2016-07-19 13:26] jdm commented on #12503
Uint8/DataView/ArrayBuffer should all work as expected in JS. However, our support for APIs that accept these types as arguments is _very_ spotty. We should definitely look into cases where we return them and they don't behave correctly, however.

[2016-07-19 13:28] thejustsoul commented on #12125
Make if possible Portable mode for Windows, without any installer, and store configs\data in program folder.

[2016-07-19 13:41] Jayflux commented on #10893
Which code is this?
Do you have any examples?

[2016-07-19 13:43] larsbergstrom commented on #11307
I think that there are two issues here:

1) The high-level issue identified here with polling for events, due to windowing library limitations

2) Threads panicking and never delivering shutdown messages to the main thread, causing it to continue to poll endlessly.

I believe that #2 is what we're seeing pretty reliably here on Windows. I'm trying to track down better call stacks now.

[2016-07-19 13:48] vvuk commented on #10893
We're switching almost all dependencies to cmake in issue #11756 -- this will remove most of the dependencies on msys, because we'll use cl and msbuild to build most binary pieces.  servo/components/script will require the ninja build tool (just a single .exe download) due to parallelism issues in msbuild, still built with cl.

However, spidermonkey (mozjs) will continue to require a number of the

[2016-07-19 13:54] larsbergstrom opened #12505 "Geckolib does not build on Windows"
See: http://build.servo.org/builders/windows-dev/builds/0

[code]

cc @emilio @upsuper

[2016-07-19 14:22] Manishearth commented on #12503
We don't support `oReq.responseType = 'arraybuffer';` yet, the response is a string.

This is blocked on getting proper arraybuffer bindings I think.

[2016-07-19 15:09] larsbergstrom commented on #7578
We are now shipping Servo Nightly builds. I think we need to get this fixed or remove this dependency ASAP.

[2016-07-19 15:10] frewsxcv commented on #7578
A short term alternative would be to strip the GPL parts for now (leaving copy + paste broken on Linux) and shipping that.

[2016-07-19 15:12] larsbergstrom commented on #7578
That would be fine to me. We absolutely cannot be linking GPL code into Servo.

cc @metajack

[2016-07-19 15:14] metajack commented on #7578
@frewsxcv Are you going to do this work? It seems like it would be acceptable to put the GPL code behind a non-default feature gate. Alternatively we could not call that code so that it's not linked in. But I'm wary of solutions that may regress without us watching if the code is not excised from rust-clipboard.

[2016-07-19 15:16] frewsxcv commented on #7578
My `$DAYJOB` and `$FOSS` queues are pretty long right now, so I wouldn't be able to get to it soon. Wish I could, but it's not feasible for me right now.

[2016-07-19 15:16] ollyja commented on #12015
Tried last nightly. same issue on Fedora 24.

[2016-07-19 15:37] asajeffrey opened #12508 "Disable clipboard"
https://github.com/aweinstock314/rust-clipboard/blob/master/src/x11_clipboard.rs is GPL licensed, so we should disable clipboard.

[2016-07-19 15:39] asajeffrey commented on #12508
Duplicate of #7578

[2016-07-19 15:39] #12508 closed

[2016-07-19 16:49] mpaolini commented on #12095
same issue here with `Servo 0.0.1-589c6ee`

[2016-07-19 17:16] jdm commented on #12095
Let's change `AuthCache.entries` to be a hashmap using [Origin](http://doc.servo.org/url/enum.Origin.html) keys instead of `Url`. We can obtain an origin value by calling the [origin](http://doc.servo.org/url/struct.Url.html#method.origin) method of `Url`.

Code: `components/net/resource_thread.rs`
Test: We should [write a reference test](https://github.com/servo/servo/blob/master/tests/wpt/README

[2016-07-19 17:16] highfive commented on #12095
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-19 18:12] jdm opened #12512 "Windows builds with updated msys/mingw gcc segfault while building skia"
[code]

[2016-07-19 19:23] ice9js commented on #12415
I would like to take this, but I need to make sure I know what's to be done. From what I understand, I need to go through all webidls in ```components/scripts/dom/webidls```, and expose ```Window``` or ```Worker``` only where it appears in the specification ?

Also, is there any particular way you would like me to split this up so it doesn't go into one PR ?

[2016-07-19 19:25] jdm commented on #12415
I would choose an arbitrary number of interface that isn't too large like 10. And yes, that is correct.

[2016-07-19 19:34] asajeffrey opened #12513 "Increase concurrency between script and layout"
Implement a finer-grained locking strategy (or preferably lock-free) to allow script to run in parallel with layout more than it currently does. cc @metajack

[2016-07-19 19:35] asajeffrey commented on #12513
IRC conversation with @pcwalton http://logs.glob.uno/?c=mozilla%23servo&s=19+Jul+2016&e=19+Jul+2016#c484008

@jdm points out https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model

[2016-07-19 20:04] woshilapin commented on #12415
Hi there, I'd like to help also on this one. I'm still trying to understand exactly what to do but, @ice9js, could you tell which webidl you're going to modify so we don't overlap?

[2016-07-19 20:07] larsbergstrom commented on #12125
It looks like this is going to take a couple more days, but we've made really great progress. Sorry for the delay! There's... a lot to fix :-(

[2016-07-19 20:18] Coder206 commented on #12125
@larsbergstrom I am planning on finishing up (cherry pick) with #11969 on Friday. Then, I would be happy to assist on any other issues blocking Windows.

[2016-07-19 20:22] larsbergstrom commented on #12125
@Coder206 That sounds great! Once @metajack and I finish looking into & debugging the last remaining issues, the MSI will be up and we'd certainly appreciate having others look at it and help find other bugs before we announce / link it from the downloads page.

[2016-07-19 20:23] Coder206 commented on #12125
@larsbergstrom OK great! Looking forward to getting back into the action!

[2016-07-19 20:25] Coder206 commented on #12125
@larsbergstrom @metajack Happy debugging! :-)

[2016-07-19 20:31] jdm commented on #12308
Removing the "less easy" tag until there are instruction on how to tackle this.

[2016-07-19 20:32] jdm commented on #11855
@Coder206 Have you made any progress here?

[2016-07-19 22:05] pcwalton commented on #11818
This could have something to do with dirty bits. Perhaps we are checking different dirty bits in parallel mode and sequential mode and incorrectly bailing out earlier in the latter?

[2016-07-19 22:06] metajack commented on #11818
Would disabling incremental layout make the problem go away in that case? That seems like an easy test.

[2016-07-19 22:06] pcwalton commented on #11818
Yes, it's worth a shot!

[2016-07-19 23:52] rzambre commented on #12303
adb logcat message of a thread-panic on the release Android build:

ndk-gdb backtrace of the thread-panic:

   from /Users/rzambre/Documents/servo/servo-android/support/android/apk/obj/local/armeabi/libmain.so
(gdb) bt
#0  0xdce84da8 in rust_panic () from /Users/rzambre/Documents/servo/servo-android/support/android/apk/obj/local/armeabi/libmain.so
#1  0xdce6fd68 in std::panicking::rust_panic_with_

[2016-07-20 00:38] Coder206 commented on #11855
@jdm Unfortunately, not too much since you recommended using a local server to host the worker. I am still trying to overcome an error caused by self.script_chan(). If I recall correctly: the compiler was saying something like "self cannot be found", whether it didn't seem to be able to find script_chan(). I hope by Friday to have more time to work on it in the next couple of days. I apologize for

[2016-07-20 01:39] #12505 closed

[2016-07-20 04:57] jdm opened #12516 "Intermittent timeout in /eventsource/dedicated-worker/eventsource-prototype.htm and /eventsource/dedicated-worker/eventsource-url.htm"
[code]
cc @creativcoder. We should fix this ASAP to avoid more intermittent failures.

[2016-07-20 05:09] shinglyu commented on #12453
@stshine : Seems like you have big plans for flexbox, would you mind sharing your plan here?

[2016-07-20 06:05] stshine commented on #12453
You can take a look at my tree, it is an implementation of most basic flexbox features :) After I submit that I will reply here with some remaining important features I gathered and the technical difficulties to implement them.

[2016-07-20 06:19] creativcoder commented on #12516
Making a PR for that soon.

[2016-07-20 06:51] ice9js commented on #12415
@woshilapin Sure. We can just split it in half alphabetically. I will do everything from ```Attr.webidl``` to ```HTMLOutputElement.webidl```. Everything from ```HTMLParagraphElement.webidl``` on, I'll leave up to you.

[2016-07-20 08:40] sole opened #12519 "Servo Nightly consuming all memory, bringing system to a halt (Mac OS X 10.11.5)"
I downloaded Nightly yesterday, tried a few things and then closed it with the "quit Servo" menu option. Then I left my laptop unattended for a while, and when I came back an hour and a half later, there was a Mac OS pop up saying that all memory on the system had been exhausted and every application had been paused. I could open Activity Monitor to see who was the culprit of this exhaustion and..

[2016-07-20 09:09] shinglyu opened #12520 "env::current_exe().expect() panic when running in Gecko reftest"
When I run Stylo-enabled firefox in reftest (`./mach reftest`), firefox crashes because the code in [components/util/resource_files.rs](https://github.com/servo/servo/blob/master/components/util/resource_files.rs#L39) failed to get the `env::current_exe()`. This function is called when `properties.mako.rs` wants to find if a PropertyDeclaration is experimental, by getting the `prefs.json` from `re

[2016-07-20 09:11] Manishearth commented on #12520
current_exe() might not work if the outer program is not a Rust one.

We should just fallback to default prefs there.

[2016-07-20 09:29] shinglyu commented on #12520
OK, I'll try submitting a patch for that.

[2016-07-20 11:24] #12420 closed

[2016-07-20 12:31] woshilapin commented on #12415
Nice, thanks :-)

[2016-07-20 13:17] chenpighead commented on #11487
Seems this bug can only be reproduced when setting percent value to max-width. If I set px/em to max-width, everything works fine. Interesting!!!!

[2016-07-20 13:21] #12401 closed

[2016-07-20 13:45] jdm commented on #12303
I was surprised to learn that the in-process ipc-channel implementation uses RefCell in OsIpcSender - https://github.com/servo/ipc-channel/blob/master/platform/inprocess/mod.rs#L139 . That being said, it's not clear to me where the sender would be mutable borrowed at the same time...

[2016-07-20 13:49] jdm commented on #12303
I wonder if the issue is that we have `unsafe impl Sync for OsIpcSender { }`, which is clearly incorrect in the presence of refcells.

[2016-07-20 14:32] jdm commented on #12303
@rzambre See if building with https://github.com/servo/ipc-channel/pull/89 improves the situation?

[2016-07-20 16:22] asajeffrey commented on #10481
Not been reported for a while.

[2016-07-20 16:22] #10481 closed

[2016-07-20 16:24] asajeffrey commented on #11246
Fixed by #12468

[2016-07-20 16:25] asajeffrey commented on #11291
Fixed by #12468

[2016-07-20 16:25] asajeffrey commented on #11248
Fixed by #12468

[2016-07-20 16:29] asajeffrey commented on #11802
Fixed by #12468

[2016-07-20 16:29] asajeffrey commented on #11837
Fixed by #12468

[2016-07-20 17:47] larsbergstrom commented on #12512
I suspect this is related to having a newer GCC version. The Windows builder has no problem, but is on gcc 5.3.0-5, whereas the latest pull is GCC 6.1.0-1.

I can reproduce this ICE on my local windows box with that GCC.

[2016-07-20 18:38] #7578 closed

[2016-07-20 19:12] rzambre commented on #12303
servo/ipc-channel#89 fixes the LayoutWorker-panics :) Closing this issue.

[2016-07-20 19:36] #12120 closed

[2016-07-20 20:40] canaltinova commented on #10280
This bug seems fixed in my locale. I'm closing this issue.

[2016-07-20 20:40] #10280 closed

[2016-07-20 20:56] marcusball commented on #12512
I'm also getting this error on a fresh install of Windows 10, and followed the setup instructions exactly.

[2016-07-20 20:57] larsbergstrom commented on #12125
Well, we *finally* got the upload step working and have published something... but it's missing servo.exe, so not particularly useful :-/

I'll work on fixing it ASAP, and the following link should have something more useful tomorrow:
https://download.servo.org/nightly/windows/servo-latest.tar.gz

[2016-07-20 20:59] larsbergstrom opened #12523 "Windows package is missing files"
The Windows package (seen here: https://download.servo.org/nightly/windows/servo-latest.tar.gz) is missing some contents:

1) servo.exe is not packaged

2) there is a runservo.sh instead of runservo.cmd or runservo.bat

We plan to switch to an MSI (see https://github.com/servo/servo/pull/11967), but it'd be nice to just have a working package of some form for right now.

[2016-07-20 21:28] larsbergstrom commented on #12512
@marcusball I'm seeing it, too, and have changed the title to reflect that things are pretty broken. I suspect we're going to have to figure out what the right `pacman` incantation is to pin gcc to an older version, at least until the migration to building with the MSVC stack lands.

[2016-07-20 21:34] larsbergstrom commented on #12512
Oh, ick, it looks like mingw doesn't support installing older versions of packages without direct access to the files:
http://stackoverflow.com/questions/33969803/how-to-obtain-older-versions-of-packages-using-msys2

[2016-07-20 22:26] jdm opened #12527 "ByteString isn't supported in a union"
Blocks #11897.
[code]

[2016-07-20 22:34] jdm opened #12528 "`sequence<sequence<long>>` isn't supported as an argument"
[code]
yields
[code]

[2016-07-20 22:38] jdm opened #12529 "Binding code generation is slow"
Start with a pristine build. Modify `TestBinding.webidl` file and run `./mach build`. Watch how long until the generated bindings file is modified (>1min for me). We should be able to parallelize this by running multiple Python instances, I think.

[2016-07-20 22:52] marinintim commented on #12095
I'd like to try to tackle this issue

[2016-07-20 22:55] jdm commented on #12527
It goes into the `else` codepath in `getUnionTypeTemplateVars` that returns the commented-out type name. This should be a straightforward fix to add a branch like the `USVString` one. We should add a use of this to `TestBinding.webidl` and `testbinding.rs` to verify that it does the right thing.

Code: `components/script/dom/bindings/codegen/CodegenRust.py`

If the changes to `TestBinding.webidl`

[2016-07-20 22:56] highfive commented on #12527
cc @wafflespeanut

[2016-07-20 22:56] highfive commented on #12527
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-20 22:59] woshilapin commented on #12415
Builds are failing, don't loose time on reviewing them, I'm gonna investigate.

[2016-07-20 23:00] malisas commented on #12527
I'll work on this.

[2016-07-20 23:06] jdm commented on #12095
@marinintim Please do! Ask questions if anything is unclear.

[2016-07-20 23:18] jdm commented on #12528
The problem is caused by using `type.unroll()` rather than `type.inner` in various places in `Codegen.py`. However, if a sequence type is nullable, we actually need `type.inner.inner`.

[2016-07-20 23:37] adamncasey opened #12531 "Table cell vertical alignment impacted by line-height"
[code]

In Firefox, Chrome & Edge the text in these two cells is vertically aligned.

In Servo, the text in the first cell (with larger line-height applied) appears lower on the page than the text in the second cell.

I had a look around `layout/table*.rs` but failed to make much headway. In https://github.com/servo/servo/blob/2d01d41a506bcbc7f26a2284b9f42390d6ef96ab/components/layout/table_row.rs

[2016-07-21 00:35] larsbergstrom opened #12532 "Code sign Servo binaries"
Based on conversations with the Firefox signing team, we should probably:

1. Obtain 2-3 keys per platform. These are:
  * Self-signed/fake key for try and CI builds
  * One for signing Nightly/Aurora builds
  * One for signing Beta/Release builds

Obviously, since we don't have trains, probably just two for now (CI & Nightly).

2. Currently, handle signing ourselves in our buildbot instances.

3.

[2016-07-21 00:35] highfive commented on #12532
cc @aneeshusa

[2016-07-21 00:40] aneeshusa commented on #12532
+1 for getting this done. A couple questions to start, I'm sure I'll think of more later:

- Should we be doing signing on the Buildbot workers or the Buildbot master? Is there any way to attach an HSM to the master instance to store the keys?
- How about key rotation? What's the recovery plan in case of key loss or accidental publication (e.g. revocation)?
- I'm guessing we will use GPG keys for

[2016-07-21 01:03] aneeshusa commented on #12435
How about doing 10 repetitions for regular builds as a spot check, and 300 (or 100, etc.) on a nightly build to stress test?

[2016-07-21 01:09] woshilapin commented on #12415
Should we keep a track of which webidl file has been already reviewed?  I'm proposing a list in the following comment (may be better to have it in the first comment?).

[2016-07-21 01:09] marcusball commented on #12512
The issue appears to be stemming from servo-skia `0.20130412.8` which is a dependency of the `azure` crate. Newer versions of servo-skia seem to be working, though.

[2016-07-21 01:10] woshilapin commented on #12415
* [ ] Attr.webidl
* [ ] BeforeUnloadEvent.webidl
* [ ] Blob.webidl
* [ ] BluetoothAdvertisingData.webidl
* [ ] BluetoothCharacteristicProperties.webidl
* [ ] BluetoothDevice.webidl
* [ ] BluetoothRemoteGATTCharacteristic.webidl
* [ ] BluetoothRemoteGATTDescriptor.webidl
* [ ] BluetoothRemoteGATTServer.webidl
* [ ] BluetoothRemoteGATTService.webidl
* [ ] BluetoothUUID.webidl
* [ ] Bluetooth.webidl

[2016-07-21 01:41] asajeffrey commented on #12435
For the regular build, is 10 much better than 1? Perhaps we should just leave the regular build alone, and add a stress test to a nightly build.

[2016-07-21 01:42] larsbergstrom commented on #12512
Hrm, I seem to get the same error with `.11`:
[code]

[2016-07-21 01:46] asajeffrey commented on #12516
The same root cause?
[code]

[2016-07-21 01:47] shinglyu commented on #12453
A few websites we can use as benchmark, suggested by Soledad Penadés and Belén Albeza:

* https://philipwalton.github.io/solved-by-flexbox/
  * It is a very popular website that people refer a lot to. The CSS code for each showcase is at the bottom of the page too so you can see which properties are in use.
* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * "the guide at CSS tricks is wh

[2016-07-21 02:15] marcusball commented on #12512
Ah, yes. We probably have different system setups. I have Visual Studio installed, so [changes from literally two days ago](https://github.com/servo/skia/commit/714d13598ec8f54e8993b46a9fd9565e10230385) mean that my system is now using MSVC to compile skia `>= .11`. For me, skia `.11` will compile, however only after a patch to the subsequent dependency of `expat-sys`, as that was throwing a bunch

[2016-07-21 02:41] emilio opened #12534 "Style sharing candidate cache code is probably not working as intended."
We basically end up never sharing in normal websites.

Just tested with the following patch applied:

[code]

And I've never been able to hit this panic within normal browsing.

Just did a test run locally with this patch applied of `./mach test-css`, and the results were:

[code]

Presumably the unexpected passes are due to font or similar issues. All the 601 tests that crashed (or at least, ever

[2016-07-21 02:51] asajeffrey commented on #12516
I think this is blocking #12468, perhaps the thing to do is just to disable `/eventsource/dedicated-worker/eventsource-constructor-non-same-origin.htm` and `/eventsource/eventsource-constructor-non-same-origin.htm`, which are the consistenly failing ones.

[2016-07-21 03:20] marcusball commented on #12512
An interesting behavior, that may just be a red herring, is that, if you modify line 316, just above the function at which this error is occurring, and change `#define DUMP_EDGE 0` to have a value of `1`, then this particular file will compile; however, it'll fail with a similar error on a subsequent file. This makes me think it's something weird going on with the `pack_distance_field_val` method,

[2016-07-21 03:26] #12396 closed

[2016-07-21 06:05] rmsEfx commented on #12523
What should I need to be installed to run runservo.sh on Win 7 64bit?

[2016-07-21 06:20] rmsEfx commented on #12523
First try:
`$ cd c:\servo

$ dir
build  resources  runservo.sh

$ sh runservo.sh
runservo.sh: line 2: ./servo: No such file or directory
`

[2016-07-21 07:30] Obikawa commented on #12139
./mach -v run -d --browserhtml -Z full-backtraces &> crash.log

https://gist.github.com/Obikawa/6d03efc3f687efdd6d9a35b4dcf9ced2

[2016-07-21 07:41] KiChjang commented on #12352
@tallowen Are you still working on this issue?

[2016-07-21 09:04] bkerensa commented on #3893
If someone does not know what a centrifugal governor is the more modern iterations might look like male anatomy to most folks.

Just a thought

[2016-07-21 09:14] avadacatavra commented on #11818
Here's the test run in sequential mode with incremental layout disabled. Didn't go away :(

<img width="1224" alt="screenshot 2016-07-21 11 12 39" src="https://cloud.githubusercontent.com/assets/11877868/17017570/26d4c1be-4f34-11e6-8b92-4544c7f49679.png">

[2016-07-21 09:35] nox commented on #3893
This doesn't make me think about a browser engine, this makes me think of [Git's logo](https://git-scm.com/images/logo@2x.png).

[2016-07-21 10:12] #12520 closed

[2016-07-21 12:37] jdm commented on #12516
#12518 should fix it today.

[2016-07-21 12:38] jdm commented on #12139
Looks like any of the fonts at https://dxr.mozilla.org/servo/source/components/gfx/platform/freetype/font_list.rs#141 should satisfy.

[2016-07-21 13:19] antrik commented on #12303
Please reopen this issue: the PR that supposedly fixes it hasn't even landed in `ipc-channel` yet; and when that's done, the fixed `ipc-channel` still needs to be actually pulled into servo...

[2016-07-21 13:40] jdm opened #12540 "Intermittent timeout in /2dcontext/fill-and-stroke-styles/2d.gradient.radial.negative.html"
[code]

[2016-07-21 14:19] johannhof opened #12542 "Escape injected URLs in servohtmlparser"
In #12539 we almost introduced an XSS vulnerability by injecting the unescaped URL into the neterror.html page. We do the same injection for displaying images. We should find a way to escape these.

[2016-07-21 14:25] jdm commented on #12542
"for displaying images"?

[2016-07-21 17:23] #11838 closed

[2016-07-21 17:46] asajeffrey commented on #11246
Closed by #12468.

[2016-07-21 17:46] #11246 closed

[2016-07-21 17:46] asajeffrey commented on #11291
Closed by #12468.

[2016-07-21 17:46] #11291 closed

[2016-07-21 17:47] asajeffrey commented on #11248
Closed by #12420 and #12468.

[2016-07-21 17:47] #11248 closed

[2016-07-21 17:47] asajeffrey commented on #11802
Closed by #12468.

[2016-07-21 17:47] #11802 closed

[2016-07-21 17:47] asajeffrey commented on #11837
Closed by #12468.

[2016-07-21 17:47] #11837 closed

[2016-07-21 19:25] #8640 closed

[2016-07-21 20:28] #12528 closed

[2016-07-21 21:30] #12303 closed

[2016-07-22 01:13] aneeshusa commented on #12231
This was fixed with servo/saltfs#442.

[2016-07-22 01:13] #12231 closed

[2016-07-22 02:31] shinglyu commented on #12453
@stshine Your work is pretty impressive! I'm still reading the whole patch, is there any feature/fix I can do in parallel when you are preparing the patch?

[2016-07-22 03:17] ConnorGBrewster commented on #12189
Fixed #11950?

[2016-07-22 03:41] #12527 closed

[2016-07-22 04:25] ConnorGBrewster opened #12550 "Browserhtml content not resized when window is resized."
From the latest nightly: (7/21/2016)
<img width="1407" alt="screen shot 2016-07-21 at 10 21 08 pm" src="https://cloud.githubusercontent.com/assets/9086315/17046530/a3aa253c-4f91-11e6-8018-2c7663169aab.png">

There are also black lines at the top and bottom of the windows that were not previously there.

[2016-07-22 04:31] ConnorGBrewster opened #12551 "Implement Runnable::name for WebSocket Runnables."
Each Runnable in `websocket.rs` needs to implement the `Runnable::name` method. It needs to return the name of the Runnable as a `&'static str`.

Runnables:
`ConnectionEstablishedTask`
`BufferedAmountTask`
`CloseTask`
`MessageReceivedTask`

---
code: `components/script/dom/websocket.rs`
example: https://dxr.mozilla.org/servo/source/components/script/dom/document.rs#2919
No tests are needed, it jus

[2016-07-22 04:31] highfive commented on #12551
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-22 04:44] #11669 closed

[2016-07-22 05:48] cynicaldevil commented on #12551
I'll take it!

[2016-07-22 06:59] stshine commented on #12453
Glad your appreciate it :laughing:
One thing you may interested is [Implied Minimum Size of Flex Items](https://drafts.csswg.org/css-flexbox/#min-size-auto). To do this you may need to change the type of `min-{width, height}` in `position.mako.rs` to `LengthOrPercentageOrAuto`. Then in `flex.rs' when the computed value of `min_inline_size` is `Auto` and `overflow` is `visible`, set the `min_size`

[2016-07-22 08:06] Manishearth opened #12553 "Intermittent crash in /css-transforms-1_dev/html/svg-rotate-angle-90-014.htm and /css21_dev/html4/border-right-018.htm and /css-transforms-1_dev/html/transofrmed-rotateY-1.htm"
cc @asajeffrey looks like things are out of order during shutdown?

[code]

[2016-07-22 08:15] djc commented on #12312
So I have the simple parts of this done. However, I ran into an issue where in `gfx::paint_thread::PaintThread` the `select!` macro is used over `layout_to_paint_port`, which is now of the IPC variety, and `chrome_to_paint_port`, which is an mpsc channel. Not sure how best to resolve this.

[2016-07-22 09:10] tallowen commented on #12352
Yes - I went unexpectedly off the grid for a week. Sorry about the delay!

On Thu, Jul 21, 2016 at 9:41 AM, Keith Yeung <notifications@github.com>
wrote:

--
Owen Coutts

--
Email: owen@owencoutts.com
Phone: 206.651.4004

[2016-07-22 09:11] samuknet opened #12554 "Width of container with IFrame inside resets when a link in the IFrame is clicked"
**Width of container with IFrame inside resets when a link in the IFrame is clicked.  The issue only occurs when the container has a transition on the width property.**

**See test case at: [https://samuknet.github.io/test_cases/iframeWidthReset/](https://samuknet.github.io/test_cases/iframeWidthReset/)**

There is an IFrame in a container 'strip'.  The IFrame is styled to have a width and height

[2016-07-22 09:22] nwin commented on #7722
Looks exactly the same here with the latest version of Servo. OSX 10.11 @ Intel HD 4000.

Beside that the acid page does not seem to load at all, had to use the local version (`tests/html/acid2.html`)

[2016-07-22 09:23] nwin commented on #4033
Seems to be fixed now, #7722 is still persistent though.

[2016-07-22 09:23] #4033 closed

[2016-07-22 09:25] nwin commented on #3825
Seems to have improved slightly.

![screenshot](https://cloud.githubusercontent.com/assets/949560/17052715/f0837404-4ffe-11e6-99d0-2c9cb2bb47c8.png)

[2016-07-22 11:10] timvandermeij commented on #12516
Fixed by #12518?

[2016-07-22 11:50] Ms2ger opened #12555 "Implement FileReader::readAsArrayBuffer"
Blocks #10778.
- Spec: https://w3c.github.io/FileAPI/#readAsArrayBuffer.
- Code: `components/script/dom/filereader.rs`.
- Test: `FileAPI/idlharness.html`, `FileAPI/idlharness.worker`, `FileAPI/reading-data-section/FileReader-multiple-reads.html`, `FileAPI/reading-data-section/filereader_readAsArrayBuffer.html`, `FileAPI/reading-data-section/filereader_result.html`.

This will probably involve some

[2016-07-22 13:28] larsbergstrom commented on #12125
As an update, @metajack has figured out a good solution to our font loading issues and should have some code to tack on to #12525 to have a tarball that works and does not hot spin at shutdown.

After that lands, we'll work more on getting a working MSI & manifest.

[2016-07-22 13:52] woshilapin commented on #7722
Interesting, I indeed used `http://www.webstandards.org/files/acid2/test.html#top` which was loading in a few seconds (but with the eye problem).  However, when I used `http://acid2.acidtests.org/#top`, I thought it was not loading at all and I had to kill it from terminal.  I tested another time.  In the end, it loads but it's very very long to load (a few minutes).

[2016-07-22 14:02] #12516 closed

[2016-07-22 14:06] jdm commented on #12553
Same symptom as #12540.

[2016-07-22 14:07] jdm commented on #12540
Similar symptom to #12288.

[2016-07-22 14:09] jdm commented on #12312
You want [this useful method](http://doc.servo.org/ipc_channel/router/struct.ROUTER.html#method.route_ipc_receiver_to_new_mpsc_receiver).

[2016-07-22 14:10] jdm commented on #12551
It's yours!

[2016-07-22 14:17] cynicaldevil commented on #12555
could I try my hand this too? I have already picked an easy issue but that won't take too much time to complete.

[2016-07-22 16:12] jdm commented on #12529
[code]
yields 78s on my machine after touching CodegenRust.py.

[2016-07-22 17:08] jdm commented on #12554
Reduced:
*a.html:*
[code]
*b.html:*
[code]
[code]

[2016-07-22 17:18] cbrewster opened #12561 "Intermittent TIMEOUT in /css21_dev/html4/font-variant-applies-to-008.htm and /css21_dev/html4/height-025.htm"
[code]

[2016-07-22 17:21] jdm commented on #12561
Similar symptom to #12540.

[2016-07-22 17:24] jdm commented on #12554
Interestingly, this doesn't reproduce if incremental layout is disabled (using `-i`).

[2016-07-22 18:15] #12529 closed

[2016-07-22 18:21] gaby2300 commented on #12125
Thank you all so much for your hard work, I am looking very much forward to
testing the first Windows build!!!

Many thanks!
Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

http://www.mozilla-hispano.org
http://twitter.com/mozilla_hispano
http://facebook.com/mozillahispano

On 22 July 2016 at 10:28, Lars Bergstrom <notifications@github.com> wrote:

[2016-07-22 18:22] stshine commented on #12453
#12330 is ready :) Since I am not experienced, Please give it some criticisms, especially  on the last commit to help me eliminate all the stupidty out!

[2016-07-22 19:48] KiChjang commented on #12555
@cynicaldevil Sure! This looks like an interesting issue for you. Find us here or on `irc.mozilla.org` at #servo if you have any questions.

[2016-07-22 21:15] jdm commented on #12555
One relevant JSAPI piece is probably [JS_NewArrayBuffer](https://github.com/servo/rust-mozjs/blob/master/src/jsapi_linux_64.rs#L9914).

[2016-07-22 21:19] jdm commented on #12553
[code]

[2016-07-22 21:31] #5670 closed

[2016-07-22 23:31] aneeshusa opened #12562 "Unncessary use of $LDFLAGS in components/servo/fake-ld.sh?"
Filing this as a TODO reminder for myself, but open for anyone to poke at. Follow-up from #12295.

Currently this script includes `"${LDFLAGS}"` as part of the arguments to the `arm-linux-androideabi-gcc` linker. However, based on a quick look through the `rustc` code, it seems like `rustc` will pass any linker arguments as regular args instead of through the `LDFLAGS` environment variable, and so

[2016-07-23 01:09] adamncasey commented on #12531
I found that most of the code to handle this was already there in the previously linked table_row.rs code. The child table-cells' block sizes were updated with the new value. However this only happened after the table cells have been laid out, which meant the adjusted block size did not affect the visual layout.

The problem could be fixed if the table-cells are reflow'ed after their new block siz

[2016-07-23 12:39] simartin opened #12564 "./mach test-tidy --self-test failing"
There are two failures:
test_file_list (servo_tidy_tests.test_tidy.CheckTidiness) ... FAIL
test_toml (servo_tidy_tests.test_tidy.CheckTidiness) ... FAIL

The first one is a consequence of https://github.com/servo/servo/pull/12313/commits/6c6bfdb523f5068a13422f91ed0766e6dc4575d5, the second of https://github.com/servo/servo/commit/9fa54af34794df663d02634860b8a6586f47f81b

I'm working on a patch so

[2016-07-23 13:30] jdm commented on #12564
Does this not run in .Travis.yml?

[2016-07-23 13:35] simartin commented on #12564
It does but does not fail the build... See https://github.com/servo/servo/pull/12567

[2016-07-23 18:56] simartin opened #12568 "Intermittent pass in /html/browsers/browsing-the-web/history-traversal/browsing_context_name.html"
Found during a test run for https://github.com/servo/servo/pull/12565

[code]

[2016-07-23 18:58] simartin opened #12569 "Intermittent failure in /_mozilla/mozilla/mozbrowser/iframe_visibility.html"
Found during a test run for https://github.com/servo/servo/pull/12565

[code]

[2016-07-23 20:51] marinintim commented on #12095
I'm trying to tackle test infrastructure.

@jdm, should I put new tests under tests/wpt/web-platform-tests/http/basic_auth.html?

[2016-07-23 21:20] #12551 closed

[2016-07-23 21:39] KiChjang commented on #12569
Not an intermittent.

[2016-07-23 21:39] KiChjang commented on #12568
Not an intermittent.

[2016-07-23 23:17] #12564 closed

[2016-07-24 05:06] KiChjang opened #12574 "Write a test for HTMLDialogElement#open"
Spec: https://html.spec.whatwg.org/multipage/forms.html#dom-dialog-open
Code: `components/script/dom/htmldialogelement.rs`, `components/script/dom/webidls/HTMLDialogElement.webidl`
Test: None yet, will need to write one (`./mach create-wpt tests/wpt/web-platform-tests/html/semantics/interactive-elements/the-dialog-element/dialog-open.html`)

[2016-07-24 05:06] highfive commented on #12574
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-24 05:07] vrod commented on #12574
I'll take this one.

[2016-07-24 05:07] KiChjang commented on #12574
Sure thing!

[2016-07-24 05:10] KiChjang commented on #12574
Oops, I just realized that HTMLDialogElement#open has already been implemented, but it lacks a WPT test.

[2016-07-24 05:47] KiChjang opened #12575 "Implement HTMLLIElement#value"
In order to parse the value attribute value as an integer, the `parse_plain_attribute` function from the `VirtualMethods` trait should be implemented accordingly.

Spec: https://html.spec.whatwg.org/multipage/semantics.html#dom-li-value
Code: `components/script/dom/htmllielement.rs`, `components/script/dom/webidls/HTMLLIElement.webidl`
Test: tests/wpt/web-platform-tests/html/semantics/grouping-con

[2016-07-24 05:47] highfive commented on #12575
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-24 05:59] vrod commented on #12575
Can I take this one too?

[2016-07-24 06:09] KiChjang commented on #12575
Yes, that's fine.

[2016-07-24 10:23] highfive commented on #10209
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-24 12:57] jdm commented on #12568
cc @ConnorGBrewster

[2016-07-24 12:57] jdm commented on #12569
Duplicate of #11825.

[2016-07-24 12:57] #12569 closed

[2016-07-24 12:58] jdm commented on #12095
Sure!

[2016-07-24 13:05] jdm commented on #10209
Separate issues for individual APIs are E-easy material; not this one.

[2016-07-24 18:46] larsbergstrom opened #12580 "Intermittent failure in /html/browsers/history/the-history-interface/002.html and /html/browsers/history/the-history-interface/001.html"
Found during a test run for #12573

[code]

cc @ConnorGBrewster

[2016-07-24 19:43] djc opened #12581 "Reduce dependency on shared mutable state in util::opts"
As I'm familiarizing myself with the Servo code base, I came across the `util::opts` module. Having the option state there and having numerous crates depend on that state seems like bad design, creating a weirdly tight coupling between these crates (including `compositing`, `gfx`, `layout`, `net` and a few others) and the `util::opts` module.

In 29c7c5bec33521cb23c5fba478bd5431f15f52ed, I already

[2016-07-24 23:23] BladeMight commented on #12125
So, how all going?

[2016-07-25 00:48] notriddle commented on #12531
The problem with moving the cell itself is that it causes the border and background of the cell to move as well. The cell itself is not subject to alignment; it's contents are.

A more correct way to go about this would be to have the vertical alignment code that's already in `table_cell.rs` run after the final cell-height-maximize pass. I suppose that means having it be inside `table_row.rs`, adj

[2016-07-25 03:59] #12512 closed

[2016-07-25 09:08] beaufortfrancois opened #12583 "Error navigator.bluetooth.requestDevice(...).then is not a function"
First of all, **thanks for working on Web Bluetooth support on Servo**!

As you can see in the screenshots below, I was able to select a Bluetooth device from Servo but as soon as I hit "select" button, I get nothing but a JS error. Any idea what is happening in Servo 0.0.1-2d01788?

[code]

![screenshot from 2016-07-25 10-37-11](https://cloud.githubusercontent.com/assets/634478/17095834/d65ab164-

[2016-07-25 09:13] dati91 commented on #12583
Hi!

Servo doesn't support Promises (yet).
You can call function like [this](https://github.com/servo/servo/blob/master/tests/html/bluetooth_battery_level.html).

[2016-07-25 09:14] beaufortfrancois commented on #12583
Makes sense! Thank you @dati91 ;)

[2016-07-25 09:15] beaufortfrancois commented on #12583
See https://github.com/servo/servo/commit/e04b7ee485380008612f5284b289fd1b769fe8d1

[2016-07-25 09:20] dati91 commented on #12583
We have a PR about the tests here: https://github.com/servo/servo/pull/12556

[2016-07-25 09:22] beaufortfrancois commented on #12583
May I let you take care of changing all `optinalServices` occurences to `optionalServices` in this PR?

[2016-07-25 09:26] dati91 commented on #12583
Yeah, already on it :) thanks for noticing it

[2016-07-25 09:56] nox commented on #6963
I'm going to use SQLite3.

For database storage, we have two ways:

* We can do like Gecko, and create a SQLite database **per IndexedDB database**.
 * 👍 We can open the database with any SQLite tool and we have everything at once.
 * 👎 We will never have concurrent transactions when one of them is a write transaction.

* We can create one SQLite database **per IndexedDB object store**.
 * 👍 By us

[2016-07-25 10:05] beaufortfrancois commented on #12583
FYI, https://plus.google.com/+FrancoisBeaufort/posts/gfPULNowQv7

[2016-07-25 10:14] beaufortfrancois opened #12584 "bluetooth: min BlueZ version"
For info, the Chromium team has increased BlueZ min version to `5.41` as the awesome BlueZ team fixed some GATT related bugs but more importantly introduced a brand new `ServicesResolved` property that makes device services discovery much more reliable. See http://git.kernel.org/cgit/bluetooth/bluez.git/commit/doc/device-api.txt?id=4ed99044f49af9ef21c89b283399112cddfe68c0

@dati91 @larsbergstrom

[2016-07-25 10:16] beaufortfrancois commented on #12583
Closing this non-bug.

[2016-07-25 10:16] #12583 closed

[2016-07-25 10:29] nox commented on #6963
This would also require a reimplementation of the serialised structured clone format described [here](http://searchfox.org/mozilla-central/source/js/src/vm/StructuredClone.cpp) (or something similar to it that we can store and introspect directly from SQLite).

[2016-07-25 11:33] beaufortfrancois opened #12585 "Keep track of Web Bluetooth efforts"
@dati91 Is there an easy way to keep track of all progress you're making to Web Bluetooth in Servo?

[2016-07-25 11:54] dati91 commented on #12585
We made a [website](http://szeged.github.io/servo/), which is the most up-to-date thing right now about our progress.
Maybe i can link all our (current and future) PR-s here, if it helps.
And if you want to i can collect our short- and long-term goals as well.

[2016-07-25 11:55] beaufortfrancois commented on #12585
That would be awesome!

[2016-07-25 12:17] dati91 commented on #12585
**Goals**
- [ ] Refactor tests (https://github.com/servo/servo/pull/12538)
- [ ] Implement basic Test API
- [ ] Refactor Device and BlurZ crates (too bluez specefic)
- [ ] Add android support
- [ ] Implement Promises in Servo
- [ ] Implement Event Handling in Servo
- [ ] Gatt notifications

[2016-07-25 12:34] nox commented on #6963
We can't use `ATTACH` for my first idea because [its documentation](https://www.sqlite.org/lang_attach.html) states that it's not really robust when faced with crashes.

[2016-07-25 12:59] samuknet opened #12587 "Link to anchor identified by name attribute within same page not doing anything"
I was wondering if links to anchors within the same page are currently implemented?

An example would be when there is some sort of "Jump to bottom" or "Jump to top" feature at the beginning/end of a long body of text:

[code]

With the above example (with dummy text long enough to cause the page to have a scroll), clicking the "Jump to end" link in Servo does nothing.

Online test case [here](htt

[2016-07-25 14:09] jdm commented on #12587
They're supposed to work, yes.

[2016-07-25 14:25] samuknet commented on #12587
okay thanks :) For me, the link in this example [here](https://samuknet.github.io/test_cases/anchorInPage/) is not working in Servo. Any ideas?

[2016-07-25 15:24] jdm commented on #12587
I stepped through the code, and I don't have a good answer yet. `Document::find_fragment_node` is called when processing the navigation that's initiated by clicking the link, and that calls `Document::get_anchor_by_name` which correctly looks at the two anchors in the document. The first one does not have a `name` attribute as expected, but the second is reported to have a `name` attribute with an

[2016-07-25 15:33] sole commented on #12587
Perhaps giving `h1` the `id` the value the anchor name was supposed to use could work? As in `<h1 id="#end">`? 🤔

[2016-07-25 15:35] jdm commented on #12587
As a workaround that's worth trying. This particular instance looks like a Rust compiler bug to me, so thanks for finding it!

[2016-07-25 15:47] izgzhen opened #12589 "Utilise cancel listener for reading content from file manager"
See `net/blob_loader.rs` for where the cancel listener is introduced, and it is currently not utilised.

After #12577 is landed, this would be a problem since we can choose to cancel early rather than keep reading.

But here is actually some problem to do that -- the `CancellationListener` defined in `resource_thread.rs` can't be sent over some ipc-channel to the `FileManager`.

[2016-07-25 15:47] izgzhen commented on #12589
cc @Manishearth

[2016-07-25 15:55] Manishearth commented on #12589
The File manager and resource thread should be communicating via regular mpsc channels, not IPC.

AIUI this shouldn't be a problem -- we should be doing exactly the same thing as http_loader, right?

[2016-07-25 15:57] samuknet commented on #12587
Have just tried the id="end" and that doesn't work either unfortunately, if this helps

[2016-07-25 16:18] jdm commented on #12587
I've stepped through the `id` case as well, and that actually finds the element and instructs the compositor to scroll the view to it. I suspect that the big FIXME in `ScriptThread::scroll_fragment_point` is hitting us here, since the result of the bounding box calculation is (0, 0, 0, 0). Could you file a separate issue for this case, since it a different problem?

[2016-07-25 16:25] Wafflespeanut commented on #7481
@highfive [can do this now](https://github.com/servo/highfive/pull/86) even though it's intermittent.

[2016-07-25 16:26] #7481 closed

[2016-07-25 16:37] rzambre commented on #12304
This problem still occurs even after the fix for #12303. It seems like Servo is trying to close down after the "Shutting down constellation..." message but is not able to communicate well with Android to do so without hanging up:

results in a blank screen (stalled) after getting the "Shutting down constellation.." message. Once I tap the screen, I get a thread panic. Here is the backtrace from nd

[2016-07-25 16:55] samuknet opened #12590 "Links to an anchor within same page not working"
The issue occurs when there is a link to another anchor tag in the same document, identified by the ID attribute.  The problem also occurs identically when the name attribute is used.  Clicking the link in Servo does nothing, when it should instantly scroll to the anchor.

For example:

[code]

With the above example (with dummy text long enough to cause the page to have a scroll), clicking the "J

[2016-07-25 16:56] samuknet commented on #12587
For the "anchor identified by ID attribute" case: https://github.com/servo/servo/issues/12590

[2016-07-25 16:59] izgzhen commented on #12589
Not exactly the same -- file manager lives in another thread, while http_loader (corresponding to blob_loader) is in the CoreResourceThread. I think I need to open another `mpsc` channel rather than reusing the same `IpcSender` which is also shared with script ends.

[2016-07-25 17:45] emilio opened #12591 "Conditionally installing the panic hook breaks multiprocess"
Applying this seemingly innocent patch to Servo made multiprocess stop working on #12563. I reverted it in that PR. I'm sure there's a logic reason for that, but meanwhile I'm filling this pending further investigation, so I don't forget about it.

[code]

[2016-07-25 19:37] jdm commented on #12587
Ah, my mistake; I'm not sure why lldb is showing me the values it is, but my original diagnosis of a miscompilation was incorrect. Both the id and name codepaths find the node and hit the problem described in #12590. I'm going to close this issue in favour of that one to avoid confusing things.

[2016-07-25 19:37] #12587 closed

[2016-07-25 20:27] emilio commented on #12534
I'm looking into this.

[2016-07-25 20:44] KiChjang opened #12592 "Intermittent crash of /html/semantics/embedded-content/the-iframe-element/iframe-allowfullscreen.html"
[code]

[2016-07-25 20:45] jdm commented on #12592
cc @asajeffrey This looks like it's caused by the panic logging changes

[2016-07-25 21:18] adamncasey commented on #12531
Good point. Updated the test to catch that.

It'll also be easier to implement vertical-align: baseline from the code in `table_cell.rs` next.

[2016-07-25 21:56] pcwalton commented on #12534
@emilio Yes. This has regressed multiple times :(

[2016-07-25 22:04] jdm opened #12595 "offsetTop sometimes returns nonsense values"
For example, `document.querySelector('#end').offsetTop` returns `-21` on https://samuknet.github.io/test_cases/anchorInPageID/.

[2016-07-25 22:24] jdm commented on #12554
@notriddle I've been flailing around in the layout code trying to figure this out and getting nowhere. Are you interested in taking a crack at it?

[2016-07-25 22:33] jdm commented on #12554
The furthest I got was determining that forcing https://dxr.mozilla.org/servo/rev/24d621145ca9e689b442c6f6afb3a247ab40fc5f/components/style/traversal.rs#168 to execute made the problem disappear.

[2016-07-25 22:33] asajeffrey commented on #12592
Hmm, I'm at a loss about what's going on here. It's possible that this is being uncovered now just by changing some timings. Can we replicate this in debug mode so we can see which unwrap failed? (I can't even find an unwrap being called transitively by `script::dom::htmlhtmlelement::HTMLHtmlElement::new`.)

[2016-07-25 22:37] jdm commented on #12590
I took a brief look at #8275 and felt intimidated. I tried using HTMLElement::OffsetTop and HTMLElement::OffsetLeft intead of the content bounding box, since they were implemented recently and theoretically understand stuff about layers etc., but I ran into #12595. @mrobinson what would be involved in fixing #8275 properly?

[2016-07-25 22:40] pcwalton commented on #12411
@jdm It may be that the code that determines whether to check the descendants of a stacking context isn't taking the transform into account, and as such its items never get checked.

[2016-07-25 22:55] asajeffrey commented on #12592
Rats, can't replicate this in either debug or release mode.

[2016-07-25 22:57] notriddle commented on #12554
Yes, I'm interested.

[2016-07-25 23:18] scotttrinh commented on #12415
Is the checklist ☝🏼 current? Is there a process with which to claim a part of it and submit PR's?

[2016-07-25 23:26] asajeffrey commented on #12592
The original failure was http://build.servo.org/builders/mac-rel-wpt/builds/2279, perhaps this is mac-only?

[2016-07-25 23:41] pcwalton commented on #11836
One potential way to consolidate the unchecked accesses might be to have some sort of `borrow_layout_data_for_current_node()` that borrows the layout data only for the single node that is being restyled right now, with only a single unsynchronized check to avoid double borrows. That would ensure that we never double-borrow, as long as the traversal is correct (and if the traversal is wrong, we hav

[2016-07-25 23:44] notriddle commented on #12554
Seems to be a generic bug related to all replaced content:

[code]

[2016-07-26 00:06] Coder206 commented on #12127
@larsbergstrom I would like to help out with this.

[2016-07-26 00:26] pcwalton commented on #11133
I'm not sure what this is suggesting that we do beyond "use `sequential.rs` when there's only one thread" (which is something we already do, incidentally).

[2016-07-26 01:01] larsbergstrom opened #12596 "Mac test-css taking an extra hour and 10 minutes"
Looking at mac-rel-css, test-css is taking 1 hour 35 minutes on a macpro.

That's based on the reporting from: http://build.servo.org/builders/mac-rel-css/builds/2210:

[code]

_But_ the stdout: http://build.servo.org/builders/mac-rel-css/builds/2210/steps/test/logs/stdio says 1286 seconds, or 21.4 minutes.

[code]

What in the world is going on? Crash dump reporting appears to be disabled. I didn

[2016-07-26 01:01] highfive commented on #12596
cc @aneeshusa

[2016-07-26 01:23] shinglyu commented on #12453
Thanks! I'll look into the implied minimum size stuff then.

[2016-07-26 01:37] #12466 closed

[2016-07-26 02:16] jdm commented on #12592
It's possible this is the same panic as https://github.com/servo/servo/issues/12048 and this is just a new way to trigger it :(

[2016-07-26 02:27] jdm commented on #12415
I think you should be able to claim the ones that start with WebGL.

[2016-07-26 04:24] Eijebong opened #12597 "Can't compile gfx ("expected EBML doc with tag EsSub8 or EsSub32 but found tag 28")"
Hi, this happens when I run ./mach build (with -d or -r).

[code]

I'm not sure if I should report this to rustc directly or not since servo isn't using the latest nightly.

[2016-07-26 05:51] KiChjang commented on #12597
Servo doesn't use the latest nightly, instead we pin to a specific nightly version, which can be seen in `rust-nightly-date` in the repository's root directory.

Other than that, could you give us more information on which target triplet that you're trying to compile on?

[2016-07-26 06:47] #11712 closed

[2016-07-26 06:48] paulrouget commented on #11957
Dupe of https://github.com/servo/servo/issues/11650

[2016-07-26 06:48] #11957 closed

[2016-07-26 06:55] Eijebong commented on #12597
Of course, x86_64-pc-linux-gnu

[2016-07-26 07:03] paulrouget commented on #9918
Can this be closed now?

[2016-07-26 07:35] Manishearth commented on #12589
Oh, right.

Is this necessary? We probably should be uniform across the loaders. Each operation spawns a new thread anyway, so this won't load the core thread.

[2016-07-26 07:53] paulrouget opened #12600 "Provide a Homebrew's binary packages for servo nightly"
https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Bottles.md

Nightly builds are provided as dmg, and with the browserhtml UI. It would be nice to be able to install and use Servo without browserhtml, as a Homebrew package.

The package could be updated every day along Servo nighty.

I used to provide builds via homebrew: https://github.com/paulrouget/homebrew-servo/blob/master/Formu

[2016-07-26 07:53] paulrouget commented on #12600
Relevant scripts:

- https://github.com/servo/saltfs/blob/a781db87fcd1d4e512be092775e239c0d6377369/buildbot/master/files/config/steps.yml#L25
- https://github.com/servo/servo/blob/master/etc/ci/upload_nightly.sh

[2016-07-26 08:13] izgzhen commented on #12589
Can you elaborate on it?

[2016-07-26 08:24] Manishearth commented on #12589
As in, we should do the same thing http_loader is doing for blob requests, and furthermore handle file manager messages directly on the core resource manager. Have a message variant "ToFileManager(FileManagerMsg)" which can get sent to the core resource manager, which will spawn a thread to handle that message. The file manager is then just a field in the resource manager. We keep the msg handling

[2016-07-26 10:43] samuknet opened #12601 "Image with opacity gets clipped when nearby text input 'overflows' with characters"
The issue occurs when there is a text input near an image and the text input is 'filled up' with characters.  As soon as the text input overflows a white rectangle clips the corner of the image. This happens as soon as the text field has a character entered that makes it's size too small to display all the characters.

Additionally, the issue only occurs when the image has a CSS property set to an

[2016-07-26 11:49] samuknet opened #12602 "Image opacity on hover not changing"
When there is an image setup for its opacity to increase to 1 on hover, hovering over the image does not cause its opacity to change.

When a property such a 'border: 5px solid black' is added into the hover state, the opacity and border properties change as expected on hover.

[code]

This could be related to https://github.com/servo/servo/issues/11891.

Online test case [here](https://samuknet.g

[2016-07-26 11:56] emilio commented on #12534
I have an alternative design for it that hopefully doesn't block on all
pseudo-classes (or on most applicable declarations that we didn't handle
for what it's worth).

I'll post some update soon :-)

On 07/25/2016 02:56 PM, Patrick Walton wrote:

[2016-07-26 11:56] scotttrinh commented on #12415
Thanks, @jdm! Should I check them off to claim them, or when they're done?

[2016-07-26 12:29] jdm commented on #12597
I'm used to seeing errors like this when Rust/Cargo get confused about whether to compile an out-of-date dependency. Does running `./mach clean` before running `./mach build -d` fix anything?

[2016-07-26 12:37] jdm commented on #12601
The testcase does not reproduce the problem if I run with webrender enabled.

[2016-07-26 12:45] samuknet commented on #12601
@jdm My bad! I omitted the flag somehow 😊

[2016-07-26 12:45] #12601 closed

[2016-07-26 13:03] jdm commented on #12415
Let's check them to claim them.

[2016-07-26 13:06] scotttrinh commented on #12415
Can't seem to check them (they're greyed out), but I won't let that hold me up. Consider this notice that I intend to take the WebGL .webidls

[2016-07-26 13:22] cynicaldevil commented on #12555
Ok, I think I know how to implement it. Imo, it requires [JS_NewArrayBufferWithContents](http://doc.servo.org/js/jsapi/fn.JS_NewArrayBufferWithContents.html), which requires a context object as one of the parameters. I only have a rough idea of what a context is, and I don't know which one to pass here.

[2016-07-26 14:03] jdm commented on #12555
`self.global().r().get_cx()` will get youo the JSContext pointer you're looking for.

[2016-07-26 14:05] jdm commented on #12555
It's probably safer to use `JS_NewArrayBuffer`, obtain the pointer to the [array buffer data](http://doc.servo.org/js/jsapi/fn.JS_GetArrayBufferData.html), then copy the data from the file reader source into the destination.

[2016-07-26 14:15] jdm commented on #12602
This is another issue caused by incremental layout. Running with `-i` make it work as expected.

[2016-07-26 14:20] paulrouget commented on #12600
Log from IRC:

@larsberg> paul: nightly upload scripts are split between https://github.com/servo/servo/blob/master/etc/ci/upload_nightly.sh (which does the actual publishing of a file to s3) and the various *-nightly rules in https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/steps.yml

13:43 <@larsberg> the latter is what configures the exact build to perform and the packag

[2016-07-26 15:07] #10053 closed

[2016-07-26 15:12] mrobinson commented on #12590
I have a feeling this may not be related to #8275 at all. I ran the test with:
[code]

The output is:
[code]
This suggests that servo has not layered the page beyond the root layer. I cannot remember exactly now, but I think that #8275 applies specifically in situations with overflow:scroll.

[2016-07-26 15:35] notriddle commented on #12554
It also applies to a similarly setup test with color instead of width.

[2016-07-26 15:47] jdm commented on #12602
I thought it would be enough to add `get_effects.opacity` to the REPAINT block in `compute_damage`; it wasn't. Then I thought it would be enough to expand the `transform_needs_layer` check for opacity changing to and from 1.0, which would change the layerization behaviour. That made the testcase work, but if the opacity value is changed to 0.9 instead of 1.0 it breaks again.

[2016-07-26 15:48] jdm commented on #12602
My other suspicion was that forcing the display list to always be rebuilt in `compute_abs_pos_and_build_display_list` would fix this, but there was no change.

[2016-07-26 15:59] Coder206 commented on #12127
@KiChjang Ok, I understand. There aren't too many "easy" or "less easy" issues open right now.

[2016-07-26 16:01] est31 opened #12604 "Cursor doesn't update at scrolling"
Tested with browserhtml and my own release build of commit b41bf4f1f30b8f4eec92909c8971bc02d5422b50 .
1. go to a page
2. hover your cursor over some text
3. scroll down or up, so that the cursor is not under text anymore

You will see the cursor not updating, still showing the cursor icon it has over text.

Expected behaviour is that the cursor updates when you scroll.

My OS is linux, but I suspe

[2016-07-26 16:11] jdm commented on #12602
[code]
This change makes opacity values of both 1.0 and otherwise work. RECONSTRUCT_FLOWS is the flag that's necessary; I want to figure out why that's the case.

[2016-07-26 16:34] jdm commented on #12602
[code]
This also works, and only sets the REPAINT flag. I need to figure out why making image fragments non-repairable avoids the issue, however.

[2016-07-26 17:20] jdm commented on #12602
If the image fragment doesn't get repaired, we construct a flow for the image element in `construct_flows_at`, and we later build a display list. If the image fragment gets repaired, we don't build a display list. I haven't determined what the relationship is yet.

[2016-07-26 17:41] est31 commented on #6711
Giving a little update on my vorbis decoder project: every required algorithm / data structure is implemented so far.

For normal audio files, it can more or less produce output that resembles correct output, but there are lots of artifacts and listening to the output hurts in the ears after some time.

I'll fix all the bugs and publish it once I have time. I hope its ready for the public eye (and

[2016-07-26 18:27] rzambre commented on #12304
BTW, the out.png and out.tsv files are being generated on the device which tells me that Servo is shutting down internally but is not somehow not able to terminate its process on Android OS.

[2016-07-26 19:21] KiChjang commented on #12379
@Andy-Bell Are you still working on this?

[2016-07-26 19:28] jdm commented on #12602
I had a theory that we were incorrectly clearing the REPAINT bit from the restyle damage in `construct_flows_at` for the case where the flow was repaired, but that did not make any difference.

[2016-07-26 19:37] Andy-Bell commented on #12379
I am working on this, but it is going slower than planned, apologies.

[2016-07-26 19:59] KiChjang commented on #12379
@Andy-Bell It's fine if you have only a partial fix for this issue, I do not expect anyone to fix everything in 1 single PR (that would be an insane amount of code).

[2016-07-26 20:47] emilio commented on #12534
@pcwalton: So I gave a shot at the attributes stuff, but that doesn't prevent other whole kind of pathological cases, unfortunately.

What I'm thinking though (I'd want to like your opinion), is the following: What about getting all the rules that might affect two siblings of the same type (that is, those with `+` and `~` combinators in their rightmost selector, `:{first, last, nth}-{child, of-typ

[2016-07-26 21:25] Coder206 commented on #11983
@ConnorGBrewster I made modification to `python/servo/package_commands.py` that reflect what you asked above based on OSX's code. I had a few questions:

1. When you say copy "servo", should the script copy the whole directory?
2. To test my code to make sure it works, is `python package_commands.py` the way to do that?

[2016-07-26 21:36] KiChjang opened #12607 "Implement HTMLAreaElement#download attribute"
The implementation of this attribute should be straightfoward and use the `make_getter!` and `make_setter!` macros defined in `macros.rs`.

Spec: https://html.spec.whatwg.org/multipage/embedded-content.html#htmlareaelement
Files: `components/script/dom/htmlareaelement.rs`, `components/script/dom/webidls/HTMLAreaElement.webidl`
Test: None yet, will need to create one using `./mach create-wpt tests/

[2016-07-26 21:36] highfive commented on #12607
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-26 21:37] Coder206 commented on #12607
@KiChjang Thanks, I would like to work on this one.

[2016-07-26 21:38] KiChjang commented on #12607
You got it!

[2016-07-26 21:51] Andy-Bell commented on #12379
I hope to have a PR with current progress by end of week then (apologies I had assumed it was all in one PR).

[2016-07-26 21:52] Eijebong commented on #12597
@jdm Nope, same error.

[2016-07-26 22:01] est31 commented on #12189
Testing this with a german keyboard on commit b41bf4f1f30b8f4eec92909c8971bc02d5422b50 , and confirming that shift-7 enters /. The original bug seems to be fixed. Also pressing z gives z and not y as a qwerty keyboard would.

But I can't enter any of the `<äöüß#+` keys. Note that `<+#` are even **within the ascii set**. Should I file a new bug report for this?

See this image where those keys are

[2016-07-26 22:03] KiChjang commented on #12379
@Andy-Bell It doesn't look like this issue requires any sort of WPT testing at all; if it compiles, then it's good enough for a PR.

[2016-07-26 22:06] Andy-Bell commented on #12379
I have been checking both of those, I just was checking that nothing of the larger test suite was needed. Thanks

[2016-07-26 22:53] notriddle commented on #12554
It also has nothing to do with replaced content:

[code]

Current working theory: the fact that getComputedValues() isn't changed by the transition (which is also a bug, by the way) is related to this bug. We're cloning the Arc corresponding to this DOM node, attaching it to the fragment. We perform the animation on the fragment's copy, but not on the node's. When we rebuild the fragment without r

[2016-07-26 23:40] adamncasey opened #12609 "Table cellpadding attribute"
Although fairly legacy, it probably makes sense for servo to support the `cellpadding` attribute of `<table>`.

[code]

The above example renders as a single column of red in Firefox, Chrome & Edge.

https://html.spec.whatwg.org/multipage/rendering.html#tables-2 describes how cellpadding should be interpreted.

Related to #11821 in the sense that this prevents HN's top bar from being rendered corr

[2016-07-26 23:40] Coder206 commented on #12607
@KiChjang Was this what you were looking for in "components/script/dom/htmlareaelement.rs"?

`//https://html.spec.whatwg.org/multipage/embedded-content.html#htmlareaelement
    make_getter!(Download, "download");

    //https://html.spec.whatwg.org/multipage/embedded-content.html#htmlareaelement
    make_setter!(SetDownload, "download");`

[2016-07-27 00:01] adamncasey commented on #11492
I think this'll be fixed when https://github.com/servo/servo/pull/12593 lands

![capture](https://cloud.githubusercontent.com/assets/720498/17159429/25365cc2-5395-11e6-97a5-9db2c24c9fe6.PNG)

[2016-07-27 00:12] KiChjang commented on #12607
Yes, but the spec links need to be changed to `https://html.spec.whatwg.org/multipage/#htmlareaelement` (without the `.html` part), otherwise tidy will complain.

[2016-07-27 01:16] #12574 closed

[2016-07-27 02:58] #12531 closed

[2016-07-27 03:11] shinglyu opened #12610 "Implement flexbox automatic min-size"
https://drafts.csswg.org/css-flexbox/#min-size-auto

As @stshine said in #12453 :

[2016-07-27 05:09] Wafflespeanut commented on #12597
Does this happen in the latest build?

[2016-07-27 05:32] wafflespeanut opened #12611 "Should we opt for removing old nightlies?"
Every time we do a rustup, we download new nightlies into `.servo/`. Is there any good reason to keep the old nightlies? If not, we can use `mach` to remove them (in two ways)...
- Once we do a rustup and download new nightlies, we can check `.servo` and remove the old ones.
- Or, we can put this check in `./mach clean`. Currently, the command only calls `cargo clean`, which only cleans up the bui

[2016-07-27 05:32] highfive commented on #12611
cc @wafflespeanut

[2016-07-27 07:39] Ms2ger commented on #12607
Should we do this before implementing the appropriate behaviour? CC @jdm

[2016-07-27 07:54] Ms2ger commented on #12611
In general I don't want to download nightlies more than once when jumping back and forth across a (single) rustup, especially because they're in `~/.servo` for me.

Perhaps overengineered idea: touch a file in the nightly's folder whenever we build with it, and occasionally prompt to delete ones that haven't been used in two months or so.

[2016-07-27 08:10] Eijebong commented on #12597
Oh, I was trying to compile a version from the 25th, re pulled now and it compiled, I guess the update of rust fixed it. Thanks.

[2016-07-27 08:10] #12597 closed

[2016-07-27 08:24] Eijebong commented on #12107
Same on arch, seems like you need the ttf-fira-sans package for servo to work.

[2016-07-27 09:06] shinglyu commented on #12610
Gecko's reference implementation is in [`nsFlexContainerFrame::ResolveAutoFlexBasisAndMinSIze()`](http://searchfox.org/mozilla-central/source/layout/generic/nsFlexContainerFrame.cpp#1494)

[2016-07-27 10:55] KiChjang opened #12613 "Intermittent crash of /css-transforms-1_dev/html/transofrmed-rotateY-1.htm"
[code]

[2016-07-27 10:57] KiChjang commented on #12585
@beaufortfrancois This looks like it's a good tracking issue for all the bluetooth implementation.

[2016-07-27 10:58] KiChjang commented on #12585
Also see #9392.

[2016-07-27 11:03] KiChjang opened #12614 "Step annotations for files related to WebBluetooth"
cc @zakorgy

[2016-07-27 12:23] Coder206 commented on #12607
@KiChjang Ok, great. I tried compiling and there was an error:

`error: no rules expected the token `"download"``

I made modifications to the webidl file as well, I uncommented the download attribute.

Is there something I am doing wrong here?

Code:

Rust: https://pastebin.mozilla.org/8887262
WebIDL: https://pastebin.mozilla.org/8887263

[2016-07-27 12:51] KiChjang commented on #12607
It looks like servo/string_cache doesn't have an atom for "download". You'll need to first make a PR for string_cache, adding "download" to `static_atom_list.rs`.

[2016-07-27 12:51] jdm commented on #12553
[code]

[2016-07-27 12:52] jdm commented on #12613
Same symptoms as #12553 so merging with that one.

[2016-07-27 12:52] #12613 closed

[2016-07-27 13:08] Coder206 commented on #12607
@KiChjang Ok thanks

[2016-07-27 13:12] jdm commented on #12607
Yeah, we have a policy of trying to avoid implementing attributes that affect the behaviour of the element without implementing the relevant behaviour.

[2016-07-27 13:14] jdm commented on #11983
`Copy servo` means copy the servo binary.

[2016-07-27 13:15] jdm commented on #12189
Yes, please file a new issue report about that problem. Thanks for confirming this one!

[2016-07-27 13:15] #12189 closed

[2016-07-27 13:17] jdm commented on #12554
@notriddle getComputedStyle may be a separate bug, since the original one was fixed by turning off incremental layout, but the most recent test case is not.

[2016-07-27 13:19] jdm commented on #11983
I'm pretty sure the correct way to test it is `./mach package`.

[2016-07-27 13:20] Coder206 commented on #12607
@jdm So we would need to implement the download attribute's behaviour as well?

[2016-07-27 13:20] Coder206 commented on #11983
@jdm Thanks

[2016-07-27 13:27] est31 opened #12616 "Can't enter <äöüß#+ keys on german keyboard"
Follow up of #12189. Tested on commit b41bf4f1f30b8f4eec92909c8971bc02d5422b50 .

Trying to press one of the `<äöüß#+` keys on a german keyboard yields in no key entered in input fields. Note that #, <, and + are even within the ascii character set. Other keys like z work properly (if it were a qwerty layout, it would register a y, but it correctly registers a z). `,.-` work as well.

Image of the

[2016-07-27 13:29] jdm commented on #12607
Right, but we don't have any support for saving files instead of navigating to them yet, so it's a much more complicated project.

[2016-07-27 13:31] jdm commented on #12607
Additionally our `<area>` implementation is nonexistent, so that in itself is a large, complicated project.

[2016-07-27 13:51] asajeffrey commented on #12553
Oh good. Double panic.

[2016-07-27 14:33] mskrzypkows commented on #12415
Fixed interfaces:
HTMLHeadingElement.webidl
HTMLHRElement.webidl
HTMLHtmlElement.webidl
HTMLHyperlinkElementUtils.webidl
HTMLIFrameElement.webidl
HTMLImageElement.webidl
HTMLInputElement.webidl
HTMLLabelElement.webidl
HTMLLegendElement.webidl

[2016-07-27 15:39] metajack commented on #12125
If the PR will land today, the nightly for tomorrow should include Windows!

[2016-07-27 15:43] jdm opened #12618 "Signal handler should watch for SIGABRT"
This would let us get stack traces from double panics, since that doesn't generate SIGSEGV.

[2016-07-27 15:46] asajeffrey commented on #12553
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=27+Jul+2016&e=27+Jul+2016#c489397

TL;DR: mutex.lock() can panic https://doc.rust-lang.org/std/sync/struct.Mutex.html#method.lock, which may be the source of the double panic. Removing the unnecessary mutex should fix the double panic.

[2016-07-27 15:49] asajeffrey opened #12619 "Use a reentrant mutex in constellation logging"
We have a `Mutex` protecting the `constellation_chan` in constellation logging, for no particularly good reason. It may be the source of double-panic in #12553.

cc @jdm

[2016-07-27 16:36] metajack commented on #12125
The PR has landed. The next nightly build should include a Windows package.

[2016-07-27 16:39] Coder206 commented on #12125
@metajack Yay! Great work!

[2016-07-27 17:38] jdm opened #12622 "Extract common parts of starting content process"
The `spawn_multiprocess` method has two branches for starting a content process sandboxed or not. We set common arguments on the resulting command, and copy over environment variable values (and #12563 adds some more of these). We should create a helper function that encapsulates these common operations and call it from both branches instead of duplicating the code.

Code: `components/constellatio

[2016-07-27 17:38] highfive commented on #12622
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-27 17:42] larsbergstrom commented on #12125
There is now a nightly build of Servo for Windows:
https://download.servo.org/nightly/windows/servo-latest.msi

I don't think we should announce *quite* yet, as:
- Startup is pretty slow
- We still spin one CPU at shutdown
- Keyboard input is dropped

BUT, the basic build & publishing infra and most major blockers are gone! Feel free to play with it and start opening bugs... but please don't annou

[2016-07-27 17:47] emilio commented on #9673
@g-k Hi!

So I'm totally not a layout expert here, but it seems that if you need an iterator for alphanumeric glyphs you could do something like what we do to flag glyph entries that are spaces: https://github.com/servo/servo/blob/master/components/gfx/text/glyph.rs#L501. With that, I guess you could do that sort of easily :)

That being said, I don't know how hot is that code, and whether doing t

[2016-07-27 17:55] KiChjang opened #12624 "Fix compiler warnings in gfx"
[code]

Code: `components/gfx/text/glyph.rs`

No need for WPT tests for this; if it compiles, it's good for a PR.

[2016-07-27 17:55] highfive commented on #12624
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-27 18:21] gaby2300 commented on #12125
Hello,

Awesome news but I'm afraid double clicking the servo-latest.msi doesn't
work in Windows 7. If I try to install it as an addon, there's a message
saying it won't install because it may be corrupt.
I would greatly appreciate your help as I can't wait to test this!!!!

Many thanks!
Best regards,
Gabriela
<http://facebook.com/mozillahispano>

On 27 July 2016 at 14:42, Lars Bergstrom <notifica

[2016-07-27 18:42] Coder206 commented on #12624
@KiChjang Mind if I take this one?

[2016-07-27 18:43] metajack commented on #12125
@gaby2300 I just downloaded it (after uninstalling the ones I made yesterday) and it installed and ran fine. Can you try downloading it again? The MD5 sum for servo-latest.msi on my machine is b2fdc1cf82d982cf5dcc2f5e9e161b08. Please compare yours as well.

[2016-07-27 18:44] metajack commented on #12125
@larsbergstrom Initial startup seems to be slow, but second run it seems normal. I'm not sure what it's doing on the first load that slows it down.

I could not reproduce either of the other two issues you mentioned. Can you file them with steps to reproduce?

[2016-07-27 18:45] KiChjang commented on #12624
@Coder206 Nope, go right ahead!

[2016-07-27 18:46] KiChjang commented on #12607
Apologies @Coder206, it looks like this feature isn't intended at this time. Thanks for digging into it!

[2016-07-27 18:46] #12607 closed

[2016-07-27 18:46] Coder206 commented on #12624
@KiChjang Thanks!

[2016-07-27 18:48] Coder206 commented on #12607
@KiChjang It's fine!

[2016-07-27 18:50] Coder206 commented on #12125
@metajack Did you get the Servo icon working in this release?

[2016-07-27 18:54] gaby2300 commented on #12125
Hi Jack, thanks for answering so quickly! I would need to know how to find
the MD5 sum you mention to check it. Thanks!

On 27 Jul 2016 3:43 pm, "Jack Moffitt" <notifications@github.com> wrote:

[2016-07-27 19:00] rmsEfx commented on #12125
Windows 7 64 bit Rus

[2016-07-27 19:16] kdar commented on #12125
This is the error I get in Win 7 Pro x64:

[code]

[2016-07-27 19:35] Ms2ger commented on #12619
Why would it be unnecessary? Senders aren't Sync.

[2016-07-27 19:41] rmsEfx commented on #12125
Yes, `Deleting the server.exe.manifest file temporarily fixes this.` it does, and the result - white screen in servo window with this picture ... no reaction from any element in window ...
![srvo](https://cloud.githubusercontent.com/assets/19751507/17189682/cb044916-546c-11e6-9c11-805150f304b1.jpg)

[2016-07-27 19:52] #11773 closed

[2016-07-27 19:57] gaby2300 commented on #12125
Please  tell me how can I delete the the server.exe.manifest then!

BTW, if I try the same as Kevin I get exactly the same result

Any idea how to fix this?

​M​
any thanks!
Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

On 27 July 2016 at 16:41, rmsEfx <notifications@github.com> wrote:

[2016-07-27 19:58] gaby2300 commented on #12125
Jack, the revision number is {647E7ADC-1AE6-4405-9EDC-19C7286E888F}. Would
this be what you meant?

Saludos cordiales,
Gabriela
Responsable QA Mozilla Hispano

Un beso,
Besos,
Saludos!!
Gaby
Responsable QA Mozilla Hispano

Many thanks!
Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

http://www.mozilla-hispano.org
http://twitter.com/mozilla_hispano
http://facebook.com/mozillahispano

On

[2016-07-27 20:12] Coder206 commented on #12125
@gaby2300 Are you able to find the servo.exe.manifest file?

[2016-07-27 20:34] metajack commented on #12125
Hmm. The manifest specifically enables support for Windows 7. See https://github.com/servo/servo/blob/master/components/servo/servo.exe.manifest#L11

I'm not sure what else is required :(

[2016-07-27 20:39] metajack commented on #12125
Ah, I think I figured this out. We are missing the correct namespace for the <compatibility> tag.

[2016-07-27 20:44] gaby2300 commented on #12125
@Coder206, Yes, but I cannot open it. I remember I once took out a file
from it's place to the Desktop, opened it with  Note pad, erased something
and then I returned it to it's place. Do I have to do the same here and
delete server.exe.manifest?

On 27 July 2016 at 17:12, Coder206 <notifications@github.com> wrote:

[2016-07-27 20:46] gaby2300 commented on #12125
I have a different id so....

On 27 July 2016 at 17:35, Jack Moffitt <notifications@github.com> wrote:

[2016-07-27 20:49] jdm commented on #12286
Non-webrender behaviour is really terrible. Webrender behaviour is much better, but the clipping rect doesn't appear to be transformed.

[2016-07-27 20:50] emilio opened #12625 "Intermittent failure in /html/browsers/history/the-history-interface/001.html"
[code]

cc @ConnorGBrewster

[2016-07-27 20:51] bholley commented on #12625
This is #12580 right?

[2016-07-27 20:51] emilio commented on #12625
Nope, it's another test (001.html instead of 002), but seems the same.

[2016-07-27 20:53] jdm commented on #12580
[code]

[2016-07-27 20:53] jdm commented on #12625
Let's combine them.

[2016-07-27 20:53] #12625 closed

[2016-07-27 20:53] rmsEfx commented on #12125
To metajack: Re-installed, run again ... same error : could not start the application because it's parallel configuration is wrong ... maybe it's something due to the different specific of 64-bit processor architecture. I do run with Intel processor

[2016-07-27 20:59] jdm opened #12626 "Uncatchable panic with no backtrace"
STR:
1. `./mach run https://samuknet.github.io/test_cases/iframeCSSRotate/ --debug`
2. `b rust_panic`
3. `run`
4. then wait 30s, then press escape
5. in the terminal:
[code]
with no backtrace, and the breakpoint doesn't get hit before servo exits.

[2016-07-27 21:00] Coder206 commented on #12125
@gaby2300 I haven't installed the binary yet, I will be in about 2 hours but I recommend waiting for @metajack's fix as it should correct the issues on Windows 7.

[2016-07-27 21:00] Coder206 commented on #12125
Has anyone run Servo on a Windows 10 machine yet?

[2016-07-27 21:03] b-strauss commented on #12125
Yes, I have tested it on Windows 10:
- very slow startup
- no program icon
- crashed after 2 minutes on idle

[2016-07-27 21:03] gaby2300 commented on #12125
Not me

On 27 July 2016 at 18:00, Coder206 <notifications@github.com> wrote:

[2016-07-27 21:04] Coder206 commented on #12125
@b-strauss Thanks

[2016-07-27 21:05] gaby2300 commented on #12125
I'll wait for that then, thanks!

On 27 July 2016 at 18:00, Coder206 <notifications@github.com> wrote:

[2016-07-27 21:09] b-strauss commented on #12125
@Coder206 oh and window resizing does not actually resize the content.

[2016-07-27 21:13] Coder206 commented on #12125
@gaby2300 When @metajack pushes the changes, I will let you know.

@b-strauss That's odd! I thought I was able to resize Wikipedia content

[2016-07-27 21:16] jdm commented on #12626
RUST_LOG=constellation::constellation showed me:
[code]
Panics that occur after the constellation disappears are now more challenging to diagnose. I'm also concerned that `rust_panic` isn't being hit.

[2016-07-27 21:17] gaby2300 commented on #12125
@Coder206, I will greatly appreciate it! I am a long time QA tester and I
am very much looking forward to test this!!!

On 27 July 2016 at 18:13, Coder206 <notifications@github.com> wrote:

[2016-07-27 21:17] b-strauss commented on #12125
@Coder206 It happens on every page.

![screenshot](https://cloud.githubusercontent.com/assets/6588177/17192750/2709f8e0-5450-11e6-9a09-183a36ad2047.jpg)

[2016-07-27 21:18] jdm commented on #12626
cc @asajeffrey

[2016-07-27 21:46] Coder206 commented on #12125
@gaby2300 My pleasure! It looks like a fix (#12627) is already being tested on the Servo computers. I am not sure if this will land in the Windows binary of tomorrow.

@b-strauss Thanks for sharing! That's strange! I never saw that before for more than 3 seconds. (It usually resizes) I'll try it on my system in about 1 hour and a half.

[2016-07-27 21:51] gaby2300 commented on #12125
@Coder206, Then maybe on Friday I could try again and see?

On 27 July 2016 at 18:46, Coder206 <notifications@github.com> wrote:

[2016-07-27 21:53] asajeffrey commented on #12626
@jdm: we could log the backtrace when the panic happens, rather than expecting the constellation to do it, we just need to make sure that the panic isn't printed twice.

[2016-07-27 21:55] Coder206 commented on #12125
@gaby2300 That should give you ample time after the bug fix should be released from what I see.

[2016-07-27 21:59] gaby2300 commented on #12125
Awesome! I can always try tomorrow as well of course! The worst could
happen would be it doesn't work...

On 27 July 2016 at 18:55, Coder206 <notifications@github.com> wrote:

[2016-07-27 22:09] metajack commented on #12125
@gaby2300 If you want to try now, here's the one I built: https://www.dropbox.com/s/hxlh4aemans42pb/Servo.msi?dl=0

The official ones should be published tomorrow, assuming #12627 lands today.

[2016-07-27 22:33] rmsEfx commented on #12125
Dropbox version didn't even start ...

[2016-07-27 22:40] gaby2300 commented on #12125
@Jack, I downloaded from Dropbox and installed, thanks! But I just get a
white window open for a few seconds, it closes it's self
​.​

On 27 July 2016 at 19:09, Jack Moffitt <notifications@github.com> wrote:

[2016-07-27 22:45] jdm opened #12628 "Support iterable declarations in WebIDL"
http://heycam.github.io/webidl/#idl-iterable
https://dxr.mozilla.org/mozilla-central/rev/78dd94ba93c77d0bba45f8e4525947629a305a41/dom/bindings/Codegen.py#2249 and CGIterableMethodGenerator and https://dxr.mozilla.org/mozilla-central/source/dom/bindings/IterableIterator.h

Blocks #11897.

[2016-07-27 23:58] notriddle commented on #11561
I haven't been able to reproduce this failure since #12543 landed (ran Servo in chaos mode for about 30 runs, and while I actually have managed to hit a race condition, it ended in a Spidermonkey crash, not an incorrect reftest).

Running it with just --repeat 100 doesn't fail at all.

[2016-07-28 00:57] #11662 closed

[2016-07-28 02:01] asajeffrey commented on #12619
Yes, I realized on trying it that the problem is that locks aren't re-entrant, which means that if any logging generates log entries, we get a panic. Really the issue needs a new title!

[2016-07-28 08:47] cynicaldevil commented on #12555
I have encountered another small issue: The `FileReaderMethods` trait [here](http://doc.servo.org////src/script/home/servo/buildbot/slave/doc/build/target/debug/build/script-4d3bb93218cab884/out/Bindings/FileReaderBinding.rs.html#1076-1095) does not have a `readAsArrayBuffer` method signature, so even though I have implemented it for `FileReader` I cannot build it. The file which I linked is auto-

[2016-07-28 09:13] izgzhen commented on #12555
@cynicaldevil Drop the comment sign https://github.com/servo/servo/blob/master/components/script/dom/webidls/FileReader.webidl#L13 should solve your problem.

btw, the blob code are mostly written by me so if you have any related problems, feel free to ping me ;)

[2016-07-28 09:17] cynicaldevil commented on #12555
@izgzhen Thanks, will do :)

[2016-07-28 10:48] nc4rrillo commented on #12622
@jdm mind if I take this one?

[2016-07-28 11:04] jdm commented on #12622
@nc4rrillo Please do!

[2016-07-28 12:32] Lonelobo commented on #12125
on my pc (win10 insiders build x64) on intel i7-5960x 16gb ram first run it consumes 6-8gb of my ram when leading (+- 7sec) then its opens the main window and memory usage goes down to 200mb.

[2016-07-28 13:00] johannhof commented on #12542
I was referring to https://github.com/servo/servo/blob/master/components/script/dom/servohtmlparser.rs#L115. Am I misreading that code?

[2016-07-28 13:06] jdm commented on #12542
Nope! I was forgetting about it.

[2016-07-28 14:14] nc4rrillo commented on #12622
I'm running into some difficulty. Gaol/libstd have different types for `Command` (L499 vs L516), making it unclear how I can write a function to extract the common functionality.

I _was_ able to get it to work using a macro, I'm just not sure if that's an acceptable solution. Another possibility is maybe implementing a trait for both types and having a generic helper function be constrained on th

[2016-07-28 14:26] larsbergstrom commented on #12304
It occurs to me that one, possibly much cleaner, way to do this is to instead use android instrumentation/testing: https://developer.android.com/studio/test/command-line.html

So, the idea would be that we'd have another small java wrapper, say alongside this one:
https://github.com/servo/servo/tree/master/support/android/apk/src/com/mozilla/servo

And like that one, it would call in to servo with

[2016-07-28 14:53] jdm commented on #12622
Yeah, I think the trait is the best solution.

[2016-07-28 17:25] asajeffrey commented on #12619
Some IRC discussion about reentrant locking at https://botbot.me/mozilla/rust-internals/2016-07-28/?msg=70402734

We may be able to use some of the `parking_lot` and `thread-id` crates here. cc @Amanieu

[2016-07-28 17:40] jdm commented on #12561
[code]

[2016-07-28 18:55] tobbi opened #12633 "Crash on specific bbc.com page"
Page this crash occurs on: http://www.bbc.com/news/world-europe-36912141
OS: Mac OS X 10.

Output on console:
ERROR:js::rust: Error at http://www.bbc.com/news/world-europe-36912141:0:98: document.write is not a function

ERROR:js::rust: Error at http://www.bbc.com/news/world-europe-36912141:0:1510: require is not defined

ERROR:js::rust: Error at http://www.bbc.com/news/world-europe-36912141:1:486

[2016-07-28 18:56] #12618 closed

[2016-07-28 19:00] jdm commented on #12633
Looks like the first significant failure is #12192.

[2016-07-28 20:31] asajeffrey commented on #12619
Renamed the issue.

[2016-07-28 20:38] asajeffrey opened #12638 "Send log messages even if the logging lock is poisoned"
At the moment, we only send messages if the logging lock is okay, so we are missing log messages if the lock is poisoned.

[2016-07-28 20:39] asajeffrey commented on #12638
@jdm: this may be the source of some missing panic logs.

[2016-07-28 20:48] gaby2300 commented on #12125
Hi, should I try again? Thanks!

On 28 July 2016 at 09:32, Lonelobo <notifications@github.com> wrote:

[2016-07-28 20:52] #12554 closed

[2016-07-28 21:21] metajack commented on #12125
@gaby2300 I haven't managed to investigate your issues. I ordered a copy of VMware so I can test directly on Win7. Hopefully I'll have some more info tomorrow or early next week.

[2016-07-28 21:28] HarryLovesCode commented on #12600
@paulrouget Is Homebrew the correct choice for this? I'm not sure if you're aware, but there is a tool called "Cask" which you can find [here](https://github.com/caskroom/homebrew-cask). The syntax would go from:

[code]

to

[code]

You can find the current script [here](https://github.com/caskroom/homebrew-cask/blob/7b49abdea1cb631678afce21c35dbb330bc77c13/Casks/servo.rb). The description for Ca

[2016-07-28 21:41] gaby2300 commented on #12125
@Jack, cool thanks! Will you update your results here to be able to try
again?

On 28 Jul 2016 18:21, "Jack Moffitt" <notifications@github.com> wrote:

[2016-07-28 22:31] asajeffrey opened #12641 "Settle on a thread id implementation"
I added a `ThreadId` type to `util`, it would be nice to have just one thread id implementation. cc @emilio

[2016-07-29 00:27] antrik commented on #10230
I thought about this a bit more; and now I'm wondering whether instead of adding generic support in `ipc-channel` for sending file descriptors (as I suggested previously) that can represent mapped files or shared memory, it might perhaps be better to extend the existing `IpcSharedMemory` mechanism to work both with mapped files passed in by the caller, as well as "real" anonymous shared memory.

T

[2016-07-29 00:42] #12638 closed

[2016-07-29 00:51] PalmerAL opened #12644 "Crash when visiting mapillary.com"
When I open https://www.mapillary.com/ in Servo, my computer freezes for 5-10 seconds, and then Servo crashes.

Crash report:

[code]

This is on a Macbook Pro (early 2015).

[2016-07-29 02:29] shinglyu commented on #12610
Chromium code: https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/layout/LayoutFlexibleBox.cpp?sq=package:chromium&l=1117

Gecko code: http://searchfox.org/mozilla-central/source/layout/generic/nsFlexContainerFrame.cpp#

[2016-07-29 02:56] #12575 closed

[2016-07-29 03:45] stshine commented on #12610
IMO for inline mode the `intrinsic_inline_sizes.minimum_inline_size` should be enough.
For block mode things are much more complicated since it needs the item to be layouted first using `max-content` width. I'll discuss this in a new issue.

[2016-07-29 05:27] glennw opened #12647 "Android fails at startup with IllegalArgumentException"
I suspect we're hitting something similar to https://github.com/servo/servo/issues/6432 with the SpiderMonkey upgrade?

[2016-07-29 05:27] glennw commented on #12647
cc @larsbergstrom

[2016-07-29 09:29] nox commented on #12542
Wait, why do we need this at all? Why not just use DOM to build a proper `img` tag etc?

[2016-07-29 12:41] #12622 closed

[2016-07-29 13:43] Ms2ger opened #12654 "Crash in workers/interfaces.worker, causing intermittent /XMLHttpRequest/send-usp.worker and /WebCryptoAPI/import_export/rsa_importKey.worker"
[code]

[2016-07-29 13:50] Manishearth opened #12655 "Incorrect serialization of border-radius"
[code]

This should produce the same string as the input. It instead produces `4% 8% 3% 7% 2% 6% 1% 5%`, which is invalid syntax for the property.

I can't find the spec for border-radius serialization so I'm not sure, however. https://drafts.csswg.org/css-backgrounds-3/#border-radius doesn't mention anything. I don't even see a ToCss impl for border-radius so I'm not sure where the code for this

[2016-07-29 14:45] larsbergstrom commented on #12647
Yes, I'm sorry about that! We had to disable the Android build verification:
https://github.com/servo/saltfs/pull/450

Until the SM upgrade landed: https://github.com/servo/servo/pull/12255 (done)
*and* the MSVC transition lands: https://github.com/servo/servo/pull/11756 (in progress)

The reason is that SM moved to a new libc++ (stlport to llvm), which requires sweeping build changes, but the bui

[2016-07-29 14:54] asajeffrey commented on #12654
Causing an intermittent in `/XMLHttpRequest/send-usp.worker`:
[code]
http://build.servo.org/builders/mac-rel-wpt/builds/2351

[2016-07-29 17:15] emilio commented on #12626
FWIW, That's the kind of problem I tried to solve with #12591, though arguably something that works out of the box would be a much better solution.

[2016-07-29 17:23] asajeffrey commented on #12591
Er, why would we want to switch off the custom panic hook? This will stop crash reporting. If we do want to do this, perhaps we should rename the option to `no-crash-reporting`  to make this clearer?

[2016-07-29 17:26] asajeffrey commented on #12626
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=29+Jul+2016&e=29+Jul+2016#c491961

Summary: `println!` the backtrace if `RUST_BACKTRACE` is set.

[2016-07-29 17:32] emilio commented on #12591
Basically to allow easier debugging. I'd be fine with any name in fact.

[2016-07-29 17:41] asajeffrey commented on #12591
OK, seems reasonable.

[2016-07-29 17:49] #11774 closed

[2016-07-29 18:53] #12619 closed

[2016-07-29 19:57] #12492 closed

[2016-07-29 21:55] mikeSGman commented on #9791
Same issue here; CentOS 6.8 and python 2.7.8 (SCL) running in a virtualenv.

` Compiling crossbeam v0.2.9
   Compiling rustc_version v0.1.7
   Compiling unicase v1.4.0
Build failed, waiting for other jobs to finish...
error: failed to run custom build command for `angle v0.1.0 (https://github.com/servo/angle?branch=servo#d0a2db05)`
process didn't exit successfully:`

[2016-07-30 14:07] nox opened #12659 "Update serde to 0.8"
* [x] [app_units](https://github.com/servo/app_units/pull/20)
* [x] [azure](https://github.com/servo/rust-azure/pull/240)
* [x] [bincode](https://github.com/TyOverby/bincode/pull/84)
* [x] [cocoa](https://github.com/servo/cocoa-rs/pull/141)
* [x] [content-blocker](https://github.com/servo/content-blocker/pull/8)
* [x] [cookie](https://github.com/alexcrichton/cookie-rs/pull/52)
* [x] [core-graphics