[2016-11-22 06:55] glennw commented on #13953
This trace replays correctly on both my mac and linux machines, with no errors or warnings. If you open this file in qapitrace on your mac that has the issue, could you paste the contents of the log box in the bottom window here?

[2016-11-22 07:03] paulrouget commented on #13953
[code]

[2016-11-22 09:13] KiChjang opened #14314 "Intermittent crash of /html/dom/reflection-sections.html"
[code]

[2016-11-22 13:43] jdm commented on #13632
This is covered by #12797.

[2016-11-22 13:43] #13632 closed

[2016-11-22 13:44] jdm opened #14317 "Intermittent failure in /html/browsers/browsing-the-web/navigating-across-documents/002.html"
[code]

[2016-11-22 13:50] jdm opened #14318 "Intermittent timeout in /html/browsers/browsing-the-web/navigating-across-documents/javascript-url-return-value-handling.html"
[code]

[2016-11-22 13:52] jdm opened #14319 "Intermittent timeout in /_mozilla/mozilla/mozbrowser/private_browsing.html, /html/browsers/history/the-location-interface/location_reload.html, and /_mozilla/mozilla/mozbrowser/mozbrowsershowmodalprompt_event.html"
[code]
[code]
[code]

[2016-11-22 14:08] Ms2ger commented on #14019
This warning is not related to your error.

[2016-11-22 14:11] jdm commented on #14267
Redisabled in #14321.

[2016-11-22 14:11] Integralist opened #14322 "Build Fails on 10.11.6 (El Capitan)"
Hello,

Here are the steps I've taken to compile Servo:

- `brew install rust pyenv automake pkg-config cmake yasm`
- `pyenv local 2.7.11`
- `pip install pyobjc virtualenv`
- `git clone git@github.com:servo/servo.git`
- `./mach build -r --verbose`

My Rust version is `1.13.0`.

Here is the output of the build:

[code]

[2016-11-22 14:37] jdm opened #14323 "Intermittent crash ("failed to fill whole buffer") in /navigation-timing/nav2_test_open_data_uri.html, /html/browsers/browsing-the-web/navigating-across-documents/javascript-url-query-fragment-components.html, and /html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-2.html, /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_nonescaping-2.html"
[code]

[2016-11-22 14:58] jdm opened #14324 "Update canonicalize_filter spec link and steps"
The spec has been updated so we can link to https://webbluetoothcg.github.io/web-bluetooth/#bluetoothlescanfilterinit-canonicalizing instead, and renumber the steps appropriately.

cc @dati91 @zakorgy

[2016-11-22 15:12] dati91 commented on #12614
https://github.com/servo/servo/issues/14324

[2016-11-22 15:25] chenpighead commented on #13849
I've finished the parsing/serialization part. Will continue to work on gecko glue and feature verification on Stylo.

[2016-11-22 16:07] jdm opened #14325 "Intermittent failure in /html/browsers/browsing-the-web/navigating-across-documents/empty_fragment.html"
[code]

[2016-11-22 16:08] jdm opened #14326 "Intermittent failure in /html/semantics/scripting-1/the-script-element/script-not-executed-after-shutdown.html"
[code]

[2016-11-22 17:04] Manishearth opened #14327 "Support origins in CSSOM stylesheets"
We currently allow CSSOM access to any stylesheet. Inspecting rules should only be allowed for same-origin stylesheets; i.e. those with the [origin-clean flag](https://drafts.csswg.org/cssom/#concept-css-style-sheet-origin-clean-flag) set. We should implement this flag.

[2016-11-22 17:18] glasserc commented on #13821
I'm taking a swing at this, so I thought I'd mention it to prevent getting scooped :)

So far, per discussions on IRC with nox, I have been defining a `specified::MinLength` type and a `computed::MinLength` type. (I will do the same for `MaxLength` once I feel confident that this is the right approach.) Since `MinLength` and `MaxLength` share certain values (`max-content`, `min-content`, `fit-cont

[2016-11-22 17:29] Manishearth commented on #13821
Just use `LengthOrPercentage`, LoP already allows for calc values and knows how to interpolate it.

Yep. You can no longer use `impl_style_coord`, you will have to manually write glue code (this is done by taking the `impl_style_struct`, adding `min-width` to the skipped longhands, and manually writing set/copy/clone functions). For `LengthOrPercentage` values you can just use `to_gecko_style_coor

[2016-11-22 20:52] asajeffrey opened #14328 "Each script thread should own a layout thread factory"
At the moment, when a script thread wants to create a new layout thread, it sends a message to one of the existing layout threads asking for it to spawn. It would be simpler just to provide the script thread with a layout thread factory, and would also deal with the corner case where a script thread has no attached layouts, but is asked to create a layout thread.

cc @jdm

[2016-11-22 21:09] mbrubeck commented on #14242
This is caused by #11297.

[2016-11-22 22:45] emilio opened #14329 "Property declaration block serialization should check for importance"
See https://drafts.csswg.org/cssom/#serialize-a-css-declaration-block (step 3.3.2.4):

Just creating it since it doesn't seem to be tracked. There's a `TODO` in declaration_block.rs line 99 in this regard.

cc @Manishearth @SimonSapin and @canaltinova (who could be interested in working on this)

I don't have a clear estimate of how easy or hard this can be. Probably not too much, but should be ba

[2016-11-22 23:59] #633 closed

[2016-11-23 03:39] danrien opened #14333 "Layout attached to empty script thread."
Layout attached to empty script thread.
### URL:

### Servo Version:
Servo 0.0.1-1535f84
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-23 03:52] glennw commented on #13953
@paulrouget I've updated my mac mini to Sierra today - both browser.html and normal website loading is working fine with current WR for me. So it must be something related to a specific driver / hardware combination I guess. Could you try running with / without discrete graphics enabled and see if that makes any difference?

[2016-11-23 05:07] dzbarsky opened #14336 "Scrolling on pinterest.com is buggy"
A few things:

1. scrolling the page scrolls a "shadow copy" of the text at the bottom, so it becomes doubled up
2. after switching windows and coming back, the bottom bar of text has moved up like so
![screen shot 2016-11-22 at 9 06 05 pm](https://cloud.githubusercontent.com/assets/1565842/20551669/9089ce2c-b0f7-11e6-9aad-f4ca72a877f0.png)
3. also the background has now stopped scrolling
4. scrol

[2016-11-23 07:49] canova opened #14337 "Intermittent timeout in /_mozilla/css/iframe/hide_after_load.html, /css-backgrounds-3_dev/html4/box-shadow-syntax-001.htm, /css/css-backgrounds/box-shadow-syntax-001.xht"
[code]

[2016-11-23 08:16] KiChjang opened #14338 "Intermittent crash of /_mozilla/mozilla/mozbrowser/mozbrowserlocationchange_event.html and /html/browsers/browsing-the-web/navigating-across-documents/javascript-url-return-value-handling.html and /html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/allow-scripts-flag-changing-2.html"
[code]

[2016-11-23 08:36] canaltinova commented on #14329
I can give this one a try

[2016-11-23 09:17] KiChjang opened #14339 "Intermittent crash of /css21_dev/html4/ignored-rules-001.htm"
[code]

[2016-11-23 09:23] Ms2ger commented on #14328
Please don't do anything here before I manage to land #13996.

[2016-11-23 10:16] paulrouget commented on #14259
Actually - I'm not 100% sure it's the same issue. I tried with my macbook pro with Sierra, I don't have any problem.

[2016-11-23 10:18] paulrouget commented on #14259
@jespersh can you try with the integrated and the discrete gpu see if it makes a difference?

[2016-11-23 10:18] paulrouget commented on #13953
I updated my macbook pro, tried with both gpu, and there's no problem. But it's been reproduced here with a macbook pro: https://github.com/servo/servo/issues/14259

Also, I tried with a macbook air, no problem.

It happens with my macbook (not pro) 2015 though.

[2016-11-23 10:19] paulrouget commented on #13953
@jonathandturner / @Bforsyth1234 what os&hardware do you use?

[2016-11-23 10:32] jespersh commented on #14259
Graphics info for tracking:
  Chipset Model:	Intel Iris Graphics 6100
  Type:	GPU
  Bus:	Built-In
  VRAM (Dynamic, Max):	1536 MB
  Vendor:	Intel (0x8086)
  Device ID:	0x162b
  Revision ID:	0x0009

[2016-11-23 10:43] johansigfrids commented on #13953
I can report that I also get the black screen with a white box in the corner. This is on a MacBook Pro (Retina, 13-inch, Early 2015) with macOS Sierra.

[2016-11-23 10:51] paulrouget commented on #13953
@johansigfrids Intel Iris?

[2016-11-23 10:51] jespersh commented on #14259
For reference outside of IRC, this macbook pro only has an integrated graphics card. Model is in previous comment

[2016-11-23 10:54] johansigfrids commented on #13953
@paulrouget Yes, Intel Iris Graphics 6100.

[2016-11-23 10:55] paulrouget commented on #13953
So far:

Intel HD Graphics 4000: works
Intel Iris Graphics 6100: doesn't work
Intel HD Graphics 5300: doesn't work

[2016-11-23 11:14] mmatyas commented on #13154
So, I thought maybe the glue code wasn't injected/set up properly, so I replaced the current Android build system with cargo-apk, but that didn't help either. Then I noticed producing ~crazy~ random input for several seconds causes Servo to actually do something: it starts loading the shaders, and crashes there.

The first shader error I've got was a simple `no default precision defined for variab

[2016-11-23 12:51] jdm commented on #14333
cc @asajeffrey

@danrien Any idea what pages you were looking at?

[2016-11-23 12:56] jdm commented on #14339
Covered by #13479.

[2016-11-23 12:56] #14339 closed

[2016-11-23 13:04] jdm opened #14342 "Intermittent failure in /_mozilla/css/iframe/simple.html"
[code]

[2016-11-23 13:08] jdm commented on #14342
The output iframe's contents were blank; in the reference there is some text inside of it.

[2016-11-23 13:46] mipko opened #14343 "unable to start"
Hello,

I just downloaded the servo latest. Tried to start it on Mint 16 and got crash

[code]

[2016-11-23 14:08] jdm commented on #14343
This would be caused by the result of [QueryExtensionsString](https://github.com/tomaka/glutin/blob/8524fce90e28f7a411c62bf9d5b0a92910116c74/src/api/glx/mod.rs#L74) returning something invalid.

[2016-11-23 14:26] danrien commented on #14333
I don't remember! It was a random (forgettable) story on Hacker News .

[2016-11-23 14:46] asajeffrey commented on #14333
@danrien I pushed PR #14344 which will hopefully fix this. Thanks for reporting it!

[2016-11-23 14:49] mipko commented on #14343
do you have suggestion how to overcome this?

[2016-11-23 15:23] asajeffrey commented on #14328
Will do.

[2016-11-23 15:36] jdm commented on #14343
@mipko If you can build a local copy of Servo, you could clone Servo and https://github.com/servo/glutin, then [override](http://doc.crates.io/specifying-dependencies.html#overriding-with-local-dependencies) glutin with the local clone and modify https://github.com/tomaka/glutin/blob/8524fce90e28f7a411c62bf9d5b0a92910116c74/src/api/glx/mod.rs#L74 to read:
`let extensions = if !extensions.is_null()

[2016-11-23 15:38] mipko commented on #14343
@jdm, many thanks,
I will do that later tonight.

[2016-11-23 15:39] Wafflespeanut commented on #14297
@AgostonSzepessy The PR has merged (in case you haven't noticed). Feel free to work on it :)

[2016-11-23 16:27] jcdyer commented on #14295
Ok, I've got a first-pass fix.  All the other tests in the test file run against the shorthand, but I'm testing against the longhand.  If that's not desirable, I can update it.

[2016-11-23 16:46] jdm opened #14348 "Intermittent timeout in /_mozilla/css/iframe/hide_after_load.html"
[code]

[2016-11-23 16:48] ConnorGBrewster commented on #14348
Duplicate of #14337?

[2016-11-23 16:57] jdm commented on #14348
Yep!

[2016-11-23 16:57] #14348 closed

[2016-11-23 17:27] guisapol opened #14349 "Trouble running sh script from nightly build"
I run ./runservo.sh

And I get this error

 ./servo: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory

[2016-11-23 17:29] guisapol commented on #14349
I get this error in Fedora 24 and 25 if that helps.

[2016-11-23 17:40] emilio commented on #14343
What's the output of `glxinfo`? just curious.

[2016-11-23 18:11] jdm commented on #14349
This is covered by #12232. Thanks for reporting it!

[2016-11-23 18:11] #14349 closed

[2016-11-23 19:18] Wafflespeanut opened #14350 "Prefer "Either" type for column-width"
- Declare a new type alias `LengthOrAuto` in both [computed](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/computed/length.rs) and [specified](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/specified/length.rs) modules (it should make use of the `Auto` unit struct declared [here](https://gi

[2016-11-23 19:23] highfive commented on #14350
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-23 21:17] brandon-gong commented on #12125
just downloaded and ran today's msi file.  Installs cleanly.  Currently the most glaring issues are that there is no icon and also the text renders strange and mismatched.

![image](https://cloud.githubusercontent.com/assets/19562455/20579037/f205ad40-b18f-11e6-8fb7-5c2243c82621.png)

[2016-11-23 21:21] notriddle commented on #13683
@pcwalton ... how's it going?

[2016-11-23 21:35] #14295 closed

[2016-11-23 23:04] jrmuizel opened #14352 "inline-block causes twitter layout problems"
https://people-mozilla.org/~jmuizelaar/bugs/twitter-reduce.html renders wrong in Servo. This is a reduced version of https://people-mozilla.org/~jmuizelaar/webrender/sites/twitter.html

Removing the "display: inline-block" from the Icon class fixes the layout.

@pcwalton

[2016-11-23 23:39] stshine commented on #13683
@notriddle he is on pto till monday.

[2016-11-24 00:12] larsbergstrom commented on #13154
cc @glennw for ideas about the failure to compile the shaders on Android

[2016-11-24 00:20] AgostonSzepessy commented on #14297
@Wafflespeanut Thanks for letting me know!

In `/components/style/values/specified/length.rs` `LengthOrNumber` implements `parse_non_negative`. Will I also have to do that for `LengthOrNormal` or does `Either` take care of that?

[2016-11-24 03:39] Wafflespeanut commented on #14297
Yeah, it's now a generic  [`parse_non_negative_length`](https://github.com/Wafflespeanut/servo/blob/dc7c1c62706d56d9e83c1edc665b95abd93181b8/components/style/values/specified/length.rs#L346) for `Either<Length, T>`. You can use it directly :)

[2016-11-24 05:08] Wafflespeanut commented on #13849
Well, you can open a PR (with a note of WIP at the top) :)

[2016-11-24 10:29] canaltinova commented on #14329
To test this one properly, looks like `CSSStyleRule.style` needs to be implemented. There is an open PR for it. I'm waiting that one for merge.

[2016-11-24 13:52] Ms2ger opened #14363 "Implement HSTS"

[2016-11-24 14:28] #14333 closed

[2016-11-24 16:07] Manishearth commented on #14329
You should be able to test it with `element.style`

[2016-11-24 16:49] asajeffrey opened #14364 "Transitory initial width and height for windows in iframes"
When an iframe is first created, its `window_size` is set to `None`. This is later set by `Constellation::handle_iframe_size_message` (https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L1312) in response to a `FrameSize` event from the compositor, which contains the size calculated by webrender in `RenderNotifier::pipeline_size_changed` (https://github.com/servo/

[2016-11-24 20:38] Razican commented on #14350
Hi! I would like to work in this issue, if it's OK :)

[2016-11-24 21:38] KiChjang commented on #13868
Unassigning due to inactivity.

[2016-11-24 21:40] KiChjang commented on #13868
@Razican I think this is a much better issue for you to get started on hacking servo.

[2016-11-24 21:40] KiChjang commented on #14350
@Razican I've highlighted another issue that you can work on. This should better be left as a second bug rather than a first bug.

[2016-11-24 22:54] Razican commented on #13868
@KiChjang ok, sure, I'll start with it. Thanks!

[2016-11-25 01:50] jcdyer commented on #14350
I'll take this one one.  I just did a good starter bug in the same part of the code base.

[2016-11-25 02:42] Wafflespeanut commented on #14350
Great! :)

[2016-11-25 05:05] bholley commented on #13593
Disabling this test in #14300 for too many intermittent failures with signoff from @Manishearth.

[2016-11-25 12:09] Ms2ger opened #14368 "Sandboxed iframe handling makes no sense"
Only the presence of the `sandbox` attribute is taken into account, not its value.

[2016-11-25 16:04] jdm commented on #14338
[code]

[2016-11-25 16:05] jdm commented on #14338
cc @glennw

[2016-11-25 17:04] chenpighead opened #14369 "Update property hacking guide wiki"
Since `column-width` has been used as an example for [property hacking guide](https://github.com/servo/servo/wiki/Property-hacking-guide), maybe we should consider update wiki once #14350 has been done. Maybe updating 'column-width' as an `helpers.predefined_type` example and adding another 'not predefined_type' example could be an option.

Second thoughts, we could just update 'column-width' to a

[2016-11-25 17:14] chenpighead commented on #13849
@Wafflespeanut, thank you for the pointer. I'll use WIP note next time. :)

[2016-11-26 00:13] frewsxcv opened #14371 "Add minimum window size constraints for Servo"
Servo can be resized down to 1px by 1px. If a user does this on accident, the user is going to have a Bad Time™. As of [this PR](https://github.com/tomaka/winit/pull/89), upstream tomaka/glutin supports min/max window dimension constraints on all platforms (apparently Windows and Linux support already exists). What's the story nowadays for updating glutin? servo/glutin looks pretty far behind.

[2016-11-26 00:20] frewsxcv commented on #14371
Here are the changes from upstream:

https://github.com/servo/glutin/compare/master...tomaka:master

[2016-11-26 03:17] Wafflespeanut commented on #14369
We [already have an example](https://github.com/servo/servo/wiki/Stylo-hacking-guide#implementing-a-predefined-type-property) for `predefined_type`.  I'll replace `column-width` once the issue's resolved. Thanks for reminding :)

[2016-11-26 04:31] tigt opened #14372 "Bizarre rendering on macOS 10.12.1 (16B2555)"
## macOS:
Version 10.12.1 (16B2555)
1.6 GHz Intel Core i5
4 GB 1600 MHz DDR3
Intel HD Graphics 6000 1536 MB
(standard density screen)

## Servo:
Servo 0.0.1-bf92d0a

[Screen recording of launch: servo-launch.mp4.zip](https://github.com/servo/servo/files/614048/servo-launch.mp4.zip)

![Screenshot of Servo displaying a whole lotta black, and not much else.](https://cloud.githubusercontent.com/assets

[2016-11-26 13:27] jdm commented on #14372
Duplicate of #14259. Thanks for reporting it!

[2016-11-26 13:27] #14372 closed

[2016-11-26 14:10] #14329 closed

[2016-11-26 15:36] oldmanmike commented on #14095
Sure, I'd be willing to pass this one off to @linclark!

[2016-11-26 16:17] #13849 closed

[2016-11-27 12:58] nox commented on #12415
AFAICT, WebGL interfaces haven't been taken care of yet.

[2016-11-27 13:41] nox commented on #12415
The WebGL interfaces are taken care of by https://github.com/servo/servo/pull/14376.

[2016-11-27 14:04] nox opened #14377 "Intermittent timeout in /_mozilla/css/border_radius_shorthand_a.html"
[code]

[2016-11-27 14:41] jdm opened #14378 "Intermittent timeout ("assertion failed: glyphs[0] != 0") in /css-text-decor-3_dev/html/text-emphasis-style-property-010Cn.htm"
[code]

[2016-11-27 15:52] kimsnj commented on #13515
I reproduced the issue on my computer.
I'll try to submit a fix as suggested by @jdm

[2016-11-27 16:19] frewsxcv commented on #14363
Relevant section:

https://fetch.spec.whatwg.org/#main-fetch

Part of step 9:

[2016-11-27 17:29] nox opened #14380 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/reading/read-pixels-test.html"
[code]

[2016-11-27 17:41] Razican commented on #13868
I'm being unable to make the example in MDN work :/ This is what I see:
![screenshot from 2016-11-27 18-37-54](https://cloud.githubusercontent.com/assets/597469/20650526/bb47e5c2-b4d0-11e6-9795-7e94760b5d86.png)

I implemented this in `components/style/properties/longhand/column.mako.rs`:
[code]

I'm using Linux, not sure if that could affect. In Firefox I see the example like this:
![screenshot f

[2016-11-27 17:55] Manishearth commented on #13868
Is this in Servo or Stylo?

Also, it might help to extract the example into an independent HTML page.

[2016-11-27 18:28] Razican commented on #13868
@Manishearth I'm using the stylo git repo. I also tried [the example alone](https://mdn.mozillademos.org/en-US/docs/Web/CSS/column-rule-style$samples/Examples?revision=1047988), and the same happens.

[2016-11-27 19:54] Manishearth commented on #13868
Oh. The example uses `-moz-column-rule-style`, but the snippet above implements it as `column-rule-style`. Change the example to use `column-count` and `column-rule-style`

[2016-11-27 22:55] Razican commented on #13868
Perfect, now it works. I'll pull request ASAP.

[2016-11-28 09:24] #14115 closed

[2016-11-28 09:56] nox opened #14388 "Teach tidy to fail on WIP commits"
I don't want to land such a commit again. How embarrassing.

[2016-11-28 09:56] highfive commented on #14388
cc @wafflespeanut

[2016-11-28 10:19] wafflespeanut opened #14389 "Intermittent TIMEOUT and NOTRUN in /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgba-5.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgba-6.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.current.basic.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgba-3.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgb-6.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgba-4.html and /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgba-2.html"
▶ TIMEOUT [expected OK] /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgb-6.html
      │
      │ VMware, Inc.
      │ Gallium 0.4 on softpipe
      └ 3.3 (Core Profile) Mesa 12.0.1

      ▶ Unexpected subtest result in /2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.css-color-4-rgb-6.html:
      └ NOTRUN [expected FAIL] Canvas test: 2d.fillStyle.parse.css-color-4-rgb-6

[2016-11-28 10:24] Ms2ger opened #14390 "Should execute script on the global of the document of a script element at time it is prepared."
[Run a classic script](https://html.spec.whatwg.org/multipage/webappapis.html#run-a-classic-script) uses the settings object that is stored in the [script](https://html.spec.whatwg.org/multipage/#concept-script) at the time it is [created](https://html.spec.whatwg.org/multipage/#creating-a-classic-script).

I think it's possible to write a test that creates a script in one document, [prepares](htt

[2016-11-28 14:26] #13868 closed

[2016-11-28 14:35] jdm opened #14391 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/rendering/many-draw-calls.html"
[code]

[2016-11-28 19:15] jdm opened #14396 "Testing intermittent tracker jdm.html"

[2016-11-28 23:21] nox opened #14398 "Intermittent crash in /dom/ranges/Range-surroundContents.html"
[code]

[2016-11-29 01:16] jcdyer commented on #14350
Had a little trouble with the gecko glue, but I think I figured it out.

[2016-11-29 01:49] linclark commented on #14095
Thanks! I posted my work-in-progress. I ran into two issues, which I explain in the PR.

[2016-11-29 03:20] Wafflespeanut commented on #14198
@choudhary001 Are you still working on this?

[2016-11-29 03:40] pcwalton opened #14402 "nytimes.com uses 100% CPU in offset-parent requests"
STR: Go to nytimes.com, wait for page to load, observe 100% CPU after the page has loaded.

Result of `-Z relayout-event`:

    **** pipeline=(0,1)	ForDisplay	NoQuery	Timer
    **** pipeline=(0,1)	ForScriptQuery	ContentBoxQuery	Query
    **** pipeline=(0,1)	ForScriptQuery	OffsetParentQuery	Query
    **** pipeline=(0,1)	ForScriptQuery	OffsetParentQuery	Query
    **** pipeline=(0,1)	ForScriptQuery	O

[2016-11-29 05:01] Wafflespeanut commented on #13877
@cers Any news?

[2016-11-29 05:03] Wafflespeanut commented on #14108
@justinaustin Are you working on this?

[2016-11-29 05:15] Wafflespeanut commented on #13668
@vgvenkat Sorry, I forgot to ping you. That PR has landed. Are you planning to work on this?

[2016-11-29 05:21] #14148 closed

[2016-11-29 05:46] pcwalton commented on #14402
Rust stack:

    * thread #26: tid = 0x800a1, 0x00000001009f7b40 servo`script::dom::window::Window::offset_parent_query::h5110a96cadc08136, stop reason = breakpoint 1.1
        frame #0: 0x00000001009f7b40 servo`script::dom::window::Window::offset_parent_query::h5110a96cadc08136
        frame #1: 0x00000001008df78e servo`_$LT$script..dom..htmlelement..HTMLElement$u20$as$u20$script..dom..bindings..

[2016-11-29 05:47] pcwalton commented on #14402
(For future reference: in LLDB, if you want to figure out the JS stack, you can go to the frame with a JSContext and say `call JS_EncodeString(cx, js::ComputeStackString(cx))`)

[2016-11-29 06:10] pcwalton commented on #14402
Strangely, no nodes seem to be getting dirtied from script, but layout keeps thrashing over and over!

[2016-11-29 10:50] kekkyojin opened #14405 "Servo stops responding to user interaction after overscroll"
After overscrolling, no matter if at the top or at the bottom, both Servo and browserhtml stops responding to any interaction from the user.

It is behaving as expected of no overscroll is triggered.

Using Servo, local build from latest repository code in macOS 10.12.1 (Sierra).

[2016-11-29 13:21] highfive commented on #14069
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-29 13:22] #13734 closed

[2016-11-29 14:11] #3704 closed

[2016-11-29 14:18] jdm opened #14409 "get_primary_service doesn't check blocklist or allowed services"
The spec annotation steps in #14407 helped me realize that get_primary_service and get_primary_services implement the same algorithm but have different behaviour. The spec says that the service returned from get_primary_service should not be blocklisted and should be in the list of allowed services.

cc @dati91 @zakorgy

[2016-11-29 14:21] jdm commented on #14409
get_included_service seems to also be missing these checks.

[2016-11-29 15:04] dati91 commented on #14409
We check for blocklist [here](https://github.com/servo/servo/blob/master/components/script/dom/bluetoothremotegattserver.rs#L104) and for the allowed services [here](https://github.com/servo/servo/blob/master/components/bluetooth/lib.rs#L670).

[2016-11-29 15:12] jdm commented on #14409
What is the purpose of checking the blocklist in get_primary_services, in that case?

[2016-11-29 15:13] jdm commented on #14409
Disregard that question, I read the code and it makes more sense.

[2016-11-29 15:13] #14409 closed

[2016-11-29 16:37] choudhary001 commented on #14198
Yes, I am going through the documentation. Will try to submit a PR by next week if thats okay.

[2016-11-29 17:52] frewsxcv commented on #13953
I also have this problem with Intel Iris Graphics 540 on a 2016 Macbook Pro

[2016-11-29 18:06] firephil commented on #12125
https://download.servo.org/nightly/windows/servo-latest.msi

[2016-11-29 18:09] lnicola commented on #12125
I can't install this, the installer closes (?!) at the "gathering requirements" stage. The window simply disappears. Windows 10 x64.

[2016-11-29 18:12] SaschaNaz commented on #12125
@lnicola https://github.com/servo/servo/issues/12125#issuecomment-244376266

[2016-11-29 18:15] BladeMight commented on #12125
Why don't provide portable zip, instead of msi installer for nightly?

[2016-11-29 18:16] ssokolow commented on #12125
@SaschaNaz

Normally, you need to opt into unattended mode with a command-line switch. That's where the confusion would be coming in. (Normally, there's at least an "Installation complete" message box when not in unattended mode.)

[2016-11-29 18:18] lnicola commented on #12125
That's right, sorry 😞. I looked for it in the Start menu, but Windows takes a couple of seconds to update it and I probably tried too soon. Guess it installs too fast 😄.

Well, it looks like this:

![image](https://cloud.githubusercontent.com/assets/308347/20722890/faf23906-b670-11e6-9519-e0827a367f7b.png)

[2016-11-29 18:36] asajeffrey opened #14411 "Discard documents and browsing contexts synchronously"
#14262 addresses implementing document discarding, and is addressed by #14312. That implementation is asynchronous, in that script notifies the constellation when a document can be discarded, and the constellation notifies the appropriate script threads. As a result, there is a delay between discarding a document and its descendants being discarded. The spec is synchronous (https://html.spec.whatw

[2016-11-29 18:40] asajeffrey commented on #14411
Also see an irc chat on #whatwg with @annevk: http://logs.glob.uno/?c=freenode%23whatwg&s=29+Nov+2016&e=29+Nov+2016#c1013743

[2016-11-29 19:06] justinaustin commented on #14108
I won't be able to finish it with finals coming up. Apologies!

[2016-11-29 19:44] asajeffrey commented on #14411
A test case:
[code]
FF passes, but Servo fails with:
[code]

[2016-11-29 19:53] jonathandturner commented on #13953
@paulrouget yup, I'm got one with the issue:

Intel Iris Graphics 6100 1536 MB

MacBook Pro (Retina, 13-inch, Early 2015)

[2016-11-29 19:58] glennw commented on #13953
@pcwalton may be able to reproduce this on his mac after updating to Sierra.

If it's not resolved before the all hands next week, I'll try to borrow someone's machine that can repro it for a couple of hours and fix it in Hawaii :)

[2016-11-29 20:00] frewsxcv commented on #13953
@glennw I'll be there next week, so feel free to take mine.

[2016-11-29 20:08] glennw commented on #13953
@frewsxcv Thanks!

[2016-11-29 20:50] gaby2300 commented on #12125
It seems something went wrong the last time I installed it. Now I cannot
uninstall it. I would need to delete all the related files in the registry.
Could someone help me please? I would greatly appreciate it!

On 29 November 2016 at 15:18, Laurentiu Nicola <notifications@github.com>
wrote:

[2016-11-29 21:03] BladeMight commented on #12125
Install it over again, and then uninstall.

[2016-11-29 21:05] gaby2300 commented on #12125
I cannot install it because the system believes it's already installed

On 29 November 2016 at 18:03, Maxim <notifications@github.com> wrote:

[2016-11-29 21:07] BladeMight commented on #12125
OK, wait I'll give you log with all installation does to system.

[2016-11-29 21:10] BladeMight commented on #12125
@gaby2300 here the log:
[Installation_Log.txt](https://github.com/servo/servo/files/620215/Installation_Log.txt)

[2016-11-29 21:23] Kein commented on #12125
Lol, whose brilliant idea was to pack the compiled binaries into MSI package.

[2016-11-29 21:23] jdm opened #14414 ""We were lied" assertion is very common while running tests under rr"
[code]

cc @emilio

[2016-11-29 21:24] jdm commented on #14414
I hit this on the third iteration of `./mach test-css css21_dev/html4/min-width-095.htm --release --chaos`. I haven't tried debug builds yet.

[2016-11-29 21:28] gaby2300 commented on #12125
Fortunately I was able to uninstall it with CC Cleaner, as I wouldn't have
risked deleting so many entries in the registry in case I ruined my Windows
installation!

Unfortunately I am still getting a blank window that only opens for a few
seconds.

On 29 November 2016 at 18:11, Maxim <notifications@github.com> wrote:

[2016-11-29 21:33] BladeMight commented on #12125
@gaby2300 try running in cmd in servo directory(C:\Program Files\Mozilla Research\Servo Tech Demo):
[code]
to open browser.html.

[2016-11-29 21:53] jdm commented on #14414
This reproduced using a debug build as well.

[2016-11-29 21:54] jdm commented on #14414
My recording is at `rr replay /home/jdm/.local/share/rr/servo-34320` so I don't forget about it.

[2016-11-29 22:23] digitarald opened #14415 "Servo Experiments do not perform well"
Tested on OSX 10.12.1 (16B2555), MacBook Pro (Retina, 15-inch, Early 2013) using Servo 0.0.1-4021d05

- [Tiles](https://mozdevs.github.io/servo-experiments/experiments/tiles/) has long lags while fading tiles
- [Dogetest](http://dogetest.com) stops working at 26

[2016-11-29 22:23] gaby2300 commented on #12125
@Maxim, thanks but I get the same, just a blank window for a few seconds

On 29 November 2016 at 18:33, Maxim <notifications@github.com> wrote:

[2016-11-29 22:25] jdm commented on #14415
The doge test works fine for me on linux (although it does go into a bullet-time effect if you move the mouse).

[2016-11-29 22:26] jdm commented on #14415
The tiles demo does lag for me on linux, however.

[2016-11-29 22:26] jdm commented on #14415
cc @pcwalton if you're looking for some simple perf profiling to tackle.

[2016-11-29 22:30] BladeMight commented on #12125
@gaby2300 well, maybe you should try installing `Visual C++ 2015 x64 redist` if not installed already. Or maybe CCleaner cleanered not enough...
Your `@Maxim` is wrong, it directed not to me, use `@BladeMight` to direct me.

[2016-11-29 22:38] gaby2300 commented on #12125
@BladeMight, many thanks for your help!! Running CCleaner shows Servo Tech Demo again. Besides "Run uninstaller", which I did but seemed not to work, I get 2 other options: "Rename entry" and "Delete entry". Should I try uninstalling again and if it doesn't work then try one of the other 2?

[2016-11-29 22:40] BladeMight commented on #12125
@gaby2300 deleting entry wont fix anything! Use Run uninstaller and say what is says.

[2016-11-29 22:44] BladeMight commented on #12125
Try deleting registry folder:
`HKEY_CURRENT_USER\Software\Mozilla Research`
and then run msi again.

[2016-11-29 23:13] gaby2300 commented on #12125
@BladeMight,  I was able to delete it and I installed it again but no changes. Repairing doesn't change anything either.

[2016-11-29 23:16] BladeMight commented on #12125
@gaby2300 Well, then I don't know why that happens, maybe someone from developers can answer this.

[2016-11-29 23:16] gaby2300 commented on #12125
My Visual C++ 2015 x64 redist version is outdated, do you think updating it may solve the problem? If so, could you please tell me where should I download it from? Thanks!

[2016-11-29 23:18] BladeMight commented on #12125
@gaby2300 Here:
https://www.microsoft.com/en-us/download/details.aspx?id=53840
pick both and install them.

[2016-11-29 23:33] nox commented on #13465
Can't we just implement `ToJSValConvertible` for `&ToJSValConvertible`? https://play.rust-lang.org/?gist=aabe46af9b3ba6b7138b3acc5c66d6f5&version=stable&backtrace=1

[2016-11-29 23:37] nox commented on #13402
We could wrap `mitochondria::OnceCell`.

[2016-11-29 23:48] BladeMight commented on #12125
Just tested, servo runs OK for me even without any VC++ Redist. @gaby2300 maybe there some other problem.

[2016-11-30 00:05] gaby2300 commented on #12125
@BladeMight I still have the same problem. Regarding the drivers for the video card, my video always works fine so I suppose I have.

[2016-11-30 00:09] BladeMight commented on #12125
@gaby2300 Well, I have no other opinions why that happennig...

[2016-11-30 00:19] BladeMight commented on #12125
@gaby2300 According to whole posts I have a clue, that some missing(?) fonts may prevent from normal execute, try restoring your fonts from https://www.youtube.com/watch?v=-YvRa2u58nI

[2016-11-30 00:58] pcwalton opened #14416 "[security] Use-after-free in run_the_animation_frame_callbacks"
Possibly exploitable use after free due to bad rooting. This is because we have `FnBox` and we don't scan these for roots.

Call stack:

        * thread #25: tid = 0xce1e1, 0x00000001013b7943 servo`js::GetGlobalForObjectCrossCompartment(JSObject*) [inlined] js::ObjectGroup::compartment(this=0x4b4b4b4b4b4b4b4b) const at ObjectGroup.h:127, stop reason = EXC_BAD_ACCESS (code=EXC_I386_GPFLT)

[2016-11-30 00:59] pcwalton commented on #14416
@amccreight tells me that the 0x4d4d4d4d4d4d4d4d is an indication of use-after-sweep. Probably we're closing over a DOM node in the `FnBox`. @Manishearth tells me we don't scan upvars.

This needs to be addressed systematically before we deploy Servo.

[2016-11-30 01:00] pcwalton commented on #14416
See #13209

[2016-11-30 01:12] pcwalton opened #14417 "Implement backoff to a fake refresh driver if the page abuses requestAnimationFrame()"
We see too many pages, like nytimes.com, that perpetually run `requestAnimationFrame()` callbacks that do nothing. In Servo, because we try to synchronize rAF precisely with VBLANK, we have to actually draw something in order to perform `requestAnimationFrame()`. This means that pages like NYT are constantly drawing and eating CPU.

I propose that we detect this kind of abuse—repeated rAF without

[2016-11-30 01:46] gaby2300 commented on #12125
@BladeMight I'll try that as soon as I can. Many thanks for your help, I greatly appreciate it!

[2016-11-30 02:28] shinglyu commented on #5187
CSS parser is done in #14218, gw has some suggestion for the webrender part:

06:05	shinglyu	gw: And in the code handing the filter, I add a new branch and try to make it point to the shader code?
06:06	gw	shinglyu: yep, that's right. As a first implementation, you could probably just directly calculate the drop shadow in that ps_blend shader, however long term we will probably want it to work sim

[2016-11-30 04:05] notriddle opened #14419 "Split `running_animations` into two lists, one for keyframes and one for transitions"
Instead of this:

[code]

The data should be defined like this:

[code]

Making this change (there are more spots that will need to be changed than the ones shown, of course) should reduce the rightward drift that comes from having to loop and then match (instead, it's just two loops). It should also save RAM, by only allocating the space we need instead of the space of the largest variant (in thi

[2016-11-30 04:19] Wafflespeanut commented on #14108
No worries! Thanks for letting us know.

[2016-11-30 05:51] 46bit commented on #14069
Hi, I just found Servo. It looks like this is up-for-grabs so I've made the patch above.

[2016-11-30 08:13] emilio commented on #14414
Wow, that's surprising, will look into it today or tomorrow.

[2016-11-30 10:31] Ms2ger commented on #13465
It's certainly possible, but would probably involve a virtual call... Might still be worth it.

[2016-11-30 13:12] mmatyas opened #14422 "Android packaging fails"
[code]

[2016-11-30 14:46] Naruto8 commented on #14108
Excuse me.. I want to start contributing, never did before. I always get confused (low on confidence) so can anyone help me  work on this issue?

[2016-11-30 16:10] gterzian commented on #13249
Wanted to point out that this issue has moved somewhat deeper then the stuff we initially discussed here, and there is more info in the PR itself(not sure if we should move that discussion in here btw) see https://github.com/servo/webrender/pull/599

[2016-11-30 18:16] KiChjang commented on #14342
Duplicate of #14162.

[2016-11-30 18:16] #14342 closed

[2016-11-30 18:28] KiChjang commented on #14108
@Naruto8 Sure we can! Ask us anything here or join us at #servo on `irc.mozilla.org` if you have any questions!

[2016-11-30 18:32] KiChjang opened #14425 "Intermittent pass of /css-transitions-1_dev/html/changing-while-transition.htm"
[code]

[2016-11-30 18:44] gaby2300 commented on #12125
@BladeMight I'll try that as soon as I can. Many thanks for your help, I greatly appreciate it!

[2016-11-30 19:31] chipshorter commented on #13953
I have same problem on Early 2015 MacBook Pro, Intel Iris Graphics 6100

[2016-11-30 19:45] gaby2300 commented on #12125
@BladeMight I watched the video. The fonts are copied from a file in a USB memory, if you now where can I get them, please tell me. Thanks again!

[2016-11-30 19:49] BladeMight commented on #12125
@gaby2300 There are links under the videos.

[2016-11-30 20:07] Bforsyth1234 commented on #13953
My mac is:

MacBook Air (13-inch, Early 2015)
Intel HD Graphics 6000 1536 MB

[2016-11-30 20:58] 46bit commented on #14068
I'd like to take this one on.

[2016-11-30 21:04] KiChjang commented on #14068
Go right ahead!

[2016-11-30 22:01] #14396 closed

[2016-11-30 23:07] KiChjang commented on #14419
Perhaps using a struct variant would make more sense? I.e.
[code]

[2016-11-30 23:23] KiChjang commented on #14419
Oh, I see what's happening here. The only thing that doesn't quite make sense to me is that you're essentially creating 2 different structs that have no relation with each other, except in the case where you have to send data over a channel and you have to wrap them with the `Animation` enum. If the receiver also handles these two animations differently, you might as well create another channel al

[2016-11-30 23:39] notriddle commented on #14419
We probably could have two separate channels, since the receiver just runs `try_recv` every animation tick, it could just as easily run `try_recv` on two separate channels.

[2016-11-30 23:53] upsuper commented on #14378
This file generates lots of noncharacters. This failure might be that Servo fails to handle those noncharacters correctly.

[2016-12-01 00:37] #14071 closed

[2016-12-01 01:31] #14324 closed

[2016-12-01 01:37] emilio commented on #14414
Unfortunately I'm kinda blocked from rr right now on https://github.com/servo/osmesa-src/issues/14. I'll try to upgrade osmesa, or otherwise downgrade llvm :(

[2016-12-01 07:25] ibrokemypie opened #14427 "ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug.
### URL:

### Servo Version:
Servo 0.0.1-e315da0
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-01 07:29] ibrokemypie commented on #14415
Doggiest only gets to 7 before completely freezing for me. OSX elcappitan, Macbook pro mid 2012

[2016-12-01 07:36] #14069 closed

[2016-12-01 12:43] mmatyas commented on #14422
cc @larsbergstrom

[2016-12-01 16:11] asajeffrey commented on #5239
Clsoed by #14211.

[2016-12-01 16:11] #5239 closed

[2016-12-01 16:14] asajeffrey commented on #5322
Closed by #14211.

[2016-12-01 16:14] #5322 closed

[2016-12-01 16:16] asajeffrey commented on #5481
Closed by #14211 and the PRs which led up to it.

[2016-12-01 16:16] #5481 closed

[2016-12-01 18:09] vvuk opened #14431 "Windows: using --device-pixel-ratio doesn't size window properly"
My native display has a device pixel ratio of 2.  If I run with `--resolution 1920x1080 --device-pixel-ratio 1`, I get a window that is.. way too big (the same size as if I didn't specify --device-pixel-ratio).  We need to decide if `--resolution` is in physical or logical pixels, and then take `--device-pixel-ratio` (and the actual DPR) into account appropriately.

[2016-12-01 19:53] digitarald commented on #14415
There is also some weird interaction with moving the mouse. Dogetest worked well when my mouse did not move after launching the demo. This did not apply to Tiles however.

[2016-12-01 21:51] chulkilee commented on #14415
Still exists at 0.0.1-e315da0 (from nightly dmg)

[2016-12-01 22:41] glasserc commented on #13821
Unlike `vertical-align`, which is a single property that has specific keywords, the `MinLength` type applies to both `min-width` and `min-height`. So I couldn't apply the `vertical-align` approach directly without having two copies of the set, copy and clone functions. Instead I tried to implement `GeckoStyleCoordConvertible` for `MinLength` and put it in the `predefined_types` dict the way you ex

[2016-12-01 22:44] Manishearth commented on #13821
I ... didn't 😄 . Manual would have worked, but defining it as a predefined type is better!

[2016-12-01 23:02] asajeffrey opened #14434 "Spec-compliance for strong references among Document, Window, BrowsingContext, and window proxies"
We should make sure we have the right ownership relationships among Document, Window, BrowsingContext, and window proxies.

Note that https://html.spec.whatwg.org/multipage/#garbage-collection-and-browsing-contexts says "A WindowProxy does not have a strong reference to the browsing context it was created alongside. In particular, it is possible for a nested browsing context to be discarded even i

[2016-12-01 23:04] domenic commented on #14434
I've filed https://github.com/whatwg/html/issues/2126 to try to make this clearer in the spec. I can try to prioritize it; my guess would be sometime this month.

[2016-12-01 23:05] asajeffrey commented on #14434
Thanks!

[2016-12-01 23:09] leeoniya commented on #14431
https://github.com/servo/webrender/pull/612 ?

[2016-12-02 01:42] glennw commented on #14415
I tried the tiles demo on Linux + servo master. It is certainly very laggy.

I ran the webrender profiler, and all the WR threads appear to running well above 60 fps, so it seems unrelated to rendering performance.

Perhaps something changed in the way rAF callbacks are dispatched, or something in the style system? (I know that the tiles demo is particularly heavy on styling). Any ideas @Manishear

[2016-12-02 01:43] Manishearth commented on #14415
Nothing that I'm aware of. @pcwalton ?

[2016-12-02 06:54] #14298 closed

[2016-12-02 07:02] wafflespeanut opened #14437 "Intermittent FAIL in /_mozilla/css/iframe/overflow.html"
▶ FAIL [expected PASS] /_mozilla/css/iframe/overflow.html
      └   → /_mozilla/css/iframe/overflow.html d9d9e489bc5b4508c01b06c7ff92f19dcc2ece3c
    /_mozilla/css/iframe/overflow_ref.html 10bfffa0585cecabc78f349636827d6267b2f816
    Testing d9d9e489bc5b4508c01b06c7ff92f19dcc2ece3c == 10bfffa0585cecabc78f349636827d6267b2f816

[2016-12-02 07:02] wafflespeanut opened #14438 "Intermittent FAIL in /_mozilla/css/iframe/stacking_context.html"
▶ FAIL [expected PASS] /_mozilla/css/iframe/stacking_context.html
      └   → /_mozilla/css/iframe/stacking_context.html a22164cb0bd512700cf0312ba3000ff916f5356b
    /_mozilla/css/iframe/stacking_context_ref.html 964b52c31bea5ce4500d98e8317c219212e2ff70
    Testing a22164cb0bd512700cf0312ba3000ff916f5356b == 964b52c31bea5ce4500d98e8317c219212e2ff70

[2016-12-02 07:28] rajivjhaimin commented on #14019
@Ms2ger  @igalic
I have also faced the similar warning while building servo in ubuntu 16.04 LTS.

` Compiling constellation v0.0.1 (file:///home/rjreloaded/servo/components/constellation)
warning: method is never used: `TryConvertToObject`, #[warn(dead_code)] on by default
    --> /home/rjreloaded/servo/target/debug/build/script-1ce5c7d50e394457/out/UnionTypes.rs:2132:5
     |
2132 |     unsafe fn

[2016-12-02 07:42] KiChjang commented on #14019
@rajivjhaimin If it wasn't clear enough in his last message, warnings are never the reason for a compilation failure.

[2016-12-02 07:46] highfive commented on #14388
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-02 07:46] Wafflespeanut commented on #14388
We should add a new function `check_commits` (or something similar), which invokes `git` as a subprocess, getting the last commit has, similar to [this](https://github.com/servo/servo/blob/dc92a5119997e13feb095d00777b1c2c1ce5c03d/python/tidy/servo_tidy/tidy.py#L121). Once we get that, `git log <hash>..HEAD --format=%s` should list the commit messages since that merge. Now, we need to ensure that t

[2016-12-02 07:55] #14350 closed

[2016-12-02 13:01] kronolynx opened #14440 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-b18ec28
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

### Error thrown in the terminal:
[code]

[2016-12-02 14:34] vvuk commented on #14431
Not directly related, though definitely needed for dynamic switching. For
this issue though, the window size is just wrong - it needs to take the
(current, for dynamic switching) ratio into account.

On Dec 1, 2016 6:10 PM, "Leon Sorokin" <notifications@github.com> wrote:

[2016-12-02 20:58] Permutatrix commented on #14415
I couldn't reproduce the Dogetest regression, but I bisected the Tiles one because I was bored and didn't feel like actually doing anything. It seems the mindset of a sleep-deprived teenager is useful for something after all.

The great majority of the hit came from #13866. It was getting noticeably choppy at times before that, which is probably worth looking into, but it was still very smooth for

[2016-12-02 23:16] glennw commented on #14415
@Permutatrix Thanks for taking the time to look at it! @bholley @Manishearth Is there any easy fix we can make for this to get the demo running well again in time for next week?

[2016-12-03 05:20] KiChjang opened #14444 "Intermittent failure of /css-transitions-1_dev/html/events-001.htm"
[code]

[2016-12-03 07:05] jdm opened #14447 "WebIDL callbacks should root themselves"
The codegen for a WebIDL callback yields `Rc<CallbackType>`. This value isn't safe because its reflector doesn't get added to any stack root list. We should make this behave like promises, which include a permanent root that only is removed when the final Rust promise object is destroyed.

[2016-12-03 07:05] jdm commented on #14416
FWIW, this particular instance of the FnBox thing would have been safe if our WebIDL-based callbacks rooted themselves like `Root<T>` and our Promise bindings. Because an `Rc<Callback>` does not actually add itself to any root lists, this became a safety hole. I've filed #14447 about fixing that hole.

[2016-12-03 08:55] SijmenSchoon commented on #14388
I'm in, seems like a nice starting issue to get involved with this project

[2016-12-03 09:22] azazar opened #14448 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
Same for ya.ru SERP page.

called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-106a538
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-03 09:22] azazar commented on #14448
Same as https://github.com/servo/servo/issues/13952

[2016-12-03 09:22] #14448 closed

[2016-12-03 09:43] azazar commented on #12072
Same for particles demo, when pulling particles out of screen.

[code]

[2016-12-03 09:50] Wafflespeanut commented on #14388
Great! Let us know if you have any questions :)

[2016-12-03 13:10] silverwind commented on #13953
Below is a rendering on Iris 540, MBP 2016, Sierra 10.12.2 Beta. Moving the cursor causes a small rectangle in the top-right of the window to flicker.

<img width="1024" src="https://cloud.githubusercontent.com/assets/115237/20859504/95bc40ce-b961-11e6-9d42-1437994a7152.png">

[2016-12-03 16:35] iamrohit7 commented on #14279
Is this a WPT test that I need to add?

[2016-12-03 16:47] #13515 closed

[2016-12-03 16:57] Naruto8 commented on #14108
I am still learning rust how much time will this require?

[2016-12-03 18:15] frewsxcv opened #14453 "Implement "browsing context names" concept."
Concepts:

* https://html.spec.whatwg.org/multipage/browsers.html#browsing-context-names

DOM APIs:

* [`name` attribute on `<iframe>`](https://html.spec.whatwg.org/multipage/embedded-content.html#attr-iframe-name)
* [`name` attribute on `Window`](https://html.spec.whatwg.org/multipage/browsers.html#dom-name)
* [Named access on `Window`](https://html.spec.whatwg.org/multipage/browsers.html#named-a

[2016-12-03 18:16] frewsxcv commented on #12568
Blocked on https://github.com/servo/servo/issues/14453.

[2016-12-03 21:42] blasrodri commented on #13953
![screen shot 2016-12-03 at 10 39 31 pm](https://cloud.githubusercontent.com/assets/2600471/20862407/ad4532a8-b9a9-11e6-9bd9-ae3b5cd369ee.png)

Intel HD Graphics 6000 1536 MB
Mac Sierra 10.12 (16A323)

[2016-12-03 22:33] KiChjang commented on #14108
It shouldn't take long if you have an idea of where to look for and what to change. Is there any specific problem that you came across?

[2016-12-03 23:16] #14388 closed

[2016-12-04 06:03] #11074 closed

[2016-12-04 07:11] heycam opened #14455 "stylo: rust-bindgen checkout under servo doesn't like to be built due to servo's workspace"
Since #14381, running `setup_bindgen.sh` tells me this:

[code]

I fixed this by putting an empty `[workspace]` section in the rust-bindgen checkout's `Cargo.toml`.  Now, I know that build time bindgen will solve this, but for the moment, what's the right solution here that we can check in?  I guess it's kind of bad practice to be checking out other repos like this directly inside the servo checko

[2016-12-04 07:26] hackers-terabit opened #14456 "Fail to run - greybox of death"
Greetings,

I cloned and built the latest servo, running it results in a greybox after which it crashes, specifying a URL does not change this behavior.
After cloning and cd, all I did was:

[code]
[EDIT]: I also found thanks to grsec that servo is trying to execute an illegal cpu instruction:

`Dec  4 12:06:49 linux kernel: [712733.329764] grsec: Illegal instruction occurred at 000000635650d02f i

[2016-12-04 07:43] KiChjang commented on #14456
It looks like you're on Linux, and it cannot find a suitable font to fall back to. Have you installed deja vu fonts?

[2016-12-04 09:21] emilio commented on #14455
Probably the best solution is making bindgen use workspaces itself (to build at the same time both `libbindgen` and the executable), or cloning it elsewhere.

Looks like an edge case cargo could be interested in fixing though? cc @alexcrichton

[2016-12-04 11:05] upsuper commented on #14455
Isn't the easiest solution just adding `[workspace]` to rust-bindgen's `Cargo.toml`? That file shouldn't be updated frequently, so we shouldn't have much conflict there before we have build time bindgen.

Alternatively, we can probably check-in that change to rust-bindgen as a temporary workaround, or remove the `Cargo.toml` and `Cargo.lock` from the vendored servo in s-i?

[2016-12-04 15:38] Naruto8 commented on #14108
I am finally starting to understand a bit.... Those two files need to be merged into the canvas crate? And for that we need to define a trait (why?)?

[2016-12-04 18:45] canaltinova opened #14458 "Implement parsing/serialization for background-position-x/y properties"
`background-position` is a longhand currently. We need to implement `background-position-x/y` longhands and make `background-position` a shorthand instead.

But currently [`Position`](https://doc.servo.org/style/values/specified/position/struct.Position.html) struct seems insufficient for this properties. We might need to add VerticalPosition and HorizontalPosition structs like these:
[code]
And w

[2016-12-04 18:54] Manishearth commented on #14458
I think we reuse the position struct for other things though. I'd create a new type.

[2016-12-04 18:54] Manishearth commented on #14458
Also, HorizontalKeyword/VerticalKeyword makes more sense imo

[2016-12-04 19:00] canaltinova commented on #14458
Can't we fix other reusages for this implementation? Creating a new type seems more straightforward but looks like it increases the code duplication.

[2016-12-04 19:11] Manishearth commented on #14458
I guess? Make sure that the basic-shape stuff still works.

[2016-12-04 19:28] canaltinova commented on #14458
Okay, I'll try to do this with HorizontalKeyword/VerticalKeyword then. Thanks!

[2016-12-04 21:00] hackers-terabit commented on #14456
Hi,

I didn't have dejavu, I installed it. the problem was not fixed but the symptom changed.

Now the default page appears instead of just a grey box , then it crashes after  a second or two.
grsec is still reporting the same illegal instruction error as well. here is the updated log:

[code]

[2016-12-04 22:38] KiChjang commented on #14108
The purpose of this issue is to move all functions that convert Servo-defined data structures to Azure data structures into `components/canvas/canvas_paint_thread.rs`. This includes the impls of `FillOrStrokeStyle`, `LineCapStyle`, `LineJoinStyle`, `CompositionStyle`, `BlendingStyle` and `CompositionOrBlending`.

Note that the structs themselves are not moved. This is why you need to define a trai

[2016-12-04 23:01] hackers-terabit commented on #14456
I realized that I was doing a release build which may not give too much useful debugging info in a case like this, I rebuilt servo with -d option , this is the result, hope it's more useful:

[code]

[2016-12-05 02:15] frewsxcv commented on #14203
Regarding OpenSSL 1.1.0 support, I'm working on a patch right now.

[2016-12-05 03:01] KiChjang commented on #14456
It looks like something's wrong when creating a new JSRuntime. cc @jdm @Ms2ger @nox

[2016-12-05 06:10] jdm commented on #14456
That looks like security settings are preventing the JS JIT from doing things with memory that it expects.

[2016-12-05 10:11] #14414 closed

[2016-12-05 11:33] KiChjang opened #14462 "Intermittent failure of /_mozilla/css/iframe/navigation.html"
[code]

[2016-12-05 15:56] adamelso opened #14463 "Called `Result::unwrap()` on an `Err` value: "SendError(..)""
### URL: https://www.reiss.com

Visiting this URL resulted in 2 errors.

----

##  Error 1 : Called `Result::unwrap()` on an `Err` value: "SendError(..)"

### Servo Version:
Servo 0.0.1-b05c27c
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

-------

##  Error 2 : Layout attached to empty script thread.

### Servo Version:
Servo 0.0.1-b05c27c
### Backtrace:
[co

[2016-12-05 16:37] alexcrichton commented on #14455
Oh this is an expected error with Cargo at least, and yeah either adding it to the same workspace or adding `[workspace]` should fix it.

[2016-12-05 21:53] frewsxcv commented on #14203
My branch is here: https://github.com/servo/servo/compare/master...frewsxcv:openssl-1.1.0?expand=1

@mbrubeck You said you couldn't get Servo working with OpenSSL 1.1.0. Can you try checking out that branch and see how things look?

[2016-12-06 02:58] hackers-terabit commented on #14456
@jdm  you're right, it usually gives me a specific message saying anonymous rwx mmap was prevented (using pax).

I disabled every last memory security I could, it loads the default page fine but something like 'https://www.gentoo.org' results in a similar crash as before http://ix.io/1Kpu

Can you please review this last crash output and let me know if you still think the problem is with memory/se

[2016-12-06 04:20] yoyo930021 commented on #13953
MacBook Pro (Retina, 13-inch, Early 2015)
Intel Iris Graphics 6100 1536 MB
MacOS Sierra 10.12.1（16B2555)
the same problem and build by myself too.

[2016-12-06 09:18] jdm commented on #14456
Unfortunately that last crash is happening in the GL driver as far as I can tell.

[2016-12-06 16:40] Wafflespeanut commented on #13668
This is open for anyone to jump in. All we have to do is build a constants map just like what we do for [`image-rendering`](https://github.com/servo/servo/blob/dc92a5119997e13feb095d00777b1c2c1ce5c03d/components/style/properties/longhand/inherited_box.mako.rs#L43-L51) and auto-generate the code using `single_keyword` helper.

[2016-12-06 16:41] Wafflespeanut commented on #14297
@AgostonSzepessy Any news?

[2016-12-06 17:16] SimonSapin commented on #14455
I’d prefer to to add rust-bindgen to servo’s top-level workspace, because that will add rust-bindgen and all of its dependency graph to the shared `Cargo.lock` file.

If I understand correctly, this would required either:
* we commit this addition to the repository and the presence of rust-bindgen’s source (or at least its `Cargo.toml` file?) likely becomes necessary (whereas currently it’s a `.gi

[2016-12-06 18:57] SimonSapin commented on #14279
The `tests/wpt/README.md` file contains directions, with a "Writing new tests" section. Tests from CSSWG are in `tests/wpt/css-tests`, but since it’s not as easy to send upstream new such tests, we usually create them in `tests/wpt/mozilla`. So a command like this should create a file and add it to the manifest:

[code]

[2016-12-06 18:58] SimonSapin commented on #14279
And to use `testharness.js`: http://testthewebforward.org/docs/testharness-library.html

[2016-12-06 19:14] Naruto8 commented on #14108
So all I need is to add the below traits in `components/canvas/canvas_paint_thread.rs`:
[code]
Also move the trait `ToAzColor` to `components/canvas/canvas_paint_thread.rs`?

[2016-12-06 20:31] dpyro commented on #13877
I take the next stab at it!

[2016-12-06 21:15] AgostonSzepessy commented on #14297
@Wafflespeanut Sorry, I've been pretty busy with the end of the semester in school and exams are coming up, so I won't be able to work on it for about 2 weeks. If you want, you can unassign me.

[2016-12-06 22:08] Wafflespeanut commented on #13877
Great! Please  ask questions if you're unclear about something.

[2016-12-06 22:09] Wafflespeanut commented on #14297
No worries!

[2016-12-06 22:21] KiChjang commented on #14108
Yes, but defining the traits is not enough. You still need to implemenet the traits on the structs that I've listed on my previous post. Here's an example:
[code]

[2016-12-06 23:42] #13736 closed

[2016-12-06 23:42] #10753 closed

[2016-12-07 00:25] jdm opened #14476 "Make reproducing and solving intermittent failures easier"
I want to make it easy to reproduce (and therefore solve) intermittent test results. Here's the system I propose:
* a machine dedicated to running test-wpt and test-css under rr
* updating to the latest master revision once per day
* storing a single recording of a reproduced test failure (any recordings encountering the same failure are discarded)
* leaving a comment in existing issues with a com

[2016-12-07 00:25] highfive commented on #14476
cc @aneeshusa

[2016-12-07 01:13] jdm opened #14477 "Implement domain and path checks from https-cookie-alone-01"
https://www.ietf.org/id/draft-ietf-httpbis-cookie-alone-01.txt defines some steps to choose when cookies are valid choices to be evicted by a newer cookie. #14445 implemented some parts of this specification (specifically, ensuring that insecure cookies cannot evict secure cookies), but we still need to implement the more specific domain and path-matching checks.

[2016-12-07 01:36] Manishearth opened #14478 "Intermittent failure on /css21_dev/html4/abs-pos-non-replaced-vlr-149.htm"
[code]

http://build.servo.org/builders/linux-rel-css/builds/1293

[2016-12-07 02:14] jdm opened #14480 "Assertion failure when logging into gmail"
STR:
1. open https://mail.google.com
2. type your gmail account into the login box
3. press enter

[code]

[2016-12-07 02:14] jdm commented on #14480
cc @emilio

[2016-12-07 02:15] jdm commented on #14480
This assertion was added by @bholley in 95a49863c72cc11ba41608e8a1216becc5dad75c.

[2016-12-07 03:26] #14416 closed

[2016-12-07 04:27] hackers-terabit commented on #14456
Thanks @jdm I'll try  to get to the bottom of this, please leave this open for a bit more while I try to isolate the true source of the bug.

[2016-12-07 09:49] KiChjang commented on #13726
cc @emilio

[2016-12-07 09:51] KiChjang commented on #12341
This is still blocked on #9490.

[2016-12-07 16:43] #14422 closed

[2016-12-07 19:28] Jayflux commented on #12761
Im still getting this

[2016-12-07 19:37] Jayflux opened #14483 "Build failing on OSX Yosemite"
I'm not sure if there's already a ticket open for this, but builds are failing for me, even after ```mach clean```

https://gist.github.com/Jayflux/e38e6a950a988ac6fbfc2e40f15c1902

[2016-12-07 19:44] Manishearth commented on #14483
cc @fitzgen @jdm seems like a mozjs build failure

[2016-12-07 19:48] Ms2ger commented on #14483
Looks like you don't have yasm

[2016-12-07 19:55] frewsxcv commented on #14483
Make sure to install all the dependencies specified in the README: https://github.com/servo/servo#on-os-x-homebrew

[2016-12-07 20:01] choudhary001 commented on #14198
I tried to build servo but it is failing with a lot of errors. I have attached the output of `./mach build --dev --verbose`. Could anyone help me with the build errors?
[build-error.txt](https://github.com/servo/servo/files/637626/build-error.txt)

[2016-12-07 20:03] Wafflespeanut commented on #14198
Oh, it's got nothing to do with your changes. Try and flush your `target` directory with `./mach clean` (or just remove it entirely) and try again :)

[2016-12-07 20:39] KiChjang commented on #14477
Taking a look at this.

[2016-12-07 20:57] jdm commented on #14476
Cc @wafflespeanut

[2016-12-07 21:15] aneeshusa commented on #14476
The README for the wpt-log-introspector mentions a patched build of `rr` - do you have a branch for this? Is this something that may make it into `rr` any time soon?
We'll likely want to create custom `rr` builds once and push those to S3 for deployment to pin the version, and I'd like to have some transparency about where those builds are coming from (specific git branch, build script) for future

[2016-12-07 21:19] Wafflespeanut commented on #14476
I think the log introspector was mentioned for parsing the log output. For now, the idea is to get the necessary `rr` records, clean them up and allow people use those later. I'm working on this right now :smile:

[2016-12-07 22:12] jdm commented on #12761
What is the output that you see?

[2016-12-07 23:23] #10110 closed

[2016-12-07 23:31] frewsxcv commented on #3375
`FollowingNodeIterator` and `PrecedingNodeIterator` return `Root<Node>` now.

[2016-12-07 23:31] #3375 closed

[2016-12-07 23:49] Jayflux commented on #14483
ahh ok guys, will try that and get back to you thanks

[2016-12-07 23:49] Jayflux commented on #12761
https://github.com/servo/servo/issues/14483#issuecomment-265552017
its ok, i think its because i didn't have some pre reqeusites installed

[2016-12-08 00:06] frewsxcv commented on #5591
This appears to be done.

[2016-12-08 00:06] #5591 closed

[2016-12-08 00:45] Ms2ger opened #14486 "cors_preflight_check doesn't wait for http_network_or_cache_fetch to finish loading the response"
Though it's not quite clear to me if it should... If not, we should perhaps add a comment to avoid confusing me in the future.

[2016-12-08 00:47] Impally opened #14487 "Build Failing MSVC for mozjs_sys"
OS: Win 64 Python: 2.7.11 and Visual Studio: 2015 Community Edition

   Compiling mozjs_sys v0.0.0 (https://github.com/servo/mozjs#f7917c48)
   Compiling script v0.0.1 (file:///D:/Projects/servo/components/script)
   Compiling openssl-sys-extras v0.7.14
   Compiling png v0.5.2
Build failed, waiting for other jobs to finish...
Build failed, waiting for other jobs to finish...
error: failed to run c

[2016-12-08 00:48] Impally commented on #14487
@larsbergstrom Was told to tag you for help.  Just pulled and am trying to build for the first time, any help would be appreciated, thanks.

[2016-12-08 00:54] frewsxcv commented on #3555
This is implemented now. Initial work was in https://github.com/servo/servo/pull/4133.

[2016-12-08 00:54] #3555 closed

[2016-12-08 01:14] Ms2ger commented on #14486
Anne tells me it is sufficient to wait for the headers.

[2016-12-08 01:14] #14486 closed

[2016-12-08 01:47] Ms2ger opened #14488 "Implement ProxyAuthenticationRequired status"

[2016-12-08 02:09] Ms2ger opened #14489 "Implement fetch termination, fetch groups"
https://fetch.spec.whatwg.org/#concept-fetch-terminate
https://fetch.spec.whatwg.org/#fetch-groups

[2016-12-08 02:28] pjenvey commented on #14203
The TLS discussion thread is here: https://groups.google.com/d/msg/mozilla.dev.servo/3mfkRehXAo4/uwAm4ffXAAAJ

[2016-12-08 05:46] stshine commented on #12610
@shinglyu I created #14490 , which exposed the intrinsic aspect ratio info with `has_intrinsic_ratio()` method on `Fragment`, and you can use it to calculate the size of replaced elements in flexbox if you like (Maybe factor some code out and make it into a seperate method).
 My next plan is to make a clear distinction between _Intrinsic Size Contribution_ and _Intrinsic Sizes_, so we can get both

[2016-12-08 07:43] frewsxcv commented on #8473
Is this change still desired? If so, I can make the change.

[2016-12-08 07:52] frewsxcv commented on #9560
This was reenabled by @Ms2ger in https://github.com/servo/servo/pull/13996

[2016-12-08 07:52] #9560 closed

[2016-12-08 16:11] zmike commented on #8883
It worked last time I tried it, so yes.

[2016-12-08 16:11] #8883 closed

[2016-12-08 16:46] zmike commented on #10274
Sorry for my late response, I didn't get email notifications about this for some reason.

@glennw CEF has always worked the way you describe; it was written specifically to work this way. The issue is that the application relies on the initialize_compositing method  to create+bind the GL context, and it expects that Servo's internal GL setup occurs once this method is called--that's how it worked

[2016-12-08 17:07] Jayflux commented on #14483
This is now working thanks

[2016-12-08 17:07] #14483 closed

[2016-12-08 17:31] SaschaNaz opened #14494 "Keyboard input drop on Windows build"
Repro:
1. Type `github.com/servo/servo` on the address bar
2. Expected the exact string but found `github.com/serv/serv`

I know this is [an old known bug](https://github.com/servo/servo/issues/12125#issuecomment-235662934) but I couldn't find a separate GitHub issue for this.

[2016-12-08 17:51] glennw commented on #13953
OK, this is a driver bug.

Thanks to borrowing a mac from @frewsxcv, we've found a workaround for this bug - https://github.com/servo/webrender/pull/623/files.

Unfortunately, I can't land a WR update right now, due to some unrelated intermittent issues. However, if you want to work around this locally for now, copying the file referenced in the PR to your local servo/resources/shaders/ directory

[2016-12-08 17:55] nox commented on #8473
Seems ok with me too.

[2016-12-08 18:06] jespersh commented on #13953
Consider poking at Intel https://software.intel.com/en-us/forums/graphics-driver-bug-reporting

[2016-12-08 18:52] frewsxcv commented on #8473
PR opened: https://github.com/servo/servo/pull/14495.

🖌 🚲 🏠

[2016-12-08 19:02] Ms2ger commented on #11509
The one in `net_traits` is gone.

[2016-12-08 19:02] #11509 closed

[2016-12-08 19:03] frewsxcv commented on #14363
Related: https://github.com/servo/servo/issues/8580

[2016-12-08 19:18] frewsxcv commented on #5834
This no longer appears to be an issue.

[2016-12-08 19:18] #5834 closed

[2016-12-08 19:19] mbrubeck commented on #1687
https://drafts.csswg.org/css-tables-3/ recently reached FPWD. Closing this issue.

[2016-12-08 19:19] #1687 closed

[2016-12-08 19:26] DominoTree commented on #14297
I'll take this one!

[2016-12-08 19:27] Wafflespeanut commented on #14297
@DominoTree  Great! Feel free to ping us at the #servo channel in IRC or comment here in case you need any help!

[2016-12-08 19:30] frewsxcv commented on #4246
Hyper was bumped in https://github.com/servo/servo/commit/5f15eb5fbfb7a8649132cc8b3a07314389836714#diff-56f2ed33851545b8cf36528f7c0781c7 which [removed these test failures](https://github.com/Manishearth/servo/commit/642e76668809f6b5a201bc8eb6fea7a4ccca9172).

I also just wrote a small server and tested it can handle status code >599.

[2016-12-08 19:30] #4246 closed

[2016-12-08 19:42] mbebenita opened #14497 "WeakMediaQueryListVec assumes its contents are still alive"
<img width="1093" alt="screen shot 2016-12-08 at 9 41 26 am" src="https://cloud.githubusercontent.com/assets/311082/21024938/83b13fd4-bd2a-11e6-8e2e-2a030b80874a.png">

called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-0fe94a6
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-08 19:47] dpyro commented on #13877
@Wafflespeanut Here is what I have so far. I am not sure if the helper metadata is completely correct or how to test this properly.

[2016-12-08 20:07] jdm commented on #14497
Do you have a URL you were looking at?

[2016-12-08 20:19] jdm opened #14500 "Add a test to verify that TrustedPromise does not implement Clone"
It is not a safe operation to clone a TrustedPromise, but it's really easy to derive Clone on the type and make it possible. We should add a test in https://dxr.mozilla.org/servo/source/tests/compiletest/plugin/compile-fail like:
[code]

[2016-12-08 21:21] vvuk opened #14503 "Update skia & azure; consider using skia directly"
The Skia and Azure that are used by servo are from 2013.  They aren't used by much (Canvas, I think?), but they're still very out of date.  We should update them, or, likely a better option would be to create Skia bindings (perhaps via bindgen) and use Skia directly.  Having Skia bound in the rust ecosystem is useful beyond just Servo.

[2016-12-08 21:28] Ms2ger opened #14504 "Implement Request::origin correctly"
`RequestInit` stores a `Url` rather than an origin, which seems weird. We also don't handle `Client` at all (we should do that in the script thread anyway). Some code in <https://github.com/Ms2ger/servo/tree/origin-request>.

Also kinda depends on implementing `Document`s origins correctly.

[2016-12-08 21:29] #8473 closed

[2016-12-08 21:29] Ms2ger opened #14505 "Same-origin checks in determine_request_referrer seem broken"
We compare the origin of the current URL (correct) with the referrer source (rather than the request's origin).

The request's origin is not implemented correctly at this point either (#14504), so not sure if it's useful to try to fix this issue before that's done.

[2016-12-08 21:40] Ms2ger opened #14506 "determine_request_referrer seems to be missing "TLS-protected" checks"
But note https://github.com/w3c/webappsec-referrer-policy/issues/82

[2016-12-08 21:42] jdm commented on #14476
https://github.com/jdm/rr/tree/printdir

[2016-12-08 21:45] Ms2ger opened #14507 "Implement the "client" value for Request::referrer"
This issue covers step 2 and 3 of <https://w3c.github.io/webappsec-referrer-policy/#determine-requests-referrer>.

This will need to happen in the script thread.

[2016-12-08 22:19] KiChjang commented on #9490
@cynicaldevil is currently working on this.

[2016-12-08 22:50] jdm commented on #14503
Perhaps we should move to https://github.com/DiamondLovesYou/skia-rs .

[2016-12-08 23:07] Ms2ger opened #14511 "Consider removing Response::body"
Outside of the fetch code itself, it's only used for unit tests; real code collects the body as it is passed to `process_response_chunk`.

[2016-12-08 23:09] Ms2ger opened #14512 "Mac nightly build is broken"
update_brew.sh is failing with:
[code]

CC @edunham

[2016-12-08 23:10] Ms2ger commented on #14506
I expect we will need to do this check in the script thread before starting the fetch.

[2016-12-08 23:49] Ms2ger opened #14513 "Implement mixed content blocking"
https://w3c.github.io/webappsec-mixed-content/

[2016-12-08 23:55] Ms2ger opened #14514 "Implement port-based blocking"
https://fetch.spec.whatwg.org/#block-bad-port

[2016-12-09 00:25] KiChjang commented on #3919
@Ms2ger What's left to do here?

[2016-12-09 00:28] Ms2ger opened #14516 "WebSockets should probably tie in more with fetch"
https://fetch.spec.whatwg.org/#websocket-protocol

[2016-12-09 00:30] frewsxcv opened #14517 "Migrate from rust-websocket to ws-rs"
rust-websocket appears to not be maintained anymore. Possibly migrate to ws-rs? This is sorta blocking the rust-openssl bump: https://github.com/servo/servo/pull/14484

https://github.com/cyderize/rust-websocket

https://github.com/housleyjk/ws-rs

[2016-12-09 00:33] frewsxcv commented on #14517
Actually, ws-rs is still using rust-openssl 0.7.x, so this can be done independently of the rust-openssl bump.

[2016-12-09 00:53] aneeshusa commented on #14512
Tracked at https://github.com/servo/saltfs/issues/535, with PRs already open to saltfs and servo.

[2016-12-09 00:53] #14512 closed

[2016-12-09 01:31] Ms2ger opened #14519 "Allow for redirects after a CORS-preflight"
https://github.com/whatwg/fetch/commit/0d9a4db8bc02251cc9e391543bb3c1322fb882f2
https://github.com/whatwg/fetch/issues/204
https://github.com/w3c/web-platform-tests/issues/2520

Code is in `components/net/fetch/methods,rs`, `fn main_fetch()`.

[2016-12-09 01:33] Ms2ger commented on #14519
https://bugzilla.mozilla.org/show_bug.cgi?id=918767

[2016-12-09 01:43] Ms2ger opened #14520 "Block scripts with media/CSV mime types"
<https://fetch.spec.whatwg.org/#should-response-to-request-be-blocked-due-to-mime-type?>

[2016-12-09 01:46] Ms2ger opened #14521 "Implement X-Content-Type-Options: nosniff"

[2016-12-09 01:50] Ms2ger opened #14522 "Review the creation of a new Response for the internal response"
Spec says

We do

[code]

It's not clear to me what the effect of that is.

[2016-12-09 01:56] Ms2ger opened #14523 "Implement Subresource Integrity (SRI)"
https://w3c.github.io/webappsec-subresource-integrity/

[2016-12-09 02:02] Ms2ger opened #14524 "Implement trailer headers in fetch"
https://fetch.spec.whatwg.org/#concept-response-trailer
https://tools.ietf.org/html/rfc7230#section-4.1.2

No clue if this is useful for anything and if anyone is going to implement it.

[2016-12-09 02:30] jdm commented on #14524
I believe it's for HTTP/2.

[2016-12-09 02:45] #13838 closed

[2016-12-09 03:14] frewsxcv commented on #10552
Triage: This is still an issue.

[2016-12-09 03:22] sstangl opened #14525 "X11 with HighDPI screen renders at quarter-resolution"
Recently-built Servo on Fedora 24 (X11, not Wayland) with a HighDPI display (Lenovo W540) creates a window with dimensions halved from expected values, so the window is extremely small and very difficult to read. On this system, xclock has the same behavior.

Servo version: Servo 0.0.1-5b389a2-dirty

[2016-12-09 03:27] glennw commented on #14525
We don't currently detect hidpi screens on Linux / glutin. You can manually run with --device-pixel-ratio=2 to set the scale appropriate for your screen.

[2016-12-09 06:17] Ms2ger commented on #3919
ArrayBuffer is not implemented, and the rest is cached.

[2016-12-09 06:17] #3919 closed

[2016-12-09 06:21] vvuk commented on #14503
Nothing to move to :( It looks like abandonware.  I'm making good progress for using bindgen with Skia; we can (and should) still write a higher level rust-y interface on top of it, but it may not be necessary right away.

[2016-12-09 13:17] rushsteve1 opened #14529 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL: https://nextcloud.com

### Servo Version:
Servo 0.0.1-da2f41b
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-09 16:44] Jayflux commented on #14415
Dogetest seemed to work well for me on OSX Yosemite

[2016-12-09 18:40] #10102 closed

[2016-12-09 21:24] jdm commented on #1799
Latest idea from discussions with @asajeffrey:
* split generated bindings code into two crates - code that can be parameterized over FooTraits types (to avoid needing to import concrete DOM types), and code that needs to refer to the parameterized code using concrete types
* extract low-level types from script/ that the generated bindings code needs to refer to (e.g. converting native types to JS

[2016-12-09 21:29] jdm commented on #1799
Things that will make the above idea difficult:
* concrete DOM types in generated types (eg. unions or dictionaries containing WebIDL interface types)

[2016-12-09 21:41] frewsxcv commented on #10588
Is anyone able to reproduce this?

[2016-12-09 21:45] jdm commented on #1799
At minimum, this will require collecting the list of WebIDL interfaces transitively used by a given WebIDL property (for each return value and argument), adding generic parameters for each, and propagating these generic types through layers like the union conversion methods when interacting with them.

[2016-12-10 00:04] DominoTree commented on #14297
I opened a PR, - [components/layout/multicol.rs](https://github.com/servo/servo/blob/master/components/layout/multicol.rs#L103) needed a tweak to make it work with LengthOrNormal but I think it's sorted.

[2016-12-10 00:17] #13551 closed

[2016-12-10 00:38] jdm commented on #1799
Potential solution to the previous comment: a single trait with associated types for every WebIDL interface, and every generic method gets parameterized over the trait and uses the T::Interface rather than Interface.

[2016-12-10 01:00] bholley commented on #14415
@emilio Says that the current transition infrastructure probably can't do better than this for now, but I'll let him comment.

[2016-12-10 01:45] emilio commented on #14415
Yeah, the current state of our transitions infra isn't great right now. Cool part is, there's work to do transitions in Servo fully conformant to the transitions spec.

First of all, thanks @Permutatrix for taking time to look at it. I had taken for granted that this regression had been caused by #13202, (maybe the choppiness came from there? worth looking into), and we've had long discussions abo

[2016-12-10 02:13] asajeffrey commented on #1799
Or even better (?) make each FooMethods trait parametric, rather than each method inside FooMethods. Something like:

trait DOMTypes {
  type Foo: FooMethods<Self>;
  ...
}
trait FooMethods<DOM: DOMTypes> {
  fn bar(x: DOM::Bar) -> DOM::Baz;
  ...
}
struct DOM;
impl DOMTypes for DOM {
  type Foo = Foo;
  ...
}

struct Foo { ... }
impl FooMethods<DOM> for Foo { ... }

[2016-12-10 03:01] grahamc opened #14541 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:
https://www.tumblr.com/
### Servo Version:
Servo 0.0.1-4cb3404
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-10 03:02] grahamc opened #14542 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

1. I visited tumblr.com (see my previous bug report)
2. I clicked the bug report button
3. closed the opened window
4. clicked the bug report button again
5. This happened :)

### Servo Version:
Servo 0.0.1-4cb3404
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-10 03:09] grahamc opened #14543 "DOMRefCell<T> already borrowed: BorrowMutError"
DOMRefCell<T> already borrowed: BorrowMutError
### URL:

1. click "duck duck go" in the first page
2. type "google"
3. click google (typing in to the URL bar doesn't seem to work?)
4. search google for "the guardian"
5. Click the result for the guardian

ps: are these useful? I don't mean to spam you all.

### Servo Version:
Servo 0.0.1-4cb3404
### Backtrace:
[code]
This report was generated by th

[2016-12-10 03:15] emilio commented on #14543
I can confirm they're extremely useful :)

[2016-12-10 03:25] grahamc opened #14544 "illegal hardware instruction visiting lenovo.com"
Servo 0.0.1-4cb3404

[code]

[2016-12-10 03:26] grahamc opened #14545 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"

### URL:
http://op.lenovo.com/us/en/laptops/thinkpad/x-series/x1-carbon/

FWIW, Servo renders Lenovo's webpages about as good as any other browser ;) (not well, mind you...)

### Servo Version:
Servo 0.0.1-4cb3404
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-10 04:46] jdm commented on #1799
FooMethods would be unchanged. It's the standalone binding glue functions that need to be parametric.

[2016-12-10 06:45] pcwalton commented on #13865
Please don't disable OMT animations because of some spec language. The spec shouldn't be forbidding them.

[2016-12-10 09:04] emilio commented on #13865
This is not about completely disable OMT animations, but about properly synchronize the computed values back to the element.

Mainly, the current animations code relied in the DOM being fully restyled (which was no longer the case as restyling optimizations started kicking in), since it is in the restyling code where we checked for expired animations.

https://github.com/servo/servo/pull/12623 wor

[2016-12-10 13:49] #14487 closed

[2016-12-10 13:51] Impally commented on #14487
Related to: https://github.com/servo/servo/issues/9989
All the build tools require VS and Python to be installed in the default locations on Windows.  Having Python in the path was not enough for mozjs.

[2016-12-10 15:53] Impally commented on #13668
Reading the guide and taking a glance at this later today so I would like to claim it if that is alright.  Thanks.

[2016-12-10 16:43] jonathandturner commented on #12125
Should #13257 be checked off the list now?

[2016-12-10 16:53] Wafflespeanut commented on #13668
Yes please...

[2016-12-10 18:08] leeoniya commented on #12125
...and https://github.com/servo/webrender/issues/617 added

[2016-12-10 20:41] biosunbj commented on #11444
Hi @jdm
We are trying to implement the validation methods in validitystate.rs, do we have to check the HTML attribute for each element, such as "required", to make sure the element needs to be validated with the methods in validitystate.rs? Thank you.

[2016-12-10 23:58] biosunbj commented on #11444
I read the Form validation student project on Wiki, it seems that the last group has already finished the initial steps and the first subsequent step, should we start from the second one, add code to interactive_validation in the htmlformelement.rs file?

[2016-12-11 04:13] jdm commented on #11444
Yes, please start from the second step.

[2016-12-11 08:40] Manishearth commented on #13919
[code]

in http://build.servo.org/builders/linux-rel-css/builds/1347

[2016-12-11 09:20] #13877 closed

[2016-12-11 09:26] KiChjang commented on #7959
I think this is essentially done except for HistoryTraversalTaskSource (which is still currently a stub using the ScriptChan trait) which is tracked in #10994 and other various small task sources littered around the spec.

[2016-12-11 09:26] #7959 closed

[2016-12-11 09:48] KiChjang commented on #7457
I was reading the spec for this, and I feel like we may have chalked up the difficulty a bit too much on this one. I have in mind a preliminary version that may work and it goes like this:

1. We create and implement a new `TaskSource` called `PortMessageQueue` and make a new method in `GlobalScope` to return it. (Maybe have this TaskSource store the has-been-shipped flag and disabled flag as well

[2016-12-11 11:12] docteurklein opened #14550 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:

### Servo Version:
Servo 0.0.1-872ec89
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-11 11:24] nox commented on #14550
Thanks for the report! What was the website?

[2016-12-11 12:03] docteurklein commented on #14550
sorry, it was the acid test: http://acid3.acidtests.org/

[2016-12-11 12:52] Ms2ger commented on #14550
Thanks, we're away of that particular one.

[2016-12-11 12:52] #14550 closed

[2016-12-11 13:22] farodin91 commented on #14236
Initial PR is now closed #13489.

[2016-12-11 15:45] DominoTree commented on #14297
Think that finally did it :)

[2016-12-11 18:59] frewsxcv commented on #6713
Sinmce an SVG `<title>` element is (presumably) not an `HTMLTitleElement`, how will this work in the SVG case?

[2016-12-11 19:04] frewsxcv commented on #6122
Presumably, at the time of writing, Servo was using git submodules. This, AFAICT, is no longer the case.

[2016-12-11 19:04] #6122 closed

[2016-12-11 19:11] frewsxcv commented on #3965
Tests were reenabled in d4f6cf3f6b77bc8a1fdde9fc82907b0f2d58f243 and [are still enabled](https://github.com/servo/servo/blob/37c4051d21f5baacdf843510c8b111202ac2e876/tests/wpt/include.ini#L8-L9)

[2016-12-11 19:11] #3965 closed

[2016-12-11 20:39] KiChjang commented on #13892
@AVGP next week never came...

[2016-12-11 21:04] DominoTree commented on #13892
I'd like to give this one a shot

[2016-12-11 21:11] canaltinova commented on #13892
@DominoTree Sure, go ahead! Btw, the links were showing wrong lines because of code changes over time. Updated them. You can ask here if something is unclear.

[2016-12-11 21:16] #14297 closed

[2016-12-11 21:27] KiChjang commented on #7457
Ah, of course I forgot -- the case where you need to transfer the `MessagePort`. In Gecko, they store an enum that represents the state of the `MessagePort` (i.e. whether it is being entangled or disentangled, or if it is closing, etc.). We could check for the state of the `MessagePort` in the methods `postMessage` and `start`, and when the port is in the disentangled or disentangling state, abort

[2016-12-12 03:26] Impally commented on #13668
Am I wrong in assuming I just need to insert the following code into ```servo/components/style/properties/longhand/font.mako.rs ```

[code]

After adding that, my build fails because method Font_variant_caps is not a member of trait 'CSSStyleDeclarationMethods'

[2016-12-12 06:22] Manishearth commented on #13668
THere needs to be a `products="gecko"` there and you need to run `./mach build-geckolib`

Please se [the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide). You have to test this using a clone of the Stylo repository. It is not enough to just add that code and submit it.

[2016-12-12 06:34] Wafflespeanut commented on #13668
Also, note that the generated constants will have incorrect names. This should be done just like `image-rendering` i.e., a constants map should be passed as argument. For example, simply passing `small-caps` will generate `NS_FONT_VARIANT_CAPS_SMALL_CAPS`, which is wrong, because this [doesn't have an underscore](https://dxr.mozilla.org/servo/rev/fe6fac4ee2af33c0fc61381c86c351982d4b73fd/components

[2016-12-12 08:28] KiChjang commented on #7457
That still doesn't address the issue where PortMessageRunnable are not supposed to be dropped when there is no corresponding PortMessageQueue. Perhaps we'll need to have the constellation store them temporarily, until the corresponding ScriptThread enables its PortMessageQueue. This would mean each individual Runnable will need to have a FrameId and registered domain name of its destination Script

[2016-12-12 08:38] Wafflespeanut commented on #14476
https://github.com/servo-automation/servo-wpt - well? :)

[2016-12-12 13:50] Disinterpreter opened #14553 "DOMRefCell<T> already borrowed: BorrowMutError"
DOMRefCell<T> already borrowed: BorrowMutError
### URL:

### Servo Version:
Servo 0.0.1-0530e64
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-12 16:02] iamrohit7 commented on #13164
@kaksmet Can this be closed now?

[2016-12-12 16:16] jdm commented on #13164
@iamrohit7 If Servo can load the image, yes. If not, it sounds like we need to upgrade the version of the image crate that we're using.

[2016-12-12 16:18] jdm commented on #14553
@Ms2ger This is triggered by the new about:blank loading.

[2016-12-12 16:18] jdm commented on #14553
@Disinterpreter Do you know what page you were looking at?

[2016-12-12 16:22] sunjay opened #14554 "Unable to build on Linux Mint 18 with Nvidia graphics card"
Hi,
Sorry if this is a duplicate. I'm having trouble building servo on Linux Mint 18. I think it has something to do with nvidia drivers. The build specifically can't find `GL/glu.h` on my system. I tried using `dpkg -S` to find a package that had that file but no matches came up. I can't install mesa because it isn't compatible.

I'm including lots of information here so you can see the entire pr

[2016-12-12 16:43] kaksmet commented on #13164
@iamrohit7 I'll publish jpeg-decoder 0.1.9 shortly. When servo updates to it this issue can be closed.

[2016-12-12 17:45] asajeffrey commented on #1799
How can FooMethods remain unchanged? Is the plan that FooMethods would be generated in the same crate as the concrete implementations? That does mean that the DOMTypes trait couldn't mention the FooMethods trait, but I don't know if that matters.

[2016-12-12 18:05] jdm commented on #1799
Oh right, FooMethods has arguments and return types too. Hooray!

[2016-12-12 18:07] jdm commented on #14554
The output above doesn't actually appear to include the error from SkNativeGLContext_unix.cpp.o; none of the output even mentions GL/glu.h.

[2016-12-12 19:10] Disinterpreter commented on #14553
@jdm http://browserbench.org/MotionMark/

[2016-12-12 19:25] frewsxcv opened #14555 "Update domparsing spec links to not point at WHATWG"
[code]

https://github.com/whatwg/domparsing

[2016-12-12 19:46] sunjay commented on #14554
@jdm The very last error just before it fails completely mentions what I'm talking about:

[code]

This is from the output I pasted above. It may have been hard to see because you have to scroll all the way right.

[2016-12-12 19:56] glennw commented on #14554
libGLU is the OpenGL Utility library - it only contains utility functions that are not actually dependent on the OpenGL driver (e.g. tesselation functionality). So it *might* be possible to install the mesa provided libGLU without installing everything from mesa?

[2016-12-12 20:11] sunjay commented on #14554
@glennw Unfortunately it isn't possible to install it.

[code]

If I try to install those unmet dependencies, it eventually reaches a point where I have to install `mesa-common-dev` which isn't compatible. I have to use [nvidia's provided packages.](https://ubuntuforums.org/showthread.php?t=189704&p=1097782#post1097782) There doesn't seem to be any nvidia provided one that also provides glu.h.

[2016-12-12 20:13] sunjay commented on #14554
Just so you know, the same problem happens when installing freeglut3:

[code]

This seems to be an nvidia specific issue since nvidia doesn't seem to provide all of the dev headers. I've been trying to find a way to get them online, but no luck yet.

[2016-12-12 20:42] sunjay commented on #14554
[More information here](https://www.opengl.org/discussion_boards/showthread.php/172853-Starting-with-OpenGL-Nvidia-and-Linux?s=4b2ebe45470492d59e688a46df4dcddb&p=1211624&viewfull=1#post1211624) about why this stuff isn't there by default.

I checked my system and it looks like other programs like UnrealEngine's third party dependencies choose to include that header file explicitly.

[code]

[2016-12-12 21:03] sunjay commented on #14554
I posted in NVIDIA's developer forums to see if anyone there knows how to resolve this: https://devtalk.nvidia.com/default/topic/981492/opengl/gl-glu-h-not-found-on-linux-mint-18/

[2016-12-12 21:25] dpyro commented on #14024
I’m taking a look at it right now and seeing what can be done to simplify and solidify the implementation.

[2016-12-12 21:59] KiChjang commented on #14024
Does `components/net/mime_classifier.rs` not contain an implementation of the MIME sniffing algorithm already?

[2016-12-12 22:19] dpyro commented on #14024
Looks like it, @KiChjang. Personally I’d like it decomposed down into smaller submodules. Then again that may just be bikeshedding on my part. Besides, “if it ain’t broke, don’t fix it”.

[2016-12-12 22:22] dpyro commented on #14521
On it. Looking into the fetch standard and the servo fetch implementation now.

[2016-12-12 22:34] KiChjang commented on #14024
I'm actually more inclined to make it conform more to the algorithms as defined by the spec, but I'm not sure how much effort is required to do so.

[2016-12-12 22:36] KiChjang commented on #14521
Spec links:
https://fetch.spec.whatwg.org/#x-content-type-options-header
https://fetch.spec.whatwg.org/#should-response-to-request-be-blocked-due-to-nosniff?
https://fetch.spec.whatwg.org/#concept-main-fetch Step 16

[2016-12-12 22:52] KiChjang commented on #14521
This would most likely require [defining a new header using the `header!` macro](http://hyper.rs/hyper/v0.9.12/hyper/header/index.html#defining-custom-headers) provided by hyper. Note that `X-Content-Type-Options` is also a single-value header.

[2016-12-12 23:37] KiChjang commented on #12972
I haven't read the spec at all yet, but my initial thoughts were to copy what CookieStorage does and iterate the design over this prototype.

[2016-12-13 00:23] #13164 closed

[2016-12-13 00:45] highfive commented on #13717
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-13 00:48] KiChjang commented on #13717
This looks like it's not even being referenced/used anywhere else except for one file location. We'll need to be careful about how we translate the existing enum to `FetchResponseMsg`, however.
Code: `components/net/image_cache_thread.rs`
No need for tests; if it compiles, it's good for a PR.

[2016-12-13 02:10] #13249 closed

[2016-12-13 03:55] jdm commented on #12972
We can and should be smarter about our caching strategy. We should create a HashableRequest structure for the cache hashmap key which contains:
* the request URL (stripped of any fragment)
* the request headers
and implements Hash by hashing these together.

[2016-12-13 04:07] jdm commented on #14024
It's supposed to already conform. This issue is specifically talking about integrating the MIME sniffing into the fetch network stack, now that the old network stack that supported it has been removed.

[2016-12-13 04:41] jdm opened #14562 "Replace MutJS<T> and MutNullableJS<T> with Cell<JS<T>> and Cell<Option<JS<T>>>"
I'm not convinced whether we should do this yet or not, but it's the next logical step after the changes in 1327ebd52f53f5f6637a12fab6cf0cad0aa0be6f. The documentation for `MutJS<T>` mentions GC barriers, but there are none in the code because they are unnecessary for `JS<T>` types. The only use of `MutJS<T>` is the debug assertions that verify that it's not being used by layout threads; everythin

[2016-12-13 05:14] nox commented on #14562
`JS<T>` isn't `Copy`. I don't want to make it `Copy` as long as the lint is broken, which it is currently.

[2016-12-13 05:23] dpyro commented on #14024
This is blocking #14521 if we want to do it properly, since nosniff needs to compare the `Content-Type` header to the result of mimesniff.

[2016-12-13 12:11] mmatyas opened #14568 "Runtime problems on Android"
Now that the [build works](https://github.com/servo/servo/issues/13154), you can run Servo on Android again after applying these patches:

- #14528 ✓
- #14530 ✓
- servo/webrender#626 ✓
- servo/webrender#627 ✓
- servo/webrender#632 ✓
- servo/webrender#653 ✓
- servo/webrender#654 ✓

When you start Servo on Android, it produces a gray screen. This is because a [missing `WindowProxy` implementation](h

[2016-12-13 12:15] mmatyas commented on #13154
Since the Android build, in general, works, and this issue is quite long already, I've opened #14568 to deal with the runtime issues on Android. The shader issues got fixed, and at the moment, Servo runs on Android, but has display issues.

[2016-12-13 12:21] #13154 closed

[2016-12-13 12:55] #13763 closed

[2016-12-13 15:41] Ms2ger commented on #1799
I wonder if we can use `-> impl BarTypes` now.

[2016-12-13 15:45] asajeffrey commented on #1799
We have quite a lot of places in the script crate where we assume the WebIDL method returns the concrete type, e.g. that `document.Window()` returns a `Root<Window>` not an `impl WindowMethods`.

[2016-12-13 16:40] Ms2ger commented on #14024
If integrating this into the fetch stack at all is even the right answer; it might be better to integrate it into the code that calls into the fetch stack instead. After all, the fetch stack doesn't interpret the bytes it returns.

[2016-12-13 16:45] Ms2ger opened #14571 "Android buildbot builder fails"
Followup from #13154.

[code]

[2016-12-13 17:00] larsbergstrom commented on #14571
I believe that this is due to the presence of the `ANDROID_TOOLCHAIN` variable, which has been removed but still is sticking around due to https://github.com/servo/saltfs/issues/552

[2016-12-13 20:18] jdm commented on #14002
This can be fixed by using `let _ = self.ipc_renderer.send(...);` instead of `self.ipc_renderer.send(...).unwrap()` in the `drop` method for `CanvasRenderingContext2D`.

Code: `components/script/dom/canvasrenderingcontext2d.rs`

I don't think we can write an automated test for this, so if it builds and the manual testcase doesn't panic it's good enough to submit.

[2016-12-13 20:19] highfive commented on #14002
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-13 20:22] jdm commented on #14072
This code that triggered the panic has been removed; can you still reproduce this @brianchirls? I tried, but one machine doesn't support HTTPS well and another couldn't create the WebGL context that was necessary.

[2016-12-13 20:24] jdm commented on #13984
@lhat-messorem Is there any chance that you remember what URL you were browsing? Otherwise there's not enough information present in this issue for us to act on it, since the panic backtrace is too generic to learn anything about it.

[2016-12-13 20:32] jdm opened #14572 "duckduckgo.com shows a blank screen"
The devtools show that it's got the expected DOM tree, but nothing appears.

[2016-12-13 20:35] kekkyojin commented on #14405
Seems fixed in latest build.

[2016-12-13 20:35] #14405 closed

[2016-12-13 20:36] jdm commented on #14572
@mrobinson I see a lot of stacking context and scroll root entries in the display list when I use `-Z dump-display-list`, and this makes me suspicious; are there any good strategies for figuring out what's going on here?

[2016-12-13 20:44] jdm opened #14573 "Layout attached to empty script thread"
[code]
cc @asajeffrey

[2016-12-13 20:49] jdm commented on #14440
I filed #14573 while trying to reproduce this. The relevant code in Servo has changed enough that I don't think this report is useful, but thanks for the testcase of deutschland.fm!

[2016-12-13 20:49] #14440 closed

[2016-12-13 20:50] larsbergstrom commented on #14571
The error is now:
[code]

@mmatyas Should we add all of those symbols to the list of permitted ones?

[2016-12-13 20:51] brianchirls commented on #14072
I can't say. I think this was automatically filed from a crash report.

[2016-12-13 21:07] jdm commented on #14545
That link shows me an empty page, and view source shows no content. Did something change since you filed this issue?

[2016-12-13 21:10] jdm opened #14574 "assertion failed: !self.scroll_roots.contains_key(&scroll_root.id)"
[code]
[code]
cc @mrobinson

[2016-12-13 21:11] jdm commented on #14545
This is probably a symptom of #14574.

[2016-12-13 21:29] cesarb opened #14575 ""Float position error" panic on Wikipedia page"
[code]

[2016-12-13 21:35] larsbergstrom commented on #14571
I suspect that once the injected glue PR lands (#14530), the only one we will have to add to the list is `__cxa_type_match`.

[2016-12-13 21:35] jdm commented on #14553
The problem here can be boiled down to [a simple Rust program](https://gist.github.com/jdm/616cc9d5f12e97bc1ccb463c126ed199) showing that code like https://dxr.mozilla.org/servo/rev/a15d279e9f9eccc3d2e2cca6d1e0949e51732a63/components/script/script_thread.rs#2003 is not correct in the presence of reentrancy, which we now have with about:blank loads.

[2016-12-13 21:39] jdm commented on #14543
This is almost certainly the same underlying problem as #14553.

[2016-12-13 21:43] jdm commented on #14541
I'm having trouble reproducing this. It could be because tumblr's front-page content changes constantly :(

[2016-12-13 21:51] jdm commented on #14239
@julen Do you have any idea what website you were looking at?

[2016-12-13 21:52] jdm commented on #14118
This code has been rewritten to avoid calling unwrap on a fallible send operation.

[2016-12-13 21:52] #14118 closed

[2016-12-13 22:02] jdm opened #14577 "Can't interact with twitter.com"
The scrolling is really messed up, and clicking on the sign up and login buttons doesn't do anything. I suspect regressions due to scrolling roots.

[2016-12-13 22:03] jdm commented on #14577
Hmm, only in debug builds is it unusable. Release builds appear to be fine...

[2016-12-13 22:22] jdm commented on #13952
I have not been able to reproduce this on either https://cv.andyfang.me/ or twitter. It's possible that we fixed the layout problem that they were triggering since this issue was filed.

[2016-12-13 22:23] jdm commented on #13867
@yangsibai Any idea what page you were looking at when this happened?

[2016-12-13 22:24] jdm commented on #13794
We won't be able to do anything with this report, unfortunately. The backtrace is too generic to investigate, and the URL is an internal resource file. Thanks for reporting it, however!

[2016-12-13 22:24] #13794 closed

[2016-12-13 22:31] jdm opened #14578 "Servo becomes nonresponsive when loading https://joshmatthews.net/blog"
On master I repeatedly get Servo to lock up while it's loading my blog, and it never seems to come out of that state.

[2016-12-13 22:31] jdm commented on #14578
Clicking seems to make it go into this state.

[2016-12-13 22:38] julen commented on #14239
To be honest I don't remember, although it _might_ be one of the demos listed on the start page. I'm sorry I cannot be more accurate, it's been a long time since the crash... ¯\_(ツ)_/¯

[2016-12-13 23:51] canaltinova opened #14579 "Fix logical keywords in Vertical/Horizontal Positions"
#14509 brings `VerticalPosition` and `HorizontalPosition` structs. Logical keywords should behave differently from normal keywords in `Keyword` enum because they are depending on the writing mode. Also it can be done for `Position` but current spec is not allowing logical keywords for it yet.
I'm wiling to work on that but I need some additional information about logical keywords/properties.
Any s

[2016-12-13 23:57] Manishearth commented on #14579
The computed value context already contains a writing mode struct. `context().style().writing_mode` I think. So you parse it as a logical property and map to physical at compute time.

[2016-12-14 00:00] Manishearth commented on #14579
Spec doesn't say what the mapping is. Given that it is an incomplete draft, I'd wait for that to happen.

[2016-12-14 00:13] canaltinova commented on #14579
Okay then, we'll wait.

[2016-12-14 04:47] deror1869107 commented on #13717
Hi! I would like to work on this issue.

[2016-12-14 04:51] KiChjang commented on #13717
Go right ahead! Ask questions here or on `irc.mozilla.org` at #servo if you have any!

[2016-12-14 05:27] #14219 closed

[2016-12-14 07:05] amilajack commented on #13952
Should this be closed then?

[2016-12-14 08:11] sam09 commented on #14002
@highfive  I would like to work on this.

[2016-12-14 08:22] KiChjang commented on #14002
@sam09 You got it!

(p.s. highfive is a bot, they do not understand commands)

[2016-12-14 08:48] yangsibai commented on #13867
https://www.mockplus.cn

[2016-12-14 09:21] sam09 commented on #14002
@KiChjang Thanks a lot.

[2016-12-14 10:23] mmatyas commented on #14571
Yes, that's right, you'll only need `__cxa_type_match`, the rest of them are fixed by #14530.

[2016-12-14 11:08] cadeyrn opened #14585 "Servo freezes when loading firefoxosdevices.org"
The website https://firefoxosdevices.org is not usable with Servo at all. I am using macOS Sierra on a MacBook Pro (Late 2013). I tried the latest download from download.servo.org and I compiled Servo and ran it with ./mach run --release https://firefoxosdevices.org, both with the same result.

Expected result:

Servo renders the website and I can interact with the website. I don't expect that Ser

[2016-12-14 12:34] mrobinson commented on #14574
This seems to be an issue where a particular node is producing more than one Flow and also starting a scroll root. I didn't realize this could happen. I believe I have a solution that will both fix this issue and also make possibly make incremental display list construction possible. This also fits in well with work that I'm already doing, so I hope to have a PR for this issue soon.

[2016-12-14 12:34] mrobinson commented on #14572
@jdm Haven't yet had a chance to look at this one, but I will try to get to it in the next several days.

[2016-12-14 13:12] emilio commented on #3330
Some other user has hit the same error linking skia under linux32, so this is still an issue.

[2016-12-14 13:14] emilio commented on #3330
Presumably it's a skia build failure, but I don't have hardware to reproduce.

[2016-12-14 15:04] jdm commented on #13952
I think so. Thanks for reporting it!

[2016-12-14 15:04] #13952 closed

[2016-12-14 15:06] SaschaNaz commented on #12866
I think this is fixed now.

[2016-12-14 15:06] #12866 closed

[2016-12-14 15:43] Ms2ger commented on #14571
Confirmed that the latest build only has
[code]

[2016-12-14 15:56] jdm commented on #13867
When moving my mouse over the page, I get:
[code]
So this is our old friend #13266.

[2016-12-14 15:57] jdm commented on #13867
Closing in favour of #13266. Thanks for reporting it!

[2016-12-14 15:57] #13867 closed

[2016-12-14 15:57] jdm commented on #13266
This also reproduces on https://www.mockplus.cn/.

[2016-12-14 15:58] jdm commented on #13266
The code is now:
[code]

[2016-12-14 15:59] jdm commented on #13266
@mrobinson Any idea what we should if the stacking context transform is not invertible?

[2016-12-14 17:09] DominoTree commented on #13892
@canaltinova I've been hacking on this some but I'm having trouble wrapping my head around it as a whole.  Could you take a look at https://github.com/servo/servo/compare/master...DominoTree:master and see if it looks like I'm moving in the right direction or if anything jumps out at you?  Right now, I'm trying to figure out the `parse` method.

[2016-12-14 17:56] #14571 closed

[2016-12-14 18:53] #13668 closed

[2016-12-14 18:57] jdm opened #14590 "Rewrite bluetooth manager methods to return Result instead of sending values over a channel"
The code will be more idiomatic and less redundant if it's converted from:
[code]
into
[code]
This will mean we can rewrite the `get_adapter_or_return_error` macro to be a method that returns a result, and the code that uses the macro can use `try!` when calling it instead. This will give us more idiomatic Rust code and it will be harder to accidentally not send a response on the channel.

Code: `

[2016-12-14 18:57] highfive commented on #14590
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-14 19:20] KiChjang commented on #13942
So I'm running into this issue:
[code]
And the prettified JS looks like this:

[code]
So judging from the code, this is a feature detector for `MessageChannel` and the code tries to fall gracefully back to `postMessage` if it doesn't exist. What it didn't know is that Servo only supports same-origin `postMessage`s, and so the call to `a.open()` failed.

[2016-12-14 20:12] jdm commented on #13942
Not quite - the iframe should be loading about:blank and therefore be considered same origin. The biggest problem here is that we don't support Document.open() yet.

[2016-12-14 20:13] #11459 closed

[2016-12-14 20:14] jdm opened #14591 "Implement Document.open() and Document.close()"
Blocks #13942.

Spec: https://html.spec.whatwg.org/multipage/webappapis.html#dom-document-open, https://html.spec.whatwg.org/multipage/webappapis.html#dom-document-close

[2016-12-14 20:16] jdm commented on #13942
And easy way to work around the issue when exploring GDocs is to add a userscript in `resources/user-agent-js/` that fakes the methods:
[code]
and run with the `--userscripts` flag.

[2016-12-14 20:50] canaltinova commented on #13892
@DominoTree Looks like you're in the right path! You need to also remove AngleOrCorner from [here](https://github.com/servo/servo/compare/master...DominoTree:master#diff-cbedc7e16a657ba5014039823e619c1dR16) and create an AngleOrCorner enum in computed part like this one(Sorry I forgot to mention that):
[code]

In this way we have 2 `AngleOrCorner` enums, one is computed and one is specified. Compu

[2016-12-14 20:54] impowski commented on #14590
I'll take it.

[2016-12-14 20:55] jdm commented on #14590
Great! Please ask questions if anything is unclear!

[2016-12-14 21:12] dpyro commented on #14521
Update: So far I’ve created an implementation and am currently testing and verifying it.

[2016-12-14 21:28] #10552 closed

[2016-12-14 21:30] jdm opened #14595 "Allow passing --nocapture argument to test-unit mach command"
The Rust test harness allows a `--nocapture` argument that shows you the full stdout of each test that runs. It's complicated to make this work when using `./mach test-unit` right now, so we should make it a supported argument.

Code: `python/servo/testing_commands.py`

We'll need to add the flag to the list of arguments before [invoking cargo](https://dxr.mozilla.org/servo/rev/65b891c23fbb85c32ae

[2016-12-14 21:30] highfive commented on #14595
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-14 21:30] highfive commented on #14595
cc @wafflespeanut

[2016-12-14 21:47] jdm opened #14596 "Initial document load should handle redirects manually"
Right now, page loads are initiated by a ScriptThread, and the final response is received by the same ScriptThread which creates a Window, Document, and starts the HTML parser. This breaks our same-ish origin threading model if a same-origin load secretly redirects to a cross-origin URL behind the scenes. The spec says that the fetch should use the `manual` redirect mode, meaning that the load ini

[2016-12-14 21:58] jdm commented on #3924
We fixed this in #13996.

[2016-12-14 21:58] #3924 closed

[2016-12-14 22:20] highfive commented on #14595
cc @wafflespeanut

[2016-12-14 22:39] impowski commented on #14590
@jdm So what about that `get_adapter_or_return_error` macro? As I understood I need to remove `sender` from there and just return `Err(...)` or `adapter`, but since you said that you want to use `try!` on it it should basically return `Ok(adapter)` then. I see that there is more methods which use `sender` and same macro inside so I should change them too.

[2016-12-15 00:52] jdm commented on #14590
@impowski I mentioned rewriting from a macro into a method instead. And yes, we should change all of the methods that are written in this style.

[2016-12-15 03:58] frewsxcv commented on #13953
This might be fixed by https://github.com/servo/servo/pull/14412.

[2016-12-15 04:28] frewsxcv commented on #11820
This now lives in the `style` component.

[2016-12-15 05:29] #13717 closed

[2016-12-15 14:29] MartyIX commented on #14497
The URL is in the picture: http://blogs.microsoft.com/blog/2016/12/07/microsoft-2017-event-line/ It happens to me too.

[2016-12-15 18:01] mbebenita commented on #14497
@jdm sorry, I didn't see your comment. I took the screenshot because it had the URL in it and I couldn't copy and paste it.

[2016-12-15 18:56] #14590 closed

[2016-12-15 21:10] #14458 closed

[2016-12-15 21:50] jdm commented on #14476
That looks pretty slick! I'm trying it out on my machine, and I'll make PRs with my changes.

[2016-12-15 21:54] canaltinova commented on #10054
#14509 began to implement just parsing/serialization of these properties but it expanded to implementing in layout too. Closing this.

[2016-12-15 21:54] #10054 closed

[2016-12-15 21:55] Ms2ger opened #14606 "Intermittent fail in /_mozilla/mozilla/simple_scroll_to_fragment.html"
[code]

[2016-12-15 21:57] KiChjang opened #14607 "Intermittent pass of /html/semantics/embedded-content/the-iframe-element/iframe-allowfullscreen.html"
[code]

[2016-12-16 00:32] stshine commented on #14606
cc @mrobinson

[2016-12-16 03:45] DominoTree commented on #14523
I'm gonna start looking into this one

[2016-12-16 03:46] DominoTree commented on #14514
I'm gonna start looking into this one

[2016-12-16 04:04] jdm commented on #14514
Great! Please ask questions if anything's unclear!

[2016-12-16 04:04] jdm commented on #14523
Great! Please ask questions if anything's unclear!

[2016-12-16 05:09] Wafflespeanut commented on #14476
Glad to hear!

[2016-12-16 09:44] Ms2ger opened #14611 "HTMLTimeElement::dateTime does not match the spec."
https://html.spec.whatwg.org/multipage/semantics.html#dom-time-datetime should simply reflect; we seem to implement https://html.spec.whatwg.org/multipage/semantics.html#datetime-value instead.

Test: `html/semantics/text-level-semantics/the-time-element/001.html`; should probably add some cases.

[2016-12-16 16:07] emilio opened #14616 "parser_inserted fields should probably be resetted when unbound from the tree."
There are a few elements (currently script and link, also style with #14540) that track whether they've been injected by the parser.

The link element's field is never set back to false, and the script field should probably be set to false also after unbinding from the tree.

Presumably somebody could write an script that grabs a loaded link element, then re-inserts it with a different `href`, and

[2016-12-16 17:06] emilio opened #14617 "The stylesheet load event cleanup broke some tests"
#14540 broke a few tests that relied on non-text/css stylesheets triggering an `error` event.

Before that PR we were firing both the load and the error events, which was obviously worse.

When I chose that behavior, instead of the new failing tests, I broke a bunch of tests under `/fetch/nosniff` that were expecting a stylesheet `load` event to trigger on a pyhton-created response without content

[2016-12-16 18:30] Manishearth commented on #14575
cc @pcwalton

[2016-12-16 20:06] asajeffrey opened #14619 "script_thread::Documents should be script_thread::Windows"
We have to attach the GC dispose to Window because it needs to clean up the gc context.

[2016-12-16 22:33] lol768 opened #14621 "Nightly: Failed to compile shader: "cs_clip_rectangle", fglrx_pci"
**Hardware:**

* `driver=fglrx_pci`
* `product: Juniper PRO [Radeon HD 5750]`

**Software:**

[code]

[code]

**Steps to reproduce:**

* `wget https://download.servo.org/nightly/linux/servo-latest.tar.gz`
* `./runservo.sh`

**Error log:**

[code]

**IRC:**

[code]

[2016-12-17 00:10] #13892 closed

[2016-12-17 06:34] ConnorGBrewster commented on #13301
Fixed by #13996?

[2016-12-17 07:23] jdm commented on #13301
Yep.

[2016-12-17 07:23] #13301 closed

[2016-12-18 04:29] Wafflespeanut commented on #14198
@choudhary001 ping

[2016-12-18 06:42] bobtwinkles commented on #12413
Even stranger behavior results if you use a `px` margin:

[code]
![2016-12-18-013629_3600x1080_scrot](https://cloud.githubusercontent.com/assets/1514748/21292006/3d1e1a42-c4c3-11e6-9a04-cd9c4bbab7b5.png)

[2016-12-18 12:16] bd339 commented on #14064
I noticed this under Potentially Open Issues and would like to take it on, if @ajnirp is OK with that?

[2016-12-18 14:19] jdm commented on #14064
Yes, I think that's fine.

[2016-12-18 21:17] canaltinova commented on #14327
I'm going to start on this.

[2016-12-18 21:30] frewsxcv commented on #14611
Relevant https://github.com/servo/servo/issues/12967

[2016-12-18 22:29] dpyro commented on #14591
I will give this a go.

[2016-12-18 23:43] dpyro commented on #14591
Cancelling my go based on @KiChjang’s advice.

[2016-12-19 08:16] paulrouget commented on #13953
This appears to work for me now.

Closing. If anyone is still experimenting this graphic glitch, feel free to comment/re-open.

[2016-12-19 08:16] #13953 closed

[2016-12-19 08:16] paulrouget commented on #14259
This appears to work for me now. See https://github.com/servo/servo/issues/13953#issuecomment-265806653

Closing. If anyone is still experimenting this graphic glitch, feel free to comment/re-open.

[2016-12-19 08:16] #14259 closed

[2016-12-19 11:03] Ms2ger commented on #14616
Should review what, if anything, the spec says, and what other browsers do.

[2016-12-19 11:17] Ms2ger commented on #14617
Can you paste the exact failures?

[2016-12-19 11:27] choudhary001 commented on #14198
@Wafflespeanut Hey it will take some time for me submit changes as my laptop's hard disk has crashed and i need to get it fixed. If it is urgent then maybe someone else can take it up.
Thanks and sorry for the delay.

[2016-12-19 11:30] emilio commented on #14617
Sure:

 * /html/semantics/document-metadata/the-link-element/link-style-error-01.html
 * /fetch/nosniff/stylesheet.html.ini

Mainly, tests that expected an error when the content type was not CSS even though the response was successful.

[2016-12-19 11:32] #12967 closed

[2016-12-19 11:32] Ms2ger commented on #14611
CC @ConnorGBrewster: seems like you reviewed the incorrect implementation and invalid test changes.

[2016-12-19 11:32] Wafflespeanut commented on #14198
Well, it's not urgent. But, it's an easy issue, and newcomers long for easy issues. We're pinging only to make sure that it's being worked on. I'll remove the "C-assigned" tag for now, so that someone else can work on this. If no one has fixed this when you're back, or if you want me to find another easy issue for you, please feel free to ping me :smile:

[2016-12-19 11:32] emilio commented on #14617
And if I change it to throw the error on non-text/css responses, I get a lot of tests not rune that expect a load event being triggered, mainly:

<details>
[code]
</details>

[2016-12-19 11:37] gterzian opened #14626 "MozJS build error, when building Servo on Mac"
On Mac OS 10.11.6, I can currently only successfully build Servo when manually rewinding MozJS to this commit https://github.com/servo/mozjs/commit/cdf21f7c5596cb6e02eb9afdfc51841deea84a1f  in  [Cargo.lock](https://github.com/servo/servo/blob/master/Cargo.lock#L1620).

If I leave things unchanged, I get  `configure: error: Building ICU requires either yasm or a GNU assembler. If you do not have ei

[2016-12-19 11:39] emilio commented on #14626
You need to install yasm, it was added to the dependency requirements.

[2016-12-19 11:39] gterzian commented on #14626
ok, thanks! @emilio

[2016-12-19 11:39] emilio commented on #14626
Closing this then, thanks for the report! :)

[2016-12-19 11:39] #14626 closed

[2016-12-19 11:40] emilio commented on #14626
Oh, for the record, the PR that updated mozjs and added the yasm dependency is https://github.com/servo/servo/pull/13836

[2016-12-19 11:58] bd339 commented on #14064
I'm having some difficulty with matchMedia.html. 3 tests are failing even without my changes and I'm not sure what needs to be an instanceof MediaQueryListEvent (I don't see any events in there?)

[2016-12-19 13:36] cvan opened #14627 "Implement OffscreenCanvas API (needed for WebGL canvas in workers)"
The `OffscreenCanvas` API supports a canvas to be rendered off screen. It is available in both the `window` and worker contexts.

Supported by a flag today in Firefox, under active development right now by Chrome.

Relevant links:
* https://wiki.whatwg.org/wiki/OffscreenCanvas
* https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas
* https://hacks.mozilla.org/2016/01/webgl-off-the-main-

[2016-12-19 13:38] jdm commented on #14064
rmListener and dupListener are event listener callbacks. The `x` argument is the event object.

[2016-12-19 13:38] jdm commented on #14064
Similarly, all the calls to `addListener` that have an inline callback are event listener callbacks.

[2016-12-19 15:23] bd339 commented on #14064
Thank, I was just confused by e.g. the `x == mql1` and `mql instanceof MediaQueryList` checks.

[2016-12-19 16:08] ConnorGBrewster commented on #14611
woops my bad on this one!

[2016-12-19 19:21] KiChjang opened #14634 "Intermittent timeout of /cssom-1_dev/html/css-style-declaration-modifications.htm"
[code]

[2016-12-19 20:11] blasrodri opened #14635 "ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug.
### URL:

### Servo Version:
Servo 0.0.1-11dffa8
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-19 20:33] #14209 closed

[2016-12-19 20:35] KiChjang opened #14636 "Implement CSSKeyframeRule.style"

[2016-12-19 21:38] Prukutu opened #14637 "Panic when sending quirks information to layout thread"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.google.com/?gws_rd=ssl
### Servo Version:
Servo 0.0.1-11dffa8
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-19 21:49] beingalink opened #14638 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-11dffa8
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-19 21:51] jdm commented on #14638
Thanks for reporting the problem! Do you know what page you were looking at when you encountered this?

[2016-12-19 22:16] beingalink commented on #14638
http://arstechnica.com And I'm on the base model of the new MacBook Pro line if that matters

[2016-12-19 22:27] jdm commented on #14637
I reproduced this when refreshing the given URL after it loaded successfully.
[code]
This is a regression from #14430.

[2016-12-19 22:29] jdm commented on #14637
In this case, the document being parsed is an iframe with a `javascript:''` URL.

[2016-12-19 22:35] #14611 closed

[2016-12-19 22:50] jdm commented on #14638
I haven't been able to reproduce it by loading that page and scrolling around on a 2014 macbook, unfortunately.

[2016-12-19 23:43] jdm commented on #14497
I haven't been able to reproduce the problem locally yet.

[2016-12-20 00:06] jdm opened #14639 "Update WebIDL parser to latest mozilla-central"
https://bugzilla.mozilla.org/show_bug.cgi?id=1324178 is in the process of landing https://hg.mozilla.org/integration/mozilla-inbound/rev/1e631a95c4bc which updates the WebIDL parser.

[2016-12-20 04:00] BryanJBryce opened #14641 "assertion failed: count_cell.get() > 0"
assertion failed: count_cell.get() > 0
### URL:

### Servo Version:
Servo 0.0.1-56f2367
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-20 05:37] jdm commented on #14641
Thanks for reporting this! Any idea what page you were on?

[2016-12-20 14:57] jdm commented on #14068
@46bit Have you made any progress with this?

[2016-12-20 15:19] 46bit commented on #14068
@jdm I'm back from holiday and will be working on it late this week.

[2016-12-20 16:47] jdm commented on #6687
This happened long ago.

[2016-12-20 16:47] #6687 closed

[2016-12-20 17:41] bholley commented on #14480
Hm. We're supposed to have the invariant that a node never has the dirty descendants bit (or non-null layout data) when it's not in a document.

I don't have the cycles to debug this, but could make good piranha food?

[2016-12-20 19:04] jdm commented on #1799
My recommendation for how to go about this - to sort out fundamental problems quickly, I propose copying the codegen infrastructure into a new project, taking some representative WebIDL files and DOM implementations, and doing whatever it necessary to make it build unmodified. At that point the rebuild time should be _way_ smaller than Servo, which will yield much quicker feedback on experiments.

[2016-12-20 19:40] jdm opened #14649 "Bluetooth maps don't need to store mutable JS values"
The `device_instace_map` in `Bluetooth` stores `MutJS<BluetoothDevice>` values, but it looks like they don't need to be mutable. It can use `JS<BluetoothDevice>` instead. Similarly, `BluetoothDevice`, `BluetoothRemoteGATTDescriptor`, `BluetoothRemoteGATTCharacteristic`, `BluetoothRemoteGATTServer`, and `BluetoothRemoteGATTService`.

Code: `components/script/dom/bluetooth.rs`, `components/script/do

[2016-12-20 19:40] highfive commented on #14649
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-20 20:36] BryanJBryce commented on #14641
nytimes.com

[2016-12-20 21:02] jdm commented on #14641
[code]

[2016-12-20 21:04] jdm commented on #14641
This is triggered by an @import rule in a CSS file which was not taken into account for the script blocking stylesheet count.

[2016-12-20 21:18] jdm commented on #14641
Actually, I believe the element that triggered the stylesheet load is not in a document at the point where we hit this.

[2016-12-20 22:06] emilio commented on #14480
I agree that the fix could end up being trivial, but diagnosing it may not.

I bet it could be something like what was causing the underflows in #10110? That is, an element kind that Gmail uses where our implementation of `unbind_from_tree` doesn't end up calling the super class?

[2016-12-20 22:09] emilio commented on #14480
Or maybe an unbind_from_tree impl that sets dirty bits around? That'd be weird, but I guess it can happen transitively. I'll take a quick look though I'm about to sleep. I can't promise anything though.

[2016-12-20 22:44] malfunc commented on #14649
I'll take it

[2016-12-20 22:44] #14064 closed

[2016-12-20 22:48] KiChjang commented on #14649
You got it!

[2016-12-20 23:34] jdm commented on #14641
I believe the problem is that a style element is constructed in one document, then moved into another document. This means that two different loads occur (since the contents are re-processed after being adopted), but process_response_eof is called twice on the new document rather than once on the old one and once on the new one.

[2016-12-21 00:15] jdm commented on #14641
I can reproduce this with the following testcase running from a local HTTP server (blank.html is an empty file):
[code]

[2016-12-21 00:40] jdm commented on #14641
[code]
This patch fixes it.

[2016-12-21 01:18] glennw commented on #10274
@zmike I guess the errors you are seeing have a backtrace that contains Browser::new() in servo/lib.rs?

WR does (currently) expect a GL context to be bound when Browser::new() is called. What does the CEF initialization flow look like in terms of where Browser::new() is called and the call to initialize_compositing()?

If there's a requirement to split the WR initialization between Browser::new()

[2016-12-21 02:47] shinglyu commented on #12610
I find it challenging to implement all the cases in one run. Any suggestions on how to splitting it into smaller chunks? I tried implement one of the condition at a time, but I keep regressing the reftests.

[2016-12-21 07:42] h416 opened #14655 "ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug.
### URL:
https://github.com/servo/servo/wiki
### Servo Version:
Servo 0.0.1-ae2b74e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-21 12:15] KiChjang opened #14656 "Intermittent pass of /css-flexbox-1_dev/html/css-flexbox-height-animation-stretch.htm"
[code]

[2016-12-21 14:01] jdm opened #14659 "Github wiki search doesn't work"
When visiting https://github.com/servo/servo/wiki in Servo, you can type in the "Find a page" input box, but the links below it never update.

[2016-12-21 14:02] jdm commented on #14659
@Wafflespeanut This might be a fun thing for you to investigate. I bet we're not dispatching the right events.

[2016-12-21 15:15] aonorin opened #14660 "Layout attached to empty script thread."
Layout attached to empty script thread.
### URL:

### Servo Version:
Servo 0.0.1-ae2b74e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-21 15:17] jdm commented on #14660
Duplicate of #14573. Thanks for reporting it!

[2016-12-21 15:17] #14660 closed

[2016-12-21 17:33] RockyTV commented on #14198
I'd like to have a try at implementing this issue, if that's okay...

[2016-12-21 17:34] Wafflespeanut commented on #14198
Please go ahead! :)

[2016-12-21 21:03] dpyro commented on #14522
This substitutes `response.clone()` with `Response::network_error(error.clone())`. @KiChjang would be the relevant person to know the benefits of this.

[2016-12-21 21:10] KiChjang commented on #14522
@dpyro That's not the problem here. Nowhere in the code did we actually did `response.clone()`. The more pressing concern here is whether the `network_error_res` binding is necessary, and whether we could simply just call `.actual_response()` to capture the intent adequately as outlined in the spec.

[2016-12-21 21:20] KiChjang commented on #14108
#14547 was an attempt at this, but the changes did not compile.

[2016-12-21 21:32] dpyro commented on #14522
Doing some digging: In `main_fetch` before this code, `response` is created within the function and mutated into either `None`, `Response::network_error(…)`, `basic_fetch(…)`, or `http_fetch(…)`.

- `None` is trivial.
- `Response::network_error(…)` sets `response.internal_response = None`.
- `basic_fetch(…)` either constructs a new `Response` and modifies `response.body` and `response.headers` or

[2016-12-21 22:36] KiChjang commented on #14198
@RockyTV Have you already started work on this? It looks like @ctjhoa has already submitted a PR for this issue. Would you care to work on #14108 instead?

[2016-12-22 00:10] Sarjo2222 opened #14665 "Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal."
Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:

### Servo Version:
Servo 0.0.1-ae2b74e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-22 00:24] #14198 closed

[2016-12-22 01:04] asajeffrey opened #14666 "What should the intermediate state of a reloaded document be?"
If a document is discarded, then reloaded by traversing to it, what should its state be after the traversal, but before the load is complete? This is a similar case to the initial `about:blank` state. cc @jdm

[2016-12-22 01:13] jdm commented on #14666
What do you mean by state, exactly? I believe traditionally browsers will treat the existing document as active until the response headers for the new document are received, at which point the new document is made active.

[2016-12-22 01:13] jdm commented on #14665
@sarjo2222 was this from the acid3 tests?

[2016-12-22 01:16] asajeffrey commented on #14666
Things like which document is returned by iframe.contentDocument.

[2016-12-22 01:19] Sarjo2222 commented on #14665
@jdm it was

[2016-12-22 09:06] Ms2ger commented on #14665
Thanks for reporting, we're aware of that case.

[2016-12-22 09:06] #14665 closed

[2016-12-22 19:19] asajeffrey commented on #14666
The spec https://html.spec.whatwg.org/multipage/#traverse-the-history-by-a-delta says that we should queue a task to traverse the document, https://html.spec.whatwg.org/multipage/#traverse-the-history says:

https://html.spec.whatwg.org/multipage/browsers.html#entry-update traverses the history after the dcoument is loaded.

[2016-12-22 19:34] g2p commented on #13253
It happens in existing servo checkouts, because fontsan didn't have these submodules in the past.

    rm -rf .cargo/git/checkouts/fontsan-75864180be477bc9

fixes it.

[2016-12-22 19:41] jdm opened #14672 "Replace existing DOM code that manipulates typed arrays with higher-level APIs"
This is going to track instances of code that should be rewritten to use the types and macros defined in [rust-mozjs](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L274-L305).

* [x] Crypto (#14673)
* [x] TextDecoder (#14674)
* [x] TextEncoder (#15504)
* [x] WebSocket (#14675)
* [x] WebGLRenderingContext (#14676)
* [x] WebVR (#15350)

[2016-12-22 19:48] jdm opened #14673 "Rewrite Crypto::GetRandomValues to use typed array API"
Instead of using `array_buffer_view_data`, this method should use [ArrayBufferView::from](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L66) and return an error value if a typed array cannot be extracted from the JS object. We'll need to declare the value using the `typedarray!` macro (see [the tests](https://github.com/servo/rust-mozjs/blob/master/tests/typedarray.rs) for exam

[2016-12-22 19:52] jdm opened #14674 "Rewrite TextDecoder::Decode to use typed array API"
Instead of using `array_buffer_view_data`, this method should use [ArrayBufferView::from](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L66) and return an error value if a typed array cannot be extracted from the JS object. We'll need to declare the value using the `typedarray!` macro (see [the tests](https://github.com/servo/rust-mozjs/blob/master/tests/typedarray.rs) for exam

[2016-12-22 20:01] jdm opened #14675 "Rewrite websocket array buffer handling to use typed array APIs"
[The current implementation](https://dxr.mozilla.org/servo/source/components/script/dom/websocket.rs#610-618) uses the JSAPI to create an array buffer, get its buffer and populate it with the received websocket message. We should be using the [ArrayBufferU8::create](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L120) API instead (see [FileReader::perform_readasarraybuffer](http

[2016-12-22 20:02] jdm commented on #14672
Once all of the existing uses are removed, we should be able to remove all of the `array_buffer_` conversion methods from `components/script/dom/bindings/conversions.rs`.

[2016-12-22 20:21] jdm opened #14676 "Rewrite WebGLRenderingContext to use typed array APIs"
We need to replace uses of `array_buffer_view_data_checked`, `array_buffer_view_data`, `array_buffer_view_to_vec_checked`, `array_buffer_view_to_vec`, and `array_buffer_to_vec`. This may mean adding an additional `ArrayBufferViewU16` type to the list in rust-mozjs, but the rest should be straightforward replacements with things like `ArrayBuffer::from` and `ArrayBufferView::from` (after https://gi

[2016-12-22 21:07] jimearthworm opened #14677 "ScriptThread panics when a timer fires after a pipeline has closed"
ScriptThread: received fire timer msg for a pipeline not in this script thread. This is a bug.
### URL: http://peacekeeper.futuremark.com/run.action
http://peacekeeper.futuremark.com/run.action
### Servo Version:
Servo 0.0.1-641010e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-22 21:12] jdm commented on #14677
I can reproduce this by waiting for 30s in a debug build on the provided URL. Thanks for reporting it!

[2016-12-22 21:16] jdm commented on #14677
Unsurprisingly, if we log the output of the constellation we see:
[code]

[2016-12-22 21:26] dpyro commented on #14675
I will give it a try!

[2016-12-22 21:38] jdm opened #14678 "Ensure repeating timers are cancelled when their document is discarded"
Otherwise they'll repeat forever once we make #14677 not panic any more.

[2016-12-22 21:38] jdm commented on #14677
For the purposes of this issue, I think it just makes sense to turn the panic into a warning. I'm worried that repeating timers will repeat for eternity after their associated document closes, though, so I've filed #14678 to fix that if necessary.

[2016-12-22 21:42] jdm commented on #14677
Easy demonstration:
[code]

[2016-12-22 21:42] bzbarsky commented on #14678
And prevent new setTimeout/Interval calls from creating new timers?

[2016-12-22 21:49] jdm commented on #14678
@bzbarsky Are you thinking of inactive documents rather than discarded ones?

[2016-12-22 21:56] KiChjang commented on #14675
Alright!

[2016-12-22 22:00] jdm opened #14680 "Can't run Peacekeeper webgl test"
http://peacekeeper.futuremark.com/run.action
[code]
This requires #14679 applied, otherwise it panics before reaching this test.

[2016-12-22 22:13] asajeffrey commented on #14678
jdm: is the problem that some documents can be discarded without being frozen first?

[2016-12-22 22:21] jdm commented on #14678
Oh, I think my fears may be unjustified - it looks like repetition is handled by the script thread, rather than the timer scheduling thread.

[2016-12-22 22:52] bzbarsky commented on #14678
@jdm I'm thinking of both, I think.  The spec around this stuff is somewhere between useless and vague, but in practice you want to prevent setTimeout/setInterval both when a document is navigated away from (becomes inactive) and when its browsing context is destroyed (per spec doesn't seem to become inactive).

[2016-12-22 23:03] danielrh opened #14681 "Update the version of brotli used in the network code"
There is a rare issue that could cause the brotli 1.0.6 crate to fail to decode a valid brotli file downloaded with server-side brotli compression enabled. The bug stemmed from break failing to exit the outer for loop when a series of C gotos were converted into rust switches/loops

The issue has been resolved in 1.0.7 and 1.0.7 has been successfully tested on over 10 million files with a large va

[2016-12-22 23:05] highfive commented on #14681
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-22 23:23] jrmuizel opened #14682 "Figure out if Servo can just communicate iframe resizes to itself instead of relying on WebRender"
Currently WebRender sends a FrameSize message to the constellation when it detects an Iframe resize. It seems like any consumers of this should be getting the information directly from layout instead of indirectly via WebRender.

@jdm

[2016-12-22 23:52] faineance commented on #14595
I intend to work on this.

[2016-12-22 23:53] jdm commented on #14595
Great! Please ask questions if anything is unclear!

[2016-12-23 02:26] asajeffrey commented on #5095
Closed by #14211.

[2016-12-23 02:26] #5095 closed

[2016-12-23 02:29] asajeffrey opened #14683 "Channel and message naming in the constellation"
We do not have a consistent naming convention for channels in or messages to/from the constellation.

[2016-12-23 03:43] #14677 closed

[2016-12-23 05:19] Waquo commented on #14621
I get the same error on my integrated Radeon HD 4250 on Windows 10.

[2016-12-23 07:11] shinglyu opened #14685 "Implement display: inline-flex"

[2016-12-23 07:12] shinglyu commented on #14685
cc @stshine
I'm blocked on #12610 for too long. I'll try to work on this to get some fresh perspective.

[2016-12-23 07:21] shinglyu commented on #14685
cc @stshine
I'm blocked on #12610 for too long. I'll try to work on this to get some fresh perspective.

[2016-12-23 08:12] jdm commented on #14682
I do not see any reason it needs to be structured this way. The layout thread creates display items for each iframe that get passed directly to WR, and WR stores the LayerSize values in a hashmap unmodified. These values are passed unmodified by WR to the pipeline_size_changed notification in the compositor, which sends them unmodified to the constellation. Finally in the constellation they are se

[2016-12-23 12:45] zmike commented on #10274
@glennw There's mainly just GL errors everywhere now :)

The initialize_compositing() method is a servo-specific extension to CEF which was added for the sole purpose of being the GL initialization entry point.

Browser::new() is called when a new pipeline is created and the page data is starting to fetch, but the application may not be ready for any GL operations at this point, so initialize_comp

[2016-12-23 12:54] dpyro commented on #14675
[I’ve rewritten the handling to use `Uint8Array::create`.](https://github.com/dpyro/servo/blob/9bd1fabd8a9b56ef8d70032dbcff8e29454fa7f9/components/script/dom/websocket.rs#L610) It compiles and passes `./mach test-wpt tests/wpt/web-platform-tests/websockets/` but I am unsure that it actually verifies the modified behavior is correct/equivalent.

[2016-12-23 13:39] gterzian opened #14688 "Cargo: [replace] statement ignored"
Any idea why I am getting:
[code]

I've added the following statement in the workplace `Cargo.toml` here https://github.com/servo/servo/blob/master/Cargo.toml

[code]

[2016-12-23 14:27] SimonSapin commented on #14688
I think Cargo is interpreting this as "Replace version 0.11.0 of the webrender crate from crates.io", but Servo uses WebRender as a git dependency. Try this instead? (I’m not sure of the exact syntax.)

[code]

[2016-12-23 14:34] nox commented on #14688
Cargo says:

[code]

Using that as the IDs to replace should work.

[2016-12-23 15:30] asajeffrey opened #14690 "Naming of the constellation's frame tree"
The naming of frames isn't as spec-compliant as it could be: `prev` is the past, `next` is the future, `FrameState` is a session history entry, `Frame` is the session history of a browsing context.

[2016-12-23 15:31] asajeffrey opened #14691 "Split off Frame from constellation.rs"
In the same way as EventLoop and Pipeline get their own modules in the constellation, so should Frame.

[2016-12-23 15:35] asajeffrey opened #14692 "Frame should store some of the data that is currently in Pipeline"
There is some data we are currently storing in Pipeline that should really be in Frame: `parent_info`, `size`, `is_private` and `visible`.

[2016-12-23 15:55] jdm commented on #14675
Great work! Two notes, though:
* Does ArrayBuffer::create work instead? That would be equivalent with the previous code.
* You can remove the code which extracts the buffer pointer and fills it with data; passing `Some(data)` to the creation function has the same effect.

[2016-12-23 15:56] Ms2ger commented on #14675
Also, feel free to go ahead and create a PR; that might make discussion easier.

[2016-12-23 15:57] jdm commented on #14675
Huh, I'm surprised that https://github.com/dpyro/servo/commit/9bd1fabd8a9b56ef8d70032dbcff8e29454fa7f9#diff-c13bae09b178a30151ecebdc13c30a26R619 passes tests, however. Additionally, https://github.com/dpyro/servo/commit/9bd1fabd8a9b56ef8d70032dbcff8e29454fa7f9#diff-c13bae09b178a30151ecebdc13c30a26R613 shouldn't compile, since the last argument is supposed to be a mutable handle.

[2016-12-23 16:11] asajeffrey opened #14693 "FrameChange::document_ready is never set"
`FrameChange::document_ready` is initialized `false` and never set `true`. We can remove it.

Code: `components/constellation/constellation.rs`

[2016-12-23 16:50] asajeffrey opened #14694 "Split logging out from constellation.rs"
We should spit the logging types out of constellation.rs.

[2016-12-23 16:51] highfive commented on #14693
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-23 16:56] SimonSapin opened #14695 "Make tidy reject duplicate crates with same version number & different source"
Before https://github.com/servo/servo/pull/14633, we were compiling two copies of the `freetype` crate. `./mach test-tidy` has a lint to prevent that from happening, but it didn’t in this case. I’m guessing this is because both copies had the same version number. But Cargo still considers them different, and therefore includes them both, because they have different sources: crates.io, and a git re

[2016-12-23 16:56] highfive commented on #14695
cc @wafflespeanut

[2016-12-23 17:07] asajeffrey opened #14696 "Move reg_host from the constellation to net_traits"
The `reg_host` function should be in `net_traits::pub_domains`, not `constellation`.

[2016-12-23 17:10] jdm opened #14697 "Add HTTP connector to HttpState, instead of creating one in http_network_fetch"
Right now we are not pooling HTTP connections, because we create a new pool for every connection. If we add the pool to the `HttpState` structure, we can use it from `http_network_fetch` instead of creating it.

Code: `components/net/resource_thread.rs`, `components/net/http_loader.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest` (this will ensure that network connections k

[2016-12-23 17:10] highfive commented on #14697
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-23 17:28] notriddle commented on #4445
This issue can be closed now,right?

[2016-12-23 17:49] bobthekingofegypt opened #14700 "Crash running test-wpt - assertion failed: allocation_size.width < max_texture_size()"
Pulled down commit dd2aa4195ab1ac853a5b80c6aa0a0d9c1fae055c.

Build and run work fine with dev and release builds.  But when running test-wpt get a crash reported, doesn't matter which test I chose.

[code]

OS: linux (gentoo 4.4.26)
Graphics: nividia with official drivers

cc @glennw

[2016-12-23 17:50] gterzian commented on #14688
I can confirm that using the below worked:

[code]

thank you @SimonSapin and @nox.

I have also submitted a change to the [Hacking Servo](https://github.com/servo/servo/blob/master/docs/HACKING_QUICKSTART.md) doc...

[2016-12-23 18:08] jdm opened #14702 "Cookie::appropriate_for_url should check for wss schemes in addition to https"
Really, we should have an `is_scheme_secure(&ServoUrl)` abstraction, because this gets used in #14491 as well.

Code: `components/net/cookie.rs`

No way to write an automated test for this, unfortunately, since we can't run SSL tests yet.

[2016-12-23 18:08] highfive commented on #14702
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-23 19:25] asajeffrey opened #14704 "Document deadlock-freedom of the constellation, since IPC buffer send is blocking"
If a script thread busy-loops, but the constellation keeps sending it messages, eventually it will exhaust the IPC buffer. This will then block the constellation, oh dear.

IPC conversation with @antrik and @pcwalton http://logs.glob.uno/?c=mozilla%23servo&s=23+Dec+2016&e=23+Dec+2016#c583154

[2016-12-23 21:40] asajeffrey opened #14705 "Simplify pipeline creation"
At the moment our pipeline creation code is, er, a bit more complex than seems necessary.

[2016-12-24 00:22] #14477 closed

[2016-12-24 06:09] iamrohit7 commented on #14702
I would like to work on this.

[2016-12-24 06:53] ConnorGBrewster commented on #14702
@iamrohit7 it's all yours!

[2016-12-24 12:37] #14514 closed

[2016-12-24 13:46] #14681 closed

[2016-12-24 16:23] sexwork opened #14713 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-b13afcc
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-24 16:48] #14688 closed

[2016-12-24 20:37] canova opened #14717 "`overflow: auto` div shouldn't be scrollable when there is an extra space."
`overflow: auto` div shouldn't be scrollable when there is an extra space at the bottom. Other browsers don't scroll either. This usually blocks scrolling the main page. I used `<br>` to add space to bottom in this test case. But this affects when padding or margin is specified too.

Test case:
[code]
In this test case, div is not overflowed but when you scroll in the div's area, it tries to scrol

[2016-12-24 22:45] emilio opened #14719 "Our resize story for iframes is not great."
Right now, we handle resizes asynchronously, even when they're set explicitly by the user. This has observable effects for same-origin iframes, and not-interoperable behavior.

See, for example, #14556.

Right now, when the width attribute changes, we do the following:

 * We run layout, build the display list, including the iframe display item, which contains the pipeline id.
 * WebRender flatten

[2016-12-24 23:55] cbrewster opened #14720 "Iframes always load with about:blank in history"
If the iframe has a `src` attribute, once the website loads in the iframe, the `about:blank` should be replaced in the session history.

https://html.spec.whatwg.org/multipage/embedded-content.html#process-the-iframe-attributes

Sample:

iframe.html:
[code]
[code]

Traverse the history backwards using the keyboard shortcut and the iframe will traverse back to `about:blank`.

[2016-12-25 00:16] bzbarsky commented on #14719
The way Gecko handles this is as follows:

1.  A layout or style flush on a document will perform a layout flush on its parent.  This is needed to make media queries work right in cases where the parent has a relayout scheduled that hasn't happened yet.  We do this across origins too, but I think this could be restricted to same-origin within the web security model, where all access is symmetric.

[2016-12-25 00:30] emilio commented on #14719
Well, the discussion above applies to both (I think, just came from a Christmas dinner so my thinking may not be the best), because the way resizes end up arriving to script.

Mainly, I think you can change the size of an iframe, and force a reflow in that iframe via script (e.g. offsetTop) before the iframe knows it's been resized.

[2016-12-25 00:44] emilio commented on #14719
Indeed, if you force a flush in both documents in the test in #14556, the test still fails, because of the async window size update.

[2016-12-25 04:29] mattnenterprise commented on #14697
I would like to work on this.

[2016-12-25 04:33] KiChjang commented on #14697
Go for it! Ask any questions here or on `irc.mozilla.org` at #servo if you have any questions!

[2016-12-25 07:13] jdm opened #14723 "stylo builds aren't working on TravisCI"
[code]

[2016-12-25 07:13] highfive commented on #14723
cc @aneeshusa

[2016-12-25 07:16] jdm commented on #14723
This may have started with #14721?

[2016-12-25 07:17] jdm commented on #14723
The travisCI build logs appear to show that this started with #14687, instead.

[2016-12-25 09:43] zaynetro commented on #14693
I'd like to work on this issue

[2016-12-25 09:55] #14702 closed

[2016-12-25 12:22] #14693 closed

[2016-12-25 12:31] zaynetro commented on #14108
I'd like to work on this issue

[2016-12-25 12:55] #4445 closed

[2016-12-25 15:03] asajeffrey commented on #14693
Thanks!

[2016-12-25 15:45] jdm commented on #14108
Please do! Ask questions if anything is unclear!

[2016-12-25 15:46] prampey commented on #14002
@jdm Isn't it better if we legibly print out the error instead of masking it with `let _ = self.ipc_renderer.send(...);` ?

[2016-12-25 16:35] zaynetro commented on #14674
I'd like to work on this issue

[2016-12-25 18:08] deror1869107 commented on #14673
Should
fn data(&mut self) -> (*mut T::Element, u32)
in [https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs#L85](typedarray.rs)
be a public function?

[2016-12-25 18:48] deror1869107 commented on #14673
I would like to work on this issue!

[2016-12-25 19:04] #14108 closed

[2016-12-25 19:12] prampey commented on #14673
Hi. I'd like to work on this.

[2016-12-25 19:27] jdm commented on #14673
Looks like @deror1869107 claimed it first. Thanks for the interest!

[2016-12-25 19:32] jdm commented on #14002
It depends. I wouldn't complain about a patch that used warn! to report the error if it occurred.

[2016-12-25 20:43] prampey commented on #14002
Oh okay. This seems cleaner to me. Anyways, the assignee seems to be inactive. Can I work on this?

[2016-12-26 03:02] jdm commented on #14002
Please do!

[2016-12-26 08:30] KiChjang opened #14734 "Intermittent crash of /css21_dev/html4/abs-pos-non-replaced-vlr-033.htm ("Connection reset by peer")"
[code]

[2016-12-26 08:34] KiChjang commented on #14734
The first panic is #13480.

[2016-12-26 09:14] #14673 closed

[2016-12-26 10:55] deror1869107 commented on #14696
I'd like to work on this issue!

[2016-12-26 12:06] #14696 closed

[2016-12-26 18:04] #14695 closed

[2016-12-27 02:16] mattnenterprise opened #14742 "Update http_network_or_cache_fetch to current Fetch standard"
http_network_or_cache_fetch looks to be out of date with what is currently in the [standard](https://fetch.spec.whatwg.org/#http-network-or-cache-fetch). It should be updated to reflect what the current standard contains.

[2016-12-27 03:35] shinglyu commented on #14685
Here are a list of testcases that can potentially be fixed by implementing `display: inline-flex`

[code]

[2016-12-27 04:23] mattnenterprise commented on #14742
@jdm i can go ahead and do this.

[2016-12-27 07:21] deror1869107 commented on #14691
Is the only thing should be done to move the code "struct Frame..." from constellation.rs to frame.rs?

[2016-12-27 07:37] deror1869107 commented on #14691
I'd like to work on this issue!

[2016-12-27 07:52] Ms2ger commented on #14691
Yep, the struct and the impl blocks; go ahead!

[2016-12-27 08:23] highfive commented on #14691
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-27 09:21] #14691 closed

[2016-12-27 14:16] jdm commented on #14742
Great! Anything in particular you're focusing on?

[2016-12-27 15:51] iamrohit7 commented on #14520
I would like to work on this.

[2016-12-27 15:59] #14674 closed

[2016-12-27 16:01] jdm commented on #14520
This corresponds to part of step 16 of `main_fetch`. Please do!

[2016-12-27 17:06] #14697 closed

[2016-12-27 22:26] mattnenterprise commented on #14742
Currently I only see 20 steps in the code, but the spec contains 25. I would like to add the additional steps, or at least add a TODO where they should be added in the code.

[2016-12-27 23:08] cbrewster opened #14745 "Gradients render in the wrong direction"
Notice the `Sign Up` and `Sign up for GitHub` buttoms.

Servo:
<img width="1058" alt="screen shot 2016-12-27 at 4 04 41 pm" src="https://cloud.githubusercontent.com/assets/9086315/21510260/84121e0c-cc4e-11e6-9ae7-71ad5cee6684.png">
Firefox:
<img width="1295" alt="screen shot 2016-12-27 at 4 05 53 pm" src="https://cloud.githubusercontent.com/assets/9086315/21510259/841087a4-cc4e-11e6-9bbb-2e8348cf1

[2016-12-27 23:10] DominoTree commented on #14745
I was doing some work in this area a couple of weeks ago - I'll see if I can hunt this down.

[2016-12-28 00:24] KiChjang commented on #14742
Some notes (all step numbers are based on current version of the spec):
* Step 2 on the spec is new;
* Step 7 is new;
* Step 9 needs update;
* Step 13 needs update;
* Step 22 is new;
* Step 23 is new.

[2016-12-28 02:17] danrien opened #14749 "assertion failed: self.suspended_since.get().is_some()"
Was attempting to hit the "back" button after browsing to Ars Technica when this occurred:

assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-37a5e29
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-28 02:22] DominoTree commented on #14723
I noticed a handful of errors in a run earlier that looked like /tmp/ was out of space

[code]

[2016-12-28 02:40] shinglyu opened #14750 "Inline box's border is rendered incorrectly"
If we set a box as `display:inline`, its border will not be shown correctly.

![selection_084](https://cloud.githubusercontent.com/assets/3250983/21512544/a4addb60-cce9-11e6-9c5a-974b5224d8bf.png)
(left: servo, right: firefox aurora)

There is a 5 px padding/margin around the "ABC"s, so clearly the `border: 5px` is processed, but the `dotted black` attribute is not processed correctly.

This is th

[2016-12-28 02:41] shinglyu commented on #14750
`display: block` and `display: inline-block` works as expected.

[2016-12-28 04:59] upsuper opened #14752 "`overflow` with CSS-wide keywords is incorrectly serialized from CSSOM"
The following test page:
[code]

Stylo (and probably Servo) just shows "inherit" while other browsers (including Gecko) shows "overflow: inherit;".

I looked into code in `PropertyDeclarationBlock::to_css`, but don't find any issue there. And it only happens for CSS-wide keywords (`inherit`, `initial`, `unset`), but not other keywords (`hidden`, `visible`, etc.). And it only happens to `overflow`.

[2016-12-28 05:07] upsuper commented on #14752
It seems the issue is in `declaration_block::append_serialization`.

[2016-12-28 05:36] jdm commented on #14749
This is a duplicate of #13716. Thanks for reporting it!

[2016-12-28 05:36] #14749 closed

[2016-12-28 05:39] cbrewster commented on #13716
I'll go ahead and take a look at this one since it seems traversal related.

[2016-12-28 06:43] cbrewster commented on #13716
So there seems to be a case where a pipeline does not get frozen and on history traversal, we attempt to thaw the pipeline which causes the assertion because the pipeline was never frozen.

[2016-12-28 06:43] cbrewster commented on #13716
cc @asajeffrey

[2016-12-28 07:06] cbrewster commented on #14690
Along with this, we call `FrameState`s `entry`s and sometimes `state`s, we should figure out a consistent naming for this.

[2016-12-28 07:16] cbrewster commented on #13716
When `bind_to_tree` gets called we sometimes will call:
[code]
https://dxr.mozilla.org/servo/source/components/script/dom/htmliframeelement.rs#702-703
Both `self.create_nested_browsing_context` and `self.process_the_iframe_attributes` call `navigate_or_reload_child_browsing_context`. In the case that both of those have the `about:blank` url, then the `ScriptLoadedAboutBlankInIFrame` is sent twice

[2016-12-28 07:38] cbrewster commented on #13716
Here is a naive solution; however, I think there is some cleanup to be done here.
[code]

[2016-12-28 07:47] canaltinova commented on #14752
I can take a look at this if you're not working currently.

[2016-12-28 07:48] Wafflespeanut commented on #12675
Previous attempt and discussion: #13092

[2016-12-28 07:49] upsuper commented on #14752
I'm not working on this currently.

[2016-12-28 07:52] canaltinova commented on #14752
Okay. I'll work on it :)

[2016-12-28 08:04] shinglyu commented on #12675
Now I use `-Z trace-layout` (with `/etc/layout_viewer/`) most of the time, because it snapshot the flow tree at every layout step, so you can see how the flow tree evolves. But if someone still need the `-Z dump-flow-tree` in json, they can consider using the `serde_json` infrastructure I created. I'm willing to mentor.

[2016-12-28 09:27] #13846 closed

[2016-12-28 10:10] Ms2ger commented on #14742
Relevant: https://github.com/Ms2ger/servo/tree/http_network_or_cache_fetch

[2016-12-28 12:06] asajeffrey commented on #13716
I'd be quite keen on making freeze and thaw idempotent, which would fix this. We should try to fix the underlying problem though, we shouldn't have multiple pipelines for the same about:blank.

[2016-12-28 12:48] stshine commented on #14685
Go for it! You should need something like `InlineBlockFragmentInfo` and `SpecificFragmentInfo::InlineBlock`, but contains a `FlexFlow`, and process them in `inline.rs`.

[2016-12-28 14:03] emilio opened #14756 "Use another backing store for the HSTS list."
Seems pretty inefficient to use a `Vec` there, when we could index by domain and then check subdomains.

This shouldn't be extremely hard to do, and there's a TODO comment there that mentions this.

Seems that the failures in #14716 weren't related to this, but seems worth to do.

[2016-12-28 14:09] mrnayak commented on #14756
Can I work on this?

[2016-12-28 14:13] prampey commented on #14002
@jdm Since I'm only checking for an error, I've decided to use this:
[code]

[2016-12-28 15:23] jdm commented on #13716
I don't believe the patch in the previous comment is a correct solution, since the nested browsing context would no longer be synchronously available for `<iframe></iframe>`.

[2016-12-28 15:39] jdm commented on #14002
@prampey Please use `warn!` instead of `println!`, since that integrates better with our error reporter. Additionally, an error message like `Couldn't close canvas: {}` will be more meaningful.

[2016-12-28 15:40] jdm commented on #14756
Please do!

[2016-12-28 15:59] jdm opened #14758 "Update links to DOM Parsing specification"
What used to be https://domparsing.spec.whatwg.org/ is now https://w3c.github.io/DOM-Parsing/ . Links to the old specification are now invalid, since the HTTPS certificate has expired. We should update them so that the links in our source code remain useful!

[code]

[2016-12-28 15:59] highfive commented on #14758
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-28 16:03] mrnayak commented on #14758
I can work on this!

[2016-12-28 16:59] jdm opened #14761 "Implement ArrayBuffer and ArrayBufferView variants of WebSocket::Send"
https://dxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/websockets/binary/004.html fails with:
[code]
This corresponds to `assert_equals(e.data.byteLength, datasize);` in the test, where `e.data` is supposed to be an ArrayBuffer object. `console.log(e.data)` shows `[object ArrayBuffer]`, while `console.log(e.data.byteLength)` shows `undefined`, and `console.log(Object.getPrototypeOf(e.da

[2016-12-28 17:05] jdm commented on #14761
I figured it out - all of the arraybuffer tests provide arraybuffers as input, but we haven't implemented that yet so they get converted to strings. This means that the tests all send input which is the stringified arraybuffer object, so they receive a string like `[object ArrayBuffer]` instead of binary data that gets converted into an arraybuffer object.

[2016-12-28 17:10] jdm commented on #14761
This needs to wait until #5014, unfortunately. I don't think we can handle overloads of webidl methods that include object types.

[2016-12-28 17:40] Ms2ger commented on #14761
We probably could, but would need to handle interface types manually... Not sure if the distinction would be detectable.

[2016-12-28 17:56] prampey commented on #14002
@jdm Cool. Just sent in a PR.

[2016-12-28 17:58] Coder206 opened #14763 ".bat env"

[2016-12-28 18:04] cbrewster commented on #14720
cc @asajeffrey
One solution is to wait until `Url`s are stored in `FrameState` and then when an iframe is loading a new Url, check the Frame `prev` see if it has a single entry with the url `about:blank`, if so, enable replacement.

[2016-12-28 18:18] prampey commented on #14649
@jdm However, the other bluetooth components use MutableJS types under _different_ variable names. For example, `BluetoothDevice` has `attribute_instance_map` while `BluetoothRemoteGATTService` has `device`. Do we have to remove the mutability of all these variables?

[2016-12-28 18:46] jdm commented on #13218
Now that https://github.com/alexcrichton/cookie-rs/pull/66 has been merged, we should update our cookie-rs version and see how Slack is doing!

[2016-12-28 18:47] #14675 closed

[2016-12-28 18:53] jdm commented on #14649
Yes, please!

[2016-12-28 18:55] jdm commented on #13766
I believe this should be addressed by #14068.

[2016-12-28 20:05] #14745 closed

[2016-12-28 21:36] bzbarsky opened #14765 "Various structs in the style system are underdocumented"
Context, StyleContext, SharedStyleContext, ThreadLocalStyleContext.  What purposes do they serve?  When should one expect to use/need them?

There is no real documentation on any of these, and even grep is of limited utility for something like "Context".

@emilio @bholley

[2016-12-28 21:36] bzbarsky commented on #14765
Oh, and I guess the two things I'd like are:

1)  Document these things.
2)  Stop checking in undocumented code.  ;)

[2016-12-28 21:49] #14758 closed

[2016-12-28 22:48] #14002 closed

[2016-12-28 23:26] cbrewster opened #14767 "contentWindow is null right after iframe src is set"
Test case (after: #14764 see https://github.com/servo/servo/pull/14764#issuecomment-269555670)
[code]
Servo:
[code]
Safari, Firefox, Chrome:
[code]
I am not sure the best way to go about fixing this... Do we need to synchronously create the new document on the script thread when a new iframe load is triggered in all cases? Unless `about:blank` is a special case here that is the only case that shou

[2016-12-29 01:08] jdm commented on #14767
Doesn't this work on master right now? Appending the iframe to the document for the first time creates a nested browsing context which makes iframe.contentWindow available synchronously. This is what the standard says should happen.

[2016-12-29 01:24] cbrewster commented on #14767
@jdm yes but the synchronous load happens twice (once for the new nested BC and once for the src attribute). Should both of these loads be synchronous? If not, then this becomes an issue

[2016-12-29 01:29] beholdnec commented on #14621
Compilation fails in res/prim_shared.glsl on this line:

`precision highp sampler2DArray;`

On further investigation, it looks like webrender is compiling shaders with the version line: `#version 150`. However, [GLSL 1.50](https://www.opengl.org/registry/doc/GLSLangSpec.1.50.11.pdf#page=51) states that a default precision qualifier statement can have a type of either int or float.

I looked—GLSL o

[2016-12-29 01:33] jdm commented on #14767
I do not believe the second load of about:blank (due to the src attribute) should be synchronous.

[2016-12-29 01:35] cbrewster commented on #14767
If that's the case, then the test above fails (as my pr makes subsequent about:blanks load be asynchronous). The script_thread document lookup returns `None`

[2016-12-29 04:14] jdm commented on #14767
I argue that #14764 should not be merged without figuring out how to address that :)

[2016-12-29 04:16] jdm commented on #14767
In case it's unclear, the second load being asynchronous should not prevent contentWindow from returning the window that was created for the nested browsing context that was created synchronously when the iframe was appended to the document.

[2016-12-29 04:17] cbrewster commented on #14767
@jdm should `contentWindow` return the `window` from the first `about:blank` window or the second `about:blank`?

[2016-12-29 04:54] jdm commented on #14767
I'm surprised that we're creating a new script thread for that; I thought we had code that special-cased about:blank so it was treated as same-origin.

[2016-12-29 04:55] jdm commented on #14767
In general, until we have the process the response headers for a request (and therefore create a new document, etc.) we should be returning the window/document that already exists.

[2016-12-29 05:07] cbrewster commented on #14767
It seems there might be a couple issues here then...
1. We shouldn't update the `PipelineId` on the iframe until it's corresponding `Document` has been created and added the the script thread.
2. `about:blank` I believe will load same-origin on master, but I think thats it is in the same logic that does the synchronous load. Do you know where the logic would be that determines if a new script thre

[2016-12-29 05:25] deror1869107 commented on #14676
I would like to work on this issue!

[2016-12-29 05:25] cbrewster commented on #14767
Ok I think I am getting closer to the answer here! 😄
I think I may have a misunderstanding of where the "synchronous" part of the load actually happens. I assume it means the scrip thread is halted until the load is completed? I am not sure where in the code this is actually happening.

The special case code for making sure `about:blank` is treated as same origin is https://dxr.mozilla.org/servo/s

[2016-12-29 05:47] frewsxcv commented on #14203
Relevant PR: https://github.com/hyperium/hyper/pull/975

[2016-12-29 06:53] cbrewster commented on #14767
This seems to be a few different issues, once I get it all panned out I'll open some more specific issues. For now I'll close this

[2016-12-29 06:53] #14767 closed

[2016-12-29 06:55] deror1869107 commented on #14676
There is no JSContext in the [fn validate_tex_image_2d_data](https://github.com/servo/servo/blob/master/components/script/dom/webglrenderingcontext.rs#L425)
which is required by ArrayBufferView::From.
How can I fix this problem? thx

[2016-12-29 07:12] KiChjang commented on #14676
Does `self.global().get_cx()` work?

[2016-12-29 08:26] jdm commented on #14676
You can add a `*mut JSContext` argument to the method, since all of the callers should have access to one already.

[2016-12-29 08:53] Ms2ger opened #14772 "Intermittent failure in /workers/baseurl/alpha/sharedworker.html"
[code]

[2016-12-29 10:01] Ms2ger commented on #14720
Not sure that's quite enough; we might need to store the "is initial about:blank document" flag.

[2016-12-29 10:34] #10964 closed

[2016-12-29 11:05] bzbarsky opened #14773 "Make per-document initial computed values actually work in servo"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1298588 I'm doing some of the work, and making them work with stylo, but there are some outstanding servo issues:

1. build_shared_layout_context needs to get the per-document structs from somewhere.  Which means they need to live somewhere.
2. All the media query bits.

These may not be urgent because it's possible that in servo right now the initia

[2016-12-29 12:49] emilio opened #14774 "http_loader::test_redirected_request_to_devtools intermittently fails"
[code]

[2016-12-29 13:37] emilio opened #14775 "Intermittent failure of /workers/Worker_ErrorEvent_error.htm"
Seen in https://github.com/servo/servo/pull/14768

[2016-12-29 13:38] emilio commented on #14775
[code]

cc @jdm @Ms2ger

[2016-12-29 13:49] Ms2ger commented on #14775
Related  #14772?

[2016-12-29 14:09] upsuper opened #14777 "Intermittent failure on abs-pos-non-replaced-vlr-145.htm"
Seen in #14768

[2016-12-29 14:43] gabtio opened #14778 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL: universidad.continental.edu.pe

### Servo Version:
Servo 0.0.1-c6ea1ec
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-12-29 14:51] jdm commented on #14778
Do you know what page you were viewing when this occurred?

[2016-12-29 14:51] jdm commented on #14778
Sorry, missed the URL in the report. I'll try to reproduce this.

[2016-12-29 15:23] jdm commented on #14478
Closing in favour of #13919.

[2016-12-29 15:23] #14478 closed

[2016-12-29 15:23] jdm commented on #14777
Closing in favour of #13919.

[2016-12-29 15:23] #14777 closed

[2016-12-29 15:26] jdm commented on #14734
The first crash is the important one.

[2016-12-29 15:26] #14734 closed

[2016-12-29 15:28] jdm commented on #13775
This is #13480.

[2016-12-29 15:28] #13775 closed

[2016-12-29 15:29] jdm commented on #13523
This is #13480.

[2016-12-29 15:29] #13523 closed

[2016-12-29 15:34] jdm commented on #14778
[code]
This is another instance of #14480. Thank you for reporting it!

[2016-12-29 15:34] #14778 closed

[2016-12-29 15:35] jdm commented on #14480
This also reproduces on http://universidad.continental.edu.pe.

[2016-12-29 15:59] jdm commented on #13355
Given a `Root<Node>` in an lldb session, I got this to work:
[code]

[2016-12-29 16:11] jdm opened #14779 "b.style is undefined using GreenSock-JS (missing SVG functionality)"
Before hitting #14480, http://universidad.continental.edu.pe/ shows this JS error:
[code]
This corresponds to `b.style[Da]="50% 50%"` from the minified JS, which I tracked down to https://github.com/greensock/GreenSock-JS/blob/94c5d3100f78656c3a336ff1080ce22fba63394d/src/uncompressed/TweenMax.js#L3720 in the unminified original source of GreenSock. This gives us:
[code]
We always return an Element

[2016-12-29 16:43] jdm commented on #14480
After throwing a bunch of assertions in places that set the flags, I finally caught this. The flag is being set on elements that aren't actually in the document during layout; next step is figuring out why layout is interacting with nodes that aren't in the document.

[2016-12-29 16:43] emilio commented on #14480
Heh, #14776

[2016-12-29 16:43] emilio commented on #14480
The easy answer is: `getComputedStyle`.

[2016-12-29 16:45] emilio commented on #14480
(or `CSSStyleDeclaration`).

[2016-12-29 17:23] charlesvdv opened #14780 "mach ManifestVersionMismatch"
Running ```./mach test --all``` give me this error:

[code]

I also got a few issue running the full test suite:
[code]

Should I post the failed tests also since some are already filled and others are not filled as issues ?

[2016-12-29 17:48] cbrewster commented on #14720
@Ms2ger you're right, otherwise subsequent `about:blank` loads would be replaced as well. I think we could store this flag on the `Frame` itself.

[2016-12-29 18:08] jdm commented on #14480
That is in the backtrace of the script thread, so that's plausible!

[2016-12-29 18:14] jdm commented on #14480
However, CSSStyleDeclaration::get_computed_style checks whether the node is in a document, so it's go to be more subtle than that.

[2016-12-29 18:31] emilio commented on #14480
@jdm do you have that backtrace? Other suspects are `offsetTop` and friends, and pretty much everything that does uses the rpc interface to layout.

[2016-12-29 18:38] jdm commented on #14480
[code]

[2016-12-29 18:41] jdm commented on #14480
Full backtrace:
<details>
  * frame #0: 0x00007fff8b986716 libsystem_kernel.dylib`__psynch_cvwait + 10
    frame #1: 0x00007fff8e40bc3b libsystem_pthread.dylib`_pthread_cond_wait + 727
    frame #2: 0x00000001056eea19 servo`std::thread::park [inlined] std::sys::imp::condvar::{{impl}}::wait + 265 at condvar.rs:64
    frame #3: 0x00000001056eea14 servo`std::thread::park [inlined] std::sys_common::co

[2016-12-29 18:51] jdm commented on #14480
My assertions:
[code]
It's hitting the one added to `set_dirty_descendants`:
[code]

[2016-12-29 19:57] #11966 closed

[2016-12-29 19:57] #12707 closed

[2016-12-29 19:57] #13800 closed

[2016-12-29 23:45] jdm commented on #13355
In a gdb session I got this to work:
[code]
I couldn't figure out how to call get_object_class.

[2016-12-29 23:49] jdm commented on #14480
I think I see one problem - the pending restyle vector in Document can contain nodes that have been removed from the tree, since they're never removed from the vector except by layout.

[2016-12-30 00:37] jdm commented on #14480
[code]
This patch appears to fix the problem for me.

[2016-12-30 00:49] jdm opened #14782 "Can't click buttons on gmail login page"
STR:
1. visit http://mail.google.com
2. type in email address
3. try to click blue button to continue

Pressing enter triggers it fine, but clicking does not work. This means the login process breaks if you encounter a "Check your account recover options" page, where the only way to continue is to click a button.

[2016-12-30 00:51] jdm opened #14783 "Layout assertion visiting google accounts help page"
STR: visit http://www.google.com/support/accounts?hl=en
[code]

[2016-12-30 00:55] jdm commented on #14783
The vector in question contains two fragments, instead of 1.

[2016-12-30 01:55] mattnenterprise opened #14785 "Request mode doesn't have websocket option"
`RequestMode` in `components/net_traits/request.rs` could possibly have the value of "websocket" according to the [spec](https://fetch.spec.whatwg.org/#concept-request-mode). Currently `RequestMode` doesn't have the option of being websocket so it should be added.

[2016-12-30 02:26] shinglyu commented on #14765
We could make `./mach test-tidy` show a warning if any struct or function is undocumented.

[2016-12-30 02:30] shinglyu commented on #14717
(cc myself)

[2016-12-30 03:00] Manishearth opened #14786 "Implement @supports"
https://drafts.csswg.org/css-conditional-3/#at-supports

https://developer.mozilla.org/en-US/docs/Web/CSS/@supports

`@supports` lets us query if a feature is supported by asking if a declaration parses.

[2016-12-30 04:31] jdm commented on #14765
That's usually the role of `#![warn(missing_documentation)]` instead.

[2016-12-30 04:38] jdm opened #14787 "Set origin header in http_network_or_cache_fetch"
There's a TODO comment pointing at https://github.com/hyperium/hyper/pull/691, but that was closed in favour of https://github.com/hyperium/hyper/commit/01843f882265a894c7051dc2ecf5cf09f2c2e8e7. We should be able to address the TODO now.

Code: `components/net/http_loader.rs`

[2016-12-30 04:38] highfive commented on #14787
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-30 05:14] Wafflespeanut opened #14788 "Change some of the `match` to `if let`"
`git grep -E ' ((Ok|Err)\((_|\(\))\)|None) => \{\}'` throws a lot of files. Some of these stuff can be changed to [`if let`](https://doc.rust-lang.org/book/if-let.html), since the counterparts have no purpose to serve us. Not everything can be changed, because some of the patterns in the neighborhood have guards or nested variants, for example.

PS: This should really be done with clippy, but well

[2016-12-30 05:14] highfive commented on #14788
Please make a comment here if you intend to work on this issue. Thank you!

[2016-12-30 10:20] Ms2ger opened #14791 "Flows should be repr(C)"
We have code that extracts the `BaseFlow` through
[code]

This relies on the `BaseFlow` being the first field in any `Flow` implementation.

(Perhaps this also means `Flow` should be an unsafe trait…)

[2016-12-30 12:37] rabisg commented on #14787
I would like to work on this

[2016-12-30 13:30] jlevesy commented on #14788
Hey ! I would like to work on this one !

[2016-12-30 13:31] Wafflespeanut commented on #14788
Awesome!

[2016-12-30 15:08] jdm commented on #14787
Great! Please ask questions if anything is unclear.

[2016-12-30 16:38] a-p- opened #14795 "https://download.servo.org/ expired cert."
https://download.servo.org/ currently appears to be using a certificate that expired on Dec. 29, 2016.

[2016-12-30 16:43] highfive commented on #14795
cc @aneeshusa

[2016-12-30 17:09] mrnayak commented on #14523
I am going to work on Implementing SRI fetch step.

[2016-12-30 17:16] DominoTree commented on #14523
@mrnayak I have been working on this some but if you'd like to take over this issue that's fine with me :)

[2016-12-30 19:36] #14756 closed

[2016-12-31 00:59] Manishearth opened #14799 "Parse arbitrary expressions for @font-face declarations"
There's no requirement that a valid `@font-face` rule to have its descriptors parse as per their corresponding grammar.

Thus, `@font-face {src: blah blah blah}` is valid, even though `blah blah blah` isn't valid grammar for the `src` descriptor. Similarly, unknown descriptors should also parse fine. The grammar of descriptors comes into account whilst using an `@font-face` rule, but a rule with i

[2016-12-31 02:14] emilio commented on #14765
I plan to add the `deny(missing_docs)` lint. Turns out documenting the existing stuff is a hardish job now :)

[2016-12-31 02:15] emilio commented on #14765
FWIW (not even halfway through):

[code]

[2016-12-31 03:44] stshine commented on #14791
Argh, the story of inheritence.

[2016-12-31 03:50] mrnayak commented on #14523
Thanks @DominoTree, I can try to finish this.

[2016-12-31 04:20] emilio commented on #14641
@jdm Just saw that issue. That patch looks good to me, do you want to land it? Or is this waiting for more investigation?

[2016-12-31 04:25] emilio commented on #14480
Hmm... Good catch. I guess constructing a test case isn't terribly hard.

That patch looks ok to me (with a comment in the `filter` call). Do you have cycles to do that? Otherwise i can try to build the test case and get that landed.

[2016-12-31 06:39] jdm commented on #14799
https://drafts.csswg.org/css-syntax/#consume-url-token may explain why Firefox and Chrome behave that way.

[2016-12-31 06:44] jdm commented on #8541
We support these.

[2016-12-31 06:44] #8541 closed

[2016-12-31 06:53] Manishearth commented on #14799
It says that an unfinished URI is a parse error though? Hm.

Grammar is a bit more specific on what a URI is.

[2016-12-31 14:53] jdm commented on #14799
If you look at the definition of a parse error, it's less straightforward than it sounds.

[2016-12-31 16:11] jdm opened #14803 "Implement Window.getSelection"
https://hypothes.is/assets/client/scripts/injector.bundle.js (which is used in http://wiki.c2.com/?AntiPatternsCatalog) checks for the presence of getSelection and assumes that the browser is IE if it isn't present, so it loads https://github.com/tcr/IERange which uses IE-only APIs.

Spec: http://w3c.github.io/selection-api/#dom-window-getselection

[2016-12-31 16:17] jdm commented on #14591
This also hits us on Google Maps.

[2016-12-31 16:26] jdm opened #14804 "Phabricator fails to display anything"
I get an eternal grey screen loading https://phabricator.wikimedia.org/T151770 in Servo. When I try to quit, I see this:
[code]

[2016-12-31 16:28] jdm opened #14805 "ReCAPTCHA layout is very wonky"
Loading https://admin.phacility.com/auth/register/:
In Firefox:
<img width="399" alt="screen shot 2016-12-31 at 11 27 59 am" src="https://cloud.githubusercontent.com/assets/27658/21578390/351beb6a-cf4c-11e6-852f-ab310506de18.png">
In Servo:
<img width="587" alt="screen shot 2016-12-31 at 11 27 15 am" src="https://cloud.githubusercontent.com/assets/27658/21578389/2769be48-cf4c-11e6-9a2d-ec15d83774a

[2016-12-31 16:36] jdm opened #14806 "Mozilla auth0 login panics while culling layers"
I got this while trying to visit https://mozilla.greenhouse.io/.
[code]

[2016-12-31 16:38] jdm commented on #14806
This is almost certainly https://github.com/servo/webrender/blob/75172db3d893f0dd5db34bab098938b912178022/webrender/src/tiling.rs#L2578 which looks very similar to #13266.

[2016-12-31 16:39] dowoncha commented on #14785
Is it as simple as adding WebSocket to the RequestMode enum?

[2016-12-31 16:45] nox commented on #13266
@jdm The whole thing should be ignored if that happens.

[2016-12-31 16:46] jdm opened #14807 "Github sign in button on MDN is too tall"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then
Firefox:
<img width="186" alt="screen shot 2016-12-31 at 11 43 00 am" src="https://cloud.githubusercontent.com/assets/27658/21578456/4e04023c-cf4e-11e6-8ea5-602b5a571da1.png">

Servo:
<img width="210" alt="screen shot 2016-12-31 at 11 42 32 am" src="https://cloud.githubusercontent.com/assets/27658/2157845

[2016-12-31 16:47] jdm commented on #14785
Yes.

[2016-12-31 16:48] nox commented on #13266
@jdm https://github.com/servo/servo/commit/51768844ed797a1c9c3597415a0f78d43b5f0b0b#diff-8bca5ea4dba7367eb0029b7c62cc2ab5R479

[2016-12-31 19:59] gterzian commented on #14290
@paulrouget there are a couple of PR's for this, see above. Since you reviewed the `MouseInput` changes at the time, perhaps you want to review this also?

[2016-12-31 20:21] #14752 closed

[2017-01-01 04:45] DominoTree commented on #14807
I'll see if I can fix this one

[2017-01-01 04:50] DominoTree commented on #14750
I'll take a stab at this one

[2017-01-01 06:08] KiChjang commented on #14750
@DominoTree Do you mind working on one issue at a time?

[2017-01-01 06:33] #14788 closed

[2017-01-01 06:37] iamrohit7 commented on #14803
I would like to work on this.

[2017-01-01 07:04] jdm commented on #12644
I get the following panic when loading this site:
[code]

[2017-01-01 07:05] jdm commented on #12644
[code]

[2017-01-01 07:07] jdm commented on #14803
I'm hesitant to add support for getSelection until we actually support selecting webpage content (input textboxes don't count; they don't appear to change the return value of getSelection). That's tracked in #7492.

[2017-01-01 07:08] jdm commented on #14750
Great! Please ask questions if anything is unclear!

[2017-01-01 07:09] jdm commented on #14807
I definitely recommend reducing it to a minimal testcase first.

[2017-01-01 11:09] SLMT opened #14810 "Build Failure on Windows 10"
I got the following error while building Servo using this command: `.\mach.bat build -d`
[code]

My Python was installed via Anaconda, here is the version I used:
[code]

and here is the version of my pip:

[code]

I searched this error on Google, and found [this post](http://stackoverflow.com/questions/35991403/python-pip-install-gives-command-python-setup-py-egg-info-failed-with-error-c) on Stac

[2017-01-01 11:47] vwvww commented on #14782
I did some further test on dev build and found out that after scrolling on the page, click event worked properly.
(1) Launch servo with ./mach run --dev http://mail.google.com . In this phase, the blue button has no response on clicking it.
(2) Type in email address and *trigger scrolling by keyboard up/down button or trackpad swipe.*(Other methods not tested)
(3) Try to click blue button to conti

[2017-01-01 14:23] asajeffrey commented on #14720
We could check to see if the old URL is about: blank and prev is empty? Not sure what is meant to happen if the iframe "really" contains about: blank.

[2017-01-01 14:29] jdm opened #14812 "Can't use latest gmail"
Following the steps in #14782 with the patch from #14480 applied, I am brought to the "Do you really want to use HTML Gmail?" page. If I click the "Take me to the latest Gmail" button, I end up at the same page.

[2017-01-01 14:31] jdm opened #14813 "Flexbox assertion failure on "Do you want to use HTML Gmail?" page"
Follow the steps in #14782 with the patch from #14480 applied to reproduce this.
[code]

[2017-01-01 14:39] stshine commented on #14813
Wow this is interesting!
 cc @notriddle

[2017-01-01 14:44] stshine commented on #14813
@notriddle IMO maybe you should simply return when it is a flex item?

[2017-01-01 14:49] jdm commented on #14812
If I set the user agent to "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:53.0) Gecko/20100101 Firefox/53.0", then I do not see that screen. Nice.

[2017-01-01 15:06] jdm commented on #14782
That's a very useful result; thank you!

[2017-01-01 15:13] jdm opened #14814 "Panic while refreshing Gmail login page"
STR:
1. `./mach run http://mail.google.com`
2. Once the page has finished loading, use the keyboard shortcut to refresh the page
[code]

[2017-01-01 15:14] jdm commented on #14814
When I tried to reproduce this I got this instead:
[code]

[2017-01-01 15:20] jdm commented on #14782
That being said, I cannot reproduce the issue any more - every time I load the page, I'm able to type my email and immediately click the button without scrolling the page at all.

[2017-01-01 15:31] DominoTree commented on #14807
Looks like it's the float, the example below still triggers it
[code]
Firefox:
![Firefox](https://i.imgur.com/nqa8onR.png)

Servo:
![Servo](https://i.imgur.com/9ZzTfWx.png)

[2017-01-01 15:37] DominoTree commented on #14807
Think this is #13683

[2017-01-01 16:05] iamrohit7 commented on #14803
@jdm If someone can mentor me, I'd love to work on that too.

[2017-01-01 16:54] notriddle commented on #14813
That would stop the assertion from firing, but if it's getting here, it means that somehow it's both a flex item and speculated to be impacted by a float. That's wrong; a flex item should never be in the same formatting context as a float.

[2017-01-01 17:10] cbrewster commented on #14720
If it "really" contains about:blank it just does a normal navigation without replacement enabled

[2017-01-01 17:25] Wafflespeanut opened #14815 "Remove duplicate code in mach"
[This span of code](https://github.com/servo/servo/blob/62ff467be855f222829ec961a104a0fdd3e083b0/python/servo/post_build_commands.py#L100-L103) is [already available](https://github.com/servo/servo/tree/62ff467be855f222829ec961a104a0fdd3e083b0/python/servo/package_commands.py#L126-L130
) as a function in `package_commands.py`. Let's move that function to `command_base.py` and use it in both `post_

[2017-01-01 17:25] highfive commented on #14815
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-01 17:31] asajeffrey commented on #14720
So an iframe which starts with src=about:blank is treated differently from one which starts with no src?

[2017-01-01 17:31] prampey commented on #14649
@jdm, This is what I get when I try to build after changing values only for `device_instace_map` in `Bluetooth`.
[code]
It seems that `JS<T>` and `MutJS<T>` have different methods implemented in `components/script/dom/bindings/js.rs`.

[2017-01-01 17:43] cbrewster commented on #14720
@asajeffrey I believe so

[2017-01-01 19:11] teosz commented on #14815
I intend to work on this. Thank you!

[2017-01-01 23:35] jdm commented on #14649
@prampey Instead of `JS::new`, use `JS::from_rooted`, and instead of `.get()` use `.` (the first error can just be `&existing_device`, or `&*existing_device` if necessary).

[2017-01-02 03:04] ron-wolf opened #14820 "error on loading apple.com"
Ran `servo http://apple.com`; page is blank; console prints repeatedly with occasional pauses:
[code]

[2017-01-02 10:34] canaltinova opened #14822 "`transition-timing-function` property should serialize function names instead of converting to cubic-bezier"
`transition-timing-function` property currently converting the function names directly to cubic-bezier during parsing. We should store function name to be able to serialize it properly. Then we can convert these functions to Bézier curves when we convert SpecifiedValue to ComputedValue.

To be more clear for example:
`transition-timing-function: ease;`
this declaration should be serialized as is.

[2017-01-02 12:04] Manishearth commented on #8553
So I've been poking around, and rustfmt seems to be much more stable now.

The following toml config is pretty nice for servo

[code]

`normalize_comments` prevents the license comment from being reformatted to use line comments instead of block comments. We might want to do that anyway, but it's nice to reduce the impact of the first run.

rustfmt currently doesn't reorder `extern crate`s. Furthe

[2017-01-02 12:18] ibotty opened #14823 "servo nightly from downloads.servo.org does not include openssl"
That way it fails, if another openssl is installed, e.g. on fedora 25.

[2017-01-02 13:03] Ms2ger commented on #14720
https://html.spec.whatwg.org/multipage/#process-the-iframe-attributes seems quite clear on that point; I don't understand where the confusion arises.

[2017-01-02 13:39] emilio commented on #14765
I think we can consider this fixed with https://github.com/servo/servo/pull/14801, https://github.com/servo/servo/pull/14802, and https://github.com/servo/servo/pull/14819.

Still a few things missing, I guess I'll send an email to dev-servo as a PSA.

[2017-01-02 13:39] #14765 closed

[2017-01-02 14:22] jdm commented on #8553
I'm open to that plan. I think adding extern crate reordering to rustfmt makes the most sense.

[2017-01-02 14:23] jdm commented on #14823
This sounds like #12015. Thanks for reporting it!

[2017-01-02 14:23] #14823 closed

[2017-01-02 14:30] jdm opened #14824 "Unminify JS and dump it to a file before executing it"
Issues like #14820 are annoying to debug because we don't have introspection tools like Firefox's JS debugger. We should add a command line option to Servo that causes the browser to create a directory for each page that is loaded, and every script that gets compiled first is run through an unminifier, then stored in a file in the directory before being evaluated. This means that the error message

[2017-01-02 14:49] jdm commented on #12106
Testing the front page today, I see the whole thing load and none of those errors appear in the console. I certainly remember this being the case in the past, so I'm going to call this fixed. Thanks for reporting it!

[2017-01-02 14:49] #12106 closed

[2017-01-02 15:07] jdm commented on #14820
This corresponds to `var c;c=a.next;`, where `a` is `var a=this._items[b];` and `b` is `var b=this.getCurrentItemIndex();`. Nothing clearly wrong yet.

[2017-01-02 15:12] jdm commented on #14824
https://github.com/beautify-web/js-beautify

[2017-01-02 15:38] #14815 closed

[2017-01-02 16:35] bobthekingofegypt commented on #14700
I dug into this a bit this afternoon as I had some time.

It appears to be a problem with headless mode, I looked through the wpt runner and found out the commandline args being used by the test runner and its '-z' that causes it to break.  If I run for example

[code]

This will force the test runner to drop the -z flag and I ended up with two open browsers showing their test results.

Also I can

[2017-01-02 16:44] jdm commented on #14700
Headless mode uses OSMesa for software rendering, and non-headless mode does not.

[2017-01-02 19:20] rabisg commented on #14787
PR Link: https://github.com/servo/servo/pull/14811

[2017-01-02 19:43] prampey commented on #14649
@jdm `JS::from_rooted` doesn't exist. So I decided to use `JS::from_ref` to create a JS datatype from the given reference. Is that cool? (Compiled quietly)
The second one seemed to have compiled without problems.
The third one gives me the following error:
[code]
For both the solutions you proposed.

[2017-01-02 20:14] algorev opened #14826 "Build fails on MacOS 10.11"
Build output with RUST_BACKTRACE=1, no XCode, only CLT, on an iMac 2013 with 16Gib of RAM:

TARGET = Some("x86_64-apple-darwin")
OPT_LEVEL = Some("3")
PROFILE = Some("release")
TARGET = Some("x86_64-apple-darwin")
debug=false opt-level=3
HOST = Some("x86_64-apple-darwin")
TARGET = Some("x86_64-apple-darwin")
TARGET = Some("x86_64-apple-darwin")
HOST = Some("x86_64-apple-darwin")
CC_x86_64-apple-da

[2017-01-02 20:27] algorev commented on #14826
Log with verbose option, replaced the session name with "bob":
[buildlog.txt](https://github.com/servo/servo/files/681351/buildlog.txt)

[2017-01-02 21:36] jdm commented on #14826
You're missing the openssl setup that's required in https://github.com/servo/servo/blob/master/README.md#on-os-x--1011-el-capitan-you-also-have-to-install-openssl

[2017-01-02 21:37] jdm commented on #14649
My mistake, from_ref is correct. For the third, you'll need `&**existing_device`.

[2017-01-02 21:55] algorev commented on #14826
Oh, thanx, it worked!

[2017-01-02 21:55] #14826 closed

[2017-01-02 22:17] #14742 closed

[2017-01-03 03:33] mrjbq7 commented on #7930
I don't think ``brew link --force openssl`` works in latest Homebrew:

[code]

Does anyone have updated instructions for macOS?

[2017-01-03 03:38] sfackler commented on #7930
@mrjbq7 https://github.com/servo/servo#on-os-x--1011-el-capitan-you-also-have-to-install-openssl

[2017-01-03 08:11] Wafflespeanut commented on #8553
It'd be wonderful to have rustfmt in tree. Also, tidy's sorting isn't that great right now (#9259). We can improve it in tidy, but rustfmt should do this better. I never imagined that rustfmt could be integrated so easily :smile:

[2017-01-03 09:44] #14595 closed

[2017-01-03 12:53] chr4 commented on #14795
Would it be possible to publish checksums of the files, so it's possible to verify the downloads in the meantime?

[2017-01-03 16:43] canaltinova opened #14832 "Some shorthand serializations print unspecified properties too"
Some shorthands are printinting default longhand values if the longhands are not specified. And some shorthands are just ignoring not specified shorthand properties. I think we should make the serialization same for all. Firefox generally prefers adding initial values to serialization but Chrome just ignores these ones. I'm in favour of just ignoring unspecified longhands. What do you think?

**Th

[2017-01-03 17:01] Manishearth commented on #14832
cc @heycam who may know what we should be doing here

I suspect the spec doesn't impose any requirements here, serialization is usually underspecced.

What do you mean by "chrome prints these as separate longhands"?

[2017-01-03 17:06] canaltinova commented on #14832
@Manishearth Chrome serializes this: `border-image: url("servo.png");` like this:
[code]

[2017-01-03 17:21] Manishearth commented on #14832
I guess that's just a bug (@domenic?)

[2017-01-03 17:23] domenic commented on #14832
I leave all CSS questions for @TabAtkins. I believe he was working on specifying serializations recently, in fact.