[2014-12-29 20:19] jdm opened #4504 "Make script load event asynchronous for internal scripts"
According to https://html.spec.whatwg.org/multipage/scripting.html#execute-the-script-block:

[code]

This should be a Runnable object that contains a `Trusted<HTMLScriptElement>` value that gets dispatched to the script task of the element's containing window.

[2014-12-29 20:21] jdm opened #4505 "Make DOMContentLoaded and load events asynchronous"
From https://html.spec.whatwg.org/multipage/syntax.html#the-end:

`4. Queue a task to fire a simple event that bubbles named DOMContentLoaded at the Document.`
[code]

We should extract these from `ScriptTask::load` into Runnable objects containing `Trusted<Document>` values.

[2014-12-29 20:26] jdm opened #4506 "Fire asynchronous error events for script element events"
According to https://html.spec.whatwg.org/multipage/scripting.html#prepare-a-script:

[code]

This should be a Runnable object that contains a `Trusted<HTMLScriptElement>` value.

[2014-12-29 20:33] jdm opened #4507 "Dispatch input event at HTMLInputElement elements on modification"
From https://html.spec.whatwg.org/multipage/forms.html#common-input-element-events:
[code]
[code]
[code]
These should be Runnable objects that contain a `Trusted<HTMLInputElement>` field.

[2014-12-29 20:41] jdm opened #4508 "Dispatch input event at HTMLTextareaElement"
[code]

This should be a Runnable object that contains a `Trusted<HTMLTextareaElement>` field.

[2014-12-29 20:46] jdm opened #4509 "Split plugins/lints.rs into separate implementation files in plugins/lints/"
The file's getting big. We can organize the code better for readability this way.

[2014-12-29 20:57] jdm opened #4511 "Load errors for worker resources should dispatch an error event at the worker"
According to https://html.spec.whatwg.org/multipage/workers.html#processing-model-11:
[code]

This should be a Runnable object containing a TrustedWorkerAddress field.

[2014-12-30 10:20] Ms2ger opened #4514 "Document and write tests for cookie header parsing."
CC @Manishearth, @jdm, @seanmonstar.

[2014-12-30 20:35] jdm opened #4516 "Make all new documents load about:blank and subsequently load the actual desired URL"
Right now this problem manifests as the document URI not reflecting redirects, because we create it before we've created the network request. This is harder to fix than just making it happen later, since we need a document for evaluating javascript URLs. We really should synchronously load about:blank. This should then be replaced by a document containing the parse content of the final request URL

[2014-12-30 20:50] jdm opened #4517 "Crash dropping native surface on twitter.com"
STR:
load www.twitter.com

[code]

[2014-12-30 21:02] jdm opened #4518 "Implement Document.defaultView"
Spec: https://html.spec.whatwg.org/multipage/dom.html#document
Code: components/script/dom/webidls/Document.webidl, components/script/dom/document.rs
Test: http://reddit.com

There's a lot of `ERROR:js::::rust: Error at https://www.redditstatic.com/reddit-init.en.fbU5YyM9lI8.js:3: TypeError: e.ownerDocument.defaultView is undefined` output right now. This should be an easy win, since the default v

[2015-01-01 23:21] znewman01 commented on #4493
Oops! Missed that before.

Looks like this issue is fixed by #4491. Closing.

[2015-01-01 23:21] #4493 closed

[2015-01-02 00:19] #4509 closed

[2015-01-02 01:59] suhr opened #4531 "servo panics on loading cat-v.org"
task 'LayoutTask' panicked at 'called `Result::unwrap()` on an `Err` value: ()', /home/larsberg/rust/src/libcore/result.rs:789

Crash report: https://gist.github.com/suhr/05cb73379f1bd9eab2a6

[2015-01-02 02:05] #4472 closed

[2015-01-02 05:58] jdm commented on #4531
Same symptom as #4503. What operating system are you using?

[2015-01-02 09:49] KiChjang commented on #4502
I think I can try this one. I will need to know what you mean by smart pointers though, do you mean boxed pointers or simple references (&)? I could try this one source file at a time first.

[2015-01-02 10:09] Ms2ger commented on #4502
You can't; we're still on an early-November rust snapshot.

[2015-01-02 12:22] Manishearth opened #4534 "Implement form submission for button elements"
We need to implement `Activatable` for `HTMLButtonElement`, something similar to [the way it's done for `<input>`](https://github.com/servo/servo/blob/master/components/script/dom/htmlinputelement.rs#L602) except only for `<button type=submit>`

You'll also need to provide an implementation of `FormControl` (similar to [the one for `<input>`](https://github.com/servo/servo/blob/master/components/s

[2015-01-02 17:44] suhr commented on #4531
[code]

[2015-01-03 03:45] #2641 closed

[2015-01-03 23:15] #4518 closed

[2015-01-04 09:05] yodalee commented on #4534
Allow me handle this.

[2015-01-04 13:21] jdm commented on #4534
Go for it!

[2015-01-04 15:33] yodalee commented on #4534
To make sure I didn't think it wrong, let me write my thought here:
I need to add `impl<'a> Activatable for JSRef<'a, HTMLButtonElement>

[2015-01-04 15:35] Manishearth commented on #4534
Yep, as well as `FormControl`

The "canceled activation steps" and "pre-click activation steps" should probably be empty (unless the spec says something)

(Btw, feel free to ping me in IRC or here, I'm willing to mentor this bug)

[2015-01-04 15:44] yodalee commented on #4534
Are there tests for this feature, or tests for `InputElement` so I can modify them to `ButtonElement`

[2015-01-04 16:02] Manishearth commented on #4534
Well, the form submission tests in `tests/html` let you test some of this manually. The rest of the test must be buried somewhere in wpt.

[2015-01-04 19:27] Manishearth opened #4543 "Silence warnings for openssl"
http://build.servo.org/builders/android/builds/491/steps/compile/logs/warnings%20%2811%29

Rather useless for us, since we don't modify that code.

I'm not sure how to silence them in a way that will stop buildbot from noticing them as warnings, but won't also end up hiding errors. Perhaps some sort of conditional redirection of stderr to stdout based on a grep.

[2015-01-04 19:36] #3625 closed

[2015-01-05 02:49] glennw opened #4545 "rust-harfbuzz and rust-png crash when linked to an application with libembedding + gtk3"
A workaround is to locally modify rust-harfbuzz and rust-png to link against the system library, but this seems hacky and error prone itself. We should work out a proper solution that will work with each linux distro.

[2015-01-05 06:15] catchmrbharath commented on #4497
This has been fixed in #4533. The issue can be closed

[2015-01-05 06:18] #4497 closed

[2015-01-05 14:21] shinglyu commented on #3219
Hmm, I made it compiled. But I don't know where I should write the tests. It involves the following step to test it:
1. Create a hostfile with entries like `localhost 127.0.0.1`.
2. Create a environment variable `HOST_FILE` to point to the hostfile.
3. Open http://localhost to see if it goes to http://127.0.0.1

I don't know in which part of the testing harness can I use to test this.  Thanks.

[2015-01-05 14:24] shinglyu commented on #3219
I tried manually test this, by replacing http://web1.localhost.test to http://www.google.com. However, I encounter the following error:
https://gist.github.com/shinglyu/3335a8db8dead142e651
Notice that the host seems to be replaced. But there is a `HttpIoError(Name or service not known)`. Can you help me identify the problem? Thanks.

[2015-01-05 14:47] shinglyu commented on #3219
Ignore my second question. I forgot to trim the tailing newline.

[2015-01-05 15:06] jdm commented on #3219
Here's one way to do the test - separate the code that reads the host file into a function that stores the result in a mutable global, and call that when Servo is initializing at app startup. In the test, call the method with the required test host, start a TCP server on the right port, and make an HTTP request to 127.0.0.1. When the server receives a connection, that is the success case for the t

[2015-01-05 15:21] shinglyu commented on #3219
Yes that makes sense, but does it fit into any existing test? Or should I write one myself and put it in the `tests` dir?

And what do you mean by "app startup"? I don't really know where is the entry point of the servo code. Do you suggest that I load the hostfile at startup, and replace the host by referencing the mutable global?

[2015-01-05 15:25] jdm commented on #3219
I think this should just be a function annotated #[test] in resource_task.rs; I don't believe we have any similarly complicated ones (the other loaders have some tests for their specific behaviour). Our other app initialization bits live in http://mxr.mozilla.org/servo/source/components/servo/lib.rs#69 . And yes, I think initializing the hostfile at startup would be better than doing it for every

[2015-01-05 15:40] shinglyu commented on #3219
OK. So let me clarify this. What I am gonna do is:
1. Split the hostfile code into [load and parse hostfile] + [replace the host if possible]
2. I'll create a #[test] to test the [replace the host if possible] part in `resouce_task.rs`
3. Move the [load and parse hostfile] part to `components/servo/lib.rs#69`
4. I test the [load and parse hostfile] part with a local TCP server (this part doesn't g

[2015-01-05 16:20] jdm commented on #3219
We should be able to have an automated test for step 4; we can write a function marked #[test] that calls the function to load the hostfile, starts the resource task, starts a local TCP server on port 4000, and makes a request for http://127.0.0.1:4000. If the server sees a connection, the test can finish by stopping the server.

[2015-01-05 18:47] catchmrbharath commented on #3734
@jdm What do you mean by "latter two have a variant for CommonScriptMessage" ?

If that is cleared up, I would like to have at go at this issue.

[2015-01-05 18:50] catchmrbharath commented on #3734
My idea was to have three enums `CommonScriptMsg`, `WorkerScriptMsg` and `MainThreadScriptMsg` as separate enums. Things that are dispatched to both dedicatedworkerglobalscope and `ScriptTask` should are present in the `CommonScriptMsg`.

[2015-01-05 18:54] jdm commented on #3734
@catchmrbharath I mean that we'll have something like `enum WorkerScriptMsg { A(whatever), Common(CommonScriptMsg) }`.

[2015-01-05 21:11] jdm commented on #3758
The ultimate goal is to follow the spec, so we do want DOMSettableTokenList eventually (see #1717). If you feel like tackling that, that would be great and I'm happy to provide guidance. All I had in mind for this issue in particular was making use of tokens(); I think using a DOMTokenList internally and serializing that to a string would be acceptable, but it probably isn't worth creating a make_

[2015-01-05 21:57] jimrhoskins commented on #3758
Ok, cool. I think I'll start with just doing an internal DOMTokenList and serialization, I think I can handle that. After that, I'll try to figure out if DOMSettableTokenList is something I can take on.

[2015-01-05 22:53] jamougha commented on #4476
I'm working on this.

[2015-01-05 23:30] jdm commented on #4476
Great!

[2015-01-06 01:27] shinglyu commented on #3219
I thought those are unit tests, should we do a file system access in an unit test?

[2015-01-06 01:36] mbrubeck opened #4556 "Write a macro or syntax extension to generate OpenType tags"
OpenType features have four-character "tags" like `liga` or `kern`.  In harfbuzz a tag is represented as four bytes packed into a `u32`, like in [this example](https://github.com/servo/servo/blob/cf616b90a236f88058dbad74b568b4d4379d2829/components/gfx/text/shaping/harfbuzz.rs#L53-L54).  This code would be more readable if we had a [macro or syntax extension](http://doc.rust-lang.org/guide-macros.h

[2015-01-06 01:51] jdm commented on #3219
No need for filesystem access. We can have a method that takes a string in the hostfile format and parses it, which can be used by the unit test, and the app initialization code can read a file and call the method with the contents.

[2015-01-06 01:54] shinglyu commented on #3219
Ah I see, thanks.

[2015-01-06 16:36] shinglyu commented on #3219
Hmm... I found this error, but I can't figure out why.
Code is here: https://github.com/shinglyu/servo/blob/bug3219/components/net/resource_task.rs#L233
And the error message:
[code]
Many thanks in advance.

[2015-01-06 17:27] jdm commented on #3219
It's probably because unwrap takes self by value. Try moving load_data.url into a let binding on the previous line.

[2015-01-06 17:28] jdm commented on #3219
Alternatively, maybe `host_table.get(load_data.url.domain().as_ref().unwrap())` would work.

[2015-01-06 19:23] mrobinson commented on #3733
My post investigation diagnosis is that this is an issue where the compositor is being a bit too cautious. Due to timing issues it is possible for the compositor to receive late-arriving messages from the PaintTask and LayoutTask after the Constellation has replaced the frame tree. This seems to happen during back navigation, probably due to quick transition between frame trees.

To fix this prope

[2015-01-06 20:40] l0kod opened #4559 "D-Bus interface for navigation control and more"
As the Servo GUI toolbar control is not there yet, it would be interesting to be able to control the browsing commands from a D-Bus client. This way, splitting GUI from user control, we will be able to easily extend the browser with external tools, shortcuts… I guess a control API is needed anyway for the Android and iOS version.

A more advanced interface would allow to simulate user inputs which

[2015-01-06 20:45] l0kod commented on #4559
cc #3778

[2015-01-06 20:46] metajack commented on #4559
Is there a specific advantage to D-Bus on Linux? I think we are planning to have some control protocol, but I think we've been thinking it would be based on simple serialization of normal Rust messages.

[2015-01-06 20:50] jdm commented on #4559
There's definitely interest in exposing the ability to remotely control Servo via the WebDriver protocol.

[2015-01-06 21:01] seanmonstar commented on #4514
The Rust community would benefit if this stayed in a library, and not a
module inside servo. Whether that's in the Servo org, hyperium, myself,
Alex, whatever.

[2015-01-06 21:08] l0kod commented on #4559
D-Bus is becoming the Linux IPC (especially with kdbus). It is great for interoperability across applications.

The Servo CLI does not need to be burdened with all browsing commands (e.g. open, open in a new window, open in a new tab, open in this browser specific window/profile, refresh this tab…) but can delegate to a D-Bus interface.

For testing purpose the WebDriver protocol is clearly a win

[2015-01-06 21:10] glennw opened #4560 "Fix instrumentation post rust upgrade as in https://github.com/servo/servo/pull/4554"

[2015-01-06 21:19] saneyuki commented on #4559
I seem that to implement the extended/browser-specified protocol set over the WebDriver protocol will solve.

[2015-01-06 21:26] l0kod commented on #4559
It would also probably be useful to be able to control your favorite music streaming website like a real media desktop application. A browser high-level control could add commands like play, pause, mute, next…
So it could means more integration for web applications with the desktop.

[2015-01-06 22:07] larsbergstrom opened #4561 "Implement / provide feedback on the Frame Timing API"
I noticed Blink’s intent to implement on the Frame Timing API:
https://github.com/w3c/frame-timing/wiki/Explainer
http://w3c.github.io/frame-timing/

This seems like the sort of thing we should think about early, especially with multiple render tasks, overlapping/concurrent rendering with compositing, possible multiple pipeline interactions, etc.

[2015-01-07 02:58] shinglyu commented on #3219
No luck. Both method still complains that `load_data.url` doesn't live long enough. Maybe I take `url: String` as input and return a `String`, and do the replacement in the `load()` function?

[2015-01-07 03:11] shinglyu commented on #3219
Doesn't work either :(, seems like `host_table.get()` doesn't work well with it.

[2015-01-07 03:44] mattnenterprise commented on #4164
@jdm @Michael03  I have done this for the ones listed above, and I had to change a part in the generated code to pass by value instead. I have a problem where other classes are generated using the part that I changed. It fails to compile because those constructors don't take the GlobalRef by value. Should I change them to also take it by value or what?
Heres the list I am having problems with comp

[2015-01-07 04:12] jdm commented on #4164
Yes, those should be changed too.

[2015-01-07 04:14] jdm commented on #3219
Actually, for the code you linked, could you do:
[code]

[2015-01-07 07:22] jdm opened #4562 "Node removed from node that is not a parent"
https://uwaterloo.ca/news/news causes:
[code]

[2015-01-07 07:25] jdm opened #4563 "LayoutTask unwraps None value"
https://www.chillingeffects.org/notices/10275257# yields `task 'LayoutTask' panicked at 'called `Option::unwrap()` on a `None` value', /Users/larsberg/rust/src/libcore/option.rs:356`

[2015-01-07 14:53] donaldpipowitch commented on #4352
Small update. I currently have 8 tests and need to write 4 more :)

[2015-01-07 16:06] jdm commented on #4352
Fantastic!

[2015-01-07 16:38] Ms2ger commented on #4562
Minimal:
[code]

[2015-01-07 17:29] Ms2ger commented on #4562
Also tested by <https://github.com/w3c/web-platform-tests/pull/1504>; blocks #2185.

[2015-01-07 18:08] nwin opened #4564 "Glyphs are aligned to pixels"
The glyphs of a text are aligned to the pixels of the screen. This leads to the funny effect that they move relative within the word while resizing the window and that they do not have a unitary spacing.

On the above screenshot the effect is best visible for the word “Bilder”. It looks like Bil der, Bi lder or B ilder.
![servo text](https://cloud.githubusercontent.com/assets/949560/5650610/38748d

[2015-01-08 01:43] larsbergstrom commented on #3899
We're publishing 32-bit Linux Rust binaries in our snapshots now.

[2015-01-08 01:43] #3899 closed

[2015-01-08 01:43] larsbergstrom commented on #3482
I believe that these are now causing failures (we've seen them break commits now).

[2015-01-08 01:43] #3482 closed

[2015-01-08 01:45] larsbergstrom commented on #2424
We do this now.

[2015-01-08 01:45] #2424 closed

[2015-01-08 01:45] larsbergstrom commented on #2123
Obsolete.

[2015-01-08 01:45] #2123 closed

[2015-01-08 01:49] larsbergstrom commented on #2676
Obsolete.

[2015-01-08 01:49] #2676 closed

[2015-01-08 01:58] larsbergstrom commented on #1468
@jgraham Do you think we should still do this? We might have some folks interested in doing some bors-hacking.

[2015-01-08 08:22] Ms2ger commented on #1468
IMO, bors shouldn't merge, but rather `rebase --autosquash` on master and add an empty commit on top with PR number and reviewer. (Bonus points if we can also make it list the critic review.) That would make our history a lot easier to navigate.

[2015-01-08 12:01] Swatinem commented on #4562
I might take this up as my first servo bug tomorrow if I may :-)

[2015-01-08 12:03] Ms2ger commented on #4562
Go for it!

[2015-01-08 15:36] Ms2ger opened #4571 "Stop using JS<T> in layout."
Create a `LayoutJS<T>` (or whatever) and use it where we now use `JS<T>` under `components/layout`. The `Layout*Helpers` traits should also be implemented on those instead.

[2015-01-08 15:37] Ms2ger opened #4572 "Remove the with_layout_node method."
It's unused and should be removed.

[2015-01-08 15:42] jdm commented on #4571
Additionally, we'll want a to_layout method on `JS<T>` which can be called by the methods in `Layout*Helpers` traits.

[2015-01-08 16:02] jdm opened #4573 "Replace boolean argument of TextInput::adjust_[horizontal|vertical] with enum"
Self-documenting enum names would be a better fit than true/false here.

code: components/script/textinput.rs

[2015-01-08 16:19] #3936 closed

[2015-01-08 16:40] mattnenterprise commented on #4573
I will take this one

[2015-01-08 16:53] jdm commented on #4573
Great!

[2015-01-08 17:03] Ms2ger opened #4576 "Implement the Fetch specification: infrastructure."
<https://fetch.spec.whatwg.org/>, excluding the `fetch()` API.

[2015-01-08 17:04] Ms2ger opened #4577 "Implement Content Security Policy."
Depends on #4576.

Estimated 2 months work assuming the right hooks.

[2015-01-08 17:21] kartaa commented on #4572
I can pick this up.

[2015-01-08 17:59] jdm commented on #2562
@zmike Is this still relevant?

[2015-01-08 20:45] #4164 closed

[2015-01-08 23:20] mattnenterprise commented on #4508
I will take this one

[2015-01-09 02:29] jdm commented on #4508
Great!

[2015-01-09 10:17] jgraham commented on #1468
Not sure about the empty commit thing (it could just edit the existing commit messages, for example), but I think what Ms2ger suggests seems quite sensible.

[2015-01-09 12:23] Ms2ger commented on #1468
Hmm, editing all commit messages seems even better.

[2015-01-09 12:27] Ms2ger opened #4587 "Stop using Equiv in SimpleHashCache."
It's deprecated in favour of `BorrowFrom`. I believe this blocks our move past 1.0.

[2015-01-09 12:29] Ms2ger commented on #4587
This implements part of the change:
[code]

[2015-01-09 12:47] Ms2ger opened #4589 "Implement indexed access on Window (window.frames)."
I believe this is implemented on WindowProxy in Gecko; @bzbarsky knows more.

[2015-01-09 12:48] Ms2ger commented on #4589
Blocks #2968, #2185.

[2015-01-09 12:54] #4573 closed

[2015-01-09 13:30] #4562 closed

[2015-01-09 13:56] bzbarsky commented on #4589
That's correct.  You can see the implementation in the various proxy handler methods on nsOuterWindowProxy in Gecko.

This is, in fact, the only sane way to implement it without major spidermonkey changes, since you want the thing that has these indexed props to be a proxy and SpiderMonkey doesn't support proxies as globals.

[2015-01-09 14:09] evilpie commented on #4589
I will try to implement parts of the WindowProxy based on the nsOuterWindowProxy in Gecko.

[2015-01-09 15:30] larsbergstrom opened #4591 "stb-image for Android requirest ndk-toolset binaries on the path"
In https://github.com/servo/servo/wiki/Building-for-Android, we have to put the NDK toolset binaries (especially gcc) onto the PATH in order for stb-image to pick them up. It would be nice if the build used the environment variables instead.

This can cause all sorts of problems, as the NDK toolset also has its own copy of `python` and if various build scripts accidentally find it, those scripts c

[2015-01-09 18:32] jdm opened #4593 "Interface members for global objects should reside on the object, not the interface prototype"
According to the second item in http://heycam.github.io/webidl/#Global, we're doing this wrong right now.

[2015-01-09 19:49] jdm opened #4595 "Lots of WPT canvas tests fail with 'assertion failed: data.len() as i32 == stride * size.height'"
[code]
[code]

[2015-01-09 19:51] jdm commented on #4595
For some reason the data being passed in has a length of 20,000.

[2015-01-09 21:24] #4505 closed

[2015-01-09 22:00] #3758 closed

[2015-01-09 23:09] #3733 closed

[2015-01-10 08:36] Ms2ger opened #4600 "Replace or remove rtinstrument."
It was disabled in 16c7060bc8ff91527ae97f8a3feee5706747b9c5; if we don't find a way to turn it back on, we should remove the code.

CC @glennw.

[2015-01-10 08:40] Ms2ger opened #4601 "Parse the sandbox attribute on iframe elements."
Right now, if you use `setAttribute("sandbox", "...")`, the `iframe` won't be sandboxed because we don't implement `parse_plain_attribute`.

[2015-01-10 11:01] TitiAlone opened #4602 "doc.servo.org - Unable to access core_foundation, core_graphics and core_text"
These functions seems to be undefined in the [doc.servo.org repo](https://github.com/servo/doc.servo.org).

See [here](http://doc.servo.org/core_foundation/index.html) (core_foundation).
Same result for [core_graphics](http://doc.servo.org/core_graphics/index.html) and [core_text](http://doc.servo.org/core_text/index.html).

[2015-01-10 11:31] SimonSapin commented on #4602
This is most likely because we’re generating the docs on Linux, and we are conditionally building these crates based on the platform. We should look into disabling these conditions for rustdoc.

[2015-01-10 12:21] #4543 closed

[2015-01-10 12:21] Manishearth commented on #4543
Fixed in #4570

[2015-01-10 12:22] Manishearth commented on #3981
Fixed in #4133

[2015-01-10 12:34] Ms2ger opened #4603 "Implement Element#closest."
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-element-closest>.
* Code: `components/script/dom/element.rs`.
* Test: `dom/nodes/Element-closest.html`.

[2015-01-10 12:36] Ms2ger commented on #1986
If you need to update `WebIDL.py`, please use the `update.sh` script next to it.

[2015-01-10 12:42] Ms2ger opened #4604 "getElementsByClassName should be case-insensitive in quirks mode."
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#concept-getelementsbyclassname>.
* Code: `components/script/dom/htmlcollection.rs`.
* Test: `dom/nodes/getElementsByClassName-14.htm`.

[2015-01-10 12:58] Ms2ger opened #4605 "Implement the stringifier on URLUtils (Location)."
Before #1986 lands, we might wish to use `DOMString toString();` instead.

Blocks #2185, #2968.

* Spec: <https://url.spec.whatwg.org/#urlutils>.
* Code: `components/script/dom/location.rs`.
* Test: `dom/nodes/Node-properties.html`, `html/browsers/history/the-location-interface/location-stringifier.html`.

[2015-01-10 16:11] jdm commented on #3981
So this can be closed?

[2015-01-10 16:22] jdm commented on #4560
#4600 is a better description, I think.

[2015-01-10 16:22] #4560 closed

[2015-01-10 16:41] Manishearth commented on #3981
Oops, forgot

[2015-01-10 16:41] #3981 closed

[2015-01-10 17:56] l0kod commented on #4559
Well, more generally, D-Bus interfaces could be used to control and get notifications from some Servo's components (browsing, extensions…).

Maybe the WebDriver protocol could be used/connected through a D-Bus service like an extension could as well? This would avoid the TCP/IP listening server and use a much proper/secure link layer (for a local service). I have no idea if a WebDriver using D-Bus

[2015-01-10 19:10] saneyuki commented on #4571
I'm working on.

This change just intends to prevent to call `Layout*Helpers` methods from non `layout` crate, doesn't it?

[2015-01-10 19:12] Ms2ger commented on #4571
That's definitely one of the advantages.

[2015-01-10 23:43] mattnenterprise commented on #4508
@jdm Could you give me some direction on how to implement this?

[2015-01-10 23:50] jdm commented on #4508
Take a look at existing callers of dispatch_event for examples of creating Event objects and dispatching them at elements: http://mxr.mozilla.org/servo/search?string=dispatch_event . See the existing users of the Runnable trait for how to `queue a task`: http://mxr.mozilla.org/servo/search?string=impl%20runnable . This change will need to be made in htmltextareaelement.rs.

[2015-01-11 05:34] seanmonstar commented on #3956
Can be closed.

[2015-01-11 06:20] #3956 closed

[2015-01-11 20:03] Ms2ger commented on #4604
Since someone noted on IRC yesterday that `./mach test-wpt tests/wpt/web-platform-tests/dom/nodes/getElementsByClassName-14.htm` passes: that's because we have annotations of which tests are expected to fail under `tests/wpt/meta`; the goal is to be able to drop the failure expectation.

[2015-01-11 22:35] jdm opened #4614 "Glyph advance calculation failure on imgur"
[code]

[2015-01-12 12:59] shinglyu commented on #3219
It says
[code]
So I tried
[code]
And I bumped into the `load_data.url` (line 232) not live long enough error again.

[2015-01-12 13:43] shinglyu commented on #3219
I tried to change the `HashMap` to `HashMap<String, String>`, and get something that look more promising:

[code]

[code]

[2015-01-12 14:16] brunoabinader commented on #4604
I'm investigating this. Issue lies on ```HTMLCollection::by_class_name``` not using ```quirks_mode``` information provided by ```Document```.

[2015-01-12 15:21] jdm commented on #3219
Yes, that does look more useful. Try `*h = ip.clone()` perhaps?

[2015-01-12 17:22] Ms2ger commented on #4589
What remains to be done is implementing `IndexedGetter` on Window; it always returns `None` now.

[2015-01-12 20:00] jimrhoskins commented on #4603
I can work on this

[2015-01-12 20:34] jdm commented on #4603
It's yours!

[2015-01-12 22:15] #4604 closed

[2015-01-13 07:22] donaldpipowitch opened #4622 "TextInput: `set_content` sets wrong `edit_point`"
In my ongoing pull request for unit test for `TextInput` it looks like the `edit_point` is wrong if `set_content` is used in some cases.

From https://github.com/servo/servo/pull/4569#issuecomment-69703795:

From https://github.com/donaldpipowitch/servo/blob/6ce72e60b70fa43f7006576a02465d64f7f8c997/components/script/textinput.rs#L492:
[code]

[2015-01-13 21:03] #4421 closed

[2015-01-14 05:36] kmcallister opened #4627 "Stick to Windows-friendly filenames"
e.g. The question mark in [`hello_a?foo#bar.html`](https://github.com/servo/servo/blob/master/tests/ref/hello_a%3Ffoo%23bar.html) is reported to cause problems.  We also had issues with `aux.rs` in the past.

We should figure out the exact rules, then enforce them in `tidy.py`.

[2015-01-14 12:45] alanorth opened #4628 "Build failure for Android target on GNU/Linux"
Building for Android on Fedora 21 with the following tool versions:
- Android SDK r24.0.2
- Android NDK r10d
- Git master (at 221275267e61870ca2bac904149c0b14c63c3ebe)

After building with `./mach build --android`, I get the error:

[code]

[2015-01-14 15:23] jdm commented on #4628
@alanorth Does support/android-rs-glue/apk-builder/target/apk-builder exist? How about all of the .o and .rlib files listed in the `note:` line?

[2015-01-14 15:23] jdm commented on #4628
@mbrubeck @larsbergstrom Is this something you've seen before?

[2015-01-14 15:27] jdm commented on #4627
Hmm. The question mark is useful because it allows for an automated test using a query string. Maybe we just need a test harness annotation instead.

[2015-01-14 15:34] roblatham00 opened #4631 "build error ubuntu 14.04.1"
Giving servo a try (pulled from github this morning), but run into this build error:

[code]

I seem to be the one linux user with a build error (other open issues are on OS X) so I must be doing something wrong.  Where can I find more detailed build logs or get a more verbose build output?

[2015-01-14 15:42] jdm commented on #4631
Huh, how is `CC=ccache gcc AR=ar` supposed to work?

[2015-01-14 15:44] jdm commented on #4631
Oh, your CC is `ccache gcc`, which messes up when it hits https://github.com/servo/libfreetype2/blob/master/makefile.cargo#L32 .

[2015-01-14 15:45] roblatham00 commented on #4631
Thanks for noticing that.  it's supposed to work by treating 'ccache gcc' as the compiler, but the white space catches more than a few build systems.

[2015-01-14 15:47] roblatham00 commented on #4631
should be
[code]

[2015-01-14 15:49] jdm commented on #4631
Good point. Can you make a pull request for that?

[2015-01-14 16:59] #4631 closed

[2015-01-14 17:09] mbrubeck commented on #4628
I haven't seen this.  Maybe @glennw would know.

What versions of the Android SDK and NDK are you using?

[2015-01-14 17:15] larsbergstrom commented on #4628
@alanorth Did you set the ANDROID_ environment variables and augment the PATH exactly as described in the wiki at: https://github.com/servo/servo/wiki/Building-for-Android ?

Our Android (and Gonk) builds are unfortunately extremely "touchy" and sensitive to which variables are / are not set and often fail in somewhat mysterious ways if they are not set perfectly.

[2015-01-14 18:44] alanorth commented on #4628
@jdm Yes, `support/android-rs-glue/apk-builder/target/apk-builder` exists in my Servo build.  Though I'm not sure where the `note:` line is (I'm new to Rust / Servo).

@mbrubeck Android SDK is r24.0.2 and NDK is r10d, the latest as of 2015-01-14.

@larsbergstrom Yes, I setup my build environment exactly as the Building for Android instructions said, and exported all `ANDROID_` variables before bui

[2015-01-14 19:08] jdm opened #4633 "Port Gecko's AutoJSAPI and remove default JS error reporter"
We need to move to a model where the JS engine is never in charge of deciding whether to report a pending exception or not. Instead, we need to have a stack-allocated type (AutoJSAPI) which understands when exceptions should be rethrown or reported, and explicitly invokes the correct error reporter with the stolen pending exception in the latter case.

[2015-01-14 19:10] jdm commented on #4633
Relevant Gecko types are [AutoJSAPI](https://dxr.mozilla.org/mozilla-central/source/dom/base/ScriptSettings.h?from=autojsapi#212), [ErrorReport](https://dxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h#1345), and [xpc::ErrorReport](https://dxr.mozilla.org/mozilla-central/source/js/xpconnect/src/xpcpublic.h#486).

[2015-01-14 19:12] jdm commented on #4628
@alanorth It's right under the
[code]

[2015-01-14 19:54] mbrubeck commented on #4628
For reference, I'm still on NDK r9d.  I'll try with the newer NDK later and see if I have any problems.

[2015-01-15 17:10] jdm opened #4640 "/.mach build --verbose is broken"
[code]

I don't really understand what's happening here, but the verbose argument is being passed on to the underlying command for some reason.

[2015-01-15 17:10] jdm commented on #4640
http://mxr.mozilla.org/servo/source/python/servo/build_commands.py#18

[2015-01-15 17:20] jdm commented on #4640
This seems to be a problem local to my setup.

[2015-01-15 17:20] #4640 closed

[2015-01-16 01:39] #4556 closed

[2015-01-16 02:26] gilles-leblanc commented on #3740
I'd like to have a look at this.
I might have some questions along the way though.

[2015-01-16 15:51] #4352 closed

[2015-01-16 20:03] jdm opened #4644 "Yell loudly when Cargo.toml dependencies don't match the list of extern crates"
Cargo's great as long as your declared dependencies in Cargo.toml actually reflect reality. There should be some way of preventing us from doing this wrong. Maybe it belongs in Cargo, maybe it belongs in tidy.py?

[2015-01-16 20:10] Manishearth commented on #4644
I'm tempted to hook tidy up with `espeak`/`say` here :stuck_out_tongue:

Another option is to pluginify it -- use the same toml parser Cargo uses to parse the `Cargo.toml` and then just inspect the view item (this would be something that Cargo itself could optionally include via `-Z extra-plugin`).

Though this should probably be easier to do with `tidy` since python has everything.

[2015-01-16 20:31] jdm commented on #3319
With regards to existing non-XML5 parsers, the ones for consideration are [xml-rs](https://github.com/netvl/xml-rs), [RustyXML](https://github.com/Florob/RustyXML), and [Rust bindings to libxml2](https://github.com/uzytkownik/xml-rs) (which are quite out of date).

[2015-01-16 21:24] jdm opened #4645 "Reddit subscribe button becomes separate [sub][scribe] buttons"
As seen in [this screenshot](https://i.imgur.com/ybgUQIr.png).

[2015-01-16 21:24] #4504 closed

[2015-01-16 22:01] renato-zannon commented on #4645
FYI, this was taken on Linux x86_64, on servo commit e7d79842a85dfa8eaee8c2f441977edbf061bbed

[2015-01-17 13:44] shinglyu commented on #3219
Yeah, finally get it compiled. But I can't figure out how to expose global mut from `main` to `resource_tasks.rs`. I am thinking about adding a `static mut host_table = HashMap::new()` to the `components/servo/main.rs` file and use it in `resource_task.rs` by `extern crate servo`, but the comiler complains it can't find `servo` crate. Am I missing anything here?

[2015-01-17 16:56] jdm commented on #3219
Yes, the `servo` crate depends on the `net` crate, so that won't work. I would just add a public api like `global_init()` to the `net` crate, then use `net::global_init()` from `main`.

[2015-01-18 01:13] benwaffle opened #4651 "tabs in <pre> not shown"
something like this (but with a `\t`)
[code]

[2015-01-18 01:59] gilles-leblanc commented on #3740
- [ ] Set DispatchEvent trusted to false
- [ ] Check internal code that creates events to make sure they are trusted by default
- [ ] Create helper method for EventTarget
- [ ] Events created by script should be untrusted by default
- [ ] Check initialization by internal code to make sure doesn't call methods that forces trustedness to false

[2015-01-18 13:44] maxwell5 opened #4652 "libhubbub complexity issue"
https://github.com/servo/libhubbub/blob/master/src/tokeniser/tokeniser.c The HTML parser there contains a tokeniser which is a pretty horrific 3kline+ piece of code, much of it duplicated, considering it came from one of the more "lightweight" browsers - NetSurf.
On the other hand, Dillo's HTML parser (entire parser, tokeniser is integrated, around 4.1klines) is quite a bit nicer, although I don't

[2015-01-18 13:51] maxwell5 commented on #4652
Other issues with https://github.com/servo/libhubbub/blob/master/src/tokeniser/tokeniser.c

- Using switch statement and explicit case numbers to implement the tokeniser FSM instead of simple gotos and implicit position-based FSM. This means it has to go through that switch every time through the main loop, even if the next state is the same, instead of just jumping to the right place.

- Making *

[2015-01-18 13:58] jdm commented on #4652
We haven't used libhubbub for a number of months; we use https://github.com/servo/html5ever/ now instead.

[2015-01-18 13:59] jdm commented on #4652
Given that all of the complexity issues described here reside in libhubbub, I'll go ahead and close this.

[2015-01-18 13:59] #4652 closed

[2015-01-18 14:03] maxwell5 commented on #4652
Nice to know libhubbub isn't used any more.
But why not clean up the repo then?
No need to have unused stuff around, don't you agree?

[2015-01-18 14:05] jdm commented on #4651
This is likely the `TODO: set "has tab" flag` in `transform_text` in `gfx/text/util.rs`.

[2015-01-18 15:46] shinglyu commented on #3219
I get it compiled. But when I run with HOST_FILE env variable set, servo crashed with return value -4. I guess this line breaks it:
https://github.com/shinglyu/servo/blob/bug3219/components/net/resource_task.rs#L277

Something must have went wrong when I set the global in the `global_init()` at line 38. But I can't figure out how to debug it with gdb. I checked the Debugging page in the wiki but t

[2015-01-18 15:48] #4603 closed

[2015-01-18 16:12] Ms2ger commented on #4652
"Being simple" is not, and never was, a goal. Servo needs to implement the Web Platform, which is a huge and complex beast, so that puts a pretty strong lower bound on the complexity.

As for the hubbub repository still being around: it is (now) explicitly marked as unmaintained, but it is imperative that the full history of Servo remains available, including dependencies such as hubbub.

[2015-01-18 16:32] jdm commented on #3219
You can use `./mach run --debug file.html`, I believe, or `gdb --args components/servo/target/servo page.html`.

[2015-01-18 16:34] jdm commented on #3219
Instead of storing a pointer to a HashMap, why not store the HashMap directly?

[2015-01-18 16:35] jdm commented on #3219
Rather, I mean Option<HashMap>, which will allow you to initialize it with None.

[2015-01-18 17:09] #4622 closed

[2015-01-18 18:37] maxwell5 commented on #4652
Although I don't know Rust that much, it looks much better at first glance. There's still some duplication especially in the attribute quote handling, leaving in "parse error" cases is useless for something intended for a browser, character references are being done inline, and it's a pretty dumb literal translation of the standard, but this is definitely better than the mess of Hubbub.
However, I

[2015-01-18 18:53] Ms2ger commented on #4652
Exactly, the commits, and thus the repository, need to stay around.

[2015-01-18 19:07] maxwell5 commented on #4652
All right, but why not put bindings on a different repository, at least?

[2015-01-18 19:13] maxwell5 opened #4653 "Give the user control"
How about a browser that, for once, empowers their users?
Per-site/per-domain/per-path settings for security and privacy; a UI that doesn't treat users like idiots by hiding everything; total control over JS execution environment and rendered page contents; choose what plugins you want to run on which pages, and what they can do.

[2015-01-19 02:30] jdm commented on #4652
It's easier to set consistent commit access rules when all needed repositories are under the same organization.

[2015-01-19 02:35] jdm commented on #4653
Could you take topics like this to the [mailing list](https://www.mozilla.org/en-US/about/forums/#dev-servo), or file individual issues about particular implementation ideas? It will be easier to respond to your suggestions in those venues.

[2015-01-19 02:35] #4653 closed

[2015-01-19 03:15] blucoat opened #4658 "Border renders incorrectly on `<code>` tag with escape characters"
Code I used to test:
[code]

This is the output:
![2015-01-18-214947_1440x900_scrot](https://cloud.githubusercontent.com/assets/5714640/5795407/763b334c-9f5d-11e4-9dac-6c4212621f12.png)

The same problem happens with other escape codes, and if you replace `<code>` with an invalid tag, like `<dummy>`.

[2015-01-19 03:47] jdm opened #4659 "Intermittent crash in test_img_width_height.html"
[code]

[2015-01-19 10:22] hsivonen commented on #3319
Using Rust bindings for a parser implemented in a memory-unsafe language, e.g. libxml2, seems contrary to the safety goals related to using Rust in the first place.

[2015-01-19 13:17] shinglyu commented on #3219
I did tried to use a HashMap directly, but there was an error saying "mutable statics are not allowed to have destructors".

Using `Option<HashMap>` gives the same error:

[code]

Or maybe I save the file content as string in the global, and parse it everytime I needs it. I guess the overhead is marginal for a typical hostfile.

[2015-01-19 13:35] larsbergstrom opened #4663 "When mach updates cargo or rust, it should also clean the tree"
If either Cargo or Rust are updated, either due to a `bootstrap-*` command or because the hash or nightly date have changed, mach should also clean the tree.

Cargo does not understand when its own or the compiler version has changed between execution runs, and has a large number of issues with left-over build outputs from mixed toolchain versions.

[2015-01-19 13:59] jdm commented on #3219
@shinglyu Darn. Here's my next suggestion, then - `Option<*mut HashTable<String, String>>`, and have `global_init` make a `Box<HashTable<String, String>>` and transmute it to `*mut HashTable<String, String>`. That should fix the lifetime problems you saw, since the Box will ensure that the value never disappears.

[2015-01-19 15:09] shinglyu commented on #4236
Hi @Manishearth , I read the spec and tried to find the relevant code. I wonder where is the code that handles `<a/>` click in the current implementation?

Also, can you explain what "You'll also need to add to the vtable in ActivationElementHelpers::as_maybe_activatable" means? Do you mean I need to add `HtmlLinkElement` to the `match` in https://github.com/servo/servo/blob/master/components/scri

[2015-01-19 15:14] jdm commented on #4236
http://mxr.mozilla.org/servo/source/components/script/dom/htmlanchorelement.rs#59 is the current implementation. And the answer to the second question is that you need to add `HTMLAnchorElement` to the `match` in https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1437

[2015-01-19 15:52] Manishearth commented on #4236
Currently `a` clicks are under `handle_event` as Josh linked to; this is wrong -- most of this (everything from the spec link in my comment above) should be in an Activatable impl.

[2015-01-19 16:25] Ms2ger opened #4665 "Throw as necessary when setting XHR.withCredentials."
Blocks #2525.

* Spec: <https://xhr.spec.whatwg.org/#dom-xmlhttprequest-withcredentials>.
* Code: `components/script/dom/xmlhttprequest.rs`.
* Test: `XMLHttpRequest/XMLHttpRequest-withCredentials.html`, `XMLHttpRequest/XMLHttpRequest-withCredentials.worker`.

[2015-01-19 16:26] Manishearth commented on #4665
Note: We don't support fetch credentials yet (though I will be putting them in as I write fetch)

[2015-01-19 16:34] Ms2ger opened #4666 "Implement window.crypto.getRandomValues."
Spec: <https://dvcs.w3.org/hg/webcrypto-api/raw-file/tip/spec/Overview.html#dfn-Crypto-method-getRandomValues>.

This will involve:
* creating a new DOM interface `Crypto` as explained at <https://github.com/servo/servo/wiki/Adding-a-new-WebIDL-binding>;
* implementing a getter on `Window` to create and cache a `Crypto` object (see `navigator` or `location` for examples);
* implementing the `getRa

[2015-01-19 21:26] glennw opened #4673 "Move PropertyBitField into a syntax extension (take 2)"
If we split what was in PR #3142 into two separate crates (one for target code, one for syntax extensions) it should work OK on android now.

[2015-01-19 22:24] #4429 closed

[2015-01-20 00:55] jdm commented on #4503
I'm seeing this on OS X on github's home page now.

[2015-01-20 08:46] SimonSapin commented on #4663
I *believe* Cargo is supposed to do this already. Shouldn’t we file Cargo bugs rather than patch on top of it?

[2015-01-20 14:15] SimonSapin opened #4683 "GPU mode reftests fail on Linux"
When both `-g` and `-r mesa` are passed to `servo` on Linux (as in reftests), Skia segfaults. I believe this started since the switch to Glutin (#4672).

[code]

CC @glennw

[2015-01-20 14:22] maxwell5 opened #4685 "Disable HTTP referer by default"
The HTTP referer hurts people's privacy and serve no purpose but to give companies, governments and website owners in general information about the person visiting the page.
If servo is to respect its users and their privacy, actually being the browser of the future, I think the HTTP referer should be disabled by default.

[2015-01-20 14:34] jdm commented on #4685
Let's leave this on the mailing list for now; this is the sort of suggestion that deserves more eyes.

[2015-01-20 14:34] #4685 closed

[2015-01-20 15:00] shinglyu commented on #3219
Oh cool! Thank you for all the suggestions, there are so many tips and tricks!

[2015-01-20 16:20] mseri commented on #4359
I can confirm that `brew uninstall apple-gcc42` allows compilation to go through.

[2015-01-20 20:07] Ms2ger opened #4690 "Panic with window.close() while loading"
[code]

yields

[code]

[2015-01-20 20:56] jdm commented on #4690
This looks what @saneyuki described in #4540.

[2015-01-20 20:56] jdm commented on #4690
Specifically, in [this comment](https://github.com/servo/servo/pull/4540#issuecomment-68640752).

[2015-01-20 21:07] jdm opened #4692 "Make ScriptMemoryFailsafe use as_unsafe_cell"
The ScriptMemoryFailsafe is supposed to be able to reclaim all JS-related memory in the event that a script task panics. This usually doesn't work, since it tries to borrow RefCell values that are often already borrowed when panics occur, so we end up aborting Servo. We can avoid this by calling `as_unsafe_cell` instead of `borrow_mut` in ScriptMemoryFailsafe's destructor; this is safe since we kn

[2015-01-21 00:48] glennw opened #4700 "android build fails to run due to missing symbol X509_gmtime_adj"

[2015-01-21 01:06] chotchki commented on #4659
Works fine for me on OSX

test /Users/chotchki/servo-mine/tests/content/test_node_insertBefore.html ... ok
test /Users/chotchki/servo-mine/tests/content/test_node_cloneNode.html ... ok
test /Users/chotchki/servo-mine/tests/content/test_img_width_height.html ... ok
test /Users/chotchki/servo-mine/tests/content/test_node_replaceChild.html ... ok
test /Users/chotchki/servo-mine/tests/content/test_nod

[2015-01-21 01:14] chotchki opened #4701 "Test failures against Master"
The following tests failed when building against revision: 94ebc7c32d5ce58ada3f9d8ffdb60cc025eb5997 on Mac OSX

[code]

[2015-01-21 01:16] jdm commented on #4701
With each of these, you can run Servo against the two html files and compare the output visually.

[2015-01-21 02:06] gilles-leblanc commented on #3740
Right now Event::new_inherited sets trusted to false. Event::Constructor calls Event::new and Event::new calls InitEvent. InitEvent sets trusted to false as per the spec (https://dom.spec.whatwg.org/#concept-event-initialize).

So it seems that trusted will always be false so this point would already be done and I would only to set it for this case:

As for:

I do not understand the need for this

[2015-01-21 04:23] jdm commented on #3740
Step 2 of https://dom.spec.whatwg.org/#dom-eventtarget-dispatchevent is what caused me to suggest a helper method.

[2015-01-21 04:24] jdm commented on #3740
The reason it's important is that the web content code could take an event with isTrusted=true and re-dispatch it using dispatchEvent. In that case the event needs to no longer be trusted, since the user agent is no longer the one dispatching it.

[2015-01-21 04:27] jdm commented on #3740
Bear in mind that I filed this issue before we had any trusted/untrusted distinction for events. We have since gained methods like set_trusted, but we need to make sure we adhere to the spec. We don't necessarily need to follow every step I laid out in the original comment.

[2015-01-21 13:54] jdm opened #4704 "Notify devtools about new worker globals"
This would be marked as easy, except I have no idea how to identify workers in the devtools task. I need to check out how this is done in Firefox for inspiration.

[2015-01-21 13:55] jdm commented on #4704
To clarify, non-worker globals are identified by their PipelineId. There's no such mechanism for workers at the moment.

[2015-01-21 13:56] jdm commented on #4704
Maybe we can have a WorkerId and pass around `(PipelineId, Option<WorkerId>)` in the places where it matters.

[2015-01-22 00:47] gilles-leblanc commented on #3740
Thanks for the clarifications.

[2015-01-22 11:12] dancek commented on #4701
Interestingly, I have a different set of failures on the same commit (94ebc7c). This is on OS X 10.10 (14A389), MacbookPro11,3. I ran with `./mach test-ref --cpu`.

[code]

[2015-01-22 14:54] tshepang commented on #2853
Wouldn't https://github.com/rust-lang/cargo/issues/1171 be worked-around by getting packages from crates.io instead of from git?

[2015-01-22 15:36] SimonSapin commented on #2853
@tshepang crates.io has a size limit on packages, 10 MB I believe. A Skia checkout (not counting the git repository) is ~45 MB.

[2015-01-22 15:36] #4600 closed

[2015-01-22 17:34] tshepang commented on #2853
Wow, that package is very very not-small. Thanks for the info.

[2015-01-24 15:01] jdm opened #4712 "Consider returning *const T from JS::unsafe_get()"
I can't think of a reason that layout would require mutable access to these types, but maybe I'm forgetting something.

[2015-01-24 16:21] #4712 closed

[2015-01-25 05:57] dmarcos commented on #4432
I'm just looking for an easy bug for my first servo patch and I've seen a few issues still opened with a merged PR. @jdm Should we close this one?

[2015-01-25 06:22] dmarcos commented on #4692
@jdm Just trying to find an easy bug for my first servo fix. Not sure I understand this one. Should we call as_unsafe_cell instead of borrow_mut in the line below?
https://github.com/servo/servo/blob/master/components/script/script_task.rs#L249
How can I reproduce the original crash to verify that my patch fixes the issue?
Thanks! Looking forward to submitting my first PR!

[2015-01-25 17:09] kmcallister opened #4715 "sfgate.com main content pane doesn't render"

[2015-01-25 17:11] kmcallister commented on #3885
Still broken as of ff8cbff81016c157373c1675f3eee69dd70ae544

[2015-01-25 23:29] jdm commented on #4692
Replacing both of the borrow_mut calls in that function is the intent here. As for reproducing the crash, I suggest adding a `panic!()` to the implementation of Console::Log and running an HTML page that contains a `console.log` calls; try running this in a build without your changes and take a look at the output - I'm pretty sure the output of a build with your changes should show different outpu

[2015-01-25 23:29] jdm commented on #4432
Yep, thanks!

[2015-01-25 23:29] #4432 closed

[2015-01-25 23:30] #4572 closed

[2015-01-25 23:30] #4484 closed

[2015-01-25 23:30] jdm commented on #4476
Any news, @jamougha?

[2015-01-25 23:30] jdm commented on #4468
Any news, @liamzdenek?

[2015-01-25 23:31] jdm commented on #4431
Any news, @iterion?

[2015-01-25 23:32] jdm commented on #4260
@liamzdenek it looks like you had a fix for this but never made a PR :( Want to do that? :)

[2015-01-25 23:33] #4235 closed

[2015-01-25 23:33] #4008 closed

[2015-01-25 23:34] #3735 closed

[2015-01-25 23:36] liamzdenek commented on #4260
Sorry about that, must have gotten distracted and forgot. The PR is here: https://github.com/servo/servo/pull/4718

[2015-01-25 23:39] jdm commented on #4508
@mattnenterprise Any problems you've encountered?

[2015-01-26 16:34] iterion commented on #4431
So sorry, I got started on this then was swamped with work. Please unassign me - hopefully somebody can finish it faster than I can.

I ran into difficulties getting the cssText to show the original properties, i.e. if border was specified `cssText` would output border-left, border-right, border-top, and border-bottom.

[2015-01-26 19:10] roblatham00 opened #4720 "build error ubuntu 14.04.1: missing pngshim"
Running into this problem building recent pull of servo/master on Ubuntu 14.04.1:

[code]

As no one anywhere has ever seen this problem, I wonder what is goofy about my local setup...

[2015-01-26 23:38] dmarcos commented on #4692
@jdm Thanks for your help. Still learning the ropes. This is my PR that just adds a panic! for console.log

https://github.com/servo/servo/pull/4721

I created a simple page that makes a console.log call:

https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/template/index.html

I compile servo and run it:

./mach run https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/template/inde

[2015-01-27 00:35] jdm commented on #4692
Yes, you are, and it appears I was mistaken, assuming that was the output of a build without the changes to `ScriptMemoryFailsafe::drop`.

[2015-01-27 00:41] jdm commented on #4692
That being said, I think this is still a valuable change to make even if I'm having trouble coming up with reproducible ways of demonstrating its effectiveness.

[2015-01-27 01:14] glennw commented on #3292
No longer occurring.

[2015-01-27 01:14] #3292 closed

[2015-01-27 01:17] glennw commented on #3348
Fixed via https://github.com/servo/servo/pull/4676

[2015-01-27 01:17] #3348 closed

[2015-01-27 01:18] glennw commented on #3085
No longer occurring.

[2015-01-27 01:18] #3085 closed

[2015-01-27 01:35] jdm commented on #4720
Curious; that file is supposed to be produced by https://github.com/servo/rust-png/blob/master/build.rs as part of building rust-png...

[2015-01-27 01:49] glennw commented on #1675
Unable to reproduce, so closing for now.

[2015-01-27 01:49] #1675 closed

[2015-01-27 01:49] dmarcos commented on #4692
@jdm More noob questions. In this case:

https://github.com/servo/servo/blob/master/components/script/script_task.rs#L249

Do I have to implement a new method that calls as_unsafe_cell like this one? Can I just call one of the existing ones?

https://github.com/servo/servo/blob/master/components/script/dom/bindings/cell.rs#L32

[2015-01-27 01:59] jdm commented on #4692
Oh right, we have our wrapper type. You'll want to add a new method to it that calls through to as_unsafe_cell, like you proposed.

[2015-01-27 04:59] dmarcos commented on #4692
@jdm. Thanks for your help. This is where I'm at:

https://github.com/dmarcos/servo/tree/issue4692

I added a method borrow_for_script_deallocation to DOMRefCell. I'm sure you have a better name for it. I'm not sure what to do with the assert.

[2015-01-27 05:05] dmarcos commented on #4605
@jdm Do we have to close this one too?

[2015-01-27 08:53] mskrzypkows commented on #4690
Checked that this crash occurs only if "window.close()" is called after startup. If we close window by clicking on button with "onclick="window.close()", window closes properly.

Stack trace from gdb:
#0  0x0000555556dd2a53 in unwind::begin_unwind_inner::hbb866c9343c337b3CJc ()
#1  0x0000555555d9935d in unwind::begin_unwind::h8978254201450840882 ()
#2  0x000055555632f46f in script::dom::bindings::

[2015-01-27 12:03] Ms2ger opened #4723 "Make make_enumerated_getter prettier again"
We uglified it in #4719. It seems like there should be a better solution.

[2015-01-27 12:05] Ms2ger opened #4724 "Make FooCast methods not require so many type annotations."
Something in #4719 made us require even more type annotations than before. This seems like it should be solvable.

[2015-01-27 12:07] Ms2ger opened #4725 "Remove our copy of Utf16Encoder."
In `ports/cef/wrapper.rs`.

[2015-01-27 12:41] jdm commented on #4690
@dmarcos Oooh, we found a way to reproduce the failure :D

[2015-01-27 12:42] jdm commented on #4690
The double-borrow should be avoided by #4692.

[2015-01-27 12:43] jdm commented on #4605
No, since @chmanchester never made a PR for that.

[2015-01-27 12:46] jdm commented on #4692
I think you can just assert SCRIPT; we don't have any guanratees about the state of the GC when we try to reclaim memory.

[2015-01-27 12:56] jdm commented on #4724
It has to do with returning Self; the rules related to that got stricter. I think if we transition to using associated types instead we can make it much better.

[2015-01-27 12:57] jdm commented on #4723
It's easy to make it ("foo" | "bar" | "baz"), which removes one level of ugliness.

[2015-01-27 13:01] jdm opened #4727 "Remove Send impl for GlutinCompositorProxy"
It's a workaround for the lack of https://github.com/tomaka/glutin/issues/235.

[2015-01-27 13:11] shinglyu commented on #4236
Is there any relevant automation test for this? Or do I have to manually click through the links to test it? Thanks.

[2015-01-27 13:25] jdm commented on #4236
I think if you make a test like http://mxr.mozilla.org/servo/source/tests/content/test_click_prevent.html?force=1 and test that the `click` handler is called, that might work.

[2015-01-27 15:35] Manishearth commented on #4236
Activation is a bit harder to test for nested elements since `click()` (synthetic activation) is not exactly the same as actually clicking. I suggest mostly relying on manual tests though if you find something that works that's automated, that would be great!

[2015-01-27 15:54] roblatham00 commented on #4720
Curious indeed.  After several rounds of pulling updates and cleaning trying to get a nice tidy build report for you... the problem has gone away and I now have a servo binary.   Well, guess I'll close this since I am no longer able to provide useful information.

[2015-01-27 15:54] #4720 closed

[2015-01-27 16:36] metajack commented on #4663
@SimonSapin is correct I think. I suspect we will need more info in order to figure out what's happening and ask @alexcrichton about it.

[2015-01-27 17:20] Ms2ger opened #4728 "Compile-time lowercasing for dom/macros.rs."
It would be better if we didn't have to do runtime lowercasing.

[2015-01-27 17:24] Manishearth commented on #4728
https://github.com/rust-lang/rust/pull/16636 has some code that could be used here.

[2015-01-27 19:53] dmarcos commented on #4690
@jdm I added a window.close() to my test page:

https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/template/index.html

I'm definitely seeing "DOMRefCell<T> already mutably borrowed...". Below the log I'm getting after running ./mach run https://dl.dropboxusercontent.com/u/4710867/v3brainstorming/template/index.html:

http://pastebin.mozilla.org/8384167

They don't seem to come from the d

[2015-01-27 21:34] glennw opened #4730 "Clean up android build after rustup."
Clean up (or remove) our own forks of time, gcc-rs, android-rs-glue.

[2015-01-27 21:52] mbrubeck commented on #4730
Our android-rs-glue fork currently has just one local fix, servo/android-rs-glue@70c2242c45216a731d5ccd5d028ebbd206e2c9a3 to work around rust-lang/rust#20701.

[2015-01-27 22:16] Adenilson opened #4731 "Implement DumpRenderTree-like in servo"
WebKit/Blink both allow developers to dump the page RenderTree formatted as text using a console. Generally, while debugging rendering/layout bugs, this the first step to be done (i.e. inspect the elements in the render tree).

Speaking with pcwalton, DisplayList should have some code to dump its contents and it should be a matter of having a new CLI option passed to servo to print the tree to con

[2015-01-27 22:19] metajack commented on #4731
Just to be clear, you want a display list dumper, not a flow tree dumper? The latter we already have, but that is what corresponds to Gecko's frame tree and WebKit's render tree as I recall.

[2015-01-27 22:20] Adenilson commented on #4731
@pcwalton: besides DisplayList::all_display_items() any other noteworthy method?

[2015-01-27 22:20] Adenilson commented on #4731
@metajack: yep!

[2015-01-27 22:31] kevincannon opened #4732 "Can't build servo - "Failed to run custom build command for `harfbuzz""
This is the issue i'm getting. I've searched around, but not found anything.

Anyone got any ideas. Running latest version of OSX Yosemite. 10.10.1

[code]

[2015-01-27 22:32] Adenilson opened #4733 "Incorrectly positioned text in a transparent div"
Basically, if I set the CSS opacity property in a div (that has a span inside and an anonymous text), it will fail to render the text in the correct position after the span content.

[2015-01-27 22:32] Adenilson commented on #4733
Test case: https://gist.github.com/Adenilson/2f7d9e4c26fdde930449

[2015-01-27 22:55] jdm commented on #4690
I disagree; look at the second failure in those logs - it contains a frame with `script_task::ScriptMemoryFailsafe<'a>.Drop::drop::h3802fa624db994f6mUA`.

[2015-01-27 22:57] jdm commented on #4690
Nevermind, see #4692.

[2015-01-27 22:59] jdm commented on #4692
Continuing from #4690, I just realized that the call to `mut_js_info` is going to bite us too :( We can either replace that with an equivalent method that calls through to `as_unsafe_cell` as well, or just wait for the fix in the Rust standard library that will allow borrowing already-borrowed RefCell values during unwinding.

[2015-01-27 23:07] mbrubeck commented on #4732
Is this an actual filename on your system, or is the Servo code maybe inside a folder with a space in its name, which one of our makefiles is not escaping correctly?

[2015-01-27 23:25] dmarcos commented on #4692
@jdm I let you make the call. It doesn't really matter to me. I just want to land my first patch on servo :). Do I keep working on this or I look for a new easy bug? I'm open to suggestions if you know of another easy one that might be interesting.

[2015-01-27 23:44] jdm opened #4734 "XMLHttpRequest/send-accept.htm doesn't like the presence of a quality value in the header"
[code]
Hyper recently started requiring quality values; maybe we should just not print it out if it's 1? I need to read up on what these actually mean.

[2015-01-27 23:48] jdm commented on #4734
cc @seanmonstar

[2015-01-27 23:55] seanmonstar commented on #4734
:panda_face:

[2015-01-28 00:05] jdm commented on #4692
I would really like to have Servo stop aborting whenever there's a panic in the script task. Let's add another method to Page that doesn't the same as `mut_js_info` but uses `as_unsafe_cell` instead.

[2015-01-28 00:16] seanmonstar commented on #4734
@jdm for your reading enjoyment: https://tools.ietf.org/html/rfc7231#section-5.3.1

Perhaps we should take that to mean print nothing in hyper...

[2015-01-28 00:59] dmarcos commented on #4692
@jdm Okay. Just to check I understood. Do I keep mut_js_info and add another method that calls as_unsafe_cell right? What would be a good name for the method?

[2015-01-28 01:18] jdm commented on #4692
Let's just call it unsafe_mut_js_info for now.

[2015-01-28 01:27] glennw commented on #3595
I believe this is resolved, now that the linux2 builder is using the glutin headless mode, so doesn't load X. If we see these errors again, let me know and I'll investigate further.

[2015-01-28 02:00] #3595 closed

[2015-01-28 05:49] glennw opened #4738 "Fix wait_events workaround from servo/servo#4737"

[2015-01-28 09:49] Ms2ger opened #4742 "mach doc is broken."
Looks like the docs no longer end up in `~/.servo/rust/`. CC @larsbergstrom

[2015-01-28 10:05] Ms2ger opened #4744 "Audit send()/recv() calls."
We lost a lot of error handling in #4719. We should restore it.

[2015-01-28 10:07] Ms2ger opened #4745 "Audit int/uint usage."
Needs to be done manually; most should probably become sized integers.

[2015-01-28 10:08] Ms2ger opened #4746 "Remove dependency on old_orphan_check."
It will be removed.

[2015-01-28 10:10] Ms2ger opened #4747 "Move to rustc-serialize's base64 APIs."
The ones in `serialize` have been removed.

[2015-01-28 10:12] Ms2ger opened #4748 "Remove the support/time submodule."
This may now be possible. CC @glennw, @mbrubeck.

[2015-01-28 10:14] Ms2ger opened #4749 "Review get_jemalloc_stat memory management."
It's not clear to me if `je_mallctl` takes ownership of the string. If it doesn't, we leak.

[2015-01-28 10:18] mskrzypkows commented on #3277
How about: https://github.com/servo/servo/blob/master/python/servo/build_commands.py#L91
Do NUM_JOBS has to be used here?

[2015-01-28 13:15] jdm commented on #3277
Yes, that seems like a useful change to make.

[2015-01-28 13:19] jdm commented on #4749
je_mallctl does not appear to take ownership of it, from my reading of http://osxr.org/redis/source/deps/jemalloc/src/jemalloc.c#1335, http://osxr.org/redis/source/deps/jemalloc/src/ctl.c#0812, and http://osxr.org/redis/source/deps/jemalloc/src/ctl.c#0715.

[2015-01-28 13:20] jdm commented on #4748
Yes, I removed all references to it from the .cargo/config files, so it shouldn't be used now.

[2015-01-28 13:22] jdm commented on #4744
Did we actually lose error handling? I thought we have a bunch of places that won't panic now since they're missing unwrap calls, whereas before they would panic automatically if the send/recv failed.

[2015-01-28 13:42] Ms2ger commented on #4744
Yes, that.

[2015-01-28 15:19] mskrzypkows commented on #3277
OK, I'll prepare patch for this.

[2015-01-28 16:20] mskrzypkows commented on #4651
I've checked that adding space to output_text in util.rs where jdm mentioned, causes adding indention, so that's the place which causes missing tabs. Now, to fix this I have to add flags as in: http://mxr.mozilla.org/mozilla-central/source/layout/generic/nsTextFrameUtils.cpp#69 but I didn't find any apropriate flags enum, so do I need to implement such an enum, in which module than?

[2015-01-28 16:28] metajack commented on #3277
@mskrzypkows The other examples are probably in the dependencies. Many of them have a build step that runs a Makefile from Cargo, and that make invocation has a hardcoded `-j4`. Probably the biggest two of these would be mozjs and skia.

[2015-01-28 16:40] mbrubeck commented on #4748
cc #4730

[2015-01-28 18:00] #4125 closed

[2015-01-28 18:19] jdm commented on #4651
No concrete answers yet; I've been looking at the equivalent Gecko code and found that the flag from http://mxr.mozilla.org/mozilla-central/source/layout/generic/nsTextFrame.cpp#2009 is used later at http://mxr.mozilla.org/mozilla-central/source/layout/generic/nsTextFrame.cpp#2069, and this new flag is used in places like http://mxr.mozilla.org/mozilla-central/source/gfx/thebes/gfxTextRun.cpp#287

[2015-01-28 18:32] mrobinson opened #4754 "No rendering on Linux + NVidia after rustup"
Using CPU rasterization I get a series of glutin error messages:
[code]

Using GPU rasterization, there are no error messages, but I see blank white output.

[2015-01-28 18:32] mrobinson commented on #4754
@glennw Any idea?

[2015-01-28 19:24] glennw commented on #4754
No immediate ideas, but I will look into it today. Unfortunately I don't have any nvidia hardware here to test with.

[2015-01-28 19:25] glennw commented on #4754
@mrobinson Was the glutin build definitely working for you on nvidia hardware pre-rustup?

[2015-01-28 19:27] glennw commented on #4754
@mrobinson Are you using the proprietary driver or nouveau?

[2015-01-28 19:27] mrobinson commented on #4754
@glennw I can confirm that it's working for me at ff8cbff81016c157373c1675f3eee69dd70ae544. If you have any ideas for debugging this, I can try them locally. I did not notice any unusual errors in apitrace.

[2015-01-28 19:28] mrobinson commented on #4754
I'm using the proprietary driver.

[2015-01-28 19:29] glennw commented on #4754
@mrobinson OK, well that is a good thing at least (working pre-rustup) I'll take a look at the diffs soon and let you know of anything I can think of to try.

[2015-01-28 19:31] glennw commented on #4754
@mrobinson One thing you could do is clone glutin locally, comment out the call to XSetErrorHandler, and then paste the exact X error logs you get on the terminal into here?

[2015-01-28 19:53] seanmonstar commented on #4734
@jdm we've fixed this over on hyper.

[2015-01-28 20:13] #4748 closed

[2015-01-28 21:04] mrobinson commented on #4754
Here is the X error:
[code]

[2015-01-28 22:45] dmarcos commented on #4692
@jdm Ok. So I got a patch working:

https://github.com/dmarcos/servo/tree/issue4692

I spent sometime making the compiler happy (any tricks to make compilation faster?). I'm still wrapping my had around type casting, memory allocation/deallocation and borrowing concepts in Rust. I spent too much time in JS land in the last couple of years :). I'm sure you can suggest a cleaner way to do what I did

[2015-01-28 23:03] #4754 closed

[2015-01-28 23:11] xojoc commented on #4744
So how should one proceed? Should we add `unwrap` to each call of `send` and `recv`, or there's something else to do? I would like to help, instructions are welcomed.

[2015-01-29 00:37] jdm commented on #4744
Yes, the places that warn about unused results when calling send or recv should have unwrap added to them to restore the previous behaviour.

[2015-01-29 00:43] xojoc commented on #4745
What to use for pixels: `usize` or `u16`?

[2015-01-29 00:45] jdm commented on #4692
Hmm, there are a couple things I would change there. First, I don't believe `
+ *(&mut page.unsafe_mut_js_info())` is doing what we want. `unsafe_mut_js_info` should probably be returning `&'a mut Option<JSPageInfo>` instead (and similarly `borrow_for_script_deallocation`). Also, be sure to indent the code inside the unsafe blocks by the full four spaces that the rest of the code uses. Finally, we

[2015-01-29 00:52] xojoc commented on #4744
Ok, I'll do it.

[2015-01-29 01:10] pcwalton opened #4761 "Use the HTML5 spec in order to serialize canvas colors"
For `fillStyle` and `strokeStyle`, the following spec should be used:

https://html.spec.whatwg.org/multipage/scripting.html#serialisation-of-a-colour

[2015-01-29 01:14] dmarcos commented on #4692
@jdm Thanks for helping with this.

https://github.com/dmarcos/servo/commit/1a6f4864fb32129357749fb44f7fd5662a00c534

1. Fixed the indenting
2. Changed unsafe_mut_js_info to return  &'a mut Option<JSPageInfo>
3. Changed borrow_for_script_deallocation to return &'a mut T
4. Removing changes from shut_down_layout.

I'm getting the following compilation error for borrow_for_script_deallocation:

dom/

[2015-01-29 01:22] jdm commented on #4692
You should use `&mut *self.value.as_unsafe_cell().get()` instead.

[2015-01-29 01:23] jdm commented on #4745
Can you be more specific? :)

[2015-01-29 01:31] xojoc commented on #4745
Usually in games one uses `u16` integers when specifying a length in pixels.  I saw in `components/util/opts.rs`:
       /// The maximum size of each tile in pixels (`-s`).
       pub tile_size: uint,
so I was wondering if encountering other pixel lengths I should use `usize` or `u16`? (Sorry for not being clear in the first message.)

[2015-01-29 01:36] jdm commented on #4745
It makes the most sense to trace how the value is used. In this case, it appears to eventually be used as an argument to Layer::new from rust-layer, which still uses uint. I would keep it as usize for now.

[2015-01-29 02:09] dmarcos commented on #4692
@jsm Thanks!

It compiles now. After removing the changes in ```shut_down_layout``` I get a 'already mutably borrowed' error but I guess it's what you expect. One of the messages is gone, the other remains. This is the output with patch:

https://pastebin.mozilla.org/8410108

vs no patch (master):

https://pastebin.mozilla.org/8407148

What else do you want me to do?

[2015-01-29 04:12] frewsxcv opened #4763 "Haven't been able to run servo in quite some time"
It's been a month or so since I've been able to run anything with servo. I'm running on OS X Yosemite.

Here's the error I always get:

[code]

[2015-01-29 04:13] glennw commented on #4763
Try http://google.com - it's attempting to open google.com as a local file.

[2015-01-29 11:25] Manishearth opened #4765 "Click on disabled control should not trigger onclick event"
[tests/wpt/web-platform-tests/html/semantics/forms/attributes-common-to-form-controls/disabled-elements-01.html](https://github.com/w3c/web-platform-tests/blob/master/html/semantics/forms/attributes-common-to-form-controls/disabled-elements-01.html), among other things, calls `click()` and checks if onclick is e dispatched on that element -- it shouldn't, but we do dispatch it currently.

I believ

[2015-01-29 11:48] mskrzypkows commented on #3277
@metajack As I see in build_commands.py, the number of jobs is passed by ```--jobs``` or ```-j``` flag. How it has to be done in skia and mozjs scripts, should I use ```NUM_JOBS``` environment variable or pass flag to ```cargo build``` command?

[2015-01-29 11:55] Ms2ger commented on #4765
<https://html.spec.whatwg.org/multipage/#dom-click> says:

1. If the element is a form control that is disabled, abort these steps.

[2015-01-29 11:56] jdm opened #4767 "Implement srcdoc support for iframes"
Explanation: https://bocoup.com/blog/third-party-javascript-development-future#iframe-srcdoc
Spec:
* https://html.spec.whatwg.org/multipage/embedded-content.html#attr-iframe-srcdoc
* https://html.spec.whatwg.org/multipage/iframe-embed-object.html#process-the-iframe-attributes

Code:
* `components/script/dom/htmliframeelement.rs`
* `components/script/script_thread.rs`

Basic test:
`./mach test-wpt

[2015-01-29 12:02] Manishearth commented on #4765
Oh wow. Bah. Though I think we still need the grainier activation behavior.

[2015-01-29 12:11] jdm commented on #4765
We could probably fix this by calling `node.get_disabled_state` instead of `HTMLInputElement.Disabled` in https://github.com/servo/servo/blob/master/components/script/dom/htmlelement.rs#L127, but that's a bit counterintuitive.

[2015-01-29 13:31] jdm commented on #4692
`thread 'ScriptTask' has overflowed its stack` - this message worries me. Can you run the test under a debugger and get the backtrace when this occurs?

[2015-01-29 13:48] Ms2ger opened #4768 "Implement TextEncoder."
Spec: <https://encoding.spec.whatwg.org/#interface-textencoder>.

This includes enabling the relevant tests by adding
[code]
to `tests/wpt/include.ini`.

This may also include updating the `mozjs` and `rust-mozjs` dependencies to ensure we can work with typed arrays.

[2015-01-29 13:50] Ms2ger opened #4769 "Implement TextDecoder."
Spec: <https://encoding.spec.whatwg.org/#interface-textdecoder>.

Most of the actual decoding infrastructure should already be implemented in `rust-encoding`.

This includes enabling the relevant tests by adding
[code]
to `tests/wpt/include.ini`.

This may also include updating the `mozjs` and `rust-mozjs` dependencies to ensure we can work with typed arrays.

[2015-01-29 13:59] jdm opened #4770 "Implement Document.activeElement"
Spec: https://html.spec.whatwg.org/multipage/interaction.html#focus-management-apis

We have the notion of a currently focused element right now in the `focused_element` field of the Document object.

[2015-01-29 15:11] frewsxcv commented on #4763
Wow. That was silly of me.

[2015-01-29 15:11] #4763 closed

[2015-01-29 16:03] #1697 closed

[2015-01-29 16:24] dmarcos commented on #4692
@jdm Sure. I run this on lldb and this is the output I get:

https://pastebin.mozilla.org/8422656

It doesn't look meaningful to me. Should I be building servo on debug mode or something like this? How do I do it?

[2015-01-29 16:37] metajack commented on #3277
See https://github.com/servo/skia/blob/master/Cargo.toml#L7 for an example. You can replace the `4` with `$NUM_JOBS` I believe, since Cargo sets that environment variable for use by the build scripts.

Alternatively you could use the new Cargo feature and gcc-rs like some of the more recently introduced submodules.

[2015-01-29 16:40] SimonSapin commented on #4725
`unicode::str::Utf16Encoder` (shipped with rustc) should be used instead.

[2015-01-29 16:47] jdm commented on #4692
Is that the result of `thread backtrace`?

[2015-01-29 17:21] dmarcos commented on #4692
@jdm This is the result of thread backtrace:

https://pastebin.mozilla.org/8423377

[2015-01-29 17:24] dmarcos commented on #4692
This is repeated ad infinitum:

    frame #14: 0x00000001018580a7 servo`panicking::panic_fmt::hd6c77548964d848fpfl + 167
    frame #15: 0x0000000101f66288 servo`option::Option$LT$T$GT$::expect::_FILE_LINE::heee4863a37ed8f1dxoo + 24
    frame #16: 0x000000010183656c servo`failure::on_fail::h518a2e1bba17c9c90Hz + 2572
    frame #17: 0x000000010180581a servo`rt::unwind::begin_unwind_inner::h85e4f9f71

[2015-01-29 17:51] jdm commented on #4692
Ok, what happens if you set a breakpoint on rust_panic? You can skip the first one (that's the borrow-related one), but the backtrace of subsequent ones should be interesting.

[2015-01-29 19:10] dmarcos commented on #4692
@jdm This is what I'm getting (You can see the whole lldb sequence of commands):

https://pastebin.mozilla.org/8424649

I see DOMRefCell<T> referenced there but still looks pretty cryptic to me.

[2015-01-30 00:00] dmarcos commented on #4692
@jdm It seems that it gets stuck on Garbage Collection cycles. I don't understand how my changes are affecting garbage collection

[2015-01-30 00:00] jdm commented on #4692
I'm pretty sure you want `continue` instead of `next`, in order to skip over the first instance of the breakpoint. Right now I think we're just advancing to the next line and then looking at the backtrace.

[2015-01-30 00:04] dmarcos commented on #4692
@jdm I'm building to run lldb one more time. Any tricks to make compilation faster? Any option you can recommend that I should use?

[2015-01-30 00:15] dmarcos commented on #4692
@jdm This is what I got:

https://pastebin.mozilla.org/8428521

It doesn't stop on the breakpoint a second time. After doing 'c' once I get the stack overflow

[2015-01-30 00:16] #905 closed

[2015-01-30 00:21] glennw commented on #999
Tested, cannot repro.

[2015-01-30 00:21] #999 closed

[2015-01-30 00:22] jdm commented on #4692
Huh, that's really quite peculiar. I'll clone your branch and see if I can reproduce.

[2015-01-30 00:23] dmarcos commented on #4692
@jdm Yeah please go ahead. Let me know what you find. I'm just curious to understand what's going on besides looking forward to landing a first patch :)

[2015-01-30 00:35] glennw commented on #1000
This is fixed via https://github.com/servo/servo/pull/4764

[2015-01-30 00:35] #1000 closed

[2015-01-30 00:52] jdm commented on #4692
I figured it out! The assertion in LiveDOMReference's destructor is failing (and this shows up in one of your previous logs), and this causes an endless chain of failure because the destructor attempts to keep failing over and over. You can just delete the whole destructor (dom/bindings/refcounted.rs), since the assertion is not actually particularly useful.

[2015-01-30 01:20] dmarcos commented on #4692
Sweet! Just got rid of the destructor. I see different behavior though with and without the patch. Without the patch the program aborts and with it it doesn't seem to exit, I have to quit manually. Is this normal? Below the outputs.

Without the patch (master):

https://pastebin.mozilla.org/8429537

With the patch:

https://pastebin.mozilla.org/8429616

[2015-01-30 02:14] jdm commented on #4692
I noticed that too. It turns out it's because we route key events from the compositor to the current script task and back, to allow the focused element to consume events if necessary. In practice, this means `Constellation::handle_key_msg` runs and doesn't do anything, since `current_frame` returns `None`. What should be happening here is that the failed script task should be replaced automaticall

[2015-01-30 03:03] hgentry commented on #4725
This seems simple enough; I can give this one a go.

[2015-01-30 06:01] jdm commented on #4725
It's yours!

[2015-01-30 06:33] dmarcos commented on #4692
Okay! Here it's the PR. Thanks a lot for your help!

https://github.com/servo/servo/pull/4777

[2015-01-30 11:42] jdm opened #4778 "Consider using as_unsafe_cell when tracing RefCell values during GC"
We don't have any guarantees about when GCs will run, so it's entirely possible (even likely?) that we'll end up double-borrowing a RefCell by triggering a GC while there is a mutable borrow outstanding. I _think_ it's safe to just use `as_unsafe_cell` during this, since it's a read-only operation.

[2015-01-30 12:20] Manishearth commented on #4778
What if we manipulate some form of list of JS objects during the GC pass? We might end up accessing freed memory or something.

[2015-01-30 12:21] Manishearth commented on #4778
Though the solution for that seems to lie in Mutex land. I guess any member that is a pointer of JS pointers should be designed carefully so that this doesn't happen.

[2015-01-30 13:54] #213 closed

[2015-01-30 13:56] Ms2ger commented on #4778
But it won't be, will it?

[2015-01-30 17:20] jdm commented on #4778
Mmm, right, I forgot that the pointer for `JS<T>` can change with the upgrade. That wouldn't be affected by changing RefCell's behaviour here, though, would it?

[2015-01-30 18:06] jdm opened #4780 "Don't use * versions in crates.io dependencies"
Right now any clone that checks for rust-url updates won't build, because there's a new release that uses derive(Debug).

[2015-01-30 19:07] jdm commented on #4761
@dmarcos This shouldn't be too difficult, but needs to happen on top of #4623 as long as it remains unmerged.

[2015-01-30 19:16] jdm opened #4784 "Implement CanvasRenderingContext2d.drawImage"
Spec: https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-drawimage and https://html.spec.whatwg.org/multipage/scripting.html#canvasimagesource

We can start off easy here and just make CanvasImageSource a typedef for HTMLCanvasElement.

@dmarcos, interested?

[2015-01-30 21:19] Adenilson opened #4786 "Unify color types in rust-azure/servo"
Currently we have near 3 color objects: rust-azure (AzColor, Color) and servo (Color as a AzColor).

It may be interesting to streamline the color types. I see at least 2 approaches:

a) Have a single Color type (probably AzColor) with all the methods;

b) Have just 2 Color types: 1 being a lower level implementation and other with helper functions (and keeping compatibility between the struct fie

[2015-01-30 21:45] dmarcos commented on #4784
@jdm Yeah! I can take this. Thanks!

[2015-01-30 22:24] #4502 closed

[2015-01-31 01:54] #4765 closed

[2015-01-31 03:06] KiChjang commented on #4665
This looks easy enough, I think I'll have a go at it, but do I need to wait for the fetch credentials functionality to be implemented first?

[2015-01-31 09:21] Manishearth commented on #4665
Nah, we just want to throw the error here

[2015-01-31 11:24] #4119 closed

[2015-01-31 11:43] KiChjang commented on #4665
I just noticed that ther are someother methods in the class (e.g. setTimeout) that does not have an appropriate checking mechanism for the JS global environment.

I think I shouldn't change those, but I just want to know whether there actually is an appropriate method to check whether the current environment is document or not.

[2015-01-31 11:44] Manishearth commented on #4665
Check if the global is a Window or Worker object, maybe?

[2015-01-31 12:37] KiChjang commented on #4665
Yes, that sounds good. I just want to make sure that checking whether the global is a Window is equivalent to checking whether the global is a document.

[2015-01-31 13:53] hgentry commented on #2108
So just rename them all from unwrap* to native_from_reflector*? I can do that.

[2015-01-31 14:17] Ms2ger commented on #2108
Yep, pretty much

[2015-01-31 15:25] SimonSapin commented on #4780
That’s only when you run `cargo update` or `mach update-cargo`, though, right? `Cargo.lock` should take care of having everyone use the same version.

I don’t think we should rely on dependency versions for this. Locking to a specific micro version is what `Cargo.lock` does already, and relying on SemVer doesn’t work for Rust upgrade: the convention in the ecosystem seems to be to only bump the mi

[2015-01-31 16:06] jdm commented on #4780
I don't think it's that simple. Switching between branches (that previously compiled) for my local clone caused Cargo to fetch rust-url for some reason, and that's when I found that 0.2.17 didn't build with the 1.0 nightly. I also couldn't find a way to force a downgrade.

[2015-01-31 17:23] mttr commented on #4563
I'm not sure if the underlying problem is fixed or not, but that link works for me on the latest master.

[2015-01-31 17:45] jdm commented on #4563
I feel a bit silly that I didn't include the backtrace :<

[2015-02-01 00:54] kevincannon commented on #4732
Bingo! That was it, I can compile it now.

After a little bit of testing, it seems the build script is failing when a folder has a . in the name. In my company, our user accounts are created automatically in firstname.lastname, so if I move it out of my user folder it compiles.

[2015-02-01 01:49] #4692 closed

[2015-02-01 01:54] jdm opened #4795 "Make the Constellation key event handler deal with missing current frames"
`Constellation::handle_key_msg` gets the current frame if it exists and forwards the key event to it. This causes a problem if there is no current frame, since the compositor relies on the script task being able to send unconsumed key events back to it. When this doesn't occur, we get problems like the escape key no longer closing the main Servo window. We should make the `Constellation` send the

[2015-02-01 01:54] jdm commented on #4795
A good way to test this is run an HTML file containing `<script>window.close()</script>`.

[2015-02-01 01:55] jdm opened #4796 "Failed script task doesn't get replaced"
With `<script>window.close()</script>` the script task panics while performing a GC, but the task doesn't get replaced automatically like it should.

[2015-02-02 09:15] bjz commented on #3579
Closed by #4798

[2015-02-02 09:15] #3579 closed

[2015-02-02 09:45] ttaubert commented on #4666
Working on it.

[2015-02-02 10:14] jdm opened #4800 "Port Gecko's JSToNativeConversionInfo changes to Servo's codegen"
This will make porting other changes from Gecko easier, rather than returning tuple types from `getJSToNativeConversionTemplate` (to be renamed `getJSToNativeConversionInfo`).

https://mxr.mozilla.org/mozilla-central/source/dom/bindings/Codegen.py#4764
https://mxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/CodegenRust.py#648

[2015-02-02 16:39] #4665 closed

[2015-02-02 20:07] jdm opened #4806 "Support documents without browsing contexts"
This has a number of practical implications:
* `defaultView` should return null if the document doesn't have a browsing context
* we need to be less cavalier about using the `window` member of `Document`, since that's only there for internal purposes (basically "give me a global object related to this node")
* we'll need to have the browser context status be mutable, to allow attaching/detaching i

[2015-02-02 20:48] jdm opened #4807 "Make MouseEvent and UIEvent constructors take EventBubbles and EventCancelable enum arguments"
Boolean arguments are bad. Using the enums as arguments will make for more readable code.

Code: components/script/dom/uievent.rs and components/script/dom/mouseevent.rs

[2015-02-02 21:00] muscar commented on #4807
I can do that

[2015-02-02 22:58] Adenilson commented on #4201
I would like to work on this one if is still available.

[2015-02-03 00:16] mbrubeck commented on #4700
This is still happening post-rustup.  `X509_gmtime_adj` is an OpenSSL function, so this must be a problem with how we are building and linking OpenSSL.

[2015-02-03 00:45] jdm commented on #4201
It is available.

[2015-02-03 00:45] jdm commented on #4807
Great!

[2015-02-03 01:27] #3624 closed

[2015-02-03 02:25] KiChjang commented on #4795
I can take this one, however a few clarifications are needed.
1. Do the following test files test accurately for this behaviour? `tests/html/test_close.html`, `tests/html/test_hammer_layout.html`, `tests/html/test_slam_layout.html`
2. By relevant code in `ScriptTask::dispatch_key_event`, do you mean the following code:
[code]

[2015-02-03 05:38] mdinger opened #4810 "Github Files changed pages are slow"
Big [github _Files changed_](https://github.com/servo/servo/pull/4719/files) pages lock up every browser including servo. If you can make it usable quicker, it's a big win for servo.

Didn't look for a reduced testcase.

[2015-02-03 05:39] mdinger commented on #4810
I think servos been trying to open that page for more than 5 minutes.

[2015-02-03 07:53] SimonSapin commented on #2853
The current Rust upgrade is blocked on one of https://github.com/rust-lang/rust/issues/21883 or https://github.com/rust-lang/rust/issues/21884 being fixed. (I’d prefer the latter. The former is just one instance of this problem, there might be other I haven’t found yet.)

[2015-02-03 09:48] jdm commented on #4351
#4811

[2015-02-03 10:02] Manishearth commented on #2853
The latter might need an rfc :/

[2015-02-03 10:32] jdm commented on #4795
test_close.html does not, since it's in a timeout and therefore asynchronous. I can't tell if it occurs for test_hammer_layout.html since it takes too long to run, but test_slam_layout.html does demonstrate it. Personally, I would just create a new HTML file that contains exactly what my previous comment said :) And yes, that is the code to which I was referring. Thanks for taking this on!

[2015-02-03 11:19] sodhi95 commented on #4601
I'd like to take a shot at this

[2015-02-03 12:33] Swatinem commented on #4728
I have this almost ready, just compiling and running some tests

[2015-02-03 14:38] jdm commented on #4614
Strangely enough someone reported seeing this failure on tests/html/about-mozilla.html.

[2015-02-03 14:53] shinglyu commented on #4236
Just moved the `click` handler code into the `activation_behavior` function: https://github.com/shinglyu/servo/compare/bug4236
Now all the links works.
I'll fill in those checks as in the spec. Is there anything we can't handle yet and should be skipped for now?

[2015-02-03 15:04] Manishearth commented on #4236
Ah, nice. Make sure you include the `is_instance_activatable` check for `<a>` as well (https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1450), perhaps moving the check outside of the match block where it belongs.

[2015-02-03 15:29] KiChjang commented on #4795
Hmph. I am having trouble with `DOMRefCell<T>`... I am getting an error message when I run the following HTML file (before and after I did some code changes to `compositing/constellation.rs`):

[code]
The error message it spat out was this:
[code]
Does that mean my code change did not work, or is it simply an entirely different issue altogether?

[2015-02-03 15:42] mskrzypkows commented on #4770
Added pull request with patch.

[2015-02-03 15:57] jdm commented on #4795
No, that's exactly what is intended to happen :) The panic is the script task dying, and when that occurs you should just see a white screen that does not respond to key events any more.

[2015-02-03 16:21] jdm opened #4821 "Don't panic in reap_layout_data if the layout task can't be reached"
It's probably better to leak memory rather than tear down the script task. I think removing the `unwrap` from the result of `send` would be fine.

[2015-02-03 17:27] jdm commented on #4795
Huh, I just tried the snippet myself and don't see the ScriptTask panic error anymore :(

[2015-02-03 17:41] KiChjang commented on #4795
That's weird... I just did a clean on my servo and rebuilt everything from scratch, yet I am still getting the ScriptTask panic. The HTML that I've used to test is the same as above, and I've also used code changes that are in my PR.

[2015-02-03 17:59] jdm commented on #4795
Nevermind, I mistyped it.

[2015-02-03 18:26] #4534 closed

[2015-02-03 18:36] mbrubeck opened #4824 "Android thread panic on startup: `ClearColor` was not loaded"
After #4700 is fixed, the Android app starts up but fails to display anything, on a Motorola Xoom (Nvidia Tegra) running CM10 (Android 4.1.2).

From the logs:

[code]

[2015-02-03 20:36] sodhi95 commented on #4601
Continuing from the irc discussion to add a parse_plain_attribute function, how should I figure out where all must this function be called in htmliframeelement.rs
Can someone help me understand the flow of code here :)

[2015-02-03 20:56] Swatinem commented on #2516
Wasn’t this fixed by https://github.com/servo/servo/commit/5225442dc15497f198de08647f387e314aed3f15 ?

[2015-02-03 20:59] jdm commented on #2516
Yep!

[2015-02-03 20:59] #2516 closed

[2015-02-03 21:01] jdm commented on #4601
@sodhi95 parse_plain_attribute gets called automatically by Element::parse_attribute (http://mxr.mozilla.org/servo/source/components/script/dom/element.rs#694) if is implemented by a derived type (and that type is present in the list at http://mxr.mozilla.org/servo/source/components/script/dom/virtualmethods.rs#144. It's like a C++ virtual function in this case. Does that answer your question?

[2015-02-03 21:38] jdm opened #4827 "reftest failure in border reftests"
From http://build.servo.org/builders/mac2/builds/892/steps/shell_1/logs/stdio:
[code]

[2015-02-03 22:00] mbrubeck commented on #4700
This is fixed by sfackler/rust-openssl#153, but we need to upgrade Rust before we can use a version of rust-openssl with that fix (or fork rust-openssl and packages that depend on it, in order to backport the fix).

Alternately we might be able to work around for now by setting flags in our `.cargo/config` as suggested in sfackler/rust-openssl#107.

[2015-02-03 22:30] mbrubeck commented on #4827
Caused by #4825.

[2015-02-03 23:03] Adenilson commented on #4827
The fix: https://github.com/servo/servo/pull/4828

[2015-02-04 00:23] mbrubeck commented on #4827
Fixed for now by backing out #4825.

[2015-02-04 00:23] #4827 closed

[2015-02-04 00:29] mbrubeck opened #4831 "Android thread panic in gleam caused by "no more slots for eglGetProcAddress""
After various recent upgrades, Android was panicking on startup due to GL function pointers failing to load (#4824).  We addressed this in #4830 by calling `get_proc_address` on Android like we do on desktop platforms, and this appears to work on some Android devices, but it fails on my Android 4.1 tablet with tegra graphics:

[code]

Apparently this Android has a small fixed number of slots for e

[2015-02-04 00:48] #4728 closed

[2015-02-04 03:21] #4824 closed

[2015-02-04 05:48] yodalee commented on #4768
Allow me try this if you permit. I'm afraid that I may take long time to complete.

[2015-02-04 06:17] SimonSapin commented on #4768
Go ahead!

This is mostly about plugging things together between JavaScript and Rust. The rust-encoding library, which we already use in Servo, implements the encodings themselves as well as the label lookup.

http://doc.servo.org/encoding/index.html

[2015-02-04 10:00] Manishearth commented on #2853
Chris and some others fixed the stability of hash and time, I added a check to ensure that doesn't happen again. It isn't perfect, but we can also bypass this using `!#[feature(unmarked_api)]`

[2015-02-04 10:34] jdm opened #4833 "sliderust doesn't work with incremental layout"
[code]
I remember jack hit the same problem when prepping for LCA in January, too.

[2015-02-04 10:35] metajack commented on #4833
As a workaround, you can run servo with `-i` to disable incremental layout.

[2015-02-04 10:51] jdm opened #4834 "Add a --release flag to mach run command"
Source: `python/servo/post_build_commands.py`

The path we use to run servo should get an extra `release` directory in which the servo binary resides when this flag is present. This allows running release builds after using `./mach build release`.

[2015-02-04 11:18] #3740 closed

[2015-02-04 12:40] jdm commented on #503
This is an important step to enable synchronous, blocking operations that require nested events loops (sync XHR, alert, etc.) in order for the browser to remain responsive. See https://groups.google.com/forum/#!topic/mozilla.dev.servo/unG9GxZnpcU for more information.

[2015-02-04 12:42] jdm commented on #503
Additionally, I think we're going to have to write our networking consumer code to always process events by enqueuing a runnable, otherwise we'll break the illusion that nested event loops are supposed to provide.

[2015-02-04 16:05] shinglyu commented on #4236
Hmm.. I added something like this: https://github.com/shinglyu/servo/compare/bug4236#diff-9082d52f79e121265b7ddf64d11fe044R1468
But the compiler said  `1463:46 error: the type of this value must be known in this context`. Maybe I just create a function for this `is_instance_activatable` check and call it in every `match` branch?

[2015-02-04 17:03] jdm opened #4835 "Intermittent wpt timeout in /html/dom/reflection-tabular.html"
No information, just a timeout.

[2015-02-04 17:06] narfg commented on #3583
Has this been fixed? I don't notice a significant lag anymore.

[2015-02-04 17:13] narfg commented on #3252
I guess this can be closed as glfw is no longer used.

[2015-02-04 17:14] #3252 closed

[2015-02-04 17:22] Manishearth commented on #4236
Oh, that's because you've not casted everything properly. You should be casting within the match itself, and the match should produce an `Option<&'a Activatable + 'a>` or something

[2015-02-04 17:25] jdm commented on #4236
Yes, each arm of the match needs to produce an identical type. Right now that's not happening.

[2015-02-04 17:27] narfg commented on #636
This can be closed as glfw is no longer used.

[2015-02-04 17:28] #636 closed

[2015-02-04 17:29] jdm commented on #3583
Yes, I recall noticing that this no longer happened a few weeks after filing it.

[2015-02-04 17:29] #3583 closed

[2015-02-04 17:39] larsbergstrom commented on #4391
We no longer use GLFW in Servo. Please re-open an issue (or a PR with fixes to the readme!) if the new toolchain does not work on your Arch Linux installation with the provided instructions.

[2015-02-04 17:39] #4391 closed

[2015-02-04 17:39] larsbergstrom commented on #4388
We no longer use GLFW in Servo.

[2015-02-04 17:39] #4388 closed

[2015-02-04 17:40] larsbergstrom commented on #2030
@glennw has moved us to Glutin

[2015-02-04 17:40] #2030 closed

[2015-02-04 17:42] larsbergstrom commented on #592
This is complete with work that @glennw has landed.

[2015-02-04 17:42] #592 closed

[2015-02-04 17:43] jdm commented on #299
We did this.

[2015-02-04 17:43] #299 closed

[2015-02-04 17:43] larsbergstrom commented on #588
@pcwalton ended up implementing the strategy described in my earlier comments (fusing communications with event loop interrupts).

[2015-02-04 17:43] #588 closed

[2015-02-04 17:43] jdm commented on #292
Haven't heard about this in a very long time.

[2015-02-04 17:43] #292 closed

[2015-02-04 17:46] jdm commented on #447
We've punted on the COW DOM.

[2015-02-04 17:46] #447 closed

[2015-02-04 17:47] jdm commented on #449
No COW DOM.

[2015-02-04 17:47] #449 closed

[2015-02-04 18:13] jdm opened #4837 "Reddit's login button doesn't activate"
I can't click it, and I can't trigger it via pressing enter in a form. I'm not sure why.

[2015-02-04 18:15] jdm commented on #4837
[code]

[2015-02-04 18:20] jdm commented on #943
I don't see this any more.

[2015-02-04 18:20] #943 closed

[2015-02-04 18:28] jdm commented on #985
File doesn't exist any more. I don't see this on the other summit files.

[2015-02-04 18:28] #985 closed

[2015-02-04 18:28] jdm commented on #990
File doesn't exist any more.

[2015-02-04 18:28] #990 closed

[2015-02-04 18:28] jdm commented on #991
Haven't seen this in a long time.

[2015-02-04 18:28] #991 closed

[2015-02-04 18:29] jdm commented on #984
Haven't seen this in a long time.

[2015-02-04 18:29] #984 closed

[2015-02-04 18:29] jdm commented on #988
Not much to do here; file's gone.

[2015-02-04 18:29] #988 closed

[2015-02-04 18:29] jdm commented on #992
Haven't come across this for a long time.

[2015-02-04 18:29] #992 closed

[2015-02-04 18:30] jdm commented on #987
The failures now are very different. No point in leaving this open.

[2015-02-04 18:30] #987 closed

[2015-02-04 18:30] jdm commented on #1010
I haven't seen this in a long time.

[2015-02-04 18:30] #1010 closed

[2015-02-04 18:32] jdm commented on #964
I don't think there's much point in keeping this open. We have our https://github.com/pcwalton/miniservo-mac/ and https://github.com/glennw/miniservo-gtk/ embeddings that have URL bars.

[2015-02-04 18:32] #964 closed

[2015-02-04 18:32] jdm commented on #1022
We don't use GLFW anymore, so this is hopefully not an issue.

[2015-02-04 18:32] #1022 closed

[2015-02-04 18:33] jdm commented on #1049
Not an issue after the switch away from green tasks, as I understand it.

[2015-02-04 18:33] #1049 closed

[2015-02-04 18:36] jdm commented on #1145
Can't reproduce on OS X either.

[2015-02-04 18:36] #1145 closed

[2015-02-04 18:37] jdm commented on #1199
We do this.

[2015-02-04 18:37] #1199 closed

[2015-02-04 18:38] jdm commented on #1173
Dependencies are managed by Cargo now; I haven't seen this in some time.

[2015-02-04 18:38] #1173 closed

[2015-02-04 18:38] jdm commented on #1047
All of this has changed with the introduction of Cargo; let us know if this is still a problem!

[2015-02-04 18:38] #1047 closed

[2015-02-04 18:40] jdm commented on #1228
Still the same basic problem, but in script_task.rs this time:
[code]

[2015-02-04 20:17] Manishearth opened #4839 "Pressing a number key doesn't send an event to the DOM"
STR:

 - Run tests/html/form_submission.html
 - Try typing a number (it doesn't appear). Letters work fine

I set a breakpoint on `dispatch_key_event` in script_task, and it seems like for these keys it doesn't reach there at all. Looks like a compositor (or glutin?) problem

cc @glennw @jdm

[2015-02-04 22:23] jdm commented on #4839
I see numbers on OS X.

[2015-02-04 22:23] jdm commented on #4839
I guess this should be filed upstream in glutin, in that case?

[2015-02-04 22:23] Manishearth commented on #4839
Sounds like it.

[2015-02-04 22:24] glennw commented on #4839
Yep, I think I know what the issue will be. File it in glutin and I'll take a look today.

[2015-02-04 22:26] Manishearth commented on #4839
Filed.

[2015-02-04 22:38] jdm opened #4840 "Location object should live in Document, not Window"
Spec: https://html.spec.whatwg.org/multipage/browsers.html#the-location-interface
Code: components/script/dom/window.rs, components/script/dom/document.rs

[2015-02-04 22:44] jdm opened #4841 "Implement Location.assign"
Spec: https://html.spec.whatwg.org/multipage/browsers.html#the-location-interface
Code: components/script/dom/location.rs

This can use the Window::load_url method.

[2015-02-05 01:17] jdm opened #4843 "Rename HTMLIFrameElement.containing_page_pipeline_id"
The name is misleading - it actually is the pipeline id of the page contained within the iframe, rather than the page that contains the iframe as it might otherwise suggest.

[2015-02-05 01:17] Manishearth opened #4844 "--devtools panics"
[code]

cc  @jdm

[2015-02-05 01:23] Manishearth commented on #1513
We also have `nowrap` now (https://github.com/servo/servo/pull/3458). Close?

[2015-02-05 01:25] Manishearth commented on #1731
Everything is private now.

[2015-02-05 01:25] #1731 closed

[2015-02-05 04:25] KiChjang commented on #4841
Let me have a go at this, please.

[2015-02-05 05:56] psdh commented on #4834
I would like to help fix this :)

[2015-02-05 06:06] psdh commented on #4843
What other name do you feel appropriate?
Should we just eliminate containing all together.
pipeline_id_page
or maybe pipeline_id_iframe_page?

[2015-02-05 06:29] KiChjang commented on #4841
How am I able to refer back to an instance of a `window` object within `Location`?

[2015-02-05 06:57] KiChjang commented on #4840
I'll have a go at this one.

[2015-02-05 09:34] #4601 closed

[2015-02-05 09:48] KiChjang commented on #4795
This should be closed.

[2015-02-05 09:51] #4795 closed

[2015-02-05 11:21] nwin opened #4846 "Scrolling behaviour inverted on OSX."
The scrolling wheel behavior is inverted compared to the system setting (e.g. its “natural” in servo if the system is set to “normal” and vice versa).

It might be a bug it glutin because the scrolling wheel delta is deliberately set to it’s negative value for OSX but I have nothing to test glutin alone.

[2015-02-05 12:13] jdm commented on #4843
Probably `contained_page_pipeline_id`.

[2015-02-05 12:14] jdm commented on #4834
Great! I suggest taking a look at our other python commands that use a --release flag: http://mxr.mozilla.org/servo/search?string=--release

[2015-02-05 12:15] jdm commented on #4844
Sigh. I bet it's the Any/downcast_ref stuff again :( This bites us every time the API changes and we upgrade to a new rustc.

[2015-02-05 12:16] jdm commented on #4846
It's definitely something that changed recently. @glennw, did we upgrade glutin?

[2015-02-05 12:39] jdm opened #4847 "Make creating a pipeline initiate the load immediately"
We have an odd dance right now where we create a script task in `Pipeline::create` (or have a reference to an existing one), and then we follow it up with a load message. I don't see a reason why we couldn't create a `ScriptTask` with a `LoadData` argument, or send one with the `AttachLayout` message when we're joining an existing `ScriptTask`. This would allow us to create the Page object after w

[2015-02-05 13:26] psdh commented on #4834
I did take a look and made some changes.
according to what I have understood I would just have to append ['--release'] to args if release is true.
But I do not clearly understand the meaning of running releases. I also feel that I am missing something.
Thanks :)

[2015-02-05 13:29] jdm commented on #4834
Normally the binary ends up in `components/targets/servo` for non-release builds. When you use `build --release`, it is placed in `components/targets/release/servo`. `./mach run` doesn't know about this.

[2015-02-05 15:32] Manishearth commented on #4844
I wonder if we can use GCLI to write some automated tests for this that only require a firefox install (and run them every week).

(Not sure if GCLI can be invoked headless)

[2015-02-05 16:06] #4844 closed

[2015-02-05 17:24] KiChjang commented on #4841
I was playing around with `location.rs` for a while, and I figured that there's no way to refer to a `window` object within `Location`. Should we add a new attribute for `Location` that stores an instance of `window`?

[2015-02-05 17:45] jdm commented on #4841
Yep!

[2015-02-05 17:46] jdm commented on #1073
Related: #4806

[2015-02-05 17:54] jdm commented on #503
I envision having the following:
* a channel for events from Constellation/Compositor
* a channel for devtools communication
* one channel per HTML5 task source (DOM manipulation, user interaction, networking, timers, history traversal, etc.)

We should add APIs for dispatching events to each of these sources as necessary, rather than have users send messages directly on the Sender object.

[2015-02-05 18:11] jdm commented on #4841
Oh, I lied - you can get a Window from the stored Page member via `page.frame().unwrap().window`.

[2015-02-05 18:52] yodalee commented on #4768
There is a problem: the codegen python cannot recognize `USVString` in webidls, or should I leave the encode method comment out now?

[2015-02-05 19:29] psdh commented on #4176
Assuming that @th0114nd isn't still working on this(are you?).
I will try and fix this :)

[2015-02-05 19:33] #4840 closed

[2015-02-05 19:45] jdm commented on #4768
Just use DOMString instead and leave a FIXME comment.

[2015-02-05 20:59] glennw commented on #4846
We upgraded during the last rustup - nothing (intentional) since then. Is that around when it started happening? I can't see anything obvious in the glutin history that would cause this to change (although it may be from a glutin dependency like rust-cocoa).

[2015-02-05 21:05] jdm commented on #4846
Maybe I just haven't scrolled since we switched to Glutin. I know that I don't see this behaviour in the CEF embedding.

[2015-02-05 21:07] glennw commented on #4846
Yep, I suspect it's always been that way in glutin then - I'll flip the behaviour in upstream glutin so we get it in the next rustup.

[2015-02-05 21:29] pcwalton commented on #4846
@glennw I can confirm this.

[2015-02-05 21:54] glennw commented on #3986
Encountered this today with a small repro case:

[code]

and for the iframe file:

[code]

[2015-02-06 02:35] glennw commented on #3986
In the case above, the following occurs:

1) Test begins to exit, sending the shutdown message.
2) The script task gets into handle_exit_pipeline_msg() and removes the iframe page ID from the page field.
3) The iframe page gets force_reflow() called - this can occur from a number of places, including directly from the page itself based on an event, but in this case occurs after (2).
4) The layout

[2015-02-06 02:51] jdm commented on #3986
Maybe handle_exit_pipeline_msg should inform the layout task that its services are no longer required, and only after an acknowledgement remove the page id?

[2015-02-06 03:14] glennw commented on #3986
That might work - I'll do some tests.

[2015-02-06 06:32] kmcallister commented on #4844
@Manishearth: Or find/write a headless dummy client for the devtools protocol.

[2015-02-06 10:01] Ms2ger opened #4861 "Remove users of `get_unsound_ref_forever()`."
It produces `JSRef`s that are not actually rooted. There are two main users here:

* iterators in `node.rs`: I started in #4617, which is blocked on #4860;
* mutable roots in `treewalker.rs`: not sure yet what the solution is here; we'll probably have to refactor the code quite a bit.

[2015-02-06 11:24] #4841 closed

[2015-02-06 18:07] psdh commented on #4176
@mbrubeck needed some help here:
I am new to servo and rust and am facing a tough time finding how to access say the 'for' attribute,
element.get_attribute(ns!(""), &atom("for")).root() ?
I was thinking something like http://pastebin.mozilla.org/8584728

Thanks :)

[2015-02-06 18:19] jdm opened #4863 "Make trigger_fragment take a String argument instead of a Url"
Instead of assuming that the Url contains a fragment, let's make callers pass the fragment as an argument instead.

Code: components/script/script_task.rs

[2015-02-06 18:27] mbrubeck commented on #4176
Yes, this looks correct.  After you unwrap the resulting Option, you'll need to call `.r().Value()` to convert it to a string, like in [this example code](https://github.com/servo/servo/blob/master/components/script/dom/htmlscriptelement.rs#L189-L191).  (If you're curious why, [this page](https://github.com/servo/servo/wiki/Using-DOM-types) has some explanations.)

[2015-02-06 19:14] psdh commented on #4176
please check this, http://pastebin.mozilla.org/8585585
I have pasted my changes and the build error that I am getting.

[2015-02-06 19:48] jdm commented on #4176
Ah, that happens when the string isn't in a list in https://github.com/servo/string-cache/ somewhere. In that case, you can use `Atom::from_slice("event")` instead of `atom!("event")`.

[2015-02-07 00:57] #4440 closed

[2015-02-07 01:53] gilles-leblanc commented on #3277
This issue can be closed.

[2015-02-07 02:56] jdm commented on #3277
Well, the dependencies still have hardcoded numbers. It's easier to track that here than one issue in each.

[2015-02-07 02:59] KiChjang commented on #4863
I can give this a try. This means that we should send in a string argument containing only the substring after the # sign in the URL, yes?

[2015-02-07 09:47] jdm commented on #4863
Yes. There is an API to extra that from a Url already - http://doc.servo.org/url/struct.Url.html#structfield.fragment

[2015-02-07 12:20] psdh commented on #4861
I could try to fix this.

[2015-02-07 12:40] Dexterp37 commented on #4627
This makes git clone on Windows report the following error when checking out:

*error: Invalid path 'tests/ref/hello_a?foo#bar.html'*

The following article talks about allowed characters in Windows paths: [link](https://msdn.microsoft.com/en-us/library/aa365247%28VS.85%29).

To recap:

* < > : " / \ | ? *
* Integer value zero, sometimes referred to as the ASCII NUL character.
* Characters whose i

[2015-02-07 13:28] KiChjang commented on #4769
Alright, time to actually move from easy to less easy, lemme try and flex my muscles on this one.

[2015-02-08 00:55] jdm commented on #4627
I guess we should just take the "#bar" out of the filename and update the entry in basic.lit to match.

[2015-02-08 01:02] jdm commented on #4861
This will require fixing #4617 first (which requires (aka. is blocked on) #4860).

[2015-02-08 01:03] jdm commented on #4769
Yep! See https://github.com/servo/servo/wiki/Adding-a-new-WebIDL-binding for reference.

[2015-02-08 06:48] KiChjang commented on #4769
Question... in the HTML spec it says that the `TextDecoder::decode` function must accept an optional  `BufferSource`. What would the be the equivalent of `BufferSource` in rust-speak?

[2015-02-08 08:34] jdm commented on #4769
Good question! I've filed a spec bug about that: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27979 . Googling around, I found http://heycam.github.io/webidl/#common-BufferSource, so I suggest adding that definition to the file for now.

[2015-02-08 08:45] KiChjang commented on #4769
Okay, so the question becomes "what is an `ArrayBuffer` in rust?"
Looking at the Servo documentation, I found [`std::io::Buffer`](http://doc.servo.org/std/io/trait.Buffer.html). Would that suffice as an `ArrayBuffer`?

[2015-02-08 08:52] Dexterp37 commented on #4627
Well, the whole "?foo#bar.html" needs to be taken out because of the question mark.

[2015-02-08 09:04] jdm commented on #4769
Nope - ArrayBuffer actually corresponds to a `*mut JSObject`, as it's a type that the JS engine provides. See https://github.com/servo/servo/pull/4639 for another example of a DOM implementation that uses them.

[2015-02-08 09:04] jdm commented on #4769
Well, it's uses Uint8ClampedArray, but that's just a a specialized form of ArrayBuffer.

[2015-02-08 09:08] jdm commented on #4627
Ah right. I guess we don't get to have an automated test for #3340 :(

[2015-02-08 10:27] shinglyu commented on #4236
The previous problem is solved, I manually tested it and the <a> tags works.

But I have some problem understanding [step 1, 2 and 3](https://html.spec.whatwg.org/multipage/semantics.html#the-a-element) in anchor element's activation behaviour, can I create a pull request for my current progress, and deal with these steps in a follow up bug?

Step 1: Don't really know how to check if the node docu

[2015-02-08 11:11] Manishearth commented on #4236
TL;DR: Skip all three if you want; leave comments/file followup issues. The third one is something you might want to try (whether in the same PR or another).

----------------------

Just some explanation of the specs/code to get you more familiar:

**Step 1**

`is_instance_activatable()` checks if the `HTMLButtonElement` _instance_ is activatable. The class is in general activatable, but disabled

[2015-02-08 12:14] Manishearth commented on #4627
We can have mach create the file based on your OS :)

[2015-02-08 12:21] Manishearth commented on #4627
Wait, we'd still need special harness code to make that work. Hmm.

[2015-02-08 13:35] yodalee commented on #4768
I'm stuck at `Encoding` method, which should find encoding name by `utfLabel`. I'm not sure how to implement these function.
Using a large `match` seems not a good idea. Using an `Hashmap` as a member of `TextEncoder` will require runtime initialization. I found there is a compile time Rust static map, but not sure I can use it.
https://github.com/sfackler/rust-phf
Any suggestion about this?

[2015-02-08 13:55] Dexterp37 commented on #4627
I just noticed "%" is allowed on Windows. If that's possible on other platforms as well, maybe we could encode special characters like done with the URLs? Like %3F for "?"?

[2015-02-08 14:22] Manishearth commented on #4627
But the test is explicitly for testing the opening of a file with a ? in its name :)

[2015-02-08 14:34] Ms2ger commented on #4236
I'd leave all three alone for the purpose of fixing this issue; however, please do leave comments along the lines of "// Step 1: document not fully active". Bonus points for filing issues about those steps.

[2015-02-08 14:40] Ms2ger commented on #4768
Is this <http://doc.servo.org/encoding/types/trait.Encoding.html#method.whatwg_name>?

[2015-02-08 14:49] yodalee commented on #4768
OH! my fault (: P)

[2015-02-08 16:27] #3986 closed

[2015-02-08 21:34] #4351 closed

[2015-02-09 00:10] SimonSapin commented on #4768
Also http://doc.servo.org/encoding/label/fn.encoding_from_whatwg_label.html

[2015-02-09 03:05] shinglyu commented on #4236
Thanks @Manishearth for the great tutorial!
@Ms2ger: I'll file the issues, thanks.

[2015-02-09 03:14] glennw commented on #2531
Covered by PR #4842

[2015-02-09 03:14] #2531 closed

[2015-02-09 06:18] shinglyu opened #4871 "Check if the node document is fully active in AnchorElement's activation_behavior"
(This is a follow up for #4236 )
Implement the step 1 in HTMLAnchorElement's activation behaviour spec: https://html.spec.whatwg.org/multipage/semantics.html#the-a-element:activation-behaviour

[2015-02-09 06:20] shinglyu opened #4872 "Handle specific browsing context in AnchorElement's activation behaviour"
(This is a followup for #4236 )
Implement the __step 2__ in HTMLAnchorElement's activation behaviour spec: https://html.spec.whatwg.org/multipage/semantics.html#the-a-element:activation-behaviour

[2015-02-09 06:22] shinglyu opened #4873 "Support the image map processing for <img ismap/> inside an <a/>"
(This is a followup for #4236 )
Implement the __step 3__ for HTMLAnchorElement's activation behaviour spec: https://html.spec.whatwg.org/multipage/semantics.html#the-a-element:activation-behaviour

[2015-02-09 07:56] Dexterp37 commented on #4627
Ouch! Then I guess conditionally creating it depending on the OS is the best bet :)

[2015-02-09 12:43] SimonSapin commented on #4627
Though it’s not great, I’d say it’s acceptable to remove `?` and name the file `hello_a#foo.html` or something, as long as it includes `#`. Both `?` and `#` are special in URLs, and this tests is about testing that a command line argument is *not* treated as an URL if it looks relative. So it’s unlikely we’d have this bug for one of the two characters but not both.

[2015-02-09 12:56] jdm commented on #4476
Looks like this is available for taking once more.

[2015-02-09 13:00] #4571 closed

[2015-02-09 13:06] jdm opened #4874 "mach run should produce a better error when the binary is missing"
[code]
This is really unintelligible. What it means is that `subprocess.check_call` threw an exception because it couldn't find the servo binary, so let's catch that exception in `post_build_commands.py`.

[2015-02-09 13:38] psdh commented on #4874
I will fix this

[2015-02-09 13:40] jdm commented on #4563
[code]

[2015-02-09 13:41] jdm commented on #4563
Looks like #4614.

[2015-02-09 13:41] #4563 closed

[2015-02-09 13:41] jdm commented on #3664
This looks like #4614.

[2015-02-09 13:41] #3664 closed

[2015-02-09 13:41] jdm commented on #4614
Also duckduckgo and https://www.chillingeffects.org/notices/10275257#

[2015-02-09 13:42] jdm commented on #4874
Thanks!

[2015-02-09 14:30] shinglyu commented on #4833
Let me take this one.

[2015-02-09 18:04] mttr commented on #4614
Imgur and chillingeffects work for me on my linux box; duckduckgo crashes with a different (but still font related) stack trace. I'll post that in a separate issue momentarily.

[2015-02-09 18:20] jdm commented on #4614
I'm on OS X, for what it's worth.

[2015-02-09 18:28] mttr opened #4876 "Panic in FontCacheTask on linux with duckduckgo"
[code]

[2015-02-09 20:29] Adenilson commented on #4786
We got YACT (Yet Another Color Type) in rust-layers: https://github.com/servo/rust-layers/blob/master/src/color.rs

[2015-02-09 20:48] Manishearth opened #4880 "Can't zoom out or scroll sideways on cropped pages"
STR:

 - Open https://github.com/servo/servo
 - Crop the window
 - Try to scroll sideways or zoom out, neither work

This makes it hard to see stuff on the Flame. As far as I can tell we just don't have support for zoom levels <100% (and no way to take a sideways scroll input)

[2015-02-09 20:50] psdh commented on #4800
I can try fixing this :)

[2015-02-09 21:10] mbrubeck commented on #4831
Once we land servo/rust-layers#148 and servo/gleam#12 we can revert #4830, and this issue will be fixed.

[2015-02-09 21:28] Manishearth commented on #4880
(I guess this affects Android too, but apparently we can't load anything on Android at the moment.)

[2015-02-09 22:43] jdm commented on #4800
@psdh That would be great! Shout if anything is confusing :)

[2015-02-09 23:41] Adenilson commented on #4786
First step here:
https://github.com/servo/rust-azure/pull/141

And:
https://github.com/servo/servo/pull/4879

[2015-02-10 02:26] glennw commented on #4846
Added a single character glutin PR for this (https://github.com/tomaka/glutin/pull/261)

[2015-02-10 03:36] awlnx opened #4883 "./mach run ./tests/html/about-mozilla.html does not work as expected after cloning (and building)"
Error running mach:

    ['run', './tests/html/about-mozilla.html']

The error occurred in code that was called by the mach command. This is either
a bug in the called code itself or in the way that mach is calling it.

You should consider filing a bug for this issue.

If filing a bug, please include the full output of mach, including this error
message.

The details of the failure are as follows:

[2015-02-10 04:31] awlnx commented on #4883
I should probably mention that I did actually check that the file exists. Also This occurs for every file

[2015-02-10 04:56] awlnx commented on #4883
subproccess(args, env=env)
subproccess calls ./components/servo/target/servo. This is missing in my directory.

[2015-02-10 06:04] psdh commented on #4800
@jdm, as far as I have understood, I will have to rename the `getJSToNativeConversionTemplate` and then add the code that you have marked. I did not get the returning tuples part. It is returning tuples right now, what do we want it now to do?

[2015-02-10 11:24] jdm commented on #4800
@psdh In Gecko, they return a structure. That's much better for code readability in this case, so we want to return a structure too.

[2015-02-10 11:26] jdm commented on #4883
This looks like a duplicate of #4874.

[2015-02-10 11:26] jdm commented on #4883
Oh wait, you say you built but the binary's missing? What's up with that?

[2015-02-10 14:51] Manishearth commented on #1908
Going to use this as a tracking issue

[2015-02-10 14:52] Manishearth commented on #1908
Requirements:

Native bindings:

[2015-02-10 14:59] Manishearth commented on #1908
cc @klutzy @retep998

[2015-02-10 15:06] #4747 closed

[2015-02-10 15:27] shinglyu commented on #4833
Loaded ![2015-02-10 23 24 39](https://cloud.githubusercontent.com/assets/3250983/6129865/3c5ed56c-b17c-11e4-810a-2d1975903e6f.png)
After clicking "->" ![2015-02-10 23 25 11](https://cloud.githubusercontent.com/assets/3250983/6129863/3c57dfe6-b17c-11e4-8f89-1bc08e5ade48.png)

[2015-02-10 15:39] gilles-leblanc commented on #4834
This one can be closed.

[2015-02-10 15:43] yodalee commented on #4768
The spec said the `TextEncoder` should throw a `RangeError` if input label is not a UTF type. However, the `RangeError` is not defined in `domexception`. Should I add an new exception or is there alternative exception? Since I saw the link in `DOMException.webidl`
https://dom.spec.whatwg.org/#domexception
There it says
[code]

[2015-02-10 16:22] #4834 closed

[2015-02-10 16:22] jdm commented on #4833
It looks like we're not noticing that the original slide contents should be hidden when restyling.

[2015-02-10 16:30] Manishearth commented on #1908
Makefile notes  (https://github.com/servo/rust-harfbuzz/pull/36, https://github.com/servo/mozjs/pull/27):

Check for Windows (`ifeq (windows,$(findstring windows,$(TARGET)))`), then do the following:

 - `OUT_DIR:=$(shell cygpath "$(OUT_DIR)")`
 -  `ifeq (cc,$(CC))`, set `CC = gcc`, `CPP = gcc -E`

[2015-02-10 16:46] gilles-leblanc commented on #3576
@ctlevi Hi, I'm wondering if you're still working on this? Otherwise I would like to take it.

[2015-02-10 18:24] retep998 commented on #1908
On Windows we can abandon OpenSSL and use WinHTTP which is a native system library. It is what Cargo uses on Windows. But since MSYS2 can provide us with an OpenSSL package, it isn't too much of a hassle.
https://msdn.microsoft.com/en-us/library/windows/desktop/aa382925%28v=vs.85%29.aspx
As for font loading, use the native Windows methods?
https://msdn.microsoft.com/en-us/library/dd162620%28v=vs.8

[2015-02-10 18:27] Manishearth commented on #1908
We'd need to make Hyper and Servo SSL-backend-agnostic then, which sounds like more work.

Besides, the handling of cookies depends on libcrypto. If we get openssl on msys2 that should be enough, otherwise it's not too hard to just build it (we do this for Android already)

Native windows methods sound good. Even better if we can wrap it in an API that's like fontconfig or something.

[2015-02-10 18:59] tomaka commented on #1908
The windows implementation of glutin is actually the one that I trust the most.

[2015-02-10 19:11] awlnx commented on #4883
I'm  not sure. A fresh clone and build fixed the issue. It might be worth noting that mach did not output a nonzero exit code or an error message on the failed build.

[2015-02-10 19:16] jdm commented on #3576
@Manishearth actually has a syntax extension that should be able to accomplish this automatically after the next Rust upgrade, so I don't think it's worth investing the time to do this manually any more.

[2015-02-10 19:16] jdm commented on #4883
Ok. We can reopen if you come across the problem again.

[2015-02-10 19:16] #4883 closed

[2015-02-10 19:17] Manishearth commented on #3576
Yeah, I have one. https://github.com/Manishearth/servo/compare/reexport , but it doesn't work yet because rustup

[2015-02-10 19:35] larsbergstrom opened #4892 "Don't rebuild all of the tests when we're just running the reftests"
[code]

Should just be a change to the python files listed in the above conversation.

[2015-02-10 19:41] mbrubeck commented on #4892
One solution would be to make the reftest harness a separate Cargo crate with its own Cargo.toml, and build it by running `cargo build` in the tests/ref directory.

Whatever we do for test_ref should also be usable for test_content.

[2015-02-10 22:36] zslayton commented on #2005
[This pull request](https://github.com/servo/servo/pull/2489/commits) was merged a couple of months ago and seems to address `RenderChan`. Are there others I could take a look at as a first bug?

[2015-02-10 22:49] glennw commented on #1144
Verified that summit2 and summit3 are showing the iframes correctly.

[2015-02-10 22:49] #1144 closed

[2015-02-11 00:29] glennw commented on #4545
Fixed by https://github.com/servo/servo/pull/4616

[2015-02-11 00:29] #4545 closed

[2015-02-11 01:26] cybergeek94 commented on #1908
I would like to volunteer [fontconfig-rs][1] for cross-platform font loading. It doesn't *technically* have OS X or Windows support yet but it's really just a matter of having it pass a custom config to the `fontconfig` library that tells it where the fonts live on those platforms. GIMP is a good example of a program using fontconfig on Windows.

[1]: https://github.com/cybergeek94/fontconfig-rs

[2015-02-11 02:25] shinglyu commented on #4833
I got different results (fonts and layout) by running `./mach run` and `targets/servo` directly, is there any parameter in `./mach run` that affects the layout?

[2015-02-11 02:28] retep998 commented on #1908
@cybergeek94 No but I can easily add any methods needed.

[2015-02-11 02:41] nnethercote opened #4897 "Software rasterization on Linux uses lots of memory"
When I view about-mozilla.html, on Mac my RSS is about 80 MiB, but on Linux it's about 135 MiB. A lot of the difference seems to be involve i965_dri.so. Here are some relevant stack traces from Massif.

[code]

pcwalton says that I'm getting software rasterization.

This is on an Ubuntu 14.10 box with the following graphics hardware, according to Firefox's about:support.
- Adapter Description   In

[2015-02-11 04:16] jdm commented on #4833
Huh, I wouldn't expect that. http://mxr.mozilla.org/servo/source/python/servo/post_build_commands.py#33 defines the arguments passed to it.

[2015-02-11 04:28] jdm commented on #2005
I'm not aware of anything in particular. We'll file new issues for anything new we come across; this one isn't particularly useful.

[2015-02-11 04:28] #2005 closed

[2015-02-11 05:55] jdm opened #4898 "Allow mach clean to take an optional package argument"
`./mach clean` does a full clean of everything. Sometimes you just want to clean a particular crate or dependency, which is possible via `cd components/servo && ../../mach cargo clean -p package`. We can improve this by adding an optional argument that causes the previous command to be run if it's present. Use the `update-cargo` implementation for reference: http://mxr.mozilla.org/servo/source/pyt

[2015-02-11 11:07] Ms2ger commented on #4768
Using `RangeError` won't work right now; throw something sensible and file a followup for now.

[2015-02-11 11:30] #4350 closed

[2015-02-11 13:23] shinglyu commented on #4833
Sorry, problem solved now. I got the wrong binary from an old build.

[2015-02-11 15:42] shinglyu opened #4899 "CPU remains at 100% for a super simple page"
I run `./mach run /tmp/test.html`, where `/tmp/test.html` is just

[code]

But the CPU remains 100% even if I left the window idle for a long time. Is this normal?
![2015-02-11 23 36 59](https://cloud.githubusercontent.com/assets/3250983/6149963/5edb1904-b247-11e4-9c6f-231bc2d1e3b4.png)

My OS is Linux Mint 17 Qiana

[2015-02-11 16:33] jdm commented on #4899
We should profile this. Want to try running it under `perf`?

[2015-02-11 17:53] vvuk commented on #1908
For fontconfig, is what's needed just font selection, which is then passed to Skia for shaping and rasterization?  Win32 fontconfig already exists as part of the win32 gtk+ port as was mentioned above, so it may be possible to just use that along with fontconfig-rs.  Bundling all these DLLs (openssl, fontconfig, etc.) together in a "servo-win32-support" package would probably be helpful so that pe

[2015-02-11 18:00] metajack commented on #1908
Won't not using platform font enumeration methods result in users seeing inconsistent fonts between native platform apps and Servo? Or is fontconfig using native facilities behind the scenes?

[2015-02-11 18:10] vvuk commented on #1908
It will; I would expect that along with stuff like openssl, it would be a stopgap measure in order to get a port up.  Then pieces can be rewritten to use the native Windows APIs,or at least to work in a more Windows-like manner. On Windows, Gecko uses DirectWrite natively, though font selection is mostly done by Gecko directly and less by fc.  (Fc gets used for enumeration/querying/etc.)

[2015-02-11 18:41] psdh commented on #4800
How should I go about returning the `needsRooting` (4th element of the tuple which is being returned). The first three are part of the `JSToNativeConversionInfo' class.
I tried referring to [1] but could not comprehend it very well.
[1]: https://mxr.mozilla.org/mozilla-central/source/dom/bindings/Codegen.py#4180

[2015-02-11 18:55] jdm commented on #4800
`needsRooting` is a Servo addition, so you should add it to `JSToNativeConversionInfo`.

[2015-02-11 19:38] glennw commented on #4899
This is a known bug in glutin's event handling loop - it will be sorted next time we update.

[2015-02-11 19:38] #4899 closed

[2015-02-11 23:20] awlnx commented on #4898
I can get working on this.
can you clarify "we can improve this by adding an optional argument that causes the previous command to be run if it's present.". With an example.

[2015-02-12 01:03] jdm commented on #4898
@awlnx I would like `./mach clean -p compositing` to be the equivalent of `pushd components/servo; ./mach cargo clean -p compositing; popd;`. I might be enough to simply allow passing any arguments to `./mach clean` through to the underlying `cargo clean` that gets executed. See how commands like `./mach run` handle this in post_build_commands.py.

[2015-02-12 01:17] Manishearth commented on #2853
Gonk blocker: https://github.com/rust-lang/cargo/issues/1293

[2015-02-12 01:34] cybergeek94 commented on #1908
@metajack Windows stores all its fonts in pretty much one location (`C:\Windows\Fonts`), so there shouldn't be a discrepancy between the selection queried through the Win API and fontconfig. The Unix-based platforms actually have a bit more fragmentation in this area; OS X is really the only complex platform for font location since on Linux, fontconfig is installed through the given package manage

[2015-02-12 01:37] gilles-leblanc commented on #4892
I'd like to work on this please.

[2015-02-12 01:43] retep998 commented on #1908
Not all fonts on Windows are actually stored in `C:\Windows\Fonts`. Fonts can be added and removed at any time using `AddFontResource`, where they will be listed in the fonts when you use the Windows API for enumerating fonts, but they won't actually be in the Fonts folder. A `WM_FONTCHANGE` will be sent to all top level windows to indicate of any such additions/removals as well.

[2015-02-12 01:47] cybergeek94 commented on #1908
@retep998 I wouldn't depend on those fonts being available for any respectable amount of time if they can be added and removed at will. I don't think Servo should, either. FWICT, installed custom fonts are copied into this folder so they are available at any time, which would be my only concern.

[2015-02-12 01:50] retep998 commented on #1908
Fonts can be added or removed from the Fonts folder at will as well, and we'd need to hook into the notifications regardless to detect that. If we want to be robust, we have to take the approach Firefox uses. If we don't want to be robust for now, just to get things working, that's fine. But eventually this is something that we'll need to do.

[2015-02-12 01:52] Manishearth commented on #1908
What does Firefox do here?

[2015-02-12 02:14] Manishearth commented on #1908
[code]

I guess we should have a look at DirectWrite?

[2015-02-12 02:23] nattokirai commented on #1908
Not sure what servo is doing for CSS font matching but that code really needs to exist in servo, since you need an implementation for on-demand loading for @font-face families. You **really** want to use native platform API's and **not** fontconfig for this. So DirectWrite on Windows, CoreText on OSX, fontconfig on Linux and roll-your-own on Android.

[2015-02-12 02:29] cybergeek94 commented on #1908
Sounds like a new library project: cross-platform font querying using native APIs.

[2015-02-12 02:33] nattokirai commented on #1908
Yeah, the level of support for various things related to fonts needed by a modern web browser varies across platforms. In general, you'll need to maintain some sort of font lookup interface and fill in what's needed on a per-platform basis. OSX and DirectWrite are fairly easy, fontconfig and Android are relatively painful. Gecko uses platform API's to maintain a list of font families available and

[2015-02-12 02:37] nattokirai commented on #1908
Key features of a font system interface:

- lookup a font **family** name
- enumerate styles within a single family
- select a given face within a family based on CSS font properties (i.e. weight/width/slant)
- activate a font from data (with required sanitation such as OTS)
- lookup individual font faces via a fullname or Postscript name

[2015-02-12 02:42] nattokirai commented on #1908
For browsers you'll also need:

- system font fallback, the ability to find a font for a given character
- mappings of generics based on language/script (e.g. ``sans-serif`` for Arabic and Japanese are not the same font)
- ability to read (and cache) font metrics and font table data

[2015-02-12 02:43] Manishearth commented on #1908
cc @SimonSapin

[2015-02-12 06:11] kud1ing commented on #3893
@raphaelbastide I like the round version. It looks like something is spinning fast.

[2015-02-12 06:14] kmcallister opened #4901 "Cross-platform font selection engine"
See discussion on #1908.

@cybergeek94:

@nattokirai:

See also #3369, #3030, #1677, #249, #190, #186, and many others.

cc @Manishearth, @jdm

[2015-02-12 06:15] kmcallister commented on #1908
I've created a new ticket for the font discussion, which is drifting away from Windows-specific.

[2015-02-12 17:11] narfg commented on #669
I can't reproduce this.

[2015-02-12 17:15] #4725 closed

[2015-02-12 17:18] jdm commented on #669
Agreed.

[2015-02-12 17:18] #669 closed

[2015-02-12 18:00] #4863 closed

[2015-02-12 18:02] kud1ing commented on #3893
A sketch of something speed-blurry http://imgur.com/Ogoc1Ib

[2015-02-12 19:10] jdm opened #4906 "CharacterData::SubstringData slices incorrectly"
The slicing should be from offset to offset + count, but it just slices from offset to count instead.

[2015-02-12 19:28] vvuk commented on #1908
From poking at this, a large chunk of the difficulty in getting Servo building on Windows will be dealing with paths.  Specifically, os::Path on windows normalizes all paths to true Windows paths, e.g. "C:\foo\bar".  This is a problem, because a lot of existing crate makefiles will do things like "cd $(OUTDIR) && ...", which will turn into "cd c:\foo\bar", which becomes "cd c:foobar" when it gets

[2015-02-12 19:31] jdm opened #4907 "Allow suspending web content timers"
When navigating away from a page, it should be frozen. Part of that is suspending any existing timers (ie. setTimeout and setInterval), so the timer cancellation code in `timers.rs` should be expanded to include suspending and resuming them.

[2015-02-12 20:12] Manishearth commented on #1908
We could just do all path manipulation in the build script and pass these full paths as env vars to the build script. Path manipulation can be done in an os independent way in Rust, afaict.

-----Original Message-----
From: "Vladimir Vukicevic" <notifications@github.com>
Sent: ‎2/‎13/‎2015 12:58 AM
To: "servo/servo" <servo@noreply.github.com>
Cc: "Manish Goregaokar" <manishsmail@gmail.com>
Subject

[2015-02-12 20:33] Ms2ger commented on #1871
This involves implementing a `finalize_global` function that calls `Box::from_raw` on the result of `get_proto_or_iface_array` to let it drop and changing the code returned by `finalizeHook` in `CodegenRust.py` to call `finalize_global` if `descriptor.isGlobal()`.

[2015-02-12 21:14] SimonSapin commented on #1908
Isn’t this fixed with quoting? `cd "$(OUTDIR)" && ...`

[2015-02-12 22:10] vvuk commented on #1908
It is, but requires all the relevant crate build scripts to quote appropriately, or things will break on Windows.  If there was a unified monolithic build system (e.g. how Gecko is built) then that seems reasonable, but given the (better) modular approach, I don't think there's a way of enforcing Windows build compatibility.

[2015-02-12 23:39] jdm commented on #3247
This is possibly tied up with #3621. We also hit this assertion on the static copy of amazon.com.

[2015-02-12 23:52] klutzy commented on #1908
@vvuk: `OUT_DIR:=$(shell cygpath "$(OUT_DIR)")` is used in servo/rust-harfbuzz#36 and  servo/mozjs#27. Cargo sets `OUT_DIR` as environment variable, so the simple trick works.
This is msys-specific issue and I think Rust or Cargo shouldn't need to understand msys.

[2015-02-13 02:20] nnethercote opened #4915 "Arbitrarily high physical memory usage while scrolling"
On both Linux and Mac I can get physical memory usage to become arbitrarily high by repeatedly scrolling up and down the "Guardians of the Galaxy" wikipedia page from servo-static-suite. Here's sample -m output on Linux (with my patches from #4894 applied):
[code]
The relatively low `system-heap-allocated` and `jemalloc-heap-allocated` numbers indicate that the memory is not on either heap, so it

[2015-02-13 02:49] nnethercote commented on #4915
Whoa:
[code]
I used GDB to see where the mmap calls are occurring and they all seem to be coming from jemalloc. So I now suspect that the `jemalloc` measurements from the memory profiler are bogus.

[2015-02-13 03:05] gilles-leblanc opened #4916 "Mach bootstrapping should sync/update submodules"
Following the latest rustup, I ran into an error when trying to ```mach clean``` or ```mach build``` relating to the sub modules.

Mach's bootstrapping should run either ```git submodule sync``` or ```mach update-submodules``` to automate this and prevent this from happening.

[2015-02-13 04:19] nnethercote commented on #4915
I've confirmed that the current jemalloc measurements are bogus. #4917 has a fix. With that fix applied, it's clear that the increase is coming jemalloc, i.e. from allocations within Rust code. Here's a particularly horrifying case I got with wikipedia:
[code]

[2015-02-13 05:50] SimonSapin commented on #4874
Or shouldn’t `mach run` start with `mach build`? This would trigger a compile not only if the binary is missing, but also if it’s out of date. This is how `cargo run` works.

[2015-02-13 05:59] Manishearth commented on #4874
I'd prefer if it didn't; I want to be able to test things without triggering a build.

That's the makefile way of doing things; mark build as a dep for run/test and rebuild every time you need to. Except that this can trigger large rebuilds when all you wanted was to test it. The Firefox/mach way of doing it is to have builds be explicit, and tests will run on binaries if they exist (if not, trigg

[2015-02-13 08:37] SimonSapin commented on #4874
Ok, that makes sense.

[2015-02-13 09:59] Ms2ger opened #4920 "Stop opting in to the rustc_private feature."
We need to move to the crates.io crates rustc-serialize and log; the former is already partially done.

[2015-02-13 10:06] Ms2ger opened #4921 "Remove glob re-exports in devtools_traits/lib.rs."
Users should qualify the variants or import them from the enum.

[2015-02-13 11:23] yodalee commented on #4906
I think I can do this.

[2015-02-13 11:48] jdm commented on #4906
I believe so. Testing the behaviour would be great - we can add one easily to tests/content/ and run it using `./mach test path/to/test.html`, but it would also be a good idea to submit one to https://github.com/w3c/web-platform-tests/, since https://github.com/w3c/web-platform-tests/search?utf8=%E2%9C%93&q=substringdata&type=Code shows very little usage.

[2015-02-13 11:57] jdm commented on #4778
This is showing up as intermittent test failures. I'm inclined to proceed with this change.
[code]

[2015-02-13 12:23] jdm commented on #1714
@jviereck I saw you were inquiring about it - yes, this is still quite relevant and unfixed :)

[2015-02-13 12:33] jdm opened #4923 "Intermittent failure in pages with timers"
I see one new failure [here](http://build.servo.org/builders/mac2/builds/962/steps/shell/logs/stdio):
[code]
This should just be a silent failure; there's no need to unwrap the result, we can just check for failure and shut the task down gently. Relevant code is in `components/script/timers.rs`.

[2015-02-13 12:44] jdm commented on #4916
Relevant code: http://mxr.mozilla.org/servo/source/python/servo/build_commands.py

[2015-02-13 13:51] #4898 closed

[2015-02-13 14:18] jdm opened #4926 "Support navigating session history in subframes"
The compositor really shouldn't be the one issuing backwards and forwards navigation instructions based on keypresses; that task belongs to the script task, which has some concept of document focus. Accordingly, this will allow focusing on an iframe and pressing backspace to move backwards in history for that iframe alone.

[2015-02-13 16:43] vvuk commented on #1908
Yep, that works fine -- but it requires every single makefile.cargo to check for windows and include `OUT_DIR:=$(shell cygpath "$(OUT_DIR)")` or it will just simply fail to work on Windows.  That seems counter to making things easy. MSYS is a unique environment beyond just plain Windows; treating it as one can avoid a lot of future cargo pain in general, not just Servo.

Another option is to do aw

[2015-02-13 16:44] vvuk commented on #1908
Rust seems to support windows "C:\foo\bar" paths and Unix "/foo/bar" paths.  I don't see any support for the desired hybrid "C:/foo/bar" syntax that msys and a lot of native tools understand.

[2015-02-13 16:45] #4921 closed

[2015-02-13 18:24] larsbergstrom commented on #4915
@pcwalton I don't know if you're following this investigation, but it looks like we have a horrific number of allocations coming from Rust code during scrolling.

[2015-02-13 20:48] thiagopnts commented on #4704
I'll start to dig into this.

[2015-02-13 21:17] jdm commented on #4704
Great!

[2015-02-14 02:18] nnethercote commented on #4915
I'm hoping to get some detailed profiling data next week that will identify which parts of the Rust code are responsible.

[2015-02-14 05:34] KiChjang commented on #4769
Oh, big problem - the python script that generates the bindings threw an exception saying `TypeError:: Can't handle SpiderMonkey Interface arguments yet` whenever I tried to use `ArrayBuffer` or `ArrayBufferView`.

[2015-02-14 12:25] psdh commented on #4923
I need some help understanding this ^

[2015-02-14 13:23] psdh commented on #4916
Should mach build sync at everytime it is invoked,
If not, How should I test?

[2015-02-14 14:32] SimonSapin commented on #4916
This should happen in [`ensure_bootstrapped`](https://github.com/servo/servo/blob/3e7dc576934acb935fd67b6b3d909aca216c5dec/python/servo/command_base.py#L165), which is called at the beginning of most commands. Currently it runs `git submodule status` and based on the output conditionally runs `git submodule update <something>`.

[2015-02-14 14:50] psdh commented on #4916
@SimonSapin ^ is what I was asking, do we want to sync every time?

[2015-02-14 19:38] Nercury commented on #3893
When looking at all the ideas, I just had this funny thought to combine spiny things, rotating spikes, hedgehog and the modified Fira font:

![Hedgehog servo logo](https://raw.githubusercontent.com/Nercury/Nercury.github.io/master/artwork/servo/logo_v1.png)

[2015-02-14 20:35] FireDart commented on #3893
I really like @raphaelbastide circle logo. Throwing some more ideas out there, maybe something that incorporates the theme of "parallel" into the logo? Since Servo describes its self as a fast **parallel** browser?

Also were does the origin of the hedge hog come from?

[2015-02-15 02:15] gilles-leblanc commented on #4892
I have started working on this and I have a problem which I'm not sure how to solve.

While creating a crate for reftest I added the rust-png dependency in the Cargo.toml file. The problem is rust-png itselfs depends on gcc-rs and the version locked by Cargo of gcc-rs (0.2.1) doesn't build with our version of Rust.

If I check in the .lock files of the other servo crates that depend on png, the ve

[2015-02-15 02:56] Manishearth commented on #3893
It seems like it's just a play on the fox.

Also, it just occurred to me, Whimsycorn makes a fun logo:

![](https://pbs.twimg.com/media/B92WR2JCYAAs3qs.png:large)

(If you've never seen that before, use Firefox's customization feature to remove everything from the panel menu and see what happens)

[2015-02-15 13:23] KiChjang commented on #4769
When JavaScript does `new TextDecoder()`, Rust throws a `SyntaxError`. The default `label` argument to the constructor is `utf-8`, but `encoding_from_whatwg_label`doesn't like the default `utf-8` string generated by the python bindings. Instead, if you do `new TextDecoder('utf-8')` in JavaScript, then `encoding_from_whatwg_label` doesn't complain.

[2015-02-15 15:11] KiChjang commented on #4511
Found the relevant code under `DedicatedWorkerGlobalScope::run_worker_scope`. The entire URL fetching functionality is handled by `net::resource_task::load_whole_resource`.

I can try handling this.

[2015-02-15 19:30] Ms2ger commented on #4769
Pre-existing bug; I'll deal with it.

[2015-02-15 20:39] jdm commented on #4923
When the timer thread in `timers.rs` sends messages to the script task, it calls `unwrap` on the result. This causes a panic if the send failed, but we don't actually need to care about this, so we should just discard the result instead of calling unwrap.

[2015-02-15 20:49] jdm commented on #4892
If necessary, you should be able to hand-edit the Cargo.lock file to use the version you require.

[2015-02-15 20:52] thiagopnts commented on #4704
By non-worker globals, you mean the ones passed by script_task's `load` method in `DevtoolsControlMsg::NewGlobal` message?

[2015-02-15 20:53] jdm commented on #4704
Correct. Those are all globals that come from top-level page loads or iframe loads.

[2015-02-15 21:01] frewsxcv opened #4933 "Hacker News newcomments causes crash"
Currently on 3e7dc57

[code]

[2015-02-15 21:04] jdm commented on #4933
@kmcallister When upgrading html5ever for the most recent upgrade I stubbed out the new reparent_children trait method. What's involved in implementing it properly?

[2015-02-15 21:04] jdm commented on #4933
@kmcallister Also, what's it mean that remove_from_parent is unimplemented in the parser as well?

[2015-02-16 01:08] mbrubeck commented on #4892
Hmm, I just realized this means that we are rebuilding *all* the dependencies again just for the reftest harness.  This cure might be worse than the disease, at least until rust-lang/cargo#482 is fixed. :(

[2015-02-16 05:20] KiChjang commented on #4506
This is similar in taste with #4511, I can try and fix this as well.

[2015-02-16 05:35] nnethercote commented on #4915
I built a more fine-grained memory profiler out of balsa wood, rubber bands, and GDB. I've used it to find a few things.

At first I thought the increasing RSS was due to traversal.rs's bloom filters being cloned frequently (#4938) but that appears to just cause heap churn without increasing memory usage.

I'm now most suspicious of this stack trace, which occurred 128 times, allocating 4 MiB each

[2015-02-16 05:37] nnethercote commented on #4915
In the same run, the following stack trace also showed up 29 times (out of the 439 chunks).
[code]

[2015-02-16 13:38] shinglyu commented on #4833
Still studying how layout works by reading the code and wiki. Is there any guide on logging or using the debugger? I can only find [this](https://github.com/servo/servo/wiki/Debugging) but I am having some trouble understand it.

[2015-02-16 14:13] KiChjang commented on #4923
By "discard the result", do you mean do nothing, or `break` out of the loop? In your first message, you said "shut the task down gently".

[2015-02-16 15:34] jdm commented on #4923
Yes, breaking out of the loop would be appropriate.

[2015-02-16 15:35] jdm commented on #4833
For logging you can use RUST_LOG=layout to see _all_ possible output, or RUST_LOG=layout::module::sub_module to restrict the output. For using the debugger, any general tutorial for LLDB or GDB should suffice.

[2015-02-16 15:37] jdm commented on #4915
That last one is just the code that gives threads names :(

[2015-02-16 16:11] gilles-leblanc commented on #4892
Then, I'll put it on hold until we can get target directory sharing from Cargo.

[2015-02-16 18:36] awlnx commented on #4103
So What is the Desired Behavior? Catch the Exception and then?

[2015-02-16 20:33] larsbergstrom commented on #4915
Is it possible the default minimum allocation size for jemalloc is 4MB? If so, it would make sense that it's happening in the code that gives the threads names, as that may be the first thing we do after spawning the pthread that executes allocating rust code.

As to the other one, it looks like the source of those allocations is probably https://github.com/servo/servo/blob/66f4faf44fbc6e8703d4336

[2015-02-16 21:02] narfg commented on #4915
I just want to add that you can also create arbitrary amounts of memory usage by just moving the mouse inside the window. It doesn't seem to be a specific scrolling issue.

[2015-02-16 21:45] Manishearth commented on #4103
Just error early "The test harness did not compile".

[2015-02-16 21:45] #1248 closed

[2015-02-16 22:13] bjwbell commented on #4658
Borders for `display: inline` elements don't correctly render across multiple text nodes. Which is why the bug appears when using the `<code>` element. The `<code>` element by default is `display:inline`.

You verify the same bug with `<div>` elements by setting their style to `display:inline`.

[2015-02-16 22:14] nnethercote commented on #4915
If jemalloc is using thread-local heaps, as the `tcache` naming suggests it is -- but I'm not certain about that -- then, yes, the `ffi::c_str::CString::from_slice` stack would be explained by that being the first allocation done for each new thread.

[2015-02-16 22:44] awlnx commented on #4103
does test-content build the tests?

[2015-02-16 22:49] Manishearth commented on #4103
It builds the test runner, yes. Also `test-ref`

[2015-02-16 23:21] awlnx commented on #4103
alright. I will get working on this

[2015-02-16 23:48] Ms2ger opened #4941 "XMLHttpRequestEventTarget should not be [NoInterfaceObject]"
Blocks #2525.

* Spec: <https://xhr.spec.whatwg.org/#xmlhttprequesteventtarget>.
* Code: `components/script/dom/webidls/XMLHttpRequestEventTarget.webidl`.
* Test: `/XMLHttpRequest/interfaces.html`.

This was changed in <https://www.w3.org/Bugs/Public/show_bug.cgi?id=27823>.

[2015-02-17 00:41] nnethercote commented on #4915
glandium confirmed for me that the `tcache` stuff is thread-local state used by jemalloc to provide lockless fast paths. So it's safe to ignore.

[2015-02-17 01:05] nnethercote commented on #4915
I added a debugging println and only got ~1,000 when scrolling through the GotG page, which doesn't seem that high.

[2015-02-17 01:58] tomjakubowski commented on #4923
The problematic unwrap appears to be inside the `send` method of the `ScriptChan` impl for `NonWorkerScriptChan`, and not directly in the timer loop as I initially read from the issue description. The solution then, it seems to me, would be to change `send`'s signature to return a `Result<_, Something>`  and checking its return type in the loop (and wherever else the `ScriptChan::send` method is c

[2015-02-17 02:57] glennw opened #4944 "Compositor layers for fixed rectangles are drawn incorrectly."
In the following example, the layer is drawn at (-3,-3) meaning that the rectangle does not stretch to the right edge of the window correctly. This is something to do with how layer origins + overflow interacts, but I haven't dug further than that.

[code]

[2015-02-17 02:57] glennw commented on #4944
@mrobinson Any ideas?

[2015-02-17 04:03] jdm commented on #4923
I agree with @tomjakubowski!

[2015-02-17 04:04] nnethercote commented on #4915
I just discovered that the jemalloc used by Rust has good Valgrind hooks
(unlike the jemalloc currently used in Firefox) and so running Massif in
vanilla mode gives good data about live blocks. And now I have a smoking gun:
[code]
Which is the same one I was suspicous about yesterday.

I did some more digging with println!() statements and determined that the `MouseWindowMoveEventClass` and `Quit`

[2015-02-17 05:09] srlakhe commented on #4605
@jdm
Hi,

I would like to get started on contributing to servo and would like to work on this bug as my first bug.
How should I proceed forward?

Thanks
shreyas

[2015-02-17 05:17] jdm commented on #4605
Sorry @srlakhe, @chmanchester has already submitted a PR to solve this issue.

[2015-02-17 05:27] awlnx commented on #4103
do you know what file I should edit to make building fail?

[2015-02-17 05:28] jdm commented on #4103
Either reftest.rs or contenttest.rs.

[2015-02-17 05:40] glennw opened #4945 "inline-block layout doesn't respect min-width correctly"
[code]

[2015-02-17 06:43] pkondzior commented on #4907
I'm willing to take my shot working on this task.

During the IRC conversation with @jdm I've managed to figure out whats could be the best approach for implementing suspend/resume functionality, this comments is brief technical approach for the change.

Changes:
1. Add `enum TimerState { Cancelled, Resumed, Suspended }` into `timers.rs`
2. Rename `TimerHandle` `script_chan` into `control_chan` an

[2015-02-17 09:09] narfg commented on #4915
I noticed that this issue affects only some sites. Mouse movement on en.wikipedia.org causes high memory usage; Hacker News doesn't show this behavior. Probably the main difference between these test cases is that mouse movement on Wikipedia causes all the text to move by a few pixels (issue #2894).

[2015-02-17 09:22] SimonSapin commented on #4916
To be honest I’m not sure. I think makes sense to run `submodule sync` every time we run `submodule update` but the former doesn’t accept `--recursive`. Also we’ll need to make sure that the script works for both a new servo clone and an existing clone.

[2015-02-17 11:23] KiChjang commented on #4769
Is there an issue number that tracks the bug that @Ms2ger mentioned? The `SpiderMonkey` interface arguments for the WebIDL also needs to be implemented (`Uint8Array`, `ArrayBuffer`, ...).

[2015-02-17 14:41] nnethercote commented on #4915
One other thing I didn't mention: `handle_window_message` also receives millions of `Idle` events on the GotG page. These are no-ops but it still seems sub-optimal from a CPU/power viewpoint.

[2015-02-17 14:42] jdm opened #4948 "Remove ScriptMsg::Navigate"
It appears to be unused, since nobody instructs the script task to perform navigation in history.

Code: `components/script/script_task.rs`

[2015-02-17 14:49] jdm commented on #4907
There are two ways to test your code - either integrate it with the session history, or add some temporary methods to `Window.webidl` that call `WindowHelpers::freeze` and `WindowHelpers::thaw` respectively, then write a page that sets some timers and calls `window.freeze()`. The timers shouldn't execute until `window.thaw()` is called.

If you want to try the session history integration, the back

[2015-02-17 16:26] Ms2ger commented on #4920
Finished serialize in #4947.

[2015-02-17 17:11] seanmoon80 commented on #4948
I think I could do this.

[2015-02-17 17:13] jdm commented on #4948
Go for it!

[2015-02-17 17:42] psdh commented on #4146
I'll take a shot at this

[2015-02-17 18:24] #4941 closed

[2015-02-17 23:08] pcwalton commented on #4915
We should probably throttle those events.

[2015-02-17 23:34] mrobinson commented on #4944
Hrm. Do you know if the error is originating in the compositor or in layout?

[2015-02-18 05:32] nnethercote commented on #4915
I did a Massif run where I quit Servo via ctrl-c rather than clicking in the Window's 'X' button. This avoids the generation of any `Quit` events and `mpsc_queue` didn't show up at all. So that means the high `mpsc_queue` memory usage is caused by the flood of `Quit` events upon quitting, which makes a certain amount of sense -- millions of `Quit` events will overwhelm it.

And that means the memo

[2015-02-18 16:15] shinglyu opened #4953 "Certificate check failed for URL in "Certificate Subject Alt Name""
Certificate checked failed for https://tw.yahoo.com .

The certificate's CN is `www.yahoo.com`, while `tw.yahoo.com` is in the "Certificate Subject Alt Name" field.

@Manishearth may be interested in this.
![2015-02-18 23 37 11](https://cloud.githubusercontent.com/assets/3250983/6250994/437654b4-b7cc-11e4-8944-d8410b0b5179.png)

[2015-02-18 16:18] Manishearth commented on #4953
The relevant root cert is in our certfile.

I suspect we're not setting some verify option that openssl requires.

I might take some time going through this as it involves either:

 - Going through tons of openssl code
 - Creating fake certs and testing this to get a minimal example.

[2015-02-18 16:39] Manishearth commented on #4953
Possible issues:

https://wiki.mozilla.org/CA:FAQ#Can_I_use_Mozilla.27s_set_of_CA_certificates.3F  https://groups.google.com/forum/#!msg/mozilla.dev.security.policy/FYIBEF_AVMI/2KYQrWirsiQJ

Apparently we're not supposed to use Mozilla's root store without using NSS too. The main issue seems to be the trust bit (which we check), but this might need looking in to.

[2015-02-18 17:20] mbrubeck opened #4954 "Verify hostnames in SSL certificates"
When visiting a site whose certificate is invalid because of a hostname mismatch (such as https://en.irfanview-forum.de/), Servo does not display any error.

OpenSSL does not automatically verify that the hostname in the URL matches the subject name or SAN (subject alternate name) in the certificate.  The application must do this.  It might make sense to put some of this functionality into Hyper.

[2015-02-18 17:25] mbrubeck commented on #4953
I don't think the SAN is the problem, since apparently we don't check hostnames (#4954).

[2015-02-18 18:01] Manishearth commented on #4954
I guess we'll need to `set_verify` and all?

[2015-02-18 18:17] mbrubeck commented on #4954
We can use `X509_VERIFY_PARAM_set1_host` and `set_verify` if we require OpenSSL 1.0.2 or later.

If we need to support older versions (currently we use 1.0.1 on Android, for example), we need to include code like [this sample code](https://github.com/iSECPartners/ssl-conservatory/blob/1449f3ae918623699947e24f388c531b30ad2c87/openssl/openssl_hostname_validation.c).

[2015-02-18 19:40] pcwalton opened #4955 "Get the CSS 3D transform first person shooter working"
http://keithclark.co.uk/labs/css-fps/

We'll need CSS 3D transforms, of course—but this will be a good stress test.

[2015-02-18 19:54] zslayton commented on #3893
I love @VAS's Tom-Servo-from-above! It's great that it's only an MST3K reference if you know what you're looking for.

[2015-02-18 19:55] #4800 closed

[2015-02-18 20:36] saneyuki commented on #4283
By the current spec, I read the following point would be "perform a microtask checkpoint.

* [Creating scripts](https://html.spec.whatwg.org/multipage/webappapis.html#creating-scripts)
  * "perform a microtask checkpoint" -> [clean up after running a callback](https://html.spec.whatwg.org/multipage/webappapis.html#clean-up-after-running-a-callback) -> [jump to a code entry-point](https://html.spec

[2015-02-18 20:58] #4916 closed

[2015-02-18 22:37] jdm opened #4957 "Firefox timeline integration"
Useful investigative tips:
* enable `devtools.debugger.log` and `devtools.debugger.log.verbose` in Firefox
* add `dumpv(JSON.stringify(aPacket));` to `onPacket` in `dbg-client.jsm`
* enable remote and chrome debugging
* open the browser toolbox and use the logging from stdout to help guide the messages that actors need to send and process
* http://mxr.mozilla.org/mozilla-central/source/toolkit/dev

[2015-02-18 22:38] jdm commented on #4957
Sample messages:
[code]

[2015-02-18 22:39] jdm commented on #4957
[code]

[2015-02-18 23:22] awlnx commented on #4103
I Couldn't replicate the output @jdm posted. On My System it would print the rustc output and continue to attempt to test: (test result: ok. 78 passed; 0 failed; 0 ignored; 0 measured). I made the function ensure_built_tests() exit with the return code of the subprocess call to build the tests if it is nonzero. Now the output reaches the rustc error and exits.

[2015-02-19 04:57] psdh commented on #3847
I am trying to implement this!

[2015-02-19 06:51] yodalee commented on #4769
I see the the sample code posted by jdm using `Uint8ClampedArray`, I try to add
[code]
as depict in file: `components/bindings/codegen/TypedArray.h`
But compiler cannot resolve this include.

[2015-02-19 07:50] Ms2ger commented on #4769
You'll need changes like <https://github.com/servo/mozjs/pull/25> and <https://github.com/servo/rust-mozjs/pull/128>, and then use `./mach update-cargo -p js` to pull in those changes.

[2015-02-19 07:53] yodalee commented on #4769
See, I will do the changes to servo/mozjs first.

[2015-02-19 07:55] psdh commented on #3847
^^ Should I implement TreeSink on top of [existing implementation], implementing the missing functions and adding the sending a message part.
Can you also, elaborate on the sending a message part

[existing implementation]: http://mxr.mozilla.org/servo/source/components/script/parse/html.rs#58

[2015-02-19 14:20] jdm commented on #3847
You can learn more about message passing in Rust at http://doc.rust-lang.org/book/concurrency.html

[2015-02-19 16:50] metajack opened #4964 "WM_CLASS not set for Servo on Linux"
I had my window manager rules set to do specific things on WM_CLASS="Servo", but with Glutin this seems to have changed. `xprop` shows that there is no WM_CLASS anymore.

This is not critical, but it seems kind of strange.

[2015-02-19 16:51] metajack commented on #4964
cc @glennw

[2015-02-19 16:52] metajack opened #4965 "switching linux desktops doesn't refresh Servo"
If you have Servo open on a virtual desktop and switch to another one and then back, the Servo window doesn't get redrawn. Moving the window is enough to force this.

Redraw issues appear pretty common. I also get similar issues after flipping between full screen and not sometimes.

In case it's window manager specific, I'm using i3.

[2015-02-19 16:52] metajack commented on #4965
cc @glennw

[2015-02-19 16:56] metajack opened #4966 "cnn homepage static suite crash"
It starts with a panic but seems to also segfault.

The panic log is:
[code]

The OS X crash report is here: https://gist.github.com/metajack/209e54e021b156c9575a

[2015-02-19 16:57] metajack commented on #4966
This appears to reproduce the same way on Linux as well.

[2015-02-19 17:01] jdm commented on #4966
This is probably new with the advent of iframe load events; we probably have a JS exception and hit #3621.

[2015-02-19 19:17] kmcallister commented on #3713
@ChrisParis: Are you interested in working on this?

[2015-02-19 19:29] ChrisParis commented on #3713
Yes

[2015-02-19 19:57] jdm opened #4968 "Use hosts file for WPT test runs"
We need to set up one as described at https://github.com/servo/web-platform-tests/#running-the-tests, and set the HOST_FILE environment variable as part of the `test-wpt` command in http://mxr.mozilla.org/servo/source/python/servo/testing_commands.py#214

[2015-02-19 19:58] jdm commented on #4968
Assuming it's set up correctly, I would expect the output from `./mach test tests/wpt/web-platform-tests/html/browsers/history/the-location-interface/security_location_0.sub.htm` to change from what was reported in #3219.

[2015-02-19 21:49] glennw opened #4971 "Dynamic changes to iframe visibility don't work"
[code]

[2015-02-19 22:04] glennw commented on #4971
Also happens on simple elements too:

[code]

[2015-02-19 22:15] jdm commented on #4971
Any difference if you use `-i` to disable incremental reflow?

[2015-02-19 22:16] glennw commented on #4971
Yep, it works without incremental reflow.

[2015-02-19 22:17] jdm commented on #4971
Including the iframe?

[2015-02-19 22:18] glennw commented on #4971
Yep - it flickers on for a frame, which doesn't happen in FF, but it does work. I guess some dirty flags not being set or something like that on the node?

[2015-02-19 22:30] zbraniecki commented on #4159
Depends on #4282

[2015-02-19 22:51] jdm commented on #4159
These dependencies seem to belie the original assertion of "very close" :)

[2015-02-19 23:02] jdm commented on #4843
I believe I was wrong when I originally suggested this; sorry!

[2015-02-19 23:02] #4843 closed

[2015-02-19 23:54] zbraniecki commented on #4159
We didn't use Promise at the time when I tested and dataset was about to land. Now we have MutationObserver and Promise missing - it's a bit further, but both depend on the same issue (microtasks) which is progressing.

[2015-02-20 02:05] Adenilson opened #4973 "Relative positioned div rendered behind other elements in the flow"
Setting a div to be relative will make servo render it behind the following element. It can be seen here:
http://codepen.io/Savago/pen/JoLmMP

And the test case: http://codepen.io/Savago/pen/yyKRzq

[2015-02-20 05:57] SimonSapin commented on #4973
Relevant spec is http://dev.w3.org/csswg/css2/zindex.html

In this test case, the element with ID `two` is *positioned* (`position: relative`) and has `z-index: auto` (the initial value).

[2015-02-20 07:33] jdm opened #4974 "Make network requests cancelable"
Right now it is possible to "cancel" a network request by freeing the Receiver that corresponds to the network response (ie. when the Receiver goes out of scope), since that causes the network thread to panic when it tries to send on the closed channel. This won't be enough when we move to an event-based system instead of using channels - the network thread will just keep sending events to the tar

[2015-02-20 07:40] Manishearth commented on #4974
Yeah, the Receiver hack was supposed to be a way to easily get request termination without resorting to a duplex channel or something. Now that we're moving to an event based system, we should probably not do this anymore.

[2015-02-20 08:13] srlakhe commented on #4968
@jdm
Hi,
I would like to work on this bug.  How should I proceed ?

[2015-02-20 08:56] Manishearth opened #4976 "./mach cargo should cd to the servo dir if it's in root"
`./mach cargo` is useful for directly invoking Cargo with all the right environment variables set up.

Currently, to run it one has to `cd` to the directory with the package and run it, eg `cd components/servo ../../mach cargo build`.

Running it from the root directory will make it pick up the fake Cargo file that is supposed to emit an error.

However, when running it with arguments like `-p`, e

[2015-02-20 09:29] jdm commented on #4968
@srlakhe Great! Is anything unclear in the first comment? We probably want to create the new hosts file in the resources directory and make the HOST_FILE environment variable point to that path. This will just require Python code changes.

[2015-02-20 10:31] jviereck commented on #1714
Trying to rebase my old patch from https://github.com/jviereck/servo/compare/fix_1714_HTMLElement_offset_parent with the current master turned out to be not entirely trivial as a lot of things has changed in servo in the mean time (which is great to see :) ). In the following a few questions to show you where I am currently got stuck in the rebase process - could someone please have a look at it (

[2015-02-20 14:43] jviereck commented on #1714
Okay, managed to find out about 2. from my last comment: The LayoutRPC request is created from the `Page` object [here](https://github.com/servo/servo/blob/master/components/script/page.rs#L188), which also triggers a layout reflow first:

[code]

Though I am currently not sure why some queries (like the one for the hit_test) do not require an call to `self.join_layout`.

[2015-02-20 17:25] jdm commented on #1714
I believe that join_layout is a no-op right now, since we stopped running layout and script concurrently.

[2015-02-20 19:14] nithinmurali commented on #4933
hi, i would like to work on this bug. @jdm  I am :lazybug  :)

[2015-02-20 19:33] jdm opened #4981 "Add optional Headers argument to Document constructor"
There are lots of information that documents can and should extract from HTTP headers. Right now the script task explicitly parses the Last-Modified header and calls `Document::set_last_modified`, but that should really be the responsibility of code in `document.rs` instead. We can get rid of `set_last_modified` and make the `last_modified` field immutable if we do that in the constructor itself.

[2015-02-20 19:44] jdm commented on #4933
@nithinmurali Great! I would suggest making reparent_children remove all of the child nodes of `node` and add them as children of `new_parent`. Similarly, we might as well implement `remove_from_parent` in the obvious way too.

[2015-02-20 20:02] jdm opened #4982 "Move body of ScriptTask::dispatch_key_event into a method on Document"
The vast majority of the method has nothing to do with the script task and everything to do with the document that is the target of the event. It will be a little bit tricky because of the `self.compositor.borrow_mut().send_key_event(key, state, modifiers);` line, but that can just be passed as an argument to the new method for now (`RefMut<Box<ScriptListener+'static>>`, probably).

[2015-02-20 20:04] jdm opened #4983 "Move body of ScriptTask::handle_click_event into a method on Document"
The vast majority of this method has nothing to do with the script task and everything to do with the Document that is the target of the event.

[2015-02-20 20:19] jdm opened #4984 "Move body of ScriptTask::handle_mouse_move_event into a method on Document"
Most of this method has nothing to do with the script task, and everything to do with the document that is the target of the event. The one tricky bit is the list of mouse over targets that lives in ScriptTask; we'll probably want to pass a `RefMut<Option<Vec<JS<Node>>>>` argument to the new method.

[2015-02-20 20:20] jdm opened #4985 "ScriptTask::mouse_over_targets is not traced"
That's kind of bad, and if we had the lint that picked up `Vec<JS<T>>` we would have caught this before now.

[2015-02-20 20:26] jdm opened #4986 "Use hyper's LastModified header instead of the one in script_task.rs"
It's been merged upstream, so we can delete our implementation.

[2015-02-20 20:27] jdm opened #4987 "Move DocumentProgressHandler to document.rs"
It really doesn't belong in the general script task implementation code.

[2015-02-20 20:48] #1986 closed

[2015-02-20 20:48] #4605 closed

[2015-02-20 20:56] jdm commented on #937
Fixed in #4967.

[2015-02-20 20:56] #937 closed

[2015-02-20 21:59] jdm commented on #3734
Still working on this, @catchmrbharath?

[2015-02-20 22:00] jdm commented on #1820
We can file issues for more specific things that can be improved here.

[2015-02-20 22:00] #1820 closed

[2015-02-20 22:03] jdm commented on #4587
Equiv is gone.

[2015-02-20 22:03] #4587 closed

[2015-02-20 22:03] #4874 closed

[2015-02-20 22:07] jdm commented on #2973
Looks like yes.

[2015-02-20 22:07] #2973 closed

[2015-02-20 22:07] #2475 closed

[2015-02-20 22:08] jdm commented on #2108
Still working on this, @hgentry?

[2015-02-20 22:12] jdm commented on #865
Probably not worth it. We should just implement onerror instead.

[2015-02-20 22:12] #865 closed

[2015-02-20 22:12] jdm commented on #433
This happened.

[2015-02-20 22:12] #433 closed

[2015-02-20 22:14] jdm commented on #4184
Note: #3144 still has not been merged, so this can't be worked on yet.

[2015-02-21 00:01] #4976 closed

[2015-02-21 07:27] KiChjang commented on #4981
I think it would be better if we pass the entire `load_response` object to the `Document` constructor. We may need to parse additional headers in the near future, and doing so would save us from parsing headers in `script_task.rs`and passing another parameter to the `Document` constructor.

[2015-02-21 07:34] KiChjang commented on #4948
@seanmoon80 make sure to create a PR for the developers to merge your changes into the servo master branch

[2015-02-21 09:11] KiChjang commented on #4983
I'll take care of this.

[2015-02-21 09:56] Ms2ger commented on #3919
Blocks #2525.

[2015-02-21 12:01] jdm commented on #4981
The LoadResponse doesn't contain any other useful fields, so I don't see the benefit of that.

[2015-02-21 13:21] #4983 closed

[2015-02-21 14:32] jdm opened #5002 "Use opts::default_opts() in cef/core.rs"
We always forget to update core.rs when we add new command line options, and we shouldn't have to. core.rs should use default_opts and modify the result to make any non-default changes it requires.

[2015-02-21 15:18] #4511 closed

[2015-02-21 16:14] yodalee commented on #4769
@KiChjang Thanks Ms2ger, now we can use all TypedArray.

[2015-02-21 16:21] #4506 closed

[2015-02-21 16:45] jdm commented on #4769
Oh, https://github.com/servo/servo/pull/4998 only updated rust-mozjs, not mozjs. Use `-p js-sys` for that one.

[2015-02-21 16:49] yodalee commented on #4769
It says `js-sys matched no packages`

[2015-02-21 16:53] yodalee commented on #4769
OK I found, use `-p mozjs-sys`

[2015-02-21 17:03] #4987 closed

[2015-02-21 18:08] jdm opened #5008 "text-align: center/right + whitespace incorrectly aligns"
We need to investigate https://github.com/servo/servo/pull/1638#issuecomment-35171355 and determine if it's still and issue. If so, we should adapt https://github.com/FremyCompany/servo/commit/336bda501c1277e00790a2904fc03e7b9b759e09 and make a PR.

[2015-02-21 18:48] jdm opened #5009 "Change os.exit to sys.exit"
There's an os.exit call in http://mxr.mozilla.org/servo/source/python/servo/command_base.py#155, which doesn't exist. It should be sys.exit instead.

[2015-02-21 20:12] psdh commented on #5002
@jdm Can you please elaborate more!

[2015-02-21 20:21] #4923 closed

[2015-02-21 20:30] jdm commented on #5002
@psdh When we add new fields to the Opts struct in http://mxr.mozilla.org/servo/source/components/util/opts.rs, we also need to update cef/core.rs because it creates an Opts value manually. We should use the default_opts function from opts.rs instead.

[2015-02-21 21:12] #5009 closed

[2015-02-22 06:57] psdh commented on #4176
@mbrubeck: I think this can be closed, now that the PR has merged

[2015-02-22 07:29] #4176 closed

[2015-02-22 10:54] catchmrbharath commented on #3734
@jdm Sorry about that. I am presently not working on this. Can you remove the C-assigned tag? I should have updated the issue long back. Sorry again :).

[2015-02-22 10:55] KiChjang commented on #4769
I'm not entirely sure how to use these yet... I did `./mach update-cargo -p js` and `./mach update-cargo -p mozjs-sys`, but it still gave me `TypeError: Can't handle SpiderMonkey interface arguments yet`

[2015-02-22 13:25] jdm commented on #3734
No problem!

[2015-02-22 14:09] Ms2ger commented on #4769
I would suggest using `object` in the IDL for now.

[2015-02-22 14:17] jdm opened #5014 "Implement bindings for WebIDL typed arrays"
Relevant code is the `type.isSpiderMonkeyInterface()` branch in `getJSToNativeConversionInfo` in mozilla-central's Codegen.py.

[2015-02-22 15:00] KiChjang commented on #4986
Leave this to me please.

[2015-02-22 18:09] jdm opened #5018 "Make test-ref and test-content not ensure_built_tests"
There's no call for this; they don't use the cargo testing stuff, and it causes unnecessary extra building time. We should just be able to remove these calls from those commands in testing_commands.py.

[2015-02-22 18:11] jdm commented on #5018
Sigh, that's a lie: http://mxr.mozilla.org/servo/source/components/servo/Cargo.toml#29

[2015-02-22 18:11] #5018 closed

[2015-02-22 18:39] Ms2ger commented on #707
The IDL parser code is already imported; will just need the codegen changes. @saneyuki, want to have a go at this?

[2015-02-22 19:58] Ms2ger opened #5021 "Replace the Runnable implementation for HTMLScriptElement"
Rather than implementing `Runnable` for `Trusted<HTMLScriptElement>`, it should be implement for a custom struct, say
[code]
This will also allow removing the undocumented and unspecified `error_occurred` field of `HTMLScriptElement`.

[2015-02-22 20:48] #5002 closed

[2015-02-22 21:05] psdh commented on #4089
I want to fix this, but I want some help with the second part of step 10.

[2015-02-22 21:48] jdm commented on #4089
The easiest way to implement that right now is to store the document associated with the window in the constructor, then compare that against the result of `document_from_node` later.

[2015-02-22 21:54] #4986 closed

[2015-02-22 22:30] #5021 closed

[2015-02-23 00:15] nnethercote commented on #4915
I just learned that Servo builds are unoptimized by default, so I tried an optimized (release) build. The memory increase while moving the mouse is substantially faster in an optimized build, but I have trouble reproducing the spike when quitting -- quitting is mostly instantaneous (or nearly) now.

[2015-02-23 04:02] nnethercote commented on #4915
I did some more profiling with Massif on an optimized build. I kept moving the
mouse until 'jemalloc-allocated' hit 3000 MiB, and then I did a Ctrl-C (which
skips the sending of Quit events, AFAICT.)

Here are the five allocation stacks that account for the most live memory just
before shutdown. They all involve parallel.rs, and four of them involve
`recalc_style`.

I looked closely at all of them

[2015-02-23 06:29] KiChjang commented on #4982
Let me try this `RefMut<Box<ScriptListener+'static>>` thing.

[2015-02-23 09:26] nithinmurali commented on #4933
@jdm i have made an pull request ; should i use panic!() inplace of the println!() and continuing loop ??

[2015-02-23 10:43] KiChjang commented on #4982
Not as simple as thought, whenever I tried to simply pass `self.compositor.borrow_mut()` to `dispatch_key_event` located in `document.rs` and use it as `compositor.send_key_event(key, state, modifiers)`, the compiler gives me an error `cannot borrow immutable local variable 'compositor' as mutable`... but it clearly is mutable at this point because `compositor` is being passed as a `RefMut`!

[2015-02-23 12:45] jdm commented on #4982
You can make the argument mut - `mut foo: Foo` is valid.

[2015-02-23 12:46] dhneio commented on #4614
This appears to be relatively widespread; I've been able to reproduce it on the following sites (I'm on OS X 10.10.2):

* http://msnbc.com
* http://fivethirtyeight.com
* http://latimes.com
* http://store.apple.com
* http://evernote.com
* http://scribd.com
* http://zoho.com
* http://ubuntu.com
* http://anandtech.com
* http://fosdem.org
* http://python.org
* http://indiegogo.com

It appears that is_

[2015-02-23 12:47] jdm commented on #4614
Exciting! I randomly select @mbrubeck to evaluate if that's a reasonable fix :)

[2015-02-23 12:56] KiChjang commented on #4974
How do we generate a unique integer for `ResourceId`?

[2015-02-23 13:19] jdm commented on #3396
Here's how I want to go about fixing this:
* create a new timer thread that controls all timers for a constellation
* internally, it has an event loop that selects on two input receivers
  * one watches for messages that add/remove a timer
  * the other is a timer that waits until the next web content timer should fire
* when a timer is added:
  * store its creation time and expiry time in a vecto

[2015-02-23 13:20] jdm commented on #4974
It only needs to be unique in the resource task, so just store a next_resource_id field and increment it.

[2015-02-23 15:48] mbrubeck commented on #4614
The check looks good to me; can you submit it as a pull request?  Thanks!

I'm still curious *why* the advance is so large, and whether it points to another bug.  I don't know this code well, but looking at the x_advance and advance values in `gfx::text::shaping::harfbuzz::get_entry_for_glyph` and `advance_for_shaped_glyph` might shed some light.

[2015-02-23 15:59] jdm opened #5034 "Make tidy check ports/gonk and ports/glutin"
Code: python/tidy.py

[2015-02-23 16:12] #3669 closed

[2015-02-23 17:46] metajack commented on #4915
09.36% (314,695,520B) 0x4CD1BD: css::matching::LayoutNode$LT$$u27$ln$GT$.MatchMethods::cascade_node::h4925eca48b7a52c5m7t (matching.rs:637)
  09.36% (314,695,520B) 0x4C65A2: traversal::RecalcStyleForNode$LT$$u27$a$GT$.PreorderDomTraversal::process::h38470af429c5a97cfkr (traversal.rs:179)
  09.36% (314,695,520B) 0x4C6015: parallel::RecalcStyleForNode$LT$$u27$a$GT$.ParallelPreorderDomTraversal::run_

[2015-02-23 18:38] Manishearth opened #5036 "Tracking issue for blocking issues from upstream deps"
List bugs on repos like [hyper](https://github.com/hyperium/hyper), [rust-openssl](https://github.com/sfackler/), and [glutin](https://github.com/tomaka/glutin) that are blocking you here.

[2015-02-23 18:44] jdm commented on #4915
That _should_ happen as part of layout data reaping in the Node destructor.

[2015-02-23 20:52] jdm opened #5037 "RootCollection doesn't check if its SmallVec has spilled"
This is unsafe; RootCollection only works because it stores values on the stack, and if that silently changes we lose the safety guarantees the conservative stack scanner requires.

[2015-02-23 20:54] jdm opened #5038 "Implement a crashtest harness"
Occasionally we have tests like https://github.com/servo/servo/blob/bb7621f5dc33dd5068a3a4de7cdfe3af8b3d4130/tests/content/test_trace_null.html or https://github.com/servo/servo/pull/5035#issuecomment-75608408 that don't need a reference or any other checks; we just want to make sure that they haven't crashed by the time onload occurs.

[2015-02-23 22:03] jdm opened #5041 "smallvec transmutes between *const T and &mut T"
I'm pretty sure that's undefined behaviour? See the pop implementation.

[2015-02-23 22:06] #5041 closed

[2015-02-23 22:48] metajack opened #5042 "test-unit warning no longer relevant"
https://github.com/rust-lang/cargo/issues/961 was fixed, but mach still outputs the warning that cargo has probably deleted the binary. This can now be removed I think.

[2015-02-23 23:04] metajack opened #5043 "spurious downloading lines in mach output from builders"
See http://build.servo.org/builders/gonk/builds/29/steps/compile/logs/stdio for an example. Can we detect that we're not on a real terminal and then not do overwrites in that case?

[2015-02-24 03:43] jdm opened #5046 "Make test-wpt default to the number of CPUs"
I feel bad every time somebody says "the WPT tests are really slow" because it means they're not using `--processes=[N>1]`. We should have a sensible default here that gets the number of CPUs and passes that as a parameter when invoking the test harness in the `test-wpt` command in `testing_commands.py`.

[2015-02-24 04:03] #4966 closed

[2015-02-24 04:42] #4177 closed

[2015-02-24 05:18] #4907 closed

[2015-02-24 09:00] SimonSapin commented on #5043
Do you mean the `Downloading Rust snapshot:` lines? We already have [such a switch](https://github.com/servo/servo/blob/a3ea3eed47713a4a6faa86c575bc2ac95c5fe135/python/servo/bootstrap_commands.py#L41-L42). They can be disabled with a `TERM=dumb` environment variable.

This switch could probably be smarter, maybe using `sys.stdout.isatty()`

[2015-02-24 10:39] dhneio commented on #4614
Here's a simple example that reproduces the crash: https://gist.github.com/dhneio/1926d98bc27abf67320f. Interestingly, if I move the `@font-face`'s from the external CSS file into a local style tag the page renders just fine... Not sure what in the world is going on.

[2015-02-24 14:06] larsbergstrom opened #5050 "Add tests for the static suite"
It's behind a permission wall for the general public (because of copyright), but we should test on the builders that we do not break the loading of our static page suite: https://github.com/mozilla/servo-static-suite

[2015-02-24 14:41] larsbergstrom opened #5051 "Servo crashes on browsing to cnn.com"
`./mach run --release https://www.cnn.com/`

[code]

[2015-02-24 14:47] Ms2ger commented on #5050
We shouldn't gate checkins on something you can't test unless you've got access to the secret stuff

[2015-02-24 14:50] larsbergstrom commented on #5050
@Ms2ger How is this handled on Gecko? I'm a little tired of regressing cnn/reddit/etc. Though maybe Gecko just has a large enough test suite that there is coverage for all of the features on most major sites.

[2015-02-24 15:13] jdm commented on #5051
This is likely the same issue as #4614, which would be fixed by #5035.

[2015-02-24 19:31] Manishearth opened #5056 "Test-wpt should take a --release argument"
This requires changes to [run.sh](https://github.com/servo/servo/blob/master/tests/wpt/run.sh).

In case the first argument is  `--release`, instead of passing `--binary $wpt_root/../../components/servo/target/servo `, pass `--binary $wpt_root/../../components/servo/target/release/servo` to `run.py`. Use `shift` to remove the argument from the list after reading it.

To test this out, run `./mach

[2015-02-24 19:55] Ms2ger commented on #5050
Only performance tests use copyrighted sites, and regressing those isn't reason for immediate backout.

[2015-02-24 19:58] KiChjang commented on #4769
That wouldn't work either; it would just tell me `TypeError: Can't handle object arguments yet`. I think this issue is going to be blocked until `CodegenRust.py` can generate either `Uint8Array`/`ArrayBuffer`/`BufferSource` arguments or `object` arguments

[2015-02-24 20:23] psdh commented on #3974
I want to help fix this.

[2015-02-24 20:45] jdm commented on #3974
I think most of this has been accomplished since I filed this, and #4967 implements part of it as well. I'll file new bugs for anything specific that can be done.

[2015-02-24 20:45] #3974 closed

[2015-02-24 20:58] Ms2ger opened #5057 "Implement Document#currentScript"
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-document-currentscript>, <https://html.spec.whatwg.org/multipage/#execute-the-script-block>
* Code: `components/script/dom/htmlscriptelement.rs`, `components/script/dom/document.rs`.
* Test: `html/dom/documents/dom-tree-accessors/Document.currentScript.html`.

[2015-02-25 02:40] gilles-leblanc opened #5063 "Add more robust hostsfile parsing"
Hostsfile support has been added as part of #3219. Two TODOs have also been added:

http://lxr.mozilla.org/servo/source/components/net/resource_task.rs#42
http://lxr.mozilla.org/servo/source/components/net/resource_task.rs#400

These relate to bad file path and contents.

Additionally, other conditions should be checked for:
* comments
* mutliple hostnames for a single address

[2015-02-25 02:42] gilles-leblanc commented on #5063
I'd like to work on this.

My reasoning is that we should ignore malformed content rather than throw a panic or something similar. I would rather a browser not crash with an exception because of a single error in a hostfile. Unless all panics are caught and handled by default?

[2015-02-25 03:50] jdm commented on #5063
In this case the panics would probably take down everything. Please do work on this :)

[2015-02-25 03:59] glennw commented on #3885
Likely to be fixed by https://github.com/servo/servo/pull/5064

[2015-02-25 05:34] psdh commented on #5057
I will try to fix this.

[2015-02-25 13:20] Manishearth commented on #2853
Not a blocker (until next week), but https://github.com/rust-lang/cargo/issues/1351

[2015-02-25 14:04] jdm commented on #5057
Looks like @luniv's got a solution.

[2015-02-25 14:19] shinglyu commented on #4968
@srlakhe: You can also see [this wiki page](https://github.com/servo/servo/wiki/Testing#assign-a-temporary-hostfile-for-testing) to understand how to use the HOST_FILE environment variable.

[2015-02-25 14:21] shinglyu commented on #4833
Just to let you know I'm still studying how layout works, here is my note: http://shinglyu.gitbooks.io/the-servo-browser-engine-a-learner-s-notebook/content/layout.html

[2015-02-25 15:21] #4948 closed

[2015-02-25 15:55] jdm commented on #4833
For what it's worth, this might be handled by #5064.

[2015-02-25 16:08] shinglyu commented on #4833
OK. I'll verify if it's fixed.

I'll try to go through the layout module anyway, can you suggest me other easy bug in layout? Thanks!

[2015-02-25 18:39] thiagopnts commented on #4704
I did some work on this https://github.com/thiagopnts/servo/commit/4f3f9176f6ac2a4f5b6d2a877fb43093a8fce558
A couple questions came up: Should I just pass the workerIds to the devtools actors? Currently I'm just generating the worker id on worker constructor but I'm not associating it with anything because I don't know how it will be used. Any thoughts?

[2015-02-25 18:47] jdm commented on #4704
I think the NewGlobal message can take a PipelineId and an optional WorkerId. This will be enough to differentiate workers from different script globals. Does that answer your question? We'll probably need to create a WorkerActor type and have a hashtable from `(PipelineId, WorkerId)` to actor names in the devtools crate as well.

[2015-02-25 18:55] KiChjang commented on #5014
I really would like to work on this because #4769 requires SpiderMonkey interface arguments, however my python is rusty and I am unsure of what the equivalent Rust code would look like when ported from Gecko's C++.

[2015-02-25 20:38] thiagopnts commented on #4704
Got it, the WorkerActor was the missing piece :)
I should send a PR with this soon.

[2015-02-26 06:09] psdh commented on #5056
fixing this :)

[2015-02-26 06:09] Manishearth commented on #5056
Oh, sorry, `acgtyrant_` is already working on this

[2015-02-26 06:13] psdh commented on #5056
oh!, was just testing it
Haha! no worries :)

On Thu, Feb 26, 2015 at 11:40 AM, Manish Goregaokar <
notifications@github.com> wrote:

[2015-02-26 06:35] JIoJIaJIu commented on #4955
may i take it? can you give some advises?

[2015-02-26 07:14] jdm commented on #4955
We don't support 3D transforms yet, and that probably partially relies on #4522.

[2015-02-26 08:24] Ms2ger commented on #3241
glandium pointed me at <https://mxr.mozilla.org/mozilla-central/source/python/mach_commands.py#27>.

[2015-02-26 08:29] Manishearth opened #5075 "test-ref should take a --release argument"
We can pass this down to the test binary which can look for the Servo binary elsewhere.

*might* be blocked on https://github.com/rust-lang/cargo/issues/691. I don't think it is.

I'm not yet sure if this is an easy bug (haven't really looked into it, since we use `cargo test` to invoke the tests, it might get complicated), but this has the potential to become one.

[2015-02-26 08:37] JIoJIaJIu commented on #4985
I want to take it, may you describe more, please.

[2015-02-26 08:55] Manishearth commented on #3241
That sounds useful, thanks!

[2015-02-26 13:06] #5056 closed

[2015-02-26 13:21] jdm commented on #4985
We need to make a few changes:
* just as all DOM objects are traced by the GC via the `#[jstraceable]` attribute, the ScriptTask needs to be as well
* we need to add an extra GC hook that specifically traces the ScriptTask object (see https://github.com/servo/servo/pull/4620/files#diff-eeefd668773bcf179c9bdcf09d495b27R409 for an example of setting a hook)
* that means we need to store a pointer to

[2015-02-26 13:40] JIoJIaJIu commented on #4985
thank you, i'll make it

[2015-02-26 13:45] metajack opened #5076 "mobile GotG page in static suite crashes"
[code]

[2015-02-26 13:48] #4982 closed

[2015-02-26 15:24] metajack opened #5077 "scrolling broken on mac"
No matter which way I drag on the touch pad, no scrolling happens. I actually got one page to scroll to the bottom but it happened instantaneously and I couldn't go back.

[2015-02-26 15:29] metajack opened #5079 "add relayout debugging"
We should have a debug mode which prints out a notice whenever something forces a relayout and prints the reason.

Right now if you turn on `-Z show-parallel-layout` you can see that we are re-running layout many times on page load.

[2015-02-26 15:35] metajack opened #5080 "mach commands should warn when it's ambiguous which binary to run"
There are three ways to invoke mach commands that run built binaries: no flags, `--release` given, or `--debug` given.

I think when no flags are given, we should run whichever binary actually exists. If both release and debug builds exist, we should print a warning or just show an error and halt.

Right now it is far to easy to forget and run the wrong code if you've been going back and forth bet

[2015-02-26 15:36] jdm commented on #5079
We should add an argument to ScriptTask::force_reflow and Page::reflow, and define an enum that lists the possible reasons for initiating a reflow.

[2015-02-26 15:38] jdm commented on #5080
Code: python/servo/post_build_commands.py

[2015-02-26 16:36] KiChjang opened #5081 "Error while navigating to Wikipedia"
[code]

[2015-02-26 16:47] KiChjang commented on #4871
I can take this one.

[2015-02-26 17:02] jdm commented on #4871
Thanks!

[2015-02-26 17:03] jdm commented on #5081
Looks like the same as #5081.

[2015-02-26 20:32] metajack opened #5082 "keyboard input doesn't work sometimes after loading sliderust presentation"
After loading https://github.com/metajack/sliderust/blob/master/applicative2015.html in servo with `./mach run --release -i --resolution 1280x1024 /path/to/sliderust/applicative2015.html` the keyboard navigation doesn't work about 75% of the time. If I quit and restart enough times, eventually I will get a run that works normally.

[2015-02-26 20:33] metajack opened #5083 "title slide jitter with sliderust"
When loading a deck with lots of images, the title slide will jitter around during page load, after everything is painted. The more images you add, the longer it will jitter.

You can reproduce this by loading https://github.com/metajack/sliderust/blob/master/applicative2015.html

[2015-02-26 21:04] metajack opened #5084 "@font-face not working on OS X"
https://github.com/metajack/sliderust/blob/master/applicative2015.html doesn't work on a mac unless you remove the `@font-face` directives in sliderust.css.

[2015-02-26 23:26] Ms2ger opened #5085 "Update web-platform-tests."
I started on this: <https://github.com/servo/servo/compare/servo:master...Ms2ger:wpt_20150228>, but I get
[code]

CC @jgraham

[2015-02-27 10:47] KiChjang commented on #5081
This issue IS #5081. Did you mean to point to another issue instead?

[2015-02-27 14:24] saneyuki commented on #5077
I keep it in my mind that this has been caused when we switch to gultin for osx port.

[2015-02-27 14:45] seanmonstar opened #5090 "Replace AccessControl header implementations with hyper's"
Implementations are in script/cors.rs. They can be removed, and all references elsewhere should be to hyper's.

[2015-02-27 14:46] jdm commented on #5090
See #5022 for an example of a similar change.