[2016-04-22 19:16] #9395 closed

[2016-04-22 19:17] jdm commented on #9315
Fixed by #9067.

[2016-04-22 19:17] #9315 closed

[2016-04-22 19:20] jaysonsantos commented on #8982
Hey @jdm I would like to try this one.

[2016-04-22 19:21] jdm commented on #8737
The code isn't unsafe, so this is fine.

[2016-04-22 19:21] #8737 closed

[2016-04-22 19:27] jdm commented on #8982
Please ask questions if anything's unclear. We can start with using the existing support for Element.getClientRects and Element.getBoundingClientRect and then extend it to support the special behaviour described for slices of text nodes.

[2016-04-22 19:56] #10747 closed

[2016-04-22 20:05] jdm opened #10812 "Implement alert dialogs and support mozbrowsershowmodalprompt API"
Now that we have support for the [tinyfiledialogs](https://github.com/jdm/tinyfiledialogs-rs) library, we can make use of it by invoking it from `Window::Alert`. There are a few parts to this:
* make the dialog box pop up
* send a synchronous message to the constellation instructing it to process an alert command
* if there is no parent for the pipeline requesting the alert, respond with a request

[2016-04-22 21:28] yoava333 commented on #10040
No, I'll try to work on this this week, and submit a PR

[2016-04-22 22:56] #10748 closed

[2016-04-22 23:42] #10735 closed

[2016-04-23 00:21] emilio commented on #2604
#10815 Should take care of this.

It uses an `Arc` plus `Arc::get_mut`, and seems to work just fine. It should not have almost any performance overhead.

[2016-04-23 03:21] #10771 closed

[2016-04-23 03:53] ConnorGBrewster commented on #10812
I would like to work on this one!

[2016-04-23 04:05] jdm commented on #10812
Go for it!

[2016-04-23 06:18] #10733 closed

[2016-04-23 07:03] #10779 closed

[2016-04-23 08:08] yoava333 commented on #10732
I'd like to try this one

[2016-04-23 09:06] SimonSapin commented on #2604
@emilio `Arc::get_mut` clones the contents if the refcount is above one. Is this really desired here? This issue originally mentions `RWLock`.

[2016-04-23 09:55] emilio commented on #2604
@SimonSapin: Stylist is not cloneable, [`Arc::get_mut`](https://doc.rust-lang.org/std/sync/struct.Arc.html#method.get_mut) returns `None` if the refcount is not one (unlike `Arc::make_mut`).

I'm using `Arc::get_mut(&mut rw_data.stylist).unwrap()` and I haven't ever got a crash.

[2016-04-23 10:00] SimonSapin commented on #2604
Oh yeah, sorry, I got confused with `make_mut`. But if the refcount really is always one, could this be a `Box`?

[2016-04-23 10:19] emilio commented on #2604
I think not since it has to be handed out to layout traversal (I mean to `SharedLayoutContext`).

The refcount is always one when we update the stylist in the layout thread, but not always.

[2016-04-23 11:20] SunyDays commented on #10739
Can I take it or I must to wait review of my first PRs?

[2016-04-23 11:50] jdm commented on #10739
Go for it!

[2016-04-23 12:05] jdm commented on #10732
OK!

[2016-04-23 12:09] bpowers commented on #10539
hi @jdm, did this end up as part of an accepted GSoC project?

[2016-04-23 12:11] jdm commented on #10539
It did!

[2016-04-23 12:23] askeing commented on #10782
I'd like to try this.

[2016-04-23 14:09] SunyDays commented on #10740
Can I take it?

[2016-04-23 14:15] jdm commented on #10740
@SunyDays Since you've fixed a few of these already, could you leave the rest for other new contributors?

[2016-04-23 14:16] Wafflespeanut opened #10822 "Implement the final step for event dispatcher `invoke` and add some tests"
Previous work on #10069`.

Quoting @Ms2ger, ["we need a boatload of tests"](https://github.com/servo/servo/pull/10069#issuecomment-198253891)

[2016-04-23 14:22] SunyDays commented on #10740
Of course. I'll see something else.

[2016-04-23 15:30] yoava333 commented on #10732
I finished with an initial implementation, but I have two issues:
1. we don't have support for several input type (e.g. image, range, color...), which are defaulted to input text. that means that my logic for read-write, which operates on input text type is wrong when dealing with those elements.
2. we don't support contenteditable, which is supposed to be read-write

What do you suggest to do in

[2016-04-23 16:28] asajeffrey commented on #10334
@paulrouget what do you want me to do in the case of multiple panics? Just send the first one? Just send the first one for each pipeline? These things usually travel in packs, since panics cascade.

[2016-04-23 22:29] cjkenn commented on #10743
I'd like to take this on if no one else has...

[2016-04-23 22:29] jdm commented on #10743
Please do! Ask questions about anything that's confusing :)

[2016-04-24 02:29] Mylainos commented on #10580
I don't understand what should I put in `some_success_function()`. Is it something like that?
[code]
Should I use this?
[code]

[2016-04-24 03:14] jdm commented on #10580
Assuming there is a `var t = async_test();` in the global scope, this could work:
[code]

[2016-04-24 06:41] Ms2ger commented on #10732
It's fine to only support the pseudo-classes for cases where we already implement the read/writability

[2016-04-24 18:01] sliz1 commented on #10740
I would like to take this :)

[2016-04-24 19:21] Ms2ger commented on #10740
Go for it!

[2016-04-24 20:54] #10659 closed

[2016-04-24 21:11] KiChjang commented on #8925
I believe this requires an implementation of the Fetch API.

[2016-04-24 22:13] cjkenn commented on #10743
#10830

[2016-04-25 06:34] #10741 closed

[2016-04-25 06:44] daoshengmu commented on #10755
Sorry, I am very new to servo. I know I need to ignore this while  ```canvas_fragment_info.ipc_renderer``` get ```None``` message.

Could you tell me what I should put at the ```None``` case of ```canvas_fragment_info.ipc_renderer```.

[2016-04-25 08:50] #10746 closed

[2016-04-25 09:36] #10742 closed

[2016-04-25 09:55] shinglyu commented on #10452
@wlach Good to know!

I have automated the whole build > test > submit to local perfherder flow. I'll let it run for a few days to see if everything is stable enough for submitting to staging.

[2016-04-25 09:57] jgraham commented on #10452
@shinglyu Awesome!

[2016-04-25 10:31] #10744 closed

[2016-04-25 11:09] mskrzypkows commented on #9152
I think it could be closed.

[2016-04-25 11:14] Wafflespeanut commented on #9152
fixed by #9835, #10563, #10775

[2016-04-25 11:14] #9152 closed

[2016-04-25 11:30] #10736 closed

[2016-04-25 12:07] Ms2ger commented on #10755
@jdm I think we actually synthesize transparent black, per

[2016-04-25 12:29] Ms2ger commented on #10577
Hey @zubron, you need any help here?

[2016-04-25 13:41] #10646 closed

[2016-04-25 15:06] Wafflespeanut opened #10832 "`./mach test-tidy --self-test` is ugly!"
Currently, if we run `./mach test-tidy --self-test`, it prints something like this,

    Checking files for tidiness....test_tidy.CheckTidiness) ...
    ok
    Checking files for tidiness...ts.test_tidy.CheckTidiness) ...
    ok
    Checking files for tidiness...st_tidy.CheckTidiness) ...
    ok
    Checking files for tidiness...tidy_tests.test_tidy.CheckTidiness) ...
    ok
    Checking files for

[2016-04-25 15:10] Wafflespeanut commented on #10832
Or no, we could add another default to `collect_errors_for_files` (something like `print_text=True`), and disable it in tests, which would be a lot easier...

[2016-04-25 15:30] zubron commented on #10577
Hi @Ms2ger - thanks for checking in. Apologies for not submitting sooner but it took me a bit longer that I had hoped to get the test working. I'm just about to submit the PR for this now :)

[2016-04-25 16:39] larsbergstrom opened #10836 "Make Servo not thrash the Dock on OSX when running tests"
In headless mode, Servo's performance is currently gated by the Dock, as we thrash it in parallel at full speed. To avoid doing so, we should be able to call `[NSApp setActivationPolicy:NSApplicationActivationPolicyAccessory];` in our `applicationDidFinishLaunching:`

This would have a huge performance improvement on our dev boxes and build machines, plus should let us also scale up to a mac pro (

[2016-04-25 17:22] asajeffrey commented on #10334
#10824 sends the panic reason and backtrace to the constellation, for error reporting.

#10837 adds the fields to mozbrowsererror events for forwarding this information.

Once both have landed, we can report panics to the browser chrome.

[2016-04-25 17:24] asajeffrey commented on #10334
@paulrouget I added `description` and `report` fields to the `mozbrowsererror` details, intended to contain a human-readable and a machine-readable representation of the error. Do these seem sensible to you? Care to bikeshed the names?

[2016-04-25 17:26] jdm commented on #10755
@Ms2ger No, the code in question definitely creates a vector of 0xFF bytes.

[2016-04-25 17:27] jdm commented on #10755
@daoshengmu I think we can probably just return immediately from that code.

[2016-04-25 18:32] bd339 commented on #9551
I would like to attempt this.

[2016-04-25 18:57] jdm commented on #9551
@bd339 Go for it!

[2016-04-25 19:48] #10577 closed

[2016-04-25 20:22] jdm opened #10839 "Allow setting withCredentials in synchronous XMLHttpRequest"
The specification was recently changed to allow this for maximal web compatibility: https://github.com/whatwg/xhr/pull/67 . We need to update our implementation to account for this.

Specification: https://xhr.spec.whatwg.org/#the-open()-method
Code: `components/script/dom/xmlhttprequest.rs` (see `fn Open`)
Tests: `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/` (presumably some expe

[2016-04-25 20:24] jdm commented on #10839
Depending on how quickly this is fixed, upstream may adjust the tests that we use first: https://github.com/w3c/web-platform-tests/issues/2894

[2016-04-25 20:43] #10832 closed

[2016-04-25 21:30] edunham opened #10841 "RFC: Tidy config file"
As brought to light by the mess I've been making around https://github.com/servo/servo/issues/10636, including https://github.com/servo/rust-mozjs/pull/255, there are cases in which we need `tidy` to selectively ignore certain types of error in certain directories.

One way to address this problem will be to create a Tidy config file, `.servo-tidy.toml` or similar, to optionally live at the root o

[2016-04-26 00:49] aneeshusa commented on #10811
Can you provide more details on the workflow you'd like to see? I'm currently imagining commenting something like
[code]
Are you looking for more fine-grained selections of tests to run? If so, what would that look like?

Also, with a little bit of caching we can probably remove the need to recompile as well for retry runs, which should help as well.

[2016-04-26 01:53] sydbarrett74 commented on #9974
I have abandoned MINGW in favour of the Bash on Ubuntu on Windows environment that was made available in Windows 10 build 14316. Closing this bug as no longer relevant, at least where I'm concerned.

[2016-04-26 01:53] #9974 closed

[2016-04-26 02:20] sydbarrett74 opened #10845 "Unexpected getrandom error when running ./mach build --release"
I'm attempting to build the latest servo snapshot using the Bash on Ubuntu on Windows environment with Windows 10 x64 build 14328. When I run `BACKTRACE=1 ./mach build --dev`, I get the error shown in the attached PNG image. I had to do a screenshot because GitHub's text editor wants to interpret certain character sequences as emoji.

Please advise.
![servo build output](https://cloud.githubuserco

[2016-04-26 02:25] frewsxcv commented on #10845
https://github.com/rust-lang/rust/issues/32788

[2016-04-26 03:25] shinglyu commented on #10452
@larsbergstrom The `--headless` build option was removed. How do I run servo headlessly now? I tried `xvfb-run` but I got

[code]

[2016-04-26 03:48] jdm commented on #10452
I believe `-z` is the argument to pass when running Servo.

[2016-04-26 03:49] jdm opened #10846 "Intermittent timeout in /css21_dev/html4/border-spacing-applies-to-016.htm"
[code]

[2016-04-26 03:51] fabricedesre commented on #10517
Is someone actively working on the LLVM backport?

[2016-04-26 05:55] #10740 closed

[2016-04-26 06:50] vramana commented on #10839
@jdm Can I work on this?

[2016-04-26 06:59] KiChjang commented on #10839
Yes, definitely!

[2016-04-26 10:13] #10797 closed

[2016-04-26 11:38] mmatyas commented on #10310
I've been doing some profiling using ARM Streamline, a few things I've noticed:
- Very high CPU usage: on every redraw, all 8 cores run 100%.
- High CPU Contention: many threads are runnable but waiting, about 20-40% of the threads on average
- No SIMD at all: even after compiling with the flags I've mentioned I couldn't detect SIMD instructions at all. To my surprise, after checking the code, I'v

[2016-04-26 12:34] izgzhen opened #10851 "Add file handling functionality to Blob object"
**NOTE**: This is an issue assigned to myself

Spec: https://w3c.github.io/FileAPI/#blob

As noted before, current Blob object can only refer to in-memory data ([`DataSlice`](https://doc.servo.org/script/dom/blob/struct.DataSlice.html)), and the [`FileReader`](https://doc.servo.org/script/dom/filereader/struct.FileReader.html) will also only operate in this way. In order to support reading from fi

[2016-04-26 12:56] #10839 closed

[2016-04-26 14:08] jdm commented on #10374
Unassigning due to lack of activity.

[2016-04-26 14:14] asajeffrey opened #10853 "Multiprocess panics"
[code]

[2016-04-26 14:15] asajeffrey commented on #10853
@jdm in IRC suggests a connection to #10497.

[2016-04-26 14:17] asajeffrey commented on #10853
A backtrace from a debug build:
[code]

[2016-04-26 14:20] asajeffrey commented on #10853
The problem is `util::opts::set_defaults`, which contains a failing assert:
[code]

[2016-04-26 14:21] asajeffrey commented on #10853
In fact, you don't need browser.html, just multiprocess:
[code]

[2016-04-26 14:23] shinglyu commented on #10428
@izgzhen : Good work! Do you plan to implement `navigationStart` in the near future? #10452 will need that.

[2016-04-26 14:34] ituxbag opened #10854 "document.write is not a function"
Hi,

this error is similar to #8892, but it's for another site. If I go to https://www.isocpp.org I have
the specified error. I'm using a master build.

Thank you!

[2016-04-26 14:38] frewsxcv commented on #10854
`document.write` is not implemented yet: https://github.com/servo/servo/issues/3704

Thanks for filing the issue though!

[2016-04-26 14:38] #10854 closed

[2016-04-26 15:24] asajeffrey commented on #10853
Well this would be the problem...

In servo/main.rs:
[code]
in servo/lib.rs:
[code]
so `main()` calls `opts::from_cmdline_args` which sets `DEFAULT_OPTIONS`, then `run_content_process` calls `opts::set_defaults` after the options have been set, and boom.

[2016-04-26 15:37] jdm opened #10856 "Move abstract parser infrastructure out of servohtmlparser.rs"
This includes `ParserRoot`, `ParserField`, `MutNullableParserField`, `TrustedParser`, and `ParserRef`. Let's move them to `components/script/parse/mod.rs` instead.

Code: `components/script/dom/servohtmlparser.rs`, `components/script/parse/mod.rs`

[2016-04-26 15:43] kaksmet commented on #10853
In content processes `opts::from_cmdline_args` doesn't actually set any opts, see [this comment](https://github.com/servo/servo/blob/6889f37d9ed1b147146fa1461ed8d9b1d151745c/components/util/opts.rs#L590-L595).

I think this regressed with #10572.
The issue is with the content process calling `initiate_panic_hook()` before `run_content_process()`.
`initiate_panic_hook` calls `opts::get()` which cas

[2016-04-26 15:47] asajeffrey commented on #10853
@kaksmet yes, just noticed the `return` statement, and that comment.  So your theory is now winning!

[2016-04-26 15:55] asajeffrey commented on #10853
It looks like this is fixed by #10824, since that removes the problematic use of `opts`.

[2016-04-26 16:09] larsbergstrom commented on #10452
Yes, that's correct.

[2016-04-26 17:11] broesamle commented on #10856
I would take it as my first rust experience...

Please correct me if I'm wrong but it does not look extremely urgent, to me.

[2016-04-26 17:31] jdm opened #10858 "Error reporting UX metabug"
This is a collection of ideas for making it as easy as possible to report errors encountered while using Servo in a useful and meaningful way.

[2016-04-26 17:31] jdm commented on #10858
http://help.recordit.co/api/

[2016-04-26 17:31] jdm commented on #10858
[code]

[2016-04-26 17:41] jdm commented on #10856
@broesamle Please do! You are correct that this is not an urgent task; that being said, if you won't be able to work on it for a few days, we'd prefer to leave it available for somebody else.

[2016-04-26 17:45] SimonSapin opened #10859 "CRASH [expected OK] /html/dom/documents/dom-tree-accessors/document.getElementsByName/document.getElementsByName-same.html"
[code]

In https://github.com/servo/servo/pull/10722#issuecomment-214815147, which only touches table layout code.

[2016-04-26 18:50] KiChjang opened #10860 "Return a Result<i64, ()> from do_parse_integer"
This makes it consistent with other parse_integer functions.

Code: `components/style/attr.rs`

[2016-04-26 18:53] KiChjang opened #10861 "Improve parsing of numbers in util/str.rs"
#10608 added support to parse double values from DOMStrings, but the mechanism it uses is messy - we have to keep track of how many digits we've parsed for the units part and the fraction part. We should make use of `take_while_ref` from the itertools crate.

Code: `components/util/str.rs`

[2016-04-26 18:59] #10621 closed

[2016-04-26 19:37] asajeffrey commented on #10334
#10862 allows us to test this, by making sure the root pipeline survives, even when randomly killing pipelines.

[2016-04-26 20:37] asajeffrey opened #10864 "Remove panic! from compositor"
We got rid of the uses of `.unwrap()` but not `panic!`.

[2016-04-26 21:32] aneeshusa commented on #10864
Should we add a lint for this to the `etc/ci/check_no_unwrap.sh` script as well?

[2016-04-26 22:51] asajeffrey commented on #10864
That would be a good idea.

[2016-04-27 01:40] #10739 closed

[2016-04-27 02:07] axitkhurana commented on #10860
Would like to work on this @KiChjang

[2016-04-27 02:16] KiChjang commented on #10860
Go for it!

[2016-04-27 02:36] danlrobertson commented on #10525
Looks interesting! I don't know much about CORS, but I should have a PR in soon

[2016-04-27 05:45] #10853 closed

[2016-04-27 05:58] askeing commented on #10374
I'd like to try it

[2016-04-27 06:26] KiChjang commented on #10374
You got it!

[2016-04-27 07:16] #10860 closed

[2016-04-27 08:05] shinglyu commented on #10181
@danlrobertson What flexbox property does servo support right now?
I tried to open this [test page](https://gist.github.com/shinglyu/0e3bc00ca2835354c8a27c92007ff281), but all the 4 flex-direction gives me this kind of layout:
![_087](https://cloud.githubusercontent.com/assets/3250983/14845520/51f2e9ce-0c91-11e6-9c14-7a96f2cd0821.png)

I looked into the Rust log and found

[code]

[2016-04-27 08:48] nical opened #10874 "fatal runtime error: Could not unwind stack, error = 5 Servo exited with return value -4"
I get this crash on local build (linux) of [this morning's master branch](https://github.com/servo/servo/commit/55ea0d1133f2ccd63cb44f9e7ce613c07bcf613f).

The output is pretty succinct this time:
``
$ ./mach run --release -w 'http://reddit.com/r/rust'
fatal runtime error: Could not unwind stack, error = 5
Servo exited with return value -4
``

To reproduce I just go to reddit, follow one of the li

[2016-04-27 11:23] #10856 closed

[2016-04-27 11:27] Ms2ger commented on #9256
Fixed in #10706.

[2016-04-27 11:27] #9256 closed

[2016-04-27 11:33] danlrobertson commented on #10181
Ah! Good question! A lot of flex style properties are experimental at this time, so they have to be enabled. Use something like the following

[code]

[2016-04-27 11:38] jdm commented on #10181
See the `layout` preferences starting at http://mxr.mozilla.org/servo/source/resources/prefs.json#43 .

[2016-04-27 11:55] Byramklc opened #10875 "Windows build -r Error"
[code]

[2016-04-27 11:57] nox commented on #10875
Did you follow the build instructions from the README file?

[2016-04-27 12:02] Byramklc commented on #10875
Yes

`$ ./mach build --dev
   Compiling bitflags v0.4.0
   Compiling getopts v0.2.14
   Compiling heapsize v0.3.5
   Compiling ref_slice v0.1.0
   Compiling language-tags v0.2.0
   Compiling glob v0.2.10
   Compiling gcc v0.3.26
   Compiling libc v0.2.4
   Compiling color_quant v1.0.0
   Compiling backtrace v0.2.1
   Compiling browserhtml v0.1.4 (https://github.com/browserhtml/browserhtml?branch=g

[2016-04-27 12:07] Byramklc commented on #10875
Python re install and problem fixed

[2016-04-27 12:07] #10875 closed

[2016-04-27 12:25] jdm commented on #10874
[code]

[2016-04-27 12:27] jdm commented on #10874
I'm going to file the symptom of the panic as a new issue and focus this issue on resolving the crash due to stack unwinding. @asajeffrey @Manishearth I suspect the recent code that attempts to get a backtrace in the panic failure.

[2016-04-27 12:28] mmatyas commented on #10310
Just tried the latest build, the wr-stats fonts are now readable... until a redraw, when the whole Servo window turns white.

[2016-04-27 12:36] jdm opened #10876 "HTMLAnchorElement getters don't work until the href setter is called"
HTMLAnchorElement::reinitialize_url returns early if `self.url` is null, but that means that it doesn't call `set_url`, which means that it stays null.

[2016-04-27 12:40] jdm commented on #10876
[code]

[2016-04-27 12:41] jdm opened #10877 "HTMLAnchorElement search setter panics due to borrow error"
[code]

[code]

[2016-04-27 12:42] jdm commented on #10877
Specifically, `update_href` calls `self.url.borrow()`, but it's called from inside the `if let` block initiated by `self.url.borrow_mut()` instead `HTMLAnchorElement::SetSearch`.

[2016-04-27 12:43] jdm commented on #10874
Looks like this may be a symptom of the JS JIT getting in the way of unwinding. In a reduced testcase (#10877) I get https://gist.github.com/jdm/6af061d6b58768eabf19bbcf3ccab741 instead.

[2016-04-27 12:52] jdm commented on #10876
I believe the right thing to do here is add an `attribute_mutated` override that looked for `href` modifications and calls `self.set_url`. See `htmliframeelement.rs` for a good model.

Code: `components/script/dom/htmlanchorelement.rs`
Test: We should [create a test](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) that exercises each of the [getters and setters](h

[2016-04-27 12:54] frewsxcv commented on #9232
Another wasm in Rust project appears: https://gitlab.com/DanielKeep/wasm

[2016-04-27 12:59] jdm commented on #10877
By inspection, this can also trigger in every setter as well. I propose that `update_href` accept an `&Url` argument and the callers all provide it, so that it doesn't need to call `self.url.borrow()`.

Code: `components/script/dom/htmliframeelement.rs`
Test: We should [write one](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests). Since it will overlap with the test

[2016-04-27 13:04] mmatyas commented on #10310
Actually, the whole screen is white on start.

[2016-04-27 13:05] jdm commented on #10166
@awalGarg Any progress? Are you still working on this?

[2016-04-27 13:25] broesamle commented on #10877
If this is not an urgent one, I would give it a try.
Since my rust practice is still young, I might take some time to find my way around...

[2016-04-27 13:32] jdm commented on #10877
@broesamle Go for it :) Ask questions if anything is confusing.

[2016-04-27 14:54] shinglyu commented on #10452
@jdm Thanks for the information!

@wlach I tried to push a dozens of test data onto my local treeherder, everything looks OK so far. How can I apply for access to the staging machine? Do I need to provide some sample data I submitted for review?

@larsbergstrom Now I run everything on my desktop computer, using a combination of Jenkins + bash script. What kind of setup do you suggest for 1) before

[2016-04-27 14:56] shinglyu commented on #10452
@larsbergstrom I also want to clarify our goal, are we looking for regression over time, or we are trying to compare with other browsers? Which one is more important/urgent right now?

[2016-04-27 15:01] shinglyu commented on #10181
Wow, I didn't know that. Is that documented anywhere?

[2016-04-27 15:02] jdm commented on #10181
I don't believe so. If you can come up with a useful place to document it, I'm open to the idea :)

[2016-04-27 15:06] shinglyu commented on #10181
Is wiki a suitable place? The pages don't look very structured, so I wonder if we want to make it a go-to place for documentation? Or perhaps we should put documents in-tree and use a script to collect them into a website or something.

[2016-04-27 15:09] jdm commented on #10181
I'm generally recommending that documentation go in the `docs` directory rather than the wiki, these days.

[2016-04-27 15:10] metajack commented on #10452
I haven't discussed it with Lars yet, but I would think we want comparison with other browsers first. We know we are probably behind right now since we've never tested or tried to optimize this. It is important not to make the situation worse, but the immediate goals are to get page load performance at least into the same ballpark.

[2016-04-27 15:13] asajeffrey commented on #10874
@jdm: one change that @Manishearth and I introduced recently was to use TLS for per-thread panic handling, could this be related?

[2016-04-27 15:17] shinglyu commented on #10181
I see, perhaps a `COMMAND_LINE_ARGS.md` in which we can document the usage and effect of the arguments? This will be much more helpful than the one-liner from `./mach -h`.

[2016-04-27 15:27] jdm commented on #10874
@asajeffrey I think "fatal runtime error: Could not unwind stack, error = 5" is likely the smoking gun here.

[2016-04-27 15:29] jdm commented on #10181
That's not a bad idea. Documenting some of the most common and useful ones could be good, which would let us introduce --pref and direct the reader to prefs.json to learn more.

[2016-04-27 15:32] shinglyu opened #10878 "Document commonly used command line arguments"
Create a file `docs/COMMAND_LINE_ARGS.md` to document some commonly used commandline arguments

e.g.
To enable experimental CSS properties, use `--perf`
` ./mach rud -d -- --pref layout.flex.enabled --pref layout.flex-direction.enabled ...`
You can find the layout preferences starting at http://mxr.mozilla.org/servo/source/resources/prefs.json#43 .

(This is based on the discussion in #10181)

[2016-04-27 16:00] axitkhurana commented on #10876
@jdm would like to work on this one :)

[2016-04-27 16:05] asajeffrey commented on #10874
@jdm: we're also now using the backtrace crate for grabbing backtraces, rather than using the built-in panic handler's mechanism.

[2016-04-27 16:15] asajeffrey opened #10879 "Servo doesn't build with backtrace's serialize-serde feature"
If we edit `components/util/Cargo.toml` to enable backtrace's `serialize-serde` option:

[code]

then the build fails:

[code]

cc @alexcrichton.

[2016-04-27 16:29] jdm commented on #10876
@axitkhurana Great! Please ask questions if anything's unclear :)

[2016-04-27 16:37] asajeffrey commented on #10570
Fixed by #10572.

[2016-04-27 16:37] #10570 closed

[2016-04-27 16:38] asajeffrey commented on #10607
Fixed by #10609.

[2016-04-27 16:38] #10607 closed

[2016-04-27 16:45] alexcrichton commented on #10879
I guess this is where syntex/nightly clash? Right now the `serde` feature use syntex, but I guess some transitive dependency is compiled as being used for nightly? The way to get this working would to have serde support use nightly plugins maybe?

[2016-04-27 17:33] jdm commented on #10311
@rebstar6 Just to be sure, are you continuing to work on this, or is your project period complete?

[2016-04-27 17:36] broesamle commented on #10877
Indeed, there is something that confuses me: Maybe you have something special in mind when you mention `htmliframeelement.rs` in particular.
The html example does not use `<iframe>`
and `HTMLAnchorElement` does not hint at any iframe-specific-ness, to me.

[2016-04-27 17:46] rebstar6 commented on #10311
Technically the project is over, but I'm gonna still work on it - the next week is exam time, so likely no progress, but after May 4 I plan to jump back into it. Let me know if that's ok!

[2016-04-27 17:51] jdm commented on #10311
Totally fine 💃

[2016-04-27 18:01] jdm commented on #10877
Ack, that was a typo. I meant htmlanchorelement.rs.

[2016-04-27 18:05] Wafflespeanut commented on #9551
fixed by #10838

[2016-04-27 18:05] #9551 closed

[2016-04-27 18:07] Wafflespeanut commented on #10185
fixed by #10210, #10277, #10324, #10488

[2016-04-27 18:07] #10185 closed

[2016-04-27 18:12] Wafflespeanut commented on #10692
#10751 fixes `&&`. Are we planning to make a move on `||`?

[2016-04-27 18:14] jdm commented on #10692
I think it's worth seeing if any instances are reported.

[2016-04-27 18:18] perlun commented on #10185
Thanks @Wafflespeanut for cleaning up!

[2016-04-27 19:12] #10738 closed

[2016-04-27 19:48] broesamle commented on #10877
I created a test:
`$ ./mach create-wpt tests/wpt/mozilla/tests/mozilla/htmlanchorelment-search-attribute.html`
The file is there but mach wouldn't run the test.
`$ ./mach test-wpt --release _mozilla/mozilla/htmlanchorelement-search-attribute.html
Running tests in web-platform-tests

Unsupported test type wdspec for product servo
Ran 0 tests finished in 0.0 seconds.
  • 0 ran as expected. 0 tests s

[2016-04-27 19:52] KiChjang commented on #10877
Is the test file filled empty? It looks like you misspelt `htmlachorelement-search-attribute.html` when you did `./mach create-wpt`.

[2016-04-27 19:53] perlun opened #10881 "Test failures in /css-transforms-1_dev/html"
After #10809 has been merged, these will be failing:

[code]

This issue exists to keep track of the underlying problem until we have fixed it for real.

[2016-04-27 20:01] jdm commented on #10881
<img width="1053" alt="screen shot 2016-04-25 at 2 52 30 pm" src="https://cloud.githubusercontent.com/assets/27658/14795202/672d5ae2-0af5-11e6-9bff-8e62ead02791.png">
<img width="1047" alt="screen shot 2016-04-25 at 2 52 45 pm" src="https://cloud.githubusercontent.com/assets/27658/14795206/6a469a68-0af5-11e6-94fd-2d8bde349835.png">

[2016-04-27 20:06] jdm opened #10882 "Treat 404 responses when downloading rustc differently from network errors"
[code]

[2016-04-27 20:06] jdm commented on #10882
A 404 response indicates that the platform isn't recognized or unsupported, so we should display a better error message in that case.

[2016-04-27 20:09] broesamle commented on #10877
comparing with an already existing test:
Both files are present in the same directory, one works, one does not.
[code]
This is the `more` printout of the test file:
[code]

[2016-04-27 20:23] jdm opened #10883 "Display a helpful message when invoking test-wpt with a tests/wpt/css-tests/ path"
This is incorrect and an easy and confusing mistake to make.

[2016-04-27 20:24] jdm commented on #10883
Maybe we could even just invoke the correct command silently.

[2016-04-27 20:25] jdm commented on #10883
We should consider if there are useful things we could do with update-wpt vs update-css as well.

[2016-04-27 20:38] jdm commented on #10877
Are there changes present in the MANIFEST.json that show the test file being added?

[2016-04-27 20:39] perlun opened #10884 "mach update-css has confusing semantics"
I ran the following, after changing some code that caused tests that previously passed to fail:

[code]

Then I tried with `git diff`. It didn't show me anything; I assumed the command hadn't worked. It was only when @jdm told me to `git show` that I realized it had behind-the-scenes creates a new commit with the `.ini` file changes in.

This is a confusing behavior and IMHO a bad default. _If_ we

[2016-04-27 20:40] KiChjang commented on #10884
I recall seeing a similar issue before... @Wafflespeanut might know more.

[2016-04-27 20:50] broesamle commented on #10877
`git status` does not tell me any changes in `MANIFEST.json` (which I thought was only for the tests to be expeted to fail

[2016-04-27 20:54] asajeffrey opened #10885 "Pipeline ID spoofing when iframes create pipeline ids?"
We are thinking about how to make pipeline ids unguessable, so that even if an attacker compromises their own pipeline, they can't escalate to compromise other ones by spoofing pipeline ids in requests to the constellation.

We need to think about #7807 in this context: can an attacker navigate to `alice.com`, but generate the pipeline id for Alice and then spoof the constellation?

IRC discussion

[2016-04-27 20:56] asajeffrey commented on #10885
See #10808 and #10542.

[2016-04-27 21:00] jdm commented on #10877
No, MANIFEST.json is where all of the tests that can be run are listed. I'm guessing you interrupted the `create-wpt` process before it completed? In any case, running `./mach test-wpt --manifest-update tests/wpt/mozilla/tests/mozilla/htmlanchorelment-search-attribute.html` should fix it for any future runs.

[2016-04-27 21:14] broesamle commented on #10877
exactly, I have seen that before, but didn't consider it crucial for makint the test itself.
'Binary path /home/helge/Development/servo/target/debug/servo does not exist'

just building the debug target as well

[2016-04-27 22:07] broesamle commented on #10877
Thank you for the late night input...it worked!

[2016-04-27 22:32] larsbergstrom commented on #10836
fyi @pcwalton this should really help our test-{wpt,css} times on OSX

[2016-04-27 22:45] broesamle commented on #10877
updated the testfile according to your suggested code
the test panics! the message looks different to your post.
how do I know its the panicking we're looking for?

[code]
(sorry for all the long code postings)

[2016-04-27 22:52] wlach commented on #10452
@shinglyu Submitting to treeherder stage should be no problem, just follow the procedure here to add credentials and ping me again when you've done so:

http://treeherder.readthedocs.io/common_tasks.html#generating-and-using-credentials-on-treeherder-stage-or-production

[2016-04-27 22:53] jdm commented on #10877
Do you see any different behaviour if you just create an HTML page anywhere and run `./mach run path/to/file.html`?

[2016-04-27 23:29] rzambre opened #10886 "Time-profiling output to a CSV file upon exit for automated Servo testing"
This will allow the user to use the existing -p option to direct the time-profiling output to a CSV file upon termination of Servo. So the -p option can take two types of arguments: either a number of a file name. If it is a number, then the number will be used as the interval for printing out profiling output to the terminal (as it is currently implemented). If it is a file name, the time-profili

[2016-04-27 23:35] rzambre commented on #10886
@larsbergstrom I have a working implementation of both the features here: https://github.com/rzambre/servo/tree/intCSVprofiling. The formatting of the interval profiling is the same as it is now.

However, when I use the -p option alone without specifying a number or a file name, I'm still getting the bad-certificate error.

[2016-04-27 23:47] danlrobertson commented on #10209
I'm taking a crack at `copyTex*` and `texSubImage2D`

[2016-04-28 00:31] #10755 closed

[2016-04-28 06:57] yoava333 commented on #10395
I investigated a big further, it seems that we're hitting an msys64 bug.
When running the same code on *nix it works.
I've reduced the error to this snippet:
[code]

The error I'm getting:
[code]

I'm using msys python:
[code]

[2016-04-28 06:58] Wafflespeanut commented on #10884
Yeah, that was `update-wpt`. We should do something similar to what we did for #9666 (i.e., pass `--no-patch` argument by default)

Code: `python/servo/testing_commands.py`

[2016-04-28 07:53] shinglyu commented on #10181
@danlrobertson I make a draft version, but I want to get your feedback before I submit a PR. I'm not sure if I'm getting the full size of the flex container in the correct way.

https://github.com/servo/servo/compare/master...shinglyu:flex-reverse

Here is a screenshot, I don't know why the row-reverse one looks different if I run without `-o output.png`.
![output](https://cloud.githubusercontent.

[2016-04-28 08:09] broesamle commented on #10877
starting servo from the console with `htmlanchorelment-search-attribute_byHand.html` (which works as it should on current mozilla) i get the same as when running the test (without the --release option):

[code]

[2016-04-28 08:09] shinglyu commented on #10452
@metajack: Thanks for the information
@wlach: Thank you, here is the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1268381

[2016-04-28 08:47] shinglyu commented on #7512
I ran `LIBGL_DEBUG=1 xvfb-run ./mach run -r -z https://www.wikipeida.org -x -o test.png`
and got the error message:
[code]
Could it be a servo bug or my X window is wrong?

[2016-04-28 09:10] Ms2ger commented on #10877
There's another panic happening before that.

[2016-04-28 09:44] broesamle commented on #10877
Oh yes, thank you, now I see it :-)

[2016-04-28 12:22] broesamle commented on #10877
Finally, I go a working (expectedly `CRASH`ing) minimal test.

How do I direct **the whole** output into a logfile when using mach? (So I can see the whole crash message of my test.)

[2016-04-28 12:58] frewsxcv commented on #10836
For reference, [here's the relevant section in the AppKit docs.](https://developer.apple.com/library/mac/documentation/AppKit/Reference/NSRunningApplication_Class/#//apple_ref/c/tdef/NSApplicationActivationPolicy)

[2016-04-28 13:24] Jayflux opened #10893 "Have servo build on Windows without the need of msys/mingw"
It would be great to simplify the build steps of servo on Windows platforms.
Currently there is a lot of work to do, with setting up mingw, python and msys.

It would be ideal to just be able to use powershell or a bash terminal within a windows environment and have it build.

This obviously means we need to remove linux-only dependancies such as make

**why?**
It would encourage more contributors

[2016-04-28 13:39] Ms2ger commented on #10893
Not much point in doing anything for Servo itself before mozilla-central moves off autoconf and make; that's probably a few years off.

There might be other dependencies that use make; possibly it would be useful for the wider Rust community if those were to avoid make.

[2016-04-28 14:07] frewsxcv commented on #10836
Just made this change in servo-glutin:

[code]

[Here's the line upstream](https://github.com/tomaka/glutin/blob/e46781979499e47e04697fe96994dfe96b7f1e59/src/api/cocoa/mod.rs#L368)

It appears to work as expected. The next step would be to find a way to incorporate this into the glutin API. As usual, I'd rather try to merge this upstream before doing hackity hacks in servo-glutin. If anyone has id

[2016-04-28 14:49] danlrobertson commented on #10181
Great work! Column looks great, but there is a problem with row (unrelated to this issue). There shouldn't be padding between the blocks for `row-reverse`. Only real question I have is wouldn't the inline or block start be the accumulator - size of element? For example.

[code]
Becomes
[code]
I could be wrong.

[2016-04-28 15:22] frewsxcv commented on #10836
Summary of options:

### `NSApplicationActivationPolicyRegular`

[code]

* **Does** appear in Dock.app
* **Does** take window focus for every test

### `NSApplicationActivationPolicyAccessory`

[code]

* **Does not** appear in Dock.app
* **Does** take window focus for every test

### `NSApplicationActivationPolicyProhibited`

[code]

* **Does not** appear in Dock.app
* **Does not** take window foc

[2016-04-28 15:35] ConnorGBrewster commented on #10836
@frewsxcv I agree with the last option, it is nearly impossible to do anything else on my computer while tests are running since the window focus is taken during every test.

[2016-04-28 15:56] asajeffrey opened #10897 "Chaos monkey mode should only protect mozbrowser roots from closure"
At the moment `--random-pipeline-closure-probability=P` doesn't kill the root pipeline. It should only do this when pref `dom.mozbrowser.enabled` is true.

[2016-04-28 16:07] askeing commented on #10882
I'd like to do it, thx :)

[2016-04-28 16:09] jdm commented on #10882
@askeing Please do :)

[2016-04-28 16:52] metajack commented on #10836
@tomaka Do you have suggestions here for how we can do this with a minimum of impact on glutin?

[2016-04-28 16:53] frewsxcv commented on #10836
I asked @tomaka on IRC this morning briefly and they responded that we should modify [this struct](https://github.com/tomaka/glutin/blob/e46781979499e47e04697fe96994dfe96b7f1e59/src/api/cocoa/mod.rs#L183-L184) as it's passed to the [`Window::new`](https://github.com/tomaka/glutin/blob/e46781979499e47e04697fe96994dfe96b7f1e59/src/api/cocoa/mod.rs#L278-L280) constructor.

[2016-04-28 16:56] askeing commented on #10882
@jdm, I found we already handle the HTTPError.
https://github.com/servo/servo/blob/master/python/servo/bootstrap_commands.py#L66-L71

It seems like we only have to catch HTTPError before URLError, and then print more information when get e.code is 404 (ex: host_triple).
Is that right?

[2016-04-28 17:06] jdm commented on #10882
Interesting. Maybe I misdiagnosed the failure that was reported in the original description.

[2016-04-28 17:07] jdm commented on #10882
I would be surprised if the order of exceptions mattered, but maybe I don't know python and/or urllib2 well enough?

[2016-04-28 17:18] askeing commented on #10882
The `URLError` seems like catch all problems without HTTP status code. So we should check `HTTPError` for HTTP specific errors, and then check `URLError` for others.
ref: https://docs.python.org/2/library/urllib2.html#urllib2.URLError

After re-order the exceptions, downloading `not-support host triple` will get `403` status from server:
[code]
Maybe we just have to re-order exceptions and add the

[2016-04-28 17:19] asajeffrey commented on #10124
#10899 adds a test for constellation hardening. If we're feeling brave we could gate on it.

[2016-04-28 17:23] tomaka commented on #10836
Like @frewsxcv said.

Then in `os/macos` add a `WindowBuilderExt` trait (similar to [this](https://github.com/tomaka/glutin/blob/e46781979499e47e04697fe96994dfe96b7f1e59/src/os/unix.rs#L43-L49)) that allows modifying this setting.

[2016-04-28 17:28] rzambre commented on #10110
After going through our labeled classification data, here are some raw cut-off numbers for parallelization of _overall layout_ (styling + primary layout passes).

If we are looking at only _one_ feature to decide whether or not to parallelize, these would be the threshold values:

* <b>DOM-size</b>: parallelize if greater than **750**
* <b>Number of leaves</b>: parallelize if greater than <b>385</

[2016-04-28 17:36] frewsxcv commented on #10836
I can take care of this later today if no one gets to it before me.

[2016-04-28 19:42] asajeffrey commented on #10334
#10898 only keeps the root pipeline alive when `dom.mozbrowser.enabled` is true.

[2016-04-28 19:50] KiChjang opened #10904 "Remove CacheRequestDetails"
It looks like all the use cases of it can be replaced by `Request` instead, making `CacheRequestDetails` unnecessary.

Code: `components/net/fetch/cors_cache.rs`

[2016-04-28 20:02] notriddle commented on #10726
Those "margins" are actually the space intended for the font's [descenders](https://en.wikipedia.org/wiki/Descender). In both Chrome, these canvases are touching:

[code]

![image](https://cloud.githubusercontent.com/assets/1593513/14899501/246726cc-0d41-11e6-9a5a-04cc2cd2bde1.png)

But these canvases have a "margin" between them:

[code]

![image](https://cloud.githubusercontent.com/assets/159351

[2016-04-28 20:07] notriddle commented on #10726
The culprit code is [`InlineFlow::compute_minimum_ascent_and_descent`](https://github.com/notriddle/servo/blob/daa1a2a0a82d336205dae340d705ea6c0bed4ed2/components/layout/inline.rs#L1180). It seems to mine the font metrics for minimum values even when there is no actual text (also, its comment claims that it works on a line-by-line basis, but it seems to give a result to the entire flow).

[2016-04-28 20:26] fitzgen opened #10905 "Figure out how to unit test the trace-dump.js code"
Is there an existing test suite for random JS we could use? Some thing like xpcshell in m-c?

Would it be easier to vendor the trace-dump.js code, where it would live in its own third party repo and have its own unit tests there? Then we would periodically update servo's copy from upstream but not run the upstream's tests as part of servo's suite.

[2016-04-28 20:30] fitzgen opened #10906 "Add a test for trace dump files to tests/unit/profile/time.rs"
There is a smoke test that the profiler thread can be created and destroyed in `tests/unit/profile/time.rs`. We should add another test that when we tell the profiler thread to dump a trace timeline to a file, that the target file is created by the time that the profiler thread shuts down.

[2016-04-28 20:36] #9919 closed

[2016-04-28 20:36] fitzgen opened #10907 "Give each profiler trace an ID, and `why: Option<ID>` backpointer"
If each profiler trace can say "why" it was started by pointing back to a previous trace, we can walk backwards to see why any given piece of work happened all the way to some root cause.

We could visualize this in the timeline trace dumps as a series of arrows backwards (maybe only on hover or something so it isn't visual overload).

[2016-04-28 20:53] fitzgen opened #10908 "Automate a way to reduce the "unknown unknowns" of the profiler's coverage"
The profiler's tracing instrumentation requires explicit and manual instrumentation, which means that it does not, and will not over time, completely cover all operations. This sounds very similar to about:memory's instrumentation in Firefox, and they have a trick to discover and prioritize areas to expand the instrumentation to: DMD. DMD sees all mallocs which is too slow to actually ship, but in

[2016-04-28 21:11] jdm commented on #10905
We do not have a JS shell yet, there's we haven't had any random JS that needed testing before now.

[2016-04-28 21:14] fitzgen commented on #10905
So do you think the vendoring approach would be easier/better, then?

[2016-04-28 21:30] #10525 closed

[2016-04-28 21:31] jdm commented on #10905
Well, we could plausibly do unit tests via a WPT test that loads the script using a chrome:// URL if trace-dump.js lived in resources/. Vendoring may be less work; it's not really clear to me how often people will want to modify the file.

[2016-04-28 22:17] aneeshusa opened #10909 "Make etc/ci/manifest_changed.sh work on release builders"
The `etc/ci/manifest_changed.sh` script does not work properly on release builders because it looks for the development version of servo.

Here is an example error (from http://build.servo.org/builders/linux-rel/builds/672/steps/shell_2/logs/stdio):
[code]

There are actually two fixes needed:

- Add
[code]
to our CI bash scripts so they fail if any command fails.
- Fix the script so that it doesn

[2016-04-28 22:25] #10374 closed

[2016-04-28 22:43] frewsxcv commented on #10836
I don't really know what you mean by this. As in updating the activation policy value at runtime? If so, why is it going on the `WindowBuildExt` trait?

[2016-04-28 22:48] frewsxcv commented on #10836
Nevermind, I understand.

[2016-04-28 23:36] frewsxcv commented on #10836
Opened a PR: https://github.com/tomaka/glutin/pull/769/files?diff=unified

[2016-04-29 00:13] SunyDays commented on #10861
I'd like to work on it.
I understand correctly, that tracking number of digits in unit and fraction parts need add to functions read_fraction and read_exponent for control that value which we parse can be stored in f64?

[2016-04-29 00:14] #10884 closed

[2016-04-29 00:25] KiChjang commented on #10861
No, that's not the issue here. We want to _not_ keep track of the number of digits parsed in `read_fraction` or `read_numbers`; instead, it should simply mutate the iterator, fast-forwarding to the index after the last digit was parsed. `take_while_ref` from the `itertools` crate is perfect for this, but it looks like there are some trait bounds that are not satisfied when I first tried to impleme

[2016-04-29 00:42] pcwalton commented on #9879
Here's something interesting I found:

Put on a YouTube video on in Firefox in the background and start a release Servo with WebRender pointing to https://www.rust-lang.org/documentation.html. *Without clicking anywhere*, notice that the scrolling feels laggy. Now click on Firefox and click back to Servo. (Click; do not use cmd+Tab.) Servo feels responsive again!

Another thing to try: Click on a

[2016-04-29 01:07] izgzhen opened #10911 "Implement complete set of `BlobPart` and related object construction"
NOTE: This is assigned to myself.

Spec: https://w3c.github.io/FileAPI/#constructorBlob

Specifically, we should add support for `ArrayBuffer` and `ArrayBufferView`. The FAIL cases in test suite should be considered.

Related to issue #10778.

[2016-04-29 01:18] KiChjang commented on #10911
Support for `ArrayBuffer` and `ArrayBufferView` requires a working implementation of `CustomAutoRooter`. @jdm may know more about the details for this.

[2016-04-29 01:44] izgzhen commented on #10911
I read https://github.com/servo/servo/issues/7676 and https://github.com/servo/rust-mozjs/pull/225 (Although I don't really grasp what has been done). But I'd love to know what is blocking the road and move it if necessary :)

[2016-04-29 01:58] frewsxcv commented on #10235
Fixed by https://github.com/servo/webrender/pull/264

[2016-04-29 01:58] #10235 closed

[2016-04-29 02:13] frewsxcv opened #10912 "Loading nytimes.com results in username/password prompt"
![untitled](https://cloud.githubusercontent.com/assets/416575/14906854/61c2c470-0d8e-11e6-9226-92638045e2f1.gif)

[2016-04-29 02:46] shinglyu commented on #10181
Ah yes, your code looks more correct. I subtract the first kid's block size in the line
[code]
, which is totally unnecessary if I swap the order of the two line.

I notice the padding in `row-reverse`, I probably use the wrong full width, let me check that.

[2016-04-29 03:15] ConnorGBrewster commented on #10581
Fixed in #10647

[2016-04-29 03:18] KiChjang commented on #10911
This is the relevant mailing list topic: https://groups.google.com/forum/#!topic/mozilla.dev.servo/tqqwgAmhp8o

[2016-04-29 03:31] #10581 closed

[2016-04-29 03:31] jdm commented on #10909
Note that the script doesn't directly reference a binary - it invokes a mach command that defaults to debug but can accept a `--release` argument as well.

[2016-04-29 03:36] askeing commented on #10909
after `set -o errexit`, we should handle the first `test-wpt` error, and then try `test-wpt --release`.
may I have a try?

[2016-04-29 03:56] aneeshusa commented on #10909
@askeing Go for it!

From my understanding, we shouldn't need any binary at all to update the manifests. Ideally, the SKIP_TESTS argument should automatically turn off looking for a binary, but I have no idea where that argument is processed. I'd prefer a solution that doesn't depend on the binary if possible.

Possible files to investigate command line args for this:
- `python/servo/testing_comma

[2016-04-29 05:37] #10743 closed

[2016-04-29 06:24] shinglyu commented on #10181
I tried fixing the `row-reverse` bug, now it looks better. But I'm not sure if I used the correct number, especially the [full width](https://github.com/servo/servo/compare/master...shinglyu:flex-reverse#diff-15e52e01e411afb4c1c5eed2c9b79706R274) and the [flex child's actual width](https://github.com/servo/servo/compare/master...shinglyu:flex-reverse#diff-15e52e01e411afb4c1c5eed2c9b79706R281)

![o

[2016-04-29 06:55] shinglyu commented on #10181
A stupid question, how to I properly run the css tests for flexbox?
I tried
`./mach test-css tests/wpt/css-tests/css-flexbox-1_dev` => Everything times out
`./mach test-css tests/wpt/css-tests/css-flexbox-1_dev/html/flexbox-flex-direction-column-reverse.htm` => Passes, but when I see with my naked eye I think it should fail
`./mach test-css tests/wpt/css-tests/css-flexbox-1_dev/html/reftest.list`

[2016-04-29 10:45] danlrobertson commented on #10181
Good question! `./mach test-css tests/wpt/css-tests/css-flexbox-1_dev/html` is what I typically use. And you shouldn't need to run it with `--perf` options. See the `__dir__` file in the folder to check the `--pref` options the tests will be run with.

Looks great! I'd suggest submitting a PR soon so we can get more eyes on it.

[2016-04-29 11:42] askeing commented on #10909
@aneeshusa
The `SKIP_TESTS` doesn't really skip the tests,
it will still run the `run_wpt.py` with `'test_list': ['SKIP_TESTS']`.
And then `run.py` will call `wptcommandline.check_args(kwargs)` when setting defaults.
https://github.com/servo/servo/blob/master/tests/wpt/harness/wptrunner/wptcommandline.py#L314-L317

[2016-04-29 11:55] kaksmet commented on #10289
This was fixed by #10623.

[2016-04-29 11:55] #10289 closed

[2016-04-29 12:44] Manishearth commented on #10851
As mentioned in email, we need to be careful about process isolation here. The script task should never be reading files directly, nor should it be possible for the script task to ask another process to read an arbitrary file for it. Instead, the script task should ask the resource task to spawn a file dialog, and the resource task should return some handle through which the script task can refer

[2016-04-29 12:48] izgzhen commented on #10851
@Manishearth Thanks for guidance, I will see what I can do here

[2016-04-29 13:00] mskrzypkows commented on #10685
The spec didn't change. There is InvalidCharacter error in [css.rs](https://github.com/servo/servo/blob/master/components/script/dom/css.rs#L20)
Investigating why '\0' is invalid.

[2016-04-29 13:35] jdm opened #10919 "Write unit tests for persisted data"
Specifically, the routines for serializing it and deserializing it. I want to verify that the data is identical when recreated.

* [ ] localStorage
* [ ] http authentication cache
* [ ] cookies
* [ ] HSTS lists

[2016-04-29 13:36] Ms2ger opened #10920 "We should probably not apply styles from a non-text/css stylesheet in link elements"

[2016-04-29 13:37] Ms2ger opened #10921 "Test for the error event dispatched in StylesheetContext::response_complete"
Test when this event is dispatched in isolation.

I suspect it might also be possible to conjure up a case where both `headers_available` and `response_complete` dispatch an error event. (We should fail this test.)

[2016-04-29 14:12] askeing opened #10922 "Error when "./mach clean-nightlies -f""
If the user ever interrupt the downloading, the part file will keep in the folder.
So `./mach clean-nightlies -f` cannot handle it by `shutil.rmtree`.

[code]

[2016-04-29 14:30] ConnorGBrewster commented on #3220
This was fixed in #10647

[2016-04-29 14:31] #3220 closed

[2016-04-29 14:38] SimonSapin opened #10924 "FAIL [expected PASS] /_mozilla/css/iframe/mozbrowser_navigation.html"
https://github.com/servo/servo/pull/10834#issuecomment-215711754
[code]

`./mach test-wpt /_mozilla/css/iframe/mozbrowser_navigation.html --repeat-until-unexpected` failed for me locally at the 7th iteration, with the same hex hashes.

[2016-04-29 14:39] ConnorGBrewster opened #10925 "Handle XML parsing error properly"
According to https://w3c.github.io/DOM-Parsing/#methods when a parsing error occurs while parsing XML, we need to:
 * create a new document
 * append a new element with local name `parsererror` and namespace `http://www.mozilla.org/newlayout/xml/parsererror.xml` to the document
 * stop parsing and return the document

The test `tests/wpt/web-platform-tests/domparsing/DOMParser-parseFromString-xml.

[2016-04-29 15:11] jdm commented on #10924
The iframe displays a white page, which is interesting. Possibly the same issue I came across in #10760...

[2016-04-29 16:15] asajeffrey opened #10927 "Gate on /etc/ci/chaos_monkey_test.py"
Once #10899 lands, we should eventually gate on the chaos monkey tests. It would be nice to bake in the tests first, just to make sure we're not introducing a new source of intermittents.

cc @aneeshusa

[2016-04-29 16:16] ConnorGBrewster commented on #10925
I am working on this

[2016-04-29 16:41] aneeshusa opened #10930 "Rename check_no_unwrap.sh to check_no_panic.sh"
The `etc/ci/check_no_unwrap.sh` script checks that we don't call `unwrap()`, but after #10902 will also check for `panic!()`. It should be renamed to `etc/ci/check_no_panic.sh` to reflect the expanded scope.

We'll also need to update the `etc/ci/buildbot_steps.yml` file.

Blocked on servo/saltfs#316, #10902.

[2016-04-29 18:29] asajeffrey commented on #10124
Once #10899 lands, we can close this metabug, woo hoo!

[2016-04-29 18:47] craftytrickster opened #10933 "Serialize Shorthands Correctly"
Shorthand properties (such as margin) need special serialization treatment when being converted to strings. For example,

[code]

gets displayed as

[code]
This cannot be implemented until after https://github.com/servo/servo/pull/9410 is completed, since it is dependent on the changes made there.

[2016-04-29 20:03] frewsxcv commented on #10567
Duplicate of https://github.com/servo/servo/issues/10836 as well

[2016-04-29 20:03] #10567 closed

[2016-04-30 00:19] #10568 closed

[2016-04-30 02:25] #10864 closed

[2016-04-30 03:14] jdm opened #10940 "Disable scripting for documents without browsing contexts"
Document contains a `scripting_enabled` flag which is currently always true. We should instead set it to false if the document has no browsing context when it's created.

**Specification**: https://html.spec.whatwg.org/multipage/webappapis.html#concept-n-script
**Code**: `components/script/dom/document.rs`
**Test**: let's [write a test](https://github.com/servo/servo/blob/master/tests/wpt/README.m

[2016-04-30 05:46] #10836 closed

[2016-04-30 08:44] sydbarrett74 commented on #10845
I'm going to update Windows to 10.0.14332 and see if the problem persists.

[2016-04-30 08:54] #10166 closed

[2016-04-30 10:02] #10882 closed

[2016-04-30 10:59] Jayflux commented on #9939
@sorpaas are you still having this problem?

[2016-04-30 12:16] #10922 closed

[2016-04-30 13:42] bd339 commented on #10940
I would like to work on this.

[2016-04-30 14:04] jdm commented on #10940
@bd339 Go for it! Please ask questions about anything that's unclear.

[2016-04-30 14:08] frewsxcv commented on #9513
This might have been fixed by #10935

[2016-04-30 14:11] larsbergstrom commented on #9513
Yeah, that's an alternative approach (using glutin's pseudo-headless mode instead of the true headless mode I was trying here) that should work at least as well.

[2016-04-30 14:11] #9513 closed

[2016-04-30 14:20] larsbergstrom commented on #10243
Windows does not yet support WebRender. I'll be working on that before the June release.

[2016-04-30 14:21] Jayflux commented on #10243
@larsbergstrom  is there a ticket to track the windows/webRender work?

[2016-04-30 14:38] bd339 commented on #10940
For writing the test... I thought about inserting a `<script>` element into a document returned by `createDocument`, that will do something equivalent to `assert_equals(true, false)`. Would this work?

[2016-04-30 14:54] adamncasey commented on #10243
https://github.com/servo/servo/pull/10943

This PR aims to fix --browserhtml on windows

[2016-04-30 15:09] jdm commented on #10940
We would probably need something like `new_doc.script_executed = t.unreached_func("shouldn't be called");` and have the script invoke document.scrip_executed().

[2016-04-30 15:33] larsbergstrom commented on #10243
@Jayflux There is no such bug yet, though this one can work for it :-)

[2016-04-30 15:37] #10334 closed

[2016-04-30 16:03] bd339 commented on #10940
I ran this command to create the new test:
`./mach create-wpt tests/wpt/web-platform-tests/html/semantics/scripting-1/the-script-element/scripting-enabled.html`
But when I try to run the test with this command:
`./mach test-wpt tests/wpt/web-platform-tests/html/semantics/scripting-1/the-script-element/scripting-enabled.html`
... it reports that it has finished running 0 tests. Why is this?

[2016-04-30 16:15] jdm commented on #10940
Did you interrupt the create-wpt command while it was running? You'll need to run `--manifest-update` to the test-wpt command next time to make it work.

[2016-04-30 16:33] bd339 commented on #10940
This is the command I ran along with the ouptut:
`./mach create-wpt tests/wpt/web-platform-tests/html/semantics/scripting-1/the-script-element/scripting-enabled.html`

New python executable in /home/benjamin/bd339/servo/python/_virtualenv/bin/python2.7
Also creating executable in /home/benjamin/bd339/servo/python/_virtualenv/bin/python
Installing setuptools, pip...done.
looking for rustc at /home/

[2016-04-30 16:44] #10909 closed

[2016-04-30 18:15] bd339 commented on #10940
I'm facing the difficulty that even when `scripting_enabled` is always true, I can't get the test to fail. This is the test body.

var doc = document.implementation.createDocument ('http://www.w3.org/1999/xhtml', 'html');
doc.fail_test = t.unreached_func('should not have been called');

var script = document.createElementNS('http://www.w3.org/1999/xhtml', 'script');
script.text = 'document.fail_te

[2016-04-30 18:28] perlun commented on #10883
I think we have similar issues in other areas as well:

[code]

Do you want me to file a separate issue about that?

[2016-04-30 18:36] jdm commented on #10940
With respect to the create-wpt command, have you completed a debug build of servo?

[2016-04-30 18:40] bd339 commented on #10940
That was just before I did a debug build of my fork, so I guess that part is expected.

[2016-04-30 18:43] jdm commented on #10940
Ah, I figured out why the script doesn't execute correctly  - HTMLScriptElement::execute obtains the window for the document and calls evaluate_script_on_global_with_result, so the object for `document` is not the same as the newly created one. This triggers for me:
[code]

[2016-04-30 18:44] jdm commented on #10940
It might make more sense to create a `fail_test` function on the global window scope and have the script content be `fail_test()`, in that case.

[2016-04-30 19:25] DDEFISHER commented on #10933
Could I do this?

[2016-04-30 19:56] danlrobertson opened #10947 "Node::scroll_area should check if the element is potentially scrollable"
[`Node::scroll_area`](https://github.com/servo/servo/blob/master/components/script/dom/node.rs#L585-L615) should check if the element is [`potentially_scrollable`](https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L179-184) for the second condition of [line 607](https://github.com/servo/servo/blob/master/components/script/dom/node.rs#L607)

relevant specs:
[scrollWidth](h

[2016-04-30 20:17] jdm commented on #10933
Still waiting on #9410.

[2016-04-30 20:36] jdm commented on #10883
That could be covered by this as well.

[2016-05-01 01:14] axitkhurana commented on #10876
Seems like @broesamle had some time to work on it while I had an unexpectedly busy Thurday/Friday, I'll pick another one @jdm

[2016-05-01 01:21] #9879 closed

[2016-05-01 01:27] KiChjang commented on #10876
Oh! Sorry @axitkhurana, this is not supposed to happen.

@broesamle, I would ask of you to leave a comment on the issue next time when you work on it. You have stolen work away from another person who had been assigned an issue.

[2016-05-01 04:08] lhirlimann opened #10949 "panicking while loading www.lemonde.fr"
[code]

[2016-05-01 04:14] jdm commented on #10949
I stopped at rust_panic in a debugger and looked at a backtrace; this should be fixed by #10903. Thanks for reporting it!

[2016-05-01 04:20] #7553 closed

[2016-05-01 04:20] #9829 closed

[2016-05-01 04:25] KiChjang opened #10950 "Intermittent crash of /XMLHttpRequest/response-data-arraybuffer.htm"
[code]

[2016-05-01 04:27] KiChjang commented on #3649
The only thing left to do now is to support text/plain.

[2016-05-01 05:13] lhirlimann opened #10951 "Map and zooming tools are not rendered on openstreetmap"
From ssh://github.com/mozilla/servo
   ca29192..77cb2ca  master     -> origin/master
   d9dc6dd..fc1e4c8  auto       -> origin/auto
- fb5fa4d...84a128b try        -> origin/try  (forced update)
  Updating ca29192..77cb2ca

[ludo@Oulanl servo]$ ./mach run --release http://www.openstreetmap.org
ERROR:js::rust: Error at http://www.openstreetmap.org/assets/application-6acb3ade0c3d81c622fed4391615eb0bc

[2016-05-01 05:21] lhirlimann opened #10952 "panicking when loading agar.io"
[ludo@Oulanl servo]$ ./mach run --release http://www.agar.io
ERROR:js::rust: Error at http://agar.io/js/a.js?a&ad_box_:0:0: document.write is not a function

ERROR:js::rust: Error at http://staticxx.facebook.com/connect/xd_arbiter.php?version=42#cb=f381742319487ba&domain=agar.io&origin=http%3A%2F%2Fagar.io%2Ff7bb7fb0cb1716&relation=parent&error=unknown_user:47:1880: window.name is undefined

ERROR

[2016-05-01 06:14] jdm commented on #10952
lldb shows me that there are 2051 threads currently active when I lose the ability to spawn more. The vast majority that I see are LayoutWorker and PaintWorker, which I find really interesting.

[2016-05-01 06:36] jdm commented on #10952
This happens because an iframe sets location.hash to an empty string, which causes us to reload the page and create a new pipeline to do so. This repeats endlessly.

[2016-05-01 06:41] jdm commented on #10952
We're missing step 6 of https://html.spec.whatwg.org/multipage/browsers.html#navigate which would cause us to abort the navigation in this case.

[2016-05-01 06:42] jdm commented on #10952
Rather, the implementation in `handle_navigate` relies on a fragment existing, which doesn't match the specification.

[2016-05-01 07:23] broesamle commented on #10876
Hi @axitkhurana
apologies for that! It was certainly not my intention to get in the way of your work! While working on it, I was not aware, that it would affect our work directly.

In fact, I am only testing the getters and setters individually, not accounting for an unset `href`.

#10877 mentions that the test files would eventually end up in the same location:

I could have written some more tha

[2016-05-01 07:39] jdm commented on #10876
Yeah, these issues are independent, so I don't think that anything was done wrong here.

[2016-05-01 11:03] yoava333 commented on #10040
I'm sorry I won't have time to work on this

[2016-05-01 14:12] vramana commented on #7739
@jdm Can I work on this??

[2016-05-01 14:22] jdm commented on #7739
Yes! Ask questions about anything that's unclear!

[2016-05-01 14:32] vramana commented on #7739
1. Should network request performed using `fetch` ?
2. Should the `StylesheetFetcher` trait live in it's own file or can it live in `style_traits/lib.rs` ??

[2016-05-01 15:35] axitkhurana commented on #10876
Apologies in that case @jdm, should have read the the changes in PR first, thanks for clarifying @broesamle !

[2016-05-01 16:28] adamncasey commented on #10243
This can be closed when the webrender dependency is updated to https://github.com/servo/webrender/commit/672a36000e09f05f579569b8dc9330152fa984b8

[2016-05-01 17:22] aneeshusa commented on #10886
Can I request that this output TSV (tab-separated values) instead of CSV? I encounter less problems with TSV since tabs aren't so common as compared to commas.

[2016-05-01 19:49] gsnedders opened #10955 "Investigate Linux-only line-break failures"
Post #10913, we have a lot of the line break tests failing only on Linux. @mbrubeck speculated that this was down to font availability.

We should:

 * Check this is indeed the cause,
 * Make sure we have fonts on CI that cover it.

I'm happy to work on this, but I'm away for a few weeks still. :)

[2016-05-01 20:48] emilio commented on #230
@mbrubeck: This is closed after the switch to `xi-unicode`, right?

[2016-05-01 21:14] SimonSapin commented on #5713
What I described here may or may not have been the same as what #7936 fixed. Either way, closing since there isn’t much actionable here without steps to reproduce.

[2016-05-01 21:14] #5713 closed

[2016-05-01 21:54] drbo commented on #7888
Perhaps BoringSSL can be used instead?  Servo would need to bundle it but it is a much smaller dependency.

[2016-05-01 23:05] jdm commented on #7739
We should use the non-fetch network stack for the time being, and `style_traits/lib.rs` is fine. Now the best code to mimic is probably `handle_stylesheet_url` in `htmllinkelement.rs`.

[2016-05-01 23:20] drbo commented on #7888
Note that https://github.com/sfackler/rust-native-tls already includes hostname verification.

[2016-05-01 23:53] mbrubeck commented on #230
Yes. Closed by #10913.

[2016-05-01 23:53] #230 closed

[2016-05-02 01:10] ConnorGBrewster commented on #5670
I am picking this one back up. I am implementing `pushState` so the history tests can be enabled

[2016-05-02 03:24] emilio commented on #2604
This is closed by #10815

[2016-05-02 03:24] #2604 closed

[2016-05-02 03:31] emilio commented on #8753
Yeah, the problem is the spec is unclearish with this, because of the huge amount of things that delegates to the GLES2 spec.

A lot of GLES2 functions have a line like:

Other browsers (and Khronos, given the test suite) interpret (correctly IMHO) passing null to a WebGL function as a case of this.

[2016-05-02 03:45] emilio commented on #10955
I opened `word-break-normal-bo-000.html`, and here are the results. Just out of curiosity compared with other browsers.

How does the test look in OS X?

### Servo

![word-break-normal-bo-000](https://cloud.githubusercontent.com/assets/1323194/14946755/1b161468-1028-11e6-9ab7-d981375d05ec.png)

#### Ref:

![ref-word-break-normal-bo-000](https://cloud.githubusercontent.com/assets/1323194/14946782/8

[2016-05-02 06:08] izgzhen commented on #10851
@Manishearth Can we reopen this? ...

[2016-05-02 07:02] paulrouget commented on #10110
Is there an easy way to test if my page fits in there?

[2016-05-02 07:06] paulrouget commented on #10124
#10899 has landed.

[2016-05-02 07:06] #10124 closed

[2016-05-02 07:28] creativcoder opened #10960 "Implement custom response interface for service workers"
**Note**: This is part of the [Service Workers](https://github.com/servo/servo/wiki/Summer-of-Code-2016:-ServiceWorker-infrastructure) project, and assigned to myself.

For scopes which are controlled by a service worker to be able to respond with a custom response, the `http_loader.rs` needs a bit tweaking, to be able to know the source of the request. The network code needs to ask for custom res

[2016-05-02 10:12] Ms2ger opened #10963 "Implement incumbent, entry, current settings objects / globals / realms"
Incumbent in particular is needed for security checks (`iframe.contentDocument`, for example).

[2016-05-02 10:15] broesamle commented on #10947
I'd like to work on this one.

[2016-05-02 10:21] Ms2ger opened #10964 "Origin handling in HTMLIFrameElement::contentDocument is broken."
Depends on https://github.com/servo/servo/issues/10963.

We should compare the origins of the `Document` and the incumbent settings object. We're doing something with URLs instead.

[2016-05-02 10:25] Ms2ger opened #10965 "Support WindowProxy return values in bindings"
Right now, we return the `Window` and grab its `WindowProxy` in bindings code; this is confusing. We should support returning `WindowProxy` (`BrowsingContext`) objects directly from DOM methods.

[2016-05-02 10:26] Ms2ger opened #10966 "Return WindowProxy from HTMLIFrameElement::contentWindow"
Depends on https://github.com/servo/servo/issues/10965.

[2016-05-02 10:27] pocmo opened #10967 "Embedding support for Android"
Embedding support seems to have a high priority on desktop. It would be nice to have decent support for Android too. Maybe as a "drop-in" replacement for Android's [WebView](http://developer.android.com/reference/android/webkit/WebView.html) (ServoView)?

I looked a bit at the code but it seems like the only touch point with Android's Java APIs is MainActivity and from there everything disappears

[2016-05-02 10:28] Ms2ger opened #10968 "Constellation needs better origin handling"

[2016-05-02 10:30] Ms2ger commented on #10968
It should probably match the origin check in HTMLIFrameElement::contentDocument (note #10964).

[2016-05-02 10:45] yodalee commented on #10645
Here is my debug log:
[code]
and a few lines later:
[code]
it seems that servo layout the text first, and then the floats object. The later didn't check overlap with the text floats. I'm not sure why it happens, maybe we process the floats object first?

[2016-05-02 13:55] shssoichiro commented on #10955
It doesn't look any better for me on OS X 10.11

<img width="804" alt="screen shot 2016-05-02 at 9 53 40 am" src="https://cloud.githubusercontent.com/assets/5951392/14956075/ea09bcb6-104b-11e6-87d6-fde713719c77.png">

[2016-05-02 14:05] jdm commented on #10963
Note to self: find the WIP branch that was trying to implement these concepts.

[2016-05-02 15:29] bobthekingofegypt commented on #10236
@est31 Pointer cursor is now working fine for me with latest master.

[2016-05-02 15:38] #10236 closed

[2016-05-02 15:49] nox commented on #10811
I sometimes wished I could try on only one platform too, like trying only Windows for smup.

[2016-05-02 15:52] aneeshusa commented on #10811
An alternative to commenting would be a separate web page, like [TryChooser](http://trychooser.pub.build.mozilla.org/). Note that you can already requests single try builds by logging into Buildbot and requesting a build of a specific revision.

[2016-05-02 16:00] mbrubeck commented on #10811
A good start would be the ability to specify a single buildbot builder, for example:

    @bors-servo try --builder=mac-rel-css

This could then be extended to allow a more user-friendly syntax that allows specifying platform(s), build type(s), and test-suite(s) separately, like https://wiki.mozilla.org/Build:TryChooser syntax.  This would require some logic to map these options to buildbot builde

[2016-05-02 16:35] luser commented on #6257
For Firefox builds we're submitting data to perfherder (the same place #10452 is talking about using):
https://treeherder.mozilla.org/perf.html#/graphs?series=%5Bmozilla-central,e5a4ade67adc2af06e39c24d1e11c00c52c943ab,1%5D&series=%5Bmozilla-central,8555b3405a4d6fca6716db38c31dc94d1c4f8fe1,1%5D

We submit the data to treeherder along with the build status from the mozharness script that runs Firef

[2016-05-02 16:52] jdm commented on #10952
This is also visible at `https://login.comcast.net/login`. The same facebook iframe as agar.io is responsible for an endless chain of page loads.

[2016-05-02 20:46] #7626 closed

[2016-05-02 21:49] jdm commented on #10104
@Shiroy Have you made progress? Any questions?

[2016-05-02 23:42] cvan opened #10977 "Implement the Gamepad API"
Request to implement the awesome [Gamepad API](https://w3c.github.io/gamepad/). The API introduces `navigator.getGamepads()`; interfaces (`Gamepad`, `GamepadButton`, `GamepadEvent`); and [`gamepadconnected` and `gamepaddisconnected` events](https://w3c.github.io/gamepad/#event-gamepadconnected).

Here are a few helpful links:
- https://w3c.github.io/gamepad/
- https://developer.mozilla.org/en-US/d

[2016-05-03 01:40] jdm opened #10982 "Tokenizer test on html5test.com fails"
[code]

[2016-05-03 02:03] #10728 closed

[2016-05-03 03:27] shinglyu opened #10985 "Can't run servo headlessly in Xvfb"
## Step to reproduce
I follow @larsbergstrom 's instruction to start my Xvfb this way:
[code]

Then I run servo in another shell
[code]
but it crashes and produce the error messages below

P.S. I copied the `servo` binary and `resources` folder instead of using `./mach run`, because I want to run tests on a specific Servo version in my CI system.

## Environment
Servo version: 074c7e8aa0cdfbd9ff55

[2016-05-03 03:32] shinglyu commented on #10985
If I run it using `./mach run -r -z -x -o output.png about:blank`, there is not error.
I can observe the `servo` process showed up for a while in `top`. But after it disappear, the `./mach` command doesn't exit, and there is no output of any kind.

[2016-05-03 03:47] ConnorGBrewster opened #10986 "Panic when navigating backwards through history"
Steps:
[code]
Click on a link
Navigate backwards

Assertion fails here: https://github.com/servo/servo/blob/89b276c889ce76f8fe43c22779835af138472dac/components/script/timers.rs#L181

Backtrace:
[code]

[2016-05-03 03:49] KiChjang commented on #10986
Is this #8461 all over again?

[2016-05-03 03:52] ConnorGBrewster commented on #10986
@KiChjang hmm it seems to happen when just navigating backwards without any other action.

[2016-05-03 04:14] shinglyu commented on #10452
Related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1269629

[2016-05-03 04:14] shinglyu commented on #10452
Some initial data can be seen on the staging server now: https://treeherder.allizom.org/#/jobs?repo=servo&selectedJob=1

[2016-05-03 04:17] #10904 closed

[2016-05-03 04:21] jdm commented on #10986
Duplicate of #9984. Thanks for filing it!

[2016-05-03 04:21] #10986 closed

[2016-05-03 06:22] gsnedders commented on #10982
I thought this is what https://github.com/html5lib/html5lib-tests/blob/master/tree-construction/html5test-com.dat was testing, but seemingly not… Presumably primarily because that isn't dealing with the fragment case.

[2016-05-03 07:11] Shiroy commented on #10104
@jdm Not much. It's the mid term exam period and I don't have enough time for servo now. If someone else want the issue, please give it.

I'll come back when I'll have more free time.

[2016-05-03 07:13] jdm commented on #10104
Ok, just let us know if you start working on this again!

[2016-05-03 09:54] KiChjang commented on #10940
Fixed in #10946.

[2016-05-03 09:54] #10940 closed

[2016-05-03 10:06] yodalee commented on #10464
I trace this case a few hours, and found this lines of code may cause this problem.
https://github.com/servo/servo/blob/master/components/layout/block.rs#L687-L688
When the `float` object try to get its sizes, the function `content_intrinsic_inline_sizes` will return `preferred_inline_size` and `minimum_inline_size` both `Au{0}`, while `available_inline_size` contain the constraint (that is 100px

[2016-05-03 10:33] cookiengineer commented on #9791
I think I might have the same problem (Ubuntu 16.04 on Intel NUC / amd64).
I used a plain-new installed virtualbox system following the README (used lubuntu-core to save size), nothing more installed.

Output is pretty useless, but it seems as I have the same problem when I tried to build servo (also, first try). How do I generate more debug information if it happens again?

[code]

[2016-05-03 10:35] lukaszpolowczyk opened #10988 "How browser.html scrollbars will be solved?"
How servo scrollbars will be solved?

At this time, Firefox scrollbar is a XUL element. In browser.html there are only pure HTML.

Everyone HTMLElement will have Shadow DOM with the scrollbar?

I was interested because I create extension, and I would like to be able to control this element and not enough to swap colors of buttons. I want to add a scrollbar new features like markers, context menus,

[2016-05-03 12:45] Ms2ger commented on #7888
We definitely don't want platform-specific security code; the plan here is still *ring*, I believe.

[2016-05-03 15:00] nox opened #10991 "Properly mark pure properties and methods as eliminatable"
Follow-up of #10756.

[2016-05-03 16:16] metajack commented on #10988
cc @paulrouget @tschneidereit @gozala

[2016-05-03 16:29] Gozala commented on #10988
I'd say customizable scrollbars is out of scope for now. So far we're just leveraging native scrollbars & have not built any extension system either.

[2016-05-03 16:34] #10434 closed

[2016-05-03 16:34] pcwalton commented on #10434
Fixed by #10717

[2016-05-03 17:57] ConnorGBrewster opened #10992 "History API metabug"
This issue will keep track of everything needed to fully implement the History API

The `History` interface:
 - [ ] `ScrollRestoration` enum and attribute
 - [ ] `length` attribute
 - [ ] `go([ delta ])` method
 - [ ] `back()` method (#5670 #10956)
 - [ ] `forward()` method (#5670 #10956)
 - [ ] `pushState(data, title [, url ])` method
 - [ ] `replaceState(data, title [, url ])` method
 - [ ] trav

[2016-05-03 18:08] jdm commented on #10924
Some recent failures have actually shown a complete white frame with no iframe border appearing at all.

[2016-05-03 18:36] larsbergstrom commented on #10337
I cannot reproduce this build with debug master using Servo hash e7caaa77b4a6c7a155e01d67bdeb3db3758b558f. I followed the steps in the Building for Android steps, and am targeting a (rooted) Nexus 9. This is not using any of the webrender patches.

Debug *does* take a little while to load, though!

I visited the site / ran using `./mach run --android https://www.mozilla.org`.

Please reopen if thi

[2016-05-03 18:36] #10337 closed

[2016-05-03 18:45] ConnorGBrewster opened #10994 "Fully implement HistoryTravesalTaskSource"
Part of #10992

Spec: https://html.spec.whatwg.org/multipage/webappapis.html#history-traversal-task-source

I am working on this.

[2016-05-03 20:13] larsbergstrom commented on #10985
Just to confirm, do you have all of the relevant `mesa` packages installed? The list we have on our buildbot instances is here:
https://github.com/servo/saltfs/blob/master/servo-build-dependencies/init.sls#L15-L25

I'm not able to reproduce this problem locally, but my machine is configured identically to the Linux buildbots.

[2016-05-03 21:11] larsbergstrom commented on #7512
In order to run `Xvfb` with the extensions we require (`Xvfb :10 -screen 0 1280x960x24 +extension RANDR +extension RENDER +extension GLX`), you will also need to install the additional mesa support. Below is a list of the exact packages we install on our build machines to support xvfb in our test environment:

[code]

[2016-05-03 23:49] danlrobertson commented on #10947
Awesome! Feel free to ping me if you have any questions!

[2016-05-04 00:39] larsbergstrom commented on #7888
In the coming months, we will consult with the Mozilla security and networking teams to get some advice here. Choices of these components are not just based on language alignment, but also organizational (e.g., do we have people on the early/pre-disclosure list to help us have a new release ready for the public announcement? Is there a library that we are contributing to and have high confidence i

[2016-05-04 06:22] shinglyu commented on #10985
I installed all the `mesa` packages but no luck.

I saw there was a build option for headless, but was removed in https://github.com/servo/servo/pull/8641/files#diff-4b02cf15724590179b4a5025f1a81a0dL379 , is that related?

I'll try it in a Ubuntu 14.04 VM, probably my Linux Mint modified some Ubuntu graphics stuff.

[2016-05-04 08:15] SimonSapin commented on #7512
CC @jankeromnes who was interested in running Servo in Xvfb for https://janitor.technology/

[2016-05-04 08:18] shinglyu commented on #10985
In a Ubuntu 14.04 VM, the `GLX missing` error was gone, but I still get this:
[code]

I'll try to run it using `saltfs`'s `servo-master1` setup.

[2016-05-04 09:05] jankeromnes commented on #7512
Indeed, c.f. https://github.com/jankeromnes/dockerfiles/issues/8.

Thanks for the ping! The list of required packages and `Xvfb` extensions look promising, with them I hope to be able to run Servo in noVNC without the runtime crashes.

[2016-05-04 12:30] mskrzypkows commented on #10685
Added commit to rust-cssparser, another change I'll do for servo, when the commit will be merged.

[2016-05-04 12:31] mmatyas commented on #10310
The white screen got fixed, and the numbers are visible too. Here's a screenshot:

![screenshot-wikipedia - servo](https://cloud.githubusercontent.com/assets/4354863/15014116/5a788ffe-1204-11e6-883a-7693b85c90cf.png)

[2016-05-04 14:52] aneeshusa commented on #10985
@shinglyu Heads up, `servo-linux1` is probably a better choice because it will already have our xvfb setup installed (which is also kept in the saltfs repo, see the xvfb folder).

[2016-05-04 15:03] shinglyu commented on #10985
@aneeshusa Thanks. I found that out before I leave the office. Now my office machine is running `servo-linux1` and building Servo in it. By the way, where will the servo root directory be in `servo-linux1`? I believe the `Git()` step will clone it, but I'm not sure where it will place it. All the other steps just use `./mach build ...` without `cd` so I guess there is a convention for where it sho

[2016-05-04 15:12] aneeshusa commented on #10985
@shinglyu This is in the `servo-linux1` Vagrant VM, not the actual `servo-linux1.servo.org` machine, right?

You don't need to use Buildbot at all to build Servo; you can just `git clone` the repo anywhere, cd into it, and `./mach build ...` from there, so there's no special place for the servo root directory. I believe you may have to increase the memory given to Vagrant to build Servo successful

[2016-05-04 15:58] metajack commented on #10571
cc @pcwalton
I noticed this last week as well. Also, this site takes minutes to load, and the progress bar in browserhtml never completed. I got quite a few webrender exceeding its draw budget (70ms!) while the whole page was still white except for the progress bar. Once the page drew something like in paul's screenshot, I started getting `RROR:js::rust: Error at https://www.redditmedia.com/ads/di

[2016-05-04 16:00] larsbergstrom commented on #10310
@mmatyas Awesome! This is on the Odroid XU3?

Now, we just need to land the webrender update in the Servo repository and we should be able to close this, right?

[2016-05-04 16:01] larsbergstrom commented on #10310
Also, that is a *lot* of CPU compository time (cc @glennw - this is WR1). I suspect there's something going wrong there, but we'll need to profile to figure it out.

[2016-05-04 16:07] Gozala opened #11003 "Children of nodes with 'pointer-events: none' set don't receive event if they have 'pointer-events: all' set"
Here is a code to reproduce it:

[code]

Clicking a button should make window background go red, but it does not.

[2016-05-04 16:26] pcwalton opened #11004 "Style sharing is disabled due to an outline rule"
`:focus { outline: thin dotted; } /* FIXME: 'outline: auto' ? */` in `user-agent.css` is disabling all style sharing. This is obviously bad for competitive performance.

[2016-05-04 16:28] paulrouget commented on #10571
(Make sure to run browserhtml with these parameters `http://localhost:6060/index.html?progressbar=standalone&raf=timer` to work around some known progressbar issues)

[2016-05-04 16:30] pcwalton commented on #10571
@metajack Let's keep the network issues and WR rendering issues in separate bugs. I suspect the network issues are just speculative HTML parsing as usual. This bug should be about the text only.

[2016-05-04 17:07] ConnorGBrewster opened #11005 "Implement navigation events"
I am working on this

Part of #10992

Events:
 * `PopStateEvent`
 * `HashChangeEvent`
 * `PageTransitionEvent`

Specs:
https://html.spec.whatwg.org/multipage/browsers.html#the-popstateevent-interface
https://html.spec.whatwg.org/multipage/browsers.html#hashchangeevent
https://html.spec.whatwg.org/multipage/browsers.html#pagetransitionevent

[2016-05-04 17:15] #10812 closed

[2016-05-04 17:27] metajack opened #11008 "reddit.com takes much too long to load"
With `./mach run --release --browserhtml` I waited a few minutes and the progress bar never finished the page load.

This is suspected to be caused #3847.

[2016-05-04 17:29] metajack opened #11009 "WebRender missing frame budget on reddit"
I get several messages like this loading reddit.com in browser.html:

[code]

Most of these were when the page was still all white, so perhaps this is a problem with the progress bar?

[2016-05-04 17:29] metajack commented on #10571
@pcwalton opened #11008 and #11009 for those.

[2016-05-04 17:30] paulrouget commented on #11008
Can you make sure to use a very recent version of browserhtml and use it with `"http://localhost:6060/index.html?progressbar=standalone&raf=timer"`.

[2016-05-04 17:38] larsbergstrom commented on #10985
@shinglyu Can you also try on a page other than `about:blank`? That error (about `XFree86-VidModeExtension`) is also printed in successful runs with Xvfb. I haven't looked into it yet.

[2016-05-04 17:49] metajack commented on #11008
I tried that. No there is no progress bar, and after several minutes of waiting, the only thing I get is the title bar updates with the reddit title. No other content is displayed.

I ran with `./mach run --release -- -b -w --pref dom.mozbrowser.enabled 'http://localhost:6060/index.html?progressbar=standalone&raf=timer'`

[2016-05-04 17:50] metajack commented on #11008
Ok, after a few more minutes, the broken page (as in the screenshot above) was displayed.

[2016-05-04 18:18] mmatyas commented on #10310
Yes, this is on the XU3. WR does run, but the performance is still very slow, even with the recent NEON patches.

[2016-05-04 18:19] metajack commented on #10310
Is performance better with WR1 than the standard CPU renderer? Or worse?

[2016-05-04 19:29] rzambre commented on #10110
We'll have to collect these numbers for each page that is being loaded. I'm thinking **DOM-size** and **num-of-leaves** can be easily computed by incrementing counters when the HTML parser works on new/incremental HTML content. **avg-tree-width** could be trickier to collect since we might have to wait until the whole DOM tree of the page is constructed; the width at each height-level of the tree

[2016-05-04 20:20] broesamle commented on #10947
To me `/web-platform-tests/cssom-view/scrollingElement.html` is a relevant test here or, at least is a good starting point.

For me both subtests I see a fail as expected but with a strange message in the window: `URL.createObjectURL is not a function.

Any further suggestions regarding tests?

[2016-05-04 20:42] jdm commented on #10947
We don't implement the `createObjectURL` API yet; that's part of one of the GSoC projects that were accepted for Servo this year.

[2016-05-04 20:48] danlrobertson commented on #10947
As of this moment `Element::ScrollHeight` and `Element::ScrollWidth` are the only places `Node::scroll_area` is used. Iif I'm not mistaken neither of these functions are used in `test-wpt`. The most relevant tests I'm aware of are `/css-tests/cssom-view-1_dev/scrollWidthHeight*`. You can run them with something like the following.

[code]

The outcome of these tests shouldn't change since none of

[2016-05-04 20:49] #10912 closed

[2016-05-04 20:56] pcwalton opened #11014 "Can't log into Twitter"
Not sure why.

[2016-05-04 20:56] pcwalton opened #11015 "Can't log into Facebook"
Not sure why.

[2016-05-04 20:57] brson opened #11016 "Servo does not do TLS hostname verification"
Servo is built on hyper, which does [not yet do TLS hostname verification](https://github.com/hyperium/hyper/issues/472). I believe without this TLS is essentially insecure.

@sfackler is working on this problem now, which will be solved by a combination of https://github.com/sfackler/rust-openssl-verify to add verification for OpenSSL and https://github.com/sfackler/rust-native-tls which is a pla

[2016-05-04 20:58] brson commented on #11016
cc @pcwalton @metajack

[2016-05-04 21:01] pcwalton commented on #11015
`cbrewster: pcwalton: I was able to log into Facebook
`cbrewster: although you have to log in on the main page, if you type in your password incorrectly it will take you to a different login page, and that one doesn't work`

[2016-05-04 21:37] mbrubeck commented on #10262
Also filed as #10499.  Closing this bug because the other one has some existing discussion.

[2016-05-04 21:37] #10262 closed

[2016-05-04 21:38] mbrubeck commented on #10499
This was previously filed as #6502, but I thought it was fixed by #7821.  I'm not sure if it regressed again, or was never actually fixed.  Investigating.

[2016-05-04 21:44] mbrubeck commented on #6203
Also filed as #10499. Closing this bug because the other one has some existing discussion.

[2016-05-04 21:44] #6203 closed

[2016-05-04 21:54] notriddle opened #11019 "Add tests with 'overflow: auto' elements in a scrolled document"
[![The stuff in the `<pre><code>` section on GitHub is invisible](http://i.imgur.com/m73C7x4.png)](http://imgur.com/m73C7x4)

Note that the mouse cursor does not respond to the text that should be underneath it, either.

[2016-05-04 21:55] mbrubeck commented on #5373
Also filed as #10499. Closing this bug because the later one has some useful discussion.

[2016-05-04 21:55] #5373 closed

[2016-05-04 21:56] notriddle commented on #11019
(assigned A-browserhtml/P2 because it affects GitHub in a pretty severe way; feel free to remove the prioritization if it's wrong)

[2016-05-04 22:19] broesamle commented on #10947
yes, that was the other candidate... but I need quirk mode and a body element.

It will need the visibility (→pot. srollable), and a different result from the window vs the scrolling area.

Ill try to write sth that would be sensitive to the change...

Martin Br:osamle     m-broe.de

-------- Ursprüngliche Nachricht --------
Von: Dan Robertson <notifications@github.com>
Datum: 04.05.2016  22:48  (

[2016-05-04 22:29] notriddle commented on #10726
Since #10691 landed, @jdm's original test case now looks like this:

![image](https://cloud.githubusercontent.com/assets/1593513/15031361/eaa31362-120c-11e6-8a26-7e15ae59e576.png)

[2016-05-04 23:44] larsbergstrom commented on #10310
@mmatyas Do you have the ARM profiler to try and look into it? You will need to first uncomment:
https://github.com/servo/servo/blob/master/components/servo/Cargo.toml#L30
and then rebuild, to have even basic symbol info. Stack frames will still be busted, because Rust defaults to no-frame-pointer and doesn't have anything to easily turn frame pointers back on, AFAIK, but it's often enough to see

[2016-05-05 01:10] mbrubeck opened #11024 "Restyle hint on an element with text content causes whole documented to be reflowed"
The test case at https://github.com/servo/servo/issues/10499#issuecomment-207821463 hits a performance problem, in addition to the text layout issue that it is demonstrating.

The issue is:
1. When the node is hovered, the `:hover` selector on the `<a>` element causes `style::dom::TElement::note_restyle_hint` to dirty the element and its descendants when it's hovered.
2. Because it is dirty, the f

[2016-05-05 01:56] shinglyu commented on #10985
I tested in `servo-linux1` Vagrant VM (locally, of course). It works, and it prints the `XFree86-VidModeExtension` too, so it's not the problem.

I tried `about:blank` and https://www.wikipedia.org, both works.

So I believe there is some difference between Linux Mint and its base Ubuntu version. I'll close this and use the VM to run my tests.

Thanks @larsbergstrom and @aneeshusa !

[2016-05-05 01:56] #10985 closed

[2016-05-05 03:08] jdm commented on #11008
My investigations suggest that #3847 is totally not the long pole here. More information as it arrives.

[2016-05-05 03:22] frewsxcv commented on #3847
Did you make any progress on this @Syrcon?

[2016-05-05 04:02] jdm opened #11025 "Intermittent failure in /_mozilla/css/input_selection_incremental_a.html"
[code]

The text in the non-reference is shifted down by a couple pixels compared to the reference.

[2016-05-05 04:05] Syrcon commented on #3847
Well, @jdm helped with making a parser work asynchronously, and I'm working right now on executing parser in its own thread. So there will be some commits by the weekend.

You'd like to work on this?

[2016-05-05 04:07] frewsxcv commented on #3847
No, no rush at all! If it was the cause that nothing had been done for this, I was going to remove the `C-assigned` label so someone else could work on it. Keep up the great work :)

[2016-05-05 04:10] paulrouget commented on #11008
Does it take that much time without browserhtml?

[2016-05-05 04:11] paulrouget commented on #11009
We do have an issue with the progressbar. We are working on it, but in the meantime, use browserhtml with `http://localhost:6060/index.html?progressbar=standalone&raf=timer`.

[2016-05-05 04:13] paulrouget commented on #11009
I think this is a browserhtml specific issue, nothing to do with servo.

[2016-05-05 04:15] metajack commented on #11009
Ok. We can reopen if we discover otherwise.

[2016-05-05 04:15] #11009 closed

[2016-05-05 04:29] jdm opened #11026 "Trace output contains intervals that overlap despite traced code being sequential"
I have some traces where code that is profiled sequentially, in the same thread, using two separate categories ends up with overlapping intervals in the resulting HTML output that I view. The JSON data does not show these intervals as overlapping, so maybe this is caused by removing idle time from the traces?
[code]

[2016-05-05 04:29] jdm commented on #11026
cc @fitzgen

[2016-05-05 04:30] jdm commented on #11008
Yes. I'm profiling non-browserhtml Servo and the time spent loading reddit.com is highly variable (but usually ridiculous).

[2016-05-05 04:34] jdm opened #11027 "Intermittent timeout in /html/rendering/replaced-elements/svg-embedded-sizing/svg-in-iframe-fixed.html"
[code]

[2016-05-05 04:53] jdm commented on #11026
This seems to occur when I have a profiler category that encompasses other subcategories, such as an overarching HTTP request/response with breakdowns for particular parts of the connection process. That makes sense, since `removeIdleTime` always compares against the last trace, and this would confuse it.

[2016-05-05 09:57] mmatyas commented on #10310
Non-WebRender mode (with `-G es2`) is way better and actually usable for browsing. The scrolling is smoother than in Chromium, for example. WR however runs about 1 fps or less, using the SIMD/hard-float patches (#10900, #10916), Lars' shader patches from this issue, and `-mfloat-abi=hard -mfpu=neon` CFLAGS. I've [did some profiling](https://github.com/servo/servo/issues/10310#issuecomment-21471319

[2016-05-05 12:32] mmatyas commented on #10045
Does not work for me on Xubuntu and GNOME 15.10:

![kepernyokep_2016-05-05_14-28-48](https://cloud.githubusercontent.com/assets/4354863/15043522/147fcaba-12ce-11e6-95cb-606593f95d7e.png)

[2016-05-05 12:49] mmatyas commented on #10310
PS. Unfortunately, I can't provide Streamline screenshots due to license reasons :(

[2016-05-05 14:13] dati91 opened #11030 "Add dbus dev to the dependecies list"
After https://github.com/servo/servo/pull/10632 we need to update the [README](https://github.com/servo/servo/blob/master/README.md) dependecies

For Debain-based linuxes: `libdbus-1-dev`

But I'm not sure about the other distros.

[2016-05-05 14:49] jdm opened #11031 "Replace Page with BrowsingContext"
As far as I know their purpose is identical. Page is our own wishy-washy concept, it's an `Rc<T>` that contains JS-owned data (dangerous!), and it basically delegates to the browsing context anyways.
#5236

[2016-05-05 14:50] ConnorGBrewster commented on #11031
I am working on this

[2016-05-05 15:44] mbrubeck commented on #10499
@kaksmet:

From what I can see the extra space between words is added on each layout, causing it to accumulate.

That's correct.  To fix this, we could add a new `extra_word_spacing: Au` field to [TextRun][1] with an initial value of Au(0).  Instead of modifying the GlyphStore, `justify_inline_fragments` would only make the TextRun mutable and update this field.  (`InlineFlow::set_inline_fragment_

[2016-05-05 15:54] kaksmet commented on #10499
@mbrubeck That seems pretty straightforward. I'll start working on a fix for this tonight.

[2016-05-05 16:04] #11014 closed

[2016-05-05 16:04] #11015 closed

[2016-05-05 17:16] Arthur2e5 commented on #10045
@mmatyas If you are reporting such cases on LInux, mentioning the output of `fc-match Sans` can help confirm @hiroshiyui's report.

[2016-05-05 17:20] Arthur2e5 commented on #9479
Note: GitHub has switched to SVGs for these icons instead of using webfont glyphicons. Consider using https://octicons.github.com/ to reproduce the bug.

[2016-05-05 18:57] jdm commented on #11008
Yeah, biggest issue here is that the SSL connection for the initial page load can have huge variables. I've seen everthing from 1s to 10s before any the response body starts appearing; my tests show that connecting to http://www.reddit.com yields extremely quick response times, but when it redirects to https the load time goes off the deep end.

[2016-05-05 19:45] metajack commented on #11008
Do you see similar variation with Firefox or Chrome? Or does this seem to be caused by our stack specifically?

[2016-05-05 19:49] mmatyas commented on #10045
`fc-match Sans` returns `DejaVuSans.ttf: "DejaVu Sans" "Book"` for me.
Here's the full output of `fc-match -a "sans-serif"`: http://pastebin.com/afMmsaUT, hope this helps.

[2016-05-05 19:57] jdm commented on #11008
The data is a bit confusing. `wget` and `curl` show similar latency to Servo on both OS X and Linux; Firefox and Chrome do not, and spoofing Servo's UA doesn't make a difference.

[2016-05-05 19:58] jdm commented on #11008
One operating theory is that this is an OpenSSL vs. NSS thing, but Chrome uses BoringSSL and I'm not sure how to check what stack `wget` and `curl` binaries are using.

[2016-05-05 20:23] jdm commented on #11016
This is a duplicate of #4954. Thanks for filing!

[2016-05-05 20:23] #11016 closed

[2016-05-05 21:02] DDEFISHER commented on #10209
Attempting
[code]

[2016-05-05 21:47] jdm opened #11036 "Intermittent failure in /_mozilla/mozilla/iframe_contentDocument.html"
[code]
This test was written before the load event for iframes was implemented. It should be rewritten to use that instead of using setTimeout.

Code: `tests/wpt/mozilla/tests/mozilla/iframe_contentDocument.html`
Test: `./mach test-wpt tests/wpt/mozilla/tests/mozilla/iframe_contentDocument.html`

[2016-05-05 22:05] ekr commented on #11008
I would be surprised if this were OpenSSL versus NSS. What do wireshark traces show/

[2016-05-05 22:24] jdm commented on #11008
The remote server sends us the `new session ticket, change cipher spec, encrypted handshake message`, we send `Application Data`, the server ACKs it, then there's an 8 second gap before the remote server sends a series of `Application Data` messages: http://joshmatthews.net/reddit.pcapng

[2016-05-05 22:25] jdm commented on #11008
I'll see what the equivalent Firefox trace looks like.

[2016-05-05 22:27] ekr commented on #11008
OK, then this is something on the server side. Probably a throttling mechanism.

[2016-05-05 22:27] ekr commented on #11008
Can you duplicate it on any other site?

[2016-05-05 22:42] jdm commented on #11008
So far the only odd HTTPS result I've found is that it took 150s to start receiving the HTTP response body from https://html.spec.whatwg.org/, but only 273ms from https://html.spec.whatwg.org/multipage/.

[2016-05-05 22:58] aneeshusa commented on #11030
For Arch, I believe this would be the `libdbus` package, but this is a transitive dependency of `systemd` and should already be installed since systemd is the only supported init system.

[2016-05-05 23:16] jdm commented on #11030
Looks like Fedora is probably `dbus-devel`.

[2016-05-05 23:37] jdm opened #11038 "Loading full HTML specification occasionally waits for 2 minutes before initiating the network request"
Wireshark confirms the preposterous title. When I run `./mach run -r https://html.spec.whatwg.org/`, I get a grey window for two minutes before any content appears. Wireshark shows no traffic between my machine and html.spec.whatwg.org before that point. I've only been able to reproduce this on my macbook so far, not my desktop linux machine.

[2016-05-06 00:17] jdm commented on #11038
Amazingly Instruments.app claims that it's sitting blocked inside TcpStream::connect for the entire duration of the wait.

[2016-05-06 01:02] ekr commented on #11008
This sounds like it's something local to reddit. I would consider reaching out to them to ask

[2016-05-06 01:58] jankeromnes commented on #7512
Follow-up: I installed the suggested mesa packages, and configured `Xvfb` with `:99 -screen 0 1280x864x16 -ac -pn -noreset +extension RANDR +extension RENDER +extension GLX` but still, `./mach run -d` fails in noVNC with `Xlib: extension "XFree86-VidModeExtension" missing on display ":99.0".`:

- [Base Xvfb/noVNC configuration](https://github.com/jankeromnes/dockerfiles/blob/master/ubuntu-dev/supe

[2016-05-06 02:15] shinglyu commented on #7512
@jankeromnes I found that even if it runs successfully, it will still produce the `Xlib: extension "XFree86-VidModeExtension" missing on display ":99.0"`. If you didn't see any Segmentation Fault or "Servo exited with non-zero return code", then servo had probably ran successfully.

I can run it in Xvfb successfully in a ubuntu VM. Clone the https://github.com/servo/saltfs repository and run
[code

[2016-05-06 02:39] brson commented on #4954
[Here's the PR where I'm fixing this in rustup](https://github.com/rust-lang-nursery/rustup.rs/pull/400).

[2016-05-06 03:56] yodalee commented on #11036
I think I can take this. Here is my current understand:
Instead of check `!iframe.contentWindow` and set a timeout function to check it again, we just need to set `onload` function of iframe, and put `assertEquals` inside. Something like:
[code]

[2016-05-06 06:11] paulrouget commented on #10425
http://firefox.com redirects to https://firefox.com. So I suspect https://github.com/servo/servo/issues/11008#issuecomment-217243111

[2016-05-06 08:49] paulrouget opened #11046 "[regression] #10644 broke the progressbar in browserhtml"
The progressbar doesn't show up anymore in browserhtml.

Regression introduced by https://github.com/servo/servo/pull/10644

This might need a reduced test case, but in the meantime, if anybody has an idea…

[2016-05-06 08:55] Ms2ger opened #11047 "Write a test for #11020 "Fix formsubmitter methods for buttons""
@KiChjang you're not allowed to r+ PRs without tests. Please write some.

[2016-05-06 09:36] jankeromnes commented on #7512
@shinglyu Thanks for your reply. In my test run, Servo panicked with:

    ~/servo$ ./mach run -d
    error: XDG_RUNTIME_DIR not set in the environment.
    Xlib:  extension "XFree86-VidModeExtension" missing on display ":99.0".
    thread '<main>' panicked at 'glx::ChooseFBConfig returned no configurations.', /home/user/servo/.cargo/git/checkouts/rust-layers-[...]
    [...]
    Servo exited with

[2016-05-06 09:38] mskrzypkows commented on #10685
Patch is merged, should I wait for new version of rust-cssparser to use it in servo?

[2016-05-06 09:43] jankeromnes commented on #7512
Oh, it looks like running with `webrender` works a little better, using `./mach run -w` instead of `./mach run -d` (or `./mach run --headless`, which also panicks on startup in my setup).

Servo started displaying servo.org, taking some time to style everything correctly. Clicking the "Rust" link didn't work, but I was able to scroll through the page, until Servo panicked with:

    thread '<unnam

[2016-05-06 09:46] mrmiywj commented on #10737
@KuoE0 Hi, what's your progress? If you don't have time, I will try this.

[2016-05-06 10:03] Ms2ger commented on #10685
I published cssparser; you should be able to `./mach cargo-update -p cssparser`.

[2016-05-06 11:46] KuoE0 commented on #10737
Hi @mrmiywj, I want to work on this. But if you already finished on this, feel free to take it. Sorry, I was busy on other works recently.

[2016-05-06 14:10] jdm commented on #11025
Only seen in #10937 which hasn't merged yet.

[2016-05-06 14:10] #11025 closed

[2016-05-06 14:28] jdm commented on #11036
You'll need
``js
iframe.onload = this.step_func_done(function() {
    assert_equals(...);
})
[code]

[2016-05-06 14:32] jdm commented on #10425
Good catch! My profile trace reports 4.5s spent in the same step that #11008 hangs in.

[2016-05-06 14:33] jdm commented on #10425
That said, on subsequent runs I can't reproduce the long connection time :/

[2016-05-06 14:37] #10685 closed

[2016-05-06 14:53] jdm commented on #11047
I imagine the test will involve a form inside of an iframe, and a python server handler that returns a body of "GOOD" if the POST data is correct, and "BAD" otherwise.

[2016-05-06 15:08] rebstar6 commented on #10311
Alright I'm back! The next thing to do here is referrer policy delivery - https://w3c.github.io/webappsec-referrer-policy/#referrer-policy-delivery. I'll probably start with one, so each will be its own PR (maybe meta tag? seems most important for https://github.com/servo/servo/issues/10309#issuecomment-203929226).
At this point, it becomes important that I have some way to test this. I assume the

[2016-05-06 15:18] jdm commented on #7512
Was the `[...]` part of the message or actual elision on your part? That could be a much more informative backtrace if it wasn't there.

[2016-05-06 15:28] jankeromnes commented on #7512
Both `[...]` are elisions on my part, sorry. I can provide the full error log if needed.

[2016-05-06 15:49] jdm commented on #10311
I suspect it's only the iframe tests that are missing fundamental pieces right now, so I think it should be possible to rely on the `attr-referrer/` and `meta-referrer/` tests for the `referrerpolicy` and `meta` delivery mechanisms respectively (excluding iframes, obviously). We don't have any support for CSP yet, so you can ignore those.

[2016-05-06 15:53] jdm commented on #10311
Oh, foo, looks like the tests for `<link>` and `<a>` also rely on `postMessage`, as does `<script>`. That means that `<img>`, `XMLHttpRequest`, and `Worker` tests should work (although I'm having trouble finding any instances of the Worker ones so far). Anyways, if you focus on supporting the first two, we can figure out what to do about postMessage.

[2016-05-06 15:56] jdm commented on #7512
Please do! I suspect this is an error in Servo rather than your setup.

[2016-05-06 16:29] jankeromnes commented on #7512
Running `./mach run -d` or `./mach run --headless` instantly fails on start-up with:

    error: XDG_RUNTIME_DIR not set in the environment.
    Xlib:  extension "XFree86-VidModeExtension" missing on display ":99".
    thread '<main>' panicked at 'glx::ChooseFBConfig returned no configurations.', /home/user/servo/.cargo/git/checkouts/rust-layers-c02709c0157e02cd/master/src/platform/linux/surface.r

[2016-05-06 16:49] jdm commented on #7512
Interesting, that's a failure inside webrender. cc @glennw

[2016-05-06 18:30] autrilla opened #11055 "Mach does not show errors when certain pip or virtualenv calls fail"
For example: https://github.com/servo/servo/blob/e39ed932cb8c67eac98d44d00ed5bf642c026846/python/mach_bootstrap.py#L141-L144
https://github.com/servo/servo/blob/e39ed932cb8c67eac98d44d00ed5bf642c026846/python/mach_bootstrap.py#L109-L112

They should output the called command's stderr (and maybe stdout too?) to make resolving the issue easier.

I'd like to fix this, but I'd want someone else's inpu

[2016-05-06 19:45] larsbergstrom opened #11057 "CSS tests on OSX gated on fontd"
As part of https://github.com/servo/saltfs/pull/366, I was evaluating the best number of processes to run our tests with and determining what was blocking them.

In the case of `./mach test-css --release --processes 8`, the servo processes take up nearly zero CPU time, and the one `fontd` process is taking up almost all of the time. I suspect that we just need to be caching the font information in

[2016-05-06 21:27] rebstar6 commented on #10311
img is still giving me issues. try:
./mach test-wpt tests/wpt/web-platform-tests/referrer-policy/no-referrer/meta-referrer/same-origin/http-https/img-tag/
I'm getting timeouts with InvalidStateError.
This is no-referrer, which should in theory be 'working' (as in, nothing is sent).

[2016-05-06 23:20] mbrubeck opened #11059 "Intermittent Mac script thread panic on shutdown: Option::unwrap in ScriptMemoryFailsafe::drop or Page::window"
mac-rel-css and mac-rel-wpt are failing very very frequently with shutdown panics that happen in different tests each time:

* http://build.servo.org/builders/mac-rel-css/builds/815/steps/test/logs/stdio
* http://build.servo.org/builders/mac-rel-css/builds/816/steps/test/logs/stdio
* http://build.servo.org/builders/mac-rel-css/builds/817/steps/test/logs/stdio
* http://build.servo.org/builders/mac-

[2016-05-06 23:28] #10782 closed

[2016-05-07 00:13] UK992 commented on #9953
@larsbergstrom Now that Windows builds building on dedicated buildbot machine, should be ``auto`` and ``try`` removed from appveyor.yml to reduce queue?

[2016-05-07 01:14] shinglyu commented on #7512
@jankeromnes Answering your earlier question. I use the Vagrant and SaltStack configuration from the saltfs repo directly. This is the packages it installs https://github.com/servo/saltfs/blob/master/servo-build-dependencies/init.sls#L15-L25

I didn't use anything fancy to build servo, just `./mach build -r`. But you have to build it in the `servo-linux1` VM. I tried to build it on my Linux Mint m

[2016-05-07 01:37] larsbergstrom commented on #9953
@UK992 Good call! I've excluded them from the AppVeyor settings :-) But yes, we could remove them from the appveyor.yml.

[2016-05-07 03:47] ConnorGBrewster opened #11061 "Fix cast warnings from codegen"
There are various warnings that now appear when building that are similar to:
[code]

[2016-05-07 04:57] Zaggy1024 opened #11062 "WebRender + Canvas repaints cause huge memory leak."
I've made a simple test page for this issue, and when any of the three actions in the JS is performed (setting canvas size, clearing canvas or drawing randomized lines) in a fast loop (works with setInterval and requestAnimationFrame), the memory usage goes up to a gigabyte in somewhere around a minute.

I also tested it with WebRender disabled and it seems not to occur then. The command I used to

[2016-05-07 05:01] Zaggy1024 commented on #11062
Forgot to say, my system specs are:

Windows 10 64-bit
Intel i7 5820K
GeForce GTX 970, driver version 10.18.13.6472

This may or may not be limited to Windows, as @ConnorGBrewster says its memory usage on his system is staying at 70-80 MB.

[2016-05-07 08:37] paulrouget opened #11063 "[regression] #10691 breaks the window buttons in browserhtml"
<img width="93" alt="screen shot 2016-05-05 at 09 04 05" src="https://cloud.githubusercontent.com/assets/373579/15038009/680881dc-12a0-11e6-9353-4e49604385bf.png">

Regression introduced by #10691

I will work on a reduced test case.

[2016-05-07 11:41] emilio opened #11064 "Implement WebGLRenderingContext.{isTexture, isShader}()"
@DDEFISHER has ongoing work on this.

cc #10209

[2016-05-07 11:42] emilio commented on #11064
@DDEFISHER: So here you can ask any questions you might have about it, I'll try to reply ASAP :)

[2016-05-07 11:45] emilio commented on #11062
cc @glennw, might we be forgetting of dropping webrender textures or other resources associated to 2d canvases when the canvas is flushed?

With WebGL this might not happen, since the code path used for webrender its radically different.

[2016-05-07 15:03] shinglyu commented on #10452
I documented how I submitted data to Perfherder: http://shinglyu.github.io/web/2016/05/07/visualizing_performance_data_on_perfherder.html
Feedback is welcome!

cc: @wlach

[2016-05-07 15:50] autrilla opened #11068 "WebGL demo"
The following sample http://mdn.github.io/webgl-examples/tutorial/sample6/ has a cube spinning constantly. However, on servo the cube only spins while you're providing any sort of input - moving the mouse around, clicking and pressing keys on the keyboard make it spin. When you don't, it simply stops.

You'll have to wait for #11065 to land to see that specific example, or simply check out my fork

[2016-05-07 15:55] #9953 closed

[2016-05-07 15:57] jdm commented on #11068
It's possible that we need for `mark_as_dirty` calls in `webglrenderingcontext.rs` to ensure that layout knows that the canvas needs to be redrawn.

[2016-05-07 16:01] mbrubeck commented on #10473
Filed #11069 to disable.

[2016-05-07 16:11] frewsxcv opened #11070 "Idea: Introduce `SendOrWarn` utility trait to DRY out Sender+warn logic"
_Disclaimer: bikesheds lie ahead_

Looking around the codebase, I see [this pattern quite frequently](https://gist.github.com/frewsxcv/253ad060cd988cf8ae7ab07dc98d9aee):

[code]

It might be nice if this was DRY'd out such that it looked something like:

[code]

Here is what a new trait might look like:

[code]

Anyways, just experimenting and throwing out ideas. No feelings hurt if this gets clos

[2016-05-07 16:13] frewsxcv commented on #11070
cc @asajeffrey since (I think?) this is related to the constellation hardening effort

[2016-05-07 16:27] notriddle opened #11071 "Do not disable style sharing in the presence of pseudo-class selectors"
This is needed for a better fix to #11004.

[2016-05-07 16:41] frewsxcv commented on #9612
From what I can tell, there's no actionable item here, so I'm going to close this. pyobjc is not required to run Servo.

[2016-05-07 16:41] #9612 closed

[2016-05-07 16:43] frewsxcv commented on #9541
#9465 was resolved by https://github.com/servo/servo/issues/10223, so closing this.

[2016-05-07 16:43] #9541 closed

[2016-05-07 20:15] #10244 closed

[2016-05-07 21:15] ConnorGBrewster commented on #11059
Not sure what is causing these, but I do know what causes the unwrap panic. We set the `Frame` on `Page` to `None` inside `fn shut_down_layout` in the script thread. When `ScriptMemoryFailsafe::drop` is called and it hasn't been neutered, it tries to get the window from the `Page` which causes a panic as we set the `Frame` to `None`.

[2016-05-07 21:21] #11055 closed

[2016-05-07 22:53] ConnorGBrewster commented on #11036
Fixed in #11053

[2016-05-07 22:53] #11036 closed

[2016-05-07 23:28] autrilla opened #11074 "pip should be updated when the virtualenv is first created"
Judging by several reports on IRC, people who have old versions of pip on their systems (OS X ships with 1.4.1, apparently) can't install mach 0.6. To solve this, we could simply update pip whenever we create the virtualenv.

[2016-05-08 00:59] izgzhen opened #11075 "WPT test for Blob constructor has unexpected behaviour"
In `tests/wpt/metadata/FileAPI/blob/Blob-constructor.html.ini`, the second test:

     [Passing an platform object that supports indexed properties as the blobParts array should work (window).]
    expected: FAIL

you can delete this line, modify it to `PASS` or whatever else, the test will still pass.

Look at the `tests/wpt/web-platform-tests/FileAPI/blob/Blob-constructor.html` and we found:

[c

[2016-05-08 01:01] metajack commented on #11074
Does that just replace the one in the virtualenv or hte system one? If the former, +1.

[2016-05-08 01:31] izgzhen commented on #11075
Ok ... I found another one testing `select` ... I will fix the test script later

[2016-05-08 01:37] izgzhen commented on #11075
@Ms2ger  ` [Passing an platform object that supports indexed properties as the blobParts array should work (window with custom toString).]` and `[Passing an platform object that supports indexed properties as the blobParts array should work (window).]` seem not existing in the `Blob-constructor.html` anymore. Should I delete the corresponding testing entry?

(BTW, looks like the `./mach test` does

[2016-05-08 04:41] jdm opened #11077 "Move Image and ImageMetadata types from msg crate to net_traits crate"
These types are already re-exported from the net_traits crate so there are very few places referring to the original types directly. I don't see any need to keep them there.

Code: `components/msg/constellation_msg.rs`, `components/net_traits/image/base.rs`

[2016-05-08 04:44] jdm commented on #11075
Yes, INI entries that don't correspond to actual tests are ignored by the test harness. It can lead to confusion, but I'm not sure if it's a big deal.

[2016-05-08 04:55] izgzhen commented on #11075
@jdm Ok, if "nothing happens" == "everything is good" then then it looks sensible to ignore it. I will fix this manually later.

[2016-05-08 08:48] kevgs commented on #11077
Hi. I'm new to Rust.

What about WebDriverCommandMsg::TakeScreenshot(PipelineId, IpcSender<Option<Image>>) from constellation_msg.rs which uses Image? If we move Image to net_traits msg will need to export it. But net_traits already exports msg and that will result in cyclic dependency.

[2016-05-08 09:25] autrilla commented on #11074
It updates the one in the virtualenv, as long as the virtualenv is active.

[2016-05-08 11:25] Ms2ger commented on #8897
Not sure if there's any point in leaving this open.

[2016-05-08 11:25] #8897 closed

[2016-05-08 14:16] jdm commented on #11077
You're right; I didn't notice that. I think we can still move ImageMetadata, though.

[2016-05-08 15:55] jdm opened #11081 "Move ConvertPipelineIdToWebRender to layout_traits"
It's defined in the `msg` crate but only used in `layout` and `compositing`.

Code: `components/msg/constellation_msg.rs`, `components/layout_traits/lib.rs`

[2016-05-08 15:56] jdm opened #11082 "Move ConvertPipelineIdFromWebRender to compositing"
It's defined in `msg`, but only used in `compositing`.

Code: `components/msg/constellation_msg.rs`, `components/compositing/compositor.rs`

[2016-05-08 21:49] kevgs commented on #11077
#11083

[2016-05-08 21:50] kevgs commented on #11077
This is my PR for this issue #11083

[2016-05-08 22:00] Ms2ger commented on #10925
I'm not at all convinced we should do this.

[2016-05-08 22:15] ConnorGBrewster commented on #10925
@Ms2ger any reason in specific?

[2016-05-08 22:24] kevgs commented on #11081
Here is my PR #11084

[2016-05-08 23:03] Zaggy1024 opened #11085 "Fixed width buttons cause extra space on their right."
In this test case there is a huge gap between the last button and the right of the div when in there should be no gap at all.

I believe this bug is what causes this rendering issue on reddit.com: http://i.imgur.com/1tPkaBw.png The text "prev" (indented using "text-indent: 50px" so as to be hidden in overflow) should not be visible and the two buttons should be nicely aligned with the right side o

[2016-05-08 23:05] Zaggy1024 commented on #11085
For reference, this is how the test case renders:
Servo: http://i.imgur.com/ZhtDLfc.png
Firefox: http://i.imgur.com/kqPBxuk.png

[2016-05-08 23:55] emilio commented on #11068
These are called (IIRC, writing from memory since I'm not with a computer) in drawArrays and drawElements, which are the actual drawing functions, so this should be good.

Nonetheless, that makes me realise that these are asynchronous, so there aren't guaranteed to be executed before the actual reflow.  That would explain missing a frame though, not everything until an event is triggered.

Random

[2016-05-08 23:58] emilio commented on #8753
Dropping this link here in order to read it more deeply when I'm in front of a computer, since this null == value not generated by gl thing is mentioned here:

https://www.khronos.org/webgl/public-mailing-list/archives/1204/msg00214.php

[2016-05-09 02:13] frewsxcv commented on #4954
Latest version of Hyper now does hostname validation.

https://github.com/hyperium/hyper/pull/784/files

Might be good to create a unit test exemplifying the hostname validation.

[2016-05-09 03:35] shinglyu opened #11087 "Some TP5 sites take too long to load"
## Steps to reproduce
1. Download `tp5n.zip` from https://wiki.mozilla.org/Buildbot/Talos/Tests#tp5 (tp5n contains several scrapped websites from Alexa 500 Top list, which is used in Talos' page load test.)
2. Serve the pages with `python -m SimpleHTTPServer`
3. Run servo with Linux's `timeout` command: `timeout 300s ./mach run -z -x -o output.png <url>`
## Expected

All pages are loaded within 5

[2016-05-09 03:38] shinglyu commented on #11087
One side note: I used `-x -o output.png` and added the following useragent script:

[code]

But both didn't kill servo in 5 minutes, the `timeout` command killed it from outside.

[2016-05-09 03:53] shinglyu opened #11088 "Record the total running time of tests"

[2016-05-09 03:54] shinglyu opened #11089 "Parallel testing"
A thread pool might hinder performance, we might need to cut the tests into chunks and run in multiple VMs.

[2016-05-09 07:10] saneyuki commented on #11082
@jdm

I'll take this.

But `ConvertPipelineIdFromWebRender` is pair of `ConvertPipelineIdToWebRender` which is used in `components/layout/webrender_helpers.rs` and `components/layout/layout_thread.rs`.

Should we move this into `compositing` really?

[2016-05-09 07:18] saneyuki commented on #11082
Sorry, I missed #11081.
Okay, I'll work this

[2016-05-09 08:37] #10737 closed

[2016-05-09 09:43] creativcoder opened #11091 "Implement Service Workers API"
**Note**: This is assigned to myself.

This is a meta issue tracker for the [Service Worker Infrastructure](https://github.com/servo/servo/wiki/Summer-of-Code-2016:-ServiceWorker-infrastructure) project.
The following interfaces of the Service Workers Api, needs to be implemented.

[ServiceWorker](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#service-worker-obj)
[ServiceWorkerGl

[2016-05-09 10:34] kevgs commented on #11077
Here is commit https://github.com/servo/servo/commit/33fa63a3c5f2f2df27b68ca67cf46bf9788d8723

[2016-05-09 11:06] kevgs commented on #11081
Here is the patch https://github.com/servo/servo/commit/9a8c81773a7dc51301e52ce3f02f8ea55984365a

[2016-05-09 11:29] jdm commented on #11077
Thanks!

[2016-05-09 11:29] #11077 closed

[2016-05-09 11:31] #11081 closed

[2016-05-09 12:06] Ms2ger commented on #10925
The test assumes a draconian xml parser, which we don't have, so there's not much point in trying to pass it.

[2016-05-09 12:42] jdm commented on #6160
Things to keep in mind:
* the session history storage in constellation will need to track the state of each pipeline and manage navigating the session history accordingly
* when recreating, it's not yet clear to me whether it's a good idea to use the exact same pipeline ID as before or make a new one
* if we use a message in the regular event loop for a given script thread, there could be quite a

[2016-05-09 12:54] tschneidereit commented on #10988
I concur, customizable scrollbars aren't something we're planning to support in the foreseeable future. As @Gozala says we're also not planning to support an extensions mechanism for now. That doesn't mean this kind of customization could never be relevant: embedding applications might want something like this. Still, anything in this direction will only become relevant at some unknown point in th

[2016-05-09 12:54] #10988 closed

[2016-05-09 13:19] ConnorGBrewster commented on #10925
@Ms2ger ok makes sense, I will close this then.

[2016-05-09 13:19] #10925 closed

[2016-05-09 13:48] asajeffrey commented on #11070
Might be a good idea. My main reluctance is that we've lost the message text. We could:
[code]
or:
[code]
This last one isn't a million miles away from my original:
[code]
which @nox was not too happy about, as that's using a combinator for a side-effect.

[2016-05-09 14:13] SimonSapin commented on #11071
See also #11022.

[2016-05-09 14:23] paulrouget commented on #11063
This was actually a browserhtml issue (https://github.com/browserhtml/browserhtml/pull/1019), but servo's overflow behavior when z-index is different from auto has changed. I haven't investigated more.

[2016-05-09 14:23] #11063 closed

[2016-05-09 14:36] jdm commented on #10311
Ok, I figured out the img issue. Any tests that involve https will fail in Servo right now, so ignore any of the directories with http-https or https-http. The http-http ones should work, and appear to do so in my local testing. Additionally, I investigated the postMessage thing over the weekend and came up with https://github.com/jdm/servo/commit/afc7f7b18942bd6921135848291a11a11b2028a7 . This co

[2016-05-09 14:43] paulrouget commented on #11046
Not a P1 anymore (there was an easy work around in bhtml).
Here is a test case showing the stacking issue with non-display:block iframes:

[code]

[2016-05-09 14:48] nox commented on #11070
+1 to a higher-level wrapper that properly convey intent.

[2016-05-09 15:37] tschneidereit commented on #9844
I'm seeing 27% with `setTimeout` and 31% with `rAF` with @paulrouget's current Homebrew servo distribution. That seems perfectly in line with the difference in FPS that @pcwalton (and that I'm seeing, too.)

@paulrouget, your 5% CPU usage when using `setTimeout` seems suspiciously low. What kinds of results do you see when you pass `-w -Z wr-stats`?

[2016-05-09 15:40] #11004 closed

[2016-05-09 16:24] tschneidereit commented on #9844
Tested on my 2015 Macbook, too, with different results: using `setTimeout` I get the same 27% CPU usage as on my 2012 Macbook Pro (which is somewhat surprising given that the latter's CPU should be quite a bit more powerful.) Using `rAF`, though, I get 54% CPU usage, so pretty exactly twice as much. And that's with roughly the same FPS.

[2016-05-09 17:22] rebstar6 commented on #10311
Cool, started my branch off of that one. Should be helpful. 2 more testing things -
I started trying to include/exclude the appropriate tests. The include.ini gets nuts when I use that approach (see gist - right now this is just 2 policies, img only. Adding the other 3 policies will be even more). Is there a better way to do this? (see https://gist.github.com/rebstar6/4026c0574e976179c8046a9042556

[2016-05-09 17:34] jdm commented on #10311
I recommend using `skip: false` on the toplevel directory, then adding `__dir__.ini` files to disable subdirectories as necessary. That's a good question about the tests; I'll raise it upstream.

[2016-05-09 17:37] jdm commented on #10311
Filed #https://github.com/w3c/web-platform-tests/issues/2968.

[2016-05-09 17:48] paulrouget commented on #9844
Describing my protocol:

- this code: https://github.com/servo/servo/issues/9844#issuecomment-207078279
- latest master with `-w -b` *without* `-Z wr-stats` (does that actually take CPU to draw?)
- keep window in foreground
- activity monitor in background

Results my macbook 2015:
- with rAF, ~11% CPU, 60 FPS
- without, ~3% CPU, ~54 FPS

[2016-05-09 17:50] fitzgen commented on #10905
@jdm:

I made a separate repo with unit tests in mocha+chai that can be run with node, as well as travis ci integration here: https://github.com/fitzgen/servo-trace-dump

Right now, that repo has a little shell script to copy the trace-dump.js and trace-dump.css files over to their path in your servo checkout, but we could also make that repo a submodule. Thoughts on copying files over vs proper s

[2016-05-09 17:52] rebstar6 commented on #10311
Thanks! And sure, went the directory disabling route. Because of all the file nesting, were still talking a bunch of files, but oh well - https://github.com/rebstar6/servo/commit/21104c433a77d33a8340f5607c48090b4c73dc40

Now I guess I should actually get things to work.

[2016-05-09 17:54] fitzgen commented on #10905
Once we figure ^ out, I will make a PR with the latest changes for `trace-dump.js`.

[2016-05-09 18:37] jdm commented on #10905
I think we try to avoid submodules as much as possible. Copying should be fine.

[2016-05-09 19:07] paulrouget commented on #11003
iirc, `all` is a a SVG-related value. You want to use `auto`.

[2016-05-09 19:16] Gozala commented on #11003
It seems that `pointerEvents: auto` does work. This bug is still valid though as `pointeEvens: all`  does work in all other engines.

[2016-05-09 19:33] timvandermeij commented on #11075
Fixed by https://github.com/servo/servo/commit/b93409bab0fa05a3f86e32e5c54ca874d3e5c732 ?

[2016-05-09 19:36] #11075 closed

[2016-05-09 19:36] ConnorGBrewster commented on #11075
Fixed by #11078

[2016-05-09 20:42] ConnorGBrewster opened #11099 "Intermittent crash in /_mozilla/mozilla/htmllabel-activation.html"
[code]

[2016-05-09 21:06] metajack commented on #10720
I have rerun these tests with js-shell from mozilla-central and mozjs-shell. Here are the results:

[code]

The numbers reported are the median scores over 10 runs. Note that incremental GC is enabled in both.

[2016-05-09 21:37] ConnorGBrewster opened #11100 "Intermittent timeout in /html/dom/reflection-embedded.html"
[code]

[2016-05-09 22:20] #11082 closed

[2016-05-09 22:20] rebstar6 commented on #10311
Hrm, started, but I kinda hate this direction, so polling for suggestions. I'm just going to go ahead and point out all the issues with my approach so far (see https://github.com/rebstar6/servo/commit/e82efa0fc407220811d8770715d8297ad9fad86d)

This doesn't compile, and even if it did, things are super inefficient. I'm trying to implement [this logic.](https://html.spec.whatwg.org/multipage/semanti

[2016-05-09 22:26] kaksmet commented on #10499
@mbrubeck
Is there a way to detect if the line has been changed from justified to non-justified in `InlineFlow::set_inline_fragment_positions`? Currently I reset `extra_word_spacing` for non-justified lines every time it's called.
My changes look [this](https://github.com/servo/servo/compare/master...kaksmet:justify-fix) for the moment.

I also seem to be hitting two other bugs.
The first one is t

[2016-05-09 22:32] jdm commented on #10311
I'd probably recommend implementing the `bind_to_tree` method for `HTMLMetaElement` and making it call a method on its owning document with the associated referrer policy that it contains, if applicable. This turns it into a push notification at creation, rather than making the document poll. I'm assuming that we don't need to care about updates to the attribute later, but if we did we could use `

[2016-05-09 23:08] wlach commented on #10452
Hey @shinglyu, great post! I would like to get some of that integrated within the treeherder documentation.

One thing, one should not be submitting servo data with the "talos" framework, as that's intended solely for the Gecko platform. I'd like to add a new performance framework for "servo", see: https://bugzilla.mozilla.org/show_bug.cgi?id=1271472

[2016-05-09 23:24] mbrubeck commented on #10499
For each ScannedTextFragmentInfo you could do `if info.run.extra_word_spacing != Au(0) { *Arc::make_mut(&mut info.run) = Au(0); }`. This at least avoids calling `make_mut` when it's not needed.

I think this is caused by my suggestion of resetting the extra word spacing in `set_inline_fragment_positions`.  This is too late, since the line breaking and `slack_inline_size` calculation was already do

[2016-05-09 23:31] pcwalton opened #11102 "codegen-units causes performance problems"
See rust-lang/rust#33522, for example. codegen-units is well known to cause performance problems due to missed IPO such as inlining.

Can we enable this only on bots?

[2016-05-09 23:33] pcwalton commented on #11102
I've seen `mem::forget` not being inlined, and gw has seen performance problems in euclid suspected to be caused by this.

[2016-05-09 23:33] mbrubeck commented on #11102
Now that Cargo supports `$RUSTFLAGS`, we could add `-C codegen-units=4` to RUSTFLAGS in the buildbot environment, instead of putting it in the Cargo manifests.

[2016-05-09 23:35] mbrubeck commented on #11102
cc #9987

[2016-05-09 23:40] metajack commented on #11102
If this really causes big performance issues, this is likely going to inflate our test times even as it saves our build times. The only way to know whether this is worth it in automation is to try it and see.

[2016-05-09 23:42] daoshengmu commented on #10209
I would like to help ```texSubImage2D```

[2016-05-10 00:34] mbrubeck commented on #11102
https://github.com/servo/servo/pull/9987#issuecomment-196411825 found no major change to test times.  However, Servo performance may not be the dominating factor in our test runs.

[2016-05-10 01:11] larsbergstrom commented on #11102
I'm OK with disabling `codegen-units`. As I mentioned on IRC, though, if we do that then I'd like to do so consistently so that what we're developing on is what we're testing and what we're (eventually) shipping. I would be really iffy about "just using `codegen-units`" in CI to cut down the build time, as we've had concurrency issues and even crashes that were specific to the optimization level.

[2016-05-10 02:39] aneeshusa commented on #11088
Possibly related to #6257 and/or servo/saltfs#202.

[2016-05-10 02:48] metajack commented on #10720
@tschneidereit I'm unsure how worried or not worried to be about the numbers, but it certainly seems like something is wrong with SplayLatency and perhaps EarleyBoyer and Splay. At least the remaining ones are within 10% or so.

[2016-05-10 04:11] ConnorGBrewster opened #11105 "Intermittent pass in /css-transforms-1_dev/html/css-transforms-3d-on-anonymous-block-001.htm"
[code]

[2016-05-10 04:48] #11105 closed

[2016-05-10 08:54] shinglyu commented on #5187
@larsbergstrom This is the bug I mentioned. I believe this will be impacted by WebRender? Could you point me to the WebRender code (or some existing patch) so I can study? Thank you.

[2016-05-10 08:58] shinglyu commented on #10531
Can I give it a try?

[2016-05-10 09:44] shinglyu commented on #7317
I can't reproduce the crash by running `./mach run -d --pref layout.flex.enabled --pref layout.flex-direction.enabled `, also tried `--release`. Is this solved by some previous patch?

[2016-05-10 10:59] emilio commented on #10209
@daoshengmu: sounds great!

@danlrobertson, are you still working on `texSubImage2D`?

[2016-05-10 11:04] #11064 closed

[2016-05-10 11:07] tschneidereit commented on #9844
Ok, when actually testing the right code (I was testing with [this](https://gist.github.com/paulrouget/99442585974f6661b7c5)), I see roughly the same result. Only difference is that with rAF I have 14%-16% CPU usage.

[2016-05-10 11:17] paulrouget opened #11108 "[regression] hittest issue - iframe in the background take precedence over foreground elements"
[code]

[2016-05-10 12:08] tschneidereit commented on #10720
@metajack, how do the numbers with iGC compare to those without? Both in m-c shell and mozjs shell. What I'm getting at is: do we know for certain that iGC works as expected?

I do think that we should be somewhat concerned about this, because the tests we do badly on all hammer on GC performance, and that's an area that's especially important for Servo because eagerly creating reflectors means th

[2016-05-10 12:38] daoshengmu commented on #10209
@danlrobertson Sorry for I didn't notice you are working on ```texSubImage2D```. I just want to help some implementation of WebGL. If you are still working on it, I can pick ```copyTexImage2D``` and ```copyTexSubImage2D``` @emilio

[2016-05-10 12:43] kaksmet commented on #10499
Thanks, that fixed it.

Yes, it also happens on master.

[2016-05-10 12:57] danlrobertson commented on #10209
@daoshengmu No problem! It's totally okay! It's my bad for taking so long to get a PR in, but alas life happens :smile:...

Are you okay with taking `texSubImage2D`? I already [implemented the necesary components](https://github.com/servo/webrender_traits/commit/67bcaeebf19bc6aab83bef817b8a24ea02cefaa5) in [wr_traits](https://github.com/servo/webrender_traits). I should have a PR in shortly for `c

[2016-05-10 12:58] jdm commented on #7317
Seems likely!

[2016-05-10 12:58] #7317 closed

[2016-05-10 13:08] danlrobertson commented on #10531
Go for it! I don't know much about this component, so I'm probably of less help here.

One thing to note: [`compute_damage`](https://github.com/servo/servo/blob/master/components/layout/incremental.rs#L157) does list [`order`](https://github.com/servo/servo/blob/master/components/layout/incremental.rs#L223), but I'm not sure that it is listed in the correct location. Would this be as simple as ens

[2016-05-10 14:11] jdm commented on #10732
Fixed by #10834.

[2016-05-10 14:11] #10732 closed

[2016-05-10 14:12] jdm commented on #10580
@Mylainos Are you still working on this? Any questions?

[2016-05-10 14:21] #10905 closed

[2016-05-10 14:24] Ms2ger opened #11111 "Implement Range::createContextualFragment"
Filing for reference.

[2016-05-10 14:31] nox opened #11112 "Running build-cef after build rebuilds the world yet again"
Probably related to the RUST_FLAGS tweaks we do in mach.

[2016-05-10 14:34] metajack commented on #11112
I suggest maybe putting in a test for this. We could perhaps test timestamps on some late dependency before and after calling build-cef to see if it gets rebuilt, and fail CI if it does.

[2016-05-10 16:10] paulrouget commented on #4954
What happens now if there's an invalid certificate? Does Servo display a special page? Blank page? Is there a `mozbrowsererror` event triggered?

[2016-05-10 16:24] jdm commented on #4954
My assumption is that it manifests as a network error inside Servo, and each network response consumer can choose how to handle those independently. For top-level page loads, we display about:neterror at the moment.

[2016-05-10 16:30] mbrubeck commented on #4954
Note: We haven't updated to hyper 0.9.4, so Hyper's hostname verification is not in Servo master yet.

I just built with hyper 0.9.4 locally, and https://blog.rust-lang.org/ loaded with no errors in Servo.  (It should trigger a certificate verification error.)  I'm not sure yet whether this is a bug in Servo or in Hyper...

[2016-05-10 16:38] kaksmet commented on #10532
This only seems partially fixed.

### Servo
![servo](https://cloud.githubusercontent.com/assets/1777894/15154475/04ff36ac-16de-11e6-8651-c3ae9cbc2af4.png)

### Firefox
![firefox](https://cloud.githubusercontent.com/assets/1777894/15154480/07e98e80-16de-11e6-9bba-5f83cc0b40d9.png)

[code]

[2016-05-10 16:49] jdm commented on #4954
I believe only the default client has hostname validation enabled by the changes in #784. We'll need to adapt them for our own code (see `create_http_connector` in `http_loader.rs`).

[2016-05-10 16:50] jdm commented on #4954
Although I guess we could verify it by seeing if `wrap_client` gets called in hyper.

[2016-05-10 16:56] mbrubeck commented on #4954
Indeed, we are using `hyper::net::Openssl` instead of `hyper::net::OpensslClient`, and `Openssl::wrap_client` does not do `set_verify_callback`.

[2016-05-10 17:21] mbrubeck commented on #4954
When I add a `set_verify_callback`, Servo just displays a blank page when I try to load a page with an invalid certificate.  (This is the same thing it does for me on other network errors, like a hostname that doesn't resolve.)

[2016-05-10 17:21] aeischeid commented on #10683
think I may be close on defining the rule and the test cases, but stuck on why the tests are failing when I don't expect them to. see commit in my branch https://github.com/aeischeid/servo/commit/57f54833c3b54f2d3f778481d7f41d9fee3e43b9

[2016-05-10 19:34] asajeffrey opened #11117 "Webdriver panics when there isn't a root page"
Running webdriver test https://github.com/w3c/web-platform-tests/blob/master/webdriver/navigation.py#L115 on Servo causes panic:
[code]
The root cause is https://github.com/servo/servo/blob/master/components/script/script_thread.rs#L995, which calls `self.root_page()` when a webdriver message arrives, generating a panic if there isn't a root page yet. (Navigation can cause a fresh script thread to

[2016-05-10 20:48] pcwalton commented on #10571
Blocking: https://github.com/servo/servo/pull/10903

[2016-05-10 20:57] Wafflespeanut commented on #10719
fixed by #10723, #10786

[2016-05-10 20:57] #10719 closed

[2016-05-10 21:02] rebstar6 commented on #10311
Striking out today: see https://pastebin.mozilla.org/8870548
Basically, this is what I'm printing when running tests/wpt/web-platform-tests/referrer-policy/origin-only/meta-referrer/same-origin/http-http/iframe-tag/generic.no-redirect.http.html

Looks like there are a few requests happening in this test. Most of them do have the referer getting set. But for the one we care about (lines 28-32), htt

[2016-05-10 21:08] rebstar6 commented on #10311
Actually...does an iframe call not go through window::load_url? Would make sense. That may be the issue as that was the pass-through point

[2016-05-10 21:08] jdm commented on #10311
Oh yeah, http://mxr.mozilla.org/servo/source/components/compositing/constellation.rs#1006 inside `handle_script_loaded_url_in_iframe_msg` is something I explicitly mentioned in the origin PR :)

[2016-05-10 21:09] jdm commented on #10311
Sorry, I'm confusing myself - http://mxr.mozilla.org/servo/source/components/script/dom/htmliframeelement.rs#151 is the proper one.

[2016-05-10 21:11] #9057 closed

[2016-05-10 21:11] #10499 closed

[2016-05-10 21:12] rebstar6 commented on #10311
Yep, there's that TODO. Alright, welp.

[2016-05-10 21:38] jdm commented on #10311
Since that now lives in code that has direct access to a document, it should be straightforward to fix, at least!

[2016-05-10 21:38] rebstar6 commented on #10311
Yeah much better, got myself a referer header!

[2016-05-10 21:43] pcwalton commented on #10571
Minimal test case:

    <!DOCTYPE html>
    <style>
    div {
        float: right;
        width: 300px;
        height: 15px;
        background: green;
    }
    section {
        margin-right: 300px;
        overflow: hidden;
        height: 80px;
        background: blue;
    }
    </style>
    <div></div>
    <section></section>

Pretty embarrassing that we don't have tests for this!

[2016-05-10 21:47] kaksmet opened #11120 "Text being clipped after window resize"
Visualisation of the issue using testcase from #10499:
![clipping](https://cloud.githubusercontent.com/assets/1777894/15129831/968e4cce-1644-11e6-9cc7-85b80e08e48a.gif)
Hovering the link triggers #11024, which corrects the issue.

This happens both with and without webrender.

[2016-05-10 22:00] #9487 closed

[2016-05-10 22:10] metajack commented on #9914
We cannot block on #9998 because that requires SVG which is clearly out of scope for June.

[2016-05-10 22:32] rebstar6 commented on #10311
One more test issue, this one should be easier:

According to https://w3c.github.io/webappsec-referrer-policy/#determine-policy-for-token, the origin when cross origin string is "origin-when-cross-origin". The tests use "origin-when-crossorigin", so this policy fails.

Can I change the tests, or is this another issue for w3c?

[2016-05-10 22:36] jdm commented on #10311
According to the [mailing list](https://lists.w3.org/Archives/Public/public-webappsec/2015May/0058.html), this was a typo in the old specification that shipped in some versions of Chrome. Let's modify the tests locally and file an issue [upsteam](https://github.com/w3c/web-platform-tests/) about it as well. Would you like to do that?

[2016-05-10 22:37] metajack commented on #10110
You can test how this affects browser.html by running with `-y 1`. I'm not sure why this is a P2 bhtml bug though. It seems like this would have minimal impact.

Note that we can start layout before the whole DOM is loaded. Specifically we start layout after N milliseconds where N is some small constant like 12 or so. So whatever heuristics we want will be applied to whatever DOM we get in that ti

[2016-05-10 22:38] jdm commented on #10311
Actually it looks like the Firefox developers are making the same modifications, so I guess we can race them and not bother with the upstream issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1270050

[2016-05-10 22:39] rebstar6 commented on #10311
Wow, it is somewhat unbelievable how you keep track of all these things.

A race it is!

[2016-05-10 22:50] #4954 closed

[2016-05-10 23:54] glennw commented on #11102
I tested the mean frame time in the backend WR2 prototype thread on one of the stress tests I profile with:

codegen-units: 8.9ms
without: 6.2ms

So it does cause a dramatic performance issue in the WR2 prototype - which is unfortunate, since the build times are very noticeably faster with codegen-units :(

[2016-05-11 00:11] fabricedesre opened #11124 "Support GLSL 1.50"
@glennw I'm filing that though I know that you have patches around to fix this.

This blocks running on a Raspberry Pi 2:
[code]

[2016-05-11 01:23] campaul commented on #11074
I'm interested in working on this. I think I've already got a working solution (on my system it upgrades pip from 7.1.2 to 8.1.2), but I want to verify what happens on a system that's old enough to fail installing mach before I submit a PR.

[2016-05-11 01:57] campaul commented on #11074
I spoke too soon. I tried on my mac and the upgrade command failed. The only difference I noticed between systems was on my mac`_get_exec(*PIP_NAMES)` is returning the system pip instead of the one in the virtualenv. I'm going to continue investigating.

[2016-05-11 02:32] campaul commented on #11074
I'm going to assume the system pip issue was just a problem with configuration on my machine. I forced it to use the correct path and was able to reproduce the failure with old pip and fix it with an upgrade. On that note though, would changing `pip = _get_exec(*PIP_NAMES)` to just `pip = find_executable("pip")` be a good idea? Since the virtualenv is already active by then it should always point

[2016-05-11 03:45] aethanyc commented on #10532
I'm interested in this bug. I would like to give it a try.

[2016-05-11 03:46] shinglyu commented on #10532
@aethanyc is a layout expert!

[2016-05-11 07:17] autrilla commented on #11074
@campaul I'm not sure whether mach should be doing that, but it doesn't seem right to me. mach should *always* use the virtualenv and never use the system Python, especially considering it's installing packages, which it won't be able to do if it uses the system Python unless ran with root privileges, which will in turn break your system Python.

As long as the virtualenv is active, it should be f

[2016-05-11 09:01] broesamle opened #11128 "build error: failed to run custom build command for `dbus v0.3.3`"
[code]

I suspect a bad/interrupted download my have put the package db into an inconsistent state especially because of this `dbus-1 was not found in the pkg-config search path`

(however, deleting the target completely and build again gives me the same library: `dbus v0.3.3`)
How would I re-initialize the package management system used locally within servo?

[2016-05-11 09:43] mskrzypkows commented on #9175
Is the issue valid? It seems  to be fixed.

[2016-05-11 10:05] paulrouget commented on #9175
closed by https://github.com/servo/servo/issues/9875

[2016-05-11 10:05] #9175 closed

[2016-05-11 10:41] paulrouget commented on #8758
I'm going to close this has I never managed to reproduce.

[2016-05-11 10:41] #8758 closed

[2016-05-11 11:29] #11047 closed

[2016-05-11 11:51] timvandermeij commented on #10181
Fixed by #10987?

[2016-05-11 11:53] #10181 closed

[2016-05-11 12:42] jdm commented on #11128
It's actually complaining that you don't have the native dbus-1 library. You'll want to install that via your operating system's package manager.

[2016-05-11 12:50] broesamle commented on #11128
well ... but it built before and apt-get tells me its already up to date ... ill test with a fresh clone of my fork in a separate dir

[2016-05-11 13:19] jdm commented on #11128
You'll specifically need the development package, which is usually something like `dbus-1-devel` depending on the naming scheme of your distribution.

[2016-05-11 13:23] campaul commented on #11074
The system pip issue I was having is actually https://github.com/servo/servo/issues/8968. I'll follow up in that ticket and make a PR that just upgrades pip for now.

[2016-05-11 13:30] campaul commented on #8968
Since the virtualenv is already active at this point (assuming another bug hasn't prevented activation), I think it should be safe to replace `pip = _get_exec(*PIP_NAMES)` with just `pip = find_executable("pip")`. This solved the issue on my machine, but there may be edge cases I'm not considering.

[2016-05-11 13:58] larsbergstrom commented on #10310
It *may* be faster once https://github.com/servo/servo/pull/11123 lands - it was causing some really bad performance issues for WR!

[2016-05-11 14:35] paulrouget opened #11130 "When the Servo window gains focus, it should update the mouse coordinate"
This is important for browserhtml. We need this to build automated tests.

in `ports/glutin`, the mouse coordinate is updated when receiving a glutin mousemove event.

When Servo starts, as the mouse moves, `mouse_pos` is updated. Then Servo loses focus. User moves the mouse. When Servo gains focus, the mouse is likely not at `mouse_pos` anymore. That means:
1. `mouseover` is not triggered and `:h

[2016-05-11 14:42] asajeffrey commented on #11117
OK, diagnosis...

When script runs `window.location.href = 'blah'`, this calls `Location::SetHref`:
[code]
which in turn calls `Window::load_url`:
[code]
this sends a `MainThreadScriptMsg::Navigate` message which calls `ScriptThread::handle_navigate`:
[code]
and sends a `ConstellationMsg::LoadUrl` which calls `Constellation::load_url` which creates the pipeline, _but does not wait for it to finish

[2016-05-11 15:00] broesamle commented on #11128
Thank you for pointing that out...Things are running nicely again :-)

[2016-05-11 15:00] #11128 closed

[2016-05-11 15:00] asajeffrey commented on #11117
IRC conversation with @jdm and @jgraham: http://logs.glob.uno/?c=mozilla%23servo&s=11+May+2016&e=11+May+2016#c426947

[2016-05-11 15:02] izgzhen opened #11131 "Implement File API and related support"
This is a meta-issue, covered by [2016 GSoC project: File Support](https://github.com/izgzhen/gsoc-file-support), and assigned to @izgzhen.

Most of related open issues and PRs will be tracked in the link above (but I will try to mention this meta-issue as long as possible). And more information to be found in the repo above as well.

[2016-05-11 15:03] tschneidereit commented on #11130
In addition, a `mouseout` event (with the current coordinates) should be fired upon losing focus, and any `:hover` states reset.

[2016-05-11 15:06] paulrouget commented on #11130
That will happens automatically. When I'm talking about mousemove, I'm talking about `WindowEvent::MouseWindowMoveEventClass`.

[2016-05-11 15:26] paulrouget commented on #11130
If someone can tell me how to get the mouse coordinates from a `didBecomeKey` notification, i can take care of the rest (is `NSEvent::locationInWindow(nil)` supposed to work?).

/cc @pcwalton

[2016-05-11 15:41] paulrouget commented on #11130
We get a `NSAppKitDefined` nsevent before getting the focus notification. So maybe we can use that to get a `nsevent` instance and do `nsevent.locationInWindow()`.

[2016-05-11 15:46] larsbergstrom opened #11133 "Work queue implementation should special-case single-threaded version"
In https://github.com/servo/servo/blob/master/components/util/workqueue.rs, we still have a bit of overhead (atomic ref count bumps, extra thread, etc.) in the case where there is only 1 thread. Consider removing all of that and having a special case for the sequential path.

[2016-05-11 15:58] rebstar6 commented on #10311
Ok, all of the iframe/http-http tests are working for meta-referrer except:
tests/wpt/web-platform-tests/referrer-policy/origin-when-cross-origin/meta-referrer/cross-origin/http-http/iframe-tag/cross-origin.swap-origin-redirect.http.html

Honestly, I can't figure out why the expected output is what it is, and the spec page seems to have changed and now has barely anything on it about redirects (ht

[2016-05-11 16:03] mmatyas commented on #10310
Applied #11123, but it's still slow :(

[2016-05-11 16:06] pcwalton commented on #10571
This is basically fixed now by #11125, but I'm holding off on closing because there's a crash (#10903, has a patch) on Reddit still.

[2016-05-11 16:21] jdm commented on #10311
Yes, the relevant specification bits here are https://fetch.spec.whatwg.org/ (which describes the behaviour for redirections and any modifications of referrer policies that are required) and the "Otherwise" part of step 13 of [the navigate algorithm](https://html.spec.whatwg.org/multipage/browsers.html#navigate) from the HTML specification.

[2016-05-11 16:25] jdm commented on #10311
Actually, the fetch specification isn't too important here, since it mainly just dictates when to obtain the referrer policy and when to return a response value. In the case of navigation, the fetch algorithm doesn't follow it (because the request redirect mode is "manual"), so the HTML specification starts the navigation algorithm over again in step 17. I assume this is why the referrer is expect

[2016-05-11 16:32] rebstar6 commented on #10311
Yeah, being the original document makes sense. In that case though, I still don't get why it's just sending the origin, not the full url, since it then no longer is a cross-origin request.

[2016-05-11 17:05] rebstar6 commented on #10311
Seems like there was conversation related to this when redirect tests were added. What I'm getting from [this conclusion](https://github.com/w3c/web-platform-tests/pull/1856#issuecomment-105533374) is that the referrer header value is stripped on the 1st request, and remains as such on the 2nd. I guess kind of like a funnel, it can get filtered down with successive requests, but not built back up.

[2016-05-11 17:53] jdm commented on #10311
That does make sense to me. I would proceed under that assumption and I'll ask around.

[2016-05-11 18:21] jdm commented on #10311
I filed https://github.com/whatwg/html/issues/1234 to clarify this issue.

[2016-05-11 19:09] jdm opened #11137 "Add a tidy check for &Root arguments"
There's no benefit to using `&Root<T>` as a function argument instead of `&T`, and it's slightly more inefficient because of the extra dereferencing. We should have `tidy.py` report instances of this pattern.

Code: `python/tidy/servo_tidy/tidy.py`
Test: `python/tidy/servo_tidy_tests/rust_tidy.rs`, run `./mach test-tidy --self-test`

[2016-05-11 19:14] cbrewster opened #11138 "Webrender: WebGL fast path does not work on Mac"
On mac webrender uses OpenGL 3.2 Core.
The WebGL spec conforms to the OpenGL ES 2.0 API.
This causes an incompatibility and breaks webgl on mac when using webrender.

[2016-05-11 19:18] metajack commented on #11138
cc @glennw @pcwalton

[2016-05-11 19:27] asajeffrey commented on #11117
More IRC conversation with @jdm http://logs.glob.uno/?c=mozilla%23servo&s=11+May+2016&e=11+May+2016#c427101

[2016-05-11 20:08] jdm opened #11139 "GL context creation failure using webrender on desktop Ubuntu"
My desktop machine has an integrated graphics card that doesn't play nicely with webrender. I'm happy to provide more details about it when I am physically co-located with it. If there are some useful commands for me to run, I can do so.

[2016-05-11 20:09] asajeffrey commented on #11117
Summarizing the IRC conversation... the only way we can get a pipeline without a page is for `handle_get_pipeline` to find a pending frame whose `document_ready` is `false`. We can fix this by returning `document_ready` back to webdriver, and having it wait for `true`.

[2016-05-11 20:22] #11112 closed

[2016-05-11 20:24] kaksmet commented on #11139
`glxinfo | grep 'version'` will print the supported OpenGL version and the installed Mesa version.
You might need to install the `mesa-utils` package.

[2016-05-11 20:29] glennw commented on #11139
Although it's a bit long, it's probably best just to paste the entire output of glxinfo.

[2016-05-11 21:41] rebstar6 commented on #10311
Thanks - updated to funnel approach in https://github.com/rebstar6/servo/commit/cec1fde03ac2ad8861d0537e0cccf78ef33a7767
This should be it for meta-referrer support (!). I would PR now, but the code/tests in my branch rely on your iframe commit, so not sure what the best approach is there.

[2016-05-11 23:23] axitkhurana commented on #10876
@jdm : Sorry, I've been busy with work and won't be able to work on this until this weekend, feel free to un-assign if you feel I'm blocking

[2016-05-11 23:47] ConnorGBrewster commented on #10992
The `popState` and `replaceState` both take title as an argument, and this is stored in the session history. According to the spec https://html.spec.whatwg.org/multipage/browsers.html#dom-history-pushstate, it looks like we can decide whether or not the title shown in the UI will change to match the one from the active session entry. Neither Safari, Firefox, or Chrome update the title to reflect t

[2016-05-12 01:22] #10886 closed

[2016-05-12 02:01] daoshengmu commented on #10209
@danlrobertson Sure. I will take ```texSubImage2D```. Thanks! 😄

[2016-05-12 02:39] ConnorGBrewster opened #11144 "Implement base URL for Document"
Currently `Document` only has `URL`, the spec says we need both a `base URL` and a `URL`.

Spec: https://dom.spec.whatwg.org/#concept-document-base-url
Code: `components/script/dom/document.rs`

[2016-05-12 02:43] #10877 closed

[2016-05-12 03:08] jdm commented on #10311
I propose the following:
* duplicate the iframe tests and referrer-policy test harness inside tests/wpt/mozilla/tests/mozilla and apply [this diff](https://gist.github.com/jdm/5da497f6da4ac3d12bf824675d2f458f) to the resulting files. This allows them to run without requiring postMessage.
* make a PR with your changes and the additional duplicated tests
* we extract the straightforward parts of my

[2016-05-12 03:13] jdm commented on #10311
To braindump after looking at the infrastructure for other tests:
* `img-tag` won't be meaningful until #7708 is fixed
* `iframe-tag` needs either cross-origin postMessage or https://gist.github.com/jdm/5da497f6da4ac3d12bf824675d2f458f
* `xhr-request` should Just Work (modulo missing referrer policy hooks in xmlhttprequest.rs)
* `fetch-request` requires the JS Fetch API
* `script-tag` requires sam

[2016-05-12 03:14] jdm commented on #11144
There's `Document::base_url`...

[2016-05-12 03:17] ConnorGBrewster commented on #11144
@jdm haha wow... @KiChjang and I somehow missed that.

[2016-05-12 03:18] jdm commented on #10992
I don't see a reason to deviate from that.

[2016-05-12 03:21] KiChjang commented on #11144
That's https://html.spec.whatwg.org/multipage/infrastructure.html#document-base-url, which is different than the one defined by the [DOM spec](https://dom.spec.whatwg.org/#concept-document-base-url)

[2016-05-12 03:22] jdm commented on #11144
The one in the DOM spec has a default value unless set otherwise, which is what the HTML specification does. They're the same concept.

[2016-05-12 03:24] #3649 closed

[2016-05-12 03:30] jdm opened #11145 "Make Node::BaseURI use the document's base URL"
`Document::base_url()` exists, and it should be used here.

Specification: https://dom.spec.whatwg.org/#dom-node-baseuri
Code: `components/script/dom/node.rs`
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/infrastructure/urls/terminology-0/document-base-url.html`

I would expect some test results to change, so they should be [updated](https://github.com/servo/servo/blob/master/tests/wpt/

[2016-05-12 03:47] #11144 closed

[2016-05-12 05:03] #11031 closed

[2016-05-12 05:54] #11102 closed

[2016-05-12 06:30] mrmiywj commented on #11145
@jdm
I will pick this up

[2016-05-12 06:37] paulrouget commented on #11130
When a Firefox window is unfocused, the chrome still get mouse events.

I think this is done with NSTackingArea:
- http://mxr.mozilla.org/mozilla-central/source/widget/cocoa/nsCocoaWindow.mm#3086
- http://mxr.mozilla.org/mozilla-central/source/widget/cocoa/nsCocoaWindow.mm#2406
- https://developer.apple.com/library/mac/documentation/Cocoa/Reference/NSTrackingArea_class/
- https://developer.apple.c

[2016-05-12 07:22] KiChjang commented on #11145
You got it!

[2016-05-12 07:33] paulrouget opened #11150 "duckduckgo.com doesn't scroll"
STR:
- ./mach run -r -- -w "http://duckduckgo.com/?q=foobar"
- try to scroll with mousewheel
- doesn't scroll

[2016-05-12 07:36] paulrouget opened #11151 "iframe doesn't clip its content anymore"
This breaks browserhtml (can't scroll, overflowing content visible when zooming out, chrome buttons are covered by content).

[code]

<img width="912" alt="screen shot 2016-05-12 at 09 34 52" src="https://cloud.githubusercontent.com/assets/373579/15207210/d667c35c-1824-11e6-89e3-372c8c617c18.png">

[2016-05-12 07:39] paulrouget commented on #11151
Might be related: https://github.com/servo/servo/issues/11150

[2016-05-12 07:39] paulrouget commented on #11150
Might be related: #11151

[2016-05-12 08:00] paulrouget opened #11152 "mozbrowsererror detail.type is undefined"
It's supposed to be "fatal".

I believe it has to do with `type_` here: https://github.com/servo/servo/blob/e2a5b1cb710b4c5d19d0493e2a304152c42feabe/components/script/dom/htmliframeelement.rs#L323

/cc @asajeffrey

[2016-05-12 09:27] paulrouget commented on #11130
First thing first, a click should not rely on the previous mousemove coordinate, but on the actual coordinate.

In Glutin:

In `src/events.rs`, we need to change `MouseInput(ElementState, MouseButton)` to MouseInput(ElementState, MouseButton, Option<(i32, i32)>)`. `Option<(i32, i32)>` will hold the new coordinates.

In `src/api/cocoa/mod.rs`, `MouseInput` events should include the coordinates (see

[2016-05-12 09:50] saneyuki commented on #11133
@larsbergstrom Can I take this?

[2016-05-12 10:14] nox commented on #11111
https://w3c.github.io/DOM-Parsing/#widl-Range-createContextualFragment-DocumentFragment-DOMString-fragment

[2016-05-12 10:18] GuillaumeGomez commented on #11111
I take it.

[2016-05-12 11:06] nox opened #11153 "The PR template pollutes merge commits"
Given Homu (or Buildbot?) uses the PR description as the merge commit message, they are now even more polluted than they were just with the HTML for the Reviewable button. We should fix that.

[2016-05-12 11:37] #11117 closed

[2016-05-12 13:09] asajeffrey commented on #11152
Hmm, something is up with the JS bindings, I thought `type_` was supposed to map to `type` (which is a reserved word in Rust, hence the underscore).

[2016-05-12 13:27] larsbergstrom commented on #4282
It looks like @nox landed the SpiderMonkey update with your work!

@tschneidereit do you know what the timeline is for promises in Servo?

The WebBluetooth folks (cc @loki04) were wondering. Thanks!

[2016-05-12 13:28] nox commented on #4282
IIRC they can't enable SM promises yet in Gecko itself because of win32 issues, but @tschneidereit knows all there is to know about them so let's wait for his reply.

[2016-05-12 13:30] asajeffrey commented on #11152
IRC chat with @emilio http://logs.glob.uno/?c=mozilla%23servo&s=12+May+2016&e=12+May+2016#c427769

TL;DR:  `<emiliocobos> ajeffrey: Probably an easy bug to fix, I'll try to have something soon`

[2016-05-12 13:35] larsbergstrom commented on #11133
@saneyuki Please do, and thank you for working on this!

[2016-05-12 13:41] broesamle commented on #10947
when adding the new test and running `./mach test-css --manifest-update SKIP_TESTS` I get a huge difference in 'tests/wpt/metadata-css/MANIFEST.json.'
(despite it is based on a recent version https://github.com/servo/servo/commit/4d13f9f5d5cbca8de0c950a4d2344fc312a9c186)

785199 vs 1208311 lines!!

difference starting with items that certainly do not belong to my new test file:
[code]

[2016-05-12 14:02] jdm commented on #10947
That's a known issue. However, we currently cannot add new tests to the `css-tests` directory; we only mirror tests from upstream so it would be overwritten. It should be added to `tests/wpt/web-platform-tests/cssom-view` instead.

[2016-05-12 14:40] emilio commented on #11138
This is a dupe of https://github.com/servo/servo/issues/10376, so one of them should be closed.

[2016-05-12 15:18] #11005 closed

[2016-05-12 15:54] #10376 closed

[2016-05-12 15:54] ConnorGBrewster commented on #10376
Dupe of #11138. Closing this one as the new issue is clearer.

[2016-05-12 16:01] KiChjang commented on #10994
Also part of #7959.

[2016-05-12 16:06] KiChjang opened #11158 "Update EventHandler.webidl"
The WebIDL has more events defined on it now. Also, there is a new `DocumentAndElementEventHandlers` interface that is supposed to be defined on `Document` and `HTMLElement`.

Spec: https://html.spec.whatwg.org/multipage/webappapis.html#globaleventhandlers, https://html.spec.whatwg.org/multipage/webappapis.html#windoweventhandlers, https://html.spec.whatwg.org/multipage/webappapis.html#documentand

[2016-05-12 16:07] highfive commented on #11153
cc @aneeshusa

[2016-05-12 16:23] rebstar6 commented on #10311
xhr DOES just work! Made that update - it's in there now. I'll make the new iframe tests, and PR with those plus xhr.

Woot!

[2016-05-12 17:00] KiChjang commented on #10994
@stjepang Did you say that you were working on this?

[2016-05-12 17:02] stjepang commented on #10994
Sorry, I didn't find much time to continue working on this. Feel free to take this over.

[2016-05-12 17:07] asajeffrey commented on #10467
We now have the infrastructure for adding this test, since https://github.com/w3c/wptrunner/pull/188 landed.

[2016-05-12 17:15] broesamle commented on #10947
maybe I am missing something but this tiny test should pass?!
[code]
it tells me: `expected **"hidden"** but got **"hidden hidden"**`

[2016-05-12 17:17] broesamle commented on #10947
Why would it double the **hidden** in the overflow property?

[2016-05-12 17:37] jdm commented on #10947
Probably because of a bug in our CSS serialization code in cssstyledeclaration.rs .

[2016-05-12 18:08] jdm commented on #3939
Relevant work:
* https://github.com/Ms2ger/servo/tree/xows
* https://github.com/jdm/servo/tree/postmessage (includes a super hacky implementation of cross-origin window.parent to support cross-origin postMessage; merely for investigative/exploratory purposes)

[2016-05-12 18:10] jdm commented on #3939
Actually, this work is being tracked in #2382 so no need to keep this open.

[2016-05-12 18:10] #3939 closed

[2016-05-12 18:10] jdm commented on #2382
Relevant work:
* https://github.com/Ms2ger/servo/tree/xows
* https://github.com/jdm/servo/tree/postmessage (includes a super hacky implementation of cross-origin window.parent to support cross-origin postMessage; merely for investigative/exploratory purposes)

[2016-05-12 18:11] jdm commented on #986
Super old, not worth tracking any longer.

[2016-05-12 18:11] #986 closed

[2016-05-12 18:11] jdm commented on #644
Super old graphics code, not worth tracking.

[2016-05-12 18:11] #644 closed

[2016-05-12 18:13] jdm commented on #10963
This is not the WIP branch, but included a very minimal `AutoEntryScript` that kept a stack of pipeline IDs that were executing script: https://github.com/jdm/servo/tree/postmessage

[2016-05-12 18:18] jdm commented on #10311
Filed #11161 for the script-tag related pieces.

[2016-05-12 18:50] metajack commented on #10452
@shinglyu I see jobs are getting sent to staging on a regular basis, including the performance artifacts. Is there a way to compare these results with firefox yet?

@wlach If we have a new framework (seems like servo-perf is what was chosen) can we then compare performance results against things in Talos? We definitely want to be able to see how we're doing against Firefox's tp5 results.

[2016-05-12 19:07] wlach commented on #10452
@shinglyu I'm seeing some issues with this:

1. It appears as if you're still specifying the talos framework. As of yesterday, the servo-perf framework is on stage, so please assign that to your series.
2. It looks like the performance series signature keeps on changing, which makes it impossible to track performance and generate alerts. I can't see any logs to determine what you're actually submi

[2016-05-12 19:15] metajack commented on #10452
How does our tp5 test differ from the one that Firefox runs?

[2016-05-12 19:18] wlach commented on #10452
@metajack I'm not familiar with exactly what servo-perf is testing, if it's using the same pageset as talos tp5 that's a great start at measuring the same thing. But even if the pageset is the same, you would have to make sure that the harness is recording information in the same way.

The numbers from talos vs. servo-perf seem pretty far off from one another:

https://treeherder.allizom.org/perf.

[2016-05-12 19:20] larsbergstrom commented on #10452
@wlach I'd expect Servo's numbers to be pretty far off - we have done nearly zero "complete page load" performance work yet, and there's a ton of known low-hanging fruit. So, that chart may be pretty close to reality :-)

[2016-05-12 20:41] timvandermeij commented on #10702
Fixed by #10713?

[2016-05-12 21:13] jdm commented on #10702
Yep!

[2016-05-12 21:13] #10702 closed

[2016-05-12 21:35] jgraham commented on #10452
I may be missing something, but trying to compare performance numbers from different implementations of the "same" testsuite running on different hardware seems like it isn't going to produce good results? The infrastructure that produces results for Servo should also should submit its own results for Firefox, running with the same harness on the same hardware in order to get meaningful numbers.

[2016-05-12 21:38] broesamle commented on #10947
To me it looks like #9307 is addressing the issue. At least it is related.
It would make sense to fix the style setting issue first, since testing for this one would be difficult without it.
Another small example demonstrating the issue:
[code]
Output is:
[code]

[2016-05-12 21:45] metajack commented on #10452
@jgraham Thanks for pointing that out.

@shinglyu What are the rough specs for what the tp5 results you have submitted so far run on? Are you planning to add Firefox tests on the same hardware?

[2016-05-12 22:02] kaksmet opened #11163 "Floated text is displayed on the wrong line"
I encountered this while writing a test for #11142.

[code]
### Firefox

![firefox](https://cloud.githubusercontent.com/assets/1777894/15231590/69e2cd62-189c-11e6-93fd-6efdcf120ed8.png)
### Servo

![servo](https://cloud.githubusercontent.com/assets/1777894/15231576/50376c1a-189c-11e6-9fdc-5c529a1e9f80.png)

[2016-05-12 22:19] kaksmet opened #11164 "vertical-align causes text to overlap with line above"
[code]
### Firefox

![firefox](https://cloud.githubusercontent.com/assets/1777894/15232195/dd0c7e2a-189f-11e6-8c67-1c8af20c3edf.png)
### Servo

![servo](https://cloud.githubusercontent.com/assets/1777894/15232193/da76a01e-189f-11e6-8b53-84954ad3c96b.png)

[2016-05-12 22:19] s-baldrick commented on #11158
@KiChjang
I'd like to have a go at this (though I'm unlikely to get started before Saturday).

Greetings,
Piotr

[2016-05-12 22:20] kaksmet commented on #11164
@mbrubeck If you could point me in the right direction I would like to try fixing this.

[2016-05-12 22:57] mbrubeck commented on #11164
The code involved is in [`InlineFlow::set_block_fragment_positions`][1], and possibly in the code that runs before it that mutates `line.inline_metrics`, like [`new_inline_metrics_for_line` and `new_block_size_for_line`][2].

[1]: https://github.com/servo/servo/blob/1e8ddba3e84617d2e0e01d2e7fbf8548abed518f/components/layout/inline.rs#L1005
[2]: https://github.com/servo/servo/blob/1e8ddba3e84617d2e

[2016-05-12 23:04] emilio opened #11165 "Intermittent timeout of /html/rendering/non-replaced-elements/lists/ol-type-unsupported-disc.html"
[code]

[2016-05-12 23:06] jdm commented on #11158
Great!

[2016-05-12 23:07] jdm commented on #11165
#8815.

[2016-05-12 23:07] #11165 closed

[2016-05-12 23:20] emilio commented on #8815
Since most of the occurrences of this now happen in `FontCacheThread::exit()`, I added debug info in #11166.

It's probably a race, but if it's not really important (something like the other side has already exited) and we don't care a lot (that depends on what the other side is and expects), we could drop the `unwrap()`s.

[2016-05-12 23:28] emilio commented on #11070
Related conversation on IRC: http://logs.glob.uno/?c=mozilla%23servo&s=12+May+2016&e=12+May+2016#c428479

[2016-05-13 02:26] shinglyu commented on #10452
@metajack We can't compare out servo-perf test with existing tp5-Firefox-talos test. The reason is that we have our custom test runner ( Open PR: https://github.com/servo/servo/pull/11107). It runs a subset of tp5 tests, because some pages makes servo run forever (see #11087 ). Also it measures `domComplete` time from `performance.timing`, which is different from how talos measures. We are plannin

[2016-05-13 02:58] shinglyu opened #11167 "Push servo-perf log to a public place and link to it in Treeherder"
In order to debug servo-perf data, we need to put the log in somewhere that is public. Then we can add a link to it in our treeherder artifact.

@larsbergstrom I assume if we run https://github.com/servo/servo/pull/11107 in our buildbot infrastructure, the log can be access from a link into buildbot?

[2016-05-13 03:12] shinglyu commented on #10452
@wlach: Now the data points are in the same graph again. https://treeherder.allizom.org/perf.html#/graphs?series=[servo,f6067f4bc04fef24aa4eec8ff55794727bfe5f7f,1]&selected=[servo,f6067f4bc04fef24aa4eec8ff55794727bfe5f7f,9,17]

I assume the problem is because I'm transitioning from `talos` to `servo-perf`?

[2016-05-13 03:15] shinglyu commented on #10452
In case you are confused, the May 10 commit is still using `talos`. I changed to `servo-perf` and break the code, so there are some missing data between May 10 and May 12. The first May 12 build is also broken, so the new clean data should start from the bca625bd8e60 commit.

[2016-05-13 03:35] aneeshusa commented on #11167
It is possible to save and access logs from Buildbot, but we delete them after ~5 days to save disk space from running out. If they need to be accessible more permanently, we'll need to upload them to S3 with s3cmd.

[2016-05-13 06:06] shinglyu commented on #11167
@aneeshusa Do you know how I can apply for access to our S3?

[2016-05-13 07:21] blacksvk opened #11169 "Windows build: No Rust compiler binary available for this platform."
I have problem building servo on Windows 8.1 x64, while running ./mach build. Seems like it cannot download rust compiler.

![rust](https://cloud.githubusercontent.com/assets/10187350/15240751/0366ebb8-18ec-11e6-993e-3e50602e23ad.png)

[2016-05-13 09:09] KiChjang commented on #11169
Are you using MSYS or MinGW or Cygwin?

[2016-05-13 09:17] blacksvk commented on #11169
Sorry, my bad, I fotgot to switch to MinGW shell. You can close/delete this issue.

[2016-05-13 09:54] #11169 closed

[2016-05-13 11:32] #11152 closed

[2016-05-13 11:50] Ms2ger commented on #2382
We should now be able to implement this from the spec: <https://html.spec.whatwg.org/multipage/#cross-origin-objects>.

[2016-05-13 11:52] Ms2ger commented on #11100
I suspect this has something to do with the increased parallelism for wpt runs. @metajack ?

[2016-05-13 11:55] Ms2ger commented on #11158
Should we implement `onfoo` attributes where we never dispatch a `foo` event?

[2016-05-13 12:11] blacksvk opened #11170 "No option is shown in select"
![select](https://cloud.githubusercontent.com/assets/10187350/15247438/9208abae-1914-11e6-95cc-fdd9ca166b24.png)

[code]

[2016-05-13 12:15] jdm commented on #11170
Yes, `<select>` is completely unimplemented at the moment.

[2016-05-13 12:26] jdm commented on #11158
On one hand it's not great for feature detection. On the other hand, it's _really_ easy to forget to add them when implementing code that dispatches the appropriate event, and it leads to frustrating and confusing debugging sessions. I lean towards adding the handlers for that reason.

[2016-05-13 12:53] metajack commented on #11100
I checked all the linked PRs. This intermittent appears isolated to mac-rel-wpt.

[2016-05-13 12:53] ocerman opened #11172 "Opacity not working on span"
![opacity](https://cloud.githubusercontent.com/assets/10187350/15248424/68efea06-191a-11e6-8ccb-0e7a17c6b019.png)

[code]

[2016-05-13 12:58] metajack commented on #11100
I don't see anything in relection-embedded.html that would create files. Am I missing something? I can understand why we'd run out of file descriptors, but why always on this specific test?

[2016-05-13 13:06] Ms2ger commented on #11100
That's the one that handles `iframe` and `img`.

[2016-05-13 13:13] metajack commented on #11100
All instances seem to be on servo-mac3 or servo-macpro1.

[2016-05-13 13:31] metajack commented on #11100
On linux we seem to be happy with the default number of file descriptors (1024). We also run many more simultaneous tests on linux since there are more processors.

On the mac, we attempt to set the limit to 30k via sysctl, but according to http://superuser.com/questions/302754/increase-the-maximum-number-of-open-file-descriptors-in-snow-leopard this is no longer enough. `launchctl limit` shows us

[2016-05-13 13:43] asajeffrey commented on #11152
Should be fixed by #11155.

[2016-05-13 13:43] larsbergstrom commented on #11100
Aha, I recently had to pave mac3 and macpro1 and I must have done something similarly manual that we haven't properly automated in salt yet that I didn't do when restoring them. Thanks!

I thought that our linux machines were defaulting to unlimited the last time I checked.

[2016-05-13 13:44] metajack commented on #11100
`ulimit -a` and `launchctl limit` showed 10240 and 256 respectively. I guess `ulimit` just lies on OS X now.

[2016-05-13 13:45] metajack commented on #11100
Note that this was consistent across servo-mac1, servo-mac2, servo-mac3, and servo-macpro1. I didn't find any configuration differences, but it is possible I missed something.

[2016-05-13 13:47] metajack commented on #11167
@aneeshusa Please talk to @larsbergstrom, @edunham, or myself for that. I believe any of us can set you up with an AWS login or with the S3 credentials.

[2016-05-13 13:47] larsbergstrom commented on #11100
This is what I used to do, pre-salt:
[code]

[2016-05-13 13:51] metajack commented on #11100
launchd.conf only exists on servo-mac2. All of them seem to have the /etc/profile change, and they also all had the sysctl.conf change (salt manages that one currently).

[2016-05-13 13:52] metajack commented on #11100
I wonder if we used to run mac-rel-wpt on servo-mac2 before? That would explain why this popped up.

[2016-05-13 13:53] larsbergstrom commented on #11100
@metajack Almost all our macs except for -mac2 have been paved in the last few weeks. I would not call OSX a stable OS for long-running automated systems :-)

[2016-05-13 14:37] metajack commented on #11100
I'm unsure whether my changes were in effect for #11173, but it seems to have failed :(

[2016-05-13 14:55] aneeshusa commented on #11167
If we're running servo-perf on the buildbot infrastructure, we can simply upload to S3 automatically as a build step, with a tightly scoped bot account that only allows uploads to S3. See the android-nightly builder for an example (although it's currently busted).

[2016-05-13 17:27] jdm commented on #11139
[code]

[2016-05-13 17:35] metajack opened #11175 "integer overflow in /dom/html/reflection-embedded.html"
This was originally found in #10544. The stack trace is:

[code]

This appears to be caused by clamping to `UNSIGNED_LONG_MAX` but then multiplying by 60 in `Au::from_px`.

[2016-05-13 17:58] KiChjang commented on #11175
I'm quite positive that I've seen a PR that resolves something similar to this by @pcwalton or @mbrubeck, but that was a while ago.

[2016-05-13 18:02] metajack commented on #11175
The spec seems to allow a range up to 2^32-1. This means our conversion to Au will overflow anything that needs 26 or more bits.

One fix is to clamp things like image width/height to (2^32-1) / 60 or to make Au an i64 instead of an i32.

I'm not sure what the correct behavior is here. Gecko's ns_coord is i32, but they seem to not track units explicitly, and I didn't find any clear examples of `*

[2016-05-13 18:28] metajack commented on #11100
I spent some time investigating this to see whether it was opening excessive numbers of files. Here's a dtrace script I used:

[code]

This seems to show it does open a lot more files than say `/html/dom/elements/elements-in-the-dom/unknown-element.html` but it seems to be all the threads initializing their RNG from `/dev/urandom`. I didn't measure concurrent fd counts, and I may have missed some

[2016-05-13 20:04] wlach commented on #10452
@shinglyu No the performance signature is distinct from the job_guid. The signature is calculated based on the properties of PERFHERDER_DATA (suite name, test name, options) as well as various reference data from the job (machine platform, options, ...). And yes, if you change the performance framework you'll get a new series (though the signature should remain the same, since performance framewor

[2016-05-13 20:23] asajeffrey commented on #8623
#11179 implements GetWindowSize.

[2016-05-13 20:37] mbrubeck commented on #8815
[code]

[2016-05-14 01:20] larsbergstrom opened #11181 "Servo does not currently pass debug SM GCZEAL tests"
See logs at: http://build.servo.org/builders/linux-rel-gczeal/builds/0

CC @nox @jdm

[2016-05-14 01:30] larsbergstrom commented on #11181
From the GC-after-every-alloc config:
[code]

[2016-05-14 01:30] larsbergstrom commented on #11181
From the GC-after-every-hundred-allocs config:
[code]

[2016-05-14 01:46] larsbergstrom commented on #11181
From the GC post-barrier zeal config:
[code]

[2016-05-14 01:52] larsbergstrom commented on #11181
From the GC pre-barrier zeal config:
[code]

[2016-05-14 03:59] emilio commented on #11068
This seems to be linux-only and WR-only, but the reason is actually fun...

It seems calling `glxMakeCurrent` (the one and only X11 function we call in webrender), waits for a condition variable in `_XReply`.

This is probably the same bug that caused @glennw to write [this hack](https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L401) for non-wr servo a while ago.

I've got to thin

[2016-05-14 07:18] mrmiywj commented on #11137
@jdm
I'll pick this up.

[2016-05-14 08:13] KiChjang commented on #11137
Go for it!

[2016-05-14 08:55] #11145 closed

[2016-05-14 09:42] mrmiywj commented on #11130
@paulrouget
I'll pick this up.

[2016-05-14 09:42] mrmiywj commented on #10876
@jdm
I'll try to pick this up.

[2016-05-14 11:07] nox commented on #11181
Could it be that 24 processes is a bit too many for this?

[2016-05-14 13:20] jdm commented on #10876
OK!

[2016-05-14 13:43] larsbergstrom commented on #11181
I sorta doubt it?
1) The same three tests consistently crash under all forms of zeal
2) The timeouts are also quite consistent, but might be tests that perform poorly under a debug build of SM

I assume for the crashes we'll have to investigate and for the timeouts we probably just need to increase the timeout value for this build configuration's test runs.

[2016-05-14 16:11] farodin91 commented on #10965
@Ms2ger would like to work on this one:)

[2016-05-14 16:54] farodin91 commented on #9288
My servo is also slow on my pc.
[code]

[2016-05-14 16:56] jdm commented on #10965
My assumption is that we'll need to add something to Bindings.conf that associates the WindowProxy webidl type with the BrowsingContext native type. That may require adding code to Configuration.py to interpret that and code to CodegenRust.py to use the stored configuration data. I don't have any more specific ideas, though.

[2016-05-14 16:57] farodin91 commented on #9288
Arch linux
Intel® Core™ i7-965 Processor Extreme Edition (8M Cache, 3.20 GHz, 6.40 GT/s Intel® QPI)
x86_64 architecture
GPU: GTX 560 TI
6G RAM

[2016-05-14 17:49] mrmiywj commented on #11137
Hi, I'm not sure how to continue on this issue.
Actually `tidy.py` is a python script to check whether the code is tidy. But check whether a argument of a function is `&Root<T>` is a compiler work, I think.
May the solution is like [check use](https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py#L438) here.
But I have no idea on how to determine whether this line is a function

[2016-05-14 18:23] mrmiywj commented on #10876
@jdm
Hi, I just complete the work. But I'm not sure what the test in `ests/wpt/web-platform-tests/html/semantics/links/links-created-by-a-and-area-elements/` means, which is created by @broesamle .
And I code failed on this test. Maybe I need to fix it, I don't know why. Maybe I should call getter before the setting called?

[2016-05-14 18:56] jdm commented on #11137
I would suggest looking for `: &Root<`, which would limit the possible places that the syntax could be found.

[2016-05-14 18:59] mrmiywj commented on #11137
Sorry for that I've not read through `Root`'s source code. But, will `: &Root<` appear when one tries to declare a variable? If not, I do think it's a good solution.

[2016-05-14 19:01] jdm commented on #10876
Just so you know, you can run the test files under tests/wpt/web-platform-tests with `./mach test-wpt tests/wpt/web-platform-tests/path/to/test.html`. If you're adding a new test, like you did in your PR, you should use `./mach create-wpt tests/wpt/web-platform-tests/path/to/test.html` as described in [the documentation](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-te

[2016-05-14 19:03] jdm commented on #11137
It could, but it would be very rare and it would be inefficient for the same reason that we are warning about it here. Therefore, I don't think it's a problem :)

[2016-05-14 19:05] mrmiywj commented on #10876
Hmm, yep I know this. The test in my PR is jut  a test. What's the point is
that my code fails when the test tries to modify the node's attribute like
`hash`, `search`, etc. I can not find what causes it. Is there any problems
with my code?

2016-05-15 3:01 GMT+08:00 Josh Matthews <notifications@github.com>:

--
杨文杰
Wenjie Yang

Department of Computer Science
School of Electronic Information and E

[2016-05-14 19:17] perlun commented on #10881
@jdm - what is the status on this one now? Is it still failing?

[2016-05-14 19:26] jdm commented on #10876
Can you describe how your code fails, exactly? What do you expect to happen, and what actually happens?

[2016-05-14 19:27] jdm commented on #10881
Yes, since we marked them as `expected: FAIL` in the ini files, if I recall correctly.

[2016-05-14 19:39] perlun commented on #10881
Yes, we did. Alright, leaving open until we have it sorted.

[2016-05-14 20:19] mrmiywj commented on #10876
Yep,
After reading through the code, I think the problem is that if no setter has ever called, the `self.url` will be None, so that I plan to call `self.set_url()` in `attribute_mutated` if I found that `self.url` is None. But it cannot be borrowed at this function, since there must be a muted borrowing somewhere else.
And I doubt whether it works. Since `attribute_mutated` is called when an attri

[2016-05-14 20:31] g-k commented on #8756
Can I pick this up?

[2016-05-14 21:19] nox opened #11185 "Fix warnings following rustup to 1.10.0-nightly (2b79e05a0 2016-05-13)"
This new Rust now tracks unused trait imports.

[code]

[2016-05-14 21:32] perlun commented on #11185
I'll take this one, PR coming up in a while.

[2016-05-14 21:33] nox commented on #11185
Thanks!

[2016-05-15 04:12] ConnorGBrewster commented on #10992
@jdm we will need to add a way to interleave all of the navigation events. See https://html.spec.whatwg.org/multipage/browsers.html#joint-session-history. Would having an extra frame designated for this in the constellation work?

[2016-05-15 04:29] Manishearth commented on #8756
Sure! Let us know if you need help.

[2016-05-15 07:54] Wafflespeanut commented on #11137
As a sidenote, tidy already complains about the usage of `&Vec` and `&String`

[2016-05-15 08:07] Wafflespeanut commented on #11185
@perlun has contributed a fairly good amount of stuff to servo, so I think it'd be better if we leave this for the newcomers (unless this should be fixed ASAP)

[2016-05-15 09:05] broesamle commented on #11172
...since my other issue is waiting for another PR to land I would like to have a look here, in between.

[2016-05-15 10:02] nox commented on #11185
It's mostly grunt work and there is quite a massive amount of them currently, I'm not sure it matters who does it.

[2016-05-15 10:05] mrmiywj commented on #11137
@Wafflespeanut Thx!

[2016-05-15 11:42] Ms2ger commented on #11175
Maybe we should store this in CSS units too; can we ever get fractional data here?

[2016-05-15 13:28] fduraffourg commented on #9965
I'd like to work on this. Is it ok?

[2016-05-15 14:28] jdm commented on #11172
@broesamle You're welcome to it! Judging by some quick searching for things like opacity in the layout code, we might not be establishing a stacking context for the span? The code related to might only be used for block flows, not inline ones.

[2016-05-15 14:28] jdm commented on #11172
Also https://github.com/servo/servo/wiki/Getting-started-with-layout may be useful.

[2016-05-15 14:36] jdm commented on #9965
@fduraffourg Please do!

[2016-05-15 17:20] perlun commented on #11185
@Wafflespeanut - thank you for that. :smile: I'm halfway done with it so I'll think I just finish it this time. Next time, I'll try to leave the low-hanging fruit for others. :wink:

[2016-05-15 18:22] angyalp commented on #9585
Servo requires at least Open GL version 2.1 (the webrenderer requires 3.2). This error could arise, when your GPU does not support it. One workaround is to lower this enforcement to 1.4, which should be supported by old integrated Intel GPUs (check your supported Open GL version by the glxinfo command).
Please note that I've checked out Servo first a few hours ago, so I don't know the codebase, an

[2016-05-15 23:23] #11185 closed

[2016-05-16 01:43] shinglyu commented on #11167
@aneeshusa @metajack  Thank you for the info, but it might take a few more weeks before I can deploy it on buildbot. So I should better get a credential before that. I'll talk to @larsbergstrom about that when I met him tomorrow.

[2016-05-16 03:42] ConnorGBrewster commented on #10992
@jdm it looks like we will need to interleave navigation events from all browsing contexts for the [`joint session history`](https://html.spec.whatwg.org/multipage/browsers.html#joint-session-history). This means that `Frame` itself will not be enough. I am trying to think of a way to store navigation events as they occur, do you have any ideas?

[2016-05-16 07:22] shinglyu commented on #11088
We should record this as a baseline before we work on https://github.com/servo/servo/issues/11089

[2016-05-16 07:47] shinglyu commented on #10452
@wlach: Thanks. Do the last 4~5 tests have the same signature? The only changing part should be the timestamp and performance numbers. I might have changed the subtest name when I fixed some bugs a week ago, but the latest 4 tests should be stable. Can you point me to the performance signature code/docs so I can double check?

[2016-05-16 08:04] paulrouget commented on #11151
/cc @glennw @pcwalton

[2016-05-16 08:05] shinglyu commented on #10452
@larsbergstrom @metajack I tried to prioritize the remaining work. Please let me know if we need to adjust anything.
## Priority 1 (Critial for June Preview)
- [ ] Compare with Firefox (https://github.com/shinglyu/servo-perf/issues/4) ( @autrilla is working on  this)
- [ ] Push log to S3 and show in Treehderder (https://github.com/servo/servo/issues/11167)
- [ ] Discard first 20% warm-up test resu

[2016-05-16 08:47] paulrouget opened #11194 "How to prevent Servo shutdown on Escape when iframe is focused"
For browserhtml, when we get a keypress event and key is the Escape key, we call `event.preventDefault()` to prevent Servo to shutdown.

When the user presses escape when an iframe is focused, the event doesn't go through the browserhtml document, so the compositor handles the keyevent and shuts down Servo.

I think the proper way to handle this is to let the event go through the containing pipeli

[2016-05-16 10:01] Ms2ger opened #11195 "Android nightly failing again"
[code]

[2016-05-16 10:15] wlach commented on #10452
@shinglyu: Code for signature calculation is here (warning: it has some rough edges): https://github.com/mozilla/treeherder/blob/master/treeherder/etl/perf.py

[2016-05-16 11:54] jdm commented on #10992
The constellation is the natural place to coordinate the concepts of the joint session history and the session history event loop. I'm not sure what storing navigation events entails, exactly.

[2016-05-16 12:22] highfive commented on #11195
cc @aneeshusa

[2016-05-16 12:24] jdm commented on #11194
Having a preference that disables shut down on escape sounds like the most sensible choice to me.

[2016-05-16 12:34] jdm opened #11197 "Remove --no-ssl option"
This option has not actually been implemented for a long time, so it would be nice if we didn't lie to users and say that it exists.

Code: `components/utils/opts.rs`

No need for any automated tests here; run `./mach run -- -h` to see the full set of options that are reported before and after the change.

[2016-05-16 12:34] jdm commented on #9819
The `--no-ssl` option isn't actually implemented; I've filed #11197 to remove it.

[2016-05-16 12:34] #9819 closed

[2016-05-16 12:48] Ms2ger opened #11198 "compositing should not depend on num-traits"
The `extern crate` was removed in #11192; we also need to remove the dependency in `components/compositing/Cargo.toml`.

[2016-05-16 13:20] jdm commented on #11198
After making this change, run `./mach cargo-update -p compositing` to ensure all the `Cargo.lock` files are updated.

[2016-05-16 14:20] Ms2ger opened #11202 "Consider adding another testing option to the pull request template"
Along the lines of "I'd like to have an automated test for this, but I don't think we have the required infrastructure right now.",

[2016-05-16 14:31] jdm commented on #11202
I fear the proliferation of options. Maybe we could rephrase the "no tests" option to cover this?

[2016-05-16 15:04] paulrouget commented on #10571
Both #11125 and #10903 are fixed now. Closing.

[2016-05-16 15:04] #10571 closed

[2016-05-16 15:04] fitzgen commented on #11181
There are many gc zeal modes that aren't run in automation precisely because they affect performance so greatly. Usually the more esoteric ones are enabled on a per-test basis, for test cases generated by the fuzzers.

[2016-05-16 15:06] nox commented on #11181
@fitzgen The only purpose of this is to be sure we don't break anything with incremental GC. What should we do for that?

[2016-05-16 15:19] jdm commented on #11181
Before assuming that zeal is making the tests so slow that they're hitting the test timeout, I'd like to assume that :)

[2016-05-16 15:31] fitzgen commented on #11181
We used to have a zeal mode that would do a full heap trace and add every edge to a set at the start of an incremental GC cycle. Then, it would assert that all those edges were visited by the time that the incremental GC cycle finishes. This is possible because we use Yuasa snapshot-at-the-beginning style barriers.

Aha! Looks like this is zeal mode 4.

11 should also be useful.

Unfortunately, th

[2016-05-16 15:33] mrmiywj commented on #11197
@jdm
I'll pick this up.

[2016-05-16 15:35] aneeshusa commented on #11195
Dupe of #10339, I have an open PR for this at servo/saltfs#290. This was masked for a while because of an LLVM bug on ARM, but a recent rustup fixed that issue.

[2016-05-16 15:43] KiChjang commented on #11197
@mrmiywj Do you mind leaving this to other new contributors?