[2016-04-04 21:13] metajack opened #10401 "asm.js type error: Disabled by javascript.options.asmjs in about:config"
Getting this running Octane. We probably need to enable asm.js in Servo.

[2016-04-04 21:13] metajack commented on #10401
cc @tschneidereit @nox

[2016-04-04 21:14] Manishearth commented on #10230
From an abstraction point of view, I meant :smile: ipc-channel as such is an abstraction one expects to behave similar to sync::mpsc. Here, it doesn't. We should be wary of that.

Would they be shared, though? We want all processes requesting it to have readonly access to this file without duplicating it in memory.

[2016-04-04 21:14] ConnorGBrewster commented on #10376
@emilio Almost to the bottom of this. It looks like `SH_VARIABLES` option is required to print out `out vec4 webgl_FragColor;`. Now it looks like both shaders compile successfully, but there is now another crash. Here is the relevant `apitrace` dump:

[code]

[2016-04-04 21:16] notriddle commented on #7681
Are you sure about that? As a reminder, `<span style="border:red"><span style="border:black">TEST</span></span>` is expected to work, too, even though there will only be one fragment (inline elements don't generate flows, and fragments are never nested). I'm pretty sure that's what the `inline_contexts.nodes` list is for.

[2016-04-04 21:20] jdm commented on #7621
@michaelwu Could you elaborate on this, please?

[2016-04-04 21:37] edunham commented on #10080
The current `appveyor.yml` runs `mach build` and `mach test-unit`, https://github.com/servo/servo/blob/master/appveyor.yml#L44 . This means it uses [mach](https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/mach) to run [the unit tests](https://github.com/servo/servo/tree/master/tests/unit)

[2016-04-04 21:37] #10080 closed

[2016-04-04 21:38] mbrubeck commented on #7681
Oh yes, I misunderstood what that code was doing.

[2016-04-04 21:44] antrik commented on #10230
@Manishearth yes, I'm pretty sure the OS shares multiple mappings of the same file (that's how shared libraries work for example) -- and even more so, if we transfer an open FD, rather then opening the file separately in every process...

BTW, GitHub fails to show the end of my previous message; so here it is again:

Actually, it's rather the other way round: Mach's external pager interface enable

[2016-04-04 21:46] notriddle commented on #7681
I pretty much understand what the problem is: the inner block flow isn't drawing a border, because there's nothing that would make it do so, and the fragment isn't drawing a border because it's not a primary fragment.

If I remove the `is_primary_fragment` conditional, it draws the rest of the border... sort of. It's offset wrong, probably for the same reason (if you look closely) that the text is

[2016-04-04 21:50] Manishearth commented on #10230
Right. This sounds like one way to do it, then. Does IPC-channel handle file descriptors well, or does this API need to be built into it?

@glennw do you think letting the OS handle the cache via mmap is okay?

[2016-04-04 21:50] antrik commented on #10230
Also, feel free to assign this issue to me -- unless it's considered urgent. It looks pretty interesting, and I'm already somewhat familiar with parts of the code in question. I would like to work on it once I'm done with ipc-channel...

[2016-04-04 21:57] antrik commented on #10230
@Manishearth hm, good point about ipc-channel and FDs... It does have infrastructure for sending FDs of other IPC channels and of shared memory regions -- but not for generic FDs as far as I can see :-( I guess this needs to be added first.

[2016-04-04 22:00] Manishearth commented on #10230
I don't think it's considered urgent. I'm personally a tad annoyed that the font cache on my machine is doing multiple extra copies and File I/O, but this doesn't block anything per se. The panic cascade that this used to cause is already fixed, of course.

There are multiple parts to this:

 - Making sure IPCSharedMemory doesn't do silly things on linux
 - Figuring out and implementing an IPC-saf

[2016-04-04 23:51] bholley opened #10403 "Move CSS properties between style structs to align the representations between Gecko and Servo"
For the Stylo project, we're trying to integrate Servo's next-generation CSS engine into Gecko.

Both Servo and Gecko have style structs, which are groupings of computed CSS values. One thing that will make the project easier is to make sure that Gecko and Servo group properties the same way.

@heycam put together a list of recommended moves at [1]. Many of the moves will occur in Gecko, which is

[2016-04-04 23:52] bholley commented on #10403
CC @larsbergstrom @SimonSapin

[2016-04-04 23:54] bholley opened #10404 "Move CSS image-rendering property from Effects to InheritedBox"
See #10403 for a detailed explanation of how to get started.

[2016-04-04 23:55] autrilla commented on #10209
I'd like to work on all of the remaining uniform methods, if that's okay

[2016-04-04 23:55] bholley opened #10405 "Move CSS text-overflow property from InheritedText to Text"
See #10403 for a detailed explanation of how to get started.

[2016-04-05 00:11] mauricioc commented on #10404
I'd like to try my hand at this.

[2016-04-05 00:29] bholley commented on #10404
Awesome! Let me know if you need any help. :-)

[2016-04-05 00:38] Manishearth commented on #10334
From https://github.com/servo/servo/pull/10329#issuecomment-204882642

Looking at this perhaps we have to use the latter option, since we need to be able to associate a panic with a specific `<iframe>`

[2016-04-05 00:51] Manishearth commented on #10334
@paulrouget For telemetry and stuff, would it be okay if the bhtml window itself could have a mozbrowsererror fired on it (not just its iframes)? This way, we can attempt to catch crashes in individual iframe threads, and if the panic is elsewhere, try to tell bhtml about it  directly so that it can  (attempt to) report to telemetry.

[2016-04-05 01:17] #10278 closed

[2016-04-05 03:05] frewsxcv commented on #6833
Is this still desired?

cc @Ms2ger

[2016-04-05 04:39] paulrouget commented on #10334
@Manishearth Do we need to have a special event for that? Could we use this instead: https://html.spec.whatwg.org/multipage/webappapis.html#handler-onerror. Because we try to make mozbrowser events map contentDocument events. `mozbrowserloadend` is `onload` for example.

Regardless of the name of the event, it should be fired only if 1) the mozbrowser pref is on, 2) only to the very top level pipe

[2016-04-05 06:33] bholley opened #10408 "Implement support in Servo for all standardized CSS properties that Gecko supports"
For the Stylo project, we're trying to integrate Servo's next-generation CSS engine into Gecko. One requirement for this project is to add support for all the style properties that Gecko supports and Servo does not.

This is a meta-bug. There's a lot of work to do here, so we don't expect support for every CSS property to land in the same PR or be authored by the same person.

The current master-l

[2016-04-05 06:33] bholley commented on #10408
CC @mauricioc, who was interested in helping out on Stylo. This would be a fantastic way to help. :-)

[2016-04-05 06:34] bholley commented on #10408
CC @larsbergstrom for suggestions on how to make this more contributor-friendly.

CC @SimonSapin for a heads-up on the incoming PR-storm. :-)

[2016-04-05 08:11] saurvs commented on #10397
@emilio I've opened the first PR for `gleam` https://github.com/servo/gleam/pull/74

[2016-04-05 08:27] Ms2ger commented on #6833
Meh, I guess.

[2016-04-05 09:29] paulrouget commented on #10050
This went down to 22% (without using requestAnimationFrame) from 30%.

[2016-04-05 09:41] SimonSapin commented on #10408
I think you mean “support” in the `style` crate: parsing, serializing, computed values, etc. Let’s call this style-system support.

But usually talking about “supporting” a CSS property means implementing it all the way: doing all the layout and painting and other things that it involves. Let’s call this full support. In that sense, yes we want Servo to fully support everything but that’s a much b

[2016-04-05 09:51] paulrouget commented on #10050
Using transition changes nothing. 22%.

[2016-04-05 09:52] paulrouget commented on #9844
@pcwalton any idea what's going on here?

[2016-04-05 11:16] nox commented on #10401
Were that present in SM39, or are you pinging me because that is blocked on SMUP? Or is that a question I should answer myself? :)

[2016-04-05 11:24] Manishearth commented on #10334
Could it be a mozbrowsererror instead (fired on the `Window` instead of the iframe)? I don't like exposing a possible exploit vector through a non-mozbrowser interface.

[2016-04-05 11:33] #10348 closed

[2016-04-05 11:48] paulrouget commented on #10334
Sure. To avoid confusion, could we name it `mozbrowsererror_unknownorigin` or something like that?

[2016-04-05 12:41] metajack commented on #10401
I pinged @tschneidereit since it seems this error message is overly specific to Firefox, and probably should be fixed.

I pinged @nox since you are working on smup and might want to add this to your list.

After talking with @jdm I think I may just fix it in Servo myself :)

[2016-04-05 14:22] Manishearth commented on #10334
sgtm

[2016-04-05 14:35] metajack opened #10412 "octane progress bar not repeating correctly"
Servo seems to keep stretching it, but Firefox repeats the pattern instead.

STR:
1. Go to http://chromium.github.io/octane/?auto=1 in servo and watch
2. Compare to the same page in firefox

Images attached to demonstrate the difference.
![octane-firefox](https://cloud.githubusercontent.com/assets/28357/14285571/4de25c96-fb09-11e5-9a82-813d56f54e16.png)
![octane-servo](https://cloud.githubusercont

[2016-04-05 14:58] larsbergstrom commented on #10310
Yeah, sorry, but you will also need this commit from @glennw:
https://github.com/glennw/servo/commit/e9723c3eccba08b924e555b04611946a7bd18d5a

[2016-04-05 16:03] larsbergstrom commented on #9918
@edunham The `./mach package` command should be incorporated into the Servo nightly planning discussion we were just having :-)

[2016-04-05 16:19] Wafflespeanut commented on #7481
@AgostonSzepessy Are you still working on this?

[2016-04-05 16:36] jdm opened #10415 "Copy all the JS runtime options from Gecko"
For example, everything in Gecko that is configured via a `javascript.options` preference: https://dxr.mozilla.org/mozilla-central/rev/d9f50aa0a1aaf90499b85c31e0f329b762e80fdd/js/xpconnect/src/XPCJSRuntime.cpp#1535

[2016-04-05 16:36] jdm commented on #10415
https://dxr.mozilla.org/mozilla-central/rev/d9f50aa0a1aaf90499b85c31e0f329b762e80fdd/modules/libpref/init/all.js#1145

[2016-04-05 16:44] jdm commented on #9778
This should be fixed by #10074.

[2016-04-05 16:44] #9778 closed

[2016-04-05 16:58] Ms2ger opened #10416 "Consider exiting early in handle_script_loaded_url_in_iframe_msg when the containing pipeline is closed"
As discussed on IRC

[2016-04-05 17:06] emilio opened #10417 "Implement the remaining WebGLRenderingContext uniform methods"
@autrilla wanted to work on this.

[2016-04-05 17:07] emilio commented on #10209
@autrilla They're yours! I've opened https://github.com/servo/servo/issues/10417 to keep track of them, feel free to leave any questions there :)

[2016-04-05 17:11] paulrouget commented on #9879
@pcwalton is that a thing you are planning to work on?

[2016-04-05 17:17] paulrouget commented on #9860
@pcwalton if you think this is not going to happen by June or the benefit is not worth the effort just yet, feel free to switch this back to remove the P2 flag.

[2016-04-05 17:32] jdm commented on #7038
Fixed by #10088.

[2016-04-05 17:32] jdm commented on #10093
Are you still working on this, @rilut?

[2016-04-05 17:37] rilut commented on #10093
@jdm Yes, I'll get it done on Thursday after exam

[2016-04-05 17:39] jdm commented on #10093
Ok, thanks! No rush, just wanted to make sure it wasn't abandoned.

[2016-04-05 17:42] rilut commented on #10093
@jdm sure! Thanks for your consideration

[2016-04-05 17:47] paulrouget commented on #10110
@rzambre are you working on this?

[2016-04-05 17:57] tschneidereit commented on #10401
I tried fixing it in [the obvious way](https://gist.github.com/tschneidereit/e3a14c57074f855739e0ec8092d09bfd) yesterday, but that somehow didn't work. I'm somewhat inclined to leave it at that until after the SMUP.

Filed [bug 1262208](https://bugzilla.mozilla.org/show_bug.cgi?id=1262208) about the warning message.

[2016-04-05 17:57] mbrubeck commented on #10104
As a simple test I took a static copy of the mozilla.org home page, and profiled resizing the window.  Then I did the same after adding an unused `vw` rule to one of its stylesheets.  As expected, this caused style recalc to run on every resize.  The style recalc type was an average of about 18ms on my laptop, which is a both a large portion of the total layout time and long enough to impact frame

[2016-04-05 18:17] jdm opened #10418 "Allow allocating certain reflectors in the nursery"
[code]

[2016-04-05 18:17] jdm commented on #10418
https://bugzil.la/1120016

[2016-04-05 18:34] jdm commented on #10415
https://gist.github.com/jdm/1d2e71157887849c7ba2

[2016-04-05 18:36] jdm commented on #10415
https://dxr.mozilla.org/mozilla-central/source/dom/base/nsJSEnvironment.cpp#2546

[2016-04-05 18:50] asajeffrey opened #10421 "Harden the compositor"
The constellation is hardened, but there are other single points of failure such as the compositor.
[code]

[2016-04-05 18:59] asajeffrey opened #10422 "Harden pipeline.rs"
The constellation directly calls code in pipeline.rs, which can panic:
[code]

[2016-04-05 19:19] rebstar6 commented on #10311
On the policy propagation piece - I'm not totally clear what has access to what.

Looking at the files, what seems to be happening is that when you click on a link that should load a new page, the document_loader 'prepare_async_load' method gets called, and that, in theory, is where things can be passed between the document and the http_loader methods (most notably, load). If I have a document wit

[2016-04-05 19:31] jdm commented on #10311
That is correct; the desired referrer policy would need to be passed as part of the LoadData. Passing it to the PendingAsyncLoad constructor via the methods in Document that invoke the DocumentLoader code would make sense to me.

[2016-04-05 19:39] rebstar6 commented on #10311
But beyond that, if I just have the referrer policy, I still cant set the header because I also need the previous document's URL to populate it - the loaddata currently just has the url to be loaded, right?

[2016-04-05 19:41] rzambre commented on #10110
@paulrouget Yes! Our group here at UC Irvine has been working on creating a predictive classification model for the parallel styling/layout performance of Servo using DOM tree characteristics as the predictive features. Using 8 DOM tree characteristics, we have some simple models that achieve an accuracy of up to 80%. Those were based on performance numbers on a laptop platform. We are now looking

[2016-04-05 19:44] jdm commented on #10311
Yep. We should probably add that to LoadData as well!

[2016-04-05 20:28] creativcoder commented on #10338
Hi have a look at basedirs module; tell me if this looks good, or suggest if this can be done better. https://gist.github.com/creativcoder/7f4a3b57c2c3dc08da47f26a15db7298

[2016-04-05 20:46] ConnorGBrewster commented on #10216
Implemented in #10215

[2016-04-05 21:10] KiChjang commented on #9186
Should this use the Fetch DOM API or the native Rust fetch?

[2016-04-05 21:13] emilio commented on #10216
Yup! That's true! :)

[2016-04-05 21:13] #10216 closed

[2016-04-05 21:33] jdm commented on #9186
Native Rust.

[2016-04-05 21:38] #10404 closed

[2016-04-05 22:18] notriddle commented on #9860
Just to make sure I'm understanding this right, the idea is basically to avoid doing the [dom traversal], not the entirety of reflow?

[dom traversal]: https://github.com/servo/servo/blob/master/components/layout/layout_thread.rs#L1117-1126

[2016-04-06 01:09] rebstar6 commented on #10311
Alright, so just wanna confirm I'm on the right track here: https://github.com/rebstar6/servo/commit/8c91f8abad39debdf77228669c94969865739fc0

I added Option for referrer policy and referrer URL to both PendingAsyncLoad and LoadData. From document, they get passed 1st to PendingAsyncLoad which passes them forward to LoadData (where they will be picked up by the http_loader when setting headers). W

[2016-04-06 01:47] jdm commented on #10311
Yes, that looks like it's on the right track. The LoadData constructors in XMLHttpRequest and ScriptThread::start_page_load should have non-None values, but those can be dealt with later as long as there's a TODO marking them.

As for the second question, prepare doesn't get called twice for the same value. The difference between prepare_async_load and async_load is that the former returns a struc

[2016-04-06 01:58] maherbeg commented on #9612
I had to run the following to ensure I could build/install.

[code]

[2016-04-06 02:31] frewsxcv commented on #9748
This was fixed by https://github.com/servo/webrender/pull/204.

[2016-04-06 02:31] #9748 closed

[2016-04-06 03:02] metajack commented on #10415
I'm working on this. I should have a patch in tomorrow.

[2016-04-06 03:33] AgostonSzepessy commented on #7481
Yes I am. Sorry it's been so slow; I've been really busy with end of school projects and studying for exams. I need to check for a few more tests that I haven't checked for yet and clean up the code a bit, and then it should be ready. The program produces this output when I pipe in the tests:http://paste.pound-python.org/show/AGzKKwVddQqHjGTapm94/
Here's a cleaned up version (not from the program)

[2016-04-06 03:52] paulrouget opened #10425 "Why does it takes longer to Servo to load firefox.com than Firefox?"
To load firefox.com in Firefox, it takes 2.4s (`performance.timing.loadEventEnd - performance.timing.navigationStart`). In Servo, it takes 10s (time between `iframe.src = "http://firefox.com"` and `mozbrowserloadend`).

Do we know the reasons?

I guess the lack of speculative HTML parsing (#3847) is one of the reasons. Anything else?

[2016-04-06 03:58] frewsxcv commented on #10425
Relevant to https://github.com/servo/servo/issues/8940

[2016-04-06 04:15] bholley commented on #10408
That's a great point. I'll investigate possible solutions here tomorrow.

[2016-04-06 04:35] Manishearth commented on #10425
It should be speculative HTML parsing and fetching. If a website has a bunch of external scripts (e.g. twitter) it takes forever to load since the scripts load one after another with fetches in between. Firefox probably fetches them all in parallel whilst loading.

[2016-04-06 04:45] metajack commented on #10425
We know one concrete reason, which is that we start loading resources later due to not having speculative HTML parsing.

Another reason is that if you have a warm cache in Firefox, you're probably skipping a lot of the network requests outright, and Servo currently has no cache.

There are probably more reasons, but right now we don't know what they are.

I am hoping @nox's work getting the perfor

[2016-04-06 04:46] KiChjang commented on #8684
I've managed to fix the underlining issue by reversing the match arms in https://github.com/servo/servo/blob/f1baba973f9bc788a65d77b59528b3719c198315/components/style/properties.mako.rs#L2270-L2283, i.e. start with no declarations if the display is "inline-block" or "inline-table". However, the coloring of the underline is incorrect - it doesn't match the color of the magenta text. I suppose this

[2016-04-06 05:02] Wafflespeanut commented on #7481
No worries, just wanted to check :)

To clarify, if the script is exposed to an stdout like [this](http://build.servo.org/builders/linux-rel/builds/114/steps/shell_1/logs/stdio), we'll get a JSON like the one you've shown, right?

[2016-04-06 06:21] Shiroy commented on #10104
Ok.

I'm still integrating the `HasViewportPercentage` trait. I have some difficulties to identify which type should implement this trait, especially higher level type like :

[code]

Both A and B should implement the trait.

I don't know any way to automatically generate the type that should implement the trait. An algorithm would be to generate a type dependency graph and with this graph, print

[2016-04-06 07:39] shinglyu commented on #10181
I want to give it a try.

[2016-04-06 07:46] dati91 opened #10427 "Cached attribute sequence<T>"
I'm searching for a workaround until #10072 gets resolved. My idea would be an attribute sequence like this:

[code]

But this will run into a fixme:
https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L3244

I could bypass this if i set `self.member.slotIndex`, but i don't see how to do so.

[2016-04-06 07:47] dati91 commented on #10427
@larsbergstrom could you help me out who to CC?

[2016-04-06 08:57] #10271 closed

[2016-04-06 09:03] paulrouget opened #10428 "Implement window.performance.timing"
https://developer.mozilla.org/en-US/docs/Web/API/Performance/timing

https://w3c.github.io/navigation-timing/#the-performancetiming-interface

This would be really useful to page loading performance, like #10425.

[2016-04-06 09:04] paulrouget commented on #10425
What about `window.performance.timing`? That would help a lot.
Filed https://github.com/servo/servo/issues/10428

[2016-04-06 09:05] Shiroy commented on #10104
@mbrubeck I get this match. Does it look correct ?

[code]

[2016-04-06 09:20] #10284 closed

[2016-04-06 09:56] Anachron commented on #7379
I'm very interested in this, maybe it is worthy to check out the brackets-shell and nw.js implementations as well! https://github.com/adobe/brackets-shell http://nwjs.io/

[2016-04-06 10:00] #10335 closed

[2016-04-06 10:18] paulrouget opened #10431 "overflow:hidden clips too early"
If a box overflows because of `left:-100px` but is moved back within its container with `translate(100px)`, the box is still clipped.

<img width="317" alt="screen shot 2016-04-06 at 12 17 45" src="https://cloud.githubusercontent.com/assets/373579/14313375/98ab9ee8-fbf1-11e5-8e16-7caaca30714c.png">

[code]

[2016-04-06 11:06] jdm commented on #10427
We don't support Cached at all yet. What's wrong with using an uncached sequence?

[2016-04-06 11:54] dati91 commented on #10427
It will cause an error. :(
https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/parser/WebIDL.py#L3839

[2016-04-06 12:03] jdm commented on #10427
Oh. That's awkward :(

[2016-04-06 12:07] dati91 commented on #10427
If I replaced the `slotIndex` var it worked fine from a test html ( https://gist.github.com/dati91/eadfef716c54940bf22ab4cd9cc432bb )
That's why I asked how to set the `self.member.slotIndex`

[2016-04-06 12:22] nox commented on #10427
That's not awkward. The spec mandates that `sequence<T>` cannot be used for attributes.

[2016-04-06 12:43] jdm commented on #10427
I'm not sure what to recommend here. Implementing `[Cached]` will be complicated and difficult, and there's still no `FrozenArray` implementation in Geck to crib from.

[2016-04-06 12:48] paulrouget opened #10434 "Can't scroll overflow:scroll elements"
Here is a test case:

[code]

[2016-04-06 12:56] Ms2ger commented on #10427
Replace it by a method?

[2016-04-06 12:59] #10341 closed

[2016-04-06 13:01] danlrobertson commented on #10181
Awesome! Go for it! There is a lot of work to be done on flex, so any help is appreciated. The spec is https://drafts.csswg.org/css-flexbox.

A previous attempt to implement this merely reversed the `items` vector, but after some thought I don't think that is the correct approach. Since posting this I've realized there are quite a few steps that might need to be implemented before we can correctly

[2016-04-06 14:08] AgostonSzepessy commented on #7481
Yes. When you run `./mach test-wpt | python/wpt_test_reader.py`, it will look for lines that are similar to:
[code]
And then parse them.

[2016-04-06 15:33] mbrubeck commented on #10104
It looks like there might be some missing still, such as BorderTopWidth, OutlineWidth, FontSize, Transform...

I don't know of any existing tools to help with this either, sorry.  Maybe it's possible to write a Rust compiler plugin to do it, but I don't have any experience with that myself.

[2016-04-06 15:42] emilio opened #10437 "Update crates that use byteorder to use 0.5"
As discussed in https://github.com/servo/servo/pull/10433#issuecomment-206387444.

Crates with the old dependency include:

- [x] bincode
- [x] image
- [x] immeta
- [x] ipc-channel
- [x] jpeg-decoder
- [x] wayland-window
- [x] websocket

cc @saurvs

[2016-04-06 16:50] SimonSapin commented on #10104
Even if you fix this now, there’s a risk more properties will be added later that would need to be in that `match` but we forget to add them.

So I’d rather have this match have an arm for every single property, without a `_` catch-all pattern (this `match` can be auto-generated by the Mako template), and have some implementations of the trait that simply return `false`.

We can (probably) leave i

[2016-04-06 17:23] vbuell opened #10439 "Ubuntu 16.04 x86_64 harfbuzz build failure"
[code]

Full log with backtrace is attached
[harfbuzz-error-16.04.txt](https://github.com/servo/servo/files/207036/harfbuzz-error-16.04.txt)

[2016-04-06 17:43] frewsxcv commented on #10439
Can you paste the full build error you receive?

[2016-04-06 18:21] vbuell commented on #10439
Updated.
(It's strange. Github ate a description that I put during issue creation.)

[2016-04-06 18:31] mbrubeck commented on #10439
I'm not sure what's causing this, but as a workaround you can install the `libharfbuzz-dev` package, and then harfbuzz-sys will link against the system library instead of trying to build harfbuzz itself.

[2016-04-06 18:36] emilio opened #10440 "Support uniform arrays in WebGL"
@Manishearth pointed out in https://github.com/servo/servo/pull/10436 that we're currently implementing `Uniformxyv` functions in terms of `Uniformxy`, which means that even when you're passing a vector of n elements we're just "filling" one of the uniform variables of the array.

For example, if you have in a vertex shader:

[code]

And you call:

[code]

You'll expect `myArray[1]` in the shader

[2016-04-06 19:00] vbuell commented on #10439
Thanks. Installing the libharfbuzz-dev helps.

[2016-04-06 19:17] drbo commented on #8067
This now is rejected with an error.

[2016-04-06 19:24] jdm commented on #8067
Do we have an automated test for it in `tests/compiletest/plugin/compile-fail/`?

[2016-04-06 19:49] larsbergstrom opened #10441 "Resume interrupted bootstrap downloads"
We have some `urllib2` python code that downloads the Cargo, Rust, and Rust target lib files located here:
https://github.com/servo/servo/blob/master/python/servo/bootstrap_commands.py#L32-L63

Currently, this code does not support interrupted downloads. The job of this issue is to implement resumption of failed downloads.

CC @mbrubeck

[2016-04-06 19:51] autrilla commented on #10441
I'm interesting in working on this. Where should partially-downloaded files be placed?

[2016-04-06 19:54] drbo commented on #8067
@frewsxcv do you mind if Servo uses your example under the MPL 2 for its tests?

[2016-04-06 19:54] drbo commented on #8067
@jdm no, this is not tested.

[2016-04-06 19:55] frewsxcv commented on #8067
Apply whatever license you want to my example.

[2016-04-06 19:59] larsbergstrom commented on #10441
Most of the programs that I've seen have taken the destination filename and added ".part" or done something similar to that. Making this change would require also refactoring the `download_file` function to pass in the destination filename and `destination_bytes` to pass in a temporary file name.

@Ms2ger what do you think?

[2016-04-06 20:07] kaksmet commented on #10437
jpeg-decoder 0.1.3 (which uses byteorder 0.5) has been published.

[2016-04-06 20:28] #10260 closed

[2016-04-06 20:33] mbrubeck commented on #10441
Temporary files should be somewhere within the `self.context.sharedir` directory (defaults to `.servo`, can be set using the `tools.cache-dir` config key).  Since this is where the bootstrap commands also store most of the final files, just appending a suffix should work fine for those.

[2016-04-06 20:33] Shiroy commented on #10104
The `match` I paste above is already generated by Mako.

[2016-04-06 21:07] autrilla commented on #10441
I opted for .part at #10442

[2016-04-06 21:08] #10421 closed

[2016-04-06 21:16] SimonSapin commented on #10104
Ok, good. My point remains that I’d prefer to have one arm for every property in this `match`, even if most of them call implementations on the `HasViewportPercentage` trait that always return `false`.

[2016-04-06 21:16] notriddle commented on #10431
I'd like to take this one.

[2016-04-06 22:10] rebstar6 commented on #10311
Alright cool. Also, where does fetch come into play (and what is it, exactly?)?

The next thing I was going to try was to set the referer header within modify_request_headers based on the policy and urls. However, unsure if this should actually go into the fetch code instead (or both if theyre separate things)?

[2016-04-06 22:29] #10403 closed

[2016-04-06 23:07] jdm opened #10446 "Disallow uses of `unwrap` in constellation.rs, compositor.rs, and pipeline.rs"
Three options:
* shell script that greps for `unwrap` in those files and runs on travis
* rustc lint that disallows calling any method named `unwrap` in files marked `#[disallow(unwrap)]`
* a warning from highfive if any line in those files contains `unwrap`

[2016-04-06 23:08] #10397 closed

[2016-04-06 23:18] matthiaskrgr commented on #10446
````- sh -c "! grep "\.unwrap(" components/compositing/compositor.rs components/compositing/pipeline.rs components/compositing/constellation.rs" ````
could be directly written into travis.yml as a job.

If that is sufficient, feel free to assign to me.

[2016-04-06 23:21] matthiaskrgr commented on #10446
Or do you really want ".*unwrap.*"?
There is also .unwrap_or_else([...]), I was not sure if that should match or not.

[2016-04-06 23:23] jdm commented on #10311
The code in `components/net/fetch/` implements [the Fetch specification](https://fetch.spec.whatwg.org/) and is designed to replace the ad-hoc network implementation that currently exists in stuff like `http_loader.rs`. It's only used in unit tests so far; we're going to switch over to using it after it's more complete. So yes, doing it in both would be most correct (and you'll need to add similar

[2016-04-06 23:26] jdm commented on #10446
Unwrap_or_else is fine, since it doesn't actually panic like unwrap does. And yes, I would be ok with using shell scripts for this, but we should make a separate script in `etc/ci/` and invoke that from .travis.yml as well as places like https://github.com/servo/saltfs/blob/45a0596d2e7470187121b529d49796fd2668e850/buildbot/master/master.cfg#L112 .

[2016-04-06 23:27] notriddle commented on #10446
Could we add it to tidy?

[2016-04-07 00:19] pcwalton commented on #10434
Duplicate of #2742.

This will likely require a lot of work.

[2016-04-07 00:56] pcwalton opened #10449 "Block formatting contexts should never collapse margins"
Here is a test case:

[code]

cc @paulrouget

[2016-04-07 02:11] matthiaskrgr opened #10451 "webrender: hangs completely"
Starting servo 0b951f65b969ccc3445079a70686cf2146e365d7  with -w hangs completely while page is built up. The servo window is not even refreshed as it is still the case for these "website not completely rendered" bugs.

example page:
[code]

"Debugging" with -p, the "Painting Per Tile" and "Painting" steps are missing, in case that is related somehow.

[2016-04-07 03:03] Wafflespeanut commented on #10446
Yep, this could be given to tidy (it already checks all the lines in Rust source files). It shouldn't add any painful overhead. @jdm Why don't we go for tidy here?

[2016-04-07 03:24] jdm commented on #10446
I guess it seemed so specifically targeted (three files) that it seemed like the wrong tool to reach for.

[2016-04-07 03:54] Wafflespeanut commented on #10446
Yes, but (with the bulk of unwraps we have everywhere) won't the count increase, as we clean the other files in the near future?

[2016-04-07 03:55] Wafflespeanut commented on #10446
Oh, never mind, we'll add it later :)

[2016-04-07 04:00] shinglyu opened #10452 "Realistic Page Load Time Test"
I had some discussion with @larsbergstrom about this, and here is my proposal. Feedbacks welcome!

----------------------
# Goal

Measuring Servo's page load performance on top websites (e.g. Alexa 500), and comparing them to other browser's performance.

# Existing Solutions
* Firefox Desktop
  * Talos - tp5 suite
  * PerfHerder (dashboard)

* Firefox OS
  * b2gperf (deprecated)
  * Raptor (dashb

[2016-04-07 04:29] paulrouget commented on #10434
@pcwalton: if it's not something we can realistically fix by June, please let me know, we can probably work around that.

[2016-04-07 07:56] dzbarsky opened #10454 "Intermittent failure of /_mozilla/mozilla/iframe_contentDocument.html"
Unexpected subtest result in /_mozilla/mozilla/iframe_contentDocument.html:
  │ FAIL [expected PASS] Iframe contentDocument test.
  │   → iframe.contentDocument.getElementById(...) is null
  │
  │ test_contentWindow@http://web-platform.test:8000/_mozilla/mozilla/iframe_contentDocument.html:11:19
  │ Test.prototype.step@http://web-platform.test:8000/resources/testharness.js:1381:20
  └ Test.prototy

[2016-04-07 08:29] autrilla commented on #10452
Is this something you plan on doing yourself, or are you looking for someone to work on this? If so, I'm interested :)

[2016-04-07 10:41] SimonSapin commented on #10338
@creativcoder These functions should return `Option<PathBuf>` rather than `Option<String>`. And to leave room for multiple profiles they should add a `servo/default` suffix rather than just `servo`. Looks good other than these details, thanks for pushing on this front!

[2016-04-07 12:45] paulrouget commented on #10027
The reason is that our JS code was going crazy and took almost of the CPU, delaying page layout. See https://github.com/browserhtml/browserhtml/issues/935

[2016-04-07 12:45] #10027 closed

[2016-04-07 16:02] aneeshusa commented on #10338
`xdg-rs` actually has profiles built in; just replace calls to `with_prefix` with `with_profile` and use `default` for the `profile` parameter.

[2016-04-07 16:04] autrilla commented on #10440
I'm working on this, by the way, so assign it if you want to

[2016-04-07 17:05] KiChjang opened #10456 "Remove warnings in HTMLLegendElement"
[code]

[2016-04-07 17:05] jdm opened #10457 "Intermittent timeout in /html/rendering/replaced-elements/svg-embedded-sizing/svg-in-iframe-percentage.html"
[code]

[2016-04-07 17:36] #2742 closed

[2016-04-07 17:37] larsbergstrom commented on #10452
I'd be very interested in seeing page load time as the most important piece of information but also capturing the raw output of the profiling data. @rzambre and I are working on some patches to make that easier to grab for automated systems, which we hope to land very soon.

The only other obvious piece of information that would be really helpful is the output of memory profiling, though I don't k

[2016-04-07 18:03] notriddle commented on #10431
[code]

[2016-04-07 18:04] jgraham commented on #10452
So, generally the idea of using something like tp5 and measuring the load times seems like a sensible first step. I would encourage you to build as little infrastructure as possible though; we already have solutions for monitoring performance data and I suspect that anything you invent now will be about the same amount of effort to get working as reporting to perfherder, but will be more of a main

[2016-04-07 18:16] autrilla opened #10459 "WebGL uniform functions do not check the target type"
The currently implemented `Uniformxy` functions just pass the `WebGLCommand` to write to the uniform variable without checking it's of the appropriate type before. For instance, you could now have:

`uniform float myUniform;`

And call:

`gl.uniform2i(gl.getUniformLocation("myUniform"), 2, 5]);`

on it, which would cause a panic because of an error on the backend (the uniform variable is actually

[2016-04-07 18:41] KiChjang opened #10460 "Use DOMManipulationTaskSource in Workers"
#9688 encountered the issue where we are still using `global.script_chan()` to deliver error message, but as outlined in the [spec](https://html.spec.whatwg.org/multipage/workers.html#runtime-script-errors-2), Workers should really be using a DOM manipulation task source instead.

[2016-04-07 18:42] wlach commented on #10452
Yeah, I'd really encourage you to consider using Perfherder, which not only solves the problem of storing and visualizing performance data but also *acting* on it. I've spent the last few quarters working on a performance sheriffing view, which we've been using for tracking regressions in Talos and other things:

https://treeherder.mozilla.org/perf.html#/alerts?status=-1&framework=1

Perfherder au

[2016-04-07 19:08] amarant commented on #10456
I can take it.

[2016-04-07 19:11] KiChjang commented on #10456
Sure thing!

[2016-04-07 19:15] KiChjang commented on #9433
See #9433 for an unfinished attempt.

[2016-04-07 19:35] pcwalton commented on #9844
Here's something interesting I found (feel free to confirm, @paulrouget): The CPU usage between rAF and non-rAF seems nearly-identical (about 21%) for me if the window is in the background. But if the window is in the foreground, then the CPU usage of rAF jumps up.

[2016-04-07 20:08] paulrouget commented on #9844
I can't reproduce. Do you use the test from the first comment? Is anything being drawn in your loop?

[2016-04-07 20:09] kaksmet opened #10464 "img inside float does not respect width"
Affects: dn.se (swedish news site)

Test case:

[code]

Firefox:
![firefox](https://cloud.githubusercontent.com/assets/1777894/14365262/03abeb6e-fd0d-11e5-9c40-739bbd3ee47f.png)

Servo:
![servo](https://cloud.githubusercontent.com/assets/1777894/14365265/07dbc92a-fd0d-11e5-9a82-764fedf3db3a.png)

[2016-04-07 20:10] ConnorGBrewster commented on #7457
I am working on this one

[2016-04-07 20:13] pcwalton commented on #9844
Yes, I'm using the test from the first comment. By not being able to repro, do you mean that the rAF usage is always high and the setTimeout is low, or that both are low?

[2016-04-07 20:17] paulrouget commented on #9844
I'm using the test from the first comment. With rAF, I get ~20% with window in the background and foreground. With setTimeout instead, I get around ~5% with window in the background and foreground.

[2016-04-07 20:27] pcwalton commented on #9844
Interesting. I get 20% for both rAF and setTimeout with the window in the background.

[2016-04-07 20:36] paulrouget commented on #9844
This is the code I use for `setTimeout`:

[code]

[2016-04-07 21:40] edunham commented on #10452
I'm +1 on using perfherder, since you'll almost certainly get better support and performance with a tool that people focus on full time than a one-off competing with many other projects for my, Jack's, and Lars's time. @wlach, does perfherder expose a public API of the data it collects, as well as the built-in metrics visualization?

[2016-04-07 21:50] pcwalton commented on #9844
So this is at least part of it: When using setTimeout(), we get 53 FPS. When using rAF, we get 60 FPS. More FPS == more frames painted == more CPU.

[2016-04-07 21:52] pcwalton commented on #9844
BTW, some of the difference between Gecko is probably that we do invalidation in Gecko but don't in Servo. I'd like to hold off on implementing invalidation just for this though…

[2016-04-07 21:57] edunham commented on #6257
related to https://github.com/servo/saltfs/issues/202

metrics solution chosen by discussion in https://github.com/servo/servo/issues/10452 might also be applicable

[2016-04-07 21:58] jdm commented on #7457
@ConnorGBrewster This is something I would want to have significant upfront planning for before having someone implement it. I started a branch earlier this week for experimenting and discovered that the specification is significantly more intricate than I anticipated, making the implementation much more complex than I originally expected.

The biggest issue is that the queued messages need to be

[2016-04-07 22:08] paulrouget commented on #8075
Doesn't happen anymore.

[2016-04-07 22:08] #8075 closed

[2016-04-07 22:09] #10256 closed

[2016-04-07 22:10] edunham commented on #8878
@Manishearth any update on this? Looks like it's still in the Travis matrix, but only took 37.54s on the latest build (https://travis-ci.org/servo/servo/jobs/121502799#L1430)

[2016-04-07 22:32] pcwalton commented on #9844
@paulrouget Can you try this patch? It reduces the amount of CompositorProxy traffic and wakeups and seems to improve things for me. https://gist.github.com/pcwalton/b8e36e05101fe049d610d55943664eef

[2016-04-07 22:34] jdm commented on #8878
It doesn't sound like it's slow anymore, so I'm inclined to leave it as is :) It's saved us numerous times by running as part of the TravisCI checks.

[2016-04-07 22:46] asajeffrey opened #10467 "Add a web driver test for resizing a web page"

[2016-04-07 22:48] sindikat opened #10468 "Build on NixOS"
I am trying to build Servo on NixOS, with Nix version 1.11.2. I installed the following packages — `bzip2, cmake, freeglut, freetype, glib, gperf, mesa, which, xorg.libX11, xorg.libXcursor, xorg.xrandr` — although these might not be all dependencies. Anyway,

[code]

I have no idea, how to continue from that.

[2016-04-07 22:50] #8684 closed

[2016-04-07 22:50] #8783 closed

[2016-04-07 23:00] edunham commented on #8878
@Ms2ger do you think this issue is currently resolved?

[2016-04-07 23:22] frewsxcv commented on #8684
Thanks @KiChjang! 🎊

[2016-04-07 23:37] jdm commented on #10468
Cc @eddyb

[2016-04-07 23:42] ConnorGBrewster commented on #7457
@jdm ok that make sense. I currently just have skeletons setup for the `MessageChannel` and `MessagePort` DOM structs with the WebIDL bindings. I haven't done any actual implementation yet, I will hold off on that until a plan is created.

[2016-04-08 00:31] #4427 closed

[2016-04-08 00:52] asajeffrey commented on #10446
I would be very happy to see this, for stopping regressions to #10124 and friends.

[2016-04-08 00:53] asajeffrey commented on #10124
#10446 puts a test in to travis to ensure against regressions.

[2016-04-08 01:19] nnethercote commented on #10452
Memory usage on page load would be reasonably useful. Tracking that would be a lot better than tracking nothing.

[2016-04-08 03:29] eddyb commented on #10468
@sindikat did you install those packages to your user/system profiles, instead of using a `default.nix` file?
Because it won't really work. Here's the `default.nix` I have in my servo checkout:

[code]

You can either run commands through `nix-shell`, e.g. `nix-shell --run './mach build -d'` or just enter `nix-shell` and work from in there.

There is a bundled virtualenv which breaks, so what I di

[2016-04-08 03:59] #10422 closed

[2016-04-08 04:18] jdm opened #10472 "Fix warnings about deprecated functions in thread.rs"
[code]
This should be a simple matter of using the non-deprecated, renamed functions instead.

[2016-04-08 04:26] jdm commented on #9286
Test passes now.

[2016-04-08 04:26] #9286 closed

[2016-04-08 04:26] jdm commented on #9991
This is available for anyone to work on.

[2016-04-08 04:28] ConnorGBrewster commented on #9991
I would like to work on this one.

[2016-04-08 04:29] jdm commented on #9707
It's not clear to me that this is a good E-easy issue due to the open questions around how to implement prescanning, so I'm removing the label.

[2016-04-08 04:35] jdm commented on #9991
Go ahead!

[2016-04-08 04:36] jdm commented on #1395
I can't reproduce this.

[2016-04-08 04:36] #1395 closed

[2016-04-08 06:14] wafflespeanut opened #10473 "Intermittent failure in /_mozilla/css/incremental_trailing_whitespace_a.html"
▶ FAIL [expected PASS] /_mozilla/css/incremental_trailing_whitespace_a.html
  └   → /_mozilla/css/incremental_trailing_whitespace_a.html da54041086f2975f8e3c776d2283ad6609e6862a
/_mozilla/css/incremental_trailing_whitespace_ref.html f5d0147c8bddbdc772a7e5e86c7c9e433fcd486b
Testing da54041086f2975f8e3c776d2283ad6609e6862a == f5d0147c8bddbdc772a7e5e86c7c9e433fcd486b

[2016-04-08 06:21] Wafflespeanut commented on #10473
My internet's too slow. Can someone copy-paste the [log](http://build.servo.org/builders/linux-rel/builds/181/steps/shell_1/logs/test-wpt.log) into the [reftest analyzer](http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml) and capture a screenshot?

[2016-04-08 07:01] #10456 closed

[2016-04-08 07:17] shinglyu commented on #10452
Let me summarize the above discussion:

* Use tp5 as a start point
* Use a dead simple python script as test harness
* Use Perfherder for data collection and reporting
* Additional metrics we can collect:
  * memory usage: something like [AreWeSlimYet](https://areweslimyet.com)?
  * profiling
---------

The technique used in AreWeSlimYet seems daunting to me, I'd appreciate if anyone can point me

[2016-04-08 07:51] paulrouget commented on #9844
With this patch, rAF is called once and then is never called again.

[2016-04-08 08:02] Shiroy opened #10474 "Fix str_to_string test"
Since the commit [efa84862af9ba2659120fa16687c8d3b294a88e2](https://github.com/servo/servo/commit/efa84862af9ba2659120fa16687c8d3b294a88e2), the test `tests/compiletest/plugin/compile-fail/str_to_string.rs` fails which prevent Travis from running successfully.

[2016-04-08 08:11] Ms2ger commented on #8878
Sure

[2016-04-08 08:11] #8878 closed

[2016-04-08 08:30] matthiaskrgr commented on #10451
Looks like this was resolved by the recent webrender update

[2016-04-08 08:30] #10451 closed

[2016-04-08 08:33] matthiaskrgr opened #10475 "crash hovering image"
When I hover the image of servo.org (march run -r -w) servo crashes:

[code]

Same for links though the stacktrace is different/longer then.

[2016-04-08 09:12] shinglyu commented on #10452
I started some experiment in this repo: https://github.com/shinglyu/servo-perf

[2016-04-08 09:23] Ms2ger commented on #10474
@Manishearth @KiChjang

[2016-04-08 11:10] canaltinova commented on #10472
I would like to take this.

[2016-04-08 11:13] KiChjang commented on #10472
Hold on a second, isn't #10466 already doing this?

[2016-04-08 11:14] KiChjang commented on #10472
@canaltinova Sorry, but there's already an open PR for this issue.

[2016-04-08 11:21] canaltinova commented on #10472
@KiChjang  Oh, ok. I didn't see it before, sorry.

[2016-04-08 11:23] KiChjang commented on #10472
@canaltinova Not your fault, it's totally us (*cough* jdm *cough*) for filing issues that already have an open PR.

[2016-04-08 11:33] KiChjang opened #10477 "Store a Box<Iterator> instead of Box<CollectionFilter> in HTMLCollection"
Currently, the code in `HTMLCollection` assumes that we have a function that takes in an element and the root node and returns a boolean to filter out child nodes of the root. This is not sufficient and does not cover all use cases (as seen in #10086, it does not allow any manipulation of the ordering of the iterator items). Instead, what we should do is store a `Box<Iterator>` and use that as a s

[2016-04-08 11:45] #10474 closed

[2016-04-08 12:35] jdm commented on #10472
Sorry!

[2016-04-08 12:35] #10472 closed

[2016-04-08 12:44] autrilla opened #10478 "Correctly validate WebGL linkProgram and following commands"
I was writing a new test for WebGL uniform handling and I stumbled upon this issue. It can be reproduced running `tests/wpt/web-platform-tests/webgl/uniformMatrixNfv.html`. Running it on Chromium displays an error, `WebGL: INVALID_OPERATION: getUniformLocation: program not linked`, so my guess is tests should link their shaders by themselves, but hey don't. The thread probably should not panic any

[2016-04-08 12:54] emilio commented on #10478
Yeah, this means an INVALID_OPERATION error ocurred in the back-end.

Servo crashes this way until we implement all the tests necessary to detect errors before reaching the back-end, to prevent difficult-to-debug behavior.

In fact, if you use RUST_LOG=debug, you'll see the exact webgl call that triggered the error. This one is easy to fix I expect, but it's not problematic per se.

[2016-04-08 13:14] emilio commented on #10473
Seems like the border isn't rendered, probably an incremental layout bug.

![incremental-trailing-whitespace](https://cloud.githubusercontent.com/assets/1323194/14384671/8f9389c2-fd9c-11e5-9eac-ae6af54a5a6a.png)

cc @mbrubeck

[2016-04-08 13:24] danlrobertson opened #10479 "`layout.writing-mode` not enabled for css-flexbox wpt tests"
Currently in `tests/wpt/metadata-css/css-flexbox-1_dev/__dir__.ini`, `writing-mode` is not enabled. When enabled the following fails

[code]

[2016-04-08 13:25] danlrobertson commented on #10479
I'm currently investigating/working on this

[2016-04-08 14:03] wlach commented on #10452
@edunham: Perfherder has a bunch of endpoints for getting series data (the UI uses these):

https://treeherder.mozilla.org/docs/#!/project/Performance_Datum_list
https://treeherder.mozilla.org/docs/#!/project/Performance_Signature_list

And also one to get a list of "alerts" (detected changes) programatically:

https://treeherder.mozilla.org/docs/#!/performance/Performance_Alert_Summary_list

Feel

[2016-04-08 14:07] asajeffrey opened #10480 "Intermitent crash of /css21_dev/html4/c5505-mrgn-000.htm"
[code]

[2016-04-08 14:08] asajeffrey opened #10481 "Intermittent crash of /css-backgrounds-3_dev/html4/background-016.htm"
[code]

[2016-04-08 17:55] mbrubeck commented on #10473
:(  I was afraid of this.  See https://github.com/servo/servo/pull/10246#issue-144074395 for details.  We should probably disable this until #10245 is implemented, and see if that can make it more reliable.

[2016-04-08 18:19] asajeffrey commented on #10481
Some IRC chat about this between myself (ajeffrey) and @danlrobertson (dlr): http://logs.glob.uno/?c=mozilla%23servo#c402478 including a theory http://logs.glob.uno/?c=mozilla%23servo#c402621:

* `Pipeline::exit` is asynchronous: there is no ack channel,
* so `Constellation::handle_exit` doen't wait for the pipelines to finish closing down before sending a `ShutdownComplete` message to the composi

[2016-04-08 18:22] asajeffrey commented on #10481
Choices for what to do about it:

a) `Pipeline::exit` without ack (makes profiling lossy)
b) `Pipeline::exit` with ack (may cause shutdown to deadlock waiting for an ack)
c) `Pipeline::exit` with ack but timeout (yet another source of nondeterminism)

None of these fill me with glee.

[2016-04-08 19:27] asajeffrey commented on #10481
Suggestion due to @metajack: normal execution is async, but we add in a sync option for the cases where we care about accurate profiling information during shutdown.

[2016-04-08 19:44] asajeffrey opened #10483 "Replace use of debug! by warn! in constellation"
The uses of `debug!` are gone in release builds, they should be replaced by `warn!`.

[2016-04-08 19:46] #10446 closed

[2016-04-08 20:12] jdm commented on #10483
Code: `components/compositing/constellation.rs`

[2016-04-08 21:17] timvandermeij commented on #10483
I can work on this one.

[2016-04-08 21:30] jdm commented on #10483
Go for it :)

[2016-04-08 21:40] pcwalton opened #10487 "Button text isn't centered vertically"
This is because Servo treats `<button>` as a regular old inline-block, while Gecko, Blink, and WebKit don't. They have some sort of special handling for `<button>` height. I couldn't find this anywhere in the HTML5 spec.

This breaks ups.com.

[code]

[2016-04-08 21:41] pcwalton commented on #10487
I've been pointed to this magic: http://lxr.mozilla.org/mozilla-central/source/layout/forms/nsHTMLButtonControlFrame.cpp#373

[2016-04-08 22:25] KiChjang opened #10491 "Reflect HTMLInputElement content attributes"
There is a slew of IDL attributes on HTMLInputElement which simply requires a setter and getter defined on them.

Spec: https://html.spec.whatwg.org/multipage/forms.html#dom-input-accept
Code: `components/script/dom/htmlinputelement.rs`, `components/script/webidls/HTMLInputElement.webidl`

[2016-04-08 23:00] amarant commented on #10491
I volunteer to take it.

[2016-04-08 23:05] #10286 closed

[2016-04-08 23:16] pcwalton opened #10492 "Whitespace with "font-size: 0" takes up space, breaking Twitter"
Test case:

    <!DOCTYPE html>
    <div style="width: 600px; font-size: 0;">
        <div style="display: inline-block; width: 200px; background: blue; height: 50px;"></div>
        <div style="display: inline-block; width: 400px; background: green; height: 50px;"></div>
    </div>

[2016-04-08 23:31] KiChjang commented on #10491
Of course!

[2016-04-09 02:23] sindikat commented on #10468
Installing `cargo` into system profile allowed to make a progress, but the build still failed.

I tried to use `nix-shell` with your `default.nix` and changed the line in `.../virtualenv.py`. But now `tenacious` doesn't compile, and I don't know how to proceed:

    unused manifest key: package.publish
       Compiling tenacious v0.1.2
       Compiling harfbuzz-sys v0.1.2
       Compiling openssl-

[2016-04-09 04:45] eddyb commented on #10468
@sindikat ahh, I forgot, you have to let it download `cargo` and `rustc` and then `patchelf` it. I haven't automated it beyond this:
[code]

[2016-04-09 11:06] #8391 closed

[2016-04-09 11:47] #8084 closed

[2016-04-09 11:56] Ms2ger commented on #10487
We should probably get something into the spec. @zcorpan?

[2016-04-09 14:12] shinglyu commented on #10181
@danlrobertson Thanks for the information. Can you elaborate on why reversing the vector is not correct? Any particular case that will violate the spec?

I was thinking about reversing the direction of offset calculation. (I haven't read the code yet. Just some intuition.) Something like
[code]
to
[code]
Does that make sense at all?

[2016-04-09 15:19] danlrobertson commented on #10181
@shinglyu: no problem. The section in the spec on [`flex-direction`](https://drafts.csswg.org/css-flexbox/#propdef-flex-direction) states the following for `row-reverse` and `column-reverse`

If you just reverse the order of the items to be placed the location of `main-start` doesn't change, so you're items are still aligned on the same side as if the `flex-direction` were not reversed. The orderi

[2016-04-09 15:35] kaksmet opened #10499 "text-align: justify is not incremental layout safe (whitespace changes size as cursor moves)"
Affects: articles on hltv.org (e.g. http://www.hltv.org/news/17505-bodyy-replaces-ex6tenz-in-g2)

Description: When the cursor is moved vertically text whitespace changes size. Moving it horizontally does not seem to trigger this behaviour.

This is on OS X with webrender enabled.

![bug](https://cloud.githubusercontent.com/assets/1777894/14404514/9150b64a-fe78-11e5-8e5c-a9bb18c7bf32.gif)

[2016-04-09 15:35] larsbergstrom commented on #10316
I'm seeing `transition`s work in a simple example like the one below, but it happens instantaneously, rather than smoothly over the provided time.

@SimonSapin should this be supported?

[code]

[2016-04-09 16:13] pcwalton commented on #10487
I suspect (but haven't confirmed) that this affects YouTube as well.

[2016-04-09 16:20] frewsxcv commented on #9269
This is now available since https://github.com/servo/servo/issues/8084 is done.

[2016-04-09 17:00] frewsxcv commented on #10499
Probably a duplicate of https://github.com/servo/servo/issues/6203

[2016-04-09 17:13] rebstar6 commented on #10311
@SimonSapin - I mentioned this in IRC but I don't think you were on then. At some point for this issue, I will need to strip the username/password, fragment, and in some cases path and query from a URL (see https://w3c.github.io/webappsec-referrer-policy/#strip-url). I was told that you wrote (and are working on) rust-url. Do you have any suggestions about the best way to approach this? Are there

[2016-04-09 17:20] Wafflespeanut commented on #7481
@jdm I guess it's time to take this to highfive?

[2016-04-09 17:33] KiChjang opened #10500 "Remove unused imports from methods.rs"
[code]
Code: `components/net/fetch/methods.rs`

[2016-04-09 17:44] kaksmet commented on #10499
Here is a reduced test case:

[code]

[2016-04-09 18:34] sindikat commented on #10468
Ok, I ran the script and also installed some other packages just in case, and now `nix-shell --run './mach build --dev'` barfs at installing `harfbuzz-sys`:

    make[1]: *** [/home/sindikat/progs/servo/.cargo/registry/src/github.com-88ac128001ac3a9a/harfbuzz-sys-0.1.2/harfbuzz/config.h.in] Error 127
    make: *** [all] Error 2
    thread '<main>' panicked at 'assertion failed: Command::new("make"

[2016-04-09 18:37] eddyb commented on #10468
@sindikat Maybe the `buildInputs` list is missing `stdenv`? It's hard to tell, you want to have all the deps in `default.nix` - I guess `nix-shell --pure` is a way to make sure.

[2016-04-09 18:57] canaltinova commented on #10500
I would like to take this.

[2016-04-09 19:10] KiChjang commented on #10500
Sure thing!

[2016-04-09 19:49] rebstar6 commented on #10311
@jdm - I've noticed that there are a bunch of requests on a page load where http_loader is capturing the referrer_policy/url. However, some are excluded (and tests fail as a result). For example, I added prints in http_loader for referrer_url and the url being loaded.  if I do ./mach run https://www.wikipedia.org/ I get some assets receiving the referrer, and some not. Right now, I have no policy

[2016-04-09 19:51] #10141 closed

[2016-04-09 20:03] jdm commented on #10311
The image loader code isn't providing a referrer because the current design of the image cache makes it impossible to do so correctly. We can ignore any failures to do with images, accordingly. The failure for the top-level Document is start_page_load, as you correctly intuited.

[2016-04-09 20:05] frewsxcv commented on #10499
[This *might* be the relevant section in `layout` causing the expansion](https://github.com/servo/servo/blob/0a1efe4578e43c4ffc2f90ff0118660899a83ac4/components/layout/inline.rs#L995-L998)

[2016-04-09 20:31] #10500 closed

[2016-04-09 21:29] canaltinova commented on #9433
Is someone working on this issue? If no, I would like to work on this.

[2016-04-09 21:36] jdm commented on #9433
Please do!

[2016-04-09 22:09] g-k commented on #9269
I can give this a shot.

[2016-04-09 22:15] jdm commented on #9749
I've published https://github.com/jdm/content-blocker/ on crates.io. Next steps:
* [ ] read a resource file on startup
* [ ] integrate the request blocking and cookie stripping actions into the network stack
* [ ] integrate the element hiding action into layout
* [ ] figure out where [Focus'](https://github.com/mozilla/focus) official lists come from

[2016-04-09 22:16] Shiroy commented on #10499
The issue #10207 may be related too.

[2016-04-09 22:20] jdm commented on #9269
Go for it!

[2016-04-10 00:18] #9433 closed

[2016-04-10 02:19] frewsxcv opened #10506 "Implement <table>.createTHead()"
https://html.spec.whatwg.org/multipage/tables.html#dom-table-createthead

[2016-04-10 02:19] frewsxcv commented on #10506
I'm currently working on this.

[2016-04-10 03:13] frewsxcv commented on #10506
Related:

* https://github.com/servo/servo/issues/9023
* https://github.com/servo/servo/issues/9769

[2016-04-10 04:08] slayerjain commented on #10477
can i try this?

[2016-04-10 05:05] izgzhen commented on #10428
Looks like we only have three readonly attributes `unloadEventStart`, `loadEventStart` and `loadEventEnd` left unimplemented. Is there already someone working on it? If not, I am interested in helping this out :)

[2016-04-10 07:05] Wafflespeanut commented on #10441
fixed by #10442

[2016-04-10 07:05] #10441 closed

[2016-04-10 07:22] Wafflespeanut commented on #10374
@nehagup Any updates on this?

[2016-04-10 08:14] flying-sheep commented on #7379
I also think ES2015 modules are the way to go.

They're standardized, and more powerful than node's `require` (due to the default imports)

I think tge cleanes approach would be: Make the main entry point a module, and allow to `import require from 'require'` to allow usage of node modules.

Don't put any additional (non-spec) stuff into `global`, but define some possible `import`s

[2016-04-10 08:20] paulrouget commented on #7379
Apparently the mozilla platform team is working on a very similar project called Positron (Gecko and SpiderMonkey): https://github.com/mozilla/positron

[2016-04-10 08:34] Shiroy commented on #10104
This is the new match I get :
[code]

@SimonSapin if I understand your point, you want the compiler to generate an error if a new property does not implement the trait to make sure that the developer have taken this trait into account when he implemented the property ?

[2016-04-10 13:19] jdm commented on #10428
Nobody's working on it, and I think #10452 is counting on using them, so this would be really useful :)

[2016-04-10 13:22] jdm commented on #9490
For implementing the serialization of the document, we should be able to use the existing HTML serialization code. See serialize in components/script/dom/element.rs for an example!

[2016-04-10 13:22] jdm commented on #9963
Closing in favour of #9490.

[2016-04-10 13:22] #9963 closed

[2016-04-10 13:25] jdm commented on #2579
We've discovered that we have the opposite problem now (hence the constellation hardening), so I think we can close this.

[2016-04-10 13:25] #2579 closed

[2016-04-10 13:27] jdm commented on #8157
Fixed by #6677.

[2016-04-10 13:27] #8157 closed

[2016-04-10 13:45] izgzhen commented on #10428
@jdm Great. I believe investigation on this can help me to understand the lifecycle better.

[2016-04-10 14:33] frewsxcv opened #10509 "Implement <tr>.rowIndex and <tr>.sectionRowIndex"
https://html.spec.whatwg.org/multipage/tables.html#dom-tr-rowindex

https://html.spec.whatwg.org/multipage/tables.html#dom-tr-sectionrowindex

[2016-04-10 14:34] frewsxcv commented on #10509
I'm currently working on these.

[2016-04-10 16:04] Croydon commented on #7379
I have read in someones dev blog, that it might be a good idea to make Gecko embeddable now because Servo is still taking too much time to get to a productive version.
From a outside point of view I think it is a waste of time to try this with Gecko. Resources should be concentrated on Servo, since it is obviously the future. And I don't really see how a embedded Gecko should be able to compete wi

[2016-04-10 18:28] Ms2ger opened #10511 "Review if GlobalRef::get_url is ever the right thing to call"
We should check all the callers and cross-reference with the relevant specs to see if they're correct.

[2016-04-10 18:39] KiChjang commented on #10511
That was what I was wondering, since [the spec](https://html.spec.whatwg.org/multipage/webappapis.html#environment-settings-object) never seems to mention a plain URL object that can be obtained.

[2016-04-10 19:50] frewsxcv commented on #10506
This will get fixed whenever https://github.com/servo/servo/pull/9980 merges.

[2016-04-11 02:46] shinglyu commented on #10452
@wlach Thank you for your information, but I still don't understand how Perfherder works.

* So is Perherder just a frontend, and it queries data from Perfherder?
* The performance data is actually a bunch of build artifacts from a series of treeherder jobs, we just get them all using the treeherder API? Not aggregated to some database?
* I don't have any experience in creating treeherder jobs, is

[2016-04-11 02:50] shinglyu commented on #10452
Oh I found this: https://treeherder.readthedocs.org/submitting_data.html
Can I use this?

[2016-04-11 04:22] KiChjang commented on #9551
@jfhumann Is this still being worked on?

[2016-04-11 04:53] jfhumann commented on #9551
Yup it is :)

[2016-04-11 07:43] Ms2ger opened #10515 "Check if the root is an `html` element for CSSOM's "The HTML body element""
Code is currently in `HTMLBodyElement::is_the_html_body_element`.

[2016-04-11 08:13] zcorpan commented on #10487
There's https://www.w3.org/Bugs/Public/show_bug.cgi?id=23893 but please file a new issue on html. Looking quickly at the Gecko code it seems like there's quite a bit of magic going on...

[2016-04-11 08:28] nox commented on #10418
This should probably wait for SMUP, no?

[2016-04-11 09:26] shinglyu commented on #10181
I see. I'll start doing some experiment on it. I'm not familiar with this part of Servo, so it might take some time. Hope it won't block any other critical stuff.

[2016-04-11 09:42] Ms2ger commented on #10487
https://github.com/whatwg/html/issues/1024

[2016-04-11 11:06] mmatyas opened #10517 "Android build fails with LLVM error"
The Android build fails with the following error:

[code]

I've tried on multiple systems, on Ubuntu 15.10 and 14.04, using Android NDK r10d. Here's a Travis log: https://travis-ci.org/mmatyas/servo-nightly/jobs/122117906

[2016-04-11 12:13] eddyb commented on #10517
Error comes [from an ARM-specific pass](https://github.com/llvm-mirror/llvm/blob/942c2d35cfac5ee48baf6d55357e628ee9ba515f/lib/Target/ARM/ARMConstantIslandPass.cpp#L474) which [can have its threshold increased](https://github.com/llvm-mirror/llvm/blob/942c2d35cfac5ee48baf6d55357e628ee9ba515f/lib/Target/ARM/ARMConstantIslandPass.cpp#L56-L58), presumably by setting:
[code]

However, comments indicate

[2016-04-11 12:17] jdm commented on #10418
Of course. I was filing it to keep track of it.

[2016-04-11 13:08] frewsxcv opened #10520 "HTMLElement::Offset{Parent,Left,Right} should call HTMLBodyElement::is_the_html_body_element"
Blocked on https://github.com/servo/servo/pull/10513

https://drafts.csswg.org/cssom-view/#dom-htmlelement-offsetparent

https://drafts.csswg.org/cssom-view/#dom-htmlelement-offsettop

https://drafts.csswg.org/cssom-view/#dom-htmlelement-offsetleft

[Relevant code](https://github.com/servo/servo/blob/5adf36231e739f57dc7d1d85b37fb2a47b8f5d74/components/script/dom/htmlelement.rs#L236-L273)

[2016-04-11 13:12] frewsxcv opened #10521 "HTMLElement::GetOffsetParent should correctly check if root element"
[Spec link](https://drafts.csswg.org/cssom-view/#dom-htmlelement-offsetparent)

[Relevant code](https://github.com/servo/servo/blob/5adf36231e739f57dc7d1d85b37fb2a47b8f5d74/components/script/dom/htmlelement.rs#L238)

Currently, we just check if the `HTMLElement` being called on is an `HTMLHtmlElement`. This is insufficient as an `<html>` can (incorrectly) appear anywhere in the tree and is not nec

[2016-04-11 13:16] frewsxcv commented on #10520
Ideally there'd be a regression test for this, but I don't know how difficult that would be to write.

[2016-04-11 13:16] frewsxcv commented on #10521
Ideally there'd be a regression test for this, but I don't know how difficult that would be to write.

[2016-04-11 13:47] jdm commented on #9749
Focus' list comes from a transformation of the Tracking Protections lists that Firefox uses. There's a [script](https://github.com/mozilla/focus/blob/master/build-disconnect.py) that turns [them](https://github.com/mozilla/focus/tree/master/shavar-prod-lists) into the JSON files that Safari expects.

[2016-04-11 14:14] jaysonsantos commented on #10437
immeta 0.3.2 is published with new version

[2016-04-11 14:21] mmatyas commented on #10517
Running `RUSTFLAGS="-C llvm-args=-arm-constant-island-max-iteration=100" ./mach build -r --android` results in

[code]

and adding `--emit=llvm-ir` to the failing `rustc` command in the first post results in

[code]

[2016-04-11 14:22] wlach commented on #10452
@shinglyu I think you figured this out for yourself, but yes, that's the guide to use for submitting data.
It doesn't cover performance data specifically (at least not yet), but there is some good prior art in autophone that you can hopefully use as a reference:

https://github.com/mozilla/autophone/blob/master/autophonetreeherder.py

Since this is the first time we'll be submitting Servo data to

[2016-04-11 14:26] eddyb commented on #10517
Oh, I didn't check the LLVM branch Rust uses, which [hardcodes that limit](https://github.com/rust-lang/llvm/blob/25c7dc370359433ca02f29919dfa36f94432155e/lib/Target/ARM/ARMConstantIslandPass.cpp#L460) (so the option was added since the last Rust LLVM update).

[2016-04-11 14:33] eddyb commented on #10517
Looks like https://llvm.org/bugs/show_bug.cgi?id=25339 which has been fixed late February and Rust needs a LLVM update to get the fix. cc @alexcrichton

[2016-04-11 16:14] SimonSapin commented on #10311
@rebstar6 Yes I’m the main author and maintainer of rust-url. You can find the API documentation for the `Url` struct in the version of rust-url used by Servo at https://servo.github.io/rust-url/url/struct.Url.html

As you can see there, each component is stored separately. You can reset them with code like:

[code]

I also have PR #9840 that updates Servo to a version of rust-url where the `Url`

[2016-04-11 16:17] aneeshusa commented on #2959
@jdm took care of this a long time ago with https://github.com/servo/saltfs/pull/2.

[2016-04-11 16:17] #2959 closed

[2016-04-11 16:38] alexcrichton commented on #10517
Ah yeah it should be fine to backport the fix to our LLVM branch (currently [2016-03-13](https://github.com/rust-lang/llvm/tree/rust-llvm-2016-03-13)) at the time of this writing.

[2016-04-11 16:44] ConnorGBrewster commented on #9991
Implemented in #10485

[2016-04-11 17:16] SimonSapin commented on #10104
@Shiroy Yes, exactly. It should be an explicit choice for every property rather than an implicit default.

Additionally, I’d really rather not add more data to the Mako template if at all possible. The whole thing is a hack that has survived too long. (Generating more code with a Mako `% for` loop based on existing data is fine.)

To reduce the verbosity of many `impl`s that always return `false`,

[2016-04-11 17:22] jdm opened #10525 "Fetch CORS cache match for credentials is incorrect"
As far as I can tell, the implementation of the [cache match](https://fetch.spec.whatwg.org/#concept-cache-match) concept is [here](https://github.com/servo/servo/blob/3b7e426d33e539303f46a0a153752683838186fc/components/net/fetch/cors_cache.rs#L112). This doesn't handle the "either credentials is false and request's credentials mode is not "include" or credentials is true" text properly.

[2016-04-11 17:42] mykmelez commented on #7379
The benefit of implementing *require* by default is that it makes porting from Electron to the new thing easier. I appreciate the considerations you've raised: standardization, power, and cleanliness; but they don't trump interoperability.

Indeed, and I'm one of its contributors, as well as a subscriber to this issue, so I can answer questions about technical choices of that project that would he

[2016-04-11 18:12] jaysonsantos commented on #10437
Image already merged on https://github.com/PistonDevelopers/image/pull/525 I just asked if they have an ETA

[2016-04-11 18:34] pcwalton opened #10526 "position: absolute and overflow: hidden don't respect fixed positioning"
In this document, "Home" should be fixed position, but isn't in Servo.

    <!DOCTYPE html>
    <body style="height: 2000px; background: linear-gradient(to bottom, white, black)">
    <div style="position: fixed; top: 0; right: 0; left: 0;">
        <div style="position: absolute; left: 0; right: 0; height: 40px; overflow: hidden;">Home</div>
    </div>

This breaks YouTube and the Washington Post

[2016-04-11 18:39] pcwalton commented on #10526
This only breaks in WebRender, oddly.

[2016-04-11 18:59] jaysonsantos commented on #10437
wayland-window 0.2.3is also published with new byteorder

[2016-04-11 19:04] pcwalton commented on #10526
I have a fix for this.

[2016-04-11 19:46] #9991 closed

[2016-04-11 20:11] larsbergstrom commented on #9921
Related: https://github.com/servo/servo/issues/9918

[2016-04-11 20:12] perlun commented on #10477
@KiChjang, looked at this very briefly, but it seems like we must specify the associated type as well. What should be the type in that case?

[code]

[2016-04-11 20:16] KiChjang commented on #10477
@perlun For now, I think it makes sense to have `Iterator<Item = Root<Node>>`.

[2016-04-11 20:59] pcwalton opened #10530 "Should have a way to programmatically scroll for reftests"
We have a bunch of tests that test scrolling behaviors and right now can only be tested manually (e.g. the one introduced in PR #10529). It would be great if we could turn these into reftests. For this, we'll want an API that scrolls the page, perhaps `window.scrollTo()`.

[2016-04-11 21:03] dlrobertson opened #10531 "Implement a "dirty" flag for `FlexFlow::items`"
A discussed in #10178 with @SimonSapin, after the PR lands, a "dirty" flag for `FlexFlow::items` should be implemented to identify when the `FlexFlow::items` vector should be recreated and sorted. This flag should be set when the `Position::order` value is changed or when a flex-item has been added or removed.

[2016-04-11 21:15] jdm commented on #10392
It's possible that the constellation hardening effort has yielded a Servo binary that doesn't always end up double-panicking at some point while dealing with the panic that this test consistently causes. One solution here would be to run the tests with `-Z replace-surrogates` to avoid the issue.

[2016-04-11 21:15] kaksmet opened #10532 "input's height is affected by parent's line-height"
Test case:

[code]

Firefox:
![firefox](https://cloud.githubusercontent.com/assets/1777894/14442512/6fb63d48-003a-11e6-907e-1ee5f1112ebc.png)

Servo:
![servo](https://cloud.githubusercontent.com/assets/1777894/14442510/6a70a40e-003a-11e6-83f8-d46a65e54fdc.png)

[2016-04-11 21:16] jdm commented on #10532
I guess we should set this in servo.css as well.

[2016-04-11 21:30] asajeffrey commented on #10334
OK, here's my first shot, but I don't think it's quite right (reasons below):

[code]

The reason why I don't think this is quite right is that it's firing the `Error` event on the iframe which just failed, so its script thread is not necessarily in any state to be bubbling events. Really the event should be sent to the parent, not the child, but currently AFAICT the script thread doesn't expose a

[2016-04-11 21:35] asajeffrey commented on #10334
(One thing holding this back is that we can't get at the error until #10345 lands).

[2016-04-11 21:43] kaksmet opened #10533 "Empty span does not show border"
Test case:
[code]

Firefox:
![firefox](https://cloud.githubusercontent.com/assets/1777894/14443362/060e03ee-003f-11e6-8bdc-597f4aa6c4af.png)

Servo:
![servo](https://cloud.githubusercontent.com/assets/1777894/14443357/ffba941c-003e-11e6-8622-56f14d74a9ed.png)

[2016-04-11 22:07] jdm commented on #10334
The subpage is used to identify the iframe element in the given pipeline, iirc.

[2016-04-11 22:09] jdm commented on #10334
Which is to say, the script thread which may not be in a good state for dispatching events is entirely different from the script thread that contains the iframe element, since the two are considered cross origin to each other.

[2016-04-11 22:10] asajeffrey commented on #10334
@jdm: yes, but `parent.trigger_mozbrowser_event(subpage_id, event)` triggers a mozbrowser event inside the script thread of the child, doesn't it? In this case, that's the script thread that's probably just crashed, so is very likely to drop the event on the floor rather than bubble it.

[2016-04-11 22:23] asajeffrey commented on #10334
Goes and reads implementation... ah, I see the event is actually processed by the script thread of the parent, not of the child. This is good!

Not so good is the nested case, since we want the event to reach the browser.html root iframe eventually. When the event reaches the document node of its containing iframe, does it keep bubbling?

[2016-04-11 22:27] #9957 closed

[2016-04-11 22:56] rebstar6 commented on #10311
@jdm a few more questions...

1. Everything in tests/wpt/web-platform-tests/referrer-policy/ seems to be testing img, iframe, script tags, xhr-requests (not, or fetch. I'm not seeing anything that tests the basic case (I'm on a page and click a link). Is this group of tests just geared towards these cases for some reason? Is there anything elsewhere I can use (she asks hopefully)?
2. I followed th

[2016-04-11 23:21] pcwalton commented on #9829
Suspected to be affecting Twitter login as well.

[2016-04-11 23:48] #10492 closed

[2016-04-12 00:28] #9958 closed

[2016-04-12 01:27] shinglyu commented on #10452
@wlach : Thanks a lot! I'll start step 1 and 2 and contact you when I'm ready for step 3. :)

[2016-04-12 01:51] frewsxcv opened #10536 "CRASH [expected TIMEOUT] /html/browsers/history/the-location-interface/assign_before_load.html"
[code]

[2016-04-12 04:05] KiChjang commented on #10491
This issue still isn't complete yet; #10505 added the necessary WebIDL bindings, but did not update `parse_plain_attribute`. There are also different behaviours and default values when setting/getting these attributes.

I'll investigate and work more on this.

[2016-04-12 05:46] izgzhen commented on #10428
I found that current `navigation_Start` is counted as second but it should be millisecond according to [spec](http://www.w3.org/TR/hr-time-2/#dom-domhighrestimestamp).

Also, the previous implementation looks rather imprecise (i.e. `time::get_time().sec * 1000;`). I will improve it as well.

[2016-04-12 05:48] #10526 closed

[2016-04-12 06:34] Manishearth commented on #10334
I was thinking we'd store a separate sender to the toplevel script task in the thread local state. This does break process isolation, however, so it has to be a different channel entirely that can only handle mozbrowserevents, which needs to be selected on. Perhaps this solution is better, though I'm not sure how process isolation is achieved here.

Do child iframes have access to the parent scrip

[2016-04-12 07:07] izgzhen commented on #10428
I bumped into an awkward problem here.

I need to set the timing property of `document` after the `load` event targeting the window is completed. I didn't find any convenient way to register a callback function for completion of listener (which is also a callback function, though). Now the only solution I can come up with is hard coding here https://doc.servo.org/src/script/dom/eventtarget.rs.html

[2016-04-12 07:11] jaysonsantos commented on #10437
rust-websocket 0.16.2 also published with new byteorder

[2016-04-12 07:33] Sendoushi commented on #10532
I never know how to start to contribute back... I guess it's my time!
This seems simple for me to solve! I'll try to do this today or tomorrow.

[2016-04-12 09:37] yoava333 commented on #10047
@lygstate @Ms2ger I had the same issue, it was caused because the I did the original checkout of servo from a windows prompt and the rest of the build on mingw shell.
I disabled the core.autocrlf on git and did another checkout and the build worked.
I think it's a good idea to add to the windows build guide to make sure to checkout with core.autocrlf disabled.

[2016-04-12 10:02] Ms2ger opened #10539 "Implement Blob URLs"
*This is not an easy bug.*

This will need integration with the URL parser.

[2016-04-12 11:20] Shiroy commented on #10104
If I understand well this code, `ComputedValueAsSpecified` acts as marker and because of the templated `impl`, the compiler will know that every type which implements this marker trait, will also implement the `ToComputedValue` trait using the `to_computed_value()` provided by the templated  `impl`

[2016-04-12 11:34] kaksmet commented on #10499
I think [this](https://github.com/servo/servo/blob/0a1efe4578e43c4ffc2f90ff0118660899a83ac4/components/layout/inline.rs#L1106-L1107) is the cause.
From what I can see the extra space between words is added on each layout, causing it to accumulate.

[2016-04-12 12:46] yoava333 commented on #10395
@jgraham I've encountered the same problem, when digging a bit deeper, I get the follow error message from openssl
[code]

Googling the problem lead me to this stackoverflow thread - http://stackoverflow.com/a/31990313

I've added another forward slash to https://github.com/servo/servo/blob/e273517fe06720afe0ef74815cce5e007df7dc3d/tests/wpt/web-platform-tests/tools/sslutils/openssl.py#L94

And thi

[2016-04-12 13:07] SimonSapin commented on #10104
That’s correct. And I’m suggesting to do something similar with a `NeverHasViewportPercentage` marker trait and `impl<T: HasViewportPercentage> HasViewportPercentage for T { fn has_viewport_percentage(&self) -> bool { false } }` instead of adding more python/Mako parameters in the template.

Long-term we’d like to replace the Mako template with a Rust syntax extension, so any logic that is not the

[2016-04-12 13:38] jdm commented on #10311
1) Unfortunately, since the test harness must be loaded in the top level document, any code that tests navigation must rely on an iframe so the tested document doesn't replace the test harness. That being said, it may be possible to test some cases by having the framed document call a method (eg. `parent.navigation_complete(document.referrer)`) instead of using `postMessage`, which we don't suppor

[2016-04-12 13:41] Ms2ger opened #10540 "Run tests with -Z replace-surrogates"
We know this happens in tests; the reason to panic by default is to see if it happens on real sites.

[2016-04-12 13:42] amarant commented on #10491
Ok, thanks for the help.

[2016-04-12 13:55] danlrobertson commented on #10479
After looking into this yesterday, I don't think this test should be passing. It is passing without `writing-mode` enabled because the expected result is the same as if writing mode were ignored. I think we'll need to implement [Flexbox Section 9.2.2.D](https://drafts.csswg.org/css-flexbox/#algo-main-item) for this to pass

[2016-04-12 13:57] zakorgy opened #10541 "Replace Fallible<()> return values with ErrorResult"
I found some Falible<()> return values in these files:
<pre>
script/dom/canvasrenderingcontext2d.rs
script/dom/element.rs
script/dom/htmliframeelement.rs
script/dom/websocket.rs
</pre>
As I noticed there is a 'pub type ErrorResult = Fallible<()> ; ' in script/dom/error.rs and used frequently.
Maybe these return return values should be replaced by ErrorResult for consistency.

[2016-04-12 14:13] asajeffrey commented on #10334
OK, what we could do when an error happens is run up the pipeline tree starting at the pipeline that caused the error, until we find the `(parent_id, subpage_id)` where `parent.parent_info` is `None`, and then call `parent.trigger_mozbrowser_event(subpage_id, event)`. This will fire an event in the root script thread, targeted at the child iframe which contains the pipeline that failed. The event

[2016-04-12 14:16] jdm commented on #10539
Please note, this is part of a GSoC project and anyone who wants to work on this should talk to me before doing anything.

[2016-04-12 14:22] jdm commented on #10334
The idea right now is that we only intend to support mozbrowser frames in the top-level document.

[2016-04-12 14:35] Ms2ger commented on #10392
Filed https://github.com/servo/servo/issues/10540

[2016-04-12 14:38] metajack commented on #10415
Fixed by #10445

[2016-04-12 14:38] #10415 closed

[2016-04-12 14:52] jaysonsantos commented on #10437
image 0.9.0 also done

[2016-04-12 14:56] Manishearth commented on #10334
@jdm However, we want to support catching crashes in frames that are transitively under mozbrowser, no?

[2016-04-12 15:31] Manishearth opened #10542 "Use unguessable UUID pipeline ids to prevent spoofing"
See also: http://logs.glob.uno/?c=mozilla%23servo#c404439

A compromised iframe process can pretend to be any iframe/pipeline when talking to the constellation, since the constellation channels are shared. This could be used to escalate access out of the sandboxed iframe.

This can either be fixed by separating out the constellation channels (would require selecting over a ton of channels and prob

[2016-04-12 15:36] Manishearth commented on #10542
This should also prevent spoofing when talking to the resource thread, so that cookies can't be stolen. (The resource thread in turn should not rely on messages sent to it to know the origin, it should instead rely on a mapping of secure pipeline ids and origins that is stored somewhere in the chrome process)

[2016-04-12 15:52] jdm commented on #10334
That has interesting implications, since the root frame can't directly interact with the iframe containing the pipeline that failed.

[2016-04-12 16:21] metajack commented on #8859
The main benefit of the debug build (aside from better debug info in crashes and faster compile times) is that we get integer overflow checking.

These numbers seem suspicious though. My personal build times differ by a much larger factor.

[2016-04-12 16:21] larsbergstrom commented on #8859
Why not both, using the matrix? :-)

[2016-04-12 16:33] asajeffrey commented on #10334
@jdm: indeed, but by this point the iframe contents are in some unknown state, hopefully about:failure. The chrome can't do much, except perhaps ask the user if they want to submit a report, and maybe kill the tab containing the crashed iframe.

[2016-04-12 17:04] asajeffrey commented on #10334
Some discussion about including the backtrace in the mozbrowsererror event: http://logs.glob.uno/?c=mozilla%23servo#c404628

Summary: we should use https://crates.io/crates/backtrace. In the long run, we should use some way of `Send`ing a backtrace, in the short run just the panic reason is better than nothing.

[2016-04-12 17:11] jdm commented on #10532
Great! Ask questions here if anything is confusing :)

[2016-04-12 17:29] asajeffrey commented on #10334
And some more discussion http://logs.glob.uno/?c=mozilla%23servo#c404711

Summary: `trigger_mozbrowserlocationchange` will trigger a mozbrowser event on its parent, even if its parent isn't the root, but the parent will then call `dispatch_mozbrowser_event` (https://github.com/servo/servo/blob/master/components/script/dom/htmliframeelement.rs#L159) which is a no-op if the target isn't the root.

[2016-04-12 17:35] mbrubeck commented on #10533
This is somewhat similar to #7681.  In an inline flow, fragments are responsible for drawing borders.  But the flow for the empty `span` doesn't have any fragments of its own.  Maybe `build_display_list_for_inline` needs a special case for empty inline flows.

[2016-04-12 17:41] edunham commented on #3975
It looks like `mach clean` currently nukes the entire `target` directory, but cef lives in `ports/`  along with geckolib, glutin, and gonk. @larsbergstrom, should `mach clean` remove all ports as well as targets?

[2016-04-12 17:49] jdm commented on #3975
`ports` is a source directory; I would be surprised if any build artifacts end up there.

[2016-04-12 17:52] mbrubeck commented on #10533
Actually, this is not just a display list issue; layout of the empty flow is often wrong too.  (For example if you remove the `br` elements from the test case above.)

[2016-04-12 17:55] pcwalton commented on #10533
Perhaps the right solution is to force creation of an inline fragment in flow construction if an empty span with certain styles (e.g. borders) is present?

[2016-04-12 17:55] jdm commented on #3975
Yeah, I just did a `./mach build-cef -v` and verified that all of the artifacts end up under `target`.

[2016-04-12 17:55] #3975 closed

[2016-04-12 17:56] jdm commented on #855
This hasn't been the case for a while.

[2016-04-12 17:56] #855 closed

[2016-04-12 17:58] jdm commented on #276
We've upgraded spidermonkey since this report.

[2016-04-12 17:58] #276 closed

[2016-04-12 17:59] mrobinson commented on #6480
@notriddle Do you think this is fixed by https://github.com/servo/rust-layers/commit/7556d2420c5afe95b23149289840c2dc659321fb?

[2016-04-12 17:59] jdm commented on #4644
Cargo's much better about this now. There are other issues filed about ensuring that we don't declare needless dependencies, but otherwise the situation is fine.

[2016-04-12 17:59] #4644 closed

[2016-04-12 18:05] jaysonsantos commented on #10437
bincode 0.5.3 done

[2016-04-12 18:06] mbrubeck commented on #10533
cc #2001

[2016-04-12 18:06] jaysonsantos commented on #10437
servo/ipc-channel is ok on master, who could generate a new version of it?

[2016-04-12 18:07] jdm commented on #10437
Opened https://github.com/servo/ipc-channel/pull/65. Will publish when it's merged.

[2016-04-12 18:41] jdm commented on #10437
Apparently we use ipc-channel via git, so it should now be possible to update all of the crates to the newest versions.

[2016-04-12 18:42] jaysonsantos commented on #10437
Nice

[2016-04-12 18:53] #10506 closed

[2016-04-12 18:54] KiChjang commented on #9769
Fixed by #9980.

[2016-04-12 18:54] #9769 closed

[2016-04-12 18:55] KiChjang commented on #9023
Fixed by #9980.

[2016-04-12 18:55] #9023 closed

[2016-04-12 18:56] jdm commented on #10437
Note for anybody doing this: `./mach cargo-update -p library_name` is the correct way to upgrade.

[2016-04-12 19:08] jaysonsantos commented on #9490
Hey guys, I was wondering how to do this.
I saw a function named `Open` on `impl XMLHttpRequestMethods for XMLHttpRequest`, this would be to implement a Send version?

[2016-04-12 19:11] KiChjang commented on #9490
@jaysonsantos I'm pretty sure that there's also a `Send` fn. Can you confirm that you are currently working on this?

[2016-04-12 19:14] jaysonsantos commented on #9490
@KiChjang Ah, I saw it but I don't know what to do. Is there something missing on it?
Also don't put as me doing because I don't know if I am able to do it because I know nothing about servo code.

[2016-04-12 19:27] yoava333 opened #10547 "servo panics on exit on windows 10 x64"
I'm using ea97c8905580e67e96ae00572d1c4e7af3d58736 windows 10 x64 (build 10586.104)

[code]

[2016-04-12 19:29] yoava333 opened #10548 "servo panic on 404 on windows 10 x64"
I'm using ea97c8905580e67e96ae00572d1c4e7af3d58736 on windows 10 x64 (build 10586.104)
[code]

[2016-04-12 19:36] KiChjang commented on #9490
[The specification](https://xhr.spec.whatwg.org/#dom-xmlhttprequest-send-document) points to step 4 of the XMLHttpRequest.send method, which is [this code](https://github.com/servo/servo/blob/ea97c8905580e67e96ae00572d1c4e7af3d58736/components/script/dom/xmlhttprequest.rs#L542-L544). Right now, it assumes that the `data` parameter is of `BodyInit` type; we'll need to check whether it's a `Document

[2016-04-12 19:39] jdm commented on #10548
Specifically, this is the file loader redirecting to `about:not-found`, and that code is panicking when calling `load_data.url = Url::from_file_path(&*path).unwrap();`.

[2016-04-12 19:40] KiChjang opened #10549 "Intermittent failure of /css-transitions-1_dev/html/detached-container-001.htm"
[code]

[2016-04-12 19:44] frewsxcv opened #10550 "`./mach run -d https://servo.org/` results in cert error"

[2016-04-12 19:45] KiChjang commented on #10550
Can't reproduce with my local version.

[2016-04-12 19:53] ConnorGBrewster commented on #10550
I have experienced this intermittently. Some days it loads fine, other days it has the bad cert error.

[2016-04-12 19:58] jaysonsantos commented on #9490
@KiChjang Thanks I will try to take a look

[2016-04-12 20:09] asajeffrey commented on #10334
A partial solution is in #10551. It triggers the event, but doesn't include the backtrace or type.

[2016-04-12 20:22] Sendoushi opened #10552 "textarea - placeholder doesn't show"
Test case:

[code]

[2016-04-12 21:13] Sendoushi commented on #10532
https://github.com/servo/servo/pull/10553

[2016-04-12 21:30] edunham commented on #3502
Today Homu leaves only 3 messages: approval, status, and result. There [appears](https://github.com/servo/homu/blob/master/cfg.sample.toml#L77) to be Homu support for using the status API, but we aren't currently using it in production.

@SimonSapin are Homu's current comments still too spammy?

[2016-04-12 21:45] edunham commented on #1975
@shinglyu Checking how badly these changes have bitrotted and moving them into [mach](https://github.com/servo/servo/tree/master/python/servo) might be of interest

[2016-04-12 22:12] edunham commented on #861
mach now uses `python/_virtualenv`, thanks to the resolution of #6999.

The benefit to publishing the package from where it lives in servo tree is that we wouldn't have to change all the other repos if we eventually split it out; the drawback is that we have to manage yet another set of credentials for pypi and make sure the requisite changes get pushed.

Someone would just have a copy of the `.py

[2016-04-13 02:09] xudifsd commented on #10541
I can work on this one

[2016-04-13 02:21] #10431 closed

[2016-04-13 02:23] shinglyu commented on #10181
I got some assignment on Servo infra stuff. May not have the bandwidth to work on this right now.

[2016-04-13 02:32] KiChjang commented on #10541
Alright!

[2016-04-13 02:55] cwgreene commented on #9932
I encounter this building the release version and attempting to run browserhtml. I have attempted to modify window.rs to use 3,3 instead of 3,2 and so far no luck. Proceeding to modify the shader version strings in the glsl files to 330.

[2016-04-13 05:30] danieltroger commented on #9585
Same issue here too. Standard ubuntu 14.04 desktop install on a MacBook2,1.
#223 seems to be the same issue (?)
Any workaround/fix yet?

[2016-04-13 06:32] shinglyu commented on #1975
@edunham : My initial investigation shows that the `./mach test-ref` was removed in https://github.com/servo/servo/issues/10125
But the old [wiki](https://github.com/servo/servo/wiki/Testing) is not updated.

There are something in `tests/wpt` that looks like a reftest but seems not being used: https://github.com/servo/servo/tree/e273517fe06720afe0ef74815cce5e007df7dc3d/tests/wpt/harness/test/test

[2016-04-13 06:37] KiChjang commented on #10227
Fixed by #10354.

[2016-04-13 06:37] #10227 closed

[2016-04-13 06:54] yoava333 commented on #10548
I have fixed this issue in a PR for rust-url https://github.com/servo/rust-url/pull/185

[2016-04-13 06:56] shinglyu commented on #861
@edunham : I can do that. :)

[2016-04-13 07:08] shinglyu commented on #861
My colleague @askeing  is very interested in this issue, so I'll leave this to him.

[2016-04-13 07:40] askeing commented on #861
Hi @edunham ,
I try to set up it as the Python package (with tests) here: https://github.com/askeing/servo_tidy

[2016-04-13 07:43] paulrouget opened #10559 "overflow:hidden clips too early (2)"
Very similar to https://github.com/servo/servo/issues/10431:

[code]

<img width="456" alt="screen shot 2016-04-13 at 09 42 35" src="https://cloud.githubusercontent.com/assets/373579/14486234/18446652-015c-11e6-86a4-b5d684530983.png">

/cc @notriddle

[2016-04-13 07:46] jaysonsantos commented on #9490
Do you guys have any tip on how to do this? Send is already inside a trait, how could I accept Option<BodyInit> or Option<Document> without using traits?

[2016-04-13 07:51] shinglyu opened #10560 "Update the test-ref section in wiki"
`./mach test-ref` was removed in https://github.com/servo/servo/issues/10125 but the [wiki](https://github.com/servo/servo/wiki/Testing) still has it.

We might consider updating it because it's confusing.

[2016-04-13 08:02] shinglyu commented on #10452
Update: the test runner is almost ready https://github.com/shinglyu/servo-perf
Some of the tp5 test case (those with complex js and many ad pics) will run forever even if I set `-o output.png`. And trying to close it with `window.close()` wrapped in `setTimeout()` doesn't work either. I'm trying to figure out the root cause and may force kill servo if it runs for too long.

[2016-04-13 08:12] paulrouget opened #10561 "Implement the :placeholder-shown pseudo class"
At the moment, it's plain black.

It needs to be `opacity: 0.54`.

Relevant:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1069012
- https://bugzilla.mozilla.org/show_bug.cgi?id=556145
- https://lists.w3.org/Archives/Public/www-style/2013Jan/0283.html

(browserhtml P2 as I think we can work around this for now)

[2016-04-13 08:47] paulrouget commented on #9487
Attempt to bump the priority of this.

Do we know what's going on? Is it hard to fix?
If it's easy, I'd love to get that done by June. It would make our UI look exactly like gecko and webkit (and I haven't found any CSS workaround to fix that)

If it's too much work - let's flag it back to P3.

[2016-04-13 09:04] glennw commented on #9487
@paulrouget I believe there's two issues here - one is our actual font selection matching is different than Gecko, and two is the lack of subpixel AA. I'm hoping to have a solution for the 2nd issue before June. The first issue should be (relatively) trivial to implement - if someone with mac experience has time to look into it.

[2016-04-13 09:05] glennw commented on #9487
Of course, getting the font selection to exactly match gecko is far from trivial, but fixing the common case shouldn't be too difficult hopefully.

[2016-04-13 09:15] SimonSapin commented on #3502
Yes, it’s better now. Thanks for triaging :)

[2016-04-13 09:15] #3502 closed

[2016-04-13 09:17] paulrouget commented on #10434
Re-opening. I don't think this is fixed.

[2016-04-13 09:20] SimonSapin commented on #3502
We do have homu using the status API. For example in https://github.com/servo/servo/pull/10546 click "View details" at the bottom and see

The only thing is that the Details link is missing while the build is running (when the status is yellow).

[2016-04-13 09:48] shinglyu commented on #10452
@wlach : The `treeherder-client` on PyPi is not the latest version in tree. Also the sample code in the documentation is out of sync with the unit tests. Which version should I use to match the server version on stage and production?

[2016-04-13 09:57] mmatyas commented on #10310
Thanks, this did work, and I could run WR on Odroid. The performance is horrible though, what could be the cause of that? (I don't know how it performs on Android due to the build errors I've also reported)

There's also some text rendering issue:

![screenshot-servo the parallel browser engine - servo-1](https://cloud.githubusercontent.com/assets/4354863/14489677/d47c9c74-016e-11e6-9693-f22440d8b

[2016-04-13 10:19] Ms2ger commented on #10560
Done.

[2016-04-13 10:19] #10560 closed

[2016-04-13 10:36] timvandermeij commented on #10428
Fixed by #10538?

[2016-04-13 10:39] #10416 closed

[2016-04-13 10:39] izgzhen commented on #10428
@timvandermeij The basic need is satisfied. But some other properties are still left unimplemented.

[2016-04-13 11:04] saurvs commented on #10437
I can update the lock files and remove the exception for `byteorder` from `tidy.py`

[2016-04-13 12:06] jdm commented on #9490
If you make the change to the WebIDL file and rebuild, the resulting Rust build errors should inform how you need to modify the Rust code to accommodate the change.

[2016-04-13 12:10] xudifsd opened #10567 "put servo issued by `./mach test` into background"
when I run test using `./mach test`, it will keep starting servo, and my current window keeps losing focus, I can't work or even write a tweet to complain, it's so annoying, can we put that test into background?

[2016-04-13 12:50] jdm commented on #10567
This is the behaviour for the reference tests in particular (`./mach test-css` and certain tests in `./mach test-wpt`), which currently do not support being executed without a window that steals the focus unfortunately.

[2016-04-13 13:05] mmatyas commented on #10235
Happens to me too, scrolling works fine until you reach the bottom of the page.

[2016-04-13 14:30] asajeffrey opened #10568 "Add wpt tests which test pipeline closure"
We now have `--random-pipeline-closure-probability`, so we should have tests which use it!

[2016-04-13 14:31] asajeffrey commented on #10568
Part of constellation hardening #10124

[2016-04-13 14:43] #10509 closed

[2016-04-13 15:18] jdm opened #10569 "Remove containing_page_pipeline_id"
There's a field in HTMLIFrameElement called `containing_page_pipeline_id` that I want to remove, since it isn't used outside of the file it's defined in. Its use in the `Navigate` method can be replaced with `window.pipeline()` instead.

Code: `components/script/dom/htmliframeelement.rs`

[2016-04-13 15:27] asajeffrey opened #10570 "Remove watcher thread from util/thread.rs"
At the moment, `spawn_named_with_send_on_failure` in `util/thread.rs` creates a watcher thread. This is expensive, and should be replaced by a panic hook.

[2016-04-13 15:35] asajeffrey commented on #10570
IRC chat: http://logs.glob.uno/?c=mozilla%23servo#c405463

[2016-04-13 15:40] ConnorGBrewster commented on #10569
I would like to work on this one.

[2016-04-13 15:45] paulrouget commented on #10550
Same here.

[2016-04-13 16:01] paulrouget opened #10571 "reddit.com rendering regression"
Reddit use to render more or less ok, but now, all the text is gone.

<img width="912" alt="screen shot 2016-04-13 at 18 00 32" src="https://cloud.githubusercontent.com/assets/373579/14500269/ad8ed5cc-01a1-11e6-8067-00cbb39284aa.png">

[2016-04-13 16:20] KiChjang commented on #10569
@ConnorGBrewster Do you mind working on less easy issues now? I'd like to reserve this for people who are completely new to the Servo codebase (or even Rust).

[2016-04-13 16:27] edunham commented on #1975
@jdm Where do the layout reftests currently live, or how should one find them? (or is this issue obsoleted by the removal of test-ref?)

[2016-04-13 16:42] edunham commented on #861
@askeing Thank you! It looks like you've done most of the hard work already. My only nitpick is that it'd be helpful to have `setup()` in `setup.py` include something like

[code]
so that we can just invoke `servo-tidy` directly in the script section of another project's `.travis.yml` once the package has been installed.

[2016-04-13 16:53] edunham commented on #861
@frewsxcv @larsbergstrom @metajack What are your thoughts on `tidy` living in the Servo tree vs in its own repo? How important to the project is it to keep the `tidy` git history from the current tree? I personally prefer to keep history whenever possible, but that's got more to do with opinion than necessity in this case.

[2016-04-13 16:56] frewsxcv commented on #861
No strong preference from me. Worth mentioning that `tidy.py` seems to be a starting point for some new contributors, and having that file live in a separate repository might increase the barrier those contributors.

[2016-04-13 17:05] jdm commented on #861
I think the most important concern is that it's possible to modify tidy.py and see how those changes affect `./mach test-tidy` with the fewest possible intermediate steps.

[2016-04-13 17:10] jdm commented on #1975
The majority of reference tests live in tests/wpt/css-tests/ and tests/wpt/mozilla/tests/css/, and are executed via https://github.com/w3c/wptrunner/blob/051a236f1443b04df93e57a468f9a8a8db40722f/wptrunner/executors/executorservo.py#L204 .

[2016-04-13 17:43] pcwalton commented on #10434
Yeah, WR doesn't support overflow:scroll scrolling yet.

[2016-04-13 17:58] #10145 closed

[2016-04-13 18:00] zbraniecki commented on #6633
This depends on #4283

[2016-04-13 18:04] zbraniecki commented on #4159
Also, pending #4283

[2016-04-13 18:20] jdm opened #10574 "Use the document base url when resolving image URLs"
According to [the specification](https://html.spec.whatwg.org/multipage/embedded-content.html#update-the-image-data) (step 5.1), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `document.base_url()` instead of `window.get_url()` as the code currently does.

Code: `components/script/dom/htmlimageelement.rs`
Test:
[code]

[2016-04-13 18:24] jdm opened #10575 "Use the document base url when resolving stylesheets"
According to [the specification](
https://html.spec.whatwg.org/multipage/semantics.html#concept-link-obtain) (step 2), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `document.base_url()` instead of `window.get_url()` as the code currently does.

Code: `components/script/dom/htmllinkelement.rs`
Test:
[code]
Visit this

[2016-04-13 18:30] jdm opened #10576 "Use the document base url when resolving iframe URLs"
According to [the specification](https://html.spec.whatwg.org/multipage/embedded-content.html#otherwise-steps-for-iframe-or-frame-elements) (step 1), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `document.base_url()` instead of `window.get_url()` as the code currently does.

Code: `components/script/dom/htmliframeele

[2016-04-13 18:36] jdm opened #10577 "Use the document base url when resolving worker URLs"
According to [the specification](https://html.spec.whatwg.org/multipage/workers.html#dom-worker) (step 2), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `global.api_base_url()` instead of `global.get_url()` as the code currently does.

Code: `components/script/dom/worker.rs`
Test:
[code]
Visit this from a web server (

[2016-04-13 18:39] jdm opened #10578 "Use the document base url when resolving script URLs"
According to [the specification](https://html.spec.whatwg.org/multipage/scripting.html#prepare-a-script) (step 17.4), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `document.base_url()` instead of `window.get_url()` as the code currently does.

Code: `components/script/dom/htmlscriptelement.rs`
Test: `./mach test-wpt

[2016-04-13 18:49] jdm opened #10580 "Use the document base url when resolving form action URLs"
According to [the specification](https://html.spec.whatwg.org/multipage/forms.html#attributes-for-form-submission), we need to be [using the base URL](https://html.spec.whatwg.org/multipage/infrastructure.html#parse-a-url). This means calling `document.base_url()` instead of `window.get_url()` as the code currently does (specifically, `make_url_or_base_getter`, which is used for the `action` and `

[2016-04-13 18:54] jdm commented on #10245
Unassigning under the assumption that this is not being worked on given the lack of response in #10393.

[2016-04-13 18:56] jdm opened #10581 "Finish hooking up the XML parser"
#10371 was one attempt for this, but we don't think it was right (and no test changes were observed). We need to figure out what the missing pieces are at this point.

[2016-04-13 18:56] jdm commented on #10581
@ConnorGBrewster This would be a valuable task if you're interested.

[2016-04-13 19:12] notriddle commented on #10521
Like this, I assume.

[code]

[2016-04-13 19:33] jdm commented on #9994
I've pushed a rebased and squashed version of #10007 to https://github.com/jdm/servo/tree/textdir. Whoever decides to pick this task up should address the test failures (and newly passing tests) mentioned in https://github.com/servo/servo/pull/10007#issuecomment-202065579.

[2016-04-13 19:51] jaysonsantos commented on #9490
Hey guys I started doing some stuff on my branch in https://github.com/servo/servo/compare/master...jaysonsantos:xhr-send?expand=1 but somehow the Document which is being sent to `Send` is always a HTML document https://github.com/jaysonsantos/servo/blob/xhr-send/components/script/dom/xmlhttprequest.rs#L1428 despite the test setting the header properly https://github.com/jaysonsantos/servo/blob/xh

[2016-04-13 19:53] jdm commented on #7553
#9198 stalled, so anybody taking on this task should focus on rebasing the changes and addressing the [most recent review comments](https://github.com/servo/servo/pull/9198#issuecomment-191449218). Note, I rebased it locally and discovered that the `mime` crate needs to be updated to 0.2 for compilation to succeed.

[2016-04-13 19:54] wlach commented on #10452
@shinglyu Good catch! I updated the version on pypi to reflect what's in the tree (treeherder-client-2.1.0). Please use new the new version. The docs *should* be up-to-date at this point. If they're not, please file a PR to fix them or let me know what's wrong so I can do so.

[2016-04-13 19:55] jdm opened #10583 "Add a --serve argument to the test-wpt mach command"
See https://github.com/servo/servo/pull/9798 for related discussion and code.

[2016-04-13 20:00] larsbergstrom commented on #10452
@shinglyu Sometimes you may have better results with `-x -o output.png`. If Servo still does not exit with both of those flags, please open issues and we will look into them - that probably indicates a deadlock or other bug in Servo!

[2016-04-13 20:00] #10483 closed

[2016-04-13 20:02] jdm commented on #9490
That's probably our XML parser not being invoked properly when parsing the document, which is being tracked in #10581, so you can leave that as an expected failure for the purposes of this PR.

[2016-04-13 20:03] jdm commented on #10437
Fixed by #10565.

[2016-04-13 20:03] #10437 closed

[2016-04-13 20:12] ConnorGBrewster commented on #10569
@KiChjang yup that is fine!

[2016-04-13 20:12] ConnorGBrewster commented on #10581
@jdm yeah I can work on this one!

[2016-04-13 20:16] notriddle opened #10584 "transform:rotate() rotates the clipping path"
If the clipping path is being determined by the parent, it should not be transformed.

![image](https://cloud.githubusercontent.com/assets/1593513/14507903/c68a7b8a-0179-11e6-85e3-7f408cd6a8bc.png)

[code]

[2016-04-13 20:21] jdm commented on #10581
The basic goal here is to ensure that documents that have an [appropriate XML content type](http://stackoverflow.com/a/2965701/3830) end up being treated as XML documents (see `ScriptThread::load`). It would be useful to figure out what's currently broken in `tests/wpt/web-platform-tests/domparsing/DOMParser-parseFromString-xml.html`, for example.

[2016-04-13 20:25] KiChjang commented on #9994
@autrilla claimed in IRC.

[2016-04-13 21:11] zwn commented on #8390
I think the fix in #8394 (4ff8d3ad9cea) is not correct (meaning it does not help in any way) and in addition it breaks windows build for me. Does windows build work for anyone else from a clean checkout?

Doing
[code]
creates a quoted path that is good for shell but not for `__file__`.  Inside `activate_this.py` it is used to adjust the PATH but it fails:
[code]
Please note how the 'windows\\path'

[2016-04-13 21:17] asajeffrey commented on #10547
Looks like the culprit is the `unwrap()` in `glutin/window.rs`:
[code]

[2016-04-13 21:18] asajeffrey commented on #10547
There are a lot of uses of unwrap in glutin, which should be removed, and we should add glutin/* to the unwrap-is-banned list.

[2016-04-13 21:21] #8931 closed

[2016-04-13 21:23] amarant commented on #10574
Can I try this one ?

[2016-04-13 21:37] yoava333 commented on #10547
I've looked into this panic. It's caused by
[code]
the reason that we get None is that on Windows, is that glutin receives events on a channel and the channel is closed when we try to read from it.
The transmitting end of the channel is dropped when the event loop thread shuts down (https://github.com/servo/glutin/blob/servo/src/api/win32/init.rs#L80).
this is due to the thread's message queue clo

[2016-04-13 21:46] jdm commented on #10574
Please do!

[2016-04-13 21:48] fitzgen opened #10588 "EXC_BAD_ACCESS crash in glutin on OSX"
STR:
- Run with `./mach run -d`
- Close window

ER:

Servo quits

AR:

[code]

[2016-04-13 22:02] #10541 closed

[2016-04-13 22:25] Liamsi commented on #10578
If I do `./mach test-wpt tests/wpt/web-platform-tests/html/semantics/scripting-1/the-script-element/fetch-src/alpha/base.html` the existing test fails in the rendered servo window (`expected "beta" but got "alpha"`) in both cases (using either `document.base_url()` or, like before, `window.get_url()` in `components/script/dom/htmlimageelement.rs`), is this the expected behaviour (on the command-li

[2016-04-13 22:32] edunham commented on #7080
@metajack I've edited your comment to include links to the issues which I think correspond to each point.

To clarify, "try incremental builds" means "experiment with making all builds incremental", not "make the try/auto builds incremental", right?

Are we still experiencing the wpt issues that made the tests time out and motivated running the tests in a single process?

[2016-04-13 22:38] canaltinova commented on #10575
I would like to work on this.

[2016-04-13 22:44] Liamsi commented on #10578
If I change the code in `htmlscriptelement.rs` instead, i get a failing test. Do I need to update the [expected outcome](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations) [here](https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/semantics/scripting-1/the-script-element/fetch-src/alpha/base.html.ini)?

[2016-04-13 23:25] #10559 closed

[2016-04-14 00:42] KiChjang commented on #10575
Sure thing!

[2016-04-14 00:46] canaltinova commented on #10575
When i try to add a ref test in this directory, the command inserting 5453 lines to MANIFEST.json file. It seems not right. I'm using this command:
`./mach create-wpt --reftest tests/wpt/web-platform-tests/html/semantics/document-metadata/the-link-element/stylesheet-with-base.html --reference tests/wpt/web-platform-tests/html/semantics/document-metadata/the-link-element/stylesheet-with-base-ref.ht

[2016-04-14 00:49] KiChjang commented on #10575
I don't think you need --reference once you have --reftest (or was it the other way around?).

[2016-04-14 00:49] larsbergstrom commented on #10310
I have a fix here for the wr-stats:
https://github.com/larsbergstrom/webrender/commit/1aceb99c79670a9db21ad89f9e511910aec41bdf

In order for events to work, you may need:
https://github.com/larsbergstrom/servo/commit/4e7f7ac9b8459f51adcbe028d0dab832170ad17a
Though I thought that on linux it'd be fine with the default implementation.

The only thing I can think of on ARM linux that is probably gett

[2016-04-14 01:04] asajeffrey commented on #10334
#10587 adds the panic message into failures, so at least the constellation has the message, so it can put it in the mozbrowsererror event.

[2016-04-14 01:07] jdm commented on #10575
Both arguments are necessary, and sometimes that's what happens. Don't worry about all of the additions to MANIFEST.json if the new test is able to run.

[2016-04-14 01:09] jdm commented on #10578
Yes, you were right and I made a mistake in the original issue description. It looks like you've figured it out though :)

[2016-04-14 01:10] sliz1 commented on #10569
I would like to take this one if it's still available :)

[2016-04-14 01:10] jdm commented on #10245
@saurvs indicated that they're continuing to work on this.

[2016-04-14 01:11] jdm commented on #10569
@sliz1 Please do!

[2016-04-14 01:29] canaltinova commented on #10575
Oh thanks, I tried also without arguments but didn't worked either. New test is able to run with first command. I'm creating a pr now :)

[2016-04-14 01:42] frewsxcv commented on #10515
At the time of writing, it doesn't look like there are any WPT tests that consider the scenario where the root element is *not* an `<html>` element.

[2016-04-14 01:51] pcwalton opened #10593 "Infinite(?) loop of reflows on commentarymagazine.com"
https://www.commentarymagazine.com/articles/coming-conservative-dark-age/

Triggers an infinite loop of reflows for me.

[2016-04-14 02:22] shinglyu commented on #10452
@wlach: Thank you
@larsbergstrom: Thanks, I'll use `-x -o`. I'm tying to identify those tests in this bug: https://github.com/shinglyu/servo-perf/issues/1. I might temporarily disable those first, and files bugs for them.

[2016-04-14 02:32] xudifsd commented on #10477
if we use iterator then we would not need `root` anymore, right?

[2016-04-14 02:47] frewsxcv commented on #8390
@zwn Can you open a new issue for that? This issue was (implicitly) about OSX/Linux, so if there's an issue with spaces in filepaths on Windows, we should probably create a new issue. You can just copy and paste what you just wrote into the body of the issue

[2016-04-14 02:58] paulrouget commented on #10434
Ok. So I will work around that.

P1 -> P3.

[2016-04-14 03:11] creativcoder commented on #10577
I'd like to work on it

[2016-04-14 03:30] jdm commented on #10577
Given your experience with Servo, I'd prefer to leave this for someone else making their first contribution.

[2016-04-14 03:36] creativcoder commented on #10577
Okay. that is fine. I guess ill, find something more adventurous to fiddle with.

This is available for anyone to work on.

[2016-04-14 05:29] zwn opened #10595 "mach fails to activate virtualenv if cwd needs quoting"
If the quoting added in the fix in #8394 (4ff8d3ad9cea) kicks in, it causes virtualenv to fail to activate.

For the common case it is no op:
[code]

When the path actually needs quoting, this is what happens:

[code]

Please note the embedded quotes.

Virtualenv in activate_this.py uses `__file__` to build the path that should be added to PATH:

[code]

As you can see the constructed path is not

[2016-04-14 05:31] zwn commented on #8390
Done so in #10595.

[2016-04-14 06:21] shinglyu commented on #1975
@edunham @jdm Perhaps we should add a `-j N` parameter to `test-wpt`? This will affect other non-reftest wpt tests, but I guess it's OK?

Or maybe use `--layout-task`, which is more specific than `-j/--jobs`.

[2016-04-14 06:21] alopatindev commented on #10308
I've built e8e354d and got the same issue on emulator (Android 4.3.1) and on Meizu MX4 (Android 5.1) when running a release build (debug build runs fine).

Loading library with `System.loadLibrary` gives more reasonable output:
[code]

In the output of `objdump -T libmain.so` there is
[code]
in the [release build](https://gist.githubusercontent.com/alopatindev/abd66c63c87e890e66cb1979eae13189/raw/

[2016-04-14 06:23] shinglyu commented on #10337
@larsbergstrom Back to the original question. Can you reproduce the problem? Or maybe I should try again with the latest code?

[2016-04-14 06:23] zwn commented on #8968
I believe this issue might be related to #10595. If the 'quote' kicks in for any reason (it is no-op most of the time), the virtualenv fails to activate - meaning the search path for executing binaries is not updated correctly.

[2016-04-14 06:29] zwn opened #10596 "Windows build fails when finding '\' in module name (script BlobBinding)"
After locally fixing #10595 I get the following error:
[code]
It does not feel right to use absolute path name for a module name.

[2016-04-14 06:49] zwn commented on #9168
I am slowly getting something to build (see #10596 and #10595). The steps I used:

1. install python (original win32)
2. install msys2
3. somehow make 'mach' to create virtualenv using the win32 python
   - one way to do it is to open mingw64 shell and put python install path at the front of PATH
   - other way is to create the _virtualenv explicitly using the win32 python
4. fix #10595
5. get stu

[2016-04-14 07:22] zwn commented on #9168
Well, it fails even sooner while "Compiling hbs-pow-sys v0.2.0" saying virtualenv is not working (it hardcodes win32 python).

[2016-04-14 07:28] Ms2ger opened #10597 "Pass the 2dcontext test suite."
* Specification: https://html.spec.whatwg.org/multipage/scripting.html#2dcontext
* Tests: `tests/wpt/web-platform-tests/2dcontext/`
* Metadata: `tests/wpt/metadata/2dcontext/`
* Upstream tests: https://github.com/w3c/web-platform-tests/tree/master/2dcontext

[2016-04-14 07:51] jaysonsantos commented on #9490
Probably that is happening everywhere because for all tests `document.CharacterSet()` returns `UTF-8`.
I put some debug messages here https://github.com/servo/servo/compare/master...jaysonsantos:xhr-send?expand=1#diff-016eef304e69674de212b7fbcd9330fdR1433
And the response is always this:
[code]

[2016-04-14 07:51] jaysonsantos commented on #9490
Should I also disable those tests?

[2016-04-14 07:54] alopatindev commented on #10308
Enabling `lto` in `[profile.release]` solves this issue for me.

Maybe it's okay to enable LTO for release builds (or at least for Android release builds only, if possible) or there's a particular reason why it's disabled? Thanks!

[2016-04-14 09:15] Ms2ger opened #10598 "CanvasRenderingContext2D::stroke ignores shadows"
Blocks #10597.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-context-2d-stroke>.
* Code: `components/canvas/canvas_paint_thread.rs`.
* Test: `2dcontext/shadows/2d.shadow.stroke.join.2.html`, `2dcontext/shadows/2d.shadow.stroke.cap.2.html`, `2dcontext/shadows/2d.shadow.stroke.basic.html`, `2dcontext/shadows/2d.shadow.enable.y.html`, `2dcontext/shadows/2d.shadow.enable.x.html`.

[2016-04-14 09:21] #10569 closed

[2016-04-14 09:33] Ms2ger opened #10599 "Something wrong with CanvasRenderingContext2D::fillRect, shadows"
Blocks #10597.

Not sure what's wrong here; possibly something to do with `globalCompositeOperation`.

* Spec: <https://html.spec.whatwg.org/multipage/#drawing-model>.
* Code: `components/script/dom/canvasrenderingcontext2d.rs`.
* Test: `2dcontext/shadows/2d.shadow.enable.blur.html.ini`, `2dcontext/shadows/2d.shadow.enable.x.html.ini`, `2dcontext/shadows/2d.shadow.enable.y.html.ini`.

[2016-04-14 09:47] Ms2ger commented on #5207
This might be fixed by #9754. @mbrubeck, wdyt?

[2016-04-14 10:23] Ms2ger opened #10600 "Incorrect is_rect_valid checks in CanvasRenderingContext2D::drawImage."
Blocks #10597.

Nothing in the spec seems to support throwing `IndexSizeError`s with empty rectangles. The spec may have changed since we implemented it, though.

Unfortunately, there seem to be some tests that will start failing with this change (https://github.com/w3c/web-platform-tests/issues/2835). We probably need to write some more tests too.
- Spec: https://html.spec.whatwg.org/multipage/#d

[2016-04-14 10:55] Ms2ger opened #10601 "CanvasRenderingContext2D currentColor support is broken"
Blocks #10597.

At least for the not-rendered case. `style.GetPropertyValue(DOMString::from("color"))` returns the empty string, and parsing that fails.

* Spec: around <https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-height>.
* Code: `components/script/dom/canvasrenderingcontext2d.rs`.
* Test: `2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.current.removed.html`.

[2016-04-14 10:59] Ms2ger opened #10602 "CanvasRenderingContext2D::shadowColor does not support currentColor"
Blocks #10597.

There's two `parse_color` functions in `canvasrenderingcontext2d.rs`, and the free function (which is called for `shadowColor`) lacks support for `currentColor`. We should remove the free function in favour of the method that handles `currentColor` (more or less) correctly.

* Spec: <https://html.spec.whatwg.org/multipage/#dom-context-2d-shadowcolor>, around <https://html.spec.what

[2016-04-14 11:57] Liamsi commented on #10578
Cool, thanks for the feedback. You can assign me the other open and not assigned issues which are very similar to resolve (currently #10577, #10576).

[2016-04-14 12:01] jdm commented on #10596
Looks like the implementation of `getModuleForObject` in `Configuration.py` needs to be modified to use `os.path.separator` instead of hardcoding `/`.

[2016-04-14 12:04] jdm commented on #9490
Well, it's not disabling the tests, it's just marking them as not passing, presumably.

[2016-04-14 12:07] jaysonsantos commented on #9490
Yes, what I mean is, should I submit the PR  with non utf8 tests marked as failed? As I saw `Document::new` is always creating it with UTF-8.

[2016-04-14 12:08] jdm commented on #9490
Yes, that sounds reasonable to me.

[2016-04-14 12:26] Wafflespeanut commented on #10596
Code: `components/script/dom/bindings/codegen/Configuration.py`

[2016-04-14 12:53] autrilla commented on #10459
Fixed by #10436

[2016-04-14 12:53] #10459 closed

[2016-04-14 12:53] autrilla commented on #10440
Fixed by #10436

[2016-04-14 12:58] KiChjang commented on #10440
@autrilla On your next PR, if your commit message (or PR description) contains the words "fix/fixes/address/addresses/close/closes #(issue no.)", then GitHub will automatically close the relevant issue once the PR lands. Thanks!

[2016-04-14 12:58] #10440 closed

[2016-04-14 13:03] KiChjang opened #10605 "Typdefs are not generated in unions"
Suppose I have the following:
[code]

The codegen currently does not generate `FooOrString` as expected - it would instead generate `AorBorCorDOMString`, and ignoring the typedef altogether.

[2016-04-14 13:45] amarant commented on #10605
I stumbled on that yesterday, and have a fix for it. I can make a PR later.

[2016-04-14 14:11] lygstate commented on #10048
Ping for this....

[2016-04-14 14:41] asajeffrey commented on #10334
Relevant IRC chat: http://logs.glob.uno/?c=mozilla%23servo&s=14+Apr+2016&e=14+Apr+2016#c406473

[2016-04-14 14:53] sliz1 commented on #10576
I would like to try this one if it's still available to learn a bit more about writing tests, but it's cool if @Liamsi is already working on it. :)

[2016-04-14 14:55] Liamsi commented on #10576
No, I didn't start working on it (still in the office). Feel free to work on it (and to assign it to @sliz1).

[2016-04-14 14:55] jdm commented on #10576
Go for it :)

[2016-04-14 14:58] asajeffrey opened #10607 "Make add_panic_object borrow rather than own the object"
At the moment `add_panic_object` in util/thread.rs takes a `Box<Any>` as an argument, it should actually take a `&Any`.

[2016-04-14 14:59] asajeffrey commented on #10607
This is once #10587 lands.

[2016-04-14 15:01] xudifsd commented on #10477
I've read the code and the spec, correct me if I'm wrong.

The problem you had in #10086 is that current implementation of `HTMLCollectionMethods` is relied on `FollowingNodeIterator` and `PrecedingNodeIterator`, which are in [tree order](https://dom.spec.whatwg.org/#concept-tree-order), but tree order is at odds with order requirement of table rows.

If I understand this right, `Box<Iterator>` is

[2016-04-14 15:07] KiChjang commented on #10477
I'm not sure why `Root<Node>` isn't needed if we use an iterator. The nodes being iterated over should not be GC'd.

Note that you can mutate iterators and the result will still be an iterator, e.g. `iter.skip(3).filter(|x| > 5)` is still an iterator.

[2016-04-14 15:39] xudifsd commented on #10477
Well, I was wondering getting rid of `root` because I thought since we can get all needed elements from iterator, it would be nice to remove it.

Ah, so we can do reverse iteration by using `iter.reverse().next()`? I am trying to understand how to implement `HTMLCollectionMethods::Item` with only one-way & scan-once iterator.

[2016-04-14 15:49] KiChjang commented on #10477
I don't understand the 'one-way' and 'scan-once' terminology. Rust iterators are lazy evaluated (i.e. nothing is mutated/operated upon until you explicitly use .next()/.peek()/.collect()). For the use case I mentioned, I imagine using `.partition()` would be the way to go.

[2016-04-14 16:33] edunham opened #10611 "Make `mach_bootstrap.py` use a dependency resolver"
https://github.com/servo/servo/blob/bbdaf2262058fde6a938ccb47266e61b388d9727/python/mach_bootstrap.py#L184-L189

There are a variety of dependency resolvers suggested in the linked issue, https://github.com/pypa/pip/issues/988

Steps:
- [ ] Read https://github.com/pypa/pip/issues/988 and find a dependency resolver that looks good
    (for a value of "good" that includes works as expected, doesn't

[2016-04-14 16:42] asajeffrey commented on #10334
@paulrouget what should we do if a non-pipeline thread panics? There's no iframe responsible for the panic, should we just trigger a `mozbrowsererror` event on the top-level window? Should the event details be different?

[2016-04-14 16:43] mbrubeck commented on #5207
The fact that it was failing before #9208 makes me think it's unrelated to #9754. But it might be worth giving it another chance anyway.

[2016-04-14 16:44] Manishearth commented on #10334
@asajeffrey see https://github.com/servo/servo/issues/10334#issuecomment-205564483

[2016-04-14 17:03] edunham opened #10613 "Delete rr traces from green test runs"
https://github.com/servo/servo/blob/master/python/servo/testing_commands.py#L340

@mbrubeck added this todo in https://github.com/servo/servo/pull/9607/commits/7c740d395bc731f4bd2822a0876da3a4000008ab .

[2016-04-14 17:06] edunham opened #10614 "Automatically build when packaging (with option to skip rebuild)"
https://github.com/servo/servo/blob/master/python/servo/post_build_commands.py#L268

@mbrubeck created this TODO in https://github.com/servo/servo/pull/8891/commits/53871321a3b22f14e31868405a9f98b31b529acc

[2016-04-14 17:28] autrilla commented on #10614
I'm interested in helping with this. `get_binary_path` on `command_base.py` is not going to help, because if the Android build is not found, it simply exits. I don't think exiting in this function is desirable in any case, it should raise an exception is nothing is found, and the calling function should be the one in charge of exiting or continuing appropriately. What do you think?

[2016-04-14 17:47] zwn commented on #10596
:+1: That did it. Now I have finally completed the build. I'll prepare PR hopefully later tonight.

[2016-04-14 18:25] edunham commented on #10614
@autrilla The current logic appears to correctly handle cases where the android release has never been built -- in other words, the error message gets printed, which means that code at that location does get run. I think that the TODO line is in the correct place for where a build should be run; automatically rebuilding after a failed [attempt to package](https://github.com/servo/servo/blob/master

[2016-04-14 18:34] asajeffrey commented on #10334
@Manishearth okay, I am going over previous discussions. @paulrouget you'd prefer a different event than a mozbrowsererror event with some other way of distinguishing that it didn't come from a particular iframe?

[2016-04-14 18:38] autrilla commented on #10614
@edunham The error message that gets printed is not "Servo build not found. Please run `./mach build` to compile Servo." (the one on `post_build_commands.py`, but "No Servo binary found. Please run `./mach.build` and try again.", the one on `get_binary_path` on `command_base.py`. Line 268 on `post_build_commands.py` never gets executed, at least on my end.

[2016-04-14 19:15] edunham commented on #10614
@autrilla you're totally right; I didn't read the message closely. Definitely need to fix command_base.

[2016-04-14 23:15] frewsxcv opened #10621 "Table cells not vertically aligned"
# HTML

[code]

# Chrome

![screen shot 2016-04-14 at 7 12 06 pm](https://cloud.githubusercontent.com/assets/416575/14546681/2c67f5b2-0275-11e6-99df-2cf7df9a927c.png)

# Servo

<img width="912" alt="screen shot 2016-04-14 at 7 11 51 pm" src="https://cloud.githubusercontent.com/assets/416575/14546682/342050b0-0275-11e6-99e9-8995bab0cb9b.png">

[2016-04-14 23:35] frewsxcv commented on #10621
This is probably because we don't have

[code]

in the [`presentational_hints.css`](https://github.com/servo/servo/blob/master/resources/presentational-hints.css) file.

[2016-04-15 00:00] frewsxcv commented on #10621
Though I just tried adding those rules to the `presentational_hints.css` file but not there did not appear to be any changes.

[2016-04-15 00:48] mbrubeck opened #10622 "compute_damage should use automatically-generated lists of CSS properties"
[layout::incremental::compute_damage](https://github.com/servo/servo/blob/0c51259e4064e76ac180210c724af61bf15f8640/components/layout/incremental.rs#L165-L168) is supposed to check every CSS property, and set damage flags based on which properties have changed.  But we have no automatic test to make sure this contains every property, or that it is updated when new properties are added.

This inform

[2016-04-15 01:09] #10449 closed

[2016-04-15 01:26] paulrouget commented on #10334
`mozbrowser****` events are for the Browser API (hence *browser*). So for the top level window, let's use something else. I don't really care about the name, as long as it's different.

[2016-04-15 01:31] larsbergstrom commented on #10337
Hrm, I don't get that, but I do get a failure to load with the debug master build with:
[code]

I will try to work with @glennw to land the patches to use webrender and get them running :-)

[2016-04-15 01:35] alopatindev opened #10624 "Can't enable logs on Android"
I was trying to apply something like `RUST_LOGS=debug` on Android (debug) build without success.

Is [this doc](https://github.com/servo/servo/wiki/Building-for-Android#viewing-rust_log-output) outdated? The first doubt was that the change might should be in main.**rs** not main.**cpp**

Trying this

[code]

—nothing changes, still none of `info!`, `debug!` or `println!` printing anything to `adb

[2016-04-15 01:37] Mylainos commented on #10580
I would like to take this one please.

[2016-04-15 02:07] xudifsd commented on #10477
I mean in Java, Iterator can only move in one direction, it can not move backwards, and I assume this also applies to Rust. And from current implementation of `HTMLCollectionMethods::Item` we need to move backwards as in `HTMLCollection::elements_iter_before()`. I don't know how can we implement that function with `Box<Iterator>`.

[2016-04-15 02:13] pcwalton opened #10625 "Absolutely-positioned inlines don't respect line height if positioned next to a float"
Fun one. Failing test case:

    <!DOCTYPE html>
    <div style="float: left; padding: 0 0 0 1px;"></div>
    <span style="position: absolute; right: 0; top: 0; line-height: 100px;">X</span>

This should have an X positioned 100px down the page on the right side, but in Servo the X is at the top right corner of the page.

Reduced from http://reddit.com/r/rust (the Edit link at the top).

[2016-04-15 02:15] pcwalton commented on #10625
Flow tree:

    ┌ Post layout flow tree
    │  ├─ Block(117a59a10) sc=StackingContextId(FragmentBody, 0) pos=LogicalRect(i1024px×b768px, @ (i0px,b0px)), floatspec-in=L 0px R 0px, floatspec-out=L 9px R 0px, overflow=Overflow { scroll: Rect(1024px×768px at (0px,0px)), paint: Rect(1024px×768px at (0px,0px)) } children=1 abs-descendents=1 damage=BUBBLE_ISIZES
    │  │  ├─ ↑↑ Fragment for block: Specif

[2016-04-15 02:31] #10578 closed

[2016-04-15 02:43] asajeffrey commented on #10334
We can fire it onto any fixed target, e.g. the root document, there's just no iframe to target, unless we wanted to try to track which pipeline each thread is acting on behalf of.

[2016-04-15 02:46] KiChjang commented on #10477
As you've said before, `iter.reverse()` is indeed still an iterator, so boxing it would allow us to iterate backwards.

[2016-04-15 04:10] jdm commented on #10580
Go ahead!

[2016-04-15 04:23] frewsxcv commented on #10550
Here's the error that we get from rust-openssl:

[code]

[2016-04-15 06:34] #10576 closed

[2016-04-15 06:55] Manishearth commented on #10334
The top level window is a Browser window though.

[2016-04-15 07:33] paulrouget commented on #10334
It doesn't really matter. `mozbrowsererror`, `mozbrowsererror_unknownorigin`, or anything else. The target will be different, so we can differentiate.

[2016-04-15 08:26] shinglyu commented on #10452
@wlach I was able to submit a ResultSetCollection and JobCollection through the python API

![_082](https://cloud.githubusercontent.com/assets/3250983/14555614/2c7c1400-0326-11e6-99a9-f05bba639288.png)

But I can't figure out how to format a performance artifact, I found the following code:
https://github.com/mozilla/autophone/blob/16669a6a13c78dc376ed60b9c6b005d69bda572b/tests/perftest.py#L31
But

[2016-04-15 09:41] mmatyas commented on #10517
Just a note, the error also occurred when I tried to cross compile to ARM with `RUSTFLAGS=' -C target-feature=+neon'`.

[2016-04-15 09:48] Shiroy commented on #10104
I encounter some difficulties to implement that system because of conflicts in trait implementation.

For now I will stay on the current system for benchmarking and I will add the new trait just before submitting the pull request.

[2016-04-15 09:51] mmatyas commented on #10310
I've applied both patches (though I'm not sure what the second does), but unfortunately this just scaled up the screen:

![pic3](https://cloud.githubusercontent.com/assets/4354863/14557040/803b5298-02fb-11e6-8ad5-226510072651.png)

Then I tried to build using the RUSTFLAG you linked, but #10517 happened :(

[2016-04-15 10:54] Ms2ger commented on #10477
I am skeptical that using an `Iterator` is the right design for `HTMLCollection`. Maybe @smaug---- has better ideas.

[2016-04-15 13:15] smaug---- commented on #10477
FWIW, Gecko has different implementations of HTMLCollection. The normal case, used for element.children for example, keeps an array nodes, initially empty and populated on demand.
In case of dom mutation, the collection may be marked dirty, and next access will then need to re-populate itself. (HTMLCollection for commonly used DOM features is rather performance critical)

HTMLTableElement.rows has

[2016-04-15 14:40] bzbarsky commented on #10477
You also need O(1) `length`, which is not trivial to do with an iterator.  Basically, at a bare minimum you need to efficiently support this common pattern:

    for (var i = 0; i < collection.length; ++i) {
      doSomething(collection[i]);
    }

It's all the more common because `HTMLCollection` does not have `map()` or `forEach()` or anything like that...

[2016-04-15 16:40] notriddle commented on #10625
Are you, @pcwalton, working on this, or can I take it?

[2016-04-15 16:50] edunham commented on #10337
To answer the question from earlier in this thread, I recently opened https://github.com/servo/saltfs/issues/316 to track progress on moving build logic out of the Buildbot config.

[2016-04-15 16:54] pcwalton commented on #10625
Feel free to grab it!

[2016-04-15 18:27] pcwalton opened #10633 "Inline margins are jumpy when applied to &nbsp"
Test case:

    <!DOCTYPE html>
    <span style="margin-right: 128px">X&nbsp;</span>Y

Resize the window and notice that Y jumps into place.

This breaks http://reddit.com/r/rust.

[2016-04-15 18:27] pcwalton commented on #10633
cc @mbrubeck

[2016-04-15 18:45] Mylainos commented on #10580
So I need to add a .html in `tests/wpt/web-platform-tests/html/semantics/forms/the-form-element/` and a .ini in `tests/wpt/metadata/html/semantics/forms/the-form-element/` ?

[2016-04-15 19:12] #10093 closed

[2016-04-15 20:06] edunham commented on #861
Oops, saying "fixes" in that PR was going a bit far. The crates aren't actually using it in their CI yet.

[2016-04-15 20:25] jdm commented on #10580
There should be no need for the ini if the test passes. Those files are used for annotation test results that are anything besides PASS.

[2016-04-15 21:13] edunham opened #10636 "Add `tidy` to dependencies' CI"
Creating a new issue to follow up on https://github.com/servo/servo/issues/861, since the packaging-tidy discussion took over that thread.

The `servo_tidy` package is now available on pip at https://pypi.python.org/pypi/servo_tidy/0.0.1 . Currently changes to it need to be deployed manually (secrets are in the "servo build machine secrets" doc), but we can automate the process once it becomes cle

[2016-04-15 21:17] jdm opened #10638 "Make is::<T> return true for anything that derives from T as well"
It currently only checks for "is this object exactly a T", but that's never how I interpret it when reading code. This bites us when code checks for `is::<Document>` and the object is an XMLDocument.

cc @nox

[2016-04-15 21:41] jdm commented on #10636
I'm kind of ambivalent about asking authors of crates that are unrelated to Servo (except that we make use of them) to install our Servo-specific linter. For the license checks in particular, I wonder if we could make use of the crates.io API and fetch that data for local evaluation?

[2016-04-15 21:43] jdm commented on #10638
Wait, the implementation in http://mxr.mozilla.org/servo/source/components/script/dom/bindings/inheritance.rs#17 looks like it does this already...

[2016-04-15 21:43] edunham opened #10639 "`tidy` package needs cleanup to work on external deps"
In order to easily run `tidy` from dependencies' CI for https://github.com/servo/servo/issues/10636, we need a bit more Python packaging work:

- [x] Declare an entry point, so that `tidy` can be run in the current directory by simply invoking `servo-tidy` on the command line. This'll involve adding something like the following to `setup()` in `setup.py` (note that the `tidy:scan` syntax might be

[2016-04-15 22:31] asajeffrey commented on #10334
#10641 adds a panic channel that can be used by any thread (not just a pipeline thread) to report panics. Next up: add the backtrace to that channel, get all threads to report panics, and hook up to mozbrowsererror.

[2016-04-15 22:42] edunham commented on #10636
@jdm Good point. Do you think it'd be an appropriate compromise to ask the crate authors whether they'd be interested in running our lints, and if they aren't, run our own nightly check on clones of their repos to stay informed of how they compare? I expect that some maintainers will welcome the extra tests while others may disagree with the opinions enforced by the lints.

[2016-04-15 22:42] pcwalton opened #10642 "Absolutely-positioned elements break inline flows into two"
Test case:

    <!DOCTYPE html>
    x<div style="position: absolute;"></div>x

This should display "xx" but has two paragraphs in Servo.

Breaks YouTube.

[2016-04-15 23:27] jdm commented on #10636
Most of our lints are for enforcing our code style rules (along with some common code nits). I don't think we gain any useful information by doing so, given how little we end up contributing to many of the crates we depend upon.

Another thing to point out is that Cargo.lock has the complete graph of our dependencies, which is a much larger list.

[2016-04-16 00:35] #10625 closed

[2016-04-16 00:49] ConnorGBrewster commented on #10638
@jdm the issue I was having with XML parsing, was not from this. It was a couple of things, but ultimately updating the xml5ever dependency fixed the issue with parsing the xhtml tests.

[2016-04-16 02:04] pcwalton opened #10645 "Floats with 100% width and a specified height don't take up space"
Test case:

[code]

The X should not overlap the gold background, but it does.

This breaks microsoft.com.

[2016-04-16 02:12] pcwalton opened #10646 "Layout shouldn't try to lay out anything inside an <svg> element as HTML"
We don't support SVG, but we sure shouldn't display anything for this document:

    <!DOCTYPE html>
    <svg><style>Uh</style></svg>

Let's just have the flow constructor ignore anything under an `<svg>` element.

This breaks fivethirtyeight.com.

[2016-04-16 02:31] #10642 closed

[2016-04-16 03:31] #10638 closed

[2016-04-16 04:05] Wafflespeanut commented on #10636
This is gonna be fun! :smile:

[2016-04-16 05:48] zubron commented on #10577
I'd like to work on this issue if it's still available.

[2016-04-16 06:03] notriddle commented on #10577
Have at it!

[2016-04-16 15:51] craftytrickster commented on #10601
I think I might be able to do this one.

[2016-04-16 16:47] askeing commented on #10639
@edunham I'd like to try this one, thx :)

[2016-04-16 17:25] notriddle commented on #10593
[code]

[2016-04-16 22:43] #10533 closed

[2016-04-16 22:58] notriddle commented on #2001
Should have been closed by #10643

[2016-04-16 22:58] #2001 closed

[2016-04-16 23:28] mbrubeck opened #10656 "Intermittent failure of /_mozilla/webgl/conformance-1.0.3/conformance/more/conformance/quickCheckAPI-S_V.html"
First seen in #10643. CC #10373.

[code]

[2016-04-16 23:30] mbrubeck opened #10657 "Intermittent CRASH [expected OK] /webgl/conformance-1.0.3/conformance/limits/gl-min-attribs.html"
First seen in #10643. CC #10373.

[code]

[2016-04-16 23:30] mbrubeck opened #10658 "Intermittent CRASH [expected OK] /webgl/conformance-1.0.3/conformance/textures/texture-draw-with-2d-and-cube.html"
First seen in #10643. CC #10373.

[code]

[2016-04-16 23:34] frewsxcv commented on #7303
Closing as duplicate of https://github.com/servo/servo/issues/7930

[2016-04-16 23:34] #7303 closed

[2016-04-17 00:10] KiChjang commented on #10209
I'm looking at the stencil* functions.

[2016-04-17 00:12] KiChjang opened #10659 "Implement WebGLRenderingContext::stencil*"
Part of #10209.

[2016-04-17 00:47] KiChjang opened #10660 "Intermittent timeout of /_mozilla/webgl/conformance-1.0.3/conformance/more/functions/bufferDataBadArgs.html"
[code]

[2016-04-17 01:05] emilio commented on #10659
Thanks for taking this! Let me know if you need anything! :)

[2016-04-17 02:16] KiChjang commented on #9551
@jfhumann Is there a problem while working on this? I don't think it should take this long to make progress.

[2016-04-17 03:44] #10633 closed

[2016-04-17 04:08] frewsxcv commented on #6711
A pure-Rust ogg encoding/decoder appears: https://github.com/est31/ogg

[2016-04-17 04:21] est31 commented on #6711
Ogg is only the container format, not the complete audio codec, so playback of .ogg files isn't possible with the crate.

But I am writing on a vorbis decoder currently, the ogg crate was the first step.

[2016-04-17 05:48] KiChjang opened #10663 "Intermittent timeout of /webgl/conformance-1.0.3/conformance/misc/shader-precision-format.html"
[code]

[2016-04-17 16:28] #10596 closed

[2016-04-17 17:11] #9994 closed

[2016-04-17 20:07] KiChjang commented on #6963
I'm picking this up. Will start by writing SQLite 4 Rust bindings.

[2016-04-17 20:30] autrilla opened #10671 "Implement uniformMatrix*v"
Part of #10209.

[2016-04-17 20:56] jdm commented on #9749
Work can be seen at https://github.com/servo/servo/compare/master...jdm:content-blocker?expand=1 . Still need to rebase and investigate the performance effects of large lists.

[2016-04-17 21:29] peterjoel opened #10675 "Support Dates in webidl code gen"
Code gen currently doesn't support webidl files that contain Date types.

There are actually two parts to this. Firstly, support dates in general: currently they trigger an error `TypeError: Need conversion for argument type 'Date'`. Secondly, if a date is used as a distinguishing argument for a constructor, then there will be a different Rust compile error in the code generated by [this line](htt

[2016-04-17 21:33] frewsxcv opened #10676 "Hardening prefs setting/resetting"
Right now, it's very easy to make typos with key names when working with `util::prefs`. In an attempt to make the system less-error-prone, I propose that setting (`util::prefs::set_pref`) and resetting (`util::prefs::reset_pref`) only work on keys that *already exist* in the underlying map structure. If they don't exist, we either `panic!` or return `Result::Err` (I don't have strong opinions betw

[2016-04-17 22:18] amarant commented on #6963
It seems there is no commit in [SQLite 4 since 2015-08-15](https://sqlite.org/src4/timeline) and never had an official release, doesn't levelDB seems more mature (already used for indexeddb in Chrome) ?

[2016-04-17 23:18] Manishearth commented on #6963
That might just be because they intend SQLite 4 to be stable. SQLite is under active development, see https://www.sqlite.org/src/timeline . That might be SQLite 3, but I think the codebase is mostly shared.

[2016-04-17 23:20] KiChjang commented on #6963
@Manishearth What was the reason for choosing SQLite4 over SQLite3? If we are to choose SQLite3 instead, we can use existing crates that have already generated bindings for it.

[2016-04-17 23:22] Manishearth commented on #6963
4 is a kv store, 3 isn't. It's not just a version number.

We need a NoSQL db for IDB. Ironically, SQLite 4, is more or less NoSQL.

[2016-04-18 00:19] KiChjang commented on #6963
Here's what I discovered - someone has already written a Python binding for the SQLite 4 backend LSM DB. I wonder if I should do the same, instead of writing bindings directly to SQLite 4?

[2016-04-18 00:27] rebstar6 commented on #10311
Gotcha. I'm definitely to the point where having some tests to code from would be helpful. If you could give me a little more guidance on how to edit what we have (or create new?), that would be great.

I think I have the Referer header setting piece mostly in place (read: http-loader will set the referer header given the some policy and url provided by the calling document). This assumes some pol

[2016-04-18 00:55] jdm commented on #10311
Whoops, didn't get back to you earlier. Window.load_URL looks like a fine choke point.

[2016-04-18 00:59] jdm commented on #10311
In terms of tests, we can't write unit tests for network code that interacts with code in script, so the best we can do there is write tests for the network code given LoadData with certain characteristics. Those would be tests in unit/net/http_loader.rs that verify that the expected Referer header is present in the request that would be sent to the server. For those iframe WPT tests, I'll take a

[2016-04-18 01:05] jdm commented on #10311
As for reviewing, if you'd like to split it up like:
* enabling relevant tests with lots of initial failures
* data types, fields for storing relevant data
* passing around referrer policy and referrer values, storing appropriately
* setting referrer based on policy, updating expected test results

That should make each part straightforward to review.

[2016-04-18 01:08] jdm commented on #6963
"Need" is a strong word, given an existing implementation in Gecko that uses sqlite3.

[2016-04-18 01:51] #10548 closed

[2016-04-18 03:13] shinglyu commented on #10452
Answering myself: Just found this test: https://github.com/mozilla/treeherder/blob/4a357b297fde5d5ba3f93c27a53aea53292f53a9/tests/e2e/test_perf_ingestion.py

[2016-04-18 05:42] shinglyu commented on #10452
Ha, I wrote a [test script](https://github.com/shinglyu/servo-perf/blob/master/test_treeherder_client.py) and successfully submitted to my local treeherder instance. I'll try to hook it up with my test runner.
![_084](https://cloud.githubusercontent.com/assets/3250983/14594641/1732a306-056b-11e6-9423-39c3897fffd6.png)

[2016-04-18 06:46] Wafflespeanut opened #10679 "mach throws exception while downloading Rust compiler when there's no internet..."
URLError: <urlopen error [Errno -2] Name or service not known>

      File "/media/Windows/Mozilla/servo/python/servo/build_commands.py", line 192, in build
        self.ensure_bootstrapped(targets=targets)
      File "./python/servo/command_base.py", line 426, in ensure_bootstrapped
        Registrar.dispatch("bootstrap-rust", context=self.context, target=targets)
      File "/media/Windows/Mozil

[2016-04-18 07:01] Ms2ger commented on #10675
What do you need it for?

[2016-04-18 08:19] shinglyu commented on #10181
@danlrobertson I'm trying to trace the code for flexbox, but I only got so far:
[code]
Not quite sure how it was invoked, and how the functions in `FlexFlow` are triggered. I might need a walkthrough for the FlexFlow's construction.

I found that in `construct.rs`, flex-related called are often delagated to functions for `_block_like`, but in `FlexFlow` there is this logic:
[code]
which make me ve

[2016-04-18 08:32] lygstate opened #10680 "servo never be build on my computer (win10 64 bit or win7 64bit)"
[code]

[2016-04-18 09:55] mmatyas commented on #10310
I've managed to build with ` -C target-feature=+neon` using `opt-level = 2`, but Servo is still slow.

[2016-04-18 12:01] nox commented on #10475
Still need to get that glutin update, right?

[2016-04-18 12:12] emilio commented on #10475
@nox: Yup, see https://github.com/servo/servo/pull/10682

[2016-04-18 12:24] Swatinem commented on #10646
I would like to take this on…
Will drop by later in IRC to ask for guidance :-)

[2016-04-18 12:25] rwakulszowa commented on #10679
I think I could try to fix this. Have we got some kinda message prepared?

[2016-04-18 12:41] danlrobertson commented on #10181
No problem! I'm still a bit of a newcomer, so take everything I say with a grain of salt.

You're correct that the `FlexFlow` is constructed in `construct.rs`, but the main methods for `Flow` that compute the `inline` and `block` size are in [`flow.rs:183-204`](https://github.com/servo/servo/blob/master/components/layout/flow.rs#L183-L204), which are `impl`ed for `FlexFlow` as you have noted above

[2016-04-18 12:54] #10475 closed

[2016-04-18 13:54] jdm opened #10683 "Report for loops using iter() and iter_mut() unnecesarily"
Rust allows using `for foo in &bar` instead of `for foo in bar.iter()`, and `for foo in &mut bar` instead of `for foo in bar.iter_mut()`. Let's add a check to `check_rust` that warns about instances of `.iter()` and `.iter_mut()` that could be replaced. There are a lot of existing instances of this pattern that will need replacing, too.

Note: patterns like `for foo in bar.iter().enumerate()` (ie.

[2016-04-18 14:18] jdm commented on #10646
I would have guessed the `new` method for `BaseFlow`, but I don't see a way to figure out if it's an `<svg>` from inside of it.

[2016-04-18 14:21] jdm commented on #10679
Maybe something like `Error downloading Rust compiler. Please connect to the internet and restart the build.`

[2016-04-18 14:25] peterjoel commented on #10675
@Ms2ger I don't specifically need it. I noticed that [this line](https://github.com/servo/servo/blob/155e4052d150179ea8423a7ea626a84e25409718/components/script/dom/bindings/codegen/CodegenRust.py#L445) would generate invalid code, and thought I'd try to fix it. From there, I found that dates were not working at all.

[2016-04-18 14:29] jdm commented on #10646
We might just be able to use `svg > * { display: none }` in servo.css.

[2016-04-18 15:04] rebstar6 commented on #10311
So I guess the question is, is there any point in writing some unit tests and PR-ing what I have now so I can get an early review on it?

That would include:
- passing policy from document to httploader (think of it as 1-way. The policy will still have to flow backwards, as it can be set via a header)
- setting referrer based on policy
- Note: the policy being passed is set to 'no-referrer' for al

[2016-04-18 15:12] jdm commented on #10311
Sounds like a PR including unit tests would make sense, given the current policy settings :)

[2016-04-18 15:42] Ms2ger opened #10685 "CSS.escape test failures"
These need investigation:
[code]

Possibly the spec changed; I don't know if the Servo implementation or the test needs changing. (If the latter, submit to <https://github.com/w3c/csswg-test>.)

[2016-04-18 15:48] Ms2ger opened #10686 "CGDOMJSProxyHandler_defineProperty handles non-string jsids incorrectly"
I'm working on it.

[2016-04-18 16:48] mbrubeck commented on #6997
Reduced test case:

[code]

[2016-04-18 16:58] Swatinem commented on #10645
I’m kind of looking at this…

Here is the relevant debug log.

[code]

* On the first try this condition is not met: https://github.com/servo/servo/blob/master/components/layout/floats.rs#L366
* So it continues and at the next loop it returns a rect with the full width but a higher block height here: https://github.com/servo/servo/blob/master/components/layout/floats.rs#L348
* But then later here,

[2016-04-18 17:03] Swatinem commented on #10645
I can continue looking into this on wednesday. Any pointers on where I should look would be appreciated :-)

[2016-04-18 17:48] mbrubeck commented on #6997
The float avoider fails to move a line down when there's no way to fit the first fragment on a line without collisions.  For example, the following test case doesn't go into an infinite loop, but it incorrectly lays out the second div overlapping the first:

[code]

[2016-04-18 18:49] metajack commented on #4144
@SimonSapin mentioned he might have a look at this.

[2016-04-18 18:54] rwakulszowa commented on #10679
Ok, that was easy. I decided to change the message to
"Error downloading Rust compiler; are you connected to the internet?"
because there is a very similar message in the file already, so i kind of thought it may be a good idea to keep it uniform.

[2016-04-18 19:43] KiChjang commented on #6963
Per the conversation at [IRC](http://logs.glob.uno/?c=mozilla%23servo&s=18+Apr+2016&e=18+Apr+2016#c409593), it looks like there's only 2 viable alternatives:
* SQLite3; or
* LevelDB
SQLite4 is determined to be not mature enough for implementation now.

[2016-04-18 19:48] yoava333 commented on #10680
@lygstate could you describe what are you doing?

[2016-04-18 20:01] notriddle commented on #10621
Probably because `vertical_align` isn't mentioned anywhere in anything related to table layouts.

[2016-04-18 20:01] edunham commented on #10614
@autrilla thanks for fixing this!

[2016-04-18 20:01] #10614 closed

[2016-04-18 20:14] frewsxcv commented on #10621
Yes, this does sound like a reasonable explanation.

[2016-04-18 20:30] frewsxcv commented on #7888
Crate that might help with this: https://github.com/sfackler/rust-native-tls

[2016-04-18 20:51] #9269 closed

[2016-04-18 21:20] jdm opened #10692 "Report lines that start with a logical operator (&& or ||)"
The code style we follow recommends that operators go at the end of the first line when splitting across multiple lines. We should add a check to `check_rust` that looks for lines that start with optional whitespace followed by `&&` or `||`.

Code: `python/tidy/servo_tidy/tidy.py`
Test: we should add a test to `python/tidy/servo_tidy_tests/` and run it via `./mach test-tidy --self-test`

[2016-04-18 21:23] mbrubeck commented on #10692
There are a number of places where we have `||` at the start of a line but it is the beginning of a closure, not an operator.  I'm not sure if there's a good way to detect this, besides rustfmt.

[2016-04-18 21:27] emilio opened #10693 "webgl: Implement a type safe wrapper for WebGL-related validations"
See the discussion in https://github.com/servo/servo/pull/10443#issuecomment-211566609

Basically, doing our WebGL validations using a more strongly-typed system is worth it, not just because of improved readability, but also for improved safety.

Probably a good API for this is not trivial to design.

As an example, I proposed the following two patterns:
### `Validator`

[code]
### `Validable`

[

[2016-04-18 21:29] Manishearth commented on #10542
Actually, yes it can happen, because anyone can send a `GetCookiesForUrl` message and get whatever cookie they want. Forgot about that message.

[2016-04-18 21:31] asajeffrey commented on #10542
Ah, oops. So if an attacker can work out how to send a `GetCookiesForUrl` message, then they can get access to arbitrary cookies. Not good.

[2016-04-18 21:33] #10639 closed

[2016-04-18 21:33] Manishearth commented on #10542
Also, currently script handles CORS, so a compromised script thread can bypass CORS and read/make arbitrary http requests on behalf of the user with cookies. Given that they can anyway get the cookies through GetCookiesForUrl, this is just an additional attack vector for the same vulnerability.

[2016-04-18 21:35] jdm commented on #10692
Blech. Maybe limit this check to && to start.

[2016-04-19 02:33] lygstate commented on #10680
@yoava333  I was using the newest msys2,
`
update-core
`
And then following the README.md to do the building.
After all ,the error that I post before are appeared.

[2016-04-19 03:31] Wafflespeanut commented on #10692
Am I right that the only place where we should avoid checking `||` is when it's inside a parentheses? Looking at the code, almost all the closures already have whitespaces around them, other than the ones like, `thing(|| ...`

[2016-04-19 03:36] frewsxcv commented on #10692
[code]

Is a valid Rust statement (`a` is a closure that returns a unit type `()`). It doesn't fall within parenthesis.

[2016-04-19 03:43] Wafflespeanut commented on #10692
Yeah, and it does have spaces around `||`. If tidy suggests that we should write `a = || ()`, instead of `a = ||()` (or something else), isn't that better? I was thinking of situations where tidy shouldn't enforce having whitespace around `||`, and `closure_getting_fn(|| ...)` seemed to be the only place.

[2016-04-19 03:55] KiChjang opened #10698 "Intermittent failure of /_mozilla/webgl/conformance-1.0.3/conformance/more/conformance/quickCheckAPI-S_V.html"
[code]

[2016-04-19 03:56] KiChjang opened #10699 "Intermittent crash of /webgl/conformance-1.0.3/conformance/textures/gl-teximage.html"
[code]

[2016-04-19 04:18] frewsxcv commented on #10698
Duplicate of https://github.com/servo/servo/issues/10698

[2016-04-19 04:52] KiChjang commented on #10698
#10656 is `quickCheckAPI-G_I.html`; this is `quickCheckAPI-S_V.html`.

[2016-04-19 06:37] shinglyu commented on #10181
@danlrobertson : Thank you, that was a very helpful explanation.

[2016-04-19 09:00] mmatyas commented on #10308
Using `lto = true` and `opt-level = 2` did fix the build, but now I get a black screen. Not sure if related.

[2016-04-19 09:01] zwn commented on #9256
`unused-extern-crates` can be turn on with cmdline too. To quickly test it try `export RUSTFLAGS="-w unused-extern-crates"`. Building with it set reports about 20 warnings. I could add this flag to mach.

@jdm  Would that qualify as "being on by default"?

[2016-04-19 11:53] Ms2ger opened #10701 "Write a test for favicon base urls"
@paulrouget: See #10592

[2016-04-19 12:52] #10575 closed

[2016-04-19 13:13] jdm opened #10702 "Report lines that are missing a space after `:`"
For members of structures, we want to catch any lines like `member_name:5`. We should add a rule to `check_rust` to enforce this code style.

Code: `python/tidy/servo_tidy/tidy.py`
Test: add a test to `python/tidy/servo_tidy_tests/test_tidy.py` and run with `./mach test-tidy --self-test`

[2016-04-19 13:21] jdm commented on #6281
Gecko's proposed model is the one we're already using.

[2016-04-19 13:21] #6281 closed

[2016-04-19 13:24] jdm commented on #5242
#10630 is the design I had in mind for this. It's not really worth merging until we actually create instances of the Remote ones.

[2016-04-19 13:37] est31 commented on #10236
Now that https://github.com/servo/glutin/pull/83 is merged, can you check again?

If it still doesn't work: can you try the cursors example from https://github.com/tomaka/glutin/ and check whether all cursors match? Then we know whether its an upstream bug or not.

[2016-04-19 14:05] jdm commented on #9256
I guess so!

[2016-04-19 14:26] frewsxcv commented on #10698
Woops, sorry about that.

[2016-04-19 15:12] KiChjang opened #10704 "Intermittent timeout of /_mozilla/webgl/conformance-1.0.3/conformance/textures/gl-get-tex-parameter.html"
[code]

[2016-04-19 15:21] aeischeid commented on #10702
Totally new to Servo, but looking for a way to contribute. Novice with Python, but looks like this would be more heavy on the regex with lots of similar python examples to work from.

I would guess not, but as part of this would you want fixes for the lines this would report on too?

[2016-04-19 15:23] aeischeid commented on #10702
`member_name:5` should be `member_name: 5` ?

[2016-04-19 15:24] KiChjang commented on #10702
No need for fixes, we just test-tidy to report on such occurrences. And yes to your second question.

[2016-04-19 15:25] Ms2ger commented on #9256
Last I checked, there was an issue with `macro_use` crates, so I'm not sure if it should be on by default.

[2016-04-19 15:36] jdm opened #10705 "Initial canvas creation relies on DOM width and height attributes, but layout relies on computed width and height"
Tests like `texture-size-limit.html` in the webgl suite use `<canvas id="example" width="32" height="32" style="width: 40px; height: 40px;"></canvas>` and this screws us up in a delightful fashion, since `HTMLCanvasElement::get_size` uses `Width()` and `Height()`. This is a cause of assertions where the pixel data retrieved from webgl doesn't match the stride * height that layout expects.

cc @emi

[2016-04-19 15:36] zwn commented on #9256
What kind of issue? How can I check it? Well, I'll do PR anyway. We can drop it if that turns out to be better.

[2016-04-19 15:37] Ms2ger commented on #10705
We're unfortunately supposed to scale for code like that.

[2016-04-19 16:20] KiChjang opened #10709 "Remove extra definition of WHITESPACE under components/util/str.rs"
`HTML_SPACE_CHARACTERS` already does the same job and it looks like it is being used more than `WHITESPACE`

Code: `components/util/str.rs`, and all other files that reference `util::str::WHITESPACE`

[2016-04-19 16:29] jdm commented on #10702
Well, we can't merge the new check if there are any existing incorrect lines, so yes, fixes may be required.

[2016-04-19 16:38] aeischeid commented on #10702
is this a valid struct in rust for the test?

[code]

[2016-04-19 16:53] KiChjang commented on #10702
Oh, sorry, I misunderstood, I thought you meant using the test-tidy tool to fix the code that has problems. You'll have to manually fix those lines that have problems. And that looks like a good test case.

[2016-04-19 17:07] edunham commented on #10636
The boilerplate for making `tidy` run in a non-python and containers+mac test suite is, in `.travis.yml`,

[code]

[2016-04-19 17:23] aeischeid commented on #10702
Got it close I think. Not catching the strings quite right yet for reason unknown to me.

`./mach test-tidy` passed, so it looks like there are no lines to fix

[2016-04-19 17:24] mbrubeck commented on #6997
@pcwalton has work in progress in #10691 that fixes this.

[2016-04-19 17:26] zakorgy commented on #10709
Can I try this one?

[2016-04-19 17:32] KiChjang commented on #10709
Sure thing!

[2016-04-19 18:25] edunham opened #10716 "Tidy needs smarter license validation logic"
Currently right [here](https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py#L130), we're blindly comparing a file's license against those listed in https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/licenseck.py. This causes tidy to needlessly fail a repo when the copyright year differs from one in a valid license header. I haven't found an example yet, but it w

[2016-04-19 18:30] aneeshusa commented on #10716
+1, this also makes the license check to be orthogonal to the shebang check; right now one of the license header options hard-codes a python shebang, but these should be checked separately.

[2016-04-19 19:31] timvandermeij commented on #10679
Fixed in https://github.com/servo/servo/commit/79a1dfe2263166fb4cea1c6469ad618251347755 ?

[2016-04-19 19:33] timvandermeij commented on #10574
Fixed by #10634?

[2016-04-19 19:34] #10574 closed

[2016-04-19 19:34] #10679 closed

[2016-04-19 20:27] edunham opened #10719 "editor modelines should be a tidy error"
Somewhere in https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py we should check for editor detritus like
[code]

see https://www.gnu.org/software/emacs/manual/html_node/emacs/Specifying-File-Variables.html#Specifying-File-Variables, http://vim.wikia.com/wiki/Modeline_magic , and take a look through servo for any other editors' leftovers to catch if they exist.

As of https:/

[2016-04-19 20:58] metajack opened #10720 "investigate performance of octane in servo vs. firefox"
Since we use the same JS engine as Firefox, we should expect roughly equivalent performance on JS benchmarks. I decided to investigate to verify this was true, and was a little surprised by the results.

My data is collected here:
https://docs.google.com/spreadsheets/d/1NjhzcLVSv1vyf_n7EOdZOkOXrdQ4z0I8T1Q8thXbhmU/edit

I used the last published Firefox 39 nightly since current Servo master uses SM

[2016-04-19 21:06] jdm commented on #10720
Is there any noticeable difference if we disable incremental GC in Firefox?

[2016-04-19 21:11] edunham commented on #10719
[code]

[2016-04-19 21:49] metajack commented on #10720
The spreadsheet is updated. GeckoNoInc is clean profile of Nightly39 with javascript.options.mem.gc_incremental = false. Here's the comparison with ServoPlus and GeckoNoInc:

Mandreel	21.91%
MandreelLatency	46.36%
Richards	60.93%
Deltablue	67.25%
EarleyBoyer	73.93%
Total	88.11%
Crypto	90.02%
Raytrace	90.49%
Box2D	93.18%
pdf.js	98.86%
NavierStokes	101.99%
Gameboy	103.04%
zlib	103.52%
CodeLoad	106.9

[2016-04-19 21:50] metajack commented on #10720
It would be useful if someone else also tried to reproduce these numbers to rule out measurement error. I'd just run Servo master vs. FF39 with incremental GC disabled and skip the other versions.

[2016-04-19 22:22] jdm opened #10724 "Canvas elements aren't aligned with other inline-block elements"
Firefox:
<img width="146" alt="screen shot 2016-04-19 at 6 19 31 pm" src="https://cloud.githubusercontent.com/assets/27658/14657343/6461b43c-065b-11e6-9c42-b7ffd6b3c61b.png">
Servo:
<img width="148" alt="screen shot 2016-04-19 at 6 20 07 pm" src="https://cloud.githubusercontent.com/assets/27658/14657351/6bff05a0-065b-11e6-99b7-d88ffeaada7b.png">

[code]

[2016-04-19 22:39] aeischeid commented on #10683
Since I was touching the check_rust method earlier I think I have the sense for how to do this.

"places where the return value of iter() is further refined..." - I am only a little bit familiar with Rust syntax. Are there cases where the return val might be further refined but .iter() is followed by a space character?

[2016-04-19 22:44] gsnedders commented on #10567
This is essentially just a dupe of #9513.

[2016-04-19 22:45] gsnedders commented on #9821
@Ms2ger can we have some link to something somewhere which says *why* they were disabled?

[2016-04-19 22:50] jdm opened #10726 "Canvases elements have extraneous padding"
Firefox:
<img width="45" alt="screen shot 2016-04-19 at 6 49 59 pm" src="https://cloud.githubusercontent.com/assets/27658/14658094/88fb59c0-065f-11e6-9214-7bf654c4c27a.png">
Servo:
<img width="49" alt="screen shot 2016-04-19 at 6 50 16 pm" src="https://cloud.githubusercontent.com/assets/27658/14658106/94078334-065f-11e6-88af-a1fc24545802.png">

[code]

[2016-04-19 22:52] jdm commented on #10726
With an encapsulating div that forces a particular height it looks slightly better:
Firefox:
<img width="42" alt="screen shot 2016-04-19 at 6 51 31 pm" src="https://cloud.githubusercontent.com/assets/27658/14658148/d3cccb00-065f-11e6-83f7-9fff676dbd4e.png">
Servo:
<img width="43" alt="screen shot 2016-04-19 at 6 51 26 pm" src="https://cloud.githubusercontent.com/assets/27658/14658149/d6c56308-065f

[2016-04-19 23:27] metajack opened #10728 "upgrade mach to get new features"
The new command aliases looks really useful:
https://groups.google.com/forum/#!topic/mozilla.dev.platform/weZvWrpVzvw

[2016-04-20 01:09] KiChjang opened #10730 "Intermittent crash of /webgl/conformance-1.0.3/conformance/textures/texture-hd-dpi.html"
[code]

[2016-04-20 01:24] jdm commented on #10683
That shouldn't be possible, no.

[2016-04-20 02:28] shinglyu commented on #10452
@larsbergstrom I'm not sure how to get the revision information when I submit data to treeherder. I am thinking about dumping the `git log -n 1` output to a file, and load it when I run the test. But I'm not sure if that's flexible enough if we want to move the test to our CI infrastructure in the future. How can I get things like commit hash, author, and timestamp when I run the perf test on CI?

[2016-04-20 02:38] shinglyu commented on #10452
@larsbergstrom @wlach Also, I'm not sure how to present the data point. Talos' TP5 use this kind of summarization

([ref](https://wiki.mozilla.org/Buildbot/Talos/Tests#tp5))

That is one (median) time for each website, and one mean time for the whole suite.
But for `performance.timing` we have [multiple measurements](https://www.w3.org/TR/2012/REC-navigation-timing-20121217/#sec-window.performance

[2016-04-20 07:02] zwn commented on #10595
@jdm I have updated the title and description of this issue to cover also the case with space in path. Feel free to further tweak it and/or relabel.

[2016-04-20 07:48] Ms2ger opened #10732 "Implement the :read-only and :read-write pseudo-classes"
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#selector-read-only>.
* Code: `components/style/selector_impl.rs`, `components/layout/wrapper.rs`, `components/script/dom/element.rs`.
* Test: `html/semantics/selectors/pseudo-classes/readwrite-readonly.html`.

But note <https://lists.w3.org/Archives/Public/www-style/2016Apr/0294.html>.

[2016-04-20 07:58] Ms2ger opened #10733 "Canvas shows fallback content when display is set to block"
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#embedded-content-rendering-rules>.
* Code: Not sure.
* Test: `html/rendering/replaced-elements/embedded-content-rendering-rules/canvas-fallback.html`.

[2016-04-20 08:03] Ms2ger opened #10734 "Complete implementation of Document::createEvent."
This is a meta issue; don't just go and try to fix it.

Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>.
* Code: `src/components/script/dom/document.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:06] Ms2ger opened #10735 "Drop support for "keyevents" in Document::createEvent"
Blocks #2185, #10734.

This was in the spec, but it no longer is.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>.
* Code: `components/script/dom/document.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:19] Ms2ger opened #10736 "Implement the "storageevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `StorageEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>, <https://html.spec.whatwg.org/multipage/#storageevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/storageevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:23] Ms2ger opened #10737 "Implement the "closeevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `CloseEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>, <https://html.spec.whatwg.org/multipage/#closeevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/closeevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:25] Ms2ger opened #10738 "Implement the "errorevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `ErrorEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>, <https://html.spec.whatwg.org/multipage/#errorevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/errorevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:27] Ms2ger opened #10739 "Implement the "focusevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `FocusEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>, <https://w3c.github.io/uievents/#focusevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/focusevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:29] Ms2ger opened #10740 "Implement the "progressevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `ProgressEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>, <https://xhr.spec.whatwg.org/#progressevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/progressevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:31] Ms2ger opened #10741 "Implement the "svgevents" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve adding "svgevents" to the "htmlevents" match condition in `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>.
* Code: `components/script/dom/document.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:34] Ms2ger opened #10742 "Implement the "webglcontextevent" argument to Document::createEvent"
Blocks #2185, #10734.

This will involve writing a `new_uninitialized` function on `WebGLContextEvent` and calling it from `Document::CreateEvent`.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createevent>.
* Code: `components/script/dom/document.rs`, `components/script/dom/webglcontextevent.rs`.
* Test: `dom/nodes/Document-createEvent.html`.

[2016-04-20 08:39] Ms2ger opened #10743 "DOMImplementation::createDocument should set content type based on namespace"
Blocks #2185.

This will involve passing the appropriate argument to the `XMLDocument` constructor.

* Spec: <https://dom.spec.whatwg.org/#dom-domimplementation-createdocument>.
* Code: `components/script/dom/domimplementation.rs`.
* Test: `./mach test-wpt dom/nodes/DOMImplementation-createDocument.html`.

[2016-04-20 08:49] Ms2ger opened #10744 "Calling DOM constructors without new should throw"
Blocks #2185.

Depends on the in-progress SpiderMonkey upgrade. (*Do not attempt this right now.*)

* Spec: <https://www.w3.org/Bugs/Public/show_bug.cgi?id=22808>.
* Code: `components/script/dom/bindings/codegen/CodegenRust.py`.
* Test: `dom/events/Event-constructors.html`.

See <https://hg.mozilla.org/mozilla-central/rev/de377011ed9d>.

[2016-04-20 09:19] Ms2ger opened #10746 "Implement Node::isSameNode"
Blocks #2185.

Fixing this bug will allow you to say you implemented one of the most useless features in the Web platform.

* Spec: <https://dom.spec.whatwg.org/#dom-node-issamenode>.
* Code: `components/script/dom/node.rs`, `components/script/dom/webidls/Node.webidl`.
* Test: to be [written](https://github.com/servo/servo/blob/master/tests/wpt/README.md#writing-new-tests) (at `dom/nodes/Node-isSa

[2016-04-20 09:24] Ms2ger opened #10747 "Implement Node::rootNode"
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-node-rootnode>.
* Code: `components/script/dom/node.rs`, `components/script/dom/webidls/Node.webidl`.
* Test: `dom/nodes/rootNode.html`.

[2016-04-20 09:27] Ms2ger opened #10748 "Implement Element::hasAttributes"
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-element-hasattributes>.
* Code: `components/script/dom/element.rs`, `components/script/dom/webidls/Element.webidl`.
* Test: to be written (at `dom/nodes/Element-hasAttributes.html`).

[2016-04-20 11:36] zwn commented on #10692
I'll start with '&&'.

[2016-04-20 11:43] KiChjang commented on #10709
Fixed in #10745.

[2016-04-20 11:43] #10709 closed

[2016-04-20 12:18] wlach commented on #10452
@shinglyu For getting commit information, I wonder if it might not be easiest to use a library like GitPython (http://gitpython.readthedocs.org/)

For the second question, I think definitely seperating by measurement makes the most sense. However, I would question the utility of measuring anything but the time for the document being fully loaded and painted (which is what tp5o measures). There's a

[2016-04-20 12:26] Ms2ger commented on #9821
The problem is that they have a higher-than-average number of non-ASCII characters, and our incremental parsing code is broken in a way that can turn a non-ASCII character into two U+FFFDs if the network boundary falls in the middle of a character.

[2016-04-20 14:37] ineol commented on #10747
I would like to take this one please.

[2016-04-20 14:48] Ms2ger commented on #10747
Go for it!

[2016-04-20 15:05] canaltinova commented on #10748
I would like to work on this one.

[2016-04-20 15:06] jdm opened #10752 "svg element namespace is incorrect"
From #10684:
[code]
[code]

[2016-04-20 15:10] zwn commented on #10692
@jdm Thanks for a great task description!

[2016-04-20 15:24] SimonSapin commented on #10692
Is it really a useful thing to enforce? Python recommends the opposite https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator

Also, are we re-inventing half of rustfmt in Python without a proper Rust parser?

[2016-04-20 15:31] jdm commented on #10748
Please do!

[2016-04-20 15:36] jdm commented on #10692
@SimonSapin Consistent style is useful, and we've traditionally requested operators be on the previous line. rustfmt doesn't satisfy our needs yet, and I want to minimize the number of stylistic things that I look out for in reviews.

[2016-04-20 15:41] jdm commented on #10417
Is this complete?

[2016-04-20 15:48] jdm opened #10753 "Intermittent pass in /html/browsers/browsing-the-web/scroll-to-fragid/scroll-to-top.html and /html/browsers/browsing-the-web/scroll-to-fragid/scroll-frag-percent-encoded.html and /html/browsers/browsing-the-web/scroll-to-fragid/scroll-to-id-top.html"
[code]

[code]

[2016-04-20 15:52] autrilla commented on #10417
There's still the matrix functions (#10417), for which I'm just waiting on a PR to gleam https://github.com/servo/gleam/pull/78

[2016-04-20 16:14] jdm opened #10755 "Canvases without contexts should not draw anything"
In `build_fragment_type_specific_display_items` we have code that deals with obtaining the pixels of a canvas element. In the event that the canvas has no context (ie. `canvas.getContext('2d')` hasn't been called) we currently synthesize a vector of opaque white pixels. This doesn't match what any other browser does, and we should just ignore it instead.

Code: `components/layout/display_list_buil

[2016-04-20 16:29] g-ortuno commented on #9392
dati91: I don't think it's necessarily a blocker. Chromium doesn't implement it yet either so we just use an [array](
https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/modules/bluetooth/BluetoothDevice.idl&sq=package:chromium&type=cs&l=32).

[2016-04-20 18:31] amarant commented on #10746
Can I take this one ?

[2016-04-20 18:38] timvandermeij commented on #9650
Fixed by #9968?

[2016-04-20 18:47] #9650 closed

[2016-04-20 18:49] jdm commented on #10746
Sure :)

[2016-04-20 18:52] jdm opened #10759 "Intermittent pass in /webgl/conformance-1.0.3/conformance/programs/invalid-UTF-16.html"
[code]

[2016-04-20 19:14] #8678 closed

[2016-04-20 19:14] #9944 closed

[2016-04-20 20:20] jdm opened #10760 "Intermittent fail in /_mozilla/mozilla/sslfail.html"
[code]

[2016-04-20 20:23] jdm commented on #10760
Reftest analyzer shows that this is a white screen.

[2016-04-20 21:24] jdm opened #10763 "Support [] default value for sequences"
Adding `void passOptionalSequenceWithDefault(optional sequence<long> seq = []);` or `dictionary Foo { sequence<DOMString> = []; };` yields `TypeError: Can't handle non-null default value here`.

[2016-04-20 21:26] jdm opened #10764 "Add a test for required WebIDL dictionary members"
It looks like CodegenRust.py supports them, but they're not used anywhere in TestBinding.webidl and we don't have any WPT test to verify it.

[2016-04-21 00:01] #10759 closed

[2016-04-21 00:03] jdm commented on #10656
This test literally generates random values 100 times and tries them against the API. We should probably disable it for now until we spend more time hardening the WebGL APIs.

[2016-04-21 02:18] saneyuki commented on #10735
I'll take this

[2016-04-21 02:26] frewsxcv opened #10771 "`plugins::utils::unsafe_context` is unused and can be removed"
[Link to code](https://github.com/servo/servo/blob/75d99eec0ff02718f1ec8d1b6fd58fff7c2d6fb3/components/plugins/utils.rs#L76-L98).

[2016-04-21 02:34] frewsxcv commented on #10771
Also, [make this](https://github.com/servo/servo/blob/75d99eec0ff02718f1ec8d1b6fd58fff7c2d6fb3/components/plugins/lib.rs#L42) not public. The `utils.rs` file shouldn't be accessible by other crates; the functions should only be used internally with the `plugins` crate. Then, in the future, we'll be warned if any of these functions become unused.

[2016-04-21 03:31] KiChjang commented on #9551
Unassigning since I didn't see progress for 20 days.

[2016-04-21 03:48] shinglyu commented on #10452
@wlach I wants to separate my build step and test step, so I'll package the servo binary into a zip and copy it to my test runner's directory. So the test runner doesn't need to access the Servo code base. I think I'll use `git log`'s formatting option to export the commit message as a JSON string, and dump it into the zip file.

Your suggestion makes a lot of sense. I think I'll only submit the `

[2016-04-21 04:05] Wafflespeanut opened #10772 "Intermittent TIMEOUT in /webgl/conformance-1.0.3/conformance/rendering/gl-scissor-test.html"
▶ TIMEOUT [expected OK] /webgl/conformance-1.0.3/conformance/rendering/gl-scissor-test.html
      │
      │ DESCRIPTION: Check if glScissor setting works.
      │ test antialias: false
      │ PASS context exists
      │
      │ test with clear
      │ checking rect: effective width or height is zero
      │ PASS should be black
      │ ERROR:js::rust: Error at http://web-platform.test:8000/webgl/

[2016-04-21 04:12] Wafflespeanut opened #10773 "Intermittent TIMEOUT in /webgl/conformance-1.0.3/conformance/misc/instanceof-test.html"
▶ TIMEOUT [expected OK] /webgl/conformance-1.0.3/conformance/misc/instanceof-test.html
      │
      │ DESCRIPTION: WebGL instanceof test.
      │ Tests that instanceof works on WebGL objects.
      │
      │ PASS gl instanceof WebGLRenderingContext is true
      │ PASS gl.createBuffer() instanceof WebGLBuffer is true
      │ PASS gl.createFramebuffer() instanceof WebGLFramebuffer is true
      │

[2016-04-21 08:11] mskrzypkows commented on #10736
I'd like to take this one.

[2016-04-21 09:11] #10392 closed

[2016-04-21 09:11] #10540 closed

[2016-04-21 09:50] Ms2ger commented on #10736
Go for it!

[2016-04-21 10:27] Ms2ger opened #10778 "Pass the FileAPI test suite."
* Specification: <https://w3c.github.io/FileAPI/>.
* Tests: `tests/wpt/web-platform-tests/FileAPI/`.
* Metadata: `tests/wpt/metadata/FileAPI/`.
* Upstream tests: <https://github.com/w3c/web-platform-tests/tree/master/FileAPI>.

[2016-04-21 10:29] Ms2ger opened #10779 "Use `optional` for the Blob constructor"
Blocks #2185.

To match https://github.com/w3c/FileAPI/issues/33

* Spec: <https://w3c.github.io/FileAPI/#blob>.
* Code: `components/script/dom/blob.rs`, `components/script/dom/webidls/Blob.webidl`.
* Test: `FileAPI/blob/Blob-constructor.html`.

[2016-04-21 12:49] wlach commented on #10452
@shinglyu: BTW, soon treeherder will have the capability of ingesting github revision data (on a push level, no less) which I think will work much better than you submitting revision data by hand. So I'd just get something hacky working there for now (your solution sounds fine) and hopefully we can switch to something better later in this quarter.

https://bugzilla.mozilla.org/show_bug.cgi?id=1264

[2016-04-21 13:16] Ms2ger opened #10780 "`find_utf16_code_unit_offset` ignores `-Z replace-surrogates`"
This makes `/dom/nodes/CharacterData-surrogates.html` crash.

@SimonSapin you've got blame here.

[2016-04-21 13:35] Ms2ger commented on #5683
https://github.com/w3c/wptrunner/issues/186

[2016-04-21 13:35] #5683 closed

[2016-04-21 13:36] Ms2ger commented on #8753
Should find where the spec says this; if it doesn't say that, we should get it fixed.

[2016-04-21 13:38] Ms2ger opened #10781 "Implement the :valid and :invalid pseudo-classes"
Blocks #2185, #2968.
- Spec: https://html.spec.whatwg.org/multipage/#selector-invalid.
- Code: `components/style/selector_impl.rs`, `components/layout/wrapper.rs`, `components/script/dom/element.rs`.
- Test: `html/semantics/selectors/pseudo-classes/valid-invalid.html`, `dom/nodes/Element-closest.html`.

[2016-04-21 13:52] Ms2ger opened #10782 "`title_changed` is too eager"
[code]

changes the title of the window to "Virtual Library".

[2016-04-21 14:04] matthiaskrgr opened #10783 "webrender: crash when quitting after resizing window"
sample website:

[code]

I'm using i3.
I launch servo with "./mach run -r -w test.html" and resize both, the horizontal and the vertical window border.

If I now terminate servo by pressing ESC, it crashes:

[code]

[2016-04-21 14:05] matthiaskrgr commented on #10783
(only seems to happen with webrender (-w))

[2016-04-21 14:19] shssoichiro commented on #10781
I'd like to claim this one.

[2016-04-21 14:21] larsbergstrom commented on #10310
@glennw

Do you know how to debug situations such as the recent one on MacOS where the shaders are being run on the CPU instead of the GPU? @mmatyas is seeing really high CPU usage on ARM right now, and while they work on getting better symbolic info into the binary and out of the profiler, I was wondering if you have any pointers for them on how to rule out accidental fallbacks to OpenGL CPU exec

[2016-04-21 14:53] KuoE0 commented on #10737
I'd like to try on this issue! Are there some references I can study? Thanks!

[2016-04-21 15:14] Ms2ger opened #10787 "Implement beforeunload event and infrastructure"
Blocks #2968.

*This is not an easy bug.*

* Spec: <https://html.spec.whatwg.org/multipage/#the-event-handler-processing-algorithm>, <https://html.spec.whatwg.org/multipage/#unloading-documents>.
* Code: `components/script/dom/eventtarget.rs`, `components/script/dom/document.rs`, and more.
* Test: `html/webappapis/scripting/events/event-handler-processing-algorithm.html`, probably more to be writt

[2016-04-21 15:30] shssoichiro commented on #10781
Do we have existing methods for checking the validity of an input, e.g. for form submission?

[2016-04-21 16:02] Ms2ger commented on #10737
Go for it! You can look at existing `Event` classes like `UIEvent`.

[2016-04-21 16:31] nox commented on #7598
Cc @Ms2ger (re :scope)

[2016-04-21 16:57] jdm opened #10789 "Appveyor build is broken"
Caused by #10749:
[code]

cc @SimonSapin

[2016-04-21 17:16] KiChjang opened #10790 "Intermittent failure of /webgl/conformance-1.0.3/conformance/uniforms/uniform-location.html"
[code]

[2016-04-21 17:30] jdm commented on #10781
Hmm, the problem here is that there is a student group currently working on implementing form input validation. The work to implement the pseudo-class is separate from that, but difficult to test without the actual validation present. I'd like to hold off on this until the necessary pieces are in place.

[2016-04-21 17:45] SimonSapin commented on #10789
`build.py` currently relies on this behavior to resolve `import data`:

https://docs.python.org/2/library/sys.html#sys.path

I don’t believe this behavior is OS-dependent, so I don’t understand why we get this error on Windows/AppVeyor but not other platforms/Buildbot. Nevertherless, I’ll submit a PR to explicitly add the relevant directory to `sys.path`. Hopefully this will help.

[2016-04-21 18:33] jdm opened #10793 "Create unit tests for the image cache"
This probably makes the most sense to start after #10767 merges, since the current setup is very dependent on initiating network requests from the image cache.

[2016-04-21 19:24] yoava333 commented on #10779
I'd like to take this

[2016-04-21 19:25] jdm commented on #10779
It's yours!

[2016-04-21 20:36] jdm commented on #10760
If it's a white screen that means that the dynamically-added iframe hasn't been laid out, so this is rather mysterious.

[2016-04-21 20:41] nox opened #10797 "Put each undefined symbol on its own line in check_dynamic_symbols.py"
See the current output of the script in https://github.com/servo/servo/pull/10756#issuecomment-213076077.

Files:
 * `etc/ci/check_dynamic_symbols.py`

[2016-04-21 20:58] yoava333 commented on #6442
@jdm I've tested again and this issue doesn't exists anymore, I suggest closing this issue.

[2016-04-21 21:23] jdm commented on #10760
Nevermind, it's the iframe contents that were white. That makes more sense, at least.

[2016-04-21 21:38] jdm commented on #6442
Yes, I would expect this to be fixed by 61e3a9545ecd3b93e275af6dfa425a7fdd42f9db. Thanks!

[2016-04-21 21:38] #6442 closed

[2016-04-21 23:25] jdm commented on #10760
Fascinating - #10798 revealed that the iframe is empty, despite the expected iframe contents including text along with the picture. This suggests to me that something's broken with our code that decides if all pipelines are ready for screenshotting...

[2016-04-22 00:33] askeing commented on #10797
Does this for modifying the output of "Unexpected dynamic symbols in binary ..."?
If that's true, may I have a try? :)

[2016-04-22 01:58] #10790 closed

[2016-04-22 01:58] jdm commented on #10790
Doesn't look like this is actually intermittent.

[2016-04-22 03:10] daoshengmu commented on #10755
I wanna try this bug. I take this.

[2016-04-22 03:12] jdm commented on #10755
Please do!

[2016-04-22 04:36] #10705 closed

[2016-04-22 07:08] aneeshusa commented on #10797
@askeing yes indeed. Go for it!

[2016-04-22 10:02] nox commented on #10477
We can probably reuse the design I did for ChildrenList in our NodeList implementation.

https://github.com/servo/servo/blob/master/components/script/dom/nodelist.rs

[2016-04-22 13:30] jdm commented on #10773
Should be fixed by #10727.

[2016-04-22 13:30] #10773 closed

[2016-04-22 13:30] jdm commented on #10772
#10727.

[2016-04-22 13:30] #10772 closed

[2016-04-22 13:31] jdm commented on #10730
#10727

[2016-04-22 13:31] #10730 closed

[2016-04-22 13:31] jdm commented on #10699
#10727

[2016-04-22 13:31] #10699 closed

[2016-04-22 13:31] jdm commented on #10663
#10727

[2016-04-22 13:31] #10663 closed

[2016-04-22 13:32] jdm commented on #10658
#10727

[2016-04-22 13:32] #10658 closed

[2016-04-22 13:33] jdm commented on #10657
#10727

[2016-04-22 13:33] #10657 closed

[2016-04-22 15:41] jdm commented on #9463
Duplicate of #8815.

[2016-04-22 15:41] #9463 closed

[2016-04-22 15:42] jdm commented on #8961
This error doesn't appear any more since we refined ipc-channel's error reporting.

[2016-04-22 15:42] #8961 closed

[2016-04-22 15:42] #9336 closed

[2016-04-22 15:42] #9312 closed

[2016-04-22 15:43] jdm commented on #9247
#8815.

[2016-04-22 15:43] #9247 closed

[2016-04-22 15:43] jdm commented on #9215
#8815.

[2016-04-22 15:43] #9215 closed

[2016-04-22 15:49] jdm commented on #8284
Hasn't been seen in months; let's close.

[2016-04-22 15:49] #8284 closed

[2016-04-22 15:50] jdm commented on #8435
Hasn't been seen in months. Let's close.

[2016-04-22 15:50] #8435 closed

[2016-04-22 15:50] jdm commented on #8236
Hasn't been seen in months; not disabled => close.

[2016-04-22 15:50] #8236 closed

[2016-04-22 15:51] jdm commented on #8228
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:51] #8228 closed

[2016-04-22 15:52] jdm commented on #8189
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:52] #8189 closed

[2016-04-22 15:53] jdm commented on #8047
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:53] #8047 closed

[2016-04-22 15:53] jdm commented on #8046
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:53] #8046 closed

[2016-04-22 15:54] jdm commented on #8018
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:54] #8018 closed

[2016-04-22 15:55] jdm commented on #7954
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:55] #7954 closed

[2016-04-22 15:57] jdm commented on #7787
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:57] #7787 closed

[2016-04-22 15:58] jdm commented on #7730
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:58] #7730 closed

[2016-04-22 15:59] jdm commented on #7149
Hasn't been seen in months, not disabled => close.

[2016-04-22 15:59] #7149 closed

[2016-04-22 16:01] jdm commented on #8676
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:01] #8676 closed

[2016-04-22 16:02] jdm commented on #3926
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:02] #3926 closed

[2016-04-22 16:03] jdm commented on #8806
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:03] #8806 closed

[2016-04-22 16:05] jdm commented on #9305
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:05] #9305 closed

[2016-04-22 16:05] jdm commented on #9319
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:05] #9319 closed

[2016-04-22 16:06] jdm commented on #9374
#8815.

[2016-04-22 16:06] #9374 closed

[2016-04-22 16:06] jdm commented on #9112
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:06] #9112 closed

[2016-04-22 16:07] jdm commented on #9528
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:07] #9528 closed

[2016-04-22 16:07] jdm commented on #9534
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:07] #9534 closed

[2016-04-22 16:08] jdm commented on #9533
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:08] #9533 closed

[2016-04-22 16:08] jdm commented on #9488
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:08] #9488 closed

[2016-04-22 16:12] jdm commented on #9777
Should have been fixed by #10240.

[2016-04-22 16:12] #9777 closed

[2016-04-22 16:12] jdm commented on #9746
Hasn't been seen in months, not disabled => close.

[2016-04-22 16:12] #9746 closed

[2016-04-22 16:12] jdm commented on #9724
Can't manifest this way any more since the constellation fixup.

[2016-04-22 16:12] #9724 closed

[2016-04-22 16:14] jdm commented on #10177
Should have been fixed by #10240.

[2016-04-22 16:14] #10177 closed

[2016-04-22 16:14] jdm commented on #10156
Should have been fixed by #10240.

[2016-04-22 16:14] #10156 closed

[2016-04-22 16:15] jdm commented on #10078
should have been fixed by #10240.

[2016-04-22 16:15] #10078 closed

[2016-04-22 16:15] jdm commented on #10036
Should have been fixed by #10240.

[2016-04-22 16:15] #10036 closed

[2016-04-22 16:15] #9909 closed

[2016-04-22 16:15] jdm commented on #9902
Should be fixed by #10240.

[2016-04-22 16:15] #9902 closed

[2016-04-22 16:16] jdm commented on #9833
Should be fixed by #10240.

[2016-04-22 16:16] #9833 closed

[2016-04-22 16:16] jdm commented on #9818
Should be fixed by #10240.

[2016-04-22 16:16] #9818 closed

[2016-04-22 16:46] SunyDays commented on #10741
I'd like to work on this issue.

[2016-04-22 16:47] KiChjang commented on #10741
Go for it!

[2016-04-22 17:40] #10601 closed

[2016-04-22 18:19] jdm opened #10811 "Make it easy to try particular tests or directories in isolation"
When investigating particular intermittent test failures on try, it is often overkill (and slow!) to run the rest of the testsuite. Firefox makes it easy to run particular testsuites, and we should support a similar workflow. This might actually become straightforward to support with https://github.com/servo/saltfs/pull/325.

[2016-04-22 18:51] emilio commented on #10811
This also would be awesome to allow testing the WebGL test suite while it's not stable enough, for example.

[2016-04-22 18:53] mbrubeck commented on #5766
I can no longer reproduce this bug.

[2016-04-22 18:53] #5766 closed

[2016-04-22 19:07] jdm commented on #10782
The probably requires checking if the document has a browsing context in `title_changed`.

Code `components/script/dom/document.rs`

[2016-04-22 19:10] jdm commented on #10040
@yoava333 Still working on this?

[2016-04-22 19:16] jdm commented on #9395
Fixed by #73.