[2019-01-01 19:57] tigercosmos commented on #22587
Thanks for report.
` ./mach bootstrap`  has an issue.
You can avoid it with hard code like [this](https://github.com/servo/servo/pull/22250/files) for now.

 But we should fix it. Keep tracking with #22590

[2019-01-01 19:57] #22587 closed

[2019-01-02 02:58] jdm opened #22592 "Intermittent failure in /css/CSS2/text/white-space-processing-040.xht, /css/CSS2/text/white-space-002.xht, /css/CSS2/text/white-space-003.xht"

[2019-01-02 14:01] jdm commented on #22502
https://github.com/servo/html5ever/blob/45b2fca5c600b5bb8f284d60075a6ecf23820427/html5ever/src/serialize/mod.rs#L167-L188 is the code in html5ever which checks for the presence of void elements, so that is the code we want to be modifying.

[2019-01-02 14:44] #22476 closed

[2019-01-02 14:56] jdm commented on #22502
Ignore the previous comment - the html5ever implementation seems reasonable to me, so [this is what](https://github.com/servo/servo/pull/22542#issuecomment-450884026) I think we should do instead.

[2019-01-02 15:07] shanavas786 commented on #22588
I would like to give it a try.

[2019-01-02 15:12] jdm commented on #22301
You will want to follow the steps from https://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface when adding the new interfaces.

[2019-01-02 15:13] jdm commented on #22588
@shanavas786 Great! The command implementation is at https://github.com/servo/servo/blob/721d2a8abdcc78971001928347cd1f7b96571fbb/python/servo/build_commands.py#L611-L632.

[2019-01-02 15:14] highfive commented on #22590
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-02 15:14] jdm commented on #22590
Code: `python/servo/util.py`

[2019-01-02 17:25] jdm opened #22593 "Webrender asserts when rendering very long unbroken text runs"
When rendering a text run generated with:
[code]
Webrender yields this assertion:
[code]

[2019-01-03 00:35] sreeise commented on #22301
Gotcha, thanks for the heads up.

[2019-01-03 06:35] shanavas786 commented on #22590
@highfive  assign me

[2019-01-03 06:35] highfive commented on #22590
Hey @shanavas786! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-03 06:56] #22588 closed

[2019-01-03 13:58] Mart-Bogdan commented on #22315
For me it's crashing on start without displaying any error message, and exit code is ` -1073741701 (0xc000007b)`

I believe it's panicking, but if someone could provide console build, not windows build, some errors could show up in console.

[2019-01-03 18:15] jdm commented on #22485
As a first try, why don't we limit the length of any URL debug representation to 40 characters, then append `... ([hash])` where `[hash]` is the string representation of the hash of the string (https://doc.servo.org/std/hash/trait.Hash.html#tymethod.hash).

[2019-01-03 18:16] jdm commented on #22485
This will give us URLs that look something like this: `http://google.com/foobar?whatever=5&another=120914... (126baf38a208901ab3)`.

[2019-01-03 18:18] jdm commented on #22516
If you are having trouble running the tests, remove [this file](https://github.com/servo/servo/blob/master/tests/wpt/metadata/html/semantics/embedded-content/media-elements/track/track-element/__dir__.ini) to make sure the tests are not skipped.

[2019-01-03 20:41] jdm opened #22600 "Make create_typed_array an unsafe function"
The function `create_typed_array` takes an unsafe pointer as an argument; that means that it's possible to pass an invalid pointer and produce a segfault outside of an `unsafe` block. The function should be marked unsafe to make this clear.

code: `components/script/dom/vrframedata.rs`

No need for automated tests; if the changes compile without any warnings, it's good enough for a PR.

[2019-01-03 20:41] highfive commented on #22600
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-03 20:57] jdm commented on #10427
Oh, cached sequence attributes are allowed by Gecko's WebIDL parser (https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/parser/WebIDL.py#L4094-L4096), but the cached extended attribute is not part of the webidl specification.

[2019-01-03 21:01] jdm opened #22601 "Intermittent timeout in /html/semantics/embedded-content/media-elements/ready-states/autoplay-hidden.optional.html"
When the timeout does not occur, the test fails like this:
[code]

[2019-01-03 21:51] jdm opened #22602 "youtube video comments never load"
Visit any youtube video, and the Loading spinner never disappears and the comments never appear.

[2019-01-03 22:03] jdm opened #22603 "load times for NYT homepage are unbearable"
I opened http://newyorktimes.com in a servo nightly and sat watching a lot of blank space for at least 60 seconds.

[2019-01-03 22:06] jdm commented on #22602
Someone reported that the comments appeared after zooming the page.

[2019-01-03 22:10] jdm opened #22604 "Hang monitor stack trace doesn't make sense"
I received these backtraces while loading https://newyorktimes.com:
[code]
They seem to show backtraces from the hang monitor thread, rather than the hanging thread.

[2019-01-03 22:10] jdm commented on #22604
cc @gterzian

[2019-01-03 22:11] jdm commented on #22604
On the other hand, that may actually be the result of the signal handler that tries to show backtraces of segfaults and other surprising failures:
https://github.com/servo/servo/blob/f1dd31f70440fa9c7a40525bd1e03eede568f74d/ports/servo/non_android_main.rs#L53

[2019-01-03 22:14] jdm opened #22605 "Redirect for globeandmail.ca does not work"
https://globeandmail.ca redirects me to https://www.theglobeandmail.com/ in Firefox, but in Servo it yields a network error page.

[2019-01-03 22:16] jdm commented on #22605
When I visited the domain a second time in Firefox, I got a SSL_ERROR_BAD_CERT_DOMAIN error, which explains Servo's reluctance.

[2019-01-03 22:37] jdm opened #22606 "Can't scroll pass top stories on Globe & Mail homepage"
https://www.theglobeandmail.com/

When I try to scroll down the page in Servo, I get stuck just past the start of the Top Stories section.

[2019-01-03 22:46] #22502 closed

[2019-01-03 23:03] jdm opened #22607 "Ignore children of void elements when serializing"
#22542 fixed one instance of the serialization behaviour for void elements, but that check needs to happen in SerializationIterator::next as well. Right now it unconditionally appends all child nodes to the stack of nodes that need to be serialized; we can avoid this problem by moving the check from the `serialize` function to `rev_children_iter` instead - this will return an empty iterator for an

[2019-01-03 23:04] jdm commented on #22607
@georgeroman Would you like to work on this? I would expect a bunch of additional tests to pass as a result.

[2019-01-03 23:39] Eijebong commented on #22603
I tried reproducing this and got a nice

[code]

[2019-01-04 00:34] georgeroman commented on #22607
Yeah, sure!
@highfive assign me

[2019-01-04 00:34] highfive commented on #22607
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-04 04:47] jdm opened #22610 "Intermittent timeout in /resource-timing/buffer-full-increase-buffer-during-callback.html"
[code]

[2019-01-04 09:21] kenta7777 opened #22611 "Build Failure: failed to custom build command for `mozjs_sys v0.61.6`"
When builds Servo, This error has occurred.
How should I do?
[code]

[2019-01-04 13:17] asajeffrey commented on #22611
Ah, the problem is that clang is picking up a 3.9 compiler, but the 3.8 include files in `/usr/lib/llvm-3.8/lib/clang/3.8.0/include/`. Can you try setting `CXXFLAGS` to `-I/usr/lib/llvm-3.9/lib/clang/3.9.0/include` and see if that fixes things?

[2019-01-04 13:32] heh9 commented on #22600
@highfive: assign me

[2019-01-04 13:32] highfive commented on #22600
Hey @heh9! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-04 16:51] xftroxgpx opened #22613 ""attempt to create unaligned slice" if built by a rustc with suport for debug_assert!()"
Firefox built with a rustc that was compiled with `debug-assertions = true` (in its `config.toml`) crashes/coredumps on startup without any error messages.

`GeckoCrashOOL`'s `aReason` arg is: `attempt to create unaligned slice`

Here's the coredump stacktrace that points to servo(in first relevant frame, frame 14): https://gist.github.com/xftroxgpx/74a354e94a55dcc16b4e1aa2f5829695
and [other info

[2019-01-04 16:54] highfive commented on #22613
cc @emilio

[2019-01-04 16:54] jdm commented on #22613
@emilio This might interest you - it's coming from FontFamilyList::new.

[2019-01-04 16:57] jdm commented on #22613
https://github.com/servo/servo/blob/8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b/components/style/values/computed/font.rs#L592 in particular.

[2019-01-04 17:08] SimonSapin commented on #22613
This code:

https://github.com/servo/servo/blob/7a64588efaf45f307677b4a025b241fe3fc3b380/components/style/gecko_bindings/sugar/ns_t_array.rs#L42-L45

Seems to match that one:

https://searchfox.org/mozilla-central/rev/fef7f858efb695a76010b4c624da5277c16e95b3/xpcom/ds/nsTArray.h#1015

[code]

However, neither of them seems to correctly account of the alignment requirement of the element type.

The

[2019-01-04 17:12] jdm commented on #22228
I have a branch that integrates a Decoder based on the one from reqwest. It loads google just fine, but a unit test I wrote to catch the problem failed. This led me to file https://github.com/dropbox/rust-brotli-decompressor/issues/4 with a patch that makes the unit test pass.

[2019-01-04 18:22] froydnj commented on #22613
I can't find the right verbiage in the standard right now (if it exists), but you are Not Supposed To Do That.  That being said, it's fairly common to dereference unaligned pointers and have it Just Work because the world runs on x86ish processors, which don't trap on unaligned pointer accesses.  Fixing up such brokenness is a common problem when porting to ARM/MIPS/PPC/etc.  Recent (v7-a?) ARM ch

[2019-01-04 18:33] SimonSapin commented on #22613
It’s possible that only

https://searchfox.org/mozilla-central/rev/fef7f858efb695a76010b4c624da5277c16e95b3/xpcom/ds/nsTArray.cpp#14

[code]

… is misaligned in practice. Maybe `deref`

https://github.com/servo/servo/blob/7a64588efaf45f307677b4a025b241fe3fc3b380/components/style/gecko_bindings/sugar/ns_t_array.rs#L16-L25

… should only use `self.slice_begin()` to create a Rust slice when `self.hea

[2019-01-04 18:44] froydnj commented on #22613
Oh, duh, that makes a certain amount of sense.  We could also just add `alignas` to that variable, which I think would be the cleaner fix: no extra branches.

[2019-01-04 23:12] jdm opened #22617 "WindowProxy interface is considered only exposed to Window environment"
WindowProxy is a weird fake interface that's listed in Bindings.conf but does not have a WebIDL interface. This makes the WebIDL parser report an error if the WindowProxy interface is used in interfaces that are exposed in non-Window globals, like MessageSourceEvent.webidl.

[2019-01-05 04:20] jdm opened #22619 "Intermittent "session is already started" error for bluetooth tests"
[code]

I recall seeing this in #21370 as well.

[2019-01-05 05:32] gterzian commented on #22604
[code]
[code]

I'm getting a few permanent hangs, but the sampling doesn't seem to crash in all cases.

This is with a build from `./mach build --release --with-frame-pointer`

@jdm do you get this crash each time you visit the page? What options did you pass to `build` and `run`?

[2019-01-05 05:38] jdm commented on #22604
Mmm, I wasn't using a build with the frame pointer enabled. I wonder if that's causing the crash?

[2019-01-05 05:49] gterzian opened #22621 "Investigate whether script block on layout reflow can be removed"
https://github.com/servo/servo/blob/3ebd42caa3c722e8b0d7cdd7f4a46e9fd7668feb/components/script/dom/window.rs#L1432

[code]

The script-thread seems to quite reliably get into "permanent hangs"(currently defined as a 5 sec block) when waiting for the answer from layout doing a reflow. (above backtrace collected from https://www.nytimes.com/)

Could the block on Layout be replaced with a non-blockin

[2019-01-05 14:13] jdm commented on #22621
In the current model, the risk of doing style recalculation in parallel with normal script operation is the risk of mutating the DOM tree and/or GCing nodes that are being laid out. To fix this, some kind of copy-on-write or transactional DOM would be needed, which are both very complex solutions.

[2019-01-05 16:12] aditj commented on #22475
@highfive: assign me

[2019-01-05 16:12] highfive commented on #22475
Hey @aditj! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-05 16:41] gterzian opened #22624 "LayoutRPC appears slow, waiting to acquire lock"
While browsing `https://newyorktimes.com`  with a release build. You get a few "permanent hangs":

https://github.com/servo/servo/blob/8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b/components/layout/query.rs#L167
[code]

https://github.com/servo/servo/blob/8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b/components/layout/query.rs#L142
[code]

Meaning in both cases script is waiting more than 5 secs to acquire

[2019-01-05 16:53] gterzian opened #22625 "CSSStyleOwner hanging waiting to acquire a write lock"
https://github.com/servo/servo/blob/8de1b8d3f4d0e814980a1f7836a9e865e0d0f53b/components/script/dom/cssstyledeclaration.rs#L65

[code]

This is a permanent hang, meaning 5 secs wait at least.

At https://newyorktimes.com

[2019-01-06 02:09] MaCunZhang opened #22626 "`mach bootstrap` not supporting elementaryOS"
Hi there, I am using [elementaryOS](https://elementary.io/) 5.0 (Juno) which based on Ubuntu 18.04 LTS.
[code]

[2019-01-06 05:03] gterzian commented on #22604
[code]

Ok, I reproduced the crash, it happened with a build without the `--with-frame-pointer` option, yet prior to the crash I also got a few valid hang reports, which would seem to show the crash doesn't relate to the frame pointer option, since in that case it should crash on each sampling, right?

[2019-01-06 06:08] gterzian opened #22628 "Crash in script::timers::OneshotTimers::fire_timer"
[code]
https://www.nytimes.com/

[2019-01-06 06:11] gterzian opened #22629 "Script seems to hang in crash handler"
[code]

https://www.nytimes.com/

[2019-01-06 06:15] gterzian opened #22630 "Crash in handling of mouse event"
[code]

https://www.nytimes.com

[2019-01-06 06:18] CYBAI commented on #22603
Same as @Eijebong

[code]

[2019-01-06 06:37] gterzian opened #22631 "Webrender crash in "hit test", mayhem ensues..."
Couldn't reproduce, but it happened when I tried to bring servo to the foreground and close click it.

[code]
[code]

[code]

[code]

[2019-01-06 07:01] gterzian opened #22632 "Crash in PageTransitionEvent::new"
[code]

[2019-01-06 07:32] gterzian opened #22633 "Various Crashes on NYT"
if you go to nytimes.com and click a few times quickly on any article headline, once the page renders, you reliably get one of the below crashes:

[code]

or

[code]

It seems the only way to not get a crash, is to not click anything for a while after the page first renders...

[2019-01-06 08:16] atouchet commented on #20023
This was done in #22388.

[2019-01-06 08:16] #20023 closed

[2019-01-06 08:30] atouchet commented on #21059
syn was updated to 0.15 in #22085.

[2019-01-06 08:30] #21059 closed

[2019-01-06 08:32] atouchet commented on #20568
Is this still an issue?

[2019-01-06 09:50] Eijebong commented on #20568
Not that I know of. We updated webrender recently

[2019-01-06 12:02] ydogus opened #22635 "./mach bootstrap fails if python is not installed"
Hello,
I've tried to run `./mach bootstrap` on Fedora 29 which was a minimal installation. All I get is:

After installing Python manually, `./mach bootstrap` works! Maybe this is expected behavior but I thought `./mach bootstrap` would also install required Python.

[2019-01-06 12:27] ydogus opened #22636 "Windows build is broken with VS 15.9.4"
Hello,
I believe this is the same problem as https://github.com/servo/servo/issues/22476 but happening locally. It started after updating my Visual Studio to the latest version 15.9.4.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.16.27023\include\yvals_core.h:294:5: error: STL1000: Unexpected compiler version, expected Clang 7 or newer.
C:\Program Files (x86)\Mi

[2019-01-06 17:03] CYBAI opened #22639 "Remove trailing ? when updating URLSearchParams"
whatwg/url#336
web-platform-tests/wpt#6540

[2019-01-06 22:13] emilio commented on #22621
Yeah, no way style recalc can run in parallel with DOM. Layout could in theory, if we forbid access to nodes and such. I think that's feasible, though images and such are the worst offenders.

[2019-01-06 22:20] emilio commented on #22613
Yeah, +1 to adding `alignas()` to `sEmptyTArrayHeader`. Sorry for the lag in seeing this :)

[2019-01-07 06:45] CYBAI opened #22643 "Move from OrderedMap to IndexMap for custom properties"
After #22555 merged, we've introduced the [`indexmap` crate](https://crates.io/crates/indexmap).
There's a similar implementation in custom properies called `OrderedMap`.

https://github.com/servo/servo/blob/bffe2a699e9f0b2c41aa811ea2c3e90e40342419/components/style/custom_properties.rs#L143-L153

It would be great to reuse the `indexmap` crate and remove the `OrderedMap` instead.

cc @emilio

[2019-01-07 07:54] CYBAI opened #22644 "Incorrect background color rendering for sup"
[code]

<img width="793" alt="default" src="https://user-images.githubusercontent.com/6782666/50754057-4cd28880-128f-11e9-94c9-bf1eff340dbd.png">

Built with latest master (bffe2a699e) on macOS 10.13.6

[2019-01-07 09:22] grahamh commented on #22636
Hi,

Also getting this exact error with VS15.9.4. This is my first build so no experience with previous versions of VS.

[2019-01-07 11:18] kenta7777 commented on #22611
@asajeffrey Is this command `CXXFLAGS=-I/usr/lib/llvm-3.9/lib/clang/3.9.0/include ./mach build -d` for setting `CXXFLAGS` to `-I/usr/lib/llvm-3.9/lib/clang/3.9.0/include`correct?
This is a whole error log.

[code]

[2019-01-07 14:15] highfive commented on #22580
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-07 14:15] ferjm commented on #22580
[This](https://github.com/servo/media/blob/master/audio/src/param.rs#L318) should likely be `unimplemented` instead of `unreachable` cause we have the DOM and the glue code already in place, so the code is actually reachable.

[2019-01-07 15:18] asajeffrey commented on #22611
Hmm, the syntax for setting the flag is correct, but it's still picking up the 3.8 libraries. Can you look to see where the 3.9 libraries are on your machine? I guessed `/usr/lib/llvm-3.9/lib/clang/3.9.0/include` but that might not be right. Also, can you try `-isystem` rather than `-I` and see if that helps?

[2019-01-07 15:39] ferjm commented on #22580
Er, right. A `warn`, `println` or even no-op then, until #22367 is done.

[2019-01-07 18:51] collares commented on #21558
I would like to work on this! I will try to follow @Manishearth's comment.

[2019-01-07 19:17] jdm opened #22647 "Intermittent panic in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_escaping-1.html"
[code]
This looks like another instance of the underlying problem from #13480.

[2019-01-07 20:00] jdm commented on #21255
@haedaal Are you still working on this? Do you have any questions?

[2019-01-07 20:02] jdm commented on #21254
@chirgjn Since this attribute relies on some other attributes that aren't implemented yet (like #21258) it probably makes more sense to start with those ones.

[2019-01-08 04:58] #12715 closed

[2019-01-08 04:58] #22499 closed

[2019-01-08 05:47] atouchet commented on #22503
@jdm is this fixed now?

[2019-01-08 13:11] kenta7777 commented on #22611
@asajeffrey 3.9 libraries are in `/usr/lib/llvm-3.9/lib/clang/3.9.1/include`.
This is the result of the command `CXXFLAGS=-isystem/usr/lib/llvm-3.9/lib/clang/3.9.1/include ./mach build -d`.
[code]

[2019-01-08 14:19] jdm opened #22652 "Intermittent crash in /workers/WorkerLocation-origin.sub.window.html"
[code]

[2019-01-08 14:31] asajeffrey commented on #22611
OK, now it's complaining because `c++` has been passed the clang 3.9 libraries. Try setting `CXX=clang++-3.9` and see what happens.

[2019-01-08 14:44] asajeffrey opened #22653 "Multiple magicleap browser windows"
Servo currently assumes a single compositor (#13997). In the mean time, we might be able to "freeze" all but one window and provide support for multiple magicleap windows that way.

[2019-01-08 15:44] #22313 closed

[2019-01-08 17:04] jdm opened #22654 "Implement formdata event"
https://github.com/whatwg/html/pull/4239
https://github.com/whatwg/xhr/pull/231
https://github.com/web-platform-tests/wpt/pull/14637

This specification change adds an event that is fired while submitting a form, allowing web content to modify the form contents before it is submitted.

[2019-01-08 17:16] #22475 closed

[2019-01-08 18:11] highfive commented on #22626
cc @wafflespeanut

[2019-01-08 19:00] jdm commented on #22626
@MaCunZhang If you would like to fix this, you will want to add a conditional like [this one](https://github.com/servo/servo/blob/bab4e9efa5b73f28feeb98235afeff410d73a430/python/servo/bootstrap.py#L347-L362) to recognize elementaryOS and treat it appropriately.

[2019-01-08 19:18] #22600 closed

[2019-01-08 19:49] aditj commented on #21258
Hey ! Can I take up on this? :D

[2019-01-08 20:03] jdm commented on #21258
Sure! Please ask questions if anything is unclear.

[2019-01-08 20:39] #22498 closed

[2019-01-08 20:50] jdm commented on #22652
@gterzian I remember seeing some comments from you about what it means when the layout thread is disconnected, but I can't recall where those comments were. This looks like another case where that would happen, but I'm surprised by the stack given the testcase source (https://github.com/web-platform-tests/wpt/blob/master/workers/WorkerLocation-origin.sub.window.js).

[2019-01-08 21:44] kenta7777 commented on #22611
@asajeffrey This is the result of running ` CXX=clang++-3.9 ./mach build -d`.
Errors like occurring previously don't output, but errors still happen.
[code]

[2019-01-08 21:48] jdm commented on #22611
Don't require the use of clang 6.0 or newer?

[2019-01-09 03:42] gterzian commented on #22652
The issue is opened at https://github.com/servo/servo/issues/22507, I guess the topic will expand as we discover similar cases...

[2019-01-09 12:10] aditj commented on #21258
Actually I do have a couple of questions ,
a) So I call the FetchStart function [here](https://github.com/servo/servo/blob/9223d6248d4831a86f8172efdb9b6057f329a713/components/net/http_loader.rs#L564) but I define it [here](https://github.com/servo/servo/blob/9223d6248d4831a86f8172efdb9b6057f329a713/components/script/dom/performanceresourcetiming.rs#L155) ?
b) Should I import(use) the performancere

[2019-01-09 12:22] nox opened #22657 "Window::layout_reflow should be unsafe"
I'm afraid our soundness story around script/layout is a pile of lies upon lies.

*Anything* that sends a `QueryMsg` to the layout thread is unsound, given the messages in this enum carry `TrustedNodeAddress` values which can be built from erroneous pointers such as `0xdeadbeef as *const _`.

Cc @jdm @SimonSapin @pcwalton

[2019-01-09 12:41] CYBAI commented on #22654
I'm working on this one!

[2019-01-09 15:10] asajeffrey commented on #22611
@jdm well, our docs claim that we just need 3.9 or later.

We are now hitting #21478. @kenta7777, if you `./mach clean` and then build, do you still get this error?

[2019-01-09 15:13] collares commented on #22363
@highfive assign me

[2019-01-09 15:13] highfive commented on #22363
Hey @collares! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-09 19:13] jdm commented on #22503
Yes, but I'm going to leave this open to write an automated test that verifies this.

[2019-01-09 19:20] jdm opened #22663 "Port referrer-policy test structure changes to forked tests"
tests/wpt/mozilla/tests/mozilla/referrer-policy/ is an old fork of tests/wpt/web-platform-tests/referrer-policy. Ideally we would unfork them, but for the short term it would be good to apply the changes from https://github.com/web-platform-tests/wpt/pull/14634 to them to reduce the intermittent timeouts that occur.

[2019-01-09 21:55] KiChjang commented on #21342
Ah, so the default value for that particular field is `"interactive"`. Here's the WebIDL in question:

[code]

And the codegen pukes at `(AudioContextLatencyCategory or double) latencyHint = "interactive";`, because `"interactive"` is not a default value that is null, nor is it an empty sequence (i.e. `[]`).

The complexity here is that we need to ensure that the default value falls into the set o

[2019-01-09 23:36] jdm opened #22664 "Can't use --debugger with servodriver WPT harness"
[code]

[2019-01-09 23:36] highfive commented on #22664
cc @wafflespeanut

[2019-01-10 04:03] #22545 closed

[2019-01-10 04:17] danShumway commented on #21478
Removing clang 4.0 also worked for me on Ubuntu 16.04.

I'm not a fan of needing to set a bunch of system variables, but also not a fan of needing to uninstall software from my computer to get a build working. Would be preferable if the system was smarter about finding the most recent version of libclang.

Not sure if @KyleMayes's pull request solves it. I still needed to remove the old version, b

[2019-01-10 04:32] tigercosmos commented on #22635
According to readme you could run the following, and there is python.
But yep, the order might be misleading. It is better to mention Python is required just like the block of macOS does.

[code]

[2019-01-10 07:39] jdm opened #22667 "Intermittent pass in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_escaping-2.html"
[code]

[2019-01-10 08:09] ferjm opened #22668 "Intermittent timeout in /html/browsers/windows/auxiliary-browsing-contexts/opener-setter.html"
[code]

[2019-01-10 09:47] #22307 closed

[2019-01-10 11:48] #22643 closed

[2019-01-10 12:37] nox commented on #22657
Yes, I already made it use that in #22658.

[2019-01-10 12:39] KyleMayes commented on #21478
The current `libclang` selection process works as described [here](https://github.com/KyleMayes/clang-sys/tree/350f1816cf1b6d43987d391a56aa7b7ed36776c7#versioned-dependencies).

This works well when there is a versioned instance of `libclang` that has the minimum version you want, but breaks down when there is a versioned instance of `libclang` "hiding" the unversioned instance you want or multipl

[2019-01-10 14:09] ferjm commented on #22007
#22477 has just landed and I believe it should fix this intermittent. Please, reopen if you see the timeouts again.

[2019-01-10 14:09] #22007 closed

[2019-01-10 15:00] tigercosmos commented on #22543
![image](https://user-images.githubusercontent.com/18013815/50976598-5b3cd080-152b-11e9-8042-3fbcb4d1ae2b.png)
This upstream PR is just for reduce the double check for `init`, and doesn't matter to our implementation.

[2019-01-10 15:39] jdm opened #22670 "Dictionaries with required members that need rooting break codegen"
The design for dictionaries that contain rooted members is that an empty dictionary value is created and then each member is set individually. This doesn't work when the WebIDL type specifies `required`, like the `FormDataEvent`:
[code]
Addressing this probably means figuring out the precise issue that the current design is addressing.

[2019-01-10 16:31] kenta7777 commented on #22611
@asajeffrey Yes. I still get an error, but it's different from previous errors.
[code]

[2019-01-10 17:25] jdm opened #22671 "Retrying a PR caused a taskcluster error"
https://github.com/servo/servo/commit/160842b8c15ef328ec380f9f69403d88372bafde
The retried PR does not appear in https://treeherder.allizom.org/#/jobs?repo=servo-auto as a result.

`InterpreterError at template.tasks[0]: object keys must be strings`

[2019-01-10 18:10] #22607 closed

[2019-01-10 18:23] SimonSapin commented on #22671
This error message is from the taskcluster-github integration service: https://docs.taskcluster.net/docs/reference/integrations/taskcluster-github/docs/taskcluster-yml-v1

This service reacts to each GitHub push event, fetches `.taskcluster.yml` at the repo root in the corresponding branch, parses it, and processes the resulting object with JSON-e: https://taskcluster.github.io/json-e/#Language

T

[2019-01-10 18:49] tigercosmos commented on #6963
hi @nox, do you know if the issue has advanced any further? Thanks!

[2019-01-10 18:57] aditj commented on #21258
I dugged into the code a little bit more and I found the Response being returned by http_fetch has a ResourceFetchTiming entry (which in turn has no of redirects , request_start ) , so maybe this is where I get the values to be set from . But I am still unclear about which PerformanceResourceTiming's fetch_start i have to set ? ( Is it something in the cache , or in some other structure )

[2019-01-10 19:01] jdm commented on #6963
It has not.

[2019-01-10 20:43] KiChjang commented on #22543
Wait a minute, the constructor used to take an optional `init` parameter, but is now changed to have a default value and is guaranteed to exist. We should at least change it so that `init` is no longer an Option type.

[2019-01-10 21:41] KyleMayes commented on #21478
The above idea works, so I have released `v0.27.0` of `clang-sys` with improved version detection.

This should mean that the most recent version of `libclang.so` should be selected regardless of which instances of `libclang.so` have version numbers in their filenames.

I also implemented an `assert-minimum` feature which causes the build script to panic with a descriptive error message if the mos

[2019-01-11 01:00] CYBAI commented on #22543
https://url.spec.whatwg.org/#interface-urlsearchparams

Currently, the `init` in webidl of `URLSearchParams` is still `optional`. Maybe it should be updated?

[code]

[2019-01-11 02:37] KiChjang commented on #22543
Maybe! Mind filling an issue/PR to the spec?

[2019-01-11 02:42] CYBAI commented on #22543
Let me file an issue to see how URL WG members think about that :)

[2019-01-11 02:45] CYBAI commented on #22543
Filed at whatwg/url#424

[2019-01-11 03:05] CYBAI commented on #22543
As @domenic explained in https://github.com/whatwg/url/issues/424#issuecomment-453355026, the spec update means we will always need `init` for `URLSearchParams` while running the constructor algorithm instead of always passing an argument to `URLSearchParams`.

Currently, we do nothing while the `init` is `None` and I think we don't need to run the algorithm to parse query because `init` is an emp

[2019-01-11 04:21] KiChjang commented on #22543
So I'm taking note that @domenic mentioned that we should throw if `init` is still `None` by the time we hit the constructor of `URLSearchParams`. In other words, when we pre-process the arguments for the constructor during codegen, we need to ensure that if no arguments or undefined is passed in, we need to set the argument value to `Some("")`.

Since we don't yet support default values that are

[2019-01-11 05:41] CYBAI commented on #22543
I see. Also, I think once that issue is solved; we should make the `None` arm to be `unreachable`?

[2019-01-11 05:56] shanavas786 commented on #22664
@highfive assign me

[2019-01-11 05:56] highfive commented on #22664
Hey @shanavas786! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-11 08:05] KiChjang commented on #22543
I'm a bit hesitant to do so. While it's true that codegen should be the only consumer of the `Constructor` method, there is no guarantee that other parts of the rust code wouldn't call `Constructor`. If that happens, we should follow the spec-defined behavior.

[2019-01-11 14:39] ferjm opened #22675 "Intermittent fail in /html/semantics/embedded-content/media-elements/track/track-element/track-active-cues.html"
[code]

[2019-01-11 15:17] domenic commented on #22543
The spec-defined behavior is much more like unreachable than like throwing. There is no step in the spec that throws if init is undefined; it just always assumes init is a string, record, or sequence.

[2019-01-11 18:30] #22675 closed

[2019-01-12 01:54] asajeffrey commented on #22611
Sigh, you need to set `CC= clang-3.9` too.

[2019-01-12 21:55] #21558 closed

[2019-01-12 23:08] Manishearth opened #22679 "Intermittent FAIL in /css/CSS2/colors/color-142.xht"
https://github.com/servo/servo/pull/22648#issuecomment-453760766

[code]

[2019-01-13 17:35] zimio commented on #22367
@highfive: assign me

[2019-01-13 17:35] highfive commented on #22367
Hey @zimio! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-14 05:59] IngwiePhoenix opened #22681 "[Question] Embedding into C/C++"
Hello!

I'd like to try and build something like Electron, but based on Servo. So I'd like to interface with it from C or C++. What are good ways to do this? I saw `bindgen` and `cbindgen` on the Crates registry and wondered if I could use either to ease embedding? It'd be very nice to interface with these:

- JavaScript engine
- WebView

Mainly, I enjoy working with FLTK, as it is cross-platform

[2019-01-14 08:02] paulrouget commented on #22681
To embed Servo from C, you can build libsimpleservo (`./mach build --libsimpleservo`) and dynamically load the library in C (no need to use bindgen).

This Rust code: https://github.com/servo/servo/blob/master/ports/libsimpleservo/capi/src/lib.rs exports symbols that can be used from C code.

You will need to provide a gl surface (see the `init` method) and build a loop yourself (where you call `p

[2019-01-14 08:35] IngwiePhoenix commented on #22681
Very cool!

Luckily, FLTK provides a loop as well as allowing one to periodically call functions during the loop.

Are there plans to make more of Servo available to C?

[2019-01-14 08:52] paulrouget commented on #22681
Servo internals are very extensible for now. At least dynamically. But Servo is very well compartmented. It would not be too hard to add your own component to support scss I think.

[2019-01-14 09:02] IngwiePhoenix commented on #22681
I just noticed that mozjs (SpiderMonkey) is being used inside. Now, SpiderMonkey offers a C API. Is there some kind of example on how I can interact with that very SpiderMonkey instance correctly so that I could extend the default objects within a window?

To be fair, I am new to Rust. So reading through the source and the Cargo files takes me a while. But from what I can see, I really like how it

[2019-01-14 10:44] ferjm opened #22683 "Intermittent timout in resource-timing/resource_initiator_types.html"
[code]

[2019-01-14 11:31] ferjm commented on #22683
Nevermind, this actually seems like a valid timeout for #22399

[2019-01-14 11:31] #22683 closed

[2019-01-14 11:31] paulrouget commented on #22681
The window JS objects (all DOM) are all implemented in Servo. SpiderMonkey is "just" the JS engine. If you want to add anything inside the DOM, this needs to be done in a Servo component.

Maybe look at the bluetooth code in components/script/dom/navigator.rs

[2019-01-14 11:42] IngwiePhoenix commented on #22681
So basically you abstract away the C API once, and sort of forget about it and write everything else in Rust?

I am reading over the suggested file, and, indeed, I can not seem to find any reference to SpiderMonkey or anything related close to it at all. It just looks like a lot of Rust structs and implementations.

But at some point, all those structs have to be given to the engine so it knows wh

[2019-01-14 12:00] nox commented on #22568
https://html.spec.whatwg.org/#reflecting-content-attributes-in-idl-attributes

I don't see why we should have a `make_url_setter`, given the setter is specified to have no URL-specific behaviour.

[2019-01-14 13:01] paulrouget commented on #22681
Maybe this is what you're looking for: https://github.com/servo/rust-mozjs

But if you want to extend the DOM, you will have to do it with a user script or a rust component.

Another option is to inject a JS script into the web page with a userscript, and that userscript would communicate with your C/C++ code with websockets.

[2019-01-14 13:33] aditj commented on #21258
Can I implement fetch_start in ResourceFetchTiming?
And is there a way to link RFT and PerformanceResourceTimings?

[2019-01-14 13:46] #22294 closed

[2019-01-14 15:18] jdm commented on #20015
This might be fixed by #20015.

[2019-01-14 15:19] jdm commented on #17851
Text rendering has since been fixed.

[2019-01-14 15:19] #17851 closed

[2019-01-14 16:41] CYBAI commented on #13105
While working on #22660 , I just what @nox proposed is the right way.

We cannot use `HashMap`, `BTreeMap` or `IndexMap` because we'll miss the order of keys for multiple keys case.

After using `Vec<(Atom, FormDatum)>`, we should pass this test case.

https://github.com/web-platform-tests/wpt/blob/d57cb918ef2b0fbc79c39cb48f6870d02040d4d3/xhr/formdata-foreach.html#L9-L35

[2019-01-14 16:45] jdm commented on #21268
@verma-varsha Are you still working on this?

[2019-01-14 16:46] dlrobertson commented on #22568
@nox good catch

The `make_url_setter` is needed because the given structure has a `USVString` element and the setter is `DOMString`, so we need `USVString -> DOMString`, but I guess we don't necessarily need `Element::set_url_attribute`. We could just keep the `USVString -> DOMString` evaluation in the macro `make_url_setter`.

CC @ferjm

[2019-01-14 16:47] jdm commented on #20635
This got better.

[2019-01-14 16:47] #20635 closed

[2019-01-14 16:48] jdm commented on #22236
This should now be fixed.

[2019-01-14 17:11] aditj commented on #21258
Hey! How do I know whether the Resource being fetched is the last one in the http_fetch ? Help please @jdm :sweat:

[2019-01-14 17:31] #22664 closed

[2019-01-14 18:04] jdm commented on #22236
[code]
Psyke!

[2019-01-14 19:35] #22568 closed

[2019-01-14 21:45] danielrh commented on #22228
https://crates.io/crates/brotli-decompressor/2.1.2 should solve this issue

[2019-01-14 23:33] jdm opened #22685 "User scripts trigger panic"
[code]

[2019-01-14 23:46] jdm commented on #21258
Sorry about the lack of response; I'll try to answer your questions in reverse order:

A resource being fetched is the last one if there is no redirection. You can see this information being set in substep 2-3 and substep 4.

Yes. They are linked via the PerformanceResourcetiming::from_resource_timing method, which creates a new PerformanceResourceTiming object and initializes it from the members

[2019-01-15 00:13] #22288 closed

[2019-01-15 00:37] jdm commented on #22636
Ooh, that does sound like a good lead! I'll try that on the appveyor build and see what happens.

[2019-01-15 01:43] #22394 closed

[2019-01-15 04:46] aditj commented on #21258
I do have 3 questions @jdm :sweat_smile: :
a) I create a PerformanceResourceTiming Object , but what do i do with it ? Do I submit timings using submit_timing in network_listener ?
b) Is there a need to set up a network_listener if I am submitting the timings using submit_timing ?
c)Also how do I get other parameters required for from_resource_timing method (namely  url, initiator_type and next_ho

[2019-01-15 13:27] shanavas786 opened #22689 "Exclude gstreamer from tidiness check"
`mach test-tidy --all` runs on `support/linux/gstreamer` which is unnecessary

![test-tidy](https://user-images.githubusercontent.com/5337197/51183467-4a0f0d80-18f7-11e9-9f86-6c2d1e28612f.png)

[2019-01-15 13:30] jdm commented on #22485
@Hyperion101010 To test the changes, run the command I suggested in https://github.com/servo/servo/issues/22485#issuecomment-450660337 and see if the output looks reasonable.

[2019-01-15 13:48] jdm commented on #22636
Appveyor successfully built with that removed: https://github.com/servo/servo/compare/jdm-patch-33?expand=1

[2019-01-15 14:19] jdm opened #22691 "Switch to taskcluster checks API"
https://github.com/web-platform-tests/wpt/pull/14859
https://github.com/web-platform-tests/wpt/issues/14846

[2019-01-15 16:02] xftroxgpx commented on #22613
Hi. I just hit this again. Could someone recommend a workaround/patch ? (other than recompiling rustc with `debug-assertions=false`)

Meanwhile I'll see if I can figure out how to do [this](https://github.com/servo/servo/issues/22613#issuecomment-451780485).

<details><summary>new gdb crash, like in OP</summary>

[code]
</details>

[2019-01-15 16:06] xftroxgpx commented on #22613
I'll try `nsTArrayHeader alignas(8) sEmptyTArrayHeader = {0, 0, 0};`

[2019-01-15 16:07] xftroxgpx commented on #22613
oops: `error: 'alignas' attribute cannot be applied to types`

[code]

[2019-01-15 16:08] jdm commented on #22613
Does `alignas(8) nsTArrayHeader sEmptyTArrayHeader = {0, 0, 0};` work?

[2019-01-15 16:16] xftroxgpx commented on #22613
That did work! Thank you jdm!
And firefox doesn't crash anymore!!

So, this is all I changed:

[code]

[2019-01-15 16:35] CYBAI commented on #20461
This is #21105

[2019-01-15 17:45] ferjm commented on #22359
Ugh, I am afraid that my recommendations from https://github.com/servo/servo/issues/22359#issuecomment-445038353 lead you to a missing Rust feature: [generic global variables](https://internals.rust-lang.org/t/how-about-generic-global-variables/8351). Sorry about that :(.

I guess we could get a tuple of numbers as IDs, as that's what Servo uses in the end to identify tabs ([BrowsingContextId](htt

[2019-01-15 18:24] SiddharthaMishra commented on #22299
Hey, I'd like to work on this.

[2019-01-15 19:17] jdm opened #22695 "Add parser phases"
https://github.com/whatwg/html/pull/4290

[2019-01-15 19:31] jdm commented on #21258
If there is no location header, the request is the final resource. We will need to store the time before starting the request, then check if there's a location header when the initial response is received; if there is no location header then that we can store the earlier time as the FetchStart value.

[2019-01-15 19:34] jdm commented on #21258
You should not need to write code that creates a PerformanceResourceTiming object. That already happens in [this code](https://github.com/servo/servo/blob/fde83f733defe87c5450a59ab3d7bfa2bdc4a38a/components/script/network_listener.rs#L46-L55) which is called from every implementor of [this trait](https://github.com/servo/servo/blob/fde83f733defe87c5450a59ab3d7bfa2bdc4a38a/components/net_traits/lib

[2019-01-15 19:42] jdm opened #22696 "User scripts that throw an exception during initial execution trigger a panic"
This happens because the `error` event is fired, and the script is executed while the parser is active (and thus any `document.write` call would trigger a borrow error). We should probably find a way to treat this more like an inline script element, rather than executing the JS directly.

[code]

[2019-01-15 20:58] jdm opened #22698 "Can't run tests from tests/wpt/mozilla path"
Looks like some kind of regression from upstream. Neither `/_mozilla/mozilla/DOMParser.html` not `tests/wpt/mozilla/tests/mozilla/DOMParser.html` work for me now.

[2019-01-15 21:00] jdm commented on #22698
Nevermind, this is a new development from trying to run a test on the branch from #22616. The manifest contents are modified to to include tests/wpt/web-platform-tests/ in various inappropriate places.
[code]

[2019-01-15 21:05] jdm commented on #22698
This seemed to be a local error.

[2019-01-15 21:05] #22698 closed

[2019-01-15 21:31] jdm opened #22700 "Intermittent pass in /fetch/nosniff/parsing-nosniff.window.html"
[code]

[2019-01-15 22:33] zimio commented on #22367
@ferjm I am having problems compiling the media repo. What is the preferred method of communication where I can ask questions regarding how to solve this issue? I can't connect to IRC during regular business hours most of the time. I only have time during the evenings and weekends to work on this.

[2019-01-15 22:51] #22228 closed

[2019-01-15 22:56] jdm commented on #22367
Want to file an issue in the media repo?

[2019-01-16 01:20] #22685 closed

[2019-01-16 04:37] #22689 closed

[2019-01-16 04:45] gterzian commented on #22621
In the design wiki I came across this:

Perhaps we could do something like:

1. Send the reflow request.
2. GC
3. Block on the reflow reply

[2019-01-16 06:41] learning commented on #21792
I got the same issue on my macbook pro i7, macOS 10.14.2, 16G memory. It stuck on
[code]
more than 1 hour.

The GUI is unresponsive and so can't do anything else 😂

[2019-01-16 06:53] learning commented on #21792
The only thing I saw is `llvm-dsymutil` eaten up all my memory

[2019-01-16 06:57] paulrouget commented on #21792
@azy5030 @learning does installing the `macOS_SDK_headers_for_macOS_10.14.pkg` package help at all?

I don't run into this freeze anymore. I thought it might be because of some homebrew/xcode update. But I also remember installing that pkg:

[code]

[2019-01-16 07:20] learning commented on #21792
@paulrouget Not sure, never install that package, I use homebrew to manage all of it. I'll try that later
After all, the build process is complete!
The only thing annoying me is that I can't do anything else while building servo 😂
Here's a screenshot for the memory usage
![memory usage](https://i.ibb.co/Nt9QP9v/2019-01-16-15-06-12.png)

[2019-01-16 08:14] ferjm commented on #22367
@zimio make sure that you use the same [Rust toolchain required for Servo](https://github.com/servo/servo/blob/master/rust-toolchain) to build the media repo. And, as @jdm said, file an issue in that repo if you still encounter any build issue. IRC is also a good channel to get a quick answer.

[2019-01-16 08:37] learning commented on #22345
I think so, I can reproduce this on my mac

[2019-01-16 10:06] xftroxgpx commented on #22613
Closing since `nsTArray.cpp` is not part of `servo`.
but I made https://bugzilla.mozilla.org/show_bug.cgi?id=1520418

Thank you all!

[2019-01-16 10:06] #22613 closed

[2019-01-16 11:22] Manishearth opened #22702 "Click events get repeated on android"
I'm not able to consistently reproduce this, but with a simple webpage with a click handler on a button, the click event sometimes gets triggered multiple times on android.

I think it depends on how you click it, but I'm not quite sure.

[2019-01-16 12:45] emilio commented on #22621
That doesn't work if the GC can move nodes.

[2019-01-16 13:11] paulrouget commented on #22702
A tap will explicitly generate a click: https://github.com/servo/servo/blob/d7d901551873c952a214f7094d08c1477a042176/support/android/apk/servoview/src/main/java/org/mozilla/servoview/ServoView.java#L294

Not sure if we are getting 2 taps or if it's something more convoluted.

[2019-01-16 13:17] SimonSapin commented on #22691
Do we need to update our version of Homu for this? Change its config?

[2019-01-16 13:48] jdm opened #22705 "Intermittent error in /offscreen-canvas/the-offscreen-canvas/offscreencanvas.commit.w.html"
[code]

[2019-01-16 13:49] jdm opened #22706 "Intermittent timeout in /html/semantics/embedded-content/media-elements/track/track-element/track-active-cues.html"
[code]

[2019-01-16 17:19] jdm commented on #22062
Complication: the transactions that set a display list are initiated in the content process and then serialized over IPC to the chrome process. In the process, this silently discards any notifiers that were added to the transaction.

[2019-01-16 17:52] aditj commented on #21258
@jdm I think I was over complicating the issue  , anyways are there existing tests for fetch_start ?
And should I open a pull request for the same (without the tests that is)?

[2019-01-16 18:17] jdm commented on #21258
You can try running `./mach test-wpt tests/wpt/web-platform-tests/resource-timing` and see if any test results change. There are a bunch of tests in that directory that make use of it.

[2019-01-16 18:39] jdm opened #22707 "Move RenderNotifier from compositing component to servo component"
The definition and implementation of the RenderNotifier type is in components/compositing/compositor.rs, but it's only used by components/servo/lib.rs. This is silly; we should extract it so the code that uses it also defines it.

No tests required; if the changes compile, that's good enough for a pull request.

[2019-01-16 18:39] highfive commented on #22707
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-16 23:05] Manishearth commented on #22702
Ah! Servo internally already has logic for converting touch events into click events. Adding support for touch events (https://github.com/servo/servo/pull/22229) broke this.

We simply need to remove any non-tap handlers.

[2019-01-17 00:10] Manishearth opened #22709 "Pinch-zoom code broken"
When pinch-zooming on Android the page disappears after a while

I feel like this bug has been around for a while, and it's probably due to https://github.com/servo/servo/pull/22229. We try to handle pinch-zooming in both the compositing code and the Android code. Removing the Android code makes pinch-zooming not work at all, removing the compositing code for pinch-zoom fixes the issue.

Ideally I

[2019-01-17 00:11] Manishearth commented on #22709
Pinch-zoom _is_ working on my touch-enabled laptop, so something else is off with the Android code.

[2019-01-17 02:29] learning opened #22710 "Acid2 rendering issue on MacBook, built-in/external display"
I got the acid2 rendering issue on my MacBook Pro, built-in and external display, it looks like #18940, but not the same

### Servo version
2e439fa7cb

### OS Version
macOS Mojave 10.14.2

### System specs
**MacBook Pro (Retina, 15-inch, Mid 2014)**
**Processor**   2.2 GHz Intel Core i7
**Memory**   16 GB 1600 MHz DDR3
**Graphics**   Intel Iris Pro 1536 MB
**Display 1**   Built-in Retina display,

[2019-01-17 03:19] kanaka commented on #20015
@jdm I'm working on checking it. Building the update-wr branch now.

[2019-01-17 04:00] kanaka commented on #20015
@jdm I've verified that servo:master still has the original problem (consistent crash 6th page load with similar trace). I built your wr-update branch and tested using the same script. Now it crashes consistently on the 21st page load.

Here is the trace when using update-wr branch:

[code]

[2019-01-17 04:04] atouchet opened #22712 "Evil Ad demo particles no longer visible"
URL: https://servo.org/bhtml-newtab/webrender-demos/evil_ad/physics/with-ad.html

Steps to reproduce:

1. Load https://servo.org/bhtml-newtab/webrender-demos/evil_ad/physics/with-ad.html
2. The particles that are supposed to be there do not appear.

This issue first occurred in the [2019-01-16](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

Regression range: https://g

[2019-01-17 05:19] kanaka commented on #20015
I'm rebuilding with update-wr rebased onto runtime-parent and will let you know what I find.

[2019-01-17 05:57] kanaka commented on #20015
@jdm that did the trick. I was able to run the test 100 times twice in a row without problems. Out of curiosity, what was/is the problem?

[2019-01-17 09:22] gnzlbg commented on #12453
It might be worth it to use [stretch](https://github.com/vislyhq/stretch) here.

[2019-01-17 09:32] paulrouget commented on #22709
Raw touch events can be transformed into scrolling and gestures by Servo. Yes.

But in general, I'd rather have Android do the `touch events -> gesture event` work, this makes the behavior more consistent with the platform.

For example, Android can smoothen a gesture or add inertia. Or users might have configured something at the OS level to disable pinch to zoom (for accessibility) or added cust

[2019-01-17 09:55] learning commented on #21792
`macOS_SDK_headers_for_macOS_10.14.pkg` dosen't help on my mac 🤕

[2019-01-17 09:55] highfive commented on #22706
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-17 09:55] ferjm commented on #22706
Ugh... it seems that https://github.com/servo/servo/pull/22676 wasn't enough. We need to return an empty `TextTrackCueList` in https://github.com/ferjm/servo/blob/69a79c7d75451742daafef40ed88fecf3acb0032/components/script/dom/texttrack.rs#L114

[2019-01-17 10:34] ferjm commented on #22299
@SiddharthaMishra great!

I haven't put too much thought on it, but it seems that we should do something very similar to what WebKit does [here](https://github.com/WebKit/webkit/blob/ae5a8bdded113530fe844e01ad9c0e72ce85dbe2/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp#L2364).

In a nutshell, we need to lazily check with the GStreamer registry to see if there are eleme

[2019-01-17 12:52] jdm commented on #20015
The original issue that triggered the crash in Mesa was caused by Servo accidentally deleting a GL resource that WebRender relies upon. The second crash was triggered by Servo deleting a JS context that was being used as the parent for all other subsequent JS contexts; this occurred on the 21st page load because we limit the cached document size to 20 entries.

[2019-01-17 16:15] Manishearth commented on #22709
The problem is, Servo needs to be able to intercept these and decide when Android gets to treat them as gestures. I'm not sure if the return values of the touch event handlers is enough, or if it's easy to bubble this up from Servo at all

[2019-01-17 16:43] ferjm opened #22716 "Intermittent crash in /html/browsers/history/the-history-interface/history_forward_1.html"
[code]

[2019-01-17 16:45] jdm opened #22717 "Intermittent failure in /_mozilla/mozilla/response-data-brotli.htm"
[code]

This is very strange. It would make more sense if the actual data was cut off, but the data is cut off and then a `.` is added. I'm super confused how that could occur.

[2019-01-17 16:46] jdm opened #22718 "Intermittent crash in /html/browsers/history/the-history-interface/history_forward_1.html"
[code]

[2019-01-17 16:46] ferjm opened #22719 "Implement partial Shadow DOM support (for User Agent UI widgets)"
In order to implement User Agent UI widgets like the media controls, we need to implement partial Shadow DOM support, this is:

- [ ] DOM Isolation, i.e. `document.querySelector()` should not return nodes from the UA widget.
- [ ] Scoped CSS, CSS defined inside the UA widget should be scoped to it and it should not be affected by styles from the outside. @emilio mentioned that we might already hav

[2019-01-17 16:47] jdm commented on #22716
Closing in favour of #22718 with more info.

[2019-01-17 16:47] #22716 closed

[2019-01-17 16:52] ferjm opened #22720 "Media controls UI"
With #22719 in place, we should be able to implement the media controls UI in HTML/CSS/JS.

It could be done in parallel with #22719, but it should probably be hidden behind a pref if it lands before it.

[2019-01-17 16:54] ferjm opened #22721 "Implement HTMLMediaElement.controls attribute"
Spec: https://html.spec.whatwg.org/multipage/media.html#attr-media-controls

It makes sense to implement #22720 first.

[2019-01-17 16:57] aditj commented on #22706
Is this issue up for grabbing ?

[2019-01-17 16:59] ferjm commented on #22706
Yes!

[2019-01-17 18:44] #22055 closed

[2019-01-17 18:44] #22296 closed

[2019-01-17 22:07] #22342 closed

[2019-01-18 05:41] paulrouget commented on #22709
Yes. We had to deal with this kind of problem all the time with Gecko. It's not easy, but the event propagation spec and the Android widget APIs will let us do that. I'm ok if for now we let Servo handle everything, but in the future, I'm afraid this will bite us. I really don't want us to end up in the situation Gecko is in today.

There is a lot of back and forth communication when it comes to g

[2019-01-18 06:20] atouchet commented on #20015
#22353 and #22598 have been merged. Is this issue fixed now?

[2019-01-18 06:36] jdm opened #22723 "Intermittent failure in /css/CSS2/borders/border-right-width-095.xht"
Test:
<img width="599" alt="screen shot 2019-01-18 at 1 36 04 am" src="https://user-images.githubusercontent.com/27658/51369413-7b3b3980-1ac1-11e9-8e67-c0cb03aaad8c.png">
Reference:
<img width="608" alt="screen shot 2019-01-18 at 1 36 09 am" src="https://user-images.githubusercontent.com/27658/51369420-81c9b100-1ac1-11e9-91eb-4f81d7307044.png">

[2019-01-18 06:44] jdm opened #22724 "Intermittent failure in /css/CSS2/css1/c43-rpl-ibx-000.xht"
Test:
<img width="579" alt="screen shot 2019-01-18 at 1 43 54 am" src="https://user-images.githubusercontent.com/27658/51369694-8c387a80-1ac2-11e9-9fa3-f6f93cb4bfdf.png">
Reference:
<img width="580" alt="screen shot 2019-01-18 at 1 43 59 am" src="https://user-images.githubusercontent.com/27658/51369696-8f336b00-1ac2-11e9-88b1-061f23513b86.png">

[2019-01-18 07:13] jdm opened #22725 "Intermittent failure in /css/css-transforms/transform-input-018.html"
There's a one pixel difference in one of the transformed radio buttons. Boo.

[2019-01-18 10:17] germangb commented on #21289
Hi @BK1603 Are you still interested in working on this issue?

[2019-01-18 10:19] learning commented on #22712
Particles are okay on macOS 10.14.2, but the monkeys are in the wrong place, a little bit up above.
<img width="1136" alt="2019-01-18 18 16 23" src="https://user-images.githubusercontent.com/354626/51380653-2f35d680-1b4d-11e9-9c59-1857568087bd.png">

[2019-01-18 12:08] learning opened #22727 "Network error breaks mach on Windows"
Network error breaks mach on Windows

1. `.\mach.bat build -d`
2. Downloading dependencies...
3. Network error
4. Error: `File is not a zip file`
[code]

And I can't do anything after that, even `mach clean`:
[code]

[2019-01-18 13:47] jdm commented on #22727
Sounds like mach clean should also remove [self.context.sharedir](https://github.com/servo/servo/blob/81ab255b70cd5cc2a3ef6f27414c3655ed26a82f/python/servo/command_base.py#L572).

[2019-01-18 15:04] ferjm opened #22728 "Layout for <input type="range">"
Right now `<input type="range">` renders like a text input, while it should render like a slider with a thumb.

Servo:
<img width="160" alt="screenshot 2019-01-18 at 15 56 38" src="https://user-images.githubusercontent.com/480202/51394354-7bc3e680-1b3a-11e9-9cce-6fd687a0edb0.png">

Firefox:
![screenshot 2019-01-18 at 15 56 02](https://user-images.githubusercontent.com/480202/51394362-7ebed700-1b3a

[2019-01-18 15:46] jdm opened #22729 "Investigate UWP support"
I'll collect any resources that might be helpful here.

[2019-01-18 15:46] jdm commented on #22729
https://github.com/contextfree/winrt-rust#winrt-and-uwp

[2019-01-18 16:56] CYBAI opened #22731 "Implement ResizeObserver"
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1272409
Spec: https://drafts.csswg.org/resize-observer-1/
Explainer: https://github.com/w3c/csswg-drafts/blob/master/resize-observer-1/explainer.md

[2019-01-18 21:02] RReverser commented on #9256
This is a pretty old issue but I found it while searching for a tool that reports unused dependencies myself.

While the last comment states this issue was fixed, the attached PR solves only the second half of the issue as described (detecting unused `extern crate` statements) but it looks like Cargo.toml part is still not fixed and such tool doesn't exist.

[2019-01-18 21:19] jonhoo commented on #9256
This was discussed [on Twitter](https://twitter.com/Jonhoo/status/1085602115119181825) recently too in the context of the 2018 edition mostly getting rid of `extern crate`. See also the discussion in https://github.com/rust-lang/rust/issues/57274#issuecomment-454884915.

[2019-01-18 21:33] RReverser commented on #9256
Ha, good timing. Thanks for the pointers!

[2019-01-18 21:36] atouchet commented on #22712
I tried testing this out a bit more and found that this issue isn't reproducible 100% of the time. As far as I can tell there are three different scenarios that can occur:

1. The particles are visible and both the particle and ad animations work correctly.
2. The particles are not visible but the ad animation still works.
3. The particles are not visible and the ad doesn't animate.

I have filed

[2019-01-18 21:40] atouchet commented on #18860
The ad is no longer scrollable but the monkey sprites are still out of place.

[2019-01-19 04:01] CYBAI opened #22733 "`table-layout: fixed` works incorrectly"
While reading [this blogpost](http://www.heydonworks.com/article/the-flexbox-holy-albatross), I found its navigation bar isn't shown correctly in Servo.

Following is the reduced test case:

<img width="1031" alt="default" src="https://user-images.githubusercontent.com/6782666/51421921-54742480-1be1-11e9-9e0f-2b78ce9b084a.png">

[code]

Built with latest master (81ab255b70) on `macOS 10.13.6`

[2019-01-19 06:37] AnshulMalik commented on #22695
@jdm Can you provide some more context here please?

[2019-01-19 10:10] KiChjang commented on #21810
@chansuke Was this completed?

[2019-01-19 15:53] CYBAI commented on #22733
Tried to comment the `table-layout: fixed;` in `nav ul`; then I found it will work as same as Firefox so I think the root cause for this issue would be related to `table-layout`.

<img width="1116" alt="default" src="https://user-images.githubusercontent.com/6782666/51429009-1f99b900-1c45-11e9-8c42-c3f04d9e66c2.png">

[2019-01-19 15:59] CYBAI commented on #22733
Just tried to run [the example](https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Example) of `table-layout` in MDN. It also worked incorrectly.

[code]

<img width="1181" alt="default" src="https://user-images.githubusercontent.com/6782666/51429089-12c99500-1c46-11e9-89aa-f17dc5b200e1.png">

[2019-01-20 06:14] gterzian commented on #22719
I think something like that could also be relevant for implementing "contenteditable" following the approach mentioned at https://github.com/servo/servo/issues/12776#issuecomment-430793267

[2019-01-20 14:44] learning opened #22737 "Build failed when compiling mozjs_sys on windows"
`mach build -d` failed when compiling `mozjs_sys`.
I noticed that `Unexpected compiler version, expected Clang 7 or newer`, but the `llvm` is `6.0.0` in [packages.py](https://github.com/servo/servo/blob/master/python/servo/packages.py#L7).

Here is the output:
[code]

[2019-01-20 15:44] Darkspirit commented on #22329
WFM. Fixed by building on Taskcluster?

[2019-01-20 15:44] #22329 closed

[2019-01-20 18:00] learning commented on #22737
I have downloaded `llvm 7.0.1` from [llvm.org](llvm.org), and `mozjs_sys` compiled without error, but finally `servo` build failed.

[code]

[2019-01-20 18:08] CYBAI commented on #22737
I'm not on Windows platform but the error message looks like related to `GStreamer`. Could you check the [step 3](https://github.com/servo/servo#on-windows-msvc) for windows in README ?

[2019-01-21 03:16] learning commented on #22737
Yes, I have followed [those instructions](https://github.com/sdroege/gstreamer-rs#gstreamer-binaries-1), install `gstreamer-1.0-x86_64-1.12.3.msi`, `gstreamer-1.0-devel-x86_64-1.12.3.msi` and set `LIB` to `C:\gstreamer\1.0\x86_64\bin`.

Maybe I should try the  `GStreamer` version `1.14.4`?

[2019-01-21 06:03] Hyperion101010 commented on #22485
https://github.com/servo/servo/pull/22740
i have started working, i submitted the patch kindly check

[2019-01-21 08:52] UK992 commented on #22636
Why not update LLVM to 7.0.0? it successfully build with VS 15.6.7.

[2019-01-21 09:11] paulrouget commented on #21792
Using:

- MacBook Pro 3.3 GHz Intel Core i7
- OSX 10.14.1 (18B75)
- Xcode 10.1 (10B61)
- Apple LLVM version 10.0.0 (clang-1000.11.45.5)

A release build doesn't freeze my laptop anymore.

[2019-01-21 10:41] nical commented on #22062
Ah, right. The notify stuff passes closures which doesn't work in a cross-process setup. The other similar mechanism is ApiMsg::ExternalEvent, that uses an opaque handle which can be used across processes. It's passed to the `RenderNotifier::external_event` hook and the meaning of the event is really up to the embedder. It's not part of the transaction but it goes through the same queues as transa

[2019-01-21 16:03] learning commented on #22737
Update `GStreamer` does not work, but change the `LIB` path from `C:\gstreamer\1.0\x86_64\bin` to `C:\gstreamer\1.0\x86_64\lib` works!

Until now, I got 3 problems when compiling `servo`:

1. Compiling `mozjs_sys`, `error: STL1000: Unexpected compiler version, expected Clang 7 or newer.`
    - [X] Solution: update `llvm` to `7.0.1`

2. Compiling `servo`, `fatal error LNK1181`
    - [X] Solution: C

[2019-01-21 16:52] jdm commented on #22242
This happened again:
[code]
`./mach fetch` took 21m again, and then the build was interrupted after another 30m.

[2019-01-21 16:55] jdm commented on #22242
By comparison, a previous passing run took 3m to run `./mach fetch` to download a similar number of crates. It may just be intermittent network issues.

[2019-01-21 17:04] learning commented on #22737
I noticed that release build works well, just like #21604 mentioned.

[2019-01-21 17:42] SiddharthaMishra commented on #22299
Hey, is there a list of types that are and aren't supported so I can test it out?

[2019-01-21 18:50] #22706 closed

[2019-01-21 19:32] jdm commented on #22636
I think GStreamer is a bit different because it's dynamically linked; most of our other dependencies are statically linked. The GStreamer installer does some special setup to make it work as expected.

[2019-01-21 23:42] jdm commented on #22695
It took me a while to read and understand what it was about, but the fundamental change is [this commit](https://github.com/whatwg/html/pull/4290/commits/c9a4e89c3b139ee5d62971579d23abc8029a2c4b). From reading Servo's html5 parser implementation, it looks like it's modifying an algorithm that has changed since we originally implemented it. I think I see a few important steps here - currently, the

[2019-01-21 23:43] jdm commented on #22695
The test to run would be `./mach test-wpt tests/wpt/web-platform-tests/custom-elements/connected-callbacks-html-fragment-parsing.html`.

[2019-01-21 23:43] jdm commented on #22695
And Servo's parser implementation lives in `components/script/dom/servoparser/mod.rs`.

[2019-01-22 03:57] Hyperion101010 commented on #22635
Python is becoming a basic dependency nowadays for an OS
I guess a small patch will work for bootstrap in MacOS, but given you should always have python installed

[2019-01-22 04:32] AnshulMalik commented on #22695
Thanks @jdm so much. I'll take a stab at it.

[2019-01-22 09:16] ferjm commented on #22299
There is no such list, but in any case that really depends on your gstreamer installation, so you can check if you have the required elements for a specific type with `gst-inspect-1.0` (i.e. `gst-inspect-1.0 | grep mp4`. Or you can directly try playing it with `gst-play-1.0` if you have access to an example stream.

[2019-01-22 10:12] paulrouget commented on #22195
This is now necessary. Will be looking at this soon.

[2019-01-22 14:57] asajeffrey commented on #22636
@jdm The windows llvm installer is a thin `.exe` wrapper round an archive (`7z` IIRC). On the Mac in the Chicago office, "The Unarchiver" opened and uncompressed it. The default directory names it unpacks into need fixed, after which I packed it into a `.zip` archive.

[2019-01-22 16:03] CYBAI opened #22744 "Store Memory Blob for script thread with more File information"
As I mentioned in https://github.com/servo/servo/pull/22736#discussion_r249268176, after implementing `FormData` in `Vec<(LocalName, FormDatum)>` in #22736, we only passed the `keys` test case. We cannot pass these test cases which has `values` comparison with `File` because we don't have the same `lastModified` and `filename` between `BlobImpl::Memory` and the `File` object constructed by File co

[2019-01-22 16:31] #13105 closed

[2019-01-22 20:01] #22654 closed

[2019-01-22 21:13] jdm commented on #22069
I ran into this; here's the full log:
<details>

[code]

</details>

[2019-01-22 21:18] asajeffrey commented on #22069
@jdm pointed out on IRC that we should check for this in mach build if nothing else.

[2019-01-22 21:44] jdm opened #22746 "Lots of "got script tick after closure" when visiting various ML homepage sites and going back in history"
I suspect the transparent rectangles page started some persistent rAF loop that didn't get cancelled.

[2019-01-22 22:46] jdm opened #22747 "Transparent rects demo detroys magic leap responsiveness"
The perf is really bad in a release build, and it's quite janky when moving the laser pointer around, and almost impossible to position the 2d cursor correctly because it ends up leaping everywhere during the regular scheduled jankyness.

[2019-01-22 22:46] jdm opened #22748 "WebGL cloth demo does not display anything on magic leap debug build"

[2019-01-22 22:48] jdm commented on #22748
Same for the webgl decals demo.

[2019-01-22 22:55] asajeffrey commented on #22746
@jdm is this replicable on not-magicleap servo? It sounds like the rAF thread isn't responding to freeze properly.

[2019-01-22 23:07] asajeffrey commented on #22748
Hmm, that's new.

[2019-01-23 02:56] jdm opened #22749 "Transparent rects demo doesn't display anything on desktop"
All I get is a grey background when I run it in a desktop build of Servo.

[2019-01-23 02:58] jdm commented on #22749
Ok, when I copy the source code to a local file and load that, it displays fine. I suspect the network stack?

[2019-01-23 02:59] jdm commented on #22749
servo.org is returning a page with `Content-Encoding: br`, so I strongly suspect #22616 is at fault here.

[2019-01-23 03:00] jdm commented on #22749
It also has `Transfer-Encoding: chunked`, so maybe the stack is getting confused and trying to treat it as gzip.

[2019-01-23 03:52] jdm commented on #22749
I added some debugging prints and now I'm getting content from the HTTP copy at https://servo.org/ml-home/webrender-demos/transparent_rects.html, so that's delightfully spooky.

[2019-01-23 03:57] jdm commented on #22746
I can reproduce this on desktop; if I load the transparent rects demo then load another page, I keep seeing the FPS counter in the terminal from console.log statements that happen in the previous page's rAF event.

[2019-01-23 04:05] jdm commented on #22746
[This compositor code](https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L951-L970) doesn't take into account whether a pipeline is frozen or not; neither does [this constellation](https://github.com/servo/servo/blob/461bce12415f8cddade2420c589fc2f669fc65d2/components/constellation/constellation.rs#L2154-L2178) code. It would probably be best to avoid sending the mess

[2019-01-23 04:53] paulrouget commented on #21792
Using:

- MacBook Pro 3.3 GHz Intel Core i7
- OSX 10.14.1 (18B75)
- Xcode 10.1 (10B61)
- Apple LLVM version 10.0.0 (clang-1000.11.45.5)

A **OSX release build** does freeze my laptop anymore.

[2019-01-23 06:02] paulrouget commented on #21792
Using:

- MacBook Pro 3.3 GHz Intel Core i7
- OSX 10.14.1 (18B75)
- Xcode 10.1 (10B61)
- Apple LLVM version 10.0.0 (clang-1000.11.45.5)

A **OSX release build** does not freeze my laptop.

[2019-01-23 06:48] learning commented on #21792
The same with me, release build never freeze my mac

[2019-01-23 07:18] paulrouget commented on #21792
The original Apple bug was marked as duplicate. I do not have access to the other bug. But since things have changed a bit (new versions of xcode/llvm and no crash anymore) I filed a new bug:

https://bugreport.apple.com/web/?problemID=47472764

[2019-01-23 08:04] paulrouget commented on #22195
Blocked on #21350.

[2019-01-23 08:06] paulrouget commented on #21350
The more I think about it, the more I believe this should be transparent for Servo. As in, not be part of any layout logic.

We should be able to tell WR where the document is (not just its size). I'd like to know how it works for Gecko. Waiting on https://bugzilla.mozilla.org/show_bug.cgi?id=1441308#c52

[2019-01-23 13:19] learning commented on #22581
I got the same issue on Arch Linux

- OS: Arch Linux x86_64
- Kernel: 4.20.3-arch1-1-ARCH
- GPU: Intel Core Processor
- Desktop: Xfce 4.12
- Version: c3608c0cb581cc055e98605d38540769e28949d1

[code]

[2019-01-23 16:46] jdm commented on #22749
A debug log of the underlying stream and the brotli decode yields two very similar logs, with one difference. After the underlying stream reads an EOF (after all previous bytes are the same), the brotli decoder reads 49 bytes followed by 10 bytes in the working case, and only 10 bytes in the bad case.

[2019-01-23 22:17] jdm opened #22752 "Nightly WPT sync doesn't run bluetooth test job"
This can lead to surprising failures when the tests change in ways that cause different test results. It would be nice to run these tests as part of https://github.com/servo/servo/blob/3fe203b7d9e900698b944dfa1204d7e57e3fba4b/etc/ci/update-wpt-checkout#L62-L76 so the expected test results were updated appropriately.

https://github.com/servo/servo/blob/3fe203b7d9e900698b944dfa1204d7e57e3fba4b/etc/

[2019-01-24 10:49] georgeroman commented on #22663
@highfive assign me

[2019-01-24 10:50] highfive commented on #22663
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-24 11:12] georgeroman commented on #22663
So all the tests should be replaced by their new version? I noticed that some of the modified files are missing and the files that exist have a different structure than the old files in https://github.com/web-platform-tests/wpt/pull/14634.

[2019-01-24 13:26] jdm opened #22754 "Add retry support for network operations in CI"
Intermittent network issues that prevent completing a git clone are a common enough source of failure that we should make it easy to automatically retry a failing command a certain number of times. This would be similar to the `appveyor-retry` command that Appveyor provides.

[2019-01-24 14:15] SimonSapin commented on #22754
`curl` has `--retry`, and I *think* Cargo retries a few times by default when fetching dependencies. I don’t find something similar for git, so yes a wrapper script is likely what we need.

One snag is that we can’t use a script in the repo for the purpose of cloning the repo. So if the script is not trivial enough to inline it in `.taskcluster.yml` we might need to add it to our Docker images, in

[2019-01-24 14:50] peterjoel commented on #8539
We can probably get rid of `PrefValue` too. Each getter can just return the actual type in an `Arc`.

Any reason not to just translate preference names into getter methods, like `prefs.dom_bluetooth_testing_enabled()`? Is there any value in creating type-level structure to match the implied hierarchy?

[2019-01-24 15:00] jdm commented on #8539
My vague feeling is that it's easier to read and clearer for documentation purposes if there are separate structures of related preferences.

[2019-01-24 15:00] jdm commented on #8539
And yes, I would be delighted if there were no need to use PrefValue.

[2019-01-24 15:25] asajeffrey opened #22755 "WebVR/XR security"
Our security checks for WebVR/XR are done by passing a pipeline id in with each message, for example https://github.com/servo/servo/blob/43e21dc845c7e7c930e6cdbb31b218fd80eddf2e/components/script/dom/vrdisplay.rs#L218-L225

This id is then checked to make sure it's the same pipeline that is presenting on the relevant display https://github.com/servo/servo/blob/master/components/webvr/webvr_thread.

[2019-01-24 15:25] asajeffrey commented on #22755
cc @avadacatavra

[2019-01-24 16:58] jdm commented on #22749
This is fixed by https://github.com/dropbox/rust-brotli-decompressor/pull/7. I highly suspect #22712 will be fixed by it as well.

[2019-01-24 17:43] peterjoel commented on #8539
@jdm Do you envision keeping the same json format, or change the format to more match the new structure?

[2019-01-24 18:57] jdm commented on #8539
My preference would be to keep the same json format because I think it's easier to read, and we'll need to support a very similar kind of conversion when processing webdriver preference commands. If it's significantly more complicated than a different structure, I wouldn't insist on it.

[2019-01-24 21:46] jdm commented on #22636
Thanks for the suggestions @BeatButton and @UK992! #22756 should fix this issue.

[2019-01-25 01:17] matthew-dean opened #22757 "[Question] Any plans to support embedding on other platforms?"
For work, I'm currently evaluating embedded browser engines for applications on Xbox / PS4, and possibly for Smart TV (WebOS / Tizen). Is it possible to build / embed Servo for those platforms? If not, is that something that may happen eventually?

[2019-01-25 01:19] peterjoel commented on #8539
This is a first stab at what the structure could look like:  https://github.com/servo/servo/compare/master...peterjoel:issue_8539_prefs_refactor?expand=1

I made a macro that creates structs for all of the intermediate objects, which (se/de)serialize to the same json format. I pretty much mirrored the property names from `prefs.json` but actually I noticed a few inconsistencies, and these could be

[2019-01-25 01:31] #22636 closed

[2019-01-25 01:38] asajeffrey opened #22758 "WebVR freezes the VRDisplay eye parameters when created"
When a `VRDisplay` object is created, we get the eye parameters from the `WebVRDisplayData`, and store them in fields https://github.com/servo/servo/blob/efecb3e1a2ce2a075784b63ab247399db2dc6cf2/components/script/dom/vrdisplay.rs#L112-L119

The fields are never set after they are initialized, which means that if a device changes the eye parameters, script sees the old parameters.

For example, the

[2019-01-25 02:36] learning commented on #22011
@dvdobrovolskiy Change `LIB` from `C:\gstreamer\1.0\x86_64\bin` to `C:\gstreamer\1.0\x86_64\lib` would be help
https://github.com/servo/servo/issues/22737#issuecomment-456123020

[2019-01-25 02:39] learning commented on #21604
The same errors with `v15.9.3`

[2019-01-25 02:58] peterjoel commented on #8539
We may have to keep `PrefValue`, since there is functionality (like `reset()`) which would be hard to implement on a per-pref basis otherwise. I'll investigate to see if that is used much.

If we keep it, we can improve it still by making it parametrised over the type of the value, and making it implement `Deref` so you can use it more conveniently.

[2019-01-25 07:15] paulrouget commented on #21350
I've been experimenting with WR and I understand now that layout (Servo) needs to shift the content no matter the WR configuration. `inner_rect ` doesn't clip. It skips objects that don't need to be drawn.

More context: we need to be able to control the position of a document for 2 reasons:

- we want to use multiple WR documents the same way it's done in Gecko (for chrome and content)
- we also

[2019-01-25 08:52] georgeroman commented on #22515
@highfive assign me

[2019-01-25 08:52] highfive commented on #22515
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-25 08:58] georgeroman commented on #22515
I managed to make the `area-navigate` test to result in `FAIL` instead of `TIMEOUT` by simply implementing the methods in `HTMLHyperlinkElementUtils`. Is this the desired result, or I should only add support for the `target` attribute for now?

[2019-01-25 14:06] jdm commented on #22754
https://github.com/web-platform-tests/wpt/pull/15073/files

[2019-01-25 15:53] jdm commented on #8539
Clever! This seems like a useful path forwards to me.

[2019-01-25 16:01] peterjoel commented on #8539
@jdm Generating the alternative `get(str)` interface might be tricky with a declarative macro though. It _might_ be possible - I'm still trying some things out, but I wonder if I will need to do with with a proc macro. Is there an existing component crate for that or should it go somewhere else?

[2019-01-25 16:58] jdm opened #22760 "Port glutin-based browser to libsimpleservo"
Once #22041 is fixed, we will have one port that directly uses the libservo APIs, and two ports that use libsimpleservo. Given how simple the actual Glutin-based browser is, and how much of the implementation is duplicated with libsimpleservo, it probably makes sense to build it on top of our simple embedding API instead.

[2019-01-25 16:59] jdm commented on #22065
I have a branch that compiles but is not yet tested.

[2019-01-25 18:00] jdm commented on #22663
All of the tests are generated by [this python script](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/referrer-policy/generic/tools/generate.py) based on [this JSON configuration](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/referrer-policy/spec.src.json). The goal of this work would be to port the changes to the various python scripts and

[2019-01-25 18:01] jdm commented on #22663
[This](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/referrer-policy/generic/tools/regenerate) is a script that should automate the regeneration.

[2019-01-25 18:18] jdm commented on #22515
Oh, good catch! Please add the support for the target attribute on top of that work!

[2019-01-25 18:32] jdm opened #22761 "Refactor follow_hyperlink and callers to match specification algorithms"
The `follow_hyperlink` method in `htmlanochorelement.rs` implements [this algorithm](https://html.spec.whatwg.org/multipage/links.html#following-hyperlinks-2). Its callers are `HTMLAnchorElement::activation_behavior` and `HTMLAreaElement::activation_behavior`, which were written based on an older version of the specification and are now out of date. The goal of this work is to remove the older, du

[2019-01-25 18:42] jdm commented on #22760
https://github.com/servo/servo/issues/21305 would be a prerequisite to this work.

[2019-01-25 19:04] MaT1g3R commented on #22761
Hello, I would like to work on this

[2019-01-25 19:17] kvark commented on #21350
For WR internals, we can do either way: shift the content to the origin of the inner rect (or the one provided in `viewport_rect` as suggested) or not, and I don't feel strongly either way. Main thing to get is a consensus between you and @squarewave on what WR should do :)

btw, the `framebuffer_size` parameter we pass into the window parameters doesn't appear to be used much.

[2019-01-25 19:22] jdm commented on #22761
If I emailed you about this today, go ahead! If not, I have reserved this for a student that I have been talking with and I am happy to help you find another issue to work on.

[2019-01-25 20:04] jdm commented on #17663
This is no longer relevant after the removal of the CEF backend.

[2019-01-25 20:04] #17663 closed

[2019-01-26 05:44] squarewave commented on #21350
Gecko currently is happy with a 0,0 origin and everything is just shifted already.

Am I understanding correctly that what you're proposing would behave identical to how it does now if one were to simply always specify a 0,0 origin for viewport_rect? If so then I have no issues with the proposal. I can then evaluate later if it makes anything simpler/better on the Gecko side to leave this translat

[2019-01-26 06:46] paulrouget commented on #16809
Will be taken care of in #21350

[2019-01-26 06:47] paulrouget commented on #13995
This will be taken care of in #21350. And WR support multiple documents.

[2019-01-26 09:42] paulrouget commented on #22065
I haven't looked at the libmlservo changes, but for the other changes, it looks good to me.

[2019-01-26 13:15] jdm commented on #20417
No.

[2019-01-26 15:51] yuguorui commented on #22345
Yes, I can reproduce this bug in my Mac Pro. I want to participate in this task, can you assign it to me?

[2019-01-26 17:14] yuguorui commented on #22345
After adding some `println` in the src, I think the code can recognize the shift button.

When I use shift+left to select, the logs show that it received these key events.
[code]

But U+F702 is Private Use Area in Unicode, it's weird.
I will try this on my Linux and see what will happen.

[2019-01-26 17:18] aditj commented on #20417
Cool! Can I?

[2019-01-26 23:45] jdm opened #22763 "Media does not stop playing on navigation"
If I visit a youtube video which autoplays, navigating to another page does not stop the audio from playing.

[2019-01-27 00:12] MaT1g3R commented on #22761
I tried running `./mach test-wpt tests/html/semantics/links/following-hyperlinks/` and it seems like that directory doesn't exist anymore, all I could find is `tests/wpt/web-platform-tests/html/semantics/links/following-hyperlinks/` and that test is failing with:

[code]

I built servo with `./mach build --dev`, and I have not modified anything yet. Am I missing something in the build step or is t

[2019-01-27 00:34] jdm commented on #22761
Yeah, my mistake providing the wrong path. You found the correct one. I didn't realize that #19234 is tracking the fact that this test currently yields intermittent failures in release builds, but in debug builds it seems to solidly fail. I am optimistic that using the `Element::cannot_navigate` API should make this test consistently start passing instead!

[2019-01-27 00:35] jdm commented on #22761
As for the question about CLion and the Intellij plugin, I can't help with that. All I can do is point you towards https://doc.servo.org/servo/index.html for non-IDE results.

[2019-01-27 02:46] yuguorui commented on #22345
After testing in my Ubuntu, I didn't see any strange characters.

Instead, I found all the arrow keys, F1-F12 keys, HOME, PgUp, PgDn, End, Delete will emit those strange Unicode, which overwrites the original characters. And those characters are not visible, so it seems you delete the characters.

OK, I have verified my guess. When you use an arrow key, it will insert an invisible characters and o

[2019-01-27 03:39] jdm commented on #22761
That's certainly more complicated than any of the other refactoring that I'm asking for; you can leave that TODO alone.

[2019-01-27 04:44] yuguorui commented on #22345
With debugging with lldb, I found the strange character event exists in `script::dom::document::Document::dispatch_key_event`.
But I don't know how to go further to track the source of this strange character.

Could you please give me some advice?

Here are the call stacks when handle_keydown is called.
[code]

[2019-01-27 05:48] jdm commented on #22345
Key input starts in https://github.com/servo/servo/blob/d44e9aced206cfcc74fb89dd1a7e43bbdada8d68/ports/servo/glutin_app/window.rs#L426-L440 and https://github.com/servo/servo/blob/master/ports/servo/glutin_app/keyutils.rs, and eventually ends up in https://github.com/servo/servo/blob/d44e9aced206cfcc74fb89dd1a7e43bbdada8d68/components/script/script_thread.rs#L3048-L3054. I do not believe any other

[2019-01-27 05:51] yuguorui commented on #22345
Now I think it may be an upstream related problem?

Anyway, I will check the upstream project, [glutin](https://github.com/tomaka/glutin/).

[2019-01-27 05:52] jdm opened #22765 "Intermittent pass in /workers/semantics/run-a-worker/003.html"
[code]

[2019-01-27 06:04] yuguorui commented on #22345
OK, I am sure it is an upstream related issue.

When I press Left Arrow in the demo window, I have found these logs in it.
[code]
According to my tests, this bug does not exist with linux.

So what should I do now? Do you need me to ask an issue to help them fix the bug? Or just close our issue?

[2019-01-27 06:49] jdm commented on #22345
Filing an issue in the upstream repository with a simple testcase would be useful. We should leave this issue open until it's fixed,  though.

[2019-01-27 06:50] jdm commented on #22345
That being said, the ReceivedCharacter handling is [this code](https://github.com/servo/servo/blob/d44e9aced206cfcc74fb89dd1a7e43bbdada8d68/ports/servo/glutin_app/window.rs#L399-L424), so it still might be our fault.

[2019-01-27 06:57] jdm commented on #22345
https://github.com/tomaka/winit/blob/8e733543cdc1c8b0ab4172f3fd2d9ef98b23dce1/src/platform/macos/view.rs#L394-L516 and https://github.com/tomaka/winit/blob/8e733543cdc1c8b0ab4172f3fd2d9ef98b23dce1/src/platform/macos/events_loop.rs#L318-L384 are probably where to start looking.

[2019-01-27 06:58] jdm commented on #22345
Or possibly https://github.com/tomaka/winit/blob/8e733543cdc1c8b0ab4172f3fd2d9ef98b23dce1/src/platform/macos/view.rs#L352-L392 judging by the comment about human readable characters.

[2019-01-27 07:00] mskwon commented on #22345
Please note that #22344 is extremely likely to be due to this extra event as well.

[2019-01-27 07:02] yuguorui commented on #22345
Yes, I also realized that it was a problem there, but how fast you are！🤣

We can, of course, fix this problem. But I think the point is the different behavior on OS X of the library, I believe this is also a problem.

But no matter what, I am willing to contribute code to Servo, so do I need to fix it in Servo?

[2019-01-27 07:05] yuguorui commented on #22345
Yes, I think their reasons should be similar.

[2019-01-27 07:09] jdm commented on #22345
We should try to fix it upstream, rather than working around it in Servo.

[2019-01-27 07:11] yuguorui commented on #22345
OK, I will file an issue in the upstream repository.

[2019-01-27 07:52] VishalCR7 commented on #22516
@jkurian : Hi! Do you still plan to work on this bug? Should I go ahead and assign myself?

[2019-01-27 08:43] VishalCR7 commented on #21261
@highfive: assign me

[2019-01-27 08:43] highfive commented on #21261
Hey @VishalCR7! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-27 08:45] VishalCR7 commented on #21261
@jdm : Hey! I m just getting started. Can you please explain what needs to be done and which files to look at for solving this bug. Thanks in advance :)

[2019-01-27 12:18] gterzian opened #22768 "Prevent panic arising from too many fetch threads"
You can currently reliably crash servo by simply doing a lot of fetches from a script(and I mean "a lot", as in thousands):

[code]

The cause appears to be the fact that `CoreResourceManager` currently [spawns one thread per fetch](https://github.com/servo/servo/blob/5fd64d9436c35f244623db60b121a36312114e05/components/net/resource_thread.rs#L449).

The simple fix seems to be using a threadpool.

[2019-01-27 16:33] aditj commented on #20417
Some Questions Regarding the issue @jdm @CYBAI :
( I am basing the implementation on ArrayBufferView)
a. Should I implement a typedef DataView inside  [the builtin IDL defined by WEBIDL](https://github.com/servo/servo/blob/5fd64d9436c35f244623db60b121a36312114e05/components/script/dom/bindings/codegen/parser/WebIDL.py#L7033)?
b. Also is there some specs/ documentation regarding this (and its workf

[2019-01-27 16:41] jdm commented on #20417
b) `git diff --color=never components/script/dom/bindings/codegen/parser/WebIDL.py >components/script/dom/bindings/codegen/parser/dataview.patch`
c) components/script/dom/webidls/TestBinding.webidl, and write any new JS integration tests in tests/wpt/mozilla/tests/mozilla (see promise.html for an example of using TestBinding).

[2019-01-27 20:38] zimio commented on #22367
Now I can build the latest of media, but it now gives me this error:

I suppose to work on this issue, I will have to update all of the things that depend of lazy_static and make them use version 1.2.0^. Am I understanding correctly?

[2019-01-27 21:02] jdm commented on #22367
Try `cargo update -p lazy_static`? It's a minor version update.

[2019-01-27 21:38] zimio commented on #22367
Thanks! that solved it.

[2019-01-27 22:01] MaT1g3R commented on #22761
I'm looking at https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element%3Aactivation-behaviour , does this apply to area elements as well?

[2019-01-27 22:12] fabricedesre commented on #22757
My experience with getting Servo working on gonk based devices is that Servo itself is quite easy to port: you basically need to provide it a GL context and input events. The hard part can be managing to compile SpiderMonkey for your platform, because of the build system used by SM is not really flexible.

[2019-01-27 23:09] jdm commented on #22761
That's https://html.spec.whatwg.org/multipage/#the-area-element:activation-behaviour instead.

[2019-01-28 06:47] paulrouget commented on #21350
@kvark with such a system in place, would a clear_color call in WR affect anything beyond viewport_rect?

[2019-01-28 07:23] sheddup commented on #22315
is the reason for crashing understood yet?

[2019-01-28 10:56] ferjm commented on #22763
This may be the same issue as https://github.com/servo/servo/issues/21989

[2019-01-28 14:03] jkurian commented on #22516
Hi @VishalCR7 , you can go ahead and take this from me. I haven't had and likely wont have time to look into this for a while. Thanks for asking!

[2019-01-28 14:42] gterzian commented on #12776
https://ckeditor.com/blog/CKEditor-5-A-new-era-for-rich-text-editing/#contenteditable

It looks like the latest 5 version removed most of its previous dependence on contenteditable, and that they now only use it in the final "rendering" stage.

I'm wondering if we could not "catch" this "minimal set of changes" by turning our contenteditable into a kind of trap for those instructions, and then app

[2019-01-28 15:30] CYBAI opened #22775 "Refactor bool pattern matching into if else to improve readability"
As [suggested from clippy](https://rust-lang.github.io/rust-clippy/master/index.html#match_bool), when we have `bool patter matching`, we can use `if ... else` block instead. Using `if ... else` should have better readability.

I saw there're few bool pattern matching in Servo codebase.

[code]

For example,

https://github.com/servo/servo/blob/06c1209770855c0f4a676e5e6fb78ab39a10b6ae/components/s

[2019-01-28 16:15] kvark commented on #21350
@pauldipietro I don't think we need different semantics for clear versus non clear. We just basically need a single rect per document, which determines where on the screen it will land, and what the size of the viewport is for rendering the display lists.

[2019-01-28 19:36] bholley commented on #21055
I had the linker error on my old MBP, but don't seem to have it on the new Mojave machine I set up. I had to install pkg-config and cmake via brew, but then it Just Worked.

[2019-01-28 22:40] #22485 closed

[2019-01-28 23:31] piotr-szpetkowski commented on #22775
@highfive: assign me

[2019-01-28 23:31] highfive commented on #22775
Hey @piotr-szpetkowski! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-29 03:32] BeatButton opened #22778 "64-bit Windows requires 32-bit GStreamer"
When building Servo on a 64-bit Windows 10 with 64-bit GStreamer installed, the build would succeed, but invoking `mach run -d` would cause error windows to pop up complaining about missing GStreamer libraries. When I installed the 32-bit versions, these errors disappeared, and after just a bit more tweaking (finding and copying nspr4.dll into servo\target\debug) Servo ran without errors.

This do

[2019-01-29 05:04] #21258 closed

[2019-01-29 06:03] aditj commented on #21254
@jdm Since [FetchStart](https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-fetchstart) is now [set up](https://github.com/servo/servo/issues/21258), Can I work on this? :smile:
(Note:  startTime can be set to either FetchStart or RedirectStart as mentioned in the specs).

[2019-01-29 07:33] aditj commented on #21254
@chirgjn :Thanks :smile: and you can take it up if it can actually be done(i.e. to say there are no other dependencies left :P)
Also i dont have a problem in collaborating but I dont know how that is gonna work :/

[2019-01-29 07:45] SimonSapin commented on #20184
https://github.com/rust-lang-nursery/stdsimd/issues/655 proposes a change to the Rust standard library that might make this upgrade necessary. (I’m not sure.)

[2019-01-29 08:14] chirgjn commented on #21254
@aditj I'll take it up then.
This is currently blocked on #21256 I think which will be resolved after https://github.com/servo/servo/pull/22319 gets merged after that I don't think there are any blockers.

[2019-01-29 13:53] jdm commented on #21254
I suggest that we add an API to ResourceFetchTiming called set_attribute_from that takes two ResourceAttribute arguments and sets the first attribute based on the value of the second attribute.

[2019-01-29 14:04] aditj commented on #21254
@jdm should we file a seperate issue for that ?
And if no can I create a new pull request with this API?
(and @chirgjn can maybe implement it for startTime)

[2019-01-29 14:23] jdm commented on #21254
I was thinking it could be added as part of fixing this issue.

[2019-01-29 16:07] CYBAI commented on #21067
Also seeing this in https://github.com/servo/servo/pull/22637#issuecomment-458589148 , e.g. https://build.servo.org/builders/linux-rel-wpt/builds/11595

[code]

[2019-01-29 18:02] hungrymonkey commented on #22373
https://twitter.com/cpeterso/status/1021626510296285185

Christ Peterson

[2019-01-29 18:47] andrealexandre commented on #22287
@ferjm, I think I'm done with my changes, I was wondering where do I unit test my changes.

[2019-01-29 19:13] peterjoel commented on #8539
@jdm Can you assign this to me?

[2019-01-29 19:16] Manishearth commented on #8539
done

[2019-01-29 19:19] jdm opened #22781 "Support default toJSON in WebIDL"
https://searchfox.org/mozilla-central/rev/c07aaf12f13037c1f5a343d31f8291549e57373f/dom/bindings/Codegen.py#8846-8879
https://searchfox.org/mozilla-central/rev/c07aaf12f13037c1f5a343d31f8291549e57373f/dom/bindings/Configuration.py#422-441

[2019-01-29 19:20] jdm commented on #22781
https://heycam.github.io/webidl/#es-default-tojson

[2019-01-30 00:33] jdm opened #22782 "Normalize behaviour of space vs. return for activating elements"
Right now, `Document::dispatch_key_event` triggers different behaviour for elements if you activate them with spacebar or return. Spacebar performs a [synthetic click activation](https://html.spec.whatwg.org/multipage/interaction.html#activation:fire-a-click-event), while Return triggers [implicit form submission](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#implicit-sub

[2019-01-30 00:33] highfive commented on #22782
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-01-30 00:38] jdm opened #22783 "Integrate activation behaviour into event dispatch algorithm"
`synthetic_click_activation` implements an old algorithm for activating elements via synthetic mouse click events. We should rewrite it to implement [this synthetic mouse event algorithm](https://html.spec.whatwg.org/multipage/#fire-a-synthetic-mouse-event) and integrate the activation behaviour into the event dispatch algorithm [per the spec](https://dom.spec.whatwg.org/#concept-event-dispatch).

[2019-01-30 05:15] Hyperion101010 commented on #22359
ferjm i think Tommytrg isn't working on it ,so much of delay !

[2019-01-30 07:12] aditj commented on #22783
I'd like to work on this :grin: . If there are no problems assign me!

[2019-01-30 07:22] ferjm commented on #22287
Great!

I think the only affected WPTs are the ones related to the interface:
- `tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/interfaces/HTMLElement/HTMLMediaElement/crossOrigin.html`
- `tests/wpt/web-platform-tests/html/dom/interfaces.https.html`

You'll likely need to [update the test expectations](https://github.com/servo/servo/tree/master/tests/wpt#updating-test-

[2019-01-30 08:14] ferjm commented on #22359
@Tommytrg how are things going?

I think we can start with the tuple of numbers for the IDs as suggested before to unblock your work, and we can revisit this later to try to make it more generic.

[2019-01-30 08:46] ferjm commented on #22290
This was done in #22321

[2019-01-30 10:41] #21860 closed

[2019-01-30 13:04] aditj commented on #22783
Minor error : components/script/dom/activation.rs

[2019-01-30 14:39] #22761 closed

[2019-01-30 15:14] gterzian commented on #22501
@asajeffrey Looking at your experimental implementation, just wanted to add that the "microtask" aspect would bring additional complication. Currently if `Poll::Pending => self.handle_msgs()` is hit, the microtasks of the waiting pipeline will be executed at the next checkpoint inside `self.handle_msgs`. I think you'de have to drain the microtask queue at the start of `wait_for_future`, and then r

[2019-01-30 15:17] georgeroman commented on #22663
I implemented the changes from the `js` files and regenerated the tests but it seems that no tests were modified, so I'm not sure if I did it properly.

[2019-01-30 15:21] kvark commented on #21350
@pauldipietro I don't think there is any complex logic in here, it's 99% plumbing. I'd start by making sure there is a single rect given for the document, and by forcing the clears and viewports to be set up based on this rect. Then we'd need to change the example to not offset the primitives by the document's origin, and to make sure through the code that the document origin isn't used for anythi

[2019-01-30 16:38] asajeffrey commented on #22501
@gterzian Yes, I'm not sure how to use async/await and still be spec-compliant, sigh.

Perhaps we could use a scheme where we don't re-enter JS if we yield'ed during JS execution? So native tasks could be scheduled, but they wouldn't be visible to JS until the current JS execution returns? It does mean that every call back into JS from native would be async, sigh.

[2019-01-30 17:00] nishanthkarthik commented on #22782
@highfive assign me

[2019-01-30 17:00] highfive commented on #22782
Hey @nishanthkarthik! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-01-30 17:01] nishanthkarthik commented on #22782
@jdm This is my first issue on servo. Let me give it a shot!

[2019-01-30 22:36] asajeffrey opened #22788 "WebGL framerate is 30fps"
I'm only getting 30fps from WebGL applications, e.g. http://webglsamples.org/aquarium/aquarium.html

![screenshot from 2019-01-30 15-15-37](https://user-images.githubusercontent.com/403333/52017432-f1ba3d00-24ac-11e9-846a-823836b0d4ce.png)

Disabling vsync doesn't help, my guess is there's a timer somewhere that is causing rAF to be scheduled a bit more than every 16ms, with the result that we're

[2019-01-30 22:59] asajeffrey commented on #22788
IRC conversation with @glennw: https://mozilla.logbot.info/servo/20190130#c15902377

TL;DR: more research is needed.

[2019-01-31 04:04] pcwalton opened #22790 "Measure the performance of uncontended RwLock"
We've taken as a given that guarding every layout object with a RwLock is expensive, but is that actually true for uncontended objects? We have pretty much the ideal case for performance of RwLock. In a correct implementation, there will be no contention on either writes or reads, so the only overhead will be the overhead of an uncontended compare-and-swap. As long as there is no cache line conten

[2019-01-31 04:05] pcwalton commented on #22790
cc @SimonSapin

[2019-01-31 10:15] VishalCR7 commented on #21261
@highfive : unassign me

[2019-01-31 10:49] gterzian opened #22792 "Script should not run tasks of documents that are not "fully active""
Spec: https://html.spec.whatwg.org/multipage/#event-loop-processing-model:fully-active

Code: https://github.com/servo/servo/blob/8a1cfaacb70bda3fe8bec693bc785a015bebea8f/components/script/script_thread.rs#L1690

Instead of just `task.run_box()` everything that comes in, we could do something similar to what is done with https://github.com/servo/servo/blob/8a1cfaacb70bda3fe8bec693bc785a015bebea8f/

[2019-01-31 11:14] gterzian commented on #22501
By the way, here is an example of something that now blocks script on layout, but actually could be refactored in a more spec-compliant way to not block on layout: https://github.com/servo/servo/issues/21600

[2019-01-31 11:24] jdm commented on #22501
The answer to your question about getComputedStyle is the huge amount of legacy code on the web.

[2019-01-31 11:31] gterzian commented on #22501
@jdm Ok, thanks for the info.

There is one last thing I thought of(I promise I'll stop writing after): one problem with "waking" script that a future is ready from layout, is that this doesn't guarantee that the lock will not have been re-aqcuired by layout by the time script wakes up, unless layout would block in some way waiting on the lock to be acquired by script!

I think there is an actual

[2019-01-31 13:45] ExE-Boss commented on #22501
@jdm Actually, allowing a&nbsp;callback is&nbsp;possible, see&nbsp;https://github.com/w3c/csswg-drafts/issues/3579.

[2019-01-31 13:50] jdm commented on #22501
@ExE-Boss You are correct that it is possible to define it that way. My point is that we still must continue to support the existing synchronous behaviour since so much legacy code depends on it; proposals for new asynchronous behaviour do not solve that.

[2019-01-31 13:53] jdm commented on #21261
Since I don't believe we can determine if a persistent connection is used or not right now, we should set connectStart in the `obtain_response` function in `components/net/http_loader.rs`, right before calling `client.request`.

[2019-01-31 17:14] #22775 closed

[2019-01-31 17:35] atouchet commented on #21820
@aburone this problem is currently being tracked in #22315.

[2019-01-31 17:46] asajeffrey commented on #22788
Argh... Turns out its my display hardware:
[code]
At high resolution, the frame rate is capped at 30fps.

[2019-01-31 17:46] #22788 closed

[2019-01-31 18:22] jdm opened #22794 "Should not be able to scroll page when in fullscreen mode"
https://www.joshmatthews.net/webgl2.html

After entering full screen mode, servo still happily transmits scrolling information to webrender and layout. This should not occur.

[2019-01-31 18:45] asajeffrey opened #22795 "Support a test WebVR/XR display"
For testing, it would be nice to have a WebVR/XR implementation that renders to the current window. Firefox has such a thing behind a `dom.vr.test.enabled` pref.

[2019-01-31 18:47] jdm commented on #20987
No GL error any more.

[2019-01-31 18:47] #20987 closed

[2019-01-31 18:47] asajeffrey commented on #22795
The code for this is also the code needed to support immersive mode on VR devices that don't have an external display, e.g. the magicleap (#22402).

[2019-01-31 18:48] jdm commented on #20991
This displays stuff now.

[2019-01-31 18:48] #20991 closed

[2019-01-31 18:49] jdm commented on #20989
This requires #21132.

[2019-01-31 18:50] jdm commented on #20981
No more GL error!

[2019-01-31 18:50] #20981 closed

[2019-01-31 18:51] jdm commented on #20975
No longer the case.

[2019-01-31 18:51] #20975 closed

[2019-01-31 18:54] jdm commented on #20963
There is no error any more, but it never finishes loading.

[2019-01-31 18:54] jdm commented on #20956
This likely relies on the depth texture extension.

[2019-01-31 19:00] jdm commented on #20945
This displays things now.

[2019-01-31 19:00] #20945 closed

[2019-01-31 19:01] jdm commented on #20949
Example doesn't exist any more.

[2019-01-31 19:01] #20949 closed

[2019-01-31 19:02] jdm commented on #20944
This displays things now.

[2019-01-31 19:02] #20944 closed

[2019-01-31 19:03] jdm commented on #20943
This displays things now.

[2019-01-31 19:03] #20943 closed

[2019-01-31 19:03] jdm commented on #20941
This works now.

[2019-01-31 19:03] #20941 closed

[2019-01-31 19:04] jdm commented on #20940
This does not happen any more.

[2019-01-31 19:04] #20940 closed

[2019-01-31 19:04] jdm commented on #20939
This works now.

[2019-01-31 19:04] #20939 closed

[2019-01-31 19:05] jdm commented on #20938
This works now.

[2019-01-31 19:05] #20938 closed

[2019-01-31 19:06] jdm commented on #20936
This works now.

[2019-01-31 19:07] jdm commented on #20934
It had to click some of the links to change the text attributes a few times, but I was able to trigger this.

[2019-01-31 19:10] jdm commented on #20930
I had to press 'A' a lot of times but I got this error to trigger.

[2019-01-31 19:10] jdm commented on #20930
[2019-01-31T19:09:50Z ERROR canvas::webgl_thread] Last GL operation failed: Clear(17664)
assertion failed: `(left == right)`
  left: `1286`,
 right: `0`: Unexpected WebGL error: 0x506 (1286) (thread WebGLThread, at components/canvas/webgl_thread.rs:1432)
[code]

[2019-01-31 19:13] jdm commented on #20925
Doesn't exist any more.

[2019-01-31 19:13] #20925 closed

[2019-01-31 19:16] jdm commented on #20552
Fixed by #21723.

[2019-01-31 19:16] #20552 closed

[2019-01-31 19:19] jdm commented on #20215
The test no longer panics.

[2019-01-31 19:19] #20215 closed

[2019-01-31 19:23] jdm commented on #7931
Haven't seen this for a long time.

[2019-01-31 19:23] #7931 closed

[2019-01-31 19:40] jdm opened #22796 "Implement WEBGL_depth_texture extension"
https://developer.mozilla.org/en-US/docs/Web/API/WEBGL_depth_texture

[2019-01-31 19:41] jdm opened #22797 "Implement WEBGL_draw_buffers extension"
https://developer.mozilla.org/en-US/docs/Web/API/WEBGL_draw_buffers

[2019-01-31 21:26] jdm opened #22799 "Integrate DOM audio and video track selection with media player"
#22622 added DOM interfaces representing the available audio and video tracks for a media resource. We need to figure out how to make enabling or disabling a particular track cause that equivalent track to be toggled in the underlying media player as well.

[2019-01-31 22:04] jdm opened #22800 "Don't store TaskBox values in Document"
They were added in https://github.com/servo/servo/pull/22395/commits/14b0de30dbf90793c3b6c9017e4c65df9281c5ae but there's an `unsafe_no_jsmanaged` to bypass the fact that they do not derive JSTraceable. This makes it possible to accidentally store values that need to be traced without them being traced, and similar situations have caused problems for us in the past.

[2019-02-01 03:43] paulrouget commented on #22795
I do something like that for Firefox Reality + Servo. WebVR content is rendered directly on the screen. But it's not something that's on the Servo side.

Have you looked at the mock webvr implementation: https://github.com/servo/rust-webvr/tree/master/rust-webvr/src/api/mock

Would that help?

[2019-02-01 04:32] asajeffrey commented on #22795
Yes, I had a look at the mock VR implementation, but it's very mock. For example, we'd need something that returned the right values for the render with and height, and related display parameters.

[2019-02-01 09:09] nonoyek commented on #12555
Is there anyway to make it work? Can i implement the "readAsArrayBuffer" manually? need to use it for my project.. stuck half way.. need help guyss..

[2019-02-01 09:15] ferjm commented on #22290
Ugh, I was wrong! #22321 was never merged, it is still a WIP. Sorry for the confusion!

[2019-02-01 15:14] asajeffrey commented on #22795
With this in place, we could start writing WebVR/XR reftests.

[2019-02-01 15:21] asajeffrey opened #22803 "Add reftests for fullscreen"
I don't think we have any reftests for fullscreen. They'd be pretty easy to add, though we might want a pref for fullscreen-inside-the-browser-window. This is servo's current behaviour but at some point we might fix that and we wouldn't want that to break the reftests.

[2019-02-01 15:22] asajeffrey opened #22804 "Add reftests for WebVR/XR"
Once we have a test WebVR/XR display (#22795) we can write reftests which use it.

[2019-02-01 15:23] asajeffrey commented on #22804
These reftests would probably be a lot like the ones for fullscreen mode. #22803

[2019-02-01 17:56] jdm commented on #20172
I did some more investigation. Right now the set of webrender operations that we need to serialize with IPC inside Servo from components/layout and components/script is:
- a scrolling transaction (Transaction::scroll_node_with_id)
- setting a display list (Transaction::set_display_list)
- performing a hit test (RenderApi::hit_test)
- updating images (Transaction::delete_image, Transaction::update_

[2019-02-01 18:34] #22240 closed

[2019-02-01 20:17] jdm opened #22807 "Build GStreamer shared library for Magic Leap"
Collabora mentioned that it should be possible to use meson to create a build of GStreamer that doesn't have any hardware integration. We should give that a try, the same way that we create Android-specific binaries in https://github.com/servo/libgstreamer_android_gen/.

[2019-02-01 22:47] atouchet commented on #12162
@jdm updated sig in #22259. Is there anything left to do for this?

[2019-02-01 22:59] jdm commented on #12162
Yeah, we are still quite cavalier about allocation in the signal handler.

[2019-02-02 00:22] #16422 closed

[2019-02-02 11:42] vn-ki commented on #21255
@highfive assign me

[2019-02-02 11:42] highfive commented on #21255
Hey @vn-ki! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-03 07:39] okevese commented on #22580
Hello, I would like to work on this issue, @highfive: assign me

[2019-02-03 07:40] highfive commented on #22580
Hey @okevese! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-03 07:40] okevese commented on #22580
@highfive assign me

[2019-02-03 07:40] highfive commented on #22580
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2019-02-03 14:42] ocerman opened #22814 "Flex-grow is causing overflow in some cases"
![test](https://user-images.githubusercontent.com/10187350/52178075-1c1c3b00-27ca-11e9-9c9e-f0a1b8c4f75a.png)
[code]

[2019-02-03 14:52] gterzian opened #22815 "Keep pipeline of "active" documents, and their JS runtime alive"
The spec has a nice example of how a document of a subframe belonging to an iframe can go from fully-active to just active, while a script could still keep a reference to the iframe.

Currently, an "active" pipeline is closed, both in [constellation](https://github.com/servo/servo/blob/481662d0a77c9f85de353107d11beca1a030698d/components/constellation/constellation.rs#L3960) and [script](https://gi

[2019-02-03 15:09] gterzian opened #22816 "Joint Session history seems not to update when "src" of iframe changes"
When writing this [test](https://github.com/web-platform-tests/wpt/pull/15224/files), I noticed that changing the below:
https://github.com/web-platform-tests/wpt/pull/15224/files#diff-47f283d39df04d3104698ec69eeb5d74R14

with a manipulation of the `src` of the iframe didn't seem to have an effect on the session history.

When manipulating the `src`, the call to https://github.com/web-platform-tes

[2019-02-03 15:12] ocerman opened #22817 "Margins within flexbox with flex-direction: column are not displayed correctly"
![servo-t](https://user-images.githubusercontent.com/10187350/52178353-b336c200-27cd-11e9-947d-9412877f026c.png)
[code]

[2019-02-03 15:43] ocerman opened #22818 "Images with padding and border-radius are not cropped correctly"
![servo-img-crop](https://user-images.githubusercontent.com/10187350/52178776-af596e80-27d2-11e9-9da2-84b29bee48fa.jpg)
[code]

[2019-02-03 17:13] vn-ki commented on #21255
@jdm Can you please give some pointers where to start? I looked into `components/net/http_loader.rs::http_fetch`. I'm not sure what to change.

[2019-02-03 17:18] jdm commented on #21255
I believe that this does not require any changes to the code in components/net; it only requires computing the difference between the responseEnd and fetchStart values in components/script/dom/performanceresourcetiming.rs and adding the interface attribute in components/script/dom/webidls/PerformanceResourceTiming.webidl. However, we do not implement responseEnd yet, so you should probably fix #21

[2019-02-03 17:20] jdm commented on #21263
https://github.com/servo/servo/blob/481662d0a77c9f85de353107d11beca1a030698d/components/net/http_loader.rs#L1284-L1302 are two blocks of code that would need to set this attribute in the ResourceFetchTiming structure.

[2019-02-03 17:46] atouchet commented on #22778
Some related fixes were merged in #21968 and #22811. @BeatButton could you check to see if this is fixed for you now?

[2019-02-03 17:48] atouchet commented on #22315
I am no longer able to reproduce the crashes with either the ZIP or installer version of Servo after #21968 and #22811 were merged. Could someone else confirm that this problem is fixed for them or not?

[2019-02-04 01:18] Mardeg commented on #22315
It now brings up a blank window and immediately vanishes, presumably silently crashing with no dialog. Dependencywalker shows one less error than before so I guess that's progress.

Error: At least one required implicit or forwarded dependency was not found.
Error: At least one module has an unresolved import due to a missing export function in an implicitly dependent module.
Warning: At least one

[2019-02-04 07:15] atouchet commented on #22315
@Mardeg what version of Windows are you using?

[2019-02-04 15:06] vn-ki commented on #21255
I can't find a file named that.

[2019-02-04 15:10] jdm commented on #21255
https://github.com/servo/servo/blob/master/components/script/dom/performanceresourcetiming.rs

[2019-02-04 15:11] vn-ki commented on #21263
@jdm Which file(s) should I be looking at for this issue?

I would assume the above linked files have to be changed, but I docs.servo.org/servo is crashing on me and I can't find ResourceFetchTiming structure.

Is there any other way to access the docs?

[2019-02-04 15:44] CYBAI commented on #21263
https://doc.servo.org/servo/index.html

[2019-02-04 15:49] jdm commented on #21263
Other files necessary:
* https://github.com/servo/servo/blob/master/components/net_traits/lib.rs#L444
* https://github.com/servo/servo/blob/master/components/script/dom/performanceresourcetiming.rs
* https://github.com/servo/servo/blob/master/components/script/dom/webidls/PerformanceResourceTiming.webidl

[2019-02-04 19:07] jdm commented on #22370
@sohamdigheoss The E-hard label means that this is probably not a good issue for someone's first contribution to servo.

[2019-02-04 19:19] sohamdigheoss commented on #22370
@jdm yup i kind of had a doubt about it anyways.

[2019-02-04 20:17] kavika13 commented on #22315
I installed the nightly yesterday, directly over the other one, without uninstalling. It is now launching correctly for me, and not crashing when I try a few sites.

[2019-02-04 20:35] #22663 closed

[2019-02-04 20:52] asajeffrey opened #22820 "Add a test to make sure the -servo properties aren't user-accessible"
The matching test for gecko is https://searchfox.org/mozilla-central/source/layout/style/test/test_non_content_accessible_properties.html

As suggested by @jdm on IRC. https://mozilla.logbot.info/servo/20190204#c15921156

[2019-02-04 22:46] zimio commented on #22367
I'm trying to do the wpt test but the their current documentation for doing audioparam tests is not complete I think. I can't find much information about audit. I don't know how I would make wpt for cancelvalues.

So I decided to check what was done in firefox. I found this: https://hg.mozilla.org/mozilla-central/rev/5fc85295afde

I like it. He didn't create a wpt test, just a unit-test. I couldn'

[2019-02-05 06:31] atouchet commented on #22315
I think this can be closed now as it sounds like the issue has been fixed.

@Mardeg if you are still having issues with running the Windows build could you please open a new issue report as that doesn't appear to be the same issue that others were running into.

[2019-02-05 06:31] #22315 closed

[2019-02-05 09:47] gterzian commented on #22501
Re what I said earlier about locks being hard to use in the context of futures, check this out, looks like a potential solution: https://docs.rs/futures/0.1.25/futures/sync/struct.BiLock.html

[2019-02-05 14:13] Manishearth commented on #22367
@zimio right, the backend code is already implemented, the servo side needs to be able to call it from audioparam.rs

[2019-02-05 14:59] FruityWelsh opened #22826 "Could not load the requested page: Unexpected scheme"
This is the error I get when I click on the facebook logo.

Could not load the requested page: Unexpected scheme

[2019-02-05 15:13] nishanthkarthik opened #22827 "Character key KeyUp events are not sent to dispatch_key_event"
In `document.rs`, [dispatch_key_event()](https://github.com/servo/servo/blob/871fe9306f9f485a09ad5f9cc35658da17addbf7/components/script/dom/document.rs#L1385) does not receive `KeyUp` events when character keys are pressed.

Platform: Arch Linux with KDE Plasma

[2019-02-05 15:21] jdm commented on #22826
The debug output in my terminal suggests this is a panic in WebRender:
[code]

[2019-02-05 15:23] jdm commented on #22826
I got this right after logging in while it was trying to display the homepage.

[2019-02-05 16:36] jdm opened #22828 "Implement deprecated PerformanceNavigation interface"
Spec:
https://w3c.github.io/navigation-timing/#the-performancenavigation-interface
https://w3c.github.io/navigation-timing/#extensions-to-the-performance-interface

Code: `components/script/dom/performance.rs`, `components/script/dom/webidls/performance.webidl`

This will require [adding a new DOM interface](https://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface) for PerformanceNav

[2019-02-05 16:37] highfive commented on #22828
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-05 17:13] jdm opened #22829 "Servo doesn't hit test correctly on anchor with background div"
[code]
In every other browser, the mouse cursor remains a pointer when over the red background and the anchor is invoked when clicking. I can't figure out why this is the case, since the anchor element is clearly only the green div, but Servo behaves differently than every other browser.

[2019-02-05 17:14] jdm commented on #22829
Oh, it must be because the div is a block element. That's very confusing!

[2019-02-05 17:29] jdm opened #22830 "Document.elementFromPoint during initial parse returns incorrect result"
[code]
Firefox:
[code]
Servo:
[code]

[2019-02-05 17:36] jdm commented on #22216
[code]
In Firefox and pre-regression Servo this prints `tile`. In nightly Servo this prints `bg`.

[2019-02-05 17:47] jdm commented on #22073
Turns out that #22156 fixed the reduced testcase, but it did not actually fix the original web page that I found this on.

[2019-02-05 18:16] jdm commented on #22073
Here's a modification to the reduced testcase which demonstrates the same dead zones:

<details>

[code]

</details>

[2019-02-05 18:37] jdm commented on #21967
I can't reproduce this panic with the provided link.

[2019-02-05 18:39] jdm commented on #21411
Instead of the previous assertion, I now see a stack overflow:
<details>

[code]

</details>

[2019-02-05 18:40] jdm commented on #20271
This is fixed.

[2019-02-05 18:40] #20271 closed

[2019-02-05 18:41] jdm commented on #19951
I can't reproduce this on macOS.

[2019-02-05 18:46] jdm commented on #18717
This no longer panics.

[2019-02-05 18:46] #18717 closed

[2019-02-05 18:48] jdm commented on #18689
This no longer panics.

[2019-02-05 18:48] #18689 closed

[2019-02-05 18:49] jdm commented on #18688
This no longer panics.

[2019-02-05 18:49] #18688 closed

[2019-02-05 18:50] jdm commented on #19281
Encountered on http://www.naver.com when trying to reproduce #18687.

[2019-02-05 18:51] jdm commented on #18610
These problems don't appear any longer.

[2019-02-05 18:51] #18610 closed

[2019-02-05 18:55] jdm opened #22831 "Panic in WR when updating media image"
I hit this when closing the reddit homepage after scrolling around.
[code]

[2019-02-05 18:55] jdm commented on #18298
Can't reproduce this any more.

[2019-02-05 18:55] #18298 closed

[2019-02-05 18:56] jdm commented on #17230
[code]

[2019-02-05 18:57] jdm commented on #16763
This was fixed in WebRender.

[2019-02-05 18:57] #16763 closed

[2019-02-05 19:00] jdm commented on #12644
[code]
I see a WebGL error almost immediately.

[2019-02-05 19:09] jdm commented on #12644
This may be macOS-specific, based on http://qaru.site/questions/9391558/vertex-array-objcects-glgenvertexarrays-glinvalidoperation-on-osx.

[2019-02-05 20:07] jdm commented on #22760
I don't have a lot of information to provide here; using my work from #22041 as a model is probably a good place to start.

[2019-02-05 20:09] #22804 closed

[2019-02-06 03:52] est31 commented on #21967
Can't reproduce either any more. Closing.

[2019-02-06 03:52] #21967 closed

[2019-02-06 04:08] est31 opened #22833 "Certain Wikipedia pages rendered incorrectly"
This renders fine https://en.wikipedia.org/wiki/Obama

![screenshot_obama](https://user-images.githubusercontent.com/8872119/52320050-2eb29200-29cd-11e9-9dd2-fd573d7bb900.png)

But this has issues https://en.wikipedia.org/wiki/New_York_State_Route_373

![screenshot_state_route](https://user-images.githubusercontent.com/8872119/52320031-0aef4c00-29cd-11e9-889d-271626ace81d.png)

[2019-02-06 04:13] est31 commented on #12616
As of b7e9bab26755c46b45ea651d30557ba7be9d89eb , this seems fixed.

[2019-02-06 04:13] #12616 closed

[2019-02-06 04:23] paulrouget opened #22834 "Creates a C header file for libsimpleservo API"
The `extern "C"` functions and the `#[repr(C)]` structs in https://github.com/servo/servo/blob/master/ports/libsimpleservo/capi/src/lib.rs should be available as a `.h` file as well.

We could create the .h manually and build the .rs file with bindgen, or keep the .rs and build the .h with rusty-cheddar.

For the record, I built that .h manually for another project: https://github.com/paulrouget/l

[2019-02-06 10:57] ForsakenDurian commented on #22828
@highfive: assign me

[2019-02-06 10:57] highfive commented on #22828
Hey @ForsakenDurian! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-06 15:21] ferjm commented on #22831
CC @ceyusa

[2019-02-06 15:46] asajeffrey opened #22837 "Rounding errors on viewport size"
Running servo with `--resolution 1024x512` results in:
[code]
that is the viewport is set to `1023.6 x 511.2`, which rounds to `1024x511` resulting in 1px errors.

[2019-02-06 15:57] jdm opened #22838 "Shorthand properties of computed CSSStyleDeclaration don't return correct values"
[code]
In Firefox, this shows `hidden` twice. In Servo this shows an empty string, followed by `hidden`.

[2019-02-06 16:02] jdm commented on #22838
There's a comment in `processed_resolved_style_request` that looks fishy to me given Firefox's behaviour:
[code]

[2019-02-06 16:05] jdm commented on #22838
@emilio This behaviour was introduced in 0ad2d39c30ac2827e4956224de578f2dea78916d. Firefox appears to behave differently now; do you know when that changed?

[2019-02-06 16:07] jdm commented on #22838
Mmm, maybe it was introduced in 58d452fa4e7b4b426925fe3bc525251048ae2830 instead.

[2019-02-06 16:20] jdm commented on #22838
Chrome also returns real values for shorthands, so Servo's behaviour is definitely not web compatible.

[2019-02-06 16:23] jdm commented on #22838
I think the right thing to do here is implement the same shorthand logic as [Servo_GetPropertyValue](https://searchfox.org/mozilla-central/rev/e00ea598e52bbb35f8c45abf9c2eade17962bb5e/servo/ports/geckolib/glue.rs#5677) in at least `process_resolved_style_request_internal`, possibly `process_resolved_style_request` as well.

[2019-02-06 17:42] #18356 closed

[2019-02-06 18:26] jdm commented on #22838
Ah, I see https://github.com/w3c/csswg-drafts/issues/2529 and the note in the spec for step 5 of https://drafts.csswg.org/cssom/#dom-window-getcomputedstyle which explicitly mentions overflow.

[2019-02-06 21:42] SimonSapin commented on #22834
WebRender uses https://crates.io/crates/cbindgen instead of rusty-cheddar.

[2019-02-06 21:48] jdm opened #22842 "Media panic creating a Hubs room"
Visit https://hubs.mozilla.com/ and press "create room"
[code]

[2019-02-06 22:10] jdm commented on #22842
This appears to be a ffi::GST_AUDIO_CHANNEL_POSITION_MONO value (which is -2), and to_mask() transmutes that to a u32 and performs `1 << val`. I'll file this upstream with gstreamer-rs.

[2019-02-06 22:17] jdm commented on #22842
It looks like we should be a bit more careful in the meantime and possibly use the fallback mask if we're dealing with a mono position?

[2019-02-06 22:40] jdm commented on #22842
Filed https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/issues/183 and https://github.com/servo/media/issues/195.

[2019-02-06 22:43] jdm opened #22843 "Implement WheelEvent interface"
Spec: https://w3c.github.io/uievents/#events-wheelevents
Docs: https://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface

I see `[2019-02-06T22:41:04Z ERROR script::dom::bindings::error] Error at https://assets-prod.reticulum.io/assets/js/hub-01a8e131ea6755144653.js:1:376343 WheelEvent is not defined` when creating a Hubs room.

[2019-02-06 22:44] highfive commented on #22843
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-06 22:48] jdm commented on #22843
We can hook this up to the [MouseWheel](https://doc.servo.org/glutin/enum.DeviceEvent.html#variant.MouseWheel) device event in [this event handling loop](https://github.com/servo/servo/blob/73ff9995fbd062887d86a37d7349caa26b95d1a5/ports/servo/glutin_app/window.rs#L442), and add a new [WindowEvent](https://github.com/servo/servo/blob/73ff9995fbd062887d86a37d7349caa26b95d1a5/components/compositing/w

[2019-02-07 00:33] #22073 closed

[2019-02-07 00:33] #22216 closed

[2019-02-07 09:07] paulrouget commented on #22834
@SimonSapin thanks. This works well. Waiting on https://github.com/eqrion/cbindgen/pull/271

[2019-02-07 12:47] CYBAI opened #22845 "Make target=_blank imply noopener; support opener"
whatwg/html#4330
web-platform-tests/wpt#15188

[2019-02-07 13:39] gterzian commented on #22800
If this is about the use of

https://github.com/servo/servo/blob/d029b1a0ff1ada939d4816afb4fb5f9f903dafbd/components/script/dom/document.rs#L418

I would say it could be taken care of as part of https://github.com/servo/servo/pull/22802(which is awaiting review by the way).

@jdm I'm not up-to-speed on how the mechanism around `delayed_tasks`, however if you could add something in [here](https://g

[2019-02-07 13:46] gterzian commented on #22800
Nevermind the task queue itself also also stored using `nsafe_no_jsmanaged`...

https://github.com/servo/servo/blob/d029b1a0ff1ada939d4816afb4fb5f9f903dafbd/components/script/script_thread.rs#L491

[2019-02-07 14:01] gterzian commented on #22800
One question, after seeing the below

https://github.com/servo/servo/blob/6b648429f54b6b56546e8f744657e32bd6ac21b5/components/script/dom/bindings/trace.rs#L144

Is that correct? If so, what is the problem with storing a `TaskBox` somewhere using `unsafe_no_jsmanaged_fields!`?

[2019-02-07 14:02] nox commented on #22800
The problem is that `TaskBox` is a trait, so `Box<dyn TaskBox>` is a trait object, and there is no way to prove that indeed, it didn't need to be traced.

[2019-02-07 14:05] gterzian commented on #22800
Ok, thanks(by the way the above `unsafe_no_jsmanaged_fields!(Box<dyn TaskBox>);` I now see was added in the PR @jdm referred to above).

In that case, it looks like this issue should be expanded to not storing them on the `TaskQueue` either?

What about those that are "in transit" in the crossbeam channel itself?

[2019-02-07 14:08] nox commented on #22800
No those are ok. The issue with `unsafe_no_jsmanaged_fields!(Box<dyn TaskBox>)` is that it won't complain if you put something that needs tracing in the task, and then queue it, say, in a `Document` field, but it will definitely complain with or without that if you put something that needs tracing in the task and then send it over a crossbeam channel. Does that make sense to you?

[2019-02-07 14:08] nox commented on #22800
On a more general note, `delayed_tasks` is a concept that is missing in the spec, and I'm working on changing the DOM insertion algo to make it a thing there.

[2019-02-07 14:33] gterzian commented on #22800
Ok I hadn't previously seen that those "delayed tasks" are enqueued directly from within script(I thought they were received "as usual" from the task-queue/task-source and then buffered on the document).

Other than that I still need to get a more intuitive understanding of how the GC works.

Can I just ask what is the difference between storing a `Box<dyn TaskBox>` on a `Document`(I see it has a

[2019-02-07 14:47] jdm opened #22846 "Implement CDataSection interface and createCDATASection method"
Spec:
* https://dom.spec.whatwg.org/#interface-cdatasection
* https://dom.spec.whatwg.org/#ref-for-dom-document-createcdatasection
* https://dom.spec.whatwg.org/#dom-document-createcdatasection
* https://dom.spec.whatwg.org/#ref-for-dom-node-cdata_section_node
* https://dom.spec.whatwg.org/#dom-node-nodename

This will require following [the documentation](https://doc.servo.org/script/dom/index.ht

[2019-02-07 18:34] peterjoel commented on #8539
I am quite close to generating a structure that works from a proc-macro, but I have some questions on usage that will impact the exact design.

This is what I have been working towards:

* The leaves of the static structure are wrappers for `Arc<RwLock<T>>`, with a `get_ref` method to get a `impl Deref<Target = T>`. e.g. `let enabled = *PREFS.foo.bar.enabled`
* The only restriction on the type of

[2019-02-07 18:52] jdm commented on #8539
Yes, the only preference update after initialization comes from [this string-based code](https://github.com/servo/servo/blob/d029b1a0ff1ada939d4816afb4fb5f9f903dafbd/components/webdriver_server/lib.rs#L1121-L1153).

[2019-02-07 19:34] peterjoel commented on #8539
@jdm Ok, so it's ok for the static structure to be read-only?

It would seem like it's best to limit the types to the `i64`, `f64`, `bool`, `String` in that case too then.

[2019-02-07 19:40] jdm commented on #8539
If I understand correctly, I believe it's ok for the static structure to be read-only.

[2019-02-08 04:35] jdm opened #22848 "Intermittent timeout in /html/semantics/embedded-content/media-elements/interfaces/TextTrack/activeCues.html"
[code]

[2019-02-08 04:36] jdm opened #22849 "Intermittent fail in /webaudio/the-audio-api/the-audiobuffersourcenode-interface/sub-sample-buffer-stitching.html"
[code]

[2019-02-08 06:21] highfive commented on #22845
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-08 06:21] gterzian commented on #22845
Code https://github.com/servo/servo/blob/71ba247942a95d1511c9fa62f06d860fcc03de1c/components/script/dom/htmlanchorelement.rs#L608

[2019-02-08 06:23] gterzian commented on #22845
This would require replace

https://github.com/servo/servo/blob/71ba247942a95d1511c9fa62f06d860fcc03de1c/components/script/dom/htmlanchorelement.rs#L611

with an assertation that the link **doesn't** contain `opener`

[2019-02-08 09:52] georgeroman commented on #22515
In the end I didn't manage to make the test go from `TIMEOUT` to `FAIL`, so I made a PR just with the implementation of the `target` attribute: #22850. However, I'll keep trying.

[2019-02-08 10:10] georgeroman commented on #22845
@highfive: assign me

[2019-02-08 10:10] highfive commented on #22845
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-08 11:48] okevese commented on #22580
@jdm I get the following error when building on **Linux Mint 18.3**. I ran `./mach bootstrap` successfully and I'm using `clang 6.0`

` undefined reference to 'gst_promise_new_with_change_func`
...
`undefined reference to 'gst_player_config_set_position_update_interval'`
...
`undefined reference to 'gst_player_media_info_get_number_of_video_streams'`
...
`undefined reference to 'gst_player_media_i

[2019-02-08 13:43] jdm commented on #22580
It sounds like you need to update the version of GStreamer that you have installed.

[2019-02-08 15:23] jdm opened #22853 "Make Window::set_fullscreen pass a non-None value when entering fullscreen"
I expect we can call `window.get_primary_monitor()` to get a monitor id, then pass that in a `Some` value when `state` is true. This will hopefully make Servo _actually_ enter full screen mode.

It looks like we will also need to change the use of `SetFullscreenState` in `exit_fullscreen` in document.rs to pass the value `false`, or we will never be able to exit fullscreen mode.

https://www.joshm

[2019-02-08 15:23] highfive commented on #22853
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-08 15:49] jdm opened #22854 "Remove uses of opts::get() from as much code as possible"
Right now the code in components/config has a bunch of code depending on it because the command line arguments for Servo are global singleton that any code can access. This makes changing the command line code for Servo frustrating, because a lot of code gets rebuilt unnecessarily. We should remove as many uses of opts::get() as possible, and replace them with values that are passed into appropria

[2019-02-08 15:49] highfive commented on #22854
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-08 16:37] asajeffrey opened #22855 "Run WebVR content without context switching?"
At the moment, running WebVR content keeps active:

- The main thread
- At least one script thread
- At least one layout thread (even though we never render the resulting laid out DOM)
- The constellation
- The webGL thread
- The webVR thread (and possibly the webVR rAF thread)
- The webrender thread (though that could be merged with the main thread?)
- Forwarding threads copying messages from IPC

[2019-02-08 18:33] lesves opened #22857 "Avast detects a font in servo as a threat"
Hi, I'm new to servo and I'm not sure if I'm submitting this issue correctly.
I cloned servo with `git clone https://github.com/servo/servo`

While cloning, avast antivirus reported that it found a threat in:
`servo/tests/wpt/web-platform-tests/css/css-fonts/support/fonts/FontWithFancyFeatures.otf`
It says that it is an exploit TTF:CVE-2012-0159 [Expl].

I'm running macOS High Sierra 10.13.6

[2019-02-08 18:44] jdm commented on #22857
The code under web-platform-tests is directly synced from https://github.com/web-platform-tests/wpt, so I recommend filing an issue in that repository instead.

[2019-02-08 18:44] #22857 closed

[2019-02-08 18:47] lesves commented on #22857
Also when building servo, I encountered another avast popup with this font:
`~/.cargo/git/checkouts/fontsan-75864180be477bc9/29e879c/src/ots/tests/fonts/bad/7c8eefff708b374fffbce135ba28a4565766e560.otf`. But fontsan is a font sanitiser so this is probably ok.

[2019-02-08 19:59] okevese commented on #22580
I've done that and still get the same error. I'm currently checking the `gstreamer.rs` dependencies of [servo/media](https://github.com/servo/media), maybe that's where the problem is.

[2019-02-09 00:49] larsbergstrom opened #22858 "Consider simplifying Windows setup instructions"
We may be able to use [Chocolatey](https://chocolatey.org/) to reduce the complexity of the Windows install steps. At least git and python and Visual Studio Community have scripts already and there is a beta for rustup. If there was one for the gstreamer package, we could probably do most of the installation of the prerequisites in a single step.

[2019-02-09 09:46] ForsakenDurian commented on #22828
Okay, I have no idea what to define within the DOM struct. Sorry, I'm new to this.

[2019-02-09 21:00] Hyperion101010 commented on #21260
Can you help me here , i am working on this bug !
So i did some research and found that you have struct of PerformanceResourceTiming containing domainlookup float type .
Now i have figured out how to apply all the above rules , just the part of finding the instance with struct  PerformanceResourceTiming is something that , i am not sure how can i use/find it

[2019-02-10 06:32] emilio opened #22862 "Cleanup layout code that could use type alias enum variants."
We have a fair amount of code that imports `Foo as GenericFoo`, in order to be able to match on a type alias.

Code under `components/layout/` can be adjusted to use https://github.com/rust-lang/rust/issues/49683 (code under `components/style/` cannot, yet, until that feature is stabilized).

Example of code to clean up is:

https://github.com/servo/servo/blob/5de6d87c97050db35cfb0a575e14b4d9b6207

[2019-02-10 06:32] highfive commented on #22862
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-10 11:00] nox commented on #1188
Is this still a thing, @jdm?

[2019-02-11 08:20] ferjm commented on #22358
#22853 may be relevant here.

[2019-02-11 12:25] #22515 closed

[2019-02-11 12:33] nox commented on #20412
I don't see how moving serde support directly in the url crate fixes that issue, given that still is driven by serde and anyone would be able to, say, write some hand-crafted JSON to create an invalid `Url` value.

[2019-02-11 12:33] nox commented on #20412
The real fix is to stop using Serde for IPC, and rework our entire IPC infrastructure, but that's a massive investment of developer time.

[2019-02-11 12:57] SimonSapin commented on #20412
Couldn’t a hand-crafted non-serde IPC message create an invalid `Url` just the same?

[2019-02-11 13:09] nox commented on #20412
Yes definitely, but we would control it. I don’t think serde support itself in the url crate should have such a hatch in safe code.

--
Anthony Ramine

[2019-02-11 15:34] jdm opened #22865 "Intermittent failure in /css/CSS2/floats-clear/clear-float-001.xht (bolded text)"
On macOS:
Test:
<img width="582" alt="screen shot 2019-02-11 at 10 33 24 am" src="https://user-images.githubusercontent.com/27658/52573595-80ea1d80-2de8-11e9-915f-fe4eb766e7b4.png">

Reference:
<img width="565" alt="screen shot 2019-02-11 at 10 33 30 am" src="https://user-images.githubusercontent.com/27658/52573604-86dffe80-2de8-11e9-9f40-d224a799aa11.png">

Since the tests do not include any font

[2019-02-11 16:19] Hyperion101010 commented on #21260
@highfive: assign me

[2019-02-11 16:19] highfive commented on #21260
Hey @Hyperion101010! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-11 16:21] Hyperion101010 commented on #21260
I am concerned about some things here ?
It's pretty new library ,and most of part is yet to be implemented .But i'll try my best to work upon it silently

[2019-02-11 16:31] jdm commented on #21260
Given that hyper does not expose a callback for letting us know if we're using a persistent connection or performing domain resolution, I do not believe we can implement this without modifying hyper.

[2019-02-11 16:31] jdm commented on #21259
@vuamitom Are you still working on this?

[2019-02-11 18:42] jdm commented on #21870
https://github.com/mozilla/grcov

[2019-02-11 19:18] #22503 closed

[2019-02-11 20:17] jdm opened #22866 "Support installing on magic leap devices"
It would be nice for `./mach install -d --magicleap` to run `$MAGICLEAP_SDK/tools/mldb/mldb install -u target/magicleap/aarch64-linux-android/debug/Servo2D.mpk` for me.

[2019-02-11 20:17] highfive commented on #22866
cc @wafflespeanut

[2019-02-11 20:59] #21169 closed

[2019-02-12 03:08] jdm commented on #22748
The demos work fine in release builds, but in debug builds they display nothing.

[2019-02-12 03:11] jdm commented on #22748
I'm going to try to see if this is a regression or if it's always been the case.

[2019-02-12 08:36] paulrouget opened #22868 "Servo on Desktop: maybe use libsimpleservo + libui?"
I'm not sure about that just yet, but maybe it's worth considering.

I recently added OpenGL support for Mac and Linux, and Windows support via EGL+Angle should not be too hard to achieve. Additionally, the C API appears to work.

The current Desktop servo app is build in Rust. One of the issue with Winit/Glutin is that it requires a full window GL buffer (or some hacky workaround to add widgets).

[2019-02-12 16:37] CYBAI opened #22869 "Support "noreferrer" for window.open()"
whatwg/html#4331
web-platform-tests/wpt#15352
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1527287

[2019-02-12 16:43] Hyperion101010 commented on #22307
Please add a tick here , if it is complete https://github.com/servo/servo/issues/21253
I am working on one of 19 issues , and came to know that there are lot of changes coming by this one
So , it'll help everyone in understanding what tasks are complete will now.

[2019-02-12 18:34] SimonSapin opened #22870 "Migrate Windows/Taskcluster AMI to generic-worker 13"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1375182#c6. CC https://github.com/servo/servo/issues/22325.

[2019-02-13 02:00] SuperRoboWizard opened #22873 "Mach bootstrap does not support openSUSE"
Despite there being instructions in "Setting up your environment" for openSUSE, bootstrap.py raises an error. This appears to be a twofold issue: first, openSUSE is simply not in the internal list of supported distros, and second, the Python platform.getLinuxDistribution() function returns three empty strings.
[code]

[2019-02-13 03:00] vuamitom commented on #21259
Hi @jdm I have not made any progress since my last question posted. Please feel free to re-assign if you need the issue resolved quicker.

[2019-02-13 03:11] jdm commented on #22873
Mach should be using python2 not python3.

[2019-02-13 03:31] Hyperion101010 commented on #21260
avadacatavara has commented that hyper is out of this scope , but still for a full implementation hyper support will be needed, which i think we can add in incremental way.

[2019-02-13 09:05] georgeroman commented on #22846
@highfive: assign me

[2019-02-13 09:05] highfive commented on #22846
Hey @georgeroman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-13 12:20] CYBAI opened #22876 "Cannot render GraphiQL panel correctly"
The GraphiQL panels are not rendered correctly.

Url: https://jwerle.github.io/three.graphql/

On Firefox:
<img width="1680" alt="default" src="https://user-images.githubusercontent.com/6782666/52711334-e69afd00-2fd4-11e9-88cd-d8c0bc9f1858.png">

On Servo:
<img width="1022" alt="default" src="https://user-images.githubusercontent.com/6782666/52711316-dc78fe80-2fd4-11e9-9ae7-45618f8e8f9b.png">

Bui

[2019-02-13 12:26] CYBAI commented on #22876
I can reproduce this when unchecking the `height: 100vh` on Firefox.

<img width="1680" alt="default" src="https://user-images.githubusercontent.com/6782666/52711796-0f6fc200-2fd6-11e9-8a12-d8d927af6f81.png">

cc @emilio

[2019-02-13 14:34] petemoore commented on #22870
@SimonSapin I've mirrored this issue in [bug 1527613](https://bugzil.la/1527613) for helping us track work item dependencies in bugzilla. I would be grateful if you could close that bug when this issue is resolved.

Many thanks!

[2019-02-13 14:46] asajeffrey opened #22877 "WebVR presents in the WebGL thread, which manages its own GL context"
When a WebVR display starts presenting, it uses the WebGL thread to execute `sync_poses()`, `submit_frame()` et al., which presents issues if the `VRDisplay` uses a GL context, since the WebGL thread does its own GL context management, and won't be too happy if the current GL context changes without its knowing. The solution is to have the `VRDisplay` spin up a thread with its own GL context, but

[2019-02-13 16:26] jdm commented on #20799
Example doesn't exist any more.

[2019-02-13 16:26] #20799 closed

[2019-02-13 16:28] jdm commented on #20801
example doesn't exist any more.

[2019-02-13 16:28] #20801 closed

[2019-02-13 16:41] #20803 closed

[2019-02-13 17:34] jdm commented on #22145
WrappedBody no longer exists.

[2019-02-13 17:34] #22145 closed

[2019-02-13 17:35] jdm commented on #21977
WIP in #22856.

[2019-02-13 17:37] jdm commented on #21396
The experiments were merged into master, so we can file more specific issues about missing pieces now.

[2019-02-13 17:37] #21396 closed

[2019-02-13 17:41] SuperRoboWizard commented on #22873
Running platform.linux_distribution() does the same thing from the python2 shell--returns a tuple of 3 empty strings.

[2019-02-13 18:07] jdm commented on #22873
It's possible the solution here is using [the distro package](https://pypi.org/project/distro/) instead of `platform.linux_distribution()`.

[2019-02-13 18:33] asajeffrey opened #22878 "Allow the embedder to register a VRService"
The current architecture makes it difficult for the embedder to register a `VRService`, since the `VRServiceManager` is created when the constellation is created, and isn't exposed to the embedder. This makes it tricky to register a `VRService` which depends on the embedder's environment.

[2019-02-13 19:16] jdm commented on #14837
Specifically, if we want to test the following scenarios:
* xhr/fetch inside of a worker that inherits the document's policy
* xhr/fetch inside of a worker that receives a different policy than the document via the Referrer-Policy HTTP header

Then I think the correct way to support this is:
* add new `worker-xhr-request` and `worker-fetch-request` subresource types
* make these new types generate

[2019-02-13 22:14] jdm opened #22879 "WebStorage check for related documents relies on URL origin instead of document origin"
This causes us to fail tests like [event_basic](https://github.com/web-platform-tests/wpt/blob/master/webstorage/event_basic.js) which use an iframe to watch for storage events. The code in `handle_broadcast_storage_event` in constellation.rs compare the origin of the pipeline's url against the origin of the url of the document that triggered the storage event, and since these don't match the abou

[2019-02-13 22:16] jdm commented on #22879
I think the right way of handling this is to add a separate origin field to Pipeline which is set by the Constellation when navigations occur, based on the kind of navigation and the pipeline's place in the session history.

[2019-02-13 22:26] jdm opened #22880 "Implement historical srcElement attribute for Event interface"
https://dom.spec.whatwg.org/#event contains a `srcElement` attribute which should behave exactly the same as the `target` attribute per [the spec](https://dom.spec.whatwg.org/#dom-event-srcelement).

Code: `components/script/dom/webidls/Event.webidl`, `components/script/dom/event.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/dom/event` and then [update the expected results](https://gith

[2019-02-13 22:26] highfive commented on #22880
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-13 22:29] jdm opened #22881 "Implement historical returnValue attribute for Event interface"
https://dom.spec.whatwg.org/#event has a `returnValue` attribute which we should implement. This requires following the [spec](https://dom.spec.whatwg.org/#dom-event-returnvalue) for setting and getting the value, which should affect the `canceled` member of Event.

Code: `components/script/dom/webidls/Event.webidl`, `components/script/dom/event.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-t

[2019-02-13 22:29] highfive commented on #22881
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-13 22:30] jdm opened #22882 "Implement historical cancelBubble attribute for Event interface"
https://dom.spec.whatwg.org/#event has a `cancelBubble` attribute which we should implement. This requires following the [spec](https://dom.spec.whatwg.org/#dom-event-cancelbubble) for setting and getting the value, which should affect the `stop_propagation` member of Event.

Code: `components/script/dom/webidls/Event.webidl`, `components/script/dom/event.rs`
Tests: `./mach test-wpt tests/wpt/web-

[2019-02-13 22:30] highfive commented on #22882
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-13 22:40] jdm commented on #22782
@nishanthkarthik Have you made progress?

[2019-02-13 22:40] jdm commented on #22783
@aditj Have you made progress?

[2019-02-13 22:54] jdm opened #22883 "Implement optional arguments for initEvent method of Event interface"
https://dom.spec.whatwg.org/#event has a `initEvent` method which we implement, but our implementation is missing the optional annotations and default values.

Code: `components/script/dom/webidls/Event.webidl`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/dom/event` and then [update the expected results](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectati

[2019-02-13 22:54] highfive commented on #22883
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-13 23:00] jdm opened #22884 "Implement buttons attribute of MouseEvent"
https://w3c.github.io/uievents/#idl-mouseevent
https://w3c.github.io/uievents/#dom-mouseevent-buttons

I guess we will need to store the status of the mouse buttons in the constellation and send that with the MouseButtonEvent and MouseMoveEvent events that are sent to the script thread, so that it can be provided to all of the mouse events that are dispatched.

Code: `components/script/dom/webidls

[2019-02-13 23:05] jdm opened #22885 "Event timestamp should use same clock as Performance.now"
Right now we initialize the event timestamps to `time::get_time().sec`, which is very different than Performance.now's `time::precise_time_ns()` using the navigation start as the time origin.

Code: `components/script/dom/event.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/dom/events/Event-timestamp-high-resolution.html`

[2019-02-13 23:05] jdm commented on #22885
The spec says `Returns the event’s timestamp as the number of milliseconds measured relative to the time origin.`.

[2019-02-13 23:39] jdm opened #22887 "Event dispatching and event listener/handler management does not match specification"
There are various issues that I have noticed so far:
* https://github.com/servo/servo/issues/13152
* https://github.com/servo/servo/issues/22783
* we ignore errors in CompiledEventListener::call_or_handle_event, rather than rethrowing
* the spec for [dispatching](https://dom.spec.whatwg.org/#concept-event-dispatch) is much more complex than the one that our implementation was written against

It w

[2019-02-13 23:57] jdm opened #22888 "Use origin of source document for MessageEvent resulting from postMessage"
Right now `Window::post_message` passes `None` as the value that will initialize `MessageEvent.origin`. [The spec](https://html.spec.whatwg.org/multipage/comms.html#dom-messageevent-origin) says this should be the origin of the source document that posted the message instead. We will want to add a new origin argument to `Window::post_message`, and store the origin in `ScriptMsg::PostMessage` as we

[2019-02-14 00:44] jdm commented on #5353
No more gonk.

[2019-02-14 00:44] #5353 closed

[2019-02-14 01:20] nishanthkarthik commented on #22782
I'm on the test cases. I expect to send a PR by this weekend

[2019-02-14 05:32] ksavinash9 commented on #22862
@highfive: assign me

[2019-02-14 05:32] highfive commented on #22862
Hey @ksavinash9! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-14 08:25] aditj commented on #22783
@jdm
Hey! Sorry for the delay I was working on one of the previous issues, I looked into the issue today, progressed a bit .
First of all, I am looking into rewriting the implementation before integrating it into the event dispatch algorithm. I have some( actually many :stuck_out_tongue: ) questions regarding the issue.
a) Do we need the following in the new synthetic_click_activation function :

[2019-02-14 10:47] gterzian opened #22890 "Add "referrer" to fetch request used in navigation"
It seems that the spec is moving towards integration of [navigation](https://html.spec.whatwg.org/#navigating-across-documents) with [Fetch](https://fetch.spec.whatwg.org), as exemplified by the aptly named [process a navigate fetch](https://html.spec.whatwg.org/#process-a-navigate-fetch) and [process a navigate response](https://html.spec.whatwg.org/#process-a-navigate-response).

For example:

-

[2019-02-14 10:49] gterzian commented on #22869
Code: https://github.com/servo/servo/blob/b65828d909ec9ead7412fffdee2d07c285611a0a/components/script/dom/windowproxy.rs#L398

Also note this is probably a good time to first do https://html.spec.whatwg.org/#concept-window-open-features-tokenize

[2019-02-14 15:52] #22878 closed

[2019-02-14 21:24] JesseBellingham commented on #22883
Hi, first time open source contributor here, I was hoping to pick this one up?
@highfive: assign me

Possibly a stupid question, the properties marked as historical in the documentation, these are included as needing to be implemented for this issue?

[2019-02-14 21:24] highfive commented on #22883
Hey @JesseBellingham! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-14 21:35] jdm commented on #22883
Correct. They are artifacts of an earlier time before the web was standardized, and there are websites that still rely on them.

[2019-02-14 21:41] jdm opened #22892 "Tests with network requests frequently time out under rr"
I have observed this in an unmodified Servo build using `RUST_LOG=tokio,net,hyper ./mach test-wpt --debugger=rr --debugger-args="record --chaos" --no-pause-after-test --repeat-until-unexpected tests/wpt/web-platform-tests/fetch/content-type/script.window.js`. I suspect this is not limited to this particular test.

The symptom is that the test makes a number of HTTP requests to the WPT python HTTP

[2019-02-14 21:42] jdm commented on #22892
My attempt to write a standalone rust program that made the same kinds of requests to the server did not reproduce the same problem when run under rr.

[2019-02-14 22:34] seanmonstar commented on #22892
I spent a few hours today tracing through the logs you gave me, and started to notice subtle differences with what is in the latest versions of tokio. Would it be possible to update hyper and all tokio crates to the newest version?

[2019-02-14 23:22] jdm commented on #22892
That is already the case as far as I know.

[2019-02-14 23:30] jdm commented on #22892
That being said, I am starting from master and upgrading everything again and I'll grab new logs.

[2019-02-14 23:32] seanmonstar commented on #22892
I noticed a couple lines "starting background reactor", which with newer tokio, shouldn't happen automatically anymore, as each worker has its own reactor instead of them all sharing a background one.

[2019-02-14 23:56] jdm commented on #22892
Reproduced with https://github.com/servo/servo/compare/master...jdm:master.

[2019-02-15 00:03] seanmonstar commented on #22892
Could I bother you for logs from the newest versions? Since a few things had changed, it was difficult to trace execution with the older logs and comparing with the tokio repo.

[2019-02-15 00:11] jdm commented on #22892
https://gist.github.com/jdm/d91481985d554250a1988c3c34808639

The problem requests start on line 654.

[2019-02-15 00:22] seanmonstar commented on #22892
There is still a line about background reactor, which if on the newest version, should only happen when a socket is being used outside of a runtime. I suspect this line here: https://github.com/servo/servo/blob/2c63d1296bbf562f53186eb26411b8dfc9545147/components/net/http_loader.rs#L1198

What if you replace that with something that spawns the `ResponseFuture` on the runtime, like this:

[code]

[2019-02-15 00:42] jdm commented on #22892
[code]

[2019-02-15 00:44] seanmonstar commented on #22892
Can it be `Send`? By adding to the trait object? https://github.com/servo/servo/blob/master/components/net/http_loader.rs#L356

[2019-02-15 02:41] jdm commented on #22892
It compiled, but I was still able to reproduce the timeout.

[2019-02-15 03:04] seanmonstar commented on #22892
I'm specifically trying to understand why at the end, there are no `event Readable Token(...)` after the `Writable` events get logged. Is it possible to see the logs of the version using the oneshot?

Oh also, is this Mac-specific (and so I should be looking at kqueue), or Mac + Linux?

[2019-02-15 04:16] jdm commented on #22892
I have only observed this under rr, which is linux-specific.

[2019-02-15 04:29] jdm commented on #22892
Here's a log from the oneshot build - first there's a log of a timing out run, and then there's a log of a successful run: https://gist.github.com/jdm/66cf22f47c568e59ee6c59721faa59c9

[2019-02-15 13:08] #22834 closed

[2019-02-15 14:05] MortimerGoro commented on #22855
On FirefoxReality using GeckoView we pause the Gecko compositor when a WebVR session starts. I think some of the Servo threads could also be stopped if we can do something similar as pausing the compositor (I mean not waking up for processing events until we enable it again)

Probably a different sceneario between Magic Leap and other. On Oculus or Daydream we have a more flexible way to run the V

[2019-02-15 14:53] asajeffrey commented on #22855
Yes, we could try pausing style/layout/WR, though as long as the content doesn't update the DOM or run any animations on the DOM content, those threads aren't doing much.

Yeah, I can imagine it's different on different devices.

Rather annoyingly, the content is allowed to update the DOM then query it, so if the content updates the DOM we need to run layout. But for pages that don't update the DO

[2019-02-15 15:17] MortimerGoro commented on #22855
`Does `schedule_poll_events` not cause the poll events thread to be spawned off and wake up the WebVR thread when polling?`

True, but the event polling interval was only 500ms, so most of the time is inactive.

We could probably optimize it to only wake up when receiving a notification, or move the event check to the WebVR RAF thread

[2019-02-15 16:07] SimonSapin commented on #22870
Steps:

* [x] Edit `etc/taskcluster/windows/first-boot.ps1` and create a new AMI
* [x] Create a [servo-win2016-staging](https://tools.taskcluster.net/aws-provisioner/servo-win2016-staging/view) worker type similar to [servo-win2016](https://tools.taskcluster.net/aws-provisioner/servo-win2016/view), with:
  - The new AMI configured
  - The `secrets` key emptied (not removed as it’s apparently requi

[2019-02-15 16:11] asajeffrey commented on #22855
Yeah, it would be nice to do something about that polling, I can imagine it causing dropped frames every 500ms, which isn't ideal.

[2019-02-15 16:21] paulrouget commented on #21350
@kvark can I use this `pan` property to shift the document: https://github.com/servo/webrender/blob/d7c166855108671e16d49ff88bba25e82926e862/webrender/src/render_backend.rs#L365 ?

[2019-02-15 16:29] SimonSapin commented on #22870
*Sigh.* https://tools.taskcluster.net/aws-provisioner/servo-win2016-staging/resources shows instances being created, but https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types/servo-win2016-staging doesn’t show any worker and my test task stays pending.

Now generating another AMI with this section uncommented:

https://github.com/servo/servo/blob/19495a76e49f2bfde67b80ff7d104d

[2019-02-15 16:32] petemoore commented on #22870
In the worker type config I see:

[code]

The first one should be `openpgpSigningKeyLocation` not `signingKeyLocation`.

[2019-02-15 16:44] SimonSapin commented on #22870
Thanks!

To record IRC discussion, another thing missing was a Secret at https://tools.taskcluster.net/secrets/worker-type%3Aaws-provisioner-v1%2Fservo-win2016-staging

[2019-02-15 17:08] kvark commented on #21350
The pan/zoom should be used to change the view of the document itself, not change the place of a document on screen. If you are having trouble approaching this, maybe we should call in on Vidyo/Skype and talk?

[2019-02-15 17:45] SimonSapin commented on #22870
Also, `--configure-for-aws` is not the default anymore:

* https://github.com/taskcluster/generic-worker/commit/2d99a0c153baf93b02611149b0950102a394e1aa
* https://bugzilla.mozilla.org/show_bug.cgi?id=1495435#c3

[2019-02-15 17:52] seanmonstar commented on #22892
Oh, this only happens in `rr`, not in any other situation? *Hmmming intensifies*

[2019-02-15 18:09] petemoore commented on #22870
I've updated https://github.com/taskcluster/generic-worker/#release-notes to be explicit about these changes, sorry about that.

[2019-02-15 18:09] jdm commented on #11681
Relevant parts of Servo/Azure that may be useful:
* [convert_text_run_to_glyphs](https://github.com/servo/servo/blob/19495a76e49f2bfde67b80ff7d104d8594377738/components/layout/display_list/builder.rs#L2939-L2966)
* [DrawTarget::fill_glyphs](https://github.com/servo/rust-azure/blob/1ca68f302f5e914e2c63b0ec5b72af8f761f977d/src/azure_hl.rs#L828-L842)
* [AzCreateScaledFontForNativeFont(https://github.

[2019-02-15 18:13] jdm commented on #22892
Yeah, that was the motivation for my comment: "It's not clear to me whether this is a problem in tokio/hyper that rr exposes, or whether this is a problem caused by rr behaving incorrectly."

It could be that rr's chaos mode is exposing a legitimate bug (which is its whole purpose). It could also be that this code is exposing a bug in rr's replaying of the relevant syscalls. I have no idea how to

[2019-02-15 18:14] jdm commented on #22892
Which is to say - I have observed inexplicable network-related timeouts in other tests when running tests outside of rr before. I cannot guarantee that this timeout _only_ reproduces in rr, only that I have consistently reproduced it in rr.

[2019-02-15 18:29] seanmonstar commented on #22892
Ya, I didn't mean to imply the bug is in rr.

So, the confusing part is that the logs claim the requests have been written to socket, but then the reactor, when waiting on epoll, never sees `Readable` events for some of them. They *are* register with epoll, because we saw `Writable` events. And the reactor isn't stuck, because it sees events for *other* sockets. I'm at a loss...

[2019-02-15 20:42] jdm opened #22897 "Implement AudioParam.setValueCurveAtTime"
This requires implementing the backend processing in https://github.com/servo/media/issues/204, then uncommenting the WebIDL method in `AudioParam.webidl` and updating `audioparam.rs` to send the new `UserAutomationEvent` to the audio engine.

[2019-02-15 20:46] jdm commented on #22897
Tests: `./mach test-wpt tests/wpt/web-platform-tests/webaudio/the-audio-api/the-audioparam-interface` and [update](https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations) the expected results

[2019-02-15 20:48] jdm opened #22898 "Implement deprecated setPosition and setOrientation methods for AudioListener"
Spec: https://webaudio.github.io/web-audio-api/#AudioListener-methods

This requires uncommenting the methods in `AudioListener.webidl`, and adding the new methods to `audiolistener.rs` so they update the values of the appropriate AudioParam members of AudioListener with the passed arguments. This should avoid an endless series of JS errors when loading http://swooop.playcanvas.com/ in Servo.

[2019-02-15 21:45] jdm opened #22899 "WebGLShader can panic in destructor if WebGL thread isn't available"
There is no reason for this to take down the whole browser.

[2019-02-15 21:46] jdm commented on #22899
This often happens when closing https://playcanv.as/p/txPePQvy/.

[2019-02-15 21:48] jdm opened #22900 "Many playcanvas showcases have lots of SecurityError exceptions"
https://playcanv.as/p/SA7hVBLt/ yields:
[code]

[2019-02-15 21:54] jdm opened #22901 ""invalid parent" error from WebRender"
http://acko.net/

[2019-02-15 21:54] jdm commented on #22901
[code]

[2019-02-15 22:17] #22870 closed

[2019-02-16 01:18] JesseBellingham commented on #22883
Unassign me from this issue please.

[2019-02-16 02:00] yytyd commented on #22882
@highfive assign me

[2019-02-16 02:00] highfive commented on #22882
Hey @yytyd! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-16 07:44] CYBAI opened #22903 "Gif image on denoland does not animate"
URL: https://deno.land/

Minimized test case would be just the gif file

[code]

![deno](https://user-images.githubusercontent.com/6782666/52896343-f5b6c080-3209-11e9-81ef-4e6ab6dd16eb.gif)

Built on macOS 10.14.3 with latest master (0c10702)

[2019-02-16 11:17] nishanthkarthik commented on #22782
@jdm I tried `dispatchEvent` with keydown event this way.

[code]

When I manually press space, it navigates away. It does not, when it is done through `dispatchEvent`. I also tried using `testdriver.js` to send the event, but it doesn't support sending it to a node in an iframe.

[2019-02-16 12:22] joe9111 opened #22905 "Problem with mac installation"
There seems to be a problem with the brew install statement:
[code]

[2019-02-16 13:07] jdm commented on #22905
That command needs to be run from the root of the Servo repository.

[2019-02-16 16:54] SuperRoboWizard commented on #22873
I can confirm that this gives the proper information.
[code]

[2019-02-18 09:49] paulrouget commented on #21350
Yes. I sent you an email.

Here are the branches I'm using:

- webrender: https://github.com/servo/webrender/compare/master...paulrouget:clipping
- servo: https://github.com/servo/servo/compare/master...paulrouget:webrender-clipping

So far I only moved from a framebuffer size to a viewport rect.

Translating the document hasn't been implemented yet (I was using the pan property, which I thought w

[2019-02-18 16:46] aurora-of-earth opened #22908 "Xlib: extension "GLX" missing on display ":1"."
Servo not working on Debian 10 Linux with the following error:

<pre>
Xlib:  extension "GLX" missing on display ":1".
Failed to create window.: OsError("`glXQueryExtensionsString` found no glX extensions") (thread main, at src/libcore/result.rs:997)
</pre>

[2019-02-18 19:09] zimio commented on #22367
@Manishearth  I had a look at the servo side to see if it is being called and I found that it was being called.

From the servo repo:

components/script/dom/audioparam.rs

[code]

And then in the media repository is this:

audio/src/node.rs

[code]

However we can see from the insert code here:
[code]

When a cancel event is inserted, it will use truncate to delete all the events after the time pa

[2019-02-19 00:17] Manishearth commented on #22367
Oh, hm, looks like this got implemented at some point. Sorry about that.

[2019-02-19 00:17] #22367 closed

[2019-02-19 07:52] paulrouget commented on #22908
Which graphic card do you use?

Which driver?

See which glx module is loaded in the Xorg logs (`grep glx /var/log/Xorg.0.log`).

[2019-02-19 10:47] aurora-of-earth commented on #22908
@paulrouget Output of <code>grep glx /var/log/Xorg.0.log</code>:

<pre>
[   216.344] (II) LoadModule: "glx"
[   216.518] (II) Loading /usr/lib/xorg/modules/linux/libglx.so
[   218.556] (II) Module glx: vendor="NVIDIA Corporation"
</pre>

- The graphics card is <b>Intel Corporation 3rd Gen Core processor Graphics Controller (rev 09)</b>

[2019-02-19 11:15] paulrouget commented on #22908
Does it work if you use the intel GPU (not the nvidia one) or if you use the nouveau driver?

[2019-02-19 14:24] aurora-of-earth commented on #22908
@paulrouget That's the output of the xorg.conf:
<pre>
Section "Device"
   Identifier  "Intel Graphics"
   Driver      "intel"
   Option      "AccelMethod" "sna"
   Option      "TearFree" "true"
EndSection
</pre>

I'm using the intel drivers, but I think the system is using the nvidia drivers.
The nouveau driver is also in use.
WebGL is not working on the machine and I don't understand why.

[2019-02-19 15:23] jdm commented on #22828
@ForsakenDurian Sorry about the delay in answering; I think it would be reasonable to make the `type` getter return `TYPE_NAVIGATE` all the time, and return `self.global().as_window().document().get_redirect_count()` for the `redirectCount` getter.

[2019-02-19 15:24] jdm commented on #1188
No.

[2019-02-19 15:24] #1188 closed

[2019-02-19 15:40] jdm opened #22912 "Make media tracks aware of their associated track list"
Per https://github.com/servo/servo/pull/22622#discussion_r256922081 the AudioTrack, VideoTrack, and TextTrack interfaces will need to store a member pointing at the track list object that they are associated with. This will look something like `DomRefCell<Option<Dom<AudioTrackList>>>` and it will be updated when the track object is added to a list or removed from one.

Code: `components/script/dom

[2019-02-19 22:34] asajeffrey opened #22914 "Webrender can end up blocked on the WebGL thread"
Servo depends on a `blocks-on` relation to avoid deadlocks caused by cycles in threads blcoking on each other, as documented at https://github.com/servo/servo/blob/cc8a9fa92823010d2134ee9daf997bcbc33de41b/components/constellation/constellation.rs#L70-L78

In particular, the compositor shouldn't end up blocking on canvas. This caused deadlock in trying to fix #22795, which (on macOS) means the `VRD

[2019-02-19 22:35] asajeffrey commented on #22914
IRC chat with @jdm and @glennw: https://mozilla.logbot.info/servo/20190219#c15986149

[2019-02-20 01:41] drexler commented on #22880
@highfive: assign me

[2019-02-20 01:41] highfive commented on #22880
Hey @drexler! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-20 02:55] jdm commented on #22748
This also occurs in a build from Jan 4.

[2019-02-20 03:19] jdm commented on #22748
And in a build from Dec 3, so there's no regression, just a weird failure mode that might be related to #21841.

[2019-02-20 03:36] CYBAI opened #22915 "Make window.name deal with lack of browsing context"
whatwg/html#4366
web-platform-tests/wpt#15391

[2019-02-20 07:45] paulrouget commented on #22908
Something is misconfigured in your system. You probably have 2 GPUs and it's not using the one you think.

If it's using the intel GPU + intel driver, you should not have any problem.

If it's using the Nvidia GPU + Nvidia driver, try to switch to Nouveau see if it works.

[2019-02-20 09:06] jiachengpizza commented on #21263
Hi @jdm ,
I'm learning Rust and servo code starting from this issue. I think the responseEnd timing value should be set after Line 1290 and Line 1300, after ResponseBody::Done(). Is that right?
Thanks.

[2019-02-20 12:04] ksqsf commented on #22883
@highfive: assign me

I'd like to tackle this one. Is there only one file that needs to be modified? It seems that Web IDLs will be fed into codegen, so I'm not sure if I ever need to actually touch Rust code...

[2019-02-20 12:04] highfive commented on #22883
Hey @ksqsf! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-20 14:58] pngai commented on #22881
@highfive: assign me

[2019-02-20 14:58] highfive commented on #22881
Hey @pngai! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-20 23:18] asajeffrey commented on #22914
As a work-around, we can avoid blocking the WebGL thread on the main thread (which is probably better for throughput anyway). https://github.com/asajeffrey/servo/commit/497455a780c8ae51795eaf96eecf2100fb0496d9

[2019-02-20 23:22] asajeffrey commented on #22914
IRC monologue here: https://mozilla.logbot.info/servo/20190220#c15992836

[2019-02-21 01:34] maxheyer commented on #22516
@highfive assign me

[2019-02-21 01:34] highfive commented on #22516
Hey @maxheyer! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-21 02:00] JacksonCoder commented on #22854
@highfive: assign me

[2019-02-21 02:00] highfive commented on #22854
Hey @JacksonCoder! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-21 07:45] paulrouget commented on #21350
@kvark: 3 questions:

Using gl.viewport() to shift the content works, but I don't know where to store the origin coordinates. Probably not under `gl::Device` as the origin differs per documents. I guess it should be stored under the `gl::Texture` struct?

As for clipping, apparently `device.set_scissor_rect(rect)` is not called all the time, or even at all in my basic HTML tests. Is that normal? D

[2019-02-21 14:45] jdm opened #22920 "Use new GL-based video playback"
In answer to @ceyusa in https://mozilla.logbot.info/servo/20190221#c15994865-c15994866:
* obtain the relevant glutin data inside ports/servo/glutin_app
* add an API to [WindowMethods](https://github.com/servo/servo/blob/0dda1156094dae5ff47ab6fcf316cdc5547fff4c/components/compositing/windowing.rs#L130) to receive that data
* add the required data to [InitialPipelineState](https://github.com/servo/s

[2019-02-21 15:18] ceyusa commented on #22920
thanks!

[2019-02-21 15:27] kvark commented on #21350
@paulrouget

User provides it for a document, so it should be stored in a document: https://searchfox.org/mozilla-central/rev/4587d146681b16ff9878a6fdcba53b04f76abe1d/gfx/wr/webrender/src/renderer.rs#2622

Yes, it is normal, no need to force it. We don't set scissor if we know for sure that the shader doesn't write outside of the designated area.

Right, we still need to pass the framebuffer size

[2019-02-21 21:13] asajeffrey opened #22921 "WebGL channels are a potential source of deadlock"
WebGL channels dynamically switch between using ipc and using mpsc. Unfortunately, these have different behaviour: `send` is blocking in ipc, but not in mpsc, which can result in deadlock: https://github.com/servo/servo/blob/0dda1156094dae5ff47ab6fcf316cdc5547fff4c/components/constellation/constellation.rs#L80-L90

The solution in most cases is to use a router to route the ipc channel to an mpsc c

[2019-02-21 21:19] kamal-umudlu commented on #22853
@highfive assign me. I am new on this project. Would like to start with this issue

[2019-02-21 21:19] highfive commented on #22853
Hey @kamal-umudlu! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-21 21:28] robert-snakard opened #22922 "Compilation doesn't complete in one step."
I am using a clean docker build from janitor.technology to build Servo. Every time I run `./mach build -d` servo partially compiles then fails because it `Failed to delete invalidated or incompatible incremental compilation session`.

[code]

[2019-02-21 21:42] robert-snakard commented on #22922
After running this command multiple times it appears that mach tries to build these different components in parallel and only the first couple are able to complete.

See loading bar for try #5
[code]

and loading bar for try #7
[code]

[2019-02-21 21:52] robert-snakard commented on #22922
Finally finished build after 11 calls to `./mach build -d`

[2019-02-21 22:24] robert-snakard commented on #22843
@highfive: assign me

Hey @jdm. I'm taking a look at this, brand new to working on Servo, got a bunch of questions. First off,  what is "Hubs"?

[2019-02-21 22:24] highfive commented on #22843
Hey @robert-snakard! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-21 22:26] robert-snakard commented on #22843
Next up I'm copying the mouseevent.rs and keyboardevent.rs files. According to the w3c documentation the attributes for the mouse event and keyboard event are readonly, however the rust code puts all these values in Cells. Do you know why that is?

See here:
[code]

and here:
[code]

[2019-02-21 22:26] SimonSapin commented on #22922
This looks like maybe a Cargo bug? Possible work-arounds to try:

* Disable or reduce parallelism: `./mach build -d -j4` (is it a many-cores machine?), `./mach build -d -j1`
* Disable incremental compilation: `CARGO_INCREMENTAL=0` environment variable or copy the `servobuild.example` file to `.servobuild` and uncomment the `incremental = false` line.

[2019-02-21 22:44] robert-snakard commented on #22843
Second the dom constants are generated in codegen/BindingGen.py. How do I look at the output Bindings module? There certainly is one but I can't seem to find it. A grep for "KeyboardEventBinding" just turns up the places that use it, not the file it lives in

[2019-02-21 22:46] robert-snakard commented on #22843
Second, the DOM constants are generated in `BindingGen.py`. How do I find the files generated by this script? A grep for `KeyboardEventBinding` only turned up the files that use the import, not the file that owns the enum.

[2019-02-22 00:21] robert-snakard commented on #22843
Ah, all the bindgen types are in the online documentation :thumbsup:

[2019-02-22 01:11] asajeffrey opened #22924 "Servo never calls `start_present` or `stop_present` on a `VRDisplay`"
The implementations of `VRDisplay` call `start_present` but nothing calls `stop_present`, so resource deallocation never happens.

[2019-02-22 02:20] asajeffrey commented on #22924
A possible fix: https://github.com/asajeffrey/servo/commit/cb749abebbf31ecb7be99934ef5a3bb84f8fb454

[2019-02-22 07:26] jdm commented on #22843
Hubs is https://hubs.mozilla.com/.

[2019-02-22 09:19] learning commented on #22905
@joe9111
[code]

[2019-02-22 19:15] asajeffrey opened #22926 "Animations aren't started if there's no window events"
If a page with `requestAnimationFrame` is loaded, it doesn't start animating until a window event is generated. The reason why is that servo has two modes: `AnimationState::Animating` (which blocks on vsync when swapping the GL buffers) and `AnimationState::Idle` (which blocks on window events). The problem is that the transition from one to the other needs a window event to trigger it.

[2019-02-22 19:16] asajeffrey commented on #21855
Related: #22926.

[2019-02-22 19:20] asajeffrey commented on #22926
Really we should select between a window event and a compositor event, but window events aren't arriving from an mpsc channel, so we can't select on them. We could spin up a routing thread that wakes up the window when a compositor event arrives?

[2019-02-22 22:17] aurora-of-earth commented on #22908
@paulrouget Sorry it was because of NVIDIA drivers interfering with intel ones.
I've fixed the problem with WebGL and servo is working.

[2019-02-22 22:17] #22908 closed

[2019-02-23 04:48] paulrouget commented on #22926
When switching from `Idle` to `Animating`, isn't the compositor thread waken up via the `EventLoopWaker`? The embedder would then call `perform_udpates` which will then call `WindowMethods::set_animation_state` ?

[2019-02-23 14:44] asajeffrey commented on #22926
I don't think so, which thread does this?

[2019-02-24 13:46] ocerman opened #22931 "Removing iframe with video is causing Servo to crash"
HTML:
[code]
Steps to reproduce:
 - Load HTML file
 - Wait till video starts playing
 - click on "Remove iframe" button

Backtrace:
[code]

[2019-02-24 14:51] ocerman opened #22932 "Iframe within aspect-ratio box is not displayed"
![servo-arbox](https://user-images.githubusercontent.com/10187350/53300801-d512ea00-384b-11e9-9957-ab40314a659c.png)
[code]

[2019-02-24 16:06] hamaluik commented on #16921
I'm getting this same error on a fresh install of Debian 9

[2019-02-24 19:23] robert-snakard commented on #22922
disabling parallelism fixed the issue. Thanks Simon!

[2019-02-24 19:23] #22922 closed

[2019-02-24 20:33] robert-snakard commented on #21970
Is anyone still hitting this? I'm running into the same issue but removing `girl1.2` didn't fix it for me.

[code]

[2019-02-25 01:41] robert-snakard commented on #22843
Thanks. I'm having issues with the linker (see my question [here](https://github.com/servo/servo/issues/21970)) but I did create the event and get it to compile (on [this](https://github.com/robert-snakard/servo/tree/issue_22843) branch). Now I just have to add the hooks you described previously.

Also as far as testing goes, the only tests I found for mouseevent were the manual tests in tests/wpt

[2019-02-25 03:41] hamaluik commented on #21970
I'm having the same issue in Debian 9, removing `gir1.2-gst-plugins-bad-1.0` doesn't help.

[2019-02-25 08:56] ferjm opened #22935 "Make sure that HTMLMediaElement `muted` content attribute only affects the `.muted` IDL attribute on parser creation"
More context: https://github.com/servo/servo/pull/22347#issuecomment-464714169

[2019-02-25 09:42] paulrouget commented on #22926
The constellation is supposed to wake up the compositor thread.

The constellation is supposed to be getting a `ChangeRunningAnimationsState` message, and then [send a message to the compositor via the compositor_proxy](https://github.com/servo/servo/blob/2b37e5c94d9207667f8a42fd4a032e2dacf9a354/components/constellation/constellation.rs#L2148) (which will make sure the compositor/embedder thread i

[2019-02-25 10:04] ferjm opened #22936 "Intermittent timeout in /referrer-policy/strict-origin/attr-referrer/same-origin/http-https/script-tag/no-redirect/upgrade-protocol.http.html"
[code]

[2019-02-25 11:23] EllaLiu5 commented on #22888
Assign this to me please.

[2019-02-25 11:38] #22291 closed

[2019-02-25 14:48] asajeffrey commented on #22926
I think what's happening is that the compositor thread is blocked waiting for a window event, not a compositor event. Wouldn't the constellation have to generate a window event if it wants to wake up the compositor thread?

[2019-02-25 15:32] paulrouget commented on #22926
Yes. It's exactly what it's supposed to happen. Via https://github.com/servo/servo/blob/f180b840d5917ef248fe30cc3e503e508fbe95f1/components/compositing/compositor_thread.rs#L28

[2019-02-25 16:53] asajeffrey commented on #22926
Oh, you're right. OK, I don't understand what's going on then :/ I'll do a bit more digging, it's possible this is a problem with my code.

[2019-02-26 07:09] #22924 closed

[2019-02-26 09:01] CYBAI opened #22942 "Intermittent FAIL in /_mozilla/mozilla/hit-test-background.html"
[code]

[2019-02-26 17:09] jankeromnes opened #22943 "Servo crashed on GitHub"
STR:

1. `./mach run -d`
2. Click on "Rust"
3. Scroll to the bottom, and click on "Send a fix here!"
4. On GitHub, click on "Sign in"
5. Wait... Servo will crash with:

[code]

[2019-02-26 17:20] jdm commented on #22943
This is https://github.com/servo/ipc-channel/blob/0e08f1148ffedde3bf64d752a0ffa8e48cc54926/src/platform/unix/mod.rs#L804.

[2019-02-26 20:18] robert-snakard commented on #21970
Looking at the [source for Promise::new_with_change_func](https://slomo.pages.freedesktop.org/rustdocs/gstreamer/src/gstreamer/promise.rs.html#112-141), the missing function is part of the ffi package.

[2019-02-26 21:27] Tommytrg commented on #22359
I think I have delayed so much and I want to stop blocking this issue. I would try to solve an easier one in the future. Thank you very much for your help and sorry for waste your time.

[2019-02-27 01:26] wlgranados commented on #21268
@highfive assign me

[2019-02-27 01:26] highfive commented on #21268
Hey @wlgranados! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-02-27 03:39] Manishearth commented on #21970
Does running `./mach bootstrap-gstreamer` help? That should set up a local copy of gstreamer with the right version.

[2019-02-27 03:55] robert-snakard commented on #21970
Nope. Gstreamer is already set-up and trying it again doesn't fix the issue either.

[code]

[2019-02-27 05:54] 192-sean commented on #22359
Hey I'd love to work on this issue.

[2019-02-27 07:47] KiChjang commented on #22359
@192-sean Go for it!

[2019-02-27 08:38] ferjm commented on #22359
@Tommytrg no worries and thanks for your efforts!

@192-sean thanks! Let me know if you need any help with this.

[2019-02-27 09:56] AZWN commented on #21970
I ran into the same issue. I solved it by manually installing gstreamer 1.15 from source (see [this link](http://lifestyletransfer.com/how-to-build-gstreamer-from-sources-on-ubuntu/)).

When that does not work immediately, you might need to remove the default version of gstreamer:
[code]
However, be careful not to destroy your window manager, since you will not be able to login afterwards.

[2019-02-27 10:31] #22883 closed

[2019-02-27 17:08] jdm commented on #22843
Manual tests should be enough; Servo certainly doesn't support any automated tests for mouse input yet.

[2019-02-27 17:18] jdm commented on #22890
I'm not sure I understand what's being proposed here. The constellation is in charge of starting fetch requests for document navigations based on the script thread sending an InitiateNavigateRequest message, so it's not clear what we should be doing differently.

[2019-02-27 17:24] jdm commented on #21263
Sorry for the delay; I was on vacation. Yes, that sounds right to me.

[2019-02-27 17:25] jdm commented on #21257
#22561 was a good start but was incomplete.

[2019-02-27 17:25] highfive commented on #21257
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-02-27 17:26] jdm commented on #21260
Yes, it's probably still worthwhile to expose the DOM API and use the same value as responseStart.

[2019-02-27 20:04] jdm opened #22946 "Repacked gstreamer link for windows is broken"
https://queue.taskcluster.net/v1/task/KAzPF1ZYSFmg2BQKLt0LwA/runs/0/artifacts/public/repacked.zip from https://github.com/servo/servo/blob/3d32efad2a804403dc0b953cb0c42ce3d40367c1/etc/taskcluster/windows/bootstrap.ps1#L53

cc @SimonSapin

[2019-02-27 22:09] kvark commented on #21320
Another interesting opportunity here is to implement GLES on top of WebGPU (or, more concretely, https://github.com/gfx-rs/wgpu). It's significantly simpler than GLES on gfx-rs, yet would allow us to avoid Angle entirely. We'd also get remoting for free, because wgpu-rs is designed with it in mind.

[2019-02-27 22:48] SimonSapin commented on #22946
Yes, these artifacts are kept for something like a month. Tasks that use them should re-created them as needed. `bootstrap.ps1` is only to help more quickly get a working environment to compile when manually starting up an AWS instance. It’s `first-boot.ps1` that is used when creating a new AMI.

The latest "version" of repacked `gstreamer-1.0-x86_64-1.14.3.msi` should always be at https://tools.t

[2019-02-27 23:03] robert-snakard commented on #21970
Thanks @AZWN, that fixed it!

[2019-02-27 23:06] robert-snakard opened #22947 "Servo should link against the correct version of gstreamer"
On Ubuntu 16.04 servo builds against the global gstreamer library in `/usr/lib` rather than the version in `support/linux/gstreamer`. It should use Servo's version. See [the](https://github.com/servo/servo/issues/21970) comment here

[2019-02-27 23:10] jdm commented on #22947
I wonder if we're not setting up the pkg-config environment correctly?

[2019-02-27 23:12] jdm commented on #22947
In theory this is supposed to be taken care of by https://github.com/servo/servo/blob/fd07be1cefa7c96ec15bcb16e21dbb0558627d3d/python/servo/command_base.py#L612-L620.

[2019-02-27 23:14] jdm commented on #22947
@robert-snakard What does you PKG_CONFIG_PATH look like normally? It looks like we're appending to it, so if the system gstreamer was already present the local one wouldn't be selected.

[2019-02-28 03:33] kvark commented on #21350
Created https://bugzilla.mozilla.org/show_bug.cgi?id=1531217

[2019-02-28 06:08] CYBAI commented on #21810
@chansuke Is this still in progress?

[2019-02-28 06:30] chansuke commented on #21810
@KiChjang @CYBAI Sorry for a late reply.The status is WIP.I couldn't take a time in this 2months.I will handle this in this weekend.

[2019-02-28 06:47] gterzian commented on #22890
I'm not completely sure myself, and it appeared to me that although there is perhaps a fetch request somewhere deep inside the navigation of a document, we could expose it more clearly in the script code.

For example, I don't think we have a way to do `If subject's link types includes the noreferrer keyword, then set request's referrer to "no-referrer".` Step 13 of https://html.spec.whatwg.org/#f

[2019-02-28 14:26] jdm commented on #22890
Right, we should expose any required configuration as part of the InitiateNavigateRequest message, and make sure that configuration is passed along any intermediate messages.

[2019-02-28 15:29] jdm opened #22950 "Migrate windows nightly builds to taskcluster"

[2019-02-28 15:43] #22707 closed

[2019-02-28 16:28] pcwalton opened #22952 "Can't build Servo: "no variant named `LengthPercentage` found""
I get about 100 errors. Here's a sample:

    error[E0599]: no variant named `LengthPercentage` found for type `style::values::generics::length::GenericSize<style::values::generics::NonNegative<style::values::specified::LengthPercentage>>` in the current scope
    --> components/script/dom/element.rs:721:44
        |
    721 |                 PropertyDeclaration::Width(specified::Size::LengthPerce

[2019-02-28 18:12] pcwalton commented on #22952
A hard clobber fixed it.

[2019-02-28 18:12] #22952 closed

[2019-03-01 03:33] gterzian commented on #22890
Removed the "interesting-project", since this turns out to be a much smaller change than I thought, doesn't mean it's not interesting though!

[2019-03-01 04:52] pcwalton commented on #22790
I made an attempt to convert Servo layout over to `parking_lot` RwLock at http://github.com/pcwalton/servo/tree/rwlock. It compiles, but it'll need some more work before it actually runs. To get some early numbers I made a silly patch that adds a useless RwLock critical section before doing any layout step around a node to test performance. (The RwLock guards an unused counter, to make sure the co

[2019-03-01 04:52] pcwalton commented on #22790
cc @jdm

[2019-03-01 08:17] SimonSapin commented on #22950
This should be similar to https://github.com/servo/servo/pull/22464.

By the way, instead of writing a `.aws/credentials` file in the task’s script we could add support to `mach` for downloading AWS secrets itself and passing them to `boto3.client()`, all within one Python process.

https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#method-parameters

https://github.c

[2019-03-01 08:17] SimonSapin commented on #22950
CC https://github.com/servo/servo/issues/22325

[2019-03-01 16:23] jdm opened #22955 "Intermittent panic reflowing document from Document::finish_load (/html/browsers/windows/nested-browsing-contexts/name-attribute.window.html, /html/browsers/the-window-object/closed-attribute.window.html)"
[code]
I've seen this in various tests in the past week. Clearly there's a fundamental issue we should address here.

[2019-03-01 18:38] richardfung opened #22956 "Fresh build fails 'cstddef' file not found"
Following the README.md, I just cloned servo, installed rustup, and ran ./mach bootstrap.

However, the build seems to fail for me.

[2019-03-01 20:52] jdm commented on #22955
Observed in /html/browsers/windows/nested-browsing-contexts/name-attribute.window.html.

[2019-03-01 21:38] jdm opened #22957 "Use Pathfinder for 2d canvas rendering"
Right now our 2d canvas rendering relies on a very old fork of Azure (https://github.com/servo/rust-azure/), which itself relies upon a _very_ old fork of Skia (https://github.com/servo/rust-azure/). The operations that the 2d canvas allows are not complicated and it should be possible to use [Pathfinder](https://github.com/pcwalton/pathfinder/) as the rendering backend instead. This would have se

[2019-03-01 21:40] jdm commented on #22957
Note: this work should rely on the [Pathfinder 3 branch](https://github.com/pcwalton/pathfinder/tree/pf3) rather than the master branch (until pf3 merges into master).

[2019-03-02 00:32] #22881 closed

[2019-03-02 13:24] rohit-136 commented on #19089
@SimonSapin  The problem persists even on a 64-bit system. Could it be because of the 4GB RAM?

@jdm  And how to rectify it?

[2019-03-02 13:39] jdm commented on #19089
Absolutely. The script crate is known to take ~6gb of memory to build.

[2019-03-02 13:48] rohit-136 commented on #19089
So is there any other option (except upgrading my RAM) to compile the files ?

[2019-03-02 14:15] jdm commented on #19089
Allocating swap memory and running with `.mach build -j1` are the only tricks I know of.

[2019-03-02 16:12] rohit-136 commented on #19089
@jdm the ./mach build --dev -j1 trick worked.
Thanks