[2017-12-03 20:15] jonleighton commented on #19171
Latest PR: https://github.com/servo/servo/pull/19461 (I forgot to ref this issue there)

[2017-12-03 23:16] jonathandturner opened #19472 "Servo on Linux browser.html having issues"
Starting up a recent Servo in Linux, I see this:

![screenshot from 2017-12-04 12-12-59](https://user-images.githubusercontent.com/547158/33531031-b4cf5464-d8ec-11e7-8dff-21add0bda1af.png)

While I can click on the search box, I don't see the gallery.  I also can't seem to click on the +.

Also, the Linux build doesn't seem to be respecting hidpi, [which looks like a known issues](https://github.c

[2017-12-04 09:56] nox commented on #19348
The gecko-media PR has yet to land in servo/servo.

[2017-12-04 12:17] tigercosmos opened #19477 "Wrong logic at `OverflowDirection::LeftAndDown `"
Among the following,
[code]
`max` should be `min`, since left should find smaller x
https://github.com/servo/servo/blob/e4dba3abef2a4941c5a4d95d58ae0b864ad10961/components/layout/query.rs#L638-L643

I will do some tests and open a PR for this

[2017-12-04 16:12] LongChair opened #19479 "EGL (without X11) build."
I have tried to cross build servo for arm64 using the explanations available here : https://mmatyas.github.io/blog/servo-short-cross-compilation-guide

I would like to build it for a minimal linux environment on an embedded device where X11 is not an option as it is very slow.

Using the link above, It seems that the resulting binary is linked to libX11.
I had read that it was possible to have Ser

[2017-12-04 17:15] emilio commented on #19479
I disabled EGL a while ago because glutin by then was really unstable... Thinks are probably better now, so probably it's a matter of updating glutin and enabling it.

[2017-12-04 17:20] LongChair commented on #19479
Could you give me a few instructions to do so ?

[2017-12-04 18:08] jdm opened #19480 "Use entry global's origin in "is origin clean" check for canvas rendering"
`Canvas2dRenderingContext::is_origin_clean` uses the origin of the canvas's document's url's origin. https://html.spec.whatwg.org/multipage/canvas.html#the-image-argument-is-not-origin-clean says we should use the "entry settings object's origin", which is equivalent to using [entry_global](https://doc.servo.org/script/dom/bindings/settings_stack/fn.entry_global.html) and obtaining its [origin](ht

[2017-12-04 18:08] highfive commented on #19480
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-12-04 18:10] jdm opened #19481 "Implement XML serialization"
https://w3c.github.io/DOM-Parsing/#dfn-xml-serialization

[2017-12-04 18:33] est31 opened #19482 "Better support for CSS backgrounds"
This web site contains a couple of custom CSS backgrounds: http://lea.verou.me/css3patterns/

While some backgrounds are being displayed correctly, most backgrounds have bugs of varying severity.

Screenshot of the page in Firefox (everything fine):

![screenshot_20171204_192949](https://user-images.githubusercontent.com/8872119/33569340-96a481f2-d929-11e7-9545-2c2c255d3e91.png)

Screenshot in ser

[2017-12-04 18:37] jdm opened #19483 "Send IPC receiver for canvas as part of CreateCanvasPaintThread message"
There's no reason for the canvas rendering creation in [CanvasRenderingContext2D::new_inherited](https://github.com/servo/servo/blob/e4dba3abef2a4941c5a4d95d58ae0b864ad10961/components/script/dom/canvasrenderingcontext2d.rs#L135) to synchronously wait for a way to communicate with the new canvas rendering thread. Instead, it can create a channel, hold on to the sender, and pass the new receiver as

[2017-12-04 18:37] highfive commented on #19483
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-12-04 18:56] jdm opened #19485 "Intermittent failure in /_mozilla/mozilla/http-cache-xhr.html"
cc @gterzian

[code]

[2017-12-04 18:57] jdm commented on #19485
Sorry, I got confused. This happened during a try run for the PR that introduced this test.

[2017-12-04 18:57] #19485 closed

[2017-12-04 20:25] olmanz commented on #19122
@atouchet @jdm
Meanwhile, here are my debug results for this issue. First, I had run it without the -i option (where the hamburger icon stays white after it has been clicked). Then, I ran it with the -i option to enforce non-incremental layout, where the problem does not occur. You can see the debug output on my console below. First you see the flow tree before the icon has been clicked, then afte

[2017-12-04 20:44] jdm opened #19486 "Intermittent crash in /html/syntax/parsing/html5lib_tests3.html?run_type=uri"
[code]

[2017-12-04 20:46] jdm commented on #19486
This may be the same underlying problem as https://github.com/servo/ipc-channel/pull/179, since it's another instance of creating a channel, sending the sender somewhere else, and immediately calling receive on the receiver.

[2017-12-05 05:19] tigercosmos commented on #19480
@highfive: assign me
Do this now

[2017-12-05 05:19] highfive commented on #19480
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-05 05:20] tigercosmos commented on #19480
I am going to do this in this afternoon

[2017-12-05 08:52] tigercosmos commented on #19483
If it is just sync to async, there would no be any test status changed?

[2017-12-05 09:37] #19348 closed

[2017-12-05 13:43] jdm commented on #19483
Correct.

[2017-12-05 13:49] jdm opened #19495 "Intermittent "Connection to server timed out" while building gecko-media (sccache)"
Example log: https://gist.github.com/jdm/14b33c3f609730891733d1a41e3f0af2

In particular:
[code]

My guess is this is related to the jobserver integration. cc @aturon, since this is significantly affecting Servo's CI throughput.

[2017-12-05 13:50] jdm commented on #19495
See related discussion at https://groups.google.com/forum/#!topic/mozilla.dev.servo/yZhbwrV7Yd4.

[2017-12-05 13:59] tigercosmos commented on #19480
@jdm I have a PR on this

[2017-12-05 15:14] jdm opened #19496 "Intermittent crash in /html/syntax/parsing/html5lib_scriptdata01.html?run_type=uri"
[code]

[2017-12-05 15:15] jdm commented on #19496
This is triggered by https://github.com/servo/servo/blob/3029f83b0d0654ccb3942722171f5b3d01400e4a/components/script/dom/blob.rs#L283-L287 and is probably the same underlying problem as #19486.

[2017-12-05 16:01] jonleighton commented on #19171
@highfive: assign me

[2017-12-05 16:01] highfive commented on #19171
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-12-05 16:48] olmanz commented on #19251
@jdm
I changed the code block
[code]

to this:

[code]

I'm passing `|| ()` now as recommended, but I get this error message now:
[code]
Do you have a suggestion what I can do to fix this error?

[2017-12-05 16:55] jdm commented on #19251
Oh, you can use `|_| ()` to pass a closure that ignores the argument.

[2017-12-05 17:07] tigercosmos commented on #19172
@KiChjang  this should be updated.

[2017-12-05 18:43] #19480 closed

[2017-12-05 19:15] KiChjang commented on #19172
This is updated to reflect what has been done.

[2017-12-05 22:34] JRegimbal commented on #19482
It looks to me like all the issues are with displaying CSS gradients. Can anyone confirm this?

[2017-12-06 00:14] antoyo opened #19501 "New GTK port"
Hello.
I started working on a [gtk binding for servo](https://github.com/antoyo/servo-gtk) and I wonder if you were interested by my work.
If yes, what is the process to add a new port to `servo`?
Thanks.

[2017-12-06 00:58] avadacatavra opened #19502 "./mach test-perf isn't working on mac"
Seems like there are some tweaks needed to test-perf

I think the current problem I'm having is related to https://forums.developer.apple.com/thread/77536

See discussion at https://mozilla.logbot.info/servo/20171205#c13969788

We should figure out how to fix this in the test-perf script and document whatever configuration is necessary to make this work

[2017-12-06 00:58] highfive commented on #19502
cc @wafflespeanut

[2017-12-06 04:39] tigercosmos commented on #19482
Yah, Looks like caused by `gradient`.

[2017-12-06 04:58] tigercosmos commented on #19483
@highfive: assign me

[2017-12-06 04:58] highfive commented on #19483
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-06 06:47] sorenbug opened #19503 "Usage of servo as a C lib?"
Was motioned to make an issue about this from IRC.

I'd like to use servo in my C-compatible language of choice, but currently there's no guide or opportunity to do that from what I've heard.

Could this be a goal in the future?

[2017-12-06 07:01] tigercosmos commented on #19483
@jdm I don't understand what is the relationship between
[code]
and
[code]

If I thought correctly, we just need to let two lines in `the code` run in async. How I can do this?

[2017-12-06 13:15] antoyo commented on #19503
I plan to make a C lib for [`servo-gtk`](https://github.com/antoyo/servo-gtk) when [gnome-class](https://github.com/nikomatsakis/gnome-class) will be more usable.

[2017-12-06 13:51] jdm commented on #19503
Is CEF usable from C?

[2017-12-06 14:11] TsundereBug commented on #19503
@antoyo I was more planning on using [nuklear](https://github.com/vurtun/nuklear) as my UI kit. I don't know much about GTK; could I easily make this run on nuklear as well?

[2017-12-06 14:33] antoyo commented on #19503
@TsundereBug I guess that would require a binding for nuklear, then.
I know one way to embed a window in another toolkit, but I don't think you can control it from the parent window, unfortunately.

[2017-12-06 17:18] jdm opened #19505 "Add a bisection command that uses nightly builds"
http://servo-builds.s3.amazonaws.com/ hosts a long list of historical nightly builds. We should write a command that allows several modes of operation:
* `./mach bisect tests/wpt/web-platform-tests/foo.html` - runs WPT tests using downloaded nightly builds, suggests good/bad bisection based on test result
* `./mach bisect path/to/file.html` - runs downloaded nightlies and loads file:// url for eas

[2017-12-06 17:18] highfive commented on #19505
cc @wafflespeanut

[2017-12-06 17:42] jdm commented on #19505
`git rev-list -n 1 --before="2017-01-01" master` is a useful command to figure out a commit associated with a particular nightly.

[2017-12-06 23:48] gzunino commented on #12146
How can I know which version of CEF api is implemented by embedding servo ?

I built libembedding.so and tried to use it as drop-in replacement for libcef.so in a simple app targeting CEF 3.3071.1649.g98725e6.

**ldd** shows all resolved, but I at runtime I get:

`undefined symbol: cef_string_userfree_utf8_alloc ` from my .so which is linked against libcef.so

Although the function is implemented

[2017-12-07 01:33] TsundereBug commented on #19503
That's fine, I'll be writing my own hooks/layer to modify the browser view from the UI layer.

Sounds good! Can't wait for servo to be used as a lib like this.

[2017-12-07 04:08] glennw opened #19508 "Negative outline-offset is not handled correctly."
See ```outline-014.htm``` for the relevant test and spec details.

[2017-12-07 06:15] tigercosmos commented on #19172
@KiChjang  I suggest we move the logic of `color` one to binding?

[2017-12-07 06:21] atouchet commented on #19122
It might also be worth mentioning that this bug does not always reproduce 100% of the time.

[2017-12-07 11:17] olmanz commented on #19251
Thanks @jdm, that worked perfectly.

I still got some questions though (sorry for that, I'm still learning ;-)).

You said in your initial post

since the sender is of the type `IpcSender<ReporterRequest>`, I guess the receiver must be of the type `IpcReceiver<ReporterRequest>`, and that this receiver will then be a third parameter in `ResourceChannelManager::start`. As of now, that function only

[2017-12-07 13:42] DonatJR commented on #15114
Hey @jdm, I implemented 3 of the 4 methods but `readAsArrayBuffer` is giving me some troubles. Maybe you can help me out?

I'm trying to create an ArrayBuffer with the given blob like this:
[code]

The problem with this is that the typedarray! macro creates the ArrayBuffer with a root which does not live long enough and I am not sure how to create it with a correct root / `Rooted`-value.

Compiler

[2017-12-07 15:06] jdm commented on #15114
Which line is the compile error coming from?

[2017-12-07 15:10] jdm commented on #19251
The error message can be avoided if you implement the trait that it is complaining about.

[2017-12-07 15:11] jdm commented on #19251
Oh, and as for how to use it - add the new receiver to the receiver set, and check for the receiver's id along with the existing ones inside the loop in ResourceChannelManager::start.

[2017-12-07 17:41] DonatJR commented on #15114
I figured it out. The problem was me not writing the method declarations in the corresponding .webidl file so the correct function definitions could be autogenerated. My implementation actually returned a wrong type and I got it working with the correct return type / function signature. :)

[2017-12-07 18:08] JRegimbal commented on #19430
I've been trying to reproduce this and have only gotten `Result::unwrap()` on an `Err` value once out of a number of tries and then only in commit fa3f389 and not the latest. Has anyone else been able to reproduce this more reliably?

[2017-12-07 18:26] sviter commented on #19430
Yes I can reproduce this on latest servo Nightly build for Windows

[2017-12-07 18:42] sviter opened #19513 "Crash on https://geektimes.ru/"
Go to https://geektimes.ru/
Servo will crash and then closed by windows

[2017-12-07 21:22] KiChjang commented on #17231
Latest attempt at #17237, which has some comments that needs to be addressed.

[2017-12-08 03:14] atouchet opened #19519 "Servo crashes on launch with Rust nightly >= 2017-11-21"
Steps to reproduce:

1. Run latest Servo nightly build.
2. It crashes immediately.

Tested in Windows 10 with Browser.html.

[2017-12-08 04:57] tigercosmos commented on #19519
macOS is fine.

[2017-12-08 05:44] tigercosmos commented on #19513
Works. Test in  22472b4db4564f7bc274eb01447e4f04fd7e7205(current master) via masOS
<img width="1018" alt="2017-12-08 1 42 32" src="https://user-images.githubusercontent.com/18013815/33752614-c1cd1582-dc1d-11e7-80ed-17ab1c0417d3.png">

[2017-12-08 16:43] nifey commented on #19481
I would like to work on this.
Is it okay if this is my first time working on servo. I'm comfortable with rust though.

[2017-12-08 17:13] nifey commented on #19481
That's fine, Thanks I'll look into #11995

[2017-12-08 18:15] DonatJR commented on #19387
@emilio I moved the code for counter-reset out of the mako file, but the CounterReset struct has a cfg attribute `#[cfg_attr(feature = "gecko", derive(MallocSizeOf))]` and building the geckolib throws some mismatched type errors.
I noticed there is a `gecko.mako.rs` file as well which still uses the old struct generated by mako (counter-increment and counter-reset shared the `SpecifiedValue` / `Co

[2017-12-08 18:35] emilio commented on #19387
No, the code in `gecko.mako.rs` should stay. Mind opening a PR (maybe with "WIP" in the title) so I can take a look? Thanks!

[2017-12-08 19:02] DonatJR commented on #19387
Opened a WIP PR: https://github.com/servo/servo/pull/19529 :)

[2017-12-08 21:17] KiChjang commented on #11995
@nifey is working on this.

[2017-12-08 22:06] qezz commented on #17583
Well, yes, I had to remove the broken symlinks to gcc & g++, and replace them with clang/clang++ symlinks.

Thank you, sorry for a long delay

[2017-12-08 22:06] #17583 closed

[2017-12-09 15:22] jonleighton opened #19535 "`let` behaves like `var` in a `for (let x of ...)` loop"
Here's a minimal test case:

[code]

Firefox prints:

[code]

Servo prints:

[code]

[2017-12-09 15:26] Vtec234 commented on #19519
Same issue on Linux x86_64. I attached glxinfo, gdb backtrace, and servo standard output.

[gdbout.txt](https://github.com/servo/servo/files/1544769/gdbout.txt)
[glxinfo.txt](https://github.com/servo/servo/files/1544770/glxinfo.txt)
[stdout.txt](https://github.com/servo/servo/files/1544771/stdout.txt)

[2017-12-10 09:38] kregoslup commented on #15725
Since there is no asignee, can I work on this?

[2017-12-10 14:08] jdm commented on #19535
I'm curious if a released version of Firefox from June 2016 shows the same problem.

[2017-12-10 14:11] jdm commented on #15725
@kregoslup Yes.

[2017-12-10 14:59] emilio commented on #19535
Yeah, this is a known bug in SM, `let` scoping rules were pretty broken, let me try to find the bug.

[2017-12-10 15:02] emilio commented on #19535
I think it is https://bugzilla.mozilla.org/show_bug.cgi?id=1069480, and was fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1069480.

[2017-12-10 15:07] emilio commented on #19535
Actually, it is https://bugzilla.mozilla.org/show_bug.cgi?id=449811

[2017-12-10 17:54] glennw commented on #19519
I'm also seeing this on Linux. It only occurs on a release build, debug builds are fine.

The backtrace on Linux is in a GLX specific function, which suggests that either the Windows crash is different, or probably more likely, there is something else bad going on which happens to cause a crash in that location.

[2017-12-10 18:04] glennw commented on #19519
A bit more information:

gdb claims the function at the top of the stack is:
[code]

[code]

[2017-12-10 21:06] pyfisch opened #19543 "Servo build fails at linking"
https://gist.github.com/pyfisch/b87045ec5b24d07eb87cd867d1dd6b95

I have installed the dependencies listed in the readme. I already did a clean rebuild.
Any suggestions what causes this failure?

Current revision is:
[code]

I am using Ubuntu 16.04.

[2017-12-10 21:24] emilio commented on #19543
[code]

cc @nox @philn ^

[2017-12-11 08:55] philn commented on #19543
Can you check if gecko-media alone builds correctly? Try to run the unit-tests locally or the standalone player.

[2017-12-11 11:55] twify93 commented on #12356
[code]

My entrypoint contains only an if:
[code]

[2017-12-11 16:13] glennw commented on #19519
git bisect says:

[code]

Assuming I bisected correctly, that is.

The crash only seems to occur when opening a real window - it runs fine in headless mode, which would explain why it got through CI OK.

cc @SimonSapin @jdm

[2017-12-11 16:48] CYBAI opened #19546 "Move outline-style outside of mako."
I'll take this one as a sub-issue of #19015

[2017-12-11 18:26] jonleighton commented on #19171
Once #19544 is merged, the only remaining thing that I'm aware of is [steps 7-9 of the input type change algorithm](https://html.spec.whatwg.org/multipage/input.html#input-type-change). I can't see any existing WPT tests for that so will need to add some I think.

[2017-12-11 20:35] jonleighton commented on #19171
Actually, I have just added another commit on that PR which deals with the above, so I think we can close this issue once the PR is merged.

[2017-12-11 21:13] twify93 commented on #19089
I am trying to build it with docker and ubuntu 17.04 and it still fails:
[code]

The Dockerfile:
[code]
and the entorypoint:
[code]

Any ideas here?

[2017-12-11 22:48] SimonSapin commented on #19519
That commit updates the compiler from `nightly-2017-11-14` to `nightly-2017-12-07`. Next step would be to bisect Rust Nightly versions. Unfortunately we don’t have a tool that I know of that does this, so that needs to be done by manually editing the `rust-toolchain` file.

[2017-12-11 22:59] pyfisch commented on #19543
@philn: [It does not even build on Travis CI.](https://travis-ci.org/servo/gecko-media/jobs/315053925#L1267)
The reported error is:

    error: Package `serde_derive v1.0.23` does not have these features: `deserialize_from`

Some package seems to have changed under gecko-media. servo  itself is protected from this because it distributes a lockfile along with the source code but I don't know how to

[2017-12-11 23:11] philn commented on #19543
Ah, a workaround was suggested on IRC about this Serde issue. Put this in gecko-media's Cargo.toml:

[code]

But I think this should be properly fixed somehow... CC @nox @Eijebong

[2017-12-11 23:13] philn commented on #19543
This happens because of the examples dependency on webrender.

[2017-12-11 23:37] pyfisch commented on #19543
Okay, executing `cargo build -p gecko-media` succeeds with the workaround.

Still building the examples fails with a version mismatch:

[code]

[2017-12-11 23:39] fabricedesre commented on #19501
Not my call, but the very fact that you were able to do that port out of the main tree with just a dependency on libservo shows that these ports don't have to be in the main repository. This is a strength of the embedding model and I feel it's useful to keep them apart to not be tempted to regress on this topic.

[2017-12-12 00:14] antoyo commented on #19501
I proposed to do so because there are other [ports](https://github.com/servo/servo/tree/master/ports) in the repository, but I don't mind keeping that port in a separate repository.
But I still wonder which direction I should go, so if you are interested, maybe we could talk about this port and the servo API.

[2017-12-12 00:25] Eijebong commented on #19543
cc @Gankro too since it's the custom serde fork that's causing all this.

[2017-12-12 00:39] Gankro commented on #19543
Traveling, if I don’t get back to this tomorrow please reping.

(Not sure: it looks like you’re trying to use a version of serde that’s newer than the patch?)

[2017-12-12 01:04] Eijebong commented on #19543
Well the [patch.crates-io] section from webrender seems to be ineffective in crates using webrender as a dependency. Not sure if this is the desired behavior but I think this is what causing those errors.

[2017-12-12 02:24] Gankro commented on #19543
Yes patch only applies to binary projects. You can’t apply it to a lib.

[2017-12-12 04:11] emilio commented on #19501
Maybe this is a better topic for the servo-dev@ mailing list, instead of
a GitHub issue?

Not that I particularly mind, but that way it probably gets a bit more
visibility, not lots of people watch issues.

On 12/12/2017 01:14 AM, antoyo wrote:

[2017-12-12 07:43] tigercosmos commented on #19089
maybe try without docker?

[2017-12-12 07:44] tigercosmos commented on #19172
@KiChjang  How do you think about my comment above?

Besides, I will pick the`Week type inputs` one.

[2017-12-12 10:43] KiChjang commented on #19172
I'd rather not, most of the string parsing/validation logic is located in `str.rs`, I'd rather not move them around unnecessarily.

[2017-12-12 12:58] SimonSapin commented on #19089
Try adding `-v` to `./mach build`, that may show some more info on how rustc exited.

[2017-12-12 19:54] avadacatavra commented on #19251
Hi @olmanz how is this going? Is there anything we can help with?

[2017-12-12 21:20] staktrace commented on #19543
Some things to try:
- Leave the [patch.crates-io] section in your gecko-media workspace's Cargo.toml, and make sure the version of webrender it's trying to build is f9bc4a5c or newer ; that might fix the problem
- If that doesn't work, try running `cargo update -p serde --precise 1.0.23` which should change your Cargo.lock file to use serde 1.0.23 instead of 1.0.24, and the error with the conflict

[2017-12-12 23:09] pyfisch commented on #19482
Great website, with a lot of difficult gradient test cases! I am working on this and the gradients are now rendered with only minor issues. I will submit a PR after cleaning up.

![gradient](https://user-images.githubusercontent.com/2781017/33913367-c852cec2-df99-11e7-9d7b-f30d7c5c245c.png)

[2017-12-13 02:48] tigercosmos commented on #19483
@jdm I have opened a PR on this.

[2017-12-13 17:38] asajeffrey opened #19553 "Output screengrab video in headless mode"
It might be useful to capture video in headless mode, in the same way as we are currently capturing screenshots. This came up in conversation with @cvan about automating builds of embedded servo apps, since this would allow automated build of demo videos.

cc @glennw

[2017-12-13 19:59] olmanz commented on #19251
@avadacatavra
Still working on it, though I was busy with some other projects at my university for the last days.
This issue is way more tricky than I thought though, so I would appreciate every help.

You can see the current status here on this branch of my fork: https://github.com/olmanz/servo/commits/issue19251

Currently, I'm getting this error message:

[code]

[2017-12-13 20:47] frol commented on #19553
Wow, perfect timing for me! I was literally searching on the internet for efficient solutions to this problem (I tried capturing real browser tabs with screen/window recorders, e.g. ffmpeg, OBS but that puts a ton of load on my CPU, so when I tried to record 4 videos at a time on my Core i7, it just failed to record at all). And then I remembered about Servo and here I am opening the issues tab an

[2017-12-13 22:42] aneeshusa commented on #17106
According to jdm who is in person with me right now, this is not actually fixed yet.

[2017-12-13 23:24] jdm opened #19555 "Report performance test results for every PR"
Getting a notification that a PR regresses performance before it actually merges would be amazing.

[2017-12-13 23:24] highfive commented on #19555
cc @aneeshusa

[2017-12-14 02:26] #19546 closed

[2017-12-14 03:05] fenak commented on #19015
Hi! I would like to work on the `list-style-image`. :)

[2017-12-14 03:10] emilio opened #19557 "Move list-style-image outside of mako."
Part of #19015.

@fenak mentioned he wanted to work on this over there, thanks a lot! :)

[2017-12-14 03:10] emilio commented on #19015
Hi @fenak! I opened #19557, feel free to ask any question over there! :)

[2017-12-14 04:47] fenak commented on #19557
Hi @emilio , I'm a little bit confused on the `trivial_to_compute_value!(T)`, as there's a comment saying this is wrong.

[2017-12-14 05:10] fenak commented on #19557
Another question: I see `% if product == "gecko"` in the mako templates, is that translated to `#[cfg(feature = "gecko")]` outside of it?

[2017-12-14 05:25] emilio commented on #19557
Yes, so this is wrong and should be fixed, but ideally in a different PR. In particular, computed and specified urls in servo are different, and that means that the specified value should be generic over the `Url` and such, much like `values::generics::Image` is generic over `ImageUrl`.

That's exactly right :)

[2017-12-14 05:32] fenak commented on #19557
@emilio in this case, how should I handle and `else` clause outside mako?

[code]

[2017-12-14 05:50] emilio commented on #19557
In this case, given the line is kinda repeated, I'd do something like:

[code]

But otherwise you could do:

[code]

[2017-12-14 08:49] cvan commented on #19553
@asajeffrey thanks for stopping by to introduce yourself and chat about embeddability. I learned a lot, and I'm glad we have folks such as y'all working on these hard, but important (IMO), problems. :+1:

What's the support in Servo for the [`MediaRecorder`](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder) and/or [`OffscreenCanvas`](https://developer.mozilla.org/en-US/docs/Web/API/O

[2017-12-14 14:38] tigercosmos commented on #19172
@Eijebong Are you still work on `number` and `range` type inputs?

[2017-12-14 15:11] asajeffrey commented on #19553
@cvan I don't think we have support for MediaRecorder. @nox was most recently looking at the media stack, and might know if we have plans to implement it.

[2017-12-14 15:18] asajeffrey opened #19560 "Write up the process for external contributors to create a performance visualization"
We should have a process for supporting volunteer effort in generating and reporting perfornance metrics.

cc @jdm @avadacatavra @metajack

[2017-12-14 15:29] asajeffrey opened #19561 "Measure time to render main document"
At the moment we're measuring when the load event fires, which waits for all content, including iframes, to load. We should also measure the time to load everything apart from iframes, since those often contain secondary content such as ads. cc @jdm

[2017-12-14 16:26] jdm commented on #19251
Ah, my mistake. If you do `|chan| chan` and make `start` accept a `IpcReceiver<ReportsChan>` then it should work as expected.

[2017-12-14 16:42] jdm opened #19563 "android builder regularly times out building script"

[2017-12-14 16:42] highfive commented on #19563
cc @aneeshusa

[2017-12-14 16:42] jdm commented on #19563
eg: http://build.servo.org/builders/android/builds/10121/steps/compile/logs/stdio

[2017-12-14 16:44] jdm commented on #19553
@cvan There is an unfinished implementation of part of OffscreenCanvas in an open PR.

[2017-12-14 18:18] jdm commented on #19563
My suspicion is that this has to do with the salt-minion process that is consuming 100% CPU at all times.

[2017-12-14 18:22] jdm commented on #19563
I have restarted the salt-minion service; we'll see if it keeps occurring.

[2017-12-14 19:06] mbrubeck commented on #6503
Shouldn't `FlowRef::deref_mut` at least be an `unsafe fn`?

[2017-12-14 19:08] jdm opened #19566 "Mutation testing does not display diff if compilation fails"
[code]

[2017-12-14 19:09] jdm commented on #19566
Code: https://github.com/servo/servo/blob/master/python/servo/mutation/test.py
Test: `./etc/ci/mutation_test.sh`

[2017-12-14 19:09] highfive commented on #19566
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-12-14 19:09] highfive commented on #19566
cc @wafflespeanut

[2017-12-14 20:19] jdm opened #19567 "servo-mac9 takes 45 minutes to compile Servo"
This is almost twice as slow as other mac builders, which is suspicious.

[2017-12-14 20:19] highfive commented on #19567
cc @aneeshusa

[2017-12-14 20:31] jdm commented on #19567
There's a FileStatsAgents process that regularly consumes 75-99% of CPU in bursts which doesn't happen on servo-mac8, which makes me suspicious.

[2017-12-14 21:44] asajeffrey commented on #19519
I'm seeing this too.

[2017-12-14 22:39] asajeffrey commented on #19519
rustc 2017-12-01 doesn't build:
[code]

[2017-12-14 22:47] SimonSapin commented on #19519
This is likely https://github.com/rust-lang/rust/issues/46519, which was introduced in https://github.com/rust-lang/rust/pull/45225 (I *think* first in `nightly-2017-11-20`) and fixed in https://github.com/rust-lang/rust/pull/46521 (`nightly-2017-12-07`).

[2017-12-14 23:28] asajeffrey commented on #19519
Confirming that current master built with nightly 2017-11-14 doesn't have this problem.

[2017-12-14 23:39] SimonSapin commented on #19519
We should try building with LLVM asserts: https://rust-lang-ci2.s3.amazonaws.com/rustc-builds-alt/5a2465e2b44ecdd3b5d835c0abe29e9a4c9dcfe4/rustc-nightly-x86_64-unknown-linux-gnu.tar.gz

[2017-12-15 00:19] SimonSapin commented on #19519
Unfortunately that didn’t help, I just built servo in release mode without triggering an LLVM assertion.

[2017-12-15 00:31] #19561 closed

[2017-12-15 05:34] fenak opened #19571 "Cleanup predefined type for list-style-image"
The implementation from #19570 has to pass the following arguments:
[code]
As both of them use the same function `specified::ListStyleImage::none()`, it makes sense to not have them both needed, but seems to be tied on the shorthand implementation that uses `unwrap_or_initial!`, which calls `get_initial_specified_value` unless a different function is specified on the helper parameter.

[2017-12-15 06:10] tigercosmos opened #19572 "check build warning about unused import"
If there is unused import, somewhere check for it and then return fail.

[2017-12-15 06:18] tigercosmos commented on #19572
A discussion with emilio. A solution might be adding `#![deny(warnings)]` to different `lib.rs`s files in different crates.

[2017-12-15 06:23] emilio commented on #19571
Hmm, so I don't think this is too trivial to simplify. In particular, we want a specified value for the shorthand, but not for the longhand... Do you have any idea on how to clean it up? We can of course expand it manually to use `none`, that may not be too bad...

[2017-12-15 06:25] emilio commented on #19571
(Even though I think it's not worth to do this to save a single line of code there, you end up repeating `none` in other places :/)

[2017-12-15 06:27] fenak commented on #19571
If that's the case, feel free to close it. I agree with not putting a lot of effort to minimal benefit.
I don't have the knowledge yet on how the whole thing works, but I'm getting to understand the whole shorthand/longhand thing :)

[2017-12-15 06:35] #19557 closed

[2017-12-15 07:41] tigercosmos commented on #19572
@highfive assigned me

[2017-12-15 07:42] tigercosmos commented on #19572
@highfive: assign me

[2017-12-15 07:42] highfive commented on #19572
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-15 15:38] emilio commented on #19571
Yeah, it's not clear to me what's the best way to simplify this. We could try `initial_computed_value` if there's no `initial_specified_value`, but I'm not sure it's worth it, given it seems a bit more magical and needs more python stuff which we're generally trying to remove :)

[2017-12-15 15:38] #19571 closed

[2017-12-15 16:08] asajeffrey commented on #19555
Can we do this without adding to build time? cc @avadacatavra

[2017-12-15 16:17] asajeffrey opened #19575 "Run CI tests with GPU hardware acceleration"
Our performance numbers are off because we are running with software rendering.

This would also catch crashes like #19519.

cc @aneeshusa @glennw @jdm

[2017-12-15 16:19] asajeffrey commented on #19575
I'm currently running `./mach test-wpt` without `-z` locally, the results are promising so far (2 different outcomes in the first 5K tests).

[2017-12-15 16:20] emilio commented on #19575
The point is that without software rendering we don't have consistent rendering across platforms...

[2017-12-15 16:23] asajeffrey commented on #19575
I'm hoping we can find a subset of the tests that are repeatable. Can we use a `.ini` file to indicate which tests have to run with software rendering?

[2017-12-15 17:19] asajeffrey commented on #19575
Running the wpt CSS tests with hardware acceleration:
[code]

[2017-12-15 18:28] pyfisch opened #19577 "Implement background-clip correctly for image backgrounds"
Images with background-clip are off.

[Source](https://gist.github.com/pyfisch/d45929d0c53adb2b82690fd64de2b518)
Servo:
![background-clip-servo](https://user-images.githubusercontent.com/2781017/34055041-cef6e048-e1cd-11e7-9c9d-ce7e1d4781f1.png)
Firefox (expected rendering):
![background-clip-firefox](https://user-images.githubusercontent.com/2781017/34055085-08933982-e1ce-11e7-8127-76955bba3cb0.p

[2017-12-15 21:09] jdm commented on #19575
All or almost all of those are known intermittent results.

[2017-12-16 06:30] tigercosmos commented on #19577
https://github.com/servo/servo/wiki/Priority-of-CSS-properties

The wiki say `clip` will be in future.

[2017-12-16 08:02] tigercosmos commented on #19566
What' this original print? and what's the expected print? I don't get it.

[2017-12-16 09:50] CYBAI opened #19582 "Move will-change outside of mako."
I'll take this one as a sub-issue of #19015

[2017-12-16 15:05] jdm commented on #19566
The job runs on the linux-rel-nogate builder. Usually it prints the diff of the mutation that was applied to the code after the results of running tests with the mutant build.

[2017-12-16 16:18] tigercosmos commented on #19566
@jdm it seems it do show diff?
http://build.servo.org/builders/linux-rel-nogate/builds/1028/steps/shell__3/logs/stdio
[code]

[2017-12-16 16:43] tigercosmos commented on #19566
the origin log is from http://build.servo.org/builders/linux-rel-nogate/builds/1011/steps/shell__3/logs/stdio
PR:  #19562

[2017-12-16 21:40] pyfisch commented on #10412
The progress bar now repeats correctly.

[2017-12-16 21:43] pyfisch commented on #11304
This now renders in servo like in other engines. See #19554.

[2017-12-16 21:45] pyfisch commented on #16654
Closed by #19554 & #19568

[2017-12-16 21:45] #16654 closed

[2017-12-16 21:50] pyfisch commented on #16656
I have written this radial gradient code that seemed to need fuzzy reftests. It turned out that the two images where indeed different and the result of a bug. One included the border in calculations and the other did not. Fuzzy gradients would have masked this issue.

Writing tests with gradients does not require any form of fuzzy matching in my experience.

[2017-12-16 21:51] pyfisch commented on #16657
The `background-size` part is done, I will work on the `background-repeat` part soon.

[2017-12-16 23:48] #19582 closed

[2017-12-17 02:57] jdm commented on #19566
It shows the diff when the mutation actually compiles correctly. Consider https://github.com/servo/servo/blob/master/python/servo/mutation/test.py#L56 versus https://github.com/servo/servo/blob/master/python/servo/mutation/test.py#L46.

[2017-12-17 05:14] tigercosmos commented on #19566
@highfive: assign me

[2017-12-17 05:14] highfive commented on #19566
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-17 08:20] tigercosmos opened #19587 "implement Date-time type inputs"
part of #19172

[2017-12-17 08:20] tigercosmos commented on #19587
@highfive: assign me

[2017-12-17 08:20] highfive commented on #19587
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-17 11:01] DustinByfuglien opened #19588 "Servo forks serde with [patch]"
I'm trying a build simple servo app with cargo build (rustc 1.24.0-nightly (3bee2b44c 2017-12-16)):

[code]

Cargo.toml includes:
[code]

But building is terminating with exit code 101:

Windows 7x64.

Help please.

[2017-12-17 18:04] fabricedesre commented on #19588
Servo uses a serde fork, the current version in Cargo.lock is https://github.com/gankro/serde?branch=deserialize_from_enums3#fc611736

Does that match yours? Note how in https://github.com/paulrouget/servo-embedding-example they recommend to copy Servo's Cargo.lock in your project to avoid these kind of issues.

[2017-12-17 18:43] DustinByfuglien commented on #19588
Thank you for the link.
Now I understand wat was wrong.

[2017-12-17 20:59] SimonSapin commented on #19588
Servo has this section in its root `Cargo.toml`, which you probably need to copy in yours:

[code]

This also seems to make using `[patch]` impossible. @Gankro, is there a plan to upstream these serde features, or somehow stop using `[replace]`?

[2017-12-18 01:05] SimonSapin commented on #19588
https://github.com/servo/servo/pull/19590 replaces `[replace]` with `[patch]` which fixes some problems, but this is still not ideal. When `[patch]`’ing another library which depends on `serde = "1.0"`, cargo insisted on upgrading that dependency to 1.0.24 from crates.io instead of 1.0.23 from the forked git repo, even after explicitly downgrading it: `cargo update -p serde:1.0.24 --precise 1.0.23

[2017-12-18 01:13] dtolnay commented on #19588
I will be publishing a Serde version with most of the changes from the fork in the next few days. As I understand it, at that point Servo will be able to drop the [patch] of `serde` but wants to keep using a fork of `serde_derive` -- so we need to upstream the rest of the changes somehow or figure out a long-term solution for the fork.

[2017-12-18 02:30] jdm commented on #10412
Thanks for checking!

[2017-12-18 02:30] #10412 closed

[2017-12-18 04:22] jdm opened #19592 "Intermittent timeout in /_mozilla/css/canvas_radial_gradient_a.html"
[code]

[2017-12-18 05:13] Gankro commented on #19588
With the serde work upstreamed servo could remove both patches, as the serde_derive fork “only” introduces a transparent optimization. Performance of gecko is more critical (in the shirt term), so we would continue to apply the derive patch there.

[2017-12-18 06:05] #11304 closed

[2017-12-18 07:50] jdm opened #19593 "Intermittent timeout in /2dcontext/building-paths/canvas_complexshapes_arcto_001.htm"
[code]

[2017-12-18 07:53] jdm opened #19594 "Intermittent timeout in /_mozilla/mozilla/css-paint-api/geometry-background-image-tiled-003.html"
[code]

[2017-12-18 14:44] CYBAI opened #19596 "Cannot use Tab to navigate between inputs"
Steps to reproduce:

1. `./mach run https://facebook.com`
2. Click in the `email` or `phone` input
3. Try to use `tab` to jump to next input which should be `password`
4. You should see you're still in the first input.

Note: I built with master on [`3a37d80931`](https://github.com/servo/servo/commit/3a37d8093108b66fb3edc212c97551738450c402) commit which is the latest one when I'm creating this is

[2017-12-18 14:51] jdm commented on #19596
This is tracked in #3982.

[2017-12-18 14:51] #19596 closed

[2017-12-18 15:12] CYBAI commented on #19596
Oh, sorry, didn't notice this one. Thanks!

[2017-12-18 15:20] CYBAI commented on #3982
@jdm I'd like to try to take the #15936 one from @nox and try to finish it. Thanks!

[2017-12-18 15:26] jdm opened #19597 "Intermittent timeout in /2dcontext/line-styles/lineto_a.html"
[code]

[2017-12-18 15:48] isiahmeadows opened #19598 "Very severe stuttering with the Moire demo on the latest nightly."
OS: macOS High Sierra
Graphics: Intel HD Graphics 630 (I also have a Radeon Pro card, but it was disabled)

-----

I mean, in the scale of 1-2 FPS. Note that it's not actually choking on the CPU (I brought up the Activity Monitor to confirm that).

[2017-12-18 15:48] jdm commented on #19598
cc @glennw

[2017-12-18 15:56] jdm commented on #19483
The change in #19547 is being reverted in #19599. We'll want to investigate the underlying problem in ipc-channel that causes tests to time out.

[2017-12-18 17:19] #19592 closed

[2017-12-18 17:19] #19593 closed

[2017-12-18 17:19] #19594 closed

[2017-12-18 17:19] #19597 closed

[2017-12-19 00:05] tigercosmos commented on #19422
@KiChjang NO. I can't handle this. I didn't understand how to do.
If someone is interested in this, feel free to take it. :)

[2017-12-19 00:07] tigercosmos commented on #19566
@jdm  I've opned a PR on this.

[2017-12-19 01:08] tigercosmos commented on #19172
I just found that @SWW13' s time implement is not completed.
both `parse a time string ` and `parse a time component` are not implemented.

[2017-12-19 01:12] tigercosmos opened #19603 "implement Time type inputs"
has been implemented:
- [X] `is_valid_time_string`
- [ ] `parse a time string`
- [ ] `parse a time component`

need to fix first before #19587(Date-time type)
part of #19172

[2017-12-19 01:16] tigercosmos commented on #19603
@highfive: assign me

[2017-12-19 01:16] highfive commented on #19603
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-19 02:45] tigercosmos commented on #19603
@KiChjang There's a dilemma. Currently `is_valid_time_string` is not suitable to transfer to `parse a time string` and `parse a time component`, because it deal with the string by chars. But parsing would like to return `(HH, MM, SS) = (u32, u32, u32)`.

However, Reinventing the wheel seems not a good idea.

The best relationship might be:
`parse _time_component` -> `parse_time_string` -> `is_vali

[2017-12-19 02:57] tigercosmos commented on #19603
@highfive: unassign me

[2017-12-19 03:02] atouchet commented on #19519
This was fixed.

[2017-12-19 03:06] KiChjang commented on #19603
I don't see much value in trying to reimplement `is_valid_time_string` solely in terms of `parse_time_component` and `parse_time_string`. That function today is well-optimized for its only use case, which is to validate whether the string itself is a valid time string.

[2017-12-19 04:23] atouchet opened #19605 "Hit detection no longer working for leftmost side of Servo window"
Steps to reproduce:

1. Open Servo window using Browser.html.
2. Try to click one of the site tiles in the first column from the Browser.html start screen.
3. The tiles are not clickable. This also is an issue for other websites loaded in Servo as well.

Tested in Windows 10.

[2017-12-19 04:26] atouchet commented on #19598
I tested this out in Windows 10 with a GeForce GTX 1050 Ti and it seemed to run decently although it may be marginally laggier than in past builds. I haven't actually tested the specific FPS so I can't confirm.

[2017-12-19 04:29] isiahmeadows commented on #19598
My FPS estimate was a ballpark one, anyways, but 1-2 FPS isn't hard to
estimate.

On Mon, Dec 18, 2017, 23:26 Alex Touchet <notifications@github.com> wrote:

[2017-12-19 04:44] tigercosmos commented on #19603
@KiChjang I would implement parse function  because date time input will use it. I cannot use valid function, because it is bind to Dom.

[2017-12-19 04:49] tigercosmos commented on #19603
@KiChjang So do you think I just implement parse function aside with valid one is fine?

[2017-12-19 06:54] KiChjang commented on #19603
Yes.

[2017-12-19 10:57] SimonSapin commented on #19519
No it is not. We just reverted to an earlier version of the compiler. We still need to isolate the bug and file it upstream so that it can be properly fixed.

[2017-12-19 13:37] SWW13 commented on #19603
@tigercosmos You could possibly reuse parts of the state machine and combine the Low, Middle and High states for parsing.

[2017-12-19 16:32] jrvidal commented on #13035
@jdm Are you sure that's still the case? I no longer get a constellation panic by patching `WebGLRenderingContext` with a `panic()` method in Linux or macOS.

[2017-12-19 17:47] jdm commented on #13035
@jrvidal I would not expect panicking in WebGLRenderingContext to cause the failure in the constellation. However, I also think that my suggestion in https://github.com/servo/servo/issues/13035#issuecomment-249568370 does not actually test the case that was originally causing the problem. Introducing a panic inside WebGLPaintThread::new should trigger it.

[2017-12-19 19:08] Bravo555 commented on #19286
Also happens to me on Ubuntu 17.10.

[code]

[code]

[2017-12-19 22:18] Xanewok commented on #19286
Can confirm @Bravo555's case, also happens on Ubuntu 17.10.

[2017-12-19 22:49] jdm commented on #19286
Oh, that is fascinating!

[2017-12-20 03:03] metux opened #19608 "[build fail] stddef.h not found"
whilie compiling gecko-media v0.1.0, stddef.h is not found, as it expects it in the wrong place
( /usr/include/c++/6.3.0 instead of /usr/lib/gcc/i686-linux-gnu/6.3.0/include/)

I had to add symlinks for a workaround:

cd /usr/include/c++/6.3.0 ; for i in /usr/lib/gcc/i686-linux-gnu/6.3.0/include/*.h ; do ln -sf $i ; done

[2017-12-20 03:04] metux commented on #19608
platform: Debian ascii

[2017-12-20 03:07] metux commented on #19503
Why not running it as a separate server process ? For the IPC, I'd suggest 9P.

[2017-12-20 03:10] tigercosmos commented on #19608
If this is an universal problem with the platform(Not just happen once). You might want to fix the `README`

[2017-12-20 03:38] atouchet commented on #18801
This appears to be fixed now.

[2017-12-20 03:38] #18801 closed

[2017-12-20 03:52] metux commented on #19089
I've got a similar problem, but on 32bit system (64bit kernel, 8GB RAM). vsize reaches about 3.8G
before crashing. Resident only about 2.7G, while 2G physically free / cached. Seems that much of rustc's allocated memory isn't used much (otherwise wouldn't be swapped out in favor of cache)

Why does it need so much memory at all ? Maybe a memleak ?

[2017-12-20 04:06] metux commented on #13045
I've got the same problem. Machine as 8GB RAM, 64bit kernel, 32bit userland (devuan ascii).
Build allocates 3.8G (actually resient 2.7G) before crashing.

Is there anything I can do to reduce (per process) memory consumption ?
Why does it take so much at all ?

[2017-12-20 06:37] antrik commented on #13045
@metux last time I tried, disabling debug symbols was the only thing that seemed to help. However, that was quite some time ago. Pretty significant changes to the compiler have taken place since then -- so there *might* be other options now...

AIUI, the reason it takes so much memory is that the Rust front-end passes a humongous amount of intermediate code down to the LLVM code generator all at o

[2017-12-20 06:50] metux commented on #13045
Already trying it (as somewhere this already had been suggested).
Now vsize keeps at 4070M (still running, not crashed yet). Two threads at 100%, three others idle.

So, is it actually a LLVM problem ?

BTW: don't see any llvm process - it it running in the rustc process ?
Perhaps splitting that into separate processes could help ?

[2017-12-20 06:53] metux commented on #13045
Just crashed again, even non-dev doesnt work :(

[2017-12-20 09:16] antrik commented on #13045
@metux yes, rustc links libllvm.

Not sure it's fair to call it an LLVM problem... I think the Rust front-end could choose to pass down to work in smaller chunks? Don't know the details though. If you really want to get into it, the #rust-internals IRC channel is probably the place to go.

See also https://github.com/servo/servo/issues/1799 for the possibility of addressing (working around?) the i

[2017-12-20 10:26] sviter commented on #18801
I still can see this issue. For me it's looks like figure in first comment.

[2017-12-20 11:50] sviter commented on #19408
No crash for me now

[2017-12-20 11:50] #19408 closed

[2017-12-20 11:58] sviter commented on #19430
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-c2cacb6
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-20 12:08] sviter commented on #19605
Similar problems was in #19131

[2017-12-20 13:11] SimonSapin commented on #19089
The `script` crate is huge, and very hard to split up. So I’m not too surprised that compiling it takes close to all of the available address space on 32-bit. I strongly recommend compiling on a 64-bit platform. (Cross-compiling if you need 32-bit binaries.)

So to whether there is a leak, I suggest profiling rustc and filing issues on https://github.com/rust-lang/rust/issues/ if you find somethin

[2017-12-20 15:07] jdm commented on #19608
There were potential solutions in https://github.com/servo/gecko-media/issues/71#issuecomment-346606660.

[2017-12-20 15:10] metux commented on #1799
Any news on this issue ? Just having crashes by >4G memory consumption.

[2017-12-20 15:31] jdm commented on #1799
No news.

[2017-12-20 15:54] metux commented on #1799
hmm, I'll try with kicking out stuff I dont wanna have anyways (bluetooth, gamepad, vr, ...).
unfortunately, #[cfg(...)] doesn't seem to work in many places - I really miss a real preprocessor.

[2017-12-20 16:06] jdm commented on #19430
[code]

[2017-12-20 16:09] jdm commented on #19430
[code]

[2017-12-20 16:56] atouchet commented on #18801
@sviter hmm strange. Could you maybe take a screenshot to compare? Also what OS and GPU are you using?

[2017-12-20 17:08] matthiaskrgr commented on #19286
Hm, for the record, I get task_info failures with both
```` cargo build```` and ```` cargo build --release````

````./mach build --release```` and  ````./mach build --dev````
both fail when building osmesa-src.

[2017-12-20 17:09] atouchet commented on #18860
This is still an issue in the latest nightly build although the behaviour has changed somewhat. The monkey sprites are now clipped by the ad box and no longer appear above it.

![Evil Ad](https://i.imgur.com/hJ7mnAd.png)

[2017-12-20 17:13] jdm commented on #18801
The fact that the rects are squished into a tiny corner is tracked in https://github.com/servo/servo/issues/15689.

[2017-12-20 17:14] jdm commented on #19286
`cargo build` is not a supported build configuration. Please file a separate issue about the osmesa-src error that you see!

[2017-12-20 17:14] #19286 closed

[2017-12-20 17:28] sviter commented on #18801
![tr_rects_servo](https://user-images.githubusercontent.com/6523067/34219920-cff0b3e4-e5c3-11e7-812e-25c3a1b6ab4e.png)
My OS is Win 10 and GPU is  Intel® HD Graphics 505

[2017-12-20 17:33] atouchet commented on #18801
@sviter that is not the bug being tracked in this issue report. As @jdm mentioned the top left corner issue is #15689.

[2017-12-20 18:27] atouchet commented on #18294
This bug is actually more complex than I originally thought. It turns out the window can be properly resized but only from certain sizes. If you initially resize the window horizontally to make it very thin it can then be resized larger (such as maximized) without issue.

[2017-12-20 18:41] emilio commented on #19430
It should be doable to repro this calling `offsetTop` or some of those APIs that call into that inside a display: none subtree.

[2017-12-21 03:21] tigercosmos opened #19616 "android build warnings on buildbot"
excluding rust related:
[code]

[2017-12-21 03:50] tigercosmos commented on #19587
@KiChjang  I've opened a PR on this.

[2017-12-21 11:11] tigercosmos opened #19619 "buildbot mac `gecko-media v0.1.0` timeout"
It happens many times today.
[code]
[code]

[2017-12-21 12:26] tigercosmos commented on #12675
I am going to do this

[2017-12-21 15:48] jdm commented on #19563
It did not keep occurring.

[2017-12-21 15:48] #19563 closed

[2017-12-21 15:49] jdm commented on #19495
This appears to still be happening.

[2017-12-21 15:49] jdm commented on #19619
This is tracked in #19495.

[2017-12-21 15:49] #19619 closed

[2017-12-21 20:09] jdm commented on #11995
@nifey Have you made any progress with this?

[2017-12-21 20:13] jdm commented on #19505
Curiously, http://servo-builds.s3.amazonaws.com/ only shows mac builds up until 2016-10-25. There are plenty of linux and android builds for recent days, however.

[2017-12-21 20:23] jdm commented on #19505
Ah, `<MaxKeys>1000</MaxKeys>` is hiding the entries that I care about.

[2017-12-21 20:40] jdm commented on #19505
I use http://servo-builds.s3.amazonaws.com/?list-type=2&prefix=nightly/mac/2017 when investigating regression ranges for macOS builds from 2017.

[2017-12-21 20:40] jdm commented on #19605
This regressed between the 12-07 and 12-08 nightly builds according to the builds at http://servo-builds.s3.amazonaws.com/?list-type=2&prefix=nightly/mac/2017-12.

[2017-12-21 21:18] #19572 closed

[2017-12-21 21:30] jdm commented on #19605
This regressed in 58473cfdcd8ca18688e289c9ad9dae5c6fb28173 as part of the webrender update.

[2017-12-21 21:37] jdm commented on #19605
This should be the regression range in webrender: https://github.com/servo/webrender/compare/446fedc1fa2a6be4c32d49ff2bc094242721b16b...23d1358c8f94a436d8e591ed001a44a6f51795a1

[2017-12-21 21:57] jdm commented on #19605
This is a regression from f6783f1b2a94743e7b2ecb67b3fdb462d717b322. cc @mrobinson

[2017-12-22 02:52] tigercosmos commented on #12675
@highfive: assign me

[2017-12-22 02:52] highfive commented on #12675
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-22 08:38] tigercosmos opened #19623 "All command wiki"
I don't see a wiki for all command usage. (or please tell me where?)
the wiki should list all `mach` can do and how to use.

[2017-12-22 08:57] tigercosmos commented on #12114
<img width="132" alt="2017-12-22 4 55 43" src="https://user-images.githubusercontent.com/18013815/34291842-2fa913d2-e739-11e7-82db-47a914b8deb9.png">
Seems no longer an issue?

[2017-12-22 09:24] tigercosmos commented on #7529
Maybe this is related https://github.com/tomaka/winit

[2017-12-22 09:41] metux opened #19624 "[FR] check for build requirement"
./mach should check for build requirements early, in order to avoid later breaks, and print easily
understandable error messages.

checks should be done eg. for
* llvm (especially the compiler-specific headers - there already had been reports on that, and I got hit by that myself)
* pkgconfig
* zlib-dev
* make
* virtualenv
* libfreetype6-dev
* libexpat1-dev
* libfontconfig1-dev
* mesa-common-dev
*

[2017-12-22 10:17] Haroenv commented on #12114
I guess they now use regular window borders, as seen in your screenshot. I haven’t followed up on this issue, so if someone wants to close it, it’s probably fine

[2017-12-22 10:45] SimonSapin commented on #19623
Such documentation should exist, but it should not live outside of the repository because that way it would be likely to quickly become outdated. However `./mach --help` already exists. If that’s missing some information, we should add it there.

[2017-12-22 11:00] sviter opened #19625 ""Unstyled layout node" panic in overflow query"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.quantamagazine.org/mathematicians-find-wrinkle-in-famed-fluid-equations-20171221/
### Servo Version:
Servo 0.0.1-2eb1512
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-22 11:49] sviter opened #19626 "Wrong linear-gradient rendering"
Go to https://engineering.instagram.com/let-your-code-type-hint-itself-introducing-open-source-monkeytype-a855c7284881
Link to Github is rendering incorrect. Underline is made with linear-gradient.
![link servo](https://user-images.githubusercontent.com/6523067/34297134-5a988d78-e727-11e7-8a73-6a5dad29f29f.png)

[2017-12-22 11:51] sviter opened #19627 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://venturebeat.com/2017/12/21/sam-altman-too-many-y-combinator-companies-raise-money/
### Servo Version:
Servo 0.0.1-2eb1512
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-22 12:06] #17370 closed

[2017-12-22 12:18] tigercosmos commented on #12114
I thought we can close it.

[2017-12-22 16:35] tigercosmos commented on #19623
I think it is still worth to have a copy in wiki?

[2017-12-22 18:32] KiChjang commented on #19623
@tigercosmos Can you give a reason why? @SimonSapin has already stated his concerns of the wiki document being outdated.

[2017-12-22 18:38] #12114 closed

[2017-12-22 19:01] tigercosmos commented on #19623
I just think sometime user might want to read via the website.
Some project even show the command at readme
such as https://github.com/sharkdp/fd#command-line-options

[2017-12-22 19:19] SimonSapin commented on #19623
It’s fine to document on the wiki or in the README some commands for the most common scenarios (like `./mach build`) but we should not try to make that exhaustive because incorrect docs can be worse than incomplete docs. Unless we can prevent them from becoming out of date by auto-generating them it from mach’s `@Command` declarations like `./mach --help` does.

[2017-12-22 19:33] jonleighton opened #19629 "Move list-style-type outside of mako"
A sub-issue of https://github.com/servo/servo/issues/19015

[2017-12-22 19:33] jonleighton commented on #19015
Hi, I'll try to look at `list-style-type`: https://github.com/servo/servo/issues/19629

[2017-12-22 19:51] tigercosmos commented on #19172
`Date-time type inputs` has opened a PR #19602

[2017-12-22 19:52] tigercosmos commented on #19172
I would like to take `Number type inputs and range type inputs`

[2017-12-22 21:28] jdm commented on #19626
[code]
Firefox shows a similar issue if I disable the `background-repeat` property, so that might be a clue.

[2017-12-22 21:29] highfive commented on #19624
cc @wafflespeanut

[2017-12-22 21:48] emilio commented on #19015
On 12/22/2017 08:33 PM, Jon Leighton wrote:

Awesome, thank you! :)

[2017-12-22 21:52] jdm commented on #19625
[code]

[2017-12-22 21:53] jdm commented on #19625
This looks like the same failure as #19430.

[2017-12-22 21:54] jdm commented on #19627
This is the same panic as #19625.

[2017-12-22 21:54] #19627 closed

[2017-12-22 21:54] jdm commented on #19625
Also present in https://venturebeat.com/2017/12/21/sam-altman-too-many-y-combinator-companies-raise-money/.

[2017-12-22 21:56] emilio commented on #19430
@jdm if this is showing up a lot I can fix this tomorrow :)

[2017-12-22 22:29] jdm opened #19631 "Intermittent failure in /_mozilla/mozilla/css-paint-api/paint2d-image.html, /_mozilla/mozilla/css-paint-api/paint2d-filter.html"
[code]
The testcase shows a blank page.

[2017-12-23 01:59] metux commented on #19624
I'd suggest as a first start, collect the individual steps (eg. apt-get calls) in dist-specific scripts, w/ somewhat  canonical names (eg. bootstrap-debian-<releasename>, etc). Later add some dist-detect magic which calls the right script.

[2017-12-23 02:01] metux commented on #19624
In later iterations we could also consider using dist-provided 3rd-party packages instead of bundled ones.
Unless there is a hard need for building specific versions on our own, dist packages should be preferred.

[2017-12-23 02:18] metux opened #19632 "build fail on Debian Jessie (cmake too old)"
Jessie has cmake 3.0.2 - target_sources" had been introduced w/ cmake 3.1.

[2017-12-23 02:29] metux commented on #19632
A workaround is taking cmake from jessie-backports.
There should be some information printed out about that - see #19624

[2017-12-23 03:30] asajeffrey commented on #19631
Oh rats, is this caused by adding the timeout to paint worklets? It could be that the worklet isn't doing its job in the time allotted, which causes the failure. There easiest fix would be a parameter for how long to wait before timing out. There are probably better fixes though.
cc @yati-sagade

[2017-12-23 04:32] fabricedesre commented on #19632
Looks like https://github.com/servo/gecko-media/blob/master/gecko-media/CMakeLists.txt#L1 should be updated to 3.1

[2017-12-23 06:26] sviter commented on #19626
If so this is #16657

[2017-12-23 07:28] tigercosmos opened #19634 "[CI failed] [test-unit] thread 'fetch::test_fetch_with_hsts' panicked at 'called `Option::unwrap()` on a `None` value'"
`./mach test-unit` in current master  bcdb82b

This make all CI failed!

[code]

[2017-12-23 07:50] tigercosmos commented on #19634
cc @jdm

[2017-12-23 11:04] jonleighton opened #19635 "`./mach check` fails on Fedora 26: src/task_info.c:10:10: fatal error: mach/mach_init.h: No such file or directory"
As of e2f534f681fb10d0cf917c19c92b9bb40a9e2ebd I can no longer run `./mach check` on Fedora 26. [Here is the output of `./mach check -v'](https://gist.github.com/jonleighton/56119542b8cc9fbf449210849b554862). The error is:

[code]

It comes from the [`support/rust-task_info` crate](https://github.com/servo/servo/tree/master/support/rust-task_info), but I think what has happened is that before e2f5

[2017-12-23 11:18] jonleighton commented on #19635
Aha, we should only be `use`-ing the `task_info` crate on `macos` anyway: https://github.com/servo/servo/blob/bcdb82b83fcf652a29ba49cf1fe032299d26e52c/components/profile/mem.rs#L368-L369

So it seems like the [conditional compilation attribute](https://doc.rust-lang.org/reference/attributes.html#conditional-compilation) is not working properly on this earlier version of rustc.

[2017-12-23 11:29] jonleighton commented on #19635
I tried to find a Rust commit/issue relating to this, but failed

[2017-12-23 12:56] SimonSapin commented on #19635
This likely regressed in https://github.com/servo/servo/pull/19574 , which downgraded the compiler to work around a compiler bug but unfotunately downgraded Cargo at the same time. We can upgrade again when we find a proper fix for https://github.com/servo/servo/issues/19519.

In the meantime, try `./mach check -p servo`.

[2017-12-23 13:41] tigercosmos commented on #19623
so, I guess we can do two things:
- add most common command in readme
- auto generate doc in `/doc`

[2017-12-23 15:16] SimonSapin commented on #19623
Regarding the second point: given that `./mach --help` already exists and that one already needs to be in a terminal anyway to use these commands, I’ve skeptical of the value of spending much time writing and maintaining code to generate that same documentation in HTML format.

[2017-12-23 15:39] asajeffrey commented on #19635
Oh great. AFAICT there is currently no rustc version which can build servo successfully. We either hit this bug or #19519, sigh.

[2017-12-23 15:39] tigercosmos commented on #19623
I agree. Let's just do the first point 👍

[2017-12-23 15:41] SimonSapin commented on #19519
I didn’t manage to reproduce this on Linux with Intel GPU. Servo master compile with nightly-2017-12-07 in release mode loaded a couple URLs without crashing.

[2017-12-23 16:41] jonleighton commented on #19635
Note that it only affects `./mach check`, not `./mach build`, so the status quo isn't a total disaster

[2017-12-23 17:39] nifey commented on #11995
Sorry for replying late
I spent some time figuring out the structure of the code. Regarding the issue this is what I have understood so far

A function to parse XML fragments has to be defined in mod.rs file of ServoParser. Then this function should be called from parse_fragment function if the associated document is not a html document. Is this approach correct?

I am facing some trouble finding

[2017-12-23 17:59] jdm commented on #11995
Yes, that is the right idea. I'm not sure if there are any tests for this behaviour, since I would expect them to live in [this directory](https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/html/the-xhtml-syntax/parsing-xhtml-fragments) and it is empty. I would recommend creating test cases in that directory for:
* throwing an exception for xml-wellformedness
* throwing an exc

[2017-12-23 18:04] jdm commented on #11995
Those suggestions are based off of the steps in [this algorithm](https://html.spec.whatwg.org/multipage/xhtml.html#xml-fragment-parsing-algorithm) which is invoked from [the fragment parsing algorithm](https://w3c.github.io/DOM-Parsing/#parsing) which is invoked from [the innerHTML setter](https://w3c.github.io/DOM-Parsing/#extensions-to-the-element-interface).

[2017-12-23 19:56] metux opened #19637 "Lots of warnings: the type of this value must be known in this context"
Hi folks,

I'm getting *a lot* of warnings like this:

What does that mean ?

I'm using a pretty fresh rustc (updated few days ago) - did anything
vital change in the compiler/language ?

--mtx

[2017-12-23 20:01] SimonSapin commented on #19637
This is https://github.com/rust-lang/rust/issues/46906. In general, using a version other than the one specified in the `rust-toolchain` file is unsupported. If you use rustup or build with `./mach build` the correct version is downloaded automatically.

At the moment, upgrading is blocked on https://github.com/servo/servo/issues/19519.

[2017-12-23 20:57] jonleighton commented on #19634
The certificate used in that test has expired:

[code]

[2017-12-23 21:00] jonleighton commented on #19634
The self-signed cert was added in 6020b4c15c62f950346d6e446fb9a8ed04d05e13, where the failing test was also added. I guess it would be better to dynamically generate a self-signed cert in the tests so that there isn't a fixed expiry date.

[2017-12-23 21:01] metux commented on #19637
Okay. I had upgraded rust, hoping that #[cfg()] on if statements would be implemented now ...

Nevertheless, this issue should be fixed sooner or later.

[2017-12-23 21:04] yati-sagade commented on #19631
++ for injecting the expected timeout when requesting a paint.

I wonder though what happens to the 60fps requirement in this case. When a paint2d thread takes too long to paint an image, increasing the timeout to > 16ms will waste work, right?

[2017-12-23 21:15] SimonSapin commented on #19635
I just checked, `./mach check -p servo` works.

[2017-12-23 21:22] tigercosmos opened #19638 "bot auto open issue when commit has TODO or FIXME"
Inspired by: https://probot.github.io/apps/todo/

If someone's commit code contains code like:
[code]

or like this:
[code]
maybe @highfive can auto open issue.

like this image show:
![image](https://user-images.githubusercontent.com/18013815/34322715-491e297e-e86a-11e7-9fc0-1aef4fe0e81e.png)

[2017-12-24 12:27] #19638 closed

[2017-12-24 12:42] tigercosmos commented on #19634
I found a command. What's `./mach update-hsts-preload`?

[2017-12-24 13:26] WesleyAC opened #19639 "Docs on creating servo-based programs"
I am interested in using servo in a program that I'm working on, but I'm having a bit of trouble figuring out how to to this - particularly because of the build system. I've cloned servo and taken a look at `components/servo` and `ports/servo/main.rs`, and I think I understand the API.

Normally, at this point, I'd `cargo add servo` and be on my way - but I'm not sure what role `mach` plays in thi

[2017-12-24 13:49] jdm commented on #19634
That only updates the HSTS preload list - it is used to automatically upgrade HTTP connections to HTTPS before the connection is started.

[2017-12-24 13:51] jdm commented on #19639
https://github.com/paulrouget/servoshell/#build is the best model for this right now.

[2017-12-24 13:52] jdm commented on #19639
https://github.com/paulrouget/servo-embedding-example is even more what you're looking for.

[2017-12-24 13:55] tigercosmos commented on #19634
@jdm How do you think to solve the issue.
Change to dynamically generate a self-signed cert as @jonleighton suggested?
or just modify the file?

[2017-12-24 13:57] jdm commented on #19634
It would be nice to switch to dynamic generation at some point, but modifying the file would allow us to deal with the problem quickly.

[2017-12-24 13:58] emilio commented on #19634
Yeah, I'm on it right now.

[2017-12-24 15:46] tigercosmos commented on #19624
Could `mach bootstrap` solve the problem?

[2017-12-24 16:17] nifey commented on #11995
I'll write these tests and share my progress soon

[2017-12-24 17:43] #19634 closed

[2017-12-24 18:03] emilio commented on #19430
Here's a test-case:

[code]

[2017-12-24 20:09] #17231 closed

[2017-12-25 03:37] atouchet commented on #19629
This was done in #19636.

[2017-12-25 03:37] #19629 closed

[2017-12-25 05:36] tigercosmos commented on #12410
This should remove `assign` and label as `easy` I thought.

[2017-12-25 13:53] tigercosmos opened #19643 "do a project"
@jdm,
I would like to do a project. Maybe part of a long-term work, or implement APIs in a module.
Something need to do in-depth study. Not just fix issue by issue.
Could you give suggestion to me. thanks! :)

[2017-12-25 14:50] CYBAI commented on #19643
AFAIK, you can check the label of ["B-interesting-project"](https://github.com/servo/servo/labels/B-interesting-project) first to see if there's any project you'd like to try.

[2017-12-25 15:05] #12675 closed

[2017-12-25 15:17] tigercosmos commented on #19643
Sure. Maybe I can pick one.

[2017-12-25 15:17] #19643 closed

[2017-12-26 05:31] tigercosmos commented on #1884
What's this?

[2017-12-26 06:13] tigercosmos commented on #19639
https://github.com/glennw/servo-shell

[2017-12-26 13:10] CYBAI opened #19645 "Move touch-action outside of mako."
I'll take this one as a sub-issue of #19015

[2017-12-26 13:21] tigercosmos commented on #19645
mako boy 👍

[2017-12-26 20:09] emilio commented on #1884
It's probably figuring out the work needed to make Servo correctly render stuff like http://html.spec.whatwg.org/.

[2017-12-26 20:13] tigercosmos commented on #1884
Ah, so just tracking.

[2017-12-27 04:24] metux opened #19648 "crash on ebay.de: WR assertion failed: !self.nodes.contains_key(&id) under flatten_scroll_frame."
Shows blank window (but w/ correct title) for over a minute and then crashes.

Maybe even two separate issues: a) blank while waiting for network b) crashing on network error.

[code]

[2017-12-27 04:41] metux commented on #11767
Those things are very privacy/security sensible.

[2017-12-27 05:02] metux commented on #19648
Somewhat looks like the IPC link breaks down.

[2017-12-27 10:58] jurf commented on #12015
Nothing changed with F27 coming out of Beta.

[2017-12-27 13:14] tigercosmos commented on #19648
You can use  "```" to block the output. (Will look prettier)

[code]

[2017-12-27 15:11] emilio commented on #19648
The real error is:

[code]

That causes the thread to panic and causes the IPC error.

cc @mrobinson

[2017-12-27 17:22] mrobinson commented on #19605
I'm having trouble reproducing this one, but perhaps it's because my browserhtml build is failing in some way. Is it possible to get an unreduced HTML dump of the browserhtml window for me to examine? I have verified that hit testing is working correct in the reduced test case from https://github.com/servo/servo/issues/19131.

[2017-12-27 18:48] WesleyAC commented on #19639
Thanks @jdm, the servo-embedding-example repo looks really useful 👍. Would it be reasonable to add a link to it in the readme or docs?

[2017-12-27 19:39] tigercosmos commented on #19639
In my opinion, maybe not in README, because it is not an official project related to this project?
However seems good to have a `Resource` wiki with these information.

[2017-12-27 21:38] pyfisch commented on #19421
@bors-servo assign me

This is because the background image is declared on the `body` rather then `html`.

See [CSS Backgrounds and Borders Module Level 3 Section 3.11.2. The Canvas Background and the HTML <body> Element](https://drafts.csswg.org/css-backgrounds-3/#body-background).

[2017-12-27 21:44] pyfisch commented on #18435
Even simpler test:

[code]

[2017-12-27 21:46] pyfisch opened #19649 "Implement Corner Clipping"
https://drafts.csswg.org/css-backgrounds-3/#corner-clipping

[2017-12-27 21:47] pyfisch opened #19650 "Implement background-attachment: local"
https://drafts.csswg.org/css-backgrounds-3/#valdef-background-attachment-local

[2017-12-27 23:37] Xanewok commented on #5014
@jdm since `TypedArray` currently [internally holds a root guard](https://github.com/servo/rust-mozjs/blob/72d8dec5891199d3dcb20baa5d0672134eae555a/src/typedarray.rs#L69), is it necessary to also track it via CustomAutoRooter?

Would the changes needed to resolve this issue limit to generating the bindings using the already-existing rust-mozjs' `TypedArray` inside `type.isSpiderMonkeyInterface()`

[2017-12-27 23:42] atouchet commented on #19605
@mrobinson here is the unreduced HTML from that post. I have confirmed that it exhibits the issue in my setup.

[code]

[2017-12-28 03:13] CYBAI commented on #19421
@pyfisch Maybe you should ask `@highfive` to assign this ticket to you 😆

[2017-12-28 09:19] pyfisch commented on #19421
@highfive assign me

The bots could really communicate better. :stuck_out_tongue_closed_eyes:

[2017-12-28 09:19] highfive commented on #19421
Hey @pyfisch! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-12-28 11:22] Xanewok commented on #9759
It seems that object types are generated in unions now. Currently for
[code]
we generate
[code]
however the FromJSValConvertible implementation for object is empty
[code]

[2017-12-28 13:17] Xanewok commented on #14019
Specific case of #17011.

[2017-12-28 13:19] Xanewok commented on #9759
Bad object conversion in unions is already tracked in #17011.
@jdm should this issue be closed then?

[2017-12-28 18:02] jdm commented on #19624
That is the idea, but it is not yet a supported or recommended command to run outside of our automated build infrastructure.

[2017-12-28 18:09] jdm commented on #19648
Probably same problem as #19287 and #17176.

[2017-12-28 18:11] jdm commented on #9759
It seems so!

[2017-12-28 18:11] #9759 closed

[2017-12-28 18:14] mrobinson commented on #19605
Bizarrely I cannot reproduce this with an up-to-date pull of Servo. Could it be that this failure is specific to Mac builds? I'll try on a Mac as soon as I can.

[2017-12-28 18:27] atouchet commented on #19605
I am using Windows 10 so it is not a macOS only issue.

[2017-12-28 18:40] mrobinson commented on #19605
Okay. I think I can reproduce this issue when the `--pref dom.mozbrowser.enabled` flag is included among the Servo command-line arguments.

[2017-12-28 21:57] jdm commented on #5014
Yes, those codegen changes to use [these types](https://github.com/servo/rust-mozjs/blob/101c6b6b58e0b7c5ed1ef2b6b676a7497f90df2f/src/typedarray.rs#L300-L320) would be enough to resolve this issue. Alternatively, it may make sense to modify the TypedArray implementation to use the CustomAutoRooter infrastructure (rather than a separate macro, for example) which may make the code generation changes

[2017-12-29 10:02] sagudev opened #19653 "acid3"
http://acid3.acidtests.org/

Found an unpaired surrogate in a DOM string. If you see this in real web content, please comment on https://github.com/servo/servo/issues/6564 Use `-Z replace-surrogates` on the command line to make this non-fatal.
### URL:

### Servo Version:
Servo 0.0.1-97bba5f
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-29 11:56] emilio commented on #19653
Yup, acid3 is the page known to test this explicitly, so let's close this in favor of the discussion in #6564. Thanks for the report!

[2017-12-29 11:56] #19653 closed

[2017-12-29 14:00] #19645 closed

[2017-12-29 19:55] pyfisch commented on #19649
I have implemented it for for background colors.

[2017-12-30 01:20] stevel98 commented on #19015
@emilio Hi, could you point me to an easy one too?

[2017-12-30 10:53] emilio commented on #19021
@mauricioc any progress here? Let us know if we should unassign the issue. Thanks!

[2017-12-30 10:55] emilio opened #19656 "Move `contain` outside of mako."
See  #19015.

[2017-12-30 10:57] emilio commented on #19015
Hi @stevel98, do you think you want to try #19656? I think it shouldn't be hard. I've tentatively assigned it to you. Ask any questions you may have over there :).

Thank you!

[2017-12-30 10:58] emilio commented on #19656
Tentatively assigning it to @stevel98 :)

[2017-12-30 11:23] stevel98 commented on #19015
@emilio Sure, I'll look into it. :)

[2017-12-30 11:53] mrobinson commented on #19605
Odd. I confirmed that 4d8660c91819fc13deafc7561432bceb41c4ad2f, which is the commit before the WebRender upgrade still has this issue for me. I would like to make sure we are looking at the same problem though. Is the behavior you are seeing that the cursor changes to the hand when the link is hovered, but a click doesn't actually do a navigation? If so, I think we are seeing the same issue. If th

[2017-12-30 13:52] tigercosmos opened #19657 "[Wiki: Browser-Engine-Research] link Failure"
https://github.com/servo/servo/wiki/Browser-Engine-Research
some links are failed.

- Who killed my battery?: Analyzing Mobile Browser Energy Consumption
- Measuring Browser Performance
- Browsing web 3.0 in 3.0 watts

I didn't check all.

cc @rzambre

[2017-12-30 13:59] tigercosmos commented on #19657
May I have the authority to edit wiki to fix them?

[2017-12-30 14:25] CYBAI commented on #19657
For the third one, I only found its [abstraction](http://people.csail.mit.edu/rabbah/conferences/08/cgo/stmcs/keynote-abstract-bodik.txt).

[2017-12-30 14:29] mauricioc commented on #19021
Sorry, this totally fell off my radar, I'll get back to it now. Feel free to unassign me if this isn't done by Monday :)

[2017-12-30 14:39] CYBAI opened #19658 "Move display outside of mako."
I'll take this one as a sub-issue of #19015

[2017-12-30 14:51] jdm commented on #19605
When I was finding the regression range, I didn't even try clicking - I only looked for the cursor turning into a hand icon on the leftmost boxes.

[2017-12-30 16:46] atouchet commented on #19605
@mrobinson the cursor doesn't change for me so we may be looking at different issues. Also I have noticed that the hand behaviour is actually somewhat different depending on the page. On the Browser.html start screen it does not change to the hand at all on the leftmost side of the page but on the github.com homepage it will change to the hand whenever the cursor is moved to the header menu area (

[2017-12-31 02:26] stevel98 commented on #19656
Hi,
I'm still new to rust, and I'm puzzled over the purpose of the `computed_value` module under the `contains` longhand in `box.mako.rs`.
[code]

I only see it used in:
[code]

But wouldn't this be the same as:
[code]

[2017-12-31 06:37] CYBAI commented on #19656
@stevel98

This block means you can just implement the `Contain` type inside `specified` module; then, due to same for both `specified` and `computed`, you can just export (`pub use`) the `specified` type in `computed` module. You can check [this PR](https://github.com/servo/servo/pull/19583/files). I think they're not same but similar.

[code]

For this block, yeah, you can use `Self::empty()`.

[2017-12-31 08:11] emilio commented on #19656
Yes, but in this case, since the types are the same, it's completely redundant to use `computed_value::T` instead of `Self`. This is the kind of stuff we're trying to remove :)

[2017-12-31 14:14] rzambre commented on #19657
I have updated the broken links on the wiki page. Unfortunately, some of the documents seem to have been taken down by the authors/organizations. Or at least, I haven't been able to find them. In the list, I have annotated the documents that no longer exist. If you happen to find them, please let me know here and I will update the list.

[2017-12-31 14:14] #19657 closed

[2017-12-31 19:12] stevel98 commented on #19656
Thanks! I'll try to remove it then.

[2018-01-01 17:03] #18435 closed

[2018-01-01 18:38] pyfisch opened #19669 "Correct background-attachment: fixed"
Element backgrounds with `background-attachment: fixed` should not be scrolled with the window contents. They should stay attached to the viewport all the time.

Testing this:

1. Go to https://staktrace.github.io/moz-pages/bug/1368496/
2. In the upper left corner a quadratic image should be shown.
3. Scroll a bit. The square should not move.
4. Scroll to the end of the page. The whole page should

[2018-01-01 18:42] emilio opened #19670 "Be consistent about where ToComputedValue implementations live."
Right now:

[code]

So that's... not very consistent.

[2018-01-01 18:51] emilio commented on #19670
We should decide whether they should live in `computed` or `specified`. I don't have a particularly strong preference, and the only argument I've heard (from @mauricioc and @nox IIRC) is that ideally `specified` modules shouldn't depend on `computed` ones, and making complex cases depend on that makes the code intrincate.

I think that's a valid point, so lacking other arguments I'd be fine moving

[2018-01-01 19:02] mauricioc opened #19671 "Move -moz-border-*-colors outside of mako."
I'd like to take this one after #19021, since it's in the same file. Part of #19015.

[2018-01-01 19:08] pyfisch opened #19672 "Only Build Display Items for Background if Really Necessary"
There are at least two cases where Display Items for backgrounds are emitted when they are not needed for rendering:

1. Lower background layer is completely covered by opaque upper layer.
2. A background image or gradient where at least one size is equal zero.

I am not sure what the performance impact of both optimizations would be. While it is very common that a gradient and a solid fallback co

[2018-01-01 19:18] #19658 closed

[2018-01-01 22:36] mauricioc commented on #19021
Closing (see last comment of PR #19668).

[2018-01-01 22:49] atouchet commented on #19021
This issue can stay open until that PR is merged.

[2018-01-01 22:57] mauricioc commented on #19021
Typically yes, but there's issue #19142 already :)

[2018-01-01 22:57] #19021 closed

[2018-01-02 14:53] CYBAI commented on #19670
IMO, I'll vote for `impl ToComputedValue` inside `specified` modules because I think it's reasonable to make `associated types` of `impl ToComputedValue` with its `computed` module.
We can see that we'd like to implement `ToComputedValue` trait and make its associated type with its own `computed` module.

I'm also fine for moving all of them in `specified` modules but just share my opinion.

[2018-01-02 14:55] nox commented on #19670
IIRC, I prefer to put them in `specified`, but I don't remember it well and I'm still on holidays. We can discuss about that next Monday.

[2018-01-02 16:00] #16657 closed

[2018-01-02 16:00] #19626 closed

[2018-01-02 16:00] #19482 closed

[2018-01-02 16:00] #19577 closed

[2018-01-02 16:06] est31 commented on #19482
@pyfisch thank you for fixing this! :heart:

[2018-01-02 16:08] pyfisch commented on #19482
Gradients are now displayed outside the circles but this is tracked in #19649. (And should not take too long.)

[2018-01-02 22:00] pyfisch opened #19676 "Directly build WebRender display lists"
The [*webrender_helpers.rs* file](https://github.com/servo/servo/blob/9187c9a093860d9f3c31b5a5f402458aa4a607cb/components/layout/webrender_helpers.rs#L5-L8)
starts with this comment:

Currently two display lists are build in Servo.
First an internal one using GFX and app units is build.
Then another one using WebRender and screen pixels is derived from the internal one.
The internal display list i

[2018-01-02 22:02] glennw commented on #19676
cc @mrobinson for comments.

[2018-01-03 02:58] paulrouget opened #19679 "Do not run embedding code in the same thread as the compositor code"
GL operations need to run in the main thread on Desktop, and on a the GL thread on mobile.

If i'm not mistaken, as of today, the GL code runs in the thread used to start Servo. In other words, the embedding glue code runs in the compositor thread.

This means, for example on Android, that any communication with Servo (even non-compositor related operations, like navigating the history) need to ha

[2018-01-03 03:07] paulrouget commented on #19501
These are minimal shells around Servo. We use Glutin. I don't believe we need a specific GTK port.

Eventually, we'd like to have more advanced ports, with tabs support and a proper UI. We are _considering_ [ServoShell](https://github.com/paulrouget/servoshell/) as a candidate for Servo Nightly builds (to replace browserhtml), and in this case, your GTK port would be very much interesting. And lik

[2018-01-03 03:12] paulrouget commented on #19479
This is what I did on Android.

Do not use Glutin. I'm not sure how to create your own GL buffer on Linux, but once you managed to do it, maybe use `gl_generator` to create the bindings necessary for Servo.

Let me know if I can help.

[2018-01-03 04:31] atouchet opened #19680 "Browser.html tile corners no longer rendered correctly"
![Tiles](https://i.imgur.com/u7pCZT6.png)

The rounded corners are now no longer clipped and instead the tiles are rendered as full rectangles. This is a recent regression as previous builds did not exhibit this issue. Tested in Windows 10.

[2018-01-03 04:33] atouchet commented on #19680
@pyfisch is this due to #19649?

[2018-01-03 08:05] mrobinson commented on #19676
This sounds like a good plan to me. I think the main barrier to the last step is https://github.com/servo/webrender/issues/2227. We need to allow holding onto unserialized WebRender display lists due to the fact that we generate display list items and then, only later, sort them according to CSS stacking context rules.

[2018-01-03 08:16] pyfisch commented on #19680
Yes this is #19649.

[2018-01-03 11:15] Xanewok commented on #17011
From [recent conversation](https://mozilla.logbot.info/servo/20171228#c14058620) on IRC with @jdm:

This will probably require similar work as in https://github.com/servo/servo/pull/19644.

@jdm if in https://github.com/servo/servo/issues/16678#issuecomment-302224110 we can hold only raw gc pointers in sequence case, if the type is used with CustomAutoRooter, can't we store raw gc thing pointers i

[2018-01-03 18:01] #19566 closed

[2018-01-03 20:16] jdm commented on #17011
The answer is both yes and no. It would be safe to have code like:
[code]
if the value is always used inside `CustomAutoRooter<FooUnion>`.

Interestingly, adding `#[must_root]` would provide a false sense of security here, because if we stored the `FooUnion` value directly inside of a heap-allocated structure (for example, in a DOM object member) then we should be storing the JS values in `Heap<JS

[2018-01-03 21:04] jdm commented on #19567
This is still the case. After finding the pid of the FileStatsAgent process, I am running `lsof -p [pid]` on the machine and it's current progressing through /Users/administrator/Downloads/Xcode.app/Contents/Developer/Platforms/.

[2018-01-03 21:42] jdm commented on #19567
@edunham What is the purpose of the XCode.app and XCode-2.app bundles that exist in /Users/administrator/Downloads on all the mac machines? All of the suggestions for dealing with FileStatsAgent churning that I've found so far recommend deleting the files that it is focused on.

[2018-01-03 23:23] edunham commented on #19567
They are artifacts from the setup process -- when bootstrapping a new host, we download the files, then copy them to their installed locations, but we had not previously been explicitly removing the downloads. I've updated https://github.com/servo/servo/wiki/SaltStack-Administration to mention removing them and cleaned up the `.dmg` and `.app` stuff from the Downloads directories... The following

[2018-01-04 03:39] jdm commented on #19567
Thanks!

[2018-01-04 11:56] #19656 closed

[2018-01-04 13:01] sviter opened #19684 "Overflow query bails out of reflow and asserts"
assertion failed: self.reflow(ReflowGoal::NodeOverflowQuery(node), ReflowReason::Query)
### URL:
http://www.sciencedirect.com/science/article/pii/S0165027014001265
### Servo Version:
Servo 0.0.1-cdf7c0c
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2018-01-04 13:08] pyfisch opened #19685 "Closed issues in source code"
These issues are mentioned in the source code as FIXMEs/TODOs etc. but are currently closed.

* #228
* #2003
* #2012
* #2260
* #2261
* #2262
* #4283
* #4311
* #9604
* #12749
* #14213
* #15569
* servo/webrender#28

Search with `rg "\((.*?#\d+.*?)\)" -trust -r '$1' -o -N --no-filename`.

Probably either the comment is outdated or the issue should not be closed.

[2018-01-04 15:23] #19278 closed

[2018-01-04 15:37] jdm commented on #19684
[code]

[2018-01-04 15:39] jdm commented on #19684
This would be easiest to diagnose in rr.

[2018-01-04 16:23] jdm commented on #19495
Our builders have sccache 0.1.1-pre installed, but support for SCCACHE_IDLE_TIMEOUT was not introduced until 0.2.1-pre. This explains why we're still seeing the problem on our build machines. This makes https://github.com/servo/saltfs/issues/755 much more urgent.

[2018-01-04 16:42] jdm commented on #14627
#19067 was an in-progress effort to support some of the OffscreenCanvas APIs.

[2018-01-04 16:42] #19037 closed

[2018-01-04 17:57] jdm commented on #19567
This has not helped the compile times, unfortunately. The fact that kernel_task is constantly using >60% CPU makes me fear that the machine's hardware is faulty, since that task is designed to regulate CPU usage when the internal temperature is reaching unsafe levels according to [this post](https://discussions.apple.com/message/30723472#message30723472).

[2018-01-04 17:59] jdm commented on #19567
I'm going to trigger the graceful shutdown operation to take the machine out of the pool of build machines, since it's significantly increasing the duration of our complete builds.

[2018-01-04 23:13] jdm opened #19695 "Intermittent failure in /fetch/http-cache/invalidate.html"
[code]

[2018-01-05 03:11] atouchet commented on #19680
I didn't notice this previously but the tiles images aren't centred properly now either. Is that related or a separate issue?

[2018-01-05 05:35] CYBAI opened #19697 "Move -servo-display-for-hypothetical-box outside of mako."
I'll take this one as a sub-issue of #19015

[2018-01-05 07:09] pyfisch commented on #19680
@atouchet Thanks for catching it. That the tiles are not centered properly is caused by #19651. The `box-sizing: border-box` throws the calculations off.

[2018-01-05 09:32] paulrouget opened #19698 "(serde issue) Compilation error: failed to resolve. Could not find `Formatter` in `export`"
I'm having issue compiling Servo as a dependency (built with `cargo build`):

[code]

My `Cargo.toml` looks like this:

[code]

[2018-01-05 09:33] paulrouget commented on #19698
I get this warning:

[code]

[2018-01-05 09:42] SimonSapin commented on #19698
What’s `grep serde Cargo.lock`?

[2018-01-05 10:01] paulrouget commented on #19698
[code]

[2018-01-05 11:03] SimonSapin commented on #19698
`name = "serde"` appears twice. I think I hit the same in Servo… Try `cargo update -p serde --precise 1.0.23`?

[2018-01-05 11:06] SimonSapin commented on #19588
More breakage cause by this: https://github.com/servo/servo/issues/19698. Though I think part of the reason is that the fork’s version number is behind crates.io. Doing either of:

* Keep the fork up to date whenever upstream publishes a new version
* Or change the fork’s version number from 1.0.23 to something like 1.0.1023

might help. What do think @Gankro ?

[2018-01-05 11:07] SimonSapin commented on #19698
By the way this is another instance of https://github.com/servo/servo/issues/19588. Let’s keep this issue about finding a short-term work-around for your case.

[2018-01-05 11:24] emilio commented on #19697
This is great! Do you have any particular plan for it? My idea for this is getting rid of the custom_cascade stuff, and unify how it works with Gecko.

Gecko uses `mOriginalDisplay` for this, and sets that from `gecko.mako.rs`. I planned to unify it setting it in `StyleAdjuster::adjust`, something like:

[code]

And we can remove `set_adjusted_display`, since now it's just `set_display`, and remov

[2018-01-05 14:07] asajeffrey commented on #19631
[Back from winter break, catching up on backlog...]

@yati-sagade yes, I'd expect large timeout values only to be used for things like wpt testcases.

[2018-01-05 14:24] yati-sagade commented on #19631
I see, then probably the timeout can be bumped for particular tests using the pref `dom.worklet.timeout_ms`?

[2018-01-05 14:42] asajeffrey commented on #19631
Indeed.

[2018-01-05 15:15] CYBAI commented on #19697
@emilio No, I didn't have my own plan. However, after you mentioned, I searched `custom_cascade` in Servo. Then, I found it's only used for `-servo-text-decorations-in-effect` and `-servo-display-for-hypothetical-box`. I'm willing to help to get rid of it and make it unify with Gecko.

So, after removing all `set_adjusted_display` methods and setting `display` inside `StyleAdjuster::adjust`, then

[2018-01-05 16:08] Gankro commented on #19588
You can remove the fork in the next webrender update, it’s been upstreamed. Webrender still forks serde_derive but it’s for a transparent optimization, failing to include it just means you’re a bit slower.

[2018-01-05 16:20] jdm commented on #19588
The fork was indeed removed in https://github.com/servo/servo/pull/19614.

[2018-01-05 16:20] #19588 closed

[2018-01-05 16:20] jdm commented on #19698
This should be fixed by updating to master.

[2018-01-05 16:20] #19698 closed

[2018-01-05 17:37] yati-sagade commented on #19631
@asajeffrey  that seems to work ^^

[2018-01-05 17:39] jdm opened #19703 "Verify that all values in include.ini represent real directories"
`tests/wpt/include.ini` is a list of subdirectories of `tests/wpt/web-platform-tests.` For every entry, we should be able to verify that an actual directory exists with the same name, and report an error as part of `./mach test-tidy` otherwise.

Code: https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py (add a new check that is invoked from [scan](https://github.com/servo/serv

[2018-01-05 17:39] highfive commented on #19703
cc @wafflespeanut

[2018-01-05 17:39] highfive commented on #19703
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-05 19:01] #19631 closed

[2018-01-05 20:21] o0Ignition0o commented on #19505
This one looks very interesting, could I please pick it? I think I can start working on it next week :)

[2018-01-05 21:08] #16678 closed

[2018-01-05 21:24] jdm commented on #19505
That would be great!

[2018-01-05 22:47] stevel98 commented on #19703
@highfive: assign me

[2018-01-05 22:47] highfive commented on #19703
Hey @stevel98! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-06 03:58] atouchet opened #19705 "Part of web page appears blank after scrolling"
Image of issue occurring on GitHub:

![Tiles](https://i.imgur.com/WB5mlBp.png)

When scrolling down and up the page parts of it will appear blank. This sometimes only happens momentarily and other times it stays that way until scrolling further. I have been able to reproduce this behaviour on GitHub and Hacker News but presumably it affects other sites as well. This is a new regression as this iss

[2018-01-06 11:53] luoiefly opened #19706 "slow when open web page"
MAC OS: open web page on www.sina.com.cn , it is very slow.

[2018-01-06 13:00] NiLSPACE opened #19707 "CSS on https://tweakers.net is messed up"
When going to https://tweakers.net (and agreeing to the cookies by pressing the blue button) the website looks completely off:
![image](https://user-images.githubusercontent.com/1160867/34639932-79d50770-f2e9-11e7-9815-d288eb77b761.png)

While it's meant to look like

![image](https://user-images.githubusercontent.com/1160867/34639939-9a90fbb8-f2e9-11e7-9e3e-b39be191af72.png)

[2018-01-06 13:30] pyfisch commented on #19707
How does the Website look before you press the button? For me the website is rendered correctly but I can't press the button nor scoll or do anything.

[2018-01-06 13:37] NiLSPACE commented on #19707
When the cookie message is shown the background is just an image.

[2018-01-06 13:50] NiLSPACE commented on #19707
I did notice difficulties to interact with the website [before](https://github.com/servo/servo/issues/17088), I don't have that problem anymore.

[2018-01-06 13:52] NiLSPACE commented on #19707
When running Servo on my discrete GPU I get this spammed in console:
[code]

[2018-01-06 13:59] pyfisch opened #19708 "2018 Roadmap?"
The old 2017 roadmap is still linked from https://servo.org.

https://github.com/servo/servo/wiki/Roadmap

[2018-01-06 15:16] LifeIsStrange commented on #19708
What about an Android client ?
Currently from my understanding, servo mostly support Android but we can't use it because there is no UI.

[2018-01-06 17:07] tigercosmos commented on #19708
A new repo that does a simple UI with servo sounds good.

[2018-01-06 17:13] tigercosmos commented on #19706
probably caused by net. net component is still simple.
or maybe caused by binding js.

there is error as well:
[code]

[2018-01-06 17:22] tigercosmos commented on #19707
after click button:
[code]

[2018-01-06 17:33] NiLSPACE commented on #19707
I've had that happen once, but I couldn't reproduce it again.

[2018-01-06 20:15] mayfield commented on #14203
This affects Fedora platforms too (F27 at least).  Static linking these libs in the nightly would suffice for my needs.

[2018-01-06 20:30] LifeIsStrange commented on #19708
@tigercosmos There were this project but it seems dead https://github.com/servo/servo/issues/15776
I Also believe that @MortimerGoro has an early android browser for doing his WebVR demos :)
https://blog.mozvr.com/samsung-gear-vr-support-lands-in-servo/

[2018-01-06 21:26] pyfisch commented on #1522
This issue is referenced from [domimplementation.rs](https://github.com/pyfisch/servo/blob/root-background/components/script/dom/domimplementation.rs#L117) two times as a FIXME.

[2018-01-07 05:09] abhinav-koppula opened #19710 "Servo build failing on Linux Ubuntu 14.04"
Hi Folks,
I am trying to build servo using the command ./mach build --dev
but the build is failing with the below exception. Can someone help me here?

Exception stacktrace:
[code]

[2018-01-07 09:59] SimonSapin commented on #19710
This seems to be the relevant error message.
[code]

Given you’re on 14.04, I assume that the libclang version is too old. @emilio, what’s the minimum?

[2018-01-07 10:29] tigercosmos commented on #19710
It's caused by `clang`, trying update to the latest version.

[2018-01-07 11:25] tigercosmos commented on #19608
@metux Did you solve the issue?

[2018-01-07 12:14] emilio commented on #19710
For c++, the minimum libclang version supported should be 3.8.

[2018-01-07 12:24] #19587 closed

[2018-01-07 12:24] #19603 closed

[2018-01-07 13:10] tigercosmos opened #19712 "auto clean cargo cache"
It's mentioned in servo/saltfs#321, but it should be implemented here.

I am going to do this.

[2018-01-07 13:13] tigercosmos commented on #19712
#16487

[2018-01-07 13:22] abhinav-koppula commented on #19710
Thanks for replying people.
I followed the below link to install clang-3.8.
https://askubuntu.com/questions/735201/installing-clang-3-8-on-ubuntu-14-04-3
then ran
[code]
Output as follows:
[code]

Next ran ./mach build --dev

[code]

Still fails with same error, any suggestions?

[2018-01-07 14:14] emilio commented on #19710
Note that clang is not the same as `libclang`. You should be able to point `LIBCLANG_PATH` to wherever the `libclang.so` file lives.

[2018-01-07 15:29] pyfisch commented on #19421
@highfive unassign me

This turned out to be much more difficult than expected. My previous (failed) attempt can be seen at #19704. It contains useful test-cases.

[2018-01-07 17:52] abhinav-koppula commented on #19710
Ok, I installed libclang and the build moved ahead but this time gave a different error.
Excerpts of the error:
[code]

[2018-01-07 23:14] KiChjang commented on #15569
Turns out this actually isn't fixed by #15903 yet, we need to upgrade our hyper to at least version 0.11 before we can fix this.

[2018-01-07 23:17] KwanEsq opened #19717 "<textarea> placeholder doesn't line break on explicit U+000D CARRIAGE RETURN (CR)"
(Unless they're raw carriage returns in the file source, in which case they (I think) get converted during parsing)

Test case: http://kwan.perix.co.uk/mozilla/ta-ph-cr.html
![screenshot from 2018-01-07 22-47-22](https://user-images.githubusercontent.com/1735753/34655362-0508bfb4-f400-11e7-8770-4d3bcdef28c3.png)

Multiline CR in actual content was also unsupported until #19358

Spec:

https://html

[2018-01-08 03:32] paulrouget opened #19718 "overscroll code doesn't work properly anymore"
/cc @glennw

If window::window_rect() returns `TypedRect::new(TypedPoint2D::new(0, 50), size)`, the page size is correct, but its position is wrong (not shifted down to 50px).

Here is a screenshot:

<img width="890" alt="screen shot 2018-01-08 at 04 31 29" src="https://user-images.githubusercontent.com/373579/34658156-d2952d1a-f42c-11e7-94fb-b252af8a7db2.png">

The whole page should be shifted do

[2018-01-08 03:38] paulrouget opened #19719 "Compilation issue: The style crate does not support enabling both its 'servo' or 'gecko' feature flags at the same time."
[code]

[2018-01-08 03:38] paulrouget commented on #19719
Sorry. Just realized I'm not compiling with `./mach`.

[2018-01-08 03:38] #19719 closed

[2018-01-08 05:43] aneeshusa commented on #19708
cc @metajack
An updated roadmap would be appreciated :)

[2018-01-08 06:16] paulrouget commented on #13993
Need #19679

[2018-01-08 08:53] paulrouget commented on #19718
STR:

Change this in /ports/:

[code]

Load this page:

[code]

Good:

<img width="483" alt="screen shot 2018-01-08 at 09 52 19" src="https://user-images.githubusercontent.com/373579/34663937-a57221e4-f459-11e7-91d1-72f7b2a37b02.png">

Bad:

<img width="368" alt="screen shot 2018-01-08 at 09 44 38" src="https://user-images.githubusercontent.com/373579/34663944-a87dc2bc-f459-11e7-8979-807d8a5baf0f.

[2018-01-08 08:54] paulrouget commented on #19718
Bisecting tells me the https://github.com/servo/servo/commit/cdc163533c23e40a5faef75088fc7a0381f6dc75 is the issue.

[2018-01-08 08:55] paulrouget commented on #19718
@mrobinson / @glennw does that help or do you also need me to bisect the webrender changes?

[2018-01-08 09:22] paulrouget commented on #19718
Let me describe a bit more what the expected behavior is.

I'm not sure why we call that `overscroll` as it's not directly related to scrolling. We want to be able to draw outside of the DOM window:

The HTML page is usually clipped by the DOM window dimension (x:0;y:0 is the CSS top left corner of the page, but also where the page is clipped). But we might want to draw the HTML content outside of

[2018-01-08 09:23] paulrouget commented on #19679
The goal here would be to let the embedder starts the libservo::Servo in an any thread.

The libservo code will need to know in which thread to start compositor code. So the emebdder needs to provide a way to run code in the desired thread.

Maybe just providing a callback `run_in_gl_thread` might do it.

[2018-01-08 15:04] asajeffrey commented on #1522
@pyfisch oh good point. I'll file an E-easy to remove those comments.

[2018-01-08 15:12] asajeffrey opened #19723 "Remove out-of-date FIXME comments from domimplementation.rs"
There are two FIXME comments in domimplementation.rs: https://github.com/servo/servo/blob/02f1864770c108a47b3c83c3d89293222cb6dfcf/components/script/dom/domimplementation.rs#L117 and https://github.com/servo/servo/blob/02f1864770c108a47b3c83c3d89293222cb6dfcf/components/script/dom/domimplementation.rs#L186 which refer to a closed issue #1522.

Both of these FIXME comments should be replaced by "Th

[2018-01-08 15:12] highfive commented on #19723
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-08 15:23] tigercosmos commented on #19685
#15569 is opened again.

[2018-01-08 15:24] tigercosmos commented on #15569
Could we upgrade hyper now? Or something block?

[2018-01-08 17:18] jdm commented on #15569
We are using the last version of hyper that did not include the async I/O API changes. We want to upgrade to the version that uses async I/O, but it's more work than previous hyper upgrades.

[2018-01-08 17:24] highfive commented on #19712
cc @aneeshusa

[2018-01-08 17:26] jdm commented on #19710
You need to install the libbz2-dev package.

[2018-01-08 17:58] abhinav-koppula commented on #19710
Yay, it worked. Thanks a lot.
@jdm - So on launching servo using  `./mach run https://www.mozilla.org`, I am not able to completely scroll to the bottom of the page, it just gets stuck after scrolling a small amount.
Is this because this is still under development or is it something to do with my system?

[2018-01-08 18:12] jdm commented on #19710
I would expect that it's a general bug in servo, rather than specific to your system.

[2018-01-08 18:44] SimonSapin commented on #19519
I’ve managed to reproduce on my desktop machine. With nightly-2018-01-04 (#19683), in release mode with debug symbols enabled, gdb says that the stack at SIGSEGV as below.

This is on Ubuntu 17.10 with a `Intel HD Graphics 630 (Kaby Lake GT2)` GPU. The stack is the same (mentioning `glutin::api::x11`) whether I run a "GNOME" session (which I believe uses Wayland) or "GNOME on Xorg".

[code]

[2018-01-08 19:24] #19710 closed

[2018-01-08 19:34] SimonSapin commented on #19519
With some whitespace added, the function for the `#1` frame is:

[code]

Since the `#0` frame is 0x0000000000000000, it looks like we’re calling a null pointer as a function pointer, so it’s probably `self.SwapIntervalEXT.f` that’s null. However this `SwapIntervalEXT` field has type `FnPtr` and is created as below, so it looks like the `f` pointer should never be null.

[code]

After some gdb wran

[2018-01-08 20:11] SimonSapin commented on #19519
@eddyb Any idea how your memory layout changes in https://github.com/rust-lang/rust/pull/45225 could cause `FnPtr::f` to become NULL in the code quoted above?

[2018-01-08 22:16] hindenbug commented on #19723
@highfive: assign me

[2018-01-08 22:16] highfive commented on #19723
Hey @hindenbug! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-09 05:08] #19723 closed

[2018-01-09 05:32] eddyb commented on #19519
@SimonSapin From what I've seen in the past, there's potentially some layout optimization going on "around" the struct in question, i.e. a type containing `FnPtr`.

Another possibility is the signature of `FnPtr`, at the LLVM IR level - it could have some accidental attributes that shouldn't be there.

[2018-01-09 05:52] stevel98 commented on #19703
Also, to parse `include.ini` I'm thinking of using `py.iniconfig`. However, I'm having trouble importing this because it lives in `servo/tests/wpt/web-platform-tests/tools`, which I can't import in `__init__.py` because of the hyphens in the path.

[2018-01-09 06:51] atouchet opened #19726 "rust-lang.org redirect issue"
URL: https://www.rust-lang.org/

Steps to reproduce:

1. Launch Servo with Browser.html.
2. Click Rust tile.
3. Click the "Click here to be redirected" link.
4. Instead of loading the Rust website Servo is instead redirected to the Browser.html start screen.

Tested in Windows 10.

[2018-01-09 07:24] CYBAI commented on #19726
I can reproduce it on macOS Sierra 10.12.6.

[2018-01-09 08:43] SimonSapin commented on #19519
This `FnPtr` value is in a `Glx` struct :

[code]

At one point that struct cloned out of an `Option<_>`, passed by value as a parameter, and kept as a field of a larger struct before being used.

The IR contains

[code]

and later

[code]

[2018-01-09 08:45] eddyb commented on #19519
@SimonSapin Sorry, I meant to write `FnPtr::new`, not sure how I messed that up. But also, it being wrapped in `Option` is very significant and likely the cause of the problem *even though* the niche would be the `bool`, not a raw pointer.

[2018-01-09 08:49] SimonSapin commented on #19519
[code]

[2018-01-09 08:51] SimonSapin commented on #19519
We’re interested in `glutin::api::x11::ffi::glx::FnPtr`, not the `egl` one. Though it’s the same code generated multiple time, maybe the compiler deduplicates it?

[2018-01-09 08:53] eddyb commented on #19519
Well, that IR looks just fine to me, so it's probably some outer/earlier code to the point where it becomes NULL. What happens if you replace the `bool` with an `u8` you encode `false` and `true` manually into?

[2018-01-09 09:01] SimonSapin commented on #19519
I’ll try patching the build-dependency crate that generates this code to do that. Won’t there still be a niche in the padding (one pointer + one byte rounded up to two words) that `Option` could use, though?

[2018-01-09 09:03] eddyb commented on #19519
@SimonSapin Using padding for niches is not necessarily cheaper because now *all padding everywhere* must be always initialized (similar problem with `Option<Option<(Box<T>, Box<U>)>>`).

[2018-01-09 09:51] SimonSapin commented on #19519
Ok, I see (re padding).

Changing the `bool` field to `u8` does not seem to change anything. The stack at segfault in gdb is the same.

[2018-01-09 09:53] nox commented on #19695
Any way we could get the Python stacktrace somehow? `http-cache.py` does not explicitly return a 500 error ever from that particular test, AFAICT.

[2018-01-09 09:55] nox commented on #19717
@jdm Could we have a wptup to reuse https://github.com/w3c/web-platform-tests/commit/a13e919f2c3c62cc87eb3fb4b9e139d8dec3a588?

[2018-01-09 12:28] SimonSapin commented on #19519
Partly-minimized test case:

[code]

[2018-01-09 13:44] SimonSapin commented on #19519
The segfault disappears if I add `#[inline(never)]` to `FnPtr::new`.

[2018-01-09 13:45] SimonSapin commented on #19519
Or if I make the `glutin::api` module public (???)

[2018-01-09 13:51] jdm commented on #19703
_mozilla is a special case that maps to tests/wpt/mozilla/tests/mozilla. The trick to importing that module is to add tests/wpt/web-platform-tests/tools to the import path; there are several other scripts that do that, possibly in tests/wpt/run_wpt.py?

[2018-01-09 13:55] jdm commented on #19695
If we're lucky it might be in the log for that build. I guess the easy way to check is to raise an exception in that file and run it locally to see.

[2018-01-09 15:59] jonathandturner commented on #19519
Pinging @aturon so that it's on the Rust team's radar.

[2018-01-09 19:11] NLincoln commented on #19172
I've started working on basic support for `type=number`. I have all of the pre-existing tests passing, just need to update the test manifest (I might be asking about that on IRC tonight actually... there were some errors when I ran it this morning). Once that's done I'll open a PR.

My code is [here](https://github.com/servo/servo/compare/master...NLincoln:19172-number-input-type-validations). I u

[2018-01-09 19:25] jdm opened #19729 "Intermittent pass in /html/browsers/the-window-object/window-properties.html"
[code]

[2018-01-09 19:30] tigercosmos commented on #19172
@NLincoln this issue doesn't need to handle min, max, or step. I think you can open PR and that would be easier to discuss about the code.

[2018-01-09 19:38] NLincoln commented on #19172
:+1: I just opened one.

[2018-01-09 19:43] jdm commented on #19033
I suspect this occurs during shutdown when there is a layout in process. The pipeline is closed, but the constellation does not wait for any notification that the close message has been received, and goes ahead and closes the font cache thread. When the ongoing layout tries to communicate with the font cache thread, we panic.

[2018-01-09 19:44] jdm commented on #19033
The other possibility is that this is yet another instance of the underlying problem behind #13480.

[2018-01-09 19:45] jdm opened #19731 "Intermittent pass in /css/CSS2/visudet/line-height-204.html"
[code]

[2018-01-10 03:33] atouchet commented on #19726
This now appears to be working properly in the latest nightly build.

[2018-01-10 03:33] #19726 closed

[2018-01-10 03:35] atouchet commented on #19605
This appears to be fixed now.

[2018-01-10 03:35] #19605 closed

[2018-01-10 04:24] kanaka commented on #18606
I tested this in 5f4f355 (Dec 9, 2017) and the problem still exists.

[2018-01-10 05:40] kanaka commented on #18606
I just built e5a0bb9b4d26156ee675c33968007c7d0d54fd3b (Jan 9, 2018) and the problem appears to have gotten worse because it now stops rendering on the third attempt.

In fact, I just discovered by accident that even if the web server is not running, I'll will get two white error pages with "Could not load the requested page: connection refused" and the third will just be an empty white error page.

[2018-01-10 05:48] glennw commented on #18606
Any ideas @jgraham @jdm ?

[2018-01-10 05:49] glennw commented on #18606
And @asajeffrey

[2018-01-10 05:57] kanaka commented on #18606
As another data-point, if I run (still e5a0bb9) without headless
[code]

and then do the same test above, it render only the background on the second load and on the third load servo panics. Not sure if it's useful or even related to the original issue but here is the stack:

[code]

[2018-01-10 06:05] glennw commented on #18606
I'm not sure if that's related or not - it might be. It's a little hard to tell from that backtrace, but I suspect that might be a crash occurring inside the GPU driver, with all the ```<unknown>``` entries after ```draw_instanced_batch``` which is where WR calls into the GL driver to draw a batch of vertices.

[2018-01-10 08:45] tigercosmos commented on #19172
let me finish the last one `range type inputs`
@highfive: assign me

[2018-01-10 08:45] highfive commented on #19172
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-10 09:20] eddyb commented on #19519
This is https://github.com/brendanzab/gl-rs/issues/438, a library bug.

[2018-01-10 09:41] SimonSapin opened #19735 "Update to gl_generator 0.8.0"
It contains the fix for https://github.com/servo/servo/issues/19519. We need to update it in:

* [ ] gleam
* [ ] glx
* [x] offscreen_gl_context
* [ ] rust-webvr
* [ ] servo-glutin

[2018-01-10 09:42] SimonSapin commented on #19519
Thanks to eddyb’s pointed questions we found the root cause. TL;DR: it’s a bug in `gl_generator` that’s already fixed upstream, we need to update it in a few crates: https://github.com/servo/servo/issues/19735.

----

The function pointer that is incorrectly null comes it earlier returned by:

[code]
with
[code]

This type definition is incorrect because `fn()` pointer types can never be null in R

[2018-01-10 11:53] Eijebong commented on #19735
Copy/pasting the list since I can't edit it ;)

- [ ] https://github.com/servo/gleam/pull/138
- [ ] glx
- [ ] offscreen_gl_context
- [ ] rust-webvr
- [ ] servo-glutin

[2018-01-10 12:55] CYBAI opened #19736 "Move paint-order outside of mako."
I'll take this one as a sub-issue of #19015

[2018-01-10 15:58] #19736 closed

[2018-01-10 18:01] #19717 closed

[2018-01-10 19:05] #11361 closed

[2018-01-10 19:05] #18874 closed

[2018-01-10 19:05] #19365 closed

[2018-01-10 22:19] gootorov opened #19742 "style: Move -moz-context-properties outside of mako"
I'll take this one. Part of #19015.

[2018-01-10 22:47] #19519 closed

[2018-01-10 22:47] #19635 closed

[2018-01-10 22:47] #19637 closed

[2018-01-10 22:47] #19735 closed

[2018-01-11 05:01] atouchet commented on #17190
@glennw I've been taking a closer look at the Windows text rendering and I think there are still a few issues (and maybe a regression since my last post). However I'm not sure which of these are deliberate behaviours or not. Let me know if it would be better to open a WebRender issue report for any/all of these.

Here are a few comparison images from DuckDuckGo, GitHub, and Hacker News. The top ve

[2018-01-11 07:24] glennw commented on #17190
@atouchet Thanks for writing this up! I'll also CC @Gankro who works on text + WR + gecko - he may have some comments / thoughts on this too.

[2018-01-11 14:05] Gankro commented on #17190
It just looks like servo's bindings to webrender are messed up, and it has disabled subpixel-aa on all of it's text. No clue where (just woke up and downloaded the nightly build).

This isn't an issue that affects gecko.

[2018-01-11 14:22] CYBAI opened #19745 "Improve focusable area algorithm for element"
Spec: https://html.spec.whatwg.org/multipage/interaction.html#focusable-area

https://github.com/servo/servo/blob/1a4df8f87668d5f5f24f4faeca43fb592a8edfe0/components/script/dom/element.rs#L1086-L1105

In the current implementation, we only make `anchor`, `input`, `select` and `textarea` be `focusable`.
Thus, I think we can improve the algorithm of this method to be up-to-date with spec.

[2018-01-11 14:59] CYBAI opened #19746 "Implement inertness"
When implementing #19745, it will need to check if the element is not [expressly inert](https://html.spec.whatwg.org/multipage/interaction.html#expressly-inert).
Thus, we'll need to implement inertness.

Spec: https://html.spec.whatwg.org/multipage/interaction.html#inert

I think it will be related to [`node.rs`](https://github.com/servo/servo/blob/master/components/script/dom/node.rs)

[2018-01-12 15:23] streichgeorg commented on #19422
I'd like to take a shot at this then.

[2018-01-12 15:42] jdm commented on #19422
Please do!

[2018-01-12 16:05] mbrubeck commented on #6092
I don't know exactly where this is going wrong, but it's probably something like this:  In various places we need to translate logical sizes or coordinates from a parent box's coordinate system to a child's coordinate system, or vice-versa.  For example, if the parent is RTL but the child is LTR, then to determine the child's inline-start (left) position, we need to look at the parent's inline-end

[2018-01-12 19:39] streichgeorg commented on #19422
I opened a pull request for the gfx-metrics part. But style-gfx seems a lot harder because there is non zero amount of metaprogramming in the style crate and I would be really happy about some pointers what's going on there. gfx depends mainly on font_weight and some other font related structs, but I don't really get where they get declared at the moment.

[2018-01-12 21:09] jdm commented on #19422
The various mako.rs files under style/properties/ are Python Mako templates that generate Rust code. font_weight is defined in style/properties/longhand/font.mako.rs, and it invokes Python code from style/properties/helpers.mako.rs. However, it may be possible to modify the imports from gfx to directly import `style::values::computed::font::FontWeight`, for example. If that's the case, then it sho

[2018-01-12 23:55] #16710 closed

[2018-01-13 04:50] kanaka commented on #16134
I just built and tested e5a0bb9 and this appears to have resolved (at least on my Ubuntu 16.04 with Radeon HD 7770).

[2018-01-13 04:50] #16134 closed

[2018-01-13 16:20] tigercosmos commented on #19172
I have opened the last one PR in this issue.
Once #19761 finished, this will closed.

[2018-01-13 22:25] Max-E opened #19762 "building Servo exceeds ecryptfs's limits on file name length"
**Operating System**
This is 64-bit LInux Mint 18, corresponding to Ubuntu 16.04. It was set up with an encrypted home directory using ecryptfs. It's been a while since I set this OS up, but as I recall I just checked the checkbox to create an encrypted home partition and used the default configuration from the operating system installer.

**To Reproduce**
I installed rustup using the automatic sh

[2018-01-13 22:49] SimonSapin commented on #19762
The next compiler upgrade should pick up https://github.com/rust-lang/rust/issues/47186 and help with this. In the meantime, try running with a `CARGO_INCREMENTAL=0` environment variable or configuring `incremental = false` in `.servobuild` (copied from `servobuild.example`).

[2018-01-13 23:13] Max-E commented on #19762
Thanks for replying so promptly! Unfortunately, this workaround does not appear to have worked: https://pastebin.com/cFLnZW3P still failing on the constellation step.

[2018-01-14 00:44] SimonSapin commented on #19762
Ah, incremental became the default in Cargo, so merely not setting `CARGO_INCREMENTAL=1` is not enough anymore. https://github.com/servo/servo/pull/19763 should fix this. Try with that branch or with `CARGO_INCREMENTAL=0` on the command-line?

[2018-01-14 10:02] jonleighton opened #19765 "Move image-orientation outside of mako"
Sub-issue of #19015

[2018-01-14 10:03] jonleighton commented on #19015
I'll work on `image-orientation`: https://github.com/servo/servo/issues/19765

[2018-01-14 12:33] jonleighton commented on #19430
@emilio could I have a go at fixing this?

[2018-01-14 12:47] SimonSapin commented on #19762
#19764 has landed. Update from `master` and try again with incremental?

[2018-01-14 14:38] emilio commented on #19430
Sure, please do! Thanks!

[2018-01-14 14:54] emilio commented on #19430
And feel free to ask any questions here, happy to answer them :)

[2018-01-14 15:18] #19697 closed

[2018-01-14 16:19] SimonSapin commented on #15239
Is this the same issue?

https://github.com/servo/servo/pull/19763#issuecomment-357520700

[code]

[2018-01-14 17:22] CYBAI opened #19767 "Show paragraph incorrectly in learnyouahaskell"
URL: http://learnyouahaskell.com/making-our-own-types-and-typeclasses

The paragraph shouldn't overlap the image.

In Firefox Nightly:

![image](https://user-images.githubusercontent.com/6782666/34918688-b322fb96-f991-11e7-833c-213b1b6569b3.png)

In Servo (built with 1b46e2e759):

![image](https://user-images.githubusercontent.com/6782666/34918702-d5202c50-f991-11e7-8a19-3667a4c33cae.png)

Tested

[2018-01-14 19:31] Max-E commented on #19762
Yep. I ran `mach clean`, cleared the environment variable, deleted my .servobuild, updated from git, and now both the debug and release builds are working fine.

[2018-01-14 19:31] #19762 closed

[2018-01-15 00:29] #19765 closed

[2018-01-15 01:59] jdm commented on #15239
@SimonSapin No, that's #13480. What led you to suspect this issue?

[2018-01-15 02:06] emilio opened #19771 "Blockified inlines not rendered correctly."
Testcase:

[code]

Uncommenting the `display: block` declaration makes it work.

The reason because this fails is because, even though the CSS rules say the computed value of `display` is `block` in this case, we still create an inline, because of this bit of code:

https://github.com/servo/servo/blob/master/components/layout/construct.rs#L1488-L1492

That is completely wrong afaict, and we should

[2018-01-15 02:55] hsyan2008 commented on #14487
@Impally @jdm I have the same error on gentoo
error: failed to run custom build command for `mozjs_sys v0.50.0`
process didn't exit successfully: `/home/saxon/workspace/git/servo/target/release/build/mozjs_sys-9f6058514363d1bf/build-script-build` (exit code: 101)
...
...
thread 'main' panicked at 'assertion failed: result.success()', /home/saxon/.cargo/registry/src/github.com-1ecc6299db9ec823/mozj

[2018-01-15 03:18] jdm commented on #14487
@hsyan2008 Please use http://gist.github.com/ to paste the full log; those lines are not enough to determine the problem.

[2018-01-15 03:49] hsyan2008 commented on #14487
@jdm
error: failed to run custom build command for `mozjs_sys v0.50.0`
process didn't exit successfully: `/home/saxon/workspace/git/servo/target/release/build/mozjs_sys-9f6058514363d1bf/build-script-build` (exit code: 101)
--- stdout
[[ /home/saxon/.cargo/registry/src/github.com-1ecc6299db9ec823/mozjs_sys-0.50.0/mozjs/js/src/configure -ot /home/saxon/.cargo/registry/src/github.com-1ecc6299db9ec823

[2018-01-15 07:51] SimonSapin commented on #15239
I searched for "timeout" and "XMLHttpRequest".

[2018-01-15 09:07] tigercosmos opened #19773 "consider `min`, `max`, `step` for range type input element"
need consider `min`, `max`, `step` for range type input element, when they are implemented
this will continue #19761

see
- https://html.spec.whatwg.org/multipage/input.html#range-state-(type=range):value-sanitization-algorithm
-  https://html.spec.whatwg.org/multipage/#rules-for-parsing-floating-point-number-values

[2018-01-15 12:51] #19742 closed

[2018-01-15 12:59] jdm commented on #14487
Try running `export LANG=C` before building.

[2018-01-15 14:31] gootorov opened #19775 "style: Move cursor property from mako"
I'll be working on this one. Sub-issue of https://github.com/servo/servo/issues/19015.

[2018-01-15 17:45] ferjm opened #19776 "Passing a single string as a sequence<DOMString> generates a Vec<DOMString>"
With an interface like:

[code]

passing a single string like:

[code]

generates a `[DOMString("s"), DOMString("t"), DOMString("r"), DOMString("i"), DOMString("n"), DOMString("g")]`.

I believe this should throw a TypeError instead, like in https://github.com/w3c/web-platform-tests/blob/master/performance-timeline/po-observe.any.js#L12

[2018-01-15 19:53] SimonSapin commented on #19776
https://heycam.github.io/webidl/#es-sequence defines that a WebIDL `sequence<T>` is created from a JS object through its `@@iterator` method, which for strings iterate over the code points. So this behavior looks expected?

[2018-01-16 01:00] hsyan2008 commented on #14487
@jdm Working fine for me, thanks very much!

[2018-01-16 07:43] ferjm commented on #19776
I am not sure ... https://github.com/heycam/webidl/issues/266 Is DOMString a string wrapper?

[2018-01-16 10:43] CYBAI opened #19784 "Flexbox content shows incorrectly"
URL: http://flexboxfroggy.com/

The frogs are missing in servo.
Besides, the font seems wrong in servo as well.
Not sure if this one is related to #18837

In Firefox Nightly:
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/6782666/34984747-ea6664b0-faec-11e7-9c51-0e259c1c72b0.png">

In Servo (built with 7de87c487b):
<img width="1023" alt="image" src="https://user-image

[2018-01-16 11:27] jonleighton commented on #19430
@emilio Thanks. Would we expect there to be a WPT test somewhere which repros this? And if there isn't, should I write one? Or is there somewhere else we should be testing this?

[2018-01-16 13:19] emilio commented on #19430
I don't think there's any, so one should be written, yes.

[2018-01-16 13:20] emilio commented on #19430
The cool part is that fixing this properly will involve effectively being able to fix the `FIXME` comment in:

[code]

Which may make new tests pass.

[2018-01-16 19:15] mystor opened #19786 "Update style-derive to syn 0.12"
Potentially this could allow builds of servo on nightly to get the improved error messages and other semantics which come from the new span system and `proc-macro` APIs.

`synstructure` has been updated already, although the API has changed since the last version which style-derive used. If there are any APIs or new features which you need in `synstructure` to help port the derives over, let me kn

[2018-01-16 20:59] jdm commented on #19505
@o0Ignition0o Have you made any progress with this? If not, I would like to turn this into a project for some students this term.

[2018-01-16 21:11] o0Ignition0o commented on #19505
Hi @jdm :) I haven't made too much progress with this yet, so you can assign it to someone else if you want to. I'll pick up an other task

[2018-01-16 22:03] jdm commented on #19505
That's fine; you're welcome to keep working on it!

[2018-01-16 22:20] pcwalton commented on #14431
I would assume `--resolution` is in logical pixels.

[2018-01-16 22:20] pcwalton commented on #13932
Well, I'm almost certain it doesn't apply anymore.

[2018-01-16 22:37] glennw commented on #14431
Confusingly, I *think* that ```--resolution``` is interpreted as logical pixels on Mac, and device pixels on Linux :confused:

[2018-01-16 22:47] atouchet commented on #19505
@jdm are Windows builds available with this? I see every other platform on there aside from Windows. Having historical nightly builds would be useful for testing purposes.

[2018-01-16 23:05] KwanEsq opened #19788 "<tr> backgrounds aren't drawn correctly"
Other browsers seem to render `tr { background-color: black }` the same as  `tr > th, tr > td { background-color: black }`.  Servo does not. (Not sure where that's spec'ed, or even if it is)

Testcase: http://kwan.perix.co.uk/mozilla/tableRowBackgroundTest.html
(Correct rendering emulated on hover using cell backgrounds)

Servo rendering:
![screenshot from 2018-01-16 22-50-32](https://user-images.

[2018-01-16 23:06] jdm commented on #19505
Note my comment earlier with the prefix argument. If you specify the right prefix, they should appear.

[2018-01-16 23:13] atouchet commented on #19505
http://servo-builds.s3.amazonaws.com/?list-type=2&prefix=nightly/windows-msvc/ appears to work, thanks.

[2018-01-16 23:44] emilio commented on #19788
Thanks for the report @KwanEsq!

Testcase for posterity, with some superfluous tag removal:

[code]

[2018-01-17 01:21] atouchet commented on #17978
I bisected this latest regression and it first occurred in the 2017-09-15T01:23:23Z-Servo nightly build.

[2018-01-17 01:32] atouchet commented on #18860
I bisected this regression and it first occurred in the 2017-08-19 Servo nightly build.

[2018-01-17 05:49] atouchet commented on #18098
2017-08-16 was the first nightly build with this issue.

[2018-01-17 05:57] atouchet commented on #18294
2017-08-29 was the first nightly build with this issue.

[2018-01-17 06:01] atouchet commented on #19705
2018-01-06 is the first nightly build to exhibit this issue.

[2018-01-17 09:18] mrobinson commented on #19268
Here's a related cssom-view issue: https://github.com/w3c/csswg-drafts/issues/1526

[2018-01-17 09:23] tigercosmos commented on #19268
@highfive: unassigned me.
Cannot solve this in short term.

[2018-01-17 09:31] mrobinson commented on #19268
I wonder if it makes sense to back out the original PR for the moment, since it breaks scrolling from script?

[2018-01-17 10:57] tigercosmos commented on #19268
The origin PR did fix many tests. This is the only case that failed. Beside, this issue is caused by  #19280 more precisely.

[2018-01-17 11:03] tigercosmos commented on #19268
In fact, I think `padding`, `margin`, `overflow` all have some incomplete logic, and will cause scrolling wrong, too. I believe #19466, #19477 are related to this assuming.

[2018-01-17 11:23] mrobinson commented on #19268
@tigercosmos In that case, perhaps the best thing to do here is to remove the code for "Step 10" for SetScrollTop and SetScrollLeft in order to allow scrolling from script to work, but also continuing to have the tests pass. What do you think?

[2018-01-17 11:37] tigercosmos commented on #19268
Do you mean code in [`simple_scroll_to_fragment.html`](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/simple_scroll_to_fragment.html)?

In my opinion, "step 10" is followed by the SPEC to implement, and I thought this part is correct.
The key makes `SetScrollTop` wrong, which is in the test, is caused by `scrollHeight` getter, which influences "step 10".
So, removing th

[2018-01-17 11:44] mrobinson commented on #19268
@tigercosmos Another alternative is to remove all the new steps from SetScrollTop. In addition to the issue you mention, https://github.com/w3c/csswg-drafts/issues/1526 also causes scrolling from script to fail for nodes with overflow:scroll.

[2018-01-17 12:06] tigercosmos commented on #19268
@mrobinson I agree with you.
`overflow:scroll` might be a potential reason why this test failed, too.
So now we have more than one factors to influence this test.

Some work we need to do:
- fix `scrollHeight`, which is a part in `has_overflow()`
- fix `has_scrolling_box()` in step 10. Should consider not only `hidden` due to  w3c/csswg-drafts#1526

https://github.com/servo/servo/blob/7a8733723551

[2018-01-17 12:30] mrobinson commented on #19268
@tigercosmos Since you say it is going to take a while to fix the issue, I think it makes sense to remove the code now in order to ensure that Servo can scroll from script. I can open a PR for this.

[2018-01-17 12:36] tigercosmos commented on #19268
Sure. Once test test pass, this issue will close.
I will open a new issue to mention that some work above still need to do.

[2018-01-17 14:51] mrobinson commented on #3779
I'm going to close this since it refers to a bug in the long-removed non-WebRender compositor.

[2018-01-17 14:51] #3779 closed

[2018-01-17 14:52] mrobinson commented on #3921
I'm going to close this since it refers to a bug in the long-removed non-WebRender compositor.

[2018-01-17 14:52] #3921 closed

[2018-01-17 14:52] mrobinson commented on #4225
I'm going to close this since it refers to a bug in the long-removed non-WebRender compositor.

[2018-01-17 14:52] #4225 closed

[2018-01-17 14:57] mrobinson commented on #9006
The final backtrace that reproduced an issue like this referred to the old pre-WebRender compositor, so I feel pretty confident about closing this issue.

[2018-01-17 14:57] #9006 closed

[2018-01-17 14:58] mrobinson commented on #8275
I think this is no longer necessary with #18704.

[2018-01-17 14:58] #8275 closed

[2018-01-17 14:59] mrobinson commented on #12058
@paulrouget Is this still an issue now that everything had switched to WebRender?

[2018-01-17 15:07] mrobinson commented on #5325
Going to close this since we no longer use a tiling compositor.

[2018-01-17 15:07] #5325 closed

[2018-01-17 15:16] ferjm commented on #18219
I think this is no longer an intermittent.

[2018-01-17 15:16] #18219 closed

[2018-01-17 15:35] mrobinson commented on #8826
@jdm Are you still seeing this issue?

[2018-01-17 15:38] mrobinson commented on #11840
I'm can't reproduce this locally. @cbrewster are you still able to?

[2018-01-17 15:40] mrobinson commented on #13823
@nerith are you still seeing this issue?

[2018-01-17 15:41] mrobinson commented on #639
Going to close this since it's a bug in the now removed pre-WebRender compositor.

[2018-01-17 15:41] #639 closed

[2018-01-17 15:43] mrobinson commented on #982
longcat is looking super smooth for me and this bug was likely fixed, at least by the switch to WebRender. Feel free to reopen if this is still an issue though.

[2018-01-17 15:43] #982 closed

[2018-01-17 15:44] mrobinson commented on #2011
We no longer have Layers, so we can close this bug.

[2018-01-17 15:44] #2011 closed

[2018-01-17 15:45] mrobinson commented on #1155
I think we can close this and just reopen a new issue with newer details if we see it again. It's so old that a lot of the current information is probably no longer relevant.

[2018-01-17 15:45] #1155 closed

[2018-01-17 15:50] mrobinson commented on #2300
We no longer have a CPU render path, so I'm going to close this one.

[2018-01-17 15:50] #2300 closed

[2018-01-17 15:52] mrobinson commented on #3717
I think we can close bug in favor of solutions like Pathfnder.

[2018-01-17 15:52] #3717 closed

[2018-01-17 15:57] mrobinson commented on #6594
I confirmed that this is still an issue. It looks like Chromium just puts a hard limit on canvas size.

[2018-01-17 16:04] ocerman opened #19793 "CSS properties are being applied twice for text node inside Flexbox"
![servo](https://user-images.githubusercontent.com/10187350/35052603-4b22cfd0-fba8-11e7-91ef-fc6ab15bc5e0.png)
[code]

[2018-01-17 16:06] cbrewster commented on #11840
I do not see it on servo.org, but I still see the issue on github in READMEs where inline code tags get split between newlines. The issue does not appear if the code tag is not split by a newline.

[2018-01-17 16:14] mrobinson commented on #3451
@jdm So is there more work to be done here or can this issue be closed?

[2018-01-17 16:30] mrobinson commented on #5363
This seems to be working for me so I think we can close this.

[2018-01-17 16:30] #5363 closed

[2018-01-17 16:35] CYBAI commented on #16719
WebKit team announced [speedometer 2.0](http://browserbench.org/Speedometer2.0/), so I just tried to run it with servo.

Following is the result:
![image](https://user-images.githubusercontent.com/6782666/35054208-fd6f7a9c-fbe6-11e7-9c00-5a00365c05e5.png)

Ref: [Speedometer 2.0:
A Benchmark for Modern Web App Responsiveness](https://webkit.org/blog/8063/speedometer-2-0-a-benchmark-for-modern-web-a

[2018-01-17 16:38] mrobinson commented on #5780
I'm fairly certain this was made obsolete by: #13711.

[2018-01-17 16:38] #5780 closed

[2018-01-17 16:57] CYBAI opened #19794 "Code block stretched accidentally"
URL: http://learnyouahaskell.com/making-our-own-types-and-typeclasses

The code block is created by `ol` and `li` elements like following picture
![image](https://user-images.githubusercontent.com/6782666/35055447-3276317e-fbea-11e7-996b-1c26bbe74d63.png)

After scrolling down to the `Record Syntax` section in the page, then we can see the code block stretching accidentally.

In Firefox Nightly:
!

[2018-01-17 17:14] atouchet commented on #18258
Is this the same bug as #11840?

[2018-01-17 17:20] CYBAI commented on #19625
Reproduced in https://leanpub.com/purescript/read

Here's the backtrace
[code]

[2018-01-17 17:24] jdm opened #19795 "Measure time required before a layout query is serviced by the layout thread"
Servo uses a separate thread for performing layout from the thread that runs JS. When JS code triggers a synchronous layout query (such as the `getBoundingClientRectangle` API), we would like to track how long it takes before the layout thread notices the query and starts to act on it. To do this, we should include a timestamp in the query message that is sent to the layout thread, record the time

[2018-01-17 17:26] CYBAI opened #19796 "Show `list-style-type: disc` incorrectly"
URL: https://leanpub.com/purescript/read

The `list-style-type: disc` dots are shown under the Table of Contents; instead, it should be like follwoing

- Core logic written in PureScript, with the user interface written in JavaScript.
- Application written in JavaScript or another compile-to-JS language, with tests written in PureScript.
- PureScript used to automate user interface tests for an ex

[2018-01-17 17:37] jdm opened #19797 "Measure how often layout queries are blocked by ongoing layout"
Servo uses a separate thread for performing layout from the thread that runs JS. When JS code triggers a synchronous layout query (such as the `getBoundingClientRectangle` API) we would like to record if the query is blocked on an ongoing layout operation in the layout thread. When invoking any of the operations that cause one of [these messages](https://github.com/servo/servo/blob/8a740aa4d1e75aa

[2018-01-17 17:54] jdm commented on #18219
http://build.servo.org/intermittent-failure-tracker/search?filename=paint_timing.html&start=&end=&isQuery=true&defaultStart=19000101&defaultEnd=21000101 shows that it occurred as recently as Jan 14. Has something changed since then?

[2018-01-17 18:01] jdm commented on #18219
Nevermind, all of the failures since Jan 8 have been misclassified due to other problems in the PRs. There were no failures after Dec 6.

[2018-01-17 18:12] #19392 closed

[2018-01-17 18:12] #19393 closed

[2018-01-17 18:18] jdm commented on #19793
This sounds like https://github.com/servo/servo/issues/11300, which was supposed to be fixed by https://github.com/servo/servo/pull/14078 but which was never merged.

[2018-01-17 18:20] #3451 closed

[2018-01-17 18:21] jdm commented on #8826
No.

[2018-01-17 18:21] #8826 closed

[2018-01-17 18:56] jdm commented on #11995
@nifey How's it going?

[2018-01-18 03:10] Max-E opened #19800 "Hard crash when navigating to allmusic.com"
This is on 64-bit Linux Mint 18, corresponding to Ubuntu 16.04. I was able to reproduce this on git hashes 1b46e2e7597e90a41c6bfb3bd7008bdd922c93c6 and 8612a87ed28bbc4b9050e47b3bc4d49ea076a1cf. Servo was built with "./mach biulld -rv" and run with "./mach run -r -- http://allmusic.com". Here is the full command line output including backtrace:
https://pastebin.com/psBmB7iA
If you're unable to repr

[2018-01-18 07:05] paulrouget commented on #12058
That was originally a WR bug. But I haven't seen this problem in a while.

[2018-01-18 07:05] #12058 closed

[2018-01-18 08:51] sviter commented on #5369
No such issue for me on latest servo nightly

[2018-01-18 08:56] sviter commented on #6367
No such issue on latest servo nightly

[2018-01-18 09:05] sviter commented on #3825
Start page looks good now

[2018-01-18 09:34] blacksvk commented on #19793
@jdm yes, it sounds similiar, however, I tried all test cases in #[11300](https://github.com/servo/servo/issues/11300) and they were rendered correctly. This issue seems to be connected to flexbox, because it is happening when using `display: flex` or `display:inline-flex`.

[2018-01-18 10:20] blacksvk opened #19802 "Border-radius don't crop background-image"
![servo-br](https://user-images.githubusercontent.com/10187350/35092864-00a41380-fc41-11e7-9f34-34c98b5d9766.jpg)
[code]

[2018-01-18 10:35] ferjm commented on #19401
I think there are a couple of issues here:

- Gecko [applies a translucent gray color by default to placeholders](https://bugzilla.mozilla.org/show_bug.cgi?id=556145) and Servo doesn't.
- I believe Servo does not support the `::placeholder` pseudo-element.

With a reduced test case like:

[code]

the layout is different in Gecko (left) and Servo (right):

<img width="378" alt="screen shot 2018-01-

[2018-01-18 11:31] anderejd opened #19804 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-8612a87
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2018-01-18 13:52] ferjm commented on #19401
Actually, it seems that at least Stylo supports it, but it does not seem to be working properly. I'll investigate more.

[2018-01-18 14:32] nifey commented on #11995
I wrote synchronous tests for checking xml wellformedness and namespace wellformedness

Initially I had problems with testharness. After adding tests, running ```./mach test-wpt``` didn't run the wpt tests. But adding a corresponding ini file and running ```./mach update-manifest``` seems to fix it.

Running ```./mach update-manifest``` seems to modify too many lines in Manifest.json. Is it normal

[2018-01-18 14:36] jdm commented on #11995
It's not urgent; I just like to ensure that it's not abandoned :) I wouldn't worry about update-manifest making lots of changes if the result works.

[2018-01-18 14:43] #6367 closed

[2018-01-18 15:26] ferjm opened #19808 "Implement support for ::placeholder pseudo-element"
Spec: https://drafts.csswg.org/css-pseudo-4/#placeholder-pseudo
Blocks #19401

[2018-01-18 15:26] highfive commented on #19808
cc @emilio

[2018-01-18 15:26] ferjm commented on #19401
Apparently there's support for Gecko, but not for Stylo, so I opened #19808

[2018-01-18 15:30] tigercosmos commented on #19808
I am wondering why the spec doesn't mention about opacity and color about `::placeholder`?

[2018-01-18 15:35] ferjm commented on #19808
The spec says that all properties that apply to `::first-line` also apply to `::placeholder`. Is the spec for `::first-line` the one that [mentions](https://drafts.csswg.org/css-pseudo-4/#first-line-styling) `opacity` and `color` as applicable properties.

[2018-01-18 15:37] #19712 closed

[2018-01-18 15:37] tigercosmos commented on #19808
I see. I didn't find that. Thanks!

[2018-01-18 16:00] CYBAI opened #19809 "Images missing in medium blogpost"
URL: https://slack.engineering/f56a5995e8f1

Images are missing in the blog post.
I can also reproduce this issue in [another blogpost](https://medium.com/dev-channel/84009f51e99e)

In Firefox Nightly:
<img width="1028" alt="default" src="https://user-images.githubusercontent.com/6782666/35107151-30c654c8-fcab-11e7-93ce-77db568a375f.png">

In Servo (built with aee0d694cc):
<img width="1014" alt="d

[2018-01-18 16:08] CYBAI opened #19810 "background-image with linear-gradient not shown in medium blogpost"
URL: https://slack.engineering/f56a5995e8f1

The first word, `webpack`, in the blog post also has this issue but there're more anchors with `text-decoration: underline` in the `Further reading` section; thus, I screenshot the section.

In correct way, we should see the underline below the anchors which have the CSS of `text-decoration`.

In Firefox Nightly:
<img width="1021" alt="default" src="htt

[2018-01-18 16:13] jonleighton opened #19811 "Implement Element::has_css_layout_box() and related methods by inspecting the computed style"
This is a follow-up to #19803 [suggested by @emilio](https://github.com/servo/servo/pull/19803#pullrequestreview-89779418).

I'll look into it once that PR is merged.

[2018-01-18 16:16] jonleighton commented on #19811
@emilio I just had a preliminary look at what this involves, and noticed that there is already a [`margin_style` query](https://github.com/servo/servo/blob/d11886e9a12c2ef7262e34de3de7595005a66080/components/script_layout_interface/rpc.rs#L36) which returns a subset of the computed styles. Do you think it would make sense to replace that with a more generic one which returns all the computed style

[2018-01-18 16:31] jdm commented on #19800
Same failure reported in https://github.com/servo/servo/issues/18690, so let's track it there. Thanks for reporting it!

[2018-01-18 16:31] #19800 closed

[2018-01-18 16:31] jdm commented on #18690
This also reproduces on allmusic.com.

[2018-01-18 16:44] CYBAI commented on #19810
Here's the simplified test case and I'm going to change the title due to not issue of `text-decoration`.

[code]

![image](https://user-images.githubusercontent.com/6782666/35109529-a2929b7e-fcb1-11e7-9add-f6e414a91457.png)

[2018-01-18 16:47] emilio commented on #19810
Thanks a lot for the test-case @CYBAI!

cc @pyfisch, this is the kind of stuff you've looked into before :)

[2018-01-18 16:50] emilio commented on #19810
(That being said, that's a gross way of drawing an underline :P)

[2018-01-18 16:57] CYBAI commented on #19810
(Haha, before inspecting it, I won't notice it's an underline in this way :P)

[2018-01-18 17:36] CYBAI commented on #19796
@jonleighton Please take it! I will check your PR to understand how I can work on issue like this in the future 😄 Besides, thanks for the test case!

[2018-01-18 17:57] CYBAI opened #19812 "SVG not shown in Servo"
<img width="770" alt="default" src="https://user-images.githubusercontent.com/6782666/35113222-a9058d9a-fcbb-11e7-8719-e5bb9f93591a.png">

[code]

Or, check [this page](https://codeburst.io/b640fc149e22). The `medium`, `twitter` and `FB` logos are SVG and they're not shown in Servo.

<img width="1019" alt="default" src="https://user-images.githubusercontent.com/6782666/35113321-f621b5f4-fcbb-11e7-

[2018-01-18 17:59] atouchet commented on #19812
This is probably a duplicate of #9998.

[2018-01-18 18:02] jdm commented on #19812
Yep. Thanks for reporting it!

[2018-01-18 18:02] #19812 closed

[2018-01-18 18:03] jdm commented on #9998
#12973 has more information in it.

[2018-01-18 18:03] #9998 closed

[2018-01-18 18:06] CYBAI commented on #19812
@jdm @atouchet Sorry for that I didn't check if there's any similar one for this and thanks for pointing to the existing issue!

[2018-01-18 18:06] jdm commented on #19810
Yeah, this reminds me a lot of https://github.com/servo/servo/issues/19626.

[2018-01-18 18:10] pcwalton commented on #10101
I believe the plan of record is to continue with GL3 as a minimum, but keep ES2 support on the table in the future if we feel the cost/benefit tradeoff is worth it.

[2018-01-18 18:10] pcwalton commented on #2623
Yeah, let's close this.

[2018-01-18 18:18] pcwalton commented on #2264
Probably, yeah.

[2018-01-18 19:12] jonleighton commented on #19796
This is actually a better test case, since my previous one renders differently on Chrome:

[code]

*However*, I've dug into this a bit and I think that Servo's rendering may actually be compliant with the spec. This is what [the current CSS 2.2 draft says](https://www.w3.org/TR/CSS22/generate.html#propdef-list-style-position) about `list-style-position: outside` when used adjacent to a float:

I c

[2018-01-18 22:34] #5369 closed

[2018-01-18 22:35] #3825 closed

[2018-01-18 23:16] pyfisch commented on #19810
[They are kinda proud of it at Medium.](https://medium.design/crafting-link-underlines-on-medium-7c03a9274f9) :stuck_out_tongue:

Unfortunately I can not reproduce it at the moment. Attached is the rendering as I am seeing it with an up-to-date master. (Medium itself does work too) I will try a nightly build if a new one is released.

![issue19810](https://user-images.githubusercontent.com/2781017

[2018-01-19 04:14] atouchet commented on #17190
I bisected the text colour issue and the first nightly build with the problem is 2017-11-23.

[2018-01-19 08:00] pyfisch commented on #19802
This is an instance of #19649.

[2018-01-19 14:43] emilio commented on #19811
Yes, I think it makes sense to remove `margin_style`.

And no, there's not much danger of copying too much data. Styles are stored as an `Arc<ComputedValues>`, so returning the style is literally just a refcount bump (an arc clone)

[2018-01-19 16:14] jdm opened #19818 "Intermittent timeout in /_mozilla/webgl/conformance-2.0.0/conformance2/glsl3/compound-assignment-type-combination.html"
[code]

[2018-01-19 18:12] jdm opened #19821 "mutation_test.sh fails due to a missing file or directory"
[code]
It doesn't like the new invocation that resulted from the changes in #19806.

[2018-01-19 18:12] highfive commented on #19821
cc @aneeshusa

[2018-01-19 21:35] #19430 closed

[2018-01-20 04:15] bks commented on #18690
As of the 20180119 Windows build Servo no longer panics on either URL or the testcase. There are plenty of other rendering issue on the two sites mentioned but this issue appears to no longer occur.

[2018-01-20 14:43] nox opened #19823 "./mach clean-cargo-cache does not properly default to cleaning ~/.cargo"
<s>The command `./mach clean-cargo-cache` should check whether `./.servobuild`'s `cargo-home-dir` setting is defined and use that by default.</s>

Now that `cargo-home-dir` is no more, `./mach clean-cargo-cache` needs to be updated to default to `~/.cargo` if `CARGO_HOME` isn't set.

[2018-01-20 16:07] SimonSapin commented on #19823
`cargo-home-dir` is not a thing anymore. You can set `$CARGO_HOME`, like for every other Rust project.

[2018-01-20 17:11] highfive commented on #19823
cc @wafflespeanut

[2018-01-20 17:12] pyfisch commented on #19543
#19806 removed gecko-media so this is no longer an issue.

[2018-01-20 17:12] #19543 closed

[2018-01-20 18:38] pyfisch commented on #8553
:tada: rustfmt now works well on servo with this config:

[code]

It can be installed with `rustup install rustfmt-preview` for servo and run with `cargo fmt --package layout` for individual packages like `layout`.

The formatting works with `./mach test-tidy` but the long (>100 character) imports need to be formatted by hand.

[2018-01-20 19:06] #19775 closed

[2018-01-21 07:34] #19625 closed

[2018-01-21 08:57] #19513 closed

[2018-01-21 09:01] #19684 closed

[2018-01-21 09:03] #19445 closed

[2018-01-21 13:48] tigercosmos commented on #19823
Isn't it now?

[2018-01-21 20:06] SimonSapin opened #19825 "Update hyper to 0.12"
This seems to be blocked on https://github.com/servo/servo/issues/18518 at the moment.

It also blocks updating url to a for-now-hypothetical 2.0 version.

(Filing this tracking issue so that I can find this info more easily next time.)

[2018-01-21 20:09] Eijebong commented on #19825
Just to put every link there:

- https://github.com/cyderize/rust-websocket/issues/132
- https://github.com/hyperium/hyper/pull/1287
- https://github.com/hyperium/hyper/issues/1323
- https://github.com/hyperium/hyper/issues/1395

[2018-01-21 20:14] KiChjang commented on #14897
I believe it's best to wait until #19825 is resolved first before we integrate any further, since hyper seems to have plans for handling WebSocket upgrades as well.

[2018-01-22 09:46] emilio opened #19827 "Remove the define_css_keyword_enum! and add_impls_for_keyword_enum macros."
There should be no need for them since we now derive `Parse` for keywords (7036cb0077).

We should remove all the uses for those macros like 4abd1dc819 does. There are still a few though!

It's ok to remove them one by one, or to do all on the same PR (there aren't that many I think).

[2018-01-22 09:56] AlexFJW commented on #19827
@highfive: assign me

[2018-01-22 09:56] highfive commented on #19827
Hey @AlexFJW! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-22 12:02] ferjm opened #19828 "Investigate erroneous calculation of line metrics for text within an inline-flex box"
https://github.com/servo/servo/pull/19789#issuecomment-358755468

Failing test: https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/css/css-flexbox/flexbox_inline.html

[2018-01-22 12:04] ferjm commented on #19828
CC @mbrubeck

[2018-01-22 12:39] ferjm commented on #18544
I cannot reproduce this bug with the suggested test case or with http://citilink.ru. Please, reopen if you can reproduce it again.

[2018-01-22 12:44] emilio commented on #18544
We should still land the testcase though.

This was probably fixed by #18893, which fixed the "can be fragmented" bit to be propagated properly.

[2018-01-22 14:38] jdm commented on #19825
fyi @avadacatavra

[2018-01-22 14:40] Eijebong commented on #19825
Also, https://github.com/nox/hyper_serde/pull/20 this one is already done

[2018-01-22 14:49] jdm opened #19831 "Appveyor doesn't like clean-cargo-cache changes"
[code]

[2018-01-22 14:49] highfive commented on #19831
cc @aneeshusa

[2018-01-22 16:25] pyfisch commented on #19831
Probably related: #19823

[2018-01-22 17:14] streichgeorg commented on #19422
I'm working on removing the style dependency from gfx, but am currently stuck fighting the rust compiler. The problem is that `style::computed_values::font_weight::T` has some static methods that gfx needs. But when I create a trait that has static methods it's no longer object safe and cannot be passed around anymore, not even in a `Box`, as I understand it. Is there a nice solution to this.

[2018-01-22 17:28] shana commented on #18343
I needed to build servo-embed-example on windows and the mach dependency was annoying me, so I dug down into what is actually needed in order to build, and https://github.com/shana/servo/commit/afbd29ec314391cc307c376ae329630b0857561d is the result.

It turns out there's only around 5 environment variables needed plus a few path adjustments, all very doable. I have a separate powershell script to

[2018-01-22 19:33] SimonSapin commented on #18343
Thanks for writing this up @shana! It looks like there is:

* Downloading and installing rustup.rs, but IMO that’s sort of expected for Rust programs.
* After the build, copying some OpenSSL `.dll` files where Servo can find them at runtime. Today’s Cargo can definitely not help there. (There’s no post-build scripts.)
* Several things use Python, so it needs to be in `$PATH`.
* The `script` crate

[2018-01-22 20:04] jdm opened #19839 "Intermittent crash in hashtable code"
From an earlier run of #19829, this crash was observed:
[code]
The fact that we're segfaulting in HashMap::contains_key is deeply scary to me.

[2018-01-22 20:08] jdm opened #19840 "Enable css-paint-api WPT tests and remove forked duplicates"
https://github.com/servo/servo/tree/master/tests/wpt/mozilla/tests/mozilla/css-paint-api is a fork we previously made of https://github.com/w3c/web-platform-tests/tree/master/css/css-paint-api. Since we can now use the vendored copy from upstream (https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/css/css-paint-api), we should remove any of the duplicated tests in our copy and

[2018-01-22 20:08] highfive commented on #19840
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-22 21:05] jdm commented on #19251
@olmanz Are you still working on this?

[2018-01-22 22:30] terracotaPie commented on #19823
Good day guys - right now it defaults to topdir i.e.
[code]

Is it ok if i propose a PR. Namely expanduser should be cross-platform and work on all python versions
[code]

[2018-01-22 23:13] olmanz commented on #19251
Hello @jdm,
sorry, but I couldn't do anything for the last couple of weeks because exams at my university are coming closer and closer and this is stressing me at the moment.
Exams will be over around mid-February, from that on I can surely continue to work on this issue. If this is too late for you, I don't have anything against someone else taking on this issue.

[2018-01-23 01:02] #18544 closed

[2018-01-23 01:41] tigercosmos commented on #19823
@terracotaPie  Looks good. Go ahead! 👍

[2018-01-23 01:44] tigercosmos commented on #19831
Previous work, but I don't know why fail now.

[2018-01-23 04:40] atouchet commented on #13289
Is this still an issue? I am not able to reproduce the flickering.

[2018-01-23 04:41] atouchet commented on #12280
I am still experiencing this issue.

[2018-01-23 05:05] atouchet commented on #18831
Was this actually fixed? I am still able to reproduce the problem.

[2018-01-23 07:51] ferjm commented on #18831
You are right. I am still able to reproduce the problem with Facebook as well. There's some improvements though.

This is how it looked before #19789:

![before_patch](https://user-images.githubusercontent.com/480202/35263599-b53cbb4a-0019-11e8-83b4-3bf8e6d1dbc0.png)

After #19789:

![after_patch](https://user-images.githubusercontent.com/480202/35263600-b8382488-0019-11e8-9c10-3f602e2a2f94.png)

[2018-01-23 11:24] mrobinson commented on #19718
@paulrouget I'm pretty sure I have tracked down the PR that caused this (servo/webrender#2043). Is this issue still relevant now that work on BrowserHTML is ceasing? If it is, I can try to fix it in the upcoming weeks.

[2018-01-23 11:28] sviter commented on #5668
Fixed for me in latest servo nightly

[2018-01-23 11:45] sviter commented on #5398
All referenced issues was closed

[2018-01-23 11:51] shana commented on #18343
As mentioned in some other issue, cargo is a package manager, not a build system (I would argue that if it has a build command then it kinda is a build system but ¯\_(ツ)_/¯), so cargo is probably not the best way to go to drive the whole thing. It would be nice if the build bits in cargo got moved into a separate project that would actually consider itself a build system, but until (or if) that ha

[2018-01-23 12:04] sviter commented on #7714
http://andrew.wang-hoyer.com/experiments/rain/

[2018-01-23 12:06] sviter commented on #7714
Also memory leak can be seen at http://andrew.wang-hoyer.com/experiments/blob/

[2018-01-23 13:40] jdm commented on #5398
I regret not adding information about how to run the testsuite when filing this bug.

[2018-01-23 13:40] #5398 closed

[2018-01-23 15:57] jdm commented on #13289
This was a pre-webrender problem.

[2018-01-23 15:57] #13289 closed

[2018-01-23 15:59] #5668 closed

[2018-01-23 16:13] jdm opened #19844 "Doc builds are busted since the switch to rustup"
Every doc build shows:
[code]

[2018-01-23 16:13] highfive commented on #19844
cc @aneeshusa

[2018-01-23 17:07] SimonSapin commented on #19844
My guess is that we need something like https://github.com/servo/saltfs/pull/762 for the doc build job.

[2018-01-23 17:16] jdm opened #19846 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/more/functions/readPixelsBadArgs.html"
[code]

[2018-01-23 20:47] #19823 closed

[2018-01-23 20:48] #18228 closed

[2018-01-23 20:48] jdm commented on #18338
The solution is documented in https://github.com/servo/servo/wiki/Buildbot-administration, so no need to keep this open.

[2018-01-23 20:48] #18338 closed

[2018-01-23 22:04] jdm commented on #19422
Here is what I propose:
* move the [definition](https://github.com/streichgeorg/servo/blob/cfcbe39e44e6d8aeae75b1e8c39254ab3dfcd3dc/components/style/values/computed/font.rs#L40) of FontWeight and its [methods](https://github.com/streichgeorg/servo/blob/cfcbe39e44e6d8aeae75b1e8c39254ab3dfcd3dc/components/style/values/computed/font.rs#L97-L150) into style_traits
* add a `pub use style_traits::FontWe

[2018-01-23 22:11] streichgeorg commented on #19422
Oh I see, style_traits isn't really all about traits.
Thank you for the help.

[2018-01-23 22:18] SimonSapin commented on #19422
(Renaming those `*_traits` crates might be another easy issue, once we decide what to name them instead :))

[2018-01-23 22:29] jdm commented on #19831
I'm pretty sure this error means that we don't actually cache the .cargo directory on appveyor.

[2018-01-24 08:24] sviter commented on #4690
Is it still actual issue? I can't reproduce it

[2018-01-24 09:45] ZanderBrown commented on #12015
Just checked latest nightly on F27:
[code]

[2018-01-24 12:57] sviter commented on #9155
I can't reproduce this issue now

[2018-01-24 13:08] sviter commented on #7537
Still a problem

[2018-01-24 13:12] sviter commented on #9672
This link is dead

[2018-01-24 13:13] sviter commented on #9669
This link is dead

[2018-01-24 13:23] sviter commented on #10593
Is this still issue?

[2018-01-24 13:54] yurket commented on #19840
Hi! I would like to contribute to this task! =)
@highfive: assign me

[2018-01-24 13:54] highfive commented on #19840
Hey @yurket! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-24 13:55] jdm commented on #18606
To reproduce the original problem, all I need to do is load the page once and then take three screenshots of it. By the third, I am only seeing the background colour.

[2018-01-24 13:58] jdm commented on #18606
I don't reproduce the crashes when running without headless mode enabled. The page still keeps displaying correctly in the browser, but the screenshots only show the background colour per the original description.

[2018-01-24 14:38] jdm opened #19853 "Create a tool to show the build status of a PR"
Currently we use http://build.servo.org/grid and http://build.servo.org/console to see the build status of a particular revision across all platforms. Neither of these views are really ideal for that purpose. We should build a tool that allows users to provide a PR number, then looks in the buildbot history to find current and historical builds related to that PR. The output should be a webpage, s

[2018-01-24 15:37] sviter commented on #6997
seems it fixed now

[2018-01-24 15:51] tigercosmos commented on #19853
This is really helpful.

[2018-01-24 16:15] LifeIsStrange commented on #14203
I can confirm it affect Fedora 26 too

[2018-01-24 18:26] #19831 closed

[2018-01-24 21:09] terracotaPie commented on #19703
Hey @stevel98 - are you still working on this or **can I take over** :) ?

[2018-01-25 02:42] #19796 closed

[2018-01-25 05:57] #874 closed

[2018-01-25 07:03] sviter opened #19860 "Empty page on https://www.outsideonline.com/"
Go to https://www.outsideonline.com/
Wait a few seconds.
First the page will be visible, but then all the content will disappear. Only the search icon remains

[2018-01-25 08:41] sviter commented on #17989
unknown completed load PageSource("about:blank")
### URL:
https://nplus1.ru/news/2018/01/24/falcon-heavy
### Servo Version:
Servo 0.0.1-7354a32
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2018-01-25 09:12] tigercosmos commented on #19860
Very weird ...
Can't find useful information :(
[code]

[2018-01-25 10:23] Manishearth opened #19861 "Intermittend PASS expected FAIL on /css/css-ui/text-overflow-023.html"
http://build.servo.org/builders/linux-rel-css/builds/7675

[code]

[2018-01-25 10:23] Manishearth commented on #19861
https://github.com/servo/servo/pull/19688

[2018-01-25 10:26] Manishearth opened #19862 "WOFF webfonts broken on Linux"
See https://github.com/servo/servo/pull/19688#issuecomment-359834923 and the reftest analyzer image in https://github.com/servo/servo/pull/19688#issuecomment-360027050

All these tests use a WOFF webfont, which when run on Linux (both on the builders and on my desktop) end up showing tofu. Stuff works on OSX.

Currently not in town (only have a macbook) and I don't want to debug this over SSH, but

[2018-01-25 10:34] KiChjang commented on #19422
Reopening since this seems to not have been solved yet.

[2018-01-25 10:41] Manishearth opened #19863 "linebreaking broken at word-wrap: pre boundaries"
Currently our line-break code allows line breaks at the beginning of a fragment if it is something other than a `white-space: nowrap` or `white-space: pre` fragment.

However, in this case, we should still allow breaking:

[code]

but we don't.

(note that changing the text to something larger than a single letter will linebreak in servo anyway, but for a different reason)

We need to only apply t

[2018-01-25 13:09] #9669 closed

[2018-01-25 13:09] #9155 closed

[2018-01-25 13:10] jdm commented on #9672
I suspect a page with any infinite loop will demonstrate this.

[2018-01-25 13:59] #6997 closed

[2018-01-25 14:07] jdm commented on #10593
When I run `RUST_LOG=layout_thread=debug ./mach run https://www.commentarymagazine.com/articles/coming-conservative-dark-age/` I no longer see infinite reflows and it does eventually reach a steady state.

[2018-01-25 14:07] #10593 closed

[2018-01-25 14:08] jdm opened #19866 "Background appears over content"
When I load https://www.commentarymagazine.com/articles/coming-conservative-dark-age/, after I give it enough time (and move back in history from the facebook popup that takes over), eventually the text content appears, and then the background gradient appears and covers all of the page content.

[2018-01-25 14:10] jdm commented on #4690
It is not.

[2018-01-25 14:10] #4690 closed

[2018-01-25 15:04] pyfisch commented on #19676
I thought about using the `debug-serialization` types as unserialized display lists. They can be build from individual items and then directly serialized to a `BuiltDisplayList` after ordering.

Is this a good idea or will it be to slow/consume too much memory?

Also `DisplayListBuilder` currently does some normalization (e.g. for gradients) that should not be skipped even if display lists are bui

[2018-01-25 16:27] pyfisch commented on #19810
![medium](https://user-images.githubusercontent.com/2781017/35399558-ccaf8208-01f4-11e8-8264-2b1748b6512a.png)

I still see the underlines but the text is not correctly rendered. The article text has line-breaks at the wrong places and the heading is a different font.

jdm confirmed that the underlines are invisible on MacOS.

[2018-01-25 18:15] jdm commented on #19810
<img width="1136" alt="screen shot 2018-01-25 at 1 15 29 pm" src="https://user-images.githubusercontent.com/27658/35404685-d6595d2e-01d1-11e8-8ffa-94e28f4164a6.png">

[2018-01-25 23:42] stevel98 commented on #19703
Apologies, school just started and I've been really busy. It's all yours :).

[2018-01-26 02:08] terracotaPie commented on #19703
@highfive: assign me

[2018-01-26 02:08] highfive commented on #19703
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2018-01-26 03:35] atouchet opened #19869 "DuckDuckGo divider not inline with text"
URL: https://duckduckgo.com/?q=Servo&t=hw

Image of issue (Firefox top, Servo bottom):

![DuckDuckGo](https://i.imgur.com/dAx95gs.png)

The divider between "Videos" and "Meanings" isn't inline with the text in Servo. Tested in Windows 10 with Browser.html.

[2018-01-26 04:36] jdm commented on #19703
Go for it @terracotaPie :)

[2018-01-26 09:05] nox opened #19870 "RootedVec<T> is still not sound"
`RootedVec<T>` relies on its `Drop` implementation to clear its entry in the script thread's root list.

One can trivially use `mem::forget` to make the `Drop` code not run, and then the root list contains an entry pointing to freed memory.

Cc @jdm @asajeffrey

[2018-01-26 09:11] nox opened #19871 "DomRefCell::<T>::borrow_mut is not sound for all T types"
`DomRefCell<T>` allows users to get a `&mut T` value out of it when borrowing the cell mutably. This should not be allowed for all `T` types, because it cannot be made invariably safe.

An example of unsafety is draining the vector stored inside a `DomRefCell<Vec<T>>`. Callers can keep hold of the draining iterator and run some code that triggers a GC in SpiderMonkey. But when the `Drain<T>` itera

[2018-01-26 09:58] SimonSapin commented on #19871
If a vector can get traced while `Drain` holds a `&mut` reference to it, we’re already violating language invariants.

[2018-01-26 14:36] gterzian commented on #10787
If this one isn't worked on by someone else already, I am interested in taking it on.

[2018-01-26 14:55] sviter opened #19874 "Wrong width of input element with display: block"
With
`<input type="submit" style="width: auto;display: block;">`
I can see:
![default](https://user-images.githubusercontent.com/6523067/35445128-b52a03c4-02c1-11e8-96fb-cc5c651c0d02.png)
but without `display: block` button width is normal
![default](https://user-images.githubusercontent.com/6523067/35445243-0a52bd32-02c2-11e8-85fa-7cb163783a10.png)

[2018-01-26 15:10] asajeffrey commented on #19870
Oh great. mem::forget again.

[2018-01-26 15:14] pandusonu2 commented on #19251
This looks interesting :D As a beginner, can I attempt to solve this?

[2018-01-26 15:20] jdm commented on #19251
@pandusonu2 Yes, and please ask questions about anything that's unclear!

[2018-01-26 15:23] jdm commented on #10787
Nobody is working on it. You're welcome to tackle it, given your track record :D

[2018-01-26 16:16] jdm commented on #19183
The previous author is busy in school right now. If anybody would like to tackle this, it is available. See #19448 for prior work.

[2018-01-27 03:20] gterzian commented on #10787
thanks, ok I'll get started then...

[2018-01-27 13:42] tigercosmos commented on #19773
@KiChjang Could you suggest how to implement min, max, step?

[2018-01-27 17:05] CYBAI commented on #19784
After more investigation for the page, I found the images for the frog and lilypad are `SVG`s.
It should be related to #9998 so I'm going to close this issue due to not related to flex.

![image](https://user-images.githubusercontent.com/6782666/35474264-cca9bc78-03c6-11e8-8652-b789589b4ce8.png)

[2018-01-27 17:05] #19784 closed

[2018-01-27 17:48] jdm commented on #19784
Thanks for checking!

[2018-01-27 18:25] CYBAI opened #19879 "Icons rotate incorrectly"
URL: http://hn.premii.com/#

The `bubble` icons don't rotate correctly in Servo.

![image](https://user-images.githubusercontent.com/6782666/35475010-0206e5b6-03d2-11e8-99c1-3971a9330c32.png)

Note: Servo is built with bc7dd644f6

Tested in `macOS 10.12.6`

[2018-01-27 18:28] CYBAI commented on #19879
Test case

[code]

![image](https://user-images.githubusercontent.com/6782666/35475071-dae7f4ce-03d2-11e8-80fe-3a9f8e62cc06.png)

[2018-01-27 18:51] CYBAI opened #19880 "white-space nowrap shown incorrectly inside flexbox"
URL: https://caniuse.com/#feat=flexbox

Those `li`s, `Site links`, are overlapped with the `Legend` section.

In Firefox Nightly,
![image](https://user-images.githubusercontent.com/6782666/35475209-66037de2-03d5-11e8-978b-3a8a57131cfd.png)

In Servo built with bc7dd644f6,
![image](https://user-images.githubusercontent.com/6782666/35475210-6e9c48d0-03d5-11e8-8f67-a46643bf75eb.png)

Tested in `macOS

[2018-01-27 18:54] CYBAI commented on #19880
Just copied the HTML from `caniuse` and simplified them to reproduce this issue.

[code]

In Firefox Nightly,
![image](https://user-images.githubusercontent.com/6782666/35475281-830229d8-03d6-11e8-8317-e29afef5fcd7.png)

In Servo,
![image](https://user-images.githubusercontent.com/6782666/35475287-931496d0-03d6-11e8-8cee-0bc90f83cd78.png)

[2018-01-27 19:16] CYBAI commented on #19880
I think the root cause for this issue is `flex-basis`.

When I commented it,

[code]

the pages is like following

In Firefox Nightly,
![image](https://user-images.githubusercontent.com/6782666/35475439-657786a8-03d9-11e8-96df-81e8b5db870c.png)

In Servo,
![image](https://user-images.githubusercontent.com/6782666/35475433-4f5325e4-03d9-11e8-8732-b5ce340d6885.png)

[2018-01-27 21:37] yurket commented on #19840
Ok, I have all upstream css tests failing on my machine by unknown reason:
[code]
Looks like something wrong with my setup (I'm on Gentoo), because a lot of tests have the same hash `23b755622cc81841a23cc8431a6546dfb1401c66`.

I've run tests using `wpt  run` with my local firefox setup and tests are failing as well:
[code]

I think I'll try to run servo tests manually as described in tests' [readm

[2018-01-27 21:55] jdm commented on #19840
Oh, you'll need to copy the [__dir__.ini](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/meta/mozilla/css-paint-api/__dir__.ini) file that enables the feature at runtime, since it's still experimental. There will still be a number of tests that fail, judging by the ini files in https://github.com/servo/servo/tree/master/tests/wpt/mozilla/meta/mozilla/css-paint-api.

[2018-01-27 22:32] terracotaPie commented on #19703
@jdm thanks - Gonna work on it tonight

[2018-01-27 23:39] yurket commented on #19840
Copied [dir.ini](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/meta/mozilla/css-paint-api/__dir__.ini) into `tests/wpt/web-platform-tests/css/css-paint-api/` folder and still all tests are failing. Will try to investigate what's the problem or will ask in irc.

[2018-01-28 05:37] jdm commented on #19840
Note, the in files needs to be under the metadata directory, not the tests directory.

[2018-01-28 06:27] #19821 closed

[2018-01-28 10:12] jonleighton opened #19885 "Avoid `Window::GetComputedStyle` when checking for `display: none`"
This can be done after #19881 is merged. See @emilio's [comment](https://github.com/servo/servo/pull/19881#pullrequestreview-92041589):

Those two files both contain calls to `GetComputedStyle` to check for `display: none` on an element. We can refactor them to use `Node::style()` instead.

[2018-01-28 11:43] emilio commented on #19885
(Or node::has_css_layout_box, which is what they really want. They're both bogus)

[2018-01-28 11:55] emilio opened #19886 "Node::style should move to Element after #19881 lands"
Right now all the callers do:

[code]

And I'm glad they do because the code panics if the node is not an element.

So we should just move `Node::style` to `Element` so it can't be misused. We should also add a documentation comment saying when it may be `None` (when the element is in a display: none subtree).

[2018-01-28 11:55] highfive commented on #19886
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-28 11:56] highfive commented on #19885
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-28 11:57] emilio commented on #19885
Well, let me know if you want to take that before marking it as `E-easy` :).

[2018-01-28 12:42] #19811 closed

[2018-01-28 13:10] highfive commented on #19886
Hey @CYBAI! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-28 13:12] csmoe commented on #19886
@highfive assign me
I'll try to work on this.

[2018-01-28 13:12] highfive commented on #19886
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2018-01-28 13:28] jonleighton commented on #19885
I think leaving as `E-easy` is fine for now, could be a good first issue for someone :)

[2018-01-28 13:36] sviter commented on #19869
[code]
If I delete `vertical-align:top;` it's not affect FF but fix issue for Servo

[2018-01-28 13:41] jonleighton opened #19887 "Handle `None` in `script::devtools::determine_auto_margins`"
See @emilio's [comment](https://github.com/servo/servo/pull/19881#discussion_r164297150):

It remains to be seen if the `unwrap` is actually a problem, but from a cursory look at the code I think it probably is. Probably inspecting a node via devtools which is in a `display: none` subtree will trigger the problem.

[2018-01-28 15:17] AlbertoGP opened #19888 "WebRender, render_impl, "index out of bounds: the len is 0 but the index is 0""
Servo nightly build 2018-01-28, Ubuntu Linux 17.10, updated.

The website is my own, https://sentido-labs.com

[code]

[2018-01-28 15:45] yurket commented on #19840
I think I need help again)
Firstly, looks like not all tests fail, but most of them:
[code]
I added \_\_dir\_\_.ini file into newly created folder `tests/wpt/metadata/css/css-paint-api/`, enabled css-paint-api in `tests/wpt/include.ini` file:
[code]
And regenerated manifest:
[code]
And still most of tests fail:
[code]
Any ideas?

[2018-01-28 15:54] jdm commented on #19888
cc @glennw

[2018-01-28 16:11] jdm commented on #19840
Oh, I see the issue. The specification for CSS paint worklets was [updated](https://github.com/w3c/css-houdini-drafts/issues/410) after we forked the tests, but our implementation was not updated to account for it. Would you like to make that change, and update the forked tests to account for it? This would require moving the partial interface that includes paintWorklet from Window (in `components

[2018-01-28 17:05] jonleighton commented on #19171
@KiChjang this can be closed now!

[2018-01-28 17:22] highfive commented on #19885
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-28 17:22] emilio commented on #19885
Sounds great!

[2018-01-28 18:35] tigercosmos commented on #15554
not support 32 bit.

[2018-01-28 18:41] Max-E opened #19890 "MDN "Web Workers basic example" doesn't work"
This page is supposed to demonstrate the web workers API:
http://mdn.github.io/simple-web-worker/
on other browsers, the arithmetic happens as expected. On Servo, the product at the bottom doesn't update. Git hash tried: 1cb824d48e832b2e11b5e7341b188ad579b43111 OS: 64-bit Linux Mint 18. I used a release build.

[2018-01-28 18:43] Max-E commented on #18690
On git hash 1cb824d48e832b2e11b5e7341b188ad579b43111, I still get the crash on allmusic.com. https://pastebin.com/LEG7EvX9

[2018-01-28 19:35] #19171 closed

[2018-01-28 19:52] #19886 closed

[2018-01-28 20:30] tigercosmos opened #19891 "Lots of white space at the bottom on `google.com.tw/search`"
build  64c514a with macOS
probably related to #16185
![](http://g.recordit.co/2afbR1L5jT.gif)

[2018-01-28 21:48] jdm commented on #18690
@Max-E Which platform are you using?

[2018-01-28 22:10] Max-E commented on #18690
64-bit Linux Mint 18 corresponding to Ubuntu 16.04.

[2018-01-29 00:28] glennw commented on #19888
I can reproduce this locally - investigating.

[2018-01-29 02:43] paulrouget commented on #19718
Yes. BrowserHTML doesn't use this feature. This is used by regular embedders.

It is not a high priority, but that would be great to get that fixed soon.

Thank you!

[2018-01-29 03:20] glennw commented on #19888
This will be fixed when a WR update with https://github.com/servo/webrender/pull/2353 lands in Servo.

[2018-01-29 03:29] glennw commented on #18690
I'm unable to reproduce this via any of the URLs or test cases above on Ubuntu 17.10. I *suspect* this might be a bug related to the fonts present on a system. Is it possible to get a backtrace from a debug build? That would narrow down the possible causes, if we could see which batch type was causing the panic.

[2018-01-29 04:06] Max-E commented on #18690
Sure, here you go: https://pastebin.com/XQY6MjNu

Also, here's a list of all my installed fonts, since you thought that might make a difference: https://pastebin.com/ixeYu4eg
I checked, there aren't really any ttf files outside of /usr/share/fonts on my system, so that should be all of them.

[2018-01-29 04:08] Max-E commented on #18690
I just checked the simple test HTML from earlier in this bug report, it did _not_ crash. So perhaps my report on allmusic.com isn't a duplicate of this issue after all?

[2018-01-29 04:20] glennw commented on #18690
Ah, interesting backtrace. So this appears to not be related to text / fonts in this case.

What's happening here is that a primitive ends up being added to a batch that was previously determined to be not visible. When this happens, the batching code requests the GPU location for this primitive, but it doesn't exist since the primitive has been culled out early.

It's possible that reproducing th

[2018-01-29 04:25] Max-E commented on #18690
Correct. Just now I tried maxmizing the window before it crashed, but it crashed anyway.

[2018-01-29 12:41] highfive commented on #19887
cc @fitzgen

[2018-01-29 12:52] jdm opened #19892 "Extra spacing between absolute block and h1"
[code]

Firefox:
<img width="185" alt="screen shot 2018-01-29 at 7 51 30 am" src="https://user-images.githubusercontent.com/27658/35511296-48903878-04c9-11e8-96c1-590efcd3f436.png">

Servo:
<img width="371" alt="screen shot 2018-01-29 at 7 51 37 am" src="https://user-images.githubusercontent.com/27658/35511298-4b7f3e3a-04c9-11e8-900c-3300b4a62574.png">

[2018-01-29 12:56] jdm opened #19893 "Span containing absolute div positioned incorrectly"
[code]
Firefox:
<img width="83" alt="screen shot 2018-01-29 at 7 55 40 am" src="https://user-images.githubusercontent.com/27658/35511429-e9b7c932-04c9-11e8-828d-f43ea6be90ed.png">

Servo:
<img width="134" alt="screen shot 2018-01-29 at 7 55 45 am" src="https://user-images.githubusercontent.com/27658/35511433-ec61e99c-04c9-11e8-8b72-43066213b832.png">

[2018-01-29 12:58] jdm commented on #19890
This is because Servo doesn't support the "onchange" event for text inputs yet.

[2018-01-29 12:58] jdm commented on #19890
This is tracked in #9575.

[2018-01-29 12:58] #19890 closed

[2018-01-29 13:03] jdm opened #19894 "Background colour is drawn over elements with negative z-index"
[code]

Firefox:
<img width="89" alt="screen shot 2018-01-29 at 8 03 00 am" src="https://user-images.githubusercontent.com/27658/35511670-d8ef88be-04ca-11e8-99f8-e4ac4c8620c8.png">

Servo:
<img width="105" alt="screen shot 2018-01-29 at 8 03 19 am" src="https://user-images.githubusercontent.com/27658/35511685-e257fd6e-04ca-11e8-8656-e0fc2ba0e89b.png">

[2018-01-29 13:05] jdm commented on #14774
More specifically:
[code]

[2018-01-29 15:35] nox opened #19897 "Make stack roots (e.g. RootedVec<T>) store a RefCell<_> internally"
https://mozilla.logbot.info/servo/20180129#c14206363

[2018-01-29 16:23] aneeshusa opened #19898 "Integrate shellcheck into `servo-tidy`"
Shellcheck has a `json` output format that may be helpful if we need to introspect the return data, but to start we can just run it directly as a subprocess.

[2018-01-29 16:24] yurket commented on #19840
Sure! Gonna try at least =)

[2018-01-29 21:51] #19888 closed

[2018-01-30 07:07] atouchet opened #19901 "Latest Servo nightly build fails to launch"
Steps to reproduce:

1. Download Servo nightly build and try to run.
2. Windows security warning prompt appears as normal but Servo does not launch after clicking Run.

This is a new regression that first occurred in the [2018-01-30](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10 with Browser.html.

[2018-01-30 11:17] pyfisch commented on #19894
This happens only with backgrounds for the root element. If the background is part of any other element both browsers do not display the text.

[2018-01-30 13:17] jdm commented on #19901
Based on the commits that were added to that build, I suspect the glutin upgrade is at all. This might be the same problem that @SimonSapin is experiencing.

[2018-01-30 14:22] nox commented on #19827
I'm sorry, I did this in #19903, unaware of this issue.

[2018-01-30 14:36] SimonSapin commented on #19901
Yes, this sounds similar to https://github.com/servo/webrender/issues/2356.

[2018-01-30 14:38] alexfjw commented on #19827
No problem. Was a little busy the past week so I haven't really made much progress actually.

[2018-01-30 14:40] alexfjw commented on #19827
@highfive unassign me

[2018-01-30 14:42] alexfjw commented on #19885
@highfive assign me

[2018-01-30 14:42] highfive commented on #19885
Hey @alexfjw! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-30 15:19] jdm commented on #19853
There's an initial version of this tool in https://github.com/servo/buildbotstatus/ courtesy of @ferjm. We'll file issues on improving it there.

[2018-01-30 15:19] #19853 closed

[2018-01-30 16:13] cbrewster opened #19905 "Fire popstate event when traversing history"
Spec: https://html.spec.whatwg.org/multipage/browsing-the-web.html#history-traversal:popstateevent

[2018-01-30 16:57] jdm opened #19907 "Intermittent "error reading compile response from server" when building script and using sccache"
[code]
This is caused by our sccache timeout not being long enough.

[2018-01-30 18:32] #19907 closed

[2018-01-30 20:56] terracotaPie commented on #19703
@jdm I was wondering if there are any restrictions on what we can include in the codebase, i.e. Can I use  [default config parser](https://docs.python.org/2/library/configparser.html)

[2018-01-30 21:26] glennw commented on #18606
I can reproduce the screenshot issue locally - I'll take a look today at the WR side.

[2018-01-30 21:36] jdm commented on #19703
@terracotaPie If that does that job, that's fine.

[2018-01-30 21:43] glennw commented on #18606
Interestingly enough, if I run the servo exe with ```-Z wr-stats```, which shows a debug overlay on each frame with profile stats, the rendering is correct. I can see in the debug stats that the frame number is advancing, and the text content is rendered correctly.

[2018-01-30 21:55] terracotaPie commented on #19703
@jdm Yeah it doesn't parse the file correctly but I can use simple regex
[code]

which gives me
[code]

And i understand that _mozilla is a special case, but for every other single entry we need to check if its present in "tests/wpt/web-platform-tests" right? We also need to respect the indentation as nested path?

Thanks for your time

[2018-01-30 22:12] jdm commented on #19703
Exactly.

[2018-01-31 00:38] glennw commented on #18606
https://github.com/servo/servo/pull/19910 fixes this.

[2018-01-31 05:16] #18606 closed

[2018-01-31 09:16] paulrouget commented on #14774
happened here as well: https://travis-ci.org/servo/servo/jobs/335513847

[2018-01-31 14:21] #19428 closed

[2018-01-31 17:04] jdm opened #19916 "Use a macro to create null-terminated C strings"
When we write them by hand (eg. `b"some string\0"`), we invariably get them wrong in ways that are tricky to notice (https://github.com/servo/servo/pull/19915). We should use a macro like this instead:
[code]
This would allow us to write code like `(c_str!("PEParseDeclarationDeclExpected"), Action::Skip)` instead of https://github.com/emilio/servo/blob/d82c54bd3033cc3277ebeb4854739bebe4e20f2f/port

[2018-01-31 17:04] highfive commented on #19916
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-01-31 18:38] #19844 closed

[2018-01-31 18:43] jdm opened #19917 "Intermittent CRASH in /custom-elements/parser/parser-sets-attributes-and-children.html"
This is another instance of the problem where wptrunner sometimes treats a crashing test as one that is merely timing out.
[code]

[2018-01-31 18:44] jdm commented on #19917
We could work around this by fixing the crash:
[code]

[2018-01-31 18:45] jdm commented on #19917
I suspect we're not in a compartment and dereferencing a null pointer as a result.

[2018-01-31 19:02] jdm commented on #19917
Indeed:
[code]
This fixes the crash.

[2018-01-31 22:03] highfive commented on #19916
Hey @thiagopnts! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-01-31 23:16] KiChjang commented on #19916
Shouldn't the `to_geck_message` fn really return a [CStr](https://doc.rust-lang.org/stable/std/ffi/struct.CStr.html) instead in order to at least have some type checking in place?

[2018-01-31 23:17] KiChjang commented on #19916
We can also use [from_bytes_with_nul](https://doc.rust-lang.org/stable/std/ffi/struct.CStr.html#method.from_bytes_with_nul) for some stronger guarantees, but I don't think the overhead is worth it.

[2018-01-31 23:27] jdm commented on #19916
Returning a CStr does sound like an improvement. The macro could use CStr::from_bytes_with_nul_unchecked under the hood.

[2018-02-01 09:32] jonleighton commented on #17321
I came across this issue too, and will try to come up with a fix.

It appears than on Linux, when you use `sans-serif`, Servo will choose the ExtraLight variant of DejaVu Sans, rather than the Book variant. This happens because Servo's code doesn't set the weight of the ExtraLight variant correctly (it sets it to normal = 400). The code which then chooses a variant sees the ExtraLight one first, d

[2018-02-01 09:46] jonleighton commented on #17321
Related: https://github.com/servo/servo/issues/190

[2018-02-01 12:05] yurket commented on #19840
Ok, I've updated webidls, adjusted implementations:
[code]
[code]
This gave me ~25 tests passing. Then I copied and adjusted .ini files for failing tests from `tests/wpt/mozilla/meta/mozilla/css-paint-api` into `tests/wpt/metadata/css/css-paint-api` and still get 3 tests failing:
[code]
Is it expected?

[2018-02-01 12:45] #19827 closed

[2018-02-01 13:00] jdm commented on #19840
Those are probably new tests that were written since we forked, and I think they deal with features that we don't yet support.

[2018-02-01 13:18] yurket commented on #19840
ok, so I'll add .ini files with failing expectations for them and will prepare PR

[2018-02-01 13:23] jdm commented on #19840
Thanks for investigating!

[2018-02-01 14:41] upsuper commented on #19916
Hmmm... I didn't notice this issue, and wrote a PR #19925 for fixing this...

[2018-02-01 14:43] jdm commented on #19916
@thiagopnts Given that the solution in #19925 is safer than what I propose here, we're going to go with that. Sorry for the duplication of effort!

[2018-02-01 14:43] #19916 closed

[2018-02-01 16:28] #19387 closed

[2018-02-01 16:50] terracotaPie commented on #19703
Damn - So I edited the path and loaded the py.iniconfig but it doesn't parse it correctly, since it doesn't expect the offsets
[code]

Welp ill try to parse it

[2018-02-01 17:01] jdm commented on #19703
You could also see if you could reuse the test harness code that interacts with that file: https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/wptrunner/wptrunner/manifestinclude.py

[2018-02-01 17:30] terracotaPie commented on #19703
Worked nicely

[2018-02-01 18:38] terracotaPie commented on #19703
@jdm success !!! Ill submit a pull request, when I add proper messages. My work is here https://github.com/terracotaPie/servo/commit/23bfb54ab24e24c82e9b338e090a23eaf25ee115

[code]

[2018-02-01 18:53] jdm commented on #19703
This is great! Also disturbing that we're no longer running all of those tests any more 🙃

[2018-02-02 22:51] GloverDonovan commented on #19015
Hello I'd like to work on `text-emphasis-style`, thanks.

[2018-02-03 01:57] upsuper commented on #19786
So external dependencies which depend on `syn` are:
- [x] cssparser
- [x] cssparser-macros
- [x] darling_core
- [x] darling_macro
- [ ] html5ever
- [ ] serde_derive
- [ ] serde_derive_internals
- [x] synstructure

[2018-02-03 01:57] upsuper commented on #19786
The hard parts would be html5ever and serde.

[2018-02-03 01:58] Eijebong commented on #19786
Nah, html5ever is done and serde too

[2018-02-03 02:00] Eijebong commented on #19786
The hard part for me is style_derive, other servo crates are already done but I couldn't find time/motivation for style_derive...
https://github.com/servo/servo/compare/master...Eijebong:syn?expand=1 here's my work on servo crates

[2018-02-03 02:00] upsuper commented on #19786
Serde's repo is done, but the version published on crates.io hasn't been updated.

[2018-02-03 02:01] Eijebong commented on #19786
Sure, html5ever hasn't even been merged, cssparser hasn't been released either but those are the easy parts, releasing stuff is easy ;)

[2018-02-03 02:04] upsuper commented on #19786
Maybe @nox can help on the style_derive part.

[2018-02-03 02:05] Eijebong commented on #19786
I just need to find some time to do it but @nox made be buy Celeste so I'm blaming him for the update being late ;)

[2018-02-03 05:55] jdm commented on #19015
@GloverDonovan Go ahead and file an issue for it; you're welcome to work on it!

[2018-02-03 16:21] gootorov opened #19936 "style: Move content property out of Mako."
I'll be working on this one. Sub-issue of https://github.com/servo/servo/issues/19015.

[2018-02-03 16:23] gootorov commented on #19936
@emilio You should tick the `counters.mako.rs/counter-increment` property in https://github.com/servo/servo/issues/19015, I think it was implemented in https://github.com/servo/servo/pull/19529.

[2018-02-03 16:33] emilio commented on #19936
Nice catch, thanks!

[2018-02-03 16:33] jdm commented on #15898
This is #13479.

[2018-02-03 16:33] #15898 closed

[2018-02-03 16:34] jdm opened #19937 "Intermittent crash with no meaningful backtrace during WPT tests"
They always look like this:
[code]

[2018-02-03 16:34] jdm commented on #14873
Tracking this non-test-specific problem in #19937.

[2018-02-03 16:34] #14873 closed

[2018-02-03 16:35] jdm commented on #14398
Tracking this non-test-specific problem in #19937.

[2018-02-03 16:35] #14398 closed

[2018-02-03 16:35] jdm commented on #14314
Tracking this non-test-specific problem in #19937.

[2018-02-03 16:35] #14314 closed

[2018-02-03 16:36] jdm commented on #18784
Tracking this non-test-specific problem in #19937.

[2018-02-03 16:36] #18784 closed

[2018-02-03 16:36] emilio commented on #19671
These properties are gone in https://bugzilla.mozilla.org/show_bug.cgi?id=1429723 / https://github.com/servo/servo/pull/19446 / https://github.com/servo/servo/pull/19833.

@mauricioc I cherry-picked one of your commits for #19668 (thank you so much!). If you want to help out either with more CSS properties or with a more complex task / fix, I'll be happy to try finding something :)

[2018-02-03 16:36] #19671 closed

[2018-02-03 16:39] jdm commented on #13342
Tracking this non-test-specific problem in #19937.

[2018-02-03 16:39] #13342 closed

[2018-02-03 16:40] jdm commented on #12553
These tests no longer panic, and this issue doesn't match any tests that we run.

[2018-02-03 16:41] #12553 closed

[2018-02-03 16:41] jdm commented on #11663
This issue doesn't match any tests that we run anymore.

[2018-02-03 16:41] #11663 closed

[2018-02-03 16:42] jdm commented on #11479
This isn't doesn't match any tests that we run any more.

[2018-02-03 16:42] #11479 closed

[2018-02-03 16:42] jdm commented on #11348
Doesn't match any tests that we run any more.

[2018-02-03 16:42] #11348 closed

[2018-02-03 16:43] jdm commented on #11266
Haven't seem this in a long time.

[2018-02-03 16:43] #11266 closed

[2018-02-03 16:44] jdm commented on #9052
Doesn't match tests we run any more.

[2018-02-03 16:44] #9052 closed

[2018-02-03 17:01] anniryynanen opened #19939 "Can't build servo_url without mozjs"
I'm trying to use the `compositing` crate without having to include `mozjs`. My problem is that one of its dependencies, `servo_url`, doesn't compile unless `malloc_size_of` has the `servo` feature enabled. Enabling the feature creates a dependency on `mozjs`.

It seems a bit excessive for `servo_url` to depend on `mozjs`, so I'm hoping it's not intentional?

Here's the compilation error:

[code]

[2018-02-03 17:02] emilio commented on #19939
It'd be fine I think to split that feature into multiple ones.

[2018-02-03 19:25] GloverDonovan opened #19940 "Move text-emphasis-style outside of mako"
This is a sub-issue of #19015.

I'm fairly new to Rust (but not the web, nor formal languages), so feel free to tell me anything I may need to know. In the meantime, I'll be going through the [Rust book](https://doc.rust-lang.org/book/second-edition/).