[2018-06-12 13:45] emilio commented on #21038
cc @Eijebong, did you ever figure out what was up with that? Given the stack I suspect just Syn's using a lot of stack due to lack of inlining but...

Also, no idea why the stack overflows would be intermittent.

[2018-06-12 13:59] Eijebong commented on #21038
We never figured out what was going on, we set the stack size to 128MB in cssparser's build script and it didn't fix it...

[2018-06-12 14:15] emilio commented on #21038
So, what the hell, there's a `main` thread which is overflowing the stack, but the thread that runs syn is not the main thread. I wonder if it's `cssparser-macros` what's overflowing the stack?

[2018-06-12 17:37] emilio commented on #21038
Tried https://github.com/servo/rust-cssparser/pull/224 on #21036 and looks it was green, so I'm moderately sure that is the root cause.

[2018-06-12 20:12] #21038 closed

[2018-06-13 08:22] nox opened #21041 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/struct/struct_017_to_024.html"
[code]

[2018-06-13 08:38] nox commented on #21038
This stacktrace looks quite bad to me, is it expected that syn produces call stacks that deep @dtolnay?

[2018-06-13 09:29] dtolnay commented on #21038
Thanks for the ping. It looks like this is a consequence of the way we handle precedence of different kinds of expressions. We should be able to do better. I filed https://github.com/dtolnay/syn/issues/442 to follow up.

[2018-06-13 10:06] Moggers opened #21042 "References to `rebrender_api::ScrollPolicy`"
I see many references to `webrender_api::ScrollPolicy`, though that seems to have been removed in https://github.com/servo/webrender/pull/2747.

Is this a PEBCAK?

[2018-06-13 10:16] #21042 closed

[2018-06-13 12:01] #20921 closed

[2018-06-13 14:44] jonathanKingston commented on #20932
A minimal test case is the following:
[code]
In other browser both console logs are `false`.

I added the following PR which fixes the above case:

I'm not sure where the best place for this test? Should it be added upstream to wpt tests? (I don't know how/if Servo handles that like Gecko does)

[2018-06-13 14:55] jonathanKingston commented on #20932
It's also worth noting this doesn't fix the demo either, something else is broken further down.

[2018-06-13 15:50] SimonSapin commented on #21042
Look at `Cargo.lock` to see what version of webrender a particular version of servo is using.

[2018-06-13 18:54] tigercosmos commented on #20701
What do you think we could fix this? I am confused about "it was never widely adopted". Does it mean this is not important at all?

[2018-06-13 19:51] tigercosmos commented on #19265
@jdm Could you point out where is the related code for https://html.spec.whatwg.org/multipage/custom-elements.html#cereactions ?
I try to find it in `components/script/dom/customelementregistry.rs`, but with no result. 😞

[2018-06-13 20:01] #20890 closed

[2018-06-13 20:20] SimonSapin opened #21047 "Intermittent crash in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_navigate_ancestor-1.html"
[code]

[2018-06-13 23:58] KiChjang commented on #20461
@aeweston98 The logic in your verify_webidl.rs makes sense, though I think you can get the DefId of the struct itself by calling [cx.tcx.hir.local_def_id](https://manishearth.github.io/rust-internals-docs/rustc/hir/map/struct.Map.html#method.local_def_id). Have you made any further progress on this?

[2018-06-14 00:09] aeweston98 commented on #20461
@KiChjang  I am in school right now, so I have been busy for a little while and haven't had a chance to progress further. I would like to continue working on it now, if that is ok.

[2018-06-14 03:34] jdm commented on #21047
This is #13492.

[2018-06-14 03:34] #21047 closed

[2018-06-14 03:34] jdm commented on #21041
This is #13492.

[2018-06-14 03:34] #21041 closed

[2018-06-14 03:44] jdm commented on #20461
Ack, I'm sorry for missing the previous comment. You are welcome to continue working on it :)

[2018-06-14 09:19] #20932 closed

[2018-06-14 12:06] CYBAI commented on #20701
@tigercosmos I guess, maybe, it means it's rarely for people to use unicode as domain?

[2018-06-14 14:37] tigercosmos commented on #19265
I am not familiar with CodeGen. What's the purpose of CodeGen? Why we use this way?
I am confused about code like this:
[code]

[2018-06-14 17:03] jdm commented on #19265
The code that is generated by CodeGenRust.py is responsible for:
* creating JS objects that have properties and methods that match WebIDL interfaces
* providing glue code between the JS properties and methods that are implemented in native Rust code
* converting JS value types to native Rust types in well-defined ways

Since each of these is very repetitive and easy to mess up, we generate lots of

[2018-06-14 17:05] jdm commented on #19265
You can find the generated code output for a given Something.webidl in target/debug/build/script-[hash]/out/Bindings/InterfaceBinding.rs.

[2018-06-14 17:07] jdm commented on #20701
https://github.com/servo/servo/blob/master/components/url/origin.rs#L90 is our code that allows access to this. We should presumably remove it and fix any code that relies on it.

[2018-06-14 20:02] asajeffrey opened #21053 "Support window proxy access x-origin http header?"
GitHub issue: https://github.com/whatwg/html/issues/3740

[2018-06-14 20:50] asajeffrey commented on #21053
Following conversation with @mystor and @annevk.

[2018-06-15 00:29] jdm commented on #20355
[code]

[2018-06-15 08:55] nox commented on #20599
I'm quite confused how this should be implemented.

For example in `drawElements`,  we need to look at the indices in `WebGLRenderingContext::bound_buffer_element_array` and check that they all correspond to valid offsets in all enabled vertex attrib arrays, but `WebGLBuffer` doesn't keep a trace of the buffer data on the DOM side.

Should we just keep the buffer data on the DOM side too?

Cc @emi

[2018-06-15 09:51] nox commented on #20599
Actually, isn't Gecko just asking the GL side whether there was an error after the fact?

https://searchfox.org/mozilla-central/source/dom/canvas/WebGLContextDraw.cpp#706-711

[2018-06-15 13:52] vamshi9666 opened #21055 "failed to run custom build command for osmesa-src v18.1.0"
i tried to build servo as mentioned in docs . Initial compilation of some modules went well . And then

`error: failed to run custom build command for osmesa-src v18.1.0-devel (https://github.com/servo/osmesa-src#25825d4c)
process didn't exit successfully:  /home/vamshi/myApps/servo/servo/target/debug/build/osmesa-src-49a3b4693b35b7cc/build-script-build (exit code: 101)`

[2018-06-15 15:09] jdm commented on #21055
Can you include more of the build out? The actual error does not appear in that line.

[2018-06-15 17:19] jdm opened #21057 "Identify webgl benchmarks"
* https://webglsamples.org/aquarium/aquarium.html
* https://files.unity3d.com/jonas/benchmark2015/
* http://www.fishgl.com/
* https://luic.github.io/WebGL-Performance-Benchmark/
* https://github.com/greggman/webgl-benchmarks
* http://webglreport.com/
* https://media.tojicode.com/q3bsp/
* http://madebyevan.com/webgl-water/
* https://browserbench.org/MotionMark/developer.html?test-interval=30&displa

[2018-06-15 22:11] SimonSapin opened #21059 "Update to syn 0.14"
As of https://github.com/servo/servo/pull/21058, the dependency graph contains two versions of each of `syn`, `quote`, and `proc-macro2`.

* [x] https://github.com/servo/webrender/pull/2819
* [x] https://github.com/servo/html5ever/pull/345
* [x] https://github.com/servo/rust-cssparser/pull/223
* [x] FIXME: others

CC @Eijebong

[2018-06-15 22:14] Eijebong commented on #21059
Hey, the only remaining problem I can think of is updating bindgen to quote 0.6 because of doc comments. We can't generate stuff like `/// Foo bar`, it has to be `#[doc=" Foo bar"]`. I'm pretty sure I opened everything else.

 CC @emilio

[2018-06-15 22:15] Eijebong commented on #21059
Also https://github.com/servo/string-cache/pull/207

[2018-06-15 23:02] Eijebong commented on #21059
And https://github.com/rust-lang-nursery/rust-bindgen/pull/1334

[2018-06-17 13:47] alex commented on #15445
Is this still an issue now that https://github.com/servo/rust-mozjs/issues/343 has been fixed?

[2018-06-17 14:40] vamshi9666 commented on #21055
well . here is the log for `./mach build --dev`
`─ ./mach build --dev
   Compiling osmesa-src v18.1.0-devel (https://github.com/servo/osmesa-src#25825d4c)
   Compiling mozangle v0.1.6
   Compiling log v0.3.9
   Compiling gl_generator v0.9.0
   Compiling wayland-scanner v0.12.5
   Compiling libz-sys v1.0.18
   Compiling x11 v2.17.3
   Compiling libdbus-sys v0.1.3
error: failed to run custom build c

[2018-06-17 15:42] jdm commented on #15445
This should no longer be an issue.

[2018-06-17 17:51] tigercosmos opened #21063 "Let the popstate and hashchange events not bubble"
whatwg/html#3737

follow https://whatpr.org/html/3737/b3c7c89...d5ddd1c/browsing-the-web.html#history-traversal

https://github.com/servo/servo/blob/11733d3d8a10353338a40da4cea4b4a2763308c4/components/script/dom/popstateevent.rs#L71-L75

https://github.com/servo/servo/blob/9f142b9c22f77c0cce8ed9d25831314a20ac8bbb/components/script/dom/history.rs#L118-L137

popstateevent.rs line 74 true=>false
hist

[2018-06-18 05:27] JacksonCoder commented on #20357
I think I found what parts of the application handle the HashMap of extensions: `components/script/dom/webgl_extensions/extensions.rs`, but I still can't find the code that initializes the HashMap, or at least not in a way that can be determined at compile time.

[2018-06-18 09:38] nox commented on #20599
I'm utterly lost there, I don't think we even enable `KHR_robust_buffer_access_behavior`, and I don't understand how that extension is used in Gecko.

[2018-06-18 12:47] jdm commented on #20357
@JacksonCoder https://github.com/servo/servo/blob/199471231478425b0de3c29b473764dabfe45cba/components/script/dom/webgl_extensions/extensions.rs#L267-L276 is the code that fills the hashmap.

[2018-06-18 14:12] jdm opened #21066 "compressedTexSubImage2D error tests generate 1282 error in Firefox"
Running the compressedTexSubImage2D.html test in Firefox, I see:
[code]

[2018-06-18 14:44] jdm opened #21067 "Intermittent panic: "Failed to receive a response from live font cache" from get_font_instance (`/encoding/legacy-mb-korean/euc-kr/euckr-decode-windows-949.html?11001-12000`, `/encoding/legacy-mb-japanese/euc-jp/eucjp-decode-cseucpkdfmtjapanese.html?3001-4000`)"
[code]

[2018-06-18 15:36] JacksonCoder commented on #20357
@jdm Thanks, I didn't see that. Do you think that the `rust-phf` crate (https://github.com/sfackler/rust-phf) should be the one we use to generate the compile-time map?

[2018-06-18 15:37] jdm commented on #20357
Yes, that's what we use in other places in the codebase too.

[2018-06-18 16:01] #21063 closed

[2018-06-18 16:52] #20593 closed

[2018-06-18 19:58] nical commented on #20599
We do have some CPU-side code that checks the content of the index buffer in Gecko. See [DrawElements_check](https://searchfox.org/mozilla-central/rev/285da1fd7dcf67448b9175741fa330158edcff73/dom/canvas/WebGLContextDraw.cpp#613) called by [DrawElements(Instanced)](https://searchfox.org/mozilla-central/rev/285da1fd7dcf67448b9175741fa330158edcff73/dom/canvas/WebGLContextDraw.cpp#723), in particular

[2018-06-19 06:50] paulrouget commented on #10309
Confirmed.

[2018-06-19 06:50] #10309 closed

[2018-06-19 13:22] jdm opened #21070 "Intermittent timeout in /domparsing/interfaces.any.worker.html"
[code]

[2018-06-19 16:35] wayling commented on #20958
Hi all,
I complie with standalone mozjs-0.7.1 but got many error message.
https://gist.github.com/wayling/5c37e4cc3cee70267c4414e0eaee4888
Has someone can help me??

My compile command.
export NDK_ANDROID_VERSION=18
export CXXFLAGS="-v -D__ANDROID_API__=18 -I/home/wayling/android_tool/android-ndk-r12b/sources/cxx-stl/llvm-libc++/libcxx/include/ -I/home/wayling/android_tool/android-ndk-r12b/sources

[2018-06-19 17:30] jdm commented on #20958
@wayling That should be fixed if you build the latest master revision.

[2018-06-19 18:05] jdm commented on #20958
And these are the latest variables I used to compile:
[code]

[2018-06-19 20:50] jdm commented on #12975
An initial attempt exists in #17681 but was abandoned.

[2018-06-19 21:30] jdm commented on #20948
This would be fixed by #20650.

[2018-06-19 21:32] jdm commented on #20650
Since this requires implementing a new interface, it would be required to follow [the docs](https://doc.servo.org/script/dom/index.html#adding-a-new-dom-interface) (or [this guide](http://jeenalee.com/2016/10/03/implementing-doge-for-servo.html)). This would also require implementing the [createImageBitmap](https://html.spec.whatwg.org/multipage/webappapis.html#windoworworkerglobalscope) API for W

[2018-06-19 21:33] jdm commented on #20946
This would be fixed by #19904.

[2018-06-19 21:36] #20219 closed

[2018-06-19 21:39] jdm commented on #20803
This should be fixed by #21026.

[2018-06-19 21:39] jdm commented on #20801
This should be fixed by #21026.

[2018-06-19 21:41] jdm commented on #13287
See also #21057.

[2018-06-19 21:43] jdm commented on #10274
CEF is not in the tree any more.

[2018-06-19 21:43] #10274 closed

[2018-06-20 14:19] #20958 closed

[2018-06-20 21:03] kwonoj opened #21073 "Scroll doesn't bubble up on <pre> element in servo.org"
![mouse](https://user-images.githubusercontent.com/1210596/41684450-55b9ba04-7492-11e8-829c-7f948d929876.gif)

I think title doesn't describe exactly, attached recording. When scrolling event occurs while focused to servo windows but none of inner elements scroll event scrolls whole document correctly. If focus went to `<pre>` element in servo.org by clicking it, now event does not bubble up and s

[2018-06-21 05:15] kwonoj opened #21076 "Cannot open servo.org on windows"
[code]

On latest TOT of master / Windows 10 / VS2017, tried with 2 different machines.

Interestingly, other pages like `google.com` or `mozilla.org` opens fine, but immediately crash on `servo.org`.

[2018-06-21 06:08] jdm commented on #21076
Sounds like #20899.

[2018-06-21 06:11] kwonoj commented on #21076
Looks similar, but unlike @tigercosmos 's cases it doesn't show windows error dialog but exits immediately.

Will try to attach windbg if I can grab some stacks.

[2018-06-21 08:34] kwonoj commented on #21076
Actual exception seems coming from around here. https://github.com/servo/servo/blob/8f84f893a7444cb28405774613f4eb4c82a0d076/components/net/connector.rs#L65

[2018-06-21 12:13] hgallagher1993 opened #21077 "S3TC compressed textures not supported."
Was looking at #21057 and tried running http://www.fishgl.com/ twice. The first time it started to load a bit and then the screen just went black and came back with

[code]

Second time it crashed completely.

[code]

[2018-06-21 12:21] emilio commented on #21077
FWIW both [Gecko](https://searchfox.org/mozilla-central/rev/d0a41d2e7770fc00df7844d5f840067cc35ba26f/gfx/gl/GLContextProviderGLX.cpp#74) and [Chromium](https://cs.chromium.org/chromium/src/ui/gl/gl_surface_glx.cc?l=411&rcl=5d4cadebbcb4e730c34513f052ccb075d2de1172) force-enable compression in mesa at startup.

Of course not sure whether that's the cause of the crash. The crash looks like a driver b

[2018-06-21 13:12] hgallagher1993 commented on #21077
It works perfectly in Firefox (nightly) and Chrome (stable) so if both them work perfectly for me, no errors and only Servo doesn't could it still be a driver bug?

[2018-06-21 13:30] jdm commented on #21076
Wow. So this is presumably a regression from https://github.com/servo/servo/commit/9fb5795f3720bc090b221ed0850fb95b24704cb7, but I'm a bit terrified that we're crashing inside str::find.

[2018-06-21 13:30] jdm commented on #21076
@asajeffrey Do you have access to a Windows machine that can reproduce this?

[2018-06-21 14:41] asajeffrey commented on #21076
I've got a Windows VM that I've been using for SM testing. I can try building servo in it. The function that's crashing is https://doc.rust-lang.org/src/core/str/pattern.rs.html#1114:
[code]
which is odd to say the least.

[2018-06-21 15:08] emilio commented on #21077
Yeah, potentially, all browsers have different WebGL architecture, so it may make the driver take different code paths. Does Servo crash on your machine running it with:

[code]
?

[2018-06-21 20:07] hgallagher1993 commented on #21077
Nope no crash, loads the Servo home page straight away, no warnings or anything.

[2018-06-21 22:53] emilio commented on #21077
Well, I meant running http://www.fishgl.com/, that is:

[code]

[2018-06-22 00:09] kwonoj commented on #21076
I tried couple of more but hard to dig down more. weirdly enough, if not add cert (`ssl_connector_builder.cert_store_mut().add_cert`) servo doesn't crash (of course handshake fails) - but it really doesn't add up with stacktrace of where it blows. Was thinking of memory corruption around mut and unsafe code, also doesn't look like the direct culprit.

[2018-06-22 01:46] kwonoj commented on #21076
I have dedicated win dev machine, so if there's any idea to try out let me know @jdm, @asajeffrey - I can dig down bit more from there.

[2018-06-22 02:58] gterzian commented on #20802
I'll look into this a bit further, I have a hunch that this is due to 'refreshing' a cached entry in response to a 304, when the cached entry is in fact still receiving data, see https://github.com/servo/servo/blob/388a6f80ac5100844c063475c655a74639050821/components/net/http_cache.rs#L640

The solution in that case would be to check `cached_resource.body`, and if it is a `ResponseBody::Receiving(.

[2018-06-22 03:56] asajeffrey commented on #21076
@kwonoj If you've got VS installed, you could try running servo inside the debugger and see what heppens. You can just open the servo binary (target/debug/servo) as a project, there's enough debug symbols to see stack traces etc. even in Rust code.

[2018-06-22 06:42] kwonoj commented on #21076
OK, this gets interesting and confusing both way.

### Exception location
windbg and vs shows different position where exception occurs, while latter seems more legit then `str::find`. it is here:

https://github.com/servo/servo/blob/388a6f80ac5100844c063475c655a74639050821/components/gfx/platform/windows/font.rs#L200

![image](https://user-images.githubusercontent.com/1210596/41761594-be6c532a-75

[2018-06-22 07:09] hgallagher1993 commented on #21077
Sorry I should've said ran that as well it didn't crash either it basically just froze, like it loaded to 100% and went to the next screen but the fish tank never loaded. I can see the door and shelves and the red alarm and whatever else but just no fish tank.

[2018-06-22 11:36] nox opened #21082 "Intermittent crash in /css/CSS2/backgrounds/background-color-075.xht"
[code]

[2018-06-22 13:00] nox commented on #20791
I added a list of extensions to implement in the issue text.

[2018-06-22 13:50] asajeffrey commented on #21076
@kwonoj Ah, that looks more likely! Perhaps the font value is invalid? Can you use an inspector to look at it?

[2018-06-22 13:57] kwonoj commented on #21076
What should I specifically need to look into? I checked font property itself installed in windows and it looked ok (it's one of system default)

[2018-06-23 03:17] asajeffrey commented on #21076
The second exception is when the font weight is serialized to webrender, so both crashes are suggesting that the font is malformed. @KiChjang are you on windows? Can you replicate this?

[2018-06-23 06:20] kwonoj commented on #21076
I did quick traverse, https://github.com/servo/servo/commit/691c6c6f1a50ca78850fc56d00c8759797c7cc96#diff-0d0ef7f9b4fc6ed999b5188837494128 was commit starting having this issue. Looks like fallback now includes some fonts, like incluing `Yahei` (https://github.com/servo/servo/commit/691c6c6f1a50ca78850fc56d00c8759797c7cc96#diff-e9feb0f4e2ff9f8d3386bf0b33a1e284R250) which reveals underlying issue a

[2018-06-23 09:28] KiChjang commented on #21076
Hmm, I'm also getting the following:
[code]

[2018-06-23 14:35] asajeffrey commented on #21076
The illegal instruction is most likely caused by a panic handler panicking.

[2018-06-23 16:12] atouchet commented on #19467
This was reported to have been fixed.

https://github.com/servo/servo/pull/19470#issuecomment-393886779

[2018-06-23 16:12] #19467 closed

[2018-06-23 16:16] CYBAI commented on #19467
@atouchet Thanks!

[2018-06-23 16:44] #20802 closed

[2018-06-23 22:44] kwonoj commented on #21076
When I run servo on plain cmd, I also don't see those illegal instructions. I only observed it on zsh with RUST_BACKTRACE=full, but not sure either env or shell affects output differences.

[2018-06-24 09:41] CYBAI commented on #21082
Maybe this one should be labeled with `I-intermittent`?

[2018-06-25 04:10] gw3583 opened #21092 "Snapping issues"
Servo does not generally apply snapping / rounding to most parts of layout (for example font line height, stacking context offsets etc).

Some recent changes in WR cause a significant number of tests to fail, due to the lack of snapping / rounding in Servo. We need this change to remain in WR as it fixes some artifacts when text is animating (which was noticed in Gecko).

We are (for now) confiden

[2018-06-25 08:48] paulrouget opened #21093 "mozjs_sys + target=android-i686: Rust compilation error"
`./mach build --target=i686-linux-android -d`

[code]

[2018-06-25 09:45] paulrouget commented on #21093
Message appeared after 2544db1e79bac7234b4cfe54d1f5281954049ac1

[2018-06-25 09:46] paulrouget commented on #21093
@asajeffrey @jdm is away. Maybe you can help.

[2018-06-25 10:11] SimonSapin commented on #21093
I think there may be a rustc bug causing the error message to show the wrong span of source, and a bindgen bug causing an invalid cast to be emitted. It would help to look at the generated `jsapi.rs` file to see what `u64` value is cast to `[u32; 2]` with the `as` operator and why.

[2018-06-25 12:48] paulrouget commented on #21093
Not sure where this is failing. Can't find an obvious culprit: https://gist.github.com/paulrouget/1700b9da726208d4022f1fe2e4ecb610

[2018-06-25 12:48] asajeffrey commented on #21093
Does mach build --android work?

[2018-06-25 13:03] asajeffrey commented on #21093
Also, you may be picking up an old jsapi.rs, try removing it and see if that helps.

[2018-06-25 13:06] asajeffrey commented on #21076
Could be that the stack is malformed, causing printing the backtrace to panic?

[2018-06-25 13:15] SimonSapin commented on #21093
[code]

[2018-06-25 13:21] asajeffrey commented on #21093
Which in my copy of jsapi.rs (generated on and for linux) is:
[code]
@emilio any ideas what's going on here?

[2018-06-25 13:34] emilio commented on #21093
Yeah, this is because uint64_t is 4-byte aligned in that arch. This is a bindgen bug since it's not supposed to care about alignment in this case, but I couldn't repro with:

[code]

Which generates the following for `./target/debug/bindgen test.h -- -x c++ --target=android-i686`:

[code]

So a test-case for this would be extremely helpful.

[2018-06-25 13:43] emilio commented on #21093
https://searchfox.org/mozilla-central/rev/39b790b29543a4718d876d8ca3fd179d82fc24f7/js/public/HashTable.h#1224 is the relevant data structure if I'm not wrong... https://github.com/rust-lang-nursery/rust-bindgen/pull/1339 is a potential fix for this, though a repro would be nice.

[2018-06-26 14:02] asajeffrey commented on #21076
I finally got in front of a windows machine where I could replicate this. So that's progress, even if I still don't understand what's going on!

[2018-06-26 15:58] asajeffrey commented on #21076
@kwonoj Glad to have you on board! I'm afraid until we know what's causing this it's difficult to know what the scope of the fix is :(

[2018-06-26 15:59] kwonoj commented on #21076
True, finding out exact cause would be first thing.

[2018-06-27 03:05] atouchet commented on #20833
This no longer appears to be an issue.

[2018-06-27 03:05] #20833 closed

[2018-06-27 03:14] atouchet commented on #13942
@cbrewster did #20638 implement History.replaceState?

[2018-06-28 10:12] gterzian commented on #19309
If no one is doing this, I would be interested...

[2018-06-28 16:01] asajeffrey commented on #21093
@emilio Hmm, running test.h through bindgen without the `--target` flag produces:
[code]
which includes the `foo` and `bar` methods that cause the problem. These methods aren't generated by the command-line bindgen, but apparently are when servo uses bindgen. Is there a flag to bindgen to get it to treat a type as a bitfield rather than an opaque.

Also, the opaque type generated is `[u32; 2usize]

[2018-06-28 16:38] asajeffrey commented on #21093
Looks like we can work round this, by declaring `js::detail::HashTable.*` to be opaque. I'll submit a PR doing this.

[2018-06-28 16:43] asajeffrey commented on #21093
I have a branch with the workaround: https://github.com/asajeffrey/mozjs/tree/opaque-hashtable

@paul: can you check to see if using this fixes your problem?

[2018-06-29 07:06] NiLSPACE opened #21100 "Zooming in on Android causes fonts to overlap"
After scrolling down the issue still persists.
<br />

Here is a screenshot:
<details>
<summary>Screenshot</summary>

![thumbnail_screenshot_20180629-082939](https://user-images.githubusercontent.com/1160867/42077568-a6fbfcf4-7b79-11e8-9f7b-87083503644b.png)
</details>

<br />
<br />

Also, here is a bad quality GIF showing the issue:
<details>
<summary>GIF</summary>

![ezgif-2-089cd194ee](https:/

[2018-06-29 07:10] gterzian commented on #19309
I propose making this about implementing the following:

1. https://html.spec.whatwg.org/multipage/window-object.html#dom-window-stop
2. https://html.spec.whatwg.org/multipage/browsing-the-web.html#abort-a-document

and also adding a hook at the embedding level via the escape key, to perform a `window.close()`.Although currently we don't have the concept of an "foreground, top-most document", so m

[2018-06-29 09:00] paulrouget commented on #21093
@asajeffrey this fixes it! Thank you.

[2018-06-29 09:14] paulrouget commented on #19309
Works for me.

[2018-06-29 12:50] gterzian commented on #19309
Also worth noting:

""abort" Event Isn't Fired When Aborting Document Load" https://github.com/whatwg/html/issues/3525

"add test for aborting a document load" https://github.com/web-platform-tests/wpt/pull/9933

[2018-06-29 15:27] ljgww opened #21101 "Building Servo on Ubunty14 (mozjs issue)"
Building servo takes time but it is mostly fine. In spite that I did not manage to make it, the fact is - code is large, so it is not unexpected to fail. I have tried to build large stuff before and run into various problems with various results (sometimes successful sometimes not). This one was almost success.

This is first time I am trying to compile something based on Rust that is large, and I

[2018-06-29 15:49] asajeffrey commented on #21101
I'm glad you're trying out servo, sorry you're having build problems.

What version of Clang do you have? You may need to install a recent one, then set `LIBCLANG_PATH`, e.g. to `/usr/lib/llvm-6.0/lib`.

[2018-06-29 18:51] ljgww opened #21106 "Cooking Servo on Ubuntu14 (dependency issue)"
I tried to build Servo using master branch.
Prerequisites as specified on https://github.com/servo/servo#setting-up-your-environment currently given as:

    sudo apt install git curl autoconf libx11-dev \
    libfreetype6-dev libgl1-mesa-dri libglib2.0-dev xorg-dev \
    gperf g++ build-essential cmake virtualenv python-pip \
    libssl1.0-dev libbz2-dev libosmesa6-dev libxmu6 libxmu-dev \
    li

[2018-06-29 18:53] ljgww commented on #21101
looks like I have:

    llvm-3.4/
    llvm-3.6/

will try to go to 6.x

[2018-06-29 19:01] ljgww commented on #21101
Arrived to 3.9 (llvm-3.9)
cant go further ... (certainly not to 6.0)

[2018-06-29 19:06] asajeffrey commented on #21101
3.9 should be fine.

[2018-06-29 19:06] ljgww commented on #21101
Actually there is CLang 6.0.1 but I would need to build it. (having previous experience with Ubuntu I will try but not sure I would make it, usually if update did not come from Ubuntu, compiling from source for something new usually breaks something in Ubuntu itself.

[2018-06-29 19:07] SimonSapin commented on #21106
The reason you get different lines on each run is: to take advantage of multiple CPU cores, Cargo starts the compilation of multiple crates (packages) in parallel. When one of them, it stops starting new compilation jobs, but waits for the other running ones to finish. So as long as there is something else that does not depend on `mozjs_sys` that is still not built, restarting the build will make

[2018-06-29 19:14] ljgww commented on #21101
Judging from this (compiling) output:

          PYTHON="python2" MOZ_TOOLS="" \
	  CC="gcc" CPP="gcc -E" CXX="g++" AR="ar" \
	  /home/lj/.cargo/registry/src/github.com-1ecc6299db9ec823/mozjs_sys-0.51.2/mozjs/js/src/configure --disable-jemalloc --disable-js-shell --disable-tests --build-backends=RecursiveMake --enable-sm-promise --disable-shared-js || (cat config.log && exit 1) ;

does not look to

[2018-06-29 20:12] ljgww commented on #21106
OK

    ~/dev/rust/servo/servo$ clang --version
    clang version 3.9.1-4ubuntu3~14.04.3 (tags/RELEASE_391/rc2)
    Target: x86_64-unknown-linux-gnu
    Thread model: posix
    InstalledDir: /usr/bin
    ~/dev/rust/servo/servo$ ./mach build --dev

and, failed again. https://gist.github.com/ljgww/a405854be742db26d820536f5b1f9165#file-clang3-9-servo_build-txt

I have mentioned in another posting (se

[2018-06-29 20:57] SimonSapin commented on #21106
CC @emilio regarding bindgen finding libclang

[2018-06-29 21:24] ljgww commented on #21106
btw #21101

[2018-06-29 21:52] asajeffrey commented on #21101
Building the mozjs_sys crate uses bindgen, which uses clang.

[2018-06-29 23:11] ljgww commented on #21101
Understood. Thank you. This explains cryptic answer in another issue/thread.

[2018-06-30 03:14] kwonoj commented on #20505
Latest winit have support for hidpi across platform (https://github.com/tomaka/winit/blob/master/CHANGELOG.md#version-0160-2018-06-25) . I tried to bump but realized lot of other dependencies needed to be updated as well, such as servo-skia.

[2018-06-30 09:20] SimonSapin opened #21108 "The CI infra is busted, late June edition"
The homu queue was stuck this morning, with 6 PRs ready but none pending, and buildbot being idle. After restarting them both, homu went through the entire queue and everything failed with:

[code]

[2018-06-30 09:32] SimonSapin commented on #21108
CC @edunham @aneeshusa @jdm

[2018-06-30 10:15] SimonSapin commented on #21108
Free RAM on linux builders:

[code]

`servo-linux-cross3` is the outlier, and seems to match failing jobs. Its `/usr/bin/python /usr/local/bin/buildslave start --nodaemon /home/servo/buildbot/slave` process is using 4.7 GB RSS while idle. For comparison, on `servo-linux-cross2` the same process takes 22 MB.

Clicking "Graceful shutdown" on http://build.servo.org/buildslaves/servo-linux-cross3 solv

[2018-06-30 11:00] ljgww commented on #21101
I have managed to download clang/llvm6 binaries (http://releases.llvm.org/6.0.0/clang+llvm-6.0.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz) and the compiler looks like working.

    ~/dev/rust/clang+llvm-6.0.0-x86_64-linux-gnu-ubuntu-14.04$ ./bin/clang --version
    clang version 6.0.0 (tags/RELEASE_600/final)
    Target: x86_64-unknown-linux-gnu
    Thread model: posix
    InstalledDir: /home/lj/dev/r

[2018-06-30 13:03] #21093 closed

[2018-06-30 13:40] SimonSapin commented on #21108
Current status: infra seems to be unblocked (https://github.com/servo/servo/pull/21102 has landed), but it is running at reduced capacity. `servo-linux-cross3` is not connected to buildbot because I shut it down and didn’t figure out how to bring it back up. `servo-mac1` and `servo-mac5` are as well, but I don’t know why.

[2018-06-30 13:55] asajeffrey commented on #21101
You can specify where to find the clang library by setting LIBCLANG_PATH to be the directory containing the clang library, e.g. for me it's
[code]
I'm a bit surprised compilation fails with clang 3.9, can you point me to a log?

[2018-07-01 07:47] gravaton opened #21110 "echfegrvbdhidehdkvdulikfcg"

[2018-07-01 07:47] #21110 closed

[2018-07-02 01:15] kwonoj commented on #21076
Fyi for minimal reproducible code:

[code]

reading `weight` for `Yahei Light*` will blow up exception, came to think this is somewhat upstream related in `dwrote`.

[2018-07-02 01:52] asajeffrey commented on #21076
Great detective work! Do you want to file an issue in dwrote?

[2018-07-02 01:54] kwonoj commented on #21076
Plan to do, digging bit more around what actually happening to file description for issue.

[2018-07-02 02:06] ljgww commented on #21101
I have updated Python in the meantime and it (python) is currently unstable.
This reflects on building servo (AFAIK)
As soon as I manage to make my Python stable I will retry compiling servo.

[2018-07-02 03:02] kwonoj commented on #21076
@asajeffrey ok, filed https://github.com/vvuk/dwrote-rs/pull/12 for upstream PR / issue.

[2018-07-02 03:44] kwonoj commented on #21076
actually seems https://github.com/servo/dwrote-rs/pull/8 is right place?

[2018-07-02 05:49] gterzian commented on #19309
Also worth noting:
When to "fail the connection" of an EventSource? https://github.com/whatwg/html/issues/3789

[2018-07-02 07:55] kwonoj commented on #20505
@paulrouget not directly, it includes cherrypick of my commits with patched skia (https://github.com/servo/servo/pull/21087/files#diff-80398c5faae3c069e4e6aa2ed11b28c0R19), guess that patch made work to remove duplicated dependencies. I was thought of waiting skia bump to pickup latest glutin.

[2018-07-02 08:02] gterzian opened #21112 "EventSource should use 'remote event task source'"
Currently, the networking task source is used to queue tasks scheduled by the EventSource object. See for example https://github.com/servo/servo/blob/c71c55e542c57f6ec4e5e77be750f74f50340e56/components/script/dom/eventsource.rs#L124

The spec says that we should use the [remote event task source](https://html.spec.whatwg.org/multipage/l#remote-event-task-source)

The current situation can create p

[2018-07-02 08:04] gterzian opened #21113 "Forcibly close EventSources as part of Document unloading"
https://html.spec.whatwg.org/multipage/#unloading-documents:concept-eventsource-forcibly-close

Blocked by https://github.com/servo/servo/issues/19309

I might end up doing it as part of 'document aborting'

[2018-07-02 08:19] gterzian opened #21114 "Aborting a document shoud only cancel tasks from the networking task source"
Currently, when aborting a document, we cancel all tasks, see https://github.com/servo/servo/blob/c71c55e542c57f6ec4e5e77be750f74f50340e56/components/script/dom/document.rs#L2034

The spec says we shoud be "Cancel any instances of the fetch algorithm in the context of document, discarding any tasks queued for them", which I read as saying 'cancel all networking tasks, not all tasks".  https://html

[2018-07-02 08:28] gterzian opened #21115 ""Make disappear" websockets as part of document unloading clean-up steps"
Spec:
1: Unloading cleanup: https://html.spec.whatwg.org/multipage/#unloading-document-cleanup-steps
2: Make disappear: https://html.spec.whatwg.org/multipage/#make-disappear

Code: https://github.com/servo/servo/blob/c71c55e542c57f6ec4e5e77be750f74f50340e56/components/script/dom/document.rs#L1766

Could this have anything to do with those timeouts in the websocket test suite? I don't know...

[2018-07-02 16:58] SimonSapin opened #21116 "Gate PRs on some tests running in an Android emulator on CI"
https://github.com/servo/servo/pull/21094 adds `./mach test-android-startup`, a minimal test based on the Android emulator. A next step (in addition to running more tests, such as a subset of WPT) is to add it somewhere in `etc/ci/buildbot_steps.yml` so that PRs need to make it pass before landing.

However, the current configuration of `./mach test-android-startup` runs an emulator for Android x8

[2018-07-02 17:50] SimonSapin commented on #21116
I have now managed to start Servo on emulated ARM with the API level 25 system image, but this was on a Macbook without giving a `-gpu` flag when starting the emulator, so it probably used the host’s hardware GPU. This configuration is likely not available on "normal" AWS EC2 machines that do not have a GPU.

[2018-07-02 17:54] SimonSapin commented on #21116
`-gpu swiftshader_indirect` also seems to work on mac (still with ARM), although it did not on my Linux desktop…

[2018-07-02 21:35] edunham commented on #21108
Cross3 is back -- `service buildbot-slave start` on the host fixed it, though highstate errored.

[2018-07-02 23:14] SimonSapin commented on #21108
Thank you!

[2018-07-02 23:14] #21108 closed

[2018-07-02 23:19] SimonSapin commented on #21116
It turns out this isn’t quite the case! With `-no-accel` it doesn’t need KVM, but of course CPU emulation is a slow as for ARM. Also it prints:

[code]

… which probably means that this isn’t a supported configuration and that they might not be fixing bugs in it.

Some simple programs do run correctly, but Servo gets another startup crash. With an unhelpful stack trace, despite debug mode.

[code]

[2018-07-03 10:38] yangchengjian commented on #20148
I also met the same problem. The 'fake-ld-arm v7.sh' command was also manually executed, but the correct libservo.so could not be obtained and it was not known where the 'fake-ld-armv7.sh' was executed by the project.

[2018-07-03 14:43] gterzian opened #21119 "TaskSource-specific TaskCanceller"
In order to support stuff like https://github.com/servo/servo/issues/21114, we need the ability to cancel tasks in a more granular way, at the level of 'per tasksource'.

Currently 'cancelling' tasks is basically dependent on the [ignore_further_async_events](https://github.com/servo/servo/blob/1f9b07637ea960f6b3d4004f832951ad9b6b48ed/components/script/dom/window.rs#L251) field on `Window`, which

[2018-07-03 15:09] gterzian commented on #21119
And perhaps an 'easy' way to make the switch is with a default implementation that just calls `task_canceller`, and only overriding it for task source that would nee

[2018-07-03 23:03] jdm commented on #21116
To get a better backtrace, follow https://github.com/servo/servo/pull/20912#issuecomment-398494749.

[2018-07-04 02:21] russelltg commented on #8539
It seems a good way to mitigate the problem with the difference in format for the json created by serde_json and the current prefs.json would be using serde's flatten attribute:

[code]

[2018-07-04 04:49] InquisitivePenguin opened #21122 "In WebGLExtensions struct, misspelled method name 'get_suported_extensions'; should be 'get_supported_extensions'"
This is a very small issue, but the WebGLExtensions struct (in `components/script/dom/webgl_extensions/extensions.rs`) has a spelling error in it's method `get_suported_extensions`; it should be `get_supported_extensions` ([link](https://github.com/servo/servo/blob/3c43fa6b1ddf815b95f8924640228587304ede01/components/script/dom/webgl_extensions/extensions.rs#L146)). The only usage I could find of t

[2018-07-04 07:53] SimonSapin commented on #21116
Thanks, though the warning suggests that x86 emulation without KVM is a configuration that is not supported at all and probably buggy (in addition to being very slow), so I don’t know that this lead is worth exploring further.

With @larsbergstrom and @edunham we’ve been chatting on IRC about getting servers from https://www.packet.net/bare-metal/servers/ in order to run the emulator with KVM. The

[2018-07-04 08:05] #20761 closed

[2018-07-04 10:54] jdm commented on #21119
That implementation makes sense to me!

[2018-07-04 15:03] marinintim opened #21123 "First build failed at macOS [pypi certificate]"
Hi, I'm trying to build Servo on macOS (High Sierra).

As far as I understand, the issue is not with servo itself, but I want to track this issue there as well (so others could find it more easily)

[code]

[2018-07-04 15:34] atouchet commented on #20505
Did #21087 fix this?

[2018-07-04 15:49] atouchet commented on #12130
Should this be added to the [Android MVP project](https://github.com/servo/servo/projects/3)?

[2018-07-04 15:51] atouchet commented on #15776
Was any of this work ever finished? Should this issue be integrated with the [Android MVP project](https://github.com/servo/servo/projects/3)?

[2018-07-04 15:56] paulrouget commented on #15776
Related:

- https://github.com/servo/servo/issues/20855
- https://github.com/servo/servo/pull/20912

[2018-07-04 15:56] paulrouget commented on #12130
Related:

- #20855
- #20912

[2018-07-04 16:20] FallingSnow commented on #20505
Just tried latest nightly on X11, Arch Linux, Gnome 3.28.2. Nothing but a grey window now.
![screenshot from 2018-07-04 09-18-57](https://user-images.githubusercontent.com/2512197/42287470-50bd05d6-7f6b-11e8-94ab-0bf632c26b8a.png)

[2018-07-04 16:49] FallingSnow commented on #20505
Never mind, just much slower at loading than previously. The scaling issue seems to be partially correct on X11 now. Partially because the scaling on gnome is set to 200% but servo is rendering at 100%.

[2018-07-04 17:43] SimonSapin opened #21124 "New 'android-x86' CI job on (a) new server(s) at packet.net"
Currently the `android` job specified in `etc/ci/buildbot_steps.yml` runs on `servo-linux-cross*` builders which are virtual machine on AWS EC2. Per https://github.com/servo/servo/issues/21116, we need an a non-virtual CPU so that the Android emulator can use KVM with Inter VT-x. https://www.packet.net/bare-metal/servers/ seems to be a good candidate, it is also being considered for GeckoView test

[2018-07-04 19:46] JacksonCoder commented on #20357
I'm almost finished, I'll make a PR either today or tomorrow. I tried to find an idiomatic way to create a list of types so I could could just generate the map in `build.rs` based on a single, constant list of types. Unforunately, the only crate I was able to find that could do that was `typemap`, and since I had to impl the Key trait for each type I wanted in the map, I decided it just was easier

[2018-07-04 20:46] jdm commented on #20357
The changes should be covered by the existing webgl tests.

[2018-07-05 05:27] paulrouget opened #21127 "Package ServoView into a AAR, and also expose a Surface"
#20912 introduces a ServoView element, packaged within a APK. This will be useful for Firefox Focus. We also want to expose a Surface-compatible renderer for Firefox Reality.

We need to:
- import ServoSurface.java and ServoLooper.java from https://github.com/paulrouget/AndroidServoView/tree/crow/geckoview/src/main/java/org/mozilla/geckoview
- package all 3 components into a AAR

[2018-07-05 08:38] paulrouget commented on #20847
This is fixed now. Thanks!

[2018-07-05 08:38] #20847 closed

[2018-07-05 14:51] CYBAI commented on #21123
[code]

Seems you've already failed to install the pip module due to SSL error.
Could you try to check your OpenSSL version in python ?

[code]

Ref: https://github.com/pypa/pip/issues/5226#issuecomment-392492858

[2018-07-06 13:12] marinintim commented on #21123
@CYBAI:

[code]

[2018-07-06 15:10] SimonSapin commented on #21124
I may be able to manage this based on https://github.com/servo/saltfs/blob/master/docs/salt.md#setting-up-a-new-salt-minion, I’ll try and report back once billing is set up.

[2018-07-06 17:43] kleinph opened #21130 "style: Move float outside mako"
I like to take this one as sub issue of #19015 .

[2018-07-06 18:16] aeweston98 commented on #20461
@jdm Sorry for the slow progress. The past few weeks have been very busy with midterms and co-op interviews. I have been making some progress on using the webidl crate to parse the files. I will try to have some results and/or questions by the end of the weekend. Thanks!

[2018-07-06 19:28] nox opened #21132 "Support preserveDrawingBuffer's WebGL context option"
Some failures are due to it being missing.

* `/_mozilla/webgl/conformance-1.0.3/conformance/attribs/gl-vertex-attrib-render.html`
* `/_mozilla/webgl/conformance-1.0.3/conformance/buffers/buffer-data-array-buffer-delete.html`
* `/_mozilla/webgl/conformance-1.0.3/conformance/context/premultiplyalpha-test.html`

[2018-07-06 19:39] jdm commented on #20461
@manishearth Is this redundant with the PR you merged recently?

[2018-07-06 19:43] Manishearth commented on #20461
Yes, however mine is a somewhat hacky bridge between the Rust codegen and Python codegen, so improving it would be nice. But not much of a priority.

[2018-07-06 20:00] nox opened #21133 "Properly check that WebGL objects are passed to the right WebGL context"
Failures:

* `/_mozilla/webgl/conformance-1.0.3/conformance/context/incorrect-context-object-behaviour.html`
* `/_mozilla/webgl/conformance-1.0.3/conformance/context/resource-sharing-test.html`

[2018-07-07 15:58] SCpSCp commented on #19015
./mach  /x/  /SŞ/  [RSS]  (split)

[2018-07-07 16:02] SCpSCp commented on #19015
0g
$python  0g
servo/servo;
friend;

[2018-07-07 18:21] larsbergstrom commented on #21124
Packet.net account is created; credentials in 1password.

[2018-07-07 21:54] nox opened #21136 "Implement attribute aliasing check in WebGL"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.31
https://searchfox.org/mozilla-central/source/dom/canvas/WebGLProgram.cpp#1317-1341

Failures:

 * `/_mozilla/webgl/conformance-1.0.3/conformance/attribs/gl-bindAttribLocation-aliasing.html`

[2018-07-07 21:55] nox commented on #20594
Some demos rely on compressed textures.

[2018-07-07 22:04] nox commented on #13662
Just tried it right now, it says:

[code]

and then it succeeds, so we should probably keep it disabled for now.

[2018-07-08 05:48] CYBAI opened #21138 "Outline drawing behavior for boxes with negative sizes"
Refer to https://github.com/w3c/csswg-drafts/issues/2892

Here's the Servo (built with bd0c001218) screenshot

#### First Case

<img width="1021" alt="default" src="https://user-images.githubusercontent.com/6782666/42417148-b1ea2946-82b4-11e8-9020-70e09538df9b.png">

HTML:
<details>

[code]

</details>

#### Second Case

<img width="1014" alt="default" src="https://user-images.githubusercontent.co

[2018-07-08 11:15] #13165 closed

[2018-07-08 11:15] #20655 closed

[2018-07-08 15:00] SimonSapin commented on #21124
`servo-linux-kvm1.servo.org` is deployed. The `install_salt.sh` script fails because "https://repo.saltstack.com/apt/ubuntu/18.04/amd64/archive/2016.3.3/SALTSTACK-GPG-KEY.pub is 404. It does exist with e.g. 16.04 instead of 18.04, or 2017.7.7 instead of 2016.3.3.

Is the Salt minion compatible with a master of a different version?

[2018-07-08 15:05] SimonSapin commented on #21124
https://docs.saltstack.com/en/latest/faq.html#can-i-run-different-versions-of-salt-on-my-master-and-minion

[2018-07-08 18:12] atouchet commented on #7635
This is no longer an issue. The page now loads.

[2018-07-08 18:12] #7635 closed

[2018-07-08 19:43] kleinph commented on #19015
I would like to take `float` (and `clear` if the first one is successful). I already created issue #21130 (and a PR) for that.

[2018-07-08 19:43] SimonSapin commented on #21124
Downgraded to 16.04 and submitted https://github.com/servo/saltfs/pull/850

[2018-07-09 08:36] nox commented on #20534
This is needed for at least #20555.

[2018-07-09 13:04] nox commented on #20791
I implemented `ANGLE_instanced_arrays` in #21129.

[2018-07-09 13:17] paulrouget commented on #21127
Work in progress. See my branch: https://github.com/paulrouget/servo/tree/aar3

[2018-07-09 14:37] #21136 closed

[2018-07-09 14:37] #20563 closed

[2018-07-09 14:47] jdm commented on #11995
@christianpoveda Did you make any progress on this?

[2018-07-09 15:05] atouchet commented on #20928
@nox did #21129 fix this?

[2018-07-09 15:08] nox opened #21144 "Steal Firefox knowledge about WebGL context robustness"
https://searchfox.org/mozilla-central/source/gfx/gl/GLContext.cpp#399

[2018-07-09 16:45] jdm opened #21145 "WPT sync is broken by renamed file with different case"
https://github.com/web-platform-tests/wpt/commit/b23f2ac412b4b104f21ef7a724ead853e2fa0afa

Syncing this commit causes this tidy error:
[code]

[2018-07-09 16:45] highfive commented on #21145
cc @aneeshusa

[2018-07-09 16:56] jdm commented on #21145
https://github.com/web-platform-tests/wpt/issues/11864 is also preventing syncing anything.

[2018-07-09 18:29] jdm opened #21146 "Make fetch() API use same-origin credentials by default"
This merged last year, and we probably didn't update our implementation: https://github.com/whatwg/fetch/pull/585

[2018-07-09 18:32] jdm commented on #20383
Is this done now?

[2018-07-09 18:36] nox commented on #20383
Yes

[2018-07-09 18:55] paulrouget opened #21147 "Update to a recent version of Gradle and to SDK 27"
I'm working on #21127 but it's getting frustrating to keep the compatibility with gradle 2 when most of the documentation found online is about the version 3 and the latest Android Studio keeps bugging with the version 2.

I have experimented a bit, and I only found an issue with the way we name and move the apk (the renaming won't work with Gradle 3). But beside, it looks possible.

@MortimerGoro

[2018-07-09 18:55] jdm commented on #21145
This is caused by the syncing job running on macOS where git defaults to not tracking case-sensitive names.

[2018-07-09 19:02] #20883 closed

[2018-07-09 19:54] #20383 closed

[2018-07-09 20:53] jdm commented on #21145
Honestly the best solution I've come up with is to run the sync job on the linux machines instead.

[2018-07-09 21:05] jdm opened #21149 "GC crash during /html/syntax/parsing/html5lib_domjs-unsafe.html?run_type=uri"
[code]

[2018-07-09 21:32] jdm opened #21150 "Build a webgl profiler"
We should add a flag to Servo that outputs profiling information about webgl operations that occur while it's running. This will make it easier to identify slow paths and improve overall webgl performance.

[2018-07-09 21:35] christianpoveda commented on #11995
no sorry, I've been busy at school. Maybe someone else can take it?

[2018-07-10 00:14] jdm opened #21151 "Investigate real webgl-based apps"
https://manu.ninja/25-real-world-applications-using-webgl/

[2018-07-10 00:42] LifeIsStrange commented on #19708
@metajack any update for the pathfinder integration ? It has already merged in webrender since many months.

[2018-07-10 03:19] #21130 closed

[2018-07-10 03:32] jdm opened #21153 "Nightly benchmark upload job consistently fails"
Every single job recently has failed with:
[code]

cc @asajeffrey

[2018-07-10 03:32] highfive commented on #21153
cc @aneeshusa

[2018-07-10 04:40] gterzian opened #21154 "Unify Window task sources and task cancellers API"
https://github.com/servo/servo/pull/21126#discussion_r201187073

Note there are two current use-cases:

1. A script-thread task is enqueued 'directly from the main script-thread/event-loop', like in https://github.com/servo/servo/blob/a9022be0c3e30249845ca5947ac0c0a6743c7991/components/script/dom/htmldetailselement.rs#L72 where [TaskSource.queue](https://github.com/servo/servo/blob/a9022be0c3e3024

[2018-07-10 06:46] paulrouget commented on #21147
Note to self:

- we should use Java 1.8 and not use Jack
- we should use a copy task and not rename the target
- we should move back to lambdas

[2018-07-10 07:15] kleinph opened #21155 "style: Move clear outside mako"
This is part of #19015.

[2018-07-10 07:41] paulrouget commented on #21147
One of the reason I'd like to update is: https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration#variant_aware

[2018-07-10 08:30] MortimerGoro commented on #21147
I agree, we should upgrade to gradle 3 and remove Jack. Also update to latest target SDK 27

[2018-07-10 08:34] paulrouget commented on #21147
What would it take to get that to work?

I've naively changed the version in the gradle files and it compiles.

Haven't tried to compile with VR enabled.

[2018-07-10 08:40] MortimerGoro commented on #21147
I don't expect any problem related to running Servo, just update compileSdkVersion/targetSdkVersion to 27 in the gradle build file, install the latest system SDKS and build tools and it should work.

But IIRC something changed with a version of SDK build tools that may affect Servo cloud compilation scripts

[2018-07-10 10:45] fasihrana opened #21157 "Create a standalone library for Text to Glyphs"
Is it possible to separate out the Glyphs portion of Servo into a spatial text library?

It should probably also have a convenience function that "places" Au sized font text within a Bounded Rectangle.

I've been experimenting with webrender and I'm finding that fonts and rendering text is being a massive pain.

[2018-07-10 11:52] SimonSapin commented on #21157
CC @pcwalton and @mbrubeck for https://github.com/pcwalton/font-kit and https://github.com/pcwalton/pilcrow, which are intended to eventually replace Servo’s current code.

[2018-07-10 13:09] asajeffrey commented on #21153
Oh grr, have we changed which version of awscli we have installed on the build machines?

[2018-07-10 13:31] #21119 closed

[2018-07-10 13:48] jdm commented on #21153
This probably happened when I recreated all of the build machines, which would have installed whichever version of awscli was present at that time.

[2018-07-10 16:38] asajeffrey commented on #21153
On IRC https://mozilla.logbot.info/servo/20180710#c14997995 looks like the culprit is https://github.com/servo/saltfs/commit/a7c70cfa8d378fa2e3f3e3193ac22aef317a85c8

[2018-07-10 16:43] fasihrana commented on #21157
Okay, but is there a way to convert text to Glyphs easily in the current implementation?

[2018-07-10 17:11] #21155 closed

[2018-07-10 18:08] #21153 closed

[2018-07-10 20:47] SimonSapin commented on #21157
Well you can have a look at https://doc.servo.org/gfx/index.html but I don’t know how easy it would be to use outside of Servo, since it was not designed for that. (But if I have to guess I’d say probably not easy.)

[2018-07-11 13:36] paulrouget commented on #21127
Depends on #21160

[2018-07-11 15:48] paulrouget opened #21161 "Keybindings don't work on Linux and maybe windows"
Maybe because of #21087

[2018-07-11 20:03] SimonSapin commented on #21116
Closing this is roughly the same as https://github.com/servo/servo/issues/21124.

[2018-07-11 20:03] #21116 closed

[2018-07-11 20:27] jdm opened #21163 "Some reftests load an unexpected font intermittently"
From http://build.servo.org/builders/mac-rel-wpt4/builds/4666:
<img width="929" alt="screen shot 2018-07-11 at 4 26 50 pm" src="https://user-images.githubusercontent.com/27658/42597591-41c9f644-8527-11e8-8d9e-b611276a1a9a.png">
<img width="923" alt="screen shot 2018-07-11 at 4 26 58 pm" src="https://user-images.githubusercontent.com/27658/42597592-41d62a04-8527-11e8-9a90-f8da304de54d.png">

[2018-07-11 21:18] jdm opened #21164 "read_blob returns a reflector to an unrooted DOM object"
[This code](https://github.com/servo/servo/blob/master/components/script/dom/bindings/structuredclone.rs#L106) creates a Blob, which is rooted in the current stack frame, then returns its reflector's JSObject pointer. This means that the blob object is no longer rooted, and depending on what the JS engine does with the return value of `read_callback`, the pointer could be pointing at a DOM object

[2018-07-12 03:03] atouchet opened #21165 "Can't scroll on DuckDuckGo"
Steps to reproduce:

1. Search something on https://duckduckgo.com/html/
2. Try to scroll on the search results page.
3. The page does not scroll.

This regression first occurred in the [2018-06-27](http://servo-builds.s3.amazonaws.com/) nightly build. I believe this happens with both the https://duckduckgo.com/ and https://duckduckgo.com/html/ versions of the site. Tested in Windows 10.

[2018-07-12 03:09] atouchet commented on #21165
I believe the only PR that was merged then was #20892.

cc @gw3583

[2018-07-12 06:51] JacksonCoder commented on #20357
I'm sorry for the wait.. I've been on vacation recently, and I haven't had the time to work on this. I forgot to mention one other problem I encountered: I need to import the extension types during the `build.rs` phase so I could generate the PHF map with the names of the extensions... however, I cannot use or import anything from the `script` crate because that would create a circular dependency.

[2018-07-12 10:40] paulrouget commented on #20148
Because we look for release by default: https://github.com/servo/servo/blob/4dfb41fdb3c085607a83d200d12cff72c1048128/python/servo/command_base.py#L345

[2018-07-12 18:27] jdm opened #21168 "Hit testing is offset in GL aquarium"
https://webglsamples.org/aquarium/aquarium.html

When I try to click the numbers, there is a clear vertical offset (like 100px or more) that I need to compensate for to click the numbers I intend.

[2018-07-12 18:30] jdm commented on #21057
The 2015 benchmark requires #19904 to run.

[2018-07-12 18:31] jdm commented on #21057
FishGL spits out `ERROR 2018-07-12T18:31:14Z: script::dom::bindings::error: Error at http://www.fishgl.com/scripts/app.js:2:22886 this.sounds[a].volume is undefine` endlessly and I can't click anything.

[2018-07-12 18:39] jdm commented on #21057
http://luic.github.io/WebGL-Performance-Benchmark/benchmark/fillpixel-nozbuffer.html reports `ERROR 2018-07-12T18:39:27Z: script::dom::bindings::error: Error at http://luic.github.io/WebGL-Performance-Benchmark/benchmark/libraries/d3.v3/d3.v3.js:742:7 this.style is undefined` after running for a few seconds.

[2018-07-12 18:46] cbrewster commented on #21168
I think hit testing is broken in general, I see this behavior on every site. I think it may be related to hidpi screens; servo thinks the mouse is in the center of the window when its actually on the far right.

[2018-07-12 18:48] jdm commented on #21057
http://luic.github.io/WebGL-Performance-Benchmark/benchmark/cubes.html reaches 0 cubes without hitting the target FPS, which is not a great result.

[2018-07-12 18:58] jdm opened #21169 "webgl diagnostics don't appear over canvas on webglreport.com"
http://webglreport.com/

Firefox:
<img width="765" alt="screen shot 2018-07-12 at 2 57 23 pm" src="https://user-images.githubusercontent.com/27658/42653623-e91bfa66-85e3-11e8-9182-dd9a7c53fdf2.png">
Servo:
<img width="740" alt="screen shot 2018-07-12 at 2 57 39 pm" src="https://user-images.githubusercontent.com/27658/42653632-f1adbc50-85e3-11e8-9ea3-2b05999b7a12.png">

The text content is divs, no

[2018-07-12 18:59] jdm commented on #21169
It's possible this is because the text is white and the coloured canvas backgrounds aren't being drawn.

[2018-07-12 19:10] jdm commented on #21169
The backgrounds appear if I move the `fill()` call before `closePath()` in https://github.com/AnalyticalGraphicsInc/webglreport/blob/master/webglreport.js#L515-L517, but then the stroke disappears.

[2018-07-12 19:20] jdm commented on #21169
[code]
Firefox:
<img width="101" alt="screen shot 2018-07-12 at 3 19 53 pm" src="https://user-images.githubusercontent.com/27658/42654571-0b22a030-85e7-11e8-9c8f-4fc313503ace.png">
Servo:
<img width="97" alt="screen shot 2018-07-12 at 3 20 03 pm" src="https://user-images.githubusercontent.com/27658/42654578-1355acb6-85e7-11e8-9df1-fefde7856396.png">

[2018-07-12 22:34] #21124 closed

[2018-07-12 22:47] gw3583 commented on #21168
I can also reproduce this on Linux - I'll investigate today.

[2018-07-12 23:15] gw3583 commented on #21168
It looks like something has changed to do with how / where DPI scaling is applied, either in Servo or in Glutin / Winit. Specifically, in the hit test method in ```compositor.rs```, we receive a ```DevicePoint``` but debug logs suggest that it is actually not a true device point, but has the DPI scale un-applied.

As a quick hack, I applied the following patch:

[code]

This appears to fix hit tes

[2018-07-13 00:07] jdm commented on #21168
@gw3583 Yes, that patch fixes the issue for me as well.

[2018-07-13 00:10] atouchet commented on #21168
This might be due to the winit/glutin update in #21087. There were some HiDPI changes there: https://github.com/tomaka/winit/blob/master/CHANGELOG.md

[2018-07-13 13:45] gterzian opened #21171 "Event loops/Message pumps security issues"
Just some sharing of this paper: https://arxiv.org/abs/1702.06764 "Loophole: Timing Attacks on Shared Event Loops in Chrome".

What I find particularly interesting is that, besides the 'script event-loop' sharing attacks they perform(which are only possible when browsing context would actually [share a script-thread/event-loop](https://github.com/servo/servo/blob/f01f6ae6bf730fda51270123fd4dcff35a

[2018-07-13 13:55] jdm opened #21172 "Firefox reports larger "max varying vectors" limit than Servo"
From http://webglreport.com/.
Firefox:
<img width="287" alt="screen shot 2018-07-13 at 9 55 07 am" src="https://user-images.githubusercontent.com/27658/42695278-dbdd8208-8682-11e8-88fa-1fa5a4ea9cfd.png">
Servo:
<img width="287" alt="screen shot 2018-07-13 at 9 55 23 am" src="https://user-images.githubusercontent.com/27658/42695283-e30a9a20-8682-11e8-9180-542a35de1f8a.png">

[2018-07-13 13:59] jdm commented on #21172
These limits come from https://github.com/emilio/rust-offscreen-rendering-context/blob/master/src/gl_limits.rs#L82-L117.

[2018-07-13 14:01] jdm commented on #21169
I have a branch that fixes this. It relies on https://github.com/servo/rust-azure/pull/288.

[2018-07-13 14:05] jdm opened #21173 "Overflow doesn't account for absolutely-positioned replaced content"
http://madebyevan.com/webgl-water/

[2018-07-13 14:06] jdm opened #21174 "MotionMark webgl benchmark doesn't do anything"
https://browserbench.org/MotionMark/developer.html?test-interval=30&display=minimal&tiles=big&controller=ramp&frame-rate=50&kalman-process-error=1&kalman-measurement-error=4&time-measurement=performance&suite-name=3DGraphics&test-name=WebGL

[2018-07-13 15:14] jdm opened #21175 "Report more useful contextual information when throwing a JS exception"
When there's an exception from the "load" event, for example, not only are the line and column values reported as 0, but it would be very useful to reveal the fact that the load event listener was executing.

[2018-07-13 15:59] jdm opened #21176 "Remove compositing dependency from bluetooth crate"
It's declared in components/bluetooth/Cargo.toml, but not used in lib.rs. This means it can be removed.

[2018-07-13 16:22] gterzian commented on #21171
One possible solution, not mentioned in the paper, would be to make each iteration of the constellation loop take constant time. Obviously it would make each iteration as slow as the slowest possible one(except something like shutdown I guess), which might not be acceptable, but it would certainly prevent any sort of timing. Perhaps this could be done in a fairly granular way so as to only affect

[2018-07-13 16:24] jdm commented on #21171
cc @avadacatavra so you're aware of this research

[2018-07-13 17:20] jdm commented on #14988
I have a branch which adds a compile-time feature to enable this.

[2018-07-13 17:49] jdm commented on #21174
I've verified that it's running the animate function from https://searchfox.org/mozilla-central/source/third_party/webkit/PerformanceTests/MotionMark/tests/3d/resources/webgl.js#135, so I'm not really sure what's going wrong.

[2018-07-13 20:05] jdm opened #21177 "WebGLShader destructor frequently asserts when closing webgl pages"
`        assert_eq!(self.attached_counter.get(), 0);`
This assertion often fails when a shader is GCed, so we probably need to rethink it.

[2018-07-13 20:32] jdm commented on #21057
After dealing with #21174, MotionMark 3d results:
Firefox:
<img width="767" alt="screen shot 2018-07-13 at 4 31 43 pm" src="https://user-images.githubusercontent.com/27658/42712605-447cb590-86ba-11e8-8424-3a703042b753.png">

Servo:
<img width="927" alt="screen shot 2018-07-13 at 4 30 16 pm" src="https://user-images.githubusercontent.com/27658/42712550-1714d8bc-86ba-11e8-91e5-0a4b01d8249d.png">

[2018-07-14 03:00] #21112 closed

[2018-07-14 09:47] gterzian commented on #21164
Is this handled at the point of use? For example(where `data` is `StructuredCloneData`):

https://github.com/servo/servo/blob/914952487bcbba0a31db8aefc4a9487903721959/components/script/dom/dedicatedworkerglobalscope.rs#L310

[2018-07-14 09:54] gterzian commented on #21164
Oh you mean literally right 'in between' such a call? Perhaps this is protected by the fact that the entire thing happens inside of this

https://github.com/servo/servo/blob/master/components/script/dom/bindings/structuredclone.rs#L248

[2018-07-14 10:18] gterzian commented on #21164
Lastly, I remember reading through the actual implementation of `JS_ReadStructuredClone`(for some reason it seemed like the SpiderMonkey code was right inside the Gecko codebase), and the way it works is that the JS engine will try to internally handle the cloning, and only if it doesn't recognize the type of the clone will it invoke the `read_callback`. It seemed to all happen 'in sync' too, so t

[2018-07-14 12:34] jdm commented on #21164
Yes, there is no risk of GC happening randomly or in parallel. It can happen as a result of any new JS allocation or certain API calls.

[2018-07-14 13:42] gterzian commented on #21164
Ok so now I remember, my implementation was perhaps a bit naive.

In Gecko, they actually seem to keep track of cloned Blobs with this [nsTArray<RefPtr<BlobImpl>> mBlobImplArray][https://dxr.mozilla.org/mozilla-central/rev/085cdfb90903d4985f0de1dc7786522d9fb45596/dom/base/StructuredCloneHolder.h#337]

So I guess we would need some sort of `Vec<DomRoot<Blob>>`?

[2018-07-14 18:47] jdm opened #21179 "Doc build is broken with latest rust update"
[code]

[2018-07-14 18:47] highfive commented on #21179
cc @aneeshusa

[2018-07-14 18:50] jdm opened #21180 "perf test is broken"
[code]

[2018-07-14 21:43] SimonSapin commented on #21179
We should maybe add `--cap-lints warn` to the docs build?

[2018-07-15 19:41] SughiY commented on #20971
Hello,
I encountered the same situation. And I think this should be an issue introduced by **rustfmt** according to [rust-lang-nursery/rust-bindgen#1045](https://github.com/rust-lang-nursery/rust-bindgen/issues/1045) and (RustAudio/coreaudio-sys#7)[https://github.com/RustAudio/coreaudio-sys/issues/7]. I have tried the solution in [rust-lang-nursery/rust-bindgen#1045](https://github.com/rust-lang-n

[2018-07-16 01:37] gw3583 commented on #21168
@jdm OK, I confirmed the issue is from https://github.com/servo/servo/pull/21087. It looks like winit now returns events in logical units, rather than device units. That patch will need to be re-worked in order to handle this - it looks like it gets logical / device units confused in a few places, by constructing those types directly from the scalar values, I think.

[2018-07-16 03:52] jdm commented on #21168
Thanks for investigating!

[2018-07-16 13:28] RalfJung opened #21186 "Insufficient synchronization in servo_arc can lead to data race"
This is Servo's version of https://github.com/rust-lang/rust/issues/51780, after @Manishearth pointed out there is a copy here: `Arc::is_unique` only performs a relaxed read, which is not enough to establish a happens-before relation between anything that happened prior to dropping the second-to-last `Arc`, and returning from `get_mut`.

So, here's an example of safe code exhibiting a read-write r

[2018-07-16 13:33] SimonSapin commented on #21186
Thanks for the report @RalfJung.

Firefox has another copy of this code. CC @emilio

[2018-07-16 13:41] RalfJung commented on #21186
Is that this? Is that not auto-synced with the Servo repo?
https://searchfox.org/mozilla-central/source/servo/components/servo_arc/lib.rs#351

[2018-07-16 13:43] jdm commented on #21186
It is not auto-synced, no.

[2018-07-16 15:24] Manishearth commented on #21186
cc @bholley

the synchronization is documented in is_unique, but perhaps it's flawed https://github.com/servo/servo/blob/master/components/servo_arc/lib.rs#L352-L359

[2018-07-16 16:32] bholley commented on #21186
Hm. I think I see the issue here, though I'm less sure whether the proposed Acquire actually fixes it.

If we switch thread B to load the refcount with Acquire, and it reads refcount 1, that ensures that any _writes_ made by thread A before it dropped the refcount are observable by thread B. But thread A isn't doing any writing at all, and we're actually concerned about reads on thread A of writes

[2018-07-16 17:15] JacksonCoder commented on #20357
The macro approach did work, but I still need to implement the traits that cannot be automatically derived due to the missing implementation on the PHF map type. My plan is to create trait implementations for the PHF map inside the crates of the trait implementations, which are within the servo repository, but outside of the `script` crate. Do you think that would be the best solution?

[2018-07-16 18:27] Amanieu commented on #21186
@bholley

The problem here is that, according to the C++ memory model, writes made by thread B may be reordered *before* the load of the ref count. This would cause a data race since thread A may still be reading the data when the write occurs.

Now, in practice, there is a [control dependency](https://www.kernel.org/doc/Documentation/memory-barriers.txt) (scroll down to the section on control dep

[2018-07-16 19:29] KiChjang commented on #20172
@Beta-Alf Have you made any progress in this?

[2018-07-16 20:10] RalfJung commented on #21186
To add to what @Amanieu said: The comment in the code here argues in terms of reorderings. The argument is correct (as far as the other thread is concerned at least), but unfortunately it's the wrong argument -- what we really have to ensure is getting a happens-before edge between reads in thread A (the one that `drop`ed) and writes in thread B (the one that did `get_mut`). That's how a data race

[2018-07-16 20:45] Beta-Alf commented on #20172
Sadly no, life kinda got in the way. Still interested but unassign me so that I don't turn into a blocker.
Thanks for checking in and sorry for not keeping you guys posted.

[2018-07-17 02:33] jdm commented on #21168
[code]
This change fixed the hit testing for me.

[2018-07-17 02:55] jdm opened #21189 "Certain HackerNews comment pages lay out extremely wide"
https://news.ycombinator.com/item?id=17540712 is an example. Many other comment pages lay out as expected, but this one is mostly unreadable because the content is scrolled off the left side of the window.

[2018-07-17 03:42] #21146 closed

[2018-07-17 05:43] atouchet commented on #21189
Is this the same issue as #10022?

[2018-07-17 06:44] NiLSPACE opened #21191 "Crash on loading html5test.com: Failed to compile shader: ps_text_run"
When going to http://html5test.com I get the following error:

<details>
<summary>Error and stacktrace</summary>

[code]
</details>

Specs:
CPU: I7 6500U @ 2.5GHz,
RAM: 16.0GB Dual-Channel,
GPU: Intel HD Graphics 520
OS: Windows 10 PRO 1803

[2018-07-17 12:16] jdm commented on #21189
Looks like it.

[2018-07-17 12:16] #21189 closed

[2018-07-17 15:51] jdm opened #21192 "Catch more extraneous spaces in tidy check"
Snippets like `& mut` and `return ;` should be reported as code style errors. It should be possible to look for `&[space]` and `[space];` in [this list](https://github.com/servo/servo/blob/master/python/tidy/servo_tidy/tidy.py#L581) and add violations to [this file](https://github.com/servo/servo/blob/master/python/tidy/servo_tidy_tests/rust_tidy.rs) so [this testcase](https://github.com/servo/ser

[2018-07-17 15:51] highfive commented on #21192
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-07-17 15:51] highfive commented on #21192
cc @wafflespeanut

[2018-07-17 17:07] bholley commented on #21186
@Amanieu @RalfJung

I understand the potential race here, and that the comment in the code is wrong. My question is whether an Acquire load on B fixes the problem. My mental model is that an Acquire load in B ensures that B observes any writes made by A that occurred before A stored the value (via Release). But IIUC it technically has no impact on what A observes. Do I have that wrong?

Regarding

[2018-07-17 17:07] #21168 closed

[2018-07-17 17:09] Amanieu commented on #21186
@bholley Yes, an acquire load in `get_mut` will fix this problem.

[2018-07-17 17:22] bholley commented on #21186
I believe you, but I'm trying to understand why. Can you explain where my mental model differs from the C++ memory model?

[2018-07-17 17:55] RalfJung commented on #21186
The relevant part in the C++ model is getting a happens-before relationship between any two non-atomic accesses (if at least one is a write) to the same location. It doesn't matter which of the two accesses is a load or a store.

An acquire load in B ensures that any subsequent event in B is "logically ordered after" (in the happens-before relation) any event in A that happened before the release

[2018-07-17 18:17] SimonSapin commented on #21192
I would rather not extend the stylistic lints of Rust syntax implemented in tidy without an actual Rust parser, as they tend to have both false positives and false negatives. I’d prefer to move toward using rustfmt.

[2018-07-17 18:19] #21180 closed

[2018-07-17 18:40] jdm commented on #21192
Mmm, `& ` will definitely trigger false positives on `&& `, so that's no good.

[2018-07-17 22:09] bholley commented on #21186
Yes, that's helpful.

So to summarize, my mental model was based on the note in the spec that says:

But that's actually imprecise in an important way here. If I slog through the prose in the relevant sections, it's all defined in terms of happens-before, and doesn't specify who reads and who writes:

And then:

And then:

And then:

Where the definition of "conflict" is:

So all of that applies e

[2018-07-17 22:18] bholley commented on #21186
Filed [1] to fix this for the m-c copy.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1476445

[2018-07-17 22:19] bholley commented on #21186
(And @emilio will presumably want to cherry-pick that one)

[2018-07-17 22:29] emilio commented on #21186
Yeah, I'll sync that over on the next sync.

[2018-07-18 05:33] SimonSapin commented on #21192
r-

[2018-07-18 08:41] nox opened #21197 "Intermittent timeout in /WebCryptoAPI/generateKey/successes_RSA-OAEP.https.any.worker.html"
[code]

[2018-07-18 08:43] nox opened #21198 "Intermittent timeout in /_mozilla/mozilla/referrer-policy/no-referrer-when-downgrade/attr-referrer/cross-origin/http-https/iframe-tag/upgrade-protocol.swap-origin-redirect.http.html"
[code]

[2018-07-18 13:19] RalfJung commented on #21186
@bholley

Yes.

One (strange) way to see this is to consider that reads, in some sense, also have a side-effect. (The first paragraph you quoted talks about "making side-effects visible", it does not mention writes specifically.) They don't change memory, but they depend on memory. Also, due to per-location coherence, a read can change the thread-local state because one some some event is observed

[2018-07-18 14:16] NiLSPACE commented on #21191
This alone seems to make Servo crash, but it doesn't spew out the ps_text_run error with it:
[code]

[2018-07-18 15:41] jdm commented on #21191
What's the output from the crash?

[2018-07-18 16:16] jdm opened #21201 "Merge run.py with run_wpt.py"
Back when we had two different testsuites that could be invoked in very similar ways, having separate python files in tests/wpt/ made sense. Now that there is only a single one, we should merge the two files so it's less confusing when reading the implementation of test-wpt in `python/servo/testing_commands.py`. To ensure everything still works, run `./mach test-wpt tests/wpt/mozilla/DOMParser.htm

[2018-07-18 16:16] highfive commented on #21201
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-07-18 19:51] NiLSPACE commented on #21191
The same as before but without
[code]

[2018-07-18 20:12] rushmorem commented on #11888
Would you be interested in using [the psl crate](https://crates.io/crates/psl) for this? I recently broke the `publicsuffix` crate down into more specialised crates, designating the `psl` crate as the native library for the Public Suffix List. I then rewrote the `psl` crate from scratch to optimise it for performance. Here are some benchmarks against the `net_traits` crate that you are currently u

[2018-07-18 20:35] jdm commented on #11888
Oof, the compile times seem like a significant downside to be aware of. Using only a subset of the total set for development builds would also make debugging problems related to cookies and process separation harder, since both of those rely on the PSL to affect how pages behave.

[2018-07-18 20:51] jdm opened #21205 "android-x86 test job sometimes fails during startup"
[code]

[2018-07-18 21:12] rushmorem commented on #11888
For such debugging sessions you still can disable the TLD filtering and use the entire list if it comes to that but you might not need to. Here is why...

Because it compiles the list to a match statement, it has no "lookup" logic of its own which makes the code very easy to reason about. The code generation itself, is done via a derive macro using [the psl-codegen crate](https://crates.io/crates/

[2018-07-18 21:19] SimonSapin commented on #21205
For comparison, this is the output of a successful run as it appears in http://build.servo.org/builders/android-x86/builds/63/steps/test/logs/stdio :

[code]

The relative order of stdout lines v.s. stderr lines is messed up, this is what it looks like when running through SSH:

[code]

Either way, the PulseAudio-related error messages are present there too so they’re probably not relevant to this

[2018-07-18 22:53] jdm commented on #20357
Are you referring to the [WebGLExtension](https://doc.servo.org/script/dom/webgl_extensions/extension/trait.WebGLExtension.html) trait, or some other type(s)? In general, I agree that moving types that you require at build time into a separate crate that `script` can depend upon would be the best solution. Moving `WebGLExtension` entirely won't work because of the `new` method which uses types whi

[2018-07-18 22:54] jdm commented on #20357
It would definitely be easiest to answer your questions if you pushed your code to a branch so it could be examined, and mentioned the error messages that appear.

[2018-07-18 23:13] bholley commented on #21186
Ah, right - I'd forgotten that get_mut relies on &mut and doesn't do anything similar to is_unique.

That makes sense - thanks for taking the time to help me debug my mental model!

[2018-07-19 02:11] gterzian opened #21206 "Restrict sharing of event-loop to Similar origin window agent"
#20678 broadens how event-loops are shared between browsing contexts to allow an [auxiliary browsing contexts](https://html.spec.whatwg.org/multipage/#auxiliary-browsing-contexts) with the same origin as it's [`opener`](https://html.spec.whatwg.org/multipage/browsers.html#opener-browsing-context) to share an event-loop with it, as they would be part of the same [unit-of-related-similar-origin-brow

[2018-07-19 02:55] #21145 closed

[2018-07-19 03:39] asajeffrey commented on #21206
Also, we could look into whether it makes sense to have the process isolation barrier be coarser than an event loop. We can have multiple event loops in the same process, which might make sense if they're all from the same eTLD+1.

[2018-07-19 07:59] JacksonCoder commented on #20357
You're right, I'll push the changes to my fork of the repo. I already fixed the problems with code generation (I just used inline macro generation instead), so I'm not worried about importing types at build time. My question (rephrased) was if I should implement the `JSTraceable` and `MallocSizeOf` traits manually on the PHF map type, which would allow me to auto-derive the `WebGLExtensions` struc

[2018-07-19 08:13] ferjm commented on #1837
I believe this is not valid anymore. Please, reopen if I my assumption is incorrect.

[2018-07-19 08:13] #1837 closed

[2018-07-19 08:57] nox commented on #20560
This was done, the only remaining thing which we ask the WebGL thread is `VALIDATE_STATUS`.

[2018-07-19 08:57] #20560 closed

[2018-07-19 08:59] nox commented on #20600
We now store the necessary data on the DOM side.

[2018-07-19 08:59] #20600 closed

[2018-07-19 08:59] nox commented on #20608
We store pretty much everything about vertex attribs on the DOM side but their actual value returned by `GL_CURRENT_VERTEX_ATTRIB`.

[2018-07-19 08:59] #20608 closed

[2018-07-19 12:16] jdm commented on #20357
Those would be useful implementations, yes!

[2018-07-19 12:57] jdm opened #21208 "NYTimes article about cedars of lebanon panics while communicating with layout thread"
https://www.nytimes.com/interactive/2018/07/18/climate/lebanon-climate-change-environment-cedars.html?hp&action=click&pgtype=Homepage&clickSource=story-heading&module=photo-spot-region&region=top-news&WT.nav=top-news

[code]

[2018-07-19 12:57] jdm commented on #21208
It would be worth figuring out if this is a layout thread that already exited or was never created somehow.

[2018-07-19 14:31] jdm opened #21211 "Give Trusted a more meaningful name"
The name Trusted refers to the fact that it contains a pointer to a DOM object that will not be GCed. This is not actually useful for people reading the code and understanding how the type is used. Better names off the top of my head:
* ThreadsafeDom
* DomHandle
* ThreadsafeDomHandle
* AsyncDomHandle
* AsyncHandle

Similarly, TrustedPromise follows the same pattern:
* AsyncPromise
* ThreadsafeProm

[2018-07-19 14:43] jdm opened #21212 "Intermittent failure in /html/webappapis/dynamic-markup-insertion/document-write/iframe_005.html"
[code]

[2018-07-19 16:47] JacksonCoder commented on #20357
Alright, I'll push to my fork once I finish implementing those.

[2018-07-19 20:25] jdm opened #21214 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/biConstants/biConstants_001_to_008.html"
Just a regular case of a webgl test timing out because they try to do a lot:
[code]

[2018-07-20 16:11] paulrouget commented on #18625
This will be addressed by #20912. gradle strips .so.

[2018-07-20 19:59] jdm commented on #20928
Yes.

[2018-07-20 19:59] #20928 closed

[2018-07-21 03:35] jdm opened #21221 "Null image source needs to check for picture parent and srcset"
In the [update the image data](https://html.spec.whatwg.org/multipage/images.html#update-the-image-data) algorithm, step 10.2 includes checks for the parent element and the srcset attribute. However, the implementation only checks for the src attribute right now: https://github.com/servo/servo/blob/aa76909f55e126957dfc163db9512ffe344c348f/components/script/dom/htmlimageelement.rs#L717-L719

cc @nu

[2018-07-21 14:47] jdm opened #21224 "Install awscli in a virtualenv on demand"
Given the ongoing issues with installing the s3 tools from salt and things like https://github.com/servo/saltfs/issues/862, I propose we remove awscli from all the builders and install it on demand in https://github.com/servo/servo/blob/master/etc/ci/performance/test_perf.sh#L46 instead.

cc @asajeffrey

[2018-07-21 14:47] highfive commented on #21224
cc @aneeshusa

[2018-07-21 20:49] #13437 closed

[2018-07-21 20:49] #14970 closed

[2018-07-22 12:25] jasonwilliams opened #21227 "Servo is not running on Windows 10 (potentially display driver issue)"
Servo is not running for me on Windows 10
OS Name	Microsoft Windows 10 Pro
Version	10.0.17134 Build 17134

**Display Driver issues**
Since updating to Windows 10 Spring Edition my display drivers haven't been working properly, and Windows defaults back to some built-in fallback driver.
At this point i'm not sure if this is affecting Servo from running but its likely, especially seeing that other W

[2018-07-22 19:48] ergunsh commented on #21201
@highfive assign me 🎉

[2018-07-23 01:43] #21201 closed

[2018-07-23 02:12] rushmorem commented on #11888
@jdm Compile times are no longer than bad on the latest version, `0.4.0`. With the entire list, it now builds in about 1 minute in debug mode. Because of that, it now compiles the whole list by default.

[2018-07-23 12:29] gterzian opened #21231 "Embedder integration with 'cancelling document load'"
Part 2 of #19309, to follow after https://github.com/servo/servo/pull/21111 is merged

*make pressing escape in the default embedding cancel the ongoing load of the foreground, top-most document*

[2018-07-23 13:57] jdm opened #21233 "Investigate and fix remaining MutationObserver test failures"
https://github.com/servo/servo/blob/master/tests/wpt/metadata/dom/nodes/MutationObserver-attributes.html.ini
https://github.com/servo/servo/blob/master/tests/wpt/metadata/dom/nodes/MutationObserver-characterData.html.ini
https://github.com/servo/servo/blob/master/tests/wpt/metadata/dom/nodes/MutationObserver-document.html.ini

[2018-07-23 14:01] jdm commented on #20387
Fixed by #20749.

[2018-07-23 14:01] #20387 closed

[2018-07-23 14:01] jdm commented on #20109
Fixed by #20749.

[2018-07-23 14:01] #20109 closed

[2018-07-23 15:22] jdm opened #21235 "Cross-builders don't remove their build artifacts"
Not only do the android/arm jobs in buildbot_steps.yml not invoke the remove-build-directories script, but https://github.com/servo/saltfs/blob/master/ubuntu/files/remove-build-directories#L11 doesn't include the x86/arm/android targets that the build would generate instead of debug/release.

[2018-07-23 15:22] highfive commented on #21235
cc @aneeshusa

[2018-07-23 15:46] jdm commented on #21235
arm-unknown-linux-gnueabihf
android_aar
armv7-linux-androideabi
gradle
aarch64-unknown-linux-gnu

[2018-07-23 20:11] SimonSapin commented on #21235
Is there a reason to remove specific sub-directories of `target/` rather than the whole thing?

[2018-07-23 20:24] jdm commented on #21235
I do not remember my original reasoning for it.

[2018-07-24 09:55] ghost opened #21238 "Crash (illegal instruction) while browsing http://anandtech.com"
Page loads, browsing the site ends up with a crash.

    $ ./servo --version
    Servo 0.0.1-4997ec2

    $ ./servo http://anandtech.com
    ...
    Illegal instruction (core dumped)

    $ gdb servo core.ScriptThread\ Pi.9889
    (gdb) bt
    #0  0x0000558dabb63142 in servo::install_crash_handler::handler ()
    #1  <signal handler called>
    #2  0x0000558dabb63142 in servo::install_crash_handle

[2018-07-24 11:23] NiLSPACE opened #21239 "Crash when using --userscripts flag"
When using the `--userscripts` flag Servo always crashes. Even when no files are inside the `user-agent-js` folder.

Stacktrace:
[code]

Specs:
CPU: I7 6500U @ 2.5GHz,
RAM: 16.0GB Dual-Channel,
GPU: Intel HD Graphics 520
OS: Windows 10 PRO 1803

[2018-07-24 12:03] #21186 closed

[2018-07-24 17:48] jasonwilliams commented on #21227
@paulrouget

[code]

Testing
[code]

[2018-07-24 18:30] #21133 closed

[2018-07-24 18:36] jdm commented on #21233
Yes, there were both fixed yesterday by #21236.

[2018-07-24 18:59] jasonwilliams opened #21241 "Windows 10 build failing ( Failed to run MSBuild command)"
OS Name	Microsoft Windows 10 Pro
Version	10.0.17134 Build 17134

Output:
https://gist.github.com/jasonwilliams/587a821a82b4ed09e2287ec4f045effa

[2018-07-24 20:00] jasonwilliams commented on #21241
@jdm i deleted some old environment variables (VisualStudioVersion) and now it builds

[2018-07-24 20:00] #21241 closed

[2018-07-24 20:02] jasonwilliams commented on #21227
@paulrouget ive just installed my new GPU and got my graphics drivers working again. rebuilt Servo and now its working again

[2018-07-24 20:11] jasonwilliams opened #21243 "[Windows] add installing lld-link.exe to the readme?"
Developing Servo on Windows 10 [can be painfully slow](https://github.com/servo/servo/issues/20352) using the built-in linker.
Every build (even from the smallest change) can take around 30mins, i believe this is due to this bug:
https://github.com/rust-lang/rust/issues/37543

Thanks to help from @retep998 ive had significant speed ups using lld-link instead, so should other Servo devs be setting

[2018-07-24 20:31] #21227 closed

[2018-07-24 21:35] larsbergstrom commented on #21243
@jasonwilliams I think we'd definitely take a change to the readme that points at this - anything that makes the dev experience better is 👍 from me!

[2018-07-25 13:43] jdm opened #21245 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/vec/vec_001_to_008.html"
This is the usual "test is trying to do lots of things and exceeds the limit" problem with these tests:
[code]

[2018-07-25 16:23] dorfsmay commented on #21161
I've had a look but made very little progress. I'm not sure how useful this will be, but just in case, here's what I have found on Linux:

Everything happens in `ports/servo/glutin_app/window.rs` and `components/servo/lib.rs`

* the `run` function in windows.rs does a callback to self.winit_event_to_servo_event on each window events.

* printing out the event (e) in the events_loop, before the cal

[2018-07-25 18:46] jdm opened #21247 "Make FetchCanceller constructor return initialized canceller"
There's an `initialize` method that every caller needs to call before the constructed object is usable, but this seems like it should be unnecessary.

[2018-07-25 18:57] SimonSapin opened #21248 "WebDriver "Navigate to URL" returns success on network errors"
Steps to reproduce:

* Run `./mach run servo --webdriver 4444`
* In another terminal, run `PYTHONPATH=tests/wpt/web-platform-tests/tools/webdriver python -c 'import webdriver; webdriver.Session("localhost", 4444).url = "http://this-domain-name-does-not-exist"'`

Observed result in 65df9cb73a26db2c61100ee8f1ecd13c6a80e225: the Servo window shows "Error loading the page", but the Python command runs

[2018-07-25 19:00] ljgww commented on #21106
I had issues with my installation and managed to bring it back to life. Re-tried to build servo. Got a error message. Then decided to do: `git pull`
Got plenty of updates.
then rerun mach... now I get something else:

    ~/dev/rust/servo/servo$ ./mach build --dev
    "/home/lj/dev/rust/servo/servo/python/_virtualenv/bin/python2.7" "-m" "pip" "install" "-I" "-r" "/home/lj/dev/rust/servo/servo/test

[2018-07-25 19:20] ljgww commented on #21106
I have runpy but in default python setup...

    /usr/bin$ python
    Python 2.7.12 (default, Jan  9 2017, 12:16:27)
    [GCC 4.8.4] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

Hence I have to clear servo's python virtualenv or trigger to rebuild it.

[2018-07-25 19:32] #20534 closed

[2018-07-25 19:53] nox commented on #20651
Duplicate of #20555.

[2018-07-25 19:53] #20651 closed

[2018-07-26 01:12] dylanmckay commented on #11823
In case anybody else encounters this same bug.

I've encountered this exact same error whilst indexing LLVM trunk with DXR.

My `dxr.config` looks like this

[code]

Which means this really is likely DXR's fault somewhere.

[2018-07-26 04:16] atouchet commented on #19598
This might not be the exact same issue but I am now getting stuttering every couple of seconds or so in the latest nightly Servo builds. I used to be able to run this demo smoothly without any stutters.

[2018-07-26 05:04] paulrouget commented on #21161
@dorfsmay thank you. I think I might need help later with extensive testing.

[2018-07-26 12:58] paulrouget commented on #21161
PR: https://github.com/servo/servo/pull/21250

[2018-07-26 15:08] meecoffee opened #21251 "Android nightly APK download link?"
.

[2018-07-26 15:34] jdm commented on #21251
Not yet. Once #20912 is merged it probably makes sense.

[2018-07-26 15:34] #21251 closed

[2018-07-26 16:45] jdm opened #21252 "renderbufferStorage with RGB565 format causes panic in GL thread"
[code]
This yields:
[code]
The RGB565 format is allowed by the spec and checked in the conformance tests. This does not affect headless builds using OSMesa, so I'm going to see if Firefox's implementation does anything special here.

[2018-07-26 18:13] jdm commented on #21252
Aha: https://searchfox.org/mozilla-central/rev/943a6cf31a96eb439db8f241ab4df25c14003bb8/dom/canvas/WebGLRenderbuffer.cpp#93-106

[2018-07-26 19:16] jdm commented on #21172
https://searchfox.org/mozilla-central/rev/943a6cf31a96eb439db8f241ab4df25c14003bb8/dom/canvas/WebGLContextValidate.cpp#477-488 is likely relevant here.

[2018-07-27 00:23] avadacatavra opened #21253 "Performance API Followup metabug"
Tracking followups from #20459

Performance Resource Timing: https://w3c.github.io/resource-timing

Relevant tests: https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/resource-timing

[2018-07-27 00:28] avadacatavra opened #21254 "PerformanceResourceTiming: startTime"
In components/net/http_loader.rs::http_fetch we need to set start_time for the PerformanceEntry member of PerformanceResourceTiming. This will be equal to either fetch_start or redirect_start.

Spec: https://w3c.github.io/resource-timing/#dfn-starttime

[2018-07-27 00:29] avadacatavra opened #21255 "PerformanceResourceTiming: duration"
In components/net/http_loader.rs::http_fetch we need to set duration for the PerformanceEntry member of PerformanceResourceTiming. This will be the difference between response_end and start_time

Spec: https://w3c.github.io/resource-timing/#dfn-duration

[2018-07-27 00:38] avadacatavra opened #21257 "PerformanceResourceTiming: RedirectEnd"
In components/net/http_loader.rs::http_fetch we need to set redirect_end.

On getting, the redirectEnd attribute MUST return as follows:

1. The time immediately after receiving the last byte of the response of the last redirect, if there are HTTP redirects or equivalent when fetching the resource and all the redirects or equivalent pass the timing allow check algorithm.
2. zero, otherwise.

https

[2018-07-27 00:39] avadacatavra opened #21258 "PerformanceResourceTiming: FetchStart"
In components/net/http_loader.rs::http_fetch we need to set fetch_start.

On getting, the fetchStart attribute MUST return as follows:

1. The time immediately before the user agent starts to fetch the final resource in the redirection, if there are HTTP redirects or equivalent.
2. The time immediately before the user agent starts to fetch the resource otherwise.

https://w3c.github.io/resource-ti

[2018-07-27 00:48] avadacatavra opened #21259 "PerformanceResourceTiming: domainLookupStart"
In components/net/http_loader.rs::http_fetch we need to set domain_lookup_start (if we're using a persistent connection). Otherwise, domain lookup should be performed by hyper, which is probably out of the scope of this issue.

On getting, the domainLookupStart attribute MUST return as follows:

1. The same value as fetchStart, if a persistent connection [RFC7230] is used or the resource is retrie

[2018-07-27 00:51] avadacatavra opened #21260 "PerformanceResourceTiming: domainLookupEnd"
In components/net/http_loader.rs::http_fetch we need to set domain_lookup_end (if we're using a persistent connection). Otherwise, domain lookup should be performed by hyper, which is probably out of the scope of this issue.

On getting, the domainLookupEnd attribute MUST return as follows:

1. The same value as fetchStart, if a persistent connection [RFC7230] is used or the resource is retrieved

[2018-07-27 00:54] avadacatavra opened #21261 "PerformanceResourceTiming: connectStart"
If a persistent connection is used, connect_start will be set in components/net/http_loader.rs::http_fetch, otherwise, it will be in components/net/http_loader.rs::obtain_response

On getting, the connectStart attribute MUST return as follows:

1. The same value as fetchStart, if a persistent connection [RFC7230] is used or the resource is retrieved from relevant application caches or local resour

[2018-07-27 00:56] avadacatavra opened #21262 "PerformanceResourceTiming: connectEnd"
If a persistent connection is used, connect_end will be set in components/net/http_loader.rs::http_fetch, otherwise, it will be in components/net/http_loader.rs::obtain_response

On getting, the connectEnd attribute MUST return as follows:

1. The same value as fetchStart, if a persistent connection [RFC7230] is used or the resource is retrieved from relevant application caches or local resources.

[2018-07-27 01:01] avadacatavra opened #21263 "PerformanceResourceTiming: responseEnd"
On getting, the responseEnd attribute MUST return as follows:

1. The time immediately after the user agent receives the last byte of the response or immediately before the transport connection is closed, whichever comes first. The resource here can be received either from relevant application caches, local resources, or from the server.
2. The time immediately before the user agent aborts the fet

[2018-07-27 01:03] avadacatavra opened #21264 "PerformanceResourceTiming: workerStart"
Spec: https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-workerstart

On getting, the workerStart attribute MUST return as follows:

1. If the current browsing or worker context's have an active worker [service-workers-1]:
    1. the time immediately before the user agent fires an event named `fetch` at the active worker if the worker is available.
    2. the time immediately bef

[2018-07-27 01:04] avadacatavra opened #21265 "PerformanceResourceTiming: transfer_size"
Spec: https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-transfersize

[2018-07-27 01:04] avadacatavra opened #21266 "PerformanceResourceTiming: encodedBodySize"
Spec: https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-encodedbodysize

[2018-07-27 01:05] avadacatavra opened #21267 "PerformanceResourceTiming: decodedBodySize"
Spec: https://w3c.github.io/resource-timing/#dom-performanceresourcetiming-decodedbodysize

[2018-07-27 01:08] avadacatavra opened #21268 "PerformanceResourceTiming: secureConnectionStart"
In components/net/http_loader.rs::http_fetch we need to set secure_connection_start (if we're using a persistent connection). Otherwise, we can probably use components/net/connector.rs for this

On getting, the secureConnectionStart attribute MUST return as follows:

1. The same value as fetchStart, if a persistent connection [RFC7230] is used or the resource is retrieved from relevant application

[2018-07-27 01:10] avadacatavra opened #21269 "PerformanceResourceTiming: nextHop"
The nextHopProtocol attribute is intended to identify the network protocol in use for the fetch regardless of how it was actually negotiated; that is, even if ALPN is not used to negotiate the network protocol, this attribute still uses the ALPN Protocol ID's to indicate the protocol in use.

On getting, the attribute nextHopProtocol returns the network protocol used to fetch the resource, as iden

[2018-07-27 01:13] avadacatavra opened #21270 "PerformanceResourceTiming: TimingAllowCheck"
Spec: https://w3c.github.io/resource-timing/#dfn-timing-allow-check

The timing allow check algorithm, which checks whether a resource's timing information can be shared with the current document, is as follows:

1. If the resource is same origin, return pass.
2. If the Timing-Allow-Origin header value list contains a case-sensitive match for the value of the origin of the current document, or a w

[2018-07-27 11:11] nox commented on #13710
https://dxr.mozilla.org/mozilla-central/source/dom/canvas/WebGLFramebuffer.cpp#1222

[2018-07-27 11:31] nox commented on #13662
I fixed this when I implemented `getUniform` and fixed `getUniformLocation`, will reenable.

[2018-07-27 11:42] jdm commented on #13662
I have a PR open that reenables it.

[2018-07-27 18:13] jdm commented on #21252
I have a local branch that addresses this.

[2018-07-27 19:44] jdm opened #21273 "Share android toolchains between CI build directories"
On servo-linux-cross1, there is an android builder directory, as well as android-nightly. Each of these directories contain an `android-toolchains` directory since #21094, and they're each ~10GB. We should use an environment variable to store a single copy that is shared, rather than duplicating it for each builder.

cc @SimonSapin

[2018-07-27 19:44] highfive commented on #21273
cc @aneeshusa

[2018-07-27 20:51] SimonSapin commented on #21273
On my local machine with multiple Servo trees I make `android-toolchains` be a symlink. However the current Buildbot config removes everything not tracked by git at the start of each build, so that wouldn’t work there.

While picking low hanging fruit to save some unnecessary disk space use seems fine, I feel like we spend a disproportionate amount of engineering time to make things work on `servo

[2018-07-27 20:59] djc commented on #7888
What's the status of this? As far as I can see the plan of record is to migrate to rustls, but there have been no resources to actually work on the migration?

[2018-07-27 21:07] briansmith commented on #7888
I think that now that the emphasis of Servo is more clearly not "we must build something equivalent to Firefox/Chrome/etc. ASAP" and more "this is a platform for experimentation" it makes much more sense to switch to Rustls than it did before.

Previously we had a tension about Servo's desire to be compatible with every website that Firefox (et al.) works with, which would have required adding TLS

[2018-07-27 21:08] jdm commented on #21273
@edunham How complicated would it be to increase the disk size on the cross builders?

[2018-07-27 21:19] asajeffrey opened #21274 "Duplicate tests when running /navigation-timing/idlharness.window.html"
After upgrading to SM60, the IDL tests in WPT are run. One of them fails, complaining about duplicate tests:
[code]
And indeed, running it, the `PerformanceNavigationTiming` tests are run twice, and `this.tested` is `undefined` on both runs.

[2018-07-28 02:45] jdm opened #21276 "Intermittent pass in /performance-timeline/webtiming-resolution.any.worker.html"
[code]

[2018-07-28 04:09] #13662 closed

[2018-07-28 12:58] asajeffrey commented on #20971
Yes, that's a rustfmt version problem. According to fitzgen, there's a line we can add to the rustfmt config file giving the minimum version. This won't fix the problem, but at least the error message will be understandable.

[2018-07-28 18:33] larsbergstrom commented on #7888
Our plan for Servo, as mentioned [here](https://blog.servo.org/2018/03/09/servo-and-mixed-reality/) is still to get it out to real end users. This time, hopefully as a separate web engine _alongside_ Gecko that will allow us to experiment with new web platform features that would be infeasible to try out inside of Gecko.

Certainly, per-site experimentation lowers the bar on the requirements for m

[2018-07-28 18:48] briansmith commented on #7888
@larsbergstrom Why isn't the decision-making for this done in the open?

[2018-07-28 18:53] larsbergstrom commented on #7888
@briansmith Issues like this particular one have direct impact on the larger Mozilla and Firefox organizations, brand, and products and involve gathering information from organizations that do not operate on GitHub in issues. When working with partners or organizations or issues that require closed discussions, we'll do that in order to gather feedback from all affected parties.

This isn't your f

[2018-07-28 19:19] briansmith commented on #7888
During the time I was at Mozilla there was no need for such secrecy for this kind of decision-making and I don't see the need for it now. Openness of decision-making is a pretty fundamental part of what makes Mozilla Mozilla.

[2018-07-29 00:53] fabricedesre opened #21277 "--device-pixel-ratio regression"
When using the `--device-pixel-ratio` option, the rendered area doesn't fill the window anymore. Tested on a xps 13 running Ubuntu 18.04.

![servo-device-pixel-ration](https://user-images.githubusercontent.com/984767/43361792-c65cf23e-928e-11e8-92e8-20f12b2c6620.png)

Here on the left no ratio was specified, and on the right a ratio of 2 (which is right on my hidpi screen) is used.

https://github

[2018-07-29 12:45] SimonSapin commented on #5286
@LifeIsStrange Yes, but `std::arch` contains individual architecture-specific instructions whereas `components/gfx/text/glyph.rs` uses the portable `u32x4` type. Using the former is a lot more involved. The latter is under discussion to be stabilized in the standard library eventually https://github.com/rust-lang/rfcs/pull/2366.

[2018-07-29 15:14] jdm opened #21278 "Intermittent pass in /html/semantics/scripting-1/the-script-element/script-onerror-insertion-point-2.html"
[code]

[2018-07-29 15:16] jdm commented on #21235
https://github.com/servo/saltfs/pull/870 will make the script usable on the cross builders.

[2018-07-29 16:58] #19309 closed

[2018-07-29 16:58] #21113 closed

[2018-07-29 16:58] #21114 closed

[2018-07-29 20:51] jdm opened #21279 "Intermittent pass in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/aborted-parser.window.html"
[code]

[2018-07-30 13:34] jdm opened #21283 "Intermittent failure in /_mozilla/mozilla/hit_test_pos_fixed.html"
[code]

[2018-07-30 16:15] nox opened #21285 "Support antialiasing's WebGL context option"
[code]

@emilio Does that mean offscreen_gl_context doesn't support antialiasing?

[2018-07-30 17:04] nox opened #21287 "Check for invalid characters in WebGL location and attrib names"
`tests/wpt/mozilla/tests/webgl/conformance-1.0.3/conformance/misc/invalid-passed-params.html`

[2018-07-30 17:18] nox opened #21288 "Implement WebGL checks against feedback loops"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.27

[2018-07-30 20:01] jdm opened #21289 "Split find_image_or_metadata API into two separate APIs"
`find_image_or_metadata` serves two purposes today - learn about the state of the cache right now, and reserve a spot in the cache if there is not already an entry. This makes understanding how callers use it complicated, and it makes it easy to forget to add listeners for existing incomplete cache entries. We should redesign it:
* `get_image` should return an `Option<Image>` which indicates that

[2018-07-30 20:07] #17146 closed

[2018-07-30 20:07] #21161 closed

[2018-07-30 22:05] nox commented on #20601
https://searchfox.org/mozilla-central/rev/033d45ca70ff32acf04286244644d19308c359d5/dom/canvas/WebGLShaderValidator.cpp#323-383

This is for `shader-varying-packing-restrictions.html`.

[2018-07-30 22:08] nox commented on #20601
https://searchfox.org/mozilla-central/rev/033d45ca70ff32acf04286244644d19308c359d5/dom/canvas/WebGLShaderValidator.cpp#270-295

This is for `shader-with-global-variable-precision-mismatch.html`.

[2018-07-30 22:27] #21235 closed

[2018-07-31 02:40] atouchet commented on #17146
@paulrouget I've been testing your PR for this and it works somewhat but there are still some definite issues. On first launch using Ctrl + L to open the URL dialog works consistently but subsequent attempts at doing this (ex. load servo.org homepage -> press Ctrl + L to navigate to new page -> press Ctrl + L again to navigate to another new page) do not bring up the dialog again. It seems to work

[2018-07-31 04:53] gterzian opened #21291 "Copy sessionStorage when creating aux browsing context"
*If noopener is false, browsingContext is a top-level browsing context, and creator origin is same origin with document's origin, then copy the sessionStorage storage area of the creator origin from the creator browsing context into browsingContext's set of session storage areas. These areas must be considered separate, not affecting each other in any way.*
Step 14 of https://html.spec.whatwg.org/

[2018-07-31 07:02] paulrouget commented on #17146
Yes please.

Thanks!

[2018-07-31 07:04] paulrouget commented on #20478
#21250 fixed this.

[2018-07-31 07:04] #20478 closed

[2018-07-31 12:53] #20562 closed

[2018-07-31 13:47] ferjm opened #21292 "Intermittent timeout in /css/CSS2/borders/border-left-color-103.xht"
[code]

[2018-07-31 13:53] paulrouget commented on #19999
When #20912 lands, I think the right approach will be to delegate console printing to the embedder, the same way it's done for `window.alert`, and in the case of android, write to logcat via android_logger (see the change in the alert code in the PR).

[2018-07-31 14:59] jdm commented on #21292
This is another instance of #13480.

[2018-07-31 14:59] #21292 closed

[2018-07-31 15:47] #6710 closed

[2018-07-31 16:27] atouchet opened #21294 "Issues with URL dialog box"
When Servo is first launched the URL dialog box appears fairly consistently when pressing Ctrl + L. However when trying to get the URL dialog box to appear again after the first time it often will not show up when pressing Ctrl + L again. Other odd behaviour can happen as well such as the URL box appearing when only pressing L without pressing Ctrl. This issue was introduced with #21250 (at least

[2018-07-31 17:28] jdm opened #21295 "Intermittent failure in /css/cssom-view/elementFromPosition.html"
[code]

[2018-07-31 18:35] #18625 closed

[2018-07-31 18:35] #20855 closed

[2018-07-31 18:35] #21147 closed

[2018-07-31 19:54] LifeIsStrange commented on #21251
@jdm So it now make sense !!!
A big thank you to the epic servo team !

[2018-07-31 21:33] jdm commented on #6422
I don't see where this happens. There's still a TODO pointing at this issue.

[2018-07-31 21:38] jdm commented on #6422
Nevermind, I see the forwarding code in GlobalScope::report_an_error.

[2018-07-31 21:38] #6422 closed

[2018-08-01 02:29] atouchet opened #21298 "Servo for Android crashes on launch"
I thought I would test out the latest Servo nightly build on Android as I have never used it before. I found out that it crashes on launch giving me the message "Unfortunately, Servo has stopped." I am using a Nexus 5 running Android 6.0.1. Is my phone a supported device for the Android port or is something else going wrong?

[2018-08-01 03:12] jdm commented on #21298
I think we may only support Android Oreo and more recent. Android 6 is Marshmallow.

[2018-08-01 05:30] NiLSPACE commented on #21298
It also crashes on my Huawei P10 lite which runs Android 8.

[2018-08-01 08:02] paulrouget commented on #21294
Very likely related to the sticky key issue describe by @dorfsmay here https://github.com/servo/servo/pull/21250#issuecomment-408137919

I think the key release that would unset the control key modifier is not caught because the popup has the focus.

[2018-08-01 08:03] paulrouget commented on #21298
Can you please share the crash report from `adb logcat`?

[2018-08-01 08:04] paulrouget commented on #21298
I imagine that if it's a SDK/NDK version issue, the installation would fail.

[2018-08-01 08:41] paulrouget commented on #21294
Ok, I managed to reproduce on Mac. So it's affecting all the platforms.

[2018-08-01 08:45] paulrouget commented on #21294
To fix this, we should stop tracking the modifiers states as the modifiers keys are pressed, but instead rely on: https://docs.rs/winit/0.16.2/winit/struct.KeyboardInput.html#structfield.modifiers

[2018-08-01 09:09] paulrouget commented on #21294
https://github.com/servo/servo/pull/21301 should fix it.

I can't test on Linux and Windows at the moment, but it works on Mac.

[2018-08-01 10:12] paulrouget opened #21303 "[Android] Re-introduce pinch to zoom"
#20912 followup

We didn't bind the zoom gestures with the new android port.

This should work a lot like scrolling.

First, in ServoView.java, we should use the GestureDetector to detect the gesture. When the gesture starts, we should start looping the same way we do for the flinging gesture (see `doFrame`).

Then, in libsimpleservo we should add a function to set the zoom level.

[2018-08-01 10:25] paulrouget opened #21306 "Disable enable_subpixel_text_antialiasing for VR"
#20912 followup

I think we can safely assume that if Servo is loaded in an Android View, we should enable it, if is loading in a ServoSurface, then it should be disabled.

[2018-08-01 10:25] #21127 closed

[2018-08-01 12:25] nox commented on #21285
https://developer.apple.com/library/archive/documentation/GraphicsImaging/Conceptual/OpenGL-MacProgGuide/opengl_fsaa/opengl_fsaa.html

[2018-08-01 12:58] paulrouget commented on #21298
Found an issue when no arguments are passed.

I'll submit a PR soon.

[2018-08-01 12:59] paulrouget commented on #20742
Fixed since #20912.

Works both on device and emulator.

[2018-08-01 12:59] #20742 closed

[2018-08-01 13:04] paulrouget commented on #21298
To confirm that this is the issue you both running into, can you check if you see any message when doing:

[code]

[2018-08-01 13:46] paulrouget commented on #20393
This works.

[2018-08-01 13:46] #20393 closed

[2018-08-01 15:56] SimonSapin commented on #20393
For posterity: the incantation is adding `--target i686-linux-android` to the build command.

[2018-08-01 16:04] #21298 closed

[2018-08-01 16:05] NiLSPACE commented on #21298
Yes, it's that error:
[code]

[2018-08-01 18:16] jdm opened #21311 "Taskcluster builds fail in mozjs bindgen build step"
[code]
Maybe we need to have a newer version of clang in our taskcluster setup?

[2018-08-01 18:16] highfive commented on #21311
cc @aneeshusa

[2018-08-01 18:16] jdm commented on #21311
cc @asajeffrey

[2018-08-01 19:28] #21294 closed

[2018-08-01 19:47] jdm opened #21312 "Intermittent failure in /_mozilla/mozilla/hit_test_multiple_sc.html"
[code]

[2018-08-01 20:12] jdm opened #21314 "Custom features no longer affect the build"
When I write `./mach build -d --features whatever`, I no longer receive an error about the `whatever` feature not existing. If I add `-v` to the build, I don't see `whatever` passed to any of the crates. This regressed sometime in the past month.

[2018-08-01 20:12] highfive commented on #21314
cc @wafflespeanut

[2018-08-01 20:13] jdm commented on #21314
The actual build command being invoked is `rustup run --install nightly-2018-07-17 cargo build -v --features whatever`, so I'm really confused why this is being ignored now.

[2018-08-01 20:27] jdm opened #21315 "Intermittent error in /workers/semantics/multiple-workers/005.html, /workers/baseurl/alpha/sharedworker-in-worker.html, /workers/baseurl/alpha/import-in-moduleworker.html"
[code]
These all rely on SharedWorker existing in a worker script, and can cause the test harness to observe an error event intermittently as a result.

[2018-08-01 21:38] SimonSapin commented on #21311
Yes I suspect that the build dependencies in the docker image need an update. However since we’re not gating on Taskcluster at the moment there is no pressing need to fix this. The next Taskcluster-related thing I’d like to do is having Docker images themselves being built on Taskcluster per https://github.com/servo/saltfs/issues/559#issuecomment-409632684. This build failure could be a test case

[2018-08-02 00:12] LifeIsStrange commented on #12130
Now that the situation massively improved @paulrouget could we have a nightly apk ?

Even if not everything is perfect, please !

[2018-08-02 00:18] jdm commented on #12130
https://download.servo.org/nightly/android/servo-latest.apk is where the nightly builds go. There should be a build that includes #21308 at that link in 4 hours. If nobody reports any showstopper problems, we'll update https://github.com/servo/download.servo.org/blob/master/index.html to include the link.

[2018-08-02 02:31] atouchet opened #21317 "Servo for Android crashes trying to load servo.org"
I installed the latest nightly Android build of Servo and now it actually launches without immediately crashing. However, when trying to load the homepage https://servo.org/ the page does not load and the browser crashes soon after. This was tested with a Nexus 5 running Android 6.0.1.

[2018-08-02 02:32] atouchet commented on #21298
I am able to launch Servo without it crashing now but I am experiencing a new crash shortly afterwards. I opened a new issue report for that: #21317

[2018-08-02 02:34] atouchet commented on #21294
I have confirmed that this is now working on Windows as well.

[2018-08-02 02:36] atouchet commented on #21303
Added to the Android MVP project as this is mostly a continuation of #20387.

[2018-08-02 03:47] jdm opened #21319 "WPT sync is broken by changes to manifest generation"
The manifest check complains that tools/third_party/attrs/.coveragerc is in the manifest but missing from the filesystem. This looks like a combination of two problems - .coveragerc is covered by a pattern in the .gitignore in that directory, and the manifest generation was changed to rely on the VCS for files. It's possible that the code that deals with adding new files as part of the sync is bec

[2018-08-02 03:47] highfive commented on #21319
cc @aneeshusa

[2018-08-02 04:16] jdm opened #21320 "Consider building WebGL on to of gfx-rs"
[code]
@pcwalton Could you elaborate more on this idea? Are there any clear downsides to that plan?

[2018-08-02 04:30] jdm commented on #21314
I believe this was regressed by #20912, which removed the use of `--manifest-path` from the cargo commands. When I create a workspace with a single default-member, `cargo build --features whatever` no longer produces an error. When I run `cargo build --manifest-path project --features whatever` (assuming the default member is named project), I receive the expected error.

cc @SimonSapin

[2018-08-02 04:31] jdm commented on #21314
This also means that we can't use --debug-mozjs, or any of the VR-related features, and no longer are building with unstable features in our CI.

[2018-08-02 04:40] jdm commented on #21314
I've filed https://github.com/rust-lang/cargo/issues/5849.

[2018-08-02 04:41] jdm opened #21321 "Intermittent failure in /_mozilla/mozilla/scrollBy.html"
[code]

[2018-08-02 05:03] SimonSapin commented on #21320
@pcwalton, would this project be similar in size to re-implementing all of ANGLE? (~510k lines of C/C++ counted by Tokei.)

[2018-08-02 05:14] pcwalton commented on #21320
One interesting possibility would be *using* ANGLE. It seems that Google is
working on a Vulkan backend, and gfx-rs has a Vulkan front-end. So, in
theory, it should be possible to hook ANGLE up to gfx-rs and have a full
gfx-rs stack, without us having to do the work of writing a GL
implementation.

cc @kvark

On Wed, Aug 1, 2018, 10:03 PM Simon Sapin <notifications@github.com> wrote:

[2018-08-02 08:34] asajeffrey commented on #21311
That's odd, I've seen that warning before, but not as an error.

[2018-08-02 09:43] ferjm opened #21322 "Optimize AudioBuffer copying"
Apply the optimizations suggested by the spec [here](https://webaudio.github.io/web-audio-api/#audio-buffer-copying):

Implementations can perform an additional optimization: if getChannelData() is called on an AudioBuffer, fresh ArrayBuffers have not yet been allocated, but all invokers of previous acquire the content operations on an AudioBuffer have stopped using the AudioBuffer's data, the raw

[2018-08-02 10:44] paulrouget commented on #12130
It appears to work fine.

[2018-08-02 11:02] LifeIsStrange commented on #12130
Yes, the browser UI just works !
Servo is incredibly fast, some pages not in cache load instantly !!
But there is a small number of issues that block servo from being casually used.
That is on my oneplus one :

Some <h2> have some letters that are invisible (but spaced), even on the default page.

Websites effectively fit the size of my screen but at least text feels often a little bit too small.

[2018-08-02 12:36] lygstate commented on #12130
works， Chinese fonts doesn't show properly

[2018-08-02 13:13] kvark commented on #21320
I can't think of a better elevator pitch intro :)

Wow, that's about 15x the size of gfx-rs (not counting dependencies). I surely hope the effort is not going to be that big.

It's a neat shortcut, especially given that Google/Angle is heavily investing into Vulkan currently. But ultimately I'd prefer us not depending on Angle in the long term.

That's indeed an interesting question...

I believe,

[2018-08-02 13:13] paulrouget commented on #12130
@LifeIsStrange thank you for testing. Could you file issues for these bugs?

[2018-08-02 13:17] paulrouget opened #21323 "[Android] keyboard support"
On Show/HideIME we should toggle the keyboard, and send keys to servo.

@fabricedesre do you already have code to translate Android keys to Servo keys?

[2018-08-02 13:18] paulrouget commented on #20741
Fixed.

[2018-08-02 13:18] #20741 closed

[2018-08-02 13:26] paulrouget commented on #10967
It's not a drop-in replacement of a WebView, but a ServoView component is now available since #21199.

[2018-08-02 13:26] #10967 closed

[2018-08-02 13:27] SimonSapin commented on #21320
Maybe some sites/apps will opt to do that if the benefits outweight the cost of shipping that compat layer across the network, but WebGL is not going away anytime soon from browser implementations. Even if it’s not necessarily the fastest path, we’ll need to keep supporting it for a *long* time.

[2018-08-02 13:30] paulrouget commented on #9933
It works with the new Android port.

[2018-08-02 13:30] #9933 closed

[2018-08-02 13:30] paulrouget commented on #7212
No an issue anymore.

[2018-08-02 13:30] #7212 closed

[2018-08-02 14:02] jdm commented on #21319
It's more complicated than that. `tools/third_party/attrs/.coveragerc` is present in the git tree that is used for preparing the WPT sync. `tests/wpt/web-platform-tests/tools/third_party/attrs/.coveragerc` is present in the local branch of servo that is pushed to github. But `tests/wpt/web-platform-tests/tools/third_party/attrs/.coveragerc` is not present in the branch that exists on github: https

[2018-08-02 14:11] jdm commented on #21319
[code]

[2018-08-02 15:21] fabricedesre commented on #21323
No I don't have anything on Android. Also, this depends on https://github.com/servo/servo/issues/20331 ideally

[2018-08-02 15:45] #21252 closed

[2018-08-02 15:47] pcwalton commented on #21320
There's https://github.com/Think-Silicon/GLOVE which I just saw go by on Twitter as well.

[2018-08-02 16:32] kvark commented on #21320
@pcwalton that's an interesting project to look deeper at. My first reaction is suspicion due to the lack of notion of OpenGL CTS coverage and zero issues/PRs (isolated one-man show).

[2018-08-02 16:58] LifeIsStrange commented on #12130
@paulrouget of course, but I will do it in the upcoming days sorry.

[2018-08-02 17:18] pcwalton commented on #21320
Yeah, I'm skeptical of it too, but it goes to show that an implementation of GLES 2 may not be *that* much work.

[2018-08-02 18:00] atouchet commented on #12130
I still have not been able to run the Android version without it crashing: #21317

[2018-08-02 18:38] aykevl commented on #21317
Same for me (Android 6, Samsung S5 mini, LineageOS). logcat:

[code]

[2018-08-02 18:50] NiLSPACE opened #21326 "http://output.jsbin.com/surane/quiet on Android glitches out"
See GIF:
![svid_20180802_145823](https://user-images.githubusercontent.com/1160867/43604226-8e8b3518-9695-11e8-97b9-8b758264d2ce.gif)

Also, I noticed the GPU usage is at 0%.

Phone: Huawei P10 lite

[2018-08-02 19:43] jdm opened #21327 "Android crash in font code"
I visited `https://lastontheboat.tumblr.com`, which didn't really get anywhere before showing me this crash dump:
[code]

[2018-08-02 19:47] jdm commented on #21327
This is caused by the family_name pointer in the FT_Face being null; according to https://www.freetype.org/freetype2/docs/reference/ft2-base_interface.html this is allowed.

[2018-08-02 19:56] jdm opened #21328 "Stopping android page load crashed servo"
[code]

[2018-08-02 20:05] jdm opened #21329 "Servo crashes after screen turns off and on again on android device"
[code]

[2018-08-02 20:07] jdm opened #21330 "Validate all JNI symbols at build time"
There should be some way to ingest the interface in the [java code](https://github.com/servo/servo/blob/master/support/android/apk/servoview/src/main/java/com/mozilla/servoview/JNIServo.java#L10-L72) and verify that the finished libsimpleservo build contains the equivalent symbols from https://github.com/servo/servo/blob/master/ports/libsimpleservo/src/jniapi.rs.

[2018-08-02 20:07] jdm commented on #21330
This would have avoided #21328.

[2018-08-02 20:09] jdm commented on #21328
It's easiest to hit this in a debug build, because pages take so long to load that the screen turns off because you're waiting until it's done.

[2018-08-02 20:10] jdm commented on #21329
It's easiest to hit this in a debug build, because pages take so long to load that the screen turns off because you're waiting until it's done.

[2018-08-02 20:14] jdm opened #21331 "Promise destructor can crash when clearing TLS list of rooted promises"
When I load https://archiveofourown.org/works/15287346 and then reload it after it's finished, I get the following crash:
[code]

[2018-08-02 20:16] jdm commented on #21331
Looks like we're not in a compartment:
[code]

[2018-08-02 20:17] jdm commented on #21331
The promise destructor isn't great when we're tearing down the list of rooted promise objects because a thread is shutting down:
[code]
We should probably clear these tables of rooted values out during the part of shutting down the thread that we actually control.

[2018-08-02 20:42] KiChjang commented on #21330
So, `javah` (which comes with any JDK installation) can help with this by generating a C header file for each `native` statement contained within a Java file.

The command that I run to get the C header file output is `javah -jni -v -d /path/to/output /path/to/java/file.java`.

[2018-08-02 20:47] KiChjang commented on #21330
We can even go further and verify that the argument types for the corresponding function matches what we have in the Rust source file.

[2018-08-02 21:04] jdm commented on #21327
I have a patch that fixes this. It only affects debug builds as far as I can tell.

[2018-08-03 00:43] atouchet commented on #7210
That website has changed and the link is no longer valid. Is there a better example URL that shows the issue?

[2018-08-03 00:44] jdm opened #21332 "Gradle build performs redundant custom step multiple times"
When packaging the android build, I see 4-5 tasks that look like:
[code]
This is redundant, and the following patch significantly improves the speed of the packaging step:
[code]
cc @paulrouget

[2018-08-03 06:01] paulrouget opened #21333 "UI for desktop port"
We eventually want to have a minimal UI for the desktop port.

This would include a toolbar and a list of tabs.

The constrains we have are:
- multiplatform (Linux/Windows/Mac)
- in Rust or JS (we want to limit the amount of toolchain to support)
- no intrusive changes in the engine (as in, under /components/) or web standards bending

Non goals:
- Innovative UI: we are not trying to build a next

[2018-08-03 06:34] paulrouget commented on #21330
Could we create the Java interface from the jniapi.rs?

[2018-08-03 09:54] gterzian opened #21336 "Intermittent Failures of toggleEvent"
[code]

For example in https://github.com/servo/servo/pull/21325

[2018-08-03 09:56] gterzian opened #21337 "Intermittent WebGL failures"
[code]
For example in https://github.com/servo/servo/pull/21325

The issue has been previously addressed in #21313

[2018-08-03 10:09] nox commented on #21337
Cc @jdm

[2018-08-03 12:42] asajeffrey commented on #21331
Also happening in WPT in smup servo:
[code]

[2018-08-03 13:21] nox opened #21338 "Intermittent results in /css/cssom-view/elementsFromPoint-invalid-cases.html, /css/cssom-view/CaretPosition-001.html, /html/browsers/browsing-the-web/scroll-to-fragid/scroll-to-id-top.html"
[code]

[2018-08-03 13:22] nox commented on #21338
All of those are related to hit testing and scrolling.

[2018-08-03 13:24] jdm opened #21339 "Various hit-testing/scrolling tests are suddenly producing intermittent failures since July 30"
[code]
#21312, #21295, #21321, #21283, #21338 are the ones that fit this pattern so far.

[2018-08-03 13:24] jdm commented on #21339
https://github.com/servo/servo/commits/master?after=c5aaae73331fcf4a3dd654abe02840d8a5ab7610+104

[2018-08-03 13:33] jdm commented on #21339
Every single instance I've checked has happened on servo-mac4 which was newly provisioned around that time, iirc.

[2018-08-03 14:01] asajeffrey opened #21340 "Intermittent CRASH in /fetch/cross-origin-resource-policy/fetch-in-iframe.html"
Issue https://github.com/servo/servo/issues/21331 is causing an intermittent WPT test failure.

[2018-08-03 14:01] asajeffrey commented on #21340
cc @jdm

[2018-08-03 16:37] fabricedesre commented on #21333
Nit picking on "the browser logic is still written in Rust" : there will be some logic in JS loaded in the chrome document. I predict that it will grow more than you'd like :slightly_smiling_face:

[2018-08-03 16:56] ferjm opened #21342 "Support default values for WebIDL unions"
Generating bindings for this dictionary https://webaudio.github.io/web-audio-api/#dictdef-audiocontextoptions breaks with:

[code]

[2018-08-03 17:01] asajeffrey commented on #21067
Also seeing this in #21029, e.g. http://build.servo.org/builders/linux-rel-css/builds/9320
[code]

[2018-08-03 21:09] gterzian opened #21343 "Compiling slower with libsimpleservo"
I've noticed that since `libsimpleservo` has been added, it seems that the code generation takes twice as much time(and memory). It appears that there are two processes for `llvm-dysmutil`, I can only assume one for both `/ports/servo` and one for `ports/libsimpleservo`.

Am I missing some option when compiling?

[2018-08-03 21:42] gterzian opened #21344 "Unify channel communication across Servo"
As we are in the process of migrating from `std::sync::mpsc` to `crossbeam` in https://github.com/servo/servo/pull/21325, while we are also still using `ipc-channel` besides it, it seems there is a need to ensure a uniform API, for example for error handling. A start in that direction is found for example in https://github.com/servo/servo/blob/master/components/canvas_traits/webgl_channel/mod.rs

[2018-08-04 15:14] pyfisch commented on #20694
Don't think this is relevant any more.

[2018-08-04 15:14] #20694 closed

[2018-08-04 21:11] pyfisch commented on #21179
Adding `--cap-lints warn` works for me. Would be nice if this was fixed here so the online docs are updated again.

@SimonSapin Do you remember why you reverted this? https://github.com/servo/servo/commit/6dff251e35736fa74eaab6ddbc8b6ecec08ecf48

[2018-08-05 06:10] SimonSapin commented on #21179
I think it had to do with the Stylo docs using an older compiler and rustdoc that didn’t have that flag yet, but we’re not generating those anymore we should be able to unrevert now.

[2018-08-05 16:13] qaisjp commented on #18905
As a random dude who came across this issue after deciding to add "good first issue" as a label to a project, I don't think "some E-Easy issues require quite a bit of spec reading and diving into deep parts of the code" sounds easy 😛

Just my 2p!

[2018-08-06 05:07] paulrouget commented on #21343
The final linking stage might be twice longer than before. And I don't see anyway to work around that.

You can compile ports/servo only: `./mach build  -p servo`.

I'm updating the README: https://github.com/servo/servo/pull/21347

[2018-08-06 05:07] #21343 closed

[2018-08-06 05:31] paulrouget commented on #21333
Right. But hopefully not too much because the JS code has access to nothing but the webpage and the browser state. Also we are not trying to build a full-featured browser. But yeah, I've seen how these things get bloated :)

[2018-08-06 05:34] paulrouget commented on #21329
We're missing the suspend mechanism we use to have with winit. Should not be too hard to fix.

[2018-08-06 05:46] paulrouget commented on #21317
@aykevl I don't know if your phone support GLES 3. But apparently the config used it not compatible with your phone. I don't really know what to do here. I think at least we should try to configure EGL with the same config as EGL 3, but with EGL 2 and see when it fails. If you compile Servo yourself, What you could do is this: change support/android/apk/servoview/src/main/java/com/mozilla/servovie

[2018-08-06 05:47] paulrouget commented on #21317
@atouchet can you please see if it's the same bug as @aykevl ?

Let me know if you need help figuring out how to get the logs.

[2018-08-06 14:25] gterzian commented on #21337
closing because aren't intermittent...

[2018-08-06 14:25] #21337 closed

[2018-08-06 14:53] collin5 commented on #21192
@highfive: assign me

[2018-08-06 14:53] highfive commented on #21192
Hey @collin5! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-08-06 17:41] SimonSapin commented on #21192
@jdm, I am opposed to implementing any more stylistic lints in Python without an actual parser of Rust syntax. I will veto a PR doing so unless it is sneaked in without my notice.

@collin5 Thank you for volunteering, but before spending a lot of time on this specific issue please consider that the proposed design is being disputed, so your work might end up not being used.

[2018-08-06 19:33] collin5 commented on #21192
@SimonSapin No worries! Thanks for the heads up.

[2018-08-06 23:44] aykevl commented on #21317
According to a random app from the play store ("OpenGL Check Version") I'm using OpenGL version 2.0.

I don't really have the time to build a version of Servo with this change, but if you have one I can try it (and provide logs).

[2018-08-07 05:23] paulrouget opened #21349 "android-x86 perma failure"
See: http://build.servo.org/builders/android-x86

[code]

[2018-08-07 05:25] paulrouget commented on #21349
/cc @jdm @SimonSapin

[2018-08-07 09:18] paulrouget opened #21350 "Root stacking context doesn't honor the viewport origin"
In Servo, the embedder can set the viewport to any size, but also to any position.
Setting an arbitrary size works. Setting the position doesn't.

The problem could be:

1. the root stacking context bounds origin is `0x0` when it should start at the viewport origin
2. or, it's fine if the root stacking context bounds origin is `0x0`, but then, WR should honor the document origin set via `set_windo

[2018-08-07 09:44] paulrouget commented on #21349
There was an emulator process running since yesterday. I killed it. We'll see if that does anything.

[2018-08-07 10:05] paulrouget commented on #21349
That did it.

[2018-08-07 10:05] #21349 closed

[2018-08-07 10:11] paulrouget commented on #21317
That's the issue. This tool is apparently supposed to mention 3.0 if it's supported. We should probably make it clear that it's failing because of a GLES version issue.

[2018-08-07 10:50] paulrouget commented on #21317
Hmm, pocking more, and apparently, determining the available GLES version is not obvious.

[2018-08-07 12:55] jdm opened #21351 "Intermittent failure in /html/browsers/browsing-the-web/scroll-to-fragid/scroll-to-top.html"
[code]
Yet another for #21339.

[2018-08-07 12:55] jdm commented on #21339
The most recent on occurred on servo-mac7, which is the only other machine upgraded to 10.13. This looks like a smoking gun to me.

[2018-08-07 14:05] DanxiongLei opened #21352 "handle_object_deletion(webglrenderingcontext.rs) may be wrong"
This is how it defined,
[code]

This is  how we used it

[code]

If we have a bounded framebuffer previously, which is not the one to delete.

we would not change the `!binding`, but we would change the gl side with `Command::BindFramebuffer(Default)`.

[2018-08-07 14:11] jdm commented on #21352
Yes, that does look wrong. Thanks for finding it! Would you like to write a patch to fix it?

[2018-08-07 16:49] #21277 closed

[2018-08-07 17:53] #21164 closed

[2018-08-07 19:15] jdm opened #21354 "Ensure that event handlers match updated web standard"
https://github.com/whatwg/html/pull/3850 made a significant change to the way that event handlers are described in the HTML standard. We should make sure our implementation still matches the prose.

[2018-08-08 00:12] jdm opened #21358 "Intermittent pass in /cors/redirect-userinfo.htm"
[code]

[2018-08-08 00:25] jdm commented on #21358
Reverted.

[2018-08-08 00:25] #21358 closed

[2018-08-08 03:25] #21179 closed

[2018-08-08 08:57] paulrouget commented on #7211
Is this still happening?

[2018-08-08 09:02] paulrouget commented on #21323
Dupe of #12127

[2018-08-08 09:02] #21323 closed

[2018-08-08 09:03] paulrouget commented on #12127
@fabricedesre mentioned this earlier:

[2018-08-08 09:48] #21176 closed

[2018-08-08 10:29] paulrouget commented on #20331
Do DOM key events cover enough to print all that is needed for an IME?

I'm thinking about Chinese characters, or dead keys combo. For example when I type: `Option+e a`, I see an accented underscore which is then replaced by `á`，or `ni1` in Pinyin will show `ni` underscored then replaced with `你`, or pressing `lll Return` will show `丿丿丿` then be replaced by`彡` with a chinese keyboard. Also, naviga

[2018-08-08 12:35] paulrouget commented on #21332
Thanks. https://github.com/servo/servo/pull/21361

[2018-08-08 12:37] paulrouget commented on #21328
@jdm did you make a PR for this?

[2018-08-08 12:55] jdm commented on #7211
I expect that the easiest way to tell is by adding some logging around https://github.com/servo/servo/blob/master/components/gfx/platform/freetype/font_list.rs#L23 and https://github.com/servo/servo/blob/master/components/gfx/platform/freetype/font_list.rs#L53.

[2018-08-08 14:30] jdm commented on #19797
It's available for anybody.

[2018-08-08 15:27] pylbrecht commented on #19797
Alright, then I'd like to work on that!

[2018-08-08 15:41] fabricedesre commented on #20331
Yes, what we really need is full composition support. showIME/hideIME are needed just to trigger the virtual keyboard, and then we need something similar to Gecko's nsITextInputProcessor.

[2018-08-08 17:36] jdm commented on #19797
It's all yours! Ask questions if anything is unclear :)

[2018-08-08 17:54] gterzian commented on #19997
I would be very interested in this...

Would the throttling happen on a 'per tasksource' basis, or would it be more something with a logic across task sources(like prioritize one task source over the other in certain cases)?

Do you have other examples of 'more complex interactions' that could be supported?

[2018-08-08 17:58] jdm opened #21362 "Webrender testcase crashes due to stack overflow"
`./mach run -d http://output.jsbin.com/surane/quiet --debug`

Backtrace: https://gist.github.com/jdm/693470ab393f8a526f19e3c3cc8d5a01

cc @glennw

[2018-08-08 17:58] jdm commented on #21362
[code]

[2018-08-08 19:25] gterzian opened #21363 "Figure out the right data structure to keep track of open "tabs""
Follow up for #20678, which introduces `window.open` (see https://html.spec.whatwg.org/multipage/#window-open-steps), which opens the door for creating tabs from within script.

The tab handling is still rudimentary, it's basically [a stack of tabs](https://github.com/servo/servo/pull/20678/commits/756744da3048b9123504b56f16fd9d5994d0d4ee#diff-6c6ef4aa6562e17a5c65dee6a6869133R81) on which new ones

[2018-08-08 21:26] gterzian commented on #19997
*Each task is defined as coming from a specific task source. All the tasks from one particular task source and destined to a particular event loop must always be added to the same task queue, but tasks from different task sources may be placed in different task queues.* https://html.spec.whatwg.org/multipage/#task-queue

I think we actually have only one task queue for a given script-thread/event-

[2018-08-08 22:53] #21327 closed

[2018-08-09 03:26] atouchet commented on #21317
@paulrouget this is the output I got in Logcat.

[code]

[2018-08-09 06:14] pylbrecht commented on #19797
Are there any existing tests for the code involved? Should I write tests for the new code?

[2018-08-09 06:50] paulrouget commented on #21363
This is a copy/paste from some old notes, some of these things might not make sense anymore.

---

At the end, once we support multiple windows, we will end up with something like this:

Set of Windows, each holding a set of Tabs + cursor to selected tab.

A tab struct would include:
- title, url, favicons, hovered link, http response, meta tags…
- history information (vec of `LoadData`, see below

[2018-08-09 11:34] gterzian commented on #19997
Also, having separate queues for task sources might enable us to get rid of the `DomRefCell<HashMap<TaskSourceName, Arc<AtomicBool>>>` "task canceller" concept, https://github.com/servo/servo/blob/2fc0633f299cf4b44eeb6d0946b034e43bb591ff/components/script/dom/window.rs#L261

[2018-08-09 14:25] jdm commented on #19797
We do not have any unit tests for the code involved, and it's not clear to me that it is feasible to do so. Manual testing for these changes is fine.

[2018-08-09 15:22] #21332 closed

[2018-08-09 16:10] tigercosmos commented on #21333
What do the Servo team think about this?

[2018-08-09 16:26] jdm commented on #21333
I'm in favour of the design proposed by Paul.

[2018-08-09 16:38] fabricedesre commented on #21333
Let me recap a bit:
- the chrome WR doc will render eg. the address bar and tap strip using HTML/CSS/js.
- the Rust embedder will position content WR Docs, making all layout calculation to be positioned and sized properly and (usually) not overlap with the chrome doc.
- when something like window.alert("Servo!") is called, the Rust embedder decides how to handle it. This usually is tab-modal, so n

[2018-08-09 16:42] cbrewster commented on #21150
I'd be interested in working on this one, would the profiler just output the time it takes to run `WebGLCommand`s as they occur?

[2018-08-09 16:56] jdm opened #21373 "Format all code with rustfmt"
https://github.com/servo/servo/issues/8553#issuecomment-359192605 describes a configuration that respects some style settings that we care about. I think it's worth systematically formatting Servo's code crate by crate (or module by module in the case of particularly large crates) and then integrating the changes in https://github.com/servo/servo/pull/20617 to enforce proper style in our CI.

Comp

[2018-08-09 17:04] jdm opened #21374 "Add a mach command to run rustfmt"
To make it easy to accomplish #21373, we need to make it easy to run the version of rustfmt that is part of the pinned version of rustc that Servo's build system uses. I propose a new rustfmt command added to `python/servo/devenv_commands.py` which runs `cargo fmt` on a directory provided as a command argument. We will also need to add the rustfmt preview to the pinned Rust toolchain that Servo us

[2018-08-09 17:04] highfive commented on #21374
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-08-09 17:09] jdm commented on #21150
I think there are two different measurements that we care about:
* the actual time it takes to complete a WebGL DOM API (only some of which perform synchronous communication with the webgl thread)
* the time it takes to to evaluate a single WebGLCommand in the webgl thread

If we track the total invocations as well as time taken for each API/WebGLCommand, we'll get average execution times as well

[2018-08-09 17:34] #21328 closed

[2018-08-09 21:34] jdm opened #21375 "Ensure document.open removes event handlers like updated spec"
https://github.com/whatwg/html/pull/3893#event-1781164408

[2018-08-10 00:33] JoshBrudnak commented on #21374
Hi, I would like to work on this issue, @highfive: assign me

[2018-08-10 00:33] highfive commented on #21374
Hey @JoshBrudnak! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-08-10 01:09] Croydon commented on #9147
`ports/cef/` doesn't exist anymore, why?

[2018-08-10 02:17] atouchet commented on #9147
@Croydon see: https://groups.google.com/forum/#!topic/mozilla.dev.servo/5MHDnfMya3s

[2018-08-10 02:21] atouchet opened #21377 "CEF issue cleanup"
CEF support was removed from Servo months ago but there are still a number of related open issues for it (examples: https://github.com/servo/servo/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+CEF). Can some of these issues be closed now?

cc @paulrouget

[2018-08-10 08:13] paulrouget commented on #21377
@atouchet Yes. Some of these are irrelevant now.

[2018-08-10 08:14] paulrouget commented on #19503
Now a C library is built by default. See target/debug/libsimpleservo.so/dylib/dll.

[2018-08-10 08:14] #19503 closed

[2018-08-10 08:37] paulrouget commented on #21333
@fabricedesre All your concerns are valid if you're thinking about building a full browser. A full browser needs sidebar, toolbars, statusbar, popups, preferences pane, animations, integration with the OS, the awesomebar, etc… And that would be a lot of messy work with the approach I'm proposing. A better approach would be to do what I did with servoshell. Native UI + servo as a lib.

But like I m

[2018-08-10 10:15] traumschule opened #21379 "./mach build -r fails on skia although it's present"
[debian buster x86]

building servo fails on skia although it is present
[code]

[2018-08-10 10:27] traumschule commented on #21379
also cargo build fails
[code]

[2018-08-10 10:34] traumschule commented on #21379
@paulrouget: https://paste.debian.net/1037365

[2018-08-10 10:40] paulrouget commented on #21379
In your previous command, backtrace is missing.

Doesn't look like skia specific.

[2018-08-10 10:42] paulrouget commented on #21379
/cc @SimonSapin

[2018-08-10 10:57] gterzian commented on #19997
Thanks for the input.

I think I'll start with the "annotation/vector" approach you describe, because it might require somewhat less code change. Also, it's not dependent on a `len` method of channels, so I won't be blocked by #9881

[2018-08-10 11:11] Croydon commented on #9147
@atouchet Thanks for the link.

I hope that CEF support comes back down the road. I would love to see it as a drop in replacement for Chromium.

If CEF support is coming back I would also like to try to package it for the C/C++ package manager (and build tool) [Conan](http://conan.io)

[2018-08-10 11:51] traumschule commented on #21379
now all in one: https://paste.debian.net/1037384/

[2018-08-10 12:17] jdm commented on #9147
Since CEF support was removed, there's no reason to keep this issue open.

[2018-08-10 12:17] #9147 closed

[2018-08-10 13:44] jdm commented on #21362
Whoops, I meant cc @gw3583

[2018-08-10 15:46] #20442 closed

[2018-08-10 16:12] ntenczar commented on #20172
I may take a stab at this if that's alright!

[2018-08-10 16:26] jdm commented on #20172
That would be great!

[2018-08-10 18:00] pylbrecht commented on #19797
I looked into the code and just want to verify my assumptions before I continue:

Every [QueryMsg](https://doc.servo.org/script_layout_interface/message/enum.QueryMsg.html) has a corresponding [method](https://doc.servo.org/script/dom/window/struct.Window.html#method.content_box_query) in `script/dom/window.rs`, which calls [`Window::layout_reflow()`](https://doc.servo.org/script/dom/window/struct

[2018-08-10 18:44] jdm opened #21381 "Intermittent pass/fail in /url/urlencoded-parser.any.worker.html and /url/urlencoded-parser.any.html"
[code]
---
[code]

[2018-08-10 19:12] jdm commented on #19797
Yes, those sound like reasonable choices!

[2018-08-10 19:16] #21374 closed

[2018-08-10 20:37] highfive commented on #21373
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-08-10 20:38] jdm commented on #21373
We now have a `./mach rustfmt [path]` command that can be used, and you'll want to run `rustup component add rustfmt-preview` to install rustfmt if you don't already have it.

[2018-08-10 23:46] jdm opened #21382 "Intermittent fail in /html/browsers/browsing-the-web/navigating-across-documents/006.html"
[code]

[2018-08-11 00:14] jdm opened #21383 "Intermittent pass in /html/browsers/history/the-history-interface/traverse_the_history_5.html, /html/browsers/history/the-history-interface/traverse_the_history_3.html, /html/browsers/history/the-history-interface/traverse_the_history_4.html, /html/browsers/history/the-history-interface/traverse_the_history_2.html, /html/browsers/history/the-history-interface/traverse_the_history_1.html"
[code]

[2018-08-11 02:59] #13241 closed

[2018-08-11 02:59] #20673 closed

[2018-08-11 02:59] #20713 closed

[2018-08-11 02:59] #20887 closed

[2018-08-11 03:37] paulrouget commented on #21379
Worth mentioning this is happening on a 32bit linux system.

[2018-08-11 06:35] kingdido999 commented on #21373
Hi, I would like to work on this and will probably start from formatting the first component on the top.

@highfive: assign me

[2018-08-11 06:35] highfive commented on #21373
Hey @kingdido999! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-08-11 07:59] SimonSapin commented on #21379
So `-L /path` is correctly passed with a directory that contains `libFOO.a`, but rustc says it doesn’t find it. I’d try reproducing by running rustc without cargo (copy the line from the output of `cargo build -v`) and then running `strace -e file rustc` (with the rest of arguments) what files its looking at. Also run `file` on those `.a` files to see if they’re in the expected format (for example

[2018-08-11 09:36] paulrouget commented on #21333
Having a transparent top document is totally possible. It's maybe even better if we want to show popups & co.

There's nothing specially tricky here. There is no notion of focus. It's up to the embedder to decide if the content is focused or not, and then send the events to the right browser. As for mouse events, a hittest will do.

[2018-08-11 09:37] paulrouget commented on #21317
@atouchet anything special about your launcher?

[2018-08-11 09:56] gterzian commented on #20960
This one ended-up being done in https://github.com/servo/servo/pull/20678

[2018-08-11 09:56] #20960 closed

[2018-08-11 12:40] traumschule commented on #21379
I broke it down, corrected the paths and got errors for skia's use
of unstable libc. all does it maybe fail to build and fail with a path
error because of this?

[code]

[code]

[2018-08-11 12:49] SimonSapin commented on #21379
The variable name in `--extern libc=$lib` does not match `libs=…`, so rustc doesn’t use the libc crate from crates.io and instead falls back on the private / instable copy of it distributed together with `std`.

[2018-08-11 15:40] kingdido999 commented on #21373
So I've successfully built the project. But when I run `./mach rustfmt components/allocator/lib.rs`, it says:

[code]

So I look into the [rustfmt command](https://github.com/servo/servo/blob/master/python/servo/devenv_commands.py#L236) defined in `python/servo/devenv_commands.py`, seems we have to pass in a `--directory` argument. Then I do `./mach rustfmt -d components/allocator`, it returns:

[

[2018-08-11 17:08] atouchet commented on #21317
@paulrouget I don't think so. I believe I'm using the default Google Now launcher. I could try an alternative launcher if you think it could make a difference.

[2018-08-11 17:55] traumschule commented on #21379
In each cases in the -L path the direct parent of the servo root is missing.

For 'cargo build' the failing command

has to be

Difference:

`/home/user/src/rust/servo/target/debug/build/backtrace-sys-90cc97353b9d4757/out/.libs`
instead of
`/home/user/src/servo/target/debug/build/backtrace-sys-90cc97353b9d4757/out/.libs`

Same for './mach build -r '

`/home/user/src/rust/servo/target/release/build

[2018-08-11 19:55] atouchet commented on #21317
I recently got a failure message instead of just a blank page when trying to load a site. I wasn't able to record the exact message though and so far I have not been able to reproduce it.

[2018-08-11 20:01] atouchet commented on #21317
I have also tried launching Servo from the third party Nova launcher and the results have been the same. Servo still crashes after a couple of seconds.

[2018-08-12 10:59] gterzian commented on #21383
This is a result of https://github.com/servo/servo/pull/20678, I've noticed some of them would pass but it turned out to be intermmittent. They're all using `window.open`, which now has been implemented...

[2018-08-12 11:05] gterzian commented on #21382
I think I remember this one from #20678 as well, the "target" part of the link and form has now been implemented through "the rules for choosing a browsing context" in that PR.

[2018-08-13 05:39] jdm opened #21389 "Appveyor CI is broken"
[code]

[2018-08-13 05:39] highfive commented on #21389
cc @aneeshusa

[2018-08-13 06:16] paulrouget opened #21390 "debug! messages don't show up in logcat. warn! and info! do."

[2018-08-13 06:52] SimonSapin commented on #21390
Maybe the `max_log_level` feature flag is relevant?

[2018-08-13 07:47] paulrouget commented on #21317
@atouchet do you use your own build or a nightly build?

[2018-08-13 08:00] paulrouget commented on #21390
Rust debug is translated into a Android debug log. And from https://developer.android.com/reference/android/util/Log: "Debug logs are compiled in but stripped at runtime. Error, warning and info logs are always kept."

This only happens with a release build.

[2018-08-13 09:10] paulrouget commented on #21390
@SimonSapin that makes sense. So I guess we want to keep that behavior. I'll be using `info!` more: #21391

[2018-08-13 10:16] asajeffrey opened #21392 "Inter-process StructuredClone of SharedArrayBuffer"
In https://searchfox.org/mozilla-central/rev/ca869724246f4230b272ed1c8b9944596e80d920/js/public/StructuredClone.h#218-224, the policy for inter-process cloning is:
[code]
We need to think about what this means for Servo: can we use the type system to distinguish beween inter- vs intra-process structured clone data?

[2018-08-13 14:28] jdm opened #21393 "Stop button doesn't make anything stop"
Our code supports cancelling document loads since #21111, so we should thread that information through the appropriate spots so that the android embedding is able to actually stop loading documents when the button is pressed.

[2018-08-13 17:49] tigercosmos opened #21395 "build break by pip install wpt requirements"
Ubuntu 18, follow the readme to setup(has done again).
good when behind 500 commits to the latest master. break when I update to the current master
[code]

[2018-08-13 17:50] jdm opened #21396 "Investigate GStreamer-based WebRTC"
This issue will collect all of the resources that I come across when researching whether this is the right fit for Servo's needs.

[2018-08-13 17:54] jdm commented on #21396
https://gstreamer.freedesktop.org/data/events/gstreamer-conference/2017/Matthew%20Waters%20-%20GStreamer%20WebRTC.pdf
https://webengineshackfest.org/2018/#talkModalAlexYouenn
http://blog.nirbheek.in/2018/02/gstreamer-webrtc.html
https://github.com/centricular/gstwebrtc-demos/
https://cgit.freedesktop.org/gstreamer/gst-plugins-bad/tree/tests/examples/webrtc
https://developer.ridgerun.com/wiki/index

[2018-08-13 17:59] highfive commented on #21395
cc @wafflespeanut

[2018-08-13 18:13] tigercosmos commented on #21395
It's work when I change `mozlog ` in `/tests/wpt/web-platform-tests/tools/wptrunner/requirements.txt`
from `3.8` to `3.7`
[code]

@jdm  what do you think about this? should PR?

[2018-08-13 18:17] tigercosmos commented on #21395
It also works when I delete the whole _virtaulenv folder

[2018-08-13 18:17] #21395 closed

[2018-08-13 18:37] jdm commented on #21329
@paulrouget Do you have any pointers to the code that used to exist? This seems like a big impediment to dogfooding.

[2018-08-13 18:38] jdm commented on #21319
Fixed upstream.

[2018-08-13 18:38] #21319 closed

[2018-08-13 18:39] jdm commented on #21314
@SimonSapin Are you aware of a workaround here? Could we restore the previous manifest-path usage that existed before #20912?

[2018-08-13 19:47] atouchet commented on #21317
@paulrouget I have been using the nightly builds. I will make sure to re-test after your PR has landed.

[2018-08-13 19:52] jdm opened #21397 "Image loads that yield a placeholder image receive a load event instead of an error event"
Running [this test](http://software.hixie.ch/utilities/js/live-dom-viewer/?%3C!DOCTYPE%20html%3E%0A%3Cimg%20src%3D%22http%3A%2F%2Fwhatevertheheckawefawefawe.org%2Fimg.gif%22%20onload%3D%22w(%27load%27)%22%20onerror%3D%22w(%27error%27)%22%3E) in Firefox shows a "error" message in the log. Running it in Servo shows a "load" message instead.

[2018-08-13 20:58] gterzian commented on #21393
related to https://github.com/servo/servo/issues/21231

[2018-08-14 07:46] paulrouget commented on #21329
This should be only Java code. When [the app is suspended]( https://developer.android.com/reference/android/app/Activity.html#onPause()) we should stop calling `mJNI.performUpdates()` (see Servo.java) when the `wakeup` callback is called.

When the app is resumed, it is necessary to call `performUpdates` once if `wakeup` was called while suspended.

Also, in `ServoView.java`, in `doFrame`, if it's

[2018-08-14 08:01] paulrouget opened #21401 "Pressing the Android back button should call servo.goBack instead of hiding the app"
… and if we can't go back, it should hide the app.

[2018-08-14 08:10] paulrouget opened #21402 "Make it possible to build the Android app without compiling Servo"
We provide AAR. So we should provide a way to compile the Android App with the AAR instead of compiling everything.

This will make the life of potential contributors a lot easier.

[2018-08-14 08:11] paulrouget opened #21403 "Make the Android UI pretty"
As of now, it looks like this:

<img width="406" alt="screen shot 2018-08-14 at 09 50 33" src="https://user-images.githubusercontent.com/373579/44078722-87f2bd00-9fa7-11e8-998b-7c3f61991b8a.png">

There are plenty of ways to make this look better. Maybe the buttons should be under a drop down menu. We should use icons instead of text. The toolbar should be merged with the UI top bar. Etc.

To make

[2018-08-14 08:15] highfive commented on #21401
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-08-14 08:15] paulrouget commented on #21401
All that needs to be done here is to override [`onBackPressed`](https://developer.android.com/reference/android/app/Activity#onBackPressed()), and call `mServoView.goBack` if we can go back (see `onHistoryChanged`) or `super.onBackPressed` if we can't.

[2018-08-14 11:49] paulrouget commented on #21329
(I'm working on a PR)

[2018-08-14 13:03] kvark commented on #21350
Note that "viewport" term here is on your side, and it's confusing. What WR exposes is:
[code]

You see the `inner_rect` here. It works as a scissor test on the document, it helps both to limit the rendering to specific area of the window and determine the background color area affected.

WR can be wired other way, but semantically speaking you aren't providing a viewport, so the expectation of `i

[2018-08-14 13:43] paulrouget commented on #21350
@kvark understood. Thank you.

It doesn't really matter to me which way we do it. I don't know much about layout, stacking contexts and WR. So I just need to understand what is the "right way" then I can start working on a PR.

I can set the stacking_context to start at the proper coordinate, just want to know if it's the right thing to do.

[2018-08-14 15:10] #21390 closed

[2018-08-14 16:13] paulrouget opened #21406 "windows-msvc-dev failure, CMake Error"
Failed twice:

- https://github.com/servo/servo/pull/21405#issuecomment-412927227
- https://github.com/servo/servo/pull/21404#issuecomment-412924979

Same error:

[code]

[2018-08-14 16:25] SimonSapin commented on #21314
I’m not sure exactly. I think that reverting to using `--manifest-path` in mach would fix command-line usage of `--feature`, but then we’d need to find another way to deal with `libsimpleservo` v.s. the `servo` executable. Perhaps the former should not be in `default-members` after all, and instead we should have (more) custom logic in `mach` for Android targets.

[2018-08-14 16:42] jdm opened #21407 "Window opener setter should rethrow exceptions instead of asserting"
Window::SetOpener asserts that the JS operation succeeds. This is contrary to the specification, which instructs us to rethrow exceptions. We should call `report_pending_exception` unconditionally instead.

[2018-08-14 16:56] jdm commented on #19797
Storing a `Rc<Cell<u32>>` in Window would be fine.

[2018-08-14 17:38] jdm commented on #21373
I've verified that you're not missing anything. `cargo fmt` does not appear to do what we want; it looks like we'll need to modify the `./mach rustfmt` command to recursively find all of the rust source files under the given directory and pass those as arguments to `rustfmt` directly. Would you like to make that change?

[2018-08-14 19:37] jdm commented on #21396
https://github.com/centricular/gstwebrtc-demos/issues/4

[2018-08-14 20:13] jonpemby commented on #20822
Time has escaped me and 3 months later life has kinda taken an unexpected turn from me. I don't know when I'll be able to work on this.

I sincerely apologize for blocking this issue. 😞

[2018-08-14 20:59] jdm opened #21408 "Intermittent crash in /webaudio/the-audio-api/the-audiocontext-interface/audiocontextoptions.html"
[code]

cc @Manishearth

[2018-08-14 21:00] jdm commented on #20822
Thanks for letting us know!

[2018-08-14 22:33] jdm opened #21409 "Intermittent pass in /html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-synchronous-script.window.html"
[code]

[2018-08-14 22:35] jdm opened #21410 "Intermittent crash in /html/browsers/browsing-the-web/unloading-documents/004.html"
[code]

[2018-08-15 01:15] fabricedesre opened #21411 "Crash when running the MotionMark benchmark"
This hits an assertion in WR (tested on linux):
[code]
ping @gw3583

[2018-08-15 01:51] carloabelli commented on #21401
I'll try this out.

@highfive: assign me

[2018-08-15 01:51] highfive commented on #21401
Hey @carloabelli! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-08-15 02:09] Manishearth commented on #21408
I guess this happens because we crash on audio context creation on the render thread when there's nowhere to send the audio (e.g. on our build machines)

We should instead have this silently succeed.

[2018-08-15 02:25] jdm opened #21413 "Kill any existing emulator process before starting android-x86 job"
Occasionally the android-x86 job starts going unresponsive because of a stuck existing emulator process. We should be able to avoid this by killing any existing process as part of the buildbot steps.

[2018-08-15 02:25] highfive commented on #21413
cc @aneeshusa

[2018-08-15 02:40] atouchet commented on #21317
@paulrouget here is a log with #21391.

[code]

[2018-08-15 02:47] jdm opened #21414 "Windows nightly build is broken since gstreamer addition and spidermonkey upgrade"
[code]
cc @Manishearth

[2018-08-15 02:47] jdm commented on #21414
FWIW the mac build from download.servo.org opens fine for me.

[2018-08-15 02:57] Manishearth commented on #21414
You have to install gstreamer from https://gstreamer.freedesktop.org/data/pkg/windows/1.14.2/

(and perhaps point LIB and PATH to `C:\gstreamer` but I think that may be unnecessary.)

I'm thinking of better ways to include these dependencies, may be possible to make mach bootstrap run it?

[2018-08-15 02:57] jdm commented on #21414
https://gstreamer.freedesktop.org/documentation/deploying/windows.html

[2018-08-15 02:58] jdm commented on #21414
mach bootstrap won't help people downloading nightly builds that we provide.

[2018-08-15 03:04] Manishearth commented on #21414
oh, hmm

[2018-08-15 03:51] kingdido999 commented on #21373
Sure I will work on it.

[2018-08-15 04:37] ntenczar commented on #20172
finally got around to doing a bit of fiddling with this!

Patching servo to use the latest webrender initially didn't work because of changes made a couple days ago: https://github.com/servo/webrender/pull/2969, specifically the addition of that `ColorF` as a parameter to `push_image` in servo.

Would it make sense to just update servo to use the latest webrender in the meantime? It looks at least

[2018-08-15 04:45] ntenczar commented on #20172
seemed like simply adding `ColorF::WHITE` as a parameter to `build_image` (as well as using ColorF from webrender) does the job at least

[2018-08-15 05:16] jdm opened #21416 "gstreamer broke the docs build"
http://build.servo.org/builders/doc/builds/5846/steps/shell/logs/stdio

[code]

[2018-08-15 05:16] highfive commented on #21416
cc @aneeshusa

[2018-08-15 06:07] #21402 closed

[2018-08-15 07:01] #21329 closed

[2018-08-15 08:41] asajeffrey opened #21417 "Build instructions for gstreamer on Ubuntu"
Our build instructions for Debian-cased linuxes (https://github.com/servo/servo#on-debian-based-linuxes) say to install:
[code]
but on xenial `./mach build -d` produces:
[code]

[2018-08-15 12:35] gootorov opened #21418 "Build fails on Gentoo since gstreamer addition"
[code]

I'll look into what packages need to be installed to fix this.

[2018-08-15 12:44] asajeffrey opened #21419 "Intermittent CRASH in /workers/modules/dedicated-worker-import-referrer.html"
Stacktrace:
[code]
The problem is calling `Close()` on a window after calling `clear_js_runtime_for_script_deallocation()` which triggers the panic in the unwrap at https://github.com/servo/servo/blob/4f55c87479a5f1e35ec05e0463bfcb64cb3b4ec6/components/script/dom/window.rs#L394-L396

This is an instance of a general problem of code around windows and window proxies assuming that bowsing contexts a

[2018-08-15 12:48] kingdido999 commented on #21373
I'm trying to get a rough idea on the use cases of `/mach rustfmt [directory]` other than resolving this particular issue (format crate one at a time). It seems to me that we can simply get away with `rustfmt` as a part of future CI build after all crates have been formatted. So if that is true, we don't necessarily need to invent an extra command to format a directory, we could do something like

[2018-08-15 13:15] jdm commented on #21418
The readme was updated to include them: https://github.com/servo/servo#on-debian-based-linuxes

[2018-08-15 13:18] gootorov commented on #21418
That's for Debian. I installed quivalents to those but this one doesn't go away yet:
[code]

I'll create a PR to update readme when I find what package has it.

[2018-08-15 14:02] jdm commented on #4847
I agree! Thanks for letting us know!

[2018-08-15 14:02] #4847 closed

[2018-08-15 14:13] #21221 closed

[2018-08-15 14:49] paulrouget commented on #21406
Seems fixed now.

[2018-08-15 14:49] #21406 closed

[2018-08-15 14:51] paulrouget commented on #21403
See: https://github.com/servo/servo/wiki/Building-for-Android#working-on-the-user-interface-without-building-servo

[2018-08-15 14:53] paulrouget commented on #21401
@carloabelli you might want to look at this: https://github.com/servo/servo/wiki/Building-for-Android#working-on-the-user-interface-without-building-servo

[2018-08-15 15:08] paulrouget commented on #21317
@atouchet that's useful, thanks. But I need to narrow down the call that triggers the crash.

If you have some time, can you try to follow these instructions: https://github.com/servo/servo/wiki/Building-for-Android#working-on-the-user-interface-without-building-servo - With this, you can build Servo for Android in a couple of minutes.

If you manage to do that, can you try to comment, in MainActi

[2018-08-15 15:28] cadeyrn commented on #21418
The same error occurs on macOS.

[2018-08-15 15:31] #21418 closed

[2018-08-15 15:41] cadeyrn opened #21423 "Build fails on macOS since gstreamer addition"
Similar to #21418, but for macOS since the other issue is already closed.

error: failed to run custom build command for `gstreamer-sys v0.5.0`
process didn't exit successfully: `/Users/cadeyrn/localhost/servo/target/release/build/gstreamer-sys-d446d77d0aaad3cc/build-script-build` (exit code: 1)
--- stderr
`"pkg-config" "--libs" "--cflags" "gstreamer-1.0 >= 1.12"` did not exit successfully: exit c

[2018-08-15 15:42] jdm commented on #21423
#21422 updates the readme to include homebrew instructions.

[2018-08-15 19:57] JacksonCoder commented on #20357
I'm sorry, I haven't had much time to work on this recently. I did work on this a few days ago, and I found a few things: first of all, you have to use `phf-codegen` to get the names. What I did was create a map of names that was shared with the extensions and the map of extension names to their values. I also implemented the JSTraceable and MallocSizeOf traits.

[2018-08-15 20:01] #14517 closed

[2018-08-15 20:26] mandreyel commented on #14692
I tried to look for `Frame` but didn't find it. Has it been renamed, removed, or did I just miss it? Is this issue still relevant (the mentioned fields are still in `Pipeline`)?

[2018-08-16 05:03] mandreyel commented on #14692
Ah, that makes sense, I recall seeing a few TODOs sprinkled in `Pipeline` to move some fields to `BrowsingContext`.

In that case I'd like to try my hand at this! I can probably start working on it Friday!

[2018-08-16 05:34] jdm commented on #14692
Please do!

[2018-08-16 06:01] #20816 closed

[2018-08-16 06:35] paulrouget commented on #21401
@carloabelli did you select the build variant "mainArmv7Debug"?

[2018-08-16 06:39] paulrouget commented on #21401
@carloabelli it looks like `:servoview` is being built, not `:servoview-local`? Does Android Studio shows servoview or servoview-local in the sidebar?

[2018-08-16 08:25] paulrouget commented on #21401
also, make sure to checkout the latest version of servo.

[2018-08-16 08:29] JacksonCoder commented on #20357
Alright, so I did some more work today, and unfortunately I can say that moving this hash map over to a PHF map requires a lot of non-trivial, and some downright impossible things. First of all, I decided to make the map static, so it didn't need to be contained inside the `WebGLExtensions` struct (and therefore the trait impls were not needed). But then I ran into a problem: since the type we're

[2018-08-16 08:40] paulrouget commented on #21401
I've updated the instructions for the command line builds: https://github.com/servo/servo/wiki/Building-for-Android#working-on-the-user-interface-without-building-servo

[2018-08-16 08:50] paulrouget commented on #21317
@atouch can you install this build and tell me if it crashes at startup (make sure to uninstall any previously installed version of Servo): https://drive.google.com/open?id=1P4ddod8_FrtLnySLtjFTf_knAIkQkXH_

[2018-08-16 10:17] kryptan opened #21429 "Building on Windows fails due to missing gstplayer-1.0.lib"
Building master on Windows currently fails with the following error:

[code]

Commit that broke the build is "Auto merge of #21372 - Eijebong:num-traits, r=jdm".

[2018-08-16 12:00] paulrouget opened #21432 "Zooming a page with text is very slow and rendering is wrong"
Requires https://github.com/servo/servo/pull/21431

Here I'm zooming on `<p>foo</p>`.
On a more complex page, servo appears to freeze. Zooming too much also appears to freeze.

![screenshot_20180816-065625](https://user-images.githubusercontent.com/373579/44207149-62b6a400-a15c-11e8-9f8d-cf419e55523d.png)

[2018-08-16 13:18] carloabelli commented on #21401
Okay I will try building it again tonight using the new command line instructions. I'll also make sure to get the lastest version

[2018-08-16 13:47] jdm opened #21435 "Implement new requirements for CORS-safelisted request headers"
https://github.com/whatwg/fetch/pull/736

[2018-08-16 14:10] jdm commented on #21429
You will need to install https://gstreamer.freedesktop.org/data/pkg/windows/1.14.2/ for local builds.

[2018-08-16 14:31] jdm commented on #21423
@kingdido999 That's strange, since gstreamer-video should be part of the dependencies installed by the full command in #21422 per https://github.com/Homebrew/homebrew-core/issues/20014 :/

[2018-08-16 14:35] jdm commented on #20357
Yeah, that sounds much more complex than I anticipated; sorry! A lazy_static sounds like a reasonable compromise.

[2018-08-16 14:39] cadeyrn commented on #21423
For me it worked with the instructions in #21422 (macOS Mojave Public Beta).

[2018-08-16 16:17] atouchet commented on #21317
Yes it still crashes.

[code]

[code]

Also what log level should I be using? I recorded one crash with verbose and the other with debug.

[2018-08-16 18:26] benbenolson commented on #21417
This bug affects users of Debian Stable (Stretch), as well, except that the available version of `gstreamer` is a bit newer:
[code]

[2018-08-16 20:14] KiChjang commented on #14897
Given #21386, I'm not sure if this work is necessary anymore.

[2018-08-16 20:16] KiChjang commented on #14897
If I'm not mistaken, the ws crate seems to have its own implementation of the fetch stack that is opaque to us.

[2018-08-16 20:41] jdm commented on #21417
Adapting https://github.com/servo/servo/blob/master/.travis.yml#L20-L22 should resolve that issue.

[2018-08-16 20:42] jdm commented on #14897
Yeah, I don't see any way to have actual integration with the fetch code. We'll need to duplicate the relevant changes in the code that prepares the HTTP request, unfortunately.

[2018-08-16 20:43] jdm opened #21438 "Intermittent crash in /html/browsers/history/the-history-interface/traverse_the_history_write_onload_2.html"
[code]

[2018-08-17 01:59] kingdido999 commented on #21423
It works now after I redo the brew install.

[2018-08-17 04:36] #21423 closed

[2018-08-17 08:46] gterzian commented on #21438
might be the call to `self.window_proxy.get().unwrap()` happening inside `self.window_proxy()`, happening inside `Window.Close`, in other words,  `window.window_proxy` might have been set to `None` by the time the call to `window.close()` is made at the end of the test in the `finally` block.

[2018-08-17 09:31] NiLSPACE commented on #21432
#21100 is also still an issue.

[2018-08-17 09:34] asajeffrey commented on #21438
This is probably the same as #21419

[2018-08-17 10:56] SimonSapin opened #21443 "Travis-CI config for GStreamer dependency"
@ferjm Is it really necessary to build gstreamer from source like you do in https://github.com/servo/servo/pull/21158 in order to be able to build Servo on Travis-CI? Adding dependencies per README in https://github.com/servo/servo-with-rust-nightly/commit/91c90e4d94cc233fa7d5ed13c5ab06eae1eb1158 didn’t work: https://travis-ci.org/servo/servo-with-rust-nightly/jobs/416837548

[2018-08-17 11:06] asajeffrey opened #21444 "Intermittent CRASH in/html/webappapis/dynamic-markup-insertion/opening-the-input-stream/ignore-opens-during-unload.window.html"
[code]

[2018-08-17 11:07] asajeffrey commented on #21444
Caused by #18927

[2018-08-17 12:52] SimonSapin commented on #21443
Ah sorry, I didn’t pay enough attention to the error message beyond "it’s pkg-config"

So GStreamer is found, but not a recent enough version. What would it take to support older versions?

[2018-08-17 13:14] jdm commented on #21443
The restriction about versions comes from https://github.com/sdroege/gstreamer-rs/#linuxbsds.

[2018-08-17 13:26] jdm opened #21445 "Update document.open implementation to match spec simplification"
https://github.com/whatwg/html/pull/3918
https://github.com/whatwg/html/pull/3946

[2018-08-17 13:31] jdm opened #21446 "Download linux gstreamer binaries during mach build"
Telling people to execute [these steps](https://github.com/servo/servo/blob/master/.travis.yml#L20-L22) manually isn't a great solution if their distribution doesn't have a recent gstreamer available. It would be nice if we could make it Just Work by downloading those binaries automatically, similar to the way we acquire openssl for android builds.

[2018-08-17 13:31] highfive commented on #21446
cc @wafflespeanut

[2018-08-17 16:41] JacksonCoder commented on #20357
Alright, I've pushed the code: https://github.com/jacksoncoder/servo. I also added the `cascade!` macro as a dependency to make HashMap generation look a little bit more clean.

[2018-08-17 18:16] benbenolson commented on #21417
Tried jdm's suggestion by manually executing those three commands, and that fixes my build on Debian Stable. Servo's `release` build finishes and runs.

[2018-08-18 01:02] mitchtbaum commented on #19501
@antoyo Have you made any more progress with servo-gtk?

[2018-08-18 01:11] Eijebong commented on #14897
It might be possible:

https://docs.rs/ws/0.7.8/ws/trait.Factory.html
https://docs.rs/ws/0.7.8/src/ws/lib.rs.html#283

[2018-08-18 07:52] jdm opened #21449 "Preserve HEAD on 303 redirect"
https://github.com/whatwg/fetch/pull/796

[2018-08-18 15:29] asajeffrey opened #21451 "Intermittent TIMEOUT in /websockets/binary/001.html, /websockets/binary/001.html?wss, /websockets/binary/002.html, /websockets/binary/002.html?wss, /websockets/binary/004.html, /websockets/binary/004.html?wss, /websockets/binary/005.html, /websockets/binary/005.html?wss, /websockets/binary/005.html?wss, /websockets/closing-handshake/002.html, /websockets/closing-handshake/003.html, /websockets/closing-handshake/003.html?wss, /websockets/closing-handshake/004.html, /websockets/closing-handshake/004.html?wss"
Same as #19995, but the title is too long for github!

[2018-08-18 15:30] asajeffrey commented on #19995
The bug title is now too long for github! Continuing in #21451.

[2018-08-18 15:45] jdm commented on #19995
This is not what we want; I'm pretty sure you're hitting #20734. I'm going to revert the title changes to my original one.

[2018-08-18 15:45] jdm commented on #21451
#20734

[2018-08-18 15:45] #21451 closed

[2018-08-18 16:05] pylbrecht commented on #19797
So far so good.

How can I verify, that my implementation is actually working? Is there any deterministic way of creating "blocked queries"?

And in what form should statistics be displayed during shutdown of the script thread?

[2018-08-18 17:25] mateon1 opened #21453 "panic: cannot access a TLS value during or after it is destroyed: AccessError"
This test case does not touch the network at all, which is why this panic is extremely confusing.

Minimal panicking testcase:
[code]

panics:
[code]
<details>
<summary>Full backtrace</summary>

[code]
</details>

---

Note: If you do not run servo with the `-f` (hard fail) flag, Servo outputs this panic message forever in a loop:
<details>

[code]
</details>

[2018-08-18 20:11] kpcyrd opened #21455 "Release selectors update"
hey!

while preparing kuchiki for debian I've noticed it's still depending on cssparser 0.23. I've tried to prepare a patch but noticed cssparser 0.24.0 is incompatible with selectors 0.19.0. Could you release an update for selectors?

Thanks :)

[2018-08-18 23:57] cdisselkoen opened #21457 "Zoom keybindings don't work on Mac"
The [README](https://github.com/servo/servo/blob/master/README.md) indicates that `Ctrl`+`-` zooms out and `Ctrl`+`=` zooms in.  On Mac, I couldn't get these shortcuts to work at all; I tried each of `Ctrl`, `Opt`, and `Cmd` with `-` and `=` on a couple different webpages.  (I haven't tested on other OSes; maybe this problem is specific to Mac, or maybe the zoom keybindings are actually broken eve

[2018-08-19 04:35] #21449 closed

[2018-08-19 05:24] mateon1 opened #21459 "Panic unwinding inside ScriptThread triggers use-after-free"
Using the testcase from #21453 for my panic, I get the following with an ASAN build of Servo

Note: The backtrace is a mess, because LeakCheck traces from other threads were being printed at the same time as the ASAN one.
I cleaned it up slightly, so the important parts of the backtrace should be correct.

[code]

[2018-08-19 10:33] chansuke commented on #21373
Hi.I'd like to work on this too.I will start from the component on the bottom:)

[2018-08-19 16:58] jdm commented on #21453
In this case TLS refers to thread-local storage.

[2018-08-19 17:04] jdm commented on #21459
This testcase is crashing during the final GC when the JSContext is being destroyed. This is calling the finalizer for a Node object that is still alive, which calls Node::dispose and tries to communicate with the layout thread by obtaining the node's relevant document object and using its public API. Unfortunately the document has already been GCed and no longer exists.

This suggests to me that

[2018-08-19 17:26] mateon1 commented on #21453
Using this testcase on commit 0c148809c1 (2018-03-29) triggers a different panic:

<details>

[code]
</details>

[2018-08-19 17:33] jdm commented on #21453
That looks like the problem that https://github.com/servo/servo/pull/21028 set out to solve.

[2018-08-19 17:46] jdm commented on #19797
The easiest way to trigger blocking queries is to have JS that modifies the layout of the page in some fashion (changing CSS; mutating the DOM by adding/removing a node; etc.) then immediately performing a layout query on a node that is affected by the changes (like getBoundingClientRectangle). We could start with reporting how many queries were blocked out of the total number of queries that were

[2018-08-19 18:05] SimonSapin commented on #21455
Out of curiosity, what in Debian uses Kuchiki?

[2018-08-19 19:12] gterzian commented on #16740
https://dxr.mozilla.org/mozilla-central/source/toolkit/components/backgroundhangmonitor/BackgroundHangMonitor.h

I would be interested...

[2018-08-19 19:57] kpcyrd commented on #21455
@SimonSapin There is nothing in debian yet, but I'm working towards packaging all dependencies of [badtouch] which uses kuchiki to process html.

[badtouch]: https://github.com/kpcyrd/badtouch

[2018-08-19 20:00] mateon1 commented on #21453
git bisect confirms that the panic changed in that PR (40ea4c4946e9)

[2018-08-19 22:37] gterzian commented on #16740
We could use those `ScriptThreadEventCategory` as annotations to the hang, and do something similar for other threads later...

[2018-08-20 00:03] JacksonCoder commented on #20357
So essentially, the problem is that having a static hash map results in the possibility of dangling pointers, where data the extensions are keeping track of are being garbage collected because the GC doesn't know the hash table exists? And in order to fix it, we'll have to make the hash table thread-local and call `trace_rust_roots` manually for the `WebGLExtensions::trace` method? If so, the only

[2018-08-20 00:36] emilio commented on #21459
(It may be worth to look at how Blink addresses this, since they used a GCd DOM now IIRC)

[2018-08-20 09:17] nox commented on #20357
All I wanted to replace is the correspondance from `str` to the function that enables the corresponding extension, I was on PTO and now that I'm reading about this again I'm not sure what `lazy_static` and custom hooks have to do with that. :/

[2018-08-20 10:58] mandreyel commented on #14692
Okay, so I had some time to work on this and I'm mostly done, but there is one pesky bit that I cannot seem to figure out on which I need your input.

After loading a document inside an iframe for the *first time*, `Constellation::handle_session_history_change` is eventually called, which in this case needs to set up a new `BrowsingContext` for the iframe as it does not exist yet, and insert this

[2018-08-20 13:11] asajeffrey opened #21462 "Can GetPropertyKeys fail?"
In https://github.com/servo/servo/blob/d34403047e806fa6c8c2468946f64429622ec434/components/script/dom/bindings/mozmap.rs#L61 we assert that GetPropertyKeys cannot fail. It does so if there are duplicate keys in the object, we should check to see if we ever introduce duplicates.

[2018-08-20 13:14] asajeffrey opened #21463 "Can jsid_to_string fail?"
In https://github.com/servo/servo/blob/d34403047e806fa6c8c2468946f64429622ec434/components/script/dom/bindings/mozmap.rs#L77 we assert that jsid_to_string is guaranteed to succeed. Is this true?

[2018-08-20 15:14] mandreyel commented on #14692
Another option would be to store a `parent_pipeline_id: Option<PipelineId>` field in `SessionHistoryChange`, so that when the iframe's document is done loading and becomes active we can access the parent pipeline and attach iframe's browsing context to it. I think either could work, though perhaps the previously proposed solution is a bit cleaner--unless that won't work due to the described slight

[2018-08-20 15:27] atouchet commented on #21457
Apparently there was [a bug related to the Cmd key input in Winit](https://github.com/tomaka/winit/blob/master/CHANGELOG.md#version-0172-2018-08-19). Maybe updating to Winit 0.17.2 would help fix this.

[2018-08-20 15:47] atouchet commented on #20356
Can this be closed now?

[2018-08-20 16:06] Eijebong commented on #20356
Yes https://github.com/servo/servo/pull/21372

[2018-08-20 16:17] #20356 closed

[2018-08-20 17:36] jdm commented on #21463
js_to_string returns None if the argument is a [symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol) or void/empty.

[2018-08-20 17:40] jdm commented on #21463
https://github.com/servo/servo/pull/20318/ improves the situation a bit by following Gecko's path of converting the jsid to a value, but it also unwraps the from_id operation.

[2018-08-20 17:46] cbrewster commented on #14692
The second approach (adding a new field to `SessionHistoryChange`) sounds like the right way to go about this. The first approach would end up being a behavior change which may cause some test failures (I believe I tried a change similar to that a while back with that result).

[2018-08-20 18:27] gaurikholkar commented on #20971
Any updates on the same? I am running rustfmt 0.8.2-nightly (5e599251 2018-07-02) and it is still giving me the same error

[2018-08-20 19:44] jdm commented on #20971
@gaurikholkar Did you follow https://github.com/servo/servo/issues/20971#issuecomment-408586432?

[2018-08-20 20:24] mandreyel commented on #14692
@cbrewster Thanks for chiming in! Having thought about it some more, I would now go with the second approach as well.

In fact, I had initially overlooked that the same difficulty exists when passing `is_private` to a new `BrowsingContext` and probably when passing `visible`--though I don't fully understand the role of the latter yet, so I'm not sure if this could be set at a later point.

I suppo

[2018-08-20 20:28] jdm opened #21465 "Support using rr-record with headless servo"
Running `/.mach rr-record -z -d foo.html` on a machine that can't create a window yields:
[code]

[2018-08-20 20:28] highfive commented on #21465
cc @wafflespeanut

[2018-08-20 20:32] jdm opened #21466 "Read file URLs in chunks"
The code to [read from file URLs](https://github.com/servo/servo/blob/master/components/net/fetch/methods.rs#L483-L506) uses read_to_end to consume the entire file buffer and send it back all at once. This means the behaviour of HTTP URLs and file URLs for large files is very different.

[2018-08-20 20:33] jdm opened #21467 "Read blob URLs in chunks"
The code to [read from blob URLs](https://github.com/servo/servo/blob/master/components/net/fetch/methods.rs#L483-L506) uses load_blob_sync to consume the entire response buffer and send it back all at once. This means the behaviour of HTTP URLs and blob URLs for large files is very different.

[2018-08-20 21:37] pylbrecht commented on #19797
Unfortunately I was not able to verify [my code](https://github.com/pylbrecht/servo/tree/measure.blocked.layout.queries), yet.

I'm trying to trigger a blocked query with this `test.html`:
[code]
I'm running Servo with `RUST_LOG="script::script_thread"` to check for the statistics printed via `debug!()`.
I tried placing the reporting code in:
- `Drop` implementation for `ScriptThread`
- immediatel

[2018-08-20 23:14] jdm opened #21468 "Intermittent NOTRUN in /css/css-transitions/transitions-animatable-properties-01.html"
[code]

[2018-08-20 23:48] #20585 closed

[2018-08-21 04:05] atouchet commented on #21414
I installed GStreamer and I am still running into these error messages when trying to launch Servo. Is there anything else I need to do aside from installing it to the C:\gstreamer?

[2018-08-21 04:13] gaurikholkar commented on #20971
Yes @jdm but it's still giving me an error

[2018-08-21 06:37] #21401 closed

[2018-08-21 07:26] paulrouget commented on #21457
Tried. Doesn't work.

[2018-08-21 08:38] paulrouget commented on #21317
@atouchet New build: https://drive.google.com/file/d/1k6D9SPRa1RoqVhfIrPY3uvRVGnCPuR8z/view?usp=sharing

It *will* crash, but there is more logs.

[2018-08-21 08:57] paulrouget opened #21469 "SM60 regression: can't build for Android on Mac"
[code]

[2018-08-21 09:47] paulrouget commented on #21469
It looks like sysroot and/or isystem are not used.

[2018-08-21 13:06] paulrouget commented on #21317
Note: I have been testing on Android 7 and 8. These 2 crashes happen on Android 6 (SDK 23).

[2018-08-21 13:16] CYBAI opened #21471 "Failed to build for mozjs_sys on macOS"
Cannot build successfully with the latest master on e2e7796a0c .

Following is the log:

<details>

[code]

</details>

[2018-08-21 13:50] CYBAI commented on #21471
Need to install `autoconf`; then, the issue will be fixed.
I'm going to send a PR to update the README.

https://mozilla.logbot.info/servo/20180821#c15198155

[2018-08-21 15:26] paulrouget commented on #21317
Tested on on Nexus 5 API 23, doesn't crash here.

@atouchet anything about your setup that could be special?

[2018-08-21 15:30] paulrouget commented on #21317
Few questions:

- How long before it crashes?
- Does the UI show up at all?
- Is the webview white or black?
- Is there any text showing up where the webpage should be?
- Do you press any buttons?

[2018-08-21 15:31] JacksonCoder commented on #20357
At this point, I think that creating a thread-local lazy_static HashMap would be nearly the same thing as just having the HashMap be part of the `WebGLExtensions` struct, but the latter would be much easier to maintain.

[2018-08-21 16:33] atouchet commented on #21317
I don't think there is anything special about my setup. I am running basically stock Android as far as I know. I will do some more testing especially with that new build you posted.

Servo runs for roughly two seconds before crashing.

Yes, I can see and interact with the browser chrome.

White.

No, except for a single time where I had an error message showing up there but have not been able to r

[2018-08-21 16:42] atouchet commented on #21317
@paulrouget that new build you posted partially renders the servo.org page before crashing. This is the first time I have seen any page rendering. There is progress here at least.

[2018-08-21 16:56] atouchet commented on #21317
Here is a screenshot just before the crash:

![Screenshot(https://i.imgur.com/NeENXfS.png)

[2018-08-21 17:03] paulrouget commented on #21317
Do you touch the screen at all?

[2018-08-21 17:06] atouchet commented on #21317
I don't think so. For what it's worth I just tried loading that page again and scrolling by swiping on the screen but the page scrolling did not work at all and the page remained static.

[2018-08-21 17:12] #21471 closed

[2018-08-21 18:09] paulrouget commented on #21317
Can you run this command:

[code]

And tell me if Servo ends up crashing?

[2018-08-21 18:34] jdm commented on #21317
This sounds suspiciously like https://github.com/servo/servo/issues/20149, but my logcat contained an actual crash log when that happened.

[2018-08-21 19:40] atouchet commented on #15445
@jdm can this be closed then?

[2018-08-21 19:43] #15445 closed

[2018-08-21 19:52] atouchet commented on #20463
Is this still an issue?

[2018-08-21 19:53] atouchet commented on #18513
SpiderMonkey has now been updated.

[2018-08-21 19:54] atouchet commented on #10401
Is this still an issue?

[2018-08-21 19:55] atouchet commented on #9232
Is this done now?

[2018-08-21 19:59] atouchet commented on #4159
#20585 has now been done.

[2018-08-21 20:03] atouchet commented on #20916
SpiderMonkey has now been updated.

[2018-08-21 20:20] atouchet commented on #19535
Is this still an issue after the SpiderMonkey update?

[2018-08-21 20:31] jdm opened #21475 "Clear the framebuffer when initializing and resizing webgl canvas"
Per https://www.khronos.org/registry/webgl/specs/latest/1.0/#2.2. This is covered by https://searchfox.org/mozilla-central/rev/71ef4447db179639be9eff4471f32a95423962d7/dom/canvas/WebGLContext.cpp#1341 in gecko.

[2018-08-21 21:00] paddywwoof commented on #21446
until this is fixed 'someone' should modify the install instructions https://github.com/servo/servo#on-debian-based-linuxes

[2018-08-21 22:08] zbraniecki commented on #4159
Yay! Confirmed that latest servo works with FluentDOM and FluentWeb! It properly displays https://www.projectfluent.org as well :)

[2018-08-21 22:08] #4159 closed

[2018-08-22 02:07] jdm commented on #20463
Nope!

[2018-08-22 02:07] #20463 closed

[2018-08-22 02:10] jdm commented on #9232
Yep!

[2018-08-22 02:10] #9232 closed

[2018-08-22 02:11] jdm commented on #19535
Nope!

[2018-08-22 02:11] #19535 closed

[2018-08-22 03:48] fabricedesre opened #21476 "Support asynchronous WebAssembly compilation"
This is a web assembly game demo.

STR:
- Open https://www.funkykarts.rocks/demo.html

Expected:
- you have fun!

Observed:
- You are sad: `WebAssembly Promise APIs not supported in this runtime`

I guess these are the streaming apis from https://webassembly.github.io/spec/web-api/index.html

[2018-08-22 06:02] paulrouget commented on #21350
I need some help here. I see plenty of possible ways of shifting the stacking root context origin to the proper coordinates, but I really don't know where is the best place to do that.

My strategy so far has been to not hard code the root stacking context origin to `0,0` here: https://github.com/servo/servo/blob/ea86eb64be7b1a1bcee4edc33eeb45c47e408497/components/layout_thread/lib.rs#L1020

I ima

[2018-08-22 06:05] paulrouget commented on #21317
Ok, let's try to see why we are not getting any backtrace.

@atouchet I'm under the impression you are getting the logs via Android Studio, is that right? Can you do this instead:

[code]
Then start Servo.

After the crash, `Ctrl-C` to stop logcat.

Can you paste the content of /tmp/log.txt?

By the way, thanks a lot for your help and your patience :)

[2018-08-22 06:25] gterzian opened #21478 "mozjs-0.8.0 compilation error"
Recently rebased off `master`, now getting an error with `./mach check` that strangely arises from `mozjs`

[code]

Am I missing an update command? I tried with `./mach clean` a few times already, also update `rustup`. Could it be that my machine is using an old rust version despite mach?

[2018-08-22 06:30] SimonSapin commented on #21478
I’ve seen the same on Ubuntu, and was able to work around it by removing old clang/LLVM packages. (Namely 3.9 and 4.0, leaving only 6.0. Try `apt search libclang` or whatever is similar for your system and see what’s installed.)

[2018-08-22 06:40] paulrouget commented on #21317
Can you check if your phone is in developer mode?

Also, can you try with the nightly build (not the build I provided):

[code]

Thanks!

[2018-08-22 06:55] atouchet commented on #21317
I have the [developer options](https://developer.android.com/studio/debug/dev-options) enabled if that is what you mean.

Sure. Loading the screenshot did not crash. Image:

![Screenshot](https://i.imgur.com/CBb55dO.png)

[2018-08-22 08:29] mateon1 commented on #21465
Using `./mach run [-r|-d] -z --debugger=rr ...` works. Looks like rr-record doesn't set the proper environment variables for headless mode.

[2018-08-22 10:16] StephenJohnBird opened #21479 "Windows MSI install on clean Windows 10"
Not finding its dlls after first install on Windows 10 machine. - libgstaudio-10.-0.dll + libgstapp-1.0-0.dll + libgstreamer-1.0-0.dll + libgobject-2.0-0.dll

[2018-08-22 10:44] mateon1 opened #21480 "HitTest::get_absolute_point - no entry found for key"
(non-deterministic) testcase:
[code]
Does not reproduce under rr or on debug servo!

Backtrace:
[code]
(followed by a bunch of other threads panicking due to Poison/IPC errors)

[2018-08-22 10:50] gterzian commented on #21478
Thanks for the pointer.

Did anyone encounter this on Mac?

I just upgraded to 10.13, and installed brand new "command line tools" which come with their latest version of clang, and the issue persists...

[2018-08-22 10:54] gterzian commented on #21478
by the way `rustup which cargo` inside the Servo dir says `.rustup/toolchains/nightly-2018-07-17-x86_64-apple-darwin/bin/cargo`

[2018-08-22 11:30] gterzian commented on #21478
looks like a dupe of https://github.com/servo/rust-mozjs/issues/435

[2018-08-22 12:54] jdm commented on #21478
If there are multiple versions installed, the oldest one will often be selected by default. This can be changed via the LIBCLANG_PATH variable.

[2018-08-22 13:09] jdm opened #21481 "Implement support for selecting media element source from children"
https://github.com/servo/servo/blob/9e2bbb73858b4a3e83cd1397906eaad789749a9c/components/script/dom/htmlmediaelement.rs#L536

See the "Otherwise (mode is children)" branch of step 9 at https://html.spec.whatwg.org/multipage/media.html#concept-media-load-algorithm.

[2018-08-22 13:17] jdm commented on #21476
This looks like something we need to configure properly to support: https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/js/src/wasm/WasmJS.cpp#L2337-L2345

[2018-08-22 13:19] jdm commented on #21476
https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/js/src/jsapi.h#L4484-L4521

[2018-08-22 13:27] jdm opened #21482 "Implement ReadableStream support"
This requires updating the WebIDL parser at minimum, and treating it as a `*mut JSObject` for the code generation.

[2018-08-22 13:27] jdm commented on #21482
https://searchfox.org/mozilla-central/source/dom/fetch/Fetch.cpp is a good place to use to see examples of C++ code using ReadableStream APIs that the JS engine provides.

[2018-08-22 13:30] jdm commented on #21476
Additionally:
https://github.com/servo/mozjs/blob/9b44b1e870cae2d96ea41bf2aa8a7d5eaa4cdce7/mozjs/js/src/jsapi.h#L4523-L4568
https://searchfox.org/mozilla-central/rev/3fa761ade83ed0b8ab463acb057c2cf0b104689e/dom/base/nsJSEnvironment.cpp#2660-2667
https://searchfox.org/mozilla-central/rev/3fa761ade83ed0b8ab463acb057c2cf0b104689e/dom/fetch/FetchUtil.cpp#528-611
https://searchfox.org/mozilla-central/r

[2018-08-22 13:32] HellDunkel opened #21483 "Flawed resampling of downscaled images"
I originally created this issue in the webrender repository. Apparently it is no webrender issue.

![servo_downsampling](https://user-images.githubusercontent.com/20302808/44466374-6ea0db00-a620-11e8-9015-d2beaea0ce60.JPG)

It seems scaled bitmaps (displayed smaller than acutal size) are not properly resampled and therefore show artefacts. I have just started to dive into webrender and so far have