[2019-05-03 14:29] gterzian opened #23317 "WPT sync error?"
Is there a reason why this PR is still marked as "do not merge yet"? https://github.com/web-platform-tests/wpt/pull/15224

I think there was an error syncing when the PR here merged, see https://github.com/servo/servo/pull/22802#issuecomment-471649694

Maybe that's the problem?

[2019-05-03 14:31] jdm commented on #23317
Shoot, I indeed missed the sync error reported in the servo PR.

[2019-05-03 14:34] jdm commented on #23317
Fixed by manually merging the remote PR after verifying that the contents were identical.

[2019-05-03 14:34] #23317 closed

[2019-05-03 16:53] SimonSapin opened #23320 "(Some?) nightly uploads newly on Taskcluter are broken"
https://github.com/servo/servo/pull/23304 has landed, but unfortunately our PR testing does not exercise at all the CI code that runs for daily tasks, such as Nightly builds upload. There was multiples issues:

* [x] The daily decision task did not have scopes for the new entries in the Secrets API https://github.com/servo/servo/pull/23304#issuecomment-489065873
* [x] These scopes were not forward

[2019-05-03 17:52] KiChjang commented on #23314
This looks like a JavaScript engine issue rather than a browser issue, since `Intl.DatTimeFormat` is defined in https://www.ecma-international.org/ecma-402/2.0/#sec-intl-datetimeformat-constructor. Closing as this can be supported by simply upgrading to the latest SM version.

[2019-05-03 18:42] jdm commented on #23314
Let's leave it open to track the fact that it's broken until we upgrade to a version that fixes it.

[2019-05-03 20:36] jdm commented on #23137
We could avoid some spurious failures by checking if the branch starts with `try` and `event.commits[0].message` contains `r=<try>`. If not, it's an extraneous push to a try branch and we don't need to launch a decision task.

[2019-05-03 21:38] jdm commented on #22957
https://github.com/pcwalton/pathfinder/blob/master/examples/canvas_minimal/src/main.rs should also be a good reference.

[2019-05-03 21:43] jdm commented on #22957
There are three main parts to this work:
* creating the GL context that pathfinder can use (we can possibly reuse the work to create a GL context for WebGL in [this code](https://github.com/servo/servo/blob/af077f8cf7feeb3ae791be133e4b3a10bf9ef614/components/canvas/webgl_thread.rs#L263-L288)
* creating a pathfinder Renderer object that can be used for all canvas operations
* making the various can

[2019-05-04 01:35] CYBAI commented on #23314
@KiChjang Thanks for pointing it! What @jdm said is what I think :)

[2019-05-04 03:24] CYBAI opened #23321 "Remove noopener from tokenizedFeatures"
whatwg/html#3297
web-platform-tests/wpt#16658
web-platform-tests/wpt#16330

[2019-05-06 18:06] jdm commented on #23150
To answer your question, https://github.com/servo/servo/pull/23323#issuecomment-489716941 shows a test that should demonstrate different behaviour after your changes. That's `/resource-timing/idlharness.any.worker.html`.

[2019-05-06 19:20] jdm opened #23328 "Resource timing entries are never added to the performance entry buffer"
NetworkListener::submit_timing has this code:
[code]
The `false` means "do not add this performance entry to the performance entry buffer". This means that any JS code that uses `performance.getEntries`, or `performance.getEntriesByType` or `performance.getEntriesByName` will never observe this resource timing information. I filed https://github.com/w3c/performance-timeline/issues/128 to clarify w

[2019-05-06 19:35] jdm opened #23329 "XMLHttpRequest resource timing information uses incorrect URL"
Rather than returning the XHR's global's URL, it should be returning the URL that was used to create the XHR. We can store another ServoUrl member in XHRContext and return that from the `resource_timing_information` method.

Code: `components/script/dom/xmlhttprequest.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/resource-timing/`

[2019-05-06 19:36] highfive commented on #23329
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-05-06 19:40] jdm opened #23330 "Performance interface's timing member should be an attribute"
Per https://w3c.github.io/navigation-timing/#extensions-to-the-performance-interface we should have a `timing` attribute in our WebIDL interface, not a method.

Code: `components/script/dom/webidls/Performance.webidl`, `components/script/dom/performance.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/navigation-timing/`

[2019-05-06 19:40] highfive commented on #23330
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-05-06 20:03] jdm opened #23331 "Implement worker origin member of WorkerLocation"
Spec: https://html.spec.whatwg.org/multipage/workers.html#dom-workerlocation-origin
Code: `components/script/dom/webidls/WorkerLocation.webidl`, `components/script/dom/workerlocation.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/workers/`

You can use `Location::origin` from `components/script/dom/location.rs` as a model for this.

[2019-05-06 20:03] highfive commented on #23331
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-05-06 20:51] jdm opened #23332 "Bindings generation ignores Exposed annotations on members and partial interfaces"
Despite https://github.com/servo/servo/issues/12414 being closed, exposed annotations do on members do not actually affect whether those members are exposed in the generated bindings. https://github.com/servo/servo/compare/master...jdm:exposed-member contains an automated test that demonstrates this.

[2019-05-07 08:48] ferjm opened #23336 "Audio elements render video if media source is a video"
A test like:

[code]

renders the video, while it should only play its audio.

[2019-05-07 10:33] hundredeir commented on #22619
As I can see whenever any test function runs it calls a fixture which tries to create a new session and if gets `SessionNotCreated` error then it raises the exception. And between two test functions there isn't any cleanup/teardown happening.
So, when the next function is called the `webdriver` doesn't  even let the message reach servo and itself raises an error.

[2019-05-07 15:08] jdm opened #23337 "Can't compile player example on macOS"
[code]

[2019-05-07 15:11] ferjm commented on #23337
I think this is a dup of https://github.com/servo/media/issues/251

Also, how is this happening on Servo? Are we building servo/media examples on Servo? If that's the case, we shouldn't :\

[2019-05-07 15:13] jdm commented on #23337
I opened the issue in the wrong repository.

[2019-05-07 15:13] #23337 closed

[2019-05-07 15:48] ferjm opened #23339 "Improve layout trace viewer with a screenshot of each step"
I'm not sure if this is doable, but it would be really nice to improve the layout trace viewer with a screenshot of each step or each reflow, highlighting the different boxes like in [this reflow visualization from Gecko](https://www.youtube.com/watch?v=ZTnIxIA5KGw)

![hqdefault](https://user-images.githubusercontent.com/480202/57313471-f87dcf00-70ef-11e9-8675-be907eba4209.jpg)

[2019-05-07 15:48] highfive commented on #23339
cc @fitzgen

[2019-05-07 16:35] asajeffrey commented on #23076
With a `--debugmozjs` build, this produces:
[code]

[2019-05-07 18:11] asajeffrey commented on #23114
My favourite so far:
[code]

[2019-05-07 19:47] #22299 closed

[2019-05-07 20:59] jdm opened #23341 "Intermittent pass in /css/css-text/word-break/word-break-break-all-005.html"
[code]

[2019-05-07 21:00] Manishearth commented on #23341
See also: https://github.com/servo/servo/issues/22101

[2019-05-07 21:12] #23341 closed

[2019-05-08 03:00] CYBAI opened #23343 "Intermittent TIMEOUT in /html/infrastructure/urls/dynamic-changes-to-base-urls/dynamic-urls.sub.html"
[code]

[2019-05-08 15:55] pylbrecht commented on #22957
@highfive assign me

[2019-05-08 15:55] highfive commented on #22957
Hey @pylbrecht! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-08 15:59] pylbrecht commented on #22957
Relevant code as stated by @jdm in #servo:
- `components/script/dom/canvas2drenderincontext.rs` (I wouldn't expect many changes in this file)
- `components/canvas/canvas_paint_thread.rs`
- `components/canvas/canvas_data.rs` (the main canvas painting implementation)

[2019-05-08 16:29] jdm commented on #22212
This might be fixed by upgrading moztools. There's some code that could be stolen from https://github.com/servo/servo/compare/master...jdm:ndk-llvm.

[2019-05-08 17:22] jdm commented on #22276
[code]

[2019-05-08 17:56] georgeroman commented on #22619
I managed to reproduce the error locally and I noticed that two different processes attempted to start WebDriver on the same port:
![servo1](https://user-images.githubusercontent.com/30772943/57395483-e3c53800-71d0-11e9-91c1-a6dc29e97fc5.png)

A few lines down in the log there are two attempts to starting a WebDriver session on the same port:
![servo2](https://user-images.githubusercontent.com/307

[2019-05-08 18:09] jdm commented on #22619
That looks extremely suspicious!

[2019-05-08 18:58] jdm opened #23348 "libiconv-2.dll is missing from Windows nightly"

[2019-05-08 19:20] jdm commented on #23348
It worked as of 4/1.

[2019-05-08 19:24] jdm commented on #23348
Broken in the 5/6 nightly.

[2019-05-08 19:25] jdm commented on #23348
Working in the 5/3 nightly. No nightlies in between.

[2019-05-08 19:26] NavidZ commented on #23180
FYI @summerlw

@robert-snakard was there any other issued filed for this feature against webdriver spec.

[2019-05-08 19:30] jdm commented on #23348
Working: https://github.com/servo/servo/commit/9f6005be163520f9a06d5a51a0f81bc43f9ea5a3
Not working: https://github.com/servo/servo/commit/115a4ac4ff0c38fbe1c705e4aaa76d1dfcdeaab6

I suspect it's the harfbuzz update. cc @Eijebong

[2019-05-08 19:36] Eijebong commented on #23348
I don't get it. There's no reference to iconv in rust-harfbuzz nor in unicode-script which are the only two crates that were updated

[2019-05-08 19:50] jdm commented on #23348
Regression range: https://github.com/servo/servo/compare/9f6005b...115a4ac

[2019-05-08 21:09] robert-snakard commented on #23180
There is also the [pull request](https://github.com/w3c/webdriver/pull/1410)

[2019-05-08 21:38] #22069 closed

[2019-05-08 21:38] #23074 closed

[2019-05-08 21:48] jdm commented on #23348
I don't know what to make of the fact that a local Windows build still works fine.

[2019-05-08 22:35] jdm commented on #23348
More specifically, I packaged a debug build on servo-windows3 and ran it from another directory in a new terminal environment, and it worked fine. I'm trying a release build next.

[2019-05-08 22:36] jdm commented on #23348
The 5/6 nightly was the first one produced by the taskcluster CI instead of buildbot, which could explain why none of the commits in the regression range look related.

[2019-05-09 01:34] #23076 closed

[2019-05-09 08:26] Darkspirit commented on #8581
This can be closed. Support for DHE has been removed with #22243.

[2019-05-09 12:25] #8581 closed

[2019-05-09 16:03] jdm commented on #23348
A release build on servo-windows3 also runs fine.

[2019-05-09 18:49] jdm opened #23354 "Intermittent failure in sampling profiler unit test"
Observed on a mac job on taskcluster:
[code]

[2019-05-09 19:27] jdm commented on #22212
Nevermind, we upgraded to a newer moztools almost a year ago :(

[2019-05-10 00:21] jdm opened #23358 "servo-tc-mac3 doesn't pass the gstreamer check"
`bin/pkg-config --atleast-version=1.14 gstreamer; echo $?` return 1, and on other mac machines it returns 0.

[2019-05-10 01:41] CYBAI commented on #23354
Also

[code]

Refer to https://taskcluster-artifacts.net/FeGXLcSGR22CmNQyA-Ty5Q/0/public/logs/live_backing.log

[2019-05-10 01:44] tdelacour commented on #21270
@highfive assign me

[2019-05-10 01:44] highfive commented on #21270
Hey @tdelacour! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-10 02:25] jdm opened #23360 "Intermittent failure in /xhr/open-url-multi-window-5.htm"
[code]

[2019-05-10 03:03] jdm commented on #23290
<img width="803" alt="Screen Shot 2019-05-09 at 11 02 43 PM" src="https://user-images.githubusercontent.com/27658/57499686-95866680-72ae-11e9-87b5-49998821b68a.png">
<img width="803" alt="Screen Shot 2019-05-09 at 11 02 47 PM" src="https://user-images.githubusercontent.com/27658/57499689-97502a00-72ae-11e9-9073-1221a3de4c09.png">

[2019-05-10 10:02] ferjm commented on #22359
@192-sean ping :) Don't hesitate to ask if you need any help moving this issue forward, please.

[2019-05-10 12:20] jdm opened #23361 "Scope error for linux build task when creating new docker image build task"
When trying to test https://github.com/servo/servo/pull/23357 in isolation, I encountered this error on taskcluster:
[code]
This looks like the expected behaviour when the docker image has expired. However, this was followed by:
[code]
Which doesn't make any sense to me.

[2019-05-10 12:28] jdm commented on #23361
This was explained to me on IRC: https://mozilla.logbot.info/servo/20190510#c16299745-c16299763

[2019-05-10 12:28] #23361 closed

[2019-05-10 14:04] pylbrecht commented on #22957
@jdm suggested [https://github.com/jrmuizel/raqote](https://github.com/jrmuizel/raqote) might be another option. This way we just need to replace azure with raqote.

[2019-05-10 16:22] #23150 closed

[2019-05-10 17:48] #23358 closed

[2019-05-10 17:54] runarberg opened #23365 "CSS attr() function not working"
See this failing wpt test:

[code]

In fact if you open:

[code]

…you will only see an empty page. Open it with firefox and see the expected content `aaabbbccc`.

Related: #22265

[2019-05-10 17:57] jdm opened #23366 "New mac taskcluster builders don't have gstreamer installed until first build completed"
servo-mac4 was added to the pool and was selected for a WPT job. It proceeded to crash on every test with this output:
[code]
This is because it has not had homebrew installed, since that runs as part of the build task.

[2019-05-10 18:20] jdm commented on #23366
I worked around this by cancelling the WPT job and retrying the PR a couple times until the other builders were busy running tests and the new builder was able to claim a build job. This isn't really sustainable for the future as we add more builders, however.

[2019-05-10 19:59] jdm commented on #23366
And another interesting problem - when the new builder had a build job and set up homebrew, it installed gstreamer 1.16 while the other builders have gstreamer 1.14. This led to this error when an older machine tried to run tests:
[code]

[2019-05-10 21:17] jdm commented on #20365
The build script is based on unix tools, so it's not a straightforward fix. It's possible that the updated mesa that relies on meson instead of autotools might be easier.

[2019-05-10 21:29] jdm commented on #20365
Another option might be to build a Windows-specific headless mode that's based on ANGLE (which just merged in https://github.com/servo/servo/pull/22856) somehow. https://github.com/stackgl/headless-gl/blob/master/src/webgl.cc might be a usable model.

[2019-05-11 06:59] SimonSapin commented on #23366
For dependencies not being installed, should we have a `Brewfile` for building and another for running Servo? `./mach bootstrap-android` does something similar.

Re incompatible versions, does Homebrew support version pinning? (Or installing older versions at all?)

[2019-05-11 11:08] jdm commented on #23366
Homebrew does not have a way to specify older versions to install. The only way I can think of is to pin a specific base revision of the Homebrew core repository and check that out before starting the Homebrew installation.

[2019-05-11 17:36] garyemerson commented on #23330
@highfive: assign me

Just got setup to build the project, excited to contribute! Looks like just the Performance.webidl would need to be changed, right? I'll try that out and see if it builds.

[2019-05-11 17:36] highfive commented on #23330
Hey @garyemerson! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-11 21:54] maharsh312 commented on #19089
I am getting the same error even with this command "./mach build --dev -j1". I am working on Ubuntu (64 Bit) VM with 6.2 GB of RAM and 4 Cores.

[2019-05-12 12:01] jdm commented on #19089
It's possible that the build simply runs out of memory for you.

[2019-05-12 13:05] CYBAI opened #23370 "Support type=module script element"
whatwg/html#443

Spec: Step 24.6 of https://html.spec.whatwg.org/multipage/#prepare-a-script

Gecko initialization for module hooks
https://searchfox.org/mozilla-central/source/dom/script/ScriptLoader.cpp#990-1006

[2019-05-12 13:11] CYBAI commented on #23370
@jdm While reading how Gecko implements `module` scripts, I found Gecko will do a module hooks initialization at https://searchfox.org/mozilla-central/source/dom/script/ScriptLoader.cpp#141 . I think we should have a top level module hook in following function? Thanks.

https://github.com/servo/servo/blob/965f57e3f8011dd7bdc61b438f95eeb87748319d/components/script/script_runtime.rs#L345

[2019-05-12 18:52] jdm commented on #23370
Yes, that seems reasonable to me.

[2019-05-12 20:59] sreeise commented on #23329
Hey @jdm I can work on this if that is ok.

@highfive: assign me

[2019-05-12 20:59] highfive commented on #23329
Hey @sreeise! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-13 00:59] KiChjang opened #23371 "Unable to build mozjs-sys due to cargo home being on a different drive"
[code]

My cargo home directory is located at `C:\Users\kungf\.cargo` as it is shown in the logs, but my servo project root is located in `D:\Workspace\servo`. I'm not sure what the best way to fix this is -- is it even possible to instruct cargo to install packages under a different drive/path?

[2019-05-13 03:32] jdm commented on #23371
You could probably work around this by using a cargo.toml patch that points at a clone mozjs on the same drive as servo.

[2019-05-13 03:37] jdm commented on #23371
Alternatively, it seems like the CARGO_HOME variable is able to change where cargo looks for packages: https://doc.rust-lang.org/cargo/reference/environment-variables.html

[2019-05-13 08:34] pylbrecht commented on #22957
After skimming through [raqote]() and [canvas_data.rs](), I found some differences, which may or may not be important:
- [PathBuilder::bezier_curve_to()](https://dxr.mozilla.org/servo/source/components/canvas/canvas_data.rs#105) and [PathBuilder::ellipse()](https://dxr.mozilla.org/servo/source/components/canvas/canvas_data.rs#131) missing in raqote
- something about [shadows (?)](https://dxr.mozil

[2019-05-13 14:58] gterzian opened #23373 "Fix navigating a JS URL scheme(and potentially make using a task for navigation more consistent)"
The spec says to [queue a task to navigate a JS url scheme](https://html.spec.whatwg.org/multipage/browsing-the-web.html#navigating-across-documents:dom-manipulation-task-source), however there is a test that fails if you do this("/html/semantics/scripting-1/the-script-element/execution-timing/029.html").

Also, it seems to not be consistently implemented and following the spec might require some

[2019-05-13 15:29] KiChjang commented on #23371
I was able to get servo compiling by setting CARGO_HOME to `.\.cargo`, though I'm not sure if this is a good general solution to make a PR for.

[2019-05-13 15:29] jdm commented on #22957
I don't know that there are any particular must-haves. It's good to know that raqote has some missing pieces that will affect us. We should file issues about the path builder methods for sure; what does "more stuff" mean, exactly?

[2019-05-13 16:00] pylbrecht commented on #22957
At first glance: rect handling, stroke options, and shadows, but there could be more.

[2019-05-13 16:40] jdm commented on #23290
This is a relatively common intermittent failure on taskcluster mac jobs; this will only get worse as we add more of them.

[2019-05-13 18:36] Manishearth opened #23376 "Permissions prompt support in Servo"
Currently Servo cannot trigger permissions prompts. This is going to be necessary to be able to expose `getUserMedia()` and some of the XR stuff.

This will likely be somewhere in the embedder API.

Ideally, for `getUserMedia()` we can have a "pick your device" menu as well (may need a separate API)

cc @paulrouget

[2019-05-13 18:48] jrmuizel commented on #22957
- bezier_curve_to corresponds to Raqot's cubic_to
- ellipse can be also be implemented on top of cubic_to as done here: https://github.com/servo/rust-azure/blob/1ca68f302f5e914e2c63b0ec5b72af8f761f977d/libazure/PathHelpers.h
- shadows should at least be implementable outside of raqot. I'll try to put up a sample at some point.

[2019-05-13 19:03] jdm commented on #23376
There is some overlap with the work for https://github.com/servo/servo/issues/23057, too.

[2019-05-13 21:32] jdm opened #23378 "Use merge parent for build tasks in taskcluster"
Every time bors starts a test run, it creates a new merge commit. This means that retrying a build that happened on taskcluster starts all of the builds from scratch, because it looks at the head git sha and checks if there are any reusable tasks based on that sha. If we could use the equivalent of `git show MERGE_SHA^2` instead, we should be able to get the latest commit for the branch being merg

[2019-05-14 00:44] jdm commented on #23378
https://developer.github.com/v3/activity/events/types/#pushevent

[2019-05-14 04:39] gterzian commented on #23373
Note, in the light of [this discussion](https://github.com/whatwg/html/issues/3730#issuecomment-492071447), I'll be fixing the test as part of https://github.com/servo/servo/pull/23368.

That still leaves the security part with https://github.com/whatwg/html/issues/2591

[2019-05-14 05:28] gterzian opened #23379 "Intermittent PASS in /html/webappapis/dynamic-markup-insertion/closing-the-input-stream/load-event-after-location-set-during-write"
[code]

Appears in https://github.com/servo/servo/pull/23368

[2019-05-14 07:12] gterzian opened #23380 "Navigation: make it more spec compliant."

[2019-05-14 07:17] paulrouget commented on #23376
Where is the code that scan for media devices? In Servo or in the embedder?

[2019-05-14 07:18] SimonSapin commented on #23378
+1 to reducing redundant builds. I think we should base the index key on the hashes of **both parent commits** of the merge, so that we rebuild if another PR was merged in the meantime.

In fact we can do the same for every task, not just builds. If WPT chunk number 2 succeeded previously with a given build, no need to run it again and risk hitting an intermittent failure.

[2019-05-14 09:11] gterzian commented on #23373
Actually I think it's not just the JS url that requires additional checks, but also the broader navigation.

For example we're not really checking Step 3 [whether the source BC is allowed to navigate the target](https://html.spec.whatwg.org/multipage/browsing-the-web.html#navigating-across-documents:allowed-to-navigate) (although this might be done implicitly because our implementation of [`choose

[2019-05-14 11:24] SimonSapin commented on #23320
Windows Nightly build and upload task https://tools.taskcluster.net/groups/GLEPxdzkRNmILrCbKsk_NQ/tasks/IY-N1eQKR56kuWFLq2HbGA/runs/0 ran into its 60 minutes timeout.

[2019-05-14 15:11] paulrouget commented on #23050
I gave it a try. I'm not sure it's easy, we can't have a feature that "disable" something in Cargo.toml. The rustc feature will work, but something like this in Cargo.toml won't:

[code]

It's a known limitation of Cargo (see https://github.com/rust-lang/cargo/issues/5499).

So I think we will need an intermediate crate (relevant irc conversation: https://mozilla.logbot.info/servo/20190514#c163082

[2019-05-14 16:03] jdm opened #23384 "Intermittent failure in /_webgl/conformance2/rendering/texture-switch-performance.html"
[code]

[2019-05-14 16:04] jdm opened #23385 "Intermittent crash in /css/css-values/vh_not_refreshing_on_chrome.html"
[code]

[2019-05-14 16:07] jdm opened #23386 "Intermittent timeout in /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-height.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-negative-innerwidth-innerheight.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-negative-screenx-screeny.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-height.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-innerheight.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-negative-top-left.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-innerwidth.html"
[code]

[2019-05-14 16:09] jdm opened #23387 "Intermittent timeout in /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-width.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-screenx.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-screeny.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-top.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-negative-width-height.html, /html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-non-integer-left.html"

[2019-05-14 16:09] jdm commented on #23387
[code]
This seems to happens on servo-tc-mac3 and servo-tc-mac4, not mac1 and mac2.

[2019-05-14 16:09] jdm commented on #23386
This seems to happens on servo-tc-mac3 and servo-tc-mac4, not mac1 and mac2.

[2019-05-14 17:10] Manishearth commented on #23376
It's currently in Gstreamer. This can be changed to make it an embedder hook.

The primary goal of this issue is to have some ability to throw up a permissions prompt, we can extend that for `getUserMedia()`'s media selection later. I bring it up now so that whatever we design can be extended with selection dropdowns/etc.

[2019-05-14 17:55] Darkspirit commented on #11139
@jdm, can this be closed?

[2019-05-14 18:22] jdm commented on #11139
Yeah, I've been able to run Servo on desktop ubuntu for a while.

[2019-05-14 18:22] #11139 closed

[2019-05-14 21:14] stmobo commented on #21257
@highfive: assign me

Hi! I'm pretty new to open-source contribution, all things considered, but I look forward to working with everyone!

[2019-05-14 21:14] highfive commented on #21257
Hey @stmobo! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-14 23:23] Manishearth opened #23390 "[meta] Update to Gstreamer 1.16"
Keeping track of the work needed to upgrade to Gstreamer 1.16

 - [x] Generate linux bundle: https://github.com/servo/servo/issues/23391
 - [x] Generate android bundle
 - [ ] Update gstreamer-rs
 - [x] Update AppVeyor with GStreamer 1.16 #23484
 - [x] Update Travis with GStreamer 1.16
 - [x] Update bootstrap with GStreamer 1.16

[2019-05-14 23:23] Manishearth commented on #23390
cc @ferjm @jdm

[2019-05-14 23:25] Manishearth opened #23391 "Generate linux bundle for Gstreamer 1.16"
part of #23390

Keeping track of the work necessary to build GST 1.16

[2019-05-14 23:27] Manishearth commented on #23391
Going off of the steps in https://github.com/servo/servo/wiki/How-to-generate-GStreamer-binaries-for-CI:

Changes:

 - Do not install libnice
 - Install ffmpeg 4.1.1 instead of 3.2
 - command is `
meson  -Dpython=disabled -Dlibav=enabled -Dugly=disabled -Dbad=enabled -Ddevtools=disabled  -Drtsp-server=disabled -Domx=disabled -Dvaapi=disabled -Dsharp=disabled -Dintrospection=disabled -Dgst-plugins-

[2019-05-14 23:32] Manishearth commented on #23391
Okay, the above steps work aside from webrtc. @ferjm Do you think we should go ahead with this and start the migration, or wait for me to figure out webrtc?

[2019-05-15 00:16] Manishearth commented on #23391
The binaries (without webrtc) are at http://servo-deps.s3.amazonaws.com/gstreamer/gstreamer-1.16-x86_64-linux-gnu.20190514.tar.gz

[2019-05-15 00:26] Manishearth commented on #23391
WIP webrtc build command:

[code]

[2019-05-15 00:30] Manishearth commented on #23391
It worked!

gst_editing_services still doesn't disable, but that's fine

[2019-05-15 00:36] Manishearth commented on #23391
New steps:

 - Do not install libnice
 - Install ffmpeg 4.1.1 instead of 3.2
 - After running `meson`, but before running `ninja`, `cd subprojects/gst-plugins-base` and `git cherry-pick 5f19e83f14bf29a31b76684181396080aa228113`. Unnecessary once that's backported
 - command is `meson  -Dpython=disabled -Dlibav=enabled -Dugly=disabled -Dbad=enabled -Ddevtools=disabled  -Drtsp_server=disabled -Domx=

[2019-05-15 00:38] Manishearth commented on #23391
Deploying at https://github.com/servo/saltfs/pull/961

[2019-05-15 01:06] Manishearth commented on #23391
Ah, it's `-Dges` now

[2019-05-15 01:10] Manishearth commented on #23391
Couple tips for future upgrades:

 - `meson configure` gives you a nice list of options
 - the meson build log is long, but save it. If a package fails to build, check _why_ meson wanted to build the package (from the log). In some cases this may involve reading through meson.build files. Almost all of my problems were solved by this kind of exploration

[2019-05-15 01:46] CYBAI commented on #10487
whatwg/html#4143 landed in spec that it defines button layout at https://html.spec.whatwg.org/#button-layout

[2019-05-15 02:55] jdm commented on #23290
The info added to #23375 has yielded interesting output like the following:
[code]
I find this highly suspect!

[2019-05-15 07:40] Darkspirit commented on #8680
This can be closed. Build does not fail on Debian Testing.

[2019-05-15 07:41] #8680 closed

[2019-05-15 09:50] CYBAI commented on #21810
Remove `C-assigned` label due to inactivity. Also, @chansuke feel free to get back to this when you have time if this is not fixed yet.

[2019-05-15 12:25] tigercosmos opened #23394 "README update for macOS"
seems we need this now due to recent commits
[code]

[2019-05-15 12:28] tigercosmos commented on #23394
@CYBAI  could you double check about this?

[2019-05-15 13:31] CYBAI commented on #23394
I think it's

[code]

which is already in [README](https://github.com/servo/servo#macos) now 🤔

Do you get any issue while installing with that command? 👀

[2019-05-15 14:02] tigercosmos commented on #23394
`etc/taskcluster/macos/Brewfile` doesn't include `gstreamer`, which is moved to `etc/taskcluster/macos/Brewfile-gstreamer`

[2019-05-15 14:20] jdm commented on #23394
Yes, we need to update the instructions in the way you recommend.

[2019-05-15 14:21] tigercosmos commented on #23394
It would be an easy one.

[2019-05-15 14:21] highfive commented on #23394
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-05-15 14:25] CYBAI commented on #23394
Oops, I didn't pull the latest code so I didn't notice that 😂 Thanks for catching it!

[2019-05-15 14:39] jdm commented on #23394
Rather than having someone else update the readme, I'm going to go ahead and do it.

[2019-05-15 15:06] SimonSapin opened #23399 "Glyph count used a grapheme cluster count in text input hit testing"
From https://github.com/servo/servo/pull/23272#discussion_r283969757

The `script::textinput::TextInput::set_edit_point_index` method is called for `click` events on `<input>` elements to set the cursor’s position. It takes a `usize` parameter that is interpreted as a number of grapheme clusters:

https://github.com/servo/servo/blob/576394b288270e49562898cca497959eb9b5a711/components/script/textin

[2019-05-15 16:04] Manishearth commented on #23391
Once https://github.com/servo/servo/pull/23377 passes I'll close this issue and move all my findings to the wiki page

[2019-05-15 20:48] luisbg commented on #23015
I also had to do the `subprocess.check_output` to make it work with git master.

[2019-05-15 21:44] #12015 closed

[2019-05-15 21:44] #21778 closed

[2019-05-15 21:44] #22110 closed

[2019-05-15 21:52] n2liquid commented on #21778
So I tried running the latest Servo nightly again and now I get this error:

[code]

Should I open a new issue?

[2019-05-15 21:58] Darkspirit commented on #21778
It just merged...

[2019-05-15 22:01] Darkspirit commented on #21778
Yes, that sounds like a different issue. Try `apt install libgstreamer-plugins-bad1.0-0`.

[2019-05-15 22:02] n2liquid commented on #21778
It's already installed. Looks like I need `sid`, or to install a newer version of GStreamer manually?

[2019-05-16 00:22] Manishearth commented on #23391
Wiki page updated. It also now uses Xenial instead (trusty also has old vpx binaries, and I don't want to go down that rabbit hole if we're not using trusty on CI anyway)

[2019-05-16 00:23] #23391 closed

[2019-05-16 04:20] #23394 closed

[2019-05-16 07:23] ferjm commented on #23391
If we are not generating the binaries for Trusty anymore, we need to move servo-media CI to Xenial as well.

[2019-05-16 07:25] ShalokShalom commented on #21778
I would like to give Servo a test run, while currently no way to get on my device was successful.

[2019-05-16 08:28] ShalokShalom commented on #21778
Still happens to me here.

[2019-05-16 10:48] Darkspirit commented on #21778
New Nightly just arrived: https://download.servo.org/nightly/linux/servo-latest.tar.gz

[2019-05-16 10:58] ShalokShalom commented on #21778
Thanks a lot. So its not a nightly, more a weekly?

[2019-05-16 11:01] Darkspirit commented on #21778
No, it's build every day, unless they're working on their infra.

[2019-05-16 11:02] ShalokShalom commented on #21778
Ahja, the merge happened 13 hours ago, my mistake. Thanks!

[2019-05-16 12:40] gterzian opened #23408 "In Websocket, use IPC router as opposed to a thread for each websocket"
When a websocket is [created](https://github.com/servo/servo/blob/ce93e017c65ba8e987226c843df7fc923af5957a/components/script/dom/websocket.rs#L145), a dedicated thread is spawned to handle incoming messages from [the resource thread](https://github.com/servo/servo/blob/c449cbb8eacd2e42b450a2a06af4d94bda2bc103/components/net/resource_thread.rs).

Instead an [`ipc_channel::router::ROUTER`](https://g

[2019-05-16 13:52] jdm commented on #23408
To test the changes, run `./mach test-wpt tests/wpt/web-platform-tests/websocket`. There should be no change in behaviour before and after.

[2019-05-16 14:13] Manishearth commented on #23391
Good point, we should do that

[2019-05-16 14:38] jdm opened #23409 "Intermittent mac android linking error ("fatal error: out of file descriptors and couldn't close any")"
[code]

[2019-05-16 14:54] SimonSapin commented on #22950
Done in #23304.

[2019-05-16 14:54] #22950 closed

[2019-05-16 15:33] SimonSapin commented on #23409
Does this happen on some workers and not at all on some others?

[2019-05-16 15:39] #22884 closed

[2019-05-16 15:40] jdm commented on #23409
Hard to say so far.

[2019-05-16 15:41] jdm commented on #23409
I've checked and the file handles limits on the workers match my local machine.

[2019-05-16 15:43] jdm commented on #23409
However, the buildbot mac builders have `sysctl kern.maxfiles` reporting `kern.maxfiles: 65536`, while the TC builders that were reimaged report `kern.maxfiles: 12288`.

[2019-05-16 15:44] jdm commented on #23409
Similarly, buildbot builders have `sysctl kern.maxfilesperproc` report `kern.maxfilesperproc: 30000` and TC builders report `kern.maxfilesperproc: 10240`.

[2019-05-16 17:50] jdm opened #23413 "Intermittent pass in /css/css-text/word-break/word-break-break-all-007.html"

[2019-05-17 02:50] CYBAI opened #23417 "Implement <form>.requestSubmit()"
whatwg/html#4597
web-platform-tests/wpt#16743

Firefox Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1552301

[2019-05-17 08:17] paulrouget opened #23418 "Why does servo depend on opengl32.dll"
I'm trying to understand why libsimpleservo depends on opengl32.dll.

So far, I identified 2 reasons:
- skia depends on glutin which depends on opengl
- offscreen_gl_context links with opengl

But even if I remove glutin from skia and disable the link to opengl in offscreen_gl_context, I still end up with a dependency on opengl32.dll.

I'm missing something, any clue?

/cc @jdm

[2019-05-17 08:32] paulrouget commented on #23418
In target/debug/build/winapi-ad7f77e1676cc694/output, I see:

[code]

Any idea how I can work around that?

[2019-05-17 09:07] gterzian commented on #12776
@jdm I'm not sure I have the courage to commit to taking on this one, yet, however Whistler might be a good opportunity to talk with the relevant people(especially in the light of the Gecko angle)?

How does one organize a "sit-down" on something like this?

[2019-05-17 13:19] jdm commented on #12776
Great idea! I'll commit to scheduling a time for it and inviting relevant people.

[2019-05-17 13:36] jdm commented on #23418
It looks like it's already turned off for https://github.com/retep998/winapi-rs/blob/a7ef2bca086aae76cf6c4ce4c2552988ed9798ad/build.rs#L442-L445 . Presumably when we're using the forthcoming UWP compilers we'll want to disable it for that too. I think we'll just to suppress it manually in the short term.

[2019-05-17 13:58] afcady commented on #21970
I captured the error output, which contains a line that looks like this:

      = note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" [...]

And edited that line so that the `-L` argument that points to  `./support/linux/gstreamer/gst/lib` comes first before any other `-L` argument.

Here is a script that does it:

    ./mach build --release 2> log.txt
    sed -ne 's/^  = note: "cc"/cc/p

[2019-05-17 14:01] afcady commented on #21970
I can confirm now that the resulting `servo` binary does work.  I had to launch it like this:

    LIBGL_ALWAYS_SOFTWARE=1 LD_LIBRARY_PATH=./support/linux/gstreamer/gst/lib ./target/release/deps/servo-381b1b9289a3ebc9

[2019-05-17 15:34] jdm opened #23421 "Intermittent duplicate liblibc in 5/14 nightly toolchain on macOS builders"
[code]
When I've observed this, liblibc and libunicode_width are the only two libraries exhibiting this problem.

[2019-05-17 17:54] jdm opened #23422 "Intermittent error on macOS taskcluster builds ("Error: No such file or directory @ dir_initialize")"
[code]
This may only occur on mac builds on servo-tc-mac8.

[2019-05-17 18:33] jdm commented on #23422
This might have been fixed by manually installing python in homebrew.

[2019-05-17 20:29] afcady commented on #21970
I found a simpler workaround to accomplish the same end:

    RUSTFLAGS='-L ./support/linux/gstreamer/gst/lib' ./mach build --release

That worked.  But note that it spent 2 hours to rebuild all dependencies with that flag added.

[2019-05-17 20:30] Manishearth commented on #21970
The Gstreamer update just landed, can you update to master and try again?

[2019-05-17 20:31] Manishearth commented on #21970
Actually, wait.

[2019-05-17 20:33] Manishearth commented on #21970
Include the commit from https://github.com/servo/servo/pull/23424 too.

[2019-05-17 21:10] HermannBjorgvin commented on #14949
@jdm I have a similar problem that I think might be related. It seems that when margin and width/height are transitioned at the same time, that the decimal places are rounded individual of each other and can sometimes add up to more than the total dimensions of the element should be. In my cases this causes it to collapse. See when you hover over the second element in this demo.

https://codepen.i

[2019-05-17 21:37] afcady commented on #21970
Well I tried #23424  and it still didn't link correctly.  Same issue.

Note that ` "-L" "[...]/support/linux/gstreamer/gst/lib" ` is certainly on the linker command line -- in fact it seems to be there dozens of times.  But it's not early enough on the command line.  It needs to come before `"-L" "/usr/lib/x86_64-linux-gnu"` or your system's equivalent.

You should be able to test this without act

[2019-05-18 00:23] #21261 closed

[2019-05-19 01:50] TheOriginalAlex commented on #23408
I'd like to take this on as a first ticket.

[2019-05-19 06:48] gterzian opened #23425 "Location: implement location-object-setter-navigate"
Spec: https://html.spec.whatwg.org/multipage/#location-object-setter-navigate

The spec mentions at various places(example: [dom-location-protocol setter](https://html.spec.whatwg.org/multipage/#dom-location-protocol)) in the Location interface to `location-object-setter-navigate` the Location, versus merely [location-object-navigate](https://html.spec.whatwg.org/multipage/history.html#location-ob

[2019-05-19 08:40] gterzian commented on #23425
relevant test: https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/html/browsers/history/the-location-interface/scripted_click_location_assign_during_load.html

and metadata set to `FAIL`, which probably should go to `PASS` if the above is succesfully implemented: https://github.com/servo/servo/blob/e868ab01a47220d0c89409f22de679460ed92ff5/tests/wpt/metadata/html/browsers/histo

[2019-05-19 09:36] gterzian commented on #23380
However see also https://github.com/whatwg/html/issues/4640

[2019-05-19 13:20] gterzian commented on #23408
@bors-serve assign TheOriginalAlex

@TheOriginalAlex Let us know how it goes!

[2019-05-19 14:07] jdm commented on #23421
I'm pretty sure I tried manually removing the 5/14 nightly toolchain directory on servo-tc-mac5 after observing this, and then it happened again.

[2019-05-19 14:17] jdm commented on #23409
More specific, mac3, mac5, and mac7 have the lower maxfilesperproc and maxfiles limits. The remaining machines have 24576 and 49152 respectively.

[2019-05-19 14:19] jdm commented on #23409
I ran the following:
[code]

[2019-05-19 18:16] GarethPW commented on #23348
Latest build still exhibits this issue.

[2019-05-19 21:24] jdm opened #23428 "Intermittent "use of unstable library feature" due to weird compilation on macOS taskcluster"
Observed on servo-tc-mac3 and servo-tc-mac5 and servo-tc-mac7.

[code]

[2019-05-19 23:50] jdm commented on #23409
Hit this again on servo-tc-mac7 since running those commands :(

[2019-05-19 23:53] jdm commented on #23421
I continue to see this only happening on servo-tc-mac5 :(

[2019-05-20 03:48] jdm commented on #23428
This is hitting us really frequently. I've removed these three workers from the pool pending further investigation.

[2019-05-20 03:53] gterzian commented on #12776
thanks!

[2019-05-20 07:30] pylbrecht commented on #22957
Progress update:
The current approach as discussed with @jdm is to abstract the painting backend (azure) in such a way, that we can introduce another backend (raqote) step by step with successful builds in between.
We realize this by implementing traits for more complex azure members (e.g. `azure_hl::DrawTarget`) and wrapping trivial types in enums (e.g. `azure_hl::Pattern`).

Work done so far:
-

[2019-05-20 13:40] jdm commented on #22957
Could you file a new issue tracking the raqote conversion!? It would be good to keep this one focused on Pathfinder.

[2019-05-20 15:28] jdm opened #23429 "mac8 can't install glib-networking because it can't find gnutls"
[code]

[2019-05-20 15:29] jdm commented on #23429
I'm removing mac8 from the pool until this can be investigated further.

[2019-05-20 15:40] paulrouget opened #23430 "de-dupe winapi"
Servo uses 2 version of winapi. 0.2 and 0.3.

We need to dedupe it. It doesn't look trivial.

[2019-05-20 15:45] Eijebong commented on #23430
It would be trivial if mio released a new version... We've been waiting for more than a year now.

[2019-05-20 15:48] jdm commented on #23430
@paulrouget If we need to dedupe it for the Hololens work, go ahead and make a fork of mio and add a Cargo replacement that uses it.

[2019-05-20 15:49] Eijebong commented on #23430
If you need anything else, just ping me (kind of got some experience with that ;))

[2019-05-20 16:32] paulrouget commented on #23430
I'll give it a try tomorrow. I think there's a bit more than just mio.

[2019-05-20 16:51] atouchet commented on #23430
I believe iovec and mio are the main blockers. It would also help to merge #23405 to get rid of the term dependency.

[2019-05-20 17:21] pylbrecht commented on #22957
Would implementing a generic backend fall under this issue or should I move this to the new issue, as well?

[2019-05-20 17:28] pylbrecht opened #23431 "Use raqote for 2D canvas rendering"
While working on #22957, @jdm mentioned the possiblity to use [https://github.com/jrmuizel/raqote](https://github.com/jrmuizel/raqote) as a canvas rendering backend.
As stated in [https://github.com/servo/servo/issues/22957#issuecomment-493991851](https://github.com/servo/servo/issues/22957#issuecomment-493991851), this issue is for tracking progress of the conversion to raqote.

Remaining missing

[2019-05-20 17:32] cbrewster commented on #22957
If you're planning on writing a generic backend for 2d graphics you may want to consider https://github.com/linebender/piet. Currently a Raqote backend is in the works and potentially a Pathfinder backend could be implemented

[2019-05-20 17:37] pylbrecht commented on #22957
So many options.. Honestly, I feel a bit lost of what solution to approach right now.
@jdm, what do you think?

[2019-05-20 18:39] jdm commented on #22957
We don't actually want to end up with a generic backend. It's a stop along the way to replacing our current backend with raqote, which is where we want to end up in the short term.

[2019-05-20 19:09] pylbrecht commented on #22957
@jdm, alright. So I continue replacing azure with raqote, but tracking my progress in #23431 instead of here. Then I guess you can unassign me here and assign me to #23431?

[2019-05-20 19:16] jdm opened #23432 "Can't run macOS nightlies on macOS <10.13"
Trying to run the nightlies yields on macOS Sierra yields: "You have macOS 10.12.6. The application requires macOS 10.13 or later."

This is presumably caused by our TC mac builders running 10.13.6, and they are the machines that generate the nightly builds.

[2019-05-20 19:56] #22915 closed

[2019-05-20 21:10] Eijebong commented on #23430
Yeah mio is the main blocker but then you'll probably have to fix tokio stuff too. I did all the preparation work last year hoping for a mio release (which was promised Q1 2018). I think you could use mio master's branch which does have breaking changes for the next version now, but I'm not sure what kind of impact it'll have over the rest of the deps.

[2019-05-20 21:49] jdm commented on #23409
Hit this on servo-tc-mac4 for the first time, sadly.

[2019-05-21 00:23] jdm commented on #23290
I have a theory that this occurs when the macos font backend's FontHandle::new_from_template is called with a None pt_size argument. This chooses 0.0 for a point size, then FontTemplateData::ctfont instantiates the font with a point size of 0.1, but all queries for the font use 0.0 and won't find it. This could explain why the fallback behaviour is triggered.

[2019-05-21 00:25] jdm commented on #23290
This can happen if FontTemplate::instantiate is called, rather than FontContext::create_font, which happens in FontContext::descriptor.

[2019-05-21 13:09] CShepartd commented on #23348
Still missing ``libiconv-2.dll`` (downloaded from https://download.servo.org/nightly/windows-msvc/servo-latest.zip)

[2019-05-21 13:26] jdm commented on #23290
Theory busted - we store the unclamped point size in the hashmap, not the clamped one :(

[2019-05-21 13:32] jdm commented on #23348
Until this issue is closed, there is no change expected.

[2019-05-21 19:46] Darkspirit commented on #23432
Please wontfix?!

[10.12 Sierra](https://en.wikipedia.org/wiki/MacOS_Sierra)

[10.13 High Sierra](https://en.wikipedia.org/wiki/MacOS_High_Sierra) was released 2017 and supports 10 year old devices. Support ends next year.

[2019-05-21 20:54] jdm commented on #23409
Observed on servo-tc-mac9 as well.

[2019-05-21 22:11] jdm opened #23436 "Remove Cell/DomRefCell member wrappers from CanvasState struct"
CanvasState was introduced as part of a big refactor in #23381 that extracted common aspects of the offscreen canvas rendering context and the 2d canvas rendering context. Since the CanvasState struct is stored inside of a DomRefCell itself, that means that we can modify the methods for CanvasState to accept `&self` or `&mut self` directly, so the Cell and DomRefCell members inside of CanvasState

[2019-05-21 22:11] highfive commented on #23436
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-05-22 05:28] CYBAI opened #23438 "assertion failed: child_index.0 >= parent_index.0"
###### Built with `color-backtrace` branch and the branch has rebased to latest master on 8095df8fe9 👀

Url: https://www.joshwcomeau.com/posts/folding-the-dom/

<details>

<summary>Check full backtrace</summary>

[code]

</details>

[2019-05-22 09:19] ferjm commented on #22359
Unassigning due to lack of activity. Feel free to assign it back to you if you restart the work on this.

[2019-05-22 14:02] #22287 closed

[2019-05-22 15:32] jdm commented on #23409
This was observed on servo-tc-mac4 after #23435. Oh well.

[2019-05-22 15:59] jdm opened #23440 "Extract OS clipboard integration into embedding layer"
Rather than implicitly supporting the OS clipboard everywhere by creating a ClipboardContext in the constellation, this is really something that should be supported separately by each Servo embedder.

We should:
* remove the GetClipboardContents/SetClipboardContents constellation messages
* add GetClipboardContents and SetClipboardContents messages to `EmbedderMsg`
* make the code that uses the cl

[2019-05-22 16:37] jdm commented on #23409
I have run `launchctl unload -w /system/library/launchdaemons/com.apple.metadata.mds.plist` on every mac builder to see if this makes a difference.

[2019-05-22 16:48] jdm commented on #23009
@ejmg Are you planning to return to the work in #23061?

[2019-05-22 16:49] jdm commented on #22862
@championshuttler If you would still like to work on this, let us know :)

[2019-05-22 16:57] iulianR commented on #21289
I was unable to finish it in the free days I had then and unfortunately, I do not have the required time to finish it now. It can be assigned to someone else.

[2019-05-22 17:06] paulrouget opened #23441 "Un-dupe gl_generator"
https://github.com/servo/servo/pull/23288#issuecomment-494687746

[2019-05-22 17:59] atouchet commented on #23077
crossbeam-channel was updated in #23288 which removed the crossbeam-epoch 0.6 dependency. Is this fixed now?

[2019-05-22 18:22] jdm commented on #23409
No apparent difference.

[2019-05-22 22:16] stevenloppe commented on #22782
@highfive: assign me

[2019-05-22 22:16] highfive commented on #22782
Hey @stevenloppe! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-23 03:09] chansuke commented on #23436
@highfive: assign me

[2019-05-23 03:09] highfive commented on #23436
Hey @chansuke! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-23 03:20] jdm commented on #23436
#23381 has not actually been able to merge yet, so this will have to wait.

[2019-05-23 05:43] CYBAI commented on #23438
[code]

Looks like it's related to layout of video element 👀?

cc @ferjm @ceyusa

[2019-05-23 09:48] uswoods opened #23444 "Don't require GStreamer"
Requiring GStreamer must be a joke.

[code]

[2019-05-23 09:53] ferjm commented on #23444
Closing as a dup of #23050 which is asking for the same thing in a significantly more polite form.

[2019-05-23 09:53] #23444 closed

[2019-05-23 13:54] jdm commented on #23428
I reenabled these workers after merging #23435 and I have not seen this happen again.

[2019-05-23 13:59] hrvolapeter opened #23447 "Gstream version check MacOS"
This is not entirely problem of Servo but `pkg-conf`.

The build script uses following code to verify version:
[code]
However this fails even if pkg-config reports version 1.16 see:
[code]
and output
[code]

The expected behavior is for pkg-config to end without error. I went around the problem by disabling the check in the bootstrap.py file

Versions:
gstreamer: 1.16.0
pkg-config: 0.29.2
MacOS: 1

[2019-05-23 14:23] jdm commented on #23189
This was reverted in https://github.com/servo/servo/pull/23442.

[2019-05-23 14:29] jdm commented on #23447
This is a known issue with the version of libffi that is required by GStreamer 1.16. You need to follow the instruction at https://github.com/servo/servo#note-please-make-sure-the-required-pkg_config_path-environment-variable-is-set-the-same-as-the-one-provided-from-brew-info-libffi-check-this-comment-for-more-details .

[2019-05-23 17:41] #20455 closed

[2019-05-23 18:06] pinggi commented on #23348
I can confirm the missing `libiconv-2.dll` as well.

First I was getting `The application was unable to start correctly (0x000007b). Click OK to close the application.` everytime I ran `servo.exe`. Was really disapointed. After several days I tried again and got he same error. I decided to investigate it. By `depends.exe` (dependency walker) I found that the 64-bit `servo.exe` was dependent on 32-

[2019-05-23 19:00] pinggi commented on #23348
Here is the dependency tree I could see when the servo was installed, the `libiconv-2.dll` file was missing in the servo folder but was found in mingw folder:

![image](https://user-images.githubusercontent.com/18471834/58278918-53c0ea00-7d9d-11e9-975e-f33d0926e924.png)

[2019-05-23 20:40] atouchet commented on #22619
Is this issue fixed now?

[2019-05-23 22:33] Eijebong commented on #23430
#23449

[2019-05-24 10:10] skyne98 opened #23450 "Embedding Servo without JavaScript"
Hey there, everyone!

I have a question about embedding Servo with a specific use-case in mind. Is it possible with the current APIs to fully exclude the JavaScript engine and use internal APIs for Servo to be used as a GUI framework of sorts? I think Servo already has a lot going for it in the HTML and CSS support land, and directly using familiar HTML5 and DOM APIs should make it very approachab

[2019-05-24 11:27] pylbrecht commented on #23431
The current approach is to temporarily make the rendering backend generic, so it can be replaced step by step with successful builds in between. I'm just too anxious about replacing such a huge chunk of code all at once, so @jdm helped me out with the idea of making the backend generic for refactoring purposes.
This is my road map so far:
- [x] [add a `GenericDrawTarget` trait](https://github.com/

[2019-05-24 13:37] jdm commented on #23450
This is a use case that has been proposed before, but it's not one that we are spending any effort to support. The JS engine is deeply tied into our DOM implementation.

[2019-05-24 14:17] skyne98 commented on #23450
@jdm thanks for you response! What do you think about how hard will it be to try to decouple the APIs from a specific langauge / environment, making them available from pure rust?
I expected it to be like this from the very beginning, as there should have been some plans about changing the JS engine to something else in the future. Maybe a pure rust alternative? This would have required decoupling

[2019-05-24 15:11] jdm commented on #23450
When I say the JS engine is tied into Sevro's DOM, I mean that the memory safety strategy for the DOM representation relies on the presence of a JS engine garbage collector in order to free the memory allocated by Rust for DOM objects. Disentangling the GC from from the DOM is not something we as a team are going to spend any time on.

[2019-05-24 15:29] ejmg commented on #23009
School is finally out, so yes. I am really sorry for so many delays on this.

I might just end up copying over the work I had previously on the current PR branch I had and try rebasing again to avoid whatever mess-up I incurred on the last attempt. Messing with cargo deps really threw that branch into a mess and I'm not sure I can fix it, so deleting it is probably my best return on time at this p

[2019-05-24 19:58] georgeroman commented on #22619
The issue is fixed for the bluetooth tests, but it's still there in the new_session wdspec tests.

[2019-05-24 20:15] georgeroman commented on #22619
So, I further investigated what causes the `Session is already started` error in the `new_session` wdspec tests and I found out that the WebDriver instances that get assigned to each process each have a port of `4444`. Here are some debug prints illustrating this:
![servo](https://user-images.githubusercontent.com/30772943/58353959-a6230900-7e78-11e9-96c6-3e25621573c4.png)

Although the port retri

[2019-05-24 20:57] mboros1 opened #23454 "Build failing on Fedora 30"
The bootstrap succeeded, when I tried to build it failed. Running mach check I get the following error:

[code]

Looks like a package is not being added?

[2019-05-24 21:08] jdm commented on #23454
You need to re-run `mach bootstrap`.

[2019-05-24 21:09] jdm commented on #23454
Sorry, didn't read correctly. Add `libunwind-dev` to the bootstrap code, I suppose?

[2019-05-25 00:28] mboros1 commented on #23454
I could have sworn I already tried that but yes that fixed it. I'll make a PR to fix it and the README to add it, thank you

[2019-05-25 00:32] Heartade commented on #23348
Dependency Walker shows `libiconv-2.dll` was found in MinGW folder like @pinggi mentioned, but the program subsequently crashed as follows:

I believe "different CPU types" error refers to `libiconv-2dll` in MinGW being x86.

[2019-05-25 02:34] dralley commented on #22580
If this would be a good first issue to tackle, I would like to pick it up (if not, never mind).  I've reproduced it on my machine.  I'm not sure how I need to set up the environment to build against a local source copy of https://github.com/servo/media though.

[2019-05-25 03:06] jdm commented on #22580
https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies describes how to make Servo depend on your local clone of the repository. https://github.com/servo/servo/blob/61d2641a7d7c27b8c3107579324582451bc5588f/Cargo.toml#L17-L26 has some documentation to help as well.

[2019-05-25 03:07] jdm commented on #22580
And yes, this should be a good first issue to fix!

[2019-05-25 04:06] #23454 closed

[2019-05-25 11:21] jdm opened #23458 "Relocation overflow errors when linking on magic leap"
This is tracking the fact that the Magic Leap toolchain is using an old version of binutils. Certain PRs push the linker over the edge like this:
[code]

[2019-05-25 11:22] jdm commented on #23458
So far the only way around this we've discovered is to replace the old tools in the SDK with newer ones from the Android NDK.

[2019-05-25 12:38] Eijebong commented on #23257
Should all the methods asserting `AlreadyInCompartment ` use that ?

[2019-05-25 13:01] jdm commented on #23257
That's the idea behind this work, yes.

[2019-05-25 18:07] RazrFalcon commented on #22972
Any updates?

[2019-05-25 18:15] dralley commented on #22580
@jdm With this in my Cargo.toml

[code]

 I get this

[code]

[2019-05-25 18:54] nagashayan commented on #21255
I started by cherry-picking on #21254 PR (in another forked repo), it seems that PR itself is not complete. starttime is not implemented in performanceresourcetiming.rs file.

[2019-05-25 19:42] jdm commented on #22580
What if you run `cargo update -p servo-media-audio`?

[2019-05-25 19:44] emilio commented on #22972
Patches welcome I guess? I'm happy to review such a change.

[2019-05-25 20:02] dralley commented on #22580
[code]

[2019-05-25 20:21] RazrFalcon commented on #22972
I hope that I will be able at least build servo from sources...

[2019-05-26 03:47] jdm commented on #21254
Unassigning due to lack of response.

[2019-05-26 14:42] jdm commented on #22580
When I add this to my cargo.toml:
[code]
and run `cargo update -p servo-media-audio`, I see this output:
[code]

[2019-05-26 14:43] jdm commented on #22580
Try removing the `.git` from the patch name.

[2019-05-26 14:55] RazrFalcon commented on #22972
As expected:

[code]

Looks like `gstreamer-webrtc` isn't available on gentoo at all.

https://github.com/servo/servo/issues/23050

[2019-05-26 14:57] jdm commented on #22972
You can probably use `./mach build -p style` to work around the gstreamer build issue for the time being.

[2019-05-26 15:01] RazrFalcon commented on #22972
@jdm Thanks! I was able to build it now.

[2019-05-26 16:20] RazrFalcon commented on #22972
Here is my attempt: https://github.com/servo/servo/pull/2346

Mostly failed...

[2019-05-26 18:03] #22580 closed

[2019-05-26 20:36] kleinph commented on #22862
If nobody is working on this, I would like to take it

[2019-05-26 22:19] dralley commented on #23331
@highfive: assign me

[2019-05-26 22:19] highfive commented on #23331
Hey @dralley! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-26 22:20] dralley commented on #23331
Actually, never mind, there's already a PR for this but it was never assigned : /  https://github.com/servo/servo/pull/23335

[2019-05-26 22:23] jdm commented on #23331
Yeah, sorry about that!

[2019-05-26 22:24] jdm commented on #22862
@kleinph Go for it!

[2019-05-26 23:14] dralley commented on #23438
https://midi.city causes the same crash.  Details here: https://github.com/servo/webrender/issues/3652

[2019-05-27 06:58] mmiecz commented on #23440
Hi, this looks like good first task to get to know Servo! @jdm can you assign this one to me, please?

[2019-05-27 09:52] paulrouget commented on #23430
Fixed by #23449

[2019-05-27 09:52] #23430 closed

[2019-05-27 09:54] paulrouget commented on #23418
skia, offscreen gl, and winapi link to OpenGL.

[2019-05-27 09:54] #23418 closed

[2019-05-27 10:50] pylbrecht commented on #23431
I won't be making any progress this week, because I'm moving into a new appartment on Thursday and currently I'm like `loop { Box::new(stuff) }`.

[2019-05-27 13:47] highfive commented on #23332
cc @wafflespeanut

[2019-05-27 13:49] jdm commented on #23332
This requires:
* adding a `Exposed(Globals)` variant to the Condition enum
* making Condition::is_satisfied call `is_exposed_in` for the new variant
* updating the code generator's `MemberCondition` to accept a new argument for exposed conditions and returning `Condition::Exposed` when appropriate
* updating `getControllingCondition` to pass a list of exposed globals when appropriate

Code: `compo

[2019-05-27 14:23] paulrouget opened #23466 "Make it so that Skia, on Windows, can use egl, not wgl"
Maybe a feature.

[2019-05-27 14:37] jdm commented on #23466
Looking at how we use Azure and Skia, I don't actually think we rely on the GL code at all. I think we can add a cargo feature to Azure and remove Skia from the build entirely.

[2019-05-27 14:42] paulrouget opened #23467 "Make it so that offscreen_gl_context, on Windows, can use egl, not wgl"

[2019-05-27 14:54] #22862 closed

[2019-05-27 16:06] jdm commented on #23466
This should be addressed by https://github.com/servo/skia/pull/177 and https://github.com/servo/rust-azure/pull/300.

[2019-05-27 17:15] Darkspirit commented on #23466
In Firefox, SkiaGL is disabled, and even forbidden for WebRender: https://hg.mozilla.org/mozilla-central/rev/e79c7b512fd6

[2019-05-27 17:25] georgeroman commented on #22619
So, after lots of debugging, I finally managed to understand the real cause of the error in the wdspec `new_session` tests.

When running the wdspec tests in parallel, `wpt` starts new [processes](https://github.com/servo/servo/blob/2a61a0dbb02fae6354f76b1abe2fe2ac6c3cb85d/tests/wpt/web-platform-tests/tools/wptrunner/wptrunner/testrunner.py#L498) having as target the [`start_runner`](https://githu

[2019-05-27 21:19] sreeise commented on #23332
@highfive: assign me

I can work on this :)

[2019-05-27 21:19] highfive commented on #23332
Hey @sreeise! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-27 21:41] jdm commented on #23332
Please let me know if anything is unclear!

[2019-05-28 01:51] CYBAI commented on #22862
Should we keep this open for the style folder 👀?

[2019-05-28 13:08] #23408 closed

[2019-05-28 16:10] jdm opened #23470 "Intermittent failure in /css/css-transitions/no-transition-from-ua-to-blocking-stylesheet.html"

[2019-05-28 23:44] #23458 closed

[2019-05-29 02:00] ffwff commented on #21810
Can I work on email value sanitization?

[2019-05-29 02:08] CYBAI commented on #21810
@ffwff Go ahead! :)

[2019-05-29 08:17] sreeise commented on #23332
@jdm Hey, so I started on this in the [commit here](https://github.com/sreeise/servo/commit/1c922e7589aa600f0990c4246f052d863c51e761), but it doesn't compile yet so I didn't bother to make a pr.

The main issue currently is where the Exposed annotation could either be a list or it could be a string. When a match is found, in Guard.rs, and the ` is_exposed_in` method is called it expects a single g

[2019-05-29 10:26] paulrouget opened #23473 "Windows + Angle EGL: GetProcessAddress returns null"
For libsimpleservo, we have 2 ways of retrieving the egl context:

We use the StaticStructGenerator or StructGenerator:

- https://github.com/servo/servo/blob/master/ports/libsimpleservo/api/build.rs#L18-L27

And then use GetProcAddress (in 2 different ways) to load EGL:

- https://github.com/servo/servo/blob/master/ports/libsimpleservo/api/src/gl_glue.rs#L38-L75 (see also build.rs)

I've tried bo

[2019-05-29 10:47] paulrouget commented on #23473
My fault. Was not logging things properly.

Ignore :)

[2019-05-29 10:47] #23473 closed

[2019-05-29 12:16] zaynkorai opened #23474 "unresolved import `webrender_api::DevicePixel`"
Trying to build Servo on Ubuntu(Debian)
./mach build --dev

facing following issue

```error[E0432]: unresolved import `webrender_api::DevicePixel`
  --> components/style_traits/lib.rs:37:9
   |
37 | pub use webrender_api::DevicePixel;
   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^ no `DevicePixel` in the root```

[code]

[2019-05-29 12:55] kleinph commented on #23057
I am interested in this one and looked already into it, but I I may need some guiding if this is possible.
The first issue I am facing is how can I use `PermissionStatusBinding::PermissionState` in _ports/glutin/browser.rs_

[2019-05-29 13:30] jdm commented on #23474
Did you change the version of webrender that is use by servo?

[2019-05-29 14:06] jdm commented on #23332
The Globals type is actually a bitset. I recommend using the following code as a model: https://github.com/servo/servo/blob/8dc7a25893cbe9a2c958966618d28757201899b6/components/script/dom/bindings/codegen/CodegenRust.py#L2581-L2583 .

[2019-05-29 14:08] jdm commented on #23332
More specifically, returning `Condition::Exposed(%s)` with the Globals bitset value from `MemberCondition` seems like the right choice to me.

[2019-05-29 14:08] jdm commented on #23332
You can see the documentation for the Globals type at https://doc.servo.org/script/dom/bindings/codegen/InterfaceObjectMap/struct.Globals.html if that helps.

[2019-05-29 14:23] jdm commented on #23057
@kleinph You will need to define an equivalent enum in embedder_traits, which is available to both script and ports/glutin.

[2019-05-29 14:42] kleinph commented on #23057
OK, I will try that @jdm . Thanks!

[2019-05-29 14:51] asajeffrey commented on #21838
This causes problems for some webVR/XR implementations too. Since we don't double buffer canvas textures, we end up having to do an extra blit on devices like ML1, where the rendering happens on the main thread, and the WebGL thread can't block on the main thread (since the main thread blocks on the WebGL thread, c.f. https://github.com/servo/servo/issues/22914). This extra blit would be avoided i

[2019-05-29 19:03] jdm commented on #23466
New plan, given the issues in servo/rust-azure#300: I'm doing enough work for #23451 to allow removing Azure entirely from the build by enabling a Cargo feature when building Servo. This will allow us to quickly make progress in our UWP builds without having to wait for the complete canvas reimplementation to occur.

[2019-05-29 19:26] pag4k commented on #21254
Hello! This sounds like a perfect first issue for me. I some Rust experience, but I never contributed to such a project.

If it is possible, then: @highfive: assign me :-)

[2019-05-29 19:26] highfive commented on #21254
Hey @pag4k! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-29 21:25] zcorpan commented on #10487
Test
`html/rendering/widgets/button-layout/anonymous-button-content-box.html`
in
https://github.com/web-platform-tests/wpt/pull/14824

[2019-05-30 05:20] zaynkorai commented on #23474
nope I haven't touched anything. just following official documentation

[2019-05-30 05:29] gterzian commented on #22530
I looked into this with https://github.com/servo/servo/pull/23369

It appears that trying to do anything with a `Rc<RefCell<VecDequeue>>` is pretty much as slow as using a channel with the sending and receiving happening in the same thread.

The only that is faster is using a `VecDequeue` without the rc/refcell, and I haven't found a way to not use those as part of task-enqueuing.

[2019-05-30 05:45] gterzian opened #23479 "History traversal - improve spec compliance"
@asajeffrey @cbrewster

Related: https://github.com/servo/servo/issues/10994

I happened to be looking into setting the [request-history-navigation-flag](https://fetch.spec.whatwg.org/#concept-request-history-navigation-flag) as part of https://github.com/servo/servo/pull/23368, and ended-up looking once more into the structure of the current implementation history traversal algorithm.

It appears

[2019-05-30 06:09] gterzian commented on #23479
Also related is the concept of the [session-history-traversal-queue](https://html.spec.whatwg.org/multipage/history.html#session-history-traversal-queue) and the [session-history-event-loop](https://html.spec.whatwg.org/multipage/history.html#session-history-event-loop)

So since it's "in-parallel", one could say the constellation is a good place to do it, and in some way the current implementatio

[2019-05-30 07:01] gterzian opened #23481 "Implement History and Reload navigation flags"
HTML Spec:
1. https://html.spec.whatwg.org/multipage/browsing-the-web.html#history-navigation-flag
2. https://html.spec.whatwg.org/multipage/browsing-the-web.html#reload-triggered-navigation

Fetch:
1. https://fetch.spec.whatwg.org/#concept-request-history-navigation-flag
2. https://fetch.spec.whatwg.org/#concept-request-reload-navigation-flag

Implementation as a enum with a third "ordinary" vari

[2019-05-30 08:58] zaynkorai commented on #23474
nope I haven't touched anything. just following official documentation
resolved that issue in my case, just updated the gcc version.
But now while at the end of compilation
[code]

### its failing with following error

```error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" ```

[2019-05-30 10:38] #23336 closed

[2019-05-30 12:21] jdm commented on #23474
Can you [gist](https://gist.github.com/) the full output?

[2019-05-30 13:52] asajeffrey commented on #23479
Yeah, the current implementation is spread out a lot, and involves more back-and-forth between script and the constellation. Some of this is inevitable, as there are four threads involved: the constellation, the script thread that performed the navigation, the script thread being navigated away from, and the script thread being navigated to. Not to mention that the page being navigated to might ha

[2019-05-30 15:50] cbrewster commented on #23479
I would also like to add that its really difficult to know what to do in a script thread when a history traversal is requested because history traversal always operates on the joint session history. A single script thread cannot really reason about the joint session history as that may require knowing info from other script threads. Naturally the constellation is a place that has all the info that

[2019-05-30 17:21] jdm commented on #23348
Aha, https://gstreamer.freedesktop.org/documentation/application-development/appendix/integration.html?gi-language=c#building-gstreamer-under-win32 explains that GStreamer expects some tools to already be installed for building like libiconv. I see that the gstreamer installation on the old windows machine we were using for nightly builds contains libicon-2.dll; my suspicion is that we ended up wi

[2019-05-30 17:35] oneturkmen commented on #22854
@highfive: assign me

[2019-05-30 17:35] highfive commented on #22854
Hey @oneturkmen! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-05-30 20:35] jdm commented on #23467
This should be addressed by https://github.com/servo/rust-offscreen-rendering-context/pull/136.

[2019-05-31 05:18] gterzian commented on #23479
@cbrewster

Yes and that is the role of what the spec refers to as the [session-history-event-loop](https://html.spec.whatwg.org/multipage/history.html#session-history-event-loop), which is supposed to run "in-parallel" of the script-event-loop.

So I would say running what is the equivalent of this "session-history-event-loop" in the constellation not only makes sense from your experience in impl

[2019-05-31 07:22] zaynkorai commented on #23474
here is [gist](https://gist.github.com/zaynkorai/f225ef23bbf14eb24757f157cbdda6d5#file-servo-logs-output) output

[2019-05-31 07:30] CYBAI commented on #23474
Looks like this is related to #21970.

Could you check the workaround from https://github.com/servo/servo/issues/21970#issuecomment-493589603 or https://github.com/servo/servo/issues/21970#issuecomment-467798721 ?

Btw, due to duplicate with #21970 , let's close this one and track issue there.

Thanks for reporting issue! :)

[2019-05-31 07:30] #23474 closed

[2019-05-31 11:23] zaynkorai commented on #21970
I have followed all the steps here, but didn't got any success, here is gist of my [logs](https://github.com/servo/servo/issues/23474#event-2380171595)

[2019-05-31 11:58] georgeroman commented on #22619
Good news! Once we update `web-platform-tests` to include [this commit](https://github.com/web-platform-tests/wpt/commit/81902b3fc85f89baf1c4473454695680991cf72d), this issue will be fixed!

[2019-05-31 12:31] jdm commented on #21970
@zaynkorai Have you run `./mach bootstrap-gstreamer`?

[2019-05-31 13:00] zaynkorai commented on #21970
yes here is output every time, even after removing repository completing and cloning again didn't helped.
```gstreamer is already set up```

[2019-05-31 13:57] jdm commented on #23189
This merged in #23457.

[2019-05-31 13:57] #23189 closed

[2019-05-31 13:58] jdm opened #23489 "Windows builds are unresponsive after starting"
I suspect this was introduced in #23457, since the window changes sizes frequently and contains large black areas.

[2019-05-31 15:04] Manishearth commented on #21970
Delete support/Linux/gstreamer/gst and try again, you may just have an old
gstreamer copy locally

On Fri, May 31, 2019, 6:00 AM Zayn-ul-Abdin <notifications@github.com>
wrote:

[2019-05-31 18:10] jdm commented on #23489
Confirmed. This regressed in #23457, based on running local builds made before and after that change.

[2019-05-31 19:07] jdm commented on #23489
I made a build with 0.20 and it worked, so that at least narrows the range.

[2019-05-31 19:12] jdm commented on #23489
Filed https://github.com/rust-windowing/glutin/issues/1163.

[2019-05-31 20:07] jdm commented on #23489
@paulrouget Is there any chance this is triggered by the implementation in https://github.com/servo/servo/blob/master/ports/glutin/context.rs rather than the changes in https://github.com/rust-windowing/glutin/commit/90f0ef412bb95778570c02b358b271accd7376f5?

[2019-05-31 20:51] oneturkmen commented on #22854
@jdm just fyi, there is no `opts::get()` (neither `headless`) in the `bluetooth` module. Working on `compositing` now.

[2019-05-31 22:01] gootorov commented on #22854
@jdm, @oneturkmen, looks like it got removed in https://github.com/servo/servo/commit/9b3d76b82d9a4365538a1f01d71ca77925c5f768.

[2019-06-01 03:22] jdm opened #23492 "Make prepare_for_composite return void"
It's declared to return bool, but all implementations return true. This means that the code that checks whether it returns false in compositor.rs is unused.

Code: `components/compositing/compositor.rs`, `components/compositing/windowing.rs`, `ports/glutin/headed_window.rs`, `ports/glutin/headless_window.rs`, `ports/libsimpleservo/api/src/lib.rs`

[2019-06-01 03:22] highfive commented on #23492
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-06-01 03:47] oneturkmen commented on #22854
@jdm, wanted to ask for an advice. I am done with `compositing` - should I continue with the rest of the components and commit under a single PR, or rather have PR per component?

[2019-06-01 05:05] oneturkmen commented on #23492
@highfive: assign me

[2019-06-01 05:05] highfive commented on #23492
Hey @oneturkmen! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-06-01 05:06] oneturkmen commented on #23492
@jdm, will start on this in a few days, right after #22854 (WIP).

[2019-06-01 11:47] gterzian opened #23495 "Improve HTTP Cache"
I think there is a bunch of stuff that can be improved on in the HTTP cache, although it requires some looking into.

A good template to see what we can improve can be found at https://developer.mozilla.org/en-US/docs/Mozilla/HTTP_cache

Surprisingly, our current implementation is actually pretty decent, since we already also a form of concurrent read/write(unlike what is referred to as "version 1

[2019-06-01 12:17] jdm commented on #22854
One PR each would be fine.

[2019-06-01 17:04] oneturkmen commented on #22854
@jdm take a look at PR #23493 and let me know what you think.

[2019-06-01 18:15] jdm opened #23496 "WPT nightly sync is broken with latest WPT update"
[code]

[2019-06-01 18:15] highfive commented on #23496
cc @wafflespeanut

[2019-06-01 18:18] jdm commented on #23489
https://github.com/rust-windowing/glutin/issues/1163#issuecomment-497909573 points out that our code that calls window.set_inner_size in response to the Resize event is wrong. When I fix that the flickering resizing window goes away, but Servo remains unresponsive. This is caused by the Resize window event that Servo enqueues causes a synchronous repaint to occur, except no composite is scheduled

[2019-06-02 06:56] gterzian commented on #23057
An example of sending a message from script/DOM to the embedder is found at https://github.com/servo/servo/blob/9d9fff3b0ad843286875051e6544b3d4750d6238/components/script/dom/windowproxy.rs#L264

[2019-06-02 13:36] #23331 closed

[2019-06-02 16:24] pag4k commented on #21254
Hello!
I have a two small questions about this part of the specification: `If there are HTTP redirects or equivalent when fetching the resource, and if the timing allow check algorithm passes, this attribute MUST return the same value as redirectStart.  Otherwise, this attribute MUST return the same value as fetchStart.`

1. Would it be fine to first set startTime to fetchStart when the latter is

[2019-06-02 16:29] jdm commented on #21254
1. Yes, that sounds fine.
2. No, that's #21270.

[2019-06-02 16:29] jdm commented on #21270
Are you still working on this @tdelacour?

[2019-06-02 16:39] gootorov commented on #22854
There is more code code that can be removed that uses `opts::get()` in `ports/glutin`. The initialization points are in `ports/glutin/app.rs` and `ports/glutin/main2.rs`.

[2019-06-02 16:43] tdelacour commented on #21270
@jdm sorry, I've had a busy couple of weeks and have been squatting on this one! Hoping to get some time after the end of this week, but maybe un-assign me for now & I'll pick it up again in a bit if it's still available?

[2019-06-02 17:26] jdm commented on #22854
I am unconcerned about the code in ports/, since those are application crates and there is not code that can pass the options to it.

[2019-06-02 17:43] pag4k commented on #21254
More questions!
This time about [performanceresourcetiming.rs](https://github.com/servo/servo/blob/master/components/script/dom/performanceresourcetiming.rs).
Two things that are probably related:
1. I'm not too sure how to deal with start_time in `new_inherited()`. Should it also be set to the fetch_start that is passed in argument? In a previous version of the [file](https://github.com/servo/ser

[2019-06-02 18:05] pag4k commented on #21254
Well, I think I can answer my first question: `new_inherited()` is only used by [PerformanceNavigationTiming](https://github.com/servo/servo/blob/master/components/script/dom/performancenavigationtiming.rs) and [its specifications](https://w3c.github.io/navigation-timing/#performanceentry) says that `startTime attribute MUST return a DOMHighResTimeStamp with a time value of 0.` So based on that, s

[2019-06-02 18:18] mmiecz commented on #23440
I've been looking into this task for some time, and I am not really sure how to call `Windows` `send_to_embedder` method from `textinput.rs`.
Are there any similar use-cases where I can look and see how I should approach this?

[2019-06-02 18:36] jdm commented on #23440
@mmiecz The implementation of `send_to_embedder` sends a `ScriptMsg::ForwardToEmbedder` message to the constellation. The current implementation of the clipboard provider uses a channel to the constellation, so you should be able to send the ForwardToEmbedder message directly in clipboard_provider.rs instead.

[2019-06-02 21:36] #23257 closed

[2019-06-03 02:50] jdm commented on #23436
#23381 has merged, so this can be worked on now.

[2019-06-03 02:50] #23450 closed

[2019-06-03 02:51] jdm commented on #23421
Haven't seen this in a while now.

[2019-06-03 02:51] #23421 closed

[2019-06-03 02:52] jdm commented on #23409
Haven't seen this in a while.

[2019-06-03 02:52] #23409 closed

[2019-06-03 02:53] jdm commented on #23378
This was implemented.

[2019-06-03 02:53] #23378 closed

[2019-06-03 02:53] jdm commented on #23366
This was fixed.

[2019-06-03 02:53] #23366 closed

[2019-06-03 02:54] jdm commented on #23320
All nightly jobs are chugging along now.

[2019-06-03 02:54] #23320 closed

[2019-06-03 03:07] jdm commented on #23496
This should be fixed by https://github.com/web-platform-tests/wpt/pull/17128.

[2019-06-03 03:11] jdm commented on #23432
I was unaware that 10.12's life was nearly over, and I am inclined to agree. I have upgraded my environment to 10.14.

[2019-06-03 03:11] #23432 closed

[2019-06-03 03:34] gterzian commented on #23495
Ok so I made a start at https://github.com/servo/servo/pull/23494 to fix the easier and most obvious problems, and also added some comments in the code re what is left TODO:

- [ ] Complete partial content [when it is stored](https://github.com/servo/servo/pull/23494/files#diff-e980a3e3bf7e4cb8a8d3dda60ce7a408R845). See "A cache MAY complete a stored incomplete response by making a subsequent rang

[2019-06-03 03:34] gterzian commented on #23495
Finally, on a broader note, the current Fetch implementation, or at least large parts of it found in [http_loader.rs](https://github.com/servo/servo/blob/886c2fad9217e87b4a67410e194fdf063af9332d/components/net/http_loader.rs), basically read like massive imperative algorithms. That reads nicely along with [the spec](https://fetch.spec.whatwg.org/#http-network-or-cache-fetch), but in order to suppo

[2019-06-03 04:42] #23329 closed

[2019-06-03 04:45] gterzian commented on #23495
One more thing, just stumbled upon the discussion at whatwg/fetch#904 about keying the cache entries not just by url but also origin of the request.

In some ways this could be also an easy way to get a kind of better concurrent read/write flow in case of fetch being aborted. The reasoning would be: if cached resources a kept separate per page origin, you're unlikely to end-up with lots of concurr

[2019-06-03 04:52] gterzian commented on #19302
FYI there seems to be a huge amount of discussions over at https://github.com/whatwg/fetch/search?q=service+worker&type=Issues with regards to how Service Workers integrate with fetch and the http-cache. Related: https://github.com/servo/servo/issues/23495

[2019-06-03 06:03] jdm commented on #23298
This was fixed in rust-webvr.

[2019-06-03 06:03] #23298 closed

[2019-06-03 13:16] jdm commented on #21977
This was fixed.

[2019-06-03 13:16] #21977 closed

[2019-06-03 17:42] jdm commented on #23466
Fixed by removing all trace of skia when building with `--features raqote_backend`.

[2019-06-03 17:42] #23466 closed

[2019-06-03 19:37] jdm opened #23620 "[hololens] Linker input includes "simpleservo.dll.lib" which isn't generated by Servo build"
I'm trying a build with `--target x86_64-uwp-windows-msvc --libsimpleservo` and I've adjusted the VS project paths appropriately. There's a simpleservo.dll in my target directory, but no lib file. Am I missing something?

[2019-06-03 22:00] jdm opened #23619 "[hololens] ServoApp_TemporaryKey.pfx can't be used"
When trying to create an app package from this project, I get this error: "Cannot import the key file 'ServoApp_TemporaryKey.pfx'. The key file may be password protected. To correct this, try to import the certifiacte manually into the current user's personal certificate store."

[2019-06-04 00:36] #23348 closed

[2019-06-04 02:06] oneturkmen commented on #22854
@jdm changes in `compositing` have been merged (thank you for the help!). Changes to `constellation` are out as well (#23506). Proceeding with the `layout` and `layout_thread` components.

[2019-06-04 02:33] bkdwt commented on #23348
Same problem here with last nightly on Windows 10.

![servo error](https://user-images.githubusercontent.com/51302074/58847081-00ca1b00-8658-11e9-8571-cce65c6d3145.PNG)

[2019-06-04 03:38] CYBAI commented on #23496
web-platform-tests/wpt#17138 merged 👀

[2019-06-04 04:00] oneturkmen commented on #22854
Btw, `servo/lib.rs` does not seem to depend on `layout` ... or does it? (i.e. I see no way of replacing `opts::get()` via `servo/lib.rs`).

[2019-06-04 10:52] Half-Shot opened #23508 "Riot login page has been eaten by the background"
https://riot.im/app shows the login screen being eaten by some blurs. Looks like some dodgy CSS.

Servo:
![image](https://user-images.githubusercontent.com/2072976/58873779-fdb64580-86be-11e9-8d56-e4609daad505.png)

[2019-06-04 13:22] jdm commented on #22854
We can get options to that code transitively through the layout threads, which are created in components/constellation by the pipeline code.

[2019-06-04 14:32] #22972 closed

[2019-06-04 15:07] jdm opened #23510 "Upgrade webrender"
WIP branch that encounters errors in layout:
https://github.com/servo/servo/compare/master...jdm:wrup

Two particular commits that are making this upgrade difficult:
https://github.com/servo/webrender/commit/717b1a272e8425d3952cc19f6d182b9087495c32
https://github.com/servo/webrender/commit/d33e637ba992afd8e5fe5bef4a8b9b74e941a8bd

The errors are coming from the code in layout/display_list/; our di

[2019-06-04 15:10] pcwalton commented on #23510
@Gankro Perhaps you could point us in the right direction here?

[2019-06-04 15:17] jdm opened #23511 "Intermittent error in /workers/Worker-nested-importScripts-error.html"
[code]

[2019-06-04 15:38] jdm commented on #23510
Relevant errors:
[code]

[2019-06-04 16:07] Gankro commented on #23510
Not entirely sure what the issue is here, but you can always dummy initialize a lot of things like SpatialIds/ClipIds and do a fixup pass afterwards. For instance, `SpatialId::root_scroll_node(PipelineId::dummy())`, `ClipId::root(PipelineId::dummy())`.

(`ClipId::invalid()` is a thing I want to kill so i am not advising using that)

https://searchfox.org/mozilla-central/source/gfx/wr/webrender_api

[2019-06-04 17:19] pcwalton commented on #23510
@Gankro Thanks, that's helpful!

[2019-06-04 19:48] asajeffrey commented on #23479
Hmm, I think the reason why there's a disconnect between what Servo does and the spec is that there's some tasks that the spec says should be performed on the event loop of the active document of the specified browsing context but which Servo needs to be handled by the constellation.

For example, step 5.3 of https://html.spec.whatwg.org/multipage/history.html#traverse-the-history-by-a-delta is "T

[2019-06-04 21:02] #23489 closed

[2019-06-04 22:02] gatoWololo commented on #23286
Hello! I'm currently looking at fixing this issue.

I think I have a sense of what's happening. The problem is:
[code]
As the comment helpfully points out, this is a getter that initializes `rare_data` via `ensure_rare_data()`:
[code]
Where if the data is not there, we just init with `default()`. I'm curious what the motivation behind lazy initialization is?

Looking at `NodeRareData`:
[code]
Defa

[2019-06-04 22:09] jdm commented on #23286
`ensure_rare_data` returns a Box value, which is an unconditional allocation (unlike an empty Vec, for example). The goal here is to add a new `registered_mutation_observers` variant that returns an Option and does not initialize the rare data if it does not already exist, and update callers of `registered_mutation_observers` that do not mutate the result to use this new method instead.

[2019-06-04 22:11] gatoWololo commented on #23286
I see, thanks. I'll try working on this then.

[2019-06-04 22:25] gatoWololo opened #23513 "`./mach check` errors while `./mach build --dev` builds."
I currently have a successfully building Servo with `./mach build --dev`:
[code]

But `./mach check` fails:
[code]

Not sure if I'm doing something wrong?

I'm running:
[code]

[2019-06-04 22:47] jdm opened #23514 "Add panic catching to C API"

[2019-06-04 23:05] jdm commented on #23513
Bleah, that's a regression from #23451. You can work around with with `./mach check --features raqote`.

[2019-06-05 02:26] oneturkmen commented on #22359
hey @ferjm, I want to take this is my first "less-easy" task :) thanks for the [thorough description](https://github.com/servo/servo/issues/22359#issuecomment-445038353). I shall be back if I have any questions.

[2019-06-05 03:57] jdm commented on #21480
We hit this in /css/cssom-view/elementsFromPoint-iframes.html.

[2019-06-05 05:20] gterzian commented on #23479
Yes, and  what I'm thinking of is to move the "center of gravity" of our implementation of the algorithm to a script-thread via a task queued using the "history-traversal-task-source", and message the constellation from that script-thread when necessary.

The main reason would be that I think it would matter less to have the constellation running and handling other messages while the "history trav

[2019-06-05 07:55] annevk commented on #23479
@asajeffrey there's https://github.com/whatwg/html/pull/4664 and there are some more plans to enable `Cross-Origin-Opener-Policy` and friends, but not sure on timeline.

[2019-06-05 13:55] asajeffrey commented on #23479
@annevk okay, sounds like it's stable enough for us to redo the current implementation, thanks!

[2019-06-05 14:01] annevk commented on #23479
Yeah, though please have a look through the open issues around navigation and history so you don't do wasted work.

[2019-06-05 14:01] asajeffrey commented on #23479
@gterzian yes, that sounds right. We could at least make the implementation follow the latest spec a bit more. The main thing to look out for is deadlock: https://github.com/servo/servo/blob/ced2668c6c4172069ba4789b805137d7c1375ce3/components/constellation/constellation.rs#L64-L90

We can have script block on the constellation but not the other way round.

[2019-06-05 14:06] asajeffrey commented on #17301
We now at least have documentation: https://github.com/servo/servo/blob/ced2668c6c4172069ba4789b805137d7c1375ce3/components/constellation/constellation.rs#L64-L90

[2019-06-05 14:06] #17301 closed

[2019-06-05 15:32] #23492 closed

[2019-06-05 16:30] jdm opened #23519 "macOS nightlies can't play media (no such element factory "appsrc")"
STR: visit http://dragonites.glitch.me/ in a nightly build

[code]

[2019-06-05 17:06] oneturkmen commented on #22854
@jdm, I am a bit confused by components/metrics. So, there is one (non-pub) function which uses opts::get, namely `set_metrics`. It is used by PaintTimeMetrics and InteractiveMetrics type implementations, which are used in components/layout_threads and components/dom, respectively. Should I leave opts::get() in case of PaintTimeMetrics for later? (after modifying the rest of crates)

[2019-06-05 17:07] jdm commented on #22854
Sure, that sounds reasonable.

[2019-06-05 18:27] georgeroman commented on #22619
This can be closed now!

[2019-06-05 18:55] #22619 closed

[2019-06-05 20:34] oneturkmen commented on #22854
hey @jdm, I am currently on component/net. So, to get rid of opts::get(), I added `certificate_path: Option<String>` field in `ResourceChannelManager`. I seem to have the following compilation error:

[code]

And the code where it is used:
[code]

I understand the error (transfer of ownership), but I am not sure how to solve it. I suspect it has to do something with `.as_ref()` or `.as_mut()`...

[2019-06-05 21:11] jdm commented on #22854
If there are multiple consumers of a non-copyable value that need to store it, the first one can use `clone()` to duplicate the vlaue. Otherwise if it's only being used inside a method but not stored, the method can accept an `Option<&str>` and it can be passed with `optional_string.as_ref().map(|s| &**s)`.

[2019-06-06 04:34] oneturkmen commented on #22359
hey @ferjm , I am currently working on some other tasks on servo and I feel like I gotta more through the rust book to fully understand what's going on. Could you un-assign me for now (since there may be someone interested meanwhile)? If I am done soon and there is no one on this issue, I will come back :100:

[2019-06-06 07:30] gterzian opened #23522 "Implement various checks on the Location setters"
Spec: https://html.spec.whatwg.org/multipage/history.html#location

See all attributes that say "Can be set, to navigate to the given URL.".

Code: See all the `Set_` methods at https://github.com/servo/servo/blob/7a5ce048d2e6740c91187c12abebce132f90bfaa/components/script/dom/location.rs#L78

As well as `set_url_component` which is used by those methods: https://github.com/servo/servo/blob/7a5ce04

[2019-06-06 08:20] paulrouget commented on #23514
Is it just a matter of adding `panic::catch_unwind` to each calls and report the error if panic?

[2019-06-06 09:22] ferjm commented on #23519
`Missing dependency: playbin` means that `gst-plugins-base` is not installed.

AFAICT we are not deploying GStreamer with Servo's OSX package.

[2019-06-06 09:24] ferjm commented on #22359
@oneturkmen no worries. Feel free to get back to the issue if you find the time to work on it. Thanks!

[2019-06-06 12:01] jdm commented on #23514
Yes. My hope is that it would make it easier to determine the problem when a panic occurs, since when I saw one in HLServo it was completely unclear what was going wrong.

[2019-06-06 14:46] gterzian commented on #20908
As part of that refactoring, we could maybe add a `perform_a_microtask_checkpoint` method to https://github.com/servo/servo/blob/347d8bdf727d6b43ba7f94b744c9115bc6226aff/components/script/dom/abstractworkerglobalscope.rs#L83

[2019-06-06 14:49] jdm commented on #20908
Huh, I wonder if this is related to the surprising behaviour that @KiChjang saw in https://github.com/servo/servo/pull/21456.

[2019-06-06 14:52] jdm commented on #22729
https://trac.ffmpeg.org/wiki/CompilationGuide/WinRT
https://mailman.videolan.org/pipermail/x264-devel/2016-April/011628.html

[2019-06-06 14:55] jdm commented on #22729
The WACK complains about failing the AppContainer and DBCheck checks:
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/windows-app-certification-kit-tests#appcontainercheck
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/windows-app-certification-kit-tests#address-space-layout-randomization

[2019-06-06 14:56] jdm commented on #22729
Running the vcvars batch scripts with a `uwp` argument apparently does something different. We should figure out what that entails and make sure that anything useful is added to the native cc-rs and cmake builds.

[2019-06-06 14:56] jdm commented on #22729
https://stackoverflow.com/questions/40803170/cmake-uwp-using-cmake-to-build-universal-windows-app

[2019-06-06 14:58] jdm commented on #22729
We will need to provide the Code Generation capability to support the spidermonkey JIT: https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations

[2019-06-06 14:59] jdm commented on #22729
https://docs.microsoft.com/en-us/cpp/build/reference/zw-windows-runtime-compilation?view=vs-2019

[2019-06-06 15:06] gterzian commented on #20908
Since the parser calls the microtask checkpoints of globals, and there can be several globals in a script-thread, yes I think it could lead to problems. Also the spec mentions "Each event loop has a microtask queue", so we defenitely only want one per script-thread(and per worker thread).

[2019-06-06 18:21] gatoWololo opened #23526 "Able to build servo on debug mode, but not release."
The command `./mach build` works without a hitch.

I'm trying to build the release version to try running some servo tests faster as per [Running all tests](https://github.com/servo/servo/blob/master/tests/wpt/README.md#running-all-tests)

However running `./mach build -r` errors with:
[code]

It seem the root of the error is `Error: could not load cache` but I'm not sure what this means.

I'm run

[2019-06-06 18:32] jdm commented on #23526
Ok, so cmake is complaining for some reason. Try finding and removing the CMakeCache.txt from target/release/build/script-*?

[2019-06-06 18:42] DutchGhost opened #23527 "Documentation for malloc_size_of contains a tiny typo"
I stumbled upon a verry tiny typo in the docs of malloc_size_of:
https://github.com/servo/servo/blob/master/components/malloc_size_of/lib.rs#L46

`for` should be `fork`.

[2019-06-06 18:59] gatoWololo commented on #23526
I couldn't find a relevant CmakeCache.txt for `target/release/build/script-*`:
[code]

I tried a `./mach clean` followed by `./mach build -r` and it didn't make a difference. I get a same/similar error:
[code]

The two `target/release/build/script-*` dirs look like:
[code]

[2019-06-06 19:14] jdm commented on #23510
#23516 might be enough, we just need to address the test failures now.

[2019-06-06 19:17] jdm commented on #23526
Hmm, what if you remove `components/script/CMakeCache.txt`?

[2019-06-06 19:17] jdm commented on #23526
`-- Build files have been written to: /home/gatowololo/Servo/servo/components/script`
That looks extremely suspicious to me.

[2019-06-06 19:28] mrwonko commented on #23015
I had to `export PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig:/usr/local/lib/pkgconfig/"` to make it work, merely adding the libffi pkgconfig was insufficient…

[2019-06-06 19:37] jdm commented on #23015
Yes. Our readme calls that out, but we should fix #23177.

[2019-06-06 20:13] gatoWololo commented on #23526
Awesome! This worked for me and it is now buidling. I have no idea how CMakeCache.txt ended up there.

Thank you.

[2019-06-06 20:13] #23526 closed

[2019-06-06 21:50] gatoWololo commented on #23202
Cool. I think I understand this. I can do it.

[2019-06-06 22:56] gatoWololo commented on #23202
I have found 2 places where we need to change from `Error::InvalidState` to `Error::Type`. The one you pointed out above. and
https://github.com/servo/servo/blob/1e158bbfaed2bed6c739d14dbd1cd4ba5cacfe82/components/script/dom/bindings/htmlconstructor.rs#L185

The tests are already in Servo [here](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/custom-elements/upgrading/Node-

[2019-06-06 23:38] jdm commented on #23202
Strings are implementation-defined, so that one seems fine.

[2019-06-07 04:26] #23527 closed

[2019-06-07 04:45] gterzian commented on #22879
Somewhat related: https://github.com/servo/servo/issues/23373

And specifically note the timing issues regarding "changes in origin" of a browsing context between when the navigation might have started in script and other time we the check(or adding some data to a pipeline in the constellation) is performed, noted at https://github.com/whatwg/html/issues/2591

[2019-06-07 05:16] gterzian commented on #22879
I think we basically need to implement the [origin](https://html.spec.whatwg.org/#concept-origin) properly, and indeed make it separate from the url.

For example, an iframe with no src is given the `about:blank` url(see https://html.spec.whatwg.org/multipage/iframe-embed-object.html#otherwise-steps-for-iframe-or-frame-elements), but it's origin should be determined like

[2019-06-07 05:50] gterzian commented on #23522
As a bonus you can also return a security error when the spec says to, see for how that is done:

https://github.com/servo/servo/blob/d180f76011a4eedfe3be1776b78c1fd55d7ace52/components/script/dom/location.rs#L61

[2019-06-07 06:15] atouchet opened #23531 "Loading github.com crashes Servo"
Steps to reproduce:

1. Load https://github.com/ in Servo.
2. The browser will crash before loading the page.

Tested with the latest nightly build in Windows 10. I'm not sure when this behaviour started happening.

[2019-06-07 08:18] #23307 closed

[2019-06-07 10:39] gterzian commented on #22512
I think you want to enqueue a task, because it will plug the task into the task-queue mechanism, which takes document activity into account. So if the target window is not fully active anymore, the script-thread handling the constellation message wouldn't be able to do anything. If you enqueue a task, it will be added to the task-queue and executed if the not fully-active document becomes fully-ac

[2019-06-07 16:24] gatoWololo commented on #23328
Hello,

I'm currently looking at this issue. I have reviewed the relevant links in https://github.com/w3c/performance-timeline/issues/128 but it seems that so far there isn't a concrete answer? So I'm not sure exactly what should be done. Just change `false` -> `true`? Or do we need to go through the spec and figure out exactly when the flag should be set?

[2019-06-07 16:28] jdm commented on #23328
Yes, we should go ahead and change the false to true to ensure we get entries when we expect. You can run the tests at tests/wpt/web-platform-tests/resource-timing/ to see if there are any changes to the test results.

[2019-06-07 17:08] gatoWololo commented on #23328
I'm seeing a lot of errors. More than I expected and for more varied that I expected. Thoughts?
[code]

[2019-06-07 17:12] jdm commented on #23328
Hey, great! That means that a bunch of those tests were relying on resource timing entries that we weren't generating, so we were only "passing" them by accident.

[2019-06-07 17:16] jdm commented on #23328
A bunch of these failures look like they're related to our actual implementation of resource timing and cross-origin checks, so it's good that this change exposes the fact that we're missing some checks and properties.

[2019-06-07 17:23] gatoWololo commented on #23328
Ah, I see. So what should the next steps be?

[2019-06-07 17:33] georgeroman opened #23535 "DomRefCell<T> already borrowed: BorrowMutError when handling execution of a script in WebDriver"
When processing an execute script command with `window.open()` as the target script (`curl -v -X POST -d '{"script": "window.open()"}' "http://localhost:7002/session/$SESSIONID/execute/sync"`), the WebDriver server panics with the following error:

`DomRefCell<T> already borrowed: BorrowMutError (thread ScriptThread PipelineId { namespace_id: PipelineNamespaceId(1), index: PipelineIndex(1) }, at s

[2019-06-07 17:54] jdm commented on #23328
Go ahead and update the expected test results (you can use https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations to make it easy) and make a pull request with your changes.

[2019-06-07 18:31] gatoWololo commented on #23328
Should I be updating _all_ the wpt tests. Or only those in `./tests/wpt/web-platform-tests/resource-timing/`?

I tried just doing:
`./mach test --log-raw /tmp/servo_timing.log --release ./tests/wpt/web-platform-tests/resource-timing/` but it errors with `--log-raw is not a valid test path or suite name`

Instead I tried: `/mach test --release ./tests/wpt/web-platform-tests/resource-timing/ --log-r

[2019-06-07 19:53] jdm commented on #23328
You can do `./mach test-wpt --release --log-raw /tmp/servo_timing.log tests/wpt/web-platform-tests/resource-timing/` and that will do what you want.

[2019-06-07 20:30] jdm commented on #22729
The `dirs` crate used by font-config and servo_config calls SHGetKnownFolderPath which is forbidden.

[2019-06-07 21:27] gatoWololo commented on #23376
Hello,

I started looking at this issue. I followed jdm's link to #23057, I see how #20428 and #20429 moved use of tinyfiledialogs to the embedder.

I saw `components/script/dom/permissions.rs` has the functions `permission_request(...)` and `prompt_user(...)`. Is this not the

that this issue refers to? If so, what's the difference and where should it go? Thanks.

[2019-06-07 21:38] jdm commented on #23376
Manish's statement wasn't completely correct. Servo does partially support the DOM Permissions API, but only displays prompts for bluetooth-related permissions checks and only on Linux. We will need to add DOM Permissions API integration into Servo's GetUserMedia implementation, but first we should create the right infrastructure for that by fixing #23057, which is really the issue that I intended

[2019-06-07 21:40] gatoWololo commented on #23376
Cool, I'll look at #23057 then.

[2019-06-07 21:48] gatoWololo commented on #23057
@highfive: assign me

[2019-06-07 21:48] highfive commented on #23057
Hey @gatoWololo! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-06-07 22:50] jdm opened #23537 "OpenSSL binaries from vcpkg break UWP app launch"
I've tracked down my problems launching the UWP app to the changes from #23491. When I add the new OpenSSL DLLs to the solution in https://github.com/paulrouget/HLServo/, the app fails to launch with the error "Activation phase: COM ActivateExtension" and so far I haven't found any relevant solutions online.

[2019-06-07 22:51] jdm commented on #23537
cc @paulrouget

[2019-06-07 23:09] jdm commented on #23537
Nevermind, this was an error on my part. I did not add the new openssl DLLs to the VS project in a way that bundled them correctly. I'll try to make a pull request to the project that rebases against master to address this.

[2019-06-07 23:09] #23537 closed

[2019-06-08 03:36] ghost opened #23538 "Build error in Win7 x64"
Building the servo in Windows, practically impossible following the instructions here. I did everything that was described in the "readme", but even so I could not, the strangest thing is that it requires Python 3, and it was not even on the list of dependencies. I installed Python 3, but I do not know if it was a conflict with Python 2, because it still did not work. I tried removing Python 2 to

[2019-06-08 05:04] jdm commented on #23538
Yes, the python3 requirement is recent and we should update the instructions. If you set the PYTHON3  environment variable to point at the appropriate executable, it should work.

[2019-06-08 06:26] KiChjang commented on #22512
Alternatively, the postMessage implementation on `Window` is ad-hoc and the spec in fact defines that the entire mechanism should really be managed through a `MessagePort` object as a field on `Window`. When we do get to the point where we can use `MessagePort`s, perhaps this issue would become obsolete.

[2019-06-08 07:38] CYBAI opened #23540 "Intermittent TIMEOUT in /webdriver/tests/new_session/response.py"
[code]

[2019-06-08 08:09] SimonSapin commented on #22972
@RazrFalcon Does this new API work for your use case? https://doc.servo.org/selectors/trait.Element.html#tymethod.has_local_name

I can publish to crates.io. Is there anything else to tweak before that?

[2019-06-08 08:27] RazrFalcon commented on #22972
Yep, I've already tested it and it works perfectly. Thanks.

[2019-06-08 11:47] braddunbar commented on #23522
I'd like to work on this!

[2019-06-08 13:02] #23202 closed

[2019-06-08 16:29] CYBAI opened #23542 "Intermittent PASS in /html/browsers/history/the-history-interface/005.html"
[code]

[2019-06-08 17:36] georgeroman commented on #23535
It looks like this only happens when running servo in headless mode.

[2019-06-08 18:32] georgeroman commented on #23535
I did some debugging and I've found this:
[code]
This is where the panic happens:
https://github.com/servo/servo/blob/8f11b52d9a80a51ddf80212817b87efc20bef8d6/components/script/script_thread.rs#L2964-L2966

[2019-06-08 20:57] mari486 commented on #23538
Okay, so how would I do this? Because I put it in the "environment variables" and it did not work.

[2019-06-08 21:56] ocerman commented on #19050
Still happends, it is also broken on Linux.

[2019-06-08 22:00] ocerman commented on #16736
This still happens.

[2019-06-08 22:02] ocerman commented on #18705
This still happens.

[2019-06-08 22:02] ocerman commented on #18707
This still happens

[2019-06-08 22:09] ocerman commented on #22814
Cannot reproduce anymore. Seems like it has been fixed meanwhile.

[2019-06-08 22:09] #22814 closed

[2019-06-09 04:33] gterzian commented on #22512
Related https://github.com/whatwg/html/issues/3691

[2019-06-09 04:45] jdm commented on #23538
Either run `set PYTHON3=path\to\python.exe` from the same terminal as the `mach build`, or add it to your system environment variabes and open a new terminal window to run the build.

[2019-06-09 04:46] jdm commented on #23535
Yes, that does look like the cause.

[2019-06-09 08:49] gterzian commented on #7457
I have a question on the transferring of MessagePort objects, can this cross "agent-cluster" boundaries?

From reading https://html.spec.whatwg.org/multipage/web-messaging.html#ports-as-the-basis-of-an-object-capability-model-on-the-web it seems there is a strong cross-origin use-case, which implies message ports can indeed be transferred across agent-clusters(or I'm still not getting agent-cluste

[2019-06-09 11:34] KiChjang commented on #23513
How does one fix this? Is it a matter of invoking cargo via the python scripts with the right feature flags?

[2019-06-09 12:24] jdm commented on #23513
The answer is to hard code the features flag in the python that invokes `cargo check`.

[2019-06-09 12:33] jdm commented on #7457
Your proposed model matches my previous thoughts when reviewing the WIP pull request. I do think it would be valuable to adapt the current work in that direction.

[2019-06-09 16:22] gterzian commented on #7457
Ok, I'd be interested in giving it a try, re-using all the DOM side of things, and just trying a different take on the queuing.

Lastly, I think a dual design where the constellation is used to "entangle", "ship" and "enable" ports and their queues, but with ports communicating directly via IPC script-to-script once fully up and running, is feasible and probably optimal(we don't want all messages

[2019-06-09 20:41] #22843 closed

[2019-06-09 23:40] mari486 commented on #23538
I was so worried about wanting to work on environment variables that I forgot I could do this, is even more practical. But I could not compile anyway:

[2019-06-09 23:48] jdm commented on #23538
Ah, it looks like your CARGO_HOME exists on your C:\ drive, while your Servo checkout is on your E:\ drive. That isn't supported at the moment, unfortunately, so you will need to set your CARGO_HOME to something like E:\.cargo instead.

[2019-06-10 03:49] gterzian commented on #23522
Thanks, let us know how it goes! @braddunbar

[2019-06-10 05:10] rileylyman commented on #21289
Hi, I would like to take this issue. Let me know if that's okay!

[2019-06-10 06:26] gterzian commented on #7457
Also had a look at the dedicated worker and their ["implicit port"](https://html.spec.whatwg.org/multipage/workers.html#dedicated-workers-and-the-dedicatedworkerglobalscope-interface:messageport).

Since those are implicit, they can't be manipulated directly by a script, and thus can never be "shipped". So I think out current use of "normal" channel should be just fine for now(we could just update

[2019-06-10 07:36] paulrouget opened #23618 "[hololens] Be C++17/WinRT compliant"
I've initially wrote this code based on the VS templates, which appear to be outdated:

[2019-06-10 07:42] mari486 commented on #23538
It was going okay, until at the time of linking, an error occurs. It's funny that every time we can solve one problem, another unexpectedly appears. This file he claims not to find is from gstreamer? Because I installed version 1.12.4, including the development files in "C:\gstreamer\1.0\x86_64\". But the curious thing is that I did not find the file mentioned in this directory.

[2019-06-10 12:22] jdm commented on #21289
Please do!

[2019-06-10 12:23] jdm commented on #23538
You should install 1.16.0 instead, which is the most recent.

[2019-06-10 12:26] jdm commented on #7457
Agreed.

[2019-06-10 13:59] gterzian commented on #7457
(one exception might be `BroadcastChannel`, but even then, a script-thread matching a given origin for the broadcast could simply use the "normal" channel to the dedicated worker to do the broadcast)

[2019-06-10 14:50] mari486 commented on #23538
Yes, I followed exactly what is described in the "readme", so I was afraid not to follow the recipe and put another version. But I was not successful either, because I was able to build, but it does not work.

I was happy to was able to building but received this error:

[2019-06-10 14:51] #23286 closed

[2019-06-10 14:57] jdm commented on #23538
Ah, I see that our instructions say "Install the most recent GStreamer development package" and then link to other instructions which mention 1.12.3. That's unfortunate. How are you running Servo? Is there any change if you use `python mach run --angle`?

[2019-06-10 15:41] mari486 commented on #23538
The command I used to run it was this:

And this command that you gave me, also returns the same error and nothing else.

[2019-06-10 15:42] jdm commented on #23538
Is there any other output from the terminal? Does any window appear at all? This sounds very strange.

[2019-06-10 16:01] mari486 commented on #23538
Before the error appears, a window opens but closes almost instantly. Maybe I should try to build it all up again, to see if anything changes.

[2019-06-10 16:13] jdm commented on #23538
Are you able to run the nightly build from https://download.servo.org/?

[2019-06-10 16:54] mari486 commented on #23538
The precompiled version also has the same behavior, but without any message, or error. in the terminal. Compiling in debug mode, would it be easier to figure out what causes the error?

Is this the command:

[2019-06-10 17:01] jdm commented on #23538
Yes, that might help.

[2019-06-10 18:35] dralley commented on #23531
Works for me, on Linux, commit 4c776f33d407c1

Possibly Windows-specific, or maybe it's been fixed already.

[2019-06-10 19:16] #23535 closed

[2019-06-10 23:46] KiChjang commented on #7457
@gterzian I'm currently in the process of rebasing my PR against master, and I'll expect it to be done tonight (PST), you may want to wait until then so that you have less merge conflicts to fix.

[2019-06-11 04:20] gterzian commented on #7457
@KiChjang Thanks!

[2019-06-11 16:07] chansuke commented on #23436
@jdm Thanks!!

[2019-06-11 16:57] asajeffrey commented on #20355
The first blocker for sketchfab is `navigator.vendor` being undefined. Unfortunately fixing that (#23551) doesn't fix the viewer.

[2019-06-11 21:03] atouchet commented on #23531
I retested this with the 2019-06-11 Windows nightly build and was still able to reproduce the crash.

[2019-06-11 21:08] #23467 closed

[2019-06-12 04:23] pylbrecht commented on #23431
I'm back online and will continue working on this on the upcoming weekend.

[2019-06-12 04:36] mari486 commented on #23538
This is the result of building in debug mode:

[code]

[2019-06-12 04:52] yashpatel5400 commented on #22888
I'd be interested in trying this out!

[2019-06-12 11:12] SimonSapin opened #23554 "Linking the Linux Nightly build fails"
https://tools.taskcluster.net/groups/WGhmDYgdQuWlxkOaqFy2Sg/tasks/U1Pdonl0QD2ODOilfaXYxQ/runs/0/logs/public%2Flogs%2Flive.log

[code]

With less scrolling: `error: undefined reference to 'void sh::TIntermTraverser::traverse<sh::TIntermNode>(sh::TIntermNode*)'` in the rlib for the `mozangle` crate.

This wasn’t caught before merging into master by `./mach build --release --with-debug-assertions -p

[2019-06-12 12:44] jdm commented on #23538
What is the output if you run `mach run --angle tests\html\about-mozilla.html`?

[2019-06-12 14:37] jdm commented on #23554
This looks like a GCC bug. In https://treeherder.allizom.org/#/jobs?repo=servo-try&revision=3c77734905c04d4d6b12436c4fa1671bc70ac4e2 I enforced the use of clang/clang++ for building C++ code and it linked without any problems.

[2019-06-12 14:38] mari486 commented on #23538
With this command, after giving error, it did not finish and I had to give a Ctrl+C.

[code]

[2019-06-12 14:45] jdm commented on #23538
Yikes. Sorry, I have no idea what to do :( What is your graphics card, and do you have the latest drivers installed?

[2019-06-12 14:50] jdm commented on #22729
A bunch of c++ istream/ostream code is present in mozangle and shows up in the WACK forbidden symbols. We might need to make a separate ANGLE crate that wraps https://github.com/Microsoft/angle/ instead for the UWP build.

[2019-06-12 14:52] asajeffrey commented on #23554
Not sure this is GCC's fault, that's a template function, so I don't think the compiler is expected to export a symbol for its uses. https://isocpp.org/wiki/faq/templates#separate-template-fn-defn-from-decl

[2019-06-12 14:58] jdm commented on #22729
One of the gstreamer dependencies in [this list](https://github.com/servo/servo/blob/8e783577d24cac2983fbea1b46d5452ffa5fb44f/python/servo/build_commands.py#L737-L759) is libwinpthreads-1.dll, which the WACK complains about. According to our gstreamer friends:
[code]

[2019-06-12 15:05] jdm commented on #22729
Latest WACK report using the UWP compiler target: https://www.joshmatthews.net/wack.html

[2019-06-12 15:06] jdm commented on #23440
@mmiecz Are you still working on this?

[2019-06-12 15:07] jdm commented on #22729
backtrace-rs relies on dbghelp.dll which appears to be largely forbidden:
[code]

[2019-06-12 15:28] mari486 commented on #23538
My graphics card is a, "NVIDIA GeForce 7025", I'm using the latest drivers, updated with Windows Update. It's not a very recent graphic card or very powerful, but it's the one I can have, even because it is onboard in my motherboard, ASRock N68-S3 FX.

[2019-06-12 15:29] jdm commented on #22729
Old versions of rand (0.4, 0.5) look like they are the cause of:
[code]
0.4 affects hashglobe, servo_rand, tempfile, and ws. 0.5 affects phf_generator, tokio-threadpool, and uuid.

[2019-06-12 16:17] mmiecz commented on #23440
@jdm Yes, I’ve done the sending to embedder, and removing the constellation part, and the clipboard is functional. I am not at home right now, but I will issue a PR soon

[2019-06-12 18:56] jdm opened #23558 "Upgrade servo_rand to newer rand releases"
I tried to upgrade it from rand 0.4 to rand 0.6 and got stuck in the mess of dependencies and versions.
[code]

[2019-06-12 19:18] jdm commented on #22729
mozjs has a static link directive with Dbghelp and uses it in mozjs/mozglue/build/cygprofile.cpp. mozjs/mozglue/misc/StackWalk.cpp also uses imagehelp.dll methods like StackWalk64, which weren't supported in 2016 (https://software.intel.com/en-us/forums/intel-visual-fortran-compiler-for-windows/topic/703260).

[2019-06-12 19:23] jdm commented on #22729
nspr calls a bunch of unsupported methods. Luckily, we can remove it entirely from the spidermonkey build on all platforms: https://github.com/servo/mozjs/pull/185

[2019-06-12 19:34] jdm commented on #22729
All references to linking opengl32.lib need to be removed: https://github.com/paulrouget/winapi-rs/commit/e3aaa6cade3a8c946c4dcf7e128b36fcf89b1350

[2019-06-12 19:39] jdm commented on #22729
The OpenSSL DLLs are responsible for a bunch of forbidden API usage. I'm keeping an eye on https://github.com/microsoft/vcpkg/issues/4267 which should bring up a version that supports UWP (https://github.com/openssl/openssl/pull/8917).

[2019-06-12 19:41] jdm commented on #22729
The forbidden clipboard functions will disappear from the WACK report once #23440 is fixed.

[2019-06-12 19:44] jdm commented on #22729
[code]
These may come from std::chrono ([reference](https://stackoverflow.com/questions/41347313/stdchrono-calls-queryperformancefrequency-repeatedly))? There is usage of that in mozjs in the WASM code.

[2019-06-13 01:59] #23511 closed

[2019-06-13 04:41] #23554 closed

[2019-06-14 01:47] #22402 closed

[2019-06-14 03:31] jdm opened #23566 "Implement "extract mime type" algorithm"
This change never merged in #22767, because it triggered unexpected test failures on Linux that nobody got around to investigating.

[code]

[2019-06-14 04:11] MouriNaruto commented on #22729
I wonder to provide you some interesting infomaton. (The talk between the maintainer from Microsoft/OpenSSL and me.)

For more informaton, please read https://github.com/microsoft/openssl/issues/59

Kenji Mouri

[2019-06-14 04:15] MouriNaruto commented on #22729
Also, I wonder to provide a way to bypass the WACK check.

Here is an example. My friend use it in his UWP and publish to the Microsoft Store.
https://github.com/amamiya/SYEngine/blob/master/SYEngine/SYEngine.Shared/AutoLib.h

Also, I think maybe we can use some undocument way to get the kernel32.dll's HMOUDLE handle. (For example, the PEB stucture.)

Kenji Mouri

[2019-06-14 04:41] jdm commented on #22729
Yes, I have been following all of the openssl issues with great interest. Thank you for continuing to work on that :)

[2019-06-14 05:06] MouriNaruto commented on #22729
This is an new issue which opened by myself for the next step UWP support in OpenSSL.
Some arguments need to solve. (But there are no people reply for them in recent four days.)

https://github.com/openssl/openssl/issues/9125

Kenji Mouri

[2019-06-14 05:45] jdm opened #23567 "Intermittent failure in /webdriver/tests/classic/new_session/invalid_capabilities.py"
cc @georgeroman

[code]

[2019-06-14 06:20] jdm opened #23569 "Underline rendering is broken on linux after webrender upgrade"
text_decoration_underline_subpx_a.html is a test that verifies that some text with an underline renders differently than the same text with no underline. This passes on mac os after #23516, but not on linux.

[2019-06-14 09:08] georgeroman commented on #23567
It seems that [`webdriver-rust`](https://searchfox.org/mozilla-central/source/testing/webdriver/src) sees `{"capabilities": "{}"}` as a valid argument to a `NewSession` command (I checked this [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aceb99a47a817e6cb22cc57b8dc87a19)). It's weird how I didn't get this error when enabling the `new_session` tests. In what contex

[2019-06-14 13:18] jdm commented on #23567
It appeared on a CI job overnight.

[2019-06-14 13:40] jdm commented on #23567
More specifically, one of the test runs for https://github.com/servo/servo/pull/23516.

[2019-06-14 16:57] asajeffrey opened #23573 "Add CI for nightly magicleap immersive demo build"

[2019-06-14 16:58] asajeffrey commented on #22758
Should be fixed by moving from `rust-webvr` to `webxr`.

[2019-06-14 20:58] asajeffrey opened #23577 "Update Servo2D magicleap app UI to take account of LuminOS 0.96"
There are a bunch of UI changes in LuminOS 0.96, which don't interact brilliantly with the Servo2D app.

[2019-06-15 01:34] jdm opened #23578 "Intermittent failure in /css/css-transforms/transform-table-002.html"
[code]

[2019-06-15 07:05] #23354 closed

[2019-06-15 11:16] mateon1 commented on #23531
I can confirm this crash on the latest Windows build.
Servo closes with a segfault when visiting some sites, it doesn't print any backtrace, and `RUST_LOG=DEBUG` is unhelpful.

Tested sites:
github.com - crashes on load
reddit.com - crashes on load
google.com - crashes on search
news.ycombinator.com - does not crash

[code]
(commit 09f9273b2)

[2019-06-15 12:32] mateon1 commented on #23531
Okay, so I just spent most of the hour manually reducing a saved reddit.com page to a smaller testcase, after painfully working through webpack requires, snipping and substituting tons of code, I managed to reduce it to a single JS call...

[code]

The above testcase crashes the current Windows nightly with a segfault.

[2019-06-15 13:26] jdm commented on #23531
I suspect this is a regression from https://github.com/servo/servo/pull/23163.

[2019-06-15 16:50] NilsIrl commented on #23554
I still have this error even though I am using the master branch.

[2019-06-15 16:52] jdm commented on #23554
You will need to build with clang by setting CC=clang and CXX=clang++

[2019-06-15 16:54] NilsIrl commented on #23554
How am I supposed to set them?
using export `CC=clang` and export `CXX=clang++`.
I get the error.

[2019-06-15 18:10] jdm commented on #23554
You might need to run `./mach clean` and rebuild from scratch to see a difference after setting those.

[2019-06-16 12:30] SimonSapin commented on #23554
If gcc is really not supported anymore, maybe mach should be setting those environment variables?

[2019-06-16 20:56] pylbrecht commented on #23431
Unfortunately I could not continue hacking this weekend, because my new router is giving me a hard time denying outgoing ssh connections and I could not figure out why so far (I'm coding remotely on my vps, because building servo melts my Macbook Air). I'm confident I'm gonna win the battle against my provider's cheap hardware in upcoming week though. I'll keep you updated!

[2019-06-17 05:32] gterzian opened #23582 "Http-cache: Fix moz wpt test-suite"
We have a few wpt tests in the mozilla folder that tests some of the internal logic of the cache, and they all seem broken by now. Since we copied across a bunch infra code from the wpt suite, I assume something changed and our version of the cache infra wasn't update, it might not have been such a good idea to copy things across after all.

https://github.com/servo/servo/blob/master/tests/wpt/moz

[2019-06-17 16:48] jdm opened #23617 "[hololens] Automate app package creation"
https://github.com/Microsoft/msbuild/issues/2445 has some information that we should be able to make use of in order to automate building app packages in CI.

[2019-06-18 14:00] ferjm opened #23589 "Implement style loading from `<link>` elements inside shadow trees"
Right now we can only load styles from `<style>` tags inside shadow trees.

[2019-06-18 14:03] ferjm opened #23590 "Implement Shadow DOM slots"
https://w3c.github.io/webcomponents/spec/shadow/#slots

[2019-06-18 14:05] ferjm opened #23591 "Implement Shadow DOM event retargeting"
https://w3c.github.io/webcomponents/spec/shadow/#events

[2019-06-18 14:07] ferjm commented on #9370
This was partially done in  #22743. Follow-up issues for the remaining work are being filed.

[2019-06-18 14:07] #9370 closed

[2019-06-18 17:25] jankeromnes opened #23594 "Failed to create window.: CreationErrors([NoAvailablePixelFormat, OsError("Couldn\'t find any available vsync extension")])"
Hi Servo team! 👋

I'm trying to make a fully-automated Servo dev environment in the cloud using [Gitpod](https://gitpod.io), a bit like what [Janitor](https://janitor.technology) already has.

I've made some progress on a dockerfile in my fork https://github.com/jankeromnes/servo, but I'm failing to run the compiled Servo in `Xvfb`.

FYI, I'm running Xvfb like this (with the extensions recommended

[2019-06-19 00:22] jdm opened #23596 "Various macOS CI machines can't find brewfiles"
[code]
This makes no sense, and has been observed on mac4 and mac7. It's making it impossible to merge anything.

[2019-06-19 04:14] SimonSapin commented on #23596
Has the git repository been cloned correctly in those tasks?

[2019-06-19 07:21] jdm commented on #23596
It appears so from the log:
[code]

[2019-06-19 15:24] jdm commented on #23596
I do not understand what to do, given this output from #23599:
[code]

[2019-06-20 07:24] pylbrecht commented on #23431
Alright, thanks to @jdm's work it looks like I just have to replace all `unimplemented!()` in `components/canvas/raqote_backend.rs` with working code. This will keep me entertained for a while, but just for completeness: is there anything else?

[2019-06-20 07:28] jdm commented on #23431
I think it's that and giving real types to the Raqote variants in the various enums.

[2019-06-20 07:30] pylbrecht commented on #23431
Ah yeah, the enums. Thanks, I missed that!

[2019-06-20 09:18] ferjm commented on #22898
This was fixed in #23279

[2019-06-20 09:18] #22898 closed

[2019-06-20 09:19] ferjm commented on #22363
@collares are you still working on this issue?

[2019-06-21 07:35] grishy opened #23602 "Crash in StyleThread in RoboHornet benchmark"
When trying to pass the robohornet test with standard settings, Servo fell.
![image](https://user-images.githubusercontent.com/13949080/59905853-e6da5780-940f-11e9-9c89-b3a5a28cc8a3.png)

**What happened**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
In my case it happens every time.

**Environment**:
- Servo version:
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
-

[2019-06-21 17:01] ljgww commented on #22581
./servo
renders
Failed to create window.: CreationErrors([OpenGlVersionNotSupported, OsError("GL context creation failed")]) (thread main, at src/libcore/result.rs:999)

(sometimes the window start appearing and then disappears)

----
LIBGL_ALWAYS_SOFTWARE=1 RUST_BACKTRACE=1 ./servo
seem to launch a servo window but as soon as I do try to do something it crashes with the following cryptic result.

[2019-06-21 17:21] jdm commented on #22581
@ljgww What if you run servo in gdb? What does the backtrace from the crash show?

[2019-06-21 17:44] jdm opened #23616 "[hololens] Implement immersive mode"
https://docs.microsoft.com/en-us/windows/mixed-reality/app-model has useful topics including https://docs.microsoft.com/en-us/windows/mixed-reality/app-model#creating-an-immersive-view and https://docs.microsoft.com/en-us/windows/mixed-reality/app-model#switching-from-the-2d-xaml-view-to-the-immersive-view.

[2019-06-21 18:09] jdm opened #23615 "[Hololens] Support launching with specific URLs"
https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh452686(v=win.10)

[2019-06-21 18:12] ljgww commented on #22581
@jdm can you send me clear instructions how to run it with gdb (preferred command line)
I will try to reproduce the crash. Give me some time.

[2019-06-21 18:13] jdm opened #23614 "[Hololens] Webrender sometimes panics when closing app"
When destroying the SERVO thread local, we drop the WebRender GL device without calling deinit first via the usual Servo shutdown sequence.

[2019-06-21 22:52] jdm commented on #23496
This was fixed.

[2019-06-21 22:52] #23496 closed

[2019-06-21 22:53] jdm opened #23603 "WPT sync job does not run if no new merges occurred since last run"
The RustNightly job runs regardless, so we should set up the WPT sync job to act the same.

[2019-06-21 22:54] jdm opened #23604 "Intermittent failure in /webdriver/tests/set_window_rect/set.py"
[code]

[2019-06-21 23:12] jdm commented on #22581
`LIBGL_ALWAYS_SOFTWARE=1 ./mach run -d --debug` should drop you into a gdb shell, and then `run` will start servo, and `backtrace` after the crash occurs will show a backtrace.

[2019-06-21 23:44] jdm opened #23606 "Crash on Windows loading github.com"
There's a crash when creating the JS bindings for CSSStyleDeclaration when we try to define  the `ArrayValues` iterator symbol property. I have observed this in the https://github.com/paulrouget/HLServo/ application; haven't tried on a nightly build or standalone desktop.

[2019-06-21 23:45] jdm commented on #23606
I probably need a debug-mozjs build to really debug this.

[2019-06-21 23:47] jdm commented on #23606
Almost certainly a duplicate of #23531.

[2019-06-21 23:50] jdm commented on #23531
I can reproduce a crash in the nightly build, but it takes a surprising amount of time to manifest.

[2019-06-23 02:02] saschanaz opened #23607 "Support Python 3"
We'll probably want to migrate to Python 3 because Python 2 will die next year.

[2019-06-23 02:11] saschanaz opened #23608 "Force LF on .gitattributes"
A local clone on Windows by default gets CRLF, which makes hard to build it on WSL. Can we add `* text=auto eol=lf` to use LF consistently? (Or perhaps `* -text`?)

[2019-06-23 12:20] sreeise commented on #22366
@highfive assign me

[2019-06-23 12:20] highfive commented on #22366
Hey @sreeise! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-06-23 12:25] sreeise commented on #22366
@ferjm I can gladly work on this. I am wondering whether you want this to be relatively close to the Gecko implementation?

[2019-06-23 15:22] chansuke commented on #23436
@jdm Hi, I've removed the wrapper in CanvasState struct(to `state: CanvasContextState`) at first and updating like below
`let transform = self.state.borrow().transform;` ⇒ `let transform = self.state.transform;`
but I'm stucking with this line(L:1467),
`*self.canvas_state.borrow().state.borrow_mut() = CanvasContextState::new();`.
Could you give me a suggestion to how to handle this? Thanks.

[2019-06-23 23:49] jdm commented on #23436
`self.canvas_state.borrow_mut().state = CanvasContextState::new()` should do what you want.

[2019-06-23 23:50] jdm commented on #23608
That sounds like a useful improvement to me. We should do that for https://github.com/servo/mozjs as well.

[2019-06-24 05:10] atouchet commented on #23596
Was this fixed?

[2019-06-24 08:00] paulrouget opened #23612 "[Hololens] Recent EGL issues"
/cc @jdm

2 issues:
- I think mozangle now links or make the wrong version of libegl available (https://github.com/servo/mozangle/commit/45ee552b3efd81eaf05ad79fa3fe1146bed23e15)
- after reverting above commit, servo tries to link with EGL.lib (not sure from where) while MS Angle provides libEGL.lib (notice the `lib` prefix). That was not a problem before (I had to locally copy libEGL.lib to EGL.l

[2019-06-24 08:06] ferjm commented on #22366
Thanks @sreeise! You can certainly look at other browser's implementations (I added links to Gecko's and Blink's ones [here](https://github.com/servo/media/issues/156)) for inspiration or guidance, but Servo's implementation does not necesarily need to be close to them. I haven't read the spec in detail and I haven't really put much thought into this yet, so I am afraid that I don't have any desig

[2019-06-24 08:16] paulrouget opened #23621 "Hololens repo migration (please delete servo/HLServo)"
Hololens work is, for now, happening under Servo's `hl` branch. This includes the servo changes and the Hololens app (under `/support/`).

The project `paulrouget/HLServo` has been moved under `servo/HLServo` to make the issue migration possible. The issues have been migrated, and now the repo `servo/HLServo` is useless.

Please someone delete the project.

[2019-06-24 08:21] paulrouget commented on #23619
I believe the key is necessary for release builds. I removed the password. Hopefully it works for others now.

[2019-06-24 12:07] saschanaz opened #23622 "Add f64 version of transform.to_transform_3d_matrix"
DOMMatrix on Firefox 69 now uses `double`, but when parsing CSS through `new DOMMatrix("matrix(...)")` it depends on `transform.to_transform_3d_matrix()` and then loses precision. (And thus failing relevant WPT tests.)

https://github.com/mozilla/gecko-dev/blob/da14c413ef663eb1ba246799e94a240f81c42488/dom/base/DOMMatrix.cpp#L778

https://github.com/mozilla/gecko-dev/blob/a7a4c4c9df4b7b96c8d35b9f64

[2019-06-24 12:44] jdm commented on #23596
Yes. I upgraded homebrew on the two affected machines.

[2019-06-24 12:44] #23596 closed

[2019-06-24 13:11] jdm commented on #23612
I suspect the EGL.lib linking comes from https://github.com/servo/rust-offscreen-rendering-context/blob/443b70613afc4f11e8d9de6ea8c9ae4bb495067f/build.rs#L19.

[2019-06-24 13:36] jdm commented on #23622
@emilio Any opinion on this question?

[2019-06-24 13:36] highfive commented on #23622
cc @emilio

[2019-06-24 14:07] emilio commented on #23622
@saschanaz fwiw you can edit that code directly in Firefox, I'd file a bug in the "CSS Parsing and Computation" component. I'm happy to help out or write the patch.

[2019-06-24 14:09] emilio commented on #23622
That being said we parse matrix as a matrix of `CSSFloat`s which is a f32 under the hood, so I'm not sure how fixing just that function would help.

[2019-06-24 14:23] jdm opened #23623 "Intermittent pass in /css/cssom-view/elementFromPoint-subpixel.html"
[code]

[2019-06-24 14:23] emilio opened #23624 "Running Servo on fedora 30 doesn't start up (error while loading shared libraries: libpcre.so.3)"
Apparently this is a Debian-specific file.

[2019-06-24 14:29] jdm commented on #23624
Yuck. Is there any good way to figure out where that dependency is coming from?

[2019-06-24 14:31] emilio commented on #23624
So I was trying to figure out using `lddtree ./target/debug/servo`, but it doesn't show up that dependency, then I realized that running the servo binary itself runs fine, but `./mach run` doesn't... I'll take a look to see if there's some LD path munging going wrong or what not.

[2019-06-24 14:33] saschanaz commented on #23622
In that case the parser should support f64 first... So this Number should be modified to use f64, right?

https://github.com/servo/servo/blob/b4fb2cda087a4467742681cc27291c803d0dc825/components/style/values/specified/mod.rs#L158-L168

Looks like it will cause a large downstream changes.

[2019-06-24 14:36] jdm opened #23625 "Intermittent failures in /resource-timing/resource_TAO_origin.htm"
[code]
We should revisit this test as part of fixing #21270.

[2019-06-24 14:37] emilio commented on #23624
Ahá, this fixes it:

[code]

[2019-06-24 14:47] jdm commented on #23624
Hmm, I guess the Linux gstreamer bundle that we download with mach when the system gstreamer isn't new enough is debian-specific, in that case.

[2019-06-24 14:47] emilio commented on #23624
So presumably needs_gstreamer_env is failing. We decide whether our gstreamer is new enough using:

[code]

That returns false on my system, but it is clearly working without patching the libraries so there's something else going on. My gstreamer stuff looks like:

[code]

I'm not familiar with how gstreamer is versioned but there's something fishy going on.

[2019-06-24 14:48] emilio commented on #23622
Presumably, and yes, not only that but also will double memory usage in most places. We store a lot of these...

[2019-06-24 15:02] emilio commented on #23624
Oh, ok, so I was missing `gstreamer1-devel`. Installing that "fixes" it, by making Servo. But there's still something worth fixing here I think.

 * The built packages downloaded by `bootstrap-gstreamer` do not work in other non-Debian distros.
 * It may be possible to have all the libraries required for _running_ servo without the development packages, and in that case `needs_gstreamer_env` will

[2019-06-24 15:06] jdm commented on #23624
In the short term, we should raise an exception if the system gstreamer can't be used and we're running on a non-debian linux distribution.

[2019-06-24 17:25] gterzian commented on #23522
@braddunbar How is this going? let us know if you have any questions, you can also just open the PR with a work in progress and ask questions from there...

[2019-06-24 17:58] gterzian commented on #22879
On second-thoughts, I just realized we already have a `document.origin`, and we set it to that of the creator at https://github.com/servo/servo/blob/49bf3ba05f264a086fa5f421d5d40c6402ea5ada/components/script/script_thread.rs#L1237

So the problem is indeed really just that the constellation uses the origin of the url of the pipeline, and we should as proposed above just have a `origin` field on th

[2019-06-24 18:13] dralley commented on #22782
@stevenloppe Are you working on this?

[2019-06-24 20:28] jdm opened #23629 "Intermittent failure in /resource-timing/resource_TAO_zero.htm"
[code]
We should revisit this test as part of fixing #21270.

[2019-06-24 20:33] CYBAI commented on #23629
Should we remove this case in #23625 and use this one for intermittent reference of `/resource-timing/resource_TAO_zero.htm` ?

[2019-06-24 20:57] ljgww commented on #22581
Sorry for the delay. Hope this would be helpful.

steps:
- run command line as suggested by @jdm
- wait few minutes to get to gdb prompt
- exec run in gdb
- window appear, text get rendered
- resize window to be smaller (original window larger than my screen)
- right click in empty area of the page (no text or links) - attempt to get some context menu
- wait few minutes ... (about 10)
- gdb stops

[2019-06-24 21:52] jdm commented on #22581
@ljgww You never ran the `backtrace` command that would generate the backtrace output that I was looking for :)

[2019-06-24 21:53] jdm commented on #22581
The window stays active because the debugger pauses the program before the OS tears everything down. Continuing from a crash does not actually do anything.

[2019-06-24 21:54] jdm commented on #23629
Oh, whoops, I missed that there were two different tests in the output for #23625. Yes, removing the unrelated test would be good.

[2019-06-24 21:55] jdm commented on #23531
Sigh. Can't use a debug-mozjs build on Windows; can't reproduce the crash on non-Windows.

[2019-06-24 22:28] CYBAI commented on #23629
Removed!

[2019-06-24 23:27] jdm opened #23631 "Windows GStreamer DLL packaging needs to include more plugins"
From an email with friends at Centricular:
[code]
And:
[code]

[2019-06-25 03:43] Manishearth opened #23671 "Issues finding libcryptoMD and libsslMD"
Servo packages libeay32.dll and ssleay32.dll, the vcxproj file should be updated with these (?)

[2019-06-25 03:43] Manishearth opened #23672 "Crashes on load"
Following the instructions (tweaked for SSLeay: https://github.com/servo/HLServo/issues/9), I get:

[code]

breaking at the `init_with_egl()` function

[2019-06-25 05:30] cbrewster commented on #21150
I don't have the time to finish this at the moment. My WIP is at https://github.com/servo/servo/pull/22130 for anyone who might want to pick up this work.

[2019-06-25 09:57] #23608 closed

[2019-06-25 17:14] #23603 closed

[2019-06-25 17:20] gatoWololo commented on #23057
I have a general sense of how to do it. One thing that is not clear to me is how to send the message to the embedder. Both #20428 and #20429 get an `embedder_proxy` object directly from the constellation in `servo/lib.rs`. However, seeing how Pemisssions structs are created, there is quite a layers before finally getting to `create_constellation`.

I saw there is also ` window.send_to_embedder(msg

[2019-06-25 17:41] gatoWololo commented on #23057
Based on the conversation here: https://github.com/servo/servo/pull/20480 it seems passing the `embedder_proxy` was the agreed upon way?

[2019-06-25 17:42] jdm commented on #23057
The message to the embedder can contain an IpcSender, and the permissions code can either synchronously block on receiving the response, or hook the receiver up to the ipc router and inject an event into the thread's event loop when a response is received.

As for how to communicate with the embedder, I think adding a send_to_embedder API to GlobalScope and storing the embedder channel in GlobalSc

[2019-06-25 17:46] gatoWololo commented on #23057
Ah, I see.

Sounds good. I'll work from here!

[2019-06-25 21:27] gatoWololo commented on #23057
So I think I have something working. But I'm not really able to test it. I thought it was my code, but using a unmodified version of Servo I still get the error:
[code]

Where `permissionTest.html` is just a copy of `servo/tests/html/permission-test.html`.

[2019-06-25 21:35] CYBAI commented on #23057
I guess you might need to enable it

https://github.com/servo/servo/blob/e100af57a5bd95701b5310871e9909e3726539f0/resources/prefs.json#L17

[2019-06-25 22:27] CYBAI opened #23634 "Intermittent FAIL in /_mozilla/webxr/obtain_frame.html"
[code]

[2019-06-25 23:23] #23302 closed

[2019-06-26 01:06] jdm commented on #23634
@Manishearth FYI

[2019-06-26 01:08] jdm commented on #23057
Try running Servo with `--pref dom.permissions.enabled`.

[2019-06-26 01:11] Manishearth commented on #23634
I suspect it's because we don't wait for a frame.

The updated test API doesn't have this problem

[2019-06-26 01:17] Manishearth commented on #23634
I can also fix the test a bit for now.

[2019-06-26 08:09] oneturkmen commented on #22720
hey @ferjm is it still `blocked-on-external`? I was thinking of doing this.

[2019-06-26 08:20] oneturkmen commented on #22289
hey @ferjm, I want to try this one! Does this only concern `components/script/dom/HTMLMediaElement.rs` file?

[2019-06-26 08:25] oneturkmen commented on #20377
hey @jdm, can you assign this to me (if still valid)?

[2019-06-26 09:21] ferjm commented on #22289
@oneturkmen sorry, I just checked that the preloading logic is already there and after #22055 everything is working as expected. So this issue is no longer valid.

[2019-06-26 09:21] #22289 closed

[2019-06-26 13:51] jdm commented on #20377
@oneturkmen Yes, this is definitely still valid! Please ask questions if anything is unclear :)

[2019-06-26 15:55] Manishearth commented on #23634
Confirmed that what we're seeing is the initial pose information

[2019-06-26 15:56] Manishearth commented on #23634
Hm, there's no way in the current implementation to ensure this has succeeded on the next frame.

[2019-06-26 15:58] Manishearth commented on #23634
Potentially could insert a timeout for now?

[2019-06-26 16:48] gterzian opened #23638 "Canvas default-features and compilation error"
Am I the only one who gets a compilation error in the constellation unless one does the below?

![Screen Shot 2019-06-27 at 12 48 35 AM](https://user-images.githubusercontent.com/2792687/60198927-52d81800-9875-11e9-8fd1-e10124fb92b2.png)

[2019-06-26 16:49] jdm commented on #23638
What errors? What is the command you are running?

[2019-06-26 23:01] oneturkmen opened #23639 "Remove uses of opts::get() from components/script"
There are two *non-trivial* uses of `opts::get()` in components/script; [`script_runtime.rs`](https://github.com/servo/servo/blob/a06a573f80551d7f2d388ba7af5bcf3fb0789078/components/script/script_runtime.rs#L361) and [`dom/bindings/conversions.rs`](https://github.com/servo/servo/blob/a06a573f80551d7f2d388ba7af5bcf3fb0789078/components/script/dom/bindings/conversions.rs#L242), respectively.

These

[2019-06-27 01:28] Manishearth opened #23640 "Figure out what to do about optional dictionary members that are also dictionaries"
Our [last webidl update](https://github.com/servo/servo/pull/22934) explicitly excludes [bug 1368949](https://bugzilla.mozilla.org/show_bug.cgi?id=1368949)  (see also: [bug 1493860](https://bugzilla.mozilla.org/show_bug.cgi?id=1493860) , [bug 1493798](https://bugzilla.mozilla.org/show_bug.cgi?id=1493798)) This basically means that the following doesn't work:

[code]

since we treat null=empty for

[2019-06-27 02:13] RestitutorOrbis commented on #21270
I'd be interested in this. Although, I probably won't get to it for another week or two.

[2019-06-27 03:15] jdm commented on #21270
Leave a comment when you're ready to start looking at it, in that case :)

[2019-06-27 03:18] RestitutorOrbis commented on #21270
Cool, will do. Thanks!

[2019-06-27 04:24] saschanaz opened #23642 "Servo gets unresponsive when resizing window"
On Windows (or WSL with X server), resizing first triggers a repaint and then starts never responding to anything so I have to manually kill it.

1. Open Servo.
2. Resize its window by dragging its edge. (Not by docking or maximizing.)
3. Try resizing again.

[2019-06-27 04:32] saschanaz opened #23643 "Servo throws with CreationErrors and then stops responding"
Running Servo on WSL1 with vcxsrv throws with:

[code]

... and never responds to Ctrl+C. I think it should at least be killed by keyboard interrupts.

[2019-06-27 04:47] jdm commented on #23642
This might be solved by #23574? There's certainly a comment in there about handling resize events differently than other events.

[2019-06-27 15:53] gatoWololo commented on #23057
I'm having a hard time testing my implementation. Opening a html page which calls permissions works (yay!). But I'm unable to properly run tests related to this feature. So I find tests which call "navigator.permissions"

[code]

I then try to run some of this wpt tests:
[code]

The first one just crashes. The second one crashes but it's expected? So I'm not convinced I have tested anything.

Ther

[2019-06-27 16:01] jdm commented on #23057
tests/html are manual tests that you can run with `./mach run tests/html/permission-test.html`. I just noticed the uses of `as_window()` in the permissions code (https://github.com/servo/servo/blob/fd174c54ef4fa6574ae782dacccaeccd14abb936/components/script/dom/permissions.rs#L321-L322) which will make that code panic any time it's called in a non-Window scope. We need to fix those by moving the `p

[2019-06-27 16:05] jdm opened #23645 "test-background-fetch-permission.html panics with "assertion failed: !JS_IsExceptionPending(cx)" when rejecting a promise"
To reproduce, run `./mach test-wpt /permissions/test-background-fetch-permission.html --pref dom.permissions.enabled`.

Stack trace:

<details>

[code]

</details>

[2019-06-27 16:09] jdm commented on #23645
This looks like this occurs because Permissions::create_descriptor calls PermissionDescriptor::new on the input permission descriptor JS object, which returns an Err value indicating that there is a new JS exception that has been raised as a result of the attempted conversion. We return an Error::Type from Permissions::create_descriptor as a result, which upon converting to a JSVal attempts to set

[2019-06-27 16:16] jdm commented on #23645
I think we're not following step 1 of https://w3c.github.io/permissions/#dom-permissions-query correctly - it says "If this throws an exception, return a promise rejected with that exception and abort these steps", but we're discarding the actual exception value raised. There are a couple steps to fixing this:
1. Return Error::JSFailed in [Permissions::create_descriptor](https://github.com/servo/s

[2019-06-27 16:17] highfive commented on #23645
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-06-27 16:17] jdm commented on #23057
Thanks for pointing out the failure in test-background-fetch-permission.html - I've filed #23645 to fix it.

[2019-06-27 16:52] gatoWololo commented on #23057
Thanks. I see.

Should this be a separate PR or part of the same one?

[2019-06-27 17:00] jdm commented on #23057
It should certainly be a separate commit, but it could be a separate PR too. I wouldn't expect the automated tests to be good for verifying this issue, because the permissions code suppresses the prompting UI when running headlessly.

[2019-06-27 18:11] gatoWololo opened #23648 "Servo build failure RPMBUILD"
As of the latest commit on master  61cadfa building Servo on Ubuntu failed with:
[code]
Doing `./mach bootstrap` returns `Dependencies were already installed!`. Should we add `rpm` as a dependency for mach boostrap?

After manually installing RPM I now see:
[code]

[code]

[2019-06-27 19:02] jdm commented on #23648
My immediate suggestion is to try installing the clang, llvm, and llvm-dev packages.

[2019-06-27 20:00] gatoWololo commented on #23648
Installing `llvm-dev` fixed this for me!

[2019-06-27 20:18] atouchet commented on #23642
I am able to reproduce this issue.

[2019-06-27 20:30] SimonSapin opened #23652 "Taskcluster: use Windows instances is multiple AWS regions"
The CI queue is slow right now because Windows tasks for the PR being tested keep being killed and restarted.

https://tools.taskcluster.net/groups/UowzfhVIR7q_1bl9hagSeQ/tasks/HA3OnWLmS-yP0wDfJiZyLA/runs/3/logs/public%2Flogs%2Flive.log

The above is the fourth run of this particular task.

https://tools.taskcluster.net/aws-provisioner/servo-win2016/errors shows many errors with code `Server.SpotI

[2019-06-27 21:30] SimonSapin commented on #23652
Docs for `aws-provisioner` are gone from https://docs.taskcluster.net/ because it is “deprecated”, even though its replacement won’t be ready for months :/

In the meantime, I was pointed at the source for the exact set of API and their schema:

* https://github.com/taskcluster/aws-provisioner/blob/c1a05150f2369069c6db5ab1470b5a3a7fa7be80/lib/api-v1.js#L277
* https://github.com/taskcluster/aws-pro

[2019-06-27 23:30] braddunbar commented on #23522
Good! I’ll send a pull this weekend.

[2019-06-28 00:25] julientregoat commented on #23645
hey, would like to take this on! I see the `Easy` tag, but as a first time contributor to the repo, want to see if this is a good fit for my first issue?

 thanks!

[2019-06-28 00:36] jdm commented on #23645
@julientregoat Absolutely! Let me know if the description of how to reproduce and solve the problem is unclear at all!

[2019-06-28 01:02] julientregoat commented on #23645
okay awesome~~

@highfive: assign me

here we go! to the first of many, hopefully

[2019-06-28 01:02] highfive commented on #23645
Hey @julientregoat! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-06-28 02:33] highfive commented on #23607
cc @wafflespeanut

[2019-06-28 04:39] julientregoat commented on #23645
hey @jdm! So I fixed the panic and the browser is loading the test results. Is that the entire scope of this issue, or am I meant to get the test passing as well?

[2019-06-28 04:45] jdm commented on #23645
Nope, that was the scope!

[2019-06-28 06:38] julientregoat commented on #21289
hey since it looks like you haven't started yet, mind if I do @rileylyman?

@highfive: assign me

[2019-06-28 06:38] highfive commented on #21289
Hey @julientregoat! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-06-28 08:08] SimonSapin opened #23655 "Automatically retry WPT tasks with few failures?"
docker-worker and generic-worker both support a `retry` configuration in task definitions:

* https://github.com/taskcluster/docker-worker/blob/e2eb847d404d7fa776a394c5845c5e98040cc13b/schemas/v1/payload.json#L190-L197
* https://github.com/taskcluster/generic-worker/blob/e31923d3322d3d31af563ae6a1f3e328b9223d5f/multiuser_windows.yml#L222-L237

It takes an list of exit codes. When the task’s comman

[2019-06-28 10:15] gterzian commented on #23638
when I do `./mach check` I get the bellow errors:

[code]

[2019-06-28 11:58] jdm commented on #23655
I'm in favour. There are definitely intermittent problems like #23290 that can hit trigger on just about any retreat, which really hurts our throughput.

[2019-06-28 11:58] jdm commented on #23638
Ah, right. You can alleviate this in the short term with --features azure_backend.

[2019-06-28 12:05] jdm commented on #21289
You are welcome to take your time with it :)

[2019-06-28 12:59] jdm opened #23656 "--angle mode doesn't work in nightlies"
I downloaded https://download.servo.org/nightly/windows-msvc/servo-latest.zip and ran `servo --angle`. A window briefly appeared then disappeared and the terminal showed no output. When I ran `servo`, it showed me a window. Hard to figure out where to start!

[2019-06-28 15:56] jdm commented on #23656
It's a crash, and windbg shows me this stack in a local debug build:
[code]
I have a suspicion that this was introduced in the last major update: https://github.com/servo/mozangle/commit/7e063fb9a48f09b1c9f940a6adb00bf11cd69023

[2019-06-28 17:33] jankeromnes commented on #23594
Relevant IRC discussion:

[2019-06-28 21:13] jdm opened #23659 "Add a CI test that verifies that `mach check` works"
We keep breaking it when playing around with cargo features. We should stop breaking it!

[2019-06-28 21:52] SimonSapin commented on #23659
There’s a bunch of logic in `./mach build` before calling `cargo build`. Most of it should likely apply to `./mach check` as well.

[2019-06-28 23:48] oneturkmen commented on #20377
As far as I understand, the code in `CodegenRust.py` should be transformed in the following way:
- All `*mut JSContext` become just `JSContext` (this is a new safe struct).
- Turning all `CGGeneric("cx")` into `CGGeneric("JSContext::from_ptr("cx")")`.

If I am correct, is `CGGeneric` the only place that spits out code? And the only class, which call of "cx" we should transform (2nd bullet above).

[2019-06-29 00:45] #21992 closed

[2019-06-29 02:44] #23640 closed

[2019-06-29 07:58] julientregoat commented on #21289
hey @jdm , wrote some  code tonight, and I think I got it under a handle. can you tell me if I'm heading in the right direction? building correctly atm. plan on doing the second iteration once I finish the firt,

`https://github.com/julientregoat/servo/blob/i-21289/components/net/image_cache.rs`

[2019-06-29 10:27] SimonSapin commented on #23659
Also `./mach doc` has similar logic that should be unified with both `build` and `check`. Compare:

https://github.com/servo/servo/blob/84786add227f2c0a675f4bcca708ac8a70011f6c/python/servo/build_commands.py#L307-L308

https://github.com/servo/servo/blob/84786add227f2c0a675f4bcca708ac8a70011f6c/python/servo/post_build_commands.py#L267

[2019-06-29 11:54] jdm commented on #21289
Yes, that seems like the right idea!

[2019-06-29 20:29] #23266 closed

[2019-06-30 00:13] julientregoat commented on #21289
@jdm Okay so I'm refactoring the functions that previously called `find_image_or_meta` atm. Currently, it looks like if any of them require access to the  image, it's generally as `Arc<Image>`. It seems like it would be better to return an `Option<Arc<Image>>` from `ImageCache::get_image`, which unwraps it from an `Arc` anyway - does that work?

Also, a few of those same functions usually do somet

[2019-06-30 00:45] jdm commented on #21289
@julientregoat If the consumers want an Arc, then that seems like a reasonable change. As for the question about the Pending variant, do the functions do anything besides call add_listener? I would expect that functionality to become part of `track_image` automatically.

[2019-06-30 01:02] julientregoat commented on #21289
@jdm
* In `LayoutContext::get_or_request_image_or_meta`, it uses the id to construct a `PendingImage` and add it to its internal `pending_images` vector.
* In `HTMLImageElement::react_to_environment_changes_sync_steps`, on `Pending` it does call `add_cache_listener_for_element`, which I recognize also calls `ImageCache::add_listener` inside like `ImageCache::track_image`, however I wasn't sure if

[2019-06-30 01:06] jdm commented on #21289
Good point! Seems reasonable to include it for the time being, in that case.

[2019-06-30 03:08] #21259 closed

[2019-06-30 04:15] atouchet commented on #21261
In #23323 it says that this was only fixed partially. Is there more to do here?

[2019-06-30 08:55] saschanaz opened #23663 "Servo on Windows panicks on WPT css/geometry/interfaces.html"
Accessing https://w3c-test.org/css/geometry/interfaces.html causes Servo fail on Windows.

[code]

[2019-06-30 08:59] saschanaz opened #23664 "DOMMatrix does not support string constructor"
[code]

[2019-06-30 10:16] saschanaz opened #23666 "Support VS Build Tools 2019"
Visual Studio Build Tools 2019 can provide VC2017 and thus supports building Servo, but currently it fails at the end of the build with the error *Couldn't locate MSVC redistributable directory*.

[2019-06-30 12:52] jdm commented on #23663
This is very likely the same problem as #23531.

[2019-06-30 12:53] jdm commented on #21261
Support for persistent connections doesn't exist yet, but we should file a new issue about that.

[2019-06-30 15:11] #23666 closed

[2019-06-30 21:59] saschanaz commented on #23663
Confirmed that it throws on the same line.

[2019-06-30 21:59] #23663 closed

[2019-06-30 22:01] saschanaz commented on #23531
![image](https://user-images.githubusercontent.com/3396686/60402703-091d6380-9bce-11e9-9d44-43d133be1476.png)

Somehow `symbol->description()` points to the wrong address.

[2019-07-01 13:41] larsbergstrom commented on #23621
I have archived https://github.com/servo/HLServo

[2019-07-01 13:41] #23621 closed

[2019-07-01 17:29] jankeromnes commented on #23594
I confirm that `./mach run -r -Z disable-vsync` successfully works around this bug! 🎉

Still, I wonder if there is a way to get `Xvfb` to support one of these features:

Maybe with [virtualGL](https://www.virtualgl.org/), as recommended in [this StackExchange](https://unix.stackexchange.com/a/468473)?

[2019-07-02 00:51] oneturkmen commented on #21270
@jdm @RestitutorOrbis Javed, if you change your mind, I'd love to take this task.

[2019-07-02 02:17] #23622 closed

[2019-07-02 02:17] #23664 closed

[2019-07-02 04:24] oneturkmen commented on #22854
Do you think we should get rid of opts::get() in `components/style`? There are 3 of them, but it may be redundant since these ones are part of conditional compilation, [here](https://github.com/servo/servo/blob/294d701fdaad61d571109712acf181b54e8f811b/components/style/traversal.rs#L53) and [here](https://github.com/servo/servo/blob/master/components/style/context.rs#L112).

PS. I think components

[2019-07-02 05:51] paulrouget opened #23678 "[HoloLens] scroll/click support"

[2019-07-02 05:55] paulrouget opened #23679 "[HoloLens] write openxr backend for rust-webvr"
@jdm iirc, you have a WIP rust binding for the openxr library. Is it available somewhere?

[2019-07-02 05:57] paulrouget opened #23680 "[HoloLens] implement immersive mode"
See https://docs.microsoft.com/en-us/windows/mixed-reality/app-model#creating-an-immersive-view

[2019-07-02 05:58] paulrouget opened #23681 "[HoloLens] create location bar UI"
This should be designed in XAML.

[2019-07-02 05:59] paulrouget opened #23682 "[HoloLens] add support for launching with URLs from other applications"

[2019-07-02 06:32] KaczuH commented on #20822
@highfive assign me

[2019-07-02 06:32] highfive commented on #20822
Hey @KaczuH! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-02 09:17] saschanaz opened #23683 "DOMMatrix lacks scaleNonUniform()"
The spec says [`DOMMatrixReadOnly` has `scaleNonUniform()` for legacy reason](https://drafts.fxtf.org/geometry/#dom-dommatrixreadonly-scalenonuniform) but currently the implementation lacks it.

[2019-07-02 09:22] eakarpov opened #23684 "Error libgstwebrtc while starting Servo build"
error while loading shared libraries: libgstwebrtc-1.0.so.0: cannot open shared object file: No such file or directory

OS: Ubuntu 18.04

I tried to install the libgstwebrtc package, but it is being installed with errors.

[2019-07-02 09:26] CYBAI commented on #23684
Thanks for filing the issue!

I found there's a related comment in https://github.com/servo/servo/issues/21970#issuecomment-493463653. Could you check that thread to see if they work for you? Thanks.

Btw, I'm going to close this one and let's track this issue in that thread :)

[2019-07-02 09:26] #23684 closed

[2019-07-02 12:19] jdm commented on #22854
Yes, we should remove the from the style crate.

[2019-07-02 12:19] jdm commented on #23679
I will push it today.

[2019-07-02 13:15] jdm commented on #23679
https://github.com/servo/rust-webvr/compare/openxr

[2019-07-02 14:20] saschanaz opened #23688 "DOMMatrix rotate() gives wrong value"
[code]

Relevant code:

https://github.com/servo/servo/blob/7a1db0e8eaef9f615bedc08e23254bd79510de08/components/script/dom/dommatrixreadonly.rs#L302-L308

Could this be a euclid bug, as it seems it internally uses 3D rotation matrix designed for column-major matrices while being row-major?

https://drafts.csswg.org/css-transforms-2/#Rotate3dDefined

https://github.com/servo/euclid/blob/ee39c3c7ee3

[2019-07-02 14:26] gterzian opened #23689 "Cross-origin Iframe postMessage question"
As part of https://github.com/servo/servo/pull/23637, I noticed something strange when running this test: https://github.com/servo/servo/blob/f4ff9e2eeb254a81f7b4ec9a43fe01fed2777b1a/tests/wpt/web-platform-tests/webmessaging/postMessage_MessagePorts_xorigin.sub.htm

Basically, I ran it at a commit before actually adding the `transfer` argument to:
https://github.com/servo/servo/blob/f4ff9e2eeb254a

[2019-07-02 14:34] gterzian commented on #23689
Ok so I can confirm the origin of the window and the iframe are:
window: http://web-platform.test:8000
iframe: http://www1.web-platform.test:8000

[2019-07-02 15:04] jdm commented on #23688
This sounds very much like https://github.com/servo/euclid/issues/331.

[2019-07-02 19:40] RestitutorOrbis commented on #21270
@highfive assign me. I'm good to take this on now.

[2019-07-02 19:40] highfive commented on #21270
Hey @RestitutorOrbis! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-02 19:43] RestitutorOrbis commented on #21270
@jdm  What files should I take a look at to take on this issue?

[2019-07-02 19:52] jdm commented on #21270
@RestitutorOrbis I would expect this to affect:
* https://github.com/servo/servo/blob/master/components/net/http_loader.rs (we will need to implement step 9 of https://w3c.github.io/resource-timing/#processing-model after the response's headers have been received)
* https://github.com/servo/servo/blob/master/components/net_traits/lib.rs (we will need to add a flag to ResourceFetchTiming that indic

[2019-07-02 20:29] #23634 closed

[2019-07-02 20:48] jdm commented on #20377
It occurs to me - if we define the new type with `repr(transparent)`, then we can write all of our Rust FFI functions (ie. any python class that inherits from CGAbstractExternMethod and generates a `extern "C" fn foo(...)`) so that they accept the new `JSContext` rust type instead of `*mut JSContext`. That will require changing a bunch of calls in CodegenRust.py from `Argument('*mut JSContext', 'c

[2019-07-02 22:52] jdm commented on #23531
Also observed when trying to search for anything from the Google homepage.

[2019-07-02 23:07] atouchet opened #23691 "Android 64-bit ARMv8 build"
[Google is requiring that new Android apps on the Play store must have a 64-bit version starting August 1, 2019.](https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html) Servo for Android is still built as a 32-bit ARMv7 app. Are there plans to build Servo for Android targeting 64-bit ARMv8 and what work would that take to do so? I think it would be a good idea to ha

[2019-07-02 23:27] jdm commented on #23691
I think this should be straightforward. It definitely requires changing the [default android target](https://github.com/servo/servo/blob/master/python/servo/command_base.py#L313) to `aarch64-linux-android`, and adding to the list in https://github.com/servo/servo/blob/master/support/android/apk/jni/Application.mk#L5. We may need to make an android gstreamer bundle for the new target as well based

[2019-07-02 23:42] Manishearth opened #23692 "Intermittent FAIL on /_mozilla/mozilla/xmlhttprequest_url.html: "Performance entries should contain the URL where the XMLHttpRequest originated""
[code]

https://github.com/servo/servo/pull/23641#issuecomment-507776304

[2019-07-03 00:34] saschanaz commented on #23688
Hmm. @Manishearth could this be fixed before the big change?

[2019-07-03 00:45] Manishearth commented on #23688
We should replace all our uses of `.post_mul` with `.pre_mul` and vice versa, and then also replace all uses of `.to_row_major_array()` with `.to_column_major_array()`. Except in cases where it's doing the right thing already.

Basically, all the functions have the opposite meaning here, compare with the spec and make sure you do the opposite operation.

[2019-07-03 00:47] saschanaz commented on #23688
Yes, that multiplication should be pre but it's not the cause in this specific case because I'm rotating an identity matrix.

[2019-07-03 01:05] Manishearth commented on #23688
Yeah then the issue is the coordinate mapping. All the `.mXY` functions should be accessing `.mYX`. `ToFloat32Array()` already does the correct thing, in this case.

How did you actually inspect the value of the matrix here? By default it just stringifies to `[object DOMMatrix]`.

[2019-07-03 01:07] saschanaz commented on #23688
I did `ToFloat32Array` as the stringifier is not implemented yet.

[2019-07-03 01:09] Manishearth commented on #23688
Curious, Firefox returns `[6.123234262925839e-17,1,0,0,-1,6.123234262925839e-17,0,0,0,0,1,0,0,0,0,1]` for the same call, which is incorrect.

[2019-07-03 01:09] Manishearth commented on #23688
Also curious, from a quick look it seems like the code does what it should here.

[2019-07-03 01:11] saschanaz commented on #23688
The Firefox implementation is flawed, it should be fixed soon in Nightly: https://bugzilla.mozilla.org/show_bug.cgi?id=1560480

[2019-07-03 01:11] jdm opened #23693 "Intermittent fail in /css/CSS2/floats/hit-test-floats-001.html"
[code]

[2019-07-03 01:11] Manishearth commented on #23688
Ah, I see. Nice find!

[2019-07-03 01:13] Manishearth commented on #23688
So the interesting thing is `new DOMMatrix().translate(1, 2, 3).toFloat32Array()` returns identical results in Chrome and Servo. `.toFloat32Array()` is not broken (and that's clear from the code, too). It's the `rotate()` function specifically.

[2019-07-03 01:20] saschanaz commented on #23688
I think we should use [transposed matrix of this](https://drafts.csswg.org/css-transforms-2/#Rotate3dDefined):

![image](https://user-images.githubusercontent.com/3396686/60556221-3f4c1600-9d7b-11e9-861e-367bdbfc41b5.png)

From what I see euclid currently uses it as-is.

[2019-07-03 01:23] Manishearth commented on #23688
Yeah, looking closely it looks like _that_ function in euclid was written with column vectors in mind.

What a mess.

Temporary fix would be to transpose the output of euclid.

[2019-07-03 01:41] Manishearth commented on #23688
We should also link to https://github.com/servo/euclid/issues/354 when we do that

[2019-07-03 01:42] Manishearth commented on #23688
Uh, also we use the same things in our css transforms code :frowning:

[2019-07-03 01:45] Manishearth commented on #23688
And this code is used by Gecko too. cc @emilio

[2019-07-03 05:26] gterzian commented on #23689
Ok so the test ends-up using the `PostMessage` of a `Window`, not that of a `DissimilarOriginWindow`.

And looking at how we [share event-loops](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L203), I'm pretty sure `http://www1.web-platform.test:8000` and `http://web-platform.test:8000` would simply run in the same event-loop.

So I'm wondering, since [that te

[2019-07-03 06:06] ford-prefect commented on #23390
Anything I can help with here?

[2019-07-03 06:28] #23659 closed

[2019-07-03 08:17] ferjm commented on #23390
I believe this is already done. The only missing piece seems to be updating gstreamer-rs in Servo, but that's already done in servo-media, so it should happen with the next servo-meida update.

[2019-07-03 08:17] #23390 closed

[2019-07-03 08:41] ferjm opened #23695 "Infinite loading spinner on https://learningsynths.ableton.com/get-started"
Loading https://learningsynths.ableton.com/get-started on Servo shows an infinite loading spinner

<img width="1136" alt="Screenshot 2019-07-03 at 10 39 11" src="https://user-images.githubusercontent.com/480202/60577071-f1d1a800-9d7e-11e9-8dad-2e4b3211294d.png">

[2019-07-03 09:24] CYBAI commented on #23695
![image](https://user-images.githubusercontent.com/6782666/60580253-b99e8980-9dbf-11e9-973a-ed4886a834fa.png)

Looks like the `MusicLab` is not initialized successfully 🤔

[2019-07-03 10:59] gterzian commented on #23689
Ok so I think what we do is basically compliant with the concept of [same-agent-window-objects](https://html.spec.whatwg.org/#same-agent-window-objects).

[2019-07-03 11:01] gterzian commented on #20567
This is an interesting document as well: https://chromium.googlesource.com/chromium/src/+/master/docs/security/side-channel-threat-model.md

Note there is also a WebGL angle:

Also, currently we share event-loops, as per the spec, so as to allow scripts to potentially [relax-the-same-origin-restriction](https://html.spec.whatwg.org/multipage/origin.html#relaxing-the-same-origin-restriction). Howev

[2019-07-03 11:11] #23689 closed

[2019-07-03 11:19] #23683 closed

[2019-07-03 14:19] jdm opened #23697 "WebGL does not work in Windows"
Simplest possible testcase: http://web.cse.ohio-state.edu/~shen.94/5542/Site/WebGL_files/code00.html

[2019-07-03 14:49] jdm opened #23698 "webaudio doesn't work in UWP"
https://www.joshmatthews.net/osc.html doesn't play anything in the servo UWP app with a stock build. There are some suspicious exceptions reported in the VS output window, but the app continues running. I'm going to see if there's any change when using the binaries from the UWP port of gstreamer.

[2019-07-03 19:01] jdm opened #23700 "Hook up GST_DEBUG log to visual studio output"
Environment variables aren't a thing that exists in UWP, so we need to add a custom log handler for [GST_DEBUG](https://gstreamer.freedesktop.org/documentation/tutorials/basic/debugging-tools.html?gi-language=c). We should take each logging record received and pass it through to the standard Rust logging infrastructure:
* update to the latest gstreamer-rs version (0.14.4)
* [add a logging callback

[2019-07-03 19:26] jdm commented on #23698
This is at least partly caused by #23631, so we need to package significantly more GStreamer DLLs in the UWP application than we currently do.

[2019-07-03 19:27] jdm commented on #23698
The other battle is getting gstreamer to load the plugins from the app package's directory.

[2019-07-03 20:03] jdm commented on #23698
I successfully got the test page to play a tone by adding code that explicitly loads a list of packages gstreamer plugins during startup.

[2019-07-03 20:10] jdm commented on #23631
We should do a few things here:
* increase the set of packaged DLLs to include the plugins that live in $gst_root/libs/gstreamer-1.0
* add an explicit step when initializing the media backend to load the packaged plugins into the gstreamer registry

This will allow local desktop builds to work as well as nightly builds.

[2019-07-03 20:32] jdm opened #23702 "Video doesn't play"
https://joshmatthews.net/video2.html with GST_DEBUG=2 yields:
[code]

[2019-07-03 22:05] #23440 closed

[2019-07-04 00:36] fabrizio8 commented on #6631
Is this still an issue?

[2019-07-04 00:49] RestitutorOrbis commented on #21270
@jdm Just to confirm, for http_loader.rs, I should be looking at the function obtain_response and I need to write my timing allow check to run anytime after the call to "request_headers.clone()". Does that sound reasonable?

[2019-07-04 00:54] KiChjang commented on #23371
I ended up putting `mach.bat` into `.git/info/exclude`.

[2019-07-04 00:54] #23371 closed

[2019-07-04 01:11] jdm commented on #6631
Yep!

[2019-07-04 01:11] jdm commented on #6631
We should probably just have each worker id be a UUID.

[2019-07-04 01:18] jdm commented on #21270
Anytime after [this code](https://github.com/servo/servo/blob/c9d7b4e72629cda79644cc0d5a321927ef4f8950/components/net/http_loader.rs#L1254) is when the response headers will be available, which are the ones that can contain the HTTP headers about allowing the [Timing-Allow-Origin response header](https://w3c.github.io/resource-timing/#sec-timing-allow-origin).

[2019-07-04 01:32] CYBAI opened #23703 "Implement the new syntax (= {}) for dictionary defaulting"
See heycam/webidl#750

[code]

(Copied from [bugzilla#1562680](https://bugzilla.mozilla.org/show_bug.cgi?id=1562680))

Related spec update PR in `html` and `dom`:
- whatwg/html#4745
- whatwg/dom#771

[2019-07-04 01:47] CYBAI opened #23704 "Adjust rules for parsing dimension values"
Spec PR: whatwg/html#4747
Bugzilla for Gecko: https://bugzilla.mozilla.org/show_bug.cgi?id=1562690
WPT: web-platform-tests/wpt#17790

cc @emilio

[2019-07-04 02:33] #23645 closed

[2019-07-04 03:02] KiChjang commented on #23648
Closing as fixed.

[2019-07-04 03:02] #23648 closed

[2019-07-04 05:03] #23688 closed

[2019-07-04 07:32] ferjm commented on #23702
I'm not sure about the warnings, but the test is missing a way to start playback. Adding `autoplay` to the video tag makes it work for me. #22720 will hopefully help with this type of issue.

[2019-07-04 10:53] ceyusa commented on #23702
If you want to get rid for the warnings, the workaround is use the gst-libav decoders. The easiest way is uninstalling gstreamer applemedia plugin. The right way is to verify what's happening with vtdec_hw element.

[2019-07-04 10:57] paulrouget commented on #23680
https://docs.microsoft.com/en-us/windows/mixed-reality/getting-a-holographicspace

[2019-07-04 12:37] jdm commented on #23702
Good point about the lack of autoplay.

[2019-07-04 12:37] #23702 closed

[2019-07-04 12:40] jdm opened #23705 "Video playback crashes Servo on Windows"
With https://github.com/servo/servo/issues/23631#issuecomment-508238077 out of the way, loading videos in Servo (https://joshmatthews.net/video2.html and https://joshmatthews.net/video.html) causes Servo to crash:
[code]

[2019-07-04 12:44] jdm commented on #23705
I think this is actually a symptom of gstreamer not finding the plugins. When I set the working directory correctly and it loads them, it doesn't crash and I get this output instead:
[code]

[2019-07-04 13:06] jdm commented on #23705
Hmm, not sure what to make of it - when I run Servo with mach and ensure the gstreamer plugins are loaded, I still get the crash. When I run the same binary in windbg, I get the non-crashing behaviour.

[2019-07-04 13:50] jdm commented on #23705
Ok, the difference in behaviour goes away if I set GST_REGISTRY_UPDATE=no, and there's no crash with only the loaded plugins that are packaged with servo.

[2019-07-04 13:57] jdm opened #23706 "Windows builds often panic with a GL error on shutdown"
This comes from https://github.com/servo/webrender/blob/87aee603417977f9f0611099070e5260fb54d12f/webrender/src/device/gl.rs#L1487-L1489
[code]

[2019-07-04 15:44] jdm opened #23709 "Relative URLs from file:// URLs use the current working directory"
We need to resolve them against the page's file:// URL instead.

[2019-07-04 19:26] jdm commented on #12604
#23313 was an attempt to fix this that had some review comments that needed to be addressed.

[2019-07-04 19:27] jdm commented on #21803
https://github.com/servo/servo/pull/23152 was an attempt to fix this that ran into some compile errors, and then the submitter disappeared.

[2019-07-04 19:27] highfive commented on #21803
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-07-04 19:49] jdm commented on #23672
This was fixed by #23621

[2019-07-04 19:49] #23672 closed

[2019-07-04 19:49] jdm commented on #23671
Fixed by #23621

[2019-07-04 19:49] #23671 closed

[2019-07-04 19:49] jdm commented on #23612
Fixed in #23621

[2019-07-04 19:49] #23612 closed

[2019-07-04 19:55] jdm commented on #23697
From a non-UWP debug build on the same machine (WGL codepath instead of EGL):
[code]

[2019-07-04 20:01] jdm commented on #23656
This worked in a nightly from before https://github.com/servo/mozangle/pull/17 was integrated (https://github.com/servo/servo/pull/23468) and is broken afterwards.

[2019-07-04 20:02] jdm commented on #23656
When I run a local debug build with --angle, I get:
[code]

[2019-07-04 20:05] jdm commented on #23656
Although honestly I suspect https://github.com/servo/mozangle/pull/21 is the real problem here.

[2019-07-04 20:06] jdm commented on #23656
Running the debug build under windbg shows a null pointer deref trying to invoke EGL_QueryString from libEGL.cpp in mozangle.

[2019-07-04 23:04] jdm commented on #23697
Unfortunately https://github.com/servo/servo/issues/23656 means that we can't test the EGL codepath in desktop builds right now.

[2019-07-04 23:06] jdm commented on #23697
However in a June 10 nightly that supported running with `--angle` the testcase still did not successfully create a webgl canvas.

[2019-07-05 00:24] saschanaz commented on #23219
It seems this is wontfixed in Bugzilla side: https://bugzilla.mozilla.org/show_bug.cgi?id=1536765

[2019-07-05 00:32] saschanaz commented on #20231
This works now.

[2019-07-05 00:32] #20231 closed

[2019-07-05 00:34] saschanaz commented on #23642
I can still reproduce this after #23574.

[2019-07-05 02:02] saschanaz opened #23710 "Implement DOMPoint.fromPoint"
Implement DOMPoint.fromPoint as the spec says: https://drafts.fxtf.org/geometry/#dom-dompointreadonly-frompoint

[2019-07-05 03:51] KiChjang commented on #20908
This sounds like something I should look into.

[2019-07-05 05:31] #22300 closed

[2019-07-05 05:31] #22920 closed

[2019-07-05 06:35] saschanaz opened #23713 "./mach test-wpt --manifest-update causes crash on Windows"
I ran `./mach test-wpt --manifest-update --include /css/geometry` and got:

[code]

`./mach run` runs well, though.

[2019-07-05 06:48] jdm commented on #23713
This is a duplicate of #20365.

[2019-07-05 06:48] #23713 closed

[2019-07-05 08:55] #23614 closed

[2019-07-05 08:55] #23706 closed

[2019-07-05 10:31] paulrouget commented on #23219
About HoloLens: MS recommends VS 2017 for now.

[2019-07-05 11:19] emilio opened #23716 "Servo dispatch too many disconnected callbacks."
I found this while reviewing #23208, though it's pre-existing and probably dates back to the initial custom-elements implementation.

`ScriptThread::enqueue_callback_reaction` is called with `CallbackReaction::Disconnected` every time a node is unbound from a tree, but that is not correct. That bit should be conditional on the node being connected before, since otherwise you get callbacks for stuf

[2019-07-05 11:23] emilio commented on #23716
Filed https://github.com/whatwg/dom/issues/773 since the spec is wrong on this one I believe.

[2019-07-05 12:32] fabrizio8 commented on #6631
Ok, so I see that  `/servo/components/script/dom/globalscope.rs` defines the worker ID generation.
- `/servo/components/script/dom/worker.rs`

and - `/servo/components/devtools_traits/lib.rs` defines `WorkerId` as a u32.

I can work on implementing using UUIDs instead of next_worker_id.
Should any of the related uses of the struct be refactored to something like WorkerUUID or is it okay to leave t

[2019-07-05 15:43] holmes2 commented on #21803
@highfive: assign me

[2019-07-05 15:43] highfive commented on #21803
Hey @holmes2! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-07-05 16:08] jdm commented on #21803
Please ask questions if any part of this task is unclear :)

[2019-07-05 17:14] jdm commented on #23656
I have a working build locally by generating libGLESv2.dll as part of the mozangle build and copying the resulting DLL to the Servo build directory.

[2019-07-05 17:21] jdm commented on #23697
With #23656 fixed and building with `--features no_wgl` to ensure the EGL codepath is taken, webgl context initialization still fails.

[2019-07-05 20:23] jdm commented on #23697
I successfully got a desktop build to display a webgl canvas with the following formula:
* fix #23656 to generate a libGLESv2.dll
* copy libGLESv2.dll to the servo build directory along with libEGL.dll
* build with `--features no_wgl`
* modify https://github.com/servo/rust-offscreen-rendering-context/blob/3e650415caf5ee6a2db18210b1ddafb7f258c39e/src/platform/with_egl/native_gl_context.rs#L15 t loa

[2019-07-05 21:15] jdm commented on #23697
With the previous formula, this simple example fails: http://mdn.github.io/webgl-examples/tutorial/sample4/
[code]

[2019-07-05 21:42] #23710 closed

[2019-07-05 21:42] jdm commented on #23697
Using the previous formula and a `--uwp` build, I successfully loaded http://web.cse.ohio-state.edu/~shen.94/5542/Site/WebGL_files/code00.html in the UWP build. http://mdn.github.io/webgl-examples/tutorial/sample4/ does not display anything, but I see this output:
[code]
[code]

[2019-07-05 22:05] jdm commented on #23697
When I hardcode is_gles() from canvas_traits/webgl.rs to true, the warnings go away. When I make the vslogger print out all info messages, an alert from the page appears:
[code]
This explains the JS error, which comes from `gl.getAttribLocation(shaderProgram, 'aVertexPosition'),`.  It's curious that `gl.getProgramInfoLog(shaderProgram)` returns the empty string, however.

[2019-07-05 22:17] jdm opened #23722 "WebGLProgram::link_called is never set to true"
Code: components/script/dom/webglprogram.rs

`link_called` is supposed to be set to true after `WebGLProgram::link` is called, but that never happens. This means we can get poor diagnostics if we try to link a program after a shader fails to compile, based on reading `WebGLProgram::get_info_log`.

See if `./mach test-wpt tests/wpt/webgl/tests/conformance` shows any unexpected results after making

[2019-07-05 22:17] highfive commented on #23722
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-07-05 22:36] jdm commented on #23697
Adding code to the webgl thread that checks the status of shader compilation and prints out the shader info log if it fails yields the following in the UWP app:
[code]

[2019-07-05 23:47] KiChjang commented on #20908
@jdm I'm actually quite puzzled when you say that ScriptThread and GlobalScope use their own internal microtask queue, because the queue is currently stored as an `Rc<MicrotaskQueue>` everywhere and they are essentially shared between the script thread and the global scope.

[2019-07-06 01:06] jdm commented on #20908
I agree. I think I must have misread the code, since https://github.com/servo/servo/commit/f9034740f17f7b1eb7e5b5b9e2fca43b63d12a4b is quite a bit older than this issue and adds pretty clear documentation. However, reading through the code, I think I do see a problem - [the checkpoint code](https://github.com/servo/servo/blob/aa752e4d45ffad7f336850888ffe3e79fd1d8a08/components/script/microtask.rs#

[2019-07-06 01:18] oneturkmen commented on #20377
When you say:

Do you mean changing in the servo/rust-mozjs repo?

[2019-07-06 01:27] jdm commented on #20377
I am inclined to leave rust-mozjs alone until we demonstrate the usefulness of this idea. This is why I suggested `implement Deref for this new type so it's easy to obtain the inner context pointer` originally, so we can use `*cx` for any code that still requires a `*mut JSContext` argument.

[2019-07-06 02:30] saschanaz commented on #23314
Seems this is fixed.

[2019-07-06 02:40] jdm commented on #23314
<img width="249" alt="Screen Shot 2019-07-05 at 10 40 09 PM" src="https://user-images.githubusercontent.com/27658/60750405-df6d8f00-9f75-11e9-9db7-e673ced0740b.png">
Not in the latest macOS nightly build that I tried.

[2019-07-06 02:41] saschanaz commented on #23314
Oops, I tried this on Windows and it says Yes.

[2019-07-06 02:45] atouchet commented on #23314
I tried it on Windows and it says Yes for me as well briefly before the page crashes in the latest nightly build.

[2019-07-06 02:46] saschanaz commented on #23314
@atouchet Same here, it's #23531.

[2019-07-06 04:42] saschanaz commented on #23703
Working on this...

[2019-07-06 04:55] oneturkmen commented on #20377
So, I am currently getting more than 5K compilation errors, though one of them I cannot understand:

![image](https://user-images.githubusercontent.com/17970732/60751701-c6fe7400-9f77-11e9-84b9-611f95d3ab8d.png)

The new code defined in `script_runtime.rs` does not seem to be in use now (though I defined `Deref` for it). How can I (if I should) import it from `script_runtime.rs` to CodegenRust.py?

[2019-07-06 11:38] jdm commented on #20377
There is a big list of use statements in CodegenRust.py. you can add it there and remove the existing JSContext import.

[2019-07-06 21:39] oneturkmen commented on #20377
I changed all `use js::jsapi::JSContext` to `use crate::script_runtime::JSContext`. I also changed the calls to `cx`, from `cx` to `*cx`, and `Argument('*mut JSContext', 'cx')` to `Argument('JSContext', 'cx')`.

However, for some reason, code still expects JSContext from JSAPI. This is one example:

![image](https://user-images.githubusercontent.com/17970732/60761349-9237fe80-a003-11e9-9815-745ef7

[2019-07-06 23:18] jdm commented on #20377
Did you add the Deref impl for the new struct?

[2019-07-06 23:19] jdm commented on #20377
Oh wait, that's different. That'scode that is executing with a cx bound to a *mut JSContext already.

[2019-07-07 02:45] oneturkmen commented on #20377
yup, I implemented `Deref`. It seems that there is smth beyond `CodegenRust.rs` where this error originates from.

[2019-07-07 02:51] jdm commented on #20377
I recommend looking at the generated source file that is triggering the error to trace it back to the python that is generating it.

[2019-07-07 02:52] jdm commented on #20377
Also if you could push the code, it will be easier to understand what might be causing this behaviour.

[2019-07-07 02:55] oneturkmen commented on #20377
sure thing

[2019-07-07 05:34] KritR commented on #23722
I’d be interested in taking a look at this.
@highfive: assign me

[2019-07-07 23:16] moonlightdrive commented on #12604
I'd like to try fixing this one

[2019-07-08 01:46] jdm commented on #12604
@moonlightdrive Please do :)

[2019-07-08 08:13] paulrouget commented on #23618
This is becoming a problem as I'm working on the HolographicDisplay code. Working on that at the moment.

[2019-07-08 11:24] emilio opened #23728 "Build failure in Fedora due to gstreamer-sdp"
[code]

So `needs_gstreamer_env` needs to be updated, and even if it was updated I wouldn't be able to run due to #23624.

This is a very recent regression, cc @jdm @Manishearth

[2019-07-08 19:23] jdm commented on #23697
Switching from GLSL output to ESSL makes the shaders compile. We now hit an assertion inside the D3D11 state manager: https://github.com/servo/mozangle/blob/2198a1354f895b08412c2e817366dc025bd1083a/gfx/angle/checkout/src/libANGLE/renderer/d3d/d3d11/StateManager11.cpp#L2227

[2019-07-08 19:26] #23631 closed

[2019-07-08 19:26] #23698 closed

[2019-07-08 20:40] jdm commented on #23697
More importantly: we crash when executing https://github.com/servo/mozangle/blob/2198a1354f895b08412c2e817366dc025bd1083a/gfx/angle/checkout/src/libANGLE/renderer/d3d/d3d11/Framebuffer11.cpp#L72 because we use a framebuffer object whose state comes from a framebuffer that was deleted as part of make_not_current (https://github.com/servo/servo/blob/988e38fe0ac225a3762deb1cd5c4bbda6fe37f53/ports/glu

[2019-07-08 20:50] oneturkmen commented on #20377
Btw, when you said

Did you mean only in `CodegenRust.py` file or in all `/dom` files?

[2019-07-08 21:19] jdm commented on #23697
Curiously, forcing readback mode does not affect the crash caused by sharing framebuffer state.

[2019-07-08 21:29] jdm commented on #20377
Any code that is still written to accept `*mut JSContext` will not be able to accept the new `JSContext` values by default. It will probably be easiest to start by passing `*cx` everywhere from inside CodegenRust.py, then slowly adapt callee code piece by piece to accept the new type. It's easier to review and reason about large changes like this piece by piece, rather than all at once.

[2019-07-08 22:00] jdm commented on #23697
If I comment out the make_not_current call then that crash is replaced by a different one.

[2019-07-09 16:10] asajeffrey opened #23733 "Support serializable tasks in script?"
At the moment, script tasks implement `Send` but not `Serializable`, so can't be sent over ipc channels. The fix for this is to use`ROUTER.add_route` to route from an IPC channel to a message handler, which is fine but it does mean the router thread is being context switched in and out for each task. This is fine for infrequent tasks, but possibly expensive if we end up having to do this every rAF

[2019-07-09 16:10] asajeffrey commented on #23733
#23731 is where this came up.

[2019-07-09 16:24] Manishearth commented on #23733
This isn't good enough, we need to be able to serialize DOM nodes too.

What we should do is provide a generic framework using some kind of serializable `Any` type (I bet typetag has something for this) that allows us to produce an object internally containing an IPC or MPSC sender directly to the script task, and on the script task side have a registry of associated state.

[2019-07-09 16:43] asajeffrey commented on #23733
IRC chat: https://mozilla.logbot.info/servo/20190709#c16448695

[2019-07-09 16:59] gterzian commented on #23733
It's not completely clear to me what the goal is here, and there are a couple of things I'm wondering if you have already considered:

1. Having a router thread between the IPC receiver and the event-loop is useful, since it guarantees that a `send` on the other side will not block(remember a `send` can block for underlying OS reasons, even though semantically it is non-blocking).

If the script-t

[2019-07-09 17:29] asajeffrey commented on #23733
The context is #22855: for XR content it would be very nice if we could run the rAF with as many threads as cores. We're very close, the threads that are kept alive by rAF are the script thread, the WebGL thread and the XR session thread (which is the main thread on some devices). Very handily, the ML1 has three cores, so we would be OK if it weren't for the routing threads.

The point about deadl

[2019-07-09 18:28] Manishearth commented on #23733
So I started noting down the plan and then i realized that the script thread doesn't actually listen for messages over IPC, it listens for messages over MPSC, and the constellation is router'd in. So whatever we do, we have to use a router here anyway. It's fine for now to have an XR-rAF-specific router, then.

[2019-07-09 18:31] asajeffrey commented on #23733
Sigh, I guess removing the `ROUTER` would mean drastic changes to how Servo does IPC. More sigh.

[2019-07-09 22:20] jdm opened #23734 "No stdout/stderr in UWP app"
This makes debugging panics much more frustrating than it could be. It would be nice to do something involving the APIs in https://docs.microsoft.com/en-us/windows/console/console-handles to redirect it to OutputDebugString. https://social.msdn.microsoft.com/Forums/sqlserver/en-US/34909aa7-e8ad-4d14-91e2-7df1bc2c6fea/where-does-stdout-printf-cout-go-on-windows-universal-apps?forum=wpdevelop may ha

[2019-07-10 02:35] gterzian commented on #23733
Ok I think I better understand the problem now, and I've proposed a solution at https://github.com/servo/servo/pull/23731/files#r301865074

[2019-07-10 08:32] mmiecz opened #23735 "No cut functionality in clipboard."
When I was refactoring clipboard code, I've noticed that there is no cut functionality, only copy and pase.
Currently, when using cut shortcut ( `CTRL + x` ) on selected text, given text is not being, copied but erased, and `x` letter is being inserted instead.

Since I was working on clipboard before, I think I can implement this functionality, if there is a need :)

[2019-07-10 09:42] sreeise commented on #22366
@ferjm Looking at the specification and then at different websites such as YouTube it looks like there is multiple formats or syntax, at least for specifying temporal clippings for video/audio, that doesn't necessarily match the specification.

According to the spec for temporal clippings, where you can specify start and end times for video/audio, the normal supported formats are NPT, SMPTE, and r

[2019-07-10 11:49] jdm commented on #23735
Yes, that would be helpful!

[2019-07-10 14:51] jdm commented on #23705
With GST_REGISTRY_UPDATE=no and GST_REGISTRY_1_0=C:/nonexistent.bin (just to rule out any registry shenanigans):
[code]
It has been [theorized](https://mozilla.logbot.info/servo-media/20190704#c16438128-c16438149) that the buffering behaviour in our player integration could be causing problems. It's not clear to me why that would only be the case on Windows, though.

[2019-07-10 14:52] jdm commented on #23705
Stack from the crash:
[code]

[2019-07-10 15:01] jdm commented on #23705
Clearly the downloadbuffer is triggering this crash:
[code]
In particular, I do not have a INetCache directory in C:\Users\image\AppData\Local\Microsoft\Windows\.

[2019-07-10 15:21] jdm commented on #23705
If I comment out the code that enables the downloadbuffer, I end up with an endless series of errors and warnings like this:
[code]

[2019-07-10 15:24] jdm commented on #23705
That being said:
* https://joshmatthews.net/videomp4.html starts playing the video \o/
* https://joshmatthews.net/videoogg.html has this output:
[code]