[2018-02-03 20:44] jdm commented on #19142
Yes.

[2018-02-03 20:44] #19142 closed

[2018-02-03 23:34] o0Ignition0o commented on #19505
Hey there :) I've been able to write a rough try to download a (hardcoded for now) nightly version and extract it.

I put the bisect command as a "mach wrapper" for now so I can run any other mach command, eg :
` ./mach bisect run https://www.mozilla.org `
` ./mach bisect help `
` ./mach test --all `

I'm now looking for a way to set the downloaded servo bin as the target I'm supposed to use.

I h

[2018-02-04 03:37] jdm commented on #19505
https://github.com/servo/servo/blob/master/python/servo/post_build_commands.py#L99 is the implementation for `./mach run`, and it relies on [get_binary_path](https://github.com/servo/servo/blob/master/python/servo/command_base.py#L353). There's no built-in way to override the binary that is selected right now; adding an additional argument to the run command that passes a specific binary to use wo

[2018-02-04 04:38] #19703 closed

[2018-02-04 05:21] paavininanda commented on #18613
Hi! I would like to work on this issue. Can someone assign this to me?

[2018-02-04 07:26] paavininanda commented on #18613
On reproducing the same error, lines now consists of empty strings since "\n" will be removed from the resultant text. And hence we are getting an error on setting the selection range as 0 to 1. So what is the expected output? Should it be empty selection ?

[2018-02-04 09:38] anniryynanen commented on #19939
I could probably make the changes myself. I'm thinking I'd add two new features to `malloc_size_of`: `url_traits` and `webrender_traits`. Does that sound ok?

[2018-02-04 11:57] o0Ignition0o commented on #19505
Hi, thanks a lot for your response.

So here's what I'm going to do :

1 - Add a --bin flag to ./mach run to allow a user to specify the path to the executable to run

2 - Add a --nightly | -n flag to allow a user to specify a YYYY-MM-DD date. This flag will :
	Figure out which OS the user is running
	Check the nightlies folder to find out if the nightly version has already been downloaded and ext

[2018-02-04 12:46] emilio commented on #19939
That sounds fine, thank you!

[2018-02-04 13:31] emilio commented on #18613
Probably yes, though probably double-check with: https://html.spec.whatwg.org/#set-the-selection-range :)

[2018-02-04 13:31] emilio commented on #18613
And with what other browsers do, because selection is a mess. Thanks for giving this a shot @paavininanda!

[2018-02-04 14:24] jdm commented on #19505
That sounds great!

[2018-02-04 15:14] nicknadeau commented on #19183
I'd like to work on this one if it's still open!

[2018-02-04 15:24] jdm commented on #19183
@nicknadeau Please do!

[2018-02-04 16:34] CYBAI commented on #19405
I cannot reproduce the issue with latest upstream master (7c112c7dcc)

![image](https://user-images.githubusercontent.com/6782666/35779671-0b31d37c-0a0c-11e8-9b95-2b74c43cf2a3.png)

Instead, I think `padding` of the `div` is not shown correctly.

[2018-02-04 16:37] o0Ignition0o commented on #19505
Just pushed a rough try to handle the --nightly flag.
I really don't like the way I let the -n flag silently fail if an empty string is provided, I'll amend my commit asap ^^'

[2018-02-04 21:31] o0Ignition0o commented on #19505
Ok so I chose to split my merge requests depending on the platforms, because I don't know how yo extract a .msi and a .dmg archive with python ^^'

If you have any hint pease let me know, I'll keep on digging :)

[2018-02-04 21:45] tigercosmos commented on #19885
@alexfjw I reply your letter here. (More clear to show code)

`ComputedValue` is trying to implement `computed value` in CSS.  See https://developer.mozilla.org/zh-TW/docs/Web/CSS/computed_value
The detail reference is  https://doc.servo.org/style/properties/struct.ComputedValues.html

`GetComputedStyle`'s definition is
https://github.com/servo/servo/blob/2a46067587d63aec176621ab3b6112ef5200a248/c

[2018-02-05 02:00] Max-E opened #19951 "Commit 800a66fc114c5724436a8c490bdaaf4d026f4794 regresses slashdot.org"
**To reproduce**
Build servo and load slashdot.org. `./mach run -r -- http://slashdot.org`

I have bisected this down to commit 800a66fc114c5724436a8c490bdaaf4d026f4794. Prior to this commit, slashdot renders decently well (although it has its problems,) after this commit, you just get a solid gray window.

**Platform**
64-bit Linux Mint 18 corresponding to Ubuntu 16.04.

[2018-02-05 02:04] emilio commented on #19951
cc @glennw

[2018-02-05 02:05] Max-E commented on #19951
Since it looks like this commit is graphics related, I'll also add that this is a laptop with Nvidia GTX 970M discrete graphics, I'm using Xorg 1.18.4, and NVIDIA proprietary driver version 387.34.

[2018-02-05 10:05] mrobinson commented on #19676
@pyfisch I think we should avoid running through the serialization pass for this, since serialization/deserialization performance has consistently been an issue with WebRender display lists.

[2018-02-05 13:54] jdm commented on #19087
This was fixed by https://github.com/servo/html5ever/commit/3c993fa6eb63f2f33f9a76d2124b770c0c30f059#diff-e1bfdf8803c27281c69f3f0bb30729cf.

[2018-02-05 13:54] #19087 closed

[2018-02-05 15:35] jdm opened #19958 "selectionStart and selectionEnd default to the end of the content"
[code]
This shows 2, 2 in Servo, but 0, 0 in Firefox.

[2018-02-05 15:37] jdm commented on #19958
Given that the specification says `The initial state must consist of a text entry cursor at the beginning of the control.`, and step 2 of https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#dom-textarea/input-selectionstart says `If there is no selection, return the offset (in logical order) to the character that immediately follows the text entry cursor.`, this looks like a bu

[2018-02-05 17:02] nupurbaghel commented on #19958
I would like to work on this issue.

[2018-02-05 17:39] jdm commented on #16483
@nupurbaghel This would be a good issue to work on. The [Mime](https://doc.servo.org/mime/struct.Mime.html) allows us to store a more structured Content-Type header value than just a string, and we can create specific values through parsing a string value or constructing them like `Mime(TopLevel::Text, SubLevel::Html, vec![])`.

[2018-02-05 17:52] nupurbaghel commented on #16483
Hi Josh,

Thanks for suggesting, I will start looking into it now itself :)

Nupur
Team WeCode

[2018-02-05 18:29] nupurbaghel commented on #16483
@jdm Sure. I will like to take up this issue. It sounds quite interesting :)

[2018-02-05 18:45] KiChjang commented on #19958
cc @jonleighton

[2018-02-05 18:48] paavininanda commented on #19958
@highfive assign me

[2018-02-05 18:48] highfive commented on #19958
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2018-02-05 19:53] asajeffrey opened #19959 "Test performance on web archives of Alexa top sites"
One of the performance dashboards at https://servo.org/dashboards/ measures Servo's performance on archives of web content. It would be good to get as much coverage as we can, for which we need help recording new web archives!

If you'd like to help out with this effort, head over to https://github.com/servo/servo-warc-tests/issues/8 and pick a web site to record. There are pointers to instruction

[2018-02-05 19:53] highfive commented on #19959
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-02-05 19:56] asajeffrey commented on #19959
Pay no attention to the bot behind the curtain :) if you'd like to work on this, head over to https://github.com/servo/servo-warc-tests/issues/8

[2018-02-06 05:23] LiHaoTan opened #19961 "Move `text-emphasis-position` outside of mako"
Part of #19015

[2018-02-06 05:51] glennw commented on #18711
The code in question here no longer exists - the texture allocator was replaced with a deterministic slab-style allocator.

[2018-02-06 05:51] #18711 closed

[2018-02-06 09:14] nox commented on #16483
The `Mime` type with three separate fields is gone from the latest `mime` crate, I wonder if we should wait for that bump before doing this change.

[2018-02-06 10:07] jonleighton commented on #17267
@tigercosmos are you still working on this? If not, I'd like to take a look. I started investigating area of the code this while looking into #17321 and have drawn pretty much the same conclusions as the OP. I think a good approach would be to do a rough port of Firefox's fallback code, although Servo's code will need some restructuring to do that, I think.

[2018-02-06 10:09] tigercosmos commented on #17267
@jonleighton  No. please take it. Thanks for working on it. :)

[2018-02-06 10:11] jonleighton commented on #17267
FWIW [the spec](https://drafts.csswg.org/css-fonts/#font-style-matching) leaves quite a lot of scope for the UA to decide how fallback works. Specifically, step 7:

[2018-02-06 10:19] tigercosmos commented on #17267
For `system font fallback`, there are some discussions in #4901

[2018-02-06 12:30] CYBAI opened #19962 "Use specific debug assertion"
As discussed in [the comment](https://github.com/servo/servo/pull/19953#discussion_r165918713) with @emilio in #19953 , we can open an issue and label it as `E-easy` to change all possible `debug_assertion` to its corresponding specific debug assertion.

Here's the current counting in `components` folder:

[code]

[code]

For example, we can change equal to

[code]

and not equal to

[code]

I thi

[2018-02-06 12:43] SimonSapin commented on #19962
I’m not sure we should do this. The `_eq` and `_ne` macros serialize the values with `std::fmt::Debug`, which we’ve deliberately removed in https://github.com/servo/servo/pull/19779 to reduced code size.

[2018-02-06 12:46] emilio commented on #19962
These are debug assertions though, they don't appear on the final binary.

[2018-02-06 12:47] emilio commented on #19962
Not all of them can be changed, for example: `debug_assert!(a == b || b == c)` cannot be simplified. But for those who can I'm fine with doing that.

[2018-02-06 12:47] highfive commented on #19962
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-02-06 13:46] jdm commented on #16483
I don't see why waiting is a benefit.

[2018-02-06 14:56] #17176 closed

[2018-02-06 14:56] #19287 closed

[2018-02-06 14:56] #19648 closed

[2018-02-06 15:04] janczer commented on #19962
@highfive: assign me

[2018-02-06 15:04] highfive commented on #19962
Hey @janczer! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-02-06 16:31] nupurbaghel commented on #16483
According to my understanding of the file document.rs, the places where Mime type could be included are :
1. CreateElement function : where we check for self.content_type == "application/xhtml+xml”
2. The document object created in new_inherited function which includes :
 IsHTMLDocument::**HTMLDocument => "text/html"** and
 IsHTMLDocument::**NonHTMLDocument => "application/xml"**

But, since other

[2018-02-06 16:43] jdm commented on #16483
When I said leave new and new_inherited as strings, I meant specifically the arguments that they take. When they assign a value for content_type, that should be a strongly-typed Mime value instead.

[2018-02-06 16:44] jdm commented on #16483
If you update the type of the `content_type` member of `Document`, the compiler should point out all of the places that need to be adjusted.

[2018-02-06 18:27] #19939 closed

[2018-02-06 20:44] jdm commented on #16936
More specifically - when the MutationObserver constructor is invoked in components/script/dom/mutationobserver.rs, we should call a method on Window that sets a boolean member. MutationObserver::queue_a_mutation_record should check that member and silently return if it's not set.

@paavininanda This would be a useful task to work on. We can't write an automated test for performance improvements li

[2018-02-06 21:07] jdm commented on #14453
@paavininanda This would be a useful feature to add support for. There are a few parts to it that can be done separately:
* add the basic support for getting and setting Window.name
  * update Window.webidl to uncomment the name attribute
  * store a string member in components/script/dom/windowproxy.rs
  * have Window::GetName and Window::SetName interact with the window proxy
* support HTMLIFram

[2018-02-06 21:12] #18613 closed

[2018-02-06 22:20] emilio opened #19967 "Derive ToCss for Content."
After #19957 lands, there's going to be an easy way to remove some lines of code:

[code]

This can be derived on the `Content` definition using `#[css(iterable)]` introduced in 09a3db8657961a0a4e20b7f296c1339175ab4c76 (#19583).

[2018-02-06 22:20] highfive commented on #19967
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-02-06 22:26] atouchet commented on #19708
@jdm is the plan still to use this roadmap? It hasn't been properly updated since you added the Q1 2017 info.

[2018-02-06 22:38] jdm commented on #19708
No; the information on that page does not reflect the project's current priorities.

[2018-02-06 22:42] atouchet commented on #19708
So there are no plans to update it then? If that is the case it probably shouldn't be promoted on servo.org.

[2018-02-06 23:23] #19936 closed

[2018-02-06 23:34] jdm commented on #19708
I have just finished updating the page with an official roadmap for 2018.

[2018-02-06 23:34] #19708 closed

[2018-02-06 23:45] atouchet commented on #19708
Good to see the roadmap being updated!

@jdm this is probably getting a bit off topic but will the Pathfinder integration bring SVG support to Servo or does more work still need to be done for that?

[2018-02-06 23:53] metajack commented on #19708
Pathfinder brings the ability to render the primitives SVG will need. SVG parsing and display list item creation will still need to be done.

[2018-02-06 23:53] metajack commented on #19708
Also, the first integration will use Pathfinder for fonts. We'll expand from there.

[2018-02-07 09:03] paulrouget opened #19971 "remove browserhtml"
- remove browserhtml
- remove browser api
- remove forcetouch
- test CI and nightly builds

[2018-02-07 12:11] #19962 closed

[2018-02-07 14:44] ProtoGeekAlpha opened #19977 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:
https://research.mozilla.org/2014/04/17/another-big-milestone-for-servo-acid2/
### Servo Version:
Servo 0.0.1-c784bc6
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2018-02-07 14:54] jdm commented on #19977
I haven't been able to reproduce a problem on that page yet. Were you doing anything in particular?

[2018-02-07 15:20] jdm opened #19978 "Intermittent timeout in /FileAPI/url/url-in-tags-revoke.window.html"
[code]

[2018-02-07 17:54] atouchet commented on #19971
How are nightly builds going to be packaged when Browser.html is removed? Will ServoShell or something else be used?

[2018-02-07 18:04] yurket commented on #19840
Ok, I'm back on this PR.
Question: should I call `./mach test-wpt --manifest-update` after adding .ini files and changing `include.ini`? Looks like everything works without it.

[2018-02-07 18:23] jdm commented on #19840
Updating the manifest is only required when the actual test files are modified, so no.

[2018-02-07 20:26] paulrouget commented on #19971
@atouchet https://groups.google.com/forum/#!topic/mozilla.dev.servo/U5zhsBLXovM

[2018-02-08 02:22] fabricedesre opened #19986 "Failure to layout text on multiple lines in some conditions."
When loading the following document on an android device with a 240x320 pixels resolution usinig the fallback fonts, we end up crashing in OOM. This is because somehow the "to Servo!" text fails to be positionned.
[code]

I haven't been able to reproduce on desktop with a window of the same size unfortunately.

Here's a debug log (truncated) : https://pastebin.com/YAGMmf6E
The interesting parts st

[2018-02-08 02:30] fabricedesre commented on #19986
One additional note: increasing the window width (with the initial_window_size option) prevents the issue if the whole "Welcome to Servo!" text fits on a single line.

[2018-02-08 03:34] nicknadeau commented on #19183
So I've done some investigating and just want to make sure I understand correctly.
I'm essentially taking lines 212-216 of box.mako.rs, the overflow-y bit, and feeding it into helpers.predefined_type(...)?
Am I doing the same with overflow-x?

[2018-02-08 03:38] upsuper opened #19988 "Intermittent crash in upgrade-protocol.keep-origin-redirect.http.html"
<details>

[code]

</details>

[2018-02-08 03:52] upsuper opened #19989 "Intermittent timeout in HTMLCollection-as-proto-length-get-throws.html"
[code]

[2018-02-08 03:53] upsuper opened #19990 "Intermittent timeout in /html/syntax/parsing/html5lib_ruby.html?run_type=write_single"
[code]

[2018-02-08 04:08] jdm opened #19991 "Intermittent crash in /websockets/Create-blocked-port.htm (too many open files)"
[code]

[2018-02-08 04:16] jdm commented on #19988
This is #19033.

[2018-02-08 04:16] #19988 closed

[2018-02-08 04:16] jdm commented on #19989
This is #13480.

[2018-02-08 04:16] #19989 closed

[2018-02-08 04:17] jdm commented on #19990
This is #13480.

[2018-02-08 04:17] #19990 closed

[2018-02-08 04:24] jdm commented on #19183
It's a combination of changing those mako lines to use predefined_type, as well as extracting the actual types that used to be generated by mako into proper Rust definitions in style/values, and ensuring that `./mach build-geckolib` continues to work (based on https://github.com/servo/servo/pull/19448#issuecomment-348661344).

[2018-02-08 07:21] paulrouget opened #19992 "The embedder should be handling prompts and alerts"
As of now, alerts are handled by browserhtml via a mozbrowser event, or we use tinyfiledialogs in the script thread. mozbrowser is going away.

We should not use tinyfiledialogs in libservo, but in /ports/.

[2018-02-08 14:07] jdm opened #19995 "Intermittent timeout in /websockets/extended-payload-length.html, /websockets/opening-handshake/002.htm, /websockets/opening-handshake/001.html, websockets/opening-handshake/003-sets-origin.worker.html, /websockets/opening-handshake/005.html, /websockets/opening-handshake/003.html"
[code]

[2018-02-08 14:07] jdm opened #19996 "Intermittent fail in /2dcontext/imagebitmap/createImageBitmap-drawImage.html"
[code]

[2018-02-08 14:22] jdm opened #19997 "Support throttling task queues"
All of our task queues are currently based on channels, so if there's a message ready to be received it is processed immediately. It would be useful to build an extra layer of abstraction around this so support more complex interactions, like throttling the rate at which tasks in a queue are processed to reduce the priority of certain queues.

[2018-02-08 14:46] ferjm commented on #19997
The performance timeline task queue could use this https://github.com/servo/servo/blob/master/components/script/task_source/performance_timeline.rs#L5

[2018-02-08 17:20] fabricedesre commented on #19986
@mbrubeck I've been told that you may figure out something here by looking at the logs :)

[2018-02-08 22:09] fabricedesre opened #19999 "Redirect console output to logcat on Android"
The console output (`components/script/dom/console.rs`) is always sent to stdout. On Android, it should go to the logcat by using the android log service. Using the standard log macros does the right thing so it's an easy change.

What I'd like to get clarification on is how to organize this kind of platform dependent implementation. Should I:
- Pepper the current console.rs with `cfg(target_os =

[2018-02-08 22:17] larsbergstrom commented on #19999
I'm a little bit confused, as Servo on Android has redirected *all* stdout/stderr to Android logcat automatically ever since I first did the port. Did that change? We basically just spun up a background thread that redirected the handles.

I think android_rs_glue has something similar, though https://github.com/tomaka/android-rs-glue/commit/72be8dfca01e4a03191110715e76b001481fab1b may no longer be

[2018-02-08 22:35] fabricedesre commented on #19999
Ha, that's because my device is android-but-not-really, and so it's not using the redirection provided by the android glue.

The standard log macros, when used with eg the android_logger crate do the right thing. Actually most of Servo debug info ends up in logcat this way, just not the console logs.

[2018-02-08 22:38] fabricedesre opened #20000 "Consider adding support for a <webview> tag"
mozbrowser iframes are going the way of the Dodo but they had their use :), eg. to use servo as an Electrom alternative.

In the new embedding world, what's the best way to design that? Have a generic "plug in anything that can draw in a texture" (like an `<embed>` tag) or something more specific to this use case?

cc @paulrouget

[2018-02-09 04:26] nupurbaghel commented on #16936
@jdm I would like to take up this issue.

[2018-02-09 06:56] paulrouget commented on #20000
"Embedding Servo within Servo".

I think the constraint number one is to avoid polluting servo with non web standards.
So yeah, something like an `<embed>` tag that would render any GL texture or maybe a display list would probably be the best option. That means being able to include a remote display list in Servo and do all the event piping. There's also some issues with the way the compositor wo

[2018-02-09 07:58] fabricedesre commented on #20000
Just rendering a GL texture or display list doesn't help much with the api surface needed for document loading state (and history, security state, etc.) right? Who would be in charge of all the networking for instance?

I get he argument of not doing non-standard things, but that looks so close to just a top level pipeline... At least calling it `<webview>` doesn't pollute `<iframe>`.

My use case

[2018-02-09 09:43] paulrouget commented on #20000
You would have 2 instances of Servo.

Implementing a `<webview>` tag on the side of the `<iframe>` tag is certainly possible, as long as it's properly isolated.

I think that the difficult part would be to decouple the concept of parent frame in the compositor, and parent pipeline in the constellation.

Another thing would be to allow special code path in the chrome UI, for example allowing the cr

[2018-02-09 10:50] #16483 closed

[2018-02-09 13:08] jdm commented on #16936
Great! Ask questions about anything that's unclear :)

[2018-02-09 15:25] jdm opened #20005 "Intermittent timeout in /css/css-backgrounds/background-attachment-local/attachment-local-clipping-color-4.html"
[code]

[2018-02-09 17:30] fabricedesre opened #20007 "The <body> element box is not growing with the page content"
Steps to reproduce:
- create `index.html` with this content:
[code]
- Load it in Servo with `./mach run --release -- --resolution=240x320 ./index.html`

Expected:
- The whole content, including the list is enclosed in the body orange border.

Observed:
- The body bounding box is smaller than expected.
![servo-bug-body-border](https://user-images.githubusercontent.com/984767/36040905-bc294242-0d7b-

[2018-02-09 17:51] #10622 closed

[2018-02-09 17:57] jdm commented on #17977
I propose to solve this the following way:
* create a `struct AutoCloseWorker(Arc<AtomicBool>)` type in globalscope.rs
* add a vector of AutoCloseWorker values as a member to GlobalScope
* when a worker is constructed (Worker::Constructor in worker.rs), invoke a method on GlobalScope that pushes a clone of `closing` into the vector
* implement a destructor for AutoCloseWorker (`impl Drop for AutoC

[2018-02-09 18:14] jdm commented on #18651
This is a more minimized testcase:
[code]

[2018-02-09 19:06] mbrubeck commented on #19788
This behavior is specified here: https://drafts.csswg.org/css2/tables.html#table-layers

[2018-02-09 19:22] mbrubeck commented on #19788
[`TableRow::build_display_list`] is currently responsible for drawing this background.  It delegates to a `BlockFlow` method, which doesn't know about the special rules for table row/column/rowgroup/colgroup background areas.

Perhaps `FragmentDisplayListBuilding::build_display_list_for_background_if_applicable` should not draw any background for table rows (or columns, or rowgroups, or colgroups)

[2018-02-09 20:00] pyfisch opened #20008 ""Broken" test content-height-005.html"
The test /css/CSS2/visudet/content-height-005.html is weird. It is a "mismatch" test and the reference is /css/CSS2/visudet/reference/content-height-005-ref.html which outputs some CSS source due to a missing tag. The text description is `Test passes if there are <strong>more than 2</strong> lines below.` but no lines are displayed in neither the test or the reference.

I believe this test just pa

[2018-02-09 20:23] jdm commented on #20008
This is clearly just a typo in the test, based on https://github.com/w3c/web-platform-tests/commit/5021aba0034c64b1d1fd822dc377c4c67a4e395c.

[2018-02-09 20:25] jdm commented on #20008
I've opened https://github.com/w3c/web-platform-tests/pull/9468 upstream. Thanks for pointing this out! Now that we have regular syncing with upstream happening, it's not a big deal to make changes upstream that aren't directly related to Servo changes.

[2018-02-09 20:29] #20008 closed

[2018-02-09 21:28] pyfisch opened #20009 "Investigate negative sized rects in flexbox fragments"
For example the test /css/css-flexbox/flexbox_inline.html contains this fragment:

[code]

It has a negative height. This is probably because https://drafts.csswg.org/css-flexbox-1/#resolve-flexible-lengths is not completely implemented.

[2018-02-09 22:27] ProtoGeekAlpha commented on #19977
M. JDM,

¡Namaste 🙏🏽! :-) Stacie & j'espère que vous avez un amour, béni, heureux, en bonne santé, et un "Live Long et Prosper" -Votre-Selves Day ... ¡Happy 20-GrEighteen!

Merci de votre attention à cette question.

"Cette danse n'est pas pour tout le monde."

Je danse seulement avec l'interface utilisateur graphique ... j'ai dansé depuis 1973 avec des descendants de deuxième génération d'ordinat

[2018-02-09 23:15] haxxorsid commented on #1799
Is the effort needed small, medium or xlarge?

[2018-02-09 23:44] mbrubeck commented on #19986
Hmm, this looks really similar to #11642 which mysteriously went away.

[2018-02-10 00:52] frivoal commented on #20008
indeed it was a typo. Thanks for finding it and submitting the patch. PR approved and merged.

[2018-02-10 01:13] jdm commented on #1799
The effort is still very large. I have proposed a [Google Summer of Code project](https://github.com/servo/servo/wiki/Prototype-ways-of-splitting-the-script-crate) to investigate the ideas we have discussed in this thread.

[2018-02-10 09:18] nupurbaghel commented on #16936
I wanted to confirm about what the tests should include? I tried changing the attributes of paragraph tag(e.g. color) and noted the time taken for the same. Is there anything else which I need to add?

[2018-02-10 20:38] pyfisch commented on #5162
they do now

[2018-02-10 21:33] kanaka opened #20015 "Headless testing (webdriver) causes servo crash on 12th load/screenshot operation"
I have a script that uses webdriver to load a test page and then screenshot it. On the 12th load of the page servo crashes.

This is a followup to https://github.com/servo/servo/issues/18606 in which rendering would partially fail after four load/screenshots. That bug is now fixed, but while confirming the fix I discovered this bug.

This is with a servo release build of 0d7c227 (Feb 7, 2018).

He

[2018-02-10 21:34] kanaka commented on #18606
@glennw thanks for fixing this! I have confirmed that this behavior no longer occurs for me. In the process of confirming however, I discovered a new one, this time a crashing bug after 12 loads: https://github.com/servo/servo/issues/20015

[2018-02-11 05:43] #5162 closed

[2018-02-11 14:27] paavininanda commented on #14453
@jdm I would like to take up this issue.
Now for the SetName function, do i need to check any validity for `U+005F LOW LINE characters` ? Because I could't find any example where window.name="something" would throw an error in Chrome.

[2018-02-11 15:16] nupurbaghel commented on #19967
@highfive: assign me

[2018-02-11 15:16] highfive commented on #19967
Hey @nupurbaghel! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-02-11 15:25] jdm commented on #14453
No. There are no checks anywhere whether the name matches the restrictions of a valid browsing context name.

[2018-02-11 19:34] pyfisch opened #20020 "text_query does not work for input boxes with multiple fonts"
The text queries do not work when I mix different scripts like in "Επιστήμη υπολογιστών foobar". It will be impossible to move the cursor inside "foobar".

[2018-02-11 19:57] #19967 closed

[2018-02-12 02:17] glennw opened #20023 "Update servo and dependent crates to log 0.4.x"
WebRender has switched to the latest log crate version (https://crates.io/crates/log), but this causes test-tidy issues in Servo, which has a large number of dependencies targeting 0.3.x.

The test-tidy script reports the following crates using the old log version:

[code]

We should start the process of updating these dependencies to use the latest log crate.

In the interim, to enable a WR updat

[2018-02-12 02:17] glennw commented on #20023
@jdm or others - any comments on preferred interim workaround?

[2018-02-12 03:14] jdm commented on #20023
`hyper` is the crate that's likely to be the longest pole in that list. I don't mind updating as many as possible and adding an exception for the rest.

[2018-02-12 11:55] mateon1 opened #20028 "textarea setRangeText(): byte index 1 is not a char boundary"
Found with domato.

[code]

[code]

[2018-02-12 12:08] mateon1 opened #20029 "assertion failed: rect.size.height >= Zero::zero()"
Found with domato

[code]

[code]

[2018-02-12 15:56] jdm commented on #16936
From IRC:
[code]

[2018-02-12 16:32] nupurbaghel commented on #16936
Okay, so I understand the 4 tests. But, since we want to test on both changed and unchanged servo, we cannot have both the results together. All I can do is test all of these and let you know of the timings as obtained in my computer. I hope I am thinking in the right direction.....

[2018-02-12 16:48] jdm commented on #16936
You are correct. All we can do is include the test file in tests/html to allow other people to reproduce the results if necessary.

[2018-02-12 22:02] pyfisch commented on #20029
this is another failure (besides the flexbox ones) caused by #19942

[2018-02-12 22:52] #19958 closed

[2018-02-13 09:01] Eijebong commented on #20023
Yeah, hyper is the blocking one (again), I'm pretty sure updating every other one is going to be easy as there were no huge breaking changes between 0.3 and 0.4.
In the meantime, if we don't mind having 2 versions of log, log 0.3.9 is just a shim over 0.4 so it should just work.

[2018-02-13 09:07] Eijebong commented on #20023
- [ ] bindgen
- [ ] blurmac
- [ ] env_logger
- [ ] gaol
- [ ] gl_generator
- [ ] html5ever
- [ ] hyper
- [ ] influent
- [ ] mime
- [ ] mio
- [ ] mozjs
- [ ] offscreen_gl_context
- [ ] plane-split
- [ ] rust-webvr
- [ ] webdriver
- [ ] ws
- [ ] xcb
- [ ] xml5ever

[2018-02-13 10:24] Eijebong opened #20037 "Update gl_generator to 0.9"
- [x] https://github.com/servo/gleam/pull/141
- [x] https://github.com/servo/rust-glx/pull/20
- [x] https://github.com/emilio/rust-offscreen-rendering-context/pull/119
- [x] https://github.com/MortimerGoro/rust-webvr/pull/14
- [x] https://github.com/servo/glutin/pull/144
- [ ] https://github.com/tomaka/glutin/pull/992 since it's getting unforked

[2018-02-13 12:56] o0Ignition0o commented on #19505
Ok so it seems like passing the -qi flags to msiexec.exe (on windows) should allow me to silently install a servo build, but I'm not sure at all I wouldn't mess any registry keys / already installed versions of servo.
Could anyone please point me to someone knowledgeable on windows installers so I can get more insights ?

PS : In the mozilla-unified repository, we seem to use [executables](https:/

[2018-02-13 14:54] #19971 closed

[2018-02-14 12:59] XVilka opened #20045 "WebP support request"
Unlike the famous WebM hack, when videos are used as animated images, WebP is the only format supporting both animation and transparency, to be a best replacement for GIF.

See https://bugzilla.mozilla.org/show_bug.cgi?id=600919 and https://bugzilla.mozilla.org/show_bug.cgi?id=1294490 for the reference

[2018-02-14 15:37] jdm opened #20048 "Intermittent timeout in /xhr/xmlhttprequest-sync-default-feature-policy.sub.html"
[code]

[2018-02-14 15:50] o0Ignition0o commented on #19505
Thanks a lot, I ll give it a try :)

[2018-02-14 16:34] jdm commented on #19251
@pandusonu2 Are you still working on this? Have you made any progress?

[2018-02-14 20:39] jdm commented on #19937
/fetch/api/cors/cors-preflight-referrer.any.worker.html is another instance.

[2018-02-14 22:37] dholbert commented on #19698
@jdm:

Was this just referring to the compilation error being fixed?  Or also the warning that @paulrouget mentioned in the next comment:
[code]

?

(I've been noticing that warning when building mozilla-central -- including on a trivial rebuild of an already-fully-compiled tree.  And I'm wondering if that's tracked anywhere as a known issue & if there's anything easy we can do to fix it. Not sure

[2018-02-14 22:42] dholbert commented on #19698
Ah, partially answering my own question: looks like this warning was discussed in https://mozilla.logbot.info/servo/20180208 , and @staktrace had an idea about how to fix it. Did that end up spinning off to an issue/bug somewhere?

[2018-02-14 22:53] jdm opened #20052 "Random web content generator"
This is a tracking issue for the [student project](https://github.com/servo/servo/wiki/Random-web-content-project) to create a fuzzer for random web content. Besides stress-testing Servo's implementation, the goal is to make it easy to find testcases that are rendered differently by Firefox and Servo.

This is intended for a group of students at NCSU to work on. Please talk to me before starting t

[2018-02-14 23:02] jdm commented on #19797
This is available for anybody who is interested in working on it.

[2018-02-14 23:02] jdm commented on #19795
This is available for anybody who is interested in working on it.

[2018-02-14 23:04] jdm commented on #19223
Opening this up to other people to work on, since it's been three months without any activity.

[2018-02-15 00:03] SimonSapin commented on #19698
Both are fixed in Servo because we stopped overriding serde with `[patch.crates-io]`. But it looks like Gecko still does, to apply an optimization made by @Gankro that is not present upstream.

I believe Cargo will emit this warning even if it ends up deciding to rebuild nothing because everything is up to date. I don’t know if it indicates a real problem, though.

[2018-02-15 01:36] staktrace commented on #19698
@dholbert I haven't filed it yet but I can do that tomorrow. I have a tab open that reminds me every day but keep putting it off.

[2018-02-15 03:08] dholbert commented on #19698
Thanks!

[2018-02-15 10:00] ferjm commented on #16107
The getter part landed in #19754

[2018-02-15 10:49] pyfisch commented on #20052
Does that mean all web content should be the same pixel by pixel in Firefox and Servo? I would find this really impressive even for simple examples.

[2018-02-15 13:33] pandusonu2 commented on #19251
@jdm Yeah! I'm trying to work to understand as much as possible. I refered to @olmanz branch and I understood the following changes have been implemented by him
- Make HttpCache derive MallocSizeOf
-- Include malloc_size_of and malloc_size_of_derive in Cargo.toml file
-- Make CacheKey derive MallocSizeOf. Hence implement it for CacheKey, CacheResource, CacheResourceData
- use run_with_memory_repor

[2018-02-15 15:03] Dylan-DPC commented on #15371
Hey. I can take this up

[2018-02-15 16:06] jdm commented on #15371
That would be great! Please ask questions if anything is unclear!

[2018-02-15 23:31] terracotaPie commented on #19879
@highfive: assign me

@jdm Your talk at U of T was too good - I am back

[2018-02-15 23:31] highfive commented on #19879
Hey @terracotaPie! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-02-15 23:34] terracotaPie commented on #19879
@jdm Am I on the right track - should I dig in style/values/generics/transform.rs? Thanks in advance :)

[2018-02-16 11:29] #16107 closed

[2018-02-16 11:31] ferjm commented on #18471
I was not able to reproduce this panic and #17176 was recently fixed, so I assume that this was indeed a duplicate. Please, reopen the issue if you find the panic again.

[2018-02-16 11:31] #18471 closed

[2018-02-16 12:02] ferjm opened #20060 "Fix remaining WPT failures for element.innerText"
There are still several tests failing for the getter of `element.innerText`.

Check: https://github.com/servo/servo/blob/master/tests/wpt/metadata/innerText/getter.html.ini

The table related ones are likely because of missing support [here](https://github.com/servo/servo/blob/master/components/layout/query.rs#L1027). The others require further investigation.

Blockers:
- [ ] Support `visibility:

[2018-02-16 14:20] yurket commented on #19840
Looks like *wpt* tests fully replace *mozilla*, except of 3 tests:
[code]
But these 3 were [removed](https://github.com/w3c/web-platform-tests/commit/de7719144e1c7da2ca8d6a543bec428fcfd3c30f) from wpt repo. So I assume, I can remove the whole directory and meta files?
Should I remove anything else except `tests/wpt/mozilla/tests/mozilla/css-paint-api` and `tests/wpt/mozilla/meta/mozilla/css-paint-

[2018-02-16 14:23] jdm commented on #19840
Yes, I agree with your conclusions. You shouldn't need to remove any other files besides the ones you mention, and you will need to update the manifest.

[2018-02-16 14:33] mkollaro commented on #10209
I plan to attempt glGetTexParameter.

[2018-02-16 18:09] #16936 closed

[2018-02-16 19:16] jdm commented on #19879
Unfortunately, it appears to be more complex than simply how the transform is interpreted. Using the following testcase, it's easier to see what's going on:
[code]
Firefox:
<img width="60" alt="screen shot 2018-02-16 at 2 16 23 pm" src="https://user-images.githubusercontent.com/27658/36324902-fcc256e2-1323-11e8-9727-96128a170f82.png">
Servo:
<img width="64" alt="screen shot 2018-02-16 at 2 16 34 p

[2018-02-16 19:20] jdm commented on #19879
This is a layout issue where the content for the :after pseudo-element isn't positioned in the place that it's expected.

[2018-02-17 01:42] rich-sjt opened #20066 "Servo build error"
error: linking with `cc` failed: exit code: 1
  = note: /usr/bin/ld.gold: error: cannot find -lbz2
          /usr/bin/ld.gold: error: cannot find -lbz2

[system_info.txt](https://github.com/servo/servo/files/1733319/system_info.txt)
[Servo_build_error.txt](https://github.com/servo/servo/files/1733320/Servo_build_error.txt)

[2018-02-17 11:12] CYBAI commented on #19879
@jdm Thanks for your summary!!!

[2018-02-17 15:54] nupurbaghel commented on #17977
@jdm: I would like to work on this issue.

[2018-02-17 16:20] rich-sjt commented on #20066
Thanks, I should have caught that.

[2018-02-17 16:20] #20066 closed

[2018-02-17 21:43] fabricedesre commented on #19992
How do you see that work? Using an additional method in the embedder and let the embedder send back a message to unblock the script thread execution?

[2018-02-18 09:41] nupurbaghel commented on #17977
Implementing step 3 ( push a clone of closing into the vector ) requires vector to be mutable. So, I was trying to use Cell<Vec<AutoCloseWorker>> as a member of Global Scope. But the Cell's get( ) method requires Copy( ) to be implemented which is probably not present for the Arc<AtomicBool>. How should I proceed ?

[2018-02-18 17:14] modal-d17 commented on #19251
Heyo,

Although I am not assigned, is it possible for me to look into this too?

[2018-02-18 21:36] emilio commented on #19183
Hi @nicknadeau, have you managed to make any progress on this?

Thanks!

[2018-02-18 21:45] nicknadeau commented on #19183
Hi @emilio, progress has been a little slow, just got out of midterms. I'll be giving this bug a go over the next few days and I'll update my status by mid-late week and let you know if I have any questions.

I hope that's alright, sorry for the slow start.

[2018-02-18 21:51] emilio commented on #19183
Sounds great, no worries, and thanks! :)

[2018-02-19 00:12] paulrouget commented on #19992
Yes. See how `allow_navigation` works for example.

[2018-02-19 11:38] ferjm commented on #18630
I cannot reproduce this panic. It seems that #19881 removed the affected code path.

[2018-02-19 11:45] ferjm commented on #18628
I cannot reproduce this panic. It seems that #19933 fixed it.

[2018-02-19 11:50] emilio commented on #18628
Let's land the crashtest?

[2018-02-19 11:56] ferjm commented on #18630
I better land the crashtest before closing.

[2018-02-19 11:59] emilio commented on #18630
We do have a crashtest for this, which landed in #19803, though it's slightly different, so adding this one would be valuable too indeed :)

[2018-02-19 12:35] emilio commented on #19961
Hi @LiHaoTan, have you made any progress here? Anything I can help with? Thanks!

[2018-02-19 12:35] emilio commented on #19940
Hi @GloverDonovan, have you made any progress here? Anything I can help with? Thanks!

[2018-02-19 12:38] LiHaoTan commented on #19961
I'm sorry I have been busy for a while.

I will work on this ASAP or if I'm holding any progress I suppose anyone can take this right?

[2018-02-19 12:42] emilio commented on #19961
Yes, it's fine, let's keep it assigned to you as long as you plan to work on this, this is not particularly urgent. Thanks for the fast reply, and let me know if I can help!

[2018-02-19 14:52] jdm opened #20074 "Intermittent crash in /html/semantics/tabular-data/processing-model-1/span-limits.html"
This demonstrates a limitation of ipc-channel on mac, since the error is "Send is too large for port" in this case:
[code]

[2018-02-19 15:43] GloverDonovan commented on #19940
Hi @emilio,

Don't mind me. I've been learning a lot about how Rust works (and the web specifications). I'll eventually figure out how to fix this issue, but right now I'm still learning. I'll ask on IRC if I need any help.

[2018-02-20 00:42] modal-d17 commented on #19251
@pandusonu2 Are you working on this? Is it okay if I give it an attempt? @jdm

[2018-02-20 09:38] csmoe commented on #19795
I'll work on it.

[2018-02-20 13:25] redmanmale commented on #19901
Same on Win 7.

`Failed to create window.: OsError("CreateWindowEx function failed: The operation completed successfully. (os error 0)") (thread main, at libcore\result.rs:916)`

[2018-02-20 15:11] jdm opened #20084 "Intermittent fail for /html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/javascript-url-abort-return-value-undefined.tentative.html"
[code]

[2018-02-20 15:13] jdm commented on #19795
Great! Please ask questions if anything is unclear!

[2018-02-20 17:13] jdm opened #20087 "Intermittent python/cmake segfault during codegen on servo-mac3"
[code]

[2018-02-20 20:45] mateon1 commented on #20052
Existing project: https://github.com/google/domato
With small modifications to the generator grammar, it's a really strong fuzzer that still finds new bugs in Servo. The biggest issue is generating small useful crashtests out of the massive blobs of html it creates.

[2018-02-20 21:52] mateon1 opened #20090 "window.gc(): DomRefCell<T> already borrowed: BorrowError"
Found by accident while using domato.

This is a relatively recent breakage, window.gc() used to work just fine a few months ago.

[code]

[code]

[2018-02-20 21:54] jdm commented on #20090
This is a result of https://github.com/servo/servo/pull/19872. cc @nox

[2018-02-20 22:56] Manishearth opened #20092 "We don't properly support rowspan"
Creating tables that have elements with rowspan will correctly place cells in the next row,  but the element will not occupy the extra row.

We need to correctly calculate the element's size (and correctly use that when calculating the row's size)

[2018-02-20 22:58] Manishearth opened #20093 "Correctly position table cell backgrounds"
https://github.com/servo/servo/pull/20034 adds support for column backgrounds and fixes row backgrounds, but it does not fix the background positioning. These backgrounds should be drawn as if they were covering the entire column, and then clipped to the cell.

[2018-02-20 23:40] Manishearth commented on #20092
https://www.w3.org/TR/CSS22/tables.html#height-layout

[2018-02-21 06:40] aishpant commented on #19797
I would like to work on this.

[2018-02-21 13:36] brainlessdeveloper commented on #18015
@nox I'm trying to fix this after some months (again haha), here's my progress:

https://github.com/brainlessdeveloper/servo/commit/033a171b7240060a2ddcc41780a3748b07dd2f09

I'm stuck with the type errors because I don't completely understand where they come from and how I should go about fixing them. I need some pointers in the right directions :(

Here's a [pastebin](https://pastebin.com/BKuE6SJ

[2018-02-21 18:12] #19788 closed

[2018-02-21 18:54] Manishearth opened #20099 "Intermittent font crash with "failed to receive response to font request" on /2dcontext/text-styles/2d.text.baseline.default.html , /html/semantics/selectors/pseudo-classes/checked.html"
http://build.servo.org/builders/linux-rel-wpt/builds/7994

[code]

[2018-02-21 18:55] Manishearth opened #20100 "Intermittent timeout on /css/CSS2/floats-clear/clear-float-003.xht"
https://github.com/servo/servo/pull/20034#issuecomment-367292861

http://build.servo.org/builders/linux-rel-wpt/builds/7989

[2018-02-21 21:59] jdm commented on #20099
This is #13492.

[2018-02-21 21:59] #20099 closed

[2018-02-21 22:00] jdm commented on #20100
This is #13509.

[2018-02-21 22:00] #20100 closed

[2018-02-21 22:00] jdm commented on #13316
This is #13492.

[2018-02-21 22:00] #13316 closed

[2018-02-21 22:00] jdm commented on #12987
This is #13492.

[2018-02-21 22:00] #12987 closed

[2018-02-21 22:01] jdm commented on #12540
This is #13492.

[2018-02-21 22:01] jdm commented on #11563
This is #13492.

[2018-02-21 22:01] #11563 closed

[2018-02-22 00:36] hiikezoe commented on #13583
Happened on /referrer-policy/origin-when-cross-origin/http-rp/same-origin/http-https/iframe-tag/same-origin-downgrade.no-redirect.http.html. #20102

[2018-02-22 01:28] jdm commented on #13583
This is #13730.

[2018-02-22 01:28] #13583 closed

[2018-02-22 01:46] nicknadeau commented on #19183
Ok I've started out on a similar foot to olmanz and used overscroll-behaviour as an example to mimic.
So far I'm passing only a subset of the params into predefined_type and `./mach build` seems to work fine but of course I've not taken care of the gecko bit yet so the gecko build breaks.

I'm just stuck here, I'm really not sure how to deal with some of these params. For instance, I've tried send

[2018-02-22 09:38] 62mkv commented on #19183
maybe someone removes E-easy label ? judging by history it's "anything but" easy

[2018-02-22 13:41] nicknadeau commented on #19183
Well to be fair I've only spent ~2 hours on this so far, I'll keep tracing things and see what I can figure out.

[2018-02-22 14:19] jdm commented on #18015
I asked on IRC, and nox gave this helpful answer:
[code]
Does that help? There should be a single ListStyleImage type that is generic over the inner value, instead of two separate ones.

[2018-02-22 14:30] jdm commented on #19797
@aishpant That would be great! Please ask questions if anything is unclear!

[2018-02-22 15:10] emilio commented on #19183
FWIW, it should be easier now, the relevant prerequisites have already landed, like https://github.com/servo/servo/pull/19578.

[2018-02-22 15:12] emilio commented on #19183
Sorry I missed this before, you should stop using `gecko_constant_prefix` into `predefined_type`, and then write the conversion manually like we do for other keywords, like `overscroll-behavior`.

[2018-02-22 15:15] #19840 closed

[2018-02-22 19:36] #17977 closed

[2018-02-22 19:43] jdm commented on #20087
I've tried rebooting servo-mac3.

[2018-02-22 22:03] jdm commented on #16404
According to https://html.spec.whatwg.org/multipage/links.html#link-type-stylesheet:concept-link-obtain we should only initiate the network request when one of the given conditions is true. The media attribute changing is not included in that list.

[2018-02-22 22:25] atouchet commented on #12540
Was this supposed to have been closed?

[2018-02-22 22:35] jdm commented on #12540
There's enough information in this issue that I'm going to keep it open.

[2018-02-23 04:16] csmoe commented on #19795
@jdm When I tried to `./mach test unit`, it complained:
[code]
`cargo vendor` Output:
[code]
I have searched for this error, but those discussions didn't help.

[2018-02-23 06:53] fabricedesre opened #20109 "Pinch to zoom support"
When an embedder sends a sequence of touch events such as:
TouchEventType::Down, one or more TouchEventType::Move, TouchEventType::Up these are correctly used to pan the page and/or synthetized a click.

However when there are multiple TouchId tracked, they are not taken into account to provide a pinch to zoom functionality.

[2018-02-23 06:55] fabricedesre opened #20110 "Kinetic scrolling support"
When an embedder sends a sequence of touch events such as:
TouchEventType::Down, one or more TouchEventType::Move, TouchEventType::Up these are correctly used to pan the page but the scrolling is not done with a kinetic accumulator.

[2018-02-23 07:23] fabricedesre opened #20111 "Full page flexbox layout doesn't fill the page"
Consider the following html document:
[code]

Expected result:
- The `#header` is sticky to the top of the page,
- The `#footer` is sticky to the bottom of the page,
- The `#content` fills all the space between the header and footer.

Observed:
Each element just takes the minimal height needed when loading the document in Servo.

[2018-02-23 08:51] janvi-palan commented on #16404
@jdm I will take this up!

[2018-02-23 15:28] jdm commented on #19795
Does this happen as part of the regular `./mach build` too?

[2018-02-23 15:31] csmoe commented on #19795
Yes, this error can be reproduced with `./mach build -d` or `-r`

[2018-02-23 15:32] jdm commented on #19795
What operating system are you using?

[2018-02-23 15:35] csmoe commented on #19795
os: ManjaroLinux - linux kernel 4.14.20-2-MANJARO
rustc: rustc 1.25.0-nightly (15a1e2844 2018-01-20)
cargo: cargo 0.26.0-nightly (6a8eb71f6 2018-01-13)

[2018-02-23 17:33] jdm commented on #17243
The debug output from #20086 shows that it is the `git push` that fails.

[2018-02-23 18:13] jdm commented on #19795
That's an error message that comes from libgit2, which Cargo relies on. I have no idea what to recommend, unfortunately. You may want to file an issue in https://github.com/rust-lang/cargo/.

[2018-02-23 19:33] modal-d17 commented on #19251
@jdm Hello. Running the memory report using `./mach run --memory-profile 5 , I'm getting this output measuring cached responses:
[code]
I'm unsure of what standard to measure the report to determine if the measurement is correct!
A `HttpCache` has a `HashMap<CacheKey, Vec<CacheResource>>`
I'm measuring the `CacheResource` as so:

[code]
Although, I'm pretty sure this is not right since the payload

[2018-02-24 01:06] mozkeeler opened #20113 "the HSTS preload list includes entries that are not considered HSTS"
transport_security_state_static.json includes entries that are not considered by Google to be HSTS. The ones that are will have the property "mode" with the value "force-https". Only these entries should be included.

[2018-02-24 20:09] sarkhanbayramli commented on #20028
Hi, I would like to work on this issue. Would it be considered a good first bug?

[2018-02-24 21:48] emilio opened #20116 "Servo's transitions code stopped making sense after #15900."
In particular, what used to update the _new_ style (as expected, since that's what you're animating), started updating the old style:

[code]

Which doesn't really make sense.

[2018-02-25 00:00] emilio commented on #8085
This presumable needs to be true forever, not loading sheets where the media doesn't match will mess up CSSOM and what not.

[2018-02-25 00:05] emilio opened #20118 "Removal / dynamic changes to the <link media> attribute don't work."
Maybe changes work before #20115, it's not totally clear to me, but removals definitely don't... We should fix that.

[2018-02-25 00:27] emilio commented on #20118
Testcase for `<style>`, which is equally broken:

[code]

`<link>` is broken in the same way:

[code]

[2018-02-25 00:59] #16404 closed

[2018-02-25 18:41] nicknadeau commented on #19183
My progress so far:
https://github.com/nicknadeau/servo/commit/97d138dc370e542e5ec0ef04b31541da37238732
https://github.com/nicknadeau/servo/commit/ed6524aa94b03d248bbd90885c7f117e06c66098

In gecko build I get the following error coming from set_overflow_y in gecko.mako.rs
Still trying to figure out what overflow_x.keyword is doing

...
File  "/home/nick/Desktop/servo/components/style/properties/g

[2018-02-25 19:48] doraemon96 commented on #51
What is the status of this issue? What has been done and what has to be done?

[2018-02-25 19:51] redox-questions opened #20120 "Servo should only support HTTPS connections, zero without "S""
Hello,

first, this looks like a great future project, next-gen webbrowser, wow.

Second, I think it should only support HTTPS connections and not plain HTTP.

If it points to the future.

only problem: OCSP uses plain HTTP: https://moxie.org/papers/ocsp-attack.pdf

[2018-02-25 20:18] jdm commented on #51
As filed, this issue does not really make any sense at this time.

[2018-02-25 20:18] #51 closed

[2018-02-25 20:21] jdm commented on #20028
@sarkhanbayramli I believe so. The only reason that I didn't mark it as one is that I haven't looked closely at what the right solution is. My suspicion is that all of the code in textinput.rs that performs byte indexing using the subscript operator ([]) is at risk of triggering failures like this one, so we would need to rewrite the code to not use it.

[2018-02-26 01:12] sarkhanbayramli commented on #20028
@jdm Sounds good, I'll start working on the bug as soon as possible. Would you be able to assign it to me?

[2018-02-26 01:14] nakul02 commented on #19223
@jdm - I wanted to give this a try.
Needed a little help:
I am struggling trying to find a way to get a reference to the `ProfilerChan` object defined in `servo::new` to pass into the `profile_traits::time::profile` function.

[2018-02-26 04:10] jdm commented on #20087
This continues to happen since the reboot.

[2018-02-26 05:00] #14453 closed

[2018-02-26 08:40] lnicola commented on #12015
For anyone interested, the official `servo` builds can be tested on Arch by installing `openssl-1.0`. It can be used side by side with `openssl 1.1`.

[2018-02-26 12:59] doraemon96 commented on #19224
@shershen08 Are you still using the same pc? Could you tell me the output of `lspci` ?

[2018-02-26 14:59] jdm commented on #20028
Done!

[2018-02-26 15:24] jdm commented on #19223
@nakul02 The idea would be that instead of calling `ipc::channel::new()`, we would call a different function that accepted the `ProfilerChan` object as an argument, and return a structure that contains the actual IPC receiver as well as the ProfilerChan object. We then need to make sure that the ProfilerChan is available in each place we call the new constructor function. Does that make sense?

[2018-02-26 18:58] nakul02 commented on #19223
@jdm - What I've done so far is this:
https://github.com/servo/servo/compare/master...nakul02:issue_19223
So the `ProfilerChan` being available wherever the new `channel` function makes sense. Although, for the examples you've posted, `servo/components/script/dom/screen.rs` & `servo/components/script/dom/storage.rs`, I couldn't find a way to get a handle of the `ProfilerChan` object that is instan

[2018-02-26 19:23] atouchet opened #20126 "Dead links in style.md"
https://github.com/servo/servo/blob/master/docs/components/style.md

These links no longer work:

http://doc.servo.org/style/selector_parser/trait.SelectorImplExt.html
http://doc.servo.org/style/servo_selector_parser/struct.SelectorImpl.html
http://doc.servo.org/selectors/matching/struct.Rule.html
http://doc.servo.org/selectors/matching/struct.SelectorMap.html
http://doc.servo.org/style/stylist/st

[2018-02-26 20:10] jdm commented on #19223
GlobalScope allows retrieving the channel: https://github.com/servo/servo/blob/master/components/script/dom/globalscope.rs#L266. In both cases, you can use `self.global()` to obtain the GlobalScope associated with the DOM object.

[2018-02-26 20:32] jdm commented on #17243
I think the best way to figure out the problem here will be to run this script on one of servo-linux1 or servo-linux2 so the output from the git push command is visible.

[2018-02-26 20:46] asajeffrey opened #20127 "New test failures in test-perf"
We started getting more test failures in test-perf, starting 2018-01-20. https://datastudio.google.com/u/0/reporting/1b16G5pQNp2lE-1nNcPlOure9G0eR36cq/page/heOK

![screenshot-2018-2-26 servo test-perf](https://user-images.githubusercontent.com/403333/36693802-068ca106-1b02-11e8-959e-e431f37b3ef8.png)

An example that used to pass is `http:/localhost:8123/page_load_test/tp5n/en.wikipedia.org/en.wik

[2018-02-26 21:48] jdm commented on #13480
Finally got some more useful debug output:
[code]
So this definitely looks like a bug in ipc-channel, since the target of the WR API message is still alive, and there should be no way for the sender that was provided for the sync response to be dropped before sending the reply message.

[2018-02-26 21:49] jdm commented on #20127
Given that there are various mutexes involved in the fetch code and the HTTP cache, it's plausible that there could be a deadlock hiding in there.

[2018-02-26 21:50] asajeffrey commented on #20127
Adding in an old skule debugging println, there are some loads that are never unblocked:
[code]

[2018-02-26 22:01] asajeffrey commented on #20127
Comparing a successful run:
[code]
with an unsuccessful run:
[code]
there's loads started but never terminated.

[2018-02-26 22:16] asajeffrey commented on #20127
Now with the `finish_load`s being traced:
[code]
so it looks like some image loads aren't finishing.

[2018-02-26 22:20] emilio commented on #13480
I think we should just probably use `mpsc` in Servo too. We have too many random intermittents related to ipc-channel, and I don't think Servo's multiprocess mode scales / is tested very well right now, unfortunately.

[2018-02-26 22:24] asajeffrey commented on #20127
A successful run with finish_load being tracked:
[code]

[2018-02-26 22:38] asajeffrey commented on #20127
Ah:
[code]
with two lines both saying `Adding Script("http://localhost:8123/page_load_test/tp5n/en.wikipedia.org/bits.wikimedia.org/en.wikipedia.org/load.php")`.

[2018-02-27 04:37] spencerogawa commented on #16185
No guarantee, but I will try to take a look at this issue for my school project. Thanks.

[2018-02-27 07:00] paulrouget opened #20130 "Need help with Euclid update"
I need to move from Euclid 0.16 to Euclid 0.17.

But then I get this error:

[code]

Where XXX is CSSPixel, DevicePixel and DeviceIndependentPixel.

Adding a derive to these 3 emums doesn't help.

What the right approach here?

[2018-02-27 08:36] SimonSapin commented on #20130
Euclid made serde an optional dependency. In the `Cargo.toml` of the crate that has this error, replace `euclid = "0.17"` with `euclid = {version = "0.17", features = ["serde"]}`

[2018-02-27 08:45] paulrouget commented on #20130
Thank you!

[2018-02-27 08:45] #20130 closed

[2018-02-27 09:00] Eijebong commented on #20130
@paulrouget Are you doing the whole euclid bump in servo ? (I'd like to avoid duplicating work :p)

[2018-02-27 09:00] fabiand commented on #12015
Good idea. That might actually also work on Fedora by `dnf install compat-openssl10`

[2018-02-27 09:07] ojab commented on #12015
Unfortunately it won't help on Fedora, `compat-openssl10` contains `libssl.so.1.0.2m`, while servo requires `libssl.so.1.0.0`.

[2018-02-27 09:22] fabiand commented on #12015
Thanks for testing this so quickly. Darn.

[2018-02-27 09:36] paulrouget commented on #20130
@Eijebong just started, as I need https://github.com/servo/euclid/pull/274 - but if you already have a PR, I'd rather wait.

[2018-02-27 09:41] nakul02 commented on #19223
I have a WIP PR #20132 for this.

[2018-02-27 09:42] Eijebong commented on #20130
I don't have a PR but we need to update it in servo and every dependency at once. If you don't do it I'll probably do it tonight.

[2018-02-27 09:43] paulrouget commented on #20130
@Eijebong I'll do it. Looks like a rabbit hole though…

[2018-02-27 09:44] Eijebong commented on #20130
It is :D Have fun

[2018-02-27 10:47] #19885 closed

[2018-02-27 20:05] asajeffrey commented on #20127
Good news... on my laptop in the office, I can trigger this with a debug build! Yay, less stumbling around in the dark! A sample run ends with:
[code]
So deadlock is looking quite likely, Script is waiting on layout which never completes. I wonder if script is holding a lock while doing this?

[2018-02-27 20:27] asajeffrey commented on #20127
Aaand adding some extra debugging printlns to `layout_thread`:
[code]
oh look:
[code]
So the webrender tx is sent but never completes.

[2018-02-27 20:28] asajeffrey commented on #20127
Current guess: webrender does something with the image cache that needs a lock or similar, but oh dear it's still owned by the script thread.

[2018-02-27 20:59] glennw commented on #20127
I don't think there's any way that WR can interact with the image cache. In general WR is a push-style API where it shouldn't block on any API call (possible I'm forgetting something though). My guess would be an ipc-channel bug.

[2018-02-27 21:09] #20037 closed

[2018-02-27 21:12] asajeffrey commented on #20127
A back trace from gdb, from the layout thread in its stuck state...
[code]
which would suggest something similar to https://github.com/servo/ipc-channel/issues/34 ?

[2018-02-27 22:54] asajeffrey commented on #20127
@antrik looks like this might be a case where IPC channel send is blocking?

[2018-02-27 23:09] gootorov commented on #20126
@highfive assign me.

[2018-02-27 23:09] highfive commented on #20126
Hey @gootorov! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-02-28 05:42] paulrouget commented on #13993
Priorities changed. I haven't got a chance to finish this.

[2018-02-28 06:25] paulrouget commented on #18639
@MortimerGoro did the situation change?

[2018-02-28 10:34] ferjm opened #20142 "Support visibility: collapse"
Specs:

- https://drafts.csswg.org/css-box-3/#visibility-prop
- https://drafts.csswg.org/css-flexbox-1/#visibility-collapse
- https://drafts.csswg.org/css-transitions/#animatable-css
- https://www.w3.org/TR/CSS2/visufx.html#visibility

[2018-02-28 18:05] asajeffrey commented on #20127
OK, more digging...

Servo ought to be deadlock-free even if IPC sending blocks. I even wrote some notes to myself! https://github.com/servo/servo/blob/2d4caaf749e8d2a9703f852d17d2f0683a5ab9bb/components/constellation/constellation.rs#L80-L90

In particular, sending to the WR API is blocking. In particular, layout can block on WR: https://github.com/servo/servo/blob/e8f77861a9af8d88ba62625838a10d6

[2018-02-28 18:14] asajeffrey commented on #20127
Ah, the fds are created with socketpair, so it's not too surprising that they are different. I still don't understand why the WR thread is still waiting to recv though :/

[2018-02-28 18:58] asajeffrey commented on #20127
Ah, I have a theory!

The webrender API sends a transaction by first sending the payload, the sending the transaction itself: https://github.com/servo/webrender/blob/d7735c7da9844775d4a3e6ec8b6cea25fb0b0486/webrender_api/src/api.rs#L897-L903

The problem is that IPC send is blocking when the buffer is full. At this point, the WR back end is waiting on its API channel https://github.com/servo/webre

[2018-02-28 19:56] jdm opened #20148 "`./mach package --android` doesn't work with a debug build"
[code]

[2018-02-28 20:03] jdm opened #20149 "Android crashes with "fatal runtime error: allocator memory exhausted""
When I open the Servo app on my Pixel, it crashes after partially displaying the Rust wikipedia page. Logcat shows:
[code]

[2018-02-28 20:06] jdm commented on #20149
Running `./mach run --android about:blank` does not crash.

[2018-02-28 20:39] jdm commented on #20149
Interestingly, only release builds panic. Debug builds show the same pages without any issues.

[2018-02-28 20:45] jdm commented on #20127
Blocking sends are a problem on mac as well as linux. I wrote a program that demonstrates that the IPC channels on mac eventually block during the send operation if no receive operation occurs.

[2018-02-28 23:28] ericlaw1979 commented on #20113
To be clear, entries without `mode:force-https` are interpreted to mean: _iff contacting this site over HTTPS, require that the certificate be valid, and do not allow clickthrough of certificate errors_.  These entries also sometimes specify a pin set (a preloaded HPKP entry) although I don't know that Mozilla supports those.

[2018-02-28 23:54] asajeffrey commented on #20127
Yes, @antrik didn't think there was any way to give non-blocking semantics to ipc send on all platforms.

[2018-02-28 23:55] asajeffrey commented on #20127
Hopefully this is fixed by https://github.com/servo/webrender/pull/2480

[2018-03-01 01:05] #20092 closed

[2018-03-01 01:07] Darkspirit commented on #20120
[Revocation is broken](https://blog.cloudflare.com/high-reliability-ocsp-stapling/). Firefox for Android only fetches OCSP for EV certs (if there was no stapled OCSP response).
The CAB Forum should enforce OCSP Must-Staple for EV certs.
Servo could omit any OCSP/CRL fetching then. That would be cool. :)

[2018-03-01 10:18] paulrouget opened #20157 "Android: Angle compilation error"
I'm trying to build an Android build on Linux, and I get this error.

It works on my Mac, so it's probably an issue with my setup.

[code]

[2018-03-01 10:18] paulrouget commented on #20157
/cc @MortimerGoro

[2018-03-01 10:55] MortimerGoro commented on #20157
Never seen that error, which version of cmake are you using? This is my setup:

[code]

[2018-03-01 11:02] paulrouget commented on #20157
cmake version 3.9.1

[2018-03-01 11:23] nox opened #20158 "impl From<*mut nsStaticAtom> for Atom is unsound"
One can just do `Atom::from(0xdeadbeef as *mut _)`, this implementation should be replaced by an unsafe method on `Atom`.

[2018-03-01 11:23] highfive commented on #20158
cc @emilio

[2018-03-01 11:24] nox commented on #20158
Actually this method already exists, it's `Atom::from_static`.

[2018-03-01 12:27] Mrowqa commented on #14902
Hi. As we talked before, I will work on it as a part of Bachelor's thesis. I plan to start working on it quite soon (probably tomorrow), so I'd like to know if there are some good resources to learn about rust compiler plugins. Furthermore, is there anything else I should know? I know the general idea of handles and rooting.

[2018-03-01 15:42] ferjm opened #20159 "Properly implement step 3 of the inner text collection steps algorithm"
Spec: https://html.spec.whatwg.org/multipage/dom.html#inner-text-collection-steps

    - select elements have an associated non-replaced inline CSS box whose child boxes include only those of optgroup and option element child nodes;
    - optgroup elements have an associated non-replaced block-level CSS box whose child boxes include only those of option element child nodes; and
    - option elemen

[2018-03-01 16:05] ferjm opened #20161 "Ignore descendant nodes of replace elements during inner text collection steps"
The spec says:

This makes tests like `<audio> contents ignored ("<div><audio>abc")` or `<video> contents ignored ("<div><video>abc")` fail.

[2018-03-01 16:14] #19901 closed

[2018-03-01 16:52] fabricedesre commented on #20157
I hit the same issue to build Servonk, and I had to downgrade cmake to 3.5.2

[2018-03-01 17:52] fabricedesre opened #20162 "Crash on some Wikipedia pages"
Steps to reproduce (tested on Linux):
- Run `./mach run --release  https://en.wikipedia.org/wiki/Freediving`

Expected:
- You can read a beautiful wikipedia article.

Observed:
- Crash in table layout code:
[code]

@Manishearth That was not crashing before your latest patches.

[2018-03-01 18:12] Manishearth commented on #20162
I suspect this is a get_spanned_border_size bug, which I changed a bunch in my rowspan=0 patches. I'll see if it still crashes.

[2018-03-01 18:18] fabricedesre commented on #20162
Ok, let me know if there is a branch I can test with.

[2018-03-01 18:32] Manishearth commented on #20162
The other PR that's open. Will investigate today when I'm back on a laptop though.

[2018-03-01 19:39] terracotaPie commented on #19879
Sorry I got busy with midterms. Started working on it again

[2018-03-01 21:27] Manishearth commented on #20162
Hm, it's a mismatch between incoming_rowspan and incoming_rowspan_data.

[2018-03-01 23:14] Manishearth commented on #20162
Minimal testcase:

[code]

We assume that the incoming_rowspan_data array will be populated for all incoming rowspans, but that's not true for incoming spanning cells that also span multiple columns. However we can fix this by just bailing early then; because we will have already accounted for this cell in the previous column.

[2018-03-02 00:17] Manishearth opened #20164 "Colspans broken when mixed with rowspans and placed at the end of a row"
[code]

gives

<img width="100" alt="image" src="https://user-images.githubusercontent.com/1617736/36876753-4d167b68-1d6b-11e8-8b18-4ff0efd83892.png">

and

[code]

gives

<img width="92" alt="image" src="https://user-images.githubusercontent.com/1617736/36876761-63fef418-1d6b-11e8-8c8d-9f6eb8931042.png">

In both cases, the colspanning cell should span the widths of the cells below it, and the ta

[2018-03-02 01:34] Manishearth commented on #20164
Replacing [this fixme](https://github.com/servo/servo/blob/master/components/layout/table.rs#L131-L132) with the code in the else branch fixes the first example, but not the second one (nor does doing the same for the other fixme).

Looks like we need to implement that recursive algorithm. Seems to be the "intermediate min-content width for span N (N > 1)" one in https://dbaron.org/css/intrinsic/

[2018-03-02 02:56] #20162 closed

[2018-03-02 03:15] atouchet commented on #18098
This is no longer relevant as Browser.html was removed.

[2018-03-02 03:15] #18098 closed

[2018-03-02 03:17] atouchet commented on #18768
This is still an issue without Browser.html.

[2018-03-02 03:41] atouchet commented on #18063
I don't think this is still relevant with Browser.html removed.

[2018-03-02 03:41] #18063 closed

[2018-03-02 03:44] atouchet commented on #19209
This is no longer an issue with Browser.html removed.

[2018-03-02 03:44] #19209 closed

[2018-03-02 03:47] atouchet commented on #17978
This is no longer an issue.

[2018-03-02 03:47] #17978 closed

[2018-03-02 03:48] atouchet commented on #18294
This is no longer an issue.

[2018-03-02 03:48] #18294 closed

[2018-03-02 03:50] atouchet commented on #19705
This appears to have been fixed.

[2018-03-02 03:50] #19705 closed

[2018-03-02 03:57] atouchet opened #20165 "Navigation using nightly build"
This is more of a question than an issue report but how are you supposed to load new pages using the latest nightly builds? It loads servo.org by default but I don't see any way to input a new address within Servo. I can set shell.homepage in prefs.json to a new value but that's not particularly convenient. Is there a better way to do this?

[2018-03-02 05:45] paulrouget commented on #20157
@fabricedesre Thank you! It works.

I installed cmake 3.5.2 from https://cmake.org/files/v3.5/ and added cmake 3.5.2 to the PATH (before cmake 3.9).

[2018-03-02 05:45] #20157 closed

[2018-03-02 05:49] paulrouget commented on #20157
I've updated the Wiki.

[2018-03-02 06:42] atouchet commented on #17465
![Icon comparison](https://i.imgur.com/NLKTs7K.png)

This is slightly improved in the latest nightly build but most of the icons are still bad looking. The only one that is noticeably different is Codeship and that now looks blurrier than in Firefox. @glennw is this due to https://github.com/servo/webrender/pull/2408? I noticed that Codeship is the only icon there larger than 512 x 512 (https://as

[2018-03-02 13:21] jdm commented on #20165
As of right now there is no better way to navigate in nightly builds. https://groups.google.com/d/msg/mozilla.dev.servo/U5zhsBLXovM/HbRL69zZBAAJ describes the plans for making nightlies usable again, but it may have been premature to remove the browser.html interface before the replacement was ready.

[2018-03-02 13:42] mkollaro opened #20169 "WebIDL bindings are not being re-generated after switching branches"
I added an item to `components/script/dom/webidls/` and implemented it. Now when I switch back to the master branch, it complains that the implementation of this new item is missing and fails the build.

To reproduce,
1. Grab https://github.com/servo/servo/pull/20144/commits
2. `./mach build` should be successful
3. `git checkout master`
4. `./mach build` will fail now, because `GetTexParameter` i

[2018-03-02 13:53] jdm commented on #8896
Not enough data here to act on anything.

[2018-03-02 13:53] #8896 closed

[2018-03-02 13:58] jdm commented on #20169
The problem either lies in the script crate's [build script](https://github.com/servo/servo/blob/master/components/script/build.rs) (does it run cmake when this happens?) or in [cmake's dependencies](https://github.com/servo/servo/blob/master/components/script/CMakeLists.txt#L109).

[2018-03-02 14:27] mkollaro commented on #20169
I found that running `touch components/script/dom/webidls/WebGL2RenderingContext.webidl` fixes it.

The problem is, I haven't modified that specific file, I only changed `WebGLRenderingContext.webidl`, the bindings for WebGL1. The WebGL2 is an extension of WebGL1, so it's not necessary to update the WebGL2 idl file in this case. But the build system doesn't recognize that it needs to update the We

[2018-03-02 14:57] paulrouget commented on #20165
@atouchet another way, if you run servo from the command line, is to pass the url as an argument:

[code]

But that's not a lot better. I'm working on a fix to add support for a keybinding that would prompt the user for a new url.

[2018-03-02 15:01] asajeffrey commented on #20127
Fixed by https://github.com/servo/webrender/pull/2480

[2018-03-02 15:01] #20127 closed

[2018-03-02 15:15] jdm opened #20172 "Extract IPC usage from WebRender into Servo"
The goal of this work is to remove all references to the [ipc-channel](https://github.com/servo/ipc-channel/) crate from [WebRender](https://github.com/servo/webrender/) and move all IPC usage into the calling code in Servo instead. This will require a few parts:
* replace all uses of IPC channels in WebRender with [std::mpsc channels](https://doc.servo.org/std/sync/mpsc/fn.channel.html) instead
*

[2018-03-02 15:55] jdm commented on #20169
Oh, the build system doesn't understand the relationship between webIDL files. That makes sense, and is a bit of an edge case unfortunately. The solution probably means that touching any webIDL file should cause all of them to be rebuilt, which means adjusting the cmake dependencies.

[2018-03-02 17:15] jdm opened #20174 "default_config_dir should not return an Option"
Every implementation returns Some, and the caller calls unwrap(), so I don't see any reason it should return an Option value.

Code: `components/config/basedir.rs`

No need to run tests; if `./mach run tests/html/about-blank.html` works for you after compiling, that's good enough for a PR.

[2018-03-02 17:15] highfive commented on #20174
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-02 17:50] andreicristianpetcu commented on #20174
@highfive: assign me

[2018-03-02 17:50] highfive commented on #20174
Hey @andreicristianpetcu! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-02 18:45] mbrubeck opened #20176 "Intermittent timeout in /WebCryptoAPI/encrypt_decrypt/rsa.https.worker.html"
http://build.servo.org/builders/mac-rel-css2/builds/3689

[code]

[2018-03-02 20:13] atouchet commented on #15689
@jdm are you still able to reproduce this? It seems to be fixed in the latest nightly build. I'm not sure if the underlying problem was solved or if it's just harder to trigger now.

[2018-03-02 20:16] petre2dor commented on #20174
@jdm suggested over IRC that the same thing should be done for `default_data_dir` and `default_cache_dir`. working on that now.

[2018-03-02 20:31] #20174 closed

[2018-03-02 20:32] jdm commented on #15689
The problem occurs when the page is loaded inside of an iframe.

[2018-03-02 20:47] mozkeeler commented on #20113
Pinning is handled separately in Gecko, although the data comes from the same source. To my knowledge, Gecko doesn't implement the non-`mode:force-https` interpretation. All sites are either HSTS (so http -> https upgrade and no error overrides) or not (no upgrade, error overrides are allowed).

[2018-03-02 20:53] jdm commented on #14902
You can see the existing HIR plugin at https://github.com/servo/servo/blob/master/components/script_plugins/unrooted_must_root.rs. There are a few [unit tests](https://github.com/servo/servo/blob/master/tests/unit/script_plugins/lib.rs) and it might be good to add some more as part of this work.

[2018-03-02 20:55] jdm commented on #14902
You can find documentation for the compiler internals at http://manishearth.github.io/rust-internals-docs/rustc_plugin/, and https://doc.rust-lang.org/beta/unstable-book/language-features/plugin.html may have some useful information.

[2018-03-02 20:59] jdm commented on #14902
https://rust-lang-nursery.github.io/rustc-guide/ may also have information about the compiler internals that the plugin uses.

[2018-03-02 21:39] mkmodrzew commented on #20172
Can I try to do that?

[2018-03-02 21:44] jdm commented on #20172
@mkmodrzew Please do! Ask questions about anything that's unclear!

[2018-03-02 21:49] atouchet commented on #20165
Alright, this is fine until URL navigation is added.

[2018-03-02 22:30] atouchet commented on #13819
![Test case](https://i.imgur.com/EvC9TN9.png)

This looks like it's fixed?

[2018-03-02 23:06] jdm commented on #13819
It would be useful to add a reftest for this to ensure it doesn't regress.

[2018-03-02 23:38] emilio opened #20179 "Make KeyframesPercentage::parse faster."
Right now it does:

https://github.com/servo/servo/blob/0eb8b1f4c0736ec25dc391d119c03d1b49644d81/components/style/stylesheets/keyframes_rule.rs#L128-L144

That's more inefficient that what it needs to be, since it really only needs to get the next token once using `next()`, and then match on `Token::Ident` and `Token::Percentage`.

No new tests need to be added for this refactoring.

[2018-03-02 23:38] highfive commented on #20179
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-03 00:04] Beta-Alf commented on #20179
I would like to try my hand at this.

[2018-03-03 00:12] emilio commented on #20179
Thanks! Let me know if there's any question :)

[2018-03-03 00:47] asajeffrey commented on #20172
One thing that might be worth thinking about is using a dedicated thread for this rather than the constellation, which is already pretty complicated!

[2018-03-03 01:09] Beta-Alf commented on #20179
So I think got pretty far : https://gist.github.com/Beta-Alf/5b19d25704c930082d947b3f7c4017c0
However I seem to be unable to compare the actual identifiers to my string literals and I don't seem to be able to figure out a way to do it (that doesn't involve creating another CowRcString which would presumably be wasteful and eliminate all possible speed gains).

[2018-03-03 01:20] emilio commented on #20179
Yeah, that looks close to what I was thinking about, awesome!

A few nits:

 * The string comparison should be ascii-case-insensitive. You can use either `match_ignore_ascii_case!` or `str::eq_ignore_ascii_case`. Both should be pretty fast in this case.
 * You can use `CowRcString::as_ref` to get a `&str`.
 * You can use `match *input.next()?` to make the code a bit tidier, and return a more meani

[2018-03-03 16:08] jdm opened #20184 "Update to NDK 16"
I'm collecting a list of changes required to upgrade the NDK.

* fontconfig: scandir configure check fails because of -Werror

[2018-03-03 16:55] Beta-Alf commented on #20179
Okay, so I fixed all your nits, although I had to jump through some hoops for the borrow checker, so maybe I introduced a new nit? Either way I already learned a lot, thank you!

[2018-03-03 22:19] mkmodrzew commented on #20172
I spent some time browsing project and I've got first question:
- There is actually std::mpsc channels usage implemented in WebRender. I commented out every usage of ipc-channel there and built it without any problem, so there is no dependency with that code. Is that enough to assume that first dot is already finished?

[2018-03-03 22:25] asajeffrey commented on #20172
@mkmodrzew the place where WR does its mpsc vs ipc channel choice is in https://github.com/servo/webrender/blob/master/webrender_api/src/channel.rs#L84-L88

This uses a cfg to switch between using ipc channels and using mpsc channels. Most of the changes would be at the servo side, starting with importing WR without the `ipc` feature.

[2018-03-03 22:55] mkmodrzew commented on #20172
@asajeffrey So, as far as I understand, if before I do any change in Servo and after preventing ipc-channel in WebRender (locally, of course), any test with running browser should fail? Because I think I already did it (to try myself with this project), but tests still pass

[2018-03-03 23:02] asajeffrey commented on #20172
The change to servo is in the various Cargo.toml files, with lines like:
[code]
You need to remove the `features = ["ipc"]`.

[2018-03-04 10:37] pyfisch commented on #19891
Some notes:

* There is also a lot of white space on the Google home page e.g. https://google.com
* The scrollable area is set of the root element is set in [layout_thread](https://github.com/servo/servo/blob/b59a8afd0fe922613d545fcb062d5bf4bb305980/components/layout_thread/lib.rs#L984-L995)
  * In the if/else construct wherever I checked the else branch is taken
* If you fix this you should try i

[2018-03-04 12:51] mkmodrzew commented on #20172
Okay, I think I still don't get everything:
- I replaced every `webrender_api = {git = "https://github.com/servo/webrender", features = ["ipc"]}` with `webrender_api = {git = "https://github.com/servo/webrender"}`. There's no question, I just wanted to make sure if I interpreted task properly.
- Third part of the task ("create an IPC channel..."): Create should be understood as replacing one IPC m

[2018-03-04 18:35] #20165 closed

[2018-03-05 04:21] jdm commented on #19251
@modal17 Did you delete a question that you previously asked? I swear I remember seeing one about what to measure.

[2018-03-05 11:01] nox opened #20197 "Make CounterBound::Integer store an Integer"
The type [`style::counter_style::CounterBound`](https://doc.servo.org/style/counter_style/enum.CounterBound.html) should be made to store a [`style::values::specified::Integer`](https://doc.servo.org/style/values/specified/struct.Integer.html).

[2018-03-05 11:01] highfive commented on #20197
cc @emilio

[2018-03-05 17:02] atouchet commented on #17047
Can this be closed now?

[2018-03-05 18:14] jdm commented on #20172
For "create an IPC channel", I meant that we should add another set of IPC and non-IPC channels to [this code](https://github.com/servo/servo/blob/master/components/constellation/constellation.rs#L550-L558), so that the constellation can receive messages over the IPC channel, route them to a non-IPC receiver, and process them in [this code](https://github.com/servo/servo/blob/master/components/con

[2018-03-05 19:47] FallingSnow commented on #9558
Any change on the status of Servo on Wayland?

[2018-03-05 19:59] jjpe opened #20207 "[Fedora 27] Linking failure with mozjs"
I just cloned the repo and followed the README.md.
Then I installed `mesa-libGLU-devel`, as it turned out to be an undocumented  dependency.

However after all that, compilation fails with a log that is too long to post inline, so here's a [gist](https://gist.github.com/jjpe/f8e05084e562b83f4a3a1f6b87430635).
Somehow it's ok to paste it in there.

UPDATE: The issue *seems* related to the spidermon

[2018-03-05 20:41] jdm commented on #9558
No. We're in the process of switching to the upstream glutin, however: https://github.com/servo/servo/pull/19895

[2018-03-06 01:25] atouchet commented on #4395
Is this still an issue? I am not able to reproduce the behaviour in @frewsxcv's post in the latest nightly build.

[2018-03-06 01:58] atouchet commented on #6097
Is this worth keeping open now that Shumway development has ceased?

[2018-03-06 02:22] jdm commented on #6097
Nope!

[2018-03-06 02:22] #6097 closed

[2018-03-06 02:22] jdm commented on #4395
Nope!

[2018-03-06 02:22] #4395 closed

[2018-03-06 02:29] atouchet commented on #12262
Related: #9831

[2018-03-06 02:55] atouchet commented on #15724
Was this done?

[2018-03-06 03:20] atouchet commented on #18918
This is being worked on in #19895.

[2018-03-06 03:25] jdm commented on #15724
[Nope](https://github.com/servo/servo/blob/master/Cargo.lock#L167-L170).

[2018-03-06 03:26] fabricedesre commented on #12127
Since the embedder can send key events to Servo (https://doc.servo.org/compositing/windowing/enum.WindowEvent.html) would it make sense to use the other side of the embedding api to have Servo notify then embedder when an editable element is focused or blured?

[2018-03-06 03:43] jdm commented on #12127
That seems like a sensible way to go about it.

[2018-03-06 04:29] atouchet commented on #8765
Is this issue still relevant?

[2018-03-06 04:35] jdm commented on #8765
Unreproducible.

[2018-03-06 04:35] #8765 closed

[2018-03-06 04:51] atouchet commented on #17635
I tried running this and got ~85 seconds in Servo. In comparison Firefox 58 finished in 20 seconds. The other bugs listed still appear to occur as well.

[2018-03-06 04:53] atouchet commented on #15787
Was this done? I only see cookie 0.10.1 in Cargo.lock.

[2018-03-06 04:55] atouchet commented on #13217
I am not able to reproduce this in Windows 10.

[2018-03-06 05:00] atouchet commented on #16534
That link no longer works.

[2018-03-06 05:40] jdm commented on #15787
Yep.

[2018-03-06 05:40] #15787 closed

[2018-03-06 05:40] jdm commented on #16534
@jrmuizel Any chance you have those tests saved elsewhere?

[2018-03-06 05:41] #13217 closed

[2018-03-06 05:52] atouchet commented on #6661
Is this still desirable seeing as Canonical is no longer maintaining Ubuntu Touch?

[2018-03-06 06:34] dsamarin commented on #3893
Not involved with this project but I thought there were some great ideas here. Love the mst3k reference with the red color from @mmatyas and the lowercase font styling used by @raphaelbastide where the shape of the 'v' cuts into the end of the 'r'. Also loved the idea to add a visual effect of motion as noted by @kud1ing.

![iconartboard 1](https://user-images.githubusercontent.com/110829/37017357

[2018-03-06 06:47] boghison commented on #6661
Yeah, probably not...

[2018-03-06 06:52] boghison commented on #6661
But actually snappy is not only for Ubuntu Touch, so maybe that is still valid

[2018-03-06 08:34] Eijebong commented on #15724
Still blocked on hyper

[2018-03-06 10:55] Diggsey commented on #13217
Yes this is fixed now.

[2018-03-06 10:57] paulrouget commented on #20110
Isn't that the job of the OS? For example https://developer.android.com/reference/android/widget/OverScroller.html

[2018-03-06 10:59] paulrouget commented on #20109
Isn't that the job of the embedder to track the TouchId and do the zooming?

[2018-03-06 14:48] jdm opened #20215 "tex-input-validation.html panics with "Unexpected WebGL error""
From #20144:
[code]

[2018-03-06 16:58] fabricedesre commented on #20109
It's hard to let the embedder do that because the behavior can depend on whether preventDefault() was called on the touchstart event. But actually there seems to be support in `components/compositing/touch.rs` and `components/compositing/compositor.rs`, I will dig deeper to see what that was triggering in my tests.

[2018-03-06 17:01] fabricedesre commented on #20110
Right now, Servo handles non-kinetic panning based on touch events if no event handler calls preventDefault() on touchstart. I think that if we want the embedder/OS to manage kinetic scrolling, we would need to bubble up this information back to the embedder to not have it send extra move/scroll events.

On the other hand, the compositor has all the needed information to do it by itself. I agree t

[2018-03-06 18:40] #20169 closed

[2018-03-06 19:15] Mrowqa commented on #14902
I read those materials and some other stuff I have found, so I understand the general idea of MIR. I tried to write some minimal plugin, but actually I don't know how exactly. [`rustc_plugin::registry::Registry`](https://manishearth.github.io/rust-internals-docs/rustc_plugin/registry/struct.Registry.html) doesn't have `register_mir_pass` anymore. I tried to hunt down some type that implements [`Mi

[2018-03-06 19:16] mateon1 opened #20218 "called `Result::unwrap()` on an `Err` value: HierarchyRequest"
Found fuzzing with domato.

[code]

[code]

[2018-03-06 19:17] jdm opened #20219 "Make android install and run commands infer location of adb from SDK"
Whenever I do an android build for the first time, I never remember to set up my path correctly. We already know information about the location of the SDK (from `self.config['android']['sdk']`), so we should be able to notice if invoking adb fails and attempt to run it from the SDK location manually.

Code: `python/servo/post_build_commands.py`

This will be easiest for someone to attempt if they

[2018-03-06 19:17] highfive commented on #20219
cc @wafflespeanut

[2018-03-06 19:17] mateon1 opened #20220 "Insertion failed: HierarchyRequest with nested table captions"
Found fuzzing with domato.

[code]

[code]

[2018-03-06 19:20] jdm commented on #14902
@nikomatsakis Where are the most up to date docs for rustc?

[2018-03-06 19:27] Manishearth commented on #14902
https://michael-f-bryan.github.io/rustc-internal-docs/rustc/index.html

[2018-03-06 19:32] jdm commented on #14902
https://github.com/rust-lang/rust/pull/40239 may have made this impossible.

[2018-03-06 19:45] jrmuizel commented on #16534
https://jrmuizel.github.io/implementation-tests/dl-test.html

[2018-03-06 21:56] ShreyKumar commented on #20111
I can try to reproduce this

[2018-03-06 21:56] atouchet commented on #16534
![Test](https://i.imgur.com/wkuA3W2.png)

This seems to be fixed now as far as I can tell.

[2018-03-06 22:03] jrmuizel commented on #16534
Indeed.

[2018-03-06 22:03] #16534 closed

[2018-03-06 22:05] jrmuizel opened #20221 "https://jrmuizel.github.io/implementation-tests/dl-test.html reflows when it doesn't need to"
https://jrmuizel.github.io/implementation-tests/dl-test.html runs quite slowly in Servo compared to other browsers. It seems like servo is reflowing while other browsers just change the color of the box.

[2018-03-06 22:07] jdm commented on #20220
@shreykumar This may be a more approachable issue if you'd like to investigate it.

[2018-03-06 23:16] patgronowski commented on #20218
Hi, I'd like to take a stab at this issue.

[2018-03-06 23:48] atouchet commented on #18830
![Facebook](https://i.imgur.com/evjKn3O.png)

This is looking a bit better to me although there are still some spacing issues.

[2018-03-06 23:54] atouchet commented on #18834
Did you save these using a high DPI display? When I tested this the logo didn't look that blurry but it isn't that large either:

![Facebook](https://i.imgur.com/D4QY1fY.png)

[2018-03-06 23:58] atouchet commented on #11903
I am not able to reproduce this issue.

[2018-03-07 04:25] paulrouget commented on #20109
It should work like key events. Embedder send touch events to Servo, if Servo send them back, the embedder call the zoom functions.

[2018-03-07 04:39] paulrouget commented on #20110
Yes.

We have some bouncing/overscrolling code, but it's very gimmicky.

Yes. For example, on Android, out of the box, there is not fling support. Whereas, on OSX, "momentum" scroll events are sent no matter what. If we implement kinetic scrolling support within servo, we don't want to cancel momentum events in OSX. We'd rather use the OverScroller mechanism provided by Android, and momentum event

[2018-03-07 13:19] saschanaz opened #20231 "for-const-of loop causes syntax error"
I heard servo uses older ~~Gecko~~SpiderMonkey, but anyway:

[code]

~~Gecko~~SpiderMonkey bug (fixed in 2016): https://bugzilla.mozilla.org/show_bug.cgi?id=1101653
Codepen: https://codepen.io/SaschaNaz/full/rJXELp/

This is causing https://github.com/w3c/web-platform-tests/commit/280005efe04503f14891d73c6ceab1077a59a735 and https://github.com/w3c/webidl2.js/pull/139#discussion_r172178378.

[2018-03-07 17:48] atouchet commented on #11961
This is no longer reproducible as Browser.html was removed.

[2018-03-07 17:48] #11961 closed

[2018-03-07 18:06] atouchet commented on #8657
Those links no longer work.

[2018-03-07 18:49] jdm commented on #16068
We enabled HTTPS tests a while ago.

[2018-03-07 18:49] #16068 closed

[2018-03-07 18:51] jdm commented on #18529
This was implemented.

[2018-03-07 18:51] #18529 closed

[2018-03-07 18:57] jdm commented on #16633
This happened.

[2018-03-07 18:57] #16633 closed

[2018-03-07 19:00] jdm commented on #15185
I wonder if there's an environment variable we could use to add the appropriate rustc flag?

[2018-03-07 19:05] jdm commented on #3778
We use headless mode.

[2018-03-07 19:05] #3778 closed

[2018-03-07 19:56] jdm commented on #19825
https://github.com/hyperium/hyper/issues/1395 is tracking the missing protocol upgrade work that nobody has done.

[2018-03-08 00:02] jdm commented on #20149
This is from mozilla.org:
[code]

[2018-03-08 01:04] wabain commented on #17584
I'm interested in working on this, assuming that nothing's changed in the past few months, but I have a few questions:

The [spec says](https://drafts.css-houdini.org/css-paint-api/#registering-custom-paint) that equivalency of paint definitions is determined by equality of "input properties, input argument syntaxes, and PaintRenderingContext2DSettings object". However, currently only the input pr

[2018-03-08 01:21] jdm commented on #17584
@asajeffrey Can answer the first question, but the logging can just use println! for the time being.

[2018-03-08 06:21] atouchet opened #20235 "Frequent crashes when opening links"
When opening links in recent Servo nightly builds the program sometimes crashes instead of opening the link. I believe the first nightly build to exhibit this issue is [2018-03-03](http://servo-builds.s3.amazonaws.com/). In some cases I've noticed that the page will initially freeze and the crash itself appears to be triggered by mouse movement. Tested in Windows 10.

[2018-03-08 06:46] sanxiyn commented on #10062
I found that ctrl-= doesn't zoom on QWERTY either, so the issue needs to be retitled back. ctrl-shift-= (aka ctrl-+) works though.

[2018-03-08 08:58] paulrouget commented on #10062
@sanxiyn Windows?

[2018-03-08 09:01] sanxiyn commented on #10062
Oh, sorry for not specifying the platform. It was on Linux.

[2018-03-08 12:47] cpdean opened #20239 "text flow / layout issues on OSX"
I tried building from source on `master` but I got some [interesting issues](https://www.reddit.com/r/rust/comments/82u3bm/servo_is_supposed_to_do_this_right/)

I decided I probably built it wrong, so I downloaded the nightly build from the [project page](https://download.servo.org/) and when I open the .app file I have similar symptoms:

![image](https://user-images.githubusercontent.com/160099/3

[2018-03-08 13:41] emilio commented on #20239
cc @glennw, maybe OSX driver bug?

[2018-03-08 14:31] jdm opened #20242 "Weird font choice for bold text on servo.org"
This is what I see on my local build on macOS:
<img width="765" alt="screen shot 2018-03-08 at 9 31 38 am" src="https://user-images.githubusercontent.com/27658/37156248-8b39934c-22b3-11e8-8c33-33bc4f7881c7.png">
Firefox:
<img width="748" alt="screen shot 2018-03-08 at 9 31 44 am" src="https://user-images.githubusercontent.com/27658/37156250-8e2bffb8-22b3-11e8-9a40-4f957f17cc69.png">

[2018-03-08 14:32] jdm commented on #20239
Yeah, I can't reproduce this on my local build on macOS Sierra on a 2015 macbook pro.

[2018-03-08 15:10] emilio commented on #20239
This looks a lot like https://bugzilla.mozilla.org/show_bug.cgi?id=1444076

[2018-03-08 21:35] atouchet commented on #20242
![servo.org](https://i.imgur.com/BHqE38t.png)

I am not able to reproduce this issue in the latest Windows nightly build.

[2018-03-08 22:26] NeverHappened commented on #19940
Hi @emilio
Made a pull request refactoring this.
Can you please review it?

https://github.com/servo/servo/pull/20252

[2018-03-09 00:15] GloverDonovan commented on #19940
Hi @NeverHappened,

I appreciate the effort, but it would've been nice if you asked before taking this issue. Admittedly, your pull requests looks like a lot of work, so I'm glad you took the time to work on this!

Learning Rust has been an enjoyable experience so far. I may try another Servo issue in the future.

[2018-03-09 01:07] NeverHappened commented on #19940
Hi. Sorry for that!

I was not sure that I can do this thing, that's why I didn't write about it. :(
Also because I saw nobody assigned for this

[2018-03-09 02:50] GloverDonovan commented on #19940
No problem, someone had to do it.

Cheers

[2018-03-09 03:02] #18918 closed

[2018-03-09 03:40] asajeffrey commented on #17584
@wabain probably just easiest to treat the properties as strings, and ignore the arguments. If you want to add support for the argument syntaxes, that would be great, but it probably means implementing a lot more of the typed CSS object model!

[2018-03-09 03:43] atouchet commented on #14371
Servo is now using upstream Glutin.

[2018-03-09 06:54] atouchet commented on #17190
The text colour issue has been fixed but the other problems still occur in the latest nightly build.

[2018-03-09 12:26] modal17 commented on #19251
@jdm I did! I have the memory reporter displaying messages when running with `--memory-profile` At the moment, I'm slowly making the memory cache derive MallocSizeOf!

[2018-03-09 13:09] Zirro commented on #20242
Can verify this with the latest nightly build on macOS 10.13.

[2018-03-09 13:49] kvark commented on #20239
Should be "fixed" by WR update including https://github.com/servo/webrender/pull/2499

[2018-03-09 16:19] cpdean commented on #20239
@kvark I'm still having the same issue as before:

![image](https://user-images.githubusercontent.com/160099/37217403-6ae403ce-238b-11e8-9faa-0edf65330c5a.png)

I did a git pull followed by a clean, build, and opened with the newly-built binary:

[code]

Am I doing something wrong to test the 'fix' from webrenderer?

[2018-03-09 16:27] kvark commented on #20239
@cpdean interesting. I can see that Servo's cargo.lock has WR version that includes the "fix".
Perhaps, the [bisection](https://bugzilla.mozilla.org/show_bug.cgi?id=1444076#c2) pointed to the wrong change? @staktrace
I wasn't able to reproduce it, hence I myself can't confirm if the revert fixes anything.

[2018-03-09 17:08] jdm opened #20256 "Memory profiler chart tool doesn't support multiple pages"
[code]
This avoids a python error for a log that looks like:
[code]
The [TODO](https://github.com/servo/servo/blob/7ccc58e3ae356108a1d17fa6fdaf07af663912b6/etc/memory_chart.html#L39) means that we can't look at the memory usage of the subsequent pages, unfortunately.

[2018-03-09 17:08] highfive commented on #20256
cc @fitzgen

[2018-03-09 17:10] jdm commented on #20256
Another option here would be to change the toplevel multiple URL bucket to just show the eTLD.

[2018-03-09 17:34] jdm opened #20257 "Support memory report logs with interleaved non-report output"
https://github.com/servo/servo/blob/7ccc58e3ae356108a1d17fa6fdaf07af663912b6/etc/memory_reports_over_time.py#L30-L31 should just ignore any line that doesn't begin with `|`.

Running `./mach run http://wikipedia.org -m 1` should be able to demonstrate a real world case where this matters. To process the resulting log, run `python ./etc/memory_reports_over_time.py logfile` where logfile is the file

[2018-03-09 17:34] highfive commented on #20257
cc @fitzgen

[2018-03-09 17:34] highfive commented on #20257
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-09 17:34] highfive commented on #20257
cc @wafflespeanut

[2018-03-09 18:17] staktrace commented on #20239
I verified the revert fixed things on the Gecko try builds.

[2018-03-09 18:47] jdm commented on #7084
Ok, here's my plan for addressing this issue and #7037:
* add a new class that derives ObjectPrivateVisitor in [jsglue.cpp](https://github.com/servo/rust-mozjs/blob/master/src/jsglue.cpp), and create an instance of it that is passed to JS::AddServoSizeOf
* make CollectServoSizes accept an argument - a function that accepts a `JSObject*` and returns a bool if it's an object that we want to measure

[2018-03-09 18:49] jdm commented on #7037
This will be taken care of by #7084.

[2018-03-09 18:49] #7037 closed

[2018-03-09 19:12] vugarmammadli commented on #20257
@highfive : assign me!

[2018-03-09 19:12] highfive commented on #20257
Hey @vugarmammadli! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-09 20:35] asoni3 commented on #20052
Hi Josh,
We (Abhay Soni, asoni3@ncsu.edu; Pranshu Sinha, psinha@ncsu.edu; Aayushi Agrawal, agrawa@ncsu.edu) are students at NCSU currently assigned to this project. We wanted to notify you before we start working on the project. Let us know about any resources you think can help us work on the project.
Thanks!

[2018-03-09 20:44] jdm commented on #20052
Great! Do you have any questions about the purpose of the project or how to implement it?

[2018-03-09 22:29] jdm opened #20261 "Verify that screenshots wait until web fonts are loaded"

[2018-03-09 22:39] aeweston98 commented on #7084
I would like to contribute to this issue. I am experienced with c++ but new to rust and this code base. Please let me know if I can help out.

[2018-03-09 23:38] jdm commented on #7084
@aeweston98 The actual Rust changes here are not particularly involved; the bits that will be most fiddly will probably be getting the declarations for the C/Rust functions that need to be shared in both languages to match: https://doc.rust-lang.org/book/second-edition/ch19-01-unsafe-rust.html#calling-rust-functions-from-other-languages. You're welcome to give it a shot and ask questions!

[2018-03-10 00:59] kjhyung commented on #8576
@jdm hi can i try this issue?

[2018-03-10 01:06] #19940 closed

[2018-03-10 01:10] kjhyung commented on #20220
@jdm hi can I try this if @ShreyKumar is not working on it

[2018-03-10 01:37] aeweston98 commented on #7084
@jdm Ok great, can you please assign it to me?

[2018-03-10 01:53] jdm commented on #8576
@kjhyung Of course!

[2018-03-10 02:23] ShreyKumar commented on #20220
@kjhyung Didn't get the chance to look at it as of yet, but I should have a solution by the end of the week. If I don't, I'll let you know and your can feel free to take over it.

Apologies for the delay!

[2018-03-10 14:48] rahilwazir opened #20266 "Build error: toolchain nightly does not have binary rustc"
I'm getting the following error when doing `./mach build --dev`

[code]

`rustc -vV` reports the same:

[code]

Here's my cargo binaries list

[code]

OS: *Linux Fedora 27*
[code]

Please let me know if any other information is required.

[2018-03-10 15:39] SimonSapin commented on #20266
What’s `ls ~/.rustup/toolchains/nightly-2018-01-21*/bin`?

Also try `rustup uninstall nightly-2018-01-21` and starting again, in case the previous install failed part-way through.

[2018-03-10 18:20] cpdean commented on #20239
I've updated osx/macos to high sierra, 10.13.3 (17D47).

After re-installing all the xcode stuff to get rust builds working again, I still have the same issue.  I've tested with both a --dev and --release build.

How do I debug what's going on here?  I'm not sure how to compare what my build is doing versus other's who aren't experiencing this issue.

[2018-03-10 20:54] FallingSnow opened #20268 "Support building script on Arch Linux"
Arch Linux sets `python` to python 3 and `python2` to python 2.

Script's CMakeLists.txt hard codes the python command.
https://github.com/servo/servo/blob/53d9ca1bcd902a174283314f460cc8eb30f0b67d/components/script/CMakeLists.txt#L64

In order to select the correct python version
[code]
should be added to the top of the file and all python commands should be replaced with
[code]
so the above reads

[2018-03-10 21:09] rahilwazir commented on #20266
@SimonSapin Thank you so much for your reply.

Before uninstallation

[code]

Uninstalled and rebuilt
[code]

Now the toolchain listings are
[code]

[2018-03-10 21:29] SimonSapin commented on #20266
Make sure to follow instructions at https://github.com/servo/servo#other-dependencies

[2018-03-11 02:34] wabain commented on #17584
Sounds good! I'm opening a WIP PR with a first-pass implementation. There's still some work needed to invalidate the document paint definition if a paint worklet finds that the painter wasn't ever registered in its scope. I also don't know if there's a good way to add a deterministic reftest for this, or if there's a threshold where a fallible reftest is good enough (e.g. if it will produce a conf

[2018-03-11 02:56] kvark commented on #20239
@staktrace since you had the original issue In Gecko, could you try checking the Servo to see if the issue is visible there?

[2018-03-11 04:16] rahilwazir commented on #20266
Yes, I already did that.

[code]

[2018-03-11 04:33] rahilwazir commented on #20266
I tried `./mach build --dev` again and this time the error for package requirement is `libdbus-sys`.

[code]

I installed packages `libdbusmenu-devel` and `libdbusmenu-tools` and still same error:
[code]

[2018-03-11 07:00] paavininanda commented on #16479
Hi, @jdm! I would like to work on this issue.

[2018-03-11 12:35] #20179 closed

[2018-03-11 16:42] jdm opened #20271 "Intermittent panic in RenderBackend::update_document (unwrapping a None value)"
Seen in #19203:
[code]

[2018-03-11 16:44] jdm commented on #20271
This could be one of:
* https://github.com/servo/webrender/blob/fc7f59280caf0c18b4de9d5bd480f8ae2c995695/webrender/src/render_backend.rs#L918-L919
* https://github.com/servo/webrender/blob/fc7f59280caf0c18b4de9d5bd480f8ae2c995695/webrender/src/render_backend.rs#L936-L937
* https://github.com/servo/webrender/blob/fc7f59280caf0c18b4de9d5bd480f8ae2c995695/webrender/src/render_backend.rs#L950

[2018-03-11 16:47] o0Ignition0o commented on #19505
Just ran into github issues claiming running servo in a VM is not that easy, so I think the fact I can't run servo.exe might be related to my virtualbox setup.
I'll just remove the print occurrences and submit it for review.
I don't really know whether extracting only the executable is relevant or not, maybe as a followup bug if no other file is needed ?

[2018-03-11 17:05] jdm commented on #19505
If you add your ssh key to https://github.com/servo/saltfs/tree/master/admin/files/ssh and your username to https://github.com/servo/saltfs/blob/master/admin/map.jinja, you could get ssh access to our mac build machines if you wanted :)

[2018-03-11 17:10] o0Ignition0o commented on #19505
Oh this is great !
I'll file to get access then, thanks a lot !

[2018-03-11 18:02] jdm commented on #17243
I cloned servo to my own local repository on servo-linux1, then ran `TOKEN=[secret] ./etc/ci/upload_docs.sh` and it got to the "Finished git push." message. I'm super confused!

[2018-03-12 08:25] nox commented on #19084
When this happens, do all of them pass?

[2018-03-12 08:30] nox commented on #14229
AFAICT this one is intermittently passing 100% of the time now.

[2018-03-12 08:33] nox commented on #17417
This seems to intermittently pass 100% of the time now.

[2018-03-12 08:34] nox commented on #19917
AFAICT this now intermittently crashes 100% of the time.

[2018-03-12 13:04] aeweston98 commented on #7084
@jdm I have been adding to jsglue.cpp according to your plan above. I now have a few questions:
1. Is there a way I can see the c++ definition for ObjectPrivateVisitor. I found the rust documentation for it, but since the new class will derive from it, it will have to call the constructor of ObjectPrivateVisitor (assuming it takes some arguments)
2. For the functions to be added to the argument li

[2018-03-12 13:46] staktrace commented on #20239
I tried the macOS build from download.servo.org and I can reproduce the issue as well. I'm on macOS 10.13.3, with a Intel Iris Plus Graphics 650 1536 MB graphics card.

[2018-03-12 14:51] asajeffrey commented on #17584
@wabain yes, testing this is going to be painful, since we'd need to mock up a worklet that is guaranteed to execute differently on different loads. The only way I can think of doing this is to use the wpt http server to implement a counter, then have the JS code increment the counter, and register different things depending on the value of the counter.

[2018-03-12 14:53] jdm commented on #19084
That's what happened when I filed it.

[2018-03-12 15:01] jdm opened #20279 "Remove processing for document.open's type parameter"
https://github.com/whatwg/html/pull/3559

Code: `componens/script/dom/document.rs`, `components/script/dom/webidls/document.webidl`

[2018-03-12 15:32] jdm commented on #7084
1. https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/public/MemoryMetrics.h#L868
2. A typedef'd function pointer will be easiest to read, since it will be repeated in a few places. A std::function won't work, since Rust's FFI won't be able to represent it correctly.

[2018-03-12 16:33] nupurbaghel commented on #20197
@jdm I would like to work on this.
Do we also need to update **components/style/gecko/rules.rs** where we are converting it to
nscssvalue.set_enum(structs::NS_STYLE_COUNTER_RANGE_INFINITE as i32) ?

[2018-03-12 16:54] emilio commented on #20197
@nupurbaghel awesome!

You also need to update rules.rs, yes, but presumably only the `set_number` path.

[2018-03-12 16:55] jdm commented on #20197
Make sure to run `./mach build-geckolib` to ensure your changes compile.

[2018-03-12 17:04] kvark commented on #20239
@staktrace could you record a capture and provide something for us to investigate please?

[2018-03-12 17:50] brainlessdeveloper commented on #18015
Here's my progress on the issue: https://github.com/brainlessdeveloper/servo/commit/25751832acbad79e7018a637e2f2304cbe78c6fc

I'm struggling with the compiler errors arising from a missing `Parse` implementation for some of the types.

[2018-03-12 17:57] brainlessdeveloper commented on #18015
When I have more time I'll try to figure out a more detailed report.

[2018-03-12 17:59] jdm opened #20280 "Passing --nocapture to test-unit doesn't work"
`./mach test-unit -p profile --nocapture` yields:
[code]

[2018-03-12 17:59] highfive commented on #20280
cc @wafflespeanut

[2018-03-12 18:10] jdm opened #20281 "servo-linux-cross2 suddenly didn't like mozangle"
[code]

[2018-03-12 18:10] highfive commented on #20281
cc @aneeshusa

[2018-03-12 18:34] SimonSapin commented on #20281
What’s the GCC version?

[2018-03-12 18:38] SimonSapin commented on #20281
Part of the output that seems most relevant:

cargo:warning=     constexpr NonCopyable() = default;
cargo:warning=     ^
cargo:warning=gfx/angle/checkout/src/common/angleutils.h:33:5: note: C++11 'constexpr' only available with -std=c++11 or -std=gnu++11

mozangle uses `.flag_if_supported("-std=gnu++11")` with the CC crate: https://github.com/servo/mozangle/blob/v0.1.4/build.rs#L54

[2018-03-12 18:39] SimonSapin commented on #20280
Try adding `--` to separate test-program args from cargo args. Or maybe twice to also separate cargo args from mach args.

[2018-03-12 19:12] jdm commented on #20280
Neither `./mach test-unit -p profile -- --nocapture` nor `./mach test-unit -p profile -- -- --nocapture` made a difference.

[2018-03-12 19:13] jdm commented on #20280
Although maybe that's a change that needs to be made to the invocation of cargo from the mach command instead.

[2018-03-12 22:41] SimonSapin commented on #20280
I’ve just looked at the code, `test-unit` does not accept arbitrary arguments or pass them through to cargo. Maybe it should, but in the meantime you can probably use `./mach cargo test` or even `cargo test`.

[2018-03-12 23:13] jdm commented on #20280
Sure, but test-unit does accept an explicit --nocapture argument, so it's surprising that it's broken.

[2018-03-12 23:27] kwonoj commented on #20268
It'd be good to support build script on arch ooto. Mind if I shoot small PR for it? @FallingSnow (only if you don't have plan to tackle this)

[2018-03-12 23:31] FallingSnow commented on #20268
By all means, please. I have too many other obligations to submit a PR otherwise I would have already :)

[2018-03-12 23:33] kwonoj commented on #20268
@highfive : assign me

plz. 🙏

[2018-03-12 23:33] kwonoj commented on #20268
@FallingSnow thanks, let me try to stab on this.

[2018-03-12 23:45] kwonoj commented on #20268
@highfive : assign me

[2018-03-12 23:45] highfive commented on #20268
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-12 23:57] gootorov commented on #20126
Remaining dead links:
http://doc.servo.org/style/selector_parser/trait.SelectorImplExt.html
http://doc.servo.org/style/stylist/struct.PerOriginSelectorMap.html
http://doc.servo.org/style/selector_parser/enum.PseudoElement.html

[2018-03-13 02:06] fabricedesre opened #20284 "The :active pseudo class is not (fully) supported"
At least it doesn't work on elements like `<h1>` or `<span>` (`:hover` works fine though).

See https://jsfiddle.net/ewe73qz3/

[2018-03-13 09:29] nox opened #20286 "Support Feature-Policy"
This is needed for WebVR and other fancy features, to let websites explicitly say they don't want any WebVR stuff running.

[2018-03-13 10:40] SimonSapin commented on #20281
What PR was this one? http://build.servo.org/builders/android/builds/11017 is green on servo-linux-cross2 after this issue was opened.

[2018-03-13 12:23] staktrace commented on #20239
@kvark How do I get a capture in servo without doing a local build?

[2018-03-13 12:30] SimonSapin commented on #20280
Oh I missed that, sorry.

It does appear to work for me though:

[code]

[2018-03-13 12:54] jdm commented on #20281
It was observed in #20273.

[2018-03-13 12:57] jdm commented on #20286
See also https://github.com/mozilla/standards-positions/issues/24.

[2018-03-13 13:14] jdm commented on #18651
The way to solve this would be to have a different way of obtaining the JSContext in the Promise destructor. Maybe we couold add a ScriptThread API for it.

[2018-03-13 13:49] nox commented on #18651
I'm on it.

[2018-03-13 16:16] fabricedesre commented on #20284
Closing as this is a dupe of issue #7333

[2018-03-13 16:23] fabricedesre commented on #20284
Actually, one case of https://html.spec.whatwg.org/multipage/semantics-other.html#selector-active is not implemented:
[code]

[2018-03-13 16:40] fabricedesre commented on #20284
@sjmelia I see you did the implementation for the currently supported elements. Are you interesting in this part?

[2018-03-13 20:51] jdm commented on #20281
This just happened on servo-mac2 as well in #20290.

[2018-03-13 20:52] jdm commented on #20281
Also on servo-mac5 on the same merge attempt.

[2018-03-13 20:55] jdm commented on #20281
Strangely in the mac builds logs `-std=gnu++11` is present.

[2018-03-13 20:57] jdm commented on #20281
Stackoverflow suggested that using CC=gcc-5 and CXX=g++-5 may fix this. We used to use those when we depended on gecko-media: https://github.com/servo/servo/commit/f46fbe45998f72f4b543a7d92b64dac6c324cc89

[2018-03-13 20:58] SimonSapin commented on #20281
cc-rs’s `flag_if_supported` is based on running the compiler on a dummy file with that flag. "Support" is determined by stderr output being empty:

https://github.com/alexcrichton/cc-rs/blob/1.0.6/src/lib.rs#L396-L447

It may be worth printing the result of `is_flag_supported` to see if it is `Ok(false)` or an error, and which one.

[2018-03-13 21:24] jdm opened #20292 "Intermittent failure in /_mozilla/mozilla/worklets/test_paint_worklet.html"
cc @asajeffrey
[code]
The non-reference image was a blank page.

[2018-03-13 21:37] kvark commented on #20239
@staktrace I was thinking about the old binary recorder, which can be enabled in Servo by passing `-Z wr-record`

[2018-03-13 22:34] asajeffrey commented on #20292
Grr, I wonder if this is related to us adding timeouts to paint worklets?

[2018-03-14 00:27] #20268 closed

[2018-03-14 00:55] aeweston98 commented on #7084
@jdm Question regarding bullet points 2&3 from your plan above: let's call the new function (referred to in bullet 2) passed to CollectServoSizes f. Bullet 3 says that we will invoke f from inside some other function, let’s call it g, which will be passed to the ObjectPrivateVisitor constructor. Because g only takes input parameters JSObject* and nsISupports**, I don’t see how g will have access t

[2018-03-14 05:04] fabricedesre commented on #20110
We discussed further on IRC and agreed that this should rather be handled by the OS and/or the embedder.

[2018-03-14 05:04] #20110 closed

[2018-03-14 05:25] atouchet commented on #13352
@SimonSapin does the mozangle crate address this at all?

[2018-03-14 05:27] atouchet commented on #18130
This is still happening.

[2018-03-14 05:30] atouchet commented on #17146
@paulrouget do you know what the current situation is regarding this issue? As far as I can tell control key input still isn't working properly after the Glutin update.

[2018-03-14 05:53] paulrouget commented on #17146
We need to investigate see if that needs to be fixed in glutin or in servo.

[2018-03-14 08:20] SimonSapin commented on #13352
I’d say it does, yes.

* https://github.com/servo/mozangle/blob/master/gfx/angle/checkout/out/gen/angle/id/commit.h identifies a commit in https://github.com/mozilla/angle
* https://github.com/servo/mozangle#updating-angle has instruction on how to update from mozilla-central
* https://github.com/servo/mozangle/blob/master/gfx/angle/update-angle.py has instructions on how to update from upstream (

[2018-03-14 08:20] #13352 closed

[2018-03-14 08:25] sjmelia commented on #20284
Yes actually i'd love to pick this up!

[2018-03-14 12:49] staktrace commented on #20239
Ah, here's a recording then. I just started servo with -Z wr-record and then closed it. The default start page had the funky text so presumably the recording should have it.
[wr-record.bin.gz](https://github.com/servo/servo/files/1811089/wr-record.bin.gz)

[2018-03-14 13:33] kvark commented on #20239
@staktrace thanks! We'll need to know the WR revision here and ultimately convert it to a "real" capture (by hitting "C" within wrench when replaying it).

[2018-03-14 13:47] jdm commented on #7084
@aeweston98 Oops, I forgot that `g` is a bare function, not a member function of the class. Ok, so what we'll do instead is create a separate C++ method named InitializeMemoryReporter that accepts `f` and stores it in a global variable in `jsglue.cpp`. This method will need a Rust binding in `glue.rs`, and we can call it from Servo in `components/script/lib.rs` in the `init` method. Does that make

[2018-03-14 13:55] aeweston98 commented on #7084
@jdm Yes, that is along the same lines as what I was thinking if you see my updated comment above. I will get to work on doing that!

[2018-03-14 13:57] staktrace commented on #20239
@kvark It's whatever version of WR was in the March 12 servo-latest.dmg.

[2018-03-14 14:14] fabricedesre commented on #20284
Awesome, it's all your!

[2018-03-14 14:48] jdm commented on #20239
That would be 6611df9fdf930db4fb93a00ce2c2d3163c0bb1a1.

[2018-03-14 14:49] jdm commented on #20239
Nevermind, it should be 6dea428a429cb6410949c14279e115122f74c501.

[2018-03-14 15:09] kvark opened #20295 "Add hotkey for WebRender capturing"
The new [capturing infrastructure](http://kvark.github.io/webrender/debug/ron/2018/01/23/wr-capture-infra.html) can capture individual frames, which are very nice to debug independently of Servo. Gecko already has it integrated on Ctrl+Shift+3. That would be helpful to investigate issues like #20239

[2018-03-14 15:09] highfive commented on #20295
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-14 15:20] jdm commented on #20295
This would require adding a keybinding like https://github.com/servo/servo/blob/daaee046b3a5a949a22b69a7ba42d2d741914645/ports/servo/glutin_app/window.rs#L1211, adding a window event like [ToggleWebRenderDebug](https://github.com/servo/servo/blob/daaee046b3a5a949a22b69a7ba42d2d741914645/ports/servo/glutin_app/window.rs#L1232), [processing that event](https://github.com/servo/servo/blob/daaee046b3a

[2018-03-14 15:40] asajeffrey commented on #20292
Yes it would.

https://github.com/servo/servo/blob/master/tests/wpt/metadata/css/css-paint-api/__dir__.ini sets `dom.worklet.timeout_ms`.

https://github.com/servo/servo/blob/master/tests/wpt/mozilla/meta/mozilla/worklets/__dir__.ini does not.

[2018-03-14 16:49] SimonSapin commented on #20281
A more recent compiler is probably good, but if cc-rs is buggy (flags being intermittently incorrectly considered as unsupported?) we should determine that and report it upstream.

[2018-03-14 16:55] kwonoj commented on #20295
Mind if I give it a shot for this?

[2018-03-14 16:56] kwonoj commented on #20295
@highfive assign me

[2018-03-14 16:56] highfive commented on #20295
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-14 17:01] jdm commented on #20281
The command line for the mac failures shows that -std=gnu++11 is being passed when the failures occur.

[2018-03-14 17:26] #17011 closed

[2018-03-14 18:28] kvark commented on #20239
I'm not able to replay the binary capture with either of those revisions :( WR binary reader only sees a single black frame.

[2018-03-14 18:52] sp3d commented on #14953
After more investigation, this bug (which is still present in master) seems subtler: based on debug printing, key processing does seem to occur on keypress for PageUp/etc., but the visual state of the window is not updated until key release. How does Servo decide when to draw a new frame?

[2018-03-14 18:56] sp3d commented on #12038
I've encountered similar behavior when breaking in gdb on `<servo::glutin_app::window::Window as compositing::windowing::WindowMethods>::handle_key`; even after resuming execution, modifers act stuck-down and input is generally broken.

[2018-03-14 20:49] kvark opened #20299 "Use winit where possible instead of glutin"
We should use `glutin` only in parts of the code that are hardcoded to GL, and stick to `winit` in other places, like window management and events. That will simplify the process of getting more graphics backends later on. `Glutin` simply re-exports `winit` types, so this is safe to do.

cc @zakorgy , who made those changes as a part of https://github.com/szeged/servo/commit/c38ba12833856af799317c

[2018-03-14 20:49] highfive commented on #20299
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-14 20:55] SimonSapin commented on #20299
As far as I can tell all of the relevant code is in `ports/servo/glutin_app/window.rs`.

[2018-03-14 22:02] Xanewok commented on #5014
I believe https://github.com/servo/servo/pull/20267 fixes this issue! (Yes, I forgot to enter the fixed issue number in PR 😞 )

[2018-03-14 22:05] jdm commented on #14953
In theory, the scrolling should be triggered from https://github.com/servo/servo/blob/master/ports/servo/glutin_app/window.rs#L1197. However, keyboard input actually starts in https://github.com/servo/servo/blob/master/ports/servo/glutin_app/window.rs#L386, which then passes it to the focused script thread via the constellation (https://github.com/servo/servo/blob/master/components/servo/lib.rs#L3

[2018-03-14 22:09] jdm commented on #14953
The actual scrolling that is initiated as a result of that keypress is https://github.com/servo/servo/blob/master/components/compositing/compositor.rs#L889, and there may be an unexpected delay introduced based on when pending_scroll_zoom_events is processed.

[2018-03-14 22:12] jdm commented on #5014
Can't wait for all of the WebIDL improvements we can make a result of that improvement!

[2018-03-14 22:12] #5014 closed

[2018-03-14 23:27] Xanewok commented on #19241
https://github.com/servo/servo/pull/20267 and https://github.com/servo/rust-mozjs/pull/397 introduce support for typed arrays using Box<Heap<*mut JSObject>> variant (in addition to stack-rooting using CustomAutoRooter).

[2018-03-14 23:28] Xanewok commented on #14019
This should be fixed by https://github.com/servo/servo/pull/20265.

[2018-03-14 23:51] #14019 closed

[2018-03-14 23:51] jdm commented on #19241
Good enough!

[2018-03-14 23:51] #19241 closed

[2018-03-15 01:21] kwonoj commented on #20299
@highfive assign me

[2018-03-15 01:21] highfive commented on #20299
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-15 04:15] aeweston98 commented on #7084
@jdm I have updated jsglue.cpp and glue.rs with the new functions, but I am having issues actually building rust-mozjs. I have attached the output from the build. Based on what I have read the source of the issue is a mismatch in my python packages or versions, however I have not had any success fixing it. I looked for other related issues in the servo project as well, please let me know if you kn

[2018-03-15 14:53] asajeffrey opened #20306 "Uuid no longer supports custom RNGs"
PR https://github.com/uuid-rs/uuid/pull/112/ removed the `Rand` impl from `Uuid`, so we can no longer generate UUIDs using the `servo_rand` custom RNG.

Uuid issue: https://github.com/uuid-rs/uuid/issues/153

[2018-03-15 14:53] asajeffrey commented on #20306
cc @nox @Eijebong

[2018-03-15 14:58] asajeffrey commented on #20306
IRC chat: https://mozilla.logbot.info/servo/20180315#c14464165

[2018-03-15 15:04] kinggoesgaming commented on #20306
I think I will try to get a temporary fix this week until rand stabilizes.

[2018-03-15 15:05] nox commented on #20306
What kind of temporary fix do you have in mind? Could we just make rand a public dependency again and bit the bullet and make a breaking bump in uuid when one is made in rand, please?

[2018-03-15 15:07] #18651 closed

[2018-03-15 15:10] jdm commented on #7084
@aeweston98 What python binaries exist in your path? `python`? `python26`? It seems like it can't find a `python2`, so maybe try `export PYTHON=[binary]` where `[binary]` is another python binary that exists in your path?

[2018-03-15 15:16] asajeffrey commented on #19959
The top ten are now done (https://github.com/servo/servo-warc-tests/issues/8) but there are still sites in the top 25 up for grabs! https://github.com/servo/servo-warc-tests/issues/37

[2018-03-15 16:20] jdm opened #20308 "Intermittent panic in GlobalScope::promote"
This is the same underlying problem from ipc-channel as observed in #13480.

[code]

[2018-03-15 16:54] kinggoesgaming commented on #20306
I will be opening a PR to patch it in a few and until thats merged and released, you can use a `[patch]` in `Cargo.toml`

[2018-03-15 18:45] #20292 closed

[2018-03-15 19:25] mbrubeck commented on #20149
I can reproduce this on my Pixel

[2018-03-15 19:42] mbrubeck commented on #20149
Possibly the same bug as #11642 and/or #19986.

[2018-03-15 19:45] jdm commented on #20281
Ok, so here's a peculiarity. In the log with a failure, the actual file that is failing does not include -std=gnu++11 while lots of other files do have it. When I do a local build, all the files include the flag.

[2018-03-15 20:27] jdm commented on #14884
@mrowqa I'm not sure if we have the ability to add arbitrary annotations like `#[must_root]` when generating the bindings. It is probably more straightforward to [hardcode](https://github.com/servo/servo/blob/master/components/script_plugins/unrooted_must_root.rs#L52) the rust-mozjs types that we care about to return true.

[2018-03-15 20:28] jdm commented on #14884
Note that marking them properly will likely generate a _huge_ number of existing violations.

[2018-03-15 20:40] #20299 closed

[2018-03-15 21:39] Mrowqa commented on #14884
I see. I'll check later what *huge* means. So, we want to fix these violations if it is doable in reasonable time, otherwise wait some time once most of them are fixed during regular development, don't we?

[2018-03-15 22:04] asajeffrey commented on #20306
Thanks!

[2018-03-15 22:12] jdm commented on #14884
If we do it right, I would expect every DOM API that returns JSVal or *mut JSObject to be flagged as an error. They're correct; the correct fix is https://github.com/servo/servo/issues/6307.

[2018-03-15 22:23] KodrAus commented on #20306
Sorry, chiming in a bit late.

The reason `rand` was removed as a public dependency was so that we aren't stuck with a specific minor version when `uuid` stabilises. Since `rand` is actively churning at the moment I'm not sure there's any stable version of `rand` on the near horizon. If we pull this in, we'll just end up in the same boat whenever we want to stabilise `uuid`.

Having said that, I'm

[2018-03-15 22:29] nox commented on #20306
AFAICT providing a `new_v4_from_bytes` method that would do the same `set_variant`/`set_version` calls as `new_v4` would be enough to fit the needs of Servo. @asajeffrey can you confirm that?

[2018-03-15 22:35] gootorov commented on #10209
Working on `getFramebufferAttachmentParameter`.

[2018-03-15 23:35] #20281 closed

[2018-03-16 03:55] wabain commented on #17584
I gave this a try and it looks like fetch and xhr aren't exposed in worklet scope. Assuming that's by design, maybe I could add a debug option to expose a counter in the worklet scope?

[2018-03-16 06:26] atouchet opened #20313 "Loading duckduckgo.com/html crashes Servo"
Steps to reproduce:

1. Load https://duckduckgo.com/html/ in Servo.
2. The browser will crash before loading the page.

This regression first occurred in the [2018-03-13](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-03-16 06:39] atouchet commented on #15864
Is this issue still relevant?

[2018-03-16 06:53] jdm commented on #20313
I don't crash on that page, but I did crash when I tried to perform a search in the nightly build.

[2018-03-16 06:53] jdm commented on #20271
I hit this panic when clicking on a search link from a duckduckgo result.

[2018-03-16 06:55] jdm commented on #20271
[code]

[2018-03-16 15:31] kvark commented on #20239
Interestingly, both @staktrace and @cpdean appear to have Iris 650 video, and I can't reproduce it on Iris 550 video (apparently, OS version is less relevant here). I'll try to find another machine to repro.

[2018-03-16 15:41] asajeffrey commented on #17584
Oh that's annoying. We could have the http server return a different JS program based on the counter it maintains? Otherwise, as you said, we could add a just-for-testing global counter (under the hood it would be something like a `Arc<AtomicUsize>`).

We could also use high-precision timers, and rely on the chance of two timers returning the same value as being vanishingly small.

[2018-03-16 15:54] asajeffrey commented on #20306
Yes, part of the problem is there's no workaround for generating a v4 uuid by hand, since `set_variant`and `set_version` are private.

[2018-03-16 16:22] cpdean commented on #20239
@kvark you are correct, my laptop has this gpu: `Intel Iris Plus Graphics 650 1536 MB`

[2018-03-16 17:24] jdm commented on #20271
This panic comes from https://github.com/servo/webrender/blob/f7fc88cb81bd475bc28d2e290cf387171cd6350c/webrender/src/render_backend.rs#L281.

[2018-03-16 17:26] jdm commented on #20271
@nical This looks like a panic that originates from your async building work. Any suggestions for how to investigate it?

[2018-03-16 17:29] jdm commented on #20271
The render backend already checks if can_render is false at https://github.com/servo/webrender/blob/f7fc88cb81bd475bc28d2e290cf387171cd6350c/webrender/src/render_backend.rs#L968, but then we go ahead and attempt to render it later on in the method.

[2018-03-16 17:29] jdm commented on #20313
I suspect this is #20271.

[2018-03-16 17:57] nical commented on #20271
Oh yeah looks like the branch that cancels the render and the one that checks for generate_frame should be inverted.

[2018-03-16 18:15] kvark commented on #20239
I got a MBP 2017 with Iris 650, not able to reproduce the issue with latest Servo build (downloaded from download.servo.org). @cpdean is it still an issue for you?

[2018-03-16 20:07] cpdean commented on #20239
Both the latest build on download.servo.org works for me, as does a fresh pull on master with a clean build:

[code]

![image](https://user-images.githubusercontent.com/160099/37542284-08e1e6a6-2934-11e8-8ce7-6f6fe4cb0ce9.png)

Whatever happened, it's now resolved.  Thanks everyone!

[2018-03-16 20:07] #20239 closed

[2018-03-16 21:22] jdm opened #20319 "test-dromaeo can't find osmesa"
This made it work for me and xanework:
[code]

[2018-03-16 21:23] jdm commented on #20319
This is probably also true for `test-jquery`.

[2018-03-17 05:13] jdm opened #20322 "Update text cursor handling to match spec"
https://github.com/whatwg/html/pull/3472

[2018-03-17 06:03] CYBAI commented on #12590
I can reproduce this issue that I cannot navigate to any `random` picture when I clicked on the `random` button which is an `anchor` in [xkcd](https://xkcd.com/)

Built with 2f8fa32e91 on macOS 10.12.6

[2018-03-17 14:44] CYBAI commented on #20279
Hi @jdm , may I take this one?

[2018-03-17 20:11] jdm commented on #20279
Sure!

[2018-03-17 20:33] Max-E opened #20323 "Can't create a shared library that statically links with libservo (Linux)"
My operating system is 64-bit Linux Mint 18 corresponding to Ubuntu 16.04.

I think that there is a bug in Servo when compiled into a shared library. This is different than creating a shared library just for libservo-- I'm trying to make a shared library that contains libservo PLUS some of my own code.

Here is a short but complete example that reproduces the problem: https://github.com/Max-E/serv

[2018-03-17 20:40] SimonSapin commented on #20323
Could you copy/paste the full error message?

[2018-03-17 20:45] Max-E commented on #20323
[code]

[2018-03-17 21:55] Moggers opened #20324 "Expose webrender debugger as a feature in components/servo"
Would it be possible to expose a crate feature in components/servo that just re-exposes webrender's debugger?

[2018-03-17 22:19] jdm commented on #20324
Yes; a pull request to do that would be fine.

[2018-03-18 03:24] paulrouget commented on #20323
What if you change `crate-type = ["dylib"]` to `crate-type = ["cdylib"]`?

[2018-03-18 04:03] Max-E commented on #20323
Yeah, that fixes it. What's the difference?

[2018-03-18 04:03] #20323 closed

[2018-03-18 04:06] paulrouget commented on #20323
dylib is for library loaded from Rust code, cdylib is for library loaded from C code or FFI.

[2018-03-18 13:17] gterzian commented on #10787
Ok I've finally got around to started to look into this one, sorry for the delay...

Just a few thoughts on the 'masterplan' so far:

1. It seems there are a whole bunch of (new?) tests under `tests/wpt/html/browsers/browsing-the-web/unloading-documents/`, so I'm using those as a foundation.
2. I can see there is already quite a bit of infrastructure in place for the `BeforeUnloadEvent`, in terms

[2018-03-18 16:47] Max-E commented on #20323
So it's only a fluke that my non-servo proof-of-concept worked fine with dylib?

[2018-03-18 19:00] fabricedesre opened #20331 "Improve the key events sent from the embedders to Servo"
The key events sent by the embedder to Servo are based on Glutin ones (https://doc.servo.org/src/msg/constellation_msg.rs.html#22-147), and are then mapped to DOM Key events in `components/script/dom/keyboardevent.rs`. This is not ideal because Glutin only has a really limited subset of possible DOM Keys (eg. most  of the keys in https://w3c.github.io/uievents-key/ are missing).

Would that make s

[2018-03-18 19:53] emilio opened #20332 "A bunch of other @counter-style code should use `Integer::parse` instead of `expect_integer`"
In order to handle `calc()` correctly, code like this:

[code]

Needs to become something like:

[code]

(And change the relevant data structures to store `Integer` instead of `i32` / `u32`).

[2018-03-18 19:54] highfive commented on #20332
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-18 19:54] emilio commented on #20332
cc @upsuper

[2018-03-18 20:11] jdm commented on #20332
Code: https://github.com/servo/servo/blob/785b7c7775ae13c02556c84a16469efc6c4d71e8/components/style/counter_style/mod.rs#L529 is one example in that file.

[2018-03-18 20:14] jdm commented on #20331
It does seem like a good idea to define Servo's key types in terms of what web standards describe and require embedders to communicate with Servo using those keys.

[2018-03-18 20:36] kwonoj commented on #20332
May I try this one if anyone's not working on it yet or need to be subsequent work of #20304?

[2018-03-18 21:45] atouchet opened #20335 "Tab support (UI)"
Servo builds no longer include tabbed browsing support after the removal of the Browser.html interface. @paulrouget has [mentioned](https://groups.google.com/forum/#!topic/mozilla.dev.servo/U5zhsBLXovM) bringing tab support back. Re-adding the option for tabbed browsing would help bring Servo builds back to feature parity with the Browser.html releases.

[2018-03-18 22:39] upsuper commented on #20332
I'm not sure whether there is any sensible usecase of using `calc()` in descriptors of `@counter-style`... but sure we can support it...

[2018-03-19 01:04] emilio commented on #20332
@kwonoj sure, please do! It doesn't really interfere with #20304, as long as CounterBound is not touched.

[2018-03-19 01:12] kwonoj commented on #20332
@highfive assign me

[2018-03-19 01:12] highfive commented on #20332
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-19 01:19] aeweston98 commented on #7084
@jdm I have implemented the new functions in script_runtime.rs and lib.rs. I was wondering what you would recommend doing to test the new code?

[2018-03-19 01:52] jdm commented on #7084
@aeweston98 To test it, I would load a nontrivial page like github.com and save a memory log. Do the same in an unpatched build and compare the results. I would expect to see the dom-tree entries missing and at least as much heap usage recorded in object-private instead in the new log.

[2018-03-19 02:52] atouchet commented on #16326
This was fixed in #20316.

[2018-03-19 02:52] #16326 closed

[2018-03-19 02:53] atouchet commented on #11315
This was fixed in #20316.

[2018-03-19 02:53] #11315 closed

[2018-03-19 02:58] atouchet commented on #20313
I am no longer able to reproduce this.

[2018-03-19 03:03] atouchet commented on #18768
This is fixed now.

[2018-03-19 03:03] #18768 closed

[2018-03-19 05:12] UtherII commented on #10030
I tried again with a fresh nightly and the problem seem to be over. I have no clue about what could have fixed this.

[2018-03-19 05:31] #10030 closed

[2018-03-19 07:36] paulrouget commented on #20335
Still planned. Waiting on #20228

[2018-03-19 07:37] paulrouget commented on #20331
Absolutely.

[2018-03-19 07:39] paulrouget commented on #20323
You can still load a dylib from C code. But it will not always work (like in that case, or with a different OS (mac for some reason)).

[2018-03-19 09:22] #20197 closed

[2018-03-19 10:03] nox opened #20337 "Find out what to do about WebVR vs WebXR"
Apparently the draft for WebVR is getting retired, and all the rage is WebXR now, with `navigator.vr` becoming `navigator.xr` and a bunch of other changes. I need to find out if WebVR needs to be retired from the code too or whether it must stay as legacy.

[2018-03-19 11:18] #20158 closed

[2018-03-19 12:57] paulrouget commented on #20149
I can reproduce here as well. Looks like this: https://github.com/servo/servo/issues/11642#issue-158701783

[2018-03-19 13:56] jdm opened #20342 "Replace WebGL APIs that accept `object` argument with typed arrays instead"
Now that #20267 and has merged, we can remove our workarounds for WebIDL APIs that are supposed to accept typed array arguments. https://github.com/servo/servo/blob/bedeec0cf54011e3d15bd50ba32b6b422958b483/components/script/dom/webidls/WebGLRenderingContext.webidl#L491-L498, and there are a bunch of other commented out APIs that we should be able to uncomment (while removing the versions which hav

[2018-03-19 14:02] jdm opened #20343 "Implement typed array support for XMLHttpRequest's send API"
Now that #20267 has merged, we can uncomment the [BufferSource](https://github.com/servo/servo/blob/master/components/script/dom/webidls/XMLHttpRequest.webidl#L16) argument to allow XMLHttpRequest.send() to support sending typed arrays as the XHR body. This will require extracting the data from the typed array in [this code](https://github.com/servo/servo/blob/bedeec0cf54011e3d15bd50ba32b6b422958b

[2018-03-19 14:06] Xanewok commented on #20342
If possible, I'd like to continue working on this for our bachelor thesis.

[2018-03-19 14:06] jdm opened #20344 "Use BufferSource in TextDecoder API"
Now that #20267 has merged, we can uncomment the `decode` method in TextDecoder.webidl that accepts BufferSource and remove the one that fakes it by accepting an `option` value. This will require similar cleanup as #20342.

Code: `components/script/dom/webidls/TextDecoder.webidl`, `components/script/dom/textdecoder.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/encoding/textdecoder*`

[2018-03-19 14:11] jdm opened #20345 "Use BufferSource and DataView in bluetooth APIs"
Now that #20267 has merged we can remove our workarounds for various bluetooth APIs that are supposed to accept typed arrays. This will require similar clean up as #20342.

Code: [RemoveGATTDescriptor.webidl](https://github.com/servo/servo/blob/b3ae74b5c9ae7b05af10ffbd5080d34bfc5ecb49/components/script/dom/webidls/BluetoothRemoteGATTDescriptor.webidl#L16), [BluetoothDataFilterInit](https://github.

[2018-03-19 14:15] jdm opened #20346 "Implement the arraybuffer API for Fetch bodies"
Now that #20267 has merged, we can implement WebIDL APIs that involve typed arrays. This API needs to create an ArrayBuffer object that contains the bytes that make up the fetch response's body.

Code: `components/script/dom/webidls/Body.webidl`, `components/script/dom/fetch.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/fetch/` (this should result in [new passing tests](https://github.c

[2018-03-19 14:18] jdm opened #20347 "Implement websocket send operations for typed arrays"
Now that #20267 has merged we can implement WebIDL APIs that accept typed array arguments, like the two WebSocket.send methods that take ArrayBuffer and ArrayBufferView.

Spec: https://html.spec.whatwg.org/multipage/web-sockets.html#dom-websocket-send
Code: `components/script/dom/webidls/WebSocket.webidl`, `components/script/dom/websocket.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/we

[2018-03-19 14:21] jdm opened #20348 "Implement support for blobs created from typed arrays"
Now that #20267 has merged we can implement APIs that accept typed arrays as arguments. The ArrayBuffer and ArrayBufferView types are commented out in the BlobPart union, so uncommenting them means we need to modify the blob constructor to deal with typed arrays.

Code: `components/script/dom/webidls/Blob.webidl`, `components/script/dom/blob.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests

[2018-03-19 14:27] jdm opened #20349 "Implement DOMMatrixReadOnly and DOMMatrix constructors for typed arrays"
Now that #20267 has merged we are able to implement the fromFloat32Array and fromFloat64Array static methods, along with toFloat32Array and toFloat64Array.

Spec: https://drafts.fxtf.org/geometry-1/#dom-dommatrixreadonly-fromfloat32array
Code: `components/script/dom/webidls/DOMMatrixReadOnly.webidl`, `components/script/dom/dommatrixreadonly.rs`, `components/script/dom/webidls/DOMMatrix.webidl`, `c

[2018-03-19 14:32] jdm opened #20350 "Use ArrayBufferView in getRandomValues API"
Now that #20267 has merged, we can remove our workaround for the getRandomValues API and use the proper type in the WebIDL instead. This will require cleanup similar to #20342.

Code: `components/script/dom/webidls/Crypto.webidl`, `components/script/dom/crypto.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/WebCryptoAPI`

[2018-03-19 15:05] Jayflux opened #20352 "Servo build time on Windows 10 is far too slow"
Building Servo on Windows 10 is taking over an hour for me quite regularly.
I've tried various fixes, such as turning windows defender off for that directory but that hasn't made much of a difference.
I understand both machines are different and the difference will vary on OS's but i'm talking orders of magnitude in differences here.. If anything my windows machine should be faster as its using a

[2018-03-19 15:09] #20257 closed

[2018-03-19 15:14] Jayflux commented on #20352
@SimonSapin  thanks, i will add those 2 to the exclusions.
How are you developing on Servo at the moment? Are you using the Visual Studio Debugger? or adding lines of code and rebuilding?
If the later how long are rebuilds taking you

[2018-03-19 15:38] jdm commented on #19797
@aishpant Have you made any progress with this task?

[2018-03-19 16:48] nox opened #20354 "Investigate WebXR testing"
Link dump:

 * https://github.com/immersive-web/proposals/issues/8
 * https://github.com/immersive-web/webxr/issues/187
 * https://dxr.mozilla.org/mozilla-central/source/dom/webidl/VRServiceTest.webidl
 * https://github.com/w3c/web-platform-tests/pull/5535

Placeholder issue for me to write a plan to support WebXR testing in Servo.

[2018-03-19 16:49] nox opened #20355 "Audit what's supported or not in a bunch of WebXR demos"
* https://github.com/wizztjh/awesome-WebVR
 * https://vr.mozilla.org/webvr-demos/

Check what's needed and not yet implemented in Servo (if anything) to run those WebXR demos.

[2018-03-19 16:57] Eijebong opened #20356 "Update num-traits to 0.2"
- [x] https://github.com/servo/app_units/pull/43
- [x] https://github.com/servo/euclid/pull/279
- [x] image (needs enum_primitive)
- [x] https://github.com/netvl/immeta/pull/14
- [x] mozjs
- [x] mp4parse
- [x] ordered-float
- [x] plane-split (needs euclid)
- [x] webrender

[2018-03-19 16:57] Eijebong commented on #20356
@highfive assign me

[2018-03-19 16:57] highfive commented on #20356
Hey @Eijebong! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-19 17:42] brainlessdeveloper commented on #18015
The implementation of `Parse` for `ListStyleImageUrlOrNone` won't compile now because `ListStyleImage` is now generic. AFAIK it doesn't make sense to have `Parse` for a computed `ListStyleImage`, only for a specified one, right?

I don't know how to continue with this. Here's a [pastebin](https://pastebin.com/HRWKe7XJ) of the compiler errors.

[2018-03-19 17:45] aishpant commented on #19797
Sorry, I haven't had the time to look at this :-( Please assign it to someone else.

[2018-03-19 17:53] jdm commented on #18015
I recommend moving the Parse implementation to specified/list.rs and only implementing for the specified type in particular, rather than making it a generic implementation. This should allow relaxing the `:Parse` constrain on the generic struct, which should address most/all of the compile errors.

[2018-03-19 19:42] Jayflux commented on #20352
Here is a fresh build with my .cargo and .rustup folders excluded from Windows Defender
https://gist.github.com/Jayflux/9d27cc98f2cc4d7501ab3d019d99d70e
Still 52 mins

[2018-03-19 19:45] nox opened #20357 "Use a phf map for the WebGL extension registry"
There is no need to build a HashMap at runtime etc, we could just generate it at compile-time.

[2018-03-19 21:07] SimonSapin commented on #20352
Sorry, I don’t have more than that one data point. Windows is not my primary environment, I only installed it recently for some WebRender stuff.

[2018-03-19 21:25] mbrubeck commented on #11642
As noted in #20149 this only seems to happen in release builds.

[2018-03-19 21:30] Jayflux commented on #20352
Sounds like this is related https://github.com/rust-lang/rust/issues/37543

[2018-03-19 22:31] aeweston98 commented on #7084
@jdm I tested the new code with `./mach run https:/www.google.com -m` but no object-private entries show up. Is that what you mean by memory log? Do I have to add a call to report in get_reports for object-private in order for it to show up?

[2018-03-19 22:42] #20324 closed

[2018-03-19 23:00] christianpoveda commented on #20348
@highfive assign me

[2018-03-19 23:01] highfive commented on #20348
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-19 23:10] nox opened #20358 "Audit order of WebGL error checks"
Seems like we don't follow the spec when it comes to emitting WebGL errors. For example, our `DrawArrays` will emit an `InvalidOperation` if there is no current program before checking whether `first` or `count` are negative.

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.11

[2018-03-19 23:25] nox opened #20359 "Audit the overflow checks in WebGL"
https://github.com/servo/servo/blob/ff17af064b672482e12d98ec474e2dc0013cb17f/components/script/dom/webglrenderingcontext.rs#L2045-L2047

This can actually overflow, which is unfortunate for an overflow check.

[2018-03-20 00:00] nox commented on #20359
Ooooooh I forgot that WebGL clamps everything to `i32` and `u32`, so that one is ok given everything is coerced to `u64`, I'll keep the issue open and close it when I've checked the others.

[2018-03-20 00:11] jdm commented on #7084
Yes, that is what I meant by memory log. If you've updated get_reports like I described in my original plan, I would expect the output to look different from a build based off of the master branch. If it doesn't, I'll probably need to look at your changes to be able to make any useful suggestions.

[2018-03-20 02:31] wabain commented on #17584
The module is only actually fetched from the server once, so unfortunately we can't vary the response. It would also be good to test some binary states (e.g. painter registered / not registered, alpha true / alpha false), and I don't know of a scheme that would give really strong odds of getting multiple outputs in those cases from timing information. I think it will have to be a test timer.

[2018-03-20 02:51] paulrouget opened #20360 "Remove the overscroll code"
By overscroll, I mean the bouncing effect when scrolling beyond the borders of the page.

We are implementing this at the embedder level. For example, on Android, we will be using an OverScroller and draw the overscroll effect directly on top of Servo.

@glennw , who could take care of this?

[2018-03-20 02:51] paulrouget opened #20361 "Report the page dimension to the embedder"
The embedder needs to know the boundaries of the page, and the scroll location.

Does the compositor have all the information?

[2018-03-20 03:20] glennw commented on #20360
Do you mean within WR or is there overscroll code in Servo itself?

[2018-03-20 03:40] paulrouget commented on #20360
@glennw It's implemented in WR, yes.

[2018-03-20 04:25] glennw commented on #20360
@paulrouget OK - if you could open a WR issue with the details, I can gladly remove that code :)

[2018-03-20 04:29] fabricedesre commented on #20361
What's the use case? To let the embedder draw the scroll bars?

[2018-03-20 05:05] paulrouget commented on #20361
To know when to draw the overscroll canvases on Android.

[2018-03-20 06:28] paulrouget commented on #20149
Any idea what could cause this? I'm trying to work on a ServoView for Android, and to get the scrolling performance right, I need a release build.

[2018-03-20 07:41] paulrouget commented on #20360
Filed https://github.com/servo/webrender/issues/2545

[2018-03-20 07:41] #20360 closed

[2018-03-20 08:42] jjpe opened #20363 "Building servo exhausts RAM"
I have a 16-core, 16GB ram workstation.
When I try to build servo with `mach build --dev`, it spits out this log until it gets to the last entry `Compiling servo-websocket v0.20.0`, at which point either I kill the build or the machine locks up due to memory exhaustion.

Any idea what could be causing this? Maybe it's the multitude of cargo/rustc processes, as all 16 cores are utilized during the

[2018-03-20 08:48] emilio commented on #20363
Does `./mach build --dev -j1` help?

[2018-03-20 09:13] jjpe commented on #20363
Assuming the `-j X` switch is similar in nature (and perhaps inspired by) its GCC equivalent, I turned it up to 4 rather than 1. This does the trick, it simply continues the build now. So thank you for this info!

Just as an aside: wow the `constellation` crate consumes an amazing amount of RAM during build. In hindsight it's not strange that 4x this would exhaust 16GB ram.

[2018-03-20 09:13] #20363 closed

[2018-03-20 09:38] jjpe commented on #20207
I'm not entirely sure what changed, but I have a working build now. I haven't installed any extra fedora packages relating to Servo or Gecko, so it can't be that.
So I'm thinking this can be closed.

[2018-03-20 09:38] #20207 closed

[2018-03-20 13:56] jdm opened #20365 "Headless rendering doesn't work on windows"
Right after setting up a GL object, we invoke [these GL methods](https://searchfox.org/mozilla-central/rev/877c99c523a054419ec964d4dfb3f0cadac9d497/servo/ports/servo/glutin_app/window.rs#301-311). However, our get_proc_address implementation on windows is a [stub](https://searchfox.org/mozilla-central/rev/877c99c523a054419ec964d4dfb3f0cadac9d497/servo/ports/servo/glutin_app/window.rs#166-169) so t

[2018-03-20 14:27] jdm opened #20366 "`mach.bat run` doesn't show output on windows"
The following patch makes it appear when Servo panics:
[code]

[2018-03-20 14:27] highfive commented on #20366
cc @wafflespeanut

[2018-03-20 15:41] asajeffrey commented on #17584
Oh that's annoying, our http cache is getting in the way :/

Probably the easiest thing is the timer then. or perhaps `math.random()`? Googling stack overflow for JS uuid gives: https://stackoverflow.com/a/2117523

[2018-03-20 15:57] ferjm commented on #19853
This is now live in https://servo.github.io/buildbotstatus

[2018-03-20 17:17] #20279 closed

[2018-03-20 17:34] emilio commented on #20365
I think that's just because we only run reftests on those platforms IIRC

[2018-03-21 00:22] gootorov opened #20372 "Investigate if GetTexParameter should fail if 0 is returned."
Currently `GetTexParameter` fails if 0 is returned, but none of the specs specify that.
Specs:
[WebGL](https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.8)
[GLES](https://www.khronos.org/registry/OpenGL/specs/es/2.0/es_full_spec_2.0.pdf#nameddest=section-6.1.3)
https://github.com/servo/servo/blob/730bd5ec807fec0ed65bbf85afebe3bbca64b32c/components/canvas/webgl_thread.rs#L1075-L1077
htt

[2018-03-21 02:26] Max-E commented on #20323
All right, thanks for your help and sorry for the noise.

[2018-03-21 06:18] CYBAI commented on #15412
Hi @jdm , I'd like to work on this one!

[2018-03-21 10:53] nox commented on #10660
This didn't happen in a month and a half, AFAICT.

http://build.servo.org/intermittent-failure-tracker/search?filename=bufferDataBadArgs.html&start=&end=&isQuery=true&defaultStart=19000101&defaultEnd=21000101

[2018-03-21 10:53] #10660 closed

[2018-03-21 10:55] nox commented on #8741
I can't reproduce this anymore.

[2018-03-21 10:55] #8741 closed

[2018-03-21 10:56] nox commented on #8753
Latest specs don't take `WebGLShader?` anymore, but `WebGLShader`.

[2018-03-21 11:41] nox commented on #10656
[code]

Cute.

[2018-03-21 11:41] nox commented on #10693
@emilio Did #11724 fix this? If not, what remains to be done?

[2018-03-21 11:43] nox commented on #10698
Merged with ##10656.

[2018-03-21 11:43] #10698 closed

[2018-03-21 11:44] nox commented on #10704
No failure since end of January and the test isn't disabled anymore, closing this.

[2018-03-21 11:44] #10704 closed

[2018-03-21 11:45] nox commented on #11068
Can anyone on Linux confirm whether this still happens or not?

[2018-03-21 11:46] nox commented on #11138
@emilio Could you describe what needs to be done to get this?

[2018-03-21 11:49] jdm commented on #15412
Great! We should figure out if gecko does anything special to support this.

[2018-03-21 11:51] nox commented on #11322
It is still failing but for unrelated reasons (i.e. the initialisation now works just fine). Closing this.

[2018-03-21 11:51] #11322 closed

[2018-03-21 11:56] nox commented on #12859
Those tests still fail and even timeout locally.

[2018-03-21 11:57] nox commented on #13710
Should we go for the same strategy as Gecko?

[2018-03-21 12:03] nox commented on #13928
@anholt Are you sure we don't just need to do `self.current_program.set(None)` and call it a day? AFAIK [Gecko](https://searchfox.org/mozilla-central/source/dom/canvas/WebGLContextGL.cpp#2158-2162) doesn't call any `gl` stuff if `null` is passed, right?

[2018-03-21 12:05] nox commented on #14380
No failure since end of January, closing this.

[2018-03-21 12:07] nox commented on #16221
Duplicate of #16215.

[2018-03-21 12:07] #16221 closed

[2018-03-21 12:09] nox commented on #16215
This one has been expected to time out since a long time ago and seems to be pretty much always OK. Should we change back the expectation and be done with that, @jdm?

[2018-03-21 12:10] nox commented on #16216
This one seems to be consistently ok too.

[2018-03-21 12:14] nox commented on #16217
This one didn't time out since end of January. Closing this.

[2018-03-21 12:14] #16217 closed

[2018-03-21 12:15] nox commented on #16220
This one didn't fail since end of January. Closing.

[2018-03-21 12:15] #16220 closed

[2018-03-21 12:15] nox commented on #16222
No recorded failure in your intermittent tracking tool. Closing.

[2018-03-21 12:15] #16222 closed

[2018-03-21 12:16] nox commented on #16249
No failure since end of January. Closing.

[2018-03-21 12:16] #16249 closed

[2018-03-21 12:17] nox commented on #16254
No failure since end of January. Closing.

[2018-03-21 12:17] #16254 closed

[2018-03-21 12:18] nox commented on #16329
No failure since end of January. Closing.

[2018-03-21 12:18] #16329 closed

[2018-03-21 12:20] nox commented on #17168
No recorded crash in your intermittent tracking tool. Closing it.

[2018-03-21 12:20] #17168 closed

[2018-03-21 12:20] nox commented on #17336
Issue not actionable. Closing.

[2018-03-21 12:20] #17336 closed

[2018-03-21 12:50] nicknadeau commented on #19183
I'm sorry guys, I really don't know how to progress from here, I don't understand enough of this code base in terms of the gecko stuff

[2018-03-21 13:14] jdm commented on #16215
@nox There's no point to explicitly changing it because the work will be undone the next time the expectation doesn't match the test behaviour during the nightly WPT sync.

[2018-03-21 13:15] jdm commented on #16216
I regularly see it happen on CI.

[2018-03-21 13:17] nox commented on #16216
@jdm What do you mean by "see it happen"? That issue says "intermittent failure", but the test is currently marked as failing already, so are you sure what you see on CI isn't just the test always being seen as an unexpected pass?

[2018-03-21 13:23] jdm commented on #16216
@nox Consider the git log of tests/wpt/mozilla/meta/webgl/conformance-1.0.3/conformance/glsl/misc/shader-with-non-reserved-words.html.ini - it was updated on Feb 26, Feb 27, March 12, and March 13. Those are the nightly sync job seeing a different result and automatically rewriting the ini file to match it.

[2018-03-21 13:24] nox commented on #16216
I see.

[2018-03-21 13:25] jdm commented on #16216
That being said, those updates are for an overall test timeout, so perhaps we should make this issue about that instead.

[2018-03-21 14:38] tigercosmos commented on #20366
Why not open a PR?

[2018-03-21 14:43] jdm commented on #20366
It doesn't make `./mach run` work when Servo does not panic.

[2018-03-21 14:46] christianpoveda commented on #20350
@highfive assign me

[2018-03-21 14:46] highfive commented on #20350
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-21 15:45] jdm commented on #15412
https://searchfox.org/mozilla-central/source/xpcom/base/CycleCollectedJSContext.cpp#129 is where Gecko sets their callback for tracking unhandled rejections. It looks like https://searchfox.org/mozilla-central/source/dom/promise/PromiseDebugging.h and https://searchfox.org/mozilla-central/source/dom/promise/PromiseDebugging.cpp are the places that deal with them. https://searchfox.org/mozilla-cent

[2018-03-21 16:01] jdm opened #20377 "Make DOM bindings methods not take raw JSContext pointers"
There's a lot of methods that accept a `*mut JSContext` argument, and these methods have to be marked unsafe because callers could pass anything to them, not just a valid JSContext pointer. I propose the following:
* create a `struct JSContext(*mut jsapi::JSContext)` type
* implement `Deref` for this new type so it's easy to obtain the inner context pointer
* add an unsafe `from_ptr` static method

[2018-03-21 16:15] #20348 closed

[2018-03-21 18:37] fabricedesre opened #20379 "The `Idle` state is not always reached at the end of css transitions"
When a css transition is ongoing, the embedder is notified by the https://doc.servo.org/compositing/windowing/trait.WindowMethods.html#method.set_animation_state method with state value of `Animating`, and then back with the `Idle` value once the animations are done.

I have a couple of cases where we don't go back to the `Idle` state after a transition, and instead keep hammering the embedder wit

[2018-03-21 19:31] jdm commented on #20149
This is a minimal testcase that reproduces the problem:
[code]

[2018-03-21 20:37] emilio commented on #11138
https://github.com/emilio/rust-offscreen-rendering-context/issues/82 contains most of the details, I think we need to emulate a compat context (what WebGL wants) but using a core context, so that resources can be shared with WR.

The alternative, I think, is using shared textures (using `IOSurface` on Mac) as the backing storage for the WebGL stuff, and teach WR about those. WR probably knows or h

[2018-03-21 21:42] jdm opened #20380 "Alternating between android and non-android builds makes cargo rebuild the world"
When I run `./mach build --android --release && ./mach build --release && ./mach build --android --release`, the third build ends up starting at libc and rebuilding everything. That's pretty bad!

[2018-03-21 23:45] aeweston98 commented on #7084
@jdm I have spent the last two days looking into the reporting, since there was not change in the memory metrics (except the absence of a dom-tree entry because it's calculation was removed from collect_reports). I added some logging in the constructor for the new class which derives from ObjectPrivateVisitor and confirmed that both function pointers that were added are non-null at the time of the

[2018-03-22 01:38] #20332 closed

[2018-03-22 01:42] fabricedesre commented on #20379
Here's a test case:
[code]

if you apply this patch:
[code]
and click a couple of times to get the box back to (0, 0) you will see that `set_animation_state Animating` is printed constantly.

In `components/layout/animation.rs`, `update_animation_state` reinjects a new animation from `new_animations_receiver` at the end of the expected one, over and over in an endless loop. That stops when we swit

[2018-03-22 03:18] jdm commented on #7084
[pass_to_ctor](https://github.com/aeweston98/rust-mozjs/blob/711171d93ee14c607b480f20bc3657f45736a246/src/jsglue.cpp#L466) _should_ be getting called for each object. Have you verified if that is the case? [sizeOfIncludingThis](https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/vm/MemoryMetrics.cpp#L489-L493) will only be called if it is behaving as it should

[2018-03-22 03:20] jdm commented on #7084
It's also worth checking if changing [this](https://github.com/servo/mozjs/blob/3f38435122538e4b66f88878302f81331c0b6a44/mozjs/js/src/vm/MemoryMetrics.cpp#L968) to `FineGrained` makes a difference.

[2018-03-22 03:43] christianpoveda commented on #20380
I'm having a similar problem when running `./mach build -d` several times.

[2018-03-22 05:03] csmoe commented on #20377
I will take this.

[2018-03-22 05:18] kwonoj commented on #20346
Not sure if I can make sound PR at once, but let me try it if you don't mind. Feel freely unassign / or close PR if needed. 🙏

[2018-03-22 05:18] kwonoj commented on #20346
@highfive assign me

[2018-03-22 05:18] highfive commented on #20346
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-22 05:41] fabricedesre commented on #20379
Maybe related to issue #20116

[2018-03-22 06:53] #18130 closed

[2018-03-22 08:40] nox opened #20382 "Check that we implement gl.getParameter() entirely"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3

I'm not sure we implement all of those.

[2018-03-22 09:42] nox opened #20383 "Implement the ANGLE_instanced_arrays WebGL extension"
* https://developer.mozilla.org/en-US/docs/Web/API/ANGLE_instanced_arrays
 * https://www.khronos.org/registry/webgl/extensions/ANGLE_instanced_arrays/

Needed to run https://vr.mozilla.org/webvr-demos/demos/sechelt/?mode=vr

[2018-03-22 09:44] nox opened #20384 "Implement the OES_element_index_uint WebGL extension"
* https://developer.mozilla.org/en-US/docs/Web/API/OES_element_index_uint
 * https://www.khronos.org/registry/webgl/extensions/OES_element_index_uint/

Needed to run https://vr.mozilla.org/webvr-demos/demos/sechelt/?mode=vr

[2018-03-22 09:45] nox commented on #20380
@christianpoveda That sounds very weird. Could you file a separate issue and describe exactly what you are doing and maybe paste `mach`'s output too?

[2018-03-22 13:00] jdm opened #20385 "Intermittent timeout in /html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/serialization-via-idb.any.worker.html"
[code]

[2018-03-22 14:11] jdm commented on #19183
@emilio This is probably going to need your attention to answer the previous question.

[2018-03-22 14:50] emilio commented on #19183
Oh, sorry, thanks!

@nicknadeau: So that error means that `overflow_x.keyword` is `None`, which is expected because we're using `predefined_type` instead of `keyword`. That's fine, and the only thing that needs to happen is defining the keyword ourselves like overflow_behavior does:

https://searchfox.org/mozilla-central/rev/c217fbde244344fedfd07b57a740c694a456dbca/servo/components/style/propertie

[2018-03-22 15:27] aeweston98 commented on #7084
It is calling pass_to_ctor, but pass_to_ctor is returning false every time. Should I be checking `is_platform_object || is_dom_proxy` instead of `is_platform_object && is_dom_proxy` in [MemoryReporter](https://github.com/aeweston98/servo/blob/edcbe20efdf3b9fe2eb1f3c10a6ff852d9e455c4/components/script/lib.rs#L205-L208)?

[2018-03-22 15:41] jdm commented on #7084
Oh, whoops. Yeah, that would definitely do it.

[2018-03-22 16:20] jdm commented on #20149
There's something mysterious going on which makes me suspect a compiler bug. The difference in behaviour between desktop and mobile is that [this code](https://github.com/servo/servo/blob/2de89377db63ec03ae3b1256486c4c32b33f5fce/components/layout/inline.rs#L560-L565) executes on desktop and successfully places the remainder of the fragment. On Android, that code is skipped because `self.pending_li

[2018-03-22 16:26] jdm commented on #20149
Smoking gun: changing the `mem::replace` to a direct `self.pending_line =` makes the testcase load on Android.

[2018-03-22 16:33] jdm opened #20387 "Pinch zoom doesn't work on android"

[2018-03-22 16:39] jdm opened #20388 "Figure out if we can support typed array return values besides NonNull<JSObject>>"
We should check what gecko does for apis like getRandomValues, which is supposed to return an ArrayBufferView.

[2018-03-22 16:47] fabricedesre commented on #20387
related: issue #20109

[2018-03-22 17:19] christianpoveda commented on #20347
@highfive assign me

[2018-03-22 17:19] highfive commented on #20347
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-22 18:06] jdm opened #20392 "GamepadButtonList::sync_from_vr should use more iterators"
Instead of using an index variable and unwrapping the result of calling `get`, we should use the [zip](https://doc.servo.org/core/iter/trait.Iterator.html#method.zip) iterator method to iterate over `self.list` simultaneously with `vr_buttons`.

Code: `components/script/dom/gamepadbuttonlist.rs`

No need for automated tests; if it builds, that's enough for a pull request.

[2018-03-22 18:06] highfive commented on #20392
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-22 19:20] jdm opened #20393 "Support x86-android builds"
This should allow using the x86 android emulator, which is significantly more usable than the armv7 one.

[2018-03-22 19:24] jdm commented on #20393
I've got a hacky branch that I was able to run in the emulator a couple weeks ago. I'm working on rebasing it and cleaning it up.

[2018-03-22 19:58] MaximilianDauner commented on #20392
Hey  @highfive
I would like to edit this issue.

[2018-03-22 20:01] jdm opened #20394 "Generate bindings properly for overloads with typed arrays"
While trying to fix #20347, we discovered that uncommenting the overload for `send(ArrayBuffer)` means that the generated bindings expect to pass a bare `ArrayBuffer` object to the method, rather than `CustomAutoRooter<ArrayBuffer>`. We should fix this and add a test in TestBindings.webidl.

cc @Xanewok

[2018-03-22 20:02] jdm commented on #20394
The big comment at the start of https://searchfox.org/mozilla-central/rev/c217fbde244344fedfd07b57a740c694a456dbca/servo/components/script/dom/bindings/codegen/CodegenRust.py#395-437 makes me suspicious.

[2018-03-22 20:05] jdm commented on #20394
In particular, the getJSToNativeConversionInfo call is missing a `isAutoRooted` argument.

[2018-03-22 20:38] #8753 closed

[2018-03-22 20:38] #8766 closed

[2018-03-22 20:46] sp3d commented on #14953
This actually seems to have been fixed in master between March 14th and now.

[2018-03-22 20:46] #14953 closed

[2018-03-22 21:29] #19223 closed

[2018-03-22 22:20] #20350 closed

[2018-03-23 01:58] nox commented on #14380
Of course there are no failures, the test is disabled…

[2018-03-23 02:01] nox commented on #14380
Ah no, the bug is just still referenced in the expectation, but I guess we should keep this open as long as the link is there.

[2018-03-23 02:34] atouchet commented on #20313
@jdm are you still able to reproduce the search issue?

[2018-03-23 02:35] atouchet commented on #20271
Has this been fixed? I believe the latest WebRender update included https://github.com/servo/webrender/pull/2541.

[2018-03-23 06:32] paulrouget commented on #20149
Looks like it's fixed.

[2018-03-23 06:32] #20149 closed

[2018-03-23 06:40] paulrouget commented on #20361
Any idea what is the proper way of implementing this? If I'm not mistaken, the compositor must have access to this information, maybe via the FrameTree.

/cc @glennw @jdm

[2018-03-23 10:37] paulrouget commented on #15635
I wanted to delegate resource file reading to the embedder, but the SSL certificates are read from a file descriptor: https://github.com/sfackler/rust-openssl/blob/95ea48978492ec918471249c0d66294b4af0ae16/openssl/src/ssl/mod.rs#L849

[2018-03-23 11:06] paulrouget commented on #20387
I'm under the impression that we never send the `ScrollZoomEvent.magnification` to WR. So Pinch zoom is no-op.

We do support zooming via `IOCompositor.page_zoom`, but that's a different story.

[2018-03-23 11:16] paulrouget commented on #20387
Yeah, `txn.set_pinch_zoom` is missing in compositor.rs.

[2018-03-23 13:07] nox commented on #20359
AFAIK they are all ok.

[2018-03-23 13:07] #20359 closed

[2018-03-23 13:07] nox commented on #19147
I'm looking into this today, apparently all the `/_mozilla/webgl/conformance-1.0.3/conformance/glsl/` tests error after 20 seconds because this isn't implemented.

[2018-03-23 14:09] jdm commented on #15635
@paulrouget according to https://stackoverflow.com/questions/5052563/c-openssl-use-root-ca-from-buffer-rather-than-file-ssl-ctx-load-verify-locat there are APIs to update the cert store directly, which correspond to [cert_store_mut](https://github.com/sfackler/rust-openssl/blob/95ea48978492ec918471249c0d66294b4af0ae16/openssl/src/ssl/mod.rs#L1238) and [add_cert](https://github.com/sfackler/rust-op

[2018-03-23 14:12] jdm commented on #15635
[This](https://gist.github.com/dchest/574388) is a code sample to get an x509 from a buffer, too.

[2018-03-23 14:52] christianpoveda commented on #20349
@highfive assign me

[2018-03-23 14:52] highfive commented on #20349
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-23 14:57] fabricedesre commented on #20361
How will that work if there is for instance a fixed header? In such cases you want the overscroll effect to happen only in the scrolling portion of the page (this is also what happens in native android apps).

[2018-03-23 15:10] #20384 closed

[2018-03-23 15:51] jdm opened #20401 "Add an annotation for deriving MallocSizeOf that uses MallocUnconditionalSizeOf for specific fields"
Whether it's `derive(MallocSizeOf(unconditional = "field1,field2"))` on a type or `#[unconditional_malloc_size_of]` on a particular field, this would make it much easier to deal with structures that contain a mixture of fields that can be automatically derived and fields that cannot (eg. #20391).

[2018-03-23 15:51] highfive commented on #20401
cc @fitzgen

[2018-03-23 16:33] paulrouget commented on #20361
@fabricedesre I'm not sure to understand. Can you expend?

[2018-03-23 16:38] paulrouget commented on #20361
@fabricedesre On Android, if I'm not mistaken, the overcroll effect only happens on the top document, and if another scrollable content needs to overscroll, the scroll events are handed off to the top document, so it never happens.

[2018-03-23 16:50] fabricedesre commented on #20361
What I see on Android when opening the Messages app, is a fixed header with "Messages  .... " and below that the list of message threads.
When overscrolling, the effect is attached to the scrolling list of threads, below the fixed header, but not to the top of the app. If we want the same behavior in a web app, we need to take into account overflow in inner content, when we can't scroll anymore ev

[2018-03-23 17:00] KiChjang commented on #20392
@MaximilianDauner It's now assigned to you!

[2018-03-23 17:11] jdm commented on #20172
@mkmodrzew Are you still making progress on this?

[2018-03-23 17:14] jdm commented on #20218
@patgronowski Have you made any progress with this?

[2018-03-23 17:16] jdm commented on #17531
Duplicate of #15412.

[2018-03-23 17:16] #17531 closed

[2018-03-23 17:19] jdm commented on #14761
Duplicate of #20347.

[2018-03-23 17:19] #14761 closed

[2018-03-23 17:21] highfive commented on #13464
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-23 17:22] jdm commented on #13464
It should be enough to remove the exception clearing and return an `Err(Error::JSFailed)` instead. Running `./mach test-wpt tests/wpt/web-platform-tests/fetch` will show if there are any tests for this that already exist.

[2018-03-23 17:54] anthgur commented on #20345
Hey I'd like to work on this! Is the workflow to un-comment the lines with the given types and update all call sites to compile and pass the test suite?

[2018-03-23 17:55] jdm commented on #20345
That's the idea! There are several issues with E-less easy that have PRs you can look at for guidance.

[2018-03-23 17:57] anthgur commented on #20345
Awesome thanks! I'll get started and check in when I have some progress.

[2018-03-23 18:11] nupurbaghel commented on #20343
This appears to be an interesting issue. I would surely like to work on it 😄

[2018-03-23 19:14] jdm opened #20403 "instantiateJSToNativeConversion should work directly with JSToNativeConversion class"
Instead of lots of code taking the result of getJSToNativeConversion and extracting the members of the JSToNativeConversion class to pass as arguments to instantiateJSToNativeConversion, it will be easier to modify how those methods work if instantiateJSToNativeConversion takes the class directly as an argument. This should allow cleaning up the callers that pass the isAutoRooted argument, since t

[2018-03-23 19:14] highfive commented on #20403
cc @wafflespeanut

[2018-03-23 19:40] christianpoveda commented on #20344
@highfive assign me

[2018-03-23 19:40] highfive commented on #20344
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-23 20:32] anthgur commented on #20345
@highfive assign me

[2018-03-23 20:32] highfive commented on #20345
Hey @anthgur! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-23 20:50] #20342 closed

[2018-03-23 21:20] aeweston98 commented on #7084
I made that change and now get_size is being called successfully sometimes (I only know this because I put in logging in sizeOfIncludingThis), however the overall memory report function is failing. I have attached a file which contains the stack trace. I went through the functions listed in the trace but I cannot it doesn't identify where the panic occurred.

One thing I did try is to switch from

[2018-03-23 21:46] Xanewok commented on #20394
It sorta works right now (?), but due to the comment mentioned above it might not be working for all the cases (initial work done in https://github.com/servo/servo/pull/20396).

cc https://github.com/servo/servo/issues/20403

[2018-03-24 00:59] jdm commented on #7084
Unfortunately it's not a panic that's happening; it is a segfault. This suggests that the memory we're treating as a dom::Event so we can call MallocSizeOf::size_of on it is not actually valid memory somehow.

[2018-03-24 01:24] jdm commented on #7084
Try asserting that [this pointer](https://github.com/servo/servo/compare/master...aeweston98:aew-issue7084#diff-76eeea325fa439a49bf462270af2058eR326) is not null? I don't see anything obviously incorrect in the code, unfortunately :(

[2018-03-24 02:28] nox opened #20408 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/log2/log2_001_to_008.html, /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/log/log_001_to_008.html"
[code]

[2018-03-24 04:18] #20392 closed

[2018-03-24 04:30] atouchet commented on #20313
Closing this as it's no longer an issue for me. If anyone else is still experiencing the problem feel free to reopen.

[2018-03-24 04:30] #20313 closed

[2018-03-24 05:11] #19147 closed

[2018-03-24 05:41] aeweston98 commented on #7084
@jdm That seems to have done the trick, although I used an if statement and just returned 0 if it was null, since from the logs I could see the pointer is sometimes null and I didn't want to crash the application due to a failed assertion. Is it ok that that pointer is sometimes null? I will also check if switching to FineGrained changes anything in the memory report. I am now seeing an increase i

[2018-03-24 06:09] jdm opened #20410 "Intermittent notrun in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/acos/acos_001_to_006.html"
[code]

[2018-03-24 06:12] jdm commented on #7084
We have added checks for null pointers at other places that deal with the DOM bindings, so I'm not too worried about the fact that it appears to be necessary here.

[2018-03-24 14:07] christianpoveda commented on #20344
Just started working on it. I have a first working version [here](https://github.com/christianpoveda/servo/blob/issue_20344/components/script/dom/textdecoder.rs#L69). Nevertheless a bunch of tests are failing and I don't know what's causing that.

All the failing tests are because `fatal` is set to `true` and in cases where the decoding is supposed to fail `Decode` does not throw anything. For exa

[2018-03-24 14:30] csmoe commented on #20377
@jdm Before the first step, could you give a suggestion where the `struct JScontext` should be placed?
`script/dom/mod.rs` or `script/lib.rs`?

[2018-03-24 14:39] jdm commented on #20377
@csmoe Let's go with `script/script_runtime.rs`.

[2018-03-24 14:48] christianpoveda commented on #20344
Ohh sorry I was confused, I did not realized `TextDecodeOptions` exists and is not just a typo. Nevertheless what should I do with `TextDecodeOptions` and `stream`?

[2018-03-24 14:56] jdm commented on #20344
Let's accept a TextDecodeOptions as the second argument but ignore the stream member for the purposes of this issue. We can file another issue to implement the steps in https://encoding.spec.whatwg.org/#dom-textdecoder-decode that it affects.

[2018-03-24 14:57] jdm commented on #20344
Actually, we shouldn't need to add TextDecodeOptions for this issue at all. I'll file the issue for updating the implementation to match the spec.

[2018-03-24 14:58] jdm commented on #20344
Ah, that's #13234.

[2018-03-24 14:58] jdm commented on #13234
This requires adding the TextDecodeOptions dictionary from the spec and implementing the steps of the `encode` method that relate to streaming.

[2018-03-24 15:00] christianpoveda commented on #20344
hehe, Ok i'll let the TextDecodeOptions in the webidl file but will not use it in the body of Decode. What about the exceptions?

[2018-03-24 15:28] jdm opened #20412 "Deserializing a URI requires parsing it"
https://github.com/servo/rust-url/blob/04d5ec1e7f3e70c850ff2e7ba7d83d446926defe/url_serde/src/lib.rs#L180-L188 means that any time we send a Url over an IPC channel we have to re-parse it when receiving it. This seems inefficient.

[2018-03-24 16:00] jdm commented on #20344
What do you mean by "the specification says Decode does not throw exceptions"? If you mean that the spec webIDL doesn't include [Throws], that's because that's an implementation-specific extension that we use.

[2018-03-24 16:05] jdm opened #20415 "Lots of mpsc::Sender/Receiver contention in webgl/conformance-1.0.3/conformance/rendering/many-draw-calls.html"
I took a profile of many-draw-calls.html and discovered that there is a huge amount of time spent in the code that is responsible for communicating between the script thread and the webGL canvas thread. std::sync::mpsc::shared::Packet::send and std::sync::mpsc::shared::Packet::recv each account for almost 50% of their respective threads' execution time.

[2018-03-24 16:07] jdm opened #20416 "Python exceptions when closing WPT window"
[code]

[2018-03-24 16:08] christianpoveda commented on #20344
oh ok got it

[2018-03-24 16:16] jdm opened #20417 "Implement support for DataView when parsing WebIDL"
This requires adding support in `components/script/dom/bindings/codegen/parser/WebIDL.py`, and then storing the changes in a patch file in ``components/script/dom/bindings/codegen/parser/` and updating the `update.sh` file.

[2018-03-24 16:16] highfive commented on #20417
cc @wafflespeanut

[2018-03-24 16:17] jdm commented on #20417
Using any of the existing typed array types like ArrayBufferView as a model is the best way to go about this.

[2018-03-24 16:43] nox opened #20418 "Intermittent result in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/asin/asin_001_to_006.html"
[code]

[2018-03-24 16:47] SimonSapin commented on #20412
The correct solution is to support serde 1.0 inside the url crate so that the impls can access private fields. However this probably requires removing support for previous serde versions, which is a breaking change that will need to be in url 2.0. This in turn requires https://github.com/servo/servo/issues/19825 since hyper 0.10 depends on url 1.x. And if we’re doing url 2.0, we’ll probably want t

[2018-03-24 17:46] #20349 closed

[2018-03-24 17:49] nupurbaghel commented on #20343
The BodyInit requires extracting both the data and content_type. For a typed array, I was trying to get data using [to_vec()](https://doc.servo.org/mozjs/typedarray/struct.TypedArray.html#method.to_vec) method which requires some dereferencing I think, but I was wondering how the content type should be defined here. Should we give it a value None if its absent and Int32 otherwise ?

[2018-03-24 17:52] anthgur commented on #20345
The DataView part of this requires bindings that aren't available yet (see #20417 and https://github.com/servo/rust-mozjs/issues/406). I'm still going to work through the BufferSource changes.

[2018-03-24 17:58] jdm commented on #20343
https://fetch.spec.whatwg.org/#concept-bodyinit-extract does not assign a value for content_type when the input is an arraybuffer, so leaving a None value is appropriate.

[2018-03-24 18:34] #20346 closed

[2018-03-24 20:48] aeweston98 commented on #7084
@jdm I edited the Cargo.toml file in servo to use my updated local version of rust-mozjs. Obviously I need to change that back before making a pull request, but my concern is that the servo changes may be tested with the wrong version of rust-mozjs or vice versa. Should I just make both pull requests at the same time and note that each needs to be tested with the other?

[2018-03-24 21:11] jdm commented on #7084
@aeweston98 If you make a pull request for rust-mozjs, then you can have your servo branch use your rust-mozjs branch. After we merge the rust-mozjs changes, the servo PR can be updated to use the published version.

[2018-03-24 22:53] #20344 closed

[2018-03-24 22:54] talklittle commented on #20219
I've got a patch ready for this, just trying to fix unrelated Mach build errors so I can check the boxes in the PR template.

https://github.com/talklittle/servo/tree/issue-20219

[2018-03-25 02:09] Eijebong commented on #20306
We bumped uuid to 0.6 now, I think this can be closed

[2018-03-25 02:33] anthgur commented on #20345
@jdm note that the DataView updates are still pending here

[2018-03-25 05:07] talklittle commented on #13234
I'd like to give this a shot.

[2018-03-25 07:11] CYBAI commented on #15412
@jdm After reading the provided files above,  let me confirm what I'll need to do.

1. In [InitializeCommon in CycleCollectedJSContext.cpp](https://searchfox.org/mozilla-central/source/xpcom/base/CycleCollectedJSContext.cpp#129-131) which should be as same as `new_rt_and_cx` method for initialization in `Servo`, I'll need to register [`SetPromiseRejectionTrackerCallback`](http://doc.servo.org/mozj

[2018-03-25 07:13] #20306 closed

[2018-03-25 13:18] jdm commented on #15412
Yes, I think that all makes sense. Using GlobalScope sounds like the right approach.

[2018-03-25 13:31] CYBAI commented on #15412
Thanks! I'll start to work on this when I have time!

[2018-03-25 14:14] jdm opened #20425 "layout is wrong"
http://www.blueskiesmusicfestival.ca/about-blueskies.html

Filing for further investigation when I'm not on mobile.

[2018-03-25 14:56] anthgur commented on #20417
I'll work on this @highfive assign me

[2018-03-25 14:56] highfive commented on #20417
Hey @anthgur! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-25 18:36] pyfisch opened #20427 "box with direction: rtl is displayed on wrong side"
Expected: Blue box with text is displayed on the left side of the screen.
Expected: box is on the right

[code]

The important bit is the <div></div>. I found this while trying to debug #20420.

[2018-03-25 19:04] pyfisch commented on #20425
Regarding the background image: Only the clouds are visible because the body element has a small bounding box. [Its background should be propagated to the root element](https://drafts.csswg.org/css-backgrounds-3/#body-background) but this [does not work (correctly) in servo](https://github.com/servo/servo/blob/master/components/layout_thread/lib.rs#L1680). (See also #19704)

[2018-03-25 19:04] #20347 closed

[2018-03-25 19:49] jdm commented on #20416
[code]
@jgraham How does this look?

[2018-03-25 19:51] jdm commented on #15371
@Dylan-DPC Are you still working on this?

[2018-03-25 19:51] jdm commented on #11995
@nifey Are you still working on this?

[2018-03-25 19:52] jdm commented on #8576
@kjhyung Have you made any progress on this task?

[2018-03-25 19:52] jdm commented on #20220
@ShreyKumar Have you made any progress on this task?

[2018-03-25 19:54] Dylan-DPC commented on #15371
Hey got a bit busy so didn't get time. If anyone else wants to take it then fine else i'll look into it during the coming weekend.

[2018-03-25 20:03] jdm commented on #20120
I don't think cutting off access to non-HTTPS is feasible yet, given the huge volume of unsecured legacy web content.

[2018-03-25 20:03] #20120 closed

[2018-03-25 20:06] nupurbaghel commented on #20343
I tried using the following code to extract data

This results in an error: cannot borrow immutable borrowed content `*typedarray` as mutable
I couldn't find a better match than the to_vec() method which requires a mutable reference of data. data() method of typed array was one other option but that is a private method.
I need some help on how to proceed 😅
Thank you so much :)

[2018-03-25 20:16] jdm commented on #19992
Relevant code:
* https://github.com/servo/servo/blob/34f388229df4f201302ee51a8969c0556692bf0b/components/constellation/constellation.rs#L1845-L1851 (example of communicating with the embedder that can be used as a model)
* https://github.com/servo/servo/blob/34f388229df4f201302ee51a8969c0556692bf0b/components/script/dom/window.rs#L544-L550 (this already communicates with the constellation to decid

[2018-03-25 20:16] pyfisch commented on #20425
@jdm Is the background the problem or did you spot something else?

For the background a test-case is:
[code]

[2018-03-25 20:19] Gaelan commented on #19797
I'll give this a shot.

[2018-03-25 20:26] jdm opened #20428 "Remove use of tinyfiledialogs from network code"
Right now the engine is responsible for making UI appear to allow the user to choose an input file: https://github.com/servo/servo/blob/34f388229df4f201302ee51a8969c0556692bf0b/components/net/filemanager_thread.rs#L39-L67

Instead, the network code should send a message to the constellation, which can talk to the embedder and receive the final selection to return to the network code. This means th

[2018-03-25 20:30] kwonoj commented on #20428
@jdm mind if I try to give a shot for this?

[2018-03-25 20:31] jdm commented on #20428
Go for it!

[2018-03-25 20:31] kwonoj commented on #20428
:bowing_man:  @highfive assign me

[2018-03-25 20:31] highfive commented on #20428
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2018-03-25 20:32] jdm opened #20429 "Remove use of tinyfiledialogs from bluetooth code"
Right now the engine is responsible for making UI appear to allow the user to choose an input file: https://github.com/servo/servo/blob/f467bdce1ba95e950b01f59ba284873137bca5d5/components/bluetooth/lib.rs#L369-L397

Instead, the bluetooth code should send a message to the constellation, which can talk to the embedder and receive the final selection to return to the bluetooth code. This means the b

[2018-03-25 20:33] jdm commented on #19797
Great!

[2018-03-25 20:34] jdm commented on #20425
Oh, huh. This looks incredibly different (in a bad way) on Android, but on desktop it looks generally ok.

[2018-03-25 20:37] jdm commented on #20343
If you rebase against Servo master, that problem should be gone.

[2018-03-25 20:37] jdm commented on #15371
I'll mark it unassigned in the time being. Let us know if you start working on it!

[2018-03-25 23:25] asoni3 commented on #20052
Hi Josh,

As per [this](https://github.com/servo/servo/wiki/Control-Servo-using-WebDriver), I am able to load URL. However, when I try to change the command to
`curl -v -X POST -d '{"file": "../path/to/file0.html"}' http://localhost:7002/session/${SESSIONID}/url`
for opening files, I get an error
 `{"value":{"error":"invalid argument","message":"Missing 'url' parameter","stacktrace":""}}`

It seem

[2018-03-25 23:33] talklittle commented on #5600
I think I'll be implementing this as part of the work on #13234.

[2018-03-25 23:48] kwonoj commented on #20429
I think this is cruxwise same as https://github.com/servo/servo/issues/20428, let me try to apply same practices. @highfive assign me

[2018-03-25 23:48] highfive commented on #20429
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-26 01:29] gterzian commented on #10787
I have a question on how to plug 'unloading' and 'beforeunloading' into various existing workflows, namely navigation and history traversal, with a little prelude of facts.

1. So far, I was using `Window.load_url` as one entry point from which to call `document.prompt_to_unload`, a new method I added.
2. Then I realized the actual 'unloading' which would follow, cannot take place in that same met

[2018-03-26 01:35] jdm commented on #10787
I agree with your thoughts on adding the new message. The constellation is not supposed to block on waiting for a response from web content, so we should avoid the IpcSender argument if it's at all possible. Giving the embedding the ability to actually show the prompt would be a useful addition, in line with #19992.

[2018-03-26 02:06] aeweston98 commented on #7084
@jdm I created the pull requests for [rust-mozjs](https://github.com/servo/rust-mozjs/pull/409) and [servo](https://github.com/servo/servo/pull/20430). I looked at the web-platform-test docs, and I will try to add some tests for the new code.

[2018-03-26 02:54] jdm commented on #7084
@aeweston98 There's no meaningful tests we can add for your changes, so don't spend any time trying to figure out how to add some :)

[2018-03-26 04:07] atouchet commented on #20235
I don't think this is occurring anymore.

[2018-03-26 04:07] #20235 closed

[2018-03-26 04:07] paulrouget commented on #10787
So we would go through the script thread to request to close the pipeline, block that thread instead of the constellation while sending an EmbedderMsg.

That makes sense to me.

[2018-03-26 05:14] paulrouget commented on #20387
I'll be working on supporting pinch to zoom on my Android port. So I will eventually work on that soon if nobody takes care of it first.

Note: `set_pinch_zoom` doesn't appear to be enough. It only works while the page is loading. swap_buffer is not called I believe.

[2018-03-26 07:28] ysimonson commented on #13464
@jdm FWIW, I tried just making the above change, but it seems that the exception is not consumed upstream:

[code]

The diff:

[code]

...maybe I'm misunderstanding though

[2018-03-26 11:50] StyMaar opened #20435 "./mach does not work if the environment variable `$PATH` contains Unicode characters"
## Problem :

On linux, when attempting to run `./mach build --dev` I got this error :

[code]

## Diagnostic

It looked related to https://github.com/servo/servo/issues/10002 but the path to my servo directory only contained ASCII caracters.

The problem came because my $PATH environment variable was set to :

`/home/stymaar/.cargo/bin:/home/stymaar/bin:/home/stymaar/.local/bin:/usr/local/sbin:/u

[2018-03-26 12:19] jdm commented on #13464
Ok, I see the problem. Promise::reject_error is invoked from consume_body_with_promise, and that has checks that there's no exception pending. Since `JS_ParseJSON` did set a pending exception, which is no longer cleared, this is the assertion that is failing. Therefore, we should do the following instead:
* revert the removal of `JS_ClearPendingException`
* using the `rooted!` macro, create a new