[2015-12-04 05:41] alex commented on #8819
Sounds totally plausible!

[2015-12-04 06:28] #8792 closed

[2015-12-04 07:22] drbo commented on #8271
libjpeg-turbo uses hand-written vector assembly code for many operations, which may explain the large difference.

[2015-12-04 07:30] SimonSapin commented on #911
I *think* it’s safe to close this now.

[2015-12-04 07:30] #911 closed

[2015-12-04 07:32] SimonSapin commented on #4892
Reftests with our custom harness are slowly moving into WPT, so this is becoming less important IMO.

[2015-12-04 07:34] SimonSapin commented on #6132
Hopefully this is fixed by #8757!

[2015-12-04 07:34] #6132 closed

[2015-12-04 08:01] #8817 closed

[2015-12-04 08:16] dzbarsky commented on #8741
@ecoal95 I also see a panic at http://people.mozilla.org/\~sicking/webgl/ray.html. Maybe you can reproduce this one?

[2015-12-04 09:09] Ms2ger commented on #8813
@eefriedman is incorrect. Passing `undefined` to an `optional` argument is the same as not passing it at all. This behaviour is hidden in <https://heycam.github.io/webidl/#dfn-overload-resolution-algorithm> (currently step 10.4).

[2015-12-04 09:11] Ms2ger commented on #8813
https://bugzilla.mozilla.org/show_bug.cgi?id=882541

[2015-12-04 09:59] GuillaumeGomez opened #8821 "Implement DOMQuad"
The DOMQuad isn't implemented yet, so I will. [Here's the documentation](https://drafts.fxtf.org/geometry/#DOMQuad).

Detail: Don't do anything about the `bounds` attribute in this issue.

I take this issue.

[2015-12-04 10:06] Ms2ger opened #8822 "Pass the Geometry test suite."
* Specification: https://drafts.fxtf.org/geometry/
* Tests: `tests/wpt/css-tests/geometry-1_dev/html/`
* Metadata: `tests/wpt/metadata-css/geometry-1_dev/html/`
* Upstream tests: https://github.com/w3c/csswg-test/tree/master/geometry-1

[2015-12-04 10:07] Ms2ger commented on #8821
Blocks #8822.

[2015-12-04 12:04] LifeIsStrange opened #8823 "Support this website : html5test.com"
This website could be very useful for know what servo currently support in the html5 spec and if it support good.
The website : https://html5test.com/
The source code :
https://github.com/NielsLeenheer/html5test
Thanks :)

[2015-12-04 12:14] Ms2ger commented on #8823
html5test has never been a good indicator of what we should prioritize, if it is even correct, so I would take any suggestions based on it with a grain of salt.

[2015-12-04 12:57] LifeIsStrange commented on #8823
Ok thanks !

[2015-12-04 12:57] #8823 closed

[2015-12-04 14:11] frewsxcv commented on #8813
Related to #6558

[2015-12-04 14:49] jdm commented on #4892
Yeah, this isn't worth spending time on.

[2015-12-04 14:49] #4892 closed

[2015-12-04 17:59] vegayours commented on #8616
I have fixed this in PR #8768, so we can close it.

[2015-12-04 18:34] jdm commented on #8616
:dancers:

[2015-12-04 18:34] #8616 closed

[2015-12-04 18:39] jdm commented on #7262
https://www.servoexperiments.com now works. I'm not certain how to force HTTPS traffic for http://www.servoexperiments.com yet.

[2015-12-04 18:51] jdm commented on #7262
Fixed that issue. All traffic to servoexperiments.com now goes to HTTPS.

[2015-12-04 19:16] eefriedman commented on #8813
Oops, I was looking at the wrong version of the WebIDL specification.  Sorry about that.

[2015-12-04 19:38] KiChjang commented on #6085
@jdm is this still occurring?

[2015-12-04 20:39] jdm opened #8826 "Flickering on un-logged-in github homepage"
STR:
Visit https://github.com, scroll to the right side of the screen and move the mouse over the "Sign in" button. Notice the right 1/4 of the page flicker white.

[2015-12-04 20:42] jdm commented on #6085
Nope!

[2015-12-04 20:42] #6085 closed

[2015-12-04 20:44] jdm commented on #8100
The HTTPS thing was fixed by #8752.

[2015-12-04 21:14] KiChjang commented on #7959
Sounds interesting, I'm taking a look into this.

[2015-12-04 21:46] jdm opened #8830 "Implement XMLHttpRequest.responseURL"
We have a method that ostensibly implements the specification (`XMLHttpRequest::ResponseURL`), but we don't actually set the `response_url` member of `XMLHttpRequest` anywhere except the constructor. We should set this value appropriately inside `process_partial_response` in the `XHRProgress::Done` branch, and the member will need to be `DOMRefCell<DOMString>` (rather than a plain `DOMString`) to

[2015-12-04 22:09] jdm commented on #7959
This would be super valuable!

[2015-12-04 22:11] jdm commented on #7959
I recommend we start by defining methods on Window/ScriptTask/GlobalRef for specific task sources (DOM, network, user input, etc.) and making them return the existing script channel, then finding callers of `script_chan()` that should be using those specific task sources and having them call the methods to get their channel.

[2015-12-04 22:14] jdm commented on #7931
Not fixed by ecoal95/rust-offscreen-rendering-context#43, unfortunately (see #8743).

[2015-12-04 22:15] KiChjang commented on #7959
Yes, that sounds like a good first PR with a lot of elbow-grease.

After that, I was thinking that we may want to create new message enums (similar to the style for the constellation) for each individual task source. Does that sound good to you?

[2015-12-04 22:26] jdm commented on #7959
Yep!

[2015-12-04 23:00] frewsxcv commented on #7262
Getting an infinite redirect loop for https://doc.servo.org/ right now

[2015-12-04 23:08] gkbrk commented on #8271
Here's another plot after updating the image crate to v0.5.4.

![Rust-Image Benchmark Plot](https://imageupload.co.uk/images/2015/12/04/graph.jpg)

[2015-12-04 23:19] jdm opened #8832 "Move CompositorMsg enum into compositing crate"
It's a message type for messages sent between the compositor and the constellation, which both live in `components/compositing`. There should be no need for it to be declared in the `msg` crate. We should try moving it!

Code: `components/msg/constellation_msg.rs`, `components/compositing/lib.rs`

[2015-12-04 23:22] jdm opened #8833 "Move ScriptMsg enum into script_traits crate"
This message type is only sent between script threads and the constellation, which are respectively defined in the `script/` crate and the `compositing/` crate. We should be able to move the type into `script_traits/lib.rs`, which will allow for further simplification of our compilation graph in the future.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`, `component

[2015-12-04 23:27] jdm commented on #8271
@gkbrk Just to confirm, is that using a release build?

[2015-12-04 23:30] gkbrk commented on #8271
@jdm Yep. I'm not sure if I wrote the rust code in an optimal way though.

[2015-12-05 00:17] jdm opened #8834 "Move PaintListener to gfx_traits"
This trait is only used by `gfx/` and `compositing/`, so it's an easy candidate to move out of the grab-bag `msg/` crate.

Code: `components/msg/compositor_msg.rs`, `components/gfx_traits/lib.rs`, `components/gfx/paint_task.rs`

[2015-12-05 00:21] jdm opened #8835 "Move ScriptToCompositorMsg enum to script_traits"
`ScriptToCompositorMsg` is a message type that is only sent between script threads and the compositor, so it's a good candidate to move to the `script_traits` crate.

Code: `components/script_traits/lib.rs`, `components/msg/compositor_msg.rs`, and other files listed in http://mxr.mozilla.org/servo/search?string=scripttocompositormsg

[2015-12-05 00:23] jdm commented on #8835
We could move the `EventResult` enum along with it.

[2015-12-05 00:26] jdm opened #8836 "Move LayerKind and ScrollPolicy enums to gfx_traits"
These are only used by code in `layout/`, `gfx/`, and `compositing/`, so they're good candidates to move out of the grab-bag `msg/` crate.

Code: `components/msg/compositor_msg.rs`, `components/gfx_traits/lib.rs`, and other files in http://mxr.mozilla.org/servo/search?string=scrollpolicy and http://mxr.mozilla.org/servo/search?string=layerkind

[2015-12-05 00:41] jdm opened #8837 "Ensure that withCredentials is tested"
I was anticipating that #8812 would fail some tests, but it didn't. Searching suggests that there's a test in cors/ that might be applicable but that directory's disabled IIRC.

[2015-12-05 01:17] frewsxcv commented on #8813
Consider this example:

1. Navigate to http://meow.com
2. Enter `location.replace(undefined)` in the JS console

In Firefox, Chrome, and Safari, this redirects to `http://meow.com/undefined`. According to the spec, should `location.replace(undefined)` be treated identical to `location.replace()`? If so, this seems like it goes against what the norm already do, and I imagine having the major vendor

[2015-12-05 01:21] frewsxcv commented on #8813
Nevermind. I missed the part about "optional" argument. I think that clears things up for me.

[2015-12-05 01:37] jdm opened #8839 "Move IFrameSandboxState enum into script_traits"
It's only used in `compositing/` and `script/`, so it doesn't need to live in the catch-all `msg/` crate.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`, and other files in http://mxr.mozilla.org/servo/search?string=iframesandboxst

[2015-12-05 01:43] jdm opened #8840 "Move FocusType enum to the script crate"
It's defined in `msg/` but only used in `script/`. Let's move it and save compilation time if we ever need to change it!

Code: `components/msg/constellation_msg.rs`, `components/script/dom/document.rs`

[2015-12-05 01:45] jdm opened #8841 "Move IFrameLoadInfo struct and IFrameSandboxState enum to script_traits"
These are only used by code in `compositing/` and `script/`, so they're prime candidates for moving into the `script_traits/` crate. This will improve the compilation time if we ever need to modify them.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`

[2015-12-05 02:02] jdm opened #8842 "Write unit test for reporting CSS errors"
The interface in #8210 allows us to create custom instances of CSS parse error reporters. We should write a test in `tests/unit/style/stylesheets.rs` that tries to parse invalid CSS and have a custom reporter that asserts the errors that are reported.

Code: `tests/unit/style/stylesheets.rs`, http://doc.servo.org/style_traits/trait.ParseErrorReporter.html

[2015-12-05 02:10] jdm opened #8843 "Separate script and layout messages that are sent to the constellation"
They're both mixed in the ScriptMsg enum defined in `components/msg/constellation_msg.rs`. We should:
* make two separate enums (ScriptMsg and LayoutMsg)
* update the use of `ScriptMsg` in `components/layout/`
* add a new channel in `Constellation` (like the script, paint, and compositor ones) for the new `LayoutMsg`
* use the new channel in the event loop for `Constellation`
* move `LayoutMsg` fr

[2015-12-05 02:10] jdm commented on #8843
This will be similar to #8598, which is a good model.

[2015-12-05 02:12] jdm opened #8844 "Move PaintMsg enum to gfx_traits"
It's defined in `components/msg/constellation_msg.rs`, but it's only used by `components/compositing/constellation.rs` and `gfx/paint_task.rs`. It belongs in `components/gfx_traits/lib.rs` instead.

[2015-12-05 02:15] jdm opened #8846 "Move WorkerId type to devtools_traits"
It's defined in `components/msg/constellation_msg.rs` but only used by `components/script/` and `components/devtools`. We can do better!

Code: `components/msg/constellation_msg.rs`, `components/devtools_traits/lib.rs`

[2015-12-05 03:04] frewsxcv opened #8847 "CodegenRust.py docstrings/comments are wrong"
https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py

There are many docstrings that refer to C++ code generation, even though we're generating Rust

[2015-12-05 03:06] frewsxcv opened #8848 "Idea: Split up CodegenRust.py into separate modules"
https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py

Even for myself, CodegenRust.py is a very intimidating file to view and edit (6200 lines of code!). It might be helpful to split it up into separate, more digestible Python modules.

[2015-12-05 03:15] frewsxcv commented on #8847
In an attempt to make this more concrete, at the very least `s/C++/Rust/g` for the most part

[2015-12-05 04:08] KiChjang commented on #8846
I'm guessing that `WorkerId` should be moved to `components/devtools_traits/lib.rs` instead?

[2015-12-05 05:24] frewsxcv commented on #7262
Works for me now. Disregard my previous comment

[2015-12-05 06:53] jdm commented on #8846
I think that's what I wrote, yes.

[2015-12-05 11:14] #6384 closed

[2015-12-05 11:15] Ms2ger opened #8850 "Android nightly's busted."
[code]

[2015-12-05 11:17] Ms2ger commented on #8848
Fwiw:
https://github.com/Ms2ger/servo/tree/codegen-split
https://hg.mozilla.org/users/Ms2ger_gmail.com/patches-2/file/af4731c6ac5a/GenericCodegen

[2015-12-05 12:35] frewsxcv commented on #8848
I don't know what I'm looking at but there appear to be a lot of deletions so :+1: :+1: :+1:

[2015-12-05 13:54] #8568 closed

[2015-12-05 18:52] KiChjang commented on #8848
It's still kinda large, mind you (~4000 LoC).

[2015-12-05 20:08] craftytrickster commented on #8801
I'd like to take this one.

[2015-12-05 20:11] salty-horse commented on #8720
Seems implemented here: [components/script/dom/element.rs:1680](https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1680)

[2015-12-05 20:35] SimonSapin commented on #8720
`:link` is misnamed in CSS since it’s exclusive with `:visited`: it only matches links that are not visited. I’ve named the trait methods according to the pseudo-classes’ meaning rather than their syntax:

* Selector `:link` calls trait method `fn is_unvisited_link(&self) -> bool`
* Selector `:visited` calls trait method `fn is_visited_link()(&self) -> bool`
* Selector `:any-link` is equivalent to

[2015-12-05 20:35] #8720 closed

[2015-12-05 21:00] jdm commented on #8801
Go for it!

[2015-12-05 21:31] frewsxcv commented on #8715
This actually depends on https://github.com/servo/servo/issues/8718

More info here: https://github.com/servo/servo/issues/8720#issuecomment-162243819

[2015-12-06 03:10] Gaelan commented on #7888
How much work would it be to port NSS to Rust? It is hard to gauge how large NSS is because it bundles libraries with its own code.

[2015-12-06 03:27] alex commented on #7888
Port it, or write bindings?

[2015-12-06 03:31] Gaelan commented on #7888
Port it. This resolves the "C attack surface" problem. There would also be a good chance of finding problems in the the original code that we could contribute upstream.

[2015-12-06 03:35] frewsxcv commented on #7888
One might have an easier experience porting things incrementally for something like [ring](https://github.com/briansmith/ring) (based off BoringSSL) since it's written in pure C, whereas NSS is writtenin C++ and the C++ Rust bindgen story isn't great

[2015-12-06 05:11] asajeffrey commented on #6906
Another attempt, this time using horrible bit-twiddling to pack a representation that's either an Atom, a String, or an inlined string into 3 words. Still no joy. https://github.com/asajeffrey/servo/tree/domstring-use-atom-or-inlined-string

[2015-12-06 05:12] asajeffrey commented on #8801
Should this be Arc<Vec<u8>> or Arc<[u8]>?

[2015-12-06 12:45] #8734 closed

[2015-12-06 15:26] #8840 closed

[2015-12-06 15:41] jdm opened #8856 "Make travis run the unit tests"
They're often forgotten when updating code. We should see if we can run them on Travis as well. It should only require adding a `./mach test-unit` entry to our `.travis.yml` file in the root directory.

[2015-12-06 15:49] jdm commented on #7888
I believe NSS is pure C as well.

[2015-12-06 16:09] frewsxcv opened #8857 "Replace 'string.Template(..).substitute(..)' usage with 'str.format'"
[`string.Template`](https://docs.python.org/2/library/string.html#template-strings) was introduced in Python 2.4. [`str.format`](https://docs.python.org/2/library/stdtypes.html#str.format) (a method on strings) was introduced in Python 2.6. Functionally, they are very similar, though the latter is less verbose.

e.g.

[code]

can be written as:

[code]

To find usages:

[code]

[2015-12-06 16:10] jdm commented on #8801
I'm not sure how to create the `Arc<[u8]>` value from the various Blob constructors, so I'm going to go with `Arc<Vec<u8>>` for the purposes of this issue.

[2015-12-06 16:10] Ms2ger commented on #8857
So is this the recommended approach now?

[2015-12-06 16:20] nox commented on #8857
I just use `str % args` in CodegenRust, whenever I can. We should decide once and for all what to use.

[2015-12-06 16:24] frewsxcv commented on #8857
Unfortunately, there are many ways to do string formatting in Python (including a [new one coming in Python 3.6](https://www.python.org/dev/peps/pep-0498/)). I personally don't see any benefits for choosing `string.Template` over `str.format`, they're both pretty similar, one is just more verbose. The semantics of `%` formatting are quite different from `string.Template` and `str.format`, so repla

[2015-12-06 17:49] frewsxcv opened #8859 "Build release mode on Travis?"
At the time of writing on Travis:
- 29 minutes to `./mach build -d`
- 36 minutes to `./mach build -r` (https://github.com/servo/servo/pull/8858)

As we venture into running tests on Travis (https://github.com/servo/servo/issues/8856 and maybe in the future WPT tests), it might be worth it to switch to building with `-r`

[2015-12-06 20:10] larsbergstrom commented on #8799
In general, it'd be great if mach could look at the `--target` and download an appropriate cross-target backend! This would make compiling for targets like `gnueabihf` way easier.

[2015-12-06 20:20] fstr commented on #8846
@jdm I'd like to take this one

[2015-12-06 21:21] KiChjang commented on #8857
In particular, using `%` formatting requires you to know the type of the arguments being substituted in order to work. Both `str.format` and `string.Template` are type-agnostic.

[2015-12-06 22:07] #6791 closed

[2015-12-07 01:09] KiChjang opened #8864 "Overload constructor for DOMPoint WebIDL"
It is **not** as simple as adding `Constructor(optional DOMPointInit point)` to `DOMPoint.webidl`, as that would cause a compiler error in `WebIDL.py`, with the following message:

[code]

We will need to figure out how to either turn off this check just for this overloaded constructor, or think of a more generalized way of handling overloaded constructors.

Spec: http://www.w3.org/TR/geometry-1/#

[2015-12-07 01:34] Ms2ger commented on #8864
Also, this overload has been removed from the ED: https://drafts.fxtf.org/geometry/#DOMPoint

[2015-12-07 02:21] nfallen commented on #6638
I am running the tests in wpt/web-platform-tests/websockets now. When they are run all together, one test times out every time, but when I run smaller subsets of the tests they all pass. Do you think this is just because of the decrease in performance of this implementation? Are there any other tests I should be running before creating a pull request?

[2015-12-07 02:31] jdm commented on #6638
Huh, that's really interesting. Easiest way to figure it out is to run the tests against a revision without your changes and see if there's a change in behaviour. You can also try build with `--release` and running the tests with `--release` to see if there's a difference.

[2015-12-07 02:31] jdm commented on #6638
And no, those WPT tests should be all that's necessary.

[2015-12-07 02:36] samfoo commented on #7861
I'm interested in picking this up.

[2015-12-07 02:37] KiChjang commented on #7861
It's yours!

[2015-12-07 02:43] nfallen commented on #6638
Yep, I tried those things! The build from master did not time out, but the release build from my branch still had the same issue.

[2015-12-07 02:50] jdm commented on #6638
It's quite interesting that the test doesn't time out when run in the group. Which one is it?

[2015-12-07 02:56] nfallen commented on #6638
A different test timed out each time that I ran ./mach test-wpt websockets. However, the most recent time I ran the tests, they all passed. Must be dependent on the CPU usage of my OS as I'm running the tests or something?

[2015-12-07 03:17] jdm commented on #6638
Plausible! If you think the work's ready, please make a pull request so we can start reviewing! If not, but you'd like another set of eyes to look at this timing out thing, please push your code to a branch of your fork and link it here.

[2015-12-07 03:19] jdm opened #8865 "Intermitten failure in /XMLHttpRequest/send-entity-body-document.htm"
This was first observed by the author of #8812 while working on that PR, but there's no reason that code should be causing this :/

[code]

[2015-12-07 03:35] KiChjang commented on #8865
Could it be an issue with whitespaces/DOMString conversions?

[2015-12-07 04:55] frewsxcv opened #8870 "Resizing google.com consistently causes panic"
Currently on ef000a458a52051b55b65e254ff9fe1a55835d04

![](https://cloud.githubusercontent.com/assets/416575/11619338/c99ab322-9c74-11e5-8c59-20ee51d39396.gif)

[code]

[2015-12-07 06:27] eefriedman commented on #8865
Is this not just a duplicate of #8157?

[2015-12-07 08:11] #7322 closed

[2015-12-07 08:11] #7290 closed

[2015-12-07 08:35] mskrzypkows commented on #8844
I'd like to take this one.

[2015-12-07 08:51] KiChjang commented on #8844
And you have it!

[2015-12-07 14:14] jdm commented on #8865
Oh, right.

[2015-12-07 14:14] #8865 closed

[2015-12-07 14:45] Wafflespeanut opened #8872 "Convert the comments in Servo's library to doc comments"
There are a lot of comments in the first few lines of `servo/lib.rs`, which should actually be doc comments, especially because that's the start page of our [Servo docs](https://doc.servo.org/), which needs some introduction. We could also move the doc comments from the `impl Browser` to its own `struct` definition, as its context is specific to `Browser`. Its current [presence in the methods](htt

[2015-12-07 16:58] Ms2ger opened #8875 "Add assertions that things are in the same JS compartment."
For example. the `Wrap` method has `scope`, `proto`, `obj` and sometimes `expando` and `unforgeable_holder`. I am fairly confident that these end up in the correct compartment, but would sleep better at night with assertions checking it.

[2015-12-07 17:30] jdm commented on #7047
@jmr0 said they're interested in looking into this.

[2015-12-07 17:35] jdm commented on #7047
Relevant code to look at for servo involves ImageListener::notify in components/net/image_cache_task.rs, and ImageResponse in components/net_traits/image_cache_task.rs. We'll want a way to notify consumers (presumably via another entry in ImageResponse) that the metadata was successfully retrieved. The logic in HTMLImageElement::update_image will need to become more complex, and HTMLImageElement w

[2015-12-07 19:35] Ms2ger opened #8878 "manifest_changed.sh is slow"
On Travis, it takes ~250s. It's probably going to be hard to improve, but we should look into it.

[2015-12-07 19:38] Ms2ger commented on #8878
@Manishearth is going to move it out of the main travis build

[2015-12-07 19:59] #8846 closed

[2015-12-07 20:00] Manishearth commented on #8870
That sounded like an impossible error to me at first (There is only one error with a non-human-readable message in slice.rs; I fixed the rest -- this one isn't used in the stdlib at all), but it turns out that io-surface uses it: https://github.com/servo/io-surface-rs/blob/967224164ed27e9331fa501bab187daf1e3d49f4/src/lib.rs#L156

I guess we're messing up our threads somewhere here?

[2015-12-07 20:02] frewsxcv commented on #8870
Potentially related to #6952 and #7820

[2015-12-07 20:09] fstr commented on #8841
I'd like to do this one.

Is this a duplicate of #8839 ?

[2015-12-07 20:11] KiChjang commented on #8841
This is more inclusive than #8839, but thanks for telling us! This issue is yours.

[2015-12-07 20:11] KiChjang commented on #8839
Superseded by #8841.

[2015-12-07 20:11] #8839 closed

[2015-12-07 20:19] Manishearth commented on #244
triage: We have session storage, and a session storage object that pretends to be local storage

[2015-12-07 20:21] Manishearth commented on #149
triage: I think @larsbergstrom uses a VM regularly and it works?

[2015-12-07 21:10] fstr commented on #8841
While I'm at it:
Shouldn't IframeLoadInfo be renamed to I**F**rameLoadInfo to be consistent?

[2015-12-07 21:13] Ms2ger opened #8879 "Assertion failure: !mEntered under Statistics::Statistics"
I have no idea where this came from.

[code]

[2015-12-07 21:23] jdm commented on #8841
Yep!

[2015-12-07 21:42] fstr commented on #8841
The script_traits component requires the msg component.
https://github.com/servo/servo/blob/master/components/script_traits/Cargo.toml#L11

The msg component `components/msg/constellation_msg.rs` requires the IframeLoadInfo though, which was now moved to the scripts_traits component.
https://github.com/servo/servo/blob/master/components/msg/constellation_msg.rs#L299

This causes a cyclic package d

[2015-12-07 21:50] KiChjang commented on #8841
Create a trait, say, `LoadInfo` in `constellation_msg.rs`, and change `ScriptLoadedURLInFrame` to instead take in a `LoadInfo` as its parameter. Then do `impl LoadInfo for IFrameLoadInfo` (which should now be located at `script_traits`).

[2015-12-07 22:13] simartin commented on #8738
I'd like to take this one.

[2015-12-07 22:27] #8856 closed

[2015-12-07 22:31] Manishearth opened #8881 "Navigation causes panics"
STR:

 - Open google
 - google something
 - go back
 - google something again

I get the following panic

[code]

[2015-12-07 22:34] mbrubeck commented on #8881
Duplicate of #8461?

[2015-12-07 22:34] #8881 closed

[2015-12-07 22:34] Manishearth commented on #8461
Seems to be a timer issue?

[2015-12-07 22:49] KiChjang commented on #8738
You got it!

[2015-12-07 23:07] drbo commented on #8870
Could ThreadSanitizer help?

[2015-12-07 23:47] zmike opened #8883 "embedding: shared library is no longer linkable"
When attempting now (95e6b1d101ca1a1019b8fea1a13a5ef37430901f):

./libcef.so: undefined reference to `CreateARGBImageEncoder()'
./libcef.so: undefined reference to`gluCheckExtension'

@larsbergstrom @alexcrichton

I did some grep work and it looks like these are be coming from skia.

[2015-12-07 23:50] mbrubeck commented on #7235
This is fixed by #8288. The project directory is in `support/android/apk`.

[2015-12-07 23:50] #7235 closed

[2015-12-08 02:32] vwvww commented on #8832
I would like to take this one.

[2015-12-08 02:35] KiChjang commented on #8832
You got it!

[2015-12-08 05:44] jdm commented on #244
The features described here aren't related to sessionStorage. I don't see a reason to keep this open right now. We should discuss persistent storage requirements as needed.

[2015-12-08 05:44] #244 closed

[2015-12-08 05:52] jdm commented on #149
I've run it multiple times. I don't see any particular reason to leave this open as filed.

[2015-12-08 05:52] #149 closed

[2015-12-08 05:58] #8691 closed

[2015-12-08 06:44] jdm commented on #8841
Ack, you're right, I missed that dependency. A trait is overkill for this; thanks for investigating though!

[2015-12-08 08:54] paulrouget commented on #8674
With #8612 - we hit the `pipeline.thaw()` panic first every time.

[2015-12-08 10:02] paulrouget commented on #8674
It panics because when an iframe navigates to a new URL, the document is not frozen (not same code path as non subpage pipelines).

[2015-12-08 10:03] paulrouget commented on #8673
This happens because the pipelines in iframes are never frozen.

[2015-12-08 10:08] paulrouget commented on #8674
#8886 addresses the `thaw()` panic. With #8886 and  #8612, we end up with the missing pipeline panic described in https://github.com/servo/servo/issues/8674#issuecomment-160169159

[2015-12-08 18:18] Ms2ger commented on #8879
(This requires debug-mozjs)

[2015-12-08 18:51] manfredbrandl opened #8890 "Compiling on Debian Jessie requires installation of automake"
Compiling "harfbuzz" will fail when automake is not installed. Please Update Prequisites for Debian based Linuxes by including automake in the "sudo apt-get install .." command.

Here is the log for failing harfbuzz without automake installed:
----
failed to run custom build command for `harfbuzz-sys v0.1.2`
Process didn't exit successfully: `/home/manfred/Sonstiges/servo/target/release/build/harf

[2015-12-08 19:35] manfredbrandl opened #8892 "console output: document.write is not a function"
When i visit http://www.orf.at/ i encounter some console output with "document.write" ist not a function.
I think this may be a javascript error, but i am not shure.
See here:
aaa@bbb:~/.../servo$ ./mach run http://www.orf.at/
[glutin] x error code=8 major=42 minor=0!
ERROR:js::rust: Error at http://www.orf.at/:14:3: document.write is not a function

ERROR:js::rust: Error at http://www.orf.at/:8:0

[2015-12-08 19:35] frewsxcv commented on #8892
`document.write` is not implemented yet: https://github.com/servo/servo/issues/3704

Thanks for filing the issue though!

[2015-12-08 19:35] #8892 closed

[2015-12-08 19:42] frewsxcv commented on #3704
Is there any way the implementation could be split up into more reasonable chunks instead of an all-at-once ordeal? I understand there are downsides to this strategy, but would be nice to get the ball rolling on this.

[2015-12-08 19:55] Ms2ger opened #8894 "Remove HeapSizeOf trait from util::mem."
We should use it from crates.io heapsize instead.

[2015-12-08 19:59] romankl commented on #8894
Could I take a look at this one, please?

[2015-12-08 20:02] Wafflespeanut commented on #8894
You bet! :)

[2015-12-08 20:05] jdm commented on #3704
I don't see how. It's fundamentally about interacting with the parser, and the parser APIs aren't present yet.

[2015-12-08 20:07] jdm commented on #8890
Could you make a pull request to add this to the requirements in https://github.com/servo/servo/blob/master/README.md ?

[2015-12-08 20:08] eefriedman commented on #3704
It might be easier to implement the special case of `document.write()` in the case where there isn't any buffered input (writing into a document created with `document.open()`), compared to the general case; that way, you don't have to worry about the awkward interaction of inserting HTML into an existing input stream.  Not especially interesting in terms of web compatibility, but it wouldn't requ

[2015-12-08 20:09] jdm commented on #3704
Yeah, but what do we do for the non-easy case if we do that?

[2015-12-08 20:14] eefriedman commented on #3704
Umm, throw out the "easy" implementation and put in a correct one?  I see what you mean. :(  But at least we'd have an implementation of `document.open()` and `document.close()`.

[2015-12-08 20:22] Ms2ger opened #8895 "white_space_intrinsic_sizes_a.html fails on mac"

[2015-12-08 20:57] metajack commented on #8890
I'm very worried about depending on automake. This means that we are rebuilding autoconfig stuff when we shouldn't be.

Can we get around this problem (which I'm guessing is caused by git checkout timestamp issues) by running touch on the final build products or something? Surely there is some better way that to require everyone (most people not needing it ever) to install automake and friends.

[2015-12-08 21:07] frewsxcv commented on #8895
image diff: https://github.com/servo/servo/pull/8880#issuecomment-162741380

[2015-12-08 21:15] cnaj commented on #8834
I've taken a quick look into it; it seems that `PaintListener` depends on `msg::constellation_msg::PipelineId` (which should stay in `msg`, I guess). `msg::constellation_msg::ScriptMsg` depends on `canvas_traits::CanvasMsg`, and `canvas_traits` in turn depends on `gfx_traits`, where we would have a circular dependency.

Do I see it right that the dependency from `msg` crate to `canvas_traits` is t

[2015-12-08 21:15] Ms2ger opened #8896 "Bloat issues with rooting?"
@asajeffrey suggested there's a bloat issue due to the vector walking. (This is the first I hear about it.)

[2015-12-08 21:36] KiChjang commented on #8834
Does `PaintListener` depend upon `msg::constellation_msg::ScriptMsg`? If not, there shouldn't be any issue in moving `PaintListener` to `gfx_traits`.

[2015-12-08 21:56] jitendra29 opened #8897 "Intermittent failures for some wpt tests for XHR"
I have got some intermittent failures while working on #8828 for some of the XHR tests which were unrelated to the changes done. I think these tests were also mentioned in #5740 however those weren't reported intermittent then. Following are the intermittently failing tests:

* /XMLHttpRequest/event-upload-progress-crossorigin.sub.htm
* /XMLHttpRequest/send-redirect-bogus.htm
* /XMLHttpRequest/sen

[2015-12-08 22:19] jgraham commented on #3704
I think `document.open` is low-value compared to `document.write` so I don't think there's any reason to make a throwaway implementation just to get that working without tackling the harder problem.

I agree that `document.write` is going to be tricky to get right and doesn't trivially break down into a small number of well-defined steps. At some point someone will just have to sit down and dedica

[2015-12-08 23:41] iszak commented on #8842
I have started to implement in the branch iszak/servo@f9533109aae1c3cf5066c00816285d88dd9447a0 do we want to test that the error reporter is picking up CSS errors? or that the error reporter is returning valid values? or simply that the error reporter is invalid. If we want to test CSS errors, what's the convention? multiple tests per different type of error.

This is my first rust pull request, s

[2015-12-09 00:14] frewsxcv commented on #1230
Still working on this @ioctaptceb ? Need any help?

[2015-12-09 05:46] Ms2ger commented on #1230
With `CStr::as_ptr()` returning a raw pointer, I'm no longer convinced we should do this.

[2015-12-09 05:46] #1230 closed

[2015-12-09 05:55] jdm commented on #8842
@iszak I think we should test that two separate errors are reported in one piece of CSS containing two errors, and that the error that is reported matches the expected line/column/etc. We can do that in a single test, I think.

[2015-12-09 06:03] jdm commented on #8834
Oh, so `msg` depends on `gfx_traits` via `canvas_traits`? That's... unfortunate.

[2015-12-09 06:05] jdm commented on #8834
We might be able to fix that problem by fixing #8833 first.

[2015-12-09 06:59] cnaj commented on #8833
This seems to be straightforward, I'll give it a go in the evening (CET). Do you want the type to be exported as `script_traits::ScriptMsg`?

[2015-12-09 07:10] Wafflespeanut commented on #8833
Yep!

[2015-12-09 08:59] paulrouget opened #8902 "Browser API: HTTP redirect doesn't trigger a locationchange event"
`locationchange` events are triggered from constellation.rs.

Redirects happen in `http_loader.rs` (in the `loop` in the `load` function).

We could just send a `locationchange` event once the whole document is loaded (from `document.rs`), but ideally, we'd like to get an event every time a redirect happens, and before the load event. So we need to be able to send a message to the constellation fr

[2015-12-09 11:16] KiChjang commented on #5014
Fixed by #5569.

[2015-12-09 13:06] jdm commented on #5014
That's different, I'm pretty sure. `isSpiderMonkeyInterface` covers a wider set of types.

[2015-12-09 15:12] LifeIsStrange opened #8904 "Good Firefox OS support is no longer a priority since Firefox OS is dead"
See this : http://techcrunch.com/2015/12/08/mozilla-will-stop-developing-and-selling-firefox-os-smartphones/

But maybe than Firefox OS will still be developped for smart TVs and internet of things.
Sad news :(

[2015-12-09 15:20] #8904 closed

[2015-12-09 20:10] #8872 closed

[2015-12-09 20:52] manfredbrandl commented on #8890
@jdm Sorry, I don't know enough from github or git to make a pull request
@metajack After the initial error I have tried restarting compilation of servo several times without installing automake and it alway failed at compiling harfbuzz. I have a relatively fresh debian jessie install. Should I try deinstalling automake and restarting compiling servo from a fresh start?

[2015-12-09 21:27] KiChjang commented on #5014
Ahh, I see what it requires now. Essentially we need to implement `ArrayBuffer`, `ArrayBufferView`, `SharedArrayBuffer`, `SharedArrayBufferView`, `TypedArray` and `SharedTypedArray`.

[2015-12-10 03:37] vwvww commented on #8835
I was working on this issue, but ScriptToCompositorMsg enum and EventResult enum had no doc comment, resulting build error. Does it needed to be skipped by some way, or need to write doc comment? I don't know what description has to be on doc comment.

[2015-12-10 03:46] jdm commented on #8835
I suggest `/// Messages sent from the script thread to the compositor` and `/// Whether a DOM event was prevented by web content` respectively.

[2015-12-10 06:42] #8833 closed

[2015-12-10 11:59] craftytrickster opened #8913 "Replace push_all with extend_from_slice (and other compiler warnings fixes)"
Compiling the latest version of servo produces several compiler warnings of the following type:

    `push_all`. (several locations) This experimental fetaure has been finalized as `extend_from_slice`.
    warning: use of deprecated item: renamed to extend_from_slice, #[warn(deprecated)]

    canvas_traits/lib.rs:7:12: 7:16 warning: this feature is stable. attribute no longer needed, #[warn(stable

[2015-12-10 13:51] frewsxcv opened #8916 "clippy doesn't compile upon 'mach clippy'"
The git hash needs to be updated

/cc @Manishearth

[code]

[2015-12-10 15:28] metajack commented on #8890
Automake is used to generate Makefile.in which configure will use to create a Makefile. Makefile.in should already exist in harfbuzz, but the Makefile rules are triggering it to regenerate because the timestamps aren't right after the git checkout.

If Makefile.in does not exist in git, then we should add automake to Servo deps. If it does, we should try and find a workaround or fix for the timest

[2015-12-10 15:45] bholley commented on #8437
We should also figure out whether this subsumes the :hover optimization introduced in https://bugzilla.mozilla.org/show_bug.cgi?id=732667 .

[2015-12-10 16:16] yurydelendik opened #8917 "@font-face text is flashing/changing during rendering"
See http://people.mozilla.org/~ydelendik/tmp/servo-pdfjs/index.html

This is screenshot of rendering but it's changing multiple times per second:

<img width="785" alt="screen shot 2015-12-10 at 11 14 42 am" src="https://cloud.githubusercontent.com/assets/1523410/11720874/47c87042-9f2f-11e5-9fbe-5e18eeba9b78.png">

(Notice that it's modified svgviewer example, which replaces text/tspan with divs a

[2015-12-10 18:36] LifeIsStrange commented on #3847
Just for say that some blockers addons like uBlock Origin or noscript will need to disable this feature.

[2015-12-10 18:45] mbrubeck commented on #3847
Can you explain why?  This feature does not cause any additional fetches or script executions.  uBlock and NoScript work fine in Firefox and other browsers that do off-thread parsing.

[2015-12-10 19:11] Ms2ger opened #8919 "Implement console.trace"

[2015-12-10 19:14] saneyuki commented on #3847
@LifeIsStrange

uBlock blocks the network traffic which is in a blacklist, and NoScript just disable to execution script without in the whitelist. This would not prevent them

[2015-12-10 20:24] LifeIsStrange commented on #3847
Sorry,  I expressed myself badly,I Just speaked about prefetching.

UBlock Origin do this: " Disable "Prefetch resources to load pages more quickly"

    This will ensure no TCP connection is opened at all for blocked requests: It's for your own protection privacy-wise.[1]
    For pages with lots for blocked requests, this will actually remove overhead from page load (if you did not have the setti

[2015-12-10 21:49] jdm opened #8924 "Intermittent timeout in /_mozilla/mozilla/webgl/bufferData.html (panic due to GL error in WebGL)"
[code]

[2015-12-10 22:16] frewsxcv opened #8925 "Support 'server-sent events' (SSE)"
https://en.wikipedia.org/wiki/Server-sent_events

https://html.spec.whatwg.org/multipage/#server-sent-events

[2015-12-11 00:33] frewsxcv opened #8927 "Implement 'JavaScript global environments' concept"
https://html.spec.whatwg.org/multipage/#javascript-global-environment

https://html.spec.whatwg.org/multipage/webappapis.html#definitions-2

https://github.com/servo/servo/blob/996c0a60b81e7d7e0fbfea81a546771ea9327df6/components/script/dom/xmlhttprequest.rs#L334

https://github.com/servo/servo/blob/996c0a60b81e7d7e0fbfea81a546771ea9327df6/components/script/dom/xmlhttprequest.rs#L426

[2015-12-11 00:35] frewsxcv commented on #8927
If this is indeed not implemented yet, I'll add tracking issues for those two comments back to here

[2015-12-11 00:36] KiChjang commented on #8927
Don't we already use `GlobalRef` to encapsulate this concept?

[2015-12-11 00:38] frewsxcv commented on #8927
It's possible, I'm not familiar with `GlobalRef` so I'm not sure

[2015-12-11 03:52] alex commented on #8913
These look to be all done.

[2015-12-11 03:53] frewsxcv commented on #8913
Yep! https://github.com/servo/servo/pull/8922

[2015-12-11 03:53] #8913 closed

[2015-12-11 03:59] frewsxcv commented on #8913
Also, https://github.com/servo/servo/pull/8923

[2015-12-11 04:02] alex opened #8929 "Remove usage of deprecated std::slice::bytes::copy_memory"
[code]

[2015-12-11 04:10] KiChjang commented on #8929
I propse using the `write` function as implemented by the `Write` trait on `Vec<u8>`, `&[u8]` and `&,it [u8]`.

[2015-12-11 05:07] KiChjang commented on #8834
#8833 has been resolved.

[2015-12-11 05:28] jdm opened #8931 "Intermittent timeout in /workers/semantics/xhr/001.html (Panic: "expected a Window scope")"
[code]

This is the worker thread not causing the original script thread to end up panicking I guess.

[2015-12-11 05:39] Ms2ger commented on #8927
Relevant: https://github.com/whatwg/html/issues/380

[2015-12-11 05:58] Ms2ger commented on #8931
We should probably use `spawn_named_with_send_on_failure` to tell the parent thread about it.

[2015-12-11 07:46] #8832 closed

[2015-12-11 08:13] jinwooahn commented on #8929
Can I be assigned? My patch is almost ready. :)

[2015-12-11 14:24] Ms2ger opened #8933 "Unsafely reach into the JSString structure for string conversions"
See functions around <https://mxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h?rev=0a208a3bf301#776>

CC @asajeffrey

[2015-12-11 14:26] nox opened #8934 "Merge CGClassConstructHook and CGClassNameConstructHook together"
They do the exact same thing, except that the latter is for named constructors.

[2015-12-11 15:51] Manishearth commented on #8396
triage: still a problem

[2015-12-11 16:28] Wafflespeanut commented on #8929
@jinwooahn Sorry, it's being fixed now (probably because it's urgent) - you can try the other E-easy issues :)

[2015-12-11 16:32] nerith commented on #8836
I'm working on this.

[2015-12-11 17:07] cnaj commented on #8834
Started to work on this.

[2015-12-11 18:07] KiChjang commented on #8929
Fixed by #8937.

[2015-12-11 18:07] #8929 closed

[2015-12-11 18:55] jkachmar commented on #8843
I'd like to work on this, if it's still available.

[2015-12-11 18:56] KiChjang commented on #8843
Alright!

[2015-12-11 19:47] jdm opened #8940 "nytimes.com loads very slowly"
Patrick says this is caused by the networking code.

[2015-12-11 20:06] frewsxcv commented on #8940
Just to get a rough idea of how "slow" it is:

![untitled](https://cloud.githubusercontent.com/assets/416575/11754350/adbb56d2-a018-11e5-828d-d47a082c6ecf.gif)

[2015-12-11 20:18] frewsxcv opened #8941 "preflight_fetch steps comments out of date with spec"
https://github.com/servo/servo/blob/d6708a2fea41f3078b33e1297a29aac192f5765d/components/script/cors.rs#L180-L181

Busy right now so I can't go too specific, but the steps in the code don't seem to match the spec

[2015-12-11 21:25] jackinloadup commented on #8830
I'd like to try and take this task on

[2015-12-11 21:27] KiChjang commented on #8830
You got it!

[2015-12-11 22:33] jdm commented on #8830
Oh, I forgot to include the specification in the original description: https://xhr.spec.whatwg.org/#the-responseurl-attribute

[2015-12-11 22:37] jdm opened #8944 "Intermittent timeout in lots of CSSWG reftests (/css21_dev/html4/color-*.htm, /css21_dev/html4/display-*.htm, /css21_dev/html4/direction-applies-to-*.htm)"
[code]

[2015-12-11 22:54] jmr0 commented on #7047
@jdm I take it the goal is for this metadata to be immediately accessible to the layout task? I was looking at this today through the debugger and noticed the image fragment's metadata is, as an example, accessed in `layout/inline.rs` through a call to `assign_replaced_inline_size`. A few steps after this there's an attempt to add a DisplayItem to a display list if the image data is available with

[2015-12-11 23:08] jdm commented on #7047
@jmr0 Yes, the code in `image_inline_size` and `image_block_size` should use the metadata if it's available, instead of deferring to the sizes present in the complete image data as in the current code.

You are also correct, the users in the webgl and canvas code are specifically concerned with the pixel data, so the metadata won't be enough for them.

[2015-12-11 23:24] KiChjang opened #8945 "Intermittent crash of /css21_dev/html4/margin-bottom-*.htm"
[code]

[2015-12-11 23:38] #8834 closed

[2015-12-12 06:24] jdm commented on #8944
Also seen:
[code]

[2015-12-12 07:25] Ms2ger commented on #8879
@jswalden @jorendorff and efaust have looked into it. The destructor ends up as a noop somehow, possibly due to a miscompilation.

[2015-12-12 12:56] jorendorff commented on #8879
@Ms2ger How do I build with debug mozjs?

[2015-12-12 13:44] jinwooahn commented on #8890
Thank you. I had same error. After installing automake, I can build servo successfully.

[2015-12-12 14:53] askobara commented on #8779
Someone works on this task? If not then I'll try

[2015-12-12 15:25] askobara commented on #8779
But if I understand correctly after 8d90034 removing the `script_chan` from arguments no need anymore?

[2015-12-12 15:26] jdm commented on #8879
@jorendorff `cp servobuild.example .servobuild`, then edit the new file to enable the `debugmozjs` setting.

[2015-12-12 15:28] jdm commented on #8779
Yes, that may be the case, so go ahead and focus on the cx argument for now.

[2015-12-12 15:35] jorendorff commented on #8879
@Ms2ger pointed me at `servobuild.example`. So that was easy.

Unfortunately... it works fine for me.

I think the most likely causes are (1) a broken C++ compiler; (2) the build somehow including an incorrect `js-config.h` file.

`js-config.h` is generated when you run SpiderMonkey's `configure` script. `JS_DEBUG` is defined there, or not. Many things vary subtly depending on  `#ifdef JS_DEBUG`,

[2015-12-12 16:16] frewsxcv commented on #7888
Also, for OSX, there's https://github.com/sfackler/rust-security-framework

[2015-12-12 17:53] frewsxcv commented on #1683
Presumably completed in https://github.com/servo/servo/pull/1872

[2015-12-12 17:53] #1683 closed

[2015-12-12 17:57] frewsxcv commented on #1763
This hasn't been reported in a while. Closing until it becomes an issue again

[2015-12-12 17:57] #1763 closed

[2015-12-12 17:58] frewsxcv commented on #2278
This hasn't been reported in a while. Closing until it becomes an issue again

[2015-12-12 17:58] #2278 closed

[2015-12-12 18:00] frewsxcv commented on #8461
Related: #2574

[2015-12-12 18:01] frewsxcv commented on #2525
Can this be closed?

[2015-12-12 18:04] frewsxcv commented on #2782
Relevant: https://github.com/whatwg/html/issues/67 https://github.com/whatwg/html/pull/26

[2015-12-12 18:23] #2525 closed

[2015-12-12 18:23] Manishearth commented on #2525
Yeah, it was a metabug.

[2015-12-12 23:34] jdm opened #8951 "Intermittent timeout in /css21_dev/html4/uri-011.htm"
[code]
This stack suggests that the font cache task has already exited, whether due to a panic (which doesn't show up in the log for some reason; perhaps the stack logging hasn't had a change to run yet) or some other code that explicitly exits it.

[2015-12-13 00:07] #8779 closed

[2015-12-13 06:00] KiChjang commented on #8925
Do we have wpt tests for this?

[2015-12-13 06:02] #6558 closed

[2015-12-13 06:02] #8813 closed

[2015-12-13 06:18] KiChjang commented on #8925
Found them: `tests/wpt/web-platform-tests/eventsource`

[2015-12-13 07:55] nox opened #8953 "Move unforgeable holders into the ProtoOrIfaceArray slot on the global object"
This lets @michaelwu get crazy as much as he wants to with slots and make such global things more consistent with interface objects and interface prototype objects.

[2015-12-13 17:37] jdm opened #8956 "Make Event's isTrusted attribute unforgeable"
#7988 added support for the `[Unforgeable]` WebIDL attribute. We should use this in `Event.webidl`, according to the [specification](https://dom.spec.whatwg.org/#event). This should fix some [tests](https://github.com/servo/servo/blob/master/tests/wpt/metadata/dom/interfaces.html.ini) that currently fail.

Code: `components/script/dom/webidls/Event.webidl`
Test: `./mach test-wpt tests/wpt/web-plat

[2015-12-13 18:42] Ms2ger opened #8957 "Update CSS.escape to specification changes"
https://drafts.csswg.org/cssom/#the-css.escape()-method

Code is in `components/script/dom/css.rs`

I believe it is probably sufficient to remove the check for null bytes in the implementation.

There is a test at `tests/wpt/css-tests/cssom-1_dev/html/escape.htm`, but it crashes for unrelated reasons right now.

[2015-12-13 19:24] alex commented on #8580
Bleh, you're right not sure why I typed HSTS pinning.

As for the wildcard bit, it's not clear to me whether it's correct or not for HSTS to use the wildcard rule there, it's clear that Chrome treats the wildcard as matching multiple path components.

[2015-12-13 19:41] alex opened #8960 "Rendering bug on SSL Labs"
**URL**: https://ssllabs.com/ssltest/viewMyClient.html

**Chrome:**
![screen shot 2015-12-13 at 2 40 35 pm](https://cloud.githubusercontent.com/assets/772/11768854/99834c5c-a1a7-11e5-9b2c-05d869541bb8.png)

**Servo:**
![screen shot 2015-12-13 at 2 40 37 pm](https://cloud.githubusercontent.com/assets/772/11768855/998b3976-a1a7-11e5-89bc-1009404419e9.png)

[2015-12-13 20:10] eefriedman commented on #8960
It looks like the title is supposed to be separated from the first box by a `<br clear=all>`; not sure why it isn't working.

[2015-12-13 20:22] frewsxcv commented on #8960
Might not be supported? #7311

[2015-12-13 20:27] jdm opened #8961 "Panic: "recursive IPC channel use during serialization" in WPT reftests"
It's not worth filing issues for each time a test intermittently fails with this message, since the underlying cause is the same.

[2015-12-13 20:28] jdm commented on #8945
Marking this as a duplicate of #8961.

[2015-12-13 20:28] #8945 closed

[2015-12-13 20:28] jdm commented on #8961
[code]

[2015-12-13 22:34] Aesthetikx commented on #8956
I made a change to my commit, it's here now: https://github.com/Aesthetikx/servo/commit/f244a7075c2a296d725d7acad0c043cc002a7f0b and the pr is here: https://github.com/servo/servo/pull/8963

[2015-12-13 23:40] frewsxcv commented on #8465
Did your range branch ever get merged?

[2015-12-13 23:41] nox commented on #8465
Nope, it's an open PR.

[2015-12-13 23:49] frewsxcv commented on #8465
For reference https://github.com/servo/servo/pull/8506

[2015-12-14 00:21] frewsxcv commented on #1717
These might be merged: https://github.com/whatwg/dom/issues/119

[2015-12-14 00:58] jinwooahn commented on #8941
You're right. The comments do not match the spec.
Can I work for it?

[2015-12-14 00:58] frewsxcv commented on #8941
Sure!

[2015-12-14 07:51] jbeich opened #8968 "mach_bootstrap.py may find system pip before virtualenv copy"
Likely happens since 1a9263c. Also [reported](https://www.mail-archive.com/dev-servo@lists.mozilla.org/msg01617.html) by @Yoric for OS X (MacPorts). To work around one may need to alter search order in `PIP_NAMES` e.g., prefer `pip2.7` before `pip-2.7`.

Here's how the error looks on FreeBSD:

[code]

Adding a `print()` before and dropping `-q` reveals more details:

[code]

because virtualenv nam

[2015-12-14 08:07] jinwooahn commented on #8577
Could you explain more detail? Why new arguments are needed?

[2015-12-14 08:38] jbeich commented on #8968
Also [tracking downstream](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=205308) for FreeBSD.

[2015-12-14 09:52] #7852 closed

[2015-12-14 12:00] faineance commented on #8577
Is this up for grabs?

[2015-12-14 12:45] #8956 closed

[2015-12-14 13:16] Ms2ger commented on #8577
The function currently takes pairs of x/y arguments; it would be nicer to use a struct to encapsulate that. However, I'm not sure what the best type is. @mbrubeck, do you have thoughts?

[2015-12-14 14:13] yurydelendik commented on #6098
See also #8917

[2015-12-14 14:50] nox commented on #8465
Unassigning myself, because I don't want to bitrot my own Range PR. Anyone is free to fix this though, this should be easy.

[2015-12-14 14:55] nox commented on #8957
@SimonSapin serialize_identifier doesn't replace NUL bytes by U+FFFD, right?

[2015-12-14 15:01] jdm opened #8969 "test-tidy is slow"
It takes me 41s to get any output from `./mach test-tidy` on master. We should improve this. @frewsxcv what's the state of the art in profiling python code?

[2015-12-14 15:07] frewsxcv commented on #8969
I'll assign this to myself and look at it later

[2015-12-14 16:00] faineance commented on #3278
Anyone mind if I pick this up?

[2015-12-14 16:05] frewsxcv commented on #3278
Go for it!

[2015-12-14 19:09] frewsxcv commented on #8968
Relevant issue that prompted that commit: https://github.com/servo/servo/issues/7784

[2015-12-14 19:38] jryans opened #8973 "DevTools HTML experiment fails to load in Servo"
The DevTools team has been working on an experimental HTML version of the Firefox DevTools UI in the [joewalker/devtools.html][1] repo. This is not something we plan to use anywhere directly, it's just an experiment to learn from for future deXULification. In any event, we thought it would be good to see how far Servo is from being able to load it. @bgrins has been working in the [servo-client][2]

[2015-12-14 23:01] jdm opened #8976 "Split http_loader::load into two methods"
The `load` method in `http_loader.rs` currently encapsulates a complete, end-to-end request and response, including redirects. We should split it into two methods - one that processes HTTP responses and deals with redirects, and one that returns the HTTP response resulting from a single request without performing any processing on it whatsoever. In practical terms, this means https://github.com/se

[2015-12-14 23:10] frewsxcv commented on #8969
The [WPT lint we call](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/tools/lint/lint.py) takes 35-40 seconds for my machine to run. I haven't actually looked what's happening in there, just a quick answer for now.

I also opened https://github.com/servo/servo/pull/8977 which is related to this issue

[2015-12-15 00:00] jdm commented on #8973
This particular iframe problem is fixed by #8978, allowing us to progress to the next set of errors :)

[2015-12-15 00:06] KiChjang commented on #5239
@benschulz Ping

[2015-12-15 01:12] bgrins commented on #8973
Cool!  The next set of errors I'm seeing:

* this._markupFrame.contentWindow.focus is not a function
* getBoundingClientRect not defined inside of codemirror
* 'let' is used in codemirror/addon/search/search.js (I've just pushed a fix for that in the servo-client branch)

[2015-12-15 01:19] bgrins commented on #8973
Should we expect contentWindow.focus() to work on an iframe?  I can comment that bit out if it's not yet implemented

[2015-12-15 03:32] jdm commented on #8973
We don't implement Window.focus().

[2015-12-15 03:35] frewsxcv commented on #8969
I don't have time right now to look into the WPT lint performance so I'm going to unassign for now. I'm not really familiar with any particular Python profiling tool. I usually ended up timing things with `time.time()`

[2015-12-15 06:18] Manishearth commented on #8613
@wldcordeiro any updates?

[2015-12-15 06:52] paulrouget commented on #8973
@bgrins @jryans I recommend you to file one issue per bug. You can probably use this bug as a meta bug .See how we do for browser.html: https://github.com/mozilla/browser.html/issues/562

[2015-12-15 06:56] benschulz commented on #5239
I haven't gone past analysis on this one. So if you want to "steal" it, feel free. ;)

[2015-12-15 07:04] KiChjang commented on #5239
I was simply curious of the status of this issue. As of now though, it might be better to instead wait for #8658 to land before attempting this issue.

Would you still like to pursue tackling this issue once #8658 lands?

[2015-12-15 07:32] benschulz commented on #5239
Sure. I'll give a ping when I start work on it, in case someone else is looking for an issue to work on before I get to it. ;)

[2015-12-15 10:51] Ms2ger commented on #4690
No longer reproduces. I don't think we can easily test for it, sadly.

[2015-12-15 11:08] Wafflespeanut commented on #8969
For what it's worth, the [output](https://gist.github.com/Wafflespeanut/f549bca14078eef042d7) from the [built-in profiler](https://docs.python.org/2/library/profile.html) shows that the WPT lint consumes most of the time.

<small>And yep, my machine takes a hell lot of time for the tidy check!</small>

[2015-12-15 11:58] jryans opened #8981 "window.focus/blur support"
In meta-issue #8973 to get devtools.html loading, we noticed `window.focus` is not supported yet.

Should not block initial load of the tools, but something we'd eventually want for full functionality.

[2015-12-15 12:03] jryans opened #8982 "[devtools.html] Range.getBoundingClientRect support"
In meta-issue #8973 to get devtools.html loading, we noticed `getBoundingClientRect` is not supported yet.

CodeMirror (which we use as an editor throughout various parts of our tools) relies on this for various metrics and expects it to be available.

[2015-12-15 12:05] jryans commented on #8973
Okay, I've created a task list in this issue to use for tracking. Each new problem should be filed separately as it comes up, and we can use the task list to track overall progress.

[2015-12-15 13:00] Ms2ger commented on #8982
`getBoundingClientRect` is defined on `Element`. Can you give some more context on how this breaks?

[2015-12-15 13:14] Manishearth commented on #8543
https://github.com/servo/servo/pull/7644

[2015-12-15 13:42] Ms2ger opened #8984 "Implement named access on Window (named properties object, global scope polluter)"
- Specs:
  - https://heycam.github.io/webidl/#named-properties-object
  - https://html.spec.whatwg.org/multipage/#named-access-on-the-window-object
- Tests:
  - html/browsers/the-window-object/test_window-named-properties.html
  - html/browsers/the-window-object/test_window-prototype-chain.html
- Gecko code:
  - https://mxr.mozilla.org/mozilla-central/source/dom/base/WindowNamedPropertiesHandler.h

[2015-12-15 13:42] jdm commented on #8981
https://html.spec.whatwg.org/multipage/interaction.html#dom-window-focus

[2015-12-15 13:51] jdm commented on #4690
For what it's worth, an empty WPT test (ie. the default template for `create-wpt`) panics for me.

[2015-12-15 16:52] nox opened #8985 "Pass dictionaries to DOM methods by value"
[code]

[2015-12-15 16:59] nox commented on #8985
[code]

[2015-12-15 16:59] #8985 closed

[2015-12-15 18:09] paulrouget commented on #7379
I think this also should be the entry point to open the devtools.

https://github.com/atom/electron/blob/02e0c169a22e4f94bda88581d1ece73e498499e0/docs/api/web-contents.md#webcontentsopendevtoolsoptions

[2015-12-15 18:11] paulrouget commented on #8973
For the record, i think opening the devtools should be implemented at the runtime level: https://github.com/servo/servo/issues/7379#issuecomment-164844386

See Electron's code:
* https://github.com/atom/electron/blob/afa8f8b1664b1ff49e68254ba7c1fae1b728bf0a/atom/browser/api/atom_api_web_contents.h#L79
* https://github.com/atom/electron/blob/02e0c169a22e4f94bda88581d1ece73e498499e0/docs/api/web-con

[2015-12-15 18:28] frewsxcv commented on #8940
Relevant to nytimes.com:  #6480

[2015-12-15 18:36] asajeffrey opened #8988 "Servo crashes valgrind"
Running valgrind on servo master in Ubuntu 15.10 crashes.

Full crash log at https://gist.github.com/asajeffrey/495ea7619c45118d794b, the interesting-looking lines are:

[code]

[2015-12-15 18:41] gkbrk opened #8989 "Panic while panicking: unable to find pipeline - this is a bug"
Hey there! I got this crash on `http://gkbrk.com`. I hope the log is useful.

[code]

[2015-12-15 18:42] edunham commented on #7262
HTTPS redirects are now working for servo.org, doc, blog, and servoexperiments.com (thanks @jdm!)

We now manage our own DNS through cloudflare (no more Bugzilla service tickets!) and the credentials are in the doc with all the other secrets.

[2015-12-15 18:42] #7262 closed

[2015-12-15 20:02] LifeIsStrange commented on #7262
But cloudfront is probably a spyware :(

[2015-12-15 20:21] metajack commented on #7262
If it is, we have bigger problems.

Even if it is, having encrypted connections to Cloudflare still prevents local network attacks like session hijacking.

[2015-12-15 20:41] iszak commented on #8842
@jdm I'm not sure that's possible without having index based conditions inside the report_error method. Even if I were able to store the reported errors on the structure via say an Arc, the error reporter is cloned upon pass to `Stylesheet::from_str` so I would not have access to the error_reporter properties. Any suggestions on how else to approach this?

[2015-12-15 21:01] edunham commented on #7262
@LifeIsStrange We've allowed users to encrypt their connections via CloudFlare to defend them against attacks which could otherwise inject malicious content on servo.org pages. It's true that CloudFlare can see the contents of any request to servo.org, but those requests will currently never contain a user's secrets. If a user needs to hide the very fact that they visited a servo.org domain, they

[2015-12-15 22:53] nox commented on #8875
How does one compare compartments of two objects?

[2015-12-15 23:04] Manishearth commented on #7757
I accidentally fixed this in #8983 (didn't realize it was an e-easy). Should I un-fix it?

[2015-12-15 23:05] nox commented on #8984
Blocked by #8954.

[2015-12-15 23:06] nox commented on #8953
Blocked by #8954.

[2015-12-15 23:11] pcwalton commented on #8543
Maybe just create a dummy scanned text fragment?

[2015-12-15 23:16] nox commented on #8804
Would you be ok with just generating the impl in codegen?

[2015-12-15 23:18] ceph3us commented on #8857
Since this was marked as a good first contribution, I've gone ahead and started work on this. Any objections?

[2015-12-15 23:33] jdm commented on #8875
js::AssertSameCompartment from C++ is how Gecko does it.

[2015-12-15 23:42] KiChjang commented on #7757
I think it's fine, #7985 has been hanging there for 2 months and an attempt to reach out to the original assignee has gone silent for almost 2 weeks.

[2015-12-15 23:44] frewsxcv commented on #8857
Go for it!

[2015-12-16 00:07] nox commented on #8576
This obviously exclude global interfaces, which don't have the same wrap signature. Maybe we should also have a reflect_dom_global function with that other wrap?

[2015-12-16 00:11] nox commented on #8333
So https://github.com/servo/rust-mozjs/pull/218 landed, but did we do the necessary smup yet?

[2015-12-16 00:12] nox commented on #8184
This is really low priority, I don't know of any [Alias] use.

[2015-12-16 00:12] nox commented on #7676
Any news on this?

[2015-12-16 00:32] #8934 closed

[2015-12-16 00:32] jdm commented on #7676
https://groups.google.com/forum/#!topic/mozilla.dev.servo/tqqwgAmhp8o

[2015-12-16 00:37] ceph3us commented on #8857
A few observations:
* `components/script/dom/bindings/codegen/GenerateCSS2PropertiesWebIDL.py` uses `string.Template` to fill out WebIDL templates for CSS2 properties in files. Obviously, the templating semantics are changed so these need to be modified. However, I can't find any of these in-tree and a few attempts at trying to dig them up by `grep`ing (both via `./mach grep` and `grep` directly)

[2015-12-16 01:26] schuster commented on #8465
Anyone mind if I take this one?

[2015-12-16 01:27] nox commented on #8465
@schuster Not at all, go ahead!

[2015-12-16 01:45] jmr0 commented on #7047
I think I've made some progress. At this point, HTMLImageElement and ImageFragment receive notifications that the metadata is available, and in the fragment's case it'll respond to `image_inline_size` and `image_block_size` using it. The biggest changes were to the image cache API, as I added support for just requesting an image or for separate metadata+image messages if metadata is available firs

[2015-12-16 03:04] askobara commented on #8570
Could I take this task?
I only not understand how to append pseudo class to the node. I have not found methods something like `add_class` in the docs.
Also should I implement [modify_style_for_text](https://github.com/servo/servo/blob/1d7689cb3fc6c8c6b9cdb3696a7b6ec744e48a3e/components/style/properties.mako.rs#L6934) as two separated pseudo-class and adds each of them separately according of condi

[2015-12-16 05:19] frewsxcv opened #8998 "Remove GenerateCSS2PropertiesWebIDL.py?"
`components/script/dom/bindings/codegen/GenerateCSS2PropertiesWebIDL.py`

https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/GenerateCSS2PropertiesWebIDL.py

Doesn't seem like it's used anywhere. Any value in keeping around?

[2015-12-16 05:23] frewsxcv commented on #8857
For your first point: https://github.com/servo/servo/issues/8998

For your second and third points, I would change everything to use `str.format` for consistency.. When I checked a week or so ago, it seemed like we did use any syntax that wasn't compatible between `string.Template` and `str.format`.

[2015-12-16 08:43] paulrouget commented on #8758
I cant' reproduce anymore.

@gordonbrander is it still happening to you?

[2015-12-16 09:53] Ms2ger commented on #8576
Orthogonal to this issue, but that sounds like something we could do, yes.

[2015-12-16 09:56] Ms2ger commented on #8998
I'm fine with removing it. @jdm?

[2015-12-16 09:56] Ms2ger commented on #8857
Ignore `fill()`, but update the rest of `CodegenRust.py`, please.

[2015-12-16 11:14] Ms2ger commented on #8804
Sure.

[2015-12-16 11:45] shinglyu commented on #5970
I am interested in this.

So as far as I understand, there are two options:
1. Write a Rust-based webdriver command-line client
2. Use a python-based webdriver client

Then run it with wptrunner and write test cases.

@jdm @jgraham, do you find any value in writing a Rust-based webdriver client? Otherwise I'll go with the python way?

[2015-12-16 12:56] jgraham commented on #5970
FWIW I have the beginnings of a spec-compliant python based client: https://github.com/w3c/wptrunner/blob/master/wptrunner/executors/webdriver.py

But it would be good to make it possible to run webdriver spec tests directly from wptrunner; that would be a fair amount of work in that project. And then we would need some tests. You might want to talk to @andreastt who was going to look at this too.

[2015-12-16 13:59] jdm commented on #8998
Go ahead.

[2015-12-16 14:35] LifeIsStrange commented on #7262
Concretely, there is no problem because this servo sites have not precious data. It's Just an ideological problem. Their business model is based on spying the World.
Also they block by default the user-agent of Python/urllib (I am not concerned by this problem) and they force the Tor users to accept cookies and to sign a Captcha.
That's all from what I know so cloudflare is not a big problem for s

[2015-12-16 14:54] #8998 closed

[2015-12-16 16:23] #8711 closed

[2015-12-16 16:43] asajeffrey commented on #8988
Jseward reports that this is a valgrind issue: https://bugs.kde.org/show_bug.cgi?id=356393

He proposes a patch: https://pastebin.mozilla.org/8854664

[2015-12-16 17:09] gordonbrander commented on #8758
@paulrouget it took more time, but I was able to reproduce. This was after clicking a link:

[code]

[2015-12-16 17:32] jdm commented on #8758
@gordonbrander That's a different panic. Could you file that separate with steps to reproduce?

[2015-12-16 17:38] asajeffrey commented on #8988
Julian Seward's patch to valgrind:
[code]
in `trunk/VEX/priv/ir_opt.c`, line 1226. This patch causes valgrind not to crash on servo any more, yay!

[2015-12-16 17:39] #8988 closed

[2015-12-16 17:49] gordonbrander opened #9001 ""ScriptTask PipelineId" Panic"
I don't know if this panic has deterministic STR, but it happens fairly frequently. Here's how the panic below happened:

1. Run https://github.com/mozilla/browser.html
2. `./mach run -r -- -b --pref dom.mozbrowser.enabled http://localhost:6060`
3. Open http://interconnected.org
4. Click a link.

[code]

(filing per https://github.com/servo/servo/issues/8758#issuecomment-165185548)

[2015-12-16 17:50] gordonbrander commented on #8758
@jdm filed. Thanks!

[2015-12-16 18:15] nox opened #9002 "Make use of Url::join"
The common idiom `UrlParser::new().base_url(base_url).parse(input)` can now be written as <strike>`base_url.parse(input)`</strike> `base_url.join(input)`.

[2015-12-16 18:18] SimonSapin commented on #9002
… and `UrlParser` is going away in rust-url 1.0, so upgrading now will make things easier later :)

[2015-12-16 18:29] nox commented on #9002
Hah, nice. Could you open an issue with what you have in mind for UrlParser?

[2015-12-16 18:38] #6872 closed

[2015-12-16 18:54] SimonSapin commented on #9002
I have a branch, but everything is broken in it right now. I’ll write something up when it’s presentable.

[2015-12-16 21:09] #7676 closed

[2015-12-16 22:52] pcwalton opened #9003 "Consider GC-ing during style recalc"
The idea here is that we can tenure all objects in the nursery to make sure they don't move during style recalc and then perform a non-compacting GC:

[code]

or

[code]

[2015-12-17 00:15] pcwalton commented on #8570
I don't understand what "I only not understand how to append pseudo class to the node. I have not found methods something like add_class in the docs." means. Could you rephrase?

Regarding `modify_style_for_text`, I think the first part (`relative`) shouldn't go through `modify_style` at all. Instead `position_offsets::{top,bottom,left,right}::to_computed_style()` should check the `position` in th

[2015-12-17 01:51] ceph3us commented on #8857
This might not be desirable at all for `CodegenRust.py`; every generated Rust codeblock containing curly braces will need them escaped. The `{{` and `}}` everywhere for Rust codeblocks combined with the use of `{subst}` for string format parameters may not be a suitable choice for this usecase. I'll keep working on this for now in case everyone wants to proceed anyway.

[2015-12-17 01:55] frewsxcv commented on #8857
I don't follow. Can you share a concrete example of what you're talking about?

[2015-12-17 02:07] ceph3us commented on #8857
Take this particularly egregious example from `CodegenRust.py:5597` (as of d9bf1ba)

[code]
If you naively strip the $ from the substitutions and switch to `str.format`, you end up with exceptions thrown along the lines of `KeyError: '\n        {type}::new(callback)' because it interprets the codeblocks as substitutions.

The actual correct template then looks like this:
[code]

As you can see, th

[2015-12-17 02:17] KiChjang commented on #8857
I'm not quite seeing why it's "not super fun to work with". Isn't that even a stronger reminder to the reader that we're working with Rust code when `{{` and `}}` are encountered?

[2015-12-17 02:22] ceph3us commented on #8857
YMMV. I found the two to not be so visually distinct, but I'm continuing to work on it anyway. Just making sure that the changes work for everyone.

[2015-12-17 02:27] frewsxcv commented on #8857
I sort of agree with @ceph3us that they're not fun to work with. I think the Python strings should be as close as possible to the outputted Rust code. When writing new Python code in this file, I'm fairly certain people are going to commonly run into braces issues frequently via `str.format`. I overlooked this difference with how braces work between `string.Template` and `str.format` when I first

[2015-12-17 02:42] ceph3us commented on #8857
I think that the call of whether, from a purely Python code perspective, it's an improvement: less needless verbosity, more Pythonic. But the problem comes if someone who's knowledge is primarily in Rust wants to make a minor tweak to the generated DOM bindings, who doesn't know the particulars of `str.format`, accidently uses `{` instead of `{{` and they're left with an error message that gives t

[2015-12-17 03:02] frewsxcv commented on #8857
I agree with your summary though: from a Python perspective, it's subjectively more idiomatic and slightly cleaner. But considering the implications of this change, it seems to be slightly more inconvenient to write Rust code generation, which I did not anticipate when I filed this issue. I fall somewhere between neutral and slightly against the changes, though someone with more opinions can overr

[2015-12-17 04:12] dzbarsky opened #9006 "Arithmetic Overflow when scrolling"
[code]

(Loaded the page and scrolled down)

[2015-12-17 04:44] askobara commented on #8570
I assumed that needs to do the following:
* Add pseudo-classes like "::-moz-*", that contain styles from `modify_style_for_*` functions into the `resources/user-agent.css` file
* Append new pseudo-classes to nodes instead of changing original styles

Is it correct?

[2015-12-17 05:10] dzbarsky commented on #7106
Fixed.

[2015-12-17 05:10] #7106 closed

[2015-12-17 05:11] dzbarsky commented on #6560
I misread this trace, as filed this issue is invalid

[2015-12-17 05:11] #6560 closed

[2015-12-17 05:38] frewsxcv commented on #8423
Done in  #8526

[2015-12-17 05:38] #8423 closed

[2015-12-17 05:39] frewsxcv commented on #8445
@sylvesterwillis You make any progress on this?

[2015-12-17 08:24] shinglyu commented on #5970
@jgraham Sorry I am not familiar with  wptrunner, so I am not quite sure what needs to be done. So do you mean we need to finish the webdriver.py? And I don't know what needs to be done to "run webdriver spec tests directly from wptrunner", what is the current way of doing this? Thank you.

[2015-12-17 10:25] Ms2ger commented on #8857
Yeah, I'm no longer so happy about this change. Sorry for sending you this way.

[2015-12-17 13:21] jdm commented on #9006
[code]
It's unclear to me why overflow occurred!

[2015-12-17 13:22] jdm commented on #9006
I guess if a ScrollEventProcessedMsg is received with a timestamp that is more than TIMEOUT ns in the past?

[2015-12-17 14:18] frewsxcv opened #9009 "Intermittent fail: /webgl/compressedTexSubImage2D.html"
#9005

[code]

[2015-12-17 18:30] #8575 closed

[2015-12-17 18:49] KiChjang commented on #8777
#8747 has landed, this issue is up for grabs.

[2015-12-17 18:51] jdm commented on #8842
The error reporter can store a vector of errors reported (inside `Arc<Mutex<>>`) that we compare against the expected values once parsing is complete. Does that make sense?

[2015-12-17 19:42] askalski commented on #7604
can you assign the bug again to me for another several days? I am working on this.

[2015-12-17 19:44] jdm commented on #7604
It's already marked assigned; see the C-assigned label.

[2015-12-17 20:24] jdm opened #9012 "Intermittent failure in /_mozilla/css/position_fixed_overflow_a.html"
Actual:
<img width="871" alt="screen shot 2015-12-17 at 3 23 37 pm" src="https://cloud.githubusercontent.com/assets/27658/11881016/3308f3d6-a4d2-11e5-85d1-c75d567b66e0.png">
Expected:
<img width="865" alt="screen shot 2015-12-17 at 3 23 47 pm" src="https://cloud.githubusercontent.com/assets/27658/11881015/3308ab38-a4d2-11e5-89c3-c0089587711e.png">

[2015-12-17 20:51] iszak commented on #8842
@jdm I tried that but because the error reporter is cloned inside Stylesheet::from_str() I won't have the same error reporter used to check for errors after invocation, it gives me an error saying it's moved.

[2015-12-17 21:24] KiChjang commented on #7860
@jsanders Any updates on this?

[2015-12-17 21:35] jdm commented on #8842
@iszak Could you push some code so I can understand the problem better? It should be possible to clone the Arc value to avoid that.

[2015-12-18 01:05] #8941 closed

[2015-12-18 04:05] jsanders commented on #7860
@KiChjang: Yeah, apologies for the slowness, I got a bit blocked trying to figure out some wpt tests that I either broke or fixed, and then #8867 happened, so I'm currently re-working stuff to work on top of that. Planning on pushing something up this weekend!

[2015-12-18 04:24] frewsxcv opened #9014 "Intermittent pass in /css/CSS2/floats/floats-wrap-bfc-002-right-table.htm"
https://github.com/servo/servo/pull/9011#issuecomment-165663742

[2015-12-18 08:53] #8673 closed

[2015-12-18 09:40] paulrouget commented on #8674
Panic is gone.

[2015-12-18 09:40] #8674 closed

[2015-12-18 12:41] magopian commented on #9002
Discussing that with @nox and @SimonSapin on irc, it's `base_url.join(input)` that should be used.

[2015-12-18 13:16] jinwooahn opened #9016 "A logical operator does not match the spec (cors-preflight-fetch)"
It seems like a logical operator does not match the spec.

https://github.com/servo/servo/blob/master/components/script/cors.rs#L238

https://fetch.spec.whatwg.org/#cors-preflight-fetch

Please review the Substep 4,
thanks!

[2015-12-18 13:22] jinwooahn commented on #9016
FYI, @jdm  @frewsxcv
thank you.

[2015-12-18 14:25] nox commented on #9002
Yeah, most confusing typo ever.

[2015-12-18 16:51] frewsxcv commented on #9016
Fixed in #9017

[2015-12-18 16:51] #9016 closed

[2015-12-18 17:56] vegayours commented on #8969
I investigated into this problem and it seems there are no reason to check wpt lint against web-platform-tests dir at all. This should be checked by web-platform-tests owners and commiters. I think web-platform-tests directory is supposed to be updated only on sync with upstream.

Instead we should run that lint against tests/wpt/mozilla/tests directory. I've already prototyped it and close to sub

[2015-12-18 17:57] frewsxcv commented on #8969
cc @jgraham since this is related to WPT tooling

[2015-12-18 17:57] jdm commented on #8969
We have bidirectional sync, so we can make changes locally that are merged upstream without any further review. We had several tests that were added this way and did not pass the linter, which caused problems, so we started running it locally. Disabling it is not an option, unfortunately.

[2015-12-18 17:59] jmr0 commented on #8969
For past issues, see https://github.com/servo/servo/issues/8285

[2015-12-18 18:04] vegayours commented on #8969
ok, bidirectional sync is bad news :(

Do we need to run wpt lint tool for tests/wpt/mozila/test dir?

[2015-12-18 18:05] jdm commented on #8969
Yes.

[2015-12-18 18:55] magopian commented on #9002
Do you want to assign this PR so it doesn't stay in the [servo starters](http://servo.github.io/servo-starters/)?

[2015-12-18 18:59] jdm commented on #9002
Done!

[2015-12-18 23:20] nox opened #9023 "Implement HTMLTableElement's head sections operations"
https://html.spec.whatwg.org/multipage/tables.html#htmltableelement

[code]

Files:
 * [components/script/dom/htmltableelement.rs](https://github.com/servo/servo/blob/master/components/script/dom/htmltableelement.rs)
 * [components/script/dom/webidls/HTMLTableElement.webidl](https://github.com/servo/servo/blob/master/components/script/dom/webidls/HTMLTableElement.webidl)

Cc @GuillaumeGomez

[2015-12-18 23:22] KiChjang commented on #9023
His name is @GuillaumeGomez here on GitHub, by the way :)

[2015-12-18 23:23] nox commented on #9023
Oh, right… I'm stupid.

[2015-12-19 04:00] GuillaumeGomez commented on #9023
Thanks @KiChjang. :D
Well, thanks too @nox haha.

[2015-12-19 06:10] dzbarsky commented on #9023
https://github.com/servo/servo/pull/8745, just needs some tests :)

[2015-12-19 14:21] nox commented on #9023
@dzbarsky Oh… Forgot that you had written some things related to it. @GuillaumeGomez Want to write the tests, or do you want me to find something else for you?

[2015-12-19 14:55] nox commented on #2149
The actual interesting part is to write the specification for LenientFloat and submit that upstream, no?

[2015-12-19 14:57] #9002 closed

[2015-12-19 17:06] iszak commented on #8842
@jdm I believe this is ready to create a PR https://github.com/servo/servo/compare/master...iszak:issue-8842 any feedback before I create it?

[2015-12-19 19:24] askalski commented on #8015
I am wondering if the ticket is still reserved.

[2015-12-19 20:53] #8844 closed

[2015-12-19 20:58] eefriedman commented on #8015
This is in progress; see #8807.

[2015-12-20 08:57] nox opened #9032 "Make more use of [BinaryName]"
I hate having both `Send()`, `Send_()` and `Send__()` and—

We should use `[BinaryName]` on IDL operations with multiple signatures to keep naming sane.

[2015-12-20 09:33] nox opened #9033 "Intermittent failure of /_mozilla/css/abs-overflow-stackingcontext.html"
https://github.com/servo/servo/pull/9025#issuecomment-166096738

[2015-12-20 16:34] jdm commented on #9033
The failure here is an empty screen for the non-reference case.

[2015-12-20 17:27] jmr0 opened #9034 "Ensure Websocket subprotocol argument meets the spec"
Left as a TODO. We currently don't check that the subprotocol argument received by WebSocket from the client fully conforms to the spec (see /subprotocol/ [here](https://tools.ietf.org/html/rfc6455#section-4.2.2))

(I'm not sure if we already have a util function somewhere to validate a `token` as described by [RFC 2616](https://tools.ietf.org/html/rfc2616))

Relevant code: `components/script/dom/

[2015-12-20 20:39] #8225 closed

[2015-12-20 21:37] #8352 closed

[2015-12-21 00:55] nox opened #9037 "Define window.HTMLDocument"
https://html.spec.whatwg.org/multipage/browsers.html#htmldocument

[2015-12-21 02:39] sylvesterwillis commented on #8445
No, I haven't looked at this issue.

[2015-12-21 09:55] mrobinson commented on #2009
@pcwalton Isn't this supported now via display_list.form_pseudo_stacking_context_for_positioned_content?

[2015-12-21 13:52] GuillaumeGomez commented on #9023
@nox: I'd prefer something else if you don't mind. ^^
Le 19 déc. 2015 3:21 PM, "Anthony Ramine" <notifications@github.com> a
écrit :

[2015-12-21 13:53] nox commented on #9023
@GuillaumeGomez Sure.

[2015-12-21 15:24] askalski commented on #7604
I made another PR for this, and closed the previous one. Please review:
https://github.com/servo/servo/pull/9039

[2015-12-21 15:58] askalski commented on #8756
this sounds interesting to me. Where I can read about wpt tests?

[2015-12-21 16:33] jdm commented on #8756
http://testthewebforward.org/docs/writing-tests.html and http://testthewebforward.org/docs/testharness.html would be relevant.

[2015-12-21 16:33] jdm commented on #8756
As would http://mxr.mozilla.org/servo/source/tests/wpt/README.md .

[2015-12-21 17:26] pcwalton commented on #2009
Yes, it is

[2015-12-21 17:26] #2009 closed

[2015-12-21 17:28] pcwalton commented on #8570
You don't need to actually modify any nodes. Just change the various accessors in layout to check the node type (the same notion of "node type" as in the DOM) and return which pseudo-pseudo should be used.

[2015-12-21 18:00] #7718 closed

[2015-12-21 21:05] jdm opened #9042 "Style checker: report instances of multiple spaces after a =>"
I've seen this in a couple PRs, and it's an easy thing to check for (`"=>  "`) (note: markdown collapses two spaces into one in the previous code fragment). We should add it to our syntax lints and fix any instances reported by `./mach test-tidy`.

Code: python/tidy.py

[2015-12-21 21:58] jryans commented on #8982
@bgrins, do you have more details about this? When running the latest `servo-client` branch, I did not see this error directly, but perhaps you have more local changes?

[2015-12-21 22:28] bgrins commented on #8982
I did have a workaround for #8981 locally but I've now pushed that in https://github.com/joewalker/devtools.html/commit/b1cb205fb19a7fc30afb9a1ce3e5fccbc37da97c.

So if you pull the latest servo-client branch then do:
* ./mach run http://localhost:8081/client/framework/toolbox-wrapper.html
* Wait around for a couple of seconds
* I see this in the output: `TypeError: range(...).getBoundingClientRec

[2015-12-21 23:50] jdm opened #9043 "Assertion failure: obj == GetOuterObject(cx, obj) while running devtools.html"
STR:
1. Enable debug-mozjs, build Servo master.
2. Follow steps in https://github.com/servo/servo/issues/8982#issuecomment-166441028
3. Assert.
[code]

[2015-12-22 00:04] jdm commented on #8982
This is Range.getBoundingClientRect, which isn't implemented yet:
[code]

[2015-12-22 01:22] jdm opened #9045 "Compartment mismatch assertions for /html/browsers/browsing-the-web/navigating-across-documents/"
[code]

[2015-12-22 01:23] jdm commented on #9045
From 03.html:
[code]

[2015-12-22 01:29] jdm commented on #9045
Simplest reproduction:
[code]
[code]

[2015-12-22 01:57] frewsxcv commented on #8566
https://github.com/whatwg/html/pull/413

[2015-12-22 02:11] jdm commented on #9045
@Ms2ger If you have ideas here, I'm fresh out. I've been looking at the windowproxy-related bits of WrapperFactory::PrepareForWrapping and our pre_wrap doesn't look egregiously wrong. I tried adding an `UnwrapUnchecked(obj, 1)`, but that hit a similar assert further down in JSCompartment::wrap.

[2015-12-22 02:28] gdamjan commented on #332
It would still be good to link the upstream issues here, so people searching for servo on wayland can track them :)

[2015-12-22 02:41] frewsxcv commented on #8445
I'll take this

[2015-12-22 03:51] gdamjan opened #9046 "bootstraping mach fails with --user in ~/.pip/pip.conf"
[code]

[code]

servo at df087cc

ps. is it really needed to use the fragile virtualenv? pep-370 does everything virtualenv does and better. (hint PYTHONUSERBASE=$PWD/py-env pip2 install --user -r requirements.txt)

[2015-12-22 07:39] psdh commented on #7553
mikedilger/formdata#20

[2015-12-22 08:50] Ms2ger commented on #9045
The outer object apis have changed significantly in upstream SM, so I think updating SM first is probably the best way forward (and I will keep whining until someone finally steps up).

[2015-12-22 11:56] apopiak commented on #8847
So it's a simple find and replace?

[2015-12-22 12:31] vberger commented on #332
FYI, I'm working on a complete rewrite of the glutin wayland backend (see https://github.com/tomaka/glutin/pull/674 ), to match the new, more rusty structure I chose for my `wayland-client` lib.

Hopefully it should be finished during the next days.

I don't know what would be the next steps for servo to be able to use it, though.

[2015-12-22 14:21] simartin commented on #9042
I propose to take this one.

[2015-12-22 14:49] jdm commented on #9042
Ok!

[2015-12-22 14:53] simartin commented on #9042
Cool :-) Should I also check that we have a whitespace before and after => while I'm at it?

[2015-12-22 14:54] jdm commented on #9042
I'm surprised we don't already, so please do!

[2015-12-22 18:02] #8777 closed

[2015-12-22 18:06] gdamjan commented on #332
Some people did a [wayland port of servo](http://blogs.s-osg.org/community-driven-wayland-support-servo/), part of it:
* [EGL support in rust-layers](https://github.com/servo/rust-layers/pull/220)
they avoided glutin at the time, and used EFL though.

[2015-12-23 00:09] gsnedders opened #9052 "Intermittent timeouts in tests/wpt/css-tests/mediaqueries-3_dev/html"
I've so far observed this in `calc-in-media-queries-001.htm`, `calc-in-media-queries-002.htm`, `mq-calc-002.htm`, `mq-calc-003.htm`, `mq-calc-004.htm`, `mq-calc-005.htm`.

Example stack trace:

[code]

The initial panic is always the unreachable code; the assert isn't always hit.

[2015-12-23 04:55] KiChjang opened #9053 "Accept a sequence of strings in the WebSocket constructor"
The WebIDL definitions for WebSocket has been updated upstream at the HTML specification documentation. In our current code, we use `optional (DOMString or DOMString) protocols` as the second argument to the constructor of WebSockets. The updated spech [here](https://html.spec.whatwg.org/multipage/comms.html#the-websocket-interface) instead uses `optional (DOMString and sequence<DOMString>) protoc

[2015-12-23 05:56] ecoal95 commented on #9053
I think this is blocked by #544

[2015-12-23 06:02] KiChjang commented on #9053
That issue is still open? Weird, because #9049 uses `sequence<>` for getAll and it compiled fine for me.

[2015-12-23 06:03] KiChjang commented on #9053
Oh I see what the problem is - `Codegen.py` currently doesn't support `sequence` values as parameters.

[2015-12-23 06:04] ecoal95 commented on #9053
Yeah, I implemented return values in #8412, but no arguments yet.

[2015-12-23 06:11] KiChjang commented on #6696
Superseded by #9053.

[2015-12-23 06:11] #6696 closed

[2015-12-23 09:48] gsnedders opened #9057 "text-align-justify-001.htm regressed"
This is `tests/wpt/css-tests/css-text-3_dev/html/text-align-justify-001.htm`; it was regressed in 85c73deb787ee171ee3cc7fb6c1cbd1e74548056 (by @pcwalton). (This wasn't found earlier because #8565 hasn't landed yet.)

[2015-12-23 10:40] KiChjang commented on #8857
Should we close this issue then?

[2015-12-23 11:28] KiChjang commented on #7553
This is part of #3649.

[2015-12-23 11:39] nox commented on #9053
Blocked by #9056.

[2015-12-23 13:43] #8836 closed

[2015-12-23 15:44] #8857 closed

[2015-12-23 18:01] Wafflespeanut opened #9060 "Tidy should read files in a better way..."
Currently, our tidy gets the contents of all files using `file.read()` function, and we have 8 functions to which the contents are passed, out of which 5 functions apply `splitlines` to slice the contents. This is bad, because we're traversing through the string multiple times *unnecessarily* for achieving that. As an alternative, we can make use of the `file.readlines` (awesomesauce!) to pass the

[2015-12-24 06:07] KiChjang opened #9063 "Intermittent failure of /_mozilla/css/nth_last_of_type_pseudo_a.html"
[code]

[2015-12-24 06:40] #9042 closed

[2015-12-24 10:44] simartin commented on #6602
I believe this issue can be closed; the reported case is tested at least through https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/mozilla/webgl/bufferData.html

[2015-12-24 12:23] dsprenkels commented on #9060
I would like to work on this, to see if the servo project fits me. :)

[2015-12-24 13:28] KiChjang commented on #9060
Alright!

[2015-12-24 15:18] dsprenkels commented on #9060
I have built a fix, but it does not make any difference in performance. The string handling does not take any time currently.
Running `$ python -m cProfile mach test-tidy | grep "{method 'splitlines' of 'str' objects}\|{method 'join' of 'str' objects}"`:

before patch:
[code]

after patch:
[code]

So the difference is about 36 milliseconds, when testing the whole code base. Would you like me to su

[2015-12-24 16:03] Wafflespeanut commented on #9060
I'm surprised that there's not much improvement. Please go ahead and open a PR. Let's try to reduce the time further :)

[2015-12-24 18:49] #6602 closed

[2015-12-25 02:45] nox commented on #9037
Blocked by #8954.

[2015-12-25 04:26] jdm commented on #9063
<img width="887" alt="screen shot 2015-12-24 at 11 26 29 pm" src="https://cloud.githubusercontent.com/assets/27658/11999845/ca8af90c-aa95-11e5-829b-c99297d735cf.png">

[2015-12-25 09:21] simartin opened #9068 "Panic browsing some wikipedia page in French"
We get a panic when browsing https://fr.wikipedia.org/wiki/Onomatop%C3%A9e

[code]

I'm willing to work on it, but I don't know how to self assign the issue...

[2015-12-25 11:57] Wafflespeanut commented on #9068
If you're willing to work on it, then you can go ahead. Sadly, you can't assign it to yourself, because Github has this crazy rule of assigning issues only to the members :/

[2015-12-25 15:05] askalski commented on #9006
well, I tried to reproduce, and received something different: https://paste.ee/p/n6B2T

I trired to add some println to .cargo/git/checkouts/rust-offscreen-rendering-context-49a578ae84e64b98/master/src/draw_buffer.rs

and then rebuilt servo, but either stdout is dropped or println in unsafe doesn't work, or - most probably - it hasn't rebuilt "rust-offscreen-rendering". How to force a rebuild?

[2015-12-25 20:58] dzbarsky commented on #9006
Did you update .cargo/config? See "Working on a crate" at https://github.com/antrik/servo/blob/dac4056d60c459784c6471af1a3afa30210b792e/HACKING_QUICKSTART.md

[2015-12-26 01:41] nox opened #9071 "Intermittent timeout in /css-flexbox-1_dev/html/flexbox_justifycontent-spacearound-negative.htm"

[2015-12-26 14:03] Wafflespeanut commented on #9060
fixed by #9066

[2015-12-26 14:03] #9060 closed

[2015-12-26 23:53] dsprenkels commented on #8733
I would like to take a look at this. :)

[2015-12-27 00:50] KiChjang commented on #8843
Fixed in #8958.

[2015-12-27 00:50] #8843 closed

[2015-12-27 05:55] jdm commented on #9071
[code]

[2015-12-27 06:04] jdm commented on #8733
@dsprenkels Go for it!

[2015-12-27 19:20] askalski commented on #9006
Hi, I started to investigate the issue (on Linux) and I added a XErrorHandler to offscreen rendering. Here it is
https://github.com/askalski/rust-offscreen-rendering-context/tree/add_error_naming_to_glx
if someone finds it helpful

[2015-12-27 21:09] askalski commented on #9006
and for some reason my attempt to add error handler was unsuccessful - for some reason it's never called. Any clues will be appreciated.

[2015-12-27 22:09] ecoal95 commented on #9006
Hi @askalski,

The callback provided to `XSetErrorHandler` is only executed on protocol errors I think, not on other kind of errors.

Also, glutin already adds a custom error handler (see https://github.com/servo/glutin/blob/servo/src/api/x11/xdisplay.rs#L34), and even more info will be available when upstream is merged again (see https://github.com/tomaka/glutin/pull/675 and potentially https://g

[2015-12-28 05:48] KiChjang commented on #6539
Has this been already fully integrated by the students at NCSU?

[2015-12-28 14:39] jdm commented on #6539
Yeah, I'll file new issues for things that are still missing.

[2015-12-28 14:39] #6539 closed

[2015-12-28 18:23] schuster commented on #8465
A few questions now that I've come back to this issue and had a chance to look over it:

1. How can I get all node iterators associated with the node's document? Step 6 in the DOM requires running the pre-remove steps for those iterators
2. Step 10 of the spec says to do the removing steps, which seems to be something that might exist for certain kinds of nodes. Is this something Servo implements

[2015-12-29 02:58] KiChjang commented on #8835
Fixed by #9027.

[2015-12-29 02:58] #8835 closed

[2015-12-29 02:58] KiChjang commented on #8830
@jackinloadup any updates on this?

[2015-12-29 03:19] KiChjang commented on #5971
Is this complete?

[2015-12-29 05:15] frewsxcv commented on #8465
I don't have time right now to look into all your questions, but at least for your fourth question:

https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/dom/nodes/ChildNode-remove.js

https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/dom/nodes/Element-remove.html

both of those tests are (possibly redundantly?) testing [this](https://dom.spec.whatwg.org/#d

[2015-12-29 12:44] #8738 closed

[2015-12-29 13:35] jdm opened #9079 "Support empty strings as the repeat argument to CanvasRenderingContext2D.createPattern"
See step 3 of https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-createpattern . We currently ignore this and throw a SyntaxError exception instead, according to `CanvasRenderContext2D::CreatePattern` and `RepetitionStyle::from_str`.

Code: `components/script/dom/canvasrenderingcontext2d.rs`, `components/canvas_traits/lib.rs`
Tests:
* `./mach test-wpt tests/wpt/web-platform-tests

[2015-12-29 14:01] jdm opened #9081 "Set the canvas state properly when using pattern arguments for setStrokeStyle/setFillStyle"
The test added in #9080 has two cases that don't pass, and they both involve pattern objects. If we compare the branches in `CanvasRenderingContext2d::SetFillStyle`/`SetStrokeStyle`, we see that the strong and gradient paths set the `state` field, while the pattern ones don't, which is why the getters don't retrieve the pattern object as expected.

Code: `components/script/dom/canvasrenderingconte

[2015-12-29 14:11] Ms2ger commented on #9081
Note the line
[code]

[2015-12-29 14:51] askalski commented on #8756
Hi, I attempted to work on this, and got blocked very fast: I copied "cors" directory to new one "set-cookie", added "[set-cookie]\n  skip:false" to include.ini, and tried to run
[code]
and got
[code]
as if I tried
[code]

[2015-12-29 15:21] jdm commented on #9081
That is changed in #9080.

[2015-12-29 15:23] jdm commented on #8756
The tests also need to be present in MANIFEST.json to be run.

[2015-12-29 20:47] askalski commented on #8756
ok, then I will come back with some initial tests, and we'll talk whether I am competent to do it all.

[2015-12-29 21:08] nerith commented on #9079
I'd like to work on this.

[2015-12-29 21:39] jdm commented on #9079
Sure!

[2015-12-29 23:04] #4837 closed

[2015-12-29 23:04] #8101 closed

[2015-12-29 23:33] frewsxcv opened #9084 "Mousing over button text shouldn't show cursor=text"
Comparing Servo and Chrome on [this page](https://news.ycombinator.com/item?id=10809486):

![untitled](https://cloud.githubusercontent.com/assets/416575/12044142/818bea68-ae41-11e5-8ed3-b5eb3f2ce76a.gif)

[2015-12-29 23:41] jdm commented on #9084
This comes from `mouse_over` in `components/layout/query.rs`, but originates from the code in `display_list_builder.rs` which stores cursors for text fragments in `build_display_list_for_text_fragment` and `build_display_items_for_selection_if_necessary`. I guess we either need a way of overriding that or explicit checks to see if the text fragment is in a button. I guess we could try adding a `cu

[2015-12-30 00:47] frewsxcv commented on #9084
This might be the associated line in Gecko?

https://github.com/mozilla/gecko-dev/blob/e192050ec9987883ea76c85950301dd5c4314a0c/layout/style/forms.css#L628

[2015-12-30 01:00] #8445 closed

[2015-12-30 02:14] frewsxcv commented on #8613
Unassigning since we haven't heard from @wldcordeiro

[2015-12-30 12:19] SimonSapin commented on #3899
I case @claisan is still waiting: we now use rust-lang.org nightly builds rather than our own builds, so 32-bit should be available.

[2015-12-30 12:35] SimonSapin commented on #8773
The `size` attribute does have an effect in:

[code]

So I’m guessing that where we’re implementing this (emphasis added):

https://html.spec.whatwg.org/multipage/rendering.html#the-input-element-as-a-text-entry-widget:the-input-element

… we’re not accounting for the default state of the `type` attribute:

https://html.spec.whatwg.org/multipage/forms.html#attr-input-type

[2015-12-30 12:37] SimonSapin commented on #8773
Relevant code is `synthesize_presentational_hints_for_legacy_attributes` in `components/script/dom/element.rs`

[2015-12-30 12:39] TheKK commented on #8773
Hi!
This issue looks like a nice place for me to start, can I take this one?

[2015-12-30 13:08] Ms2ger commented on #8773
It's yours! Look for "nonsense" in `components/script/dom/element.rs`.

[2015-12-30 13:30] gsnedders opened #9087 "Some CSS transforms tests intermittently fail"
All of these occasionally FAIL [expected: PASS].

[code]

[2015-12-30 13:34] Wafflespeanut opened #9088 "`./mach test-tidy-faster`"
Currently, tidy is slow (see #8969), almost entirely because we run the WPT lint tool. So, @Manishearth just threw an idea that we could have a mach command `test-tidy-faster` which ignores the `check_wpt_lint_errors` function in tidy.

Code: `python/servo/testing_commands.py` and `python/tidy.py`

[2015-12-30 13:50] #7608 closed

[2015-12-30 14:57] jdm opened #9091 "Intermittent timeout in /html/semantics/forms/the-button-element/button-events.html ("Too many open files")"
[code]
Delightful!

[2015-12-30 15:06] jdm opened #9092 "Intermittent failure in /_mozilla/css/position_relative_stacking_context_contents_a.html"
[code]

The result is a white screen for the non-reference file.

[2015-12-30 16:38] SimonSapin commented on #9088
Or can we fix the slowness? Profiling the lint tool shows that it spends 73% of it’s time parsing HTML.

[code]

I’ve tried changing the wpt lint tool to use lxml.html instead of html5lib. It causes some errors (below), but it runs in 9 seconds instead of 38 on my machine. If the errors can be resolved, we could change the tool to use lxml when available and fall back on html5lib otherwise. (lxml

[2015-12-30 16:40] Ms2ger commented on #9088
For a web standards test suite, we should probably use an html parser that follows the spec. I wonder if we could hook up h5e...

[2015-12-30 17:10] SimonSapin commented on #9088
I’ve played a bit with https://github.com/SimonSapin/html5ever-python, but it needs more work

[2015-12-30 17:11] SimonSapin commented on #9088
Or we could have a Rust version of the lint program? I haven’t looked how big it is.

[2015-12-30 17:19] jgraham commented on #9088
I agree that using lxml is a no-go, unfortunately. On the other hand, a proper Python frontend for Kuchiki or the html5ever treebuilder would be something I would bite your hand off for.

Rewriting the tool in Rust would probably not lead to something that you could upstream, unfortunately (that is, I am not comfortable requiring other web-platform-tests users to use Rust components), so it would

[2015-12-30 18:01] jdm opened #9095 "File loader should send a notification when the load is cancelled"
Right now it just has a silent return.

[2015-12-30 19:18] simartin commented on #8741
I can reproduce the initial case on my end
[code]

The latest reported case is a different issue, that I'll open a separate ticket for.

[2015-12-30 19:22] simartin opened #9097 "Panic loading http://people.mozilla.org/~sicking/webgl/ray.html"
This is to track the case reported by @dzbarsky in https://github.com/servo/servo/issues/8741, a different issue from the initial one

I've started to work on it and I believe the issue is we might not implement the "Automatic assignment" part of https://www.opengl.org/wiki/Vertex_Shader#Inputs

I'll continue to investigate, so feel free to assign the issue directly to me.

[2015-12-30 19:25] jdm opened #9098 "Improve correctness of AssertRequestMustNotHaveHeaders tests"
There are two improvements we can make:
* rename it to `AssertRequestMustNotIncludeHeaders` to match `AssertRequestMustIncludeHeaders`, since this is only looking for a subset of headers
* add an assertion that the headers passed to the constructor are not empty (same as `AssertRequestMustIncludeHeaders`)

Code: tests/unit/net/http_loader.rs

[2015-12-30 21:06] jdm opened #9101 "Consider storing enumerated attributes as atoms"
@nox's position is that the current representation wastes spaces and performs worse than storing an Atom. I haven't put any thought into the matter.

[2015-12-30 21:07] #7849 closed

[2015-12-30 21:07] #7850 closed

[2015-12-30 21:08] nox commented on #9101
This was prompted by https://github.com/servo/servo/pull/9100. Note that all the related button types in that case are short, and would be all inline even if not in the atom global static table. They should anyway because we want to use them as patterns in attribute_mutated.

[2015-12-30 22:48] simartin commented on #9097
The issue is not linked to the missing "Automatic assignment" as I thought (I checked and Chrome does not do it...), but rather to the fact that we were blindly calling *VertexAttrib* without checking the index we passed. This will generate a InvalidValue GL error if it's above MAX_VERTEX_ATTRIBS, in particular when it's -1, coming from a call to getAttribLocation for some unbound attribute.

[2015-12-31 01:32] larsbergstrom commented on #7625
@metajack This is happening again after the move to the new EC2 builders. I think we worked around it before by having people just log in and install the fonts manually. Should we do that again, or disable the tests?

[2015-12-31 01:34] larsbergstrom commented on #7625
Hrm, it says installed on both machines:
[code]

[2015-12-31 01:45] larsbergstrom commented on #7625
Also, are we sure we can't use the `fonts-liberation` package instead to avoid this, at least for CI/testing purposes?

[2015-12-31 01:49] larsbergstrom commented on #7625
You can try to force a re-install to see if the eula was accidentally not accepted or not completed by doing:
[code]

I suspect what's happening with the rules is sometimes the eula is not agreed to, and then the package is marked as installed without having actually installed any files.

[2015-12-31 01:53] SimonSapin commented on #7625
I’m in favor of disabling these tests until we fix the underlying font selector issues so that Microsoft fonts are not required.

[2015-12-31 05:33] Wafflespeanut commented on #9088
FWIW, this is just a temporary workaround, so that we could just run the faster version locally and let Travis take care of the entire check. The slowness of tidy is being discussed in #8969.

[2015-12-31 10:14] nox opened #9106 "Intermittent failure of /_mozilla/css/position_fixed_a.html"

[2015-12-31 11:19] #9091 closed

[2015-12-31 12:22] jdm commented on #9106
<img width="823" alt="screen shot 2015-12-31 at 7 21 29 am" src="https://cloud.githubusercontent.com/assets/27658/12064359/25fa58c0-af8f-11e5-8c6c-269ad3d539e2.png">
The vertical overflow text for the red block is not clipped in the non-reference screenshot.

[2015-12-31 12:58] jgraham commented on #9088
One option would be to make the wpt lint able to take a list of files to lint. Then you would get the file list from the changes to the wpt directory since the last sync point.

[2015-12-31 15:27] #8733 closed

[2015-12-31 16:20] #4183 closed

[2015-12-31 18:31] askalski commented on #9006
The reason I attempted to add XSetErrorHandler is that on my machine, I have different run result : https://paste.ee/p/LhdcQ , most notably, the assertion that fails is:
[code]
this, as far as I understand your code, points to failed glx::MakeCurrent call, which has like 7 possible reasons to check. I attempted to figure out which one was that.

Can somebody try to reproduce? I don't even know if

[2015-12-31 18:41] jackinloadup commented on #8830
I have some code in place but I have been having some difficulty figuring out how to debug the internals of various values.

Namely how to use gdb or some other tool to inspect aspects of hyper headers or url fields.

https://github.com/jackinloadup/servo/commit/be1d04f3ba5b479c33f88330e0972334f2ab6c1e

[2015-12-31 19:20] jdm commented on #8830
@jackinloadup There are `rust-lldb` and `rust-gdb` wrappers that include pretty-printers in `.servo/rust/[hash]/rustc-1.0.0-[platform]/bin/` that can be run against the `target/debug/servo` binary.

[2015-12-31 19:21] jdm commented on #8830
I use regular lldb on OS X for the same purpose, too.

[2015-12-31 20:50] #8976 closed

[2015-12-31 21:21] #9098 closed

[2016-01-01 05:08] ecoal95 commented on #9006
Hum... It definitely isn't the same bug, and I can't reproduce it.

I think I know what may cause it, even though it'd be really weird (rebinding the context to another thread returns an error in your glx implementation).

May you apply [this patch](https://gist.github.com/ecoal95/ddc290ba7cbabb5e287a) and tell me if it solves that issue?

[2016-01-01 13:16] dsprenkels commented on #9088
I would like to take this issue.

My idea is to add an option to `./mach test-tidy` (`--changes`) so that it will only test changes in the working directory from the last merge by @bors-servo.

[2016-01-01 13:30] TheKK commented on #8773
Here my modification TheKK@d03ad31. I compare the rendering result with Firefox and has no difference. Could you help me checking the commit, thanks.

[2016-01-01 14:09] iszak commented on #9081
Since this doesn't have the label C-assigned I am assuming it's still open and would like to try it.

By looking at the [specification](http://www.w3.org/TR/2dcontext/#fill-and-stroke-styles) it seems we need to store the CanvasPattern object in state so that it can be retrieved via fillStyle/strokeStyle and that should fix the test.

[2016-01-01 15:47] jdm opened #9112 "Intermittent failure in /_mozilla/css/iframe/size_attributes_vertical_writing_mode.html"
[code]

[2016-01-01 16:07] #9079 closed

[2016-01-01 17:57] Wafflespeanut commented on #9088
You got it!

[2016-01-01 20:19] SimonSapin commented on #8773
Hi @TheKK. Thanks for your contribution! Please open a pull request so that we can use the usual tooling for code review.

[2016-01-01 23:09] jdm commented on #9112
<img width="1072" alt="screen shot 2016-01-01 at 6 08 53 pm" src="https://cloud.githubusercontent.com/assets/27658/12072568/be4528c0-b0b2-11e5-9950-6838ad555bbb.png">
The iframe isn't being displayed in the non-reference case. Interesting.

[2016-01-02 07:01] simartin commented on #9095
I can give it a try.

[2016-01-02 07:43] ckimes89 commented on #8613
I'd like to try taking this issue.

@Manishearth you mention that ChangeEventRunnable could be changed to use an EventTarget, but the Runnable impl for ChangeEventRunnable calls a method defined on HTMLTextAreaElement.

https://github.com/servo/servo/blob/master/components/script/dom/htmltextareaelement.rs#L363
https://github.com/servo/servo/blob/master/components/script/dom/htmltextareaelement.rs

[2016-01-02 08:13] KiChjang commented on #9095
Alright!

[2016-01-02 14:07] jdm commented on #8613
The easiest way to get the window from an eventtarget would be to downcast it to a Node and call `window_from_node`.

[2016-01-02 14:09] jdm opened #9120 "Intermittent failure in /_mozilla/css/stacking_context_overflow_a.html"
<img width="928" alt="screen shot 2016-01-02 at 9 08 36 am" src="https://cloud.githubusercontent.com/assets/27658/12074710/72138252-b130-11e5-9b4b-862df3c5b38e.png">

The overflow text is being clipped erroneously.

[2016-01-02 15:02] Manishearth commented on #8613
Actually, `dispatch_change_event` could take a `Node` instead (all Nodes are EventTargets, not all EventTargets are Nodes)

[2016-01-02 16:08] jdm commented on #8127
<img width="822" alt="screen shot 2016-01-02 at 11 08 40 am" src="https://cloud.githubusercontent.com/assets/27658/12075060/34923bce-b141-11e5-8a84-36262d07a885.png">

[2016-01-02 16:56] jdm opened #9124 "Intermittent failure in /_mozilla/mozilla/mime_sniffing_font_context.html"
[code]
This is probably a case of the XHR response being complete (and presumably the font cache load being complete as well), but the font cache runnable hasn't reached the layout thread to trigger a relayout yet.

[2016-01-02 17:18] nox commented on #1669
libgreen has died a long time ago, closing this.

[2016-01-02 17:18] #1669 closed

[2016-01-02 17:20] nox commented on #2960
Didn't fail in a year and a half, closing this.

[2016-01-02 17:20] #2960 closed

[2016-01-02 18:12] nox commented on #3228
The test was fixed.

[2016-01-02 18:18] nox commented on #3228
Stupid me, we need to enable it again, keep this open meanwhile.

[2016-01-02 18:26] nox commented on #3683
Last failure more than a year ago.

[2016-01-02 18:26] #3683 closed

[2016-01-02 18:28] nox commented on #3727
Didn't fail since ticket was opened (apparently).

[2016-01-02 18:28] #3727 closed

[2016-01-02 18:33] nox commented on #3887
The tests have been fixed.

[2016-01-02 18:37] nox commented on #3636
@mbrubeck Was that fixed?

[2016-01-02 18:46] nox commented on #3926
This now apparently always fail with completely different results.

![capture d ecran 2016-01-02 a 19 46 32](https://cloud.githubusercontent.com/assets/123095/12075706/8b6b118a-b189-11e5-9d2a-17d5e38aa41f.png)

[2016-01-02 18:50] nox commented on #3926
Never mind… I didn't set `layout.writing-mode.enabled`.

[2016-01-02 18:52] nox commented on #3926
`./mach run --pref layout.writing-mode.enabled tests/wpt/mozilla/tests/css/vertical-lr-blocks.html` shows a blank page.

[2016-01-02 19:17] adrianheine commented on #4144
This also applies to for example zooming. With a German keyboard layout, I cannot zoom out, since my `=` is actually `SHIFT | CONTROL Num0`.

[2016-01-02 19:17] nox commented on #4835
That test is very long to run, and we had smaller boxes at the time, right? It didn't happen again afterwards, so I'm closing this.

[2016-01-02 19:17] #4835 closed

[2016-01-02 20:27] #8613 closed

[2016-01-02 20:29] GuillaumeGomez commented on #8804
I'd like to take it.

[2016-01-02 20:37] clemens-tolboom commented on #7930
I do have openssl on Mac 10.11.2

[code]
but the build fails

[code]

Checking brew I had openssl installed too.
[code]

Doing `brew link --force openssl` does not help.

So what to do?

[2016-01-02 21:42] sfackler commented on #7930
`cargo clean` and it should build.

[2016-01-02 22:27] frewsxcv opened #9131 "Add unit test for 'input' event for <input> elements"
https://github.com/servo/servo/pull/9122 merged without any regression tests.

[2016-01-02 22:36] frewsxcv commented on #8535
This is still happening

[2016-01-02 23:02] ckimes89 commented on #9131
I'd like to handle this one since I wrote #9122, but I'm unfamiliar with the servo test setup and not sure where to start. Are there some existing tests for events or key press handling that I can use as a reference?

[2016-01-02 23:14] nox commented on #9131
@frewsxcv Ew, I'm blind. Sorry for this.

[2016-01-02 23:45] nox opened #9132 "Use atoms for the 'type' attribute in HTMLInputElement::attribute_mutated"
The `type` attribute in `<input>` elements is stored as an atom, as stated in the related match arm in `HTMLInputElement::parse_plain_attribute`. We should make use of that fact in the match arm for that attribute in `attribute_mutated`.

Files:
 * /components/script/dom/htmlinputelement.rs

[2016-01-02 23:46] nox commented on #9132
Instead of dereferencing the atom value to no end, one should use `AttrValue::as_atom` and use `atom!(...)` patterns.

[2016-01-02 23:47] #3887 closed

[2016-01-02 23:47] nox commented on #9132
@iszak claimed it on IRC.

[2016-01-03 00:26] nox opened #9135 "Teach Element::get_root_node to be clever"
If an element is in a document, its root element is the Document's root element, in which case we don't need to recursively go up its inclusive ancestors to find it in `Element::get_root_element`.

We should use `Node::is_in_doc` to check whether the given element is in a document, and then use `Node::owner_doc` and `Document::GetDocumentElement` if it is. Otherwise, we should go up the ancestors

[2016-01-03 00:28] nox commented on #9135
@iszak claimed it on IRC.

[2016-01-03 00:31] nox commented on #9101
As stated in #9132, `<input>` already use atoms for its `type` attribute value.

[2016-01-03 00:33] frewsxcv commented on #9131
@ckimes89: @nox and I just briefly discussed this on IRC. Considering the `input` event only gets triggered when the user modifies the value of  an `<input>` element, we might need to wait until we have all the WebDriver commands implemented (https://github.com/servo/servo/issues/8623). WebDriver is a testing framework similar to Selenium that simulates user interaction

[2016-01-03 00:35] nox commented on #4659
There is no test_img_width_height.html in the tree anymore.

[2016-01-03 00:35] #4659 closed

[2016-01-03 00:58] #3228 closed

[2016-01-03 01:31] #9081 closed

[2016-01-03 01:33] nox commented on #3636
This was ported to a WPT test and isn't disabled anymore.

[2016-01-03 01:33] #3636 closed

[2016-01-03 01:37] nox commented on #5140
This test was moved to WPT and isn't disabled.

[2016-01-03 01:37] #5140 closed

[2016-01-03 01:39] nox commented on #5798
@jgraham Ping on this? Could this be made into an `E-less easy` ticket?

[2016-01-03 01:42] nox commented on #5798
Wait, that was done.

[2016-01-03 01:42] #5798 closed

[2016-01-03 01:48] #8821 closed

[2016-01-03 02:42] #9132 closed

[2016-01-03 02:56] nox commented on #5285
The tests in 588e9780efc028400b1d399e7c962cfb39227259  aren't disabled anymore.

[2016-01-03 02:56] #5285 closed

[2016-01-03 02:58] nox commented on #6252
Did our build machines change since then? This doesn't seem to occur anymore.

[2016-01-03 03:09] nox commented on #6312
This test isn't disabled anymore.

[2016-01-03 03:09] #6312 closed

[2016-01-03 03:12] nox commented on #6656
Base URLs and whatnot changed a lot, this is probably irrelevant now.

[2016-01-03 03:12] #6656 closed

[2016-01-03 03:14] nox commented on #6644
https://github.com/sfackler/rust-openssl/issues/205 has been closed, and we have updated hyper since then, so this is probably not anymore a problem.

[2016-01-03 03:14] #6644 closed

[2016-01-03 03:19] nox commented on #6266
#6342

[2016-01-03 03:19] #6266 closed

[2016-01-03 03:21] nox commented on #6701
We updated a bunch of things since then and it doesn't seem to happen anymore.

[2016-01-03 03:21] #6701 closed

[2016-01-03 03:21] nox commented on #6785
See #6701.

[2016-01-03 03:21] #6785 closed

[2016-01-03 03:34] nox commented on #7155
We updated gleam since then and it doesn't seem to appear anymore.

[2016-01-03 03:34] #7155 closed

[2016-01-03 03:36] nox commented on #7737
There are way less such tests now that most of them have been moved to WPT, this will probably never happen again.

[2016-01-03 03:36] #7737 closed

[2016-01-03 03:44] eefriedman opened #9142 "body "background" attribute resolved URL needs to be recomputed when the node is adopted"
See https://github.com/servo/servo/pull/9136#issuecomment-168456310 ; we currently only compute the resolved URL for the "background" presentation attribute when the attribute is mutated, but the resolved URL also depends on the owner document.

Writing a testcase is a bit complicated because it involves multiple files, but basically it would just involve moving the body of a document into a docum

[2016-01-03 06:42] #9135 closed

[2016-01-03 08:26] #5764 closed

[2016-01-03 08:58] #6748 closed

[2016-01-03 11:47] timvandermeij commented on #6780
This can probably be closed after #9141.

[2016-01-03 11:49] #6780 closed

[2016-01-03 12:04] nox commented on #6270
The test has nothing particularly complex to do, I suspect constellation shenanigans which were fixed since then.

[2016-01-03 12:04] #6270 closed

[2016-01-03 12:06] nox commented on #6467
Our WebSocket implementation improved since then, this doesn't seem relevant anymore.

[2016-01-03 12:06] #6467 closed

[2016-01-03 12:08] nox commented on #6747
Not sure that happens anymore, many updates were done since then.

[2016-01-03 12:08] #6747 closed

[2016-01-03 12:12] nox commented on #6864
This doesn't seem to happen anymore either.

[2016-01-03 12:12] #6864 closed

[2016-01-03 12:22] #4041 closed

[2016-01-03 14:11] peterjoel commented on #1716
I could take a stab at this one, if no one else is?

[2016-01-03 14:30] clemens-tolboom commented on #7930
cargo ... huh?

@sfackler thanks for the clean suggestion. After `./mach clean` building with `./mach build -dev` works :-)

[2016-01-03 14:33] jdm opened #9143 "Intermittent failure in /css-flexbox-1_dev/html/flexbox_computedstyle_flex-direction-invalid.htm"

[2016-01-03 14:33] jdm opened #9144 "Intermittent failure in /css-flexbox-1_dev/html/flexbox_computedstyle_flex-direction-row.htm"

[2016-01-03 14:34] jdm opened #9145 "Intermittent pass in /css-flexbox-1_dev/html/flexbox_computedstyle_flex-direction-row-reverse.htm"

[2016-01-03 14:36] #9143 closed

[2016-01-03 14:36] #9144 closed

[2016-01-03 14:36] #9145 closed

[2016-01-03 14:36] jdm commented on #1716
@peterjoel You're welcome to it!

[2016-01-03 15:56] #5803 closed

[2016-01-03 16:05] claisan commented on #3899
@SimonSapin, yes, I was waiting. Thanks for your reply.

[2016-01-03 17:44] #3657 closed

[2016-01-03 20:00] #8804 closed

[2016-01-03 21:54] #5714 closed

[2016-01-04 05:37] jinwooahn opened #9147 "Is CEF working now?"
1. I can build cef, but cannot see it running with CEF 3.2556 (dev branch)
2. ports/cef/README.md is quite old. It was updated on 7 May 2015. It is currently wrong, because build.sh is deprecated.
3. The README was updated on 7 May, so I guessed that CEF was working on 7 May.
4. I tried CEF Branch 2171 with old Servo(7 May 2015), but it does not work. (I used git reset --hard)
5. Is Servo CEF work

[2016-01-04 09:46] Ms2ger opened #9148 "Intermittent failure in /_mozilla/css/position_relative_vertical_percentage_overflow_a.html"

[2016-01-04 09:51] Ms2ger commented on #9148
![test](http://i.imgur.com/L7qQvx8.png)
![ref](http://i.imgur.com/l4QySol.png)

[2016-01-04 15:03] jdm commented on #9147
@zmike has been working with CEF recently, so he presumably has the most up-to-date instructions.

[2016-01-04 21:02] jdm opened #9151 "tidy.py throws an exception when it sees certain errors"
Specifically, when it tries to format any of the messages that involve a `{` with no corresponding `}`, it complains:
[code]
To reproduce this, just find some Rust code like ` {` and remove the space. We need to escape the solitary `{` and `}` characters according to the rules of Python.

Code: python/tidy.py

[2016-01-04 21:05] jdm opened #9152 "Create a testsuite for tidy.py"
When we add new error checks to tidy.py or refactor parts of it, we never have any guarantees that it continues to function as expected. We should create a simple test harness that runs our style checks against simple Rust source files that are otherwise ignored during compilation and reports the expected errors.

Code: `python/tidy.py`, `python/testing_commands.py`, `.travis.yml`

[2016-01-05 00:38] mbrubeck commented on #8890
The root cause of this is servo/rust-harfbuzz#54

[2016-01-05 00:42] jdm commented on #8890
Documentation update for the time being: #9128

[2016-01-05 00:52] ahnjinwoo commented on #8890
autoconf is current solution? Thanks.

[2016-01-05 01:17] paulrouget commented on #8543
Where should this be done?

[2016-01-05 03:43] glennw opened #9154 "Only set clip for background image when required."
See https://github.com/servo/servo/blob/master/components/layout/display_list_builder.rs#L427

Setting unnecessary clips works fine on WR, but it can introduce batch breaks when using GPU clipping, so there is a performance win by avoiding unnecessary clip rects.

This appears to be the only place in the code that causes a lot of unnecessary clip rects on real world pages I have tested on.

[2016-01-05 09:29] Ms2ger opened #9155 "Panic in get_cx removing an iframe while it's loading"
Both of these reproduce somewhat reliably here; one of jdm's PRs probably breaks the second test.

[code]

[code]

[code]

[2016-01-05 09:33] SimonSapin commented on #5973
@bholley, you asked in https://github.com/servo/servo/wiki/Meeting-2016-01-04 about dealing with the build system to add a new build target. The precedent we have is CEF and Gonk, that each have their own top-level `Cargo.toml` file and therefore their own `Cargo.lock` file. I do *not* think you should repeat this. Instead, I’d rather stay with a single top-level crate (with it’s `Cargo.toml` and

[2016-01-05 09:45] SimonSapin commented on #5973
CC @metajack (see previous comment)

[2016-01-05 10:32] Manishearth commented on #5973
Note that cargo-feature-specific deps don't get entries in the lockfile. We can circumvent that with version pinning in the toml.

[2016-01-05 12:33] SimonSapin commented on #5973
@Manishearth it looks like they do:

[code]

[code]

[code]

[2016-01-05 12:53] Manishearth commented on #5973
Huh. Perhaps that got fixed then

[2016-01-05 15:00] jdm commented on #9155
Do you mean get_page instead of get_cx?

[2016-01-05 15:02] Ms2ger commented on #9155
No, this is the stacktrace I meant to paste:
[code]

The `get_page` one happens on the same test, though.

[2016-01-05 17:46] jdm opened #9156 "Write an overview of the Constellation code"
It's pretty important, and the existing inline documentation is hit or miss. We should write down what we think it does, and then compare that against what it actually does.

[2016-01-05 18:49] jdm opened #9157 "Update FileAPI spec links in comments"
The spec now resides at https://w3c.github.io/FileAPI/, so the links in blob.rs pointing to the old location are now incorrect.

Code: `components/script/dom/blob.rs`

[2016-01-05 19:18] saneyuki commented on #9156
@jdm how degree of overview?

[2016-01-05 19:23] saneyuki commented on #9156
Ah, I missed you were assigned by yourself. I felt this is looking for a contributor.

[2016-01-05 19:24] jdm opened #9158 "The font cache task ignores the ResponseAction::ResponseComplete error case"
Right now, the font cache task code that's in charge of downloading remote fonts ignores the case where a response completes with an error. We should merge that case with the success one, since there's already code that checks if a response is valid or not. I believe that a reference test containing an a web font reference that was invalid for some reason (such as having a bad SSL certificate) wou

[2016-01-05 19:29] jdm commented on #9156
@saneyuki I certainly won't complain if anybody else wants to take a swing at it! I just figured that it was more likely not to be forgotten if I assigned it to myself.

[2016-01-05 20:16] pcwalton commented on #9154
cc me

[2016-01-05 20:54] nerith commented on #9157
I'm working on this.

[2016-01-05 21:34] #9158 closed

[2016-01-06 02:32] #9157 closed

[2016-01-06 02:49] KiChjang commented on #2823
@nox sup?

[2016-01-06 02:51] KiChjang commented on #8003
@romankl How far are you in this?

[2016-01-06 04:02] KiChjang opened #9163 "Intermittent failure of /css-transforms-1_dev/html/perspective-translateZ-positive.htm"
[code]

[2016-01-06 05:37] #8773 closed

[2016-01-06 05:52] paulrouget commented on #8902
Gecko doesn't send locationchange during redirects.

So this should be fixed once https://github.com/servo/servo/pull/9164/files lands.

[2016-01-06 09:45] nox commented on #2823
@KiChjang This needs #8954.

[2016-01-06 10:07] nox commented on #2823
And maybe even an SMUP because the code changed a lot.

[2016-01-06 12:03] romankl commented on #8003
@KiChjang sorry for the late update - it's probably better to re-assign it. (I can't find enough time for this one :/ )

[2016-01-06 12:12] TheKK commented on #8772
Hi, can I take this one :)

[2016-01-06 12:12] KiChjang commented on #8772
Yes, please do :)

[2016-01-06 13:53] frewsxcv commented on #8772
@TheKK: I think @Manishearth already has this completed in https://github.com/servo/servo/pull/8983, though it hasn't merged yet

[2016-01-06 14:02] SimonSapin opened #9166 "Don’t generate transparent display items"
The debug output I’m looking at shows lots of display items like:

[code]

… which if I’m reading correctly, is a transparent black rectangle. I think there’s one for the background of every element. (`background-color: transparent` is the initial value.)

There’s probably a few places in `components/layout/display_list_builder.rs` where we can add `if some_color.alpha > 0 { … }` to avoid building

[2016-01-06 14:07] GuillaumeGomez commented on #9166
I'd like to take it if no one is on it.

[2016-01-06 14:18] nox opened #9167 "Stop using JSClass"
We should be using only `js::jsapi::Class` instead.

[2016-01-06 15:11] larsbergstrom opened #9168 "Determine the msys/python environment requirements for Servo on Windows"
Related to #1908, in order to get Servo working on Windows we need to figure out the python installations and MSYS-related requirements for the build environment to work.

We have tried a couple of things:

1) Install both the native and MSYS versions of python. Patch the native installation to use directories expected by the MSYS version (e.g., `bin` instead of `Scripts` inside of virtualenv):
ht

[2016-01-06 15:17] jdm commented on #9163
<img width="493" alt="screen shot 2016-01-06 at 10 17 03 am" src="https://cloud.githubusercontent.com/assets/27658/12145875/aa340932-b45e-11e5-9657-bad1aa250082.png">

[2016-01-06 15:25] TheKK commented on #8772
Yup, this was fixed. I'll find something else I can work on.

[2016-01-06 15:31] KiChjang opened #9169 "Use self::MixedMessage for handle_msgs in script_task.rs"
The `handle_msgs` function under `script_task.rs` contains a lot of references to variants of `MixedMessage`. We should make use of a `use` statement in the function so that we can directly reference the variants instead of prepending `MixedMessage::`.

Code: `components/script/script_task.rs`

[2016-01-06 15:48] vvuk commented on #9168
To avoid confusion, there's actually three possible versions of python --

1. The native win32 python.  This comes from python.org.  In this python, sys.platform == "win32", os.path.sep == "\\", os.name == "nt"
2. A MSYS2 python.  This is the "msys2/python2" package, and is installed in /usr/bin/python.  In this python, sys.platform == "msys", os.path.sep == "/", os.name == "posix"
3. A mingw64 py

[2016-01-06 15:55] vvuk commented on #9168
mingw-w64-x86_64-python2 is required by mingw-w64-x86_64-gdb, so it can't easily be removed (without also removing gdb), but you can rename /mingw64/bin/python2.exe and python2.7.exe to python2-mingw64.exe etc.  Now if I run ./mach build -d from within a mingw64 shell, I'm downloading the proper rust nightly.  (This was easily fixable in a msys shell too, but I suspect that this is going to result

[2016-01-06 15:55] Ms2ger commented on #9169
Do you mean `use MixedMessage::*`? That's poor style, IMO.

[2016-01-06 16:01] vvuk commented on #9168
So, build seems to be going now.  What I did, from a *MINGW64* shell started *as Administrator* (right click, run as Administrator; or check run as Administrator in something like ConEmu).

    cd /mingw64/bin
    mv python2.exe python2-mingw64.exe
    mv python2.7.exe python2.7-mingw64.exe
    pacman -S python2-setuptools
    easy_install-2.7 pip virtualenv
    ./mach build -d

[2016-01-06 16:01] KiChjang commented on #9169
Yes, that's what I meant.

[2016-01-06 16:28] jdm commented on #9169
I'm ok with glob imports in non-global scopes that improve the readability of the resulting code.

[2016-01-06 19:08] #8902 closed

[2016-01-06 19:41] glennw commented on #9166
@SimonSapin @GuillaumeGomez I believe these are (currently) required for hit testing to work correctly for mouse click events etc. It's not ideal and we do need a better solution, but it's probably not E-Easy.

[2016-01-07 01:34] frewsxcv opened #9174 "<input> incorrect width inside table cell"
[code]

<img width="618" alt="screen shot 2016-01-06 at 8 31 54 pm" src="https://cloud.githubusercontent.com/assets/416575/12159903/ad9d161c-b4b4-11e5-8ba2-8cda49070a7e.png">
![screen shot 2016-01-06 at 8 32 06 pm](https://cloud.githubusercontent.com/assets/416575/12159905/aee03e64-b4b4-11e5-870f-bf958160403f.png)
<img width="878" alt="screen shot 2016-01-06 at 8 32 20 pm" src="https://cloud.githu

[2016-01-07 01:58] frewsxcv opened #9175 "<input> and <textarea> text not getting clipped on overflow"
[code]

![screen shot 2016-01-06 at 8 56 18 pm](https://cloud.githubusercontent.com/assets/416575/12160259/3b8cd374-b4b8-11e5-97d6-36679a1030d5.png)
<img width="754" alt="screen shot 2016-01-06 at 8 56 36 pm" src="https://cloud.githubusercontent.com/assets/416575/12160260/3e4f9344-b4b8-11e5-9509-586b8fad2ea6.png">
<img width="654" alt="screen shot 2016-01-06 at 8 56 48 pm" src="https://cloud.githu

[2016-01-07 04:10] nerith commented on #9169
I'd like to take this.

[2016-01-07 04:13] Wafflespeanut commented on #9169
It's yours! :)

[2016-01-07 04:19] KiChjang opened #9178 "Document/Refactor steps for dispatch_event in eventdispatcher.rs"
The spec may have changed after it was last modified, so refactoring may be necessary

Code: `components/script/dom/eventdispatcher.rs`
Spec: https://dom.spec.whatwg.org/#concept-event-dispatch

[2016-01-07 05:06] KiChjang opened #9180 "Rename fire_simple_event_params to fire_event in eventtarget.rs"
`fire_simple_event` implements an algorithm [defined in the HTML spec](https://html.spec.whatwg.org/multipage/webappapis.html#fire-a-simple-event). However, there is also `fire_event` which is [defined in the DOM spec](https://dom.spec.whatwg.org/#concept-event-fire), and it is currently named `fire_simple_event_params`. We should instead rename it appropriately.

Also, the WebIDL definition for `

[2016-01-07 06:32] KiChjang opened #9181 "Intermittent failure of/_mozilla/css/position_fixed_a.html"
[code]

[2016-01-07 07:07] #9169 closed

[2016-01-07 07:21] jdm commented on #9181
Duplicate of #9106.

[2016-01-07 07:21] #9181 closed

[2016-01-07 09:40] #8801 closed

[2016-01-07 10:15] SimonSapin commented on #9166
Alright, I’ll just close this as it’s not clear to me what’s required for hit testing. Feel free to open another issue about improving that.

[2016-01-07 10:15] #9166 closed

[2016-01-07 10:59] Ms2ger opened #9185 "Implement encoding determination for external scripts."
* Spec: <https://html.spec.whatwg.org/multipage/scripting.html#establish-script-block-source>.
* Code: `components/script/dom/htmlscriptelement.rs`, `fn execute`.
* Tests: none that I know of, so I'll be expecting quite a few tests to be written as part of this issue. These should probably live in (a subdir of) `tests/wpt/web-platform-tests/html/semantics/scripting-1/the-script-element`.

[2016-01-07 12:43] Ms2ger opened #9186 "Use the fetch infrastructure for external script elements."
Depends on #4576.

* Spec: <https://html.spec.whatwg.org/multipage/#script-processing-src-prepare>.
* Code: `components/script/dom/htmlscriptelement.rs`, `fn execute`.
* Test: not yet sure what web-visible effects this would have, but I imagine there will be some tests that would be useful to write.

[2016-01-07 15:04] Wafflespeanut opened #9189 "Tidy should stop calling the WPT lint using subprocess"
Instead of the subprocess call (in `check_wpt_lint_errors`), we should change the working directory to `tests/wpt/web-platform-tests`, so that we can just import the lint's `main` function, and do the checks directly. This will be very helpful for a future plan to improve tidy's performace (once w3c/wpt-tools#45 is fixed)

Code: `python/tidy.py` and `tests/wpt/web-platform-tests/tools/lint/lint.py

[2016-01-07 16:23] frewsxcv commented on #8916
#9183

[2016-01-07 16:23] #8916 closed

[2016-01-07 16:26] jdm opened #9190 "hide_layers2.html times out if the test is driven by the iframe's onload event"
[code]

[2016-01-07 16:35] jdm opened #9191 "Solid background color obscures iframe and iframe content"
[code]
<img width="914" alt="screen shot 2016-01-07 at 11 33 44 am" src="https://cloud.githubusercontent.com/assets/27658/12175867/88851cfc-b532-11e5-9153-a10d6f35d9d8.png">

[code]
<img width="914" alt="screen shot 2016-01-07 at 11 34 17 am" src="https://cloud.githubusercontent.com/assets/27658/12175906/c0bd2b50-b532-11e5-8a29-d9769eeafd0c.png">

cc @glennw @mrobinson

[2016-01-07 16:37] jdm commented on #9191
Nevermind, I wrote `</body>` instead of `</style>`.

[2016-01-07 16:37] #9191 closed

[2016-01-07 16:40] jdm commented on #9190
<img width="914" alt="screen shot 2016-01-07 at 11 40 08 am" src="https://cloud.githubusercontent.com/assets/27658/12176032/6b57e96a-b533-11e5-8446-4071b16950ab.png">

The frame contents is hidden correctly, but not the frame itself.

[2016-01-07 16:42] jdm commented on #9190
And occasionally this panic occurs:
[code]

[2016-01-07 17:22] nerith commented on #9180
I'd like to take this.

[2016-01-07 17:24] KiChjang commented on #9180
Alright!

[2016-01-07 19:25] jdm commented on #7458
That being said, ServiceWorkers would use a lot of the same infrastructure as SharedWorker, so this could still be valuable.

[2016-01-07 22:13] iszak commented on #9178
I would like to give this a try

[2016-01-08 04:15] KiChjang opened #9197 "Intermittent failure of /_mozilla/css/transition_calc.html"
[code]

[2016-01-08 11:06] smizon commented on #5917
So monkey patching the https protocol for temp fix is ok,

`try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context  `

But how would you globally change the path to the CA cert?

Setup is:
 Current using python3.4 on Centos7, using Flask, noticed importing SSL and cert

[2016-01-08 12:13] paulrouget commented on #8544
Previous approach was wrong. I was trying to rely on the HTTP status code, which makes no sense.

Here is a simpler approach: https://github.com/servo/servo/compare/master...paulrouget:securitychange

This is basic, but it covers enough for what we need for browser.html.

@jdm, can you take a quick look and tell me if this is what you had in mind?

You mentioned adding an enum to the Metadata stru

[2016-01-08 13:47] askalski commented on #9006
@ecoal95 after applying this patch to today's upstream/master and clean build, I have no crash, and all tests succeed. So again, unable to reproduce original bug :).

my stuff: Ubuntu Mate 14.04 LTS on Lenovo Thinkpad W530, so intel i7, nvidia quadro M2000

Kindest Regards
Andrzej Skalski

[2016-01-08 14:21] jdm commented on #9197
<img width="821" alt="screen shot 2016-01-08 at 9 20 58 am" src="https://cloud.githubusercontent.com/assets/27658/12199840/2bbb3d46-b5e9-11e5-8aea-85dc86249c48.png">
The box is 50% as tall as it should be in the non-reference case.

[2016-01-08 14:46] jdm commented on #8544
Yep, that's more like what I was expecting. I think we should store a value in Document that reflects https://html.spec.whatwg.org/multipage/dom.html#concept-document-https-state instead of secure/broken/insecure and store the brokenness via a separate boolean field. Additionally, instead of inspecting the scheme of the final URL, we should add a field to Metadata and rely on that value.

[2016-01-08 16:29] wenderen commented on #8512
#9201 @frewsxcv done

[2016-01-08 17:18] connorimes opened #9202 "Panic in Constellation - unable to find pipeline"
Not entirely sure how this occurred, I just ran a release build with the 'energy-profiling' feature and loading google.com.  I wasn't really paying attention, but I think it crashed while I was closing servo.

<pre>
./mach run -r http://www.google.com
Started energy monitoring from: Intel RAPL
thread 'Constellation' panicked at 'unable to find pipeline - this is a bug', ../src/libcore/option.rs:33

[2016-01-08 17:29] connorimes opened #9203 "Exit after load flag not working"
The `-x` (`--exit`) parameter does not appear to be functioning properly.  This problem arose previously in #6587.  Maybe we can get a test case for this.

[2016-01-08 17:43] #9180 closed

[2016-01-08 18:19] KiChjang opened #9205 "Intermittent failure of /_mozilla/css/mix_blend_mode_a.html"
[code]

[2016-01-08 18:54] jdm commented on #9205
The non-reference output is a white page.

[2016-01-08 22:28] #9124 closed

[2016-01-09 04:37] Wafflespeanut opened #9215 "Intermittent timeout in /css-backgrounds-3_dev/html4/background-intrinsic-006.htm (constellation panicked at `Result::unwrap`)"
▶ TIMEOUT [expected FAIL] /css-backgrounds-3_dev/html4/background-intrinsic-006.htm
    │
    │ thread 'Constellation' panicked at 'called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 104, message: "Connection reset by peer" } }', ../src/libcore/result.rs:741
    │ stack backtrace:
    │    1:     0x7f53819f7100 - sys::backtrace::tracing::imp::write::h92808652e552bec0MZt
    │

[2016-01-09 06:04] KiChjang commented on #8769
Why is this still occurring? Didn't #9207 disable this test?

[2016-01-09 10:46] KiChjang opened #9216 "Implement HTMLDetailsElement"
This requires an implementation of the `attribute_mutated` function in `VirtualMethods` for `HTMLDetailsElement`, when attempting to implement the [details notification task steps](https://html.spec.whatwg.org/multipage/#details-notification-task-steps). It also requires the usage of the DOM manipulation task source.

Code: `components/script/dom/htmldetailselement.rs` (new file), `components/scri

[2016-01-09 14:44] jdm opened #9220 "Move LayerType enum to gfx_traits"
It's only used in gfx_traits and layout, but it's defined in msg. We can fix this!

Code: `components/msg/compositor_msg.rs`, `components/gfx_traits/lib.rs`

[2016-01-09 14:46] jdm opened #9221 "Move FrameTreeId type to gfx_traits"
It's used in compositing, gfx_traits, and gfx, but it's defined in msg. It should be possible to move it to gfx_traits instead.

Code: `components/msg/compositor_msg.rs`, `components/gfx_traits/lib.rs`

[2016-01-09 14:50] jdm opened #9222 "Move Epoch type to gfx_traits"
It's defined in msg but used in a bunch of places that all depend on gfx_traits, and it's a gfx-related concept.

Code: `components/msg/compositor_msg.rs`, `components/gfx_traits/lib.rs`

[2016-01-09 14:59] jdm commented on #8841
Now that #8833 and #8835 are solved, the problems mentioned earlier no longer exist.

[2016-01-09 15:01] jdm opened #9223 "Move AnimationState to script_traits"
This is defined in msg but used by code that depends on script_traits.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`

[2016-01-09 15:03] jdm opened #9224 "Move DocumentState to script_traits"
It's defined in `msg` but used by code that depends on `script_traits`.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`

[2016-01-09 15:05] jdm opened #9225 "Move MozBrowserEvent to script_traits"
It's defined in `msg` but only used by `compositing`, `script`, and `script_traits`. It belongs in `script_traits`.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`

[2016-01-09 16:07] peterjoel commented on #1716
The support looks generally pretty good for actually scrolling to elements. I have (informally) tested:

 * Block elements (`<h2 id>`, `<p id>`)
 * Inline elements (`<span id>`, `<b id>`)
 * Anchors (`<a id>` and `<a name>`, meaning the case mentioned in March 2014 by @june0cho is now working)
 * Non-printable elements (`<br id>`)

The only case I found that fails is when the fragid contains url e

[2016-01-09 16:17] peterjoel commented on #1716
I could do with some clarification on how percent-decoding should be applied. The algorithm (https://html.spec.whatwg.org/multipage/#the-indicated-part-of-the-document) says that the fragid should always be percent-decoded, when matching an element id, but should not be percent-decoded when matching an anchor name.

However, in Firefox and Chrome, I can see that a frag id `a%20b` will match an ele

[2016-01-09 16:46] nox opened #9227 "Remove GlobalField"
`GlobalField` is used to store a reference to the global associated with a given DOM object. This is pointless because all DOM objects implements `Reflectable`, and we can just use `global_root_from_reflector` on it.

Fields on DOM structs of type `GlobalField` should be removed and the aforementioned function should be used instead.

Finally, the function should probably be made a default method

[2016-01-09 17:11] nox commented on #9227
As an example of what to do, see [this commit](https://github.com/nox/servo/commit/0e3f066e8a971b1d90a07b4448e12a57c34b114c).

[2016-01-09 17:28] nox commented on #9227
@Ms2ger Do you think the function or method could return `GlobalRef` instead of `GlobalRoot`, btw?

[2016-01-09 18:04] ecoal95 opened #9228 "Refactor WebGLPaintTask to prevent creating extra IPC channels"
Right now we create an IPC channel when we create a `WebGLPaintTask`.

When the context creation fails, this channel is not returned and thus created in vain.

The mspc channel is necessary, since the task makes use of it, but it should be easy to wait until we know the task has succeeded to create the IPC channel.

Code: https://github.com/servo/servo/blob/master/components/canvas/webgl_paint_tas

[2016-01-09 20:19] KiChjang commented on #6638
Is this still pending on the extraction of websocket connection algorithms out of websocket.rs and into websocket_loader.rs?

[2016-01-09 20:25] jdm commented on #6638
I'll file new issues for any remaining pieces.

[2016-01-09 20:25] #6638 closed

[2016-01-09 20:43] askalski commented on #9185
I attempted to do something here, but I am not sure if I get steps 3 and 4 right.

https://github.com/askalski/servo/tree/issue9185

[2016-01-09 20:59] KiChjang commented on #2782
Keygen is deprecated, do we still want to do this?

[2016-01-09 21:01] frewsxcv commented on #2782
As per the spec:

Doesn't seem worth our time to do anything related to it

[2016-01-09 21:17] peterjoel commented on #1716
When linking to a `<br />`, Chrome scrolls to the line after the actual `<br/>` element, but Firefox scrolls to the line before. The whatwg spec isn't really clear on this behaviour - which is correct?

[2016-01-09 21:20] KiChjang commented on #1716
I personally lean towards mimicking Firefox's behavior.

[2016-01-09 21:33] jdm commented on #2782
Agreed.

[2016-01-09 21:33] #2782 closed

[2016-01-09 23:26] askalski commented on #9185
I was unable to locate "script block's fallback character encoding", and I don't know which one is "character encoding"

should any of these mimic this:
https://developer.mozilla.org/en-US/docs/Web/Guide/Localizations_and_character_encodings#Specifying_the_fallback_encoding
?

[2016-01-10 02:56] frewsxcv commented on #7625
This is happening again

https://github.com/servo/servo/pull/9214#issuecomment-170302691

https://github.com/servo/servo/pull/9209#issuecomment-170301111

[2016-01-10 02:59] coder543 commented on #9228
I'm thinking about contributing to Servo, so I was looking at the code section highlighted. Is it normal for Servo code to just be seat-of-the-pants `unwrap`-ing everything? That seems pretty dangerous, but I'm not going to claim to be a Rust expert at this point.

[2016-01-10 03:04] KiChjang commented on #9228
If you don't expect an error to happen at all, it's ok to use `.unwrap()`. Are you currently working on this issue?

[2016-01-10 03:09] ecoal95 commented on #9228
Hi Josh.

Generally if the corresponding failure is fatal, and there's no
way to recover from the error, there's no problem unwrapping it.

E.g.: If a `send()` or `recv()` message fails, we've lost communication
with the outer thread, and there's no way to guarantee that the program
execution will continue as expected, so IMO it's preferrable to crash
instead of, for example, get locked waiting to

[2016-01-10 03:17] coder543 commented on #9228
Hello,

Those responses make sense. Thanks!

And right now I'm studying the issue to see if I understand it. What I'm seeing right now is that lines 190 to 192 need to stay where they are so that their variables can be accessed from line 233. Nothing can really change there. But, line 193 could be moved to right after line 205 with no ill effects, I think. If that's all there is to this bug, then

[2016-01-10 03:21] ecoal95 commented on #9228
The idea will be to move lines 190 and 193 (those which make use of the ipc channel,
which is more expensive to create) as far to the bottom as possible, and don't execute
them if the `result_port` receives an `Err` value.

[2016-01-10 03:43] coder543 commented on #9228
Alright, I'm working on this issue now. I tested out my initial idea of moving line 193 into the closure, but I had overlooked how the closure would then take ownership of in_process_chan. I could always create an `in_process_chan_clone = in_process_chan.clone()` that the closure would be allowed to take ownership of, but I'm currently playing with moving lines 190 and 193 down below the closure e

[2016-01-10 04:01] ecoal95 commented on #9228
You can't write a teat for this, since these are implementation details.
Its fine if it builds and passes the existing tests :-)

The approach looks good to me so far. The Router line position won't affect
anything, since it just means something like: "I want to proxy all the
messages that arrive to this IPC channel to this in-process channel", and
no message will be sent before exiting that funct

[2016-01-10 04:07] frewsxcv opened #9232 "Support WebAssembly (wasm)"
https://en.wikipedia.org/wiki/WebAssembly

https://github.com/WebAssembly/design

https://www.w3.org/community/webassembly/

[2016-01-10 04:09] frewsxcv commented on #9232
V8 just announced their intentions to support WASM:
* https://groups.google.com/forum/#!topic/v8-users/PInzACvS5I4

@asajeffrey is currently experimenting with a pure-Rust implementation of the WASM runtime:
* https://github.com/asajeffrey/wasm

[2016-01-10 04:14] frewsxcv commented on #9232
If it weren't for asajeffrey's experimenting efforts, I probably wouldn't have opened this since this would otherwise be a SpiderMonkey tracking issue. So if people think this tracking issue is not appropriate in Servo, feel free to close this, but it might be nice to have it to follow along on the progress.

[2016-01-10 04:23] frewsxcv commented on #9232
Chromium tracking issue:
* https://code.google.com/p/chromium/issues/detail?id=575167

[2016-01-10 06:51] edunham commented on #7625
@larsbergstrom Manually reinstalling the font on a running buildslave will squash this issue for an indeterminate period of time -- unless we save the changes to a new AMI then configure Buildbot to use it, we'll hit a regression every time the slave gets terminated then restarted from the old (broken) AMI.

Is there a reason we can't perform this test successfully with free fonts? If so, we can m

[2016-01-10 09:31] SimonSapin commented on #7625
https://github.com/servo/servo/pull/9235

[2016-01-10 10:38] wenderen commented on #9167
Does this involve removing JSClass from servo/mozjs and servo/rust-mozjs as well?

[2016-01-10 13:47] peterjoel commented on #1716
@KiChjang Ok. Will there be a problem with pushing tests upstream in that case?

[2016-01-10 14:03] nox commented on #9167
No, just from Servo for now.

[2016-01-10 14:08] asajeffrey commented on #9232
I'm happy to have a Servo issue for this. Issues with the Rust wasm implementation should be tracked at https://github.com/asajeffrey/wasm.

[2016-01-10 14:15] askalski commented on #9185
From what I understand fromhttps://html.spec.whatwg.org/multipage/scripting.html#establish-script-block-source , I should deduce "script block's fallback character encoding" from document's one.

I added two "HELPME" comments, with specific questions. I would appreciate some suggestions.

[2016-01-10 14:43] tgummerer commented on #9220
I'd like to try this one.

[2016-01-10 15:12] Wafflespeanut commented on #9220
Great!

[2016-01-10 15:12] nox commented on #4593
Blocked by #8954.

[2016-01-10 15:13] nox commented on #6419
Blocked by #8954.

[2016-01-10 17:07] larsbergstrom opened #9238 "Switch output interval to output type?"
Memory and time profiling currently take a time interval and print their profiling data to stdout at that interval. IIRC, that's because shutdown used to be more unreliable & crashy than it is today.

I'd like to change these arguments to instead take an optional argument (filename). If the filename is present, it'll write out a CSV file with the data at the end of the run. If it's not present, th

[2016-01-10 17:25] #9220 closed

[2016-01-10 19:35] #8566 closed

[2016-01-10 21:09] fmmartins commented on #9227
Hello. I will be working on it!

[2016-01-10 21:22] frewsxcv commented on #7396
@Ms2ger Is there any public online discussion of this somewhere within WHATWG? It might be nice to have some sort of tracking issue somewhere

[2016-01-10 21:55] nnethercote commented on #9238
The ability to correlate measurements to user actions is useful. With your suggestion this ability would be mostly lost -- it's hard to correlate even timestamped measurements in that fashion.

Also, how do you plan to process and present the data? The memory profiling data is presented in a tree structure. To not lose functionality you'll need a way to present that information nicely.

For compar

[2016-01-10 22:30] PythonNut commented on #9151
I'll grab this, if you don't mind. :)

[2016-01-10 22:58] KiChjang commented on #9151
It's yours!

[2016-01-11 00:06] jsanders commented on #7860
@KiChjang / @jdm: I'm finally getting back to this, but I've run into something I could use some guidance on.

When I looked at this before, a tricky part of it was communicating the close code and reason between when the client starts the closing handshake, and when the server acknowledges it. But upon further reading of RFC 6455, [section 7.1.5](https://tools.ietf.org/html/rfc6455#section-7.1.5)

[2016-01-11 00:07] nox commented on #5126
The test isn't disabled, and it didn't happen since the time the issue was filed. Closing issue.

[2016-01-11 00:07] #5126 closed

[2016-01-11 00:10] nox commented on #6252
No response, closing.

[2016-01-11 00:10] #6252 closed

[2016-01-11 00:11] nox commented on #6273
This file doesn't even exist anymore.

[2016-01-11 00:11] #6273 closed

[2016-01-11 00:11] nox commented on #6563
This seems fixed.

[2016-01-11 00:11] #6563 closed

[2016-01-11 00:13] nox commented on #6692
This happened only once.

[2016-01-11 00:13] #6692 closed

[2016-01-11 00:14] nox commented on #6892
Happened only once.

[2016-01-11 00:14] #6892 closed

[2016-01-11 00:15] nox commented on #6394
Closing this one too since I closed #6252.

[2016-01-11 00:15] #6394 closed

[2016-01-11 01:02] nox commented on #7019
This isn't disabled and #7027 landed a long time ago.

[2016-01-11 01:02] #7019 closed

[2016-01-11 01:03] nox commented on #6929
Didn't fail since a long time ago.

[2016-01-11 01:03] #6929 closed

[2016-01-11 01:04] nox commented on #6930
Didn't fail since a long time ago.

[2016-01-11 01:04] #6930 closed

[2016-01-11 01:04] nox commented on #7022
Didn't fail since a long time ago.

[2016-01-11 01:04] #7022 closed

[2016-01-11 01:06] nox commented on #7079
Didn't fail since a long time ago.

[2016-01-11 01:06] #7079 closed

[2016-01-11 01:20] jsanders commented on #7860
D'oh, my reading of the pywebsocket code was very poor – I see now that it's possible to override the close handler to make it echo code and reason from the client. But I'm still unsure whether doing so would make sense.

[2016-01-11 01:45] ckimes89 commented on #9227
I'd like to try this one.

[2016-01-11 01:50] PythonNut commented on #9189
I'll grab this, if you don't mind. :)

[2016-01-11 01:53] KiChjang commented on #9227
Okay!

[2016-01-11 01:53] KiChjang commented on #9189
Sure thing!

[2016-01-11 01:53] PythonNut commented on #9189
Why not add the directory with `sys.path.insert(0, ...)`  and import it that way?

[2016-01-11 02:54] Wafflespeanut commented on #9189
Well, I'm okay with any solution that works as expected :)

[2016-01-11 03:20] jdm commented on #6919
https://bugzilla.mozilla.org/show_bug.cgi?id=1025066 was the similar implementation for Gecko.

[2016-01-11 03:27] jdm commented on #7860
@jsanders Your reading of the spec looks correct to me. I'd be curious if it passes as written in Firefox and Chrome today, and tempted to modify the test server to echo the provided code and reason.

[2016-01-11 03:36] #9151 closed

[2016-01-11 03:48] ckimes89 commented on #9227
For a default method on the `Reflectable` trait, would the function name `root` get the meaning across, or should it be `global_root`?

[2016-01-11 06:32] jsanders commented on #7860
@jdm: Ok I'm glad I'm not crazy. Unfortunately, I get [some sort of ssl cert error](https://gist.github.com/jsanders/b0b3b6319e197fcddf52) when running the test in Firefox locally, but on w3c-test.org, it fails in the way I expect:

<img width="1357" alt="screenshot 2016-01-10 23 23 11" src="https://cloud.githubusercontent.com/assets/38320/12227901/2b3e077c-b7f1-11e5-99c7-fc847b4dcf45.png">

That'

[2016-01-11 09:11] nox commented on #9227
I would call it get_global or something like that.

[2016-01-11 10:30] #9222 closed

[2016-01-11 11:21] Ms2ger opened #9246 "Move ParseErrorReporter to style."
It's defined in `msg` but only used by `style`, `script`, and `layout`. It belongs in `style`.

Code: `components/msg/lib.rs`, `components/style/parser.rs`.

[2016-01-11 11:24] Ms2ger commented on #9227
I'm not entirely sure about this. Having the global in a field avoids a bunch of pointer-chasing through the JS engine. Will leave the decision to @jdm.

[2016-01-11 11:24] nox commented on #9227
@Ms2ger There are few GlobalField users, and I don't think any of them are on a hot path.

[2016-01-11 11:49] Ms2ger commented on #9185
First, in Servo right now, "the script block's fallback character encoding" will always be UTF-8, so feel free to read "UTF-8" where that is written.

Second, I think we'll need to change the type of `block_character_encoding`. Rather than having it be `DOMRefCell<EncodingRef>` and initializing to `DOMRefCell::new(UTF_8 as EncodingRef)`, I think we should make it a `DOMRefCell<None>` and initializ

[2016-01-11 12:06] Ms2ger commented on #7396
Dunno. In any case, there are so many more useful things to do right now, that I do not think it is a good use of anyone's time right now, even if we want it eventually.

[2016-01-11 12:45] Manishearth commented on #7757
https://github.com/servo/servo/pull/8983

[2016-01-11 12:45] #7757 closed

[2016-01-11 12:45] Manishearth commented on #8772
https://github.com/servo/servo/pull/8983

[2016-01-11 12:45] #8772 closed

[2016-01-11 12:48] askalski commented on #9185
I implemented suggested changes, now I am going to open a pull request (even though I haven't add the tests yet) to see what travis CI says.

[2016-01-11 12:55] nox opened #9247 "Intermittent timeout of /css21_dev/html4/border-top-color-008.htm"
[code]

[2016-01-11 13:09] Ms2ger commented on #9246
This also involves removing the dependency on the `cssparser` crate from `components/msg/Cargo.toml` and `components/msg/lib.rs`.

[2016-01-11 13:57] apopiak commented on #9246
I think I'd like to grab this one.
@Ms2ger would you be willing to mentor? (newbie here ;-) )

[2016-01-11 13:59] apopiak commented on #9225
I'd like to grab this one.
@jdm would you be willing to mentor? (newbie here ;-) )

[2016-01-11 14:00] Ms2ger opened #9250 "Move MouseButton to script_traits"
This is defined in `msg` but used by code that depends on `script_traits`.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`.

[2016-01-11 14:01] Ms2ger opened #9251 "Move MouseEventType to script_traits"
This is defined in `msg` but used by code that depends on `script_traits`.

Code: `components/msg/constellation_msg.rs`, `components/script_traits/lib.rs`.

[2016-01-11 14:01] KiChjang commented on #9246
@apopiak You can join the #servo channel at `irc.mozilla.org`. Simply ask any questions there, and either I, @Ms2ger or someone else will gladly help you!

[2016-01-11 14:02] apopiak commented on #9246
great see you there

[2016-01-11 14:13] KiChjang commented on #9225
Again, look for us in the IRC channel :)

[2016-01-11 14:13] Ms2ger commented on #8894
I believe this will allow us to drop the dependencies of util on azure and layers.

[2016-01-11 14:36] jdm commented on #9225
@apopiak Absolutely!

[2016-01-11 14:58] Ms2ger opened #9252 "Argument to createAttribute should be lowercased in HTML documents"
Blocks #2185.

* Spec: <https://dom.spec.whatwg.org/#dom-document-createattribute>, step 2.
* Code: `components/script/dom/document.rs`, `fn CreateAttribute`.
* Test: `dom/nodes/Document-createAttribute.html`.

Similar code exists in the `CreateElement` function.

[2016-01-11 15:46] apopiak opened #9253 "`./mach test` returns error"
The returned error:
[code]

[2016-01-11 15:53] jdm commented on #1716
@peterjoel We should definitely file a issue at https://github.com/whatwg/html/ before committing code that ignores the specification and updates tests to expect non-conforming behaviour.

[2016-01-11 15:57] jdm commented on #7860
FWIW, I'd probably want to submit the changes to the test server upstream to ensure that the right eyes see those changes.

[2016-01-11 15:58] jdm commented on #9227
Yeah, I'm inclined to remove these until we find ones that are performance-sensitive.

[2016-01-11 15:59] apopiak commented on #9225
claiming this one then :-)

[2016-01-11 16:01] jdm commented on #9253
This needs to update the invocation of `tidy` in the `test` command in `python/testing_commands.py` to account for the changes in #9118.

[2016-01-11 16:10] fmmartins commented on #8841
Can I pick this one?

`IFrameSandboxState` is lacking documentation, so when I move it to `script_traits/lib.rs` the compiler will complain as this lib has the attribute `#![deny(missing_docs)]` at the top. Should I leave as it is and add a `#[warn(missing_docs)]` on `IFrameSandboxState` enum?

[2016-01-11 16:28] jdm commented on #8841
You can add `/// Whether the sandbox attribute is present for an iframe element`.

[2016-01-11 16:33] fmmartins commented on #8841
Cool, thanks, wasn't sure what to put. Will run the tests and send PR

[2016-01-11 16:35] jdm opened #9256 "Write a tool that reports unnecessary crate dependencies"
There are two kinds of unnecessary dependencies that are easy to miss:
* libraries listed in a `Cargo.toml` file for which there is no corresponding `extern crate` statement in the source code
* uses of `extern crate foo` in source files for which there are no corresponding import statements (ie. `use foo[::]`)

Removing these will make our dependency graph more clear, and having a tool that repor

[2016-01-11 16:37] jdm commented on #8841
There shouldn't be any need to run tests - if it builds, that's good enough for a refactor like this that just involves moving code around.

[2016-01-11 16:59] metajack commented on #9238
I definitely used profiling on a timer for memory stuff back when I fixed the flow tree memory leak, so I think it is very useful there. I'm not sure the normal profiler needs that mode, although I could see it having instead one where it spits out a profile for every page load or something.

[2016-01-11 17:13] metajack commented on #7625
@edunham I don't understand why we can't make the automation work when the manual interaction does work. I really don't want to be using custom AMIs, since that makes everything more difficult, and harder for community members to reproduce easily.

[2016-01-11 17:17] Jayflux commented on #9256
I might be tempted to pick this up

[2016-01-11 17:21] jdm commented on #9256
Ok! Let us know if you start working on it and we'll mark it assigned, in that case.

[2016-01-11 18:47] Ms2ger opened #9259 "Improve test-tidy output for mis-ordered stuff"
This never seems to have terribly useful output.

[2016-01-11 18:49] Ms2ger opened #9260 "Make sure it's possible to use style without depending on js."
The crate that defines `DOMString` needs to depend on js, because it has to implement `FromJSConvertible` and `ToJSConvertible` for use in `script`. However, style has to depend on `DOMString` for `AttrValue`. It might be possible to have a cargo feature so that util can implement those traits when used within Servo, but not Gecko.

CC @Manishearth @jdm @bholley

[2016-01-11 19:02] jdm commented on #6462
https://github.com/rust-lang/rfcs/issues/1413 looks like it could be useful.

[2016-01-11 19:29] asajeffrey commented on #9260
Rather than use a feature, we could keep DOMString in util, but move the conversions to/from JSString into script.

[2016-01-11 19:40] alexcrichton commented on #5973
@SimonSapin unfortunately, no, the `crate-type` cannot change based on features

[2016-01-11 20:16] DarinM223 commented on #9250
Could I try to do this? Thanks!

[2016-01-11 20:23] KiChjang commented on #9250
Yes, certainly! If you need directions, the folks at #servo at `irc.mozilla.org` are always happy to help!

[2016-01-11 20:48] #8841 closed

[2016-01-11 21:36] waterlink opened #9262 "Unable to build in Ubuntu 12.04"
Great thanks for this great project!

While running command:

[code]

After some time receiving this error output:

[code]

Searching on the Internet does not yield too much results, and it looks like it is related to Android. So I thought, maybe it tries to build all targets or something like that, and tried to specify target explicitly:

[code]

Result stays the same. I am out of clues.

--
Kind

[2016-01-11 21:39] jdm commented on #9262
@waterlink So apparently https://github.com/ecoal95/angle/blob/servo/build.rs had trouble executing. Do you have `make` installed?

[2016-01-11 21:41] waterlink commented on #9262
Ah, yep, `make` is missing.

[2016-01-11 21:42] waterlink commented on #9262
I will try adding `build-essentials` to the VM. Should contain most of the dependencies that might be needed for building.

[2016-01-11 21:50] waterlink commented on #9262
Ok, now I am getting problems with outdated `g++`. Will try to upgrade to `g++-4.8` from PPA.

[2016-01-11 21:51] waterlink commented on #9262
@jdm Thank you for your help. I think this concrete issue is resolved.

Do you think it is worth mentioning in the `README.md` that for Debian-based Linuxes you need `build-essential` (in the `apt-get` command) ?

[2016-01-11 22:09] jdm commented on #9262
Sounds like it!

[2016-01-11 22:09] #9262 closed

[2016-01-11 22:21] waterlink commented on #9262
Additionally, looks like `python-dev` is required too: It was literally telling me that my Python environment is not sane ( :D ), until I have installed `python-dev` and wiped out `python/_virtualenv`.

[2016-01-11 22:22] waterlink commented on #9262
It was from `mozjs_sys` package

[2016-01-11 22:23] waterlink commented on #9262
No, I am mistaken, it is something very different. Will try to figure out.

[2016-01-11 22:40] mattnenterprise commented on #9251
I will take this one

[2016-01-11 22:48] waterlink commented on #9262
Oh, now I nailed it. In my minimalistic environment there is no `SHELL` environment variable. And `/.cargo/git/checkouts/mozjs-06d7f04b6dbb8a8e/master/mozjs/python/mach/mach/mixin/process.py` raises in this case.

[2016-01-11 22:58] jdm commented on #9251
Go for it!

[2016-01-11 22:59] jdm commented on #9262
That's a new one for me :D

[2016-01-11 23:34] waterlink commented on #9262
Injecting `SHELL=bash` from outside of course helped:

`Build completed in 2524.62s`

(my linux box doesn't have enough RAM apparently, on some packages it was swapping like crazy).

[2016-01-11 23:43] waterlink commented on #9262
Lets see if `build --release` will work, and how much longer it would be :)

[2016-01-12 01:33] jsanders commented on #7860
@jdm: Alright, I think I figured this out. The confusion is that [section 7.4.1](https://tools.ietf.org/html/rfc6455#section-7.4.1) states that code 1005 is reserved to communicate that there was no code and should never actually be sent across the wire. So the right answer is to send *no* `code` in this case, expect no `code` to be echoed back, and set the `code` of the event to 1005 to communica

[2016-01-12 01:50] mattnenterprise commented on #9252
I will take this one

[2016-01-12 01:57] bholley commented on #9246
I already had a patch for this one - please CC me on style-related refactoring issues and PRs if you can so that we avoid duplicated work. :-)

[2016-01-12 02:06] #9251 closed

[2016-01-12 02:44] frewsxcv commented on #5875
Another instance of this: https://github.com/servo/servo/pull/9266

[2016-01-12 02:44] Wafflespeanut commented on #9259
What if tidy (whenever it encounters something unordered) shows the rest of the output in orderly form? I did [a similar thing](https://github.com/Wafflespeanut/rust-sorty/blob/master/EXAMPLE.md) for my sorting lint.

[2016-01-12 03:02] bholley commented on #9260
I think @Ms2ger's feature idea should work. Trying it out.

[2016-01-12 03:11] jsanders commented on #7860
@jdm: I went ahead and [pushed that change](https://github.com/jsanders/servo/commit/70a6c98cf29c951736abd5400c89fb4aacd01913#diff-9c8104fd30f97ad492b8c867d5d7dc03), so you can take a look. It fixes my tests, and I believe it would make firefox pass more of these tests.

[2016-01-12 04:57] jdm commented on #7860
I think I'd need to see how that change interacts with the other changes, since I still feel like I'm missing part of the picture here.

[2016-01-12 06:01] #9260 closed

[2016-01-12 07:22] KiChjang commented on #9252
Sure thing!

[2016-01-12 07:31] KiChjang commented on #9246
Fixed by #9261.

[2016-01-12 07:31] #9246 closed

[2016-01-12 08:08] paulrouget opened #9268 "shadow of a transformed element prevents clicks"
Clicking on the green div under the shadow doesn't print `42`.

<img width="335" alt="screen shot 2016-01-12 at 09 05 30" src="https://cloud.githubusercontent.com/assets/373579/12258044/e0055e9c-b90b-11e5-96a8-39f5e360dd81.png">

[code]

[2016-01-12 08:57] Ms2ger commented on #9260
FTR, we can't, because of orphan rules.

[2016-01-12 09:06] Ms2ger commented on #4920
We still need it for plugins stuff.

[2016-01-12 09:06] #4920 closed

[2016-01-12 09:10] apopiak commented on #9246
@bholley sure, I just thought is was still open because it didn't have the flag and there was no assignee ;-)
can you update the other issues so I know what's still open?

[2016-01-12 09:14] apopiak commented on #9225
so @bholley
this one is still open? ;-)

[2016-01-12 09:51] KiChjang opened #9269 "Implement HTMLTableElement.insertRow()"
Note that the WebIDL definition for the `HTMLTableElement` has changed, so an edit of the WebIDL file is necessary.

Code: `components/script/dom/htmltableelement.rs`, `components/script/dom/webidls/HTMLTableElement.webidl`
Tests: `tests/wpt/web-platform-tests/html/semantics/tabular-data/the-table-element/insertRow-method-01.html`,  `tests/wpt/web-platform-tests/html/semantics/tabular-data/the-tab

[2016-01-12 10:04] wenderen commented on #9269
This is tagged as blocked-on-external; which PR/issue is it blocked on?

[2016-01-12 10:05] KiChjang commented on #9269
This requires `HTMLTableElement` to be implemented first. That said, are you interested in implementing that?

[2016-01-12 10:13] KiChjang opened #9270 "Implement HTMLTableElement.rows"
This will allow us to implement a few other IDL methods that depend upon `rows`. Also, since the spec has changed, please update the WebIDL file for `HTMLTableElement`.

Code: `components/script/dom/htmltableelement.rs`, `components/script/dom/webidls/HTMLTableElement.webidl`
Test: `tests/wpt/web-platform-tests/html/semantics/tabular-data/the-table-element/table-rows.html`
Spec: https://html.spec.

[2016-01-12 12:11] dbrgn commented on #9256
Doesn't `#[warn(unused-extern-crates)]` do at least part of this already?

And if not, wouldn't it be better to add these as lints to rust-clippy and use clippy in Servo?

[2016-01-12 12:37] Ms2ger commented on #8894
wip https://github.com/Ms2ger/servo/tree/heapsize-crate

[2016-01-12 12:44] frewsxcv commented on #9269
https://github.com/servo/servo/issues/8084

[2016-01-12 12:48] KiChjang commented on #9270
Duplicate of #8084.

[2016-01-12 12:48] #9270 closed

[2016-01-12 12:49] KiChjang commented on #8084
Blocks #9270.

[2016-01-12 13:02] #9228 closed

[2016-01-12 13:16] apopiak commented on #9253
I'd like to take this one.

[2016-01-12 13:23] Wafflespeanut commented on #9253
Yes, please! :)

[2016-01-12 14:15] asajeffrey commented on #9260
Good point.

[2016-01-12 14:20] jdm commented on #9256
Does that lint warn by default? If so, we could ignore the second bullet in my original comment.

[2016-01-12 14:28] paulrouget opened #9274 "Implement console.group() / console.groupEnd() / console.groupCollapsed()"
Calling `console.group()` and an indentation level to further logs.

For example:

[code]

will output:

[code]

See:
- https://developer.mozilla.org/en-US/docs/Web/API/Console/group
- https://developer.mozilla.org/en-US/docs/Web/API/Console/groupEnd
- https://developer.mozilla.org/en-US/docs/Web/API/Console/groupCollapsed

[2016-01-12 14:32] dbrgn commented on #9256
No. You can check with `rustc -W help`:

                      name  default  meaning
                      ----  -------  -------
      unused-extern-crates  allow    extern crates that are never used

It can be turned on easily crate-wide though, with:

    #![deny(unused_extern_crates)]

[2016-01-12 14:35] wenderen commented on #9269
Interested, yes, available, no :)

[2016-01-12 14:39] #9227 closed

[2016-01-12 14:48] paulrouget commented on #9274
I think this should not be too hard to implement.

Relevant code in: components/script/dom/console.rs (where the `println` call happen).
For the actor code: components/devtools/lib.rs
If I'm not mistaken, the devtools protocol expect just special level values called `group` and `groupEnd`.

[2016-01-12 15:04] jdm commented on #9268
cc @glennw @mrobinson

[2016-01-12 15:05] jdm commented on #9256
Unfortunately, we have a _lot_ of crates. :) I'm fine with duplicating the lint's work so that we get it by default everywhere.

[2016-01-12 16:43] PythonNut commented on #9189
@Wafflespeanut what would you like to do with the exit error codes?

[2016-01-12 17:20] #2665 closed

[2016-01-12 18:08] nox opened #9278 "Intermittent failure of /_mozilla/css/list_item_overflow.html"
[code]

[2016-01-12 18:10] nox commented on #7469
Happened only once a long time ago and the test isn't disabled.

[2016-01-12 18:10] #7469 closed

[2016-01-12 18:22] nerith commented on #9224
I'd like to take this.

[2016-01-12 18:23] nox commented on #9224
Sure!

[2016-01-12 18:41] #544 closed

[2016-01-12 18:47] frewsxcv commented on #5439
#544 is done. Marking this as E-Easy again

[2016-01-12 18:48] frewsxcv commented on #9053
#9056 has merged

[2016-01-12 18:48] frewsxcv commented on #8177
#544 has been solved

[2016-01-12 18:49] frewsxcv commented on #8397
#544 is now done

[2016-01-12 19:50] jdm commented on #8177
#8825 merged, so we can open more specific issues for remaining pieces of this.

[2016-01-12 19:50] #8177 closed

[2016-01-12 19:52] jdm commented on #9278
<img width="815" alt="screen shot 2016-01-12 at 2 52 01 pm" src="https://cloud.githubusercontent.com/assets/27658/12275077/19a74130-b93c-11e5-8c89-7f5128378d92.png">

The bullet is missing from the non-reference case.

[2016-01-12 19:55] jdm commented on #8397
This should cover turning the existing `DOMString blobParts` argument into the more correct `sequence<(Blob or DOMString)>` instead, and processing it according to the specification.

[2016-01-12 20:11] bholley commented on #9246
Yeah, you totally did the right thing. The problem was just that @Ms2ger filed an issue for something I had already written a PR for, and neither of us noticed what the other was doing. That's a pretty rare thing to happen, and in general open issues should be open!

[2016-01-12 20:11] bholley commented on #9225
As far as I know yes! Double-check with @jdm or @KiChjang or @nox on IRC to be sure.

[2016-01-12 20:39] nox commented on #9225
@apopiak Yes it is.

[2016-01-12 21:09] MonsieurLanza commented on #9216
This one is appealing me. May I give it a try ?

I understand (#9217)[https://github.com/servo/servo/pull/9217] is blocking it, but I expect it to be reviewed before I even get rid of

    servo/components/script/dom/virtualmethods.rs:20:5: 20:48 error: unresolved import `dom::htmldetailselement::HTMLDetailsElement`. Could not find `htmldetailselement` in `dom` [E0432]

while trying to build.
;)

[2016-01-12 22:03] jdm commented on #9216
I think it's possible to work on this without waiting for #9217. Either this work will need to be rebased after it merges, or #9217 will need to be updated to account for this. Either way, I would say go for it :)

[2016-01-12 22:04] jdm commented on #9216
As for that error, take a look at components/script/dom/mod.rs :)

[2016-01-12 22:05] nox commented on #9216
This module screams "have mercy and codegen the hell out of myself" to me.

[2016-01-12 22:09] nox opened #9280 "Make all interface objects share the same funToString in codegen"
We should add a `&'static [u8]` field to the `NonCallbackInterfaceObjectClass` struct and find that at run-time to convert the interface objects to strings.

Files:
 * components/script/dom/bindings/codegen/CodegenRust.py
 * components/script/dom/bindings/interface.rs

[2016-01-12 22:10] nox opened #9281 "Make all interface objects share the same hasInstance hook in codegen"
We should add two `PrototypeList::ID` and `u15` fields to the `NonCallbackInterfaceObjectClass` struct and find that at run-time to check whether a given value is an instance of an interface.

Files:
 * components/script/dom/bindings/codegen/CodegenRust.py
 * components/script/dom/bindings/interface.rs

[2016-01-12 22:20] nox commented on #9281
@GuillaumeGomez claimed it on IRC.

[2016-01-12 22:22] GuillaumeGomez commented on #9281
I didn't but I take it. Thanks @nox ;)

[2016-01-12 22:47] #9224 closed

[2016-01-12 22:55] jdm commented on #9280
Any pointers for where to look in CodegenRust? It's a pretty big file :)

[2016-01-12 23:05] nox commented on #9280
That hook governs how `Node`, `Element`, etc are represented as strings. In our case, it returns something similar to `"function Node() { [ native code ] }"`.

So currently, `CodegenRust.py` generates a different `funToString` hook for every interface we define in `CGClassFunToStringHook`. This needs to go away and instead a single function should be defined in `interface.rs`. We should then refer

[2016-01-12 23:05] nox commented on #9281
https://github.com/servo/servo/issues/9280#issuecomment-171090820

[2016-01-12 23:26] glennw commented on #9154
@pcwalton Did the fix for this land?

[2016-01-12 23:28] glennw opened #9283 "clip: rect(...) only works if the values are comma separated"
But according to https://developer.mozilla.org/en-US/docs/Web/CSS/clip there is a valid syntax without commas.

[2016-01-13 02:28] Wafflespeanut commented on #9088
Not exactly fixed by #9118, still has a bug, but that's covered by #9253

[2016-01-13 02:28] #9088 closed

[2016-01-13 06:35] jdm opened #9286 "Intermittent pass in /html/infrastructure/terminology/plugins/text-plain.html"
[code]

[2016-01-13 06:38] jdm commented on #9286
This should be fixed by #6677.

[2016-01-13 08:07] #9189 closed

[2016-01-13 08:38] mskrzypkows commented on #9221
I'd like to take this.

[2016-01-13 08:48] Ms2ger opened #9287 "Implement NonCallbackInterfaceObjectClass::as_class()"
The goal here is to encapsulate the `&*(class as *const _ as *const JSClass)` in `create_noncallback_interface_object` into its own method.

Code: `components/script/dom/bindings/interface.rs`

[2016-01-13 09:15] Wafflespeanut commented on #9221
Great!

[2016-01-13 09:41] sunxfancy opened #9288 "Why dev mode run 'hello world' so slow"
I build servo in dev mode, and run the `tests/html/hello.html`. It costs 30+s to render it.
In release mode, it costs 2s.
I'd like to know why and work with the Performance issues, please help me have a start.

[2016-01-13 10:06] MonsieurLanza commented on #9216
Thanks. :)

[2016-01-13 10:25] sunxfancy commented on #9288
[code]

[2016-01-13 11:13] Ms2ger opened #9290 "Implement WebIDL sequence arguments correctly"
We do something silly right now with arrays rather than with `Symbol.iterator`, as the spec says.

See https://github.com/servo/rust-mozjs/pull/226, https://github.com/servo/servo/issues/544, https://github.com/servo/servo/pull/9056.

[2016-01-13 11:17] #9252 closed

[2016-01-13 11:40] KiChjang opened #9291 "Update XMLHTTPRequest FetchBodyInit"
The type is actually defined by the Fetch spec [here](https://fetch.spec.whatwg.org/#bodyinit). We'll also potentially have to update the `extract` method implementation as well.

Code: `components/script/dom/xmlhttprequest.rs`, `components/script/dom/webidls/XMLHttpRequest.webidl`
Spec: https://fetch.spec.whatwg.org/#bodyinit, https://fetch.spec.whatwg.org/#concept-bodyinit-extract

[2016-01-13 12:18] nox commented on #9287
Good idea.

[2016-01-13 13:02] stspyder commented on #9291
Hi, I'd like to try this.

[2016-01-13 13:07] KiChjang commented on #9291
Yes, feel free to take it! Join us on #servo @ `irc.mozilla.org` if you need any clarafications :)

[2016-01-13 14:35] shssoichiro commented on #9223
I'd like to take this one. @jdm would you be willing to mentor if needed? (Familiar with Rust but new to Servo)

[2016-01-13 14:36] Wafflespeanut commented on #9223
@shssoichiro Cool! Feel free to ask! (or ping us at the IRC)

[2016-01-13 14:49] jdm commented on #9288
Huh, 18s for style recalculation, according to that profile.

[2016-01-13 15:07] jdm commented on #9223
Yep! Anybody should be able to answer questions about this :)

[2016-01-13 15:18] Ms2ger commented on #9256
Also note https://github.com/rust-lang/rust/issues/30849

[2016-01-13 15:23] metajack commented on #9288
Both those times are way too slow, release and debug.

But man, that style recalc time is insane!

cc @pcwalton

[2016-01-13 15:29] shssoichiro commented on #9223
In script_traits, `#![deny(missing_docs)]` is enabled--however I'm unsure how to document the enum that was moved over:

    #[derive(Clone, Eq, PartialEq, Deserialize, Serialize, Debug)]
    pub enum AnimationState {
        AnimationsPresent,
        AnimationCallbacksPresent,
        NoAnimationsPresent,
        NoAnimationCallbacksPresent,
    }

[2016-01-13 15:33] Ms2ger commented on #9223
Feel free to add `#[allow(missing_docs)]` unless someone comes up with docs.

[2016-01-13 15:55] jdm commented on #9223
`/// For a given pipeline, whether any animations are current running and if any animation callbacks are queued`

[2016-01-13 15:59] jdm commented on #9223
[code]

[2016-01-13 16:39] shssoichiro commented on #9223
Is it expected to have failing tests? I have a number of tests that are failing against the code in master (without this refactoring applied):

    Ran 3833 tests finished in 568.0 seconds.
      • 3812 ran as expected. 700 tests skipped.
      • 1 tests crashed unexpectedly
      • 19 tests failed unexpectedly
      • 1 tests timed out unexpectedly
      • 1 tests had unexpected subtest results

[2016-01-13 16:53] jdm commented on #9223
Unfortunately we have a large number of intermittent failures right now (see the I-intermittent label in the issue tracker). For changes that are literally just moving code between crates, there's no need to run tests - if it compiles, that's as much test as is required to demonstrate correctness.

[2016-01-13 16:58] shssoichiro commented on #9223
Great, then I'll go ahead and submit a PR.

[2016-01-13 17:33] apopiak commented on #9287
I'd like to try this one.

[2016-01-13 17:36] apopiak commented on #9287
The idea is to have a `as_class(ClassType T) --> JSClass` method on `NonCallbackInterfaceObjectClass` ?

[2016-01-13 19:38] #9225 closed

[2016-01-13 20:36] #9253 closed

[2016-01-13 21:48] LifeIsStrange commented on #9232
Hello I have a good news =) , Microsoft has opensourced their JavaScript chakra engine !!
Here there is their webassembly prototype :
https://github.com/Microsoft/ChakraCore/pull/63

[2016-01-13 21:49] frewsxcv commented on #9290
cc @ecoal95

[2016-01-13 22:33] #9221 closed

[2016-01-14 01:10] KiChjang opened #9302 "Intermittent timeout of /_mozilla/css/acid2-wrapper.html"

[2016-01-14 01:11] KiChjang commented on #9302
Might be false alarm.

[2016-01-14 01:11] #9302 closed

[2016-01-14 02:50] #9223 closed

[2016-01-14 02:50] Wafflespeanut opened #9303 "Intermittent failure in /css-transforms-1_dev/html/transform-stacking-003.htm"
▶ FAIL [expected PASS] /css-transforms-1_dev/html/transform-stacking-003.htm
      └   → /css-transforms-1_dev/html/transform-stacking-003.htm bc6db1b08c3f157731ed547202681f2337254b8b
    /css-transforms-1_dev/html/reference/transform-lime-square-ref.htm 5da83da5d05208132294353cab921c7cb6923f27
    Testing bc6db1b08c3f157731ed547202681f2337254b8b == 5da83da5d05208132294353cab921c7cb6923f27

[2016-01-14 02:52] ckimes89 commented on #9053
Looks like this still won't work with the WebIDL definition since the second parameter is `optional (DOMString or sequence<DOMString>) protocols` and the codegen doesn't currently support sequences in union types.

https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L3575

[2016-01-14 02:53] frewsxcv commented on #9053
Blocked on https://github.com/servo/servo/issues/9290 maybe?

[2016-01-14 03:22] shssoichiro commented on #9288
@sunxfancy What platform are you on (OS, CPU, RAM)? My results are much different on OS X 10.11.

    $ ./mach run --dev tests/html/hello.html -p 1
    _category_                          _incremental?_ _iframe?_             _url_                  _mean (ms)_   _median (ms)_      _min (ms)_      _max (ms)_       _events_
    Compositing                             N/A          N/A

[2016-01-14 03:31] sunxfancy commented on #9288
Ubuntu 14.04
core: 3.13.0-74-generic
Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz
x86_64 architecture
8G RAM
@shssoichiro

[2016-01-14 03:34] sunxfancy commented on #9288
Maybe we can run the performance tests on travis-ci, it has the same architecture as my computer.

[2016-01-14 03:40] ecoal95 commented on #9053
@frewsxcv not really, that's not what that issue talks about.

#9290 is about the way we generate rust vectors from js values in `rust-mozjs`.

I should be studying but... I'm giving it a try.

[2016-01-14 03:42] frewsxcv commented on #9053
@ecoal95 studying should come first :)  At the very least, if you could, you could hastily open an issue describing the issue since #9290 is something different

[2016-01-14 03:46] ecoal95 commented on #9053
@frewsxcv Too late! #9304

[2016-01-14 03:46] ecoal95 commented on #9053
(actually I had it half written when I pressed the *comment* button :P)

[2016-01-14 03:56] jdm opened #9305 "Intermittent failure in /_mozilla/css/iframe/multiple_external.html"

[2016-01-14 03:58] jdm commented on #9303
Could someone look at the the reftest result in http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml and screenshot it if it's interesting? My internet isn't strong enough to open http://build.servo.org/builders/linux-rel/builds/1455/steps/shell_3/logs/test-css.log/text right now.

[2016-01-14 03:58] jdm commented on #9305
My internet can't realistically open http://build.servo.org/builders/mac-rel-wpt/builds/1349/steps/shell_2/logs/test-wpt.log/text right now, so if someone could download the log, open it in http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml and screenshot the result if it's interesting, that would be useful.

[2016-01-14 04:07] ecoal95 commented on #9305
White image, the reference renders correctly:

![multiple-external](https://cloud.githubusercontent.com/assets/1323194/12315566/a4fc36f0-ba7c-11e5-8237-4a2f5823692d.png)

[2016-01-14 04:36] shssoichiro commented on #9283
It seems there is a test for this at /css-masking-1_dev/xhtml1print/clip-rect-comma-001.xht, although it fails. The parsing code is around https://github.com/servo/servo/blob/master/components/style/properties.mako.rs#L3162. I don't have any more time to spend on it tonight, especially with my unfamiliarity with servo internals, but this should help point someone in the right direction.

[2016-01-14 05:30] paulrouget opened #9306 "unexpected overflow"
The following example makes the body element scrollable. The extra area is apparently directly related to the horizontal padding.

![v0qqmez3jc](https://cloud.githubusercontent.com/assets/373579/12316545/1fca01e0-ba88-11e5-86d8-41314af13fcb.gif)

[code]

[2016-01-14 06:03] paulrouget opened #9307 "html style attribute not updated"
[code]

This prints `width:10px` instead of `width: 10px; background-color: red;`.

[2016-01-14 06:16] paulrouget commented on #9307
Supporting this would help a lot debugging browser.html.

[2016-01-14 07:34] paulrouget opened #9308 "unexpected overflow with display:inline-block + margin"
![rggdhwjnub](https://cloud.githubusercontent.com/assets/373579/12318298/943e6f14-ba99-11e5-85c6-b427a37067b9.gif)

The following example makes the body element scrollable. The extra area is apparently directly related to the margin value.

Note: using `block` instead of `inline-block` reduces the scrollable area, but it's still possible to scroll.

[code]

[2016-01-14 08:34] paulrouget opened #9309 "unexpected scrollable area with right:-Xpx + overflow:hidden"
![hzccltqmrh](https://cloud.githubusercontent.com/assets/373579/12319329/f48c6dbe-baa1-11e5-801c-56cbb7ceb99c.gif)

Even though the container has `overflow: hidden`, it's still scrollable. Note: overflow content is not visible, only body is visible.

[code]

[2016-01-14 08:48] Ms2ger opened #9310 "acid2-wrapper.html times out"
I think we're just too slow right now.

[2016-01-14 10:26] Ms2ger opened #9311 "Intermittent timeout in test-css"
http://build.servo.org/builders/linux-rel/builds/1463/steps/shell_3/logs/stdio
[code]

[2016-01-14 11:08] Ms2ger commented on #9307
https://drafts.csswg.org/cssom/#the-elementcssinlinestyle-interface

[2016-01-14 12:43] frewsxcv commented on #5618
https://github.com/servo/servo/pull/9293

[2016-01-14 12:43] #5618 closed

[2016-01-14 12:45] #2572 closed

[2016-01-14 13:09] gsnedders opened #9312 "Intermittent timeout in mime_sniffing_font_context.html"
Despite #9206…

[code]

[2016-01-14 13:11] gsnedders commented on #9312
@jdm given you'd touched this recently, you might be interested

[2016-01-14 13:59] gsnedders commented on #9312
This looks like it may actually be caused by #8374.

[2016-01-14 15:01] frewsxcv opened #9315 "HTMLCollection property names shouldn't be enumerable"
[code]

Expected output:

[code]

Actual output:

[code]

I think this is blocked on #4043

[2016-01-14 15:03] nox commented on #9315
#9067

[2016-01-14 15:03] frewsxcv commented on #9315
[Current failing test](https://github.com/servo/servo/blob/d28fb42201dd743c470fcc1f43bf2e13f1c8cddc/tests/wpt/web-platform-tests/html/dom/documents/dom-tree-accessors/document.forms.html#L51-L57)

[2016-01-14 15:20] KiChjang opened #9316 "Rename SCRIPT_TASK_ROOT to SCRIPT_THREAD_ROOT"
Code: `components/script/script_thread.rs`

[2016-01-14 15:51] #9287 closed

[2016-01-14 16:56] shssoichiro commented on #9316
I'll take this.

[2016-01-14 19:45] jdm opened #9319 "Intermittent timeout in /css21_dev/html4/abs-pos-non-replaced-vrl-116.htm"
[code]

[2016-01-14 22:34] gordonbrander opened #9320 "thread '<main>' panicked at 'no entry found for key'"
We sporadically experience crashes like this when running Browser.html. This particular crash was triggered when loading github.com in Browser.html with a Servo Webrender build (`./servo -w -b --pref dom.mozbrowser.enabled http://localhost:6060`).

cc @paulrouget

[code]

[2016-01-14 22:45] gordonbrander opened #9322 "Pretty console.log output for JavaScript objects"
Since Servo doesn't yet have devtools, we rely a lot on "printf-style debugging" for Browser.html (e.g. `console.log`).

Currently, `console.log` on an object results in `[object Object]`, which is a bit opaque :). If we could serialize JavaScript objects before printing, it would make debugging web apps in Servo much easier.

cc @paulrouget @metajack

[2016-01-14 22:46] metajack commented on #9320
cc @jdm @Manishearth @pcwalton

This seems scary because it looks like a double free of a dom node.

[2016-01-14 22:47] metajack commented on #9322
@jdm Could this be a good first bug for someone? What's the best path forward for this?

[2016-01-14 22:48] jdm commented on #9322
We should figure out what Firefox's algorithm is for prettifying JS objects and copy that.

[2016-01-14 22:49] gordonbrander opened #9323 "(WebRender) ScriptThread PipelineId panicked at 'no root stacking context!"
This crash happened while loading the page http://github.com/mozilla/browserhtml in Browser.html with WebRender. (As an aside, please let me know if this is the right place to report bugs in WebRender builds).

[code]

cc @metajack

[2016-01-14 22:54] gordonbrander opened #9324 "(WebRender) Resizing Browser.html window creates artefacts"
**Edit:** see https://github.com/servo/servo/issues/9324#issuecomment-176019795

Resizing the window will crash Servo when running a WebRender build in Browser.html mode (`-w -b --pref dom.mozbrowser.enabled http://localhost:6060`).

cc @metajack

[2016-01-14 22:54] glennw commented on #9323
I'm fine with reporting them in https://github.com/glennw/webrender or here (perhaps we need a webrender tag though?).

[2016-01-14 23:48] frewsxcv opened #9325 "Implement console#time and console#timeEnd methods"
https://developer.mozilla.org/en-US/docs/Web/API/Console#Timers

An effort to implement this was started in https://github.com/servo/servo/pull/6646, but wasn't completed

[2016-01-15 00:06] gordonbrander opened #9326 "(WebRender) scrolling iframe results in all other tiles being moved"
Here's a video: https://gfycat.com/FaintGrotesqueDegus. This was recorded in Browser.html on a WebRender build.

Some things to know about this webapp:

- The iframe is scrollable. The body is not.
- The window title bar at the top that scrolls offscreen is not attached to the iframe in any way. It's an absolutely positioned element pinned to the top of the `body`.
- The `+` button in the corner i

[2016-01-15 00:13] glennw commented on #9326
The new iframe scrolling code doesn't have support for picking which is the right layer to scroll yet - I'll be adding this in the next couple of days which will sort this problem.

[2016-01-15 00:16] gordonbrander opened #9327 "background-size: cover is incorrectly rendered"
![screen-shot-2016-01-14-at-14 08 35-](https://cloud.githubusercontent.com/assets/58421/12341888/cf7bcd34-bad9-11e5-8d06-b141aad5a1c5.png)

Notice the favicon in the blue tab box.

The top-level window is Browser.html rendered in Servo. The bottom-level window is Browser.html rendered in Gecko. The favicon is an element that applies a `background-image` and uses `background-size: cover` to scale t

[2016-01-15 02:07] glennw commented on #9326
@gordonbrander I've added a quick fix for position: fixed layers (which may well be enough for this bug?). I'll be working on a proper fix for when there are multiple valid scroll roots present next.

[2016-01-15 02:24] vwvww commented on #9280
Can I work on this issue?

[2016-01-15 02:28] frewsxcv commented on #8535
This is no longer happening for me, presumably because the large amount of changes to the manifest were committed in #9119

[2016-01-15 02:28] #8535 closed

[2016-01-15 02:29] frewsxcv commented on #8512
This seems to be mostly done after #9201?

[2016-01-15 02:31] KiChjang commented on #9280
Of course!

[2016-01-15 02:31] frewsxcv commented on #8509
Still working on this @wenderen?

[2016-01-15 02:33] frewsxcv commented on #8448
Going to close in favor of #9232 since there is more up-to-date info there

[2016-01-15 02:33] #8448 closed

[2016-01-15 02:34] KiChjang commented on #8512
Yeah, I'd say it's fixed by #9201. We can open up inidividual PRs for the ones that it didn't catch.

[2016-01-15 02:34] #8512 closed

[2016-01-15 02:34] frewsxcv commented on #9232
Gecko metabug: https://bugzilla.mozilla.org/show_bug.cgi?id=1188259

[2016-01-15 02:41] frewsxcv commented on #1468
Considering we don't use Critic anymore, this conversation is quite a bit dated.

[2016-01-15 02:41] #1468 closed

[2016-01-15 02:46] KiChjang commented on #443
@jdm does this still occur?

[2016-01-15 02:48] frewsxcv commented on #2136
This hasn't been reported in a while and we don't use `make` anymore

[2016-01-15 02:48] #2136 closed

[2016-01-15 02:52] frewsxcv commented on #2929
reftests are no longer a thing. not sure if this issue is still valid for wpt tests

[2016-01-15 02:55] frewsxcv commented on #3008
This hasn't been reported in a year and half, closing for now. Reopen if you encounter it again

[2016-01-15 02:55] #3008 closed

[2016-01-15 03:39] #9316 closed

[2016-01-15 08:43] glennw commented on #9326
@gordonbrander I believe this is fixed now - could you close if it's all working fine next time you build against WR?

[2016-01-15 09:00] Ms2ger opened #9329 "html5lib tests fail to run"
With `iframe.contentDocument is null`, and sometimes panics related to pipelines.

[2016-01-15 09:40] Ms2ger opened #9331 "Enable webgl conformance tests"
They're not particularly stable right now, and I want to land #9313 before investigating.

[2016-01-15 14:18] Ms2ger opened #9332 "DOMContentLoaded event should be trusted"
Blocks #2968.

* Spec: <https://html.spec.whatwg.org/multipage/#the-end>.
* Code: `components/script/dom/document.rs`.
* Test: `html/syntax/parsing/the-end.html`.

[2016-01-15 14:38] KiChjang commented on #9332
This means instead of calling `DispatchEvent` directly, we should use `fire_event` by upcasting the document into an `EventTarget`.

[2016-01-15 16:05] Ms2ger commented on #4427
See https://github.com/servo/servo/pull/6652 for an unfinished attempt to fix this.

[2016-01-15 16:08] #2929 closed

[2016-01-15 18:19] KiChjang commented on #4427
I'm assigning this to myself so that we don't forget about it.

[2016-01-15 19:03] KiChjang opened #9336 "Intermittent crash of /css-flexbox-1_dev/html/flexbox_flex-1-0-auto-shrink.htm"
[code]

[2016-01-15 21:39] jdm commented on #9336
#8961

[2016-01-15 21:43] jdm commented on #9320
@metajack No, this is just a critical cascade triggered by the main thread panicking and every other thread panicking while attempting to communicate with the compositor. Note the first line of the log:
[code]

[2016-01-15 21:44] jdm commented on #9320
@gordonbrander It will be easier to diagnose crashes like this by running with RUST_BACKTRACE=1.

[2016-01-15 21:46] jdm commented on #443
Yes.

[2016-01-15 22:00] gordonbrander commented on #9320
@jdm can you point me to a doc for how to run with `RUST_BACKTRACE=1`? Apologies if I'm missing something obvious.

[2016-01-15 22:28] glennw commented on #9320
I've seen this occasionally too - I'm pretty sure it's a WR bug somewhere, but I haven't tracked down the cause yet.

@gordonbrander If you run from a terminal, you should be able to just do:

RUST_BACKTRACE=1 <normal servo run command>

or:

export RUST_BACKTRACE=1
<normal servo run command>

[2016-01-15 22:39] fmmartins commented on #5439
Hey, I'd like to work on this one if no else is?

I added the `GetAll` function, and deleted the lines that expected to `FAIL` in the files:

tests/wpt/metadata/url/interfaces.html.ini
tests/wpt/metadata/url/urlsearchparams-getall.html.ini (actually I deleted this file)

And now tests are passing, but I'm not sure if this is the correct way of doing this?

[2016-01-15 22:40] nox commented on #5439
@fmmartins It is! Feel free to make a PR!

[2016-01-15 22:41] fmmartins commented on #5439
@nox Thanks, will do!

[2016-01-15 23:12] Chandler commented on #6060
@jdm What's the best way to get started finding more websockets tests to fix. Should I just look for anything with "expected: FAIL" under tests/wpt/web-platform-tests/websockets ?

All the existing websockets tickets are already being worked on https://github.com/servo/servo/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+websockets

[2016-01-15 23:23] KiChjang commented on #6060
@Chandler Yes, we don't necessarily have issues for every failing test, so it's perfectly ok for you to submit a PR and fix them!