[2018-03-26 12:39] jdm opened #20436 "Investigate Content-Type failures from tests/wpt/xhr/setrequestheader-content-type.htm"
We certainly try to implement step 4 of https://xhr.spec.whatwg.org/#the-send()-method in XMLHttpRequest::send, but there are a bunch of test failures shown in https://github.com/servo/servo/blob/master/tests/wpt/metadata/xhr/setrequestheader-content-type.htm.ini that demonstrate that our implementation is not correct. We should investigate precisely what is causing the tests not to pass.

[2018-03-26 12:41] jdm commented on #20436
@nupurbaghel This might be a good next issue if you're looking for one.

[2018-03-26 12:41] jdm commented on #20436
A good place to start is by deleting the ini file so the full error messages are shown (including expected vs. actual values).

[2018-03-26 12:42] jdm commented on #20436
Note: any errors about ReadableStreams can be ignored, since we don't implement that yet.

[2018-03-26 13:53] highfive commented on #20435
cc @wafflespeanut

[2018-03-26 13:55] nifey commented on #11995
I tried but couldn't make much progress. I think it would be better if someone else works on this.
Please unassign me from this issue. I'm sorry for the trouble.

[2018-03-26 14:05] jdm opened #20437 "Enable upstream bluetooth tests"
There are now tests being shared between browsers available at tests/wpt/web-platform-tests/bluetooth. We should enable these tests and figure out what's missing in our testing setup in order to run them correctly. At minimum we'll need an ini file like [this one](https://github.com/servo/servo/blob/master/tests/wpt/mozilla/meta/bluetooth/__dir__.ini), and we should compare the results we get agai

[2018-03-26 14:20] jgraham commented on #20416
Yeah, that looks right. Apologies for missing this. We should add servo to the upstream smoketests now that we can download it.

[2018-03-26 14:47] #20416 closed

[2018-03-26 15:00] jdm opened #20438 "Remove DomRefCell and Option from Websocket::sender"
There are a bunch of uses of `borrow_mut()` and `as_mut()` in the various Send methods in `components/script/dom/websocket.rs`, but I don't see any reason they should be necessary there. It should be possible to use immutable borrows instead. No need to run any tests; if the code compiles with the changes, that's good enough for a PR.

[2018-03-26 15:00] highfive commented on #20438
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-03-26 15:10] jdm commented on #20438
In fact, we can go further than just removing the mutable borrows - we should be able to pass the IpcSender into `WebSocket::new_inherited` as an argument, so we never need to mutate the `sender` field at all. We should be able to remove the `DomRefCell` and `Option` parts of the type completely.

[2018-03-26 16:33] christianpoveda commented on #11995
@highfive assign me

[2018-03-26 16:33] highfive commented on #11995
Hey @christianpoveda! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-03-26 16:44] jdm commented on #20355
Additionally, talk to other members of the XR team to gather representative content that they care about.

[2018-03-26 16:51] nupurbaghel commented on #20436
Thank you so much for suggesting 😄 !
I would really like to work on this issue next :)

[2018-03-26 16:57] #20438 closed

[2018-03-26 17:00] jdm commented on #13464
I'm marking this assigned under the assumption that @ysimonson wants to keep working on it.

[2018-03-26 17:18] jdm opened #20441 "Android release build always rebuilds ports/servo"
Even when I don't modify anything, when I run:
[code]
It determines that ports/servo needs to be rebuilt. I suspect it's to do with the packaging operation somehow.

<details>

[code]

</details>

[2018-03-26 19:18] jdm opened #20442 "Make it easy to run ndk-stack with the right symbols"
The ndk-stack tool from the NDK is useful for deciphering the crash stacks that appear in logcat output, but you need to pass it the right path to the libraries that contain your symbols. Adding a mach command that did this automatically would be handy.

[2018-03-26 20:38] #19795 closed

[2018-03-26 22:48] #5600 closed

[2018-03-26 22:48] #13234 closed

[2018-03-27 00:35] fschutt opened #20443 "Disable the DebugRenderer in release mode"
https://github.com/servo/servo/blob/1981efcc3585d244f6293716fbcf833afa58e629/components/servo/lib.rs#L182-L192

After https://github.com/servo/webrender/pull/2574 gets merged, remember to disable the debug renderer by setting `debug_renderer_enabled` to `false`. Saves startup time.

[2018-03-27 02:17] ysimonson commented on #13464
Thanks for the gentle walkthrough @jdm! I got it compiling last night, though wpt was still failing. I didn't know what the proper fix was until @kwonoj opened their PR. In any case, I'll open a PR with the changes, but I'm not sure if I deserve credit for it :)

[2018-03-27 02:19] kwonoj commented on #13464
I do believe you can definitely make PR and sincere apologies that I did create PR without properly checking you were working on it @ysimonson - I'll be careful for futher task. :pray:

[2018-03-27 02:20] jdm opened #20445 "Floated menu doesn't appear"
The menu on the left side of the page at https://hanoverlibrary.ca/fees/ doesn't appear in Servo.

[2018-03-27 05:34] ysimonson commented on #13464
No worries @kwonoj! It's my fault for not self-assigning, and I wouldn't have got it passing without seeing the fix you added.

[2018-03-27 07:17] marmistrz opened #20452 "collect_heap_args accepts &self but does not use it"
It probably could be made a static method.

https://github.com/servo/servo/blob/master/components/script/timers.rs#L523

[2018-03-27 08:18] Xanewok commented on #20452
It's rather symbolic, as explained in my PR comment: https://github.com/servo/servo/pull/20399#discussion_r176736776.
I think we could just annotate the [`invoke`](https://github.com/servo/servo/blob/master/components/script/timers.rs#L485) with `#[allow(unsafe_code)]` instead.

[2018-03-27 09:21] talklittle commented on #19157
I worked on this and submitted a PR #20453 since I didn't see a `C-Assigned` label on the issue. But now I realized the issue is assigned. Sorry for not asking first.

[2018-03-27 13:11] jdm commented on #20452
Yeah, that would be acceptable.

[2018-03-27 14:28] cbrewster commented on #19157
No worries, I've been a bit busy and should've unassigned myself.

[2018-03-27 14:53] jdm opened #20455 "Introduce stronger types in text input code"
We have many instances of `usize` values in textinput.rs that either represent a number of UTF-8 codepoints or UTF-16 codepoints, or a number of bytes, and we end up comparing them in various invalid ways. We should introduce two new types described in [this comment](https://github.com/servo/servo/pull/20208#issuecomment-371979102), but retain the existing behaviour. If (when) we encounter a place

[2018-03-27 16:30] lygstate commented on #12130
What's going on with Android support?

[2018-03-27 17:29] jdm commented on #12130
The Android port is receiving more attention because of Servo's new prioritization of mixed reality content.

[2018-03-27 17:35] #15725 closed

[2018-03-27 22:16] mkmodrzew commented on #20172
Aw, snap, totally forget. Really sorry. Is there any problem to come back to this task now?

[2018-03-27 23:12] jdm commented on #20172
Nope!

[2018-03-27 23:24] upsuper commented on #19731
I got intermittent fail for this test...

[2018-03-27 23:25] jdm commented on #19731
That just means that the expectation was flipped automatically because it's intermittent.

[2018-03-28 02:44] #7084 closed

[2018-03-28 03:42] tigercosmos commented on #20435
I thought it is clearer that rename the title to "./mach does not work if ***environment variable*** $PATH contains Unicode characters". 👍

[2018-03-28 03:45] #13464 closed

[2018-03-28 05:15] mikolajpp opened #20458 "Servo on memory constrained devices"
I would like to try putting servo on devices with roughly 256, or 512MB of RAM.

How feasible is that, has someone done some experiments on this, and is there possibility for some maneuvers, such as cutting some features out in order to make it less memory consuming.

[2018-03-28 07:19] ysimonson commented on #18468
I think this is fixed. I created a test page with the source code `<script>delete localStorage[5]</script>`, and navigated to it via `./mach run http://localhost:8000/test.html`. No panic.

[2018-03-28 07:31] ysimonson commented on #14258
This would be so useful for my rust projects as well! I wonder if it might make sense to implement this as a custom cargo command, rather than via mach? Would y'all be opposed to that?

[2018-03-28 07:57] mikolajpp commented on #5892
I can do some testing. I will test it with smem on latest later this day.

[2018-03-28 08:20] RalfJung commented on #12015
To me this sounds like a build machine issue: For some reason, the machine doing the build uses a pretty old version of libssl. The [OpenSSL website](https://www.openssl.org/source/) says

So, probably what should happen is that the build machine gets updated to a non-legacy version of OpenSSL?

[2018-03-28 08:35] ZanderBrown commented on #12015
Seems reasonable, anyone have the ability to do that?

[2018-03-28 09:09] paulrouget commented on #15635
I'm working on delegating resources reading to the embedder.

The resources files are read from:
- image cache: rippy.png
- hsts: hsts_preload.json and certs, in `new_resource_threads` when the constellation is created
- bluetooth: gatt_blocklist.txt, static
- dom/servoparser: badcert.html and neterror.html, to display a network error
- userscripts
- prefs.json: static
- net_traits/pub_domains.rs:

[2018-03-28 09:14] anisse commented on #12015
@RalfJung @ZanderBrown : this would be a first step indeed, see @jdm 's comment:

Note that it does not mean the dogmatic position of not bundling openssl on Linux (but doing it on Mac, Windows) would change; you'd need to reach a consensus on that, too.

[2018-03-28 13:41] jdm commented on #20458
I'm not sure if anybody has experimented with this, but perhaps @favricedesre knows?

[2018-03-28 13:43] jdm commented on #12015
I suspect that we would need to update the version of openSSL we use within the build as well, and that may require updating our Network stack which is an open problem right now.

[2018-03-28 13:45] jdm commented on #14258
A custom cargo command sounds useful, but it might be tricky to allow it to work with Service due to our peculiarities. I don't think we would spend any time porting our solution to Rust and making it generic, as a result.

[2018-03-28 13:47] jdm commented on #18468
@ysimonson what about `delete localStorage[Symbol()]`?

[2018-03-28 14:32] jdm commented on #3963
Pretty sure we take these actions now.

[2018-03-28 14:32] #3963 closed

[2018-03-28 14:51] jdm commented on #15635
@paulrouget I see two possible solutions here:
1. make the part of the Fetch algorithm that is responsible for processing response headers synchronous, so that [`FetchResponseListener::process_response`](https://searchfox.org/mozilla-central/rev/028cd8342899357d80fafba2d528a0fd5819e316/servo/components/net_traits/lib.rs#219-221) could return an enum that means "I am ready to accept the body" or "p

[2018-03-28 15:18] jdm commented on #8539
Consider the following:
* we define structures like this:
[code]
* we deserialize prefs.json into the overall Preferences structure at startup to set the initial values
* Rust code that wants to check a preference gets full compiler support with `PREFS.dom.testbinding.enabled == true` (even the generated bindings code can do this by storing a function pointer that takes the preferences as an argum

[2018-03-28 15:19] fabricedesre commented on #20458
Yes I'm playing around with that... So far:
- In general, memory usage is very high compared to other web runtimes.
- For some reason, using the system allocator reduces memory usage quite a bit (I've seen a 20% difference on 32bits armv7).
- I started working on a PR to make it possible to cleanly disable features, which will help somewhat.

Overall my feeling is that memory optimization has just

[2018-03-28 15:21] jdm commented on #8539
The majority of this redesign would happen in `components/config/prefs.rs`, making use of the [`serde_json`](https://doc.servo.org/serde_json/index.html) crate. The webdriver piece would happen in `components/webdriver_server`. The codegen bit would be in `components/script/dom/bindings/codegen/CodegenRust.py` and `components/script/dom/bindings/guard.rs`.

[2018-03-28 15:25] jdm commented on #8539
If we choose to deserialize prefs.json directly into the native struct type, we would need to restructure prefs.json to look more like this:
[code]
On the other hand, we could do the same thing we plan to do for webdriver - keep prefs.json unmodified, parse it as json, then iterate over the keys in the resulting object so we get values like "dom.bluetooth.enabled". We then serialize the native pre

[2018-03-28 15:26] jdm commented on #8539
@kwonoj Would you be interested in working on this?

[2018-03-28 15:29] jdm commented on #20458
@fabricedesre There's a "session-history.max-length" preferences which default to 20; adjusting that might help your bfcache issue.

[2018-03-28 15:37] RalfJung commented on #12015
Servo compiles in my system against OpenSSL 1.1 just fine.

[2018-03-28 15:50] jdm commented on #12015
I've filed https://github.com/servo/saltfs/issues/824 to look into whether we can upgrade the version of OpenSSL that's present on our nightly build machines.

[2018-03-28 16:02] mikolajpp commented on #20458
@fabricedesre This is some crazy project of mine, trying to reuse old eink reader and build an app platform on top of servo.

In the afterthought, I think I will just grab some newer model. So say we are talking about around 1GB RAM. 100 MB or so would be taken by userspace tools and window manager, so shooting for 900MB/800MB would be good.

[2018-03-28 16:17] fabricedesre commented on #20458
Nice project @mikolajpp ! 1G will be more than enough, yes. I hope we can target 512M with a reasonable effort. On my side I don't even need a window manager as I'm using a Gonk port of Servo running directly fullscreen (https://github.com/fabricedesre/servonk).

[2018-03-28 16:39] jdm opened #20461 "Parse webIDL from compiler plugin to verify inheritance of DOM objects matches IDL"
Given [this crate](https://crates.io/crates/webidl), we could theoretically add a [compiler plugin](https://github.com/servo/servo/tree/master/components/script_plugins) that iterates over the types in script::dom::types, parses the WebIDL file that matches that type name, and verifies that the first field of the DOM type matches the name of the parent type of the interface, per [the documentation

[2018-03-28 16:49] jdm opened #20462 "Figure out why wbez.org and yahoo.com are so much slower to load than other alexa pages"
https://servo.org/dashboards/ shows that wbez.org is consistently in the realm of 30-40s to load in a release build, and yahoo is also hovering around 30s. It would be worth using the graphical profiler to figure out where the time is being spent.

[2018-03-28 16:49] highfive commented on #20462
cc @fitzgen

[2018-03-28 17:26] jdm opened #20463 "Paint worklet tests are busted"
Due to https://github.com/w3c/web-platform-tests/commit/0bfaa837553a7b66b84b207e702b6b403ad6d990, the reftests now rely on `/common/worklet-test.js` which introduced a use of `async` in https://github.com/w3c/web-platform-tests/commit/7988e1756539bcdf39ec2102b99e0671c44d503c. This means that our SpiderMonkey now chokes on these tests, so we have no test coverage of the CSS Paint API any longer.

c

[2018-03-28 17:30] jdm opened #20464 "Adjust event retargeting algorithm"
https://github.com/whatwg/dom/pull/585

[2018-03-28 17:35] asajeffrey commented on #20463
Grr. I get this for both worklets and SMup.

[2018-03-28 18:53] jdm opened #20466 "Add a mach command to remove old versions of compiled crates from target directory"
These can have a significant impact on disk usage. The tricky part here is determining which build artifacts are the correct ones to preserve.

[2018-03-28 18:53] highfive commented on #20466
cc @wafflespeanut

[2018-03-28 18:55] nupurbaghel commented on #20436
I tried deleting the ini file, and running mach build. But it was build successfully without any errors. Do we need to alter anything else as well?

[2018-03-28 19:09] jdm commented on #20436
`./mach build` is unrelated to these tests. You'll want to run `./mach test-wpt --no-pause-after-test tests/wpt/xhr/setrequestheader-content-type.htm` to see the errors that occur when running the test.

[2018-03-28 19:15] kwonoj commented on #8539
@jdm, thanks for the suggestion - yes, I think I can try tackle this once I have shaped PR around #20428. let me tentatively assign myself for this, and will ask some questions If I don't get correct ideas. 🙏

@highfive assign me

[2018-03-28 20:06] mikolajpp commented on #20458
Thanks!

Actually, I don't think i need a window manager either.
I was thinking it might be useful to have some GUI config tools, but I can as well write a small backend in rust hooking into OS and just provide frontend for it.

[2018-03-29 02:10] ysimonson commented on #18468
Panic!

[code]

(For posterity: while the error message shows up immediately, the backtrace does not show up until you close the window.)

[2018-03-29 02:18] ysimonson commented on #14258
If it's not too much trouble, could you expound on what those peculiarities are? I'm assuming it'd be useful to know them regardless of how this might be implemented.

[2018-03-29 03:03] jdm commented on #14258
We have DMG and MSI nightlies for macOS and Windows, so there are special ways to unpack those so the binaries can actually be executed.

[2018-03-29 03:06] jdm commented on #18468
Looks like that comes from [this code](https://github.com/servo/servo/blob/914952487bcbba0a31db8aefc4a9487903721959/components/script/dom/bindings/codegen/CodegenRust.py#L4860). The [equivalent](https://searchfox.org/mozilla-central/source/dom/bindings/Codegen.py#11576-11583) Gecko code calls a function that [checks](https://searchfox.org/mozilla-central/source/dom/bindings/BindingUtils.h#2096) in

[2018-03-29 03:09] jdm commented on #18468
We should probably make our implementation of jsid_to_string match Gecko's ConvertIdToString implementation.

[2018-03-29 06:43] jdm opened #20470 "Intermittent PASS in /fetch/api/request/request-consume.html"
[code]

[2018-03-29 06:44] jdm opened #20471 "Intermittent PASS in /fetch/api/request/request-consume-empty.html"
[code]

[2018-03-29 07:13] #20343 closed

[2018-03-29 11:51] Succo commented on #20461
Hi, would that be a good first task? If so I would be interested.

[2018-03-29 11:58] jdm commented on #20461
I do not believe this would be a good first task.

[2018-03-29 16:34] fabricedesre opened #20475 "Make it possible to feature-gate some web apis"
Currently the webidl bindings are generated from `component/dom/build.rs` which in turn invokes `cmake` on `components/script/CMakeLists.txt` : this creates the list of all webidl interfaces as dependencies and then run a python script to finally generate the Rust bindings!

This setup makes it difficult to cleanly disable apis that we may not want in some situations, like custom embeddings or whe

[2018-03-29 21:13] jdm opened #20476 "android x86 build crashes mysteriously"
With #20472 applied, when I run the build in the emulator I get the following crash (based on taking the contents of the [tombstone](https://source.android.com/devices/tech/debug/native-crash#tombstones) and piping it through `ndk-stack` per #20442):
<details>

[code]

</details>

[2018-03-29 21:37] jdm commented on #20476
Interestingly enough, this seems to occur right after WebRender's freetype initialization code returns an error: https://github.com/servo/webrender/blob/02c2afc3eb9353432b6dccf926ea4ca1b8000887/webrender/src/platform/unix/font.rs#L161-L166

[2018-03-29 22:03] jdm commented on #20476
Aha, I think we're hitting https://github.com/servo/webrender/issues/2511!

[2018-03-29 22:20] jdm commented on #20476
Yes, with the changes from https://github.com/servo/rust-freetype/pull/51 applied this crash goes away and I get a new one instead:

[code]

[2018-03-29 22:25] jdm commented on #20476
This crash is peculiar, because WR is asserting that the depth mask is enabled. This call to Device::clear_target comes _immediately_ after calling Device::enable_depth_write which is supposed to enable it. @glennw does this ring any bells?

[2018-03-30 04:05] jdm commented on #20476
When I comment out that assertion, Servo runs but no text is drawn, only non-text layout elements. If I explicitly call `self.enable_depth_write` immediately before the assertion, the assertion passes but nothing is drawn at all.

[2018-03-30 04:18] cbrewster opened #20478 "Go back/forward keybinding should not traverse history on key release"
When using the go forward/back keybindings to traverse the session history, the constellation is flooded with traversal messages as long as the key binding is held down. We should just send a single message for a key press or at least have an interval of a second or so between subsequent messages.

I am using macOS, not sure if this is the case on other platforms.

[2018-03-30 08:35] paulrouget commented on #20478
I think it's not repeating too fast. But we get 2 events for key down and key up. So the event is sent twice.

[2018-03-30 10:53] paulrouget commented on #20478
Note to whoever might work on this: if we send reload/goForward/… messages on `KeyState::Pressed`, we need to figure out if we need to send key window events to Servo on KeyState::Released key events.

[2018-03-30 14:39] jdm commented on #20476
This seems to be something strange about the emulator - I see the no-text behaviour in both the x86 and armv7 emulator builds, but not when I push the same armv7 build to my Pixel device. @glennw I think we're going to need someone with more graphics experience to investigate why the text is missing (which might be related to the confusion about depth masks).

[2018-03-30 19:31] iurifq commented on #19959
Should this issue be closed since servo/servo-warc-tests#8 has been closed?

[2018-03-30 19:47] KiChjang commented on #20461
@jdm How much additional time would be spent on compilation if we perform this check?

[2018-03-30 20:11] jdm commented on #19959
See the previous comment.

[2018-03-30 20:12] jdm commented on #20461
No idea!

[2018-03-31 09:27] gterzian opened #20485 "Assigning a string to location has no effect"
[code]
It seems that currently, using `location.assign` works, however assigning a string to the `location` global variable doesn't.

Example in tests: `tests/wpt/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/unload/006-1.html`, where I was able to make the test pass by changing it to using `location.assign`.

I would assume both would be forwarded to `Location.Assign`, how

[2018-03-31 13:07] brainlessdeveloper opened #20487 "Should `./mach build-geckolib` be added to the checkboxes in the PR template?"
Usually the PR template is useful to me because it reminds me of what I need to run locally in order to save time on CI. Most of the PRs I've made also made the `./mach build-geckolib` command fail and I found this a bit annoying because it takes a long time to complete a CI run.

A checkbox on the PR template should remind people to run the command locally so they don't have to wait for an almost

[2018-03-31 13:16] emilio opened #20489 "`cargo build` rebuilds the world after `./mach build`, and vice versa."
And it's annoying because I tend to use them interchangeably, accidentally.

STR:

[code]

[2018-03-31 13:31] jdm commented on #20489
This is because `./mach build` sets RUSTFLAGS during the build, so cargo build sees that it doesn't match and rebuilds everything.

[2018-03-31 13:32] jdm commented on #20489
Specifically: https://searchfox.org/mozilla-central/rev/42b34ba1961e37e0d2236deafdd126a0ba21b9ec/servo/python/servo/command_base.py#578

[2018-03-31 13:34] emilio commented on #20489
Can we not do that except on automation?

[2018-03-31 13:35] jdm commented on #20489
Yes.

[2018-03-31 13:35] emilio commented on #20489
Ok, I'll send a patch for that. Travis should be enough I guess.

[2018-03-31 13:36] jdm commented on #20485
The [`PutForwards`](https://heycam.github.io/webidl/#PutForwards) annotation on the `location` member in `Window.webidl` (and [`Document.webidl`](https://searchfox.org/mozilla-central/source/servo/components/script/dom/webidls/Document.webidl#86) is commented out. #9990 was filed for using it after we implemented it, but it never got done.

[2018-03-31 13:42] jdm opened #20490 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/ogles/GL/atan/atan_001_to_008.html"
[code]

[2018-03-31 17:09] nupurbaghel commented on #20436
On comparing the test results with the actual values, I noticed that the majority of tests were failing because of addition of an extra space

[2018-03-31 17:32] nupurbaghel commented on #20436
Also, I was trying to understand the flow of data during a request from xhr/xmlhttprequest.rs .Until now I have figured out that the final _text_response_ generated, comes after decoding from **self.response** which itself is assigned value during process_partial_response. I wanted to confirm I am going in the right direction :)

[2018-03-31 17:55] jdm commented on #20436
The actual network data is transferred to XMLHttpRequest via the callbacks in the `impl FetchResponseListener for XHRContext`, which calls methods like `XMLHttpRequest::process_headers_available` and `XMLHttpRequest::process_data_avaialable`, which ends up in `XMLHttpRequest::process_partial_response` like you said.

[2018-03-31 17:58] jdm opened #20492 "Intermittent crash in /_mozilla/mozilla/webgl/tex_image_2d_mipmap.html"
Fundamentally this looks like a problem caused by WebGLShader's Drop implementation failing an assertion unexpectedly.
[code]

[2018-03-31 18:02] jdm commented on #20492
Nevermind, this is a legitimate problem in #20391.

[2018-03-31 18:02] #20492 closed

[2018-04-01 10:35] mkmodrzew commented on #20172
Okay, I spent some time trying to replace `webrender` with local copy (previously I did it with `[patch]`, which I assume isn't correct way). This is what I added to `.cargo/config`:
[code]
And after `./mach check` I get:
[code]

Where I made a mistake?

[2018-04-01 13:24] jdm commented on #20172
Using patch is the expected way to override webrender for local development.

[2018-04-01 15:39] SimonSapin opened #20497 "Tracking issue for syn 0.13 + quote 0.5 in Servo and dependencies"
Do avoid increasing the number versions of syn in Servo’s dependency graph, we should coordinate landing this in various repository at around the same time. So far:

* [x] https://github.com/servo/html5ever/pull/341
* [x] https://github.com/servo/rust-cssparser/pull/217
* [x] https://github.com/servo/string-cache/pull/203
* [x] FIXME: add other affected crates

Ideally, before anything is merged w

[2018-04-01 16:53] #19961 closed

[2018-04-01 22:54] emilio opened #20498 "Servo should support percentages in column-gap."
Gecko is gaining support for those, but Servo probably should too.

Code for this lives in `components/layout/multicol.rs`.

[2018-04-01 22:57] emilio commented on #20498
Gecko bug for this is https://bugzilla.mozilla.org/show_bug.cgi?id=1398537

[2018-04-02 00:21] emilio commented on #20498
@mbrubeck would this be something you could mentor?

[2018-04-02 03:24] irrationalRock opened #20503 "Error when building servo on virtual machine"
Hi, I don't know if this is the right place to file this issue but I'm having problems with Servo.

When I run './mach build --dev' on my fedora virtual machine gives this error:

[code]

[2018-04-02 06:52] #19251 closed

[2018-04-02 07:14] modal17 commented on #20331
May I look into this?

[2018-04-02 07:52] SimonSapin commented on #20503
My random guess is that the VM is running out of either RAM or disk space. How much of each does it have? Can you try running `RUST_BACKTRACE=1 ./mach build --dev` while monitoring resource usage?

[2018-04-02 18:44] kwonoj opened #20505 "Layout regression on windows 10?"
I just rebased dev build to top of master, and seeing below screenshots when run `mach run --dev` :
(Windows 10, local dev build from master https://github.com/servo/servo/commit/a208d4246cf0e02a1a22196f26692bd29fb35011)

![image](https://user-images.githubusercontent.com/1210596/38209929-b503452c-366a-11e8-8859-27f769fe0961.png)

It does seems only layout if off, while eventhandler still maps to

[2018-04-02 19:07] jdm commented on #20505
I don't see this on macOS.

[2018-04-02 19:26] kwonoj commented on #20505
So far this seems on win only (my mac / linux works correctly)

[2018-04-02 20:22] mbrubeck commented on #20498
Sure!

Step 1 is to change the [type of this property][1] to `NonNegativeLengthOrPercentageOrNormal` always, not just in "gecko" mode.

Step 2 is to change the [layout code][2] to convert percentages to absolute lengths.  `LengthOrPercentage` can be converted to `Length` using [`to_pixel_length`][3].  For the containing length, use `content_inline_size`. (Jargon note: "inline size" and "width" are

[2018-04-02 20:22] highfive commented on #20498
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-04-02 21:28] glennw commented on #20476
Yes, that seems odd for that assertion to fail.

Could you check here:

https://github.com/servo/servo/blob/a208d4246cf0e02a1a22196f26692bd29fb35011/ports/servo/glutin_app/window.rs#L232

and see what ```gl::GlType::default()``` is returning? I wonder if on x86 emulator it is (incorrectly) defaulting to GL rather than GL ES?

[2018-04-02 22:15] jdm commented on #20476
@glennw My patch in #20472 makes it choose OpenGL ES.

[2018-04-02 22:39] kwonoj commented on #20505
I take it back for regressions around commits - it does seem like dpi-related. This is my first attempt to run other win dev machine which have 150% dpi settings (main machine was on 100%). Changing dpi scaling I got different rendering results, while only 100% shows correct layout.

Not sure if it's dupe (I couldn't search exact dupes on my end) - if so, feel freely close it. 🙏

100%:
![100](http

[2018-04-02 22:41] kwonoj commented on #20505
it may seems upstream related: https://github.com/tomaka/winit/issues/105

[2018-04-02 22:54] glennw commented on #20476
Does the x86 emulator you're using definitely support ES3? I wonder if it might be creating an ES2 context?

[2018-04-03 01:37] jdm commented on #20476
It supports up to ES 3.1.

[2018-04-03 03:39] atouchet opened #20511 "Q2 2018 roadmap update"
With it being April now we're already into Q2. It would be nice to keep up with roadmap updates this time around as the roadmap was a bit neglected last year.

@jdm are the overall 2018 plans still accurate with the new mixed reality focus?

[2018-04-03 03:43] git-jim commented on #20498
I would like to poke around at this issue to get familiar with the codebase a bit.  I don't want that to stop someone else from working on it, too, though.  My schedule is crazy unpredictable and I am not sure how much time I'll be able to put towards it.  I just tend to learn faster if I have an objective more focused than "learn all the stuffs."

[2018-04-03 03:51] atouchet commented on #20505
I am having issues reproducing this. This is what I am seeing at 150% scaling:

![150% scaling](https://i.imgur.com/WvtBDKQ.png)

[2018-04-03 03:56] kwonoj commented on #20505
Interesting, curious what could be other factor to make differences.

[2018-04-03 07:54] nox opened #20512 "Intermittent result in /_mozilla/webgl/conformance-1.0.3/conformance/context/context-release-with-workers.html"
[code]

[2018-04-03 07:58] nox opened #20513 "Support unions as distinguishing WebIDL parameter"
Our WebIDL codegen doesn't currently cope with a function overload using an union for the distinguishing parameter. E.g. this is not supported:

[code]

[2018-04-03 08:03] nox opened #20514 "Implement WebGLRenderingContext.getRenderbufferParameter"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.7

[2018-04-03 08:06] nox commented on #15266
This also requires supporting `[WebGLHandlesContextLoss]` correctly.

[2018-04-03 08:08] nox opened #20515 "Properly support WebIDL extended attribute [AllowShared]"
https://heycam.github.io/webidl/#AllowShared

[2018-04-03 08:12] nox opened #20516 "[Throws] does not apply per-overload"
If one of the overloads of a WebIDL method is marked with `[Throws]`, all others must also be marked as `[Throws]` or codegen chokes.

[2018-04-03 08:28] paulrouget commented on #20505
@kwonoj can you check if it regressed because of https://github.com/servo/servo/pull/20228 ?

[2018-04-03 08:30] paulrouget commented on #20505
Or maybe https://github.com/servo/servo/pull/19895

[2018-04-03 08:42] nox commented on #20513
https://heycam.github.io/webidl/#idl-overloading-vs-union

[2018-04-03 10:08] paulrouget commented on #20489
Is there a way to make it so that cargo use the same options as mach instead of trying to make it so mach use cargo options?

I get bitten by this pretty often too.

[2018-04-03 16:34] Eijebong commented on #20497
- [ ] https://github.com/upsuper/cstr/pull/1
- [ ] https://github.com/rust-lang-nursery/rust-bindgen/pull/1303
- [ ] https://github.com/mystor/synstructure/pull/13

[2018-04-03 20:39] kwonoj commented on #20505
@paulrouget yes, https://github.com/servo/servo/pull/20228 seems related. I built master at 28c92db26837531e75327cff7727ed8bc1c70b48, right before #20228 and it renders correctly.

[2018-04-03 22:12] #20487 closed

[2018-04-03 23:08] #18015 closed

[2018-04-03 23:10] aeweston98 commented on #5743
@kmcallister  I read through the linked paper and I would be interested to work on this issue. Please let me know if it is still relevant to servo since it has been almost 3 years since it was updated.

[2018-04-04 00:12] kwonoj commented on #20505
I have few theory and trying to verify now, just taking some time due to sadly slow build speed on windows.

[2018-04-04 00:44] rgeraldporter opened #20520 "error on ./mach build --dev"
See here for output: https://gist.github.com/rgeraldporter/7a96a5583c40f7eea567c680bf0231cb

I've tried all kinds of things, updated rustc, looked up and installed potential missing dependencies. Did everything in the readme of course. Any ideas?

[2018-04-04 06:11] mikolajpp opened #20524 "Features missing from servo - webapp not working"
Hello there,

I have this little webapp: http://plato.urbitetorbi.org:8080/plato.html, and it does not work in servo, at all.
There are no errors thrown in the console.

How can I check what is exactly the cause, and maybe contribute to implent missing features?

[2018-04-04 06:12] paulrouget commented on #20520
Which OS?

What's your llvm version? (`clang --version`)

[2018-04-04 06:24] paulrouget commented on #20331
@modal17 absolutely. Let me know if you have any questions.

[2018-04-04 07:44] mikolajpp commented on #20524
The app is using Elm style elements which mean it is taking advantage of full grid flexbox etc.

Good idea, I will do so.

Do we have a central place for missing features or should it be best submitted to issues?

[2018-04-04 07:56] paulrouget commented on #20524
Issues work. As for flexbox support: https://github.com/servo/servo/issues/12453#issuecomment-334313589

[2018-04-04 11:25] nox opened #20526 "Implement WebGL2RenderingContext.bufferData and subBufferData"
Those two methods should be pretty straightforward to implement, the issue is that the tests probably rely on a bunch of separate methods we don't support either, such as `getBufferSubData`.

https://www.khronos.org/registry/webgl/specs/latest/2.0/#3.7.3

[2018-04-04 11:28] upsuper opened #20527 "Have cssparser::AtRuleParser pass SourceLocation via param of parse_block / rule_without_block"
Nowadays, almost every variant of `AtRuleBlockPrelude` / `AtRuleNonBlockPrelude` contains a field for `SourceLocation`. (CounterStyle will get it in [bug 1449068](https://bugzilla.mozilla.org/show_bug.cgi?id=1449068)). I think it makes sense to just move all those fields into a parameter of `parse_block` and `rule_without_block`.

This would need a breaking version bump of `cssparser`.

cc @SimonS

[2018-04-04 11:29] nox opened #20528 "Implement WebGL2RenderingContext.readBuffer"
https://www.khronos.org/registry/webgl/specs/latest/2.0/#3.7.4
https://www.khronos.org/registry/OpenGL-Refpages/es3.0/html/glReadBuffer.xhtml

This one should be pretty straightforward, but to support `GL_COLOR_ATTACHMENTi `, we need to get the `GL_MAX_COLOR_ATTACHMENTS` limit and probably cache it somewhere in the rendering context.

[2018-04-04 11:32] nox opened #20529 "Implement WebGL2RenderingContext.invalidateFramebuffer and invalidateSubFramebuffer"
Like with #20528, this needs to handle the `GL_MAX_COLOR_ATTACHMENTS` limit properly.

https://www.khronos.org/registry/webgl/specs/latest/2.0/#3.7.4
https://www.khronos.org/registry/OpenGL-Refpages/es3.0/html/glInvalidateFramebuffer.xhtml
https://www.khronos.org/registry/OpenGL-Refpages/es3.0/html/glInvalidateSubFramebuffer.xhtml

[2018-04-04 12:55] nox opened #20530 "Cache drawingBufferWidth/drawingBufferHeight in WebGLRenderingContext"
Those two values should be retrieved through a single `WebGLCommand` message, and we should cache (and invalidate them properly when things change of course) on the DOM side in `WebGLRenderingContext` directly.

[2018-04-04 13:00] rgeraldporter commented on #20520
MacOS 10.13.3

[code]

[2018-04-04 13:04] paulrouget commented on #20520
I don't know much about this, but I'm surprised to see this version of clang.

Can you make it so it uses Xcode's tools?

[code]

What does `xcodebuild -find clang` say?

[2018-04-04 13:35] nox opened #20531 "Properly check for limit in WebGLRenderingContext.activeTexture"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glActiveTexture.xml

We never check `GL_MAX_COMBINED_TEXTURE_IMAGE_UNITS`, we should probably do that when getting other limits necessary for other checks, and then cache everything.

[2018-04-04 13:38] nox opened #20532 "Cache result of WebGLRenderingContext.getContextAttributes"
There is no need to go through IPC when all those attributes are entirely set from the DOM side and never change on their own on the GL side.

[2018-04-04 14:31] rgeraldporter commented on #20520
Here's what I get:

[code]

thanks!

[2018-04-04 14:43] paulrouget commented on #20520
Maybe use that install of llvm instead of /Users/rob/emsdk-portable/.

[2018-04-04 15:43] nox opened #20534 "Cache which server-side GL capabilities are enabled"
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glEnable.xml
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glIsEnabled.xml
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3

[2018-04-04 15:53] nox opened #20535 "Implement gl.getParameter(gl.ALIASED_LINE_WIDTH_RANGE)"
https://github.com/servo/servo/pull/20414 is pretty similar.

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-04 15:55] nox opened #20536 "Implement gl.getParameter(gl.BLEND_COLOR)"
https://github.com/servo/servo/pull/20414 is pretty similar.

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-04 15:57] nox opened #20537 "Implement gl.getParameter(gl.COLOR_CLEAR_VALUE)"
https://github.com/servo/servo/pull/20414 is pretty similar.

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-04 16:05] nox opened #20538 "Implement gl.getParameter(gl.COLOR_WRITEMASK)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-04 17:47] brainlessdeveloper commented on #20372
This is not the case anymore:
[code]
https://github.com/servo/servo/blob/master/components/canvas/webgl_thread.rs#L1084-L1090
I think?

[2018-04-04 17:54] irrationalRock commented on #20503
I have around 40GB of storage and 3GB of RAM? Is that enough to run servo? I'll try your suggestion of running `RUST_BACKTRACE=1 ./mach build --dev` soon.

[2018-04-04 18:29] brainlessdeveloper commented on #10209
I'd like to do `getRenderbufferParameter`

[2018-04-04 18:29] brainlessdeveloper commented on #20514
I'll begin working on this one if that's OK

[2018-04-04 18:50] nox commented on #20514
@brainlessdeveloper Sure! Ping me here or on IRC if you need help.

[2018-04-04 19:47] nox commented on #20514
Indeed it is not, so it needs to be implemented. Do you need help with that, or do you feel like you can do it on your own? Either way is fine.

[2018-04-04 21:04] mbrubeck opened #20540 "Image created with texImageDom (DOM to texture) is mirrored vertically"
In a simple demo page that uses the experimental  `gl.texImageDOM` API (#18592) to render an iframe to a WebGL texture, the resulting image seems to be mirrored on the Y axis.  I'm not sure if this is a Servo bug, a WebRender bug, or a bug in my demo page...

![screenshot from 2018-04-04 14-00-09](https://user-images.githubusercontent.com/5920/38334653-c509f018-3810-11e8-8783-5f444f81d602.png)

[2018-04-04 21:07] gootorov commented on #20372
It was refactored, but the check was left intact:
https://github.com/servo/servo/blob/e06f0d32d0c3973d460a3035d2adfea298c8e5fe/components/script/dom/webglrenderingcontext.rs#L1408-L1414

If it's not needed, the whole thing can be simplified to `Int32Value(receiver.recv().unwrap())`.

[2018-04-04 22:10] SimonSapin commented on #20503
3 GB is probably not enough RAM, unfortunately. Can you assign more to the VM (our smallest CI builders have 8 GB), or use a swap file or partition?

[2018-04-04 22:37] talklittle commented on #13238
I'm currently looking into this.

[2018-04-04 22:56] mbrubeck commented on #20540
The example code is here: https://github.com/mbrubeck/servo/tree/teximagedom/tests/html/dom_to_texture

Run it with `./mach run --pref dom.webgl.dom_to_texture.enabled tests/html/dom_to_texture/index.html` and then press the "F" key three times to activate the `texImageDOM` code.

[2018-04-04 23:02] glennw commented on #20540
If you invert the V texture coords here:

https://github.com/mbrubeck/servo/blob/9d1d87e0da60742d66f26beaa6c6acc5806ba6a1/tests/html/dom_to_texture/index.html#L301

It will draw correctly. Not sure if we should be accounting for that internally, or if it's reasonable to expect the client to do that.

[2018-04-05 00:48] cbrewster commented on #10787
@gterzian here's some thoughts I have, hope they can help:

Prompting to unload happens in these 2 spots(possibly others too):
 1. Navigating to a new document
 2. Traversing by a delta

Navigating to a new document
---
https://html.spec.whatwg.org/multipage/browsing-the-web.html#navigate Step 7
I think this can be accomplished in the script thread before sending the `Load` message to the constell

[2018-04-05 07:37] nox commented on #20540
This seems pretty weird to me that the thing is inverted, is there any precedent for letting the client to do that anywhere else in the WebGL stack?

[2018-04-05 07:38] nox opened #20544 "Implement gl.getParameter(gl.COMPRESSED_TEXTURE_FORMATS)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 07:40] nox opened #20545 "Implement gl.getParameter(gl.DEPTH_RANGE)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 07:41] nox opened #20546 "Implement gl.getParameter(gl.GENERATE_MIPMAP_HINT)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 07:45] nox opened #20547 "Support IMPLEMENTATION_COLOR_READ_FORMAT and IMPLEMENTATION_COLOR_READ_TYPE"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

I'm not sure what our implementation-defined format should be.

[2018-04-05 07:48] nox opened #20548 "Support MAX_FRAGMENT_UNIFORM_VECTORS and MAX_VERTEX_UNIFORM_VECTORS"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

See also #20330.

[2018-04-05 07:50] nox opened #20549 "Implement gl.getParameter(gl.MAX_VARYING_VECTORS)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 07:52] nox opened #20550 "Remove indirections for some WebGL parameters"
There are at least 4 `gl.getParameter` calls that don't need to go through IPC:

* `gl.getParameter(gl.VERSION)`
* `gl.getParameter(gl.RENDERER)`
* `gl.getParameter(gl.VENDOR)`
* `gl.getParameter(gl.SHADING_LANGUAGE_VERSION)`

[2018-04-05 07:53] nox opened #20551 "Support SCISSOR_TEST and SCISSOR_BOX"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 07:59] nox opened #20552 "Implement gl.getParameter(gl.UNPACK_COLORSPACE_CONVERSION_WEBGL)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 08:00] nox opened #20553 "Implement gl.getParameter(gl.UNPACK_FLIP_Y_WEBGL)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 08:01] nox opened #20554 "Implement gl.getParameter(gl.UNPACK_PREMULTIPLY_ALPHA_WEBGL)"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGet.xml

[2018-04-05 08:10] nox opened #20555 "Properly implement WebGLRenderingContext.stencilFuncSeparate checks"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.3
https://www.khronos.org/registry/webgl/specs/latest/1.0/#STENCIL_SEPARATE_LIMIT

We don't emit `InvalidOperation` ever from this method.

[2018-04-05 08:17] nox opened #20556 "Properly implement WebGLRenderingContext.bindBuffer checks"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.5

* A buffer cannot be bound to both `ARRAY_BUFFER` and `ELEMENT_ARRAY_BUFFER`;
* a buffer cannot be bound when its deletion is pending.

[2018-04-05 08:36] nox opened #20557 "Don't allocate an empty buffer for nothing in WebGLRenderingContext.bufferData"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.5

https://github.com/servo/servo/blob/4645e5bda38d057deb23ca8bc95c2f1d696a180d/components/script/dom/webglrenderingcontext.rs#L1707-L1709

[2018-04-05 08:42] nox opened #20558 "Properly defend against overflows in WebGLRenderingContext.bufferSubData"
https://github.com/servo/servo/blob/91d07a27db8ffb2b81bd6b3080312c8719094de0/components/script/dom/webglrenderingcontext.rs#L1732:L1734

[2018-04-05 09:36] emilio commented on #20540
There's the `FLIP_Y_AXIS` flag for texture uploads, which is slightly related.

[2018-04-05 10:12] hcpl commented on #20497
Just briefly traversed the `servo` dependency tree. Steps needed to update following crates:
- [ ] `deny_public_fields`: `synstructure` (https://github.com/mystor/synstructure/pull/13) + PR
- [ ] `domobject_derive`: PR
- [ ] `euclid`: only needs `serde` 1.0.37+ in `servo`\`s `Cargo.lock`
- [ ] `jstraceable_derive`: `synstructure` (https://github.com/mystor/synstructure/pull/13) + PR
- [ ] `malloc_

[2018-04-05 10:33] Eijebong commented on #20497
Yep, we just need all the PRs above to be released. Servo doesn't need any code change, just bumping the versions seemed to be enough :)

[2018-04-05 13:29] nox opened #20560 "Remove indirections for WebGL program parameters"
Many parameters handled in `gl.getProgramParameter` don't need to go through IPC. At least `DELETE_STATUS` and `ATTACHED_SHADERS`.

[2018-04-05 13:33] nox opened #20561 "Audit the behaviour of WebGLRenderingContext.getProgramInfoLog"
I'm not entirely sure it is supposed to emit an `InvalidOperation` WebGL error if the program is to be deleted.

https://github.com/servo/servo/blob/044f19d91433c706857a9ddd958425225c3a683e/components/script/dom/webglprogram.rs#L347-L349

[2018-04-05 13:36] nox opened #20562 "Remove indirections for WebGL shader parameters"
Many parameters handled in `gl.getShaderParameter` don't need to go through IPC. At least `DELETE_STATUS` and `SHADER_TYPE`.

[2018-04-05 14:35] Ramshell commented on #20498
@mbrubeck

Is it necessary to add tests for this issue? If that is the case: In which dir should it be?

[2018-04-05 15:06] rgeraldporter commented on #20520
What's the recommended way of switching to another LLVM for this? Never had to do that before.
Thanks in advance! :)

[2018-04-05 16:03] nox opened #20563 "Properly implement the checks for gl.renderbufferStorage"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.7
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glRenderbufferStorage.xml

We don't implement the `GL_MAX_RENDERBUFFER_SIZE` check.

[2018-04-05 16:42] emilio commented on #20498
There should be tests already for this in WPT.

In particular: css/css-align/gaps/column-gap-parsing-001.html for the parsing bits, and testing/web-platform/meta/css/css-multicol/multicol-gap-percentage-001.html for the layout bits.

[2018-04-05 21:14] Ramshell commented on #20498
@highfive: assign me

[2018-04-05 21:14] highfive commented on #20498
Hey @Ramshell! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-04-05 21:35] glennw commented on #20540
In WR, we blit the contents of a frame output buffer for DOM to texture here:

https://github.com/servo/webrender/blob/9074bf86091952cfaeba9a9f81a10b539c064c9f/webrender/src/renderer.rs#L3061

Which calls ```glBlitFramebuffer``` here:

https://github.com/servo/webrender/blob/9074bf86091952cfaeba9a9f81a10b539c064c9f/webrender/src/device.rs#L1226

I *think* it's valid to invert the destination y0 an

[2018-04-05 21:54] avadacatavra opened #20566 "Introduce imprecision in timers for timing attack mitigation"
cc @asajeffrey

Servo can already run in multiprocess mode, but we need to think about:

a) how to keep SM up-to-date,
b) a security audit to make sure that sensitive data is in appropriate processes, and
c) what mitigations are needed even when running in multiprocess (e.g. process throttling).

See https://github.com/w3c/hr-time/issues/56 for more discussion

Per discussion with Tom R:
Insecure

[2018-04-05 22:09] asajeffrey commented on #20566
Should we also have a metabug for tracking process isolation in general?

[2018-04-05 22:10] avadacatavra commented on #20566
@asajeffrey go for it ;) (your turn for issue filing)

[2018-04-05 22:21] asajeffrey opened #20567 "Process isolation metabug"
Servo already has process isolation, but that's not a magic bullet.

- [ ] Mitigate timing attacks from high-precision timers. #20566
- [ ] Enable SharedArrayBuffer?
- [ ] Keep SM up-to-date.
- [ ] Process throttling?

cc @avadacatavra

[2018-04-05 22:21] asajeffrey commented on #20566
Filed #20567

[2018-04-05 22:37] glennw opened #20568 "Dependency issues with WR update"
Running the following update command on Servo master branch:

[code]

Results in a number of compile errors, such as:

[code]

What else needs to be updated to resolve these correctly?

[2018-04-05 22:37] glennw commented on #20568
cc @nox who knows about such things

[2018-04-05 23:54] irrationalRock commented on #20503
Unfortunately, I can't assign more RAM.
I'm wondering is there any documentation that mentions what the recommended specs are to run Servo?
I think it would be helpful to add if it's not there.

[2018-04-06 02:36] CYBAI commented on #20568
Is this related to #20474 ?

[2018-04-06 04:27] gterzian commented on #10787
@cbrewster Thanks for looking into this.

Re Navigating, I agree, currently I'm doing Step 7 inside `window.load_url`, see https://github.com/servo/servo/pull/20329/files#diff-ffcaa7c334fe34498bc7362e376be445R1555

Re Traversing:
1. it seems the spec has this concept of the 'active document' of a browsing context(defined as the 'active' document of the WindowProxy of that browsing context).
2. The

[2018-04-06 09:06] nox opened #20570 "Audit that the framebuffer status is properly updated in WebGL"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.6
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.7

[2018-04-06 11:11] Eijebong commented on #20568
Yep, something is enabling the unstable feature of serde somewhere.

[2018-04-06 15:40] cbrewster commented on #10787
@gterzian Thanks for working on this!

That's the correct way to handle the navigation case.

For traversing I'm not entirely sure what to do.
In the case of traversing by +/-1 the spec makes sense, since we will be changing the active pipeline of at most 1 browsing context. In the case where the delta is > 1 or < -1, multiple browsing contexts may have their active pipeline changed. We should do

[2018-04-06 17:24] mbrubeck opened #20576 "Enable the css-align tests"
We should add the `css/css-align` directory to the list of tests we run, and add metadata / file issues for any failing tests.

https://github.com/servo/servo/blob/master/tests/wpt/include.ini#L8

[2018-04-06 22:50] KiChjang commented on #4589
We already have `get_property_descriptor` defined in `script/dom/bindings/proxyhandle.rs` and hooked up with WindowProxy traps, but I believe the reason why it doesn't work as expected nowadays is due to #11868.

[2018-04-07 01:09] #20498 closed

[2018-04-07 08:35] tigercosmos opened #20581 "Frame UI in Ubuntu 17 looks unusual"
test in master branch

The application frame UI (not webpage rendering) looks very different in Ubuntu 17, and I am sure it is not all application UI would change in Ubuntu 17, since Firefox, Chrome's UI are as same as in Ubuntu 16.

*Ubuntu 17*
![default](https://user-images.githubusercontent.com/18013815/38453004-458746e2-3a81-11e8-9342-7c5427afcdd9.png)

*Ubuntu 16*
![default](https://user-imag

[2018-04-07 12:13] asajeffrey opened #20585 "SpiderMonkey upgrade"
We need to upgrade our SpiderMonkey.

This would get us:

* Security and bug fixes,
* WASM,
* New JS features

[2018-04-07 12:13] asajeffrey commented on #20585
cc @nox @fitzgen

[2018-04-07 12:16] asajeffrey commented on #18513
#20585

[2018-04-07 12:17] asajeffrey commented on #20463
#20585

[2018-04-07 16:24] atouchet commented on #20581
I believe that is due to issues with Wayland support.

[2018-04-07 16:31] tigercosmos commented on #20581
What is Wayland? Are there issue related opened before?

[2018-04-07 16:39] atouchet commented on #20581
Wayland is a display server protocol alternative to X11. Ubuntu switched to use it by default in 17.10. There is an open issue for it here: #9558

[2018-04-08 09:37] gterzian opened #20588 "Cannot load more than 10 iframes"
When running `html/browsers/browsing-the-web/unloading-documents/beforeunload-canceling.html`, it seems the test times out because the "load" event is never fired for the 11th iframe. You can reliably make the test pass by cutting the length of `testCases` to 10, and it doesn't matter which ones you cut out, the others will not hang. If you switch their orders around, it is the last ones that reli

[2018-04-08 15:39] FallingSnow commented on #20505
I'm on Arch Linux, Gnome 3.28.0, Wayland. My desktop is scaled 200% on a 4k screen. I also experience a scaling issue.

![screenshot from 2018-04-08 08-37-39](https://user-images.githubusercontent.com/2512197/38469358-4649ca50-3b08-11e8-99d9-df4a2a4d736b.png)

[2018-04-08 15:43] gterzian commented on #19992
In the light of #20329, where Script would need to ask the embedder to allow unloading of a document:

1. I starting looking into it and realized script doesn't have a channel to the embedder yet, and also that script doesn't seem to be aware of it's own top level browsing context.
2. I assume constellation shouldn't block waiting for the response from the embedder.
3. In the light of the above, i

[2018-04-09 09:38] nox opened #20593 "Audit the checks in WebGLRenderingContext.getFramebufferAttachmentParameter"
I'm pretty sure we don't currently implement all the checks from the spec, notably:

* > `GL_INVALID_ENUM` is generated if the attached object at the named attachment point is `GL_RENDERBUFFER` and *pname* is not `GL_FRAMEBUFFER_ATTACHMENT_OBJECT_TYPE` or `GL_FRAMEBUFFER_ATTACHMENT_OBJECT_NAME`.
* > `GL_INVALID_ENUM` is generated if the attached object at the named attachment point is `GL_TEXTURE`

[2018-04-09 09:50] nox opened #20594 "Check that we really don't need to implement compressed textures in WebGL"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.8
https://www.khronos.org/registry/webgl/specs/latest/1.0/#COMPRESSED_TEXTURE_SUPPORT

[2018-04-09 09:57] nox opened #20595 "Implement component check in Image2D methods"
I'm not sure we implement the following check:

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.8
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glCopyTexImage2D.xml
https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glCopyTexSubImage2D.xml

[2018-04-09 10:03] nox opened #20596 "Remove indirections for WebGL texture parameters"
All parameters handled in `gl.getTexParameter` don't need to go through IPC.

[2018-04-09 12:02] nox opened #20599 "Properly implement "Enabled Vertex Attributes and Range Checking""
https://www.khronos.org/registry/webgl/specs/latest/1.0/#ATTRIBS_AND_RANGE_CHECKING

[2018-04-09 12:07] nox opened #20600 "Cache the info needed for gl.getActiveAttrib and gl.getActiveUniform"
AFAIK this could be cached pretty easily, and maybe we should also do something about the uncached `self.get_program_iv(program, ffi::ACTIVE_ATTRIBUTE_MAX_LENGTH)` call deep in gleam in those code paths.

https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.10

[2018-04-09 13:49] nox commented on #20600
For the max length, see also https://www.khronos.org/registry/webgl/specs/latest/1.0/#MAX_LOCATION_LENGTHS

[2018-04-09 13:54] nox opened #20601 "Check whether we handle characters outside the GLSL charset correctly"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#CHARACTERS_OUTSIDE_VALID_SET

[2018-04-09 20:56] SimonSapin commented on #14902
https://github.com/servo/servo/pull/20474 has landed and includes an update to nightly-2018-04-08.

[2018-04-09 23:59] anholt commented on #13928
@nox I'm not entirely confident, but I think you're right that we only need to update the webgl-level state tracking, and then there won't be any way to distinguish that the GL-level state tracking is out of sync.

[2018-04-10 00:01] anholt commented on #13710
Yeah, I think the gecko strategy would be easiest.

[2018-04-10 02:32] cbrewster opened #20604 "DissimilarOriginWindows do not send messages with real pipeline ids to the constellation"
DissimilarOriginWindows create a new `GlobalScope` with a phony `PipelineId`. Messages sent to the constellation from script are required to send a source `PipelineId`. Messages sent with the phony `PipelineId` will not be processed by the constellation because the `Pipeline` lookup will fail.

https://github.com/servo/servo/blob/bfb9fe6159ba61f0155a5ecc5a473b2a3edd6ef6/components/constellation/co

[2018-04-10 02:43] asajeffrey commented on #20604
IRC chat: https://mozilla.logbot.info/servo/20180410#c14586192 (and for bonus points, go back and watch me flail around trying to debug this).

[2018-04-10 02:48] asajeffrey commented on #20604
One thing we could do is only put the pipeline id into messages that need it, and stop having ScriptToConstellationChan storing a pipeline id.

[2018-04-10 02:56] asajeffrey opened #20605 "WindowProxy::set_window doesn't transplant the proxy properly"
It looks like when `WindowProxy::set_window` calls `JS_TransplantObject` at https://github.com/servo/servo/blob/bfb9fe6159ba61f0155a5ecc5a473b2a3edd6ef6/components/script/dom/windowproxy.rs#L236-L274 this can end up with SM thinking it's a same-origin transplant, so swapping the pointers rather than actually transplanting.

[code]

[2018-04-10 02:57] asajeffrey commented on #20605
IRC chat in the context of #20604: https://mozilla.logbot.info/servo/20180410#c14585942

cc @cbrewster

[2018-04-10 04:48] paulrouget commented on #20520
In your bashrc remove the code that modifies your PATH (/Users/rob/emsdk-portable/clang/fastcomp/build_incoming_64/ doesn't have to be in your path)

[2018-04-10 04:49] paulrouget commented on #20505
@FallingSnow what happens if you click where the blue button is "supposed" to be? As in, do the coordinates of the click are properly calculated, or are they also scaled up?

[2018-04-10 04:52] paulrouget commented on #19992
A very similar problem is being addressed here: #20480 and see https://github.com/servo/servo/pull/20480#issuecomment-378306624

[2018-04-10 06:35] paulrouget commented on #19992
I had a quick chat with @cbrewster and we agree that it's fine if the script thread has access to the EmbedderProxy. We could short-circuit the constellation.

[2018-04-10 07:08] paulrouget commented on #19472
Probably not. Closing.

[2018-04-10 07:08] #19472 closed

[2018-04-10 08:27] nox opened #20607 "Create tests for the changes in #20598"
The changes from that PR are just drive-by trivial fixes and upstreaming things to https://github.com/KhronosGroup/WebGL is a pain, filing this as a follow-up.

[2018-04-10 08:28] nox commented on #20514
@brainlessdeveloper Do you want some clues?

[2018-04-10 08:31] nox opened #20608 "Cache info needed for gl.getVertexAttrib and gl.getVertexAttribOffset"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.10

https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGetVertexAttrib.xml

https://www.khronos.org/registry/OpenGL-Refpages/es2.0/xhtml/glGetVertexAttribPointerv.xml

[2018-04-10 08:32] nox commented on #20608
We should also cache the `GL_MAX_VERTEX_ATTRIBS` limit somewhere.

[2018-04-10 08:34] brainlessdeveloper commented on #20514
I haven't had time to work on the gleam PR, but my Servo PR is almost ready, of course, except for the fact that the implementation of the command for gleam doesn't exist.

I'll push the Servo code on my fork and see if I have time to work on the gleam PR tomorrow. Some initial pointers would be nice, yes. Thanks!

[2018-04-10 08:36] nox commented on #20514
You more or less want to do something similar as in https://github.com/servo/gleam/pull/158, where you add the method to the trait in `gl.rs` and implement it in both `gl_fns.rs` and `gles_fns.rs`.

[2018-04-10 08:59] brainlessdeveloper commented on #20514
Thanks! I'll get to it as soon as I find some time.

[2018-04-10 11:15] hgallagher1993 opened #20609 "Build error with custom Webrender"
Trying to build Servo with custom Webrender and Webrender_Api results in 2 build errors.

[code]

Looks like `ScrollEventPhase` was removed in https://github.com/servo/webrender/pull/2629.

[2018-04-10 11:17] Eijebong commented on #20609
Yeah webrender hasn't been synced since then. (Going to do it with #20497)

[2018-04-10 11:18] Eijebong commented on #20497
All those PRs can be merged/released

[2018-04-10 14:30] kvark opened #20612 "Avoid direct GL calls"
Servo needs to be fully abstracted away from GL by WebRender (and, to an extent, `offscreen_gl_context`). Currently I see [draw_img](https://github.com/servo/servo/blob/bfb9fe6159ba61f0155a5ecc5a473b2a3edd6ef6/components/compositing/compositor.rs#L1381-L1417) issuing direct calls.

[2018-04-10 14:34] kvark commented on #20612
Consequently, `IOCompositor` shouldn't have the `gl` field.

[2018-04-10 14:40] cbrewster commented on #20478
We should only send the `Navigation` event on key pressed or key repeated and not on key released.
To fix this, check the `state` in both these branches and make sure it is not equal to key released.
https://github.com/servo/servo/blob/07dd37a0cf2eb19a294b27404f1deee1ee6e8fd7/ports/servo/browser.rs#L123-L134

[2018-04-10 14:40] highfive commented on #20478
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-04-10 20:00] #20604 closed

[2018-04-11 10:01] emilio opened #20621 "[cssom] getComputedStyle and shorthands"
Currently https://drafts.csswg.org/cssom/#dom-window-getcomputedstyle says:

Which means that `getComputedStyle(document.documentElement).font` shouldn't be present, since it's a shorthand.

This is inconsistent with https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-getpropertyvalue, though which handles shorthands.

Should `ComputedStyle.getPropertyValue` handle shorthands? If so, should th

[2018-04-11 10:05] emilio commented on #20621
Wrong repo, lol.

[2018-04-11 10:05] #20621 closed

[2018-04-11 13:39] nox opened #20623 "Properly check the argument of WebGLRenderingContext.clear"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.14.11
https://www.khronos.org/opengles/sdk/docs/man/xhtml/glClear.xml

[2018-04-11 16:39] asajeffrey opened #20624 "No spec links in metrics/lib.rs"
There are no links to the spec in https://github.com/servo/servo/blob/8281ee004336049df11cc0478cb3c8b5610c6bde/components/metrics/lib.rs

[2018-04-11 16:40] asajeffrey commented on #20624
cc @avadacatavra @ferjm

[2018-04-11 18:41] #14720 closed

[2018-04-11 18:43] asajeffrey opened #20625 "Intermittent fail in /_mozilla/mozilla/paint_timing.html"
Looking at the test at https://github.com/servo/servo/blob/5182c81c116d114b33e4cf4ddb2ef13474dd843a/tests/wpt/mozilla/tests/mozilla/paint_timing.html
it seems to assume the `first-paint` and `first-contentful-paint` will arrive together, if they arrive as separate notifications the test will fail. AFAICT the spec doesn't require the events to arrive simultaneously.

This may be what's causing the

[2018-04-11 18:44] asajeffrey commented on #20625
cc @avadacatavra @ferjm

[2018-04-11 19:27] asajeffrey commented on #20624
Go for it. I will r+ anything with spec links :)

[2018-04-11 22:16] #20624 closed

[2018-04-12 02:30] pawan92 commented on #19959
hey i can help out with this!

[2018-04-12 03:52] pandusonu2 commented on #19797
I know this is assigned, but can I give this a try and raise a PR if I am able to get any progress?

[2018-04-12 11:29] piotr-szpetkowski commented on #20478
Hi.
I don't have much experience in Rust, but it seems like an easy thing to do, so I'll try to tackle it.

@highfive: assign me

[2018-04-12 11:29] highfive commented on #20478
Hey @piotr-szpetkowski! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-04-12 12:26] brainlessdeveloper commented on #20514
Here's my WIP https://github.com/brainlessdeveloper/servo/commit/094b4a99ee1a482d95c5e50bcf505cc44006d513

I think it's not missing a lot but we'll see what fails once I implement the other function for gleam.

[2018-04-12 16:46] cbrewster opened #20630 "Hitting enter in a text box adds a space"
Test Case:
`<input type="text"/>`

1. Type in textbox
2. Hit enter
3. Space is added to end of text

[2018-04-12 19:47] cbrewster opened #20633 "Intermittent timeout in /css/css-transforms/gradientTransform/svg-gradientTransform-033.html"
[code]
Seen in #20629

[2018-04-12 21:28] fabricedesre opened #20634 "WindowEvent is missing a "Stop" variant"
We can reload, go back and forward, but not stop an ongoing page load.

[2018-04-13 00:50] Gaelan commented on #19797
Go for it. I'm partially done with it, but I've been busy later.

[2018-04-13 02:28] #20540 closed

[2018-04-13 07:05] paulrouget commented on #20630
If it's a regression, 2 PRs to check: #19895 and #20327

-

[2018-04-13 07:11] paulrouget commented on #20634
AFAIK, cancelling loading is not supported yet. To implement it, I think we need to cancel the network requests (and I'm not sure how) and ditch the pending pipelines (see `handle_abort_load_url_msg`).

[2018-04-13 09:25] fabricedesre commented on #20634
I think @cbrewster and @asajeffrey were discussing how to implement that yesterday.

[2018-04-13 12:43] avadacatavra opened #20635 "servo-linux3 is failing a lot"
example: http://build.servo.org/builders/linux-rel-wpt/builds/8491/steps/test__1/logs/stdio

[2018-04-13 12:43] highfive commented on #20635
cc @aneeshusa

[2018-04-13 14:16] asajeffrey commented on #20634
The IRC chat between me and @cbrewster https://mozilla.logbot.info/servo/20180412#c14602820

TL;DR: the constellation needs to track the salvageable flag. Unsalvageable document are discarded when they are navigated or traversed away from.

[2018-04-14 07:01] cbrewster opened #20636 "Script thread becomes unresponsive on long Hacker News page"
Steps to reproduce:
1. Open https://news.ycombinator.com/item?id=16830361 in Servo
2. Try to click on any links
3. Servo does nothing

If you wait long enough, the script becomes responsive again. With `RUST_LOG=script` set, I see a bunch of log messages:
[code]

[2018-04-14 18:30] MaximilianDauner commented on #20455
Hey,
I would like to work on the issue.

[2018-04-15 19:40] asoni3 commented on #20052
@Manishearth Do you recommend some standard way to get some status from servo so we can understand that it is ready to accept urls. Here is a piece of code I'm using in python. Let me know if you have any suggestions. Thanks!

[code]

[2018-04-15 19:45] mattnenterprise commented on #20535
I would like to have a go at this. I have already submitted a pull request for the gleam work at  https://github.com/servo/gleam/pull/163

[2018-04-16 08:11] nox commented on #20535
Sure!

[2018-04-16 08:32] nox opened #20642 "Clean up the WebGL extension infrastructure"
Many things in `WebGLExtensionFeatures` are pretty naively implemented, for example `gl_extensions` could be a bitset of all the known extensions that can be enabled in our implementation, instead of storing one `String` per extension name.

[2018-04-16 08:57] nox opened #20643 "Maybe introduce a new task source specific to WebGL"
https://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15

[2018-04-16 14:15] SimonSapin opened #20645 "Update jemalloc-sys and unfork jemallocator"
In https://github.com/servo/servo/pull/20641 we duplicated ~70 lines from the `jemallocator` crate in order to be able to keep using an order `jemalloc-sys`, because the new one doesn’t build on our Android infra:

`/home/servo/.cargo/registry/src/github.com-1ecc6299db9ec823/jemalloc-sys-0.1.5/jemalloc/src/background_thread.c:83:2: error: unknown type name 'cpu_set_t'`

Upstream issue: https://git

[2018-04-16 15:00] SimonSapin commented on #20645
Also being discussed at https://github.com/alexcrichton/jemallocator/pull/34#issuecomment-381629781

[2018-04-16 16:30] #19156 closed

[2018-04-17 08:46] nox commented on #19996
Why do we even enable the `/2dcontext/imagebitmap` tests when we don't actually implement `ImageBitmap`? 🤔

[2018-04-17 08:47] nox opened #20650 "Implement ImageBitmap"
https://developer.mozilla.org/en-US/docs/Web/API/ImageBitmap
https://html.spec.whatwg.org/multipage/#imagebitmap

[2018-04-17 08:51] nox opened #20651 "Properly implement "Stencil Separate Mask and Reference Value""
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.11

[2018-04-17 08:57] nox opened #20652 "Check whether we bind GLclampf correctly"
I think `GLclampf` is never supposed to be `NaN`, given it's for example used for the [viewport depth range](https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.13) which states:

[2018-04-17 09:00] nox commented on #20594
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.18

[2018-04-17 09:06] nox opened #20653 "Properly implement "Maximum GLSL Token Size""
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.19

[2018-04-17 11:50] nox commented on #20653
#20601

[2018-04-17 11:50] #20653 closed

[2018-04-17 11:54] nox opened #20654 "Properly implement "Completeness of Cube Map Framebuffer Attachments""
https://www.khronos.org/registry/webgl/specs/latest/1.0/#6.35

[2018-04-17 12:11] nox commented on #20652
We actually do that correctly, WebGL is just so damn weird.

[2018-04-17 12:11] #20652 closed

[2018-04-17 12:13] nox opened #20655 "Return the correct types in gl.getParameter and friends"
For example, the return type for `gl.getParameter(ALIASED_POINT_SIZE_RANGE)` is supposed to be a `Float32Array`, not a `sequence<float>`.

[2018-04-18 00:10] fabricedesre opened #20659 "Can we remove HeadParsed"
This embedder message (https://doc.servo.org/compositing/compositor_thread/enum.EmbedderMsg.html#variant.HeadParsed) doesn't seem useful. If no one objects, let's remove it.

cc @paulrouget

[2018-04-18 00:15] fabricedesre opened #20660 "Add a ThemeColorChanged embedder message"
That is useful to skin the embedder based on the page color. It is set by the `<meta name="theme-color" content="#4285f4">` element.

[2018-04-18 04:57] gterzian opened #20663 "Fix suspend/resume cycle of Timers in the light of salvageable documents"
When a window resumes, it seems timers set before suspending the window are ignored when fired.

failing test(timing out because the timeout is never executed, despite the window being "salvageable" and resumed afterwards): https://github.com/servo/servo/blob/1fe0f32059270e2d3e42b7c7184c2adf56f3f872/tests/wpt/web-platform-tests/html/browsers/browsing-the-web/unloading-documents/unload/006-1.html#L

[2018-04-18 06:04] paulrouget commented on #20659
You think it's useless because we can use HistoryChanged? HistoryChanged happens to be fired at the same time, but will that always be true? There are also situations where HistoryChanged is fired and but not HeadParsed.

I use HeadParsed to show the different loading states (colors of the progress bar for example).

[2018-04-18 07:04] #20535 closed

[2018-04-18 14:14] fabricedesre commented on #20659
Why is HeadParsed specifically interesting as a loading signal?

[2018-04-19 01:18] kvark opened #20664 "Unable to build individual components with "./mach cargo check -p""
`servo_url` gives errors about `Serialize`:
[code]

`compositing` is complaining about `MallocSizeOf`:
[code]

[2018-04-19 03:05] paulrouget commented on #20659
For example, when building a loading progress bar, you want 3 events: start, connected, end. In Firefox , the bouncing animation is first grey (start), blue (connected), and the glow (end).

[2018-04-19 03:35] fabricedesre commented on #20659
Sure, but HeadParsed is a poor proxy for the "connected" state no?

[2018-04-19 03:51] paulrouget commented on #20659
As in, you think we could use a better wording?

[2018-04-19 03:57] fabricedesre commented on #20659
What I mean is that HeadParsed is not fired when the connection happens, but after some part of document is available. So if what you need is OnConnected, let's implement that properly instead.

[2018-04-19 05:45] paulrouget commented on #20659
Works for me.

[2018-04-19 15:02] SimonSapin commented on #20664
https://github.com/servo/servo/pull/20666 has a proper fix, but generally a work around of this kind of issue (when building only some packages in a virtual workspace) is to add `--manifest-path`:

[code]

This makes Cargo consider all of Servo for the purpose of dependency resolution and feature selection, rather than just the crates selected by `-p`.

[2018-04-19 15:59] larsbergstrom opened #20667 "servo-mac7 is dead"
All jobs timed out with:
[code]

[2018-04-19 15:59] larsbergstrom commented on #20667
@edunham

[2018-04-19 15:59] highfive commented on #20667
cc @aneeshusa

[2018-04-19 19:11] #19157 closed

[2018-04-19 19:27] MaximilianDauner commented on #20655
Hey @nox,
I'm not that familiar with servo yet but I would like to work on that issue.

[2018-04-19 20:14] #20429 closed

[2018-04-19 21:39] #20612 closed

[2018-04-20 00:00] #20664 closed

[2018-04-20 06:54] mrobinson commented on #13823
Okay. I think it is fine to close this for now and we can open a new issue if it reappears.

[2018-04-20 06:54] #13823 closed

[2018-04-20 10:53] gterzian commented on #20588
probably local only...

[2018-04-20 16:13] brainlessdeveloper opened #20668 "WPT test failure expectations shouldn't use an index in the test name"
I just had the following situation in this PR: https://github.com/servo/servo/pull/20631

My PR adds a WebGL method `getRenderbufferParameter`, and this made a test pass. The test names for WebGL have indeces in their names. My new "unexpected" test failures looked like this:

[code]

Actually, there were 90 of those, but for brevity...

Currently, the failure expectations in the `.ini` file look

[2018-04-20 16:18] nox commented on #20668
Yeah, it's a problem with the tests directly in upstream, we can't just modify them here. I usually delete the expectation entirely and then I update it.

[2018-04-20 16:32] gootorov commented on #20668
There's a nice script that does that:
[updating test expectations](https://github.com/servo/servo/tree/master/tests/wpt#updating-test-expectations)

[2018-04-20 16:37] brainlessdeveloper commented on #20668
Thanks! That kind of solves it.

[2018-04-20 20:33] simartin commented on #20623
I propose to take care of that one.

[2018-04-21 03:46] cbrewster commented on #19905
Done in #20638

[2018-04-21 03:46] #19905 closed

[2018-04-21 07:41] gterzian opened #20673 "Implement "the rules for choosing a browsing context""
Take 'target' into account when following the hyperlink (and perhaps also other small changes, it seems the labeling of some steps needs updating and others seems to be missing).

Loading the url in a target in a different browsing context seems to be blocked by #13241(but I'm wondering if that should only be if it's in a new 'top level browsing context'? Can we still follow the hyperlink in a ifr

[2018-04-21 11:53] simartin commented on #20556
I propose to work on that one.

[2018-04-21 12:51] MaximilianDauner commented on #20536
Hey,
I would like to work on that issue.

[2018-04-22 08:01] gterzian commented on #20673
On second thoughts, I think this issue is more about implementing https://html.spec.whatwg.org/multipage/browsers.html#the-rules-for-choosing-a-browsing-context-given-a-browsing-context-name, which is useful in other places besides the anchorelement, such as forms, see https://github.com/servo/servo/blob/05fe8fa08d507836ce5659ff56f83022a90b241a/components/script/dom/htmlformelement.rs#L340
so I pr

[2018-04-22 08:07] gterzian commented on #20673
Would such a `choose_browsing_context` method belong perhaps on `WindowProxy`?

[2018-04-23 01:34] FallingSnow commented on #20505
It would seem the coordinates of the click do not line up with how the page is rendered. Clicking the Download Servo button results in nothing happening.

[2018-04-23 05:43] fabricedesre opened #20681 "Typing "3" in an input field doesn't work"
While all other num keys work... A cursory look didn't surface an obvious typo or cut/paste error...

[2018-04-23 18:05] tigercosmos commented on #20681
I just reproduced it. amazing...

[2018-04-23 18:08] kwonoj commented on #20681
maybe regression caused by https://github.com/servo/servo/pull/20327 ?  I'll try to repro and bisect without changes.

[2018-04-23 19:45] fabricedesre commented on #20681
I just checked, and `is_identifier_ignorable` returns `false` in this case, so this is not the cause.

[2018-04-24 06:42] kwonoj commented on #20681
Nailed it, it isa regression caused by me, but in different PR than #20327.

I did assign a new hotkey for capture webrender in #20315, https://github.com/servo/servo/pull/20315/files#diff-4d1fd4a873c7f3f5e352fad96ac6db87R1233 and it is aggressively eats up keyevent when it doesn't match with modifier combination, ends up with omitting actual keyevent.

I'll try to fix this. (not sure I can assign

[2018-04-24 06:42] kwonoj commented on #20681
@highfive assign me

[2018-04-24 06:42] highfive commented on #20681
Hey @kwonoj! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-04-24 09:34] necros2k7 opened #20683 "Command line arguments list?"
subj

[2018-04-24 10:02] CYBAI commented on #20683
Do you mean how to launch a website?

If yes, after pulling servo down and building done, just use `./mach run <url>` to launch the website you'd like to see.

Ref: [Building section in README](https://github.com/servo/servo#building)

[2018-04-24 13:17] nox opened #20684 "Intermittent results in /css/css-fonts/variations/at-font-face-font-matching.html"
[code]

[2018-04-24 13:17] nox opened #20685 "Intermittent timeout in /css/css-ui/caret-color-021.html, /css/css-ui/caret-color-019.html"
[code]

[2018-04-24 13:47] nox opened #20686 "Intermittent results in /css/css-fonts/variations/font-weight-matching.html"
[code]

[2018-04-24 18:41] atouchet commented on #10381
This was addressed by #20680.

[2018-04-24 18:41] #10381 closed

[2018-04-24 20:24] cbrewster opened #20688 "Click location does not take into account scroll offset"
On https://www.rust-lang.org there is a small text editor. You can click and drag to select text, but if you scroll down on the page and try to select text, the click location does not take into account the scroll offset of the page.

[2018-04-24 21:40] cbrewster commented on #20688
@atouchet looks like it!

[2018-04-24 21:40] #20688 closed

[2018-04-24 23:16] KiChjang commented on #20683
Closing as solved.

[2018-04-24 23:16] #20683 closed

[2018-04-25 06:33] #20681 closed

[2018-04-25 08:06] necros2k7 commented on #20683
no arguments i suppose?

[2018-04-25 09:11] #20514 closed

[2018-04-26 07:41] romulasry commented on #14203
Would be nice to have this updated.

[2018-04-26 11:57] paulrouget commented on #20505
If you use X11 instead, do you have the same issue?

[2018-04-26 12:32] pyfisch opened #20694 "./mach clean-nightlies fails on servo-mac5"
This happens at PR #20420 for no obvious reason. Any suggestions?

See:

* http://build.servo.org/builders/mac-rel-wpt3/builds/4246
* http://build.servo.org/builders/mac-dev-unit/builds/11755

[2018-04-26 12:32] emilio commented on #20694
Yeah, it's known, has happened in a bunch of other PRs. We're trying to address it ATM.

[2018-04-26 13:05] nox commented on #20694
Cc @larsbergstrom @edunham

I'm currently landing https://github.com/servo/servo/pull/20693/commits/d52011ceb396cc48817d8f2d8e6dd7ffe90e0aa2 to just not use `clean-nightlies` right now.

I tried to remove `servo-mac5` from the build machines pool but couldn't do it from the Web interface.

[2018-04-26 16:28] nox opened #20696 "Intermittent results in /css/css-backgrounds/background-size-025.html"
[code]

[2018-04-26 19:26] MaximilianDauner commented on #20536
Hello @nox,
I am not that familiar with servo yet.
Do I have to add new functions to servo/gleam (like alias_line_width_range) to solve that issue.
Or is there another way to get the blend color ?

[2018-04-26 19:31] nox commented on #20536
Oops sorry I didn't see your message 5 days ago.

Things are slightly hectic right now because of some CI bustage which doesn't let me merge some WebGL refactoring to help with that. I'll come back to you for when this is fixed (should be fine tomorrow). Meanwhile I'll mark this issue as assigned so that we reserve it for you.

Thanks for the help!

[2018-04-26 23:07] simartin commented on #20593
I propose to work on that one.

[2018-04-26 23:50] nox commented on #20593
Sure!

[2018-04-27 00:31] KiChjang opened #20697 "WPT builders are failing frequently"
[code]

[2018-04-27 00:31] highfive commented on #20697
cc @aneeshusa

[2018-04-27 09:08] nox opened #20700 "Support functions in `timerhandler` WebIDL unions"
https://html.spec.whatwg.org/multipage/#timerhandler

[2018-04-27 09:25] nox opened #20701 "Remove usage of Unicode serialisation of origins"
https://html.spec.whatwg.org/multipage/#ascii-serialisation-of-an-origin

[2018-04-27 13:15] mkmodrzew commented on #20172
(Sorry for lack of updates, but I tried to change Rust setup on my PCs, and it took me awhile)

[2018-04-27 14:41] pyfisch commented on #20694
Can I try to build #20420 again? Should I rebase the PR?

[2018-04-27 14:49] nox commented on #20694
I retried it, thanks for telling me about it, I didn't notice it was stuck because of this issue.

[2018-04-27 14:49] nox commented on #20694
If there are no conflicts you shouldn't need to rebase, FYI, because our CI stuff tries PRs with a merge of master.

[2018-04-27 22:08] kwonoj commented on #8539
I was out for some personal thing and recently started thinking around this and realized time has quite passed around. If anyone have idea / working feel freely take it over, otherwise I'll try to simmer idea around to make this happen. This seems bit more tricker then I originally thought.

[2018-04-28 09:06] paulrouget commented on #15635
So, this is still relevant. We made it so that the embedder can provide its own way of reading the files, but the files are still necessary. We still need to copy the resources/ directory into the embedder project.

Keeping open.

[2018-04-28 20:35] tigercosmos commented on #20650
So far any process on this? Where would be the best place to implement it (I mean components, or maybe which file)?

[2018-04-28 20:36] pyfisch commented on #20511
If the does not have the time to update or can not share the plans maybe it is better to remove the roadmap.

The [projects](https://github.com/servo/servo/projects) page can also be used as a replacement, maybe these stay more up to date as the page is already used for organization and does not need to specifically written.

I would really like to have a better idea what the team at Mozilla is wo

[2018-04-28 21:02] larsbergstrom commented on #20511
Thanks and sorry for the delay! Indeed, I'd like to move to the projects page for more fine-grained tracking of work and the work backlog.

I'll update the roadmap wiki with the high-level plans and a pointer to the projects page.

[2018-04-28 21:05] larsbergstrom commented on #20511
Done!

[2018-04-28 21:05] #20511 closed

[2018-04-28 21:08] pyfisch commented on #20511
:+1: Great overview!

[2018-04-29 03:49] emilio opened #20710 "Unit tests that read prefs can randomly panic."
See for example the failure I got in #20708:

<details>

[code]

</details>

This test reads a pref to see if the viewport rule is enabled, but #20533 made it so that only calls to PREFS.set were guarder by `register_resources_for_tests`.

`register_resources_for_tests` is not great: any patch that adds something that reads a pref on a code path which is unit-tested may make tests panic randomly.

[2018-04-29 04:59] gterzian opened #20711 "Updating test expectations fails"
Not sure if this is in mach or wptrunner...

[code]

[2018-04-29 07:57] #19649 closed

[2018-04-29 07:57] #19680 closed

[2018-04-29 07:57] #19802 closed

[2018-04-29 09:15] #20428 closed

[2018-04-29 10:40] pyfisch opened #20712 "undefined reference to hb_font_funcs_set_nominal_glyph_func on Ubuntu 16.04"
Building the servo crate linking with `cc` fails: undefined reference to 'hb_font_funcs_set_nominal_glyph_func'

`hb_font_funcs_set_nominal_glyph_func` is part of [harfbuzz since version 1.2.3](http://www.manpagez.com/html/harfbuzz/harfbuzz-/harfbuzz-hb-font.php#hb-font-funcs-set-nominal-glyph-func) but [Ubuntu Xenial only has version 1.0.1](https://packages.ubuntu.com/search?suite=xenial&searchon

[2018-04-29 12:04] gterzian opened #20713 "Improve Spec compliance of the iframe "name" attribute"
### Current behavior:

Currently, `Iframe.SetName` only "sets the name" if the iframe has a browsing context/window proxy:

https://github.com/servo/servo/blob/bf667677f75cd3f56fff3a91f73c21ba1e4705af/components/script/dom/htmliframeelement.rs#L473

So when the "name" attribute is mutated before the iframe is inserted in the document, this has no effect:
https://github.com/servo/servo/blob/bf66767

[2018-04-30 03:56] kwonoj opened #20716 "Press `enter` in text input appends redundant space"
Tested on Windows 10, latest `master`.

Repro steps
- `./mach run --dev https://dvcs.w3.org/hg/d4e/raw-file/tip/key-event-test.html`
- focus to input field, press enter couple of times

Per each keycode `13`, actual input field appends space.

![image](https://user-images.githubusercontent.com/1210596/39414711-a83779cc-4bef-11e8-8b4c-86f3b5312544.png)

Comparison on chromium:
![image](https://user

[2018-04-30 03:56] #20716 closed

[2018-04-30 03:56] kwonoj commented on #20716
Just noticed https://github.com/servo/servo/issues/20630, closing as dupe.

[2018-04-30 06:44] atouchet commented on #20630
I don't think this is a recent regression at the very least. I've been able to reproduce the bug in builds going back to mid-2017. I haven't tested past that.

[2018-04-30 14:16] jdm opened #20717 "Add more information to automated WPT sync PR"
PRs like https://github.com/servo/servo/pull/20715 are easiest to understand if the reviewer has a lot of prior context. It would be great to create PRs with information like this:
[code]
This information could be derived from looking at the git commit and performing the following filtering:
* for each ini file in the commit, does the test [match a known intermittent failure](https://github.com/se

[2018-04-30 14:16] highfive commented on #20717
cc @aneeshusa

[2018-04-30 14:30] jdm opened #20720 "File an issue when downstream WPT sync fails for some reason"
When the syncing process breaks the process of running tests or updating the expected test results, we silently stop receiving PRs with the sync changes. It would be best to file a github issue with the log output so we don't need to go hunting for it when we notice several days later.

[2018-04-30 14:30] highfive commented on #20720
cc @aneeshusa

[2018-04-30 14:43] jdm opened #20721 "Implement parallel CSS parsing"
Firefox did this in https://bugzilla.mozilla.org/show_bug.cgi?id=1346988 and https://bugzilla.mozilla.org/show_bug.cgi?id=1455115; we should look into doing the same for Servo.

[2018-04-30 14:57] jdm opened #20722 "Amazon perf test perf range is highly variable"
Starting around April 6, the web archive test for amazon.com now either takes 3s or 12s, where it used to consistently range between 3s and 6s.

[2018-04-30 14:57] highfive commented on #20722
cc @aneeshusa

[2018-04-30 15:25] avadacatavra commented on #14203
@romulasry openssl updates also require updates in a lot of other dependencies, some of which are non-trivial. we'd like to get this done. last time i looked at this, i think there was a problem with the hyper dependency. i'll take another look at this and hopefully we can make progress

[2018-04-30 15:51] jdm opened #20723 "Implement automated script thread responsiveness check"
We should create a repeated task for each script thread that does the following:
* enqueues itself on script thread creation
* before being enqueued, sets an field to the current time
* when it is processed, compares the current time to the time it was enqueued
* if the difference is greater than N, add a warn! log that the script thread was blocked and report the time difference
* wait for a few

[2018-04-30 16:06] asajeffrey commented on #20722
IRC conversation: https://mozilla.logbot.info/servo/20180430#c14686901

TL;DR: the archived amazon home page is very nondeterministic.

[2018-04-30 16:08] asajeffrey commented on #20722
Running the archived amazon home page a few times with the same servo binary, sometimes it loads fine and sometimes generates console.log messages such as:
[code]
My guess is that it's randomly generating asset ids (e.g. for client-side load balancing, or doing A/B testing).

[2018-04-30 22:59] kwonoj commented on #20630
I could see some pictures around why this is happening (note: appended char is `\r`, not space) but need to simmer bit more time to present some PR to discuss further. I'll try bit more.

[2018-05-01 01:58] gnoireaux opened #20724 "Acid2 rendering is broken. chin and right temple"
Servo 0.0.1-847115b on Mac OS, macbook air7.2,
[code]

`./servo http://acid2.acidtests.org/#top`
renders:
![image](https://user-images.githubusercontent.com/73658/39458226-432af22a-4cf3-11e8-81b1-9c54e0752158.png)

also, scrolling breaks the face further.
![image](https://user-images.githubusercontent.com/73658/39458238-658a8876-4cf3-11e8-95b0-3f18e0639fa9.png)

[2018-05-01 03:10] atouchet commented on #20724
This looks like one of the same issues in #18940.

[2018-05-01 06:11] kwonoj opened #20726 "Keydown event emits twice for printable char with one physical keypress"
i.e typing `a` produces below keyboard events:

![image](https://user-images.githubusercontent.com/1210596/39463241-a6b3d942-4ccb-11e8-9ea7-a15594332b6b.png)

while on chromium / ff emits single keydown event:

![image](https://user-images.githubusercontent.com/1210596/39462858-5bcd91a4-4cc9-11e8-9199-5f5bc4236da2.png)

![image](https://user-images.githubusercontent.com/1210596/39462860-6110f5f2-4

[2018-05-01 12:55] jdm commented on #20724
Closing as a duplicate of #18940. Thanks for reporting it!

[2018-05-01 12:55] #20724 closed

[2018-05-01 18:47] jdm opened #20730 "mach package assumes release if --dev is not specified"
This means that if you do a debug build and then try to run package without adding the `--dev` flag, you get a confusing error about missing files (unless you have a preexisting release build, which probably silently gets packaged instead!). We should have mach package error out if there's no flag specified or it can't get, just like the regular `./mach build` logic.

[2018-05-01 18:47] highfive commented on #20730
cc @wafflespeanut

[2018-05-01 19:02] fabricedesre opened #20731 "Keyframe animations are not stopped/removed properly"
Consider the following test document:
[code]

This spins the `h1` for 2 seconds then stops animating. Visually, everything looks ok (though there is some jank in the animation), but if your run with `RUST_LOG=debug` you will notice that there is a constant flux of ` WARN 2018-05-01T18:39:03Z: style::animation: update_style_for_animation: Animation Atom('spin' type=inline) not found in style` logs.

[2018-05-01 22:11] jdm commented on #20461
Sorry, I was on vacation for all of April. There are four main parts to this project:
* extend the dom_struct macro to add a new `#[webidl]` attribute to structures marked `#[dom_struct]` (`components/dom_struct/lib.rs`)
* create a new compiler plugin (modeled after `components/script_plugins/unrooted_must_root.rs`) which checks for the presence of the `#[webidl]` attribute, then uses the name of

[2018-05-01 22:12] jdm commented on #20461
As to @KiChjang's concerns about compilation time, if we can get this working I think we should figure out how long this check takes in isolation, and whether it affects overall build time significantly.

[2018-05-02 01:53] aeweston98 commented on #20461
Ok, great I will start working on that. Can you assign the issue to me? Thanks!

[2018-05-02 04:48] kwonoj commented on #20726
Related upstream issue: https://github.com/tomaka/winit/issues/34

[2018-05-02 09:01] nox opened #20733 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/programs/program-test.html"
[code]

[2018-05-02 09:08] #20733 closed

[2018-05-02 13:01] jdm opened #20734 "websocket tests sometimes don't run"
This appeared in the log:
[code]

[2018-05-02 13:02] jdm commented on #20734
Followed by a lot of:
[code]

[2018-05-02 13:38] jdm opened #20735 "Figure out if ServoParser needs to be a DOM object"
The parsing interface is from 9da7679367eba53d0f86bff30bc8b005940f044e originally, but it's not clear to me if that was added because of restrictions around how our GC integration could work at the time. It seems like it should be possible to make it a non-DOM object now.

[2018-05-02 13:39] jdm commented on #20735
The fact that it stores a `Dom<Document>` definitely complicates matters.

[2018-05-02 13:40] jdm commented on #20735
In particular, there is a cycle between ServoParser::document and Document::current_parser.

[2018-05-02 14:03] cadeyrn opened #20736 "macOS: compile error: linking with `cc` failed"
I get the following error when trying to compile servo on macOS 10.13:

[code]

[2018-05-02 15:10] pyfisch commented on #20736
See #20712

I think your version of harfbuzz is too old and needs to be updated.

[2018-05-02 15:37] cadeyrn commented on #20736
I updated to harfbuzz 1.7.6_2 via Homebrew but the compile error is still there. It's also a different error message than #20712 ("undefined reference to 'hb_font_funcs_set_nominal_glyph_func'" vs. "Undefined symbols for architecture x86_64: "_hb_font_funcs_set_nominal_glyph_func"")

[2018-05-02 17:06] CYBAI opened #20737 "Francine portrait broken"
URL: http://diana-adrianne.com/purecss-francine/

After scrolling down, we can see there're some glitch in `Servo`.

In `Firefox`:
![image](https://user-images.githubusercontent.com/6782666/39538036-f3145cc8-4e6d-11e8-9d51-c6592be4796d.png)

In `Servo`:
![image](https://user-images.githubusercontent.com/6782666/39538049-021471a4-4e6e-11e8-966a-4e90e25cdd47.png)

Note: Servo is built with 245dcc211

[2018-05-02 17:14] Darkspirit commented on #20737
https://bugzilla.mozilla.org/show_bug.cgi?id=1458373
servo/webrender#2715

[2018-05-02 17:16] emilio commented on #20737
Wow, that was actually closer than expected :)

[2018-05-02 20:41] jdm commented on #20734
I have pushed https://github.com/w3c/web-platform-tests/pull/10804 to attempt to address those logging issues and hopefully shed some light on this.

[2018-05-02 23:38] jdm opened #20741 "Crash when changing orientation of android build"
This was on my third time rotating the screen in the emulator.
[code]

[2018-05-03 00:00] #16638 closed

[2018-05-03 01:01] jdm opened #20742 "Can't pan in emulator builds"

[2018-05-03 06:47] paulrouget commented on #20726
It would help to have a "Glutin Key To Servo Key" module as described in https://github.com/servo/servo/issues/20331 - at least to isolate the translation mechanism and properly define what we want in Servo.

[2018-05-03 06:56] kwonoj commented on #20726
Interesting. I'll followup how does #20331 proceeds and trying to figure out what's needed more. What I thought in here was slightly opposite, let document owns responsibility to create domkey from raw keyboardinput event, but that was speculative guess without any actual experiment.

[2018-05-03 06:57] paulrouget commented on #20726
And like I said in #20727, having proper IME support would help solve these kind of issues.

[2018-05-03 12:23] nox opened #20745 "Intermittent failure in /css/css-backgrounds/background-size-027.html"
[code]

[2018-05-04 01:03] aeweston98 commented on #20461
@jdm I have read the rust docs for Attributes and Procedural Macros and I just want to clarify a few things to make sure I understand correctly. I have taken bullet 1 to mean add a #[webidl] Token to the attributes set in the existing dom_struct macro, like [so](https://github.com/aeweston98/servo/blob/6969392bdc43b301f05876af52cf5dde4ace12e2/components/dom_struct/lib.rs#L20). Based on the code in

[2018-05-04 04:08] jdm commented on #20461
That is correct.

[2018-05-04 14:11] jdm opened #20746 "Webrender capture doesn't work in macOS nightly builds by default"
Pressing ctr+shift+3 in master doesn't cause any new file to appear in the working directory.

[2018-05-04 14:27] jdm commented on #20712
You should be able to set HARFBUZZ_SYS_NO_PKG_CONFIG=1 when building and avoid the error.

[2018-05-04 14:27] pyfisch opened #20747 "Implement fragmentation for inline background (images)"
See: https://www.w3.org/TR/css-break-3/#propdef-box-decoration-break

Example:

[code]
Firefox (expected rendering):
![9896763e-0847-4ab0-9952-43bf15a3d5f3](https://user-images.githubusercontent.com/2781017/39633229-af080890-4fb7-11e8-8586-2c88d3c21dc7.png)

Servo:
![screen](https://user-images.githubusercontent.com/2781017/39633332-f696f9c8-4fb7-11e8-9aee-5e849cc60397.png)

[2018-05-04 14:29] pyfisch commented on #20712
I just updated to Ubuntu 18.04 in part due to this error and now it works. I can't really test this anymore.

[2018-05-04 14:29] #20712 closed

[2018-05-04 14:31] jdm commented on #20746
Nevermind, this definitely works when I run it from a local build. I'll try using a nightly build.

[2018-05-04 14:34] jdm commented on #20746
When I run a nightly build on macOS and watch my terminal output, I receive `Unable to create path '"/Volumes/Servo/Servo.app/Contents/MacOS/capture_webrender/1525444435"' for capture: Os { code: 30, kind: Other, message: "Read-only file system" }` when performing a capture.

[2018-05-04 14:46] ford-prefect commented on #20712
@jdm that did help, thank you!

[2018-05-04 15:03] kwonoj commented on #20746
This looks like pkged nightly try to access path application path, not allowed to write. Any suggestions for preferred path? I'll try to update path lookup.

[2018-05-04 15:07] jdm commented on #20746
Perhaps fall back to the home dir if there's an error creating the path in the working directory?

[2018-05-04 17:54] seManeiro commented on #10251
Hi guys i am getting this error

warning: unable to access 'node_modules/npm/node_modules/libcipm/node_modules/pacote/node_modules/make-fetch-happen/node_modules/http-proxy-agent/node_modules/agent-base/node_modules/es6-promisify/node_modules/es6-promise/lib/es6-promise/promise/.gitattributes': Filename too long
fatal: cannot create directory at 'node_modules/npm/node_modules/libcipm/node_modules/

[2018-05-04 18:39] notriddle commented on #10251
That is a completely unrelated issue. Please open a new one.

[2018-05-04 19:15] jdm opened #20748 "Mozilla Hubs complains about setAttribute being read-only"
https://hubs.mozilla.com/

Output:
[code]

[2018-05-04 20:09] #19616 closed

[2018-05-04 20:12] larsbergstrom commented on #20667
So are servo-mac3, servo-mac5, servo-mac7, servo-mac9.

[2018-05-04 22:30] #20476 closed

[2018-05-05 16:55] emilio commented on #20379
#14418 didn't make sense. See the `mark_as_expired` bit there going away.

[2018-05-05 17:55] emilio commented on #20379
Our transitions story in general makes no sense, apparently.

[2018-05-05 23:05] varentsov commented on #20712
put this to readme please

[2018-05-06 01:10] anholt commented on #20596
getTexParameter shouldn't be a performance path, as applications are expected to never call get*

[2018-05-06 15:45] jdm opened #20756 "intermittent sigsegv in text_util unit tests"
http://build.servo.org/builders/mac-dev-unit/builds/11840/steps/test/logs/stdio

I've run the binary under a debugger and it appears to be a rustc problem, since it crashes in standard library code before actually running any test code.

[2018-05-06 20:50] fabricedesre commented on #20379
:cry: @emilio do you have time to spend on fixing that?

[2018-05-07 04:40] gterzian opened #20758 "Move compositor and layout messages out of script_traits"
This enum is, I think, only used by the compositor:

https://github.com/servo/servo/blob/dc17b32cebc956385084288765c9f5a78e60ee28/components/script_traits/lib.rs#L666

Why not move it to compositing? It would be more logical, remove potential circular dependencies, and maybe even save us a `#[derive(Deserialize, Serialize)]`!

Layout relevant message enums could also be moved to `layout_thread`(th

[2018-05-07 04:50] jdm commented on #20758
https://github.com/servo/servo/blob/fc90e613d8851b663e3304d713b2ca08aa397bf4/components/webdriver_server/lib.rs#L39 and https://github.com/servo/servo/blob/9c5bdd932e4ce8720e25241cb1bbdd85be3c92a5/components/webvr/webvr_thread.rs#L11 are the two non-compositing, non-constellation, non-servo uses that I see for ConstellationMsg.

[2018-05-07 04:54] gterzian commented on #13241
Also, since 'multiple webrender' was mentioned a year back, I was looking into webrender and the concept of `webrender::api::DocumentId` caught my attention. It seems now we use one `DocumentId` for the entire constellation, and I'm wondering if we couldn't move to having one for each pipeline?

See https://github.com/servo/webrender/blob/eb9415a3b601451476c52be4f444c982a3ed8e0c/webrender/examples

[2018-05-07 08:09] paulrouget commented on #13241
WR can only render one top level browsing context at once, but that doesn't mean other contexts / pipeline are not running. Sending the frametree to WR has not impact in the main event loop or the pipelines (beside the visibility event iirc).

On `open()`, we can, like you said, create a new tab, select it, and that's it.

The user experience will be affected, but that's fine for now. We will even

[2018-05-07 11:08] jdm opened #20759 "WPT import is busted"
There's a new exception that now occurs while running the tests according to the build logs on mac-nightly.

[2018-05-07 18:19] cbrewster opened #20760 "Intermittent result in /css/css-fonts/variations/font-weight-interpolation.html"
[code]

[2018-05-08 00:31] kwonoj commented on #20726
I'm bit unsure handling IME would resolve this issue (at least on win32, based on rough experiences) but still having proper IME support definitely related with these kind issues in any way. I realized it may need upstream winit side support, trying to make upstream changes first.

[2018-05-08 03:46] atouchet commented on #13366
Closing this as fixed.

[2018-05-08 03:46] #13366 closed

[2018-05-08 03:51] atouchet opened #20761 "Servo icon does not appear in application window"
A generic icon is shown instead of the Servo icon.

![Window icon](https://i.imgur.com/YGOdnMS.png)

Tested in Windows 10.

[2018-05-08 04:01] atouchet opened #20762 "Scrolling issues"
In the latest nightly builds scrolling does not work properly, it is slow or unresponsive. This regression first occurred in the [2018-05-06](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-05-08 04:43] jdm opened #20763 "filtered error log is constantly empty"

[2018-05-08 05:42] CYBAI commented on #20763
For example, like this [linux-rel-css](http://build.servo.org/builders/linux-rel-css/builds/8696) build, it's failed at building time

[code]

Should this kind of error only show failure of `stdio`?

[2018-05-08 14:05] jdm commented on #20763
Looks like our server isn't running.

[2018-05-08 18:42] jdm commented on #20756
FYI @KiChjang

[2018-05-08 18:45] jdm commented on #20756
This is https://github.com/servo/servo/blob/master/components/gfx/tests/text_util.rs

[2018-05-08 19:00] mbrubeck commented on #20756
This has happened at least four times (in builds from both #20754 and #20615).  All the instances I've seen are from the same machine, [servo-mac2](http://build.servo.org/buildslaves/servo-mac2).  cc @edunham

[2018-05-08 19:44] jdm commented on #20756
I pulled the binary off of the machine and it continued to segfault. I'm not sure if that means anything.

[2018-05-08 20:04] jdm commented on #20763
Fixed in https://github.com/servo/saltfs/issues/834.

[2018-05-08 20:04] #20763 closed

[2018-05-09 04:34] jdm commented on #20759
Yay, https://github.com/servo/servo/pull/20764 worked.

[2018-05-09 04:34] #20759 closed

[2018-05-09 05:37] jdm opened #20765 "Intermittent pass in /_webgl/conformance/context/context-release-upon-reload.html"
[code]

[2018-05-09 09:36] mrobinson commented on #20762
It seems like this may be a regression from the Gleam/WebRender update. I don't see the scrolling issues before that commit.

cc @nox

[2018-05-09 09:38] nox commented on #20762
The gleam update changes nothing functionally, so probably a WR issue.

[2018-05-09 09:38] nox commented on #20762
Cc @glennw

[2018-05-09 11:10] mrobinson commented on #20762
I'll try bisecting the list of changes in WebRender.

[2018-05-09 11:29] mrobinson commented on #20762
Looks like the culprit is https://github.com/servo/webrender/pull/2691.

[2018-05-09 14:40] mrobinson commented on #16425
I think this can be closed now that this code is only used for ExternalScrollIds and not for stacking contexts. In any case, if we run into a concrete problem, we can open a new bug with specific details.

[2018-05-09 14:40] #16425 closed

[2018-05-09 17:29] jdm opened #20768 "Intermittent failure in /html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-same-origin-fragment.html"
[code]

[2018-05-09 17:48] jdm commented on #20756
This has now been observed on servo-mac4 as well.

[2018-05-09 20:04] aeweston98 commented on #20461
@jdm I have made the skeleton for the compiler plugin (based on unrooted_must_root.rs). I added a new file [verify_webidl.rs](https://github.com/aeweston98/servo/blob/8d5d8510ddda5765853358286daa914bf8658c68/components/script_plugins/verify_webidl.rs) and modified [lib.rs](https://github.com/aeweston98/servo/blob/8d5d8510ddda5765853358286daa914bf8658c68/components/script_plugins/lib.rs#L41-L42).

[2018-05-10 13:40] TomasHubelbauer opened #20773 "Include the Servo version / nightly build date in the window title"
Hey, I am using Servo Tech Demo through the Windows nightly installer and I'd like to suggest Servo version or nightly build date be included in the window title. I am not aware of any other way to tell what version of Servo is being run.

[2018-05-10 15:48] jdm opened #20774 "Android builders are broken when launching python"
[code]
This isn't treated as a buildbot error, but the check_dynamic_symbols.py step fails because libservo.so is missing.

[2018-05-10 15:48] highfive commented on #20774
cc @aneeshusa

[2018-05-10 15:49] highfive commented on #20756
cc @aneeshusa

[2018-05-11 23:53] jdm commented on #20774
This was caused by the first deploy that included https://github.com/servo/saltfs/pull/830. Unfortunately it has affected every single linux build machine by overwriting the installed version of (presumably) virtualenv, in such a way that I have not found a way to undo the problem. Reverting the salt change and highstateing a brand new linux machine yields a working build environment, so the plan

[2018-05-12 00:07] jdm commented on #20774
Recreated:
* [ ] servo-linux1
* [ ] servo-linux2
* [ ] servo-linux3
* [ ] servo-linux4
* [ ] servo-linux5
* [ ] servo-linux6
* [ ] servo-linux-cross1
* [ ] servo-linux-cross2
* [ ] servo-linux-cross3

Highstated:
* [ ] servo-linux1
* [ ] servo-linux2
* [ ] servo-linux3
* [ ] servo-linux4
* [ ] servo-linux5
* [ ] servo-linux6
* [ ] servo-linux-cross1
* [ ] servo-linux-cross2
* [ ] servo-linux-cross

[2018-05-12 01:10] jdm commented on #20756
One possibility to work around this and allow merges to continue would be removing servo-mac2 and servo-mac4 from the pool of builders for mac-dev-unit at https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/master.cfg#L178.

[2018-05-12 01:28] jdm commented on #20756
If the issue is nondeterministic codegen in rustc, we could try disabling codegen-units to see if it affects the output.

[2018-05-12 01:48] jdm commented on #20774
The servo-linux1 issue may be caused by having the buildbot service start in the middle of highstateing while a build was pending.

[2018-05-13 10:42] mkmodrzew commented on #20172
Sorry, but this task is overwhelming me and I will probably find something less demanding

[2018-05-14 14:40] edunham commented on #20774
I will:
- [x] PR a fix to not apply the problem changes to any more linuxes (https://github.com/servo/saltfs/pull/839/files)
- [ ] Recreate servo-linux-cross2 with disk matching cross1
- [ ] manually set up venv on servo-linux1
- [ ] fix perms on servo-linux3

[2018-05-14 15:14] mbrubeck opened #20783 "Link OpenSSL statically in Linux nightly builds"
Our downloadable nightly builds don't work on all Linux distros because they are dynamically linked to a specific version of OpenSSL that is not available everywhere.  We might be able to fix this by setting the `OPENSSL_STATIC` environment variable at build time on the nightly builders:

https://github.com/sfackler/rust-openssl/blob/9e5dcb03f2e429e9a8bda2ade64b6d75058907b8/openssl-sys/build.rs#L5

[2018-05-14 16:04] jdm commented on #20774
I removed the venv for linux-rel-css on servo-linux1 and I'm performing another highstate while no builds are running to test my theory.

[2018-05-14 16:14] jdm commented on #20774
This is the error causing pip installation to fail:
`awscli 1.15.19 has requirement botocore==1.10.19, but you'll have botocore 1.5.95 which is incompatible.`
I think the easiest path forward is to follow https://github.com/servo/saltfs/issues/765#issuecomment-352467079 and switch the awscli installation to use the system package rather than pip.

[2018-05-14 16:16] jdm commented on #20774
I ran `chmod +x` on contents of `android/ndk/r12b/android-ndk-r12b/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/` on servo-linux-cross3.

[2018-05-14 16:33] jdm opened #20784 "clean-cargo-cache fails if no builds have been performed"
[code]

[2018-05-14 16:33] highfive commented on #20784
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-05-14 16:45] jdm commented on #20774
We will need to deploy https://github.com/servo/saltfs/pull/840, fix #20784, and fix https://github.com/servo/servo/pull/20782#issuecomment-388872460 before #20782 can merge.

[2018-05-14 19:00] edunham commented on #20774
@jdm For the DNS stuff, are the correct hosts the ones currently running in AWS?

Also, will you be on IRC today? I'd rather ask you about the details of this in a shorter loop than comments if that's possible.

[2018-05-14 19:07] jdm commented on #20774
I'm on my way to the MR meeting. The correct hosts are the running EC2 instances.

[2018-05-14 19:43] edunham commented on #20774
OK, safe travels. I'll look at DNS when I get a chance and talk to you when you get here :)

[2018-05-14 20:59] edunham commented on #20774
Linux-cross[1-3] and linux-[1-6] DNS is now up to date with the new AWS hosts.

[2018-05-14 21:51] edunham commented on #20774
Uninstalling pip's aws cli with `salt servo-linux* pip.uninstall awscli` on master

[2018-05-15 12:33] jonleighton opened #20787 "Determine whether font_family should be included in style struct hash"
This is in the `compute_font_hash` method.

See @emilio's comment here: https://github.com/servo/servo/pull/20506#discussion_r188263162

[2018-05-15 13:38] jdm commented on #20774
servo-linux-cross3 continues to be in a surprising state:
[code]

[2018-05-15 13:40] jdm opened #20788 "Chaos monkey test sometimes has JSON decode errors"
[code]

[2018-05-15 13:40] highfive commented on #20788
cc @wafflespeanut

[2018-05-15 20:18] klausenbusk commented on #20746
I'm not sure if this is related, but Ctrl+Shift+3 seems to be broken on Linux64. Nothing happens when I press it, no files or errors.

Tested just now with the latest nightly and ~ 10 days ago with the newest nightly at that time.

[2018-05-15 20:42] kwonoj commented on #20746
With current build as-is, it might be somewhat hard. I noticed keep trying (keep pressing ctrl-shift-3) one time did work sometimes, but not reliably.

[2018-05-15 20:48] edunham commented on #20774
Android builds are seeing this breakage of the form
[code]

since May 9th -- see http://build.servo.org/builders/android

[2018-05-16 17:14] jdm opened #20791 "Implement more webgl extensions"
http://apps.amandaghassaei.com/OrigamiSimulator/ looks for the following ones:
[code]
We should figure out what it takes to support them.

[2018-05-16 17:35] jdm opened #20792 "Script thread dies calling has_css_layout_box"
Open https://sketchfab.com/models/311d052a9f034ba8bce55a1a8296b6f9 in master.

[code]

[2018-05-16 18:46] paulrouget commented on #20773
`servo --version`. From the UI, we don't have anything anymore. But we used to with browserhtml iirc.

[2018-05-16 18:48] TomasHubelbauer commented on #20773
This runs but returns without writing anything to stdout for me.

[2018-05-16 19:11] jdm commented on #20774
Latest status!
* servo-linux-cross2 had correct permissions on android NDK files
* I deleted the android NDK directories on servo-linux-cross1 and servo-linux-cross3 and re-deployed. The permissions on those directories are now correct.
* #20784 does not appear to be blocking us any more.
* servo-mac1 has segfaulted while running clang in http://build.servo.org/builders/mac-rel-wpt1/builds/8539/st

[2018-05-16 19:15] jdm commented on #20774
Oh, servo-linux-cross1 mystery is solved - the Android SDK totally did not finish installing correctly. Only the tools directory is present, while other build machines have several other directories as well.

[2018-05-16 19:16] jdm commented on #20774
Looks like servo-linux-cross3 is in the same state. I will delete those SDK directories and re-deploy.

[2018-05-16 20:31] jdm commented on #20774
The latest android build for #20782 passed.

[2018-05-16 21:33] jdm commented on #20774
servo-linux-cross2 is not in a good state (http://build.servo.org/builders/android/builds/11510). servo-linux2 is in a similarly bad state (http://build.servo.org/builders/linux-rel-css/builds/8721).

[2018-05-16 22:37] #20746 closed

[2018-05-17 10:28] nox commented on #20791
That's weird, I implemented [`OES_element_index_uint`](https://github.com/servo/servo/pull/20397).

[2018-05-17 17:15] jdm commented on #20774
Successful builds have occurred on those machines, and #20782 merged. I'm declaring this fixed!

[2018-05-17 17:15] #20774 closed

[2018-05-17 18:56] #20762 closed

[2018-05-17 19:24] jdm opened #20796 "servo-mac3 dies while building"
[code]

[2018-05-17 19:43] jdm commented on #20748
This error goes away if we run Servo with `--pref dom.mutation_observer.enabled`.

[2018-05-17 19:43] jdm commented on #20791
Various aframe examples also show this:
[code]

[2018-05-17 19:48] jdm opened #20797 "A-Frame anime UI example doesn't show anything"
[code]

[2018-05-17 19:50] jdm opened #20798 "A-Frame lights example throws error about duplicate registration"
[code]

[2018-05-17 19:50] jdm commented on #20798
There's no moving light source shown in the rendered result, which may be related.

[2018-05-17 19:53] jdm opened #20799 "A-Frame shopping example shows untextured person"
`./mach run -d --pref dom.mutation_observer.enabled https://aframe.io/examples/showcase/shopping/`

[2018-05-17 19:54] jdm opened #20800 "A-Frame snowglobe example throws a bunch of errors"
[code]

[2018-05-17 19:56] jdm opened #20801 "A-Frame tracked controller example throws GL errors"
[code]

[2018-05-17 20:00] jdm opened #20802 "A-blast showcase fails with an assertion"
[code]

[2018-05-17 20:02] jdm opened #20803 "A-painter showcase has GL and JS errors"
[code]

[2018-05-17 20:04] jdm opened #20804 "A-saturday night doesn't show any text"
The background appears, but no logo or explanatory text or button is visible over it.
./mach run -d --pref dom.mutation_observer.enabled https://aframe.io/examples/showcase/a-saturday-night/

[2018-05-17 20:06] jdm opened #20805 "City builder showcase fails a display list assertion"
[code]

[2018-05-17 20:06] jdm commented on #20805
cc @pyfisch This may interest you.

[2018-05-17 20:07] jdm commented on #20805
(This build required #20740 in order to load A-Frame correctly)

[2018-05-17 20:09] jdm opened #20806 "Museum showcase background doesn't appear"
[code]

[2018-05-17 20:10] jdm commented on #13054
We hit this on a lot of A-Frame examples.

[2018-05-17 20:30] jdm opened #20808 "Sketchfab pages hammer the image cache"
Run `./mach run -d --pref dom.mutation_observer.enabled https://sketchfab.com/models/311d052a9f034ba8bce55a1a8296b6f9` with RUST_LOG=net::image_cache and watch the same requests get made over and over.

[2018-05-17 20:35] jdm opened #20809 "Dance Tonite demo keeps reloading"
`./mach run -d --pref dom.mutation_observer.enabled https://tonite.dance/`

[2018-05-17 20:37] jdm opened #20810 "Stahl House demo throws a JS error"
[code]

[2018-05-17 20:47] jdm opened #20811 "Finding Love demo fails to sniff the user agent"
It's more complicated than just sniffing the user agent, unfortunately:
[code]
The code in question:
[code]

[2018-05-17 20:55] jdm opened #20812 "Access Mars demo requires WebGL readback"
[code]

[2018-05-17 21:28] pyfisch commented on #20805
I can have a look this weekend.

[2018-05-17 22:01] jdm opened #20813 "Linux builders continue to experience python problems"
From servo-linux3 in linux-rel-css:
[code]

[2018-05-17 22:01] highfive commented on #20813
cc @aneeshusa

[2018-05-17 22:17] jdm commented on #20813
This is caused by pip segfaulting while exiting python. I'm attempting to upgrade the installed copy of python to see if it makes a difference.

[2018-05-17 22:19] jdm commented on #20813
Running the problematic command no longer triggers the same error after upgrading python to 2.7.14.

[2018-05-18 05:58] NiLSPACE commented on #20773
Try  `servo --version > customfile.txt` and open the resulting file.

[2018-05-18 06:09] hcorion opened #20815 "discord doesn't work (discordapp.com)"
Steps to reproduce:
1. Go to discordapp.com
2. Click the *Open Discord in your browser* button
3. type in a random username.
4. Observe that discord never loads.

this gets printed to the log:
[code]

[2018-05-18 06:12] jdm commented on #20815
We don't support SSL websockets yet, unfortunately.

[2018-05-18 06:14] hcorion commented on #20815
Do you have an SSL websockets meta issue I can follow?

[2018-05-18 06:16] jdm commented on #19299
I believe we established that this was caused by integration of servo-media and violating the One Definition Rule in C++.

[2018-05-18 06:16] #19299 closed

[2018-05-18 06:20] jdm opened #20816 "Enable secure websockets"
WSS websockets are blocked at https://github.com/servo/servo/blob/a8bdd44ecea6dc6cd553f80e31d1705e3f34c559/components/net/websocket_loader.rs#L141. This comes from https://github.com/servo/servo/commit/19a2516e105f6ac6c4e3d6027c150bd7c06ad89d. We will need to reenable them to support modern web content.

[2018-05-18 13:49] jdm commented on #20756
Observed on servo-mac7 as well (http://build.servo.org/builders/mac-dev-unit/builds/11897/steps/test/logs/stdio).

[2018-05-18 13:52] jdm opened #20817 "Intermittent pass in /css/CSS2/floats/floats-in-table-caption-001.html"
[code]

[2018-05-18 15:59] jdm opened #20818 "Intermittent pass in /css/cssom-view/matchMedia.xht"
[code]
This is probably a result of the changes in #20615.

[2018-05-18 16:37] KiChjang commented on #20818
Hmm... This sort of hints to me that there is a race condition when trying to get the window size of the iframe.

[2018-05-18 16:44] jdm commented on #20756
I can reproduce the exact same issue on servo-mac2 with the following testcase:
[code]
and running `rustc --test foo.rs`. This appears with the 2018-05-14 nightly; it does not appear with the 2018-04-14 (our previous pinned rust version). I'm going to get a regression range and file a bug upstream; we should revert our last rustc update to allow our CI to make progress.

[2018-05-18 16:52] jdm commented on #20756
https://github.com/rust-lang/rust/issues/50867

[2018-05-18 20:41] #20710 closed

[2018-05-18 23:04] jdm opened #20821 "Font cache thread intermittently cannot be reached during shutdown ("Couldn't receive FontCacheThread reply")"
[code]

[2018-05-19 00:42] fabricedesre opened #20822 "Flex layout is not updated on window resize"
Consider the following document:
[code]
It displays 3 sections of equal width using flexbox. When loading this file, the layout is as expected.

Now resize the window. Instead of resizing the divs, nothing happens until the mouse hovers on one of the sections.

[2018-05-19 01:10] fabricedesre commented on #4159
@zbraniecki Now that https://github.com/servo/servo/pull/20740 has landed I think we are in a much better shape. Do you have a test suite we can run on Servo?

[2018-05-19 01:20] zbraniecki commented on #4159
www.projectfluent.org uses Fluent (which is the new incarnation of L20n). If it doesn't work, I'll have to dig deeper to find what breaks.
You can also try a simple example - https://github.com/projectfluent/fluent.js/blob/master/fluent-web/examples/simple.html

[2018-05-19 01:28] zbraniecki commented on #4159
Ok, the website seems to work! The exampl doesn't because servo uses old SpiderMonkey(?) - async functions don't work, `const` in for loops etc. I think once we get an update of SM we should be good! :)

[2018-05-19 03:49] #20372 closed

[2018-05-19 03:49] #20553 closed

[2018-05-19 03:49] #20554 closed

[2018-05-19 03:55] gterzian commented on #12776
I'm looking into this one and have to say it's a very tempting one. Isn't the dream of every programmer supposed to be building their own text editor?

I guess this would involve quite a lot of plumbing with the compositor and the embedder(spelling check?). @paulrouget

Do you think it would be feasible to do the initial plumbing, and get to a point where one can edit a simple element like `<p>` a

[2018-05-19 04:29] jdm commented on #12776
I strongly suspect that you are the only person who has put any thought into what would be required. I doubt any of the team could even describe what contenteditable support entails :)

[2018-05-19 05:08] #20556 closed

[2018-05-19 05:12] jdm opened #20825 "Intermittent crash in /html/browsers/history/the-location-interface/location-protocol-setter.html"
[code]

[2018-05-19 10:39] gterzian opened #20826 "Add context to EmbedderMsg::GetSelectedBluetoothDevice"
See https://github.com/servo/servo/pull/20707#discussion_r189423367

[2018-05-19 10:40] gterzian opened #20827 "Add context to EmbedderMsg::SetCursor"
see https://github.com/servo/servo/pull/20707#discussion_r189423651

[2018-05-19 13:21] jdm opened #20828 "Intermittent timeout in /css/css-fonts/variations/font-parse-numeric-stretch-style-weight.html"
[code]

[2018-05-19 15:06] jdm commented on #20796
`top` shows that servo-mac1 only has ~2.7gb of RAM free when sitting idle. I think we're just OOMing while building, and it's hitting us frequently.

[2018-05-19 15:08] jdm commented on #20796
@edunham Is servo-mac1 supposed to only have ~8gb of RAM? That seems to be 50% of every other mac builder that I've looked at.

[2018-05-19 17:26] jdm opened #20831 "Intermittent timeout in /_mozilla/mozilla/worklets/test_paint_worklet_loading.html"
[code]
The output suggests that the worklet content received was not actually the expected content.

[2018-05-19 21:35] jdm commented on #20734
This has been observed on both linux and mac.

[2018-05-20 03:13] atouchet opened #20833 "Browser.html start screen tile bottom borders no longer appear when Servo window is maximized"
URL: https://servo.org/bhtml-newtab/newtab.html

Steps to reproduce:

1. Load https://servo.org/bhtml-newtab/newtab.html in a window.
2. Maximize the window.
3. Some of the bottom tile borders no longer appear.

![Missing borders](https://i.imgur.com/e6n0vCK.png)

This regression first occurred in the [2018-04-30](http://servo-builds.s3.amazonaws.com/) nightly build. Tested in Windows 10.

[2018-05-20 03:27] atouchet commented on #18913
![X marks](https://i.imgur.com/9zuSCsg.png)

U+2715 (along with the other symbols) is now displayed in Servo.

[2018-05-20 03:27] #18913 closed

[2018-05-20 03:52] tigercosmos opened #20834 "Ubuntu 14.04, 16.04 build failed: undefined reference to 'hb_font_funcs_set_nominal_glyph_func'"
I can build servo a month ago in this environment(Ubuntu 16.04). But now I cannot build the current version. Are there big change recently?

I have followed `README` to install dependencies **_again_**. Also refer `.travis.yml` to install something not in `README`.

[code]

[2018-05-20 06:40] gterzian commented on #12776
Looking at `HTMLTextAreaElement` and `TextInput`, I have a couple of ideas/notes:

1. For spelling check(which is also necessary for 'normal' editing via inputs), we could add a second type parameter to `TextInput` giving you something like `TextInput<T: ClipboardProvider, S: SpellingCheckProvider>`. And follow the pattern of `ClipboardProvider`, which is a trait implemented for `script_to_constel

[2018-05-20 07:50] pyfisch commented on #20834
Have you done this?

[2018-05-20 13:31] saschanaz opened #20836 "Screen shifts to top-right direction"
![image](https://user-images.githubusercontent.com/3396686/40279392-f7a4d03e-5c7c-11e8-812a-a3fd5fb5a1bd.png)

This is the initial screen when I turn Servo on, and I cannot scroll to the upper position.

On Surface 3, Windows 10, with device recommended 150% scale.

[2018-05-20 15:54] jdm commented on #12776
1. Yes, the marker would be only affect layout.
5. Seems plausible.
6. It could be part of LayoutElementHelpers, presumably.

[2018-05-20 15:59] jdm commented on #20836
This looks like a duplicate of #20505.

[2018-05-20 16:50] #20623 closed

[2018-05-20 18:49] emilio opened #20839 "Intermittent crash in /html/browsers/history/the-location-interface/location-protocol-setter.html"
<details>

[code]

</details>

cc @cbrewster

[2018-05-20 22:29] #20836 closed

[2018-05-21 11:54] paulrouget commented on #12776
I have no idea if that makes sense or not, but I thought I would ask. Is supporting IME support necessary before tackling content editing? We already have so many editing issues with regular text boxes.

[2018-05-21 13:16] jdm commented on #20825
Duplicate of #20839.

[2018-05-21 13:16] #20825 closed

[2018-05-21 13:18] jdm commented on #12776
If we reuse our existing text input support, I don't see any reason to insist on IME support first. If we were duplicating code, I would be more concerned.

[2018-05-21 17:33] SimonSapin opened #20844 "Tracking issue for upgrading rustc Nightly"
* Upgrading from `nightly-2018-04-15` to `nightly-2018-05-03` (#20703, reverted in #20820) has uncovered https://github.com/rust-lang/rust/issues/50867, whose root cause [might be in XCode](https://github.com/rust-lang/rust/issues/50867#issuecomment-390435849). @jdm, can we upgrade our CI to XCode 8?
* Upgrading further to `nightly-2018-05-17` or later is blocked on https://github.com/rust-lang/ru

[2018-05-21 17:53] jdm commented on #20844
@edunham will be better able to answer the question about what's required to upgrade XCode on our mac builders.

[2018-05-22 04:49] jdm opened #20846 "Intermittent timeout in /css/CSS2/selectors/first-letter-punctuation-033.xht"
[code]

[2018-05-22 13:18] paulrouget opened #20847 "Duplicate rendering when changing viewport coordinates"
STR:

HTML:

[code]

Change this in servo:

[code]

Result:

<img width="1136" alt="screen shot 2018-05-22 at 15 16 41" src="https://user-images.githubusercontent.com/373579/40364644-29c2ea68-5dd3-11e8-81d1-4bad39e7caf3.png">

@glennw any idea why the content doesn't stay in the top square? When we add a document (via `add_document`), are we supposed to use the size of the framebuffer of the size

[2018-05-22 13:54] paulrouget commented on #20847
/cc @gw3583

[2018-05-22 15:51] fabricedesre commented on #20335
Interesting... what do you mean by "chrome document" here? Is there any markup rendering attached to it?

[2018-05-22 18:38] zbraniecki commented on #4159
I believe that means we're only blocked by #20585 now.

[2018-05-22 18:42] fabricedesre commented on #4159
Right now we can run in "compat" mode, but yes we need https://github.com/servo/servo/issues/20585 to get all the goodies.

[2018-05-22 19:00] #20813 closed

[2018-05-22 19:07] jdm opened #20849 "Use DataView in bluetooth APIs"
This requires #20417 before it can be worked on.

[2018-05-22 19:07] jdm commented on #20345
Tracking DataView in #20849.

[2018-05-22 19:07] #20345 closed

[2018-05-22 19:08] jdm commented on #19797
This is open for anybody to work on.

[2018-05-22 19:10] jdm commented on #20734
From #testing:
[code]

[2018-05-22 20:11] jdm commented on #20734
[code]

[2018-05-22 21:01] gw3583 commented on #20847
I don't think you should have to change any layout coordinates. Any ideas @kvark ?

[2018-05-23 01:39] jdm commented on #20734
[code]

[2018-05-23 05:26] SimonSapin commented on #20844
It turns out that XCode 8 requires macOS 10.11, so we probably need to update some (not all!) of our CI builders.

[2018-05-23 11:16] paulrouget commented on #20335
A chrome document is nothing different from a content document. And by document, I mean a WebRender document. It's just we will display 2 web pages on the screen (not iframes) and the embedder will send to the "chrome" document some messages about the state of the browser.

The chrome document won't have any special APIs, it will just receive and send messages (via postMessage). The content browse

[2018-05-23 11:59] paulrouget commented on #20847
I believe I need to set the document dimension in `add_document`. It appears to work better. I'm confused to why this is necessary as `set_window_parameter` is supposed to used to send the same information.

[2018-05-23 12:10] paulrouget commented on #20847
Less content is rendered in the bottom part, but still, there's still a red square there.

[2018-05-23 13:43] jdm opened #20852 "Intermittent timeout in /_mozilla/mozilla/img_find_non_sibling_map.html"
[code]

[2018-05-23 14:58] fabricedesre commented on #20335
so how will you manage the positioning of the "content" documents in the "chrome" one?

[2018-05-23 15:07] fabricedesre commented on #20335
I guess I don't understand why you need a chrome WR view/doc at all. Is it because you want to implement some logic in chrome in JS?

[2018-05-23 15:27] paulrouget commented on #20335
That's not a problem. You can always create another view and draw tabN in that new view.

We don't want to create N views for N tabs. We just reuse the same view everytime. But if you want to split the browser in 2, that's totally possible.

[2018-05-23 16:04] aneeshusa commented on #20844
https://github.com/servo/saltfs/issues/811 is tracking upgrading our macOS builders to macOS 10.11.

[2018-05-23 16:08] tigercosmos commented on #20834
I suspect that caused by I change linux kernel from default to v4.14.25.
Anyway, I success again in a new environment.

[2018-05-23 19:22] kvark commented on #20847
Document scissoring appears to be broken right now (in our own "document" example). I'm looking into it.

[2018-05-24 00:36] jonpemby commented on #20822
I can work on this. I've never contributed before, so if that's an issue please let me know and I'd be happy to find something else to work on. 😄

[2018-05-24 01:07] fabricedesre commented on #20822
Thanks @jonpemby ! For some reason I can't assign that issue to you but I'll get someone else to do it.

[2018-05-24 01:49] jdm commented on #20822
https://github.com/servo/servo/blob/521748c01e0a932ecb7d6801732e2a5cc516903e/components/script/script_thread.rs#L2483 is supposed to be invoked when resizing the window, which should end up reaching [this code](https://github.com/servo/servo/blob/master/components/layout_thread/lib.rs#L707-L713). Figuring out what's different between that reflow and the one that is triggered when clicking in [this

[2018-05-24 11:31] #20536 closed

[2018-05-24 11:31] #20537 closed

[2018-05-24 11:31] #20538 closed

[2018-05-24 11:31] #20544 closed

[2018-05-24 11:31] #20545 closed

[2018-05-24 11:31] #20546 closed

[2018-05-24 11:31] #20548 closed

[2018-05-24 11:31] #20549 closed

[2018-05-24 11:31] #20551 closed

[2018-05-24 13:29] jonpemby commented on #20822
Awesome, thanks for the pointer 😃

[2018-05-24 14:05] paulrouget opened #20855 "Implement a proper Android port"
I'll use this issue to log my thoughts on how to properly implement an Android port.

The way it works today is:

- The glutin port (`/ports/servo/`) is built as a library (even though `Cargo.toml` says it's a binary) by hijacking the linker (see `fake-ld.sh`)
- a basic java app creates a SurfaceView
- it loads the servo libary which will create the GL context
- the loop is in the library

The way

[2018-05-24 14:35] #20497 closed

[2018-05-24 14:35] #19786 closed

[2018-05-24 15:08] jdm opened #20856 "Intermittent failure in /html/browsers/history/the-history-interface/007.html"
[code]

[2018-05-24 16:59] #19992 closed

[2018-05-24 22:38] jdm opened #20859 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/misc/shader-uniform-packing-restrictions.html"
[code]

[2018-05-25 06:34] gterzian commented on #13241
Ok, I'll be moving on to this one, starting with https://github.com/servo/servo/pull/20678(which I guess doesn't make a lot of sense to merge on it's own with all those TODO's and test failures left?).

I propose somewhat clarifying the scope of this  issue, which includes a bunch of interrelated concepts such as:

1. https://html.spec.whatwg.org/multipage#auxiliary-browsing-contexts
2. https://ht

[2018-05-25 08:48] nox commented on #20791
From easiest to hardest to implement:

* `EXT_shader_texture_lod` — just a matter of enabling/disabling it.
* `EXT_texture_filter_anisotropic` — one tex parameter, one parameter.
* `WEBGL_depth_texture` — new values for some `texImage2D` parameters.
* `ANGLE_instanced_arrays` — requires entirely new bookkeeping on the DOM side.

[2018-05-26 07:03] tigercosmos opened #20863 "`overflow:scroll` not works, cannot scroll, no scrollbar"
Test case:
[code]
the code above should be like the following, but in `overflow:scroll` only one block could be seen.
[code]

In ***Firefox***, there is a scroll bar that I can scroll it.
![default](https://user-images.githubusercontent.com/18013815/40573521-1f8c498e-60f5-11e8-85aa-08e6ffbc4d6f.png)

however, in ***Servo*** there is no scroll bar can scroll it. I cannot even use javascript: ` scro

[2018-05-26 16:51] CYBAI opened #20866 "Outline shows incorrectly"
URL: http://prismjs.com/

Scroll to the `Basic Usage` section and check the red outline in the code block

In Firefox Nightly:
![image](https://user-images.githubusercontent.com/6782666/40578435-93957afc-6146-11e8-869f-cf03c58ed635.png)

In Servo:
![image](https://user-images.githubusercontent.com/6782666/40578518-0417e746-6148-11e8-8fea-422133235124.png)

Note: Servo is built from 4e6b100c7e

Tes

[2018-05-26 16:55] tigercosmos commented on #20866
Might be caused by the CSS
![default](https://user-images.githubusercontent.com/18013815/40578568-90aa97ee-6148-11e8-9a3c-c50969be23cd.png)

[2018-05-26 16:56] CYBAI commented on #20866
Simplified test case

![image](https://user-images.githubusercontent.com/6782666/40578581-c4f68c4c-6148-11e8-98f6-5f04cbb2400c.png)

[2018-05-26 17:27] tigercosmos opened #20867 "implement overflow directions in layout/query.rs"
Currently `overflow_direction` in the layout is just a hard code which is always to be `OverflowDirection::RightAndDown `

SPEC: https://drafts.csswg.org/cssom-view/#overflow-directions

https://github.com/servo/servo/blob/0ff6f32d7d4eb597a1ea9ea7480c0371b79386b4/components/layout/query.rs#L388-L399

[2018-05-27 15:08] tigercosmos commented on #18178
I use this [site](http://www.craftymind.com/factory/guimark3/compute/GM3_JS_Compute.html) to test canvas, it is really slow now.

In servo, it is only 20s fps. However, in other modern browsers, it will be 60.

![default](https://user-images.githubusercontent.com/18013815/40587532-bfbf11e4-6202-11e8-8a54-1171e52d2fe1.png)

[2018-05-28 16:33] jdm opened #20872 "Intermittent failure in /html/semantics/forms/form-submission-0/submission-checks.window.html"
[code]

[2018-05-28 17:26] jdm opened #20873 "Intermittent pass in /css/css-text/i18n/zh/css-text-line-break-zh-in-strict.html"
[code]

[2018-05-28 23:38] jdm commented on #20796
This is an ongoing problem with servo-mac3, so I've taken to shutting the machine down whenever it starts acting up.

[2018-05-29 08:35] #19477 closed

[2018-05-29 09:33] tigercosmos commented on #18202
@jonleighton  Did #20506 cover this?

[2018-05-29 15:36] jdm opened #20875 "Update type of custom element constructor"
https://github.com/whatwg/html/pull/3703

[2018-05-29 18:04] tigercosmos commented on #20875
I would like to try. I thought just modify the code is in `components/script/dom/customelementregistry.rs`.
[code]
to
[code]

Do we have `Any` type?

[2018-05-29 18:12] tigercosmos commented on #20867
Could someone help to add `layout/query` label? thanks

[2018-05-29 18:26] jdm commented on #20875
We should store a `Rc<CustomElementConstructor>`, which is the name of the generated callback type.

[2018-05-29 19:10] jdm opened #20876 "Many A-Frame examples fail when getting the GL_MAX_VERTEX_UNIFORM_COMPONENTS parameter"
`./mach run -r --pref dom.gamepad.enabled --pref dom.mutation_observer.enabled https://aframe.io/examples/showcase/sky/`
[code]
[code]

[2018-05-29 19:11] jdm commented on #20876
This also hits https://aframe.io/examples/showcase/animation/.

[2018-05-29 19:16] jdm commented on #20875
Right. So it should be possible to import `dom::bindings::codegen::Bindings::CustomElementRegistryBinding::CustomElementConstructor` to use it the same way we use `Function`, as far as I know.

[2018-05-29 19:49] jdm commented on #20876
This is a regression. I'm going to track down the cause, but I suspect #20771.

[2018-05-29 20:00] jdm commented on #20876
3e510ec008394e592b272813a47b16742fe8bb1d is to blame.

cc @nox

[2018-05-29 21:04] jdm commented on #20876
https://mozilla.logbot.info/servo/20180529#c14824105-c14824143

[2018-05-29 21:10] jdm commented on #20876
#20878 gave me this output:
[code]

[2018-05-29 21:13] jdm commented on #20876
I suspect the tests didn't pick this up because mesa handles it, while regular desktop GL drivers don't.

[2018-05-30 02:09] paulrouget commented on #20855
TODO:

- [ ] test VR mode.

[2018-05-30 02:49] paulrouget commented on #20855
Initial work can be found here: https://github.com/paulrouget/servo/tree/servobridge

[2018-05-30 08:49] SimonSapin commented on #20844
Updating macOS might not be blocking after all, per https://github.com/rust-lang/rust/issues/50867#issuecomment-393081919 we should be able to upgrade now.

[2018-05-30 09:47] #20844 closed

[2018-05-30 10:31] tigercosmos commented on #20834
Also happen in Ubuntu 14.04

[code]

[2018-05-30 12:02] tigercosmos commented on #20834
Even if I build package manually, it still failed.
http://www.linuxfromscratch.org/blfs/view/svn/general/harfbuzz.html

[2018-05-30 13:54] #20875 closed

[2018-05-30 17:18] Beta-Alf commented on #20172
I would like to try my hand on this.

[2018-05-30 18:06] jdm opened #20883 "Mark imported webgl tests as requiring a longer timeout"
Maybe this will make them less susceptible to timeouts and therefore more reliable. It will have to happen automatically as part of the import process in https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/webgl/tools/import-conformance-tests.py.

[2018-05-30 18:07] highfive commented on #20883
cc @wafflespeanut

[2018-05-30 18:07] jdm commented on #20883
https://github.com/servo/servo/blob/139055fca32de5e5a30161112752294770bdf67f/tests/wpt/web-platform-tests/tools/wptrunner/test/testdata/testharness/testharness_long_timeout.html#L3

[2018-05-30 18:10] jdm commented on #20172
@Beta-Alf Great! Please ask questions if anything is unclear!

[2018-05-30 21:58] jdm commented on #20074
This should be fixed by https://github.com/servo/ipc-channel/pull/199.

[2018-05-31 00:48] paulrouget commented on #20847
@kvark Updating WR doesn't look trivial (few changes in the API). Are you planning an update soon?

[2018-05-31 00:49] paulrouget commented on #20335
Blocked on #20847

[2018-05-31 01:28] fabricedesre commented on #20335
One more question @paulrouget : if one surface paints the chrome, and another the content, the chrome one can't paint eg. a prompt dialog on top of the content? And you have to rely on a 3rd rendering mechanism for that (likely native android in your case)?

[2018-05-31 01:48] paulrouget commented on #20335
Correct. Same if you want to have url suggestions as you type. You can also make it so the chrome covers the whole window with a transparent area for the content document (areas can overlap).

[2018-05-31 01:52] kvark commented on #20847
Tomorrow, according to @gw3583 :clap:

[2018-05-31 02:00] fabricedesre commented on #20335
Right... I guess the full size chrome with transparent areas and events pass-through is what I will play with as an alternative to a `<webview>` element. I'll have to do all the window management in Rust though, and I wonder how much that will impact performance for gestures like swipes.

[2018-05-31 02:19] paulrouget commented on #20335
This should not affect the performance. This is a lower level approach than anything we had before. For swiping, the animation will be done on WR documents or GL surfaces. You might still have to send the native events to the DOM to see if it's prevented or not, but that would also be necessary for a regular webview approach.

The current embedding API is more difficult to use than a regular webvi

[2018-05-31 02:58] fabricedesre commented on #20335
We'll see. A DOM transition that goes on the GPU should not be slower than this setup. And here what I am mostly worried about is the amount of messaging between the different parts. But time will tell :)

[2018-05-31 03:15] paulrouget commented on #20335
At the end it's the same code path.

[2018-05-31 08:11] paulrouget commented on #20855
Current status:

- introduced /ports/libservojni with a very simple API
- introduced /support/android/servoview, a basic Android widget that loads libservojni
- refactored the main Android app to make use of the servoview. Added few widgets
- toolchain didn't have to change:
  - `./mach build -d --android` builds libservojni.so
  - `./mach package --dev --android` builds servo.apk
  - `./mach inst

[2018-05-31 11:53] gterzian opened #20887 "Potentially insecure sharing of event loops between differing schemes"
In the context of [#same-origin-domain](https://html.spec.whatwg.org/multipage/origin.html#same-origin-domain) and how this relate to the browsing context forming a [#unit-of-related-similar-origin-browsing-contexts](https://html.spec.whatwg.org/multipage/browsers.html#unit-of-related-similar-origin-browsing-contexts) and being able to share an event loop:

I think our current implementation of [`

[2018-05-31 12:00] jonleighton commented on #18202
@tigercosmos It improved the fallback situation, but I'm sure there are still edge cases and things to do. Still, lots of CJK stuff should now be rendering when it didn't previously.

[2018-05-31 13:03] tigercosmos commented on #20834
I found the point. We need to add `export  CARGO_INCREMENTAL=0` !!

[2018-05-31 13:04] tigercosmos commented on #20736
@cadeyrn  Could you try add `export CARGO_INCREMENTAL=0`?

[2018-05-31 13:43] gouessej commented on #18479
Sorry, I hesitated to create a separate issue for my question but how can I embedded Servo in a Java/JOGL software? Of course, JOGL is able to create an OpenGL context, NEWT (its own windowing API) is able to drive the event loop to ensure rendering and input processing but is there a JNI binding for Servo?

I'd like to use Servo with JOGL to render web pages. I'd like to be able to write the UIs

[2018-05-31 18:13] tigercosmos opened #20888 "dependencies required for mozjs"
since recent commits, the build will fail with C++ errors. Either in Win10, or Ubuntu 16.04, as far as I know.

I add `apt install clang` and fix the Ubuntu. But I don't know how to fix Windows.

[2018-05-31 19:28] jdm commented on #20887
@asajeffrey You probably have thoughts on this.

[2018-05-31 20:49] #20876 closed

[2018-05-31 21:20] kwonoj commented on #20888
This seems related to `mozjs` now requires clang. For windows, easiest way is install llvm as instructed in mozjs (https://github.com/servo/mozjs/#building)

[2018-05-31 21:22] kwonoj commented on #20888
actually it isn't 100% true, I got some other failures in mozjs still. need dig bit more.

[2018-05-31 23:06] KiChjang opened #20890 "GetChildBrowsingContextId returns BCIDs in reverse tree-order"
Given the following HTML:
[code]

Running `window[0]` would return the iframe with the src of `004-2.html`, and `window[1]` returns the one with `004-1.html`.

The relevant code snippet in the constellation that processes this IPC message is here:
https://github.com/servo/servo/blob/022daccbe102aa67c6a4442f8d9cbccc3a7e221b/components/constellation/constellation.rs#L1166-L1174

... which causes me

[2018-05-31 23:07] jdm commented on #20890
The iterator appends the child browsing contexts in tree order (https://github.com/servo/servo/blob/022daccbe102aa67c6a4442f8d9cbccc3a7e221b/components/constellation/browsingcontext.rs#L136), but returns them in reverse order because it uses [pop](https://github.com/servo/servo/blob/022daccbe102aa67c6a4442f8d9cbccc3a7e221b/components/constellation/browsingcontext.rs#L125).

[2018-06-01 01:15] asajeffrey commented on #20887
Yes, there is possibly more sharing than necessary here, if we want to isolate http://example.com/ from https://example.com/. This makes a difference once we're using process isolation to protect against Spectre. There's a question about whether the security gain of protecting https from http is worth the overhead. I was planning on thinking about this when we're doing process isolation.

[2018-06-01 01:56] tigercosmos commented on #20888
d0cc9d2cd56a197fdfb72d8c0168d4cf2bb23bdb did add lib in script. I don't know why it doesn't work.

[2018-06-01 02:04] paulrouget commented on #18479
In theory, there's nothing blocking you here.
Would you need to render the page on a texture or would the page have its own gl buffer?

[2018-06-01 02:11] kwonoj commented on #20888
@tigercosmos actually that reveals reason why for me on windows, https://github.com/servo/servo/commit/d0cc9d2cd56a197fdfb72d8c0168d4cf2bb23bdb#diff-e6bf833f91496efdbd7e4e9ecfc7a4cdR7 points deps to llvm 4 while mozjs requires 6. I tried manually handcraft script to point local installation to llvm 6, and was able to get build working.

Guess resolution'll be update deps to 6, while `servo-deps.s3

[2018-06-01 02:16] tigercosmos commented on #20888
@kwonoj sounds reasonable. What do you think @asajeffrey?

[2018-06-01 05:43] gterzian commented on #20887
Ok, thanks for the info, I will not try to change this for now...

[2018-06-01 13:51] jdm opened #20893 "Intermittent pass in /html/semantics/forms/resetting-a-form/reset-form-event-realm.html"
[code]

[2018-06-01 17:15] tigercosmos commented on #20888
@jdm  Could we put the file `https://servo-deps.s3.amazonaws.com/msvc-deps/llvm-6.0.0.zip` to cloud?

[2018-06-01 17:30] asajeffrey commented on #20888
Hmm, mozjs requires llvm 6? I thought it only needed llvm 4.

We could upload llvm6 to aws, but I'm a bit concerned this might break anything that depends on old versions of clang (I seem to remember osmesa being picky?)

[2018-06-01 17:36] tigercosmos commented on #20888
@asajeffrey  could let both llvm 4 and llvm 6 on the cloud. Servo read the version in `package.py`. We could test it first.

[2018-06-01 19:17] asajeffrey commented on #20888
Could do but I'm a bit surprised llvm 6 is needed, llvm 4 works for me on my local machine, and also on the build machines.

[2018-06-01 19:21] kwonoj commented on #20888
may be related to msvc version? this is message I got on local machines for reference.

[code]

[2018-06-01 20:45] kwonoj commented on #20888
Created one-liner change https://github.com/servo/servo/pull/20895 to bump.

[2018-06-01 20:50] asajeffrey commented on #20888
OK, lets see if that works on CI.

[2018-06-01 22:03] asajeffrey opened #20896 "Intermittent timeout in /html/browsers/browsing-the-web/history-traversal/window-name-after-same-origin-aux-frame-navigation.sub.html"
http://build.servo.org/builders/mac-rel-wpt2/builds/8748

[2018-06-01 22:17] jdm commented on #20896
[code]
I suspect the error output confused the harness somehow.

[2018-06-01 22:28] asajeffrey commented on #20896
Hmm, seems likely, bit odd that it's intermittent :/

[2018-06-02 03:34] tigercosmos commented on #20888
Sorry. My fault.

[2018-06-02 03:34] #20888 closed

[2018-06-02 07:26] tigercosmos opened #20898 "https://medium.com cannot scroll down"
I don't know why servo cannot scroll down the page at https://medium.com/

with the latest commit `./mach run -d https://medium.com/`

[2018-06-02 09:26] tigercosmos opened #20899 "Windows build cannot run"
With latest commit, after build in windows 10 with VS2017.

`mach.bat run -d http://google.com` and crash

![image](https://user-images.githubusercontent.com/18013815/40872951-f57f0f60-6689-11e8-8905-95c0dc944b3b.png)

need someone double check.

[2018-06-02 10:08] CYBAI commented on #20899
Just curious if there's any error logs?

[2018-06-02 11:26] tigercosmos commented on #20899
crash before any log

[2018-06-02 18:13] CYBAI opened #20902 "Unknown pipeline used for iframe error when navigating to google"
`./mach run https://google.com` in the latest master (5683f09). I will see these `pipeline` error when navigating to google homepage.

[code]

Built on `macOS 10.12.6`

[2018-06-02 19:06] tigercosmos opened #20903 "`getPropertyValue` can't read `outline`"
[code]
should get `rgb(255, 0, 0) solid 2.66667px`, but log nothing in Servo.

related code:
https://github.com/servo/servo/blob/5683f09a0b4ed1ca6a5f2075060b36b3ccc0ca36/components/script/dom/cssstyledeclaration.rs#L228-L232

https://github.com/servo/servo/blob/5683f09a0b4ed1ca6a5f2075060b36b3ccc0ca36/components/script/dom/cssstyledeclaration.rs#L211

[2018-06-02 19:17] emilio commented on #20903
That's because outline is a shorthand, and we return the empty string for those.

I think we should support shorthands in getComputedStyle and I'm doing related work in FF, but FF also returns the empty string.

[2018-06-02 21:00] kwonoj commented on #20899
this seems intermittent - so far on latest tot master, I didn't observe same issue (win 10)

![image](https://user-images.githubusercontent.com/1210596/40880838-3ea53e66-666d-11e8-9b57-0b6609bc8bf7.png)

[2018-06-03 00:07] JacksonCoder commented on #20357
I would like to take on this issue, if possible. What files or parts of the project handle the WebGL extension registry?

[2018-06-03 07:09] EricXu1990 commented on #14487
@jdm Thanks very much !

[2018-06-03 15:26] gterzian opened #20906 "Fix Location.SetHref for Iframe with no src"
test: "/html/browsers/browsing-the-web/navigating-across-documents/005.html"
code: https://github.com/servo/servo/blob/d23bc4f1a4e3e56290f823b0466f7ca6905f8ccd/components/script/dom/location.rs#L165

spec: https://html.spec.whatwg.org/multipage/#attr-iframe-src

Current error: `Error at http://web-platform.test:8000/html/browsers/browsing-the-web/navigating-across-documents/005.html:1:1 Couldn't p

[2018-06-03 15:41] jdm commented on #20906
That's a [fascinating test](https://github.com/servo/servo/blob/ddaa679f3914945cb68c1d79691b31c6b2fe3644/tests/wpt/web-platform-tests/html/browsers/browsing-the-web/navigating-across-documents/005.html)! For clarity:
* there is an iframe that is pointed at about:blank
* there is an `<a>` element with an `onclick` that sets the iframe's contentWindow.location to a relative URL
* this makes Window::

[2018-06-03 15:44] jdm commented on #20906
The problem here may actually be the implementation of Location::SetHref. [The spec](https://html.spec.whatwg.org/multipage/history.html#dom-location-href) says to use the entry settings object as the base URL, while we're using the location's window object's URL.

[2018-06-03 15:47] gterzian opened #20907 "Tokenize features arg, and setup such features, when creating a browsing context"
Follow up for https://github.com/servo/servo/pull/20678

Spec:

1. https://html.spec.whatwg.org/multipage/#concept-window-open-features-tokenize
2. Step 4 and 8 of https://html.spec.whatwg.org/multipage/#window-open-steps
3. https://drafts.csswg.org/cssom-view/#set-up-browsing-context-features

code: depends on the above PR, likely to be somewhere around https://github.com/servo/servo/pull/20678/f

[2018-06-03 17:47] jdm opened #20908 "Globals have their own microtask queue that is separate from script thread's queue"
GlobalScope has a microtask queue that is used to support promises in worker runtimes. This is used from places like AutoEntryScript, which directly invokes `GlobalScope::perform_a_microtask_checkpoint`. Meanwhile, ScriptThread has its own `perform_a_microtask_checkpoint` which ignores the microtasks of any globals associated with that thread and uses its own internal microtask queue, which is man

[2018-06-03 20:06] fabricedesre opened #20909 "images sometimes disappear when navigating back <> forward"
I can reproduce with these steps:
- open https://google.com.
- navigate to the link below the input box (currently a youtube tv page for me).
- navigate back with `alt + left`

Observed:
The Google logo has disappeared.

Expected:
The Google logo is displayed.

When alternating from the one page to the other with `alt left` and `alt right`, the image eventually re-appears.

@glennw could that be s

[2018-06-03 22:29] gw3583 commented on #20909
It's possible - it seems more likely to be related to Servo code though, since I'm not aware of anything similar occurring in Gecko.

[2018-06-04 00:07] fabricedesre commented on #20909
Ok thanks. Do you know by chance where I should look?

[2018-06-04 07:41] paulrouget commented on #20379
On a transition, are we supposed to wakeup the embedder loop on each frame? It looks like we do, but I thought that the point of `setAnimationState(animating)` was to avoid having to do so.

[2018-06-04 11:13] gouessej commented on #18479
@paulrouget Do I have to write the JNI bindings myself? I try to evaluate the amount of time required to have something partially working. I saw somewhere that you're working on a tiny JNI binding targeting Android.

I was thinking about using a FBO to render to a texture as a first step. What do you mean exactly by "its own gl buffer"?

[2018-06-04 13:47] paulrouget commented on #18479
PR #20912 will provide a simple servo library for Android with the JNI bindings.

You can render on a texture. That will work.

[2018-06-04 13:52] meecoffee commented on #12130
Android nightly APK download link?

[2018-06-04 13:53] meecoffee opened #20913 "Android nightly APK download link?"
even buggy pls give dev

[2018-06-04 13:53] jdm commented on #20913
It is not usable yet, so there's no point.

[2018-06-04 13:53] #20913 closed

[2018-06-04 13:55] meecoffee commented on #20913
..

[2018-06-04 14:21] jdm opened #20914 "Intermittent panic in /encoding/single-byte-decoder.html?XMLHttpRequest and /encoding/single-byte-decoder.html?document"
[code]
We might be able to avoid this if we just read the files once at process startup rather than each time a layout thread is created.

[2018-06-04 14:37] tigercosmos commented on #20913
Maybe you can follow the #20912 work.

[2018-06-04 14:50] jdm opened #20916 "Make proxy and non-proxy JS layouts match"
Once we upgrade to a recent SpiderMonkey, we can port https://bugzilla.mozilla.org/show_bug.cgi?id=1237504 to make proxy and non-proxy DOM objects more similar.

[2018-06-04 15:35] jdm commented on #18639
This was fixed by #20472.

[2018-06-04 15:35] #18639 closed

[2018-06-04 21:00] jdm opened #20917 "Intermittent timeout in /html/semantics/embedded-content/media-elements/interfaces/HTMLElement/HTMLMediaElement/textTracks.html"
[code]

[2018-06-04 22:11] #15114 closed

[2018-06-05 08:40] gouessej commented on #18479
@paulrouget Thank you. I understand that's a work in progress. If I need to use a larger subset of the Servo API, I might temporarily use jnr-ffi. Which methods do you plan to keep in libsimpleservo? I've looked at jniapi.rs, I see only a few methods to resize the browser, go back, load a URI, ...

[2018-06-05 10:07] nox commented on #20791
I implemented `EXT_shader_texture_lod` in #20915.

[2018-06-05 11:00] tigercosmos commented on #20899
NO solution for now. 😞

[2018-06-05 11:41] mrobinson opened #20919 "Intermittent timeout in /websockets/opening-handshake/001.html, /websockets/opening-handshake/002.html, /websockets/opening-handshake/003-sets-origin.worker.html, /websockets/opening-handshake/005.html, and websockets/opening-handshake/003.html"
It's quite possible that this is the same issue as #20734. First saw this in #20767.

[2018-06-05 13:25] jdm commented on #20899
@tigercosmos Did you mean to close this?

[2018-06-05 13:25] jdm commented on #20919
This is #20734

[2018-06-05 13:25] #20919 closed

[2018-06-05 13:27] tigercosmos commented on #20899
@jdm Sure. I have no idea how to fix it, and it seems not a popular condition.

[2018-06-05 13:39] mrobinson commented on #20919
@jdm Thanks for confirming.

[2018-06-05 14:27] tigercosmos commented on #13282
just leave a note:

https://html.spec.whatwg.org/multipage/form-elements.html

[2018-06-05 15:11] jdm commented on #20899
If it still happens, we should have an issue tracking it.

[2018-06-05 15:13] jdm commented on #20899
@tigercosmos If you could run servo under a debugger ([like this](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/getting-started-with-windbg)) and capture a stack trace, that would be helpful.

[2018-06-05 18:56] jdm opened #20921 "ThreeJS reports that OES_element_index_uint is not supported"
Any aframe scene that I load on master outputs "THREE.WebGLRenderer: OES_element_index_uint extension not supported."

[2018-06-05 22:43] KiChjang commented on #20921
Relevant spec: https://www.khronos.org/registry/webgl/extensions/OES_element_index_uint/

[2018-06-05 22:44] KiChjang commented on #20921
Sounds like this is just a matter of being able to accept `gl.UNSIGNED_INT` as the third argument to `WebGLRenderingContext.drawElements()`.

[2018-06-05 22:48] MartinRogalla opened #20922 "Elements with a combination of 'border' and 'border-radius' are drawn incorrectly"
Excuse my narcism here for posting my own profile picture, but I was checking out my own [website](https://martinrogalla.com) in servo. What I noticed is that my profile picture that is supposed to be round, get's drawn incorrectly:

Google Chrome:
<img width="201" alt="chrome" src="https://user-images.githubusercontent.com/1066157/41006727-0ef36c34-6923-11e8-9eb7-57b9934f8532.png">

Servo:
<img w

[2018-06-05 22:48] jdm commented on #20921
In theory we're supposed to support this already due to #20397.

[2018-06-05 22:52] jdm commented on #20922
https://github.com/servo/servo/blob/11edbfc159e30b5dffdf9df4e1880ba02cc3f0f8/components/layout/display_list/background.rs#L714 is the code that is responsible for creating a border radius value that is added to display list items. It would be worth creating a minimal testcase so it's easier to trace the code that ends up reaching there.

[2018-06-05 22:54] MartinRogalla commented on #20922
Perfect, will do. Thanks!

[2018-06-05 23:34] jdm opened #20924 "Going back in history from three.js example panics"
Visit https://threejs.org/examples/, click and example, then go back in history.
[code]

[2018-06-05 23:35] jdm opened #20925 "three.js scene example doesn't display anything"
https://threejs.org/examples/webgl_animation_scene.html

[2018-06-05 23:45] jdm opened #20926 "Performance of three.js cinematic camera example is poor"
https://threejs.org/examples/webgl_camera_cinematic.html

[2018-06-05 23:49] jdm opened #20927 "logarithmic depth buffer three.js example has incorrect camera perspective"
https://threejs.org/examples/webgl_camera_logarithmicdepthbuffer.html
The two depth buffer views are supposed to show views that line up with the main camera, but in Servo the left buffer appears to be a duplicate of the view in the right one.

[2018-06-05 23:50] jdm opened #20928 "three.js clipping example has shader with too many uniforms"
https://threejs.org/examples/webgl_clipping.html
https://threejs.org/examples/webgl_effects_parallaxbarrier.html
https://threejs.org/examples/webgl_lights_pointlights2.html
https://threejs.org/examples/webgl_lights_spotlights.html
https://threejs.org/examples/webgl_loader_ctm_materials.html
https://threejs.org/examples/webgl_loader_gltf_extensions.html
https://threejs.org/examples/webgl_loader_md2

[2018-06-05 23:59] jdm opened #20929 "three.js framebuffer texture example displays white square in wrong position"
https://threejs.org/examples/webgl_framebuffer_texture.html
It should appear in the middle of the screen, not the top left corner. This is probably caused by the missing `devicePixelRatio` DOM API.

[2018-06-06 00:03] jdm opened #20930 "three.js geometry colors lookuptable example has WebGL error"
https://threejs.org/examples/webgl_geometry_colors_lookuptable.html
There were a bunch of `THREE.WebGLAttributes: Unsupported data buffer format: Float64Array.` in the output, and eventually after pressing buttons I got:
[code]

[2018-06-06 00:05] jdm opened #20931 "three.js dynamic geometry example disappears on mouse move"
https://threejs.org/examples/webgl_geometry_dynamic.html
https://threejs.org/examples/webgl_geometry_minecraft.html
https://threejs.org/examples/webgl_geometry_minecraft_ao.html
https://threejs.org/examples/webgl_nearestneighbour.html
https://threejs.org/examples/webgl_shadowmap.html

[2018-06-06 00:06] jdm opened #20932 "three.js geometry extrude splines example has JS errors"
https://threejs.org/examples/webgl_geometry_extrude_splines.html
[code]

[2018-06-06 00:10] jdm opened #20933 "Performance of three.js spline editor is poor"
https://threejs.org/examples/webgl_geometry_spline_editor.html

[2018-06-06 00:12] jdm opened #20934 "three.js geometry text example has webgl error"
https://threejs.org/examples/webgl_geometry_text.html
[code]

[2018-06-06 00:14] jdm commented on #20791
https://threejs.org/examples/webgl_gpgpu_protoplanet.html uses `WEBGL_draw_buffers`.

[2018-06-06 00:16] jdm opened #20936 "three.js gpu particle system example doesn't display anything"
https://threejs.org/examples/webgl_gpu_particle_system.html

[2018-06-06 00:18] jdm opened #20937 "three.js interactive buffergeometry example performs poorly"
https://threejs.org/examples/webgl_interactive_buffergeometry.html

[2018-06-06 00:21] jdm opened #20938 "three.js interactive points example doesn't display anything"
https://threejs.org/examples/webgl_interactive_points.html

[2018-06-06 00:23] jdm opened #20939 "three.js hemisphere example doesn't change when buttons pressed"
https://threejs.org/examples/webgl_lights_hemisphere.html

[2018-06-06 00:25] jdm opened #20940 "three.js physical light example asserts in webgl shader during shutdown"
https://threejs.org/examples/webgl_lights_physical.html
[code]

[2018-06-06 00:25] jdm opened #20941 "three.js point light example doesn't show lit model"
https://threejs.org/examples/webgl_lights_pointlights.html

[2018-06-06 00:27] jdm opened #20942 "three.js spotlight example has matrix math warnings"
https://threejs.org/examples/#webgl_lights_spotlight
[code]

[2018-06-06 00:30] jdm commented on #20791
https://threejs.org/examples/webgl_lines_fat.html uses `ANGLE_instanced_arrays`.

[2018-06-06 00:31] jdm opened #20943 "three.js 3mf loader example doesn't display anything"
https://threejs.org/examples/webgl_loader_3mf.html

[2018-06-06 00:32] jdm opened #20944 "three.js assimp loader example doesn't display anything"
https://threejs.org/examples/webgl_loader_assimp.html

[2018-06-06 00:34] jdm opened #20945 "three.js ctm loader example doesn't display anything"
https://threejs.org/examples/webgl_loader_ctm.html

[2018-06-06 00:35] jdm opened #20946 "three.js draco loader example has JS error"
[code]

[2018-06-06 00:36] jdm opened #20947 "three.js fbx loader performance is poor"
https://threejs.org/examples/webgl_loader_fbx.html

[2018-06-06 00:38] jdm opened #20948 "three.js imagebitmap loader has JS errors"
https://threejs.org/examples/webgl_loader_imagebitmap.html

[code]

[2018-06-06 00:40] jdm opened #20949 "three.js json objconverter loader example is broken"
There's some extremely bad performance and clicking the webgl renderer button makes the display go very weird.

https://threejs.org/examples/webgl_loader_json_objconverter.html

[2018-06-06 00:42] jdm opened #20950 "three.js md2 loader example has webgl error"
https://threejs.org/examples/webgl_loader_md2.html

[code]

[2018-06-06 00:43] jdm opened #20951 "three.js md2 loader control example has poor performance"
https://threejs.org/examples/webgl_loader_md2_control.html

[2018-06-06 00:45] jdm opened #20952 "three.js nodes loader doesn't display anything"
https://threejs.org/examples/webgl_loader_nodes.html

[2018-06-06 00:46] jdm commented on #20791
https://threejs.org/examples/webgl_loader_obj_mtl.html uses `WEBGL_compressed_texture_s3tc`, `WEBGL_compressed_texture_pvrtc`, `WEBGL_compressed_texture_etc1`, and `WEBGL_compressed_texture_astc`.

[2018-06-06 00:47] jdm opened #20953 "three.js obj2 meshspray loader example has webgl error"
* [x] https://threejs.org/examples/webgl_loader_obj2_meshspray.html
* [ ] https://threejs.org/examples/webgl_loader_vtk.html
* [x] https://threejs.org/examples/webgl_buffergeometry_constructed_from_geometry.html

[code]

[2018-06-06 00:49] jdm opened #20954 "three.js nrrd loader example doesn't display anything"
https://threejs.org/examples/webgl_loader_nrrd.html

[2018-06-06 00:58] jdm opened #20955 "three.js vrm loader example doesn't display anything"
https://threejs.org/examples/webgl_loader_vrm.html

[2018-06-06 01:01] jdm opened #20956 "three.js material blending custom example doesn't change"
https://threejs.org/examples/webgl_materials_blending_custom.html

[2018-06-06 01:01] jdm commented on #20791
https://threejs.org/examples/webgl_materials_blending_custom.html uses `EXT_blend_minmax`

[2018-06-06 04:50] paulrouget commented on #18479
What do you need?

[2018-06-06 05:54] paulrouget opened #20958 "Can't compile since mozjs update (Android)."
Since the mozjs v0.7.1 update (d0cc9d2c), I can't compile anymore.

[code]

[2018-06-06 05:59] paulrouget commented on #11937
Not relevant anymore.

[2018-06-06 05:59] #11937 closed

[2018-06-06 06:02] paulrouget commented on #7083
We don't want to support mozbrowser iframes anymore. Closing.

[2018-06-06 06:02] #7083 closed

[2018-06-06 06:03] paulrouget commented on #7408
This is not standard and not necessary anymore. Closing.

[2018-06-06 06:03] #7408 closed

[2018-06-06 06:05] paulrouget commented on #7705
That's up to the embedder now. In the case of winit-based windows, one can use `WindowExt::get_nswindow()` to access the buttons and move them around.

[2018-06-06 06:05] #7705 closed

[2018-06-06 06:05] paulrouget commented on #9812
Works now.

[2018-06-06 06:05] #9812 closed

[2018-06-06 06:07] paulrouget commented on #9982
I believe this is up to embedder to implement the bouncing behavior. All Servo needs to do is to allow out-of-bounds scrolling, without the spring effect.

[2018-06-06 06:09] paulrouget commented on #10056
We gave up on browserhtml. The new approach is to let the embedder know that it needs to show a popup. See the recent `alert` implementation: #20707.

[2018-06-06 06:11] paulrouget commented on #11256
browserhtml is no more. But it would be great to be able to use webdrive with the glutin port.

[2018-06-06 06:12] paulrouget commented on #11500
browserhtml is not more. Updating the title according.

We still want to be able to toggle content blocking for a specific tab.

[2018-06-06 06:12] paulrouget commented on #11560
Not needed anymore.

[2018-06-06 06:12] #11560 closed

[2018-06-06 06:14] paulrouget commented on #12784
@cbrewster is this still relevant?

[2018-06-06 06:35] cbrewster commented on #12784
I don’t believe so.

[2018-06-06 06:35] #12784 closed

[2018-06-06 08:17] gouessej commented on #18479
Maybe I'm missing something obvious. I know that I have to call Java_com_mozilla_servoview_NativeServo_init first, it creates the context and JOGL can create an external context bound to this one. I understand that HostTrait.flush is called when the GL buffer has been updated but I don't know how to get the content of this GL buffer.

[2018-06-06 11:35] asajeffrey commented on #20958
Which version of llvm do you have? Have you set your LIBCLANG_PATH?

[2018-06-06 12:02] paulrouget commented on #20958
Apple LLVM version 9.1.0 (clang-902.0.39.2)

`LIBCLANG_PATH` is not set.

[2018-06-06 12:11] paulrouget commented on #18479
In Java, create a surface. When Servo calls `present()`, make the surface current. Servo will then draw on that surface. You have access to the surface in Java, so do whatever you need, like using it as a texture.

[2018-06-06 13:03] CYBAI commented on #20958
I cannot compile `mozjs_sys` either.

On `macOS 10.12.6` with latest master (a07c718895)

Here's the error log.

[code]

LLVM version

[code]

[2018-06-06 13:19] asajeffrey commented on #20958
Oh good, Apple ships it's own llvm? Can you try setting LIBCLANG_PATH to the directory containing libclang and see if that helps? If not, is there a way to install "regular" LLVM rather than Apple's?

[2018-06-06 13:42] paulrouget commented on #20958
Still doesn't work. Clobbering to see if that helps.

Yes. It's actually installed by brew. It's under `/usr/local/Cellar/llvm/6.0.0/` while Apple's llvm is under `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin`.

[2018-06-06 14:04] gterzian opened #20960 "Implement Window SetOpener"
Spec: https://html.spec.whatwg.org/multipage/#dom-opener (Step 2)

test: https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/html/browsers/windows/auxiliary-browsing-contexts/opener-setter.window.js

code: https://github.com/servo/servo/pull/20678/files#diff-ffcaa7c334fe34498bc7362e376be445R555

[2018-06-06 14:27] nox commented on #20791
I'll implement `EXT_blend_minmax` next.

[2018-06-06 14:33] asajeffrey commented on #20958
Hmm, this even fails with `LIBCLANG_PATH` set to `/usr/local/Cellar/llvm/6.0.0/lib` (or wherever brew puts libclang)?

Do you have `llvm-config` installed? What is the output of `llvm-config --version --libdir`?

[2018-06-06 14:34] paulrouget commented on #20958
No.

[2018-06-06 14:35] paulrouget commented on #20958
This only fails when compile on MacOS for Android.

[2018-06-06 14:43] asajeffrey commented on #20958
Unfortunately that's a combination we're not testing on CI, hence the issues :(

Can you try adding the `-v -v` flags to `./mach build` and see if we can get some more useful warnings / error messages?

[2018-06-06 14:47] asajeffrey commented on #20958
@CYBAI that looks like a different error, in that bindgen is producing a syntactically invalid jsapi.rs. Are you seeing this consistently from a clean build? Can you try building https://github.com/servo/mozjs by itself and see if you get the same issue?

[2018-06-06 14:54] CYBAI commented on #20958
@asajeffrey Yes, I pulled the latest master and built it twice with same error output.
Let me try to build it again and also build the `mozjs` repo.

[2018-06-06 14:57] asajeffrey commented on #20958
@CYBAI thanks!

[2018-06-06 14:58] paulrouget commented on #20958
Logs are very long. I see:

[code]

Not sure if that helps.

[2018-06-06 14:59] asajeffrey commented on #20958
@emilio do you know if there's been reported problems using bindgen when cross-compiling from macos to android?

[2018-06-06 14:59] jdm opened #20962 "three.js material channels example performance is poor"
https://threejs.org/examples/webgl_materials_channels.html

[2018-06-06 15:00] jdm opened #20963 "three.js materials compile example has JS errors"
`ERROR 2018-06-06T14:59:41Z: script::dom::bindings::error: Error at https://threejs.org/examples/js/nodes/NodeMaterial.js:289:16 THREE.NodeUniform is not a constructor`

[2018-06-06 15:06] jdm opened #20964 "three.js materials curvature example renders incorrectly"
https://threejs.org/examples/webgl_materials_curvature.html
Dragging the object leaves trails in the space.

[2018-06-06 15:07] jdm opened #20965 "three.js materials envmaps example renders incorrectly"
https://threejs.org/examples/webgl_materials_envmaps.html
When moving the viewport the texture of the sphere should morph appropriately, instead it looks bizarre.

[2018-06-06 15:09] asajeffrey commented on #20958
@paulrouget can you post the log somewhere? You can ignore that error, like python said, it's optional.

[2018-06-06 15:11] jdm opened #20966 "three.js materials nodes example doesn't display anything"
https://threejs.org/examples/webgl_geometry_teapot.html
https://threejs.org/examples/webgl_loader_nodes.html
https://threejs.org/examples/#webgl_materials_nodes

[2018-06-06 15:12] jdm opened #20967 "three.js materials parallaxmap example is slow"
https://threejs.org/examples/webgl_materials_parallaxmap.html

[2018-06-06 15:14] jdm opened #20968 "three.js materials shaders fresnel example is slow to load"
https://threejs.org/examples/webgl_materials_shaders_fresnel.html

[2018-06-06 15:27] jdm opened #20969 "three.js materials standard example doesn't rotate"
https://threejs.org/examples/webgl_materials_standard.html
it's supposed to rotate based on the mouse motion.

[2018-06-06 15:28] jdm commented on #20791
https://threejs.org/examples/webgl_materials_texture_anisotropy.html uses `EXT_texture_filter_anisotropic`.

[2018-06-06 15:29] jdm opened #20970 "can't draw in three.js materials texture canvas example"
https://threejs.org/examples/webgl_materials_texture_canvas.html

[2018-06-06 15:43] CYBAI commented on #20958
@asajeffrey After building `mozjs`, I got almost same error

What kind of information can I share with you?

[code]

[2018-06-06 15:47] asajeffrey commented on #20958
@CYBAI yes, this is a different issue, since it's not about cross-compiling for android. Can you build with -v and put the log somewhere?

[2018-06-06 15:50] CYBAI commented on #20958
@asajeffrey Yes, please let me create a new issue and share the log in gist in the issue.

[2018-06-06 15:54] CYBAI opened #20971 "Compile error with mozjs_sys in macOS 10.12.6"
Refer to https://github.com/servo/servo/issues/20958#issuecomment-395060590

Let me share the first error log here

I always built failed on `macOS 10.12.6` with latest master (a07c718895) with `./mach build -d`

[code]

LLVM version

[code]

and in https://github.com/servo/servo/issues/20958#issuecomment-395095386, @asajeffrey asked me to try to build `mozjs` itself.

After `cargo build` the `moz

[2018-06-06 16:01] CYBAI commented on #20971
@asajeffrey Here's [the gist](https://gist.github.com/CYBAI/7e3f21b6a755a68cc47ae104a4c66a75) which I built `mozjs` with `cargo build -v`

[2018-06-06 16:02] asajeffrey commented on #20971
@CYBAI hmm, that gist doesn't show jsapi.rs being generated. Can you remove jsapi.rs and re-run?

[2018-06-06 16:03] CYBAI commented on #20971
@asajeffrey ohh, ok, let me remove it and re-run it.

[2018-06-06 16:09] MartinRogalla commented on #20922
The following document should render render a purple circle with a pink border:
[code]
**Expected output:**
<img width="290" alt="correct" src="https://user-images.githubusercontent.com/1066157/41048281-ab41d6b2-69ae-11e8-9134-f5c0d89cc0f3.png">
**Actual output:**
<img width="290" alt="actual" src="https://user-images.githubusercontent.com/1066157/41048312-b3a3bb90-69ae-11e8-96a2-44247ca8f154.png"

[2018-06-06 16:21] asajeffrey commented on #20971
@emilio: this is odd, bindgen is producing a syntactically invalid .rs file, have you seen this before?

[2018-06-06 16:29] asajeffrey commented on #20971
@CYBAI can you give us a snippet of /Users/chengyou.bai/Documents/cybai/mozjs/target/debug/build/mozjs_sys-c78b17b647610923/out/jsapi.rs, say about 20 lines before and after line 10722?

[2018-06-06 16:34] jdm commented on #20971
I'm building on macOS 10.12.6 without any problems, as a point of reference.

[2018-06-06 16:35] jdm commented on #20922
It may be that our display list is correct and webrender is interpreting it incorrectly. @gw3583 does this ring any bells?

[2018-06-06 16:37] CYBAI commented on #20971
@asajeffrey Here's line 10654 to line 10762 for the `mozjs/target/debug/build/mozjs_sys-c78b17b647610923/out/jsapi.rs`

[code]

[2018-06-06 16:48] asajeffrey commented on #20971
The matching snippet from my jsapi,rs is:
[code]
For some reason, most of `String__bindgen_ty_1` isn't being emitted.

[2018-06-06 16:50] jdm opened #20972 "three.js multiple canvases circle example has JS error"
https://threejs.org/examples/webgl_multiple_canvases_circle.html
[code]

[2018-06-06 16:52] jdm opened #20973 "three.js multiple elements example performs poorly"
https://threejs.org/examples/webgl_multiple_elements.html

[2018-06-06 16:53] jdm opened #20974 "three.js multiple elements text example doesn't display canvases"
https://threejs.org/examples/webgl_multiple_elements_text.html

[2018-06-06 16:55] jdm opened #20975 "Red boxes are missing in three.js nearestneighbour example"
https://threejs.org/examples/webgl_nearestneighbour.html

[2018-06-06 16:57] jdm opened #20976 "three.js octree raycasting performance is poor"
https://threejs.org/examples/webgl_octree_raycasting.html

[2018-06-06 16:59] jdm opened #20977 "three.js performance example is slow"
https://threejs.org/examples/webgl_performance.html
https://threejs.org/examples/webgl_performance_static.html

[2018-06-06 17:03] jdm opened #20978 "three.js physics volume example is slow"
http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_physics_volume.html

[2018-06-06 17:04] jdm opened #20979 "three.js points billboards example doesn't display anything"
https://threejs.org/examples/webgl_points_billboards.html

[2018-06-06 17:05] jdm opened #20980 "three.js points dynamic example has JS error"
`ERROR 2018-06-06T17:04:42Z: script::dom::bindings::error: Error at https://threejs.org/examples/webgl_points_dynamic.html:343:8 expected expression, got ')'`

[2018-06-06 17:07] MartinRogalla commented on #20922
I think the issue might be here: [webrender/src/util.rs extract_inner_rect_impl](https://github.com/servo/webrender/blob/fac0040b4597d6c4a4b36fffbb8117782027e7ca/webrender/src/util.rs#L342-L346). I'll have another look in a bit and if needed will try to build the webrenderer and use that to debug where it's going wrong.

[2018-06-06 17:09] jdm opened #20981 "three.js postprocessing dof example has GL error"
https://threejs.org/examples/webgl_postprocessing_dof.html
[code]

[2018-06-06 17:11] jdm opened #20982 "three.js postprocessing dof2 example performs poorly"
https://threejs.org/examples/webgl_postprocessing_dof2.html

[2018-06-06 17:13] jdm opened #20983 "three.js postprocessing godrays example doesn't render correctly"
https://threejs.org/examples/webgl_postprocessing_godrays.html

[2018-06-06 17:15] jdm opened #20984 "three.js postprocessing rgb halftone example performs poorly"
https://threejs.org/examples/webgl_postprocessing_rgb_halftone.html

[2018-06-06 17:16] jdm opened #20985 "three.js postprocessing ssaa example performs poorly"
https://threejs.org/examples/webgl_postprocessing_ssaa.html

[2018-06-06 17:21] jdm opened #20986 "three.js read float buffer example doesn't update pixel values"
https://threejs.org/examples/webgl_read_float_buffer.html

[2018-06-06 17:25] jdm opened #20987 "three.js shaders ocean2 example has GL error"
https://threejs.org/examples/webgl_shaders_ocean2.html
`ERROR 2018-06-06T17:24:00Z: canvas::webgl_thread: Last GL operation failed: TexImage2D(3553, 0, 34842, 1024, 1024, 6408, 36193, [...`

[2018-06-06 17:29] jdm opened #20988 "three.js shadowmap performance example performs poorly"
https://threejs.org/examples/webgl_shadowmap_performance.html

[2018-06-06 17:34] jdm opened #20989 "three.js trails example can't create GL context"
https://rawcdn.githack.com/mrdoob/three.js/r105/examples/webgl_trails.html

[2018-06-06 17:38] matt-y opened #20990 "Unable to build on osx: _activate_virtualenv error"
Firstly, I appreciate your patience while I bring you an environment-related build error.

After running `./mach build -d` I am receiving the following pip-adjacent error:

[code]
It would appear that my build fails during the `_activate_virtualenv` step of `python/mach_bootstrap.py`. [Specifically here](https://github.com/servo/servo/blob/master/python/mach_bootstrap.py#L224).

On my path, my `py

[2018-06-06 17:38] jdm opened #20991 "three.js buffergeometry custom attributes particles example doesn't display anything"
https://threejs.org/examples/webgl_buffergeometry_custom_attributes_particles.html

[2018-06-06 17:46] jdm opened #20992 "three.js buffergeometry points example renders incorrectly"
https://threejs.org/examples/webgl_buffergeometry_points.html
https://threejs.org/examples/webgl_buffergeometry_points_interleaved.html

[2018-06-06 17:49] jdm opened #20993 "three.js custom attributes points example doesn't render anything"
https://threejs.org/examples/webgl_custom_attributes_points.html
https://threejs.org/examples/webgl_custom_attributes_points2.html
https://threejs.org/examples/webgl_custom_attributes_points3.html

[2018-06-06 17:50] jdm opened #20994 "three.js raymarching reflect example has JS error"
https://threejs.org/examples/webgl_raymarching_reflect.html
[code]

[2018-06-06 17:50] jdm opened #20995 "three.js shadowmap pcss example performs poorly"
https://threejs.org/examples/webgl_shadowmap_pcss.html

[2018-06-06 17:52] jdm opened #20996 "three.js deferred animation example doesn't display anything"
https://threejs.org/examples/webgldeferred_animation.html

[2018-06-06 17:56] jdm opened #20997 "three.js css3d molecules example renders in the wrong position"
https://threejs.org/examples/css3d_molecules.html

[2018-06-06 17:57] jdm opened #20999 "three.js css3d orthographic example only shows wireframe"
https://threejs.org/examples/css3d_orthographic.html

[2018-06-06 17:57] jdm opened #21000 "three.js css3d panorama example doesn't display anything"
https://threejs.org/examples/css3d_panorama.html

[2018-06-06 17:58] jdm opened #21001 "three.js css3d sandbox example renders incorrectly"
https://threejs.org/examples/css3d_sandbox.html

[2018-06-06 17:59] jdm opened #21002 "three.js css3d sprites example renders incorrectly"
https://threejs.org/examples/css3d_sprites.html

[2018-06-06 18:01] jdm opened #21003 "three.js canvas ascii effect example segfaults when dragging"
[code]

[2018-06-06 18:02] jdm opened #21004 "three.js canvas geometry earth example renders incorrectly"
https://threejs.org/examples/canvas_geometry_earth.html

[2018-06-06 18:03] jdm opened #21005 "three.js canvas geometry panorama example renders incorrectly"
https://threejs.org/examples/canvas_geometry_panorama.html
https://threejs.org/examples/canvas_geometry_panorama_fisheye.html

[2018-06-06 18:04] jdm opened #21006 "three.js canvas geometry terrain demo renders incorrectly"
https://threejs.org/examples/canvas_geometry_terrain.html

[2018-06-06 18:06] jdm opened #21007 "three.js canvas lights pointlights example renders incorrectly"
https://threejs.org/examples/canvas_lights_pointlights.html

[2018-06-06 18:07] jdm opened #21008 "three.js canvas lines dashed example doesn't have dashed lines"
https://threejs.org/examples/canvas_lines_dashed.html

[2018-06-06 18:08] jdm opened #21009 "three.js canvas materials example renders incorrectly"
https://threejs.org/examples/canvas_materials.html

[2018-06-06 18:09] jdm opened #21010 "three.js canvas materials reflection example renders incorrectly"
https://threejs.org/examples/canvas_materials_reflection.html

[2018-06-06 18:11] jdm opened #21011 "three.js canvas performance example performs poorly"
https://threejs.org/examples/canvas_performance.html

[2018-06-06 18:11] jdm opened #21012 "three.js canvas sandbox renders incorrectly"
https://threejs.org/examples/canvas_sandbox.html

[2018-06-06 18:21] matt-y commented on #20990
I opened a PR to try and be helpful, but I might be jumping the gun there a bit.

[2018-06-06 19:37] jonpemby commented on #20822
Quick update: still working on this, will have some time later today to work on it more — sorry about the delay in getting it done.

[2018-06-06 21:09] gw3583 commented on #20922
It doesn't ring any bells. It's certainly possible it could be a bug in WR, although I don't think we've seen anything like this in Gecko thus far. One option would be to build wrench (the standalone WR reftest tool) and see if you can reproduce it in wrench by modifying some of the border reftests (for example https://github.com/servo/webrender/tree/master/wrench/reftests/border).

[2018-06-06 21:09] gw3583 commented on #20922
If you can reproduce it there, that would rule out Servo being the issue.

[2018-06-06 21:29] #20784 closed

[2018-06-06 21:38] MartinRogalla commented on #20922
Perfect, I'll try that. Thanks!

[2018-06-06 22:13] KiChjang commented on #20971
I'm also building servo fine on my Mac 10.12.6.

[2018-06-07 04:20] paulrouget commented on #20958
@asajeffrey the logs: https://transfer.sh/4ey3p/log.txt

[2018-06-07 04:55] paulrouget commented on #20958
I've updated the logs in comment https://github.com/servo/servo/issues/20958#issuecomment-395288169

[2018-06-07 05:42] paulrouget commented on #20958
I tried to compile with regular llvm.

[code]

But it still fails: https://transfer.sh/wIuhv/log.txt

[2018-06-07 05:49] tigercosmos opened #21014 "openssl undefined reference"
Build 464a3ef390cf490610aaa4d92905eafb5a6f907d failed in Ubuntu 18.
I can build previous commit before in the same environment.
[code]

[2018-06-07 06:53] #20990 closed

[2018-06-07 09:38] gterzian opened #21016 "URLSearchParams returns null on Get for value that is present"
Used in https://github.com/servo/servo/blob/07ba57b864c00c820c601e420032d1ed682b6af2/tests/wpt/web-platform-tests/html/browsers/browsing-the-web/history-traversal/persisted-user-state-restoration/resources/post_name_on_load.html#L5

where `window.location.search` is `?name=foo`, but `params.get('name')` return `null`.

which currently makes the below test time out.

https://github.com/servo/servo/

[2018-06-07 12:39] tigercosmos commented on #21014
amazing.
`mach clean` and `mach build -d` works.

[2018-06-07 12:39] #21014 closed

[2018-06-07 15:18] MartinRogalla commented on #20922
Running the border-tests using:
[code]
in WebRender outputs failing tests:
[code]
Is this to be expected (as in tests written but not yet implemented), or should these reftests always pass?

[2018-06-07 16:12] asajeffrey commented on #20958
@jdm was saying on IRC that he tracked this down to a SEGV during library loading (!) https://mozilla.logbot.info/servo/20180606#c14862976

[2018-06-07 16:33] #13282 closed

[2018-06-07 17:29] asajeffrey opened #21020 "BorrowError caused by parsing triggering GC"
A stack trace:
[code]
The interesting lines are:
[code]
The problem is in script_thread.rs:
[code]
since processing a chunk can include a `<script>` tag, which triggers execution, which can trigger GC, which causes tracing, and oh dear there's a trace while there's a live mutable borrow, boom.

[2018-06-07 18:08] jdm commented on #19266
Our implementation lives in https://github.com/servo/servo/blob/master/components/net/websocket_loader.rs, and doesn't have any code to set a referrer (https://github.com/servo/servo/blob/master/components/net/websocket_loader.rs#L482). It's probably not worth tracking this separately from the work to integrate the websocket fetch code into the rest of the fetch implementation.

[2018-06-07 18:08] #19266 closed

[2018-06-07 18:10] jdm commented on #14897
When this work eventually happens, we'll want to be sure that it includes https://github.com/servo/servo/issues/19266.

[2018-06-07 18:21] cbrewster commented on #12363
Cannot reproduce anymore

[2018-06-07 18:21] #12363 closed

[2018-06-07 18:45] jdm commented on #20734
The symptom when this occurs for a test is that the websocket server sees a request for `/`, which it then does not have a handler for and falls back to a regular HTTP handler and returns a 200 request. The websocket loader code shows `Failed to establish a WebSocket connection to ws://web-platform.test:8888/: Internal("Response\\'s status should be 101.")` in this case, since the connection can't

[2018-06-07 19:01] jdm commented on #20734
Unfortunately that's a red herring. http://build.servo.org/builders/mac-rel-css1/builds/4481/steps/test/logs/test-wpt.log is a log showing the server being set up and not reporting any connections while all of the tests time out. I have no idea what to make of that.

[2018-06-07 19:56] jdm opened #21021 "Intermittent crash in osmesa"
[code]

[2018-06-07 21:41] avadacatavra opened #21022 "Refactor draw_image code for readability and less copy/paste"
`draw_image` and `draw_image_self` have very similar code. We should refactor `draw_image_self` to call `draw_image` with the appropriate `image_data`

See [comments](https://github.com/servo/servo/pull/20923#discussion_r193894595) on #20923

[2018-06-07 21:41] highfive commented on #21022
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2018-06-07 21:47] gw3583 commented on #20922
For the reftests, you'll need to use the headless script to run them - this will ensure that they are drawn with a software rasterizer for consistency between machines:

```./script/headless.py reftest reftests/border/```

[2018-06-07 22:49] cadubentzen commented on #21022
@highfive: assign me

[2018-06-07 22:49] highfive commented on #21022
Hey @cadubentzen! Thanks for your interest in working on this issue. It's now assigned to you!

[2018-06-08 04:44] fabricedesre commented on #10309
This works for me with the current build.

[2018-06-08 08:16] gterzian opened #21024 "window-open-noopener test failure, using "this""
https://github.com/servo/servo/blob/master/wpt/metadata/html/browsers/the-window-object/window-open-noopener.html

[code]
Failure is due to `this.openedWindow` being undefined, whereas `t.openedWindow` is defined, not sure if it's actually a problem with the JS code...

[2018-06-08 08:18] gterzian opened #21025 "Implement BroadcastChannel"
test: https://github.com/servo/servo/tree/527d874bc107039156d40d25b2a76f4a28eb639e/tests/wpt/web-platform-tests/webmessaging/broadcastchannel

(and a few others using it, like tests/wpt/metadata/html/browsers/the-window-object/window-open-noopener.html)

Spec: https://html.spec.whatwg.org/multipage/#dom-broadcastchannel

Not implemented yet?

[2018-06-08 12:11] jdm commented on #21025
Correct.

[2018-06-08 14:45] jdm commented on #20791
We'll need to be sure to set the appropriate fields in https://github.com/servo/mozangle/blob/master/src/shaders/bindings.rs#L111-L127 like https://github.com/servo/servo/blob/f108b12fc45983b561f8e0db1771db2392dfd0ed/components/script/dom/webglshader.rs#L119.

[2018-06-08 14:47] #21022 closed

[2018-06-08 14:49] jdm commented on #20928
I suspect this may be related to the fact that [these fields](https://github.com/servo/mozangle/blob/master/src/shaders/bindings.rs#L103-L110) are initialized to (presumably minimum) values by [InitBuiltInResources](https://github.com/servo/mozangle/blob/4bfe6f83db19b1cfe7e1cf273018edcd7bee47ff/gfx/angle/checkout/src/compiler/translator/ShaderLang.cpp#L173). We should try overriding them with the

[2018-06-08 14:49] jdm commented on #20928
There is [prior art](https://searchfox.org/mozilla-central/source/dom/canvas/WebGLShaderValidator.cpp#144-156) in Firefox.

[2018-06-08 15:50] asajeffrey opened #21027 "Closing the browser window causes panic: Failed to call XSendEvent after wakeup"
Closing a browser window caused this panic:
[code]
The source of the panic is https://github.com/tomaka/winit/blob/262490d07447d6539cb4e5d52acf5d4c8ad21c13/src/platform/linux/x11/mod.rs#L1059, which sends an X event and panics if the send fails.

It looks like this needs fixed upstream in winit.

[2018-06-08 18:08] #21020 closed

[2018-06-08 20:21] KiChjang commented on #21025
I _could_ implement this in #16622, but that PR is big enough to make it a bit difficult to review already...

[2018-06-09 03:39] gterzian commented on #21025
Spec: https://html.spec.whatwg.org/multipage/#dom-broadcastchannel

[2018-06-11 11:31] nox commented on #20791
For some reason this one complains about `OES_element_index_uint` not being available either on macOS. I have no clue why that's happening.

[2018-06-11 11:32] nox commented on #20791
Oh you filed #20921 for that.

[2018-06-11 11:35] nox commented on #20921
[code]

[2018-06-11 11:49] nox commented on #20921
https://github.com/WebKit/webkit/blob/3f0a3a103730b9a7fef0570ce7f68a4a93d30a78/Source/WebCore/platform/graphics/opengl/Extensions3DOpenGL.cpp#L209-L211

[2018-06-11 13:24] gterzian opened #21035 "HTML: Node TextContent is empty"
Possible bug in the implementation of [`Node.GetTextContent`](https://github.com/servo/servo/blob/a76777b11506e066f6131ae20de1a3ab370f4a75/components/script/dom/node.rs#L2045).

In this test:

https://github.com/servo/servo/blob/a76777b11506e066f6131ae20de1a3ab370f4a75/tests/wpt/web-platform-tests/html/browsers/windows/noreferrer-window-name.html#L54

`ifr.contentDocument.documentElement.textConte

[2018-06-12 00:20] jdm commented on #20734
So, following up on the anecdotal data suggesting that:
* this problem started occurring sometime between April 25 and April 28
* this problem was introduced by a WPT sync
I ran some repeated try jobs in #21033. The results strongly suggest that https://github.com/web-platform-tests/wpt/commit/2ae9668bd0f23edf15d0591aeb90060dbd2565c2 is the cause of the problem (ironically, since it sounds like it

[2018-06-12 01:47] jdm commented on #20958
I got a successful compilation of standalone mozjs with some manual intervention. Some issues:
* if a `--sysroot` is included in the CXXFLAGS, the jsglue compilation breaks really badly
* if a `--sysroot` is not included in the CXXFLAGS, the `flag_if_supported` check fails because of linking errors, so none of the flags are marked as supported
* gcc doesn't like the `-fno-sized-declaration` flag,

[2018-06-12 10:41] cbrewster commented on #20636
Cannot reproduce anymore.

[2018-06-12 10:41] #20636 closed

[2018-06-12 13:37] emilio opened #21038 "Intermittent stack overflow on mac debug compiling cssparser without dummy_match_byte."
Here's the suspected backtrace (that is, the backtrace of the first stack overflow that I managed to reproduce locally playing with the thread stack size:

<details>

[code]

</details>

I've verified that the culprit is this match_byte! expansion:

https://github.com/servo/rust-cssparser/blob/ad39746d6b2efab00ac9b3126e89fb7e5a89392d/src/tokenizer.rs#L814

We should try to re-enable the feature so