[2016-10-20 00:30] mateenrehan commented on #13515
Try running ./mach run --release tests/html/about-mozilla.html -c as this will render the cpu graphics and you will be able to run servo. This is just a workaround to run servo.

[2016-10-20 06:33] shinglyu opened #13846 "Implment layout tracing for flexbox"
(Blocked by #13740, #13829 )
I thought it would be trivial, but turn out it's not. So I'm keeping a list of TODOs here in case I forgot.
1. Implement `Serialize` for `FlexFlow`, `FlexItem`, `FlexLine` (some of them need manual implementation)
2. the `etc/layout_viewer` need `trace_node.data.base.id`, but `FlexFlow` only has `.block_flow.data.base.id`, I choose to change the viewer to also look at

[2016-10-20 07:08] shinglyu commented on #13846
I have 1 2 implemented. Working on 4

[2016-10-20 07:11] Ms2ger opened #13847 "test-stylo failure in infra"
`test-stylo --release` seems to consistently fail on `linux-rel-css` with
[code]

@emilio @Manishearth

[2016-10-20 07:21] Manishearth commented on #13847
Yeah, @heycam is looking into this. No idea how it happened, the binding sync is gated on this

[2016-10-20 07:23] Manishearth commented on #13847
Oh, probably because we started gating on test-stylo --release very recently

[2016-10-20 07:42] Wafflespeanut commented on #13764
@willempienaar Any news on this?

[2016-10-20 07:59] willempienaar commented on #13764
@Wafflespeanut No feedback yet. I have next week off so I am planning to finish it then.

[2016-10-20 08:18] dati91 commented on #13154
My guess would be that the [android-rs-glue](https://github.com/tomaka/android-rs-glue) update (0.1.3 -> 0.2.0) still requires some adjusting.
Maybe you could ask the owner of that repo to help you out, if you get stuck.

[2016-10-20 08:56] mmatyas commented on #13154
cc @tomaka

[2016-10-20 09:18] heycam commented on #13847
It looks like the m-c commit causing trouble is this one: https://github.com/mozilla/gecko-dev/commit/81f82ea36e533c72880642cb88bf7cc5527ee63e

@emilio: in `nsIDocument`, we have a `StyleBackendType` followed by a bunch of `bool mXXX : 1` members.  Those bools are collapsed into a single `u64`.  Could it be that the packing of the `u8`-sized enum next to the `u64` is different from C++'s packing o

[2016-10-20 09:34] tomaka commented on #13154
Hmm I'm surprised that Servo has this problem.
I asked multiple times on #servo for feedback about the changes in android-rs-glue. Since I was only getting vague answers and since Servo has their own fork of glutin, I decided to push the changes anyway. I didn't expect that Servo didn't test their Android build.

Anyway, in android-rs-glue 0.1 the functions required by glutin to initialize the stu

[2016-10-20 09:36] tomaka commented on #13154
If you choose to go the hacky route, the codes to compile with Servo are:
- This one, directly in the executable: https://github.com/tomaka/android-rs-glue/blob/master/cargo-apk/glue_obj.rs
- This one as a library: https://github.com/tomaka/android-rs-glue/tree/master/cargo-apk/injected-glue

[2016-10-20 09:52] Manishearth opened #13849 "Implement parsing/serialization for -webkit-text-stroke property"
https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke

The grammar is `<integer> <color>`, which means that it must be an integer followed by a color.

See https://github.com/servo/servo/wiki/Property-hacking-guide for instructions on how to work on such bugs. This bug requires familiarity with Rust.

File: https://github.com/servo/servo/blob/master/components/style/properties/longh

[2016-10-20 09:52] highfive commented on #13849
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-20 09:57] Manishearth opened #13850 "Implement parsing/serialization for text-emphasis-position"
https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-position

The grammar is `[ over | under ] && [ right | left ]`, which means that must have one of each keyword from both sets (`over`/`under` and `right`/`left`). We can also view this as `[over | under] [right | left] | [right | left] [over | under]`, i.e. it is "'`over` or `under`' followed by '`right` or `left`', OR '`right` or `le

[2016-10-20 09:57] highfive commented on #13850
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-20 10:01] upsuper commented on #13769
Hmmm, but Gecko doesn't support `digits` yet... Do you have a way to pref it off?

[2016-10-20 10:03] upsuper commented on #13769
And because of lack of implementation interest, `digits` is now at-risk for this level of spec, and it is unclear whether it will be kept in its current form. Probably just implementing `none | all` is enough.

[2016-10-20 10:05] Manishearth commented on #13769
it works behind `layout.css.text-combine-upright-digits.enabled` , no?

[2016-10-20 10:06] Manishearth commented on #13769
Oh, it isn't.

In this case this is a basic keyword property like the last one. @joewalker do you still want to work on this, or would you like something more complicated to look into? (background-blend-mode is interesting, the style bits are easy but the gecko glue is trickier)

[2016-10-20 10:07] upsuper commented on #13769
No. That pref only enables the parsing of the property. No layout support yet.

(That's why I said adding parser support without actually implementing in layout is harmful.)

[2016-10-20 10:10] heycam commented on #13847
#13851 is to land a workaround for this.

[2016-10-20 10:19] Manishearth opened #13852 "Implement parsing/serialization for font-feature-settings"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings

The grammar is `normal | <feature-tag-value>#` where `<feature-tag-value> = <string> [ <integer> | on | off ]?`, which means that it must be the keyword `normal`, or a comma separated list of feature tag values. Each feature tag value will be a string, which may be followed by an integer, the keyword `on`, or the keyword `off`

[2016-10-20 10:37] Manishearth opened #13853 "Implement parsing/serialization for text-emphasis-style"
https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-style

File: https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_text.mako.rs

The syntax is: `none | [ [ filled | open ] || [ dot | circle | double-circle | triangle | sesame ] ] | <string>`

This means it can be `none`, a quoted string, or  `[ [ filled | open ] || [ dot | circle | double-circle |

[2016-10-20 10:45] upsuper commented on #13853
FWIW, in Gecko, we truncate the `<string>` to only one [grapheme cluster](https://drafts.csswg.org/css-text/#grapheme-cluster) when generating its computed value.

[2016-10-20 10:51] canaltinova commented on #13853
I would like to work on this.

[2016-10-20 11:01] larsbergstrom commented on #13154
Yeah, as we mentioned at the time, back during the changeover to the new packaging method since it wasn't possible to override the manifest and other build files, we needed to clone that piece. It's no big deal - I've assumed that as Servo on Android continued to grow it would be unreasonable to expect the builder to support all of our wonky scenarios.

Thanks for the tips on the files to include!

[2016-10-20 11:17] nox commented on #3704
AFAIK, the first needed step is to make h5e not own the input buffer at all. So my first intuition was to feed chunks one by one, but that doesn't fix the issue that h5e needs to give back the input it was fed in the case it encounters a blocking script.

[2016-10-20 12:10] nox commented on #3704
AFAICT, your branch would never work, and would panic [there](https://github.com/jdm/servo/commit/427c44d5c5d882faadfed30b008044832fa79ab6#diff-de6448d5d8b9a808b8913c9efa24b2f1R282) because the parser is already borrowed mutably, right?

[2016-10-20 12:42] #13847 closed

[2016-10-20 12:43] jdm commented on #3704
Maybe! You've clearly put thought into it more recently than I have.

[2016-10-20 12:49] nox commented on #3704
@jdm Is there a high-level description of our parsing entry point and how it interacts with the data coming from the network? I understand how h5e works when fed data, but I don't have yet a clear picture of how it is started, how it is owned, etc. Would be great if you or someone else could detail that, I think that would help me for this.

[2016-10-20 13:15] jdm commented on #3704
When the HTTP headers are received, `ParserContext::headers_available` optionally feeds the parser a synthetic response body and disregards future response content. Each time a piece of data is received from the network in `ParserContext::data_available` we call `ServoParser::parse_chunk`, which appends the new data and only continues parsing if the parser is not currently suspended. ServoParser h

[2016-10-20 14:10] rwakulszowa commented on #13852
I think I can try to implement this one

[2016-10-20 14:25] Manishearth commented on #13852
Alright. Let me know if you have questions!

[2016-10-20 15:04] llde commented on #13371
What about using RustType for font rendering?

[2016-10-20 16:16] sole opened #13858 "Consistent crash on https://mozdevs.github.io/servo-experiments/experiments/readingView/"
Running this on Mac OS 10.11.6, compiled from source just today (20 october 2016), macbook retina. When I click on 'Reading view' Servo stumbles for a few seconds, then does some sort of transition, then it stops, shows the final result and finally crashes with 'i tried' 😏

(update) URL for easy clicking: https://mozdevs.github.io/servo-experiments/experiments/readingView/

<img width="1136" alt="

[2016-10-20 18:00] larsbergstrom commented on #13154
Pushed another update to my branch. I think we're good to go except for https://github.com/libheartbeats/heartbeats-simple-sys/pull/17

[2016-10-20 19:18] #12312 closed

[2016-10-20 19:23] friedelwolff opened #13859 "assertion failed: self.suspended_since.get().is_some()"
I believe I was clicking on the back button multiple times on Ars Technica when I got this error report.

assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-6c28d44
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-20 19:31] jdm commented on #13859
This is a duplicate of #13780. Thanks for reporting it!

[2016-10-20 19:31] #13859 closed

[2016-10-20 19:31] jdm commented on #13780
[code]
from #13859.

[2016-10-20 19:50] AgostonSzepessy commented on #13849
I'd like to try this one.

[2016-10-20 20:32] emilio opened #13861 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/more/functions/uniformiBadArgs.html"
[code]

[2016-10-20 20:42] nical commented on #13338
Does this mean having several Renderers on separate threads, or only RenderBackends on separate threads?

In Gecko I think that we would like to do the latter (have all Renderer objects on our Compositor thread).

[2016-10-20 20:47] glennw commented on #13338
@nical Just to be clear, does that mean that Gecko plans to share a single compositor thread between different windows?

[2016-10-20 21:02] nical commented on #13338
@glennw Yes, gecko currently has one compositor thread that all windows share.

[2016-10-20 21:06] glennw commented on #13338
@nical OK, that should work fine with multiple WR instances, I think. So you'd create one WR instance per window. This would be like you said above - each window would get its own RenderBackend thread, but the Renderer objects would all exist on the same compositor thread (this is fine since WR doesn't create any threads for the renderer object - it leaves this up to the calling code).

So in theo

[2016-10-20 21:20] nical commented on #13338
Something like that, in addition to fiddling with the event-loop. Currently the each Renderer has an IpcReceiver which it uses as an event loop. Gecko's compositor has its own event loop which we can't realistically get rid of, so I am looking into separating the Renderer from its messaging logic. The alternative is to have a separate dedicated thread for the Renderers (so they don't leave on a ge

[2016-10-20 21:46] ConnorGBrewster commented on #13780
Sound like this may be an issue with history traversal.

[2016-10-20 21:59] glennw commented on #13338
We discussed this on Vidyo - WR should in theory integrate with external event loops OK. The renderer call in update() to pull data from an ipc-channel is only called when the external event is woken up and notified that a frame is available. @nical is doing some tests with this to make sure the assumptions hold.

[2016-10-20 22:36] chajath commented on #12967
Continuing on the discussion. I see several places where we depend on now-deprecated `time` package. Should we move on to `rust-chrono` consistently across all packages while we are at it?

[2016-10-21 01:59] bholley opened #13865 "Fix animation processing ordering and reenable animations/basic-transition.html test"
In #12623, we added some hacky machinery that causes us to mutate style on non-dirty nodes during restyle to tick animations. This causes all kinds of trouble for the new incremental restyle architecture, since we're not guaranteed to have mutable style data for non-dirty nodes (the style might be owned by the layout frame).

Emilio thinks the right approach is to mark the node as dirty when proce

[2016-10-21 02:09] emilio commented on #13865
Yeah, to clarify, the problem (apart from the processing order) is the following.

With that fixed, marking nodes as dirty after transitionend works for most cases, except when the node's style is accessed again before the transitionend event is processed, in which case it fails. This is that last kind of failure.

Multiple things can be done here. First one is making animations synchronized with

[2016-10-21 02:43] shinglyu commented on #12610
Here are my planned step to implement this (at least the inline mode):
1. Change the type of the `min_inline_size` to `LengthOrPercentageOrAuto`
2. Provide fallback (to 0) for other flow types that doesn't have `Auto` for min-{width,height}
3. Resolve the `Auto` size when needed (probably in `flex_resolve()`, there is a `item.main_size = ...` line)

[2016-10-21 02:49] yangsibai opened #13867 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:
### Servo Version:

Servo 0.0.1-99ad367
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-21 03:11] Manishearth commented on #13849
Go ahead!

[2016-10-21 03:26] Manishearth opened #13868 "Stylo: implement column-rule-style"
Please go through [the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) if you wish to hack on stylo.

[`column-rule-style`](https://developer.mozilla.org/en-US/docs/Web/CSS/column-rule-style)  is a keyword property with the set of possible values being `none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset`. `none` is the default. The constant prefix is

[2016-10-21 03:27] highfive commented on #13868
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 03:46] Manishearth opened #13869 "Implement keyword values in border-width"
Please see the [property hacking guide first](https://github.com/servo/servo/wiki/Property-hacking-guide). Familiarity with Rust required. This is not implementing a new property, just extending an existing one.

For `border-foo-width` (e.g. `border-top-width`), we currently support length values. However, this struct supports keywords too.

We currently parse it as `<length>`, but the full syntax

[2016-10-21 03:46] highfive commented on #13869
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 03:47] Manishearth commented on #13869
@heycam Gecko stores the constants 1/3/5 in the pres context. Should we be storing them in the computed value context (and fetching them from Gecko in stylo mode)? For this bug I'm just hardcoding them, but we might eventually want to do something else.

[2016-10-21 04:07] aethanyc commented on #13869
I would like to work on this.

[2016-10-21 04:10] Manishearth opened #13871 "Implement parsing/serialization for scroll-snap-points-x and scroll-snap-points-y"
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-points-x

The grammar is `none | repeat(<length>)`. This means that it can either be `none`, or a function `repeat()` containing a length.

[`expect_function`](https://doc.servo.org/cssparser/parser/struct.Parser.html#method.expect_function) and [`parse_nested_block`](https://doc.servo.org/cssparser/parser/struct.Parser.html#method.parse

[2016-10-21 04:10] highfive commented on #13871
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 04:11] Manishearth commented on #13869
Great! Let us know if you have questions!

[2016-10-21 04:12] heycam commented on #13869
Hard coding is fine for now. For Gecko, we probably should just change them to be constants defined somewhere rather than exposed through the `nsPresContext`.

[2016-10-21 04:18] jdm commented on #12967
@chajath That would be great!

[2016-10-21 04:23] jdm commented on #13858
The first time I ran it in a debug I got massive hangs that Instruments.app showed were coming from receiving IPC in the webrender backend. The second time I ran it I got a program abort:
[code]

[2016-10-21 04:29] notriddle commented on #13865
If we have to go with this solution, could we at least have this predicated on a Big Global Switch that turns off the synchronization if there aren't any outstanding requestAnimationFrame tasks? Otherwise, we end up blocking animations on GC and our smoothness tanks.

[2016-10-21 04:29] aethanyc commented on #13869
Any bug filed on gecko for moving those `border-width` constants from `nsPresContext` to elsewhere?

[2016-10-21 04:37] heycam commented on #13869
There isn't AFAIK. Please feel free to file one!

[2016-10-21 09:09] Manishearth opened #13874 "Implement parsing/serialization for font-language-override"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-language-override

The grammar is `normal | <string>`. This means that it can either be `normal`, or a quoted string.

[`expect_string`](https://doc.servo.org/cssparser/parser/struct.Parser.html#method.expect_string) will help parse the quoted string.

See https://github.com/servo/servo/wiki/Property-hacking-guide for instructions on how to wor

[2016-10-21 09:09] highfive commented on #13874
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 09:12] paulrouget commented on #13353
Putting that on hold for now. We are working on a better Browser API that would solve this.

[2016-10-21 09:14] Manishearth opened #13875 "Implement parsing/serialization for font-size-adjust"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size-adjust

The grammar is `none | <number>`. This means that it can either be the keyword `none`, or a number.

[`values::specified::Number`](https://doc.servo.org/style/values/specified/struct.Number.html) will help with storing and parsing then number.

See https://github.com/servo/servo/wiki/Property-hacking-guide for instructions on how t

[2016-10-21 09:21] Manishearth opened #13876 "Implement parsing/serialization for font-synthesis"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-synthesis

The grammar is `none | [ weight || style ]`. This means that it can either be the keyword `none`, or _at least one of the keywords `weight` or `style`. So it can be `none`, `weight style`, `style weight`, `weight` or `style`. You can store it as a simple struct with boolean fields for `weight` and `style`

The `match_ignore_ascii_cas

[2016-10-21 09:21] highfive commented on #13876
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 09:43] Manishearth opened #13877 "Implement parsing/serialization for image-orientation"
https://developer.mozilla.org/en-US/docs/Web/CSS/image-orientation

The grammar is `from-image | <angle> | [<angle>? flip]`. This means that it can be the keyword `from-image`, an [`Angle`](https://doc.servo.org/style/values/specified/struct.Angle.html), the keyword `flip`, or an angle followed by the keyword `flip`. One way to store it would be as a struct with an `Option<Angle>` field and a bool

[2016-10-21 09:43] highfive commented on #13877
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 11:58] lukehutch opened #13879 "Crash trying to view http://slither.io/"
I tried the latest Servo nightly build on Fedora. When I go to http://slither.io/ , I get:

called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 24, message: "Too many open files" } } (thread CanvasThread, at ../src/libcore/result.rs:799)
called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 24, message: "Too many open files" } } (thread Constellation, at ../src/li

[2016-10-21 13:52] jdm commented on #13879
Interesting. Looks like something gotten worse since #10381 was reported.

[2016-10-21 14:43] jdm commented on #13858
When I ran it in a clean release build I got a crash but the browser stayed open and could still scroll the page???
[code]

[2016-10-21 15:00] jdm opened #13881 "JS crash loading reading view"
I consistently get this crash when clicking "reading view" in an optimized build on https://mozdevs.github.io/servo-experiments/experiments/readingView/:

[code]

[code]

[2016-10-21 15:46] #13363 closed

[2016-10-21 19:35] jdm opened #13883 "Special activation behaviour for click events"
I haven't read through the spec changes at all; I'm putting this here to get it out of my list of "tabs I should really take time to read".
https://github.com/whatwg/dom/pull/342

[2016-10-21 19:35] jdm opened #13884 "Firing events spec cleanup"
No idea if there's anything we need to address; I haven't read the changes yet.
https://github.com/whatwg/html/pull/1886

[2016-10-21 19:36] jdm opened #13885 "Activation behaviour changes"
No idea if we need to make changes here; I haven't read the update yet.
https://github.com/whatwg/html/pull/1925

[2016-10-21 19:38] jdm commented on #13837
@AVGP Please do! Ask questions here if anything is unclear!

[2016-10-21 19:52] AVGP commented on #13837
What's up with Travis? Is this DNS-DDoS fallout?

[2016-10-21 20:10] canaltinova commented on #13837
Yeah, probably because of DNS attack. Also highfive is not working properly.

[2016-10-21 21:42] bholley opened #13887 "Intermittent failure in /css-transitions-1_dev/html/events-004.htm:"
from #13863

[code]

[2016-10-21 22:10] jeenalee opened #13888 "Write Step 1 of the Response API `Clone()` method"
Response is implemented in `components/script/dom/response.rs`. Step 1 in `Clone()` method is currently missing. While the lower level details are not fully implemented yet, the higher level building blocks required for Step 1 (`self.BodyUsed()` and `self.is_locked()`) are available.

The changes will replace the `TODO` line under Step 1 in `components/script/dom/response.rs`:
[code]

According to

[2016-10-21 22:29] highfive commented on #13888
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-21 23:22] lautat commented on #13888
Looks like a perfect first bug to me. I'll work on this issue. Any mentoring would be appreciated.

[2016-10-21 23:47] KiChjang commented on #13888
Fantastic! Leave a comment here or chat with us in #servo at `irc.mozilla.org` if you have any questions :).

[2016-10-22 00:03] jeenalee commented on #13888
@lautat Awesome! Please don't hesitate to ask questions!

[2016-10-22 05:06] gitmansagu commented on #12125
I start servo on my lepto and it starts very quick. But when I go to diep.io i see yust black screen
![zajeta slika](https://cloud.githubusercontent.com/assets/16504129/19617060/0fd982d4-9826-11e6-8724-ecf9ead3209f.PNG)

[2016-10-22 06:21] Manishearth commented on #13869
https://bugzilla.mozilla.org/show_bug.cgi?id=1312155

[2016-10-22 09:37] myfreeweb commented on #11625
[Webrender works](https://unrelenting.technology/notes/2016-10-21-21-16-04) after Daggerbot/x11-rs#52 servo/gleam#91

[2016-10-22 11:58] chenpighead commented on #13875
I'd like to work on this.

[2016-10-22 13:20] gterzian commented on #13249
@paulrouget proof of concept at https://github.com/servo/webrender/pull/465/files  it 'works', once again just switching the scroll to the root layer, if we go forward with this we should probably grab the 'nearest parent' instead... Please let me know what you think

[2016-10-22 13:28] canaltinova opened #13892 "Fix linear gradient's specified form"
Currently linear gradient is not preserving the current corner directions if just one corner is specified. We should fix thix. The specified form of the linear gradient should preserve the corners and it should convert to angle in ToComputedValue implementation.

To give a  more details, you need to convert [this](https://github.com/servo/servo/blob/dee1a65a6983188a125f820b8bc9505f4909e171/compone

[2016-10-22 14:20] Manishearth commented on #13875
Go ahead!

cc @canaltinova @heycam (in case I'm not around to mentor)

[2016-10-22 15:06] rwakulszowa commented on #13852
Hey, is this one of the cases where specified and computed values are the same? (like [here](https://github.com/servo/servo/blob/275278be44b96b683bee40a8d8a6462198ec9e39/components/style/properties/longhand/font.mako.rs#L15-L17) )

Also, is there a nice way to store a "non-negative" integer in this module, or should I just use u32 or something like that?

[2016-10-22 15:09] Manishearth commented on #13852
Yep, the two are the same.

Just use `Number` with `parse_non_negative` https://doc.servo.org/style/values/specified/struct.Number.html#method.parse_non_negative

[2016-10-22 15:11] Manishearth commented on #13852
Oh, wait, integer, not number.

Use https://doc.servo.org/cssparser/struct.Parser.html#method.expect_integer and just return an error if it's negative.

[2016-10-22 15:51] IgorNikolov opened #13893 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-9cbac40
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-22 16:58] canaltinova opened #13894 "Use graphemes in text-emphasis-style"
Gecko always truncate string values into a single grapheme cluster. We are currently storing a single letter in  a string. We should do the same.
Current code is:
[code]
We should use something like this instead:
[code]
You can see @Manishearth's note about it here: https://github.com/servo/servo/pull/13860/files#r84568328

To use [graphemes](https://unicode-rs.github.io/unicode-segmentation/unico

[2016-10-22 17:01] highfive commented on #13894
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-23 01:33] #13853 closed

[2016-10-23 10:01] cers commented on #13877
I would like to take a stab at this

[2016-10-23 10:16] Manishearth commented on #13877
Go ahead!

cc @heycam @canaltinova

[2016-10-23 12:23] jdm commented on #11863
https://github.com/servo/servo/pull/12473#issuecomment-244749066 is the latest information about what's required for this task. Specifically, we don't have any tests that verify referrer policies for subresource requests initiated from inside workers.

[2016-10-23 12:28] jdm opened #13896 "Run WPT stability bot for new tests"
There are a few properties that it would be valuable to verify when new tests are created in Servo's WPT clone:
* does the test pass in Firefox? Is it stable?
* does the test pass in Chrome? Is it stable?
* is the test stable in Servo?

@jgraham What would be involved in getting a similar setup to w3c/web-platform-tests for PRs to servo/servo?

[2016-10-23 14:35] gterzian commented on #13249
UPDATE: now also getting the 'nearest parent' ;)

[2016-10-23 16:48] TooManyBees commented on #13894
I can pick this up

[2016-10-23 16:57] jdm commented on #13894
Great! Please ask questions here if anything is unclear!

[2016-10-23 17:21] #13888 closed

[2016-10-23 19:52] ddrmanxbxfr commented on #13835
I'd like to work on this issue.

@Ms2ger Just to make sure I test the good thing. An unsupported method means that both will be undefined right ?

[2016-10-23 20:00] jdm commented on #13835
@ddrmanxbxfr That is correct!

[2016-10-23 21:28] rwakulszowa commented on #13852
Ok, my initial attempt [landed](https://github.com/rwakulszowa/servo/commit/54c81d98b47db3201c06481c65eff633d32d64f2). Oddly enough, it compiles :)
There's 1 TODO where I need help figuring out how to capture the parsed integer properly - using `if let Ok(val) = input.expect_integer() ` causes a compiler error "cannot mutably borrow in a pattern guard"
I'm probably doing something dumb :/

Where d

[2016-10-23 22:05] anholt commented on #10671
Merged in:

    commit 61debe5c01996f667b352951bb7cc6c8dab7b2a9
    Author: Eric Anholt <eric@anholt.net>
    Date:   Sat Sep 17 19:40:42 2016 +0100

        webgl: Implement uniformMatrix*fv.

[2016-10-23 23:40] SimonSapin commented on #13177
The two `unsafe impl`s did not land since we ended up using `parking_lot::RwLock` for style objects. But `DOMRefCell::borrow_for_layout` still exist, is still used, and is still suspicious in my opinion.

[2016-10-23 23:54] #10671 closed

[2016-10-24 00:33] AgostonSzepessy commented on #13849
@Manishearth I have a a few questions about implementing `<color>`. For `<rgb()>` should I use `cssparser::RGBA` with `A` set to 1, and for `<rgba()>` should I use `cssparser::RGBA`? For `<deprecated-system-color>` should I create an `enum` with all the values listed on MDN? Also, is there a data structure for storing HSL and HSLA or do I need to create one?

[2016-10-24 03:05] Manishearth commented on #13849
You don't need to implement color, it already exists as a type, like Length. See how backgroubd-color in background.mako.rs does it.

[2016-10-24 03:42] Manishearth commented on #13852
You need to `if let Ok(value) = input.try(|input| input.expect_integer()) {}`, and use `else if let` for the next one:

[code]

`if let` and `if` don't mix well right now, but this will get fixed once we have nonlexical lifetimes.

Also, currently you're probably using `./mach build`. This is okay, but in the final patch you will want to have `products="none"` in the longhand. Once you do this the

[2016-10-24 06:05] anholt opened #13901 "webgl: Uninitialized data leak from ReadPixels()"
From the GLES 2.0.25 spec on `glReadPixels()`:

but from the WebGL spec:

This is triggered by the `object-deletion-behaviour.html` test once `checkFramebufferStatus()` starts returning `GL_FRAMEBUFFER_COMPLETE`.

[2016-10-24 07:53] Swatinem commented on #4503
Haven’t seen this in quite some time, closing WFM.

[2016-10-24 07:53] #4503 closed

[2016-10-24 07:54] gterzian commented on #13249
By the way, I noticed that when you scroll and you encounter a scrollable child layer, the scroll switches to that layer, which is the opposite of the behaviour we want as per @mstange. This doesn't relate to my changes, yet we might want to try to tackle both at the same time?

[2016-10-24 08:02] paulrouget commented on #13249
That's because layer is picked in `fn scroll` no matter the phase.

I would say yes. It's very much related. Both problems are about which layer is chosen on scroll.

[2016-10-24 09:40] shinglyu opened #13903 "./mach test-perf does not run in VM"
Currently the ./mach test-perf tests are running in a VirtualBox ubuntu VM with Xvfb, but recently it start to fail because of #13515.

To properly run it, based on the [instruction](https://github.com/servo/servo/issues/13515#issuecomment-250592787), we should set the environment variables as follows:

[code]

Then run servo with `-z` headless flag.

This requires a few fixes:
1. Set the env var

[2016-10-24 09:41] shinglyu commented on #13903
Related: #12988

[2016-10-24 11:43] mmatyas commented on #13154
Could someone reopen this issue? It's been closed by the bot.

[2016-10-24 17:42] rwakulszowa commented on #13852
Thanks, it worked well!

I fixed some bugs, added some tests, and they pass. Now the question is, should I add some tests for `to_css`, and if so, where do i add them?
I also wanted to add some expect-error kinda tests, but I couldn't find any `assert_err` or anything like that. Is there an idiomatic way to handle this in Rust?

[2016-10-24 18:08] Manishearth commented on #13852
`assert!(something.is_err())`?

For `to_css` use `assert_roundtrip`, which parses a given string, serializes it, and checks that it's the same as the second string.

[2016-10-24 23:16] glennw commented on #13842
When I test that on Linux, I see the following:

![bug](https://cloud.githubusercontent.com/assets/2350882/19667305/7551ce68-9a93-11e6-8fcf-19e5915e54be.png)

So it looks like it's mostly working - but that the clipping (or something similar) is incorrect. Could you confirm that's what you see on your machine too with current master?

[2016-10-24 23:32] glennw commented on #13842
Minimal test case for the clipping / display issue:

[code]

[2016-10-24 23:58] TooManyBees commented on #13894
I'm wondering what a good test for this would be. I assume something that tests that that a string doesn't get truncated in the middle of a grapheme (like षि), but putting a unit test with that grapheme in `tests/unit/style/parsing/inherited_text.rs` but got an error unwrapping an Err (I think it was from the `parse_longhand!` macro, but I can't tell).

[2016-10-25 01:32] Manishearth commented on #13894
Check if षि  is considered to be a single grapheme by the library. Also try ज्ञ which is three code points but a single grapheme (and is not _exactly_ logically constructed from those code points)

Yes, `parse_longhand` unwraps the result of a parse. There might be something wrong with your test text or the parse code.

[2016-10-25 02:09] TooManyBees commented on #13894
I posted a [WIP pull request](https://github.com/servo/servo/pull/13914) with my code.

The code I was using for the test is
[code]

Trying with ज्ञ also panics in the same spot. I'll start checking the library to see what it considers graphemes.

[2016-10-25 02:23] Manishearth commented on #13894
`षि` is not a valid value for `text-emphasis-style`, it must be `"षि"`. You need to do `let devanagari_string = parse_longhand!(text_emphasis_style, "\"षि\"");`

[2016-10-25 02:47] TooManyBees commented on #13894
My mistake, that did it. Thanks for the help.

[2016-10-25 04:24] Gozala commented on #13842
Yep it's what I see now on Master on OSX as well.

[2016-10-25 04:31] Gozala commented on #13842
@glennw That's pretty much what I reported in  #13819 there is also other issue #13822 that has another chunk of this code that also does not render right.

I am under impression that issue here is that first content is clipped and then transformed, rather doing that in reverse which causes incorrect rendering.

[2016-10-25 05:14] notriddle commented on #13670
Sure. Feel free to ask any questions here.

[2016-10-25 05:23] pcwalton opened #13915 "Inline absolute hypothetical boxes at end of lines are incorrect"
Minimal test case:

    <!DOCTYPE html>
    <div style="position: absolute;">
        Wikipedia<span style="top: 50%; position: absolute; margin-left: 1px;">X</span>
    </div>

The X should not overlap the rest of the text.

This breaks Google search results (the drop downs).

I think what's happening is that the inline absolute hypothetical box is getting placed on the next line when it shouldn'

[2016-10-25 08:21] Ms2ger opened #13916 "Provide a useful file name when calling into JS."
[Will add more pointers later.]

[2016-10-25 09:50] Jayflux commented on #13325
You can use dependency walker tool to figure it out.

[2016-10-25 10:43] mmatyas commented on #13154
Current status:
[code]

[2016-10-25 10:57] dati91 commented on #13154
[This](http://stackoverflow.com/questions/9226513/linker-errors-in-android-ndk-undefined-reference-to-cxa-end-cleanup) looks promising.

[2016-10-25 11:40] #13788 closed

[2016-10-25 11:46] mmatyas commented on #13154
Linking with `-lc++` fixed most of the dynamic symbols, except only one (`__cxa_type_match`); I'll try linking with a different libc++.

[2016-10-25 14:44] kvark commented on #13578
Related - https://github.com/servo/webrender/issues/427

[2016-10-25 17:22] bholley opened #13919 "Intermittent failure in /css21_dev/html4/abs-pos-non-replaced-vlr-137.htm , /css21_dev/html4/abs-pos-non-replaced-vrl-136.htm, /css21_dev/html4/abs-pos-non-replaced-vrl-144.htm, /css21_dev/html4/abs-pos-non-replaced-vlr-149.htm, /css21_dev/html4/abs-pos-non-replaced-vlr-033.htm, /css21_dev/html4/abs-pos-non-replaced-vrl-064.htm, /css21_dev/html4/abs-pos-non-replaced-vlr-065.htm, /css21_dev/html4/abs-pos-non-replaced-vlr-145.htm"
See #13913

[2016-10-25 17:41] notriddle commented on #12144
![s](https://cloud.githubusercontent.com/assets/1593513/19697254/84cbfb50-9a9f-11e6-8ecb-93a4a2a8256b.png)

I think this issue is fixed. Can anyone else reproduce it?

[2016-10-25 17:56] emilio opened #13920 "Intermittent pass of /css21_dev/html4/c5525-fltblck-000.htm"
[code]

[2016-10-25 17:59] jdm commented on #13919
[code]

[2016-10-25 18:05] jdm commented on #13919
<img width="354" alt="screen shot 2016-10-25 at 2 04 58 pm" src="https://cloud.githubusercontent.com/assets/27658/19698150/13552ab0-9abc-11e6-8ecb-9923d5fbb7b0.png">

[2016-10-25 18:11] asajeffrey opened #13921 "Test behaviour of racing navigations"
A long irc chat with @jdm about what happens when there are two racing navigations on the same browsing context: http://logs.glob.uno/?c=mozilla%23servo&s=25+Oct+2016&e=25+Oct+2016#c548428

TL;DR: we need an extra couple of test cases:

* if a parent sets a child iframe's src, then the child reloads, the reload should take precedence.
* If a child iframe keeps calling reload(), this should cause i

[2016-10-25 18:15] rwakulszowa commented on #13852
Thanks.
By the way, do you think it would make sense to create a macro to expect parsing failure? The current one `unwrap`'s in the end, so it's quite useless for this purpose. Or maybe there's some other way to handle this?
I can create an `easy` issue and guide whoever picks it.

[2016-10-25 18:32] jdm commented on #13921
Note: the discussion in bug 1312804 has made me come around to the view that a child page continuously calling reload() should not prevent the parent from getting a document load event.

[2016-10-25 18:41] asajeffrey commented on #13921
@jdm do you mean that the spec allows both behaviours, or that it requires the behaviour where the parent gets the load event?

[2016-10-25 18:43] Gozala commented on #12144
Indeed, it seems to be fixed on master 🍾

[2016-10-25 18:43] #12144 closed

[2016-10-25 18:55] jdm commented on #13921
It looks like the spec requires it, given how https://html.spec.whatwg.org/multipage/syntax.html#the-end is written (ie. synchronously invoked via aborting the parser from https://html.spec.whatwg.org/multipage/browsers.html#abort-a-document).

[2016-10-25 19:06] emilio commented on #13748
Shouldn't you be using `t.step_func(function{ assert_true(false) })`? I thought it was for that.

[2016-10-25 19:17] splav commented on #13915
May be related to this very old issue: https://github.com/servo/servo/issues/874

[2016-10-25 20:12] jdm commented on #13748
Sure, that would be optimal. If there are ways to get meaningful details out of a case where the testharness wrappers aren't in use, however, that would be better.

[2016-10-26 00:37] glennw opened #13925 "Support image-mask"
There is (basic) support in webrender for this now, so we will need to add parser support (if not already done for Stylo) and then pass it through via layout to display lists.

[2016-10-26 01:56] #13835 closed

[2016-10-26 02:58] glennw commented on #13842
OK, I can see the problem.

We have this band-aid style solution right now for clipping with transforms, that sort of works enough to handle the basic cases, but falls over with anything more complex than that.

Instead of trying to extend the band-aid, I'm going to add proper support for transformed clip hierarchies. Apologies that this won't be fixed immediately, but a lot of the prep work for p

[2016-10-26 04:49] anholt opened #13928 "webgl: useProgram(null) should bind 0, not throw an error."
`webgl useProgram(null)` should clear the binding and call `glUseProgram(0)`, but currently we do nothing.  I don't have a testcase covering this currently, but probably be something like "make sure a draw call throws an error after we've bound back to null." would at least catch that we're not resetting the webgl binding.

Catching that we don't call down to GL would be a bit trickier.  Currently

[2016-10-26 05:47] vgvenkat commented on #13668
I have added all values from the MDN for the existing [font-variant](https://github.com/servo/servo/blob/master/components/style/properties/longhand/font.mako.rs#L127) in font.marko.rs. I am guessing no other changes in this file.

As pointed out, I guess the manual glue needs to be added in the gecko.marko.rs file. Also the pointed `set_font_stretch` in https://github.com/servo/servo/pull/13570/f

[2016-10-26 06:46] Wafflespeanut commented on #13668
@vgvenkat Let's wait until #13902 lands, and this will be much easier to implement :)

[2016-10-26 08:30] hamilyon commented on #11139
I can confirm this, 64 bit ubuntu linux.

[2016-10-26 08:31] hamilyon commented on #11139
Here is my `glxinfo` output

[code]

[2016-10-26 09:05] aethanyc opened #13929 "Running ./mach test-unit generates files in tree"
After running `./mach test-unit -p style`, some files generated under `tests/unit/style/target/`. Could we make them generated under `target/` or some where properly? Otherwise `./mach test-tidy` will scan those auto-generated files such as `tests/unit/style/target/debug/build/style-caa51859d4634c6c/out/properties.rs`, and produces much noise.

[2016-10-26 09:15] Wafflespeanut commented on #13929
It's already in `target`. When I tried to reproduce this, it seemed to be using `servo/target/debug/build/style-8deb288d0c4a7300/out/properties.rs`.

[2016-10-26 09:52] aethanyc commented on #13929
@Wafflespeanut I think you're right.  My Emacs with flycheck or something tries to do syntax checking and build the crate in tree. Thanks!

[2016-10-26 09:52] #13929 closed

[2016-10-26 10:34] Manishearth commented on #13852
I don't really see the need, you can `parse("css text", function_name).unwrap()`. The others are macros since they involve multiple steps.

[2016-10-26 11:18] iamrohit7 commented on #13876
I would like to work on this.

[2016-10-26 11:20] Manishearth commented on #13876
Go ahead!

[2016-10-26 12:29] mmatyas commented on #13154
Current status: `E/AndroidRuntime(16415): java.lang.UnsatisfiedLinkError: dlopen failed: could not load library "libc++_shared.so" needed by "libmain.so"; caused by library "libc++_shared.so" not found`

[2016-10-26 13:37] mmatyas commented on #13154
IT'S ALIVE! Behold, the pinnacle of browser technology:

![screen](https://cloud.githubusercontent.com/assets/4354863/19727985/f67a8684-9b91-11e6-9914-ca1775cbd1bd.png)

[2016-10-26 13:44] bheart commented on #13874
I would like to give this a shot

[2016-10-26 18:05] birryree commented on #13838
I'll handle this one.

[2016-10-26 18:06] birryree commented on #13259
I can handle this one as well.

[2016-10-26 18:21] KiChjang commented on #13874
Sure thing!

[2016-10-26 18:28] KiChjang commented on #13259
You seem to have plenty of issues assigned to you already, do you mind finishing them off first before attempting this one?

[2016-10-26 18:28] KiChjang commented on #13838
Go for it!

[2016-10-26 18:54] #13915 closed

[2016-10-26 19:36] birryree commented on #13259
@KiChjang - sure thing. I do have an open PR waiting on @aneeshusa which is one of the two issues assigned to me right now.

[2016-10-26 20:10] jdm commented on #10417
I believe this is now complete.

[2016-10-26 20:10] #10417 closed

[2016-10-26 20:28] pcwalton opened #13932 "Absolutely positioning an element way off the top of the page makes the body scrollable area long"
Minimal test case:

[code]

You should not be able to scroll this page down.

This breaks Google search results.

[2016-10-26 20:54] canova opened #13933 "`./mach test-unit` should also run with `feature = "gecko"`"
In #13914, we added a crate for a longhand but currently, it only runs in stylo build. To avoid the `unused_extern_crates` error, we added `#[allow(unused_extern_crates)]` It can be changed with `#[cfg(feature = "gecko")]` but it gives error during `./mach test-unit` because unit tests run for all properties. To fix that, `./mach test-unit` should run with `feature = "gecko"` flag.

[2016-10-26 21:26] emilio commented on #13933
Or even with both features.

[2016-10-26 21:56] AgostonSzepessy commented on #13849
@Manishearth I'd like to make sure that I'm implementing this correctly. I have

[code]
In `computed_value`, should I be using a struct instead of a tuple struct, or is what I have correct?

[2016-10-26 22:02] canaltinova commented on #13933
Yes, that's more accurate.

[2016-10-26 23:18] Manishearth commented on #13849
I'm sorry. I just realized that this is a shorthand, not a longhand, and we won't need this implemented till the longhands are. Feel free to pick up a different open bug.

[2016-10-27 00:09] AgostonSzepessy commented on #13850
I'd like to try this one.

[2016-10-27 00:11] Manishearth commented on #13850
Go ahead!

[2016-10-27 02:20] shinglyu commented on #12610
Done 1 and 2. 3 is harder then I think, there are too many conditional branches in the spec, I'll start by implementing the branch that doesn't require the aspect ratio first.

[2016-10-27 02:49] #13782 closed

[2016-10-27 05:25] shinglyu opened #13938 "Don't check untracked file in test-tidy"
When I run `./mach test-tidy` I'm usually overwhelmed by the untracked files, e.g. logs, temporary script, temporary test cases etc. I usually use `grep` to filter out those I'm actually interested, but I usually missed some and find it out later in CI checks. Since we are not going to check-in untracked files, should we skip checking their tidiness?

I propose we don't run the tidy check on untra

[2016-10-27 05:26] shinglyu commented on #13938
I have a almost-ready patch, but I think we should better discuss it before I submit the PR.

[2016-10-27 05:46] jdm opened #13939 "Appveyor windows gnu build is failing"
I'm not sure when this changed, but I guess the appveyor build folder isn't a git repo, for some reason?

[code]

[2016-10-27 05:46] highfive commented on #13939
cc @wafflespeanut

[2016-10-27 05:50] jdm commented on #13939
https://ci.appveyor.com/project/servo/servo/history shows that this suddenly broke two days ago. I think something on appveyor's end changed behind our backs?

[2016-10-27 05:52] jdm commented on #13938
This makes sense to me.

[2016-10-27 05:52] highfive commented on #13938
cc @wafflespeanut

[2016-10-27 07:41] shinglyu commented on #5187
Just to keep a note here: I'm currently implementing the CSS parser for Stylo. As the [MDN doc](https://developer.mozilla.org/zh-TW/docs/Web/CSS/filter#drop-shadow()_2) said, there _should_ be a `<spread-radius>` paramter, but most browsers don't implement it. I'll still implement that in case we support spread radius in Servo's layout and gfx later.

[2016-10-27 07:52] shinglyu commented on #5187
Wait! the filter spec says the `spread` parameter is not supported so far, see: https://drafts.fxtf.org/filters/#funcdef-filter-drop-shadow

[2016-10-27 08:46] mmatyas commented on #3893
How about putting mst3k on that nice red color:

![redservologo1](https://cloud.githubusercontent.com/assets/4354863/19760528/6ed8cb04-9c32-11e6-876d-ecae99b81ce9.png)

Or with black border:

![redservologo2](https://cloud.githubusercontent.com/assets/4354863/19760534/7194ff98-9c32-11e6-85d5-873b5ef3a1da.png)

[2016-10-27 08:51] mmatyas commented on #13154
@larsbergstrom when do you plan to land your patch?

[2016-10-27 10:18] Ms2ger opened #13942 "Investigate issues blocking support for Google Docs"
* [ ] #13413 - `location.replace()`

[2016-10-27 11:09] Ms2ger commented on #13942
Two interesting errors:
[code]

[2016-10-27 12:29] Ms2ger opened #13944 "Erroneous result for offsetHeight on Google Docs"
[code]

logs 0 in Servo, but 96 in both Gecko and Chrome.

Google Docs throws an exception ("The number of pixels per point in the user's screen is not set") if the value is falsy ⇒ blocks #13942.

[2016-10-27 13:13] Ms2ger commented on #13944
Adding `display: block;` helps. CC @pcwalton @mbrubeck

[2016-10-27 14:21] aneeshusa commented on #13938
+1 from me for this.

[2016-10-27 14:39] jryans commented on #8982
In case anyone is wondering, I did make some progress toward an implementation here, but then I got stuck when I started writing tests and noticed that every engine seems to give different results for these APIs. I wasn't sure how to resolve that... If anyone has suggestions, maybe I can continue to push forward.

[2016-10-27 14:42] larsbergstrom commented on #13938
Definitely +1 here - thanks for doing this!

[2016-10-27 15:15] jdm commented on #13944
This sounds similar to #12939.

[2016-10-27 15:25] Ms2ger commented on #13942
Some more errors:
[code]
and a screenshot:
![google docs](https://cloud.githubusercontent.com/assets/111161/19773560/4d70f2d8-9c6a-11e6-9e2b-96cb5cfe9a09.png)

[2016-10-27 16:32] #13852 closed

[2016-10-27 18:12] Permutatrix commented on #13944
That's definitely #12939. Sorry for the delay on that again. I'm back now.

[2016-10-27 19:10] glennw commented on #13842
@kvark is working on fixing up the clip + transform issues, which should sort this out.

[2016-10-27 19:10] glennw commented on #13822
cc @kvark

[2016-10-27 19:10] glennw commented on #13819
cc @kvark

[2016-10-27 21:21] bbansalWolfPack commented on #11124
Faced this issue before and tried a work around. It worked during that time but after taking updated servo code, I am again facing the same issue.

Failed to compile shader: "/home/bbansal/Desktop/Servo/servo/resources/shaders/blur.vs.glsl"
0:1(10): error: GLSL 1.50 is not supported. Supported versions are: 1.10, 1.20, 1.30, and 1.00 ES

Can anybody suggest any solution for this?

[2016-10-27 21:49] #13894 closed

[2016-10-27 23:49] webmaven commented on #3893
@metajack et al,

Will it be important for the servo logo to work with the new Mozilla branding being developed?:

https://blog.mozilla.org/opendesign/

[2016-10-28 01:25] larsbergstrom commented on #3893
@webmaven No. Servo is sponsored in part by Mozilla, but is governed as an independent project and does not need to have any shared branding elements with whatever Mozilla decides to go with.

[2016-10-28 01:45] andyfangdz opened #13952 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL: https://cv.andyfang.me
### Servo Version:

Servo 0.0.1-b4a882f
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-28 02:15] glennw commented on #11124
@bbansalWolfPack Could you let us know what graphics card, and OS version you are running? If you can paste the output of running the command 'glxinfo' here that should have what we need to know.

[2016-10-28 02:27] bbansalWolfPack commented on #11124
[glxinfo_bbansal.txt](https://github.com/servo/servo/files/557464/glxinfo_bbansal.txt)

Attaching the file.

Thanks

[2016-10-28 02:32] jdm commented on #11124
@bbansalWolfPack What about the graphics card an OS?

[2016-10-28 02:32] jonathandturner opened #13953 "macOS nightly shows black page on startup"
The currently macOS nightly shows this to me on startup:

<img width="753" alt="screen shot 2016-10-27 at 10 31 09 pm" src="https://cloud.githubusercontent.com/assets/547158/19792100/4a62be8e-9c95-11e6-9863-1b23cea123b9.png">

[2016-10-28 02:33] bbansalWolfPack commented on #11124
Nvidia GEFORCE

[2016-10-28 02:34] glennw commented on #11124
Thanks!

These lines identify the problem:

[code]

This page has some details listed on the requirements for accessing OpenGL 3.3 through a VMWare guest - http://www.mesa3d.org/vmware-guest.html - so it looks like you don't meet one of those requirements. Could you check the VMWare version you have, and the video card on the host machine?

You may also have success by setting the software renderi

[2016-10-28 03:37] jdm opened #13954 "Make test-tidy check for alphabetical ordering of #![feature(...)] statements"
We try to keep our lists ordered:

[code]

These only exist in files named `lib.rs`, and it would be nice to have `./mach test-tidy` verify that they are in alphabetical order.

[2016-10-28 03:37] highfive commented on #13954
cc @wafflespeanut

[2016-10-28 03:37] highfive commented on #13954
cc @wafflespeanut

[2016-10-28 03:57] #13639 closed

[2016-10-28 06:31] paulrouget commented on #8982
Isn't there some wpt test for getClientRects and getBoudingClientRect?

[2016-10-28 06:37] yodalee commented on #13234
I dig into this problem for a while, here is my little conclusion:
Currently, `TextDecoder` own a `EncodingRef`, and let `EncodingRef` do all the decode job. The`EncodingRef` does not supporting stream decode, which always flush buffer in the end of `decode` method.
I firstly try to add a `RawDecoder` into `TextDecoder`, and copy the content of `decode` method in `EncodingRef` to `Decode` method i

[2016-10-28 06:37] jaysonsantos commented on #8982
@jryans when I was trying to do it i created some sort of tests but every browser will return a different value which makes that a bit hard to do but here [1] is the closed pr.
[1] https://github.com/servo/servo/pull/10828/files

[2016-10-28 07:27] #13938 closed

[2016-10-28 08:38] Ms2ger commented on #8982
Doesn't look like there's any tests for `getBoundingClientRect` on `Range`.

[2016-10-28 08:58] Ms2ger commented on #13942
The `CrossPageChannel: Can't connect, peer window-object not set.` error is somewhat serious. It does
[code]
from a cross-origin iframe, intending to call `postMessage()` on it. (In particular, the iframe is hosted on `3.docs.google.com`.)

[2016-10-28 10:49] neeharv commented on #13868
I'll take a crack at this.

[2016-10-28 11:05] elioqoshi commented on #3893
I like where this is going! Will make a proposal sometime next week

[2016-10-28 11:20] Ms2ger commented on #13942
Getting some more complaints when hacking around that:
[code]

[2016-10-28 12:16] #13876 closed

[2016-10-28 13:28] Bforsyth1234 commented on #13953
Show a blank white one for me...

![screen shot 2016-10-28 at 9 27 40 am](https://cloud.githubusercontent.com/assets/4528782/19808034/d7cfc388-9cf0-11e6-98b5-cc28dfdc7df5.png)

[2016-10-28 14:14] dati91 commented on #13154
One additional note: You can only build android with java 7 and below.

The build.xml used via ant sets the default target/source to 1.5, which is not supported in java 9 anymore. But You can define an ant.properties file where you can redefine these properties.

If you get `unsupported class file version 52.0` error, you should downgrade your buildtools to 23. You can achieve this by adding `sdk.

[2016-10-28 16:00] k-bx opened #13962 "Calling current_styles before or during styling"
Calling current_styles before or during styling
### URL:

https://blog.devteam.space/new-macbook-pro-is-not-a-laptop-for-developers-anymore-d0d4b1b8b7de?gi=7649b9baeae5#.tpt1vssco
### Servo Version:

Servo 0.0.1-b4a882f
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-28 16:22] kpp opened #13963 "Servo fails browsing https://github.com/"
I ran `./servo --debug wr-stats --gpu --webrender --pref dom.mozbrowser.enabled`
1.  https://github.com/servo/servo/ then https://github.com/servo/servo/watchers then https://github.com/BrendanEich then https://avatars1.githubusercontent.com/u/313317?v=3&s=400 . I entered Backspace then  ESC and servo failed:

[code]
1. https://github.com/servo/servo/graphs/contributors then https://github.com/ser

[2016-10-28 16:32] zmike commented on #10274
Okay, after a long long time of being absent I've determined that this is most likely due to the removal of any functionality from initialize_compositing() in components/compositor.rs. This causes servo to abort very early when attempting to compile shaders, complaining that GL is not found.

As of the last functional version that I used, the code for this function was:

        self.context = Som

[2016-10-28 16:41] iamrohit7 commented on #13871
I would like to work on this.

[2016-10-28 17:01] matematikaadit commented on #11139
I'm using Ubuntu 16.04, running the nightly build provided in https://download.servo.org/ and having the same problem.

[code]
I'm no expert, but after digging around, I'm guessing that the problem was the supported OpenGL version. Using software rendering by setting env variable `LIBGL_ALWAYS_SOFTWARE=1` fix the problem.

[code]
now it runs normally (but slow). May I assume that to run servo the

[2016-10-28 17:11] notriddle commented on #13631
Minimal test case:

[code]

[2016-10-28 17:13] notriddle commented on #13631
It's definitely related to the margins (the bug does show up with just two, but three makes it more easy to see).

![](https://cloud.githubusercontent.com/assets/1593513/19815292/0cb25f4c-9cf7-11e6-9b7a-f2bd9aacc2dc.png)

[2016-10-28 17:22] notriddle commented on #13631
Erm, actually, I think this is a different bug.

[2016-10-28 17:32] #13874 closed

[2016-10-28 18:00] asajeffrey opened #13964 "Check that an iframe is in a document with a browsing context before processing src"
https://html.spec.whatwg.org/multipage/embedded-content.html#the-iframe-element says:

We are currently just checking that the iframe is in a document, not that the document has a browsing context.

[2016-10-28 18:02] asajeffrey commented on #13964
IRC conversation with @Ms2ger http://logs.glob.uno/?c=mozilla%23servo&s=28+Oct+2016&e=28+Oct+2016#c550909

[2016-10-28 18:06] Manishearth commented on #13871
Go ahead, and let us know if you have any questions!

cc @canaltinova

[2016-10-28 18:22] #13552 closed

[2016-10-28 19:00] KiChjang commented on #13868
Sure thing!

[2016-10-28 20:22] larsbergstrom commented on #7430
Some other ideas from bz, in relation to the work going on for Quantum DOM (https://wiki.mozilla.org/Quantum#Quantum_DOM ):
http://logs.glob.uno/?c=mozilla%23jsapi&s=28+Oct+2016&e=28+Oct+2016&h=caspy7#c806202

[2016-10-28 20:50] zbraniecki commented on #9558
I don't know if this has been fixed but I'm able to run servo on wayland+gnome now.

[2016-10-28 20:55] larsbergstrom commented on #7055
Is this a potential `E-Easy` bug for infra?

[2016-10-28 21:08] zbraniecki commented on #4159
As of today, l20n is only blocked by #1980

[2016-10-28 22:24] #12562 closed

[2016-10-29 00:15] larsbergstrom commented on #13154
Almost there! Just have:
[code]

This is probably a problem with a bad (old?) NDK installation on the machines.

[2016-10-29 02:37] aneeshusa commented on #13552
I checked the latest Linux nightly (which includes the PR for this) to confirm and it looks like this is working.

[2016-10-29 02:52] hank opened #13970 "ScriptThread: received fire timer msg for a pipeline ID not associated with this script thread. This is a bug."
Ran the peacekeeper javascript test.

[2016-10-29 04:11] AgostonSzepessy commented on #13850
@Manishearth I have a question about this issue. If I have `SpecfiedValue` like this:
[code]
would `computed_value::T` be

[code]

[2016-10-29 04:12] Manishearth commented on #13850
`pub type T = super::SpecifiedValue` and use `ComputedValueAsSpecified`.

[2016-10-29 05:20] willempienaar commented on #13764
Haven't gotten around to this one. If somebody wants to grab it, then it is available. Otherwise I will continue next week.

[2016-10-29 05:23] KiChjang commented on #13764
Let us know if you're working on this again.

[2016-10-29 05:50] DeeDeeG opened #13973 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL: http://www.warnerbros.com/archive/spacejam/movie/cmp/behind/behindframes.html

### Servo Version:
Servo 0.0.1-e4fcc06
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-29 06:05] #10930 closed

[2016-10-29 08:18] fflorent commented on #11485
@jdm Not yet, busy these last days. Jeez, already one month and I did quite nothing, sorry.

I'll keep you informed of my progress next week-end. Unless this is important for you and you need to have it quickly (I wouldn't mind if you unassign me from this issue, I would understand).

Cheers,
Florent

[2016-10-29 09:12] gterzian commented on #13249
Ok, added another commit, which implements 'keeping the currently scrolling layer, unless a new scroll gesture started'. Also keeping the other part which implements 'switching to the parent layer, when the child has scrolled to the end, and a new scroll is started, unless we're dealing with the root scroll layer'.

Please have a look: https://github.com/servo/webrender/pull/465

[2016-10-29 11:07] alexvistyazh opened #13975 "Calling current_styles before or during styling"
Calling current_styles before or during styling
### URL:

### Servo Version:
Servo 0.0.1-e4fcc06
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-29 13:24] iamrohit7 commented on #13954
@wafflespeanut: I am working on this. I have a questions to ask.

`#![feature(feature1, feature2, `feature3)]
 #![feature(feature4)]`

How do I handle cases like this?

[2016-10-29 14:08] NiuZhuang opened #13977 "runservo.sh script is incorrect in nightly build"
Issue: got 404 not found after run ./runservo.sh due to wrong index path parameter in script

Original:

[code]

Fixed:

[code]

[2016-10-29 14:13] jdm commented on #13954
@iamrohit7 Sort the single-line features internally (ie. the `feature1, feature2, feature3` should be sorted alphabetically), then sort the multiline features treating them and single features. So
[code]
would become
[code]
Does that make sense?

[2016-10-29 14:56] iamrohit7 commented on #13954
@jdm So, feature4 should always be greater than feature3? Or is it just enough to be greater than feature1?

`#![feature(abc, def, ghi)]`
`#![feature(cde)]`

This should be fine, right?

[2016-10-29 15:05] Wafflespeanut commented on #13954
I don't quite get your question, but you're right about the example.

[2016-10-29 15:43] kpp commented on #13963
[code]

[2016-10-29 17:51] Haggus commented on #13764
Do you mind if I hack on this?

[2016-10-29 18:00] KiChjang commented on #13764
@Haggus Go for it!

[2016-10-29 19:06] Haggus commented on #13764
I went through style guide and added column-fill. Tested and compared it to Firefox. It's not "exactly" the same, but very similar. Let me know if there is more changes I need to do. Also, should the test also be added into the code?

[2016-10-29 19:08] emilio commented on #9558
@zbraniecki: I think this isn't fixed, Servo should run on top of XWayland right now.

[2016-10-29 19:23] Manishearth commented on #13764
Do you have screenshots?

[2016-10-29 20:02] Haggus commented on #13764
Firefox:
![column-fill-firefox](https://cloud.githubusercontent.com/assets/8225391/19832406/40a8e4f6-9e23-11e6-9e8e-b448ea8c78db.png)

Stylo (after my changes):
![column-fill-stylo](https://cloud.githubusercontent.com/assets/8225391/19832405/40a8912c-9e23-11e6-810f-d639c6bc11a2.png)

[2016-10-29 20:04] Manishearth commented on #13764
Yep, this is correct. The difference happens because of that extra line before the lorem ipsum in firefox (might be due to some other unimplemented property). That's ok.

[2016-10-29 20:13] amilajack opened #13979 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-3ae0a33
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-29 20:14] amilajack commented on #13979
This was automatically generated. Closing this, as it seems like a dupe of https://github.com/servo/servo/issues/13973

[2016-10-29 20:23] KiChjang commented on #13764
Fixed in #13978.

[2016-10-29 20:23] #13764 closed

[2016-10-29 20:41] emilio commented on #13716
I'm leaving this as the canonical issue for this panic. https://github.com/servo/servo/issues/13780 also contains relevant information.

[2016-10-29 20:42] emilio commented on #13780
Closing this as a dupe of https://github.com/servo/servo/issues/13716, which was filled before and also contains relevant info and STR.

[2016-10-29 20:42] #13780 closed

[2016-10-29 20:43] emilio commented on #13893
Dupe of https://github.com/servo/servo/issues/13716, thanks for reporting!

[2016-10-29 20:43] #13893 closed

[2016-10-29 20:44] emilio commented on #13979
Yep! Thanks for filling! If you mind confirming, this happened while browsing through the history right?

I'm closing as a dupe of https://github.com/servo/servo/issues/13716.

[2016-10-29 20:44] #13979 closed

[2016-10-29 20:44] emilio commented on #13973
Dupe of https://github.com/servo/servo/issues/13716, thanks for filling!

[2016-10-29 20:44] #13973 closed

[2016-10-29 20:45] jdm commented on #13975
This looks like a duplicate of #13962. Thanks for reporting it!

[2016-10-29 20:45] #13975 closed

[2016-10-29 20:46] emilio commented on #13716
Also, given the amount of duplicates, people seem to hit this a lot. I don't have the time right now to investigate it, but it'd be nice if someone could take a look at it.

[2016-10-29 20:46] emilio commented on #13962
cc @bholley

[2016-10-29 20:46] jdm commented on #13954
It should be possible to sort the multiline features as regular strings without doing any processing of the contents.

[2016-10-29 20:47] amilajack commented on #13979
I believe so. I remember using the `cmd + [` and `cmd + ]` keys to navigate quickly. I'll do some more testing and I'll confirm this.

[2016-10-29 20:51] amilajack commented on #13952
I also got this when visiting twitter:

called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-3ae0a33
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-29 20:59] jdm commented on #13952
My suspicion is that the layout thread panics first, then the script thread tries to query it and sees the poisoned mutex. Probably can't test the sites until Monday, though.

[2016-10-29 21:05] jdm opened #13980 "Add a tidy check for spaces between function names and ("
Code like `fn foo (..)` and `something (...)` should be flagged by `./mach test-tidy`, since typical Rust style is to avoid adding spaces between function names and the opening parenthesis.

Code: `python/tidy/servo_tidy/tidy.py` (add a new rule to `regex_rules`)
Test: add incorrect code to `python/tidy/servo_tidy_tests/rust_tidy.rs`, then update `python/tidy/servo_tidy_tests/test_tidy.py` and run

[2016-10-29 21:05] highfive commented on #13980
cc @wafflespeanut

[2016-10-29 21:05] highfive commented on #13980
Please make a comment here if you intend to work on this issue. Thank you!

[2016-10-29 21:05] highfive commented on #13980
cc @wafflespeanut

[2016-10-29 21:11] emilio commented on #10274
@zmike: So XOpenDisplay in there should only be called to initialize WebGL contexts, so I'm really curious on how you end up there. Do you have a backtrace?

[2016-10-29 21:14] DeeDeeG opened #13981 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL: http://www.warnerbros.com/archive/spacejam/movie/jam.htm
### Servo Version:

Servo 0.0.1-e4fcc06
### Backtrace:

I searched "space jam" on DuckDuckGo, visited the Space Jam main page, did [click a link on Space Jam page, then browser.HTML on-screen back button] twice. All fine so far. I am at the Space Jam homepage again. Then clicked browser.HT

[2016-10-29 23:04] lemmabit opened #13982 "Fragments aren't generated for inline elements containing no non-whitespace characters."
I ran into this problem while working on #12939, since `process_offset_parent_query` needs to find at least one fragment corresponding to an element in order to produce results. This can also have an effect on rendering, e.g.:

[code]

In most browsers, that element looks like this:

![a red box with a black border](https://cloud.githubusercontent.com/assets/13004953/19833264/c782dc62-9df0-11e6-96

[2016-10-29 23:53] Permutatrix commented on #13982
[Here's the branch I'm working in.](https://github.com/Permutatrix/servo/tree/iss-13982)

[2016-10-30 00:42] emilio commented on #13962
So I investigated this a bit, and I couldn't dig a lot more because I can't make it crash in debug builds, but it seems deterministic (that's good), and related with the reflow we issue when the hash is changed.

I suspect the reflow may be suppressed and the next restyle we find something unexpected. I may investigate a bit more later.

[2016-10-30 01:05] emilio commented on #13962
Nope, the reflow is actually due to a script query. No idea what can trigger it exactly though :(

[2016-10-30 01:44] #13869 closed

[2016-10-30 04:55] lhat-messorem opened #13984 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:
### Servo Version:

Servo 0.0.1-b611e5c
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-30 07:23] aneeshusa commented on #13977
Thanks for the report! This was introduced about a month ago but should be fixed as of #13558, which merged a few days ago. Please try the newest nightly.

[2016-10-30 09:46] bobbydigitales opened #13985 "Unexpected WebGL error: 0x506 (1286)"
Unexpected WebGL error: 0x506 (1286)
### URL:
### Servo Version:

Servo 0.0.1-b611e5c
### Backtrace:

[code]

This report was generated by the browser.html issue reporter.

[2016-10-30 12:57] jdm commented on #13985
@bobbydigitales Any idea what page you were on when this happened?

[2016-10-30 15:33] bobbydigitales commented on #13985
It was the basic cube example of three.js:
https://threejs.org/examples/#webgl_geometry_cube

On Oct 30, 2016 05:58, "Josh Matthews" <notifications@github.com> wrote:

[2016-10-30 16:28] iamrohit7 commented on #13871
@Manishearth Should this be implemented as a Servo feature or a Stylo feature(should `products="gecko"` be specified)? Also, what exactly do you mean by `reexport the contents of scroll-snap-points-x`?

[2016-10-30 17:15] Manishearth commented on #13871
`products="none"`, with parse tests. I mean that `scroll-snap-points-y` should just `pub use  properties::longhands::scroll_snap_points_x::SpecifiedValue as SpecifiedValue` (etc etc). Use Rust reexports to copy over all the types from scroll-snap-points-x.

[2016-10-30 17:16] iamrohit7 commented on #13871
@Manishearth @emilio just suggested in IRC to implement with products="gecko"

[2016-10-30 17:27] Manishearth commented on #13871
That's only if you want to handle the gecko glue. In that case, you'll need a stylo build (https://github.com/servo/servo/wiki/Stylo-hacking-guide for build instructions) and the ability to test it. I'm not sure if `scroll-snap-points` can be tested without simultaneously implementing scroll-snap-type

[2016-10-30 20:28] #13837 closed

[2016-10-30 23:53] anholt commented on #13985
Failed to reproduce on a Linux Skylake system.  The page just throws a compile failure due to highp usage (which is apparently not getting translated away?)

[2016-10-31 03:29] bholley commented on #13962
I'm still refactoring this code a bit, so give me a few days and we'll see if the problem persists.

[2016-10-31 07:57] gterzian commented on #13249
I have one question: Now that webrender has been updated to version 0.7, I'm having troubles building Servo with my local fork, since Servo expects webrender 0.6.

How can I update my local Servo to use my local webrender 0.7?

[2016-10-31 08:00] dsprenkels commented on #13980
I would like to (retrospectively) work on this issue.

[2016-10-31 08:03] paulrouget commented on #13249
Wait until @glennw updates servo, or try yourself by doing `./mach update-cargo -p webrender`.

[2016-10-31 08:25] paulrouget opened #13993 "[multi window] Constellation should not assume there's only one compositor"
The constellation assume there's only one compositor. When Servo will support multiple windows, this won't be true anymore.

Things like pixel density, window size, screen size, … can be different depending on the window.

This is a required step for multi window support.

I'd imagine that we would need a hashmap of top level frames <-> compositors.

[2016-10-31 08:27] paulrouget opened #13994 "[multi window] Constellation should be able to handle multiple root frame"
At the moment, a constellation has only one root frame.

When Servo will support multiple windows, we would need multiple root frames (and multiple compositors, see #13993). We might also want to have multiple root frames for one compositor (non-mozbrowser based embedder will have one root frame per tab).

[2016-10-31 08:30] paulrouget opened #13995 "`WebViewBuilder` should take a `RenderingContext` to specify where it renders"
Once we support multiple root frame for one compositor (#13994), we might want to be able to configure where (and whether) to draw a root frame.

Let's put aside the mozbrowser API - An embedder might want to be able to draw multiple pages (tabs, or any UI component using Servo) anywhere on the window.

[2016-10-31 08:34] paulrouget opened #13997 "[Meta] multi windows support"
Meta bug to track multi window support:

- [ ] https://github.com/servo/servo/issues/13993
- [ ] https://github.com/servo/servo/issues/13994
- [ ] https://github.com/servo/servo/issues/13995
- [ ] https://github.com/servo/servo/issues/13338

[2016-10-31 08:36] paulrouget commented on #13997
There's most likely a lot of work to be done. But I think we should start by suppressing the assumption that there is only one root frame, and only one compositor, and that a top level pipeline is drawn full window.

[2016-10-31 08:38] FaraoneLele commented on #13997
+1

[2016-10-31 08:48] subscribernamegoeshere commented on #12125
todays 2016-10-31 nightly crash right after startup on a windows7 professional x64

msi installer works and installs, and firing up the servo tech demo from e.g. via start menu entry, it loads and draws potentially the main servo window and I even see some kind of search area in the middle and the stilized menu bars on the upper right side I think, rest of the window is completely white, then wind

[2016-10-31 09:01] paulrouget commented on #13953
On my Macbook Pro 10.11.6, I can't reproduce this issue.
On my Macbook 10.12, I can reproduce this issue.

[2016-10-31 10:36] paulrouget commented on #13953
WR update causing the issue: https://github.com/servo/servo/commit/0a13c05479cf0366bc301ab7e8fe1234fcea62e3

[2016-10-31 10:36] paulrouget commented on #13953
/cc @glennw

[2016-10-31 13:21] jdm commented on #12125
We do not make use of the automated crash reporting features.

[2016-10-31 13:51] Eagle3386 commented on #12125
@gitmansagu your screenshot looks like XP. Is that true? If so, please bear in mind that a) XP will not be support and b) you should reconsider your OS version and either switch to any Servo-supported OS or at the very least upgrade your OS to Windows 7 as Microsoft's support for Vista ends in April 2017.

[2016-10-31 14:05] SaschaNaz commented on #12125
@Eagle3386 Probably [an XP theme for Windows 10](http://sagorpirbd.deviantart.com/art/XP-Themes-Final-for-Win10-520345860).

[2016-10-31 14:19] Eagle3386 commented on #12125
@SaschaNaz thanks for the hint and short fun. 👍 I guess, XP is eternal now.. 😆

[2016-10-31 14:25] ssokolow commented on #12125
To be fair, if I were willing to run Win10 on any of my machines, I'd pick the Zune XP theme (the black one) over that flat design garbage with amateurish widget padding any day.

[2016-10-31 14:54] jrmuizel opened #14002 "Canvas rendering context can be destroyed after the canvas thread exits"
This happens on a simple canvas demo https://people-mozilla.org/~jmuizelaar/webrender/perf/canvas-perf.html

called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: NotFound, error: StringError("Bogus destination port.") }) }
### URL:

### Servo Version:
Servo 0.0.1-b489ba0
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-10-31 15:05] Wafflespeanut commented on #12283
Previous work on #13789. This is open for anyone to hop into :)

[2016-10-31 15:30] aneeshusa commented on #13993
Something that I don't run into often, but that is very annoying when it does happen, is plugging in an external monitor with a different DPI and Firefox forcing one scaling factor for all windows. Would love to see this work properly in Servo!

[2016-10-31 18:03] #13409 closed

[2016-10-31 18:24] Coder206 commented on #13409
@jdm Thanks for all your time, patience and help for this issue! I learnt lots! :-)

[2016-10-31 19:00] #13980 closed

[2016-10-31 19:08] jrmuizel opened #14005 "overflow: none doesn't clip text to rounded area"
The text in https://people-mozilla.org/~jmuizelaar/servo/border-simple.html is not properly clipped like in other browsers.

[2016-10-31 19:14] Haggus commented on #12415
I just added a PR which fixes `Touch`, `TouchList` and `ValidityState`. Please check them off the list.

[2016-10-31 19:58] #12555 closed

[2016-10-31 23:03] birryree commented on #13838
@aneeshusa

I have code written for this, but wanted to run some things by you.

### 1. Checking for duplicate keys?

I wrote a duplicate YAML key checker as part of my changes because the `PyYAML` module will gladly accept duplicate keys in a `.yml` file and then clobber data. Do you want this functionality?

### 2. Certain typos/improper indentations

I don't have a solution for this one yet, bu

[2016-10-31 23:58] aneeshusa commented on #13838
@birryree Feel free to open a WIP PR, it's easier to review inline. Responses to your questions:

1) Yes, checking for duplicate keys definitely sounds useful to have!
2) The goal is to lint the `buildbot_steps.yml`, so any specific linting heuristics like that you can add are helpful. Just make sure to keep the `buildbot_steps.yml` specific things separate so the general YAML checking can be reus

[2016-11-01 01:13] aneeshusa opened #14009 "Add a `mach` argument to enable debug assertions"
Follow up from #13387.

`mach` currently honors the `SERVO_ENABLE_DEBUG_ASSERTIONS` environment variable to enable debug assertions. To make this option more discoverable and better documented, add a `mach` flag that does the same thing.

IMO, we can also remove the code that checks for and acts on the environment variable.

Files:
- python/servo/build_commands.py
- etc/ci/buildbot_steps.yml (pass

[2016-11-01 01:13] highfive commented on #14009
cc @wafflespeanut

[2016-11-01 01:13] highfive commented on #14009
cc @wafflespeanut

[2016-11-01 01:13] highfive commented on #14009
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-01 04:56] glennw commented on #13249
@gterzian Servo should be all updated with latest WR now. You may find your local [replace] override in Cargo.toml needs to change the version number (to 0.8.0 I think) to select that local override when building.

[2016-11-01 05:37] Permutatrix commented on #13982
Alright, I'm only breaking two reftests now, and I don't think they're any of my business. I'm going to rebase and write one or more new tests, then I'll submit a pull request.

[2016-11-01 07:34] #13954 closed

[2016-11-01 07:37] Permutatrix commented on #13982
Actually, I forgot to run test-css. Still breaking a bunch of reftests. It's late, so I'll look into it tomorrow.

[2016-11-01 09:18] gterzian commented on #13249
@glennw thank you, yes it all works fine now :)

[2016-11-01 15:03] moimael opened #14011 "Error at https://assets-cdn.github.com/assets/frameworks-35b9c541d341309b930b1c790fa1b27a30c7c44ce10c7f8242890e3d83c8adbd.js:5:19757 No such property on self-hosted object: window.fetch(...)"
Error at https://assets-cdn.github.com/assets/frameworks-35b9c541d341309b930b1c790fa1b27a30c7c44ce10c7f8242890e3d83c8adbd.js:5:19757 No such property on self-hosted object: window.fetch(...)
### URL:

### Servo Version:
Servo 0.0.1-291f393
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-01 15:05] Manishearth commented on #14011
cc @asajeffrey

[2016-11-01 15:05] moimael opened #14012 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-291f393
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-01 15:30] jdm commented on #14011
Wait, if report_pending_exception uses error!, does that cause us to capture a backtrace? I thought we decided not to do that.

[2016-11-01 15:31] jdm commented on #14012
This is a duplicate of #13716; thanks for reporting it!

[2016-11-01 15:31] #14012 closed

[2016-11-01 16:08] notriddle commented on #13963
Aren't you not supposed to run with --gpu and --webrender at the same time?

[2016-11-01 17:55] asajeffrey commented on #5196
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=1+Nov+2016&e=1+Nov+2016#c552341

TL;DR the notifications should go via the constellation, since we need to target every same-origin window, no matter which script thread they are in.

[2016-11-01 18:02] iamrohit7 commented on #13871
@Manishearth I used helpers.single_keyword to generate the code for scroll-snap-type and it generates code which modifies a non-existent mScrollSnapType. Should I implement the Gecko glue myself or implement scroll-snap-type as a shorthand?

[2016-11-01 18:30] Manishearth commented on #13871
You have to do `scroll-snap-type-x` and `scroll-snap-type-y` (using single_keyword), and adding a shorthand for `scroll-snap-type`, yes.

[2016-11-01 18:32] Manishearth commented on #13871
You can forgo doing the shorthand, but then the MDN example will have to be tweaked to explicitly use `scroll-snap-type-x` and `scroll-snap-type-y`. You can do this pretty easily, just copy the html/css into a new webpage.

[2016-11-01 19:00] kpp commented on #13963
Aren't you supposed to check args? =)

[2016-11-01 21:04] pcwalton opened #14014 "Fragmentation could be non-memory-safe"
It passes `FlowRef`s around in layout. This is forbidden, as it can lead to races. These races can cause exploitable use-after-frees.

cc @SimonSapin

[2016-11-01 21:41] pcwalton opened #14016 "Stop calling `flow_ref::deref_mut()` in multicol layout"
That can be non-memory-safe. We should not directly touch `FlowRef`s in layout.

[2016-11-02 05:17] glennw commented on #10274
@zmike The code you referenced above creates a GL context for use by rust-layers, which is now deprecated / unused. Webrender expects a current GL context to be bound during initializing and also rendering. In the glutin port, we rely on the code in ports/glutin/window.rs to create and bind the GL context. So ideally the embedder creates a GL context and binds it before calling in to the servo met

[2016-11-02 06:31] iamrohit7 commented on #14009
I will work on this. I have a question. There are two places where `SERVO_ENABLE_DEBUG_ASSERTIONS` is referenced in `python/servo/build_commands.py`, in `def build` and `def build_cef`. Should the flag be added to both build and build-cef?

[2016-11-02 08:23] Ms2ger opened #14018 "Support non-follow redirect modes for RequestInit"
(As requested by jdm in #13742.)

[2016-11-02 08:49] paulrouget commented on #13997
Here is how I imagine this would work (as a first step):

- supports command line: `servo http://site1.com http://site2.com` (support for opening new windows from `window.open` will come later)
- in servo/main:
  - create 2 glutin windows, 2 compositors, 1 constellation with 2 browsers
  - spawn a thread for each window event handler
  - wait until both windows close to exit
- in constellation,

[2016-11-02 08:52] paulrouget commented on #13997
More about compositor / webrender implications here: https://github.com/servo/servo/issues/13338

[2016-11-02 10:11] Ms2ger opened #14019 "Conversion to (DOMString or object) is broken"
[code]

We don't currently use the conversion in that direction, so this is not particularly urgent, but probably good to fix anyway.

[2016-11-02 10:40] Ms2ger commented on #13338
I vaguely remember a discussion on IRC that mentioned that things like `X` don't like being accessed from multiple threads. Is that still the case?

[2016-11-02 12:00] jdm commented on #14009
Yep!

[2016-11-02 12:50] jrmuizel commented on #13338
XInitThreads enables Xlib support for concurrent threads. However, there are still gotchas.

[2016-11-02 14:25] Ms2ger opened #14024 "Implement MIME sniffing"
There's https://mimesniff.spec.whatwg.org/ , but it's not quite clear to me where it's invoked.

[2016-11-02 14:28] jdm commented on #14024
N.B. we should revert the changes to mime_sniffing_font_context.html from #13931 as part of this work.

[2016-11-02 16:24] aneeshusa commented on #14009
Since we're removing the environment variable, we also need a follow-up PR to saltfs to revert [the PR adding the env var](https://github.com/servo/saltfs/pull/480/files) to the build environment.

[2016-11-02 16:24] stshine commented on #13683
Damn, it took three weeks even before I realize the actual complexity of this problem...

[2016-11-02 16:25] notriddle commented on #13683
Isn't @pcwalton rewriting the entire float subsystem? I've been holding off on doing anything float-related until he's done with it.

[2016-11-02 16:38] pcwalton commented on #13683
Yes, I'm working on this.

[2016-11-02 17:00] nerith commented on #13823
Testing this at commit  `cff0f01c7`, I'm getting the same result but Servo crashes and gives this backtrace:

[code]

[2016-11-02 17:03] stshine commented on #13683
Oh, I came up with my naive implementation today which just unfortunately considered the last line(and borrow checker hit me so hard :/), and after some experiments and read https://github.com/dbaron/inlines-and-floats @pcwalton mentioned yesterday on irc, I realized where the actual problem lies. This work is still very valuable to me since it helped me much in understanding how inline and floats

[2016-11-02 17:16] jdm commented on #13823
If you could catch that in gdb and get a backtrace, that would be quite valuable.

[2016-11-02 18:40] jdm opened #14026 "Intermittent timeout in /html/semantics/tabular-data/the-table-element/caption-methods.html"
[code]

[2016-11-02 18:55] #13871 closed

[2016-11-02 19:39] nerith commented on #13823
@jdm I got the following backtrace from running a debug build in gdb:
[code]

[2016-11-02 19:47] jdm commented on #13823
Any suggestions @glennw?

[2016-11-02 20:05] glennw commented on #13823
@jdm Yup, this a graphics driver crash! :) It's possible we have a bug somewhere, but I'm not seeing this on any other driver, and apitrace (our graphics debug trace tool) is warning / error free at the moment (in terms of GL API errors). So my suspicion would be a driver bug - I'd suggest checking what version of nouveau is being used and seeing if any updates are available.

[2016-11-02 20:43] #13376 closed

[2016-11-03 00:09] SimonSapin commented on #13745
I can still reproduce this issue (i.e. I can’t build Servo on this macbook) after upgrading to 10.12.1 and then running `./mach clean`.

Am I missing some dependency?

[2016-11-03 00:16] Permutatrix opened #14030 "The inline parts of {ib} splits are rendered as if they're elements unto themselves."
This is noticeable in the rendering of margins, borders, and padding. Take this snippet:

[code]

Firefox renders the above like this:

![The three lines have only two sets of horizontal margins, borders, and padding between them, making it clear that they're parts of the same element.](https://cloud.githubusercontent.com/assets/13004953/19951979/e629c3f2-a11e-11e6-9705-dc3d0c5ae68c.png)

Servo re

[2016-11-03 00:32] AgostonSzepessy opened #14031 "mach hangs on Fedora 24"
I tried building servo on a 64 bit Fedora laptop using `./mach build --dev`, but `mach` hangs instead of building servo. `mach` hangs even when invalid arguments are passed in as well: `./mach aslkdfjlksafjlksadjfklas` hangs as well.

When I kill `mach`, the following is displayed:

[code]

Processor type: Intel(R) Core(TM) i7-4500U CPU @ 1.80GHz
RAM: 7702 MB

[2016-11-03 00:47] Coder206 commented on #14031
Please note all my Fedora 24 systems are running fine but when I kill the process the error above shows too.

[2016-11-03 00:49] KiChjang commented on #14031
This is the line where it hangs:
[code]

In other words, it looks like running `pip install -q -r (stuff)` caused it to hang. Perhaps it has to do with permissions? Check the file permission on ./mach and on your pip executable.

[2016-11-03 00:51] KiChjang commented on #14031
Also, there may be confusion between python2 and python3 if you have both installed.

[2016-11-03 00:52] Coder206 commented on #14031
For the record mine is 2.7.11

[2016-11-03 01:18] Coder206 opened #14032 "Windows MSVC Build Cargo Error With VirtualBox"
I made a VM of Windows 10 Education Edition and downloaded the dependencies from the [README.md] (https://github.com/servo/servo/blob/master/README.md). I tried running `mach.bat build -d` and then I received the message below:

![msvc](https://cloud.githubusercontent.com/assets/7758155/19953220/e5e3f1b0-a141-11e6-889c-2a6ddeb773b2.PNG)

[2016-11-03 01:21] KiChjang commented on #14032
A backtrace here would be helpful.

[2016-11-03 01:28] Coder206 commented on #14032
@KiChjang I can't get a backtrace when running `mach.bat build -d RUST_BACKTRACE=1`, it just gives the popup and stops with `BUILD FAILED in 00:00:08`

[2016-11-03 01:30] Coder206 commented on #14032
`cargo.exe build -V` is displayed with the error when running `mach.bat build -d --verbose`

[2016-11-03 02:52] AgostonSzepessy commented on #14031
My pip permissions:

[code]

I also tried running it with `python2` and `python2.7` but the same thing happened as before.

[2016-11-03 08:15] KiChjang commented on #14031
If I'm not mistaken, a permission of `204` means that you as `other users` do not have the right to execute pip. You'll need to `sudo chmod 205 /usr/bin/pip /usr/bin/pip2.7 /usr/bin/pip2`.

[2016-11-03 12:02] mmatyas commented on #13154
Here are the remaining, **very ugly** hacks I had to do to make it run: https://gist.github.com/mmatyas/50ee6f4c65c74a034eb5753a5d33060b

This makes Servo run and produce the gray screen. `logcat` shows this: https://gist.github.com/mmatyas/50ee6f4c65c74a034eb5753a5d33060b#file-log. It does not crash, nor produces any more errors.

[2016-11-03 18:20] notriddle commented on #14014
`FlowRef` is an Arc, so the underlying `Flow` won't be freed until all `FlowRef`s go away. How could this result in use-after-free?

[2016-11-03 18:28] pcwalton commented on #14014
Because somebody could clone the FlowRef, stash it somewhere, call `deref_mut` on it, and then race with others. These races can cause use after free. For example, consider one thread pushing onto a Vec, causing reallocation, while another thread accesses that Vec.

[2016-11-03 18:29] pcwalton commented on #14014
Layout *must not* have direct access to `FlowRef`. It must only interact with *borrowed* Flows.

[2016-11-03 18:35] notriddle commented on #14014
That makes sense.

[2016-11-03 20:04] #13964 closed

[2016-11-03 21:52] hannni commented on #12063
Bug doesn't persist anymore on current nightly build

[2016-11-03 21:52] #12063 closed

[2016-11-04 02:40] glennw commented on #13925
I've already broken mask-image support once (oops), so if we can get this supported in Servo we can enable the WPT tests related to it :)

[2016-11-04 04:12] zhuowei commented on #12129
Should this be done in Java or in Rust code?

[2016-11-04 06:00] paulrouget commented on #13082
@samuknet do you want to keep working on this? Do need any help? Or do you want someone else to take over?

[2016-11-04 07:10] Wafflespeanut commented on #8968
f83fe9 makes sure that we find `pip` from `virtualenv`. Is this still occurring?

[2016-11-04 10:05] #12128 closed

[2016-11-04 11:47] samuknet commented on #13082
@paulrouget
I have got a working implementation but there are a few things which may not be done in the best way, so I'm going to submit a PR, if that sounds good?  The home/end key scrolling is working as expected.

I currently have servo using my `webrender` fork however I'm unsure how to get servo to use my `webrender_traits` fork? Am I right in thinking this is what I need to do? So my PR's wo

[2016-11-04 12:08] jdm commented on #13082
You should be able to make a single PR for both WR and WR_traits changes,then make a PR for servo after that merges and use `./mach cargo-update -p webrender` (possibly the same for webrender_traits, too).

[2016-11-04 12:09] narfg opened #14061 "Shader ps_image_clip.vs.glsl doesn't compile"
I think the error was introduced by commit 04cd35914af19b88dfe1c93fa3385b4a08a577e1 which removed the "has_pixel_coords" field.

[code]

[2016-11-04 13:05] nox opened #14062 "Clean up EventRunnable::handler"
The [two `clone` calls](https://github.com/servo/servo/blob/f447040ea98d5a92f95d6dd3116939544441b5d8/components/script/dom/event.rs#L333-L334) are unnecessary and can be removed, because both `EventBubbles` and `EventCancelable` are `Copy`.

[2016-11-04 13:05] highfive commented on #14062
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-04 14:17] kvark commented on #13925
I've looked a bit into this and would be able to implement this, unless someone is eager enough to rush it :)

[2016-11-04 14:56] jdm opened #14064 "Use MediaQueryListEvent for media query list change events"
https://github.com/servo/servo/pull/13453 implemented the window.matchMedia and MediaQueryList APIs. However, the [specification](https://drafts.csswg.org/cssom-view/#evaluate-media-queries-and-report-changes) related to the "change" event was [unclear](https://github.com/w3c/csswg-drafts/issues/681), so we didn't notice that we should use a specific event interface instead of Event.

* [create](h

[2016-11-04 15:01] jdm opened #14065 "Remove unnecessary `allow(unsafe_code)` in MediaQueryList"
There are a few instances of `#[allow(unsafe_code)]` in `components/script/dom/mediaquerylist.rs` that are no longer necessary since they don't make use of unsafe code. Let's remove them!

[2016-11-04 15:07] jdm commented on #14062
@rjgoldsborough In future, please leave a comment when you start working on an issue!

[2016-11-04 15:09] rjgoldsborough commented on #14062
ah, shoot, sorry

[2016-11-04 15:10] SimonSapin opened #14067 "Intermittent timeout /_mozilla/mozilla/sigsegv.html"
[code]

[2016-11-04 15:15] jdm commented on #13735
Let's go ahead and remove all of the code in `compositor.rs` related to:
* sending the `RegisterReporter` message
* sending the `UnregisterReporter` message
* the `mem_profiler_chan` member of `IOCompositor` (we can move the code that sends the ProfilerMsg::Exit message into `Constellation::handle_exit` instead)

Code: `components/compositing/compositor.rs`, `components/constellation/constellation

[2016-11-04 15:16] jdm commented on #13734
Code: `components/canvas_traits/lib.rs`

[2016-11-04 15:19] jdm commented on #14067
Presumably this is the ongoing problem where sometimes wptharness isn't able to notice that a process has crashed before the timeout kicks in.

[2016-11-04 15:50] jdm opened #14068 "Make FetchMetadata reflect all possible response types"
https://fetch.spec.whatwg.org/#concept-response-type describes all the possible types of responses that can be returned from the `Fetch` API. We have equivalent types in our [fetch network stack implementation](https://github.com/servo/servo/blob/dae007fd1634bcf1545e67abaa7746fa95f10e94/components/net_traits/response.rs#L16). However, the code that reports the results of our network response to th

[2016-11-04 15:57] jdm opened #14069 "Make HTTP redirect fetch return an error if redirecting to non-HTTP(S)"
Step 4 of the [http redirect fetch](https://fetch.spec.whatwg.org/#concept-http-redirect-fetch) specification says that we should return an error if we try to redirect to a non-HTTP(S) URL. Our corresponding implementation has a TODO in `http_redirect_fetch`. We should check the [scheme](http://doc.servo.org/url/struct.Url.html#method.scheme) of `location_url` and return `Response::network_error`

[2016-11-04 16:11] genodeftest commented on #8968
I ran into this issue before but I think I don't any more. Is there a simple way to test other than running the steps above (which worked fine for me)?

[2016-11-04 16:14] Wafflespeanut commented on #8968
Try removing `python/_virtualenv` and run `./mach build -d`?

[2016-11-04 16:23] genodeftest commented on #8968
Works fine for me.

[2016-11-04 16:26] Wafflespeanut commented on #8968
I'd better close this as fixed. Please ping me if this occurs again.

[2016-11-04 16:26] #8968 closed

[2016-11-04 17:10] jdm commented on #14018
Steps:
* add `request_mode` member to [RequestInit](https://github.com/servo/servo/blob/7c6793fc28423e518a0ceaae1176048fcb2caa3a/components/net_traits/request.rs#L115)
* update [Request::from_init](https://github.com/servo/servo/blob/7c6793fc28423e518a0ceaae1176048fcb2caa3a/components/net_traits/request.rs#L247) to set the requests' `redirect_mode` based on the initializer
* update [request_init_f

[2016-11-04 18:04] larsbergstrom commented on #12129
My thought was that this could be done in Java at startup. That is, the Java code that runs when the app is launched can check to see if the assets have already been unpacked. If not, it could go ahead and do so.

[2016-11-04 18:12] jdm opened #14071 "Specialize constructors for DOM types that are only exposed to a single global"
Currently, a [WebIDL file](https://github.com/servo/servo/blob/master/components/script/dom/webidls/Range.webidl) with a `[Constructor]` annotation generates Rust code like this:
[code]
(where `Range` is the name of the WebIDL interface in question). This means that the `Constructor` method needs to take a `&GlobalScope` argument, so that it can be constructed inside of any JS global environment (

[2016-11-04 18:12] highfive commented on #14071
cc @wafflespeanut

[2016-11-04 18:21] jdm commented on #8333
Fixed by https://github.com/servo/servo/commit/4961a513d4cb25eb0caa008dd5f662e67dfebf6d.

[2016-11-04 18:21] #8333 closed

[2016-11-04 18:26] jdm commented on #2284
I have no idea what this meant.

[2016-11-04 18:26] #2284 closed

[2016-11-04 18:31] emilio commented on #11307
If this was the initial issue that @asajeffrey identified here, I identified that too last week and fixed it in #13983, so this should probably be closed.

[2016-11-04 18:43] jdm commented on #13584
Unassigning due to lack of activity.

[2016-11-04 18:43] jdm commented on #13548
@awesomeaniruddh Have you made any progress here? Do you have any questions?

[2016-11-04 19:14] glennw commented on #14061
@narfg There's a fix here - https://github.com/servo/webrender/pull/529. It will take a little while to arrive in master though, as there is a scroll related PR that has landed in WR that needs a Servo-side PR before WR can be updated. You can just copy this shader manually to your servo/resources/shader dir for now if you like.

[2016-11-04 19:21] #11596 closed

[2016-11-04 19:22] brianchirls opened #14072 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:
https://threejs.org/examples/webgl_animation_cloth.html

### Servo Version:
Servo 0.0.1-ce725c9
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-04 20:05] metajack commented on #11307
Does this fix https://github.com/tomaka/glutin/pull/777/files as well?

The problem I identified there is that when you close the window the HWND is destroyed, so there's no way to wake up the servo event loop since PostMessage to a closed HWND is a no-op. So I used PostThreadMessage instead.

As far as @asajeffrey and I could tell, the real (non-glutin invasive) fix would be to create another thr

[2016-11-04 20:44] highfive commented on #13515
cc @wafflespeanut

[2016-11-04 20:44] highfive commented on #13515
cc @wafflespeanut

[2016-11-04 20:48] jdm commented on #13515
We should:
* add a check in the handler for the [run command](https://github.com/servo/servo/blob/cfef68f92d1c8cdc928d3c0b60f22de4b40a97be/python/servo/post_build_commands.py#L58) that looks for the `-z` or `--headless` arguments
* extract the [code for setting the osmesa path](https://github.com/servo/servo/blob/cfef68f92d1c8cdc928d3c0b60f22de4b40a97be/python/servo/testing_commands.py#L425-L449)

[2016-11-04 21:22] maxcr opened #14073 "Has pixel coords fix introduced new error."
`cannot access` has changed to `0(33) : error C1009: "has_pixel_coords" is not member of struct "Image"`

[2016-11-04 21:25] glennw commented on #14073
See https://github.com/servo/servo/issues/14061#issuecomment-258523140

[2016-11-04 21:41] glennw commented on #14073
@maxcr There's a fix in the merge queue for this now (https://github.com/servo/servo/pull/14074).

[2016-11-04 21:41] glennw commented on #14061
@narfg There's a fix in the merge queue for this now (https://github.com/servo/servo/pull/14074).

[2016-11-04 23:04] #14014 closed

[2016-11-04 23:11] maxcr commented on #14073
<3 u

[2016-11-04 23:11] #14073 closed

[2016-11-05 01:22] #14061 closed

[2016-11-05 02:54] doanga2007 opened #14076 "Servo lastest build crashes after open program instantly in macOS 10.12.2 public beta 1."
Servo lastest build crashes after open program instantly in macOS 10.12.2 public beta 1.

Video : https://youtu.be/D-3fCfVzyr4

[2016-11-05 05:16] kivikakk commented on #13584
I'll do this now. :)

[2016-11-05 05:19] zhuowei commented on #12129
thanks! Also, how should it know when to re-extract the resources folder after an update?

[2016-11-05 05:23] kivikakk commented on #13584
Curious if it makes sense to move `BorderRadiusSize` along with these. It's not a length as such, so inclined not to.

[2016-11-05 07:42] sweca commented on #14076
Same on Ubuntu 16.10
`./runservo.sh
Failed to compile shader: "/home/john/servo/resources/shaders/ps_image_clip.vs.glsl"
0:33(6): error: cannot access field `has_pixel_coords' of structure
0:33(6): error: type mismatch
0:33(6): error: if-statement condition must be scalar boolean

-- Shader compile failed - exiting -- (thread main, at /home/servo/.cargo/git/checkouts/webrender-c3596abe1cf4f320/mas

[2016-11-05 10:34] vberger commented on #9558
Just to give some news, most (all ?) of the required work in glutin is now done, and I'm getting back at this.

However, I'll need to wait for glutin-servo to catch up to glutin-0.7 (all non-opengl stuff was moved to the winit crate, so I believe half or more of the servo-specific patches of glutin will need to be moved to a winit-servo crate, or upstreamed ?)

[2016-11-05 13:23] flipflop97 commented on #14076
I have the same problem on Arch Linux with Gnome 3.22.

Tested with integrated graphics (Intel) and discrete (Nvidia), they seem to give slightly different errors.

[code]

[2016-11-05 13:31] emilio commented on #7462
Probably blocking stylo too. cc @bholley

[2016-11-05 13:34] Wafflespeanut commented on #11074
No one's working on this right now. But, there's an open PR.

[2016-11-05 14:13] emilio opened #14079 "Style needs a way to get font metrics while computing style data."
This right now isn't implemented (see https://github.com/servo/servo/issues/7462), and I'm afraid it might be a pain to do for Stylo.

Basically, if we find an `ex` or a `ch` unit, we need to get the font metrics of the first available font for that style in order to compute the value.

This is not too common, but I think a lot of the font code is lazy in Gecko so calling it from multiple threads

[2016-11-05 15:38] rnestler commented on #14018
I would like to give this a try as part of the Swiss hackathon :smiley:.

[2016-11-05 16:02] rschlaefli commented on #14069
I would like to try this as part of the hackathon :)

[2016-11-05 16:16] dns2utf8 commented on #14065
I take this

[2016-11-05 16:17] MichaelKohler commented on #13735
I'll take this one :)

[2016-11-05 16:34] dbrgn commented on #13734
I'll give this a stab as part of the Swiss Hackathon :)

[2016-11-05 16:59] rnestler commented on #14018
@jdm

There is already the  [`pub mode: RequestMode`](https://github.com/servo/servo/blob/7c6793fc28423e518a0ceaae1176048fcb2caa3a/components/net_traits/request.rs#L129) field in `RequestInit` or did you mean to add a field `redirect_mode`?

[2016-11-05 17:05] jdm commented on #14018
Yes, I meant redirect_mode. Sorry!

[2016-11-05 17:55] frewsxcv commented on #13763
PR opened: #14085

[2016-11-05 18:08] jdm commented on #13734
Great!

[2016-11-05 18:08] jdm commented on #13735
Wonderful! Please ask questions if anything's unclear!

[2016-11-05 18:09] jdm commented on #14069
Great! Please ask questions if anything is unclear! The testing situation might be complicated until https://github.com/servo/servo/pull/14070 merges.

[2016-11-05 18:34] dns2utf8 commented on #14065
Cool, do I need to do anything now?

[2016-11-05 18:58] jdm commented on #14065
Nope!

[2016-11-05 18:58] dbrgn commented on #13734
The tests seem to take ages to compile and run. Is there a way I can run a subset of the tests specific to this issue?

[2016-11-05 19:00] glennw commented on #14076
The fix for this has landed - https://github.com/servo/servo/pull/14074

[2016-11-05 19:00] #14076 closed

[2016-11-05 19:20] rschlaefli commented on #14069
I think I solved it but I'm getting timeouts and "not run" in the test suite. Might this be because of the other issue?

[2016-11-05 19:32] chajath commented on #12967
So, adding DateTime as DOMString with make_getter! / make_setter! macros trivially solve all the test cases in 001.html so far. But as the original issue description mentions the harder part is to actually make dateTime reflect content in a machine parsable way.

Would it be still worth it to check in dateTime DOMString attribute?

[2016-11-05 19:46] jdm commented on #14069
Probably! Try applying the changes in that PR and see if the test results make more sense?

[2016-11-05 19:48] jdm commented on #13734
If this builds, I would be fine with making a PR and running the tests on our build machines instead.

[2016-11-05 20:14] dbrgn commented on #13734
[This](https://github.com/dbrgn/servo/commit/94183ffafed0d6ec2d82f1aa76aab8301a2cf703) is the current state, but now it complains about this:

[code]

I'm not sure I can remove that as well...

[2016-11-05 20:24] MichaelKohler commented on #14068
I'll give this a try as part of the Swiss hackathon :)

[2016-11-05 20:54] jdm commented on #13734
Hum. I believe we need to use the webrender API to retrieve the pixel data using the image key? @glennw Any suggestions how to do that?

[2016-11-05 21:13] glennw commented on #13734
@jdm This is more a question for @emilio  :)

[2016-11-05 22:11] emilio commented on #13734
@jdm If it's completely needed, in the case of the webgl context you should be able to use the same path that readPixels (sending a command to WR). In the 2d canvas case it would need to use the draw target, there's code that does that also.

I'm not in front of my computer right now, I'll try to give more details when I am if needed :)

[2016-11-05 22:13] emilio commented on #13734
But I believe the pixels in the 2d display item can go away with WR too.

[2016-11-05 22:13] SimonSapin commented on #14067
Disabled in https://github.com/servo/servo/pull/14088. CI was failing more often than not, just because of this one test.

[2016-11-05 23:32] dbrgn commented on #13734
The thing is that I don't really understand the code I was editing (I'm not very familiar with Canvas), so I'm not sure if I'm the right person to remove things from here :)

[2016-11-06 01:41] #14065 closed

[2016-11-06 02:23] KiChjang commented on #14068
Awesome!

[2016-11-06 03:57] #14062 closed

[2016-11-06 04:54] aneeshusa commented on #14009
Still need a follow-up to saltfs.

[2016-11-06 10:08] #14009 closed

[2016-11-06 10:16] gterzian commented on #13670
Sorry I've been busy with https://github.com/servo/webrender/pull/465 lately, I still plan on picking this one up later down the road however. If someone else has a burning desire to take it one, please let me know in the meantime...

[2016-11-06 11:03] #13584 closed

[2016-11-06 12:47] kivikakk commented on #12283
I'll jump in here! 🐍

[2016-11-06 12:47] Wafflespeanut commented on #12283
Cool!

[2016-11-06 12:58] nox opened #14091 "Intermittent crash in /webgl/conformance-1.0.3/conformance/rendering/point-with-gl-pointcoord-in-fragment-shader.html"
[code]

[2016-11-06 13:25] kivikakk commented on #12283
PR is up! ✨

[2016-11-06 13:43] nox opened #14093 "Properly handle array property name indices"
We fail `/dom/collections/HTMLCollection-supported-property-indices.html` because `get_array_index_from_id` fails to see that 2147483648 and 4294967293 are valid property name indices, and thus as per the [WebIDL spec](https://heycam.github.io/webidl/#getownproperty-guts) (see `ignoreNamedProps` in that algorithm) if the indexed getter returns nothing, the named getter shouldn't even be considered

[2016-11-06 13:44] nox commented on #14093
Blocks #2185.

[2016-11-06 13:44] nox commented on #11601
Duplicate of #14093...

[2016-11-06 13:44] #11601 closed

[2016-11-06 14:03] nox commented on #14071
@jdm Can't we allow `let window = Window::from_object(JS_CALLEE(cx, vp).to_object());` directly?

[2016-11-06 14:19] nox opened #14095 "Fix namespaces of elements created in XML documents"
Step 6 of [the spec](https://dom.spec.whatwg.org/#dom-document-createelement) is not correctly implemented, and elements created in XML documents also get the HTML namespace where they shouldn't.

Files:
 * components/script/dom/document.rs
 * tests/wpt/metadata/dom/nodes/Node-properties.html.ini
 * tests/wpt/web-platform-tests/dom/nodes/Node-properties.html

[2016-11-06 14:19] highfive commented on #14095
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-06 14:19] nox commented on #14095
Blocks #2185.

[2016-11-06 14:45] fflorent commented on #11485
@jdm here is my progress:
https://github.com/servo/servo/issues/14096

Cheers!
Florent

[2016-11-06 14:59] nox commented on #14093
[code]

[2016-11-06 15:05] nox commented on #14093
The corresponding fix in Gecko was https://bugzilla.mozilla.org/show_bug.cgi?id=1254293.

[2016-11-06 15:05] oldmanmike commented on #14095
I would like to take this one!

[2016-11-06 15:06] nox commented on #14095
Sure!

[2016-11-06 15:07] emilio commented on #11307
Nope, that won't be fixed as far as I know.

[2016-11-06 15:50] emilio commented on #13734
So this ended up not being as trivial as I thought because we were using `LayoutMsg`s to get the pixels from script.

[2016-11-06 15:51] emilio commented on #13734
@dbrgn Mind if I take this one?

[2016-11-06 15:59] dbrgn commented on #13734
@emilio sure, go on!

[2016-11-06 16:14] jdm commented on #13734
Sorry @dbrgn! I assumed this would be less complex than it turned out to be.

[2016-11-06 16:16] jdm commented on #14091
Merged with #13480.

[2016-11-06 16:16] #14091 closed

[2016-11-06 16:21] jdm commented on #14071
That would need to exist first. It seemed easier to start with this.

[2016-11-06 16:25] jdm opened #14098 "Intermittent failure in /XMLHttpRequest/responsexml-document-properties.htm, /html/dom/documents/resource-metadata-management/document-lastModified-01.html"
[code]

[2016-11-06 16:27] dbrgn commented on #13734
No problem :) But at least I got to know the build process a bit.

[2016-11-06 16:27] nox commented on #14071
Fair enough. :)

[2016-11-06 21:04] #13735 closed

[2016-11-06 21:59] canaltinova opened #14101 "Make parse functions implement from Parse trait in style"
There is a [Parse trait](https://github.com/servo/servo/blob/41df7056610e474a9a2efe4c807f480e976d0c1d/components/style/parser.rs#L89) in style crate. This trait will make it easy to write more generic values in the future. And it would be great if we convert parse functions to this implementation. You can find relevant parse functions with dxr[1]
Of course some of them are already implemented from

[2016-11-06 22:08] highfive commented on #14101
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-06 22:29] Manishearth commented on #14101
To be clear, this only applies for stuff in `style::values::specified`.

[2016-11-07 00:17] Manishearth commented on #13875
Unassigning, please let us know if you're still working on this

[2016-11-07 02:18] chenpighead commented on #13875
Sorry for taking it so long. Just started reading the docs yesterday. Will start to work on a patch from today.

[2016-11-07 02:27] shinglyu commented on #12610
Spec bug filed: https://github.com/w3c/csswg-drafts/issues/671

[2016-11-07 03:27] shinglyu commented on #12610
I sort out the test cases as a giant truth table:

[code]

[2016-11-07 03:49] Manishearth commented on #13875
Okay, thanks!

[2016-11-07 04:36] Wafflespeanut opened #14103 "Intermittent CRASH in /webgl/conformance-1.0.3/conformance/ogles/GL/matrixCompMult/matrixCompMult_001_to_004.html"
▶ CRASH [expected ERROR] /webgl/conformance-1.0.3/conformance/ogles/GL/matrixCompMult/matrixCompMult_001_to_004.html
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │ called `Result::unwrap()` on an `Err` value: IoError(Error { repr: Os { code: 104, message: "Connection reset by peer" } }) (thread main, at ../src/libcore/result.rs:837)
    │ DESCRIPT

[2016-11-07 04:37] jmr0 commented on #13264
Let me know if what I have in mind so far makes sense:

* CapturePage of frame element issues message for compositing, and stores a handle to a promise that's returned to the client unresolved
* Compositor sends image data (through constellation message to parent pipeline)
* Function in frame element receives image data, turns into ImageData and resolves promise with it

One thing I'm unsure about

[2016-11-07 04:43] jdm commented on #13264
Those steps sound sensible! Cropping and stretching logic should probably be in the frame element to avoid doing extra work in the compositor.

[2016-11-07 04:44] jdm commented on #14103
Merging with #13479.

[2016-11-07 04:44] #14103 closed

[2016-11-07 05:46] aneeshusa commented on #13977
Closing since this has been fixed; please comment if this happens again.

[2016-11-07 05:46] #13977 closed

[2016-11-07 07:29] shinglyu commented on #13515
Step 2 is already done in https://github.com/servo/servo/pull/13930, see [this section](https://github.com/servo/servo/pull/13930/commits/9aaa0886240aa4863ae2f8620932ecf6084f4f1f#diff-a139f7c2483c6cf4f78098b575503c04R639)

[2016-11-07 07:57] fiji-flo commented on #10083
Still no open PR sorry for that. I didn't have to much time and found an issue with horizontal scrolling. I worked around the space bar issue.
https://github.com/servo/servo/compare/master...fiji-flo:text-input-select

TODO:

- refactor duplicated code: unify `text_index` and `hit_test` (my fist naive approach to this didn't work out)
- write reftests for this

[2016-11-07 08:15] #13903 closed

[2016-11-07 09:04] canaltinova commented on #13892
@AVGP Are you still working on this? You can ask here if you have any questions.

[2016-11-07 09:07] #12936 closed

[2016-11-07 09:45] Ms2ger opened #14108 "Remove dependency of canvas_traits on azure."
The `canvas_traits` crate contains definitions of a number of data structures, as well as methods to convert those data structures into Azure's data structures. There conversion methods are only used in the code for the 2D canvas implementation in the `canvas` crate. In order to simplify the dependency tree, we should move those conversion methods to the `canvas` crate.

Note that implementing met

[2016-11-07 09:45] highfive commented on #14108
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-07 09:52] nox commented on #14108
AFAICT, the trait should just be:

[code]

The preexisting traits (`ToAzColor` and `ToAzFloat`) can then be expressed in terms of `ToAzureStyle`.

[2016-11-07 10:21] chenpighead commented on #13875
Still work on some compile errors while running "./mach build -p style"...

[2016-11-07 10:23] emilio opened #14109 "Investigate an implement canvas methods that read back from a WebGL context."
This boils down to implement `HTMLCanvasElement::fetch_all_data` when a WebGL context is involved. Should be straight-forward to do given we already have infrastructure in place for stuff like `glReadPixels`.

[2016-11-07 11:25] emilio commented on #14079
IRC conversation with @upsuper: http://logs.glob.uno/?c=mozilla%23layout&s=7+Nov+2016&e=7+Nov+2016#c23995

This sounds like a pretty decent amount of work...

[2016-11-07 11:25] emilio commented on #14079
cc @nox, who has also done font stuff

[2016-11-07 12:08] Ms2ger commented on #14108
(Except for `to_azure_pattern`, which takes an extra argument.)

Also, to be clear: the goal is to remove the `extern crate azure;` from `components/canvas_traits/lib.rs`, and the mention of `azure` in the `Cargo.toml` next to it.

[2016-11-07 13:41] jdm opened #14112 "Move bluetooth-helpers.js into mozilla test directory"
I only noticed via https://github.com/w3c/web-platform-tests/pull/4178/ that bluetooth-helpers.js was added to tests/wpt/web-platform-tests/bluetooth/ rather than tests/wpt/mozilla/tests/mozilla/bluetooth/.

cc @zakorgy @dati91

[2016-11-07 13:45] dati91 commented on #14112
We have an [open PR about wpt test fixs](https://github.com/servo/servo/pull/13918), maybe we can add this change to that?

[2016-11-07 13:50] jdm commented on #14112
Sure!

[2016-11-07 16:08] Wafflespeanut commented on #12283
There's an open PR #13270, which closes this.

[2016-11-07 16:12] Ms2ger opened #14115 "Remove the legacy networking stack"
Some related work:

* [x] https://github.com/servo/servo/pull/13388
* [x] https://github.com/servo/servo/pull/13571
* [x] https://github.com/servo/servo/pull/13575
* [x] https://github.com/servo/servo/pull/13579
* [x] https://github.com/servo/servo/pull/13597
* [x] https://github.com/servo/servo/pull/13677
* [x] https://github.com/servo/servo/pull/13714
* [x] https://github.com/servo/servo/pull/13

[2016-11-07 16:29] Ms2ger commented on #14115
Some related work:

* [x] https://github.com/servo/servo/pull/13388
* [x] https://github.com/servo/servo/pull/13571
* [x] https://github.com/servo/servo/pull/13575
* [x] https://github.com/servo/servo/pull/13579
* [x] https://github.com/servo/servo/pull/13597
* [x] https://github.com/servo/servo/pull/13677
* [x] https://github.com/servo/servo/pull/13714
* [x] https://github.com/servo/servo/pull/13

[2016-11-07 16:47] jdm commented on #12283
Didn't #14092 address this? Shouldn't we close #13270?

[2016-11-07 17:37] Wafflespeanut commented on #12283
Silly me. #14092 addresses the ordering, whereas #13270 checks duplicates in runtime. But, tidy now has both the things. The latter should be closed :disappointed:

[2016-11-07 17:37] #12283 closed

[2016-11-07 20:00] rzambre commented on #14002
This error occurs every time I quit Servo. This is also interfering with the ```-o out.png``` functionality.

[2016-11-07 20:10] rzambre opened #14117 "StringError("Bogus destination port.") every time Servo quits, possibly interfering with -o out.png functionality"
Platform: Mac OS X 10.11.6

After running

and when I try to quit Servo, I see  a bunch of the following errors (on all urls):

This is possibly interfering with the functionality of ```-x -o out.png``` flags.

Related to #14002

[2016-11-07 20:19] bholley commented on #14079
How common are these units? Could we just acquire a mutex, call into Gecko, and cache the result in TLS?

CC @dbaron @pcwalton

[2016-11-07 20:28] vvuk commented on #9468
HyperV should provide DX support, which means we should be able to use EGL and ANGLE.  But it would take a bit of plumbing hacking to make it work, though it would be very interesting to have it working.

[2016-11-07 20:29] jdm opened #14118 "Intermittent crash in /_mozilla/css/iframe/size_attributes.html, /_mozilla/css/iframe/size_attributes_vertical_writing_mode.html and /html/semantics/embedded-content/the-iframe-element/iframe-with-base.html"
[code]

[2016-11-07 20:30] jdm commented on #14117
This may be the same panic seen with more backtrace in #14118!

[2016-11-07 20:37] KiChjang commented on #13877
@cers Are you still working on this?

[2016-11-07 21:14] AVGP commented on #13892
Absolutely, sorry that it takes me so long, just swamped with work but
should get a chance later this week

Am 07.11.2016 10:04 vorm. schrieb "Nazım Can Altınova" <
notifications@github.com>:

[2016-11-07 23:27] upsuper commented on #14079
Firstly, I think it is probably hard not to do them lazily, because font metrics rely on all kinds of font information, including font family, size, style, variant, etc. It is simply infeasible to generate all possible font metrics in advance.

I think the main problem here is that we probably want a global shared metrics cache, and that cache is usually implemented in a fashion that changes the o

[2016-11-07 23:34] upsuper commented on #14079
An alternative way would be doing restyling in two phases. In the first phases we compute all things which do not rely on dimensions, and we generate a list of font metrics we need. And in the second phase we resolve all dimension-related properties.

[2016-11-08 00:03] rzambre commented on #14117
Even with the StringError, the out.png file actually gets created. Opening the file shows a seemingly right output image but I'm not sure if this error is interfering the with the completeness of writing to the out.png file.

[2016-11-08 00:18] jdm commented on #14117
I would not expect it to actually have a material effect, since it should only occur after we're already trying to shut down.

[2016-11-08 00:26] rzambre commented on #14117
That makes sense! I'll close this issue since it deals with the functionality of the -o flag.

[2016-11-08 00:26] #14117 closed

[2016-11-08 00:44] Polyomino commented on #12125
Here are some dumps from Windows Error Reporting that might help you guys diagnose crashes.
We haven't indexed pdbs so I just grabbed the ones that came from version 21.21.13.7570 which seems to be the newest.

[2812807c-30ee-46ee-a95d-05b5d8d5335d.zip](https://github.com/servo/servo/files/577033/2812807c-30ee-46ee-a95d-05b5d8d5335d.zip)
[8f5a9048-b1d5-4ffc-a93b-d1f0ecd1e40a.zip](https://github.co

[2016-11-08 01:46] #13529 closed

[2016-11-08 01:46] #13298 closed

[2016-11-08 02:10] danlrobertson commented on #11625
@myfreeweb Thats so awesome! Thanks for the great work!

[2016-11-08 02:18] danlrobertson commented on #11625
ipc-channel works with servo/ipc-channel#102

[2016-11-08 03:55] chenpighead commented on #13875
Oops, just figure that it's a gecko property. Does that means I need to also implement the Gecko bits like set_property and copy_property_from and others as necessary?

[2016-11-08 04:00] Manishearth commented on #13875
No, implement it with `products="none"`. If you wish to implement it as a gecko property, feel free to try! You'll need to use http://hg.mozilla.org/incubator/stylo to build, though (build steps in https://github.com/servo/servo/wiki/Stylo-hacking-guide), and copy your patches over to a servo clone later.

cc @shinglyu

[2016-11-08 05:07] chenpighead commented on #13875
That's exactly what the compile errors come from. After I add products="none", everything goes well now. I'll stick with servo only for now.

[2016-11-08 05:34] stshine opened #14123 "Implement column flexbox"
To be able to have a column flex container we need to:
1. Mark flex item as in a row container or a column container
2. explicitly reflow flex item with automatic block size before others
3. make flex item have their block size set by the parent container.

Luckily most obstacles have been removed by recent development, especially #13870 and #13401 .

[2016-11-08 05:35] stshine commented on #14123
Please assign this issue to me.

[2016-11-08 07:11] paulrouget commented on #13997
We will also need to fix glutin/winit to support multiwindow. See https://github.com/tomaka/winit/issues/56

[2016-11-08 07:23] chenpighead commented on #13875
@Manishearth, while running "./mach test-unit -p style", I bump into an error as follows:

error[E0308]: mismatched types
   --> /Users/jeremy/servo/components/style/lib.rs:155:5
    |
155 |     include!(concat!(env!("OUT_DIR"), "/properties.rs"));
    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ expected mutable reference, found enum `core::result::Result`
    |
    = note: expecte

[2016-11-08 08:40] stshine commented on #12610
@shinglyu Impressive sum up! That said, we do need some methods to handle the min-max size clamping more carefully, which currently layout does not pay much attention to(And that's the reason why I still left the `AxisSize` struct there`).
On the other hand, IMHO most of the complexity of intrinsic size calculation involved with intrinsic aspect ratio goes to `bubble_inline_size()`; especially, in

[2016-11-08 08:54] chenpighead opened #14128 "Keep Property hacking guide wiki page up-to-date"
An example would be that we're using `style_traits::ToCss` instead of cssparser::ToCss after #14089.

There could be more, such like when should we setting `products="gecko|servo|nont"`? What should we do if we're adding a longhand property (e.g. font-synthesis) that is included in a shorthand property (e.g. font)?

[2016-11-08 09:05] Wafflespeanut commented on #14128
Thanks. I've revised the former, and the latter depends on types (some are implemented in servo, some on gecko, and some are unimplemented in both). So, we'll mention it in the issue next time :)

[2016-11-08 09:05] #14128 closed

[2016-11-08 09:51] shinglyu commented on #12610
@stshine I noticed that if I specify `width: 200px` for an image, who's size is smaller then 200px, the `intrisic_inline_size` fields will all become 200px. Is that a bug? That makes me unable to get the "content size", or maybe the "content size" is something else.

[2016-11-08 10:02] chenpighead commented on #13875
Oops, after I rebase to the latest master, `./mach test-unit -p style` is running successfully and the tests are all passed. No idea what really happened though.

[2016-11-08 10:22] stshine commented on #12610
@shinglyu I believe that is the desired behavior since 'content size' is what we use to avoid fall into zero length when the style does not specify the actual size. And that is why the content size of element with intrinsic ratio is so complex since is may be determined by size property in the other direction.

[2016-11-08 13:30] samuknet commented on #13082
I've updated my webrender fork branch ('home-end-key-scroll') to be up to date with the latest webrender, and I am using  `paths = [..]` in config to select webrender and webrender_traits, however when building Servo I get the error:

`Package webrender_traits v0.8.0 (file:///Users/sam/servo/servo_fork/webrender/webrender) does not have these features: serde_macros`.

I noticed this is a problem m

[2016-11-08 13:44] paulrouget commented on #13082
Does it work better with `webrender:0.8.0` instead of `webrender:0.6.0`?

[2016-11-08 14:20] gterzian commented on #13082
@samuknet I had this problem before as well I remember, I think you need to update your servo repo, and then as @paulrouget says indeed replace webrender in `Cargo.toml` and please make sure it's version `0.8.0`

[2016-11-08 14:36] frewsxcv commented on #13117
Fixed in https://github.com/servo/servo/issues/14134

[2016-11-08 14:51] Manishearth commented on #13875
Yes, `products=none` means that it only gets compiled while testing. `./mach build -p style` will not build this code for products=none.

You probably need some `try!()`s somewhere

[2016-11-08 15:40] samuknet commented on #13082
I've tried this, I still get the error unfortunately.  I removed `paths=[..]` in config and added the `[replace]` in `Cargo.toml` with 0.8.0 although I get the same error.

[2016-11-08 15:48] paulrouget commented on #13082
You use a clone of webrender from servo/webrender?

And in components/servo/Cargo.toml, you added:

[code]

?

[2016-11-08 16:00] gterzian commented on #13082
I had exactly this problem here: https://github.com/servo/servo/issues/13249#issuecomment-252425439

But that should have been fixed in Servo by now(https://github.com/servo/servo/issues/13249#issuecomment-252442418), @samuknet are you 100% sure you are building your webrender fork using the latest version of the servo repo?

[2016-11-08 16:55] pcwalton commented on #14079
How about a reader-writer lock cache? I think a RW lock may be fast enough since these units are not *that* common.

An alternative would be per thread caches to eliminate the synchronization cost.

[2016-11-08 17:01] pcwalton commented on #13745
This is annoying. I now think we should just call the syscall directly. On unsupported OS versions it should harmlessly fail with `ENOSYS` at runtime.

[2016-11-08 17:31] #13875 closed

[2016-11-08 17:34] larsbergstrom commented on #13939
I think that @metajack was looking into this and there's something related to `PATH` changes. This is under investigation with the appveyor support staff.

[2016-11-08 17:46] bholley commented on #14079
Yeah, RWLock might be fine too, especially with parking lot. Roughly isomorphic to a TLS cache + mutex from an architectural perspective, so I think we should try these approaches before doing anything much more complicated.

[2016-11-08 18:02] samuknet commented on #13082
@gterzian Thanks, I think I've got it now.  I had to make changes to my old work to account for the latest Servo code.

So now is the procedure to submit a webrender PR alongisde the Servo PR?

[2016-11-08 18:27] jdm commented on #13939
Logs of @metajack's investigations: http://logs.glob.uno/?c=mozilla%23servo&s=4+Nov+2016&e=4+Nov+2016&h=appveyor#c555103

[2016-11-08 18:33] jdm commented on #13082
Yep!

[2016-11-08 18:45] emilio opened #14140 "Intermittent timeout in /html/semantics/forms/form-submission-0/submit-entity-body.html"
[code]

[2016-11-08 18:51] justinaustin commented on #14108
I would like to work on this issue. Thanks!

[2016-11-08 20:30] jdm commented on #14108
Great! Please ask questions if anything is unclear!

[2016-11-08 20:39] UK992 commented on #13939
well this problem is locally reproducable, it's caused by updating git from 2.9.* to 2.10.*, use official git over msys git solve the problem. in this appveyor case just removing git from pacman's packages list.

[2016-11-08 21:22] Manishearth opened #14144 "Sort out sideways writing modes"

[2016-11-08 22:56] cers commented on #13877
I am, but I must admit there appear to be some points about either the style system or rust (or both) that I don't quite grasp yet.

Would it be more appropriate to discuss particulars on IRC (as they might pertain more to Rust than to the actual bug), or is it valuable to have such a discussion here?

[2016-11-08 23:05] Manishearth commented on #13877
IRC is fine.

[2016-11-09 03:39] asajeffrey commented on #633
Must remember only to mention an issue in a PR summary if the PR closes the issue!

[2016-11-09 07:04] shinglyu commented on #12988
With #14147 I'm close to fixing this, but Gecko testing is not working, I'll file a separate bug for that.

[2016-11-09 07:08] shinglyu opened #14148 "Gecko performance test busted"
Blocks #12988

The new firefox nightly has a new security rule that prevents me from closing a tab using `window.close()`. I'm unable to close the firefox window after the test finishes, so every test case will reach the timeout and got killed. A killed nightly will show a "Enter safe mode?" prompt when opened again, this blocks the test flow.

I might need to rewrite the test addon (in `etc/ci/pe

[2016-11-09 08:15] #13117 closed

[2016-11-09 08:53] Ms2ger commented on #13939
Does that mean that we'll break again if AppVeyor update the git version they provide out of the box?

[2016-11-09 09:08] #13939 closed

[2016-11-09 09:56] chenpighead commented on #13875
The gecko stuff work is pending due to a git-cinabar issue: https://github.com/glandium/git-cinnabar/issues/95

I'll start to work on gecko once I could successfully clone the stylo repo. :-/

[2016-11-09 11:48] larsbergstrom commented on #13939
No. the provided windows git fine. Mingw git broken. See PR removing.

On Nov 9, 2016, at 2:53 AM, Ms2ger <notifications@github.com> wrote:

Does that mean that we'll break again if AppVeyor update the git version
they provide out of the box?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/servo/servo/issues/13939#issuecomment-25

[2016-11-09 15:04] Manishearth commented on #13875
https://github.com/manishearth/stylo-flat can be used in the meantime. Or https://github.com/Manishearth/gecko-dev/tree/stylo-tip

[2016-11-09 15:11] emilio commented on #12191
This should be closed now flexbox is on by default, thanks @stshine for all the flexbox work! :)

[2016-11-09 15:11] #12191 closed

[2016-11-09 17:07] jdm opened #14152 "Intermittent error in /2dcontext/drawing-images-to-the-canvas/2d.drawImage.path.html, /2dcontext/line-styles/2d.line.join.bevel.html and /2dcontext/transformations/2d.transformation.translate.nonfinite.html"
[code]

[2016-11-09 17:30] SimonSapin commented on #13745
I managed to get a build after:

* Installing full XCode 8.1 instead of XCode command line tools 5.1.1 (which I didn’t find how to update)
* Reinstalling Homebrew, my install of it got broken somehow
* Following OpenSSL-related instructions at https://github.com/servo/servo/#on-os-x--1011-el-capitan-you-also-have-to-install-openssl
* `./mach clean`

For all I know, it’s possible that upgrading OS

[2016-11-09 18:42] #13901 closed

[2016-11-09 21:22] gaby2300 commented on #12125
Yesterday I did the same using Windows 7. The result was a white blank
window opening for a few seconds and that was all. Maybe I did something
wrong though? Is there a newer download to test? Thanks!

On 19 October 2016 at 04:22, Roman <notifications@github.com> wrote:

[2016-11-09 22:02] larsbergstrom commented on #12129
@zhuowei Great question! I didn't have any thoughts on this. I'd imagine you could either:
1) Store the resources in a versioned folder
2) Emit a version file

@mbrubeck Do you have any advice/tips here on best practices for resource extraction and ensuring it's all done correctly when an APK is upgraded?

[2016-11-09 22:34] emilio opened #14154 "Crash in DocumentBinding::Wrap, presumably when submitting a form."
Discovered while investigating #13641 with the following command:

[code]

[2016-11-09 22:34] emilio commented on #14154
cc @jdm and probably @asajeffrey and @ConnorGBrewster

[2016-11-09 22:36] #13758 closed

[2016-11-09 22:52] jdm commented on #14154
This is almost certainly because we're invoking JSAPI functions without entering a JS compartment first. I'm surprised that this works at all, usually...

[2016-11-09 22:54] jdm commented on #14154
Oh wait, we enter compartments in the generated code, so that theory doesn't make sense.

[2016-11-09 23:05] Wavesonics opened #14155 "assertion failed: self.suspended_since.get().is_some()"

[2016-11-09 23:13] jdm commented on #14155
Previously reported in #13716. Thanks for reporting it!

[2016-11-09 23:13] #14155 closed

[2016-11-09 23:28] #13709 closed

[2016-11-10 00:18] jdm opened #14157 "Intermittent failure in /html/semantics/tabular-data/the-table-element/caption-methods.html"
[code]
This is another instance of wptrunner not recognizing a process that's crashed properly.

[2016-11-10 01:08] #14018 closed

[2016-11-10 02:00] #14030 closed

[2016-11-10 02:20] chenpighead commented on #13875
Nice!! If git-cinabar issue is not fixed today, I'll try `stylo-flat` then. Thank you. :-)

[2016-11-10 04:39] impowski commented on #14101
I can take it.

[2016-11-10 04:49] Manishearth commented on #14101
Go ahead!

[2016-11-10 05:27] kanaka commented on #13515
I have an Ubuntu 16.10 system using nouveau with an Quadro M1000M.

I'm unable to run headless mode:

[code]

All combinations of -c and -w give the same error.

[2016-11-10 07:32] ajnirp commented on #14071
addressed in #14160

[2016-11-10 07:51] Wafflespeanut opened #14161 "Intermittent CRASH in /css21_dev/html4/min-width-tables-001.htm and /html/semantics/embedded-content/the-iframe-element/iframe-with-base.html"
Looks similar to #10481

    ▶ CRASH [expected PASS] /css21_dev/html4/min-width-tables-001.htm
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │ Shutting down the Constellation after generating an output file or exit flag specified
    │ called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: NotFound, error: StringError("Bog

[2016-11-10 08:36] ajnirp commented on #14064
I'd like to work on this

[2016-11-10 08:47] emilio opened #14162 "Intermittent failure of /_mozilla/css/iframe/simple.html"
[code]

[2016-11-10 14:13] jdm commented on #14064
Please do! Ask questions if anything is unclear.

[2016-11-10 19:50] realcr commented on #13035
@jdm: I tried to do as you suggested, but my problem was with doing the override. This is my first attempt of building anything with rust, so please be easy on me :)

I tried to isolate my problem with doing the proposed override. These were the steps taken:

1. I cloned the servo and webrender repositories.

2. I added the following lines at the end of https://github.com/servo/servo/blob/master/c

[2016-11-10 20:02] jdm commented on #13035
Yeah, we're in an unfortunate spot with WR and ipc-channel right now - #14146 upgrades ipc-channel but doesn't work yet, and a PR to revert ipc-channel in WR is being merged (https://github.com/servo/webrender/pull/553). If you apply that locally, maybe the situation will be better.

[2016-11-11 00:06] #13371 closed

[2016-11-11 01:41] shinglyu commented on #14148
I'm now using selenium to fix this.

I also took the chance to run all the tp5n test again. Now Servo passes way more than before:

Servo:

[code]

Gecko: Not stable yet

[2016-11-11 03:05] DemiMarie opened #14169 "Meta-bug: make Servo ready for daily practical use"
This is a meta-bug for making Servo ready for use as one's main browser.

[2016-11-11 09:48] Wafflespeanut commented on #14169
I guess it's gonna take a while to get there :smile:

cc @larsbergstrom @jdm

[2016-11-11 12:16] mmatyas opened #14171 "Debugger update broke the Android build"
[A few days ago](https://github.com/servo/servo/commit/c8c5254f8b783a685308381477303d4e50f2dad4) `rust-websocket` was replaced with `ws-rs` in the debugger, and this change breaks the Android build currently.

`ws-rs` depends on `mio`, which in turn depends on `nix`, a dependency that wants to use the kernel signal definitions. It tries to create a `sigaction` structure [here](https://github.com/n

[2016-11-11 17:21] AgostonSzepessy commented on #13850
@Manishearth I have the code for parsing here: https://github.com/AgostonSzepessy/servo/blob/text-emphasis-position/components/style/properties/longhand/inherited_text.mako.rs#L939-L1049 but I get a compilation error that I don't know how to resolve:

[code]

How do I fix this error?

[2016-11-11 17:23] Manishearth commented on #13850
You need `product="none"` in the longhand tag. (Build with `./mach test-unit -p style`, and write tests there)

[2016-11-11 19:13] leeoniya opened #14176 "Why are Servo builds 31MB MacOS, 84MB Linux, 102MB Windows?"
Is the large discrepancy due to polyfilling missing or unshimmed platform features via wholesale re-implementations & crate dependencies?

Are Linux and Windows builds expected to ever approach the size of MacOS (presumably the first-class platform)?

thanks!

[2016-11-11 20:37] metajack commented on #14176
Linux and macOS ship with a large number of libraries that we depend on. On Windows, we have to ship those libraries with Servo. One example of this is OpenSSL.

We should try and get this down if we can. Certainly things like replacing freetype with DirectWrite will help. OpenSSL can possibly be replaced with SecureChannel, etc.

It would probably be worthwhile to have a metabug if someone was go

[2016-11-11 22:01] leeoniya commented on #14176
A windows OpenSSL binary is a couple megs; probably not worth the effort. Freetype binaries for Windows are ~1MB [1].

That leaves 67MB of "something". It'd be good to see a breakdown of which dependency rabbit holes are the heaviest to help prioritize efforts.

[1] https://github.com/ubawurinna/freetype-windows-binaries/tree/master/x64

[2016-11-11 23:12] metajack commented on #14176
A few things you can do to start the investigation:

1. Compare rlib sizes for the dependencies. Mostly we statically link everything. If rlibs are bigger on Windows than on other platforms, then maybe this points us to a compiler issue.

2. Compare all the DLLs we include with the Servo binary.

3. Check whether the `-msvc` target produces similarly sized executables. Perhaps this is just the sta

[2016-11-11 23:48] leeoniya commented on #14176
@metajack thanks for the pointers

[2016-11-12 00:38] emilio commented on #14154
I got accidentally an rr trace of this, it's a null deref on the `handler` variable, in the equivalent to this `if` in `rust-mozjs`:

http://searchfox.org/mozilla-central/rev/4b6cab91f93c73ae591dafaea40fd5704b41810e/js/src/vm/ProxyObject.cpp#54

[2016-11-12 01:18] emilio commented on #14154
So we're creating a document before even running `script::init`, sweet, isn't it?

[2016-11-12 01:27] asajeffrey commented on #14154
Ah, there is a possible race condition since the constellation thread is spawned, then the main thread calls `script::init`. Almost always, the constellation thead has enough to do that by the time it creates any script object, `script::init` will have been called, but that isn't exactly a guarantee.

[2016-11-12 01:28] emilio commented on #14154
Yup! Patch incoming.

[2016-11-12 02:00] emilio opened #14180 "Should wptrunner send a SIGTERM or SIGINT instead of SIGKILL when a timeout occurs?"
It'd be helpful to get a backtrace when an unexpected timeout occurs, like in #13641.

Of course another timeout needs to be used to kill the process completely if it's unresponsive, but I expect that to be easy-ish...

Thoughts? @jdm @jgraham

[2016-11-12 02:14] DemiMarie commented on #14016
Is there some reason why this cannot be made a type error?

[2016-11-12 03:36] Manishearth commented on #13868
Any updates?

[2016-11-12 04:31] #14101 closed

[2016-11-12 04:59] jdm commented on #14180
In my experience, the stack traces from timeouts are rarely meaningful - it's usually just sitting in an event loop somewhere, and not showing any kind of smoking gun.

[2016-11-12 06:01] #14154 closed

[2016-11-12 10:30] friedelwolff opened #14182 "assertion failed: self.suspended_since.get().is_some()"
I believe I encountered this when hitting the back button multiple times, maybe after already reaching the first page that was viewed in the tab.

assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-3ba56df
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-12 11:10] stshine commented on #12610
One thing I found worth to mention that may be confusing when I was review `flex.rs` for column flexbox:
 For a flex item, whether content size is needed is determined by the `flex-basis` property.
Or more concretely, in my current design, content size is needed when the `from_flex_basis()` returns `MaybeAuto::Auto`. And it may need enhancement to be able to handle intrinsic aspect ratio. I sugges

[2016-11-12 11:22] friedelwolff opened #14183 "Crash on Demo: Evil Ad"
I got this crash when viewing ./demos/evil_ad/physics/with-ad.html

As far as I remember there was no interaction (mouse/keyboard) at the time of the crash.

[code]

[2016-11-12 14:47] jmcomets commented on #3982
Hi everyone!
I'm reviving this thread after looking through #12071. The patch seemed more like a quickfix to me, it seems awkward that `TriggerDefaultAction` is returned when handling a tab key event for an input element.

IMHO the tab key handing should be implemented globally, as it cycles the ["currently focused area"](https://html.spec.whatwg.org/multipage/interaction.html#currently-focused-ar

[2016-11-12 15:08] #8925 closed

[2016-11-12 16:34] jcdyer commented on #11855
Archlinux also gets the overflow error, with the master branch of servo  The values I'm seeing (at components/profile/mem.rs:185) are:

    system_heap_allocated_size: 0
    system_heap_reported_size: 83296

I haven't dug any deeper, and probably won't get a chance to soon, but I just wanted to add that data point.

[2016-11-12 17:05] Wafflespeanut commented on #14161
Same problem

    ▶ CRASH [expected PASS] /html/semantics/embedded-content/the-iframe-element/iframe-with-base.html
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │ Shutting down the Constellation after generating an output file or exit flag specified
    │ called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: NotFound, er

[2016-11-12 17:57] jdm commented on #3982
Note, @nerith has been working on this and there's an in-progress PR at #13460. Thanks for your interest, however! Perhaps there is something you can contribute to that work.

[2016-11-12 19:02] jmcomets commented on #3982
From the look of the commits, it looks *exactly* like what I was hoping for. The PR looks quite finished now, I'll probably contribute elsewhere. Thanks for the update!

[2016-11-12 19:17] jdm commented on #11855
I'm removing the easy tag because it appears to be more complicated than I originally thought.

[2016-11-12 19:19] jdm opened #14186 "Intermittent timeout in /css-flexbox-1_dev/html/flexbox-basic-iframe-horiz-001.htm"
[code]

[2016-11-12 19:45] neeharv commented on #13868
I'm having a little trouble getting my local changes to compile and run. Is
there an irc channel where I can get help with that or should I post my
issues here?

On Sat 12 Nov, 2016, 9:07 AM Manish Goregaokar, <notifications@github.com>
wrote:

[2016-11-12 20:16] Manishearth commented on #13868
#servo on Mozilla's IRC network.

[2016-11-12 20:47] justinaustin commented on #14108
I don't know if this is the place to ask, but is there a quick way to just build the canvas and canvas_traits components?

[2016-11-13 00:56] Coder206 opened #14191 "Fedora 25 dbus Error"
When participating at a DevFest today, I encouraged some members of my tech club to try installing Servo (we were racing to show how the Janitor is faster than manually installing dependencies). One of the members tried building on Fedora 25 and received the error below:

[code]

cc @dbs

[2016-11-13 00:57] #14191 closed

[2016-11-13 01:14] stshine commented on #14186
Isn't #13037 already exists?

[2016-11-13 14:41] jdm commented on #14186
I missed that somehow.

[2016-11-13 14:41] #14186 closed

[2016-11-13 15:53] chenpighead commented on #13875
Looks like both stylo and stylo-flat repo are not updated recently. Since my patch (#14125) and other dependencies (ex. #14089) are not merged into stylo's servo yet, I'm not able to test my patches for now. Will verify my patches once the repo has been updated.

[2016-11-13 15:54] Manishearth commented on #13875
Just apply those patches on the servo directory. The update will happen when the hg repo is synced.

[2016-11-13 17:24] chajath commented on #12967
So I've been reading the spec over and over again, and I'm not sure what should happen if the present datetime is not a machine-readable string. Is the purpose of parsing the date time to validate that string is in one of the 10 acceptable format? And reject a value and throw an error otherwise?

[2016-11-14 04:18] Manishearth opened #14195 "Implement ToCss serialization for CSSRules"
For CSSOM, we need to be able to serialize the variants of [`CSSRule`](https://doc.servo.org/style/stylesheets/enum.CssRule.html). While https://github.com/servo/servo/pull/14190 adds a `ToCss` implementation for `StyleRule`, the other variants cannot be serialized yet. These implementations should be added.

Less easy, because serialization isn't always specced and you have to reverse-engineer it

[2016-11-14 04:34] frewsxcv opened #14196 "Rename `CSSRule` to `CssRule`"
https://doc.servo.org/style/stylesheets/enum.CSSRule.html

[Relevant line in code](https://github.com/servo/servo/blob/bfd4a0e5ffce6ceed6c4426279a8f3dcb3766fd1/components/style/stylesheets.rs#L63)

Similar renaming reasoning to https://github.com/servo/servo/pull/14156

[2016-11-14 04:34] highfive commented on #14196
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-14 07:42] shinglyu commented on #12610
@stshine I assume you are referencing the Gecko implementation, which skips content-size calculation if it's not needed? But I wants to follow the Chromium implementation, which is more like the spec. I write some pseudo logic [here](https://github.com/shinglyu/servo/blob/flexbox/components/layout/flex.rs#L233), would you mind giving me some feedback?

I'm also confused about the role of `flex-bas

[2016-11-14 07:50] Manishearth opened #14198 "Stylo: implement -moz-orient"
Please go through [the guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide) if you wish to hack on stylo.

[`-moz-orient`](https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-orient) is a keyword property ([implementation guide](https://github.com/servo/servo/wiki/Stylo-hacking-guide#implementing-a-simple-keyword-property)) with the set of possible values being `inline | block | horiz

[2016-11-14 08:14] Manishearth commented on #14195
Some of these are specced at https://drafts.csswg.org/cssom/#serialize-a-css-rule

If you come up with serialization steps, we should try and get them merged into the spec too.

[2016-11-14 10:32] deus-ex-machina399 opened #14203 "OpenSSL1.1.0"
I am using Debian Sid which now comes with OpenSSL 1.1.0. In this version makes many breaking changes to the API which caused the build to fail. To get things to work, I needed to run:

    apt-get install libssl1.0-dev

This forces my system to use the old OpenSSL version.

When I look at Cargo.lock in components/servo, I see we are using the rust crate

    openssl 0.7.14 (registry+https://githu

[2016-11-14 10:40] Wafflespeanut commented on #13500
I've merged the submodules into the main repository (while keeping history intact). The workflow should now be easier. Next stop: Github Integrations!

(/cc @jdm @edunham)

[2016-11-14 11:05] canaltinova commented on #14195
I'll work on this.

[2016-11-14 12:22] SimonSapin commented on #14196
I didn’t get a chance to comment before the PR for this this landed (and reverting now would only make things worse), but I am somewhat opposed to changes like this.

The motivation given in #14196 is:

Note that these are "conventions" and "guidelines", not hard rules. They are fine when writing new code and when no other convention applies. But neither is the case here:

* This casing was delibe

[2016-11-14 15:30] frewsxcv commented on #14203
This is probably blocked on https://github.com/hyperium/hyper/issues/907

[2016-11-14 16:33] metajack commented on #13557
cc @metajack

[2016-11-14 17:12] Ms2ger commented on #12654
I looked into this for a bit. The value we get out of `StructuredCloneData::read` in `Worker::handle_message` is an `ObjectValue` pointing to a reclaimed object (dereferencing the `*mut JSObject` yields `0xfffe2b2b2b2b2b2b`).

[2016-11-14 17:18] Ms2ger commented on #12654
For my reference: https://github.com/Ms2ger/servo/tree/debug-12654

[2016-11-14 18:12] jdm commented on #12654
If you can reproduce this, it would be worth seeing whether it's also caused by #13096.

[2016-11-14 18:55] stshine commented on #12610
Oops... sorry! I have not read flexbox spec quite a while, just thought about the main size; please ignore my previous two comments.

(stshine felt so embarrassed.)

So I took a closer look at the `bubble_inline_sizes()` methods and the `compute_intrinsic_inline_sizes()` methods, and what they compute are actually [Intrinsic Size Contributions](https://drafts.csswg.org/css-sizing-4/#contributions)

[2016-11-14 19:07] lygstate commented on #14176
The MSVC version are 40MB.

[2016-11-14 19:10] lygstate commented on #14203
How about using https://github.com/briansmith/ring instead of opengsll.

[2016-11-14 19:38] frewsxcv commented on #14203
OpenSSL is essentially two libraries:

* Cryptographic primitives (utility functions used to construct different protocols)
* A TLS implementation using the cryptographic primitives above

*ring* is a Rust library containing just the cryptographic primitives and does *not* contain a TLS implementation. There are a few TLS implementations being built that build on top of *ring*, most notably [rustl

[2016-11-14 19:38] Manishearth opened #14209 "Support CSSStyleRule.style"
https://github.com/servo/servo/pull/14190 adds basic CSSOM support. However, the attributes in the CSSRule subclasses are commented out.

In [CSSStyleRule](https://drafts.csswg.org/cssom/#the-cssstylerule-interface), using the `.style` attribute yields a `CSSStyleDeclaration`. This is the same thing that `HTMLElement.style` produces.

Note that while the attribute is marked readonly, it is possibl

[2016-11-14 19:43] Manishearth commented on #14209
Note that abstracting over the owner needs to also handle the fact that the element has finalizing steps. With an element, you call `.style_attribute()`, mutate the PDB, and then flush the serialization to the element's actual DOM style attribute. With a CSSStyleRule, you just need to mutate the PDB.

[2016-11-14 19:44] metajack commented on #14176
So this looks like mingw bloat, which will be going away. That puts linux as the long pole now :)

[2016-11-14 22:23] leeoniya commented on #14176
are there any working MSVC builds/nightlies to try out or is everything still blocked on https://github.com/servo/servo/issues/12125?

[2016-11-14 22:33] bholley opened #14213 "crash in rule_tree::pop_from_free_list"
Loading http://spectrum.ieee.org/video/geek-life/tools-toys/this-water-jet-cutter-can-slice-through-anything-steel-glass-or-steak in Servo, I hit the following:

https://pastebin.mozilla.org/8928296

The stack from lldb is a bit more illuminating: https://pastebin.mozilla.org/8928301

Basically, we're finalizing the Window on the script thread, and then we end up in alloc::arc::{{impl}}::drop<std:

[2016-11-14 22:40] emilio commented on #14213
Ok, I was worried for a second this could be dropping node's data inside script.

We're finalizing the window after layout, which I think it's... not quite the expected, and probably should be investigated a bit more.

Probably the assertion should be removed, but I think it's not quite the expected thing in any case.

[2016-11-14 22:42] notriddle commented on #14016
Fixed with #14053

[2016-11-14 22:42] #14016 closed

[2016-11-14 23:39] jdm commented on #14213
I'll defer to people like @emilio and @pcwalton here.

[2016-11-14 23:42] jdm opened #14215 "Intermittent failure in /css-transitions-1_dev/html/events-002.htm"
[code]

[2016-11-15 00:16] metajack commented on #14176
I believe we have fonts working now, so in theory we should switch over to `-msvc` nightlies I think. @larsbergstrom is there anything blocking us?

[2016-11-15 01:34] lygstate commented on #14176
msvc build are running and show things

[2016-11-15 01:51] larsbergstrom commented on #14176
@metajack the only thing blocking us is having buildbot support. I've been focused on Android and have let https://github.com/servo/saltfs/pull/491 rot, unfortunately, but will get back on it once Android is online. Android's a priority because people keep breaking it (it just broke *again*), so the race of fixing all the submodules and getting buildbot enabled before somebody breaks it again is p

[2016-11-15 02:52] jdm opened #14217 "Intermittent failure in /css-transitions-1_dev/html/events-003.htm"
[code]

[2016-11-15 04:03] shinglyu opened #14219 "[Refactor] Reuse the box-shadow parser for CSS filter drop-shadow"
The [CSS parser for CSS filter: drop-shadow](https://github.com/servo/servo/pull/14218/commits/d81c31da8c36c0c82683a42b258116524753a67b#diff-812a0457d99ab3b85e7a77e68a1b5665R672) is very similar to box-shadow's. Let's refactor this and reuse the box-shadow one.

[2016-11-15 04:04] shinglyu commented on #14219
Follow up for https://github.com/servo/servo/pull/14218

[2016-11-15 06:10] Manishearth opened #14221 "Intermittent PASS in /html/webappapis/scripting/event-loops/task_microtask_ordering.html and /html/webappapis/scripting/event-loops/microtask_after_script.html"
[code]

[2016-11-15 07:31] Manishearth opened #14222 "Logical properties aren't cascading correctly"
Wikipedia in stylo has odd margins due to logical properties being used in the Firefox user agent stylesheet.

Turns out that in my implementation, the logical properties cascade independently. However, the spec says

A minimal testcase follows. When correctly implemented, it should show two dissimilar boxes. In Servo/Stylo, it shows the same box twice, because the `block-size` declaration overrid

[2016-11-15 08:54] emilio commented on #14222
Yes, using the same field or checking for both properties works.

[2016-11-15 12:01] Ms2ger opened #14226 "Incorrect serialization of script contents in innerHTML"
[code]
yields `Promise<ArrayBuffer>` in Gecko and Chrome; we return `Promise&lt;ArrayBuffer&gt;`.

[2016-11-15 13:00] jdm opened #14228 "Intermittent timeout in /2dcontext/the-canvas-state/2d.state.saverestore.miterLimit.html, /2dcontext/the-canvas-state/2d.state.saverestore.path.html, /2dcontext/the-canvas-state/2d.state.saverestore.lineJoin.html, /2dcontext/the-canvas-state/2d.state.saverestore.lineWidth.html, and /2dcontext/the-canvas-state/2d.state.saverestore.shadowColor.html"
[code]
Super suspicious!

[2016-11-15 13:20] chenpighead commented on #13849
Hi @Manishearth, I'm wondering maybe we could implement both shorthand and longhand in this issue, if we do want this property eventually.

[2016-11-15 13:40] jdm opened #14229 "Intermittent pass in /_mozilla/css/border_radius_elliptical_a.html"
[code]

[2016-11-15 14:17] nt1m opened #14230 "Servo rendering for Material Framework is broken"
STR:
- Open http://nt1m.github.io/material-framework/#introduction on Servo Nightly

AR:
The rendering is broken
heats up my macbook
Servo becomes unresponsive

ER:
rendering works fine

[2016-11-15 14:46] listochkin opened #14231 "Panic while querying layout for resolved style"
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:
https://technet.microsoft.com/en-us/itpro/windows/manage/configure-windows-telemetry-in-your-organization#security-level

### Servo Version:
Servo 0.0.1-9467fbe
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-15 14:55] Manishearth commented on #13849
Yes,

[2016-11-15 15:16] kvark commented on #13963
I'm getting the same stack when doing the following:
  1. `./mach run --release https://github.com/servo/servo -Z wr-stats`
  2. maximize the window
  3. move the mouse and/or scroll

[2016-11-15 15:18] jdm commented on #14231
The original layout panic is:
[code]

[2016-11-15 15:21] jdm commented on #14231
[code]
cc @emilio

[2016-11-15 15:23] jdm commented on #14231
Should that be using ensure_element_data instead?

[2016-11-15 15:44] emilio commented on #14231
Probably? We should ensure all the chain of ancestors has data. This is suspiciously similar to https://github.com/servo/servo/issues/13962, so cc @bholley too.

[2016-11-15 15:52] emilio commented on #14231
We call ensure_node_data_initialized before, so it seems like the assumption that if the child has data, all the parent chain has too no longer holds...

[2016-11-15 16:50] notriddle commented on #11354
Seems this bug has been fixed?

![comment-in-servo](https://cloud.githubusercontent.com/assets/1593513/20314826/c8442b30-ab18-11e6-8e2d-9e3f549c84bc.png)

[2016-11-15 16:55] emilio commented on #14231
If I run with the following patch I hit the assertion:

[code]

I'll try to find an smaller test case that that page though.

[2016-11-15 17:02] #11354 closed

[2016-11-15 18:03] Manishearth commented on #13828
Working on CSSOM now, it seems like it mostly needs `<style>.style` to work and `.insertRule()`. That should be easy to get working.

It also needs svg though. Not sure how hard it will be to implement the bits necessary for plotly.

[2016-11-15 18:21] jdm commented on #13828
I doubt it's reasonable to expect SVG support before the new year.

[2016-11-15 18:43] bholley commented on #14231
Again, sorry this stuff is all in flux. We'll have a more solid model after [1] lands.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1317016

[2016-11-15 18:45] KiChjang commented on #13790
@adrm Are you still working on this?

[2016-11-15 18:46] jdm commented on #14112
Fixed by #13918.

[2016-11-15 18:46] #14112 closed

[2016-11-15 18:47] jdm commented on #14068
@MichaelKohler Are you intending to complete this?

[2016-11-15 18:47] #5196 closed

[2016-11-15 18:47] jdm commented on #14064
@ajnirp Are you intending to complete this?

[2016-11-15 18:48] jdm commented on #14069
@rschlaefli Want to make a pull request with your changes?

[2016-11-15 18:49] highfive commented on #13515
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-15 18:52] MortimerGoro opened #14235 "requestAnimationFrame not synchronized with render"
Hi,

There are some flickering issues in WebGL demos. Some tests:

* On slower computers more noticeable than on faster ones: tested on Macbook Pro 2011 and a new desktop with GTX 1060.
* If the window is not focused the flickering increases

The rendering to the WebGL Context texture itself is ok. In the WIP WebVR implementation, I'm able to render to the texture at 90fps, submit the texture to t

[2016-11-15 18:56] Manishearth commented on #11420
I've completed said "interesting part of the project" (all the above interfaces know about each other), now all that's left is working on individual attributes. Not sure if this needs to be closed.

[2016-11-15 19:08] larsbergstrom commented on #14235
cc @glennw

[2016-11-15 19:17] emilio commented on #14235
It's probably a known problem, we need to sync requestAnimationFrame callbacks per spec before painting...

But we don't do it right now. I have #13864 that conforms a bit more to the order the spec requires. That may help something, but I think we'd still trigger a paint before running animation frame callbacks.

[2016-11-15 20:38] farodin91 opened #14236 "Extend current Implementation of Fullscreen"
PR #13489

[2016-11-15 20:42] highfive commented on #14198
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-15 20:58] emilio opened #14237 "Intermittent timeout in /css21_dev/html4/margin-bottom-055.htm, /css21_dev/html4/margin-bottom-043.htm, /css21_dev/html4/margin-bottom-044.htm, /css21_dev/html4/margin-bottom-056.htm, /css21_dev/html4/margin-top-056.htm, /css21_dev/html4/bottom-019.htm, /css21_dev/html4/bottom-031.htm, /css21_dev/html4/bottom-068.htm, /css21_dev/html4/bottom-103.htm, /css21_dev/html4/bottom-104.htm, /css21_dev/html4/bottom-113.htm, /css21_dev/html4/padding-top-058.htm, /css-backgrounds-3_dev/html4/box-shadow-syntax-001.htm, /_mozilla/css/borders_a.html, /css21_dev/html4/padding-bottom-050.htm, /css21_dev/html4/padding-top-039.htm, /css21_dev/html4/padding-top-051.htm, /css/css-backgrounds/box-shadow-syntax-001.xht"
[code]

Weird (the Shutting down the Constellation part).

[2016-11-15 21:02] timvandermeij commented on #14161
Fixed by #14165?

[2016-11-15 21:07] MortimerGoro commented on #14235
@emilio I have tried #13864 but still the same problem

[2016-11-15 21:28] jdm commented on #14161
We'll say yes.

[2016-11-15 21:28] #14161 closed

[2016-11-15 21:32] jrmuizel commented on #13778
This is still unusably slow while Chrome loads the sites here: https://people-mozilla.org/~jmuizelaar/webrender/sites/ basically instantly.

[2016-11-15 22:05] julen opened #14239 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-9467fbe
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-15 23:15] jrmuizel opened #14240 "Changing background color on twitter causes lots of layout time"
This page should have a flashing background color but Servo's layout can't keep up.

https://people-mozilla.org/~jmuizelaar/webrender/sites/twitter-refresh-reduce.html

@pcwalton

[2016-11-16 00:49] hcorion commented on #14240
Woah, seizure warning maybe?

[2016-11-16 00:51] yodalee commented on #13234
I got an idea that: I can add a `RawDecoder` into `TextDecoder` to support streaming. To achieve that, I need to make customized change to `Rust-Encoding`, adding a function to reset the unprocessed buffer in `RawDecoder`. However I cannot get it worked.
I download `rust-encoding` and modify `Cargo.toml` in component/script, changing encoding setting to
[code]
However, the compiler error when comp

[2016-11-16 01:03] jdm commented on #13234
You should follow http://doc.crates.io/specifying-dependencies.html#overriding-with-local-dependencies or http://doc.crates.io/specifying-dependencies.html#overriding-dependencies instead.

[2016-11-16 01:16] Manishearth commented on #13828
https://github.com/servo/servo/pull/14241 gets us what we need on the CSSOM side for plotly, but not the svg stuff.

[2016-11-16 02:52] chenpighead commented on #13849
Hi @AgostonSzepessy, are you still planning to work on this?

[2016-11-16 04:00] jrmuizel commented on #13778
It looks like a good chunk of the time is spent in url::parser::Parser::parse_cannot_be_a_base_path accumulating the serialization.

[2016-11-16 05:07] metajack opened #14242 "Space Jam planet out of place"
<img width="1136" alt="screenshot 2016-11-15 21 57 51" src="https://cloud.githubusercontent.com/assets/28357/20335423/b078401a-ab7f-11e6-846a-b744cd7555c8.png">

The Warner Studio Store planet is moved over to the left for some reason.

[2016-11-16 05:08] metajack opened #14243 "Space Jam link text has incorrect color"
<img width="1136" alt="screenshot 2016-11-15 22 04 34" src="https://cloud.githubusercontent.com/assets/28357/20335450/f125206a-ab7f-11e6-994e-acae31148d31.png">

The link for "Legal/Privacy Information About This Site." is blue but should be red/pink.

[2016-11-16 09:23] emilio commented on #13778
Yes, it's right, we decided we want to completely bypass `rust-url` for data-uris. The CSS tokenization should not appear so much in the profile now, but yeah, this still needs some work.

[2016-11-16 09:30] emilio commented on #13778
Actually, we didn't update the css parser for the tokenization improvements, so https://github.com/servo/servo/issues/14245 should also help when it lands.

[2016-11-16 10:56] emilio commented on #14231
I'm not sure if it's worth to keep investigating on this until @bholley's patches land. I probably won't have the time to, but if someone wants to, the failures over in https://github.com/servo/servo/pull/14234 should make it a lot easier.

[2016-11-16 11:20] emilio opened #14247 "Intermittent failure in /_mozilla/css/iframe/positioning_margin.html"
▶ FAIL [expected PASS] /_mozilla/css/iframe/positioning_margin.html
  └   → /_mozilla/css/iframe/positioning_margin.html d9d9e489bc5b4508c01b06c7ff92f19dcc2ece3c
/_mozilla/css/iframe/positioning_margin_ref.html 3a4684450cbc08c6e80ab78eb761e71881c74ab1
Testing d9d9e489bc5b4508c01b06c7ff92f19dcc2ece3c == 3a4684450cbc08c6e80ab78eb761e71881c74ab1

[2016-11-16 11:39] hshristov opened #14248 "called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }""
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:

### Servo Version:
Servo 0.0.1-07b9dbe
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-16 11:46] choudhary001 commented on #14198
I would like to give this a try. Thanks!

[2016-11-16 11:54] emilio commented on #14248
A dupe of #14231, thanks for reporting it! :)

[2016-11-16 11:54] #14248 closed

[2016-11-16 13:30] AgostonSzepessy commented on #13849
@chenpighead No, you can take this issue if you want.

[2016-11-16 13:57] Coder206 commented on #14032
Since it was made in VirtualBox, did you want me to upload the VM for further investigation?

[2016-11-16 14:30] chenpighead commented on #13849
Ok, thanks. I'll start to work on this next week.

[2016-11-16 15:03] #13850 closed

[2016-11-16 15:13] AgostonSzepessy commented on #13821
@Manishearth May I try this one?

[2016-11-16 16:20] Manishearth commented on #13821
Go ahead!

Note that this is a bit tricky; for the logical properties to still work you need to have them share a type, so you have to define a new "predefined" type in values.rs for this. If you think you're up for it go ahead!

[2016-11-16 16:22] Manishearth commented on #14198
Go ahead!

[2016-11-16 16:59] AgostonSzepessy commented on #13821
@Manishearth What do you mean by a "predefined" type? Also, which values.rs are you talking about? Is it `components/style/gecko/values.rs`?

[2016-11-16 17:06] Manishearth commented on #13821
A predefined type is one in values.rs that can be used with the helpers.predefined_type helper. It automatically gets the gecko glue generated.

[2016-11-16 19:07] MichaelKohler commented on #14068
I didn't have enough time to start. If somebody else wants to do this, go for it! I can't really say when I'd have time to do this.

[2016-11-16 19:20] AgostonSzepessy commented on #13821
@Manishearth I'm not sure I understand. `min-width` and `max-width` are already implemented aren't they? On the MDN it says that `min-block-size` and `max-block-size` have the same Formal Syntax. Would I make a predefined type for `min-width` and `max-width` and use that for each one? I also couldn't find `min-inline-height` on this page: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

[2016-11-16 19:21] Manishearth commented on #13821
They're implemented as length values, but there are extra keywords in the docs.

the `block-size`/`inline-size` ones are logical properties. That's why this is a bit trickier than usual.

[2016-11-16 19:46] Manishearth commented on #13360
This has been hitting us particularly hard today. Disable?

[2016-11-16 19:55] Manishearth commented on #13360
Disabled in https://github.com/servo/servo/pull/14190

[2016-11-16 20:12] AgostonSzepessy commented on #13821
@Manishearth So for `block-size / inline-size` I need to get the value of `writing-mode` right? On the MDN pages for these, it says that way each one behaves depends on `writing-mode`. How would I get the value of `writing-mode`? And then would `block-size / inline-size` use the predefined property that I make?

[2016-11-16 20:56] Manishearth commented on #13821
No, that's handled already. We support all those properties. (see https://github.com/servo/servo/pull/14120)

This bug is about adding keywords to them.

I would recommend you try a different bug; this one isn't very straightforward.

[2016-11-17 00:03] AgostonSzepessy commented on #13821
@Manishearth Yes, I think you're right. I'll try a different issue.

[2016-11-17 00:24] linclark commented on #13548
I can take this one. I already have a start with a `background_shorthand_should_parse_all_available_properties_when_specified` test.

[2016-11-17 02:55] #14222 closed

[2016-11-17 08:31] upsuper opened #14257 "Upgrade dist on Travis CI"
In #14244, I'm adding libbindgen as a build dependency for geckolib.

libbindgen requires libclang 3.8 to work, however, in the current version of Linux distribution we use on Travis CI (which is Ubuntu 14.04LTS), version of libclang is 3.4. libclang 3.8 is included in Ubuntu 16.04LTS (xenial). Could we upgrade the dist to that version?

[2016-11-17 09:09] shinglyu opened #14258 "Ability to save a build and restore it for faster bisecting"
# Rational:

When working on layout/css, I usually need to compare the reftest result before/after a patch, sometimes even comparing between multiple branches. Needing to rebuild before we run a test is not very efficient. We could workaround this by saving the test result, but you never know which test is required.

# Proposal:

Let's build a `mach` command like this (just a rough idea)

* `./mac

[2016-11-17 09:42] canaltinova commented on #13548
@linclark,  It looks like @awesomeaniruddh is not working anymore. So go ahead! You can ask here if you have any questions.

[2016-11-17 09:44] #11485 closed

[2016-11-17 11:38] SimonSapin commented on #14257
Looks like the default is 12.04 and we can opt into 14.04, but I don’t see anything about 16.04. Can we get clang from another source than official Ubuntu repositories?

https://docs.travis-ci.com/user/ci-environment/
https://docs.travis-ci.com/user/trusty-ci-environment/

[2016-11-17 11:51] upsuper commented on #14257
We probably can do [what rust-bindgen currently does](https://github.com/servo/servo/pull/14244#issuecomment-261201975).

[2016-11-17 13:59] jespersh opened #14259 "First launch on macbook pro Sierra"
I downloaded the Servo nightly for Mac (from https://download.servo.org/nightly/mac/servo-latest.dmg) and dragged the icon to applications then from applications to the bar and right click opened and was met by... This "window".

Nightly version: Servo 0.0.1-f14e733

![screenshot 2016-11-17 14 33 21](https://cloud.githubusercontent.com/assets/1004198/20391254/dfaf320e-acd2-11e6-935b-6846f7957fb0.p

[2016-11-17 15:03] asajeffrey opened #14262 "Discard documents to reclaim resources"
The HTML spec allows documents to be discarded to reclaim resources (https://html.spec.whatwg.org/multipage/#discard-a-document). In particular, documents that aren't active may be discarded (https://html.spec.whatwg.org/multipage/browsers.html#the-session-history-of-browsing-contexts:discard-a-document).

#11893 contains a partial implementation.

cc @Ms2ger @jdm @ConnorGBrewster @metajack

[2016-11-17 15:10] asajeffrey commented on #14262
In https://html.spec.whatwg.org/multipage/#garbage-collection-and-browsing-contexts:discard-a-document:

so if any pipeline P1 in a script thread contains a pointer to a DOM node from another pipeline P2 in the same script thread, then that DOM node will keep P2's `WindowProxy` alive, so P2's document cannot be discarded.

AFAICT, this either means we need to hook into the SM gc to work out when w

[2016-11-17 16:53] creativcoder opened #14263 "Implement Update, Install algorithms for Service Workers api"
**Note**: This is assigned to myself.

Part of #11091

[#13574](https://github.com/servo/servo/pull/13574) introduces Job queues for service workers and with the fetch api in place, we are now able to implement these algorithms.

[Update Algorithm](https://w3c.github.io/ServiceWorker/#update-algorithm)

[Install Algorithm](https://w3c.github.io/ServiceWorker/#installation-algorithm)

[2016-11-17 16:53] adamtoms opened #14264 "assertion failed: self.suspended_since.get .is_some"
Opened new tab, searched using address bar then clicked back button to left.

Wont let me copy the warning messages either.

assertion failed: self.suspended_since.get  .is_some   ### URL: ### Servo Version: Servo 0.0.1-f14e733 ### Backtrace:     WARNING: Constellation>: Frame FrameId { namespace_id: PipelineNamespaceId 1 , index ..
<img width="1010" alt="screen shot 2016-11-17 at 16 53 27" src="h

[2016-11-17 17:43] asajeffrey commented on #14262
IRC conversation with @nox: http://logs.glob.uno/?c=mozilla%23servo&s=17+Nov+2016&e=17+Nov+2016#c563837

TL;DR we can make Document WeakReferenceable, and use that to hook into the gc.

[2016-11-17 20:03] frewsxcv opened #14265 "Switch from rust-openssl to rust-native-tls?"
Effectively, this would remove the OpenSSL dependency on MacOS and Windows; it changes these platforms to use Security Framework and schannel (respectively).

Repos:

* https://github.com/sfackler/rust-openssl
* https://github.com/sfackler/rust-native-tls

Example of how to accomplish this: https://github.com/seanmonstar/reqwest/blob/master/src/tls.rs

[2016-11-17 20:03] frewsxcv commented on #14265
I'd be happy to open a pull request for this if desired.

[2016-11-17 20:33] kaksmet commented on #14265
There have been a discussion about which TLS library to use on the [mailing list](https://groups.google.com/forum/#!topic/mozilla.dev.servo/3mfkRehXAo4) that may be of interest.

[2016-11-17 20:47] KiChjang opened #14267 "Intermittent crash of /WebCryptoAPI/import_export/rsa_importKey.worker.html and /XMLHttpRequest/send-usp.worker.html"
[code]

[2016-11-17 21:09] asajeffrey commented on #14262
My first shot at it: https://github.com/servo/servo/compare/master...asajeffrey:constellation-script-discard-documents (not actually tested yet).

[2016-11-17 22:16] larsbergstrom commented on #14171
@alexcrichton Do you have opinions on the right fix here? Should we push the `ulong` into the global `notbsd` target in the Android case, too, and then fix `nix` to do something similar?

@ejpbruel @jdm Is it OK if we disable the debugger crate on Android for now? I'm a little afraid that making a change like this might break some theoretically-stable APIs (it did the last time we ran into this `i

[2016-11-17 22:37] alexcrichton commented on #14171
Unfortunately we probably can't change the type in libc itself, so the fix probably needs to go into nix

[2016-11-17 22:55] larsbergstrom commented on #14171
Makes sense - they have an issue to get working on Android already: https://github.com/nix-rust/nix/issues/313#issuecomment-195920147

[2016-11-17 23:14] asajeffrey commented on #14262
Hmm, just making `Document` weak referenceable (https://github.com/asajeffrey/servo/commit/a56684ed8f6915c8b364392a8dcfb5e4099eb4fd) causes a panic:
[code]

[2016-11-18 03:38] linclark commented on #13548
Thanks! I pushed up a PR. If I missed any cases, let me know and I'd be happy to add them.

[2016-11-18 04:13] glennw commented on #13736
@mrobinson I held off on this, since the old functionality relied on layer IDs etc that have all been changed with your scroll root / display list changes. Are those changes at a point now where this could be re-implemented? Is it something you have time to work on?

[2016-11-18 08:05] mrobinson commented on #13736
@glennw Sure. I was taking a look at this the other day. I think that this could be done pretty easily with ScrollRootIds.

[2016-11-18 09:19] paulrouget commented on #14259
Could it be this? https://github.com/servo/servo/issues/13953

[2016-11-18 09:22] nox commented on #14171
@alexcrichton Why can't android be its own thing instead of 'notbsd' in libc?

[2016-11-18 09:23] paulrouget commented on #14259
@jespersh macbook or macbook pro?

[2016-11-18 09:25] jespersh commented on #14259
Macbook Pro
Quite possible. I can't figure out how to produce logs to verify a coalition

[2016-11-18 09:43] jespersh commented on #14259
If I use ./servo -M -S, then I get the errors from the logs in #12753
About that it cannot connect to com.apple.fonts and cannot find LucidaGrande locally

[2016-11-18 09:49] glennw commented on #14259
@paulrouget I don't have access to a mac that can run sierra sorry. Perhaps @pcwalton might have some ideas?

[2016-11-18 10:00] jespersh commented on #14259
I am available on #servo

[2016-11-18 10:28] ejpbruel commented on #14171
Are we talking about the debugger crate or the devtools crate? If the
former, that is a work in progress, and not actively used by anything, so
it's fine to disable it.

On Thu, Nov 17, 2016 at 11:16 PM, Lars Bergstrom <notifications@github.com>
wrote:

[2016-11-18 14:35] asajeffrey commented on #14262
IRC conversation with @nox: http://logs.glob.uno/?c=mozilla%23servo&s=18+Nov+2016&e=18+Nov+2016#c564456

TL;DR: expando objects can't be weak referenceable atm.

[2016-11-18 15:41] nox commented on #14171
Unfortunately someone stabilised stuff in libc that is just Plain Wrong(tm) on Android. Can we fix this? The symbols in libc are basically useless on Android.

[2016-11-18 15:55] alexcrichton commented on #14171
@nox the libc crate can be reorganized at will, and no a constant cannot change. If it's wrong a bug should be filed for the next major version of libc. In the meantime it needs to be worked around in downstream crates as we're not ready to release a new major version of the libc crate.

[2016-11-18 16:18] nox commented on #14171
@alexcrichton When something was Plain Wrong(tm) in Rust itself, it was changed back. Something was merged that is absolutely wrong on Android, and you say it cannot be changed on Android? Why?

[2016-11-18 16:26] nox commented on #14171
I don't understand why e.g. `SO_DEBUG` cannot be made a `c_ulong` on Android, when it currently cannot be useful as a `c_int` anyway on that platform.

[2016-11-18 16:34] larsbergstrom commented on #14171
@nox I think Alex isn't saying that it can't be change, but just that it needs to be fixed in the next semver-breaking rev of libc.

The more interesting question, to me, is how to handle such changes. Ideally, we'd just bump the version and land it, but that would make it quite challenging to make any other fixes to libc between now and when they want to publish the next breaking version of libc.

[2016-11-18 16:35] nox commented on #14171
@larsbergstrom I understand that. I just differ on the opinion that fixing something that is broken is a breaking change.

[2016-11-18 16:37] larsbergstrom commented on #14171
@nox As a counterpoint, I'd like to refer you to the inimitable nokusu:
https://twitter.com/nokusu/status/788285254322774016

i.e., if we *did* land the fix w/o a breaking change, it would break nix (and presumably others). That's exactly what happened in the libc 0.2 days with a semver-stealth-Android change of a similar nature and the ripple on the ecosystem was far worse for Servo, imo.

[2016-11-18 16:39] nox commented on #14171
@larsbergstrom I think that the only way of using e.g. `SO_DEBUG` currently on Android means you have to do `SO_DEBUG as c_ulong` for it to be useful, and that wouldn't break if we made it a `c_ulong` in `libc` in a patch bump. If I'm wrong about this, disregard me.

[2016-11-18 16:42] larsbergstrom commented on #14171
@nox Yeah, the breakage I've seen in the past is two forms:
1) people are using/wrapping/passing around the types and compiling on Android but not actually running the code at all
2) they bleed the brokenness all the way down to the FFI layer and just YOLO-pass a rust `c_int` into a C function that has something of type `unsigned long`

So admittedly this is a bit of an ad-hoc statement w/o a crat

[2016-11-18 16:43] SimonSapin opened #14279 "`Stylist::set_device` shoud check stylesheet media queries"
In `components/style/selector_matching.rs`, the `set_device` method of `Stylist` recursively finds `@media` rules inside stylesheets and checks if the evaluation of any media query has changed. But stylesheets can also have media queries (for example `<style media="(min-width: 400px)">…</style>`) and these are currently not checked. This MQ is stored in the `media` attribute of the `Stylesheet` st

[2016-11-18 16:54] Wafflespeanut commented on #14267
Also,

    ▶ CRASH [expected OK] /XMLHttpRequest/send-usp.worker.html
    │
    │ VMware, Inc.
    │ Gallium 0.4 on softpipe
    │ 3.3 (Core Profile) Mesa 12.0.1
    │ Stack trace for thread "ScriptThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(1) }"
    │ stack backtrace:
    │    0:     0x7fee3f32689d - backtrace::backtrace::trace::h16372ee7bf1517e5
    │    1:

[2016-11-18 17:57] emilio commented on #14079
I added infra for this in #14174, though it still needs a bunch of work of moving code from gfx into style, or into another crate lower in the dependency chain.

[2016-11-18 18:48] KiChjang commented on #11100
Consider disabling this since it's been hitting #14227 3 times in a row.

[2016-11-18 19:13] KiChjang commented on #14221
[code]

[2016-11-18 21:00] igalic commented on #14019
has something about this code changed in the past 16 days?
i'm getting:
[code]

(i should probably also file that failure as bug against rustc https://gist.github.com/igalic/9ba4fba112fb036a466ef917f786fe74)

[2016-11-18 21:39] #14195 closed

[2016-11-19 00:29] nox commented on #10473
Can't we just spinloop for 200ms or something?

[2016-11-19 00:31] nox commented on #10473
Wait, we support transitionend now right? So we can just wait for that event in the test.

[2016-11-19 03:07] jdm commented on #10473
Yes.

[2016-11-19 06:55] #14171 closed

[2016-11-19 12:50] nox commented on #10473
@jdm According to http://testthewebforward.org/docs/reftests.html, we can't actually wait for anything in a reftest in Servo, given we don't support mutation observers, no? :(

[2016-11-19 12:55] emilio commented on #10473
We have the `reftest-wait` classname in the HTML element, isn't that
enough?

On Sat, Nov 19, 2016 at 04:50:12AM -0800, Anthony Ramine wrote:

[2016-11-19 12:56] nox commented on #10473
No @emilio, we don't support mutation observers.

[2016-11-19 13:27] Ms2ger commented on #10473
We support reftest-wait in rust code

[2016-11-19 21:01] #13548 closed

[2016-11-19 22:55] lygstate commented on #11997
seems fixed

[2016-11-19 22:55] #11997 closed

[2016-11-19 22:56] lygstate commented on #11319
seems stable now

[2016-11-19 22:56] #11319 closed

[2016-11-19 22:57] lygstate commented on #10041
downloading are working fine now

[2016-11-19 22:57] #10041 closed

[2016-11-19 22:57] lygstate commented on #10047
this only need documents in readme

[2016-11-20 00:10] Ms2ger commented on #10473
PR to disable: #14288.

[2016-11-20 01:50] ajnirp commented on #14064
Sorry, I lost access to my personal laptop! Yes I will complete this, hopefully before Monday night.

[2016-11-20 06:03] benwaffle opened #14289 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-73cbe61
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-20 08:22] gterzian opened #14290 "When Servo isn't the window directly in front, scroll is stuck in previously scrolled layer"
On Mac, I've noticed that, when Servo isn't the window 'in front', then even though you can still scroll  Servo because it's still viewable, it is always the same 'layer' (in the sense of the Webrender layer) that scrolls, even if you move the cursor onto a different part of the page.

So for example taking https://output.jsbin.com/lukiye, if you start by scrolling the main page, then move Servo t

[2016-11-20 09:26] #13413 closed

[2016-11-20 10:17] fiji-flo commented on #10083
I refactored the duplicated code and adopted to the latest changes in `display_list`.

Mouse placement works now for `input` elements. I made a pull request out of this.
@jdm Can you think of a way to test this? Reftests don't really cover external input.

I will continue to work on:
* positioning in textarea elements via mouse
* text selection in input/textarea elements via mouse

[2016-11-20 11:04] lygstate commented on #13168
are that fixed now？

[2016-11-20 11:11] SaschaNaz commented on #13168
It still has several glitches but yes.

![image](https://cloud.githubusercontent.com/assets/3396686/20462324/87d54a0e-af5d-11e6-9cdf-5576d62efb26.png)

[2016-11-20 11:11] #13168 closed

[2016-11-20 11:19] #12917 closed

[2016-11-20 11:47] SaschaNaz commented on #11307
Is this still being reproduced? The latest Servo build correctly shuts down without spinning on Windows 10 Insider Preview build 14971.

[2016-11-20 12:01] SaschaNaz commented on #12125
It seems #13257 on the OP's list can be marked as resolved and possibly also #11307.

[2016-11-20 12:55] Ms2ger commented on #11100
Disabling in #14293.

[2016-11-20 14:07] jdm commented on #14289
This is caused by `Window::browsing_context()`, when the `browsing_context` is null. This only happens in `clear_js_runtime`, so the PostMessageHandler shouldn't be run.

[2016-11-20 14:08] jdm commented on #14289
Specifically, if we fixed #12718 then the runnable would be properly wrapped. Otherwise, we need to wrap it manually so it is ignored if the window doesn't exist any more.

[2016-11-20 14:10] jdm commented on #10083
Until we have the webdriver test harness working, we can't write tests that rely on user input.

[2016-11-20 14:11] jdm commented on #14290
This is presumably because when the window isn't active, it doesn't receive mouse movement events, so any scroll events received would use the old mouse position to choose which layer. I wonder why it receives scroll events, though?

[2016-11-20 14:59] Wafflespeanut opened #14295 "Fix border-image-outset parsing"
#14261 replaced  `LengthOrNumber` with `Either<Length, Number>`. While making that change, I somehow didn't notice that `border-image-outset` actually takes only a non-negative number.

We should add a new method `parse_non_negative_number` to the existing `LengthOrNumber` which should do something like [this](https://github.com/Wafflespeanut/servo/blob/6ac3fcbfeb6e36ced0b20d6e6483f07513d842c6/com

[2016-11-20 14:59] highfive commented on #14295
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-20 15:04] emilio commented on #14295
Please add a test for it too. You can use the existing parsing/serialization tests in `tests/unit/style/`.

[2016-11-20 16:31] Wafflespeanut opened #14297 "Prefer Either type for column-gap"
Declare a new type alias `LengthOrNormal` in both [computed](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/computed/length.rs) and [specified](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/specified/length.rs) modules (it should make use of the `Normal` unit struct declared [here](https://

[2016-11-20 16:31] highfive commented on #14297
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-20 16:47] Wafflespeanut opened #14298 "Prefer Either type for UrlOrNone"
We have an enum `UrlOrNone` [here](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/specified/mod.rs#L518). This should really be a type alias of `Either<SpecifiedUrl, None_>` instead. We already have a similar alias for `LengthOrNone` [here](https://github.com/servo/servo/blob/72e4c6dc21c132d49cf0a5f68a3ba45d16cc8322/components/style/values/spec

[2016-11-20 16:47] highfive commented on #14298
Please make a comment here if you intend to work on this issue. Thank you!

[2016-11-20 17:12] jcdyer commented on #14295
I'll take this one on.

[2016-11-20 17:17] Wafflespeanut commented on #14295
It's yours! Feel free to ping us at the #servo channel in IRC or comment here in case you need any help! :)

[2016-11-20 21:08] thiagopnts commented on #14298
I'll be working on this one

[2016-11-20 23:15] frewsxcv commented on #14243
Will be fixed by https://github.com/servo/servo/issues/8715

[2016-11-21 00:11] ohenecoker opened #14299 "called `Option::unwrap()` on a `None` value"
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-73cbe61
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-21 01:37] KiChjang commented on #14298
Go right ahead!

[2016-11-21 04:30] glennw opened #14301 "Several tests timeout on build machines under load."
Specifically:

mozbrowserlocationchange_event.html
reload.html
many-draw-calls.html

Each of these tests runs several asynchronous operations and can time out when many tests are running in parallel.

[2016-11-21 05:35] paulrouget commented on #14290
This is an issue we encountered before with unfocused windows.

We should do what we did for `MouseInput` https://github.com/servo/glutin/pull/97 but for `MouseWheel`.

[2016-11-21 07:48] gterzian commented on #14290
@paulrouget thanks! I'll look into it in the coming weeks...

[2016-11-21 09:41] Ms2ger opened #14305 "Prompt for credentials in the fetch stack (Authorization header)"

[2016-11-21 09:50] paulrouget commented on #14259
Duped in favor of #13953

[2016-11-21 09:51] paulrouget commented on #13953
After some bisecting, I suspect https://github.com/servo/webrender/pull/448 + https://github.com/servo/servo/pull/13873/commits/0a13c05479cf0366bc301ab7e8fe1234fcea62e3

[2016-11-21 09:54] paulrouget commented on #13953
@glennw / @pcwalton / @mrobinson - any clue of what's going on here?

Anybody with an up to date version of osx is apparently welcomed with a black and/or white screen.

[2016-11-21 10:14] Ms2ger opened #14306 "Implement Service Worker interception in fetch."

[2016-11-21 10:35] Ms2ger opened #14307 "Implement content blocking in fetch"

[2016-11-21 10:47] Ms2ger opened #14308 "Implement view-source in fetch"
Filing because this was supported in the legacy fetch stack (#4181, #5219).

It's not clear to me if this is something we should support; we probably should not allow `fetch(...)` or `<img src>` with it in any case.

[2016-11-21 12:53] ksnyde opened #14309 "called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }"
called `Result::unwrap()` on an `Err` value: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("Send is too large for port") }) }
### URL:

### Servo Version:
Servo 0.0.1-dd611ef
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-21 14:21] #9045 closed

[2016-11-21 14:29] jdm commented on #14309
Duplicate of #13054, and there's more information there. Thanks for reporting it!

[2016-11-21 14:29] #14309 closed

[2016-11-21 14:30] linclark commented on #14095
I saw this listed as potentially open on https://starters.servo.org/. If it is available, I'd like to give it a shot.

[2016-11-21 14:36] jdm commented on #14095
That sounds fine to me. @oldmanmike, if you'd like to work on something else let us know and we'll find another issue for you.

[2016-11-21 14:50] iamrohit7 commented on #14279
I would like to work on this.

[2016-11-21 15:18] joewalker commented on #13769
It's probably not fair to keep this C-assigned. I may get to it, but anyone should feel free to take it off me.

[2016-11-21 15:26] asajeffrey commented on #14262
I rewrote my implementation for this, it now just keeps track of discarded documents in script, the constellation is unchanged: https://github.com/asajeffrey/servo/commits/script-discard-documents

[2016-11-21 15:47] paulrouget commented on #7672
This was relevant for Firefox OS, and for browserhtml when we were building scrollout toolbar based on scrollgrab and snappoints. It is not the case anymore, and scrollgrab is not part of any spec.

Closing.

[2016-11-21 15:47] #7672 closed

[2016-11-21 16:12] jdm commented on #14279
@iamrohit7 Please do! Ask questions if anything is unclear.

[2016-11-21 16:54] jrmuizel commented on #13778
Even after these changes we're still spending a lot of time in url::parser::Parser::parse_cannot_be_a_base_path.

We're also spending a bigger chunk of time in cssparser::tokenizer::consume_ident_like now.

[2016-11-21 17:42] jrmuizel opened #14310 "twitter tweet view does not scroll properly"
In this saved version of twitter the scrolling is wrong.
https://people-mozilla.org/~jmuizelaar/webrender/sites/twitter-tweet.html

The whole discussion should scroll but only the first screenful does.

@mrobinson

[2016-11-21 18:16] Manishearth commented on #13778
For unquoted URIs I guess we should try and skip to the next closing brace as fast as possible? What does Firefox do?

[2016-11-21 18:31] emilio commented on #13778
As far as I know Gecko also goes through the whole URI, but using a table to indicate which kind of byte is it instead of the whole branching we go through. See `gLexTable`: http://searchfox.org/mozilla-central/source/layout/style/nsCSSScanner.cpp#43

[2016-11-21 18:33] emilio commented on #13778
http://searchfox.org/mozilla-central/source/layout/style/nsCSSScanner.cpp#1160, concretely.

[2016-11-21 18:39] AgostonSzepessy commented on #14297
I'd like to try this one.

[2016-11-21 18:40] emilio commented on #13778
@jrmuizel are you sure we are expending more time in `consume_ident_like`? Or just more percentage of time than before?

The first seems really unlikely to me except if you're using debug assertions (in which case it'll verify the final token is valid utf8 in https://github.com/servo/rust-cssparser/pull/110/files#diff-0bd70f3585cde6d2d2aff02435db9070R844)?

[2016-11-21 18:41] Wafflespeanut commented on #14297
Okay, but please wait until #14296 lands, since `parse_non_negative_length` won't be available before that.

[2016-11-21 18:51] jrmuizel commented on #13778
@emilio It could just be a higher percentage of the time. i.e. we used to be spending a much larger amount of time in parse_cannot_be_a_base_path before and so I didn't notice consume_ident_like earlier.

[2016-11-21 19:10] adrm commented on #13790
I'm willing to start on it next week. If you need to close it ASAP please feel free to take it from me. Sorry for being unresponsive this time.

[2016-11-21 19:15] KiChjang commented on #13790
@emilio I think this is solved by urlmageddon, yes?

[2016-11-21 19:19] jdm commented on #14267
These were previously disabled in #12654, then the test harness started reporting them with different filenames (.html suffix) so the old ini files don't apply any more.

[2016-11-21 19:26] yiwang opened #14311 "assertion failed: self.suspended_since.get().is_some()"
assertion failed: self.suspended_since.get().is_some()
### URL:

### Servo Version:
Servo 0.0.1-f14e733
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2016-11-21 19:27] jdm commented on #14311
Duplicate of #13716. Thanks for reporting it!

[2016-11-21 19:27] #14311 closed

[2016-11-21 21:52] #13424 closed

[2016-11-22 06:24] glennw commented on #13953
I'll see if it's possible to update my old mac (mac mini 2012) to sierra and repro this. If not, we may need @pcwalton to update his mac and investigate.

[2016-11-22 06:44] paulrouget commented on #13953
apitrace: https://people-mozilla.org/~prouget/tmp/13953_servo_apitrace