[2019-08-21 14:58] blairmacintyre commented on #23012
https://www.aelatgt.org/three-web-layer/#    Moved to more appropriate org

[2019-08-21 15:56] LifeIsStrange opened #24026 "A long term / sustainable plan proposal for servo and firefox"
According to [Stat counter](https://gs.statcounter.com/) Firefox has a global marketshare of 4.48% which is slowly falling.
Firefox mobile has a negligible marketshare and many sites are sub-par / almost broken on it.
Let's not even speak of electron, installable PWAs, Cordova and webview apps where Firefox has 0 marketshare (Yes geckoview exist but is not used anywhere)

Mozilla funding are shrin

[2019-08-21 16:03] jdm commented on #24026
I suggest that the right place to have this conversation is the [dev-platform mailing list](https://lists.mozilla.org/listinfo/dev-platform), and not the Servo issue tracker. This is a broader issue than just a particular technical one inside Servo.

[2019-08-21 16:03] #24026 closed

[2019-08-21 16:09] LifeIsStrange commented on #24026
Thanks @jdm
I have a question, a few years ago there was blog post from a googler that plotted on a graph the evolution of mozilla email adresses, of servo adresses, of chromium ones, etc.
That was an interesting data for seeing the gap trend between the number of employee at mozilla and at chromium.
Do you remember the URL? I can't find it..
But I remember there was a disq.us on the blog and you

[2019-08-21 17:05] #23932 closed

[2019-08-21 17:09] jdm commented on #24026
I remember seeing that but I don't remember where. Sorry!

[2019-08-21 17:18] kanaka commented on #19794
Viewing the page a build of 6af8258 (on Ubuntu 16.04.2) does not seem to exhibit the stretching problem for me (although page scrolling even more janky on that page than normal).

[2019-08-21 17:21] jdm commented on #19794
On macOS there is also no stretching, and scrolling is totally smooth on a nightly build (as long as the mouse doesn't scroll over the code blocks, which halt scrolling completely).

[2019-08-21 17:21] #19794 closed

[2019-08-21 17:22] jdm opened #24028 "Can't scroll over code blocks"
When I scroll over the main page content of http://learnyouahaskell.com/making-our-own-types-and-typeclasses, my scrolling stops every time the mouse hovers over a code block.

[2019-08-21 17:22] jdm commented on #19794
Filed #24028 for the scrolling issue.

[2019-08-21 19:10] #18513 closed

[2019-08-21 19:12] jdm commented on #16403
Rendering no longer appears to stall for the embedded version at https://jsfiddle.net/xkryswj3/embedded/result/. The error observed at https://jsfiddle.net/xkryswj3/ is now:
[code]
Which suggests that this relies on contenteditable, sadly.

[2019-08-21 19:14] jdm commented on #16298
The page now allows you to type in an email address, but the continue button is... challenging to use, and then when you click it you get:
[code]

[2019-08-21 19:15] jdm commented on #16400
I haven't seen a problem loading the google homepage in years.

[2019-08-21 19:15] #16400 closed

[2019-08-22 06:01] paulrouget opened #24031 "Do something about HoloLens C++ code formating"
Visual Studio can format the whole file based on the [clang-format file](https://github.com/servo/servo/blob/master/support/hololens/.clang-format).

It's not done automatically, but it, sometimes, happens (on pasting for example).

That means we get some random syntax changes in pull requests. For example: https://github.com/servo/servo/pull/24030

We should enable tidy for hololens code, and fig

[2019-08-22 06:15] paulrouget opened #24032 "[hololens] ending a scroll gesture generates a click"

[2019-08-22 07:48] CYBAI commented on #23431
Fixed by #23936

[2019-08-22 08:16] Eijebong commented on #23431
It's not really fixed, there's still lots of work on it

[2019-08-22 08:32] CYBAI commented on #23431
Oops, sorry, let me reopen it!

[2019-08-22 12:50] ferjm commented on #22358
I am not sure what changed since I tested this, but the situation has improved significantly:

![Screenshot 2019-08-22 at 14 48 45](https://user-images.githubusercontent.com/480202/63515832-03683e00-c4ec-11e9-832f-552f5a03072c.png)

The browser window goes into fullscreen mode and the video is rendered bigger, although it does not take the entire screen.

[2019-08-22 13:11] ferjm commented on #22358
So ... this is happening [again](https://github.com/servo/servo/issues/24015). Video elements can be seen in fullscreen. BUT only if the video is a block. It does not work if it is inline.

[2019-08-22 15:08] asajeffrey opened #24035 "Magicleap InitFailed panic"
Reported by @xclaesse:
[code]

[2019-08-22 15:09] asajeffrey commented on #24035
IRC chat: https://mozilla.logbot.info/servo-magicleap/20190822#c16561081

TL;dr it works on my end, sigh.

[2019-08-22 17:19] gatoWololo opened #24036 "WPT Intermittent Tests That No Longer Exist"
Using github API I fetched all tests with the tag `I-Intermittent`. This produced 417 unique wpt test (they were some duplicates). From here I ran the tests through mach. Mach mentions the following 101 tests no longer exist:
[code]

[2019-08-22 18:22] angelortiz1007 commented on #23754
**storing a vec as a member of VSLogger, initialized to the empty vec**
pub struct VSLogger {
    pub module_vec: Vec<String>,
}

**adding a method to VSLogger that allows setting that vec member**
impl VSLogger {
    pub fn init_vslogger(&self) {
        //self.module_vec = Vec::new();
    }

    pub fn add_module_to_filter(&self, _mystring: std::string::String) {
        //self.module_vec.push(_

[2019-08-22 19:57] asajeffrey opened #24037 "Use static analysis to ensure the constellation can't panic?"
The constellation is meant to not panic, but currently this isn't enforced. Can we use something like @dtolnay's `no-panic` crate to statically verify lack of panic?

[2019-08-22 19:59] asajeffrey commented on #24037
My suspicion is that anything that creates ipc channels may panic, but it might be worth checking to see.

[2019-08-22 21:01] gterzian commented on #24028
Same as https://github.com/servo/servo/issues/23918 ?

[2019-08-22 21:45] #23753 closed

[2019-08-22 22:03] gterzian commented on #23905
`Document::trace()` which panics if we end up tracing a document that's
been discarded?

It appears that the tracing always happens  as part of a call to `window.clear_js_runtime`, which calls into GC, and which traces everything I guess.

So it doesn't look like the window/document is actually used somewhere in a `Trusted`, and the only thing using it is the garbage collector when tracing...

I'm

[2019-08-22 22:10] gterzian commented on #23905
![Screen Shot 2019-08-23 at 12 09 48 AM](https://user-images.githubusercontent.com/2792687/63553330-5b2d9600-c53a-11e9-8375-33164b5396f1.png)

The good news is there are only 20 places where an ipc-sender is used in script, so it must be one of them that is leaking! yeah!

[2019-08-22 23:58] asajeffrey commented on #23905
Gosh, not tracing a Window is dangerous! It'll end up gc'ing the window's children, but not the window itself. We have to be very confident that the window is unreachable for this to be safe!

[2019-08-23 00:37] jdm commented on #24028
Highly likely.

[2019-08-23 00:46] CYBAI opened #24038 "Intermittent timeout in /_webgl/conformance/textures/misc/origin-clean-conformance-offscreencanvas.html"
[code]

[2019-08-23 02:59] #22363 closed

[2019-08-23 05:06] #23969 closed

[2019-08-23 05:19] paulrouget commented on #24020
STR:
- create a new winrt "Servo" component (as a project) in parallel to ServoApp
- Either rename just rename the default Class to "Servo". I recommend doing that before compiling.
- or import ServoComponent from ServoApp to the Servo project
- compile:

[code]

I also tried to not import ServoComponent and step by step migrate the code to the winrt template, but I always end up hitting this issu

[2019-08-23 07:30] #24010 closed

[2019-08-23 09:06] sreeise commented on #23869
I noticed that Gstreamer puts the data from different media containers into a TagList. The tags/data in the TagList are put into common categories regardless of the media container. This may be worth looking into for common data needed such as the language of a track. It would also be easier to get the needed metadata in this way versus manually sourcing the tracks as described in the specificatio

[2019-08-23 09:17] gterzian commented on #23905
Does the drop on no trace indicate that what is keeping the window alive is a child holding a reference to the window?

A couple of other questions:

1. If the window drops when we don't trace it(when it's in zombie state), what does that tell us about potential leaking `Dom<Window>` and so on? Logically, if there was a `Dom<Window>` stored somewhere, would the window still drop if we didn't trace

[2019-08-23 09:26] gterzian commented on #23905
By the way, to narrow things down a bit, it seems we are after all leaking ipc-senders somewhere in a refcounted object, see:

![Screen Shot 2019-08-23 at 11 25 51 AM](https://user-images.githubusercontent.com/2792687/63582156-d3c33f80-c598-11e9-943e-d2e868a2206a.png)
![Screen Shot 2019-08-23 at 11 26 04 AM](https://user-images.githubusercontent.com/2792687/63582157-d3c33f80-c598-11e9-8ba0-1804167

[2019-08-23 11:20] gterzian commented on #23905
Correction: the ipc-senders we're leaking are not in refcounted, they're on the "setting stack"...
![Screen Shot 2019-08-23 at 1 20 02 PM](https://user-images.githubusercontent.com/2792687/63589172-bdbd7b00-c5a8-11e9-8bd6-c003bdcfd389.png)

[2019-08-23 12:34] gterzian commented on #23905
Correction again, the tracing of ipc-sender is completely outside of `trace_rust_roots`...

[2019-08-23 13:28] asajeffrey commented on #23905
Can we get a trace that shows how we're ending up tracing discarded windows? Can you add a log entry for the WindowState of each traced window?

[2019-08-23 13:35] asajeffrey commented on #23905
Also, can you add a log entry for the size of the settings stack at https://github.com/servo/servo/blob/f1dd31f70440fa9c7a40525bd1e03eede568f74d/components/script/dom/bindings/settings_stack.rs#L34 so we can see if it's growing unexpectedly?

[2019-08-23 13:42] jdm commented on #23754
Interesting. I think you will need to conver it to a lazy static instead. Look for other examples in the code of `lazy_static`, which relies on the [lazy_static](https://docs.rs/lazy_static/1.3.0/lazy_static/) crate.

[2019-08-23 13:53] jdm commented on #24035
SpiderMonkey is failing to initialize: https://github.com/servo/rust-mozjs/blob/master/src/rust.rs#L187

I suspect the JIT thing.

[2019-08-23 15:25] asajeffrey commented on #24035
Yes, not sure why my device isn't affected though. It could be a thing where the app is asking for permissions (which I've already granted on my device) and panicking due to going ahead without them?

[2019-08-23 16:18] gterzian commented on #23905
So it's not the settings stack after all, in fact the tracing of `IpcSender` didn't occur as part of `trace_rust_roots`.  It turns out it was the `FetchCanceller`(altough I don't fully understand it didn't show up as part of the tracing in `trace_rust_roots`).

I don't have a trace handy now, however I remember it was always as part of `clear_js_runtime`, which calls into `GC`. So essentially they

[2019-08-23 16:25] asajeffrey commented on #23905
Yay, good find on the `FetchCanceller`, which explains what's going on with the IPC senders.

If the windows are being traced but not dropped, then something must be keeping a live pointer to them! Adding logging to the trace which shows the window's `WindowState` would help with finding the culprit.

[2019-08-23 16:37] gterzian commented on #23905
What do you mean with "Adding logging to the trace"?

I'll open a PR soon with some fixes, basically it involves setting all `MutNullableDom` on a window to `None` inside `clear_js_runtime`, and I guess it helps because most of them contain a `Dom<Window>`, although I can't say I fully understand what is going on, but they drop with those changes and I assume it's less hacky than what I did previo

[2019-08-23 17:06] asajeffrey commented on #23905
Something like:
[code]
Setting all the nullable fields of a `Window` to `null` is a much better solution than not tracing the fields!

[2019-08-23 17:25] jdm commented on #23905
Perhaps we should have:
[code]
This would avoid introducing bugs when forgetting to clear fields of Window in the future.

[2019-08-23 17:32] asajeffrey commented on #23905
Even better!

[2019-08-23 17:47] angelortiz1007 commented on #24020
Paul,

I have not forgotten about you.  I'm working on it and will have some observations soon.

Angel

[2019-08-23 18:05] angelortiz1007 commented on #24020
Paul,

So I followed your first 2 bullet items and I did get a failure to build the new component.  I got the C3544 error along with others such as:
\winrt\base.h(6998): error C3487: 'conditional<_Test,_Ty1,_Ty2>::type': all return expressions must deduce to the same type: previously it was 'default_interface<implemented_interfaces<T>::first_interface,void>::type'

So, if you can, can you try agai

[2019-08-23 19:17] angelortiz1007 commented on #23754
JDM,
Here is what I have and I still seem to be missing something due to the error.

[vcvarsall.bat] Environment initialized for: 'x64'
   Compiling simpleservo_capi v0.0.1 (C:\git-mozilla\servo-angelortiz1007\ports\libsimpleservo\capi)
error: no rules expected the token `LOGGER_INIT`
   --> ports\libsimpleservo\capi\src\lib.rs:230:5
    |
230 |     LOGGER_INIT.call_once(|| {
    |     ^^^^^^^^^^^

[2019-08-23 19:41] gterzian commented on #23905
Thanks, I will try that approach.

I'm just doing some browsing, instead of running the webdriver script, and some weird things are happening, any ideas how this is possible:

![Screen Shot 2019-08-23 at 9 40 33 PM](https://user-images.githubusercontent.com/2792687/63619394-d2bcfd00-c5ee-11e9-8043-8fa597faa3dd.png)

[2019-08-23 19:42] gterzian commented on #23905
must be iframes or something

[2019-08-23 19:55] asajeffrey commented on #23905
That shouldn't happen, each iframe should get a different pipeline_id, you shouldn't be seeing the same id over and over.

[2019-08-23 20:13] gterzian commented on #23905
It happens quite a lot when browsing around github, although not always, you also get this kind of expected behavior:

![Screen Shot 2019-08-23 at 10 12 35 PM](https://user-images.githubusercontent.com/2792687/63621010-2f221b80-c5f3-11e9-8d1b-bbac5d5a3167.png)

[2019-08-23 20:34] jdm commented on #23754
The call_once call still belongs where it originally lived before your changes.

[2019-08-23 22:12] gterzian commented on #23905
The "multiple drop" of a document, seems to consistently occur right before layout exits, if that gives any indication...

[2019-08-23 22:34] angelortiz1007 commented on #23754
Yep, did that too. :(  Here is the output:
   Compiling layout_thread_2013 v0.0.1 (C:\git-mozilla\servo-angelortiz1007\components\layout_thread)
error[E0277]: the trait bound `init_logger::LOGGER: log::Log` is not satisfied
   --> ports\libsimpleservo\capi\src\lib.rs:232:25
    |
232 |         log::set_logger(&LOGGER)
    |                         ^^^^^^^ the trait `log::Log` is not implemented fo

[2019-08-23 22:35] angelortiz1007 commented on #23754
Will continue to work through this over the weekend.

[2019-08-24 03:29] kanaka opened #24042 "Ahem characters render with vertical lines (or leading/trailing opacity)"
I have a browser rendering suite that is generating random web pages and then comparing how they are rendering across multiple browsers (the code is here https://github.com/kanaka/bartender but major caveat that it still very active development and not well documented yet).

I'm using Ahem to attempt to limit font "normal" page rendering differences. However, Servo has a bug in how it is rendering

[2019-08-24 03:57] #24022 closed

[2019-08-24 03:59] paulrouget commented on #24020
I was doing all of these steps already. But still getting the error. Did it work for you?

[2019-08-24 11:31] angelortiz1007 commented on #24020
It did. Hummmm

On Fri, Aug 23, 2019, 22:59 Paul Rouget <notifications@github.com> wrote:

[2019-08-24 11:58] EmmaParker123 commented on #19015
Nice Article,

**[Digital Photo Recovery](http://www.digitalphoto-recovery.com)** is magnificent software which is able to restore most of the lost images, videos, and music from your device.

[2019-08-24 12:00] EmmaParker123 commented on #23994
Nice Article,

Download the **[MTS Recovery](http://www.mts-recovery.com)** Software to recover your lost videos and images from your personal computer.

[2019-08-24 12:04] EmmaParker123 commented on #23905
Nice Article,

**[Nikon Photo Recovery](http://www.nikonphotorecovery.com)** software is specially designed to recover NEF or JPEG format images captured with any Nikon camera.

[2019-08-24 12:06] EmmaParker123 commented on #23807
Nice Article,

Download the **[JPEG Recovery](http://www.jpegrecovery.org)** Software to recover lost images from the digital camera.

[2019-08-24 12:07] EmmaParker123 commented on #23865
Nice Article,

Is your PST file corrupt? Looking for a solution to fix and recover damaged and corrupt files? If you are getting these issues then

we suggest you download the **[Microsoft Scanpst](http://www.microsoftscanpst.com)** Software.

[2019-08-25 00:46] angelortiz1007 commented on #24020
One thing I forgot, but sure you did too is to in the *.idl file.
If you *.idl files compiles.  All should go well with the component build.

namespace RuntimeComponent3
{
    [default_interface]
    runtimeclass Class
    {
        Class();
        Int32 MyProperty;
    }
}

To
namespace RuntimeComponent3
{
    [default_interface]
    runtimeclass Servo
    {
        Servo();
        Int32 MyProp

[2019-08-25 10:33] gterzian commented on #23905
Ok so those big chunks of documents with the same pipeline id dropping, they were created as part of https://github.com/servo/servo/blob/174bcc443435100da31b20db5ab684f4f3c8255b/components/script/dom/servoparser/mod.rs#L162

Basically, if a pages uses an API like `SetInnerHTML`, Servo creates a new document for each fragment that is parsed. There are few other places where new documents are create

[2019-08-26 03:20] jdm opened #24052 "Blob destructor can panic when GC happens after window is dropped"
Just like #23986, we have no guarantees about when Drop runs. In cases like the following, we cannot assume there is a valid global object:
[code]

[2019-08-26 06:34] paulrouget commented on #23682
Fixed: #24008

[2019-08-26 06:34] #23682 closed

[2019-08-26 06:34] paulrouget commented on #23615
Fixed: #24008

[2019-08-26 06:34] #23615 closed

[2019-08-26 06:38] paulrouget commented on #23908
The protocol handler now works: #24008

We now need:
1) find a way to create and open the servo:// URL from edge
2) figure out a way to trigger the immersive mode in Servo. We can't just guess which JS function to call to initiate the immersive mode.

[2019-08-26 06:38] paulrouget commented on #24020
@angelortiz1007 unrelated to this issue: when you add logs or code in your github comments, I'd recommend that you wrap them around triple backquotes (```). Example:

\```
namespace RuntimeComponent3
{
    [default_interface]
    runtimeclass Class
    {
        Class();
        Int32 MyProperty;
    }
}

\```

becomes:
[code]

It's easier to read :)

[2019-08-26 06:38] paulrouget commented on #24021
Fixed: #24030

[2019-08-26 06:38] #24021 closed

[2019-08-26 09:44] gterzian commented on #24052
I think the answer to this is to adopt a structure similar to what is ongoing with the messageport, which is to store the `BlobImpl` on the globa, versus inside the `Blob`, have the global keep a `Weak<Blob>`, and then have the global clean-up the `BlobImpl` both on an ongoing basis when the `Weak<Blob>` becomes `None`, and when the global itself drops.

This only works if the blob isn't supposed

[2019-08-26 09:48] gterzian commented on #24052
By the way, the second approach, keeping the global alive even though the pipeline has already exited, wouldn't work as-is in terms of doing the clean-up steps when the blob drops, even if that is after the pipeline has exited, because the constellation currently ignores messages from pipelines that have already exited, so the file clean-up messages sent by the kept-alive global would be ignored b

[2019-08-26 09:50] gterzian commented on #24052
Incorrect, those messages are sent to the resource thread, not the constellation.

[2019-08-26 10:03] gterzian commented on #24052
Concretely, if a script could call `CreateObjectURL` using the blob, after the global has dropped, the blob somehow would have to keep the global alive. Although this might also be a problem due to use using the global as the [environment settings object](https://html.spec.whatwg.org/multipage/webappapis.html#current-settings-object), since strictly speaking `CreateObjectURL` uses the settings obj

[2019-08-26 10:11] gterzian commented on #24052
Ok, I think this is a simple fix that requires us to move the clean-up steps to when a documnt is unloaded, as stated in https://w3c.github.io/FileAPI/#lifeTime

So that seems to imply the right model is storing the `BlobImpl` on the global, and then doing the clean-up steps when the document is unloaded, potentially leaving zombie `Blob` held by a script.

[2019-08-26 10:18] gterzian commented on #24052
This does imply some structural changes, where a `Blob` does not hold a `BlobImpl`, instead it would require having some sort of `BlobId`, shared with a `BlobImpl` stored on the global.

Then the global would be responsible for cleaning up `BlobImpl` related resources.

----

I think this also opens up the possibility of removing our raw pointer based serialization of blobs at https://github.com/s

[2019-08-26 10:48] gterzian opened #24053 "Run document clean-up steps regardless of salvageable state"
We currently only run the document clean-up steps for a document whose salvageable state is false, we should instead always run it.

https://github.com/servo/servo/blob/79b456d84e94cb40cca3f043f34b29baf5c91e30/components/script/dom/document.rs#L1905

It's only step 3 of those steps that should only run if salvageable is false, see https://html.spec.whatwg.org/multipage/browsing-the-web.html#unload

[2019-08-26 10:50] gterzian commented on #24053
As example of clean-up steps, extended by the File spec, that we should run regardless of salvageable state of the document, is https://w3c.github.io/FileAPI/#lifeTime, discussed at https://github.com/servo/servo/issues/24052

Another example is making websockets dissapear, see https://html.spec.whatwg.org/multipage/browsing-the-web.html#unloading-documents:make-disappear

[2019-08-26 16:26] jdm opened #24057 "Intermittent timeout in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_escaping-3.html"
[code]

[2019-08-26 20:47] georgeroman opened #24059 "Implement scrollIntoView for Element"
https://drafts.csswg.org/cssom-view/#dom-element-scrollintoview

[`testdriver.js`](https://github.com/web-platform-tests/wpt/blob/master/resources/testdriver.js) depends on it.

[2019-08-26 21:49] gterzian opened #24060 "Periodically drop unused FetchCancellers"
https://github.com/servo/servo/pull/24047 ensures we drop document when exiting a pipeline(unless script keeps a reference to that document), and this also ensures the document loader and any fetch-cancellers stored in it, will drop.

However, fetch-cancellers are kept on the document loader for as long as the document is alive, which means they will build-up for each fetch.

It would therefore be

[2019-08-26 21:53] jdm opened #24061 "JS GC crash when notifying about rejected promises"
Run http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html:
[code]

[2019-08-26 23:12] #24012 closed

[2019-08-27 02:34] CYBAI commented on #24061
I don't have a Windows machine now but I'm curious how the promise is unexpectedly overwritten when firing the event. Isn't the Promise only cloned 🤔?

[2019-08-27 04:30] paulrouget commented on #24020
Check with @jdm.

[2019-08-27 04:58] #21432 closed

[2019-08-27 04:58] paulrouget commented on #21432
Can't reproduce anymore.

[2019-08-27 04:58] paulrouget commented on #21100
Looks like it's working now.

[2019-08-27 04:58] #21100 closed

[2019-08-27 05:13] paulrouget opened #24064 "Know what will be compiled before building?"
Sometimes the script crate is being built for unknown reason. On Windows this happens often. And it just happened on my Mac.

I'm not sure how to debug that.

Is there a way to tell Cargo to do a dry run? Just report what needs to be compiled. And investigate from here.

[2019-08-27 06:41] SimonSapin commented on #24064
Sounds like `cargo +nightly build --build-plan -Z unstable-options`, see https://github.com/rust-lang/cargo/issues/5579

For finding out *why* something is rebuilt, setting a `CARGO_LOG=debug` environment variable might help. It’s very verbose though, but can be filtered by module. For example `CARGO_LOG=cargo::core::compiler::fingerprint`. (This the `env_logger` crate, just with a non-default env

[2019-08-27 06:49] paulrouget commented on #24064
That's useful. Thank you.

[2019-08-27 07:19] ferjm commented on #22358
It seems that all [replaced elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element) fail to go fullscreen.

This test shows the video and the image in fullscreen mode in other browsers:

[code]

[2019-08-27 12:57] CYBAI opened #24066 "Intermittent CRASH in /html/semantics/embedded-content/the-iframe-element/iframe_sandbox_popups_nonescaping-3.html"
[code]

[2019-08-27 21:02] jdm opened #24071 "Forcing a TTY with a pipe to `cat` suppresses error codes"
There are a bunch of tests in the macOS taskcluster WPT jobs that use `| cat` on the end of the command to force a TTY so an appropriate logging choice is made. Unfortunately, this suppresses the error code, so any of those jobs could be silently busted and taskcluster wouldn't notice.

[2019-08-27 21:11] jdm opened #24073 "glwindow webxr backend doesn't work on three.js rollercoaster"
[code]
I get a solid blue screen with no actual webgl content when I press the "Enter XR" button.

[2019-08-27 22:26] gterzian commented on #24073
I get a second window, hidden behind the one showing the blue screen. When you put the other window showing the roller coaster in front, and you press escapre, you get: `called `Result::unwrap()` on an `Err` value: "SendError(..)" (thread WRRenderBackend#0, at src/libcore/result.rs:1084)`

Or sometimes you get the error noted at https://github.com/servo/servo/issues/23986

[2019-08-28 08:21] gterzian opened #24074 "Figure out why `Performane` would result in leaking `Window` after a pipeline was closed"
https://github.com/servo/servo/pull/24072 fixes the leak, but the underlying reason is still not clear.

It could be that if we didn't clear the performance list, then it ended up getting entries added to it but never removed, so if you quickly navigated away from the page it just sat there being a memory leak?

_Originally posted by @asajeffrey in https://github.com/servo/servo/pull/24072#issueco

[2019-08-28 13:16] jdm opened #24075 "Support exiting immersive mode"
When I'm immersive mode on the HL I can open up the windows menu and press the home button to take me out of immersive mode, but Servo no longer appears to be usable when I do this. We should figure out how to support this properly.

@paulrouget Do you have time to look into this?

[2019-08-28 13:21] saschanaz commented on #23606
Is this fixed too?

[2019-08-28 13:23] saschanaz commented on #20513
Is this fixed by #21523?

[2019-08-28 13:45] saschanaz commented on #10763
Fixed by #22084

[2019-08-28 14:19] #10763 closed

[2019-08-28 14:27] nox commented on #20513
Yes, it doesn't support all kinds of unions.

[2019-08-28 14:51] jdm opened #24077 "Have a minimal UI mode in hololens"
When a protocol activation occurs in the UWP app, we should consider hiding the 2d browser UI and only showing the actual page content. We could also consider having the embedder "is the page allowed to navigate?" query return false, or possibly allow the activator to decide if navigation is allowed by making it a special part of the URL that is used to activate Servo.

The goal here would be to s

[2019-08-28 15:20] jdm opened #24079 "Kill any running Servo processes before starting macOS taskcluster jobs"
There is an ongoing problem with stale test processes that stick around for days and make later jobs time out. We should be able to avoid this by running something like `pkill -KILL servo` as part of every macOS taskcluster job.

[2019-08-28 15:42] jdm opened #24080 "Notify devs when not all mac taskcluster workers are running"
There are supposed to be 7 workers shown on https://tools.taskcluster.net/provisioners/proj-servo/worker-types/macos/. Sometimes some of the workers lose the connection with the master and never regain it, so there can be fewer than 7. When this happens, we should spit out a warning somewhere so devs know to restart the worker.

[2019-08-28 15:47] paulrouget commented on #24075
Yes.

[2019-08-28 16:20] paulrouget commented on #23908
I mean, we need to decide when Edge should re-write the URL with the servo prefix, and how it will do it. Maybe a user script? Not sure what mechanics Edge supports.

[2019-08-28 16:30] paulrouget commented on #24077
I'll look a this.

[2019-08-28 16:43] paulrouget commented on #24073
Also there is an issue where the gl contexts are not made present in the right order.

[2019-08-28 16:57] paulrouget commented on #24075
@jdm I get an exception going to immersive mode:

[code]

[2019-08-28 16:58] paulrouget commented on #24075
@jdm which webxr demo do you use for your tests?

[2019-08-28 17:23] jdm opened #24082 "Rendering depth issues in immersive mode"
When I run the rollercoaster demo in immersive mode on the HoloLens, I see clear issues with things that are farther away rendering in front of things that are closer. When I'm watching the demo in the windowed mode, those problems do not exist. Perhaps our XR framebuffer needs a depth attachment as well?

[2019-08-28 17:34] jdm opened #24083 "XR framebuffer creation panics when setting up texture"
When running the three.js webvr rollercoaster example in immersive, I get GL errors when we try to bind the texture that we've just created as part of creating an XRWebGLLayer. My theory is that the webgl commands end up being interleaved with other GL processing from webrender in such a way that the state we rely upon is messed up. I have a patch to move these operations to run in the webgl threa

[2019-08-28 17:37] jdm opened #24084 "Add some way of accessing warnings/DOM errors/console.log output on embedded devices"
For app developers who are not developing Servo, they won't have the VS output window to show them useful page debugging info. We need some mechanism to allow getting this data from the device. Possibly we can run an HTTP server?

[2019-08-28 17:44] paulrouget commented on #24075
Any idea what I might be missing:

[code]

[2019-08-28 17:53] paulrouget opened #24085 "Study "App4" and identify the workflow differences with our HoloLens app"
Microsoft has shared a UWP app that implements the expected workflow for app activation/navigation for 2D and immersive views.

I'll see how it compares to our current implementation.

[2019-08-28 17:56] paulrouget commented on #24075
Yes I did. Still trying to figure out why it can't find openxr.

[2019-08-28 18:06] paulrouget commented on #23787
is there a DOM specification about that? I remember vaguely something about user clicks vs. js clicks.

[2019-08-28 18:07] paulrouget commented on #24075
Never mind, I didn't fully install the runtime.

[2019-08-28 18:08] paulrouget commented on #23787
https://developer.mozilla.org/en-US/docs/Web/API/Event/isTrusted

[2019-08-28 18:11] paulrouget opened #24086 "Prompt user to install openxr runtime if it's missing (hololens)"

[2019-08-28 18:25] georgeroman opened #24087 "Inconsistent unique_id for Node when performing pointerDown or pointerUp WebDriver actions"
Steps to reproduce:
- execute `FindElement`
- execute `PerformActions` (either `pointerDown` or `pointerUp`)
- execute `FindElement` with the same parameters as before

The element ids returned from the two `FindElement` commands differ. I'm wondering if this has to do with the changes from https://github.com/servo/servo/pull/23951.

cc @jdm

[2019-08-28 18:51] kanaka opened #24088 "Block element with no left/top and breaks absolute positioning if it follows an inline element"
I was trying to reproduce and shrink #17870 with github.com/kanaka/bartender (research project of mine, still very rough) and discovered a more fundamental issue with absolute positioning of block elements:

[code]

Firefox 68 (Ubuntu 16.04.2):

![image](https://user-images.githubusercontent.com/70127/63883423-c7c0ee80-c999-11e9-85f0-986d86524844.png)

Servo (built 20190814):

![image](https://use

[2019-08-28 19:18] jdm opened #24089 "Warn when module scripts are ignored"
This is an ongoing source of confusion when pages don't work that depend on module scripts. We should log a warning when they are encountered as long as we don't support them.

[2019-08-28 21:27] asajeffrey commented on #24083
Hmm, that shouldn't be happening. There shouldn't be any difference between issuing the WebGL commands directly in the webgl thread, compared to issuing them in the script thread and sending them to the webgl thread for execution.

[2019-08-28 21:28] asajeffrey commented on #24083
IRC chat https://mozilla.logbot.info/servo/20190828#c16574986

[2019-08-28 21:33] jdm commented on #24083
There is a difference when the webgl thread is shared with the webrender thread - any synchronous GL API (like CreateTexture) will cause the current set of messages to be processed, allowing arbitrary WR GL calls to execute before the next set of GL messages gets processed.

[2019-08-28 21:35] jdm commented on #24083
The real underlying bug may be that there is some GL code in WR or webxr that modifies the state and doesn't restore what was there before. It's hard to tell.

[2019-08-28 21:48] asajeffrey commented on #24083
Ah, that makes sense. WebGL maintains a lot of state that assumes it's the only owner of the GL context. This is a deeper problem than just XR initialization, any user WebGL code could hit the same problem.

[2019-08-28 21:51] jdm commented on #24083
Indeed :/

[2019-08-28 22:27] jdm opened #24092 "Can't connect to devtools from firefox nightly"
[code]

[2019-08-28 22:27] highfive commented on #24092
cc @fitzgen

[2019-08-28 22:28] jdm commented on #24092
Based on https://searchfox.org/mozilla-central/rev/325c1a707819602feff736f129cb36055ba6d94f/devtools/client/aboutdebugging/src/modules/client-wrapper.js#106 we appear to be missing actors for preferences.

[2019-08-28 23:55] jdm commented on #24084
We can make use of the existing devtools server while still works in FF 68.

[2019-08-28 23:55] #24084 closed

[2019-08-29 00:05] jdm opened #24093 "Parse errors in capi cause an unhelpful panic in the build script"
If there's a syntax error in any of the code in the capi crate, all you get to learn is this:
[code]
It would be much easier to not panic during the build script and find out the actual error during the normal build instead.

[2019-08-29 05:01] gterzian opened #24096 "Ensure Task-queue doesn't leak tasks of closed pipelines"
The theory of the Performance takes being kept in the task queue seems plausible. Are there other instances of tasks being kept alive even though their document has been discarded?

_Originally posted by @asajeffrey in https://github.com/servo/servo/pull/24072#issuecomment-525750493_

When looking for various potential sources of leaking the document/window, I also looked at the task-queue, since

[2019-08-29 05:18] gterzian commented on #24074
cc @asajeffrey @jdm I think it is plausible, and also that it's not what happened in this specific case, and also I think we're leaking `PerformanceObserver`, since they are never removed, unless script calls https://github.com/servo/servo/blob/6297fa582ac4c870e4a8d16cd261da6ede14191d/components/script/dom/performanceobserver.rs#L131

We could look into changing the structure of how observers are

[2019-08-29 05:23] paulrouget commented on #24086
@jdm How is the openxr loader loaded?

Should we package the ServoApp with openxr? Or should we prompt the user to install the runtime?

[2019-08-29 06:38] jdm commented on #24086
There's a Teams thread which describes how we could package the OpenXR runtime in our app in the short term if it will make our testing easier. We can also detect an error in https://github.com/servo/webxr/blob/f71f85bf187fe7aa7d72b6a573b893a4a2f07e44/webxr/openxr/mod.rs#L62 or https://github.com/servo/servo/blob/9b247983902d1fca945a0caff029c42d13c846e7/components/script/dom/xr.rs#L211-L212 and ad

[2019-08-29 07:55] #24077 closed

[2019-08-29 08:39] paulrouget commented on #24086
I'd rather check that in the hololens code. There's a way to check if a package is installed. I could use that.

Or I could use the C++ openxr loader and see if it fails.

[2019-08-29 09:56] paulrouget commented on #24075
It is usable after leaving the immersive mode. I can navigate to a new page, scroll and click.

The problem appears to be only with the page that initiated the immersive mode.

[2019-08-29 10:02] paulrouget commented on #24075
Is requestAnimationFrame paused for 2D webgl content when switching to immersive mode?

[2019-08-29 13:16] saschanaz opened #24098 "Navigation by Control+L contaminates input URL"
1. Open Servo on Windows
2. Press Control+L and type `https://w3c-test.org/navigation-timing/`
3. Press Control+L again and type `https://w3c-test.org/canvas/`

Expected: Navigation to `https://w3c-test.org/canvas/`
Actual: Servo unexpectedly navigates to `https://w3c-test.org/canvas/n-timing/`

[2019-08-29 13:24] asajeffrey commented on #24075
The 2d rAF should still be running after you entered immersive mode. This is needed for devices where the browser window is still visible when there's impressive content running, e.g. a desktop browser with an attached headset.

[2019-08-29 13:42] gterzian commented on #24074
On the other hand, I'm not actually sure the code at https://gist.github.com/kanaka/119f5ed9841e23e35d07e8944cca6aa7 creates any observers, which could invalidate the above logic(at least with regards to the leaking perceived when running that script). Will require looking into more closely.

[2019-08-29 14:47] gterzian commented on #24074
Ah ok, even if there are no observers set, we still often buffer the entry at https://github.com/servo/servo/blob/39bd45529d6ef3eea8e0eeef77d0294e0db1b02c/components/script/dom/performance.rs#L244

And this happens for instance each time script does a fetch: https://github.com/servo/servo/blob/7490dd6f0deafc8192126a88a8a6f75c100e5d71/components/script/network_listener.rs#L65

[2019-08-29 15:55] jdm opened #24101 "Fluid simulation doesn't respond to mouse input"
https://paveldogreat.github.io/WebGL-Fluid-Simulation/

[2019-08-29 15:58] jdm opened #24102 "Pages load sluggishly on hololens"
I've been loading a bunch of three.js examples (such as http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html) and the servo.org homepage, and both release and debug builds display a general sluggishness in getting past the initial white page. The Servo homepage in particular has a very long delay before the screenshot appears, and it's only 200kb (but it is also 2.4k x

[2019-08-29 16:02] kanaka commented on #23905
I did a test run with #24072 (39bd455). Panic after 182 page loads.

[code]

The file-descriptor counts show some patterns that might be interesting in tracking this down so I'm including it below. The growth rate seems to be about 29 fds per load until about run 20, then wobbles and stabilizes until about run 30 after which it seems to grow at about 22 fds per load until it hits the 4096 limit.

[2019-08-29 16:02] jdm commented on #23960
On macOS that's `INVALID_OPERATION`, on ML1 that's `INVALID_FRAMEBUFFER_OPERATION`.

[2019-08-29 16:05] jdm commented on #24102
I've loaded the demos and the Servo homepage in desktop servo quickly on a different wifi network, so I'll try with the same machine on the same wifi network that the hololens is using.

[2019-08-29 16:07] jdm commented on #24101
It's expecting mousedown, mousemove, and mouseup so something isn't working there. The keypress listener for spacebar works, at least!

[2019-08-29 16:14] jdm commented on #24101
I suspect that the use of `offsetX` and `offsetY` in this code is yielding incorrect values:
[code]

[2019-08-29 16:45] ferjm commented on #22358
I was slightly wrong with my previous statement. Actually, **all inline** elements fail to go fullscreen. No matter if they are replaced elements or not. I have just updated #24034 with a potential fix.

[2019-08-29 16:59] gterzian commented on #23905
Thanks! @kanaka So I think those FDs are not those leaked by keeping the window/globalscope alive, and it matches the mach ports count that I noticed on Mac.

Also, I don't think those relate to actually loading the page anymore, since I can get that count to go op simply by opening a page, and scrolling it continuously. Perhaps you can comfirm you see that happening on Linux too?

[2019-08-29 17:40] jdm opened #24103 "Enable ANGLE integration by default on Windows"
Right now it requires running Servo with `--angle` on Windows to use the ANGLE support, and we don't support WebGL with ANGLE at all unless we build with `--features no_wgl`. I want to make ANGLE the default mode on Windows and make WGL opt-in instead.

[2019-08-29 17:44] gterzian commented on #23807
Ok I'm interested in working on this, not right now but let's say fall/winter.

I propose the following outline of major work items, for your consideration:

1. Separate the backend from the rendering thread.
2. Backend lives either in the constellation/embedder process, or in it's own process. Switching between one or the other shouldn't in itself be difficult. Perhaps we start with just running

[2019-08-29 18:05] jdm opened #24104 "Some network requests never receive responses"
Using the Mozilla wifi network in the SF office, I'm seeing http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html never receives a response for three.js, despite that page loading perfectly fine in Firefox.

[2019-08-29 18:06] jdm commented on #24104
Nevermind, it just took 40 seconds to receive a response, which is still absolutely ridiculous.

[2019-08-29 18:26] gterzian commented on #23807
We could also have some fun and use shared-memory for the buffer of `audio::block::Block`.

[2019-08-29 18:52] georgeroman opened #24106 "Refactor the retrieval of an element's container into a function"
Spec: https://w3c.github.io/webdriver/#dfn-container.

Currently, getting an element's container is done [inline](https://github.com/servo/servo/pull/24090/files#diff-456a3fec57cd19347193f258996610c6R1090) when performing the `ElementClick` command (and only done for `HTMLOptionElement`). This can be refactored into a separate function, together with a complete implementation.

[2019-08-29 19:27] jdm opened #24108 "Replace Servo branding in UWP app with Firefox Reality"
We should remove references to Servo (ServoApp in title, servo:// url handler) from the app and replace them with Firefox Reality instead. We should also create some store asset icons that make use of the FxR logo.

[2019-08-29 19:55] gterzian commented on #24074
Ok so this https://github.com/servo/servo/pull/24109 fixes the actual cause of the leak, and remove the previous changes the set `Performance` as a whole to `None`.

The cause of the perceived leak was indeed the buffer, as no performance observers were created.

Leaving this one open, since I think we should still fix the issue with the performance observers, which leak unless script calls `Disco

[2019-08-29 21:34] atouchet commented on #24098
I have also run into this issue. It makes testing Servo inconvenient as page navigation often doesn't work properly.

@paulrouget do you know why this is happening?

[2019-08-29 22:08] jdm commented on #24098
Since the implementation is https://github.com/servo/servo/blob/8f7440f36881fa60f4237d0dec8928799a6aa747/ports/glutin/browser.rs#L112-L126, I suspect this is actually a bug in https://github.com/jdm/tinyfiledialogs-rs/blob/master/libtinyfiledialogs/tinyfiledialogs.c.

[2019-08-29 22:08] jdm commented on #24098
Might be worth updating to a newer version to see if it's fixed.

[2019-08-30 00:15] #24104 closed

[2019-08-30 04:57] paulrouget commented on #24108
Should we add, like in Firefox, a branding configuration file for app names and icons?

[2019-08-30 05:03] jdm commented on #24108
What would be the purpose of making it configurable?

[2019-08-30 05:17] paulrouget commented on #24108
The UWP app can also be used as a regular Windows Desktop app.

[2019-08-30 05:18] paulrouget commented on #24108
Doesn't matter for now, could be a follow-up for the day it's necessary.

[2019-08-30 07:05] jdm commented on #24073
This indeed works as described in https://github.com/servo/servo/issues/24073#issuecomment-525507237.

[2019-08-30 07:05] #24073 closed

[2019-08-30 07:11] jdm commented on #24052
Another interesting reason why doing things from the Drop implementation of DOM objects is dangerous:

<details>

[code]

</details>

Some JS operations that are invoked when obtaining a global object are unsafe during a GC.

[2019-08-30 07:20] jdm commented on #23960
I suspect the reason this occurs on macOS is that the GL context created for webgl1 is a legacy GL context:
* https://github.com/servo/rust-offscreen-rendering-context/blob/b0220981de61fb2353b5167560d3501571933fe4/src/platform/with_cgl/native_gl_context.rs#L126-L130
* https://stackoverflow.com/questions/36688897/what-to-do-with-gl-invalid-operation-on-glgenvertexarrays

[2019-08-30 08:57] jdm opened #24112 "Lamp demo crashes on magic leap with GL error"
[code]

[2019-08-30 08:57] jdm commented on #23960
Forked the magic leap error to #24112 since it won't be solved by #24111.

[2019-08-30 09:04] jdm commented on #21993
This was probably fixed by #24055.

[2019-08-30 17:04] jdm opened #24114 "Intermittent failure in /html/semantics/embedded-content/media-elements/media_fragment_seek.html"
[code]

[2019-08-30 17:45] jdm opened #24115 "Borrow hazard when calling Tokenizer::end from ServoParser::do_parse_sync"
With zealous GC, we expose a borrow failure when ending tokenizing:
[code]

[2019-08-30 19:56] jdm commented on #24061
I can reproduce this on Windows with https://www.joshmatthews.net/promiserej.html. I can't reproduce it on macOS in a debugmozjs build with GC zeal turned up as high as it will go (level 2 frequency 1).

[2019-08-30 21:03] jdm commented on #24061
Stepping through it, the values go all wonky when we execute this line:
[code]

[2019-08-30 21:05] jdm commented on #24061
Ugh - GetPromiseResult returns a JS::Value by value - I bet this is another manifestation of memory corruption from that.

[2019-08-30 21:09] jdm commented on #24061
Sigh: https://github.com/servo/rust-mozjs/blob/ab48ca77aec7fc656b7d1fd36bc33e7bc1036a17/src/jsglue.cpp#L1030-L1041

[2019-08-30 22:01] jdm opened #24116 "GC hazard during window proxy transplanting"
Running with very zealous GC uncovered this panic:
[code]

[2019-08-30 22:03] jdm opened #24117 "Borrow hazard during Response::finish"
[code]

[2019-08-30 22:05] jdm opened #24118 "Borrow hazard during FormData::create_an_entry"
[code]

[2019-08-30 23:12] asajeffrey commented on #23960
Sigh. Computers.

[2019-08-30 23:26] jdm opened #24119 "Some homu queues are busted"
The homu log is full of errors for the gleam and core-foundation-rs repos in particular, and the queue pages give internal server errors: https://build.servo.org/homu/queue/gleam . This means that we can't even press the synchronize button, and homu doesn't respond in PRs for those repos.

[2019-08-30 23:27] jdm commented on #24119
Restarting homu didn't help.

[2019-08-30 23:28] jdm commented on #24119
Huh, the repos don't even show up in https://build.servo.org/homu/.

[2019-08-30 23:34] jdm commented on #24119
Yikes, this is a regression from https://github.com/servo/saltfs/pull/977/. I feel bad for misreading what was happening in that PR.

[2019-08-31 01:52] #24119 closed

[2019-08-31 06:09] #24061 closed

[2019-08-31 21:26] atouchet commented on #23948
rayon 1.2.0 has been published.

[2019-09-02 02:17] #21274 closed

[2019-09-02 09:15] gterzian commented on #24118
To elaborate, it seems that:

1. When [`FormData.Set_'](https://github.com/servo/servo/blob/461bce12415f8cddade2420c589fc2f669fc65d2/components/script/dom/formdata.rs#L165) is called,
2. `self.data.borrow_mut()` is called,
3. followed by a call to [`File::new`](https://github.com/servo/servo/blob/461bce12415f8cddade2420c589fc2f669fc65d2/components/script/dom/formdata.rs#L196)
4. Which itself calls

[2019-09-02 09:21] gterzian commented on #24117
This can probably be fixed by flattening the below call, so that `self.body_promise` is not borrowed while running `consume_body_with_promise`:

https://github.com/servo/servo/blob/461bce12415f8cddade2420c589fc2f669fc65d2/components/script/dom/response.rs#L418

[2019-09-02 09:22] gterzian commented on #24117
@jdm Ah you fixed all those already...

[2019-09-02 09:35] gterzian commented on #24116
Also noted at https://github.com/servo/servo/issues/23959

[2019-09-03 02:37] kanaka commented on #23905
I used #1291d52f (2019-08-29) to test scrolling. I'm not seeing an obvious increase due to scrolling. I loaded cnn and while it consumed something like 1800 fds and the number wobbled around a bit during scrolling I couldn't make it consistently increase. I load this page as well and it stayed around 482 no matter how much I scrolled the page.

[2019-09-03 03:25] #24011 closed

[2019-09-03 06:40] paulrouget commented on #23787
Properly classifying events as trusted doesn't look difficult. Not sure where to store this property to make it accessible from any DOM call though.

Is it possible to "tag" a js call?

Gecko appears to use a static  ([`sUserInputEventDepth`](https://dxr.mozilla.org/mozilla-central/source/dom/events/EventStateManager.cpp#4125)) to track if a js call runs as the consequence of an user input.

[2019-09-03 07:31] pylbrecht commented on #23431
I think this got accidentally merged. There's still work to do!

[2019-09-03 07:44] CYBAI commented on #23431
Let's reopen it?

[2019-09-03 07:47] pylbrecht commented on #23431
Thanks, I'll open yet another PR. 😄

[2019-09-03 09:57] paulrouget commented on #24020
@angelortiz1007 Yeah I done all of the things you mention. But still no luck.

Did you manage to compile a project named "Servo" within the hololens solution?

Can you look at this branch: https://github.com/paulrouget/servo/tree/ServoProject - the last commit doesn't compile. I have no idea why.

[2019-09-03 12:09] jdm commented on #23787
Making it a property of ScriptThread and adding a static method might makes sense.

[2019-09-03 13:42] SimonSapin commented on #17983
Fixed in #17974

[2019-09-03 13:42] #17983 closed

[2019-09-03 13:55] asajeffrey commented on #23905
That is a lot of fds!

[2019-09-03 14:06] kanaka commented on #23905
@asajeffrey I thought so too. For reference, the about page (servo started with no URL), uses about 218 fds for me (and scrolling doesn't change that it there either).

[2019-09-03 14:56] asajeffrey commented on #21993
I'm seeing this on MacOS on https://www.joshmatthews.net/demos/lamp.html
[code]

[2019-09-03 15:35] jdm commented on #21993
@asajeffrey That's fixed by https://github.com/servo/servo/pull/24111.

[2019-09-03 15:39] gterzian commented on #23905
Ok so what I saw with mach ports going up while scrolling on mac, doesn't reproduce with fds on linux.

I rebased https://github.com/servo/servo/pull/23909 so that it includes the recent fix to leaking windows, it might be worth to try again with that one, see if it takes us further at all.

[2019-09-03 15:41] asajeffrey commented on #21993
Er, is it? This panic is caused by `GetExtensions` erroring, which was addressed by #24055, but https://github.com/servo/servo/blob/4f4e219e54bf43dee47af26b7e6fc0b2c8018159/components/canvas/webgl_thread.rs#L1728 produces error 0x500 for me.

[2019-09-03 15:55] jdm commented on #21993
Oh dear.

[2019-09-03 15:56] jdm commented on #21993
We may need to make the fix from #24055 conditional on whether it's a webgl 1 or webgl 2 context.

[2019-09-03 16:00] asajeffrey commented on #21993
The following fixes the panic, but isn't exactly lovely:
[code]

[2019-09-03 16:01] asajeffrey commented on #21993
It would be nicer to use the GL version to determine which API to use, but who knows if that will work with all drivers?

[2019-09-03 17:11] kanaka commented on #23905
@gterzian Building to test with #23909 now.

[2019-09-03 17:56] kanaka commented on #23905
Things are MUCH improved with this build!

I did a test run for about 2000 loads with no crash/panic. There was a still a slight increase in fds over time, but it's very slow and certainly not happening with every page load. The fds started at about 220 and increased to 263 on the 2000th load. The number of fds wobbles up and down some (perhaps an artifact of how I'm counting them via /proc) but o

[2019-09-03 19:35] gterzian opened #24130 "Worker postMessage crashes when passed an invalid "*" argument"
Steps to reproduce: Take any `worker.js` test, and add a call to `postMessage("test", "*")`.

[code]

I came across this by accident, trying to run a test using the window "origin" argument set to "*" in a worker scope(using a `any.js` test).

[2019-09-03 19:43] gterzian commented on #24130
This is with these changes: https://github.com/servo/servo/pull/23637/files#diff-c3210c2a1bf5e1de39588154cd766100R622

which I might have to reconsider then, I think it's because the code does `options.transfer` while options is a totally different object?

cc @jdm

[2019-09-03 19:57] gterzian commented on #24130
It does seem to do this with anything but a string

So for example `postMessage("test", [])` or `postMessage("test", undefined)` does not crash.

I guess this could be a problem with `dom::bindings::utils::get_dictionary_property;`, that is used by `PostMessageOptions`.

[2019-09-03 22:10] jdm opened #24131 "Intermittent timeout in /html/infrastructure/safe-passing-of-structured-data/structured-cloning-error-stack-optional.sub.window.html"
[code]

[2019-09-03 22:46] angelortiz1007 commented on #24020
Paul, I tried a clone and was not able to get all the files.  Not even a git checkout HEAD.

Can you verify the repository checks out for you?

[2019-09-04 01:36] #21993 closed

[2019-09-04 02:50] highfive commented on #23330
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-04 02:51] jdm commented on #23330
There was a partial solution in #23773, but it exposed some issues which need to be resolved per my latest comment there.

[2019-09-04 07:02] paulrouget commented on #24020
Hmm, there's nothing special here. It works.

In your servo directory:
- git remote add paul git@github.com:paulrouget/servo.git
- git checkout -b ServoProject paul/ServoProject

[2019-09-04 11:59] paulrouget commented on #21132
I'm trying to get the babylonjs webxr demos to work, and I keep running into that issue. Example: https://gist.github.com/paulrouget/dce92c742fa8a43924304314ebd732bb

[2019-09-04 12:05] paulrouget commented on #21132
[code]

[2019-09-04 13:13] gterzian commented on #23905
Ok so:

1. Running the test off of master, including the "window leak fix", produces unsatisfactory results.
2. Running the test off of #23909 without the "window leak fix", produces unsatisfactory results.
3. Running  the test off of #23909 rebased on master, including the "window leak fix", produces satisfactory results.

I'm not sure what to make off it, since 1. fixed a leak of ipc-channels(he

[2019-09-04 14:44] jdm commented on #24130
So the error comes from an exception thrown at [this code](https://github.com/servo/servo/blob/ae6d88f6674ffd957202cd1ed16e5af27343b1f9/components/script/dom/bindings/codegen/CodegenRust.py#L493-L496). This invokes [this function](https://github.com/servo/rust-mozjs/blob/dd338dae9bb68fa0cf23d4da21afc10e0153b27c/src/error.rs#L76). We should be calling throw_type_error instead.

[2019-09-04 15:01] jdm opened #24136 "Intermittent pass in /html/cross-origin-embedder-policy/blob.https.html"
[code]

[2019-09-04 17:14] jdm commented on #22880
The PR in #22918 is almost ready, it just needs to be rebased and have the test results updated.

[2019-09-04 17:15] jdm commented on #21754
The patch in #21754 looked good but needed a few review comments addressed before it could merge.

[2019-09-04 19:21] jdm opened #24138 "Update Windows openssl binaries to a UWP-compatible version"
https://github.com/servo/openssl-windows-build
https://github.com/servo/openssl/tree/servo
https://github.com/servo/openssl-src-rs/tree/servo

These are currently building 1.1.1c. The UWP changes in upstream openssl are more recent than that, and my attempt to update the openssl submodule to an appropriate revision ran into build problems in openssl-sys because the openssl version macros changed :

[2019-09-04 19:27] jdm commented on #24093
[code]

[2019-09-04 19:28] jdm opened #24139 "Support running devtools in UWP"
[code]

[2019-09-04 19:30] jdm commented on #13161
Here is a patch that accomplishes this that really should be cleaned up:

<details>

[code]

</details>

[2019-09-04 19:33] jdm commented on #24082
Patch for Servo based on #24083 which needs cleaning up:
[code]

[2019-09-04 19:37] jdm commented on #24083
Patch that needs some cleaning up:
<details>
[code]
</details>

[2019-09-04 19:39] jdm commented on #24082
And a patch for rust-offscreen-gl-context which is required:
<details>

[code]
</details>

[2019-09-04 19:55] angelortiz1007 commented on #24020
Hmmm....

C:\git-mozilla\servo-angelortiz2>git remote add paul git@github.com:paulrouget/servo.git

C:\git-mozilla\servo-angelortiz2>git checkout -b ServoProject paul/ServoProject
fatal: 'paul/ServoProject' is not a commit and a branch 'ServoProject' cannot be created from it

[2019-09-04 19:58] angelortiz1007 commented on #24020
I think I have to clone your https://github.com/paulrouget/servo/tree/ServoProject then do the git checkout.  In either case, when I did a clone of https://github.com/paulrouget/servo/tree/ServoProject  it didn't download all the files.

C:\git-mozilla\servo-angelortiz2>git remote -v
origin  https://github.com/servo/servo.git (fetch)
origin  https://github.com/servo/servo.git (push)
paul    git@gi

[2019-09-04 19:59] jdm commented on #24020
You need to run `git fetch fetch ServoProject` in the repo with a `paul` remote, or `git fetch origin ServoProject` in the clone of paulrouget/servo.

[2019-09-04 21:16] #24082 closed

[2019-09-04 21:21] jdm opened #24141 "Depth issues fixes for post-atomic XR layer creation"
Patch for Servo based on #24083 which needs cleaning up:
<details>

[code]
</details>

_Originally posted by @jdm in https://github.com/servo/servo/issues/24082#issuecomment-528051723_

[2019-09-04 21:22] jdm commented on #24141
And a patch for rust-offscreen-gl-context which is required:
<details>

[code]
</details>

[2019-09-04 21:51] Manishearth commented on #24083
The servo patches don't apply, there is no StartXRFrame in webgl_thread.rs

Is there a second commit missing here?

[2019-09-04 21:53] jdm commented on #24083
@Manishearth I attempted to remove any references to StartXRFrame hours ago. Are you applying the right patch? StartXRFrame and EndXRFrame did not actually do anything, so they can be ignored.

[2019-09-04 21:54] jdm commented on #24141
I removed the reference to StartXRFrame and EndXRFrame from this patch.

[2019-09-04 21:54] Manishearth commented on #24083
Ah, i was using the patches from the issue.

[2019-09-04 22:14] Manishearth commented on #24083
Applying the above patch gives me a malformed patch issue, on linux

[code]

The `@@` offset numbers are all wrong, was this patch hand edited? I'll hand-edit it back and see what i get

[2019-09-04 22:21] Manishearth commented on #24083
Managed to apply it

[2019-09-04 22:57] jdm commented on #24089
This keeps biting people when they try out three.js examples. We really need to raise the visibility of the problem.

[2019-09-04 22:57] asajeffrey commented on #24083
I'm still concerned about using this approach. There's a lot of state that's kept in sync between webgl and gl, so doing anything where we execute GL commands directly rather than going via WebGL seems like a recipe for getting out of sync.

[2019-09-05 01:05] angelortiz1007 commented on #24020
So, something is not going well for me.  I've done:

git clone https://github.com/paulrouget/servo.git paulrouget
got errors:
[code]
cd paulrouget2

C:\git-mozilla\paulrouget2>git status
On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

        deleted:    .gitattributes
        deleted:    .gitignore
        d

[2019-09-05 02:34] CYBAI commented on #24089
Working on it! Will cherry-pick some commits from #23545 and `warn!` to people.

[2019-09-05 05:43] paulrouget commented on #24020
Your checkout is failing. This is because my version of Servo's repository master branch [has an invalid file](https://github.com/servo/servo/issues/10038). But not in the branch I shared with you. You don't need another clone of servo.

2 options:

In a already successfully checked-out servo directory:

[code]

Or, a new clone (I fixed the file issue):

[code]

To verify you are on the right bran

[2019-09-05 11:57] stephenmuss commented on #22880
I'd be happy to pick this up and try to get it over the line.

[2019-09-05 11:57] stephenmuss commented on #22880
@highfive: assign me

[2019-09-05 11:57] highfive commented on #22880
Hey @stephenmuss! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-05 13:18] paulrouget commented on #24139
What is `codeGeneration` for?

[2019-09-05 13:54] jdm commented on #24139
That's for supporting JITs, but I'll be submitting that separately along with some mozjs/UWP changes.

[2019-09-05 14:01] angelortiz1007 commented on #24020
OK. The 2nd option worked for me after you resolved the files issue.  I'm currently building servo then hololens.  Just to be clear, it is hololens that is failing, correct?

BTW.................
Strange, the first option above didn't work for me with the following error when doing a fetch:
C:\git-mozilla\servo-angelortiz2>git remote add paul git@github.com:paulrouget/servo.git
fatal: remote paul

[2019-09-05 14:15] jdm commented on #24020
git@ remotes don't work without the correct SSH keys present. https://github.com/paulrouget/servo.git as the remote would work instead.

[2019-09-05 14:16] jdm opened #24145 "Intermittent timeout in /html/interaction/focus/the-autofocus-attribute/supported-elements.html and /html/interaction/focus/the-autofocus-attribute/update-the-rendering.html"
[code]

[2019-09-05 15:36] jdm opened #24147 "Make msbuild operation opt-in"
The msbuild can fail sometimes for reasons that are not entirely clear, but may have something to do with stale dependencies in the build cache. Right now it's most useful on CI where this problem has not been observed, so I think it should be an opt-in to avoid making developers' lives more complicated.

[2019-09-05 15:37] highfive commented on #24147
cc @wafflespeanut

[2019-09-05 16:51] ferjm commented on #19771
#24034 improves the situation slightly. However the issue remains:

- Blockified elements do not remain fixed to the viewport with a test like:
[code]

It should look this way:
<img width="1136" alt="Screenshot 2019-09-05 at 18 50 12" src="https://user-images.githubusercontent.com/480202/64362022-0431c180-d00e-11e9-84f5-96456f55c1ee.png">

But it looks like this:
<img width="1136" alt="Screenshot

[2019-09-05 19:50] #24130 closed

[2019-09-05 22:19] angelortiz1007 commented on #24020
Paul, I got my environment setup.  Yep, this is a strange one.  I'm still working through it and believe it has to do with the Servo and ServoT structs.  The servo.g.h file has:

[code]
The first error below is related - I believe - to the additional errors below it.
[code]
The {ctor} error points to line ```        using class_type = Servo::Servo;```

I got to look at it more.  See what you uncov

[2019-09-06 03:49] jdm opened #24151 "Intermittent timeout in /html/semantics/forms/autofocus/skip-document-with-fragment.html"
[code]

[2019-09-06 03:50] jdm opened #24152 "Make tidy report when a rand exception is no longer needed"
This will avoid the need for PRs like https://github.com/servo/servo/pull/24150 when we notice that a crate no longer depends on the rand crate.

[2019-09-06 05:11] #22880 closed

[2019-09-06 07:18] fadedreamz commented on #20436
@jdm I would like to try it out to get familiar with both rust and servo. Is it something that requires extensive knowledge of the servo? If not please assign it to me.

[2019-09-06 08:32] rasviitanen commented on #6963
I am looking for a new task, and I thought this one was interessting. I have a few questions before I am comfortable claiming this issue.

As I understand it, IndexedDB should be implemented using a WAL to favor performance. This decision was taken in Gecko, and is seen in Chrome/IE. [See change here.](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/40#IndexedDB) Despite the new

[2019-09-06 08:37] stephenmuss commented on #23330
I'd be happy to have a crack.

@highfive: assign me

[2019-09-06 08:37] highfive commented on #23330
Hey @stephenmuss! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-06 09:27] #24108 closed

[2019-09-06 11:36] #22358 closed

[2019-09-06 12:52] jdm commented on #6963
Seems like it's worth a shot!

[2019-09-06 12:53] jdm commented on #20436
@fadedreamz This issue should be pretty self-contained, so it does sound like a reasonable introduction to Servo to me.

[2019-09-06 13:17] rasviitanen commented on #6963
@highfive: assign me

[2019-09-06 13:17] highfive commented on #6963
Hey @rasviitanen! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-06 13:22] asutherland commented on #6963
Just to provide some context on SQLite and other storage choices as they're being used in Gecko/Firefox:

Re: SQLite
- SQLite 4 was an experiment and the fancy bits (WITHOUT ROWID in particular, which allows for tables to be effectively maintain the lexical row ordering directly without indirecting through primary keys) are now in SQLite 3.
- Firefox is overhauling how we implement storage as it r

[2019-09-06 14:21] #24089 closed

[2019-09-06 15:29] fadedreamz commented on #20436
@jdm Thanks, I would like to take a shot at it, can you please mark it assigned?

[2019-09-06 16:18] atouchet commented on #23948
I think it should be possible to dedupe nix to 0.14 without needing winit and glutin updates.

[2019-09-06 16:38] Eijebong commented on #23948
Indeed, thanks https://github.com/servo/servo/pull/24155

[2019-09-06 18:33] fadedreamz commented on #20436
@jdm when I ran the ./mach test-wpt --no-pause-after-test tests/wpt/xhr/setrequestheader-content-type.htm command I get the following error:
 0:01.12 INFO Using 12 client processes
 0:01.12 ERROR Unable to find any tests at the path(s):
 0:01.12 ERROR   tests/wpt/xhr/setrequestheader-content-type.htm
 0:01.12 ERROR Please check spelling and make sure there are tests in the specified path(s).
 0:01

[2019-09-06 18:52] jdm opened #24156 "WACK error for square 44x44 logo asset"
There is one remaining asset error reported by the Windows App Certification Kit:
[code]

cc @paulrouget

[2019-09-06 19:01] jdm commented on #20436
It's `tests/wpt/web-platform-tests/xhr/setrequestheader-content-type.htm`.

[2019-09-06 19:01] jdm commented on #20436
Sorry, I have corrected the incorrect path in the earlier comment.

[2019-09-07 06:25] CYBAI opened #24157 "Stop using extended attributes for constructors"
heycam/webidl#700

[2019-09-07 18:47] hiradyazdan commented on #21792
I am on MacOS 10.14.6 with XCode 10.3. Every time I start installing the .dmg file it crashes my laptop. Any ideas?

[2019-09-07 20:15] jdm commented on #21792
I have not heard of that issue before :/

[2019-09-08 07:59] gterzian opened #24159 "Formalise use of Agent-cluster"
[This comment](https://github.com/whatwg/html/issues/4198#issuecomment-442082606) provides  a very good overview of the "agent/agent-cluster" model emerging in the HTML standard, and how it relates to "browsing context groups" and so on.

This sums it up nicely:

A user agent:

- Holds a set of browsing context groups.
- Holds a shared worker map of origin to agent clusters.
- Holds a service work

[2019-09-08 17:18] gterzian commented on #21206
This was addressed in https://github.com/servo/servo/pull/23507

[2019-09-08 17:18] gterzian commented on #21206
This was addressed in #23507

[2019-09-08 17:18] #21206 closed

[2019-09-09 01:58] CYBAI opened #24161 "Intermittent TIMEOUT in /html/semantics/forms/autofocus/skip-another-top-level-browsing-context.html"
[code]

[2019-09-09 12:24] XVilka opened #24162 "Make a console renderer frontend"
To become a modern alternative to [Elinks](http://elinks.or.cz/):
![image](https://user-images.githubusercontent.com/203261/64530438-b388d400-d33f-11e9-9977-abc75c74e093.png)

[2019-09-09 14:47] ferjm opened #24163 "Video controls are not resized in fullscreen mode"
![Screenshot 2019-09-09 at 16 42 42](https://user-images.githubusercontent.com/480202/64540748-f0919e00-d320-11e9-8b50-7d2f0f4eecea.png)

[2019-09-09 14:52] ferjm opened #24164 "Add a fullscreen button to the video controls"
We need to add a new button to the media controls to make the video enter and exit fullscreen mode. The button should only be visible for video elements.

Relevant code:

- https://dxr.mozilla.org/servo/source/resources/media-controls.js
- https://dxr.mozilla.org/servo/source/resources/media-controls.css

Fullscreen API: https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

[2019-09-09 14:52] highfive commented on #24164
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-09 15:10] ferjm commented on #24163
[This](https://dxr.mozilla.org/servo/source/resources/media-controls.js#243) is likely the reason.

[2019-09-09 15:27] elaye commented on #24164
@highfive: assign me

[2019-09-09 15:27] highfive commented on #24164
Hey @elaye! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-09 18:21] angelortiz1007 commented on #23813
Got some questions.

In C you specify a function pointer as (example):
int (*myptrfunc)(int I);

In CInitOptions in rust I specified: pub f: dyn Fn(i32) -> i32,  See below.  I have don't have "f" implemented yet, and I know the funciton signature needs to take a string.  This just a proof of concept.

[code]

However, this does not allow a clean build.  I get:
    Blocking waiting for file lock on

[2019-09-09 18:24] jdm commented on #23813
You want to use the `fn(...)` style of function pointers, rather than the function traits like Fn, FnMut, FnOnce, etc, which are used for representing closures.

[2019-09-09 20:05] angelortiz1007 commented on #23813
OK.  Thx!!!
So as example, in HoloLens I have a function:

[code]
[code]

In Servo.cpp I have:

[code]

In VSLogger.cpp I guess we need to modify:

But, how to?  Do we replace the OutputDebugStringA() function call with the CinitOptions function pointer or add another condition (we'll need a check to verify  **pub f: dyn Fn(i32) -> i32,** in CInitOptions (rust side) is not null).
[code]

[2019-09-09 20:21] jdm commented on #23813
We'll need to store the function pointer along with the VSLogger logging filters, and then we should be able to call it from log().

[2019-09-09 21:49] angelortiz1007 commented on #23813
OK, so in VSLogger I suspect I need something like the following that is in global space (that's not compiling right now).

[code]
Then, in lib.rs in init() function we check for the validity the pointer to the function not being null and assign opts.funcptr to LOG_PTR_FUNC.

[code]

A

[2019-09-09 21:55] jdm commented on #23813
You will want to use an [Option](https://doc.servo.org/std/option/index.html) type for LOG_PTR_FUNC, but that's the right idea.

[2019-09-10 00:41] asajeffrey opened #24166 "Concurrent requests for the same resource can result in cache misses"
If two `GET` requests are processed in quick succession, then the second one can end up being a cache miss, since the code to check whether the cache has been hit uses a read lock at https://github.com/servo/servo/blob/6ed204d692182e58b7b44b5a02cac4e758d70a14/components/net/http_loader.rs#L1011 whereas the code to insert into the cache uses a write lock at https://github.com/servo/servo/blob/6ed20

[2019-09-10 00:42] asajeffrey commented on #24166
IRC discussion here https://mozilla.logbot.info/servo/20190909#c16601392

[2019-09-10 00:43] asajeffrey commented on #24166
This came up in the context of https://github.com/servo/servo/pull/24148 which makes concurrent GETs more likely.

[2019-09-10 00:56] asajeffrey commented on #24166
The matching spec issue: https://github.com/whatwg/fetch/issues/932

[2019-09-10 01:16] asajeffrey opened #24167 "Hardening more of Servo against panic?"
At the moment, most of Servo will panic under error conditions, some which (e.g. GL errors) are in crates that are out of our control.

This is appropriate behaviour for use-cases where we'd like to see the bug reports, but not necessarily what end-users want. Should we provide some hardening for use-cases where it's more appropriate to log the error and try to recover? Perhaps behind a pref or fe

[2019-09-10 01:22] asajeffrey commented on #24167
And before @nox jumps in to say it, the Erlang philosophy of let-the-processes-crash-and-have-a-small-trusted-service-to-restart-them runs into problems in the case of services like our script threads, which have libraries like SpiderMonkey that have lots of in-memory unserializable state. :(

[2019-09-10 04:58] CYBAI opened #24168 "Crash after checking google reCAPTCHA"
While accessing https://codepen.io/davidkpiano/pen/aNKxeo , I was asked to confirm I'm not a robot.

But, after clicking the recaptcha checkbox, it just hanged for a while and then crash into unexpected scheme.

![image](https://user-images.githubusercontent.com/6782666/64585126-6d308500-d3d2-11e9-8702-38e08c542c00.png)

[code]

Built with 6ed204d692 on macOS 10.14.6

[2019-09-10 05:08] CYBAI opened #24169 "The husky dog cannot be styled correctly"
Due to not able to access [the codepen](https://codepen.io/davidkpiano/pen/aNKxeo), I tried to copy all the scripts to a local file.

In Servo, we don't have a complete husky 🙀

<details>

<summary>Run this locally</summary>

[code]

</details>

| Firefox | Servo |
| ------- | ------ |
| ![image](https://user-images.githubusercontent.com/6782666/64585315-3eff7500-d3d3-11e9-910d-e13238bc32da.png) |

[2019-09-10 05:33] gterzian opened #24170 "Determine correct use of DiscardBrowsingContext enum"
When a script-thread exits a pipeline, there is a "discard browsing context step" taking place if the enum is `Yes`, at https://github.com/servo/servo/blob/6ed204d692182e58b7b44b5a02cac4e758d70a14/components/script/script_thread.rs#L2828

That step sets a `discarded` boolean on the window proxy to `true`.

https://github.com/servo/servo/blob/6ed204d692182e58b7b44b5a02cac4e758d70a14/components/scri

[2019-09-10 07:24] paulrouget commented on #5411
https://github.com/BabylonJS/Babylon.js/tree/master/gui needs this.

[2019-09-10 07:40] paulrouget opened #24171 "raqote backend: implement gradient"
https://github.com/servo/servo/blob/6ed204d692182e58b7b44b5a02cac4e758d70a14/components/canvas/raqote_backend.rs#L576

[2019-09-10 08:13] ferjm opened #24172 "Media Session API"
Spec: https://w3c.github.io/mediasession/

This will allow the implementation of external media controls on mobile and mixed reality platforms.

[2019-09-10 08:36] paulrouget commented on #24156
Unplated icons are optional: https://docs.microsoft.com/en-us/windows/uwp/design/style/app-icons-and-logos#unplated-assets

I'll remove them.

[2019-09-10 08:39] paulrouget opened #24173 "Run WACK and make sure no regression occurs"
It's probably possible to run the WACK validation from the command line. The same way we build the UWP app, we should also run the WACK, to avoid regressions like [this](https://github.com/servo/servo/issues/24156).

[2019-09-10 09:02] paulrouget commented on #24173
See "Validate your Windows desktop app by using the Windows App Certification Kit 3.3 from a command line" : https://docs.microsoft.com/en-us/windows/win32/win_cert/using-the-windows-app-certification-kit

[2019-09-10 09:49] paulrouget commented on #24156
Never mind. Without the unplated, on Desktop, the icon has a double padding. I'll keep them and fix the logo.

[2019-09-10 10:35] nox commented on #24167
I don't understand what that means @asajeffrey. Killing and restarting gets rid of in-memory state, that's the point. We should make sure to not panic in places where SM wouldn't be able to recover, but making script threads panic shouldn't bring down Servo.

The point of Erlang is that leaves crashing don't bring down your core, it's not so much about restarting in a way that perfectly restores t

[2019-09-10 10:43] elaye commented on #24164
Hi @ferjm, I'm looking at this issue and I'm trying to play a video in Servo to see what the controls look like at the moment. I test with a simple html file and mp4 video with the following code:

[code]
The video displays correctly and starts to play (it stops after a few frames but I assume it's another issue), however I can't see the controls.
I saw this [comment](https://github.com/servo/serv

[2019-09-10 12:54] larsbergstrom commented on #24167
One other wrinkle that we've had around panic is the delayed-panic due to channel-based communication. That is, if the receive end of a channel is in a thread that panics but we do not tear down, the thread with a send end will panic at the moment that they attempt to send a message. IPC channels may have been hardened against this, but my memory is fuzzy.

I feel like there are several issues her

[2019-09-10 13:47] ferjm commented on #24164
@elaye thanks for your interest in working on this issue.

I'm sorry I forgot to add this to the description. There is no need to set any preference anymore but the media controls are only rendered for block elements at the moment #24015. So adding `"style = display: block"` to your `<video>` element should make the controls appear.

Ugh... that shouldn't happen. Could you file another issue for t

[2019-09-10 14:06] angelortiz1007 commented on #23813
Got it.  So, here is what I have now in vslogger.rs:

[code]

in capi\libs.rs:
[code]

[code]

Not sure how to unwrap LOG_PTR_FUNC to have it point to opts.ptrfunc correctly.

[2019-09-10 14:09] angelortiz1007 commented on #23813
Forgot to add...

opts.ptrfunc is defined in CinitOptions as:

[code]
I'm thinking I may need Option<> here too.  Am I correct?

[2019-09-10 14:24] gterzian commented on #24167
An `IpcSender` returns a `Result`, and I think you get the `Error` if the receiver is disconnected, although it's not documented: https://doc.servo.org/ipc_channel/ipc/struct.IpcSender.html

In the constellation we take care never to `unwrap` or `expect` on those sends, I think, yet I don't think do we do anything to restart a script-process if it has apparently crashed.

It might be easier to har

[2019-09-10 14:32] gterzian commented on #24166
That's interesting.

it might be the point that our simple "lock around a hashmap" approach to the cache shows its limitations.

We could handle this quite easily if the cache was message-passing based, where the cache ran in a worker thread, and each fetch thread would send a message to ask for a cached entry, and block on the reply. The cache could then simply let the fetch block if it knows the

[2019-09-10 14:48] larsbergstrom commented on #24167
It would be good to write up how we handle the tab-crashed scenario w/o tearing down the whole browser. Based on every other system where I've had teams handle this scenario (e.g., addons in visual studio; user code execution in an interpreter; etc.), I'm a bit nervous if we don't have an architectural boundary for this and are relying on developer heroics to handle an edge case on every channel t

[2019-09-10 14:55] jdm commented on #23813
Yes, otherwise there is no way to represent a NULL value correctly.

[2019-09-10 15:43] jdm commented on #24166
I don't think a message-passing-based approach would solve this issue - the spec describes two separate operations (check the cache & store the response) which happen at different times, so unless we add a marker entry to the cache which means "something else has requested this URL and there is no response yet" we're going to always run into this problem.

[2019-09-10 16:02] gterzian commented on #24166
I agree. What I mean is that it would be easier to add such a marker, as it would any other "state" in addition to the cached entries, if the cache where to run in it's own thread and handle messages, versus adding more shared-state to the current structure.

[2019-09-10 16:51] gterzian commented on #24166
Ok so the alternative, as mentioned in the IRC, is to simply have an additional map of `HashMap<CacheKey, Arc<(Condvar, Mutex<boo>>`.

But there is a big if, in the current structure, since in order to call any method on the cache, you need to lock it, then you can't really start blocking on a condvar while holding this lock, since it would block all other fetches trying to use the cache for compl

[2019-09-10 16:59] gterzian commented on #24166
Ok so I think one idea from https://github.com/servo/servo/pull/23553/files could be useful, which is to have fetches operate on entries, versus the cache as a whole.

Because a problem with the current structure is that we're operation on a `RwLock<HttpCache>`, which means it's going to be pretty hard to hide any sort of condvar based logic inside of it, since you'd need to acquire the outer lock

[2019-09-10 17:35] asajeffrey opened #24175 "Hyper and rust-url disagree about how to parse URLs"
In the `http_lpoader` we convert URLs from `rust-url` to `hyper`, for example when constructing a `Referer` at https://github.com/servo/servo/blob/6ed204d692182e58b7b44b5a02cac4e758d70a14/components/net/http_loader.rs#L886

The problem is that this may fail, because `rust-url` and `hyper` have different parsers, for example `rust-url` accepts `http://"empty_script.js/?id=5\\%22` but `hyper` doesn'

[2019-09-10 17:55] asajeffrey commented on #24167
@nox: the problem is that (at least at the moment) if a script thread panics, it tears down the thread, and there's nothing we can do to have SM recover from that. We either need to not panic in the first place, or have a panic handler that tries to keep the script thread alive.

[2019-09-10 17:57] asajeffrey commented on #24167
@larsbergstrom  what I'd dearly love is to have some static analysis that ensures panic-freedom, but we're probably quite a way out from that, at least partly due to third-party code.

The constellation and compositor are meant to be hardened, so in the worst case we should be able to show a crash report page. Not that this will make end-users super-happy.

[2019-09-11 00:27] angelortiz1007 commented on #23813
OK, I thought this compiled for me because I was debugging and the call to ptrfunc() was not being propagated to the C/C++ HoloLens code.  I need a 2nd pair of eyes...

Code in question starts within brace of  ```LOG_PTR_FUNC.lock().unwrap().is_some()```

[code]

[2019-09-11 01:04] jdm commented on #23813
I don't see anything wrong with that code if it builds.

[2019-09-11 01:18] angelortiz1007 commented on #23813
I don't either.  Its annoying...

Here is what ptrfunc is defined to be in CInitOptions
```  pub ptrfunc: Option<fn(*const c_char) -> bool>, ```

Here is the error message:
[code]

[2019-09-11 01:26] jdm commented on #23813
Oh, the fact that it does not build makes much more sense. You need to add another unwrap() to get inside the Option value.

[2019-09-11 01:48] angelortiz1007 commented on #23813
RUST...……….…………………!!!!
Updated code and error. :(

[code]
[code]

[2019-09-11 04:07] jdm commented on #23813
There is no ptrfunc in the values stored in the lazy static - it simply is a function pointer. You will want to invoke the function directly like in https://doc.rust-lang.org/book/ch19-05-advanced-functions-and-closures.html#function-pointers. The easiest way to understand what you're doing might be to store the result of the double unwrap operation in a long cal variable, and then invoke that var

[2019-09-11 04:49] edrex commented on #23799
seems like the dpi issues mentioned at https://github.com/servo/servo/issues/9558#issuecomment-439814081, maybe. HiDPI display?

[2019-09-11 06:03] gterzian commented on #24167
So currently we don't actually do it, and out of the top of my head, I can imagine the following workflow:

1. We need a way to catch all panics happening in a content/script process.

We have something like that at the embedder level, but it's not going to work in multiprocess mode, since it's only setup at the "main process(and main thread in that process)". See https://github.com/servo/servo/bl

[2019-09-11 06:25] gterzian commented on #24166
I will take a look at using entries, and a condvar.

[2019-09-11 11:59] elaye commented on #24164
Thank you for the additional information @ferjm. It does work with the `display: block`. I've made a pull request that adds a fullscreen button to the video controls. However I haven't added the ability to exit the fullscreen by clicking on the button again as I'm not sure what's the best way to do it.

Is there a propriety that I can read on the `media` that tells me if the video is fullscreen or

[2019-09-11 12:21] elaye opened #24180 "GStreamer error: can't play video"
I'm testing a very simple HTML file with just a video like this:

[code]

The video doesn't display and I have the following error in the terminal:

[code]

The video plays fine in Quicktime Player, mpv and gst-play. I can play it in other browsers too.

My version of GStreamer is 1.16.0 and I'm running servo on MacOS 10.14.6 (Mojave).

[2019-09-11 13:29] ceyusa commented on #24180
I always tested the video using a local http server (python's simple http). I don't know how the local resource works in this case, if it's fast enough to feed the player.

[2019-09-11 13:34] paulrouget opened #24181 "Can't find openxr_loader.dll"
Getting this error:

[code]

This is the part that fails: https://github.com/Ralith/openxrs/blob/71cea14e8b17eba366c579f28b11d8f135f2a398/openxr/src/entry.rs#L64

Regression started with #24140

For now, only tested on the emulator.

/cc @Manishearth

[2019-09-11 13:36] jdm commented on #24181
I cannot reproduce this in my local environment. I successfully entered immersive mode after installing the OpenXR package from the Windows Store in a debug build in the emulator.

[2019-09-11 13:39] paulrouget commented on #24181
@jdm can I ask you to clobber first?

[2019-09-11 13:43] Manishearth commented on #24181
I've been able to run xr content after a full clobber on the device.

[2019-09-11 13:51] angelortiz1007 commented on #23813
Hoorah!!!!!!!!!!
Well, after some time of frustration, going to sleep, and then waking to use Jedi powers I figured it out.
The 2nd unwrap() is really the function so all you need to do is call it with parameter.

see below:
[code]

[2019-09-11 14:11] ferjm commented on #24164
You can use the [document.exitFullscreen()](https://fullscreen.spec.whatwg.org/#dom-document-exitfullscreen) method.

There is no property specific for the media element, but you can check the [document.fullscreenEnabled](https://fullscreen.spec.whatwg.org/#dom-document-fullscreenenabled) and [document.fullscreenElement](https://fullscreen.spec.whatwg.org/#dom-document-fullscreenelement) propertie

[2019-09-11 14:17] ferjm commented on #24180
@elaye thanks for the issue report. Could you share the mp4 you are testing with, please?

[2019-09-11 14:18] ferjm commented on #24180
This may be a dup or be related to #23241

[2019-09-11 14:46] elaye commented on #24180
@ceyusa good call ! I tried with a local http server and it works fine so my use of a local resource seems to be the issue.

[2019-09-11 14:55] ferjm commented on #24180
Ideally, we should make a/v playback from local resources work as reliably as possible as well :). So I would still like to investigate the reason of this error you are experiencing.

[2019-09-11 14:58] elaye commented on #24164
Ok I've added the exit capability. I've noticed an odd behaviour with it though. When I enter fullscreen mode the window is maximized (at least on macOS) and the video is maximized inside the window. However when I exit the fullscreen mode the video recovers it's original size within the window but the window stays maximized.

[2019-09-11 15:15] angelortiz1007 commented on #23813
While testing, if the C/C++ application does not initialize the CInitOptions, the vslogger in RUST crashes because is_some() returns true.  To mitigate this, I implemented the following default trait.  However, it is not initializing properly I think because in the **Init() function I do a ptrfunc.is_some()** and it returns true.

[code]

[2019-09-11 16:21] #24156 closed

[2019-09-11 16:30] Manishearth opened #24186 "Support inline sessions in WebXR"
We currently only support immersive sessions.

This may be easier to do once https://github.com/servo/webxr/issues/30 is solved.

Diorama sessions are currently not supported by the spec, so this may not be that hard to support.

This also includes support for https://immersive-web.github.io/webxr/#dom-xrrenderstate-inlineverticalfieldofview

[2019-09-11 16:31] Manishearth opened #24187 "Support all XRWebGLLayerInit parameters (alpha, depth, stencil, etc)"
[XRWebGLLayerInit has a bunch of parameters](https://immersive-web.github.io/webxr/#dictdef-xrwebgllayerinit) which we don't yet support.

cc @asajeffrey

[2019-09-11 16:33] Manishearth opened #24188 "Support framebuffer scaling in WebXR"
We should support both of

https://immersive-web.github.io/webxr/#dom-xrwebgllayer-getnativeframebufferscalefactor

https://immersive-web.github.io/webxr/#dom-xrwebgllayerinit-framebufferscalefactor

[2019-09-11 16:34] Manishearth opened #24189 "Support ondevicechange in WebXR"
https://immersive-web.github.io/webxr/#dom-xr-ondevicechange

This may be easier to support once https://github.com/servo/webxr/issues/30 happens

See also: https://github.com/servo/servo/issues/22190

[2019-09-11 16:37] Manishearth opened #24190 "Support onvisibilitychange and visibilityState in webxr"
https://immersive-web.github.io/webxr/#ref-for-eventdef-xrsession-visibilitychange

https://immersive-web.github.io/webxr/#dom-xrsession-visibilitystate

This basically needs us to hook up the [`VisibilityChange` event](https://doc.servo.org/webxr_api/enum.Event.html).

Currently no backend produces this event type so we'd need to fix that too.

[2019-09-11 16:40] Manishearth opened #24191 "Support changing input sources in WebXR"
https://immersive-web.github.io/webxr/#list-of-active-xr-input-sources

https://immersive-web.github.io/webxr/#eventdef-xrsession-inputsourceschange

We'd need to consume the `AddInput` and `RemoveInput` [events](https://doc.servo.org/webxr_api/enum.Event.html). I don't think any backend currently produces these.

[2019-09-11 16:41] Manishearth opened #24192 "Support selection events in WebXR"
https://immersive-web.github.io/webxr/#dom-xrsession-onselectstart
https://immersive-web.github.io/webxr/#dom-xrsession-onselect
https://immersive-web.github.io/webxr/#dom-xrsession-onselectend

[Events](https://doc.servo.org/webxr_api/enum.Event.html) need some way of signaling selection.

[2019-09-11 16:44] Manishearth opened #24193 "Support reset events on frames"
https://immersive-web.github.io/webxr/#dom-xrreferencespace-onreset

This one is tricky; this happens when the origin changes drastically, usually when the user recalibrates the space.

We'd likely need to store a weak list of all XRReferenceSpaces that have been created so that we can fire such events.

[2019-09-11 16:46] Manishearth opened #24194 "Support bounded reference spaces in WebXR"
https://immersive-web.github.io/webxr/#dom-xrreferencespacetype-bounded-floor

This requires us to be able to fetch bounds geometry from the device.

[2019-09-11 16:47] Manishearth opened #24195 "Support unbounded reference spaces in WebXR"
https://immersive-web.github.io/webxr/#dom-xrreferencespacetype-unbounded

I'm not sure if we support any device where this needs to be handled differently from `local`, if supported at all. It's possible that for now we can get away with doing the same things as `local` here.

Most devices likely don't support this.

[2019-09-11 16:48] Manishearth opened #24196 "Support input profiles in WebXR"
https://immersive-web.github.io/webxr/#dom-xrinputsource-profiles

Work on profiles is still ongoing at https://github.com/immersive-web/webxr-input-profiles , but once that's settled we should have our input sources report the correct profile strings.

[2019-09-11 16:51] asajeffrey commented on #24187
Aren't `depth` and `stencil` already covered by https://github.com/servo/servo/blob/93426a035c9e06a362476a17e8ec7137e7856e87/components/script/dom/xrwebgllayer.rs#L137-L164?

[2019-09-11 17:00] Manishearth commented on #24187
ah, fair, updated

[2019-09-11 20:41] jdm opened #24199 "Update ANGLE for UWP build to more recent version"
The nuget package is unmaintained. We'll want to switch over to https://github.com/microsoft/vcpkg/tree/master/ports/angle instead, and possibly continue to generate our own NuGet package to minimize the work involved.

[2019-09-11 22:19] #3847 closed

[2019-09-12 03:03] jdm commented on #24138
It might be possible to cherry-pick https://github.com/openssl/openssl/commit/5ded1ca6dade13e093086573f4cebe400bff9f4d#diff-aece844acc4c0ede5b40df7b40ccb005 and ensure that the binaries are built with the appropriate C define and /APPCONTAINER flags.

[2019-09-12 03:04] jdm commented on #24138
1.1.1d was released but the changes from https://github.com/winkelsdorf/openssl/pull/224 were not backported to it.

[2019-09-12 06:54] ferjm commented on #24164
That seems to happen for any fullscreen element. I'll file a separated issue for this. Thanks

[2019-09-12 07:03] ferjm opened #24200 "Browser window stays maximized after exiting fullscreen mode"
STR:
- Browse to https://www.davidwalsh.name/demo/fullscreen.php
- Clicking on the _Launch Fullscreen_ button maximizes the browser and changes the background color to pink.

Expected:
- Clicking on the _Hide Fullscreen_ button minimizes the browser and changes the background color back to white.

Current behaviour:
- Clicking on the _Hide Fullscreen_ button changes the background color back to wh

[2019-09-12 07:04] ferjm commented on #24164
#24200

[2019-09-13 03:24] CYBAI opened #24205 "Intermittent TIMEOUT in /html/cross-origin-opener-policy/coop-navigated-popup.https.html"
[code]

[2019-09-13 08:27] paulrouget opened #24206 "regression: offscreen gl context panic"
While running: https://www.joshmatthews.net/webgl-to-webxr/webxr-ar.html

[code]

[2019-09-13 08:50] paulrouget commented on #24206
My fault.

[2019-09-13 09:06] paulrouget commented on #24206
I suspect 1cefae7181

[2019-09-13 10:41] gterzian opened #24207 "Impl speculative fetch"
In the light of https://github.com/servo/servo/pull/24148

This will be soon relevant: https://github.com/whatwg/html/pull/4115

cc @asajeffrey

[2019-09-13 11:28] rasviitanen opened #24208 "Implement DOMStringList"
I think we should implement `DOMStringList`.
Spec: https://html.spec.whatwg.org/multipage/common-dom-interfaces.html#domstringlist
Blocks: #6963

The following warning is listed in the spec. Someone else might have more information on this.

Notes on block:
DOMStringList is needed in order to implement `IndexedDB` according to the specification (both the new 3.0 draft and the W3C recommendation do

[2019-09-13 13:26] jdm commented on #24208
If the spec calls for it for your work, I agree.

[2019-09-13 14:24] rasviitanen commented on #24208
@highfive: assign me

[2019-09-13 14:24] highfive commented on #24208
Hey @rasviitanen! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-13 14:38] jdm commented on #24206
Is this on Windows? In the HL2 emulator? On device?

[2019-09-13 14:41] jdm opened #24210 "Add a debug message showing if GL acceleration if used for media playback"
When investigating media playback issues, it can be tricky to remember all the variables that can affect if GL acceleration is in use or not. We should have a message that is always displayed that shows if GL is in use for playback or not.

[2019-09-13 14:42] jdm commented on #24210
Bonus points if there's some way of differentiating between possible reasons why it's not in use, like "GL media playback preference not enabled" or "media stack reports platform does not support GL playback".

[2019-09-13 14:43] jdm commented on #24206
Apparently check_framebuffer_status is causing a GL error to appear: https://github.com/servo/rust-offscreen-rendering-context/blob/317efd913e52228176155280b7d5a29d5591d1f0/src/draw_buffer.rs#L123-L126

[2019-09-13 15:02] jdm commented on #24206
I'll see if I can reproduce this today.

[2019-09-13 18:53] jdm commented on #24206
More specifically, it's coming from https://github.com/servo/rust-offscreen-rendering-context/blob/317efd913e52228176155280b7d5a29d5591d1f0/src/draw_buffer.rs#L247-L250 and I'm not yet sure why.

[2019-09-14 00:05] #24206 closed

[2019-09-14 03:50] fadedreamz commented on #20436
@jdm can you provide some suggestion on where the headers are being adjusted, I looked into process_headers_available, SetRequestHeader and process_partial_response. I am having hard time to pinpoint where the headers are being adjusted. For example, a failing test case
[code]
I am trying to pinpoint where the adjustment of ASCII to UTF-8 is happening. TIA

[2019-09-14 04:33] jdm commented on #20436
My first suspicion is uses of final_charset and final_mime_type in that file. Alternatively, I can't easily check the test on my phone right now, but is the test currently failing because we are not adjusting the charset when we should be?

[2019-09-14 15:45] atouchet commented on #24152
It would probably make sense to include num as well, although I haven't seen any crates using it in Servo for a long time.

[2019-09-15 04:25] fadedreamz commented on #20436
My suspicion is that when adjusting the charset it is introducing a space, which is leading to three failed test case. I will check the mentioned function and update the ticket.

[2019-09-15 05:14] fadedreamz commented on #20436
The test case is failing because adjusting it leaves the value to
[code]
So, an extra space and lower case utf-8 than the expected value. (seems like same root cause for 3 failing test cases).

[2019-09-16 05:20] jdm opened #24218 "PerformanceNavigationTiming entry throws away all of the recorded resource timing information"
In [this code](https://github.com/servo/servo/blob/5d4dac8cf2257ad9d5ac6509a1ac484d647695f0/components/script/dom/servoparser/mod.rs#L880-L887) that creates a PerformanceNavigationTiming instance, `self.resource_timing` isn't used. We just call PerformanceResourceTiming::new_inherited in [this code](https://github.com/servo/servo/blob/5d4dac8cf2257ad9d5ac6509a1ac484d647695f0/components/script/dom/

[2019-09-16 05:46] gterzian opened #24219 "HTTP caching: fix TODOs and take another look at code"
As part of https://github.com/servo/servo/pull/24203 I realized once again there are:

1. quite a lot of TODOs,
2. quite a lot of missing pieces not marked as TODOs and maybe even bugs that haven't been noticed yet(the spec might have changed here and there as well),

in the "core" caching logic, which mostly consists of checking headers and cache directives and making decisions based on those.

I

[2019-09-16 08:07] paulrouget commented on #24181
No problem with the device.

[2019-09-16 08:18] Manishearth commented on #24181
We now use the nuget package too.

[2019-09-16 10:09] gterzian commented on #23807
Good read https://padenot.github.io/web-audio-perf/

[2019-09-16 10:27] paulrouget commented on #24181
I was wrong. I tested the 2D view only.

[2019-09-16 10:38] paulrouget commented on #24181
Reverting the nuget commit brings me further (then crash here: https://github.com/servo/webxr/issues/54).

There is something that I must be missing.

Any idea would help.

[2019-09-16 11:39] paulrouget commented on #24181
Inspecting the appx package, I see that the openxr_loader.dll is not present. While the dll of the other nuget packages are.

My bet is that the nuget package just doesn't include the DLLs. They are present in the nuget package, but they are not included in the final package.

I'm just very confused why it works for both of you.

Can you `rm -rf support/hololens` and `git checkout support/hololens

[2019-09-16 12:09] paulrouget commented on #24181
Yeah, I'm pretty sure this is what's going on:

in support/hololens/packages/OpenXR.Loader.1.0.2/build/native/OpenXR.Loader.targets, if I change:

[code]

with:

[code]

It works.

[2019-09-16 12:47] ceyusa opened #24221 "Improve the wiki multiprocess documentation"
Right now the only reference to the multiprocess design is in https://github.com/servo/servo/wiki/Design#multi-process-architecture

It would be great if there are more design notes, or just maybe a diagram specifying the processes and their relations. Maybe aiming to code where currently it is done.

[2019-09-16 16:19] asajeffrey commented on #24221
Yeah, the docs for the process architecture keep drifting away from the impl. I wonder what we can do about this, the only way I can think of keeping them in sync is to move to having the docs in the source, but that's not ideal either.

[2019-09-16 16:30] jdm commented on #24181
Could you raise this with our friends in the Teams channel?

[2019-09-16 19:24] jdm commented on #24181
I can now reproduce this issue in a cleaner build than before.

[2019-09-16 19:30] #23960 closed

[2019-09-16 19:30] #12644 closed

[2019-09-16 20:09] asajeffrey opened #24225 "Release vs profiling vs debug builds of gstreamer for magicleap"
At the moment we're just using the default`debugoptimized` build of gstreamer for all magicleap builds. Should we use `release` by default, and reserve `debugoptimized` for profiling, and use `debug` for debug builds?

[2019-09-16 20:10] asajeffrey commented on #24225
IRC chat with @xclaesse: https://mozilla.logbot.info/servo-magicleap/20190916#c16619838

[2019-09-16 20:12] jdm commented on #24083
My hypothesis about why the panic occurs was wrong - the bound texture remains bound when we get a GL error executing the glTexImage2D - I'm pretty sure it's because we're [hardcoding gl::RGBA](https://github.com/servo/servo/blob/6429fbeeffe3c52aaf32e1ea3f121fc088c1b363/components/script/dom/xrwebgllayer.rs#L112-L117), whereas the code to decide what format to use for draw buffer in rust-offscreen

[2019-09-17 05:35] paulrouget commented on #24181
I did yesterday. Fixed has been been pushed.

Gonna fix mach clean then.

[2019-09-17 05:49] gterzian commented on #24221
The specification of [agent-cluster](https://html.spec.whatwg.org/#integration-with-the-javascript-agent-cluster-formalism) could anchor our architecture more firmly into a spec going forward.

Some overview is proposed at https://github.com/servo/servo/issues/24159 and I think its a good idea to update the Wiki as well.

We could also add some notes about the actual tools used, like https://githu

[2019-09-17 05:58] gterzian commented on #24159
Also just seeing the spec now also defines the allocation and re-use of agent-cluster for similiar-origin window agents, like [obtain-agent-cluster-key](https://html.spec.whatwg.org/#obtain-agent-cluster-key), and this matches our operation at the constellation such as https://github.com/servo/servo/blob/119cb894cd26606b7eff42c9ff96e719c3ccf539/components/constellation/constellation.rs#L827

So he

[2019-09-17 16:04] #24181 closed

[2019-09-17 19:42] jdm opened #24228 "UWP nightly build doesn't find appxbundle artifact"
This is very curious, because I had a [successful try run](https://treeherder.allizom.org/#/jobs?repo=servo-try&revision=911aa6adf8ac91655cae435f990ee6646edf0145) that found it just fine, and the appxbundle upload works just fine.

[2019-09-17 19:52] jdm commented on #23617
This has been fixed by #24149.

[2019-09-17 19:52] #23617 closed

[2019-09-17 19:53] jdm commented on #24147
Fixed by #24149.

[2019-09-17 19:53] #24147 closed

[2019-09-17 22:07] jdm opened #24230 "Intermittent failure in /html/semantics/embedded-content/media-elements/networkState_during_loadstart.html"
[code]

[2019-09-18 04:34] #24208 closed

[2019-09-18 04:35] gterzian commented on #23890
There is a chance that this will be fixed by https://github.com/servo/servo/pull/24203, since it adds some clean-ups, for example using stricter ordering for the atomic operations.

[2019-09-18 04:47] gterzian opened #24231 "Introduce a Prefect Cache"
The HTTP-cache currently doesn't cache responses unless they contain some sort of hint that they should be cached, for example expiry headers. This is in line with the spec:

   that has neither a cache validator nor an explicit expiration time,
   as such responses are not usually useful to store.  However, caches
   are not prohibited from storing such responses. https://tools.ietf.org/html/rfc7

[2019-09-18 14:13] jdm commented on #24083
I verified that immersive mode works fine with the existing code on HoloLens if the texture is initialized with constants::RGB and the framebuffer attachment complete checks are updated to accept that value. I'm writing a patch that should allow this to work on all platforms.

[2019-09-18 14:21] mmiecz commented on #22888
Hey, it appears that no one is working on this one. If that's ok I can look into this task.

[2019-09-18 14:25] jdm commented on #22888
Please do!

[2019-09-18 14:43] #24228 closed

[2019-09-18 16:52] jdm opened #24234 "Intermittent pass in /html/semantics/embedded-content/the-img-element/srcset/avoid-reload-on-resize.html"
[code]

[2019-09-18 17:40] asajeffrey commented on #24231
The easiest thing to do would probably be to remove the elements from the cache when they are actually fetched. This will deal with the common case, which is documents that don't use `document.write` so the prefetching is correct.

[2019-09-19 03:27] CYBAI opened #24237 "Intermittent FAIL in /css/cssom-view/offsetTopLeft-border-box.html"
[code]

[2019-09-19 09:14] paulrouget commented on #24075
I could use some help here. When we leave the immersive mode, servo get stuck here:

https://github.com/servo/webxr/blob/bf4e5a541bb2fcbace61cb1a071959bab10d9c19/webxr-api/registry.rs#L157

Not in the callback, but in `retain` itself. That doesn't make sense to me. I'm assuming that there's nothing that could be blocking in there.

Any clue?

[2019-09-19 10:37] gterzian commented on #24207
By the way I think I am slowly coming to the realization that "speculative fetch during parsing", as implemented in #24148, is not the same as the concept of "prefetch", which is discussed at whatwg/html#4115.

[2019-09-19 12:04] SiddharthaMishra commented on #24152
Hi, I'd like to work on this. Should it report just rand exceptions or files which are exceptions to any blocked packages and no longer need to be?

[2019-09-19 12:51] jdm commented on #24075
Yeah, that should be calling https://github.com/servo/webxr/blob/bf4e5a541bb2fcbace61cb1a071959bab10d9c19/webxr-api/session.rs#L250 :/

[2019-09-19 12:52] jdm commented on #24152
Exceptions to any blocked packages would be a great result!

[2019-09-19 13:24] asajeffrey commented on #24207
Indeed it isn't, AFAIK speculative isn't specified anywhere, even though browsers do it.

[2019-09-19 13:34] jdm opened #24239 "Intermittent crash in /css/css-transforms/animation/perspective-interpolation.html"
[code]

[2019-09-19 13:35] jdm commented on #24239
[code]

[2019-09-19 13:50] jdm opened #24240 "glwindow webxr backend has a GL error on three.js rollercoaster"
[code]
This is the [wait_sync](https://github.com/servo/webxr/blob/bf4e5a541bb2fcbace61cb1a071959bab10d9c19/webxr/glwindow/mod.rs#L140-L141) call that's triggering INVALID_OPERATION.

[2019-09-19 14:30] jdm opened #24241 "glwindow webxr backend draws in original window"
When I run Servo with `http://rawcdn.githack.com/mrdoob/three.js/r105/examples/webvr_rollercoaster.html --pref dom.webxr.enabled --pref dom.webxr.glwindow` and enter XR mode, a new window is created with the title "Servo", but no rendered output ever appears in it. Instead the existing servo window switches to stereoscopic rendering.

[2019-09-19 14:34] jdm commented on #24241
I've only tried this on macOS. It might affect other platforms as well?

[2019-09-19 16:03] jdm commented on #23754
This was fixed by #24107.

[2019-09-19 16:03] #23754 closed

[2019-09-19 16:03] jdm commented on #23680
We have a working immersive mode now.

[2019-09-19 16:03] #23680 closed

[2019-09-19 16:04] jdm commented on #22729
I think we can call these investigations resolved, since we're building UWP app nightlies on CI.

[2019-09-19 16:04] #22729 closed

[2019-09-19 16:05] jdm commented on #24171
This was fixed by #24201.

[2019-09-19 16:05] #24171 closed

[2019-09-19 16:14] jdm opened #24244 "Creating webgl textures with RGB or RGBA formats can cause GL errors"
#24242 is addressing a source of panic on the hololens by ensuring that values that don't panic are used, but there's no reason to believe that arbitrary web content couldn't trigger the same errors. In fact, using constants::RGB on macOS triggered the same error, if I recall correctly, so it definitely deserves some deeper investigation.

[2019-09-19 16:15] jdm commented on #24241
@asajeffrey Did this regress at some point, or was this always the case?

[2019-09-19 16:28] jdm opened #24245 "Intermittent failure in /css/css-values/vh-interpolate-pct.html"
[code]

[2019-09-19 16:46] asajeffrey commented on #24241
Hmm, I think this is a regression. Also, we get a panic in debug mode...
[code]

[2019-09-19 17:07] asajeffrey commented on #24241
Ah that would be #24240.

[2019-09-19 17:24] jdm opened #24246 "Intermittent failure in /html/webappapis/scripting/events/compile-event-handler-settings-objects.html"
[code]

[2019-09-19 17:58] jdm commented on #23964
I can reproduce this panic with `./mach test-wpt --servodriver tests/wpt/web-platform-tests/infrastructure/testdriver/click.html`.

[2019-09-19 19:36] jdm commented on #23964
This happens for these tests when a webdriver operation that performs a hit test occurs before the first layout operation occurs. This layout operation is what populates the fields that the hit test relies upon, and when the testdriver code executes immediately during the initial page parse, layout can be suppressed as a performance optimization so the hit test has no information to rely upon.

[2019-09-19 19:37] jdm commented on #23964
To demonstrate this, add `button.getBoundingClientRect();` to click.html right before the testdriver operation. This forces a layout to occur before testdriver tries to initiate a hit test.

[2019-09-19 20:10] #21989 closed

[2019-09-19 20:10] #22763 closed

[2019-09-19 22:24] jdm commented on #23964
Similarly, I can reproduce this if I refresh a page and click really fast as it starts loading.

[2019-09-19 22:30] jdm commented on #23964
Interestingly, I think that this may be distinct from #21480, since APIs like Document::ElementsFromPoint should be triggering a layout operation before the hit test query occurs. I am unable to reproduce this panic with:
[code]

[2019-09-19 23:08] jdm commented on #23964
[code]

This patch makes the panic disappear, but I'm pretty sure it just hides the symptom - any click event will still be relying on a nonexistent display list so it won't end up clicking anything. I think the right solution is to force an up-to-date display list to be generated whenever an event occurs that requires interacting with a display list.

[2019-09-20 04:03] CYBAI opened #24247 "Intermittent FAIL in /_mozilla/css/rotate_anim.html"
[code]

[2019-09-20 05:44] jdm commented on #23877
This change was made.

[2019-09-20 05:44] #23877 closed

[2019-09-20 05:58] jdm opened #24248 "Missing MouseEvent attributes defined by CSSOM View"
https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface

In particular, the pageX/pageY attributes are used by three.js code in http://rawcdn.githack.com/mrdoob/three.js/r105/examples/js/controls/FirstPersonControls.js . This is likely to be a source of surprising web compat issues!

This will likely have an impact on #20931.

[2019-09-20 10:05] blairmacintyre commented on #23012
@jdm wondered if this has an update.  FWIW, the current version of servo (downloaded just now from nightly builds on the mac) gives both the SVGElement error and
`canvas::canvas_data] Unimplemented canvas2d.fillText. Values received: 1 MS (1-150), 6, 4, None.` errors

[2019-09-20 11:00] ferjm opened #24251 "Intermittent failure /html/rendering/non-replaced-elements/the-page/body-margin-1h.html"
[code]

[2019-09-20 12:27] jdm commented on #23012
No update yet - there's a student just starting to work on some basic SVG support which may help eventually.

[2019-09-20 12:33] blairmacintyre commented on #23012
Is the fillText related?  We could remove SVGs from this example I think ...

[2019-09-20 12:44] SiddharthaMishra commented on #24152
Hey, I removed "goal", "servo_rand" and "ws" from the `[blocked-packages]` section of `servo-tidy.toml` and ran `./mach test-tidy` just to test things out but tidy didn't report back any errors. Am I doing something wrong?

[2019-09-20 13:13] jdm commented on #23012
As far as I know, fillText just causes a warning to appear in the terminal but shouldn't interrupt JS execution.

[2019-09-20 13:20] #23787 closed

[2019-09-20 14:23] jdm commented on #24152
Good question! I looked into it and discovered that the errors will appear if you run test-tidy with `--all`, since that will force it to look at the Cargo.lock file and run check_lock. By default test-tidy only runs on files that git reports have changed, which can be frustrating when working on test-tidy itself. There are a few options:
* make a small change to Cargo.lock (like adding an extra n

[2019-09-20 15:36] ferjm opened #24254 "Intermittent failure in /css/CSS2/borders/border-right-width-018.xht"
[code]

[2019-09-20 16:12] jdm commented on #24254
This is #23290.

[2019-09-20 16:12] #24254 closed

[2019-09-20 18:33] SiddharthaMishra commented on #24152
If we want filter_files to always yield Cargo.lock is adding something like a `[always-include]` similar to the `[ignore]` in `servo-tidy.toml` all right? If not, should I hard-code a yield of Cargo.lock in filter_files or `FileList::init()`?

[2019-09-20 18:37] #24200 closed

[2019-09-20 18:55] jdm commented on #24152
I am inclined to hardcode it for the time being.

[2019-09-20 19:05] asajeffrey opened #24256 "Surfman minimal viable demo"
A meta-issue for keeping track of servo/surfman...

- [ ] Surface sharing https://github.com/servo/rust-offscreen-rendering-context/issues/133
- [ ] Surfman in webxr https://github.com/servo/webxr/issues/60
- [ ] Implement WebVR on top of webxr https://github.com/servo/servo/issues/24425

The relevant repos and branches are

- https://github.com/pcwalton/surfman
- https://github.com/asajeffrey/swa

[2019-09-20 19:05] asajeffrey commented on #24256
cc @pcwalton

[2019-09-20 19:06] asajeffrey commented on #24256
We should add more issues to the list above ^

[2019-09-20 19:08] asajeffrey commented on #24256
The surfman branch of servo: https://github.com/pcwalton/servo/tree/texture-sharing-iosurface
The surfman branch of offscreen-rendering-context https://github.com/pcwalton/rust-offscreen-rendering-context/tree/io-surface-22

[2019-09-20 19:09] asajeffrey commented on #24256
Long IRC chat with @pcwalton https://mozilla.logbot.info/servo/20190920#c16631244

[2019-09-20 23:31] chenzww opened #24258 "How to fix servo app render issue on macOS."
The Server.app download from 'https//downloadservo.org' site. Every platform render well except on macOS. How to fix it?

![screenshot 2019-09-21 07 28 08](https://user-images.githubusercontent.com/1970731/65363991-74148e80-dc41-11e9-93af-aab0f7d958a3.png)

[2019-09-20 23:46] jdm commented on #24258
I can't reproduce this with the latest build from download.servo.org on macOS 10.14.6:
<img width="1136" alt="Screen Shot 2019-09-20 at 7 45 55 PM" src="https://user-images.githubusercontent.com/27658/65364368-53b3e800-dbdf-11e9-9753-65af7a6a6004.png">

[2019-09-21 07:33] paulrouget commented on #5411
I'm thinking of implementing a non operational version of MeasureText, behind a pref. It would just return 0 for now.

[2019-09-21 08:10] paulrouget commented on #5411
https://github.com/servo/servo/pull/24261

[2019-09-21 09:54] paulrouget opened #24262 "Can't deploy to HoloLens in release mode (vclibs version mismatch)"
I'm getting this error:

I do not have this issue with the emulator.
I do not have this issue in debug mode.

[2019-09-21 12:34] jdm commented on #24262
This may be the same issue we faced with the other device - does it work if you build and deploy VS project from VS 2019? If so, a factory reset on the device may fix the problem and allow using 2017 like usual.

[2019-09-21 13:48] jdm opened #24263 "Latest UWP nightly never finishes loading"
Even though it's loading about:blank, it seems to go nowhere and the throbber keeps going. Trying to load another URL shows the same behaviour.

[2019-09-23 02:40] iinuwa commented on #24036
I'm not familiar with this set up, but I'd be interested in helping out with this if someone can point me in the right direction.
I assume that these files should be located somewhere in /tests/wpt/web-platform-tests? For example, might the first one be referring to /tests/wpt/web-platform-tests/css/compositing/mix-blend-mode/mix-blend-mode-animation.html?

[2019-09-23 02:47] jdm commented on #24036
Yes, any of the tests that don't start with _mozilla would be under tests/wpt/web-platfom-tests if they still exist. Any _mozilla/webgl/ test should be under tests/wpt/webgl/ now, while any _mozilla/mozilla/ would be under tests/wpt/mozilla if it still exists.

[2019-09-23 02:47] jdm commented on #24036
Any of the tests from directories starting with css- I would expect to be in subdirectories of tests/wpt/web-platform-tests/css.

[2019-09-23 07:05] pylbrecht commented on #23431
I got my last two exams coming up, so I won't be able to work on this until next Monday.

[2019-09-23 12:17] nirbheek commented on #24225
Using `debug` without optimizations should be avoided with gstreamer because disabling all optimizations tends to make multimedia code very very slow. But sometimes it's unavoidable, of course.

[2019-09-23 13:05] xclaesse commented on #24225
IMHO, you should leave the default `buildtype` (debugoptimized) for debug/developer builds, and use `--buildtype release` for user builds. If you need unoptimized build for specific debugging, then you can always rebuild yourself with `--buildtype debug`.

As far as I know the only main difference between `debugoptimized` and `release` is glib gets built with `-DG_DISABLE_CAST_CHECKS` that speed-u

[2019-09-23 14:23] jdm opened #24267 "GL error in debug build entering immersive mode"
With #24242 applied, I see a Rust panic in debug builds when entering immersive mode in the HL emulator:
[code]
This comes from [this code](https://github.com/servo/webrender/blob/b4f4831359d02604ec8d7abf0fade8bf98aad87d/webrender/src/device/gl.rs#L1248-L1254), and is triggered by [this code](https://github.com/servo/webrender/blob/b4f4831359d02604ec8d7abf0fade8bf98aad87d/webrender/src/device/quer

[2019-09-23 14:24] jdm commented on #24267
The GL error is GL_INVALID_FRAMEBUFFER_OPERATION.

[2019-09-23 16:26] jdm commented on #24267
I can't reproduce this now with a restart of the emulator.

[2019-09-23 16:26] #24267 closed

[2019-09-23 17:50] jdm commented on #24263
I'm no longer reproducing this in my local builds off of master or in the latest nightly: https://download.servo.org/nightly/uwp/servo-latest.0.0.0_x64_arm64.appxbundle

[2019-09-23 19:47] jdm commented on #21476
https://wasm.bootcss.com/demo/Tanks/ is the updated tanks game URL.

[2019-09-23 20:15] jdm commented on #20172
https://github.com/jdm/webrender/tree/no-ipc is an old branch that removed IPC from the webrender public interface.

[2019-09-23 23:27] Manishearth commented on #20286
Adding to xr-spec-complete since XR has a bunch of interactions with this

[2019-09-23 23:29] jdm opened #24269 "Support OffscreenCanvas as CanvasImageSource"
Code:
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/webidls/CanvasRenderingContext2D.webidl#L15
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/canvasrenderingcontext2d.rs#L335-L350
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/canvasren

[2019-09-23 23:30] Manishearth opened #24270 "Support features in webxr, require feature for local-floor access"
https://immersive-web.github.io/webxr/#feature-dependencies

We need to support features, and gate the existence of local-floor on the local-floor feature (also the respective features when #24194, #24195 happen)

We should also make inline sessions not require activation if tracking isn't requested (https://github.com/servo/servo/pull/24133#discussion_r327743255)

[2019-09-23 23:46] jdm opened #24271 "GetImageData for OffscreenCanvas without an associated canvas element returns blank pixels"
Code:
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/canvasrenderingcontext2d.rs#L281-L284
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/canvasrenderingcontext2d.rs#L281-L284
* https://github.com/servo/servo/blob/4fe8238b14d535f7ca94a36effda06624b73ecbe/components/script/dom/canvasrendering

[2019-09-24 00:21] iinuwa commented on #24036
OK, I'll try my hand at this. I'll have to get up to speed on the mach build system. Is there a specific command I should run to get the same output you posted above?

[2019-09-24 00:33] jdm commented on #24036
It's not clear to me that this requires actually running anything - the list from the first comment is taken from the list of [issues with the I-intermittent label](https://github.com/servo/servo/issues?q=is%3Aopen+is%3Aissue+label%3AI-intermittent), which our CI uses to decide whether to abort a merge if a test fails. This issue is really focused on identifying if we should be updating those issu

[2019-09-24 00:40] jdm opened #24272 "Implement convertToBlob API for OffscreenCanvas"
WebIDL: https://html.spec.whatwg.org/multipage/canvas.html#the-offscreencanvas-interface
Spec: https://html.spec.whatwg.org/multipage/canvas.html#dom-offscreencanvas-converttoblob
Code:
* `components/script/dom/webidls/OffscreenCanvas.webidl`
* `components/script/dom/offscreencanvas.rs`

Tests: `./mach test-wpt tests/wpt/web-platform-tests/offscreen-canvas/convert-to-blob/`

[2019-09-24 00:44] jdm opened #24273 "Implement HTMLCanvasElement's transferControlToOffscreen API"
The canvas API supports taking an existing HTMLCanvasElement, calling the `transferControlToOffscreen` method and obtaining a new `OffscreenCanvas` which wraps the existing canvas state. The existing canvas element changes its mode to the placeholder mode, and its content is only updated when calling the `commit` method of the new OffscreenCanvas.

WebIDL:
* https://html.spec.whatwg.org/multipage/

[2019-09-24 01:16] jdm opened #24274 "ImageData constructors intermix logic"
The ImageData specification has [two constructors](https://html.spec.whatwg.org/multipage/canvas.html#dom-imagedata).  They have different logic about what arguments are valid are not. The implementation of these constructors tries to share code and ends up getting the checks a bit confused, causing some of the automated tests for the specification logic to fail.

Code: `components/script/dom/imag

[2019-09-24 01:30] iinuwa commented on #24274
I'll take a look at this.

[2019-09-24 02:39] #24083 closed

[2019-09-24 02:39] #20595 closed

[2019-09-24 04:23] gterzian commented on #24272
I think this might be best done after https://github.com/servo/servo/pull/24123 has been done, since that PR implies some fairly significant changes to `Blob`(a bunch of reshuffling really).

Also, I think we might want to first implement `Transferable` for `OffscreenCanvas`, since that might imply some reshuffling in the implementation of `OffscreenCanvas`(I assume it will imply something similar

[2019-09-24 04:29] gterzian opened #24276 "Implement Transferable for OffscreenCanvas"
Spec:

-  The transfer steps for `OffscreenCanvas`: https://html.spec.whatwg.org/multipage/canvas.html#the-offscreencanvas-interface:transferable-objects
- The general concept of transferable objects: https://html.spec.whatwg.org/multipage/structured-data.html#transferable-objects

A first implementation of `Transferable` is currently being done as part of https://github.com/servo/servo/pull/23637

[2019-09-24 04:56] gterzian commented on #24273
The comment at https://github.com/servo/servo/issues/24272#issuecomment-534382343 applies to this as well.

[2019-09-24 05:01] gterzian commented on #24272
Also, we might want to first implement Transferable for OffscreenCanvas, since that might imply some reshuffling in the implementation of OffscreenCanvas(I assume something similar as the split between MessagePort and MessagePortImpl being done in #23637), and such as change could signifanctly affect the implementation of convertToBlob. See #24276

[2019-09-24 05:14] gterzian opened #24277 "Implement AnimationFrameProvider for DedicatedWorkerGlobalScope"
Spec: https://html.spec.whatwg.org/multipage/imagebitmap-and-animations.html#animationframeprovider

See the `Window` webidl for an example: https://github.com/servo/servo/blob/6ca62aa0de1fda970daac53681a9b6e47cf91fbd/components/script/dom/webidls/Window.webidl#L63

Relevant once we have https://github.com/servo/servo/issues/24276

[2019-09-24 05:17] gterzian commented on #24277
The interesting question is how to communicate between the compositor and a dedicated worker. Currently the constellation is not aware of such workers, which are "hidden" behind an `EventLoop`. So the constellation can only send messages to a `ScriptThread`, via the `EventLoop` interface.

We could have the script-thread forward the messages to the worker, but sort of defeats the purpose of having

[2019-09-24 08:28] paulrouget commented on #24263
It happened to me. In my case a breakpoint was hit, even though it was not showing in VS. Clearing all the breakpoint in VS solved my problem.

[2019-09-24 09:35] lithic opened #24278 "Why not directly using Cargo"

[2019-09-24 10:26] paulrouget commented on #24262
I've found another (temporary) workaround. Because I only care about Servo being in release mode, I rename target/release to target/debug, and built in debug more. MS people confirmed that using VS2019 or resetting would fix the issue.

[2019-09-24 10:26] #24262 closed

[2019-09-24 11:03] SimonSapin commented on #24278
Because this https://github.com/servo/servo/blob/6ca62aa0de1fda970daac53681a9b6e47cf91fbd/python/servo/build_commands.py#L171-L629

[2019-09-24 13:42] #23700 closed

[2019-09-24 15:42] jdm opened #24281 "Replace rustc plugins with something else"
The Rust team want to remove the unstable plugin feature: https://github.com/rust-lang/rust/pull/64675 . All the information I have is "I believe current consensus is that anyone using plugins today is advised to migrate to a custom rustc build (via a rustc_private dep on rustc_interface) which should be relatively fast, though not particularly stable, of course, but no less stable than plugins we

[2019-09-24 16:57] SimonSapin commented on #24281
I’ve previously filed https://github.com/rust-lang/rust/issues/62868 hoping to get suggestions about what to do.

[2019-09-24 17:32] jdm opened #24282 "Package additional UWP resources"
Apparently we should be bundling up some other resources including the signing certificate so that sideloading works on all devices.

[2019-09-24 17:41] #24278 closed

[2019-09-24 20:02] #23995 closed

[2019-09-24 21:20] chenzww opened #24284 "How to embedding libservo into cargo(use servo as library) on macOS"
Check out commit id with '328244684a8b1f98d515d5f40655b9cf7347affd'(refer to official nightly build version), and build succeed.
However, when I used the following Cargo.toml configuration, the build failed.

[code]

Then, copy and replace Resources, rust-toolchain, Cargo.lock files.

[code]

Error Message 1:
[code]

Then, fix canvas feature error with:

[code]

[code]

Error message 2:
[code]

Ho

[2019-09-24 21:25] jdm commented on #24284
Add the `layout-2013` feature to libservo.

[2019-09-24 21:26] jdm commented on #24284
For embedding, it is highly recommended to use libsimpleservo instead (from ports/libsimpleservo/api) since it reduces the amount of setup that is required.

[2019-09-25 00:15] jdm opened #24285 "XMLHttpRequest.responseXML should return null when a network error occurs"
Spec: https://xhr.spec.whatwg.org/#document-response step 1
Code: `components/script/dom/xmlhttprequest.rs`
Test:
* `./mach test-wpt tests/wpt/web-platform-tests/xhr/xmlhttprequest-network-error.htm`
* `./mach test-wpt tests/wpt/web-platform-tests/xhr/xmlhttprequest-network-error-sync.htm`

We fail the `assert_equals(client.responseXML, null, "responseXML")` check, because we don't check if `self.

[2019-09-25 00:15] highfive commented on #24285
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-25 00:15] #21270 closed

[2019-09-25 00:24] jdm opened #24286 "XHR upload timeout event should not include request progress/total values"
Spec: https://xhr.spec.whatwg.org/#request-error-steps
Code: `components/script/dom/xmlhttprequest.rs`
Test:
* `./mach test-wpt tests/wpt/web-platform-tests/xhr/event-timeout-order.any.js`
* `./mach test-wpt tests/wpt/web-platform-tests/xhr/send-timeout-events.htm`

`process_partial_response` calls `dispatch_upload_progress_event` and passes None as the second argument, and that method assumes tha

[2019-09-25 00:24] highfive commented on #24286
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-25 00:35] jdm opened #24287 "Implement Blob reading APIs (arrayBuffer/text)"
Spec:
* https://w3c.github.io/FileAPI/#blob-section
* https://w3c.github.io/FileAPI/#text-method-algo
* https://w3c.github.io/FileAPI/#arraybuffer-method-algo

Code:
* `components/script/dom/webidls/Blob.webidl`
* `compoentns/script/dom/blob.rs`

Tests:
* `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/blob/Blob-array-buffer.any.js`
* `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/blo

[2019-09-25 02:18] jdm commented on #24287
In-progress steps:
* add the missing WebIDL methods for Blob.arrayBuffer and Blob.text to `Blob.webidl`
* implement the missing Rust methods for the Blob type in `blob.rs` based on the specification for the methods
  * use [Blob::get_bytes](https://github.com/servo/servo/blob/e6b271d32981ad95442c029bf72bd35efc88f9c5/components/script/dom/blob.rs#L140-L165) as a model for retrieving the blob's cont

[2019-09-25 02:30] jdm opened #24288 "FileReader.read does not clear any existing result value"
Spec: https://w3c.github.io/FileAPI/#readOperation
Code: `components/script/dom/filereader.rs`
Test: `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/reading-data-section/filereader_result.html`

`FileReader::GetResult` checks if there is already a result and returns it. If there are multiple read operations in a row, the result should be cleared when the second one is started, but that does

[2019-09-25 02:30] highfive commented on #24288
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-25 02:36] jdm opened #24289 "perform_annotated_read_operation should not enqueue a ProcessReadData task for empty blobs"
Test: `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/reading-data-section/filereader_events.any.js`
Code: `components/script/dom/filereader.rs`

The test checks that no progress event is dispatched for a blob containing no bytes. However our implementation in `process_read_data` always dispatches a progress event, so we should check if the blob is not empty before enqueuing a FileReadingTas

[2019-09-25 02:36] highfive commented on #24289
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-25 02:54] jdm opened #24290 "URL.RevokeBlobURL is not strict enough about blob urls"
Spec: https://w3c.github.io/FileAPI/#dfn-revokeObjectURL

Code:
* `components/script/dom/url.rs`
* `components/net_traits/blob_url_store.rs`

Test:
* `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/url/url-with-xhr.any.js`
* `./mach test-wpt tests/wpt/web-platform-tests/FileAPI/url/url-with-fetch.any.js`

There are a couple problems:
* we don't do any same-origin check against the blob being

[2019-09-25 03:04] jdm opened #24291 "Document::SetBody is too strict"
Spec: https://html.spec.whatwg.org/multipage/dom.html#dom-document-body
Code: `components/script/dom/document.rs`
Test: `./mach test-wpt tests/wpt/web-platform-tests/html/dom/documents/dom-tree-accessors/Document.body.html`

Step 4 refers to the document element, which can be any element which is the immediate child of the document, but our implementation checks for a document element which is als

[2019-09-25 03:04] highfive commented on #24291
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-09-25 05:07] jdm commented on #24272
I doubt that those will have a significant impact on the implementation here - this task is focused on getting the pixels from the canvas and stashing them in a blob, so the implementation details of either the canvas or blob shouldn't really affect it.

[2019-09-25 05:46] #16244 closed

[2019-09-25 07:21] jdm commented on #24282
* Add-AppDevPackage.resources
* Dependencies/
* Add-AppPackage.ps1
* ServoApp_1.0.0.0_x64.appxbundle
* ServoApp_1.0.0.0_x64.cer

Probably easiest to just archive the whole directory and upload that.

[2019-09-25 08:48] #24284 closed

[2019-09-25 08:53] SiddharthaMishra commented on #24152
I opened a PR for this

[2019-09-25 08:54] SiddharthaMishra commented on #24289
@highfive: assign me

[2019-09-25 08:54] highfive commented on #24289
Hey @SiddharthaMishra! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-25 10:42] paulrouget opened #24293 "canvas::webgl_thread: SetViewport fails."
Trying to run a babylonjs demo in webxr mode, getting this error:

[code]

[2019-09-25 12:00] paulrouget commented on #24293
It's not consistent. Now getting an error with `BindFramebuffer`:

[code]

[2019-09-25 13:41] jdm opened #24295 "Intermittent timeout in /_webgl/conformance/rendering/multisample-corruption.html"
[code]

[2019-09-25 13:49] jdm commented on #24256
Rebased branches (with some changes mixed in to avoid panics on macOS, sadly) now exist at https://github.com/jdm/servo/tree/texture-sharing-iosurface and https://github.com/jdm/rust-offscreen-rendering-context/tree/io-surface-22.

[2019-09-25 13:50] jdm commented on #24256
I've verified that WebGL works fine in the desktop UWP build, and it also runs in the HoloLens emulator. However, _something_ is different that causes the HL runtime to put a big blue "Loading" circle over the page content that never goes away.

[2019-09-25 13:54] jdm opened #24297 "Intermittent pass in /css/css-text/white-space/control-chars-096.html, /css/css-text/white-space/control-chars-010.html, /css/css-text/white-space/control-chars-01B.html"
[code]

[2019-09-25 14:21] jdm commented on #24256
Also for ease of building servo, I'll point out that the only use of surfman in canvas-traits is in the WebGLLockMessage type, which is unused. This means that surfman can be removed from canvas-trait's dependencies and avoids having to rebuild script whenever surfman is modified. I made this change in my rebased and squashed branch.

[2019-09-25 17:25] tokarzkj commented on #24291
I can take a look. I am new to the project/rust and am looking for ways to contribute.

@highfive: assign me

[2019-09-25 17:25] highfive commented on #24291
Hey @tokarzkj! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-25 22:58] #24152 closed

[2019-09-26 01:30] jdm opened #24299 "Intermittent timeout in /_webgl/conformance2/rendering/canvas-resizing-with-pbo-bound.html"
[code]

[2019-09-26 05:36] paulrouget commented on #24256
Only when showing webgl content?

[2019-09-26 11:32] petosorus commented on #24285
Hi!
I'm pretty new to rust and would like to check I'm getting it.

1. Should the check of response_status be done between the `response.is_some()` block and the `mime_type` block?
1. If the response_status matches Err, should the return be something like
[code]

Thanks for putting these tasks marked as Easy :)

[2019-09-26 13:37] jdm commented on #24285
1. Yes
2. There should not be any need to set self.response_xml, since it will be empty already. Returning None directly will be most readable.

[2019-09-26 13:41] jdm commented on #24256
I only tested webgl content, and I haven't reproduced that problem.

[2019-09-26 13:48] CYBAI commented on #24285
Hi @petosorus , thanks for looking into this!

I think it might be worth mentioning that, with reading the commit of `if response.is_some() {` (347f3c15b2a), it's for caching.

So, as @jdm answered, yes, the check of response_status should be done between `response.is_some()` and `mime_type` block.

Maybe it's worth updating the comment of `response.is_some()` checking and say `Step 1` above `resp

[2019-09-26 13:50] jdm commented on #24285
Yes, that would be an improvement!

[2019-09-26 13:58] petosorus commented on #24285
Ok, that's cool with me! I'll start tonight then.

@highfive: assign me

[2019-09-26 13:58] highfive commented on #24285
Hey @petosorus! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-26 15:22] jdm commented on #24256
I made a mistake and didn't actually test a surfman-enabled build with UWP and the emulator. I'm panicking when D3D11CreateDevice returns an unsuccessful result right now, so I'll try to figure out what's going on there.

[2019-09-26 16:46] Ghosty141 commented on #24285
Hi @petosorus, I also took a look at this issue and hopefully solved it in my fork ([Link](https://github.com/Ghosty141/servo/tree/document_response_fix)). Would you mind if I submit the PR? No problem if you want it though.

[2019-09-26 17:55] jdm commented on #24256
I have updated my branches (https://github.com/jdm/servo/tree/texture-sharing-iosurface and https://github.com/jdm/rust-offscreen-rendering-context/tree/io-surface-22) with changes that allow the UWP desktop app to run webgl content. The resulting rendering is really flickery and stuttery, unfortunately.

[2019-09-26 18:04] Ghosty141 commented on #24286
Hi I'd like to work on this. Should `dispatch_upload_progress_event` check if the partial_load is None and use 0 as length?

[2019-09-26 18:11] jdm commented on #24286
I think dispatch_upload_progress event needs another argument indicating whether the event is for an error or not.

[2019-09-26 18:11] jdm commented on #24286
Oh, even better - make the Option argument `Result<Option<..>, ()>` and pass `Err(())` for error cases.

[2019-09-26 19:42] jdm commented on #24256
I've backported my UWP build fixes to pcwalton's branch in https://github.com/pcwalton/surfman/pull/5 and https://github.com/pcwalton/servo/pull/14.

[2019-09-26 21:09] RestitutorOrbis opened #24302 "Using history.back() on Window object of iFrame element doesn't trigger onload attr"
In /navigation-timing/nav2_test_navigation_type_backforward.html, Servo seems to stall on Step 2 as triggering a backwards navigation on the iFrame element doesn't seem to trigger the `onload_test()` which is what the onload attribute is set to on the relevant iFrame. This issue was uncovered through development on #23873.

@jdm

[2019-09-26 21:56] #24274 closed

[2019-09-27 07:52] Arteneko opened #24305 "Integration documentation"
I wanted to use the Servo engine as a webview backend in a Qt5 project, but couldn't find any documentation or guide on how to do that.

Is there any existing doc on how to do that?

If not, how can one integrate Servo for rendering web pages in Qt?

[2019-09-27 08:12] paulrouget commented on #24305
The best way is to use libsimpleservo. It has a c wrapper.

[code]

This will generate a dll/dylib/so and a .h in target/.

You can see an example here: https://github.com/servo/servo/tree/master/support/hololens/ServoApp/ServoControl

[2019-09-27 11:26] paulrouget opened #24307 "Babylonjs support: progress"
## basic demo

Using the colorpicker demo as a starting point: http://paulrouget.com/test/bbjs/

2D mode: WebGL content renders well (except floor and shadow are black)

Immersive Mode:
- in Firefox + Webxr: works  properly
- glwindow on osx: getting a GL error (1281) here: https://github.com/servo/webxr/blob/d4f585c2a331b9a1d1c7bde84b9483ec514acaae/webxr/glwindow/mod.rs#L140 - ignoring it just gi

[2019-09-27 15:15] tigleym commented on #24288
Hello! I'd be interested in tackling this issue.

@highfive: assign me

[2019-09-27 15:15] highfive commented on #24288
Hey @tigleym! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-09-27 21:42] nox opened #24311 "Intermittent crash in /resource-timing/nested-context-navigations-iframe.html"
[code]

[2019-09-28 05:22] mvashishth commented on #23607
Is anybody still working on this?

[2019-09-28 06:31] SiddharthaMishra commented on #24290
I'd like to work on this

[2019-09-28 12:38] marmeladema commented on #23607
I am regularly looking for upstream mach updates. Things are landing but still no new release at this point so we are stuck for the time being.

[2019-09-28 12:54] ahal commented on #23607
Mach supports Python 3 now, but I had no idea anyone was using the pypi package. I'll see if I can get a new version uploaded.. though we haven't been super careful about keeping Mozilla central specifics out, so it might not work out of the box anymore. (This is something I wish it supported)

It's been over three years since the last release.

[2019-09-28 13:51] SimonSapin commented on #23607
I think it might be viable to vendor a copy from `mozilla-central` into the `servo/servo` repository, instead of relying on PyPI.

[2019-09-28 14:17] ahal commented on #23607
Yeah that would work too.

Either way I'm happy to version and release as needed. Just let me know next time you need an update :). Tbh I'm happy to learn of out of tree consumers.

[2019-09-29 06:10] mvashishth commented on #23607
By default, it runs on Python2.7. I'd love to work on it if this issue is still open.

[2019-09-29 13:06] mvashishth commented on #24287
I'd love to work on it. Can you assign it to me?

[2019-09-29 13:10] CYBAI commented on #24287
@mvashishth Go ahead :)

[2019-09-29 18:04] mvashishth commented on #24287
Can I get more information about "get stream" algorithm? Can't find it anywhere.

[2019-09-30 09:38] paulrouget commented on #24293
Fixed with recent @jdm's changes.

[2019-09-30 09:38] #24293 closed

[2019-09-30 10:10] gterzian opened #24320 "Intermittent CRASH in conformance/ogles/GL/functions/functions_065_to_072.html"
[code]

[2019-09-30 14:48] jdm opened #24323 "Standard library documentation is not present at doc.servo.org"
When I search for cstr::to_str, I get a bunch of results that do not include the standard library. This previous happened in #23274 and may have been fixed by a rust upgrade at some point, but it's back again.

[2019-09-30 15:57] #24291 closed

[2019-09-30 15:59] jdm commented on #24287
@mvashishth Since Servo does not support streams yet, my incomplete steps from above were designed to implement a stream-like file reading operation.

[2019-09-30 16:00] jdm commented on #24287
The easiest first step is to implement the new methods synchronously and resolve the Promise value with the blob contents. Once that is done, it will be easier to focus on making the actual operation asynchronous.

[2019-09-30 16:02] paulrouget commented on #24307
3 issues:

- black floor
- buffer not cleared
- objects are duplicated

![screencast](https://user-images.githubusercontent.com/373579/65895600-02a8ae80-e3ac-11e9-882f-23450639db37.gif)

[2019-09-30 16:04] paulrouget commented on #24307
In non immersive mode, we can see the black floor:

![Screen Shot 2019-09-30 at 18 03 10](https://user-images.githubusercontent.com/373579/65895999-a98d4a80-e3ac-11e9-9831-9ec0368cf541.png)

[2019-09-30 16:06] mvashishth commented on #24287
The documentation says Blob has an associated get stream algorithm. I didn't find it anywhere or am I missing something?

[2019-09-30 16:06] jdm commented on #24141
This should no longer be necessary.

[2019-09-30 16:06] #24141 closed

[2019-09-30 16:11] jdm commented on #24307
I suspect the trails come from us not supporting `preserveDrawingBuffer: false` correctly - we don't actually clear the texture anywhere right now.

[2019-09-30 17:39] tigleym commented on #24288
@jdm I'm hitting a timeout in the tests where the "loadstart" event is not firing after the second read call.

I think the issue is coming from https://github.com/servo/servo/blob/da559d47b93854e4c7d4acf0a0d2029a9e643794/components/script/dom/filereader.rs#L224 . Though I'm unsure of why the generation ids are different in this case.

As described in the spec, I'm setting `result` to `null` after

[2019-09-30 20:45] ahal commented on #23607
Bug to bump + release mach:
https://bugzilla.mozilla.org/show_bug.cgi?id=1585146

[2019-09-30 23:46] jdm commented on #24288
Good find @tigleym! I suspect the problem is that we call [terminate_ongoing_reading](https://github.com/servo/servo/blob/da559d47b93854e4c7d4acf0a0d2029a9e643794/components/script/dom/filereader.rs#L283) after the loadend event - if the event listener watching for that event ends up initiating a new read operation, it will be started with the old generation id. It's really not clear to me why tha

[2019-10-01 00:09] Manishearth opened #24327 "UWP builds should set PKG_CONFIG_PATH"
UWP builds use a local gstreamer from msvc-dependencies. They should override the existing PKG_CONFIG_PATH during the build so that the build doesn't go looking for x86 binaries

I _suspect_ this is why my older build was failing at dynamic link time, I had `PKG_CONFIG_PATH` set to x86 gstreamer, and uninstalling gstreamer fixed the problem but now the build fails when it builds glib-sys since it

[2019-10-01 02:09] CYBAI opened #24328 "Intermittent TIMEOUT in /webaudio/the-audio-api/the-dynamicscompressornode-interface/dynamicscompressor-basic.html"
[code]

[2019-10-01 05:08] paulrouget commented on #24307
The black walls are due to network errors (security errors):

[code]

[2019-10-01 06:51] paulrouget commented on #24307
Actually, not a network error, a canvas error: https://github.com/servo/servo/blob/cf725fc3f59bc1b94e3b35ab4cfe60b3d41559cc/components/script/dom/webglrenderingcontext.rs#L570

[2019-10-01 07:04] marmeladema commented on #23607
@mvashishth I already started, I am just waiting for a mach release to go forward. This should happens soon thanks to @ahal :-)

[2019-10-01 08:05] paulrouget opened #24330 "WebGL: Allow TexImage from a different origin if CORS used"
https://github.com/servo/servo/blob/cf725fc3f59bc1b94e3b35ab4cfe60b3d41559cc/components/script/dom/webglrenderingcontext.rs#L567

[2019-10-01 08:07] paulrouget commented on #24307
Filed https://github.com/servo/servo/issues/24330

[2019-10-01 08:34] paulrouget commented on #24307
Mansion demo: getting a JS error:

[code]

Talking to babylonjs people about this.

[2019-10-01 08:44] paulrouget commented on #24330
@jdm: Is it just a matter of checking the cross origin attribute or it's more convoluted?

[2019-10-01 09:49] saschanaz opened #24331 "VS Build Tools 2019 now fails to build Servo"
[code]

Servo has been able to be built with VS Build Tools 2019 with its optional VC++ 2017 (thanks to #23667), but now it just fails.

[2019-10-01 12:17] jdm commented on #24331
SouderMonkey requires 2017. 2019 is not supported, unfortunately.

[2019-10-01 12:17] #24331 closed

[2019-10-01 12:19] saschanaz commented on #24331
Bisecting says it's regression by https://github.com/servo/servo/pull/24076. Since you did the PR, could you give me more details? @jdm

[2019-10-01 12:20] saschanaz commented on #24331
(gecko-dev builds fine on the same environment.)

[2019-10-01 12:22] jdm commented on #24331
The version of spidermonkey that we embed explicitly forbids VS 2019.

[2019-10-01 12:22] saschanaz commented on #24331
Seems https://github.com/servo/mozjs/pull/197 is the culprit. As I said on OP the Build Tools 2019 can provide VC++ 2017 so this is not quite right.

[2019-10-01 12:25] saschanaz commented on #24331
Like this:

![image](https://user-images.githubusercontent.com/3396686/65961604-e8490080-e491-11e9-8e94-3dd1b755638e.png)

[2019-10-01 12:27] jdm commented on #24330
@paulrouget it requires storing some information at https://github.com/servo/servo/blob/master/components/script/dom/htmlimageelement.rs#L192 about what kind of filtering was present in the response body. If it's opaque, then CORS should not allow reading from the image. Otherwise we should be able to allow it.

[2019-10-01 13:12] saschanaz opened #24336 "Remove [PrimaryGlobal]"
Following https://github.com/heycam/webidl/pull/423 and https://bugzilla.mozilla.org/show_bug.cgi?id=1423562.

[2019-10-01 13:13] saschanaz commented on #24336
@highfive assign me

[2019-10-01 13:13] highfive commented on #24336
Hey @saschanaz! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-01 13:26] Manishearth commented on #24327
Actually, this is more complicated because servo refuses to build without gstreamer_webrtc (we use some types from that crate) even though UWP builds don't have webrtc enabled anyway.

[2019-10-01 13:28] Manishearth commented on #24327
I'm surprised anything worked at all here, it seems like for a successful cross UWP servo build you have to have a host PKG_CONFIG_PATH that just makes the build work and then the DLLs get pulled in later. Except it seems like that was causing build problems last week.

[2019-10-01 14:44] mvashishth commented on #24287
[Blbo.text()](https://developer.mozilla.org/en-US/docs/Web/API/Blob/text)
[Blob.arrayBuffer](https://developer.mozilla.org/en-US/docs/Web/API/Blob/arrayBuffer)
If I am not wrong, these are the javascript equivalents for the methods I am working on right?
Also can you please give me a use case for both the methods?
Thanks

[2019-10-01 14:49] jdm commented on #24287
Yes, you are correct. These APIs are used to extract the contents of a Blob into a value that JS code that interact with. Websites could create a Blob and store it in some persistent storage (like IndexedDB), and then later get the blob out of the storage and use these APIs to read the blob's contents. You can learn more about Blobs at https://www.javascripture.com/Blob.

[2019-10-01 15:19] jdm opened #24338 "Image fetch responses are serialized multiple times unnecessarily"
When an image element requests an image, it starts a fetch and then feeds the fetch response to the image cache chunk by chunk. This means that the network thread serializes the response data in order to send it to the listener, and the listener serializes the data again in order to send it to the image cache. It would be much more efficient if the image cache were the direct listener for the fetc

[2019-10-01 17:47] #24288 closed

[2019-10-01 18:11] mvashishth commented on #24287
The scope of this issue only covers arrays as blobs right?

[2019-10-01 18:26] jdm commented on #24287
As opposed to what? The scope of this issue is the unimplemented `arrayBuffer` and `text` methods from the Blob specification.

[2019-10-01 21:17] fadedreamz commented on #20436
@jdm sorry for some time break, I investigate a little bit more, but could not find where actual adjusting is happening. Maybe my lack of knowledge with rust and servo is not helping me. Any suggestions?

[2019-10-01 22:03] #22539 closed

[2019-10-01 22:24] Manishearth commented on #24327
Adding a fake gstreamer-webrtc-1.0.pc file to the gstreamer-uwp msvc-dependencies folder allows the build to work, and this should be a decent stopgap until we get an actual gstwebrtc for UWP

[2019-10-02 03:47] paulrouget commented on #24307
Relevant bugzilla bug for firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1580258

[2019-10-02 12:17] saschanaz commented on #24157
@highfive assign me

[2019-10-02 12:17] highfive commented on #24157
Hey @saschanaz! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-02 16:26] #22799 closed

[2019-10-02 17:44] sreeise opened #24348 "Set multiple audio tracks in media player"
#24265 added support for setting a single audio and video track in the media player but Servo should be able to set multiple audio tracks. A good part of this will need to be done in servo media. The `audiomixer` plugin for GStreamer looks like a good option to use: https://github.com/servo/media/pull/305#issuecomment-530691503

[2019-10-02 17:56] jdm opened #24349 "Support GL video textures as webgl textures"
https://github.com/servo/servo/pull/24233 added support for getting pixel data from a video frame and using that as a webgl texture, but creates an empty frame when we're using GL textures instead of raw pixels.

[code]

[2019-10-02 18:45] #24327 closed

[2019-10-02 21:38] #24138 closed

[2019-10-02 23:14] #24285 closed

[2019-10-02 23:38] jdm opened #24350 "Babylon.js mansion demo doesn't load"
It prefetches a ton of JS scripts, but seems to stop parsing after https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js is executed early on during the page load. Debug output claims that the page has finished parsing at that point, but that doesn't make any sense.

[2019-10-02 23:38] jdm commented on #24350
https://www.babylonjs-playground.com/frame.html#JA1ND3#161

[2019-10-03 02:31] #24157 closed

[2019-10-03 03:27] jdm opened #24351 "Intermittent failure in /html/rendering/non-replaced-elements/the-page/body-margin-2h.html and /html/rendering/non-replaced-elements/the-page/body-margin-2g.html"
[code]

Reference:
<img width="337" alt="Screen Shot 2019-10-02 at 11 26 37 PM" src="https://user-images.githubusercontent.com/27658/66097356-1b5fc280-e56c-11e9-9d32-6e0d4f044fe4.png">
Actual:
<img width="329" alt="Screen Shot 2019-10-02 at 11 26 40 PM" src="https://user-images.githubusercontent.com/27658/66097360-21ee3a00-e56c-11e9-9f67-369779a9e994.png">

[2019-10-03 04:44] jdm commented on #24350
Ok, this is caused by the fetch thread for one of the JS scripts hanging in `wait_for_response` for a response that was previously cached during prefetching. Something got missed; maybe we shouldn't have a valid `done_chan` when we've got a cached response?

[2019-10-03 05:00] jdm opened #24353 "CacheKey constructor should take Request by reference"
In CacheKey's `new` method in `http_cache.rs` it takes a `Request` argument by value, but then it calls a method on it that only needs a borrowed value. We clone request objects every time we call `CacheKey::new`, and this is wasteful.

Code: `components/net/http_cache.rs`

No need to run tests; if it builds, that's good enough for a pull request.

[2019-10-03 05:00] highfive commented on #24353
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-03 05:05] jdm commented on #24350
I fear we have some subtle races in the cache code because we have individual mutexes around various fields of the response and cached response objects. We seem to be hitting an issue where the cache code sees that the response body is still in progress so it adds a channel to the body awaiters, but the body finishes before the awaiter is added and so it is never notified.

[2019-10-03 05:45] jdm opened #24355 "Intermittent failure in/css/css-text/hyphens/hyphens-out-of-flow-001.html"
[code]

[2019-10-03 06:25] jdm commented on #24350
It was not the races that I feared, but I'm still pretty nervous about that risk when I read the code.

[2019-10-03 06:47] paulrouget commented on #24350
You still get the UI? As in, the bottom bar?

[2019-10-03 06:50] jdm commented on #24350
In a debug build of Servo, without the patch in #24356 all I saw was a white screen. With #24356 I see the bottom bar.

[2019-10-03 07:06] paulrouget commented on #24350
Sometimes, I see the bottom bar. I think I had to wait a very long time (minutes?)

[2019-10-03 08:44] CYBAI opened #24357 "Intermittent ERROR in /webxr/xrSession_features_deviceSupport.https.html"
[code]

[2019-10-03 09:01] Tugdual commented on #24353
@highfive: assign me

[2019-10-03 09:01] highfive commented on #24353
Hey @Tugdual! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-03 10:19] PeaceRebel commented on #24353
@highfive, I'm new to rust. Instead of cloning, passing a reference would get it done, right?

[2019-10-03 13:17] paulrouget commented on #24307
After working around the CORS issue, the 4 demos load fully. But:

- in XR mode, trail issue (most like the preserveDrawingBuffer bug). Making the XR mode un-usable.
- it can take a long time to load. Demos are really heavy, but with Servo, release build, it takes longer. Needs investigation.

[2019-10-03 14:13] jdm commented on #24353
@peaceRebel Yes, that is what I suggested. It looks like @Tugdual is working on this, however.

[2019-10-03 14:16] mvashishth commented on #24287
I tried using the blob.text() implemented in Chromium. It returns a string made of all the elements of the blob array. Any reason why we need to convert it to byte sequence first using the "get stream" algorithm?

[2019-10-03 14:27] jdm commented on #24287
@mvashishth All blob contents are stored as a `Vec<u8>` internally. That means that our version of getting the stream obtains a copy of that vec and them converts that into a string or arraybuffer as appropriate. Does that answer your question?

[2019-10-03 18:07] #24336 closed

[2019-10-03 19:24] jdm opened #24363 "Can't move camera in babylon demos"
[code]

[2019-10-03 19:35] jdm commented on #24363
This comes from this code:
[code]
I believe b comes from calling this function:
[code]
And then there's:
[code]
So something about cloneEvent is causing the writable properties not to work right.

[2019-10-03 19:36] jdm commented on #24363
[code]

[2019-10-03 19:41] jdm commented on #24363
Adding SVGElementInstance through a userscript did not make a difference.

[2019-10-03 20:31] jdm commented on #23290
Still hitting this:
<img width="817" alt="Screen Shot 2019-10-03 at 4 31 12 PM" src="https://user-images.githubusercontent.com/27658/66161877-3decec80-e5fb-11e9-9a00-6f8fd0f52ad1.png">
<img width="807" alt="Screen Shot 2019-10-03 at 4 31 17 PM" src="https://user-images.githubusercontent.com/27658/66161882-3fb6b000-e5fb-11e9-9e25-033546022575.png">

[2019-10-04 01:49] #24350 closed

[2019-10-04 10:25] paulrouget commented on #24075
This is where it blocks: https://github.com/Ralith/openxrs/blob/71cea14e8b17eba366c579f28b11d8f135f2a398/openxr/src/session.rs#L386

[2019-10-04 10:47] #24192 closed

[2019-10-04 14:25] jdm commented on #23431
Submitted https://github.com/jrmuizel/raqote/pull/87 for the missing path transform API.

[2019-10-04 15:26] jdm opened #24367 "Timing allow check should only run for cross-origin requests"
Right now we perform the check for every response we get and don't actually compare the current request's origin (or any of the requests in its redirect chain) against the origin of the original source of the request. This means that same-origin requests are treated as failing the timing allow check, which is incorrect.

[2019-10-04 15:26] jdm commented on #24367
Code: `components/net/http_loader.rs` in `http_network_fetch`.

[2019-10-04 15:34] romankl commented on #24367
@jdm could I take a look at this one, please?

[2019-10-04 15:40] jdm commented on #24367
@romankl Sure! The specification is at https://w3c.github.io/resource-timing/#dfn-timing-allow-check; we should be iterating through https://github.com/servo/servo/blob/dc65d825e8a27d6e5604155de7dcb01fcd871123/components/net_traits/response.rs#L91, getting the URL's origin and comparing it against the [request's origin](https://github.com/servo/servo/blob/dc65d825e8a27d6e5604155de7dcb01fcd871123/c

[2019-10-04 15:41] jdm commented on #24367
Of course it looks like the Response's url_list may not be initialized in that code, so we should probably copy it from the request's url list.

[2019-10-04 16:41] jdm opened #24368 "Image cache needs to be keyed on more attributes"
According to https://html.spec.whatwg.org/multipage/images.html#list-of-available-images we need to consider:
* the URL
* the source element's CORS attribute
* an origin (optionally)

[2019-10-04 17:35] jdm opened #24369 "Intermittent font thread panic on macOS"
[code]
This looks like it's probably a regression from #24347 :(

[2019-10-04 21:06] jdm opened #24371 "Response's default statusText should be empty"
Response::new initializes the status to 200 and "OK", but the [specification](https://fetch.spec.whatwg.org/#concept-response-status-message) says this should be the empty byte string.

Code: `components/script/dom/response.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/fetch/api/response`

[2019-10-04 21:06] highfive commented on #24371
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-04 21:09] jdm opened #24372 "DOM Response object doesn't check for opaque filtering"
`FetchResponseListener::process_response` correctly checks for the kind of network response that is received (default, error, opaque, cors, etc.) and calls `Response::set_response_type` to mark the associated DOM Response object as the right kind. However, in the case of the Err and Opaque/OpaqueRedirect cases, it needs to update the members of Response as well to match [the descriptions in the sp

[2019-10-04 21:09] highfive commented on #24372
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2019-10-04 21:12] Manishearth opened #24373 "WebGL errors in many webxr samples"
[code]

I keep getting this in many three.js examples (webvr_ballshooter.html, webvr_sculpt.html are some) on the hololens

I can also trigger it in https://manishearth.github.io/webgl-to-webxr/webxr-input.html if I trigger an exception near the `let input_pose`. If you change that line to throw it should happen.

cc @asajeffrey

[2019-10-04 22:29] marmeladema commented on #23607
@ahal do you plan to release version 1.0.0 on pypi soon? In the mean time, i'll try to vendor it in servo directly as proposed by @SimonSapin

[2019-10-05 00:28] asajeffrey commented on #24373
Lets see if this magically goes away once surfman is in place.

[2019-10-05 00:37] #21995 closed

[2019-10-05 00:53] ahal commented on #23607
Done.

[2019-10-05 02:32] emhagman commented on #24371
@highfive: assign me

[2019-10-05 02:32] highfive commented on #24371
Hey @emhagman! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-05 12:39] PeaceRebel commented on #24372
@highfive: assign me

[2019-10-05 12:39] highfive commented on #24372
Hey @PeaceRebel! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-05 13:38] schumannd opened #24376 "Links contining the string "pushme" become hidden"
I don't know what the reason for this is. Here is a small example:

[code]

The link is not visible in e.g. firefox, but visible anywhere else. Maybe it's not a servo bug, but something firefox related?

Definitely one of the stranger bugs I have encountered.

[2019-10-05 13:41] emilio commented on #24376
`data:text/html,<!doctype html><a href="/something/pushme/">I should be visible</a>` is pretty visible in my Firefox build... Does it reproduce in a clean profile? This is the kind of thing that an add-on may do.

In any case this is probably better reported in https://bugzilla.mozilla.org/

[2019-10-05 13:45] schumannd commented on #24376
it was reproduced by all firefox users I know. But you are right, it is caused by ublock origin.

[2019-10-05 13:45] #24376 closed

[2019-10-05 13:56] emilio commented on #24376
Huh, weird, I also use uBlock origin, but it seems uBlock doesn't inject their stylesheets in `data:` documents. If I load it from a file I can indeed repro. But I can find the cause pretty easily if I toggle the "show user agent styles" checkbox in the devtools config (which just toggles `devtools.inspector.showUserAgentStyles` in about:config).

There's this massive rule (wow):

<details>

[code

[2019-10-05 14:43] #24353 closed

[2019-10-05 16:06] emhagman commented on #24371
@jdm This is my first contribution to something like this. I've built `servo` and ran the tests and they pass without any changes. I was wondering if there was something wrong with the test suite?

[code]

Passes without any failures and with no modifications to the original source.

[code]

[2019-10-05 18:48] PeaceRebel commented on #24372
@jdm: Is it `Response::set_response_type` or did you mean `Response::set_type` ?

[2019-10-06 01:09] tigleym commented on #24248
I'd like to try working on this.

@highfive assign me

[2019-10-06 01:09] highfive commented on #24248
Hey @tigleym! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-06 09:29] gterzian opened #24380 "Intermittent failure of fetch::test_fetch_blocked_nosniff"
[code]

Noted while running tests locally at https://github.com/servo/servo/pull/24318

[2019-10-06 10:00] LesnyRumcajs commented on #24286
@Ghosty141 are you working on this? If not I can grab this one.

[2019-10-06 13:29] Asalle commented on #24286
@highfive assign @LesnyRumcajs

[2019-10-06 13:33] Asalle commented on #24286
I failed :(

[2019-10-06 13:38] Asalle commented on #24290
@SiddharthaMishra are you working on this? Otherwise, i'd like to start with it.

[2019-10-06 13:44] SiddharthaMishra commented on #24290
Yeah. Sorry about delaying this, I'll finish up ASAP.

[2019-10-06 14:10] Asalle commented on #24290
@SiddharthaMishra can you assign it to yourself then?

[2019-10-06 14:18] SiddharthaMishra commented on #24290
@highfive: assign me

[2019-10-06 14:18] highfive commented on #24290
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2019-10-06 14:21] CYBAI commented on #24372
@PeaceRebel yeah, I would guess it's a typo and @jdm meant `Response::set_type` 👀

[2019-10-06 20:16] marmeladema commented on #23607
Thank you very much! I made some progress in the past few days but i wonder if I should keep compatibility with Python2.7 or if i can migrate everything to Python 3?

Right now most things work, but to properly finish migration it will require some work in `web-platform-tests` because even though they are some ongoing efforts to support Python 3, its not done yeyt

[2019-10-06 20:19] filips123 commented on #23607
I'm not from official Servo team, but I think support for Python 2 is not needed anymore. Python 2.7 will [not be suported](https://pythonclock.org/) in 2020 so it would be insecure to use it.

[2019-10-06 21:36] SimonSapin commented on #23607
It would be unfortunate IMO to require both Python 2.7 and 3.x in order to build Servo (or some other task like running tests). Therefore, it would be nice if we could maintain compatibility with 2.7 until we are confident that everything supports 3.x.

If such compat proves difficult or costly to implement or maintain, we can reconsider.

[2019-10-06 23:05] jdm commented on #23607
We already require 2.7 and 3.x to build servo - mozjs won't build without pyhthon 3 available in your path.

[2019-10-07 01:51] jdm commented on #24098
I just published the changes from https://github.com/jdm/tinyfiledialogs-rs/commit/d31ce3a9831e63f9735db1f4cc9a2cbcd6e7adfb. We should update to 3.3.9 and see if that makes a difference.

[2019-10-07 06:25] SimonSapin commented on #23607
oh no

[2019-10-07 10:28] rasviitanen commented on #24271
@highfive: assign me

[2019-10-07 10:28] highfive commented on #24271
Hey @rasviitanen! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-07 12:56] paulrouget commented on #24075
For some reason, blocking is not happening anymore. But there are still some issues:

What needs to work:

1. as the IM is running, go to start menu, wait 10 seconds, IM mode should still be animating
2. as the IM is running, calling, in JS, `session.end()`, should bring the user back to the 2D view that is still animating.
3. as the IM is running, going to the start menu, then dismissing it, shou

[2019-10-07 12:58] paulrouget commented on #24075
Not getting the block issue anymore with openxr version 100.1908.0.3002

[2019-10-07 13:43] paulrouget commented on #24075
One of the issue with the RAF not being called in the webxr-ar demo was an issue with the demo itself. RAF is properly called but nothing is rendered (keeping in mind that in the case of the bbjs demo, the webgl canvas is properly updated).

[2019-10-07 14:05] paulrouget commented on #24075
Other issue with webxr-ar is that 1) viewport is not reset 2) after the IM session, it's still bound to xrLayer.frameBuffer.

[2019-10-07 14:23] paulrouget commented on #24075
webxr-ar demo updated: http://paulrouget.com/test/webxr-ar.html

[2019-10-07 14:53] nox commented on #12995
There are no link errors anymore but it still takes forever to (re)build.

[2019-10-07 15:21] paulrouget opened #24385 "Reload goes back in time (http cache issue?)"
STR:

- create a file `test.html` which contains just the letter `a`
- make it available via http (`python3 -m http.server 8080`)
- load it with servo
- change the content of `test.html`: `a` to `b`
- reload. see `b`
- reload. see `a`

[2019-10-07 19:23] #24371 closed

[2019-10-07 19:30] jdm commented on #24385
Hmm, I could reproduce this in a build based on ea4e3aee91ede11a00b17c3d806e305f4a7f5a92, but not in a build based on 37ab273c826eb8b74882362db4584657fb448bb5. Now the cached entry is always used and I never see the updated content.

[2019-10-07 19:31] jdm commented on #24385
Nevermind, I can still reproduce it.

[2019-10-07 19:39] jdm commented on #24385
This looks like it happens because http_network_or_cache_fetch calls HttpCache::store after a revalidation request that returns a non-306 response. That means there are two cached responses, and then reloading calls HttpCache::refresh when the new revalidation request returns a 304. HttpCache::refresh just returns the first cached response, which is the older one in this case.

[2019-10-07 19:55] jdm commented on #24385
I think we should make HttpCache store overwrite any existing complete response so that we only ever have one complete response and an arbitrary number of incomplete responses for a particular cache entry.

[2019-10-08 00:23] Manishearth opened #24389 "Support gamepads in WebXR"
Currently our Gamepad code is tied to the VR API.

It's also not live -- the Gamepad objects need to be manually updated, which is incorrect (https://github.com/servo/servo/issues/23269)

I propose we remove support for `navigator.getGamepads()` and repurpose the existing Gamepad code for WebXR only. We can re-add support for `navigator.getGamepads()` if we ever decide to support standard (like, g

[2019-10-08 00:48] Manishearth commented on #24389
cc @jdm how much do we care about the current rust-webvr gamepad support?

[2019-10-08 01:00] #24330 closed

[2019-10-08 01:00] #24368 closed

[2019-10-08 01:32] jdm commented on #24389
If it's holding us back, I'm not too attached to it.

[2019-10-08 09:53] gterzian commented on #24385
It's weird, on my Mac with python 3, it seems the server doesn't understand the `if-modified-since` request header, and responds with a 200 even though the resource has been modified...

see some printed logs.
[code]

[2019-10-08 09:56] gterzian commented on #24385
Also note that the "need to revalidate" is calculated based on the `Last-Modified` header of the cached resource, so one really needs to create, or modify, the `test.html` file right before starting the manual test, since otherwise the cached resource will remain valid for quite some time(10% of the time elapsed since the file was modified).

[2019-10-08 10:08] nox commented on #12995
Actually, nothing more can be done here, it does reuse artefacts from one debug-mozjs build to the next one and it doesn't fail to link.

[2019-10-08 10:08] #12995 closed

[2019-10-08 16:15] asajeffrey commented on #24373
Once servo+surfman is ready, WebXRGLLayer will have a completely different code path for creating the framebuffer, since it'll be backed by a swap chain rather than a GL framebuffer.

[2019-10-08 16:29] jdm commented on #24373
I understand. I think it's still valuable to address an issue that's preventing experimenting with existing XR content rather than waiting until surfman is ready, though.

[2019-10-08 18:00] mvashishth commented on #24287
Servo takes an hour to build on my laptop. Is there a way I can only build specific components? Also, can I ask Rust and WebIDL syntax related questions here?

[2019-10-08 19:51] jdm opened #24395 "getInputSources API isn't spec-compliant"
The WebXR spec calls for XRSession to have a [inputSources](https://immersive-web.github.io/webxr/#xrsession-interface) attribute that returns a FrozenArray. We have a `getInputSources` method that returns a sequence instead, because of https://github.com/servo/servo/issues/10072. I think the best way to deal with this is make our attribute return an `any` WebIDL value, store a cached JSVal that i

[2019-10-08 19:51] jdm commented on #24395
This breaks various three.js demos.

[2019-10-08 19:58] jdm commented on #24373
This is fascinating - https://manishearth.github.io/webgl-to-webxr/webxr-broken.js triggers this panic, and https://manishearth.github.io/webgl-to-webxr/webxr-ar.html does not. The only difference is that webxr-broken.js [throws an exception](https://github.com/Manishearth/webgl-to-webxr/blob/d1c7f2e2d564a70c2025627a8f19932b0b00aa80/webxr-broken.js#L219), while the GL error occurs when running the

[2019-10-08 20:13] Manishearth commented on #24395
It's not a FrozenArray, that was the change we made in the spec, it's an iterable. We support this I think.

[2019-10-08 20:16] jdm commented on #24395
Indeed!

[2019-10-08 21:00] jdm commented on #24287
You can run `./mach build -d -p script` to only build changes in code in components/script and anything it depends upon, but I doubt it would make much difference. `./mach check` will typecheck your changes without building binaries and should be much quicker. And yes, you can ask questions about Rust and WebIDL here.

[2019-10-08 21:02] jdm commented on #24373
I suspect the difference in behaviour comes from not running `gl.finish()` in the VR callback when the exception occurs. I'm seeing if calling Finish before returning from the XRWebGLLayer constructor is enough to avoid this problem.

[2019-10-08 21:12] phxvyper opened #24396 "mach check fails when checking layout_2013"
I am on the latest commit on `master`. This is the erroneous output when running `mach check`:

[code]

[2019-10-08 21:21] jdm commented on #24396
That looks like you've updated the webrender crate somehow: https://doc.servo.org/webrender_api/struct.ImageDisplayItem.html

[2019-10-08 22:29] phxvyper commented on #24396
I re-cloned so that I wouldn't have an updated webrender.

I'm getting this build error now:
[code]

Since this isn't actually related to my original issue, should I close this and open another issue?

[2019-10-08 22:50] jdm commented on #24396
Sure.

[2019-10-08 22:50] #24396 closed

[2019-10-08 22:58] phxvyper opened #24398 "Build fails at glib-sys step"
After following the instructions for building on windows, this is my output when running `mach check`:

[code]

is glib-2.0 an external dependency I need to download or build?

[2019-10-08 23:52] phxvyper commented on #24398
Searched my system for `glib-2.0.pc` and found it in gstreamer's lib folder. I added the directory `C:\gstreamer\1.0\x86_64\lib\pkgconfig` to my PKG_CONFIG_PATH environment variable and that seems to have fixed the issue.

Is this a normal step that has to be done on windows? If so, this should be added to the steps for building no? I don't recall seeing an option to add/alter any environment vari

[2019-10-09 01:48] jdm opened #24399 "Intermittent panic in fetch test (/fetch/stale-while-revalidate/fetch.html)"
[code]

[2019-10-09 01:52] jdm commented on #24399
I suspect this may be a regression from #24203.

[2019-10-09 01:53] jdm commented on #24399
For example, we could end up calling wait_for_cached_response with a None response if HttpCache::construct_response [returns None](https://github.com/servo/servo/blob/9c3e4a74db814efea138c5dab383b064963646ad/components/net/http_loader.rs#L1076-L1077).

[2019-10-09 01:53] jdm commented on #24399
cc @gterzian

[2019-10-09 01:57] jdm commented on #24399
Also we could end up calling wait_for_cached_response [when revalidating](https://github.com/servo/servo/blob/9c3e4a74db814efea138c5dab383b064963646ad/components/net/http_loader.rs#L1109-L1122) and there will be a None response value.

[2019-10-09 02:54] #24395 closed

[2019-10-09 03:46] atouchet commented on #24098
I tried testing this to see if #24382 improved the situation but now I am having issues properly reproducing the original issue. The first URL loads but then when trying to navigate to https://w3c-test.org/canvas/ I get a "Unknown content type (application/json)." error.

[2019-10-09 04:03] atouchet opened #24400 "Navigating to a new page"
Steps to reproduce:

1. Press Ctrl + L and enter https://servo.org/bhtml-newtab/newtab.html
2. Click on the DuckDuckGo tile to navigate to https://duckduckgo.com/html/
3. Press Ctrl + L and enter https://servo.org/bhtml-newtab/newtab.html again. This time https://servo.org/bhtml-newtab/newtab.html does not load and the page remains on https://duckduckgo.com/html/. The windows title bar does change

[2019-10-09 04:16] atouchet commented on #24400
This issue also occurs when attempting to load a new page instead of reloading https://servo.org/bhtml-newtab/newtab.html.

[2019-10-09 04:56] gterzian commented on #24399
Ah yes, I added that assertion in https://github.com/servo/servo/pull/24318#issuecomment-539537001

Yes, and the assertion is nested within this block https://github.com/servo/servo/blob/9c3e4a74db814efea138c5dab383b064963646ad/components/net/http_loader.rs#L1162

and logically if the done channel is set to something, the response should not be `None`, since that implies waiting on a channel for a

[2019-10-09 10:03] paulrouget commented on #24363
Which demo?

[2019-10-09 10:05] paulrouget commented on #24307
There are pose issues. Moving 45deg slowly and moving 45% fast does not bring the camera to the same position.

[2019-10-09 10:06] paulrouget commented on #24307
Also the loading screen doesn't show up.

[2019-10-09 11:28] jdm commented on #24363
Anyif the ones that I've tried on desktop.

[2019-10-09 11:31] paulrouget commented on #24363
Oh, not in immersive mode right?

[2019-10-09 11:34] jdm commented on #24363
Correct.

[2019-10-09 11:52] paulrouget commented on #24307
This appears to be an artefact. With the basic demo, we can always find the sphere at the right place after moving around.

[2019-10-09 13:14] jdm opened #24405 "Intermittent timeout in /html/interaction/focus/the-autofocus-attribute/skip-document-with-fragment.html"
[code]

[2019-10-09 13:26] saschanaz opened #24406 "URLSearchParams constructor interprets an array as a record"
[code]

Expected: An error, because the constructor requires `sequence<sequence<USVString>>`.
Actual: Instead it interprets as a record, so the result is `0=ab&length=1`. The spec says [sequences and records are distinguishable](https://heycam.github.io/webidl/#dfn-distinguishable), so this shouldn't happen.

See also #19776 which is also a distinguishablity problem.

[2019-10-09 15:00] asajeffrey commented on #24373
One possible root cause for this is that we assert (in debug mode) that there's been no GL errors, but I suspect in some cases that relies on the WebGL code being correct. For example `glClear` can error in all sorts of ways, some of which depend on the WebGL code being executed. AFAICT if the WebGL code is incorrect, then rather than reporting a WebGL error, we're panicing at https://github.com/s

[2019-10-09 16:28] #24399 closed

[2019-10-09 19:44] SiddharthaMishra commented on #24290
@jdm, since our blob URL store has keys which are UUIDs instead of the entire urls as in the standard, does it make sense to serialize the entire URL? Should the behavior of the URL store hashmap be changed to accept the entire urls as keys?

[2019-10-09 19:47] tigleym commented on #24248
@jdm the above pull request addresses specifically the `pageX` and `pageY` attributes, although I realize that `offsetX` and `offsetY` are missing as well (https://drafts.csswg.org/cssom-view/#dom-mouseevent-offsetx).

As for tests, I added a simple one in `tests/wpt/web-platform-tests/css/cssom-view/mouseEvent.html`. I'd like to also test for the existence of the attribute on the interface itself

[2019-10-09 20:30] jdm commented on #24248
Great question about the idlharness test! I dug into it, and it turns out the cssom-view.idl is failing the WebIDL validation tests because the partial interface for MouseEvent that it contains (https://github.com/web-platform-tests/wpt/blob/0d9fecceac869018c2b54b6251600f3d184d98c0/interfaces/cssom-view.idl#L141-L152) duplicates some properties from uievents.webidl (https://github.com/web-platform

[2019-10-09 20:31] jdm commented on #24248
In a delightful twist, there is a known issue in that the CSSOM View spec redefines existing members that is called out at the top of https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface.

[2019-10-09 20:58] dresswithpockets opened #24410 "Out of memory error when compiling servo on Windows 64 bit"
On 64 bit Windows 10 Enterprise. 16 GB Physical RAM, 8 GB Virtual RAM. Running clang 8.0.0

Before running `mach build --dev -j1 --verbose` I have 9 GB of RAM committed out of 20.1 GB total committable RAM.

When analyzing the private bytes history of `rustc` using Process Explorer, the program never goes above about 400 MB. It peaks around 400, then goes back down to 200 or so before exiting due

[2019-10-09 21:02] jdm commented on #24410
On macOS I've seen rustc use over 6gb of RAM when building libscript, and now that there's pipelining enabled in the compiler it's possible this number is larger. I don't know that there's anything we can do if you're running out of memory when building.

[2019-10-09 21:19] phxvyper commented on #24410
is libscript the only thing that should take so much RAM to compile? I've already compiled libscript successfully, this error is from compiling libservo.

[2019-10-09 21:26] jdm commented on #24410
If you're linking libservo, then maybe there's a separate linker program that's taking lots of memory, in that case.

[2019-10-10 14:03] jdm commented on #23009
The work in #23061 was on the right track, but I had some review comments that needed to be addressed and the author disappeared.

[2019-10-10 14:14] jdm commented on #23057
The proposed fix in #23651 was on the right track, but I had some review comments that need to be addressed and the author has moved on to other things.

[2019-10-10 14:58] ferjm opened #24413 "Media playback is broken on Android"
Servo is crashing while loading any of these two test urls:

- https://ferjm.github.io/web-api-tests/video/index.html
- https://ferjm.github.io/web-api-tests/audio/index.html

I got this from the generated tombstone:
[code]

Unfortunately this is a release build and I am currently unable to create debug builds for Android.

[2019-10-10 16:02] ferjm commented on #24413
This seems to be happening since very long :\

#22692 seems to be the culprit. And I get a similar output with no crash with the testcase at https://github.com/servo/media/issues/282 So I suspect this is an issue with progressive download on Android.

[2019-10-10 16:21] ferjm commented on #24413
I just confirmed that disabling progressive downloading on Android fixes media playback

[2019-10-10 16:30] jdm commented on #24290
@SiddharthaMishra I think the RevokeBlobURL message should be changed to accept a Url value instead of an id and an origin. The code that processes the message can parse the blob url and ignore it if there's any fragment or query string present.

[2019-10-10 16:39] #24413 closed

[2019-10-10 16:43] tigleym commented on #24248
Thank you for looking into this! Glad to see the appropriate fix for testing these MouseEvent attributes was merged in: https://github.com/web-platform-tests/wpt/pull/19611

[2019-10-10 16:49] jdm opened #24415 "Make mouse events calculate client/screen properties correctly"
The clientX/clientY and screenX/screenY properties should return the same value according to my reading of https://drafts.csswg.org/cssom-view/#dom-mouseevent-screenx and https://drafts.csswg.org/cssom-view/#web-exposed-screen-area. We should make MouseEvent::new accept a single coordinate which is relative to the page, then calcuate the coordinate relative to the document's window's viewport (ie.

[2019-10-10 16:52] jdm commented on #24248
We should pick those changes up automatically in tomorrow's sync.

[2019-10-10 17:34] atouchet commented on #24263
Is this still an issue?

[2019-10-10 18:00] jdm commented on #24263
I don't believe so.

[2019-10-10 18:00] #24263 closed

[2019-10-10 18:21] jdm commented on #23330
Unassigning due to lack of activity.

[2019-10-10 18:21] jdm commented on #22888
@mmiecz Have you made any progress on this?

[2019-10-10 18:23] jdm commented on #22782
Unassigning due to lack of activity.

[2019-10-10 18:27] jdm commented on #23057
@peacerebel This might be a good next issue to work on!

[2019-10-10 18:48] #21132 closed

[2019-10-10 21:00] jdm commented on #24373
Sadly I can't reproduce this under the glwindow backend on mac.

[2019-10-10 21:08] mmiecz commented on #22888
Yes, the test is passing now, but I still have to clean up the code ( remove unwraps, etc. ). I will create PR soon, so you can make some comments, because I am not entirely sure about the solution.

[2019-10-10 23:28] #24289 closed

[2019-10-11 02:55] #21268 closed

[2019-10-11 03:23] atouchet commented on #21132
I tried marking this as done in the WebGL metabug but it appears I no longer have issue editing access. Was there a permissions change or is this an issue on my end?

[2019-10-11 03:27] jdm commented on #21132
Github introduced a new permissions level called Triage and made the Write and Maintain levels have access to push directly to the master branch. We downgraded most of the people with access to the servo organization repositories to the Triage level, but that apparently no longer includes write access to issues :<

[2019-10-11 03:42] atouchet commented on #21132
Ah, alright. It looks like it also limits project editing as well (although strangely not projects of the org itself).

[2019-10-11 04:36] #24282 closed

[2019-10-11 06:26] garasubo commented on #22782
@highfive assign me

[2019-10-11 06:26] highfive commented on #22782
Hey @garasubo! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-11 07:47] kitlith commented on #22854
would some sort of global/static make sense to get rid of those? i.e. have a couple of bools, default_disable_style_sharing_cache and default_dump_style_statistics, behind a static Mutex (or a type from a lazy initialization crate) which are set shortly after reading the options?

[2019-10-11 09:02] ceyusa commented on #24413
Would be great if you can grab a log GST_DEBUG=downloadbuffer:8

[2019-10-11 12:23] jdm commented on #22854
That's a good idea! It would be an improvement over the status quo because the use of opts::get would stop, and it would be a global that's private to a particular crate.

[2019-10-11 13:28] CYBAI commented on #24161
Seems related 🤔

[code]

[2019-10-11 14:40] nox opened #24419 "Put back malloc_size_of_derive in our repository"
It makes no sense that we are using a crate from crates.io to derive a trait that is not on crates.io.

[2019-10-11 14:43] nox commented on #24419
Cc @emilio

[2019-10-11 15:02] nox opened #24421 "Remove syn 0.15 from our crate graph"
This is mostly done, but there are still crates relying on it:

* [x] [`glutin`](https://github.com/servo/servo/pull/24887)
* [x] [`image`](https://github.com/image-rs/image/issues/1073)
  * [x] [`tiff`](https://github.com/image-rs/image-tiff/issues/60)
* [x] [`serde`](https://github.com/servo/servo/pull/24887)
* [x] [`webrender`](https://github.com/servo/webrender/issues/3853)
* [x] `webrender_ap

[2019-10-11 15:33] ferjm commented on #24413
That is not specially easy on Android. But I'll see if I can get something :)

[2019-10-11 15:37] jdm commented on #24413
@ferjm `mach run --android` has special support for setting RUST_LOG in https://github.com/servo/servo/blob/46b048c0a5e25579496b32e629db9009c675e3fe/python/servo/post_build_commands.py#L93-L121 and https://github.com/servo/servo/blob/ab959253279ac8a07a5fd089aafe7804ae910874/support/android/apk/servoapp/src/main/java/org/mozilla/servo/MainActivity.java#L78 so you could extend that to support GST_DE

[2019-10-11 15:41] jdm opened #24423 "Intermittent timeout in /webxr/xrSession_input_events_end.https.html"
[code]

[2019-10-11 16:28] asajeffrey opened #24425 "Implement WebVR on top of WebXR"
We are currently using two crates `rust-webvr` (https://github.com/servo/rust-webvr) and `webxr` (https://github.com/servo/webxr). The future is the `webxr` crate, we should implement `WebVR` on top of it, rather than on top of `rust-webvr`.

[2019-10-11 16:29] asajeffrey commented on #24425
cc @Manishearth (I'm surprised we didn't file an issue for this, but if we did I failed to find it!)

[2019-10-11 16:31] asajeffrey commented on #24256
I updated the issue description to point to repos and add https://github.com/servo/servo/issues/24425.

[2019-10-11 16:49] #24372 closed

[2019-10-11 17:28] tomasdivito commented on #23330
I will take a look :)

@highfive: assign me

[2019-10-11 17:29] highfive commented on #23330
Hey @tomasdivito! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-11 18:55] PeaceRebel commented on #23057
Will take a look at this tomorrow.

[2019-10-12 02:52] CYBAI commented on #22955
[code]

[2019-10-12 08:03] KiChjang opened #24428 "Servo on Windows starts with errors on GLib, shows white screen and freezes"
[code]

I am using GStreamer version 1.16.1 instead of 1.16.0. Would that be the cause of this problem?

[2019-10-12 08:04] CYBAI commented on #24428
cc @ferjm @ceyusa

[2019-10-12 08:41] pajamapants3000 commented on #21254
@highfive: assign me (please!)

[2019-10-12 08:41] highfive commented on #21254
Hey @pajamapants3000! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-12 10:07] saschanaz commented on #21462
Currently it fails in https://w3c-test.org/fetch/api/headers/headers-record.html:

than once

[2019-10-12 10:49] pajamapants3000 opened #24430 "Add an API to ResourceFetchTiming called set_attribute_from"
I suggest that we add an API to ResourceFetchTiming called set_attribute_from that takes two ResourceAttribute arguments and sets the first attribute based on the value of the second attribute.

_Originally posted by @jdm in https://github.com/servo/servo/issues/21254#issuecomment-458547366_

[2019-10-12 10:51] pajamapants3000 commented on #24430
I intend to work on this (@highfive: assign me ?) as part of #21254

[2019-10-12 10:51] highfive commented on #24430
Hey @pajamapants3000! Thanks for your interest in working on this issue. It's now assigned to you!

[2019-10-12 16:47] ceyusa commented on #24428
It looks like the gstreamer is initialized twice, perhaps in different threads, like a race condition... mmmhh ... I wonder why.

[2019-10-13 14:58] pajamapants3000 commented on #21254
@jdm I created #24430 for adding the `set_attribute_from()` method you suggested, but I was wondering about a different possible approach. I was thinking of adding a `ResourceTimerValue` enum to, eventually, replace `RedirectStartValue` and `RedirectEndValue` and also be used for the future implementation of additional timers (like startTime). It would have variants `Zero`, `Now`, `FetchStart`, pl

[2019-10-14 08:07] ferjm commented on #24428
@KiChjang is this only happening while running WPTs?

[2019-10-14 09:56] #24075 closed

[2019-10-14 09:58] paulrouget opened #24437 "Investigate why we get XR STOPPING events when opening the menu for some demos"
With http://paulrouget.com/test/webxr-ar.html, as soon as the start menu appears.
With http://paulrouget.com/test/bbjs/basic/ , the 2nd time the menu appears, followed by a full reload

Looking at it now.

[2019-10-14 10:00] paulrouget opened #24438 "Investigate why app gets unloaded for some demos"
With http://paulrouget.com/test/bbjs/basic/ , when the 2nd time the menu appears. See #24437. Also happens when clicking on the greyed out window after going to the home menu.

[2019-10-14 10:01] paulrouget opened #24439 "bbjs basic demo doesn't work anymore"
Haven't looked yet: `http://paulrouget.com/test/bbjs/shared/babylon.max.js:41872:21 browserGamepad is undefined`.

[2019-10-14 10:02] paulrouget opened #24440 "Make sure pinning Servo works as expected"
I haven't had a chance to properly test this. Pinning the app appears to work. 2D WebGL content is not rendered (I guess that's normal). I haven't tried to close and bring back the XAML window while in immersive mode yet.

[2019-10-14 14:33] CYBAI opened #24442 "Remove text in input doesn't work correctly"
While trying to search something on [Indeed JP](https://jp.indeed.com/), I found I can't remove text in the `input[type=text]` correctly 🤔

![indeed-opt](https://user-images.githubusercontent.com/6782666/66758948-41755300-eeda-11e9-8d2c-d01c35538300.gif)

Built with eee2c895f4 on macOS 10.14.6

[2019-10-14 15:15] ferjm commented on #24413
[code]

[2019-10-15 02:25] atouchet commented on #24421
malloc_size_of_derive has been updated: #24445

[2019-10-15 02:49] CYBAI commented on #24442
I tried to observe what happened with indeed's [minified homepage script](https://d3hbwax96mbv6t.cloudfront.net/hp/s/3e54d7553c5a157b5ea6/scripts/homepage.js).

After trying to reduce the possible causes,

[code]

I found it's related to the keyup event

[code]

The value is not set correctly in the `setState`.

If I change it to `currentQuery: a`, then I can remove text in input correctly.

Maybe

[2019-10-15 08:28] paulrouget commented on #23908
Relevant: https://github.com/immersive-web/webxr/issues/426

[2019-10-15 09:24] SimonSapin opened #24446 "`warning: use of deprecated item 'std::mem::uninitialized'` in uses of cssparser"
Since https://github.com/servo/rust-cssparser/pull/252, cssparser uses `MaybeUninit` when available so this warning should not happen. Availability is detected through the `autocfg` crate which tries to compile a test program. At the moment we used `[patch.crates-io]` to use a fork `autocfg` with https://github.com/servo/autocfg/commit/d040e25ff6c129189306011f6a0ff210e08227a0 in order to pass `$RU

[2019-10-15 09:43] nox opened #24448 "Switch to rand 0.7"
This would remove the need for the two forked `rand` crates and also remove `autocfg` from that part of the crate tree.

* [x] [`gaol`](https://github.com/servo/gaol/pull/55)
* [x] [`ipc-channel`](https://github.com/servo/ipc-channel/pull/244)
* [x] [`phf_generator`](https://github.com/sfackler/rust-phf/issues/154)
* [x] [`uuid`](https://github.com/uuid-rs/uuid/issues/431)
* [x] [`ws`](https://git