[2017-03-11 04:13] 1Jamie commented on #13035
I'm trying to work on this but making zero headway, not sure what code is handling the panic

[2017-03-11 09:01] ferjm commented on #14519
Closed #14519 via #15889

[2017-03-11 09:01] #14519 closed

[2017-03-11 10:55] SimonSapin opened #15912 "warning: redundant linker flag specified for library `dbus-1`"
#15704 introduces a new warning, in the title. I’ve filed https://github.com/diwic/dbus-rs/issues/79 since the same warning occurs when compiling from that repository.

[2017-03-11 12:05] simartin commented on #15858
I'd like to handle this one

[2017-03-11 14:00] simartin commented on #15677
FWIW with the patch in https://github.com/servo/servo/pull/15914, I don't get a crash with http://dataforge.com.br:8080

[2017-03-11 18:54] simartin commented on #15725
I'll take a stab at this one

[2017-03-11 18:55] CajetanP commented on #15162
Hello everyone!
I'm very interested in the project, but I wanted to begin with understanding the code base.
Could you point me in the right direction and tell me where should I start reading?
Which source file is the "main" one or something?
It's the first web browser engine's code I'm looking at and I'm quite confused at this point.

[2017-03-11 21:48] upsuper commented on #15895
Dupe of #15441.

[2017-03-11 21:48] #15895 closed

[2017-03-12 01:53] munyari commented on #15401
Hey @jdm, sorry for taking so long to update on this issue. Life gets in the way sometimes. I've now opened my PR.

[2017-03-12 20:02] jonathandturner commented on #12125
@codec-abc - I was just playing around with the new VS 2017 Community edition last week.  It seems to debug Servo pretty well out of the box.

I'm currently working on some improvements, so that, eg, you can see std structs like Vec and String a bit better, but it at least does let you step and set breakpoints and watches.

[2017-03-12 20:09] BladeMight commented on #12125
Does that mean that VS can debug Rust?

[2017-03-12 20:17] jonathandturner commented on #12125
@BladeMight - yes, it should be able to debug Rust out of the box.  The experience has some rough edges, but you can start up an application, attach to it from the VS debugger, hit pause, and drop into the Rust code.

[2017-03-12 20:21] lnicola commented on #12125
My experience, with simpler programs than Servo, is that breakpoints more or less work, but VS doesn't know about Rust's `main()` and will often prompt for C++ library source code. I haven't had much success with watches, though.

[2017-03-12 20:22] jonathandturner commented on #12125
@lnicola - is that with VS 2017 or an earlier version?

[2017-03-12 20:22] lnicola commented on #12125
@jonathandturner VS 2017

[2017-03-12 20:25] jonathandturner commented on #12125
@lnicola - interesting.  I've seen a little of that, but I seem to be having more success with it.  I'd be curious to compare notes and see what the difference is.

[2017-03-12 21:16] jonathandturner commented on #12125
@lnicola - I've started a list of the issues we need to tackle to help polish the debugging experience in VS.  Feel free to add the ones you're hitting to it: https://github.com/rust-lang/rust/issues/40460

[2017-03-12 22:55] askalski commented on #15162
Hi.
I know a lot about rendering. Both meshes (gamedev experience) and raster (mapping experience). Need SVG renderer?

[2017-03-13 00:57] upsuper opened #15921 "Implement geckolib glue for caret-color"
`caret-color` property was implemented in #15465, but its corresponding geckolib glue is not added. It needs to be added to make it work with stylo.

[2017-03-13 03:36] shinglyu commented on #15776
Nice, I can help updating the wiki later this week

[2017-03-13 03:40] shinglyu commented on #12675
@vernans I think simply add more fields is fine. Just be careful not to alter the structure of the JSON output (e.g. more or fewer layers of parenthesis)

[2017-03-13 04:03] jeremywangyuan commented on #15776
I wrote some too
https://github.com/jeremywangyuan/NCTU-Servo-Android-Browser-MVP/blob/master/Building%20servo%20for%20Android.md
I built successfully, but still error in package

[2017-03-13 04:46] upsuper commented on #14455
Since rust-bindgen is now a build-dependency of geckolib, I think this is no longer an issue.

[2017-03-13 04:46] #14455 closed

[2017-03-13 05:00] jackwithoutjill commented on #12125
"but often require some knowledge of Windows which almost no one in the Servo community has much of." In other words, this whole project is just a niche for mac and linux techies. Not having a single developer on the team with full experience with an OS that has ~90% market share is just amateurish and a joke.

[2017-03-13 05:14] upsuper commented on #15921
@Wafflespeanut pointed out that this is a dupe of #15842

[2017-03-13 05:14] #15921 closed

[2017-03-13 05:22] ssokolow commented on #12125
No, it just means that the few people who *do* have that knowledge have other, more urgent things to do. (Bugs that affect all platforms equally, deep knowledge that they have to exercise which is even rarer than Windows knowledge, etc.)

Note the "almost" in "almost no one".

[2017-03-13 05:28] Wafflespeanut commented on #15162
@CajetanP It's not a good idea to start reading from the main function. There's so much stuff to easily discourage people. Usually, people make a guess on where to look into, based on the issue of choice, and traverse the code from there. If you still want it, then the entry point for the wrapper is [here](https://dxr.mozilla.org/servo/source/ports/servo/main.rs). The browser engine's entry point

[2017-03-13 05:33] Wafflespeanut commented on #15881
Hm, I'm not sure. We've already listed `setuptools` in `requirements.txt`. Could you try deleting the `python/_virtualenv` directory and `./mach build` again?

[2017-03-13 08:33] karan1276 commented on #4344
I did some research, gecko [implements this](https://developer.mozilla.org/en-US/docs/Mozilla/Accessibility/Accessibility_architecture) in a good way. Webkit is also doing something very similar.

There are 2 layers:
- Platform dependent - since all platforms have their own API's we write this layer so  we get a consistent interface on all platform.
- Platform Independent layer - This layer mainta

[2017-03-13 09:06] emilio opened #15925 "Make tidy check for -> () return values."
https://github.com/servo/servo/pull/15924 introduced a few functions with `-> ()` in the signature, which isn't needed at all.

Unless there's some reason for doing it, tidy should fail when finding something like it.

@Wafflespeanut, I can't dig into tidy's source right now, would you be able to mentor this?

[2017-03-13 09:08] Wafflespeanut commented on #15925
Oh, cool with me :)

[2017-03-13 09:08] highfive commented on #15925
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-13 09:53] upsuper commented on #15925
Ah, sorry about that. I thought I had removed all...

[2017-03-13 10:26] lucantrop commented on #15925
Hey, I'd like to do this one, if that's ok,
@highfive: assign me

[2017-03-13 10:26] highfive commented on #15925
Hey @lucantrop! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-13 13:07] codec-abc commented on #15698
I have started to look at this bug and I have found something that seems rather suspicious. The default line gap for the default font for windows is 0 which seems unusual. If someone have a little time and can run servo on Linux or MacOs and with the following document and tell me what line gap servo compute.
[code]

[2017-03-13 13:51] lucantrop commented on #15925
I added the check and modified the tests in `servo_tidy_tests` and `./mach test-tidy --self-test` runs. However, `./mach test-tidy` reports the errors only when I run it as `./mach test-tidy --all`. I'm not sure if that's the desired behaviour or I just made a mistake somewhere.

[2017-03-13 14:00] emilio commented on #15925
Yeah, it's expected in the sense that `test-tidy` by default only runs on files you've modified IIRC. We run it on CI with the `--all` flag, so you should fix those errors before landing.

Thanks for working on this! :)

[2017-03-13 14:02] codec-abc commented on #15698
I think I made some progress. The default font on Windows have a line gap of 0 which seems to be rather suspicious (at least to me). If I put this code

[code]
in components/gfx/platform/windows/font.rs I have this result
![good_rendering](https://cloud.githubusercontent.com/assets/1208646/23857497/cf1f45ba-07fd-11e7-9c3c-7722d12bdc16.PNG)

Since I have zero experience with Servo and Web technolog

[2017-03-13 14:34] CajetanP commented on #15162
@Wafflespeanut  So I should find an issue to solve, start by reading the source file in question and just follow along with any function calls I don't understand?

[2017-03-13 14:42] #15082 closed

[2017-03-13 14:49] codec-abc commented on #15255
Can you add detail to the bug please? I can't reproduce with neither the nightly nor compiling servo myself. By the way I am running Windows 10.

[2017-03-13 14:49] stshine commented on #15045
Hmm looks like for gecko side the "auto" keyword support has already been implemented in #14740, so if this issue is solely for stylo it could be closed.
Also, according to @shinglyu if an element is not a flex item it's initial value of min-{width, height} should be 0, but in #15739 they are all set to "auto". Not sure how gecko's layout system handles this.

[2017-03-13 14:52] codec-abc commented on #15572
I can still reproduce but with the nightly and compiling myself servo with MSVC. Note that the memory leak only happen in release. In debug for the given medium page I am at a stable ~200MB Memory usage.

[2017-03-13 14:54] ferjm commented on #13942
I hit #14813 when login into docs.google.com with 2-step verification. It crashed when the "Make sure your settings are up-to-date" screen showed up.

[code]

[2017-03-13 14:58] Wafflespeanut commented on #15162
Exactly! But sometimes, the issue won't list a piece of code (probably because it's low priority and no one wants to do it, or no one can't think of a solution). That said, you're always free to look around at new pieces of code, explore yourself and fix anything that you think could be changed. PRs are always welcome 😄

[2017-03-13 15:00] metajack commented on #13942
Looks like a problem with inline flexbox items. It would be nice to get a reduced test case for this.

[2017-03-13 15:08] metajack commented on #12125
@jackwithoutjill Your comments are inappropriate. I think you have misunderstood the stage of development that Servo is in. We'll be shipping core components of Servo in Firefox releases later this year, focusing on the Windows platform. However, Servo by itself is not web compatible enough yet that you can use it as a replacement for Chrome or Firefox, and so at this stage we have focused on core

[2017-03-13 15:33] #15835 closed

[2017-03-13 16:31] CajetanP commented on #15162
Thanks, I'll do my best to do something useful !

[2017-03-13 17:35] KiChjang commented on #15255
I can confirm that it also displays this on my Windows 10 laptop. My Linux version of the nightly works fine though.

[2017-03-13 17:47] #15925 closed

[2017-03-13 18:06] atouchet commented on #15255
I just tested the latest nightly build with Windows 10 and I am still seeing UI issues.

![Windows UI](https://i.imgur.com/xovvdOq.png "Windows UI")

[2017-03-13 19:27] #15490 closed

[2017-03-13 20:01] bholley commented on #15342
@absoludity, any updates here?

[2017-03-13 20:38] totallybradical commented on #15600
Regarding the update command, I've gone ahead and installed Rust on my laptop for development. I seem to be able to run the "cargo update -p" command and it updates the registry when I run it so that's good.

However, I see it's also possible to just run "cargo update" in order to update all dependencies ([source](http://doc.crates.io/guide.html)). Given that blindly updating all dependencies can

[2017-03-13 20:43] jonathandturner commented on #15255
Right - I'm seeing the same as @KiChjang and @atouchet.

Other details:
* Running Windows 10
* Running inside of VMware Fusion on a macOS
  * Using the "VMware SVGA 3D" driver

[2017-03-13 20:48] emilio commented on #15754
Hi @bd339, thanks for taking a look at this!

So, the specified display adjustment lives at `components/style/properties/properties.mako.rs`. There, we need to check if the specified display is `inline` and the parent containing block writing-mode is different from the current one, with something like:

[code]

Note that may be somewhat tricky because we need to skip text nodes from this, which is

[2017-03-13 21:24] PhilHernandez commented on #15840
Hi,
Sorry to say I won't be able to work on this for the time being.
Please assign this to someone else, thanks.

[2017-03-13 21:26] bzbarsky commented on #15754
I should note that there are some spec-side issues here too.  I just sent https://lists.w3.org/Archives/Public/www-style/2017Mar/0045.html describing those.  But it sounds like @emilio's suggestion matches Gecko which is about right for now.

[2017-03-13 21:27] KiChjang commented on #15840
@abhiaecs Would this be an issue that you're interested in?

[2017-03-13 21:30] emilio commented on #15754
Yeah, note that for this to match gecko, as noted in the email above, that piece of code should be under the existing display adjustments, and should call `set_display` (not `set_adjusted_display`), that is, also reset `mOriginalDisplay`. This bit is a bit fishy TBH :/

[2017-03-13 21:35] codec-abc commented on #15255
Thanks, about your previous comment are you sure the symbol or the UI aren't made of "characters" because I do have it and they look like missing characters that I have on other pages (for example, the Chinese character ones at the bottom of the servo web page). Right on my home pc I can reproduce the issue but it is weird because the [source code](https://github.com/browserhtml/browserhtml/blob/m

[2017-03-13 22:54] absoludity commented on #15342
@bholley No sorry - been super busy both with work and outside work lately, so I've not done anything since the two commits on my test-quirks branch https://github.com/absoludity/servo/tree/test-quirks

If you're in a position to give this attention now, great - I'm happy to join in again when I get time (hopefully about 1 week from now my evenings should be a little more free). My main aim with t

[2017-03-13 22:58] jonathandturner commented on #15255
Leaving notes here as I look around.

I noticed that if I install FontAwesome as a system TTF font, it worked fine.  I reconverted it to woff, and the result was a little bigger than the one currently in the repo.  Sure enough, when I tried the new woff, that also worked for me.  Maybe the one that's there now was missing some sigils?

Update is here: https://github.com/browserhtml/browserhtml/pul

[2017-03-13 22:58] bholley commented on #15342
I'm just going through all the issues that we need to ship Servo's CSS engine in Firefox, and this is one of the ones we're hoping to knock out in the next couple of weeks. If you can get back to this in a week or so that sounds awesome! Really appreciate your help. :-)

[2017-03-13 23:01] jonathandturner commented on #15698
@codec-abc - that looks a lot better.  Want to send a PR?  If there's a better fix, the reviewers might know, but at least it gets reddit working again.

[2017-03-13 23:07] codec-abc commented on #15698
After more thinking I am quite sure that my changes fix the effect and not the cause. I think the issue is that the lineGap value should be read while parsing the font file but ended at 0 for some not yet understood reason. So maybe it is better to get the opinion of people that know this stuff better than me before sending a PR. (Note that I don't mind sending a PR, it just seem not necessary in

[2017-03-13 23:11] codec-abc commented on #15255
Would you mind checking how it renders on FF or Chrome while not having FontAwesome installed system wide? On my home computer the browser.html page render fine in Chrome and Firefox and not Servo. Then, if it some missing sigils why it works on FF & Chrome and Linux and MacOS and not servo?

[2017-03-13 23:52] jonathandturner commented on #15255
@codec-abc - like I said, I don't know why updating the woff fixes the issue on Windows.  I don't understand the code well enough.  I was just experimenting to see if I could fix it.

[2017-03-13 23:53] jonathandturner commented on #15698
@codec-abc - right.  that's why I was thinking a PR would help get the discussion going with a reviewer.  It gives them something to look at and go "wait a sec, I think the actual issue is..."

[2017-03-13 23:59] upsuper commented on #15205
It seems to me this has been supported since long ago, so probably what I was seeing in mochitest failure is not really because of this.

[2017-03-13 23:59] #15205 closed

[2017-03-14 01:30] atouchet opened #15932 "Background Gradient Not Rendered Correctly in Spheres Demo"
![Spheres](https://i.imgur.com/3l9bB0D.png "Spheres")

Tested in Windows 10. This used to render properly in previous Servo nightly builds. I also tested the demo with Firefox 52.0 which rendered the background correctly.

[2017-03-14 02:05] jonathandturner commented on #15572
Just a bit of follow-up, to echo what @codec-abc mentioned.

The debug build doesn't finish rendering the page correctly.  The image at the top fails to load, showing this:

<img width="583" alt="servo_debug_exploded" src="https://cloud.githubusercontent.com/assets/547158/23882714/531f6722-08c7-11e7-9053-8133582841a1.png">

Debug mode holds steady between 200 and 300 MB.  Memory climbs towards 300

[2017-03-14 02:34] jonathandturner opened #15933 "Windows showcase loses images"
Sometimes when you start up browser.html version of Servo on Windows, when you move your mouse across the images or the search box the images will clear (as does the text inside the search box), leaving this:

<img width="645" alt="servo_showcase_blanking" src="https://cloud.githubusercontent.com/assets/547158/23883404/91b2a3a6-08cb-11e7-8220-cab99f35fc1a.png">

[2017-03-14 02:36] jonathandturner commented on #15933
I'll add this is recent behaviour, though I haven't bisected yet to see exactly when it was introduced.

[2017-03-14 03:22] paulrouget opened #15934 "Create a dedicated channel for constellation -> embedder communication"
*This issue is part of an effort to improve Servo's embedding story. See https://github.com/paulrouget/servoshell/projects/2*

Follow up of #15795.

As of now, Servo communicates with the embedder by calling the `WindowMethods`, in the main thread. These methods are called from the compositor, and the main thread is woken up via the compositor proxy.

A subset of these methods are relevant to the

[2017-03-14 03:23] paulrouget commented on #15645
Superseded by #15934

[2017-03-14 03:23] #15645 closed

[2017-03-14 03:45] jonathandturner commented on #15933
I tried a random checkout from a week ago (802440dbf05cf9f3679214107d388995e574d2c9) and was not able to repro this issue.

[2017-03-14 05:03] Wafflespeanut commented on #15842
@StefanoChiodino any news on this?

[2017-03-14 07:33] mcaveniathor commented on #15729
I'm looking for a first contribution to make as I learn Rust -- if mentored, I would love to help with this in any way I can.

[2017-03-14 07:42] jdm commented on #15600
Let's go with upgrading everything to start. I'm having trouble identifying meaningful criteria that we could use.

[2017-03-14 10:26] StefanoChiodino commented on #15842
Hi, I've done about half of it but I'm hacking my way on the other half,
hoping I'm doing things right. I'll be honest, in general the rust skills
required for it are way above mine, but I'm finding it interesting.

On Tue, 14 Mar 2017, 05:03 Ravi Shankar, <notifications@github.com> wrote:

[2017-03-14 10:27] Wafflespeanut commented on #15842
Oh, that's good to hear! Feel free to ping me if you have any questions :)

[2017-03-14 10:28] StefanoChiodino commented on #15842
Thanks! I think I'll commit my changes later on that don't compile right
now and show them to you

On Tue, 14 Mar 2017, 10:27 Ravi Shankar, <notifications@github.com> wrote:

[2017-03-14 10:34] StefanoChiodino commented on #15842
@Wafflespeanut I've committed my latest changes to https://github.com/StefanoChiodino/servo now. Am I going the right direction please?
Also: There are a ton of temporary files in components/style/properties/tmp* that are not ignored in git. Shouldn't they be added to git.ignore?

Thanks!

[2017-03-14 10:38] Wafflespeanut commented on #15842
Not sure about the temporary files (I don't see those in https://github.com/servo/servo/compare/master...StefanoChiodino:master). Please open a PR, so that I can review it :)

[2017-03-14 11:25] StefanoChiodino commented on #15842
@Wafflespeanut yeah, I haven't committed them because they are clearly new, untracked, temporary files!

I'm definitively not done with it, I think I'll try to spend a bit more to see if I can manage to do it now with a fresh mind :)

[2017-03-14 13:34] codec-abc commented on #15255
I opened the 2 woff files (the original one and the one repackaged by you) with fontforge and both contains the glyphs used by the Servo's UI. I have difficulties finding the code that does the work of reading and parsing the woff file. Can you please tell me where I can find it so I find more info on what is going on here.

[2017-03-14 14:52] #15655 closed

[2017-03-14 14:52] bd339 commented on #15754
Thanks for pointing me in the right direction @bzbarsky and @emilio . I'm not sure I understand what you said about text nodes, so I'll show an example so you can correct me.

First off, if we assume `display: contents` is not a thing, skipping text nodes would happen automatically because they inherit writing-mode from their parent and wouldn't get through the `if` you posted? Is that what you sa

[2017-03-14 15:01] annevk commented on #7818
FYI: HTML changed in https://github.com/whatwg/html/pull/1941.

[2017-03-14 15:12] bzbarsky commented on #15754
@bd339 That's correct.

For what it's worth, Gecko skips this writing mode fixup at this point in two situations: for text and for first-letter continuations.  I _think_ first-letter continuations can never have a writing-mode different from their "containing block", because they inherit either from the block directly or from the first-line, the "writing-mode" property does not apply to either fir

[2017-03-14 15:14] metajack commented on #14307
cc @metajack

[2017-03-14 15:20] metajack commented on #15701
This comes at the cost of memory though. Is the image cache slow, or is this motivated solely by messaging races?

[2017-03-14 16:32] Ms2ger commented on #14323
@jdm: I think we should close this issue; it masks real failures in an ever-increasing set of tests, and there's no particular reason to assume this failure mode is more likely to occur in these tests than any other.

[2017-03-14 19:50] KiChjang commented on #15449
@dcci What's the status of this?

[2017-03-14 20:57] #15770 closed

[2017-03-14 21:10] atouchet opened #15942 "Repeatedly Clicking on Windows Taskbar Icon Crashes Servo"
Tested in Windows 10.

Steps to reproduce:

1. Run Servo.
2. Click on the Servo icon to minimize the program.
3. Click on the Servo icon again once or twice.
4. Servo crashes.

[2017-03-14 21:36] cbrewster commented on #14888
There is still more data to be added to `FrameState`

[2017-03-14 23:43] #15491 closed

[2017-03-15 00:05] jonathandturner opened #15944 "Webrender panics when scrolling a page back and forth"
If you open the latest servo (I tried on both macOS and Windows), open a site like reddit from the showcase.  Next, scroll up and down on the page, stopping from time to time.  After about 10 seconds for me, webrender panics, giving this backtrace:

[code]

[2017-03-15 03:38] jdm commented on #14323
Well, let's remove the list of tests from the title and leave it open for people to manually associate failed jobs with it.

[2017-03-15 03:43] jdm commented on #15701
Gecko is working on removing as much synchronous IPC as possible. If we do a per-similar-origin cache, we should get the main memory benefits of sharing that a global cache provides today.

[2017-03-15 04:00] auchenberg opened #15945 "Support for Chrome Debugging Protocol?"
I've heard rumors that Servo would be replacing it's [current Firefox Debugging Protocol implementation](https://github.com/servo/servo/tree/master/components/devtools) with a new server implementing the Chrome Debugging Protocol, but I can't find any issues or commits relating to this.

What remote debugging protocol does Servo use today, and what will be used in the future?

[2017-03-15 04:01] cbrewster opened #15946 "Iframes are clipped when window is resized"
Test case:
[code]
<img width="1480" alt="screen shot 2017-03-14 at 9 59 47 pm" src="https://cloud.githubusercontent.com/assets/9086315/23933077/a54f7b42-0901-11e7-9f69-7c087818a8f3.png">

This can be seen evidently while using bhtml:
<img width="1698" alt="screen shot 2017-03-14 at 9 53 24 pm" src="https://cloud.githubusercontent.com/assets/9086315/23933081/b029c298-0901-11e7-9212-18f1b793555f.png

[2017-03-15 04:02] upsuper opened #15947 "Character between U+0001 ~ U+001F in string should be escaped when serialized"
See the algorithm of https://drafts.csswg.org/cssom/#serialize-a-string

A simple test code:
[code]
In this case, the serialized output should be `url("\f good")` rather than a string with unprintable char.

This is actually an issue in rust-cssparser. The corresponding code is https://github.com/servo/rust-cssparser/blob/0caaba170616cba326c4311967354110e4c79c8f/src/serializer.rs#L249-L267

This s

[2017-03-15 04:02] highfive commented on #15947
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-15 04:05] jdm commented on #15945
Servo uses the same protocol that Firefox does. That will continue he to be true for the foreseeable future.

[2017-03-15 04:16] upsuper opened #15948 "Implement -moz-image-rect value for stylo"
Syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-image-rect

This is a non-standard feature... which we may need to implement.

[2017-03-15 04:52] upsuper opened #15950 "PartialEq impl of SpecifiedUrl value is wrong for stylo"
Serialization of shorthand `marker` depends on equality of url, and it fails when the url are set in different CSSOM call.

Specifically, the following code shows the problem:
[code]
because it relies on the equality of urls: https://github.com/servo/servo/blob/de421216ad51d036ceea433fb86a58fbf9e79656/components/style/properties/shorthand/inherited_svg.mako.rs#L25

but the equality of urls depends

[2017-03-15 05:51] upsuper commented on #15001
@mbrubeck Although parsing and serialization are implemented, it still lacks gecko glue, and thus gecko still cannot get the computed result of these properties.

[2017-03-15 05:54] upsuper opened #15952 "Add parsing and serialization support for -moz-element() function for <image> value"
Syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/element

This is a non-standard value, but we probably need to support it for stylo.

[2017-03-15 05:55] upsuper commented on #15952
Oh, it's a dupe of an issue I filed before :/

[2017-03-15 05:55] #15952 closed

[2017-03-15 06:01] jdm commented on #15571
Looking at the layout inspector for the testcase in Firefox and Chrome, we appear to be matching the layout behaviour for Chrome. The reason why we look different is that we do not treat the background for the root element as special, so it is clipped to the dimensions of the element, rather than covering the entire page. We should either add a special display item for the background of the root e

[2017-03-15 06:13] upsuper opened #15954 "Implement place-{content,self,items} shorthand properties"
Spec:
* place-content: https://drafts.csswg.org/css-align/#propdef-place-content
* place-self: https://drafts.csswg.org/css-align/#place-self-property
* place-items: https://drafts.csswg.org/css-align/#place-items-property

They are basically just shorthands of several existing properties, so it should be easy to implement.

This should be implemented in https://github.com/servo/servo/blob/master/

[2017-03-15 06:13] highfive commented on #15954
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-15 06:24] upsuper opened #15955 "Implement parsing and serialization of contain property"
Syntax: https://developer.mozilla.org/en-US/docs/Web/CSS/contain

This property should be added to https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs

Hacking guide for adding property: https://github.com/servo/servo/wiki/Property-hacking-guide

[2017-03-15 06:24] highfive commented on #15955
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-15 07:00] upsuper opened #15957 "Implement parsing and serialization of font-variant-{alternates,east-asian,ligatures,numeric}"
Their definitions can be found in CSS Font spec:
* [font-variant-alternates](https://drafts.csswg.org/css-fonts-3/#font-variant-alternates-prop)
* [font-variant-east-asian](https://drafts.csswg.org/css-fonts-3/#font-variant-east-asian-prop)
* [font-variant-ligatures](https://drafts.csswg.org/css-fonts-3/#font-variant-ligatures-prop)
* [font-variant-numeric](https://drafts.csswg.org/css-fonts-3/#fo

[2017-03-15 07:05] upsuper opened #15958 "Implement parsing and serialization of shape-outside property"
Spec: https://drafts.csswg.org/css-shapes/#shape-outside-property

It should be added into https://github.com/servo/servo/blob/master/components/style/properties/longhand/box.mako.rs

[2017-03-15 07:08] upsuper opened #15959 "Implement parsing and serialization of initial-letter property"
Spec: https://drafts.csswg.org/css-inline/#sizing-drop-initials

This should be added into https://github.com/servo/servo/blob/master/components/style/properties/longhand/text.mako.rs

See https://github.com/servo/servo/wiki/Property-hacking-guide for a guide to hack on this issue.

[2017-03-15 07:08] highfive commented on #15959
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-15 07:19] upsuper opened #15960 "Number::parse should not simplify calc() to number when parsing"
`Length::parse` doesn't simplify `calc()` to a single length during parsing, `Number::parse` shouldn't do so either.

For example, the code below
[code]
should output `calc(1)` rather than `1`, just like changing it to `calc(1px)` would output `calc(1px)` not `1px`.

[2017-03-15 08:38] karan1276 commented on #15959
I would like to work on this. @highfive: assign me

[2017-03-15 08:38] highfive commented on #15959
Hey @karan1276! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 08:43] SebastinSanty commented on #15957
@highfive: assign me

[2017-03-15 08:43] highfive commented on #15957
Hey @SebastinSanty! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 08:51] SebastinSanty commented on #15954
I think this would be similar to the other issue I am solving and hence would like to work on this too. @highfive: assign me

[2017-03-15 08:51] highfive commented on #15954
Hey @SebastinSanty! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 09:58] mrobinson commented on #4944
Hrm. I think with the retirement of the old compositor this isn't an issue any longer. @glennw, do you mind confirming if we can close this?

[2017-03-15 10:34] #4944 closed

[2017-03-15 12:06] KiChjang commented on #15957
@SebastinSanty In general, it's discouraged to reserve issues that a person is not working on in the immediate future. Please finish the other issue first before claiming this one.

[2017-03-15 12:58] hgallagher1993 commented on #15955
@highfive: assign me

[2017-03-15 12:58] highfive commented on #15955
Hey @hgallagher1993! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 14:08] ak1t0 commented on #15947
I would like to work on this issue.
@highfive: assign me

[2017-03-15 14:08] highfive commented on #15947
Hey @ak1t0! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 14:28] SebastinSanty commented on #15957
@KiChjang Sorry for that. Thought of taking the easier one first.

[2017-03-15 14:39] asajeffrey opened #15962 "Intermittent CRASH in /html/browsers/the-window-object/security-window/window-security.html"
This isn't really a CRASH, it looks like a problem where tinyfiledialogs produces some output, and this confuses the test harness into thinking there's been a crash:
[code]
cc @jdm @jgraham

[2017-03-15 15:05] paulrouget opened #15963 "Some debugging options (-Z) are non operationnal"
As far as I can tell: `show-compositor-borders`, `show-parallel-paint`, `paint-flashing`, `dump-layer-tree` and `msaa` options are not relevant anymore and should be removed.

[2017-03-15 15:10] paulrouget commented on #15963
Also, the `-Z help` text mentions `Must be used with -w option` multiple times. This is not necessary anymore.

[2017-03-15 15:17] asajeffrey commented on #15962
IRC chat with @nox and @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=15+Mar+2017&e=15+Mar+2017#c631384

TL;DR: this looks like a problem with interleaving output from stderr and stdout, c.f. https://github.com/servo/servo/issues/12797#issuecomment-238865607

[2017-03-15 15:30] jdm commented on #4344
The separation between platform-independent and platform-dependent layers is something that I started creating in https://github.com/jdm/accessible. There are many aspects of this that suggest it would be a good GSoC project, unfortunately we don't have anybody with experience implementing accessibility integration who could act as a mentor. This means finding someone willing to take the time to b

[2017-03-15 15:45] abhiQmar commented on #15957
@highfive: assign me

[2017-03-15 15:45] highfive commented on #15957
Hey @abhiQmar! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 16:16] #934 closed

[2017-03-15 16:56] jdm opened #15964 "Make layout viewer use a local copy of jquery"
It currently fetches https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js which makes it impossible to use when there's no internet connection available.

Code: `etc/layout_viewer/viewer.html`

To test, run `./mach run http://google.com -Z trace-layout`, then open `etc/layout_viewer/viewer.html` in your non-Servo browser when not connected to the internet.

[2017-03-15 16:56] highfive commented on #15964
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-15 17:28] KiChjang commented on #15955
@hgallagher1993 You seem to have already claimed another issue, I'm unassigning this one until you finish the other one.

[2017-03-15 17:53] KiChjang commented on #14578
It looks like hovering on links also causes this issue.

[2017-03-15 17:58] metajack commented on #15701
I guess one point is that if we're going to make it a threadsafe data structure, why restrict it to similar-origin? Why not just pass the reference to the threadsafe hashmap (or whatever) in place of the channel we currently use? This gives us one cache per content process.

[2017-03-15 18:53] jryans commented on #15955
@highfive: assign me

[2017-03-15 18:54] highfive commented on #15955
Hey @jryans! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-15 18:55] codec-abc commented on #15255
I tried to reproduce the issue by creating a [small repo](https://github.com/codec-abc/dwrote-test) containing the code that I think cause the problem. Basically, I read a woff file as a Vec<u8> pass it through fontsan (a font sanitizer library) and feed the result to dwrote (a DirectWrite wrapper). Strangely enough it managed to read both the original woff file and the a "fixed" one. Yet yesterda

[2017-03-15 18:56] asajeffrey opened #15965 "Disable tinyfiledialog popups when running in headless mode"
Currently we still pop up tinyfiledialogs in headless mode, which we shouldn't. This would fix #15962.

[2017-03-15 19:23] hgallagher1993 commented on #15955
@KiChjang Ehh. . .can you see what issue? Because the last one (I remember) I was assigned I made the pull request for and the issue was closed

[2017-03-15 19:58] KiChjang commented on #15955
@hgallagher1993 Huh, sorry. This is really odd, I check my notifications daily and I was very sure that I saw you commenting on another issue, I just can't seem to search for it...

[2017-03-15 19:59] emilio opened #15968 "Run tests with the constellation panicking instead of warning."
See #15679.

[2017-03-15 20:00] KiChjang commented on #15958
@hgallagher1993 Perhaps this would also interest you as well?

[2017-03-15 20:02] asajeffrey commented on #15968
This is slightly dangerous, since `warn!` is used to indicate states that are unlikely (so worth logging) but not actually impossible. I don't think we generate any warnings during a correct test execution, but you never can tell. There are some places we are very free with `warn!`.

[2017-03-15 20:07] jryans commented on #15955
@hgallagher1993 Did you already make progress on this, or should I continue here?

[2017-03-15 21:00] sbrl commented on #4331
This probably isn't helpful, but perhaps including the commit hash in the user agent string that the servo engine was built from for testing purposes would be helpful for tracking down bugs?

It would probably break a bunch of stuff though, so this is more of a what-if than a serious suggestion.

[2017-03-15 22:35] cbrewster commented on #15727
The first `load` event comes from when the `iframe` is bound to the tree and `create_nested_browsing_context` is called. This will cause `about:blank` to be synchronously loaded which will fire a `load` event (this one is a bit hairy to track down). And then `process_the_iframe_attributes` will be called.
Since it is being called 1. For the first time 2. Without a `src` attribute, it will queue a

[2017-03-15 22:48] emilio commented on #15786
cc https://github.com/servo/webrender/issues/624

[2017-03-15 22:49] emilio commented on #15786
Let's close this in favor of the issue mentioning above.

[2017-03-15 22:49] #15786 closed

[2017-03-15 23:34] metajack commented on #4331
This would make fingerprinting Servo users pretty easy unfortunately. Browser.html does include a bug reporter that includes relevant info though, but it's done opt-in by the user.

[2017-03-15 23:52] gterzian commented on #11517
is anyone working on this at the moment, or planning to? I could be interested otherwise...

[2017-03-16 03:01] shinglyu commented on #15776
@jeremywangyuan: What error did you see while packaging? The same as Jasmine? You can consider opening a bug if you are stuck.

[2017-03-16 03:23] karan1276 commented on #4344
Okay, ill drop this for now. Maybe later when someone has the leisure of time.

[2017-03-16 04:36] jdm commented on #11517
@gterzian That would be great! I think the best place to start would be to get the following working:
* sketch out a `update_the_image_data` method that follows [the specification's algorithm](https://html.spec.whatwg.org/multipage/embedded-content.html#update-the-image-data). In particular, implement concepts for [abort the image request](https://html.spec.whatwg.org/multipage/embedded-content.ht

[2017-03-16 04:40] gterzian commented on #11517
@jdm thanks for the additional guidance! Ok I think we're almost done with the Blob cloning, so I'll start with this once it's done...

[2017-03-16 05:11] Manishearth opened #15973 "Support system colors"
https://bugzilla.mozilla.org/show_bug.cgi?id=1340696 adds them for Stylo, but not Servo. We should update Servo as well, probably using an in-house enum (instead of `LookAndFeel::ColorId`) and filtering out some of the firefox-specific keywords.

Adding guess rgb mappings ("whatever my computer does") for this would be a start, though eventually we should actually do whatever Firefox does in query

[2017-03-16 05:47] upsuper opened #15975 "Add gecko glue for font-feature-settings property"
Servo has had parsing and serialization code for `font-feature-settings` property, but we need to add glue to make it usable in Gecko.

The existing parsing and serialization code is https://github.com/servo/servo/blob/d30978246162e8a9bfad42b43ab6a05c90421c6e/components/style/properties/longhand/font.mako.rs#L634-L742

The glue code should be added under https://github.com/servo/servo/blob/d309782

[2017-03-16 05:47] highfive commented on #15975
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-16 07:06] upsuper commented on #15947
Note that spec also says NULL character should be serialized to U+FFFD escaped as code point. But that doesn't match what Gecko and Blink do. Both browsers serialize NULL to U+FFFD itself, and we probably should do so here as well.

I've raised an issue to CSSWG in w3c/csswg-drafts#1105.

[2017-03-16 07:20] upsuper opened #15977 "counter-reset and counter-increment should serialize empty vec to "none" rather than empty"
The code to fix is https://github.com/servo/servo/blob/d30978246162e8a9bfad42b43ab6a05c90421c6e/components/style/properties/longhand/counters.mako.rs#L270-L281

It should generate `none` rather than nothing when it's empty.

A new test should probably be added to https://github.com/servo/servo/blob/master/tests/unit/style/properties/serialization.rs; it can be run with `./mach test-unit -p style`.

[2017-03-16 07:21] highfive commented on #15977
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-16 07:59] jdm commented on #15693
@PratikDhanave Have you made any progress? Any questions?

[2017-03-16 07:59] jdm commented on #15673
@vwvww Have you made any progress?

[2017-03-16 08:01] jdm commented on #15631
I believe this went away with #15696.

[2017-03-16 08:01] #15631 closed

[2017-03-16 08:22] jdm commented on #15448
Unassigning due to lack of activity.

[2017-03-16 08:25] jdm commented on #15286
Closing due to lack of information to reproduce the failure.

[2017-03-16 08:25] #15286 closed

[2017-03-16 08:25] jdm commented on #15281
Given the decision to remove the filenames from #14323 we don't need this any longer.

[2017-03-16 08:25] #15281 closed

[2017-03-16 08:26] #15253 closed

[2017-03-16 08:33] highfive commented on #15252
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-16 08:33] jdm commented on #15252
@abhiaecs Would you like to work on this?

[2017-03-16 08:37] jdm commented on #15219
@Seris Did you make any progress here? Any questions?

[2017-03-16 08:38] jdm commented on #15200
@multhazim123 How's it going?

[2017-03-16 08:38] jdm commented on #15199
@tmccrmck Did you make any progress?

[2017-03-16 08:42] jdm commented on #14975
Unassigning due to lack of response.

[2017-03-16 08:43] jdm commented on #14975
@o0Ignition0o Would you be interested in fixing this?

[2017-03-16 09:16] Ms2ger opened #15979 "html5lib_template.html 574a95fc9c9f2de3aeaa0c9ee1e6967fc3d4770d fails in write_single mode"
[code]

@nox: this happens only when calling `document.write()` with each individual character.

[2017-03-16 09:21] Ms2ger opened #15980 "Issues with annotation-xml parsing"
[code]

CC @nox

[2017-03-16 09:36] upsuper commented on #15947
FWIW the spec text has been fixed in the expected way.

[2017-03-16 10:00] KiChjang commented on #13942
While testing on the nightly with the hash of 1caf8a7, I was able to create a new blank document, but then I am immediately presented with this error on the console:
[code]
And as usual, I opened up Firefox to check out what this `DOCS_warmStartDocumentLoader` is about...

<details>

[code]

</details>

The gist that I get here is that `KX_kixApp` initializes `DOCS_warmStartDocumentLoader` by call

[2017-03-16 10:05] jdm commented on #13942
Looks like it would be worth figuring out what DOCS_initializeModules does, since that loads the relevant JS.

[2017-03-16 10:07] jdm opened #15982 "Intermittent timeout in /html/syntax/parsing/template/creating-an-element-for-the-token/template-owner-document.html"
[code]

[2017-03-16 10:12] KiChjang commented on #13942
So I'm able to find out a few more about this `DOCS_initializeModules` function in the JS file...

<details>

[code]

</details>

I think some magic is going on in the `Tl` function...

[2017-03-16 10:17] Ms2ger commented on #14783
Also hitting this on google docs

[2017-03-16 10:51] jdm commented on #15977
I'm claiming this for an Outreachy candidate.

[2017-03-16 11:30] ferjm commented on #13942
I'm afraid I cannot reproduce the assertion failure again, as it only appears in the "Check your account recover options" screen, which I previously dismissed :\

[2017-03-16 11:30] jdm commented on #15571
@glennw Any idea why this diff does not affect the output? The debugger shows that the is_root path is being taken when there's an opaque black background color, and the size of the viewport is much larger than the size of the stacking relative border box. There's no change in the actual output from what I can see, however.

[code]

[2017-03-16 12:25] nox commented on #15858
Closing as duplicate of #15884.

[2017-03-16 12:25] #15858 closed

[2017-03-16 12:44] nox opened #15985 "Refactor the document loader to properly accommodate for iframes"
Iframes delay the load event in weird ways that I don't think fit `DocumentLoader` and its list of URLs. I don't really understand the purpose of `DocumentLoader` given it uses URLs specifically to help with `gdb` debugging. I don't do such things, so I'm not sure I'm the best to fix this issue.

There are various iframes-related things we don't implement correctly:

* the document's [iframe load

[2017-03-16 13:11] ferjm commented on #15944
I am seeing this with Google Docs as well  #13942.

With Reddit, it takes some time to crash, as you mentioned. With Docs it happens with the first scroll down.

[2017-03-16 13:38] stshine opened #15986 "Fix `calc()` behavior in layout when the container size is indefinite"
In layout, a computed value of `calc()` is represented by `CalcLengthOrPercentage` struct.
According to https://drafts.csswg.org/css-values-3/#calc-computed-value

So, when calculating the absolute length of a `calc()` value in a container and the container size is indefinite: When the `percentage` field is None, the result should be the `length` field; but when the `percentage` field is present,

[2017-03-16 13:38] #9329 closed

[2017-03-16 13:39] hgallagher1993 commented on #15955
@jryans I did absolutely nothing with it, so your pull request is fine to go ahead :smile:

[2017-03-16 13:42] highfive commented on #15986
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-16 13:44] hgallagher1993 commented on #15958
Ya I could take this :+1:

[2017-03-16 13:46] emilio commented on #15986
@stshine said he was fine mentoring this, but feel free to ask me any question too if you want to :)

[2017-03-16 14:23] PratikDhanave commented on #15693
No not yet

On Thu, Mar 16, 2017 at 1:29 PM, Josh Matthews <notifications@github.com>
wrote:

[2017-03-16 14:30] #15965 closed

[2017-03-16 14:41] asajeffrey commented on #15962
Fixed by #15967.

[2017-03-16 14:41] #15962 closed

[2017-03-16 14:45] jdm commented on #7146
This was fixed by https://github.com/servo/servo/commit/35c67b22e5089d79df7ffc2d83475290cda99980.

[2017-03-16 14:45] #7146 closed

[2017-03-16 14:50] jdm commented on #7311
resources/presentational-hints.css includes the `br` rules from https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3, so this is the layout code implementing clear behaviour not working correctly.

[2017-03-16 14:55] jdm commented on #9687
This displays as expected in a recent build.

[2017-03-16 14:55] #9687 closed

[2017-03-16 14:57] jdm commented on #11164
This displays as expected in a recent build.

[2017-03-16 14:57] #11164 closed

[2017-03-16 15:08] brizental commented on #15986
I would like to work on this.
@highfive assign me.

[2017-03-16 15:08] highfive commented on #15986
Hey @brizental! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-16 15:35] abhiaecs commented on #15252
Im definitely interested to work on it

On Mar 16, 2017 2:03 PM, "Josh Matthews" <notifications@github.com> wrote:

[2017-03-16 15:49] abhiaecs commented on #15252
Im facing a lot of network issues can i work on this bug once the network
is back (which may take around 5-10 days)? Or can i be assigned a different
bug later on when the network issue is resolved?

On Mar 16, 2017 2:03 PM, "Josh Matthews" <notifications@github.com> wrote:

[2017-03-16 15:52] jdm commented on #15252
Sure, leave another comment in #15162 when you're ready and we'll find something new for you.

[2017-03-16 16:12] jdm opened #15988 "Intermittent crash ("no entry found for key" from FrameBuilder::build) in /html/semantics/embedded-content/the-iframe-element/iframe_javascript_url_01.htm and /_mozilla/css/stacked_layers.html"
[code]

[2017-03-16 16:47] codec-abc commented on #15255
Some update: My previous messages were plain wrong because of a breakpoint hit in Visual studio while the underlying code was not run. That would be funny if only I didn't lost so much time chasing a bug in place where the code actually works. Using good old println! instruction I find the place where the code differ when using the original font vs the "fixed" one. [It is right here](https://githu

[2017-03-16 17:03] vlisivka commented on #15964
@highfive: assign me

[2017-03-16 17:03] highfive commented on #15964
Hey @vlisivka! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-16 17:06] frewsxcv opened #15989 "Incorporate cargo-audit into CI process for checking for security vulnerabilities"
https://github.com/RustSec/cargo-audit

[2017-03-16 17:23] KiChjang commented on #15958
Great! Sorry for the confusion earlier.

[2017-03-16 18:17] codec-abc commented on #15255
I have understood the problem quite well. Those [2 checks](https://github.com/servo/servo/blob/master/components/gfx/platform/windows/font.rs#L57) are here to prevent to create a FontInfo structure where we wouldn't be able to return a font family name and a font face name. This is because the underlying library called truetype [is not able to parse all the records properly.](https://github.com/bo

[2017-03-16 20:06] Manishearth opened #15994 "Use case_insensitive_phf_map instead of iteration for system colors"
#15974 adds system colors, but it parses them by [iterating over an array](https://github.com/servo/servo/pull/15974/files#diff-b0d36fd12bfc6b3e55fa2cfb9f55acd7R129).

We should use the `ascii_case_insensitive_phf_map` [like cssparser](https://github.com/servo/rust-cssparser/blob/0caaba170616cba326c4311967354110e4c79c8f/src/color.rs#L182) to efficiently parse these.

[2017-03-16 20:12] johnmuhl opened #15995 "Crash while scrolling"
https://gist.github.com/johnmuhl/f78be7db85f74765ace7eb403bd5cba3

0. Download Servo nightly (2017-03-16)
1. Launch Servo with `./servo`
2. Enter `servo.org` in the address/search bar
(page loads fine)
3. Start scrolling down
(notice weird rendering)
4. Keep scrolling down
5. :bomb:

[code]

[2017-03-16 20:37] cbrewster commented on #15995
I was able to reproduce this with a similar panic to #15944.
Closing as a duplicate

[2017-03-16 20:37] #15995 closed

[2017-03-16 23:19] #15877 closed

[2017-03-17 00:36] #15842 closed

[2017-03-17 01:10] upsuper opened #15999 "text-shadow should not accept negative value for its third length"
I thought it should be fixed in #15611 but apparently it didn't.

It seems [`text-shadow`](https://github.com/servo/servo/blob/b1275591a08bec3888ee843d1f3638f63c5078a0/components/style/properties/longhand/inherited_text.mako.rs#L733-L782) doesn't actually use `Shadow::parse`, but it is probably better have it share the same parsing code.

If we want to keep the `SpecifiedTextShadow` struct rather

[2017-03-17 01:13] upsuper commented on #15339
@josephfu1994 ping, any progress or question here?

[2017-03-17 01:24] #15980 closed

[2017-03-17 01:49] upsuper opened #16000 "Support -moz-box-ordinal-group property"
`-moz-box-ordinal-group` should be fairly easy to implement.

I guess we should add a new `Integer` predefined type to `values` mod, so that we can have `z-index` and `column-count` to use it as well.

[2017-03-17 01:51] upsuper opened #16001 "Support -moz-force-broken-image-icon property"
It seems this has the same syntax as `-moz-box-ordinal-group` so we can probably do this and #16000 together in one pr.

[2017-03-17 01:56] upsuper opened #16002 "Add support for text-size-adjust property"
Gecko supports `-{moz,webkit}-text-size-adjust` properties, but it only supports `auto` and `none` value.

It should be added to https://github.com/servo/servo/blob/master/components/style/properties/longhand/inherited_text.mako.rs

[2017-03-17 01:56] atouchet commented on #15933
I haven't been able to reproduce this issue using the latest nightly build in Windows 10.

[2017-03-17 02:03] #15964 closed

[2017-03-17 02:23] jonathandturner commented on #15933
@atouchet - it still repros for me, but I'll say that I am in a VM on a Mac.  It's possible that it's related to the drivers/VMware and not servo-specific.

[2017-03-17 02:50] jonathandturner commented on #15933
@atouchet - worth mentioning it takes me about 5-10 seconds of playing with it to get it to happen.  It's not always immediate.

[2017-03-17 03:27] atouchet commented on #15933
@jonathandturner I tested again making sure to give it more time and I still haven't seen a case where the images were cleared. I will play with it some more but so far it seems like perhaps it requires some specific conditions to occur (like you said maybe driver related).

[2017-03-17 03:31] upsuper opened #16003 "Support parsing moz-specific matrix functions in prefixed transform property"
Gecko supports a different syntax for `matrix` and `matrix3d` function in `-moz-transform` property. Specifically, when the property is prefixed, it accepts `<length>` in addition to `<number>` for transition parts of the matrix functions.

That says, this kind of syntax are valid for `-moz-transform`:
[code]
while in `transform`, only `<number>`s are allowed.

[2017-03-17 04:02] tmccrmck commented on #15199
@jdm Ah sorry, no. I haven't been able to compile Servo with my machine. The issue [here](https://github.com/servo/rust-bindgen/issues/541). You should go ahead and unassign me.

[2017-03-17 04:23] karan1276 commented on #15999
@upsuper sure, why not.

[2017-03-17 04:27] upsuper commented on #15999
Thanks.

[2017-03-17 04:59] cbrewster commented on #15933
May or may not be related, but I had this same issue when running on Arch Linux.

[2017-03-17 05:59] upsuper commented on #16001
Or we should unship this property in Gecko. See [bug 1348208](https://bugzilla.mozilla.org/show_bug.cgi?id=1348208).

[2017-03-17 07:50] KiChjang commented on #15199
I don't ever recall Servo builds requiring bindgen...?

[2017-03-17 10:09] #15386 closed

[2017-03-17 10:19] wafflespeanut opened #16009 "Tidying commit messages"
I got to see [this post](https://chris.beams.io/posts/git-commit/) today. It reminded me that most often, we don't really worry about the commit messages (we just stamp `r+` and go). Given our rules for clean code, I think we could have some basic rules for commit messages as well. As of now, this is all I can think of:

 - Commit messages should begin with a title case.
 - The first line of messa

[2017-03-17 10:31] cynicaldevil commented on #16009
One cool thing that projects under the JQuery foundation have is to include a word or a small phrase in the beginning of the commit message which states what part of the repo is being affected by the commit. This can be followed by a short, one line description. For example:

`Event: Add radio click triggering tests `

[2017-03-17 10:36] SimonSapin commented on #16009
I think it’s good to have *guidelines* for commit messages. I think it’s good to have tidy check for code in the repository, since that code can stay for a long time. I don’t think gating pull requests (or worse, try builds) on details of commit message formatting or punctuation is that useful, it sounds very annoying for little benefit. It’s better to live with improper punctuation in commit mess

[2017-03-17 10:40] Wafflespeanut commented on #16009
That's one other thing I wanted to ask, whether we should do this in homu, or whether we can keep it to Travis and Appveyor builds? (by having a tidy argument)

[2017-03-17 12:53] #15979 closed

[2017-03-17 16:59] #11660 closed

[2017-03-17 16:59] #14996 closed

[2017-03-17 22:55] #16000 closed

[2017-03-17 23:28] alex commented on #1719
The lack of an `error` event firing makes it difficult to use resources like https://badssl.com/dashboard/.

Here's a simple test case for whoever comes next:

[code]

[2017-03-18 04:02] WholeGrainGoats commented on #15975
I'd love to sink my teeth into this. It will be my first foray into an open source project so I hope it wouldn't be too troublesome if I asked some questions every now and then. Thanks!

[2017-03-18 04:16] bzbarsky opened #16017 "Incorrect serialization of :not(*)"
Testcase (in stylo; I'm not sure how to get at this in servo proper):

    <style>
      :not(*) {}
    </style>
    <script>
      alert(document.styleSheets[0].cssRules[0].selectorText);
    </script>

This alerts `:not()` which is not a valid selector.

[2017-03-18 04:25] bzbarsky commented on #16017
I should note that `:not(|*)`, and `:not(*|*)` also serialize to `:not()`, which is rather odd: those selectors mean different things, and hence presumably are represented differently internally...

[2017-03-18 04:32] bzbarsky commented on #16017
And `:not(foo|*)` is serialized as the invalid selector `:not(foo|)`.  Testcase:

  <style>
    @namespace foo url(foo);
    a:not(foo|*), div { color: green; }
  </style>
  <script>
    alert(document.styleSheets[0].cssRules[1].selectorText);
 </script>

[2017-03-18 04:37] bzbarsky opened #16018 ":dir pseudoclass is not parsed"
Testcase:

    <div>Some text</div>
    <style>
      :dir(ltr), div { color: green; }
    </style>

[2017-03-18 04:38] bzbarsky commented on #16018
Note https://bugzilla.mozilla.org/show_bug.cgi?id=1348479 -- this causes a bunch of stylo test_selectors test failures.

[2017-03-18 04:50] Manishearth commented on #16018
https://bugzilla.mozilla.org/show_bug.cgi?id=1341086 should fix this

[2017-03-18 04:59] #16018 closed

[2017-03-18 05:38] bzbarsky opened #16019 "ComplexSelector to_css should probably not do recursion"
Currently it does:

        if let Some((ref next, ref combinator)) = self.next {
            next.to_css(dest)?;
            combinator.to_css(dest)?;
        }

which will run into crashes due to running out of stack; see https://bugzilla.mozilla.org/show_bug.cgi?id=475215

[2017-03-18 06:02] bzbarsky opened #16020 "Incorrect serialization of wildcard-namespace type selectors when there is a default namespace"
Testcase (in stylo; I'm not sure how to get at this in servo proper):

    <!DOCTYPE html>
    <style>
      @namespace url(foo);
      *|a {}
    </style>
    <script>
      alert(document.styleSheets[0].cssRules[1].selectorText);
    </script>

This alerts `a` which is not the same selector as `*|a` in this case.

[2017-03-18 09:49] jdm commented on #15975
Asking questions is encouraged!

[2017-03-18 11:49] jdm commented on #14987
The idea here is that `CaptureCurrentStack` gives us a JSObject that represents a captured stack. `BuildStackString` accepts a JSObject representing a captured stack and yields a string representation of the stack. A great way to start would be to make a Rust type that captures the stack in its constructor, and has a method that returns a Rust string representation. This type will need to refer to

[2017-03-18 11:50] jdm commented on #14987
It would make the most sense to build this in the rust-mozjs repository, rather than in servo itself.

[2017-03-18 11:57] jdm commented on #15811
@c4khatta Did you make any progress here?

[2017-03-18 12:06] jdm commented on #13035
Hmm, the pastebin from the earlier comment has expired. Could you reproduce it here so we can make useful suggestions?

[2017-03-18 12:13] jdm opened #16021 "WebGL rendering context should not unwrap every send"
The implementation of the WebGL rendering context currently sends messages to another thread which is in charge of actually invoking the GL APIs. This code is riddled with `self.ipc_renderer.send(...).unwrap()` which means that any time the WebGL thread has an error that makes it panic, the web content thread also panics the next time it tries to communicate with the WebGL renderer. One of Servo's

[2017-03-18 12:13] highfive commented on #16021
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-18 12:13] jdm commented on #16021
@Nefari0uss would you be interested in fixing this?

[2017-03-18 12:42] cathalgarvey commented on #13515
I'm using the nightly preview, downloaded today, so that's version 0.0.1-8f3f809, and I just got the same error trying to launch in headless:

[code]

Use-case: I'd like to try servo with webdriver, headless, as a tool for querying page location of HTML blocks/elements. It launches without headless mode enabled, but I think there'll be a huge performance penalty for actually painting the output wh

[2017-03-18 13:03] jdm commented on #13515
The nightly build's headless mode will not work in the same way that a local build will. That's because `./mach run` sets up an environment that loads OSMesa as the GL driver; you will need to replicate the effects of https://github.com/servo/servo/blob/ae1a7cc7b8079491c2140d694467113dcc1f44a6/python/servo/command_base.py#L183 in your local environment.

[2017-03-18 14:41] michaelwheeler commented on #15759
If the openssl dep is bumped does that mean it won't be possible to build servo on Ubuntu 16.04?

[2017-03-18 18:29] Wafflespeanut opened #16025 "Add gecko glue for grid-auto-flow"
#16024 adds parsing/serialization for `grid-auto-flow`. We need to add the gecko glue for it.

[2017-03-18 18:55] Wafflespeanut commented on #16025
This should be pretty simple. Firstly, we should change the Mako definition for `grid-auto-flow` (in `components/style/properties/longhands/position.rs`) to have `products='gecko'` (so that we enable it for Stylo). Now, we should add `set` and `copy` methods manually (in `gecko.mako.rs`).

The first step is to add `grid-auto-flow` to [this list](https://dxr.mozilla.org/servo/rev/ae1a7cc7b8079491c2

[2017-03-18 18:55] highfive commented on #16025
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-18 18:55] Wafflespeanut commented on #16025
@o0Ignition0o You wanna try this?

[2017-03-18 19:28] SimonSapin opened #16026 "ReflowWithNewlyLoadedWebFont is dead code?"
The `script_layout_interface::message::Msg` enum has a `ReflowWithNewlyLoadedWebFont` variant, and `components/layout_thread/lib.rs` has code to handle messages of this variant. But nothing ever sends such messages, so this seems to be dead code.

Should we remove it? CC @pcwalton who added it in #7596.

[2017-03-18 19:42] #15313 closed

[2017-03-18 19:47] SimonSapin opened #16027 "Per-pipeline (?) lock instead of per-process for style objects"
CC @asajeffrey for constellation vs pipeline vs document considerations. **TL;DR**: how can we get `Arc<_>`s to the same memory reachable from both `LayoutThread` and `Document`?

-----

#16014 replaces fine-grained `parking_lot::RwLock<_>` with a mechanism that can protect multiple objects with the same read-write lock (based internally on `Arc<parking_lot::RwLock<()>>` and pointer comparisons).

[2017-03-18 20:49] nodo commented on #15994
Hi all, I am a new contributor to the project, I would be interested in working on this issue. @Manishearth what do you think?

[2017-03-18 20:54] Manishearth commented on #15994
Go ahead! I suggest you look at the cssparser code to get started.

[2017-03-18 21:36] jdm commented on #16027
Every pipeline currently contains a unique layout thread, but https://github.com/servo/servo/issues/14885 suggests that this may not be the model we actually want.

[2017-03-18 21:36] jdm commented on #16027
(And not every DOM document node is associated with a layout thread, eg. `new Document()`)

[2017-03-18 21:40] jdm commented on #16026
Huh, I assumed that we had removed the sender at some point, but #7596 never actually added any code that sent the message.

[2017-03-18 23:36] SimonSapin commented on #16027
Can multiple documents share a layout thread? Navigation (like clicking a link) creates a new document, but is the `LayoutThread` struct reused or is a new one created? Do we want to keep a shared lock across navigation?

[2017-03-19 03:31] chenpighead commented on #16002
I'll work on this. Here's the [gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1348615).

[2017-03-19 09:24] SimonSapin commented on #14323
I tracked this down to WebRender IPC and filed https://github.com/servo/webrender/issues/991.

[2017-03-19 09:34] CajetanP commented on #16021
Hey!
I'm interested in working on this, however it would be my first issue so I'm not quite sure how to go about doing this.

So for example, if I have the code: (it's on line 229 in webglrenderingcontext.rs)
[code]
I should replace it with:
[code]
Am I right?

[2017-03-19 13:26] #16026 closed

[2017-03-19 15:17] jdm commented on #16021
That's correct!

[2017-03-19 15:18] jdm commented on #16021
(And we probably want to return from the method immediately if that occurs)

[2017-03-19 15:25] jdm commented on #16027
LayoutThreads are not reused in today's architecture.

[2017-03-19 15:40] jdm opened #16031 "Build a higher level API for writing structured clone values"
#15519 adds some basic functionality for cloning Blob values as part of the structured clone algorithm. We should build a higher level API for writing Rust types like vectors and strings so we don't need to keep repeating the same low level operations over and over. I envision something like:
[code]
Code: `components/script/bindings/structuredclone.rs`

[2017-03-19 15:41] nox commented on #16031
Why does the writer have `read` methods?

[2017-03-19 16:06] #15036 closed

[2017-03-19 16:15] kammitama5 commented on #5833
they updated the link https://www.warnerbros.com/space-jam.

[2017-03-19 17:10] CajetanP commented on #16021
Okay then, you can assign me.
Also, two more things:
* should I change the unwrap call inside the handle_object_deletion macro as well?
* the methods should return any specific value, or just do "return;" if the error occurs?

[2017-03-19 17:26] SimonSapin commented on #16027
With #16029 removing `ReflowWithNewlyLoadedWebFont` this leaves `AdvanceClockMs` and `TickAnimations` which both call `tick_animations`. Which, in turn, only needs a reference to the shared lock when `LayoutThread::root_flow` is `Some(_)`. That field is initialized to `None`, and only reset in `handle_reflow` where the `Document` is reachable. So I think we can do per-`Document` locks with a optio

[2017-03-19 18:39] Nikhila-B commented on #15601
There are two tools, we are writing in the initial steps. We were not sure if we completely understand what the first is one is about

Tool # 1: create a tool that initializes a JSON file with the known authors for a local git repository

Are we redirecting the contributors list to a file? Any kind of clarification would help.

[2017-03-19 18:41] jdm commented on #16021
The methods that have a non-void return type will need to return a meaningful error value or they won't compile. I would expect there to be examples present to duplicate in that case.

[2017-03-19 18:41] jdm commented on #16021
And yes, the macro will need to be updated as well.

[2017-03-19 18:48] jdm commented on #15601
The goal of the first tool is to set up a list of the known contributors, which will make the output of the second tool more meaningful in the future (otherwise it would report each contributor as a new contributor, even if that is not the case).

[2017-03-19 22:31] montrivo commented on #15671
`CanvasImageData.createImageData()` in `/script/dom/canvasrenderingcontext2d.rs` (two methods) seem properly implemented. Should they be modified to reuse the new constructors ? Error handling could also be enhanced and could return proper `Fallible` values instead of panicking. But this can be left to  #15823.
If not, this issue can be closed.

[2017-03-20 01:25] jonathandturner commented on #12125
Removing #15572 from the blockers list.  I haven't been able to repro it except for isolated cases.  Showcase links appear to work correctly.

[2017-03-20 04:36] #16002 closed

[2017-03-20 05:00] upsuper commented on #16001
Given that we are not going to unship this property, we would need to implement it. Fortunately it should be easy.

[2017-03-20 05:27] vinodkd opened #16038 "servo-latest app consistently hangs on my Early 2011 MBP (El Capitan), and freezes it"
I've now tried downloading servo-latest.dmg and playing with it on 2 occasions, separated by 15 days. On both occasions, the Servo app makes my entire mac hang.

Repro steps:
1. Follow instructions on download.servo.org and download servo-latest.dmg.
2. Install it into Applications folder as directed there.
3. Launch the app from the dock.

Once it launches, nothing is clickable, nor usable. It's

[2017-03-20 06:02] Manishearth opened #16039 "Tidy doesn't run if you have the official `tools` package installed"
[code]

Previously this used to happen to me only in Stylo clones, where the wpt directory doesn't exist (so `tools.lint` won't exist), but this is a Servo clone. I'm not sure what's happening here. I'm currently just running it with `--stylo` which excludes this lint (but also implies `--all`)

cc @Wafflespeanut @jgraham

[2017-03-20 06:16] Manishearth commented on #16039
Ah, the problem is that I already have a `tools` package installed, and the `site.addsitedir(wpt_working_dir)` call doesn't make it higher precedence. Perhaps we should mutate sys.path directly.

[2017-03-20 06:55] SaschaNaz commented on #12125
Please consider adding #14494 to the blockers list.

[2017-03-20 08:29] stshine commented on #14352
duplicate of #13683.

[2017-03-20 11:09] wafflespeanut opened #16041 "Intermittent timeout in /css21_dev/html4/c548-ln-ht-002.htm"
▶ TIMEOUT [expected FAIL] /css21_dev/html4/c548-ln-ht-002.htm

[2017-03-20 11:28] Ygg01 opened #16042 "Removing TreeBuilder/TreeActions in html5ever and xml5ever."
Currently, these traits are only used for namespacing (see servo/html5ever#258).

This task entails:

*  removing traits  [TreeBuilderActions](https://github.com/servo/html5ever/blob/7634561c5edcea7fef024dff60fabfd2e53db4d2/src/tree_builder/actions.rs#L61)/[TreeBuilderStep](https://github.com/servo/html5ever/blob/7634561c5edcea7fef024dff60fabfd2e53db4d2/src/tree_builder/rules.rs#L36)/[XmlTreeBuild

[2017-03-20 11:53] #14352 closed

[2017-03-20 11:55] highfive commented on #16039
cc @wafflespeanut

[2017-03-20 12:09] jdm opened #16043 "Make ImageData::new return Fallible instead of unwrapping a result"
Rather than panicking if ImageData::new_with_jsobject returns an error, we should make ImageData::new propagate the error to its callers instead.

Code: `components/script/dom/imagedata.rs`
Tests: `./mach test-wpt tests/wpt/web-platform-tests/2dcontext/pixel-manipulation/`

[2017-03-20 12:09] highfive commented on #16043
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-20 12:09] jdm commented on #15823
@lucantrop Probably because the particular caller that needed the size worked best in those units.

[2017-03-20 12:10] jdm commented on #15671
I have filed #16043 to improve it. We can go ahead and close this.

[2017-03-20 12:10] #15671 closed

[2017-03-20 12:27] jdm commented on #16042
I think it makes more sense to file it in that repository instead.

[2017-03-20 12:28] jdm commented on #16042
In fact, closing this in favour of https://github.com/servo/html5ever/issues/258.

[2017-03-20 12:28] #16042 closed

[2017-03-20 12:29] highfive commented on #16019
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-20 12:29] emilio commented on #16019
Happy to mentor this one.

[2017-03-20 13:11] jdm commented on #16019
Presumably we'll want to convert the code in https://dxr.mozilla.org/servo/rev/103e827948e4c3592ee93cbed8adf270588b559e/components/selectors/parser.rs#379-382 to use a loop instead?

[2017-03-20 13:26] #16039 closed

[2017-03-20 13:27] bzbarsky commented on #16019
Yes, that is the general idea.  The complication is that you want to loop backwards over a singly linked list.

Gecko does the obvious thing here: use a growable array with some preallocated stack storage (so you don't have to heap-allocate in common cases), walk the linked list adding things to the array, then walk the array backwards in a loop.

[2017-03-20 15:13] jdm commented on #3982
#15936 is the most recent effort. It's a good start, but there is a bunch more work that needs to go into it before it's ready to merge. The original author is no longer able to work on it.

[2017-03-20 15:20] metajack commented on #12125
@SaschaNaz Updated to add that.

[2017-03-20 15:52] spastorino commented on #3982
@jdm after returning from my long vacation will start working on it.

[2017-03-20 15:55] matthiaskrgr opened #16046 "[mach] tell user when pip is running"
Somehow while playing around with the servo repo, some installed python package went corrupted and I could no longer run ./mach.
I assume what happened is that I at some point terminated ./mach while it ran pip and was left behind with a half-installed python package.
I was able to resolve all problems by reinstalling all system python packages and removing and reinstalling all my pip-installed pa

[2017-03-20 15:57] jdm commented on #3982
Note: said vacation ends in November, so this is available for other people to work on before that time.

[2017-03-20 16:30] atouchet commented on #14494
This may be the same issue as #13366.

[2017-03-20 16:37] CajetanP commented on #16021
https://github.com/servo/servo/compare/master...CajetanP:master

[2017-03-20 16:40] CajetanP commented on #16021
Okay so I replaced all of these unwrap calls with if ... is_err etc.
I also made all "void" functions "return;" if the error occurs. The thing is that I'm not sure what to return for functions that return a value.
I marked all of them with "// FIXME: it probably should return some error value"
How should I go about these cases?
You can see all of my changes in the commit above.

[2017-03-20 16:50] highfive commented on #16046
cc @wafflespeanut

[2017-03-20 16:55] jdm commented on #16021
The methods that return `Fallible<...>` can return `Err(Error::InvalidState)`. For others, use "default" values like 0 or `UndefinedValue()` (for JSVal return type) for the time being.

[2017-03-20 17:08] fabricedesre opened #16049 "Wikipedia rendering regression"
At least I seem to remember we were rendering it much better. It seems that most of the styling doesn't apply: https://irccloud.mozilla.com/file/4aGom2Gq/servo-wikipedia.png

[2017-03-20 17:13] jdm commented on #16049
I have a build showing it was working as of a780f6f28cf5d0f4faa7ad84822692d9bab1d031, so we should definitely bisect.

[2017-03-20 17:42] jdm commented on #16049
Interestingly, I sometimes see the styling appear >40s after the initial page load.

[2017-03-20 17:47] elahn commented on #13366
This is describing #12937 however, in some cases you may also be hitting #14494.

[2017-03-20 17:56] elahn commented on #14494
@atouchet that issue describes #12937, but this issue may also be involved in some cases.

[2017-03-20 18:31] CajetanP commented on #16021
I did as you said, is there anything else to adjust here or I should submit a pull request?

[2017-03-20 19:12] jdm commented on #16021
A pull request would be the best way to evaluate it!

[2017-03-20 19:48] jdm commented on #16049
Pretty confident that the regression is https://github.com/servo/servo/pull/14620/files#diff-e8cd2dd2c9989c693e87a030a1755bccR612, because it doesn't take the mime type's charset into account.

[2017-03-20 19:54] jdm commented on #16049
[code]

We should change [this check](https://dxr.mozilla.org/servo/rev/e8b364793416465f6b4877414623dac2c52f2e6a/components/net/fetch/methods.rs#611) and [this check](https://dxr.mozilla.org/servo/rev/e8b364793416465f6b4877414623dac2c52f2e6a/components/net/fetch/methods.rs#618) to explicitly compare only the [toplevel and sublevel](http://doc.servo.org/mime/struct.Mime.html) types, not the entire

[2017-03-20 19:54] highfive commented on #16049
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-20 20:12] jdm commented on #15571
Next place to look might be the WR code for the background color: https://github.com/servo/webrender/blob/b9a04064c995d3bd469627cf8a6411865772a71c/webrender/src/frame.rs#L429

[2017-03-20 20:13] methyl commented on #16043
@highfive: assign me

[2017-03-20 20:13] highfive commented on #16043
Hey @methyl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-20 21:03] #16043 closed

[2017-03-20 21:27] fabricedesre commented on #16049
I have a patch that fixes the wikipedia issue, but there is something weird with the tests: tests in wpt/web-platform-tests/fetch/nosniff/ should have caught that if I understand them (eg. https://dxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/fetch/nosniff/stylesheet.html#7) but our fetch nosniff code is not triggered during these tests. Still investigating.

[2017-03-21 02:47] vypr commented on #15811
I'll take this one over since they seem to be M.I.A.

[2017-03-21 02:48] vypr commented on #15811
@highfive: assign me

[2017-03-21 02:48] highfive commented on #15811
Hey @vypr! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-21 03:14] vypr commented on #15811
Made #16054, should fix this. :)

[2017-03-21 03:58] vypr commented on #15811
Safe to close now. Thanks for the opportunity to contribute!

[2017-03-21 04:02] #15811 closed

[2017-03-21 04:03] KiChjang commented on #13366
FTR, this also used to happen in Linux, but was fixed on current nightly.

[2017-03-21 07:40] #15947 closed

[2017-03-21 10:13] Wafflespeanut commented on #15194
Previous work and reviews are in #15508

[2017-03-21 10:19] Wafflespeanut commented on #15401
#15918 has fixed this.

[2017-03-21 10:19] #15401 closed

[2017-03-21 10:22] Wafflespeanut commented on #15902
@mrkalling Did you start working on this?

[2017-03-21 10:23] Wafflespeanut commented on #15954
@SebastinSanty Have you made any progress? Any questions?

[2017-03-21 10:25] Wafflespeanut commented on #15959
@karan1276 Have you made any progress on this?

[2017-03-21 10:50] #15698 closed

[2017-03-21 11:34] Wafflespeanut commented on #16025
This is open fro anyone!

[2017-03-21 11:43] aguai opened #16057 "ScriptThread stores mousemove target nodes and invokes content JS on closed pipelines"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-4cd7321
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-03-21 11:44] aguai commented on #16057
error

[2017-03-21 11:48] jdm commented on #16057
@aguai What page were you looking at?

[2017-03-21 12:41] tictakk commented on #16019
Hi, I'm looking to contribute to servo. Is this being worked on/assigned?

[2017-03-21 12:55] emilio commented on #16019
Please take it if you want! Reply to this mentioning @highfive, or saying you want to take it, and we'll assign it to you :)

[2017-03-21 13:10] SebastinSanty commented on #15954
@Wafflespeanut Yep! I'm almost done. I'll put in a PR in some time.

[2017-03-21 13:29] jdm opened #16058 "Fix warnings about unused import of servo_config::opts"
[code]
[code]
These are used inside code blocks that have `#[cfg(target_os = "linux")]`, so we should add the same cfg directive to the `use` statement that is being warned about.

Code: `components/script/dom/permissions.rs`, `components/bluetooth/lib.rs`

[2017-03-21 13:29] highfive commented on #16058
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-03-21 14:42] methyl commented on #16058
@highfive: assign me

[2017-03-21 14:42] highfive commented on #16058
Hey @methyl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-21 14:53] jdm commented on #14095
@enizor How is it going? Still working on this?

[2017-03-21 14:53] jdm commented on #14954
Unassigning due to lack of response.

[2017-03-21 16:07] karan1276 commented on #15959
@Wafflespeanut not yet. I'll look into it tomorrow

[2017-03-21 17:56] #16058 closed

[2017-03-21 18:49] canaltinova opened #16065 "At some places `serialize_identifier` require intermediate String"
We needed to convert `Atom` to `&str` for `serialize_identifier` in will-change property. To be able to convert `Atom` to `&str`, we had to create an intermediate `String`. We should remove that additional step.

cc @emilio

[2017-03-21 19:34] jdm opened #16068 "https tests in referrer-policy test all time out"
There are a lot of tests and they currently do nothing useful while #6919 is unfixed. We disabled them for the non-fork, but not for the ones in tests/wpt/mozilla/tests/mozilla.

[2017-03-21 20:36] codec-abc commented on #15255
I think the PR made to remove this from the windows blockers is great but the underlying issue is still there. As such, I think it would be better if we would leave this open and remove this issue from the windows blockers. Do you agree?

[2017-03-21 20:58] jonathandturner commented on #15255
@codec-abc yes.  Actually, do you want to open a new issue that's specifically that we can't load the old woff file?  That way we can track it as a woff loading issue instead.

[2017-03-21 22:22] gsnedders opened #16071 "[mach] mach test tidy fails"
On Linux, current master, `./mach test tiny` fails with:

[code]

Similarly, `./mach test --all` fails with:

[code]

[2017-03-21 22:22] gsnedders commented on #16071
For reference, this is 2f6cf2e9c883d919b35d952f47d6bb1670f21def.

[2017-03-21 23:24] mrkalling commented on #15902
I have looked at it but I don't understand what is the problem. When I test to set flex-basis to a negative number servo seems to ignore it which is what we want, right?

[2017-03-21 23:29] upsuper commented on #15902
It looks like Servo's `LengthOrPercentageOrAutoOrContent` is already only parsing non-negatives, while the Gecko port uses `LengthOrPercentageOrAuto` which does normal parsing. So it is a stylo-only issue. We probably need to use `LengthOrPercentageOrAuto::parse_non_negative` for that.

[2017-03-21 23:30] upsuper commented on #15902
Probably adding a new line
[code]
would be enough.

[2017-03-21 23:51] cbrewster commented on #15727
@gpoesia how is this going? Is there anything I can do to help?

[2017-03-22 00:16] jonathandturner commented on #15933
This is happening much less often in my tests.  I'm feeling comfortable at this point removing it from the blocker list.  Will keep it open until we've got it completely fixed.

[2017-03-22 01:17] jonathandturner opened #16074 "Need to document font metrics on Windows"
Follow up from https://github.com/servo/servo/pull/16034

We need to document struct FontMetrics in gfx/font.rs.

[2017-03-22 02:15] atouchet commented on #15757
This appears to be fixed in the latest nightly build.

[2017-03-22 02:41] jonathandturner commented on #15757
Agreed - looks much better now.

[2017-03-22 02:41] #15757 closed

[2017-03-22 02:44] atouchet commented on #12125
I don't know if this is concrete enough for its own issue report but I am finding that the main usability problem remaining with the Windows build now is how frequently it crashes. It's nearly impossible to browse for any significant amount of time and even some of the default showcase sites will often crash the browser.

[2017-03-22 02:49] jonathandturner commented on #12125
@atouchet - across the board there needs to be a fair bit of compatibility and stability improvements.  Some of the stability issues (like the one where you scroll up and down on a webpage and it crashes after a few seconds) are not specific to the Windows build.  I agree it's not particularly great right now.

That said, I'm of the mind that we need to get the Windows nightly out there so more pe

[2017-03-22 03:23] jonathandturner commented on #12937
In case anyone is trying to work on this issue, I got this far:

* `components/script/textinput.rs` has handle_keydown, which receives a `event: &KeyboardEvent`
* When you press a key, this event seems to have the correct `keycode` field, but the `printable` from the previous key (initially this is none).
* `handle_keydown` uses the printable field to determine what to do, so we end up always bein

[2017-03-22 03:31] atouchet commented on #12125
@jonathandturner I haven't tested the Linux or macOS versions of Servo so I don't have a frame of reference for whether certain issues are exclusive to the Windows build or are more fundamental engine issues that still need to be sorted out. I agree that shipping nightly builds for Windows would be better sooner than later.

[2017-03-22 03:40] atouchet commented on #12730
I don't know what exactly is considered to be "a long time" but when launched from an SSD I find that Servo takes roughly 2-3 seconds to startup.

[2017-03-22 04:31] cbrewster commented on #9592
@asajeffrey is it possible to do this now? or do we need to manually track the current url?

[2017-03-22 04:56] #15021 closed

[2017-03-22 05:36] #15706 closed

[2017-03-22 08:07] methyl commented on #16025
@highfive: assign me

[2017-03-22 08:07] highfive commented on #16025
Hey @methyl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-22 08:18] abhiaecs commented on #15840
I am facing network issues :( .
I won't be able to work on this until network issues are resolved.
Thank you

[2017-03-22 12:03] codec-abc opened #16078 "Servo does not render properly some characters of woff file in Windows"
This is in following of the #15255. A PR has been made so the Windows version of Servo's UI can be rendered properly but the underlying issue remains. As it turns out the issue come from a limitation of a crate used by servo that only has partial support for web fonts. My last message in the issue thread provides more details. I set up [a repository](https://github.com/codec-abc/test-servo-fontawe

[2017-03-22 12:03] codec-abc commented on #15255
@jonathandturner  I created #16078. This one can remain closed.

[2017-03-22 12:37] #16025 closed

[2017-03-22 12:58] Wafflespeanut opened #16079 "Add parsing/serialization for grid-template-areas"
Though the grammar is `none | <string>+`, there are a [few rules](https://drafts.csswg.org/css-grid/#propdef-grid-template-areas) for parsing the `<string>`, so it might not be easy.

[2017-03-22 13:33] mrobinson commented on #5679
@emilio Is this bug still valid now that we have a WebRender-only Servo?

[2017-03-22 13:41] jdm commented on #14887
Are you still working on this @zimio?

[2017-03-22 15:03] emilio commented on #5679
I don't think so. We still need to make 2d canvas fast, but that should be another bug, and totally unrelated to this one.

[2017-03-22 15:03] #5679 closed

[2017-03-22 15:19] mrobinson commented on #8574
Going to close this bug since the old rendering backend doesn't exist any longer.

[2017-03-22 15:19] #8574 closed

[2017-03-22 15:22] mrobinson commented on #10233
I'm not seeing this any longer. Can anyone confirm this is still an issue?

[2017-03-22 15:42] n0max commented on #15449
@highfive: assign me

[2017-03-22 15:42] highfive commented on #15449
Hey @n0max! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-22 17:41] zimio commented on #14887
@jdm  Yes. Though it's been a bit challenging I still need to wrap my head around the flow.

For instance, when I comment out code in the html element file the test doesn't fail.

I need to keep looking at this to get a deeper understanding of the flow.

[code]

[2017-03-22 17:54] tictakk commented on #16019
Okay, awesome. @highfive: assign me

[2017-03-22 17:54] highfive commented on #16019
Hey @tictakk! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-22 18:21] jdm commented on #14887
@zimio Oh, good catch. It turns out that `Document::Title` always checks the actual title contents; `title_changed` is only used to update the title that appears in the OS window. Looks like automated tests won't work for this, and we'll need to do manual inspection of the window title instead.

[2017-03-22 18:22] jdm commented on #14887
Actually, it's better than I feared - we also dispatch a DOM event for the mozbrowser embedding scenario (ie. a web browser that's build around privileged iframes). We have tests that use this event in tests/wpt/mozilla/tests/mozilla/mozbrowser/mozbrowsertitlechangedeagerly_event.html, so we can build other tests that verify this case.

[2017-03-22 18:32] Seris commented on #15219
I've worked a bit on it and I think I understand what I need to do. But currently, I can't work on it right now ! It's a hard semester and I have a lot of exams and projects. I'll be working again on the issue after April 17 if it does not require more attention right now ^^

Sorry for not informing you earlier !

[2017-03-22 19:54] jonathandturner commented on #12730
@atouchet - are you on Windows native or in a VM?  I see some slowness, but I was attributing that to me running Windows in a VM.

[2017-03-22 20:09] kriston commented on #13018
This is a problem using VNC as well.  In this case I am using TigerVNC where GLX isn't available.  The stack trace is attached.

[servo-crash.txt](https://github.com/servo/servo/files/862725/servo-crash.txt)

[2017-03-22 20:25] atouchet commented on #12730
@jonathandturner Windows native.

[2017-03-22 21:18] changm commented on #12730
I just tried the tech demo from https://github.com/servo/servo/issues/12730#issuecomment-280121591. That seems to work fine. I'll try building servo again and see what I find.

[2017-03-22 21:27] zimio commented on #14887
I will check that test, see if I can adapt it for this case.

[2017-03-22 22:42] jbendig commented on #14954
I'm willing to implement this if no one else is working on it.

[2017-03-22 23:18] jonathandturner commented on #12937
A bit more info:

* Issue seems to be in glutin.  In `ports/glutin/window.rs` it assumes that `Event::ReceivedCharacter` will happen before `Event::KeyboardInput`.
* This ordering is not what I see in practice, where KeyboardInput comes first.
* The assumption happens with the `self.pending_key_event_char` not being set properly

After this happens, we're always one behind.

The fix seems to be to

[2017-03-22 23:39] Manishearth opened #16089 "font-variant is a shorthand"
We've implemented it as a longhand that doesn't do anything. Huh.

Spec: https://drafts.csswg.org/css-fonts-3/#propdef-font-variant
MDN: https://developer.mozilla.org/en/docs/Web/CSS/font-variant

[2017-03-22 23:57] jonathandturner commented on #12937
cc @tomaka, who might know why the keyboard events work like this ^

[2017-03-23 01:16] gpoesia commented on #15727
@cbrewster Would you take a look at #16091? I didn't find a better way of testing than waiting for some timeout. It bothers me that this makes the test non-deterministic in theory, but I think there can't be an exact way since we want to assert that "onload won't ever be called again", and that seems undecidable.

[2017-03-23 01:51] jdm commented on #12937
I believe the ReceivedCharacter/KeyboardInput ordering is correct in Glutin on Mac and Linux.

[2017-03-23 01:51] jdm commented on #14954
Please do!

[2017-03-23 02:04] gpoesia commented on #9174
By playing a bit, it seems the input's `width: 100%` is being calculated against the table's width itself, which is not set. However, the table's width depends on the input's width in this case. Isn't this the case of undefined behavior described in [https://www.w3.org/TR/CSS2/visudet.html#the-width-property](https://www.w3.org/TR/CSS2/visudet.html#the-width-property)?

[2017-03-23 02:47] BorisChiou commented on #15740
Waiting for wpt tests merged from gecko into https://github.com/w3c/web-platform-tests

[2017-03-23 05:23] KiChjang commented on #15740
@BorisChiou For your reference, Servo's repository comes with a fork of w3c/web-platform-tests, and is located under tests/wpt/web-platform-tests. @Ms2ger and @jgraham periodically syncs that directory, so you can freely write your tests and commit them in Servo.

[2017-03-23 06:42] gterzian commented on #16031
Could the `S-blocked-on-external` be removed perhaps? Also have you considered labeling this one `E-less-easy`? I would be happy to help the person doing the actual refactoring.

[2017-03-23 06:42] gterzian commented on #11517
I will start looking into this now, perhaps add the 'assigned' label? 😄

[2017-03-23 07:45] methyl commented on #16089
@highfive assign me

[2017-03-23 07:45] highfive commented on #16089
Hey @methyl! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-23 09:35] mrobinson commented on #5910
@Adenilson The test case for this didn't seem to link properly. Do you happen to still have it somewhere?

[2017-03-23 10:25] mrobinson commented on #11385
This doesn't seem to be an issue any longer, so I'm going to close this one.

[2017-03-23 10:25] #11385 closed

[2017-03-23 10:28] mrobinson commented on #11790
The display list no longer uses the offset map and has a much simpler structure, so I'm going to close this issue since the stack trace cannot be useful any longer.

[2017-03-23 10:28] #11790 closed

[2017-03-23 10:28] mrobinson commented on #12067
The display list no longer uses the offset map and has a much simpler structure, so I'm going to close this issue since the stack trace cannot be useful any longer.

[2017-03-23 10:28] #12067 closed

[2017-03-23 10:46] methyl commented on #16089
@Manishearth can you unassign? I did some research but I'm afraid I won't be able to finish that before vacation next week.

Quick summary:
There are two variants of font-variant: one is shorthand from css-fonts-3 specification and the other (called [font-variant-css21](https://developer.mozilla.org/en/docs/Web/CSS/font#font-variant-css21)) is longhand which is still used in `font` shorthand. As t

[2017-03-23 10:49] mrobinson commented on #4973
This is working for me now. I suspect this was fixed when I did all the work to fix stacking order.

[2017-03-23 10:49] #4973 closed

[2017-03-23 10:51] mrobinson commented on #15571
@jdm I imagine your change isn't working because WebRender is still clipping items to stacking context boundaries. I change that here: https://github.com/servo/webrender/pull/1002

[2017-03-23 12:09] jdm opened #16095 "Implement transferable objects"
We support cloning complex objects as part of structured clone operations, but we don't support [transferring](https://html.spec.whatwg.org/multipage/infrastructure.html#transferable-objects) them (eg. as the last argument to [postMessage](https://html.spec.whatwg.org/multipage/comms.html#dom-window-postmessage)).

[2017-03-23 13:38] jdm commented on #15239
I've looked at an rr recording of this. It appears that it's a timeout because there are enough confounding factors under heavy load; it has just completed one subtest when the harness timeout triggers. One annoyance is that with seven iframes, we first load seven about:blank documents, dispatch load events for them, notify the constellation, then disregard the notifications that they loaded becau

[2017-03-23 14:38] ferjm opened #16097 "Locked::read_with called with a guard from an unrelated SharedRwLock"
I'm seeing this panic with Google Docs, after login with 2FA.

<details>

[code]

</details>

Blocks  #13942

[2017-03-23 14:39] ferjm commented on #16097
CC @SimonSapin

[2017-03-23 14:47] ferjm commented on #4577
Blocks #13942

[2017-03-23 15:00] jdm commented on #15435
I have caught this in rr; it no longer panics since #15618. Like #15239, this test loads six iframes, and it times out before it gets a chance to run the first onload event.

[2017-03-23 15:20] jdm commented on #15445
This happens because the MessageEvent finalizer frees the Rust memory, which invokes the Heap destructor and triggers its post-barrier.

[2017-03-23 15:21] jdm commented on #15445
One option to consider - make finalizers add pointers to a TLS vector of things that should be freed, then free all those objects from a post-gc hook.

[2017-03-23 15:29] jdm commented on #13441
This looks like another instance of tests that spawn a lot of threads timing out under heavy load - cors-redirect.js tests five different response codes, performs four tests per code, and each test performs two fetches. That's forty fetches, and each one creates at least one thread.

[2017-03-23 15:54] codec-abc commented on #12937
I start to look at this issue and put some println! `ports/glutin/window.rs` and found the following : the events in the functions handle_window_event are received in this order.

- Event::KeyboardInput (probably key down)
- Event::ReceivedCharacter
- Event::KeyboardInput (probably key up)

The events appear to be reliably ordered.

But I don't received Event::KeyboardInput for some key (like `/`

[2017-03-23 16:17] Adenilson commented on #5910
@mrobinson I can have a look on my old backups, but that is going to take a few days.

Can't you recreate the test case based on the display list dump + description of the bug?

Back in the day (2 years ago), Servo would create a SC for a filtered element (e.g. blur).

If that still holds true, I would start with a simple div with a z-index defined together with a filtered image (e.g. blur) as tha

[2017-03-23 16:47] ferjm opened #16101 "Implement support for the `resolution` media query"
Spec: https://drafts.csswg.org/mediaqueries-3/#resolution

Blocks #13942

[2017-03-23 16:56] emilio commented on #16097
It'd be nice to see what the `<T>` in the lock is, presumably an element from another document, and we're trying to read its style attribute?

[2017-03-23 17:02] ferjm commented on #6963
Blocks #13942

[2017-03-23 17:10] paulrouget commented on #10233
Can't reproduce either.

[2017-03-23 17:10] #10233 closed

[2017-03-23 17:28] jdm commented on #15445
The problem in particular is that the Heap value inside of the MessageEvent contains a pointer to a nursery object, when that object should have been promoted before we reached this point in the GC. The plot thickens!

[2017-03-23 17:29] ferjm opened #16103 "Implement X-Frame-Options HTTP header"
Spec: https://tools.ietf.org/html/rfc7034

Blocks: #13942

[2017-03-23 17:30] jdm commented on #16103
I doubt this _blocks_ #13942, per se. The header strictly limits what content iframes are allowed to load, so if we don't implement it the functionality of the page will not be affected in any way.

[2017-03-23 17:33] ferjm commented on #16103
That's certainly true. I'm editing the description.

[2017-03-23 17:46] jdm commented on #15445
This is a minimal reproduction:
[code]
[code]

[2017-03-23 17:52] Manishearth commented on #16089
No, that property doesn't exist 😄, we shouldn't invent new properties.

We should support the css-fonts-3 shorthand, that decomposes into all the font-variant longhands. When parsing `font`, we should only parse `normal` and `smallcaps`, and decompose that into whatever font-variant does for those two properties. It seems to redirect them into `font-variant-caps` and reset the rest to initial.

Th

[2017-03-23 18:04] Manishearth commented on #16089
Note that when `font-variant-css21` is listed in the shorthand, that's not the name of a property, that's just a thing that can be parsed.

[2017-03-23 18:14] ferjm opened #16105 "Implement PointerEvents"
Spec: https://www.w3.org/TR/pointerevents/

May block #13942

[2017-03-23 18:22] jdm commented on #15445
[code]
Our SpiderMonkey bindings are the gift that keep on giving. Our Heap constructor is bogus because it stores a pointer to the interior value and then moves it.

[2017-03-23 18:23] ferjm opened #16106 "Implement <input type="url">"
Spec: https://html.spec.whatwg.org/multipage/forms.html#url-state-(type=url)

May block #13942

[2017-03-23 18:24] jdm commented on #16106
Won't block; the input types gracefully degrade to regular text inputs.

[2017-03-23 18:39] #15203 closed

[2017-03-23 19:00] ferjm opened #16107 "Implement element.innerText"
Spec: https://html.spec.whatwg.org/multipage/dom.html#the-innertext-idl-attribute

May block #13942

[2017-03-23 19:49] mrobinson commented on #5910
Okay. This seems to be working now, so I'm going to just close this issue. Thanks for the quick response!

[2017-03-23 19:49] #5910 closed

[2017-03-23 19:51] mrobinson commented on #6142
This should be supported now with https://github.com/servo/servo/commit/9d72e89ce3502cb58147375c8ecc4e9e9356b1ee and  https://github.com/servo/servo/pull/16073!

[2017-03-23 19:51] #6142 closed

[2017-03-23 20:28] jdm opened #16108 "Make a fast path for same-origin iframes to notify parent when loaded"
Right now, DocumentProgressHandler::dispatch_load will dispatch the load event for a document, then call Document::notify_constellation_load. This sends a message to the constellation, which in Constellation::handle_subframe_loaded sends a message the event loop for the parent browsing context (if any) of the document that just loaded. In the same-origin case, this is the same event loop that star

[2017-03-23 21:06] #15955 closed

[2017-03-23 21:20] jonathandturner commented on #12937
@codec-abc - that's the order I was seeing too.  Unfortunately, it looks like KeyboardInput checks for the character that ReceivedCharacter puts in pending_key_event_char.  This means that we can't use it to type.

You could imagine using it for something like sending the character during a key up, but that'd different than people would expect.

[2017-03-23 21:50] jonathandturner commented on #12937
It seems like we need translate the key to a printable character ourselves, rather than waiting for `ReceivedCharacter`.  Then we could just ignore the ReceivedCharacter event.

TBH that these are separate events are confusing to me.  Why not just have a single keydown and a single keyup?  Having other states in the state machine just sounds more complicated.

[2017-03-23 22:05] jonathandturner commented on #12937
@jdm - yeah, I think that's where glutin gets it (since iirc, it's based on GLFW).

I did a *quick* look around, and Windows, SDL, macOS, qt, JS, and gtk all seem to be keydown/keyup with some also having a separate event for key holding.  Granted, that was all of 5 minutes of me skimming documentation :).

Inside the key down event, things like JS allow you to get the printable char in case you w

[2017-03-23 22:06] jonathandturner commented on #12937
Hit send too quickly.  Anywho, my point with the last line is that this would actually make the fix pretty trivial if glutin worked that way instead of having a separate event for printable char.

[2017-03-23 22:21] jdm commented on #12937
https://github.com/servo/servo/issues/4144 has the background on us figuring this stuff out and then never following through on modifying glutin in ways that made sense.

[2017-03-24 06:16] Dinika commented on #15840
I'd love to give it a shot.
@highfive: assign me

[2017-03-24 06:16] highfive commented on #15840
Hey @Dinika! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-24 09:18] mrobinson commented on #7293
Looks like with all the WebRender and stacking context improvements, this was fixed in the process. I'm going to close this, but feel free to open it again if you detect a problem or a regression.

[2017-03-24 09:18] #7293 closed

[2017-03-24 09:56] abhiQmar commented on #15957
Sorry, haven't been able to find time to complete this, anyone is free to take this up.

[2017-03-24 10:07] KiChjang commented on #15445
For now, does this mean we should initialize it with `UndefinedValue` first, and then set the heap data afterwards? And is there a bug filed against rust-mozjs?

[2017-03-24 10:40] nox opened #16115 "Intermittent timeout in /_mozilla/css/img_dynamic_remove.html"
[code]

[2017-03-24 13:02] codec-abc commented on #12937
I have tried to understand the issue further. I agree with what @jonathandturner wrote earlier : "In ports/glutin/window.rs it assumes that Event::ReceivedCharacter will happen before Event::KeyboardInput". Reading some documentation about the [Windows API](https://msdn.microsoft.com/fr-fr/library/windows/desktop/ms646276(v=vs.85).aspx) it confirms that for key that can produce characters the orde

[2017-03-24 13:54] jdm commented on #15445
That will work, but it's important to set the heap data after the Heap value will no longer be moved. It's safest to set it after `reflect_dom_object` in general, when that method is being called. I plan to remove the Heap constructor that accepts a value to reduce the risk of similar errors.

[2017-03-24 13:56] jdm commented on #15445
Filed https://github.com/servo/rust-mozjs/issues/343.

[2017-03-24 14:02] jdm commented on #14520
The work in #14770 was on the right track but the author disappeared.

[2017-03-24 14:05] jdm opened #16117 "main_fetch shouldn't pass file: and about: urls to basic_fetch"
See the work in https://github.com/servo/servo/pull/14515. The specification has been updated since that code was written.

[2017-03-24 14:07] jdm opened #16118 "Opaque and opaque redirect responses should have an empty body"
https://github.com/servo/servo/pull/14474 was attempting to solve the issue of filtered responses sharing the unfiltered response bodies, but that's required for certain kinds of filtered responses.

[2017-03-24 15:04] stjepang opened #16120 "Replace pdqsort with sort_unstable"
This issue is a follow-up to #15244. It can be a good first contribution for a newcomer to Servo.

Nightly Rust has recently got a new feature called `sort_unstable`, which provides an unstable sort algorithm on slices. It is unstable in the sense that it may not preserve the original order of equal elements after sorting. See [this](https://doc.rust-lang.org/nightly/unstable-book/sort-unstable.ht

[2017-03-24 15:29] SimonSapin commented on #16120
Note that some Servo crates (in particular `style`) need to support stable Rust.

[2017-03-24 15:35] SimonSapin commented on #16120
`style` is the one crate that uses `pdqsort`, so this is blocked on https://github.com/rust-lang/rust/issues/40585 (stabilization of `unstable_sort`) and then on Firefox requiring the corresponding Rust version (see `rustc_min_version` in http://searchfox.org/mozilla-central/source/build/moz.configure/rust.configure)

[2017-03-24 15:47] #15754 closed

[2017-03-24 16:43] pcpeters commented on #15850
Hi @jdm , I’ve gone through mod.rs, to see how the different mime contexts are being considered in order to serve a response. What I understand from everything written above is that application/xml files must be treated in the same way that text/xml files are currently being treated. However, in the file mod.rs, at line 587, I see is that nothing is done once we encounter text/xml.

I'm not sure o

[2017-03-24 17:18] jdm commented on #15850
Right, the decision for text/xml is "we don't need to do anything special; just process the rest of the page content as usual". The next branch in that match handles any content types that we don't recognize and makes us replace the content with a generic error.

[2017-03-24 17:20] jdm commented on #15986
Have you made any progress on this, @brizental?

[2017-03-24 17:55] zarazek commented on #16097
I can see it too on http://natemat.pl:

   0:     0x55b24df66fc1 - backtrace::backtrace::libunwind::trace
                        at /home/osboxes/servo/servo/.cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.0/src/backtrace/libunwind.rs:53
                         - backtrace::backtrace::trace<closure>
                        at /home/osboxes/servo/servo/.cargo/registry/src/github.com

[2017-03-24 18:46] hertz1 commented on #12053
How can I run with "-c" flag in recent nightly builds without _runservo.sh_? I'm running `sudo ./servo -c` but still getting _`OsError("GL context creation failed")`_.

[2017-03-24 18:57] Manishearth opened #16124 "Intermittent crash during GC"
http://build.servo.org/builders/linux-rel-wpt/builds/3068/steps/test__1/logs/stdio

https://github.com/servo/servo/pull/16122

[code]

[2017-03-24 19:03] jdm commented on #16124
This might be another instance of https://github.com/servo/rust-mozjs/issues/343 biting us, but it's hard to tell. It would be lovely to figure out how to reproduce this.

[2017-03-24 19:17] jdm commented on #12053
You can run Servo with LIBGL_ALWAYS_SOFTWARE=1 to use software rendering. Otherwise you are out of luck; we don't have any other fallback renderer.

[2017-03-24 23:37] brizental commented on #15986
Yes @jdm ! I was just now starting to actually tackle this problem. I had to stop and go through the codebase and get a little bit more used to Rust before. Sorry for the delay.

[2017-03-25 01:30] notriddle commented on #16009
This is exactly what GitCop is for. It will run before the commit even gets to bors (though bors should probably check that GitCop has successfully passed before putting the PR onto the queue).

[2017-03-25 12:54] epic11 commented on #15977
Hi
I would like to work on this.

@highfive: assign me

[2017-03-25 12:54] highfive commented on #15977
Hey @epic11! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-25 13:41] beingalink opened #16129 "unknown completed load Image("https://assets.servedby-buysellads.com/p/manage/asset/id/32052")"
unknown completed load Image("https://assets.servedby-buysellads.com/p/manage/asset/id/32052")
### URL:

### Servo Version:
Servo 0.0.1-6b28a18
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-03-25 13:43] nox commented on #16129
Cc @jdm

[2017-03-25 13:48] nox opened #16130 "Update http_network_or_cache_fetch according to spec"
The function `http_network_or_cache_fetch` seems to have deviated quite a bit from the spec, given step 14 in it corresponds to step 16 in the [spec](https://fetch.spec.whatwg.org/#concept-http-network-or-cache-fetch).

Cc @jdm

[2017-03-25 14:37] C-Bouthoorn opened #16132 "(long) error on building"
While trying to build servo for the release version (`./mach build --release`), I got an error

I have installed the necessary packages (`git curl freeglut3-dev autoconf libfreetype6-dev libgl1-mesa-dri libglib2.0-dev xorg-dev gperf g++ build-essential cmake virtualenv python-pip libbz2-dev libosmesa6-dev libxmu6 libxmu-dev libglu1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev` and `li

[2017-03-25 15:00] C-Bouthoorn commented on #16132
Note: It could be due to the fact that my hard drive was almost full. I freed another 17G, so I'll try again now

[2017-03-25 15:13] canaltinova commented on #15948
Corresponding bug in  bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1341763

[2017-03-25 16:08] C-Bouthoorn commented on #16132
Freeing up space helped, all the errors are gone now.

[2017-03-25 16:08] #16132 closed

[2017-03-25 16:51] jdm commented on #16129
Do you know what page you were looking at @beingalink?

[2017-03-25 17:03] beingalink commented on #16129
@jdm http://mjtsai.com/blog/2017/03/24/apfss-bag-of-bytes-filenames/

visited via https://news.ycombinator.com/

[2017-03-25 19:25] austinprete commented on #15169
@Wafflespeanut is this issue now open for someone else to pick up? (I saw that you removed the assigned label, and the discussion has been stale for a while) If so, I'd like to work on it, though it'd probably be until next weekend before I'd have time to make progress. (Busy school week for me)

[2017-03-25 19:52] #15948 closed

[2017-03-25 21:58] kanaka opened #16134 "Running headless with webdriver pegs CPU while idle"
While doing some testing of servo on my laptop I realized my battery was draining much faster than I expected even when I wasn't actively using servo. Turns out idling servo running headless pegs a single CPU at 100%. In other words, just doing this (and nothing else) pegs the CPU for me:

[code]

Using servo build of 089c71b5872839c5a6c32d1988ce4d42a73860e4 (Mar 23) on Ubuntu 16.04 with Radeon HD

[2017-03-25 22:16] Adynatos commented on #15200
Since @multhazim123 is not responding, can I take it?

[2017-03-25 23:20] KiChjang commented on #15169
@austinprete Let us know when you start working on it then. In the meantime, this issue is still open!

[2017-03-25 23:21] KiChjang commented on #15200
@Adynatos Yes, go right ahead!

[2017-03-26 03:27] voracity commented on #12125
Not sure if I should note this here: The link on the download page is broken because it says 'lastest' instead of 'latest'.

[2017-03-26 09:51] BladeMight commented on #12125
@voracity There is already [PR](https://github.com/servo/download.servo.org/pull/21) about this typo.

[2017-03-26 12:22] nox opened #16138 "Consider hooking into GitCop"
You all know I hate overly long commit titles. Maybe we should use https://gitcop.com.

[2017-03-26 12:22] nox commented on #16138
Cc @jdm

[2017-03-26 13:14] highfive commented on #16138
cc @aneeshusa

[2017-03-26 13:15] jdm commented on #16138
This is probably worth taking to the mailing list. I have not heard any opinions about commit titles from anybody else on the team; I personally have no issues with longer ones.

[2017-03-26 13:37] kdy1997 commented on #15737
This happens again, but with different cause. Fixing it is trivial, but testing it would take some time. As it's first build of servo, it's downloading rustc at the moment..

Adding below to that file is sufficient for using servo as dependency.

[code]

[2017-03-26 15:49] nox opened #16140 "Cannot update Cargo due to mingw issues"
See discussion in https://github.com/servo/servo/pull/15852.

[2017-03-26 15:59] zimio commented on #14887
I'm having problems adapting this. As far as I can tell this test works for iframes, it doesn't work for the titleElement because mozbrowsertitlechange only works on iframes. I tried using a MutationObserver, but I'm not able to. Is it implemented in servo?

Any tips on how to capture the event when the title changes the text?

[2017-03-26 16:26] emilio commented on #15729
Yes, please! I'm happy to mentor this, please ask any questions you may have here (or open a PR with your progress and request feedback). Thanks!

[2017-03-26 16:27] emilio commented on #15729
(Oh, and sorry for the delay replying to this, @SimonSapin is away for a few weeks I believe, and I wasn't cc'd here).

[2017-03-26 16:29] emilio commented on #15415
This is fixed since https://bugzilla.mozilla.org/show_bug.cgi?id=1341086 landed I believe.

[2017-03-26 16:29] #15415 closed

[2017-03-26 17:00] funghetto commented on #12015
Same on debian sid.

[2017-03-26 17:00] jdm commented on #14887
We don't support MutationObserver yet, no. I'm not sure I understand the problem - what's wrong with an iframe containing a title element that gets modified, and the test watches for the appropriate mozbrowsertitlechange events?

[2017-03-26 17:32] highfive commented on #16019
cc @emilio

[2017-03-26 17:32] highfive commented on #15959
cc @emilio

[2017-03-26 17:33] highfive commented on #15954
cc @emilio

[2017-03-26 17:33] highfive commented on #15449
cc @emilio

[2017-03-26 17:33] highfive commented on #15295
cc @emilio

[2017-03-26 17:33] highfive commented on #15200
cc @emilio

[2017-03-26 17:33] highfive commented on #15194
cc @emilio

[2017-03-26 17:33] highfive commented on #15169
cc @emilio

[2017-03-26 17:34] highfive commented on #15999
cc @emilio

[2017-03-26 17:35] highfive commented on #15977
cc @emilio

[2017-03-26 17:35] highfive commented on #15960
cc @emilio

[2017-03-26 17:35] highfive commented on #15958
cc @emilio

[2017-03-26 17:35] highfive commented on #15957
cc @emilio

[2017-03-26 17:36] highfive commented on #15807
cc @emilio

[2017-03-26 17:36] bholley commented on #15807
We have SmallVec for this purpose.

[2017-03-26 17:37] highfive commented on #16020
cc @emilio

[2017-03-26 17:37] highfive commented on #16017
cc @emilio

[2017-03-26 17:47] PeterBocan commented on #15946
👍 Happens to me, as well.

[2017-03-26 18:18] zimio commented on #14887
Yea, got confused I was trying to do it without the iframe.

[2017-03-26 22:40] #15977 closed

[2017-03-27 02:57] jonathandturner commented on #12937
I did a quick test.

macOS gives the events in this order:

* ReceivedCharacter: 'h'
* KeyboardInput: Pressed Some('h') H
* KeyboardInput: Released Some('h') H

Windows:

* KeyboardInput: Pressed None H
* ReceivedCharacter: 'h'
* KeyboardInput: Released None H

I'm guessing it's not feasible to try to reorder the events to make them the same because we won't always know what to wait for.

Going ba

[2017-03-27 03:57] upsuper commented on #15339
Seems to be fixed by #16142.

[2017-03-27 03:57] #15339 closed

[2017-03-27 07:27] codec-abc commented on #12937
I agree with on the last part. ReceivedCharacter may be enough for inputs field. Yet, I don't know enough to tell. But I tend to disagree with you and the reordering of events. We cannot do it on Windows since a KeyboardInput won't necessary lead to a ReceivedCharacter but the other way should work. I cannot see how we could have a ReceivedCharacter on macOS (or Linux) without a KeyboardInput just

[2017-03-27 11:31] karan1276 commented on #15959
This would have been a fun issue to do, but i don't want to block it for too long. I have some other issues in the pipe. Someone else can work on this issue if they wish so.

[2017-03-27 11:32] karan1276 commented on #15999
I am going out of town for a week. Once i get back i will start work on this

[2017-03-27 13:28] kdy1997 commented on #15737
Well, I tried to build it, but compiling rust-mozjs is a headache. Nevertheless, I will send a PR, so build bot can test it. (I don't want to maintain local fork of such a big project just for simple toy project)

[2017-03-27 13:37] kdy1997 opened #16149 "Malformed Cargo.toml in servo_tidy_tests prevents using servo as a git dependency (again)"
Similar issue: #15737

Cargo now requires [lib], or [[bin]]

Adding below to `servo_tidy_tests/Cargo.toml` fixes it.

[code]

[2017-03-27 13:57] #15960 closed

[2017-03-27 14:39] jdm commented on #15693
Unassigning due to lack of activity.

[2017-03-27 14:41] #13530 closed

[2017-03-27 14:48] jdm commented on #15693
Necessary work:
* store the offset in `ParserContext`, add a new `offset` argument to report_error
* add a new `offset` argument to `ParserContext::new_with_extra_data`, as well as `Stylesheet::parse_rules` and `Stylesheet::from_str`
* store the line number in `HTMLStyleElement`, obtained via the `ElementCreator` value that is present in the `new_inherited` method
* pass this line number as the of

[2017-03-27 14:55] jdm commented on #15693
The idea here is that we get incorrect line numbers in HTML like this:
[code]
If we run `RUST_LOG=script_layout_interface::reporter ./mach run file.html`, we see:
[code]
when the invalid CSS is clearly not line 2 of the actual file.

[2017-03-27 15:19] streichgeorg commented on #15959
I would like to work on this then, tough I probably need some guidance.

@highfive: assign me

[2017-03-27 15:19] #16149 closed

[2017-03-27 15:19] highfive commented on #15959
Hey @streichgeorg! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-27 15:27] enizor commented on #14095
I still don't understand the test fail. I had some trouble running the tests (`mach test` is dependant of your last `mach build`, and not the current branch, right?) as the compilation is quite slow on my laptop. I think I should give up on this issue and try some stuff on my side, to make sure I understand more about the project and its tools. Then I may be able to tackle issues with a better eff

[2017-03-27 15:33] jonathandturner commented on #12937
Huh, so are you saying that we're doing a reordering for macOS and Linux somewhere else in the code?

[2017-03-27 15:34] Wafflespeanut commented on #15449
@n0max Did you start working on this? Need help?

[2017-03-27 15:38] Wafflespeanut commented on #15902
@mrkalling ping?

[2017-03-27 15:39] jdm commented on #15959
Please ask questions about anything that is unclear!

[2017-03-27 15:39] Wafflespeanut commented on #15954
@SebastinSanty Any news?

[2017-03-27 15:40] jdm commented on #14095
Yeah, `./mach test` relies on the previous completed build. I'll mark this as unassigned given you previous comment.

[2017-03-27 15:40] Wafflespeanut commented on #15959
Feel free to ask if you have any questions!

[2017-03-27 15:41] Wafflespeanut commented on #15975
@WholeGrainGoats Have you made any progress? Need help with this?

[2017-03-27 15:42] Wafflespeanut commented on #15994
@nodo Did you get to look into this?

[2017-03-27 15:43] Wafflespeanut commented on #16019
@tictakk Any news on this?

[2017-03-27 16:02] streichgeorg commented on #15959
So in the spec it says that the property takes the size, sink as numbers of lines, now for the computed value should I keep these values as numbers or do I already have to convert them to appunits.

[2017-03-27 16:09] SimonSapin commented on #15693
Maybe also a column offset, for the first line? Especially for `style` attributes.

[2017-03-27 16:23] jdm commented on #15693
I think that will require additional changes to html5ever. Let's keep this focused on line offsets for now.

[2017-03-27 16:23] nodo commented on #15994
@Wafflespeanut not yet. However, I am planning to work on it this week. Would it be OK?

[2017-03-27 16:29] meh commented on #15829
That's my plan for [this](https://github.com/meh/miserve), just hoping servo matures enough by the time the plug is pulled on XUL addons.

[2017-03-27 16:39] jdm opened #16152 "Call JS_ShutDown after closing last script thread"
https://github.com/servo/rust-mozjs/blob/e3810089b83bda22da11998a6ba20d696df20cd2/src/jsapi_linux_32.rs#L10495-L10513

[2017-03-27 16:40] jdm opened #16153 "Terminate timer scheduler thread during shutdown"

[2017-03-27 16:41] jdm opened #16154 "Terminate IPC router thread during shutdown"

[2017-03-27 16:45] jdm commented on #16154
My theory is that this thread somehow misses that fact that everything else has shut down, and the ongoing IPC select operation doesn't get the right notification, so this causes lots of intermittent timeouts in our tests when that happens.

[2017-03-27 16:46] Wafflespeanut commented on #15437
Merged with #14237

[2017-03-27 16:46] #15437 closed

[2017-03-27 16:55] codec-abc commented on #12937
I don't know how the Js events are created. If they are simply mapped from the keyboard then yes there is probably some reordering elsewhere in the code. But you can't take my word for it since I only look at the input and output and got no idea what happen in between.

[2017-03-27 17:00] n0max commented on #15449
I have already changed the parsing to non negative and created some test cases.
But the mozresource.pyc file was added to the MANIFEST.json and running `./mach update-manifest` don't change anything. I'm currently try to fix this.
My changes are at [commit](https://github.com/n0max/servo/commit/77807385a604f207f8ebc014403f7b4642edf775).

[2017-03-27 17:03] tictakk commented on #16019
@Wafflespeanut Spent the weekend finishing a school project and brushing up on Rust. I'll be expeditious as possible.

[2017-03-27 17:04] Wafflespeanut commented on #15994
No problem!

[2017-03-27 17:05] Wafflespeanut commented on #16019
Great!

[2017-03-27 17:06] Wafflespeanut commented on #15449
Ah, just revert the manifest to the previous commit, `update-manifest` again and amend your changes to your current commit?

[2017-03-27 17:26] jdm commented on #15449
You will need to remove the the mozresource.pyc file before running update-manifest again.

[2017-03-27 17:59] n0max commented on #15449
Thank you, that worked.

[2017-03-27 19:33] jrmuizel opened #16158 "display list building test ruins Servo"
Running this https://people-mozilla.org/~jmuizelaar/implementation-tests/dl-test.html on Mac causes system-wide performance problems and runs really badly compared to Firefox.

[2017-03-27 19:37] WholeGrainGoats commented on #15975
@Wafflespeanut Yes, sorry for the hiatus. I'm trying to find out if I should write the functions myself or if the stylo hacking guide is saying that this glue code is automatically generated?

[2017-03-27 21:05] Dinika commented on #12356
@zeusintuivo I followed the instructions that you've provided to build servo on a Windows machine. They seem to have worked perfectly well (thanks!), however, when I run the following command I am expecting the servo window (or homepage) to appear on screen:

 sh mach run --dev tests/html/about-mozilla.html

 But, for some reason nothing is happening (no errors, too). I have just started digging i

[2017-03-27 21:48] jdm commented on #12356
@Dinika What if you execute `./mach run --dev tests/html/about-mozilla.html` instead?

[2017-03-27 23:08] #15701 closed

[2017-03-27 23:09] SimonSapin commented on #15693
Also counting "columns" is more tricky than it seems. UTF-8 bytes v.s. code points v.s. grapheme clusters v.s. east-asian width… Deferring for now avoids this question.

[2017-03-27 23:11] mbrubeck opened #16161 "Intermittent timeout in /css21_dev/html4/bottom-020.htm /css21_dev/html4/bottom-043.htm /css21_dev/html4/padding-bottom-061.htm /css21_dev/html4/padding-top-103.htm, /css21_dev/html4/padding-bottom-015.htm"
http://build.servo.org/builders/linux-rel-css/builds/3093
<details>

[code]
</details>

cc #14237

[2017-03-28 02:07] jonathandturner commented on #12937
Cool demo btw, it seems like there may be other keyboard event issues potentially (though maybe related to this issue we've been tracking down)

On Firefox (on my Mac):

![screen shot 2017-03-28 at 3 04 31 pm](https://cloud.githubusercontent.com/assets/547158/24385702/0a0db42e-13c8-11e7-9520-9b7c77cb1db6.png)

On Servo (on Windows):

![screen shot 2017-03-28 at 3 04 15 pm](https://cloud.githubuser

[2017-03-28 04:20] glennw commented on #13530
@mrobinson I tested this against master and it doesn't seem to be working for me?

[2017-03-28 06:27] glennw commented on #16097
This also occurs on http://thany.nl/apps/BoxShadows

[2017-03-28 06:27] mrobinson commented on #13530
Hrm. This seems to be working for me:
![absolutelypositioneddescendants](https://cloud.githubusercontent.com/assets/13536/24391585/48954a3c-1390-11e7-8eda-ae8756b0a561.gif)

Perhaps that's some kind of platform / build-type specific issue?

[2017-03-28 06:30] glennw commented on #13530
Interesting. I'll try a fresh build again tomorrow and see if I can still repro. The gif looks great!

[2017-03-28 07:32] codec-abc commented on #12937
The test is quite basic, it registers 2 events handlers that put textual description of the event below the input field. The only particularity is that the oninput event handler remove the onkeydown event handler the first time it is triggered. On Windows since the events are in a different order we do not get the oninput event for the first character.

By the way, after looking more at the code I

[2017-03-28 08:43] upsuper opened #16165 "parse_font_face_block should not reject a @font-face rule when it lacks font-family or src"
`parse_font_face_block` currently rejects a `@font-face` rule if it lacks `font-family` or `src` descriptor. The spec says that makes the rule invalid, but it doesn't make it clear how to handle invalid rule (see w3c/csswg-drafts#1133).

All modern browsers agree on that the parser should accept such invalid rule, so I suppose the spec would follow this way as well. That said, Servo should change

[2017-03-28 08:43] highfive commented on #16165
cc @emilio

[2017-03-28 09:19] SimonSapin commented on #16138
Line length is one thing, but gitcop was annoyingly rigid beyond that when I’ve had to deal with it in other repos. For example, each commit title much follow a pattern that includes a "type" or "category" to be picked in some arbitrary closed set. (What does `chore` even mean? Should this commit rather be `refactor`? …) It felt like overhead for dubious benefits.

[2017-03-28 09:20] nox commented on #16138
I'm pretty sure that particular part you mention (I hate it too) can be disabled.

[2017-03-28 09:57] SimonSapin commented on #16165
I’ve commented on https://github.com/w3c/csswg-drafts/issues/1133#issuecomment-289721210 : it looks like other implementations are treating such rules as **not invalid**.

[2017-03-28 11:28] SimonSapin commented on #16097
“Interesting edge case”: if I keep a reference to `element.style` (which implements the `CSSStyleDeclaration` interface), then move the element to a new document, then modify the style through the kept reference… is the moved element affected?

[2017-03-28 11:34] emilio commented on #16097
See my comment in #16125:

Of course, if you can move an element keeping a ref to its style attribute, the same restrictions also apply. Perhaps the best we can do is a lock per script-thread? Shouldn't be extremely hard I guess.

[2017-03-28 13:52] komawoyo opened #16167 "Low FPS Rendering "Evil Ad" demo (3/28/17 - Nightly)"
Compared to chrome - servo was able to have extremely high FPS for the other demos particularly "Transparent Rectangles" but failed to perform (~5-10 fps) on the "Evil Ad" demo showing particles

edit: Windows nightly

[2017-03-28 14:55] stshine commented on #16079
Looks like we need to reimplement the tokenizer to parse this?

[2017-03-28 15:31] Dinika commented on #12356
Yes, I tried that too. However, it gives the following error message:
'.' is not recognized as an internal or external command,
operable program or batch file.

[2017-03-28 15:32] atouchet commented on #16167
I have also run into this issue. The average FPS is actually quite high (typically over 100 FPS) but the problem appears to be with FPS fluctuations which will constantly vary from single digit frame rates to hundreds of frames per second. This results in the low quality particle animation despite the high average FPS.

This was tested in the latest Windows nightly build in Windows 10.

[2017-03-28 16:10] SimonSapin commented on #16097
One option is reverting https://github.com/servo/servo/pull/16033 and re-opening https://github.com/servo/servo/issues/16027 until we figure out how to deal with moving elements across documents.

[2017-03-28 16:14] Dinika commented on #12356
Yeah, the first time I tried building servo I followed the instructions given in the README. I tried this command again and it results in the following error. I tried visiting the file that is mentioned in the last line of the error message and then I found [this](https://groups.google.com/forum/#!topic/mozilla.dev.servo/TRV-0hulgj0) message on the mailing list on Google groups. Do you think that

[2017-03-28 16:23] Dinika commented on #12356
Update - I think the above file has changed since the last time I visited it on March 26. I really did see the typo in the file.

[2017-03-28 16:36] emilio commented on #16097
That sounds reasonable to me.

[2017-03-28 18:48] tictakk commented on #16019
@emilio Hey, I think I could use some of that mentorship you mentioned. Should I be creating a vector of each child and looping to_css() one at a time?

[2017-03-28 19:19] jdm commented on #12356
The typo from the message relates to the content on download.servo.org, not the local build. The error that you're getting is because you're running from a normal command terminal (like the documentation instructed you). You can avoid this problem by launching `vcvars15.bat` (or something else named very similarly), which will cause your operating system to be determined correctly. You will end up

[2017-03-28 19:22] jdm opened #16171 "Throw an exception instead of returning invalid values when determining platform and host triple"
https://github.com/servo/servo/issues/12356#issuecomment-289822444 is an example of a bootstrap operation failing because the msvc environment wasn't set up like mach expected. This caused us to try to fetch a nonexistent rustc build, and the resulting 404 error is not illuminating at all. We should be more aggressive about raising errors before we reach this point.

[2017-03-28 19:22] highfive commented on #16171
cc @wafflespeanut

[2017-03-28 19:22] highfive commented on #16171
cc @wafflespeanut

[2017-03-28 19:27] streichgeorg commented on #15957
@highfive: assign me

[2017-03-28 19:27] highfive commented on #15957
Hey @streichgeorg! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-28 20:05] #14954 closed

[2017-03-28 20:07] nox opened #16172 "Intermittent crash in /_mozilla/webgl/conformance-1.0.3/conformance/attribs/gl-bindAttribLocation-aliasing.html"
[code]

[2017-03-28 20:23] Wafflespeanut commented on #15975
Oh, you'd be writing two functions `set_font_feature_settings` and `copy_font_feature_settings` which will change the values of `gecko` fields (one will set the servo struct values to gecko struct, another will simply copy the values). The nearby set/copy methods in the file might give you an idea on how to approach this. Feel free to ping us if you're still unclear.

[2017-03-28 20:25] stransky opened #16173 "Fails to build mozjs_sys on Fedora 25"
I cloned the repo and followed build instructions but it fails to build mozjs_sys:
error: failed to run custom build command for `mozjs_sys v0.0.0 (https://github.com/servo/mozjs#7cd72d8c)`
process didn't exit successfully: `/home/komat/Prednasky/OpenHouse2017/servo/target/release/build/mozjs_sys-c324e3230eb8bf78/build-script-build` (exit code: 101)
--- stderr
thread 'main' panicked at 'called `Re

[2017-03-28 20:40] jdm commented on #16173
Given https://github.com/servo/mozjs/blob/master/build.rs, this appears to mean that the result of `find_make()` could not be located in your PATH.

[2017-03-28 20:41] jdm commented on #16173
Do you have a MAKE environment variable, by any chance?

[2017-03-28 20:51] stransky commented on #16173
You're right, $MAKE="/usr/bin/make" ./mach build --release does the trick!

[2017-03-28 21:16] glennw commented on #13530
@mrobinson I tested this again - pasted the repro case above into a file, and loaded in current Servo master - and it doesn't seem to work. Perhaps the test repro above is incorrect? Or something really weird is happening with my build?

[2017-03-28 21:17] glennw commented on #13530
@mrobinson Oh, never mind - I just realized it was an issue with my local build. This all works now, great news!

[2017-03-28 21:20] gsnedders opened #16175 "Move to running CSS testsuite from web-platform-tests"
Now that csswg-test has merged into web-platform-tests (ACHIEVEMENT UNLOCKED: BATTLED BUREAUCRACY AND WON), we should move over to running the CSS tests from there to keep them up-to-date.

At the same time as doing this, we should move over to running the unbuilt tests, which makes upstreaming fixes much easier (i.e., the same as for the rest of the wpt repo).

There are two possible major challe

[2017-03-28 21:22] #16173 closed

[2017-03-28 21:42] kammitama5 commented on #16120
I'm super green, but are you talking about essentially replacing sort_by_key with https://github.com/rust-lang/rfcs/blob/master/text/1884-unstable-sort.md. Seems interesting! If someone doesn't get to it in the next few days, I'd be happy to help out (with guidance!) :)

[2017-03-28 22:34] stjepang commented on #16120
@kammitama5  Yes, that would be basically it. :) However, we have to wait until the `sort_unstable` feature gets stabilized (several months at least).

[2017-03-28 22:41] kammitama5 commented on #16120
:( Thanks! Always happy to help! Maybe in a few months, too I'll be back to work on that!

[2017-03-28 23:21] emilio commented on #16019
Yes, that sounds right. We could consider creating a [`SmallVec`](https://github.com/servo/rust-smallvec) to avoid heap allocation in the common case :)

[2017-03-29 00:27] dowoncha commented on #16105
How would one begin work on this? Create 'PointerEvent' trait and begin implementing?

[2017-03-29 00:58] dowoncha commented on #16105
@ferjm I am interested in taking this. Any starting tips?

[2017-03-29 07:17] #15200 closed

[2017-03-29 10:37] ferjm commented on #16105
Hello @dowoncha! Thank you for your interest on taking this task.

I myself am starting with Servo, so apologies in advance if my tips are not accurate enough. I am CCing @jdm and @mbrubeck who know way more than me about this stuff.

First of all, this work involves touching several pieces of Servo, so in case that you haven't already done it, it would be good to read the [Design](https://github.

[2017-03-29 11:52] #15295 closed

[2017-03-29 11:56] codec-abc commented on #12937
Update: I have tested my previous idea ,ie keeping the last key pressed when receiving a keyboard KeyboardInput to send it later on when receiving a ReceivedCharacter. It does make the HTMLInputElement behave correctly. I am no more one character behind. Still, when testing [the previous demo](https://mathiasbynens.be/demo/oninput) it shows that in the Js side we don't get the correct events.
At t

[2017-03-29 12:27] jdm opened #16179 "Intermittent failure in /html/semantics/embedded-content/image-maps/image-map-processing-model/hash-name-reference.html"
[code]

[2017-03-29 14:40] SimonSapin commented on #16175
I consider the quality of our XHTML implementation to be unknown. It would be nice to isolate what unexpected results are due to that (when moving to "unbuilt" csswg tests) as opposed to test changes. The last time `tests/wpt/css-tests` was updated with in 296fa2512ba2fbc8f1d6b7e82e30ad3b5d2a9a20 on 2017-02-06. Maybe we could find the corresponding commit in the (pre-merge) csswg-tests repository

[2017-03-29 15:41] moonlightdrive commented on #14975
I'm interested in working on this. Will probably have a few questions.

[2017-03-29 15:59] jdm commented on #14975
Sounds good!

[2017-03-29 16:30] mckaymatt commented on #15252
@highfive: assign me

[2017-03-29 16:30] highfive commented on #15252
Hey @mckaymatt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-03-29 18:47] gpoesia commented on #16106
I'd like to work on this. It's mostly about adding a new `InputType` and implementing proper validation in `components/dom/htmlinputelement.rs` (and probably handling parsing as well somewhere else), right? What are the other changes I'm missing?

One question about this part of the spec:

[code]

On allowing input that is not a valid absolute URL, it seems there's some room for different handling

[2017-03-29 18:49] jonathandturner commented on #12937
@codec-abc - my priority is to get HTMLInputElement working so that we can get the nightly out there.

Getting the eventing in the right order is going to take more work.  I noticed that, too.

Can you post your PR so we can review?  We can talk with some of the other servo folks on the PR, but I think we should do this in stages:

* Land something that fixes the input
* Get nightly out
* File sep

[2017-03-29 19:05] ferjm opened #16185 "google.com bottom bar grows endlessly"
![google_servo](https://cloud.githubusercontent.com/assets/480202/24471669/22527c6c-14c3-11e7-817e-b752ae84e22a.gif)

I see an endless repetition of this debug messages:

<details>

[code]

</details>

[2017-03-29 20:09] jdm commented on #16106
It's not clear to me what we can actually implement without first implementing #11444.

[2017-03-29 20:27] gpoesia commented on #11444
Can I take this one? Is it fine to take the code from #14566, rebase it and start by addressing the comments?

[2017-03-29 20:52] #15449 closed

[2017-03-30 00:21] jdm commented on #11444
@gpoesia That would be great!

[2017-03-30 01:17] #16130 closed

[2017-03-30 03:56] atouchet opened #16188 "Spheres and Transparent Rects Demos Broken in Latest Nightly Build"
Both have their particles being stuck in the top left corner of the screen instead of how they are supposed to be rendered. This was tested in Windows 10.

Screenshots:

![Spheres](https://i.imgur.com/UHkJZ5C.png "Spheres")

![Rects](https://i.imgur.com/VPqGiaA.png "Rects")

[2017-03-30 04:35] cbrewster commented on #15946
This is fixed for me on the latest nightly

[2017-03-30 04:35] #15946 closed

[2017-03-30 04:38] cbrewster opened #16189 "Link hitboxes don't scroll with iframes"
Reproduce:
1. Open servo nightly
2. Go to HN
3. Scroll down, mouse over links.

The hitboxes are not scrolled with the iframe

[2017-03-30 12:15] jdm commented on #16188
This is tracked in #15689. Thanks for reporting it!

[2017-03-30 12:15] #16188 closed

[2017-03-30 12:33] nox commented on #16171
cc @wafflespeanut

[2017-03-30 13:07] #16153 closed

[2017-03-30 14:05] codec-abc commented on #12937
@jonathandturner OK. [PR is here](https://github.com/servo/servo/pull/16193).

[2017-03-30 15:14] jdm commented on #12675
@vernans Have you made any progress here?

[2017-03-30 15:19] themihai commented on #10967
iOS support would be nice too. webkit provides a DOM API (Objective-C) . Does Servo embedding framework provide a such API?
 Is there any official doc with the current state of the embedding API?

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/DisplayWebContent/Tasks/DOMObjCBindings.html

[2017-03-30 17:25] themihai commented on #10967
@jdm  Does Servo use/need JIT if JavaScript is not used? I'm not very familiar with the code base so apologies if I'm talking nonsense.  I was thinking to manipulate the DOM directly through an API/binding like webkit provides for Objective-C.

[2017-03-30 18:38] Adynatos commented on #16089
Hi, I would like to work on this, but would need some mentoring :)

[2017-03-30 18:41] pocmo commented on #10967
A potential iOS version should get its own bug. This is not really a discussion about Android embedding. :)

[2017-03-30 19:02] jdm commented on #16089
@Adynatos Great! Go ahead and ask questions about anything that's unclear!

[2017-03-30 20:46] jonathandturner commented on #12125
Still have one to go... working on it now

[2017-03-30 21:12] MortimerGoro opened #16195 "~20 seconds startup time on Android because CSS Layout & libfontconfig"
Hello,

I found that Servo on Android takes a lot of time to show anything on screen in most pages because CSS layout operations wait for libfontconfig initialization, which takes about 20 seconds (tested on Google Pixel). The problem seems to be that libfontconfig tries to read all system fonts on the FcInit method, and that takes a lot of time. This is done on every startup, the cache doesn't se

[2017-03-30 21:36] jdm commented on #16195
This sounds like the same issue described in https://github.com/servo/servo/issues/12931, and https://github.com/servo/servo/issues/12931#issuecomment-281719607 described a particular reason why the cache wasn't working.

[2017-03-30 21:53] jdm opened #16197 "BrowsingContext proxy shouldn't use get_property_descriptor"
get_property_descriptor calls InvokeGetOwnPropertyDescriptor which casts the proxy handler to ForwardingProxyHandler. The proxy handler created by the browsing context code is a WrapperProxyHandler however.

[2017-03-30 22:06] Jayflux commented on #16107
Hey @ferjm whats your plan of action for this?

[2017-03-30 22:28] Adynatos commented on #16089
First I'd like to check if I understand this correctly.
I should change font-variant to be shorthand, that can be parsed into properties like font-variant-caps.
To do so, I should implement something like font shorthand, right?

[2017-03-30 22:31] Manishearth commented on #16089
Yes, something like that. You should look at how the spec asks you to parse it.

[2017-03-30 23:24] upsuper commented on #15959
Keeping them in numbers should be the right way.

[2017-03-31 00:30] #15959 closed

[2017-03-31 06:15] ferjm commented on #16107
Hello @Jayflux, I have a WIP patch for this that I'd like to finish next week (I'm afk today).

[2017-03-31 06:57] codec-abc commented on #16078
Closing it as it is a duplicate of #15103.

[2017-03-31 06:57] #16078 closed

[2017-03-31 06:59] codec-abc commented on #15103
Leaving this as a note: People fixing this issue may want to see history of #15255 and #16078.

[2017-03-31 14:57] hgallagher1993 commented on #15958
@KiChjang I've had a couple of looks at this but I haven't found the time to actually do it and I don't think I will get the chance because I've had a heap of college work thrown on top of me the last week or 2 so it'd probably be better to un-assign me and leave it for someone else that has the time

[2017-03-31 14:59] mckaymatt commented on #15252
@jdm Is this what you are talking about?

[code]

I'm thinking I would put it someplace like `components/script/lib.rs`? Or maybe it's own crate `components/pointer`. Or `components/script/dom/bindings`?

[2017-03-31 15:11] Ygg01 commented on #11139
I have the same issue running servo from my Linux VM (Linux is Ubuntu 16, running on VMWare). I'll post `glxinfo` later.

[2017-03-31 16:01] Dinika commented on #12356
I followed your instructions and I launched vcvars.bat file (I tried launching vcvars64, vcvarsamd64_x86, followed by vcvarsx86_amd64, of course, not simultaneously). While the batch file was still running I ran the build commands and I got the following error message every single time.

`looking for rustc at C:\_\servo\.servo\rust\7dd4e2db785c8ec360a989f69891b1e97dd4d369-alt\rustc-nightly-unknown

[2017-03-31 16:16] asajeffrey commented on #13557
I'm taking a look at the Worklets spec (https://drafts.css-houdini.org/worklets/) which is used in paint and layout. This also came up in the context of our embedding API, as a standards-aligned way to have script run tightly synchronized with layout and rendering. cc @tschneidereit @metajack.

[2017-03-31 16:47] asajeffrey opened #16206 "Implement CSS Houdini Worklets"
Draft spec: https://drafts.css-houdini.org/worklets/
Houdini CSS issue for servo: #13557

cc @tschneidereit @metajack @jdm @SimonSapin

[2017-03-31 16:49] asajeffrey commented on #16206
This came up in the context of discussions about the embedding API, as a standards-aligned way to provide strong consistency guarantees between embedding JS code, layout and webrender.

[2017-03-31 17:02] fitzgen commented on #16206
.

[2017-03-31 17:09] tschneidereit commented on #16206
cc @Gozala @paulrouget

[2017-03-31 17:11] jdm commented on #12356
What if you launch the vcvars64 batch file from inside the terminal before invoking mach?

[2017-03-31 18:57] nox commented on #15694
Should I enable pooling again now that the hyper bump landed?

[2017-03-31 19:04] jdm commented on #15694
We can certainly see what happens!

[2017-03-31 19:12] Dinika commented on #12356
Here's what I did. I ran the following command to launch vcvars64:

`>call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"`

When the environment was initialized for x64, I ran the build command (mach.bat build --dev) and I still got the same error as before.

I'm no expert at this, but if one of the first things that the build command does is downlo

[2017-03-31 19:23] asajeffrey commented on #16206
On irc, @tschneidereit pointed out the code idempotence requirement: https://drafts.css-houdini.org/worklets/#code-idempotency, which is not actually statelessness, but is very close. In particular, a UA is allowed to generate a fresh global for each execution. Not sure what this would do for efficiency though, as scripts might assume that fresh globals aren't allocated very often, e.g. to perform

[2017-03-31 19:27] metajack commented on #16206
Fresh globals are reportedly too expensive to actually do this, so there is language about modified designs (ie, rotating two pre-allocated globals) added. If the implementation does nothing to preserve idempotency, we are likely to lose it, and any potential for parallelism along with it.

[2017-03-31 19:28] asajeffrey commented on #16206
My current thinking of how to implement this is to provide a per-process thread pool for executing worklets. The main challenge would be to try to avoid GC during worklet execution, which we could do by monitoring their memory use, and removing high-memory-usage executors from the pool while they gc.

[2017-03-31 19:30] asajeffrey commented on #16206
@metajack yes, generating a fresh global on every execution might be too expensive, but possibly we could freshen the global periodically, e.g. when the executor is GC'ing?

[2017-03-31 19:41] jdm commented on #12356
If you download the tar.gz, you can unpack it to `.servo/rust/7dd4e2db785c8ec360a989f69891b1e97dd4d369-alt\rustc-nightly-unknown-pc-windows-msvc\` and it should be found by the build system.

[2017-03-31 19:52] asajeffrey commented on #16206
IRC chat with @tschneidereit and @metajack: http://logs.glob.uno/?c=mozilla%23servo&s=31+Mar+2017&e=31+Mar+2017#c643173

TL;DR we'd like to get to an API where there's an explicit initialization phase, during which script has r/w access to the realm, followed by execution, which is in a frozen realm (https://github.com/FUDCo/proposal-frozen-realms). But we can't block worklets on frozen realms, so

[2017-03-31 20:48] fitzgen opened #16208 "Touching the profile crate causes too many things to be rebuilt"
Why are `backtrace-sys` and `mozjs_sys` in there??

cc @metajack

[code]

[2017-03-31 23:10] jdm opened #16213 "Docs build is failing"
[code]

[2017-03-31 23:10] highfive commented on #16213
cc @aneeshusa

[2017-03-31 23:12] jdm commented on #16213
This regressed as part of #16181.

[2017-03-31 23:16] jdm commented on #16213
I'm pretty sure this is caused by https://github.com/rust-lang/rust/pull/40338.

[2017-04-01 00:55] steveklabnik commented on #16213
https://github.com/rust-lang/rust/issues/40979#issuecomment-290881257

[2017-04-01 03:10] jdm opened #16215 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/canvas/rapid-resizing.html"
[code]

[2017-04-01 03:32] jdm opened #16216 "Intermittent timeout in /_webgl/conformance/glsl/misc/shader-with-non-reserved-words.html"
[code]

[2017-04-01 03:33] jdm opened #16217 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/textures/texture-size.html"
[code]

[2017-04-01 03:51] jdm opened #16218 "Mac nightly build is failing"
[code]

[2017-04-01 04:20] jdm opened #16220 "Intermittent failures in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/misc/shader-uniform-packing-restrictions.html"
[code]

[2017-04-01 04:22] Dinika commented on #12356
It seems to have solved the first problem (of downloading the rust compiler) however, it is now looking for 'Host rust library' that it can't find. (i copied every content of the downloaded file in the directory you mentioned and I also tried using the --force flag, like so - mach.bat build --dev bootstrap-rust --force).

`looking for rustc at C:\_\servo\.servo\rust\7dd4e2db785c8ec360a989f69891b1e

[2017-04-01 04:23] jdm opened #16221 "Intermittent timeout in /_mozilla/webgl/conformance-1.0.3/conformance/canvas/rapid-resizing.html"
[code]

[2017-04-01 04:25] jdm opened #16222 "Intermittent pass in /_mozilla/webgl/conformance-1.0.3/conformance/context/context-release-with-workers.html"
[code]

[2017-04-01 04:51] jdm commented on #12356
Same thing - replace `unknown` in the URL with `x86_64`.

[2017-04-01 05:06] #16218 closed

[2017-04-01 05:47] #16152 closed

[2017-04-01 07:04] zeusintuivo commented on #12356
What type of computer do you have? I could try and give you remote help if our schedules match this weekend, or if there is way we can connect, so we get to the bottom of this.

[2017-04-01 11:29] #5625 closed

[2017-04-01 14:23] Dinika commented on #12356
@zeusintuivo I have Windows 10, 64-bit machine. I followed the instructions that you mentioned in the comments above (after trying the ones given in the README).
I'd really appreciate the help. Let me know what time suits you the best.

[2017-04-01 14:28] jdm commented on #15694
After #16209 merged, the no-sniff tests started having intermittent failures again:
[code]
This is still broken, it turns out.

[2017-04-01 14:30] zeusintuivo commented on #12356
@Dinika The install instructions are made for Windows 7 32 and 64 bit. I have not yet issued or tested for Windows 10. What is your timezone? We need to find another way of contacting each other without posting personal info in here, and making a call or remote session perhaps we can work on Windows 10 instructions?

[2017-04-01 14:41] akve17 commented on #14947
I want to work on this ..How can i get access to the code.

[2017-04-01 14:44] Dinika commented on #12356
Okay. How would you prefer me to contact you?
(My e-mail is dinikasaxenas@gmail.com)

[2017-04-01 15:12] jdm commented on #14947
This is not a good issue for someone to work on until the question in my last comment is answered.

[2017-04-01 15:14] #16213 closed

[2017-04-01 20:57] pyfisch commented on #15194
@upsuper I would like to work on this. What is the best way to start?

[2017-04-01 23:23] upsuper commented on #15194
@pyfisch Probably you can have a look at #15508 to see where the code should go. Actually you can probably just try simplifying the code in that PR.

[2017-04-02 01:43] absoludity commented on #15342
@bholley, @upsuper  Sorry - I've not had spare time to do servo work and due to changes in circumstances I'll need to focus on other things for the next months in any spare time that I have. Hopefully someone else can pick this up.

[2017-04-02 02:30] bholley commented on #15342
Ok - thanks for letting us know! We'll try to find a new owner for this.

[2017-04-02 03:28] WholeGrainGoats commented on #15975
@Wafflespeanut I've looked over the code but I see that the T enum from [here](https://github.com/servo/servo/blob/d30978246162e8a9bfad42b43ab6a05c90421c6e/components/style/properties/longhand/font.mako.rs#L634-L742) has a value Normal. I looked at the MDN link [here](https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings) and see that the specification calls to insert default valu

[2017-04-02 07:11] akve17 commented on #14513
can i work on this?

[2017-04-02 08:12] jacksonweekes commented on #15448
@highfive: assign me

[2017-04-02 08:12] highfive commented on #15448
Hey @jacksonweekes! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-02 10:41] KiChjang commented on #14513
This is not a beginner-friendly issue, would you mind picking another that is labeled `E-Easy` or `E-less easy`?

[2017-04-02 14:07] pyfisch commented on #15194
I am wondering why `ToCss` is necessary or why `Display` is not also implemented. If it was implemented one could use the a single `write!` instead of multiple calls to `write_str` and `to_css`.

[2017-04-02 15:43] pyfisch commented on #15194
Currently `scale()` is only implemented for two arguments. The spec mandates that a single argument is valid and the [old PR also implemented it](https://github.com/servo/servo/pull/15508/files#diff-509dba3695e8d741d1a61f433547ac67R1733). Should this be included in the new PR?

[2017-04-02 17:30] Wafflespeanut commented on #15975
Good question! Looking at [the gecko code](https://dxr.mozilla.org/mozilla-central/rev/7a3f514cf8490d271ee373a1d2999e4ea4dee2d7/layout/style/nsRuleNode.cpp#3971), it seems like an empty `nsTArray` (specifically, a null pointer) represents the value `normal` (I think). So, let's [truncate](https://dxr.mozilla.org/servo/rev/dc3765e231441b006f17c9aa4588e7f166bba45e/components/style/gecko_bindings/sug

[2017-04-02 19:20] pyfisch commented on #15194
Same for skew. I have implemented them both now.

[2017-04-02 23:03] upsuper commented on #15194
I'm not sure exactly why we go that route, but I think that makes sense because CSS representation isn't necessarily the way we want to display it. Using a separate trait for the standardized way makes more sense. But I understand that using a single `write!` may make the code more compact. Probably we can add a similiar macro for `ToCss`... not sure whether it's doable...

[2017-04-02 23:24] alajara commented on #16031
hey @gterzian I would like to try this one, if the offer still stand for the help and guidance I will much appreciate it

[2017-04-03 03:29] atouchet commented on #15932
This is now fixed in the latest nightly build.

[2017-04-03 03:29] #15932 closed

[2017-04-03 07:15] pyfisch commented on #15194
I found an easier solution then creating a new macro: All values I use inside `format!` are wrapped inside a struct called `Css` that implements `Display` for all types that implement `ToCss`. I use it like that: `write!(dest, "translate({}, {})", Css(tx), Css(ty))`

[2017-04-03 07:35] upsuper commented on #15194
@Manishearth, are you happy with this? ^

[2017-04-03 07:38] nox commented on #15694
From your logs:

[code]

If that response indeed is what `hyper` thought it received for `nosniff-no-x`, there is a serious issue somewhere. That test is supposed to send a `Content-Type-Options` header and `hyper` thinks it received a `X-Content-Type-Options`.

[2017-04-03 07:53] Manishearth commented on #15194
I think for coherence reasons. We need to be able to provide our own impls of `ToCss`, so it's best to keep it a separate trait.

[2017-04-03 07:53] Manishearth commented on #15194
Oh, a `Css` struct would be fine though

[2017-04-03 07:58] pyfisch commented on #15194
[code]

Ideally the struct works on both owned and borrowed values but implementing it like this causes (obviously) conflicting implementations. Is there a way to make work? Or is it better to only implement it for borrowed values and and borrow owned ones to use them?

[2017-04-03 07:59] Manishearth commented on #15194
Use `T: AsRef<U>`?

[2017-04-03 08:06] Manishearth commented on #15194
`impl<T: AsRef<U>, U: ToCss> Display for Css<U>`?

Though, that may fall afoul of the covered rule, hm.

[2017-04-03 08:37] emilio commented on #15194
Why not just `struct Css<'a, T>(&'a T)`? Seems like the most straight-forward way to implement this.

[2017-04-03 08:37] Manishearth commented on #15194
They want it to be usable in other cases too.

[2017-04-03 08:41] emilio commented on #15194
Who's "They", if I can ask? And what's the use case?

[2017-04-03 08:54] Wafflespeanut commented on #15194
I think having `Css<'a, T>` should just be enough. It's gonna be created/used only in `ToCss` impls, right?

[2017-04-03 08:54] Manishearth commented on #15194
"they" is @pyfisch

Usecase was a bad way of framing it, I meant that @pyfisch wanted it to be usable for both `Css(T)` and `Css(&T)`

[2017-04-03 08:55] emilio commented on #15194
Right, but what's the use case for `Css` taking ownership of anything ever?

[2017-04-03 08:57] Manishearth commented on #15194
Just ergonomics. But yeah, not much of a use case, `Css(&T)` should be fine

[2017-04-03 08:58] emilio commented on #15194
And apologies, didn't know that usage of "they" as a gender-neutral, singular pronoun (I'd have expected a mention, "the assignee" or something like that). Didn't want to be mean :)

[2017-04-03 09:03] gterzian commented on #16031
@alajara absolutely! Thanks for your offer of help.

Have you considered taking a first pass at it, based on @jdm guidance above, and opening a PR(even if not finished)? That way I can help you through comments and reviews on the PR. You can start the PR title with `[WIP]` to tell others it is still a work in progress and not yet ready for a review by one of the project maintainers.

[2017-04-03 09:31] gterzian commented on #16031
@alajara One thing to note is that [the PR](https://github.com/servo/servo/pull/15519) that added the code to be refactored also [added some tests](https://github.com/gterzian/servo/blob/5c4f0be04872f5f2e8736b15a2169f9479509a0e/tests/wpt/web-platform-tests/html/infrastructure/safe-passing-of-structured-data/structured_clone_blob.html), so a good way to work is with the use of those tests as a benc

[2017-04-03 09:34] #16165 closed

[2017-04-03 09:57] upsuper opened #16240 "Pass in CSS loader when calling CssRules.insert_rule"
`insert_rule` needs the CSS loader for loading `@import` rule.

A parameter is being added in [bug 1352763](https://bugzilla.mozilla.org/show_bug.cgi?id=1352763) for this, but Servo DOM code would currently still pass in `None`, which should be fixed.

[2017-04-03 09:57] upsuper commented on #16240
cc @emilio

[2017-04-03 13:15] jdm commented on #16031
The tests can be run with `./mach test-wpt tests/wpt/web-platform-tests/html/infrastructure/safe-passing-of-structured-data/structured_clone_blob.html`.

[2017-04-03 13:22] alajara commented on #16031
@gterzian thank you! I am going to start working on it today.

[2017-04-03 13:27] avadacatavra opened #16243 "create usable principal values for wrapper origin checks"
@jdm: In order for Servo to create usable principal values that the JS engine can manipulate, we need a couple things:
* a C++ type that derives from JSPrincipals
 * this would live in jsglue.cpp in rust-mozjs, and follow a similar pattern to ForwardingProxyHandler/WrapperProxyHandler
* a Rust API for creating/destroying instances of this principal type
 * also provide function callbacks so Rust c

[2017-04-03 13:30] avadacatavra commented on #16243
blocks #2382

[2017-04-03 13:33] pyfisch commented on #15194
Thanks for your help. I looked up how `Display` works and found that it is implemented for borrowed values. I added a similar impl for ToCss. If this causes any problems I can also insert '&' chars everywhere. The PR is also uploaded.

[2017-04-03 14:05] jdm opened #16244 "Update WebIDL.py from upstream"
Once https://bugzilla.mozilla.org/show_bug.cgi?id=1352996 merges we should pull the latest parser from upstream.

[2017-04-03 14:07] jdm commented on #16244
This involves running the `update.sh` in `components/script/dom/bindings/codegen/parser`.

[2017-04-03 15:08] jdm commented on #16097
Could we move forward with this? It affects many of the nontrivial websites that I've tried to run in Servo.

[2017-04-03 15:40] SimonSapin commented on #16097
I’m working on a sort-of-revert now. (Reverting the behavior to per-process, but keeping most of the code.)

[2017-04-03 16:10] SimonSapin commented on #16027
#16246 reverts to per-process for now, because of panics like #16097.

[2017-04-03 17:03] asajeffrey commented on #16206
IRC chat with @jdm: http://logs.glob.uno/?c=mozilla%23servo&s=3+Apr+2017&e=3+Apr+2017#c644051

TL;DR: worklets are based on ES6 modules, which aren't in SM yet.

[2017-04-03 18:32] jdm opened #16248 "Root element with absolute positioning ignores min-width"
This is related to https://github.com/servo/servo/issues/15571, but that issue is related to the background being clipped incorrectly.
[code]
In Firefox the border fills the viewport width, while in Servo it fills the viewport height but only a small portion of the viewport width.

[2017-04-03 18:32] jdm commented on #16248
This is the cause of the misalignment for the Google sign in page.

[2017-04-03 18:41] jdm opened #16249 "Intermittent pass on /_mozilla/webgl/conformance-1.0.3/conformance/context/context-release-upon-reload.html"
[code]

[2017-04-03 20:36] emilio commented on #15346
Hi @dpyro, did you manage to make any progress on this?

[2017-04-03 21:07] dpyro commented on #15346
Nope @emilio, I am not able to do it right now. Please unassign me. Hopefully I will be able to contribute again later!

[2017-04-03 22:10] #16097 closed

[2017-04-03 22:33] emilio commented on #15346
No worries, and thanks for replying!

[2017-04-04 00:48] KiChjang commented on #16031
Note: the spec recently removed all notions of structured cloning and instead replaced them with structured serialization/deserialization: https://html.spec.whatwg.org/multipage/#structuredclone; relevant PR whatwg/html#2421

[2017-04-04 01:42] gterzian commented on #16031
@KiChjang thanks for the info! I think the current implementation isn't actually following the various operations defined in the previous spec, I guess in the future as we add support for types other than `Blob` we could do so in ways that conform more closely with the new spec...

[2017-04-04 03:52] jdm opened #16254 "Intermittent pass in /_mozilla/webgl/conformance-1.0.3/conformance/context/context-creation-and-destruction.html"
[code]

[2017-04-04 05:34] domenic commented on #16031
However the OP's code looks pretty much like the spec, if you rename "StructuredCloneWriter" to "serialization steps" and "StructuredCloneReader" to "deserialization steps". The spec seems to match these ideas a lot better now :)

[2017-04-04 07:44] gterzian commented on #16031
@domenic awesome 😄

[2017-04-04 10:13] karan1276 commented on #15999
I was looking at the code. I have a few questions. Didn't we implement `Shadow` so properties like this can call it? or is there another use for it.
About the conversion system, how exactly should i go about it?

The structure of `SpecifiedTextShadow` and `Shadow` is almost same. Wouldn't it be better to use the `Shadow` object and call the `Shadow::parse` method (just guessing) ?

[2017-04-04 10:13] karan1276 commented on #15999
@highfive : assign me

[2017-04-04 10:13] highfive commented on #15999
Hey @karan1276! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-04 10:32] nodo commented on #15994
@Wafflespeanut @Manishearth  Sorry guys, I don't have enough time to dedicate to the project right now.  Feel free to re-assign the issue. I will came back to the project in a better time.

[2017-04-04 10:47] ferjm opened #16255 "Add a fast path to get computed styles from the script thread"
CC @emilio

We have `window.GetComputedStyle`, but it would be great to have a faster path.

[2017-04-04 11:28] jdm commented on #16031
I would rather use the names I've suggested and add links to the related specification concepts in comments if they make sense.

[2017-04-04 11:49] domenic commented on #16031
Well, the problem with your names is that the concept of "structured clone" no longer exists in any specification, so it's a bit mysterious for anyone reading the code.

[2017-04-04 12:30] jdm opened #16257 "Should we permit woff2 font hints?"
URL font sources are ignored if they provide a hint that [does not match](https://dxr.mozilla.org/servo/rev/5ef8a0a2f7917792105cf28f6e581a92e863c3dd/components/style/font_face.rs#120) truetype, opentype, or woff. I've seen sites using woff2 as a format; do we support that?

[2017-04-04 12:32] jdm commented on #14783
I finally narrowed down a minimal testcase:
[code]

[2017-04-04 12:38] jdm commented on #14783
What happens here is that TextRunScanner::flush_clump_to_list creates an empty RunMapping value to start. This is initialized with a font_index of 0; for the first fragment processed, if a font is selected from the font group that is in a different index, then the mapping is flushed. RunMapping::flush checks for empty mappings, but explicitly allows the case where an empty mapping is passed in and

[2017-04-04 13:22] jdm opened #16259 "Docs build is reporting a failure"
It started with http://build.servo.org/builders/doc/builds/2913:
[code]
I don't know what to make of it. For comparison, this is the output of the last successful run:
[code]

[2017-04-04 13:22] highfive commented on #16259
cc @aneeshusa

[2017-04-04 19:34] isonmad opened #16261 "outdated rustc updating instructions"
The wiki page [Updating the Rust compiler used by Servo](https://github.com/servo/servo/wiki/Updating-the-Rust-compiler-used-by-Servo) is over a year old and has been inaccurate since at least https://github.com/servo/servo/commit/336e6c8f286be636a105af858cac18b4d42c1b12, possibly earlier?

[2017-04-04 20:13] alajara commented on #16031
Hey I am still working on it, I am still new to Rust, and wanted to understand the code myself, I hope thats ok sorry for the delay.

[2017-04-04 21:14] #15194 closed

[2017-04-04 22:44] alajara commented on #16031
@gterzian am I changing out the unsafe functions read and write length?

[2017-04-04 22:58] jdm commented on #16031
Those are still fundamental operations that the higher-level APIs will need to use, so I don't think there's any need to change them.

[2017-04-04 23:55] #15252 closed

[2017-04-05 01:15] dowoncha commented on #16105
I have created a `PointerEvent` struct and implemented the bindings for it. I added `pub mod pointerevent` in dom/mod.rs but the PointerEvent struct is not visible in other modules, as I get `unresolved import errors`. Any ideas?

[2017-04-05 01:57] jdm commented on #16105
The types that the generated bindings provide are correct. `long` has a weird history in IDL.

[2017-04-05 02:51] dowoncha commented on #16105
I am now ready to implement the trait items (e.g. `GetOnpointerdown`, `Setonpointerdown`, etc). Cargo currently gives me 3 errors in implementing the same functions in `DocumentMethods`, `HTMLElementMethods`, or `WindowMethods`. Which one should I implement in?

[2017-04-05 03:01] jdm commented on #16105
They should be part of the `global_event_handler` macro in `components/script/dom/macros.rs`.

[2017-04-05 03:13] dowoncha commented on #16105
`PointerEvent` contains `MouseEvent` for inheritance. `MouseEvent.new_inherited()` is a private function but I need it public to call during `PointerEvent.new_inherited()`. Can i make it public?

[2017-04-05 05:34] stshine opened #16267 "Intermittent failure of /_mozilla/css/iframe/simple_inline_width_percentage.html and /_mozilla/css/iframe/simple_inline_height.html"
[code]

[2017-04-05 06:52] jdm commented on #16267
Another instance of an iframe test showing an empty iframe when there should be content.

[2017-04-05 08:14] #14520 closed

[2017-04-05 08:38] nox commented on #15607
The PRs were closed due to inactivity.

[2017-04-05 12:22] zarazek opened #16270 "Inner document of iframe is null"
I'm getting `null` when accessing `document` property of iframe. The same code on Firefox works correctly (it returns `HTMLDocument` object).
[test.zip](https://github.com/servo/servo/files/896156/test.zip)

[2017-04-05 12:25] KiChjang commented on #16270
Can you show us the JS code that you've used to access the `document` property? My guess is that the iframe is cross-origin, which we don't support yet.

[2017-04-05 12:28] zarazek commented on #16270
I attached the file with html and js code to the first comment.

[2017-04-05 12:50] zarazek opened #16271 "Stringification of iframe.contentWindow object throws an exception"
Exception is thrown when attempting to stringify `iframe.contentWindow` property. The same code works correctly on Firefox (it stringifies to `'[object Window]'`)

[test-2.zip](https://github.com/servo/servo/files/896216/test-2.zip)

[2017-04-05 13:14] jdm commented on #16270
Yes, this behaves as described when run from a file:// URL (where every URL is cross-origin), but works as expected when run from an http:// URL (where the iframe is same-origin). This is a symptom of #15233, so I'll close it in favour of that. Thanks for reporting it!

[2017-04-05 13:14] #16270 closed

[2017-04-05 13:23] jdm commented on #16271
This occurs when the testcase is run from a file:// URL, which means that we have a dissimilar-origin Window object, hence "ERROR:script::dom::bindings::error: Error at :0:0 SecurityError: The operation is insecure" in the output.

cc @asajeffrey

[2017-04-05 13:24] dowoncha commented on #16105
I would like to submit a WIP PR, could you open up a pointerevent branch on servo/servo

[2017-04-05 13:32] dowoncha commented on #16105
@highfive: assign me

[2017-04-05 13:32] highfive commented on #16105
Hey @dowoncha! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-05 13:35] jdm commented on #16105
Opening up a WIP PR is fine; there's no need to have a branch on servo/servo for that.

[2017-04-05 13:42] dowoncha commented on #16105
#16273

[2017-04-05 13:49] #15694 closed

[2017-04-05 14:27] #15884 closed

[2017-04-05 14:53] asajeffrey commented on #16271
If this is run from a file URL, then it's doing the right thing, this should throw a security error. Can you run it from http? (I usually use `python -m SimpleHTTPServer` for ad hoc http).

[2017-04-05 15:01] jdm commented on #16271
Ah, right. This is working as intended; Firefox treats file:// URLs as same-origin while Servo does not. This works as expected when run over an HTTP server.

[2017-04-05 15:01] #16271 closed

[2017-04-05 16:38] emilio commented on #15902
This is Gecko only, and I'm helping out someone working on this.

[2017-04-05 17:47] #15902 closed

[2017-04-05 18:35] KiChjang opened #16275 "./mach build -d failure on Windows MSVC"
When running `./mach build -d` on Windows MSVC, compiling the crates webrender, browserhtml, heapsize and script_plugins are all looking for gcc to do the linking, which is obviously not correct. Logs below:

[code]

[2017-04-05 18:38] KiChjang commented on #16275
This is solved by using `mach.bat` instead of `mach`.

[2017-04-05 18:38] #16275 closed

[2017-04-05 18:47] asajeffrey commented on #16206
IRC chat with @SimonSapin: http://logs.glob.uno/?c=mozilla%23servo&s=5+Apr+2017&e=5+Apr+2017#c645966

TL;DR: stylo shouldn't be a big factor.

[2017-04-05 19:34] cyplo commented on #8034
Hi, is this still the case ?

[2017-04-05 20:46] gsnedders commented on #16071
Okay, so it's getting called with `{u'all_files': False, u'self_test': False, u'no_progress': False}` as kwargs.

[2017-04-05 21:04] gsnedders commented on #16071
So in `testing_commands.py:MachCommands.test`:

 1. `suites` is initalized to TEST_SUITES, which has that dict in `suites["tidy"]["kwargs"]`.
 2. The following line overwrites `suites["tidy"]["kwargs"]` to the exact same dict.
 3. The only way for it to get a further item in the dict is `if tests: kwargs[props["include_arg"]] = tests` and that will never be true for `tidy` because `tidy` is in `al

[2017-04-05 21:08] jawz101 commented on #12130
https://en.m.wikipedia.org/wiki/Usage_share_of_web_browsers#Crossover_to_smartphones_having_majority_share

Let's not be behind the times.  Just sayin'

[2017-04-05 23:52] mckaymatt commented on #15693
@highfive: assign me

[2017-04-05 23:52] highfive commented on #15693
Hey @mckaymatt! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-06 02:08] alajara commented on #16031
@gterzian someone else should take the PR, I am having a little trouble understanding the code, its going to take me longer than I thought and I don't want to keep you waiting, sorry

[2017-04-06 02:25] stshine commented on #11528
@highfive: assign me

[2017-04-06 02:25] highfive commented on #11528
Hey @stshine! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-04-06 06:27] SimonSapin commented on #16261
I’ve update the “Updating the Rust compiler” section. The “Updating dependencies” section still has outdated info, but I don’t feel like rewriting the whole thing right now.

* We don’t use git submodules anymore.
* Many dependencies are normally obtained through crates.io, not git.
* Servo dependencies not developed by the servo team don’t necessarily have a Github fork in the `servo/` org.
* You

[2017-04-06 10:50] gterzian commented on #16031
@alajara I don't think there is any rush to this, it took me a while to get started on the initial PR as well, at lest a few weeks of just reading stuff. 😄

I advise you to not try to understand everything that the code does (the actual writing and reading of stuff), and instead just look at what each step of the writing and reading is made out of. You could then try to move those operation into t

[2017-04-06 10:53] jdm commented on #16267
Same failure symptom as #15227.

[2017-04-06 11:02] tamamu commented on #15954
Is this issue now open? If so, I’ll give it a shot.
@highfive: assigin me

[2017-04-06 11:03] Wafflespeanut commented on #15954
Yes it is. Go for it! (and, spelling) 😄

[2017-04-06 11:27] #6919 closed

[2017-04-06 11:49] tamamu commented on #15954
Typo! Oops ... well, what I should do is implement the shorthands properties in
<https://github.com/servo/servo/blob/master/components/style/properties/shorthand/position.mako.rs>
right? Is any test necessary?

[2017-04-06 12:04] gterzian commented on #16031
Note: since the struct has only one field, you can literally just declare it in your code as
[code]
(@jdm please let me know if I'm wrong)

and below add an `'impl` block to implement the methods. see https://doc.rust-lang.org/book/method-syntax.html

[2017-04-06 13:15] Wafflespeanut commented on #15954
You're right! And yeah, it'd be nice to have some tests in `tests/unit/style/properties/serialization.rs` (where other similar shorthand serialization tests live)

[2017-04-06 15:03] smoqadam commented on #15994
Hi, I'm new to Rust. I want to contribute in Servo. but I don't know where is the starting point? If I want to fix this issue what can I do?

[2017-04-06 15:16] Wafflespeanut commented on #15986
@brizental ping?

[2017-04-06 15:17] Wafflespeanut commented on #15994
Hi! This issue may require more work, and it might not be a good first issue for you to tackle (given that you're new to the language). What about #15169? It has a few comments that should help you to start with. If that doesn't help, feel free to ask questions there :)

[2017-04-06 16:03] stshine commented on #7554
Looks like this is fixed?

[2017-04-06 16:52] nico-onmap opened #16287 "Windows daily builds ?"
In july 2016 I read that Windows builds were coming soon but there is still no sign of Windows builds on [servo.com](https://download.servo.org/): is it still being worked on?

Any ETA?

[2017-04-06 17:05] odeits commented on #16057
Got something similar when trying to reload a page (bitbucket)

[code]

[2017-04-06 17:09] ferjm commented on #14993
This seems to be fixed after #15701 was fixed

[2017-04-06 17:09] #14993 closed

[2017-04-06 17:17] hgallagher1993 commented on #16287
This is the last task blocking it AFAIK 16198

[2017-04-06 21:20] emilio commented on #7554
Yup! Works for me :)

[2017-04-06 21:20] #7554 closed

[2017-04-06 21:40] glennw opened #16290 "./mach test-wpt fails on Linux machines with nVidia blob installed."
At some point in the build process, libGL is added to the libraries.

On machines with the nVidia blob driver installed, the nVidia libGL gets (some?) functions loaded by gleam when running in headless mode with OSMesa.

This results in all kinds of things being broken - e.g. max texture size is reported as 0 etc.

[2017-04-06 21:40] glennw commented on #16290
@emilio Do you have any ideas what may cause this?

cc @bholley

[2017-04-06 21:41] alajara commented on #16031
Thank you! Your explanation and guideline really helped me understand what was the task and your examples helped even more. I was getting ahead of my self by looking documentation on the different packages. I am working on it now, and will put it up shortly so you can review it. thanks again.
P.S.
Is JSStructured CloneWiter/Reader a Javascript/Rust  enum type?

[2017-04-06 23:08] jdm commented on #16057
Is there a specific bitbucket page?

[2017-04-07 01:02] gterzian commented on #16031
`JSStructuredCloneWriter/Reader` are actually [raw pointers](https://doc.rust-lang.org/book/raw-pointers.html), because the stuff in the `js::jsapi` package are in fact bindings to `C` code, so what being done here is somewhat similar to these [ffi examples](https://doc.rust-lang.org/book/ffi.html)... To be honest this is fairly new to me as well.

Glad to hear the examples helped! Let me know if

[2017-04-07 01:23] jonathandturner commented on #16287
Confirmed, fixing the keyboard issue is the last one blocking the nightly.

[2017-04-07 02:36] emilio commented on #16290
hmmm wat, that sounds fun. I think I have hardware to try to reproduce it and dig a bit.

[2017-04-07 03:30] odeits commented on #16057
@jdm this is `Atlassian Bitbucket v4.11.2` anything after the log in page. The display says "Could not load the requested page: Unexpected scheme" I am on OSX and I hit command + r

This is running ./mach run --release https://bitbucket.url.here

full output below

[code]

[2017-04-07 07:27] jdm opened #16298 "Bitbucket login page is unusable"
No text appears, only some horizontal rules and the google login button with a weird layout issue.

https://bitbucket.org/account/signin/

[2017-04-07 07:29] jdm opened #16299 "Bitbucket repo page shouldn't allow horizontal scrolling"
https://bitbucket.org/PrimordialHelios/

[2017-04-07 09:58] mrobinson commented on #9983
Assigning myself here as well, because I've been working on this as well and should be able to have a fix rather quickly.

[2017-04-07 11:43] meecoffee opened #16302 "android nighlty apk？"
long time passed

[2017-04-07 14:46] jdm commented on #16302
Closing in favour of #12130, where we are tracking issues that prevent us from releasing Android nightlies.

[2017-04-07 14:46] #16302 closed

[2017-04-07 16:55] jdm opened #16304 "Support processing network response body notifications on background threads"
This is a feature that Gecko supports - for responses where nothing useful can be done until the full response body is present, there's no reason to queue an event in the main thread that just pushes data to a buffer. If the buffer is threadsafe, that pushing can happen in a background thread while the main thread works on more important things. We should make it easy to opt-in to this optimizatio

[2017-04-07 17:14] larsbergstrom opened #16305 "Servo does not compile with Visual Studio 2017"
From a comment by Ahmed Charles on the recent Hacks article:
It doesn’t seem like the instructions here can work because servo doesn’t currently support MSVC 2017. I assume that if this set of instructions was tested, it worked because MSVC 2015 was installed already. The mach.bat looks for %VS140COMNTOOLS%, which is MSVC 2015.

Note, this can be worked around by executing the appropriate vcvarsal

[2017-04-07 17:43] alex-mayorga commented on #16305
¡Hola Lars!

Ended up here from https://twitter.com/alex_mayorga/status/850154408109277185

Glad to see I was not just missing something obvious along the way =)

Perhaps link this issue to https://hacks.mozilla.org/2017/04/hacking-contributing-to-servo-on-windows/ to save others some head scratching?

¡Gracias!

[2017-04-07 17:44] jdm commented on #16305
cc @Coder206

[2017-04-07 18:49] larsbergstrom commented on #16305
@alex-mayorga Thanks for the comment and tweet! And I'm sorry the experience was totally lame.

I'm trying to figure out if we should:
a) update the article to point to VS 2015 for now (instead of VS 2017)
b) rush like mad to get VS 2017 working with the toolchain and hope that nobody else notices :-)

Maybe we should do both?

cc @Jayflux

[2017-04-07 18:56] Coder206 commented on #16305
@larsbergstrom This afternoon, I have been trying to get VS 2015 and I can't seem to download a new binary from MS. If we can't download VS2015 any more, I don't see a valid long term reason to keep on working with it.

[2017-04-07 19:02] est31 commented on #16287
See also #12125

[2017-04-07 20:53] krishnakarthick1993 commented on #6633
Question regarding test cases : We have completed the initial steps and we are now moving to the subsequent steps.
I would like to know if we need any new test cases to be added to test our subsequent steps (or) is the previous test cases present in tests/wpt/web-platform-tests/dom/nodes good enough. Please let us know. Thanks.

[2017-04-08 00:16] jdm commented on #6633
I expect that the existing tests should provide enough coverage; my only worry is if they also require features that your project will not implement. It would be useful to create a simple test case that only uses the features that you are implementing in your project.

[2017-04-08 12:00] nox commented on #3219
Can't find security_location_0.sub.htm anymore.

[2017-04-08 12:00] #3219 closed

[2017-04-08 12:02] nox commented on #3802
We have many other blockers before being able to use Servo in a system without a network stack.

[2017-04-08 12:02] #3802 closed

[2017-04-08 12:03] nox commented on #4182
I'm pretty sure this is not applicable anymore.

[2017-04-08 12:03] #4182 closed

[2017-04-08 12:04] nox commented on #4514
The cookie crate has tests now.

[2017-04-08 12:04] #4514 closed

[2017-04-08 12:05] nox commented on #4953
This works now.

[2017-04-08 12:05] #4953 closed

[2017-04-08 12:08] nox commented on #5163
@pcwalton The bytes are now in an `IpcSharedMemory` thing, is that enough?

[2017-04-08 12:10] nox commented on #5371
Closing for lack of details.

[2017-04-08 12:10] #5371 closed

[2017-04-08 12:10] nox commented on #5412
@jdm Is this still relevant? What's mootools?

[2017-04-08 12:15] nox opened #16308 "Update to cookie 0.7"
I'm not sure what changed in the API given there are no changelogs, nor any details in the tags, but it seems the crate now has a cookie jar concept, which we could probably use.

[2017-04-08 12:16] nox commented on #5944
The check is [correct](https://tools.ietf.org/html/rfc6265#section-5.2.4), but maybe misplaced, or maybe the attribute is ignored altogether in the cookie crate itself.

[2017-04-08 12:18] nox commented on #5944
AFAICT the cookie crate doesn't do it itself. Should the parser ignore `Path` attributes that don't start with a `/`, @alexcrichton?

[2017-04-08 12:18] nox commented on #6075
This doesn't panic anymore.

[2017-04-08 12:18] #6075 closed

[2017-04-08 12:19] nox commented on #6104
Assigning to @avadacatavra to decide whether we should pursue this.

[2017-04-08 12:20] nox commented on #6106
Assigning to @avadacatavra to decide whether we should pursue this.

[2017-04-08 12:27] nox commented on #6697
I'm pretty sure this was fixed a long time ago.

[2017-04-08 12:27] #6697 closed

[2017-04-08 12:27] nox commented on #6921
@jdm STS as in HSTS? That's fixed right?

[2017-04-08 12:28] nox commented on #7398
We reuse SSL sessions now, AFAICT.

[2017-04-08 12:28] #7398 closed

[2017-04-08 12:30] nox commented on #7725
Pretty sure this was fixed a long time ago.

[2017-04-08 12:30] #7725 closed

[2017-04-08 12:30] nox commented on #7888
What's the status on this? Assigning to @avadacatavra to decide.

[2017-04-08 12:32] nox commented on #7962
Assigning @avadacatavra and myself to this.

[2017-04-08 12:33] nox commented on #8580
Pretty sure we support HSTS now.

[2017-04-08 12:33] #8580 closed

[2017-04-08 12:34] nox commented on #8581
The first two are now blocked, but https://dh1024.badssl.com/ isn't. Assigning to @avadacatavra to decide.

[2017-04-08 12:35] nox commented on #11775
This is actually a blocker for wss.

[2017-04-08 12:36] nox commented on #10550
We use a newer openssl now.

[2017-04-08 12:36] #10550 closed

[2017-04-08 12:59] Boddlnagg commented on #16305
Yeah, it seems like older versions are only offered for download if you have a (free) Microsoft Dev Essentials subscription: https://www.visualstudio.com/vs/older-downloads/

[2017-04-08 13:11] TerraX-net commented on #6104
If we think of the growing DNSSEC with (the smaller) ECDSA like Cloudflare, we would have to expect a even smaller latency than the small ones in the past.
[DNSSEC with Ed25519 an Ed448](https://tools.ietf.org/html/rfc8080) has been standardized.
ring has Ed25519 support and it is to expect that https://github.com/briansmith/ring/issues/463 will follow. As you are planning to use [briansmith/webpk

[2017-04-08 13:28] Jayflux commented on #16305
ahh thats annoying!
I did try this out in a VM with little problem.

Anything i can do to help?

[2017-04-08 13:32] TerraX-net commented on #7888
I thought [briansmith/webpki](https://github.com/briansmith/webpki) (with things like [OCSP Stapling](https://github.com/briansmith/webpki/issues/26)/[OCSP Must Staple](https://github.com/briansmith/webpki/issues/28)) and [briansmith/ring](https://github.com/briansmith/ring) are primarily written for Servo because @briansmith aims to have written as much as possible (and reasonable) in Rust?

[2017-04-08 14:51] pyfisch commented on #16017
I am working on this.

Servo testcase for the first one:

[code]

* Expected: `:not(*) {  }`
* Found: `:not() { }`

[2017-04-08 17:02] nox commented on #9950
This was done.

[2017-04-08 17:02] #9950 closed

[2017-04-08 17:11] nox commented on #8837
cors/ isn't disabled anymore and the test seems to pass.

[2017-04-08 17:11] #8837 closed

[2017-04-08 17:15] nox commented on #10428
This was done.

[2017-04-08 17:15] #10428 closed

[2017-04-08 17:17] nox commented on #12017
Is this still an issue?

[2017-04-08 17:18] nox commented on #12096
This doesn't seem to happen anymore.

[2017-04-08 17:18] #12096 closed

[2017-04-08 17:18] nox commented on #12341
#9490 landed.

[2017-04-08 19:18] pyfisch commented on #16017
I am not working on this anymore. The problem is the serialization at https://github.com/servo/servo/blob/master/components/selectors/parser.rs#L440 but I do not understand the data structures used. `args` contains one element for `:not(*)` with an empty serialization. Somehow it should serialize to `*`.

[2017-04-08 19:49] alexcrichton commented on #5944
cc @SergioBenitez

[2017-04-08 20:14] tamamu commented on #15954
Can I ask a question? I don't know how to import `values::specified:::AlignJustifyContent`. When I did `mach test unit`, I got an error as below (but `mach build -d` succeeded.)

[code]

 As requirements of `place-content`,

so I probably should use the type to convert a `align-content` value to `justify-content` value.

[2017-04-08 21:23] KiChjang commented on #12341
The test linked is no longer failing on master.

[2017-04-08 21:23] #12341 closed

[2017-04-08 21:23] jdm commented on #5412
It's an old JS framework

[2017-04-08 21:26] jdm commented on #6921
This is not fixed, since we don't have a WPT test.

[2017-04-08 21:45] meecoffee commented on #12129
android nighlty apk？long time passed

[2017-04-08 23:37] jdm commented on #12129
@meecoffee Please follow the progress in #12130. There's no point in publishing a nightly that doesn't actually work well.

[2017-04-09 00:48] bzbarsky commented on #16017
The problem is that the to_css function needs more context.  It thinks it's serializing a selector at toplevel, but the rules are slightly different inside not().

And even at toplevel Servo is kinda buggy around selectors involving wildcards.  See for example https://github.com/servo/servo/issues/16020

[2017-04-09 01:51] upsuper commented on #15999
That was my suggestion at the top of the issue as well.

[2017-04-09 01:57] upsuper commented on #15954
Ah, it seems `align` mod is currently Gecko-only. I guess we may want to change it to not Gecko-only to help testing? But having a look at that mod, there are indeed lots of Gecko-specific things (from `gecko_bindings::structs`)... so I have no idea what should we do here.

Maybe we can just skip testing for this for now... @Manishearth what do you think?

[2017-04-09 01:57] upsuper commented on #15954
Or @Wafflespeanut if you have any suggestion here.

[2017-04-09 02:00] Manishearth commented on #15954
yes, skipping testing is fine, provided the geckolib build works and it works in stylo

[2017-04-09 02:02] Manishearth commented on #15954
oh. don't remove the property from testing. not writing tests for it is fine (we have stylo reftests).

Instead of importing `AlignJustifyContent`, could you import `properties::longhands::align_content::SpecifiedValue`? That will do the right thing on both.

[2017-04-09 05:29] KiChjang opened #16313 "Intermittent failure of /_mozilla/css/iframe/simple_inline_max.html"
[code]

[2017-04-09 05:48] #13293 closed

[2017-04-09 08:42] vitvakatu commented on #15994
@Wafflespeanut Hello, I'd like to work on this issue, as it's not assigned to everyone.

[2017-04-09 08:43] Wafflespeanut commented on #15994
Please do!

[2017-04-09 09:49] cu1t commented on #13255
Followed same steps (MSVC), confirm that tests won't work. Though error is different. running `mach tset-wpt` results in following:
[code]
So apparently it cannot find openssl binary.

[2017-04-09 10:23] leoschwarz commented on #12017
I still get these messages on startup with the latest (pre-built) nightly on Arch Linux:

[code]

And frequent freezes (only resolved by killing servo) when scrolling on Wikipedia, but I'm failing to create a meaningful log output. (I tried with `RUST_LOG="debug" RUST_BACKTRACE=1` but all I get is tons of `INFO:script::dom::window: script: waiting on layout` until this stops also.)

[2017-04-09 11:10] hsivonen commented on #6104
I see that my comment from 2015 has gotten two thumbs down. It helps to consider DNSSEC as a CA system replacement with legacy crypto practices and with structurally unimpeachable root and intermediates.

Legacy crypto practices: Remember that DNSSEC had a 1024-bit RSA root at a time when Mozilla had decided to distrust 1024-bit RSA Web PKI roots.

From time to time, there's "whoa! how can it be t

[2017-04-09 11:42] tamamu commented on #15954
OK, I have done `place-content`. So now I'm working on `place-self`.

And another question; one of `place-self` sub property, `justify-self` caught an error below by `mach test-unit -p style`. Though you said skipping testing is fine, can I ignore this error? Or have any solution?
[code]

[2017-04-09 11:47] TerraX-net commented on #6104
This issue suggests "cert pinning via DANE" as an addition to HPKP and Preloaded-HPKP and not as an alternative trust anchor (even it would be great and wouldn't have negative security impacts).
Today, your TLD (Registry) could change NS/Glue Records and then read all of your new Email, without any CA.
Your TLD could even then apply for a Let's Encrypt Certificate and would get it.
If you don't tr

[2017-04-09 11:58] jdm commented on #16313
Probably another symptom of #16267.

[2017-04-09 12:49] jdm opened #16318 "Slack never finishes loading"
The welcome message never disappears after logging into slack instances, and the channels never appear in the channel list.

[2017-04-09 12:57] Manishearth commented on #15954
No, it has to build. Mark the shorthand with `product="gecko"`

[2017-04-09 13:28] tamamu commented on #15954
I already marked with that, and also building has succeeded.
The problem is testing.

[2017-04-09 15:01] pyfisch commented on #16017
And this is really hard to debug because gdb does not work well with indirection and traits (but I am a beginner with it so I might have missed something) and all implementations for `Debug` just call `to_css` instead of showing the actual contents.

[2017-04-09 16:43] nox commented on #14513
This covers the script and style cases from https://github.com/servo/servo/issues/8582, AFAICT.

[2017-04-09 17:50] mzji commented on #12125
Why does #11969 be marked as fixed? It's not merged yet.

[2017-04-09 18:11] streichgeorg commented on #15957
I finished implementing the longhands but when I try to add them to the shorthands the tests
```properties::scaffolding::properties_list_json``` and ```properties::serialization::shorthand_serialization::font::font_should_serialize_all_available_properties``` fail. What do I have to do to fix this?