[2015-09-30 13:36] Yoric commented on #7782
According to my trusty Gecko Compositor hacker @nical, we should really [drive it with vsync](https://dxr.mozilla.org/mozilla-central/source/gfx/doc/Silk.md). Preventing double-callbacks shouldn't be too hard, I guess.

@glennw Why do we want to support non-vsync mode, btw?

[2015-09-30 13:47] nical commented on #7782
Non-vsync mode is useful if you want to benchmark layout or rendering performance, but it's important for frame uniformity to drive RaF from vsyncs in the general case. Better yet, detecting that we are not keeping up with vsync and skipping every other vsyncs when that happens to keep frames uniforms (or when we want to save energy) is pretty useful.
It should not be hard to avoid the extra callb

[2015-09-30 15:01] waddlesplash commented on #7796
Looks like the mimetypeless `data:` is being interpreted as HTML not plaintext. Is this already tracked somewhere?

[2015-09-30 15:49] jdm commented on #7796
Nope; please file it.

[2015-09-30 17:40] pcwalton commented on #7783
Also WebRender might just fix this issue for good

[2015-09-30 18:34] #7793 closed

[2015-09-30 18:51] mrobinson commented on #7796
This could likely be caused by the fact that iframes always get layers. Currently only stacking contexts can have layers and they are always on the top of the display list. I confirmed that adding a z-index to the div (thus promoting it to a stacking context) fixes the ordering issue.

[2015-09-30 21:54] pcwalton commented on #7796
Probably has to wait on @mrobinson's work for multiple layers per stacking context then (or WebRender).

[2015-09-30 21:56] mrobinson commented on #7796
I think I'll try to fix this case first, since I think it is the most straight-forward.

[2015-09-30 22:29] glennw commented on #7782
@Yoric Yep, exactly what nical said. I should have been clearer in saying that driving it from vsync is what we want, we just need to take account of those edge cases (vsync disabled, and painting not keeping up with vsync) and make sure they work too.

[2015-09-30 22:42] waddlesplash opened #7803 "`data:` URI without mimetype is interpreted as HTML not plaintext"
As seen in #7796. Testcase (extracted from the one there):
[code]

[2015-10-01 01:20] jdm commented on #7803
Given the code in data_loader that produces `None` when parsing an empty MIME type, we could either interpret that as plaintext in `ParserContext::headers_available` in `servohtmlparser.rs` or explicitly set it to `text/plain` in `data_loader.rs`. I think the latter option is the better one.

[2015-10-01 01:40] eefriedman commented on #7803
Looks like https://github.com/servo/servo/blob/3e377bb24e53fde8f7a786cb73caf3aefdcd3699/components/net/data_loader.rs#L59 is the issue.  From https://www.ietf.org/rfc/rfc2397.txt:

The edge cases are underspecified, and not consistent across browsers.  If an invalid mimetype is supplied (something without a "/"), Firefox sniffs the content (!) to determine the mimetype.  For example `data:a,<b>bol

[2015-10-01 02:58] #7618 closed

[2015-10-01 03:47] jdm commented on #7791
From the reftest analyzer:
<img width="680" alt="screen shot 2015-09-30 at 11 46 44 pm" src="https://cloud.githubusercontent.com/assets/27658/10212457/8bcf97fa-67cd-11e5-9653-0cdda06a7988.png">

[2015-10-01 03:47] jdm commented on #7791
http://mxr.mozilla.org/servo/source/tests/wpt/css-tests/css21_dev/html4/c62-percent-000.htm?force=1

[2015-10-01 04:21] mbrubeck commented on #7791
Looks like an incremental layout bug: the test file jumps between correct and buggy layouts on mouse move.

[2015-10-01 04:37] vectorijk commented on #6332
linguist disappear

[2015-10-01 05:44] Yoric commented on #7782
@glennw Oh, so we have vsync support already?

[2015-10-01 05:50] glennw commented on #7782
@Yoric Only in so much as (I think) we set the default swap interval to vsync - it may even just be that it defaults to vsync on my linux machine.

[2015-10-01 06:10] paulrouget commented on #7783
Tried with WebRender. Animation is not smoother.

[2015-10-01 06:41] #7422 closed

[2015-10-01 07:35] glennw commented on #7783
We looked into this and (at least for the webrender case) it's just that vsync wasn't enabled and it was tearing. I imagine that would fix the normal renderer case too, since it's such a simple transition it shouldn't take long to paint that.

[2015-10-01 07:52] paulrouget commented on #7783
@glennw figured it was because vsync was not used on osx. Adding `with_vsync()` to the glutin window improves the performance quiet a lot. PR: https://github.com/servo/servo/pull/7812

[2015-10-01 09:01] Ms2ger commented on #7441
@Wafflespeanut is this free to be taken?

[2015-10-01 09:16] stratact commented on #7441
I would be interested in alphabetizing the `extern crate` lines if this isn't already worked on.

[2015-10-01 11:42] Wafflespeanut commented on #7441
Yep, it's free :)

@stratact Go ahead and take it! :)

[2015-10-01 11:48] stratact commented on #7441
@Wafflespeanut just so there is no confusion, I was planning on manually alphabetizing the `extern crates` lines in the Servo source code. Does this conflict with your goals with fixing `tidy.py`?

[2015-10-01 11:50] Wafflespeanut commented on #7441
Well, my PR has already landed, and so you shouldn't be having any problem :)

I'd also like to add that declarations with `#[macro_use]` should be sorted and moved to the top - I mean,

[code]

... should be sorted as,

[code]

[2015-10-01 12:00] stratact commented on #7441
What if there were multiple `#[macro_use]` lines embedded in between?

Such as:
[code]

[2015-10-01 12:15] Wafflespeanut commented on #7441
@stratact Have a look at [`gfx/lib.rs`](https://mxr.mozilla.org/servo/source/components/gfx/lib.rs) for inspiration. The `app_units` crate was recently added it seems (so, don't let that confuse you!), it should actually follow `util`, because `util` has `#[macro_use]`. Does that help?

[2015-10-01 15:00] #7783 closed

[2015-10-01 15:46] paulrouget opened #7814 "Text color is not updated when a class is toggled"
[code]

In Firefox, text color changes from green to red. In Servo, nothing happen.

[2015-10-01 15:52] jdm commented on #7814
Out of curiosity, does it update if you resize the window or move the mouse over the text?

[2015-10-01 15:55] paulrouget commented on #7814
If I do something like `:hover{font-size: something}`, it updates the color.

[2015-10-01 16:00] jdm commented on #7814
I suspect this occurs because modifying the class attribute through the DOMSettableToken list doesn't end up marking the node as dirty. Modifying the class attribute directly goes through [this path](http://mxr.mozilla.org/servo/source/components/script/dom/element.rs#1465) instead, which would mark it dirty.

[2015-10-01 16:00] jdm commented on #7814
I suspect the DOMSettableToken methods that mutate attributes should explicitly mark the relevant element as dirty.

[2015-10-01 16:25] paulrouget opened #7816 "CSS transition start value is not computed correctly"
In the example below, the `transform:translateX` value is incremented every 2 seconds. A CSS transition animates the div. But during the animation, the start value is not the value set via the style attribute, but the initial value set in the CSS rule.

[code]

**EDIT**

Here is an example that highlight all the problems I found while working on this issue:

[code]

[2015-10-01 16:26] paulrouget commented on #7816
Maybe related to #7781.

[2015-10-01 16:30] Ms2ger commented on #7814
That makes no sense. The attribute changing code should handle this; there's even code in `Element::attribute_mutated` that should.

[2015-10-01 16:32] mbrubeck commented on #7814
Yes, I verified that the node is correctly marked dirty.  Also, changing to use `.setAttribute("class", ...)` or `.className = ...` does fix the behavior.  The behavior depends on which style property is changed.  `color` and `background` don't work, but `font-size` does.  Maybe the problem is that we're not triggering the correct sort of incremental layout, or the incremental layout logic is bugg

[2015-10-01 16:36] paulrouget commented on #3368
We need this to decode favicons in browser.html. Do we still want to use this library?

[2015-10-01 16:40] metajack commented on #3368
We would need to use some favicon library. stb-image is not usable long term (if it supports favicons and that is your concern). Maybe we need to add favicon support to rust-image?

[2015-10-01 16:49] jdm commented on #7816
Presumably we're getting incorrect values in http://mxr.mozilla.org/servo/source/components/layout/animation.rs#22 . The trick is figuring out why that's happening.

[2015-10-01 17:54] jdm opened #7818 "radio-groupname-case.html still fails one caseless comparison test"
https://github.com/servo/servo/pull/7777/files#diff-ed2c588bed7bbd35cf3ebc3cc09ded10R3

This points at an incomplete implementation in https://github.com/SimonSapin/rust-caseless, but we should figure out precisely what the failure case is in the testcase after #7777 merges.

cc @KiChjang in case you're interested in tackling this :)

[2015-10-01 19:02] mbrubeck commented on #7814
Debugging shows that style recalc runs as expected, and `repair_if_possible` is called, and correctly repairs the text fragments, but the display list still ends up with the old colors for some reason.

`background-color` updates correctly on block elements, but not on inline elements. Maybe this is related to `Flow::repair_style` which is a no-op for `InlineFlow`.

Disabling incremental layout ma

[2015-10-01 21:28] mbrubeck commented on #7814
The problem is that `repair_if_possible` repairs the original UnscannedText fragments from the node's ConstructionResult, rather than the InlineFlow and its ScannedText fragments.

I think [this case](https://github.com/servo/servo/blob/ba2714f4f607da77bd7200f88cfa16c1d10da9cd/components/layout/construct.rs#L1379-L1383) should just `return false;` because we can't repair the correct fragment(s) he

[2015-10-01 21:42] jdm opened #7820 "Panic under IOSurface::upload"
To reproduce on OS X, I just keep clicking the ">" link in http://emoon.github.io/prodbg-web/rust_pres/index.html over and over, and eventually get this:

[code]

[2015-10-01 21:43] jdm commented on #7820
[code]

[2015-10-01 21:44] jdm commented on #7820
[code]

[2015-10-02 01:26] frewsxcv commented on #1236
@saneyuki Still working on this?

[2015-10-02 01:28] frewsxcv commented on #4334
@mukilan Still working on this?

[2015-10-02 01:31] saneyuki commented on #1236
@frewsxcv

No. I'm not working this now.

@dzbarsky and @nox worked to implement some parts of this, but I'm not sure about their current status.

[2015-10-02 02:28] jdm commented on #4334
RootedVec exists now.

[2015-10-02 02:28] #4334 closed

[2015-10-02 05:20] pcwalton commented on #7301
@jdm Other browsers do use a special text-align value here though (-webkit-center and -moz-center).

[2015-10-02 08:28] paulrouget opened #7826 "Setting iframe src right after appending it to the DOM doesn't work"
In this example, f1 doesn't work, f2 works.

[code]

[2015-10-02 08:55] #7814 closed

[2015-10-02 09:48] paulrouget opened #7828 "stacking issue with float and position absolute"
[code]

<img width="580" alt="screen shot 2015-10-02 at 11 47 10" src="https://cloud.githubusercontent.com/assets/373579/10243790/7858094e-68fb-11e5-86c6-13894b0b2fbc.png">

[2015-10-02 09:53] #7156 closed

[2015-10-02 09:54] paulrouget commented on #7335
Fixed. https://github.com/w3c/wptrunner/pull/141

[2015-10-02 09:54] #7335 closed

[2015-10-02 12:40] iawaknahc commented on #6739
Hi @jdm, I have made some progress on this issue at
https://github.com/iawaknahc/servo/commit/b417d0eeed9f457fe9da3f5139c6e9d9560dca84

It compiles successfully but when I try to run the associated tests you mentioned in the first comment, they are skipped. So I doubt the tests are disabled (because they will not pass if this issue is not fixed). Following the instructions on https://github.com/se

[2015-10-02 12:42] nox commented on #7826
With only the code for f1, logging says:

[code]

[2015-10-02 12:42] nox commented on #7826
So the bug isn't in the DOM part, AFAICT.

[2015-10-02 12:57] Yoric commented on #7782
I'm a bit lost. If `process_animations` is called 1500 times per second, then so are `process_pending_scroll_events` and `window.present()` (which I understand is window flipping: documentation needed), so I guess we need to throttle all of these to vsync. Are you telling me that this is probably already the case at least on Linux?

If so, your [earlier comment](https://github.com/servo/servo/issu

[2015-10-02 12:59] Yoric commented on #4183
I still don't follow. Unless I misunderstand the specs, by default, Servo will be in `Browser` context, so it will sniff exactly the same thing regardless of my patch, right?

[2015-10-02 13:03] frewsxcv opened #7830 "Alphabetized imports false positive"
According to our lint checker, this is not sorted:

[code]

The output:

![screen shot 2015-10-02 at 9 02 51 am](https://cloud.githubusercontent.com/assets/416575/10247085/643c2c86-68e4-11e5-85ac-e3b2dc1cdab5.png)

[2015-10-02 13:04] frewsxcv commented on #7830
If I change it to:

[code]

no errors are reported

[2015-10-02 13:18] nical commented on #7782
Yoric already knows about this document, but for the record, here is the design doc of the vsync stuff in gecko: https://dxr.mozilla.org/mozilla-central/source/gfx/doc/Silk.md

[2015-10-02 13:43] jdm commented on #6739
Huh, that's... weird. What happens if you run any other test that is not skipped?

[2015-10-02 14:05] Yoric opened #7831 "The behavior of composite_specific_target is irregular"
The behavior of `composite_specific_targets` is really irregular. Depending on its options, it can return `None` (if it draws only to a window), or `None` (if it draws only to a png), or `Some(foo)` (if it draws to both a window and a png), or shutdown (if some option was passed).

Shouldn't it rather return `None` if it draws only to a window, `Some(foo)` otherwise, and leave shutdown to the call

[2015-10-02 14:17] jdm commented on #7830
Looks like similar confusion to #7412.

[2015-10-02 14:29] Ms2ger opened #7833 "Improve the error message from rr-record."
[code]
is not helpful
[code]
is a little more helpful.

Ref https://github.com/mozilla/rr/issues/1081#issuecomment-106682563

[2015-10-02 14:35] jdm commented on #7833
This one is tricky, since I don't believe non-build-related mach commands can know anything about the flags that were used to build the version of Rust being invoked. If we can preprocess the output received, we could look for `thread '<main>' panicked at 'called `Result::unwrap()` on an `Err` value: OsError("GL context creation failed")` and suggest that Servo needs to be built with the `--headle

[2015-10-02 15:09] iawaknahc commented on #6739
Running `./mach test-wpt webstorage` (with the `.ini` files left unmodified) gives the following summary:

[code]

[2015-10-02 15:52] jdm commented on #6739
Can you past the full output of running the test after you modify the ini files to not skip them, including the command you use to run them?

[2015-10-02 16:13] iawaknahc commented on #6739
The modification to the ini files is as follows:
[code]
Running ```./mach test-wpt webstorage/storage_local_setitem_quotaexceedederr.html``` gives

[code]

And running ```./mach test-wpt webstorage/storage_session_setitem_quotaexceedederr.html``` gives

[code]

[2015-10-02 16:17] jdm commented on #6739
That's super confusing. What if you run `./mach test-wpt webstorage/storage_removeitem.html`? Additionally, does anything change if  you run `./mach tests/wpt/web-platform-tests/webstorage/storage_session_setitem_quotaexceedederr.html`?

[2015-10-02 16:48] iawaknahc commented on #6739
It is weird. Running ```./mach test-wpt webstorage/storage_removeitem.html``` gives similar output

[code]

For the second command you mentioned, I think you mean ```./mach test-wpt tests/wpt/web-platform-tests/webstorage/storage_session_setitem_quotaexceedederr.html```
It gives similar output too

[code]

However, if I run ```./mach test-wpt webstorage```, all tests pass.

[code]

[2015-10-02 17:25] #5698 closed

[2015-10-02 17:31] jdm commented on #6739
Ok, so at least we've ruled out some cases. I am very puzzled why individual test give OpenGL errors while running multiple tests does not!

[2015-10-02 17:35] jdm commented on #6739
Since you're at least able to verify that the tests pass when run together, I would go ahead and submit your changes in a PR. I would also recommend filing a new issue describing this problem where we can focus on figuring out what's going on :)

[2015-10-02 17:36] iawaknahc commented on #6739
Should I include the changes to ```.ini``` files in my RP too?

[2015-10-02 17:48] jdm commented on #6739
Absolutely! You can actually go ahead and remove the files, since they don't contain any expected failures now.

[2015-10-02 19:31] boghison commented on #7688
I think it might happen because of too little RAM

[2015-10-02 20:22] mbrubeck commented on #7785
Looks like a platform-specific failure. These failures are all in mac-dev-ref-unit, though not all on the same build machine.

[2015-10-02 21:56] #7749 closed

[2015-10-02 23:51] frewsxcv opened #7839 "Running `./mach test-wpt` doesn't ensure project is built"
Steps to reproduce:
1. Change a file
2. Run `./mach test-wpt`

`test-wpt` does not attempt to build the project before running tests. This is inconsistent with `test-unit` and `test`

[2015-10-02 23:52] jdm commented on #7839
To be honest I'm surprised that `./mach test` has this behaviour. I have found it to my advantage not to have the test commands force a rebuild of Servo in the past; `test-unit` has to because it's running Rust tests that rely on existing Rust code.

[2015-10-03 00:00] TyOverby opened #7840 "Warning message about OSX notifications is unclear"
Which can be installed via `pip install -U pyobjc`

[2015-10-03 00:01] frewsxcv commented on #7839
I don't have any strong opinions about what it should do, but at the very least it should be consistent

[2015-10-03 00:28] frewsxcv commented on #7840
What makes you think pyobjc is required to build Servo?

[2015-10-03 00:44] frewsxcv commented on #7840
Build notifications requires pyobjc, but not Servo itself. Even if we wanted everyone to have notification support, one issue is that pyobjc takes *forever* to build and could deter new users

[2015-10-03 00:54] TyOverby commented on #7840
Running "mach build --release" failed with the error message "Could not generate notification! Please make sure that the Python pyobjc module is installed!"

[2015-10-03 00:55] frewsxcv commented on #7840
That's not an error, that's just a warning message. Servo was still successfully built. If you have suggestions for how to improve the user experience with that message, let us know.

[2015-10-03 01:03] TyOverby commented on #7840
Ahh, wow I didn't catch that.  Maybe something like "Warning: The optional Python pyobjc module is not installed".

[2015-10-03 15:05] jdm commented on #7840
That's a good idea, except that the message apparently already includes "[Warning]": http://mxr.mozilla.org/servo/source/python/servo/build_commands.py#112

[2015-10-03 18:49] frewsxcv commented on #5320
This is not an issue for me anymore.

[2015-10-03 18:49] #5320 closed

[2015-10-03 18:50] frewsxcv commented on #6227
I can no longer reproduce this.

[2015-10-03 18:50] #6227 closed

[2015-10-03 18:52] frewsxcv commented on #7113
I no longer see this error for the command I pasted above.

[2015-10-03 18:52] #7113 closed

[2015-10-03 20:16] #7803 closed

[2015-10-03 21:20] TyOverby commented on #7840
Now that I know that it's optional, that makes sense, but the wordage "Please make sure" tells me that it's pretty important.

[2015-10-03 21:47] jdm commented on #7840
Please feel free to submit a pull request with changes that would make the warning more clear!

[2015-10-03 22:52] Wafflespeanut commented on #7756
#7757 closes this.

[2015-10-04 07:49] dagnir commented on #7774
I'm completely new to servo (and any browser engine dev).  From looking at the spec, this seems relatively simple.  Is this appropriate for a newcomer?

[2015-10-04 11:28] Yoric commented on #4901
@kmcallister, is this still useful? If so, I might try and look at it, at least for some platforms.

Also, is there any kind of consensus for an API?

[2015-10-04 12:24] Manishearth commented on #4901
cc @vvuk

[2015-10-04 16:15] #7756 closed

[2015-10-04 16:22] jdm commented on #7774
I believe so! You'll probably want to implement `HTMLSelectElement`'s `size` attribute, followed by the `multiple` attribute, (both using appropriate macros from `macros.rs`) and then add a `ask_for_reset` method. Let us know if anything is unclear!

[2015-10-04 16:40] jdm commented on #7730
Now we get:
[code]
So the heights differ by one pixel now??

[2015-10-04 17:17] Yoric commented on #4901
If [fontconfig-rs](https://github.com/cybergeek94/fontconfig-rs) has an acceptable API, I can work on making it cross-platform.

[2015-10-04 17:28] jdm opened #7846 "Intermittent pass in css21_dev/html4/quotes-036.htm"
[code]

[2015-10-04 18:48] jdm opened #7848 "Focus parent elements in the current page"
`Document::commit_focus_transaction` mentions "// Update the focus state for all elements in the focus chain." but only attempts to focus an enclosing iframe element; all other elements in the chain are ignored. This is visible tests/html/select.html from #7847 if the JS is changed to focus an `<option>` instead of a `<select>`; the CSS selector for focused `<select>` doesn't get applied, because

[2015-10-04 19:28] jdm commented on #7774
Looks like the `multiple` attribute already is implemented: http://mxr.mozilla.org/servo/source/components/script/dom/htmlselectelement.rs#82

[2015-10-04 19:34] jdm opened #7849 "Implement form submission for <select>"
According to https://html.spec.whatwg.org/multipage/forms.html#constructing-the-form-data-set we're supposed to include the selected `<option>` values from `<select>` (see step 3.5). We should implemented the `//Unimplemented` piece in `get_form_dataset` related to `HTMLSelectElement`, by adding a method to `HTMLSelectElement` that fetches the required values in a vector of DOMString, and appends

[2015-10-04 19:44] jdm opened #7850 "Implement form submission for <textarea>"
According to https://html.spec.whatwg.org/multipage/forms.html#constructing-the-form-data-set we're supposed to include `<textarea>` values. There's no explicit step for this, but it's covered under 3.4 and 3.9 (and mentioned in the note at the bottom). We should implemented the `//Unimplemented` piece in `get_form_dataset` related to `HTMLTextareaElement`; we can use the `Value` method for now, a

[2015-10-04 19:52] jdm opened #7851 "Extract <input> form data creation into a method on HTMLInputElement"
`get_form_dataset` in `HTMLFormElement.rs` is long method that's doing a lot of things. Part of the problem is the code for dealing with `<input>`, which really belongs in a `get_form_datum` method on `HTMLInputElement` instead.

Code: components/script/dom/htmlformelement.rs, components/script/dom/htmlinputelement.rs

[2015-10-04 19:57] jdm opened #7852 "Document the specification steps in get_form_dataset"
`get_form_dataset` in `HTMLFormElement.rs` is implementing [this algorithm](https://html.spec.whatwg.org/multipage/forms.html#constructing-the-form-data-set) from the HTML specification, but we lack comments labeling each being implemented. We should label this method like we do [other ones](http://mxr.mozilla.org/servo/source/components/script/dom/document.rs#1333) for clarity.

Code: components/

[2015-10-04 20:33] pcwalton opened #7853 "Support border radii for box shadows"
We always paint box shadows as rectangles right now, but that's wrong when border radii are involved.

[2015-10-04 20:36] dagnir commented on #7774
Thank you.  I'll get to work on it

[2015-10-04 23:22] jdm opened #7855 "Implement port blocking for WebSocket connection algorithm"
The [connection algorithm](https://html.spec.whatwg.org/multipage/comms.html#dom-websocket) contains a step 4 that says we should throw an exception if the port is blacklisted. This is currently missing from our implementation, which causes `./mach test-wpt tests/wpt/web-platform-tests/websockets/Create-Secure-blocked-port.htm` to fail (hence `tests/wpt/metadata/websockets/Create-Secure-blocked-po

[2015-10-04 23:40] jdm opened #7856 "Implement Websocket.bufferedAmount"
There are a bunch of websocket tests that fail due to `bufferedAmount` being missing, and that's making it harder to figure out the incorrect parts of our implementation. `bufferedAmount` has [rather particular](https://html.spec.whatwg.org/multipage/comms.html#dom-websocket-bufferedamount) requirements - basically, we want to increase the counter in `send`, and dispatch a [runnable](http://doc.se

[2015-10-04 23:41] jdm commented on #7856
Tests include `./mach test-wpt tests/wpt/web-platform-tests/Send-data.htm`, as well as `Send-0byte-data.htm` and `Send-65k-data.htm`.

[2015-10-04 23:54] jdm opened #7857 "Implement HTMLHyperlinkElementUtils for HTMLAnchorElement"
We need to uncomment the `implements` line in `HTMLAnchorElement.webidl`, and then add the missing methods to the `HTMLAnchorMethods` implementation in `htmlanchorelement.rs`. Use `WorkerLocation` as a model for this; each time a method from `URLUtils` is called (via `UrlHelper`), we should fetch the current value of the `href` attribute, then adjust the relevant property if necessary, then set th

[2015-10-05 00:14] jdm opened #7858 "websocket.send(null) causes Servo to panic"
We call `unwrap` on the argument passed to `WebSocket::Send` which is an `Option<String>`, but that brings Servo down if the argument is `null` in JavaScript which corresponds to `None` in Rust. We should use `unwrap_or_else` and create an empty string instead.

Code: components/script/dom/websocket.rs

[2015-10-05 00:26] nattokirai commented on #4901
Fontconfig is *not* an API that you want to base anything on. It is basically a "pick a font" API that doesn't, by intention, cover all the font services needed by a browser engine. A cross-platform API needs to integrate appropriately with underlying system font services, which means doing more work for older platforms (e.g. XP, Linux) and less for more modern ones (DirectWrite, CoreText).

[2015-10-05 00:36] jdm opened #7859 "Remove the unused data field from WebSocket"
If my reading is correct, the field is never modified and never read.

Code: components/script/dom/websocket.rs

[2015-10-05 00:38] jdm opened #7860 "Clean up websocket closing code"
The code in `websocket.rs` related to closing the connection is difficult to read and reason about for a number of reasons. I propose the following:
* we add a method named `close_the_websocket_connection` which creates a `CloseTask` and dispatches it to the script event loop
* document that `CloseTask` implements the steps [described in the spec](https://html.spec.whatwg.org/multipage/comms.html#

[2015-10-05 00:45] jdm opened #7861 "Don't ignore errors when sending data over websockets"
In `WebSocket::send` we ignore the result of actually sending the data over the network. That causes us to fail tests, funnily enough :) Following the [spec](https://tools.ietf.org/html/rfc6455#section-10.7) for dealing with invalid data, we should be dispatching a `CloseTask` to ensure that the connection is terminated, and additionally for certain cases of errors we should be implementing the `f

[2015-10-05 00:50] jdm opened #7862 "Send the reason in the WebSocket close handshake"
Websites are allowed to specify a freeform UTF-8 string as a reason for closing the connection, but we don't send that reason in the message to the server right now [contrary to the specification](https://tools.ietf.org/html/rfc6455#section-7.1.6). We should adjust the code in `WebSocket::Close` (inside `send_close`) to send the string stored in `WebSocket::reason` instead of `None`.

Code: compon

[2015-10-05 04:50] psdh commented on #7862
Will work on this! :)

[2015-10-05 07:21] nox commented on #7857
Note that the URL spec is currently under heavy change.

[2015-10-05 08:30] Ms2ger opened #7863 "Remove fields with parsed attribute values."
For example `HTMLFontElement::color`. The parsed representation should be stored in an `AttrValue` variant.

[2015-10-05 08:31] Yoric commented on #4901
As I have little-to-no knowledge in (cross-platform) font management, any suggestion of a nice API would be very useful. Should I try to ape CoreText (actually, did you mean CoreText or Apple Type Services?) or DirectWrite, for instance?

[2015-10-05 08:34] cybergeek94 commented on #4901
cc @retep998 for status on DirectWrite bindings in winapi, I can't seem to find them. The DirectWrite API is C++/COM so it might be a little more involved to call into.

Servo actually already has [CoreText bindings](https://github.com/servo/core-text-rs). I don't know how useful they are though.

[2015-10-05 09:03] paulrouget opened #7864 "iframe: layers scroll position get lost"
Scrolling iframes work, but at the next composition, the layer scroll position get lost. It looks like the page is scrolled up, but it is not (scrolling again re-sync the scroll position).

Here is an example to show what I mean:

[code]

![colorlesshopefulharvestmouse](https://cloud.githubusercontent.com/assets/373579/10276584/a1b5674e-6b50-11e5-87ae-d4c46ab18e0f.gif)

[2015-10-05 09:07] paulrouget opened #7865 "iframe: hovering the iframe doesn't un-hover parent document nodes"
In this example, hovering the div turns it blue. Then moving the cursor to the iframe without leaving the div won't turn it back to red.

[code]

[2015-10-05 10:08] paulrouget opened #7868 "iframe flickering"
In browser.html, moving the mouse outside of the iframe makes the iframe flicker a lot.

This minimal test case shows some flickering. Load the page, then move the mouse over the red element (not the iframe). The iframe flickers once in a while. It's not as obvious as in browser.html, but still easy to see.

[See these logs](https://gist.github.com/paulrouget/76f8c350f5613721e631). Passed the init

[2015-10-05 10:39] paulrouget commented on #7868
In some other logs, I see a lot of:

[code]

…when there's not resize.

[2015-10-05 11:05] vectorijk commented on #7855
I may try it~

[2015-10-05 11:28] nox opened #7869 "Consistently use the Error enum instead of its constructors"
Instead of:

[code]

We want:

[code]

The places where the constructors are used unqualified obviously need to be fixed.

[2015-10-05 11:29] Ms2ger opened #7870 "/css-variables-1_dev/html/variable-font-face-01.htm intermittently fails to load ahem"

[2015-10-05 11:30] Ms2ger commented on #7145
a02d28a73276f15aacf9071445048149bb226840

[2015-10-05 11:30] #7145 closed

[2015-10-05 13:06] jdm commented on #7865
I'm pretty sure this is due to the new mouse move event being sent to the iframe's script task, rather than the parent's so the code in `Document::handle_mouse_move_event` never sees the list of currently-hovered elements that require checking. We might need to store the pipeline id that received the last mouse move event in the constellation/compositor and ensure that we send a mouse move event t

[2015-10-05 13:39] jdm commented on #7855
Ok!

[2015-10-05 13:50] paulrouget opened #7872 "inner shadows are drawn behind the background instead of above"
[code]

<img width="390" alt="screen shot 2015-10-05 at 15 49 13" src="https://cloud.githubusercontent.com/assets/373579/10282040/cbd21f18-6b78-11e5-84a7-922f78c177c3.png">

[2015-10-05 14:01] JIoJIaJIu commented on #5815
@jdm, sorry for a work stoppage, i'll start it again

[2015-10-05 14:31] jdm commented on #5815
Thanks @JIoJIaJIu!

[2015-10-05 16:19] vvuk commented on #4901
DWrite is COM; as far as I can tell, the winapi bindings are complete for it (despite the docs saying otherwise).  The only public entry point is via the DWriteCreateFactory factory getter, everything else is done through interface structs.  e.g. https://github.com/retep998/winapi-rs/blob/master/src/dwrite.rs

For an API for this, I would suggest looking at what Gecko does -- gfxPlatformFontList/g

[2015-10-05 16:26] jdm opened #7877 "Move storage-supported-property-names.html to webstorage/"
There's a test in `tests/wpt/web-platform-tests/dom/collections` that really belongs in `tests/wpt/web-platform-tests/webstorage/` instead. This change requires running `./mach test-wpt --manifest-update` afterward to recognize the change.

[2015-10-05 16:28] Yoric commented on #7029
Perhaps it would be interesting to implement Telemetry as an independent library. If I find time, I'll take a look at how difficult this would be.

[2015-10-05 16:29] Yoric commented on #4901
Would it be best to implement this as a separate lib?

[2015-10-05 16:31] cybergeek94 commented on #4901
Definitely. Cross-platform font selection isn't just a problem for browser engines. It would be really beneficial if it were reusable for other projects.

[2015-10-05 16:32] metajack commented on #7072
This got added with https://github.com/servo/saltfs/pull/123

[2015-10-05 16:32] #7072 closed

[2015-10-05 16:33] mbrubeck commented on #7730
I have no idea where a height of 863 or 864 is coming from. The default window height is 600px and this test sets a 2× scale factor, which should result in a height of 1200 pixels.

Possibly relevant? 864 = 600 × 1.44 exactly.

[2015-10-05 16:34] oesiman commented on #7755
On Tue, Sep 29, 2015 at 05:34:45PM -0700, Erick Tryzelaar wrote:

I can reproduce it (but i'm sure that i must be wrong...).

about my system:
It's a Debian GNU/Linux unstable amd64 system
An Alienware M18 Notebook with 16GiB RAM and a 500GB SSD-Disk.

I tried two master again on:

[master] Auto merge of #7719 - Manishearth:ghfix, r=Ms2ger
and
[master] Auto merge of #7790 - frewsxcv:expand-python-

[2015-10-05 16:36] mbrubeck commented on #7730
These failures are all in mac-dev-ref-unit, but they happen on both Mac test machines (servo-mac1 and servo-mac2).

[2015-10-05 17:08] mrobinson commented on #7828
This could possibly be another issue with content being promoted to stacking contexts in order to get a layer.

[2015-10-05 17:08] mbrubeck commented on #7666
PistonDevelopers/image does not support ICO either, so #3368 won't help directly. (But it will if we also work on adding ICO decoding to the image library.)

For browser.html in particular, @jdm mentioned we could use a decoder written in JavaScript that renders to canvas.

[2015-10-05 17:21] Yoric commented on #4901
The initial description of the issue didn't mention actual rendering. Is that still true?

[2015-10-05 17:28] jdm commented on #7820
This is probably a duplicate of #6952 but I have an actual testcase that doesn't take long to reproduce.

[2015-10-05 19:12] #7828 closed

[2015-10-05 19:45] anthgur commented on #7869
I'll do this! Just so I understand, the goal is to change all of the unqualified names of the `Error` enum like `HierarchyRequest` to `Error::HierarchyRequest`?

[2015-10-05 20:01] jdm commented on #7869
Yep!

[2015-10-05 21:05] connorimes opened #7881 "Cross-compile for ARM fails in rust-png/png-sys - can't find zlib"
Cross compiling on a x86_64 to ARM.  My system is running Ubuntu 15.04.  I'm running in a chroot per https://mmatyas.github.io/blog/cross-compiling-servo-to-arm/ (with some variations).

My history of commands looks more or less like this:
<pre><code>
sudo debootstrap --arch=amd64 vivid rootfs-vivid
sudo mount -o bind /dev  rootfs-vivid/dev
sudo mount -o bind /proc rootfs-vivid/proc
sudo mount -o

[2015-10-05 21:36] jimberlage commented on #7858
I'd like to take this on, if that's cool.

[2015-10-05 21:50] jdm commented on #7858
Please do!

[2015-10-06 00:18] nattokirai commented on #4901
Font management, shaping and rendering are really three separate pieces that are pretty distinct, especially the rendering part. I would keep rendering separate.

Note that you really need more than just "font selection", you need a way of managing font resources efficiently.

[2015-10-06 00:22] retep998 commented on #4901
Do note that on Windows, DirectWrite handles all aspects of dealing with fonts including management shaping and rendering.

I'm currently polishing up the dwrite bindings so I can bump them on crates.io soon.

[2015-10-06 00:31] nattokirai commented on #4901
Gecko uses harfbuzz for shaping on all platforms with the exception of Apple-flavored TrueType fonts which require CoreText shaping. Using DirectWrite to do shaping will work just fine but you may not end up with consistent results across platforms and you increase your per-platform testing requirements.

[2015-10-06 00:38] nox commented on #7858
@jdm Why is null converted to None for an optional argument though? Isn't null not the same thing as a missing argument? Shouldn't thus the null value be converted to an empty string in codegen directly?

[2015-10-06 03:07] jimberlage commented on #7856
I'll give this a shot, if no one has their eye on it.

[2015-10-06 03:13] jdm commented on #7856
Please do!

[2015-10-06 03:32] jdm commented on #7858
My reading of the WebIDL spec suggests that for methods with optional arguments with no default value, an `undefined` value is converted to a "missing" value, which I presume is equivalent to `None` for Servo's implementation.

[2015-10-06 03:34] jdm commented on #7858
@jimberlage Want to test what happens without your change in #7885 when passing either `null` or `undefined` to the `send` method? I suggest modifying an existing test in `tests/wpt/web-platform-tests/websockets/` for quick experimentation, then running with `./mach test-wpt path/to/test.html`.

[2015-10-06 04:05] paulrouget commented on #7796
@pcwalton Is that gonna take a long time? Just to know if I should try to work around this bug or wait.

[2015-10-06 04:22] vectorijk commented on #6332
@larsbergstrom @nerith @SimonSapin linguist disappear

[2015-10-06 05:03] mrobinson commented on #7796
@paulrouget The work is complete. I'm just waiting on reviews.

[2015-10-06 08:03] paulrouget commented on #7816
The new style is reset to old style in `start_transitions_if_applicable`:

[code]

then it's supposed to be set to the final style in `cascade_node_pseudo_element`:

[code]

But `cascade_node` is not called once the animation is over.

[2015-10-06 08:12] Ms2ger commented on #7858
The spec says
[code]
so the argument should not be optional or nullable, which means `null` should be mapped to the string `"null"`, and `undefined` to the string `"undefined"`.

Fixing this should make some tests in `html/dom/interfaces.html` and `websockets/interfaces.html`, as well as `websockets/interfaces/WebSocket/send/001.html`, pass.

[2015-10-06 08:23] #7859 closed

[2015-10-06 10:38] Yoric commented on #7029
I have posted an early design [here](https://github.com/Yoric/telemetry.rs/blob/master/src/lib.rs). For the moment, I have focused only on the signature dealing with creating/updating histograms. The objective would be to have the share with Gecko Telemetry the on-disk format, the upload protocol and the algorithms, as well as the server code, but probably not the client code.

Comments appreciate

[2015-10-06 11:44] #7869 closed

[2015-10-06 12:01] nox commented on #1236
deleteContents() is not implemented yet.

[2015-10-06 12:02] nox commented on #1236
And the stringifier.

[2015-10-06 12:06] paulrouget commented on #7816
@pcwalton why is `this_style` reset to its initial value if there's a transition?

[2015-10-06 12:29] mmatyas commented on #7881
You might have forgot the *missing headers* step, this should fix it:

[code]

[2015-10-06 13:22] Ms2ger opened #7888 "Remove the dependency on openssl"
Seems like we only use it for SSL through hyper. I feel like it should be possible to do better here. Maybe @briansmith has ideas.

[2015-10-06 13:31] Ms2ger commented on #7888
CC @seanmonstar @reem

[2015-10-06 13:56] connorimes commented on #7881
I did that the first time I setup the chroot and ran into this same error.  This second time around I didn't run those commands and still got the error.  I just linked the headers in this second chroot but the error still occurs.

[2015-10-06 14:00] jdm commented on #7858
Huh, I feel a bit silly now. Want to get rid of the `optional` in WebSocket.webidl, @jimberlage ?

[2015-10-06 14:03] jimberlage commented on #7858
Sure thing.

[2015-10-06 14:14] jdm commented on #6332
Seems like that's under Github's control; not much we can do about it.

[2015-10-06 14:58] Ms2ger opened #7890 "Should flush layout when taking a screenshot"
... or something. This is the likely cause of the failure in `/css21_dev/html4/dynamic-sibling-combinator-001.htm`.

http://logs.glob.uno/?c=mozilla%23content#c327329

[2015-10-06 15:02] Ms2ger commented on #4282
Something happened: https://bugzilla.mozilla.org/show_bug.cgi?id=1185106

[2015-10-06 17:24] anthgur commented on #7860
I'd like to work through this!

[2015-10-06 17:50] seanmonstar commented on #7888
I can help with the "make it work through hyper" part. Pieces to do:

In the `Cargo.toml`s:
[code]

In the `net` crate (I'd suggest in a new file `ssl.rs`):

[code]

And finally, use this `Ssl` with the `HttpsConnector` in `http_loader.rs`:

[code]

[2015-10-06 18:25] jdm commented on #7860
That would be great!

[2015-10-06 18:41] #7877 closed

[2015-10-06 19:36] briansmith commented on #7888
I already discussed this with Alex and Patrick. I'm still waiting to hear back from Mozilla.

[2015-10-06 19:58] mmatyas commented on #7881
Hm, weird... maybe @pcwalton knows the cause of this.

[2015-10-06 20:04] mdinger opened #7895 "panic on lol site"
servo version: 42d45ad120d8d71c942c58275a50b146749dd4b4

STR:

0. `./mach run --release http://na.leagueoflegends.com/`
1. Resize the window repeatedly as soon as it appears. It should panic within 30 seconds.

Backtrace:

[code]

I tried to get a min testcase but it doesn't panic when I save it locally.

[2015-10-06 20:53] jimberlage commented on #7856
Any thoughts on a sane buffer size?  The [spec](https://html.spec.whatwg.org/multipage/comms.html#websocket) has bufferedAmount being an unsigned long where each digit represents a byte.  If we used the full unsigned long we would wind up with a 4 GB buffer, so I'm guessing we want to go lower than that.

[2015-10-06 20:56] waddlesplash commented on #1908
#7878.

[2015-10-06 20:57] jdm commented on #7856
I would store a u32, since that's what the `unsigned long` attribute needs to return according to [the chart](http://doc.servo.org/servo/script/dom/bindings/conversions/index.html).

[2015-10-06 20:58] jimberlage commented on #7856
True, but what about the buffer itself?  I may be overthinking this.

[2015-10-06 21:07] jdm commented on #7856
I was not suggesting adding an actual buffer, since our implementation hands off each piece of data directly to the websocket sender. We just need our implementation of `bufferedAmount` to conform to the somewhat odd restrictions imposed by the specication.

[2015-10-06 21:09] jimberlage commented on #7856
Ah, this makes a lot more sense now.

[2015-10-06 21:20] #7855 closed

[2015-10-06 21:45] jdm opened #7897 "Lots of methods in HTMLInputElement should not be public"
A bunch of internal helper methods for HTMLInputElement are public when no external code calls them. Let's remove the `pub` annotation on all of the methods in the `impl HTMLInputElement` block, then add back the ones which cause compiler errors :)

Code: components/script/dom/htmlinputelement.rs

[2015-10-07 00:21] mbrubeck commented on #7666
Submitted a PR to add ICO support to the `image` crate: PistonDevelopers/image#450

[2015-10-07 01:44] 6112 commented on #7849
I would like to work on this, along with #7850.

[2015-10-07 01:44] 6112 commented on #7850
I would like to work on this.

[2015-10-07 03:09] jdm commented on #7850
Great!

[2015-10-07 03:09] jdm commented on #7849
Ok!

[2015-10-07 03:53] glennw commented on #7730
Mac seems to use some kind of heuristic to determine where to place new windows. When running several tests in parallel, they can be opened in a way that they are partially off screen.

Previously this would result in a similar bug - the output image would be the clipped size. I thought this was fixed by using an FBO to render reftest output on mac. But perhaps this has changed, or perhaps it uses

[2015-10-07 03:59] mbrubeck commented on #7730
Presumably this test triggers the problem just because it's window is so big. Perhaps we can give it a custom window size that's smaller, as a workaround.

[2015-10-07 04:03] glennw commented on #7730
Yep - I suspect that's why this test is triggering the bug more often, and that would probably work around it. We should fix the underlying problem too though :)

[2015-10-07 04:10] jdm commented on #7730
`initialize_png` is given the window width and height and uses them for `tex_image_2d`.

[2015-10-07 04:14] glennw commented on #7730
I guess the question is what are the value of window width/height in these instances? I would have thought it would be the requested size rather than clipped to the screen.

[2015-10-07 04:49] #7872 closed

[2015-10-07 10:04] paulrouget commented on #7868
Adding a requestAnimationFrame loop makes the flickering obvious. I've updated the example.

[2015-10-07 10:54] paulrouget opened #7904 "Using a transform breaks subpixel positionning"
If an element has a transform (`transform:scale(1)` for example), its coordinates are rounded (`top:11.5px` becomes `top:12px`).

[code]

Note the green div is a bit higher than the red div:

<img width="435" alt="screen shot 2015-10-07 at 12 53 11" src="https://cloud.githubusercontent.com/assets/373579/10335630/6d3140bc-6cf2-11e5-9f48-fddb819585bc.png">

[2015-10-07 12:29] jdm opened #7905 "SERVO_HEADLESS=1 doesn't build on non-linux"
Granted, since trying this I've realized that it's not needed. However, it's super confusing to run into a build error in the implementation of `WindowMethods` in `glutin/window.rs`, since the `native_display` function is linux-only in the implementation but not in the trait declaration.

I propose adding the appropriate `#[cfg(..)]` stuff in `components/compositing/windowing.rs`.

[2015-10-07 13:24] jdm opened #7906 "Use the `cloned` method instead of manually cloning each iterator value"
In `reftest.rs`, there's a `servo_args.iter().map(|x| x.clone()).collect()` which could be written as `servo_args.iter().cloned().collect()` instead.

[2015-10-07 13:27] jdm commented on #7730
From the builder in a failing instance:
[code]

[2015-10-07 13:29] frewsxcv commented on #7906
Ideally, this is something clippy would catch ([opened an issue upstream](https://github.com/Manishearth/rust-clippy/issues/367))

[2015-10-07 13:32] jdm commented on #7730
In particular, we initialize our `window_size` member with `window.framebuffer_size()`, and our glutin port has this:
[code]

[2015-10-07 13:34] jdm opened #7907 "Fix rendering for documentation that contains unescaped string "<iframe>""
This is the result of such unescaped HTML: http://doc.servo.org/servo/msg/constellation_msg/enum.MozBrowserEvent.html#variant.OpenWindow
We should modify it to use `<iframe>` in all cases instead.

Code: components/msg/constellation_msg.rs

[2015-10-07 14:13] frewsxcv opened #7908 "'script' becomes dirty when alternating between building release and debug"
[code]

This might be the issue @glennw mentioned a couple weeks ago in the meeting

[2015-10-07 14:20] jdm commented on #7908
Could you gist the output of `RUST_LOG=cargo::ops::cargo_rustc::fingerprint ./mach build -d --verbose` (or `-r` as appropriate)?

[2015-10-07 14:23] frewsxcv commented on #7908
Yep, one sec

[2015-10-07 14:37] Ms2ger commented on #7906
`servo_args.to_owned()` might work too.

[2015-10-07 14:42] paulrouget commented on #7904
I have a fix coming up.

[2015-10-07 15:04] frewsxcv commented on #7908
I can't reproduce my original issue anymore :-/   I'll try to capture it with `RUST_LOG` if it happens again

[2015-10-07 15:04] #7908 closed

[2015-10-07 15:24] metajack commented on #7730
What I can recall from setting up the mac builders is that if a window appears partially offscreen, the framebuffer created for the window is clipped to the actual visible area. To address this, we set the screen size large enough that ref tests wouldn't appear offscreen.

Lars has upgraded the mac builders a few times, so vncing into the mac builders and ensuring they have a large resolution is p

[2015-10-07 15:26] frewsxcv commented on #6962
Now that https://github.com/servo/mozjs/pull/57 has merged, I'll look into this later today

[2015-10-07 15:28] metajack commented on #6962
rust-mozjs would be the logically next step :)

[2015-10-07 15:39] jdm opened #7910 "Intermittent crash in /css21_dev/html4/border-left-color-085.htm"
[code]

[2015-10-07 16:09] #7851 closed

[2015-10-07 17:29] Qeole commented on #7907
Hi, I would like to take this one.

[2015-10-07 17:31] jdm commented on #7907
Please do :)

[2015-10-07 17:38] eefriedman commented on #7863
Why is this an improvement?  I mean, I can understand storing the parsed representation in an AttrValue when there's an IDL getter which needs the parsed representation... but if there isn't, all you're getting out of the deal is unnecessary attribute lookups.

[2015-10-07 18:21] #7647 closed

[2015-10-07 19:09] eefriedman commented on #6098
Current status: pdf.js assumes window.history exists.  If you hack past that, there aren't any errors, the UI renders, and the progress bar works, but it never actually shows the rendered page.

[2015-10-07 20:22] jdm opened #7914 "Use `": &Vec<" in line` instead of `re.match(r": &Vec<", line)`"
There's an instance in `tidy.py` of a regex that doesn't contain any special characters. This can be a straightforward substring check instead, which is easier to read.

Code: python/tidy.py

[2015-10-07 21:49] frewsxcv commented on #6962
There's currently already a Travis config file, though it appears it might be turned off (considering it hasn't built in a while)?

https://github.com/servo/rust-mozjs/blob/master/.travis.yml

https://travis-ci.org/servo/rust-mozjs/branches

[2015-10-07 21:53] jdm commented on #6962
Yes, the travis webhook is turned off. If you have the power to do so, feel free to enable it, or let one of us know when it's the right time.

[2015-10-07 22:06] nox commented on #130
Old meta-issue with no real book-keeping, we can probably close this.

[2015-10-07 22:06] #130 closed

[2015-10-07 22:59] nox commented on #7897
#7902

[2015-10-07 22:59] #7897 closed

[2015-10-07 23:04] #7907 closed

[2015-10-08 02:50] k4rtik commented on #7303
relinking openssl with brew as mentioned at https://github.com/sfackler/rust-openssl/issues/255#issuecomment-145092826 seems to fix this.

[2015-10-08 03:13] mbrubeck commented on #7870
[code]

[2015-10-08 04:18] frewsxcv commented on #6962
Opened a PR: #7915

[2015-10-08 05:35] jdm opened #7922 "Remove an uneeded clone from respond_with_headers"
Currently the function takes an `headers: &mut Headers` argument, so it needs to clone it. We can change that to `mut headers: Headers` and remove the `clone` instead.

Code: tests/unit/net/http_loader.rs

[2015-10-08 05:49] jdm opened #7924 "Use typed headers API instead of set_raw"
The HTTP network tests contain a lot of calls to `headers.set_raw` which set HTTP headers. These would be easier to read if they were using the strongly-typed [set](http://doc.servo.org/hyper/header/struct.Headers.html#method.set) API instead, like the code in `components/script/net/http_loader.rs`.

Code: tests/unit/net/http_loader.rs

[2015-10-08 05:55] vectorijk commented on #6414
@SimonSapin It seems like Chinese, Japanese characters didn't be rendered properly on linux. Do you have idea or suggestion how to get involved and work on this issue? (lots of stuff seem need to be solved). Is this the encoding or rendering problem?

[2015-10-08 07:08] paulrouget commented on #7868
From the logs, I see:

[code]

That looks suspicious to me. Where is the code that checks that the iframe frame did indeed change?

[2015-10-08 07:09] paulrouget commented on #7864
Note to self: might want to look at the `self.scroll_layer_to_fragment_point_if_necessary` call in `create_or_update_descendant_layer`.

[2015-10-08 07:43] Ms2ger commented on #7863
Having extra fields is more complex, more likely to get out of sync, and uses more memory.

[2015-10-08 08:14] Ms2ger commented on #6414
Looks like there's a rendering problem too; that'd be another issue.

[2015-10-08 08:41] SimonSapin commented on #6414
Right, I think we also have bugs in font selection and font rendering, but I don’t know in details right now. Make sure to use UTF-8 for your HTML when testing to isolate from this bug.

[2015-10-08 11:11] paulrouget commented on #7868
Trying to figuring out what's going on. Struggling between the logs, lldb and some random println, I'm slowly starting to have a better picture of the situation.

Compositing ticks animations (`layout_task.rs#tick_animations`), which calls `self.perform_post_style_recalc_layout_passes`. Somewhere down this road, once the layers have been calculated (are they?), the size of the iframe is updated (`

[2015-10-08 11:12] paulrouget commented on #7868
If anyone could tell me if I'm on the right track and give me a hint to where to look next, that would be very nice :)

[2015-10-08 11:49] paulrouget commented on #7816
Can animations be interrupted or updated? Doesn't appear to work. Did it ever work or it's not implemented yet?

[2015-10-08 12:06] paulrouget opened #7926 "dump-layer-tree not listed in "--debug help""
`./servo --debug help` doesn't list `dump-layer-tree`.

[2015-10-08 12:08] paulrouget commented on #7926
I guess it's just missing in `components/util/opts.rs#print_debug_usage`.

[2015-10-08 14:14] pcwalton commented on #7816
@paulrouget I'm confused by what "reset to its initial value" means here—could you elaborate?

It's not safe to call `cascade_node_pseudo_element` during transitions because they run off the main thread.

[2015-10-08 14:18] jdm commented on #7868
If we want to short-circuit resize messages, the place to do so would be either `ScriptTask::handle_resize` (where we store the new size data), or `ScriptTask::handle_resize_event` (where we process the stored size data).

[2015-10-08 14:19] jdm commented on #7868
On the other hand, perhaps we could short-circuit in `Constellation::handle_frame_size_msg` instead when assigning to `pipeline.size`.

[2015-10-08 15:45] #6962 closed

[2015-10-08 15:52] paulrouget commented on #7816
Sure. Keep in mind that I'm really not familiar with this code, so feel free to tell me if I'm totally of track :)

I'm looking at when `animation::start_transitions_if_applicable` is called (https://mxr.mozilla.org/servo/source/components/layout/css/matching.rs#483):

[code]

… and in `animation::start_transitions_if_applicable` (https://mxr.mozilla.org/servo/source/components/layout/animation.rs

[2015-10-08 16:21] pcwalton commented on #7868
This could be a straightforward incremental reflow "jumpiness" bug and not iframe-specific, BTW.

[2015-10-08 16:51] mrobinson commented on #7926
@paulrouget Sorry. I added this option the other day, but I neglected the help message! I'll have a PR for this ASAP.

[2015-10-08 18:02] jdm opened #7929 "Rewrite uses of .get().map(|foo| foo.root()) and .get().map(Root::from_rooted) to .get_rooted()"
There are a bunch of these that can be found with some searching like http://mxr.mozilla.org/servo/search?string=.get%28%29.map&find=&findi=&filter=root&hitlimit=&tree=servo . We are specifically interested in rewriting the ones that are calling `.get()` on [MutNullableHeap](http://doc.servo.org/servo/script/dom/bindings/js/struct.MutNullableHeap.html) values when they should really be calling `.g

[2015-10-08 18:08] #7926 closed

[2015-10-08 18:36] jdm commented on #5815
[code]
This is a good point. If we pass a devtools sender to the layout task, we should be able to include measurements for the work performed there like you said.

[2015-10-08 19:19] larsbergstrom opened #7930 "OpenSSL no longer available on OSX 10.11"
OpenSSL has been removed from OSX 10.11. We have a couple of options:

1) Ask people to do `brew install openssl ; brew link --force openssl`

2) Do the same thing we do on Android and download & build OpenSSL ourselves

Opinions?

CC @Manishearth @sfackler

[2015-10-08 19:30] frewsxcv commented on #7930
Relevant PRs:

https://github.com/servo/servo/issues/7888

https://github.com/servo/servo/issues/7303

[2015-10-08 19:42] #7301 closed

[2015-10-08 19:55] sfackler commented on #7930
I think the best way forward for not-Linux is to update openssl-sys to
build OpenSSL from source and link statically by default. However, I do not
want to be the person to manage that and have to e.g. Immediately bump
versions after Heartbleed round 2 goes public. If there are volunteers here
that want to take the hit and own that it would be great!

On Thu, Oct 8, 2015, 8:30 PM Corey Farwell <not

[2015-10-08 21:06] jdm opened #7931 "Consistent non-success process termination for webgl-context reftests"
[code]

Sample:

[code]

[2015-10-08 21:47] mbrubeck commented on #3368
Now that images use shared memory (#6705), just adding a serde feature to the `image` crate is not enough; we'd need to make it use the `ipc-channel` crate too and change how it allocates memory for image data.

Rather than push all this stuff directly into `image`, I think in the short term we can should use `image` similarly to how we currently use `png` and `stb_image`: Just use it to decode th

[2015-10-08 22:05] jdm commented on #7931
This is blocking landing any PR right now.

[2015-10-08 23:30] mbrubeck commented on #7666
With PR #7933 plus PistonDevelopers/image#450, Servo supports ICO images!

[2015-10-09 00:15] bjwbell commented on #7666
That's fantastic :-) You really got into it Matt.

On Thu, Oct 8, 2015 at 4:30 PM, Matt Brubeck <notifications@github.com>
wrote:

--
-- Regards
Bryan

[2015-10-09 00:36] dagnir commented on #7774
Hi @jdm, here is what I've put together so far https://github.com/dagnir/servo/commit/c6267df34dae9389b98566838b5667f4c765bc84.  Please let me know what things need fixing before I send a PR

[2015-10-09 01:36] craftytrickster commented on #7906
I am interested in learning Rust and would like to start contributing to servo in the near future. You already wrote out the required solution here, so I really wouldn't be doing anything, but it in case it helps, I can open up a pull request for the change.

[2015-10-09 02:18] eefriedman commented on #6502
This appears to work correctly on master.

[2015-10-09 02:27] bholley opened #7934 "Event State flags should live on Element, rather than Node"
We should fix this sooner rather than later, since using them on non-element nodes would be a bug, and storing them there adds unnecessary memory overhead to non-element nodes.

I have patches.

[2015-10-09 02:27] bholley commented on #7934
CC @pcwalton @jdm

[2015-10-09 02:48] mbrubeck commented on #2853
rust-lang/rust#28924 blocks #7933

[2015-10-09 04:09] notriddle commented on #7846
Isn't it weird how this test fails in the exact same way in FF and Chrome?

![image](https://cloud.githubusercontent.com/assets/1593513/10385660/e6ce069e-6e00-11e5-9b89-46ea23259459.png)

[2015-10-09 04:10] paulrouget commented on #7666
Thank you Matt :)

[2015-10-09 04:20] mbrubeck commented on #6502
Possibly fixed by #7821.

[2015-10-09 04:20] #6502 closed

[2015-10-09 05:12] paulrouget commented on #7816
Hmm, there's something wrong in my reasoning. The computed style (as seen from JS), is correctly updated during the transition and, of course, layout is properly updated overtime.

I think I don't understand the role `cascade_node`.

I'll revise my copy.

[2015-10-09 07:14] A-deLuna commented on #7922
I'd like to work on this

[2015-10-09 07:29] Ms2ger commented on #7846
A little, but this is one of Hixie's evil tests, after all. It's more surprising that we sometimes pass it.

[2015-10-09 07:55] Ms2ger commented on #7934
The memory overhead is somewhat overstated; we can increase `NodeFlags` to 32 bits without changing the size of `Node`.

[2015-10-09 08:03] iawaknahc commented on #7924
I would like to work on this

[2015-10-09 09:21] paulrouget commented on #7868
Not to self: when RFA is called, the compositor gets a `InitializeLayersForPipeline` message. Then, only if there's an iframe present, `create_or_update_descendant_layer` is called, which will down the road set a ResizeEvent into the iframe window, which will then trigger a `force_reflow`. So short circuiting in `ScriptTask::handle_resize` or `ScriptTask::handle_resize_event` might work, but then

[2015-10-09 09:26] paulrouget commented on #7868
Like @jdm said, the 2 options are `ScriptTask::handle_resize` and `Constellation::handle_frame_size_msg`.

[2015-10-09 10:07] Ms2ger commented on #7931
[code]

[2015-10-09 10:34] paulrouget commented on #7868
In `ScriptTask::handle_resize`, I only set the resize event if the new size is different from window's size. On load, the iframe is properly drawn, but then, when RFA is called, the content disappear.

[2015-10-09 10:46] paulrouget commented on #7868
I was wrong. In there, we don't have to send the DOM event.

[2015-10-09 12:11] #7929 closed

[2015-10-09 13:25] frewsxcv commented on #7906
Go for it @craftytrickster! Let us know if you need any help :information_desk_person:

[2015-10-09 13:27] Ms2ger opened #7941 "Clarify some code in do_create_interface_objects."
The `do_create_interface_objects` function in `components/script/dom/bindings/utils.rs` has the following structure:

[code]

I believe `rval.get()` is always null on entering this function. It would be clearer to add `assert!(rval.get().is_null());` at the start, and move the second block into the if-let's body.

[2015-10-09 13:39] jdm commented on #7934
Ironically this change increases memory usage since all elements now contain an extra field.

[2015-10-09 13:54] Ms2ger opened #7942 "dom_class argument to do_create_interface_objects could be Option<&'static DOMClass>"
This would more clearly document what it expects.

This will involve changing the signature in `components/script/dom/bindings/utils.rs` and the caller in `components/script/dom/bindings/codegen/CodegenRust.py`.

[2015-10-09 15:38] pierrechevalier83 commented on #7914
I'll give it a go

[2015-10-09 15:49] #7858 closed

[2015-10-09 16:17] jdm commented on #7774
A few useful changes:
* instead of calling Item in a loop, we should be using `traverse_preorder` and iterating through the results
* uses of `match` that only act on the `Some` branch can be written as `if let Some(` instead
* uses of `if something.is_some() { something.unwrap() }` can be written as `if let Some(` instead
* `first_enabled` and `last_selected` can probably be `Option<Root<HTMLOpti

[2015-10-09 16:32] Jayflux commented on #7930
out of interest how is this handled on Windows?

[2015-10-09 16:37] sfackler commented on #7930
The user's responsible for getting a copy of OpenSSL.

[2015-10-09 16:43] pierrechevalier83 commented on #7906
Oops! I got this one wrong...
https://github.com/servo/servo/pull/7946
I saw the other ticket (367 from rust-clippy) that was tagged E-medium and thought it was about replacing the instances of this pattern...
Turns out I fixed this one instead by mistake...
Sorry guys (especially craftytrickster). I promise I'll move away from the E-easy ones now.

[2015-10-09 16:45] pierrechevalier83 commented on #7906
feel free to reject my PR (if it's possible at this point) so that craftytrickster can give it a go

[2015-10-09 17:01] pierrechevalier83 commented on #7906
Small recap of the situation: jdm rejected my PR and I deleted the branch... Go for it craftytrickster! This issue is yours :)

[2015-10-09 17:08] bholley commented on #7934
Making NodeFlags u8 seems to fix this.

[2015-10-09 18:33] jimberlage commented on #7861
I'll take this on if you want.

[2015-10-09 18:36] #7922 closed

[2015-10-09 18:42] kunitsyn commented on #7942
I think I've done it. Please see https://github.com/servo/servo/pull/7948

[2015-10-09 18:58] jdm commented on #7861
That would be great!

[2015-10-09 20:53] KiChjang commented on #4576
Wow, the spec has changed since I last worked on this. Some flavors of fetch are outdated.

Either way, should I copy the style in #7275 for async fetch requests going forward?

[2015-10-09 21:01] #7904 closed

[2015-10-09 21:06] KiChjang commented on #4576
Also, there's a line left by @Manishearth [here](https://github.com/servo/servo/blob/master/components/net/fetch/request.rs#L98) that purposely avoids cross-referencing the script's `GlobalRef` object. I've been using a hack to get around this problem in `http_fetch`, by adding an additional parameter and field called `is_service_worker_global_scope`, but it would be advantageous to address this i

[2015-10-09 21:15] dagnir commented on #7774
@jdm Thanks!  I'lll send PRs in the future

[2015-10-09 21:48] #7924 closed

[2015-10-09 22:47] jdramani commented on #7857
I would like to give it a try :)

[2015-10-09 22:47] nox commented on #7857
Great!

[2015-10-09 22:59] craftytrickster commented on #7906
I had heard that the Rust community was very nice, looks like the rumors were true.

Ultimately, my pull request was just the same as pierre's, thanks for giving me the chance to do it. I thought I found a few more instances, but they were cargo dependencies and not part of the actual project.

[2015-10-09 23:03] craftytrickster commented on #7906
I've noticed several uses of the method .unwrap() in the code, such as in one of the changed files
[code]
I was under the impression that it was dangerous, since a missing value can crash the program. Is there a reason why it is in use?

[2015-10-10 03:21] notriddle commented on #7846
69db83476d02d06658ad084a834abc94f7f008d0 is when it started intermittently passing. It's intermittent because it's not doing style recalc when it (presumably) should. Notice that if you open the test case manually, it'll switch from fail mode to pass mode if you hover it.

[2015-10-10 04:10] #7914 closed

[2015-10-10 05:22] Manishearth opened #7954 "Intermittent crash in /css21_dev/html4/padding-right-006.htm"
[code]

http://build.servo.org/builders/mac-rel-css/builds/465/steps/shell/logs/stdio

[2015-10-10 07:00] Manishearth commented on #7787
Getting a _lot_ of drawimage failures

[2015-10-10 09:47] #7942 closed

[2015-10-10 12:01] nox commented on #66
This code doesn't even exist anymore, right?

[2015-10-10 12:01] #66 closed

[2015-10-10 12:11] simartin commented on #7905
I'll give this one a try.

[2015-10-10 12:59] nox commented on #281
Dromaeo results seem good enough now.

[2015-10-10 12:59] #281 closed

[2015-10-10 13:03] nox commented on #503
@jdm Ain't that done already?

[2015-10-10 15:05] jdm commented on #7906
Sometimes it's used because the author of the code knows that there will always be a value (for example, they checked is_some() earlier). Other times it's incorrect, like you said :)

[2015-10-10 15:34] jdm commented on #503
I suppose it is. I'll file a separate issue specifically for HTML5 task sources.

[2015-10-10 15:34] #503 closed

[2015-10-10 15:37] jdm opened #7959 "Implement HTML5 task sources"
Currently there's a generic script event loop sender for all non-specialized script events (ie. those that do not come from devtools, constellation, etc.) Like #503 we should add additional senders for each task source the spec defines and provide convenient APIs to allow people implementing DOM specs to do the right thing.

Note that this will likely be more complex than the generic select mechan

[2015-10-10 15:38] jdm commented on #7959
https://html.spec.whatwg.org/multipage/webappapis.html#generic-task-sources
Then again, the spec says:
"Select the oldest task on one of the event loop's task queues, if any, ignoring, in the case of a browsing context event loop, tasks whose associated Documents are not fully active. The user agent may pick any task queue."
Which suggests that only ordering inside of any given queue matters.

[2015-10-10 15:44] jdm commented on #7954
Possibly related to #7910.

[2015-10-10 21:29] drbo opened #7962 "Harden against HTTP cookie-based attacks"
[This paper](https://github.com/servo/servo) demonstrates several cookie-based attacks.  Servo needs to implement the hardening described in the paper.

[2015-10-10 21:39] drbo commented on #7930
Just curious: why does Servo use OpenSSL instead of Mozilla's own NSS?

[2015-10-10 21:43] jdm commented on #7930
The Rust bindings already existed, so we didn't need to do anything special to integrate it.

[2015-10-10 22:01] jdm commented on #7962
Thanks for filing this! It would be super valuable to write [WPT](https://github.com/w3c/web-platform-tests/) tests for each of these cases; 1, 2 and 3 should be relatively straightforward, while 4 is probably unrealistic to test across all browsers.

[2015-10-10 22:11] jdm commented on #4576
The way to address it is to pass any contextual information that is required. We explicitly do not want to (and can't!) make the net crate depend on the script crate, so let's just be explicit about the actual data we need.

[2015-10-10 22:11] jdm commented on #4576
If need be we can design a trait that provide the interface to communicate with a relevant script event loop on an as-needed basis.

[2015-10-11 01:03] nox commented on #725
This probably can be closed.

[2015-10-11 01:08] nox commented on #782
Only two remaining cases.

[2015-10-11 05:27] jdm opened #7968 "Only pass user agent to HTTP loader factory"
The user agent string is only useful for HTTP requests, but we're passing it to every resource loader factory. We can treat it like the other HTTP-only data (hsts_list, cookie_storage, etc.) in `ResourceManager::load` and clean up the other resources loaders that don't use it (see the `_user_agent` argument in the `from_factory` function.

Code: components/net/resource_task.rs

[2015-10-11 05:33] jdm opened #7969 "Convert match to `if let` for Location header check"
We have an instance of `match response.headers().get::<Location>()` which does nothing in the `None` branch. This would be cleaner as an `if let` expression instead.

Code: components/net/http_loader.rs

[2015-10-11 06:09] jdm opened #7970 "Use typed header API instead of set_raw in set_default_accept_encoding"
We check the existence of the header using the typed API, but then use `set_raw` instead of `set` with the [AcceptEncoding](http://doc.servo.org/hyper/header/struct.AcceptEncoding.html) type.

Code: components/net/http_loader.rs

[2015-10-11 07:33] gkbrk commented on #7970
Let me try this.

[2015-10-11 08:11] vectorijk commented on #7718
So sorry to steal your task. ref #7966

[2015-10-11 10:12] creativcoder commented on #7969
I'd like to give this a try.

[2015-10-11 10:13] #7970 closed

[2015-10-11 18:53] g-k commented on #7718
No worries, I never started it.

[2015-10-11 19:28] frewsxcv commented on #7670
Completed in #7693 by @ddrmanxbxfr

[2015-10-11 19:28] #7670 closed

[2015-10-11 22:06] mdinger opened #7975 "unicode-table.com loads very very slowly"
http://unicode-table.com/ takes a really long time to load; about 130 seconds. Scrolling to the bottom also doesn't continue loading more icons.

[2015-10-11 22:08] mdinger commented on #7975
The slow load time isn't reproducible when I save the page locally.

[2015-10-12 01:59] drbo commented on #7888
Mozilla has its own library (NSS) &ndash; maybe this could be used?

[2015-10-12 04:03] jdm commented on #7888
We would need to write or find Rust bindings to it, first.

[2015-10-12 09:35] Yoric commented on #7029
After discussing with @georgf , we agreed that a Telemetry library should not handle upload or storage to disk, as both are certainly application-specific. So, I have written an advanced prototype of the core of Telemetry, which handles only the following things:

- creating histograms;
- activating/deactivating them by "feature groups" (as typically, some histograms will be privacy-sensitive);
-

[2015-10-12 12:08] frewsxcv commented on #6342
Relevant to #6266

[2015-10-12 12:12] Ms2ger commented on #7888
Using NSS might be a possibility, and it certainly hasn't had as much bad press as openssl, but fundamentally it's still a lot of C attack surface.

[2015-10-12 13:20] nox commented on #7969
#7973

[2015-10-12 13:20] #7969 closed

[2015-10-12 13:57] jdm commented on #7029
I think a simple example for both uploading and persisting to disk would be useful additions to an examples/ directory.

[2015-10-12 14:29] j3parker commented on #7757
Ok, so following the suggestion is easy enough but I don't think this is 100% ready to get fixed. Here's what I have so far: https://github.com/servo/servo/compare/master...j3parker:input-caret-only-when-focused?expand=1

In the first commit I'm making `get_insertion_point_for_layout` return `None` when the input is not focused. This works initially: when you load a page with no focused input tags

[2015-10-12 15:01] jdm commented on #7757
Seems like a sensible time to bite that bullet!

[2015-10-12 15:01] Yoric commented on #7029
@jdm [filed](https://github.com/Yoric/telemetry.rs/issues/29).

[2015-10-12 15:05] jdm opened #7981 "Dispatch focusin/focusout/blur/focus events as appropriate"
https://w3c.github.io/uievents/#h-events-focusevent-event-order

https://html.spec.whatwg.org/multipage/interaction.html#focus-update-steps defines when the `blur` and `focus` events should be dispatched. We should at least define functions that encompass the [focusing steps](https://html.spec.whatwg.org/multipage/interaction.html#focusing-steps) and [unfocusing steps](https://html.spec.whatwg.org

[2015-10-12 15:05] jdm commented on #7757
Filed #7981.

[2015-10-12 15:07] jdm commented on #7981
All relevant prior art exists in document.rs in commit_focus_transaction and request_focus.

[2015-10-12 15:40] paulrouget commented on #7868
The display list doesn't include the iframe content when the `force_reflow` doesn't happen on the iframe.

This is a trace of what happens between the `requestAnimationFrame` and the `force_reflow`:

[code]

Display list when the reflow happens:

[code]

Display list when the reflow in the iframe is skipped because its size hasn't changed:

[code]

[2015-10-12 15:47] j3parker commented on #7981
If it's cool I'm going to look into this so I can unblock the other issue

[2015-10-12 16:00] jdm commented on #7981
Yes please!

[2015-10-12 16:17] paulrouget commented on #7868
Trying to summarize the situation:

On `requestAnimationFrame`, the iframe flicker. The page is painted, then for a short time, the page is cleared (only white), then the page is painted again.

The iframe document is forced to reflow on `requestAnimationFrame`.

This forced reflow should not happen. And that's probably related to the flickering (the cause or a sign that something is not behaving

[2015-10-12 16:55] mrobinson opened #7983 "Stacking contexts should more often be drawn in tree order"
According to [CSS 2.1 Appendix E: Elaborate description of Stacking Contexts](http://www.w3.org/TR/CSS21/zindex.html) E.2.8, stacking contexts with a z-index of 0 or auto and positioned element should be drawn in tree order. Currently these two types of descendents are split into two display list sections `positioned_content` and `children.` In order to preserve tree order, at least some of the st

[2015-10-12 17:37] SimonSapin commented on #2853
I want to make changes (https://github.com/servo/rust-cssparser/pull/90) that trigger https://github.com/rust-lang/rust/issues/28934, and so would block our next rustup.

[2015-10-12 17:48] jdm commented on #7868
Perhaps @glennw can answer some of these questions :)

[2015-10-12 18:48] pcwalton commented on #7983
I agree.

[2015-10-12 19:01] #7905 closed

[2015-10-12 22:10] #3368 closed

[2015-10-12 22:40] waddlesplash commented on #7666
#7933 has been merged, and so has PistonDevelopers/image#450, so as soon as Image releases v0.3.15 and/or Servo updates to the latest Git build, this'll be solved.

[2015-10-12 23:12] craftytrickster commented on #7968
I think I may have an idea on how to do this, I can give it a try.

[2015-10-12 23:15] frewsxcv opened #7986 "Unnecessary indirection for 'unsafe' boxed vecs in layout"
https://github.com/servo/servo/blob/0f597d389052500d9b76b9f9f89e873e6f809ab1/components/layout/parallel.rs#L84-L86

`Vec` is already on the heap, is `Box` necessary?

[2015-10-12 23:22] mbrubeck commented on #7986
`run_queue_with_custom_work_data_type` uses `transmute` to convert between this type and `struct WorkQueueData(usize, usize)`.  So it needs to be exactly two pointers wide. Maybe we could use `Box<[T]>` instead of `(Box<Vec<T>>, usize)`.  (The `usize` element is unused.)

[2015-10-12 23:24] Manishearth commented on #7986
Are we pushing to the vector? If not, `Box<[T]>` makes more sense.

[2015-10-12 23:41] eefriedman commented on #7986
If #7524 ever lands, the relevant code will become a lot simpler.

[2015-10-13 07:48] Ms2ger commented on #7986
`Box<[T]>` should work; I'm pretty sure I've written that code at some point. Can't find that branch now, though.

[2015-10-13 09:02] Yoric commented on #4901
I'm currently working on #7029, so I may not have time to get started on this before a few weeks.

[2015-10-13 09:34] Yoric commented on #7029
In its current state (I'm basically ready to release 0.1.0), Telemetry.rs is sufficient to capture data and store it to disk/dump it as needed. I believe that this is already a useful state. I have added [a full example with multiple threads and disk storage](https://github.com/Yoric/telemetry.rs/blob/master/examples/main.rs).

The library is not ready to upload to a server, as I have not reverse-

[2015-10-13 12:29] georgf commented on #7029
I don't think you need to cover the full main ping format, but this should comply to the [common ping format](http://gecko.readthedocs.org/en/latest/toolkit/components/telemetry/telemetry/common-ping.html) (without environment & clientId probably).
You could just push something like `{ histograms: {...} }` as the `payload` and be done.
Maybe it might make sense to line up closer with the Firefox d

[2015-10-13 14:39] jdm commented on #7695
@nfallen Have you made some progress here, or hit any walls?

[2015-10-13 15:07] Yoric commented on #7029
Thanks for the push API and good to know that we don't need the environment and clientId, that will simplify things. Filed [reverse-engineering the current histogram format](https://github.com/Yoric/telemetry.rs/issues/37). I'll work on that for 0.2.

[2015-10-13 16:27] paulrouget commented on #7796
@mrobinson any update on these PRs?

[2015-10-13 16:41] mrobinson commented on #7796
The PR is https://github.com/servo/servo/pull/7950. @pcwalton gave a little feedback, for which I'll upload a patch quite soon. Hopefully it can land today.

[2015-10-13 18:10] Manishearth commented on #7726
https://github.com/servo/servo/pull/7760

[2015-10-13 18:10] #7726 closed

[2015-10-13 18:10] martiansideofthemoon commented on #7852
@jdm Hey jdm, could I work on this bug as a starter?

[2015-10-13 18:16] Manishearth commented on #7640
https://github.com/servo/servo/pull/7643

[2015-10-13 18:16] #7640 closed

[2015-10-13 18:25] jdm opened #7994 "Add onstorage handler to WindowEventHandlers"
We dispatch the storage event when localStorage or sessionStorage is modified, but only pages that use `addEventListener` can receive it right now. We should hook up the `window.onstorage` mechanism too: https://html.spec.whatwg.org/multipage/webappapis.html#idl-definitions:handler-window-onstorage . This will probably make some tests in `./mach test-wpt webstorage` pass!

Code: components/script/

[2015-10-13 18:26] jdm commented on #7852
@martiansideofthemoon Absolutely!

[2015-10-13 18:27] martiansideofthemoon commented on #7994
Hey @jdm could I work on this one?

[2015-10-13 18:30] eefriedman opened #7995 "<xmp> and <plaintext> DOM nodes should have type HTMLPreElement"
They're missing from the list at https://github.com/servo/servo/blob/b34b82537acfb7cd9bd8bcecd5eb49528020b1ab/components/script/dom/create.rs#L103 .

There are already wpt tests for this; see `tests/wpt/metadata/html/dom/interfaces.html.ini` .

Spec references: https://html.spec.whatwg.org/multipage/obsolete.html#other-elements,-attributes-and-apis:plaintext and https://html.spec.whatwg.org/multip

[2015-10-13 18:34] Yoric commented on #7029
@georgf , the Edge API requires a `reason` (in addition to the Telemetry Ping field `reason`). Which  should we provide? `shutdown`?

[2015-10-13 18:34] jdm opened #7996 "Add onresize handler to GlobalEventHandlers"
We dispatch the resize event when when the window is resized, but only pages that use `addEventListener` can receive it right now. We should hook up the `document.onresize` mechanism too: https://html.spec.whatwg.org/multipage/webappapis.html#idl-definitions:handler-onresize . This will probably change the output of `./mach test-wpt tests/wpt/web-platform-tests/html/dom/interfaces.html` pass!

Cod

[2015-10-13 18:53] jdm opened #7998 "Add a tidy check for single-page HTML specification links"
We can prevent the need for future PRs like #7997 by checking for such links automatically as part of `./mach test-tidy`.

Code: python/tidy.py

[2015-10-13 18:57] martiansideofthemoon commented on #7994
#7999

[2015-10-13 18:57] martiansideofthemoon commented on #7994
#7999

[2015-10-13 19:24] eefriedman opened #8000 "createDocument method of DOMImplementation should return an XMLDocument"
Currently, it returns a Document, which isn't precisely correct according to the spec.

DOMImplementation interface: https://dom.spec.whatwg.org/#domimplementation .

XMLDocument interface: https://dom.spec.whatwg.org/#xmldocument plus https://html.spec.whatwg.org/multipage/dom.html#dom-xmldocument-load .

Fixing this should be straightforward, just a bunch of boilerplate.

[2015-10-13 19:50] jdm commented on #8000
Note, I'm expecting this to be solved as part of [this project](https://github.com/servo/servo/wiki/Integrate-xml5ever) that is being worked on by a group of students at NCSU.

[2015-10-13 21:08] His-name-is-Joof commented on #7996
I'd like this one.

[2015-10-13 21:09] eefriedman opened #8001 ""position: fixed" list-item missing bullet"
Testcase:

[code]

The addition of "position: fixed" in this testcase shouldn't affect the rendering at all.  Probably easy to fix, unless there's some complication I'm missing; see https://github.com/servo/servo/blob/69db83476d02d06658ad084a834abc94f7f008d0/components/layout/construct.rs#L1474 .

[2015-10-13 21:14] jdm commented on #7996
@His-name-is-Joof Please do :)

[2015-10-13 21:25] eefriedman opened #8002 "Computed style for "float" doesn't respect position or display"
Testcase:

[code]

Should show "none", currently shows "left".

Specification text: https://drafts.csswg.org/css2/visuren.html#dis-pos-flo .

Tips for fixing: the relevant code is in `components/style/properties.mako.rs`; the `single_keyword_computed` template will probably be useful.

[2015-10-13 21:29] eefriedman opened #8003 "Implement display: inline-table"
Currently, the CSS parser parses inline-table, but layout doesn't do anything interesting with it.  We treat it like a block because of https://github.com/servo/servo/blob/69db83476d02d06658ad084a834abc94f7f008d0/components/layout/construct.rs#L1557 .

Probably a good project for someone interested in digging into layout a bit; this shouldn't require any significant architectural changes.

[2015-10-13 22:06] georgf commented on #7029
You can use the ping "type", i think that page is just not updated to the new terminalogy.
The [new ping submission path](https://dxr.mozilla.org/mozilla-central/rev/607a236c229994df99766c005f9ec729532d7747/toolkit/components/telemetry/TelemetrySend.jsm#868,889-890) for Firefox just uses the type FWIW.

[2015-10-13 23:58] frewsxcv opened #8007 "Servo WPT readme should mention building with release mode"
Running all the WPT tests with debug mode results in a ton of timeouts. We should at least mention somewhere that if one wants to run all the tests, build with `mach build -r` and test with `mach test-wpt --release`

File: https://github.com/servo/servo/blob/master/tests/wpt/README.md

[2015-10-14 00:10] nox commented on #7857
#8008

[2015-10-14 00:24] #7862 closed

[2015-10-14 02:16] frewsxcv commented on #5618
Just started working on this. Here's a script I'm using:

[code]

[2015-10-14 02:42] frewsxcv commented on #7910
[code]

[2015-10-14 07:19] paulrouget commented on #7816
Not all of them! `opacity` style (`getComputedStyle().opacity`) is not updated. `width` is.

[code]

3 properties are being animated.

From `div` to `div.foo`, on screen, everything is animated correctly. The computed style (as seen from JS) of `width` is properly updated. Opacity is not (stays at 0.1). Transform can't be printed (empty string), so I can't tell, but I guess it behaves like the opa

[2015-10-14 07:39] paulrouget commented on #7816
Commenting out this line:

https://mxr.mozilla.org/servo/source/components/layout/animation.rs#33

solves all the issues mentioned above.

But I'm not sure to understand why it's here in the first place.

There's a very short and barely noticeable flickering at the beginning of the animation where the `width` of the div jumps to its final value, and then, it's properly animated. I guess this is wh

[2015-10-14 07:44] paulrouget commented on #7816
@pcwalton: can you please explain why this line is necessary: https://mxr.mozilla.org/servo/source/components/layout/animation.rs#33

Can you confirm that `cascade_node_pseudo_element` should be called at the end of the animation to trigger this code: https://mxr.mozilla.org/servo/source/components/layout/css/matching.rs#449 - if so, how can this be done?

[2015-10-14 08:06] glennw commented on #7868
Sorry, meant to look at this today and got distracted - will follow up soon.

[2015-10-14 09:29] paulrouget commented on #7816
I guess we could do that on `Msg::ChangeRunningAnimationsState`.

[2015-10-14 11:15] Ms2ger opened #8012 "Move the `app_units` crate into a repository of its own"
The files in there should live directly in `components/app_units/`.

[2015-10-14 11:18] Yoric commented on #7029
See [above](https://github.com/Yoric/servo/commit/48909aee7fd338b07a0ad8d7be52dc207970ae89) for an early draft of Telemetry in Servo. Feedback welcome.

[2015-10-14 13:33] jdm opened #8014 "Improve the travis output for test-tidy"
[code]

There's a lot of information there that is not important to someone who wants to see the output of test-tidy.

Maybe @frewsxcv has ideas?

[2015-10-14 13:40] jdm commented on #7029
Do the restrictions become easier if we use `lazy_static` and store them in an `Arc` like [this](http://mxr.mozilla.org/servo/source/components/util/resource_files.rs#10)?

[2015-10-14 13:41] jdm commented on #7029
Ah, I see you address that in the RFC.

[2015-10-14 14:01] jdm commented on #8012
This doesn't seem like the right solution to me, since it makes it impossible to publish changes to cargo.

[2015-10-14 14:23] jdm opened #8015 "Allow requesting data URLs from XMLHttpRequest"
Step 5 of https://xhr.spec.whatwg.org/#dom-xmlhttprequest-send explicitly sets the `same-origin data-URL flag` to true. We have a TODO about this in `CORSRequest::maybe_new`; I propose creating a new enum representing this flag, and passing it as an argument to `CORSRequest::maybe_new`. This should cause the output of `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/data-uri.htm` to im

[2015-10-14 15:58] Manishearth commented on #8012
@jdm You can set a path in the Cargo.toml, Cargo packages don't need to have a src dir

[2015-10-14 15:59] Ms2ger commented on #8012
You're right, this isn't the correct solution. This crate should get its own repo, so that it gets tested and published in isolation.

[2015-10-14 17:49] jdm opened #8018 "Intermittent timeout in css21_dev/html4/abs-pos-non-replaced-vlr-[number].htm"
[code]

[code]

[2015-10-14 19:05] pcwalton commented on #7782
If `window.present` is being called over 60 FPS then we need to fix that problem at the windowing layer. That has to be fixed before anything else will work.

[2015-10-14 19:46] jdm opened #8019 "Add comments with spec links for JS conversion code"
There's a lot of code for converting JS values to Rust values that are implementing steps from http://heycam.github.io/webidl/ but they're not linked. For example, the FromJSValConvertible impl for ByteString would be http://heycam.github.io/webidl/#es-ByteString . We should add these references to allow for easier verification in the future.

Code: components/script/dom/bindings/conversions.rs

[2015-10-14 20:35] froydnj commented on #6904
I will look at doing this.

[2015-10-14 22:09] jdm opened #8021 "Get rid of the Ref/RefMut check in unrooted_must_root.rs"
This will allow us to answer the question of whether the checks are still required or not. I believe we can get rid of them without breaking any existing code.

Code: components/plugins/lints/unrooted_must_root.rs

[2015-10-14 22:22] saneyuki commented on #8021
I tried to remove Ref/RefMut branch from `is_unrooted_ty()` in its file, following errors is caused:
[code]

[2015-10-14 22:34] jdm opened #8022 "unrooted_must_root lint misses Option<JS<T>> return values"
This is unfortunate.

cc @Manishearth

[2015-10-14 22:35] jdm commented on #8021
That appears to answer that question!

[2015-10-14 22:35] #8021 closed

[2015-10-14 22:35] jdm commented on #8021
Thanks @saneyuki :)

[2015-10-14 23:15] gilles-leblanc commented on #7998
I'd like to have a look at this one please.

[2015-10-14 23:16] jdm commented on #7998
Go for it!

[2015-10-14 23:21] frewsxcv commented on #8012
Opened a PR https://github.com/servo/app_units/pull/1 . I have no preferences whatsover for the repository name. I just chose 'app_units' because that's what the Cargo.toml already has specified.

[2015-10-14 23:31] frewsxcv commented on #8012
Also opened a PR to remove it from the tree https://github.com/servo/servo/issues/8025

[2015-10-14 23:48] glennw commented on #7868
It does seem like we're doing a paint after rAF even when not necessary. It looks like it updates the styles for any animations, and assumes that it will need to do a new display list generation and paint. But in the case of a rAF with no actual animations or node changes, this isn't the case. @pcwalton Is it easy to detect this case (no animations changed) and avoid the unnecessary paint?

A disp

[2015-10-15 00:19] tareqak commented on #7840
This issue can be closed once https://github.com/servo/servo/pull/8024 is merged.

[2015-10-15 00:28] TyOverby commented on #7840
@tareqak: :+1:

[2015-10-15 02:27] creativcoder commented on #8019
Ill do that.
Does ToJSValConvertible needs to be commented as well with the same spec link ?

[2015-10-15 02:41] #7840 closed

[2015-10-15 03:12] jdm commented on #8019
Yes; that corresponds to the text like "The result of converting an IDL ByteString value to an ECMAScript value".

[2015-10-15 05:19] paulrouget commented on #7868
Is the problem that the animation state is either AnimationsPresent, AnimationCallbacksPresent, NoAnimationsPresent or NoAnimationCallbacksPresent, and there's no way to know if a callback is present and no animation is running?

I don't know if it's possible to actually do it in `update_subpage_size_if_necessary()` (how would I get the old size of the iframe?), but if I do it a bit later (in `Scr

[2015-10-15 05:28] glennw commented on #7868
I think you should be able to avoid calling update_subpage_size_if_necessary() by passing a result back from update_layer_if_exists() that says whether the size of rect was different (see the update_layer method in CompositorLayer).

[2015-10-15 08:27] Manishearth commented on #8022
Ah, this is because we don't check return values at all.

[2015-10-15 09:33] Manishearth commented on #8022
...turns out the entire function checking lint was entirely broken when I updated things to use `ty::Ty` instead of `ast::Ty`.

[2015-10-15 09:34] Manishearth commented on #8022
[code]

Will finish fixing these later today

[2015-10-15 10:13] paulrouget commented on #7868
It works. But iframe is cleared as well.

[2015-10-15 10:20] glennw commented on #7868
OK, thanks for checking. I will debug with your repro in the morning and let you know what I find. I did briefly try your test case above on webrender and there is no flickering - although it doesn't clip the iframe correctly yet.

[2015-10-15 12:37] jdm commented on #8022
Perhaps I'll try to interest someone in #5646 to avoid this problem occurring again.

[2015-10-15 13:10] Ms2ger opened #8028 "`parse_html` should take `Url` rather than `&Url`"
Code: `components/script/parse/html.rs`.

We will always clone the url inside the function. In the cases where the caller doesn't need the url after the call (of which I believe I found a few), this is pointless work.

[2015-10-15 16:08] creativcoder commented on #8019
https://github.com/creativcoder/servo/commit/1141f00212533b3bb5d97945aa7ca8d30f0484b3

[2015-10-15 16:16] paulrouget commented on #7779
@mrobinson have you made any progress? If you can point me to the right direction, maybe I could take a look.

[2015-10-15 16:23] mrobinson commented on #7779
@paulrouget Yes, actually. This issue is the same as https://github.com/servo/servo/issues/7983. I have a patch that fixes it, but the PR is waiting on https://github.com/servo/servo/pull/7950 to land. Hopefully today or tomorrow I'll have the PR ready.

[2015-10-15 16:38] connorimes opened #8033 "SIGILL in libcrypto.so.1.0.0 on ARM"
Prior patches have allowed me to compile Servo on some ARM systems.  On an ODROID-XU3, when I run and try to load a test html file, I get an `Illegal instruction` in `libcrypto.so.1.0.0`.  I ran into this while trying to debug another problem (#8034). When executing normally outside of gdb, I don't see this - it either doesn't happen or fails silently.

<pre>
Starting program: /local/git-ckimes/se

[2015-10-15 16:42] connorimes opened #8034 "SIGSEGV in libX11.so.6 on ARM"
Trying to load a test html file on an ODROID-XU3, I ran into the following.  The SIGILL at the start is documented separately in #8033.

If anybody knows what's going on or how to fix this, it would be a huge help.  Here's the full gdb log with all backtraces.

<pre>
Starting program: /local/git-ckimes/servo/target/debug/servo tests/html/perf-rainbow.html
Traceback (most recent call last):
  File

[2015-10-15 16:55] pcwalton commented on #7816
You can't call `cascade_node_pseudo_element` during animations. That's for nodes, not for fragments.

[2015-10-15 16:56] pcwalton commented on #7816
To be more specific, there is no access to the DOM during animations. It's forbidden, because JS could be running concurrently during a transition (which is the whole point of OMT animations).

[2015-10-15 16:58] pcwalton commented on #7816
That line is trying to set the animation to its original start value, but I guess the start value for the animation isn't properly taking the cascade into account. We will need to fix the code that initializes the animation. You can't access the DOM during animations, so this has to be all set up properly in advance.

[2015-10-15 17:49] sliz1 commented on #8028
Hi, I'd like to work on this one. :)

[2015-10-15 19:01] creativcoder commented on #8007
This is merged already e0d82556f7e27b5d13513cd08fbfce56bcc63b2d  so its ok to close it.

[2015-10-15 19:03] #8007 closed

[2015-10-15 21:42] #8022 closed

[2015-10-16 01:41] frewsxcv commented on #8014
This will improve a little with https://github.com/servo/servo/pull/8036

[2015-10-16 01:47] gilles-leblanc commented on #7720
I'd like to take a look at this one. Will be the hardest thing I have tackled on Servo as of yet.

[2015-10-16 01:49] Manishearth commented on #7720
This really depends on that spec issue being resolved. We could do a correct but somewhat inefficient implementation now, though.

[2015-10-16 01:54] gilles-leblanc commented on #7720
@Manishearth Ok, I'll look for another one then. I hadn't realized it was waiting on the spec being resolved.

[2015-10-16 02:13] #7998 closed

[2015-10-16 04:36] jdm commented on #8018
[code]

[2015-10-16 04:36] jdm opened #8046 "Intermittent timeout in /css21_dev/html4/absolute-non-replaced-height-006.htm"

[2015-10-16 04:36] jdm opened #8047 "Intermittent timeout in /css21_dev/html4/absolute-non-replaced-max-height-008.htm"

[2015-10-16 05:27] jdm commented on #7625
This started happening again.

[2015-10-16 08:18] Ms2ger opened #8048 "Support test expectations that depend on the value of debug-mozjs"
We have a bunch of tests that assert (=> crash) in SpiderMonkey when we build with those on. This currently causes spurious test failures when running the wpt tests.

@jgraham?

[2015-10-16 11:00] mmatyas commented on #7881
...or not. Have you managed to solve it since then?

[2015-10-16 12:12] Ms2ger commented on #7625
I manually installed the fonts on linux2.

[2015-10-16 12:35] sawantuday commented on #6439
I am facing same error. Using Debian 8.2 fresh install.
I have installed all prerequisites under Debian section of ReadMe file. Then clone repo and release build  (-r). Build completed in around 15 mins, but then no binary found.

Same error repeats for dev builds as well.

I don't have any cargo config in home dir. Do I need any other configuration?

[2015-10-16 13:45] jdm commented on #6439
Any difference if you use `./mach run --release tests/html/about-mozilla.html`?

[2015-10-16 14:54] #6888 closed

[2015-10-16 16:23] SimonSapin opened #8053 "Rewrite css21_dev/html4/{font-family,font}-013.htm to use a free font"
These tests rely on some fonts from Microsoft whose license does not allow redistribution. Getting these fonts on our CI servers is proving troublesome: https://github.com/servo/servo/issues/7625#issuecomment-148613092

They should be modified to use different fonts whose license is not as problematic. To do so:

* Make sure the `msttcorefonts` package (or similar) is installed.
* Run `./mach test

[2015-10-16 16:25] metajack commented on #8053
Isn't this really a bug that should be filed upstream?

cc @ms2ger @jgraham

[2015-10-16 16:25] SimonSapin commented on #8053
If the generic names `serif`, `sans-serif` or `monspace` don’t work, we’ll need to find some fonts that contain these characters and are available on all of our CI platforms.

[2015-10-16 16:26] gsnedders commented on #8053
@metajack yes, probably.

[2015-10-16 16:29] SimonSapin commented on #8053
I don’t know if this is really a bug upstream. When microsoft fonts are not available other browsers seem to pick other, similar fonts. The tests doesn’t really *require* non-free fonts, it’s just the easiest way we know to make it pass unmodified in our code. There’s probably more stuff we can improve in our font selection code.

(That said, if generic names work, there is no harm in making that

[2015-10-16 16:34] gsnedders commented on #8053
Other browsers have magic to fallback for some super-common fonts. The test suite almost certainly shouldn't rely on non-free fonts or unspecified behaviour, IMO. I'm happy to champion (or help to) upstream (and I don't think there will be any disagreement).

[2015-10-16 18:13] #8028 closed

[2015-10-16 19:38] #7856 closed

[2015-10-16 20:06] craftytrickster commented on #8001
The **li** tag is never closed after the x. I haven't tried to reproduce this yet since I am not at my computer, but is it possible that closing the li will fix this?
[code]

[2015-10-16 20:10] jdm commented on #8001
No, the HTML parser should close that tag implicitly when it sees the `</ul>`.

[2015-10-16 20:13] craftytrickster commented on #8001
Good to know, thank you.

[2015-10-17 00:24] gilles-leblanc commented on #8002
I'd like to look into this issue if it's available !

I'm thinking of adding a reftest before fixing.

As I understand the reason this should be displaying ```none``` is because of:

[code]

[2015-10-17 00:55] eefriedman commented on #8002
I don't think anyone else is working on this.

Yes, you're understanding the testcase correctly.

[2015-10-17 07:24] tetsuharuohzeki opened #8058 "position:fixed element should fixed on CSS viewport when magnify zooming?"
if we try magnify zooming, position:fixed element is fixed on CSS viewport. But some browsers don't fixed it on an actual window viewport if they do magnify zooming. Should we do it?
## other implementations

Gecko:  https://bugzilla.mozilla.org/show_bug.cgi?id=656036 (looks not any progress)
Blink's design doc: https://docs.google.com/document/d/1WZBy5JnwgHNQKbqsGMpgCEsiS2t5VaHFZ47xfX8VYiU/edit
-

[2015-10-17 07:25] saneyuki commented on #8058
cc?: @SimonSapin @mbrubeck

[2015-10-17 08:57] sawantuday commented on #6439
@jdm Nope, no difference for tests. I used -v flag and got this error.
![screen shot 2015-10-16 at 6 34 04 pm](https://cloud.githubusercontent.com/assets/2276220/10557901/1e8e43c4-74db-11e5-9771-5a7e50c84eeb.png)

[2015-10-17 09:15] Yoric commented on #7029
Updated [draft](https://github.com/Yoric/servo/commit/70f90d02b2e39f5759953b5620b8067176b58161), with a demo of how to add a histogram to the compositor, without having to patch every single file. Feedback welcome.

[2015-10-17 12:37] Ms2ger commented on #8053
This change cannot be made here; it will be overwritten automatically.

[2015-10-17 14:51] jdm commented on #6439
Yes, this is a different issue than the one that was originally reported here since your output shows a build failure. You're missing the X11 development package for your distribution, presumably.

[2015-10-17 15:59] SimonSapin commented on #8053
Good point, I’ve added a step to the instructions in the original message.

[2015-10-17 16:09] mbrubeck commented on #8058
Yes, fixed-position elements should be fixed to the CSS (layout) viewport during pinch zoom.  Blink, WebKit, and Edge all agree on this behavior now, and I still hope that Gecko will match them someday.

[2015-10-17 21:19] drbo opened #8061 "Triage and close old issues"
This is a meta-bug.  Some of the issues date back to 2012, and probably either fixed or do not make sense in the current Servo codebase.  These should be resolved.

[2015-10-17 21:32] jdm commented on #8061
I don't think that a metabug is required for this. We welcome comments on issues suggesting that it's appropriate to close them, though.

[2015-10-17 21:32] #8061 closed

[2015-10-17 23:56] drbo commented on #8061
Ah okay then!

[2015-10-17 23:57] drbo commented on #147
This looks like it related to split stacks, which Rust does not use anymore.  Perhaps this should be closed?

[2015-10-18 01:27] SimonSapin commented on #7625
I think that #8053 is a better long-term solution.

[2015-10-18 03:36] jdm commented on #147
Very plausible!

[2015-10-18 03:36] #147 closed

[2015-10-18 11:15] s142857 commented on #7995
Can I work on this. (I'm sorry I messed up my last PR.  I was having tests)

[2015-10-18 13:28] jdm commented on #7995
Sorry, #8017 has already been submitted to solve this.

[2015-10-18 14:46] frewsxcv commented on #8012
Update: https://github.com/servo/app_units/pull/1 has merged. Just waiting on #8025 to get reviewed before this issue can be closed.

[2015-10-18 15:15] craftytrickster commented on #8001
I think I may have some time to look into this one

[2015-10-18 15:38] jdm opened #8063 "Remove get_input_size and get_input_value"
These methods are unused.

Code: components/layout/wrapper.rs

[2015-10-18 15:44] jdm opened #8064 "<button> should be `display: inline-block`"
https://html.spec.whatwg.org/multipage/rendering.html#the-button-element-2

[2015-10-18 15:44] jdm commented on #8064
This change should probably be applied in one of our stylesheets in `resources/`.

[2015-10-18 15:47] s142857 commented on #7995
Ok, I'll finish Mr.Robot and then I'll look for an issue later.
cheers @jdm

On Sun, Oct 18, 2015 at 6:58 PM, Josh Matthews <notifications@github.com>
wrote:

--
Regards,
Sanketh

[2015-10-18 15:48] jdm commented on #8064
http://mxr.mozilla.org/servo/source/resources/servo.css#1

[2015-10-18 16:06] Manishearth opened #8065 "Make button elements inline-block"
`button` should be in the list [here](https://github.com/servo/servo/blob/master/resources/servo.css#L1). That line should also be moved to user-agent.css

@badboy

[2015-10-18 16:12] jdm commented on #8065
See #8064.

[2015-10-18 16:12] #8065 closed

[2015-10-18 16:15] Manishearth opened #8066 "Implement Element.getAttributeNode() and friends"
https://dom.spec.whatwg.org/#dom-element-getattributenode (both `getAttributeNode` and `getAttributeNodeNS`)

The implementation would be similar to [`getAttribute()`](https://github.com/servo/servo/blob/master/components/script/dom/element.rs#L1152) and `getAttributeNS()`. You probably can make `getAttribute()` just call `getAttributeNode()` (same for NS) as code reuse.

If you want, implement th

[2015-10-18 16:16] Manishearth commented on #8064
In addition to tweaking the linked line above, we should probably move it to `user-agent.css`

[2015-10-18 16:16] Manishearth commented on #8064
cc @badboy

[2015-10-18 16:51] nox commented on #8066
We have to be careful about resetting the attribute value according to the new owner's parse_plain_attribute function.

[2015-10-18 17:43] anthgur commented on #7860
Are there docs somewhere about how the task system interacts with the WebIDL bindings? I’m trying to understand when [`WebSocket::Close`][ws-close] would be invoked in the current implementation.

- The `WebSocket::Constructor` function fires `CloseTasks` ([here] [close1] and [here] [close2]) for different failure conditions.
- Within `WebSocket::Close`, there's [`send_close`] [send-close] functio

[2015-10-18 18:09] martiansideofthemoon commented on #8066
Hey @Manishearth could I try my hand at this bug?

[2015-10-18 18:16] jdm commented on #7860
Those are great questions! I think the docs you're looking for are [here](http://doc.servo.org/servo/script/dom/bindings/index.html). Specifically, JS code will only invoke methods that are part of the `WebSocketMethods` trait, in this case. `WebSocket::Close` corresponds to `ws.close(...)` from JS.

[2015-10-18 18:21] Manishearth commented on #8066
Sure

[2015-10-18 18:57] frewsxcv opened #8067 "Inconsistencies with 'must_root' lint when using named enums"
This compiles fine:

[code]

---

This has compile errors:

[code]

[code]

[2015-10-18 19:01] eefriedman opened #8069 "Remove explicit lifetimes which can be elided"
Along the lines of `fn<'a>(&'a self) {}` into `fn (&self) {}`.  Some places where this can be done:

- https://github.com/servo/servo/blob/b847e4dd778e49ba60c786da4aa77813dee8b553/components/devtools/protocol.rs#L17
- https://github.com/servo/servo/blob/b847e4dd778e49ba60c786da4aa77813dee8b553/components/devtools/protocol.rs#L22
- https://github.com/servo/servo/blob/b847e4dd778e49ba60c786da4aa7781

[2015-10-18 19:07] Manishearth commented on #8067
This is a bug. I could swear it used to work O.o

[2015-10-18 19:47] badboy commented on #8064
On it!

[2015-10-18 19:55] romankl commented on #8063
Could I take a look at it?

[2015-10-18 20:46] jimberlage commented on #7861
So I'm wondering whether we need to be considering invalid input of the type specified in the test.  It seems that if we send an invalid opcode, or bad UTF-8 data, the server would then be responsible for handling the error by calling `_fail_the_websocket_connection_`.  We need to validate dataframes on our own, but it seems like that will happen in the onMessage handler.

That said, we certainly

[2015-10-18 21:02] martiansideofthemoon commented on #7994
@jdm The issue can be closed right? Or some work remains?

[2015-10-18 21:47] dzbarsky opened #8072 "Github diff highlighting does not cover entire line"
At https://github.com/dzbarsky/servo/commit/c0a0a013baabb622e90249faa760a1077296c997 the dark green highlight does not cover the top few pixels of the text in Servo. (Top is servo zoomed in, bottom is Firefox zoomed in).

![screen shot 2015-10-18 at 2 45 56 pm](https://cloud.githubusercontent.com/assets/1565842/10566864/23eb20c2-75a7-11e5-8b4f-ba38796241e3.png)

[2015-10-18 22:01] jdm commented on #7994
Yep! In future you can add "Resolves #NNNN" to the commit message or PR description and github will automatically close it.

[2015-10-18 22:01] #7994 closed

[2015-10-19 00:12] craftytrickster commented on #8001
I was looking at this today, and as eefriedman suggested, the pattern matching looked incorrect to me as well.

 https://github.com/craftytrickster/servo/commit/be54c8066e4289f739320ea87f1c2b7139d13f60

I made a change in my own branch as seen above. Prior to my change, the list item node was always getting matched and called with **build_flow_for_block** instead of with **build_flow_for_list_item

[2015-10-19 01:02] eefriedman commented on #8001
I took a brief look; it's possible that the we're properly constructing the bullet, but not positioning/drawing it correctly.  Does `list-style-position: inside` on the `<li>` make a difference?

[2015-10-19 01:26] eefriedman opened #8074 "Weird list bullet positioning with "position: absolute; overflow: hidden""
[code]

The list bullet somehow ends up on top of the x.  It should be hidden.

[2015-10-19 02:44] glennw commented on #7868
I can see the problem. It's not clear to me what the best fix is yet - @pcwalton may have some thoughts, since he's been working on this stuff lately. If not, I'll dig into it again tomorrow.

The iframe has a normal root layer and also a layer for the scrolling region. However, the scrolling layer doesn't have any subpage info associated with it so when the root pipeline supplies a new set of lay

[2015-10-19 03:10] craftytrickster commented on #8001
When I added `list-style-position: inside;`, I was able to see the bullet render.

[2015-10-19 05:29] paulrouget opened #8075 "requestAnimationFrame triggers a full repaint"
even if there's no animation running.

See https://github.com/servo/servo/issues/7868#issuecomment-148235034

[2015-10-19 05:29] paulrouget commented on #8075
From https://github.com/servo/servo/issues/7868#issuecomment-148235034

My understanding of the situation is that the animation state is either `AnimationsPresent`, `AnimationCallbacksPresent`, `NoAnimationsPresent` or `NoAnimationCallbacksPresent`, and there's then no way to know if animations are running or not once rFA has been called.

I guess the solution is to make the animation state values

[2015-10-19 05:30] paulrouget commented on #7868
I filed an issue for the rAF bug: https://github.com/servo/servo/issues/8075

[2015-10-19 05:34] paulrouget commented on #7868
@glennw do you think the problem you describe also explains why this happen: https://github.com/servo/servo/issues/7864

[2015-10-19 06:12] paulrouget commented on #7797
@glennw could you take a quick look at this?

[2015-10-19 06:13] paulrouget commented on #7666
Is that happening soon?

[2015-10-19 06:14] paulrouget commented on #7865
@jdm are you still looking at this? Does that depend on @mrobinson work?

[2015-10-19 06:16] paulrouget commented on #7781
This is a dupe of #7816

[2015-10-19 06:16] #7781 closed

[2015-10-19 06:44] eefriedman commented on #8001
Okay, that makes sense... the difference happens at https://github.com/servo/servo/blob/32daa17d5cbcad02db0713e21e52410cdc60480e/components/layout/construct.rs#L1224 .  An `inside` bullet uses much less special-case code.

Maybe try playing with ` -Z dump-flow-tree` and `-Z dump-display-list` to see what's happening for `outside` bullets?

[2015-10-19 07:28] paulrouget opened #8076 "Entering or leaving a DOM node with the mouse triggers a full repaint"
I use `--debug paint-flashing`. Moving hover an element flashes the whole window.

[code]

[2015-10-19 07:38] paulrouget opened #8077 "Implement Highlight Pseudo-elements (::selection)"
I'm not sure we can select text yet in a regular element, but it's possible in an `<input>` tag.The selection is not highlighted though.

See: https://drafts.csswg.org/css-pseudo-4/#selectordef-selection

[2015-10-19 07:41] nox commented on #8077
This will require changes in rust-selectors.

[2015-10-19 07:59] Ms2ger opened #8078 "`query_selector_iter` no longer needs to be unsafe"
At least, I don't think so. CCing @Manishearth to confirm.

[2015-10-19 08:01] nox commented on #8000
@jdm For the scope of this ticket though, it's just a matter of creating a dummy XMLDocument interface, students could then fill the holes.

[2015-10-19 08:01] Manishearth commented on #8078
This is correct.

[2015-10-19 09:16] nfallen commented on #7695
Made a bunch of progress tonight!

[2015-10-19 09:24] Ms2ger opened #8079 "Prove the soundness of the DOM-SpiderMonkey GC integration."
This feels like something we should do.

[2015-10-19 09:39] #7934 closed

[2015-10-19 10:06] TileHalo commented on #8078
I'd like to fix this if its ok.

[2015-10-19 10:28] paulrouget opened #8080 "iframe hit test is wrong"
In the following example, the content of the iframe turns blue on `:hover`. But moving the mouse at the top or the bottom of the iframe, the content of the iframe is considered not `:hover` (so staying red). I guess it's a hit test issue. This makes clicking on links impossible in a more complex layout.

a.html:

[code]

b.html:
[code]

[2015-10-19 10:53] Manishearth commented on #8078
Sure!

[2015-10-19 11:57] #8063 closed

[2015-10-19 12:58] paulrouget opened #8081 "iframe not painted anymore after navigation (regression c72d0c2)"
Since commit c72d0c2ed04f6c5f9fa22a3f576e1df5878f941d, clicking a link in a iframe turns the iframe white.

I believe the iframe is loaded but not painted (we get load events).

[2015-10-19 12:59] paulrouget commented on #8081
/cc @pcwalton

[2015-10-19 13:26] craftytrickster commented on #8001
Thanks for the pointer, I hope to have time to look at this later

[2015-10-19 14:17] connorimes commented on #7881
The problem seems to have gone away on its own.  However, I get linking errors at the end (including for libz).  It appears that during -sys crate builds, pkg-config finds and tells the linker to use the x86_64-linux-gnu builds that it discovered on the host system rather than building or finding arm-linux-gnueabihf builds.

[2015-10-19 14:24] asajeffrey opened #8082 "ipc-channel panic on Linux with zero-length data"
Running the Dromaeo DOM Core tests:

    $ ./target/release/servo tests/dromaeo/dromaeo/web/index.html
    [dromaeo] getAttribute
    ...
    [dromaeo] cloneNode
    thread 'ImageCacheThread' panicked at 'assertion failed: libc::close(self.fd) == 0', /home/ajeffrey /tmp/servo/.cargo/git/checkouts/ipc-channel-d95a23d1f1577bfc/master/platform/linux/mod.rs:101
    thread '<unnamed>' panicked at 'inde

[2015-10-19 14:27] connorimes commented on #7881
On second thought, that is probably because I specified `PKG_CONFIG_ALLOW_CROSS` when a compilation failed.  I'll try again without it.

[2015-10-19 14:31] frewsxcv commented on #8012
https://github.com/servo/app_units/pull/1 and https://github.com/servo/servo/pull/8025 have merged. This is finished.

[2015-10-19 14:31] #8012 closed

[2015-10-19 15:16] connorimes commented on #7881
Now we get the following errors.  A number of libraries are not found, presumably because the build scripts for their sys crates produced linker flags without ever finding or building them (e.g. zlib - https://github.com/alexcrichton/libz-sys/blob/master/build.rs#L30).

@mmatyas You didn't run into this problem before?

<pre>
error: linking with `arm-linux-gnueabihf-gcc` failed: exit code: 1
note:

[2015-10-19 15:39] jdm commented on #8074
The only code I see that deals with clipping for overflow is in http://mxr.mozilla.org/servo/source/components/layout/display_list_builder.rs#1365 (clipping_region_for_children).

[2015-10-19 15:59] connorimes commented on #8033
Further investigation hints that this is normal behavior for openssl.  Apparently, it expects to be able to trap SIGILL while determining CPU capabilities.  This is why we only see the error when running in gdb, and not in normal runtime.

[2015-10-19 15:59] #8033 closed

[2015-10-19 16:08] jdm commented on #8080
I didn't expect b.html to work outside of an iframe, but it did. Interesting.

[2015-10-19 16:16] jdm commented on #7865
I forgot about this and haven't done any investigation beyond the original comment.

[2015-10-19 16:16] jdm commented on #7666
Should be a straightforward `./mach cargo-update -p image`.

[2015-10-19 16:25] #7941 closed

[2015-10-19 16:26] jdm commented on #8000
That's fair!

[2015-10-19 17:18] eefriedman commented on #8074
There are some other places affected by `overflow: hidden` which don't explicitly check for it; http://mxr.mozilla.org/servo/source/components/layout/fragment.rs#2144, http://mxr.mozilla.org/servo/source/components/layout/block.rs#1499 .

[2015-10-19 17:32] frewsxcv opened #8084 "Implement <table> 'rows' attribute"
https://html.spec.whatwg.org/multipage/tables.html#dom-table-rows

This requires `HTMLCollection` to be updated to support more flexible custom iterators than just a simple filter

I started refactoring `HTMLCollection` and implementing `<table>` `rows` in [this branch](https://github.com/servo/servo/compare/master...frewsxcv:traversal-htmlcollection?expand=1), but I'm going to hold off on contrib

[2015-10-19 17:32] frewsxcv commented on #8084
/cc @asajeffrey @nox

[2015-10-19 17:51] froydnj commented on #7975
Profiling this with `perf` (admittedly on a dev build, so take this with a grain of salt) says that the major stack is:

[code]

Guess we're doing a lot of IPC?

[2015-10-19 17:53] jdm commented on #7975
IPC serialization is known to perform very poorly in dev builds, so a release build would be more meaningful.

[2015-10-19 17:57] froydnj commented on #7975
That stack doesn't look like it has anything to do with serialization; that looks like part of the normal send/recv procedure.  Or is that just my servo ignorance shining through?

[2015-10-19 18:05] jdm commented on #7975
We're using IPC channels in a single process setup, so all messages sent get serialized and deserialized.

[2015-10-19 18:38] froydnj commented on #7975
Hm, building servo with profiling-appropriate settings in a release build gives stacks that are significantly less helpful.  Profiling without callstacks says that we're spending a lot of time in the kernel; 5 of the top 7 entries (or about 50% of all the samples taken) are in the kernel: `sock_poll`, `unix_dgram_poll`, `_raw_spin_lock_irqsave`, `__fget`, and `_fput`.  The only bit from servo itse

[2015-10-19 18:51] tschneidereit opened #8085 "Don't load external stylesheets if the <link> node's media query doesn't match"
This is currently a [TODO in `layout_task.rs`], but will move into `htmllinkelement.rs` in #8039.

[2015-10-19 19:24] glennw commented on #8081
I'm almost certain this will be the same as the iframe flickering.

[2015-10-19 19:46] connorimes commented on #8034
Further debugging brings us to this bug filed a year and a half ago on Launchpad: https://bugs.launchpad.net/bugs/1307953

I've completed the bug triage there and provided a new backtrace which I'll include here.  Although the segfault occurs in libx11.so, we could still be doing something weird.

<pre>
#0  0xb6c0c7d8 in _XPutPixel32 (ximage=0x2dace068, x=<optimized out>,
    y=<optimized out>, pi

[2015-10-19 20:03] jdm commented on #8034
@glennw Do you have any x11 debugging tips?

[2015-10-19 21:11] nfallen commented on #7695
DomStringMap is working, but I'm having a hard time filtering out the numerical indices for NamedNodeMap. Here is my current code:
[code]
When I try the opposite filter, ``` name.parse::<i32>().is_ok()```, the only attributes returned are the numerical indices. But this filter or ``` name.parse::<i32>().is_err()``` return both the numerical indices as well as the attribute names. I also tried only

[2015-10-19 21:36] jdm commented on #7695
Let me flip that question around - why are you trying to explicitly filter out numeric indices? I admit that I'm not clear on why the loop is encountering attributes with names that are only numbers, however.

[2015-10-20 00:12] nox opened #8090 "Implement PartialEq for MutHeap<JS<T>> and friends"
The types `MutHeap` and `MutNullableHeap` should implement the `PartialEq` trait for `JS<T>`, in the file `components/script/dom/bindings/js.rs`. Our code base should then use this implementation to avoid unnecessary rooting.

[2015-10-20 00:43] glennw commented on #7868
@paulrouget Now that https://github.com/servo/servo/pull/8089 has landed, could you confirm that it fixes this issue, and check if it fixes the scroll issue you referenced above? (I believe it will also fix the iframe navigation regression issue you reported).

[2015-10-20 01:17] nfallen commented on #7695
I am trying to filter out numerical indices because for each attribute returned, there is a numerical index returned as well. I will focus my energy on debugging why this is occurring in the first place.

[2015-10-20 03:20] frewsxcv opened #8093 "Google News panics upon loading"
Steps to reproduce:

1. `./mach run -r http://news.google.com`
2. Wait ~10 seconds
3. Move mouse in Servo window
4. Servo crashes

[output log](https://gist.githubusercontent.com/frewsxcv/b3f9f214c85341538b59/raw/de9146e7050b421adc2698bc246043e09021597d/gistfile1.txt)

[code]

[code]

[2015-10-20 03:53] gilles-leblanc commented on #8002
It took me a while to figure out what to do (which wasn't much once I understood how properties.mako.rs works).

Now I have to run all the test suite and make sure I haven't broken anything or need to change any tests.

Running the full test suite is taking a long time. I will try running it again tomorrow when I have more time.

[2015-10-20 04:24] jdm commented on #7695
One thing I would check - print out the entries in the vector that is about to be returned before returning it. If it only contains the attribute names we expect, then the problem is in the generated code that calls SupportedPropertyName instead.

[2015-10-20 04:36] frewsxcv commented on #8093
I just did a `git bisect` and traced it back to b649246fe2a14eacbf4e390c3161d980fc845773

[2015-10-20 04:43] jdm commented on #8093
That's an unfortunate result. What's the backtrace from lldb?

[2015-10-20 04:44] jdm commented on #8093
I swear I can read and click links. I am mollified that it's only a panic, not a segfault.

[2015-10-20 04:53] TileHalo commented on #8078
Should I also delete comments that tells block using 'query_selector_iter' is safe?

[2015-10-20 04:54] Manishearth commented on #8078
Yep!

[2015-10-20 05:33] glennw commented on #7797
OK, this seems to be unrelated to transforms - it appears to be a general layout bug.

If I remove the perspective line from your test, and add opacity: 0.5 or mix-blend-mode: difference, those also make the element disappear.

When a new stacking context is created in any of those situations, it gets a height of 0px for the stacking context bounding rectangle, which will be the cause of it not di

[2015-10-20 05:43] glennw commented on #7797
Any ideas @pcwalton  ?

[2015-10-20 07:17] #8066 closed

[2015-10-20 08:08] paulrouget commented on #7868
#8089 fixes this issue, the scrolling issue as well. But the navigation one.

Thanks a lot @glennw !

[2015-10-20 08:08] #7868 closed

[2015-10-20 08:08] paulrouget commented on #7864
Fixed by #8089

[2015-10-20 08:08] #7864 closed

[2015-10-20 08:09] paulrouget commented on #8081
Apparently not.

[2015-10-20 08:12] glennw commented on #8081
:( OK, I'll take a look at this tomorrow if @pcwalton doesn't get to it first.

[2015-10-20 08:28] paulrouget commented on #7666
Updating to the latest version of image crashes Servo. Investigating.

[2015-10-20 08:53] paulrouget commented on #7666
Crasj: https://github.com/PistonDevelopers/image/issues/463

[2015-10-20 13:20] frewsxcv commented on #8093
Ah, sorry. I wasn't aware of the distinction between the terms 'crash' and 'panic'.

[2015-10-20 13:31] wenderen commented on #8090
Can I take this up?

[2015-10-20 13:32] jdm commented on #8090
Yep!

[2015-10-20 13:48] jdm commented on #7861
You make an excellent point; the strings sent should not cause send errors, but rather errors while receiving since the socket is echoing back the raw bytes that it receives in the payload. Looks like the actual issue here is that we just silently terminate the thread when an `Err` value is received from `incoming_messages`!

[2015-10-20 14:48] nox commented on #8078
#8095

[2015-10-20 14:48] #8078 closed

[2015-10-20 18:08] bholley commented on #7412
Yeah, this is super confusing.

[2015-10-20 19:27] #1513 closed

[2015-10-20 21:28] Darktori commented on #8069
I would like to take this.

[2015-10-20 21:34] jdm commented on #8069
Please do!

[2015-10-20 22:06] pcwalton commented on #7797
Not sure off the top of my head. I don't recall explicitly setting zero height for any of those situations in layout.

[2015-10-20 22:47] #7566 closed

[2015-10-20 22:47] #7796 closed

[2015-10-20 22:53] Darktori commented on #8069
I have removed all instances of "needless_lifetimes" show by clippy except for these 3:

servo/components/layout/flow.rs:392
servo/components/layout/flow.rs:406
servo/components/layout/flow_ref.rs:23

I believe those are connected, but I don't have enough knowledge how to fix those (or if it's even possible). I could submit what I have done so far though.

[2015-10-20 22:59] eefriedman commented on #8069
Pretty sure those are impossible to fix; see also https://github.com/rust-lang/rfcs/issues/1302 .

[2015-10-20 23:22] 0X1A commented on #8053
Willing to take this issue

[2015-10-20 23:35] 0X1A commented on #7608
@jdm I'm up for this

[2015-10-20 23:38] Darktori commented on #4212
I'll see what I can do!

[2015-10-21 00:12] #8069 closed

[2015-10-21 00:24] jdm opened #8100 "Github sign in is broken from http"
STR:
Visit http://github.com in servo, click "sign in" button. Enter username and password, click submit button.

Actual:
Get directed to page that says "Cookies must be enabled".

Expected:
Logged in.

This doesn't appear to happen for https://github.com.

[2015-10-21 00:25] nfallen commented on #7695
You're right! I removed the filter and printed the values, and only the attribute names are in the vector, not the index numbers. Where is the code being generated?

[2015-10-21 00:26] jdm opened #8101 "Can't submit Github 2FA verification"
STR:
Visit https://github.com and click "sign in". Enter username and password for 2FA-enabled account. See verification page for authentication code. Click "Verify".

Actual:
Nothing happens.

Expected:
Logged in.

[2015-10-21 00:28] jdm opened #8102 "Compositor panics when moving mouse while closing window"
[code]

[2015-10-21 00:30] jdm commented on #8102
`send_mouse_move_event` calls `unwrap` on the result of the `send` call. This is silly, because the script thread that is being sent to could die at any time (as we see), so we should just drop the error silently instead with `let _ = pipeline.script_chan.send(...);`

Code: components/compositing/compositor_layer.rs

[2015-10-21 00:45] jdm commented on #7695
It's generated by http://mxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/CodegenRust.py#4262, which ends up in target/debug/build/script-[hash]/out/Bindings/NamedNodeMapBinding.rs . It looks like the code that precedes it explicitly appends the numeric indexes if the WebIDL interface includes an indexed getter (ie. allows `obj[5]`).

[2015-10-21 00:47] jdm commented on #7695
According to https://heycam.github.io/webidl/#property-enumeration this seems like the correct behaviour, so I guess the test needs updating :)

[2015-10-21 00:50] jdm opened #8105 "CanvasFillOrStrokeStyle doesn't need to be public"
It's only used in a single file, as far as I can tell.

Code: components/script/dom/canvasrenderingcontext2d.rs

[2015-10-21 00:54] jdm commented on #8101
It's a `<button class="btn" type="submit">`.

[2015-10-21 00:55] jdm commented on #8101
Sounds like #4837.

[2015-10-21 01:01] jdm opened #8106 "Remove Button prefix from names of variants of ButtonType enum"
This is an old enum from before there was namespacing for enum variants, so now we have silly stuff like `Button::ButtonButton`.

Code: components/script/dom/htmlbuttonelement.rs

[2015-10-21 01:18] nfallen commented on #7695
Oh that makes sense! Thank you!

[2015-10-21 01:28] frewsxcv commented on #8101
FWIW, this how far I get when I attempt (ignore the slow loading, my internet is slow at the moment)

![](https://cloud.githubusercontent.com/assets/416575/10625443/489a0994-7771-11e5-8c45-87b6416712d2.gif)

[2015-10-21 01:39] jdm commented on #8101
That's #8100.

[2015-10-21 01:41] frewsxcv commented on #8100
GIF of this in action:

![](![](https://cloud.githubusercontent.com/assets/416575/10625443/489a0994-7771-11e5-8c45-87b6416712d2.gif))

[2015-10-21 02:02] jdm opened #8107 "Text cursor appears in wrong position for password inputs"
Perhaps it's something about multibyte characters? It usually falls behind the actual character display and doesn't appear to catch up.

[2015-10-21 02:04] jdm opened #8108 "Clicking "log in or sign up" link on reddit makes a bunch of HTML appear in a box overlay"
![screenshot from 2015-10-20 21 03 46](https://cloud.githubusercontent.com/assets/27658/10625834/24634642-776e-11e5-8675-f1467f01aa41.png)

[2015-10-21 02:20] jdm opened #8110 "Clicking on the "X" link for github announcements navigates to a 404 page"
I am guessing that they're anchor elements with an onclick that doesn't end up preventing navigation in Servo.

[2015-10-21 03:00] jdm opened #8113 "Form submission to file:// and about: URLs silently fails"
[code]
This form navigates correctly to other.html if it's run under an HTTP server (such as `python -m SimpleHTTPServer`), but does nothing if it's run from the local filesystem. We should correct this by fixing the "Step 18" implementation in `HTMLFormElement::submit` by adding a handler for the "file" scheme along with "ftp", etc.

Unfortunately it's not clear to me that it's possible to write

[2015-10-21 03:32] glennw commented on #8081
I had a brief look at this but didn't really get anywhere - after navigation it seems to get the main pipeline listed twice in the layer tree, and the iframe layers are not present. @pcwalton are you able to take a look at this one? It seems to have started happening after https://github.com/servo/servo/commit/c72d0c2ed04f6c5f9fa22a3f576e1df5878f941d.

[2015-10-21 03:37] jdm commented on #8113
This should also add a similar handler for `about:` URLs.

[2015-10-21 03:57] craftytrickster commented on #8001
I can't seem to figure this out. I notice that in `fn flush_inline_fragments_to_flow_or_list`, if the bullet is called with an outside style it only has once item of fragments.fragments (it is missing the bullet fragment), yet when it is called with inside, it has both the bullet fragment as well as the x fragment. However, I lose the trail after that.

[2015-10-21 04:21] #8106 closed

[2015-10-21 04:26] eefriedman commented on #8113
It should be possible to write an automated test using a iframe which checks the behavior of form submission to `about:blank`, I think.  (Like you said, it's probably not possible to write tests for `file://` URLs using the wpt test framework.)

[2015-10-21 04:41] glennw commented on #8001
Could you run with -Z dump-flow-tree,dump-display-list for both the inside and outside case, and paste that information here? I wonder if the layer size is incorrect for the outside case or something like that.

[2015-10-21 05:05] eefriedman opened #8116 "Text disappears with certain rotateY settings"
The following shows nothing:

[code]

The following shows text:

[code]

This is on Ubuntu 14.04 in a virtual machine, if that makes a difference.

[2015-10-21 05:19] eefriedman opened #8117 "Bad interaction between float and padding"
Testcase:

[code]

In servo, somehow the "x" ends up overlapping the "d".

[2015-10-21 05:35] eefriedman opened #8118 "Overflow not computed correctly for list item flows"
[code]

The way this testcase behaves might depends on your fonts... but on my computer, the bullet is cut in half.

I'm pretty sure the cause is missing code in `compute_overflow` on `ListItemFlow`.

[2015-10-21 05:36] eefriedman commented on #8001
I took a look with craftytrickster@be54c80; there's multiple things going wrong here:

1. The bullet is somehow getting positioned relative to the block, so it ends up to the right of the "x".  I think this has something to do with the implementation of `compute_absolute_position` on `ListItemFlow`, and maybe a couple of other layout methods which have stubbed-out implementations. This is closely

[2015-10-21 05:37] eefriedman commented on #8074
Another related testcase:

[code]

Same issue: the bullet ends up on top of the x.

[2015-10-21 06:45] paulrouget commented on #7666
Crash fixed. I guess we can now update. PR: https://github.com/servo/servo/pull/8119

[2015-10-21 07:55] eefriedman commented on #8001
It's probably worth submitting a PR just to fix the `list-style-position: inside;` case; we don't have to fix everything at once.

[2015-10-21 08:09] SimonSapin commented on #8053
@0X1A, great! Feel free to ask questions here or on IRC (#servo on irc.mozilla.org).

[2015-10-21 08:19] Manishearth opened #8120 "Intermittent failure in /_mozilla/css/border_collapse_simple_a.html"
https://github.com/servo/servo/pull/8119#issuecomment-149806757

[code]

[2015-10-21 08:23] #7666 closed

[2015-10-21 10:01] paulrouget opened #8122 "overflow:hidden changes the stacking order"
[code]

<img width="562" alt="screen shot 2015-10-21 at 11 58 11" src="https://cloud.githubusercontent.com/assets/373579/10633466/1cd76bce-77eb-11e5-99a7-ff93c1ad72bc.png">

[2015-10-21 10:26] paulrouget opened #8123 "stacking order issue with transform"
[code]

<img width="441" alt="screen shot 2015-10-21 at 12 26 12" src="https://cloud.githubusercontent.com/assets/373579/10634003/fe2d2af2-77ee-11e5-852c-4ac87a7f02b5.png">

[2015-10-21 10:27] paulrouget commented on #8123
erf, dupe of https://github.com/servo/servo/issues/7779

[2015-10-21 10:27] #8123 closed

[2015-10-21 10:47] Ms2ger opened #8125 "Update http://doc.servo.org/servo/script/dom/index.html#inheritance"
CC @nox

[2015-10-21 11:18] Ms2ger opened #8126 "Remove unnecessary rooting from `CSSStyleDeclaration`"
Most methods on `CSSStyleDeclaration` start with

[code]

This is no longer necessary; the code below can use `self.owner` directly.

Code: `components/script/dom/cssstyledeclaration.rs`

[2015-10-21 11:30] romankl commented on #8126
Could I take a look at this one?

[2015-10-21 12:01] Ms2ger opened #8127 "Intermittent failure of /_mozilla/css/jumpiness_a.html"
The failure shows that it lacks the underline.

[2015-10-21 12:16] frewsxcv commented on #8126
Go for it!

[2015-10-21 12:38] Ms2ger opened #8128 "Define allow_wrap, preserve_newlines, preserve_spaces methods on style::computed_values::white_space::T"
Currently, we have `white_space_allow_wrap`, `white_space_preserve_newlines`, and `white_space_preserve_spaces` methods on `Fragment` (`components/layout/fragment.rs`). It would be nicer to have those methods on `white_space::T` instead, replacing the existing calls with `white_space().allow_wrap()`, etc, and using the method in `components/layout/wrapper.rs` as well.

Calling @SimonSapin since I

[2015-10-21 12:55] craftytrickster commented on #8001
Thanks for placing the summary. I am still new to Rust and Servo, so it is good to get additional insight. I can do display tree / list output when I get home tonight. As for the PR, I if it is helpful, I can at least open it now.

[2015-10-21 13:18] nox opened #8130 "Reorganise some DOM modules"
We could improve our DOM code base by moving things around. For example, the `Castable` trait could be moved from `dom::bindings::conversions` to a new module `dom::bindings::inheritance`, and the various functions related to XML names in `dom::bindings::utils` could be moved to a separate module too. In general, we should try to remove the need for "utils" or "misc" modules and find a proper plac

[2015-10-21 13:31] larsbergstrom opened #8131 "Add notification when EC2 is not spinning up"
According to:
http://docs.buildbot.net/latest/manual/cfg-buildslaves-ec2.html#configure-the-master-with-an-ec2latentbuildslave

We should be able to add some notification stuffs to:
https://github.com/servo/saltfs/blob/master/buildbot/master/master.cfg#L57

An e-mail address seems... awkward, though. Any ideas on how to maybe have it ping `#servo` instead?

cc @metajack @edunham

[2015-10-21 13:40] jdm commented on #8120
There's a one pixel difference in the output. Looks like a layout problem to me.
<img width="819" alt="screen shot 2015-10-21 at 9 39 33 am" src="https://cloud.githubusercontent.com/assets/27658/10638200/aea06808-77d7-11e5-83d5-52159b9dee55.png">

[2015-10-21 13:50] Ms2ger commented on #8130
Ref #433

[2015-10-21 14:05] jdm commented on #8131
`fennectbot` could log into a mail account every N minutes and report new failures!

[2015-10-21 14:32] #8125 closed

[2015-10-21 15:07] #8105 closed

[2015-10-21 16:09] edunham commented on #8131
It's pretty easy to make a Buildbot notify a given IRC channel on preset status events:

https://github.com/rust-lang/rust-buildbot/blob/master/master/master.cfg#L1791

However, the notifications can get kind of spammy. Do you think the benefits of keeping `#servo` a mostly-humans environment would outweigh the inconvenience of having everyone who cares join a `#servo-bots` channel?

[2015-10-21 16:44] SimonSapin commented on #8128
This sounds like layout behavior on a type that’s defined on the style crate. If you really want a method on that type, it’d have to be in an extension trait. Whitespace is text and text is inline, so `inline.rs` sounds relevant.

[2015-10-21 18:12] #8131 closed

[2015-10-21 18:35] Manishearth opened #8134 "Add `./mach clippy`"
Currently, to run clippy you have to run `./mach cargo build --features="script/plugins/clippy"`.

We should add a `./mach clippy` which calls `cargo build --features="script/plugins/clippy` under the hood.

Code: https://github.com/servo/servo/blob/master/python/servo/devenv_commands.py

See https://github.com/servo/servo/blob/master/python/servo/devenv_commands.py for reference, though this does

[2015-10-21 19:18] asajeffrey opened #8135 "Node::remove_child not dirtying the parent"
In https://github.com/servo/servo/blob/master/components/script/dom/node.rs, we have:

    fn remove_child(&self, child: &Node) {
        ...
        document.content_and_heritage_changed(child, NodeDamage::OtherNodeDamage);
   }

so the child is being dirtied, but the parent isn't.

[2015-10-21 19:54] nox commented on #8130
The module `dom::bindings::inheritance` could also re-export the `TypeId` enums found in `dom::bindings::codegen::InheritTypes`.

[2015-10-21 20:17] 0X1A commented on #8053
@SimonSapin So, changing the fonts to their generic counterparts does not solve the tests and I get a fail for both.

Changing `reference/font-family-013-ref.html` to match the changes in `html4/font-family-013.html` gets the test to pass but `font-013.htm` still fails. Any suggestions? I'm guessing the ref's are upstream files?

[2015-10-21 22:02] #7758 closed

[2015-10-21 22:54] craftytrickster commented on #8001
Outside (bullet point is missing)
[code]

[2015-10-21 22:55] craftytrickster commented on #8001
Inside (bullet point is present)
[code]

[2015-10-21 23:08] Manishearth commented on #7785
![servo-reftest-000118-diff](https://cloud.githubusercontent.com/assets/1617736/10652742/b4339f66-7876-11e5-8936-83a693e98c13.png)

is the diff, btw

[2015-10-21 23:29] nerith commented on #8134
I'm working on this.

[2015-10-21 23:55] nox commented on #8130
A new module `dom::bindings::reflector` could hold onto `Reflector`, `reflect_dom_object`, etc.

[2015-10-22 00:30] mdinger commented on #7895
I can't reproduce anymore with 12c618450bc5639901ad499e59e7e4190097a693 so I'll close as WFM.

[2015-10-22 00:30] #7895 closed

[2015-10-22 00:39] mdinger commented on #7635
This no longer sets the CPU racing but it still doesn't look even close to correct with 12c618450bc5639901ad499e59e7e4190097a693 . It basically looks like a blank page though the sidebar sometimes appears.

[2015-10-22 00:42] #6969 closed

[2015-10-22 06:11] farseerfc opened #8146 "glutin can only start from DISPLAY=:0.0"
Hi, I have a multiple display screen setup, which means I have one X instance running on 4 monitors, each have a seperate X screen (not combined by xrandr/xinerama).

If I run the current master branch build (ea000471d345c50791fb524b4ea66ca8f0594b3c) on 3 of my slave monitors (DISPLAY=:0.1 to :0.3), servo will failed with these error:
[code]

If I run servo on my primary screen (whose DISPLAY=:0.0

[2015-10-22 09:31] nxnfufunezn commented on #8102
Working on this..

[2015-10-22 12:47] mmatyas commented on #7881
Currently I'm having `libexpat` errors, apparently `DEP_EXPAT_OUTDIR` doesn't get defined for some reason...

`PKG_CONFIG_ALLOW_CROSS` shouldn't cause problems, I think the X11 lib required it, but maybe they fixed it since then.

It seems your linking command doesn't have any system path in it (eg. `"-L" "/usr/lib/arm-linux-gnueabihf"`). I didn't have this issue before, but I did have a problem w

[2015-10-22 13:11] jdm commented on #8146
@glennw any recommendation here?

[2015-10-22 13:11] jdm commented on #8146
@zmike may also have ideas.

[2015-10-22 13:52] #8102 closed

[2015-10-22 13:57] jdm opened #8154 "Convert match to `if let` in handle_window_event"
We match on `Window::glutin_key_to_script_key` but only care about an Ok result. This means we can rewrite it as an `if let` statement instead.

Code: ports/glutin/window.rs

[2015-10-22 14:19] jdm opened #8156 "Accept Brotli-compressed HTTP responses"
There's a new [library](https://github.com/ende76/compression) to decompress Brotli data which we can use. This requires adding a new value to the Accept-Encoding header that we send (`set_default_accept_encoding`) and setting up the appropriate decoder when we encounter the `Content-Encoding` header in `StreamedResponse::from_http_response`. We'll also need to update Cargo.toml with the new depen

[2015-10-22 14:40] Ms2ger opened #8157 "XMLHttpRequest/send-entity-body-document.htm intermittently fails"

[2015-10-22 14:51] LifeIsStrange commented on #8156
Hi ! In the issue that I have referenced, https://github.com/eustas say that Firefox 44 already support brotli but why Firefox not use this rust library https://github.com/ende76/compression as a common library shared with servo instead of duplicate the work ?

[2015-10-22 14:52] jdm commented on #8157
[code]

This line from a bit earlier in the log is plausibly related:
[code]

[2015-10-22 14:54] jdm commented on #7995
@s142857 You're welcome to work on this!

[2015-10-22 14:57] jdm commented on #8156
I assume Firefox is using a battle-tested implementation that's shared with Blink and the work started before Firefox got the ability to integrate Rust code in the build. This library was literally released today :)

[2015-10-22 15:04] LifeIsStrange commented on #8156
Oh okay ^^ thanks !

[2015-10-22 15:29] Ms2ger commented on #8157
It's not related; `form.py` is only used in `send-data-formdata.htm`.

[2015-10-22 15:38] jdm opened #8158 "Implement unspecified websocket close code"
`tests/wpt/web-platform-tests/websockets/Secure-Close-1005-verify-code.htm` is a test that closes the websocket connection without a specified code (ie. the optional first argument is missing). Our implementation chooses not to send a status code in this case, but [the specification](https://tools.ietf.org/html/rfc6455#section-7.1.5) says that we should default to 1005 in this case in `WebSocket::

[2015-10-22 16:43] mbrubeck opened #8159 "Error in generated binding for variadic argument of type that needs rooting"
The following WebIDL (where `Touch` is as defined in #7204):

[code]
causes this compile error:
[code]

The generated trait method signature is:
[code]

and the generated binding is:

[code]

[2015-10-22 17:15] Manishearth commented on #8134
https://github.com/servo/servo/issues/8144

[2015-10-22 17:15] #8134 closed

[2015-10-22 17:34] A-deLuna commented on #8154
I'd like to work on this

[2015-10-22 18:11] jdm commented on #8154
Please do!

[2015-10-22 18:12] mbrubeck opened #8160 "Implement document.createEvent("TouchEvent")"
This is a follow-up to issue #7204.

In the [Document::CreateEvent](https://github.com/servo/servo/blob/e05999ea9f4883c85939b209f811ae20e9e9e89c/components/script/dom/document.rs#L1325) method, add a case for `"touchevent"` that creates and returns a new TouchEvent.

The TouchEvent constructor takes three TouchList arguments.  You can create an empty TouchList by calling `TouchList::new` with an e

[2015-10-22 22:55] eefriedman opened #8164 "Fix document.title setter for SVG documents to match spec changes"
See https://github.com/whatwg/html/commit/f7ff53e761a9fc813d9765073e2752d42347f0b6 .  The relevant code in Servo is https://github.com/servo/servo/blob/dcd207f9bf15c9ecf5d043385ba93277e69201f6/components/script/dom/document.rs#L1495 .

Should be easy to fix... ~~the only potentially tricky bit is that Servo can't parse SVG at the moment, so testing it involves synthesizing an SVG document using DO

[2015-10-22 23:34] glennw commented on #8146
Could you paste the output of glxinfo from the first display (that works) and one of the displays that doesn't work?

[2015-10-23 00:50] gilles-leblanc commented on #8122
If this one is free for the taking I would like to have a look into it.

[2015-10-23 03:21] nxnfufunezn commented on #8156
I'll take this on if you want.

[2015-10-23 04:21] farseerfc commented on #8146
Sure, this is the output of glxinfo from my primary screen (too long so I uploaded to dropbox):
https://www.dropbox.com/s/n78mmti21sekg09/0.0.txt?dl=0

And this is from my second screen:
https://www.dropbox.com/s/e3xiy2mnigjzgc1/0.1.txt?dl=0

[2015-10-23 04:26] jdm commented on #8156
@nxnfufunezn Please do :)

[2015-10-23 04:34] jdm commented on #8122
Sure looks like it!

[2015-10-23 05:48] paulrouget commented on #7816
We should keep a list of finished animations, then at the next cascade, we can update the property value. Also, if animations are not finished, we should cancel them and update the style according to the current time.

@pcwalton does this require some big changes or it's just a matter of piping the right things together? In other words, do you think I can fix that or it's better if you take care o

[2015-10-23 07:20] paulrouget opened #8166 "Subpixel positioning fails since ac5525a"
When an iframe is present in the document, `top:0.5px` is drawn at `1px`.

It's started with ac5525a.

[code]

[2015-10-23 07:24] paulrouget commented on #8166
/cc @mrobinson

[2015-10-23 07:30] Ms2ger commented on #8159
This is probably because `CGPerSignatureCall.getArguments` doesn't check whether the argument is variadic. I suspect adding that check would fix this (but note the duplicated code in `CGProxySpecialOperation.getArguments`).

[2015-10-23 07:45] paulrouget commented on #8166
Using `to_nearest_pixel` instead of `to_nearest_px` in `components/gfx/paint_task.rs` appears to solve the issue. I'll submit a PR.

[2015-10-23 08:41] paulrouget commented on #8166
I don't know how to get the pixel density in `build_layer_properties`. Usually, we use `page_rect` and `screen_screen`, but here, I don't know how to get this info.

[2015-10-23 12:13] #8154 closed

[2015-10-23 13:06] ax3lst commented on #8160
I can do this one

[2015-10-23 14:45] waddlesplash commented on #7036
#7204 was merged.

[2015-10-23 14:59] #7036 closed

[2015-10-23 20:14] connorimes opened #8173 "Support using --features argument with --android in mach"
Currently you can't run a command like:
<pre>
./mach build -d --features "energy-profiling" --android
</pre>
Instead we need to run:
<pre>
./mach build -d --features "energy-profiling" --target=arm-linux-androideabi
</pre>
It's not a big deal, but would be a nice addition to support features when specifying android.

[2015-10-23 20:29] connorimes commented on #8173
FYI, when running the first command, the error is:
<pre>
Invalid arguments.

Usage:
    cargo build [options]
</pre>

[2015-10-23 20:40] mbrubeck commented on #8173
The relevant code is in [build_commands.py](https://github.com/servo/servo/blob/6f59acdd0a5c3f37b243daa8dcc30908f3f3bfd3/python/servo/build_commands.py#L125-L247).

The problem is that the `--features` option from the command line is passed through to cargo as part of the `params` variable, while [this code](https://github.com/servo/servo/blob/6f59acdd0a5c3f37b243daa8dcc30908f3f3bfd3/python/servo/

[2015-10-23 21:02] frewsxcv commented on #1230
@Yoric Are you actively working on this?

[2015-10-24 08:54] nxnfufunezn commented on #8173
I can do this if you want..

[2015-10-24 14:14] jdm opened #8177 "Implement websocket subprotocol negotiation"
Spec: https://html.spec.whatwg.org/multipage/comms.html#the-websocket-interface:dom-websocket-protocol and https://tools.ietf.org/html/rfc6455#section-1.9
Tests: `./mach test-wpt tests/wpt/web-platform-tests/websockets/`

There are a bunch of tests that fail because the `websocket.protocol` attribute is missing from `WebSocket.webidl`. There are also a number of tests that fail because they rely o

[2015-10-24 14:36] romankl commented on #8126
PR #8137 landed and fixed this issue

[2015-10-24 14:46] anoukruhaak commented on #8177
Thanks for creating this issue! I hope to make a PR tomorrow :)

[2015-10-24 16:01] simartin commented on #8113
I'll give this one a try.

[2015-10-24 17:01] ende76 commented on #8156
@nxnfufunezn @jdm GitHub should forward automatically, but in case it doesn't:
I have renamed the repo to https://github.com/ende76/brotli-rs and implemented a whole bunch of changes to simplify the code and usage over the last couple of days.
Also, it's now actually feature-complete.
Let me know if it would make your lives easier if I put it on crates.io. I do plan on doing that, but have held of

[2015-10-24 17:57] frewsxcv opened #8179 "Implement 'activation behavior' for <label> elements"
https://html.spec.whatwg.org/multipage/#the-label-element:the-label-element-10

[2015-10-24 18:05] martiansideofthemoon commented on #8179
@frewsxcv I would like to do try my hand at this issue. Where do I start?

[2015-10-24 18:07] frewsxcv commented on #8179
@Manishearth knows more about this than I do. For starters though, we might want to wait until https://github.com/servo/servo/pull/8178 merges since it implements the `control` attribute logic which will presumably be used by the 'activation behavior'.

[2015-10-24 18:10] martiansideofthemoon commented on #8179
Alright, do let me know :smile:

[2015-10-24 18:19] Manishearth commented on #8179
This isn't an easy issue (or even less easy), not until we figure out exactly what needs to be done here. The spec tells us to "do whatever the platform does", but that doesn't instruct us on how to handle mutation of the `for` attr in event handlers.

The main issue is that during the execution of one of the event handlers during activation, the `for` attribute might be mutated, so the post activ

[2015-10-24 18:28] Manishearth commented on #8179
Actually, the spec also mentions

I'm okay with doing that. In this case, add an impl of `Activatable` to HTMLLabelElement (make sure to add an entry in `as_maybe_activatable`), similar to that in htmlanchorelement.rs, htmlinputelement.rs, and htmlbuttonelement.rs.

The instance is only activatable if `GetControl()` exists (I think? perhaps it is activatable in all cases -- we'll have to verify th

[2015-10-24 18:47] frewsxcv opened #8180 "'type' attribute on HTMLInputElement should be stored as an Atom"
https://reviewable.io/reviews/servo/servo/8178#-K1Q3RsxGBXZZgSAVFe2

[2015-10-24 18:50] connorimes commented on #7881
I was finally able to get it to cross-compile, though I can't run it on my target system because of incorrect gcc and ABI versions.  I've run into various errors along the way, but don't recall that particular error for `libexpat`.

[2015-10-24 18:52] connorimes commented on #7881
I'll close this issue as the original problem is solved.  We can open new ones for different problems as they come up.

[2015-10-24 18:52] #7881 closed

[2015-10-24 19:13] jdm commented on #8113
@simartin That would be great!

[2015-10-24 19:13] jdm commented on #8156
crates.io vs. github makes no difference to us at the moment, since we're not trying to publish servo on crates.io.

[2015-10-24 19:33] #8126 closed

[2015-10-25 03:12] frewsxcv commented on #3368
For what it's worth, this PR caused a regression and Google News now panics: https://github.com/servo/servo/issues/8093

[2015-10-25 07:45] nox opened #8184 "Support [Alias]"
https://developer.mozilla.org/en-US/docs/Mozilla/WebIDL_bindings#Alias

This would have been useful for #8183.

[2015-10-25 09:24] Ms2ger commented on #8184
That would also have been incorrect. Test: `assert_not_equals(Element.prototype.matches, Element.prototype.webkitMatchesSelector)`.

[2015-10-25 09:25] nox commented on #8184
@Ms2ger Oh. I see.

[2015-10-25 09:50] Ms2ger commented on #8156
Is this something that would make sense to implement in hyper?

[2015-10-25 10:04] nox commented on #8159
I would rather make it pass `&[&T]` instead of just removing that `.r()` call, no?

[2015-10-25 10:06] Ms2ger commented on #8159
I guess a `Vec<Root<T>>` is useless anyway. We could go either way.

[2015-10-25 11:52] nox commented on #8159
Sounds like making the proper thing (`&[&T]`) is more complex than just removing the `.r()` call, for now.

[2015-10-25 12:29] nox commented on #8159
Especially because I think the `RootedVec::new()` then needs to be moved outside the block that defines `arg0`, so that it doesn't end up moved.

[2015-10-25 12:44] nox commented on #8159
So I managed to get the code to compile:

[code]

But I'm pretty sure this will fail at runtime when the RootedVec is dropped. Will write a test.

[2015-10-25 13:27] jdm commented on #8156
Possibly, but right now all our content decoding work is done in Servo.

[2015-10-25 14:35] jdm opened #8189 "Mac builder intermittently panics while creating OpenGL context"
[code]

[2015-10-25 16:07] jdm opened #8191 "Intermittent failure in /_mozilla/css/last_of_type_pseudo_a.html"
Looks like a layout issue.
<img width="827" alt="screen shot 2015-10-25 at 12 06 36 pm" src="https://cloud.githubusercontent.com/assets/27658/10716475/dfb1aab0-7b10-11e5-875d-92ad4b18965e.png">

[2015-10-25 17:36] jdm opened #8194 "Make test-wpt run with RUST_BACKTRACE=1 by default"
This is a particularly bad problem because the script task usually double-panics if a panic occurs, and rust always prints out the backtrace for the second one. This makes people focus on the wrong panic.

Code: python/servo/testing_commands.py

[2015-10-25 18:40] #8064 closed

[2015-10-25 20:01] nox commented on #8159
Yes, this panics.

[2015-10-25 20:56] romankl commented on #8003
Mind me asking, is someone working on it or could I take a look at it?

[2015-10-25 21:19] eefriedman commented on #8003
Nobody is working on it as far as I know.

[2015-10-25 21:33] simartin commented on #8113
Patch is ready; now working on an automated test using the suggestion eefriedman did.

[2015-10-25 22:04] glennw opened #8198 "Support running test-css with the webrender backend."
cc @jgraham as requested :)

The webrender code currently lives in https://github.com/glennw/servo/tree/webrender - so it would probably make sense to make a PR there, and then that can be merged when the whole webrender integration lands.

It is currently enabled by passing -w on the command line to servo, although that may change in the future (we should perhaps clean up the whole -c, -g, -g opt

[2015-10-25 22:59] jgraham commented on #8198
I have a patch that provides the framework for this in wptrunner.

[2015-10-25 23:47] jgraham commented on #8198
https://github.com/w3c/wptrunner/pull/151

[2015-10-26 01:06] gsnedders commented on #8053
@0X1A Do you have your changes anywhere?

[2015-10-26 02:34] nxnfufunezn commented on #8194
I am taking this one!

[2015-10-26 12:41] spudowiar commented on #4032
Why not just use `#!/usr/bin/env python2`?

[2015-10-26 13:35] nxnfufunezn opened #8207 "Add wpt-test for brotli compression"
Python library which can be used [brotlipy](https://github.com/python-hyper/brotlipy/)
Tests has to be implemented like this [gzip.py](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/XMLHttpRequest/resources/gzip.py)
For more info see here : https://github.com/servo/servo/pull/8192

[2015-10-26 13:49] jdm commented on #8207
Our policy is to require tests for all new features, so #8192 will need one before merging.

[2015-10-26 14:15] farodin91 commented on #6963
I like to work on it.
Some Questions before a start to work.
Can help me someone, who work on it in firefox?
I need to create many WebIDLs, is possible to create a folder like "indexed". To add all files inside this folder, for example http://mxr.mozilla.org/mozilla-central/source/dom/

[2015-10-26 14:17] Manishearth commented on #6963
cc @nox

Note that this is a pretty large project.

To start, you'll need to pick a backend and write Rust bindings for it. We were thinking SQLite4 or a LevelDB fork, probably the former.

[2015-10-26 14:24] Ms2ger opened #8209 "Is Window::force_reflow racey?"
From `Window::force_reflow`:
[code]

This was added in <https://github.com/servo/servo/commit/dafd0b652d8b5452e485a8430c8e120029fcdbbd> (<https://github.com/servo/servo/pull/3164>).

@cgaebel, what's up here?

[2015-10-26 14:36] jdm commented on #6963
@farodin91 We don't support subdirectories in dom/ yet; I don't think it's worth blocking on that.

[2015-10-26 14:36] Manishearth commented on #6963
@jdm Technically we just need to use reexports and it will work fine.

[2015-10-26 14:38] nox commented on #6963
@Manishearth SQLite 4 suffers from a complete lack of bindings and my days are unfortunately made of 24 hours like everyone. :(

[2015-10-26 15:04] farodin91 commented on #6963
@Manishearth I can start with building an rust api for SQLite 4.

[2015-10-26 15:08] jdm commented on #6963
That sounds valuable :)

[2015-10-26 15:29] frewsxcv commented on #8179
Update: https://github.com/servo/servo/pull/8178 has merged

[2015-10-26 15:52] farodin91 commented on #6963
I like to write a binding in rust for SQLite. Any prefer which lib to use for it?

[2015-10-26 15:54] Manishearth commented on #6963
There is only one SQLite 4 :smile:

https://sqlite.org/src4/tree?ci=trunk

https://sqlite.org/src4/doc/trunk/www/index.wiki

[2015-10-26 16:09] farodin91 commented on #6963
This is my first time to create an rust binding. Is there a small example for it

[2015-10-26 16:13] tschneidereit opened #8211 "Remove DocumentProgressTask enum"
Once #7979 lands, the enum will only have one variant, so should be removed.

[2015-10-26 16:17] jdm commented on #6963
https://doc.rust-lang.org/book/ffi.html is a good start.

[2015-10-26 16:41] #3044 closed

[2015-10-26 17:52] jdm commented on #8000
Claiming this for a potential contributor; please don't work on this unless you talk to me first!

[2015-10-26 18:36] 0X1A commented on #8053
@gsnedders Yes, the changes [are available here](https://github.com/0X1A/servo/commit/0525b1abcdafd6d253769b4c4814873c4e643d71)

[2015-10-26 19:37] jdm opened #8213 "Implement Blob variant of WebSocket.send"
Spec: https://html.spec.whatwg.org/multipage/comms.html#dom-websocket-send and https://html.spec.whatwg.org/multipage/comms.html#the-websocket-interface:dom-websocket-send

We only support sending strings right now. We should refactor the websocket code to have a `send_impl` method that contains the common behaviour for all variants, and add one for dealing with Blobs that extracts the blob conten

[2015-10-26 19:38] jdm commented on #8213
This is claimed for a potential contributor; please talk to me before working on it.

[2015-10-26 19:45] #7995 closed

[2015-10-26 19:59] glennw commented on #8146
There's nothing obviously wrong to me there. The next step is probably to run under gdb, place a breakpoint at https://github.com/servo/glutin/blob/servo/src/api/x11/xdisplay.rs#L37 and paste the backtrace of the first few errors that occur.

[2015-10-26 20:04] nox commented on #6963
Please note that SQLite resides in a Fossil repository. I had started writing bindings for them, but it's very primitive for now. I can push that somewhere this week if you want.

[2015-10-26 20:22] farodin91 commented on #6963
I create an repo for this. I can start to work on it this week.
Thank you.

[2015-10-26 20:24] frewsxcv commented on #8093
Looks like this was potentially fixed with https://github.com/PistonDevelopers/image/issues/475. We just need an 'image' dependency upgrade....

[2015-10-26 21:03] mbrubeck commented on #7127
In #5965 (and related discussion in the linked issues and on the mailing list) we decided to require either `--dev` or `--release` for the initial build.  This is because choosing either as a default would lead to people wasting time by using the "wrong" profile (e.g. benchmarking a development build, or doing development and testing with a release build).

If you have previously built just one pr

[2015-10-27 02:39] gsnedders commented on #7625
Even without the MS fonts installed shouldn't they still pass?

The final stage of font matching algorithm is:

That means the essentially the test becomes equivalent to:

[code]

[2015-10-27 02:42] gsnedders commented on #8053
That passes for me locally, FWIW.

[2015-10-27 02:43] gsnedders commented on #8053
As I just commented in #7625 I'm leaning towards there being some bug in the font-matching code?

[2015-10-27 03:11] eefriedman commented on #1301
This was fixed.

[2015-10-27 03:11] #1301 closed

[2015-10-27 03:17] eefriedman commented on #1696
This works on master.

[2015-10-27 03:17] #1696 closed

[2015-10-27 03:27] nikkisquared commented on #8213
I'm working on this here https://github.com/servo/servo/pull/8218!

[2015-10-27 04:37] eefriedman commented on #5585
This appears to work correctly on master.  Am I missing anything?

[2015-10-27 04:39] eefriedman commented on #5446
This was fixed in #7523.

[2015-10-27 04:39] #5446 closed

[2015-10-27 04:48] eefriedman commented on #6684
Fixed in #8026.

[2015-10-27 04:48] #6684 closed

[2015-10-27 05:06] nxnfufunezn commented on #8207
As jgraham pointed out that brotlipy has some third party components that requires compilation and currently there is no wpt that has this issue.
So what should we do here ?

[2015-10-27 05:25] wenderen commented on #8130
I can work on this.

[2015-10-27 05:28] eefriedman opened #8219 "Implement `:lang` CSS pseudo-class"
Spec: http://www.w3.org/TR/selectors/#lang-pseudo .  Information about how to actually determine the language of an element in HTML: https://html.spec.whatwg.org/multipage/dom.html#language .  The XML specification has similar language: http://www.w3.org/TR/2008/PER-xml-20080205/#sec-lang-tag .

Requires some changes to https://github.com/servo/rust-selectors so it can parse `:lang`.

Should be st

[2015-10-27 05:33] eefriedman commented on #8207
For a one-off test, maybe you could just stick a binary file into the testsuite?

[2015-10-27 05:50] nxnfufunezn commented on #8207
yeah..we can do that..

[2015-10-27 05:59] eefriedman opened #8220 "Resolved value (getComputedStyle) of "top" isn't computed correctly"
[code]

The obvious value for `top` is `0px`; Servo comes up with `-30px` because it's computing the position relative to the stacking context, not the absolute containing block.

[2015-10-27 06:19] dzbarsky commented on #8220
getComputedStyle is pretty complex and isn't specced in much detail =/

[2015-10-27 09:51] wenderen commented on #8130
I have patches for everything except the `TypeId` enums bit. Can you clarify what needs to be done there? Do we need all instances of `use script::dom::bindings::codegen::InheritTypes::[...]` to be replaced by `use script::dom::bindings::codegen::inheritance::[...]`?

[2015-10-27 09:52] nox commented on #8130
By `use script::dom::bindings::inheritance::…;` yes.

[2015-10-27 10:07] wenderen commented on #8130
Sorry, typo. Thanks.

[2015-10-27 10:28] Yoric commented on #1230
@frewsxcv Not at the moment.

[2015-10-27 10:36] #5585 closed

[2015-10-27 12:56] jooert commented on #6739
I think this has been implemented in #7835 and can be closed. :smiley:

[2015-10-27 13:14] jooert commented on #5494
I'm not @pcwalton, but I think @jseaton has implemented animations for all properties listed in the spec, as far as I can tell from #5704; so this should be closed? :smiley:

[2015-10-27 13:35] jdm commented on #5494
Yeah, we'll open new issues for anything that's missing.

[2015-10-27 13:35] #5494 closed

[2015-10-27 13:36] jdm commented on #6739
Thanks!

[2015-10-27 13:36] #6739 closed

[2015-10-27 14:14] craftytrickster commented on #8116
I'm using 14.04 as well (as my desktop), except that I do not see anything even with -40. I only start to see something with -38.

[2015-10-27 16:16] KMBrothern commented on #8000
I am new to this project and currently working on this item. I have started reading the docs listed above for context and clarification.

[2015-10-27 18:18] nfallen commented on #6638
I can work on this!

[2015-10-27 18:19] #7968 closed

[2015-10-27 18:28] jdm opened #8225 "Implement Document.createTouchList"
Spec: https://w3c.github.io/touch-events/#widl-Document-createTouchList-TouchList-Touch-touches and https://w3c.github.io/touch-events/#idl-def-Document

We started implementing support for touch events on websites recently, and some websites want to use an API that we don't implement yet. We need to add the declaration to the WebIDL (next to `createTouchEvent`), and add the corresponding Rust met

[2015-10-27 18:28] jdm commented on #8225
This is reserved for a potential new contributor, so please talk to me before starting to work on this.

[2015-10-27 18:44] jdm commented on #6638
For those following along at home, this is the plan I proposed to @nfallen:
[code]

[2015-10-27 18:48] jdm commented on #8000
The relevant places for modification would be `components/script/dom/webidls/DOMImplementation.webidl`, `components/script/dom/webidls/XMLDocument.webidl`, `components/script/dom/domimplementation.rs`, and `components/script/dom/xmldocument.rs` (as well as `components/script/dom/mod.rs` to add the new `xmldocument` module).

The results of tests like `./mach test-wpt tests/wpt/web-platform-tests/d

[2015-10-27 20:14] #6904 closed

[2015-10-27 20:52] jdm opened #8228 "Intermittent crash in /css21_dev/html4/vertical-align-00{5-8}.htm"
Nothing more than the following, unfortunately:
[code]

[2015-10-27 22:11] glennw commented on #8198
@jgraham Thanks. What is the next step in making this usable in the webrender branch?

[2015-10-27 22:32] mrobinson commented on #8166
I think one issue here is that the layer boundaries are rounded instead of expanded to pixel boundaries. I have a fix for this which depends on https://github.com/servo/app_units/pull/3 (though I don't have a readily accessible hidpi screen to test it on).

[2015-10-27 23:00] glennw commented on #8166
@mrobinson Depending on what you're testing, you may be able to use --device-pixel-ratio=2 even on a non-hidpi monitor to test with.

[2015-10-27 23:01] frewsxcv commented on #8093
Fixed in #8224. Thanks @mbrubeck !

[2015-10-27 23:01] #8093 closed

[2015-10-27 23:03] eefriedman commented on #8118
Fixed in #8145.

[2015-10-27 23:03] #8118 closed

[2015-10-27 23:11] jgraham commented on #8198
Update the version of wptrunner in the servo repo from upstream.  I can make a PR.

[2015-10-27 23:12] jgraham commented on #8198
Oh and to be clear you'll still need to update the wptrunner code more to actually allow webrender as a backend, but do that on your branch and upstreaming the change should be easy.

[2015-10-27 23:44] jgraham commented on #8198
#8230

[2015-10-28 01:09] rocallahan commented on #7833
Does Servo still need to be headless to work with rr 4.0?

On Mesa-based graphics drivers, Mesa should automatically fall back to software GL rendering under rr. With the Nvidia driver, you have to enable indirect rendering via xorg.conf but then it should work. We're running Firefox with GL compositing using both of these methods.

[2015-10-28 01:36] nathansizemore opened #8233 "Mach build error Ubuntu 15.04"
I get the following error when attempting `./mach build --dev`:

[code]

[2015-10-28 02:01] frewsxcv commented on #8233
Can you remove the _virtualenv directory, try building again, and see if you get the same error?

[2015-10-28 02:04] nathansizemore commented on #8233
After that, got this:

[code]

[2015-10-28 02:08] frewsxcv commented on #8233
Looks like a non-servo issue. Maybe try something from here? http://stackoverflow.com/questions/20688034/importerror-cannot-import-name-httpshandler-using-pip

[2015-10-28 02:08] frewsxcv commented on #8233
Sorry, am on mobile right now if that seemed like a lazy response :P

[2015-10-28 02:22] pcwalton opened #8235 "TimerEventRequest is completely un-e10s-safe (blocks e10s from landing)"
Boxed trait objects sent from script to compositor. This is a big no-no.

[2015-10-28 02:23] nathansizemore commented on #8233
Nah, you're fine. It happened to be my python was symlinked to the Android NDKs python from an earlier setup and I forgot to unlink it.

[2015-10-28 02:23] #8233 closed

[2015-10-28 02:55] frewsxcv opened #8236 "Intermittent panic in /css21_dev/html4/left-077.htm"
[code]

[code]

[2015-10-28 03:22] #7774 closed

[2015-10-28 06:39] wenderen commented on #8219
Can I take this?

[2015-10-28 06:57] eefriedman commented on #8219
Sure.  Feel free to ask if you need help.

[2015-10-28 09:33] nox commented on #6633
I'm on the Range part.

[2015-10-28 10:41] Ms2ger opened #8238 "layout_interface::Msg::Reflow should store ScriptReflow rather than Box<ScriptReflow>"
This dates back to <https://github.com/servo/servo/commit/1b030480abdf9c7a36a5dc0bea59e6f6aae63082>; there doesn't seem to be an explanation given there.

@pcwalton, any reason not to do this?

[2015-10-28 11:30] Ms2ger opened #8240 "Layout queries do silly things when the document element is removed"
[code]
yields (784, 784); dropping the `remove()` call yields (784, 0).

[2015-10-28 11:41] fbender commented on #7379
Why not ES6 modules? Let `require` be a polyfill if you really need it. Seems that SpiderMonkey ES6 module support is being worked on currently ([Bug 568953](https://bugzilla.mozilla.org/show_bug.cgi?id=568953) and depending ones).

[2015-10-28 13:26] jdm commented on #8236
That is one of the least informative stack traces I've ever seen.

[2015-10-28 14:25] #6057 closed

[2015-10-28 14:25] Ms2ger commented on #7379
"It's not ready yet." is the main reason. The second reason it that it's hard to evaluate while there's no code or finished spec.

[2015-10-28 14:46] Ms2ger commented on #3415
Easiest part: https://github.com/servo/servo/compare/servo:master...Ms2ger:layout_interface

[2015-10-28 14:49] ioctaptceb commented on #1230
Is anyone currently working on this? I am new to Rust and this looks easy enough to get into it..

Let me know!

[2015-10-28 14:51] frewsxcv commented on #1230
Go for it @ioctaptceb !

[2015-10-28 17:07] notriddle commented on #8240
What does the spec say it should do? What do other browsers do?

[2015-10-28 18:15] eefriedman commented on #8240
https://drafts.csswg.org/cssom-view/#dom-htmlelement-offsetwidth

[2015-10-29 02:03] #8166 closed

[2015-10-29 06:06] farseerfc commented on #8146
Sorry, using gdb to debug rust code is (currently) beyond my ability.

I did a git bisect on glutin and test with `cargo run --example window`, here is my git bisect log:

[code]

I skipped the commits with build errors. I hope this might provide a clue.

I will study and try gdb later.

[2015-10-29 08:05] farseerfc commented on #8146
Here is me trying to get a backtrace from rust-gdb at https://github.com/servo/glutin/commit/6c73209746331f1fe3bac402b58c1702798f7e62
[code]

[2015-10-29 10:42] Ms2ger opened #8246 "Remove MutNullableHeap::get_rooted."
Defined in `components/script/dom/bindings/js.rs`, there's a handful of callers that could be replaced by `get()` (which does the exact same thing).

[2015-10-29 13:07] Manishearth commented on #8179
@martiansideofthemoon Do you intend to work on this?

[2015-10-29 14:46] martiansideofthemoon commented on #8179
@Manishearth :- Sorry for the delay. I tested the things you told me to on Google Chrome.
Here are the results :-

Here I observed both the onclick handlers being executed on pressing the label. Only the checkbox onclick handler was executed on clicking the checkbox

Assuming you meant both the handlers, (of the checkbox and of the label) mutate the `for` attribute,
I observed that both handlers w

[2015-10-29 14:48] Manishearth commented on #8179
Cool. You can start work on the implementation now if you want -- given that the example recommendation of the spec seems to match these results.

[2015-10-29 14:50] martiansideofthemoon commented on #8179
Could you tell me the relevant files? I wasn't clear about what you meant by "same situation as above" in the third and fourth test case you mentioned. Were you referring to the situation in the first case ?

[2015-10-29 14:57] Manishearth commented on #8179
Yep!

Relevant files are htmllabelelement.rs, and `as_maybe_activatable` in element.rs.

[2015-10-29 16:22] Ms2ger opened #8251 "Remove JS::root."
The method is defined in `components/script/dom/bindings/js.rs`.

It should be possible to remove most calls altogether, and use the `JS<T>` where the `Root<T>` return value is currently used. When that isn't possible, `Root::from_ref(&*js)` should work.

[2015-10-29 17:12] pcwalton commented on #8238
No reason not to do this.

[2015-10-29 18:14] nxnfufunezn commented on #8251
I will take this one

[2015-10-29 18:22] fiji-flo commented on #8107
I will take a look. It's similar to my last issue.

[2015-10-29 18:33] jdm commented on #8107
Please do :)

[2015-10-29 18:34] jdm commented on #8251
Please do!

[2015-10-29 19:41] #8207 closed

[2015-10-29 22:28] martiansideofthemoon commented on #8179
@Manishearth do I need to write [1] inside the `as_element` function or do I need to implement it like in [2] ? Also do I have to code all the `Activatable` functions like in htmlinputelement.rs?
[1] - https://github.com/servo/servo/blob/af8a1cb8a03e661f27c738512254a8f31915f3ba/components/script/dom/htmlelement.rs#L177-L179
[2] -
https://github.com/servo/servo/blob/674589c370d978f543e71f995d58c5b2

[2015-10-29 22:36] Manishearth commented on #8179
Like [1]

Most of the Activatable functions should be blank. as_element should have a regular impl, `is_instance_activatable` should return true (though this is a grey area), leave implicit_submission blank for now (we need to check if it's possible to select labels, and if so, submit using them.), and activation_behavior should run synthetic click on the target if possible. The others should be e

[2015-10-30 01:54] #8246 closed

[2015-10-30 02:29] eefriedman commented on #7870
I think the problem here isn't that the font fails to load... it just fails to load in time for the reftest screenshot.  When I look at the test using just "./mach run", I can see it initially paints with the wrong font, then repaints with the correct font.

In addition to making reftests fail, this seems bad for performance: we're doing extra, useless reflows.

[2015-10-30 05:52] eefriedman opened #8258 "Intermittent failure /css21_dev/html4/font-146.htm"
From linux-rel:

[code]

[2015-10-30 06:07] eefriedman commented on #8258
Err, nevermind; this isn't intermittent.

[2015-10-30 06:07] #8258 closed

[2015-10-30 09:23] Ms2ger commented on #8238
The code is in `components/script/layout_interface.rs` and `components/script/dom/window.rs`.

[2015-10-30 09:57] Ms2ger opened #8259 "query, fragment get lost when evaluating javascript: urls"
The new document should read "true", not "blah" in the following test cases:

Manual:

[code]

Automated (doesn't work in Servo; iframe load event doesn't seem to be fired):

[code]

Spec: https://html.spec.whatwg.org/multipage/#javascript-protocol
Code: `ScriptTask::load` in `components/script/script_task.rs`

[2015-10-30 13:39] martiansideofthemoon opened #8263 "Investigate and implement implicit submission for label elements"
#8260

[2015-10-30 14:55] Ms2ger opened #8264 "Investigate DOMString -> JSString caching."
CC @nox @asajeffrey

Gecko has a one-string-per-zone cache, implemented at <https://mxr.mozilla.org/mozilla-central/source/js/xpconnect/src/xpcpublic.h?rev=c5cbaa0e4e4c#227> and keyed on the address of the (refcounted) `nsStringBuffer` class.

[2015-10-30 16:18] frewsxcv opened #8269 "Tidy check to make sure manifest items are in order"
To prevent us from having to do things like this: https://github.com/servo/servo/pull/8268

[2015-10-30 16:28] Ms2ger commented on #8259
Thanks to @zcorpan, for fragment:
[code]

[2015-10-30 16:41] frewsxcv opened #8270 "Running update-wpt or create-wpt results in XML files getting added to manifest"
`./mach create-wpt --no-editor tests/wpt/web-platform-tests/html/rendering/non-replaced-elements/the-hr-element-0/width.html`

[code]

[2015-10-30 16:41] frewsxcv commented on #8270
/cc @jgraham

[2015-10-30 16:47] mbrubeck opened #8271 "Benchmark the Piston `image` crate against libpng, libjpeg-turbo"
It would be useful to have some benchmarks comparing decoding speed on a variety of real-world images, in the [image](https://crates.io/crates/image) crate versus popular C libraries like libpng and libjpeg-turbo, so that we can track how much optimization is needed to get to performance parity with other browsers.

[2015-10-30 17:26] mbrubeck commented on #7870
Possibly related to #7596. cc @pcwalton

[2015-10-30 18:08] #8173 closed

[2015-10-30 18:10] eefriedman commented on #7870
See #8257; I think that's the immediate problem, although I'm not completely sure.

[2015-10-30 18:32] itsmeolivia commented on #8238
I can take a look at this!

[2015-10-30 19:06] eefriedman commented on #8238
If you have any questions, feel free to ask here or on IRC (#servo on irc.mozilla.org).

[2015-10-30 19:41] farodin91 commented on #6963
@nox Any update on pushing the in my repo?

[2015-10-30 21:10] mrobinson opened #8275 "ScriptToCompositorMsg::ScrollFragmentPoint should take into account layers and transforms"
The calculated point may not be correct if the content is layerized. This message should probably include information about the layer or be routed through to the compositor task to calculate actual element positions.

[2015-10-30 22:54] gilles-leblanc commented on #8122
For the moment I'm stuck with this one.

I have established that it works with overflow auto, scroll and visible.

I have looked in ```components/gfx/display_list```.

There's two files in this directory. One of them is the optimizer.

I have taken out the optimizer (I've had it return the same ```display_list``` it was given in input as it's output) and the problem is still present, so that rules

[2015-10-30 23:00] eefriedman commented on #8122
CC @mrobinson

[2015-10-31 00:55] LifeIsStrange commented on #8271
Why not use the popular images library instead of reinventing the wheel ? Recreate an image decoding and encoding library is a waste of time no ? Maybe you want use new paradigm for outperform the actuals popular images library but if it is the case why not Improve this popular library instead of recreate from scratch ? Coding a library Just to make it in rust is something useless.
Sorry for my po

[2015-10-31 02:03] jdm commented on #8271
The goal of writing image decoders in Rust is to avoid security vulnerabilities due to memory unsafety (eg. https://bugzilla.mozilla.org/show_bug.cgi?id=251381, https://bugzilla.mozilla.org/show_bug.cgi?id=727401, https://bugzilla.mozilla.org/show_bug.cgi?id=155222, https://bugzilla.mozilla.org/show_bug.cgi?id=823071, etc.)

[2015-10-31 04:02] eefriedman opened #8281 "Increase the timeout for canvas drawing tests"
The wpt harness has the ability to mark certain tests as taking longer; if we mark the canvas tests appropriately, they should pass in debug builds.  See https://github.com/eefriedman/servo/commit/a34a536b5a9280709373ce5207a8539f3dacbd87 (https://github.com/eefriedman/servo/commit/a34a536b5a9280709373ce5207a8539f3dacbd87.diff) for an example of how to do it for `mozilla/canvas/*`... but I'm not su

[2015-10-31 05:06] jdm commented on #8281
The way of triggering those manifest updates permanently is through adding `<meta content="long" name="timeout">` to the actual test files.

[2015-10-31 05:21] eefriedman commented on #8281
That half works: adding it to `drawimage_html_image_1.html` makes it use the long timeout, but adding it to `drawimage_html_image_1_ref.html` does nothing.

[2015-10-31 05:24] mbrubeck commented on #8157
Latest failure was on Linux.

[2015-10-31 05:24] eefriedman commented on #8281
(And yes, it does in fact take debug Servo more than 10s to draw the reference, which is just a 2x2px image tiled over a 100x100px `<div>`.)

[2015-10-31 05:44] eefriedman commented on #8157
This should be fixed by #6677.  (By "fixed" here, I mean the test will fail consistently.  The test is badly structured, so the testrunner skips some of the tests when the load event fires early.)

[2015-10-31 11:00] LifeIsStrange commented on #8271
Ok sorry for my ignorance.

[2015-10-31 12:38] nox commented on #6963
Sorry things were a bit hectic for me this weekend?

[2015-10-31 13:27] #8251 closed

[2015-10-31 14:11] Manishearth opened #8284 "Intermittent failure on hide_layers1"

[2015-10-31 15:27] Ms2ger opened #8285 "Run the wpt lint"
wpt has a lint script that checks for formatting errors such as using tabs; we should run it to avoid autolanding code upstream that makes it fail, as we did in https://github.com/w3c/web-platform-tests/commit/3d92a107fe33a9a0b315814271264f37c4c732c8.

[2015-10-31 15:49] jdm commented on #8285
I recommend doing this as part of `test-tidy`.

[2015-10-31 16:08] farodin91 commented on #6963
No problem

[2015-10-31 16:56] Oktosha commented on #8271
I'd like to do it

[2015-10-31 16:58] jdm commented on #8271
@Oktosha I would recommend looking for existing benchmarks for image decoding and using their source images as a starting point :)

[2015-10-31 17:46] #8179 closed

[2015-10-31 20:23] notriddle commented on #8211
Should this be closed?

[2015-10-31 20:25] tschneidereit commented on #8211
Yes, thank you.

[2015-10-31 20:25] #8211 closed

[2015-10-31 21:44] Manishearth commented on #8281
Is that a debug build? Or something about synchronous file loads? O.o

[2015-10-31 21:56] eefriedman commented on #8281
This is a debug build.

[2015-10-31 22:13] Oktosha commented on #8271
@jdm I've created a [repo](https://github.com/Oktosha/servo-image-benchmark) for this task and added links to sample images to [README](https://github.com/Oktosha/servo-image-benchmark/blob/master/README.md). Also I've written a [TODO](https://github.com/Oktosha/servo-image-benchmark/blob/master/TODO.md) I'm going to follow.

[2015-11-01 12:15] gkbrk commented on #8271
[Here](https://github.com/gkbrk/ImageBench)'s a small script I wrote for this purpose. I might try adding some graphs/plots maybe.

[2015-11-01 13:48] gkbrk commented on #8271
Here's an example plot from my benchmark.
![Benchmark Plot](https://i.imgur.com/zjBqsFw.jpg)

[2015-11-01 17:40] anoukruhaak commented on #8177
@jdm unfortunately I got stuck after only writing two lines of code. I added
[code]
here:
[code]
And then add protocols as an argument:

[code]
When I do this I get an error:
[code]

I tried a bunch of things to convert the Slice of DOMStrings to a Vec (the version above just being the most recent) and it appears the compiler thinks the protocols provided in the construtor (below) are not living l

[2015-11-01 17:41] anoukruhaak commented on #8177
ps. All of this is in the components/script/dom/websocket.rs file!

[2015-11-01 17:50] jdm commented on #8177
Ah, I see the issue. We need to create the `Vec<DOMString>` value outside of the `spawn_named` call, which creates a new thread. This will allow us to move the `Vec` value into the new thread, so there won't be lifetime problems. Does that make sense?

[2015-11-01 23:45] mbrubeck commented on #8271
This is good stuff. Thanks!

[2015-11-02 08:30] SimonSapin opened #8292 "Possible intermittent timeout: 2dcontext/drawing-images-to-the-canvas/drawimage_canvas_12.html"
https://github.com/servo/servo/pull/7400#issuecomment-152944992

[code]

[2015-11-02 08:52] simartin commented on #8113
I finally came up with a way of testing the fix with about:blank; I have to go for the "test != ref" scheme because otherwise, since both are blank, the test would have to be marked as flaky (and therefore not test anything really...). I hope it makes sense.

[2015-11-02 13:21] jdm commented on #8292
Duplicate of #7787.

[2015-11-02 13:21] #8292 closed

[2015-11-02 14:22] jdm commented on #7931
Not fixed by #8291, unfortunately.

[2015-11-02 16:42] metajack commented on #7779
#7950 has landed. What's the status of #7983 @mrobinson ?

[2015-11-02 16:42] metajack commented on #7779
Note: this is now blocking @paulrouget on browser.html work.

[2015-11-02 16:43] metajack commented on #8122
cc @pcwalton @glennw

This is blocking browser.html work.

[2015-11-02 16:43] metajack commented on #7816
Pinging @pcwalton

This is blocking browser.html progress.

[2015-11-02 16:44] metajack commented on #7797
@glennw Could you spare some time to look into this? This is blocking browser.html progress.

[2015-11-02 17:27] jdm opened #8297 "Make test-tidy check that reftests contain a <link> specifying the reference file"
This is a recurring issue, and I often forget to check for this as long as the manifest changes look appropriate. I propose:
* we move all reference files from `tests/wpt/mozilla/tests/css` into a `ref` subdirectory (ie. the files that don't contain `<link`)
* we make `test-tidy` check all of the html files in `tests/wpt/mozilla/tests/css` (but not subdirectories) for the presence of a `<link` str

[2015-11-02 18:05] SimonSapin commented on #8292
Ah, my search query was too specific. Thanks!

[2015-11-02 19:22] mrobinson commented on #7779
The fix for this one is at https://github.com/servo/servo/pull/8266. I just double-checked that it fixes the issue @paulrouget filed.

[2015-11-02 19:24] mrobinson commented on #8122
I believe this is also fixed by https://github.com/servo/servo/pull/8266.

[2015-11-02 19:41] mbrubeck commented on #7785
Appears to be fixed by #8257.

[2015-11-02 19:41] #7785 closed

[2015-11-02 19:41] mbrubeck commented on #7870
Appears fixed by #8257.

[2015-11-02 19:41] #7870 closed

[2015-11-02 20:15] glennw commented on #7797
@metajack Sure, I'll look into this one today.

[2015-11-02 20:33] nfallen commented on #6638
I am working on Part 2 first and I have a few clarifying questions:

1) In order to test that my changes don't break any functionality, will running the XMLHttpRequest web platform tests be sufficient? Are there other tests I should run?

2) For the function that deals with processing the headers for the request, I extracted out logging the headers, setting the cookies, and updating the strict tra

[2015-11-02 20:46] jdm commented on #6638
1) I think the XHR tests you mentioned should be sufficient.
2) Yes, that looks right to me!

[2015-11-02 22:29] anoukruhaak commented on #8177
I think so, yes! Thank you!

[2015-11-02 23:05] farodin91 commented on #6963
I start work on it https://github.com/farodin91/sqlite-rs. But currently my build script doesn't work to build sqlite4 on linux. I have no idea.

[2015-11-03 00:43] paulrouget opened #8301 "iframe content does not resize when iframe element is resized"
[code]

[2015-11-03 00:43] pcwalton commented on #7816
@paulrouget I don't think it'll be too tough—a medium-sized change, perhaps?

[2015-11-03 01:13] eefriedman commented on #8301
(This works correctly from the perspective of content; it just doesn't get drawn on the screen correctly.)

I thought this was a duplicate, but I can't seem to find it.

[2015-11-03 02:11] gilles-leblanc commented on #8122
@mrobinson I have made a wpt test with the case written by @paulrouget which I have committed to a branch (https://github.com/gilles-leblanc/servo/commit/b2ba72a364a6439668f23a39d9623ae1b00f841a). I then pulled and merged your branch https://github.com/servo/servo/compare/master...mrobinson:stacking-context-mix and tested it but I'm still getting a failure on the test case.

[2015-11-03 02:36] mrobinson commented on #8122
@gilles-leblanc I ran your test locally on top of https://github.com/servo/servo/compare/master...mrobinson:stacking-context-mix and it seems to pass for me. Can you double-check by pulling the branch at https://github.com/mrobinson/servo/tree/gilles-test and testing again? If it continues to fail for you, would you post or describe the image diff from the test results analyzer at http://hoppipoll

[2015-11-03 03:07] paulrouget commented on #7816
In `cascade_node_pseudo_element`, at the beginning of the function, when we go through the animations and update the style to its `progress=1.0` value, we should not assume the animation is over and update it to the its real progress value.

Something like replacing:

[code]
with:

[code]

This appears to work.

We should also cancel the animation at this point (not sure how yet).

Now, we also ne

[2015-11-03 03:24] gilles-leblanc commented on #8122
@mrobinson I pulled the branch and it's still failing but it's probably something on my side, some sort of mistake I did. I've created a gist with the log file: https://gist.github.com/gilles-leblanc/8e6467040d342272a996 which you can paste in the reftest analyser.

[2015-11-03 03:37] mrobinson commented on #8122
@gilles-leblanc Tests that were added for issues in previous PRs that I have landed seem to be failing as well. Can you double-check that you are not running the tests with a stale build? One thing that I sometimes do is to only compile a debug build and accidentally run the tests with --release flag or the opposite.

[2015-11-03 03:43] eefriedman opened #8302 ""formEnctype" and "formMethod" getters on <input> and <button> are wrong"
Test in tests/wpt/web-platform-tests/html/dom/reflection-forms.html.  Spec URL: https://html.spec.whatwg.org/multipage/forms.html#attr-fs-enctype .  Note specifically the difference between the "invalid value default" and the "missing value default".  (The "missing value default" only applies if the attribute is not present, i.e. `hasAttribute()` returns false.)

[2015-11-03 03:57] paulrouget commented on #7816
@pcwalton could you take a quick look at this commit: https://github.com/servo/servo/commit/b8379ddce1c5c6413b595c6c0b739cedc02d9038

I just want to know if that looks like the proper approach.

I still need to cancel animations in `cascade_node_pseudo_element` and flush the `finished_animations` array.

[2015-11-03 04:00] gilles-leblanc commented on #8122
@mrobinson Oh my bad I thought that the tests were ran with the last build, in my case a release build so I didn't supply the --release switch for the test command.

Sorry!

Everything now works.

[2015-11-03 07:12] dzbarsky opened #8307 "getComputedStyle should check parent node chain until it finds a node with a flow ref"

[2015-11-03 08:03] eefriedman commented on #5191
This works... sort of.  Specifying an explicit width works in general... but the original testcase in this bug still doesn't work because https://github.com/servo/servo/blob/2091aafcfb32dffba836fde2ccddf4a183e88302/components/layout/fragment.rs#L355 uses the wrong algorithm to parse the length.

[2015-11-03 09:06] Ms2ger opened #8308 "test-unit ignores debug-mozjs configuration in servobuild"
Which means that whenever I try to run a unit tests, I need to completely rebuild my tree.

[2015-11-03 09:16] paulrouget commented on #8301
It's a regression. Started with 1a494b1a73e0f1336c07100e8c6c2f444212fecb.

/cc @mrobinson

[2015-11-03 09:24] paulrouget commented on #8301
Maybe you were thinking of issue https://github.com/servo/servo/issues/8081 where iframe content is not drawn after navigation.

[2015-11-03 09:52] Ms2ger opened #8309 "Unit tests don't initialize env_logger"
So `RUST_LOG` doesn't work. Not sure about the best solution.

[2015-11-03 09:53] Ms2ger commented on #8309
CC @alexcrichton

[2015-11-03 10:28] paulrouget opened #8310 "Stacking issue with iframe + overflow:hidden"
PR  #8266 solves the stacking issue with `overflow:hidden` for regular elements, but with an iframe, stacking order is still wrong. The iframe element stacking level is ok (see its green border), but its content is not (blue square).

<img width="400" alt="screen shot 2015-11-03 at 11 22 09" src="https://cloud.githubusercontent.com/assets/373579/10905927/dad9e0d4-821d-11e5-8630-0415f6ff40ad.png">

[2015-11-03 10:37] wenderen commented on #8308
related to #7327 ?

[2015-11-03 13:26] jdm opened #8311 "Intermittent timeout in canvas_over_area.html"
I suspect this may be related to #7787? I thought that was mac-only, though.

[code]

[2015-11-03 14:11] mmatyas commented on #6327
Now that the patches landed and most dependencies work fine, I've updated the guide again: https://mmatyas.github.io/blog/cross-compiling-servo-to-arm/

In short, if you've set up the ARM and Rust libs, you can now build by simply calling

[code]

The only bug left is in [libexpat](https://github.com/servo/libexpat) which causes compile error for me (`DEP_EXPAT_OUTDIR` doesn't get defined, so the

[2015-11-03 14:47] SimonSapin commented on #7625
Yes, it sounds like we have a bug in font selection/fallback and installing MS fonts just avoids triggering it. Long term, we should investigate that bug and fix it. In the mean time, installing MS fonts on CI servers is troublesome so maybe we can simply disable these tests.

[2015-11-03 15:05] martiansideofthemoon commented on #8263
@Manishearth any progress here?

[2015-11-03 15:53] mrobinson opened #8313 "Add Windows support for the new WPT test runner UI"
It currently uses escape codes that probably do not work in Windows terminals.

[2015-11-03 16:29] cgaebel commented on #8209
Uhhh I don't remember, sorry! Feel free to remove the comment.

[2015-11-03 16:41] #8002 closed

[2015-11-03 17:04] alexcrichton commented on #8309
This basically just involves calling `env_logger::init` at the start of a test case you'd like to log.

[2015-11-03 20:04] jdm commented on #7787
According to the log in http://build.servo.org/builders/mac-rel-wpt/builds/208/steps/shell_2/logs/stdio, on the first attempt to composite we notify the constellation that we're ready, then we sit waiting on the constellation until the end of time.

[2015-11-03 20:27] MikkCZ opened #8319 "ACID 2 does not render eyes correctly on dual GPU Intel+GeForce 610M"
![acid2-screenshot](https://cloud.githubusercontent.com/assets/3941344/10920662/a8632ac6-8271-11e5-884f-6c632fe1d263.png)
![system-information-screenshot](https://cloud.githubusercontent.com/assets/3941344/10920661/a8603d7a-8271-11e5-9eae-cbbe2d1f2c3a.png)

[2015-11-03 20:29] SimonSapin commented on #8319
Are you on a "retina" display? Acid 2 is know to only render correctly when CSS `1px` is one device pixel.

[2015-11-03 20:31] SimonSapin commented on #8319
http://www.webstandards.org/action/acid2/guide/

(This was written before high-density display where a thing. High-density is effectively a zoom.)

[2015-11-03 20:32] glennw commented on #8319
This is also occurring on my (non retina) screen. However, it is fine when using -o to output a screnshot (which is why the reftest is still passing). This is occuring with CPU rendering, so the GPU should be irrelevant here. However, if I run with -i mode, the bug doesn't occur - so it looks to be a bug related to incremental layout and/or reflow.

[2015-11-03 20:35] mrobinson commented on #8319
I'm pretty sure this is a duplicate of https://github.com/servo/servo/issues/7722.

[2015-11-03 20:35] mrobinson commented on #7722
I have noticed that scrolling to the eyes instead of using the anchor link prevents this from happening.

[2015-11-03 20:36] SimonSapin commented on #8319
Closing as duplicate.

[2015-11-03 20:36] #8319 closed

[2015-11-03 22:04] mrobinson commented on #8301
@paulrouget I've confirmed this and have a fix locally. I think the actual culprit is https://github.com/servo/servo/pull/7423. That would not be too surprising because it was a major rework to fix an architectural flaw. I'll try to get a PR ready today.

[2015-11-04 00:58] #8107 closed

[2015-11-04 02:08] Manishearth commented on #8263
Not planning on looking into this right now.

If you want, check [the spec](https://html.spec.whatwg.org/multipage/#implicit-submission) to understand what implicit submission means, and see if the behavior for label in other browsers is any different from text input. Is it possible to focus on a label (or otherwise send it key events authentically) and hit enter to submit the form?

[2015-11-04 02:46] #7779 closed

[2015-11-04 02:46] #7983 closed

[2015-11-04 02:46] #8122 closed

[2015-11-04 02:46] #8310 closed

[2015-11-04 03:01] frewsxcv opened #8324 "Navigating back in history results in panic"
Currently on 86e3add8fdc35fc6980bb63695781925607437b8 running on OSX 10.11

![untitled](https://cloud.githubusercontent.com/assets/416575/10928462/7eb2c948-8276-11e5-8251-18ec8c777788.gif)

[2015-11-04 03:04] jdm commented on #8324
Could you grab the backtrace from rust_panic in lldb?

[2015-11-04 03:05] frewsxcv commented on #8324
Ah, forgot to add that in the original post

[code]

[2015-11-04 03:07] frewsxcv commented on #8324
In the process of a bisect...

[2015-11-04 03:31] pcwalton commented on #7816
Seems reasonable to me.

[2015-11-04 03:38] #7797 closed

[2015-11-04 04:26] frewsxcv commented on #8324
Traced it back to 553a0dbefd8a8724f7c894b1c25e6c15c35d6d04

[2015-11-04 04:52] jdm commented on #8324
Probably fixed by #8175?

[2015-11-04 05:06] nerith commented on #8297
I'd like to take this.

[2015-11-04 05:13] eefriedman commented on #8297
Hmm... looking at this again, I'm not sure the proposed solution is the best way to solve this.  Could we do something like make a buildbot regenerate the manifest, then error if that introduces any changes?

[2015-11-04 05:35] paulrouget opened #8325 "transform + overflow:scroll + iframe: element not painted"
<img width="400" alt="screen shot 2015-11-04 at 06 34 41" src="https://cloud.githubusercontent.com/assets/373579/10930415/3364e94c-82be-11e5-86ea-425d08d4f50e.png">

[code]

[2015-11-04 05:37] jdm commented on #8297
That's an interesting idea. We've certainly talked about doing that for Cargo.lock files in the past.