[2015-07-29 05:01] notriddle commented on #6824
After modifying rust-selectors to use an introsort implementation instead, it gets past that one (it fails on another one for an unrelated reason).

[2015-07-29 06:25] frewsxcv commented on #6765
Update: https://github.com/rust-lang/cargo/issues/1841 has been closed

[2015-07-29 11:00] boghison commented on #6711
I don't have any problems with it *per se*. Maybe it was designed for use in Servo, I am not seeing this though. IMHO, it would be more reasonable to use Rust bindigs to existent C libraries than create one in Rust and have the burden to maintain it. In the future, there might be a need for such a library, but there is no point in writing the same thing for the sake of one programming language and

[2015-07-29 12:43] jdm commented on #6711
Rewriting decoders in Rust is extremely valuable for Servo, actually. We both want to demonstrate that Rust can achieve equal performance to existing C decoders, and reduce the scope of code that can be exploited by attackers. Media decoders are an example of code that should not need to be a source of risk, and Servo is a great project in which to experiment and verify these beliefs.

[2015-07-29 12:47] boghison commented on #6711
@jdm Well, there's a line between demonstration and an actual product. This could be done in the future, but for the time being, maybe bindings are the optimal choice?

[2015-07-29 13:28] jdm opened #6832 "Earlier revisions should not show comments from later revisions"
In https://reviewable.io/reviews/servo/servo/6741 Ms2ger left three comments on one line in separate revisions, but they all show up when viewing the very first revision and it is quite confusing.

[2015-07-29 13:28] jdm commented on #6832
(First comment in CSSStyleDeclaration.rs)

[2015-07-29 13:29] Ms2ger commented on #6832
Related https://github.com/Reviewable/Reviewable/issues/136

[2015-07-29 13:31] farodin91 commented on #4282
I like to do this.

[2015-07-29 13:32] jdm commented on #6711
No, I think now is the perfect time for this experimentation.

[2015-07-29 13:33] jdm commented on #6711
Please also note that rust-media use a lot of high-level bindings to C libraries right now. We're gaining a solid Rust-based media framework: https://github.com/pcwalton/rust-media/tree/master/codecs

[2015-07-29 13:38] jdm commented on #4282
At least #4283 needs to be completed first, and we probably need to run any proposed design by the more-experienced Gecko developers first to make sure we don't do anything silly.

[2015-07-29 13:40] farodin91 commented on #4282
Okay

[2015-07-29 15:09] boghison commented on #6711
@jdm I'm sorry, but I can't work with the current state of affairs. Besides the fact that the repository isn't organized enough, the code and its dependencies haven't been updated, I can't even build it. And again, it isn't as high-level as I had expected it to be. Maybe if it gets enough traction, I could do something with it. Until then, I stand by my opinion.

[2015-07-29 15:17] metajack commented on #6711
Perhaps you could describe what you're looking for and what you mean by "high level".

As I recall, the basic design was (like Firefox is now doing) to implement the MPEG demuxer in Rust and then bind to system libraries until such time as Rust versions of the codecs were available. To address Vorbis support, I believe @pcwalton planned to bind to libogg and libvorbis; the same is probably true of

[2015-07-29 15:19] frewsxcv opened #6833 "Bring back OptionalRootable trait"
From [this thread on Reviewable](https://reviewable.io/reviews/servo/servo/6800#-JvIlhYGtUnDvqVXrL1k)

[2015-07-29 15:27] frewsxcv commented on #6833
/cc @michaelwu since they might have more context as to why the trait was removed in the SM-up

[2015-07-29 15:29] Ms2ger commented on #6730
@jdm was going to look into this.

[2015-07-29 16:25] jdm commented on #6730
[code]
[code]
[code]
That is not the outcome I was expecting.

[2015-07-29 17:30] boghison commented on #6711
@metajack What I am looking for is the perfect library, where I could just do Player::new(response) and it would support as many types as possible, but that doesn't exist yet :P (it is certainly possible to create this). Not high level enough is the first impression that I got while reading the example. In comparison, say with rust-sfml, I could just do Music::new_from_file() and not worry about a

[2015-07-29 17:36] waddlesplash commented on #6723
Wait, wasn't this merged? Why didn't it auto-close?

[2015-07-29 17:46] metajack commented on #6711
I don't think such an API will work in a web engine. How would it support streaming or MSE?

Although I think the plan was to handle animated GIFs like video, and in that case such an API would probably work. Maybe @pcwalton can comment on what he envisioned there.

[2015-07-29 17:47] metajack commented on #6723
There was no fixes line in the PR.

[2015-07-29 17:47] #6723 closed

[2015-07-29 17:59] boghison commented on #6711
@metajack SFML has an API to work from streams. I am working on it rn for rust-sfml. But I don't think we should use rust-sfml. What do you mean by MSE? The most fitting audio api is probably the SDL one, but that is only Audio. That's where my second question comes into place: how to handle video? Obviously the wish is as few extra dependencies as possible. AFAIU Servo uses GLWF, so to show a vid

[2015-07-29 18:03] metajack commented on #6711
Media Source Extensions http://www.w3.org/TR/media-source/

[2015-07-29 19:49] metajack commented on #6805
This page also triggers this error:
https://schteppe.github.io/p2.js/demos/ragdoll.html

[2015-07-29 20:37] #2661 closed

[2015-07-29 21:30] #5835 closed

[2015-07-29 21:47] jdm opened #6838 "Write a reftest for the background attribute on the body element"
#5851 merged without any tests. We should add one - have a reference page that uses CSS to set the background image for a page, and a test page that sets the attribute on the body element instead. See the documentation at http://testthewebforward.org/docs/reftests.html and examples at http://mxr.mozilla.org/servo/source/tests/wpt/mozilla/tests/css/ . You'll need to run `./mach test-wpt --manifest-

[2015-07-29 21:51] Ms2ger commented on #6838
Also include a test that uses the `base` element (which would fail for now).

[2015-07-29 22:03] farodin91 commented on #6762
Is merged!

[2015-07-29 22:03] farodin91 commented on #6763
Is merged!

[2015-07-29 22:04] farodin91 commented on #6751
Is merged!

[2015-07-29 22:04] farodin91 commented on #6750
Is merged!

[2015-07-29 22:24] #6806 closed

[2015-07-30 00:04] #6762 closed

[2015-07-30 00:04] jdm commented on #6763
For future reference, if you put "Fixes #NNNN" in the commit message then the issue will be closed automatically when the PR is merged.

[2015-07-30 00:04] #6763 closed

[2015-07-30 00:04] #6751 closed

[2015-07-30 00:04] #6750 closed

[2015-07-30 04:53] #6730 closed

[2015-07-30 04:59] samfoo commented on #6727
Hey guys, I'll pick this up over the weekend.

[2015-07-30 08:40] farodin91 commented on #1718
Is some one working this?

[2015-07-30 09:45] Wafflespeanut opened #6847 "Handle the EvaluateJS messages appropriately"
For now, the [`handle_evaluate_js`](http://mxr.mozilla.org/servo/source/components/script/devtools.rs#28) method takes a page and pipeline as arguments. As a follow-up to #6767, the aim is to take a [`GlobalRef`](http://mxr.mozilla.org/servo/source/components/script/dom/bindings/global.rs#33) instead of the page and pipeline and handle the `EvaluateJS` messages by calling the method.

/cc @jdm

[2015-07-30 11:04] farodin91 opened #6848 "Crash - no layout data on jquery.com"
https://gist.github.com/farodin91/cc5cd2a3882fd9e43dbb

[2015-07-30 11:12] jdm commented on #1718
Nope!

[2015-07-30 11:24] farodin91 commented on #1718
I'd like to work on it.

[2015-07-30 11:25] jdm commented on #6727
Fantastic!

[2015-07-30 12:03] jdm commented on #1718
You're welcome to it.

[2015-07-30 12:04] jdm commented on #6848
@dzbarsky This looks like a problem with trying to use getComputedStyle before the first layout operation has occurred. Are we flushing any outstanding layout first?

[2015-07-30 12:05] jdm commented on #6848
Or perhaps it's getComputedStyle on a node not in the document?

[2015-07-30 12:22] farodin91 commented on #1718
I will start the next days. First i must finish my bachelor thesis.

Any tipps for interesting files, that can help?

[2015-07-30 14:24] jdm commented on #1718
Window in component/script/dom/window.rs has a `window_size` member which is updated on resizing. I believe that scrolling events are handled in Window::set_page_clip_rect_with_new_viewport, too, where the new viewport is the new rectangle of visible page (ie. scroll offsets).

I made these observations by searching for the words "resize" and "scroll" in script_task.rs, dom/window.rs, and composit

[2015-07-30 14:55] jdm opened #6849 "Hidden iframes sometimes don't get recomposited properly"
iframe1.html
[code]
iframe2.html
`Iframe content`

The iframe border disappears, but the content sticks around consistently for me.

[2015-07-30 14:55] jdm commented on #6849
Blocks #6677

[2015-07-30 15:45] farodin91 commented on #1718
Are there any tests for innerheight and scrollX?

[2015-07-30 16:17] #6178 closed

[2015-07-30 16:20] dzbarsky commented on #6848
Bingo, the node's parent is null. Checking what we should be doing here...

[2015-07-30 16:22] jdm commented on #6849
@glennw @mrobinson As far as I've been able to trace this, we correctly remove the compositor layer when we set a construction result of None. The constellation code correctly sees the pipeline in the current frame in the resulting FrameRect message, and sends the compositor a SetLayerRect message. The compositor finds the layer and updates the bounds, but `send_buffer_requests_for_all_layers` end

[2015-07-30 16:27] jdm commented on #1718
There are a number of tests for innerHeight under /tests/wpt/css-tests/cssom-1_dev/ (see http://mxr.mozilla.org/servo/search?string=innerheight). There do not appear to be any automated tests for the scroll properties, though.

[2015-07-30 18:57] Wafflespeanut commented on #6847
This issue will be fixed by my PR #6829 :)

[2015-07-30 19:30] metajack opened #6856 "update and re-enable CSS tests that use 4 digit colors"
After landing https://github.com/servo/rust-cssparser/pull/80 the following tests started failing incorrectly:

/css21_dev/html4/border-bottom-color-030.htm
/css21_dev/html4/border-left-color-030.htm
/css21_dev/html4/border-right-color-030.htm
/css21_dev/html4/border-top-color-030.htm

These tests need to be updated upstream. Then Servo needs to update the CSS tests and re-enable these.

[2015-07-30 19:31] larsbergstrom commented on #6432
Interestingly, many of the references symbols from jsapi.rs do not even exist in libmozjs.a built for Android. The one here is a great example - at least according to `nm`, there are no symbols in the binary related to either `Scramble` or `HashCode`.

[2015-07-30 21:30] jdm opened #6858 ""Link to containing block not established; perhaps you forgot to call `set_absolutely_descendants`"
Visit http://blog.getbatterybox.com/which-browser-is-the-most-energy-efficient-chrome-vs-safari-vs-firefox/

[code]

[2015-07-30 21:40] jdm opened #6859 "Can't scroll on encryptr.org"
Visit http://encryptr.org and attempt to scroll vertically. You can't.

[2015-07-30 21:40] jdm opened #6860 "getComputedStyle on an element not in a document returns nothing"
According to the spec, we should resolve the style against the window's rules. Firefox is the only browser that implements this behaviour.

[2015-07-30 22:35] metajack commented on #6856
Upstream pull request to update tests: https://github.com/w3c/csswg-test/pull/814

[2015-07-30 22:51] metajack opened #6862 "test-css --manifest-update does nothing"
When there are reference changes, `--manifest-update` spins for a long time but doesn't actually modify `metadata-css/MANIFEST.json`.

cc @jgraham

[2015-07-30 23:33] farodin91 commented on #1718
Finished innerWidth, innerHeight, scrollX, pageXOffset, scrollY, pageYOffset

[2015-07-30 23:55] jdm commented on #1718
:heart_eyes_cat:

[2015-07-30 23:59] michaelwu commented on #6833
Needing to call `root()` at all is a bit unsafe. What you really want to do here is call `get_rooted()` on next_sibling/first_child. See https://github.com/servo/servo/issues/6684 . `OptionalRootable` just papers over the brokenness of dealing with raw `JS<T>`.

[2015-07-31 03:30] metajack opened #6864 "WorkerGlobalScope_close.htm intermittently times out"

[2015-07-31 03:30] metajack commented on #6864
http://build.servo.org/builders/linux2/builds/2534/steps/shell_1/logs/stdio

[2015-07-31 07:24] #6847 closed

[2015-07-31 09:37] jinank94 commented on #6856
Hi, I would like to work on this bug could someone help me out ?

[2015-07-31 11:56] jdm commented on #6864
[code]

[2015-07-31 11:57] jdm commented on #6864
Compare this the the output of a successful run:
[code]

[2015-07-31 11:59] jdm commented on #6864
The problem here looks like an interleaving of stdout between threads - the `ALERT: RESULT` bit is mashed up on line the same line as the `ERROR` output, so I suspect the test harness didn't notice it.

[2015-07-31 12:17] jdm opened #6866 "Implement console log reporting for workers"
There's a TODO about workers in `propagate_console_msg`. The easiest way forward is:
* modify the `SendConsoleMsg` enum to include an `Option<WorkerId>` field
* add a `worker_id` field to `WorkerGlobalScope` that is passed in as an argument in the constructor (`new` and `new_inherited`)
* add a `worker_id` method to `GlobalRef` that returns `None` for a non-worker and the new field for a worker
*

[2015-07-31 16:15] jdm opened #6870 "Enum variants aren't ignored when ignore_heap_size_of is present"
This seems like something we should support.

[2015-07-31 16:16] jdm opened #6871 "Can't ignore particular enum fields using ignore_heap_size_of"
This seems to be a syntactical limitation - the parser complains if you have `Variant(#[ignore_heap_size_of = "XXX"] u32)`.

[2015-07-31 16:18] #6769 closed

[2015-07-31 16:19] jdm commented on #6768
Any progress, @r0e?

[2015-07-31 16:19] jdm commented on #6739
Any progress @chotchki?

[2015-07-31 16:19] #6729 closed

[2015-07-31 16:20] jdm commented on #5670
Made any progress @vectorijk? Any questions I can answer?

[2015-07-31 16:21] #6754 closed

[2015-07-31 16:32] jdm opened #6872 "Layout memory reporter uses pre-redirect url"
For example, if I look at the output for http://google.com the script reporter says "url(https://www.google.ca/?gfe_rd=cr&ei=kqK7Va3eD-eM8Qeyo4PwBQ)" while layout says "url(http://google.com/)".

[2015-07-31 16:39] jdm commented on #6872
We could either delay creating the layout task until the document is created (ie. we've received the headers for the HTTP request), or we could just make LayoutTask's `url` field mutable. I propose using a `RefCell<Option<Url>>`, starting with None and having the script task send a message to update it when the final url is determined in `ScriptTask::load`.

To test this, use `./mach run -m 1 http

[2015-07-31 16:46] farodin91 commented on #1718
What is with the css property "overflow" ?

[2015-07-31 16:59] jdm commented on #1718
What do you mean?

[2015-07-31 17:02] SimonSapin opened #6873 "Splitting surrogate pairs in CharacterData DOM APIs"
See also #6564.

In [`CharacterData`](https://dom.spec.whatwg.org/#characterdata) methods, the `offset` and `count` parameters are indexing a `DOMString` by counting UTF-16 code units, not code points. When such an index falls in the middle of a surrogate pair, the code I’m about to write for #6854 will panic and show a message linking to this issue. The way to fix this will depend on the outcome

[2015-07-31 17:37] farodin91 commented on #1718
https://drafts.csswg.org/cssom-view/#overflow-directions

[2015-07-31 18:00] pcwalton commented on #6872
I like the idea of making the URL mutable: the document's URL is a changeable thing after all.

[2015-07-31 18:12] HarryLovesCode commented on #6866
@jdm I'd like to give this a shot, but I might need some help if you don't mind.

[2015-07-31 18:14] jdm commented on #6866
@HarryLovesCode of course! Note that you won't be able to test changes until #6829 merges.

[2015-07-31 18:15] jdm commented on #6872
No; a layout task only services a single document so I would not expect the url to change.

[2015-07-31 18:20] jdm commented on #1718
Oof. The stuff in the spec about implementing the scrolling methods is definitely more complication and could use @mbrubeck's input. Why don't you submit a PR for the completed methods so far?

[2015-07-31 18:23] farodin91 commented on #1718
No problem.
Wait!

[2015-07-31 18:40] HarryLovesCode commented on #6866
@jdm As a clarification, you mean "anything except a worker" for the third point? Or do you mean a non-worker as in a window?

[2015-07-31 18:51] connorimes opened #6877 "Panic in 'script_task::ScriptTask::handle_msg_from_script' using -x option"
Running 'reddit_ the front page of the internet.html' from the servo static suite using the -x option in servo.

In release build:

<pre>
#0  0x0000555556de04a0 in rust_panic ()
#1  0x0000555556dcd2ce in rt::unwind::begin_unwind_inner::hb561d488e4095b19o3w
    ()
#2  0x0000555556dcdc96 in rt::unwind::begin_unwind_fmt::hcfdd98fa08198219u2w ()
#3  0x0000555556de0537 in rust_begin_unwind ()
#4  0x000

[2015-07-31 19:14] jdm commented on #6866
Well, there are only Workers and Windows in GlobalRef, so the difference is only a semantic one :)

[2015-07-31 19:17] larsbergstrom commented on #6432
Even more strangely, even if you manually remove the missing ones, it's not finding matching ones. e.g., `_ZN2js2gc26MarkPersistentRootedChainsEP8JSTracer` is exported by `libmozjs.so` but attempting to load `libmain.so` gives an error that exactly that symbol is missing. :-/

[2015-07-31 19:21] jdm commented on #6866
Oh, the other part of this work is to modify `handle_console_message` (http://mxr.mozilla.org/servo/source/components/devtools/lib.rs#256) to use the new WorkerId information to find the appropriate ConsoleActor that is associated with a worker.

For that, I recommend:
* adding a `console_actor` field to `WorkerActor` and filling it appropriately in `handle_new_global`
* in `handle_console_msg`, p

[2015-07-31 19:25] HarryLovesCode commented on #6866
@jdm Just making sure :). Also I don't see `WorkerGlobalScope::new()` only `WorkerGlobalScope::new_inherited()`. Did you mean `DedicatedWorkerGlobalScope`?

[2015-07-31 19:32] jdm commented on #6866
I did and I didn't. The field should be added to WorkerGlobalScope, which is inherited by DedicatedWorkerGlobalScope (for all practical purposes), so it should be passed in through the constructor of both DedicatedWorkerGlobalScope and WorkerGlobalScope.

Also, if you need to do any testing of the devtools stuff, https://github.com/servo/servo/wiki/Devtools should have you covered.

[2015-07-31 19:46] dzbarsky opened #6878 "Panic (in tick_animations_for_pipeline?) on vsynctester.com"
ERROR:js::rust: Error at http://www.vsynctester.com/:0: TypeError: document.writeln is not a function

www.vsynctester.com - Copyright (c) 2014-2015 Jerry Jongerius
performance.now=yes
ERROR:js::rust: Error at http://www.vsynctester.com/:179: TypeError: ctx.fillText is not a function

thread 'ScriptTask PipelineId(0)' panicked at 'called `Result::unwrap()` on an `Err` value: JSFailed', src/libcore

[2015-07-31 19:49] jdm opened #6879 "Don't unwrap errors in the devtools TCP protocol"
The code in `read_json_packet` is unwrap happy. We should be using `try!` instead, or `match`, or `map_err` to return errors to the caller instead of dying horribly. This can be exercised by [running the devtools server](https://github.com/servo/servo/wiki/Devtools) and connecting to it from a web browser or curl or something and providing input that is unexpected.

Code: components/devtools/proto

[2015-07-31 19:51] jdm commented on #6878
Oh yeah, this is just incorrect. We call `unwrap` on the result of `callback.Call__`, when we really want to just discard the result with `let _ = ` instead.

[2015-07-31 20:19] HarryLovesCode commented on #6866
@jdm I appreciate you helping me out as I'm new to Rust. Two more things:

1. Should the `propagate_console_msg` behave any differently if it matches to a worker?
2. Do you mind to explain your second point? I see what you're talking about, but I don't understand when we should find the `WorkerActor` unless we check for that and then get its `ConsoleActor` accordingly.

[2015-07-31 20:40] jdm commented on #6866
1. The code in propagate_console_msg should not behave any differently; there should be no match at all and it should get the values it requires directly from the GlobalRef methods.
2. in `handle_console_message`, if there's a non-`None` value for the worker id then we should search for a `WorkerActor` instead of a `TabActor` (using the worker id and pipeline id present in the message we received)

[2015-07-31 20:58] metajack commented on #6856
I already submitted a patch https://github.com/w3c/csswg-test/pull/814 but looks like it won't be accepted. I'm not sure what the next steps are.

@Ms2ger @jgraham thoughts?

[2015-07-31 21:09] larsbergstrom commented on #6432
Aha! These symbols appear to be intentionally marked hidden by the SM build. Output from objdump: `001aa89c l     F .text  000000ec .hidden _ZN2js2gc26MarkPersistentRootedChainsEP8JSTracer`

Seems intentional (there are a bunch of GCC directives in the SM build to enable the pragmas to make them invisible).

@michaelwu @jdm Should I remove all of the symbols that are in rust-mozjs/jsapi.rs that ar

[2015-07-31 21:22] michaelwu commented on #6432
Yeah, that's the problem here. I'd like to fix bindgen to correctly figure out what symbols are actually visible. If you've successfully done it manually though, I don't mind landing the manual fix.

[2015-07-31 21:56] HarryLovesCode commented on #6866
It makes sense, but I'm not sure how to pattern match that... Sorry :/

[2015-07-31 22:17] jdm commented on #6866
Assuming something like
[code]
We can do this:
[code]
Is that more clear?

[2015-07-31 22:56] Wafflespeanut commented on #6866
@HarryLovesCode If you're new to Rust, I suggest going through the [issues labeled E-easy](https://github.com/servo/servo/labels/E-easy) before you can get into E-less-easy ones, though the choice entirely up to you :)

[2015-07-31 23:31] HarryLovesCode commented on #6866
@Wafflespeanut Yeah, I probably should have started with those. However, I'd like to try to finish this if that's ok.

@jdm Final thing, I tried to start servo and it panicked due to the output of this method being unwrapped...

[code]

Any idea why?

[2015-07-31 23:35] jdm commented on #6866
Well, the problem isn't that get_worker_id returns None - the problem is that some caller is calling `unwrap`, rather than passing around an `Option<WorkerId>` value as necessary.

[2015-07-31 23:36] jdm commented on #6866
In theory there should be a backtrace of the failure showing up when that happens, and it should show who's calling unwrap.

[2015-07-31 23:54] HarryLovesCode commented on #6866
@jdm Got it. Logging works from web workers (at least to the console), but devtools causes a crash. I assume #6829 will fix the issue with devtools?

[2015-08-01 00:28] jdm commented on #6866
It might! We should be able to find out soon.

[2015-08-01 01:59] r0e commented on #6768
Yes, sorry, I'm working on it now. Been busy the last few days.

[2015-08-01 04:46] notriddle commented on #6824
Fixed by servo/rust-selectors#43

[2015-08-01 04:46] #6824 closed

[2015-08-01 06:02] Ms2ger opened #6883 "Expose LayoutJS::unsafe_get only to script."
I started working on this in <https://github.com/servo/servo/compare/master...Ms2ger:layoutelement-private>, but it didn't quite work out.

[2015-08-01 11:06] claisan commented on #3899
Ok, I'll wait for.
Thanks.

[2015-08-01 11:24] boghison opened #6885 "Cannot compile servo under Ubuntu 14.10 amd64 with README deps installed"
error: linking with `cc` failed: exit code: 1
...
note: /home/boghison/servo/target/debug/deps/libipc_channel-35faaae5f49b95f7.rlib(ipc_channel-35faaae5f49b95f7.0.o): In function `ipc_channel::platform::linux::UnixOneShotServer::new':
/home/boghison/servo/.cargo/git/checkouts/ipc-channel-d95a23d1f1577bfc/master/platform/linux/mod.rs:433: warning: the use of `mktemp' is dangerous, better use `mkste

[2015-08-01 11:25] boghison commented on #6885
Closing as duplicate of #6483

[2015-08-01 11:25] #6885 closed

[2015-08-01 11:28] boghison commented on #6483
For me, this affects debug builds as well, not only release builds.

[2015-08-01 12:15] boghison opened #6887 "Use the standard std::default::Default trait instead of new() functions"
IMHO, since this is the standard approach, it would be nicer to use it, instead of T::new()

[2015-08-01 13:46] jdm commented on #6887
That's only true for situations when the constructor method takes no arguments, right? I think the project preference is generally for explicit constructor methods.

[2015-08-01 13:47] jdm commented on #6887
However, are there any examples you think would be better expressed with Default?

[2015-08-01 13:59] boghison commented on #6887
@jdm Yes, that is true. Example: (where I thought of this) Response. And, of course, if all fields implement Default, adding it is as easy as derive(Default).

[2015-08-01 15:04] jdm opened #6888 "Add a tool for comparing Dromaeo outputs"
`./mach test-dromaeo` yields output like https://gist.github.com/notriddle/e59c854002ddbf5a88bf . We should run a tool that takes two saved results, ignores all output before the actual test timings, then prints out a chart showing how much (+/- % and actual value) each test result differed. This will be useful to evaluating how a change to some implementation code actually affects the timing resu

[2015-08-01 15:43] #6759 closed

[2015-08-01 16:59] jdm commented on #6866
It merged, so it should be possible to test this manually by connecting to a page with a worker (`<script>new Worker('worker.js')</script>`) and executing `console.log('hi')` in the web console that appears.

[2015-08-01 17:04] Wafflespeanut commented on #6866
@HarryLovesCode @jdm It's been merged. Sorry for letting this sit around for a while - so many unanticipated, (but interesting) results along the way

[2015-08-01 17:12] Wafflespeanut commented on #6767
@jdm Let's close this :)

[2015-08-01 18:08] boghison commented on #6888
By chart do you mean another table? My understanding is that (assuming the first test), this would look something like this:
`blue[dromaeo-object-regexp/Compiled Variable Object 12 Char Replace Function]   |  yellow[Diff]: green[-20%] yellow[Time 1]: red[x] yellow[Time 2]: green[y]`

(With colors for readability) :)

[2015-08-01 18:10] zmike opened #6891 "crash in mozjs: compressionInProgress"
Built from 4de6e699b2ee095177360ae1812d9f47829adcc3 on Aug 1

https://gist.github.com/zmike/7a3af6a58f6cbb7d7139

Happened during initial load of my embedding app. Not easily reproducible.

[2015-08-01 19:22] notriddle commented on #6888
I should mention that the output was actually slightly changed after the gist was made. The only difference is line 965, which now has a pipe in it that lines up with the rest of them (this way, the table would be rendered as one in GitHub-flavored Markdown).

[2015-08-01 19:37] HarryLovesCode commented on #6866
@jdm I'm trying to use the web console, but no logging appears at all (even a simple `console.log("TEST")` from outside of a worker). All I get it this:

[code]

[2015-08-01 21:02] Wafflespeanut commented on #6866
@HarryLovesCode The logging occurs in your terminal (where you run the servo instance). For instance, input something on the console and see if you get it in the command-line. It won't appear on the console for now because that's the sole purpose of this issue :)

[2015-08-01 21:08] mdinger commented on #4810
Firefox and servo both open this page now. Both seem to slow down if the page is scrolled fast but it's usable. Faster would still be nicer.

[2015-08-01 21:33] HarryLovesCode commented on #6866
@Wafflespeanut ? If I input something in the devtools console I see it on the command-line **and** in the console. I thought the issue was for getting logging to work *inside* of a worker.

[2015-08-01 22:05] SimonSapin opened #6892 "Intermittent timeout /css21_dev/html4/z-index-012.htm"
https://github.com/servo/servo/pull/6741#issuecomment-126955540
http://build.servo.org/builders/mac3/builds/730

[2015-08-01 22:22] jdm commented on #6892
[code]
Build logs aren't permanent, so it's best to stash the known output in github issues.

[2015-08-01 22:24] jdm commented on #6888
@boghison Basically yes. I'm not sure I understand the `yellow[Time 1]: red[x] yellow[Time 2]: green[y]` bit though.

[2015-08-01 22:28] #6767 closed

[2015-08-01 22:41] Wafflespeanut commented on #6866
@HarryLovesCode Right, all that I've said above assumes that you're running everything inside a worker (sorry I didn't mention that). While running a worker, the devtools console can be used to send messages (whose output will be displayed in the command-line, but not on your devtools console - [it looks like this](http://i.imgur.com/82dSEBr.png)).

So, the console (which usually logs in the absen

[2015-08-01 22:52] HarryLovesCode commented on #6866
@Wafflespeanut That helps a lot. I'll commit the changes in a few minutes. I've got it working properly now. Sorry about the confusion.

[2015-08-01 22:58] Wafflespeanut commented on #6866
@HarryLovesCode No problem. And, please ensure that your local build succeeds (to make sure that your changes haven't actually broken something).

[2015-08-01 23:33] jdm commented on #5698
This has turned out to be the opposite of easy in #6685.

[2015-08-02 02:35] metajack commented on #4810
I wonder if the truncated display list patch would help with this. @pcwalton thoughts?

[2015-08-02 03:54] #6708 closed

[2015-08-02 04:47] samfoo commented on #6727
I've done some proof-of-concept work on this over the past couple of days. I'm still debating whether the approach makes sense. The current approach:

* Abstract `load` into two different functions, one that is responsible for performing the request and managing errors, and one that handles IPC/inter-task comms. This, at least, makes testing less complicated.
* Inject the `hyper::net::NetworkConne

[2015-08-02 06:18] dzbarsky commented on #6878
Sorry, forgot to post. I have a PR fixing this and adding tests: https://github.com/servo/servo/pull/6880

[2015-08-02 07:10] boghison commented on #6888
@jdm Time 1 is from the first file, it is red because it's longer by 20%.

[2015-08-02 08:30] s142857 commented on #5618
i moved the files and it is working.
![test0](https://cloud.githubusercontent.com/assets/13268492/9025251/b7b48484-391a-11e5-8105-69fa6dc969ae.png)
![test1](https://cloud.githubusercontent.com/assets/13268492/9025250/b7b12b2c-391a-11e5-8cc8-ddcd83480eaf.png)

[2015-08-02 08:33] s142857 commented on #5618
if this is what you wanted, i can push it

[2015-08-02 08:34] Wafflespeanut commented on #5618
@s142857 You can't push it. Just submit a PR and someone will review it :)

[2015-08-02 08:41] s142857 commented on #5618
im having a problem hope you can help me, it says my fork is up to date, when i say git push upstream. is there any way to force it

[2015-08-02 08:48] Wafflespeanut commented on #5618
@s142857 Like I said, you don't have the privileges to push it directly to the upstream. You just make the changes, `git checkout` into a new `branch`, `git push` your `newbranch` and submit a pull request. [Here's a brief reading on that](https://gun.io/blog/how-to-github-fork-branch-and-pull-request/) :)

[2015-08-02 08:58] Wafflespeanut commented on #5618
@s142857 Hmm, looks like [you've already submitted a PR](https://github.com/servo/servo/pull/6755) a few days back. Why should this be any different? :)

[2015-08-02 09:08] Wafflespeanut commented on #4184
@jdm Let's close this :)

[2015-08-02 09:17] s142857 commented on #5618
that was with the help of my friend

[2015-08-02 09:19] s142857 commented on #5618
#6897

[2015-08-02 09:20] s142857 commented on #5618
even if showing how stupid I am if you want to vouch for me
https://mozillians.org/en-US/u/s142857/

[2015-08-02 09:24] Wafflespeanut commented on #5618
@s142857 Are you sure #6897 is for this issue?

[2015-08-02 09:24] s142857 commented on #5618
yup, is there any problem

[2015-08-02 09:38] Wafflespeanut commented on #5478
@Ms2ger That commit has been merged. You might wanna update that comment of yours :)

[2015-08-02 10:09] s142857 commented on #5618
I dont know what to do
$git push upstream
..
...
To https://www.github.com/s142857/servo
 ! [rejected]        tests -> tests (non-fast-forward)
error: failed to push some refs to 'https://www.github.com/s142857/servo'
hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remote changes (e.g.
hint: 'git pull ...') before pushing aga

[2015-08-02 10:10] s142857 commented on #5618
and when i pull
sanketh@sanketh:~/servo$ git pull upstream
Already up-to-date!

[2015-08-02 13:19] s142857 commented on #5618
Yay I finaly did it

[2015-08-02 13:40] frewsxcv commented on #544
Update on this: #6150 (the SpiderMonkey upgrade) landed a little over a month ago so this should be ready to be worked on

[2015-08-02 13:45] frewsxcv commented on #6056
Was this completed in #6157 ?

[2015-08-02 13:49] frewsxcv commented on #5944
[Link to the line in question](https://github.com/servo/servo/blob/db2eb36e19581eee83247160bbb03e2a671d0479/components/net/cookie.rs#L70)

[2015-08-02 13:53] frewsxcv commented on #5893
Update:

* [`cargo rustc` has landed](https://github.com/rust-lang/cargo/pull/1568)
* [cargo-check](https://github.com/rsolomo/cargo-check) is a relevant project

[2015-08-02 14:15] #4184 closed

[2015-08-02 14:24] jdm commented on #6888
Ah, that makes more sense.

[2015-08-02 14:30] jdm commented on #6727
Exciting! I am having trouble imagining how the split into two functions was managed, but perhaps I'm over-complicating matters in my head.

[2015-08-02 14:30] jdm commented on #6056
Yes, we can file more specific issues about any pieces that are still unimplemented.

[2015-08-02 14:30] #6056 closed

[2015-08-02 14:54] SimonSapin commented on #5893
I’ve been using e.g. `./mach cargo check -p script`, with cargo-check somewhere in my `$PATH`.

[2015-08-02 14:56] SimonSapin commented on #5893
That said, integrating in mach is easier to use than "go mess with your $PATH and install cargo-check yourself"

[2015-08-02 14:57] frewsxcv commented on #5893
Another idea for this: add it to the Travis script so everything gets typechecked upon opening a PR

[2015-08-02 15:39] Manishearth commented on #5893
It can't transitively typecheck, though. If you do it on travis it will build the whole thing except `servo` and typecheck the last one -- it can't use metadata from a previous `-Z no-trans` to work on the next one, it needs all deps to be fully built.

[2015-08-02 18:17] khflab commented on #6756
oh boy, It's the topic, sorry!

I'll try.

[2015-08-02 19:45] #6703 closed

[2015-08-02 22:01] dzbarsky opened #6901 "HTMLCollection::create should cache results"
Other browsers do this and it's killing Dromaeo query performance.

I tried to make CollectionFilter derive Hash, but the Hash trait defines hash_slice which means CollectionFilter won't be object-safe, and therefore we can't pass Box<CollectionFilter> into HTMLCollection::create.

I'm trying some other things, but hashing a trait seems pretty tricky in general.

[2015-08-02 22:43] pcwalton commented on #6901
You could wrap the trait object in a wrapper struct which implements Hash by forwarding to a hashing method on the trait object.

[2015-08-02 22:48] dzbarsky commented on #6901
I tried http://is.gd/HqMVqQ but that involves implementing Eq/Hash on CollectionFilter, and I don't think we want to do that. Trying @pcwalton's suggestion now...

[2015-08-02 23:25] dzbarsky commented on #6901
@pcwalton is http://is.gd/DW2rFf what you meant? @jdm and I couldn't figure out how to get this to actually work because the Self type differs in the actual CollectionFilter implementations.  It seems like you would need to pass down the params as CollectionFilter, and then you'd need to be able to differentiate different types of filters.  At that point, it would be simpler to just have an enum o

[2015-08-02 23:59] HarryLovesCode commented on #6859
I wrote a very simple case that exhibits the issue you are talking about:

[code]

This code should produce a white `div` that takes up the whole screen. When you scroll, the purple `div` should come into view. This expected behaviors does not occur with servo, but does with Firefox, Chrome, and Safari.

The relevant line is the one with `html, body {}`. Both

- `html, body { height: 100vh; }`
- `

[2015-08-03 00:16] frewsxcv commented on #6866
We should probably create a regression test for this before closing

[2015-08-03 00:32] pcwalton opened #6904 "Use JSTypedMethodJitInfo and the [Pure] annotation to allow SpiderMonkey to LICM getAttribute()"
Not having this is the reason we're thousands of times slower on some Dromaeo benchmarks; e.g. `getAttribute()`.

cc @metajack @bzbarsky

[2015-08-03 00:32] pcwalton commented on #6904
cf https://bugzilla.mozilla.org/show_bug.cgi?id=938294

[2015-08-03 00:46] pcwalton opened #6905 "Create a spreadsheet cross-referencing Chromium HTML feature counters with Servo implementation status"
Chromium now has this page: https://www.chromestatus.com/metrics/feature/popularity

It would be great to create a spreadsheet cross-referencing this chart with Servo implementation status so we can understand which HTML and DOM features are most important to implement. We did this with CSS and IMHO it was very successful.

[2015-08-03 00:49] jdm commented on #6866
We can't without #5971, unfortunately.

[2015-08-03 00:49] #6866 closed

[2015-08-03 00:49] pcwalton commented on #6905
One problem with this, though, is that it looks like Chromium is doing this on a case-by-case basis in order to decide whether to remove or break stuff, so overall coverage seems quite low in comparison to the CSS feature list.

[2015-08-03 01:13] jdm commented on #6904
We may need to look patch 3 in https://bugzilla.mozilla.org/show_bug.cgi?id=939581 too.

[2015-08-03 01:18] jdm commented on #6904
I also note this difference between our CGMemberJSJitInfo and Gecko's:
Gecko:
[code]
Servo:
[code]

[2015-08-03 01:20] jdm commented on #6904
I think this is just something that was left out of the SM upgrade; I'm pretty sure I remember seeing it commented out at one point.

[2015-08-03 02:01] bzbarsky commented on #6904
Yeah, claiming infallible if your return-value boxing can fail is bad: it can cause SpiderMonkey to run JS on a context with an already-thrown exception and hijinks will ensue....

[2015-08-03 02:13] pcwalton opened #6906 "String-to-Atom conversion seems way too slow"
We can't reach competitive performance on Dromaeo until we optimize our DOMString-to-Atom conversion. Switching from SipHash to FNV will help some, but I'm sure it won't help enough.

Is Gecko doing something like storing precomputed hashes for DOM strings to avoid hashing them over and over for Atom conversion?

[2015-08-03 04:06] jdm opened #6907 "Include memory allocated by JS C++ bindings in DOM memory report"
This specifically covers things like the JS proxy handlers (WindowProxyHandler, and everything reachable from RegisterBindings::proxy_handlers), which are all allocated in C++ glue code.

[2015-08-03 04:24] jdm opened #6908 "Measure the memory usage of HashMap better"
Currently we estimate it at `capacity() * (size_of::<K>() + size_of::<V>())`. I briefly looked into duplicating the internals in `mem.rs`, but it was looked really complicated.

[2015-08-03 04:26] jdm opened #6909 "Measure the memory usage of HashSet"
There's at least one in Window that is not contributing to the count of heap allocations.

[2015-08-03 04:28] jdm opened #6910 "Figure out how to measure the data that is shared between script/layout"
There's a box that is transmuted to `*const ()` in `LayoutData` which makes it pretty hard to measure from script.

[2015-08-03 04:36] jdm commented on #6832
Whoops, wrong repository.

[2015-08-03 04:36] #6832 closed

[2015-08-03 04:37] jdm commented on #6821
This was a failure introduced and fixed by #6795.

[2015-08-03 04:37] #6821 closed

[2015-08-03 04:37] jdm commented on #6820
This was a failure introduced and fixed by #6795.

[2015-08-03 04:37] #6820 closed

[2015-08-03 04:37] jdm commented on #6819
This was a failure introduced and fixed by #6795.

[2015-08-03 04:37] #6819 closed

[2015-08-03 04:40] jdm opened #6911 "Can't ignore measuring inner fields of newtypes"
Similar to #6871, this forces us to ignore users of the type rather than the parts of the type that actually cause difficulties.

[2015-08-03 04:46] jdm opened #6912 "Measure the heap usage of Url"
There are a lot of them, and they're stubbed out as 0 in mem.rs right now.

[2015-08-03 05:00] jdm opened #6913 "LayoutWorker panic: assertion failed: marker_fragments.len() == 1"
Visit https://html.spec.whatwg.org/ and see:
[code]

[2015-08-03 06:02] #5681 closed

[2015-08-03 06:03] jdm commented on #3598
getComputedStyle exists now!

[2015-08-03 09:54] Ms2ger opened #6915 "Add test: Fix panic when html element has display: table."
@glennw #6865 should have had a test; please add one after the fact.

[2015-08-03 10:04] Ms2ger commented on #6864
Yeah, there's a bunch of failures like that. But surely in this case both prints should occur on the same thread?

[2015-08-03 11:58] Ms2ger commented on #6904
Return-value boxing panics on failure, so this shouldn't be an issue.

[2015-08-03 12:29] Ms2ger opened #6916 "Add test: Fix misdirected animation properties."
@pcwalton: folloup from #6889

[2015-08-03 12:31] Ms2ger commented on #6887
This seems like something that should be discussed on a case-by-case basis, rather than in a widely-scoped issue like this.

[2015-08-03 12:31] #6887 closed

[2015-08-03 12:40] Ms2ger commented on #6864
Never mind, one is in the worker.

[2015-08-03 13:12] Ms2ger commented on #544
Sequence arguments in Gecko use `JS::ForOfIterator`. We need something equivalent, but I'm not quite sure what the best design is.

[2015-08-03 14:21] SimonSapin commented on #6912
rust-url being an external crate makes it hard to derive `HeapSizeOf`, but implementing manually in `mem.rs` should be doable as all `Url` fields are public. To make sure this impl is and stays correct, use struct patterns rather than `foo.bar` field access:

[code]

[2015-08-03 14:26] metajack commented on #6912
Why do struct patterns ensure forward compatability here? Also what if more public fields are added? Won't the struct pattern then fail but direct field access have been fine?

[2015-08-03 14:30] SimonSapin commented on #6912
That’s the point: if a future rust-url version adds a new field, an exhaustive struct pattern (without `..`) will fail to build rather then silently fail to measure some data. This build failure will force us to update the measuring code to make it correct again.

[2015-08-03 15:16] jdm opened #6918 "paypal.com never displays anything and doesn't process user input events"
This means that you can't close Servo without terminating the process.

[2015-08-03 15:17] jdm commented on #6858
Also seen on http://www.paypal.com

[2015-08-03 15:23] jdm commented on #6918
We appear to be stuck in a call to force_reflow that is waiting in join_layout, while layout is waiting for all results of performing parallel layout, but a layout task crashed (see #6858).

[2015-08-03 15:23] metajack commented on #6858
This happens on several CSS tests as well with test-css. They are marked as expecting CRASH currently.

- /css21_dev/html4/abspos-containing-block-initial-004f.htm
- /css21_dev/html4/abspos-containing-block-initial-005b.htm
- /css21_dev/html4/abspos-containing-block-initial-005d.htm

And possibly more.

[2015-08-03 15:27] jdm commented on #6918
[code]

[2015-08-03 15:28] jdm commented on #6918
[code]

[2015-08-03 16:05] jdm opened #6919 "HTTPS tests break in WPT with certification validation error"
I assume we need to set up Servo to load certificates from a different location than usual; @jgraham ?

[2015-08-03 16:07] pcwalton commented on #6916
Yeah, I would have added a test but I don't know how to test this in a way that isn't going to be fragile, since animations progression is driven by the refresh driver.

[2015-08-03 16:19] metajack commented on #6916
Can you animate a property, wait 1s and then read the new position? You were animating the totally wrong properties before, so it seems that such a test would catch that case.

[2015-08-03 16:34] jdm opened #6921 "Write a WPT test for STS headers"
I've got one I'm working on but it runs afoul of Firefox's mixed content blocking. My idea is that the test is run in an HTTPS window, loads an HTTPS iframe that has an STS header, then loads an HTTP iframe that should be upgraded.

cc @samfoo

[2015-08-03 16:36] Wafflespeanut commented on #6728
will be fixed by #6920

[2015-08-03 16:38] #6756 closed

[2015-08-03 16:45] SimonSapin commented on #6919
`./mach test-wpt` output shows that a certificate is created. I suppose it should be added to the set of trusted roots. (Only for the purpose of running tests of course.)

[2015-08-03 16:46] Ms2ger opened #6922 "Document `ChromeToDevtoolsControlMsg`/`ScriptToDevtoolsControlMsg`."
Who sends them to whom, and why?

Code: `components/devtools_traits/lib.rs`

[2015-08-03 16:49] Ms2ger opened #6923 "Remove DevtoolsControlChan/DevtoolsControlPort typedefs."
Their names suggest they deal with the same message type, but…
[code]

It would be less confusing to just use the original types.

Code: `components/devtools_traits/lib.rs`, `components/script/script_task.rs`, `components/compositing/constellation.rs`, and `components/compositing/pipeline.rs`.

[2015-08-03 16:59] Ms2ger opened #6924 "Improve the names for devtools-related channels in workers."
`WorkerGlobalScope` has fields

[code]

This is confusing because `chan` and `sender` are usually used interchangeably.

`DedicatedWorkerGlobalScope::run_worker_scope` has arguments

[code]

which is no less confusing, as the two senders are `IpcSender`s.

To fix this issue, figure out the distinction between these channels, and invent names for them that explain the distinction. None of those nam

[2015-08-03 17:04] bzbarsky commented on #6906
Gecko doesn't store precomputed hashes.

However what Gecko _does_ do for a setAttribute call is walk the existing list of attributes looking for one which matches the given name.  See the `InternalGetExistingAttrNameFromQName` call at the top of `Element::SetAttribute`.  This is needed anyway, because you have to find the right namespace/prefix for the given name, etc.

`InternalGetExistingAttrNa

[2015-08-03 18:14] dzbarsky opened #6928 "Suppress exceptions in requestAnimationFrame callback"
See Window::RequestAnimationFrame.

[2015-08-03 18:29] SimonSapin commented on #6906
`Atom::from_slice` hashes twice. (Once for the static atom set, once for the dynamic map.) I’m working on a PR to rust-phf to allow re-using the phf hash.

[2015-08-03 18:46] jdm opened #6929 "Intermittent timeout in /css21_dev/html4/background-position-151.htm"
[code]

[2015-08-03 18:46] jdm opened #6930 "Intermittent timeout in /css21_dev/html4/bidi-001.htm"
[code]

[2015-08-03 18:52] jdm opened #6931 "test-css with --debugger=gdb yields a python error"
[code]
cc @jgraham

[2015-08-03 18:54] jdm commented on #6931
Oh, maybe this is what you get when gdb isn't installed. :/

[2015-08-03 18:54] jgraham commented on #6919
Yes, that's what Firefox does (using certutil; see https://dxr.mozilla.org/mozilla-central/source/testing/web-platform/harness/wptrunner/browsers/firefox.py#177 ). I don't know how to do the same for Servo however.

[2015-08-03 19:05] boghison commented on #6931
Works fine here with gdb installed :)

[2015-08-03 19:12] boghison commented on #6913
Not happening here:
![Screenshot]
(http://i.imgur.com/LeoCUt6.png)

[2015-08-03 19:49] jdm commented on #6913
If that's a release build, the assertion won't be hit.

[2015-08-03 19:52] boghison commented on #6913
@jdm -_- I looked at the source, I know. This was on debug.

[2015-08-03 20:07] SimonSapin commented on #6919
`net::http_loader::load` calls `openssl::ssl::SslContext::set_CA_file`. Maybe have a command-line option to use an alternative CA file? Or should this be more obscure, to avoid tempting users?

By the way, @Manishearth, where does `resources/certs` come from? It’s rather opaque.

[2015-08-03 20:29] connorimes opened #6933 "Restarting too quickly causes hang with Linux i915 graphics driver"
Restarting servo too quickly sometimes results in a system UI freeze when opening a new Servo window, requiring a hard reboot.  Issue filed with Linux kernel [1].  My restart with was approximately 1 second.  Increasing the sleep time seems to work around the problem, but slows down collecting benchmark results.

[1] https://bugzilla.kernel.org/show_bug.cgi?id=102161

The system is a Lenovo Thinkp

[2015-08-03 20:42] jdm commented on #6913
Interesting!

[2015-08-03 20:59] jdm opened #6934 "Implement AbstractWorker onerror event handler"
This needs some uncommenting in a WebIDL file and judicial use of the `event_handler!` macro in the Rust implementation. We should then run the appropriate tests using `./mach test-wpt tests/wpt/web-platform-tests/workers` and see what changes.

Relevant code: components/script/dom/webidls/Worker.webidl, components/script/dom/worker.rs

[2015-08-03 22:57] SimonSapin commented on #6908
Should we file an issue on Rust to add some API?

[2015-08-03 23:03] frewsxcv commented on #6558
Ignore my previous comment.

@mt2d2 I think the code you pasted above does the right thing, no?

Also, I updated it to work with the latest changes:

[code]

[2015-08-03 23:08] Gankro commented on #6908
As of today (and for the last ~year) it's basically  (cap() * 11 / 10) * (size(K) + size(V) + size(u64)), but there's some minor loss due to alignment and integer arith.

Basically a HashMap is [hash, hash, hash, ..., key, key, key, ... value, value, value...] allocated as a single buffer via jemalloc.

But the reported capacity is `real_cap * 10 / 11` because we don't let the table get totally fu

[2015-08-03 23:10] Gankro commented on #6908
As an aside, @pczarn had a PR to change this to `[hash, hash, hash,... (K,V), (K,V), (K,V), ...]` which shuffled around some perf characteristics, but we didn't go forward with it.

[2015-08-03 23:17] nnethercote commented on #6912
That's a neat trick.

[2015-08-03 23:19] nnethercote commented on #6912
...and a trick that arguably deserves a comment so some eager beaver doesn't rewrite the code in the future?

[2015-08-03 23:19] pcwalton opened #6939 "Clicking a "[ - ]" collapse button on a Reddit comment thread causes the page to be replaced with "undefined""
STR: Go to https://www.reddit.com/r/Bitcoin/comments/3fe92x/im_ashley_barr_aka_adam_turner_the_first_mtgox/ and click on a [ - ]. The page vanishes.

[2015-08-03 23:22] khflab opened #6941 "Use is_int32/is_number in handle_evaluate_js"
Working on #6756 I saw that we already have [is_int32](https://github.com/servo/rust-mozjs/blob/master/src/jsval.rs#L238) and [is_number](https://github.com/servo/rust-mozjs/blob/master/src/jsval.rs#L258).

Is the case to implement another else if?

[2015-08-03 23:31] JoshTheGoldfish commented on #6934
@jdm, I'd like to check this one out. This would be my first time contributing to an open source project, and my first time using Rust for anything non-trivial. So far, I've cloned the repo, did a build, and ran those tests with the following results:

[code]

Is this expected? Any guidance would be appreciated.

[2015-08-03 23:36] jdm commented on #6934
It looks like you're missing a virtualenv installation. See the list of prerequisites at https://github.com/servo/servo/#prerequisites!

[2015-08-03 23:38] jdm commented on #6941
This is being addressed already in #6920, but thanks!

[2015-08-03 23:38] #6941 closed

[2015-08-04 00:07] pcwalton opened #6942 "Mousing over the root flow can cause selector matching to rerun for the whole document"
This is because we don't know whether there might be a selector `body:hover X { ... }` for all nodes X, and so we conservatively rerun selector matching for the whole document even if the body's style didn't change. This is very slow!

It seems like a general problem. How does Gecko deal with it?

[2015-08-04 01:06] Wafflespeanut commented on #6728
has been fixed by #6920 (/cc @jdm)

[2015-08-04 01:08] heycam commented on #6942
This is a kind of problem we are [just fixing now](https://bugzilla.mozilla.org/show_bug.cgi?id=1180118) in Gecko.  Although the patches I have there won't work for :hover state matching changes, it should extend easily to that.

Selectors in Gecko are represented by lists of [`nsCSSSelector`](https://dxr.allizom.org/mozilla-central/rev/1d4f44ee51668865945db95c5fbd898e71955a33/layout/style/StyleRu

[2015-08-04 01:51] dbaron commented on #6942
Though @pcwalton said "there might be a selector", not "there is a selector", so it's not clear to me that he's saying that servo already has the equivalent of our HasStateDependentStyle and HasAttributeDependentStyle methods.  Those use data structures that store pointers into the middle of CSS selectors so that we know which (if any) restyle hints are necessary in response to attribute or state

[2015-08-04 02:24] pcwalton commented on #6942
Right, @dbaron is correct. Servo is missing the nsRestyleHint infrastructure entirely. So a quick summary of this bug might be "Servo needs an nsRestyleHint".

[2015-08-04 02:36] #6912 closed

[2015-08-04 02:40] Manishearth commented on #6919
https://github.com/servo/servo/blob/master/etc/cert_generator.js run in Firefox's browser debugger shell (Ctrl-Shift-J if enabled)

[2015-08-04 03:10] #6728 closed

[2015-08-04 04:55] Manishearth commented on #6919
We can create a new resources dir for testing and pass it via `--resources-path`

[2015-08-04 05:08] jdm commented on #6919
That _would_ also allow us to get rid of a bunch of the guessing at http://mxr.mozilla.org/servo/source/components/util/resource_files.rs#20...

[2015-08-04 05:33] jdm opened #6951 "Measure the heap memory usage of the remaining derived types of Element"
#6874 added the basics for measuring the heap memory used by the DOM tree. However, the `heap_size_of_eventtarget` method in `mem.rs` is incomplete - it needs a variant for every single derived type of `Node` (Element, HTMLElement, HTMLTextAreaElement, etc.) What this means in practice is adding `#[derive(HeapSizeOf)]` to the type that needs measuring, adding a new match arm to `heap_size_of_event

[2015-08-04 05:33] pcwalton opened #6952 "Browsing for a while eventually crashes in IOSurface"
STR: Start up Servo, browse for a while, click links, etc. You will eventually crash with an IOSurface error. Sometimes tiles get switched around before the crash.

I suspect an IOSurface leak or race.

cc @mrobinson

[2015-08-04 05:34] jdm commented on #6951
You can see the effects of your changes by running `./mach run -m 3 [url]` and looking at the value of `dom-tree` in the output. New implementations for types with a lot of members could make the number increase meaningfully for sites containing lots of DOM nodes of that type!

[2015-08-04 05:39] notriddle opened #6953 "Jumpy styles with positions based on the size of an image"
<https://www.notriddle.com/servo-bug-relative-to-image.html>

By combining inline-block, relative positioning, and absolute positioning, it's possible to have stuff stuck to the sides of a dynamically-sized image. Except that the item doesn't move when the image's real size is learned.

[2015-08-04 05:52] pcwalton commented on #6952
Here's another symptom: `thread 'PaintWorker' panicked at 'assertion failed: dst.len() >= len_src', src/libcore/slice.rs:1474`

[2015-08-04 06:05] pcwalton commented on #6952
Another symptom:

[code]

[2015-08-04 10:30] frewsxcv opened #6956 "Remove dead Python code in binding generating code"
1. Install [vulture](https://bitbucket.org/jendrikseipp/vulture)
2. `vulture components/script/dom/bindings/codegen/*.py`

At the time of writing, here are things that are not being used:

[code]

[2015-08-04 11:19] boghison commented on #6951
I am keen, but I'll also leave a comment :)

[2015-08-04 11:28] SimonSapin commented on #6919
@jdm do you mean making `--resources-path` mandatory?

[2015-08-04 12:38] SimonSapin opened #6958 "Intermittent CRASH expected TIMEOUT in /css21_dev/html4/counter-reset-increment-002.htm"
https://github.com/servo/servo/pull/6949
[code]

[2015-08-04 14:40] jdm commented on #6956
This list is not correct - we definitely use PrototypeList, RegisterBindings, InterfaceTypes, Bindings, and InheritTypes from http://mxr.mozilla.org/servo/source/components/script/dom/bindings/codegen/GlobalGen.py#68, for example. How does vulture determine these things?

[2015-08-04 14:44] jdm commented on #6919
Well, we could default to assuming a path like target/mode/servo I suppose?

[2015-08-04 14:44] jdm commented on #6958
Duplicate of #6818.

[2015-08-04 14:44] #6958 closed

[2015-08-04 14:46] frewsxcv commented on #6956
It doesn't do any runtime evaluation so it won't catch the example you posted. I did a couple searches when I initially filed this issue and there appeared to be some code that was actually not used, but I didn't check everything. I'm planning on finishing a few things today (one of them being updating my résumé), but then I can take care of this issue, so I'll assign it to myself.

[2015-08-04 15:53] frewsxcv opened #6962 "Build servo on travis"
Right now, [travis just executes `mach make-tidy`](https://github.com/servo/servo/blob/master/.travis.yml)

Is there any reason we don't have travis also build servo? It seems like that could reduce some of the churn for pull requests that fail to compile immediately after they get r+'d.

[rust-lang/rust recently updated their travis config to compile stage1](https://github.com/rust-lang/rust/pull

[2015-08-04 16:06] metajack commented on #6962
Travis can't reliably build mozjs. It doesn't have enough memory.

[2015-08-04 16:13] Ms2ger opened #6963 "Implement IndexedDB."
(Just filing as a placeholder.)

[2015-08-04 16:50] frewsxcv commented on #6962
Ah, that's unfortunate. I didn't know building mozjs consumed >3GB of memory :(

The only solution I can think of would be to publish servo/mozjs to crates.io, which might not be desirable? If publishing it isn ot desirable, and you don't think this issue can be completed realistically, then this issue can be closed.

[2015-08-04 17:16] metajack commented on #6962
How does crates.io help here? It does not store binary packages just metadata.

[2015-08-04 17:25] frewsxcv commented on #6962
Blah, sorry, you're right (I blame my jet lag). Never mind that then

[2015-08-04 18:02] Ms2ger opened #6967 "Don't apply padding to table captions? Investigate failure in vertical-align-baseline-009.htm"
[Allegedly](https://github.com/servo/servo/pull/6947#issuecomment-127673309) we do that, and it causes `tests/wpt/css-tests/css21_dev/html4/vertical-align-baseline-009.htm`.

@pcwalton, can you confirm I got that right?

[2015-08-04 18:05] pcwalton commented on #6967
It's something like that. I haven't gotten the time to fully dig into it.

[2015-08-04 18:11] Ms2ger opened #6968 "Track GC pauses somehow."
For Gecko's code, see the `nsIConsoleService` usage in <https://mxr.mozilla.org/mozilla-central/source/dom/base/nsJSEnvironment.cpp?rev=60b5a53aeb8f#2227>. It'd probably be useful to log this on request.

[2015-08-04 18:23] dzbarsky opened #6969 "Use a lookup table to un-premultiply alpha values in CanvasRenderingContext2D::GetImageData"
[code]
The existing code does 4 float divisions per pixel which could get slow for big canvases.

[2015-08-04 18:43] boghison commented on #6951
@jdm So, basically, I should fill util/mem.rs with types, right?

[2015-08-04 18:56] jdm commented on #6951
For a type T that does not currently implement HeapSizeOf, there are thee solutions:
* if it's defined a crate under servo/servo, add derive(HeapSizeOf) to it (or manually impl HeapSizeOf in the same module if it can't be automatically derived for some reason)
* if it's defined outside of servo/servo and it's highly unlikely to contain any pointers to other heap-allocated memory, add it to the lis

[2015-08-04 19:27] jdm opened #6972 "Check if calling postMessage from the worker JS console in devtools works"
I am highly suspicious that it does not, because the messages received by the devtools receiver don't include a TrustedWorkerAddress and therefore the unwrap in DedicatedWorkerGlobalScope fails because we don't have an AutoWorkerReset object on the stack.

[2015-08-04 19:28] notriddle commented on #6968
:hand: I'd like this one.

[2015-08-04 19:29] pczarn commented on #6908
Exactly as above, and `(capacity() * 11 / 10).next_power_of_two() * (...)` will correct off-by-one loss.

[2015-08-04 19:33] jdm opened #6973 "Check if worker threads keep running after devtools client disconnects"
Easy test to see if there's currently a problem:
[code]
[code]
Then [connect to the worker global](https://github.com/servo/servo/wiki/Devtools) in FF's devtools, and close the devtools and see if the worker continues logging messages.

[2015-08-04 20:02] jdm commented on #6968
Go for it!

[2015-08-04 21:08] jdm commented on #6818
Ran the test under gdb on the builder:
[code]

[2015-08-04 21:25] metajack commented on #6818
is 200GB reasonable? :) capacity=2147483648

[2015-08-04 21:25] jdm commented on #6818
ALL THE COUNTERS

[2015-08-04 21:25] metajack commented on #6818
Also, someone wins a prize for the worst named SmallVec in the codebase!

[2015-08-04 21:58] dzbarsky commented on #6848
Fixed.

[2015-08-04 22:20] #6848 closed

[2015-08-04 23:12] mbrubeck opened #6978 "Some sequences of numbers and punctuation incorrectly rendered RTL"
Given the following text:

[code]

Servo incorrectly renders it as:

[code]

This is probably a bug in the Unicode bidirectional layout implementation.

[2015-08-05 00:32] chotchki commented on #6739
Hey @jdm, sorry went on vacation for a week, back and resuming work on it tonight.

[2015-08-05 00:33] jdm commented on #6739
Not a problem :)

[2015-08-05 00:59] jdm opened #6982 "Memory reporting for workers is broken"
This was busted during the e10s upgrade. We now collect the memory report from the main thread an extra time for each worker, rather than reporting the JS runtime usage for each worker.

https://github.com/servo/servo/commit/f10c0761802ed0f77e21d410124ef54239beb48a#diff-c3210c2a1bf5e1de39588154cd766100L209

[2015-08-05 01:43] #6818 closed

[2015-08-05 01:50] s142857 commented on #6838
i can do it, this is more up my alley

[2015-08-05 02:04] chotchki commented on #6739
@jdm, can you look at the following diff for reasonableness in approach? I know I have Rust syntax to fix but I need feedback on if the general concept is okay.

https://github.com/chotchki/servo/commit/6e276e8f6fcefbd8343695e89ee0695d97d8e5ac

[2015-08-05 02:51] jdm commented on #6838
Ok!

[2015-08-05 02:55] jdm commented on #6739
The logic seems right to me! I think we could improve it by storing combined `HashMap<String, (usize, BTreeMap<DOMString, DOMString>)>` values, though, rather than a separate map of origins to total storage size. We can then adjust code like
[code]
to be
[code]

[2015-08-05 03:09] chotchki commented on #6739
Thanks for the review! I'll adjust, finish the clean up and work to get a
pull request in.

On Tue, Aug 4, 2015, 10:55 PM Josh Matthews <notifications@github.com>
wrote:

--

- Chris

[2015-08-05 03:21] jdm opened #6984 "Address XXX comment about JS_GetPropertyDescriptorById in getOwnPropertyDescriptor"
JS_GetOwnPropertyDescriptorById [exists](https://github.com/servo/rust-mozjs/blob/master/src/jsapi.rs#L8401) now, so we should make use of it.

Code: components/script/dom/browsercontext.rs

[2015-08-05 03:44] pcwalton opened #6986 "Automate jumpiness test cases"
It's tricky to automate them, but we should try.

For posterity, jumpiness here refers to incorrect dynamic restyling that causes fragments to jump around as you hover over them with the mouse.

[2015-08-05 03:49] jdm commented on #6986
What is it about mouse hovering that triggers the problem?

[2015-08-05 03:52] pcwalton commented on #6986
It's the most common way to effect a restyle.

I imagine that having restyle hints that allow us to avoid restyling on hover will cover up these issues too, but that'd just be a cover-up: fundamentally, these are dynamic restyling/reflow bugs.

[2015-08-05 04:17] glennw commented on #6986
It would be fairly trivial to modify the is_ready_to_paint_image_output() infrastructure to trigger and wait for a specified number of (non)incremental reflows before writing the image. Would something like this do the job?

[2015-08-05 04:22] pcwalton commented on #6986
My problem actually was that I couldn't actually trigger the problem from script at all. For some reason only hover caused the issue.

My current hypothesis is that it has something to do with the node damage.

[2015-08-05 06:29] Ms2ger commented on #6978
(Needs a cargoup still.)

[2015-08-05 06:42] Ms2ger commented on #6984
Because of this code in `browsercontext.rs`:
[code]
and this code in SpiderMonkey:
[code]

… I believe this should be purely refactoring, so I won't be able to ask for a test :)

[2015-08-05 12:09] s142857 commented on #6838
can you assign to me

[2015-08-05 13:10] HarryLikesCode commented on #6879
@jdm Should all of the unwraps be handled? Or just the one that causes a panic when curl connects (`u64::from_str_radix` on the packet length I believe)?

[2015-08-05 13:15] jdm commented on #6879
We can try changing all of the unwraps in `read_json_packet`!

[2015-08-05 14:03] frewsxcv commented on #2665
[Relevant comment the code](https://github.com/servo/servo/blob/84e25befdd97cf74fb00707dbe150d59d980e977/components/script/dom/bindings/codegen/CodegenRust.py#L4737)

[2015-08-05 14:32] boghison commented on #6951
@jdm Do I ignore Root and JS?

[2015-08-05 14:44] jdm commented on #6951
`JS<T>` already has a size of 0. I'm super curious where we end up with Root values, though!

[2015-08-05 15:25] wilmoz commented on #6973
The output of the thread works https://pastebin.mozilla.org/8841718 but apparently there's a problem with the output in the remote console
![captura de pantalla de 2015-08-05 10-15-04](https://cloud.githubusercontent.com/assets/7908418/9089721/3620161a-3b5c-11e5-921a-57bd45631d23.png)

[2015-08-05 15:26] narfg opened #6997 "OOM in reddit search"
Steps to reproduce:
- ./mach run --release http://www.reddit.com
- type "servo" in search bar
- hit return
- wait for crash

~~Unfortunately, I was not able to reproduce the crash in a debug build.~~
Output of gdb:

[code]

[2015-08-05 15:30] jdm commented on #6973
Those are just test values; there's no actual problem.

[2015-08-05 15:30] jdm commented on #6973
That linked output doesn't seem to include closing the devtools connection, does it?

[2015-08-05 15:35] metajack commented on #6997
Do you get an error in the debug build at least? Or just nothing? If this is an overflow like the last one, then probably that would trigger a panic in debug mode.

[2015-08-05 15:41] s142857 commented on #6905
the page is not scrolling

[2015-08-05 15:42] wilmoz commented on #6973
I've update the message

[2015-08-05 16:07] farodin91 commented on #6753
Will do this.

[2015-08-05 16:08] frewsxcv opened #6999 "pyflakes is not being registered into flake8"
Steps to reproduce:

1. Add unused Python import
2. Make sure `flake8` and `pyflakes` are not installed locally (to keep things simple)
3. Run `./mach test-tidy` and notice that the unused import does not cause a warning

A little background: Flake8 does not require pyflakes to be installed, and can be run without it. If pyflakes is installed, flake8 will run the checks it provides (like finding u

[2015-08-05 16:12] jdm commented on #6973
Perfect! I guess this is not a problem like I thought it would be.

[2015-08-05 16:12] #6973 closed

[2015-08-05 16:13] Ms2ger commented on #6999
Maybe the easiest solution would be to run pyflakes manually?

[2015-08-05 16:17] Manishearth commented on #4954
@tarcieri What's the status on this? Does it mostly work now, and is it ready for (experimental?) integration in Servo?

[2015-08-05 16:21] tarcieri commented on #4954
@Manishearth nope, I got distracted by other things, but I'd like to pick it up and finish it soon

[2015-08-05 16:27] frewsxcv commented on #6999
That is possibly an option. If we decide to go that route, we might be able to scrap flake8 altogether and just run pyflakes and pep8 separately.

I don't think automating setting a virtual environment with proper installation of Python dependencies should be too difficult. I think that would be the proper solution here, so I'd like to explore that before resorting to expanding the current hacks.

[2015-08-05 16:35] narfg commented on #6997
I wasn't patient enough. It also crashes in a debug build. Here is the new stack trace:
[code]

[2015-08-05 16:48] metajack commented on #6997
Seems like we must get into an infinite loop with line breaking or something.

https://github.com/servo/servo/blob/master/components/layout/inline.rs#L394

Is the code in question, and the OOM is almost certainly because this vec is growing without bound.

cc @pcwalton @mbrubeck

[2015-08-05 17:01] farodin91 opened #7004 "Implement some of the IDL attributes for input"
Spec: https://www.whatwg.org/html/#htmlinputelement
Code: components/script/dom/webidls/HTMLInputElement.webidl, components/script/dom/htmlinputelement.rs

[2015-08-05 17:47] connorimes opened #7005 "Some pages hang with -x option"
Some pages load normally without -x option, but hang with it, before anything is displayed in the servo window.

Examples from servo-static-suite:
"cnn/CNN.com - Breaking News, U.S., World, Weather, Entertainment & Video News.html"
"pinterest/New York Public Library on Pinterest.html"

[2015-08-05 18:35] larsbergstrom commented on #6432
This issue is fixed in https://github.com/servo/rust-mozjs/pull/181. I'll pick that up when I have fixes for the rest of the Android issues.

[2015-08-05 19:03] frewsxcv commented on #6962
For what it's worth, I was curious if anyone in `#jsapi` on Mozilla IRC had any suggestions on reducing memory during compilation:

[2015-08-05 21:05] Yoric commented on #5478
Is this bug still open?

[2015-08-05 21:07] frewsxcv commented on #5478
@Yoric Yep! The line I linked to in my last comment still needs to be updated

[2015-08-06 00:56] chotchki commented on #6739
@jdm, I went to make the changes tonight and I see an issue with merging the HashMap for the quota with the data. Namely the quota will cover both session AND local storage. To cover this case I am planning on merging quota, session and local storage into one HashMap. Will that be acceptable?

I am trying to look ahead to some other parts of the html standard regarding persisting to disk and allow

[2015-08-06 01:55] pcwalton opened #7016 "Part of the GitHub diffstat is incorrectly rendered as RTL when it's not"
Minimal testcase:

    <!DOCTYPE html>
    <style>
    .text-diff-added {
        color: green;
        font: 13px Helvetica;
    }
    .text-diff-deleted {
        color: red;
        font: 13px Helvetica;
    }
    </style>
    <body><span class="text-diff-added">+1</span><span class="text-diff-deleted">−114</span>

Notice that the minus sign is a high Unicode character, not `-`. On my system, t

[2015-08-06 03:01] HarryLovesCode opened #7018 "Tile display list optimization issue on github.com on Retina Mac"
Here is Github as of f570da28c29e2cd762fd7743f11b711c18055aac (on Mac OS X 10.10.4)...

<img width="1392" alt="screen shot 2015-08-05 at 9 32 46 pm" src="https://cloud.githubusercontent.com/assets/12660259/9102491/0063a478-3bc1-11e5-8be6-994cb2fcae29.png">

Here is Github as of 11acfbc29fd3412c18b6bf62e51faef5c2435fd3 (also on Mac OS X 10.10.4)...

<img width="1392" alt="screen shot 2015-08-05 at

[2015-08-06 03:04] glennw commented on #7018
I suspect https://github.com/servo/servo/pull/6983 - it looks like something being clipped at a tile boundary perhaps.

[2015-08-06 03:07] glennw commented on #7018
Although, I just checked on my Linux machine with master on github, and it looks fine. If that commit above is the cause, it might be a bug related to retina display scale factors.

[2015-08-06 03:12] mbrubeck commented on #7016
This is a duplicate of #6978 which has a fix in the queue (#6998).

`paragraph_bytes_processed` is a byte index into the string passed to `unicode_bidi::process_text` (and thus also an index into the bidi levels array it returns).  This string parameter used to be named `paragraph` until servo/unicode-bidi#12, but I forgot to rename this variable when the other variable names changed.

[2015-08-06 03:13] #7016 closed

[2015-08-06 03:52] pcwalton commented on #7018
Confirmed on Retina Mac, and confirmed to be tile-based (`-s 2048` makes other things disappear).

[2015-08-06 04:07] jdm opened #7019 "Intermittent timeout in /old-tests/submission/Opera/script_scheduling/109.html"
Bad run:
[code]
Good run:
[code]

[2015-08-06 04:07] mbrubeck opened #7020 "Intermittent WPT timeout in /old-tests/submission/Opera/script_scheduling/109.html"
http://build.servo.org/builders/mac1/builds/2861/steps/shell_2/logs/stdio

[2015-08-06 04:09] jdm commented on #7019
This looks like https://github.com/servo/rust-mozjs/blob/master/src/rust.rs#L725 needs a similar treatment to #6917.

[2015-08-06 04:10] jdm commented on #7020
Duplicate of #7019. Please also past the actual test output rather than build log links, since those go stale.

[2015-08-06 04:10] #7020 closed

[2015-08-06 04:13] jdm commented on #6739
I am not really concerned if localStorage and sessionStorage have independent quotas for a single origin.

[2015-08-06 04:13] glennw commented on #7018
@pcwalton Thanks - PR referenced above that fixes it, if you have a moment to review.

[2015-08-06 04:15] jdm opened #7022 "Intermittent timeout in /css21_dev/html4/c536-bgpos-001.htm"
[code]

[2015-08-06 04:18] glennw opened #7023 "Convert the units used in the PaintContext struct to use typed units."
To avoid retina display related bugs.

[2015-08-06 07:20] Yoric commented on #5478
Ok, then I'll try and do it.

[2015-08-06 09:14] nical commented on #6535
Note that you still can't use the same FT_Face object from multiple threads.

[2015-08-06 09:50] Ms2ger commented on #6739
Putting local and session storage in the same hashmap sounds annoying. We might eventually need to end up with a unified quota for all databases in the platform, though.

[2015-08-06 09:56] Ms2ger commented on #6739
https://storage.spec.whatwg.org/#quota

[2015-08-06 10:01] Yoric commented on #1230
Is this bug still valid? @abustany , are you still working on it?

[2015-08-06 10:08] Yoric opened #7029 "Support Telemetry"
(probably a subset of #241)

To perform real-world performance testing, [Telemetry](https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Adding_a_new_Telemetry_probe) would be extremely useful.

[2015-08-06 10:09] abustany commented on #1230
I'm not working on that issue at the moment, feel free to take it!

[2015-08-06 10:10] SimonSapin commented on #7029
Yes, I’d like to have data about #6564 for example.

Do you have suggestions of how to approach this? I mean on the high level design. Could we share some of Firefox’s infrastructure?

[2015-08-06 11:24] Yoric commented on #7029
Well, Telemetry in Firefox is C++ and .jsm, plus the server back-end.
I believe that the server back-end could be reused immediately (it works for several products already). The client side, however, well, that depends on the policy of shipping C++/jsm code in Servo.

[2015-08-06 11:26] frewsxcv commented on #4362
This was addressed in #4415

[2015-08-06 11:26] #4362 closed

[2015-08-06 11:26] Yoric opened #7030 "thread 'LayoutWorker worker 2/3' panicked at 'assertion failed: marker_fragments.len() == 1', servo/components/layout/construct.rs:1175"
While visiting http://rustlang.org, with b9dcd49778b8ff6d2aef0ac2420c3a30b80432c1.

Full stack:
[code]

[2015-08-06 11:27] Yoric commented on #7030
Cc @mbrubeck , @pcwalton .

[2015-08-06 11:30] frewsxcv commented on #4246
This might be fixed, though I haven't done any testing

[2015-08-06 12:02] frewsxcv commented on #1679
I don't know enough about the layout component yet to say if this issue is still valid, but to keep it up to date:

* `Box::content_height` and `Box::content_width` became `Fragment::content_height` and `Fragment::content_width` respectively in 3ffce02b88a59e5967a31a29d4666bde176e874c
* `Fragment::content_height` and `Fragment::content_width` became `Fragment::content_block_size` and `Fragment::co

[2015-08-06 12:39] Yoric opened #7031 "`mach test-ref` displays warnings"
As suggested by @SimonSapin, I'm working on this.

[2015-08-06 12:42] Yoric commented on #7031
I get the following warning:

[code]

I see two solutions here, I don't know which is preferred:
- I can keep `tail` and allow deprecated code;
- or I can switch to `split_first`, which is unstable, and requires me to allow the feature with `#![feature(slice_splits)]`.

I suspect that the latter is better, but I'd like confirmation.

[2015-08-06 13:29] Yoric commented on #7029
Cc @georgf.

To clarify, Telemetry is:
 1. a set of histograms (name, description, histogram kind, value range), used both on the client (to update the histograms) and on the server (to display the description, labels, etc.);
 1. a client-side API used to add values to histograms or to read values from histograms;
 1. a client-side page `about:telemetry` which uses the above API to display histogr

[2015-08-06 13:35] Yoric commented on #249
@brson, are you still working on this? Is this bug still valid?

[2015-08-06 13:42] larsbergstrom commented on #6743
We added the `--toolchain=arm-linux-androideabi-4.8` argument to the NDK installer arguments for the builders, but only force-pushed the update to the normal android+gonk builder. Since salt is purely file-based and didn't know this needed to be re-run, I blew away the directory and forced it to be reinstalled.

[2015-08-06 13:55] jdm commented on #7019
Might get fixed by #7027.

[2015-08-06 13:57] frewsxcv opened #7035 "Vertical margin for position=fixed elements is missing"
Relevant to #782
# Code

[code]
# Gecko

![screen shot 2015-08-06 at 9 55 36 am](https://cloud.githubusercontent.com/assets/416575/9113224/5c0581ec-3c21-11e5-9c77-9ca628bc1a3e.png)
## Log

[code]
# Servo

![screen shot 2015-08-06 at 9 55 45 am](https://cloud.githubusercontent.com/assets/416575/9113240/70876a22-3c21-11e5-95e7-dfda436ab117.png)
## Log

[code]

[2015-08-06 13:58] jdm commented on #7030
See also #6913.

[2015-08-06 14:00] mbrubeck commented on #7030
Possibly triggered by #6979.  Might be fixed by #6998.  But in general it will not always be true that a list marker is a single fragment, so we should remove that assumption from this code.

[2015-08-06 14:07] mbrubeck commented on #7030
Closing as duplicate of #6913.  Also, since #6913 was reported by #6998 landed, it must not be triggered by that bug.

[2015-08-06 14:08] mbrubeck commented on #6913
I can't reproduce this either, in a debug build on Linux.  Text run scanning can depend on which glyphs are available in the installed fonts, so this may be a difference between Linux and Mac fonts.

The assumption that a list marker is a single fragment is not true in general, and we should just fix the code to handle multiple fragments.

[2015-08-06 14:16] larsbergstrom opened #7036 "Scrolling is broken on Android"
I saw clicking on a link work once, but scrolling and pinch-zoom appear to be non-functional.

[2015-08-06 14:22] georgf commented on #7029
CC @vdjeric, @Dexterp37.

We have documentation of Telemetry here:
https://gecko.readthedocs.org/en/latest/toolkit/components/telemetry/telemetry/index.html
https://wiki.mozilla.org/Telemetry

I don't know how feasible it is, but ideally we would re-use as much of the same code as possible (we already spent a lot of time on getting e.g. submission & persistence right).
The minimal overlap should b

[2015-08-06 14:26] jdm opened #7037 "DOM objects that aren't part of the tree don't get included in memory reporting"
This includes things like XHR, FileReader, DOMParser, WebSocket, Worker... We could potentially scrape all of the references in the refcounted DOM roots hashtable, but that still only catches anything that has an outstanding async reference.

[2015-08-06 14:34] #6743 closed

[2015-08-06 14:43] jdm opened #7038 "Report memory usage of Stylist in LayoutTaskData"
As part of `collect_reports` in `layout_task.rs`, we should measure the heap usage of the `stylist` member of `LayoutTaskData`. This involves adding `#[derive(HeapSizeOf)]` to `Stylist` in `components/style/selector_matching.rs`, calling `heap_size_of` on the member in `collect_reports`, and fixing any compile errors that result.

[2015-08-06 14:46] jdm commented on #7029
It is possible for us to call into C++ APIs using @michaelwu's modified rust-bindgen.

[2015-08-06 14:46] jdm commented on #7029
Orrrrrrr we could rewrite the telemetry implementation in Rust >:D

[2015-08-06 15:20] wilmoz commented on #6934
Can I take this?

[2015-08-06 15:27] metajack commented on #7031
@Yoric Yes, we prefer the latter, at least in the servo repo. In dependencies where there is some possibility to keep the crate compiling on stable Rust, we try to do it, but for Servo, we use all the unstable features.

[2015-08-06 15:32] JoshTheGoldfish commented on #6934
I guess it's up to @jdm. I've been doing research on this one for the past week, though.

[2015-08-06 15:43] jdm commented on #6934
@JoshTheGoldfish got here first; if they're still working on it, then I'm happy to encourage that. Sorry @wilmoz!

[2015-08-06 15:44] Ms2ger opened #7040 "Use the cached ID in LayoutElement::get_id."
We added a cached ID in #6717.

The code is in `components/layout/wrapper.rs`. We'll need to add a method to `LayoutElementHelpers` to expose the cached value to layout, and then call it from in `LayoutElement::get_id`.

[2015-08-06 15:45] Ms2ger commented on #7040
CC @asabil

[2015-08-06 15:46] wilmoz commented on #6934
Ok, no problem, i'll search for other

[2015-08-06 15:59] Yoric commented on #7029
@georgf How much of Telemetry is written in C++ vs JS?

[2015-08-06 16:00] boghison commented on #6951
@jdm What about Trusted?

[2015-08-06 16:03] johntyree commented on #6888
Aren't there quite a few benchmarking tools out there that can be used to consume these results? Python has airspeed velocity (asv) for example. I'm not sure that one in particular is a good fit, but surely there are others?

[2015-08-06 16:05] #6978 closed

[2015-08-06 16:38] jdm commented on #6951
Interesting question. Just add an ignore attribute for now.

[2015-08-06 16:50] brson commented on #249
I'm not working on it, and whatever I was thinking at the time is certainly superseded by whatever others' are thinking now.

[2015-08-06 16:50] #249 closed

[2015-08-06 16:55] notriddle commented on #6888
Then fix the test harness to output results that the tools can read, and the job is done.

[2015-08-06 17:08] vdjeric commented on #7029
$ ls *.jsm | xargs wc -l | grep total
  8193 total

$ ls *.h *.cpp | xargs wc -l | grep total
  4855 total

[2015-08-06 17:17] jdm commented on #7029
Oof, the amout of JSMs present in http://mxr.mozilla.org/mozilla-central/source/toolkit/components/telemetry/ doesn't fill me with optimism. We've got no ability to execute JS outside of web content right now.

[2015-08-06 17:22] jdm opened #7042 "Remove support for static HTMLCollection values"
The spec describes [static collections](https://dom.spec.whatwg.org/#concept-collection-static), but in practice those only are required for NodeList values, not HTMLCollection. We should remove the support for static HTMLCollections, since it's unused.

Code: components/script/dom/htmlcollection.rs

[2015-08-06 17:23] jdm commented on #6772
This was fixed by making it return 0.

[2015-08-06 17:23] #6772 closed

[2015-08-06 17:24] georgf commented on #7029
The other option is to do what B2G does right now - re-use the C++ parts, nsITelemetry et al, to get histogram collections and serialization, then implement ping generation and submission yourself:
https://github.com/mozilla-b2g/gaia/blob/master/shared/js/telemetry.js

The JSMs are implementing ping generation, persistence, submission and desktop-specific measurements.

[2015-08-06 17:33] jdm opened #7044 "Animation callbacks processed together should receive the same timestamp"
In `Document::run_the_animation_frame_callbacks` we call `Performance::Now()` each time we invoke a callback. This contradicts [the specification](https://html.spec.whatwg.org/multipage/webappapis.html#run-the-animation-frame-callbacks). We can even write a test for this by adding two callbacks with `requestAnimationFrame` and asserting that the timestamp is equal. Use http://mxr.mozilla.org/servo

[2015-08-06 17:36] jdm opened #7045 "Implement DOM-related properties for PerformanceTiming"
There are properties in the [PerformanceTiming spec](https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/NavigationTiming/Overview.html#dom-performancetiming-domloading) that relate to the timing of the document load process. We should store the time at which the relevant operations occur, and make the getters for PerformanceTiming fetch those values from the document (which should be stored as a `J

[2015-08-06 17:39] jdm commented on #6888
Well, as long as it's easy to acquire those tools on all platforms. The advantage of a simple custom script is that it will work everywhere.

[2015-08-06 18:13] jdm opened #7047 "Use image metadata to lay out images before the complete image data is available"
The [immeta library](https://github.com/netvl/immeta.git) can provide metadata about an image given a buffer. We should use this to retrieve the dimensions of an image as soon as possible while the image is downloading.

[2015-08-06 18:14] jdm commented on #7047
This is equivalent to Gecko's SIZE_AVAILABLE notification for imagelib.

[2015-08-06 18:19] jdm opened #7048 "Unnecessary mutability in window.rs"
From our gonk build:
[code]
Code: ports/gonk/src/window.rs

[2015-08-06 18:59] metajack commented on #7047
Note that Seth has told me that this reading of image metadata (and dealing with embedded JPEG screenshots) is a prime target for Rust in Geckoness.

[2015-08-06 19:10] Yoric commented on #2240
I'll try and work on this.

[2015-08-06 19:14] Yoric commented on #2240
I'll need some handholding, though, as I'm not familiar with Servo yet.

Do I understand correctly that the changes done by @dhananjay92 on the Python file are correct and that I need to implement his interface `TestIndexedGetterAndSetterAndNamedGetterInterface`?

[2015-08-06 19:29] jdm opened #7050 "Move net_error_list from net to net_traits"
This will improve compilation time if someone is making changes to the `net` crate, since we will no longer have to rebuild `glutin_app` and `compositing` when it changes. Any references to net::net_error_list will need to be updated to use net_traits::net_error_list instead.

Code: components/net/net_error_list.rs, components/net_traits

[2015-08-06 19:31] jdm commented on #2240
I believe the python changes are correct, but the test-related changes are incorrect. Servo doesn't use any of those files.

[2015-08-06 21:20] Yoric commented on #7029
I wouldn't hold my breath on actually reusing the jsm, even with ability to execute priviledged JS content, as it depends on many libraries. However, I believe that the algorithms could be ported. It's work, but not impossible.

[2015-08-06 21:53] glennw commented on #4431
There is a work in progress branch I started here - it contains enough support to make several sites that rely on cssText work, but it's not spec complete enough to land yet.

https://github.com/glennw/servo/tree/csstext

[2015-08-06 21:55] notriddle commented on #7038
:hand: Can I take this one?

[2015-08-06 22:09] #6879 closed

[2015-08-06 23:14] jdm commented on #7038
You bet!

[2015-08-06 23:30] jdm commented on #4431
@glennw I see the following bits are incomplete:
* the cssText getter doesn't expand shorthand properties
* the cssText setter iterates over normal twice, rather than normal/important (oops!)
* the cssText setter doesn't append rules in specified order

Is there anything else I'm missing?

[2015-08-06 23:31] jdm commented on #4431
Note: the specified order problem is a limitation of the current design of the CSS parser as far as I know.

[2015-08-06 23:38] glennw commented on #4431
@jdm I haven't taken a really detailed look at the spec, but that sounds correct to me. Thanks for looking over it!

[2015-08-06 23:45] jdm opened #7055 "test-wpt-failure suite is busted"
We removed wpt.sh, and that caused the execution to fail in a fail that we interpret as success, I guess:

[code]

cc @jgraham @Ms2ger

[2015-08-06 23:47] metajack commented on #7055
The script should probably use `set -e` to prevent the failure from being hidden.

[2015-08-07 00:28] #5478 closed

[2015-08-07 00:28] #6838 closed

[2015-08-07 02:02] HarryLikesCode commented on #7044
@jdm I'll take this one. Should the test be added to `tests/wpt/web-platform-tests/animation-timing/callback-invoked.html` or should a separate file be created?

[2015-08-07 02:04] jdm commented on #7044
A separate file makes sense to me.

[2015-08-07 02:58] fitzgen commented on #7048
I think this is a rustc bug. Both variables are reassigned in the blacks following their declaration.

As a reduced test case, remove `mut` here and compilation fails: http://is.gd/qep4FT

[2015-08-07 03:01] jdm commented on #7048
As a counterpoint, I submit the following program which compiles without the use of mut:
[code]

[2015-08-07 03:02] jdm commented on #7048
In both of the cases that are warned about, the variables aren't reassigned - they are merely assigned an initial value separately from when they are declared.

[2015-08-07 03:03] fitzgen commented on #7048
I was totally misreading error messages. Nevermind!

[2015-08-07 03:06] fitzgen commented on #7048
I have a fix coming up.

[2015-08-07 03:45] jdm opened #7058 "getClientBoundingRect on <html> returns 0"
gCBR on `<body>` returns nonzero values when there is content, so something is wrong here.

[2015-08-07 05:26] #6078 closed

[2015-08-07 05:26] #6709 closed

[2015-08-07 05:26] #6858 closed

[2015-08-07 06:40] #7018 closed

[2015-08-07 07:10] Ms2ger commented on #7055
test-wpt-failure is supposed to test that we get a non-zero return value if a test fails. I asked jgraham to make it work again when he broke it.

[2015-08-07 09:09] #7050 closed

[2015-08-07 09:28] Ms2ger opened #7065 "Stop calling `handleEvent` on event handlers."
Note: this affects only `on*` properties, not `addEventListener`.

The issue seems to be the `EventListener::new` call in `set_event_handler_common`.

- Code: `components/script/dom/eventtarget.rs`.
- Test: `tests/wpt/web-platform-tests/websockets/interfaces/WebSocket/events/013.html` and hopefully others.

[2015-08-07 10:09] paulrouget opened #7067 "inline-block + position:relative: top value is 3 time bigger than expected"
In this example, the `y` coordinate of the div is always 3 times bigger than the `top` value.

[code]

<img width="397" alt="screen shot 2015-08-07 at 12 07 30" src="https://cloud.githubusercontent.com/assets/373579/9133558/e96fd812-3cfc-11e5-9d0a-82bda8400caa.png">

[2015-08-07 10:24] #7048 closed

[2015-08-07 10:53] paulrouget opened #7069 "Absolutely positioned elements should only be stacking contexts if z-index is not auto"
[code]

Difference between Gecko and Servo:

<img width="501" alt="screen shot 2015-08-07 at 12 52 28" src="https://cloud.githubusercontent.com/assets/373579/9134316/502e2db4-3d03-11e5-8f30-08c3554ea898.png">

[2015-08-07 11:14] #7030 closed

[2015-08-07 11:29] frewsxcv commented on #5755
I'll work on this

[2015-08-07 12:14] #6956 closed

[2015-08-07 12:31] boghison commented on #6951
@jdm Just wanted to let you know that I only have 75 errors left, so you can expect a PR soon :3

[2015-08-07 12:56] paulrouget opened #7071 "position:absolute;bottom:x vertical position is wrong"
Not sure what's going on, but the bottom property doesn't appear to work correctly (osx).

For example:

[code]
This draws a grey rectangle: `400x344`, at `y = 100vh` (good positioning, wrong size).

[code]

This draws a grey rectangle: `400x332`, at `y = calc(100vh - 12px)` (wrong positioning, wrong size).

[2015-08-07 12:57] frewsxcv commented on #7071
Might be related to 7035

[2015-08-07 13:01] larsbergstrom opened #7072 "Need to kill all zombie servo instances at the end of successful or failed buildbot runs"
Several of the builders (especially macs) had servo processes that had been running for days at one full CPU. I think this was leading to some of our increasingly-bad compile & test run times on the OSX farm.

[2015-08-07 13:03] #6968 closed

[2015-08-07 13:37] paulrouget opened #7074 "Painting issue: missing text and half a div"
Using `servo -o img.png` with the following code, I get the expected rendering. But with the regular glutin window (osx), painting is messed up:

<img width="775" alt="screen shot 2015-08-07 at 15 19 46" src="https://cloud.githubusercontent.com/assets/373579/9136730/3737acc0-3d19-11e5-93bf-1314d861a5a2.png">

[code]

[2015-08-07 14:13] HarryLovesCode commented on #7074
Looks like a duplicate of this: #7018 which was supposed to have been resolved by this: #7021.

Try running Servo with the `-s` flag set to...

- 128
- 256
- 512

and see if the output changes each time. If so, then that would confirm the issue was not resolved. I'll test your example in a few minutes after master builds on my Mac.

[2015-08-07 14:27] frewsxcv commented on #861
Looking at the [list of ignored files](https://github.com/servo/servo/blob/b4e30da3dbf58c16703864f4bec4b0b0132084fa/python/tidy.py#L28-L51), this might be done

[2015-08-07 14:27] jdm opened #7077 "Some reftests aren't being run"
We have a reftest for CSS background images, for example, but it's not in basic.list.

* background_image_a.html/background_image_ref.html
* canvas_linear_gradient_a.html/canvas_linear_gradient_ref.html
* canvas_radial_gradient_a.html/canvas_radial_gradient_ref.html
* overflow_position_abs_inside_normal_a.html/overflow_position_abs_inside_normal_b.html
* verflow_position_abs_simple_a.html/overflow

[2015-08-07 14:29] HarryLovesCode commented on #7074
@paulrouget You must be using an outdated version of Servo. The issue was indeed fixed ~8 hours ago.
<img width="912" alt="screen shot 2015-08-07 at 10 28 39 am" src="https://cloud.githubusercontent.com/assets/12660259/9137954/1ea78f4c-3cef-11e5-89a9-6b88337ed26e.png">

[2015-08-07 14:29] frewsxcv commented on #7077
Related to https://github.com/servo/servo/issues/1516

I was going to complete it, but it is partially not working due to https://github.com/servo/servo/issues/7035

[2015-08-07 14:34] jdm commented on #7077
I would like to make sure all of these are added to basic.list; if the tests pass, that's great. If they don't, then let's file issues and leave them commented out.

[2015-08-07 14:38] jdm opened #7078 "Make tidy.py check that all html files in tests/ref are present in basic.list"
This relies on #7077 being completed before this can merge, but the code can be written before then.

Code: python/tidy.py

[2015-08-07 14:39] frewsxcv commented on #6376
Fixed in https://github.com/servo/servo/pull/6548

[2015-08-07 14:39] #6376 closed

[2015-08-07 14:40] jdm opened #7079 "Intermittent timeout in alpha_png.html"
No output from the reftest harness when this happens.

[2015-08-07 14:52] paulrouget commented on #7074
Updated. It's indeed fixed. Thanks.

[2015-08-07 14:52] #7074 closed

[2015-08-07 14:57] paulrouget commented on #7071
Updated servo. It appears to be fixed.

[2015-08-07 14:57] #7071 closed

[2015-08-07 15:36] #6913 closed

[2015-08-07 15:45] SimonSapin commented on #861
A bunch of "our" code (which might be defined as non-forks under https://github.com/servo/) is in separate repositories and used through cargo, and so not visible to `tidy.py`. So this is not done, and now harder than before we switched to Cargo and everything was a submodule.

[2015-08-07 15:47] metajack commented on #861
Can't we just put tidy in each repo with a different config? Those repos should all be in the CI system, so that would achieve the same end.

[2015-08-07 15:53] SimonSapin commented on #861
Each repos has its own separate CI that could have a copy of `tidy.py`, but that means many copies to update when we want to add something.

[2015-08-07 15:55] metajack commented on #861
Move tidy to a submodule? Download it and run it during CI? There are a few approaches to reduce that problem.

[2015-08-07 15:56] frewsxcv commented on #861
An option to consider: uploading `tidy` to PyPi as `servo_tidy` and just download the latest version whenever we want to tidy

[2015-08-07 15:58] metajack commented on #861
@frewsxcv But I like Corey's more concrete version of the suggestion best.

[2015-08-07 16:17] frewsxcv commented on #861
Alright. I have thought about this for a little and think I am up for the challenge. I will report back with my thoughts before implementing anything; I might be able to fix #6999 simultaneously with this.

[2015-08-07 16:29] metajack opened #7080 "CI improvement meta bug"
- [x] try incremental builds
- [ ] run wpt with a single servo process
- [ ] make wpt tests not time out
- [ ] get try builders working ( https://github.com/servo/homu/issues/23 ) ( https://github.com/servo/saltfs/issues/179 )
- [ ] run tests in both debug and release modes ( https://github.com/servo/servo/issues/8859 ) ( https://github.com/servo/servo/issues/3450 )
- [x] add rust-style highfive s

[2015-08-07 16:58] notriddle commented on #7038
Is this how I'm supposed to be measuring the stuff in rust-selectors (the code in `components/util/mem.rs`)? SelectorMap is a real problem, since it's members are private I can't measure them.

[2015-08-07 17:01] SimonSapin commented on #7038
If necessary we can always make private fields public, but maybe `HeapSizeOf` and its derive plugin should move to external crates? What do you think @jdm?

[2015-08-07 17:03] SimonSapin commented on #7038
Note that so far we’ve moved things to separate source repositories when publishing then to crates.io, but we don’t need to.

(Though I think servo users should still get the crate form crates.io rather than through a `path` dependency, to force us to keep the crates.io version up to date.)

[2015-08-07 17:49] SimonSapin opened #7081 "Some tests using Ahem fail on Linux with a 1px Y position difference"
In `./mach test-css`, these reftests:
[code]
used to fail because they use the Ahem font, which was unavailable. Since #7013, they pass on Mac but fail on Linux because some elements’s Y position differs by 1px from the reference. I don’t know the exact cause, but I suspect a rounding bug in the line height calculation with Ahem.

[2015-08-07 17:53] boghison commented on #6951
Ok, I am almost done, I just have 2 more, which are very weird:
`/home/boghison/Projects/servo/components/script/dom/htmlcollection.rs:31     Live(JS<Node>, Box<CollectionFilter+'static>)`, even though

    #[ignore_heap_size_of = "Cannot calculate Heap size"]
    Live(JS<Node>, Box<CollectionFilter+'static>)

and
`/home/boghison/Projects/servo/components/script/dom/servohtmlparser.rs:50     pub f

[2015-08-07 18:06] jdm commented on #6951
Yes, the first one is #6870. For the second, we probably don't have an implementation for &T where T: HeapSizeOf.

[2015-08-07 18:06] Gozala opened #7083 "Metabug for webview (a.k.a mozbrowser iframe) issues / API limitations"
@metajack @pcwalton @gordonbrander I'll link to the issues across different repos where discussions around mozbrowser API limitations occur in a hope to get some insights from servo perspective. Maybe some of those issues than can be casted to servo bugs.

[2015-08-07 18:07] jdm commented on #6951
That being said, why is `form_elem` in something that needs to have HeapSizeOf derived?

[2015-08-07 18:10] boghison commented on #6951
@jdm Oh, ok. TBH I have no idea, I just wrote a script to add this to every struct and enum in script/dom, then ignore the types that need to be ignored, and then I manually fixed all errors. I'll write it for &T then, and maybe try to fix #6870. I also have a question, why did you say one needs a variant for every type derived of Node, couldn't it just be a Element(_) and then ElementCast or am I

[2015-08-07 18:18] jdm commented on #6951
We should not add an impl for &T. We should remove the annotation instead.

[2015-08-07 18:20] jdm commented on #6951
As for why we're doing this, the problem is that if we use ElementCast::to_ref and then call heap_size_of on it, all we're doing is calling Element::heap_size_of_children (ie. measuring the members of the Element struct). If we actually have an HTMLIFrameElement, we don't measure of its members because we don't call HTMLIFrameElement::heap_size_of_children.

[2015-08-07 18:21] boghison commented on #6951
@jdm Oh, ok. Could you elaborate on what you said first, what do you mean by "remove the annotation"? And am I doing this right, I mean, IMHO, it won't hurt if we add HeapSizeOf to as much as we can, no?

[2015-08-07 18:37] jdm commented on #6951
So on one hand, it won't hurt in the common case . On the other hand, in this case an implementation for `&T` where T: HeapSizeOf will silently do the wrong thing for something like `&Element` if we ever measure something that stores that. In this case, the struct being modified should never be reachable from a heap-allocated object, so the HeapSizeOf annotation is unnecessary, so we don't need a

[2015-08-07 19:28] jdm opened #7084 "Measure the heap usage of every DOM object in existence"
All our DOM objects have a JS reflector, so the JS engine is aware of all such objects that are live. It would be nice if we could hook into this knowledge and include the measurement of the associated DOM representation when a reflector is measured.

cc @nnethercote

[2015-08-07 19:40] jdm commented on #7038
Yes, I think at this point it makes sense to move the definition of HeapSizeOf, heap_size_of, the plugin, and implementations for the various types from std into an external crate.

[2015-08-07 20:01] notriddle commented on #7038
So, should I do that? The repo really belongs in the Servo organization.

[2015-08-07 20:14] jdm commented on #7038
Like @SimonSapin said, it doesn't need to be in a separate repository.

[2015-08-07 20:17] jdm commented on #7038
I propose a new `components/heapsize`.

[2015-08-07 20:17] frewsxcv commented on #861
After some thinking, here is what I propose:

1. Virtual environments (bleh?). Upon running any `mach` command, Python will create/activate a virtual environment (which will live somewhere like `.pyenv/` or `python/.pyenv/`). Then we will install/update our dependencies as per a `python/requirements.txt` file). This will allow us to remove the following from our tree and add them in as PyPi requir

[2015-08-07 20:19] notriddle commented on #7038
So you're suggesting that `components/heapsize` be in the Servo repo, but be published to crates.io?

[2015-08-07 20:21] jdm commented on #7038
Yep.

[2015-08-07 20:23] notriddle commented on #7038
If it's to be built as part of Servo, wouldn't that result in two copies of the same crate? One pulled in by rust-selectors from crates.io, and the other from the checked-out repository?

[2015-08-07 20:30] SimonSapin commented on #861
We already have a virtualenv for web-platform-tests, maybe it could also be used for this.

[2015-08-07 20:36] SimonSapin commented on #7038
That’s why everything should be using it from crates.io, with none of the `Cargo.toml` files having something like `path = "../heapsize"`.

Thinking a bit more about this, this would make CI tricky: to make and use changes to `heapsize` you need to first make a servo/servo PR with the changes, have it go through CI running the entire Servo test suite, then publish it, then make another PR to use i

[2015-08-07 20:41] #6195 closed

[2015-08-07 20:43] jdm commented on #7038
Well, I've made https://github.com/servo/heapsize so we can make PRs against it now.

[2015-08-07 20:44] frewsxcv commented on #861
Good idea. I was about to suggest that we also move `tests/wpt/harness` (wptrunner) out of the tree (and make it a pip dependency), but it looks like you just made some edits to our copy in-tree :P

[2015-08-07 20:59] SimonSapin commented on #861
The upstream for that is https://github.com/w3c/wptrunner , and changes made in our copy are supposed to be upstreamed. I don’t know why it’s not a submodule or installed from PyPI. But that’s kinda off topic, feel free to open another issue.

I was thinking of `tests/wpt/_virtualenv` (which is created when you run `./mach test-wpt`), not `tests/wpt/harness`.

[2015-08-07 21:06] metajack commented on #861
Also if that _virtualenv is going to do more duties (which is fine), it should probably move higher up the tree.

[2015-08-07 21:07] frewsxcv commented on #861
Right, sounds good. The Python code to generate/activate a new virtual environment is not very much, so in case we ever want to separate WPT requirements and tidy requirements in the future (due to incompatibilities or whatever) it should not be that difficult.

I am also not opposed to moving the virtualenv path to a more generic place like `python/_virtualenv`

[2015-08-07 21:07] frewsxcv commented on #861
And yet again, jack beat me to it

[2015-08-07 21:07] metajack commented on #861
`python/_virtualenv` seems like a good spot.

[2015-08-07 21:12] metajack opened #7085 "test-wpt cannot be run from anywhere but the root"
Steps to reproduce:
- `cd tests/wpt`
- `../../mach test-wpt`

This is because the paths in `python/servo/testing_commands.py` are relative and we should be appending them to the root path instead.

[2015-08-07 21:14] HarryLovesCode commented on #6724
@jdm I'll take this if you don't mind (unless it's actively being worked on of course).

[2015-08-07 21:18] #6923 closed

[2015-08-07 21:21] metajack opened #7086 "test-wpt fails with servodriver"
STR: `./mach test-wpt --release --product servodriver`

[code]

cc @jgraham

[2015-08-07 21:43] jdm commented on #6724
Correct! Please do take it on :)

[2015-08-07 22:38] SimonSapin commented on #7086
An earlier bit of the output seems relevant:
[code]

[2015-08-07 22:46] metajack commented on #7086
Why do I need to do this when running then via mach? The README doesn't list that except for when you are running manually.

[2015-08-07 22:47] metajack commented on #7086
I also get this on the macpro:

[code]

[2015-08-07 22:49] metajack commented on #7086
Adding the hosts lines does cause the tests to start working, but this seems bad.

[2015-08-07 22:50] jgraham commented on #7086
I'm looking into this.

The hosts line bug is easy to fix, it's just some missing configuration in the harness. For me every test is crashing, which seems bad.

[2015-08-07 22:52] metajack commented on #7086
Yes, I am noticing crashes as well, but perhaps not every test. But many :)

[2015-08-07 23:51] larsbergstrom opened #7087 "Unused imports warning in devtools"
The devtools crate contains some unused imports that should be removed, as they are generating warnings right now.

[code]

[2015-08-07 23:51] #7044 closed

[2015-08-07 23:53] larsbergstrom opened #7088 "Unused imports warning in cef"
There are unused imports that should be removed, as they are causing warnings in the embedding library.

Note: to compile this code you will need to use `./mach build-cef` instead of just `./mach build`.

[code]

[2015-08-08 00:33] HarryLovesCode commented on #6724
@jdm Is there anyway a test could be written for this?

[2015-08-08 00:58] jdm commented on #6724
Not without #5971 unfortunately.

[2015-08-08 01:00] jdm commented on #5971
There's exciting stuff going on here!

[2015-08-08 01:22] HarryLovesCode commented on #6724
Should `JS_GetClass()` really return `Proxy` for these?

![screen shot 2015-08-07 at 9 11 50 pm](https://cloud.githubusercontent.com/assets/12660259/9148443/9914d118-3d49-11e5-90f8-bcf6fd6dfe13.png)

I would have thought it should output `Object.constructor.name` or something similar.

[2015-08-08 01:50] jdm commented on #6724
Mmm, good point. I hoped that we could use https://dxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h#182 instead (since it handles proxies properly), but it doesn't appear to be exported publically. We probably want to to the equivalent of `.toString()` on the object.

[2015-08-08 01:53] jdm commented on #6724
Nevermind, it's actually there but github won't show me all 12,000 lines that make up the file. Go ahead and use `jsapi::ObjectClassName`:
[code]

[2015-08-08 02:38] #6432 closed

[2015-08-08 03:28] metajack commented on #7086
From @jgraham in IRC:

[2015-08-08 06:50] mt2d2 commented on #6558
@frewsxcv yes, the key was use the default string if the value is 'undefined'. It did make this test pass, but I was worried about possible regressions. ./mach test-wpt came back clean (aside from a crash that happened on master, too). Changing the generator just seemed far-reaching to me. I'll happily bring the patch up-to-date if you guys agree with this approach. Thanks!

[2015-08-08 06:57] mt2d2 commented on #7087
I'll take one of these, if that's ok.

[2015-08-08 09:00] #7087 closed

[2015-08-08 10:59] boghison opened #7093 "to_owned() should be used instead of to_string() in hosts.rs"
/home/boghison/Projects/servo/components/net_traits/hosts.rs:54:35: 54:63 error: str.to_owned() is more efficient than str.to_string(), please use it instead, #[deny(str_to_string)] on by default
/home/boghison/Projects/servo/components/net_traits/hosts.rs:54                 host_table.insert(token.to_owned().to_string(), address.clone());

[2015-08-08 11:14] Ms2ger commented on #6951
Surely we shouldn't count borrowed references?

[2015-08-08 11:27] boghison commented on #6951
Oh, maybe you misunderstood. I mean if I am doing everything right, by appending HeapSizeOf to as much as possible ie not about the Option<&Node>

[2015-08-08 12:07] Ms2ger commented on #6558
The `null` part of
[code]
is not true. I'd be very concerned if that didn't cause any tests to fail.

[2015-08-08 12:10] frewsxcv commented on #6558
I was thinking that, but forgot to test it. I can create a regression test for it in web-platform-tests, unless we want to include it with the PR for this issue

[2015-08-08 12:31] thiagopnts commented on #5310
I think this can be closed now

[2015-08-08 12:32] paulrouget opened #7095 "Implement window.devicePixelRatio"
https://drafts.csswg.org/cssom-view/#dom-window-devicepixelratio

[2015-08-08 13:03] jdm commented on #7095
This is implemented in #6875.

[2015-08-08 13:03] jdm commented on #5310
Agreed!

[2015-08-08 13:03] #5310 closed

[2015-08-08 13:05] paulrouget commented on #7095
Thanks. Dupe.

[2015-08-08 13:05] #7095 closed

[2015-08-08 13:05] jdm commented on #6951
I think the only downside is the existence of generated code that is never called, which will increase compile times just by existing. That being said, it's not clear to me how much of a burden that will be.

[2015-08-08 13:06] jdm commented on #7093
Does this happen on master for you?

[2015-08-08 13:07] boghison commented on #7093
@jdm Yes.

[2015-08-08 13:14] jdm commented on #6775
Closed by #7066.

[2015-08-08 13:14] #6775 closed

[2015-08-08 13:16] boghison commented on #7093
@jdm I just recompiled with the original code. For some reason, it doesn't print that anymore. Any idea why? This is really weird.

[2015-08-08 13:24] boghison commented on #7093
[Still](https://github.com/servo/servo/blob/master/components/plugins/lints/str_to_string.rs)

[2015-08-08 13:40] jdm commented on #7093
I can only reproduce this with the following diff:
[code]

[2015-08-08 13:46] boghison commented on #7093
@jdm Oh yes, you're right. I cloned my servo fork again, but didn't notice I was doing it in the same directory. The issue is still valid though, because to_owned() should be used instead of to_string(), shouldn't it?

[2015-08-08 14:06] jdm commented on #3704
I played with this for a few hours and sketched out what I think this should look like in https://github.com/jdm/servo/tree/documentwrite and https://github.com/jdm/html5ever/tree/write . The actual implementation of insertion points in html5ever is completely missing, but I believe the DOM bits are relatively complete.

[2015-08-08 14:09] jdm commented on #3704
I now see why @jgraham kept mentioning document.write and script scheduling in the same breath. This stuff is hella complex to parse out of the spec.

[2015-08-08 14:25] frewsxcv commented on #6558
Regression test added in https://github.com/w3c/web-platform-tests/issues/2058

[2015-08-08 14:30] boghison commented on #7093
OK, closing this as it was caused by my changes, so I'll just fix this with a PR

[2015-08-08 14:30] #7093 closed

[2015-08-08 16:21] Ms2ger commented on #4492
The basics work now.

[2015-08-08 16:21] #4492 closed

[2015-08-08 16:27] Ms2ger opened #7098 "Implement WebSocket#binaryType."
Blocks #6060

* Spec: <https://html.spec.whatwg.org/multipage/#dom-websocket-binarytype>.
* Code: `components/script/dom/{websocket.rs,webidl/WebSocket.rs}`.
* Test: various under `tests/wpt/web-platform-tests/websockets/`, `tests/wpt/web-platform-tests/html/dom/interfaces.html`.

[2015-08-08 16:59] HarryLovesCode commented on #6724
Awesome!

![screen shot 2015-08-08 at 12 44 54 pm](https://cloud.githubusercontent.com/assets/12660259/9151292/6d9db1e4-3dcb-11e5-8115-fb1447814e38.png)

I sort of skipped over the last point of what you said about the `script_actors` hashmap. Is there any reason we should use that over the `actors` hashmap?

[code]

[code]

[code]

I figured we'd want to use `ACTOR_REGISTRY.handle_message` for th

[2015-08-08 17:21] jdm commented on #6724
The difficulty is that we use names like "object5" for actors in the devtools task, but script tells us about JS objects using names like "34B7E350-A535-426E-BB0E-535AFBAA65AE". The hashmap gives us a mapping between those two. This will allow us to use more informative names in the future (like "tab2/object5", for example), which yields easier debugging.

[2015-08-08 17:23] jdm opened #7100 "Remove unused object_to_string method"
Code: components/script/dom/bindings/proxyhandler.rs

[2015-08-08 17:49] HarryLovesCode commented on #6724
So then when we create an `ObjectActor`, we should...

- use `register_later` (to add it to `ActorRegistry.actors`) or even just `register`
- use `register_script_actor` (to add it to `ActorRegistry.script_actors`)

so we can map between them like you said?

Similar to [this piece of inspector.rs`](https://github.com/servo/servo/blob/master/components/devtools/actors/inspector.rs#L195-L207)?

[2015-08-08 17:54] jdm commented on #6724
Correct! I forgot about that prior art.

[2015-08-08 19:21] HarryLovesCode commented on #6058
I think we can safely close this :)

#6540

[2015-08-08 19:45] pcwalton commented on #7069
Yeah, this is because we unconditionally make stacking contexts out of absolutely positioned elements.

[2015-08-08 20:17] AdrianArroyoCalle commented on #7100
Working on it

[2015-08-09 02:11] jdm commented on #6058
Thanks!

[2015-08-09 02:11] #6058 closed

[2015-08-09 02:16] #6999 closed

[2015-08-09 04:06] connorimes commented on #7088
Can't remove these altogether - some linux functions use them.  I submitted a PR but can't test it on a mac myself.

[2015-08-09 04:20] mt2d2 commented on #6558
@Ms2ger thank you for the insight! I can confirm that the previous implementation causes a failure on @frewsxcv new regression tests. I've taken both your input on commenting and null checking to produce a new patch that passes the target as well as the new regression tests.

I have a [new spin](https://github.com/servo/servo/compare/master...mt2d2:undefined_conversion_binding) that I'm working on

[2015-08-09 04:41] tomjakubowski commented on #7098
I can take a stab at this.

[2015-08-09 05:48] dzbarsky opened #7106 "Handle 'currentColor' CSS color value when setting Canvas2D fillstyle/strokestyle"
https://drafts.csswg.org/css-color/#currentcolor-color

The problem is that it should return the value of the color property at used value time, which the CSS parser doesn't know. We also don't want to pass it in, since computing used values involves flushing layout.  The other obvious option is that the parser should just signal that it was currentColor with an enum and let servo handle it. Thoug

[2015-08-09 08:12] SimonSapin commented on #7106
http://doc.servo.org/style/properties/struct.ComputedValues.html#method.resolve_color already deals with this. What’s missing?

[2015-08-09 08:45] SimonSapin commented on #7106
"Used value" is kind of a fuzzy concept. In the case of `currentColor`, it’s mostly used as “not the thing that’s inherited in e.g. `border-top-color: inherit`”. (The thing that’s inherited is the computed value.) For some properties and values like `height: auto`, yes, determining the used value requires doing some layout. But for `<color>` specifically, the `ComputedValues` struct has all the in

[2015-08-09 09:51] Ms2ger opened #7108 "thread 'CanvasTask' panicked at 'assertion failed: libc::munmap(self.ptr as *mut c_void, self.length as size_t) == 0'"
[code]

[2015-08-09 09:51] Ms2ger commented on #7108
cc @pcwalton

[2015-08-09 10:45] #7100 closed

[2015-08-09 11:33] jdm opened #7109 "MIME classifier should use &[T] instead of &Vec<T>"
`&Vec<T>` is an extra layer of pointer indirection that has no benefit.

Code: components/net/mime_classifier.rs

[2015-08-09 11:57] jdm commented on #7098
Please do!

[2015-08-09 11:59] jdm commented on #7106
The reason behind this filing is three tests in 2dcontext/fill-and-stroke-styles/ that use currentColor as fillStyle and currently fail to pass.

[2015-08-09 12:05] jdm opened #7110 "Actor::handle_message should return an enum instad of a boolean"
Boolean constants (true/false) are always harder to understand than two-variant enums with meaningful names. In this case, we want `Processed` and `Ignored` (true and false respectively).

Code: components/devtools/actor.rs

[2015-08-09 12:27] #6768 closed

[2015-08-09 12:27] #6753 closed

[2015-08-09 12:29] jdm commented on #6905
The CSS spreadsheet is at https://docs.google.com/spreadsheets/d/1CxLS8w8GwK-2euVErrqpUUb76PiZa6w5h5EnGsL9KFs .

[2015-08-09 12:32] jdm commented on #1824
Yep.

[2015-08-09 12:32] #1824 closed

[2015-08-09 12:32] #7088 closed

[2015-08-09 12:54] jdm opened #7111 "Check for simple Rust style nits in tidy.py"
As an example, we should be able to easily report instances of:
* `,[A-Za-z0-9]` (there should be a space following a comma)
* `[A-Za-z0-9][+-/*%=]` (there should be a space preceding an operator)
* `[+-/*%=][A-Za-z0-9]` (there should be a space following an operator)
* `)->` (there should be a space before `->` in a function return type)
* `->[A-Za-z]` (there should be a space after `->` in a fun

[2015-08-09 14:20] Ms2ger commented on #7111
* There should not be a space preceding a colon

[2015-08-09 15:20] jdm commented on #7111
* `[A-Za-z0-9)]{` (there should be a space before an open brace)

[2015-08-09 15:27] jdm opened #7112 "Check that consecutive use statements in Rust files are in alphabetical order"
I propose the following rule:
* for each Rust source file, look at every line
* if the whitespace-stripped line starts with `use `, append the path up to any `{` to _imports_
* if the line is empty
  * let _sorted_ be _imports_ sorted alphabetically
  * if _sorted_ and _imports_ differ, report the first import that does not match
  * reset _imports_ to the empty list

This allows us to retain our

[2015-08-09 15:28] jdm commented on #7111
* any line with a `use` statement that contains a `{` but does not contain a `}` (we don't like multiline use statements)

[2015-08-09 15:33] metajack commented on #7111
Before/after operators and `->` it might be a newline.

[2015-08-09 15:34] metajack commented on #7111
Well, some subset of those could be a newline.

[2015-08-09 16:05] metajack commented on #2854
https://github.com/servo/heapsize/pull/1#discussion_r36576716

[2015-08-09 16:10] frewsxcv opened #7113 "Python KeyError on WPT XHR auth tests"
# Command

`./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/send-authentication-basic-repeat-no-args.htm`

# Result

[code]

[2015-08-09 16:17] dzbarsky commented on #7106
Yep, jdm is right. Style handles this correctly, but canvas just invokes the css parser.  That's why I want the parser to tell it the value is `currentColor`, so it can go check the `ComputedValues`.

[2015-08-09 16:52] jdm commented on #7111
The prevailing style I've seen is that -> goes on the same line as the return type.

[2015-08-09 16:52] jdm commented on #7111
Also note that I've only given patterns that we want to flag as incorrect, so I don't think newlines are a problem.

[2015-08-09 18:00] Ms2ger commented on #7113
CC @jgraham

[2015-08-09 18:47] dzbarsky opened #7115 "Panic unwrapping rw_data.root_flow in LayoutTask::tick_animations"
When running tests/wpt/mozilla/tests/mozilla/window_requestAnimationFrame.htm:

    frame #6: 0x00000001006caee9 servo`layout::option::Option<T>::unwrap(self=Option<&layout::flow_ref::FlowRef> at 0x0000000118e03668) + 89 at macros.rs:20
    frame #7: 0x00000001003ffa66 servo`layout::layout_task::LayoutTask::tick_animations(self=0x0000000118e055a0, rw_data=0x0000000119cf2398) + 214 at layout_task.r

[2015-08-09 19:50] Manishearth opened #7116 "Implement IndexedDB"
Metabug

Still going through the spec, but it will be nice to keep track of things here.

[2015-08-09 22:10] #7116 closed

[2015-08-09 22:11] Manishearth commented on #7116
https://github.com/servo/servo/issues/6963

[2015-08-09 22:15] dzbarsky commented on #7106
Ah, I see the parser already does what I suggested, the issue is that http://mxr.mozilla.org/servo/source/components/script/dom/canvasrenderingcontext2d.rs#1149 doesn't handle it.  I'll fix that.

[2015-08-09 22:51] frewsxcv commented on #2793
Should this be moved to the smallvec repo?

[2015-08-09 23:14] SimonSapin commented on #7106
Thank jdm, I was missing some context. Which tests are these specifically? What’s their expected results? Do they pass in other browsers?

https://html.spec.whatwg.org/multipage/scripting.html#dom-context-2d-fillstyle links to https://html.spec.whatwg.org/multipage/infrastructure.html#parsed-as-a-css-color-value , which doesn’t mention `currentColor` at all.

https://drafts.csswg.org/css-color/#cu

[2015-08-09 23:22] dzbarsky commented on #7106
The spec assumes that the associated element is the canvas element.
From tests/wpt/web-platform-tests/2dcontext/fill-and-stroke-styles/2d.fillStyle.parse.current.basic.html:
[code]
This draws a green rect in firefox, chrome, and safari.

[2015-08-09 23:45] dzbarsky commented on #7106
There's also tests/wpt/web-platform-tests/2dcontext/fill-and-stroke-styles/2d.gradient.object.current.html, which does
[code]
This draws a black rectangle in Safari and Chrome (so it gets the current color from the canvas), and throws an error in Firefox.

[2015-08-10 00:21] oppenlander commented on #7110
I can try doing this.

Should the interface stay the same?
It doesn't seem like the `Err` part of the `Result` is being used anywhere.

[2015-08-10 01:14] #6724 closed

[2015-08-10 01:53] HarryLovesCode commented on #7110
@jdm correct me if I misunderstood

---

@oppenlander, I believe what we want is something like this:

[code]

to be replaced with this:

[code]

most likely to align with [this](https://wiki.mozilla.org/Remote_Debugging_Protocol#Packets) which says...

This tripped me up yesterday which is why I totally agree with this change.

[2015-08-10 02:25] oppenlander commented on #7110
@HarryLovesCode Wouldn't ignored package properties be referencing properties on the message payload?
That portion of the documentation seems orthogonal to this task.

@jdm To be more clear, I was asking if you want:
[code]
or
[code]
I can see merits to keeping the return type a `Result`, so in the future a `MessageError` type can be created, which `Actor`s can return.
Refactoring `Result<MessageH

[2015-08-10 03:00] akosel commented on #5971
Yes, very exciting! Thanks again for the patience. This has been enjoyable to work on. If there becomes a point where this is mission critical, I can hand it off to someone who is more experienced. I would prefer to finish what I started if possible, but I also don't want to slow everything down! :)

As an update, I'm currently in a position where I can spin up a servo instance running devtools, c

[2015-08-10 03:54] jdm commented on #7110
Agreed. I'm looking for `Result<MessageHandled, ()>`.

[2015-08-10 03:56] jdm commented on #7110
Oh, sorry, looks like there's already a PR in #7119.

[2015-08-10 05:37] glennw commented on #4431
@jdm I pushed a slightly modified branch, that contains the fix suggested by @SimonSapin and therefore fixes issue (2) you listed above.

In regards to (1) it does expand shorthand properties - in that the existing parsing code results in the declarations block containing longhands only (e.g. style.cssText = "background: red;" results in a declarations block with 8 entries in it, one for each long

[2015-08-10 08:45] AdrianArroyoCalle commented on #7100
My first contribution to Servo!

[2015-08-10 09:28] SimonSapin commented on #2793
There is nothing to do here: `NoCopy` is not part of the language anymore, and we’re now using the slice iterators through `Deref` rather than duplicating them.

[2015-08-10 09:28] #2793 closed

[2015-08-10 09:37] SimonSapin commented on #7106
Alright, I found the bit of spec that defines this. It doesn’t have a more specific anchor, so search for "Whenever the CSS value currentColor is used as a colour in the CanvasRenderingContext2D API" in https://html.spec.whatwg.org/multipage/scripting.html#2dcontext

[2015-08-10 09:44] SimonSapin commented on #7106
Closer anchor: https://html.spec.whatwg.org/multipage/scripting.html#2dcontext:canvasrenderingcontext2d-22

[2015-08-10 11:18] tshepang commented on #2854
https://github.com/rust-lang/rust/issues/24776 can now be removed

[2015-08-10 13:45] jdm commented on #267
It happened.

[2015-08-10 13:45] #267 closed

[2015-08-10 14:06] jdm commented on #7100
Congratulations @AdrianArroyoCalle :)

[2015-08-10 14:09] #7109 closed

[2015-08-10 14:10] frewsxcv commented on #7077
So right now, we use two binary operators to indicate passing status. `==` indicates expected success. `!=` indicates expected failure. It might be helpful to have another binary operator that indicates it should be successful, but currently fails (something like `~~` or `--` ?). This might allow us to complete #7078/#7118 sooner. Thoughts?

[2015-08-10 14:11] frewsxcv commented on #7077
...or use `!=` and add a comment indicating it should pass

[2015-08-10 14:21] jdm commented on #7077
That's what flaky_cpu means, I'm pretty sure.

[2015-08-10 14:23] jdm commented on #7077
Sorry, that's not actually true. I think rather than adding a new operator I would prefer to port failing tests to the WPT framework (eg. #7126) where we can mark them as expected fails.

[2015-08-10 15:29] frewsxcv opened #7127 "Standardize usage of --release and --dev"
Relevant to [this comment](https://github.com/servo/servo/pull/7124#issuecomment-129488097)

Some build/test commands default to building dev when no command line args are passed, some require explicit passing of `--release` or `--dev`. This should be standardized across all build/test commands.

[2015-08-10 15:30] frewsxcv commented on #7127
Anyone have strong opinions on how the commands should behave?

[2015-08-10 15:33] metajack commented on #7127
I believe that we originally added `--release` and defaulted to non-release. Then we decided that it needed to be explicit.

Firefox builds release by default, since people getting slow dev builds by default was undesirable.

I expect that @ms2ger and @jdm will have opinions here.

[2015-08-10 15:37] jdm commented on #7127
Gecko doesn't precisely build release by default - it enables optimizations without disabling debug features like symbols and assertions. That was a choice made to allow for more performant developer builds in the common case, I believe. I am inclined towards not choosing release by default for Servo.

[2015-08-10 16:24] jdm opened #7129 "Remove Message suffix from NetworkEventMessage"
It's already in an enum called ChromeToDevtoolsControlMsg.

Code: components/devtools_traits/lib.rs

[2015-08-10 16:27] metajack opened #7130 "servo includes serde_macros twice"
Versions 0.5.0 and 0.4.4.

We need to find where the dupe is coming from and fix it. Probably an inconsistent dependency line in some Cargo.toml.

[2015-08-10 16:34] jdm opened #7131 "Rename SendConsoleMessage to ConsoleAPI"
It's a better description of its meaning.

Code: components/devtools_traits/lib.rs

[2015-08-10 16:38] larsbergstrom opened #7133 "`make tidy` should ensure that we do not have two versions of the same package in Cargo.lock"
While permitted by Cargo, it's always an error in Servo to have multiple versions of the same package. `make tidy` should check each of the Cargo.lock files to ensure that no dependency is included twice at different versions.

[2015-08-10 16:39] larsbergstrom commented on #7133
Note that a related feature has been under discussion in Cargo for at least a year, but it's not clear what the path forward is on it: https://github.com/rust-lang/cargo/issues/73

[2015-08-10 16:45] jdm commented on #4780
We now forbid this.

[2015-08-10 16:45] #4780 closed

[2015-08-10 16:47] #6765 closed

[2015-08-10 17:14] #5075 closed

[2015-08-10 17:23] frewsxcv commented on #6710
Since it has not been explicitly stated yet, there are tests for the Web Audio API available in web-platform-tests:

https://github.com/w3c/web-platform-tests/tree/master/webaudio

[2015-08-10 17:30] frewsxcv commented on #2003
FWIW, at the time of writing, there are still a couple FIXMEs with this issue number in-tree:

[code]

[2015-08-10 17:53] jdm commented on #6710
Dropping https://github.com/servo/servo/compare/master...dmarcos:webaudio-kickoff here so I don't forget about it.

[2015-08-10 18:57] pcwalton commented on #7069
I have a fix for this that I'm testing now.

[2015-08-10 19:25] vmunix commented on #7029
+1 to a full rust re-implementation of at least ping generation and submission, which ought to be easy, right?  :)  (says the guy who doesn't have any skin in the game..)

Maybe @trink needs a weekend Rust project?  :smile:

[2015-08-10 20:44] metajack opened #7134 "servo demos for mid-august 2015"
- [x] [physics demo](https://github.com/gordonbrander/servo-demos/tree/master/physics)
  - [x] publish demo
  - [x] physics demo perf on android https://github.com/servo/servo/issues/7135
- [x] [bad ad demo](https://github.com/gordonbrander/servo-demos/tree/master/physics)
  - [x] publish demo
  - [x] fix sizing isuses on android
  - [x] doesn't animate in chrome
  - [x] position: fixed issues in

[2015-08-10 20:47] metajack opened #7135 "physics demo performance on android"
Currently the [physics demo](https://github.com/gordonbrander/servo-demos/tree/master/physics) works on desktop and android, but the performance on Android is quite low, although still better than Chrome.

We need to investigate and potentially optimize this.

Note that the framerate counter is offscreen in Servo and can be fixed by adding ```left: 100px; top: 100px``` to the `#fps` rule in the CS

[2015-08-10 20:54] metajack commented on #7134
cc @gordonbrander @glennw @pcwalton @larsbergstrom

[2015-08-10 21:32] larsbergstrom opened #7138 "Add a flexible target configuration for B2S/Gonk"
Rust has support for flexible target configurations:
https://doc.rust-lang.org/stable/reference.html#conditional-compilation
https://github.com/rust-lang/rfcs/pull/131

These are also supported in Cargo:
https://github.com/rust-lang/cargo/pull/1396

I'd like to use a specific configuration for Gonk here, instead of just piggybacking on the Android one. This would enable the use of `#[cfg(target_os

[2015-08-10 21:43] gordonbrander commented on #7135
@metajack What about `left: 0; top: 0;`? The initial location of absolute elements is typically where they would have ended up in the flow. If this does not yet work in Servo, `left: 0; top: 0;` should pin the counter to the top left which is where it lives on other browsers.

[2015-08-10 21:44] gordonbrander commented on #7135
If this is a resource issue, we can reduce the number of particles, or add a toggle that lets us define a workload size.

[2015-08-10 21:45] #7131 closed

[2015-08-10 22:09] metajack commented on #7135
@gordonbrander I think the issue with left and top is that left: 0 and top: 0 are under the Android system toolbar, so it can't be seen. That's a bug in Servo we should probably fix.

Also I needed to add --device-pixel-ratio 2.0 to the hardcoded startup args for the G Pad since it's high res.

We hit about 60fps around 25 particles, but we are better than Chrome at most points I measured (1000, 5

[2015-08-10 22:10] mbrubeck commented on #7036
Glutin translates touch input on Android into [mouse events](https://github.com/tomaka/glutin/blob/e90f377b9fbab23a140029e71ef57933b266c473/src/api/android/mod.rs#L73-L75).  Upstream Glutin master has a [touch event](https://github.com/tomaka/glutin/blob/e90f377b9fbab23a140029e71ef57933b266c473/src/events.rs#L51-L52) API, but this isn't yet used in the Android port.

We could easily change Servo's

[2015-08-10 22:13] mbrubeck commented on #7036
If a temporary hack is needed for demo purposes, we could also provide a way for a web page to opt out of touch scrolling, for example by implementing a tiny subset of the ['touch-action'](http://www.w3.org/TR/pointerevents/#the-touch-action-css-property) CSS property.

[2015-08-10 22:54] frewsxcv opened #7142 "Passing unknown debug option (-Z) should cause error"
How rustc behaves:

[code]

How servo behaves:

[code]

Relevant file: [components/util/opts.rs](https://github.com/servo/servo/blob/master/components/util/opts.rs)

[2015-08-10 23:01] gordonbrander commented on #7134
@metajack Chrome animation issue fixed https://github.com/gordonbrander/servo-demos/issues/1

[2015-08-10 23:06] glennw commented on #7134
@metajack cssText branch is https://github.com/glennw/servo/tree/csstext

[2015-08-10 23:13] dzbarsky commented on #7106
Thanks for tracking this down, I will update the PR.

[2015-08-10 23:42] jdm commented on #7142
I suspect the best way to deal with this is to create a DebugOptions struct with boolean members for each option, create a function which takes the string of debug options (https://github.com/servo/servo/blob/master/components/util/opts.rs#L325) and returns `Result<DebugOptions, String>`, and reports any Err value returned as an unrecognized option.

[2015-08-10 23:44] jdm opened #7144 "Various tests panic with "called as_table_row() on a non-tablerow flow""
[code]

[2015-08-10 23:47] jdm opened #7145 "/css21_dev/html4/root-box-003.htm panics with 'no layout root'"
[code]

[2015-08-10 23:50] jdm opened #7146 "/css21_dev/html4/quotes-035a.htm panics with "`Option::unwrap()` on a `None` value""
[code]

[2015-08-11 00:27] gordonbrander commented on #7134
@metajack do you know the screen resolution of the tablets we'll be demoing on?

[2015-08-11 01:15] #4331 closed

[2015-08-11 01:32] frewsxcv opened #7148 "layout::flow::Flow should follow *_mut naming conventions when working with mutable data"
The naming convention the Rust standard library uses is as follows: if a method returns mutable data, append (or insert) `_mut` somewhere in the method name. An example of this would be:

* [`RefCell::borrow`](https://doc.rust-lang.org/stable/core/cell/struct.RefCell.html#method.borrow)
* [`RefCell::borrow_mut`](https://doc.rust-lang.org/stable/core/cell/struct.RefCell.html#method.borrow_mut)

Thi

[2015-08-11 02:03] dzbarsky commented on #1722
Fixed by https://github.com/servo/servo/pull/6798.

[2015-08-11 02:13] #1722 closed

[2015-08-11 02:44] metajack commented on #7134
@gordonbrander The LG G-Pad 8.3" is 1920 x 1200 pixels, 273 ppi. The Samsung Galaxy Tab S 8.4" is 1600 x 2560 Pixel, 359ppi.

[2015-08-11 03:57] dzbarsky opened #7149 "Intermittent crash in webstorage/storage_session_setitem_quotaexceedederr.html (Storage::SetItem)"
[code]

looks like an IPC crash? @pcwalton

[2015-08-11 05:34] wilmoz commented on #7085
I take this

[2015-08-11 05:37] mbrubeck opened #7152 "Underlines less than 1px high are sometimes invisible due to rounding"
In the test case below, about a third of the list items are painted with no visible underline.  The display list items for the missing underlines look like this:

`Rect(28px×0.6833333333333333px at (48px,255.78333333333333px))`

This rect is invisible after rounding because its top and bottom coordinates (255.7833px and 256.4667px) both round to the same whole pixel value (256px).

This test case

[2015-08-11 05:49] glennw opened #7153 "Items in scrollable layers can be clipped incorrectly."
The code that clips items is here:

https://github.com/servo/servo/blob/master/components/layout/display_list_builder.rs#L925

An example of what happens:

* A scroll layer has height 2000, with visible height of 768.
* The first tile paints at 512x512 correctly.
* The second tile paints at 512x512 and correctly clips items in the code above that are outside the 768 pixel enclosing rect.
* When yo

[2015-08-11 07:41] Ms2ger opened #7155 "XML Error panic while building gleam"
[code]

[2015-08-11 08:13] paulrouget opened #7156 "Implement CSS calc()"
https://drafts.csswg.org/css-values/#calc-notation

[2015-08-11 08:41] paulrouget opened #7157 "border-radius doesn't work with dashed borders"
<img width="426" alt="screen shot 2015-08-11 at 10 28 45" src="https://cloud.githubusercontent.com/assets/373579/9193452/d91a0018-4013-11e5-90d4-efcf73faaf73.png">

Relevant gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=382721

[2015-08-11 09:13] Ms2ger commented on #7077
In the interest of having this finished quickly, adding it with the wrong operator and a TODO comment seems the way to go.

[2015-08-11 10:51] paulrouget commented on #5394
I've started working on porting browser.html to Servo. See https://github.com/mozilla/browser.html/issues/562

[2015-08-11 13:34] larsbergstrom opened #7158 "Add support for Linux-specific UA string"
In #7143, we added a User Agent string for Servo, but only for Android, Gonk, and OSX. We would like to add a platform-specific Linux modifier.

Based on information from @gerv in https://github.com/servo/servo/pull/7143#issuecomment-129859641, we will need to include the full set of bits such as `X11; Ubuntu; Linux x86_64`, which will require some analysis of the environment at startup. These add

[2015-08-11 13:41] #5755 closed

[2015-08-11 13:46] SimonSapin commented on #7158
Is the distro name really needed? My Firefoxes, respectively Release from archlinux.org/packages and Nightly from mozilla.org, currently have:

[code]

I wouldn’t be surprised if `Ubuntu` is a vanity bit added by packagers.

[2015-08-11 13:58] jdm commented on #7085
Great!

[2015-08-11 14:00] larsbergstrom commented on #7158
@SimonSapin That seems consistent with https://wiki.mozilla.org/Firefox/User_Agent, though there isn't a ton of info I can find there or in other bugs on BMO.

According to the source (http://mxr.mozilla.org/mozilla-central/source/netwerk/protocol/http/nsHttpHandler.cpp#695), the `X11` is a historical bit and not used by sites for anything.

[2015-08-11 14:04] SimonSapin commented on #7158
https://bazaar.launchpad.net/~mozillateam/firefox/firefox.wily/view/head:/debian/patches/ubuntu-ua-string-changes.patch is an Ubuntu-specific patch adding the `Ubuntu` bit. The commit message that first added it says "Modify the UA string to add "Ubuntu" to the platform component", but doesn’t say why.

[2015-08-11 14:50] HarryLovesCode opened #7160 "JS_Enumerate crash (`mozjs_sys`)"
**File**: `/components/script/devtools.rs`

**Action**: Added the following segment to the `else` statement in `handle_evaluate_js`

[code]

Here is the output of GDB when running...

[code]

Here is the backtrace from GDB...

[code]

cc @jdm

[2015-08-11 15:14] Ms2ger commented on #6710
@rocallahan:

[2015-08-11 17:08] michaelwu commented on #7160
Please run with SM debugging on (add --features "script/debugmozjs" to your build command) and see where gdb stops at.

[2015-08-11 17:15] sole opened #7162 "iframe's contentWindow property is null right after creating iframe"
I'm trying to make sure I don't access an iframe before it's ready so I'm adding a listener to its contentWindow 'load' event. [This code](https://github.com/sole/servo-gradient/blob/ebc6df7ead590dfbe765db922219ae3421a99ae7/js/main.js#L15-L17) works fine in Firefox:

[code]
but it fails in Servo with
`
ERROR:js::rust: Error at file:///Users/sole/data/servodemos/gradient/js/main.js:17: TypeError: f

[2015-08-11 17:22] Manishearth commented on #7162
This is mostly a dupe of #5500 (different bug, same source)

[2015-08-11 17:26] Manishearth commented on #5500
@sole has a nice example on #7162.

Perhaps we should make the contentwindow getter block until the subpage exists? Have some sort of mutexy thing on the iframe that is locked when the fetch starts, and `.contentWindow` will block until it finishes.

[2015-08-11 17:35] frewsxcv commented on #7035
I am (attempting) to figure this out

[2015-08-11 17:48] pcwalton commented on #7035
The problem here is likely either that the hypothetical box is wrong or that we aren't taking it into account for position:fixed. You can see which one it is by changing to position:absolute and seeing if the bug persists.

For more info, search for "hypothetical box" in the CSS 2.1 spec.

[2015-08-11 17:50] frewsxcv commented on #7035
Bug persists with absolute, so I assume the hypothetical box is wrong

[2015-08-11 17:50] padenot commented on #6710
Yes, please feel free to ping me anytime on irc if you want/need to chat about the matter.

[2015-08-11 18:06] #7152 closed

[2015-08-11 18:10] boghison commented on #7156
I am interested in this, but I've never done anything CSS related, how does that work in servo? Could anyone elaborate?

[2015-08-11 18:10] jdm commented on #5500
No, we should just implement synchronous about:blank rather than hacking around the lack of it. That's #5240.

[2015-08-11 18:14] Manishearth commented on #5500
That's only for iframes without a src. What about iframes with a src that haven't loaded yet?

[2015-08-11 18:17] jdm commented on #5500
Same deal. All iframes start with about:blank and then navigate to the src url.

[2015-08-11 18:18] jdm commented on #7162
Thanks for reporting this! We already track this in #5500 (and specifically #5240), and I don't think there's any new information present here, so I'll close this as a duplicate.

[2015-08-11 18:18] #7162 closed

[2015-08-11 18:42] jdm commented on #7156
The code that interprets the output of the CSS parser lives in http://mxr.mozilla.org/servo/source/components/style/ . Given "It can be used wherever <length>, <frequency>, <angle>, <time>, <number>, or <integer> values are allowed" from the spec, that will likely mean modifying lots of methods for parsing particular value types (like [Angle::parse](http://mxr.mozilla.org/servo/source/components/s

[2015-08-11 18:43] boghison commented on #7156
OMG this is too horrifying

[2015-08-11 18:57] #7069 closed

[2015-08-11 18:59] jdm commented on #7160
This is what I get for debugmozjs:
[code]

[2015-08-11 19:01] jdm commented on #7160
@HarryLovesCode I think you need to enter the compartment of the object using `let _ac = JSAutoCompartment::new(cx, obj.handle().get());`

[2015-08-11 19:50] frewsxcv commented on #7035
With respect to the colored box, should all the values for its fragment.margin be 0?

[2015-08-11 19:54] HarryLovesCode commented on #7160
@michaelwu Sorry about that. For some reason `./mach build --dev --debug-mozjs` didn't work the first time, but after doing a full clean, I get the same output as @jdm posted.

@jdm I'm not sure if this is related, but adding that line seemed to cause this

[code]

[2015-08-11 20:00] jdm commented on #7160
That looks... totally unrelated to the code being modified, which is weird.

[2015-08-11 20:21] jdm commented on #7160
So I added
[code]
and couldn't reproduce that problem, even on github.com when evaluating the `document` object.

[2015-08-11 20:39] gordonbrander commented on #7134
@metajack I think I may have fixed the sizing issues on Android https://gordonbrander.github.io/servo-demos/evilad/, but it's difficult for me to know, since I can't verify on-device.

[2015-08-11 20:39] gordonbrander commented on #7134
@metajack there are also issues with position fixed on the ad iframe in Servo. I need to come up with some other approach for this.

[2015-08-11 21:23] g-k commented on #7130
`mach update-cargo -a` normalized serde_macros to 0.5.1 for me.

[2015-08-11 21:43] jdm commented on #7130
Want to submit a PR for that? :)

[2015-08-11 21:58] g-k commented on #7130
Sure, I didn't know if something updated them periodically.

[2015-08-11 22:58] g-k commented on #7142
dibs?

[2015-08-11 22:58] jdm commented on #7142
It's yours!

[2015-08-11 23:04] SimonSapin commented on #7156
IRC chat with @dzbarsky today:

&lt;SimonSapin>	dzbarsky: I’m not convinced it should be a token
&lt;SimonSapin>	dzbarsky: We already have Length::parse and similar methods. These should handle calc. And more should be added like parse_integer which should be used instead of looking for number tokens directly
&lt;dzbarsky>	SimonSapin: I looked at Length::parse, it examines the tokens. So without m

[2015-08-11 23:13] HarryLovesCode commented on #7160
Turns out it's an issue with the way it's being built. `./mach build --dev --debug-mozjs` just appears to be broken.

---

Anyways, are you still getting the original error?

[2015-08-11 23:31] jdm commented on #7160
The original error is gone with the two changes I added in my comment.

[2015-08-11 23:32] jdm commented on #7160
You can also try enabling debug mozjs via a servobuild file by following the instructions in http://mxr.mozilla.org/servo/source/servobuild.example .

[2015-08-12 00:14] dzbarsky commented on #7156
<dzbarsky> SimonSapin: woohoo! min-width: calc(100px + 60%); renders correctly
now i just need to write an actual calc parser ;)
<pcwalton> dzbarsky: that was fast
<pcwalton> I figured calc would take forever and we'd just need to tell paul to work around it :)
<dzbarsky> I made the parser only look for 2 components separated by a +
but the actual layout parts are pretty easy
<pcwalton> ship it
<d

[2015-08-12 00:15] HarryLovesCode commented on #7160
Editing the servo build file and adding those two lines worked perfectly. Thanks @jdm !

[2015-08-12 00:15] #7160 closed

[2015-08-12 00:40] notriddle commented on #6928
Isn't this one fixed?

[2015-08-12 00:43] dzbarsky commented on #6928
https://github.com/servo/servo/pull/6880 hasn't landed yet.

[2015-08-12 00:44] notriddle commented on #6928
Okay.

On Tue, Aug 11, 2015 at 5:43 PM David Zbarsky <notifications@github.com>
wrote:

[2015-08-12 01:07] dzbarsky commented on #7156
Also implemented for LengthOrPercentageOrAuto, so it should work with most sizing properties except max-width and max-height. @paulrouget let me know if you need anything else for browser.html

[2015-08-12 02:27] paulrouget commented on #7156
That was fast :)

A typical use of calc in browser.html: `calc(100vw - 10px)`.

Apparently, supporting `vw` and `vh` won't be part of the first implementation. We can work around that though.

[2015-08-12 03:12] g-k commented on #7045
![image](https://cloud.githubusercontent.com/assets/226605/9215853/684f8c48-407e-11e5-921b-52b7449b7b77.png)

[2015-08-12 03:40] jdm commented on #7045
Yours!

[2015-08-12 06:55] #7085 closed

[2015-08-12 07:24] paulrouget commented on #7115
Browser.html hits this bug. We use `requestAnimationFrame` to schedule react rendering.

[2015-08-12 07:24] dzbarsky commented on #7115
Note that the test I mentioned isn't currently in the tree, https://github.com/servo/servo/pull/6880 needs to land first.

[2015-08-12 08:47] Ms2ger commented on #7115
CC @pcwalton

[2015-08-12 09:45] paulrouget opened #7166 "position:absolute are not stacked properly if another elements is position:fixed"
[code]

Without the last div, the 2 first divs are stacked according to their `z-index`. Whit the last div, the 2 first divs are stacked according to their position in the DOM.

<img width="440" alt="screen shot 2015-08-12 at 11 38 11" src="https://cloud.githubusercontent.com/assets/373579/9221065/8a2d297e-40e7-11e5-966f-8335deaa45b7.png">

[2015-08-12 10:13] SimonSapin commented on #2853
https://github.com/rust-lang/cargo/issues/1897 blocks cargoup (#7049).

[2015-08-12 11:36] Ms2ger opened #7168 "Implement the WebSocket close event."
Blocks #6060

* Spec: <https://html.spec.whatwg.org/multipage/#feedback-from-the-protocol> ("When the WebSocket connection is closed…").
* Code: `components/script/dom/websocket.rs`.
* Test: various under `tests/wpt/web-platform-tests/websockets/`.

[2015-08-12 11:50] Ms2ger opened #7169 "`load_url` ignores the URL if it has a fragment"
[code]
Clicking the link goes straight to the `p` element rather than visiting `example.com`.

[2015-08-12 14:39] Ms2ger opened #7172 "flow::{base,mut_base} transmutes concrete pointers to raw::TraitObject."
CC @pcwalton, @jdm

I tried to fix it, but hit error: the trait `core::marker::Sized` is not implemented for the type `Self`

[2015-08-12 15:20] mrobinson commented on #6952
I'm going to take a look at this one today (sorry for the delay, I was out-of-office). I suspect that this might be caused by attempting to reuse framebuffers on OS X. I'll revert that specific change if so.

[2015-08-12 15:29] frewsxcv commented on #7035
Okay, I have been at this long enough. I guess take a break from it and hopefully it is on the right track.

By definition, "hypothetical box" for the green square should be at 8px,8px because that is where it would be placed if it were static.

One potential problem is the parent `Fragment` (presumably for `<body>`) of the green square's `Fragment`has its vertical margin collapsed  (I think), so

[2015-08-12 15:44] metajack commented on #7134
@pcwalton can you look into this?

[2015-08-12 16:04] pcwalton commented on #7134
OK, just need to finish up the layout bug I'm working on now.

[2015-08-12 16:09] #7067 closed

[2015-08-12 16:46] metajack opened #7173 "need easy way to change number of particles on physics demo"
Maybe a slider?

cc @gordonbrander

[2015-08-12 16:57] waddlesplash commented on #7157
The (incorrect) Gecko rendering of the border-radius actually looks really cool from a design perspective -- is there any way to achieve that through the spec?

[2015-08-12 16:59] frewsxcv opened #7174 "Add Deref<Target=BaseFlow> for Flow?"
This would allow us to remove all the `flow::base(..)` calls that live in `components/layout.rs`

Something along the lines of:

[code]

[2015-08-12 17:20] Ms2ger opened #7175 "Remove ScriptListener"
… and use `IpcSender<ScriptToCompositorMsg>` directly.

[2015-08-12 17:25] metajack commented on #7134
Public demos are published here: http://www.servoexperiments.com/demos.html

[2015-08-12 17:49] wilmoz commented on #7111
I take this

[2015-08-12 17:52] jdm commented on #7111
Great!

[2015-08-12 18:17] wilmoz commented on #7111
@jdm for the case "there should be } in the same line", the output message could be "there should be } in the same line"?

[2015-08-12 19:14] frewsxcv commented on #6587
This was presumably fixed by #6666 (😈) and it works for me with the latest master

[2015-08-12 19:14] #6587 closed

[2015-08-12 20:09] jdm commented on #7111
"use statements should not span more than one line" is probably more clear.

[2015-08-12 20:16] mrobinson commented on #6849
I think this is a regression from https://github.com/servo/rust-layers/pull/182. Layers can either mask their children or not and iframe containers always masking their children. Now, it seems that the property is only respected for layers that create a new RenderContext3D.

[2015-08-12 21:02] glennw commented on #6849
In theory, iframe root layers *should* always create a new RenderContext3D, which should handle that situation correctly. But perhaps there's a bug and iframe root layers don't result in a RenderContext3D being created?

[2015-08-12 21:11] pcwalton commented on #7153
I think that for display items that belong to an overflow:scroll layer, we should just remove that clipping "optimization", since we will need them if the scroll happens.

[2015-08-12 21:16] frewsxcv commented on #7036
FWIW, at the time of writing, there are WPT tests we fail related to `TouchEvent` creation

https://github.com/servo/servo/blob/master/tests/wpt/metadata/dom/nodes/Document-createEvent.html.ini

[2015-08-12 21:41] dzbarsky commented on #7156
I added support for viewport relative and font relative units, and also rewrote the parser so your typical use should now work :)

[2015-08-12 22:41] mbrubeck commented on #7036
I started working on basic touch event support at https://github.com/mbrubeck/servo/commits/touchevent

[2015-08-12 22:47] jdm commented on #4431
You're correct that my original comment is incorrect. However, I don't believe we need to retain any information about expansions that occurred previously. The serialization steps at https://drafts.csswg.org/cssom/#serialize-a-css-declaration-block explain it thus:
* for each longhand property encountered, make a list of all shorthand properties that it is part of
* for each such shorthand propert

[2015-08-12 22:56] jdm commented on #5971
Sorry for the delay in answering these!
1) I don't really have an opinion about using Command; I'd say if it does what we need then it's fine.
2) There is currently no intentional way to shut down the server from the client. That being said, evaluating "window.close()" in the scope of the current pipeline would probably work. On the other hand, it probably makes more sense to just [kill](http://do

[2015-08-12 22:59] jdm commented on #5971
If we were launching the browser in a thread rather than using a process, we could add some sort of Sender to http://mxr.mozilla.org/servo/source/components/servo/lib.rs#79 and http://mxr.mozilla.org/servo/source/components/servo/lib.rs#105, but I'm not convinced that it's worth the extra effort.

[2015-08-13 00:50] gordonbrander commented on #7173
I've implemented this a couple of ways, but am running into problems with Servo that are preventing me from moving ahead:

- Implemented with `<input type="range">`, but we don't support that yet.
- Implemented by binding `click` event handlers to a number of `<a>` elements, each with a workload size. Clicking them will set that workload size. Unfortunately, Servo ignores the click handler.

@pcwa

[2015-08-13 01:53] chotchki commented on #6739
@jdm, can you take off the C-assigned tag? I have gotten distracted by work again and can't give a reasonable delivery date.

[2015-08-13 01:54] glennw opened #7184 "Rounding issue causing some borders not to be visible."
Regression occurred in https://github.com/servo/servo/pull/7161

Minimal test case:

[code]

[2015-08-13 03:26] frewsxcv commented on #7130
Fixed in #7164

[2015-08-13 03:26] #7130 closed

[2015-08-13 03:44] metajack commented on #7135
@pcwalton discovered that Skia was not being built with ARM NEON optimizations at all. Working on a fix for that.

[2015-08-13 03:57] mrobinson commented on #6952
@pcwalton, I'm having trouble reproducing this one. Is there a particular page that produces this error more than others? Are you using GPU rasterizaton or CPU rasterization.

[2015-08-13 04:15] jdm commented on #6739
Thanks for letting us know!

[2015-08-13 04:16] jdm commented on #7173
Other elements besides `<a>` should work.

[2015-08-13 04:28] gordonbrander commented on #7173
I tried a span. It did not work. Note that these elements are positioned absolute. Should that make a difference?

[2015-08-13 04:35] jdm commented on #7173
[code]
All of these triggered for me in Servo when I clicked on them.

[2015-08-13 05:31] #7153 closed

[2015-08-13 07:30] tomjakubowski commented on #7098
I did the bare minimum and enabled the accessor in the IDL file and added the necessary fields and impl methods. See https://github.com/tomjakubowski/servo/commit/8d999de7df0aa587560d6c4291aa2d2a263967cf

It doesn't actually change the type of the data provided to the `message` callback, however, because I couldn't see an immediate and obvious safe way to create and return an `ArrayBuffer` (which

[2015-08-13 12:19] frewsxcv commented on #6390
I am working on this

[2015-08-13 14:01] akosel commented on #5971
Ok, this all sounds good. Thank you for the insights on shutting down the server. I am struggling a bit with calling child.kill from within a thread (because of ownership issues), while child.wait is blocking the main thread. At least I know this struggle is worth figuring out. I will also look at potentially using window.close(). Thanks!

[2015-08-13 14:13] jdm commented on #5971
Could we spawn a separate thread for the client, and when the client wants to shut down it sends a message to the original thread which is just waiting in a recv loop and presumably has ownership of the child process and can kill it?

[2015-08-13 17:07] boghison opened #7193 "Can't derive HeapSizeOf for types with type arguments that don't derive HeapSizeOf"
Ex. TextInput

[2015-08-13 17:31] vvuk commented on #1908
Can you shove your hacks and changes in a gist?  I'd like to work from there.  I can definitely port the Skia changes over etc., but need to get through the random cargo etc. breakage with fontconfig/openssl/etc.

[2015-08-13 17:32] vvuk commented on #1908
Note that I think that it's acceptable to have an initial Servo-on-Windows have dependencies such as: requires msys2/mingw64 build env; requires clang-cl (or real msvc) to build some modules; etc.  We can then remove them over time but at least we have something that can be hacked on.

[2015-08-13 17:35] pcwalton commented on #1908
Note that we'll need some kind of `ipc-channel` port now.

[2015-08-13 17:47] frewsxcv commented on #5876
Updates:

* SpiderMonkey upgrade has finished
* While it is around right now, `IsInNonStrictPropertySet` has been removed upstream
 * https://bugzilla.mozilla.org/show_bug.cgi?id=1135993

[2015-08-13 17:54] vvuk commented on #1908
Writing the code is the super easy part of all this.  I will happily write code all day long.  It's fighting with build system cruft that's the painful bit..

[2015-08-13 18:00] dzbarsky opened #7194 "Combine code for parsing perspective-origin and transform-origin"
Code is in [components/style/properties.mako.rs](https://github.com/servo/servo/blob/master/components/style/properties.mako.rs)
Look for `<%self:longhand name="perspective-origin">` and `<%self:longhand name="transform-origin">`

There's about 80 lines of parsing that is identical except transform-origin also parses a depth. Perspective-origin can probably just return an error if depth is not Non

[2015-08-13 18:07] dzbarsky commented on #7194
This can be done by creating a
`pub fn parse_origin(_: &ParserContext, input: &mut Parser) -> Result<SpecifiedValue,()>' helper can calling it from both parse functions.

[2015-08-13 19:16] #6922 closed

[2015-08-13 19:18] BrenBarn commented on #3653
I just came across this issue and find it very appealing.  I would go further and say that HTML, CSS, the DOM, and JavaScript should all be modularized away from each other as much as possible.  You should be able to do HTML/CSS rendering with full DOM manipulation in your language of choice, not just JavaScript.  You should be able to have a DOM for a document tree generated from a language other

[2015-08-13 19:51] #6951 closed

[2015-08-13 20:01] waddlesplash commented on #1908
Windows' named pipes? They aren't very secure (if you know the name of the pipe, you can read stuff off of it, essentially) but they're tried, true, and fast.

[2015-08-13 20:03] metajack commented on #7135
https://github.com/servo/skia/pull/66

[2015-08-13 20:15] Manishearth opened #7197 "Replace uses of `for foo in bar.iter()` and `for foo in bar.iter_mut()`"
`for foo in bar.iter()` can always be replaced with `for foo in &bar`, often even `for foo in bar`. With `iter_mut` we should use `&mut bar`

We do this a lot throughout Servo, see https://manishearth.pastebin.mozilla.org/8842698

It's advisable to do this with `sed` or some other tool, but manually fixing them works too (that way you can check if the `for foo in bar` method will work)

[2015-08-13 20:28] metajack commented on #7086
So part of this was caused by my upgrading the wptrunner without the corresponding upgrade to mozlog or some similar combination. I need to retest now that those have both been properly upgraded.

[2015-08-13 20:35] Manishearth opened #7198 "Use `is_empty()` instead of `.len() == 0`"
`foo.len() == 0` can usually be replaced by `foo.is_empty()`.

https://manishearth.pastebin.mozilla.org/8842704 is a list of all the uses grep could find

It's advisable to do this with sed or some other tool.

[2015-08-13 21:44] jgraham commented on #7086
Yeah, you need that upgrade and then a fix for the race between the initial page load and the navigation mentioned above.

[2015-08-13 22:43] frewsxcv opened #7201 "*.cargo files should get linted"
Steps to complete this:

1. Add it to the `filetype_to_check` list [in here](https://github.com/servo/servo/blob/master/python/tidy.py)
2. Make the appropriate changes to make it pass the tidy checker (`./mach test-tidy`)
 If it complains about a license, just copy and paste [this](https://github.com/servo/servo/blob/2e1ca10eeaf6a62326c1b864345f624ed2974a52/python/tidy.py#L1-L8)

[2015-08-13 22:55] frewsxcv opened #7202 "files in `ports/cef/` should get linted"
It is marked as being 'upstream' (which is not the case as far as I know) so we currently don't lint it

Steps to complete this:

1. Delete [this line](https://github.com/servo/servo/blob/2e1ca10eeaf6a62326c1b864345f624ed2974a52/python/tidy.py#L43)
2. Clean up all tidy issues brought up by `./mach test-tidy`

[2015-08-13 23:22] jdm commented on #7202
The vast majority of the code is automatically generated, and we can't just replace the license because it's generated from the CEF C++ header. I don't think this is worth the effort.

[2015-08-13 23:22] #7202 closed

[2015-08-13 23:38] frewsxcv commented on #7202
Sounds good. Just for my own knowledge, the only code that is autogenerated lives in `ports/cef/interfaces/`, right? As opposed to all the `*.rs` files in `ports/cef/`

[2015-08-13 23:40] jdm commented on #3653
The team is agreed that if it's not a lot of work, making it easy to disable large swaths of the web platform (such as SVG/MathML, for example) could be useful. However, this issue as it stands currently is all over the place and doesn't really provide much justification for spending time to implement many of the ideas proposed here. We're open to having new issues filed about how Servo can suppor

[2015-08-13 23:40] #3653 closed

[2015-08-13 23:44] jdm commented on #7202
That does seem to be the case, from my brief poking around.

[2015-08-13 23:47] frewsxcv commented on #6558
For me at least, it looks alright

[2015-08-13 23:56] frewsxcv commented on #7201
So I just learned that Makefiles require tab characters on certain lines, which makes this not as trivial as I thought. It might be best just to close this, unless we just want to ignore tab characters on certain filetypes

[2015-08-14 00:08] jdm commented on #7201
Yeah, I don't think the effort involved here is worth the benefit.

[2015-08-14 00:08] #7201 closed

[2015-08-14 00:34] zmike commented on #7202
That's correct.

[2015-08-14 00:34] jdm opened #7205 "Make EventTypeId reflect DOM inheritance hierarchy"
Right now MouseEvent and UIEvent are listed separately, which means that some_mouse_event.is_uievent() will return false. We should make EventTypeId reflect the proper DOM hierarchy, just like EventTargetTypeId/NodeTypeId/ElementTypeId, etc.

Code: components/script/dom/event.rs, components/script/dom/uievent.rs

[2015-08-14 01:29] jxs commented on #7198
can i do this one?

[2015-08-14 03:02] metajack commented on #7135
servo/skia#66 has landed, but made little difference in the demos unfortunately. More investigation is needed.

[2015-08-14 03:02] metajack commented on #7173
We're going to defer this for the demo deadline since no suitable easy solutions were found. Workarounds exist so that I'll have what I need next week.

[2015-08-14 03:05] notriddle commented on #7193
I don't think that's a bug; if the subtype doesn't implement HeapSizeOf, then there's no way to be sure it's an exhaustive heap size.

[2015-08-14 04:32] boghison commented on #7193
We have ignore_heap_size_of that doesn't work

[2015-08-14 04:34] metajack opened #7210 "underlines too low on android"
Load http://www.servoexperiments.com/demos.html to see this or check out this image:
http://imgur.com/vyh6nVO

[2015-08-14 04:43] metajack opened #7211 "page load times on android are terrible"
It seems far worse than it should be. Even loading very simple pages is slow.

[2015-08-14 04:46] metajack opened #7212 "servo draws under android toolbar"
This means content in the first 40px or so is hidden.

[2015-08-14 05:05] metajack commented on #7134
@pcwalton Can you look at why the servo movies demo is busted on Android?

[2015-08-14 07:17] Ms2ger commented on #6558
I'm very skeptical about anything that reads `defaultStr`.

[2015-08-14 08:07] Manishearth commented on #7198
Sure!

[2015-08-14 08:07] Manishearth commented on #7198
(oh, you already did it :smile: )

[2015-08-14 12:42] #7198 closed

[2015-08-14 13:20] jdm commented on #7193
@notriddle: Yes, the derive should only be operating on the actual fields of a type, not looking at all of the type arguments just in case.

[2015-08-14 13:37] jxs commented on #7197
i can also take this one if no one else is on it

[2015-08-14 13:50] jdm commented on #7197
It's yours!

[2015-08-14 14:04] mbrubeck opened #7216 "Implement required dictionary members"
The WebIDL file below (part of [Touch Events][2] fails with this error: `WebIDL.WebIDLError: error: Dictionary argument or union argument containing a dictionary not followed by a required argument must be optional, /home/mbrubeck/src/servo/components/script/dom/webidls/Touch.webidl line 24:23`
[code]

But the [WebIDL spec says][1] (emphasis mine):

Since the TouchInit dictionary *does* have requi

[2015-08-14 14:08] akosel commented on #5971
Yes, that seems like the right way to do things. I appreciate the guidance!

[2015-08-14 14:11] Ms2ger commented on #7216
We don't implement required members at all.

[2015-08-14 14:14] mbrubeck opened #7217 "Generated WebIDL binding code fails for default `double` values in dictionaries"
This WebIDL snippet (part of [Touch Events][2]):

[code]

Causes the following build error:

[code]

The default value should be `Finite::wrap(0.0)` instead of just `0.0`.

[2]: http://w3c.github.io/touch-events/#touch-interface

[2015-08-14 14:34] Ms2ger commented on #7217
The code is in `components/script/dom/bindings/codegen/CodegenRust.py`, at the end of `getJSToNativeConversionInfo` in the `if tag in numericTags:` branch. This branch will instead need to be limited to integers, and branches should be added for unrestricted float/double, where the default is used literally, and for restricted float/double, where the default is wrapped in `Finite::wrap()`.

To tes

[2015-08-14 15:31] waddlesplash commented on #7166
@jdm: Shouldn't this also have `I-wrong` too?

[2015-08-14 16:08] mrobinson commented on #6849
Okay. After some investigation I have a fix lined up for rust-layers (https://github.com/servo/rust-layers/pull/201). Once that lands I'll do a PR for servo with a test.

[2015-08-14 16:18] notriddle commented on #7193
I understand.

On Fri, Aug 14, 2015, 06:20 Josh Matthews <notifications@github.com> wrote:

[2015-08-14 18:57] fabricedesre commented on #7168
Isn't it done at https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L205 and https://github.com/servo/servo/blob/master/components/script/dom/websocket.rs#L357

This seems to follow the spec.

[2015-08-14 19:45] nickdesaulniers opened #7218 "Implement the preserveWrapperCallback API to allow our DOM objects to be stored in WeakMaps."
[code]

Not sure if getContext is not a method of an HTMLCanvasElement, or if createElement is not a method of the document object?

[2015-08-14 19:47] jdm commented on #7218
Both of those exist and are tested. What is the code that isn't working?

[2015-08-14 20:10] Wafflespeanut commented on #3734
Now, this has become a total nightmare! (not even close to E-easy) :P

[2015-08-14 20:13] wldcordeiro commented on #3734
@Wafflespeanut That's kind of what I was running into. It was definitely more complex than the description suggests.

[2015-08-14 20:39] jdm commented on #3734
Yep, my mistake. I'll make sure to think through the ramifications of such changes more thoroughly in the future before proposing them to eager new contributors.

[2015-08-14 20:45] Wafflespeanut commented on #3734
Well, on the brighter side, it's gonna be fixed soon :)

[2015-08-14 21:53] pcwalton commented on #7211
Without the ability to profile on Android it's going to be really hard to debug this.

[2015-08-14 22:04] metajack commented on #7211
Then open a bug for profiling on android and let's figure that out.

[2015-08-14 22:43] pcwalton opened #7221 "Support profiling on Android"
It's hard to profile Servo on Android, but we'll need to be able to in order to investigate our performance problems there.

[2015-08-15 00:07] pcwalton opened #7223 "Support multiple backgrounds"
This is needed for several important sites.

[2015-08-15 02:59] FuGangqiang commented on #6439
oh, it's my fault,

my ~/.cargo/config file defined target directory to "./target".
when I delete the line, everything is ok now

so I close this issue.

[2015-08-15 02:59] #6439 closed

[2015-08-15 04:28] jdm commented on #6439
Glad you found a solution!

[2015-08-15 08:43] Ms2ger commented on #7168
Indeed so. Not sure what convinced me otherwise.

[2015-08-15 08:43] #7168 closed

[2015-08-15 09:48] #7197 closed

[2015-08-15 10:01] nox commented on #3889
#6313

[2015-08-15 10:01] #3889 closed

[2015-08-15 11:37] Ms2ger opened #7231 "Uncatcheable exception with DOM object in dictionary"
Neither `alert` is shown in
[code]

[2015-08-15 13:54] benschulz commented on #3598
Determining `autoMargins` is gonna be tricky. I hope to take a look at that over the next couple of days.

Perhaps someone can look at my [progress](https://github.com/benschulz/servo/commit/9328300f3ee2a786b813cf2d50a91b37d2408da0) in the meantime. I have one question in particular: Should I stick with rustc_serialize or is it alright to use serde_json?
From a readability point of view I'm very m

[2015-08-15 13:57] waddlesplash commented on #3734
PR was merged, this should be closed now.

[2015-08-15 13:59] #3734 closed

[2015-08-15 14:30] jdm commented on #3598
If serde makes it easier, go right ahead. You can also file an issue to convert the existing code that uses rustc_serialize, or do the work yourself.

[2015-08-15 14:33] metajack opened #7235 "android build should leave android project directory easily accessible"
It should also make sure that the bits ndk-gdb wants are there as well. I believe this is just a static copy of the gdbserver binary for the target ABI as well as a gdb.setup file which points to the NDK location.

Something like:

[code]

cc @larsbergstrom

[2015-08-15 14:34] jdm commented on #3598
Current progress looks great to me!

[2015-08-15 14:56] metajack commented on #7235
Note that running V=1 ndk-build in a sample directory gives the hints at how to do this:

[code]

[2015-08-15 16:25] #6363 closed

[2015-08-15 17:02] Wafflespeanut commented on #6787
@jdm This can be closed :)

[2015-08-15 17:09] larsbergstrom commented on #7235
I'm removing all of this stuff. Basically, I'm:
1) Changing servo to build to a shared library on Android
2) Moving the APK generation stuff in-tree
3) Adding a new mach command to build the APK packaging

I'll probably add mach commands for deployment & debugging, too, since they're so hard right now.

A separate issue is that even if we remove the APK builder, we're still using the tightly-inter

[2015-08-15 17:20] #6787 closed

[2015-08-15 17:28] g-k commented on #7045
Questions!

Is https://github.com/servo/servo/compare/master...g-k:perf-timing-dom-props going in the right direction?

Should I store `domLoading` etc. in `PerformanceTiming` with type `JS<Document>` or `u64` or something else?

Should those properties be args to the `PerformanceTiming` constructor? If so, what should they default to until they're set?

[2015-08-15 17:33] #7217 closed

[2015-08-15 22:13] Wafflespeanut commented on #6924
I don't think this is a E-less-easy issue now. In fact, I should've given nice names when I added those fields...

[2015-08-15 22:58] tomjakubowski commented on #5670
I'd like to take this on!

[2015-08-15 23:03] vectorijk commented on #5670
@tomjakubowski I am off~.

[2015-08-16 01:56] jdm commented on #5670
Sounds like it's all yours, @tomjakubowski.

[2015-08-16 02:03] jdm commented on #7045
Yes, that looks like the right direction. However, it doesn't make sense to store them in values in PerformanceTiming; the values may not be available at the time it's created, and we would need to store them somewhere anyways in case PerformanceTiming is created sometime after they become available. Therefore, storing them in Document makes the most sense to me, as I originally described in the f

[2015-08-16 02:27] #7098 closed

[2015-08-16 09:01] Wafflespeanut commented on #6636
@larsbergstrom I wonder how this is E-easy :P

[2015-08-16 09:02] Ms2ger commented on #7065
Currently, we have an `EventListenerType` enum that distinguishes between the two kinds of event listeners:
* `Additive` for those added by `addEventListener`, which takes an `EventListener?` argument;
* `Inline` for those added by setting `onfoo` attributes, which are of type `EventHandler` (a typedef for `EventHandlerNonNull?`).

In JavaScript, both of those kinds are represented by an object or

[2015-08-16 09:59] Wafflespeanut commented on #7175
This can now be closed :)

[2015-08-16 10:08] Ms2ger opened #7239 "Remove the DOMRefCell wrapper around Window::compositor."
It should be possible to store an `IpcSender<ScriptToCompositorMsg>` directly, rather than a `DOMRefCell<IpcSender<ScriptToCompositorMsg>>`, since we never need an `&mut IpcSender<T>`.

The `Window::compositor()` could then return `&IpcSender<ScriptToCompositorMsg>` rather than `RefMut<'a, IpcSender<ScriptToCompositorMsg>>`.

Code: `components/script/dom/window.rs`

[2015-08-16 12:40] #5340 closed

[2015-08-16 12:52] #7175 closed

[2015-08-16 12:54] benschulz commented on #3598
I've added the missing implementation for `autoMargins`. However, I can't say that I like it. It is based on a new `ReflowQueryType` just for the `autoMargins`; essentially devtools UI specific code in the layout and script components.

Firefox's devtools base `autoMargins` on `DOMUtils.getCSSStyleRules`, on which most of the style inspector is based anyways. I'm wondering if it would not be bette

[2015-08-16 13:01] jdm commented on #3598
I don't think it's worth deferring. These things happen, and we can refactor it if there's a need for similar functionality at some other point in the future.

[2015-08-16 13:04] jdm commented on #3598
That being said, if we're only checking the computed style values, we might be able to directly access them from script/ using http://mxr.mozilla.org/servo/source/components/script/dom/node.rs#214 (from http://mxr.mozilla.org/servo/source/components/script/dom/node.rs#120).

[2015-08-16 13:14] #7231 closed

[2015-08-16 15:11] #7111 closed

[2015-08-16 21:59] nox commented on #7144
When iterating over self.block_flow.base.child_iter() in TableFlow::bubble_inline_sizes(), the next children in the computation of next_collapsed_borders_in_block_direction might be neither a table rowgroup nor table row.

[2015-08-16 21:59] nox commented on #7144
AFAICT, it panics because the next child is a table colgroup.

[2015-08-16 22:51] nox commented on #7239
@wartman4404 did it in #7244.

[2015-08-16 23:01] wartman4404 commented on #7239
Sorry, I would have posted here asking to work on it, but I wanted to take a look at it first and it turned out to be tiny and self-contained enough to do then and there :/

[2015-08-16 23:18] nox commented on #7239
@wartman4404 No problem. :)

[2015-08-17 07:05] paulrouget opened #7247 "Can't build on Mac anymore (regression)"
Since fb7a53c6cfc8bc2985423a55834507c930537bfc, I can't build on Mac (osx 10.11) anymore.

I get:

[code]

The script `rustc-with-gold` doesn't include the `DYLD_LIBRARY_PATH` variable for some reason I don't understand. But it is included by `build_env()`. And the other variables are present too.

If I understand correctly, `python` start `cargo` which start `rustc-with-gold` which starts `rustc`

[2015-08-17 07:09] paulrouget commented on #7247
Here is a good description of what's going on: https://github.com/rust-lang/cargo/issues/1816

[2015-08-17 07:27] SimonSapin commented on #7247
https://github.com/rust-lang/cargo/issues/1816#issuecomment-130478526 is probably the reason:

… but our CI is on older OS X versions.

[2015-08-17 08:03] #7247 closed

[2015-08-17 09:53] nox commented on #6144
#7228

[2015-08-17 11:56] tafia opened #7253 "Error while running ./mach test-tidy"
[code]

I'm on
- debian test,
- python: 2.7.10
- servo hash: d90907cb5f7399196b76b3117e19ff4d1b775a96

I can successfully run `./mach build --dev` and `./mach test-unit`

[2015-08-17 12:53] frewsxcv commented on #7253
You should install [this](https://packages.debian.org/stretch/python-setuptools)

This should no longer be an explicit requirement once https://github.com/servo/servo/pull/7117 merges

[2015-08-17 13:07] tafia commented on #7253
Thanks !
I confirm it fixes my problem. Closing it since #7117 is supposed to address the point.

[2015-08-17 13:07] #7253 closed

[2015-08-17 13:14] frewsxcv commented on #6931
Considering [this commit](https://github.com/w3c/wptrunner/commit/b4ebfacfd5f2109bdc8afa0629f4dbad5f6665b6#diff-409148835eecbf686495abf6ffd37cb5), this should now be fixed

[2015-08-17 13:26] frewsxcv commented on #2215
Relevant to 6390

[2015-08-17 13:31] frewsxcv commented on #5273
Update: both issues pasted above have now been addressed

[2015-08-17 13:45] frewsxcv commented on #5720
Worth mentioning that the code originally pasted above is now removed (#6800)

[2015-08-17 15:54] frewsxcv commented on #5273
Fixed in https://github.com/servo/rust-mozjs/issues/188

[2015-08-17 15:54] #5273 closed

[2015-08-17 16:51] wilmoz commented on #7205
I'd like to try this.

[2015-08-17 17:32] michaelwu commented on #5720
DOM roots no longer need to be unrooted in order, so I don't think this is a problem anymore.

[2015-08-17 18:23] #5720 closed

[2015-08-17 20:51] notriddle commented on #7169
Can I take this one?

[2015-08-17 22:04] SimonSapin commented on #7169
@notriddle Sure!

This probably involves something like `link_url.scheme == document_url.scheme && link_url.scheme_data == document.url.scheme_data && link_url.query == document_url.query` (compare every component but the fragment).

[2015-08-17 23:39] nnethercote opened #7255 "Memory profiling needs automated testing"
The memory profiler currently gets no automated testing, AFAIK. This leads to cases like #7252 where it panicked in very common cases.

It's hard to test the memory profiler in any great detail because the measurements are so non-deterministic. But some basic smoke testing -- i.e. run it on a few sites and check it doesn't crash or panic -- would go a long way. I don't know how this could be made

[2015-08-17 23:41] #7157 closed

[2015-08-18 02:23] suhr opened #7259 "Dependencies doesn't compile on Linux"
[code]

OS: Linux x86_64, Funtoo
GCC version: 4.9.2

[2015-08-18 04:49] samfoo opened #7261 "iframe contentWindow returns null if content hasn't been fully loaded"
`HTMLIFrameElement` doesn't respond correctly to `contentWindow` until after the resource task signals that a load has finished.

While the [spec](https://html.spec.whatwg.org/multipage/embedded-content.html#attr-iframe-contentWindow) appears somewhat ambiguous on this to me, both Gecko and WebKit return a window object once the node is added to the DOM.

To reproduce:

[code]

[2015-08-18 05:11] paulrouget commented on #7156
@dzbarsky your branch doesn't compile:

[code]

[2015-08-18 08:30] SimonSapin opened #7262 "Move web sites to HTTPS"
We should HTTPS all the things.

* [x] [servo.org](https://github.com/servo/servo.org) is currently just a redirect to blog.servo.org. We may have more interesting stuff to put there in the future.
* [x] [blog.servo.org](https://github.com/servo/blog.servo.org) is a Jekyll blog generated and hosted by GitHub Pages
* [x] [doc.servo.org](https://github.com/servo/doc.servo.org) is a set of rustdoc do

[2015-08-18 08:41] Ms2ger commented on #7205
@wilmoz the `UIEventTypeId` argument should be passed to `new_inherited` only, not to `new`.

[2015-08-18 09:23] Ms2ger commented on #4516
#3924

[2015-08-18 09:23] #4516 closed

[2015-08-18 09:23] Ms2ger commented on #5500
#3924

[2015-08-18 09:23] #5500 closed

[2015-08-18 09:23] Ms2ger commented on #7261
#3924

[2015-08-18 09:23] #7261 closed

[2015-08-18 09:23] Ms2ger commented on #5240
#3924

[2015-08-18 09:23] #5240 closed

[2015-08-18 09:24] Ms2ger commented on #3924
https://github.com/jdm/servo/commit/e8aa1e10c3be1de6aeaee7c5a4ddb50e94f97b81
https://github.com/servo/servo/compare/master...Ms2ger:empty-iframe-load

[2015-08-18 10:42] Wafflespeanut commented on #7129
@jdm Let's close this :)

[2015-08-18 10:49] #7129 closed

[2015-08-18 11:49] #7144 closed

[2015-08-18 13:37] nox commented on #6598
#6660 fixed this.

[2015-08-18 13:37] #6598 closed

[2015-08-18 14:01] #7148 closed

[2015-08-18 14:58] tafia commented on #7112
Tried to address it in #7265

This is my first python, so it may not be very standard.

I didn't search for empty line, rather checked the *imports* length (works if there something else than use).

One area where may need to reconsider: if the very last import is supposed to be at the first place, all other imports being ordered then the entire block yields warning.

[2015-08-18 15:22] Wafflespeanut commented on #7065
Let's close this :)

[2015-08-18 15:24] Wafflespeanut commented on #7042
Let's close this :)

[2015-08-18 15:31] frewsxcv opened #7266 "Hacker News comments panic"
1. `./mach run -r "https://news.ycombinator.com/"`
2. Click on a random comment thread
 * Optional: cover your eyes because the comments are usually bad
3. Go back to the landing page (press backspace)
4. Repeat steps 2. and 3. a couple times
5. The panic below occurs:

[code]

I can reproduce this very consistently.

I am on commit 014608f60c45574e6a347f39a96aa33b8eab02e1.

[2015-08-18 15:43] wilmoz commented on #7205
@jdm thanks now everything work, put i assumed "new_uninitialized" use "MouseEvent". here the code https://pastebin.mozilla.org/8843070

[2015-08-18 16:10] dzbarsky commented on #7156
@paulrouget Sorry, made a list minute change and didn't bother compiling. It builds now, but you'll probably need to force pull.

[2015-08-18 16:11] gerv commented on #7158
Yes, don't include the "Ubuntu" bit. Copy what stock Firefox does, which is "X11; Linux x86_64" or some related string for 32-bit if you guys support that.

[2015-08-18 17:10] suhr commented on #7259
It was binutils related problem.

[2015-08-18 17:10] #7259 closed

[2015-08-18 17:19] Ms2ger commented on #7205
You'll need to add `UIEvent` as another variant to `UIEventTypeId`, since `UIEvent` can be the most-derived class of an object. There's some documentation at <http://doc.servo.org/script/dom/index.html>, but nothing about the type ids, I'm afraid.

[2015-08-18 17:19] #7065 closed

[2015-08-18 17:20] Ms2ger opened #7268 "`getComputedStyle` should take `Element`, not `HTMLElement`."
Code:
 - `components/script/dom/webidls/Window.webidl` (use the commented-out line, keep the `[NewObject]` annotation)
 - `components/script/dom/window.rs` (update the `GetComputedStyle` implementation)
 - `components/script/dom/cssstyledeclaration.rs` (change the `owner` field to `JS<Element>` and fallout, including removing `PrivateCSSStyleDeclarationHelpers`)

I suspect there's no test yet. You

[2015-08-18 17:50] edunham commented on #7262
GitHub currently [does not support HTTPS for custom domains](https://github.com/isaacs/github/issues/156). The way we [dealt with this for rust-lang.org](https://github.com/rust-lang/rust-www/issues/148#issue-89388168) was to switch the blog over to AWS S3 + CloudFront as a CDN.

I agree that servo.org, blog.servo.org, and doc.servo.org need HTTPS. servoexperiments.com appears to just be a doge he

[2015-08-18 17:58] SimonSapin commented on #6503
This is only a problem if aliasing actually happens. `Arc::get_mut` knows it can’t happen when the reference count is 1.

@pcwalton writes #7237

[2015-08-18 18:13] suhr opened #7269 "Servo shows grey screen instead of the monsterproof page"
Now to reproduce: `% ./mach run --release -e https://monsterproof.verigames.com/`
OS: Linux x86_64

[2015-08-18 18:33] dzbarsky opened #7270 "Use shmem for getImageData/putImageData"
Currently Servo is very slow at these (about 20x slower than FF, after bincode landed).  In particular, using drawImage with a canvas calls both getImageData and putImageData.  I looked into this but it seemed hard because we currently use Spidermonkey to allocate the typed arrays, so we'd need to teach SM to use shmem, or something.

[2015-08-18 19:09] wilmoz commented on #7205
@Ms2ger ready :). Could I make a pull request in the documentation?

[2015-08-18 19:38] #7216 closed

[2015-08-18 19:38] frewsxcv opened #7273 "Implement SupportedPropertyNames methods"
https://github.com/servo/servo/pull/7254 introduces a method on some DOM types called `SupportedPropertyNames` that returns all the ['supported property names'](https://heycam.github.io/webidl/#idl-named-properties) as per their respective interface. That PR only implements `HTMLCollectionMethods::SupportedPropertyNames` (I didn't have enough time to complete the rest). The other ones need to be i

[2015-08-18 19:39] mrobinson commented on #4683
@SimonSapin Do you still see this? The way we are kicking off GPU rasterization has changed and I'm curious if it fixed this issue.

[2015-08-18 19:42] mrobinson commented on #1538
@larsbergstrom Can this issue be closed now?

[2015-08-18 19:46] #1538 closed

[2015-08-18 21:53] SimonSapin commented on #4683
I don’t see *that* anymore, but:

[code]

And here is `/tmp/servo-reftest-000196-0.png`, picked semi-randomly among test failures:

![servo-reftest-000196-0](https://cloud.githubusercontent.com/assets/291359/9343765/3efb36c2-4604-11e5-9140-d1a7dc3b0a0f.png)

[2015-08-18 22:06] SimonSapin commented on #4683
I’m on Archlinux x86_64 with "Intel Broadwell-U Integrated Graphics".

[2015-08-19 01:26] frewsxcv opened #7278 "Need access to JSITER constants"
I'm working on https://github.com/servo/servo/pull/7254 and am utilizing [this function](http://doc.servo.org/js/jsapi/fn.GetPropertyKeys.html). I need access to the constants below for the `flags` parameter:

http://mxr.mozilla.org/mozilla-central/source/js/src/jsfriendapi.h#945

[code]

I'm not too familiar with the inner workings of this repo. How would one go about adding these?

[2015-08-19 01:38] frewsxcv commented on #7278
Oh sorry. This was supposed to go in rust-mozjs

[2015-08-19 01:38] #7278 closed

[2015-08-19 03:29] frewsxcv commented on #2909
Should this be moved to rust-url?

[2015-08-19 03:31] frewsxcv commented on #3988
Is this still an issue / can this be closed?

[2015-08-19 03:41] frewsxcv commented on #7262
FWIW, [my website](https://rwell.org) is [hosted on GitHub pages](https://github.com/frewsxcv/rwell.org/) and has HTTPS enabled via [CloudFlare](https://www.cloudflare.com/). I just had to update by domain DNS settings to point to CloudFlare's DNS servers. I followed a tutorial [similar to this one](https://www.benburwell.com/posts/configuring-cloudflare-universal-ssl/).

[2015-08-19 03:52] frewsxcv commented on #7262
To clarify: that comment wasn't meant to show-off my setup nor undermine the previous work done to get HTTPS available on rust-lang.org. I just wanted to share another option that's available. Thanks for all the great work @edunham

[2015-08-19 05:30] saneyuki commented on #7042
Fixed by #7219

[2015-08-19 05:30] #7042 closed

[2015-08-19 07:28] paulrouget opened #7281 "Using `overflow:auto` changes the stacking order"
[code]

With `overflow:auto`, the red div is on top of the green div.

<img width="656" alt="screen shot 2015-08-19 at 09 28 00" src="https://cloud.githubusercontent.com/assets/373579/9350877/a34766c8-4654-11e5-9cd9-cc6515a61c5f.png">

[2015-08-19 07:49] SimonSapin commented on #2909
The corresponding code is currently in `components/net/data_loader.rs` in this repository, not in rust-url. I might move that code to rust-url once all the details are figured out and I’m confident to tell the world "this is how you do it" (i.e. when this issue can be closed) but in the mean time I’m not planning to.

[2015-08-19 07:56] paulrouget opened #7282 "iframe content not painted at the right coordinates if the iframe forms a stacking context"
`iframe` + `absolute:position` + `z-index`: iframe content is painted as if iframe's coordinates were `top:0;left:0`.

[code]

<img width="912" alt="screen shot 2015-08-19 at 09 53 54" src="https://cloud.githubusercontent.com/assets/373579/9351308/8b8eedd6-4658-11e5-9a47-7cc74dc9adb1.png">

[2015-08-19 08:14] paulrouget commented on #7156
@dzbarsky It looks to work pretty well. What would it take to land that?

[2015-08-19 08:14] #7169 closed

[2015-08-19 08:15] SimonSapin commented on #7156
#7185 is in my review queue

[2015-08-19 08:47] #7077 closed

[2015-08-19 13:36] Ms2ger commented on #7205
That would be great, yes. Probably in `components/script/dom/mod.rs`?

[2015-08-19 13:36] #7205 closed

[2015-08-19 15:08] notriddle commented on #7266
Can I take this one?

[2015-08-19 15:10] frewsxcv commented on #7266
I'm not working on it. It's all yours!

[2015-08-19 16:42] edunham commented on #7262
@frewsxcv Thanks for the feedback! CloudFlare definitely meets the stated requirements for this issue, but managing permissions (at least myself, @metajack, and @larsbergstrom need access to Servo's infrastructure) looks like a bit of a mess.

[Multi-user organizations](https://support.cloudflare.com/hc/en-us/articles/205065067-How-to-set-up-Multi-User-organizations-on-CloudFlare) are only availab

[2015-08-19 16:42] dzbarsky opened #7284 "Interpolation of Calc values is broken"
In components/style/animation.rs, we have code for interpolating lengths.

The Interpolate impl for LengthOrPercentage and LengthOrPercentageOrAuto (and possibly others, wherever Calc is an enum option) should handle LengthOrPercentage::Calc by interpolating the absolute component and the percentage and then combining them.

E-easy? Happy to mentor.

[2015-08-19 16:59] dzbarsky commented on #7284
(This will be an issue after #7185 lands)

[2015-08-19 17:34] pcwalton commented on #7282
I wonder if this is what's breaking eBay as well!

[2015-08-19 18:09] mbrubeck commented on #3988
This is fixed since we stopped using libgreen.

[2015-08-19 18:09] #3988 closed

[2015-08-19 18:22] frewsxcv commented on #7266
Here's a recording of demonstrating this bug:

![](https://cloud.githubusercontent.com/assets/416575/9365087/9b52acb0-467d-11e5-819b-57b4fb274ece.gif)

[2015-08-19 18:24] g-k commented on #7268
OK if I pick this up?

[2015-08-19 18:26] pcwalton commented on #7266
cc @mrobinson. This is a dupe of the other issue I filed here

[2015-08-19 18:28] farodin91 opened #7286 "Layout: After resizing Servo clipping during rendering a new site"
Reproduce:
- Open Servo mit http://github.com
- Maximize Servo
- click on a Link

[2015-08-19 18:29] frewsxcv commented on #7266
Duplicate of #6952

[2015-08-19 18:29] #7266 closed

[2015-08-19 18:29] frewsxcv commented on #6952
More info and a concrete example (with GIF) can be found info #7266

[2015-08-19 18:54] pcwalton commented on #7282
Also reproduces with `transform: translateX(0px)` instead of `z-index`, indicating that it's related to forming stacking contexts.

[2015-08-19 19:09] notriddle commented on #7284
I'd be happy to take this one.

[2015-08-19 20:07] #7282 closed

[2015-08-19 20:35] frewsxcv commented on #7268
Marking as assigned. @mdibaiee is working on this

[2015-08-19 20:38] mrobinson commented on #6952
Looks like the issue is that the destination IOSurface of an upload is invalid. During the io-surface-rs upload method, ```IOSurfaceGetBaseAddress``` is returning null.

[2015-08-19 20:55] skade commented on #5917
For me, this was a python installation through ports that was accidentally picked up by the system python installation.

[2015-08-19 21:42] pcwalton commented on #7281
This is because we don't use the `LAYERS_NEEDED_FOR_POSITIONED_DESCENDANTS` infrastructure in enough cases. I have what I believe to be a fix ready.

[2015-08-19 21:43] pcwalton commented on #7166
Yeah, this is because we're too layer-happy with our `LAYERS_NEEDED_FOR_POSITIONED_DESCENDANTS` infrastructure. See #2006

[2015-08-19 23:31] pcwalton commented on #7166
I have a fix for this that I'm testing now.

[2015-08-19 23:32] dzbarsky commented on #7284
Great, I'll let you know when that PR lands.

[2015-08-19 23:45] dzbarsky opened #7290 "Support calc for Angle expressions"
I'll take this, just filing it so I don't forget.

[2015-08-20 00:34] bluss commented on #5286
I'd avoid slice_patterns since it has so many open memory safety bugs.

[2015-08-20 01:08] #7166 closed

[2015-08-20 08:09] SimonSapin opened #7293 "'position: fixed' vs 'overflow: scroll'"
http://smfr.org/misc/css/stacking/css-escher.html (reproduced below) renders with a few issues:
- [ ] The black-border element’s contents should scroll, because of `overflow-y: scroll`. They don’t at least on Linux.
- [ ] When scrolling the main document, the green element should not move on the screen with the rest of the content, because of `position: fixed`.
- [ ] The green element should not c

[2015-08-20 09:46] drbluetongue opened #7295 "forums.mozillazine.org doesn't render properly"
Hiya,

I was told that this is the place to log bugs for servo, and that logging bugs like this can help you out?

Anyway, if you look at this screenshot you'll see what I mean:
http://i.imgur.com/28SL32E.png

It's a simple phpbb forum.

Thanks!

[2015-08-20 11:15] Ms2ger opened #7296 "`requestAnimationFrame` doesn't seem to work headless."
CC @pcwalton

[2015-08-20 11:51] #7115 closed

[2015-08-20 13:33] catchmrbharath commented on #6739
I would like to have a go on this.

[2015-08-20 13:43] SimonSapin commented on #7223
Relevant spec: https://drafts.csswg.org/css-backgrounds/#layering

[2015-08-20 13:44] #7194 closed

[2015-08-20 14:17] #7112 closed

[2015-08-20 14:52] Wafflespeanut commented on #6924
#7238 closes this.

[2015-08-20 15:14] #6924 closed

[2015-08-20 15:52] drbluetongue commented on #7295
For future reference, what does I-wrong mean?

[2015-08-20 15:55] Ms2ger commented on #7295
"Servo is wrong in a feature it implements", as opposed to "Servo doesn't implement this feature" or "Servo crashes"

[2015-08-20 16:25] pcwalton commented on #7295
I see 3 major bugs here: (1) the mozillazine logo is in the wrong place; (2) min-widths for the topic/post counts are too narrow; (3) the `<br>` element doesn't seem to be taking effect.

[2015-08-20 16:34] #2215 closed

[2015-08-20 16:34] #6390 closed

[2015-08-20 19:37] benschulz commented on #5331
If this is still of interest, I'd take it.

[2015-08-20 19:44] FreeFull opened #7298 "Links for results don't show up when searching Google"
![servo bug](https://cloud.githubusercontent.com/assets/1496908/9393799/263f52ca-477c-11e5-9143-36a6ce4ae03b.png)

[2015-08-20 21:02] pcwalton opened #7300 "Bloomberg.com locks out Servo due to UA sniffing"
Going to http://www.bloomberg.com/news/articles/2015-08-20/twitter-falls-below-ipo-price-as-concerns-mount-over-ceo-growth displays a message that Servo is an "out of date browser".

[2015-08-20 22:11] tgkokk opened #7301 "Google logo floats left in non-US Google"
For example, [Google UK](https://www.google.co.uk):

![screen shot 2015-08-21 at 01 07 04](https://cloud.githubusercontent.com/assets/801854/9396952/0a1c3f8e-47a1-11e5-8336-252193390ddc.png)

[2015-08-21 08:08] paulrouget opened #7303 "Building Servo on osx 10.11 requires to manually set export OPENSSL_INCLUDE_DIR"
When I build servo on osx 10.11, I need to set  `OPENSSL_INCLUDE_DIR`:

[code]

Otherwise, I get this error:

[code]

[2015-08-21 09:04] paulrouget opened #7304 "flexbox model: render this test case properly"
Test case: https://gist.github.com/paulrouget/14c8f3b9072d43cdff2d

This test case is representative of the flex layout used in browser.html.

Crashers:
- [x] https://github.com/servo/servo/issues/7316
- [ ] https://github.com/servo/servo/issues/7317

[2015-08-21 14:04] frewsxcv commented on #7211
For the sake of cross-linking, #7221 is the Android profiling issue

[2015-08-21 15:20] frewsxcv commented on #7303
Related issue upstream: https://github.com/sfackler/rust-openssl/issues/255

[2015-08-21 15:30] SimonSapin opened #7306 "Require whitespace around + and - in calc()"
https://drafts.csswg.org/css-values/#calc-syntax

#7185 does not do this yet, but this can be a later follow-up.

CC @dzbarsky

[2015-08-21 16:38] frewsxcv commented on #6333
This is no longer the case. It only takes a couple seconds now for me.

[2015-08-21 16:38] #6333 closed

[2015-08-21 17:35] frewsxcv commented on #7300
Discourse does as well

![screen shot 2015-08-21 at 1 34 45 pm](https://cloud.githubusercontent.com/assets/416575/9414841/78129d18-4809-11e5-9e70-a65de6586eda.png)