[2016-01-16 00:11] frewsxcv opened #9338 "Utilize built in f32 min function instead of custom implementation"
Replace

https://github.com/servo/servo/blob/dba1f27305c5e81eda6acd4c438a2adfb6ed053d/components/layout/display_list_builder.rs#L1931-L1937

with

https://doc.rust-lang.org/std/primitive.f32.html#method.min

[2016-01-16 03:56] KiChjang commented on #9303
![reftest](https://cloud.githubusercontent.com/assets/3248587/12370325/1d433d66-bbdb-11e5-9286-fab58b61b8d3.png)

[2016-01-16 04:03] Manishearth commented on #9320
@jdm we should still not be getting a double free on unwinding though, right?

(havent looked closely at the situation yet -- I have a build but my laptop isn't with me right now)

[2016-01-16 04:06] KiChjang commented on #9303
![reftest](https://cloud.githubusercontent.com/assets/3248587/12370376/8f85b7f4-bbdc-11e5-8821-28efec028c19.png)

[2016-01-16 05:18] jdm commented on #9320
There's no double free occurring.

[2016-01-16 05:29] frewsxcv commented on #5837
test/ref is now gone and I don't see duplicate logos in the codebase

[2016-01-16 05:29] #5837 closed

[2016-01-16 13:18] KiChjang commented on #9286
#9340 disables the test for now.

[2016-01-16 15:22] #9250 closed

[2016-01-16 15:42] askalski commented on #8756
I feel I can get assigned to this, after writing tests to 9185

[2016-01-16 16:17] Wafflespeanut opened #9342 "Remove multiple unused imports in gfx"
Apparently, there are some warnings regarding unused imports in some modules in the `gfx` crate (which will be revealed during the build). We should remove them...

Code: `components/gfx/*.rs`

[2016-01-16 17:09] Wafflespeanut opened #9343 "Remove the unused imports in devtools"
There are multiple unused imports in some of the modules in the `devtools` crate, which pop up during the builds. We should remove them.

Code: `components/devtools/*.rs`

[2016-01-16 17:51] #9332 closed

[2016-01-16 18:49] nerith commented on #9342
I'd like to take this.

[2016-01-16 19:01] Wafflespeanut commented on #7996
(unassigned based on inactivity)

[2016-01-16 19:04] frewsxcv commented on #7996
To the next person who tries their hand at completing this issue, here is a previous attempt: https://github.com/servo/servo/pull/8006

[2016-01-16 19:18] Wafflespeanut commented on #8391
Unassigning this on inactivity

[2016-01-16 19:46] Wafflespeanut opened #9345 "Remove the unused imports in script"
There are 9 unused imports in various modules of the `script` crate. We should exterminate those...

Code: `components/script/*.rs`

[2016-01-16 20:15] frewsxcv commented on #8391
To the next person who tries their hand at completing this issue, here is a previous attempt: https://github.com/servo/servo/pull/8422

[2016-01-16 22:00] fstr commented on #9343
I'd like to do this

[2016-01-16 22:57] frewsxcv commented on #9343
Go for it!

[2016-01-16 23:22] askalski commented on #8351
OK, and suppose I write this: how to warn CI for such occurence? Write something to stderr? Is there some warn! macro? Or make some sub-program exit with nonzero code?

[2016-01-17 04:08] Wafflespeanut opened #9346 "Remove unused imports in layout"
There are unused imports in some of the modules living inside `components/layout`. We should remove them...

[2016-01-17 05:38] Wafflespeanut opened #9347 "Change some of the private types to public"
There are a few public methods in `components/compositing/compositor.rs`, `components/gfx/platform/freetype/font_context.rs` and `components/devtools` which return a private type, and so they show warnings during the build. We should make such types public.

[2016-01-17 05:46] Manishearth commented on #8756
Cool, let me, jdm, or Wafflespeanut know if you need help!

[2016-01-17 05:47] jdm commented on #8351
The last one, and then add it to the buildbot config in servo/saltfs.

[2016-01-17 05:56] therealkbhat commented on #9345
I'd like to work on this.

[2016-01-17 05:57] Wafflespeanut commented on #9345
Great!

[2016-01-17 07:14] therealkbhat commented on #9346
I'll clean this up.

[2016-01-17 07:17] mattkuo commented on #9347
I'd like to take a shot at this

[2016-01-17 07:19] Wafflespeanut commented on #9347
Go ahead!

[2016-01-17 07:43] Wafflespeanut commented on #9346
Cool!

[2016-01-17 12:31] mattkuo commented on #9347
By the way, `components/gfx/platform/freetype/font_context.rs` did not generate any warnings for me. Let me know if you are still getting warnings from that file.

[2016-01-17 12:46] ecoal95 commented on #9053
This should be no longer blocked

[2016-01-17 13:16] mattkuo commented on #8391
I'd like to try to tackle this one

[2016-01-17 13:17] Wafflespeanut commented on #8391
Okay! :)

[2016-01-17 13:28] #5439 closed

[2016-01-17 17:00] #9342 closed

[2016-01-17 17:18] craftytrickster commented on #9307
Some observations:

The setting of the styles appears to occur in the `servo/components/script/dom/element.rs` file.

The initial setting of the width `<div style="width:10px">` appears to occur in the `set_attribute_from_parser` method, and the second setting `div.style.backgroundColor = "red";` appears to occur in the `update_inline_style` method.

[2016-01-17 17:18] Ms2ger commented on #8391
https://html.spec.whatwg.org/multipage/#execute-the-script-block

This is specified pretty poorly though. I'd like to see some tests and their results in various browsers, and a spec bug.

Cc @Domenic

[2016-01-17 17:28] domenic commented on #8391
This is specified much better in the rewrite: https://dl.dropboxusercontent.com/u/20140634/script-type-module/index.html#fetch-a-classic-script step 5. (Asynchronously completing that algorithm with null will eventually go to https://dl.dropboxusercontent.com/u/20140634/script-type-module/index.html#execute-the-script-block step 2, firing an error event on the script element.) But I admit I didn't

[2016-01-17 18:00] KiChjang commented on #8925
This requires a semi-complete implementation of Fetch, which we currently don't yet.

[2016-01-17 18:21] craftytrickster commented on #9307
On the **element** struct, why is there `style_attribute` field in addition to the `attrs` field? Is a `style_attribute` not just a type of attr?

I am not sure if this is "robust", but could this be solved by adding a check in the  `get_attribute_by_name` method, by making a special check for name === style, and then appending the inline style attributes to the result as well?

[2016-01-17 18:28] Ms2ger commented on #8391
That means we're checking for https://fetch.spec.whatwg.org/#ok-status ; thanks for the response!

[2016-01-17 19:06] #9346 closed

[2016-01-17 19:52] #9345 closed

[2016-01-17 20:28] Ms2ger commented on #9307
I think we'll probably want to update the string any time the style is changed.

[2016-01-17 20:52] jsanders opened #9356 "Document the need to fix up virtualenv after upgrading Python"
I was unable to build servo after upgrading my version of Python using homebrew. This was the error:

[code]

([full output](https://gist.github.com/jsanders/8e443f4c0b83b80d276e))

After going down a couple rabbit holes, the solution that worked for me was to delete servo's `python/_virtualenv` directory. This wasn't very obvious, so I think it would make sense to document it somewhere. I started

[2016-01-17 22:09] jsanders commented on #9053
Just came across this while updating test expectations for my work on #7860, which fixes some stuff that was hiding failures caused by this issue. Can I grab this one as well, since I have spec'd out some changes for it in order to fix my test?

[2016-01-17 22:10] nox commented on #9053
@jsanders Sure!

[2016-01-17 22:13] KiChjang opened #9357 "Add tests for exercising XHR.send(data) method"
New tests should live under `tests/wpt/mozilla/tests/mozilla`. We'll need to feed in the `.send()` method with different types of data that we currently support, namely `USVString`s, `URLSearchParams` and `Blob`s.

Spec: https://xhr.spec.whatwg.org/#the-send%28%29-method

[2016-01-17 22:39] Jayflux commented on #9256
@jdm  i have started writing, i will put up a first draft later

[2016-01-17 22:50] #9347 closed

[2016-01-17 23:15] Jayflux commented on #9256
@jdm https://github.com/Jayflux/servo/blob/dependenciesReporter/python/dependency_checker.py
first draft here for you to try

However, i am having some trouble.. the toml python module fails to parse half of the cargo.toml files, so im unable to check them all.
Is this a problem with the files or the toml library?
My editor also shows some highlighting on the inline tables (where the toml library

[2016-01-18 00:05] jsanders commented on #7860
@jdm: Just pushed #9358, with all the changes for this.

[2016-01-18 01:24] #9291 closed

[2016-01-18 01:58] ckimes89 commented on #9053
@jsanders If you've already written/writing code for this then go for it, but I've got a commit ready that was waiting for #9304 to merge. In hindsight, I should have asked for this to be assigned.

[2016-01-18 02:31] jsanders commented on #9053
@ckimes89: D'oh, just pushed #9360. Looks like a pretty similar solution. I'm not fussed either way.

[2016-01-18 02:44] ckimes89 commented on #9053
@jsanders All yours, I should've spoken up earlier.

[2016-01-18 03:22] paulrouget commented on #9326
This is not webrender specific afaik.

The UI moving with the iframe is a set of bugs. See the "scrolling the page scrolls the UI" bugs in https://github.com/mozilla/browser.html/issues/562.

- servo/servo#9306
- servo/servo#9308
- servo/servo#9309

There is one more I haven't identified yet.

You can close this issue.

[2016-01-18 03:24] Wafflespeanut opened #9361 "Remove the last few unused imports"
There's one unused import in:

- `components/canvas/webgl_paint_thread.rs`
- `components/msg/constellation_msg.rs`
- `components/net/storage_thread.rs`

We should remove them all...

[2016-01-18 03:52] #9326 closed

[2016-01-18 04:29] glennw commented on #9306
I can reproduce this bug with the following smaller code:

[code]

I *think* the problem is that negative margins are accumulated into the overflow rectangle, which is then used to determine whether a region is scrollable or not. I think Patrick mentioned something a while ago about Gecko having separate concepts for visual overflow vs. scrollable overflow - would that be relevant here? @pcwalton

[2016-01-18 04:37] mattkuo commented on #9361
I'd like to do this

[2016-01-18 04:39] frewsxcv commented on #9361
It's all yours!

[2016-01-18 05:02] paulrouget commented on #9322
/cc @bgrins

[2016-01-18 05:29] frewsxcv commented on #8608
One more after https://github.com/servo/servo/issues/9364, objc-foundation. Just waiting for an answer for https://github.com/rust-lang/cargo/issues/2293

[2016-01-18 06:24] #9361 closed

[2016-01-18 09:23] past commented on #9322
The Firefox console uses the Debugger API and the Remote Debugging Protocol actors to transfer information about JS objects. Take a look at the console API, the console actor and the client-side rendering for instance:

https://dxr.mozilla.org/mozilla-central/rev/0a4331e7d7ba21c3a54d9f17fb6ed1f42b7c29ec/dom/base/Console.cpp#1181
https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors

[2016-01-18 09:55] Wafflespeanut commented on #9343
Closed by #9351

[2016-01-18 09:55] #9343 closed

[2016-01-18 10:07] paulrouget commented on #9322
Relevant: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/console-output.js#1173

[2016-01-18 10:48] stspyder commented on #8397
Is someone working on this? If no, can I pick this up?

[2016-01-18 12:25] MonsieurLanza commented on #9216
The details element should hide non "first-child <summary>" children.

I was wondering how this is supposed to be implemented, and if it is in the scope of the issue ?
My understanding is that could be done in user-agent.css, as this would allow overriding by a user stylesheet. Not sure what to do about this.

Also, user agent should provide a way to toggle the details element, but this is a desig

[2016-01-18 13:31] jdm commented on #9357
There's a bunch of test coverage already:
tests/wpt/web-platform-tests/XMLHttpRequest/send-data-(arraybuffer|blob|es-object|formdata|unexected-string).htm
What in particular are we looking to expand here?

[2016-01-18 13:54] jdm commented on #9216
Yes, we should file a separate issue about exposing a UI for `<details>`. As for hiding the children, doing that via CSS makes sense to me.

[2016-01-18 14:01] jdm commented on #9322
Yeah, we have zero support for the debugging API at the moment.

[2016-01-18 14:02] jdm commented on #8397
Looks like #9360 has already been submitted for this. Sorry!

[2016-01-18 14:07] samgiles opened #9370 "Implement the Shadow DOM"
Implement the Shadow DOM specification in Servo

https://w3c.github.io/webcomponents/spec/shadow/

[2016-01-18 14:07] jdm opened #9371 "Catch segfaults on builders and report backtraces with symbols"
Firefox does this, but I'm not certain what it entails. Maybe it's via the breakpad signal handler that writes out minidumps and then the test harness reads that? Our debugging info with RUST_BACKTRACE=1 is great, but we have zero visibility into actual crashes.

cc @metajack @larsbergstrom

[2016-01-18 14:09] samgiles opened #9372 "Implement Custom Elements"
Implement Custom Elements in Servo

https://w3c.github.io/webcomponents/spec/custom/

Related to #9370

[2016-01-18 14:09] jdm commented on #9372
I don't believe Firefox intends to ship Custom Elements, so I'm not convinced that we should either.

[2016-01-18 14:10] jdm commented on #9372
Oh wait, I might be confusing it for HTML Imports.

[2016-01-18 14:11] samgiles commented on #9372
Yeh, I'm pretty sure Custom Elements are already in Gecko behind a pref - HTML imports is an entirely different matter :).

[2016-01-18 14:20] KiChjang commented on #9357
It's to test data we feed into the `send()` method, particularly the ones that fit into `BodyInit`.

[2016-01-18 14:24] jdm opened #9373 "Unnecessary use of IpcSender/IpcReceiver in FontCacheThread::exit"
While investigating https://github.com/servo/ipc-channel/issues/29 I realized that the existing code is inefficient. We can use a regular std::sync::mpsc channel instead of the equivalent from ipc-channel, since both the Constellation and FontCacheThread code run in the same process.

Code: `components/gfx/font_cache_thread.rs`, in the `exit` function

[2016-01-18 14:29] Syrcon commented on #3847
I'll try to implement this as my master's thesis.

As @jdm said, there is some timeline needed.
So the main period of work is February - April 2016.

[2016-01-18 14:40] KiChjang commented on #8397
@jdm #9360 doesn't seem to be touching anything about the Blob, did you mean to link to another issue instead?

[2016-01-18 14:46] jdm commented on #8397
Oops! Go for it, @stspyder!

[2016-01-18 14:47] stspyder commented on #8397
Great!!

[2016-01-18 14:55] jdm commented on #9357
I believe the blob test that already exists fails because it also relies on support for the blob response type.

[2016-01-18 14:58] KiChjang commented on #9357
In that case, let's close this issue since it's not applicable anymore.

[2016-01-18 15:00] KiChjang opened #9374 "Intermittent crash of /html/rendering/replaced-elements/svg-embedded-sizing/svg-in-iframe-auto.html"
[code]

[2016-01-18 15:01] larsbergstrom commented on #9238
Sounds good; I just did something one-off in a branch for the paper we're working on.

I do think that long-term it would be nice to separate out the commandline argument as something for headless / automated profiling runs vs. having the devtools or automation-based sampling APIs that would enable the live testing/profiling scenarios mentioned.

[2016-01-18 15:01] #9238 closed

[2016-01-18 15:02] jdm commented on #9374
I suspect https://github.com/servo/ipc-channel/issues/29.

[2016-01-18 15:05] therealkbhat commented on #9373
Can I try my hand at this?

Disclaimer: I might need to ping you if I don't get something at first; I'm new to Rust/Servo. :)

[2016-01-18 15:11] KiChjang commented on #9373
Sure thing! Come to #servo on `irc.mozilla.org` and ask your questions there, someone would definitely be in touch with you soon!

[2016-01-18 15:17] Ms2ger commented on #9372
Either way, it's not quite clear to me whether we should accept a PR for this if we got one.

[2016-01-18 15:17] Ms2ger commented on #9371
CC @luser

[2016-01-18 15:20] Ms2ger commented on #9357
Even if so, we don't have CI coverage.

[2016-01-18 15:24] jdm commented on #9357
I propose we duplicate the tests listed above into `tests/wpt/mozilla/tests/mozilla/` and modify them to not set the responseType property, then compare the resulting response against a string.

[2016-01-18 15:24] samgiles commented on #9372
Is the feeling that Servo should only implement recommended/non-draft specs?

[2016-01-18 15:43] Ms2ger commented on #9372
Only specs where there's rough consensus among browser vendors that the spec is going in the right direction.

[2016-01-18 15:46] Ms2ger commented on #8969
WIP: https://github.com/servo/servo/compare/wpt-lint?expand=1

[2016-01-18 15:47] Ms2ger commented on #9374
#8815 ?

[2016-01-18 15:56] #9338 closed

[2016-01-18 16:00] jdm commented on #8815
These might be caused by https://github.com/servo/ipc-channel/issues/29.

[2016-01-18 21:30] #9053 closed

[2016-01-18 22:59] luser commented on #9371
Yes, we use Breakpad to write minidumps, and test harnesses look for minidumps and print out stacks using the mozcrash module + a minidump_stackwalk binary.

This is what the harness bit of that looks like in Mochitest:
https://dxr.mozilla.org/mozilla-central/rev/8cb42e7a16b42162c9930f37b9e1f820c2eb126b/testing/mochitest/runtests.py#2019

[2016-01-19 00:13] Jayflux commented on #9256
@jdm  So this could be harder than it looks.
I have it all working, however some dependancies are not loaded in via the 'use' statement and are instead just used directly within rust code.

So checking extern crate against whats actually being used may be a little harder.

I have carg.toml being checked against 'extern crate' and 'plugin' working however..

[2016-01-19 00:14] craftytrickster commented on #9307
I have noticed further incorrect results with the implementation of `console.log(div.getAttribute("style"));`.

If you change the original code to include the background declaration twice.
[code]
In Firefox it will print out the width with only one instance of width. However, in servo, it will actually print out `width:100px; width: 100px;` for the console.log style.

I suspect that this is due to

[2016-01-19 04:05] paulrouget opened #9377 "Resetting style property via elt.style.xxx doesn't work"
Here is an example. The `div` should turn transparent. It doesn't.

[code]

[2016-01-19 04:05] paulrouget commented on #9377
This breaks react and virtual-dom based libraries.

[2016-01-19 05:36] paulrouget commented on #9377
Calling `document.content_changed(node, NodeDamage::NodeStyleDamaged)` in cssstyledeclaration.rs#RemoveProperty appears to fix this issue. I'll submit a PR.

[2016-01-19 08:38] Ms2ger commented on #8879
The issue seems to have been fixed by not sharing a `cargo-home-dir` between debug and non-debug builds.

[2016-01-19 08:38] #8879 closed

[2016-01-19 10:53] nox commented on #9307
I'm 99% sure the spec requires the actual attribute value to be preserved when getting it, with duplicate entries and whatnot.

[2016-01-19 11:46] Ms2ger commented on #9373
Not quite clear this is possible:
[code]

[2016-01-19 14:43] jdm commented on #9256
@Jayflux do you have an example of what you're describing?

[2016-01-19 14:56] paulrouget commented on #9307
Servo just doesn't update the attribute. Ever. So it just doesn't change the original string.
Firefox applies the property, and pretty print it as `width: 100px`.

[2016-01-19 14:58] paulrouget commented on #9307
This is needed to fix #9377. @craftytrickster, are you planning to work on a PR?

[2016-01-19 15:01] nox commented on #9307
I think you are wrong.

[code]

[2016-01-19 15:05] nox commented on #9307
Oh, I just now understood thanks to @paulrouget that you were still referring to the original snippet where we change properties on CSSStyleDeclaration. Never mind me.

The method `set_attribute_from_parser` is still irrelevant to the problem we have here, though.

[2016-01-19 15:11] craftytrickster commented on #9307
I would like to work on a PR, maybe tonight if I have some time. I am not sure what the correct thing to do here is, my initial guess would be to edit the update_inline_style method, perhaps converting the PropertyDeclaration field to an Attr, and then do something like `self.attrs.push(convertedPropertyDeclaration)`. As mentioned in my example above where I commented out code, the self.attrs seem

[2016-01-19 15:28] dbrgn commented on #9256
I think @Jayflux means something like this:

[code]

vs

[code]

[2016-01-19 15:43] jdm commented on #9256
Ah, that's a good point. I guess we can scan the files for `use foo;` and `foo::` for each `extern crate foo;` that is encountered.

[2016-01-19 15:44] Jayflux commented on #9256
@jdm I was thinking the same, i will give it a try this evening.
This ticket is also dependant the on this PR to TOML

[2016-01-19 15:51] dbrgn commented on #9256
@jdm that won't do either, this works too:

main.rs

[code]

sub.rs

[code]

As well as this one (a bit less realistic):

[code]

[2016-01-19 15:53] nox commented on #9307
@craftytrickster Of course self.attrs is what drives the result of getAttribute. The attribute should be appropriately updated when the corresponding CSSStyleDeclaration value is changed, as the spec mandates.

[2016-01-19 15:55] nox commented on #9307
https://drafts.csswg.org/cssom/#the-elementcssinlinestyle-interface

[2016-01-19 15:57] craftytrickster commented on #9307
@nox Thanks for the information.

[2016-01-19 16:23] jdm commented on #9256
The commented one doesn't bother me, and I think the others are addressed by looking for "foo::" and not caring about false positives generated by "prefixedfoo::".

[2016-01-19 17:00] #7860 closed

[2016-01-19 17:44] paulrouget commented on #9306
@glennw do you think this is related to #9308 and #9309?

[2016-01-19 18:55] gordonbrander opened #9382 "Add support for mozbrowserconnected"
cc @paulrouget

Filing this for reference. It's not a high-priority problem for us at the moment, but in order to support an accurate progress bar in Browser.html, we'll need to add the `MozBrowserLoadProgressChange` event to Servo. This event is part of the [MozBrowser](https://developer.mozilla.org/en-US/docs/Web/API/Using_the_Browser_API) API.

Edit: we want to support `mozbrowserconnected`. Se

[2016-01-19 20:32] peterjoel commented on #1716
I would propose splitting this into two issues:

# Dealing with decoding the fragid (e.g. percent-decoding)
# Scrolling to the precise location.

The second item is (in my opinion) blocked on this whatwg issue: https://github.com/whatwg/html/issues/94

While there is a [merged PR](https://github.com/w3c/csswg-drafts/pull/81) for this, it is not completed, and doesn't cover the case of scrolling to

[2016-01-19 21:36] jdm commented on #1716
Splitting sounds fine to me.

[2016-01-19 22:04] bgrins commented on #9322
There's also a simple log/stringification function used by Console.jsm here which is passed into dump(): https://dxr.mozilla.org/mozilla-central/source/toolkit/modules/Console.jsm#180

[2016-01-19 22:04] jdm commented on #9373
I apologize for proposing an impossible change (at least without @ecoal95's experiment). The proper way to solve this would be to split the Command enum into two, and use `mspc::Sender/Receiver<InProcessCommand>` for the ones that do not need to be sent cross-process. This in turn requires changing the event loop for FontCacheThread to select over both in-process and out-of-process channels simult

[2016-01-19 22:04] #9373 closed

[2016-01-19 22:05] jdm commented on #9322
Ick, that's going to be really awful to translate into JSAPI calls.

[2016-01-20 01:00] jsanders commented on #6060
@Chandler: FYI, a dump of all the current failures (not including what you fixed in #9367): https://gist.github.com/jsanders/4a348d15aa27067d2b02

[2016-01-20 02:14] craftytrickster commented on #9307
Sorry if I am taking a while on this, I'm still unfamiliar with a lot of this code. I wanted to know if the below approach to setting the attrs from the `update_inline_style` is marginally correct:

[code]

If it is correct, I have been stuck trying to figure out how to get the old value of the existing style object. Even if I do get it, is it really the right thing to do to use AttrValue::String,

[2016-01-20 08:50] nox commented on #9307
I'm not sure I understand what you want to append. Just serialise the declarations and set the `style` attribute on the element with the result of the serialisation, no?

[2016-01-20 09:41] paulrouget commented on #7782
Now we are more advanced in browser.html support, this ends up being a problem.

Many animations in browser.html are RAF driven, and having ~700 calls per seconds is really impacting the performance.

[2016-01-20 10:43] mskrzypkows commented on #9152
I'd like to take this one. Where should be new tests added? ```servo/tests/scripts/test_tidy/test_tidy.py``` would be fine?

[2016-01-20 10:57] psdh opened #9384 "Name BodyInit is not preserved"
[`BodyInit`](https://github.com/servo/servo/blob/master/components/script/dom/webidls/XMLHttpRequest.webidl#L17) should be usable as `use dom::bindings::codegen::UnionTypes::BodyInit;`

[2016-01-20 12:31] Wafflespeanut commented on #9152
No, `tests` are specific to Servo itself. Since tidy isn't a part of it, I think it'd be fine to have `python/tidy` where the future script and the tests would reside.

[2016-01-20 12:41] mskrzypkows commented on #9152
OK, so these test will be called manually, not by ./mach test... as other do. Right?

[2016-01-20 12:49] Wafflespeanut commented on #9152
You're right. This is specifically for the CI builder, which (on every change made to tidy) would check its functionality and ensures that it works as expected.

[2016-01-20 14:36] craftytrickster commented on #9307
If I just serialize the declarations and set the style, wouldn't  it wipe out the style created from parsing the initial html?

`set_attribute_from_parser` already sets the style attribute to `width:10px;` before the updating inline style occurs. Therefore, if I just try to set the style attribute within `update_inline_style`, it will clobber the `width: 10px;`, leaving only `background-color: red

[2016-01-20 15:27] paulrouget commented on #9307
Doesn't `update_inline_style` just append styles or update existing value? You won't lose the `width:10px` declaration, right?

I'm not sure, but here is how I would do it: in `remove_inline_style_property`, `update_inline_style` and `set_inline_style_property_priority`, call a function that sync `style_attribute` with the actual style attribute (in `attrs`), and remove the calls to `document.cont

[2016-01-20 15:53] connorimes opened #9387 "SIGILL - Intermittent panic in Constellation panics during panic"
Just trying to open google.com in a release build.  This occurs sometimes, resulting in a SIGILL.  Running recent git rev 6663f28.

<pre>
(gdb) r http://www.google.com
Starting program: /local/servo/target/release/servo http://www.google.com
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffeeb43700 (LWP 19592

[2016-01-20 15:56] jdm commented on #9387
`thread 'Constellation' panicked at 'unable to find pipeline - this is a bug', ../src/libcore/option.rs:298`
That's the one that kicks everything off.

[2016-01-20 15:56] jdm commented on #9387
Breaking on rust_panic and getting the backtrace would help identify the cause.

[2016-01-20 15:59] craftytrickster commented on #9307
I guess my confusion stems from the fact that the inline_style functions have their own separate `self.style_attribute` field which is different from the normal `self.attrs` which also contains its own style attribute instance (being pushed by `set_attribute_from_parser`).

When you say *sync*, I'm assuming that you mean take the value from style_attribute and then use it to modify the instance in

[2016-01-20 16:03] connorimes commented on #9387
<pre>
Breakpoint 1, 0x00005555570e1870 in rust_panic ()
(gdb) bt
#0  0x00005555570e1870 in rust_panic ()
#1  0x00005555570cde43 in sys_common::unwind::begin_unwind_inner::ha417239bcab1f2ff56s ()
#2  0x00005555570ce509 in sys_common::unwind::begin_unwind_fmt::hac4637ed0b5bb49eb6s ()
#3  0x00005555570e1a02 in rust_begin_unwind ()
#4  0x00005555571189b0 in panicking::panic_fmt::he5f9c513e9167673LnK (

[2016-01-20 16:10] psdh opened #9388 "WebIDL.py fails tests"
[code]

[2016-01-20 16:15] Ms2ger commented on #9388
Those tests are probably way older than our version of the idl parser. Updating them to a version that matches the latest version of the idl parser we updated to would probably help.

[2016-01-20 16:28] jdm commented on #9387
Huh. Is this a release build? I'm surprised there are no line numbers, otherwise.

[2016-01-20 16:35] #9216 closed

[2016-01-20 16:48] connorimes commented on #9387
Yes, this is a release build.  My intent was to collect profiling data.  I've not been able to reproduce this in debug after about 20 attempts.  Debug is so slow that perhaps there is a timing/race issue that is only appearing in release builds.

[2016-01-20 17:02] larsbergstrom commented on #9387
I think that if you uncomment https://github.com/servo/servo/blob/master/components/servo/Cargo.toml#L58-L62, you should get line numbers on release, too.

We don't have it on by default because debug info in rust release builds via LLVM has been an ICE-factory, though it might be better now...

[2016-01-20 17:31] connorimes commented on #9387
<pre>
thread 'Constellation' panicked at 'unable to find pipeline - this is a bug', ../src/libcore/option.rs:298
[Switching to Thread 0x7fffd77ff700 (LWP 31788)]

Breakpoint 1, 0x00005555571001d0 in rust_panic ()
(gdb) bt
#0  0x00005555571001d0 in rust_panic ()
#1  0x00005555570ec7a3 in sys_common::unwind::begin_unwind_inner::ha417239bcab1f2ff56s ()
#2  0x00005555570ece69 in sys_common::unwind::be

[2016-01-20 17:38] jdm commented on #9387
Interesting, that's the `SetFinalUrl` message from script. That should handle a missing pipeline gracefully, since it could be an iframe that was removed or something.

[2016-01-20 17:55] connorimes commented on #9387
Are you able to reproduce the problem?  I was just loading http://www.google.com (sometimes it took a handful of tries before it failed).

[2016-01-20 18:05] jdm opened #9389 "LocationChange documentation needs to be escaped"
Search for `LocationChange` on doc.servo.org and you get an entry that is cut off due to the unescaped HTML the documentation contains. We should fix to to use ` to surround the HTML instead.

Code: components/script_traits/lib.rs

[2016-01-20 18:12] jdm commented on #9389
Nevermind; it's already escaped. This looks like a failing of rustdoc :(

[2016-01-20 18:12] #9389 closed

[2016-01-20 18:13] jdm opened #9390 "Report documentation that contains unescaped HTML"
Any Rust documentation in a `/**` or `///` block that contains unescaped HTML (ie. `/// stuff for <iframe>`) will render poorly in the actual documentation. We should ensure that it's escaped (ie.
[code]
) in our automated code checkers.

Code: python/tidy.py

[2016-01-20 18:17] jdm commented on #9387
I haven't tried.

[2016-01-20 18:19] jdm commented on #9389
https://github.com/rust-lang/rust/issues/31059

[2016-01-20 18:23] jdm commented on #9390
Too many existing edge cases to make this worthwhile:
[code]

[2016-01-20 18:23] #9390 closed

[2016-01-20 19:54] frewsxcv commented on #8608
Just need a cargo-up (to pick up https://github.com/rust-lang/cargo/pull/2296#issuecomment-173340274), then we can upgrade the last dependency

[2016-01-20 20:01] larsbergstrom commented on #8608
@frewsxcv You might just be able to yolo-edit the Cargo.lock files.

I've been working on various cargo updates (see #9314 for the most recent) for quite a while now, and there's no end in sight and @alexcrichton also doesn't have any ideas what's going on, so I wouldn't bank on an imminent cargoup.

[2016-01-20 20:03] frewsxcv commented on #8608
If anyone ever does `mach cargo-update` though, I think it will revert to the older version though?

[2016-01-20 20:04] larsbergstrom commented on #8608
Hrm, that's possible! After I get win32 support landed in master, the carogup is next on my list, so hopefully I can find a way to fix whatever's going wrong there soon-ish.

[2016-01-21 00:30] elcritch commented on #9372
+1 for this. I'm considering if servo could be used for embedded devices, but the lack of web-components would be a complete show stopper. I find Mozilla's reluctance toward web-components baffling.

[2016-01-21 03:34] KiChjang commented on #9384
@psdh is working on this.

[2016-01-21 03:36] KiChjang commented on #9178
@iszak any updates on this?

[2016-01-21 03:37] KiChjang commented on #8830
@jackinloadup still working on this issue?

[2016-01-21 04:15] paulrouget commented on #9307
Yes.

[2016-01-21 04:32] vwvww commented on #9280
I started to work on this issue these 2 days(sorry for late) and started my first step with removing FunToStringHook, changing flag funToString have None value. It has to be Some(fun_to_string) which has processed from FunToStringHook, thus now has to be processed from the new function in NonCallbackInterfaceObjectClass.

Am I on the right way?

[2016-01-21 04:36] jdm commented on #9372
It's a combination of lack of resources, a huge specification (in terms of scope and required effort), and one spec that is often not fully thought out. This makes it difficult to actually implement.

[2016-01-21 08:23] paulrouget commented on #7782
It's called 60 FPS.

[2016-01-21 08:38] glennw commented on #7782
I *think* this will be a lot easier to solve with the WR design than the existing layers / painting design - I'll look into once I've cleared out my current bug list.

[2016-01-21 10:15] dati91 opened #9392 "Implement WebBluetooth in Servo"
The WebBluetooth API ( https://webbluetoothcg.github.io/web-bluetooth/ ) is currently missing,
so I started working on it. It is very experimental, but the chromium folks already working on it as well.
The current implementation status of WebBluetooth can be found here: https://github.com/WebBluetoothCG/web-bluetooth/blob/gh-pages/implementation-status.md
( Servo is not listed yet. )

The first bl

[2016-01-21 10:25] Ms2ger commented on #9392
I am not certain we should accept code for this API.

[2016-01-21 13:56] jdm commented on #9392
@Ms2ger Please elaborate.

[2016-01-21 14:33] MonsieurLanza opened #9395 "HTML5 Details element UI"
HTMLDetailsElement interface is here but we have no UI for it.

spec : https://html.spec.whatwg.org/multipage/forms.html#the-details-element

I first thought implement the "show/hide" behavior with CSS but this won't permit to pass the details test on https://html5test.com/ as it relies on hiding a text node, and AFAIK, CSS selectors cannot target text nodes.

Also we have to provide a way to let

[2016-01-21 16:41] psdh opened #9397 "Add a mach command to test WebIDL.py"
We should run [runtests.py](https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/parser/runtests.py).
You could possibly name it `mach test-webidl`

[2016-01-21 16:56] jdm commented on #9397
This would belong in `python/testing_commands.py`.

[2016-01-21 17:15] #9388 closed

[2016-01-21 18:27] elcritch commented on #9372
The lack of resources is a big one, especially for a new project like servo. I just hope to be able to use (*ahem* abuse) servo for embedded devices in the near future. I’ve read the shadow DOM spec’s (its fairly complex), but which point cause the most contention? Various blogs posts point to the lifetimes/lifecycle of custom elements. I ask so I can be aware, also it’s unclear to me, does servo

[2016-01-21 18:30] jdm commented on #9372
@elcritch What do you mean by custom tags? Any unrecognized HTML element turns into an HTMLUnknownElement in the DOM.

[2016-01-21 18:41] elcritch commented on #9372
Oops, technically it’s custom elements (I was thinking of tag names). Exactly, instead of HTMLUknownElement you can register (certain) custom elements [Custom Elements spec](https://www.w3.org/TR/custom-elements/). Custom elements allows building very powerful/descriptive framework directly into HTML elements. E.g. the Mozilla related [a-frame](https://aframe.io/). 

[2016-01-21 18:41] jdm opened #9398 "Integrate BuildTimeTrend into TravisCI"
We have a `.travis.yml`. Let's integrate https://buildtimetrend.herokuapp.com/ so we can track our buildtimes.

[2016-01-21 18:51] jdm commented on #8961
Most recently:
[code]
This is interesting, because `ProfilerChan` is very simple:
[code]
and `ProfilerMsg` is:
[code]
and `Reporter` is:
[code]
and `ReporterRequest` is:
[code]
and `ReportsChan` is:
[code]
and `Report` is:
[code]

[2016-01-21 18:52] jdm commented on #8961
Accordingly, the previous panic is coming from https://github.com/servo/ipc-channel/blob/130335fa2dc0e8d8048a5fae5b7b27991023a3a9/ipc.rs#L156 .

[2016-01-21 18:53] jdm commented on #9372
This is the issue about Custom Elements :)

[2016-01-21 22:00] nxnfufunezn commented on #9397
Taking this...

[2016-01-21 22:44] #9398 closed

[2016-01-21 23:01] iszak commented on #9178
@KiChjang I have made what I think are the correct changes locally, just need to rebase and push and will create a new pull request in the next week.

[2016-01-22 01:48] craftytrickster commented on #9307
I've taken an initial pass (WIP) at this in my branch [here](https://github.com/craftytrickster/servo/commit/2ac7708947da0011fd7c768c2b382237e5243e66), and superficially it seems to work, as it is able to append the style names as expected. However, the else branch of my if statement always causes a panic (reachable if you delete the style attribute in the html directly,
div **style="width:10px"**

[2016-01-22 06:13] glennw commented on #7782
I pushed https://github.com/glennw/servo/commit/be3213e18137cde8351d91ee2cb73ea2ddac5bc9 to the WR servo branch. In my test case, with vsync enabled (which is the default), I am getting rAF callbacks at exactly 60 fps, synced with the presentation interval.

I've also opened a PR to submit this to upstream servo here - https://github.com/servo/servo/pull/9401 - however even once this lands upstrea

[2016-01-22 06:27] KiChjang opened #9402 "Update HTMLFormElement.length to be of type unsigned long"
whatwg/html#510 has changed the type of the `length` attribute in `HTMLFormElement` from `long` to `unsigned long`. We should reflect this change in our code as well.

Code: `components/script/dom/htmlformelement.rs`, `components/script/dom/webidls/HTMLFormElement.webidl`
Spec: https://html.spec.whatwg.org/multipage/forms.html#the-form-element:dom-form-elements

[2016-01-22 08:38] KiChjang opened #9403 "Use .find().map() instead of .filter_map().next() in URLSearchParams::Get"
There really isn't any reason to use `.filter_map().next()` when there is `.find()`

Code: `components/script/dom/urlsearchparams.rs`
Documentation: https://doc.rust-lang.org/nightly/core/iter/trait.Iterator.html#method.find

[2016-01-22 08:53] paulrouget commented on #7782
@glennw on osx, I'm still getting ~500 calls.

[2016-01-22 09:36] glennw commented on #7782
It sounds like maybe vsync isn't working? Is there any way to verify if an application is running with vsync enabled?

[2016-01-22 09:41] paulrouget commented on #7782
I added to comment 0 the script I use to count the FPS.

[2016-01-22 09:59] glennw commented on #7782
I tried that test case on Linux and it's reporting 60 fps (well 61-62 but close enough for this test).

[2016-01-22 10:59] nox commented on #9403
`filter_map().next()` takes a `FnMut(Self::Item) -> Option<U>` and returns an `Option<U>`, `find()` takes a `FnMut(&Self::Item) -> bool` and returns an `Option<&Self::Item>`. Not the same thing at all.

[2016-01-22 11:06] Ms2ger commented on #9403
We'll need a `.map(...)` after it, but this still seems like an improvement.

[2016-01-22 11:06] nox commented on #9403
Still need to unpack the key/value tuple by hand, so not *that* nicer.

[2016-01-22 11:07] nox commented on #9403
I would rather abstract the filter_map call out of Get and GetAll in a private method and use that in both.

[2016-01-22 11:23] nox commented on #9397
We probably should update update.sh to make it update the tests from mozilla-central too.

[2016-01-22 11:25] nox commented on #9372
Why would you need custom elements specifically in embedded?

[2016-01-22 14:51] shssoichiro commented on #9402
I'll take this one.

[2016-01-22 15:11] KiChjang commented on #9402
Sure thing!

[2016-01-22 18:14] #9402 closed

[2016-01-22 20:10] pcwalton commented on #9306
If negative margins are accumulated into the overflow rect, then that *should* be easily fixable.

[2016-01-22 20:30] mdinger commented on #7269
I'm seeing this for every page now including the `tests/html/about-mozilla.html`. Not sure what the issue is. Tested with commit a9147275413a1a83ab737f0188a283b2a7dedb85

[2016-01-22 21:10] mdinger commented on #7269
Bisecting:

Works with 0d1dfb9c43a998046ef032e67fc25f98020022bf (after PR https://github.com/servo/servo/pull/9210)

[2016-01-22 21:29] mdinger commented on #7269
Works with e684a20a1a814397f42d2dc11a43c1567e1c3191 (after PR https://github.com/servo/servo/pull/9282)

[2016-01-22 21:49] mdinger commented on #7269
Works with 1ca2073979a6223d97a6e8f5d5ebe03a00a7e249 (after PR https://github.com/servo/servo/pull/9348)

[2016-01-22 22:15] mdinger commented on #7269
Fails with ff0992401eacdc6a1eca638e2bf7f61642c95c13 (after PR https://github.com/servo/servo/pull/9366)

[2016-01-22 22:35] mdinger commented on #7269
Works with d9c643167fd4351e86e825bd03d67919f9c743d1 (after PR https://github.com/servo/servo/pull/9359)

[2016-01-22 22:55] mdinger commented on #7269
Works with 9d2eacf039532c5d2d3be549751c205b895f1c3c (after PR https://github.com/servo/servo/pull/9363)

[2016-01-22 23:31] mdinger commented on #7269
Fails with 74d75c40f975ad7fca76814cd6b53add17fe1b12 (after PR https://github.com/servo/servo/pull/9364).

The problem started with https://github.com/servo/servo/pull/9364

[2016-01-23 00:53] pcwalton commented on #9306
There are actually two bugs here. One, which @glennw's test case displays, is that `overflow: scroll` should not allow you to scroll past the top left corner of the scrollable element (including the body). Fixing this issue fixes that test case. However, the original bug remains for an unknown reason.

[2016-01-23 01:40] pcwalton commented on #9306
It looks like the second bug is an incremental reflow bug relating to inline absolute hypothetical fragments.

[2016-01-23 02:50] jdm commented on #7269
...huh. That's a very peculiar result. Could double check that a clobber build (ie. `./mach clean`) on 74d75c4 and the revision right before it show the bad/good behaviour respectively?

[2016-01-23 05:07] shssoichiro commented on #9382
I began looking into this. Is `MozBrowserLoadProgressChange` an entirely new event in the MozBrowser API? It doesn't appear to be documented.

If it is new, I presume there should be a progress percentage accessible via `event.details.progress` or similar?

[2016-01-23 05:19] mdinger commented on #7269
What I was doing was:

[code]

The delete was with a gui because I wasn't sure if the command line would also remove the hidden files but that is basically what I did. Seems like that would be just as good as what you're suggesting.

[2016-01-23 05:26] paulrouget commented on #9382
This has been backed out from Gecko. You can find the details here: https://bugzilla.mozilla.org/show_bug.cgi?id=1125713

Firing a `mozbrowserprogresschange` event might be too expensive though.

What we actually want is a new event (`mozbrowserconnected`?) between `mozbrowserloadstart` and `mozbrowserloadend` that tells us when the server has been successfully reached.

Maybe something fired in `

[2016-01-23 05:39] shssoichiro commented on #9325
I'd like to work on this, since no one has claimed it yet.

[2016-01-23 05:44] KiChjang commented on #9325
Alright!

[2016-01-23 13:45] nox commented on #9307
@craftytrickster Your code panics because you try to mutably-borrow `self.attrs` while you have already borrowed it.

On another note, as stated earlier, you should not append anything to the style attribute, you should instead set it to the serialised CSSStyleDeclaration instance.

[2016-01-23 16:08] jdm commented on #7269
I agree. Wow.

[2016-01-23 16:09] jdm commented on #7269
@glennw @mrobinson Any suggestions for investigating how a libc update caused servo to stop rendering anything?

[2016-01-23 17:10] craftytrickster commented on #9307
I was able to achieve the results of this issue using regex to modify the existing attrs style instance, but it is was just a temporary approach to see if it would work. @nox, as suggested, I will try to replace the unstructured regex approach with using the CSSStyleDeclaration methods.

[2016-01-23 17:21] therealkbhat commented on #9397
I'd like to do this.

[2016-01-23 18:11] craftytrickster commented on #9307
@nox, after taking a look, I do not see anything on the cssstyledeclaration.rs file that would help with this issue, which is to synchronize `element.style_attribute` with the *style-attr* from`element.attrs`.

[2016-01-23 19:10] gordonbrander commented on #9382
@paulrouget I think mozbrowserconnected is enough. What info would progress event actually be giving us? My understanding is the browser doesn't know the actual payload size so any percentage must be faked?

[2016-01-23 19:31] glennw commented on #7269
Does using -o mode to output an image work?

[2016-01-23 20:00] mdinger commented on #7269
You mean like `./mach run -o www.google.com` or like something else?

[2016-01-23 20:08] glennw commented on #7269
Try ./mach run https://google.com -o output.png

[2016-01-23 20:09] glennw commented on #7269
(Or, perhaps try that with tests/html/about-mozilla.html first)

[2016-01-23 20:14] mdinger commented on #7269
`-o output.png` works properly with both tests/html/about-mozilla.html and google.com but normal running just generates a blank grey screen

[2016-01-23 20:49] jdm commented on #9397
@therealkbhat It's yours! Let us know if you've got any questions!

[2016-01-23 21:38] notriddle commented on #9395
:hand: I'd like to take it.

[2016-01-24 00:01] nox opened #9411 "Don't generate empty FooConstants modules"
For each `WebIDL` interface `Foo`, a module `FooConstants` is generated in their corresponding `FooBinding` module, even if there were no constants defined in that interface.

It should be generated only if needed.

The relevant code is in `CGDescriptor.__init__` in components/script/dom/bindings/codegen/CodegenRust.py. Look for the `CGConstant` call in that function.

[2016-01-24 02:44] nox opened #9412 "Move ConstantSpec, NonNullJSNative and define_constants from utils to interface"
These are only used in `script::dom::bindings::interface`.

Files:
 * components/script/dom/bindings/interface.rs
 * components/script/dom/bindings/utils.rs

[2016-01-24 04:22] therealkbhat commented on #9397
Isn't it already fetching from mozilla-central?

[2016-01-24 06:03] shssoichiro commented on #9325
Are there tests implemented for the other console methods? (And if so, where are they located?)

[2016-01-24 06:16] psdh commented on #9397
@therealkbhat Note that it just fetches the WebIDL.py file. nox was talking updating the tests dir too

[2016-01-24 06:41] therealkbhat commented on #9397
@psdh ah, right.

Also, I'm having trouble putting my finger on how exactly I need to run `runtests.py`. Here's what I have so far: [gist](https://gist.github.com/therealkbhat/ff38a2a582ca45987df9).

[2016-01-24 07:26] nxnfufunezn commented on #9397
I guess putting the paren in print will solve the issue..

[2016-01-24 08:50] therealkbhat commented on #9397
@nxnfufunezn that worked. :)

Relative imports is throwing me off, though. It says `ImportError: No module named WebIDL`.
Is this because `runtests.py` is running in the context of `testing_commands.py`, so it doesn't see `WebIDL.py`? How do I get around this?

[2016-01-24 08:55] nxnfufunezn commented on #9412
taking this...

[2016-01-24 09:53] nxnfufunezn commented on #9397
import sys
sys.path.insert(0, "/path/to/your/package|module")

[2016-01-24 11:22] therealkbhat commented on #9397
@nxnfufunezn thanks again.

This is a bit more confusing than I thought it'd be... how do I pass `run_tests()` the `tests` and `options.verbose` that it expects? (code as previously mentioned in gist)

[code]

[2016-01-24 12:28] psdh commented on #9384
Could someone please check if I am headed the correct way ^. I have facing issues with `EventHandlerNonNullOrNull`

[2016-01-24 12:29] nxnfufunezn commented on #9412
@nox What about this file https://github.com/servo/servo/blob/master/components/script/dom/bindings/codegen/CodegenRust.py#L5361

[2016-01-24 12:38] nxnfufunezn commented on #9412
I updated that file..

[2016-01-24 12:43] psdh commented on #9397
@therealkbhat Try importing the runtests module and add a command argument for verbose output :)

[2016-01-24 13:01] therealkbhat commented on #9397
In `runtests.py`:
[code]
So I need to import `runtests` in `testing_commands.py` instead?

In `testing_commands.py`:
[code]
This is what I've added to my previous code. What am I doing wrong? I'm getting
[code]

[2016-01-24 16:12] #9412 closed

[2016-01-24 16:46] KiChjang commented on #9403
I prefer seeing a one-line `.find( |stuff| stuff.0 == cond).map( |stuff| stuff.1 )` over what we currently have right now, which spans multiple lines and is unnecessarily bloated.

[2016-01-24 17:17] nox commented on #9403
@KiChjang I concede that.

[2016-01-24 18:32] nt1m opened #9414 "autoconf missing for OSX"
Build failed, waiting for other jobs to finish...
failed to run custom build command for `harfbuzz-sys v0.1.2`
Process didn't exit successfully: `/Users/admin/code/mozilla/servo/target/release/build/harfbuzz-sys-278d3b2daab5baa1/build-script-build` (exit code: 101)
--- stdout
cd /Users/admin/code/mozilla/servo/target/release/build/harfbuzz-sys-278d3b2daab5baa1/out && /Users/admin/code/mozilla/serv

[2016-01-24 18:34] nt1m commented on #9414
Trying out `brew install openssl ; brew link --force autoconf` to see if it fixes things

[2016-01-24 23:44] larsbergstrom commented on #9392
FYI, we have a team at the University of Szeged who are planning to work on this. We've been collaborating with the Firefox Bluetooth team on which spec(s) to implement, how to hook up to the underlying bluetooth libraries, etc.

[2016-01-25 00:34] KiChjang commented on #9395
Sure thing!

[2016-01-25 04:59] elcritch commented on #9372
@nox Custom elements are very useful for embedding DSLs into a webpage which encodes both a UI and the associated programming logic. Other data formats (JSON/microdata) aren't as expressive for this purpose, and even a half-baked standard provides better specs (life cycles, etc) than many custom libraries/frameworks. We've been working on this for some time, but the approach is gaining traction el

[2016-01-25 06:49] paulrouget commented on #9325
I don't think so.

[2016-01-25 06:50] paulrouget commented on #9325
Maybe you can create a new directory: tests/wpt/mozilla/tests/mozilla/console or tests/wpt/mozilla/tests/mozilla/devtools

[2016-01-25 07:06] paulrouget commented on #9382
Right.

So let's go for `mozbrowserconnected`.

[2016-01-25 07:36] dati91 commented on #9392
Yes, we will constantly update our progress. And there will be a link to our branch soon.

[2016-01-25 07:40] paulrouget commented on #9414
This is a common issue for people building both Gecko and Servo on Mac.

You need to unlink autoconf213 and link autoconf.

[2016-01-25 08:28] paulrouget commented on #7782
vsync is enabled on mac (at least, glutin's `WindowBuilder::with_vsync` is called).

[2016-01-25 09:22] paulrouget opened #9416 "If 2 iframes overlap, wrong iframe scroll"
Happens with both regular Servo and Webrender.

![gyosnzliwg](https://cloud.githubusercontent.com/assets/373579/12546959/88f67ee6-c34d-11e5-8810-7b8265d66c7b.gif)

[code]

[2016-01-25 11:20] nt1m commented on #9414
@paulrouget Thanks, will try this when I get home

[2016-01-25 11:26] nox commented on #9372
I still don't see what custom elements bring to the table apart compartmentalisation, which isn't specific to embedded devices at all.

What do you call a customised Servo-based engine? Some sort of subset of HTML? You might be interested in reading #3653.

[2016-01-25 13:07] paulrouget opened #9417 "moving cursor over a loading iframe crashes Servo"
STR: While the page is loading (right after the window shows up), move the mouse over the window.

[code]

[code]

[2016-01-25 13:07] paulrouget commented on #9417
In `script_thread.rs#MouseMoveEvent()`, `self.root_page()` panics:

[code]

[code]

[2016-01-25 13:09] paulrouget commented on #9417
`root_page` is initialized in `load` (once the HTTP server replied).
So Servo will panic anytime `root_page()` is called before `load`.

`ScriptThread::page_fetch_complete`, which call `load`, is call after `ScriptThread::start`, which calls `handle_msgs` where the calls to `root_page()` might happen in all the `handle_*_msg` functions.

So it's totally possible that `root_page()` is accessed befo

[2016-01-25 13:44] paulrouget commented on #9417
Maybe we could just bail in `handle_event` if there's no root page.

[2016-01-25 15:18] jdm commented on #9417
@paulrouget Bailing in handle_event is almost the right thing to do, except that we should be able to handle the `ResizeEvent` message without a root page.

[2016-01-25 15:19] jdm commented on #9417
Nevermind, that's a lie - handle_resize_event calls root_page. Let's bail in handle_event like you said.

[2016-01-25 15:20] paulrouget commented on #9417
PR coming as soon as I manage to write a test.

[2016-01-25 15:23] jdm commented on #9416
cc @glennw @mrobinson

[2016-01-25 15:24] paulrouget commented on #9417
Any idea how I can fake mouse events in a way that they are forwarded to the iframe?

[2016-01-25 15:26] jdm commented on #9325
There is no way to write a WPT test for console methods, unfortunately. We also can't write tests for the console integration with the devtools server until #5971 is complete, so only manual testing is possible right now.

[2016-01-25 15:28] jdm commented on #5971
It is not complete. Certainly it would be useful to look at the commits on [@akosel's branch](https://github.com/akosel/servo) if anybody else chooses to pick this up.

[2016-01-25 16:27] jdm commented on #8815
This will hopefully be solved by https://github.com/servo/ipc-channel/pull/30.

[2016-01-25 17:01] jdm commented on #8961
@pcwalton https://github.com/servo/ipc-channel/blob/130335fa2dc0e8d8048a5fae5b7b27991023a3a9/ipc.rs#L154 appears to be the only possible source of errors in that code. What are the actual possible errors that are returned but ignored?

[2016-01-25 17:12] #9417 closed

[2016-01-25 17:32] larsbergstrom commented on #9392
@dati91 Sorry I didn't recognize your username, Attila! I've only talked with @akiss77 and @loki04 to date :-)

[2016-01-25 18:57] pcwalton commented on #8961
@jdm That logic looks bogus to me. The I/O errors should be propagated up to the caller and not turned into `recursive_io_error()`. `recursive_io_error()` should only be used when `RefCell::with` fails.

[2016-01-25 19:10] jdm commented on #8961
`with` doesn't even appear to be possible to fail, since it panics if it's in a bad state: http://doc.servo.org/std/thread/struct.LocalKey.html#method.with

[2016-01-25 19:13] pcwalton commented on #8961
Oh, sorry, I meant the `RefCell` borrowing. `borrow_state` should be used to check this.

[2016-01-25 19:26] shssoichiro commented on #9325
All right. I didn't worry about writing WPT tests for now and just did manual testing.

In the early return cases, I was unsure if we wanted to log this with `println!` or display any sort of message to the user (behavior in these cases is undocumented). I left these cases empty for now.

[2016-01-25 19:42] #9306 closed

[2016-01-25 19:42] #9309 closed

[2016-01-25 19:54] timvandermeij commented on #9034
Can this be closed after #9400?

[2016-01-25 19:56] jdm commented on #9034
Looks like it!

[2016-01-25 19:56] #9034 closed

[2016-01-25 21:35] fstr commented on #9403
I would like to do this

[2016-01-25 21:58] jdm commented on #9403
Go for it! Let us know if you have any questions!

[2016-01-26 01:13] larsbergstrom commented on #4282
@tschneidereit is planning to work on this in Q1.

[2016-01-26 01:28] frewsxcv commented on #9324
https://github.com/glennw/servo/pull/21

[2016-01-26 01:36] KiChjang commented on #3919
I'll see if I can fix this up.

[2016-01-26 01:58] #9268 closed

[2016-01-26 02:40] #9416 closed

[2016-01-26 02:44] elcritch commented on #9372
Compartmentalization is key for this usage. Particularly, the binding of a JavaScript code and documented life-cycles provided by custom elements provides a very powerful abstraction mechanism which significantly reduces the effort required to program IoT devices. The benefits aren't specific to embedded devices but solves a host of issues in IoT, IMHO. Hierarchical events in control systems fit w

[2016-01-26 04:45] therealkbhat commented on #9397
@jdm, feel free to unassign me for now.

I won't be able to work on this for a while, and I found that I need to do a bit more understanding to figure out how everything fits together! In the meantime, someone else might be able to get this fixed faster. :)

[2016-01-26 05:01] Wafflespeanut commented on #9397
No worries, thanks for trying! :)

For future reference, it would be of great help if you push your commits to your fork and link them here, instead of putting them in gists.

[2016-01-26 05:15] therealkbhat commented on #9397
@Wafflespeanut duly noted. :)

[2016-01-26 09:04] paulrouget commented on #7782
Actually - I was wrong. It runs at 60 FPS.
Sorry sorry. I must have run a release build and compiled a debug build.

[2016-01-26 09:06] paulrouget commented on #7782
I figured it out. Using the `-b` option makes the FPS go crazy. Not using `-b`, it goes at 60 FPS.

[2016-01-26 09:09] paulrouget opened #9431 "With --no-native-titlebar, requestAnimationFrame runs at 500 FPS"
Probably a glutin/cocoa issue.

I'll investigate.

[2016-01-26 09:09] paulrouget commented on #7782
https://github.com/servo/servo/issues/9431

[2016-01-26 10:10] dati91 commented on #9392
We will use this repository: https://github.com/szeged/servo

[2016-01-26 10:13] tschneidereit commented on #4282
Indeed. I am working on it right now in that I'm implementing Promises in
SpiderMonkey. Once that's landed, I'll start working on the Servo
integration.

[2016-01-26 10:26] paulrouget commented on #9431
/System/Library/Frameworks/AppKit.framework/Versions/C/Headers/NSWindow.h about `NSFullSizeContentViewWindowMask`:

[code]

[2016-01-26 11:11] MonsieurLanza commented on #8084
I'd like to take this.
But it may take some time, as I can only spend about 1-2h/day on servo, atm.

[2016-01-26 11:20] nox commented on #8084
@MonsieurLanza Go for it!

[2016-01-26 14:58] stspyder commented on #8397
I did implement the new constructor with a `Vec<BlobOrString>` but [this wpt test](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/FileAPI/blob/Blob-constructor.html#L42) times out. I think the test crashes, but is being timed out by the test harness. Any help figuring this out would be appreciated!!
[blob_blobparts_constructor.txt](https://github.com/servo/servo/files/1050

[2016-01-26 15:40] jdm commented on #8397
@stspyder Have you tried narrowing down which case triggers the timeout?

[2016-01-26 15:44] jdm opened #9432 "Intermittent crash in /html/browsers/browsing-the-web/navigating-across-documents/009.html"
[code]
More subtleties in the timer code.

[2016-01-26 16:40] paulrouget commented on #9431
`NSFullSizeContentViewWindowMask` is used when the `-b` option is provided.

Doc says:

I think this is why it's not working. But I don't know enough about Cocoa to understand what needs to be done here.

Not sure if that helps in anyway, but calling `view.setLayer(YES)` in Glutin when `NSFullSizeContentViewWindowMask` when is not used makes FPS go up to 500 as well.

@glennw - any idea?

[2016-01-26 16:51] psdh opened #9433 "Replace SendParam with BodyInit"
Once #9419 lands, we'll generate typedefs correctly (from webidls)
Thus we can use `BodyInit` (type: `BlobOrStringOrURLSearchParams`) instead of `SendParam`

relevant code: `components/script/dom/xmlhttprequest.rs`

[2016-01-26 17:15] stspyder commented on #8397
@jdm "Passing non-objects, Dates and RegExps for blobParts should throw a TypeError." is the test that causes the timeout. It doesn't get past passing null to Blob constructor. I tried debugging and had unexpected crashes with exit code of 8 when in the `_constructor` of BlobBinding.rs. But sometimes I was able to see that the conversion of the 1st argument fails and the method returns false.

[2016-01-26 17:23] #9384 closed

[2016-01-26 18:27] pcwalton commented on #9431
Cocoa or Core Animation might be setting the swap interval to zero when layers are being used. (When `setLayer:` is used, Core Animation takes over.) This can be tested using the APIs here (which also contains an explanation of what the swap interval is): https://developer.apple.com/library/mac/documentation/GraphicsImaging/Conceptual/OpenGL-MacProgGuide/opengl_contexts/opengl_contexts.html#//appl

[2016-01-26 18:49] timvandermeij commented on #9411
I think this can be closed thanks to #9430.

[2016-01-26 19:17] mruszczyk commented on #6905
I've translated the data at the link above into a basic spreadsheet. Unsure of where to begin with regards to servo support on a decent chunk of the properties.

https://docs.google.com/spreadsheets/d/1IssfSeHo2GJf5jRtwkuJJhsl38PW8KQ6cY0AXc0iNps/edit?usp=sharing

[2016-01-26 20:55] jdm commented on #6905
Yeah, many of these have names which don't clearly map to particular web features, unfortunately.

[2016-01-26 20:55] fstr commented on #9403
I hope I got it correct with the double reference.

Not sure about the beauty of the resulting code and if anything can be omitted.

[2016-01-26 20:57] jdm commented on #6905
If I get edit access to the document I can try and leave comments about what I think some names mean. Otherwise I can only suggest grepping the chromium source for the names and looking at the file blame for the commit that introduced them, which should provide more context.

[2016-01-26 20:58] mruszczyk commented on #6905
Should be granted.

[2016-01-26 21:10] #9411 closed

[2016-01-26 21:21] jdm commented on #6905
...so many entries...

[2016-01-26 21:53] jdm opened #9437 "Mach path setup is broken for environments with multirust installed"
https://github.com/servo/servo/pull/9415 changed the PATH modifications to append instead of prepend, and multirust installs /usr/local/bin/cargo. I can't build Servo locally on OS X because the wrong binaries get used now.

cc @adamncasey

[2016-01-26 21:56] jdm commented on #9437
Was this an intentional change? Why?

[2016-01-26 22:36] larsbergstrom commented on #9437
Sorry I missed this change in the review!

[2016-01-26 23:30] fhahn commented on #5646
I've started working on this. Seems like `compiletest-rs` just works, we just have to set the right `-L` flags. So far I've only added a compile-fail test for the ban lint (https://github.com/fhahn/servo/commit/f3398bbc67fd93c7d5a1c95441e01a461b7224b8#diff-9e746db0a92361cae1b011f632bb4202R2), which I included in `tests/unit/plugin`.

Before I add more tests I wanted to check where the best place t

[2016-01-26 23:46] jdm commented on #5646
I would be tempted to organize it like `tests/unit/` where we end up with a different crate for each crate we want to test, but they're still all gathered together.

[2016-01-26 23:46] jdm commented on #5646
Also thank you thank you thank you for taking this on :dancer:

[2016-01-27 00:29] g-k commented on #7996
dibs?

[2016-01-27 00:30] pcwalton commented on #9431
The problem here seems to be that, when a window is layer-backed, OpenGL contexts created for the window's content view are offscreen contexts displayed by drawing to an off-screen buffer and swapping that buffer onto the screen via Core Animation. This is a problem because, since the contexts are offscreen, `swap_buffers()` doesn't have a vertical blanking interval to swap to and therefore return

[2016-01-27 00:33] KiChjang commented on #7996
Alright!

[2016-01-27 01:04] pcwalton commented on #7782
@paulrouget Can we close this in favor of #9431?

[2016-01-27 01:18] pcwalton commented on #9308
Smaller test case:

    <!DOCTYPE html>
    hello

Shouldn't scroll.

The problem goes away if margins on the document element are set to zero.

[2016-01-27 03:47] paulrouget commented on #7782
@pcwalton This issue will get fixed once #9244 lands.

[2016-01-27 04:40] paulrouget commented on #9431
We can do that (we actually already have such HTML buttons).

What should be done in Glutin to have a titlebar-less window with an on-screen context? Do you think we should use your `NSViewAuxiliary` hack?

[2016-01-27 04:46] pcwalton commented on #9431
`NSBorderlessWindowMask` oughta do the trick.

[2016-01-27 04:49] paulrouget commented on #9431
I tried that in the past. But without `NSFullSizeContentViewWindowMask`, I never managed to get a proper looking window with borders, rounded corners and shadow.

[2016-01-27 04:57] paulrouget commented on #7782
Sorry, I meant when https://github.com/servo/servo/pull/9401 lands.

[2016-01-27 10:34] adamncasey commented on #9437
Sorry! It was an intentional change, appending was causing problems. But I didn't know it would cause problems for other setups.

I'll look into it now, there must be a better solution.

I'll put in a PR to fix this for multirust, then I can look into the other problems separately.

[2016-01-27 11:28] mstange commented on #9431
Here's how we do this in Firefox: We don't mess with the window mask at all - we don't add `NSBorderlessWindowMask` (because that affects the shadow, and the rounded corners in the shadow), and we also don't set `NSFullSizeContentViewWindowMask` because I didn't even know it existed. Instead, we get our content view to cover the whole window by [overriding the `contentRectForFrameRect:styleMask:`

[2016-01-27 12:00] #9377 closed

[2016-01-27 15:25] larsbergstrom opened #9441 "Synchronous image loading in -x and -o arguments destroys performance"
In components/layout/context.rs, we currently switch to synchronous image loading if the `-x` or `-o` flags have been passed. Unfortunately, this not only blocks selector matching, but causes a huge set of overall performance regressions, including destroying any parallel speedups.

Ideally, what we'd do instead is:
- Always do async loading, as normal
- If we're doing shutdown after load, ensure

[2016-01-27 16:08] UK992 opened #9442 "Windows build fails with a space in the pathname"
I can't build Servo on Windows 10, keep throwing this error:

[code]

[2016-01-27 16:16] larsbergstrom commented on #9442
@UK992 Hrm, I haven't seen this before! Are you running `./mach build` from within a MINGW64 window, as described in the readme?

CC'ing @Jayflux and @adamncasey in case they've seen this before.

[2016-01-27 16:18] larsbergstrom commented on #1769
You can now just run Servo on Windows, as of #9385!

I don't think we have plans to make x-forwarded Servo significantly faster.

[2016-01-27 16:18] #1769 closed

[2016-01-27 16:18] larsbergstrom commented on #1908
Landed in #9385!

[2016-01-27 16:18] #1908 closed

[2016-01-27 16:18] jdm commented on #9442
@larsbergstrom Any chance you have a local cargo override for skia that didn't end up getting published?

[2016-01-27 16:20] larsbergstrom commented on #9442
@jdm Nope, everything's clean & committed and we've verified on multiple other machines (jay, adam, and vlad).

[2016-01-27 16:25] UK992 commented on #9442
@larsbergstrom yes, i used MINGW64.
This error is present when i try to build Servo in `C:\msys64\home\<username>\servo`.
Now I'm building Servo in `C:\servo` and no error in skia package. Weird.

[2016-01-27 16:26] adamncasey commented on #9442
I haven't seen that error before.

Strange. I'm building in `C:\msys64\home\<username>\servo`

[2016-01-27 16:27] larsbergstrom commented on #9442
@UK992 does `<username>` have any spaces or other "interesting" characters in it?

[2016-01-27 16:28] UK992 commented on #9442
@larsbergstrom It have spaces.

[2016-01-27 16:41] adamncasey commented on #9442
Just tried building servo in a directory with spaces and an error as well, though a different error.

[code]

[2016-01-27 16:44] larsbergstrom commented on #9442
I think we should probably have `mach` ensure the directory doesn't have a space in it, at least on Windows :-)

[2016-01-27 16:56] jdm opened #9443 "Update the canvas webidl to match the spec"
Our `CanvasRenderingContext2D.webidl` is based on an older revision before the spec started grouping related APIs together in different interfaces. We should update it to match [the spec](https://html.spec.whatwg.org/multipage/scripting.html#2dcontext) more closely. There should be no functional change and everything should keep compiling exactly as it does today. Some features like `Exposed=(Wind

[2016-01-27 18:06] pcwalton commented on #9431
It seems like a real shame to double our GPU ROP count just for this, though, and missing frames seems bad. (I was actually just in meetings with web developers who were complaining that they can't get good animation performance due to, ultimately, `CVDisplayLink` being a lie.) I'd like to see if we can't figure out some way to do what we want with window masks; my hack sounds potentially better t

[2016-01-27 18:25] pcwalton commented on #9431
After doing some research, I think the corners may actually be something we have to do in WebRender. The reason is that the way Mac OS X draws corners is one of:

(1) Use Quartz clipping regions to clip out the corner areas when doing 2D vector drawing of our window; or

(2) Use Core Animation corners on a layer. I assume the way this works is that WebRender ultimately draws to a texture, then thi

[2016-01-27 18:37] UK992 commented on #9442
I removed spaces from username and is now a successfully build Servo in `C:\msys64\home\`. :)

[2016-01-27 20:49] timvandermeij commented on #9437
This can be closed after #9440.

[2016-01-27 21:06] #9437 closed

[2016-01-27 23:18] jdm commented on #9432
Not timer code! This is actually the constellation happily attempting to navigate pages that shouldn't be allowed to make navigation requests.

[2016-01-27 23:37] J2R5M3 commented on #9443
Looking to get involved, this would be my first contribution to open source anything,ever.

Don't really know where to start so a welcome shove off the correct cliff would be appreciated, I'll find a parachute on the way down.

On a side note I've been have some issues compiling the source :
`error: linking with `cc` failed: exit code: 1`
"lots of noise"
then
[code]
Done a fair bit of googling but

[2016-01-27 23:55] jdm commented on #9443
@J2R5M3 Welcome! It appears you're missing a dependency, and presumably you're not on a debian-based linux as that would be covered by the "libegl1-mesa-dev" in README.md. You may want to try installing "mesa-libEGL-devel" if you're on Fedora? Hard to give better suggestions without more information.

As for how to get started, this is really about cleaning up the contents of the webidl file I lin

[2016-01-28 00:00] adamncasey commented on #3911
I think this can be closed, it clones successfully on Windows even without MSYS. The filename issues are presumably all fixed.

[2016-01-28 00:05] jdm commented on #3911
Yay!

[2016-01-28 00:05] #3911 closed

[2016-01-28 00:06] fhahn commented on #5646
@jdm I've pushed a new [commit](https://github.com/fhahn/servo/commit/234df8d3921a3dd4b022a2d5d921f529b15ee9a4) which should contain some groundwork following your suggestion. It basically adds a `tests/compiletest/` directory which contains a `helper` crate, which just sets up and runs some tests using `compiletest_rs` and crates for the tests (at the moment there's only a single plugin test howe

[2016-01-28 00:23] jdm commented on #5646
We'll likely need to choose between target/debug/ and target/release/ as appropriate, but it's looking good so far!

[2016-01-28 02:45] #8081 closed

[2016-01-28 02:49] paulrouget commented on #7782
(not a **browserhtml-P1** anymore as it has been fixed in webrender)

[2016-01-28 02:56] paulrouget commented on #9431
Related: https://github.com/servo/servo/issues/7659

[2016-01-28 05:15] J2R5M3 commented on #9443
mostly, just was wondering about any sources I could reference regarding which features are supported and which aren't

[2016-01-28 06:43] #7782 closed

[2016-01-28 06:53] paulrouget commented on #9324
Resizing doesn't crash anymore, but the resized area looks funny.

<img width="300" alt="screen shot 2016-01-28 at 07 53 17" src="https://cloud.githubusercontent.com/assets/373579/12637278/3987c0c4-c594-11e5-8496-8f3792fd8e17.png">

[2016-01-28 07:42] jdm commented on #9443
All I can recommend is to use the existing webidl files as reference (ie. note what is already commented out).

[2016-01-28 15:37] jdm opened #9448 "Intermittent failure in /css-transforms-1_dev/html/transform-stacking-004.htm"

[2016-01-28 15:43] jdm commented on #9448
<img width="441" alt="screen shot 2016-01-28 at 10 43 23 am" src="https://cloud.githubusercontent.com/assets/27658/12649295/02dc1b20-c5ac-11e5-82de-af90587e103b.png">

[2016-01-28 16:37] mbrubeck commented on #9448
The red div is offset by 8px (same as the margin of the `<body>` element), which suggests the margin is double-counted.  The z order is also wrong, which is reminiscent of issue #7779.

[2016-01-28 17:36] mbrubeck commented on #7269
[That regression range][1] also includes PR #9339.  My testing shows that the first bad revision is actually f5c6c607c283f3ce61a504812d11575361797603 (#9339).

[1]: https://github.com/servo/servo/compare/9d2eacf...74d75c4

[2016-01-28 20:05] KiChjang commented on #9433
#9419 has landed.

[2016-01-28 20:09] mbrubeck opened #9451 "Blank gray or white window, and flickering on resize (on Linux)"
#9339 (glutin upgrade) caused a regression on Linux/X11.  The Servo window always shows only gray or white on startup.  During resizing, the page content may briefly flicker into view, but then the window usually goes blank again after resizing.

Reverting tomaka/glutin#690 fixes this issue.

[2016-01-28 20:11] mbrubeck commented on #7269
Filed #9451 for this recent Linux-specific regression.

[2016-01-28 20:11] KiChjang commented on #9451
I also noticed that when the page content does go into view, pausing your mouse actions actually make the page content stay, but moving the cursor causes flickering again.

[2016-01-28 20:14] KiChjang commented on #9451
Also, this only happens when Linux is booted up from bare metal - having Linux in a VM doesn't seem to cause this issue.

[2016-01-28 20:14] glennw commented on #9451
I suspect this is because the default pixel format looks to have changed from double -> single buffering. Let's try init glutin with double buffering enabled in Servo and see if it fixes the problem.

[2016-01-28 20:15] KiChjang commented on #9442
Can this issue be closed? Or do we still need a patch for `mach` to make sure we don't have spaces in a directory?

[2016-01-28 20:17] larsbergstrom commented on #9442
@KiChjang Yeah, I'd like to see a patch that fixes that issue. I've edited the issue.

The work here is to have `mach` check the path to see if there are any spaces in the pathname and generate an error if so.

[2016-01-28 20:53] jdm commented on #9442
Relevant code: `python/servo/build_commands.py` in the `build` method

[2016-01-28 21:02] suhr commented on #7269
I guess this can be closed in favour of https://github.com/servo/servo/issues/9451?

[2016-01-28 21:04] jdm commented on #7269
Seems reasonable.

[2016-01-28 21:04] #7269 closed

[2016-01-28 22:32] nt1m commented on #9414
Yeah, it works fine, too bad it breaks gecko builds though (unless you link back autoconf to autoconf213).

[2016-01-29 00:16] mdinger commented on #7269
Thanks @mbrubeck. I was actually trying to follow the bors PR merge order but apparently I failed. I did manually compare the branches and they appeared to only be a single commit apart. Comparing the servo tree is actually quite tricky because of the volume of commits and merges which occur. I'm glad you pointed out that trick!

[2016-01-29 00:24] KiChjang opened #9455 "Ensure the value attribute for HTMLInputElement matches the spec"
#9407 uncovered the fact that our current implementation does not match the behaviour outlined by the spec. It also discovered that whenever the value attribute is removed by the `RemoveAttribute` method on an `HTMLElement`, the `HTMLInputElement` is not notified of the changes, since there are actually two containers for the value attribute - one is the `attrs` field in the `Element` struct, and

[2016-01-29 01:53] #9414 closed

[2016-01-29 02:29] shinglyu commented on #9397
Can I take this bug if no one is working on it?

[2016-01-29 02:30] shinglyu commented on #8830
May I give it a try?

[2016-01-29 02:31] Wafflespeanut commented on #9397
Great! Feel free to ask questions here or at the #servo channel in IRC :)

[2016-01-29 04:09] glennw commented on #9324
Fixed by https://github.com/glennw/webrender/commit/b21317a8fb69d43c00e14f7d1503919aef78abbb

[2016-01-29 04:09] #9324 closed

[2016-01-29 05:55] KiChjang commented on #8830
Yes, absolutely!

[2016-01-29 06:59] #9451 closed

[2016-01-29 08:18] suhr commented on #9202
Happens for ya.ru:

[code]

Servo crashes on typing “test” into search field.

[2016-01-29 08:22] KiChjang commented on #9403
Fixed in #9436

[2016-01-29 08:22] #9403 closed

[2016-01-29 08:26] suhr commented on #4531
Can't reproduce anymore.

[2016-01-29 08:26] #4531 closed

[2016-01-29 08:28] suhr commented on #8501
It doesn't crash anymore, but rendering is badly broken.

[2016-01-29 08:57] suhr opened #9457 "Text stretching on link highlighting on http://cat-v.org/about"
See https://d.maxfile.ro/tgjwgkosiy.mkv

[2016-01-29 08:58] shinglyu commented on #9397
So here is my plan, please let me know if its OK.

1. When run `./mach test-webidl`
2. Run `update.sh` once
3. Create a virtualenv
4. Install `pip install ply` in the virtualenv
5. run `runtest.py

I can run `runtest.py successfully, but when I run `update.sh` the auto-merge got rejected. How should I handle a failed patching? Should I still run the original `WebIDL.py` or just stop there and show

[2016-01-29 09:04] shinglyu commented on #9397
Looking into the `python` folder, I found that we already have a `requirements.txt` and `_virtualenv` created, is there any example of other commands installing dependencies and creating virtualenv ?

[2016-01-29 09:45] shinglyu commented on #9397
Hi I wrote a draft version that doesn't update from mozilla-central

https://github.com/servo/servo/compare/master...shinglyu:testwebidl

So we should download the `tests/*.py` from m-c in `update.sh` right?

[2016-01-29 09:57] Wafflespeanut commented on #9397
@shinglyu That looks good. Go ahead and open a PR, so that people can comment on your changes :)

@nox What should we do when the patch fails?

[2016-01-29 10:28] psdh commented on #9397
Do we want to run the update script each time I test-webidl?

[2016-01-29 10:28] nox commented on #9397
@Wafflespeanut Fix it. We store patches to be sure we don't lose stuff when updating the parser.

[2016-01-29 11:46] Ms2ger commented on #9441
The correct way to fix is this is implementing the spec's requirement:

Not sure how hard it'd be to do that right now. CC @jdm.

[2016-01-29 12:03] Wafflespeanut commented on #9397
@psdh No, we don't!

@shinglyu I misinterpreted nox's comment. We just want to update the `update.sh` to include the `tests` folder. We should never invoke that during testing!

[2016-01-29 13:08] shinglyu commented on #9397
@Wafflespeanut OK, I'll create a PR for the `test-webidl` part.

@nox For the `tests` folder, I don't see a clean way to download the folder from either mxr or hg.mozilla.org. I thought about reading the filenames from the local `tests` folder, but I fear that the mozilla-central folder may have new files or renamed files. What do you think?

[2016-01-29 13:21] shinglyu commented on #9397
I got an warning in the PR saying that I don't have tests. Where can I add a test for mach command?

[2016-01-29 13:24] Wafflespeanut commented on #9397
That's just the bot shouting at any change made to `script`. We don't have to worry about it :)

[2016-01-29 13:24] shinglyu commented on #9397
@Wafflespeanut Thanks!

[2016-01-29 15:04] larsbergstrom opened #9460 "Intermittent Mac failures"
There were some OSX updates rolled out this past weekend which, combined with some popup-related issues with our icloud account, have been causing a bunch of strange UI interactions that seem to be breaking the login session and causing many graphics tests to fail.

[2016-01-29 15:11] larsbergstrom commented on #9460
I have patched `servo-mac2` and `servo-mac3`. Additionally, I ensured they had all been properly associated with the servo-specific icloud/messages account under both administrator and servo users (this had been causing popups when the administrator icloud needed a login, which would display on the servo account, but could not be interacted with because it was from a different user).

I have been

[2016-01-29 15:37] jdm commented on #9441
My strategy for solving that is to implement the plans in https://github.com/servo/servo/wiki/Image-load-conformance-student-project . Basically, move the network load from the image cache and into the script thread where it belongs.

[2016-01-29 15:38] jdm commented on #8501
Ok, sounds like this can be closed. Please file a separate issue about the rendering output.

[2016-01-29 15:38] #8501 closed

[2016-01-29 17:31] suhr opened #9461 "Incomplete rendering on 2ch.hk/fl/"
Also elements of the page start to disappear after some scrolling.
There's screencast: https://d.maxfile.ro/xnuzcdouhv.webm

[2016-01-29 19:19] jdm commented on #9461
What do you mean by "incomplete rendering"?

[2016-01-29 19:19] #9325 closed

[2016-01-29 19:23] suhr commented on #9461
A lot of page elements are not rendered at all. See the screencast.

[2016-01-29 19:29] KiChjang commented on #9461
I'm sorry, but it's not immediately obvious which elements are not being rendered. It'd be nice if you have a reference of what the actual page looks like side-by-side.

[2016-01-29 19:36] suhr commented on #9461
Sure.

![fl_mozilla](https://cloud.githubusercontent.com/assets/65870/12686009/9b104808-c6d8-11e5-8000-661724694932.png)
![fl_servo](https://cloud.githubusercontent.com/assets/65870/12686016/a491fb74-c6d8-11e5-8d1d-7ac68d2a660c.png)

[2016-01-29 19:42] jdm commented on #8397
[code]

[2016-01-29 21:04] psdh opened #9462 "Replace multiple formdata (string or blob) definitions with FormDataEntryValue"
Use `FormDataEntryValue` or `BlobOrUSVString` instead of FormDatum (in `dom/formdata.rs`)

[2016-01-29 21:19] KiChjang commented on #9462
We really should use `FormDataEntryValue` instead of `BlobOrUSVString` since the latter is typedef'd as the former.

[2016-01-29 23:15] nox commented on #8397
@jdm No, that `throw_dom_exception` is for the actual return value of the method. Instead we should call `throw_type_exception` from the implementation of `FromJSValConvertible` on `Vec<T>`, like it is done in the inner `BlobOrString` impl.

[2016-01-29 23:16] nox commented on #8397
Oh I guess you mentioned the throw_type_error part.

[2016-01-29 23:25] #9308 closed

[2016-01-30 00:18] KiChjang opened #9463 "Intermittent timeout of /html/semantics/grouping-content/the-ol-element/grouping-ol-type-reftest-002.html"
[code]

[2016-01-30 00:42] g-k commented on #9455
I can give this a shot.

[2016-01-30 01:40] KiChjang commented on #9455
Ok, be mindful that I expect this to be more difficult than the E-Easy issues that you've handled before. If you're stuck and require clarifications, please don't hesistate to ping us at #servo on irc.mozilla.org!

[2016-01-30 03:32] #7996 closed

[2016-01-30 12:06] codec-abc opened #9465 "Error 127 when running servo on Windows"
Hi,

I have a return code with a value of 127 when running servo on Windows 10 (it both on my personal and work computer)

`
$ ./mach run --dev http://www.google.com
`
`
Servo exited with return value 127
`

Strangely enough when I run it in debug mode
`$ ./mach run --dev --debug http://www.google.com`
it works fine.

Am I missing something ?

[2016-01-30 13:37] ProgVal opened #9466 "Cannot build: “Failed to unpack package `expat-sys v2.1.1`”"
[code]

OS: Debian 8.3 (Jessie)

[2016-01-30 13:54] codec-abc commented on #9465
I made some progress on it. The problem is that the servo executable is not finding the dlls and the font configuration (in etc/fonts) when launched from the command line. So I guess I did not follow exactly the instruction to build and run servo and windows or we need to modify the path system' s variable.

[2016-01-30 14:57] nox commented on #9466
https://github.com/servo/servo/pull/9467

Sorry for the inconvenience, should be fixed ASAP.

[2016-01-30 15:54] Wafflespeanut commented on #9466
should've been fixed by #9467

[2016-01-30 15:54] #9466 closed

[2016-01-30 15:56] Croydon commented on #4033
Related to #7722?

[2016-01-30 16:02] Croydon commented on #7722
This could be added to the Layout: Acid2 milestone.

[2016-01-30 16:28] jdm commented on #7722
It could, but that milestone is meaningless at this point.

[2016-01-30 18:05] jdm commented on #8815
Still happening.

[2016-01-30 18:05] jdm commented on #8815
[code]

[2016-01-30 18:07] mdinger commented on #7753
With 31657811d33f23c79eae49dea171718562b031c5, this is still a problem.

[2016-01-30 18:12] jdm commented on #8815
Unfortunately the stack here is much less informative than the original ones that prompted servo/ipc-channel#29 :(

[2016-01-30 18:14] mdinger commented on #7636
Still a problem with 31657811d33f23c79eae49dea171718562b031c5

[2016-01-30 18:42] mdinger commented on #7537
Still a problem with 31657811d33f23c79eae49dea171718562b031c5

[2016-01-30 18:43] mdinger commented on #7311
Still a problem with commit 31657811d33f23c79eae49dea171718562b031c5

[2016-01-30 18:44] mdinger commented on #6407
Still a problem with 31657811d33f23c79eae49dea171718562b031c5

[2016-01-30 18:59] jdm commented on #6407
That error message should be solved by #9372, but it's not clear to me whether webcomponents.js is supposed to have a polyfill working without that support.

[2016-01-30 19:08] larsbergstrom commented on #9465
Does it work when run from the mingw commandline? It should not work from a CMD.EXE window, PowerShell, or MSYS window. Sorry about this - many of the dependencies (fontconfig, etc. ) are installed as packages in mingw64, and in order to find them they must be in the `PATH` for Servo.

[2016-01-30 19:09] larsbergstrom commented on #9465
Also, if you run it as `target/debug/servo.exe tests/html/about-mozilla.html`, you will get more info about the error rather than just "Error 127." That Error can come up for multiple reasons if Servo crashes during the startup steps.

[2016-01-30 19:11] larsbergstrom opened #9468 "Servo on Windows in VirtualBox gets 'NoAvailablePixelFormat'"
When run within a default VirtualBox installation of Windows, Servo run from Mach errors with "Error 127". When run as `target/debug/servo.exe tests/html/about-mozilla.html`, you get:
[code]

@Jayflux, Can you please provide a stack backtrace, acquired by doing `RUST_BACKTRACE=1 target/debug/servo.exe tests/html/about-mozilla.html`?

[2016-01-30 20:39] codec-abc commented on #9465
I was indeed using the mingw command line all the time. It does not even build when using a msys command line (or cmd and PowerShell). To make further tests I deleted the target directory and built again.
The result are the following :
- It run fine from an mingw command line (ie when using target/debug/servo.exe url)
- It does NOT run when using mach expect when debugging (ie using the --debug ar

[2016-01-30 20:46] #7047 closed

[2016-01-30 20:56] jdm commented on #9465
Yes, mach definitely modifies PATH: http://mxr.mozilla.org/servo/source/python/servo/command_base.py#276 . You can see the changes via `./mach env`.

[2016-01-30 22:30] codec-abc commented on #9465
Thanks for the tips. After more investigation I start to understand what is going on.

Like jdm said mach changes the `PATH` system's variable. In particular, it adds the path to the rust compiler that servo need for compiling the source code. So on my computer it adds the path
`C:\Soft\msys64\home\codec\servo\.servo\rust\2015-12-27\rustc-nightly-x86_64-pc-windows-gnu\rustc\bin` to `PATH`.

In thi

[2016-01-31 17:25] jdm commented on #9071
#8815

[2016-01-31 17:25] #9071 closed

[2016-01-31 17:26] jdm commented on #8951
#8815

[2016-01-31 17:26] #8951 closed

[2016-01-31 17:30] jdm commented on #8802
#8815

[2016-01-31 17:30] #8802 closed

[2016-01-31 17:34] jdm commented on #7437
#8961

[2016-01-31 17:34] #7437 closed

[2016-01-31 18:26] bluetech opened #9472 "CORS: preflight is needed if *not* all headers are simple"
Unless I'm mistaken/misreading the code, according to https://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0 the conditional in the following line should be negated:
https://github.com/servo/servo/blob/46b3eb653579a40632f91497a3d48f1d7fbd40cc/components/script/cors.rs#L80

[2016-01-31 19:12] psdh commented on #9462
We cannot use the FormDataEntryValue (the autogenerated typedef to BlobOrUSVString) since one of its field is a Rooted reference to Blob. As of now we'll just rename the `FormDatum` enum in `dom/formdata.rs` to `FormDataEntryValue`

[2016-01-31 20:14] peterjoel opened #9474 "Support scrolling to a fragment identifier"
This is not (yet) specified by WHATWG, but it will be here:
https://html.spec.whatwg.org/multipage/browsers.html#scroll-to-the-fragment-identifier
when this issue is resolved:
https://github.com/whatwg/html/issues/94

Issue split from existing issue #1716.

This issue is concerned with scrolling to the correct location, given the correct fragment has been identified, while #1716 is concerned with

[2016-01-31 20:17] Jayflux commented on #9468
[code]

[2016-01-31 20:37] KiChjang commented on #9474
Is this dependent on #1716?

[2016-01-31 20:42] KiChjang commented on #9472
There's also another possibility - we don't use W3C standards. Instead, we use WHATWG standards. Here's the link to the corresponding section https://fetch.spec.whatwg.org/#cors-preflight-fetch-0.

Also, if we are following W3C, then your observation is incorrect. The code you indicated is following this part of the algorithm:

This is located in https://www.w3.org/TR/cors/#cross-origin-request.

[2016-01-31 20:48] peterjoel commented on #9474
@KiChjang They can be implemented independently.

The complication will be that this issue will be easier to test (once the specification is complete). #1716 will be tricky to test properly on its own, as it will involve checking that an element is scrolled into view, without having a proper definition of what that means.

[2016-01-31 21:13] bluetech commented on #9472
Thanks for pointing me at the correct spec - I just searched "cors spec" and hit the first one :) However the whatwg spec if is a bit too complicated for a passer-by like me, and I doubt the two specs say the exact opposite on such a detail, so I'll refer to the W3C one still.

I'm sorry to insist, but I still think the code is wrong, so I'll risk trying again. The code is:

[code]

Which I think

[2016-01-31 21:57] KiChjang commented on #9472
Ack, you're right. I've cross-referenced the situation with the WHATWG spec and it's located [here](https://fetch.spec.whatwg.org/#concept-main-fetch). Specifically,

Both of the specs do say that if there's at least one header that is not a simple header, then a preflight fetch is required.

[2016-02-01 01:07] nox commented on #7910
[code]

[2016-02-01 01:59] shinglyu opened #9475 "Add a script to update the WebIDL tests"
This is a followup for #9397

Download the latests `test/*.py` files from mozilla-central when we run `components/script/dom/bindings/codegen/parser/update.sh`

[2016-02-01 03:11] paulrouget opened #9476 "CSS rule ignored if unkown pseudo class is used"
[code]

Because of `.xxx`, body doesn't have a red border.

[2016-02-01 03:39] paulrouget opened #9477 "input element lets its text overflow"
<img width="351" alt="screen shot 2016-02-01 at 04 39 25" src="https://cloud.githubusercontent.com/assets/373579/12708242/cd12c1b6-c89d-11e5-9d63-01c27cd37537.png">

[code]

[2016-02-01 03:49] paulrouget opened #9478 "input text: moving cursor to a non-visible portion of the text doesn't scroll the text into view"
<img width="321" alt="screen shot 2016-02-01 at 04 48 23" src="https://cloud.githubusercontent.com/assets/373579/12708374/1c8eaf42-c89f-11e5-96b8-c3d3fdd28115.png">

Note: In this screenshot, the text is visible outside of the input. It should not. See #9477.

[2016-02-01 05:18] frewsxcv opened #9479 "GitHub glyphicons / octicons / font icons don't show up"
https://github.com/blog/1106-say-hello-to-octicons

Would improve our ability to dogfood :dog:

# Servo

![screen shot 2016-02-01 at 12 15 38 am](https://cloud.githubusercontent.com/assets/416575/12709355/1ce02b68-c879-11e5-927f-2108afc8012f.png)

# Chrome

![screen shot 2016-02-01 at 12 15 51 am](https://cloud.githubusercontent.com/assets/416575/12709356/1e0e91aa-c879-11e5-846d-3558d764044d.png)

[2016-02-01 05:19] frewsxcv commented on #9479
Possibly related to https://github.com/servo/servo/issues/7762

[2016-02-01 06:47] paulrouget opened #9482 "Focusing the native window should trigger a focus event"
Some notes:

In `ports/glutin/window.rs`, along events like `Event::Closed`, we should handle the `Event::Focused(focused)` event and forward it to script_thread / document.

Once there, I'm not sure exactly what should be done. There is already a focus-handling mechanism at the document level (`*_focus_transaction`), but events are not dispatched as per https://github.com/servo/servo/blob/6b1a08c

[2016-02-01 06:55] paulrouget commented on #7671
This is not a blocker, but I was wondering how hard it would be to implement such feature?

Cocoa equivalent: https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSScrollView_Class/#//apple_ref/c/tdef/NSScrollElasticity

[2016-02-01 08:42] paulrouget commented on #8543
This works now.

[2016-02-01 08:42] #8543 closed

[2016-02-01 09:07] drbo commented on #6462
I suspect that the best approach is to catch all panics at every in-call to Rust and kill either the thread or process immediately, or kill JavaScript execution (by returning `false` without raising a JS exception) and then store the panic value in TLS.  This is then checked on return to Rust and propogated.

[2016-02-01 09:11] drbo commented on #7888
I feel that if we want to reduce our C attack surface, the best answer is to write a pure-Rust crypto library.  Mozilla has cryptographers qualified to do this (they already maintain NSS after all), so the rule of "don't roll your own crypto" doesn't apply here, as long as Mozilla chooses qualified people to do it.

[2016-02-01 09:19] Ms2ger commented on #9476
Per spec.

[2016-02-01 09:19] #9476 closed

[2016-02-01 09:26] paulrouget opened #9484 "Unexpected overflow"
STR:
1) place mouse over the green div
2) scroll horizontally and/or vertically

The page will start moving, even though the parent div is `100%` and `overflow:hidden`.

Scrolling doesn't alway happen. Repeat step (2).

The  behavior is not exactly the same with Webrender. But both regular Servo and Webrender have this overflow.

[code]

<img src="http://g.recordit.co/ZvpcaPFOAr.gif">

[2016-02-01 09:26] paulrouget commented on #9484
/cc @pcwalton

[2016-02-01 09:31] paulrouget commented on #9476
TIL: http://stackoverflow.com/questions/13816764/invalid-css-selector-causes-rule-to-be-dropped-what-is-the-rationale/13831877#13831877

[2016-02-01 10:55] paulrouget opened #9486 "input text: cursor:text only over the text part"
When hovering the empty section of an `<input>`, the text cursor should be used.

[code]

[2016-02-01 11:09] paulrouget opened #9487 "On OSX, fonts are lighter than gecko and webkit"
<img width="361" alt="screen shot 2016-02-01 at 12 07 54" src="https://cloud.githubusercontent.com/assets/373579/12715792/9eb02bc6-c8dc-11e5-98bb-59454b142523.png">

[code]

I haven't tested on other platforms.

[2016-02-01 11:21] nox commented on #9448
Probably the same thing as #9303.

[2016-02-01 13:50] Ms2ger commented on #8397
https://github.com/servo/rust-mozjs/issues/237

[2016-02-01 14:36] KiChjang opened #9488 "Intermittent failure of /_mozilla/mozilla/canvas/drawimage_html_image_*.html"
[code]

[2016-02-01 15:05] jdm commented on #9488
<img width="444" alt="screen shot 2016-02-01 at 10 05 16 am" src="https://cloud.githubusercontent.com/assets/27658/12720967/56f54296-c8cb-11e5-8e0c-d101fa6b67d4.png">

[2016-02-01 15:36] Ms2ger opened #9489 "Pass the wpt XMLHttpRequest (XHR) test suite"
* Specification: https://xhr.spec.whatwg.org/
* Tests: `tests/wpt/web-platform-tests/XMLHttpRequest/`
* Metadata: `tests/wpt/metadata/XMLHttpRequest/`
* Upstream tests: https://github.com/w3c/web-platform-tests/tree/master/XMLHttpRequest

[2016-02-01 15:39] Ms2ger opened #9490 "Implement XMLHttpRequest.send(Document)"
Blocks #9489.
- Spec: https://xhr.spec.whatwg.org/#dom-xmlhttprequest-send-document.
- Code: `components/script/dom/xmlhttprequest.rs`, `components/script/dom/webidls/XMLHttpRequest.webidl`.
- Test: `XMLHttpRequest/send-entity-body-document.htm`, and probably more.

[2016-02-01 16:42] metajack commented on #7888
FYI, those cryptographers you mention have advised us not to rewrite it.

I believe there is some ongoing work to replace a part of what openssl does with Rust, but until that kind of work is farther along we'll keep using existing solutions.

This isn't to imply that we aren't interested in doing it, but it's just a lower priority for us since we have some much other stuff to do and our team is r

[2016-02-01 17:35] larsbergstrom commented on #9460
Both of the macs have been patched and we are no longer seeing this "massive failure of almost all the things" issue.

[2016-02-01 17:35] #9460 closed

[2016-02-01 18:34] KiChjang commented on #3919
Blocks #9489.

[2016-02-01 20:52] KiChjang commented on #8509
@wenderen Let us know if you want to pick this up again. In the meantime, I'm unassigning this issue.

[2016-02-01 21:23] gmalecha commented on #9443
Has this bug been claimed?

[2016-02-01 21:47] nox opened #9494 "Use the now-stable API in std::hash instead of std::collections::hash_state"
See BuildHasher and BuildHasherDefault in [std::hash](https://doc.rust-lang.org/nightly/std/hash/index.html).

[code]

[2016-02-01 21:49] nox opened #9495 "Remove old features clone_from_slice and convert"
[code]

[2016-02-01 22:09] nox commented on #9443
@gmalecha It seems @J2R5M3 started looking at it.

@J2R5M3 Do you need help with this?

[2016-02-01 23:21] Jayflux commented on #9468
@larsbergstrom
https://pastebin.mozilla.org/8858274
is that correct, it just hangs and does nothing, do i need to pass in the html file too?

[2016-02-01 23:36] fhahn commented on #9490
Is it OK if I take a stab at this issue?

[2016-02-01 23:40] KiChjang commented on #9490
Of course!

[2016-02-02 00:18] J2R5M3 commented on #9443
@gmalecha I've been kinda swamped with a wave of assignments for school and work, if you want to lend a hand or even take over that's perfectly fine with me, I had hoped to get involved but it is the case that my current schedule can't handle anything additional right now at least for the next 4-5 days, priorities and such.

[2016-02-02 00:48] gmalecha commented on #9443
@J2R5M3 I'm happy to let you take care of it. Should it be marked assigned?

[2016-02-02 00:51] KiChjang commented on #9443
Okay, just let us know of any updates!

[2016-02-02 00:56] UK992 opened #9499 "The gold linker should not be used on Windows"
After https://github.com/servo/servo/pull/9449 building on Windows failed:
[code]

[2016-02-02 01:39] paulrouget opened #9501 "crash while loading cnn.com (unimplemented VP8X_CHUNK)"
[code]

`unimplemented!()`: https://github.com/netvl/immeta/blob/f252cf4a154e0e110f96bf3cf7392e6b23366e21/src/formats/webp.rs#L67

[2016-02-02 02:14] paulrouget opened #9502 "Scrolling doesn't take pixel density into account"
I realized that scrolling is slow on my mac.

When moving my fingers across the trackpad, the scrolling distance is twice shorter than with gecko.

This solves the issue:

[code]

But I don't know if this needs to be fixed in glutin or servo.

Can someone test with linux + hidpi display?

[2016-02-02 02:44] glennw commented on #9502
@mbrubeck Any opinions on whether this should be in glutin or servo?

[2016-02-02 02:50] paulrouget commented on #9502
I'd like to know if Linux and Windows behave the same way. If not, it needs to be fixed at the glutin level. If they do behave the same way, I guess it doesn't matter much if it happens in glutin or servo.

[2016-02-02 03:00] shinglyu commented on #8830
I tried to write a wpt test to cover this. But I was unable to run the single test file.
STR:
* Use `./mach create-wpt tests/wpt/web-platform-tests/XMLHttpRequest/responseurl.htm`
* Copy the `responsexml-basic.htm` test into `responseurl.htm`
* Run with `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest/responseurl.htm`

Expected:
The test runs

Actual:
The test starts, opens a blak Serv

[2016-02-02 03:15] briansmith commented on #7888
What was the rationale?

Interesting. What parts are being replaced?

[2016-02-02 03:16] seanmonstar commented on #7888
@briansmith I believe he is referring to your work with ring.

[2016-02-02 03:44] mbrubeck commented on #9502
I think it's reasonable to do this conversion (from "px" to device pixels) in Servo.  I don't have a high-dpi machine right now where I can test whether Linux and Windows behave the same as Mac OS X (and at least for X11 the documentation does not specify), but if not then we can fix that in glutin.

[2016-02-02 08:43] KiChjang opened #9504 "Mac builders fails to compile harfbuzz"
It's the autoconf failure, but now it happens on our mac build machines as well.
[code]

cc @larsbergstrom

[2016-02-02 08:59] paulrouget commented on #9502
Looking at Glutin's code, I see that for mousemove events, the coordinates are multiplied by hidpi_factor, but not for wheel events.

I think this should be fixed in glutin.

I'll submit a PR.

[2016-02-02 09:01] paulrouget commented on #9504
Isn't it just a matter of linking autoconf?

[2016-02-02 09:02] nox commented on #9504
@paulrouget What do you mean here by linking?

[2016-02-02 09:04] paulrouget commented on #9504
Install and `brew link` autoconf (`brew link autoconf`)

[2016-02-02 13:06] larsbergstrom opened #9507 "Remove remaining references to android-rs-glue"
The `android-rs-glue` submodule is no longer used in Servo, but there are still a couple of straggling references to it that should be removed from comments and documentation.

[code]

[2016-02-02 13:07] larsbergstrom commented on #9504
Yes, it looks like our saltstack rules are not properly installing autoconf. I just brought a builder back online from scratch, and the auto-provisioning did not work correctly.

cc @edunham @aneeshusa

[2016-02-02 13:37] larsbergstrom commented on #9504
OK, it looks like autoconf213 got linked first (instead?) and this caused autoconf to not get linked and thus autoheader was not available. Maybe an ordering issue in our salt config files? I manually fixed servo-mac1 so we should be able to proceed.

[code]

[2016-02-02 13:43] jdm commented on #8830
That's very strange; that's supposed to work. Could you push your changes to a branch?

[2016-02-02 13:45] aneeshusa commented on #9504
I don't think the config is running the 'brew link' on autoconf, so I'll investigate adding that. Does automake need to be installed before autoconf, or can they be installed together (i.e. in the same command?)

[2016-02-02 13:48] larsbergstrom commented on #9504
@aneeshusa I think they can be installed together - the conflict seemed to be with autoconf vs. autoconf213 (in particular, autoconf213 being installed first and blocking the link of autoconf).

Thanks a ton for all your help with this!

[2016-02-02 13:51] aneeshusa commented on #9504
Do we need to install both autoconf and autoconf213? Based on [the current master](https://github.com/servo/saltfs/blob/272445d43b92df1043d61bb9d12a46f073bc65b9/servo-dependencies.sls#L28), it looks like we're only installing autoconf213.

[2016-02-02 13:56] larsbergstrom commented on #9504
I thought that we needed both. autoconf213 is required for the SpiderMonkey JS engine; everything else (like harfbuzz) uses normal autoconf.

They are definitely both installed on all our machines.

Maybe autoconf is a dependency of automake?

[2016-02-02 13:58] aneeshusa commented on #9504
Yes, it seems you're right: [automake depends on autoconf](https://github.com/Homebrew/homebrew/blob/0c6cfa6584f0e5f8dffe30e032fa00c882de002e/Library/Formula/automake.rb#L19)

[2016-02-02 14:09] aneeshusa commented on #9504
Do you know if there is a way to query if a homebrew package is linked? I couldn't find anything like that in the docs.

[2016-02-02 14:16] larsbergstrom commented on #9504
Hrm, I don't see anything, either. `brew info` and the others don't seem to show it.

[2016-02-02 14:18] aneeshusa commented on #9504
Ok, I should have a PR shortly then, but it'll have to be a bit hacky.

[2016-02-02 14:18] aneeshusa commented on #9504
Actually, can we just check the symlink manually?

[2016-02-02 14:20] larsbergstrom commented on #9504
Aha, that sounds like a great plan :-)

[2016-02-02 14:21] aneeshusa commented on #9504
I have to go to my first class of the semester, but I should have a quick fix for this today, and a better fix in the next few days.

[2016-02-02 14:22] larsbergstrom commented on #9504
That's fantastic! Thanks again for all your help, and good luck with classes :-)

[2016-02-02 14:39] larsbergstrom commented on #9468
@Jayflux That's correct! you would need to do "run tests/html/about-mozilla.html" to start it, and hopefully would get a good backtrace.

Otherwise, you can do `info line *0x36e38f7` to get the function names for those addresses.

[2016-02-02 14:44] jdm commented on #9499
@larsbergstrom This seems difficult to get right!

[2016-02-02 14:46] larsbergstrom commented on #9499
@jdm Agreed :-)

Though a large part of it is also that we don't have CI up yet for all of our platforms. While I can say I should certainly know better, as we expand our platform matrix, it's pretty unreasonable to expect every reviewer to know the impact of small python changes on, say, the AARCH64 cross-build.

[2016-02-02 14:48] jdm commented on #9501
Filed https://github.com/netvl/immeta/issues/5 . Until then we could move calls to immeta into new threads in order to avoid the risk of unexpected panics.

[2016-02-02 14:49] Tycheon commented on #9472
Hi there =)

I'd like to contribute. I've coded for quite awhile, but only ever on my own projects, so I've never done a pull request before.

If I'm following this properly, the change that needs to happen is that a preflight request flag needs to be set if any of the headers are not simple. Quickly checking the code shows that is_simple_header() just returns a bool, so we should be able to just

[2016-02-02 15:00] jdm commented on #9472
It would make sense to run `./mach test-wpt tests/wpt/web-platform-tests/XMLHttpRequest` and `./mach test-wpt tests/wpt/web-platform-tests/cors`, as those should cover the change here.

[2016-02-02 15:01] jdm commented on #9472
As for the pull request, Github's got pretty good documentation: https://help.github.com/articles/creating-a-pull-request/ . Let us know if there's something more specific you're confused about!

[2016-02-02 15:24] nox opened #9508 "Beautify our union enums constructors"
They should be `NodeOrString::Node` instead of `NodeOrString::eNode`.

Files:
 * components/script/dom/bindings/codegen/CodegenRust.py

[2016-02-02 15:29] larsbergstrom commented on #9499
The change required here is that the python code that chooses to use the gold linker:
https://github.com/servo/servo/blob/220ead14b16c8965335a6d54e037f2e30fc634ea/python/servo/command_base.py#L382

Should not do so if the `sys.platform == 'win32'`.

[2016-02-02 15:39] jdm commented on #9508
Specifically, `CGUnionStruct` is the python class that defines this.

[2016-02-02 16:00] Tycheon commented on #9472
Thank you so much for the quick response =)

I have to say, that I'm a little shocked by both the Rust and Servo communities; Everyone seems extremely patient, and just as friendly. It's also amazing that you have these E-easy issues, to ease people like me into this. It's so appreciated, you have no idea.

[2016-02-02 16:23] aneeshusa commented on #9504
I'm trying to understand ```brew link```'s behavior better in the case of updates. Is there a spare Mac builder that I can ssh into and mess around on (i.e. one that's not being used for builds)?

[2016-02-02 16:25] larsbergstrom commented on #9504
Unfortunately, they're all pretty slammed right now. I requested a new one from macstadium this morning, though, and as soon as I have it provisioned enough for you to ssh in, I'll let you know! I don't know how long it will take for them to bring it online.

[2016-02-02 16:30] aneeshusa commented on #9504
Ok, thank you! We should also use it for some manual testing when reviewing the PR.

[2016-02-02 16:39] Ms2ger commented on #8608
Fixed in 74b6d8b70debfee90a788d03eef5e6e66792bd1d. Only took three months!

[2016-02-02 16:39] #8608 closed

[2016-02-02 17:30] UK992 commented on #9499
@larsbergstrom in MINGW64 shell, sys.platform return 'msys', not 'win32'.

[2016-02-02 17:38] paulrouget commented on #4144
Can someone explain what needs to be done here?

[2016-02-02 17:49] SimonSapin commented on #4144
@paulrouget I think we want to handle `Event::ReceivedCharacter(char)` events from glutin as well as `Event::KeyboardInput(ElementState, ScanCode, Option<VirtualKeyCode>)`, but there’s probably a number of places in Servo to change.

@glennw You said you wanted to do this? :)

[2016-02-02 17:52] paulrouget commented on #9001
Fixed by https://github.com/servo/servo/pull/9418

[2016-02-02 17:52] #9001 closed

[2016-02-02 18:25] netvl commented on #9501
Please switch to 0.3 version of immeta. 0.3.1 now returns an error instead of panicking.

[2016-02-02 19:15] larsbergstrom commented on #9468
Could you please paste:
[code]

And then:
[code]

into that gdb prompt and paste the results in a comment here?

[2016-02-02 19:16] KiChjang opened #9511 "Re-export IDL union typedefs instead of using type aliasing"
#9419 introduced type aliasing for IDL typedefs. However, due to rust-lang/rust#26264, we cannot use enum variants with aliased enums. We will instead need to change the type aliasing into re-exports, something of the form `pub use Foo as TypeDefBar`.

Code: `components/script/dom/bindings/codegen/codegen.py`

[2016-02-02 20:17] Tycheon commented on #9472
Hmmm... that one-line change causes the following to fail in the tests/wpt/web-platform-tests/cors suite:

  ▶ Unexpected subtest result in /cors/redirect-origin.htm:
  │ FAIL [expected PASS] remote (null) to local (*), expect to fail
  │   → assert_false: Got response expected false got true
  │ FAIL [expected PASS] remote (none) to local (*), expect to fail
  │   → assert_false: Got response exp

[2016-02-02 20:59] jdm commented on #9472
No, I would expect the tests to be correct in this case. They were written independent of Servo's implementation of the spec by other web browser developers.

[2016-02-02 21:00] jdm commented on #9472
It's possible that our implementation wasn't performing a CORS check previously and now it is, and it's also possible that our CORS check implementation is incorrect and causing a test failure now.

[2016-02-02 21:02] KiChjang commented on #9472
In which case, the test expectations should be updated, and we should file an additional issue in fixing it.

[2016-02-02 23:00] Tycheon commented on #9472
I've gone back and forth between the original line, and the new line. It seems to be that tests are failing due to getting response that they shouldn't.

I'm thinking that is_simple_header() in /components/script/cors.rs is to blame, but my knowledge of the rest of the code isn't quite sufficient to know for sure.

So here's the question, that function definition is:

[code]

The problem (as I see

[2016-02-02 23:12] bluetech commented on #9472
The `is_simple_header` function is following the spec: https://fetch.spec.whatwg.org/#simple-header

I don't think there are really "invalid headers" (at this point) - perhaps you mean custom/non-standard headers? In which case, yes, if you add such to the request, they are not simple and a preflight request is needed.

Here is a more high level simplified description than the raw specs, in case y

[2016-02-02 23:14] timvandermeij commented on #9495
I would like to work on this one.

[2016-02-02 23:15] jdm commented on #9495
Go for it!

[2016-02-02 23:17] frewsxcv commented on #7981
A previous attempt at this was done in https://github.com/servo/servo/pull/7985, but it went unfinished

[2016-02-02 23:43] bluetech commented on #9472
For even higher level rationale, see http://tools.ietf.org/html/rfc6454, especially [3.4.2](http://tools.ietf.org/html/rfc6454#section-3.4.2).

Also note, that if you do a simple cross-origin XHR `GET`, without doing any `setRequestHeader`s, then the `header-list` at the time of the discussed check should be empty + the simple headers appended in the algorithm: https://fetch.spec.whatwg.org/#conce

[2016-02-03 01:32] larsbergstrom commented on #9504
@aneeshusa You should be able to ssh as root into servo-macpro1.servo.org. I'm doing some basic timing runs, but feel free to do whatever you need to the box! It's not hooked up to our CI yet.

[2016-02-03 02:30] g-k commented on #9455
OK, I pushed a branch that sets and gets `value` on Element and the last radio node list test passing: https://github.com/servo/servo/compare/master...g-k:html-input-value?expand=1

I'll run the rest of the wpt tests later, but I'm not sure if this is a good approach or what to do about `RemoveAttribute` and syncing `attrs.value` and `textinput` in HTMLInputElement.

[2016-02-03 02:34] larsbergstrom opened #9513 "OSX tests that spawn windows blast the WindowServer process"
On our OSX builders, I've noticed that while we are running at least test-css, the act of spawning the window and shutting it down while running tests causes the WindowServer process to basically eat up an entire CPU. We could dramatically reduce our runtime by fixing this.

cc @metajack

[2016-02-03 02:46] KiChjang commented on #9455
@g-k I left some comments on your commit, nice work so far!

[2016-02-03 11:37] #6119 closed

[2016-02-03 12:06] drbo commented on #7888
_ring_  would be my first choice; it uses a subset of BoringSSL.
On Feb 1, 2016 10:16 PM, "Sean McArthur" <notifications@github.com> wrote:

[2016-02-03 17:45] larsbergstrom commented on #9311
Dupe of #7723?

[2016-02-03 17:48] #9311 closed

[2016-02-03 18:29] pcwalton commented on #9484
This will not be an easy fix. The problem is that now we need two different notions of overflow—overflow including box-shadow and overflow not including box-shadow. :(

[2016-02-03 19:01] larsbergstrom commented on #9513
I'm going to look at glutin to see if it already supports headless rendering on OSX, and if not, play around with http://renderingpipeline.com/2012/05/windowless-opengl-on-macos-x/

cc @tomaka

[2016-02-03 19:05] larsbergstrom commented on #9513
`Headless mode (OSMesa) is not supported on your platform.`, darn!

[2016-02-03 19:25] tomaka commented on #9513
Where do you get this error?
`OSMesa` is specific to Linux.

[2016-02-03 19:36] jgraham commented on #9484
Is it possible to script this test so that it could be turned into a reftest?

[2016-02-03 19:38] pcwalton commented on #9484
We don't really have the ability to scroll from script, I don't think.

[2016-02-03 21:21] larsbergstrom commented on #9513
Hahaha! That's an error somebody put into our python driver code :-) I'll keep investigating and see what *actually* breaks in Rust code.

[2016-02-03 22:09] #9095 closed

[2016-02-03 23:00] pcwalton commented on #9431
I've got a proposed fix for this in servo/glutin#68.

[2016-02-04 00:00] Jayflux commented on #9468
[code]

[2016-02-04 00:43] larsbergstrom commented on #9468
Oh, wow, thanks! That helps a ton. The first failure is here:
https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L103

I suspect that is tied to the inability to correctly load up a Window within a VM host. We probably need to fiddle with our framebuffer selection to work there.

And the second one is:
https://github.com/servo/servo/blob/master/ports/glutin/window.rs#L290

This seco

[2016-02-04 00:45] vvuk commented on #9468
If we need to use software rendering we can probably build Mesa.
Alternatively, if d3d9 (or 11) is available, we can use ANGLE.

- Vlad

[2016-02-04 01:48] schuster commented on #8465
Sorry for the long delay - I've been trying to look at this here and there as I've had time during a busy work period for me.

I submitted a pull request, but right now it looks like the only thing that can be done without significant feature additions is making the comments reflect the actual steps of the spec. Here's what's missing:

Step 6: There's currently no way to get the collection of all

[2016-02-04 02:53] frewsxcv commented on #9106
Disabled in #9527

[2016-02-04 02:57] KiChjang commented on #9303
Disabled in #9524.

[2016-02-04 02:58] KiChjang commented on #9163
Disabled in #9524.

[2016-02-04 02:58] KiChjang commented on #9448
Disabled in #9524.

[2016-02-04 04:04] frewsxcv commented on #9502
This should be fixed by https://github.com/servo/servo/pull/9517

[2016-02-04 07:28] paulrouget commented on #7981
I'm going to give it a try.

[2016-02-04 07:59] KiChjang commented on #7981
Much obliged!

[2016-02-04 08:00] KiChjang opened #9528 "Intermittent crash of /_mozilla/css/only_of_type_pseudo_a.html"
[code]

[2016-02-04 10:48] fokinv opened #9530 "DataView"
As far as i know there is no way to make DataView in WebIDL. I would like to ask for some help with it, because we need to use it for the WebBluetooth.
Here is the error, when i try to build it:
WebIDL.WebIDLError: error: Unresolved type '<unresolved scope>::DataView'.
  readonly attribute DataView? value;

[2016-02-04 11:01] zakorgy opened #9531 "webidl uniontype dont generate for StringOrUnsignedLong"
I would like to ask for some help understanding this problem with the webidl-s
[bluetooth.rs](https://gist.github.com/zakorgy/e4d235b198cbc6182c7f)
[Bluetooth.webidl](https://gist.github.com/zakorgy/f7e35b80f74bbb76784e)
_the code line in the webidl file:_
`static UUID getService((DOMString or unsigned long) name)
`
_at first build attempt:_
[code]
_at second attempt this is what i expected:_
`err

[2016-02-04 11:10] Ms2ger commented on #9531
`AssertionError` by itself doesn't tell us anything; please try to figure out what assertion failed.

[2016-02-04 13:09] larsbergstrom commented on #9513
OMG, if I remove the python check, SERVO_HEADLESS just works! I'll do a timing run on our macpro shortly.

NIce work, @tomaka - headless on OSX just worked basically out of box :-)

[2016-02-04 13:15] larsbergstrom commented on #9513
@glennw @pcwalton

I'm trying to run our CSS tests with headless Servo, but most of the tests fail with:
[code]

I'll keep poking at this, as headless testing looks like it would dramatically reduce our runtime on the builders, but if anything jumps out at you, it would help.

(you can test by setting `SERVO_HEADLESS=1` in the environment and then tweaking the headless support platform check in py

[2016-02-04 13:24] zakorgy commented on #9531
The problem should be at the generating of the UnionType with the unsigned long primitive type. There is no such union type in the code yet.

[2016-02-04 13:37] jdm opened #9533 "Intermittent timeout in /css-text-decor-3_dev/html/text-emphasis-style-property-010Cn.htm"
[code]

[2016-02-04 13:37] jdm opened #9534 "Intermittent timeout in /css-text-decor-3_dev/html/text-emphasis-style-property-011b.htm"
[code]

[2016-02-04 13:43] #9495 closed

[2016-02-04 13:47] jdm commented on #9531
[code]

[2016-02-04 13:50] jdm commented on #9531
Looks like Gecko's CGUnionConversionStruct is very different from Servo's, so it's difficult to compare them.

[2016-02-04 14:14] Manishearth opened #9535 "Add test for websocket origin in a worker"
We should add a .worker.js test that ensures that a websocket's origin is correctly set when used from a worker.

.worker.js tests are automatically run in a worker context. and look like [this](https://github.com/Manishearth/servo/blob/ws-worker/tests/wpt/web-platform-tests/websockets/Send-data.worker.js)

We already have https://github.com/Manishearth/servo/blob/ws-worker/tests/wpt/web-platform-

[2016-02-04 14:49] Ms2ger commented on #9531
The problem is in particular with
[code]
assuming those are all indistinguishable. (This changed in the spec.)

The new Gecko code is
[code]
which should not be too hard to adapt, I think.

[2016-02-04 17:32] #5646 closed

[2016-02-04 18:22] pcwalton opened #9539 "Switch to the deque crate from crates.io"
It may have better performance via more precise memory ordering semantics, and it would let us remove about 400 lines of highly unsafe code from the tree.

[2016-02-04 18:23] nox commented on #9539
@pcwalton Where?

[2016-02-04 18:24] mbrubeck commented on #9539
@nox [util::deque](https://github.com/servo/servo/blob/d574b78313be75f3388123d11354b897598877a3/components/util/deque/mod.rs)

[2016-02-04 18:24] pcwalton commented on #9539
@nox Specifically: Replace https://github.com/servo/servo/blob/eb7039d04d4c83800ba9d92dc251222f79b83040/components/util/deque/mod.rs with https://crates.io/crates/deque/

[2016-02-04 18:35] rebstar6 commented on #9494
Can I work on this?

[2016-02-04 18:44] Wafflespeanut commented on #9494
Sorry, this issue's already been taken, and I feel very bad for not marking this assigned :/

[2016-02-04 18:47] alopatindev commented on #9508
Anyone mind if I pick this up?

The change should be probably something like that
[code]

But after the change I've got compilation errors related to enums that are used in `components/script/dom`.

[code]

Should the files in `components/script/dom` be **regenrated** (How if so? I didn't figure out from the docs) or **changed manually**?

Thanks!

[2016-02-04 18:51] rebstar6 commented on #9494
No worries!

[2016-02-04 18:55] jdm opened #9540 "Set request and response cookies for websocket connections"
We have code that sets up a network connection to a websocket server in `components/net/websocket_loader.rs`. This is initially an HTTP connection, so it should include things like HTTP cookies, but it currently doesn't. We should make the `set_request_cookies` function in `components/net/http_loader.rs` public and call it from `establish_a_websocket_connection`, which should change some test resu

[2016-02-04 18:56] jdm commented on #9540
Note that we'll need to pass the required CookieJar data as an argument to `establish_a_websocket_connection` in order to facilitate this.

[2016-02-04 18:59] jdm commented on #9540
Additionally, we should support setting cookies that are present in the HTTP response too. We should modify `set_cookies_from_response` to take a `&Headers` argument instead of `&HttpResponse`, then we can call that from `establish_a_websocket_connection` as well and pass even more tests.

[2016-02-04 19:03] jdm commented on #9508
Everything under `components` is written by hand.

[2016-02-04 19:20] rebstar6 commented on #9540
Sounds good, I'll take it!

[2016-02-04 19:50] Jayflux commented on #9468
**On my host machine**
 RUST_BACKTRACE=1 target/debug/servo.exe tests/html/about-mozilla.html
works, loads up the window and shows the book of mozilla.
However, when i run
[code]
I get
[code]

This is a bit hard to debug without a backtrace

[2016-02-04 19:52] jdm commented on #9468
`./mach` modifies the PATH which could affect the libraries that get loaded. See `./mach env` for the differences in the environment.

[2016-02-04 19:55] larsbergstrom commented on #9468
Hrm, I seem to remember something about rustc packaging a bunch of mingw libraries and `./mach env` putting those first in the path. I bet that we're picking up random rustc versions instead of the ones that we linked again. Maybe we should do like rust and copy them all next to the servo binary? That would also make it much easier to run Servo outside of a very carefully-constructed mingw environ

[2016-02-04 19:56] glennw commented on #9513
@larsbergstrom Depending on the version of OpenGL context you create, GLSL shaders may require you to specify the shader version with a #version preprocessor directive. So my guess would be that the headless option is creating a different version of opengl context than non-headless mode. Is that possible?

[2016-02-04 19:57] Jayflux commented on #9468
Anything i can do to help? You want me to paste my ```./mach env``` output?

[2016-02-04 20:00] Jayflux opened #9541 "Servo on Windows is sometimes failing with return value 127"
**On my host machine**
 RUST_BACKTRACE=1 target/debug/servo.exe tests/html/about-mozilla.html
works, loads up the window and shows the book of mozilla.
However, when i run via ./mach i get
[code]

When running without the rust backtrace Env i get....
[code]

This is a bit hard to debug without a backtrace, whats the difference between the 2?

[2016-02-04 20:01] Jayflux commented on #9541
I've moved the conversation from https://github.com/servo/servo/issues/9468 to this ticket as the previous ticket was about a separate issue

[2016-02-04 20:02] Jayflux commented on #9468
Ok
to stop this ticket going off track, ive moved the Host Windows machine issues to a separate ticket: https://github.com/servo/servo/issues/9541
so we can keep the conversation here on whats going on with the VM

[2016-02-04 20:05] Jayflux commented on #9541
Here is whats outputted when i run ```./mach env```

[code]

[2016-02-04 20:24] timvandermeij commented on #9501
I'm currently working on this one.

[2016-02-04 20:37] Jayflux commented on #9499
So would we check both msys and win32?
In the long term it would be good not to be relying so heavily on the mingw64 stuff at all

[2016-02-04 20:40] Jayflux commented on #9168
@vvuk is there a better fix for this long term?

[2016-02-04 20:48] vvuk commented on #9168
No idea. The better fix is to not use python in the build system (and especially not use virtualenv etc.), but that ship has sailed.

[2016-02-04 22:10] larsbergstrom commented on #9504
@aneeshusa Did you have a chance to do some manual testing of these rules? Or is there something that you'd like me to manually test?

Thanks!

[2016-02-04 22:59] Jayflux commented on #9541
Looks like this issue is a duplicate of https://github.com/servo/servo/issues/9465

[2016-02-04 23:23] jdm opened #9544 "./mach test is broken"
It tries to invoke the old reftest harness which no longer exists:
[code]

That being said, I think we should change the default behaviour of `./mach test` to suggest something better, rather than assume the user actually wants to invoke every test harness possible.

[2016-02-04 23:24] jdm commented on #9544
I would love if mach could look at the changed files in the git branch and recommend a test suite to run. I'd love it even more if it could recommend subdirectories somehow.

[2016-02-05 00:12] n-liam commented on #6483
Same error on mine in debug on Centos7

[2016-02-05 00:13] jdm commented on #6483
@n-liam Which error in particular?

[2016-02-05 00:14] n-liam commented on #6483
error: linking with `cc` failed: exit code: 1
I'm about to try to build release and see if I run into the same error.

[2016-02-05 02:51] #9494 closed

[2016-02-05 04:39] jdm commented on #6483
`note: /bin/ld.gold: error: cannot find -lEGL`. You need to install the appropriate package; it should be `mesa-libgl-devel` if you're on Fedora I think.

[2016-02-05 05:17] aneeshusa commented on #9504
I got caught up in school the last two days - I should be able to poke around today.

How can I run servo builds manually on the Mac (to ensure that the builds using autoconf and autoconf213 work properly)?

[2016-02-05 05:24] #9502 closed

[2016-02-05 06:22] n-liam commented on #6483
Thanks, for pointing that error out to me. I didn't see that it was missing a library somewhere, I should have grepped for errors first. It was solved by installing `mesa-libEGL-devel`, which oddly isn't in the listed dependencies (although the the library you listed `mesa-libGL-devel` is). I assume this is just because I am on Centos and not Fedora.

[2016-02-05 06:24] #9484 closed

[2016-02-05 06:30] jdm commented on #6483
No, it's probably necessary on Fedora as well. Would you like to make a pull request to add it to the README?

[2016-02-05 07:14] n-liam commented on #6483
Added the pull request.

[2016-02-05 08:56] KiChjang opened #9546 "Intermittent pass of /css21_dev/html4/floats-wrap-bfc-002-right-table.htm"

[2016-02-05 09:00] saurvs commented on #9507
I'd like to work on this.

[2016-02-05 09:26] KiChjang commented on #9507
Sure thing!

[2016-02-05 10:12] KiChjang opened #9547 "Implement Step 9 of the Open method for XHR"
This is the part that deals with setting the username and password on a URL. Can be easily done using the convenience methods provided in rust-url [here](http://servo.github.io/rust-url/url/struct.Url.html#method.username_mut).

Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#dom-xmlhttprequest-open

[2016-02-05 10:14] KiChjang opened #9548 "Implement Step 3 of the SetRequestHeader method in XHR"
This is where we should normalize the value being passed in as a `ByteString` paramemter.

Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#dom-xmlhttprequest-setrequestheader, https://fetch.spec.whatwg.org/#concept-header-value-normalize

[2016-02-05 10:30] nox opened #9550 "Intermittent FAIL [expected PASS] /_mozilla/css/filter_opacity_a.html"
[code]

[2016-02-05 10:44] KiChjang opened #9551 "Ensure step 3 of the OverrideMimeType method for XHR matches the spec"
Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#the-overridemimetype%28%29-method

[2016-02-05 10:47] KiChjang opened #9552 "Ensure step 3 of the SetResponseType method for XHR matches the spec"
Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#the-responsetype-attribute

[2016-02-05 10:52] paulrouget commented on #4144
@SimonSapin can we save the character received in `Event::ReceivedCharacter`, and in `Event::KeyboardInput`, use the saved character to build the `Key` instead of `key_code` (via `glutin_key_to_script_key`)?

We could probably reuse `key_from_string`: https://github.com/servo/servo/blob/fb3fe3d784c24cdfd8040af0282e5c2182ee2051/components/script/dom/keyboardevent.rs#L325

[2016-02-05 10:59] Ms2ger commented on #8931
Note that the test uses `!= null`, which is less strict than the check for undefined it should have.

[2016-02-05 11:11] KiChjang opened #9553 "Extract the document response algorithm out of the XHR Response method"
And perhaps name the new method `document_response`.

Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#the-response-attribute

[2016-02-05 13:17] andrewguertin opened #9555 "Servo crashes on any page with text: FontCacheThread' panicked ... "No buffer space available""
On my machine, when running servo and loading any page with text, servo crashes and prints the following:

thread 'FontCacheThread' panicked at 'called `Result::unwrap()` on an `Err` value: Error { repr: Os { code: 105, message: "No buffer space available" } }', ../src/libcore/result.rs:746

(Followed by some backtraces and other threads crashing, presumably because they can't talk to the crashed

[2016-02-05 13:48] SimonSapin commented on #4144
@paulrouget I think this would only work for ASCII at best. Most Unicode characters don’t have a corresponding key code.

[2016-02-05 14:10] nox opened #9556 "Remove dead function Overflow::union_rect"
Files:
 * components/layout/fragment.rs

Cc @pcwalton, why did you introduce that in #9522?

[2016-02-05 14:29] paulrouget commented on #4144
Right.

`ReceivedCharacter` doesn't work for many characters apparently (at least on mac). For example the `é` key or `` `+e `` -> `é` doesn't trigger a `ReceivedCharacter` event. I'm wondering if that works on Linux and Windows.

Then, the `KeyEvent` should have a `char_code` on `KeyState::Released`, based on the `ReceivedCharacter` event.

Then the input can be fed with the charcode.

[2016-02-05 14:53] jdm commented on #9555
Cc @pcwalton

[2016-02-05 15:05] SimonSapin commented on #4144
I was just speculating about `ReceivedCharacter`. I’ve filed https://github.com/tomaka/glutin/issues/719

[2016-02-05 15:42] larsbergstrom commented on #9513
Hrm, I added `#version` directives, and walked my way back from OpenGL 3.0 / version 130 all the way to 110, but still get:

`thread '<main>' panicked at 'Failed to compile shader: ERROR: 0:1: '' :  version '110' is not supported`

This does not seem promising.

[2016-02-05 15:59] larsbergstrom commented on #9504
No worries at all! You can test the build by doing:
[code]

Also, we may need to coordinate a bit with @mbrubeck, as he's also doing some testing of intermittent test failures. Let me know how you were going to do the tests if your classes get a bit overwhelming - I'm happy to help out! I just don't really know how to run salt "standalone" w/o the master to test pending changes.

[2016-02-05 16:00] SimonSapin commented on #4144
@paul, it sounds like you’re hitting glutin bugs. Could you file steps to reproduce on https://github.com/tomaka/glutin/issues ?

[2016-02-05 16:02] larsbergstrom commented on #9513
I find this really weird because we should be requesting OpenGL 3.2 successfully - I changed glutin's headless code like so:
[code]

[2016-02-05 16:10] metajack commented on #9513
@negge and I have been running into this with some of his glfw code on Mac. The Mac seems to be really picky about how this all gets set up, whereas linux doesn't seem to care at all. I suspect @tomaka or @glennw might know the correct incantations here.

[2016-02-05 16:30] mbrubeck opened #9557 "Download extra standard library packages only when cross-compiling"
Currently when downloading the Rust compiler, the `bootstrap_rustc` function downloads [two copies of the standard libraries][1]: one for the host platform, and one for cross-compiling to Android.

Instead, when *not* cross-compiling, we should download libraries for the host platform only. When cross-compiling (with `mach build --target` or `mach build --android`), we should download libraries fo

[2016-02-05 16:46] #8890 closed

[2016-02-05 16:50] vberger opened #9558 "Native wayland support via glutin"
Hi, I'm the maintainer of the [wayland-client](https://crates.io/crates/wayland-client/) crate and its friends, as well as the wayland backend of glutin.

As a way to stress-test and improve my implementations, I was thinking of tring to make servo run with them, and as planned, it did not work out of the box.

The first reason for this is the use by servo of glutin's `Window::platform_display()`(

[2016-02-05 16:55] larsbergstrom commented on #9558
@zmike, how did you work around all of this in your Servo-on-Wayland work?

[2016-02-05 18:05] aneeshusa commented on #9504
@larsbergstrom I updated the wiki page with instructions on how to run Salt remotely and locally - let me know if that helps.

@mbrubeck, let me know if/when you hop on the machine for some testing; I'll also make sure to check the output of ```w``` to see if anyone else is logged in.

[2016-02-05 18:14] jdm commented on #9558
My understanding is that platform_display is used for parenting windows in X. I assume it's deprecated in glutin by the plans for https://github.com/tomaka/glutin/pull/702.

[2016-02-05 18:15] jdm commented on #9558
Actually it looks like it's more complicated than that; sorry. There are more uses of `native_display()` than I expected.

[2016-02-05 19:53] jdm opened #9560 "Reenable html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute.html"
This is contingent on image loads being sensible after https://github.com/servo/servo/wiki/Image-load-conformance-student-project yields fruit.

[2016-02-05 21:18] timvandermeij commented on #9552
I would like to try to fix this.

[2016-02-05 21:20] jdm commented on #9552
Please do! Ask questions either here or on IRC!

[2016-02-05 22:00] jdm opened #9561 "Rename *_thread_source to *_task_source"
These were incorrectly renamed as part of #8522. These are terms from the specification which should refer to the concepts of "tasks", rather than the native concept of threads.

Code: `components/script/dom/window.rs`

[2016-02-05 22:08] aneeshusa commented on #9504
FYI: This is my fault for not updating the documentation earlier, but @larsbergstrom we should be using the install_salt script from the repo to install salt, instead of just ```brew install saltstack```. The install script keeps the Salt version pinned, which is helpful because sometimes there are compatibility problems between versions (see [this commit](https://github.com/aneeshusa/servo-saltfs

[2016-02-05 22:32] #8461 closed

[2016-02-05 23:48] aneeshusa commented on #9504
@larsbergstrom I can't seem to build successfully - I'm getting a lot of errors that say ```error: couldn't create a temp dir: No such file or directory (os error 2)```. It looks like the TMPDIR variable that's being set in ~/exports points to a nonexistent directory.

[2016-02-06 00:27] larsbergstrom commented on #9504
Gah! Just `unset TMPDIR`. Sorry about that!

On Fri, Feb 5, 2016 at 5:48 PM, Aneesh Agrawal <notifications@github.com>
wrote:

[2016-02-06 01:52] drbo commented on #7888
@seanmonstar @briansmith's _ring_ would be my first choice; it uses a subset of BoringSSL (which is the main TLS library used by Google's production servers, and thus expected to be extremely secure) and provides a safe Rust interface.

[2016-02-06 02:01] jdm commented on #8815
[code]

[2016-02-06 02:02] jdm commented on #8815
That previous stack trace looks like the exact problem that https://github.com/servo/ipc-channel/pull/30 was intended to solve.

[2016-02-06 02:21] larsbergstrom commented on #9504
@aneeshusa Thanks a ton for fixing up the wiki instructions! I'm sorry - I had seen the "warning, this needs an update" comment there, but when I ran through and fixed up the worst of the bits that were wrong, I assumed that was it. Thanks again for all your help with our infra!

[2016-02-06 02:27] #9501 closed

[2016-02-06 03:16] #9504 closed

[2016-02-06 04:55] drbo commented on #9442
Relying on access to a path with spaces is not a good idea on Windows, where usernames often have spaces.  I think that `mach` should be able to build & execute Servo in a path containing spaces.

[2016-02-06 06:21] #9507 closed

[2016-02-06 07:23] #6483 closed

[2016-02-06 12:25] rilut opened #9563 "Mach update-wpt error"
So, I wanted to update some test expectations via update-wpt. Instead, I've found this

[code]

Previously, I was
[code]

[2016-02-06 13:13] Ms2ger commented on #9563
I got this too earlier. Calling @jgraham

[2016-02-06 14:09] liviuba commented on #9553
Can I give it a try?

[2016-02-06 14:39] craftytrickster opened #9564 "properties.mako.rs truncating parsing error - template references"
properties.mako.rs refuses to compile when using references inside a generic parameter.

For example, the following code is valid rust, as tested in element.rs:

[code]

However, if you try to use that same code inside properties.mako.rs, the following error occurs:

[code]
Notice how the opening bracket after Vec**<** is removed.

This is causing several issues in the code I am trying to write fo

[2016-02-06 14:48] Manishearth commented on #9564
Could you paste the entire code that causes this (better yet, push it up to a branch)? I suspect there should be a way to escape the `<&`. Also, there should be a way to avoid the type annotations entirely.

[2016-02-06 15:15] jdm commented on #9553
Please do!

[2016-02-06 15:20] craftytrickster commented on #9564
Here is an example of the failure:
https://github.com/craftytrickster/servo/commit/fb989ecb932b314b799a023e9a3fa3d819575a9f

Sometimes type annotations are necessary, for example, when performing collect on an iterator. Necessary or not though, such a common language should definitely be allowed in the properties.mako.rs file.

[2016-02-06 15:28] Ms2ger commented on #9564
Fwiw, using `Vec<_>` might work as a workaround.

[2016-02-06 16:03] craftytrickster commented on #9564
Vec<_> does actually does help as a workaround thank you.

Either way, something should be done here, because this can be very confusing for someone who is not expecting this. This was extremely frustrating for me because when syntax errors occur, I assume I did something wrong (especially since I am fairly new to Rust), the last thing I would ever consider is a compilation step error.

in the wor

[2016-02-06 16:55] Manishearth commented on #9564
Couple of points:

The reason type annotations are required there are because `thing` isn't being used. Once you try pushing things to it the annotation would become unnecessary. I understand that collect often needs an annotation (underscore works well though), but it is rare that a let statement needs a full annotation.

Secondly, I think you are misunderstanding what properties.mako.rs is. It i

[2016-02-06 17:09] Tycheon commented on #9472
Haven't had a whole lot of time to work on this, and what time I did spend was spent trying to wrap my head around flow of execution.

**I'm not entirely certain how to perform that simple cross-origin XHR Get. Is that from within the js test suite? or from within the servo codebase proper?**

Also, I was able to pin down exactly which tests were failing within redirect-origin.html ... the bizarre

[2016-02-06 17:48] craftytrickster commented on #9564
I do understand that Mako is used for templating, in fact, I mixed python into my code as well in one of my commits here - https://github.com/craftytrickster/servo/commit/a1de4299781ac9dc62ac7022eea2c52fc43e755a.

What I did not expect was that it would cause valid Rust to be considered invalid. But I do agree with what you are saying, it is not Mako's job to understand Rust, so we cannot modify i

[2016-02-06 18:50] jdm commented on #9472
APIs that rely on the CORS  implementation are easiest to observe when invoked from JS, rather than from Servo proper. The simplest example is an XMLHttpRequest on one origin performing a GET request to another origin with a custom request header present (eg. `X-foo`). http://mxr.mozilla.org/servo/source/tests/wpt/web-platform-tests/cors/request-headers.htm?force=1 is a decent instance of this in

[2016-02-06 18:55] larsbergstrom commented on #9442
@drbo Certainly, I'd be open to another (definitely *not* `E-easy`) issue to get paths with spaces working on Windows. However, for this issue, since we do not currently support paths with spaces, I'd like to have a clear error message in place until someone has time to look at paths with spaces.

[2016-02-06 18:56] jdm commented on #9472
So all of the cases that report problems with the change are cases that were expected to return no response, ie. a CORS violation was expected. However, it appears that the violation is only being reported when the preflight is requested (ie. `req.preflight_flag = true`), so now the code believes that the request is fine, hence the test failures. The solution will not be to ensure that there is a

[2016-02-06 18:58] jdm commented on #9472
I think the integration point you're looking for is in XMLHttpRequest::Send (`components/script/dom/xmlhttprequest.rs`), where we start making decisions about CORS things. This corresponds to JS calling the `send` method on an `XMLHttpRequest` object.

[2016-02-07 00:10] #9552 closed

[2016-02-07 02:24] #9508 closed

[2016-02-07 14:27] timvandermeij commented on #9556
I can take care of this.

[2016-02-07 15:24] Tycheon commented on #9472
Thanks @jdm =)

I've shoots booked all weekend, so I'll dig deeper on Monday or Tuesday.

I figured that a simple one-liner would be an easy place to start, to pop my "first PR cherry". Guess nothing is ever as simple as it appears. Thanks for pointing me in the right direction in the codebase!

[2016-02-07 15:27] paulrouget opened #9566 "Browser API: implement setVisible"
… along with `mozbrowservisibilitychange` and `getVisible`: https://github.com/paulrouget/mozBrowserAPI/blob/master/BrowserAPI.md#the-setvisible-method

I guess it's just a matter of freezing/thawing the pipeline.

[2016-02-07 21:06] kmuszyn commented on #9561
Hello, I think this looks like a good task for a complete newbie here, can I work on it?

[2016-02-08 01:28] KiChjang commented on #9561
Yes, definitely!

[2016-02-08 03:09] #8842 closed

[2016-02-08 05:21] dhana18 opened #9568 "first java application"
first program
[student.zip](https://github.com/servo/servo/files/121135/student.zip)

[2016-02-08 05:33] KiChjang commented on #9568
Please open a pull request instead of filing an issue and submitting a file.

[2016-02-08 05:34] #9568 closed

[2016-02-08 10:05] paulrouget commented on #4144
https://github.com/tomaka/glutin/issues/721

[2016-02-08 13:38] paulrouget commented on #4144
So we need to bring the character down to textinput.rs.

It should be enough to initialize the keyboard event with this character + virtual keycode.

Keyboard events are initialized with the help of the `key_properties` function: https://github.com/servo/servo/blob/4c4df37a128d2848f13fc2e5ebd4d69a4db8c483/components/script/dom/keyboardevent.rs#L114

Here, relevant properties are set.

From what I

[2016-02-08 15:29] SimonSapin commented on #4144
How would this be done? `Event::ReceivedCharacter` is separate from `Event::KeyboardInput` in glutin, and as far as I know they don’t map 1 to 1: a single character sometimes requires more than one key press to type, and a key press sequence could overall result in more than one `char` at once e.g. in complex input methods like Japanese.

Shouldn’t we rather bring both kinds of events separately t

[2016-02-08 15:37] jdm commented on #4144
@paul I don't understand your questions about `from_string` and `String`, unfortunately. At least, I don't understand how they're related to the gist.

[2016-02-08 15:38] Ms2ger opened #9569 "TextInput::replace_selection confuses chars and bytes."
[code]

`insert.chars().count()` returns a number of `char`s, while the slicing syntax expects a number of bytes.

[2016-02-08 15:42] larsbergstrom commented on #9513
That would be helpful! The headless offscreen code in glutin looks pretty much identical to that form Apple's dev docs, at least in terms of the offscreen framebuffer:
https://developer.apple.com/library/prerelease/mac/documentation/GraphicsImaging/Conceptual/OpenGL-MacProgGuide/opengl_offscreen/opengl_offscreen.html#//apple_ref/doc/uid/TP40001987-CH403-SW2

I may have to try to reduce down my app

[2016-02-08 17:19] jdm commented on #9280
@vwvww That sounds right to me!

[2016-02-08 17:19] jdm commented on #9281
@GuillaumeGomez Is this something you're actively working on or should we return it to the pool?

[2016-02-08 17:20] jdm commented on #9152
@mskrzypkows Have you made any progress with this? Any questions?

[2016-02-08 17:25] tomaka commented on #9513
If you request the profile 3.2, then your shader won't compile.
If you don't put any `#version` header, it is assumed to be GLSL version 110, which isn't supported by OS X's core 3.2 profile.

I don't know how Servo works, but usually when you write an app you settle on a specific OpenGL version and 1) make sure you request the correct version at initialization. 2) put the correct `#version` heade

[2016-02-08 18:48] rebstar6 commented on #9540
@jdm - do you mean [CookieJar](http://cyderize.github.io/rust-websocket/doc/cookie/struct.CookieJar.html) or the cookie_jar: &Arc<RwLock<CookieStorage>> that's used in http_loader's set_request_cookies? I assume the latter given that the plan is to use that function, but just checking.

Also I'll need some help on this later - should I just post questions here or ping everyone in IRC?

[2016-02-08 19:05] apopiak commented on #9551
I'd like to take this one.
Anything to look out for specifically?

[2016-02-08 19:11] jdm commented on #9551
[code]

[2016-02-08 20:02] GuillaumeGomez commented on #9281
@jdm: Sorry, I wanted to do it the next week-end. However, if this is really urgent, let's return it to the pool.

[2016-02-08 20:27] Gozala opened #9573 "`input.onkeypress` is never called"
I run into this issue in mozilla/browser.html#863 it turns out servo never dispatches `keypress` events. Here is also a simple test case I've created:

[code]

If you type into input field and type `s` you should see:

[code]

in servo you'll see following instead:

[code]

[2016-02-08 20:27] Gozala commented on #9573
Cc @paulrouget

[2016-02-08 20:31] Gozala opened #9574 "`input.parentNode.oninput` is never called"
It looks like `input` events do not propagate as they are expected. Here is an example that illustrates the issue:

[code]

Typing `s` into input should produce following output:

[code]

On servo it produces following instead:

[code]

[2016-02-08 20:31] Gozala commented on #9574
/cc @paulrouget

[2016-02-08 20:34] jdm commented on #9574
The radio/checkbox input event [bubbles](http://mxr.mozilla.org/servo/source/components/script/dom/htmlinputelement.rs#872), but the text input event [does not](http://mxr.mozilla.org/servo/source/components/script/dom/htmlinputelement.rs#959).

[2016-02-08 20:35] jdm commented on #9574
This is a straightforward fix to improve conformance with the [specification](https://html.spec.whatwg.org/multipage/forms.html#text-%28type=text%29-state-and-search-state-%28type=search%29:event-input-input).

[2016-02-08 20:38] jdm commented on #9574
Unfortunately I don't know that there's a way to write an automated test for this, since the input event should only be dispatched based on explicit user input.

[2016-02-08 20:42] Gozala opened #9575 "`input.onchange` is never called"
I believe change events are never dispatched. Here is simple example

[code]

Type `s` in input & click blanch space. You should see following:

[code]

in servo you'll see nothing.

[2016-02-08 20:42] Gozala commented on #9575
/cc @paulrouget

[2016-02-08 20:43] jdm commented on #9540
Yes, the latter is the one I meant. If you have questions and don't need to dash off immediately, IRC is great for questions. If you don't get a response or don't have time to wait for answers, right here is fine. It's up to you!

[2016-02-08 21:15] jdm commented on #9281
Not urgent! I was just browsing through assigned issues that hadn't been touched in several weeks.

[2016-02-08 21:33] jdm commented on #9553
@KiChjang Did you have something specific in mind? There already is a `document_response` method, and the code in `Response` that deals with documents is already quite small.

[2016-02-08 21:50] jdm commented on #9573
HTMLInputEvent::handle_event calls PreventDefault when a keydown event causes the text input to change. `Document::dispatch_key_event` checks whether the `keydown` event was prevented before dispatching `keypress`. We need to resolve this mismatch.

[2016-02-08 21:52] jdm commented on #4507
We have code that does this.

[2016-02-08 21:52] #4507 closed

[2016-02-08 21:54] jdm commented on #3557
We have code that does this.

[2016-02-08 21:54] #3557 closed

[2016-02-08 21:57] jdm commented on #9575
The checkbox and radio code dispatches a "change" event, but the oddly-named `ChangeEventRunnable` in htmlinputelement.rs only dispatches an "input" event.

[2016-02-08 22:33] rebstar6 commented on #9540
Ok, so far I've changed the method signatures and tried just passing the cookie_jar along -
https://github.com/rebstar6/servo/commit/98055b4bff6d46d9cdb20b03ffc76e19ac99f7b9

Just to confirm, is passing self.cookie_storage.clone() from resource_thread the right approach (read: by the time the websocket_loader::init call is made, are the cookies already in this object)? That, or does some other wor

[2016-02-08 22:43] jdm commented on #9540
Yes, cloning the `self.cookie_storage` value will yield a pointer to the storage for all cookies. The `Arc<Rwlock<CookieStorage>>` means that it's a value that is shared between multiple threads, so every consumer has the ability to update it and see others' updates automatically.

[2016-02-08 22:54] rebstar6 commented on #9540
So there's one cookie_jar object for the browser for any cookies that it may have stored at any given point in time (?)

[2016-02-09 03:48] jdm commented on #9540
Yes, the cookie jar is shared globally among all network connections. And your understanding is correct.

[2016-02-09 04:25] glennw opened #9578 "Overflow area should take transforms into account."
As discussed near the end of this section - https://drafts.csswg.org/css-transforms/#transform-rendering

This breaks some things in WebRender due to the way clipping is handled.

cc @pcwalton

[2016-02-09 04:43] KiChjang commented on #9553
Yes, @Msger commented on my PR [here](https://github.com/servo/servo/pull/9383#issuecomment-179783236) and he specifically said that he'd like to move the functionality out of the match arm and into a function of its own.

I haven't actually looked into it, but it seems like the current code is wrong as well. We should really NOT be calling `GetResponseXML()` and instead call `document_response`.

[2016-02-09 07:07] mmatyas opened #9579 "rustc-with-gold = false has no effect"
On Ubuntu 14.04, the gold linker does not support AArch64, so I wanted to disable it for cross compilation. However, setting `rustc-with-gold = false` in `.servobuild`, setting the default value in `python/servo/command_base.py` to False or setting `LD` does not seem to have any effect. The build always fails when building mozjs, with errors like:

[code]

(note the `-B ../../build/unix/gold` flag

[2016-02-09 07:35] paulrouget commented on #4144
Erf, I meant `key_string`, not `from_string`. My comment is not clear. I'll come back with more specific questions.

[2016-02-09 08:04] paulrouget commented on #4144
We could.

I am assuming that there's always a `KeyboardInput` event for a `ReceivedCharacter` event (the inverse is not true). So attaching the character to the keyboard event might be enough.

I'm not sure glutin supports that. ReceivedCharacter is only one char.

If we want to support complex input methods (IME), we need to support [composition events](https://w3c.github.io/uievents/#events-com

[2016-02-09 08:34] #8544 closed

[2016-02-09 08:42] Ms2ger commented on #9553
Looks like we already have a `fn document_response`, but the caching is handled in `fn GetResponseXML`. The thing I'd like to change here is to move the caching into `document_response`, so that it more closely aligns with [the spec](https://xhr.spec.whatwg.org/#document-response). This would allow us to change the call to `GetResponseXML` in `fn Response` to use `document_response` directly, and

[2016-02-09 08:58] paulrouget commented on #8077
Bumping to bhtml P2. Now we have an awesomebar, we need to be able to highlight the selected text in an `<input>`.

[2016-02-09 10:02] paulrouget opened #9582 "Support XMLHttpRequest({mozSystem:true}) (or something similar)"
In Browser.html, we need to do some XHR calls that ignore CORS.

In Gecko, it's possible to force this by create a XHR like this:

[code]

See http://mxr.mozilla.org/mozilla-central/source/dom/webidl/XMLHttpRequest.webidl#31

In Servo, we would just need to support this optional JSON parameter in the constructor, and add a `mozSystem` property that would be checked [here](https://github.com/servo/

[2016-02-09 10:07] Ms2ger commented on #9582
I would be very skeptical of supporting this.

[2016-02-09 11:32] #9563 closed

[2016-02-09 13:58] paulrouget commented on #9582
I'm not really happy about polluting existing standards like this.

But this is what Gecko does.

Maybe we should re-think the way we give privileges and add APIs to privileged pages.

We can work around this issue for now in browser.html.

[2016-02-09 16:12] metajack commented on #9582
Let's step back and discuss why you need to disable CORS in the first place. Maybe an alternate solution can be thought of.

[2016-02-09 16:51] Gozala commented on #9582
One use case we currently have is to query search engines (like api.duckduckgo.com) to provide suggestions in the address bar. Since they don't provide CORS headers we are either left with JSONP option (which arguably is even less secure).

I also do not necessarily like `{mozSystem:true}` API extension, but to implement browser we do need extra things that are not available through standard web A

[2016-02-09 17:52] Tycheon commented on #9472
So, I'm looking through XMLHttpRequest::Send() and the associated spec at https://xhr.spec.whatwg.org/#the-send()-method ... both code and spec seem to line up nicely until step 9. Is there a CORS portion of the Send() spec that's located somewhere else? Or is it all in https://fetch.spec.whatwg.org/#cors-preflight-fetch-0 ?

Also, with regards to the preflight_flag, it is *not* being set for the

[2016-02-09 19:18] rebstar6 commented on #9540
Ok, added the call in https://github.com/rebstar6/servo/commit/4879f0812dc183600c5134c5e643a6ea005340c8 so 2 more tests pass. That said, in http_loader, there is a check 1st on the load_data credentials flag (see http://mxr.mozilla.org/servo/source/components/net/http_loader.rs#530)

Is there an equivalent for websocket_loader, or is the call for everyone ok?

[2016-02-09 19:33] jdm commented on #9540
I don't believe there's a way for websockets to specify that they don't want credentials, so that's fine.

[2016-02-09 20:13] jdm commented on #9530
I've been looking into it, and I don't see any support for using DataView in WebIDL in Gecko. I would recommend using `any` and performing the necessary conversions yourself (check that the JS value is an object, convert it to an object, and use code similar to `array_buffer_view_to_vec_checked`.

[2016-02-09 20:18] hallvors opened #9585 "GL context creation failed error on ThinkPad X41 running (L)Ubuntu 15.10"
Checked out Servo just for fun, to see if it compiled on this computer (it does). However, it doesn't run..

[code]

This computer is a few years old, but it would be fun to see Servo run on it.

https://github.com/tomaka/glutin/issues/314 seemed somewhat relevant, but it's closed (and it's a different project..)

[2016-02-09 20:57] jdm commented on #9540
I was wrong about dealing with cookies from the response, unfortunately. https://html.spec.whatwg.org/multipage/comms.html#feedback-from-the-protocol means that we need to extract the value of the Set-Cookie header from the response, send it to the child as part of the `ConnectionEstablished` message, and have the child set the cookies before dispatching the "open" event. This can be accomplished

[2016-02-09 21:03] nikkisquared opened #9587 "Test different URL encodings for Cors Check in Fetch"
As @asajeffrey pointed out[1], specifications and standards for handling URLs are inconsistent, and it'd be great to verify how they are working for Fetch's Cors Check step, which works on and cross-compares different Origins.

Tests for this would go in fetch.rs inside the tests/unit/net folder. The test for making a CORS filtered response would be the basis for the new tests, by changing the Acc

[2016-02-09 21:11] rebstar6 commented on #9540
Is this in addition to or instead of the set_cookies_from_response call?

[2016-02-09 21:14] jdm commented on #9540
Instead of.

[2016-02-09 21:41] #9556 closed

[2016-02-09 21:44] rebstar6 commented on #9540
Backing up for a second, why did that call make 002/004 pass but not this? Specifically comparing 002 and 007, what's happening in 007 that's failing because we've set the cookie?

Looking at the spec and the test itself, I think I just don't get what 007 is testing

[2016-02-09 21:56] jdm commented on #9540
007 is testing when the cookies from the response are stored in the shared cookie storage. Specifically, the specification mandates that that operation should not occur until right before the "open" event is dispatched. 007 is making a websocket connection, then making another network connection that takes at least two seconds, then checks to see whether the cookie that the websocket response incl

[2016-02-09 22:02] rebstar6 commented on #9540
So the cookie is just being stored too early, and we instead want it to happen within this:
[code]
Is that right?

[2016-02-09 22:11] jdm commented on #9540
Take a look at the implementation of ConnectionEstablishedTask and it should be clear where it slots in.

[2016-02-09 22:59] rebstar6 commented on #9540
Hah, the // Step 5: Cookies. Yeah, I guess that's clear.

My 1st thought is that we should have the cookie to be set at this point because we have all of the headers, so it's not immediately clear that we would need to pull set-cookie headers out in websocket_loader to be fed into the ConnectionEstablished call. Could we not just pull it out of the self.headers when we get to step 5?

This all sai

[2016-02-09 23:04] jdm commented on #9540
No, you're right - the headers are already available there.

[2016-02-10 03:20] glennw commented on #9578
I realised that this can be solved inside webrender.

[2016-02-10 08:15] Ms2ger commented on #9472
The xhr spec used to specify all this explicitly, before the fetch spec existed; now it defers to the fetch spec, but our code still reflects the previous structure.

[2016-02-10 09:18] srh commented on #5643
This appears to be fixed, running on a Debian Jessie host (with VBox 4.3.36_Debian) and also on an OS X host (with some 5.0 version of VirtualBox, for what it's worth).

This is the *successful* console output I get:
[code]

I would close this issue, but there's a reference in the README to this -- feel free to close this, and if you want to, update the README before doing so.

[2016-02-10 13:23] jdm opened #9592 "No load blocker created when iframe.reload() is used"
There's no URL present, so we can't create a load blocker. We should fix this by making sure the iframe is always aware of the url of the currently framed document.
#6677

[2016-02-10 13:31] larsbergstrom opened #9593 "Windows build is broken due to missing `je_malloc_usable_size` referenced by `heapsize`"
[code]

[2016-02-10 13:58] Jayflux commented on #5643
I will try this on a Windows host, update the readme then close the ticket

[2016-02-10 15:09] TimNN commented on #9548
If this is not yet taken, I would like to give fixing this a shot.

[2016-02-10 15:19] Ms2ger commented on #9548
@timvandermeij: since you were asking, are you working on this or is it free for @TimNN?

[2016-02-10 15:47] #6663 closed

[2016-02-10 15:48] timvandermeij commented on #9548
@Ms2ger Sorry, I should have mentioned here too that I'm working on this! I almost have a patch for this, but I'm pretty sure it can be improved. I'll have a PR in a bit, but any feedback is greatly appreciated, so I'd love to hear @TimNN's ideas on my approach too!

[2016-02-10 15:54] Ms2ger opened #9594 "Precompute presentational hints"
See https://github.com/servo/servo/pull/6311

[2016-02-10 18:58] jdm commented on #9472
XMLHttpRequest::check_cors seems to be the place where we would expect the relevant checks to occur. Unfortunately, CORSRequest::http_fetch_async (and therefore CORSRequest::http_fetch) seems to do no checking at all if no preflight is requested.

[2016-02-10 18:59] jdm commented on #9472
There's also allow_cross_origin_request which is called from XMLHttpRequest::process_headers_available, which might be relevant here.

[2016-02-10 19:36] Jayflux commented on #5643
I can confirm that using a Windows host machine, with 3D acceleration turned on (Vbox 5) the problem has gone away, I have added a PR: https://github.com/servo/servo/pull/9596

[2016-02-10 20:26] Jayflux commented on #9433
@psdh this can be marked as assigned

[2016-02-10 20:30] Jayflux commented on #9392
Should this be marked as assigned then?

[2016-02-10 20:44] jdm commented on #9392
@Jayflux Generally it's less important to mark issues that aren't in the categories with high-visibility (and/or surfaced by tools like http://servo.github.io/servo-starters/).

[2016-02-10 20:55] Jayflux opened #9597 "Use Python's uname and not the external uname"
On Windows when running outside of mingw64 i get told my machine is 32Bit and it also cannot find a version of Rust to download.
I've narrowed the problem down to uname -m returning the wrong result in here https://github.com/servo/servo/blob/master/python/servo/command_base.py:
[code]

It looks like it would make sense if we just used the built in platform.uname() function within python, which me

[2016-02-10 21:32] #5643 closed

[2016-02-11 01:31] michaelwu opened #9599 "Do not use lookup tables for put_image_data operations"
https://github.com/servo/servo/pull/8086 is pretty sketchy. If floating point math is a bottleneck here, then we can switch to fixed point math. Using a 64kbyte lookup table to avoid floating point multiplication isn't worth it. For really fast CPU results, use integer SIMD instructions to handle more than one pixel at a time.

[code]

128 can be added before dividing to round more accurately.

cc

[2016-02-11 07:54] vwvww commented on #9280
@jdm Thanks for the comment! I was busy doing my own work these days, but I think I can work on this issue after a couple of days.

[2016-02-11 09:12] Ms2ger commented on #9597
Interestingly, I found this in the `configure` we had before we used cargo:
[code]

[2016-02-11 10:00] vishy1618 commented on #9442
I'd like to give this a try, if no one else is working on this.

[2016-02-11 12:37] KiChjang commented on #9442
Go for it!

[2016-02-11 13:57] #6984 closed

[2016-02-11 14:21] jdm opened #9604 "Compiled event handlers and script elements need the source file and line numbers"
#8491 adds a bunch of TODOs and uses fake values right now.

[2016-02-11 15:51] #8489 closed

[2016-02-11 20:39] psdh commented on #7818
This seems to fail on https://github.com/w3c/web-platform-tests/blob/master/html/semantics/forms/the-input-element/radio-groupname-case.html#L17 (on `&#x212a;` to be specific). But at the same time, line number 34 doesn't fail.

[2016-02-11 21:21] KiChjang commented on #7818
For reference, `&#x212a;` is the Kelvin sign used for measuring temperature.

[2016-02-11 21:36] gordonbrander opened #9609 "Crash: "too many open files""
This was in a webrender build. cc @pcwalton @metajack

[code]

[2016-02-11 21:37] jdm commented on #9609
@gordonbrander Any steps to reproduce? What platform?

[2016-02-11 21:41] gordonbrander commented on #9609
@jdm Unfortunately, no STR. Webrender build on Mac. I had 3 tabs open in Browser.html/Servo and everything was working great. The crash happened without warning. @metajack was screensharing with me when it happened :)

[2016-02-11 21:48] jdm commented on #9609
@gordonbrander Had you loaded multiple pages before receiving this?

[2016-02-11 23:10] gordonbrander commented on #9609
@jdm yes, all 3 pages (iframes) were running without a problem in Browser.html for about 20 second. The crash didn't correspond to any obvious event.

[2016-02-12 02:14] nhirata opened #9612 "should document that pyobjc needs to be installed as well."
At least on a fresh install, found out that in order to compile, you need to install pyobjc for the dev version:

pip install -U pyobjc

[2016-02-12 02:52] KiChjang commented on #9612
What steps have you taken to compile?

[2016-02-12 03:43] jdm commented on #9609
@gordonbrander Any idea what pages were loaded in the frames? Had any of the frames been navigated from other pages previously? I'm just trying to establish some sort of useful context here :)

[2016-02-12 03:45] jdm commented on #9612
@nhirata Is based on the message at the end of a build on OS X that says that notifications can't be displayed without installing pyobjc?

[2016-02-12 04:58] psdh commented on #7818
@KiChjang Yep it is, the same kelvin sign matches correctly to 'k' (006b) in line 34. Not sure why that is happening

[2016-02-12 07:32] #9574 closed

[2016-02-12 10:05] KiChjang commented on #2382
The bugfix has landed on bugzilla.

[2016-02-12 13:59] Wafflespeanut opened #9616 "Fix `mach` to let paths in spaces"
#9442 is not only an issue for Windows, but for all platforms, i.e., `mach` exits if there's space in its path. Though #9601 adds a helpful suggestion, we should fix it.

[2016-02-12 14:01] rmabhatia commented on #4874
can any one help me....... i got error "No Servo Binary Found"  when i entered ./mach run command...

[2016-02-12 14:02] Manishearth commented on #4874
@rmabhatia Please run `./mach build` first :smile:

[2016-02-12 14:10] rmabhatia commented on #4874
did that but still got the error

[2016-02-12 14:11] Manishearth commented on #4874
Did the build exit successfully? What are the contents of `target/` and `target/debug`?

Perhaps run `./mach build -d` instead.

[2016-02-12 14:14] rmabhatia commented on #4874
The details of the failure are as follows:

CalledProcessError: Command '[u'git', u'submodule', u'status']' returned non-zero exit status 128

  File "/home/rama/Downloads/servo-master/python/servo/build_commands.py", line 196, in build
    self.ensure_bootstrapped()
  File "./python/servo/command_base.py", line 401, in ensure_bootstrapped
    Registrar.dispatch("update-submodules", context=self.c

[2016-02-12 14:15] rmabhatia commented on #4874
i did the ./mach build -d

[2016-02-12 14:15] Manishearth commented on #4874
Ah, Please update to the latest version of `git`

[2016-02-12 14:16] rmabhatia commented on #4874
please guide me this......

[2016-02-12 14:27] rmabhatia commented on #4874
rama@ubuntu:~/Downloads/servo-master$ git --version
git version 1.9.1
rama@ubuntu:~/Downloads/servo-master$ apt-get install git
E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)
E: Unable to lock the administration directory (/var/lib/dpkg/), are you root?
rama@ubuntu:~/Downloads/servo-master$

[2016-02-12 14:28] rmabhatia commented on #4874
getting this error while installing git

[2016-02-12 14:28] Manishearth commented on #4874
You need to use `sudo apt-get install git`.

(Might want to join the #servo IRC channel on irc.mozilla.net, using IRCCloud or Mibbit to join to discuss further)

[2016-02-12 14:42] rmabhatia commented on #4874
rama@ubuntu:~/Downloads/servo-master$ git --version
git version 1.9.1
rama@ubuntu:~/Downloads/servo-master$ apt-get install git
E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)
E: Unable to lock the administration directory (/var/lib/dpkg/), are you root?
rama@ubuntu:~/Downloads/servo-master$

[2016-02-12 14:42] rmabhatia commented on #4874
rama@ubuntu:~/Downloads/servo-master/etc$ sudo apt-get install git
[sudo] password for rama:
Reading package lists... Done
Building dependency tree
Reading state information... Done
git is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 265 not upgraded.
rama@ubuntu:~/Downloads/servo-master/etc$

[2016-02-12 14:44] #9442 closed

[2016-02-12 14:45] rmabhatia commented on #4874
this is saying already new version

[2016-02-12 15:06] psdh commented on #7818
As SimonSapin pointed out, [html spec](https://html.spec.whatwg.org/multipage/infrastructure.html#compatibility-caseless) says "no language-specific tailorings", and [Unicode's CaseFolding.txt](http://www.unicode.org/Public/UNIDATA/CaseFolding.txt) says about T "For non-Turkic languages, this mapping is normally not used."

[2016-02-12 15:23] SimonSapin commented on #7818
I think this is a test bug: https://github.com/w3c/web-platform-tests/issues/2579

[2016-02-12 15:29] larsbergstrom commented on #9616
This should also include CI tests for all of our build platforms (Windows, OSX, and Linux), as it's super-easy to either break it or pick up a new dependency that doesn't support spaces in paths.

[2016-02-12 15:42] jdm opened #9617 "Update various canvas properties to use enums instead of DOMString"
https://github.com/whatwg/html/commit/a4b9eef6ff40c394cf6ec9247ce6286795348f3f was merged into the HTML spec, so we should update our Canvas WebIDL declarations to match it.

Spec: https://html.spec.whatwg.org/multipage/scripting.html#canvaslinecap
Code: `components/script/dom/webidls/Canvas2dRenderingContext.webidl`, `components/script/dom/canvasrenderingcontext2d.rs`

[2016-02-12 15:54] jdm commented on #5971
Having thought further about it, I don't yet have a good idea of how to control the actions of the server.

[2016-02-12 17:10] bholley commented on #2382
FWIW, the spec for this is still being finalized (and is actually moving, after stalling for several years). So I might still wait a bit longer, or at least coordinate with @annevk.

[2016-02-12 17:16] nhirata commented on #9612
The steps I took were using the brew path on Mac 10.10.5:
1) brew install automake pkg-config python cmake
2) pip install virtualenv
3) git clone https://github.com/servo/servo
4) cd servo
5) ./mach build --dev
6) ./mach run tests/html/about-mozilla.html

Is there any other steps I missed from the front page of installing?  Or is there a different page I should be referring to?

Yes, jdm, there wa

[2016-02-12 17:25] nhirata commented on #9612
To note, after following the above and fixing my link issue with autoconf, I was able to successfully build.

[2016-02-12 17:27] jdm commented on #9612
@nhirata So what in those steps suggested that pyobjc is necessary?

[2016-02-12 17:31] jdm opened #9619 "Intermittent crash in /html/dom/elements/global-attributes/dir_auto-*.html"
[code]

[2016-02-12 17:34] nhirata opened #9620 "Crash when hitting back from going to google maps."
1. ./mach run http://people.mozilla.com/~nhirata/html_tp
2. select AndroidLinks.html
3. select maps html link
4. while page is trying to load hit command and left arrow key.

[code]

[2016-02-12 17:44] jdm commented on #9620
I haven't been able to reproduce this following those steps, unfortunately.

[2016-02-12 18:08] gordonbrander commented on #9609
Yeah, apologies I wasn't able to come up with a clean STR for this. I believe the tabs open were:

- http://github.com
- http://notcot.org
- metajack.im

[2016-02-12 18:45] annevk commented on #2382
See https://github.com/whatwg/html/pull/638 for progress on that. I guess there should also go some thought into whether Servo wants the Gecko or the Chromium setup. While the latter is not safe in the face of document.domain, it's vastly simpler.

[2016-02-12 19:07] bholley commented on #2382
Given that Servo is using SpiderMonkey, I would recommend the Gecko setup for access checks. The Chromium setup relies on a bunch of pretty-fragile invariants to make its simplifications. The SpiderMonkey people are unlikely to be paying as close attention to those details, because the wrapper/membrane setup makes Gecko safe by default.

Then there's the question of how to obtain the "clean view p

[2016-02-12 21:32] larsbergstrom commented on #9597
Regardless of why it happens, it seems like using the built-in `platform.uname()` function in python is the right way to go instead of relying on whatever random `uname` binary happens to be installed and first in the `PATH`.

But no, I don't know why it happens offhand :-)

Thanks for investigating this! Would you be interested in doing a PR to fix it? Or should I open up an `E-Easy` bug for it?

[2016-02-12 23:36] danlrobertson commented on #9547
I'd like to take a crack at this!

[2016-02-13 00:58] #9557 closed

[2016-02-13 02:34] KiChjang commented on #9547
Sure thing!

[2016-02-13 06:43] KiChjang opened #9623 "Implement Blob response for XHR"
We currently have document responses implemented and a PR for caching JSON responses (#9621). We'd also like to support Blob responses and caching them correctly as well.

Code: `components/script/dom/xmlhttprequest.rs`
Spec: https://xhr.spec.whatwg.org/#blob-response, https://xhr.spec.whatwg.org/#the-response-attribute
Test: `tests/wpt/web-platform-tests/XMLHttpRequest/response-data-blob.htm`

Bl

[2016-02-13 06:48] danlrobertson commented on #9623
Looks interesting. I'd like to take a crack at this!

[2016-02-13 06:55] KiChjang commented on #9623
Yes, please do!

[2016-02-13 10:47] Jayflux commented on #9597
@larsbergstrom I'm happy to work on this, I just think it's going to be difficult to know/emulate all the possible results it could spit out. As i only have 2 machines

[2016-02-13 16:01] #9597 closed

[2016-02-13 18:46] craftytrickster commented on #9564
If you agree, I can make a PR adding the following to the comments at the top of properties.mako.rs. If not, I will close the issue.

[code]

[2016-02-13 20:13] larsbergstrom opened #9626 "Intermittent timeout in /csee-backgrounds-3_dev/html4/border-*-radius-*.htm"
[code]

[2016-02-13 20:53] #9499 closed

[2016-02-13 22:17] Manishearth commented on #9564
It's a more general; that's likely only one of the many syntaxes that won't work. Instead, mention that valid Rust syntax may get mangled by the Mako parser, and the workaround is to escape it.

[2016-02-13 23:43] Tycheon commented on #9472
@jdm Thanks so much for the message in IRC!! Adding --log-mach - to the end of the command for running the specific test:

./mach test-wpt tests/wpt/web-platform-tests/cors/redirect-origin.htm --log-mach -

Works like a charm for printing out debug information. The 7 misbehaving tests within redirect-origin.htm were definitely having the preflight_flag set to true previously, and are now no longer

[2016-02-14 00:20] jongheeyun opened #9628 "mac build error (hbs-pow-sys v0.2.0)"
I got this build error on mac.

   Compiling encoding-index-tradchinese v1.20141219.5
   Compiling hbs-common-sys v0.2.0 (https://github.com/libheartbeats/heartbeats-simple-sys.git#9ae3875a)
   Compiling harfbuzz-sys v0.1.2
Build failed, waiting for other jobs to finish...
failed to run custom build command for `hbs-pow-sys v0.2.0 (https://github.com/libheartbeats/heartbeats-simple-sys.git#9ae3875

[2016-02-14 01:06] larsbergstrom commented on #8850
Oh, the Android nightly build is fixed now :-)

see: http://build.servo.org/builders/android-nightly/builds/119

[2016-02-14 01:06] #8850 closed

[2016-02-14 01:07] larsbergstrom commented on #9628
Can you please include the output from the build log to stderr? Without seeing the logs, I would suspect that it is either:
1) Need to `brew install cmake`
2) Need to `brew link --force autoconf`

[2016-02-14 05:50] Wafflespeanut commented on #9397
fixed by #9459 and superseded by #9475

[2016-02-14 05:50] #9397 closed

[2016-02-14 06:52] Manishearth commented on #9575
To support this we may need to add a focus/blur virtual method. `onchange` is dispatched (for text inputs) when the element is blurred and the value has changed since the last focus, so we need HTMLInputElement to keep track of that.

I don't particularly like adding virtual methods, though.

(Aside: This is another one of those events which gets messed up totally if you change the input element's

[2016-02-14 07:04] jongheeyun commented on #9628
This is a full log.

servo> ./mach build `RUST_BACKTRACE=1` --dev
   Compiling unicode-bidi v0.2.3
   Compiling leaky-cow v0.1.1
   Compiling servo v0.0.1 (file:///Users/steve/Workspace/servo/components/servo)
   Compiling core-foundation-sys v0.2.0
   Compiling encoding-index-simpchinese v1.20141219.5
   Compiling serde_codegen v0.6.9
   Compiling advapi32-sys v0.1.2
   Compiling openssl-sys v0.7

[2016-02-14 09:06] Jayflux opened #9630 "Block parser on external CSS"
More of a question than an issue.
How does servo handle this currently?

Is this something servo plans to do?

Could be worth thinking about if the chrome team are planning to put it into the spec

More info below:

https://groups.google.com/a/chromium.org/forum/m/#!topic/blink-dev/ZAPP8aTnyn0
https://jakearchibald.com/2016/link-in-body/

[2016-02-14 09:59] Manishearth commented on #9573
I'm not sure why we need to prevent the default there? Or is that to stop it from bubbling further?

b0552cb98e627f8a21e107ee56c9b731579c4838 added this.

[2016-02-14 12:25] cyplo commented on #6176
Hi ! Were you able to do so eventually, or is this still unknown ?

[2016-02-14 12:33] piranna commented on #6176
This is still unknown, sorry.

[2016-02-14 14:22] jdm commented on #9628
Yep, you're missing cmake according to the stderr output.

[2016-02-14 14:35] jdm commented on #9573
It's to properly handle things like
[code]
from executing the JS handler when the user modifies the input.

[2016-02-14 14:39] jdm commented on #9573
Which apparently is a totally misguided goal, given how Firefox treats that (ie. the JS handler is executed).

[2016-02-14 14:47] jdm commented on #9630
From document.rs:
[code]
We implement the model currently described in the spec (and implemented by Firefox too, I believe).

[2016-02-14 15:17] Manishearth commented on #9573
So, we should just remove it? (E-easy, perhaps)

I can understand setting Bubbles to false or doing something like that. DefaultPrevented isn't something our code should be messing with, and if we need a similar mechanism we should implement an internal one. But it doesn't look like one is necessary in this case.

Aside: There's a good chance above behavior with the JS handler is not consistent ac

[2016-02-14 15:33] jdm commented on #9573
Nice, Firefox executes the onkeydown in the body element, and blink doesn't. I wonder what edge does?

[2016-02-14 17:24] zmike commented on #6176
There's a PR open to add EGL support, though I'm not sure what the exact status is.

@glennw

[2016-02-14 17:26] craftytrickster commented on #9564
@Manishearth, as suggested, I changed the message to be more general, instead of focusing specifically on the issue I was having. However, since generic references are a pretty important use case (needed to define function params, return types and lifetimes), I kept it as an example in the PR.

[2016-02-14 17:33] larsbergstrom commented on #9628
You should be able to install it via `brew install cmake`. After that, I would expect the build to go through cleanly, but if not you can do `./mach clean -p hbs-pow-sys`, which will clean out any cached build information during the previous builds.

[2016-02-14 17:54] timvandermeij commented on #9561
This can be closed now that #9576 has been merged.

[2016-02-14 18:20] rebstar6 commented on #9540
Moved the response stuff to the right place in: https://github.com/rebstar6/servo/commit/e717cabdba7f846611edc5c6ac3d05b22b382a9c?diff=unified
The tests all pass (woot!!) though I have a few questions still on some of the specifics. Will discuss this week.

[2016-02-14 21:43] nox opened #9637 "Move parse_integer and parse_unsigned_integer from util::str to style::attr"
The underlying function `do_parse_integer` should be moved too.

Files:
 * components/util/str.rs
 * components/style/attr.rs

[2016-02-14 21:57] nox opened #9638 "Move util::str::parse_legacy_font_size to script::dom::htmlfontelement"
Files:
* components/util/str.rs
* components/script/dom/htmlfontelement.rs

[2016-02-14 21:59] nox opened #9639 "Move parse_nonzero_length and parse_legacy_color from util::str to style::attr"
Files:
* components/util/str.rs
* components/style/attr.rs

[2016-02-14 22:00] Jayflux commented on #9630
I managed to dig up some more information about how its been implemented here:

 - Stylesheet loading becomes a non-blocking operation.
 - Stylesheets are removed when the element they're associated with is removed from the document.
 - It'll be possible to implement the CSSOM APIs that require direct access to the stylesheets (i.e., ~ all of them).
 - Various subtle correctness issues are fixed.

[2016-02-14 22:03] Jayflux commented on #9630
@tschneidereit I would be interested to hear your thoughts on this, as i think you implemented this originally

[2016-02-14 22:13] tschneidereit commented on #9630
That was exactly my motivation for working on this. I've since moved to implementing Promise in SpiderMonkey (and then adding support for that in Servo) because that blocks more things than CSSOM, but I have a, by now horribly bitrotted, wip of parts of CSSOM locally.

Yes, that would be a nice follow-up. I had considered doing that in the first version but then decided to limit the scope where I

[2016-02-14 22:19] nox opened #9640 "Move util::str::is_token to script::dom::bindings::str"
Files:
 * components/util/str.rs
 * components/script/dom/bindings/str.rs

[2016-02-14 22:23] Jayflux commented on #9630
@tschneidereit  have you taken a read of https://jakearchibald.com/2016/link-in-body/ ?
How possible is that in Servo with what you mentioned?

[2016-02-14 22:28] peterjoel commented on #9640
I can take this one.

[2016-02-14 22:28] nox commented on #9640
Sure!

[2016-02-14 22:38] tschneidereit commented on #9630
Apologies, I had totally misread the issue, and not seen the link.

It seems like it should be fairly straight-forward, as we're already blocking parsing for `<script>` tags, like Firefox does. Extending that to also block parsing, but not rendering of already-parsed content for `<link rel='stylesheet'>` nodes shouldn't be all that hard.

I also think that it's a pretty good idea.

[2016-02-14 22:44] peterjoel commented on #9640
@nox These few (moving everything out of util::str) are actually much easier than I anticipated. I've done this one now, but is it better to leave the rest for newcomers, or should I just take the others now too?

[2016-02-14 22:45] nox commented on #9640
If you feel like this is too easy for you, feel free to let the others available and find something more difficult.

[2016-02-14 23:01] peterjoel commented on #8509
I would like to pick this one up please.

[2016-02-14 23:12] frewsxcv commented on #8509
Go for it! Let us know if you run into any issues

[2016-02-14 23:15] peterjoel commented on #8509
@frewsxcv I'm sure I will!
For starters, are there existing matrix operations, used internally by servo, that can be bound to?

[2016-02-15 01:18] jdm commented on #8509
The euclid library has matrix implementations: http://doc.servo.org/servo/euclid/struct.Matrix2D.html and http://doc.servo.org/servo/euclid/struct.Matrix4.html . The DOMQuads PR looks like a valid reference.

[2016-02-15 02:28] KiChjang commented on #9546
Duplicate of #9014.

[2016-02-15 02:28] #9546 closed

[2016-02-15 04:45] #9623 closed

[2016-02-15 05:58] KiChjang opened #9644 "Implement error attribute for HTMLMediaElement"
Code: `components/script/dom/htmlmediaelement.rs`, `components/script/dom/webidls/HTMLMediaElement.webidl`, `components/script/dom/mediaerror.rs` (new file), `components/script/dom/webidls/MediaError.webidl` (new file)
Spec: https://html.spec.whatwg.org/multipage/#dom-media-error
Test: `tests/wpt/web-platform-tests/html/semantics/embedded-content/media-elements/error-codes/error.html`

Note that t

[2016-02-15 06:41] jdm commented on #9644
This is already present in #8454.

[2016-02-15 06:41] #9644 closed

[2016-02-15 08:02] sunose commented on #9466
today build servo under windows 10 msys2 -64,this error happend again.

please help check this.

[2016-02-15 08:43] KiChjang commented on #9640
Fixed in #9642.

[2016-02-15 08:43] #9640 closed

[2016-02-15 10:08] Ms2ger commented on #9392
Given that this api is full of promises, I'm somewhat confused how that's going to be dealt with.

[2016-02-15 11:26] KiChjang commented on #6601
Is this fixed by #9065?

[2016-02-15 14:26] Jayflux commented on #9639
@nox ive moved these across, however i do get 2 errors

[code]

[2016-02-15 14:33] larsbergstrom commented on #9392
@Ms2ger This work depends on https://bugzilla.mozilla.org/show_bug.cgi?id=911216 landing and then picking up an smup. We are coordinating with the people working on that :-)

[2016-02-15 14:38] nox commented on #9639
You need to use `euclid::num::Zero` and `std::ascii::AsciiExt` as stated in the notes.

[2016-02-15 15:25] KiChjang commented on #5014
Gecko also has a `TypedArray.h` file, which we should port over as well. Perhaps name it `typedarray.rs` and put it under `components/script/dom/bindings`?

[2016-02-15 16:58] jdm commented on #5014
See #6779 for an attempt.

[2016-02-15 17:54] #9564 closed

[2016-02-15 18:57] zakorgy commented on #9637
i would like to try this

[2016-02-15 20:18] KiChjang commented on #9637
Go for it!

[2016-02-15 20:45] jongheeyun commented on #9628
The root cause was cmake.
Cmake already was installed but not linked.

Warning: cmake-3.3.2 already installed, it's just not linked

Issue was solved with "brew link cmake"
And I'm surfing the web with THE SERVO :D
Thanks.

[2016-02-15 20:57] larsbergstrom commented on #9593
Hrm. From what I can tell, rust does not provide jemalloc on MinGW builds (@alexcrichton, is that right?).

I'm not really sure how any version of this code *ever* worked. We also have some other code that does `extern crate alloc_jemalloc`, which I would expect not to be working on Windows.

I'm trying to figure out  why this worked originally.

cc @vvuk @Jayflux

[2016-02-15 21:08] alexcrichton commented on #9593
Yeah jemalloc is no longer shipped on Windows at all (for correctness
reasons)

On Monday, February 15, 2016, Lars Bergstrom <notifications@github.com>
wrote:

[2016-02-15 21:13] KiChjang commented on #9628
Can we close this issue now?

[2016-02-15 21:19] larsbergstrom commented on #9628
@jongheeyun Thanks for following up with us and letting us know what the problem was!

[2016-02-15 21:19] #9628 closed

[2016-02-15 21:29] peterjoel opened #9650 "Implement Element.scrollTop and Element.scrollLeft"
https://drafts.csswg.org/cssom-view/#dom-element-scrolltop
https://drafts.csswg.org/cssom-view/#dom-element-scrollleft

They are mentioned in [issue 1713](https://github.com/servo/servo/issues/1713#issue-27945054), but not actually included with the accepted PR.

[2016-02-15 22:01] KiChjang commented on #3919
@Ms2ger So I suppose that we still have text responses to cache?

[2016-02-15 22:05] Ms2ger commented on #3919
I need to double check we got them all

[2016-02-15 22:18] peterjoel commented on #8982
@Ms2ger wrote:

It doesn't take scrolling into account. In Firefox and Chrome, the value of `scrollTop` is subtracted from the `top` of the rectangle. But `scrollTop` is not implemented yet (#9650).

[2016-02-15 22:47] jdm commented on #8982
@peterjoel Please file that as a separate issue, since this one is about methods on Range that do not exist at all yet.

[2016-02-15 22:52] peterjoel opened #9651 "Element.getBoundingClientRect() and Element.getClientRects() do not take scrolling into account."
Related to #9650.
These rectangles should be translated by `scrollTop` and `scrollLeft`.

Spec: https://drafts.csswg.org/cssom-view/#dom-element-getclientrects

[2016-02-15 22:56] jdm commented on #9651
@peterjoel Can you link to the part of the specification that suggests that they should?

[2016-02-15 23:10] peterjoel commented on #9651
I was just going by the behaviour in Safari, Firefox and Chrome. The [spec](https://drafts.csswg.org/cssom-view/#dom-element-getclientrects) isn't incredibly clear, but it says:

If you keep following the linked documents to [this](https://www.w3.org/TR/css-transforms-1/#current-transformation-matrix-ctm), you find:

Which seems to suggest that the transformations are relative to the viewport, not

[2016-02-15 23:58] #9639 closed

[2016-02-16 10:33] Jayflux commented on #9638
This is done

[2016-02-16 10:38] KiChjang commented on #9638
Fixed by #9647.

[2016-02-16 10:38] #9638 closed

[2016-02-16 11:40] Ms2ger opened #9654 "Implement RootedReference<T> for Option<JS<T>>."
This could simplify some code. See the other implementation of `RootedReference` for inspiration.

Code: `components/script/dom/bindings/js.rs`.

[2016-02-16 12:06] KiChjang opened #9655 "Add a method to transfer ownership of the underlying Vec<u8> for ByteString"
And perhaps create a new Vec<u8> in its place after ownership was taken.

Code: `components/script/dom/bindings/str.rs`

[2016-02-16 13:42] KiChjang commented on #9561
Sorry, this isn't done yet - `git grep _thread_source` still exposes a few instances where this isn't renamed.

cc @kmuszyn

[2016-02-16 13:47] jdm commented on #9561
Ah, I forgot to mention global.rs in the original comment.

[2016-02-16 15:29] Tycheon commented on #9472
I'm at the point where I could use another nudge, if possible. I tested to ensure that the preflight_flag *was* being set to true for the 7 failing tests, but, with the logic change as part of this issue, it's no longer being set.

I've been trying to look for differences between the execution path when preflight_flag = true vs false, and the most glaring is that in xmlhttpresponse.rs, the functio

[2016-02-16 15:38] jdm commented on #9472
Yes, those come from the `load` function in `components/net/http_loader.rs`.

[2016-02-16 17:28] LifeIsStrange commented on #8335
There is another browser which use dual engine, it's polarity and it's opensource so you can see how they do. (blink+trident)
https://sourceforge.net/projects/polaritybrowser/

http://www.ghacks.net/2016/02/15/first-look-at-dual-engine-web-browser-polarity/

[2016-02-16 17:31] nox commented on #9593
https://msdn.microsoft.com/en-us/library/windows/desktop/aa366706(v=vs.85).aspx

[2016-02-16 17:49] alexcrichton commented on #2853
As an update on the Cargo side of things, of the issues that're mentioned here:

* rust-lang/cargo#942 -- this is implemented in https://github.com/rust-lang/cargo/pull/2385 (not landed)
* rust-lang/cargo#1007 -- this is implemented in https://github.com/rust-lang/cargo/pull/2328 (not landed)
* rust-lang/cargo#1106 -- There's been some recent discussion on this and I think that we're getting to th

[2016-02-16 17:50] saneyuki commented on #9593
see also https://github.com/servo/heapsize/issues/41

[2016-02-16 18:03] larsbergstrom commented on #2853
Thanks for the update! Things look great overall.

You're right that we can wait on the other two. Some clarifying comments below, but I don't have any pushback on punting them.

- We can certainly wait on rust-lang/cargo#1744 - it mainly manifests as unintelligible build breaks ("Permission denied" while building Servo) for contributors with machines without < 4GB of RAM. We've gotten pretty used

[2016-02-16 18:45] Tycheon commented on #9472
Here's where preflight_flag = true, vs preflight_flag = false diverge in that function (right afterwards, the metadata.headers are None for pf = true):

[code]

When the preflight_flag is true, an Err is returned due to an inconsistency. However, if the preflight_flag is false, it runs into the else block, loops back through the entire function again, and provides the test harness with a response

[2016-02-16 19:47] aturon commented on #2853
@larsbergstrom Regarding caching, I think part of the problem is a lack of clarity about the design constraints/requirements. At some point, we can more aggressively seek them out. But it's not obvious to me when the right timing is, or whether e.g. it's best to let Gecko try to find their own way first. (It's not clear whether a naive wrapping of `rustc` will do the trick.)

Any sense on when thi

[2016-02-16 21:28] kmuszyn commented on #9561
Sorry, I missed that one. I will prepare a fix.

[2016-02-16 21:53] larsbergstrom commented on #2853
@aturon I'll ask around. I suspect that it depends on whether or not Rust/Cargo "behave well" with the new artifact builds in Firefox (https://groups.google.com/forum/#!topic/mozilla.dev.builds/jGg69m0x6Ck ). That is, can we just download all of the prebuilt files in the object dir and have things work?

CC @ncalexan (who did much of that work).

[2016-02-16 22:09] #9547 closed

[2016-02-16 22:15] ncalexan commented on #2853
@larsbergstrom this ticket is pretty broad, and the discussion of caching doesn't really say what you want to do.  Artifact builds download the major compiled libraries from Mozilla's automation; the big one is `libxul.so`.  I have only followed the `rustc` integration at a distance, but it's my understanding that y'all produce `.o` files that are linked into existing libraries (including `libxul.

[2016-02-16 22:22] peterjoel opened #9666 "mach update-wpt shouldn't commit its changes to git"
More likely than not, a user will have other changes (new tests) and will want to combine the commits anyway.

In my case, I wasted a lot of time not realising that the command would commit to git, and presumed it hadn't changed any files (`git status` said it hadn't!). It's much less confusing if the command just updates files and leaves it to the user to commit the changes.

[2016-02-16 22:23] TimNN commented on #9666
I totally agree! I just ran into this situation.

[2016-02-16 22:37] larsbergstrom commented on #2853
@ncalexan Sorry about that! I'll move the convo out of the metabug off to where it should be (https://github.com/rust-lang/cargo/issues/1997).

[2016-02-17 00:23] nhirata commented on #9612
Oh. hrm.  Maybe it's not necessary; it's needed for notification.  I see that in that error you pointed me to.

Regardless, I installed both and I was able to compile.

[2016-02-17 01:11] nhirata commented on #9620
I was able to reproduce it without going to google maps on the dev version of servo:
1) ./mach run http://people.mozilla.com/~nhirata/html_tp
2) select HTML5a.html
3) hit command+back arrow
4) select HTML5_width_device.html
The console shows the error below :

thread 'PaintWorker' panicked at 'destination and source slices have different lengths', ../src/libcore/slice.rs:480
stack backtrace:
   1:

[2016-02-17 01:16] nhirata opened #9669 "Panic on closing a browser window after going to a web page that has an youtube as an iframe."
1) ./mach run [http://people.mozilla.org/~nhirata/html_tp/youtubeiframetest.html](http://people.mozilla.org/~nhirata/html_tp/youtubeiframetest.html)
2) close the window.

[code]