[2017-10-17 07:55] SimonSapin commented on #18916
Oh indeed, sorry. I can reproduce on master, I suppose another PR re-introduced that warning.

[2017-10-17 07:56] tigercosmos commented on #18916
I will do it.

[2017-10-17 09:10] Jayflux commented on #18055
Thanks for fixing this @tigercosmos, is the windows build readme up to date?

[2017-10-17 09:28] tigercosmos commented on #18055
Sure. There are another 2 commits related to this issue be merged previously.

[2017-10-17 10:18] #18916 closed

[2017-10-17 15:06] jonathandturner commented on #17175
@atouchet - good catch.  I haven't seen this issue recently.  Closing.

[2017-10-17 15:06] #17175 closed

[2017-10-17 16:20] tigercosmos commented on #17267
@jdm How to add `alluni.txt ` to test font fallback handling? Are there any existed test files?

[2017-10-17 16:41] tigercosmos opened #18922 "Remove cfg for windows in linux module"
in [`components/gfx/platform/freetype/font_list.rs`](https://github.com/servo/servo/blob/master/components/gfx/platform/freetype/font_list.rs#L135), which is the module for `linux`.
There are codes `#[cfg(target_os = "linux")]` and `#[cfg(target_os = "windows")]`, and I think we should remove them since we would enter the module only if [`components/gfx/platform/mod.rs`](https://github.com/servo/s

[2017-10-17 16:43] jdm commented on #18922
Ah, this is left over from when Windows relied on freetype as well. Yes, this would be a nice cleanup.

[2017-10-17 16:43] highfive commented on #18922
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-17 16:44] tigercosmos commented on #18922
@highfive: assign me

[2017-10-17 16:44] highfive commented on #18922
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-17 17:11] atouchet commented on #18296
Related: #15572

[2017-10-17 19:45] #18922 closed

[2017-10-17 19:46] sophiajt opened #18925 "Slack fails to load after login"
The Slack login page loads, and you apparently can log in, but as the Slack page loads, you get the following error:

[code]

[2017-10-17 19:48] jdm commented on #16318
Closing in favour of #18925.

[2017-10-17 19:48] #16318 closed

[2017-10-17 20:33] jdm commented on #17267
@tigercosmos Tests for font rendering always need some kind of reference rendering that we can compare against. I don't see how to turn `alluni.txt` into a useful test, but we could add individual reference tests for specific characters that we want to ensure receive a proper font fallback. https://github.com/servo/servo/blob/master/tests/wpt/mozilla/tests/css/per_glyph_font_fallback_a.html is an

[2017-10-17 21:34] mateon1 opened #18927 "assertion failed: !self.loader.borrow().events_inhibited()"
[code]

[code]
[stack trace slightly outdated, sorry]

/cc @nox

[2017-10-17 22:29] mateon1 opened #18928 "unknown completed load Media"
Found with modified domato.

[code]

[code]

[2017-10-17 22:41] jonathandturner opened #18929 "Slashdot no longer scrolls"
We had a pretty good Slashdot experience a few weeks ago.  I tried the latest nightly and I'm not able to get it to scroll any more.  Here's the terminal:

[code]

[2017-10-17 22:52] mateon1 opened #18930 "DomRefCell<T> already borrowed: BorrowMutError"
Found with modified domato.
[code]

[code]

[2017-10-18 01:33] glennw opened #18931 "Unable to run subsets of CSS tests after recent WPT update"
Running ```./mach test-css --release --processes=8 tests/wpt/css-tests/css-backgrounds-3_dev``` results in the following exception:

[code]

Similarly, running on a single file results in:

[code]

The last entry in the backtrace is:

[code]

[2017-10-18 01:33] glennw commented on #18931
cc @jdm

[2017-10-18 01:34] glennw commented on #18931
If I manually copy the ```iterpath``` and ```iterdir``` implementations from the WPT implementation of the ```Manifest``` class to the CSS implementation of the ```Manifest``` class, it seems to work. I'm not sure if that's an appropriate fix though.

[2017-10-18 09:45] philn commented on #18775
The problem with this approach is that mach depends on the virtualenv. Here mach fails early:
[code]

[2017-10-18 12:20] jdm commented on #18931
That is a totally fine fix. The csswg-tests are going away, so we can do whatever it takes to help them limp along.

[2017-10-18 15:33] tigercosmos commented on #10613
what is the current status about this?

[2017-10-18 15:37] jdm commented on #10613
It's still a desirable feature, but not in high demand. We don't use rr on any of our CI infrastructure.

[2017-10-18 17:13] easyaspi314 opened #18940 "Acid 2 rendering issue on MacBook5,2 w/El Capitan"
`tests/html/acid2.html` is not rendering properly.

### Servo version
Nightly version Servo 0.0.1-ca08271345 (downloaded from the website)

### OS Version
Mac OS X 10.11.6 El Capitan

### System specs
**MacBook (13-inch, Mid 2009)** &nbsp; MacBook5,2
**Processor** &nbsp; 2.13 GHz Intel Core 2 Duo
**Memory** &nbsp; 4 GB 667 MHz DDR2 SDRAM
**Graphics** &nbsp; NVIDIA GeForce 9400M 256 MB
**Display**

[2017-10-18 17:37] jdm opened #18943 "Make fire_mouse_event accept an enum instead of a string argument"
We only use the `fire_mouse_event` method for specific kinds of mouse events, so it should accept a stronly-typed enum that can be converted into an appropriate string value.

Code: `components/script/dom/document.rs`

No need for automated tests; if it builds, that's good enough for a pull request.

[2017-10-18 17:37] highfive commented on #18943
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-18 21:20] mhaessig commented on #18943
@highfive: assign me

[2017-10-18 21:20] highfive commented on #18943
Hey @mhaessig! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-19 06:20] atouchet commented on #18801
I managed to get this to load without the top left corner issue.

![Rects](https://i.imgur.com/NY9KcLG.png)

Incomplete rects flicker in and out of the image.

[2017-10-19 12:56] jdm opened #18947 "Crash during GC when going back in history"
In a release build, the following steps consistently trigger a segfault for me:
* run `./mach servo -r http://google.com`
* click the "sign in" button
* press command-{
* press command-{

[code]

[2017-10-19 12:58] jdm commented on #18947
In a debug build I am able to reproduce the crash if I refresh the google page a few times after returning to it.

[code]

[2017-10-19 13:11] jdm commented on #18947
This might be related to #18947; potentially it's a value that should have been collected previously but was not.

[2017-10-19 13:11] jdm opened #18948 "debug-mozjs hits assertion when refreshing google.com"
[code]

[2017-10-19 13:13] jdm commented on #18948
`<jonco> jdm: if this happens while destroying the runtime, then the embedding probably leaked GC things`

[2017-10-19 13:22] jdm opened #18949 "Intermittent crash in /css21_dev/html4/first-letter-punctuation-175.htm"
[code]

[2017-10-19 13:23] jdm opened #18950 "Intermittent crash in /css21_dev/html4/content-counter-010.htm"
[code]

[2017-10-19 16:02] jdm opened #18954 "TravisCI is broken since osmesa update"
https://gist.github.com/jdm/f059bf33a5fa3c5a089771806e1dbaba

[2017-10-19 16:02] highfive commented on #18954
cc @aneeshusa

[2017-10-19 16:07] tigercosmos commented on #9616
I tried this for a while. `Space` will just cause lots of problems. LOL

[2017-10-19 16:10] tigercosmos commented on #9616
Even `virtualenv` has not solved `space` issue.  pypa/virtualenv#53

[2017-10-19 17:14] tigercosmos commented on #9895
Where is the related scripts to handle this? I search "Compiling", but not found in `.py`. Maybe I use wrong keyword?

[2017-10-19 17:34] jdm commented on #9895
https://github.com/servo/servo/blob/fe16c1d5c3c9084da0ccb85af599d6ec0f8ab20b/python/servo/build_commands.py#L320-L323 is the code that invokes the cargo build. I'm not sure how we would accomplish this besides post-processing the output from the build, checking for lines that start with `lib.rs`, and rewriting them with the relative path instead.

[2017-10-19 18:02] tigercosmos commented on #9895
Seems cargo has supported the feature.
It will show the full path. @jdm shall we close this?
[code]

[2017-10-19 18:33] jdm commented on #9895
@tigercosmos This is specifically referring to compilation errors from components/servo/lib.rs.

[2017-10-19 18:45] mhaessig commented on #18943
@jdm There is already an `enum MouseEventType` at [`components/script_traits/lib.rs`](https://github.com/servo/servo/blob/fe16c1d5c3c9084da0ccb85af599d6ec0f8ab20b/components/script_traits/lib.rs#L418#L427
Should I modify that enum and implement a `toString` function for it so we only have one mouse event type enum?

[2017-10-19 19:37] jdm commented on #18943
@mhaessig Good find, but that enum contains additional variants that would not be used for `fire_mouse_event`, so I would rather use a separate enum for this.

[2017-10-20 02:44] grabstepango commented on #18901
@jdm It was one of wikipedia articles, can't find or reproduce it now. No idea why it wasn't populated. Is there any way I could check the history of viewed pages or reports inside servo?

[2017-10-20 02:46] jdm commented on #18901
Unfortunately no. And we choose not to automatically populate the URL field for the sake of privacy.

[2017-10-20 02:54] grabstepango commented on #18901
@jdm thanks for the info, I'm closing it. Will open again if able to reproduce.

[2017-10-20 02:54] #18901 closed

[2017-10-20 04:02] atouchet commented on #18162
This appears to be fixed now.

[2017-10-20 04:02] #18162 closed

[2017-10-20 04:13] upsuper opened #18964 "Intermittent AttributeError: 'module' object has no attribute 'QueuedProxyLogger'"
<details>

[code]

</details>

[2017-10-20 04:17] atouchet commented on #17941
This is mostly fixed in the latest nightly build. The spacing and shadow problems are gone but the colour and scrolling issues are still present.

[2017-10-20 11:05] mrobinson commented on #11046
This seems to be an issue with layout. The iframe, as an inline is added to the end of the list of Flow children. This means that when it is promoted to a pseudo-stackingcontext during display list construction, it is positioned after the div. Going to unassign this from myself, since it's unrelated to display list construction.

[2017-10-20 11:09] mrobinson commented on #11046
This flow tree dump shows the iframe as last child of the shared ancestor of the div and the iframe.
[code]

[2017-10-20 12:44] #18954 closed

[2017-10-20 12:45] jdm commented on #18964
This was supposed to have been fixed by https://github.com/servo/servo/pull/18961. I've looked at the build machine that showed this error and the mozlog module now matches the one from 3.5, so I'm confused about how we hit this.

[2017-10-20 13:52] tigercosmos commented on #9895
I don't know how to reproduce.
[code]

[2017-10-20 13:59] nox commented on #9895
Insert a syntax error in `ports/geckolib/lib.rs` and run `./mach build-geckolib`

[2017-10-20 14:20] tigercosmos commented on #9895
I got the result. So, does it occur on every `**/lib.rs`?
[code]

[2017-10-20 14:53] jdm commented on #9895
No, only the top-level crate, I guess. Probably ports/glutin would show a similar result for a regular build?

[2017-10-20 15:28] jdm opened #18969 "Use incumbent global's origin for postMessage instead of document's"
There is a [TODO comment](https://dxr.mozilla.org/servo/rev/7b61e3b6ee62a96f151483f4fc229fa0c03a54d8/components/script/dom/window.rs#768) in the implementation of Window::PostMessage that we can now address. This refers to step 4 of [the standard](https://html.spec.whatwg.org/multipage/web-messaging.html#dom-window-postmessage), and we can now use the [incumbent_global](https://dxr.mozilla.org/ser

[2017-10-20 15:28] highfive commented on #18969
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-20 15:48] michelca opened #18970 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
assertion failed: !self.Document().needs_reflow() ||
    (!for_display && self.Document().needs_paint()) ||
    self.window_size.get().is_none() || self.suppress_reflow.get()
### URL:

### Servo Version:
Servo 0.0.1-fe16c1d
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-20 15:54] jdm commented on #18970
@michelca Do you know what page you were looking at?

[2017-10-20 18:00] jdm commented on #13480
Given:
[code]
I suspect:
* https://github.com/servo/webrender/blob/56a452d64e759977619b37c9e971f944114948d2/webrender/src/render_backend.rs#L448
* https://github.com/servo/webrender/blob/56a452d64e759977619b37c9e971f944114948d2/webrender/src/render_backend.rs#L515
* https://github.com/servo/webrender/blob/56a452d64e759977619b37c9e971f944114948d2/webrender/src/render_backend.rs#L544
* https://githu

[2017-10-20 18:33] tigercosmos commented on #18969
related #12715

[2017-10-20 19:09] NiLSPACE opened #18974 "Failed to compile shader: "brush_mask""
Servo just started throwing the following error in my console:

[code]

Windows 10 just updated to the Fall Creators update, so it might have something to do with that.

[2017-10-20 19:17] jdm commented on #18974
cc @glennw

[2017-10-21 02:54] jdm commented on #18969
Turns out we don't run the webmessaging tests yet.

[2017-10-21 03:14] #18947 closed

[2017-10-21 03:14] #18948 closed

[2017-10-21 04:56] #18943 closed

[2017-10-21 05:47] tigercosmos commented on #18969
I  do not understand this. @jdm

[2017-10-21 05:49] atouchet opened #18978 "DuckDuckGo search button colour flickering"
URL: https://duckduckgo.com/

Steps to reproduce:

1. Move mouse cursor over the search button to make it turn green.
2. Move the cursor around without leaving the search button.
3. The button will then flicker various colours between white and green instead of just remaining green.

I believe this may be a somewhat recent regression as I do not remember running into it in the past. Tested in Wind

[2017-10-21 06:39] #18931 closed

[2017-10-21 08:05] KiChjang commented on #18969
@jdm means that we currently do not run the tests under [this directory](https://github.com/servo/servo/tree/master/tests/wpt/web-platform-tests/webmessaging).

[2017-10-21 08:56] tigercosmos commented on #18969
If someone want to work on this issue, should also change  [`/tests/wpt/web-platform-tests/lint.whitelist` ](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/lint.whitelist#L255)?
[code]

[2017-10-21 09:42] KiChjang commented on #18969
@tigercosmos I suggest not to work on this issue, since most of the tests fail under that directory. If we enable them haphazardly, it would consume merge times on our current build infrastructure.

[2017-10-21 13:00] jdm commented on #18969
@tigercosmos No, that's the list of allowed warnings for the style linting tool. The tests we run are controlled by https://github.com/servo/servo/blob/master/tests/wpt/include.ini.

[2017-10-21 13:01] jdm commented on #18964
We've merged a lot of PRs since this was observed, so I think it's fixed.

[2017-10-21 13:01] #18964 closed

[2017-10-21 22:09] #18218 closed

[2017-10-22 09:29] tigercosmos commented on #9895
No command `./mach build-glutin` and seems `glutin` will be unforked?

[2017-10-22 13:51] jdm commented on #9895
./mach build uses ports/glutin.

[2017-10-22 18:58] tigercosmos commented on #9895
Seems relate to rust-lang/cargo#694

If it is not a dependency, it will only show the path of where `cargo build`. Not a absolute path.

We set `ports/geckolib` as the root in the following code
https://github.com/servo/servo/blob/a296e386af21b50409e78dd3a34ea6a5fd36d4bf/python/servo/build_commands.py#L456-L457

I guess that's why it will only show `lib.rs`, because the root is not in `servo`

[2017-10-22 23:07] KiChjang opened #18985 "Create a mach command that automatically removes *.orig files"
Ever since we've added the rule to ignore *.orig files to .gitignore, my system has been accumulating *.orig files from merge conflicts. It would be nice if we can run a command on mach that removes these.

[2017-10-22 23:07] highfive commented on #18985
cc @wafflespeanut

[2017-10-23 01:19] jdm commented on #18985
It's not clear to me that a mach command for this makes more sense than running `find . -name \*.orig | xargs rm -v`.

[2017-10-23 02:07] KiChjang commented on #18985
Perhaps we should also include it in `./mach clean` instead? I just want to have an automated way of cleaning up these leftover files after a rebase.

[2017-10-23 02:28] atouchet commented on #18872
The whole browser doesn't crash now.

[2017-10-23 08:54] SimonSapin commented on #18985
For what it’s worth, `git mergetool` will remove relevant `.orig` files after helping resolve conflicts.

[2017-10-23 09:09] KiChjang commented on #18985
@SimonSapin Curious, that's exactly what I used, but my `.orig` files are not removed.

[2017-10-23 10:06] 19h opened #18991 "Rendering issue of styled buttons (psychonautwiki.org)"
Hey,

there's a weird style rendering issue affecting styled buttons on PsychonautWiki:

![screen shot 2017-10-23 at 12 01 26](https://user-images.githubusercontent.com/280212/31883395-15853b58-b7ea-11e7-84b1-72850956d1e2.png)

I couldn't exactly pin down the issue, but it seems to be related to either the gradient or background styling.

-- K

[2017-10-23 10:06] KiChjang commented on #18991
Can you give us the URL of the page you're visiting?

[2017-10-23 10:09] KenanSulayman commented on #18991
Oh, sorry about that. One of the URLs affected: https://psychonautwiki.org/wiki/Main_Page.

[2017-10-23 10:41] SimonSapin commented on #18985
Hmm, perhaps it’s kdiff3’s doing then? I use `git mergetool -t kdiff3`.

[2017-10-23 12:17] NiLSPACE commented on #16719
Servo is able to finish https://mozilla.github.io/arewefastyet-speedometer/2.0/

[2017-10-23 19:57] KiChjang commented on #18985
https://git-scm.com/docs/git-mergetool#_temporary_files

[2017-10-23 19:57] #18985 closed

[2017-10-23 21:24] mstark90 opened #18996 "called `Result::unwrap()` on an `Err` value: "SendError(..)" when browsing Ars Technica"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-a296e38
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-23 21:35] jdm commented on #18996
Looks like another instance of #18872.

[2017-10-23 21:35] #18996 closed

[2017-10-23 21:48] jdm opened #18997 "Figure out why navigation_start_precise and paint timing metrics are f64"
As far as I can tell, all of the code that originally provides a value for these matrics casts a u64 to an f64, and I cannot figure out why.

[2017-10-23 22:47] jdm commented on #16257
I'm curious if anything has changed now that https://github.com/servo/servo/pull/18994 has merged.

[2017-10-23 23:10] avadacatavra opened #18998 "Extract pipeline ids from all message types"
DevtoolScriptControlMsg doesn't report pipeline information

[2017-10-24 00:45] avadacatavra commented on #18997
I think I've figured it out:

[code]

For PaintTimeMetrics, the metric is sent on to PerformancePaintTiming, which is sent to  PerformanceEntry, which uses dom::bindings::num::Finite, which apparently requires a float (and that's when I stopped digging)

* https://dxr.mozilla.org/servo/source/components/script/dom/performanceentry.rs#15
* https://w3c.github.io/performance-timeline/#dom-performance

[2017-10-24 01:52] glennw opened #18999 "The bounding rects of border elements are sometimes zero for valid borders."
For example, in ```/css21_dev/html4/border-left-color-applies-to-003.htm``` the bounding rect of the border supplied to WR has a width of 0, even though the left border is a valid height and border width.

[2017-10-24 02:02] jdm commented on #18997
In that case, it probably makes sense to store everything as a u64 internally and cast to an f64 in the one place that actually wants a floating point value.

[2017-10-24 02:18] KiChjang commented on #18991
I can reproduce this issue on latest master.

[2017-10-24 02:38] KiChjang commented on #18991
Running servo with incremental layout disabled would not reproduce the issue.

[2017-10-24 07:24] sviter commented on #16409
ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug.
### URL:
http://lcamtuf.coredump.cx/transfuzz.html
### Servo Version:
Servo 0.0.1-0e6946f
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-10-24 09:34] ENvironmentSet opened #19000 "Linux Ubuntu 16.04.3 LTS - Failed to create window error"
`environmentset@linux-ubuntu:~/servo$ ./servo

Failed to create window.: OsError("GL context creation failed") (thread main, at /checkout/src/libcore/result.rs:906)
`
how can i fix this?

[2017-10-24 09:35] emilio commented on #19000
What's the output of `glxinfo`?

[2017-10-24 09:36] ENvironmentSet commented on #19000
`environmentset@linux-ubuntu:~/servo$ glxinfo

name of display: :0
X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  154 (GLX)
  Minor opcode of failed request:  24 (X_GLXCreateNewContext)
  Value in failed request:  0x0
  Serial number of failed request:  79
  Current serial number in output stream:  80`
here is it!

[2017-10-24 09:39] emilio commented on #19000
Seems like something is very messed up with your X11 / mesa setup, I believe... Is this a VM or something like that?

Here's the output on my machine for reference:

<details>

[code]

</details>

Maybe try with DISPLAY=:1 glxinfo or something?

[2017-10-24 11:01] ENvironmentSet commented on #19000
Oh. I think so.
But i don't use VM.
how can i fix this?

[2017-10-24 11:02] ENvironmentSet commented on #19000
And. Actually, i wasn't touch this.

[2017-10-24 12:51] emilio commented on #19000
Hm, I have no idea, really, without knowing more about your setup... :(

[2017-10-24 13:49] NiLSPACE commented on #18974
I don't get this error anymore.

[2017-10-24 15:04] jdm commented on #18974
Could you file this in https://github.com/servo/webrender/issues/? It will receive more attention there from the people who can fix it.

[2017-10-24 15:10] mateon1 opened #19006 "Servo fails to link with ThinLTO"
It seems that rust's allocator functions aren't being linked in properly.

For `./mach build -d`:
[code]

`.servobuild` config [diff from example file]:
[code]

[2017-10-24 15:30] SimonSapin commented on #19006
This is almost certainly a Rust bug rather than a Servo bug. @nox, you mentioned before hitting this. Is there a bug filed upstream?

[2017-10-24 15:37] avadacatavra commented on #18997
Agree -- should I lump that into https://github.com/servo/servo/pull/18670 or do it in a separate PR

[2017-10-24 15:40] jdm commented on #18997
I think separately makes sense.

[2017-10-24 18:01] Xanewok commented on #6633
@jdm just want to make sure what's the status of this issue - it seems that effectively almost all of the listed work in https://github.com/servo/servo/wiki/Mutation-observer-project is done (I tried to go over them and [mark done items](https://gist.github.com/Xanewok/50017531ab81bcb69acd80d7c7193efa), excuse the crude format), mostly by #16883?

It seems that what's left is:
* to implement [`voi

[2017-10-24 18:10] marmistrz commented on #6633
cc @taki-jaro

[2017-10-24 18:13] jdm commented on #6633
@Xanewok Signal slots are part of a standard that we don't implement, so those can be ignored. We're also missing character data notifications, and all of the [failing tests](https://github.com/servo/servo/tree/1282e0d8080ae15307ac8d35941754f9d60f0d76/tests/wpt/metadata/dom/nodes) that are named MutationObserver.

[2017-10-24 19:07] mateon1 commented on #19006
I'm hitting the same issue with `incremental = false` and `thinlto = false`, so something might be broken with my environment.
Let me experiment a bit longer.

[2017-10-24 19:16] mbrubeck opened #19008 "Layout thread crash in TextRun destructor"
I'm seeing frequent crashes in layout code; this one happens consistently when I open this URL in Servo master on Linux, in both release and dev builds:

https://limpet.net/mbrubeck/2014/11/05/toy-layout-engine-7-painting.html

<details>

[code]
</details>

[2017-10-24 21:37] jonathandturner commented on #16719
@NiLSPACE - I don't see that.  When I run it, I get:

[code]

How are you running it?

[2017-10-24 22:22] mateon1 opened #19010 "Perf regression: Virtual memory use"
Within the last two weeks, some change was made to Servo that made it allocate 3 gigabytes of virtual memory up front.
Previously, running servo with `ulimit -v 2000000; ./mach run -r -z about:blank` worked just fine, but now Servo fails to do so.

I'm currently doing a git bisect to see what introduced the issue.

[2017-10-24 22:31] mbrubeck commented on #19008
`git bisect` says this was caused by #18944.

[2017-10-24 23:40] #18278 closed

[2017-10-25 00:41] #18949 closed

[2017-10-25 00:41] #18950 closed

[2017-10-25 00:41] #19008 closed

[2017-10-25 03:30] atouchet commented on #17941
There are issues with the row shadow animations in the latest nightly build.

[2017-10-25 08:21] SimonSapin commented on #19010
So it looks like https://github.com/servo/servo/pull/18944 caused this change which seems plausible since it changes which allocator crate is used on non-Windows. (Based on you mentioning `ulimit` I assume you’re on some Unix platform.) However these two crates (`alloc_jemalloc` in std and `jemallocator` on crates.io) are both based on the same [fork of jemalloc](https://github.com/rust-lang/jemal

[2017-10-25 08:35] SimonSapin commented on #19010
Filed https://github.com/alexcrichton/jemallocator/issues/20 upstream in case Alex has an idea.

[2017-10-25 10:02] KiChjang commented on #18671
Related: #14489

[2017-10-25 12:16] NiLSPACE commented on #16719
I'm running the Servo nightlies on the following specs:
OS: Windows 10 x64 Fall Creators Update
CPU: Intel Core i7 6700HQ
GPU: Nvidia GeForce 960m

The console is repeatedly spamming the following in the console but it does finish:
[code]
![image](https://user-images.githubusercontent.com/1160867/31998122-eb7a6bd4-b98e-11e7-8d8d-aafdfb1c4afa.png)

[2017-10-25 12:31] CYBAI commented on #18991
Hi @KiChjang
If I'd like to help to fix this issue, could you give me some advises?
Thanks!

[2017-10-25 12:33] emilio commented on #18991
@CYBAI nobody has pin-pointed the cause yet (modulo it being related to incremental layout), so we don't know how easy or hard it is to fix.

The first step would be to create a reduced test-case that reproduces the issue, and then investigate it.

[2017-10-25 13:07] emilio opened #19015 "Move CSS longhands outside of mako"
We use the mako template system to autogenerate code.

Ideally, we'd like to use a manifest and use Rust to generate it instead. For that, we need to move all the remaining CSS properties (most of them have been moved already) outside of Mako. That is the same as saying: We should make all those use `${helpers.predefined_type(..)}`.

This is mostly moving and cleaning up code in the same way as #1

[2017-10-25 13:11] Manishearth commented on #19015
Yes!

I'm currently doing transform stuff though I may not do the extra step of predefined typing it.

[2017-10-25 14:52] jonathandturner commented on #16719
@NiLSPACE - the Servo nightlies are not always the most up-to-date as sometimes the builders have issues.  If you build Servo by hand, does it also work?

[2017-10-25 14:55] jdm commented on #16719
The panic that @jonathandturner (and I) can reproduce is another instance of #15079, according to the debugger. We really need to fix that.
[code]

[2017-10-25 14:56] jdm commented on #16719
That also explains why it's not a consistent result.

[2017-10-25 16:28] KiChjang commented on #18991
FTR I tried to make a reduced test case to no avail 2 days ago.

[2017-10-25 19:04] mateon1 opened #19019 "rustc segfault on script crate with --debug-mozjs"
This is almost definitely a rust bug, but I don't really know how to debug rustc, so I'll leave this here for someone smarter than me to figure out.

My environment is x86_64 Debian sid, this time I've made sure my git repo is clean.

Building servo [a69e33366e4333f1de3502e5d706d79f4f843b00, and reproducible in many earlier commits] with `./mach build -d --with-debug-assertions --debug-mozjs` fail

[2017-10-25 19:31] jdm commented on #19019
I cannot reproduce this problem on macOS.

[2017-10-25 19:32] jdm commented on #19019
Is there any chance the compiler is getting killed due to an OOM condition?

[2017-10-25 19:36] CYBAI commented on #18991
@emilio @KiChjang Got it, thanks!

[2017-10-25 19:52] mateon1 commented on #19019
Yep, rustc is getting junk from malloc because I had `vm.overcommit_memory = 2` set. Sorry for the noise :frowning_face:

[2017-10-25 19:52] #19019 closed

[2017-10-25 20:40] jdm commented on #4767
This can probably take advantage of the infrastruture that was developed for https://github.com/servo/servo/pull/17083.

[2017-10-25 20:53] Xanewok commented on #18178
For more context: https://github.com/servo/servo/issues/10381#issuecomment-333369488, https://github.com/servo/servo/issues/13879#issuecomment-272270852

[2017-10-25 21:30] emilio opened #19020 "Move -x-text-zoom outside of mako."
Part of #19015.

This one lives in `components/style/properties/longhands/font.mako.rs`.

@CYBAI wanted to take this one, thanks @CYBAI!

Remember to run `./mach build-geckolib` (or `./mach cargo-geckolib check`), since this property is firefox-only!

[2017-10-25 21:44] mauricioc opened #19021 "Move border-image-repeat outside of mako."
I'll start with the easy one. See Issue #19015.

[2017-10-26 01:28] SimonSapin commented on #19015
Before we go through every property and move code around, maybe we could talk a little bit about what design we want?

For example, maybe instead of the pattern of having modules that are expected to define a few items of certain kinds with certain names, we could rely on the hot new language feature of associated types. That kind of things.

[2017-10-26 02:04] atouchet commented on #15255
This is an issue again with the latest nightly build.

[2017-10-26 02:16] atouchet commented on #15255
@jonathandturner I updated Servo's version of Browser.html and it seems to have re-broken this in the process. Do you have an idea of whether this would be related to the Font Awesome woff file change you made or something else?

[2017-10-26 07:54] SimonSapin commented on #19015
After clarifying on IRC, it turns out that the changes I had in mind are mostly orthogonal with what this issue is about. So, carry on :)

[2017-10-26 08:27] tigercosmos commented on #18874
Is there more information about this issue?

[2017-10-26 10:00] codec-abc commented on #12937
Just leaving this as an information. [Glutin code has been updated](https://github.com/tomaka/glutin/issues/878#event-1310764867) -for quite a while actually- and now keyboard event are ordered in the same fashion no matter the underlying platform.

[2017-10-26 12:08] SimonSapin commented on #18874
These sub-commands are defined in `python/servo/bootstrap_commands.py`. It’s not useful to run one without the other, so they could both be replaced with one. Note however that there’s already an existing `bootstrap` sub-command that does something else.

[2017-10-26 14:58] atouchet commented on #15255
Whoops, should probably close this after it's fixed in Servo itself.

[2017-10-26 15:27] tigercosmos commented on #18874
How do you suggest to solve this? Is it a good way to name a new sub-command to combine them? And what should the new sub-command name?

[2017-10-26 15:32] SimonSapin commented on #18874
Though personally I don’t care much about doing that v.s. the status quo, I usually run `./mach fetch` to fetch/bootstrap everything. Maybe @nox, having filed this issue, has opinions.

[2017-10-26 16:48] tigercosmos opened #19029 "Wiki Building-for-Android"
Wiki [Building-for-Android](https://github.com/servo/servo/wiki/Building-for-Android)
[code]

should be
[code]

delete a dash

[2017-10-26 17:04] atouchet commented on #19029
Fixed.

[2017-10-26 17:04] #19029 closed

[2017-10-26 17:37] #15255 closed

[2017-10-26 20:06] #19020 closed

[2017-10-27 01:16] jdm opened #19033 "Intermittent timeout in /css21_dev/html4/border-left-applies-to-012.htm and /referrer-policy/origin/meta-referrer/same-origin/http-https/iframe-tag/generic.swap-origin-redirect.http.html (panic in FontCacheThread::get_font_instance)"
[code]

[2017-10-27 02:23] CYBAI opened #19034 "Move -moz-script-min-size outside of mako."
I'll take this one as a sub-issue of #19015

[2017-10-27 03:26] niravjain commented on #18528
Posting here since IRC seems to be down. We're facing issues with html5ever, it gives error for xml5ever. However, we didn't make any changes to xml5ever. Can you guide what we can do move forward?

Pastebin: https://pastebin.com/pXfK5Fnx

[2017-10-27 06:06] jdm commented on #18528
What happens if you run `./mach cargo-update -p markup5ever`?

[2017-10-27 08:00] gauraangkhurana opened #19037 "Testing Failed - "OffscreenCanvas is not defined""
Hi Community,

Quick Intro: I am a developer trying my hands on servo for the first time (OffscreenCanvas & OffscreenCanvasRenderingContext2D).

I followed the exact steps given on the [page](https://github.com/servo/servo/wiki/Offscreen-canvas-project), which are:

1. create the OffscreenCanvas and OffscreenCanvasRenderingContext2d interfaces with stub method implementations
hide the new interfac

[2017-10-27 08:48] jdm commented on #19037
It's hard to debug this without a link to the code that you're running. I saw that https://github.com/servo/servo/pull/19012 was opened, but it doesn't actually compile, so I'm not sure if it's relevant or not. I would expect the tests to fail in this manner if you are not using a build of Servo that has the OffscreenCanvas WebIDL interface present.

[2017-10-27 17:19] highfive commented on #18338
cc @aneeshusa

[2017-10-27 17:40] edunham commented on #17873
They were i5 machines with not enough RAM and now they are i7 machines with plenty :)

[2017-10-27 17:40] #17873 closed

[2017-10-27 22:18] niravjain commented on #18528
Thanks @jdm , servo build now uses xml5ever version 0.6.2 which no longer causes the issue we were facing.

[2017-10-27 22:23] niravjain commented on #18528
Right now we have created test cases, but not able to run using test-wpt. While creating the tests using create-wpt, we're getting the following error:
https://pastebin.com/d8i99igf

Any input on why we are getting this issue?

[2017-10-28 01:18] frewsxcv commented on #6106
Chromium just announced they're removing HPKP

https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/he9tr7p3rZ8/eNMwKPmUBAAJ

[2017-10-28 07:47] gauraangkhurana commented on #19037
Hey guys, had another good day working on the servo project and learning new cool things.

So I figured what was going wrong yesterday. I am afraid, I wasn't running the the proper build before trying to run the tests. Perhaps that explains the errors.

Anyway, I was going through the code again today and made a lot of new changes to it to get the API up and running.

However, I think I would real

[2017-10-28 09:47] emilio commented on #19037
Yes, you cannot use `make_uint_getter!` in `offscreencanvas.rs`. That macro is for elements (it assumes that the `Width` comes from the canvas HTML element).

So you probably want to define it following the spec, or just returning a dummy value for now, like:

[code]

[2017-10-28 12:18] blacksvk opened #19049 "Servo shows only white page on integrated GPU"
I tested it on my laptop with nvidia optimus. When i run servo with integrated GPU(default option) nothing's rendered. It works fine with nVidia GPU.

![servo](https://user-images.githubusercontent.com/10187350/32134304-c487fc90-bbea-11e7-93a3-94abca6e45e0.png)

iGPU: Intel HD Graphics 4600
dGPU: nVidia GeForce GTX760M
OS: Windows 8.1 x64

Drivers:
nVidia: 387.92
Intel: 10.18.10.3308

[2017-10-28 12:51] emilio commented on #19049
cc @glennw

[2017-10-28 12:51] ocerman opened #19050 "Line height issue when mixing font sizes."
Line height is too big when mixing 2 different font sizes in same block.

![lineheig](https://user-images.githubusercontent.com/10187350/32134545-6d7b663a-bbef-11e7-9778-a9f8d494ed67.png)

[code]

[2017-10-28 15:24] CJ8664 commented on #18528
All the issues have been resolved and the pull request is ready to be merged with only one problem, we are having difficulties in rebasing the code :(

[https://github.com/servo/servo/pull/19038](https://github.com/servo/servo/pull/19038)

[2017-10-28 15:48] atouchet opened #19052 "Hit detection issue with duckduckgo.com/html search button"
URL: https://duckduckgo.com/html/

On the duckduckgo.com/html main page the entire search button should be clickable but in Servo it is only clickable when the mouse is above the edges of the button or above the magnifying glass icon. The button is not clickable otherwise. Tested in Windows 10 with Browser.html.

[2017-10-28 15:58] atouchet commented on #18978
This may be related to #19052. I notice that the colour only flickers when the mouse is also not over the magnifying glass icon. Moving the mouse also sometimes makes the button unclickable even if the cursor is still above the search button.

[2017-10-28 16:13] atouchet commented on #19050
Is this a general issue or Windows-only?

[2017-10-28 16:17] atouchet commented on #11150
I am experiencing this issue again.

[2017-10-29 01:18] BillGoldstein commented on #19049
First showed up for me with 26th's nightly (so perhaps related to WEBGL2.0 ?) Win10 x64

[2017-10-29 05:41] atouchet commented on #13366
Is this still an issue? I believe Windows text input should be working fine now.

[2017-10-29 08:07] gauraangkhurana commented on #19037
Hey  Emilio, thanks for your suggestion. It worked like a charm.

I learnt more about the project today and made some changes to my code.
From 35 errors, I brought them down to 3 by making the appropriate changes in the files.

Unfortunately I am not able to find a solution to these 3 errors even after having spent half the day.
The issues reside in the OffscreenCanvas Constructor, as per my under

[2017-10-29 10:13] ark- commented on #13366
I think it is fixed on my Windows 8.1 machine. Though tabbing between input fields does not work. Not sure if that should be a new issue?

[2017-10-29 10:45] KiChjang commented on #13366
@ark- Not a new issue - we don't have tabbing support. Work is tracked in #3982.

[2017-10-29 13:14] jdm commented on #19037
Reopening under the assumption that this was closed accidentally.

[2017-10-29 17:27] atouchet commented on #18801
In the latest nightly build the rects have some kind of square border around them.

![Rects](https://i.imgur.com/vVh1C04.png)

Is this https://github.com/servo/webrender/issues/1943?

[2017-10-29 19:53] jdm commented on #19037
Your Constructor method is missing a &GlobalScope argument, and it should return a `Result<DomRoot<OffscreenCanvas>>`. You will need to define a `new` method for OffscreenCanvas that your Constructor calls. For prototyping purposes when you want to just fix compiler error, you can use `unimplemented!()` to work around problems where you're not sure what value to return at the moment.

[2017-10-30 08:28] NiLSPACE commented on #18974
This has been fixed with #19054

[2017-10-30 08:28] #18974 closed

[2017-10-30 09:42] sviter commented on #18356
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
http://en.wikipedia.org/wiki/Coyote
### Servo Version:
Servo 0.0.1-98a90d2
### Backtrace:
[code]

[2017-10-30 09:46] sviter commented on #18744
No crash for me now.

[2017-10-30 09:46] #18744 closed

[2017-10-30 09:51] paulrouget opened #19058 "Segfault on Android since #19011"
Happens at startup. Managed to bisect to #19011

/cc @SimonSapin @mbrubeck

I don't have much information. I'm struggling to get a backtrace.

[2017-10-30 09:53] paulrouget commented on #19058
I don't use the "official" Android build mechanism. So I might be missing something about the allocator.

[2017-10-30 12:17] SimonSapin commented on #19058
I think that part of the problem is that we need to define a `extern fn ft_free(mem: FT_Memory, ptr: *mut c_void)` function that deallocates without knowing what size was used to allocate that pointer. The standard Rust APIs require a size to be known during deallcation, and using `malloc_usable_size` of that seems suspicious.

I’m working on a PR to make `freetype/font_context.rs` use C-level jem

[2017-10-30 12:37] paulrouget commented on #19058
Is there a way for me to confirm that this is indeed the issue?

[2017-10-30 12:39] SimonSapin commented on #19058
Without a backtrace, I don’t know.

[2017-10-30 13:19] MortimerGoro commented on #17140
I want to include WebGL 2.0 conformance tests. We'll need to update to 2.0.0 conformance suite instead of 1.0.3.

As a first step I'll work on this issue. In a different PR I'll try to update to 2.0.0 using the new match command. Let's see how it goes ;)

[2017-10-30 14:03] SimonSapin commented on #19058
@paulrouget Try with https://github.com/servo/servo/pull/19061 ?

[2017-10-30 16:58] tigercosmos opened #19063 "unused variable"
[code]

on commit
[code]

[2017-10-30 16:58] highfive commented on #19063
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-10-30 16:59] jdm commented on #19063
We should rename those with the _ prefix to make the warning go away.

[2017-10-30 18:14] emilio opened #19064 "Intermittent timeout /_mozilla/css/blur_a.html"
[code]

cc @glennw, this may be a WR thing, because it has consistently been hitting random PRs, like #19034 or #19044.

[2017-10-30 19:12] SimonSapin commented on #19058
Oops, before actually closing this, @paulrouget can you confirm if this segfault still happens?

[2017-10-30 20:58] #19034 closed

[2017-10-31 01:07] outkaj commented on #19063
@highfive: assign me

[2017-10-31 01:07] highfive commented on #19063
Hey @outkaj! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-10-31 05:48] CYBAI opened #19068 "Move -moz-script-level outside of mako."
I'll take this one as a sub-issue of #19015

[2017-10-31 07:25] huangwenjun06 commented on #17869
I also get the following error when building firefox on an mips64 machine :
llvm 3.9.1; rustc1.21.0
Compiling style v0.0.1 (file:///home/loongson/firefox/github/gecko-dev/servo/components/style)
error: failed to run custom build command for style v0.0.1 (file:///home/loongson/firefox/github/gecko-dev/servo/components/style)
process didn't exit successfully: /home/loongson/firefox/github/gecko-dev/

[2017-10-31 11:16] paulrouget commented on #19058
#43a4f01647 doesn't crash. Thank you so much :)

[2017-10-31 11:18] #19058 closed

[2017-10-31 13:00] jdm commented on #17869
That looks like there's an error running bindgen on that cpu. Try building with STYLO_BUILD_LOG=/tmp/log; that log file will contain more clues about what's going wrong.

[2017-10-31 14:39] rillian commented on #17869
FWIW, I've seen that error with bindgen on top of llvm 3.9.1. You might try 4.0.1 or later.

[2017-10-31 14:58] SimonSapin commented on #11361
Rustup 1.7.0 is released. (Thanks Alex!)

[code]

[2017-10-31 15:59] paulrouget commented on #18731
@avadacatavra any idea what could be the issue?

more /cc: @Manishearth @eddyb I've been told you might also have some ideas?

[2017-10-31 16:07] #17140 closed

[2017-10-31 16:26] jdm commented on #18731
@paulrouget I recommend extracting a minimal reproduction from Servo's network code so it's easier to debug.

[2017-10-31 19:25] bobthekingofegypt commented on #18978
I created a sample page that appears to show how the presence of border-radius causes the flickering effect.

https://gist.github.com/bobthekingofegypt/579dac0a93acb4f55a4d720294836acb

[2017-10-31 19:26] bobthekingofegypt commented on #19052
I created a sample page that appears to show how the presence of border-radius causes the hit detection issue.

https://gist.github.com/bobthekingofegypt/579dac0a93acb4f55a4d720294836acb

[2017-10-31 20:23] olmanz opened #19075 "Download failed during build"
Hello, I am new to Rust but I'm interested in contributing to this Open Source project.

I followed the instructions on README.md and cloned this repo just to check if I can run Servo (I am using Ubuntu 16.04), but when I execute

./mach check

I get the following error message:

Looking for rustc at /home/omanz/Rust/OpenSource/servo/.servo/rust/2017-10-13-alt/rustc-nightly-i686-unknown-linux-gnu/

[2017-10-31 20:58] jdm commented on #19075
What operating system are you using? That usually happens when there is a problem determining the OS.

[2017-10-31 21:00] jdm commented on #19075
Oh, you said Ubuntu 16.04. That's odd. It would be useful to see what `platform.system` and `platform.machine` report from python in this code: https://github.com/servo/servo/blob/master/python/servo/util.py#L46-L77

[2017-10-31 21:15] SimonSapin commented on #19075
This is a bug. https://github.com/servo/servo/pull/19076 should fix it. In the meantime, you can copy `servobuild.example` to `.servobuild` and set `llvm-assertions = true`.

[2017-10-31 23:41] avadacatavra commented on #18731
@paulrouget i'll look into it--i don't know much about android. minimal reproduction would be helpful

[2017-10-31 23:44] avadacatavra commented on #19063
@outkaj when you open a PR I'd be happy to review it :)

also, let me know if you have any questions about how to submit a PR--thanks for taking this!

[2017-10-31 23:47] avadacatavra commented on #6106
I don't think this is something we should pursue--there are a number of unintended consequences that can happen as a result of HPKP. Since other browsers who have shipped it are reversing course, this doesn't seem like something we should implement

[2017-10-31 23:47] #6106 closed

[2017-11-01 00:23] #18227 closed

[2017-11-01 00:23] #19075 closed

[2017-11-01 00:34] outkaj commented on #19063
@avadacatavra thanks for reaching out! (running `./mach --build` on a slow computer at the moment)

[2017-11-01 02:42] atouchet commented on #18872
Error report from latest nightly build:

called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-c18f412
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-01 03:17] jdm opened #19080 "unknown completed load PageSource("https://arstechnica.com/")"
While trying to reproduce #18872 I encountered this panic. I scrolled around the page a bunch after it appeared to finish loading, and then this appeared.
[code]

[2017-11-01 04:40] paulrouget commented on #18731
So - as I was trying to build a minimal test case, I realized that the ["official" build](https://github.com/servo/servo/wiki/Building-for-Android) doesn't have this issue. *https://* pages load properly.

So this must be an issue with the way I build/package/load Servo in my Android app.

[2017-11-01 04:56] #19063 closed

[2017-11-01 04:58] atouchet commented on #18978
This issue also affects the hamburger menu button on the same page.

[2017-11-01 08:07] paulrouget commented on #18639
@MortimerGoro I get this error:

[code]

[2017-11-01 08:19] SimonSapin commented on #18639
This looks like `c_char` being `u8` or `i8` depending on the platform.

[2017-11-01 08:37] paulrouget commented on #18639
I think this has been fixed in tomaka's version of injected-glue, but not in mmatyas's. See:

https://github.com/tomaka/android-rs-glue/blob/master/cargo-apk/injected-glue/lib.rs#L270

vs

https://github.com/mmatyas/android-rs-injected-glue/blob/master/src/lib.rs#L245

[2017-11-01 08:45] paulrouget commented on #18639
https://github.com/mmatyas/android-rs-injected-glue/pull/3

[2017-11-01 09:02] BillGoldstein commented on #19049
Just tried Oct 31's nightly, and problem is fixed for me.

[2017-11-01 11:35] gregkatz commented on #19049
Fixed for me as well.

[2017-11-01 13:04] jdm opened #19084 "Intermittent pass in /css/css-text/i18n/css3-text-line-break-opclns-017.html, /css/css-text/i18n/css3-text-line-break-opclns-024.html, /css/css-text/i18n/css3-text-line-break-opclns-050.html, /css/css-text/i18n/css3-text-line-break-opclns-054.html, /css/css-text/i18n/css3-text-line-break-opclns-059.html, /css/css-text/i18n/css3-text-line-break-opclns-121.html, /css/css-text/i18n/css3-text-line-break-opclns-129.html, /css/css-text/i18n/css3-text-line-break-opclns-164.html, /css/css-text/i18n/css3-text-line-break-opclns-165.html"

[2017-11-01 13:06] jdm opened #19085 "Intermittent pass in /css/css-text-decor/text-decoration-line-012.xht, /css/css-text-decor/text-decoration-skip-ink-sidewaysrl-001.html"

[2017-11-01 17:47] jdm opened #19087 "External scripts in an XML document mess up the namespace map"
foo.xhtml:
[code]
foo.js:
[code]
When loaded from a server that provides the application/xhtml+xml, this yields the output:
[code]
because the inline script element receives an empty namespace when it's being created by the parser, so we only create an Element instead of an HTMLScriptElement.

[2017-11-01 17:52] tigercosmos opened #19088 "android build failed"
Can't figure out why? Maybe someone would know what I missed?
on commit `77112b2b8ef7b3bff63c4aeee021754a3fa0923b` in master
[code]

[2017-11-01 17:54] tigercosmos commented on #19088
Seems `CMakeFiles/woff2.dir/all` is important?

[2017-11-01 18:02] tigercosmos commented on #19088
break on this [line](https://github.com/google/woff2/blob/b677a07ffdda0ecb5fd18c3816c5930c7a883b7d/src/font.h#L15)

[2017-11-01 18:11] jdm commented on #16678
I believe work required is the following:
* re-implement https://dxr.mozilla.org/mozilla-central/rev/ee21e5f7f1c1726e0ed2697eb45df54cdceedd36/js/src/jspubtd.h#283 in Rust (just like [this code](https://github.com/servo/rust-mozjs/blob/1dc8aab23b9428f0a4162dd39009cd2b686e5f3a/src/rust.rs#L353-L390) reimplements the similar parts of [Rooted<T>](https://dxr.mozilla.org/mozilla-central/rev/ee21e5f7f1c

[2017-11-01 18:13] jdm commented on #19088
It seems like something is strange in your compiler setup, since `<map>` is a standard header file that should come with any C++ compiler.

[2017-11-01 18:26] tigercosmos commented on #19088
I would  set up a clean environment to try again

[2017-11-01 18:27] #19088 closed

[2017-11-01 18:38] olmanz opened #19089 "Build crashes with "Error: Could not compile script""
I get this problem with ./mach build --dev. Beneath is the error message when I execute the build with the --verbose ption, it mentions an invalid memory reference (for the record, I'm using Ubuntu 16.04 in a VirtualBox. It simulates 8 GB RAM and 4 processors). I also looked at the memory usage in htop and the build crashes with this error message when the mem usage reaches ~3 GB.

<details>

[cod

[2017-11-01 18:48] jdm commented on #19089
Is there any difference if you use `./mach build -j1`?

[2017-11-01 19:08] jdm commented on #16175
https://github.com/servo/servo/pull/19070 contains all of my investigations.

[2017-11-01 19:13] olmanz commented on #19089
Just tried it. No difference sadly - the build is still crashing with the same error message when the memory usage is somewhere in between 2.5 and 3 GB.

[2017-11-01 19:16] emilio commented on #19089
It'd be super-helpful if you could get a stack trace of that (though I know it's kinda hard). I notice this is on an i386 machine, so I suspect you don't really have 8GB of addressable space.

[2017-11-01 19:28] kalmarin opened #19092 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:

### Servo Version:
Servo 0.0.1-c18f412
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-01 19:37] jdm commented on #19092
What page were you looking at?

[2017-11-01 20:03] SimonSapin commented on #19089
I wouldn’t be surprised if `script` cannot be built if the compiler runs in a 32-bit address space.

[2017-11-01 20:40] edunham commented on #18374
mac6 has since been paved and replaced with a host sporting better specs.

[2017-11-01 20:40] #18374 closed

[2017-11-01 23:01] #18997 closed

[2017-11-01 23:21] blacksvk commented on #19049
Fixed for me as well. This issue can be closed.

[2017-11-01 23:48] #19049 closed

[2017-11-02 02:22] #18769 closed

[2017-11-02 02:26] atouchet commented on #18647
This is fixed now although the close icon does not change colour on mouseover.

[2017-11-02 02:26] #18647 closed

[2017-11-02 02:46] Manishearth commented on #15452
This was fixed in WPT's copy of sslutils but not for the CSStests

[2017-11-02 02:48] Manishearth commented on #15452
@gsnedders what should we be doing here?

[2017-11-02 08:56] hsivonen opened #19094 "mach bootstrap fails at Salt installation on Ubuntu 16.04"
Steps to reproduce:

1. Use Ubuntu 16.04
2. Run `./mach bootstrap` in the `servo` checkout directory.

Actual results:

[code]

[2017-11-02 09:28] tigercosmos opened #19095 "Check NDK version when android build"
Since we only support NDK 12 and below, we should add some script to check for that.
(The newest version of NDK is about 15)

[2017-11-02 12:09] highfive commented on #19095
cc @wafflespeanut

[2017-11-02 12:09] highfive commented on #19094
cc @wafflespeanut

[2017-11-02 12:15] jdm commented on #15452
Copy over any relevant changes from WPT's copy if this is blocking you in the short term. Otherwise just wait for #19070.

[2017-11-02 12:50] kalmarin commented on #19092
arstechnica.com/

[2017-11-02 14:42] avadacatavra opened #19099 "Fix TTI logic"
At some point in time during the review/rebase process for #18670, I seem to have deleted and missed setting the navigation start for the time to interactive metric.

In hunting down this problem, I'm also suspicious that the window logic may be faulty. I have a local experiment to fix this, but need to figure out what went wrong.

I also need to refer to gecko/chrome spec/implementation again, be

[2017-11-02 14:50] tigercosmos commented on #19088
I found that is caused by NDK version. as #19095

[2017-11-02 14:50] jdm commented on #19099
The domInteractive property is very different from the Time to Interactive metric - it is when page stops being parsed, like you speculated. I don't see any way to avoid the 10s delay before the metric is available, since we require a 10s window of availability before we can classify it.

[2017-11-02 14:51] jdm commented on #19099
Firefox has not implemented TTI yet: https://bugzilla.mozilla.org/show_bug.cgi?id=1299118

[2017-11-02 14:52] avadacatavra commented on #19099
It looks like chrome has? https://github.com/GoogleChrome/lighthouse/pull/450

[2017-11-02 14:55] jdm commented on #19099
https://github.com/GoogleChromeLabs/tti-polyfill is probably relevant. Looks like it's possible to measure TTI via JS in Chrome via the PerformanceObserver API.

[2017-11-02 14:56] avadacatavra commented on #19099
And yes, based on the spec, I don't see a way to avoid it. It looks like the chrome pr is from June 16, and then I see https://docs.google.com/document/d/1jbvwxj_GJtiTTqFM8dsVzCIy5XeKL5qtIAvuimcXb1o/edit from Dec...not sure if there's anything more recent?

[2017-11-02 15:02] tigercosmos commented on #19094
what I encountered in Ubuntu 17.10
[code]

[2017-11-02 15:03] avadacatavra commented on #19099
it looks like this is the most recent: https://docs.google.com/document/d/1GGiI9-7KeY3TPqS3YT271upUVimo-XiL5mwWorDUD4c/preview#

Should fix what we have and make a followup for consistently interactive

[2017-11-02 15:07] avadacatavra opened #19100 "Split time to interactive into first_interactive and consistently_interactive"
**Consistently Interactive**:
Find a the first 5 second window W after FMP such that
* W overlaps no tasks longer than 50ms
* For all timestamp t in W, number of resource requests in flight at t is no more than 2.

Now find the last long task L before W.
* Consistently Interactive Candidate is the end of L
* In the case there is no long task before L, Consistently Interactive Candidate = FMP.

Now

[2017-11-02 18:22] marmistrz commented on #19089
It's much more severe than _can't be compiled on a 32-bit_ machine. With current HEAD I'm running out of RAM on my 8G RAM laptop (I have 1.2G RAM used in idle) while trying to compile exactly `script`

[2017-11-02 18:57] olmanz commented on #19089
I tried this on a 64-Bit Ubuntu 16.04 on VM. No errors this time, build works fine.

[2017-11-02 20:31] bobthekingofegypt commented on #18831
I had a play around with this to try understand what is going on.

There may be more than one issue here but I was looking at the reason for the incorrect height of the input holder, that white space at the bottom.

A simple trigger of the issue is

[code]

Display an inline-block inside a block.

![comp1](https://user-images.githubusercontent.com/332141/32348634-5057102e-c00c-11e7-9704-1fca038901

[2017-11-02 22:41] Manishearth commented on #15452
Fixed for https://github.com/servo/servo/pull/19070

[2017-11-02 22:42] #15452 closed

[2017-11-02 23:26] Manishearth opened #19102 "Intermittent timeout on _mozilla/mozilla/referrer-policy/origin-when-cross-origin/meta-csp/cross-origin/http-https/iframe-tag/cross-origin.no-redirect.http.html"
https://github.com/servo/servo/pull/18750#issuecomment-341579861

http://build.servo.org/builders/linux-rel-css/builds/6736/steps/test/logs/stdio

<details>

[code]

</details>

[2017-11-03 00:10] Manishearth commented on #19015
We should also split up gecko.mako.rs into gecko.rs + gecko.mako.rs or something. All the manual impls go in gecko.rs. You can have multiple impl blocks for a type so that's fine.

[2017-11-03 00:11] Manishearth commented on #19015
Ideally, when debugging code it would be nice to never/rarely have to look at an autogenerated file and map its contents back to the "real" source.

[2017-11-03 03:06] tigercosmos commented on #19095
@highfive  assigned me

[2017-11-03 04:19] jdm commented on #19102
This is #13480.

[2017-11-03 04:19] #19102 closed

[2017-11-03 07:57] KiChjang opened #19107 "Sequence inner types are not imported when generating dictionary bindings"
The following WebIDL does not import `dom::types::MessagePort` during codegen:

[code]

[2017-11-03 08:43] chansuke commented on #19015
@emilio Hi.I want to try this issue:)

[2017-11-03 14:05] #19095 closed

[2017-11-03 15:08] #9895 closed

[2017-11-03 16:08] emilio commented on #19015
Hi @chansuke! This issue spans a few multiple sub-issues, are you interested in any of the list that don't have a PR or issue open already? If you don't want to choose one yourself, just let me know and I can choose one that is easy and assign it to you.

Thanks a lot!

[2017-11-03 17:35] tigercosmos commented on #10763
@jdm could you explain more?

[2017-11-03 18:08] jdm commented on #10763
If we add `void passOptionalSequenceWithDefault(optional sequence<long> seq = []);` to `components/script/dom/webidls/TestBinding.webidl`, we get a TypeError when executing CodegenRust.py, and it comes from https://dxr.mozilla.org/servo/rev/edb2db55b7fd72370a90fc65c5984d6b7e0f792f/components/script/dom/bindings/codegen/CodegenRust.py#674.

[2017-11-03 18:12] jdm opened #19110 "Intermittent fail in /referrer-policy/generic/iframe-inheritance.html"
[code]

[2017-11-03 18:51] #19068 closed

[2017-11-03 23:38] CYBAI opened #19111 "Move font-size outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-04 02:03] KiChjang commented on #18708
Fixed in #18724.

[2017-11-04 02:03] #18708 closed

[2017-11-04 06:11] chansuke commented on #19015
@emilio Thanks!!.I want you to choose & assign the easy one for me.

[2017-11-04 09:52] ZanderBrown commented on #12015
This is still reproducible on Fedora 27 (Beta) with the latest nightly

[2017-11-04 12:34] marmistrz commented on #19089
The RAM use is fairly non-deterministic. I managed to compile servo with exactly the same parameters. Total RAM usage was high, about 7.5G in the peak moment, but did not reach 100%.

[2017-11-04 14:51] tigercosmos opened #19114 "[dom-element-scroll] implement"
Currently [dom-element-scroll](https://drafts.csswg.org/cssom-view/#dom-element-scroll) have not finished yet. (Step 10)

I am going to work on this and would like to know what tests is related?

https://github.com/servo/servo/blob/0f5325d0a7e9b3039c7d5b5f9de5cd2511207d9a/components/script/dom/element.rs#L1889-L1933

[2017-11-04 16:39] EloD10 commented on #18918
@paulrouget work actually on this : https://github.com/paulrouget/servoshell
So the issue is open/assigned ? Or we can work on this ?

[2017-11-04 17:18] tigercosmos commented on #19114
Seem they are in `web-platform-tests/css/cssom-view/`, but I think there might be other test would be influenced.

[2017-11-04 19:32] jdm commented on #18918
Nobody is currently working on this; if you can solve the problems from https://github.com/servo/servo/pull/17311#issue-235779345 that would be very helpful!

[2017-11-04 21:31] marmistrz commented on #10209
me, @taki-jaro, @mrowqa and @xanewok will work on this issue as a student project
cc @KiChjang

[2017-11-04 21:31] marmistrz commented on #5014
me, @taki-jaro, @mrowqa and @xanewok will work on this issue as a student project
cc @KiChjang

[2017-11-05 03:02] fantasai opened #19117 "viewport units incorrect in print"
Viewport units are defined to be a percentage of the initial containing block. This seems to work fine in the case of screen media, but in print they are too big, probably because they're not subtracting out the page margin etc.

[2017-11-05 04:02] fantasai commented on #19117
Bugzilla report at https://bugzilla.mozilla.org/show_bug.cgi?id=1414600

[2017-11-05 07:54] SimonSapin commented on #19117
Servo does not yet support printing or paginated layout, so I assume you mean in Stylo?

Stylo resolves viewport-percentages relative to the `nsRect` field `mVisibleArea` of `nsPresContext` which is passed form C++ by the `Servo_StyleSet_SetDevice` function. Following up callers beyond that, it looks like the code paths are the same for Stylo and Gecko’s C++ style system.

https://searchfox.org/mo

[2017-11-05 07:55] tigercosmos opened #19118 "Code of Conduct"
I think we should add a contributor covenant code of conduct.
![image](https://user-images.githubusercontent.com/18013815/32412989-cdd977a8-c241-11e7-813e-1378d4ab76fe.png)

[2017-11-05 09:01] Manishearth commented on #19118
We follow the Rust Code of Conduct on Servo, already; I don't think it's worth switching to the Contributor Covenant.

https://github.com/servo/servo/blob/master/CONTRIBUTING.md#conduct

That said we should probably check it in as a CONDUCT.md so it shows up on that page.

[2017-11-05 09:33] tigercosmos commented on #19118
Shall we add [CODE_OF_CONDUCT.md](https://github.com/rust-lang/rust/blob/master/CODE_OF_CONDUCT.md) form Rust to let github shows up?

[2017-11-05 09:45] Manishearth commented on #19118
We'll need to make edits to that to change the moderation stuff, but yes.

[2017-11-05 11:26] paulrouget commented on #18639
I got it to work. The latest Android emulator is needed, and in the settings, ES 3.1 needs to be activated.

Then segfault. Still trying to figure that one out. (unrelated to #19058).

[2017-11-05 16:37] jdm commented on #5014
@marmistrz I don't think that's a wise idea, as there's not a clear design that makes sense to implement yet. For #10209 you should continue to use `object` or `any` WebIDL arguments and use the the [typed array APIs](https://github.com/servo/rust-mozjs/blob/master/src/typedarray.rs) to convert the SpiderMonkey types into usable Rust types.

[2017-11-05 18:08] atouchet commented on #18258
This issue comes up in https://duckduckgo.com/ as well. Part of the Learn More box that pops up when hovering over the DuckDuckGo logo stretches down the page.

![DuckDuckGo span](https://i.imgur.com/SlQdT1x.png)

`<span class="logo_homepage__tt">Learn More</span>`

[2017-11-05 18:29] atouchet opened #19121 "Close icon in DuckDuckGo sidebar doesn't change colour on mouseover"
URL: https://duckduckgo.com/

Steps to reproduce:

1. Load https://duckduckgo.com/
2. Click the hamburger menu icon to open the sidebar.
3. Move mouse over the close icon in the top right corner.
4. The close icon should change colour to a darker grey but in Servo it does not.

Tested in Windows 10 with Browser.html.

[2017-11-05 18:49] atouchet opened #19122 "DuckDuckGo hamburger menu icon stays white after being clicked"
URL: https://duckduckgo.com/

When clicking the hamburger menu icon in the top right corner of the page it turns white and stays white afterwards. It is supposed to change back to grey after being clicked.

![DuckDuckGo hamburger](https://i.imgur.com/vjqVmWM.png)

[2017-11-06 07:11] KiChjang commented on #17584
@kafji Are you still working on this?

[2017-11-06 07:11] KiChjang commented on #17370
@yati-sagade Are you still working on this?

[2017-11-06 07:12] KiChjang commented on #16840
@sralbertson Are you still working on this?

[2017-11-06 07:40] yati-sagade commented on #17370
@KiChjang yes, I've a patch, but working on the test. I thought first I'd throw I `TimeoutError` in the client code (super easy to test for), but it turns out (thanks @asajeffrey for pointing out) that the [spec](https://www.w3.org/TR/css-paint-api-1/#drawing-an-image) recommends not doing that.

[2017-11-06 07:52] sralbertson commented on #16840
I still haven't started. You can remove me from the issue.

[2017-11-06 08:39] paulrouget commented on #18731
So I'm pretty sure the `certs` file is properly loaded. When I use an empty file instead, servo just crash. With the proper content, servo runs correctly, but print the "handshake failed" message.

[2017-11-06 08:52] paulrouget commented on #18731
@MortimerGoro maybe you can help. So I get **https://** pages to work well with a regular Android build, but not with my custom build (it's really a totally different build process, we don't use anything from `support/android`, we use Xamarin and load libservo.so in C#).

I'm trying to figure out what might go wrong. The `certs` file is being read (if there's no `certs` file, it crashes, proving a

[2017-11-06 12:41] tigercosmos opened #19125 "`overflow_query` in `windows.rs`"
I don't know why here only use `overflow_x`, how about `overflow_y`?
https://github.com/servo/servo/blob/88505dc2ffc31efa614e1a5070a9bc23feded30a/components/script/dom/window.rs#L1403-L1411

[2017-11-06 12:45] jdm commented on #19125
overflow_x and overflow_y share the same type, so the Point2D value actually contains overflow_x and overflow_y values.

[2017-11-06 12:45] #19125 closed

[2017-11-06 12:47] tigercosmos commented on #19125
Got it. Thanks!

[2017-11-06 15:27] jdm commented on #19100
I also just came across https://docs.google.com/document/d/1l50v3ljDeUmj9qBsfdPc3wKe_1CY5KFYI1baye2NhYk/edit?ts=59dfaf65# which doesn't describe two separate metrics.

[2017-11-06 17:06] asajeffrey commented on #17370
@yati-sagade I filed a spec issue about this, whether there's some way to inform scripts that they are being treated as unresponsive.

For the moment, I think the thing to do is to write a reftest with a worklet that does something like `sleep(60000)`, and make sure that it is just displayed as a invalid image. The test should currently `TIMEOUT`, but be `OK` with your PR applied.

[2017-11-06 17:07] asajeffrey commented on #17370
PS: that spec issue was https://github.com/w3c/css-houdini-drafts/issues/507

[2017-11-06 18:37] valpackett commented on #11625
So, time for an update :)

Updated changes: https://github.com/valpackett/servo/tree/freebsd

More PRs:

- [x] https://github.com/alexcrichton/jemallocator/pull/23
- [x] https://github.com/alexcrichton/libz-sys/pull/30
- [ ] https://github.com/servo/ipc-channel/pull/178

And sandboxing actually works!

Not perfectly, sometimes I'm still getting "not permitted" errors / RecvErrors / SendErrors, I'l

[2017-11-06 18:38] Xanewok commented on #5014
Yeah, we definitely intend to continue using the `object` approach for now for the functions using SpiderMonkey types.
I briefly talked about the bindings in context with the remaining WebGL functions with @KiChjang on IRC and that it'd require some work and it seemed like a nice self-contained project that'd not only help rustify the API here but in other parts, hence why we wanted to also work o

[2017-11-06 18:48] KiChjang commented on #5014
May I recommend trying #16678 instead? That issue is somewhat similar to this one, and @jdm has been kind enough to leave notes on how to implement/fix it.

[2017-11-06 18:49] jdm commented on #5014
The problem with doing this as exploratory work is that it really requires one of the core team members to provide a recommended implementation path, and I don't think any of us have the time that that requires right now.

[2017-11-06 20:06] Xanewok commented on #5014
Yeah, sure! Thanks for pointing it out, we'll get back when we have something :+1:

[2017-11-07 05:24] atouchet opened #19131 "Top row of Browser.html homescreen site tiles are not clickable"
Steps to reproduce:

1. Run Servo using Browser.html.
2. Try to click one of the top row of website tiles from the homescreen.
3. Nothing happens.

I believe this is a regression from the past day or so as I did not experience this behaviour previously. Tested in Windows 10.

[2017-11-07 05:25] atouchet commented on #19131
The left sides of the leftmost column tiles also have issues. They are not clickable either.

[2017-11-07 05:42] atouchet commented on #18872
Ars Technica is outright crashing Servo without the error reporter every appearing in the latest nightly build.

[2017-11-07 07:31] KiChjang commented on #10763
@tigercosmos Are you interested in working on this?

[2017-11-07 07:42] tigercosmos commented on #10763
Not now. Please take it.

[2017-11-07 07:58] KiChjang opened #19134 "Intermittent timeout of /css/css-transforms/group/svg-transform-nested-009.html"
[code]

[2017-11-07 10:45] olmanz commented on #19122
Hello,

I am new to Rust but I want to participate in Servo. I was able to reproduce this problem on my VirtualMachine using Ubuntu. This looks like it could be a relatively easy issue for Rust beginners like me. Maybe you could assign this issue to me?

[2017-11-07 14:06] jdm commented on #19134
This is #13480 .

[2017-11-07 14:06] #19134 closed

[2017-11-07 14:10] jdm commented on #19122
In general issues related to layout are not as easy as they might appear, but you're welcome to try it!

[2017-11-07 14:10] jdm commented on #19122
https://github.com/servo/servo/wiki/Getting-started-with-layout may help.

[2017-11-07 15:43] jdm commented on #5014
The infrastructure created for #16678 should make solving this issue much easier. If your group would like to add it to your thesis, that's fine by me.

[2017-11-07 15:45] jdm commented on #5014
Gecko's current support for typed array bindings relies on https://dxr.mozilla.org/mozilla-central/source/dom/bindings/SpiderMonkeyInterface.h in types like `RootedSpiderMonkeyInterface<ArrayBufferView>`. This is based on the CustomAutoRooter type from SpiderMonkey.

[2017-11-07 16:40] larsbergstrom commented on #18731
You've put all of the resources/ directory into /sdcard/servo?
https://github.com/servo/servo/blob/2567c40829704dcb1c7769defffb9dabfd701633/support/android/apk/app/src/main/java/com/mozilla/servo/MainActivity.java#L251

The current APK build process is much cleaner than when I originally wrote it (thanks, @MortimerGoro!) but the whole Servo experience on android is still a ton of bailing wire and

[2017-11-07 22:11] gsnedders commented on #16175
@jdm this can be closed right, now that has landed?

[2017-11-07 22:27] jdm commented on #16175
Yep!

[2017-11-07 22:27] #16175 closed

[2017-11-07 22:28] jdm commented on #12695
All gone!

[2017-11-07 22:28] #12695 closed

[2017-11-07 22:28] jdm commented on #15057
All done!

[2017-11-07 22:28] #15057 closed

[2017-11-08 00:16] #19107 closed

[2017-11-08 00:39] emilio opened #19142 "Move border-image-repeat outside of mako."
As part of #19015

[2017-11-08 00:39] highfive commented on #19142
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-08 00:39] emilio commented on #19142
@chansuke, would you be interested in taking this? Sorry for the lag!

[2017-11-08 01:00] paulrouget commented on #18731
Yes. Resources are being read correctly.

That's totally fine. For now, I'm just experimenting with embedding Servo in a non-rust android app.

[2017-11-08 01:19] chansuke commented on #19142
@emilio Yes!Let me try this

[2017-11-08 03:08] atouchet commented on #18912
This appears to be fixed now.

[2017-11-08 03:08] #18912 closed

[2017-11-08 04:22] atouchet opened #19144 "called `Result::unwrap()` on an `Err` value: RecvError"
This error is from trying to load https://www.reddit.com/ Interestingly the error reporter appears to be triggered specifically when resizing the window horizontally.

called `Result::unwrap()` on an `Err` value: RecvError
### URL:

### Servo Version:
Servo 0.0.1-7ae852b
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-08 04:47] upsuper opened #19145 "Intermittent crash on /html/syntax/parsing/html5lib_tests5.html?run_type=uri"
<details>

[code]

</details>

[2017-11-08 04:49] upsuper opened #19146 "Intermittent timeout on /_mozilla/webgl/conformance-1.0.3/conformance/glsl/misc/shader-with-short-circuiting-operators.html"
<details>

[code]

</details>

[2017-11-08 06:19] georgiosd commented on #18562
@paulrouget how does that work, roughly? Is it loading Servo in process and you have to dynamically load/map to the functions you wanna use?

[2017-11-08 06:24] paulrouget commented on #18562
yes.

Here is an example that I build recently: https://github.com/paulrouget/servofocus/tree/master/rust

The library is dynamically loaded within C# code.

[2017-11-08 06:28] georgiosd commented on #18562
Thank you sir, you are a gentleman and a scholar.

[2017-11-08 06:36] anholt opened #19147 "webgl: Implement toDataURL()"
I'm starting on this, as it's the source of a lot of errors in the webgl conformance tests.  Open questions so far:

- Can I safely assume that the canvas's Width() and Height() match the offscreen_gl_context's FBO width and height?
- What do I need to do as the equivalent of 2d canvas's origin handling?

This is part of #10209

[2017-11-08 08:34] paulrouget commented on #18731
Building in 32 bits instead of 64 solves the issue.

I moved from  `aarch64-linux-android` to `arm-linux-androideabi`.

[2017-11-08 08:34] #18731 closed

[2017-11-08 10:06] emilio commented on #19142
Awesome, thanks! Let me know if you need any help :)

[2017-11-08 11:29] #19111 closed

[2017-11-08 13:19] jdm commented on #19145
This is #13480.

[2017-11-08 13:19] #19145 closed

[2017-11-08 13:19] jdm commented on #19146
This is #13480.

[2017-11-08 13:19] #19146 closed

[2017-11-08 13:23] jdm commented on #19147
With respect to the origin handling, https://www.khronos.org/registry/webgl/specs/latest/1.0/#4.2 seems like the relevant section here. The note that "these rules imply that the origin-clean flag for a canvas rendered using WebGL will never be set to false" seems particularly interesting.

[2017-11-08 13:34] CYBAI opened #19151 "Move font-size-adjust outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-08 15:22] jdm commented on #18671
Rather than have cancel_load_map be treated as the fetch group, I think it would make more sense to have the Load message also contain an optional existing ResourceId that the fetch is associated with. When we create the new ResourceId, we would add a new entry to a `fetch_group` hashmap from ResourceId -> [ResourceId], and when cancelling a fetch we would check this hashmap and cancel any Resourc

[2017-11-08 15:55] tigercosmos commented on #19118
I mark something we should change here in gray.

====================================

# The` Rust `Code of Conduct

A version of this document [can be found online](https://www.rust-lang.org/conduct.html).

## Conduct

**Contact**: [`rust-mods@rust-lang.org`](mailto:rust-mods@rust-lang.org)

* We are committed to providing a friendly, safe and welcoming environment for all, regardless of level of

[2017-11-08 16:37] tigercosmos commented on #14258
Looks interesting.

[2017-11-08 16:43] tigercosmos commented on #14258
I think we can add a command
[code]

[2017-11-08 16:58] #19151 closed

[2017-11-08 21:06] cbrewster opened #19156 "Track History State in Session History"
Part of #10992.

We should be adding session history entries every time a new history state is pushed.

[2017-11-08 21:07] cbrewster opened #19157 "Update document URL when a new history state is pushed/replaced"
Part of #10992

https://html.spec.whatwg.org/multipage/#dom-history-pushstate Step 10

[2017-11-08 21:10] cbrewster opened #19158 "Support Document's latest entry"
Part of #10992.

https://html.spec.whatwg.org/multipage/history.html#latest-entry

[2017-11-08 21:12] cbrewster opened #19159 "Optionally abort push/replace state"
Part of #10992
https://html.spec.whatwg.org/multipage/#dom-history-pushstate Step 3.
We need to determine the circumstances where we should abort push/replace state.

[2017-11-08 22:37] jdm commented on #15850
Last effort was #17474, which just needs some more work to address the unexpected test results.

[2017-11-09 03:55] atouchet commented on #17190
The latest WebRender updates appear to have largely fixed the Windows text rendering issues. Screenshots from the latest nightly build:

![Servo](https://i.imgur.com/gxBh3k4.png)

![Servo](https://i.imgur.com/VuDeVTI.png)

![Servo](https://i.imgur.com/byLm4TM.png)

@hinaria what do you think? Should this issue be closed now?

[2017-11-09 03:59] CYBAI opened #19160 "Move font-synthesis outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-09 04:10] atouchet commented on #18872
The entire browser isn't crashing again.

WARNING: <ScriptThread PipelineId { namespace_id: PipelineNamespaceId(3), index: PipelineIndex(NonZero(NonZero(64))) }>: Trying to set metric before navigation start
WARNING: <ScriptThread PipelineId { namespace_id: PipelineNamespaceId(3), index: PipelineIndex(NonZero(NonZero(64))) }>: Trying to set metric before navigation start
WARNING: <ScriptThread Pip

[2017-11-09 04:10] glennw commented on #17190
@atouchet Thanks for following up on this!

[2017-11-09 04:58] atouchet commented on #18913
Looking at the code in Browser.html I think the close icon is actually text and not an image: https://github.com/browserhtml/browserhtml/blob/7ae365b27f537105d079555d75b961c82d466db9/src/Browser/IssueReporter.js#L146

Servo appears to have issues rendering U+2715 then.

[2017-11-09 05:12] paulrouget commented on #18913
Could be because of https://github.com/browserhtml/browserhtml/pull/1308

[2017-11-09 05:14] atouchet commented on #18913
@paulrouget no I don't think so. This issue predates that PR.

[2017-11-09 08:40] fantasai commented on #19117
Right, and that is not the correct thing to look at for print / print preview. The nsPresContext's mVisibleArea includes the whole page box's area afaict. But the viewport unit calculation needs to only consider the page area.

[2017-11-09 15:14] atouchet commented on #18913
Taking a look at https://en.wikipedia.org/wiki/X_mark which lists a number of Unicode X symbols the only one that appears to show up in Servo is U+00D7.

![X marks](https://i.imgur.com/DLBlV1s.png)

[2017-11-09 16:01] asajeffrey commented on #17607
This is now fixed in the upstream wpt tests, so we should be able to close this issue once we downstream the tests.

[2017-11-09 16:06] wilsoniya commented on #16840
@highfive: assign me

[2017-11-09 16:06] highfive commented on #16840
Hey @wilsoniya! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-09 16:27] CYBAI opened #19166 "Move font-variant-alternates outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-09 16:32] atouchet commented on #16902
Is this issue still valid? The linked WebRender fix was merged months ago.

[2017-11-09 16:37] olmanz commented on #19122
Here is a reduced test case:

[code]
The problem still occurs when I open this with Servo. However, it does not occur when it is debugged with the -i option.

[2017-11-09 17:10] Xanewok commented on #16678
As a follow up from #5014, we'd like to tackle this, and possibly related issues, as a team (@marmistrz, @mrowqa, @taki-jaro) for our bachelor thesis project.
We'll do the work described in https://github.com/servo/servo/issues/16678#issuecomment-341191799 and ask over at IRC when we have any questions/problems. Is that okay?

[2017-11-09 17:42] jdm commented on #16678
Absolutely!

[2017-11-09 17:42] jdm commented on #16678
If you don't get the responses you need from IRC, please follow up by asking the questions here.

[2017-11-09 17:44] jdm commented on #19122
There are a couple ways to further reduce that testcase:
* include only the relevant style rules in an inline style block, rather than using an external stylesheet
* remove the classes/elements that do not affect the testcase

[2017-11-09 18:03] tigercosmos commented on #19094
I try with a *clean* environment again.
1. VM with Ubuntu16.04
2. Setup following by README
3. `mach bootstrap`

[code]

[2017-11-09 18:57] jdm commented on #18872
I keep trying to reproduce this on macOS and never can, unfortunately.

[2017-11-09 18:58] jdm commented on #18872
And of course literally while I was typing that comment I did:
[code]

[2017-11-09 21:09] jdm opened #19168 "Panic (unreachable layout channel) when refreshing arstechnica.com"
[code]

[2017-11-09 21:11] jdm commented on #19168
The previous backtrace was from a browser.html run; this is just straight `./mach run http://arstechnica.com --debug`:
[code]

[2017-11-09 21:13] jdm commented on #19168
In a debug build I got this:
[code]

[2017-11-09 23:25] jdm opened #19170 "Windows and elements can exist after their associated pipelines are closed"
I believe this is the cause of the panics in #18872. We have code that assumes that you can't interact with the pipeline's layout thread after the pipeline is closed, but this minimal reproduction demonstrates otherwise:

[code]

[code]

[2017-11-09 23:26] jdm commented on #18872
I thought about what could cause this and filed #19170.

[2017-11-09 23:27] jdm commented on #19170
This is a super general problem that is not just limited to GetBoundingClientRect.

[2017-11-09 23:33] jdm commented on #19168
This is probably the same underlying problem as #19170.

[2017-11-10 00:16] KiChjang opened #19171 "Text control selections API conformance"
We currently have WebIDL bindings to the `selectionStart`, `selectionEnd` and `selectionRange` setter functions on the HTMLInputElement, but these setters do not follow the spec completely since they do not fire `select` events on the input element when they are called.

In addition, we should also check that the code for these setters are matching the steps as outlined in the spec.

Code: `compon

[2017-11-10 00:16] highfive commented on #19171
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-10 00:41] asajeffrey commented on #17370
The spec issue was punted to v2 of worklets, so we'll have to work around it in our tests I'm afraid.

[2017-11-10 00:51] emilio commented on #19170
Ouch, indeed, basically anything that tries to communicate with layout should be able to handle failure...

There's stuff that's not easy here, and it's not clear how you'd handle failure in some cases (like getComputedStyle). Returning null for example would cause stuff like: https://bugzilla.mozilla.org/show_bug.cgi?id=548397

[2017-11-10 02:33] 3442853561 commented on #19171
Awesome

[2017-11-10 02:49] tigercosmos commented on #19171
Did the previous PR solve part of this?

[2017-11-10 03:11] atouchet commented on #18978
This appears to be fixed now.

[2017-11-10 03:11] #18978 closed

[2017-11-10 04:32] KiChjang commented on #19171
No, it did not.

[2017-11-10 05:17] #19160 closed

[2017-11-10 05:37] KiChjang opened #19172 "[meta] Implement value sanitizations for different input modes"
#18262 laid the groundwork for this, but we're still missing value sanitizations for:

- [x] [Date type inputs](https://html.spec.whatwg.org/multipage/input.html#date-state-(type=date):value-sanitization-algorithm) (#19385)
- [x] [Month type inputs](https://html.spec.whatwg.org/multipage/input.html#month-state-(type=month):value-sanitization-algorithm) (#19385)
- [x] [Week type inputs](https://htm

[2017-11-10 05:37] highfive commented on #19172
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-10 06:07] atouchet commented on #19052
This is fixed now although there are still some issues with the button on the search page.

[2017-11-10 06:07] #19052 closed

[2017-11-10 06:39] tigercosmos commented on #19172
@highfive: assign me

[2017-11-10 06:39] highfive commented on #19172
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-10 06:47] tigercosmos commented on #19172
@KiChjang Can I divide it to several parts and solve them one by one? Maybe two or three?

[2017-11-10 07:25] paulrouget opened #19174 "Can't build on Windows anymore. Filename is too long"
Any idea how to work around that?

[code]

[2017-11-10 07:26] KiChjang commented on #19172
@tigercosmos Sure! Just comment and make a list of the ones that you'd like to solve.

[2017-11-10 07:26] hsivonen commented on #19094
An important (implied) part of this bug report is that if one has mozilla-central experience and finds that `mach bootstrap` exists, it's reasonable to expect it to set up the environment and not even go read the README before that step.

If the expected flow is to follow the README, removing `mach bootstrap` would be a valid fix.

[2017-11-10 07:33] paulrouget commented on #19174
As long as servo is pulled via the git command line tool, it works. But if it's pulled via libgit2 (via cargo), we get this exception. It makes using Servo as a dependency on Windows impossible.

Relevant issue: https://github.com/libgit2/libgit2sharp/issues/1374

[2017-11-10 07:37] KiChjang commented on #19174
I'm going to suggest something dumb - would it help if you moved your servofocus folder directly under `C:\`? It may make it not trigger the length limit.

[2017-11-10 07:41] paulrouget commented on #19174
I might do just that. Trying first with cloning servo manually and use `[replace]`.

[2017-11-10 07:42] KiChjang commented on #19174
The more general solution here may be to have a configuration where we can pick and choose whether we want to clone the entire WPT repository.

[2017-11-10 07:44] paulrouget commented on #19174
Or make it so libgit2 supports the longpath option.

[2017-11-10 07:45] KiChjang commented on #19172
Keeping this open for other potential contributors.

[2017-11-10 07:49] paulrouget commented on #19174
`[replace]` doesn't solve the problem.

[2017-11-10 07:51] tigercosmos commented on #19172
I pick the first one `Date type inputs`

[2017-11-10 07:51] NiLSPACE commented on #16902
It's fixed for me.

[2017-11-10 08:35] paulrouget commented on #19174
Moving to `c:\` worked as a temporary solution.

[2017-11-10 13:50] nox commented on #16208
[code]

[2017-11-10 13:50] #16208 closed

[2017-11-10 13:53] emilio opened #19177 "CharacterData should call children_changed on the parent node consistently."
Right now it only does it from `SetData`, not from `AppendData` or `ReplaceData`.

The block at:

https://github.com/servo/servo/blob/a3f2fae561de26fefb0ac0d569ce2c7a2942eee5/components/script/dom/characterdata.rs#L91-L99

Should instead move to `fn content_changed`.

Here's a test-case that will fail after #19164:

[code]

[2017-11-10 13:53] highfive commented on #19177
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-10 13:54] #16902 closed

[2017-11-10 14:33] nox opened #19179 "Move custom elements stuff to their own dom::bindings submodule"
The functions `html_constructor` etc have nothing to do in `dom::bindings::interface`.

[2017-11-10 14:41] cgati commented on #15850
@jdm could I take a stab at this or would you prefer it be claimed by a RGSoC applicant?

[2017-11-10 14:57] jdm commented on #15850
No, please do!

[2017-11-10 15:02] bobthekingofegypt commented on #19052
Incase it comes up again and someone looks back at this, this was fixed by #19169 which contains an update to webrender.

This diff https://github.com/servo/webrender/compare/aa74cdfc...3a0ddfc5 should cover the relavant commits from the WR release.  Something in there fixed the issue.

[2017-11-10 17:37] CYBAI commented on #19177
@highfive: assign me

[2017-11-10 17:37] highfive commented on #19177
Hey @CYBAI! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-10 18:41] emilio commented on #19177
I just checked and that test-case passes, but this one does not:

[code]

[2017-11-10 19:51] jdm commented on #13480
Shoot, I didn't mean to close this in #18986. No wonder more of these failures have been preventing builds from merging.

[2017-11-10 20:17] jdm commented on #4034
I can't reproduce this any more, and lots of the relevant code has changed in very significant ways.

[2017-11-10 20:17] #4034 closed

[2017-11-10 20:23] KiChjang commented on #12675
Latest attempt was at #18266, with a review comment that needs to be addressed.

[2017-11-10 20:30] jdm commented on #13480
I wonder if this is caused by https://github.com/servo/ipc-channel/issues/29 (based on my reading of https://blog.netherlabs.nl/articles/2009/01/18/the-ultimate-so_linger-page-or-why-is-my-tcp-not-reliable).

[2017-11-10 20:41] cgati commented on #15850
@highfive : assign me

[2017-11-10 20:41] highfive commented on #15850
It looks like this has already been assigned to someone. I'll leave the decision to a core contributor.

[2017-11-10 20:43] KiChjang commented on #15850
Ignore @highfive's message; I've already assigned this issue to you.

[2017-11-10 20:43] cgati commented on #15850
@KiChjang thanks!

[2017-11-10 21:12] PeterZhizhin opened #19183 "Move overflow-y outside of Mako"
I think that this should be an easy property to start with. This is a sub issue of #19015.

[2017-11-11 00:47] #19166 closed

[2017-11-11 02:31] emilio commented on #13480
https://github.com/servo/ipc-channel/pull/179 has a repro for this

[2017-11-11 10:52] tigercosmos commented on #19172
Seems  `min` `max` `step` attributes have not implemented?
https://github.com/servo/servo/blob/a3f2fae561de26fefb0ac0d569ce2c7a2942eee5/components/script/dom/htmlinputelement.rs#L896-L899

[2017-11-11 11:01] KiChjang commented on #19172
That is incorrect. I can find them under the `HTMLInputElementMethods` trait implementation.
https://github.com/servo/servo/blob/33fa728d6e5392993c83f630acc1d6e442104dec/components/script/dom/htmlinputelement.rs#L496-L500

[2017-11-11 12:58] tigercosmos commented on #19172
That just get the value. But we need to do something? e.g. min should be number.

[2017-11-11 15:01] olmanz commented on #19122
Hello,

I tried to make the testcase as minimal as possible and this is my result:

[code]
As I said in my previous comment, the problem does not occur when I debug it with the -i option.

[2017-11-11 15:12] olmanz commented on #19179
Hello,

if I understand correctly, the function html_constructor() simply has to be moved into its own .rs file (for example html_constructor.rs in the bindings directory)? I'm new to Rust, therefore it's better if I ask....

[2017-11-11 17:12] bobthekingofegypt commented on #18706
It is alright to work on this?

I think I know what is wrong, just need to check the change doesn't break anything and add a reftest

[2017-11-11 18:21] tigercosmos commented on #19094
That would be another issue, I thought.
Back to the point. I try again today.
It seems `mach bootstrap` fails at Ubuntu all the time...

[2017-11-11 19:41] KiChjang commented on #19172
I assume the reason why you're asking is because the spec mentions `max`, `min` and `step` attributes should be valid date strings? You can safely ignore that part - the spec is written with different target audiences in mind: _HTML authors_ (which is to say programmers who write HTML) and _HTML implementors_ (us). Those requirements are for HTML authors, since they do not mention how _user agents

[2017-11-11 19:43] bobthekingofegypt commented on #18706
I created the pull request but I'm not 100% sure that all paths through are now going to work as all paths in https://github.com/servo/servo/blob/master/components/layout/block.rs#L232 are not exercised by my tests.  I'm not sure how to get block_start_margin and block_end_margin to match with Auto.  Also I wanted to see if all the tests pass.

The fix counters the use of border_box at https://git

[2017-11-11 22:35] KiChjang commented on #8700
I managed to find the cookie prefixes draft to be incorrect in its implementation details. The draft says the following:

   Insert the following steps to perform the prefix checks this document
   specifies:
   [...]

       steps and ignore the cookie entirely unless the following
       conditions are true:
       *  The cookie's "host-only-flag" is "true"
       *  The cookie's "path" is "/"

[2017-11-12 06:36] CYBAI opened #19187 "Move font-language-override outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-12 12:25] esiqveland opened #19189 "assertion failed: !self.Document().needs_reflow() || (!for_display && self.Document().needs_paint()) || self.window_size.get().is_none() || self.suppress_reflow.get()"
Panic:
[code]
OS is windows 10.
### URL:
https://www.nrk.no/norge/risikerer-livet-ved-a-krysse-t-baneskinner-1.13774301

### Servo Version:
Servo 0.0.1-9d05552

This might be same as #18970 but I have a URL to provide.
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-12 13:23] kafji commented on #17584
@KiChjang Yes

[2017-11-12 13:24] kafji commented on #17584
@asajeffrey What is tombstone?

[2017-11-12 13:51] jdm commented on #19189
I have not been able to reproduce this on macOS yet. I've tried loading that page directly in the Servo nightly downlod and scrolling vertically up and down the page, but no panic occurs.

[2017-11-12 16:19] tigercosmos opened #19190 "appveyor windows build failed"
I don't know if this is really an issue.
But it failed.
https://ci.appveyor.com/project/servo/servo/branch/master
[code]

[2017-11-12 16:38] tigercosmos commented on #19190
Seems just unstable all the time.

[2017-11-12 16:38] #19190 closed

[2017-11-12 19:07] qwertychouskie opened #19191 "Webrender: Weird text bug"
https://jacobspctuneup.tk/STK/newgui/mainmenu.html

How it looks
![](http://i.imgur.com/OLCcTPj.png)

How it should look
![](http://i.imgur.com/Qab3mRL.png)

FF Nightly 2107/11/11

[code]

[2017-11-12 19:42] atouchet commented on #19191
If this is exclusively a WebRender bug you might want to report the issue here: https://github.com/servo/webrender

[2017-11-12 21:58] qwertychouskie commented on #19191
@atouchet Opened https://github.com/servo/webrender/issues/2029, thanks.

[2017-11-12 21:58] #19191 closed

[2017-11-12 22:16] jdm commented on #19190
Yeah, that's just an network error that we can't do anything about.

[2017-11-12 23:44] jonathandturner opened #19196 "Can't click on any of the top row of the showcase"
You can't seem to be able to click on DuckDuckGo, GitHub, Wikipedia, or Ars Technica in recent Servo builds.

![screen shot 2017-11-13 at 12 42 09 pm](https://user-images.githubusercontent.com/547158/32704806-50ea4af8-c870-11e7-8170-bb48f37c0fec.png)

[2017-11-13 00:27] #19114 closed

[2017-11-13 00:30] atouchet commented on #19196
I've already opened an issue for this in #19131.

[2017-11-13 00:33] jonathandturner commented on #19196
@atouchet - Ah, didn't see it. Apologies for the noise.

[2017-11-13 00:33] #19196 closed

[2017-11-13 02:15] KiChjang commented on #19015
I'll take text-decoration-line.

[2017-11-13 07:24] NeverHappened commented on #16678
Oh, I've already started this one..

[2017-11-13 11:00] chansuke commented on #19142
@emilio Thanks.I implemented almost everything and will send a PR.I want to ask a question about [Computed value](https://drafts.csswg.org/css-backgrounds/#propdef-border-image-repeat).
The document says `two keywords, one for each axis` so I implemented like below but I'm not sure
this is a right approach for `components/style/values/computed/border.rs`.

[code]

Or,Need an another approach for t

[2017-11-13 13:32] emilio commented on #19142
Hmm, I don't understand that, why would you use generics for that? There is a single keyword, so I was expecting something just like:

[code]

Anyway, feel free to open a PR so we can comment on the code itself :)

[2017-11-13 14:22] jonleighton commented on #19171
Hi, I'd like to have a go at working on this. I've not contributed to servo before so please bear with me...

I've established that the `select` event is already being fired by `setSelectionRange`, since that was implemented in https://github.com/servo/servo/commit/f60de52aae6. However it is not fired by the `selectionStart` or `selectionEnd` setters.

[2017-11-13 15:02] olmanz commented on #19122
@atouchet @jdm
https://github.com/servo/servo/wiki/Getting-started-with-layout does say that I should look for the handle_reflow function in layout_task.rs. That file doesn't seem to exist, but there's  a handle_reflow function in components/layout_thread/lib.rs.

The article does also say that I should enable the node.dump() call near the start of the function - how do I do this?

[2017-11-13 15:04] jdm opened #19200 "Intermittent error in /WebCryptoAPI/generateKey/failures_RSA-OAEP.worker.html"
[code]

[2017-11-13 15:13] jdm commented on #19122
@olmanz That may have been replaced by https://dxr.mozilla.org/servo/source/components/layout_thread/lib.rs?q=path%3Alayout_thread%2Flib.rs&redirect_type=single#1123 which can be observed with RUST_LOG=layout_thread

[2017-11-13 15:24] chansuke commented on #19142
@emilio Thank you for the comment:)I will fix it and send a PR.

[2017-11-13 15:44] jdm commented on #19131
[code]
Here's a minimal reduction of https://github.com/servo/servo.org/blob/gh-pages/bhtml-newtab/newtab.html. @mrobinson Is this something that you're able to look at?

[2017-11-13 15:55] jdm commented on #16678
@NeverHappened I assume you are `nhpd` from https://mozilla.logbot.info/servo/20171101#c13793878-c13793985? What have you done so far?

[2017-11-13 15:57] jdm commented on #17584
I believe it means a value that cannot be used, but represents a value that used to be usable.

[2017-11-13 15:59] jdm commented on #19179
Yes, that is correct.

[2017-11-13 16:09] jonleighton commented on #19171
PR submitted for firing the event. Once it is approved I could look into other related issues (e.g. the remaining failing tests, also the spec says that the event should only fire if the selection has actually changed).

[2017-11-13 16:21] nox commented on #19179
Also:
* `pop_current_element_queue`
* `push_new_element_queue`
* `get_constructor_object_from_local_name`

[2017-11-13 17:50] #19187 closed

[2017-11-13 18:54] bobthekingofegypt commented on #18705
I was considering working on this, but in order to do that I would require some help from a layout person to work out the best way to attack the problem.  It may be that is is too far beyond my current understanding of layout.

I've looked at it and what follows is a brief brake down on how I see the reasons behind the issue, there may be more problems to follow but this I believe is the fundament

[2017-11-13 19:16] jdm commented on #18705
cc @mbrubeck as our resident layout advisor.

[2017-11-13 21:37] NeverHappened commented on #16678
I'm mostly reading the code. I figured most of the places where the changes will be. Now trying to understand how to modify CGCallGenerator in python code to use the custom rooters.

[2017-11-13 21:47] jdm commented on #16678
If that's the case, I would prefer to have Xanework and their team work on this, since we've been making plans about how it fits into their academic requirements.

[2017-11-13 22:19] NeverHappened commented on #16678
Okay, no problem :)

[2017-11-14 00:02] #18062 closed

[2017-11-14 02:57] cvan commented on #9232
I haven't been keeping up on the WASM mailing lists. Do people know of any projects or modules that people have made to support this in Servo or Rust land?

[2017-11-14 03:35] CYBAI opened #19208 "Move font-variation-settings outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-14 03:43] atouchet opened #19209 "Resizing Servo window vertically causes second scrollbar to appear"
Steps to reproduce:

1. Load site that can scroll vertically in Servo.
2. Resize the Servo window vertically to make it shorter.
3. A second scrollbar will appear.

Tested in Windows 10 with Browser.html.

Image of issue:

![Scrollbars](https://i.imgur.com/mN2MVua.png)

[2017-11-14 08:04] tigercosmos opened #19212 "Element scroll maximum test"
`Element scroll maximum test` is the only unexpected test in `/tests/css/cssom-view/elementScroll.html`
If we want to scroll outside the box, it should only scroll the max size of it.
https://github.com/servo/servo/blob/5f33d35cde307676fbf85fe7c7504e0d40d3420a/tests/wpt/web-platform-tests/css/cssom-view/elementScroll.html#L162-L169

It is related to step 6 of `scrollTop()` in `element.rs`, I thoug

[2017-11-14 09:43] SimonSapin commented on #11361
I think we should require rustup and drop our bootstrapping code: https://www.mail-archive.com/dev-servo@lists.mozilla.org/msg02607.html

[2017-11-14 12:18] sviter commented on #18403
Also https://www.mozilla.org/en-US/firefox/quantum/

[2017-11-14 12:24] sviter opened #19215 "called `Result::unwrap()` on an `Err` value: "SendError(..)""
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.insp3ct.re/blog/blockchain-security-reference-guide/
### Servo Version:
Servo 0.0.1-504ad4d
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-14 12:24] esiqveland commented on #19189
Works for me on macOS as well.
I'll check again on windows 10 later today.

[2017-11-14 12:35] CYBAI opened #19216 "Move font-variant-east-asian outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-14 14:45] tigercosmos commented on #19118
Um..  Maybe open a WIP PR first to discuss?

[2017-11-14 15:04] asajeffrey commented on #17584
Indeed, an object representing a failed attempt to register a paint worklet.

[2017-11-14 15:34] #19208 closed

[2017-11-14 16:53] #19099 closed

[2017-11-14 17:24] jdm opened #19221 "Intermitten timeout in /_mozilla/webgl/conformance-1.0.3/conformance/glsl/bugs/long-expressions-should-not-crash.html, /_mozilla/webgl/conformance-1.0.3/conformance/glsl/bugs/complex-glsl-does-not-crash.html"
[code]

[2017-11-14 19:25] olmanz commented on #19179
I moved the html_constructor() to its own file.
When I build the project with ./mach build --dev, I get 560 error messages, here one of them:

[code]

All those errors point to various Rust files somewhere in target/debug/build.

It's clear that I get these errors because html_constructor() doesn't exist in interface.rs anymore, but in a new file that I called html_constructor.rs, so the import sh

[2017-11-14 19:34] jdm commented on #19179
Those files are generated by components/script/dom/bindings/codegen/CodegenRust.py.

[2017-11-14 20:17] pshpsh commented on #17869
Not only nspr, pixman too.
pkg-config --cflags nspr pixman-1 | xargs

[2017-11-14 22:04] jdm opened #19223 "Report time spent in synchronous IPC to the profiler"
There are various parts of the code where we send a message to another thread, and as part of that message we include an `IpcSender` (or just a `Sender`) value that allows the other thread to send a response. In general the initiator of the message will immediately call `recv()` on the corresponding receiver, meaning that the thread will block until it receives a message. It would be valuable to r

[2017-11-14 22:24] adamnovak commented on #12053
I'm also having difficulty starting Servo, on Ubuntu 14.04, using what claims to be a `Radeon HD 4650` and the `radeon` driver.

[code]

`glxinfo` reports:

[code]

If my GPU does not support the required OpenGL version, what software rendering setup is supported?

[2017-11-14 22:28] glennw commented on #12053
Could you paste the rest of the output of glxinfo?

[2017-11-14 22:33] adamnovak commented on #12053
Here's the whole thing:

[code]

[2017-11-14 23:33] nc4rrillo commented on #19209
Seems  to only happen with browserhtml. I think it may be related to https://github.com/servo/webrender/pull/2018

That change fixed scrollbars appearing on iframes (which I think browserhtml uses), and I'd bet that they appear unconditionally without respecting something like `overflow: hidden`

I've also noticed on some sites, ads have scrollbars too where they previously didn't, and those typic

[2017-11-15 00:25] atouchet commented on #19209
@nc4rrillo I believe I have seen the issue come up before https://github.com/servo/webrender/pull/2018 was merged. However before https://github.com/servo/webrender/pull/2018 scrollbars didn't work properly in Windows with Browser.html so they were only visible at all after resizing the window. I didn't report the issue previously because I didn't know what the expected scrollbar behavior was supp

[2017-11-15 02:45] dsandeephegde commented on #18529
We have done initial steps [Mutation testing project](https://github.com/servo/servo/wiki/Mutation-testing-project). This is our [pull request](https://github.com/servo/servo/pull/18984)
Highlights of the changes are:
1. One mutation strategy is introduced - replacing occurrences && to ||.
2. Test mapping framework for mapping source code to WPT tests.
3. Run Mutation test in linux-rel-nogate step

[2017-11-15 02:47] dsandeephegde commented on #18529
Test mapping is introduced to reduce the time taken to run the tests. As for each mutant, we need to run only small part of the WPT tests, It would be time-consuming to run all tests so a multiple number of times.

sample test_mapping.josn
[code]

Now test mapping is present for a couple of known source code files. The rest of the mapping needs to be filled. We need to come up with a way finding o

[2017-11-15 04:06] jdm commented on #18529
There is no code coverage tool for tests in Servo, unfortunately.

[2017-11-15 04:28] dsandeephegde commented on #18529
Then the only way is to add the mapping manually by a person who knows about the particular part of the code? It would be a cumbersome task.
This could actually be a one time task for the full project. Then always update the test mapping when source code or test changes.

[2017-11-15 05:18] anholt commented on #19221
I think #19129 will fix this by avoiding the stack overflow.

[2017-11-15 05:26] anholt commented on #19147
Added a citation of that spec text.

[2017-11-15 08:48] jonathanKingston commented on #19223
I will take this in my spare time, if that is ok?

To clarify "wrapper around the `Receiver` and `IpcReceiver` types that automatically profile" do you mean perhaps creating "servo/components/ipc/receiver.rs" and implementing the methods on `IpcReceiver` and `Receiver` with profile calls in each method?

PseudoCode:
[code]

Then change the calls to use this instead?

If that isn't the case do you

[2017-11-15 08:53] mrobinson commented on #19131
This should be fixed soon when https://github.com/servo/webrender/pull/2040 lands and WebRender is updated. This regressed due to an unrelated change in the coordinate system of ClipScrollNodes in WebRender.

[2017-11-15 09:07] ferjm commented on #6710
I'm back, but I'm finally not focusing on this right away, as other [gecko-media](https://github.com/servo/gecko-media) work has higher priority. I have started some DOM stubs at https://github.com/ferjm/servo/tree/webaudio in case anyone wants to follow up. It's not much, but it's a start.

[2017-11-15 10:24] shershen08 opened #19224 "Linux Ubuntu 16.04.3 LTS - multiple errors on start"
At first 2-3 runs I had just a blank window and following stack trace
[code]

later some parts of UI started loading (see: https://imgur.com/a/smMYa)
but opening a URL doesn't result .
following output in the console:
[code]

[2017-11-15 12:42] jdm commented on #19223
That's the idea, although creating it in components/profile_traits/ probably makes more sense. Additionally, adding a `channel` function that creates a new pair of sender/wrapped receiver would make it easy to update code to use the new type.

[2017-11-15 13:13] tigercosmos commented on #19224
What page(URL) did you open?

[2017-11-15 13:22] shershen08 commented on #19224
I've tried various,
yandex.ru, google.com, facebook.com all the same result - see the screenshot

[2017-11-15 13:37] tigercosmos commented on #19224
How can I reproduce?

[2017-11-15 13:42] jdm commented on #19224
@shershen08 Could you paste the output of `glxinfo`?

[2017-11-15 13:47] tigercosmos commented on #19224
@jdm How to print out  `glxinfo` ?

[2017-11-15 13:57] tigercosmos opened #19228 "Cannot show Chinese correctly (Servo, Facebook, Yahoo, etc.)"
Tested in Ubuntu 16.04 with recent commit in master.

[code]
It can show correctly on the browser top, but cannot show characters in HTML content
![image](https://user-images.githubusercontent.com/18013815/32839438-65d8dffc-ca4f-11e7-9148-09c8c760935f.png)

It's also weird. Although many CJK pages cannot run well, some CJK pages can show correctly?

related to #18202

[2017-11-15 14:04] tigercosmos commented on #19228
Chinese Facebook
the browser top also show right, and the content scannot show Chinese.
![image](https://user-images.githubusercontent.com/18013815/32839886-e50e9342-ca50-11e7-91d9-e3d7e7400fd6.png)

[2017-11-15 14:07] jdm commented on #18928
This testcase demonstrates more clearly what the underlying issue is:
[code]
Specifically, document.open() causes the page contents to be blown away, and step 25 of Document::Open replaces the DocumentLoader which tracks outstanding page loads. The load for the audio element is not interrupted, though, so when it tries to tell the document that it's complete the document becomes confused.

[2017-11-15 14:13] tigercosmos commented on #19228
Chinese Yahoo!
Not just characters, the layout is broken as well.
![image](https://user-images.githubusercontent.com/18013815/32840262-1aa2a678-ca52-11e7-9b42-30a71fcd382e.png)

[2017-11-15 14:15] tigercosmos commented on #19228
Chinese Google
![image](https://user-images.githubusercontent.com/18013815/32840399-7aaf6fa6-ca52-11e7-98b7-1868e31f2518.png)

[2017-11-15 14:16] jdm commented on #19228
Looks like this is already covered by https://github.com/servo/servo/issues/10045.

[2017-11-15 14:18] jdm commented on #19224
Run `glxinfo` in a terminal.

[2017-11-15 14:19] tigercosmos commented on #19228
Can close this one

[2017-11-15 14:19] #19228 closed

[2017-11-15 14:21] tigercosmos commented on #19228
@jdm But why some page run well, such as #6167

[2017-11-15 14:31] tigercosmos commented on #10045
@jdm I think `Labels` should also add  `Linux`. (#19228)

[2017-11-15 14:31] jdm commented on #19228
Good question!

[2017-11-15 16:04] tigercosmos commented on #19212
Some advises? @KiChjang  @emilio

[2017-11-15 16:52] wilsoniya opened #19231 "style: parameter to :dir() css pseudo class need escaping on serialization"
When serializing CSS the parameter to the `:dir()` pseudo class is currently emitted raw (i.e., without being escaped). We should use `serialize_identifier` to escape this parameter during serialization.

From @emilio:

Context: https://github.com/servo/servo/pull/19195#discussion_r151105908

[2017-11-15 20:05] jdm opened #19234 "Intermittent fail in /html/semantics/links/following-hyperlinks/activation-behavior.window.html"
[code]

[2017-11-15 21:27] KiChjang commented on #8700
Let me clarify why the observation above is important - the draft says that these cookies should always be rejected:
[code]
Note that the first 3 do not specify a Path attribute. This following cookie is accepted, however:
[code]
Now, the 2nd rejected cookie above and this accepted cookie differs in only one aspect - the existence of the Path attribute. Since RFC6265 defines a step that always set

[2017-11-15 21:32] olmanz commented on #19179
I changed line 5720 of CodeGen.py from

`'dom::bindings::interface::html_constructor',`
to
`'dom::bindings::htmlconstructor::html_constructor',`

but that doesn't seem to work. I get again 560 error messages, but now they look like this:

[code]
From my understanding about imports in Rust, dom::bindings::htmlconstructor should point to the file components/script/dom/bindings/htmlconstructor.rs. I

[2017-11-15 21:49] jdm commented on #19179
Have you added `mod htmlconstructor` to components/script/dom/bindings/mod.rs?

[2017-11-15 21:55] hgallagher1993 opened #19238 "error: failed to run custom build command for `gecko-media v0.1.0"
[code]

[2017-11-15 22:06] jdm commented on #19238
You will need to install the pulseaudio development library. For Ubuntu, that's `libpulse-dev`.

[2017-11-15 22:13] jdm commented on #15725
https://github.com/servo/servo/pull/16562 was the last attempt, and it contained a suggestion for how to improve it.

[2017-11-15 22:13] highfive commented on #15725
cc @wafflespeanut

[2017-11-15 22:24] jdm opened #19239 "Integrate chrome developer tools"
https://github.com/servo/servo/pull/18133 had review comments that need to be addressed.

[2017-11-15 22:24] highfive commented on #19239
cc @fitzgen

[2017-11-15 22:27] jdm opened #19240 "Use more modern Android build rules"
https://github.com/servo/servo/pull/14003 was a work in progress but nobody took it over.

[2017-11-15 22:29] jdm opened #19241 "Make typed arrays safe"
https://github.com/servo/servo/pull/15672 was work towards this. I don't remember the exact motivation at the moment.

[2017-11-15 22:31] jdm opened #19242 "Make the script thread conform to "the event loop processing model""
https://github.com/servo/servo/pull/18611 is an attempt to make our implementation match what is written in the spec. There is still an unexpected test failure that requires investigation (as well as rebasing and running all of the new tests since then).

[2017-11-15 22:35] jdm opened #19243 "Implement blocking of mixed content"
Last attempt at implementing https://w3c.github.io/webappsec-mixed-content/ at https://github.com/servo/servo/pull/16320.

[2017-11-15 22:37] KiChjang commented on #19243
Duplicate of #14513?

[2017-11-15 22:39] jdm commented on #17155
The work in #18167 was great; it needs some rebasing and someone to address the review comments now.

[2017-11-15 22:48] jdm commented on #19243
Yes.

[2017-11-15 22:48] #19243 closed

[2017-11-15 22:48] jdm commented on #14513
Last attempt in #16320.

[2017-11-15 23:09] #18147 closed

[2017-11-15 23:20] olmanz commented on #19179
Thanks, that worked.

I will now work further on this issue and also move the other functions to the new file.

[2017-11-16 01:46] anrdh commented on #15725
I can work on this if I can get some guidance.

[2017-11-16 02:58] #19216 closed

[2017-11-16 03:35] CYBAI opened #19246 "Move font-variant-ligatures outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-16 06:10] SimonSapin commented on #13239
Fixed in #19073.

[2017-11-16 06:10] #13239 closed

[2017-11-16 09:18] nox commented on #15724
https://github.com/djg/cubeb-pulse-rs/pull/23

[2017-11-16 09:44] nox commented on #15724
https://github.com/sfackler/rust-openssl/pull/776

[2017-11-16 10:47] ocerman opened #19248 "CSS value content: url(url) do not seems to be working."
![contenturl](https://user-images.githubusercontent.com/10187350/32887258-9ae944a6-cac3-11e7-9e51-4c99a63eaba5.png)
[code]

[2017-11-16 10:49] nox commented on #19248
We don't support SVG yet.

[2017-11-16 12:54] jdm commented on #15725
@anrdh Sure! The problem is that `./mach update-manifest` looks for all files that exist under tests/wpt/web-platform-tests and updates tests/wpt/metadata/MANIFEST.json based on that list. If you view the directory in macOS' Finder, that can unintentionally create a new .DS_Store file in the directory that gets picked up by the manifest. #16562 was a good start at solving this, and contained a sug

[2017-11-16 15:30] jdm opened #19251 "Measure cache memory usage"
After #18676 merges we'll want to add support for measuring how much memory is in use by cached responses.

[2017-11-16 16:30] wilsoniya commented on #19231
@highfive: assign me

[2017-11-16 16:30] highfive commented on #19231
Hey @wilsoniya! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-16 16:50] hgallagher1993 commented on #19238
@jdm Yes that did it, thanks 😄

[2017-11-16 17:29] mbrubeck commented on #18705
That was a great breakdown of the problem, thanks!

Since absolutely-positioned boxes (including fixed-position boxes) are removed from the normal flow, I think the correct fix is to treat the first *non-absolutely-positioned* fragment as the "first fragment of element" (and similarly for the last fragment), for elements that are not themselves absolutely positioned.  Would that fix the problems y

[2017-11-16 17:35] tigercosmos commented on #19224
Run `servo` first , and then run `glxinfo` in another terminal?
I am also curious how to analyze the result @@

[2017-11-16 18:02] jdm commented on #19224
glxinfo is separate from Servo; it can be run at any time and it prints out information about the graphics drivers available.

[2017-11-16 18:10] tigercosmos commented on #19224
So what we probably will see `glxinfo` print out in this case?

[2017-11-16 18:29] jdm commented on #19224
No idea! However, having that information will be more useful than not having it ;)

[2017-11-16 20:17] bobthekingofegypt commented on #18705
cheers for the feedback.

Yeah, this was my thinking but I didn't want to change the meaning of the flags.  I was thinking of adding a new flag like "first fragment that isn't absolute"  Using the current flags is probably best though..  I'll try have a play with this next week and see what kind of mess I can get myself into.

[2017-11-16 21:13] mbrubeck commented on #18705
Glancing at the other uses of these flags makes me think we can *probably* just change which fragments get the existing flags, but it is possible there's some use case that still needs the old meaning (in which case adding a new set of flags might be a good solution).

[2017-11-16 23:05] glennw opened #19258 "Make use of the WR property bindings support for faster animations."
WebRender supports property bindings (currently for opacity and transform, but easy to extend). These allow modifying properties of an existing display list, and drawing it, without creating a completely new display list. This can make it much more efficient to run animations, so there is no requirement to invoke layout code at all. These are already being used by Gecko, we should also use them in

[2017-11-16 23:08] ocerman opened #19259 "CSS object-fit property do not seems to be working."
![objfit](https://user-images.githubusercontent.com/10187350/32920850-5179a992-cb2b-11e7-8de5-6bf5c411887d.png)
[code]

[2017-11-16 23:32] emilio commented on #19259
Yeah, we don't implement or even parse this property, so this is expected.

[2017-11-17 04:24] atouchet commented on #19131
This is fixed now.

[2017-11-17 04:24] #19131 closed

[2017-11-17 04:27] atouchet commented on #18333
This is fixed now.

[2017-11-17 04:27] #18333 closed

[2017-11-17 04:36] atouchet commented on #18860
In the most recent nightly build it appears that moving the cursor over the monkey sprites causes them to move back down to where they are supposed to be. The ad also initially shows up as scrollable.

[2017-11-17 13:57] jonleighton commented on #19171
I think [this assertion](https://github.com/servo/servo/blob/master/tests/wpt/web-platform-tests/html/semantics/forms/textfieldselection/selection-start-end.html#L64-L65) (and the other related assertions in other tests) is not correct per the spec.

The [spec says](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#dom-textarea%2Finput-selectionstart):

Further down, it then

[2017-11-17 14:31] jonleighton commented on #19171
Sorry, I'm incorrect because the value is set via JS, therefore step 5 [from here](https://html.spec.whatwg.org/multipage/input.html#dom-input-value-value) applies:

[2017-11-17 16:38] jdm opened #19265 "Deal with exceptions from custom element reaction steps"
https://github.com/whatwg/html/pull/3235

[2017-11-17 16:39] jdm opened #19266 "Ensure websocket has no referrer"
https://github.com/whatwg/fetch/commit/60db35ed0d18c6636f002da91593bfa5ee58494e

[2017-11-17 18:55] jdm opened #19268 "simple_scroll_to_fragment.html is now a perma-failure"
This regressed sometime on November 13, because there were no failures reported prior to that date, and since then there are >60 failures every day. This wasn't noticed because it's marked as intermittent at #14606.

[2017-11-17 19:05] jdm commented on #19268
This regression was caused by #19127. cc @tigercosmos

[2017-11-17 19:05] jdm commented on #19268
See `./mach test-wpt tests/wpt/mozilla/tests/mozilla/simple_scroll_to_fragment.html` to reproduce.

[2017-11-17 19:09] tigercosmos commented on #19268
I will check for it tomorrow.

[2017-11-17 19:55] jdm opened #19271 "border_radius_elliptical_a.html fails with a tiny pixel difference"
<img width="879" alt="screen shot 2017-11-17 at 2 55 07 pm" src="https://user-images.githubusercontent.com/27658/32966282-555c3256-cba7-11e7-8932-6faa3acec1bb.png">

[2017-11-17 20:05] glennw commented on #19271
This is the kind of issue that would be good to have fuzzy matching support for in WPT.

[2017-11-17 22:01] #19246 closed

[2017-11-17 22:06] jdm opened #19273 "Intermittent pass in /css/cssom-view/elementsFromPoint-iframes.html"
[code]

[2017-11-17 23:14] #19179 closed

[2017-11-18 04:18] KiChjang commented on #19248
Looking through the code, I see that we don't actually support urls in the `content` property yet for servo.

[2017-11-18 04:45] tigercosmos opened #19275 "gecko-media v0.1.0 build failed"
Tested in `Ubuntu 16.04` and `Ubuntu 17.10` in master HEAD
Both error with log:
[code]

[code]

[2017-11-18 05:31] tigercosmos commented on #19275
This regression was caused by 2755c1a89a4576c6a737f6f1ac2e5d68f99213db
After this commit will build failed.
cc @jdm

[2017-11-18 06:52] tigercosmos commented on #19268
This is what I saw on Firefox

`simple_scroll_to_fragment.html`
![image](https://user-images.githubusercontent.com/18013815/32977815-f1f4b818-cc6f-11e7-97f3-bf5edd231ecd.png)

`simple_scroll_to_fragment_ref.html`
![image](https://user-images.githubusercontent.com/18013815/32977818-052993fe-cc70-11e7-9fa6-46b19760cbbc.png)

@jdm How do you think?

[2017-11-18 08:22] CYBAI opened #19276 "Move font-variant-numeric outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-18 08:44] SimonSapin commented on #19275
This seems to be the relevant part:
[code]

You may need to install the `libpulse-dev` package, per https://github.com/servo/servo/pull/19252/files

[2017-11-18 08:50] tigercosmos commented on #19275
Oh, that‘s why! #19252

[2017-11-18 08:50] #19275 closed

[2017-11-18 10:15] #19238 closed

[2017-11-18 13:50] jdm commented on #19268
It does seem like the test was incorrect, but the change #19127 made no green appear at all.

[2017-11-18 13:53] tigercosmos commented on #19268
The test want to test if two show as the same, but we can see they are not equal.
Or the red area(scroll bar maybe) will not be counted in testing?

[2017-11-18 14:02] jdm commented on #19268
You are correct that the test does not pass in Firefox. However in Servo we have a layout bug that makes the test pass (which we should fix in another issue). #19127 made the test not pass in Servo, in a way that is very different from the way that it does not pass in Firefox. Does that make sense?

[2017-11-18 14:11] yangchengjian opened #19278 "ERROR:script::dom::bindings::error"
three.js/examples/js/libs/stats.min.js:4:388 b.fillText is not a function

[2017-11-18 14:13] tigercosmos commented on #19268
I see. very weird.
Assume the wrong is right...

[2017-11-18 14:30] tigercosmos commented on #19268
what #19127 did is function `scrollTop`

`simple_scroll_to_fragment.html` has a line:
[code]
I would add a new test to check out whether `scrollTop` will return `100`.
If yes, that would be layout problem; if not, it is really caused by #19127

[2017-11-18 18:29] tigercosmos opened #19280 "element.clientHeight & element.scrollHeight incomplete implement"
With the following `test.html`:
[code]
Firefox will get:
[code]

Servo will get:
[code]

This might be an issue related to #19268

[2017-11-18 18:36] tigercosmos commented on #19268
Change to this will pass the test.
[code]
Although I have find a workaround for this issue, but I think the most important reason is from #19280

[2017-11-18 20:14] #19276 closed

[2017-11-18 22:27] dsandeephegde commented on #18529
We are now implementing more strategies we would need more test mappings so that we can run it on more files. So if manually adding the test mapping is the only solution then someone can start with it.
Or alternatively, we can just run the whole WPT test for each mutant, if populating the mapping file is too hard. But this would cause additional ~20mins to run tests for each mutant.

We need sugge

[2017-11-18 22:30] #15850 closed

[2017-11-18 23:19] mateon1 opened #19281 "internal error: entered unreachable code: Tried to use WebRender SpatialId before it was defined."
Found with modified domato.

Testcase (happens with textarea as well):
[code]

[code]

[2017-11-19 03:41] jdm commented on #18529
What's wrong with falling back to all tests for any files that do not have known mappings?

[2017-11-19 04:31] tigercosmos commented on #19268
@highfive assign me

[2017-11-19 04:31] highfive commented on #19268
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-19 04:34] dsandeephegde commented on #18529
Time would be the main constraint here. Each mutant will take 25-30mins. If we scale it to the whole servo project there are ~1000 source files then it will take days.
Even if we run only required tests, the build step is taking a lot of time which we are not able to avoid. If we run all tests which will take more time than the build, then we will be in big trouble in terms of time.

[2017-11-19 06:09] KiChjang opened #19283 "Implement EventTarget constructor"
https://github.com/whatwg/dom/pull/467

[2017-11-19 06:15] paulrouget opened #19284 "Add a method to Servo to clean the history"
A `PurgeHistory(BrowserId)` event.

This would clear the history.

On completion, we would get a `HistoryChanged` event.

/cc @asajeffrey what would it take to implement that?

[2017-11-19 06:32] KiChjang commented on #19283
Code: `components/script/dom/EventTarget.rs`, `components/script/dom/webidl/EventTarget.webidl`
Test: `tests/wpt/web-platform-tests/dom/events/EventTarget-constructible.any.js`

[2017-11-19 06:32] highfive commented on #19283
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-19 07:28] cbrewster commented on #19284
By purging do you mean removing all history entries in the past and future?

[2017-11-19 12:14] matthiaskrgr opened #19286 "build failure: task_info on fedora 25: missing header mach/mach_init.h"
[code]

This is fedora 25, I installed all the required dependencies listed in the readme and there seems to be no package providing mach/mach_init.h.

[2017-11-19 12:25] paulrouget commented on #19284
Yes.

[2017-11-19 13:07] mateon1 opened #19287 "assertion failed: !self.nodes.contains_key(&id)"
This is the same panic as #18441, but probably with a different cause.

Found with modified domato

Testcase:
[code]

[code]

[2017-11-19 14:17] jdm commented on #19286
This is very surprising, since that crate is macOS-only and all uses are gated with appropriate cfg attributes.

[2017-11-19 14:55] m-novikov commented on #19283
I would like to try it out. @highfive : assign me

[2017-11-19 14:55] highfive commented on #19283
Hey @m-novikov! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-19 15:24] Brooooooklyn opened #19289 "get some trouble with compile canvas components"
I want build a node-canvas like project use components/canvas,
but got a compile error when I had my first try.

![image](https://user-images.githubusercontent.com/3468483/33000200-9fa8a286-cde1-11e7-9535-194066e28a9d.png)

### rustc version

![image](https://user-images.githubusercontent.com/3468483/33000260-f444f7fe-cde1-11e7-940c-cfa14911dfcf.png)

### cargo version
![image](https://user-images

[2017-11-19 16:38] CYBAI opened #19290 "Move font-feature-settings outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-19 17:14] matthiaskrgr commented on #19286
rustc -vV prints this:
[code]

[2017-11-19 18:05] tigercosmos commented on #19280
I figure out that `ScrollHeight` cannot deal with  ` margin-top: 100px; `
If we change the second line of this:
[code]
to
 ~~`margin-top: 100px`~~ and `height: 190px;`
`ScrollHeight` will get correct answser `190`

[2017-11-19 18:15] tigercosmos commented on #19290
thanks for your patient to do these works 👍

[2017-11-19 18:37] jdm commented on #19289
Can you provide more information about the error?

[2017-11-19 18:38] jdm commented on #19286
`./mach rustc -vV` is more meaningful.

[2017-11-19 18:45] matthiaskrgr commented on #19286
[code]

[2017-11-19 19:36] jdm commented on #19286
https://dxr.mozilla.org/servo/source/components/profile/Cargo.toml#27 is the only place that should be making use of that crate, so I'm not really sure what to suggest!

[2017-11-19 19:37] jdm commented on #19286
Do you have a `.servobuild` file? If so, are there any changes from the defaults in `servobuild.example`?

[2017-11-19 20:29] matthiaskrgr commented on #19286
There is .servobuild.example from the repo but it is unmodified.

[2017-11-19 21:00] KiChjang opened #19291 "Intermittent crash of /css/css-transforms/group/svg-transform-nested-019.html"
[code]

[2017-11-19 22:16] jdm commented on #19291
This is #13480.

[2017-11-19 22:16] #19291 closed

[2017-11-20 01:30] #19283 closed

[2017-11-20 02:59] Brooooooklyn commented on #19289
sorry, I updated my comment, add screenshot and Cargo.toml info

[2017-11-20 03:04] jdm commented on #19289
That's because the `servo` crate feature is not enabled: https://github.com/servo/servo/blob/master/components/malloc_size_of/lib.rs#L700-L708

[2017-11-20 03:21] atouchet commented on #19144
I am no longer able to reproduce this.

[2017-11-20 03:21] #19144 closed

[2017-11-20 05:54] atouchet commented on #18098
I've noticed that clicking the new tab button after loading a page in Browser.html now doesn't change the title bar at all. For example before and after loading DuckDuckGo:

![Browser.html](https://i.imgur.com/YcWcgyy.png)

![Browser.html](https://i.imgur.com/MhpYk7B.png)

"DuckDuckGo - Servo" remains the title even after reloading the home screen. Is this part of the issue?

[2017-11-20 05:58] tigercosmos commented on #19280
Seems `scrollHeight` will return `max(margin-top, height)`
As shown in following:

---
`scroller.scrollHeight` will get `100`
[code]
---
`scroller.scrollHeight` will get `190`
[code]
---

I also test changing `margin` to 'padding', and `padding` will run correctly.

[2017-11-20 05:58] Brooooooklyn commented on #19289
ok, I see, I will use webrender directly

[2017-11-20 05:58] #19289 closed

[2017-11-20 07:12] paulrouget opened #19295 "error: no matching package named `js` found"
When compiling Servo as a dependency, I get this error after copying Servo's Cargo.lock into my project:

[code]

[2017-11-20 07:18] CYBAI commented on #19295
I think `js` should have been renamed to `mozjs` after #19138 merged?

[2017-11-20 07:24] paulrouget commented on #19295
Problem was on my side. Please ignore.

[2017-11-20 07:24] #19295 closed

[2017-11-20 07:25] paulrouget commented on #19295
For the record: I was using a Cargo.lock from a version of Servo that was more recent that the one I was referencing in my Cargo.toml.

[2017-11-20 07:55] #19290 closed

[2017-11-20 14:01] bobthekingofegypt opened #19299 "Crash on startup loading any url"
Any url causes the same problem

commit: e4cfff8364cebd0ae2236cc8c39ba93072b35148

This comes after updating this gentoo machine to build with the new build requirements, builds fine but doesn't run anymore.

If you need anymore information let me know.

[code]

[2017-11-20 14:17] BruceDai opened #19300 "Failed to run custom build command for `gecko-media v0.1.0 when building servo with commit af6c2f9 on Ubuntu 16.04.3 LTS."
error: failed to run custom build command for `gecko-media v0.1.0 (https://github.com/servo/gecko-media.git#0299b455)`
process didn't exit successfully: `/<path>/servo/target/release/build/gecko-media-59486aef098dd7b4/build-script-build` (exit code: 101)
--- stdout
running: "cmake" "/<path>/servo/.cargo/git/checkouts/gecko-media-6bedb392a81eb7cf/0299b45/." "-DCMAKE_INSTALL_PREFIX=/<path>/servo/tar

[2017-11-20 14:21] bobthekingofegypt commented on #19299
It appears to work.

Cheers.

[2017-11-20 14:21] jdm commented on #19300
This is tracked in https://github.com/servo/gecko-media/issues/71. I'm not sure what the solution is yet, unfortunately.

[2017-11-20 14:21] #19300 closed

[2017-11-20 14:23] jdm commented on #19299
That is not what I was expecting to happen :<

[2017-11-20 14:46] CYBAI opened #19302 "Make Service Worker implementation up-to-date"
As @creativcoder mentioned in #11091, the implementation of Service Worker has changed a lot.
I'd like to create this issue to make the Service Worker implementation up-to-date.

- [ ] Update `webidl`
  - [x] ServiceWorkerRegistration (#22171)
  - [x] ServiceWorkerContainer (#22538)
  - [x] ServiceWorkerGlobalScope (#22191)
  - [x] NavigationPreloadManager (#22218)
  - [x] ServiceWorker (#22540)

[2017-11-20 15:50] asajeffrey commented on #19284
It probably wouldn't be too tricky to implement, but we'd need a compelling argument for why we should have some non-standard behaviour. @paulrouget what's a use-case?

[2017-11-20 17:17] bobthekingofegypt commented on #19299
Actually this is a bigger problem than I was thinking there.  If I make a change to layout and trigger a normal debug build then the crash is back each time.

Release build works fine.

Clean debug build doesn't.

[2017-11-20 17:52] jdm commented on #16678
Further plans from discussion with @Xanewok:
* create a FromJSValConvertibleInto trait uses an `&mut T` argument instead of returning the converted value in the return value (use `Result<(), ()>` instead)
* remove the FromJSValConvertible implementation for `HandleValue` (this will prevent `sequence<any>` from being allowed right now)
* add an implementation of FromJSValConvertibleInto for `Vec<T>

[2017-11-20 20:17] edunham commented on #18529
Could we procedurally generate the mappings using a one-time, highly aggressive set of tests? Basically perform a mutation that's guaranteed to break any tests relevant to the file, then use whichever tests break as a result as the list of tests which map to that file.

I'm pretty sure the mutation of deleting each function's body and replacing it with a single line to return a constant of that fu

[2017-11-20 20:34] jdm opened #19306 "Report an error if a package has duplicates allowed but there are no duplicates"
In servo-tidy.toml there is a `[ignore]` section that lists package names that are allowed to have duplicate versions in Cargo.lock. However, when we remove the duplicate versions, sometimes we forget to remove the packages from the list of allowed exceptions. We should make `./mach test-tidy` report an error if there is a package listed under `[ignore]` which only has a single version present.

C

[2017-11-20 20:34] highfive commented on #19306
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-21 00:43] avadacatavra opened #19308 "add feature for accountable refcell in domrefcell"
Add a feature to use https://crates.io/crates/accountable-refcell in order to get more information for debugging panics

[2017-11-21 01:12] jdm opened #19309 "Implement document load cancellation"
This has two parts to it:
* make pressing escape in the default embedding cancel the ongoing load of the foreground, top-most document
* cause all ongoing subresource loads for the document to be cancelled when the document is cancelled

The easiest way to tie the loads together might be to move the cancellation sender into the [LoadType](http://doc.servo.org/script/document_loader/enum.LoadType.h

[2017-11-21 01:31] #12972 closed

[2017-11-21 01:56] BruceDai commented on #19300
@jdm I tried to install clang on my PC with Intel CPU, the issue is fixed, and build servo successfully. I'm not sure whether my solution works for servo/gecko-media#71.

[2017-11-21 02:34] dragonly opened #19311 "bad render layout"
I just followed the README.md, did `./mach build --dev` and `./mach run tests/html/fixed_table.html` on both Windows and MacOS. But I got a very bad layout, which is basically a misplaced table layout :( Can any one point out where is wrong for me? I was on commit `f7dc01fd24`. thx

[2017-11-21 02:47] KiChjang commented on #19311
Could you be a little bit more descriptive of what "very bad layout" means? The site you visited and screenshots would help a lot.

[2017-11-21 04:22] dragonly commented on #19311
<img width="670" alt="servo-bug" src="https://user-images.githubusercontent.com/8433465/33054794-8672f3b8-ceb6-11e7-8d29-cc5befd2106e.png">

[2017-11-21 04:23] dragonly commented on #19311
I don't think there should be a comparison screenshot for gecko, because this looks not quite good :P

[2017-11-21 04:27] KiChjang commented on #19311
It's useful to have gecko as a comparison, so that we may know what the correct rendering looks like for this particular file.

For the rendering issues, I think it's a large part due to our buggy table layout calculation in `components/layout/table*.rs`. Running servo with `-Z dump-flow-tree` to diagnose what the inline and block sizes are for the table elements would be a start.

[2017-11-21 04:30] KiChjang commented on #19311
#16588 is where I attempted to fix the inline size for fixed table layouts.

[2017-11-21 04:33] KiChjang commented on #19311
The flow tree for this HTML file looks like this:

<details>

[code]

</details>

[2017-11-21 04:41] KiChjang commented on #19311
CSS2 Fixed table layout specification can be found [here](https://drafts.csswg.org/css2/tables.html#fixed-table-layout), and the corresponding CSS3 table layout specification is located [here](https://drafts.csswg.org/css-tables-3/#layout-modes).

Also take note that we already have the [green light](https://github.com/w3c/csswg-drafts/issues/1291) to implement CSS3 table layout for calculating wi

[2017-11-21 04:49] paulrouget commented on #19284
That's a feature found in some browsers. A menu to clear history. It's also a method found in Webkit and Gecko.

In Firefox, clearing history make it so we can't go back or forward anymore, but the current document is conserved.

[2017-11-21 04:56] dragonly commented on #19311
Here's what it looks like in Firefox
<img width="657" alt="servo-ff" src="https://user-images.githubusercontent.com/8433465/33055417-8088ecc4-ceba-11e7-8321-5d7468f97b76.png">
and here is the flow tree dump, though I just have a rough idea about it
<details>
<summary>flow tree dump</summary>
<pre>
┌ Post layout flow tree
│  ├─ Block(123c61510) sc=StackingContextId(0) pos=LogicalRect(H LTR, i1024px

[2017-11-21 07:06] atouchet commented on #18860
I don't know if this really helps at all but with-ad.html can be reduced to:

[code]

[2017-11-21 07:08] m-novikov commented on #19306
I will do this. @highfive : assign me

[2017-11-21 07:08] highfive commented on #19306
Hey @m-novikov! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-21 07:22] KiChjang commented on #19311
AFAIK this isn't a new layout issue, it's been known that our code for table layouts is incomplete or sometimes just wrong.

[2017-11-21 07:30] dragonly commented on #19311
I see. Then I wonder how are you doing the right layout for table in Firefox releases, since the latter uses servo as the rendering engine, but behaves normally on that test page?

[2017-11-21 07:43] KiChjang commented on #19311
Firefox 57 uses Stylo, which is the code that lives under `components/style`. It does not yet use any of Servo's layout code.

[2017-11-21 07:47] dragonly commented on #19311
That explains the matter.
One more question: where can I know the degree that Firefox is making use of servo?

[2017-11-21 09:22] KiChjang commented on #19311
https://wiki.mozilla.org/Oxidation#Rust_components_in_Firefox

[2017-11-21 10:17] #16840 closed

[2017-11-21 10:48] olmanz commented on #19183
@jdm
If it's OK for you, I can try this one.

[2017-11-21 11:40] KiChjang commented on #19183
@olmanz I believe @PeterZhizhin is already working on this.

[2017-11-21 12:06] nox commented on #15724
* bitflags 0.7.0 is gone.
* bitflags 0.8.2 is blocked on openssl (https://github.com/sfackler/rust-openssl/issues/776) and mp4parse_capi (https://github.com/mozilla/mp4parse-rust/pull/127).
* bitflags 0.9.1 is blocked on clap (https://github.com/kbknapp/clap-rs/pull/1063) and the macOS stack (https://github.com/servo/servo/pull/19314).

[2017-11-21 12:39] emilio commented on #19183
Yeah, note that this one is actually extra-tricky.

[2017-11-21 14:10] bobthekingofegypt commented on #19299
So digging into this a little more I've been remotely testing commits and this crash starts after the bump to websocket library.

https://github.com/servo/servo/commit/2755c1a89a4576c6a737f6f1ac2e5d68f99213db

which appears to consist solely of this https://github.com/servo/rust-websocket/commit/23b3e2bdf5f59fb8be042a08fb9d7c07779674e2 commit in rust-websocket.

I'm not seeing the correlation.  I

[2017-11-21 14:44] CYBAI opened #19320 "Move -x-lang outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-21 15:40] asajeffrey commented on #19284
Fair enough. Is any of this spec'd somewhere? Is the `HistoryChanged` event? It looks like `PopState` is the one specified in https://html.spec.whatwg.org/multipage/browsing-the-web.html#history-traversal:popstateevent, though that's not a great name.

[2017-11-21 16:35] paulrouget commented on #19284
I don't think there is any spec. The `HistoryChanged` event is already here and will like be fired automatically. To be clear, I am not talking about the browserapi. We just need another `WindowEvent`.

@asajeffrey this is not urgent, and once I need it, I will implement it myself. I just wanted to know if there was any difficulties in implementing this beside finding all the non active pipelines

[2017-11-21 17:53] tigercosmos commented on #19224
@shershen08  still failed?

[2017-11-21 19:12] jdm commented on #19251
Run Servo with `./mach run --memory-profile 5` to print a memory profile every 5 seconds. If these changes are successful, there should be a new entry for the network cache.

[2017-11-21 20:14] jdm commented on #18671
This was fixed by #19274.

[2017-11-21 20:14] #18671 closed

[2017-11-21 20:18] jdm opened #19327 "Remove cancellation map and ResourceId"
These are remnants of the old network cancellation implementation, so we don't need them any more.

Code:
* https://github.com/servo/servo/blob/dc35457b4a6dec744de1e8b61bf8fb9b3947a3ba/components/net/resource_thread.rs#L305
* https://github.com/servo/servo/blob/dc35457b4a6dec744de1e8b61bf8fb9b3947a3ba/components/net_traits/lib.rs#L503
* https://github.com/servo/servo/blob/dc35457b4a6dec744de1e8b61

[2017-11-21 20:18] highfive commented on #19327
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-21 20:34] bobthekingofegypt commented on #19299
Turns out there is not much more I can do when I'm home either.

Attached the debugger, it doesn't fail in 11 seconds it fails instantly; not sure what the time is when run without the debugger.  Not much happening looking at all the other threads stacktraces, generally just the hsts preload is happening but that seems to be on a different part each time the crash happens.

Not sure where to look

[2017-11-21 21:07] #19320 closed

[2017-11-21 21:24] Eijebong commented on #19327
@highfive assign me

Going to give this a try :)

[2017-11-21 21:24] highfive commented on #19327
Hey @Eijebong! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-21 22:43] Eijebong commented on #19172
Going to do the color one

[2017-11-22 00:49] dsandeephegde commented on #18529
Yes, this looks like a very good option to generate test mapping, with a few manual verification. We should definitely consider this approach. But, we currently don't have such a strong mutation strategy, which will not have a lot of false negatives (no test mapping is generated even if there should be one). So, the plan is to finish the existing goals in this project, then come back to this when

[2017-11-22 04:01] #19327 closed

[2017-11-22 09:00] CYBAI opened #19333 "Move -moz-script-size-multiplier outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-22 09:39] olmanz commented on #19251
I would want to try this.

[2017-11-22 09:46] paulrouget commented on #18154
I'm seen some iOS-specific PR landing lately.

Does libservo compile on iOS now? (I don't care about the `/ports/` part)

If not, how far are we?

[2017-11-22 09:49] KiChjang commented on #19183
@PeterZhizhin Do you need any help? Any questions?

[2017-11-22 12:06] hgallagher1993 opened #19334 "called `Option::unwrap()` on a `None` value (thread main, at /checkout/src/libcore/option.rs:335)"
Fetched the latest code just now, built (and run) in release mode and went to `https://en.wikipedia.org/wiki/The_Simpsons_season_4`. . .I maximized the window and as soon as I unmaximized it I got this.

I got this after trying to run the benchmark on http://browserbench.org/MotionMark/

<details>
 <summary>Summary</summary>

[code]
</details>

[2017-11-22 13:04] jdm commented on #19251
Great! Please ask questions if anything is unclear.

[2017-11-22 16:18] bobthekingofegypt commented on #19299
In the world of fun that is this issue, https://github.com/servo/servo/commit/b13107a31864b24463d112aca4e94c93d597243c appears to have fixed it.  I can build master and run the browser since that commit.

[2017-11-22 16:36] #9945 closed

[2017-11-22 17:09] CJ8664 commented on #18528
We are trying to compile servoshell with a local copy of servo(upto date with servo repository) and are getting this error unresolved import `self::servo::msg::constellation_msg::SHIFT`

I am thinking that current code in servoshell is not compatible with the changes that exist in latest servo code or is this some know dependency issue that can be fixed

[2017-11-22 17:41] jdm commented on #18528
That should be fixable by changing the import to `self::servo::msg::constellation_msg::KeyModifiers`, and then use `KeyModifiers::SHIFT` in the code that uses that value.

[2017-11-22 18:25] asajeffrey opened #19340 "Install the AWS CLI on buildbots"
At the moment we're using hand-crafted python files for uploading to S3, it might be easier just to install the AWS CLI https://github.com/aws/aws-cli#installation.

Boto3 doesn't support directory upload: https://github.com/boto/boto3/issues/358

See https://github.com/servo/servo/pull/16565

cc @jdm @aneeshusa

[2017-11-22 18:25] highfive commented on #19340
cc @aneeshusa

[2017-11-22 18:40] shershen08 commented on #19224
I'll check again today

[2017-11-22 18:43] shershen08 commented on #19224
[1.txt](https://github.com/servo/servo/files/1497178/1.txt)
here's the glxinfo output

[2017-11-22 18:54] #19306 closed

[2017-11-22 18:54] jdm commented on #19340
https://github.com/servo/saltfs/pull/756

[2017-11-22 19:03] jadbox commented on #5286
What is Servo doing with/out box_patterns for match statements?

[2017-11-22 19:11] tigercosmos commented on #19224
`1.txt` shows:
[code]

[2017-11-22 19:27] asajeffrey commented on #19340
Fixed by https://github.com/servo/saltfs/pull/756/files

[2017-11-22 19:27] #19340 closed

[2017-11-22 19:40] jdm commented on #5286
@jadbox We removed our use of that feature.

[2017-11-22 19:40] bobthekingofegypt commented on #18705
This will take me a bit longer to look at, the time I had free was lost due to a weird runtime crash, but I had a look tonight and was focusing on the absolute image position, the fact it is not using the correct offsets so its in the wrong place.

The problem seems to be in https://github.com/servo/servo/blob/master/components/layout/inline.rs#L1544.

When calling https://github.com/servo/servo/b

[2017-11-22 19:46] mbrubeck commented on #18705
By the way, I'm traveling this week but I can look at this when I get back on Monday, if someone else hadn't answered it by then.

[2017-11-22 20:31] CJ8664 commented on #18528
Ok one more dependency issue
missing `screen_size`, `screen_avail_size` in implementation

--> impl WindowMethods for ServoCallbacks

[2017-11-22 21:40] jdm commented on #18528
You should be able to return a Size2D value based off of the values in `self.geometry.get().view_size` for both of those.

[2017-11-22 21:48] jdm opened #19342 "Re-enable compile tests on Travis"
https://github.com/servo/servo/pull/19338 removed the test-compiletest mach command. Is there a convenient way to invoke the new tests from TravisCI?

cc @SimonSapin

[2017-11-22 21:50] Eijebong commented on #15724
The only things blocking this are now the openssl PR and the clap 2.28 release

[2017-11-23 02:13] KiChjang commented on #16678
After discussing with @Xanewok in IRC, he found out that the current conversion from a JSArray to a `Vec<JSVal>` is not broken, which can be seen [here](https://gist.github.com/Xanewok/80ed9c9fa20286cb6971f190009c90e8#file-gist-rs-L49-L55), and this makes me wonder - perhaps our bindings should just generate `Vec<JSVal>` for `sequence<any>`? The only difference I see here is that `Vec<HandleValue>

[2017-11-23 03:08] atouchet opened #19347 "Servo crashes when resizing browser window vertically"
Steps to reproduce:

1. Open Servo with Browser.html.
2. Select the top window border.
3. Resize the window by moving it down.
4. Servo crashes.

I believe this is a new problem as I did not run into this crash in previous builds. Tested in Windows 10.

[2017-11-23 03:12] nc4rrillo commented on #19258
I started looking at this (for the opacity case to start with) and I have the following questions:

- There doesn't seem to be a notion of a unique animation ID anywhere in Servo.
Gecko has a `GetCompositorAnimationsId` function.

This is needed to set a key for the `PropertyBinding` that gets sent in the WebRender display list. It needs to be available when constructing the display list, and also

[2017-11-23 03:14] atouchet opened #19348 "Loading DuckDuckGo crashes Servo"
Steps to reproduce:

1. Run Servo.
2. Load https://duckduckgo.com/
3. Servo will crash before the page finishes loading. The Servo window closes and the Browser.html issue reporter does not appear.

This is a new regression as this crash did not occur in previous nightly builds. Tested in Windows 10 with Browser.html.

[2017-11-23 03:17] atouchet commented on #19348
This issue does not appear to occur with the https://duckduckgo.com/html/ version of the site. https://arstechnica.com/ also crashes similarly in the latest build. I am not sure if that is due to the same issue or not.

[2017-11-23 03:21] atouchet commented on #18872
Trying to load Ars Technica pretty much immediately crashes Servo in the latest nightly build. I am not sure if it is a new issue or the same problem from before.

[2017-11-23 03:21] glennw commented on #19258
cc'ing a few people that might have thoughts on how to implement this in Servo @emilio @mbrubeck @pcwalton @mrobinson

[2017-11-23 07:02] dragonly commented on #19311
it's very helpful! But I still cannot find a proper counterpart in Firefox Documentations like those in chromium community, such as https://dev.chromium.org/developers/design-documents/displaying-a-web-page-in-chrome

[2017-11-23 08:28] SimonSapin commented on #19342
They are now part of `./mach test-unit`, which already runs on Travis.

[2017-11-23 11:44] #19333 closed

[2017-11-23 11:58] tigercosmos opened #19351 "gecko-media v0.1.0 build failed in Ubuntu 16.04"
#19252 did not fix it.
[code]

Log:
[code]

[2017-11-23 11:58] nox commented on #19351
You need to install `gcc-5` and `g++-5`.

[2017-11-23 12:02] tigercosmos commented on #19351
@nox
[code]

[2017-11-23 12:03] philn commented on #19351
See also https://github.com/servo/gecko-media/blob/master/.travis.yml#L30

[2017-11-23 12:03] nox commented on #19351
@tigercosmos  You probably want all of [https://github.com/servo/gecko-media/blob/master/.travis.yml#L21-L40](that). Would you agree to make a PR to add those to README.md?

[2017-11-23 12:08] philn commented on #19351
The error indicates libclang is missing it seems. Can you try to install `libclang-dev` ?

[2017-11-23 12:13] tigercosmos commented on #19351
ok I will try. If work, I will open a PR.

[2017-11-23 12:42] KiChjang commented on #19172
I believe @Eijebong is also working on the number and range type inputs.

[2017-11-23 12:44] Eijebong commented on #19172
Right, sorry I forgot to put it there.

[2017-11-23 14:02] #19342 closed

[2017-11-23 14:16] jdm opened #19354 "Intermittently see unexpected results from a different test"
[code]

[2017-11-23 14:18] jdm commented on #19348
Wow, that's a new one:
[code]

[2017-11-23 14:20] jdm commented on #19348
Arstechnica.com now fails with the same crash. I'm really curious about when this started happening...

[2017-11-23 14:37] tigercosmos commented on #19351
@nox  @philn
after installing all mentioned above still get failed..
[code]

[2017-11-23 14:39] tigercosmos commented on #19351
let me try
[code]

[2017-11-23 14:44] philn commented on #19351
https://github.com/servo/gecko-media/issues/71#issuecomment-346606660

[2017-11-23 14:51] tigercosmos commented on #19351
OK, I assume  #19353 will be landed
And I will add other packages in https://github.com/servo/gecko-media/blob/master/.travis.yml#L21-L40 to README

[2017-11-23 14:52] jdm commented on #19348
Strangely enough, this is a regression from #19225. cc @nox

[2017-11-23 14:54] nox commented on #19348
Could it be some linking issue again? @cpearce @philn Does the stacktrace look like something that could happen with wrong duplicate symbols between mozjs_sys and gecko-media?

[2017-11-23 14:57] jdm commented on #19348
More specifically, the problem is first introduced in 38fd9648ce48907f3baffc66ff0e1f2e25690d4e.

[2017-11-23 15:14] CYBAI opened #19355 "Move font-family outside of mako."
I'll take this as a sub-issue of #19015
Besides, this will be the last one of `font.mako.rs` 🎉

[2017-11-23 15:26] philn commented on #19348
At first glance this doesn't look like a duplicate symbol issue between mozjs_sys and gecko-media.

[2017-11-23 15:27] jdm commented on #19348
More specifically, it is merely the addition of the code in the constellation that causes this crash to appear. The update to gecko-media does not affect it.

[2017-11-23 15:34] tigercosmos commented on #18202
@CYBAI Maybe you will be interested in this?

[2017-11-23 15:59] CYBAI commented on #18202
Hi @tigercosmos
@shinglyu did mention this issue to me before.
Just like what you said, as Asian user, I'm willing to help to fix some issues.
Maybe I'll focus on the `ServiceWorker` one I took first but we can discuss how and what we can do for this issue.

[2017-11-23 16:43] tigercosmos commented on #18202
@CYBAI  Great to see your enthusiasm :)
What is `ServiceWorker ` one?

[2017-11-23 16:54] CYBAI commented on #18202
I add the issue number in my previous comment.
Due to not related to this issue, I don't want to make it have a reference between these two issues :P

[2017-11-23 17:14] #19351 closed

[2017-11-23 18:31] jdm commented on #16678
Let's look at some examples of how these assumptions can go wrong. If we start with that gist (and uncomment the JS_GC call), we do not observe any crashes. This is because there is an explicit root on the stack for the array value; if we make the following change, the program crashes because the root is no longer present:
[code]
If we make the following change so there is a JS value referencing t

[2017-11-23 18:38] jdm commented on #19347
[code]

[2017-11-23 18:38] jdm commented on #19347
@glennw This is a new regression.

[2017-11-23 18:40] jdm commented on #19347
I'm guessing either https://github.com/servo/webrender/blob/b7b07562fda338fcb2faff66ce01aafb6235fbcf/webrender/src/renderer.rs#L3662 or https://github.com/servo/webrender/blob/b7b07562fda338fcb2faff66ce01aafb6235fbcf/webrender/src/renderer.rs#L3681.

[2017-11-23 18:42] jdm commented on #19347
@kvark This appears to be a regression from https://github.com/servo/webrender/commit/40349b387bd91ba662abc2c1269819be6c28762a.

[2017-11-23 18:55] tigercosmos commented on #18874
@nox How do you think?

[2017-11-23 19:07] tigercosmos commented on #18833
It crashed when I try to login:
[code]

[2017-11-23 19:19] bobthekingofegypt commented on #11295
I'm not working on this, but I'm using inline bugs just as a reference point to investigate how the crazy world of layout works.

I made some notes when looking at this one, there are just my impression of what the problem is; if these kind of notes aren't helpful just let me know.

The problem here is that servo is treating &lt;br&gt; as a text fragment that contains a newline which cause the lin

[2017-11-23 19:29] jdm commented on #18833
That's another instance of #19281 unfortunately.

[2017-11-23 19:40] kvark commented on #19347
I believe it has been fixed by https://github.com/servo/webrender/commit/366014ef38caabf42d16ccf2d514890eb4f1c4d9, just need another WR update for Servo.

[2017-11-23 19:45] KiChjang commented on #19172
@tigercosmos I haven't heard back from you for a while, do you need any help? Any questions?

[2017-11-23 19:47] bobthekingofegypt commented on #19348
If it helps any, https://github.com/servo/servo/commit/38fd9648ce48907f3baffc66ff0e1f2e25690d4e is part of the changeset that fixed my every webpage crashing issue, https://github.com/servo/servo/issues/19299

Also I can load https://duckduckgo.com without issue using master, I cannot load arstechnica but for a different reason to jdm; I get this https://github.com/servo/webrender/issues/2093 bug.

[2017-11-23 19:53] tigercosmos commented on #19172
@KiChjang  I am stuck in other issues ... and preparing for midterm exams recently.
I have deleted my declaration before. I will be back later (If this issue is still not fixed)

[2017-11-23 19:57] tigercosmos commented on #19268
test for this w3c/web-platform-tests#8409

[2017-11-23 20:28] olmanz commented on #19251
After changing
[code]

to
[code]

I get this error message during the build:
[code]

I already found out that there is a MallocSizeOf in the crate malloc_size_of. But when I import it with
[code]

it says
[code]

What am I missing here?

[2017-11-23 20:36] jdm commented on #19251
For one thing, that error message says `mallo_size_of`. However, be sure to add the crate to the Cargo.toml, as well.

[2017-11-23 21:21] #19347 closed

[2017-11-23 21:34] jdm opened #19361 "Remove WrappedHttpResponse abstraction"
This type is an extremely thin wrapper around hyper's HTTP response type and does not provide any value. We should just use the `HyperResponse` type directly everywhere instead.

Code: `components/net/http_loader.rs`

No need for any automated tests; if the changes build, they're good enough for a PR.

[2017-11-23 21:34] highfive commented on #19361
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-24 05:38] tigercosmos commented on #19361
@highfive: assign me

[2017-11-24 05:38] highfive commented on #19361
Hey @tigercosmos! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-24 11:57] KiChjang commented on #19361
@tigercosmos I believe you said that you have exams and are bogged down by other issues, are you able to work on this issue in the near future? I would like to keep issues open for other contributors if you are not currently actively working on it.

[2017-11-24 13:02] tigercosmos commented on #19361
um… I think this one can been done fast. I will do it on Saturday. Thanks for you concern :)
Other issue I will keep working on, but they need more time.
If I have not done it in three days, please feel free to release it :D

[2017-11-24 14:00] mrobinson commented on #18166
WebRender is an unpublished crate, so the pre-existing ``patch`` syntax won't work. After a bit of hunting, I figured out how to make this work and I have a PR to update the WebRender README here: https://github.com/servo/webrender/pull/2097

The proper syntax is:
[code]

[2017-11-24 14:01] mrobinson commented on #18166
Since this doesn't seem to be a problem. I'm going to close the issue in favor of the PR which updates the WebRender README.

[2017-11-24 14:01] #18166 closed

[2017-11-24 14:26] olmanz commented on #19251
The sender is a `IpcSender<ReporterRequest>`, so the new argument must be of type `IpcReceiver<ReporterRequest>` if I understand correctly?

I see that run_with_memory_reporting must be called on profiler_chan here, but the function also takes some arguments (reporter_name, channel_for_reporter and msg), and I currently don't know where to get them inside the thread.

[2017-11-24 18:13] jdm opened #19365 "Doc build fails with "Unrecognized option: 'document-private-items'.""
I suspect this is coming from the geckolib documentation build, which maybe uses stable rust?

[code]

[2017-11-24 18:14] highfive commented on #19365
cc @aneeshusa

[2017-11-24 18:26] SimonSapin commented on #19365
Ah yes, we may want to revert https://github.com/servo/servo/pull/19338/commits/d96f0ff6a77e309682898cc7e1905a7bd0feb3cf until this option is available on the version we use for geckolib.

[2017-11-24 18:33] jdm commented on #16179
[code]

[2017-11-24 19:56] Mrowqa commented on #14987
Hi, I will work on this. I have already read the code around and this seems like quite easy task.

[2017-11-24 20:07] jdm commented on #14987
@Mrowqa Great! Please ask questions if anything is unclear!

[2017-11-25 06:07] niravjain commented on #18528
Thanks @jdm, that resolved the issue.

Now, for the next part, we are passing a hardcoded string from servo to servoshell which works, so we have identified the files where changes are required to establish the communication between servo and servoshell.

Now, as per our previous discussion, we are trying to serialize the tree dom as json in order to send it, using serde_json. However, we are faci

[2017-11-25 13:44] tigercosmos commented on #19172
I am working on "week" one.

[2017-11-25 13:50] tigercosmos commented on #19172
@KiChjang  Do we have `Date` object implement somewhere?

[2017-11-25 14:05] tigercosmos commented on #19172
I am back, and working on `Date` one

[2017-11-25 14:43] jdm commented on #18528
That's super weird! I've filed an issue against the Rust compiler for that; you can work around the problem by replacing Default::default() with 0.

[2017-11-25 17:48] #19361 closed

[2017-11-25 19:28] CJ8664 commented on #18528
Thanks, @jdm, the code is now creating a JSON of nested Hashmap as of now by replacing Default::default() with 0.

[2017-11-25 19:49] SWW13 commented on #19172
I'm going to work on the `number` and `range` validation.

[2017-11-25 19:57] tigercosmos commented on #19172
@SWW13 that one have been picked by @Eijebong

[2017-11-25 20:01] SWW13 commented on #19172
Oh, missed that. Could you update the initial issue and name the selected parts?

[2017-11-25 20:06] tigercosmos commented on #19172
I believe these are unassigned:
- Month type inputs
- Week type inputs
- Time type inputs
- Date-time type inputs

But some would be related to `Date` one, so I suggest choose those after `Date` done.

[2017-11-25 20:11] #19355 closed

[2017-11-25 20:19] tigercosmos commented on #19268
this one should be continue after #19280 done and w3c/web-platform-tests#8409 done.

[2017-11-25 20:22] SWW13 commented on #19172
Then I'll work on the `time` validation if you don't mind @tigercosmos? That should not be related to the `Date` input.

[2017-11-25 22:42] bluss commented on #18528
Style wise I'd always prefer `T::default()` if possible in favour of the very vague `Default::default()`. In this case that would be `u64::default()` and yes, for a numeric type, `0` is then even better :-).

[2017-11-26 05:08] CJ8664 commented on #18528
We are trying to create the JSON for a Node of the DomObject by serializing it. For the same, we are trying to use serde_json.
However, the serialization fails with the following error, the trait `serde::Serialize` is not implemented for `dom::node::Node`.

We also found that there is a serializer implemented for Node in script/dom/html.rs but we are not able to use in out our module.

Can you ple

[2017-11-26 05:16] niravjain commented on #18528
Just to add to @CJ8664 's point, if we implement the trait for `dom::node::Node` then we get the same error for all other structs defined in Node. Here's the pastebin for that: https://pastebin.com/79JYwJ3w

Are we expected to implement the serialization, because we found this issue (https://github.com/servo/servo/issues/16696) that seems like the logic for serialization would already be there. Ca

[2017-11-26 05:36] jdm commented on #18528
The specification describes exactly what serialized output is expected; you need to implement that - an object containing an "items" property which is an array, where each is an object that matches [this algorithm](https://html.spec.whatwg.org/multipage/microdata.html#get-the-object).

[2017-11-26 05:37] jdm commented on #18528
serde_json just provides building blocks for creating the object/array values, and serializing those values into a valid JSON string once it is complete.

[2017-11-26 05:59] tigercosmos commented on #19172
That would be great!
Good luck ：)

[2017-11-26 08:36] CYBAI opened #19375 "Move grid-auto-flow outside of mako."
I'll take this one as a sub-issue of #19015

[2017-11-26 12:04] tigercosmos commented on #19280
Something might be related:
https://github.com/servo/servo/blob/fe4139b779b3af749ec1426ddf4e1393c7b85442/components/layout/query.rs#L135-L139
https://github.com/servo/servo/blob/fe4139b779b3af749ec1426ddf4e1393c7b85442/components/layout/query.rs#L628-L656

[2017-11-26 13:05] tigercosmos commented on #12356
@VidushiVashishth
Do you use 64 bit Python 2.7?

[2017-11-26 13:10] tigercosmos commented on #12356
The previous log showed you download `rustc-nightly-unknown-pc-windows-msvc.tar.gz`
This should be solved by 69efd086f51efa7616b9fd699c6f6e93f2fbfd77

If you have troubles with `x64` type prompt as mach.bat set by default:

1. you may need to choose and launch the type manually, such as x86_x64 Cross Tools Command Prompt for VS 2017 in the Windows menu.)
2. cd to/the/path/servo
3. python mach buil

[2017-11-26 13:12] tigercosmos commented on #10002
related to pypa/virtualenv#457

[2017-11-26 17:33] tigercosmos commented on #19177
@emilio Does the test already exist? or @CYBAI would need to add one?

[2017-11-26 17:43] emilio commented on #19177
It probably doesn't, so it will need to get added to web-platform-tests.

[2017-11-26 17:48] CYBAI commented on #19177
Got it. Please let me create a wpt test for it.
I think I need to add it under `tests/wpt/web-platform-tests/dom/nodes` as a `CharacterData-replaceData-pass.html`?

[2017-11-26 17:52] tigercosmos commented on #19177
I think under `tests/wpt/mozilla/tests` might be suitable.
Since `tests/wpt/web-platform-tests/` will sync with upstream.

[2017-11-26 17:58] emilio commented on #19177
Nope, let's not add it to `mozilla/`, this test isn't testing anything specific to Servo, so `tests/wpt/web-platform-tests` should be fine, the tests are synced two-way.

[2017-11-26 18:00] tigercosmos commented on #19177
Thanks XD

[2017-11-26 18:00] emilio commented on #19177
This is also not testing a DOM API per se, but just the CSS dynamic behavior, so `web-platform-tests/css/cssom/` may be a better directory, but no big deal.

[2017-11-26 18:02] CYBAI commented on #19177
Great! Thanks for pointing to the `cssom` directory.
I think it's better to move it under it.

[2017-11-26 18:04] tigercosmos commented on #19177
@emilio  What case should I put under `mozilla`, such as `tests/wpt/mozilla/tests/css/cssom/`?
How to define "related to servo"?

[2017-11-26 18:07] CYBAI commented on #19177
IMO, internal attributes or features might be `related to Servo` but this one is related to common node changed logic. Thus, I think that's why emilio think it might be better to put it under `tests/wpt/web-platform-tests `.

[2017-11-26 18:09] tigercosmos commented on #19177
I see. Good point!

[2017-11-26 21:08] DonatJR commented on #19015
@emilio Hey, I wanted to help with this issue. Could you point out one or two of the sub-issues which are fairly easy to get started? Thanks :)

[2017-11-26 21:15] DonatJR commented on #15114
@Ms2ger Can I have a try at this issue?

[2017-11-26 21:36] KiChjang commented on #19015
@DonatJR The `content` attribute under `counters.mako.rs` looks quite straightforward, would you like to work on that?

[2017-11-26 22:03] DonatJR opened #19387 "Move counter-reset outside of mako"
Part of #19015. I'd like to work on the -counter-reset longhand.

This one lives in components/style/properties/longhand/counter.mako.rs.

[2017-11-26 22:05] DonatJR commented on #19015
@KiChjang Yes! I have created an issue for the specific longhand: #19387
Thank you for helping me get started

[2017-11-27 07:35] huangwenjun06 commented on #17869
after i upgrade llvm to llvm4.0.1. the problem still exist.

[2017-11-27 11:48] tigercosmos opened #19389 "google.com buttom with extra space"
test  ac6e04e
with macOS 10.12

<img width="1023" alt="2017-11-27 7 43 22" src="https://user-images.githubusercontent.com/18013815/33265186-9ee99330-d3ab-11e7-979b-96d77ae97757.png">

unlike  #16185

[2017-11-27 13:06] jdm commented on #15114
@DonatJR Go ahead!

[2017-11-27 13:54] SimonSapin commented on #18874
I’m starting to work on https://github.com/servo/servo/issues/11361. Both subcommands will probably be removed in the process, making this issue moot.

[2017-11-27 16:19] jdm opened #19392 "Implement create-an-element-for-a-token algorithm"
`create_html_element` implements https://dom.spec.whatwg.org/#concept-create-element and is called from the parser (via Element::create in `Sink::create_element`), but the HTML specification defines https://html.spec.whatwg.org/multipage/parsing.html#create-an-element-for-the-token which is used by the HTML parsing algorithms. Steps 6 and 9 are particularly relevant for dealing with https://github

[2017-11-27 16:20] jdm opened #19393 "Implement throw-on-dynamic-markup-insertion value in document"
Spec: https://html.spec.whatwg.org/multipage/dynamic-markup-insertion.html#throw-on-dynamic-markup-insertion-counter

There are TODO lines in document.rs about dealing with this properly. This is required for resolving https://github.com/servo/servo/pull/19307#issuecomment-346173603 properly, since #19392 requires it.

[2017-11-27 16:25] jdm commented on #19392
@cbrewster Any chance you feel like fixing this?

[2017-11-27 16:28] cbrewster commented on #19392
@jdm Yeah I can work on this.

[2017-11-27 16:31] sviter commented on #18263
No such issue for me now, but after loading page I can see constantly high CPU and GPU usage with unresponsive page.

[2017-11-27 16:36] sviter commented on #17962
Now it's looks ok except there isn't google logo.

[2017-11-27 16:45] sviter commented on #17932
No crash now. But after loading this page I can see constantly high using of CPU

[2017-11-27 16:49] sviter commented on #16414
called `Result::unwrap()` on an `Err` value: "PoisonError { inner: .. }"
### URL:
http://www.cbsnews.com/
### Servo Version:
Servo 0.0.1-ac6e04e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-27 16:53] sviter commented on #16408
Failed to get frame id from constellation.: Io(Error { repr: Custom(Custom { kind: BrokenPipe, error: StringError("MPSC channel closed") }) })
### URL:
http://lcamtuf.coredump.cx/transfuzz.html
### Servo Version:
Servo 0.0.1-ac6e04e
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-27 17:10] sviter opened #19394 "Crash on www.bmj.com"
Go to http://www.bmj.com/content/349/bmj.g7257
Scroll down a bit.
Servo close without any error message.
### Edit ###
No crash now

[2017-11-27 17:58] jdm commented on #16408
transfuzz.html is really not great for reporting errors, since there's no way to reproduce them consistently :/

[2017-11-27 18:05] SimonSapin commented on #11361
https://github.com/servo/servo/pull/19395 is ready for review (but not yet for landing).

[2017-11-27 18:18] jdm commented on #12503
This was fixed in #19352.

[2017-11-27 18:18] #12503 closed

[2017-11-27 18:19] est31 commented on #12616
Still an issue today.

[2017-11-27 19:10] bobthekingofegypt commented on #18299
I was reading through this code this evening.  I don't think it's related to either of those tickets.

It appears to be a StackingContext problem.  Servo is not correctly handling inline positioned elements even if you give them a z-index meaning they should definitely have their own stacking context.  So in the example the text is there it is just drawn underneath the absolutely positioned div.

[2017-11-27 19:17] jdm commented on #17962
The google logo is made of SVG, so that's tracked by #12973.

[2017-11-27 20:27] jdm commented on #17932
The crash should have been fixed by #18952. Let's file a separate issue for high CPU usage.

[2017-11-27 20:27] #17932 closed

[2017-11-27 22:14] jdm commented on #17106
This has been enabled.

[2017-11-27 23:43] #12988 closed

[2017-11-28 04:54] atouchet opened #19401 "Text colour wrong in GitHub text boxes"
URL: https://github.com/

The colours of the text box text in GitHub are off. In Firefox they appear grey but in Servo they show up as black and white.

Image of issue (Firefox left, Servo right):

![GitHub text boxes](https://i.imgur.com/xnUioBK.png)

See "Search GitHub" and the sign up boxes. Tested in Windows 10 with Browser.html.

[2017-11-28 06:28] tigercosmos commented on #19401
Where is the suspected code that can fix this? CSS read `color`?

[2017-11-28 09:00] kingofoz opened #19403 "which package is using to draw UI widgets such as buttons?"
Hi authors,
I know glutin is included in the project, but glutin is not drawing buttons.

[2017-11-28 09:08] SimonSapin commented on #19403
Hi. Servo doesn’t use what you’re probably thinking of as UI widgets. HTML form inputs are drawn (poorly) with CSS borders: https://github.com/servo/servo/blob/master/resources/servo.css

[2017-11-28 09:14] kingofoz commented on #19403
I see. Thank you.

[2017-11-28 09:14] #19403 closed

[2017-11-28 09:29] ocerman opened #19404 "Float + overflow:auto = messed up layout"
![float](https://user-images.githubusercontent.com/10187350/33312009-dd2dfe94-d426-11e7-9dd0-2496a9aafbdf.png)
[code]

[2017-11-28 09:38] ocerman opened #19405 ":before element with padding/margin is pushing text to new line"
It only happends when parent has property display set to **inline-block** and :before element has **padding-right or margin-right**.

![before](https://user-images.githubusercontent.com/10187350/33312384-0216a5de-d428-11e7-9de3-36ff7f9e9ea8.png)
[code]

[2017-11-28 10:39] emilio commented on #19401
That's the input `placeholder`.

[2017-11-28 11:17] #19177 closed

[2017-11-28 12:00] tigercosmos commented on #19401
Are there any code that dealing with color of placeholder?

[2017-11-28 12:04] sviter opened #19407 "Address bar is not updating"
Go to https://news.ycombinator.com/
Click any article link
Servo will load new site but in address bar you still will see news.ycombinator.com

[2017-11-28 12:17] sviter opened #19408 "assertion failed: self.reflow(ReflowGoal::NodeOverflowQuery(node), ReflowReason::Query)"
assertion failed: self.reflow(ReflowGoal::NodeOverflowQuery(node), ReflowReason::Query)
### URL:
http://www.economist.com/news/europe/21731656-can-dutch-still-trust-their-herring-tasters-netherlands-fishmongers-accuse-herring-tasters?fsrc=scn/tw/te/rfd/pe
### Servo Version:
Servo 0.0.1-8b6b2e9
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-28 12:24] #19375 closed

[2017-11-28 12:30] sviter commented on #19394
The same issue on http://www.business-review.eu/news/certain-facebook-users-in-romania-see-content-related-to-street-protests-reviewed-under-community-standards-153255

[2017-11-28 12:45] CYBAI opened #19409 "Move grid-template-areas outside of mako."
I'll take this as a sub-issue of #19015

[2017-11-28 13:58] jdm commented on #19401
The placeholder code works by providing layout with the placeholder text content when layout asks for it, then layout styles it like non-placeholder content:
* https://github.com/servo/servo/blob/3f0ccd0fef1ad108a22c731e399aa815d0af5441/components/script/dom/htmltextareaelement.rs#L67
* https://github.com/servo/servo/blob/976f9e3d13b6a7676dd863dd397dd6c60e868d58/components/script/dom/node.rs#L1142

[2017-11-28 16:34] olmanz commented on #19251
@jdm
I'm still struggling with that part:
`use run_with_memory_reporting in the network code to register a memory reporter for that thread`
I searched for other instances where run_with_memory_reporting is used, e.g. in components/script/script_thread.rs and components/layout_thread/lib.rs.
As I understand it, I have to call the function on profiler_chan in components/net/resource_thread.rs.
But I

[2017-11-28 17:45] jdm commented on #19251
The other parameters are:
* the closure that will be executed - this is just the code that already exists, but turned into a closure
* the reporter name - something like "network-cache-reporter"
* a channel that will be used by the profiler thread to communicate with this code - I recommend creating a new channel, making ResourceChannelManager::start listen to the receiver, and passing the sender

[2017-11-28 19:25] jdm commented on #19348
I cannot reproduce this in my Ubuntu VM; I continue to reproduce this on my macOS build.

[2017-11-29 02:38] KiChjang commented on #17584
@kafji Is this still being worked on?

[2017-11-29 02:39] highfive commented on #19183
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-11-29 02:40] KiChjang commented on #19183
Unassigning due to lack of response. This issue is now open for anyone to work on!

[2017-11-29 03:37] atouchet commented on #19348
I am able to load DuckDuckGo without it crashing in the latest nightly build using Windows 10.

[2017-11-29 03:38] atouchet commented on #19407
I am not able to reproduce this.

[2017-11-29 05:24] sviter commented on #18872
called `Option::unwrap()` on a `None` value
### URL:

### Servo Version:
Servo 0.0.1-077d747
### Backtrace:
[code]

[2017-11-29 05:37] tigercosmos opened #19416 "let `./mach test-tidy` auto fix code"
I have an idea.
When we run `./mach test-tidy`
It will tell us
[code]

We usually need to fix them by ourselves, and what if let it do automatically?

[2017-11-29 06:07] CYBAI commented on #19416
I'll expect we have this feature with a flag like `--fix`.

[2017-11-29 06:53] sviter commented on #19407
Yes. No such issue on latest build. But I can reproduce it on previous

[2017-11-29 07:44] SimonSapin commented on #19416
Let’s maybe use rustfmt instead of re-inventing it half of it with regexps and duct tape? (This goes for most existing tidy.)

[2017-11-29 08:31] tigercosmos commented on #19416
@SimonSapin But there are also HTML, Python or other type of files.

[2017-11-29 08:42] olmanz commented on #19183
@highfive: assign me

[2017-11-29 08:42] highfive commented on #19183
Hey @olmanz! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-29 10:08] SimonSapin commented on #19416
Sure, I’m not saying tidy should be removed entirely. Only that it should use rustfmt or clippy or other tools instead of attempting to parse (or worse, modify) Rust files itself. We already have a bunch of false positives and false negatives (for example in multi-line syntax constructs) because tidy tries to match some patterns without actually parsing a Rust AST.

[2017-11-29 10:12] Eijebong commented on #15724
bitflags 0.9.1 is gone 🎉
sfackler/rust-openssl#776 is the only blocker now

[2017-11-29 10:28] tigercosmos commented on #19416
Sorry for not clear, I mean we may need to use several tools. Yes, I agree with you. We can do something to improve on just small things, such as whitespace.

[2017-11-29 11:30] avadacatavra opened #19418 "Figure out why mp4parse-capi is failing"
#19413 fixes the problem but we should figure out why

[2017-11-29 11:34] nox commented on #19418
I made https://github.com/eqrion/cbindgen/pull/103 and filed https://github.com/eqrion/cbindgen/issues/102.

[2017-11-29 11:35] nox commented on #19418
The error we are talking about is:

[code]

[2017-11-29 11:46] tigercosmos opened #19420 "travis build error: `mp4parse_capi v0.9.1` build failed"
I notice that today's many PRs on travis encounter the error:
[code]

[2017-11-29 11:47] avadacatavra commented on #19420
Thanks for filing this @tigercosmos! We have a pending fix (https://github.com/servo/servo/pull/19413) and open issue to figure out why this is happening (https://github.com/servo/servo/issues/19418)

[2017-11-29 11:47] #19420 closed

[2017-11-29 11:48] sviter opened #19421 "No background image on http://bholley.net/"
Go to http://bholley.net/
No background image visible.
You can see background image in Firefox

[2017-11-29 12:52] tigercosmos commented on #19421
Might related to this?
[code]

[2017-11-29 14:05] kafji commented on #17584
No

On Wed, 29 Nov 2017, 09:38 Keith Yeung, <notifications@github.com> wrote:

[2017-11-29 15:19] jdm opened #19422 "style/gfx/metrics/script crates serialize build"
script depends on metrics, and metrics depends on gfx, and gfx depends on style (script also depends on style). If we move the bits of style that gfx depends upon into style_traits, and possibly the bits of gfx that metrics depends upon into gfx_traits, this should allow more crates to build in parallel.

[2017-11-29 17:53] tigercosmos commented on #9616
@wafflespeanut How do you think if we work at a `tmp` folder then `mv` to `servo` and delete `tmp` in "space path case". This can solve this issue in another way.

[2017-11-29 18:21] srinivasreddy commented on #19407
No such issue. My firefox version is 58.0b4 (64-bit)

[2017-11-29 18:34] jdm commented on #19407
@srinivasreddy This is specific to Servo; it is unrelated to Firefox.

[2017-11-29 22:37] #19409 closed

[2017-11-29 22:45] ocerman opened #19427 "Space between elements is not correct when parent element with padding/border has child element with margin"
![marg](https://user-images.githubusercontent.com/10187350/33403099-4eb25216-d55f-11e7-8328-dfb83ad5d794.png)
[code]

[2017-11-30 00:40] niravjain commented on #18528
We're on it @jdm . Meanwhile, for vCard we have a small doubt. What will be the expected vCard output for the following?
HTML:
` <h1 itemprop="fn">
  <span itemprop="n" itemscope>
   <span itemprop="given-name">Jack</span>
   <span itemprop="family-name">Bauer</span>
  </span>`

As per our understanding of the vCard algorithm on WHATWG HTML spec, it should be:
`BEGIN:VCARD
PROFILE:VCARD
VERSION:4.

[2017-11-30 01:13] jdm commented on #18528
I would stick with the algorithm in the specification for now.

[2017-11-30 01:17] jdm commented on #18528
Actually, the specification appears to agree with the online examples: for the h1 element with the `fn` property, the property's value is derived from the "otherwise" branch of [this step](https://html.spec.whatwg.org/multipage/microdata.html#concept-property-value). That should end up with "Jack Bauer", if I understand correctly.

[2017-11-30 01:36] CYBAI opened #19428 "Improve GridTemplateAreas with reference counting"
As @emilio mentioned in [the first review](https://github.com/servo/servo/pull/19412#pullrequestreview-79757799) in #19412 , we can try to improve it with refcount.

It was

[code]

and it can be improved as

[code]

[2017-11-30 08:32] sviter opened #19430 ""Unstyled layout node?" panic in overflow query"
called `Result::unwrap()` on an `Err` value: "SendError(..)"
### URL:
https://www.space.com/38912-pulsar-discovery-by-jocelyn-bell.html

### Servo Version:
Servo 0.0.1-fa3f389
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-11-30 13:36] nox opened #19435 "Intermittent crash in /css/css-transforms/transform-rounding-001.html"
[code]

[2017-11-30 13:51] CYBAI commented on #19428
@highfive assign me

[2017-11-30 13:51] highfive commented on #19428
Hey @CYBAI! Thanks for your interest in working on this issue. It's now assigned to you!

[2017-11-30 15:06] jdm commented on #19435
This is #13480.

[2017-11-30 15:06] #19435 closed

[2017-11-30 15:25] matthiaskrgr commented on #19286
I managed to get around the task_info failure like this
[code]
however there still were other crates not building

[2017-11-30 15:27] sviter commented on #18824
I don't see any crash with latest nightly on Win10

[2017-11-30 15:28] emilio commented on #19286
That doesn't really make sense, it seems your cargo is trying to build with a "macos" target, otherwise that patch wouldn't have made a difference.

[2017-11-30 15:28] emilio commented on #19286
Which also explains why is it failing to include mach headers, which are OSX only.

[2017-11-30 15:31] matthiaskrgr commented on #19286
Yes, it seems it detects as macos in that case. I adding some other dependency for macos to some different crate and built that for testing, however the dependency was not pulled in then, so I have no idea what is going on with servo here. :/

[2017-11-30 16:37] SimonSapin opened #19439 "HTTP client not closing TCP connections?"
Steps to reproduce:

* Revert #19437: in `make_server` in `tests/unit/net/lib.rs`, set the number of threads in `.handle_threads(handler, 2)` back to 1 instead of 2.
* Run `./mach test-unit -p net test_redirect_from_x_to_y_provides_y_cookies_from_y`
* Observe that this test takes over 5 seconds to run, whereas other tests in the same module finish much more quickly (Run `RUST_TEST_THREADS=1 ./mach

[2017-11-30 16:39] jdm commented on #19439
Yeah, we have a connection pool to reuse connections for the same hostname.

[2017-11-30 16:43] SimonSapin commented on #19439
Does it need to be same hostname rather than same IP address? At least for HTTP where there’s no certificate whose verification is hostname-specific.

[2017-11-30 16:47] jdm commented on #19439
That is a function of hyper's connection pool: https://github.com/hyperium/hyper/blob/0.10.x/src/client/pool.rs#L57

[2017-11-30 16:49] SimonSapin commented on #19439
Alright. So should we close this as not-a-bug?

[2017-11-30 16:58] tigercosmos commented on #19280
https://github.com/servo/servo/blob/fe4139b779b3af749ec1426ddf4e1393c7b85442/components/layout/query.rs#L874-L886

[2017-11-30 18:16] jdm commented on #19439
I guess so!

[2017-11-30 18:16] #19439 closed

[2017-11-30 20:56] olmanz commented on #19183
I already moved some stuff outside of Mako, as you can see in this commit on my fork:
https://github.com/olmanz/servo/commit/6f0e69fdf6aa56b44229ebd9d9a729a5d1e6bf5e

However, I currently get this message when I build servo with `./mach build --dev`:

[code]

I found out that the file /target/debug/build/style-fe2cedc35103ef47/out/properties.rs is created by components/style/properties/build.py, b

[2017-11-30 23:23] KiChjang commented on #16736
I believe we should instead look into implementing https://www.w3.org/TR/css-tables-3/#border-collapsing to fix this issue.

[2017-12-01 04:10] CYBAI commented on #19183
I think the root cause is the `parse` method duplicated between `define_css_keyword_enum` macro and `add_impls_for_keyword_enum` macro.

The `define_css_keyword_enum` is defined under `style_traits/values.rs` and it will `impl` your enum with a `parse` method with only *one* argument.
https://github.com/servo/servo/blob/b7bb6ffbb85aed4e94f36a71fac112ae64d46911/components/style_traits/values.rs#L38

[2017-12-01 06:05] atouchet commented on #19348
@jdm are you still able to reproduce this? I haven't run into this crash in the last couple of days.

[2017-12-01 06:37] jdm commented on #19348
I've been investigating using a build from 6d49ec83a15f440f85cb9a045eaf104f30bd3053, which still reproduces it consistently. I haven't tried anything more recent yet, but I can continue to reproduce with this minimized version of gecko-media: https://github.com/jdm/fake-gecko-media

[code]

[2017-12-01 06:49] jdm commented on #19348
I just checked and I can still reproduce this problem on master.

[2017-12-01 10:15] sviter opened #19444 "High CPU and GPU usage on http://journals.plos.org/plosone/"
Load any article (http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181301 for example).
You can see that after loading CPU and GPU is still very busy (~70 % of CPU and 50 % GPU for me on Win10).

[2017-12-01 10:19] sviter commented on #18263
Opened new issue for performance #19444

[2017-12-01 10:19] #18263 closed

[2017-12-01 10:25] sviter commented on #19215
assertion failed: self.reflow(ReflowGoal::NodeOverflowQuery(node), ReflowReason::Query)
### URL:

### Servo Version:
Servo 0.0.1-b7bb6ff
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-01 10:31] sviter opened #19445 "ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug."
ScriptThread: received a resize msg for a pipeline not in this script thread. This is a bug.
### URL:
http://www.business-review.eu/news/certain-facebook-users-in-romania-see-content-related-to-street-protests-reviewed-under-community-standards-153255
### Servo Version:
Servo 0.0.1-b7bb6ff
### Backtrace:
[code]
This report was generated by the browser.html issue reporter.

[2017-12-01 10:31] #19394 closed

[2017-12-01 10:32] #19407 closed

[2017-12-01 10:53] olmanz commented on #19183
Thanks, that worked!

[2017-12-01 16:14] tigercosmos commented on #19422
The one need to move it one by one or finish it in one time?

[2017-12-01 16:46] jdm commented on #19348
jrmuizel connected the missing pieces for me - mozjs and gecko-media both include vendored copies of mfbt (which is a header-only library), and this violates the [one definition rule](https://en.wikipedia.org/wiki/One_Definition_Rule). Rust avoids this problem through including hashes in the symbol names, which allows projects to include multiple versions of the same library without encountering c

[2017-12-01 16:50] jdm commented on #19422
Moving one by one shouldn't hurt anything.

[2017-12-01 16:52] tigercosmos commented on #19422
OK! I will work on this.

[2017-12-01 17:06] olmanz commented on #19183
Pull Request is out.
https://github.com/servo/servo/pull/19448

[2017-12-01 18:58] #18930 closed

[2017-12-01 20:30] jdm commented on #14774
This appeared again in an totally unrelated PR. This is quite mysterious.

[2017-12-02 02:07] gterzian opened #19459 "Implement Public Key Pinning Extension for HTTP"
Would it be useful at this stage to try to implement this? It seems a Web-Platform-Tests suite is absent as well...

spec: https://tools.ietf.org/html/rfc7469

[2017-12-02 03:56] jdm commented on #19459
Chrome is removing it, so it's probably not a good idea for Servo at this point: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/he9tr7p3rZ8

[2017-12-02 04:05] gterzian commented on #19459
Ok, thanks for the info.

[2017-12-02 05:14] tigercosmos commented on #19422
@jdm if some codes in `style` that `gfx` depends is also used by other crate(i.g. `layout`), shall I move it? Or just move codes only depended by `gfx`?

[2017-12-02 05:20] tigercosmos commented on #19422
ummm... I think they should all be moved, otherwise `gfx` still need to wait for `style`

[2017-12-02 05:51] jdm commented on #19422
Exactly. If it's moved from gfx to gfx_traits, the other crates that depend on the move items should be updated to use gfx_traits.

[2017-12-02 07:21] tigercosmos commented on #19422
This issue is much harder than I though before. Actually almost everything depend on each other.

For example, If I want to move `gfx::display_list`, which is used by `metrics` and also the only one `gfx` dependency in `metrics`, since `gfx::display_list` use `gfx::text`, I will also need to move `gfx::text`, and `gfx::text` use lot of `gfx` things, which mean if I want to move `display_list`, I w

[2017-12-02 07:47] jdm commented on #19422
Try creating a trait that can replace https://dxr.mozilla.org/servo/source/components/metrics/lib.rs#306-315. That trait can live in gfx_traits, and the implementation in gfx.

[2017-12-02 08:49] Mrowqa commented on #14987
@jdm Is that all or do we want something more? And thank you for the help :)

[2017-12-02 09:00] jdm commented on #14987
Good enough for now!

[2017-12-02 09:00] #14987 closed

[2017-12-02 09:09] romulasry opened #19460 "Bad CSS? Render on Phoronix Forums on latest Firefox Nightly"
https://www.phoronix.com/forums/forum/phoronix/latest-phoronix-articles/992802-amd-publishes-more-dc-patches-disables-freesync-by-default

See Page 1 of 2 Filter at the top right of the image.

![image](https://user-images.githubusercontent.com/19944656/33513703-1ce5a8b0-d6fd-11e7-84a1-d20171d88f8e.png)

[2017-12-02 13:08] jdm commented on #19460
Please bugs in Firefox at https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=CSS%20Parsing%20and%20Computation. However, this looks the same in Chrome as far as I can tell, which makes it look like an intentional choice by the site authors.

[2017-12-02 13:08] #19460 closed

[2017-12-02 16:46] tigercosmos commented on #19422
I don't understand. If we move that code to `gfx_traits`.
The relationship would be `metrics` -> `gfx_traits` -> `gfx`.
Do I misunderstand?

[2017-12-02 17:05] tigercosmos commented on #19422
I don't understand. If we move that code to `gfx_traits`.
The relationship would be `metrics` -> `gfx_traits` -> `gfx`.
I thought crate_traits will be independent with crate. Do I misunderstand?

[2017-12-02 18:22] jdm commented on #19422
No, because metrics would depend on gfx_traits, and gfx would depend on gfx_traits.

[2017-12-02 18:26] tigercosmos commented on #19422
That code use `display_list`. But `display_list` is under `gfx`? If we move that code to traits, it still need to call `gfx`?

[2017-12-02 21:04] tigercosmos opened #19466 "margin will not be hidden when overflow is hidden or scroll"
margin will not be hide when overflow is hidden or scroll

[code]

Firefox:
<img width="181" alt="2017-12-03 5 01 44" src="https://user-images.githubusercontent.com/18013815/33519707-4e627ac2-d7e7-11e7-948f-4ba7602c0a99.png">

Servo:
<img width="176" alt="2017-12-03 5 01 29" src="https://user-images.githubusercontent.com/18013815/33519708-531a0d64-d7e7-11e7-93cf-1cdc26c0372d.png">

related to #192

[2017-12-02 21:13] NiLSPACE commented on #18106
I don't get these visual glitches anymore, so I'll close this issue.

[2017-12-02 21:13] #18106 closed

[2017-12-02 23:04] jdm commented on #19422
The code in metrics is calculating a boolean value using the display list types from gfx. The types do not need to move - we can create a trait in gfx_traits that encapsulates the calculation in a method, and implement the trait on the types in gfx. The code in metrics only needs to refer to the trait.

[2017-12-03 03:27] CYBAI opened #19467 "Move mask-size outside of mako."
I'll take this one as a sub-issue of #19015